[2016-08-24 05:13] apobbati commented on #11935
@pbitty Have you made any progress on this issue? I'd like to help anyway i can.

[2016-08-24 05:22] rochacon opened #31329 "Kubelet does not crash when unable to discover the node name from cloud provider"
**Kubernetes version**: `v1.3.5`

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`):

[code]
- **Install tools**: Terraform, proprietary scripts based on [coreos-kubernetes](https://github.com/coreos/coreos-kubernetes)

**What happened**:

Kubelet did not started the controller pod manifests (apiserver,

[2016-08-24 05:33] philk commented on #11935
#1377 might be what you're looking for

On Tue, Aug 23, 2016 at 10:14 PM Abhinav Pobbati <notifications@github.com>
wrote:

[2016-08-24 05:45] surajssd commented on #30908
@thockin sure

[2016-08-24 05:49] luxas commented on #26093
No, it isn't pointless. At least for me, every MB counts when dealing with the `hyperkube` image, and the less packages we have to install, the better.

I guess you mean my PRs for ethtool and brctl.
I understand your worry, but I don't think it's that bad:
 - brctl can be replaced with `vishvananda/netlink`, which I think is a pretty well-tested package
   - `exec.Command("brctl", "addbr", "cbr0"

[2016-08-24 05:49] bprashanth commented on #29885
Yeah it appears to be fixed, thanks for checking

[2016-08-24 05:49] #29885 closed

[2016-08-24 06:10] thockin commented on #21317
Merged in 1.4!

[2016-08-24 06:10] #21317 closed

[2016-08-24 06:11] bgrant0607 commented on #30272
@rustyrobot However, when Kubelet is not reporting status, it is not possible to determine Pod readiness nor Pod termination.

[2016-08-24 06:19] thockin commented on #6461
This fell off everyone's plate.  Maybe it's something we can spec for
community cleanups in 1.5?  If we spec it and do some examples I have faith
that more will get done...

On Tue, May 10, 2016 at 9:55 AM, Tim Hockin <thockin@google.com> wrote:

[2016-08-24 06:23] wojtek-t commented on #27822
@ixdy - that would be great.
Also - it would be great if we can file those as separate issues, not really related to a specific suites (probably one for gce, one for gke).

[2016-08-24 06:37] sekka1 commented on #28643
Same here, just ran into this issue.  Any updates on this?
[code]

[2016-08-24 06:45] errordeveloper commented on #26093
Personally, I agree with Lucas, the netlink stuff  is rather reasonable
bring in.

On Wed, 24 Aug 2016, 06:49 Lucas Käldström, <notifications@github.com>
wrote:

[2016-08-24 06:50] justinsb commented on #28643
Fix was in 1.3.4.

Also @massimiliano-mantione this is AWS only - wouldn't affect GCE unless you're doing something really odd!

I suggest opening separate issues if you are seeing this on 1.3.4 or 1.3.5

[2016-08-24 07:00] #26853 closed

[2016-08-24 07:20] #24375 closed

[2016-08-24 07:23] tatsuhiro-t commented on #30213
Any news for this issue?

[2016-08-24 07:38] #7483 closed

[2016-08-24 07:42] erictune commented on #30603
You don't need to pull the image.  You just need to check the image's manifest.  You can get just the manifest from the [Docker Registry API](https://docs.docker.com/registry/spec/api/), using the image name and tag, and the manifest includes the SHA.   This works well if you can treat tags as immutable.

[2016-08-24 07:49] Random-Liu commented on #31296
It is caused by VM leak.
The VMs are leaked by `kubelet-serial-gce-e2e-ci`. The reason is that the test is aborted because of 90 minutes timeout. And the instances were left there.
[code]
And the instance is left there:
[code]

[2016-08-24 07:51] hatchan commented on #31304
@erictune We would be very interested. Currently fetching dependencies, and compiling takes quite some time. Let us know when we can start testing.

[2016-08-24 07:55] m1093782566 opened #31331 "[Proposal] cross-build binaries under directory test/images"
Cross-build binaries under directory `test/images`,
https://github.com/kubernetes/kubernetes/tree/master/test/images

TODO LIST:
- [ ] clusterapi-tester
- [ ] dnsutils
- [ ] entrypoint-tester
- [ ] fakegitserver
- [ ] goproxy
- [ ] hostexec
- [ ] iperf
- [ ] jessie-dnsutils
- [ ] mount-tester
- [ ] mount-tester-user
- [ ] n-way-http
- [ ] netexec
- [ ] network-tester
- [ ] pets
- [ ] port-forward-

[2016-08-24 07:57] Random-Liu commented on #31296
We should:
* Make run_e2e.go be able to handle abort.
* Extend the jenkins timeout for serial test.

[2016-08-24 07:58] alon-argus opened #31332 "AWS EBS/Storage Gateway volume new longer ID format"
Hey, this is neither a bug report nor a feature request.

I just want to make sure Kubernetes is immune to AWS transition to the new longer ID format.

Please close this issue if you find this already handled or irrelevant.

Thanks guys!

From AWS Notifications:

AWS is transitioning EBS/Storage Gateway volume and snapshot IDs to a longer format. The old format is a resource identifier followed by

[2016-08-24 08:06] wojtek-t commented on #31262
This is definitely related to this PR:
https://github.com/kubernetes/kubernetes/pull/30890

that switched unit tests to use v3 API of etcd.

@hongchaodeng @xiang90 @timothysc - seems like a blocker.

@lavalamp - FYI

[2016-08-24 08:06] wojtek-t commented on #31300
This is definitely related to this PR:
#30890

that switched unit tests to use v3 API of etcd.

@hongchaodeng @xiang90 @timothysc - seems like a blocker.

@lavalamp - FYI

[2016-08-24 08:32] mikberg commented on #23535
@imkira That helped for me. But see this as anecdotal evidence..

[2016-08-24 09:02] wernight commented on #19899
I hope it'll be available in the **Nginx Ingress Controller**. My understanding is that no matter the solution, the Ingress Controller should refresh its TLS sometimes.

[2016-08-24 09:28] #10217 closed

[2016-08-24 09:29] wojtek-t commented on #26687
This is no longer happening - closing this issue.

[2016-08-24 09:29] #26687 closed

[2016-08-24 09:30] AdoHe commented on #31319
@kubernetes/deployment @kubernetes/kubectl

[2016-08-24 09:37] zouyee commented on #5640
@jnardiello hi！ Are you willing to share your experience using k8s with prom

[2016-08-24 09:45] wojtek-t commented on #31215
The latest build 83 is green again.

Yes - those are flakes - not something completely broken.

Could it be an incomplete cluster setup caused by temporary network issues? Just throwing out some ideas.

The cluster itself was healthy. But it's possible that something was broken with this particular node (1999/2000 seemed to work fine in both cases).
However, if it was the case, we should detect it

[2016-08-24 09:46] Mamut3D opened #31336 "Openstack Heat deployment dashboard not working"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug

**Kubernetes version** (use `kubectl version`): 1.3.5 and 1.3.3

**Environment**:
- *_Openstack liberty *_:
- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core) - x86_64-GenericCloud-1605 image
- **Kernel** (e.g. `uname -a`): 3.10.0-327.18.2.el7.x86_64
- **Install tools**: openstack-heat
- **Others**:

**What happened**:
I was

[2016-08-24 09:49] #23259 closed

[2016-08-24 09:53] kargakis commented on #31319
https://github.com/kubernetes/kubernetes/pull/19343 will help in identifying failed deployments. `rollout status` will be repurposed to respect failures.

[2016-08-24 10:06] cheld opened #31337 "Public domain names cannot be resolved if host uses DHCP"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`): v1.3.5

**Environment**:
Hyperkube with default settings: https://github.com/kubernetes/kube-deploy/tree/master/docker-multinode
Host: Ubuntu 15

**What happened**:
[code]

fails, but
[code]
works.

**Anything else do we need to know**:
I investigated a bit. The following steps describe what happens:

1. Name look-ups are forwarded to

[2016-08-24 10:14] lixiaobing10051267 opened #31338 "can someone help solve this probelm: git commit err: Error in /hack/lib/etcd.sh:35"
root@ubuntu:/home/zte/share/k8s-clone2/src/k8s.io/kubernetes# git commit
Checking that it builds... OK
...
Checking for swagger spec that need updating... !!! Error in /home/zte/share/k8s-clone2/src/k8s.io/kubernetes/hack/lib/etcd.sh:35
'version=$(etcd --version | head -n 1 | cut -d " " -f 3)' exited with status 141
Call stack:
1: /home/zte/share/k8s-clone2/src/k8s.io/kubernetes/hack/lib/etcd.sh:3

[2016-08-24 10:16] bryk commented on #7311
@AdoHe I'd still prefer calling kubectl Go code as a library directly from Dashboard UI backend. Think about error handling, concurrency, parsing, client request pool initialization, etc. It is just easier and more maintainable when you do this in the code.

[2016-08-24 10:19] dims commented on #31338
@lixiaobing10051267 isn't this a duplicate of https://github.com/kubernetes/kubernetes/issues/31232 ?

[2016-08-24 10:26] wojtek-t commented on #20504
OK - I think that the PR that is adding support for TTL migration: #31242 is ready for final review.

[2016-08-24 10:39] jellonek commented on #31232
Looks like mess in `$PATH` in time of line 35 execution in `hack/lib/etcd.sh`.
Could you add before this line:
[code]
and provide output generated by `git commit` again?

[2016-08-24 10:50] elcct commented on #29330
I have the same issue.
I am running Kubernetes 1.3.5 with Etcd 2.3.7 on Ubuntu 16.04.

[code]

[code]

[code]

My etcd part of apiserver configuration is the same is in the post above:

[code]

What to do?

[2016-08-24 12:28] k8s-merge-robot opened #31341 "[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2004/

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27115 #28070 #30747

[2016-08-24 12:38] #31277 closed

[2016-08-24 12:55] resouer commented on #27980
cc @resouer Just tracking status of this.

[2016-08-24 13:02] krancour opened #31343 "Proposal: better output when getting 3prs"
Using k8s 1.3.5, and given the existence of a third party resource `foo`, querying for all resources of type `foo` in a namespace `bar` produces the following output:

[code]

Contrast this to the output received when querying for any built-in resource type-- `pods`, for instance:

[code]

The latter case provides useful, contextually rich information about our pods, while the former case tells us

[2016-08-24 13:08] krancour opened #31344 "Bug: Namespaces not shown when querying 3prs across all namespaces"
Using k8s 1.3.5, and given the existence of a third party resource `foo`, querying for all resources of type `foo` in _all namespaces_ produces the following output:

[code]

Note that four column headings are shown, but data is shown for only three columns. Namespaces are not displayed at all.

[2016-08-24 13:18] wojtek-t opened #31345 "Using wait.Until doesn't work for long durations"
Density test is failing without GC on large clusters with the following error:

[code]

However, this "working as implemented" currently.

The problem is that in this case, underneath we are using "DeleteRCAndPods" method to delete RC, and this in turn is using "ReplicationControllerReaper", which results in calling this one:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/scale.g

[2016-08-24 13:23] wojtek-t commented on #31345
@caesarxuchao

[2016-08-24 13:25] pmorie commented on #31272
@saad-ali in this case I feel like (3) is still an issue, even though with the attach / detach refactor, theoretically, `IsLikelyNotMountPoint` **should** never be called when a mountpoint already exists.  In the case of NFS it is entirely possible to block forever and not even the insanely high tcp timeout will save you... because the NFS protocol uses udp by default.  So, I'd like to be safe.  S

[2016-08-24 13:25] timothysc commented on #31262
FWIW I ran unit-tests locally tens of times without failure.

I wonder if it's similar to the resource issue we found a while ago on our jenkins env /cc @ixdy

[2016-08-24 13:27] ncdc commented on #31262
I also left this running in a loop for somewhere between 30 and 60 minutes and it never failed.

[2016-08-24 13:47] wojtek-t commented on #31262
I think that what @ncdc wrote above:

 It appears that TestWatch tries to connect to the sockets for the etcd nodes created in the other tests in this file.

seems very suspicious.

[2016-08-24 13:50] ncdc commented on #31262
@wojtek-t yes, and that part easily reproduces locally every time I run the entire suite of tests for the package. But I'm not sure it's necessarily the culprit, given that it does happen locally and my tests succeed.

[2016-08-24 14:03] timothysc commented on #31262
@hongchaodeng @xiang90 Is there some grpc client cache?

We're terminating the servers properly but letting the client cleanup on their own.  Every test initializes from scratch.

[2016-08-24 14:08] k8s-merge-robot opened #31347 "[k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2072/

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}

[code]

Previous issues for this test: #31277

[2016-08-24 14:10] wojtek-t commented on #31262
IIUC, all clients are terminated properly in the server "Terminate()" methods:
https://github.com/coreos/etcd/blob/146bce337704334bab91bbf12d7b96e7889ca5a5/integration/cluster.go#L858

[2016-08-24 14:11] huang195 commented on #31143
@coufon a couple of questions:
1. what pods are you using that they take 60-110s to create and start up?
2. are you using a tool to collect the latency data and plot them or is that from some kind of dashboard?

[2016-08-24 14:15] timothysc commented on #31262
Yeah I saw that too, but some state is maintained, or not cleaned up, in order for grpc to even know the previous data.

[2016-08-24 14:19] luxas opened #31348 "Bump cni version"
We should update cni binaries to containernetworking/cni@9d5e6e60e79491207834ae8439e80c943db65a69, and release binaries for all arches.

I do not have push access to the repo, so I guess some googler have to do it.
@freehan @kubernetes/sig-network

[2016-08-24 14:21] sstarcher commented on #30243
This is a much needed feature for us as we have several things we would like to run via the Jobs structure, but we cannot as they would get restarted on failure which is not desirable in a few situations for us.

[2016-08-24 14:27] itajaja commented on #31319
Thanks @kargakis. Will I see that on the replica set as well? When I do `describe rs X` I see

[code]

Ideally, that count should reflect that the probes are not passing. Yes, the pod is "Running", but it was never ready. Wouldn't make sense to convey the prob information there?

[2016-08-24 14:43] bgrant0607 commented on #30272
@rustyrobot The Galera use case is exactly what forgiveness #1574 is intended to solve.

[2016-08-24 14:48] k8s-merge-robot opened #31350 "[k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13996/

Failed: [k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #30342

[2016-08-24 14:58] timothysc commented on #31262
In debugging, it's definitely passing in the correct endpoint to connect to, but deep in client create it's walking through the legacy transports.

[2016-08-24 15:04] caiwenhao opened #31351 "kubelet can't change /etc/resolv.conf"
Hi all!
I've install kube-dns:v19, when I create new container , /etc/resolv.conf  have not been altered.

[code]

[code]

[code]

[code]

[code]

[code]

When I create a new container, the /etc/resolv.conf   Does not contain "nameserver 192.168.2.2"

[code]

[code]

[2016-08-24 15:06] bgrant0607 commented on #29679
@pwittrock @smarterclayton In addition to subcommands symmetric with `set`, which a user might expect to exist, I would like to add a few high-value status fields, also. Fields that commonly occur in our scripts (search for go-template and jsonpath). Node, service, and pod internal/external IP addresses come to mind.

[2016-08-24 15:14] timothysc commented on #31262
So here are is my current theory:

- grpc maintains some localized cache of it's last connections.
- test is doing the right thing and passing in the correct endpoint to connect to
- when the new client is created is triggers a threshold for cache cleaning
- cache cleaning has a timeout
- test recovers and executes fine on an unloaded system, fails on loaded gce.e2e environments and times out due

[2016-08-24 15:15] ncdc commented on #31262
I'll note that I tried running `stress -c 8` at the same time as I ran the test in the loop and it still succeeded. But I do agree it's probably/hopefully a load issue.

[2016-08-24 15:24] kargakis commented on #31319
@itajaja if you do `get rs X` on latest master you should be able to see your ready pods. I need to update `describe` with that info too.

[2016-08-24 15:26] itajaja commented on #31319
great! I am not on master, I'll wait for a release :) 1.4 will have it?

[2016-08-24 15:28] kargakis commented on #31319
Yes
https://github.com/kubernetes/kubernetes/pull/29481
https://github.com/kubernetes/kubernetes/pull/30858

[2016-08-24 15:30] itajaja commented on #31319
Thanks, feel free to close this if you think it's duplicate/not relevant 👍

[2016-08-24 15:30] kargakis commented on #31319
No, let's keep it open for tracking the cli work for perm-failed deployments.

[2016-08-24 15:53] timothysc commented on #31262
So the newly created storage + v3-client-connection never exlpicitly "Close"s once they are out of scope and marked for GC.  The test server closes it's connections, but we never explicitly close the storage v3 client.  We just let GC do it's thing.

Is there a handy functor in golang to call once an object has been marked for gc?  This would be easy with reference counted objects...

defer isn't

[2016-08-24 15:58] timothysc commented on #31262
So in summary:  From what I can infer, this isn't actually a bug in the code.  It appears to be a timing artifact in the tests.  Under non-loaded test env's the code does the right thing and cleans up and recovers old client connections.  We could make the cleanup more explicit, but I don't think that is the root source of the flake itself.

/cc @kubernetes/sig-testing @k8s-oncall

[2016-08-24 16:03] kb1ca commented on #31310
Further to this issue; kubernetes-console, where the kube-up.sh script is being executed, is a freshly installed Debian 8 jessie machine deployed from a netinst iso. All Debian packages are fully up to date.

[2016-08-24 16:13] mikedanese commented on #31296
The emergency timeout increase SGTM but we should cleanup old test runs at the beginning of the test and revert the timeout increase. This test is failing again.

[2016-08-24 16:23] #31296 closed

[2016-08-24 16:24] Random-Liu commented on #31296
@mikedanese The timeout increase is necessary, the test takes quite a lot of time.

[2016-08-24 16:25] mikedanese commented on #31296
Ok, I restarted the test, merged the timeout increase, and cleaned up the all vms.

[2016-08-24 16:26] mikedanese commented on #31296
Yes but maybe not a 90 -> 600 minute timeout increase :)

Can we also clean the vms up at the beginning of test runs like we do in other e2es?

[2016-08-24 16:33] dchen1107 commented on #31296
@mikedanese yes, node-e2e should do that, but that is not how it currently designed & implemented. Some of tests are recreating the node, others are just re-using the existing one. We should fix this.

[2016-08-24 16:34] Random-Liu commented on #31296
@mikedanese We already have periodically cleanup https://github.com/kubernetes/test-infra/pull/52, but the VMs are leaking too quickly this time... :( Let's see whether we can find some way to do some cleanup at the beginning of the test. :)

A lot of test suites are using the `jenkins-timeout` (600 minute) https://github.com/kubernetes/test-infra/blob/9a90753030eb511b1c5bd29c6c4b74952b914f7b/jenk

[2016-08-24 16:39] eparis commented on #27454
This should move to pflag, since that's where we'll need a fix. StringSlice and IntSlice act exactly the same and that is a good thing. If there was a mistake it was adding the `--flag=... --flag=...` support to `*Slice` at all.

At first I liked the idea of making it be a CSV parser if there was a single `--flag=...` and a non-parser if `--flag=... --flag=...` but that seems too inconsistent and

[2016-08-24 16:40] timothysc commented on #31262
Even if I set a ```runtime.SetFinalizer``` deep in storage to close the client there, it will only get triggered on GC.

[2016-08-24 17:05] bprashanth commented on #19899
@wernight I *believe* this already works with kube-lego, all that remains is clear documentation on the ingress docs on how to acquire and renew certs cross platform, and some form of e2e testing

[2016-08-24 17:11] janetkuo commented on #30542
I sent a fix #30542

[2016-08-24 17:12] aledbf commented on #19899
Already present:
-  kube-lego provides the Let’s Encrypt integration (nothing to be done by the controller)
- if the a TLS secret is updated, the ingress controller will update the certificate and reload
(this should not take more than 5 seconds after the secret update)

[2016-08-24 17:18] MDrollette commented on #19899
The docs for using kube-lego with the nginx ingress controller can be found here https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#automated-certificate-management-with-kube-lego

[2016-08-24 17:22] yujuhong commented on #31215
Hm..yes, but some files were not copied properly to the node by salt.

Not disagreeing with that, but kubelet has no knowledge of how the cluster should be set up. I think the cluster setup script/tool should detect such cases and declare failure.

[2016-08-24 17:25] caiwenhao commented on #31351
I find this
https://github.com/kubernetes/kubernetes/issues/27722

/opt/kubernetes/cfg/kubelet
[code]
/usr/lib/systemd/system/kubelet.service
[code]

[code]

[2016-08-24 17:34] thockin opened #31355 "TODO: build and push kube-dns for 1.4 release"
Now that #31159 merged, we need to build a new kube-dns release.

[2016-08-24 17:35] Random-Liu commented on #31327
The test failed because exceeding timeout:
[code]
The default timeout is 45min (2700s), the pr builder usually only takes 550s

[2016-08-24 17:38] girishkalele commented on #31355
I just put in a PR yesterday to fix the missing changelog entry for kube-dns:1.6

https://github.com/kubernetes/kubernetes/pull/31313

[2016-08-24 17:38] caesarxuchao commented on #31183
Looks like the server has failed. I'll close it if it's rare.

[2016-08-24 17:44] pwittrock commented on #28774
Test failures appear to be infrastructure related.  See the error messages:

Unable to connect to the server: net/http: TLS handshake timeout

error: google: could not find default credentials. See https://developers.google.com/accounts/docs/application-default-credentials for more information.

[2016-08-24 17:44] #28774 closed

[2016-08-24 17:45] Random-Liu commented on #31327
The pr node e2e is running with #30090, and I saw the same symptom on the failed node:
[code]
So, I think that is the cause of the test timeout.

[2016-08-24 17:48] Random-Liu commented on #31327
Close this one, since this should have been fixed in https://github.com/kubernetes/kubernetes/pull/31352.

[2016-08-24 17:48] #31327 closed

[2016-08-24 17:51] pwittrock commented on #28737
Infrastructure related and appears to be closed.  See #28608

error: google: could not find default credentials. See https://developers.google.com/accounts/docs/application-default-credentials for more information.

[2016-08-24 17:51] #28737 closed

[2016-08-24 18:04] wojtek-t commented on #31215
Not disagreeing with that, but kubelet has no knowledge of how the cluster should be set up. I think the cluster setup script/tool should detect such cases and declare failure.

Sure - that would be good enough. The problem is that personally I don't know what wasn't copied/installed/what happened in order to make this happen. So if anyone can debug it, it would be great.

[2016-08-24 18:21] lavalamp commented on #31262
Why can't tests that create these things also call a Close method?

[2016-08-24 18:23] timothysc commented on #31262
We'd have to plumb through a Close() option to the storage layer.

[2016-08-24 18:26] wojtek-t commented on #31262
We'd have to plumb through a Close() option to the storage layer.

If that's the only option we have, we should do it (we can't leave tests flaking so frequently - I think it happened 10+ times on the PRs today).

[2016-08-24 18:26] lavalamp commented on #31262
I think we have to do that. Stuff needs to Close() cleanly so it can be
tested. If it's hard, then we need to revert the change that switched this
over while we do this.

On Wed, Aug 24, 2016 at 11:24 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2016-08-24 18:27] yujuhong commented on #30550
This is still happening. Could we skip the test until we can properly fix it? @vishh @dchen1107

[2016-08-24 18:28] timothysc commented on #31262
I'm ok with the revert, and fix but I can't get get to it today, would have to be tomorrow.

[2016-08-24 18:29] wojtek-t commented on #31262
I think we have to do that. Stuff needs to Close() cleanly so it can be
tested. If it's hard, then we need to revert the change that switched this
over while we do this.

+1

[2016-08-24 18:29] ConnorDoyle commented on #28316
@therc, an API for app metrics would be nice to have but not sure it needs to block this.

[2016-08-24 18:33] MHBauer commented on #30600
@ixdy I'll show up. Anything scheduled? Send out an email?

[2016-08-24 18:35] fabianofranz commented on #27454
@eparis are you saying that we should not have added the form `--flag=v1 --flag=v2` specifically to `*Slice`, or we should not have added it at all? Because providing a list of options through multiple occurrences of the given `--flag` [is POSIX](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_01) so not supporting it in Cobra is not an option in my opinion.

[2016-08-24 18:39] eparis commented on #27454
should not  have added it to `*Slice`   I agree that a new non-CSV `StringSlice`like flag makes sense.

[2016-08-24 18:46] ixdy commented on #31317
@mwielgus this still looks pretty broken

[2016-08-24 18:51] alexbrand opened #31360 "kubenet_unsupported.go is missing mtu from Init method"
While trying to build the kubelet with `GOOS=windows`, I got a build error related to `kubenet_unsupported.go`. It looks like a new `mtu` argument was added to the `Init` method of the `network.NetworkPlugin` interface, but `kubenet_unsupported.go` was not updated.

[2016-08-24 18:52] vishh opened #31362 "Kubelet evictions - whats remaining?"
Kubelet now supports evicting of pods & images to free up memory and disk space whenever it notices memory or disk pressure. This feature is amazing since it helps keep the nodes running. But there are still a few glitches with this feature that makes it not ready for production. This issue attempts to expose those glitches and discuss possible solutions for those glitches.
- Kubelet pod evictions

[2016-08-24 18:56] jbeda commented on #30600
Wrt OS X support -- my latest set of changes (#30787) have things working pretty well.  There is one issue with a Jenkins machine that I'm tracking down.  The only Mac specific hacks are around gnu/bsd/old tools.  This is similar to dealing with older versions of Docker.  Data is copied in and out of the container using rsync with minimal cost.  I honestly don't think we need to throw out most of

[2016-08-24 19:03] pmorie commented on #31272
So, I have some code wherein I introduced timeouts at (1) and (2), and realized I'm not quite certain what the desired behavior is when this happens.  The behavior I see with my WIP code is:

1.  Pod with NFS mount is running
2.  Stop NFS server
3.  Delete pod
4.  Pod gets stuck in terminating, timeout errors show in log
5.  Start NFS server
6.  Pod get terminated

I _think_ this is the correct be

[2016-08-24 19:03] whitlockjc opened #31364 "Proposal: Replace the IngressResource with something generic"
# Motivation

The current way to describe routing rules in Kubernetes is when an `IngressResource` object.  The problem with this is that the type's naming implies that the rules are only applicable to inter-cluster _(ingress)_ traffic and the controllers enabling that.  But whether doing inter-cluster _(ingress)_ routing or intra-cluster _(`Pod -> [Pod|Service]`)_ routing, the description of the

[2016-08-24 19:10] jeffvance commented on #31272
What if the nfs server is never restarted, or its exports are changed, or its ip is changed? Will the pod remain stuck forvever?

[2016-08-24 19:18] #30469 closed

[2016-08-24 19:18] #30990 closed

[2016-08-24 19:27] ncdc commented on #31272
No disagreement. The user's intent is for the pod to go away.

[2016-08-24 19:28] bjoernhaeuser commented on #11935
@philk I think the mentioned PR is not what we are looking for. Is there a typo or similar?

[2016-08-24 19:28] ncdc commented on #31272
@jeffvance you can force the deletion of the pod using a grace period of 0.

[2016-08-24 19:32] andrewsykim commented on #11935
https://github.com/kubernetes/contrib/issues/1311 is probably the link you are looking for. It references other PRs that have been opened regarding cluster autoscaler for AWS

[2016-08-24 19:33] vishh commented on #30550
Why? I thought we ensure that at-least 50% of memory is available..

On Wed, Aug 24, 2016 at 11:28 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-24 19:35] pmorie commented on #31272
@jeffvance, force delete doesn't go through the kubelet.

[2016-08-24 19:38] mlbiam opened #31365 "RBAC Authorization - --authorization-rbac-super-user does not work with openid connect users"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No, filing after reproducing the issue in discussion on sig-auth with @ericchiang and @whitlockjc and figured out a workaround

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplica

[2016-08-24 19:54] spxtr commented on #30600
I strongly suggest against going "docker only" as I understand the term. Developers should not be using docker for their builds unless they want to.

[2016-08-24 19:55] madhusudancs commented on #31078
One option is to modify the Deployment/Pod spec to say `imagePullPolicy: Always`. But the trouble with doing that is, we ship the same manifests in our release.

What I am trying to do instead is to generate a new image tag every time something has changed in your working directory (even uncommitted files) and the image is rebuilt. Then I am writing a small wrapper around it to redeploy federation

[2016-08-24 20:06] derekwaynecarr commented on #31192
Per our discussion, I think the eviction manager should not make an observation for imagefs if there is no imagefs.

[2016-08-24 20:07] justinsb opened #31369 "Daemonsets silently fail if resources are insufficent"
When working with a daemonset, there were sufficient CPU resources to run it on all the nodes, but not on the master.  But there was no indication that this was the case (AFAICT), other than the fact that the number of pods was one short.

Status was:

[code]

(but there were 3 nodes - the master & two nodes.  The master was marked as `Ready,SchedulingDisabled`, so maybe we are miscounting in that

[2016-08-24 20:15] yujuhong commented on #30550
@vishh, uh.. I don't know, but we should try to understand/debug it separately without failing the entire suite.

[2016-08-24 20:16] caesarxuchao commented on #30990
We need to monitor the 100-node test to see if this is actually fixed by #31051.

[2016-08-24 20:17] yujuhong commented on #31360
/cc @freehan

[2016-08-24 20:24] thockin commented on #30600
I just disagree.  Docker is how we get a hermetic, repeatable build.  That
should be the default.

On Wed, Aug 24, 2016 at 12:55 PM, Joe Finney <notifications@github.com>
wrote:

[2016-08-24 20:29] MHBauer commented on #30600
Everyone should be using containers for build.

[2016-08-24 20:29] philk commented on #11935
Oh, yeah I was on mobile and didn't realize which repo I was in kubernetes/contrib#1377 was what I meant. (Though 1311 above is useful too)

[2016-08-24 20:29] lavalamp commented on #31262
I made a rollback PR. https://github.com/kubernetes/kubernetes/pull/31371

[2016-08-24 20:30] k8s-merge-robot opened #31374 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10350/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469

[2016-08-24 20:41] dchen1107 opened #31376 "GCI: Decouple image building from Kubernetes release process"
During the reviewing of release velocity doc, we found there is a regression introduced when switching master node from debian-based container-vm to gci image on GKE / GCE, which put gci image release into GKE / GCE release critical path. We should fix this regression for 1.4 release.

cc/ @pwittrock, release czar for 1.4 release

cc/ @kubernetes/goog-image @kubernetes/goog-node

[2016-08-24 20:46] sekka1 opened #31377 "Using HyperKube 1.3.5 unable to mount EBS Volumes"
Using Hyperkube v1.3.5 on CoreOS systems

https://github.com/kubernetes/kube-deploy/tree/master/docker-multinode

It seems to mount the EBS volume ok

controller

[code]

But it doesnt seem to be available for use:

kubelet

[code]

@justinsb Thanks for initially helping me out on the slack channel.  I dont know where else to look for more information on what is wrong here.

[2016-08-24 20:55] duglin commented on #30600
+1

Totally biased example but it won me over..... when I first started to use Docker I basically got a Ubuntu VM, installed Docker, git cloned the docker src and said “make binary” (basically). IMO that should be the bar for Kube developer’s UX.  As today I think using Docker for Kube’s build is really only option for meeting that goal.

-Doug

[2016-08-24 20:56] krousey commented on #30600
I agree with these two statements, and they're not mutually exclusive.

If it's easy to do it either way, I don't really care about this.

I strongly disagree with this. If I want to just use `go build` and `go test` for local development, I should be able to. If I want to forgo the pains of docker, let me. Please do not actively prevent people from doing things like this. Please make it easy to a

[2016-08-24 21:02] thockin commented on #30600
At this point "go build" and "go test" are laughably underpowered.  I don't
think we should actively prevent local builds, but we should not endorse it
as best practice, and we should not go very far out of our way to make it
better.

On Wed, Aug 24, 2016 at 1:56 PM, krousey <notifications@github.com> wrote:

[2016-08-24 21:09] hongchaodeng commented on #31262
Some findings on logs from last failure -- **the test infra is leaking clients**

Here are the logs for failed test:
[code]

Basically, `TestWatch` client should talk to "node417290545105324029".
For "node1204988732873562", it's created in `TestResourceLocation` earlier. The connection failed because `TestResourceLocation` already finished and unix socket files were cleaned up. But there is a clie

[2016-08-24 21:10] yifan-gu commented on #26816
cc @yujuhong @Random-Liu wdyt? Should kubelet `mkdir` non existent volume paths?

[2016-08-24 21:16] hongchaodeng commented on #31262
After digging into the code, we are obviously not closing any clients in a lot of tests.
Even though we rollback to v2, it's still leaking clients.

[2016-08-24 21:21] Random-Liu commented on #30550
Yeah, we could still see:
[code]
Could this mean that we have something suspicious in our code?

[2016-08-24 21:26] hongchaodeng commented on #31083
ref: https://github.com/kubernetes/kubernetes/issues/31262#issuecomment-242208771

[2016-08-24 21:34] derekwaynecarr commented on #31362
I disagree with the above statement.  I would strongly recommend user's to enable this feature in production, but I also agree setting an eviction threshold at `memory.available<100Mi` is skating on thin-ice with the current support.  I know per our conversation, @vishh feels similarly, but I want to clarify the statement for others that come and read this issue later.  Many operators of productio

[2016-08-24 21:38] vishh commented on #30550
I'm concerned that by disabling the test without understanding the root
cause, we might let important bugs slip by.

On Wed, Aug 24, 2016 at 2:22 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-08-24 21:41] luxas commented on #31377
Please reopen in the kube-deploy repo and also see https://github.com/kubernetes/kube-deploy/issues/196#issuecomment-240142224

Hope that answers the question!

[2016-08-24 21:41] #31377 closed

[2016-08-24 21:43] yifan-gu commented on #27745
I think this will be addressed once we switched to CRI

[2016-08-24 21:44] yifan-gu commented on #25988
I think this will be addressed once we switched to CRI

[2016-08-24 21:44] yujuhong commented on #30550
I am not saying we shouldn't fix this test or understanding the root cause, but I don't get why that couldn't be fixed out of band.
I also don't think that we should sacrifice other tests in the same suite. They could've caught bugs too, if they were running.

[2016-08-24 21:44] freehan commented on #31360
Thanks for jumping in!

Another fix is in flight. Closing this one.
ref: #31372, #30376

[2016-08-24 21:44] #31360 closed

[2016-08-24 21:46] jeffvance commented on #31269
See pr #31357

[2016-08-24 21:46] freehan commented on #31348
Thanks. I have this on my plate.

[2016-08-24 21:46] alexbrand commented on #31360
Oh cool! Thanks

[2016-08-24 21:49] krousey commented on #30600
Could you please elaborate? Because honestly this is 85%+ of my daily workflow. Outside of packaging for `kube-up.sh` or e2e tests, I don't really use our `make` infrastructure.

Also, I'm not asking for it to be endorsed as the official way to build. I am asking for it to be supported though. I think it would be a great disservice to break the basic tools that many developers use in different way

[2016-08-24 21:54] vishh commented on #30550
You say "fix the test". Does that mean that the root cause is the "test
itself" or could there be bugs in kubelet?

On Wed, Aug 24, 2016 at 2:45 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-24 22:01] yujuhong commented on #30550
I don't think it matters whether the problem is in the test or kubelet itself. It needs to be fixed, and there is no need to block other tests from running, and potentially catching bugs, in the meantime.
Either we move the eviction (or all disruptive) tests to a new suite, or we disable until we know what's going on.

[2016-08-24 22:04] mtaufen commented on #30550
I would be in favor of moving disruptive tests to a separate suite. That way they can continue to surface issues without blocking other tests from surfacing issues.

[2016-08-24 22:04] dchen1107 commented on #30550
Here is what I proposed to @mtaufen & @Random-Liu a while back:

1) Move all disruptive tests (OOM, OOD, restart etc.) to a separate jenkins job, so that those disruptive tests won't cause unnecessary flakiness to rest the tests.
2) Update our test harness by adding the logic to reboot / recreate the node. So that before each discruptive test run, the node can be back to the clean state.

WDYT?

[2016-08-24 22:06] mtaufen commented on #30550
I like the idea of clean-slating each disruptive test. We should have a way to write really mean tests without worrying about them interfering with others.

[2016-08-24 22:06] ericchiang opened #31380 "OIDC authentication plugin: username claim is prefixed by issuer URL which isn't document"
This was brought up when investigating #31365

Currently if you use a claim other than "email" the value is prefixed by the issue URL when determining username. This means if I have a (non-standard) JWT with the following claims:

[code]

And "profile-name" is used to indicate username claims through the API server flag

[code]

The username for this user will be:

[code]

Email is special cased a

[2016-08-24 22:07] vishh commented on #30550
My moving the disruptive tests away, I'm concerned that we might not catch
the bugs that get surfaced by combing disruptive tests with non-disruptive
ones.

On Wed, Aug 24, 2016 at 3:05 PM, Dawn Chen <notifications@github.com> wrote:

[2016-08-24 22:07] mtaufen commented on #30550
Then could we have a non-disruptive-only and a combined disruptive and non-disruptive suite?

[2016-08-24 22:18] dchen1107 commented on #30550
Ok, I am going to root cause the reason then decide what is the next step.

[2016-08-24 22:18] thockin commented on #30600
On Wed, Aug 24, 2016 at 2:50 PM, krousey <notifications@github.com> wrote:

We already have code files that are generated automatically on-demand.
If you don't regenerate them when you need to, you might have false
positives or negatives.  If you're OK with being The Human Makefile,
`go build` might work.  For now.  Right up until we stop checking the
generated files in, at which case you might fa

[2016-08-24 22:19] jfrazelle commented on #28275
this is related to https://github.com/kubernetes/kubernetes/issues/31077
this code is no longer being executed: https://github.com/kubernetes/kubernetes/blame/master/test/e2e/framework/framework.go#L320

[2016-08-24 22:19] jfrazelle commented on #28275
relevanet: https://github.com/kubernetes/kubernetes/commit/db7af6c0d7d840736278b9447fdf42d79dc4d7b0

[2016-08-24 22:21] yujuhong commented on #30550
We already know there is an issue triggered by the test. What good does it do to fail other tests while root causing the issue?...

[2016-08-24 22:21] smarterclayton commented on #7311
@jwforres how do you feel about this?  I'm thinking new-app and a few
specific flows.  How might you use this in Openshift console?

[2016-08-24 22:21] whitlockjc commented on #31380
/cc @whitlockjc

[2016-08-24 22:28] janetkuo commented on #27524
dup with #29308

[2016-08-24 22:28] #27524 closed

[2016-08-24 22:31] crizCraig commented on #30518
Would this supercede #23483?

[2016-08-24 22:34] dchen1107 commented on #30550
I quickly scanned through last couple failure builds, and all are caused by disk eviction test, which I believe it should be fixed by https://github.com/kubernetes/kubernetes/pull/31200

[2016-08-24 22:40] janetkuo commented on #30708
It's a new test that #30701 is adding. Closing.

[2016-08-24 22:40] #30708 closed

[2016-08-24 22:43] vincentwoo commented on #22684
I'm on GKE and seeing this problem. No idea how to fix it!

[2016-08-24 22:43] smarterclayton commented on #29579
I also concur with the conclusion.  @kubernetes/sig-auth needs to
review the security implications and @kubernetes/sig-api-machinery
needs to be involved in final design for anything on the apiserver.

[2016-08-24 22:44] euank opened #31384 "volumes/hostPath: Proposal - support for more explicitly specified hostPath volumes"
Note: I'm happy to write a more formal proposal out, I just wanted to quickly float the idea and see if it makes any sense to have.

### Introduction

A hostPath volume source is probably the simplest one to define, needing only a single path. However, that simplicity comes with many assumptions and caveats.

Right now, the largest caveat with a hostPath volume under Docker is that the given targe

[2016-08-24 22:45] luxas commented on #31337
I also came across this, but I don't know if it works in the same way with "normal" kubelet; that the host's `/etc/resolv.conf` file must include a publicly available DNS server like `8.8.8.8`

cc @kubernetes/sig-network @thockin @ArtfulCoder @madhusudancs

[2016-08-24 22:47] dchen1107 commented on #30550
@yujuhong Here is unknown issue which puzzles me. In one of old builds: http://kubekins.dls.corp.google.com/view/Node/job/kubelet-serial-gce-e2e-ci/409/consoleFull

1) MemoryEviction is running and waiting for the available memory is enough (at least from test log):
[code]

I think we should improve the memory eviction test itself not only check the available memory, also check the node condition

[2016-08-24 22:48] euank commented on #31384
Related: #16888

[2016-08-24 22:52] vishh commented on #30550
Yes. it is possible to make the wait for the `MemoryPressure` condition to
be `false`.

On Wed, Aug 24, 2016 at 3:48 PM, Dawn Chen <notifications@github.com> wrote:

[2016-08-24 22:52] dchen1107 commented on #3500
cc/ @coufon

[2016-08-24 22:53] numbsafari commented on #29453
I'm interested in something like this as well, ran into kubernetes/helm along the way. @pigmej, have you looked at kubernetes/helm? I'm curious how your use case doesn't work with it. I'm currently evaluating it against my own, but it seems like the best place to start.

[2016-08-24 22:54] dchen1107 commented on #30550
@vishh We should wait for both memory available and MemoryPressure condition in MemoryEviction test. It is possible the rest failure are caused by condition is not set to ready.

[2016-08-24 22:54] caseydavenport commented on #28687
Is there a PR for this?

[2016-08-24 23:00] quinton-hoole opened #31385 "Bug in unmounting of secret volumes?"
The only info I have is what the user reported below.  Reach out to the user if this is interesting enough to pursue.  @kubernetes/sig-storage

https://kubernetes.slack.com/archives/kubernetes-users/p1472037420024551

felipe [4:17 AM]
I'm getting an error mounting a secret on multiple pods. The secret is there and was mounting fine before. Not sure how to debug this. All I have is a "timed out wai

[2016-08-24 23:01] ConnorDoyle commented on #19082
Created an issue in the features repo for this: https://github.com/kubernetes/features/issues/76.

Some preliminary design work is ongoing here: https://goo.gl/iJW2yq (also tracking in #28312 and #28313. There the issue is broken down into scheduling versus isolation.)

@therc, agree w/ your point about annotations & labels. In last discussion with sig-node and sig-scheduling it sounded like gener

[2016-08-24 23:02] ConnorDoyle commented on #28312
Created an issue in the features repo for this: kubernetes/features#76.

[2016-08-24 23:03] thockin commented on #31384
SGTM overall - the subPath point is interesting.  Would like to see more
pro/con analysis.

On Wed, Aug 24, 2016 at 3:49 PM, Euan Kemp <notifications@github.com> wrote:

[2016-08-24 23:05] jhmartin commented on #16083
How is the scenario where you have multiple public subnets handled? Say, some that do not have inbound-access to the rest of the VPC.

[2016-08-24 23:05] ixdy commented on #31149
Should be fixed now.

[2016-08-24 23:06] dchen1107 commented on #31376
cc/ @goltermann

[2016-08-24 23:07] euank commented on #26816
ref #31384 as well; if it's explicitly defined that way then kubelet should manage it and the runtime can assume it exists safely.

[2016-08-24 23:13] jingxu97 commented on #31385
From the error message, it complains that the secrete "pubsub-secret" could
not be found. Could user double check whether the file is there or not?

On Wed, Aug 24, 2016 at 4:01 PM, Quinton Hoole <notifications@github.com>
wrote:

--
- Jing

[2016-08-24 23:28] ProTip commented on #30518
IMHO I would say yes to both.

AWS is already referring to the ELB as "legacy"; Application Load Balancer looks like the future.

I would assume that this would be implemented as an ingress controller?

[2016-08-24 23:35] kargakis opened #31389 "[flake] k8s.io/kubernetes/pkg/registry/petset/etcd TestWatch"
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31375/kubernetes-pull-test-unit-integration/41784/

[2016-08-24 23:36] madhusudancs commented on #31337
@cheld this is the intended behavior. Also, see the kubelet's `--resolv-conf=` flag - http://kubernetes.io/docs/admin/kubelet. You can provide your own base resolv.conf to kubelet, which will in turn be used to generate the KubeDNS forwarding nameservers. Otherwise, host's /etc/resolv.conf file will be used.

I don't think the current version of KubeDNS allows `--nameserver` flag. We could probabl

[2016-08-24 23:38] madhusudancs commented on #31337
@luxas it's not necessary that the nameserver specified in the resolv.conf is publicly available, it should be reachable by KubeDNS, or in other words it should be reachable by the pods in your cluster.

[2016-08-24 23:39] hongchaodeng commented on #31262
Submit a fix: https://github.com/kubernetes/kubernetes/pull/31390

[2016-08-24 23:59] aaskey opened #31394 "service object created then disappeared after a while"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
service

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE container cluster

**What happened**:
Tried

[2016-08-25 00:01] AdoHe commented on #7311
@bryk ok, get it.

[2016-08-25 00:20] erictune commented on #30243
I support adding a backoff policy to Jobs. I think exponential backoff with a max of like 5min would be fine.   I don't think it would be a breaking change to introduce a backoff policy by default.  I suspect some users might want fast retry, but we can wait on adding a field until they do.

I also support having a "max failed pods to keep around", which would cause the job controller to garbage c

[2016-08-25 00:24] #23690 closed

[2016-08-25 00:29] rmmh commented on #31274
This ran into timeouts and quota issues. They've been resolved now.

[2016-08-25 00:29] #31274 closed

[2016-08-25 00:31] dchen1107 opened #31397 "Kubelet eviction event should include the compute resource type"
Forked from #30550:

While debugging a node e2e issue, I found the event message associating with such pod-eviction is hard to use for debugging:

[code]

[2016-08-25 00:36] jingxu97 commented on #29262
@saad-ali @matchstick , I don't think this PR is completely fixed. @29077 is a related fix but it does not fix what described in this PR. Reopen it.

[2016-08-25 00:36] Random-Liu commented on #30550
The following pod is not evicted, they are just not admitted by kubelet because of the `MemoryPressure`:
[code]
So https://github.com/kubernetes/kubernetes/pull/31386 should be able to fix this.

[2016-08-25 00:47] yujuhong commented on #30550
@dchen1107, @Random-Liu, thanks a lot for debugging this (and @mtaufen for uploading a fix)!

Correct me if I'm wrong, in general, it shouldn't be too hard to reproduce or verify the fix by running node e2e tests in one's own cluster. The set of tests to run needs to include the eviction test and and a simple test with pod creation.

[2016-08-25 00:47] saad-ali commented on #29262
Good catch Jing. This issue is a follow-up on https://github.com/kubernetes/kubernetes/pull/29077#issuecomment-233876450 and these suggestions have not yet been implemented so the issue should remain open.

[2016-08-25 00:54] brendandburns commented on #28260
I'm closing this now that TokenFile is supported in the client config file.

Please re-open if you think there are still unaddressed issues.

[2016-08-25 00:54] #28260 closed

[2016-08-25 01:01] dchen1107 commented on #30550
@yujuhong you are right on this. :-)

[2016-08-25 01:09] yujuhong commented on #31389
Dup of #31262

[2016-08-25 01:09] #31389 closed

[2016-08-25 01:10] asalkeld commented on #30214
See: http://kubernetes.io/docs/user-guide/configmap/ in the section "Use-Case: Consume ConfigMap in environment variables"

The following works for me:
[code]

[2016-08-25 01:44] k8s-merge-robot opened #31400 "[k8s.io] EmptyDir volumes should support (root,0777,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14027/

Failed: [k8s.io] EmptyDir volumes should support (root,0777,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

[2016-08-25 01:52] wu8685 commented on #27454
I made a mistake to focus on quote-escaping before. Actually, we need this escape, when it is `--from-literal="key=hello world"`.
I think what we need now is a string array from pflag, maybe I can call it `StringArray`. This `StringArray` will handle all flags `from-literal` without spliting or any other processing. Right?

[2016-08-25 01:58] asalkeld commented on #31258
Also see this old PR (I'll rebase to use a label)

[2016-08-25 02:02] k8s-merge-robot opened #31402 "[k8s.io] Networking [k8s.io] Granular Checks should function for pod communication between nodes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31354/kubernetes-pull-build-test-e2e-gce/55878/

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication between nodes {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31354.

Previous issues for this test: #30131

[2016-08-25 02:10] yujuhong opened #31403 "Unit test owners should be consistent with package owners"
We have "OWNERS" files in each package and PRs of that package get assigned to them. Although they may not be the best person to debug the test, they can at least help triage and re-assign to other people.
Currently, we have a separate [test_owners.csv](https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv) file in which most of the unit test owners were randomly assigned. A lo

[2016-08-25 02:11] baldeynz commented on #31021
upgrade to 1.3.4 fixed the 'device or resource busy' issue.

Changes to the td-agent.conf in  gcr.io/google_containers/fluentd-elasticsearch:1.17

<source>
  type tail
  path /var/lib/rkt/pods/run/*/stage1/rootfs/opt/stage2/hyperkube/rootfs/var/log/containers/*.log
  pos_file /var/log/rkt-es-containers.log.pos
  time_format %Y-%m-%dT%H:%M:%S.%NZ
  tag kubernetes.*
  format json
  read_from_head tr

[2016-08-25 02:11] #31021 closed

[2016-08-25 02:11] baldeynz commented on #31021
as per comment above

[2016-08-25 02:16] eparis commented on #27454
@wu8685 I'm not sure what a good name is, but yes, there seem to be plenty of places such a flag type would be useful.

[2016-08-25 02:21] yujuhong commented on #26816
Agreed that kubelet should verify the hostPath and not relying on the runtime to create it.

[2016-08-25 02:25] #29712 closed

[2016-08-25 02:29] mlbiam commented on #31380
@ericchiang @kubernetes/sig-auth @whitlockjc

I think its important for security reasons to keep this in place.  If someone:
1.  knew the subject of the cert used for privileged access
2. was able to compromise a single account in the IdP to set whatever claim is being read from

a user could elevate themselves to being a cluster-administrator, which could then be used in turn to do whatever they

[2016-08-25 02:30] m1093782566 opened #31405 "[kube-proxy] Modify log level from Info to Warning when proxyMode unknown"
**What keywords did you search in Kubernetes issues before filing this one?**

Currently, we use `glog.Infof` to print the log when proxy-mode is unknown, I think we may need to modify to `glog.Warningf`.

[2016-08-25 02:33] zhouhaibing089 commented on #30603
@erictune Uh, that makes sense, just one more question, what if the image is private, and the call the api may get the unauthorized response. considering such cases, some verification may be problematic.

[2016-08-25 02:39] roberthbailey commented on #25823
I'm going to close this, since we've seen a sharp decrease in cherry picks for the 1.2 release branch and we haven't cut a 1.2.x release in over a month. Please re-open if you'd still like to see this fixed.

[2016-08-25 02:39] #25823 closed

[2016-08-25 02:59] k8s-merge-robot opened #31407 "[k8s.io] DaemonRestart [Disruptive] Scheduler should continue assigning pods to nodes across restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2008/

Failed: [k8s.io] DaemonRestart [Disruptive] Scheduler should continue assigning pods to nodes across restart {Kubernetes e2e suite}

[code]

[2016-08-25 03:37] k8s-merge-robot opened #31408 "[k8s.io] InitContainer should not start app containers if init containers fail on a RestartAlways pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14033/

Failed: [k8s.io] InitContainer should not start app containers if init containers fail on a RestartAlways pod {Kubernetes e2e suite}

[code]

[2016-08-25 03:59] krmayankk commented on #6284
What is the status of this , is this still a priority ?

[2016-08-25 04:02] m1093782566 opened #31411 "[kube-proxy] Modify func updateServiceListener's 4th parameter name from addOrDelete to add & fix typo"
**Is this a request for help?**

Currently, the 4th parameter name of `updateServiceListener` in kube-proxy is `addOrDelete`,
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/healthcheck/api.go#L36

However, from the func caller, we just pass `true` for `AddServiceListener`,
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/healthcheck/api.go#L50

and `false` for `Delete

[2016-08-25 04:24] Pensu commented on #25730
@ixdy Yeah, I can provide a script. Do you want to cross compile or want to run it on ppc64le box? That can be arranged too.

[2016-08-25 04:37] colemickens opened #31412 "Hyperkube build now requires a TTY"
I can no longer build `hyperkube` as part of my continuous integration setup.

This is vital because we use `hyperkube` in `kubernetes-anywhere` and I build `hyperkube` as part of that process.

I believe the issue is here: https://github.com/kubernetes/kubernetes/commit/d711fd8764fc26041f82729e7b74c25738e7a55c#diff-86f22fb5b693949f04077054c41b762fR104

cc: @luxas

[2016-08-25 04:54] luxas commented on #31412
# TODO(freehan): Push the latest cni for all arches to storage.googleapis.com so we may just download the binaries`

Yeah, that's quite temporary, just so we can release v1.4.0-alpha.3 before @freehan uploads cni to gcs: https://github.com/kubernetes/kubernetes/issues/31348

Why does it fail? Doesn't your CI system have a tty?
Can this be fixed just by removing the `-t` part of run?

[2016-08-25 05:00] piosz commented on #31347
I've disabled the test in #31325.

[2016-08-25 05:00] #31347 closed

[2016-08-25 05:08] bprashanth commented on #26134
Aug 24 15:18:25.062: INFO: At {2016-08-24 14:58:43 -0700 PDT} - event for mutability-test: {service-controller } CreatingLoadBalancerFailed: Error creating load balancer (will retry): Failed to create load balancer for service e2e-tests-services-wfjzq/mutability-test: failed to create forwarding rule ad28a89476a4511e6b0b642010af0002: googleapi: Error 403: Quota 'FORWARDING_RULES' exceeded. Limit:

[2016-08-25 05:13] bprashanth commented on #26134
deleted some, requested quota bump

[2016-08-25 05:22] colemickens commented on #31412
I worked around it for now by adding: `sed -i 's/docker run -it/docker run/g' cluster/images/hyperkube/Makefile` to my build.

I can send a PR here too depending on how temporary this is.

[2016-08-25 05:24] bgrant0607 commented on #31266
Umbrella issue for API documentation improvements is #19680

[2016-08-25 05:36] bgrant0607 commented on #31175
`kubectl proxy` is a client-side proxy that uses kubectl to handle auth to the apiserver.
http://kubernetes.io/docs/user-guide/connecting-to-applications-proxy/

`port-forward` works more like you suggest:
http://kubernetes.io/docs/user-guide/connecting-to-applications-port-forward/

We could create another command or subcommand that does that for the http proxy in apiserver.

[2016-08-25 05:41] bgrant0607 commented on #31174
This is an apiserver issue. ResourceLocation would need to be implemented for the appropriate resources. It appears to exist for services.
https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/proxy.go#L111
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/service/proxy.go#L64
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/service/rest.go#L340

[2016-08-25 05:41] bgrant0607 commented on #31178
See also #5164

[2016-08-25 06:05] #29782 closed

[2016-08-25 06:30] krmayankk commented on #27247
@thockin any thoughts on this.

[2016-08-25 06:43] #31134 closed

[2016-08-25 07:03] wojtek-t commented on #31374
I'm pretty sure, those amount of failure are related to: #31051 (I don't know why yet).

[2016-08-25 07:21] erez-rabih opened #31415 "1.3.4 AWS Nodes constantly go NotReady with KubeletNotReady container runtime is down"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
KubeletNotReady container runtime is down

---

**Is this a BUG REPORT or FEATURE REQ

[2016-08-25 07:34] anioool commented on #31415
Hi,
+1 to matter described by author. Usually after 24-48 hours all nodes has NotReady status even if nodes were not loaded (idle time).

From my side I also has problem with nodes discovery. When I upgraded kubernetes to 1.3.4 I need restart nodes several times before they are discovered via controller.

[2016-08-25 07:39] solsson commented on #28709
I'm seeing the same error (or at least the same error message) in GKE after upgrade to 1.3.5. Created the PetSet in 1.3.4 using https://github.com/Yolean/kubernetes-mysql-cluster/blob/master/50mariadb.yml. Pods restarted fine in 1.3.4.

Is there any way to get more details on the error `timeout expired waiting for volumes to attach/mount for pod`?

[code]

[code]

What happens if the PetSet resour

[2016-08-25 08:09] errordeveloper opened #31417 "kubelet prints fatal error twice without a newline"
I am seeing this:

[code]

The last line is missing a `\n`, seems like this would be an easy fix, but I'm not sure why does it even print this error twice? Also, this output doesn't have a timestamp prefix - is it intentional to not use the logger for this or it's some kind of limitation or a know issue and affects other components?

This may had been reported already in some form.

[2016-08-25 08:40] wernight commented on #24745
I agree that the "writing of an Ingress controller" is something that should be moved out. What did really put me off initially is that just having the Pod running Nginx Ingress Controller is enough, and I wasn't sure also initially which one it was (i.e. which image was actually the Nginx Ingress Controller).

[2016-08-25 08:58] jimmidyson commented on #22405
fabric8's [Java client](https://github.com/fabric8io/kubernetes-client) is pretty widely used now. Users seem to like the fluent DSL. We are looking to move to protobuf for version 2 if that is a recommended approach, but trying to retain a fluent DSL. We'd be happy to contribute to an official supported Java client moving forward.

[2016-08-25 09:15] jimmidyson commented on #28559
Would love to test out this client on some "real" projects - any chance of getting the external repo sorted for easier vendoring?

[2016-08-25 09:41] chao007 opened #31419 "Dynamic provisioned ebs type is gb2 even if set the type to io1 in the storageclass"
**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.2.1689+74b01041cc3feb-dirty", GitCommit:"74b01041cc3feb2bb731cc243ab0e4515bef9a84", GitTreeState:"dirty", BuildDate:"2016-08-25T06:39:38Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Cloud provider or hardware configuration**: aws
- **O

[2016-08-25 09:45] k8s-merge-robot opened #31420 "[k8s.io] Kibana Logging Instances Is Alive should check that the Kibana logging instance is alive {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14049/

Failed: [k8s.io] Kibana Logging Instances Is Alive should check that the Kibana logging instance is alive {Kubernetes e2e suite}

[code]

[2016-08-25 09:45] hanikesn commented on #22342
Shouldn't apply also warn you if you used `create` without `--save-config` in the beginning? Otherwise this would be very easy to miss, if you don't know the intricacies of `apply`.

[2016-08-25 09:52] rmahajan2420 opened #31422 "New minion is not adding to the cluster"
Hi,

I am using kube aws install version 1.3.4..  Hi All, I have added new node to the cluster and getting error :  Unable to find Node::, deleting all assigned Pods.. I  have created another ASG group for minion and used the user data for minion provided by aws.. I am seeing this on  kube-master controller log.

Kube master api log: Getting 404
I0825 09:10:45.461119       5 handlers.go:165] GET /

[2016-08-25 09:56] elcct commented on #29330
It seems like this is the same problem: https://github.com/kubernetes/kubernetes/issues/27343#issuecomment-226095062

[2016-08-25 10:01] mrook commented on #29324
We've also had this happen when a number of machines (that had a substantial number of volumes attached to them) were recycled in a short period of time. Looking forward to the fix!

[2016-08-25 10:20] #31219 closed

[2016-08-25 10:58] tobegit3hub opened #31424 "Support docker's storage-opt parameters or disk space resource"
**FEATURE REQUEST**

Now we have the problem after deploying multiple users' containers. All the containers share the same disk space with the local servers. Because the root disk of the container is stored in server's `/var/lib/docker` and if one container uses all the disk space, the other containers will be affected.

Now docker has support [storage-opt](https://github.com/docker/docker/blob/ma

[2016-08-25 11:07] jsafrane commented on #31419
It's `parameters` now.

`kubectl create -f class.yaml` throws `found invalid field provisionerParameters for v1beta1.StorageClass`.

I can force the yaml with `--validate=false` and then obviously `provisionerParameters:` is ignored and created class has empty `parameters:`, leading to default gp2.

[2016-08-25 11:30] cheld commented on #31337
@madhusudancs

Ok I see. But it should work by default somehow. Docker seems to replace 127.* silently with 8.8.8.8

[code]

We could do the same in skydns. Maybe optional. WDYT

[2016-08-25 11:30] Draiken commented on #31385
I figured out the problem. It was due to a known bug on 1.3.3.
After upgrading to 1.3.5 the problem was solved.

Got the solution after finding this: https://github.com/kubernetes/kubernetes/issues/29903
I think you can close this

[2016-08-25 11:53] deads2k commented on #31380
Without separate concepts of identities (provided by idp) and the ability to map them to a different user, I think that qualification is the only reasonable way to support multiple idps.  Offering an option for setting that qualification to something cluster-admin defined is probably a good idea, though doing that via command line flags is likely to be unwieldy.

We kept a similar concept of quali

[2016-08-25 11:54] m1093782566 commented on #30675
Fixed. I am going to close this issue.

Thanks all!

[2016-08-25 11:54] #30675 closed

[2016-08-25 12:17] mksalawa commented on #30826
AFAIK Heapster's window is 60s. I tried it a few times locally and it needed around 75-80s. (I'm not sure if e.g. complexity of a pod makes a difference here, but I tried a number of simple nginx deployments.)

The message would be helpful, but how about a situation when there are already some "old" pods, with computed metrics, a pod is added and the command is called? Should it show the message a

[2016-08-25 12:20] piosz commented on #23224
We need to make fluentd more manageable (ie. add a possibility to change resource limits/requests). I'm taking over this and try to finish your work.

[2016-08-25 12:40] #31374 closed

[2016-08-25 12:47] deads2k commented on #7311
I thought this issue was about creating composeable  command objects for clean re-use (our complete, validate, run methods) and https://github.com/kubernetes/kubernetes/issues/12143 was about moving the client-side logic server-side.

[2016-08-25 13:18] k8s-merge-robot opened #31427 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5245/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374

[2016-08-25 13:38] k8s-merge-robot opened #31428 "[k8s.io] Daemon set [Serial] should run and stop simple daemon {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2011/

Failed: [k8s.io] Daemon set [Serial] should run and stop simple daemon {Kubernetes e2e suite}

[code]

[2016-08-25 13:38] k8s-merge-robot opened #31429 "[k8s.io] Kubectl client [k8s.io] Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14061/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28774

[2016-08-25 13:42] liggitt commented on #27335
dupe of Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite} ?

[2016-08-25 13:53] luxas commented on #30310
This is fixed at HEAD

[2016-08-25 13:53] #30310 closed

[2016-08-25 13:53] liggitt commented on #31380
agree, the email claim not being prefixed is inconsistent. my comment was not intended to special-case email as a non-prefixed value, but to give the admin control over the claim and over prefixing.

[2016-08-25 13:56] luxas opened #31431 "Let's kill the most inits"
Right now `func init()`'s are used for registration of admission plugins, cloud providers and some apis.
This turns out to be **really** heavyweight when using a binary like hyperkube.

For example, if we're running `/hyperkube kubelet`, a lot of admission plugins are registered although the aren't required at all. And if we're some time going to do `/hyperkube kubectl` for real, it's going to be

[2016-08-25 13:58] #31100 closed

[2016-08-25 14:00] k8s-merge-robot opened #31433 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5246/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374

[2016-08-25 14:04] luxas commented on #31431
Some very quick perf tests:
[code]

[2016-08-25 14:20] bgrant0607 commented on #30272
@rustyrobot Taints are per node. You could create an in-maintenance taint.

Tolerations (including forgiveness) is per pod, though we also imagine administrators applying tolerations automatically in some cases, such as the case of dedicated machines.

Unschedulable was a hack. Our plan is to deprecate it, use it to control the application of a taint to the node, and control scheduler behavior jus

[2016-08-25 14:29] whitlockjc commented on #31380
I agree that the inconsistency and lack of documentation on this is the real issue.  But as @liggitt suggested, requiring the fully-qualified URI for the subject name in the rules _"is almost impossible to use "_.  I understand the purpose of it but is there a better way to support what we need?

What if we made `--oidc-username-claim` _(or something similar)_, capable of being a composed value, a

[2016-08-25 14:30] ncdc commented on #30489
The initial comment (https://github.com/kubernetes/kubernetes/issues/30489#issue-170785078) wasn't related to exec at all - BeforeEach failed trying to run a pod. I'm unable to locate the appropriate data in the log files to triage.

The error from the second comment (`Unexpected kubectl exec output. Wanted "running in container\n", got  ""`) is a legit flake, but I'm having trouble figuring out w

[2016-08-25 14:47] ericchiang commented on #31380
I would be interested in how we plan to extend this to other auth providers. We're going to want to qualify any field potentially controlled by users. Fields returned by keystone, attributes in LDAP, etc. Is there a general solution where we qualify all identity providers in a reasonable way?

[2016-08-25 14:53] whitlockjc commented on #31380
The pattern approach mentioned above _could_ be used for all assuming that each provider has an object with properties that could be exposed for the composition key.  So while OIDC would use JWT claims, the other providers might use user detail properties, token fields, etc.  So instead of doing stuff behind the code, give the cluster admin control with some reasonable defaults _(documented)_.

[2016-08-25 14:58] whitlockjc commented on #31380
By the way, I'm not suggesting my proposal is awesome and needs to be the implementation to this.  I am advocating for a user-owned approach more than anything, for all cases.

[2016-08-25 15:01] krousey commented on #3955
With my most recent change, kubectl replace and create no longer do round trip conversions on the client side. I believe that covers most of the bugs we had with client-side conversion/defaulting.

[2016-08-25 15:02] deads2k commented on #31380
I think a cluster-admin defined prefix on a per-idp basis makes the most sense.  It puts ownership in the right spot and all idps can be equivalent.

[2016-08-25 15:03] zhulinhong opened #31435 "curl will hang, if service's endpoint is not ready type as nodeport"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## I search the keywords "kube-proxy curl hang"

*_This a BUG REPORT *_ (choose one):

**Kubernetes version** (use `kubectl version`):  1.3

**Environment**:
- **Others**:

**What happened**:
I think it is independence the environment, so I did not desc

[2016-08-25 15:07] whitlockjc commented on #31380
I like that approach as well.  I do wonder how that would look but I guess that would be more along the lines of how Kubernetes supports multiple authn providers of the same type and less about your suggested approach.

Six in one hand, half a dozen in the other.

[2016-08-25 15:19] wojtek-t commented on #31433
Fixed by #31421

[2016-08-25 15:19] #31433 closed

[2016-08-25 15:23] timothysc commented on #31431
+1 from me.  The more you dig into some of the init's the crazier it gets.

[2016-08-25 15:23] mlbiam commented on #31380
Yeah, I think an idp specific prefix is a good idea.  gives you best of both worlds.  k8s can handle multiple idps without becoming an idp, or the complications that come with it.  but it gives idps the flexibility to provide management.  From a practical perspective the important data points are the user's "id" and the groups so adding a prefix probably wouldn't be too much of a burden.  Since it

[2016-08-25 15:26] timothysc commented on #31273
Is this really a P0 item that is going to get fixed properly in 1.4?  this seems more like P0 item for 1.5.

[2016-08-25 15:31] whitlockjc commented on #31380
I agree that an idp specific prefix makes the most sense too.  My proposal was more based on the existing `kube-apiserver` CLI flags and less general.  I'm on the @deads2k bandwagon now.

[2016-08-25 15:34] gergelyke opened #31436 "'google-cloud-sdk' was not found"
Hey,

suddenly all our google-cloud-sdk installations fail - both using the update command and from apt-get
- Version '120.0.0' for 'google-cloud-sdk' was not found
- The component listing for Cloud SDK version [119.0.0] could not be found

`gcloud components update --version 120.0.0 kubectl`

[2016-08-25 15:41] mksalawa commented on #30818
Thanks @asalkeld! This solved the unmarshalling error.

The error message though is still a bit confusing:
`Error from server: the server could not find the requested resource (get services http:heapster:)`
From what I understood, this is because of the proxy error handling. The flow is:
1. Heapster doesn't find the pod - returns status 404
2. The status is redirected to the API server, which make

[2016-08-25 15:51] smarterclayton commented on #3955
Phenomenal

[2016-08-25 15:55] pigmej commented on #30272
cc @dshulyak cc @kubernetes/mirantis

[2016-08-25 16:05] jlowdermilk commented on #30962
@cjcullen can you look into this? Looks like auth problems.

[2016-08-25 16:08] jlowdermilk commented on #30317
This is a dupe of #30571. @jszczepkowski is better owner

[2016-08-25 16:08] #30317 closed

[2016-08-25 16:08] michelleN commented on #29453
@pigmej - There is lots of discussion happening in the #sig-apps channel in the kubernetes slack about app controller. We'd like to get an update and have more discussion around this at the next sig-apps meeting. Would you ping me when you get a chance (slack: @mnoorali or michelle@deis.com) ?

[2016-08-25 16:09] yujuhong commented on #30548
Reassigned to @dchen1107 to triage or delegate. @dchen1107, let me know if you'd like me to take this one.

[2016-08-25 16:18] scottstensland commented on #24028
Please progress the delete of DHCP Options Sets  by kube-down.sh     uncouple this change from dealing with key-pairs  ...  every cluster launch/teardown is leaving dangling DHCP Options Sets

[2016-08-25 16:30] thockin commented on #31337
It's a little magical to do that - if your environment has a real DNS
server, this will bypass it.  I'd rather log an event on the pod and fail
to run it, or better, translate 127.0.0.0/* into the node's IP or something
like that...

On Thu, Aug 25, 2016 at 4:30 AM, Christoph Held <notifications@github.com>
wrote:

[2016-08-25 16:35] k8s-merge-robot opened #31439 "kubelet-gce-e2e-ci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8685/

Run so broken it didn't make JUnit output!

Search build-log.txt for Failure Finished, seems specific to coreos-alpha
 https://github.com/kubernetes/kubernetes/issues/31633

[2016-08-25 16:38] ConnorDoyle commented on #30294
@vefimova

AFAIK they will all need to be [incubated](https://github.com/kubernetes/community/blob/master/incubator.md) as external repositories.

[2016-08-25 16:39] smarterclayton opened #31440 "Proposal: Optimize in memory usage of internal / external types"
At high scales and densities, the internal memory usage of our structs becomes relevant to controllers maintaining caches and the amount of memory used by the api server caches.  We have evidence (https://github.com/coreos/kscale/pull/37/files#diff-a423e914cbd27c95d2c0b950e2e4ee5bR14) that in memory usage of pods is egregiously inflated by use of maps (60% or more).

We should consider representin

[2016-08-25 16:39] smarterclayton commented on #31440
@kubernetes/sig-api-machinery @kubernetes/sig-scalability something to consider in 1.5 if at density we hit memory use limits in our caches.

[2016-08-25 16:41] jianhuiz commented on #31077
This is what I had when I was testing delete federation replicaset.
In our internal demo, we used a work around by removing line `&api.DeleteOptions{},` in file `/federation/apis/federation/register.go`
I suspect this is related to api object registering mechanism which involves object type version overriding or conflicting

[2016-08-25 16:53] pigmej commented on #29453
@michelleN Ok, please add to agenda, we will join slack too (though we're mostly Europe based)

[2016-08-25 16:56] cjcullen commented on #30962
We don't have any logs left from the staging jobs. I'll watch for further flakes.

[2016-08-25 17:03] piosz commented on #28591
This was fixed by  #30080. Please reopen in case or more problems.

[2016-08-25 17:03] #28591 closed

[2016-08-25 17:05] piosz commented on #23376
I will send a proposal and create an issue with work plan.

[2016-08-25 17:05] caesarxuchao commented on #28559
@jimmidyson, we'll publish the repo in this week :)

[2016-08-25 17:05] thockin commented on #3955
w00t!  that's huge.

On Thu, Aug 25, 2016 at 8:52 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-25 17:10] thockin commented on #27247
I'm really not keen on this without understanding the rest of multi-tenancy.  Specifically, the whole notion of nodeports kind of violates multi-tenancy.  Before a PR we would need a really clear proposal with concrete use cases, an API design, and an evaluation of the alternative options, up to and including distinct clusters per user.

We have a semi-regular sig-network call - you may want to jo

[2016-08-25 17:13] krousey commented on #31440
I'm just going to propose this and shoot it down in the same comment.

Could each controller just specify it's own type in which to decode? Like request a `v1.Pod`:

[code]

be deserialized to this custom representation:

[code]

**Why this is a Good Idea:**

It means that each controller can cut down the data to exactly what it needs to work. No more. No less.

:fire: **Why this is an absolutely

[2016-08-25 17:25] fabianofranz commented on #27454
@wu8685 Right. So to close off:

1. `pflag` needs an additional `[]string` type that doesn't do splitting, takes values as-is as provided by multiple `--flag=wu1 --flag=wu2 ...`.
2. `--from-literal=` will use it, so no more string splitting. Closes this issue. Needs a release note.
3. Other flags might also use it. @smarterclayton's [comment](https://github.com/kubernetes/kubernetes/issues/27454#i

[2016-08-25 17:26] #29744 closed

[2016-08-25 17:37] bprashanth commented on #24745
Since the root ingress directory doesn't have a README (https://github.com/kubernetes/contrib/tree/master/ingress), maybe you can open a rough draft and we can start iterating on it? I guess we should make it clearer that if you want cloudprovider ingress you don't need a pod, otherwise you have to deploy something. You can reuse text from: http://kubernetes.io/docs/user-guide/ingress/#ingress-con

[2016-08-25 17:39] yujuhong opened #31444 "kubernetes-e2e-gce-serial: failed to schedule pods because of node was tainted."
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2012/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

The test was trying to create 100 pods per node, and many pods couldn't get scheduled because one node was tainted.
[code]

From apiserver.log, the e2e test

[2016-08-25 17:40] yujuhong commented on #26982
Filed #31444 for the latest failure.

[2016-08-25 17:41] pwittrock commented on #30548
@jlowdermilk Kudos for removing the label

[2016-08-25 17:57] jimmidyson commented on #28559
Awesome! Especially as it's Friday tomorrow :-b

[2016-08-25 17:59] sjenning commented on #31362
Doing some research on how to get better (i.e. low latency) notification of memory pressure.  There is a memcg attribute ```memory.pressure_level``` which will give the following notifications when the cgroup is under pressure:
- low: system is reclaiming "inactive" memory for new allocations
- medium: system is reclaiming "active" memory which might include swap activity
- critical: the amount of

[2016-08-25 18:05] yujuhong commented on #31444
Another question: what components would add taints to nodes?

[2016-08-25 18:21] vishh commented on #31362
I suspect that by the time kubelet reacts to `medium` pressure, there could
be one or more system OOM kills. If we were to run a dedicated OOM daemon,
then I'd be less concerned about using these notifications.
For now, I prefer using `memory thresholds` instead. WDYT?

On Thu, Aug 25, 2016 at 10:59 AM, Seth Jennings <notifications@github.com>
wrote:

[2016-08-25 18:30] quinton-hoole opened #31447 "multi-zone clusters apparently not spreading deployments evenly across zones in some cases"
https://kubernetes.slack.com/archives/sig-federation/p1472135037001188

andrejvanderzee [7:23 AM]
We have started using Federation Light for spreading pods over availability zones by labeling the nodes:
[code]
(edited)

[7:24]
We have many deployments with two replicas, but they are not always spread over dc-01 and dc-02.

[7:25]
Are there any other factors that I should take into consideration?

[2016-08-25 18:32] vishh commented on #30826
How about `kubectl top` printing "no stats available yet" whenever heapster
doesn't have any stats for a newly created pod?

On Thu, Aug 25, 2016 at 5:18 AM, mksalawa <notifications@github.com> wrote:

[2016-08-25 18:32] mikedanese opened #31448 "kubernetes-e2e-{gce,gke}-serial mostly red due to flakes"
preventing an alpha release

[2016-08-25 18:34] sjenning commented on #31362
Yes, I've been doing some tests and, especially for systems with no swap (or ```memory.memsw.limit_in_bytes``` equal to ```memory.limit_in_bytes```), there doesn't seem to be a notification level that is useful :frowning: ```low``` is too easily triggered (happens on any cache reclamation) and ```medium``` and ```critical``` happen too late to be of any use.  If you have swap, then medium is somew

[2016-08-25 18:37] justinsb commented on #31447
Zone spreading is a weighting, not a guarantee (just like node-spreading).  Do the nodes in the zones have roughly equal free capacity etc?  Otherwise the scheduler might consider it more important not to overload a particular node, vs spreading the load.  Consider the case that you have one node in an AZ, and 10 in another: you don't really want to overload that one node.  Nor do you want to _not

[2016-08-25 18:45] Stono opened #31450 "Potential issue with headless service dns"
**Kubernetes version** (use `kubectl version`):
1.3.5

**Environment**:
- **Cloud provider or hardware configuration**: google container engine

**What happened**:
According to your documentation (http://kubernetes.io/docs/user-guide/services/#headless-services), headless services should return a dns entry which is a collection of a records of each of the pods within that service selector - this d

[2016-08-25 18:45] vishh commented on #31362
We recommend disabling swap since it results in unpredictable application
performance in a cluster scenario.

On Thu, Aug 25, 2016 at 11:35 AM, Seth Jennings <notifications@github.com>
wrote:

[2016-08-25 18:56] #30542 closed

[2016-08-25 18:56] #31317 closed

[2016-08-25 19:02] jayunit100 opened #31453 "Decouple E2E Configuration from flag libraries."
**Problem**

The flat flags based config is not scaling + increasingly tricky for users to leverage, _esp for custom test runs_.  There is both a usability issue, and also a technical limitation posed by needing flags for configuring e2es.
- **usability** The e2e flag options represent several "sub programs" each of which has mutually exclusive configuration.   There are approx 42 flags currently.

[2016-08-25 19:10] smarterclayton commented on #31440
I have the custom response type proposal coming (request alternate
representations of objects), which lines up with your proposal a bit.
But in practice small maps are roughly 200-300 bytes each, so 4 small
maps per Kube object is a massive overhead, even on minimal indices.
So yes, we'll get efficiencies from your direction in other places,
but it won't help all controller paths, so I *suspect* b

[2016-08-25 19:25] MHBauer commented on #27335
Dup in code location. Non-dup in error message, but I think it's the same behavior.

[2016-08-25 19:31] andrejvanderzee commented on #31447
@justinsb Let me clarify. Both AZ have equal number of nodes and each node is identical in terms of resources. We see this in two clusters each with two AZs (one has 2 nodes and the other 3 nodes in each AZ). We are not using PetSets nor PVs, just plain Deployments.

At the time of actual deployment, it might be that some nodes have more free space than others, which is difficult to track. But, th

[2016-08-25 19:32] jayunit100 commented on #31453
this is a follow up to #31030

[2016-08-25 19:34] ixdy commented on #31439
Once again, git checkout was super slow, once again on agent-light-4 (like #30075). Pretty suspicious. @kubernetes/test-infra-admins

[2016-08-25 19:34] craigbox commented on #31142
Raised with the gcloud SDK team.

[2016-08-25 19:36] vishh opened #31456 "kubernetes-e2e-gke-gci - [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers failing"
"[Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers failing" test has been failing consistently on GCI.
Most recent failures:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-gci-examples/98
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-gci-examples/97

This is a possible

[2016-08-25 19:36] againer commented on #30936
Yeah, I can make the updates to the Dockerfile.  My solution is a somewhat of a hack.

[2016-08-25 19:38] k8s-merge-robot opened #31457 "[k8s.io] Federation namespace [Feature:Federation] Namespace objects should be created and deleted successfully {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/3392/

Failed: [k8s.io] Federation namespace [Feature:Federation] Namespace objects should be created and deleted successfully {Kubernetes e2e suite}

[code]

Previous issues for this test: #31317

[2016-08-25 19:39] smarterclayton commented on #31440
Correction, 400 bytes for some of the maps.  Compared to an array (8 byte pointer to slice, 8 byte length on slice, 8 bytes per string pair, so ~16 overhead + 16bytes/entry omitting strings) we could save 75-80% of a four entry slice, and likely 90-95% of a 1 item slice.

----

Here's an inuse_space controller heap profile from OpenShift 1.3 perf testing with 5000 namespaces, 20 secrets per ns, 3

[2016-08-25 19:43] yujuhong commented on #27745
Yes, this can wait.

[2016-08-25 19:47] mikedanese commented on #31444
@yujuhong probably another e2e test?

[2016-08-25 19:47] timothysc commented on #31453
/cc @kubernetes/sig-testing

[2016-08-25 19:53] yujuhong opened #31458 "CRI client-side implementation (aka kuberuntime) in kubelet"
Meta issue: #28789

Creating this issue to track the progress of kuberuntime.

- [ ] Support pod/container security context features (e.g., RunAsUser).

Relevant PRs so far: #29884, #30121, #31322, #30267, #31320, #31395, #29811, #31326, #30753, #29811, #30212
Other relevant issues: #30463

[2016-08-25 19:57] yujuhong opened #31459 "Integrate docker with kubelet via CRI"
Meta issue: #28789

This issue tracks the progress of docker integration via CRI.

The initial CRI server-side implementation for docker is in the [`pkg/kubelet/dockershim`](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/dockershim) package. We chose to let the code remain in the kubelet codebase to help with the migration. It will also not go through grpc/protobuf until the feat

[2016-08-25 19:59] k8s-merge-robot opened #31460 "[k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31451/kubernetes-pull-build-test-e2e-gce/56017/

Failed: [k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31451.

Previous issues for this test: #30542

[2016-08-25 20:04] yujuhong commented on #29252
Closing this in favor of the new issue: #31459

[2016-08-25 20:04] #29252 closed

[2016-08-25 20:06] yujuhong commented on #31444
Yeah, I just wanted to rule out components other than the scheduler tests :-)

[2016-08-25 20:10] timothysc commented on #18099
https://github.com/kubernetes/kubernetes/issues/31453

[2016-08-25 20:16] vishh commented on #31456
cc @luxas

[2016-08-25 20:19] janetkuo commented on #30549
Fixed by #31354

[2016-08-25 20:19] #30549 closed

[2016-08-25 20:22] k8s-merge-robot opened #31462 "[k8s.io] ScheduledJob should not schedule new jobs when ForbidConcurrent {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29929/kubernetes-pull-build-test-e2e-gce/56020/

Failed: [k8s.io] ScheduledJob should not schedule new jobs when ForbidConcurrent {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29929.

Previous issues for this test: #30549

[2016-08-25 20:22] janetkuo commented on #29780
Deployment status is as expected, but the list of pods in the system are not. All failed GKE, which doesn't give us controller manager log :/

[2016-08-25 20:24] ixdy commented on #25730
If we're going to build ppc64le binaries for official releases, we probably want a script for cross compilation. I'm not sure who's owning building ppc64le for CI. Google is currently owning the `make release` cross build, though it doesn't have ppc64le right now. We aren't doing any testing though, as you probably know.

[2016-08-25 20:24] ixdy commented on #25730
And our CI runs entirely on amd64.

[2016-08-25 20:25] ixdy commented on #25730
To be more decisive:  if `make release` did the right thing and built amd64, arm64, and ppc64le (as it used to), I would be happy.

[2016-08-25 20:32] wernight commented on #24745
Who'd be the target of that README? As you pointed out, there is already http://kubernetes.io/docs/user-guide/ingress/#ingress-controllers.  Shouldn't that one get updated instead?

[2016-08-25 20:33] luxas commented on #25730
ref: https://github.com/kubernetes/kubernetes/pull/26863

First target is to actually make it possible to run the whole e2e infrastructure on amd64 on top of any Kubernetes cluster.
Second target is to cross-build all images needed for k8s-on-k8s testing
Third target is to make it possible for IBM to set up a ppc64le e2e testing k8s cluster and those results should show up on k8s-testgrid
Fourth t

[2016-08-25 20:35] caesarxuchao commented on #28559
@jimmidyson check this out: https://github.com/kubernetes/client-go

One problem is that `go get k8s.io/client-go/1.4` doesn't work. I'll try to figure out why.

Except from an e2e test, I haven't tried to use client-go for real, so I expect it to still have some problems. Please let me know.

[2016-08-25 20:39] jimmidyson commented on #28559
Nice! I can live with problems & will raise issues/fixes if I hit some. Out of interest, why the 1.4 subpackage? Shouldn't the client be versioned against the API version rather than the kubernetes version?

[2016-08-25 20:40] fejta commented on #31187
Closing under the assumption this is a one off

[2016-08-25 20:40] #31187 closed

[2016-08-25 20:43] k8s-merge-robot opened #31464 "kubernetes-e2e-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/7981/

Multiple broken tests:

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26490

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a RW PD, gracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[2016-08-25 20:44] fejta commented on #30667
@dchen1107

https://github.com/kubernetes/kubernetes/blob/1952986a345b2106fc165530592eb9c689decc10/test/e2e_node/e2e_remote.go#L162

You could try adding some `man wget ` flags to the wget command like `--retry-connrefused` `--tries` `--waitretry`... or just ignore this as a one off

[2016-08-25 20:45] xiang90 commented on #29542
We just met the exact same issue. It does not work for current master either.

@pwittrock Should this be considered as a bug? Why this is a p2 issue?

[2016-08-25 20:46] caesarxuchao commented on #28559
why 1.4: https://github.com/kubernetes/client-go#releases

For clients versioned against API version: https://github.com/kubernetes/client-go/tree/master/1.4/kubernetes/typed

[2016-08-25 20:47] bgrant0607 commented on #30272
I should add that we've planned since before the node controller existed to add finer granularity node status reporting. The new node problem detector is part of that, but we also planned to add a node reachability check to enable the node controller to distinguish kubelet outages and node outages.

[2016-08-25 20:51] krousey commented on #28559
@caesarxuchao you need to set up a redirector for it

[code]

versus

[code]

[2016-08-25 20:57] euank commented on #25988
Yup. It could be addressed sooner too if rkt's app-level operations get resolved prior to CRI being ready for prime-time, or by adding a suitably flexible DAG to rkt's existing pod model, but I think leaving this alone until fixed by the CRI integration makes the most sense.

[2016-08-25 21:01] vishh opened #31465 "Starting docker containers directly using docker client fails"
On a cluster using GCI, I'm not able to create docker containers using the docker CLI. On further introspection, it looks like `docker0` bridge is being deleted. I consider this a regression. K8s used to allow creating docker containers out of band and in-fact it is a feature that is taken into account as part of k8s node features.
To further exacerbate this issue, `docker0` exists on containervm.

[2016-08-25 21:02] quinton-hoole commented on #31447
Closing for now.  Does not seem like a bug.  Feel free to re-open once you've studied the scheduling code as discussed on slack @andrejvanderzee

[2016-08-25 21:02] #31447 closed

[2016-08-25 21:03] bprashanth commented on #24745
The user guide is targetted at users, i.e they're not going to write their own controller. You can imagine a paas where the admin installs the nginx controller by visiting ingress repo and reading docs, and points all users of the paas to ingress user docs. There's some freedom to what we put in the readme, though we should maximize reuse.

[2016-08-25 21:06] vishh commented on #31456
The `endocode/celery-app-add` container fails only on GCI.

Try `docker run endocode/celery-app-add` on GCI and you will run into the track trace posted in https://github.com/kubernetes/kubernetes/issues/31456#issuecomment-242529565

cc @adityakali @wonderfly

[2016-08-25 21:06] #31460 closed

[2016-08-25 21:06] justinsb commented on #31447
Or if you can capture some logs from the scheduler, that would also help diagnose.  This is a heuristic unless you're using volumes or some other constraint, so if you have a log that shows poor placement we could tweak the heuristics!

[2016-08-25 21:08] vishh commented on #31456
cc @dchen1107

[2016-08-25 21:11] andrejvanderzee commented on #31447
The scheduling algorithm spreads over nodes and mixes in zones when it has the fail-over labels. Unfortunately, it hard-coded a magic number for combining node and zone scheduling:

Note the TODO.

[2016-08-25 21:15] freehan commented on #31465
During GCI start up, `docker0` got deleted to avoid overlapping cidr with `cbr0`. #26379
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L511

ref: #29756

[2016-08-25 21:16] bprashanth commented on #31465
there's no need to delete docker0 afaik. It was deleted on gci master to fix the "overlapping cidr" problem, i.e we were supplying `--pod-cidr=(default docker0 cidr)` to kubelet on GKE master, and this resulted in 2 bridges with the same cidr. At the time I'd suggested passing the correct cidr. Don't remember where this discussion ended.

Note that containers on docker0 with/without cni are broken

[2016-08-25 21:21] bprashanth commented on #31465
This shouldn't cause docker crashes? you should still be able to create containers, just no networking. And networking is broken through docker CLI anyway because of the cni issue mentioned, or are you observing something different?

[2016-08-25 21:24] #31385 closed

[2016-08-25 21:26] freehan commented on #31465
`docker run` will return `docker0 not found` error. Have to add `net=none`

[2016-08-25 21:33] mikedanese commented on #31444
Ahh gotcha.

[2016-08-25 21:37] pwittrock commented on #29542
@xiang90 Sounds like a bug.  Re: the priority, it was a rough estimate.  If you think things need a higher priority and attention, ping the thread and I will give it more attention.  If you need this fixed immediately let me know and I will shuffle things around.

[2016-08-25 21:40] xiang90 commented on #29542
@pwittrock Thank you!

We can workaround this by using cURL. But it is not ideal. :)

[2016-08-25 21:43] Stono commented on #31450
Hmmmmmmmm so, something (i'm blaming kubernetes, even though it was probably my fault) got things in a twist, when I explicitly deleted everything, it now works as expected

[2016-08-25 21:43] #31450 closed

[2016-08-25 21:46] pwittrock commented on #29542
I plan to have this fixed in 1.5.  Do you think that is sufficient?

[2016-08-25 21:49] yujuhong commented on #27630
Unfortunately, influxdb is still OOMing in the soak cluster.

[2016-08-25 21:53] xiang90 commented on #29542
sure. thanks.

[2016-08-25 21:59] yifan-gu commented on #31384
cc @bgrant0607

[2016-08-25 22:01] lavalamp commented on #31262
Looks like we stopped seeing these after #31371 merged.

[2016-08-25 22:01] #31262 closed

[2016-08-25 22:21] lavalamp commented on #3955
@krousey is there more to do or can we close this issue?

[2016-08-25 22:32] lavalamp commented on #31431
Yeah, I'd like to get rid of inits in the api machinery registration path
but it's going to take a few rounds of PRs. I've been trying to get these
changes in since before 1.3...

On Thu, Aug 25, 2016 at 8:23 AM, Timothy St. Clair <notifications@github.com

[2016-08-25 22:37] timstclair opened #31469 "[AppArmor] Don't schedule AppArmor pods to older nodes"
If the scheduler is a newer version, but the nodes are not, we should prevent pods with AppArmor options from being scheduled on the older nodes.

Options:
1. Use the reported kubelet version in the node info to determine whether a node is "AppArmor aware". Rely on the Kubelet to reject the pod if the node does not meet the [AppArmor prerequisites](https://github.com/kubernetes/kubernetes/blob/mas

[2016-08-25 22:39] lavalamp commented on #31440
This would be a massive undertaking.

On Thu, Aug 25, 2016 at 12:39 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-25 22:46] lavalamp commented on #31407
This happened a few times in a row and then stopped. Probably something was fixed. Will investigate more carefully if it happens again.

[2016-08-25 22:46] #31407 closed

[2016-08-25 22:47] #27320 closed

[2016-08-25 22:48] mikedanese commented on #31444
ref #31448

[2016-08-25 22:49] mikedanese commented on #31428
ref #31428

[2016-08-25 22:50] mikedanese commented on #30571
ref #31428

[2016-08-25 22:51] mikedanese commented on #30519
ref #31428

[2016-08-25 22:52] mikedanese commented on #28722
#31428

[2016-08-25 22:56] mikedanese commented on #29514
ref #31428

[2016-08-25 22:57] vishh commented on #31465
Since `docker0` bridge has been deleted, docker run by default will fail unless one overrides the network ns to be host or none.

[2016-08-25 22:58] krousey commented on #3955
@lavalamp Because of the way we do patching (relies on data being of the same version and also needs versioned struct tags for merge strategies), anything that computes a strategic merge patch still does client side conversion. I may have missed a few, but that's `apply`, `edit`, `label`, and `annotate`. I think `label` and `annotate` don't have any danger of introducing fields that have defaultin

[2016-08-25 22:58] janetkuo opened #31472 "ScheduledJob sees finished jobs as unexpected"
SJ controller keeps emitting warning events `UnexpectedJob: Saw a job that the controller did not create or forgot` on jobs that are already finished and removed from SJ active list.

cc @erictune @soltysh

[2016-08-25 22:59] mikedanese commented on #30187
ref #31448

[2016-08-25 23:01] pwittrock commented on #29542
@AdoHe Do you have time to look into this?

[2016-08-25 23:11] vishh commented on #31456
False alarm. This test is completely broken. The celery docker container does not come up on most distros including container-vm, coreos, rhel, gci, etc. The test is passing on container-vm possibly because of a race. The test performs an exec to get a log file. The exec is racy since the failing celery container can exit anytime.
I'm going to mark that test as broken and update the documentation

[2016-08-25 23:13] bprashanth commented on #31465
so what we're really losing is the ability to docker run then talk to others (external internet, other pods) without net=host on GCI. This is useful and we should fix it, as mentioned earlier we probably don't need to delete docker0. docker run + others talking to us is broken because of the cni change, and will be broken even with docker0 (IMO this is fine).

[2016-08-25 23:14] philk commented on #28710
This also happened to me on an upgrade 1.2.5->1.3.5 (kubelet not adding the annotation).

Fixed with:
[code]

[2016-08-25 23:20] vishh commented on #31465
cc @thockin @yujuhong

[2016-08-25 23:21] vishh commented on #31465
Yeah. I'd prefer ignoring docker0 as long as it doesn't affect kubelet
functionality.

On Thu, Aug 25, 2016 at 4:14 PM, Prashanth B <notifications@github.com>
wrote:

[2016-08-25 23:23] AdoHe commented on #29542
ok, will fix this asap.

[2016-08-25 23:25] thockin commented on #31465
Vish pointed out that of docker dies, docker0 comes back.  Given that we
should be consistent.  Either force docker not to create a bridge at all,
EVER, or just ignore docker0.  We may even want to consider assigning --bip=
169.254.123.0/24 or something, so we can reliably use 172.* for clusters
eventually.

On Thu, Aug 25, 2016 at 4:22 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-08-25 23:30] AdoHe commented on #31435
@thockin ptal.

[2016-08-25 23:34] vishh commented on #31456
ping @kbeecher the original author of the celery+rabbitmq example. Will you be able to fix the celery container?

[2016-08-25 23:44] vishh commented on #30799
@thockin its possible that my description was unclear. Let me try again. The proposal is as follows:
* Kubelet will support best effort evictions only on one partition. All best effort usage of disk either via volumes or rootfs or logs will have to be on that parition
* All additional storage partitions will be dedicated for non best-effort scenarios, where the pod specifies a disk limit. Kubelet

[2016-08-25 23:44] bprashanth commented on #31435
We should jump to REJECT for the given destination port if there're no endpoints. Sounds like that isn't happening.

[2016-08-25 23:47] thockin commented on #31435
This is because we set a REJECT rule for the service IP but we do not set a REJECT for the nodePort or for the LB VIP.  What we really should do is detect all cases and reject.  Conveniently we have logic that does this - it is the DNAT rules.  Unfortunately, that is in the nat table and REJECT has to happen in the filter table.

@freehan just added a common way to mark packets for DROP.  Maybe we

[2016-08-25 23:51] janetkuo commented on #31472
s/completed/finished/g

[2016-08-25 23:57] feiskyer commented on #31458
@yujuhong It's better to make two list of those PRs: merged and on-reviewing ones.

[2016-08-26 00:00] #31183 closed

[2016-08-26 00:10] caesarxuchao commented on #28559
`go get k8s.io/client-go/1.4/...` works now.

I'll close this issue. Feel free to open new issues to report bugs.

[2016-08-26 00:10] #28559 closed

[2016-08-26 00:18] k8s-merge-robot opened #31479 "[k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/22257/

Failed: [k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}

[code]

Previous issues for this test: #30542 #31460

[2016-08-26 00:23] ixdy commented on #31479
@janetkuo seems to be differently broken now?

[2016-08-26 00:23] ixdy commented on #31479
cc @soltysh

[2016-08-26 00:25] freehan commented on #31435
What if we just drop it??

[2016-08-26 00:28] bprashanth commented on #31435
Reject gives away less information than drop to a port scanner because it looks like any other unoccupied port. If we drop random ports people might figure out something should/will soon be there. Haven't spent enough time thinking about corner case exploit vectors where this might matter.

[2016-08-26 00:29] euank commented on #31384
I think what makes it confusing is that `subPath` is really an attribute of the volume source (it modifies the volume source path), not the `VolumeMount`. As such, it being attached to the volume mount ends up with the API being icky in this case.

I think it would have been cleaner to implement it as its own type of volume for consistency... and it also would make this change easier to model for

[2016-08-26 00:31] freehan commented on #31435
based on http://www.chiark.greenend.org.uk/~peterb/network/drop-vs-reject
It looks like DROP send no response. And REJECT send back ICMP destination-unreachable.

[2016-08-26 00:34] janetkuo commented on #31479
This is not SJ specific. Parent issue #29308. Closing.

[2016-08-26 00:34] #31479 closed

[2016-08-26 00:39] janetkuo opened #31481 "When a namespace is deleted, its ScheduledJob (if existed) should be deleted too"
Found that ScheduledJob isn't deleted after its namespace is deleted while debugging e2e tests.

cc @erictune @soltysh

[2016-08-26 00:40] erictune commented on #30603
That is a pickle.

[2016-08-26 00:45] ronnielai opened #31482 "GKE disk eviction default settings"
GCE disk eviction threshold is enabled with a 10% default in 1.4. Filing this issue to consider enabling disk eviction in GKE in 1.4.

cc @vishh

[2016-08-26 00:48] m1093782566 commented on #31411
close it here and move to # .

[2016-08-26 00:48] #31411 closed

[2016-08-26 00:51] davidopp commented on #31444
@yujuhong Yes, I agree with you and @mikedanese.

@kevin-wangzefeng can you please take a look at this?

[2016-08-26 00:55] euank commented on #30144
I don't think there's any reason to have this issue open. The title is about nsinit, and unless you disagree with my [comment ](https://github.com/kubernetes/kubernetes/issues/30144#issuecomment-237979803) above, I think that we can all agree we shouldn't use nsinit.

Switching to using native runtime exec can be discussed separately, and already is a bit as part of #30225. IMO this should be move

[2016-08-26 01:00] m1093782566 opened #31484 "[kube-proxy] Fix some naming errors and sentence breaking"
**Is this a request for help?**

Currently, the 4th parameter name of updateServiceListener in kube-proxy is **addOrDelete**, [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/healthcheck/api.go#L36)

However, from the func caller, we just pass `true` for **AddServiceListener**, [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/healthcheck/api.go#L50)

and `

[2016-08-26 01:19] spxtr commented on #27462
BTW this is a problem with the Git plugin, not the GitHub PR Builder plugin.

[2016-08-26 01:20] thockin commented on #31435
Yeah, we talked about making your MARK-DROP do a reject but you advocated
for black ole rather than reject.  DROP emulates a dead machine.  REJECT
emulates a live machine but dead port.  That is what we want for services.

Would it be bad if your firewall rules rejected?  I don't know.

Would it be bad to consume a 3rd bit for REJECT (alongside DROP and MASQ)?

On Aug 25, 2016 5:32 PM, "Minhan Xia

[2016-08-26 01:26] ixdy commented on #27462
What makes you say that? [From a recent run](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/31064/kubernetes-pull-build-test-e2e-gce/56049/build-log.txt):

[code]

Note how the branch being checked out suddenly changed. I assume that is the GitHub PR Builder plugin's fault, not git.

[2016-08-26 01:29] girishkalele commented on #30228
Seems like this should be looked at by the node team - not sure what this feature does.

[2016-08-26 01:30] girishkalele commented on #30228
@pwittrock I might have missed this if you mentioned it in today's community meeting but are we allowed to move the flakes to the correct team once triaged ? This looks like it should be the node team (pod garbage collection).

[2016-08-26 01:30] zhouhaibing089 commented on #30603
@erictune yeah, it is, considering k8s has the pull secrets so that k8s is able to run some private images, to make this functionality complete, we may add the secret in webhook call as well, so the data would be:

1.  ImageName
2.  Annotations
3.  Pull Secrets

[2016-08-26 01:34] smarterclayton commented on #3955
For operations not on the server we can either implement one patch
calculation for each API version kubectl supports, or split defaulting
into its own pass and allow conversion without defaulting (we are
going to have to do that anyway for other reasons).  The latter could
still introduce patch artifacts.

The "set" commands are going to end up having a lot of internal code
that needs patch.  I wo

[2016-08-26 01:35] smarterclayton commented on #31440
I don't think it would be that bad.  I tried this for resource list
while trying to reduce it and it was 60-80 files, but lots of trivial
changes.

[2016-08-26 01:35] cjcullen commented on #30617
@jmhodges I would expect that flow to work. The "server has asked for credentials" error means that the credentials that kubectl is using are not getting authenticated for some reason (but it looks like your gcloud commands are working fine with them). I'll take a closer look tomorrow.

[2016-08-26 02:04] mikekap opened #31487 "kubectl drain does not attempt to wait for any rescheduling"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): _FEATURE REQUEST_

**Kubernetes version** (use `kubectl version`): 1.3.5

**Environment**:
- **Cloud provider or hardware configuration**: AWS EC2 (using Autoscaling)
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial

**What happened**:
When doing a rolling update of the nodes, I ran into some downtime even though I was carefully drainin

[2016-08-26 02:08] adityakali commented on #31456
Some more details from our debugging session. The container keeps running into error at getaddrinfo /usr/local/lib/python2.7/dist-packages/amqp/transport.py line 75 with 'Name or service not found'. This is similar to what we had seen previously with a glibc bug (https://sourceware.org/bugzilla/show_bug.cgi?id=15946) on older version. The container uses glibc 2.19 which is affected by it. Hence th

[2016-08-26 02:12] #30783 closed

[2016-08-26 02:19] spxtr commented on #27462
I hit this issue in a test job that didn't use the PR builder plugin, only the Git plugin. I deleted the test job and now I can't find the logs.

The PR builder plugin just triggers the jobs with the appropriate parameters. It doesn't actually do the checkout.

[2016-08-26 02:29] aaskey opened #31488 "kubectl proxy failed to run as a service or sudo in GCE"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCP VM & GCP container cluster
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:
In a GCE instance, failed to run kubectl proxy as a service or sudo, the same command ran successfully in command line as current user.

On Mac,

[2016-08-26 02:37] caesarxuchao commented on #30871
FWIW, now apiserver in desity test uses ~1GB memory (some build log don't show this metric), in load test uses ~1.8GB memory
http://kubekins.dls.corp.google.com:8080/job/kubernetes-e2e-gce-scalability/10237/consoleFull

Jenkins only keeps logs for 7 days. Is there any way to access older logs?

[2016-08-26 03:09] k8s-merge-robot opened #31492 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16236/

Run so broken it didn't make JUnit output!

[2016-08-26 03:11] dims commented on #13598
Am not sure if the approach i came up with in https://github.com/kubernetes/kubernetes/pull/31491 is acceptable or not. PTAL

[2016-08-26 03:59] girishkalele commented on #30169
Closed via https://github.com/kubernetes/test-infra/pull/452

[2016-08-26 03:59] #30169 closed

[2016-08-26 04:50] #30028 closed

[2016-08-26 05:32] qiujian16 commented on #31365
--authorization-rbac-super-user should be set as {issuer}#{user}, in your case, it maybe something like --authorization-rbac-super-user=https://kcdev.tremolosecurity.com:8443/auth/realms/kubernetes#mmosley.ent2k12.domain.com

[2016-08-26 05:41] asalkeld commented on #31417
It is probably a glog(err) and the print before os.Exit

Here is the print with a "\n"
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/kubelet.go#L49

[2016-08-26 06:02] tatsuhiro-t commented on #30213
It looks like 999999 is OK.  But 1000000 is encoded as 1e+06.

[2016-08-26 06:16] #20092 closed

[2016-08-26 06:23] wojtek-t commented on #30871
@caesarxuchao - yes, you can take then from GCS, I think they should be there for a month (but you need to know the build number you are interested in)
For scalability suite, the logs are here:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/?project=kubernetes-jenkins

[2016-08-26 06:29] anioool opened #31496 "Created deployment with RC creates and terminates pods constantly"
Hi,

Since yesterday I am facing problem with creation new deployments and pods assigned to those deployments. Due to some reason RC creates a lot of pods and right after terminates them. My pod require to have volume attached in AWS so I assume that is not possible to attach/detach volume more than several times within one minute.

Output from get pods command:
xxx-20150918-15-852712-3444524503-0

[2016-08-26 06:30] wojtek-t commented on #31262
Which was expected BTW :)

[2016-08-26 06:30] MKhotele commented on #31422
I am facing similar problem wirh k8s v1.3.3. I had created a k8s cluster on aws with 6 minions. On editing the corresponding aws auto-scale group to have min=desired=8 events (max=16), 2 new minion ec2 instances do get started. But when I run "kubectl get nodes" it shows only 6 instead of 8 nodes.

[2016-08-26 06:37] wojtek-t commented on #31440
I generally think it would be useful. However, we need to do that in a way to not make the cpu-usage visibly worse (though I agree that at least for some fields the optimization should work).
In other words, I'm not sure where the boundary for number of elements it, but my guess is that it would be lower than O(50)...

[2016-08-26 06:41] cheld commented on #31337
@thockin a resolve for a company internal DNS would not work, but neither does it work right now....

Host IP would be very nice, but it is not working on my machine. I assume it requires configuration changes on host to make dnsmasq accept connections.

[code]

However, kubelet has access to the host and could determine the DNS server returned by DHCP and generate a resolv.conf file to be used.

[2016-08-26 06:53] bgrant0607 commented on #31384
cc @saad-ali @matchstick @thockin

[2016-08-26 07:08] rmahajan2420 commented on #31422
I have found the solution. Check the tas of your running instances, you need to create a tags at the time of instance creation. U need to add create-tags command in user data.. Hope it helps.

[2016-08-26 07:20] k8s-merge-robot opened #31498 "[k8s.io] Job should run a job to completion when tasks sometimes fail and are not locally restarted {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14112/

Failed: [k8s.io] Job should run a job to completion when tasks sometimes fail and are not locally restarted {Kubernetes e2e suite}

[code]

[2016-08-26 07:23] wu8685 commented on #27454
I prefer `StringArray` considering backward compatibility.
@all If there is no other questions, I am going to open a issue in pflag to add this type.

[2016-08-26 07:36] ixdy commented on #31492
This time it was a slow `git checkout` on CI Jenkins. Wonder if GitHub is just having trouble lately? @fejta @spxtr

[2016-08-26 07:40] #31355 closed

[2016-08-26 08:06] wojtek-t commented on #31427
Fixed by #31421

[2016-08-26 08:06] #31427 closed

[2016-08-26 08:16] MKhotele commented on #31422
I didn't created the instances manually. AWS created the instances automatically, because I had updated the auto-scale group. Can I influence this process for adding the tags? How?

By the way, I checked and see that previous and new instances both have same tags:

- KubernetesCluster
- Name
- Role
- aws:autoscaling:groupName

And with previous version, i hadn't faced such issue.

[2016-08-26 08:25] wojtek-t commented on #31105
There are 3 different issues in this bug:
1. too high resource consumption (or too strict limits on our side) - #31500 should fix it
2. inability to remove namespace: https://github.com/kubernetes/kubernetes/issues/31105#issuecomment-242167410
[I looked into it, and it was because events etcd didn't even come up in this test.
The problem here is that we are not collecting logs from etcd in kubemar

[2016-08-26 08:53] #27646 closed

[2016-08-26 08:56] mdshuai opened #31501 "kubelet summary stats api reports wrong imagefs inodes"
**Kubernetes version** (use `kubectl version`):
v1.4.0-alpha.3.44+d3ecad111e5641-dirty

**What happened**:
Two issue:
1) There is no imageFs.inodesFree
2) imageFs.inodes is equal to rootfs.inodes
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/stats/summary.go#L137

**What you expected to happen**:
Show imageFs inodes and inodesFree info correctly

**How to reproduce it** (

[2016-08-26 09:02] k8s-merge-robot opened #31502 "[k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14117/

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]

[2016-08-26 09:02] k8s-merge-robot opened #31503 "kubernetes-soak-continuous-e2e-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6471/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]

Issues about this test specifically: #26784 #28384

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resourc

[2016-08-26 09:48] wojtek-t commented on #31105
- The first one should be fixed by #31500
- The second one will be fixed by #31508

- The third problem is actually related to pod-nanny, which is frequently sending list requests to apiserver. It should be rewritten to use watch instead.

[2016-08-26 10:02] dshulyak commented on #30272
@davidopp @kevin-wangzefeng Hi, please review this summary.

In node controller part, where pods are evicted based on observed ready condition, the following taint will be added - system=node-outage:NoSchedule. Based on appearance of this taint (and any other) separate controller (or another routine in node controller) will start eviction process, comparing taints with tolerations and orchestratin

[2016-08-26 10:17] jhou1 opened #31511 "Race condition during cinder volume detach and delete"
# Problem

Using a dynamic provisioned cinder volume, when the PVC is deleted, PV entered **FAILED** status. It looks like volume detaching and deleting happened at the same time. After a while, I found my PV and volume eventually deleted. I feel obligated to post the issue I have met here.
# Version

[code]
# kube-controller-manager.log

[code]

[2016-08-26 10:44] anioool commented on #31496
Hi,

I found that controller-manager pod from kube-system namespace is constantly restarting. From logs I can see following stacktrace:

time.Sleep(0x6c088e200)
	/usr/local/go/src/runtime/time.go:59 +0xf9
k8s.io/kubernetes/pkg/cloudprovider/providers/aws.(*CrossRequestRetryDelay).BeforeSign(0xc8208586f0, 0xc82fcd62c0)
	/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/pkg/cloud

[2016-08-26 10:49] k8s-merge-robot opened #31513 "kubernetes-e2e-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10394/

Run so broken it didn't make JUnit output!

[2016-08-26 10:52] wojtek-t commented on #31105
Since the main issue is fixed, I'm decreasing the priority.

[2016-08-26 11:08] jessehu commented on #27149
Hi @VinayKumarbrsoft I'm using k8s 1.3.5 and get the same issue.  Do you mean this: replace "https://bootstrap.saltstack.com | sh -s" with "dnf install -y salt-minion", then re-run "kube-up.sh" ?

But "dnf install -y salt-minion" installs the same version that installed by "https://bootstrap.saltstack.com | sh -s"

sudo dnf install -y salt-minion
Last metadata expiration check: 0:29:16 ago on Fri

[2016-08-26 11:39] #28378 closed

[2016-08-26 11:55] AdoHe commented on #27454
@wu8685 please help fix the upstream and then update here, you own this issue now.

[2016-08-26 11:57] zhulinhong commented on #31435
Is there certain way to fix this issue ? I hope I can to try it firstly.

[2016-08-26 12:02] sttts commented on #28188
We will get wget output with https://github.com/kubernetes/kubernetes/issues/28188 in order to understand whether we have dns issues or connection issues.

Relabeling as P2 because this issue only happened often on June 29, but otherwise last time 11 days ago and 24 days before.

[2016-08-26 12:06] sttts commented on #26210
This issue exists for months already. We have improved the situation quite a bit, down from 3-4 per day to around once a day (compare discussion around https://github.com/kubernetes/kubernetes/issues/26210#issuecomment-237380144). We know how to workaround the flake, but that would hide an actual issue.

[2016-08-26 12:06] miradam opened #31517 "LDAP support for k8s authentication"
Hello, is LDAP authentication plugin envisioned for user accounts authentication?

[2016-08-26 12:06] m1093782566 commented on #31484
Fixed!

[2016-08-26 12:06] #31484 closed

[2016-08-26 12:10] AdoHe commented on #23402
@kubernetes/kubectl can close this issue now.

[2016-08-26 12:10] AdoHe commented on #21585
@kubernetes/kubectl can close this now.

[2016-08-26 12:31] sttts commented on #29397
The logs above show 3 different symptoms:

- TLS handshake problem between kubectl and apiserver
- missing credential for the apiserver
- timeout of scale process

The first and seconds seems unrelated to this test and the third happens with 2 other unrelated tests failing. So I think this is not critical until it happens again in much higher frequency. Removing the priority.

[2016-08-26 12:36] wojtek-t commented on #31105
For the third problem, I've just sent out: https://github.com/kubernetes/contrib/pull/1637 for review.

Once that one is merged, we should build the new image and bump tags in our config files.

[2016-08-26 13:02] sttts commented on #27673
Duplicate of https://github.com/kubernetes/kubernetes/issues/27680

[2016-08-26 13:03] sttts commented on #27673
Reopening. It's actually another test, maybe the same issue.

[2016-08-26 13:03] sttts commented on #26955
Might be the same issue as https://github.com/kubernetes/kubernetes/issues/27680

[2016-08-26 13:35] sttts commented on #27680
I analysed this flake instance: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21576/

It looks like the pfpod container terminates, the kubelet realizes that and wants to remove the network interface from the net ns using CNI via kubenet. This fails two times (somehow TeardownNetwork is called multiple times, succeeds twice, but fails after that; compare https

[2016-08-26 13:39] piosz commented on #27630
@yujuhong unfortunatelly influxdb wasn't successfully bumped yet. I created PR #31519, which should help for OOMs

[2016-08-26 13:44] k8s-merge-robot opened #31520 "[k8s.io] Kubelet metrics api when querying /stats/summary it should report resource usage through the stats api {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8713/

Failed: [k8s.io] Kubelet metrics api when querying /stats/summary it should report resource usage through the stats api {E2eNode Suite}

[code]

Previous issues for this test: #26285 #26431

[2016-08-26 13:54] Yannovitch commented on #23241
I still encounter this issue "Failed to start etcd.service: Unit etcd.service not found"
(trying to deploy Kubernetes on one node, with master+worker role, Ubuntu 16.04 on a fresh VM)

[2016-08-26 14:32] deads2k opened #31521 "StorageClass should not be in the extensions group"
The `extensions` group isn't meant to be an incubator group, its intended to hold the things already in it, resources directly related, and `thirdpartyresource`.  We've actually gone to some effort to migrate some types out: `HPA` and `Jobs` as a for instance.

Different APIs want to move at different cadences and new resources should start off in an alpha version while they sort out what they rea

[2016-08-26 14:33] deads2k commented on #31521
Introduced in https://github.com/kubernetes/kubernetes/pull/29694, types here: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L924

[2016-08-26 14:35] liggitt commented on #31521
`storage.k8s.io/v1alpha1` or something like it would be better

[2016-08-26 14:39] deads2k commented on #31521
I think that makes a lot of sense.  That group would be the final resting place of PV and PVC for their next rev to help us retire the legacy API group.

[2016-08-26 14:42] whitlockjc commented on #31365
Is this documented anywhere?  I've not been able to find it outside of code.

[2016-08-26 14:49] derekwaynecarr commented on #31501
what storage driver are you running w/ docker?

I suspect devicemapper, but can you return the output `docker info`?

devicemapper should be showing no inodes value at all

[2016-08-26 15:02] mdshuai commented on #31501
yes, storage driver is devicemapper. If there is no inodes, don't know why set [ImageFs.Inodes:         sb.rootFsInfo.Inodes](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/stats/summary.go#L137)

[2016-08-26 15:09] derekwaynecarr commented on #31192
I thought about this more and decided that in the case of no dedicated imagefs, the ranking and reclaim functions for imagefs based thresholds would match those as nodefs thresholds so we match the current summary API behavior.

[2016-08-26 15:13] ecordell opened #31524 "Proposal: Sending secrets to the ImagePolicy Admission Controller Backend"
# Motivation

Currently the only data sent to the ImagePolicy webhook backend is the image name or digest, and a subset of the pod annotations (matching `*.image-policy.k8s.io/*`). There are a number of cases where a webhook backend will need to authenticate itself with other services - in these cases it would be nice to store those secrets in kubernetes and send them to the backend when needed.
#

[2016-08-26 15:16] zhouhaibing089 commented on #30603
Ref: https://github.com/kubernetes/kubernetes/issues/31524

[2016-08-26 15:22] derekwaynecarr commented on #31501
the issue is that the value set is a pointer, and in the case of
devicemapper, it should have been reporting a nil value for the pointer
(same was what inodesFree is showing in your scenario).

is this on loopback or something else?  it's a bug in cadvisor if you are
seeing a value set.

On Fri, Aug 26, 2016 at 11:02 AM, DeShuai Ma <notifications@github.com>
wrote:

[2016-08-26 15:32] zhouhaibing089 commented on #31524
I would say the the secret name is a common case, so eventually it would become a field in `ImageReviewSpec`, but yeah, I understand that features generally go through annotation firstly.

Though I have one question still, is it necessary to attach the secrets as annotations? IIUC, when user would like to run some private images in k8s, user must provide the pull secrets in their [podspec](https:/

[2016-08-26 15:34] derekwaynecarr opened #31527 "kubectl delete all --all no longer deletes a useful all"
For example, it does not delete deployments or replica sets.

/cc @kubernetes/rh-cluster-infra @kubernetes/kubectl @smarterclayton

[2016-08-26 15:48] kargakis commented on #9979
Closing, this shouldn't be an issue right now.

[2016-08-26 15:48] #9979 closed

[2016-08-26 15:50] deads2k commented on #31527
Someone tried to fix this and the pull was reverted.  I don't remember why.

[2016-08-26 15:51] deads2k commented on #31527
Here's the current pull: https://github.com/kubernetes/kubernetes/pull/30199

[2016-08-26 15:54] zhouhaibing089 commented on #31481
Sorry, but what is **SJ**?

[2016-08-26 15:56] deads2k commented on #31524
@kubernetes/sig-auth

The point of our secrets API is to make secrets available to the kubelet and to the pod, I'm don't think our secrets should be used as a general store of "this is a useful secret".

I think I'd expect that an ImagePolicy evaluation API server would have a set of credentials that identified the ImagePolicy API server, not the same credentials that were used by a pod or a kubel

[2016-08-26 16:04] bprashanth commented on #31435
insert a jump to the REJECT target in the filter table INPUT chain for the given destination port and retry curling

[2016-08-26 16:06] ecordell commented on #31524
If that's the case full-stop, then I suppose that's the end of this proposal. That wasn't my understanding of the secrets API, though.

The cases we're considering do not use the *same* credentials (e.g. image pull secret) as the pod, but rather there are additional secrets that should be associated with a pod.

For example: you have a restricted OAuth token for read-only access to image scanning

[2016-08-26 16:07] liggitt commented on #31524
I also would not expect user-level secrets to have to be given to the image policy evaluator... why wouldn't the evaluator have its own access to the image registries to make a run/don't-run determination?

More generally, I think we should avoid distributing secrets more places, especially via annotations (which are really hard to policy).

Finally, the mechanics of this specific proposal don't w

[2016-08-26 16:11] deads2k commented on #31524
I don't think that distributing a secret to the ImagePolicy evaluator is better.  A compromised ImagePolicy evalutor could simply remember the secret it got.  In such a case, instead of rotating only the ImagePolicy evaluator token, you've now got to find every secret you ever distributed to it and rotate those, so it may even be worse.

[2016-08-26 16:12] zhouhaibing089 commented on #31524
it could, but such ability requires some super user which has super permission to reach all the private repos, no matter the full access or some subset of access..

IIUC, it could be avoid if we know which `KeyPath` that is going to be used.

[2016-08-26 16:15] zhouhaibing089 commented on #31524
Fair enough!

[2016-08-26 16:21] kayrus commented on #11816
Why this issue has a P2 priority? It is a huge security bug.

Here are a few examples: https://github.com/kayrus/kubelet-exploit

[2016-08-26 16:23] ecordell commented on #31524
It's not just about protecting against a compromised image policy server.
Secrets can be compromised in other ways as well - in that case, it's
useful to not have full access credentials exist at all.
On Fri, Aug 26, 2016 at 12:15 PM zhouhaibing089 <notifications@github.com>
wrote:

[2016-08-26 16:25] thockin commented on #31337
Kubelet can not tap into DHCP - that's way too wide-open.  You can have the
DHCP pipeline write a resolv.conf file for kubelet to use...

On Thu, Aug 25, 2016 at 11:42 PM, Christoph Held <notifications@github.com>
wrote:

[2016-08-26 16:26] liggitt commented on #31524
agree, and some user-level secrets could be full access credentials. having a credential for the evaluator lets you give it exactly the permissions needed (probably read-only, etc)

[2016-08-26 16:28] zhouhaibing089 commented on #31524
@liggitt without user level secrets, then there must be a credential to be able do, like read-only requests to all of the user images, it does not sounds good as well. people would feel that someone  accesses my private area without any permission from them.

[2016-08-26 16:36] kargakis commented on #22368
How are passwords inside config maps managed currently? For example, a docker registry configuration may or may not include them, depending on the storage backend. Should those types of configurations use secrets instead of cm? Embeding the cm into the deployment would definitely make the life of users easier but we need the same solution for secrets (another template in the deployment?). It seems

[2016-08-26 16:36] pmorie commented on #30897
I think putting the namespace / name of the secret to use in the provisioner parameters is a fine way to start.  Do not want to rush into a global secret resource.

[2016-08-26 16:57] pwittrock commented on #30228
@girishkalele Yes.  Please have someone from the node team take ownership.  Remove the label once the correct owner has ack'ed

[2016-08-26 16:58] pwittrock commented on #30228
@girishkalele Please coordinate with @dchen1107 to find the correct owner, and then remove the label

[2016-08-26 16:58] childsb commented on #30897
So the storage admin workflow:

1) create a namespace
2) store secrets in namespace
3) create storageClass, reference that namespace
4) dynamic provisioner runs, reads secret from admins namespace.

This would be OK for storageClass but doesn't solve the secret on PV issue very well.

[2016-08-26 17:00] thockin commented on #31521
a) StorageClass is beta, not alpha

I will paste my messages from the other thread:

In this particular case, we could make a new group, but in general we
will sometimes want to add a new beta Kind to an extant v1 group.  We
are not going to revive v1beta1 for the group, nor do we want (I think) to bump
to v2beta1 for every new Kind.  So we need a place to grow things.

We need an answer to this w

[2016-08-26 17:00] pmorie commented on #30897
@childsb It seems like it solves the secret on PV issue just as well to me -- use an 'admin' namespace to hold the secrets.  What am I missing?

[2016-08-26 17:02] thockin commented on #30897
How confident are we that PVs will need a single secret at most?  Can we
envision a case where a PV needs more than one?

On Fri, Aug 26, 2016 at 9:59 AM, bradley childs <notifications@github.com>
wrote:

[2016-08-26 17:04] childsb commented on #30897
@pmorie having secrets that a users process should have access to in a shared admin namespace with other users secrets seems bad.

[2016-08-26 17:04] eparis commented on #30897
Will we ever get to the case where we need 1 secret to mount a blocker device and a 2nd secret to un-encrypt it?

[2016-08-26 17:06] smarterclayton commented on #31521
API groups is required in order to have extension API resources (unless we
go resource by resource, and even then you need some grouping).  I agree
the process we are using to decide how things go into groups and versions
and iterate through them is questionable.

I don't think we necessarily have to treat groups as "all kinds must be in
it".  For instance, adding a new resource "Foo" to a group d

[2016-08-26 17:07] bgrant0607 commented on #31496
cc @justinsb

[2016-08-26 17:07] yujuhong commented on #31520
Should've been fixed by the revert #31530.

[2016-08-26 17:07] #31520 closed

[2016-08-26 17:09] pmorie commented on #30897
@childsb I don't think that would be the case -- the provisioner is going to run under a system service account / with its own token

[2016-08-26 17:10] yujuhong commented on #27630
@piosz thanks for the update!

[2016-08-26 17:11] childsb commented on #30897
@childsb  i was saying thats the problem with the same method for PVs

[2016-08-26 17:15] thockin commented on #31521
So in this case, if I were adding something to `batch` which is already at v1, my new thing would exist in `batch/v1beta1` but the rest of batch would not?  Isn't that essentially per-kind versioning?

Are we really in uncharted space here?  Is there no established best practice for this in REST-ville?

[2016-08-26 17:18] bgrant0607 commented on #1704
Examples:
https://github.com/Mirantis/k8s-AppController
https://cloud.google.com/deployment-manager/configuration/create-configuration-file

[2016-08-26 17:18] eparis commented on #30897
@childsb why are you talking to yourself?

In any case, I don't get the problem, can you explain it again?

[2016-08-26 17:19] pmorie commented on #30897
@childsb In the case of a PV, there are two possibilities:

1.  Volume controller needs to use secret to do attach/detach
2.  Kubelet needs to use secret to do attach/detach or mount

Note that Kubelet already fetches secrets and uses them on behalf of users (for image pulls).  In OpenShift, the Kubelet runs with a role that allows it to fetch secrets.  We could do the same thing for any other com

[2016-08-26 17:23] freehan commented on #31435
@zhulinhong Feel free to put together a PR.

Just have to add iptables util chains for REJECT. It should be similar to this [commit](https://github.com/kubernetes/kubernetes/pull/30486/commits/85fdeb47426ec6615a3af642a4b9247eb7dc4ef4)

Then just change the current REJECT [logic](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1069) to use KUBE-MARK-REJECT on KUB

[2016-08-26 17:28] deads2k commented on #31521
My objection isn't to adding a type to an existing version of an API group. I'm concerned about using this particular group as a catchall for "I'm going to want a new API group, but this is a convenient place at the moment for a type that doesn't belong in this group in the end".

Marginally.  I still think that if you know you have a kind that belongs in a new API group, you should create that AP

[2016-08-26 17:29] #21585 closed

[2016-08-26 17:38] janetkuo commented on #28496
I'm drafting a SJ document, will be put under kubernetes.io > Reference > Glossary > Scheduled Job

[2016-08-26 17:41] thockin commented on #31521
I think we need a systemic decision about this INCLUDING the "I want to add
a kind to an existing group that is at v1".  And if the decision is to rev
the whole group to v2beta1, we need some serious SERIOUS streamlining.
This is not something that we can ask a community member at-large to do
(even just adding a new group, much less reving an existing group is way
too hard).

I am not in charge of

[2016-08-26 17:41] mtaufen commented on #31428
Hopefully #31386 helps free up some resources for other serial tests.

[2016-08-26 17:43] yujuhong opened #31537 "node e2e not collecting kubelet logs for gci-dev-*"
Pick a random run from node-pull-build-e2e-test:
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/pull/31321/node-pull-build-e2e-test/

Content of the kubelet log for the gce-dev* image contains only one line:
[code]

Seems like a regression?

Relevant code for grabbing the logs: https://github.com/kubernetes/kubernetes/blob/afb780d4ee1b6587ed107c4c74bf4723da7955f1/test/e2e_nod

[2016-08-26 17:51] yujuhong opened #31538 "node e2e: confusing message about whether a build passed or not"
I'm seeing some builds passed with test failures in it.

For example,

In https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31478/node-pull-build-e2e-test/21439/, the build result is success, but there is one test failure. Bugs were filed by the merge-bot for the build failure, yet the PRs weren't affected by it because the overall result is success.

Snippet from the build.

[2016-08-26 17:52] k8s-merge-robot opened #31539 "[k8s.io] [Feature:Example] [k8s.io] Downward API should create a pod that prints his name and namespace {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/14289/

Failed: [k8s.io] [Feature:Example] [k8s.io] Downward API should create a pod that prints his name and namespace {Kubernetes e2e suite}

[code]

[2016-08-26 18:02] ixdy commented on #31513
Cluster failed to initialize within 300 seconds. Not clear why.

[2016-08-26 18:02] childsb commented on #30897
i'm assuming there will be (eventually) a volume plugin that requires user/application access to the secret.  Maybe the users application needs a key to decrypt, or maybe database login credentials come with the volume...

Another scenario in something like an FTP backed volume where the user owns the credentials and might want to change them or not give them to the storage admin.

that to say, I

[2016-08-26 18:13] stensonb commented on #27884
Closing for now.

Our environment has now changed significantly enough that this will be difficult to replicate and assist with.  Most importantly, we're not seeing this issue now.

For posterity, now running:
Kubernetes 1.3.5
CoreOS 1068.10.0
[code]

[2016-08-26 18:13] #27884 closed

[2016-08-26 18:26] jmhodges commented on #30617
Great! Thanks for looking at! I think this is the problem a lot of folks have been having. We've been getting a regular stream of folks in the #google-containers channel on the kubernetes slack that have this problem (and all solved with use_client_certificate).

[2016-08-26 18:26] caesarxuchao commented on #30871
In build 8102 (Jun.2), apiserver used 670MB in density test and 1.2GB in load test

In build 10000 (Aug. 9), apiserver used 1.4GB in density test and 1.8GB in load test. This is the high consumption we observe today.

The build logs between 8102 and 10000 are missing...

[2016-08-26 18:27] pskrzyns commented on #26102
Basing on https://github.com/kubernetes/kubernetes/issues/28667 especially https://github.com/kubernetes/kubernetes/issues/28667#issuecomment-238771135 we will stick with 1 solution (Rkt manages the network)

[2016-08-26 18:28] dchen1107 commented on #31376
#31367 is merged, and close the issue. This fix will increase our release velocity significantly. Thanks, Amey-D!

[2016-08-26 18:28] #31376 closed

[2016-08-26 18:33] deads2k commented on #31521
I don't see `StorageClass` as that case.  If `StorageClass` were added to `storage.k8s.io/v1`, it would be that case. However, `StorageClass` was added to `unrelated-group/v1beta1`.

[2016-08-26 18:40] yujuhong commented on #30548
I filed two bugs:
  1. None of the test failures actually blocked the PRs. Node e2e test suite was reporting build SUCCESS even though there were some failures: #31538
  2. We are not collecting kubelet.log correctly on GCI: #31537

The first bug is more important than this issue, while the second bug blocks debugging this issue.

[2016-08-26 18:41] yujuhong commented on #31537
/cc @Random-Liu

[2016-08-26 18:42] jmhodges commented on #30617
Oh, and for further hopeful debugging help: I first got a red build (with no deploy code changes) on Aug 12th, but that's not necessarily the first day it would have been broken. That seems to be about when other folks started noticing it.

[2016-08-26 18:44] #29794 closed

[2016-08-26 19:16] MHBauer commented on #29524
Is this a 1.2 thing? I do not see any errors when running the two commands. I made an edit in one run, and did not make an edit in a separate run. Maybe I don't understand the problem that is seen.

[2016-08-26 19:17] ash2k commented on #29453
I'm also interested in this/similar functionality. Just wanted to ask why the dependencies in the POC  (https://github.com/Mirantis/k8s-AppController) are expressed as separate object vs creating an object that has all resources declared in it? Like AWS CloudFormation or Google Cloud Deployment Manager?
I'm interested in building an extensible PaaS-like system on top of Kube using Third Party Reso

[2016-08-26 19:21] alexbrand commented on #29679
Thanks @bgrant0607

How will we handle printing to the console? I suspect each subcommand will have it's own output format?

For example, I currently have this:
[code]

[2016-08-26 19:24] mikedanese commented on #11816
The linked exploit is not possible in secure setups. Secure setups bind the handler to localhost and use ssh tunnels from the apiserver to the nodes. See https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/options/options.go#L91-L95

[2016-08-26 19:34] #31011 closed

[2016-08-26 19:36] bgrant0607 commented on #29679
@alexbrand My current thinking is that I'd like the commands to be specific enough to output just one piece of information per object, single column, with no headers, to facilitate usage in scripts. My goal is to eliminate the need for go-template/jsonpath in the most common cases.

[2016-08-26 19:38] stevesloka commented on #10439
I wrote this this week (https://github.com/upmc-enterprises/kubernetes-secret-manager) which does an integration to pull dynamic certs from Vault with the MySQL integration. Happy to discuss further, but can maybe be a starting point to further discuss.

[2016-08-26 19:38] alexbrand commented on #29679
Gotcha - that makse sense to me. I guess that would mean that we wouldn't support something like
`kubectl view image deployments --all`?

[2016-08-26 19:40] yujuhong commented on #29308
One more example: https://github.com/kubernetes/kubernetes/issues/31041

@derekwaynecarr, would it help if we bump the timeout from 5 min to N (e.g., 8) min? or should we ask tests that create significant number of pods to clean up after themselves?

[2016-08-26 19:42] euank opened #31544 "rkt: When using the rkt runtime, images are pulled too aggressively with imagepolicy always"
This is really a [rkt issue](https://github.com/coreos/rkt/issues/2937), but I think it's worth tracking in the Kubernetes repository as well.

Essentially when the remote docker image has not changed at all, rkt will still download all the bytes again for `--no-store` fetch (which is now the default behaviour).

This is especially noticeable if the image is large and the tag is latest because the

[2016-08-26 19:44] vishh commented on #30799
I talked to @thockin offline about this issue. I will come up with a short
proposal on local storage handling in k8s and post it to sig-node and
sig-storage in the next few weeks!

On Thu, Aug 25, 2016 at 4:45 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-08-26 19:54] Random-Liu commented on #31537
Looking into it now. :)

[2016-08-26 19:57] tam7t commented on #11816
@mikedanese I'd just like to point out that it is not very well documented that that must be done: http://kubernetes.io/docs/admin/master-node-communication/ is the only page that really addresses it and is hard to discover. The "[Security in Kubernetes](https://github.com/kubernetes/kubernetes/blob/release-1.3/docs/design/security.md)" design document should probably call this important step out.

[2016-08-26 20:23] smarterclayton commented on #31521
Thinking about it, I'm not so sure that it has to be that way.  There
are certainly arguments that you can retcon an object into all prior
versions, but objects themselves are fairly independent.  If we had v2
PVC - they'd probably still bind to v1 PV.  If they didn't, they're
not really PVC anymore.

Versions are for schema versioning.  They don't map to fundamental
behavior.  Any change dramatic

[2016-08-26 20:29] kargakis commented on #22368
Regadring garbage collection, config maps that have owner references but none of those exists, should be handled by the garbage collector. Config maps, usually though, should be garbage collected by the deployment controller as part of the revisionHistoryLimit policy.

[2016-08-26 20:33] yujuhong commented on #31538
@Random-Liu solved the mystery.

@lavalamp added a retry feature in ginkgo to run the test again if it failed once. The test in question failed once, but passed in the next attempt. This is indeed working as intended.

[2016-08-26 20:33] #31538 closed

[2016-08-26 20:34] Random-Liu commented on #31538
This is because we set `--flakeAttempts=2` in the pr builder https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/jenkins/jenkins-pull.properties#L6.
Once the test fails, it will try once more, if the other time it passes, it will still report success. :)

[2016-08-26 20:35] yujuhong commented on #30548
This is a false alert. Test gets retried automatically and passed the second time. Most of the time this test passed the second time, but it still needs to be deflaked.

[2016-08-26 20:38] spxtr commented on #30075
There are many different error cases all conflated into "BeforeSuite", and I'm not going to work on fixing them right away.

[2016-08-26 20:39] spxtr commented on #30075
Not sure what to do about this issue, though.

[2016-08-26 20:39] ardnaxelarak commented on #21076
Fixed by #30821

[2016-08-26 20:45] vishh commented on #31538
That's awesome. Does this mean that we might not mark a test as flaky
unless it fails 3 times in a row?

On Fri, Aug 26, 2016 at 1:35 PM, Lantao Liu <notifications@github.com>
wrote:

[2016-08-26 20:47] thockin commented on #31521
Clayton: I don't know which item you are responding to

David: I don't want to make a different decision because of
instance-specific circumstances.  The same decision was made for
NetworkPolicy in v1.3 because it was being considered for the 'policy'
apigroup but wasn't compatible with that groups version standing.

[2016-08-26 20:47] Markbnj opened #31548 "Strange decoding error when creating secret with kubectl"
This seems like a strange sequence of events. I am attempting to create secrets in our cluster to contain database user passwords. The passwords are generated each time a secret is created. This worked great for 'root'.

[code]

These definitions are being specialized and then piped to 'kubectl create -f -', so I will just show the definition yaml and the result.

I then tried creating one for a u

[2016-08-26 20:49] yujuhong commented on #31538
I don't know if there is an established guideline, but merge-bot fearlessly files new bugs on every failure nonetheless...

[2016-08-26 20:51] spxtr commented on #31439
Might just be worth recreating that agent. It didn't look like it was running out of disk io quota or anything, although it did have several other jobs running at the same time.

[2016-08-26 20:52] mtaufen commented on #31538
Is there a reason we wouldn't want to know every time a test flakes? It seems like it would be good to know of every failure, even though we are helping people out by reducing the amount of manual re-test requests.

[2016-08-26 20:52] caesarxuchao commented on #22368
@kargakis what's the benefit of relying on the deployment controller to garbage collect the config maps? I thought the idea is  that when all the pods using the config map are deleted, the config map will be garbage collected. It seems natural to be handled by the garbage collector.

[2016-08-26 20:56] yujuhong commented on #31538
I agree. I wasn't trying to suggest that awareness of flaky tests is not important. It allows some test to stabilize without affecting others.

[2016-08-26 20:57] kargakis commented on #22368
If you delete the config map when the pods are deleted, you leave the replica set that is scaled down to zero with no config. What if at a later iteration, the deployment controller or the user decides to rollback to that replica set?

[2016-08-26 21:00] caesarxuchao commented on #22368
I see. How about let the configMap have an ownerReferece pointing to the replicaset, so it gets deleted when the replicaset is deleted?

[2016-08-26 21:04] kargakis commented on #22368
That's the idea. Note that users shouldn't point their configs to replica sets but to the parent deployment. The deployment controller should update the reference to the underlying replica set that is deployed using that cm. As part of revisionHistoryLimit, the controller deletes replica sets, and then I guess the garbage collector would delete those cms (not the controller as I said initially)

[2016-08-26 21:08] Random-Liu commented on #28047
This is still gcr flake:
[code]

[2016-08-26 21:08] lavalamp commented on #31521
Been trying since before 1.3...

[2016-08-26 21:09] Cloven commented on #30617
So I created a service account with the container dev role, and downloaded its json key, and authed it, with latest gcloud.

I confirmed that it was limited to inside-container operations by trying to create a new cluster with it, and was properly denied:
[code]

I then switched accounts to the account owner account, created a new cluster from the command line as my account owner, and then switche

[2016-08-26 21:10] thockin commented on #31521
On Fri, Aug 26, 2016 at 2:09 PM, Daniel Smith <notifications@github.com> wrote:

Do not interpret as a slight, please.  I know we're working on it.  I
don't know what, if anything, we can do to make it go faster

[2016-08-26 21:22] dchen1107 commented on #31456
https://github.com/kubernetes/kubernetes/pull/31475 was merged. Close this one.

[2016-08-26 21:22] #31456 closed

[2016-08-26 21:22] kargakis commented on #31496
@anioool can you paste the start of the stack trace? (it's missing from the log you pasted above)

[2016-08-26 21:24] cjcullen commented on #30617
@Cloven: It's very possible that your `kubectl` is still using your gmail account, even though your `gcloud` is using the service account. I think there might be a different step to configure Application Default Credentials to activate a service account: https://cloud.google.com/sdk/gcloud/reference/beta/auth/application-default/activate-service-account.

@jmhodges: Try `gcloud beta auth applicati

[2016-08-26 21:25] shashiranjan84 commented on #24286
@chrislovecnm is there a way to control the version of Cassandra I want use.  For my application(Kong) which currently only supports Cassandra 2.2, I tried using gcr.io/google-samples/cassandra:v8 but its failing with
![screenshot 2016-08-26 14 23 25](https://cloud.githubusercontent.com/assets/8146958/18020883/c6c0efe2-6b98-11e6-8d36-e623203116c5.png)

gcr.io/google-samples/cassandra:v9 works find

[2016-08-26 21:27] dchen1107 opened #31549 "Add Celery-RabbitMQ back to Kubernetes example"
Forked from https://github.com/kubernetes/kubernetes/issues/30308

Celery-RabbitMQ example is completely broken for last many days on all supported os distro.  To stop the bleeding edge, https://github.com/kubernetes/kubernetes/pull/31475  was merged which removed this completely.

cc/ @luxas @luxas

[2016-08-26 21:28] dchen1107 commented on #30308
https://github.com/kubernetes/kubernetes/pull/31475  was merged which removed this complete breaking tests. I close this flake one, and reopen a new one for fixing the example: https://github.com/kubernetes/kubernetes/issues/31549

[2016-08-26 21:28] #30308 closed

[2016-08-26 21:29] dchen1107 commented on #31549
cc/ @erictune

[2016-08-26 21:31] dims commented on #31539
Looks like this p0 flake was triggered by https://github.com/kubernetes/kubernetes/pull/31452 which moved files around (https://github.com/kubernetes/kubernetes/pull/31452/files#diff-ac7501ebdeced2a5cfb0b7c42d5afe6fL427) Does GCE have its own set of these files?

[2016-08-26 21:31] timstclair opened #31550 "docker_manager_test unit test needs cleanup"
The [docker_manager_test](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager_test.go) needs some refactoring. A few of the problems:
- Rampant code duplication (the test is over 2500 lines long)
- Fragile tests depending on lots of internal functionality

Cleanup up the test properly may require exposing a few more interfaces from the DockerManager, or just

[2016-08-26 21:34] bprashanth commented on #26134
Aug 24 15:18:25.062: INFO: At {2016-08-24 14:58:43 -0700 PDT} - event for mutability-test: {service-controller } CreatingLoadBalancerFailed: Error creating load balancer (will retry): Failed to create load balancer for service e2e-tests-services-wfjzq/mutability-test: failed to create forwarding rule ad28a89476a4511e6b0b642010af0002: googleapi: Error 403: Quota 'FORWARDING_RULES' exceeded. Limit:

[2016-08-26 21:42] caesarxuchao commented on #22368
This sounds good.

Alternatively, I remember we once discussed to build the configmap spec inside the deployment spec, and the deployment controller will be creating the configmap. Have we vetoed this idea?

[2016-08-26 21:43] timothysc commented on #31262
I've nearly got the deferFunc() plumbed through to the rest of the registry testing and will put up a PR, but I'm happy to wait till 1.5.

[2016-08-26 21:50] k8s-merge-robot opened #31552 "[k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31477/kubernetes-pull-build-test-e2e-gce/56243/

Failed: [k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31477.

Previous issues for this test: #30542 #31460 #31479

[2016-08-26 21:58] janetkuo commented on #31009
I just hit this bug also. We should fix this.

[2016-08-26 21:58] chrislovecnm commented on #24286
Which version of k8s are u using? What version of Cassandra do you need?

[2016-08-26 22:01] shashiranjan84 commented on #24286
1.3

![screenshot 2016-08-26 15 01 08](https://cloud.githubusercontent.com/assets/8146958/18021680/f6e29018-6b9d-11e6-8f6a-296733586075.png)

[2016-08-26 22:01] janetkuo opened #31553 "Implement ScheduledJob Reaper"
We need a scheduledjobs reaper for `kubectl delete`, so that when an SJ is deleted, its jobs and pods are deleted too.

@erictune @soltysh

[2016-08-26 22:02] colemickens opened #31554 "Kube-DNS should use a Deployment rather than RC"
It seems like the [kube-dns](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns) addon ought to be using a Deployment.

[2016-08-26 22:05] dhawal55 commented on #29177
I can't get it to work with any kind - User, Group, ServiceAccount. Did anyone get it to work? What am i doing wrong?

[code]

[2016-08-26 22:08] caesarxuchao commented on #31066
Looks like the kubectl doesn't handle the node update conflict. @kevin-wangzefeng do you mind if I take the issue since you are not working on it?

[2016-08-26 22:09] MHBauer commented on #28694
I wouldn't mind working at this, but I'll need some help.

While #28695 exists, we need a pause at the start.

A minimal example requiring 1.4 based features is:
[code]

Not quite `docker run hello-world`, but I can explain why we need all the flags.

 - `hi` is needed because run needs a `NAME`
 - `--quiet` to avoid echoing all the garp that I don't want to see as a new user (unless we want to ex

[2016-08-26 22:12] jmhodges commented on #30617
@cjcullen Thanks for the idea! THe `beta auth application-default` failed in a new way.

    ERROR: (gcloud.container.clusters.get-credentials) ResponseError: code=403, message=Request had insufficient authentication scopes.
    unable to get credentials for GKE cluster

Build with that in it is at: <https://travis-ci.org/jmhodges/howsmyssl/builds/155478643>. (There's a bit of extra noise in there

[2016-08-26 22:13] jmhodges commented on #30617
Oh, and here's the patch I put in play: https://github.com/jmhodges/howsmyssl/commit/297b2b283a6c66f18052f0f3aa6209eace19c57b (you can find it linked in the travis build page, but it's a little hard to find there)

[2016-08-26 22:16] javiercr commented on #28154
@Random-Liu same thing happened again and yesterday we updated to v1.3.5. Here is the log of events:

[code]

To be honest this is freaking us out, as this is a production app and we're seeing how it randomly goes offline with a 5 minutes downtime until all the pods get restarted. Is there anything we can do to debug this situation?

[2016-08-26 22:18] yifan-gu commented on #31544
Updating 1.4 issue https://github.com/kubernetes/kubernetes.github.io/pull/1109

[2016-08-26 22:20] rata commented on #22368
On Fri, Aug 26, 2016 at 02:43:45PM -0700, Chao Xu wrote:

That way it wouldn't be easy to use create a CM from file and use it in a
deployment, right?

For example, we use configmaps and in the app repo have some configuration files
that might need to change, and if it's changed we create a new configmap from
that file and referece it in the deployment. Also, the configuration file is
used also fo

[2016-08-26 22:22] smarterclayton commented on #31521
I think we need to reassess how we are putting objects into groups and
how we version them.  I don't think putting an alpha resource into a
new group is wrong. Groups represent areas of function, not client
contracts.  Versions don't have to be atomic to the kinds within them.
Groups can have permanent alpha versions for new resources.  We don't
have to add new resources to all old versions.

The

[2016-08-26 22:24] kargakis commented on #22368
Not really. Personally, I think I prefer using owner references since we can do the same thing for secrets which is another common case of "X changed, redeploy Y". If we inline the config spec, then should we also inline the secret spec? What if another resource in the future needs to cause redeployments?

[2016-08-26 22:25] kayrus commented on #11816
@mikedanese as I understood `--ssh-user` flag instructs only apiserver, but it will be still possible to connect to 10250 port. please correct me if i'm wrong.

anyway, I saw that @liggitt added authentication/authorization interfaces to the kubelet here https://github.com/kubernetes/kubernetes/pull/14700
most probably it will be possible to implement them in k8s v1.4. as for current stable releas

[2016-08-26 22:25] smarterclayton commented on #31527
It broke kubemark

[2016-08-26 22:34] caesarxuchao commented on #22368
CM we should just update the CM parent to the new replica set (this is easy)

@rata we don't need to "update", the deployment controller just need to add the new replication controller to CM''s ownerReferences. CM only gets deleted when none of its owners exists.

   more than one "parent" ?

Yes.

[2016-08-26 22:37] edevil commented on #11816
@mikedanese can you tell me which of the current Kubernetes setup tools (kube-up, kubernetes-anywhere, CoreOS guide, etc) implement this "secure" setup?

@kayrus is this patch in some pending PR? Seems to be the obvious solution.

[2016-08-26 22:39] janetkuo commented on #31553
The bug #31009 makes removing sj's jobs even harder...

[2016-08-26 22:39] kayrus commented on #11816
@edevil the problem that I don't know how to create pull request for previous branch.

[2016-08-26 22:40] mikedanese commented on #11816
The idea when using the ssh tunnel is that 10250 is bound to localhost and access to nodes is restricted to cluster administrators.

TLS client auth sounds like a very reasonable addition. I think we would want to limit access to a group and we should be using the cluster CA to provision both the apiserver's client cert and the kubelets' serving cert.

cc @kubernetes/sig-auth

[2016-08-26 22:44] mikedanese commented on #11816
kube-up GCE supports this. kube-up is implemented per cloud so I can't speak for others kube-ups. GKE does this by default. It's a priority to get this done in kubernetes-anywhere as we move towards a "beta" production ready release but kubernetes-anywhere is alpha for v1.4. I can't speak for coreos.

[2016-08-26 22:48] lavalamp commented on #31079
This test doesn't exist after #31323

[2016-08-26 22:48] #31079 closed

[2016-08-26 22:48] mikedanese commented on #11816
It sounds like there is some support for this in Openshift that could be pulled upstream.

[2016-08-26 22:49] lavalamp commented on #30228
@caesarxuchao maybe you can take a look?

[2016-08-26 22:50] erictune commented on #2156
ScheduledJob is alpha in 1.4.

[2016-08-26 22:50] #2156 closed

[2016-08-26 22:50] caesarxuchao commented on #22368
@kargakis inlining configmap is not exclusive with using owner references. I agree we don't want to make deployment spec too fat.

* I think user doesn't need to manually setup the ownerReference at all, controller can set it.
* how about letting the replicaset controller to set CM's ownerReference? If a replicaset mounts a configmap, then the replicaset controller sets the CM's ownerReference.

[2016-08-26 22:51] cjcullen commented on #30617
:( that's frustrating. I just followed your steps on my machine and everything worked (and I confirmed in my test logs that my service-account identity is being used).

The Kubernetes APIs (on GKE) all require the "cloud-platform" authentication scope, which is what appears to be causing the current failure. I'm not sure why your service account is not authenticating with that scope.

[2016-08-26 22:53] caesarxuchao commented on #30228
Yeah, I'll take it. @lavalamp could you approve https://github.com/kubernetes/kubernetes/pull/30316/files? It will help debug this issue.

[2016-08-26 22:53] kayrus commented on #11816
@mikedanese I didn't find any examples where kubelet was forced to listen 127.0.0.1 (`grep -r  'address' cluster | egrep '(127.0.0.1|localhost)`).
can you point me on them?

[2016-08-26 22:54] erictune commented on #25254
Closing in favor of #30243

[2016-08-26 22:54] #25254 closed

[2016-08-26 22:54] erictune commented on #30243
In this comment: https://github.com/kubernetes/kubernetes/issues/24533#issuecomment-217058534 Brian Grant says there should be backoff with no knob.

[2016-08-26 22:58] lavalamp opened #31560 "BeforeSuite: Failed to setup provider config"
Multiple issues in the BeforeSuite failure bug (#30075). Splitting this particular failure mode out.

Aug 15 14:39:13.884: Failed to setup provider config: Error building GCE/GKE provider: Get https://www.googleapis.com/compute/v1/projects/k8s-e2e-gke-staging-parallel/global/networks?alt=json: oauth2: cannot fetch token: Post https://accounts.google.com/o/oauth2/token: net/http: TLS handshake time

[2016-08-26 22:59] lavalamp commented on #31560
Randomly asking @spxtr to triage since he was on the bug this came from

[2016-08-26 22:59] lavalamp commented on #30075
@spxtr I think the proper thing to do is file a issue for each failure mode. I just filed the first and sent it your way :)

[2016-08-26 23:01] lavalamp opened #31561 "BeforeSuite: Error waiting for all pods to be running and ready"
BeforeSuite fails for many different reasons. This issue is about making the following failure message more helpful (and/or fixing the problem if it's clear what's wrong). There are many examples in #30075. One is here: https://github.com/kubernetes/kubernetes/issues/30075#issuecomment-242580112

Aug 25 16:31:53.455: Error waiting for all pods to be running and ready: Not all pods in namespace 'ku

[2016-08-26 23:01] jmhodges commented on #30617
The cloud-platform scope ("https://www.googleapis.com/auth/cloud-platform") is described as "Full access to all resources and services in the specified Cloud Platform project." which seems to be quite a bit more than just what a Container Engine Developer would have, yeah?

I'm not sure what role a svc account has to be in to get cloud-platform.

[2016-08-26 23:02] lavalamp commented on #30075
I filed issues for the most common failure modes here.

[2016-08-26 23:02] jmhodges commented on #30617
Also, maybe there's a way I can get my svc account's scopes somewhere to confirm it doesn't have the cloud-platform scope?

[2016-08-26 23:05] lavalamp commented on #30075
I'm removing the "needs attention" label since I added it in the issues I filed.

[2016-08-26 23:08] mikedanese opened #31563 "Provision Kubelet server certificates with the certificates API"
ref #11816

cc @gtank @yifan-gu

[2016-08-26 23:16] cjcullen commented on #30617
Scopes are sort of a weird crossover of authentication and authorization. They control what APIs you can authenticate to, and then IAM controls what APIs you are authorized for. So even if you authenticate that service account using "cloud-platform" scope, it will only have the permissions you gave it by assigning it IAM roles.

Kubectl should be requesting an access token w/ cloud-platform scope

[2016-08-26 23:18] mikedanese commented on #11816
You are right, it looks like GKE uses a firewall and the ssh-tunnel is roundrobin so no localhost. I agree that this is not where it should be.

[2016-08-26 23:24] jmhodges commented on #30617
Okay, that's in the client! I can make sure that that code is being run at least! Will do some due diligence.

[2016-08-26 23:32] cjcullen commented on #30617
@jmhodges Thanks for being so patient with this.

I was able to get it to work with a brand new service account. Maybe see if it works for you with a brand new service account? That'd help determine if it's a code issue vs. a specific issue with this service account.

[2016-08-26 23:32] Random-Liu commented on #28154
@javiercr Could you please give us your `kubelet.log`? That will help debugging a lot! :)

[2016-08-26 23:39] deads2k commented on #31521
That sounds reasonable.  When combined with discovery and preferred version, it ought to be unambiguous when used.

[2016-08-26 23:40] thockin commented on #31521
I assume, and I think others do, that an apigroup with a given version
means that WHOLE API is versioned as such. Once foobar/v1alpha1 has been
EOL'ed, it would be surprising to see it come back to life but with a
different/new subset of Kinds.

Now that we have some miles on apigroups, I agree it is time to revisit.

On Fri, Aug 26, 2016 at 3:23 PM, Clayton Coleman <notifications@github.com>
wrot

[2016-08-26 23:45] vishh opened #31565 "Setup pre-submit tests for the new container-vm in GCE"
K8s on GCE will be using the [upgraded version of container-vm](https://cloud.google.com/compute/docs/containers/vm-image/). Testing for the new container-vm is not adequate as-is. Specifically the following tasks are critical:
1. Add per-pr tests that use the new container-vm
2. Add relevant tests that validate the new container-vm to the submit queue as non-blocker initially.
3. Add relevant per

[2016-08-26 23:48] smarterclayton commented on #31521
It might be surprising at first, but I'm not sure it's surprising enough to
jump through hoops in other areas.

You'd have a client like (import "k8s.io/client-go/storage/v1alpha1") and
call ("v1alpha1.StorageClass").  If StorageClass isn't there any more in a
new release, you'll figure it out.  I think if we force ourselves to rev
major versions for everything in a group, we're going to a) cause

[2016-08-26 23:54] jmhodges commented on #30617
New account also failed! (You can confirm its a new account because the email in the succesful login output is now <new-howsmyssl-travis-deploy@personal-sites-1295.iam.gserviceaccount.com>).

With the beta stuff (Build: <https://travis-ci.org/jmhodges/howsmyssl/builds/155497115>):

    ERROR: (gcloud.container.clusters.get-credentials) ResponseError: code=403, message=Request had insufficient auth

[2016-08-26 23:57] liggitt commented on #22368
What does a replica set "claiming" an existing config map by setting its ownerReference get us?

[2016-08-27 00:00] dhawal55 commented on #30924
I can't get this to work.

Here's my ClusterRole:
[code]

And roleBinding:
[code]

Error i get from my pod in kube-system namespace:
`Invalid Kubernetes API v1 endpoint https://25.0.0.1:443/api: 403 Forbidden`

## Kubernetes Version
[code]

[2016-08-27 00:02] vishh commented on #31565
We might have to add tests for release-1.3 & release-1.4 branches as well.

[2016-08-27 00:03] lavalamp commented on #31538
These still need attention. I'm just letting PRs merge in spite of them. The issues still need to be fixed! So @vishh no 1 failure is all it takes and that's by design.

[2016-08-27 00:04] lavalamp commented on #30228
Done!

On Fri, Aug 26, 2016 at 3:53 PM, Chao Xu <notifications@github.com> wrote:

[2016-08-27 00:06] justinsb commented on #11816
Moving to 1.4 milestone.

[2016-08-27 00:07] bgrant0607 opened #31568 "Simplify selection of controller (or not) in kubectl run"
We've talked about creating `kubectl create deployment`, `kubectl create replicaset`, `kubectl create pod`, etc. We could also provide a more first-class way to choose the controller type (or raw pod) in kubectl run rather than doing it via the generator flag, which was originally intended for versioning.

[2016-08-27 00:10] lavalamp commented on #31565
Huh? The title says container-vm?

Do we really need to double our testing? Why not just switch everything over? Is this needed for 1.4? Can we just switch over the 1.4 tests in that case? Is this a GKE/GCE difference and if so can we just switch over the GKE tests?

[2016-08-27 00:11] mikedanese commented on #11816
We are a week after feature freeze, I don't think this is going to qualify for v1.4. cc @pwittrock

[2016-08-27 00:13] mikedanese commented on #11816
For reference, v1.4 freeze merge policy: https://groups.google.com/forum/#!topic/kubernetes-dev/pdMJpA0NF7I

[2016-08-27 00:13] caesarxuchao opened #31569 "Check if it's ok for garbage collector to change objects in the local cache"
Garbage collector changes the objects in local cache: https://github.com/kubernetes/kubernetes/blob/v1.6.0-beta.4/pkg/controller/garbagecollector/graph_builder.go#L115

This is discouraged. It's probably ok for now, because the garbage collector doesn't share the cache with other controllers. We need to revisit this when the garbage collector starts to use the shared cache.

cc @lavalamp

**Is thi

[2016-08-27 00:19] zhouhaibing089 commented on #31524
@deads2k @liggitt Here is what in my mind:

If the image policy evaluator needs to do some check on the image, and it requires some credential to do that sometimes, then either image policy evaluator itself has some powerful credential which could be grant to do things on all the repositories, or the image policy evaluator has been told to use which credential. of course we are talking about the s

[2016-08-27 00:19] bgrant0607 commented on #26202
There is some discussion here also:
https://github.com/kubernetes/kubernetes/pull/28949#issuecomment-236640390

[2016-08-27 00:20] k8s-merge-robot opened #31570 "kubernetes-e2e-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/22308/

Run so broken it didn't make JUnit output!

[2016-08-27 00:32] smarterclayton commented on #22368
Things that are secret, or have secrets embedded, should be stored in
Secret.  Any operation we add for ConfigMap should have an equivalent
for Secrets (there is nothing special about ConfigMap over Secret).

[2016-08-27 00:34] liggitt commented on #31524
I don't think we can assume the API server will have the ability to mint short lived tokens for external image registries

[2016-08-27 00:34] bgrant0607 opened #31571 "Standardize extension patterns"
This occurred to me when discussing with @davidopp and has come up in multiple contexts recently. Maybe this could be split into at least 2 issues, but I'll start with 1.
1. We are developing a pattern by which we allow people to plug in their own controllers for our objects, by specifying some kind of "type" that indicates which controller has responsibility, and sometimes what policy to apply, a

[2016-08-27 00:53] shashiranjan84 commented on #24286
Looking for Cassandra v 2.2.x

[2016-08-27 00:55] liggitt commented on #11816
Agree. I'd like to see this early in 1.5 to allow time to get all parts of the system working with it turned on. Masters and metrics are the two clients of the kubelet API I'm aware of.

[2016-08-27 01:06] bprashanth commented on #26490
@freehan @MrHohn https://github.com/kubernetes/kubernetes/issues/26490#issuecomment-224166709 has symptoms similar to what we observed when we nuked the masquerade today. The logs in question are from the previous comment.

Kube-proxy does a dump of rules on the node at 16:05:53 and I see the masquerade in there (https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e

[2016-08-27 01:09] zhulinhong commented on #31435
@freehan @bprashanth  thx a lot. I will try it.

[2016-08-27 01:18] zhouhaibing089 commented on #31524
Well, sorry that I did not make it clean, I did not mean it is able to **mint**. But if it is possible to be a plugin to say, there is a `TokenGetter`, whenever the `ImageReviewSpec` is going to be sent, it sends along with a call to `TokenGetter`, so if someone uses registry A, and it do support to fetch a short lived token, then he just go and implement a `TokenGetter`.

[2016-08-27 01:55] #31397 closed

[2016-08-27 02:10] chrislovecnm commented on #24286
I think the problem you are having is with the seed provider, and you need to use a version that is compiled against c* 2.2 binaries. Have not looked if we released a version.

The other option, which is in alpha with 1.3 is pet set. Here is my PR https://github.com/kubernetes/kubernetes/pull/30577#event-768260534

[2016-08-27 02:15] chrislovecnm commented on #24286
To be clear if use my pet set example you don't need the seed provider, also you will need to build you own docker. The docker will need to use the correct cassandra.yaml.

[2016-08-27 02:26] kevin-wangzefeng commented on #31444
Current taint-related e2e tests have chance of failing to remove taints, but those tests should also fail.
Maybe there is still some taint leak, I will check.

[2016-08-27 02:42] thockin commented on #31435
Great!

On Aug 26, 2016 6:10 PM, "zhulinhong" <notifications@github.com> wrote:

[2016-08-27 02:54] huggsboson commented on #11816
At box we worked around this by running a daemonset with stunnel (with a server and a client in the stunnel) + an iptables rule to direct off-host traffic to 10250 to the stunnel port on 11250.  The stunnel does client cert auth, so only apiserver certs will be accepted.  It would be much simpler for us from a management standpoint (no stunnel, no iptables) if this check could move into kubelet it

[2016-08-27 03:00] pwittrock commented on #11816
cc @pwittrock
If this is a bug-fix or should require an exception, LMK.

[2016-08-27 03:20] #31472 closed

[2016-08-27 03:35] k8s-merge-robot opened #31574 "[k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14167/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26139 #28342 #28439

[2016-08-27 03:46] vishh commented on #31538
That's cool! Thanks for clarifying @lavalamp

On Fri, Aug 26, 2016 at 5:04 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-08-27 04:10] k8s-merge-robot opened #31575 "[k8s.io] Services should prevent NodePort collisions {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14168/

Failed: [k8s.io] Services should prevent NodePort collisions {Kubernetes e2e suite}

[code]

[2016-08-27 04:54] #21546 closed

[2016-08-27 05:31] bgrant0607 commented on #31521
I apologize that I don't have a lot of time for this discussion right now.

However, `extensions` is absolutely meant to be an incubator group, and using an incubator group is currently my preferred solution.

Yes, we could independently version every single resource, but that greatly complicates user experience, cross references between resources, defaulting of preferred API versions by clients a

[2016-08-27 06:08] feiskyer commented on #30463
This issue could be closed since #30753 already merged.

[2016-08-27 06:09] davidopp commented on #31444
Thanks @kevin-wangzefeng . I think #27655 is related also?

[2016-08-27 06:12] derekwaynecarr commented on #29308
I am going to try and look at optimizing the requeue behavior for tests that have a lot of pods and we are waiting for them to delete.  Looks like once they delete, we don't observe their deletion until the next resync

[2016-08-27 07:08] kevin-wangzefeng commented on #31066
@caesarxuchao sorry for the replying late, I just sent #31578 to fix this.

[2016-08-27 07:09] kevin-wangzefeng commented on #31444
@davidopp Yes, I will double check if there's any other chance that may cause taints leak.

[2016-08-27 07:13] kevin-wangzefeng commented on #30018
Close this one, since not happening recently (fixed in #30060).

[2016-08-27 07:13] #30018 closed

[2016-08-27 07:24] k8s-merge-robot opened #31579 "[k8s.io] EmptyDir volumes should support (root,0666,tmpfs) [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31416/node-pull-build-e2e-test/21628/

Failed: [k8s.io] EmptyDir volumes should support (root,0666,tmpfs) [Conformance] {E2eNode Suite}

[code]

Happened on a presubmit run in #31416.

[2016-08-27 07:59] k8s-merge-robot opened #31580 "[k8s.io] Port forwarding [k8s.io] With a server that expects a client request should terminate pods in time {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31577/kubernetes-pull-build-test-e2e-gce/56295/

Failed: [k8s.io] Port forwarding [k8s.io] With a server that expects a client request should terminate pods in time {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31577.

[2016-08-27 08:10] shouhong opened #31581 "PetSet: Is there any plan when the PetSet API will be available?"
I tried PetSet in Kubernetes 1.3 and it is wonderful! But I can only create Pet Sets with kubectl. Is there any plan when the PetSet API will be available? Thanks!

[2016-08-27 09:13] #31195 closed

[2016-08-27 09:22] luxas commented on #31517
cc @kubernetes/sig-auth

[2016-08-27 09:39] javiercr commented on #28154
@Random-Liu the kubelet.log is huge and is really hard to find the relevant information. This is that log filtered on the node that crashed last time (`-e96k`), displaying only Error and Critical logs, and around the time our site went down (12:06)

![image](https://cloud.githubusercontent.com/assets/855995/18026546/f07d4a4e-6c4a-11e6-85de-ff8a9a6fc3f3.png)

[2016-08-27 09:58] #31192 closed

[2016-08-27 09:58] #27211 closed

[2016-08-27 11:47] mikaelh commented on #29166
Hi,
After cluster upgrade to 1.3.5 on GKE I ended up with this issue ("timeout expired waiting for volumes to attach/mount for pod..."). I previously had it on 1.3.3 but now it came back after the upgrade (and restart of nodes).

Seems to be blocked somehow on the master as recreating the PVC etc does not help.
Is there any workaround except creating new disks? @saad-ali

[2016-08-27 13:55] scottstensland commented on #30495
I can confirm when using

    KUBERNETES_PROVIDER aws

error happens for both releases 1.3.5  and 1.3.6

/root/kubernetes/cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 518: KUBE_MANIFESTS_TAR_URL: unbound variable

however release 1.3.4 is OK

[2016-08-27 14:24] deads2k commented on #31521
It seems like this will result in a very busy API group with numerous, unrelated types in various stages of out-of-dateness.  And that doing this will result in a nearly 100% chance that clients will have to change API groups to access the same resource as the API solidifies.

Are those characteristics intentional goals or are they side-effects because of the pain around creating new API groups?

[2016-08-27 14:56] wojtek-t commented on #31215
The same happened here:
http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gke-large-cluster/87/consoleFull

Anythin we can do to detect it?

[2016-08-27 15:26] k8s-merge-robot opened #31582 "[k8s.io] MemoryEviction [Slow] [Serial] [Disruptive] when there is memory pressure should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/458/

Failed: [k8s.io] MemoryEviction [Slow] [Serial] [Disruptive] when there is memory pressure should evict pods in the correct order (besteffort first, then burstable, then guaranteed) {E2eNode Suite}

[code]

[2016-08-27 15:52] smarterclayton commented on #31521
Agree that if extensions was v1alpha1 this would be an easier discussion.

However, API groups have to be able to introduce and version types
completely independently of each other - an OpenShift API object is
not going to show up in extensions, and using it as a grab bag for
core Kube resources I think is working against the goals for API
groups to be independent chunks of function and to enable

[2016-08-27 15:53] smarterclayton commented on #31521
On a related note to David question - Openshift is about to create 13
new API groups.  If we need to make API group creation easier, we're
going to do it.  But if we can't even agree on what groups are for, we
will be in trouble.

[2016-08-27 16:30] vishh commented on #31565
gci is the key-word used to represent the upgraded container-vm. I can explain more offline.

Until the old container-vm is officially removed from GKE we w ill have to test. Over the next couple of months, we can scale down testing on old container-vm to just the critical tests maybe.

Users can still use both versions. They need time to transition over.

Yes.

Not possible for reasons mentioned

[2016-08-27 16:54] Markbnj commented on #31548
Closing this as I misunderstood the requirement to base64 encode data items when using the declarative method for creating a secret.

[2016-08-27 16:54] #31548 closed

[2016-08-27 17:34] goltermann commented on #28325
@pwittrock @david-mcmahon does this need to be fixed before we can test upgrade from 1.3.x to 1.4.hash builds?

[2016-08-27 19:15] Random-Liu commented on #28154
So from the log, it seems that docker is not running or unreachable because of some reason.
The log is full of `Cannot connect to Docker daemon`. If you still have that node running, it would be good to check `docker.log`, `supervisord.log` and `kern.log` to see whether there is anything weird for docker during that time.

[2016-08-27 20:36] shahidhk commented on #26897
I have also faced this issue, k8s `v1.3.4` on coreos gce. The instance name is set as `instance-1`, but the hostname comes out to be `instance-1.c.project-1.internal`.
[code]

Now when I try to create a loadbalancer or nginx, this happens: (log from `kube-controller-manager`)
[code]
As @glerchundi mentioned, can somebody please confirm this behaviour?

[2016-08-27 20:52] caesarxuchao commented on #31066
Thanks, @kevin-wangzefeng! But there are two variations of the flake here. Will the retry fix this variation: https://github.com/kubernetes/kubernetes/issues/31066#issuecomment-242870101? Do you have a theory why the taint is missing?

[2016-08-27 21:12] caesarxuchao commented on #22368
When the replica set is deleted, the configMap will be deleted. Probably the job controller and the petset controller should do the same thing.

[2016-08-27 23:05] dims commented on #30790
@madhusudancs we can close this issue now right?

[2016-08-27 23:43] liggitt commented on #22368
I would definitely not expect a replicaset to add an ownerref to an existing config map that it didn't create. If the config map existed independently, why should it get deleted just because a consumer of it was?

[2016-08-28 00:50] mkonda commented on #12742
Good discussion.  Where did it end up?

Let's say we don't want the framework to assume we trust our insiders.  Let's also say we want the default behavior to be that secrets are encrypted and don't hit disk anywhere.  Finally, let's say that we want it to be easy to set up.

What would a good candidate PR look like?  Would it be to set a different default storage here:
https://github.com/kubernet

[2016-08-28 00:56] DanielHeckrath opened #31584 "HorizontalPodAutoscaler tries to get resource consumption for Pods that do not exist"
**Environment**:
- **Kubernetes version**: 1.3.5
- **Cloud provider or hardware configuration**: Google Container Engine
- **Kernel**: Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2 (2016-04-08) x86_64 GNU/Linux

**What happened**:
We're using a HorizontalPodAutoscaler in our cluster to scale pods based on CPU load. While this is working for some deployments, one deployment seems to be in a bro

[2016-08-28 01:58] k82cn commented on #31300
Seems worked; did I miss anything?

[code]

[2016-08-28 02:14] girishkalele commented on #26626
Closing - The fixes from #27940 and #29782 seem to have fixed the flaky static pod pulling.

[2016-08-28 02:14] #26626 closed

[2016-08-28 02:16] girishkalele commented on #26364
Closing because we are not seeing it now - I didn't make any fixes and cannot locate a commit that might have fixed this. Note userspace proxy cleanup (aka removal) is a TODO.

[2016-08-28 02:16] #26364 closed

[2016-08-28 02:25] girishkalele commented on #30175
This test flake issue is for the gke continuous soak test to be passing reliably.
It is going to be an interesting game of whack a mole, squashing every flake in that suite till I can close this bug.

Recent failures seem to be predominantly due to this namespace error:
Last three runs 8530, 8531 and 8532 all are due to the same namespace issue.

[code]

[2016-08-28 02:31] girishkalele commented on #30747
These namespace errors are still occurring in the gke continuous soak tests.

https://github.com/kubernetes/kubernetes/issues/30175

[2016-08-28 02:36] DanielHeckrath commented on #31584
I was able to fix the problem for my cluster. The pods that the HPA failed to get resource consumption for were stuck in a FAILED state. Those pods were excluded in the result from `kubectl get pods` which lead me to believe that they didn't exist, but I saw them listed in the kube-dashboard by accident.

As a result of this issue, it might be a good idea to either exclude failed pods from resourc

[2016-08-28 03:13] k8s-merge-robot opened #31585 "[k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13610/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if matching {Kubernetes e2e suite}

[code]

Previous issues for this test: #28853

[2016-08-28 03:23] brendandburns commented on #12742
A place to start would be to create an 'encrypting storage' that wraps the storage interface and encrypts things, of course you're going to need to worry about where you get the secret that you use to encrypt the storage and how do you keep it around in the apiserver so that the encrypted data is actually safer.  An alternative would be to see if you can implement the storage layer in terms of cal

[2016-08-28 04:10] brendandburns commented on #7307
I'm closing this as it's nearly a year old and I don't think we really want to do it.

[2016-08-28 04:10] #7307 closed

[2016-08-28 04:13] brendandburns commented on #30395
I second @jbeda that this is the kind of change that should be PRD (Product Requirements Document) and  use-case driven.  I think @erictune 's work on features is applicable here.

Rather than outlining problems with the existing interface, let's identify the core use cases we want to enable, why v1 is insufficient and then identify how to implement them easily in v2.

[2016-08-28 04:14] brendandburns commented on #10446
Closing this, one year old, no investigation, not an issue (or if it is we'll discover it elsewhere...)

[2016-08-28 04:14] #10446 closed

[2016-08-28 05:48] sandys commented on #24677
The coreos team is working to enhance journald to support these kind of usecases - https://coreos.com/blog/eliminating-journald-delays-part-1.html

i think they believe that it is worth fixing it there (and using https://www.freedesktop.org/software/systemd/man/systemd-journal-upload.html) , rather than reimplementing a whole new logging infrastructure. They didnt post the second part of that post

[2016-08-28 05:59] oba11 commented on #29627
Also option `--cloud-provider="aws"` doesnt work for ap-south-1 as well. Not sure if the aws-sdk needs to be updated to reflect the new region

[2016-08-28 06:55] wojtek-t commented on #31300
@k82cn - first of all - this was a flake (it was failing only on some percentage of runs)
Second, we reverted the offending PR in: #31371

[2016-08-28 07:15] ceefour commented on #28709
Also got this issue with both v1.3.4 and v1.3.5, I originally reported in https://googlecloudplatform.uservoice.com/forums/302595-compute-engine/suggestions/15838738-timeout-expired-waiting-for-volumes-to-attach-moun . Happens using both `ReplicationController` and still happened after I switched to `Deployment` (of `ReplicaSet`).

Pod has been stuck in this error state for 4 days, having 2631 rep

[2016-08-28 07:26] ceefour commented on #28709
Tried recreating `Deployment` again, just for kicks, and still happening:

[code]

I have a gut feeling though this has something to do with missing `fsType: ext4` ?

[2016-08-28 07:33] ceefour commented on #28709
Unfortunately it's not because of missing `fsType`, adding `fsType: ext4` has no effect.

[code]

Latest `/var/log/kubelet.log` on the node:

[code]

[2016-08-28 08:03] wojtek-t commented on #31105
So the remaining things here to do are:
-  kubernetes/contrib#1637 + update version of pod-nanny in heapster manifests
- tun kubemark-5 resource constraints

[2016-08-28 08:04] wojtek-t commented on #31105
What we should also do, is to add "kubemark-scale" to list of non-blocking suites of merge-queue, so that bugs will be automatically filed for that suite.

[2016-08-28 08:21] krmayankk commented on #29838
@AdoHe i tried the master branch and the same result. I think the main issue is that when i do a get events, i get events across many resources. The sorting is per resource , we want the events to be sorted across resources. Can you help find where this needs fixing ?

[code]

[2016-08-28 09:22] k82cn opened #31587 "Can not run make test-integration"
When running `make test-integration`, I got the following errors. Did I miss anything?

[code]

[2016-08-28 10:48] zefciu commented on #30716
### Regarding improvements for environment variables
I believe this is out of scope for this proposal. This one is specifically to allow DRY and simple generation of configuration files. Especially for some legacy apps, that would otherwise need startup scripts.
### Regarding the choice of templating language
The text/templates module has more than enough power for our purpose. It is easily extens