[2016-11-05 07:47] saad-ali commented on #32639
Ack, closing

[2016-11-05 07:47] #32639 closed

[2016-11-05 11:34] nhlfr commented on #32026
Well, the unification and needed re-implementation of proxies may be too big change to get it done in 1.5 release. I'm going to work on this soon (in the next week). Let's assume that the worst case will be 1.6 release.

[2016-11-05 13:13] k8s-merge-robot opened #36288 "[k8s.io] Network should set TCP CLOSE_WAIT timeout {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/2086/

Failed: [k8s.io] Network should set TCP CLOSE_WAIT timeout {Kubernetes e2e suite}

[code]

[2016-11-05 13:45] k8s-merge-robot opened #36289 "[k8s.io] Deployment RecreateDeployment should delete old pods and create new ones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/2066/

Failed: [k8s.io] Deployment RecreateDeployment should delete old pods and create new ones {Kubernetes e2e suite}

[code]

Previous issues for this test: #29197

[2016-11-05 15:32] justinsb opened #36290 "Problems with certain etcd3 prefixes?"
I stumbled across this code in the etcd3 backend:

[code]

This is mixing user-provided data with system-provided data, right?  So some values of the prefix will cause unexpected behaviour I think.  I haven't been able to find any validation that makes this safe (yet!)

[2016-11-05 15:47] xiang90 commented on #36290
/cc @hongchaodeng

[2016-11-05 16:03] hongchaodeng commented on #36290
Can you enumerate what are the cases?

What kind of validation are you trying to do? Can you clarify?

I believe there is a system flag called "etcd-prefix" of apiserver. It's probably designed for multi-tenancy case.

But I definitely see the "if" statement is appalling:
[code]
Which could be mixing user input and system data.

[2016-11-05 16:15] chrislovecnm commented on #35534
@janetkuo are your checkmarks on top up to date?

[2016-11-05 16:33] bulletRush commented on #36135
@luxas it seems like this person have same problem with me.
if we install kubelet via yum, then we get a default cluster-dns config `100.64.0.10`. then we use kubeadm to start up our cluster. the kube-dns service get a cluster ip `10.0.0.10`. so nslookup( [Using DNS Pods and Services](http://kubernetes.io/docs/admin/dns/) )will not work.
---
Am i right?should we add a preflight check to this?

[2016-11-05 18:08] justinsb opened #36291 "etcd3: does not include getOps in List call"
The List function in the etcd implementation does not include getOps (but all the other read operations do).  I believe it should, because GetToList does:

https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd3/store.go#L326

[2016-11-05 21:16] elsonrodriguez commented on #36102
@calebamiles I made a change to the docs recently and added the `spark-cluster` namespace to the objects that were missing it.

Don't know what the right resolution is.

[2016-11-05 21:29] pires commented on #36277
This should be post 1.5 when #36079 has been merged.

[2016-11-05 21:42] #36035 closed

[2016-11-05 21:47] k8s-merge-robot opened #36293 "[k8s.io] ServiceAccounts should ensure a single API token exists {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/2510/

Failed: [k8s.io] ServiceAccounts should ensure a single API token exists {Kubernetes e2e suite}

[code]

Previous issues for this test: #31889

[2016-11-05 21:53] paultiplady commented on #35993
I am also seeing this issue on GKE, with the following k8s versions:

[code]

[2016-11-05 22:35] saad-ali commented on #28427
This has been fixed in master (PR https://github.com/kubernetes/kubernetes/pull/35560). That PR needs to be cherry picked to the 1.4 branch. Hence the `kubernetes-e2e-gci-gce-slow-release-1.4` failures.

[2016-11-05 22:39] saad-ali commented on #28283
They are different tests, but same root cause and solution. Let's leave them open until they are actually fixed.

[2016-11-05 22:40] saad-ali commented on #32447
Speak of the devil...

[2016-11-05 22:41] saad-ali commented on #33285
Looks like a recent change might've destabilized this test. Let's leave this open until that is verified.

[2016-11-05 23:49] dims commented on #28188
Looks like DNS resolution problems : see https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/5596/build-log.txt for example

[code]

[2016-11-05 23:52] liggitt commented on #36290
We definitely shouldn't be "sometimes prefixing"… this should be removed and we should audit the callers to determine whether prefix is needed or not and apply appropriately

[2016-11-05 23:52] liggitt commented on #36290
Does the same function exist in etcd2?

[2016-11-06 00:07] chrislovecnm commented on #7562
@harobed I really do not have a hack to get around this.  If you need local storage, it will be ephemeral.  You can take the performance hit and use ESB or Google storage.  In AWS you are able to set IOPS, but I don't know if GCE allows for ssd attached storage yet.  In GCE all storage is remote anyways...

[2016-11-06 01:24] KingJ opened #36295 "vSphere Cloud Provider triggers panic in controller-manager pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): vsphere, ResourcePool, ComputeResource

---

**Is this a BUG REPORT or FEATURE REQUES

[2016-11-06 01:38] a-robinson commented on #7562
@chrislovecnm, not that it really changes this issue much, but just to clarify:

* GCE does have SSD attached storage (SSD persistent disks, in their parlance)
* GCE does have a local SSD storage option (so not all storage is remote)

[2016-11-06 02:02] hongchaodeng commented on #36290
@liggitt
Yes. It existed in etcd2 called [prefixEtcdKey()](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd/etcd_helper.go#L543)

@timothysc @wojtek-t The "sometimes prefixing" logic doesn't seem reasonable here.
[code]
If we removed it, it might cause potential compatibility issues. I think because we are in a process of making etcd3 by default, maybe we can add a note for us

[2016-11-06 02:24] MrHohn commented on #36281
Did a bit debug, found something related to the mutex lock contention between `OnServiceUpdate()` and `OnEndpointsUpdate()`. The situation observed was that `OnEndpointsUpdate()` seemed to have higher priority for gaining the lock. Since endpoints updates were coming constantly, `OnServiceUpdate()` waited for a long time before eventually gained the lock. Not sure why yet.

Logs as below:
[code]

[2016-11-06 02:35] bprashanth commented on #36281
See https://github.com/kubernetes/kubernetes/pull/35334#issuecomment-258656168
We should just default to old behavior as a quick fix (i.e set throttle=nil and default minSync to 0: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L264), till we can make it differentiate no-op from useful updates. We should just recognize and filter bogus updates, they're all from

[2016-11-06 02:51] MrHohn commented on #36281
Good theory. Found something really similar in golang/go#13086.

[2016-11-06 03:09] oulinbao opened #36297 "git commit failed on Macbook Pro"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
master branch in 2016-11-6

**Environment**:
- **Cloud provider or hardware configuration**:
macbook pro 2015
8G Memory, 256 SSD disk, cpu i5

- **OS** (e.g. from /etc/os-release):
mac OS X 10.11.6 (15G31)

- **Kernel** (e.g. `uname -a`):
Darwin bogon 15.6.0 Darwin Kernel Version

[2016-11-06 04:04] #24152 closed

[2016-11-06 04:05] k8s-merge-robot opened #36298 "[k8s.io] Services should be able to up and down services {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/7026/

Failed: [k8s.io] Services should be able to up and down services {Kubernetes e2e suite}

[code]

Previous issues for this test: #26128 #26685 #33408

[2016-11-06 04:20] jberkus commented on #35818
Thanks, will do.

[2016-11-06 04:27] k8s-merge-robot opened #36300 "[k8s.io] Downward API volume should set DefaultMode on files [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/2140/

Failed: [k8s.io] Downward API volume should set DefaultMode on files [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-06 04:30] jberkus opened #36301 "kubeadm: preflight check false positives in CentOS 7"
Platform:  CentOS 7.2.1511 on AWS EC2 (t2.medium)

kubeadm version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.2.380+85fe0f1aadf91e", GitCommit:"85fe0f1aadf91e134102cf3c01a9eed11a7e257f", GitTreeState:"clean", BuildDate:"2016-11-02T14:58:17Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}

Symptoms:

While following installation instructions at http://kubernetes.io/

[2016-11-06 05:04] pdhamdhere commented on #36295
@kerneltime  regression from last regression-fix?

[2016-11-06 05:12] #31738 closed

[2016-11-06 05:46] tonyclam opened #36303 "Two nodes with same name should not be allowed to be added using 'kubeadm join'"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
duplicate node name + "kubectl get nodes"
---

**Is this a BUG REPORT or FEATURE REQU

[2016-11-06 05:47] davidopp opened #36304 ""kubectl get events" or something else should give a sensible timeline of events"
When a user does "kubectl get events" what they probably want is a timeline of the cluster over the last N minutes. In other words, something analogous to dumping the logs from each component into a file and sorting it by timestamp. What "kubectl get events" provides today is far from this, due to compression. It may be that we won't be able to fulfill this use case until we have Infrastore, but w

[2016-11-06 05:52] #32837 closed

[2016-11-06 07:24] #36234 closed

[2016-11-06 09:30] #30279 closed

[2016-11-06 09:33] mengqiy opened #36305 "Eviction doesn't work well with clientset."
`Eviction` doesn't work well with clientset.
`Eviction` lives in policy group, so we need a codec for policy group to encode it, the `versionedAPIPath` is `/apis/policy/v1beta1`.
But when we want to use [`Eviction` subresource](http://kubernetes.io/docs/admin/disruptions/#requesting-an-eviction), it should be POSTed to `/api/v1/namespaces/default/pods/podname/eviction` that start with a different

[2016-11-06 11:38] #29054 closed

[2016-11-06 11:40] #29053 closed

[2016-11-06 12:16] #35701 closed

[2016-11-06 12:36] changleicn commented on #20391
any updates for this issue？

[2016-11-06 13:19] peay commented on #35508
Not sure if this is related (or if I should open a separate issue), but I have been running into similar symptoms with 1.4.0 where my `scheduledjob` ressources often stop to create jobs.

The controller manager has logs like

[code]
and sure enough they'll be a job with this name dating from like the day before or something like that. I've seen this with jobs running every 5mins and every 30mins,

[2016-11-06 13:26] #34822 closed

[2016-11-06 15:18] sstarcher commented on #22207
I put this together for alerting on job status via Sensu and cleanup - https://github.com/sstarcher/job-reaper

It could easily be extended to email etc.

[2016-11-06 15:31] peay opened #36311 "Controller manager cannot determine if scheduledjob needs to be started"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`scheduledjob`, `cannot determine`, `too many missed start times`

---

**Is this a B

[2016-11-06 15:36] smarterclayton commented on #29735
Bumping to P1 because this makes deployments unpredictable - we need
to assess the change required for 1.5 next week and whether we can
come up with a backwards compatible, safe, and non-disruptive change.

[2016-11-06 15:39] #36254 closed

[2016-11-06 15:46] smarterclayton commented on #29033
This is effectively fixed for 1.5.  We'll discuss fencing more in 1.6.  We need to ensure the kubelet continues to work in the presence of force deletion - I think enough of our tests do it we're implicitly covered, but we can talk about that in pod safety.

[2016-11-06 15:58] ingvagabund commented on #35414
@LiTao2016 can you more elaborate on how the priority function handle layers that are not yet available in the Apiserver?

[2016-11-06 16:03] #32123 closed

[2016-11-06 16:04] k8s-merge-robot opened #36312 "TestFiltering {storage}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/19279/

Failed: TestFiltering {storage}

[code]

[2016-11-06 16:15] luxas commented on #36151
I have https://github.com/kubernetes/kubernetes/pull/36313 up to fix this

[2016-11-06 16:15] ingvagabund commented on #34674
@calebamiles the issue was opened 25 days ago. I updated the ``BeforeEach`` 19 days ago. The expected error changes over time. Don't think it is related.

[2016-11-06 16:44] brendandburns commented on #33664
@serverhorror I think the way that I would accomplish what you want is that I would set up a side car container that is in the same pod as your main container.  The job of that sidecar is to monitor the config file and send a signal (e.g. SIGHUP or SIGKILL) to your main container that indicates that the data file has changed.

You could also use container health checks e.g. set up a health check f

[2016-11-06 17:13] Arachnid commented on #33664
Agreed, as-is they're dangerous, but this could be trivially resolved by having the API object retain the hash of the container image as the permanent identifier for it, rather than assuming the (mutable) tag won't change. This seems like a fundamental mismatch between how Docker treats tags and how Kubernetes treats them, but it seems resolvable, to me. Every one of the problems you list below co

[2016-11-06 17:16] pires commented on #36277
Also, [make sure to update the new file headers](https://github.com/kubernetes/kubernetes/pull/36079#pullrequestreview-7315823).

[2016-11-06 17:26] weboracle opened #36314 "Broken link for docker install"
The link here points to broken link getting 404
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have f

[2016-11-06 17:34] bviolier commented on #34919
I am running into the same issue. Any known fix for this?

[2016-11-06 17:48] k8s-merge-robot opened #36317 "kubernetes-e2e-gci-gce-petset: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/1907/

Multiple broken tests:

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working redis cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy

[2016-11-06 18:12] chrislovecnm commented on #28660
@donovanhide not this is not resolved....

[2016-11-06 18:22] MrHohn commented on #34207
I believe this test started to flake again due to #36281.

[2016-11-06 19:24] avkonst commented on #34101
@errordeveloper, letting you know that workaround command is not being rejected:

[code]

What could I do to fix it?

[2016-11-06 19:40] davidopp commented on #34776
I am in favor of adding maxUnavailable in 1.6 for the reasons @mwielgus mentioned (I've changed the milestone to 1.6).

We have also talked about possibly adding an application-specific API endpoint that would be queried instead of a hardcoded min/max, but that is more speculative. The point is just that we are likely to add moe fields to PDBSpec in the future.

[2016-11-06 19:46] davidopp commented on #35318
Presonally I don't think there is a reasonable default PDB behavior that applies across all controllers.

If PDBs are to be auto-generated, I think we need to figure out which controller auto-generates them. (I do like @erictune's idea to have controllers generate them better than my idea to have an admission controller do it.)

For StatefulSet it seems pretty straightforward. And the user could p

[2016-11-06 19:52] #32959 closed

[2016-11-06 19:52] #32984 closed

[2016-11-06 19:52] #32972 closed

[2016-11-06 19:52] #32971 closed

[2016-11-06 19:53] #32970 closed

[2016-11-06 19:53] #32969 closed

[2016-11-06 19:53] #32968 closed

[2016-11-06 19:53] #32967 closed

[2016-11-06 19:53] #32966 closed

[2016-11-06 19:53] #32965 closed

[2016-11-06 19:53] #32964 closed

[2016-11-06 19:53] #32963 closed

[2016-11-06 20:15] eparhei commented on #33544
@miry : I tried your approach, seems to be working the same way in master node but this is the error message on the minion node (to be joined).

 kubeadm join --token=p12345.12345p12345p12345 10.144.2.200
<util/tokens> validating provided token
<node/discovery> created cluster info discovery client, requesting info from "http://10.144.2.200:9898/cluster-info/v1/?token-id=p12345"
error: <node/disco

[2016-11-06 21:03] jberkus commented on #36301
These false positives do not happen with CentOS 7 Atomic on bare metal.  Unfortunately, I don't have a regular Centos 7 on bare metal to test on for comparison.

[2016-11-06 21:40] chrislovecnm commented on #7562
@a-Robinson what has been communicated to me by Google is that even local ssd is not local ;) may have changed. Regardless, storage that can migrate between nodes would be extremely helpful.

[2016-11-06 21:42] bprashanth commented on #34467
Ah, looks like nodeport 30s flake from https://github.com/kubernetes/kubernetes/issues/36281 (we try to verify nodeport service works by curling it for 30s before trying the ingress)

[2016-11-06 22:15] davidopp commented on #7562
https://cloud.google.com/compute/docs/disks/local-ssd

[2016-11-06 22:49] k8s-merge-robot opened #36323 "[k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/17200/

Failed: [k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {Kubernetes e2e suite}

[code]

[2016-11-06 23:07] smarterclayton commented on #35318
Do we have an easy create command / explanation for PDB yet?  Some of this
can just be bulk creation of a PDB

    kubectl get svc -o name | xargs -n 1 kubectl create pdb --max=1

Making that work well goes a long way, and it's trivial to create an
observer controller to set up a default pdb for all services.

On Nov 6, 2016, at 11:46 AM, David Oppenheimer <notifications@github.com>
wrote:

Preson

[2016-11-06 23:17] luxas commented on #33544
@eparhei The token format should be `<6 chars>.<16 chars>` e.g. `012345.0123456789012345`

[2016-11-06 23:19] luxas commented on #36301
Why just don't install ebtables in case you don't have it?

Basically kubeadm does just `which ebtables` and returns error if it doesn't exist, since kubelet requires ebtables to be present.

[2016-11-06 23:23] #33751 closed

[2016-11-06 23:35] k8s-merge-robot opened #36326 "kubernetes-e2e-gci-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/1506/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32684 #36278

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update

[2016-11-06 23:37] craigbox opened #36327 "Federated ingress creates flapping backends and health checks"
Similar to #34291 and possibly related to a problem described in #29341.

I have a federation with three clusters (us, asia, europe).  In it I have created a federated Ingress which refers to a federated Service:

Ingress
[code]

Service:
[code]

The Deployment has a livenessProbe on /:
[code]

Parts of the L7 LB are constantly being updated, created and removed.

Over time, the number of instance

[2016-11-06 23:41] craigbox commented on #29407
@mml, you need --zone in your second command, as the IG is in us-central1-c but your default zone for the describe is us-central1-f.

[code]

For the other problem, @ConradIrwin and @od0, do your problems look like #36327?

[2016-11-06 23:47] k8s-merge-robot opened #36328 "kubernetes-e2e-kops-aws-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/4818/

Run so broken it didn't make JUnit output!

[2016-11-06 23:51] brendandburns commented on #31968
Closing this since @xiang90 indicates it's fixed.

[2016-11-06 23:51] #31968 closed

[2016-11-07 00:07] eparhei commented on #33544
@luxas Thanks, but nothing changed. Still on the minion I get an error that compact JWS format must have three parts. Any idea what is wrong?

On the master node:
 k8s_token="012345.0123456789012345"
root@ubuntu-200:~# kubeadm init --token="${k8s_token}"
<util/tokens> validating provided token
<master/tokens> accepted provided token
<master/pki> created keys and certificates in "/etc/kubernetes/pk

[2016-11-07 00:19] caesarxuchao opened #36331 "[RFC] let RESTClient access subresourse accoss group boundary"
**Problem**

In today's RESTClient, the group/version of the encoder and the group/version in the request url are coupled. It makes difficult for RESTClient to access subresources, such as `eviction` and `scale`, which have to work with resources defined in other group/versions.

To clarify, this is a problem only for the internalclientset, which needs an encoder to convert the object to a specifi

[2016-11-07 00:21] jberkus commented on #36301
Except that apparently it doesn't, because Kubelet apparently works fine with no ebtables.

Also, if ebtables is required, why isn't it marked as a dependency of kubeadm?  Or at least mentioned in the docs?

[2016-11-07 00:39] luxas commented on #36151
Fixed with #36313

[2016-11-07 00:39] #36151 closed

[2016-11-07 01:06] luxas commented on #36303
Thanks for this issue, but we already have one issue open for this.

See: https://github.com/kubernetes/kubernetes/issues/36255

[2016-11-07 01:06] #36303 closed

[2016-11-07 01:22] luxas commented on #36301
Yes, ebtables is a dependency of the kubelet, see: https://github.com/kubernetes/kubernetes/pull/28717 and https://github.com/kubernetes/kubernetes/issues/26093.

You're right that ebtables doesn't seem to be in the rpm dependencies of the kubelet, sorry for that.
I opened https://github.com/kubernetes/release/pull/197 to minimize the delta between debs and rpms, I added the deps to the debs, but

[2016-11-07 01:35] justinsb commented on #36269
master now has a reconciliation loop that should run periodically, and when any discrepancies arise should fix them, yes.  Ideally there wouldn't be any, but EBS has so much variation...

[2016-11-07 01:36] justinsb commented on #36269
cc @jingxu97, who wrote the reconciliation loop

[2016-11-07 01:48] #35842 closed

[2016-11-07 02:42] m1093782566 opened #36333 "[StatefulSet] Fail to scale pod when there is a blocking pod"
**What:**

StatefulSet fails to scale down pod when there is an unhealthy pod.

**How:**

* Create a satefulset

[code]

* First pod is unhealthy

[code]

* Try to scale down statefulset

[code]

* Unhealthy pod is not deleted.

[code]

**Why:**

I assume the root cause is that statefulset controller will ignore delete operations if there is a blocking pod, [here](https://github.com/kubernetes/kub

[2016-11-07 02:56] luxas commented on #34884
The release is out now and documented, closing...

[2016-11-07 02:56] #34884 closed

[2016-11-07 03:03] anguslees commented on #30404
@rootfs: I was holding off for the number of PRs in flight to reduce a bit so it would be less disruptive.   I think about now looks like as good as it's going to get, so I'll have a go at doing this now.  Apologies in advance for the PR rebase breakage...

[2016-11-07 03:37] CaoShuFeng commented on #31307
Hi, I am starting to fix this in kubernetes according to @thockin 's suggestion:

Can someone assign this issue to me?

[2016-11-07 03:50] davidopp commented on #35774
One cluster autoscaler user says "Would be great if I could get the status in something like 'kubectl get
hpa'"

Is there any reason why we shouldn't bite the bullet and do a CA object (which would also hold configuration information)? I know there was concern about complexity of making it work across multiple cloudproviders, but we already have a lot of things that have to work across multiple cl

[2016-11-07 04:00] chrislovecnm commented on #36269
@jingxu97 we going to get this in 1.4.6??

[2016-11-07 04:03] mikekap commented on #36269
I think the reconciler might be in 1.4.5 (there are log messages for reconciler.go above). It looks like what's happening is that it's trying to unmount the wrong path - see the log messages vs the command I ran to unmount it manually.

[2016-11-07 04:04] monaka commented on #19317
In my case, ThirdPartyResource is kept on Etcd. Stucked namespaces was removed after deleting it like this.

[code]

[2016-11-07 04:34] xiaoxi1989 opened #36335 "Access service get report:"no endpoints available for service \"XXXX\"""
**Kubernetes version**
`Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4+$Format:%h$", GitCommit:"$Format:%H$", GitTreeState:"not a git tree", BuildDate:"2016-11-02T03:54:33Z", GoVersion:"go1.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4+$Format:%h$", GitCommit:"$Format:%H$", GitTreeState:"not a git tree", Buil

[2016-11-07 04:57] davidopp commented on #36327
@madhusudancs

[2016-11-07 05:14] victorgp commented on #16563
We are running CoreOS 1068.10 and k8s 1.3.7 version. Those logs only happen once when the kubelet starts and not anymore. However, if i go to cadvisor dashboard i can see the metrics there and it is calculating the disk space properly, that is the weird part...

[2016-11-07 05:15] saad-ali commented on #34118
Ack

[2016-11-07 05:15] #34118 closed

[2016-11-07 05:16] saad-ali commented on #33636
Looks like more recent flakes:

[2016-11-07 05:17] k8s-merge-robot opened #36337 "[k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Basic StatefulSet functionality should provide basic identity [Feature:StatefulSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/1923/

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Basic StatefulSet functionality should provide basic identity [Feature:StatefulSet] {Kubernetes e2e suite}

[code]

[2016-11-07 05:18] saad-ali commented on #32947
Speak of the devil...

[2016-11-07 05:21] saad-ali commented on #33882
These looks like two separate tests, maybe they have the same root cause, regardless it looks like it is still flaking, so closing it would mean another issue will be opened anyway, so let's leave it open until it is actually fixed.

[2016-11-07 05:29] hongchaodeng commented on #36056
Isn't this fixed?

[2016-11-07 05:43] dashpole commented on #16563
That error is likely occurring because the kubelet is trying to query cadvisor before cadvisor has actually collected any information... I wouldnt worry too much about it

[2016-11-07 06:00] victorgp commented on #16563
That makes sense, and it is probably the issue. Thank you for your help!

[2016-11-07 06:14] saad-ali commented on #36269
PR https://github.com/kubernetes/kubernetes/pull/34859

Plan is to have it in either 1.4.6 or 1.4.7

That's a different reconciler. The code @justinsb is talking about is ensure that the internal state of the attach/detach controller does not get out of sync with the ground truth.

[2016-11-07 07:02] praveenrajr9 opened #36340 "Etcd unavailable Error: when performing kube-up.sh"
Bug Report

kubectl version 1.4

Environment
- OS Ubuntu VERSION="14.04.5 LTS, Trusty Tahr"
- Kernel: Linux ubuntu 3.13.0-100-generic #147-Ubuntu SMP Tue Oct 18 16:48:51 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Etcd unavailabe error, while installing kubernetes.

The main cause for this error is having the following below line in kubernetes/cluster/ubuntu/util.sh
line No: 227

Existing code:
[code

[2016-11-07 07:07] AndryBray commented on #33447
@vishh any news about the fix?

[2016-11-07 07:21] wojtek-t commented on #36056
This one is fixed in 3.0.14 (which was release on Friday evening).

[2016-11-07 07:40] AlexMioMio opened #36341 "kubelet print log out-of-sequence"
when i try to debug kubelet，i find kubelet log is out-of sequence.It made me confused for one hour. Can kubelet print log in chronological order? Or kubelet have trouble in log outputing? thx
------------------------------------------------------------------------------------
38.45:5443: getsockopt: connection refused
E1105 10:29:53.995822    4789 reflector.go:216] pkg/kubelet/kubelet.go:1230: Fai

[2016-11-07 07:45] weherdh commented on #32187
@rootfs, so what you mean is that we should avoid using ntfs or ntfs-3g of azure disk?

[2016-11-07 08:09] madhusudancs commented on #36327
@craigbox did you have other Ingress objects in the underlying clusters before creating federated Ingress?

Also, are these GKE clusters? Or GCE ones?

cc @bprashanth

[2016-11-07 09:03] fgrzadkowski commented on #33897
@kubernetes/autoscaling

@mwielgus PTAL.

[2016-11-07 09:51] zreigz commented on #35351
OK I fixed it. Please take a look: https://github.com/zreigz/kubernetes/commit/23453ab31a8db564616e84ce549f013dfa8abb62

[2016-11-07 09:55] simonswine commented on #36177
Hey @mward29, I find your authz webhook really useful. Thanks for contributing that back.

I think given that the RBAC feature aims to solve similar issues, it still provides additional value around its more bespoke options in configuring regular expression to match usernames / namespaces /...

It also can be a good very good starting point of implementing a custom authz webhook.

I think the righ

[2016-11-07 09:57] fgrzadkowski commented on #35774
@davidopp I agree it could be a good solution. We were hesitant to start with desining it, but now we now much more. We have a working implementation across GCE, GKE and AWS and a WIP PR with OpenStack. Maybe it's a good time to revisit this? @mwielgus WDYT?

[2016-11-07 10:01] xiangpengzhao commented on #27398
In our use case, a pod needs to connect to multiple networks (e.g. ctrl/media). Each of the networks should allocate an interface for the pod. The pod may expose a service via media network and, consume services via ctrl and media networks. What we do now is adding an annotation to pod's metadata. The annotation includes information of the networks which pod will connect to. Our CNI plugin gets th

[2016-11-07 10:02] steve-wolter opened #36347 "Service update should not require setting clusterIP"
**Kubernetes version** (use `kubectl version`): 1.4.4

**Environment**:
- **Cloud provider or hardware configuration**: Google GKE

**What happened**:

When I push an update for a K8s Service object through the API via Google's Deployment Manager, it fails because the clusterIP and resourceVersion fields are not provided. This is unexpected because the clusterIP is optional during creation and gen

[2016-11-07 10:05] craigbox commented on #36327
They're GKE clusters, they're in the 'kube-pw' project and you're welcome to view them.

I didn't have any Ingress objects - in all testing I removed both the federated and all 3 cluster Ingresses, in which case I have no HTTP backend services/health checks.  I then recreate the federated Ingress and get this state.

I did first create the federated Ingress before I had a defined NodePort on the S

[2016-11-07 10:05] kashifali94 opened #36348 "multi container issue in pod"
[code]
This is my yaml file which i have created for multi container in pod i know container share the pod ip but is there anyway to specify the port for each container in pods because when i deploy pod one of the container is deployed and other don't and docker daemon gives me error
016/11/02 11:03:11 [emerg] 1#1: bind() to 0.0.0.0:80 failed (98: Address already in use)
nginx: [emerg] bind() to 0

[2016-11-07 10:06] timactive opened #36349 "kubedns skydns: failure to forward request / libvirt coreos"
I recently deployed a kubernetes cluster(http://kubernetes.io/docs/getting-started-guides/libvirt-coreos/)

All working fine but i have issue for my container inside the cluster. In fact i cannot resolve request outside the container.

I create a issue in stackoverflow to explain more.

http://stackoverflow.com/questions/40462338/skydns-failure-to-forward-request

**Kubernetes version** (use `kube

[2016-11-07 10:16] #29799 closed

[2016-11-07 10:16] #36265 closed

[2016-11-07 10:24] mdshuai opened #36350 "Seccomp default profile dir not correct"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):

**What happened**:
There is two issues:
1. As the [design doc](https://github.com/kubernetes/kubernetes/blob/master/docs/design/seccomp.md#api-changes) said, if --seccomp-profile-root unset, it should default to the seccomp subdirectory of the kubelet root directory. But now it c

[2016-11-07 10:24] mdshuai commented on #36350
@derekwaynecarr  @sttts @ncdc

[2016-11-07 10:31] k8s-merge-robot opened #36351 "TestNamespaceController {namespace}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/19319/

Failed: TestNamespaceController {namespace}

[code]

Previous issues for this test: #30855 #33838

[2016-11-07 10:31] gajus commented on #33881
How to fix this issue on an existing cluster?

That is, I think I have the same issue.

Here is relevant information:

[code]

[code]

[code]

As an example of where I first observed the issue,  I have setup a `busybox` pod and attempted to communicate with `elasticsearch-logging-*`.

[code]

[code]

[2016-11-07 10:50] AlexMioMio commented on #36341
@anguslees

[2016-11-07 10:52] k8s-merge-robot opened #36353 "[k8s.io] Deployment iterative rollouts should eventually progress {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-kubenet/2024/

Failed: [k8s.io] Deployment iterative rollouts should eventually progress {Kubernetes e2e suite}

[code]

Previous issues for this test: #36265

[2016-11-07 11:17] wojtek-t commented on #36290
Agree - we should get rid of this if.

However, i agree that this is potentially "backward-incompatible" change (though with default settings (i.e. default registry prefix, etc.) it shouldn't cause any problems.

[2016-11-07 11:32] nebril commented on #32795
Will give it a try.

[2016-11-07 11:57] soltysh commented on #32763
@bgrant0607 [asked to deprecate](https://github.com/kubernetes/kubernetes/pull/33861#issuecomment-252031787) `extensions/v1beta1.Jobs` in 1.5 release and actually remove it only in 1.6. I've moved this issue to 1.6 milestone and created necessary PRs for k8s main repo and docs to inform users about that deprecation.

[2016-11-07 12:04] wojtek-t commented on #36056
OK - I've built 3.0.14-experimental.1 image, which our tests are using now. So closing this one (at least for now).

[2016-11-07 12:09] #36056 closed

[2016-11-07 12:18] jszczepkowski commented on #30571
The test has been stable since Sep 19.

[2016-11-07 12:18] #30571 closed

[2016-11-07 12:36] piosz opened #36357 "Duplicated events in HPA controller"
Extracted from https://github.com/kubernetes/kubernetes/pull/36235#issuecomment-258675817.

It seems we are exporting some events twice.

cc @kubernetes/autoscaling

[2016-11-07 12:55] dlouzan commented on #26309
Hello guys,

Contrary to what I wrote in my last message, I am now almost sure that this is a k8s / docker issue. I can confirm that nginx is performing DNS requests as expected, but is not receiving answers back. This seems to be caused by a wrong configuration of the iptables DNAT of the Node for iptables-based k8s Services when a Pod is re-created.

How to reproduce (k8s v1.3.6):

- Started a P

[2016-11-07 13:14] piosz opened #36360 "Revisit fluentd versioning schema and release process"
Currently there is a big mess with it.

[2016-11-07 13:34] deads2k commented on #36276
@pmorie "pod can't start" problem again?

[2016-11-07 14:15] jszczepkowski opened #36364 "Data race in federation-controller/namespace unittest"
Unit tests on PR #34539 are failing due to data race in federation-controller/namespace unittest.

[code]

More logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34539/pull-kubernetes-unit/3971/

[2016-11-07 14:15] jszczepkowski commented on #36364
CC @mwielgus

[2016-11-07 14:23] dlouzan commented on #19029
@thockin @shamil
Hello guys, sorry for the necro-bump, I think I am facing the same issue (https://github.com/kubernetes/kubernetes/issues/26309#issuecomment-258828324), I see that the ticket is closed and @thockin asked @shamil to open a new issue, but I couldn't find any, what is the status? Thank you.

[2016-11-07 14:41] dims commented on #36297
@oulinbao : this was fixed already in https://github.com/kubernetes/kubernetes/pull/34944

Can you please close this issue?

[2016-11-07 14:42] bgrant0607 commented on #2209
Related:
* @jbeda proposed http://spiffe.io
* @kelseyhightower created https://github.com/kelseyhightower/vault-controller

[2016-11-07 14:51] jszczepkowski commented on #32512
There is a problem with fetching images on GKE.

[code]

It seems that pod is unable to fetch image for more than 2 minutes. It is strange, as AFAIK the image should be pre-fetched by image-puller:
https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/e2e-image-puller/e2e-image-puller.manifest#L30

[2016-11-07 15:02] wojtek-t opened #36368 "GET requests for secrets are not issued in kubemark"
While running tests on real clusters, I see a big number of requests about secretes. E.g. those are logs from 1 hour of the test run:
[code]
This gives almost 1000 requests per second.

Those requests all not present in kubemark at all.

We should investigate why it is the case and try to change kubemark to match production more (at least in this term).

[2016-11-07 15:12] #32150 closed

[2016-11-07 15:13] gmarek commented on #36368
@dchen1107 @yujuhong - does and when Kubelet asks for secrets?

[2016-11-07 15:14] kargakis commented on #36286
Seems related to https://github.com/kubernetes/kubernetes/issues/36270, the replica set is never updated with the new pod-template hash in its labels and selector.

[2016-11-07 15:25] kargakis commented on #36270
New replica set has the pod template label set but not its labels/selector
[code]

[2016-11-07 15:28] farmdawgnation commented on #5607
@thockin Got it. I'm not super familiar with the Kubernetes proposal process, but I'm willing to suggest some things.

Does it need to be _plausable_ across multiple runtimes or _implementable_ across multiple runtimes? The latter would imply that if rkt doesn't support something, then we can't have any kind of support for it in Docker at all.

I know that there's already some pattern of using con

[2016-11-07 15:30] kargakis commented on #36270
Searching through the controller manager logs, the pods for the replica set never seem to be updated either with the new label (for example, test-adopted-controller-4elpf).

[2016-11-07 15:33] wojtek-t commented on #36368
it does, but from what I found only here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L464

[2016-11-07 15:41] jayunit100 opened #36371 "[bazel] on os x: no test statuses due to /udp_linux.go:42 error."
*Problem*

This may or may not be a bug? Maybe bazel is just realizing it can't d a complete build on my os-x env... but the short circuiting seems to be very abrupt.

... running the tests on os-x ...
[code]

gives the following error...
[code]

and then there are no statuses for the other tests...

[code]

*Reproducing*

- go version 1.6.2 or 1.7
- ` /opt/bazel/output/bazel test //pkg/...`

[2016-11-07 15:41] jayunit100 commented on #36371
cc @kubernetes/sig-testing maybe  @mikedanese  can help

[2016-11-07 15:50] k8s-merge-robot opened #36372 "Start kubemark {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/17216/

Failed: Start kubemark {e2e.go}

[code]

Previous issues for this test: #35885

[2016-11-07 15:51] jayunit100 commented on #36371
If we reduce the subset, and just run `//pkg` we get a similar error...
[code]

[2016-11-07 15:56] #36227 closed

[2016-11-07 16:08] codablock commented on #36150
https://github.com/kubernetes/kubernetes/issues/36373 implements solution 2.

[2016-11-07 16:10] dims commented on #36350
@mdshuai Can you please try PR #36375 and see if it works for you. You were not seeing the directory in the error message as it was being set to empty.

[2016-11-07 16:13] elcct commented on #29330
@esayemm sadly not. Also tried Kubernetes 1.4.5 - doesn't work :(

[2016-11-07 16:24] jszczepkowski commented on #33341
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/18164/

According to build log, pod `rc-light-x68aj` was scheduled at 06:13:49. However, kubelet was not able to run it for 2 minutes. I attach kubelets log related to the pod. @vishh @dchen1107 can you please explain what is going on with the pod (or assign it to someone else from kubelet team for help)?

build lo

[2016-11-07 16:25] soltysh commented on #35508
@peay your problem is covered in https://github.com/kubernetes/kubernetes/issues/34447, it's about creating duplicate job.

[2016-11-07 16:40] sijnc commented on #33447
+1 For the NFS fix, also it would be nice if the GKE team had a more detailed release page for the base image releases and features for the container-vm and gci images. I used the container-vm workaround to maintain NFS support but the lack of info on which images had the CVE-2016-5195 patch was a little painful. Would like to see more details moving forward.

[2016-11-07 16:57] gmarek commented on #36368
This one looks like it should be done once for every Pod. Where those gets are coming from?

[2016-11-07 17:01] kenan435 commented on #33913
@errordeveloper
Did you mean  func attemptToUpdateMasterRoleLabelsAndTaints. UpdateMasterRoleLabelsAndTaints is not using recursion as far as I can see.

[2016-11-07 17:02] rootfs commented on #32187
For applications we know, ext4 or xfs don't have any known limitations on kubernetes and ntfs-3g is not known to support selinux, let revisit this topic when we know there is a good use case for ntfs-3g

[2016-11-07 17:11] yujuhong commented on #36368
kubelet gets the secret for every pod on every sync.
There is an issue to open to cache the secrets: #19188

[2016-11-07 17:12] sandys commented on #33881
@errordeveloper referring to your earlier comment (https://github.com/kubernetes/kubernetes/issues/33881#issuecomment-251072229) .. can everything be done using the commandline/api without messing about systemd files ?

[2016-11-07 17:21] kargakis commented on #34318
It seems that there is no need for JustAfterEach and JustAfter should work: https://github.com/onsi/ginkgo/issues/303#issuecomment-258900469

[2016-11-07 17:21] kargakis commented on #34318
It seems that there is no need for JustAfterEach and AfterEach should work: https://github.com/onsi/ginkgo/issues/303#issuecomment-258900469

[2016-11-07 17:39] nikhiljindal commented on #36364
Sent https://github.com/kubernetes/kubernetes/pull/36377 to fix this

[2016-11-07 17:41] MHBauer commented on #26210
Is this failure much rarer now, or did the test go away?

[2016-11-07 17:44] #35337 closed

[2016-11-07 17:52] dts commented on #9043
@quinton-hoole - is there a reason that setting a RESTART environment variable to the current date/time is insufficient or incorrect?

[2016-11-07 18:01] bgrant0607 commented on #7584
We've also discussed eliminating the internal rep. We could just use the latest versioned rep instead. We mostly deliberately don't use a more convenient internal rep, because it would make conversion more manual and error-prone.

Elsewhere we've discussed clients that need to support multiple versions, such as HPA, though I wonder whether the frequency of that could be reduced by longer periods o

[2016-11-07 18:01] quinton-hoole commented on #9043
@dts It's not clear to me what you're proposing.  What would read the RESTART variable and act on it?  The pod? Kubelet?  Something else?

[2016-11-07 18:04] bgrant0607 commented on #7584
Most utility functions should be used by clients, not apiserver.

One case for multiple versions is in tests.

[2016-11-07 18:05] JeanMertz commented on #15995
I just came across the same issue. This would be a nice improvement if this was made possible 👍

[2016-11-07 18:07] wojtek-t commented on #36368
@yujuhong - why this is not happening in kubemark? Do we do periodic sync for pods there?

[2016-11-07 18:08] gmarek commented on #36368
My guess is that our pods don't have any secrets, but @wojtek-t question is valid - does SimpleKubelet does this?

[2016-11-07 18:11] foxish commented on #36333
With a StatefulSet of size > 1; if there is an unhealthy pod, there is no way for k8s to know (yet) if it is due to a permanent fault or a transient one (upgrade/maintenance/node reboot). If it were a permanent fault, scaling without paying heed to it may lead to a state where the StatefulSet membership drops below a certain minimum number of "replicas" that are needed to function correctly, leadi

[2016-11-07 18:15] mikedanese commented on #36371
Building k8s with bazel is not supported on mac yet. We force linux amd64 in gazel right now.

[2016-11-07 18:16] mikedanese commented on #36371
The update and verify scripts should work, but that's as far as we've gotten.

[2016-11-07 18:18] quinton-hoole commented on #9043
@dts Oh, I see, you're referring to @rcoup 's workaround suggestion above. That does not cause an in-place restart, as far as I understand. The rolling update controller portion of deployment will create replacements for all pods, probably on different nodes (and certainly in different kernel namespaces, cgroups etc) than the originals.

[2016-11-07 18:20] k8s-merge-robot opened #36379 "[k8s.io] Deployment deployment should delete old replica sets {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/2516/

Failed: [k8s.io] Deployment deployment should delete old replica sets {Kubernetes e2e suite}

[code]

Previous issues for this test: #28339

[2016-11-07 18:22] #31319 closed

[2016-11-07 18:26] jayunit100 commented on #36371
gotcha

[2016-11-07 18:26] #36371 closed

[2016-11-07 18:27] yujuhong commented on #36368
I haven't looked at the SimpleKubelet code for a long time, but as long as you are not using RunOnce kubelet, there should be periodic sync.

This is possible. Most pods have a default service account including an access token for the apiserver as the secret. I am not sure if this is the cause in the kubemark cluster.

[2016-11-07 18:31] dts commented on #9043
Ah, I understand.  In-Place restart would preserve emptyDir volumes, but not re-mount secrets, etc, correct?

[2016-11-07 18:37] k8s-merge-robot opened #36381 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/13433/

Run so broken it didn't make JUnit output!

[2016-11-07 18:37] tonyclam opened #36382 "Cluster nodes provisioned by Kubeadm. After power cycle the master node, master lost track of the all clusters"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
power cycle kubernetes master, reset kubernetes master

---

**Is this a BUG REPORT o

[2016-11-07 18:38] JeanMertz commented on #33447
I just ran into this issue, so I'm assuming the "< 1 week" estimate was too optimistic?

Given that this is a problem with the base node images, not Kubernetes itself, I suspect this will be fixed whenever the image is updated, out-of-sync from the Kubernetes release schedule, is that correct?

[2016-11-07 19:02] yujuhong commented on #36381
[code]

Cause: https://github.com/kubernetes/release/pull/195

[2016-11-07 19:03] k8s-merge-robot opened #36383 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1525/

Run so broken it didn't make JUnit output!

[2016-11-07 19:04] sc68cal commented on #12083
Based on the code it seems to be 'public' or 'floating' - if I understand correctly.

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L286-L291

[2016-11-07 19:04] yujuhong commented on #36381
/cc oncall @pwittrock

[2016-11-07 19:26] yujuhong commented on #36381
Fixed by https://github.com/kubernetes/release/pull/199.

[2016-11-07 19:26] #36381 closed

[2016-11-07 19:26] saad-ali commented on #30566
Ack, it is significantly less flaky now. Closing. It will be reopened if it flakes again.

[2016-11-07 19:26] #30566 closed

[2016-11-07 19:27] saad-ali commented on #34014
Ack

[2016-11-07 19:27] #34014 closed

[2016-11-07 19:33] yujuhong commented on #36350
@mdshuai what version is your kubelet?

[2016-11-07 19:42] aveshagarwal commented on #35506
@mdshuai I verified the code and validation of default cluster wide selectors and whitelist happens when a pod is being admitted, not when the pluging config file is read.

[2016-11-07 19:42] yujuhong commented on #36247
CRI suites now skip the test by default. Closing this issue.

[2016-11-07 19:42] #36247 closed

[2016-11-07 19:50] yujuhong commented on #35935
After disabling gci_mounter in the node e2e suite, the builds have become more stable (sans some flakes and timeout issues). Demoting to p1

[2016-11-07 19:51] yujuhong commented on #33048
@Random-Liu is there anything left to be done for this issue?

[2016-11-07 19:58] Random-Liu commented on #33048
@yujuhong Nope. We need to get image stats directly from runtime, but that's not for v1.5.

[2016-11-07 20:09] kerneltime commented on #36295
Not a regression but the init code needs to be vetted for varying deployments scenarios. Similar themed panic was hit by RedHat folks as well @ line https://github.com/kubernetes/kubernetes/blob/release-1.4/pkg/cloudprovider/providers/vsphere/vsphere.go#L220

[2016-11-07 20:27] quinton-hoole commented on #36327
Yes, we're aware of this problem.  Unfortunately I've not yet found the root cause.  Presumably the current GCLB Ingress controllers in the clusters are intermittently overwriting each other.  The design precludes this, but there seems to be a bug in the implementation, which I've not yet managed to find.

[2016-11-07 20:35] JeanMertz commented on #23525
Are GCE dynamic volumes still `pd-standard` only?

Using something like this doesn't seem to work (as in, I get a disk, but it's of `standard` class:

[code]

Any thoughts on if this will be fixed in 1.5? I don't see a milestone attached, but the priority was recently added, so I guess there's a good chance this will make it in?

[2016-11-07 20:36] erinboyd commented on #36295
Today the resource pool isn't a parameter of the cloud config, should it be set there, rather than via govc export?

[2016-11-07 20:36] rmmh commented on #35872
@mwielgus there's a data race in the namespace controller.

You'll have to dig into the stdout from the artifacts to see the problem: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-test-go/19344/artifacts/junit_bba3f2094ff2684e2bef26e163867052cb8abfb6_20161107-120048.stdout

[code]

[2016-11-07 20:39] JeanMertz commented on #23525
Hmm, In fact, I can see [the type being implemented here](https://github.com/kubernetes/kubernetes/blob/dbc4121e16938d73ba66ee5f2ddc826347b5e471/pkg/cloudprovider/providers/gce/gce.go#L2488), so I'm not sure if I'm doing something wrong here, or if the offending code is somewhere else.

[2016-11-07 20:51] rmmh commented on #35282
@bprashanth I bumped the quota up from 7 to 20 static IPs, hopefully this fixes the problem.

[2016-11-07 20:56] wojtek-t commented on #36368
My guess is that our pods don't have any secrets,

Marek - this is unrelated. We are running _exactly the same test__ and:
- in Kubemark we don't have those calls
- in real cluster we have those calls

That means - there is significant different between real cluster and kubemark which we don't wanto to have.

[2016-11-07 21:02] deads2k commented on #36331
Shouldn't we be able to use the information we have in the clientset to run a discovery check against the scale API in question and determine version?  Run in once, cache the result (it's not allowed to change) and we can encode properly without user input, right?

[2016-11-07 21:03] kerneltime commented on #36295
The code in question I think needs to scan the hierarchy correctly, today there are strong assumptions around what type a parent or the node itself can be. cc @vipulsabhaya

[2016-11-07 21:19] peay commented on #35508
Ah, I hadn't found this issue, thanks a lot!

[2016-11-07 21:29] bprashanth commented on #35282
@rmmh I need to debug, there's probably a leak somewhere. We should just delete the leaked ips. Sometimes leaks happen because eg: build times out at exactly the wrong moment and kills the test before it can cleanup, but I need to verify there isn't something more subtle going on.

[2016-11-07 21:45] rmmh commented on #35282
OK, I released the leaked / unused static IPs.

On Mon, Nov 7, 2016 at 1:30 PM, Prashanth B <notifications@github.com>
wrote:

[2016-11-07 21:45] bowei commented on #36194
From discussion offline: with @MrHohn @kubernetes/sig-cluster-federation

There seems to be an easier solution to fix this for the 1.5 time frame:

Instead of taking the value of the command line flag directly, we can change the command line flags for kube-dns to be command:

[code]

On non-federation deployments, this will empty string, which is the default unset value.

For federation deployment

[2016-11-07 21:50] #36364 closed

[2016-11-07 21:55] spxtr commented on #34356
Also seeing this on GKE.

[2016-11-07 22:10] nikhiljindal commented on #36194
This is great! Doesnt require any code change to kube-dns. Just a small change to the deployment spec.

[2016-11-07 22:15] caesarxuchao commented on #36331
The user is kubectl. kubectl should negotiate with server what group/version to use in the url, then pass the group/version to clientset, right?

[2016-11-07 22:17] k8s-merge-robot opened #36389 "[k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work for type=LoadBalancer [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/997/

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work for type=LoadBalancer [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

[2016-11-07 22:22] saad-ali commented on #23525
@JeanMertz The alpha version of dynamic provisioning, introduced in v1.2, hard coded all the parameters to pass to provisioners (including disk type). The beta version of dynamic provisioning, introduced v1.4, allows cluster administrators to set the parameters to use for provisioning by defining new `StorageClass` API objects. See [blog post](http://blog.kubernetes.io/2016/10/dynamic-provisioning

[2016-11-07 22:27] #36281 closed

[2016-11-07 22:32] foxish commented on #35826
Kubelet errors mostly. Assigning to Dawn to prioritize and reassign.

[2016-11-07 22:38] TerraTech opened #36391 "JSONpath not drilling down into an RS .spec.template.metadata.name"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
CoreOS-1185.3.0 (baremetal)
hyperkube-v1.4.5_coreos.0

**What happened**:
Given the following output:
[code]
[code]

---
This all started when I wanted to cleanup some straggling RS left behind by deployment updates:
[code]
Which leads me to believe that JSONpath can't test integers. :disappointed:

Then I went tinkering arou

[2016-11-07 22:43] bprashanth commented on #35282
Ok so i think one problem is the test deletes globalstatic ips, but the ip used in the forwarding rule is regional as displayed in the diff: https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/998/artifacts/gcp-resources-diff.txt. But the test cleanup should be a protection from hosing the entier suite on quote exhaust (like what's happening right now), not

[2016-11-07 22:58] offlinehacker commented on #32630
Hi, looks like we are having the same issue on 1.4.1

[2016-11-07 23:04] yujuhong commented on #36159
The pod level cgroup exceeded the memory limit and got oom killed. I think the memory limit of the pod in the test needs to be adjusted.

[2016-11-07 23:09] gmarek commented on #36368
Yes, but as @yujuhong mentioned it's possible that we don't create a service account for the master, which would end up with Pods not having those Secrets. I'll look into in next week-ish.

[2016-11-07 23:12] F21 commented on #7562
Local volumes recently landed in nomad. Maybe their implementation can be used as a reference:
https://www.nomadproject.io/docs/job-specification/ephemeral_disk.html
https://github.com/hashicorp/nomad/pull/1741

[2016-11-07 23:14] janetkuo commented on #36287
@kubernetes/kubectl

[2016-11-07 23:16] bprashanth commented on #36287
status hasn't changed recently
[code]

On Mon, Nov 7, 2016 at 3:15 PM, Janet Kuo <notifications@github.com> wrote:

[2016-11-07 23:20] janetkuo commented on #36287
Yes I can do something like this

[code]

[2016-11-07 23:32] ixdy commented on #35351
@zreigz I have some comments, but the approach looks good, so please open a PR.

[2016-11-07 23:39] foxish commented on #32528
It seems like [operators](https://coreos.com/blog/introducing-operators.html) are very similar to this, except that the babysitters are application specific.

[2016-11-07 23:42] bprashanth commented on #32528
An unfortunate rebranding

On Mon, Nov 7, 2016 at 3:40 PM, Anirudh Ramanathan <notifications@github.com

[2016-11-07 23:57] yujuhong opened #36400 "No port forwarding test in the node e2e suite"
The test should also be added to the node conformance test.

/cc @Random-Liu

[2016-11-08 00:04] Random-Liu commented on #36400
@yujuhong It's in the spreadsheet https://docs.google.com/spreadsheets/d/1qV38BesOaH70bzd_7g_YgUzpI4dZetGwxljL-saUVzw/edit.

Cluster e2e is using kubectl to test port forwarding. If we want to test it, we need to extract the logic out and add it into framework util like what we've done for exec.

[2016-11-08 00:04] jingxu97 commented on #36269
@mikekap Could you please share your full kubelet log with me? You could email me at jinxu@google.com or find me though slack @jinxu  Thank you!

[2016-11-08 00:23] AdoHe commented on #36391
@TerraTech the JSONPath implementation did have some problems, I would take a look asap.

[2016-11-08 00:26] Random-Liu opened #36401 "CRI: Change fluentd to use CRI log path"
Today kubelet creates symlink for docker container log for cluster logging to consume [[Corresponding fluentd configuration](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-image/google-fluentd.conf#L28-L44)]. The symlink is from `/var/lib/docker/containers/CONTAINERID/CONTAINERID-json.log` to `/var/log/containers/PODNAME_PODNAMESPACE_CONTAINERNAME-CONTA

[2016-11-08 00:28] Random-Liu commented on #33048
@yujuhong Should we change this to `next-release`?

[2016-11-08 00:59] Random-Liu opened #36402 "E2E: Kibana e2e test is not working"
The test `Kibana Logging Instances Is Alive [Feature:Elasticsearch]` is not working properly now.

When we check test-grid, we'll see that the test is all green https://k8s-testgrid.appspot.com/google-gce#gci-gce-es-logging.

However, when we check the test build log, we'll see the following error log until the test timeout:
[code]

However, because the test code itself is wrong, the test can stil

[2016-11-08 01:03] spxtr commented on #36383
Err, this was @rmmh I think.

[2016-11-08 01:03] #36383 closed

[2016-11-08 01:05] calebamiles commented on #36323
@jimmycuadra, would you mind fixing this test? This failure is likely related to https://github.com/kubernetes/kubernetes/commit/d42eabd9d23effeaa69cff7fbf407066582de7b4 where the deployment manifests were renamed.

[2016-11-08 01:21] ixdy opened #36403 "kubernetes-src.tar.gz contains no source code"
Due to #30787, we no longer copy the source code into `${LOCAL_OUTPUT_ROOT}`. [We bundle up `${LOCAL_OUTPUT_ROOT}` to produce the `kubernetes-src.tar.gz` file](https://github.com/kubernetes/kubernetes/blob/2dea8a8f8f7f8ea44284c937499b5a946491add5/build-tools/lib/release.sh#L98-L102), however.

Confirmed that the `kubernetes-src.tar.gz` file now contains nothing useful:
[code]

cc @saad-ali @jbeda

[2016-11-08 01:21] thomaso-mirodin commented on #32630
Hey @offlinehacker, our issue ended up being this one: https://github.com/kubernetes/kubernetes/issues/31891

What we are seeing appears to be a bug between with the Xen block device driver and the underlying hypervisor. We're talking to AWS support atm to see if they can assist.

[2016-11-08 01:24] saad-ali commented on #29397
Ack.

[2016-11-08 01:24] #29397 closed

[2016-11-08 01:24] calebamiles commented on #36288
any updates on this @bowei, this looks like a legitimate failure, could someone from @kubernetes/sig-network possibly also take a look?

**cc** @saad-ali, @thockin

[2016-11-08 01:25] kerneltime commented on #36295
Some of the relevant documentation [here](http://pubs.vmware.com/vsphere-60/index.jsp#com.vmware.vsphere.resmgmt.doc/GUID-60077B40-66FF-4625-934A-641703ED7601.html)
[code]
Will try to get a fix in this week.

[2016-11-08 01:26] jamesone commented on #30617
I want to add this here so others done make the same mistake; My cloud was set to the wrong project which is why I got the particular error. **Make sure your on the right project!**

[2016-11-08 01:28] whitlockjc commented on #34348
/cc @lxpollitt

[2016-11-08 01:28] whitlockjc commented on #34348
I've begun work on this, sorry for the delay.

[2016-11-08 01:29] mdshuai commented on #36350
@yujuhong I build kubelet from the latest master branch.

[2016-11-08 01:30] bowei commented on #36288
@calebamiles see https://github.com/kubernetes/kubernetes/pull/36404

The e2e tests are at HEAD but running against an older stable release.

[2016-11-08 01:30] calebamiles commented on #36054
Any updates on this issue @cjcullen @roberthbailey? Should closing out this issue be a release blocker?

**cc** @saad-ali, @gmarek, @wojtek-t

[2016-11-08 01:34] saad-ali commented on #34119
Ack.

[2016-11-08 01:34] #34119 closed

[2016-11-08 01:34] calebamiles commented on #36102
any update on this issue @mwielgus, perhaps someone from @kubernetes/examples could take a look as well? I've added a non release blocker label please let me know if that should be changed to block the release.

[2016-11-08 01:37] calebamiles commented on #35282
thanks for the updates @bprashanth

[2016-11-08 01:42] #33727 closed

[2016-11-08 01:48] yujuhong commented on #35207
I think this may be caused by the ssh tunnel health check. Similar to kubelet, the apiserver has over 10k goroutines hanging.
/cc @cjcullen

[2016-11-08 01:52] yesimages commented on #33729
The new version seemed regression again on ubuntu 16.04 when using kubeadm init:

# kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.3", GitCommit:"4957b090e9a4f6a68b4a40375408fdc74a212260", GitTreeState:"clean", BuildDate:"2016-10-16T06:36:33Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVers

[2016-11-08 01:56] k8s-merge-robot opened #36406 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1547/

Run so broken it didn't make JUnit output!

[2016-11-08 02:10] k8s-merge-robot opened #36408 "[k8s.io] Kubectl client [k8s.io] Kubectl patch should add annotations for pods in rc [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/11189/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl patch should add annotations for pods in rc [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26126 #30653

[2016-11-08 02:18] #31369 closed

[2016-11-08 02:24] mdshuai commented on #36350
@dims It works for me. thanks.

[2016-11-08 02:25] mengqiy opened #36409 "TooManyRequests(429) should have a non-empty RetryAfter when evicting a pod is not allowed"
This is a FEATURE REQUEST.

AFAIK, eviciton is first used in `kubectl drain` in #35483.
If a eviction is not allowed, the caller will get a `429 Too Many Requests`, without a RetryAfter advice. See, [this](http://kubernetes.io/docs/admin/disruptions/#requesting-an-eviction)
It looks like this:
{
  "metadata": {},
  "status": "Failure",
  "message": "Cannot evict pod as it would violate the pod's d

[2016-11-08 02:28] m1093782566 commented on #36333
@foxish

Thanks a lot for the patient explanation.

[2016-11-08 02:50] oulinbao commented on #36297
OK, I will verify it and close it.

[2016-11-08 02:55] #33139 closed

[2016-11-08 02:58] MrHohn opened #36411 "Need to document the correct behaviors user should expect from Addon Manager v6.0."
The new Addon Manager being bumped up in #36008 has some fundamental behavioral changes comparing to the old one. This [README](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/README.md) explains how the new Addon Manager work and makes below claim:

However, the underlying consequences are not well covered in the case that users don't have access to the master node. Issues we'

[2016-11-08 03:31] #28648 closed

[2016-11-08 03:40] #36297 closed

[2016-11-08 03:56] k8s-merge-robot opened #36414 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1531/

Run so broken it didn't make JUnit output!

[2016-11-08 04:14] tjmehta opened #36415 "Service w/ sessionAffinity clientIp not respecting x-forwarded-for header"
I assume this is a bug, as most load balancers respect the `x-forwarded-for` header.
But the documentation makes no mention of weather `sessionAffinity` `clientIp` will "stick" requests by `x-forwarded-*` headers.

**Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:"33cf7b9acbb2cb7c9c72a10d6636321fb180b159", GitTreeState:"clean", BuildDate:"201

[2016-11-08 04:41] k8s-merge-robot opened #36416 "install_gcloud {PRE-SETUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-examples/1528/

Failed: install_gcloud {PRE-SETUP}

[code]

Previous issues for this test: #32669

[2016-11-08 06:10] Starefossen commented on #33729
@yesimages I think it would be wise of you to create a new issue where you post a proper description of the issue you are facing, what you did, and the correct information and logs for your system.

* kubeadm version
* commands you ran
* kubeadm init logs
* kubelet logs

[2016-11-08 06:23] fruetschi commented on #27398
+1 for multi-network support

We would need it in order to provide different paths for redundant audio-streams. Each of the two interfaces would be a macvlan device of different physical interface (on different NICs), so carrier errors can't affect both audio streams.

[2016-11-08 06:28] eggie5 commented on #29166
Same issue on GKE 1.4.5

[2016-11-08 07:10] brendandburns opened #36420 "kubeadm fails to generate self-signed signature"
@kubernetes/sig-cluster-lifecycle

Having trouble getting kubeadm to work properly for my raspberry pi cluster, I'm seeing:

[code]

[2016-11-08 07:18] luxas commented on #36420
Hmm, seems like this is not specifically an ARM issue, more a CSR issue because the `csr.RequestNodeCertificate` returns an error.

cc @aaronlevy

[2016-11-08 07:26] zreigz commented on #36304
I can take a look for it and try prepare some proof of concept

[2016-11-08 07:29] matchstick commented on #26134
@calebamiles I was happy to close it but it just happened again. Downgrading to P2 unless it starts reoccurring frequently again.

[2016-11-08 07:46] k8s-merge-robot opened #36422 "TestSecretController {secret}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/19368/

Failed: TestSecretController {secret}

[code]

Previous issues for this test: #33880

[2016-11-08 08:16] chrislovecnm commented on #36323
@janetkuo how do we get this renamed? Was it in a different PR that has not gone through?

[2016-11-08 08:17] matchstick commented on #33447
@jingxu @saad-ali @JeanMertz You are right, the fix is taking longer than we expected. Can you use the other base image or are you blocked right now?

[2016-11-08 08:22] JeanMertz commented on #33447
@matchstick we aren't using this (yet) in our production environment. I switched our test-setup to the old images, and that worked as expected.

Looking forward to the fix, but not blocked right now 👍

[2016-11-08 08:25] smarterclayton commented on #36331
I'm wondering if we should not just have scale accept the group it is embedded in, and let clients that need a specific schema do so via the schema negotiation proposal.

Ie register scale into all group versions, and generic scale clients should use the server version negotiation to get a specific form.  That would at least ensure that we have exactly one mechanism for dealing with versioned clie

[2016-11-08 08:31] smarterclayton commented on #32528
The operator term could be applied to many different points on the
"appliance management" spectrum.  The first two examples are broad, but
that doesn't mean they can't also exist as single controllers per set, or
more flexible (by invoking hooks).  The solution space probably needs to be
broken down by:

1. Level of customization required (must use my specific backup solution)
or tuning that depen

[2016-11-08 08:55] smarterclayton commented on #36305
This is the same problem Scale has.

[2016-11-08 09:19] zybjcdl opened #36426 "Can't see kubernetes related field in Kibana console"
I am trying to build up fluentd+elasticsearch+kibana on my cluster.
Here are the steps I follow to deploy the apps(all the yaml are from k8s project)
**Start fluentd elasticsearch plugin:**
kubectl create -f ./kubernetes/cluster/saltbase/salt/fluentd-es/fluentd-es.yaml
**Start elasticsearch:**
kubectl create -f ./kubernetes/cluster/addons/fluentd-elasticsearch/es-service.yaml
kubectl create -f ./k

[2016-11-08 09:20] chengzhang1016 opened #36427 "Shouldn't count the time in pause phase for perma-failed deployment"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
perma-failed deployment

**Kubernetes version** (use `kubectl version`):
v1.6.0-alpha.0.191+a132e5c5800108

**What happened**:
Shouldn't count the time in pause phase for perma-failed deployment.

**How to reproduce it** (as minimally and precisely as p

[2016-11-08 09:22] pires commented on #34404
This is a list of potential execution steps:
* Mark current node as **unshedulable** _aka_ cordon the node
* [Drain the node](http://kubernetes.io/docs/user-guide/kubectl/kubectl_drain/)
* Restart the `kubelet` with empty or default values, e.g. crash-loop until an API server is provided

1 - Existing `kubectl` code living in `pkg/kubectl/cmd/drain.go` should be either re-used or adapted.
2 - `kub

[2016-11-08 09:27] wojtek-t commented on #36406
Fixed by #36421

[2016-11-08 09:27] #36406 closed

[2016-11-08 09:33] wojtek-t commented on #36237
This was an experiment that failed. So working as intended.

[2016-11-08 09:33] #36237 closed

[2016-11-08 09:34] salv-orlando commented on #26307
I kept this issue open long enough, and it rightly seems that the kubelet cannot guess whether pod creation should be failed or not. We might first address this with the Containernetworking team, and once we have clarity on error codes operate on the kubelet.

I am therefore closing this issue now.

[2016-11-08 09:34] #26307 closed

[2016-11-08 09:41] k8s-merge-robot opened #36429 "[k8s.io] ReplicationController should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/2226/

Failed: [k8s.io] ReplicationController should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26870

[2016-11-08 09:42] wojtek-t commented on #34911
Since all failures from kubemark-scale are kind-of expected, I'm simply removing those comments from this bug.
We will see what will remain and will take a look.

[2016-11-08 09:44] wojtek-t commented on #33839
All failures from kubemark-scale and gce-enormous cluster are expected. So I'm removing them all from here.

[2016-11-08 09:46] wojtek-t commented on #33839
So there are 2 failures from gce-scalability that we should take a look.

[2016-11-08 09:50] kargakis commented on #34318
@ixdy any reason why you closed this? AfterEach calls are still not working as they should: https://github.com/kubernetes/kubernetes/pull/36376, the failure trap I set in that PR is getting called after the namespace deletion happens.

[2016-11-08 10:07] wojtek-t commented on #33152
Yeah - there were some issues back then. This should be fixed now. Please reopen/open new issue if you see that again.

[2016-11-08 10:07] #33152 closed

[2016-11-08 10:39] wojtek-t commented on #35575
@gmarek - can you please take a look into the first one when you have some time.

The first failure is a panic which seems related to your recent refactoring:
[code]

The second one seems to be some infrastructure failure - basically it seems that all nodes disappeared - there are a huge numbers of logs like this:
[code]
Since all nodes disappeared and we don't have logs from any components, we sh

[2016-11-08 10:41] wojtek-t commented on #35575
Actually, now I recall that the first failure was due to this PR:
https://github.com/kubernetes/kubernetes/pull/34784
that was reverted few hours later. And this would explain this error.

So this issue is debugged and "working as indented".

[2016-11-08 10:41] #35575 closed

[2016-11-08 11:00] kargakis commented on #29735
This is quite a big change for 1.5 and since the problem was always there I would move a fix for this in 1.6.

[2016-11-08 11:21] k8s-merge-robot opened #36433 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1549/

Run so broken it didn't make JUnit output!

[2016-11-08 11:26] wojtek-t commented on #36433
The cluster disappeared after previous manually cancelled run (this is know issue).

[2016-11-08 11:26] #36433 closed

[2016-11-08 11:44] JrCs commented on #36135
`cluster-dns` is store staticaly in the `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` and is install when we installed kubeadm with yum.
As we can change the range of IP address for service VIPs  (with the --service-cidr option of kubeadm) the cluster-dns maybe false.
So at least we need a preflight check, and perhaps kubeadm can create an environment file that contain the right dns IP a

[2016-11-08 11:57] serverhorror commented on #33664
@brendandburns Right, liveness checks seem to be another easy way. That is serving my needs, could have thought of that. Consider my argument for this taken back :)

[2016-11-08 13:03] deads2k commented on #36331
I don't understand how this works client side.  Say I have two known external scale go objects. `pkg/v1/Scale` and `pkg/v2/Scale`.  Those get cross registered as `Scale.v1.foo` and `Scale.v1.bar` respectively.  A client which has the two go types registered, but not the groups (external API server) does a GET `/apis/foo/v1/namespaces/ns/thing/name/scale` and gets back a `Scale.v1.foo`.  Which go t

[2016-11-08 13:07] #33563 closed

[2016-11-08 13:30] jonaz commented on #34594
Same issue with 1.4.4

[2016-11-08 13:52] kcrawley opened #36440 "vSphere minion network routes do not persist through VM restart"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?**: vSphere, networking

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: vSphere
- **OS** (e.g. from /etc/os-release): `Debian GNU/Linux 8 (jessi

[2016-11-08 14:08] jamstar commented on #34101
i am having the same issue as @avkonst.   If you leave validation on, you get this error. `error validating "STDIN": error validating data: items[0].apiVersion not set;`
i included the input from `kubectl -n kube-system get ds -l 'component=kube-proxy-amd64' -o json | jq '.items[0].spec.template.spec.containers[0].command |= .+ ["--proxy-mode=userspace"]' ` and both kind and apiVersion are clearly

[2016-11-08 14:14] wojtek-t commented on #35402
The PR fixing it #36435 is out for review.

[2016-11-08 14:17] wojtek-t commented on #36285
Both runs failed the same way - the test passed successfully and the end it failed with:
[code]

@spxtr @kubernetes/test-infra-maintainers - any thoughts what's that?

[2016-11-08 14:21] dims commented on #36422
@nikhiljindal This flake seems to have started after https://github.com/kubernetes/kubernetes/commit/d8fa6a99a2b82067139e25c72e210cc8cd68152f merged (just looking at the merge time line). Can you please take a look?

[2016-11-08 14:44] kcrawley commented on #36440
tagging @kerneltime

[2016-11-08 15:16] soltysh commented on #31481
Fix is in #36444

[2016-11-08 15:41] calebamiles commented on #34679
Any updates on this issue @apelisse? This issue has flakes which seem related to node lifecycle/scheduling; could you find someone to help triage, @davidopp? This issue also seems to link in test flakes related to autoscaling; could you find someone to take a look, @fgrzadkowski?

**cc** @kubernetes/sig-scheduling, @kubernetes/autoscaling, @saad-ali

[2016-11-08 15:45] calebamiles commented on #36288
thanks for the update @bowei. How should we address this issue, @saad-ali  given that there should already be a fix available for this flake that the tests are not seeing.

[2016-11-08 16:07] calebamiles commented on #34211
any updates on this issue @mwielgus @piosz?

[2016-11-08 16:11] calebamiles commented on #33827
any updates on this issue @saad-ali, @jingxu97?

[2016-11-08 16:23] kargakis commented on #34363
cc: @soltysh you were asking for this I think

[2016-11-08 16:29] bowei commented on #36288
@calebamiles  can you send me a recent failure of a e2e suite that includes the commit?

I'm seeing that the test is no longer run. Note the empty cell:

https://k8s-testgrid.appspot.com/google-gke#gke-staging&sort-by-failures=

There are other tests that are failing as well.

[2016-11-08 16:49] wardviaene commented on #32334
Update: I finished writing a volume plugin for digitalocean. Attach/detach is working on my cluster. Looking for anyone willing to test this on their k8s digitalocean cluster. My branch is https://github.com/wardviaene/kubernetes/tree/do-volume

You can use the following spec in your pod yml:
[code]

Where mykubvolume is the volume created in DigitalOcean in the same region.

Still waiting for an

[2016-11-08 17:00] xiang90 commented on #29542
@AdoHe @brendandburns

This does not match users expectation I think. `Kubectl apply` should only apply changes without changing the unspecified fields, right? We probably can not just replace/update the data field with user given data.

[2016-11-08 17:06] caesarxuchao commented on #36305
Yes, summarized in #36331. We currently work around this problem by using AbsPath().

[2016-11-08 17:07] jeremywadsack commented on #33877
DNS uses UDP over port 53 for lookups.

Incidentally we have had this quite often as well. I think the DNS is the issue though, not `accounts.google.com` because it's a look up failure. I've seen the same for `accounts.google.com`, but probably because we send tons of requests to that host. Usually this happens for us when a node is about to become out-of-memory and `kube-dns` fails.

Upgrading Ku

[2016-11-08 17:10] willis7 opened #36450 "Volume stuck in attaching state when using multiple PersistentVolumeClaim"
I'm using Kube 1.4.5, and AWS storage.

When I try to attach multiple volumes using PVC's, one of the volumes consistently gets stuck in the attaching state whilst the other is successful.

Below are the definitions that I used.

_sonar-persistence.yml_
[code]
_sonar-claim.yml_
[code]
_sonar-deployment.yml_
[code]
The data volume always appears to be successful, and maybe coincidentally is first i

[2016-11-08 17:57] anioool commented on #36156
@justinsb May you help to assign this issue?

[2016-11-08 18:10] chrislovecnm commented on #35534
https://github.com/kubernetes/kubernetes/issues/36323 is blowing up.  @janetkuo @bprashanth did we not merge correctly?

[2016-11-08 18:17] k8s-merge-robot opened #36452 "kubernetes-e2e-gci-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability/1046/

Run so broken it didn't make JUnit output!

[2016-11-08 18:21] rkouj commented on #36098
https://github.com/kubernetes/kubernetes/pull/36280

[2016-11-08 18:40] #35944 closed

[2016-11-08 18:40] #35869 closed

[2016-11-08 18:42] #36326 closed

[2016-11-08 18:43] #36414 closed

[2016-11-08 18:43] #36317 closed

[2016-11-08 18:46] pbecotte commented on #33245
Got the same issue.

apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  creationTimestamp: 2016-11-08T18:37:33Z
  generation: 3
  labels:
    app: nginx
  name: log-daemonset
  namespace: default
  resourceVersion: "1448469"
  selfLink: /apis/extensions/v1beta1/namespaces/default/daemonsets/log-daemonset
  uid: 6986a16e-a5e2-11e6-9567-0e331f3b19c0
spec:
  selector:
    matchLabels:
      a

[2016-11-08 18:48] pbecotte commented on #33245
This was actually created by an integration test for my kubernetes python client.  This is the yaml

apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: log-daemonset
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.7.9

Deleting the daemonset using the http api works fine, only see th

[2016-11-08 18:49] fejta commented on #36285
It looks to me like this is what actually failed per the `error running get nodes` message:
[code]

https://github.com/kubernetes/kubernetes/blob/master/hack/e2e.go#L251

And here is the problematic line:

[code]

To me this suggests that something was overloaded? Either the VM or apiserer?

[2016-11-08 18:54] ixdy commented on #36285
This looks similar to #35780 except that the `get nodes` stage is timing out, rather than getting connection refused.

[2016-11-08 18:56] fejta commented on #36452
Looks like this got a 500...

+ gcloud compute --project=k8s-jenkins-gci-scalability config-ssh
Uploading public ssh key to project metadata...
ERROR: (gcloud.compute.config-ssh) Could not fetch project resource:
 - Internal Error

[2016-11-08 19:04] scottstensland commented on #35103
Does it launch OK using prior release ... say v1.3.4

[2016-11-08 19:05] krousey opened #36453 "Deployment e2e shouldn't test event messages"
These messages are meant for human consumption, not programmatic testing. This is causing issues in the 1.5 release upgrade tests and should be fixed. The fix will have to be cherry picked into 1.4 and 1.3 as well.

See

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/3
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kube

[2016-11-08 19:10] k8s-merge-robot opened #36454 "kubernetes-cross-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-cross-build/1549/

Run so broken it didn't make JUnit output!

[2016-11-08 19:13] ixdy commented on #36454
Looks like #31996.

[2016-11-08 19:15] ixdy commented on #34318
oh, I thought your last comment meant that `AfterEach` would work.

[2016-11-08 19:19] bprashanth commented on #35283
possibly fixed with https://github.com/kubernetes/kubernetes/pull/36332

[2016-11-08 19:19] #35283 closed

[2016-11-08 19:20] bprashanth commented on #34467
probably fixed with https://github.com/kubernetes/kubernetes/pull/36332

[2016-11-08 19:20] #34467 closed

[2016-11-08 19:23] #5684 closed

[2016-11-08 19:23] #11834 closed

[2016-11-08 19:23] #16985 closed

[2016-11-08 19:29] nikhiljindal commented on #33312
Another replicaset issue reported on slack: we do not set the "ready" field in replicaset status: https://kubernetes.slack.com/archives/sig-federation/p1478597937000904

[2016-11-08 19:35] sayash commented on #31613
Not sure if directly relevant, but adding mount options to volumes may also help in setting tmpfs / shm sizes also. I'm currently using the method outlined in [openshift documentation](https://docs.openshift.org/latest/dev_guide/shared_memory.html) for mounting a larger SHM into a pod's container than the default 64 MB given by Docker. Being able to set a mount options such as `size` could help he

[2016-11-08 19:37] whitlockjc commented on #34348
I have a proposed solution to this.  I think we could make the existing `ImagePolicyWebhook` generic and reuse most of it as-is.  This makes the work much simpler and since we'd be repurposing an existing admission controller, it should be much less risk.

This is how I will build this PR unless someone disagrees.

[2016-11-08 19:38] Stono opened #36456 "Nodes not be scheduled across zones as expected"
Hi, as per http://kubernetes.io/docs/admin/multiple-zones/#pods-are-spread-across-zones it says `Pods in a replication controller or service are automatically spread across zones. ` and then goes onto giving the example of the guestbook being spread across three zones/

However, as you can see below, I have four nodes, 2 in each zone.  The zones are europe-west1-c and europe-west1-d.

I deploy a s

[2016-11-08 19:51] k8s-merge-robot opened #36457 "[k8s.io] DNS horizontal autoscaling [Serial] [Slow] kube-dns-autoscaler should scale kube-dns pods when cluster size changed {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial/303/

Failed: [k8s.io] DNS horizontal autoscaling [Serial] [Slow] kube-dns-autoscaler should scale kube-dns pods when cluster size changed {Kubernetes e2e suite}

[code]

[2016-11-08 19:51] k8s-merge-robot opened #36458 "[k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/2256/

Failed: [k8s.io] Deployment scaled rollout deployment should not block on annotation check {Kubernetes e2e suite}

[code]

Previous issues for this test: #30100 #31810 #34331 #34717 #34816 #35337

[2016-11-08 20:08] bprashanth commented on #35282
This is not a release-blocker, it's a leak, but not frequent enough that the user would get hit hard by it. It happens on toggline the service on/off. FTR some logs that show the leak (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-alpha-features/1967). It is fixable in a minior release, but good to fix in 1.5 timeframe.

[2016-11-08 20:15] yujuhong commented on #30175
The test panic'd because of concurrent map writes.

[code]

There is a recent change (#36012) `plugin/pkg/client/auth/gcp`.  @jlowdermilk could you take a look? Thanks!

[2016-11-08 20:20] saad-ali commented on #33827
Cherry pick to 1.4 branch is in progress: https://github.com/kubernetes/kubernetes/pull/36398

[2016-11-08 20:34] #36403 closed

[2016-11-08 20:39] Stono commented on #33447
@matchstick any chance of an ETA?  The combination of this, and PetSets not being available in GKE without a volatile cluster is making it extremely difficult for me to create a stateful, scaled cluster of redis.

[2016-11-08 20:39] #35374 closed

[2016-11-08 20:42] Stono commented on #36042
is it not this? https://github.com/kubernetes/kubernetes/issues/33447 same issue I'm having

[2016-11-08 20:45] jimmycuadra commented on #35534
#36418 will fix #36323. Waiting for someone to review/merge.

[2016-11-08 20:46] yesimages opened #36460 "kubeadm init hang again on new version on ubuntu 16.04"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubeadm init hang

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2016-11-08 20:50] nikhiljindal commented on #36422
Sorry just saw this, looking at it now

[2016-11-08 20:51] yujuhong commented on #36137
Closing since #35839 has been merged.

[2016-11-08 20:51] #36137 closed

[2016-11-08 20:59] anguslees commented on #36341
(Why was I added to this?)

My first thought is: that is oddly close to an exact hour jump and everyone going through DST changes. Except it wasn't on an hour boundary so that's probably a red herring.

[2016-11-08 21:08] mikedanese commented on #35073
I'm going to start looking at this.

[2016-11-08 21:11] Stono commented on #33447
I've caved and rolled back to Debian

[2016-11-08 21:13] #22695 closed

[2016-11-08 21:26] kerneltime commented on #36440
@kcrawley me as well. Kube-up as of now is good enough to try out k8s but not production ready. We are looking into kube-anywhere as well as a more permanent solution for deploying.

[2016-11-08 21:40] kerneltime commented on #36295
The resource pool is not important here, the code tries to discover the information it should return for GetZone() API. It has a prescriptive notion for what the deployment should look like and tries to discover the cluster it is in to return zone information. I suggest that the selection of zone be done at install time and no assumption be made within the cloud provider code as to what constitute

[2016-11-08 21:48] #15810 closed

[2016-11-08 21:52] fabiand commented on #27398
I do like the high level concept of logical networks.
The question is if we need to keep their definitions inside k8s to provide enough infirmations to network plugins and pod specs.

Also - We should see that multiple networks are not breaking todays default networking (single NIC with IPAM).

[2016-11-08 22:07] mwielgus commented on #34211
This is probably not a p0 issue. Will take a look first thing in the morning.

[2016-11-08 22:09] whitlockjc commented on #34348
/cc @lavalamp

[2016-11-08 22:12] nikhiljindal commented on #36422
Sent https://github.com/kubernetes/kubernetes/pull/36463 for a fix

[2016-11-08 22:19] dims commented on #36422
nice thanks @nikhiljindal

[2016-11-08 22:35] jeffmendoza commented on #36323
A PR is already open #36418 assigned to @foxish

[2016-11-08 22:53] euank commented on #30939
@dchen1107 mind closing this issue per my [comment above](https://github.com/kubernetes/kubernetes/issues/30939#issuecomment-245774676) since I can't?

[2016-11-08 22:58] dims commented on #33722
@calebamiles @saad-ali This flake stopped 6 days ago. Can we please remote the p0 designation?

[2016-11-08 22:59] dashpole opened #36466 "Clean Up Pods before Deleting Pod from API server"
As discussed in #29033, we should only delete a pod after all of its resources have been reclaimed.
After speaking with @Random-Liu and @yujuhong, this is a larger issue, and one that should be discussed before proceeding.
cc: @derekwaynecarr @vishh @kubernetes/sig-node @kubernetes/sig-storage

Here are some preliminary questions, and possible solutions, but I likely don't have the whole picture y

[2016-11-08 23:03] dims commented on #33649
Digging through previous traffic looks like this was worked on in https://github.com/kubernetes/kubernetes/issues/34256 and upstream docker bug is fixed already https://github.com/docker/docker/issues/27289

[2016-11-08 23:06] saad-ali commented on #36351
@mwielgus Any updates on this issue?

[2016-11-08 23:17] ymqytw commented on #35134
@kmala Can you paste the manifest here?

[2016-11-08 23:20] saad-ali commented on #36466
Kubelet volume manager currently monitors the pod manager and waits for a pod to be deleted as the signal to start volume cleanup. While, it could be modified to trigger off some other signal, containers running as part of the pod must always be terminated before volume cleanup is started otherwise there is a possibility of data corruption.

[2016-11-08 23:22] kmala commented on #35134
Created the deployment using
[code]
then did a kubectl apply using
[code]

[2016-11-08 23:25] vishh commented on #36466
Dead containers & logs are one and the same as of now.

As mentioned above, logs are not an issue as of now. Image lifecycle is separate from that of pods since images are shared by default. Hence ignore images too for now.
I think all objects that belong to a pod consuming sizable cluster resources, be it cgroups, storage volumes/plugins, network interfaces, cluster level objects, etc. needs to b

[2016-11-08 23:26] vishh commented on #36466
@saad-ali

This is an important point. The state machine for a pod needs to delete containers prior to deleting "volumes".

[2016-11-08 23:29] yujuhong commented on #36466
I think the pod worker can just do this. There is no need to create yet another thread for this.

#29033 was marked v1.5 and closed already. If we are going to discuss the internal implementation in kubelet, I'd rather start with a new issue.

[2016-11-08 23:29] ymqytw commented on #35151
Ref: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#lists-of-named-subobjects-preferred-over-maps

[2016-11-08 23:31] janetkuo commented on #35534
@chrislovecnm this happened because example e2e tests aren't blocking submit queue (so it's failing but unnoticed)

[2016-11-08 23:36] saad-ali commented on #36351
@nikhiljindal is @mwielgus the right person to look at this?

[2016-11-08 23:42] vishh commented on #29033
@smarterclayton this is not completely resolved. Specifically, cleaning up kubelet's resources as part of pod deletion is not yet done. @dashpole is looking into that now.

[2016-11-08 23:44] vishh commented on #36466
Agreed!

I re-opened #29033 since it is not yet "completed". I'd recommend creating a google doc to discuss internal design instead.

[2016-11-08 23:46] dashpole commented on #29033
We should only delete a pod after all of its resources have been reclaimed.
After speaking with @Random-Liu and @yujuhong, this is a larger issue, and one that should be discussed before proceeding.
cc: @derekwaynecarr @vishh @kubernetes/sig-node @kubernetes/sig-storage

Here are some preliminary questions, and possible solutions, but I likely don't have the whole picture yet.

What kinds of thing

[2016-11-08 23:47] dashpole commented on #36466
Closed in favor of #29033

[2016-11-08 23:47] #36466 closed

[2016-11-08 23:49] nikhiljindal commented on #36351
Yes, both of us are looking at this.
cc @kubernetes/sig-cluster-federation  if anyone else has an idea

[2016-11-08 23:55] saad-ali commented on #36351
Great, thanks!

[2016-11-08 23:56] yujuhong commented on #36466
That usually serves as a write-up or proposal *after* some discussion. I don't think using github for the initial discussion is bad.

[2016-11-09 00:05] #32391 closed

[2016-11-09 00:08] ymqytw commented on #35134
I guess you are using `kubectl create` instead of `kubectl apply` to create the resource.

[2016-11-09 00:12] ymqytw commented on #35134
I think this links to a known issue. But I can't find it now.
A workaround is using `kubectl apply` for creating and updating the config.

[2016-11-09 00:18] ymqytw commented on #35229
@kubernetes/sig-cluster-lifecycle

[2016-11-09 00:21] ymqytw commented on #35250
@kubernetes/kubernetes-docs-maintainers

[2016-11-09 00:25] yujuhong commented on #36402
/cc @Crassirostris @piosz

[2016-11-09 00:32] piosz commented on #36402
@Crassirostris could you please take a look? Thanks!

[2016-11-09 00:41] #36323 closed

[2016-11-09 01:03] AncientRemember opened #36468 "centos 7,hyperkube1.4.3 ,docker 1.12 Could not map image: Timeout after 10s"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-09 01:05] #36468 closed

[2016-11-09 01:06] k8s-merge-robot opened #36469 "[k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/17300/

Failed: [k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {Kubernetes e2e suite}

[code]

Previous issues for this test: #36323

[2016-11-09 01:16] AncientRemember opened #36470 "ceph rbd dynamic provision report: Could not map image: Timeout after 10s"
kubernetes v1.4.3:

**Environment**:
- centos 7
- docker 1.12
-hyperkube1.4.3

i follow the example :https://github.com/kubernetes/kubernetes/tree/master/examples/experimental/persistent-volume-provisioning/rbd
to deploy a rbd pvc,but encounter a error:
Operation for "\"kubernetes.io/rbd/27398ce7-a579-11e6-8b62-7427ea3303cf-pvc-1424170c-a577-11e6-8b62-7427ea3303cf\" (\"27398ce7-a579-11e6-8b62-7427

[2016-11-09 01:17] roberthbailey commented on #35229
Can you log into the master machine and see if the apiserver is running? Or crashing?

[2016-11-09 01:19] AncientRemember commented on #36470
i have install ceph and ceph common in the hyperkube,and add kubelete mount
-v /var/lib/docker:/var/lib/docker:rw \
-v /sbin/modprobe:/sbin/modprobe:ro \
-v /lib/modules:/lib/modules:ro \
-v /etc/ceph:/etc/ceph:ro \

[2016-11-09 01:25] AncientRemember commented on #36470
this is the kubelet log:
I1108 06:09:47.722977   12317 conversion.go:133] failed to handle multiple devices for container. Skipping Filesystem stats
I1108 06:09:57.795834   12317 conversion.go:133] failed to handle multiple devices for container. Skipping Filesystem stats
I1108 06:09:57.795856   12317 conversion.go:133] failed to handle multiple devices for container. Skipping Filesystem stats
I11

[2016-11-09 02:02] #36422 closed

[2016-11-09 02:09] bprashanth commented on #35282
I got some time to dig today. This will happen if we toggle the OnlyLocal annotation on->off->on then change the type of the service such that it no longer requires a loadbalancer within 5s (next retry). This is because the toggle from off -> on hits an error.

I still need to dig up why the test didn't fail, if we are hitting the race described the test should either poll till 5s retry which shou

[2016-11-09 02:44] k8s-merge-robot opened #36473 "TestSecretController {secret}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/19414/

Failed: TestSecretController {secret}

[code]

Previous issues for this test: #33880 #36422

[2016-11-09 04:41] ymqytw commented on #36081
It seems that when we do [yaml.Unmarshal()](https://github.com/ghodss/yaml/blob/master/yaml.go#L80), the decoder will swallow part of the manifest when `---` is missing. We may need to fix the upstream issue in [go-yaml](http://gopkg.in/yaml.v2).
@bgrant0607 @ghodss I'm not sure if this is a known issue?

[2016-11-09 04:45] vishh commented on #36466
I'm having trouble following discussions that span multiple issues. To
preserve context, at-least for this issue, it is better to move the
discussion back to #29033
<https://github.com/kubernetes/kubernetes/issues/29033>.
As for docs vs issues, I feel it's a personal preference. I find it hard to
follow details in an issue once it has more than 10-15 separate posts. For
issues to work for me, one

[2016-11-09 05:00] #33138 closed

[2016-11-09 06:06] F21 opened #36477 "Support init containers per deployment"
The current behavior of init containers is to run a set of init containers for every pod.

It would be nice if the behavior could be extended so that we can define a set of init containers for a deployment. This would be extremely useful if we have an app that talks to a database and would need to run database migrations or perform some action or task exclusively for the whole deployment during st

[2016-11-09 06:33] rasekar2000 opened #36480 "Feature Request : gcePersistentDisk can be from ANY gcloud project but in the same zone"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

## FEATURE REQUEST

http://kubernetes.io/docs/user-guide/volumes/#gcepersistentdisk

There are some **restrictions** when using a gcePersistentDisk:

- the nodes on which pods are running must be GCE VMs
- those VMs need to be in the **_same_** GCE project and zone as the PD

Feature request is to improve the gcePersistentDisk to support

[2016-11-09 06:45] k8s-merge-robot opened #36481 "[k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should only target nodes with endpoints [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/1031/

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should only target nodes with endpoints [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

[2016-11-09 06:50] #35823 closed

[2016-11-09 07:19] jakub-d opened #36482 "DaemonSet PODs randomly fail to start on management nodes after reboot"
BUG REPORT
**Kubernetes version**
v1.4.3+coreos.0

**Environment**:
- **Cloud provider or hardware configuration**:
Bare metal CoreOS installation. 3 management nodes + 2 worker nodes.
- **OS** (e.g. from /etc/os-release):
`CoreOS stable (1185.3.0)`
- **Kernel**
`4.7.3-coreos-r2`

**What happened**:
DaemonSet pods randomly fail to start on management nodes after nodes reboot.
[code]
10.54.147.4, 1

[2016-11-09 07:24] gleeb commented on #28586
Experiencing the same problem... I added the second AZ myself, but thats really not the solution or something I can live with for very long

[2016-11-09 07:32] nikhiljindal commented on #36287
Still not sure what changed, but adding a wait to check that ingress field is set in {.status.loadbalancer} before checking {.status.loadBalancer.ingress[*].ip} fixes the problem.
Sent https://github.com/kubernetes/kubernetes/pull/36483 for that

[2016-11-09 07:44] fgrzadkowski commented on #34679
@jszczepkowski Jerzy, can you please take a look at HPA failures?

[2016-11-09 08:15] jakub-d opened #36485 "Containers from init-containers section do not execute during node reboots"
BUG REPORT
**Kubernetes version**
v1.4.3+coreos.0

**Environment**:
- **Cloud provider or hardware configuration**:
Bare metal CoreOS installation. 3 management nodes + 2 worker nodes.
- **OS** (e.g. from /etc/os-release):
`CoreOS stable (1185.3.0)`
- **Kernel**
`4.7.3-coreos-r2`

**What happened**:
I added an `init-container` to the `kube-scheduler.yaml` file in `/etc/kubernetes/manifests` direct

[2016-11-09 09:22] floreks commented on #35076
More I'm looking into this more issues I encounter and they are all related to logs streaming. My Go knowledge might not be enough at this point.

Main issue is that response stream from i.e. [docker client](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/kube_docker_client.go#L391) during redirect to output stream (basically when `io.Copy()` is used) will hang until `

[2016-11-09 09:26] #30278 closed

[2016-11-09 09:35] offlinehacker commented on #31891
Do you think, is this issue then bound to a speciffic kernel version?

[2016-11-09 09:40] kargakis opened #36488 "Panic in the deployment controller"
[code]

cc: @kubernetes/deployment

Found in https://github.com/kubernetes/kubernetes/issues/36286#issuecomment-259332072

[2016-11-09 10:20] miry commented on #33544
@eparhei try to use quotes  `kubeadm join --token="${k8s_token}" 10.144.2.200`

[2016-11-09 10:36] rf232 opened #36489 "https-nginx sample busyloops"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT on sample file

I was using the /examples/https-nginx sample application for some small testing purposes and was surprised by the relative high load it kept having in the nginx pods.

After some inspection I found out that kubernetes/examples/https-nginx/auto-reload-nginx.sh is basically running a busy loop. the `inotifywait` co

[2016-11-09 10:53] yuriy-filatov commented on #35419
apt-get dist-upgrade & rebooting instance helped to fix issue.

[2016-11-09 10:53] #35419 closed

[2016-11-09 11:11] Crassirostris commented on #36402
Yes, that is true, thanks for noticing!

Failing to connect for some time is OK, it's explained in https://github.com/kubernetes/kubernetes/pull/36192 but I agree that the test is broken anyway

[2016-11-09 11:13] #36350 closed

[2016-11-09 11:21] nasry opened #36490 "how to make node-port has the same value as target port"
Hello,
please I would like to know if it possible to make the node-port take the some value as the target port instead of the random value.
thanks

[2016-11-09 11:27] kargakis commented on #36477
@kubernetes/deployment @smarterclayton

[2016-11-09 11:27] kargakis commented on #36477
Closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/14512

[2016-11-09 11:27] #36477 closed

[2016-11-09 11:34] mootezbessifi opened #36493 "kubernetes service can only request pod in local node"
Since 3 days i faced a very strange behavior in kubernetes cluster when requesting mounted services.
first of all i am newbie with kubernetes. i tried to install a kubernetes cluster (one master 10.104.25.85 and 2 nodes 10.104.25.86 , 10.104.25.87) using ansible on CentOS 7. i inspired my playbooks from official kubernetes github repository (https://github.com/kubernetes/contrib/tree/master/ansibl

[2016-11-09 11:47] mootezbessifi commented on #36493
@k8s-merge-robot

[2016-11-09 11:47] k8s-merge-robot opened #36494 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster/148/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #32185 #32372

[2016-11-09 11:48] mootezbessifi commented on #36493
@thaJeztha

[2016-11-09 12:06] wojtek-t commented on #36473
Increasing priority - I've hit this 5 times today (out of 6 runs or so).

[2016-11-09 12:06] wojtek-t commented on #36473
@quinton-hoole @nikhiljindal @madhusudancs

[2016-11-09 12:06] wojtek-t commented on #36473
@mwielgus

[2016-11-09 12:24] zreigz commented on #36304
I've prepared some proposal for your request. Please take a look for my code:
https://github.com/zreigz/kubernetes/commit/0b62ecbc6d2d3321fa9d0c91d38c9087b5597d99
Now you can use command:
[code]
If you guys like it I will make PR for it

[2016-11-09 12:47] kargakis commented on #36488
Increasing the priority to P0 because it seems this is the issue behind most of the latest deployment flakes.

[2016-11-09 12:50] kargakis commented on #34318
It works on plain ginkgo tests, not sure why it doesn't work with the Kube framework.

[2016-11-09 12:54] deads2k commented on #34348
I don't see a reason to repurpose an existing admission plugin.  We want something distinctly different with different needs in terms of API and serialization.  In fact, the existing API structure of the `ImagePolicyWebhook` is not harmonious with generic admission logic.

[2016-11-09 13:23] dims commented on #36473
@nikhiljindal : something still broken after https://github.com/kubernetes/kubernetes/pull/36463 got merged?

[2016-11-09 13:32] jszczepkowski commented on #34679
WRT HPA tests in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2411/

HPA tests are failing, because HPA cannot communicate with heapster (controller-manager logs):
[code]
The exact line is [here](https://github.com/kubernetes/kubernetes/blob/f495e7322c9ba700835551bf8da6ce609f59017a/pkg/controller/podautoscaler/metrics/metrics_client.go#L164).

It seems

[2016-11-09 13:34] kargakis commented on #36453
Agreed about stop using events in the tests.

[2016-11-09 13:36] dgoodwin commented on #35073
Thanks Mike, apologies I haven't been able to get anywhere close to starting it.

[2016-11-09 13:37] dims commented on #36351
@nikhiljindal @saad-ali This one is marked p2, but the issue logged by bot is marked p1
https://github.com/kubernetes/kubernetes/issues/35872

[2016-11-09 13:39] kargakis commented on #35355
Panic (https://github.com/kubernetes/kubernetes/pull/36491) occurs while this test is failing.

[2016-11-09 13:40] kargakis commented on #36458
Panic (#36491) occurs while this test is failing.

[2016-11-09 13:43] kargakis commented on #28348
Panic (#36491) occurs while this test is failing.

[2016-11-09 13:44] jszczepkowski commented on #34679
The question remains: why was the heapster pod not started? It should be started by addon manager. Unfortunately, we don't have addon manager's logs.

@mikedanese can you recall if there was any bug in addon manager which may caused not running heapster pod (~14 days ago)?

[2016-11-09 13:44] kargakis commented on #34687
Panic (#36491) occurs while this test is failing.

[2016-11-09 13:46] kargakis commented on #36286
Panic (#36491) occurs while this test is failing.

[2016-11-09 13:47] felipejfc commented on #34920
I'm facing the same issue on a 1.4.0 cluster

[2016-11-09 13:56] chrislovecnm commented on #35534
@janetkuo / @jimmycuadra and another https://github.com/kubernetes/kubernetes/issues/36469

@jimmycuadra not sure if you have dealt with flakes before, but we should have multiple tickets open because of this.  Please track down the filename that is blowing up in tickets and ensure those are linked and closed to the PR.

[2016-11-09 13:56] piosz commented on #34679
@jszczepkowski how about adding a simple check in before suite in HPA tests if Heapster is running?

[2016-11-09 14:12] #36488 closed

[2016-11-09 14:14] gjcarneiro commented on #28272
Hi, is there any known workaround for this problem?  I need to increase the shmem size to at least 2GB, and I have no idea how.

[2016-11-09 14:16] wojtek-t commented on #33839
Regarding the second failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/11771/
it's super strange.

I took a look into it and here are some findings:
[code]
This shows that the error happened:
https://github.com/kubernetes/kubernetes/blob/a2bf827e188a572dd678edc5151566f7bf683fbd/test/e2e/framework/util.go#L2793
because there is no other return

[2016-11-09 14:21] JeanMertz opened #36499 "GKE support for node-pools with SSD boot disk"
Currently, using GKE, you can only use SSD's as attached disks, which can then be used for storage when using `hostPath` volumes.

It would be nice if I could create a node-pool that uses SSDs as the boot disk. This way, all running pods that don't use any external storage (or hostPath SSDs) can benefit from improved disk IO.

_I couldn't find any issue related to this, but that might be because m

[2016-11-09 14:28] wojtek-t commented on #33839
Actually - please ignore my message above. I misread the logs.
Basically the problem is with: ```load-small-rc-121```
The error in fact is:
[code]

And there is no this log for 121 RC:
[code]

That said what happened here is that we hit this error:
https://github.com/foxish/kubernetes/blob/71941016c1ba13cb1d54e08c4c955562966acd6f/test/e2e/framework/util.go#L2740
which now makes perfect sense.

[2016-11-09 14:46] wojtek-t commented on #33839
I looked into apiserver logs, and it confirms that theory.
So from the test logs:
[code]
it shows that the podStoreForRC should be created around 11:53:14.

However from apiserver logs (11;53:14 is 18:53:14) so:
[code]

What is more:
[code]

Looking deeper into logs, the watch that finished at 19:04:24 (thus it started at 18:55:08) was the one that is corresponding to our podStoreRC.

So the probl

[2016-11-09 14:51] mqliang opened #36500 "Preserve source ip of service.clusterIP traffic"
due to Masq or SNAT when kubeproxy forward request for Service, pods behind service lost client IP. I propose:

* Add a "ClientIPPreserving bool" knob in ServiceSpec
* If `service.spec.clientIPPreserving == true`, kubeproxy will forward  packets using ipip or GRE tunnel

Will send a detail proposal if it's worth doing. @bprashanth

[2016-11-09 14:51] mqliang commented on #36500
cc @ddysher

[2016-11-09 15:10] wojtek-t opened #36502 "Pod didn't start on Kubelet."
This run of scalability test:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/11517/
failed, because one pod never started.

Looking into kubelet log, I see:
[code]

The logs come from here:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/11517/artifacts/e2e-scalability-minion-group-lzyk/

@kubernetes/goog-node @yujuho

[2016-11-09 15:11] wojtek-t commented on #33839
For the first test:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/11517/
the issue was that one pod didn't started correctly. From kubelet logs:
[code]

I filed: https://github.com/kubernetes/kubernetes/issues/36502 for this problem.

[2016-11-09 15:12] wojtek-t commented on #33839
So the only remaining question in this issue is to answer, why "WATCH" request from the reflector wasn't issued in this run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/11771/

[as described in details in https://github.com/kubernetes/kubernetes/issues/33839#issuecomment-259431136 ]

[2016-11-09 15:26] codec opened #36503 "controller-manager/replication controller duplicates resync loop"
**Kubernetes version** (use `kubectl version`):

    Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
    Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.3", GitCommit:"4957b090e9a4f6a68b

[2016-11-09 15:26] jszczepkowski commented on #34679
I think it will be to special. I would prefer toto have an entity which check that all system pods (including heapster) are up and running.

[2016-11-09 15:31] wojtek-t commented on #33839
Actually, it's not about issuing "WATCH" itself. We now that the LIST request from reflector finished successfuly:
[code]
at 18:53:18.

From the reflector code:
1. This List finished successfully.
https://github.com/caesarxuchao/kubernetes/blob/204492703457eb571b83dfbaa3008c473a6f979d/pkg/client/cache/reflector.go#L249
2. When we get here:
https://github.com/caesarxuchao/kubernetes/blob/2044927034

[2016-11-09 15:43] whitlockjc commented on #34348
I am not suggesting we make the existing one any different than it is now, I'm just saying the majority of the underlying work to implement a generic webhook admission controller could be accomplished with the existing code.  Configuration, webhook logic and such would be the same for example.

[2016-11-09 15:47] wojtek-t commented on #34911
There are few different issues here:

1. "too high pod startup latency" in "kubernetes-e2e-gci-gce-scalability" - this doesn't happen at all in non-GCI suite, which suggests this is real issue with GCI - @vishh @mtaufen FYI

2. kube-proxy resource usage (we should just increase thresholds in our tests)

3. https://github.com/kubernetes/kubernetes/issues/34911#issuecomment-256264914 and https://git

[2016-11-09 15:53] wojtek-t commented on #34911
Unfortunately for point 1, it seems that verbosity of logs in GCI suite is useless, because we don't have any useful logs in kubelets there.

[2016-11-09 15:57] vishh commented on #34911
As for `1` it is possible that low CPU limits can lead higher latency for
logical pod initialization.

On Wed, Nov 9, 2016 at 7:54 AM, Wojciech Tyczynski <notifications@github.com

[2016-11-09 15:59] yujuhong commented on #36502
Relevant messages from docker.log:
[code]

The "container start" failures could just be https://github.com/docker/docker/issues/22226 where containerd operation times out when there is too much load. The issue was resolved in docker 1.12 by increasing the containerd timeout. Maybe we patch docker on GCI for this /cc @dchen1107

As for the unmount failure, I m not sure if it's just the side-effect

[2016-11-09 16:26] calebamiles commented on #34120
I'm closing this issue @saad-ali as all the linked test grid results haven't flaked until 26 October 2016

[2016-11-09 16:49] #36427 closed

[2016-11-09 16:50] #33839 closed

[2016-11-09 17:06] bprashanth commented on #36500
pod -> service -> pod should preserve source ip as long as you're using iptables proxier.
outside cluster -> service (either lb or nodeport) -> pod will not preserve source ip

There is a feature called external ip preservation that is going beta in 1.5 that allows the second to work. If the first is not working, that's a regression, can you provide a repro?

[2016-11-09 17:18] mtaufen commented on #36454
Should be fixed by https://github.com/kubernetes/kubernetes/pull/36455

[2016-11-09 17:27] #35402 closed

[2016-11-09 17:31] nikhiljindal commented on #35872
This hasnt happened again since 2 days. Reducing the priority.
I think the merge bot will increase the priority if it happens again

[2016-11-09 17:32] fii opened #36508 "Creating an ELB stays in pending forever."
kubectl get svc -o wide
NAME         CLUSTER-IP    EXTERNAL-IP   PORT(S)          AGE       SELECTOR
kubernetes   10.32.0.1     <none>        443/TCP          55s       <none>
web          10.32.0.116   <pending>     80/TCP,443/TCP   58s       name=web

Its HA following - https://github.com/kelseyhightower/kubernetes-the-hard-way

Are you able to help please ?

[2016-11-09 17:32] nikhiljindal commented on #36351
I just reduced its priority. It hasnt happened again since 2 days ago.

[2016-11-09 17:39] dims commented on #27581
@lavalamp This has been a p0 for about 5 months. is it still valid? should this be assigned to someone?

[2016-11-09 17:41] dims commented on #30706
Is this still a p0 (open since Aug!)?

[2016-11-09 17:41] dims commented on #33682
@smarterclayton @deads2k @saad-ali Can we please close this?

[2016-11-09 17:47] mtaufen commented on #34911
@vishh makes a good point. CPU limits are enforced in GCI, but were not enforced in CVM. Are you setting limits on these pods in kubemark?

[2016-11-09 17:47] calebamiles commented on #31835
closing this issue @saad-ali, none of the testgrid links have failed since 26 October 2016 (if I'm reading things correctly and ignoring the `overall` row).

[2016-11-09 17:47] #31835 closed

[2016-11-09 17:53] foxish commented on #36102
Looking at this one today.

[2016-11-09 17:53] mqliang commented on #36500
@bprashanth how about userspace proxier? depreciated?

[2016-11-09 17:55] nvnobelen opened #36509 "Apply of configuration change on SVC does not remove previous selectors"
BUG REPORT:

On apply of a svc configuration, the label **Selector** does not get updated correctly:

**Environment:**
Kubernetes: 1.3.6 (only tested in this version)

**Re-create by:**
Load first yaml:

[code]

Results in:
[code]

Then with kubectl apply -f run the following yaml:
[code]

Results in:
[code]

**While the expected result was:**
[code]

See **Selector:** for the differences:
The app

[2016-11-09 17:55] foxish commented on #35534
It appears that the cassandra flakes are fixed. I'll take a look at the other long failing spark e2e test in https://github.com/kubernetes/kubernetes/issues/36102 today.

[2016-11-09 17:56] calebamiles commented on #29514
Closing this issue @saad-ali, the testgrid continues to look good.

[2016-11-09 17:56] #29514 closed

[2016-11-09 17:57] calebamiles commented on #26134
downgrade sounds good, @matchstick

[2016-11-09 17:58] foxish commented on #36469
Looks like these were old runs of the e2e test before https://github.com/kubernetes/kubernetes/pull/36418 was merged and tested. Moving to close these.
Previous issue: https://github.com/kubernetes/kubernetes/issues/36323

[2016-11-09 17:58] #36469 closed

[2016-11-09 18:00] deads2k commented on #33682
yes

[2016-11-09 18:00] #33682 closed

[2016-11-09 18:02] #35324 closed

[2016-11-09 18:03] calebamiles commented on #36288
I can't find the e2e test that was linked to this issue anymore either, @bowei. I will close this issue @saad-ali.

[2016-11-09 18:03] #36288 closed

[2016-11-09 18:18] calebamiles commented on #36102
thanks @foxish

[2016-11-09 18:22] bprashanth commented on #36500
We all agree that preserving source ip is good, it's a matter of implementation. I don't know if the current users of userspace proxy would actually appreciate a change like this enough for us to invest in it, do you?

[2016-11-09 18:28] nikhiljindal commented on #28615
https://github.com/kubernetes/kubernetes/pull/36483 fixes the federation control plane bring up failure.

[2016-11-09 18:37] jayunit100 opened #36532 "High latency after initial scheduling breaks scheduler-perf integration tests."
Problem

When running the test/integration/scheduler_perf tests, we test behaviour for scheduling against large node groups w/ thousands of pods, i.e. `TestSchedule100Node3KPods` pods ... This test fails because of a discreet blip in "measured pods scheduled" .  I call this "measured pods scheduled" rather than "pods scheduled" because, it could simply be a *failure in the test to accurately measu

[2016-11-09 18:37] jayunit100 commented on #36532
@gmarek @timothysc

[2016-11-09 18:38] nikhiljindal commented on #36473
@mwielgus Am thinking of commenting this test until we figure out a fix. The same case is tested by our e2e as well. That should atleast stop blocking others. WDYT?

[2016-11-09 18:41] #36454 closed

[2016-11-09 18:52] mikedanese commented on #35073
No worries :+1:

[2016-11-09 18:58] buchireddy commented on #22770
It seems like the same issue could impact logging into an existing pod or running one off pods too.

This is the error message I'm seeing when I try to login to an existing pod.
[code]

This is the error message when I tried `kubectl run`

[code]

[2016-11-09 19:19] dims commented on #36351
@nikhiljindal talk about the devil! ^^

[2016-11-09 19:44] dims commented on #36351
@nikhiljindal - i was able to recreate it locally. here's the output - http://paste.openstack.org/show/588610/

[2016-11-09 20:10] wojtek-t commented on #34911
@mtaufen @vishh - these pods are "pause" pods (i.e. they were just sleeping). So the test is not about pods - it's about kubelet that seems to be slower.
Do we have limits set for kubelet too? Can this be a reason?

[2016-11-09 20:12] wojtek-t commented on #36473
+100

[2016-11-09 20:14] #36287 closed

[2016-11-09 20:20] bprashanth opened #36535 "Refactor ip releasing logic in gce.EnsureLoadbalancer"
This logic is brittle, it uses 2 flags to control when to relese the static ip and flips them on/off throughout a 250 line function. The default quota for static ips is 7, and when there's a leak the entire queue is closed till we come up with the exact order of if/else/retry logic that caused one of the flags to end up false.

[2016-11-09 20:20] dims commented on #36473
+1 from me @nikhiljindal Let's do that

[2016-11-09 20:24] yujuhong commented on #35214
This regression is caused by a change in libcontainerd: https://github.com/opencontainers/runc/pull/1013
The old code calls `getCgroupPath`, but the new code relies on `Manager.Paths` being populated beforehand.

I looked around a little bit and we have a [CgroupManager](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cgroup_manager_linux.go) in kubelet that wraps around the li

[2016-11-09 20:27] nikhiljindal commented on #36473
Sent https://github.com/kubernetes/kubernetes/pull/36536 to disable secret and namespace update tests

[2016-11-09 20:40] vishh commented on #35214
I can take a look at this today.

On Wed, Nov 9, 2016 at 12:25 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-11-09 20:49] vishh commented on #34911
No, we do not set limits on the kubelet. Are we overloading the node with *too* many pods? Can you provide a pointer to logs related to `1`?

[2016-11-09 21:03] mwielgus commented on #36473
Yep, LGTMed the PR.

[2016-11-09 21:05] nikhiljindal commented on #34919
A workaroud will be to create the secrets yourself. Credentials for federation-apiserver should be in your kubeconfig with the context `federation-cluster`. You can extract that into a file using:
[code]

You can then create a secret by running:
[code]

If you run into other problems, feel free to post them here. If you are really blocked, you can try the previous mechanism detailed in http://kube

[2016-11-09 21:05] wojtek-t commented on #34911
@vishh what do you mean by "too many pods"? In this test there are ~30 pods on each node, and we are scheduling one more and measuring how long it takes to start it. So there are ~30 pods on a node (which isn't that many).

Regarding example - sure. For example this run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability/1064/
The problematic node i

[2016-11-09 21:35] eggie5 commented on #36450
I am experiencing this too on GKE 1.4.5

The pod mounts the PV initially then after some time, ostensibly after the pod is moved to a new node, the pod can't remount the PV as it's stuck on the last node.

[2016-11-09 21:38] ekuefler opened #36539 "kube-proxy evicted due to low compute resources and not resheduled"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Google Container Engine
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**: GCP web console

**What happened**:

At some point, the kube-proxy pod on one of my nodes was evicted due to low compute resources and never reshedule

[2016-11-09 21:41] nikhiljindal opened #36540 "Fix federation flaky tests"
Filing this issue to keep track of fixing and reenabling flaky federation unit tests that were disabled in https://github.com/kubernetes/kubernetes/pull/36536.

Both @mwielgus and I are debugging.

cc @kubernetes/sig-cluster-federation

[2016-11-09 21:58] yujuhong commented on #36539
Thanks for reporting the issue!

This is how kuberenetes is configured. Eventually we'd like to move kube-proxy to a DaemonSet, but this is not done yet (#23225).

As for evicting the kube-proxy pod permanently, that's a flaw/bug in the current design, and should be fixed (tracked by #35521).

I am closing the issue since the two problems are being discussed in separate issues already.

[2016-11-09 21:58] #36539 closed

[2016-11-09 22:07] timstclair commented on #35214
Spoke with Vish, I'll take this. I'm going to try and get a patch by tomorrow that we can cherry-pick into 1.4.6 (cc @jessfraz )

[2016-11-09 22:10] calebamiles commented on #35282
thanks for the updates, @bprashanth

[2016-11-09 22:13] soltysh commented on #34363
I like the idea of a Job driving the custom deployment.

[2016-11-09 22:14] calebamiles commented on #34211
thanks @mwielgus

[2016-11-09 22:16] erictune commented on #28718
I've created a detailed documentation plan for PetSets, to be completed by 1.5 docs freeze: https://github.com/kubernetes/kubernetes.github.io/issues/1655

[2016-11-09 22:33] piosz opened #36544 "Container-Pod mapping interface on node"
Monitoring/logging agents running on a node needs to know which pod a given container belongs to. Currently there is a lot of hacks around this:
- filepath for logging
- labels on docker
- reverse lookup from api server

Each of them has obvious drawbacks. We need a consistent solution for this problem.

cc @dchen1107 @kubernetes/sig-instrumentation @kubernetes/sig-node

[2016-11-09 22:41] xsgordon commented on #22789
@PradeepSingh1988 is this issue still valid?

[2016-11-09 22:45] r2d4 commented on #35707
Been running into this problem too.  You might have trouble running it locally because it exports environment variables.  So unless you source the script, those exports aren't going to be available for the parent.  It may be overkill, but for running it locally maybe try running it with the kubekins-test image?

[code]

[2016-11-09 22:53] ncdc opened #36545 "Behavior change between etcd v2 and v3 watch clients"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): etcd watcher

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug rep

[2016-11-09 22:55] matthiasr commented on #36544
I'm thick and don't see the obvious, could you elaborate what the drawbacks are in reach case?

[2016-11-09 22:55] mtaufen commented on #34911
Are we recording pod startup latency on each test run? It would be nice to compare CVM and GCI and see if latency on GCI tends to be slightly higher. That could push things just high enough for the occasional flake on GCI.

[2016-11-09 22:57] xiang90 commented on #36545
@ncdc I will take a look and get back to you tomorrow.

[2016-11-09 22:57] xiang90 commented on #36545
If you have a pr ready, just assign to me or hongchao.

[2016-11-09 22:57] ncdc commented on #36545
I'll have one tonight hopefully

[2016-11-09 22:57] ncdc commented on #36545
Although it depends on if we pick option 1 or 2

[2016-11-09 23:11] saad-ali commented on #28427
Closing as fixed by https://github.com/kubernetes/kubernetes/pull/35560 cherry picked to 1.4 in https://github.com/kubernetes/kubernetes/pull/36398

[2016-11-09 23:19] nikhiljindal commented on #32733
Verified that this is now passing on Jenkins

[2016-11-09 23:19] #32733 closed

[2016-11-09 23:21] xiang90 commented on #36545
@ncdc

The behavior of etcd2 is not technically correct. Watch from 0 and `Now` will give different results if watch from 0 always return "Added" even if 0 and `Now` should be the same. But we do not really have defined what does "0" mean in the interface.

Also for etcd3, we cannot guarantee that watch can always return the previous value. Option 1 seems to be easier to achieve. If we do option2,

[2016-11-09 23:29] liggitt commented on #36545
I prefer option 1 as well, for kube API consistency.

[2016-11-09 23:31] dims commented on #29348
@quinton-hoole Do we move this to v1.6 milestone?

[2016-11-09 23:32] dims commented on #19443
@fgrzadkowski @quinton-hoole : Any updates on this issue? Do we need to move this to milestone 1.6?

[2016-11-09 23:33] dims commented on #30999
@mwielgus : no assignee or update since this was filed. Do we move this to v1.6?

[2016-11-09 23:34] dims commented on #31469
@timstclair since there has been no updates on this, should the milestone be moved to v1.6?

[2016-11-09 23:47] nikhiljindal commented on #34519
Yes there was an issue with kubectl 1.4.0 which has now been fixed. Can you try with the latest version?

[2016-11-09 23:47] timstclair commented on #31469
Acutally, I think we can close this issue. It core issue should be resolved by https://github.com/kubernetes/kubernetes/pull/35342, and going forward I think it's acceptible to put the onus for ensuring node versions are AppArmor compatible on the cluster admin. @dchen1107 do you agree?

[2016-11-10 00:00] piosz commented on #36544
works only for logging

might be different for various container environments or even a container environment provider might not support labels

significant load on api server + duplicated logic in every daemon

[2016-11-10 00:17] vishh commented on #33232
cc @timstclair

[2016-11-10 00:18] vishh commented on #33232
cc @saad-ali this issue needs to be resolved for v1.5

[2016-11-10 00:24] Random-Liu commented on #33189
Two failure recently:

1) e2e-image-puller was terminated by someone. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/1961
I didn't find anything weird in kubelet.log, but the container failed with a `Terminated` message. It seems that someone killed it, but not kubelet, because we can't see [this log](https://github.com/kubernetes/kubernetes/blob/master

[2016-11-10 00:30] k8s-merge-robot opened #36547 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/159/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374 #31427 #31433 #31589 #31981 #32257 #33711 #33839

[2016-11-10 00:30] #27781 closed

[2016-11-10 00:46] yujuhong commented on #33189
Yes, we should detect this and work around it for the time being.

I didn't find this message in the log...

[2016-11-10 00:52] dims commented on #27656
@quinton-hoole we have to do it again...punt to 1.6 please?

[2016-11-10 00:53] dims commented on #31283
@madhusudancs punt to 1.6? if so please move the milestone from v1.5 to v1.6.

[2016-11-10 00:54] foxish commented on #32346
Also should be fixed by https://github.com/kubernetes/kubernetes/pull/36548

[2016-11-10 00:54] dims commented on #30544
@madhusudancs @quinton-hoole : punt to v1.6? can you please move the milestone if so.

[2016-11-10 00:55] dims commented on #31440
@smarterclayton @wojtek-t : move the milestone to v1.6?

[2016-11-10 00:57] Random-Liu commented on #33189
@yujuhong Wrong paste.. Messed up by different links. I updated the comment just now.

[2016-11-10 01:11] foxish commented on #35150
Reassigning to the node team/@dchen1107 to prioritize.

[2016-11-10 01:12] yujuhong commented on #33189
Docker got killed around that time:
[code]

[2016-11-10 01:16] timstclair commented on #33232
I suspect this is broken on 1.4.5 too, but the test was added after 1.4 was cut /cc @jessfraz

[2016-11-10 01:25] yujuhong commented on #33189
By the way, adding timestamps to `kern.log` in #36550.

[2016-11-10 01:28] jascott1 commented on #27464
I am very interested in this feature.

[2016-11-10 01:30] soellman commented on #34348
This would totally address my needs.. I want to create an admission controller with custom logic but don't really want to roll my own apiserver. I'm looking forward to it!

[2016-11-10 01:34] bprashanth commented on #33189
Update on my previous comment (https://github.com/kubernetes/kubernetes/issues/33189#issuecomment-255901400), I'm starting to see more red herrings in production (b/32704760). Don't let a few instances of this line waylay you.

[2016-11-10 01:43] bprashanth commented on #36411
On Mon, Nov 7, 2016 at 6:59 PM, Zihong Zheng <notifications@github.com>
wrote:

maybe we should write an admission controller to reject updates to addons
on the whole?

[2016-11-10 01:47] saad-ali commented on #33232
Ack. I believe it is on @calebamiles list. Will keep an eye on it.

[2016-11-10 02:01] MrHohn commented on #36411
I think `kubectl patch` will work. And `kubectl scale` also work.

on the whole?

But some of the addons do need updates, like `replicas` for kube-dns and `resource` for heapster. We might want users to be able to scale `kube-dns` themselves if dns autoscaling is not turned on.

[2016-11-10 02:01] HuKeping opened #36552 "CRI support docker/docker?"
Hi,

As per https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/container-runtime-interface-v1.md#requirements

It says "Support the already integrated container runtime: docker and rkt", I wonder the `docker` here is `docker/docker` or the runtime `runc`?

[2016-11-10 02:10] Random-Liu commented on #36552
The `docker` here is real docker. :)

[2016-11-10 02:11] k8s-merge-robot opened #36553 "kubernetes-e2e-gci-gce-petset: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/2014/

Multiple broken tests:

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Basic StatefulSet functionality should handle healthy pet restarts during scale [Feature:PetSet] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered appl

[2016-11-10 02:18] HuKeping commented on #36552
Thanks @Random-Liu  ! Actually, I've been looking at `cri-o` for a while :), just curious the new CRI will still support the whole docker.

[2016-11-10 02:38] k8s-merge-robot opened #36554 "[k8s.io] ReplicaSet should surface a failure condition on a common issue like exceeded quota {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/3621/

Failed: [k8s.io] ReplicaSet should surface a failure condition on a common issue like exceeded quota {Kubernetes e2e suite}

[code]

[2016-11-10 03:30] mml opened #36555 "etcd rollback tool panic"
I tried to do a rollback on my own test cluster and got a panic.  I will attach the data-dir tarball.  The script that performs the migration goes from 2.2.1->2.3.7->3.0.14->2.3.7, and it is this last step that barfs.  Script is forthcoming in a PR, but there's a snapshot at https://gist.github.com/mml/42e57c45b333f8b1c8c29bb162394e7d

[code]

@wojtek-t @hongchaodeng

[2016-11-10 03:40] mml commented on #36555
[data.tar.gz](https://github.com/kubernetes/kubernetes/files/582478/data.tar.gz)

[2016-11-10 03:43] ymqytw commented on #34277
@maisem I think we can close this issue. Since this has been implemented in #35483.

[2016-11-10 03:57] luohoufu commented on #34408
i have the save error. how to fix.
[kube-error.txt](https://github.com/kubernetes/kubernetes/files/582493/kube-error.txt)

[2016-11-10 04:49] jianhuiz commented on #33312
and AvailableReplicas, too, which are introduced later to fed replicaset. I'll add them tomorrow.
#29481 #32771

[2016-11-10 05:09] Random-Liu commented on #36552
@HuKeping We want to support multiple runtimes. Docker is of course one of them. :)

[2016-11-10 05:14] #16569 closed

[2016-11-10 05:18] #29752 closed

[2016-11-10 05:26] saad-ali commented on #34256
Good question. @kubernetes/sig-node @vishh @dchen1107 what's the plan for this? Is it a 1.5 blocker?

[2016-11-10 05:29] saad-ali commented on #31935
@dchen1107 can you take a look at this or assign it to someone. It has been consistently failing since Oct 31

CC @calebamiles

[2016-11-10 05:38] saad-ali commented on #36473
Why are these tests still failing?

[2016-11-10 05:44] F21 opened #36558 "Missing deployment file for fluentd-elasticsearch"
The [fluentd-elasticsearch add-on](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch) contains deployment files for elasticsearch and kibana, but does not appear to contain a deployment file for deploying the fluentd-elasticsearch image.

It would be nice if a deployment file is included so that it's easy to bootstrap a cluster quickly.

[2016-11-10 06:03] HuKeping commented on #36552
cri-o will not take docker as its runtime, it will take those OCI compliant ones,like runc. rkt has it's own project like rktlet, so what's the plan for docker, will it be possible that something like dockerlet to be introduced in?

[2016-11-10 06:09] mootezbessifi commented on #36493
@thockin

[2016-11-10 06:14] mootezbessifi commented on #36493
@eparis @aledbf @bprashanth @lavalamp

[2016-11-10 06:14] Random-Liu commented on #36552
@HuKeping Yeah, docker is integrated directly via CRI (the same with rocklet).
The code is in [dockershim](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubelet/dockershim). In v1.5, as an experimental feature, we'll start a in-process dockershim grpc server, and let kubelet integrate with dockershim via CRI.

In the future, we may start dockershim grpc server as a seperate daemon outsi

[2016-11-10 06:15] k8s-merge-robot opened #36560 "[k8s.io] HostPath should support r/w {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/11032/

Failed: [k8s.io] HostPath should support r/w {E2eNode Suite}

[code]

[2016-11-10 06:34] HuKeping commented on #36552
@Random-Liu I suppose `dockershim` will be used to replace the `dockertools` pkg?

[2016-11-10 06:35] zreigz commented on #36489
I can take this.

[2016-11-10 06:38] hongchaodeng commented on #36545
Just give an update here: I talked with @liggitt on this a bit. We agreed that the behavior should be the same as etcd2 watcher.

Of course the API seems non-standard right now. We need to rewrite it in better API once this gets more stable.

[2016-11-10 06:39] liggitt commented on #36545
Actually, it looks like the event type is a red herring. The etcd2 client has always set Added/Modified based on the equality/inequality of the node's createdindex/modifiedindex:
[code]

the watch cache sets the event type to Added when watching from resourceVersion=0
[code]

the issue is that etcd3 is still doing a Get() of the previous revision of every KeyValue when watching from 0:
https://git

[2016-11-10 06:43] liggitt commented on #36545
potential fix in https://github.com/kubernetes/kubernetes/pull/36561

[2016-11-10 06:51] m1093782566 commented on #23474
Are you sure `nameservers` is a valid flag?

[code]

I can't find `--nameservers`

[2016-11-10 06:56] k8s-merge-robot opened #36562 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/6015/

Run so broken it didn't make JUnit output!

[2016-11-10 06:59] xiang90 commented on #36545
@liggitt @hongchaodeng @ncdc

I pretty dislike the fact that:

1. watch on 0 will first do a sync and then start to watch

2. we are forced to return prev value for all modification events

watch on 0 should just start watch from the latest revision. recovery the initial state (thus the sync or the initial get) should be a separate operation. But, yea, I guess we need to preserve this at least for

[2016-11-10 06:59] nikhiljindal commented on #36473
Sigh. Sent https://github.com/kubernetes/kubernetes/pull/36563 to disable.

[2016-11-10 07:03] #36508 closed

[2016-11-10 07:05] arminbalalaie commented on #23474
Actually this is an argument for skydns not kube-dns. I saw similar complaints at [stackoverflow](http://stackoverflow.com/questions/35742070/cannot-ping-clusterip-from-inside-the-pod-and-dns-is-not-working-for-external-do). It seems things have changed about kubernetes DNS system. I didn't find time to give it a look. I am sure @thockin have better ideas about this issue.

[2016-11-10 07:15] matchstick commented on #36067
@eggie5 Can you attach a reference to the kubelet and kern.log for the node that is having problems? Also if you can attach the output of the "mount" command that would be good too, it might let us know if the FS is still mounted or the PD is just still attached.

[2016-11-10 07:16] m1093782566 commented on #23474
@thockin

I think visiting external domain is a reasonable need for the containered application inside kubernetes cluster. I wonder why kube-dns doesn't support it?

[2016-11-10 07:16] matchstick commented on #36067
@jingxu97 @saad-ali @jsafrane @childsb ccing all of us to take a look once the logs come back.

[2016-11-10 07:23] wojtek-t commented on #34911
Are we recording pod startup latency on each test run? It would be nice to compare CVM and GCI and see if latency on GCI tends to be slightly higher. That could push things just high enough for the occasional flake on GCI.

@mtaufen - we do record percentiles (50, 90 and 99) and 10% of worst times in each run. We can easily compare it.

[2016-11-10 07:41] lsztachanski commented on #33943
Same problem here. Mixed environment:
- 4 GKE clusters,
- 1 bare-metal k8s cluster.

IP allocation and svc scheduling works, if cluster is homogeneous. After attaching bare metal cluster i get:
```E1109 14:41:33.709110       1 ingress_controller.go:451] Failed to get ConfigMap "kube-system/ingress-uid" for cluster "baremetal".  Will try again later: <nil>```

[code]
$ kubectl --context=baremetal g

[2016-11-10 07:41] matchstick commented on #33447
@Stono We are actively working on this and I think we have a solution that is going through final testing for getting this to work on GCI. Trust me it is on the top of the stack for a few engineers right now. @jingxu97 is leading this effort, and she can hopefully give an update of the status of this.

If you are curious for more details please come to the storage sig upcoming or email the storage

[2016-11-10 07:45] Random-Liu commented on #36552
@HuKeping Yeah, but not v1.5.

[2016-11-10 07:48] thedos1701 commented on #34101
Hi, I can confirm the problem still exists on a two nodes kubernetes cluster installed with Kubeadm.
The nodes are Ubuntu Xenial 16.04 connected to each other using a tinc VPN.
Everything works fine on the tainted master node but on the second (worker only) node every CNI network plugin container keep crashing. (I tried Flannel and Weake)
It seems like the network-fabric container is unable to rea

[2016-11-10 07:59] gyliu513 commented on #23794
How is this going? Does there are yaml template that I can use to deploy a Kafka PetSet? Thanks!

[2016-11-10 08:00] matthiasr commented on #36544
Thank you!

[2016-11-10 08:12] HuKeping commented on #36552
As per the rapidly evolving of k8s, I don't really think it will take a long time lol, thanks @Random-Liu !

[2016-11-10 08:14] mfojtik commented on #34363
@soltysh with the custom deployment strategy controller you can facilitate jobs or any other resources.

[2016-11-10 08:28] k8s-merge-robot opened #36564 "[k8s.io] Pods Delete Grace Period should be submitted and removed [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-etcd3/2339/

Failed: [k8s.io] Pods Delete Grace Period should be submitted and removed [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-10 08:30] m1093782566 opened #36565 "[kube-dns] Why kube-dns doesn't support DNS forwarding?"
As we know, sky-dns support DNS forwarding, see [here](https://github.com/skynetservices/skydns#dns-forwarding).

However, the successor of sky-dns, kube-dns doesn't support DNS forwarding any more. There is no flags about DNS forwarding in kube-dns, see below:

[code]

I think visiting external domain is a reasonable need for the containered application inside kubernetes cluster. I wonder why kub

[2016-11-10 08:55] tobstarr opened #36567 "kubectl logs --follow output truncated"
**Kubernetes version** (use `kubectl version`): 1.4.5

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Fedora
- **Kernel** (e.g. `uname -a`): 4.8.6-201.fc24.x86_64

**What happened**:

I create a (long running) pod and (when the pod is ready) execute `kubectl logs <pod> -f`. The command exits with status code 0 but did not print all of the

[2016-11-10 09:02] wojtek-t commented on #36555
panic: error updating attributes of unknown member cf7d617fc919f571

This seems that it's not even about the real data, but about some metadata of the cluster.

@hongchaodeng @xiang90 - any thoughts on it?

[2016-11-10 09:07] mikekap commented on #36269
@jingxu97 Unfortunately the full kubelet log is gone at this point. If I remember correctly, the section after the `...` above repeated a few times every couple of minutes.

I'll try to reproduce this issue this weekend when I have some more time. I think the recipe is a deployment with a dynamic PVC (via StorageClass) that is in `CrashloopBackoff` when deleted. If I manage to do that, I'll post t

[2016-11-10 09:08] k8s-merge-robot opened #36569 "[k8s.io] DNS horizontal autoscaling kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/5370/

Failed: [k8s.io] DNS horizontal autoscaling kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios {Kubernetes e2e suite}

[code]

[2016-11-10 09:19] wojtek-t commented on #34911
@mtaufen - I checked and it's NOT that this is generally worse. It generally is pretty similar to what is happening with CVM. Though there are flakes that are happening in GCI, but not with CVM.

[2016-11-10 09:58] #35074 closed

[2016-11-10 10:05] fgrzadkowski commented on #36304
I might be missing something but I think that the problem that David raised is that we are "compacting" the output of `get events` such that we say that a given event happened `N` times. It's impossible to understand the flow of what happened after what with such compaction. What we would like to do is to exactly know the order of events. I think that your code does not address this problem

[2016-11-10 10:15] wojtek-t commented on #34911
So getting back to GCI issue - it seems to be flakiness, not "generally worse than CVM" (though the flakes are relatively frequent).
So I took a look into one of the flakes again:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability/1064/
that I also started describing here:
https://github.com/kubernetes/kubernetes/issues/34911#issuecomment-259526435

[2016-11-10 10:16] weherdh opened #36571 "Azure disk: dynamic pv get failed status before deleted"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.345+0f082c66630097-dirty", GitCommit:"0f082c6663009733a8192b63ca4052308889bfc8", GitTreeState:"dirty", BuildDate:"2016-11-10T06:07:31Z", GoVersion:"go1.7.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha

[2016-11-10 10:18] Iulian7 opened #36572 "GCE ingress with routes always falls back to default-http-backend"
This is cross-posted on stackoverflow (http://stackoverflow.com/questions/40518095/gce-ingress-with-routes-always-falls-back-to-default-http-backend). However, I am also writing here because this may be a bug and if not may lead to better documentation or understanding of how ingress works.

**Kubernetes version**: 1.4.5

**Environment**:
- **Cloud provider or hardware configuration**: Default GKE

[2016-11-10 10:26] wojtek-t commented on #34911
I took a look into another one, and time spent in kubelet/Docker there is different, though it's again fully in those two components:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability/1084/

Kubelet:
[code]

Docker:
[code]

Though my hypothesis is that it's kubelet that is not doing fast progress, not Docker in those cases.

[2016-11-10 10:28] fgrzadkowski commented on #30957
This seems to be a duplicate of #34772

[2016-11-10 10:28] #30957 closed

[2016-11-10 10:31] fgrzadkowski commented on #34679
In general we can have a general check, but verifying heapster is what we actually need in HPA tests and it might easier to verify. @jszczepkowski Can you add it?

[2016-11-10 10:32] fgrzadkowski commented on #34679
And we need to figure out why Heapster was not there. I guess we need to start collecting add-on manager logs?

[2016-11-10 10:36] #33698 closed

[2016-11-10 10:39] kargakis commented on #36554
@kubernetes/sig-testing any ideas why master artifacts are missing?

[2016-11-10 10:50] 2opremio commented on #17406
Thanks @vefimova , any news on when it will be merged? You seem to be getting close!

[2016-11-10 10:50] elcct commented on #35773
@kayrus  Looks like your commit could fix the issue reported here:

https://github.com/kubernetes/kubernetes/issues/27343

At the moment when checking for etcd health, certificates are not being used so when etcd has enabled `-client-cert-auth` etcd cluster is falsely reported as unhealthy.

[2016-11-10 11:05] solsson commented on #23794
@gyliu513 There is https://github.com/kubernetes/charts/tree/master/incubator/zookeeper but not yet Kafka as helm chart. In https://github.com/Yolean/kubernetes-kafka focus has been on running a small cluster without petset, because alpha features are unavailable in GKE. After the Kubernetes 1.5 release focus will again be on running as StatefulSet.

[2016-11-10 11:12] #33533 closed

[2016-11-10 11:12] HuKeping commented on #36552
I guess there will be some competition between `cri-o` and `dockershim`  since the runtime are all `runc` for both of the projects, am I right?

[2016-11-10 11:17] tommywo commented on #36565
@m1093782566 kube-dns forwards requests to nameserver specified in /etc/resolv.conf

[2016-11-10 11:27] kargakis commented on #36353
Fixed by https://github.com/kubernetes/kubernetes/pull/36308

[2016-11-10 11:27] #36353 closed

[2016-11-10 11:48] #36357 closed

[2016-11-10 11:57] druidsbane opened #36573 "kube-controller-manager with AWS cloud provider crash loop if using http_proxy using "kubeadm init --cloud-provider aws""
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** http proxy, http_proxy, https_proxy, AWS, kubeadm, kubectl, cloud-provider

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.4.4
[code]

**Environment**:
- **Cloud provider or hardware configuration**: kubead

[2016-11-10 11:59] k8s-merge-robot opened #36574 "[k8s.io] Deployment lack of progress should be reported in the deployment status {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/7236/

Failed: [k8s.io] Deployment lack of progress should be reported in the deployment status {Kubernetes e2e suite}

[code]

Previous issues for this test: #31697

[2016-11-10 12:05] kolisko opened #36575 "kube-dns ContainerCreating /run/flannel/subnet.env no such file"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

BUG REPORT

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kube-dns kubernetes setupnetworkerror flannel subnet.env no such file

---

[2016-11-10 12:11] k8s-merge-robot opened #36576 "[k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-pre-release/1128/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26139 #28342 #28439 #31574

[2016-11-10 12:19] kad opened #36577 "Evaluate usage of system certificates in client component."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): certs, client, system, pki

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choos

[2016-11-10 12:19] kad commented on #36577
cc @deads2k

[2016-11-10 12:24] #35207 closed

[2016-11-10 12:32] davidopp commented on #36304
Right, implementing what I suggested required not compacting events. (Or at least compacting in a way that does not lose the information about interleaving with unrelated events. For example, if event X happened 10 times in a row without any other events happening in between, then it is fine to compact those 10 X events. But if X happened 5 times and then some other event Y happened and then X hap

[2016-11-10 12:33] deads2k commented on #36577
Allowing systemcerts + a specified CA bundle seems like a good idea for trusting serving certs (not client certs).

@kubernetes/sig-auth

[2016-11-10 12:40] kad commented on #36573
what do you have in *_proxy variables ? (env | grep -i _proxy)
it tries to connect to https://ec2.us-west-1.amazonaws.com/ (tcp 176.32.118.53:443) directly.
You're expecting to connect there via proxy ? then do you have something like *.amazonaws.com in your no_proxy ?

[2016-11-10 12:50] druidsbane commented on #36573
Unfortunately on the pod itself for the `kube-controller-manager` the environment variables aren't passed through.  As this is created using `kubeadm` I don't have control over the pod definition.  So basically none of the *_proxy variables are set inside the pod in the docker image, however if I `kubectl exec kube-controller-manager-blah -it sh` and export the variables and try to wget that URL i

[2016-11-10 12:54] wojtek-t commented on #32028
Hmm - it seems that we are able to allocate the same IP address for both:
- "kubernetes" service
- "svc-1" user service

This seems really bad...

[2016-11-10 13:03] steve-wolter commented on #34363
From a Google SRE's perspective, what Kubernetes most clearly lacks is the concept of an operation. An operation must support the following functions:

*   When an update on a resource is triggered, a handle to an operation is returned.
*   The operation has well-defined states for "running", "succeeded" or "failed".
*   The operation has a status field that shows the operation's progress while it

[2016-11-10 13:05] wilkers-steve commented on #27464
I also think this would be a great feature to have

[2016-11-10 13:05] m1093782566 commented on #36565
Oh, thanks. It's really a trick:)

[2016-11-10 13:09] wojtek-t commented on #32028
I took a deeper look and it seems that we have etcd debug logs, which hopefully will help us.
Basically, looking into etcd logs, and greping for "svc-2", we are able to determine the "etcd prefix" for our tests, which is:
```0237f4a1-5794-4aad-84d5-4a5e399bcecd ```

So now greping through logs I see this
[code]

[2016-11-10 13:13] kargakis commented on #36453
It's hard to know programmatically that you don't run two versions of pods at the same time and it's even harder because of the Recreate deployment not working 100% correct (https://github.com/kubernetes/kubernetes/issues/32567). For now, I will restore the events back to their original state and in 1.6 I am going to remove events from the tests.

[2016-11-10 13:14] kad commented on #36573
ok, so request is actually to pass proxy variables into containers. interesting. I'll check how it can be done.

BTW, for no_proxy value in your example: things like 10.0.0.0/8 would not work on 99% of software that respects no_proxy variable. it must be always exact IP match.

[2016-11-10 13:15] mfojtik commented on #34363
@steve-wolter deployments currently have perma-failed and conditions that reports the progress of the rollout operation.

[2016-11-10 13:17] kargakis commented on #34363
s/perma-failed/progressDeadlineSeconds/

[2016-11-10 13:19] luohoufu opened #36578 "kubectl get cs can't get https etcd health"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-10 13:21] davidopp commented on #34363
@steve-wolter

It seems that the spec/status model supports what you want when creating resources: user creates the object (filling in the spec) and then polls or watches the object's status indicating progress of the "operation." For example, create a ReplicaSet, and then watch the status to see how many replicas have been created so far.

Updates are a little less obvious since the modification

[2016-11-10 13:32] steve-wolter commented on #34363
@davidopp @mfojtik

There are two problems with the approach you're suggesting:

1. Big problem: Each and every API object has a different status notion. There is no generic way to query status. This places unacceptable coding burden on higher-level automation such as Google's Cloud Deployment Manager.
2. Smaller problem, but good to kill 2 birds with that stone: There is no distinction of status

[2016-11-10 13:36] AdoHe commented on #36578
@luohoufu what's your kubernetes version?

[2016-11-10 13:40] kargakis commented on #36289
Should be fixed by https://github.com/kubernetes/kubernetes/pull/36491

[2016-11-10 13:40] #36289 closed

[2016-11-10 13:42] kargakis commented on #36270
Should be fixed by #36491

[2016-11-10 13:42] #36270 closed

[2016-11-10 13:42] wojtek-t commented on #32028
There are 3 PUTs to etcd for this test. IIUC the code, what happens is that:
1. The first PUT is actually initialization the range to "fully empty" and is coming from here:
https://github.com/kubernetes/kubernetes/blob/d82f98c9b3dbbdf7daed2a17fb44ecc3ac7d23ad/pkg/master/controller.go#L124
2. Then we actually expect one "PUT" operation for every allocation, but we have just 2 more PUTs.

So there i

[2016-11-10 13:43] #36286 closed

[2016-11-10 13:44] fgrzadkowski commented on #19443
The current state is that we have support for replicated etcd in kops, kube-up and I think it's coming in kubeadm. The problem that is still unsolved is that we treat etcd replicas as "pets" - they have names, ips etc. This part will not be solved for 1.5.

[2016-11-10 13:45] #28348 closed

[2016-11-10 13:45] #34687 closed

[2016-11-10 13:57] wojtek-t commented on #32028
Actually, I have a hypothesis for what is happening (and if that's true, I'm surprised that it's flaking so rarely).

Basically, unless I'm missing something, it seems that if "kubernetes" service doesn't exist, its creation doesn't allocate its IP address in the services RangeAllocation:
https://github.com/kubernetes/kubernetes/blob/d82f98c9b3dbbdf7daed2a17fb44ecc3ac7d23ad/pkg/master/controller.g

[2016-11-10 13:59] gyliu513 commented on #23794
Thanks @solsson , this is great!

[2016-11-10 14:02] ConnorDoyle commented on #29542
There are a couple libraries in go to deal with the JSON-patch spec, here's one that can produce merge patches based on two arbitrary JSONs and also apply those patches: https://github.com/evanphx/json-patch

[2016-11-10 14:08] wojtek-t commented on #32028
OK - I'm pretty convinced that my hypothesis is correct - by adding
[code]
right before this line:
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/service/ipallocator/controller/repair.go#L70

The test is failing pretty much all the time. I'm going to send out some fix to it soon.

@kubernetes/sig-api-machinery

[2016-11-10 14:12] kargakis commented on #36458
What happens in this is test failure is the following:

Deployment has 20 pods, maxSurge=3, maxUnavailable=2
rs1 has 0/1 pods
rs2 has 8/8 pods
rs3 has 9/14 pods

In total 17/23 pods.

Since the rollout is surging, the deployment controller can only scale down.
There are two cases we can scale down: 1) when we can cleanup old unhealthy pods and 2) when minimum availability is not violated. Minimum

[2016-11-10 14:20] ncdc commented on #34256
Docker 1.13 isn't out yet. Unfortunately the best fix for this particular issue at this time is probably to ensure that all the PD tests that use `kubectl exec` retry it a few times, such as in #34357.

[2016-11-10 14:21] kargakis commented on #36458
An example of a pod that never became available:
[code]
From kubelet logs:
[code]

[2016-11-10 14:23] luohoufu commented on #29540
i also get the error.
[kube-error.txt](https://github.com/kubernetes/kubernetes/files/583573/kube-error.txt)

[2016-11-10 14:33] AdoHe commented on #29542
@ConnorDoyle thanks for reference this, actually in kubernetes, we not only support standard JSON merge patch, but also support strategic merge patch, which is a custom implementation of merge patch. I have fixed this on my local, and will open a PR this weekend after I test it.

[2016-11-10 14:38] ncdc commented on #33649
@dims yes, that's correct. There are multiple flake issues re exec and attach, and I'm ignoring all of them until docker 1.13 is out or the fix is backported. I've also labeled the flakes I know about with dependency/docker.

[2016-11-10 14:49] craigbox commented on #36327
FTR, 30276, 31164 and 31488 are the respective nodePorts allocated to the l7-default-backend in each cluster.

[2016-11-10 14:49] luohoufu opened #36582 "where i user cfssl gen ssl file to kubernetes dashboard pod the server has asked for the client to provide credentials"
[kube-error.txt](https://github.com/kubernetes/kubernetes/files/583629/kube-error.txt)

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

[2016-11-10 15:04] druidsbane commented on #36573
@kad you're right that what I'm actually asking for is to pass proxy variables through either from a commandline setting on kubeadm or pick it up from /etc/environment or shell environment that launches kubeadm.

I didn't realize it till I dug in to try and think about how one might go about fixing this.  At first I thought we would just pick up the variables from the system environment but then I

[2016-11-10 15:20] wojtek-t commented on #35197
@yujuhong - I'm reassigning back to you since there are a bunch of other failures in small suites. I will debug the large cluster failure in the background.

[2016-11-10 15:31] vishh commented on #36544
In https://github.com/kubernetes/kubernetes/issues/24677#issuecomment-231479502 I was proposing dumping v1.Pod object into a `.metadata` file to get metadata for logs. In theory, such an interface should let monitoring agents deterministically identify the pods running on the node. May be we could make that a generic API and not be specific to logs.

[2016-11-10 15:41] eparhei commented on #33544
@miry Nothing changes! here is what I run on the minion and its output:

root@ubuntu-199:~# k8s_token="012345.0123456789012345"
root@ubuntu-199:~# kubeadm join --token="${k8s_token}" 10.144.2.200
<util/tokens> validating provided token
<node/discovery> created cluster info discovery client, requesting info from "http://10.144.2.200:9898/cluster-info/v1/?token-id=012345"
error: <node/discovery> fai

[2016-11-10 15:44] wojtek-t commented on #36545
@xiang90 - yes, I think there is general agreement for it, though we can't change that in v1 API. There is more-than-1-year old issue for that:
https://github.com/kubernetes/kubernetes/issues/13969

[2016-11-10 15:45] xiang90 commented on #13969
/cc @hongchaodeng

[2016-11-10 15:57] yujuhong commented on #36552
In v1.5, there will be a flag `--experimental-cri` to let users try out the new docker CRI integration, so that we can gather feedback. The plan is to productionize the docker CRI integration as soon as possible so that we can switch kubelet to use it as the default for two reasons: 1) validate CRI integration; 2) lower the maintenance burden for carrying two docker implementation in the codebase.

[2016-11-10 15:57] yujuhong commented on #36552
Closing this issue since the question has been answered. Feel free to reopen if that's not the case.

[2016-11-10 15:57] #36552 closed

[2016-11-10 16:14] wallrj commented on #36301
FYI I'm seeing the pre-flight check error too:
[code]

[code]

[2016-11-10 16:16] ncdc commented on #30629
Looks like everything is done.

[2016-11-10 16:16] #30629 closed

[2016-11-10 16:26] jingxu97 commented on #36269
Thank you very much Mike! I will also try a few things based on your
description.

On Thu, Nov 10, 2016 at 1:08 AM, Mike Kaplinskiy <notifications@github.com>
wrote:

--
- Jing

[2016-11-10 16:35] #34661 closed

[2016-11-10 16:48] euank commented on #36159
The last few happened on ubuntu. It's potentially related to the docker configuration or kernel. Haven't dug deeper than that yet..

[2016-11-10 17:06] k8s-merge-robot opened #36586 "[k8s.io] Kubectl client [k8s.io] Kubectl should be able to talk to api server kubectl running in a pod could talk to api server [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/3658/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl should be able to talk to api server kubectl running in a pod could talk to api server [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-10 17:10] hongchaodeng commented on #36555
@mml
Is the data you uploaded the original data before 2.2.1->2.3.7?

[2016-11-10 17:14] irfanurrehman opened #36587 "[Federation][Bug] Some problems with kubefed init"
**Is this a request for help ?**: No (I will raise a PR for the fix very soon)
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`): v1.5.0-alpha

**Environment**:
- **Cloud provider or hardware configuration**: gce
- **OS** (e.g. from /etc/os-release): ubuntu 16.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

[2016-11-10 17:20] shashidharatd opened #36588 "E2E: [k8s.io] Federation deployments [Feature:Federation] Federated Deployment should create and update matching deployments in underling clusters"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5645

looks like the test case is failing because the `revisions` are not implemented for federation deployment.
there is difference in Annotations in ObjectMeta of deployment at federation and k8s cluster.
`deployment.kubernetes.io/revision: 1` is missing in federation deployment object.

@mwielgus @qui

[2016-11-10 17:21] ymqytw commented on #36489
@zreigz I already have a PR #36385 in flight for this.

[2016-11-10 17:26] resouer commented on #32024
According to some local tests, latest approach is at least as good as https://github.com/kubernetes/kubernetes/pull/30844. It may because we are actually running `findNodesThatFit` by parallel, that means reduce nodes needed to do predicate (see: https://github.com/kubernetes/kubernetes/pull/30844/files#diff-6a329a27bba0788de35c581fdf0b78bbR168) will not save schedule time significantly (as long a

[2016-11-10 17:32] andrewsykim commented on #36273
@davidopp do you know if anyone else is currently working on a fix for this? I've already started looking into a fix for this, would you be willing to review my PR soon?

[2016-11-10 17:33] maisem commented on #34277
Cool! Thanks!

[2016-11-10 17:33] #34277 closed

[2016-11-10 17:47] yujuhong commented on #36159
@euank, I think my https://github.com/kubernetes/kubernetes/issues/36159#issuecomment-258992255 is still valid...

[2016-11-10 17:54] jsravn opened #36589 "AWS EBS volumes fail to mount after a kubelet restart - 1.4.5"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

ebs aws kubelet

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

B

[2016-11-10 18:16] mtaufen commented on #34911
Well it's probably not the cause but I did notice this:
here https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/density_test.go#L472:
[code]
should probably be:
[code]

[2016-11-10 18:16] chrislovecnm commented on #23794
https://github.com/kubernetes/charts/pull/144 btw ... for some reason we are having e2e problems

[2016-11-10 18:20] wojtek-t commented on #34911
@mtaufen - it's not that test. It's this one:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L292

Anyway - @mtaufen @vishh - can you please take a look into what I wrote above (since https://github.com/kubernetes/kubernetes/issues/34911#issuecomment-259652150). It seems that the problem is purely in Kubelet and/or Docker.

[2016-11-10 18:21] wojtek-t commented on #34911
And since it's not happening with CVM, it's definitely GCI-related.

[2016-11-10 18:21] AndriiOmelianenko opened #36593 "GKE kube-dns cname record"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56", GitTreeState:"clean", BuildDate:"2016-10-21T02:48:38Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Majo

[2016-11-10 18:22] kmala commented on #35134
Thanks for the workaround but we are using helm to install the charts/manifests. If you can point to the existing issue i can track it for the fix. Currently i am recreating(delete/install) the object.

[2016-11-10 18:24] vishh commented on #34911
I cannot look at this this week. @mtaufen has agreed to triage further. Thanks for the detailed notes @wojtek-t!

[2016-11-10 18:25] dgoodwin commented on #36301
@wallrj this was fixed in fe03e1319f6d279f6b9ac60c8ca34fe907eb94e3 I believe, but it did not make the build your output.

[2016-11-10 18:26] ymqytw commented on #36567
I can't reproduce this issue with a 1.4.5 `kubectl` and a 1.4.5 server.
@tobstarr  How often does this happen?

[2016-11-10 18:28] mtaufen commented on #34911
Yeah, I know, just something I noticed. I put up a PR to fix the node test anyhow: https://github.com/kubernetes/kubernetes/pull/36594

I've been looking through the docker manager in Kubelet. I will let you know when I have a theory :).

[2016-11-10 18:28] zreigz commented on #36489
OK thanks for info

[2016-11-10 18:29] bowei commented on #36565
@m1093782566 close this issue?

[2016-11-10 18:37] ConnorDoyle opened #36596 "Make bot comments more helpful and friendly for each contributor's first few PRs."
Some ideas:

- Differentiate expectations between small / oneline changes vs XXL changes, e.g. suggest a SIG to go talk to.

cc @derekwaynecarr @thockin

[2016-11-10 18:42] bbnnt commented on #23474
I took me time to realize I could not reach anything externally — guess what, my db was hosted outside so I looked everywhere but there, as not being able to reach anything externally still can't make sense to me at this point

You closed your issue but providing a bit more could insights could help the next person getting into this!

[2016-11-10 18:48] ymqytw commented on #35134
I can explain briefly to you: `kubectl apply` is using 3-way diff to calculate a patch. We store the last applied config in the annotation. `kubectl apply` compare the new config and the last applied config to know what part to delete, see [this](https://github.com/kubernetes/kubernetes/blob/v1.5.0-beta.0/pkg/util/strategicpatch/patch.go#L1211). But when we use `kubectl create` to create the resou

[2016-11-10 19:02] arminbalalaie commented on #23474
AFAIK, kube-dns is a wrapper for sky-dns to do the internal services and pods name resolution. SkyDNS is a DNS server and uses etcd as its backend which makes it a good fit for kubernetes. SkyDNS itself supports DNS forwarding and in the previous versions of kubernetes DNS plugin my workaround above would solve the problem of not resolving external domains. I am not sure how the current version is

[2016-11-10 19:08] k8s-merge-robot opened #36598 "[k8s.io] Deployment RecreateDeployment should delete old pods and create new ones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/5195/

Failed: [k8s.io] Deployment RecreateDeployment should delete old pods and create new ones {Kubernetes e2e suite}

[code]

Previous issues for this test: #29197 #36289

[2016-11-10 19:20] dims commented on #36596
cc @kubernetes/contributor-experience

[2016-11-10 19:23] madhusudancs commented on #36587
@irfanurrehman thanks for the bug report!

for example if the user does
kubefed init <options> federation-us1
the service name created to expose API server will be federation-us1-apiserver whereas the name for apiserver service name is hard coded as federation-apiserver

The fix for this is in https://github.com/kubernetes/kubernetes/pull/36294. I will work on getting that merged soon.

tag should

[2016-11-10 19:23] madhusudancs commented on #36587
cc @kubernetes/sig-cluster-federation

[2016-11-10 19:24] saad-ali commented on #36589
CC @kubernetes/sig-storage

[2016-11-10 19:32] ixdy commented on #36554
we don't collect master artifacts for GKE runs.

[2016-11-10 19:35] saad-ali commented on #36589
CC @jingxu97 @justinsb

[2016-11-10 19:36] Brian-McM commented on #36589
I'm seeing this issue as well and with a little investigation it seems like the kubelet might be looking for the volume mount in the wrong place. I get the following errors in the logs:

Nov 10 17:56:27 ip-172-20-120-41 kubelet[1014]: W1110 17:56:27.799503    1014 mount.go:121] could not determine device for path: "/var/lib/kubelet/plugins/kubernetes.io/aws-ebs/mounts/vol-fada246f"
Nov 10 17:56:27

[2016-11-10 19:36] rothgar commented on #36575
kubeadm uses weave by default. You should try specifying the --pod-network-cidr= to make it use flannel instead. http://kubernetes.io/docs/getting-started-guides/kubeadm/

I'm not sure if that will work but worth a shot.
I think this is a kubeadm bug. I can't label the issue but will see if @kubernetes/sig-cluster-lifecycle can help debug

[2016-11-10 19:41] mml commented on #36555
@hongchaodeng yes

[2016-11-10 19:47] madhusudancs commented on #30544
@dims ack. Changed.

[2016-11-10 19:48] rothgar opened #36601 "CronJob daemonset (previously ScheduledJob)"
Feature Request:
  - Ability to run a scheduled job as a daemonset so it can run on each node. e.g. image garbage collection with something like [docker-gc](https://github.com/spotify/docker-gc/)

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56", GitTreeState:"clean", BuildDa

[2016-11-10 19:52] jingxu97 commented on #36589
@Brian-McM Thank you very much for the information. We think this might be related to the AWS volume ID format. Right now we support three types of format. Could you please let me know which format you are using? If you use the first two format, it might cause the problem. We will investigate more. If you could try the last format, please let us know whether it works or not.

aws://<zone>/<awsVolu

[2016-11-10 19:54] madhusudancs commented on #31283
@dims this isn't exactly a feature. A test improvement and falls in the category of "stabilization". So I think this should stay in 1.5 milestone.

[2016-11-10 19:58] #36489 closed

[2016-11-10 19:59] Brian-McM commented on #36589
So we're just using the default config provided by kops to bring up the cluster but I think it's using the first one as I see this:
    Operation for "\"kubernetes.io/aws-ebs/aws://us-west-2c/vol-fada246f\"
in the logs.

[2016-11-10 22:26] jpoon opened #36611 "AzureDisk Mount causing Kubelet Crash"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: azure (acs-engine)
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04 LTS
- **Kernel** (e.g. `uname -a`): Linux k8s-master-5A10CE6E-0 4.4.0-47-generic #68-Ubuntu SMP Wed Oct 26 19:39:52 UTC 2016x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

Deploying Pachyderm onto Kubernet

[2016-11-10 22:27] saad-ali commented on #34256
Ack. @jingxu97 started adding retries for PD tests in https://github.com/kubernetes/kubernetes/pull/35560

[2016-11-10 22:27] mwielgus commented on #36473
I have a fix for that.

[2016-11-10 22:38] colemickens commented on #36611
cc: @rootfs

[2016-11-10 22:39] foxish commented on #34377
Proposing the use of ThirdPartyResources to store state. https://github.com/foxish/spark/issues/3

[2016-11-10 22:43] k82cn commented on #34377
@foxish , how about current status? I'm also investigating how to run multiple application in Kubernetes, for example, long running applications and Spark.

I'd like to see is it possible to build a resource management layer in k8s, so resource manager will help on preemption, fair sharing of resources; we proposed an solution based on Mesos (refer to [KubeCon 2016: Kuberentes on EGO](http://sched

[2016-11-10 22:45] dims commented on #35486
@thockin PTAL when you get a chance

[2016-11-10 22:50] #35214 closed

[2016-11-10 23:01] bprashanth commented on #34104
regarding https://github.com/kubernetes/kubernetes/issues/34104#issuecomment-258995085, we exec into a pod and try to curl a public-node-ip:nodePort (104.154.187.93:31511).

The pod namespace/name is `e2e-tests-nettest-xlouc/netserver-0` and the Service is `e2e-tests-nettest-xlouc/node-port-service`. The pod is on node `gke-jenkins-e2e-default-pool-8e435d8d-q91r` but that doesn't matter. The node

[2016-11-10 23:26] erinboyd commented on #36295
@kerneltime So, the code assumes you are providing the path off of /Datacenter/host/<ResroucePool>

Thus:
[root@ose3-nfs-0 ~]# govc ls -l 'host/*'
/Boston/host/devel/Resources (ResourcePool)
/Boston/host/devel/10.19.114.222 (HostSystem)
/Boston/host/devel/10.19.114.223 (HostSystem)
[root@ose3-nfs-0 ~]#

My resource pool should be "/devel/Resources" or just "Resources" or may I specify the full pat

[2016-11-10 23:37] timstclair commented on #33232
Should be fixed by https://github.com/kubernetes/kubernetes/pull/36551, will close if there are no more flakes in the next 12 hours or so.

[2016-11-11 00:14] bbnnt commented on #23474
But I mean, out of the box you're able to resolve external domains, aren't you ? It stopped to work all of a sudden (one of the apps was using an external db, you can understand the trouble)... feels like I miss to understand something important right here

[2016-11-11 00:31] jingxu97 commented on #36589
It looks like @Brian-McM has a different issue from @jsravn

For @jsravn's problem, I think we identified the cause and working on the fix with PR #36616.

@Brian-McM could you please share your kubelet log via email jinxu@google.com or slack jinxu. Thank!

[2016-11-11 00:34] erikerlandson commented on #34377
@k82cn I'm also quite interested in controllers and HPA for managing the executor scaling.  I think this idea for ThirdPartyResource is promising for getting useful metrics published at the kube layer:
https://github.com/foxish/spark/issues/3

I'd also like to see a hook for externally signaling graceful executor shutdown, so a controller can do executor scale-down without throwing away executor w

[2016-11-11 00:39] erikerlandson commented on #34377
I did a briefing on this prototype to the OpenShift Commons recently.  Describes the work so far, and also demonstrates that the kubernetes capability can be run against OpenShift out of the box
https://blog.openshift.com/openshift-commons-big-data-sig-2-running-apache-spark-natively-on-kubernetes-with-openshift/

[2016-11-11 00:52] yujuhong commented on #36264
https://github.com/kubernetes/test-infra/pull/1038 makes cri node e2e test mandatory for all PRs..
Will make the cluster e2e test mandatory once it stabilizes more. Also need to make the two CRI CI suites submit queue blocking.

[2016-11-11 00:56] yujuhong commented on #36502
/cc @vishh @mtaufen

[2016-11-11 00:57] yujuhong commented on #30185
The issue is too old to have any value. Closing.

[2016-11-11 00:57] #30185 closed

[2016-11-11 00:59] yujuhong commented on #31561
This issue focuses on the general (none-node specific) e2e framework. Removing the node team label.

[2016-11-11 01:00] yujuhong commented on #27668
Last failure was >2 months ago. Closing.

[2016-11-11 01:00] #27668 closed

[2016-11-11 01:07] dchen1107 commented on #30939
cc/ @justinsb

[2016-11-11 01:15] yujuhong commented on #31935
Should be fixed by #36614. May take a while until the soak clusters are re-deployed.

[2016-11-11 01:16] MikeSpreitzer commented on #29547
Resolved by 34876

[2016-11-11 01:16] #29547 closed

[2016-11-11 01:21] arminbalalaie commented on #23474
I don't understand what is confusing for you here. the problem is that kube-dns resolves internal services and pod names but it cannot resolve external domains like google.com. So, for some unknown reason the DNS forwarding feature is not working. I am not sure if it is still happening in the current version because I didn't find time to re-produce the problem with the current version. However, as

[2016-11-11 01:25] yujuhong commented on #32430
@dchen1107 the error messages in https://github.com/kubernetes/kubernetes/issues/32430#issuecomment-250590211 are annoying but harmless. We should reduce the spam from cadvisor though...

Most recent failures were caused by timeouts. The number of tests in the node e2e suite has increased since the timeout was set initially. @Random-Liu's PR #36413 bumped the timeout already. Let's close this issu

[2016-11-11 01:25] #32430 closed

[2016-11-11 01:26] arminbalalaie commented on #36565
@tommywo that wasn't the case as mentioned in #23474. are you sure this feature is working fine now ?
@m1093782566 if you confirm what @tommywo is saying, I can close that issue as well.

[2016-11-11 01:36] m1093782566 commented on #36565
It works in my box. Thanks all!

BTW, I slightly suggest document it. :)

[2016-11-11 01:36] #36565 closed

[2016-11-11 01:37] yujuhong commented on #33183
@Random-Liu is this still an issue?

[2016-11-11 01:37] dims commented on #36102
Looks like this is worked on in https://github.com/kubernetes/kubernetes/pull/36548

[2016-11-11 01:40] Random-Liu commented on #33183
It seems not, hasn't happen for 20 days. Close for now. Feel free to open if it happens again.

[2016-11-11 01:40] #33183 closed

[2016-11-11 01:44] ymqytw commented on #36509
I think it's the same root cause as #35134.

[2016-11-11 01:47] gyliu513 commented on #23794
Thanks @chrislovecnm for the info, it is OK for me as long as the Kafka works as PoC quality. ;-)

[2016-11-11 01:51] ymqytw opened #36620 "Issue a warning or error when using apply on a resource lacking the LastAppliedConfig annotation"
We should add `LastAppliedConfig` annotation when using `kubectl create`.
Users are keep complaining about why `kubectl apply` don't delete what they expected to be deleted.
The users think this is a bug.
See #35134 and #36509.

cc: @bgrant0607 @pwittrock

[2016-11-11 01:51] yujuhong opened #36621 "Deprecate resource usage tracking test in the cluster e2e suite"
The test was created mainly to track kubelet/docker resource usage. Now that we have node benchmark (http://node-perf-dash.k8s.io/) for this purpose, we can consider retiring the resource usage test. Before we can do that, we need a node e2e soak cluster to catch various resource (cpu, memory) leaks.

/cc @kubernetes/goog-node

[2016-11-11 01:54] bprashanth opened #36622 "Apiserver sluggish in releasing nodeports"
Quickly recreating a service with a nodeport results in
[code]

Which I don't expect, not for as long as you need to currently wait for that message to stop showing up (o(10s)). Clearly the nodeport isn't in any Service in etcd, so I think we're not writing-through the nodeport cache and some periodic sync is flushing it.

Still correctn, but a horrible ux.

[2016-11-11 01:54] ymqytw commented on #36509
Opened issue #36620 for the root cause.

[2016-11-11 01:55] ymqytw commented on #35134
Opened issue #36620 for the root cause.

[2016-11-11 02:08] jeffvance opened #36624 "Move e2e tests to separate repo"
Also see issues: #24343, #2742, #35314.

Following up on conversations regarding separating Kube "core" in to several repos, this is a proposal to move the e2e test package into its own repo. To accomplish this requires solving issues related to CI and auto testing when PRs are submitted, and is dependent on a tool chain that handles remote imports.

At the moment I am just giving this issue a pla

[2016-11-11 02:11] saad-ali commented on #36624
CC @kubernetes/sig-testing

[2016-11-11 02:14] yujuhong commented on #29707
The failure in https://github.com/kubernetes/kubernetes/issues/29707#issuecomment-251536370 was caused by image pulling timeout.

Each of the suite failure (kubernetes-e2e-gci-gke-prod-parallel, kubernetes-e2e-gci-gke-multizone, etc) mentioning this issue has >10 test failure in one run. There must be a underlying systematic cause for those failures. There are not much value keeping this issue ope

[2016-11-11 02:14] #29707 closed

[2016-11-11 02:19] yujuhong commented on #35150
This seems to flake quite often on GCI (but not on the debian image), and the node never came back after the reboot test. The bummer is that there are no logs from the node because the test harness couldn't never reach the node (at least in the few failures I checked). This will need to be reproduced in someone's own cluster.

/cc @vishh @mtaufen

[2016-11-11 02:27] yujuhong commented on #32113
Last failure happened over two months ago. Closing.

[2016-11-11 02:27] #32113 closed

[2016-11-11 02:27] yujuhong commented on #32267
Last failure happened over two months ago. Closing.

[2016-11-11 02:27] #32267 closed

[2016-11-11 02:27] yujuhong commented on #32621
Last failure happened  ~2 months ago. Closing.

[2016-11-11 02:27] #32621 closed

[2016-11-11 02:28] yujuhong commented on #32939
Last failure happened ~2 months ago. Closing.

[2016-11-11 02:28] #32939 closed

[2016-11-11 02:33] yujuhong commented on #33758
Last occurrence was over a month ago, and it succeeded on retry. Closing.

[2016-11-11 02:33] #33758 closed

[2016-11-11 02:36] yujuhong commented on #31179
Last occurrence was over 3 months ago. Closing.

[2016-11-11 02:36] #31179 closed

[2016-11-11 02:38] yujuhong commented on #35977
@Random-Liu you owned #35981 already. Could you also take a look at this one since they look similar from 10,000 feet? ;-)

[2016-11-11 03:11] smerrill commented on #36575
I can confirm that passing the `--pod-network-cidr=` flag to `kubeadm` works for me and has allowed me to spin up several clusters in AWS using Flannel as the pod network.

[2016-11-11 03:16] luohoufu commented on #36578
please see https://github.com/kubernetes/kubernetes/issues/36582

[2016-11-11 03:28] timchenxiaoyu opened #36627 "build error"
build  error    release.sh: line 428: KUBE_GIT_VERSION: unbound variable

[2016-11-11 03:40] k8s-merge-robot opened #36628 "[k8s.io] Deployment iterative rollouts should eventually progress {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-pre-release/1130/

Failed: [k8s.io] Deployment iterative rollouts should eventually progress {Kubernetes e2e suite}

[code]

Previous issues for this test: #36265 #36353

[2016-11-11 04:12] danielwhatmuff commented on #21397
Has this been implemented? Are there any docs for the label mentioned above - kubernetes.io/aws-lb-cname-zone

[2016-11-11 04:15] bgrant0607 commented on #36620
Quick comment: this is user error. They should use apply to create, or --save-config.

We've discussed adding a persistent preference to do it by default, but it needs to be opt-in so long as we continue to use the annotation, and we need to create the preference mechanism.

[2016-11-11 04:17] bgrant0607 commented on #36620
We could issue an error or warning in this case.

[2016-11-11 04:28] bgrant0607 commented on #36620
http://kubernetes.io/docs/user-guide/kubectl/kubectl_apply/

[2016-11-11 04:29] bgrant0607 commented on #35134
Using `kubectl apply` to create the resource is not a workaround. It is intended usage.
http://kubernetes.io/docs/user-guide/kubectl/kubectl_apply/

Using create instead, without --save-config, is incorrect usage. I recommend sending the bug report / feature request to helm.

[2016-11-11 04:33] bgrant0607 commented on #36509
Please read the documentation:
http://kubernetes.io/docs/user-guide/kubectl/kubectl_apply/

To use `apply`, always create the resource initially with either `apply` or `create –save-config`.

[2016-11-11 04:35] #35134 closed

[2016-11-11 04:35] #36509 closed

[2016-11-11 04:43] #35282 closed

[2016-11-11 04:51] NickrenREN opened #36629 "how to add test go file in kubernetes"
i want to add a test go file to test functions . i have add the options_test.go file and changed the BUILD file.
but  Jenkins verification — Build failed.
error infos :

I1110 06:28:13.399] Verifying hack/make-rules/../../hack/verify-gofmt.sh
I1110 06:28:22.786] !!! 'gofmt -s -w' needs to be run on the following files:
I1110 06:28:22.786] ./cmd/kube-controller-manager/app/options/options_test.go
I

[2016-11-11 05:09] smarterclayton commented on #32028
@ncdc we hit this in openshift on master races a long time ago - I guess we didn't have a better fix at the time than simply retrying.

[2016-11-11 06:14] mqliang commented on #36500
cloud provider's loadbalancer will preserve client ip in L4. But if we deploy k8s on bare-metal, It seems that we still lost the client IP, right? The nginx ingress-controller does not preserve client ip in L4.

[2016-11-11 06:24] k8s-merge-robot opened #36631 "kubernetes-e2e-gci-gke-alpha-features: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/1076/

Multiple broken tests:

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnl

[2016-11-11 06:57] smarterclayton commented on #31440
Removing milestone altogether - not blocking at the moment.

[2016-11-11 07:06] tadovas opened #36632 "Kubernetes fails to sync node objects in openstack cloud provider"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): openstack node list sync

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2016-11-11 07:13] felixge opened #36633 "Add copyright attribution for code taken from prometheus"
1b204d85a69641f8937edf6391add02eb40ce8b7 seems to have copied 100+ LoC from [prometheus](https://github.com/prometheus/client_golang/blob/master/prometheus/http.go#L289)  to [metrics.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/metrics/metrics.go#L84).

Both projects are Apache, but I think that the copyright header of metrics.go should be modified to add attribution for

[2016-11-11 07:28] hongchaodeng commented on #36545
For this case, it won't fail. It returns empty result.

[2016-11-11 07:33] tobstarr commented on #36567
@ymqytw every time I run it.

[2016-11-11 07:40] jasonhubs commented on #11684
me too ,me too,loving kuber-ui is not a easy thing

[2016-11-11 08:58] workhardcc commented on #26353
@Laisky yes, did you solved it ?

[2016-11-11 09:39] silhouette opened #36640 "installation of kubelet fails on ubuntu 16.04"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubelet socat ubuntu

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-11-11 09:45] silhouette commented on #36640
Sorry, my bad, socat is in universe, which was disabled at that VM.

[2016-11-11 09:45] #36640 closed

[2016-11-11 09:47] anchitanc opened #36641 "Kubernetes Volumn HostPath on AWS EC2 is not working"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):HostPath  not working

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):B

[2016-11-11 10:08] janosi commented on #28272
@ddysher @wstrange @gjcarneiro Please share your use cases with @vishh and @derekwaynecarr on the pull request #34928 They have concerns about extending the API with this shmsize option, and they have different solution proposals. They would like to understand whether users really require this on the API, or shm size could be adjusted by k8s automatically to some calculated value.

[2016-11-11 10:09] verb commented on #1615
Took me a while to track it down, so making a note here. Reparenting in shared PID namespace is broken in docker 1.12, @thockin opened docker/docker#25348 which led to opencontainers/runc#971

I expect a side effect of this bug is that zombies in the container are reaped by the host's init process, which would be wrong but convenient, but I haven't dug into it.