[2016-02-12 16:23] AdoHe commented on #21018
@bgrant0607 I am happy to do and will fix this as soon as as I can.

[2016-02-12 16:31] bgrant0607 commented on #2210
@mml The case of a third-party controller being turned down is interesting. I don't think we have worked out the model for how that would work. We need to ensure the controller resources are deleted, too. We also don't have a way to ensure a third-party controller uses or respects controllerRef, so I'd leave that out of scope for now.

I'll summarize the controllerRef on #14961.

[2016-02-12 16:34] yujuhong commented on #19655
@jeremyeder, sure. Let's keep this issue open while waiting for the update. I assigned the issue to you so that it'd be easier to find. Thanks!

[2016-02-12 16:45] justinsb opened #21153 "AWS: Don't download bundles every boot from S3"
We re-download the bundles from S3 every boot currently; we should avoid doing that if possible.

[2016-02-12 16:52] bertrand-quenin commented on #18239
Thanks for sharing, I'm having the same issue. Going to test it ASAP

[2016-02-12 16:53] justinsb opened #21155 "kube-up: should we put the master pd in /etc/fstab ?"
We currently remount the master PD every boot, as part of the GCE instance-boot script.  I'm wondering if this is safe: if we have services that start concurrently, should we put the master-pd into /etc/fstab instead?

I think we'll have to do this on AWS, in any case.

[2016-02-12 16:53] tobad357 commented on #15365
I've done a proof of concept to support multipathing in mount_linux.go
However I have some questions to make sure my solution would be seen as ok before I do a full implementation

1. I'm using the lsblk to find the mpath device for device being mounted. If a mpath device doesn't exist then all is as per today, if an mpath device is found then that is used as source to mount in doMount instead. Is

[2016-02-12 16:56] imesh commented on #13494
@thockin Just to clarify the problem:

Does this mean that if use an external load balancer in front of the k8s cluster and use a k8s service to load balance requests among set of pods, we would not be able to get the X-Forwarded-For header in an application running in a pod? Is this because of using SNAT? Would it work if we use an ingress controller based load balancer?

Thanks

[2016-02-12 16:59] justinsb opened #21157 "AWS: Don't try to reinitialize ephemeral storage on reboot"
On AWS we (will) now run our bootstrap script on every boot.  The function to initialize ephemeral volumes doesn't tolerate being re-run, and we probably shouldn't re-run it anyway for speed.

This does preserve the contents, which may be a good thing to save user's data (it doesn't belong on ephemeral drives, but...).  On the other hand, if the ephemeral drives are corrupted, we lose the opportun

[2016-02-12 16:59] sjenning commented on #20497
@Fizzadar I'm looking for confirmation that I understand the issue.  You are setting up an RC that is spinning up a bunch of pods (greater than the number of replicas you have set I assume), all in Pending state.  When you delete the RC, all the pods go to Terminating, but are not fully removed.  The apiserver continues to be responsive to subsequent requests, although the logging can drop out som

[2016-02-12 17:06] MikeSpreitzer commented on #21037
I was a bit imprecise.  What I see the easyrsa doing is creating:

- a  ca.cert in which issuer = subject (with a common name of the form <ip address>@<timestamp>);

- a server.cert in which issuer = ca.cert's issuer = ca.cert's subject and there are several X509v3 Subject Alternative Names; and

- a kubecfg.crt in which issuer = ca.cert's issuer = ca.cert's subject.

I don't really care about try

[2016-02-12 17:08] ncdc commented on #20497
@Fizzadar @stepanstipl do either of you have partitions/disks that are 100% full?

[2016-02-12 17:10] rootfs commented on #15365
Right, iscsi doesn't support mpio yet. Currently `fc` volume supports dm-multipath. The code can be ported to `iscsi` with some modification (mostly related to sysfs).

[2016-02-12 17:13] yujuhong commented on #21125
/cc @bgrant0607

[2016-02-12 17:25] justinsb opened #21159 "AWS: Master stop/start fails"
Although reboot works, we can't stop & start an instance, I think because the ephemeral volume group no longer exists:

From the AWS console:
[code]

Similar to #7828

[2016-02-12 17:28] sjenning commented on #21136
the kubelet should clean these up eventually

http://kubernetes.io/v1.1/docs/admin/garbage-collection.html

are they not being cleaned up within the garbage collection window?

[2016-02-12 17:33] sjenning commented on #21135
kubernetes doesn't have a notion of a persistent pod i.e. one that can be restarted on the original node using the original container(s) storage.   Once a pod is stopped, the stopped containers are subject to garbage collection by kubelet on the node at any time.

[2016-02-12 17:35] justinsb commented on #18975
@davidopp yes - I'd like to address this with #21151

[2016-02-12 17:36] bitchecker commented on #21135
so this is linked to https://github.com/kubernetes/kubernetes/issues/21136

[2016-02-12 17:37] stepanstipl commented on #20497
@mikedanese I'm not 100% whether that was the case when I saw the issue, sorry didn't note that info (I know for a fact I was running 1.1.7 api with 1.1.4 kubectl for a while), now I'm both on 1.1.7 and haven't seen the issue for a while, but to be honest we're changing too many things at once in the moment and pretty much constantly tearing & rebuilding our cluster

@ncdc no, but we did have a lo

[2016-02-12 17:38] bitchecker commented on #21136
how can i check value for those variables?
in which config file can i modify them?

[2016-02-12 17:39] justinsb commented on #15448
The kube-down script now deletes the master-pd.  I believe that's what you were asking for @rroopreddy  ; feel free to reopen if not!

[2016-02-12 17:39] #15448 closed

[2016-02-12 17:42] justinsb commented on #7828
I've opened #21159 to track the fact that instances (in particular the master) don't recover after a stop/start.  Everything else in this issue is fixed now I believe:  Instances should now recover after a reboot.  The master has a PD and an elastic IP, so clients can resume talking to it when it comes back.

[2016-02-12 17:42] #7828 closed

[2016-02-12 17:46] justinsb opened #21162 "AWS: Make sure docker/kubelet/kube-proxy auto-restart in systemd"
Splitting out a component on #18975, we need to be sure that if any of our components are killed by the OOM killer, that they are restarted.  I think that actually means configuring systemd to restart docker, kubelet & kube-proxy; other components will be started as long as kubelet is running.

[2016-02-12 17:47] sjenning commented on #21136
it is part of the kubelet config on the node

https://github.com/kubernetes/kubernetes/blob/master/docs/admin/kubelet.md

[2016-02-12 17:47] mikedanese commented on #20916
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/11456/console

[2016-02-12 17:47] 2opremio commented on #18239
@errordeveloper This will interest you.

On Friday, February 12, 2016, bertrand-quenin <notifications@github.com>
wrote:

[2016-02-12 17:48] justinsb commented on #18975
I've split this into two issues:

1. We should have more memory for the master: #21160
1. If the kubelet or any other crucial component gets killed, we should restart it: #21162

[2016-02-12 17:48] #18975 closed

[2016-02-12 17:50] #21118 closed

[2016-02-12 17:51] roberthbailey commented on #18969
I think what we decide to do for GKE is beside the point for this issue (and we can track it internally).

[2016-02-12 17:53] #20498 closed

[2016-02-12 17:56] justinsb commented on #21162
docker & kubelet will auto-restart already; kube-proxy is managed by kubelet.  All is well :-)

[2016-02-12 17:56] #21162 closed

[2016-02-12 18:02] bgrant0607 commented on #14961
A proposal, summarizing discussion from #2210 and #12298.

Just addressing pod management for now: labels, selectors, controllerRef, cascading deletion.

There is already a proposal for unique label/selector generation, which is being implemented for Job:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/selector-generation.md

Automatic label and selector generation is convenien

[2016-02-12 18:02] justinsb commented on #18019
Proposed a doc change in #21145

[2016-02-12 18:09] spxtr commented on #18037
There is one test failing now.
[code]

[2016-02-12 18:10] roberthbailey commented on #21037
Sorry, I meant that on *GCE* we run it conditionally via salt. I didn't realize ubuntu did it unconditionally.

This is true. I moved it out of the master and onto the machine running kube-up.sh so that we could push certificates to the nodes without requiring secure master <-> node connectivity prior to certificate distribution.

[2016-02-12 18:12] dchen1107 commented on #20995
Our stress test on docker restart over night indicates that clean restart of docker daemon without upgrade works fine. I am closing this one and using https://github.com/kubernetes/kubernetes/issues/21086  to track all required changes for our containerVM 1.2 release.

[2016-02-12 18:12] #20995 closed

[2016-02-12 18:15] roberthbailey commented on #20661
Since this isn't a flaky test issue, I'm going to remove the flake label and we can use it to track making GKE more debuggable.

[2016-02-12 18:15] MikeSpreitzer commented on #21037
@roberthbailey: I assume your last remark was still about the GCE scripting.  The cluster/ubuntu scripting does not use Salt or Ansible, and is not sensitive to whether certificates are already in place.  I agree it would be good to make it so.  But that is not my immediate problem, so I am not trying to solve that right now.

[2016-02-12 18:18] vishh commented on #14009
InfluxDB has been upgraded to v0.9.6. @KyleAMathews: A patch to update to 0.10 will be much appreciated!

[2016-02-12 18:18] #14009 closed

[2016-02-12 18:18] dchen1107 commented on #21086
re 2): docker 1.9.1 is going to be the recommended docker daemon based on #20995 and #16110

[2016-02-12 18:20] vishh commented on #21125
The `Terminated` state is required to convey [termination reason](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L1167).
Like you mentioned, option `2` makes sense and isn't that the current behavior? Kubelet's current implementation doesn't matter to the end user, as long as the semantic meaning does not change for each state. Excepting fixing `All historic containers ar

[2016-02-12 18:21] thockin opened #21166 "HPA 'describe' metrics are different scales?"
Trying out HPA.  I ran 10 pods with 100m CPU each, and each one burns 100% CPU.  I set an HPA with a target utilization of 25%.

When I ran `describe` on it, I saw the 25% goal, but the "current" was 996% (makes sense, 10 pods at ~100% usage).  The problem is that these numbers  are not really comparable.  I assume 25% is a threshold for `sum(cpu_utilization)/num_pods` (or some similar function wi

[2016-02-12 18:23] smarterclayton commented on #7111
I had a revelation right now.  We're trying to leverage native objects too much.  We want runtime.Object to be a *wrapper*, not a native type.  We want to do things like:

* get a chunk of bytes from the wire
* lazily decode it to a version
* lazily apply defaults
* lazily convert it to an object
* get at specific object metadata
* lazily convert it to an output version
* occasionally, we need to

[2016-02-12 18:24] smarterclayton commented on #7111
Tim brought this up a while ago so it's not a unique idea, but I think that's what I would close this issue with - we've reached the limits of what our current approach can do, and we need to take the next step.

[2016-02-12 18:24] dchen1107 commented on #18969
Great, looks like we are converging on this for 1.2 release at least. I an punting this to next release.

[2016-02-12 18:26] caesarxuchao commented on #9167
Actually it's fixed by #12009.

[2016-02-12 18:26] #9167 closed

[2016-02-12 18:27] thockin commented on #21118
do we know why this failed?  Does some syscall not work on mac?

[2016-02-12 18:29] deads2k commented on #7111
I think that would allow us do more cleanly nest and handle arbitrary `SmartObjects` using something like `RawExtension` that we have today.  To do that, I might want a kind of "default hubbed type" that I could perform type assertions on though.  We do that for handling arbitrary nested objects today and it's been pretty clean.

[2016-02-12 18:30] Random-Liu commented on #21085
After running over night, I didn't see the issue @bprashanth met yesterday. However, I found another issue, when I come here and check my machine this morning, docker daemon on one of my node was down.
[code]
While kubelet is still running, but it didn't restart the docker daemon.
[code]
In `/var/log/docker`, I saw tons of warning:
[code]
@dchen1107 @yujuhong

[2016-02-12 18:34] yujuhong commented on #21125
We can always convey this in the LastTerminationState

The problem is, we never clearly state when a container should be in the waiting state, and there are some (seemingly) inconsistency in our code (e.g., #17971). It helps to clarify the container lifecycle and properly document it.

[2016-02-12 18:34] roberthbailey commented on #21037
@MikeSpreitzer - Yes. The salt is configured to skip running the `make-ca-cert.sh` script if the certs are already in place on the master. That would be another direction we could take the ubuntu scripts -- rather than push the easyrsa tar file onto the master, fetch it onto the machine running kube-up, generate the certs, and the ssh over the certificates to the master. This would allow you to di

[2016-02-12 18:35] vishh commented on #21085
Were you restarting docker manually? I have seen this whenever docker was
put into a restart loop.

On Fri, Feb 12, 2016 at 10:31 AM, Lantao Liu <notifications@github.com>
wrote:

[2016-02-12 18:38] bprashanth commented on #21085
That's also what I observed in https://github.com/kubernetes/kubernetes/issues/21085#issuecomment-183149948, and you won't hit the node out of disk issue if docker goes down when the disk is 70%.

[2016-02-12 18:39] MikeSpreitzer opened #21168 "cluster/ubuntu scripting should expose --proxy-mode option of kube-proxy"
There should be a way to select the iptables proxy-mode.
@dalanlan @zmerlynn

[2016-02-12 18:45] roberthbailey commented on #18969
We need to track the documentation updates for the 1.2 release. Is there a separate issue for that?

[2016-02-12 18:48] dchen1107 commented on #15803
I did re-ran pr builder e2e tests through @gmarek's pr, and currently two failures (only, comparing to more than 20 before):

Test Result (2 failures / +2)
Kubernetes e2e suite.Services should be able to up and down services
Kubernetes e2e suite.MetricsGrabber should grab all metrics from a Scheduler.

I haven't looked into why. We should make decision asap. Disabling this flag means we lost some

[2016-02-12 18:48] MikeSpreitzer commented on #21037
Now that you mention it, I see that the cluster/ubuntu scripting has the kubelet and kube-proxy contacting the unsecured port of the API server and provides no certificate to them.  This clearly can and should be improved.  But can we leave all that to a separate PR?  The one at hand solves my immediate problem of supporting some prototyping I need to do.

[2016-02-12 18:49] cjcullen opened #21169 "Jobs e2e test failures on PR builder"
3 tests failed on one of the builds of PR #21012.

[code]

[Build Log](http://pr-test.k8s.io/21012/kubernetes-pull-build-test-e2e-gce/28235/build-log.txt)

[2016-02-12 18:50] roberthbailey commented on #21037
We can certainly do it in a separate PR (smaller PRs are easier to review and faster to merge anyway).

[2016-02-12 18:50] Random-Liu commented on #21085
@vishh No, I was just running @bprashanth's [script](https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-182531030).

[2016-02-12 18:53] pmorie commented on #21118
@thockin it looks from the test like os.Chtimes is failing on mac; it uses syscall.UtimesNano

[2016-02-12 18:53] pmorie commented on #21118
By fail, I mean return no error, but silently not work.

[2016-02-12 18:54] yujuhong commented on #21085
@Random-Liu's case seems different. The docker daemon process was still running, but was unresponsive.  There were no errors regarding starting the docker daemon in the log, other than `/usr/bin/docker already running` because supervisord repeatedly tried to kill and start docker.

[2016-02-12 18:56] roberthbailey commented on #21086
Will this change enforce hard capping on the (really small) cpu limits for the master components?

[2016-02-12 18:59] bgrant0607 commented on #341
This is covered by more specific issues, so closing.

[2016-02-12 18:59] #341 closed

[2016-02-12 19:01] davidopp commented on #18969
We have a special page on running large clusters
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/cluster-large.md
so we can put anything relevant there.

I can send out a PR right now adding mention of `ALLOWED_NOTREADY_NODES` and fixing the mention of 250 node max to get the ball rolling (it pains me to file more issues given how many we already have) and we can discuss what else

[2016-02-12 19:05] roberthbailey commented on #18969
As long as we have an issue or a PR I think we won't forget to finish it by 1.2.

[2016-02-12 19:07] MikeSpreitzer opened #21171 "cluster/ubuntu scripting establishes insecure connections from kubelet and kube-proxy to API server"
The kubelet and kube-proxy are given no certificate and connect to the insecure port of the API server.

[2016-02-12 19:08] MikeSpreitzer commented on #21037
FYI, I opened issue #21171 for the secure comm issue.

[2016-02-12 19:09] Random-Liu commented on #21085
I removed all things under `/var/lib/docker/network/files/` and it still doesn't work:
[code]
And I can't even kill it this time:
[code]

[2016-02-12 19:12] freehan commented on #21029
Trying to pull and delete an image in loop. No repro so far.

[2016-02-12 19:14] Random-Liu commented on #21125
@vishh If option 2 is what we want, now we only set container with `ErrCrashLoopBackOff` to `Waiting`, but not for other possible errors occur during restarting.

[2016-02-12 19:18] pwittrock opened #21173 "Re-enable rhel and centos targets for node e2e tests once they pass"

[2016-02-12 19:18] gopinatht commented on #18239
Guys,

I have now hit another issue, now that secrets/certificates are available from within a pod, the certificate itself has become a problem. It looks like the certificate is generated for the k8s API service like so: https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/setup-files.sh#L35

`CERT_DIR=/data CERT_GROUP=kube-cert-test /make-ca-cert.sh $(hostname -i)`

Howev

[2016-02-12 19:19] vishh commented on #21086
Yes, if limits are set.

On Fri, Feb 12, 2016 at 10:57 AM, Robert Bailey <notifications@github.com>
wrote:

[2016-02-12 19:21] luxas commented on #18239
This is a known issue... I can maybe send a patch in some days
More arguments are needed to `/make-ca-cert.sh`

[2016-02-12 19:21] roberthbailey commented on #21086
The limits are currently [250m cpus](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-apiserver/kube-apiserver.manifest#L120-L123). I think we use *a bit* more than that for master components on 1k node clusters.

@wojtek-t

[2016-02-12 19:23] vishh commented on #21086
Is it OK to avoid setting `limits` on master components and let them burst?

On Fri, Feb 12, 2016 at 11:22 AM, Robert Bailey <notifications@github.com>
wrote:

[2016-02-12 19:23] erictune commented on #19764
A customer had a narrower problem which might have a more direct solution -- no sure if it is worthwhile.
The customer wanted to have secrets A and B, each with one key, say "file-a" and "file-b".  The customer wanted to mount them at "/etc/secrets/file-a" and "/etc/secrets/file-b".  I suppose we could recognize this specific case at kubelet and merge the keys into a single combined volume prior t

[2016-02-12 19:33] dchen1107 commented on #21086
Yes, those limits I configured for 1.0 release when both request and qos were not introduced yet. We could update the master manifest files. I can pick up this after lunch if no one does it then.

[2016-02-12 19:43] dchen1107 commented on #20096
A little update:

* I had the soak continuous cluster with hairpin mode disabled running since Feb 11, 2016 12:43:00 AM, and the first build is
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gce/4682/

after more than 30 hours soaking time, so far no node is hung. Will continue keeping an eyes on those nodes over the weekend.

* @bprashanth is going t

[2016-02-12 19:43] erictune commented on #20902
...restart it by increasing parallelism to greater than zero.

[2016-02-12 19:46] caesarxuchao opened #21178 "e2e flake: All nodes should be ready after test"
[code]
The complete log: https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21105/kubernetes-pull-build-test-e2e-gce/28144/

[2016-02-12 19:52] bprashanth commented on #20096
Testing with hung_task_panic will only serve to improve documentation for people who don't care about consistency in the face of unexpected reboots. While it's possible to build a consistent application over nodes that reboot unexpectedly (eg: google) not everyone is at that stage, so I agree.

[2016-02-12 19:56] thockin commented on #19764
Options I see:

a) do the really complicated process for updating a file-projection (enter
target namespace...)

b) document that single-file projections are not live-updatable

c) document the (user-driven) workaround of making an image with
/etc/secret-a be a symlink -> /mnt/secrets/a

d) unpack the volume image ourselves and reconstruct the parent dir and
mount the whole dir (likely to break in

[2016-02-12 20:01] gopinatht commented on #18239
@luxas Thanks for the quick turnaround. Is there a bug logged around this (I could not find it)?

I wonder what the patch is you are thinking about. Would it be something like this?

`CERT_DIR=/data /make-ca-cert.sh $(hostname -I | awk '{print $1}')`

If so, I am not sure this will work in our scenario because the IP this will resolve to would be the IP of the container in which the API service is

[2016-02-12 20:14] luxas commented on #18239
@gopinatht #18227

[2016-02-12 20:40] vishh commented on #19801
@timothysc: Are you still seeing this issue?

[2016-02-12 20:41] vishh commented on #18366
Closing this issue since #18986 has been merged.

[2016-02-12 20:41] #18366 closed

[2016-02-12 20:43] vishh commented on #14081
Closing this issue since @piosz has picked up this effort.

[2016-02-12 20:43] #14081 closed

[2016-02-12 20:44] vishh commented on #12315
Given that heapster has undergone extensive refactoring thanks to @mwielgus and @piosz, this issue is now obsolete. Let's re-open if we see any new problems with memory consumption.

[2016-02-12 20:45] #12315 closed

[2016-02-12 20:46] vishh commented on #9837
Since #14395 has been merged, I don't see what else we can do for this issue. Closing this.

[2016-02-12 20:46] #9837 closed

[2016-02-12 20:49] smarterclayton commented on #21081
I'm not sure this is an important overall scenario to optimize - since kubectl interactions are expected to be a small % of our overall API workload (I would expect <10% on an average cluster, maybe <2%).

I agree that we are wasting CPU cycles on command-line clients connecting to the cluster.  The story now is to drop to non-elliptic crypto or put a TLS terminator in front that uses an OpenSSL b

[2016-02-12 20:54] mml commented on #10423
#21183 will collect the logs when the cluster fails to initialize.  That's not all the cases listed here, but it's a good one.

[2016-02-12 20:56] timothysc commented on #21081
On the node+controller client connections come & go too often vs. pooling:

![image](https://cloud.githubusercontent.com/assets/169553/13019984/5e9895d6-d198-11e5-9a23-f3e9cb32ce01.png)

In the graph above is 100 node cluster, and before anything is running we have 2000 connections.   The lumps in the graph are the ```kubectl``` events, but you notice they decrease as the clients terminate.  But t

[2016-02-12 20:57] petermd commented on #20219
@davidopp seems like the CLA ok. let me know if there is something missing

[2016-02-12 20:58] davidopp commented on #20498
Thanks Chao!

[2016-02-12 21:00] timothysc commented on #19801
@vishh let me try this one again.

[2016-02-12 21:07] smarterclayton commented on #21081
If you're talking about cluster to cluster connections, yes, I would expect there to be a very, very, very low level of new connection establishment.  This sounds like something broke, but it's not really kubectl related (that's a disjoint problem).

[2016-02-12 21:09] smarterclayton commented on #21081
The last time this was watch reestablishment.  It's also possible to exceed the pool size - I believe we don't have tunables for the etcd transport or the controller -> master pool size either, so we should definitely ensure those are properly set.  At most I would expect 1-2 connections established per controller loop per minute, and that should be tunable

[2016-02-12 21:09] petermd commented on #18975
For large clusters the bigger spec. is probably worthwhile (esp. if scaling the master is hard), but maybe worth noting that with the fix for #20219 and smaller number of salt-master threads the master has ran for 3 weeks on a t2.micro test cluster without this problem re-occuring.

[2016-02-12 21:10] smarterclayton commented on #21081
It's also possible that the controller parallelism got tuned up and as a result we're getting a lot of wasted spin up - the rate limiter used to smooth that out (as long as the initial connection time < the rate).  If we upped the rate limiter we would then have a higher wasted connection rate.

[2016-02-12 21:12] smarterclayton opened #21186 "test-cmd.sh doesn't work on a Mac, fails to get kubelet lock"
[code]

I assume this is due to the latest changes to the kubelet lock @vishh @dchen1107 @mikedanese

[2016-02-12 21:12] smarterclayton commented on #21186
Not sure test-cmd should be assuming it has access to /var/run/lock

[2016-02-12 21:32] lavalamp commented on #20750
I thought we put long-running requests (watch, proxy) in a different rate
limiting bucket on the server?

On Thu, Feb 11, 2016 at 4:39 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-12 21:36] #21078 closed

[2016-02-12 21:36] mikedanese commented on #21186
Dup of #21078

[2016-02-12 21:36] #21186 closed

[2016-02-12 21:39] mikedanese commented on #19997
This flake is currently blocking merges
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/11466/

[2016-02-12 21:44] ncdc commented on #19997
@mikedanese my availability is limited for the next few days (personal reasons). I hesitate to suggest this, but you could temporarily skip this test until I have more time to research it.

[2016-02-12 21:44] mikedanese opened #21188 "Flake: integration test etcd_watcher waitgroup reused"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20965/kubernetes-pull-test-unit-integration/14051/

[code]

[2016-02-12 21:46] ncdc commented on #19997
@mikedanese the link you just posted is a different root cause:

[code]

I think this issue has been repurposed a few times.... Should we create individual issues for each root cause?

[2016-02-12 21:48] PhilibertDugas opened #21189 "Kubelet issue pulling docker images"
Hi,

I'm facing an issue with the Kubelet trying to pull docker images and I can't seem to figure it out.

When creating a new replication controller, the pod seem to be in a looping failure complaining it can't pull the Docker image.

However, if I go on the Node itself and execute a docker pull on the image it seems to have no error.

We are using a private repository JFrog Artifactory version 4

[2016-02-12 21:59] jeffmendoza commented on #7103
This can be closed

[2016-02-12 22:01] ncdc commented on #19997
Is it possible the testbed was under so much load that the TLS handshake from kubectl (running in the netexec pod) through the goproxy pod to the apiserver didn't complete within the 10 second handshake timeout?

[2016-02-12 22:02] bgrant0607 commented on #16448
In a galaxy far far away, kubecfg created services first.

@smarterclayton How would you feel about doing that in kubectl?

[2016-02-12 22:02] #21096 closed

[2016-02-12 22:04] bgrant0607 commented on #20999
@zmerlynn Would you expect the spark test to be passing currently?

[2016-02-12 22:04] bgrant0607 commented on #20961
Note that cassandra e2e has been failing for weeks: #20999

[2016-02-12 22:05] bgrant0607 commented on #20961
PR #20746 will revert the change to image v7.

[2016-02-12 22:07] bgrant0607 commented on #20961
We're going to try to get this in shape to highlight on the website.

[2016-02-12 22:08] bitchecker commented on #21136
on every single node?

[2016-02-12 22:10] dchen1107 commented on #21189
@PhilibertDugas Have you checked this doc: https://github.com/kubernetes/kubernetes/wiki/User-FAQ yet?

[2016-02-12 22:10] bgrant0607 commented on #17275
Note that the v7 image appears to be broken. We're reverting to v6 for now.

[2016-02-12 22:12] bgrant0607 commented on #15251
cc @kubernetes/examples

[2016-02-12 22:13] bgrant0607 commented on #10352
cc @kubernetes/examples

[2016-02-12 22:13] jdakesworth commented on #21126
This gets into the realm of having multiple "sources of truth" which is a pretty big "no no" in the realm of distributed systems.  Have you filed an issue about this upstream with @docker or tried any of the alternative registries?

[2016-02-12 22:16] nikhiljindal commented on #21042
The issue is that if kubectl has old swagger schema cached (without the new daemon sets and deployment resources), then it would not know that new APIs have been enabled on the server and hence it should refetch the schema.
kubectl will try to validate using old schema and hence that error.

Manually clearing `~/.kube/schema/` is a way to fix the issue.

[2016-02-12 22:18] PhilibertDugas commented on #21189
@dchen1107 I went through the doc!

I pre-fetched the images, I'm able to user a docker pull on all the minions, but the issue still occurs on the Kubelet level when trying to spawn the pods

I actually have another cluster running the same images with Docker 1.7 and there are no issues for this one, so I'm not too sure what's going on

[2016-02-12 22:22] bgrant0607 commented on #15193
Quick thoughts:
* Should point to documentation of prerequisites
  * Create a cluster (e.g., single-node docker)
  * Setup kubectl
* Should point to documentation on first mention: pods, kubectl, etc.
* Should have a "this is what you'll learn" section at beginning
* Should have a section suggesting what to look at next at the end
* Should have a section that brings up the app in the fewest number

[2016-02-12 22:23] bgrant0607 commented on #15193
And we should mark which examples are maintained vs not.

cc @kubernetes/examples

[2016-02-12 22:24] bgrant0607 commented on #15193
I would like to see each app example actually show the app working -- output, ascii animations, or screenshots.

[2016-02-12 22:26] jtblin commented on #15698
The issue doesn't exist for the current site / `v1.1` anymore. Going to "Documentation > Installing Kubernetes and Creating Clusters > Turn-Key Cloud Solutions > AWS" takes you to the correct page. I suggest to close the issue.

[2016-02-12 22:35] bprashanth commented on #21085
You docker daemon is in uninterruptible sleep. does dmesg/docker logs (before it got this way) have anything suspicous?

[2016-02-12 22:45] roberthbailey opened #21195 "Update flocker-go to pull in their new license file"
/cc @goltermann @zmerlynn

We want https://github.com/kubernetes/kubernetes/blob/master/Godeps/LICENSES.md to no longer say "UNKNOWN" for flocker-go.

[2016-02-12 22:54] bprashanth commented on #21085
For the record, I walked up to Lantao's computer and the docker daemon is hung. The callstack does have some suspicous calls to functions like copy_net_ns which we saw in the #20096, but:

1. No associated kworker
2. No unregister_netdevice log lines in dmesg
3. Docker was hosed on various errors for a while before entering the uninterruptible state

So it doesn't look like we're hitting the kerne

[2016-02-12 23:18] roberthbailey commented on #21086
Hard limits will also affect cluster add-ons ([gclb](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-loadbalancing/glbc/glbc-controller.yaml), [heapster](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/google/heapster-controller.yaml), [dashboard](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dashboard/dashboa

[2016-02-12 23:19] caesarxuchao commented on #21178
@mikedanese the merge PR is solving another issue. I'll reopen this one.

[2016-02-12 23:22] vishh commented on #21086
Setting to `Burstable` might be ok for now. In the future though, the
semantics for QoS might change in which case we will have to figure out
appropriate `limits` for these pods.

On Fri, Feb 12, 2016 at 3:19 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-02-12 23:30] justinsb opened #21200 "AWS: allow users to specify that their node ASG should use spot instances"
Particularly now we have KUBE_USE_EXISTING_MASTER, it would make sense to allow users to add an ASG which uses spot instances.

Probably yet another env var.

[2016-02-12 23:38] dchen1107 commented on #21086
@roberthbailey I did plan to make all of addons burstable, but thought that might require some discussion, so decide to send a separate one. :-)

[2016-02-12 23:48] mikedanese commented on #21126
cc @david-mcmahon

[2016-02-12 23:49] mikedanese commented on #21114
cc @thockin @lavalamp @timothysc

[2016-02-12 23:54] dchen1107 commented on #17525
I believe this one is addressed through:

1) our daemon watcher call docker ps instead of docker version now.
2) When docker is hung, kubelet did mark the node NotReady.

Of course the root cause and how to mitigate this issue is still under discussion and tracked by #20096

@yujuhong Please feel free to open the issue if you disagree.

[2016-02-12 23:54] #17525 closed

[2016-02-12 23:55] mikedanese commented on #21136
Yes.

[2016-02-12 23:56] mikedanese commented on #21133
cc @lavalamp @thockin

[2016-02-12 23:58] mikedanese commented on #21148
We should move it into a subdir of util and only depend on it from inside cmd/

[2016-02-13 00:13] dchen1107 opened #21206 "e2e flaky: etcd server is down"
kubernetes-e2e-gce-serial/481/ failed due to etcd server is down, and build.log full with the error message:

Feb 12 14:31:11.826: INFO: apiserver returned error, as expected before recovery: client: etcd cluster is unavailable or misconfigured

At the end, most of tests in this run failed. The log can be accessed at: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gc

[2016-02-13 00:20] madhusudancs commented on #18708
Reopening this issue. Here are the test artifacts - http://pr-test.k8s.io/21131/kubernetes-pull-test-unit-integration/14156/

[2016-02-13 00:38] yujuhong commented on #16943
UPDATE:
Using b3bc741d0d45422dbb0ac452cd42cafe3e13ceee, I an some more resource monitoring tests against a test cluster with 1s granularity. This includes #19750 and #20726 and use docker v1.9.1 (as opposed to v1.8.3)
Note that I had to turn off heapster/influxdb/grafana/elastic-search RCs to avoid some crash loopping problems.

**40 pause pods:**
kubelet
 -  median: 0.18 (v1.1) -> 0.11
 - 95th%:

[2016-02-13 00:41] roberthbailey commented on #18708
Also saw this in http://pr-test.k8s.io/21131/kubernetes-pull-test-unit-integration/13727/

[2016-02-13 00:45] justinsb commented on #15698
The problem is still visible here though: http://kubernetes.io/v1.0/gs-turnkey.html

[2016-02-13 00:45] justinsb commented on #15698
I have no idea how that is built though.

[2016-02-13 00:47] dchen1107 commented on #21085
This is not the first time I saw this issue, and it is relatively rare case: https://github.com/docker/docker/issues/9605

The only reason I marked this p0 bug for triage is from @bprashanth's initial description: the containers' name don't follow with our k8s's name pattern, and kubelet also declare those are unknown containers. But on another hand, docker inspect clearly shows them are k8s conta

[2016-02-13 00:47] pwittrock commented on #17458
We met our 1.2 goals for this - running the e2e tests locally is pretty simple.  We won't be able to support running tests on mac outside of a vm until cadvisor is fully functional on Mac (non-goal).

[2016-02-13 00:47] #17458 closed

[2016-02-13 00:48] pwittrock commented on #20993
Fixed in #21184

[2016-02-13 00:48] #20993 closed

[2016-02-13 00:56] bgrant0607 commented on #13585
cc @ethernetdan

[2016-02-13 01:13] mikedanese commented on #21136
This is by design.

[2016-02-13 01:13] #21136 closed

[2016-02-13 01:13] mml commented on #2210
### Roll forward / roll back

Suppose version N is the last version where controllers don't set a controllerRef.  When upgrading to N+1 (and assuming all controllers get upgraded together, which they do with the current single controller manager component) the N+1 controllers will identify all of their pods as orphaned and adopt them (correct).

When we roll back to N, the controllerRefs will stil

[2016-02-13 01:21] mml commented on #14961
Pasting from https://github.com/kubernetes/kubernetes/issues/2210#issuecomment-183551419

### Roll forward / roll back

Suppose version N is the last version where controllers don't set a controllerRef.  When upgrading to N+1 (and assuming all controllers get upgraded together, which they do with the current single controller manager component) the N+1 controllers will identify all of their pods a

[2016-02-13 01:22] lavalamp commented on #21206
Hm, etcd is in some sort of crash loop and it takes five minutes at least to recover?

[2016-02-13 01:24] nohkwangsun commented on #20999
[Feature:Example] Spark should start spark master, driver and workers
Spark examples from latest version uses yaml files while Spark examples of release-1.1 uses json files.
You can see the error message "... spark-master-service.json\" does not exist ..."

[2016-02-13 01:24] ixdy commented on #21188
http://pr-test.k8s.io/21183/kubernetes-pull-test-unit-integration/14166/ is another failure.

[2016-02-13 01:31] mqliang commented on #21148
see https://github.com/kubernetes/kubernetes/pull/20713

[2016-02-13 01:38] mqliang commented on #21135
persistent pod is helpful in some usage scenarios: for example, we need update the environment variable injected to a pod, restarting the existing container is more helpful than re-creating it.

[2016-02-13 01:44] davidopp commented on #15803
Yeah, I'm fine with disabling it. If Marek had time to look into the test failures early next week then I would say we should delay making a decision, but I know he's busy with the performance stuff.

[2016-02-13 01:45] ixdy commented on #20916
Not sure if kubemark is too special-snowflake to be useful, but it very recently had a cluster initialization failure which dumped  /var/log/startupscript.log (/var/log/kube-apiserver.log was apparently nonexistent?):
https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-kubemark-gce/5593

[2016-02-13 02:11] Random-Liu commented on #21085
@dchen1107 I've ran the test almost a whole day, and still didn't reproduce the issue. I think we could close this one. :) Thanks

[2016-02-13 02:12] Random-Liu commented on #21085
Feel free to reopen this if similar error occurs again.

[2016-02-13 02:22] Random-Liu commented on #16943
@yujuhong Cool~ Pod cache works! :)

[2016-02-13 02:31] dalanlan commented on #21171
Do we really want this, a secure connection from kubelet/kube-proxy to api-server? It will introduce unnecessary overhead IMO.

[2016-02-13 02:47] timstclair commented on #21114
FYI, here's the dependency graph from `k8s.io/kubernetes/cmd/hyperkube` to the problematic `net/http/httptest` library:
![hyperkube_httptest](https://cloud.githubusercontent.com/assets/3272040/13025303/f0b45822-d1b8-11e5-8a32-412c10e5d00c.png)

The cadvisor & k8s paths should be removed soon. I'll follow up with mesos and coreos.

[2016-02-13 03:49] dvohra commented on #19720
Kubernetes does not get installed with docker 1.10. The following command generates error:

sudo docker -H unix:///var/run/docker-bootstrap.sock run --net=host -d gcr.io/google_containers/etcd:2.0.12 /usr/local/bin/etcd --addr=127.0.0.1:4001 --bind-addr=0.0.0.0:4001 --data-dir=/var/etcd/data

The error is: _Cannot connect to the Docker daemon. Is the Docker daemon running on this host?_

And, the

[2016-02-13 04:33] MikeSpreitzer commented on #21171
Yes, some k8s operators want this as an option.  It is a standard security practice in some shops.

[2016-02-13 05:30] bgrant0607 commented on #16247
See also #831

[2016-02-13 05:31] bgrant0607 commented on #17676
See also #16247

[2016-02-13 05:33] bgrant0607 commented on #4926
We need a good example of a multi-container pod.

Here's one:
http://paulbakker.io/kubernetes/kubernetes-static-sites/

Which is a more complete version of:
https://github.com/kubernetes/kubernetes/blob/4ca66d2aefa20c27b670b2fa890052daadc05294/docs/user-guide/production-pods.md#helper-containers

[2016-02-13 05:39] Random-Liu commented on #19720
@dvohra I think that's because `-d` option is completely removed in docker 1.10, now we could only use `docker daemon` command.

#20281 is trying to fix that .

[2016-02-13 06:04] shaheemirza commented on #20404
My DevOPS reported me that, they resolved this issue. Currently there are no problem.

[2016-02-13 06:04] #20404 closed

[2016-02-13 06:15] wojtek-t opened #21211 "e2e flake: scalability suite failure"
There are two things that failed in this test:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4560/

- limits for kube-system containers (we should tweak them)
- such failure shouldn't cause next test to fail

[2016-02-13 06:47] #18078 closed

[2016-02-13 06:55] #18912 closed

[2016-02-13 08:04] resouer commented on #21148
@mikedanese will fix that in 20713

[2016-02-13 09:01] resouer commented on #21168
@dalanlan Are you interested in modifying ubuntu deploy scripts to use a user provided  configure file?

[2016-02-13 09:41] dalanlan commented on #21168
@resouer This is fixed by #21170 and it will be merged in soon.

[2016-02-13 09:58] gmarek commented on #20916
Yeah, I need to add a kubelet on the master machine. I'll try to do this next week.

[2016-02-13 10:06] nkwangleiGIT commented on #18949
I met with the same issue if one of the node went down and pod was moved to other available node, but the pod failed to start due to "image xxx is locked by other nodes". Then I have to delete the pod manually and the new pod can start successfuly this time.

And this issue didn't exist in previous release, seems a regression or design change, any idea about this issue?

Thanks!

[2016-02-13 10:21] gmarek commented on #15803
IIRC GKE didn't want to use this at all... cc @roberthbailey

I'll look into the failures.

[2016-02-13 11:22] wojtek-t commented on #20750
@lavalamp - SGTM

[2016-02-13 11:40] codefx9 opened #21214 "Kubernetes support in AWS for systemd flavored Debian"
@justinsb, we are trying to create Kube cluster using Debian jessie in AWS. But the master will not stay on and we can't also see the system log. Given vivid is now officially EOL, AWS is lacking any working systemd enabled Debian flavored host OS support. Can you please look into this? Is there any way I can debug this issue?

[2016-02-13 11:49] yybear commented on #20685
thanks @davidopp , i will try the option(2) and check the result.

[2016-02-13 13:44] rastut commented on #21214
You can check this PR for solve the boot problem #18821

All the AMI used on `cluster/aws/jessie/util.sh` are flavored with systemd.

[code]
https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/jessie/util.sh#L44-L46

[2016-02-13 14:00] drngsl commented on #20146
@loshkovskyi
There is a case, if my keystone endpoint-list uses domain name for client to visit, but my domain name isn't registered in CA, so I can't visit it directly with `http`, while cmd curl `--insecure ...` can make it.

In k8s, method  `kubernetes/Godeps/_workspace/src/github.com/rackspace/gophercloud/provider_client.go:Request`
`func (client *ProviderClient) Request(method, url string, op

[2016-02-13 14:24] #16076 closed

[2016-02-13 14:52] codefx9 opened #21215 "Kubernetes security in master-slave salt mode"
I have  a few questions about Kubernetes master-slave salt mode (reposting from https://github.com/kubernetes/kubernetes/issues/20617)

* How do you think anyone who has a large cluster in GCE upgrade things in place when a new vulnerability is exposed?
* How does one do things like regular key rotation etc, without a a master-minion salt setup in GCE? Does not that leave GCE cluster more vulnerab

[2016-02-13 14:53] justinsb opened #21216 "AWS: Support jessie (non-AMI version)"
Given Ubuntu's short non-LTS support policy, it becomes even more important to support Debian (jessie).  Jessie support is broken currently, but I think we can fix it.  The biggest problem is that by default the memory cgroup is not enabled, so it requires a reconfiguration and reboot.

We could build our own AMI (tracking as issue #21217 ), but we can also fix it by:
- [ ] Merge support for non-s

[2016-02-13 14:55] justinsb opened #21217 "AWS: Should we have our own AMI?"
If we bake our own AMI, we can make installation much faster, and we can also solve reboot-required problems that prevent us from using Jessie, for example.

It is obviously work to maintain, but we should consider doing so, particularly as it would let us take complexity out of the boot scripts (and get us closer to k8s-on-k8s world!)

[2016-02-13 14:56] justinsb commented on #21214
I have Ubuntu 15.10 support in a branch (tracking as issue #21143); I'll make sure it gets merged in 1.2.  Also, I'm trying to make sure 14.04 (LTS)  continues to work, though I don't think I'd recommend using a non-systemd system.

I would love to have Jessie working, but it requires a reboot to enable the memory controller.  I think maybe I have an approach, but sadly there's more to it than jus

[2016-02-13 15:12] justinsb commented on #21217
To do this, we would need at least the following:

- an automated process for building these AMIs that was open and that we could (potentially) check into the git repo (Packer?  Animator?)
- we'd have to make these AMIs available as public AMIs
- the procedure must be able to be done by others - i.e. using our public AMIs should be a time-saver, but the paranoid could always build their own
- we'd

[2016-02-13 15:12] rastut commented on #21216
In order to trigger we can check it on `/sys/fs/cgroups/memory` and can be executed during the checks. After that perform the best approach in order to reboot the instance. Let me know if i can help with a pr @justinsb

[2016-02-13 15:19] justinsb commented on #21216
I think I would welcome that PR @rastut :-)  I'm a little overloaded, as you can probably tell given my review delays...

I'm also seriously thinking that we should do an AMI.  What do you use for your AMIs?  I'm exploring at bootstrap-vz, because that seems to be what Debian uses for the official images and because it supports multiple clouds.  But this is just from some very preliminary googling

[2016-02-13 15:34] rastut commented on #21216
I think that the idea of the k8s AMI is great, we will get fast deploy and fast troubleshooting. Also if we have and official AMI we can implement, an other kind of deploy based on Cloudformation or User-Data.

Actually for automated AMI i have been using Packer, but i can take a look to bootstrap-vz.

[2016-02-13 15:58] smarterclayton commented on #20750
I'm not positive but I thought the rate limit regex didn't discern
param watches (vs the old style).  Brendan may have fixed it.

[2016-02-13 16:10] justinsb opened #21218 "AWS: kube-up should not allow broken distros"
If e.g. coreos doesn't work with kube-up, we should point users to an installation method that works.

Also consider offering hints like "vivid no longer gets security updates, consider using wily or official"

[2016-02-13 16:12] justinsb opened #21219 "e2e: make sure we have a partition mounting test"
See issue #15050; we should make sure that we have a test that checks that partitions are respected with AWS EBS volumes

[2016-02-13 16:13] justinsb commented on #21143
Although maybe Debian would be more appropriate, given that Wily support ends in a few months as well...  Unfortunate timing!

[2016-02-13 16:30] TamalSaha commented on #21217
@justinsb, will be possible to build the AMI using Jessie 8.3? The official Debian AMI is Debian 8.1. It will be great to have OS version parity between GCE and AWS. Thanks.

[2016-02-13 16:33] #19098 closed

[2016-02-13 16:33] #21141 closed

[2016-02-13 16:33] #21168 closed

[2016-02-13 16:59] roberthbailey commented on #15803
GKE isn't going to enable this, but we want the e2e config and the default config for OSS to match.

[2016-02-13 17:23] titilambert commented on #18450
@bgrant0607
- pods are communicating via shared memory? : No, pods are just reading the same memory, this is just  to save memory usage (avoid duplication)
- How? : using /dev/shm
- Why not put all the containers in the same pod? : Because this is remove flexibility about scaling...

[2016-02-13 17:24] titilambert commented on #18450
@nikhiljindal I just made an implementation of rolling update by node using labels on nodes.
Do you think this could be integrated to kubectl ?

[2016-02-13 18:15] eparis commented on #21178
Is this a dupe of #20908

[2016-02-13 18:27] caesarxuchao commented on #20908
Another occurrence: https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21105/kubernetes-pull-build-test-e2e-gce/28144/

[2016-02-13 18:27] caesarxuchao commented on #21178
Yes, thank you @eparis.

[2016-02-13 18:27] #21178 closed

[2016-02-13 19:18] justinsb commented on #21217
Well first of all, I'm not sure we're doing this, but...

I hope to get parity, yes.  I believe Debian 8.3 is jessie with all the latest updates applied, so we likely do that anyway to save time during first boot by avoiding having to upgrade.  The question of how often we would re-build the image is an open question.

I have asked on slack how the GCE image is built.  I would love to use the exac

[2016-02-13 20:22] binarybana commented on #21200
In addition to the spot based ASGs we've been using in our cloudformation scripts, we've also begun experimenting with spot fleets for multiple instances types and more granular control over instance termination on cluster spin down as our long running jobs complete.

[2016-02-13 22:34] dvohra commented on #19720
I used the following command to start Docker.

sudo service docker start
--------------------------------------------
On Fri, 2/12/16, Lantao Liu <notifications@github.com> wrote:

 Subject: Re: [kubernetes] Validate Docker 1.10 (#19720)
 To: "kubernetes/kubernetes" <kubernetes@noreply.github.com>
 Cc: "dvohra" <dvohra10@yahoo.com>
 Received: Friday, February 12, 2016, 9:40 PM

 @dvohra I think
 t

[2016-02-13 22:47] thockin commented on #20096
Update:  The smoking gun (hairpin) seems real.  Disabling hairpin ONLY breaks the case of a pod which talks to a service IP and then gets redirected back to itself.  Everything else seems OK.  We have a few options.

1) Use the existing userspace proxy (known to be slow and unscalable).
2) Use the existing proxy, but make it faster (risky, last-second changes).
3) Default to the existing proxy but

[2016-02-13 22:51] bgrant0607 commented on #18450
@titilambert Have you seen `kubectl drain`? Would that do what you need?

cc @mml @janetkuo @kargakis @mqliang

[2016-02-13 23:14] bprashanth commented on #20096
I also discovered that we can force cbr0 to accept hairpin packets by putting it in promiscuous mode. This is as simple as `ip link set cbr0 promisc on`. I don't know if we'll still hit the race, but Services e2es  passed. This sounds OK for GCE because cbr0 should only receive packets per the gce route for it's host vm anyway, so it's an option worth considering.

[2016-02-13 23:29] thockin commented on #20096
I'm looping in more folks on this.

@mavenugo @kubernetes/sig-network @dcbw @phillips (who is the new Eugene?)

Madhu: I know this has been an issue in the past for docker, I have to assume it still is, but maybe at a low failure rate?  Or have you guys stopped using hairpin for hostport forwarding?

We have a couple workarounds for this, listed above.  I'd love to get other opinions on things we

[2016-02-13 23:32] lxpollitt commented on #20096
Also looping in @fasaxc.  Shaun: can you look at these options and flag if you think there may be compatibility issues with how we or others use iptables?

[2016-02-14 00:06] thockin commented on #20096
For the record, we are ALSO trying to help track down the actual kernel bug, so any workaround should be temporary.  That said, this bug was reported (we think) in 2014 or maybe earlier, so ...

[2016-02-14 00:08] thockin commented on #17676
I really don't want to make the built-in gitRepo more fancy, I think the
sidecar really is the right way to do things.

On Fri, Feb 12, 2016 at 9:32 PM, Brian Grant <notifications@github.com>
wrote:

[2016-02-14 00:33] thockin commented on #21070
The implementation is simple.  It's the representation I am concerned about.  How do we expose this in the API in a way that doesn't require users to do something like name 'eth1'.

Is this a case of wanting localhost only or of actually having multiple NICs, some public and some private?

An idea that has been bouncing around in my head, but I am not sure I like it:  Let nodes describe the set of

[2016-02-14 00:43] thockin commented on #21118
Yay!  Go MacOS!

On Fri, Feb 12, 2016 at 10:53 AM, Paul Morie <notifications@github.com>
wrote:

[2016-02-14 00:46] mavenugo commented on #20096
@thockin Yes. the problem still exists if `userland-proxy` is disabled. Currently, docker daemon defaults to  `userland-proxy = true` and that mitigates the issue... and yes, the kernel bug is related to hairpin mode.

[2016-02-14 02:03] thockin commented on #20096
Any thoughts on either of the workarounds (a laundering netns or making the
bridge promiscuous)?
On Feb 13, 2016 4:46 PM, "Madhu Venugopal" <notifications@github.com> wrote:

[2016-02-14 03:36] davidopp opened #21220 "Error: Status 500 trying to pull repository google_containers/kube-registry-proxy: "Internal Error.""
I assume this is transient and not worth investigating, but filing an issue as required anyway.

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/28452/console

[code]

[2016-02-14 04:06] thockin commented on #21114
If we can have such a build flag, I am 100% in favor.   I really relied on
that capability in our internal build tools.

On Fri, Feb 12, 2016 at 6:48 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-02-14 04:20] davidopp commented on #18963
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21057/kubernetes-pull-build-test-e2e-gce/28469/?debugUI=DEVELOPERS

[2016-02-14 04:29] #20791 closed

[2016-02-14 04:45] roberthbailey commented on #21188
Also seen in http://pr-test.k8s.io/21183/kubernetes-pull-test-unit-integration/21003/.

[2016-02-14 04:54] thockin commented on #13494
Anything at L7 should pass through unmolested, including HTTP headers.

On Fri, Feb 12, 2016 at 8:57 AM, Imesh Guaratne <notifications@github.com>
wrote:

[2016-02-14 05:00] thockin commented on #14661
I'm going close the dup (I dup'ed myself!).  This one has more info, so keeping it.

[2016-02-14 05:00] thockin commented on #8673
Dup #14661

[2016-02-14 05:00] #8673 closed

[2016-02-14 05:13] bprashanth commented on #14661
Why health check nodes instead of straight to network endpoint? If we do that, isn't the 40s eternity enough for node health checks?

[2016-02-14 05:16] thockin commented on #14661
Today we load-balance to nodes.  If a node dies, I want my cloud LB
targetting a different node ASAP.

On Sat, Feb 13, 2016 at 9:13 PM, Prashanth B <notifications@github.com>
wrote:

[2016-02-14 05:22] #14944 closed

[2016-02-14 05:30] bprashanth commented on #14661
Yes we can easily implement a short term solution where the service/ingress controller runs a goroutine that just polls health check daemons on the node. "Bouncy" makes that harder because kube-proxy will still continue to think the endpoint is ready. Even if we don't go to the extent of reporting utiliztion information per request, I think we should come up with somethig that re-uses an existing

[2016-02-14 06:04] imesh commented on #13494
Thanks @thockin!! Appreciate your quick response!

[2016-02-14 08:35] yybear commented on #20685
hi @davidopp , i had tested option(2), but the result is same, the pods on node 10.45.25.204 is still running.
#kubectl get nodes
NAME           LABELS                                                                   STATUS
10.45.25.205   isnode=true,kubernetes.io/hostname=10.45.25.205,name=node205,type=node   Ready
10.45.25.206   isnode=true,kubernetes.io/hostname=10.45.25.206,name=node206

[2016-02-14 08:56] #19639 closed

[2016-02-14 09:31] paralin commented on #20643
I'll have a look at this. Our prod code under Kubernetes runs on GCE, but we still use AWS for some existing services. Will try spinning up some clusters and report back.

Might not be able to get that done for a few days though.

[2016-02-14 12:38] jimmidyson commented on #19899
An alternative to using the letsencrypt client is to do it programmatically using lego (https://github.com/xenolf/lego). This is used in caddy to provide the automatic cert issuance & works brilliantly. One benefit of this is being able to use multiple challenge types, e.g DNS, without needing to change configuration/reloading of l7 router.

[2016-02-14 12:43] jdef commented on #20096
/cc @air

On Sat, Feb 13, 2016 at 9:04 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-02-14 12:56] liangchenye commented on #21013
@dchen1107 Look into it. Thanks.

[2016-02-14 13:50] henryon commented on #10522
@derekwaynecarr can u help to take a look this issues? thanks

[2016-02-14 15:52] justinsb opened #21225 "AWS kube-up: Node disk size is incompatible with instance storage"
Currently we can configure the node disk size, but it won't be used for containers if instance storage is also available.  Also, if you choose e.g. btrfs, it won't work unless you have instance storage.

We should at least fix the docs in 1.2, and ideally fix the behavior to be more understandable/consistent.

[2016-02-14 16:31] jayunit100 commented on #14763
BTW `volume on tmpfs` looks flakey to me. I think thats why its skipped.  looks like about a 80% pass rate, not sure why.

[2016-02-14 16:32] smarterclayton opened #21227 "Exec should use AttachablePodForObject so that we can exec into a deployment"
Would allow:

[code]

Basically make it equivalent with attach. Not 1.2 at this point.

[2016-02-14 16:36] tobad357 commented on #15365
I have an implementation based on the FC code that is nearly ready for discussion. I should be able to push for initial look in next couple of days.

[2016-02-14 19:39] jayunit100 opened #21229 "Nginx Logging in Volume tests"
Right now it appears to me that the function `testVolumeClient` doesn't log whats happening at server spin up time.  This means that when testing a volume, if the nginx part doesn't come up, we don't know why.

Lets look into nginx verbosity and see if we can put more data into the RCs started in the volume

This would help with issues such as  https://github.com/openshift/origin/issues/7287

[2016-02-14 19:50] jayunit100 opened #21230 "Add pod executable check to Volume test"
Since
- volume tests rely on executing commands in pods `_, err = lookForStringInPodExec(config.namespace, clientPod.Name, []string{"ls", "-ld", "/usr/share/nginx/html"}, strconv.Itoa(int(*fsGroup)), time.Minute)`
- almost no other tests rely on this feature

... we should make sure that this command actually is working properly before starting the tests. (i.e. make sure that lookForStringInPodExe

[2016-02-14 19:51] jayunit100 commented on #21229
cc @kubernetes/sig-testing

[2016-02-14 19:54] jayunit100 opened #21231 "Add a pod exec conformance test"
see #21230 for motivation

[2016-02-14 20:32] justinsb opened #21232 "AWS kube-up: warnings in node cloud-init-output.log"
From /var/log/cloud-init-output.log, doing a kube-up (on debian jessie, but I don't think that matters here):

[code]

[2016-02-14 21:13] smarterclayton commented on #16742
Why do users have to hit enter to get a prompt?  Is this some gap between bash, attach and execution?  Why don't we have to hit enter for exec?

[2016-02-14 21:14] smarterclayton commented on #16742
Why can't we send enter to the TTY to trigger this?

[2016-02-14 21:18] #16240 closed

[2016-02-14 21:18] pmorie opened #21234 "e2e flake: LimitRange [It] should create a LimitRange with defaults and ensure pod has those defaults applied."
LimitRange e2e flake:

[code]

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20114/kubernetes-pull-build-test-e2e-gce/28527/

[2016-02-14 21:49] gy8 commented on #21200
+1 for spot fleet, that would sweeet

[2016-02-14 22:36] bprashanth commented on #20096
I ran an overnight stress test with the container bridge in promiscuous mode and didn't hit the bug. I logged into the soak cluster and turned it on for the following vms: gce-soak-weekly-minion-7sqx, gce-soak-weekly-minion-4v89.

For the record: As of build http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gce/4707 all soak-weekly-minons are in a Ready

[2016-02-14 22:44] bprashanth commented on #21029
Some of these failures might be a test bug. On http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/1044/consoleFull, I noticed:
[code]
So maybe just strip white space before the deep equal: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L1361

[2016-02-14 22:51] smarterclayton commented on #16742
@ncdc have we seen this that we don't get the original prompt?  Is this a race in attach where the buffer is lost or not detected?

[2016-02-14 23:36] sosiouxme commented on #21077
It would be nice to declaratively indicate ordering wants/dependencies between plugins that treat the same subjects. E.g. "if LimitRanger is also in the chain, ensure it runs after this plugin to still enforce the resource settings it's changing." Or "must run after LimitRanger sets defaults". This may be too elaborate to be worth it though.

Re internal caches - these ought to be common resources

[2016-02-14 23:47] ncdc commented on #16742
It's because we don't monitor terminal size and resize the tty. Long
standing issue, multiple reports upstream and here.

On Sunday, February 14, 2016, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-14 23:53] ncdc commented on #16742
Reports here... Thought this was an Origin issue :-)

But i did fix a similar issue in docker recently.

It is a pretty easy fix for Kube. Just need time...

On Sunday, February 14, 2016, Andy Goldstein <agoldste@redhat.com> wrote:

[2016-02-15 01:24] davidopp opened #21236 "Progamatically ensure that all predicate/priority functions that are tested are registered"
@resouer I just noticed you forgot to register the image locality priority function in `init()` in `plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go`

I also missed it when I reviewed your PR.

I have fixed this in #21235. But it would be great if you could figure out a mechanism that would ensure that all predicate/priority functions that are tested (you can assume they will always liv

[2016-02-15 02:15] justinsb commented on #21216
Apparently GCE's image is built using bootstrap-vz, so I looked into that.  I put up a WIP-for-discussion PR as well; with that Debian appears to work well: #21226

[2016-02-15 02:18] #20136 closed

[2016-02-15 02:19] smarterclayton commented on #16742
Can we cross link?

[2016-02-15 02:19] davidopp commented on #19997
Hit it again
pull/21057/kubernetes-pull-build-test-e2e-gce/28542

[2016-02-15 02:20] magicwang-cn commented on #20504
@sunshine-zhd1229

[2016-02-15 02:44] AdoHe commented on #21133
@FlorianOtel I am happy to offer some help if you are trying to write a network plugin.

[2016-02-15 03:46] Pensu commented on #21231
Do you want any help with this? I would like to take this up and try to implement.

[2016-02-15 03:49] Pensu commented on #21227
+1 for it. That's a good idea. Is there any other way to attach to a container that is currently present in kubernetes?

[2016-02-15 04:01] bprashanth commented on #19899
Lego looks promising.

@mattbates the fastest way to get off the ground with certs today is probably:
* Create an nginx service with a conf that looks something like:
[code]

* Make your default backend an nginx server

[code]
* Point dns of yoursite.com to the public IP allocated to this ingress
* Run the normal letsencrypt flow (manually, i.e just https://gethttpsforfree.com/), you'll get a chal

[2016-02-15 04:02] AdoHe commented on #21018
@bgrant0607 I just send a PR #21238, would you mind reviewing this?

[2016-02-15 04:13] AdoHe commented on #21227
@Pensu kubectl has a `attach` command, you can attach to running container.

[2016-02-15 04:15] AdoHe commented on #21053
This should be a pretty easy fix, will do this.

[2016-02-15 05:17] bgrant0607 commented on #20605
Also, version, componentstatus, cluster-info, current-context.

[2016-02-15 05:52] luxas commented on #20715
SGTM

But there should be both the `stable` and `v1.x.y` tag, so when `v1.x.z` is released, that one becomes `stable` but `v1.x.y` is still usable.

Could `latest` be replaced with something else? `latest` is docker's predefined value and equals to just `gcr.io/google_containers/hyperkube-amd64`, so would e.g. `canary` or `alpha` sound better?

[2016-02-15 05:53] smarterclayton commented on #16742
Ok, I'm going to open a refactor to clean up the safe TTY handling (because deeply nested functions that eat signals and exit immediately are bad for business).

[2016-02-15 05:55] Pensu commented on #21227
Yeah, just saw it. Thanks @AdoHe

[2016-02-15 05:58] luxas commented on #13742
Which docker versions will `v1.2` support? Ref: #20281
Is it possible to drop support for `v1.7.1`?

[2016-02-15 06:03] thockin commented on #21188
Again. #21188

Not assigned to anyone, so I am sending to @lavalap for routing

[2016-02-15 06:06] thockin commented on #13742
I think we're saying 1.8 and 1.9, MAYBE 1.10

On Sun, Feb 14, 2016 at 9:58 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-02-15 06:13] #21073 closed

[2016-02-15 06:14] bgrant0607 commented on #18708
And here:
https://00e9e64bac67da3a5483df52977e087fed44cbe55bb1d589f9-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F20557%2Fkubernetes-pull-test-unit-integration%2F14315%2Fartifacts%2Fjunit_v1,extensions-v1beta1_20160214-100306.stdout?qk=AD5uMEuawx7TUST9xxgNjq9kAyWmQF0S8phoAZ5LEJXmg51CxJGHFZQnkORCCmoxa7itNT3_0NSBW_PHfQBGHe535eXWUdXSa_EzknCjAMF221

[2016-02-15 06:32] uoryon commented on #8019
@rmohr Thanks!

[2016-02-15 07:03] mysterytree opened #21239 "how does the k8s on mesos proxy work?"
Kube-proxy use iptables to achieve loadblance on k8s minion.
But on the mesos , only install a kube-master on mesos master can do this.
What does k8s on mesos do  on mesos slave?

[2016-02-15 07:15] codefx9 opened #21241 "kube-apiserver will not start in AWS Wily"
Hi,
I tried running the Kube 1.1.7 using AWS Wily AMI. But the api-server will not start. I see the following log snippet in kubelet log.

Feb 15 07:06:52 ip-172-20-0-9 kubelet[9913]: E0215 07:06:52.018206    9913 manager.go:1864] Failed to create pod infra container: API error (500): Cannot start container d53b014092f54a3f4229826c0c304f2c000ecd035fe5d5a150e8a37d1b0ca33c: [8] System error: Invalid

[2016-02-15 07:26] wojtek-t commented on #20504
I have met with @hongchaodeng last week and they are just starting doing the prototype roughly now. Once they have a prototype, the will start doing the real work. I will be coordinating with them and helping them from the k8s side.

[2016-02-15 07:26] wojtek-t commented on #20504
So assigning to me, although probably most of the work will be done by CoreOS folks.

[2016-02-15 07:44] AdoHe commented on #21188
Again: #20409

Is there anyone working on this? I will spend some time looking into this.

[2016-02-15 07:52] roberthbailey opened #21244 "e2e flake: ConfigMap updates should be reflected in volume timed out"
Test logs at https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21110/kubernetes-pull-build-test-e2e-gce/28558/

[code]

[2016-02-15 07:58] gmarek opened #21245 "e2e flake: Kubectl client Kubectl run deployment [AfterEach] should create a deployment from an image"
http://pr-test.k8s.io/21058/kubernetes-pull-build-test-e2e-gce/28423/

[code]

cc @janetkuo @bgrant0607

[2016-02-15 08:16] gy8 commented on #13585
+1

[2016-02-15 08:18] #19775 closed

[2016-02-15 08:21] razvip91 opened #21246 "Can't access kube-ui via docs urls"
Hello!

I've been playing around with kubernetes for some time now and have hit my head against this issue every time: I launch kube-ui like in the kubernetes docs and everything works as expected, but when I try to access the dashboard via the given URLs (http://master-node-IP:8080/ui and http://master-node-ip:8080/api/v1/proxy/namespaces/kube-system/services/kube-ui/#/dashboard/) I get the follo

[2016-02-15 08:32] fzu-huang opened #21247 "How"

[2016-02-15 08:32] #21247 closed

[2016-02-15 08:39] wojtek-t commented on #21211
#21242 is fixing the first issue

[2016-02-15 08:40] fzu-huang opened #21248 "How to use the flag --log-dir?"
I want  to collector K8s's  logs. So when I use --help like   kubelet --help:   It showed that with the flag:
`--log-dir`  I can  write logs into the specificed directory.  I tried it with the command : `kubelet --log-dir="/app/logs/" (and some other flags,such as --alsologtostderr=true)` , Of course I create  the directory before.
But It doesn't work.Nothing created in the directory.

I run a k8s

[2016-02-15 08:44] #20750 closed

[2016-02-15 08:56] gmarek commented on #16943
@yujuhong - Nice! Does this mean that we officially support 100 pods/node for 1.2?

[2016-02-15 09:05] gmarek commented on #13429
Does it need to be an e2e test, or unit test will suffice?

[2016-02-15 09:12] wojtek-t opened #21249 "e2e flake: Scalability tests are failing with "not able to ssh" error"
Recently, we have 5+ failures, which failed with:

    17:06:30 Build was aborted

log. However, before that, we have 1GB+ logs like this one:

    17:06:30 Feb 14 17:06:30.375: INFO: Error while trying to SSH to 104.197.188.188:22, skipping probe. Error: error getting signer for provider gce: 'error reading SSH key /var/lib/jenkins/jobs/kubernetes-e2e-gce-scalability/workspace/.ssh/google_compute

[2016-02-15 09:15] #21037 closed

[2016-02-15 09:15] #21092 closed

[2016-02-15 09:29] davidopp commented on #21169
cc/ @erictune

[2016-02-15 09:41] gmarek commented on #20984
@bgrant0607 - this is an example of issue why I'd like to separate Heartbeat from Node object. If we had a separate object, NodeController would be able to allocate most of CIDRs without collisions.

[2016-02-15 09:52] fgrzadkowski opened #21252 "Kubelet reports node being ready when docker is not working"
This caused scalability jenkins suite to fail:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4615/consoleFull

Scenario is the following:
1. Kubelet reports node to be ready even though docker is not working (`GenericPLEG: Unable to retrieve pods: cannot connect to Docker endpoint`)
2. Scheduler assigns pods to node
3. Pods are being reported by kub

[2016-02-15 10:11] bliss commented on #12746
@rootfs: good day! BTW, is privileged mode still required for ceph rbd plugin ?

[2016-02-15 10:29] valery-zhurbenko commented on #11935
+1

[2016-02-15 10:46] wojtek-t opened #21254 "Store logs from kubemark Jenkins runs in GCS"
Currently, debugging Kubemark failures on Jenkins is pretty hard, because we don't have logs from k8s components.

We should save the similarly to what we are doing for all "normal" Jenkins suites.

There are two parts of it:
- P1 - logs from master components (which should be simple, because they are running on a single VM)
- P2 - logs from hollow-nodes (which will be more difficult, but is less

[2016-02-15 10:46] wojtek-t commented on #21254
@gmarek

[2016-02-15 11:04] piosz commented on #11935
If anyone from would like to integrate Kubernetes with AWS autoscaler I'm happy to share our experience with integrating Kubernetes with GCE autoscaler.

cc @fgrzadkowski @mwielgus

[2016-02-15 11:16] luebken commented on #19699
Note #15998 has been merged. So +1 for closing this.

[2016-02-15 11:26] wojtek-t commented on #21254
@ixdy @spxtr - since you are familiar with it, can you please make the first thing happen (i.e. store logs from master components that are running on a dedicated VM in GCS)

[2016-02-15 11:29] gmarek opened #21256 "e2e flake: ReplicaSet [It] should serve a basic image on each replica with a public image [Conformance]"
http://pr-test.k8s.io/21253/kubernetes-pull-build-test-e2e-gce/28583/

[code]

cc @kubernetes/goog-control-plane

[2016-02-15 11:36] gmarek opened #21257 "integration flake: kubectl delete deployment/nginx-deployment"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21058/kubernetes-pull-test-unit-integration/14383/build-log.txt

[code]

It looks that we lack retry in the test.

cc @kubernetes/goog-ux

[2016-02-15 11:37] wojtek-t commented on #21188
I think that the name of this issue is misleading - the issue seems to be unrelated to etcd_watcher

Basically, if you look into this part of log:

    goroutine 2786 [running]:
    testing.tRunner.func1(0xc822bcc2d0)
        /usr/local/go/src/testing/testing.go:450 +0x171
    sync.(*WaitGroup).Wait(0xc824a9f570)
        /usr/local/go/src/sync/waitgroup.go:128 +0x114
    net/http/httptest.(*Server

[2016-02-15 11:45] wojtek-t commented on #21188
I think this is exactly what we had before. I will send a PR with the fix today.

[2016-02-15 11:52] #18230 closed

[2016-02-15 13:21] gmarek commented on #20673
@bakins - can you paste all logs from kube-controller-manager that mention the Node that died? Also Events for this Node could be helpful.

[2016-02-15 13:22] jayunit100 commented on #21231
@sig-testing

[2016-02-15 13:22] jayunit100 commented on #21231
If someone gets a patch before me that's great I won't be able to look at it until tonite

[2016-02-15 13:43] #21188 closed

[2016-02-15 13:44] bakins commented on #20673
This was almost 2 weeks ago on a production server, but I can probably find the logs. From memory, the logs about the server were the familiar "server not found in cloud provider, so deleting". The controller-manager also gave the unfortunantly familiar "unable to reconcile.. found metrics for 6/7 pods" for autoscaler.

FWIW, fro my perspective, the work around for removing the pods was fairly sim

[2016-02-15 13:44] pweil- opened #21260 "refactor Printer arguments"
The signature for creating a printer is growing pretty large now.  We should refactor the signature to take a `PrinterOptions` struct to make it a bit more friendly.

Example:

[code]

[2016-02-15 13:47] wojtek-t commented on #21107
Yeah - but we need a project with high enough quota. @ihmccreery - would you be able to get such a project?

[2016-02-15 13:47] wojtek-t commented on #21107
Default quota is not enough for it.

[2016-02-15 13:51] wojtek-t opened #21261 "e2e flake: tests are failing on "All nodes should be ready" condition"
I've seen a bunch of different failure, with number of tests failing due to:

     Feb 14 08:36:31.720: FAIL: All nodes should be ready after test,

The example failure is here:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21020/kubernetes-pull-build-test-e2e-gce/28512/build-log.txt
[but there were 5+ more today in different places & suites]

[2016-02-15 13:53] deads2k commented on #21260
@kubernetes/kubectl

[2016-02-15 14:00] kargakis commented on #21260
I am pretty sure I had seen a PR for this but I cannot find it.

[2016-02-15 14:04] gmarek commented on #21249
This issue went away for some time, and now it's back... There's a bug in backoff logic. I'll fix this, as it will help with the sizes of logs and hopefully it will solve the whole issue, as the problem is limit on a number of open FDs.

[2016-02-15 14:12] #21027 closed

[2016-02-15 14:13] gmarek commented on #21249
Decreasing priority, and removing flake label, as PR is in flight.

[2016-02-15 14:17] AdoHe commented on #21260
+1 really necessary.

[2016-02-15 14:19] wojtek-t commented on #21249
I don't think we should remove "kind/flake" label.

[2016-02-15 14:42] gmarek commented on #19468
Fixed by #21003

[2016-02-15 14:42] #19468 closed

[2016-02-15 14:45] sdminonne commented on #16654
@thockin @hurf since in I'm having a look at quotas: Are you still facing this? I couldn't reproduce.

[2016-02-15 15:04] onorua commented on #5243
This ticket should be closed, as the functionality is already here, don't know when exactly, but since 1.1 for sure.

[2016-02-15 15:08] AdoHe commented on #21070
I think using `label` and `selector` to do this is quite straight, also I do agree `it might pay off over time to have that info`

[2016-02-15 15:14] dcbw commented on #20096
@thockin I talked to our kernel networking people about this last week.  I pointed them at @bprashanth's kernel log, and the response was:

So if we can reproduce with a more recent kernel than what's running in the soak tests, and possibly get a more reliable reproducer, that would be great.  I'm going to try running that docker stress test that was mentioned in the docker issue this week on 4.3

[2016-02-15 15:16] ncdc commented on #21081
cc @kubernetes/rh-cluster-infra

[2016-02-15 15:19] resouer commented on #21236
Thanks! Will fix this soon!

[2016-02-15 15:48] gmarek opened #21267 "Decide on the names of master component pods"
Assuming that we're going to register 'master Node' we should decide on a common way of naming all the 'system pods'. We need to consider HA setups.

Currently we have the schema: `<component>-<master machine>`, e.g. `kube-controller-manager-kubernetes-master` and I like it - it'll make physically locating given component easy.

If we agree on this, we should add this as conformance requirement to

[2016-02-15 15:51] wojtek-t commented on #20638
And what is more interesting, is that Kubemark-500 generally works and listing replication controllers there is faster than in Kubemark-100, which is extremely strange...

[2016-02-15 15:58] guilhem commented on #21070
I don't know if we have to change kubernetes API for this.
Does Kubernetes have to manage all the way servers works or do we have to let underlying admin tool managing this? (I really don't have an answer to this question)
I always see services `NodePort` for "internal" use and `LoadBalancer` one as "public".
But that may be a misconception as I always use k8s with bare-metal (linked with proxy li

[2016-02-15 15:59] tobad357 commented on #15365
@rootfs I've pushed a WIP to here for discussion
https://github.com/kubernetes/kubernetes/pull/21270

As this is my first time developing in go, please brace yourself ;)

[2016-02-15 16:16] thockin commented on #21070
I don't think that any choice is correct for all services.  There could be
an admin flag to kube-proxy for which IP to nodeport, but I don't think
that is going to actually be sufficient.  It also becomes yet another thing
that will be different across installations, which we need to minimize.
On Feb 15, 2016 7:59 AM, "Guilhem Lettron" <notifications@github.com> wrote:

[2016-02-15 16:27] guilhem commented on #21070
@thockin that's exactly what I'm using here https://github.com/guilhem/kubernetes/commit/2b6ba91a9342a06941ad9816bd6e7c3036cc5436 and it's perfectly enough for us :) (using `--bind-address`)
But I prefer to discuss about it here before doing a PR.

[2016-02-15 16:37] bitchecker opened #21271 "skydns service resolution"
on my kubernetes cluster i've deployed skydns addon.

this is skydns yaml file:
[code]

and this is related service:

[code]

i've deplyed a simple busybox pod, and this is his yaml file:

[code]

if i run:
[code]

i get:

[code]

if i run a simple pod with a casual image i would get to resolve it from dns, i tried:

[code]

i've tried also:

[code]

if i run the same command on busybox, i get:

[

[2016-02-15 17:00] timothysc commented on #21114
We can simply append to the symbol checks as we had done b4.

[2016-02-15 17:02] timothysc commented on #20504
@wojtek-t please /cc me on reviews.

[2016-02-15 17:04] timothysc commented on #16943
Could we update the defaults now?

[2016-02-15 17:21] gopinatht commented on #18227
+1 for a quick resolution on this issue. We really cannot use containerized kubernetes without the certificates generated for the Master.

[2016-02-15 17:47] fasaxc commented on #20096
@thockin I think option (5) would conflict with Calico's security policy.  Looks like the packets going via the reflector get masqueraded(?), which fudges the source address.  Calico uses the source address for packet matching so we'd fail to match packets to their source.  Also, if you're using a CNI IPAM plugin, it might not be easy to find out what IPs are in use for pods.

When Calico's provid

[2016-02-15 18:02] sjenning commented on #21246
The docs say http**s**.  Can you try that?

[2016-02-15 18:03] #19699 closed

[2016-02-15 18:03] bgrant0607 commented on #15193
The Openshift examples README does a decent job of explaining what each example demonstrates:
https://github.com/openshift/origin/tree/master/examples

[2016-02-15 18:04] therc commented on #14226
The artist formerly known as docker-ec2-metadata (now ec2metaproxy) could be turned into a library and linked into kube-proxy (or kubelet?). The main limitation is that it looks up the other end's IP address and then matches it against Docker's list of containers, but for network=host containers that's not going to work. Maybe in those cases it could look up the connection in /proc/net/tcp/* inste

[2016-02-15 18:07] luxas commented on #16943
100 pods per node support would be awesome
Really looking forward to even better performance since I run k8s on Raspberry Pis :)

[2016-02-15 18:09] luxas commented on #18227
@fgrzadkowski Could this be fixed before `v1.2`?
I think it should and I may look into it and see if there's something I may do

[2016-02-15 18:10] bgrant0607 commented on #4926
Openshift examples:
https://github.com/openshift/origin/tree/master/examples

Openshift also has examples in other repos, such as:
https://github.com/openshift/postgresql/tree/master/examples/replica

Helm charts:
https://github.com/helm/charts

DM templates:
https://github.com/kubernetes/application-dm-templates

[2016-02-15 18:23] thockin commented on #20096
Hairpin packets are SNAT to the node already.  This would actually be
clearer, since the laundry IP is at least distinct.
On Feb 15, 2016 9:47 AM, "Shaun Crampton" <notifications@github.com> wrote:

[2016-02-15 18:33] #21211 closed

[2016-02-15 18:34] sjenning commented on #21271
Pods do not get assigned resolvable names; services do.

For example:
[code]

So the pod is an endpoint for the mysql service.  "mysql" resolves to the cluster IP of the mysql service which load balances the connections across one or more pod endpoints.

[2016-02-15 18:35] chrisleck opened #21275 "Support & maintain a cloudformation based setup for Kubernetes on AWS"
I have a fully declarative setup for our Kubernetes clusters using cloudformation, written in jsonnet, which I've discussed with a few contributors here.  I'd love to contribute this and hook it into ongoing updates to the cluster bootstrap process.

Two questions:
1. Is this something that would be welcome?
2. Where would it live?

[2016-02-15 18:55] fasaxc commented on #20096
Good point.  Feels like we should be able to work with that.  Maybe kubepoxy could put in an ACCEPT rule just for packets that come out of the laundry interface.  That'd bypass Calico for this loopback case (and go away once this workaround is backed out).  Alternatively, we could do the same as long as the laundry veth is identifiable somehow (maybe with a distinctive interface name?).  CC @lxpol

[2016-02-15 19:05] pires commented on #21113
Just letting @thockin know of this since we've discussed it very lightly over Slack.

[2016-02-15 19:07] derekwaynecarr commented on #10522
@henryon - can you open a new issue and describe what host environment you are using?  Are you testing from master or a branch?  cc me on the issue.

[2016-02-15 19:43] therc commented on #21200
Does this need any new code to detect in a timely fashion that a node is getting evicted? Amazon recommends checking metadata for the termination notice every five seconds, but the AWS cloudprovider's isAlive() already considers a machine in "shutting down" state as not present. That could use better log messages, but is it already enough? I haven't tried it, but I assume that the spot instance wo

[2016-02-15 19:44] akshayl commented on #11209
+1

As someone new to K8S, my understanding from reading the docs ("The population of pods that a replication controller is monitoring is defined with a label selector, which creates a loosely coupled relationship between the controller and the pods controlled..") made me assume all that is required to specify the pods controlled is a label selector. So I was puzzled when I got this error message

[2016-02-15 19:51] bprashanth commented on #20096
@dcbw if you're ok recompiling kubelet, you should be able to repro with https://github.com/kubernetes/kubernetes/issues/20096#issuecomment-182531030

[2016-02-15 20:02] smarterclayton commented on #21081
We really, really, really, really need a way to assign each connection
creation to a caller trace.

On Mon, Feb 15, 2016 at 10:16 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-02-15 20:39] kevinjcash commented on #21275
I would like this very much, and I can contribute if you've got something started. I don't see why it couldn't live in the example directory at the very least, if not cluster/aws.

[2016-02-15 20:50] #20012 closed

[2016-02-15 21:07] ncdc commented on #21081
I started fiddling with this a bit. If you add conn tracking to `net.TCPConn`, with a simple test of calling `http.Get()`, you don't get useful info because the TCPConn's are created in a goroutine from `net/http.(*Transport).getConn()`, so you don't see the actual top-level function that initiated the connection. I'll keep playing with this - I might just need to move the tracking to multiple pla

[2016-02-15 21:25] jtblin commented on #19071
I fixed running the cassandra example in #20746 but I had to downgrade from `v7` to `v6`. Not sure what the `v7` changes were but need a new image.

[2016-02-15 21:35] justinsb commented on #21200
I believe an ASG using spot instances will work with today's code.  Maybe we'll make some poor scheduling decisions if we don't listen to notifications, but it should look like our instances are just a little less reliable.

[2016-02-15 21:36] uluyol commented on #19071
I mentioned this a few posts ago, but in #19114 I fixed the permissions denied issue. This was supposed to be pushed as a new v8 image by someone from Google as I do not have permissions to push to gcr.io/google_containers.

[2016-02-15 21:49] smarterclayton opened #21282 "Propagate "no container" error from attach/exec/logs up cleanly to the API server level"
Today, it's very hard to do proper error handling in the `attach`, `exec`, `logs`, and `run` commands for short running commands (those that run, print output, and then exit rapidly).  That is mostly due today to the Kubelet not returning structured, known errors back to the apiserver in these scenarios in a way that the caller can react to the pod terminating / restarting before the attach call c

[2016-02-15 21:50] smarterclayton commented on #21282
@ncdc

[2016-02-15 21:52] fiksn opened #21283 "kubectl - insecure-skip-tls-verify option is not (completely) skipping TLS verification"
Hi,

I am running kubectl 1.1.7 (trying to connect to 1.1.7 kube api server on CoreOS 835.12.0) and get the following:

(example is from "kubectl version" but nothing else works either)

That is of course completely legitimate if I wasn't using --insecure-skip-tls-verify (also tried through kubeconfig for specific cluster - doesn't make a difference).

I am aware of the security implications. Prob

[2016-02-15 21:58] fiksn commented on #21283
Yeah, if I could SSH directly to the CoreOS machine running api server I could probably use the insecure port (127.0.0.1:8080).

[2016-02-15 21:58] bitchecker commented on #21271
so, with service i'll able to have an A record for service-related pods that will be resolveable from other pods?

what will be the fqdn for services? in my config, as you can see from my previous post, is ```kube.local```, A record will be ```mysql.default.svc.cluster.local``` for a pod called ```mysql```?

[2016-02-15 22:29] dcbw opened #21284 "hairpin.go should not set hairpin mode on all interfaces"
I0215 16:27:02.388241   27779 hairpin.go:51] Unable to find pair interface, setting up all interfaces: Unable to query interface eth0 of container 15628: exit status 1: nsenter: cannot open /proc/15628/ns/net: No such file or directory
I0215 16:27:02.389035   27779 hairpin.go:99] Enabling hairpin on interface lo
I0215 16:27:02.389175   27779 hairpin.go:99] Enabling hairpin on interface eno1
I0215

[2016-02-15 23:09] dcbw commented on #20096
@bprashanth been trying to reproduce it with hack/local-up-cluster.sh, your script, the backoff patch, and --configure-cbr0/--reconcile-cidr/--cluster-cidr/--allocate-cidr but haven't managed to do so yet even with ~80+ replicas.  4.3.5 kernel from Fedora 23, and I've verified that hairpin mode *is* being enabled on the veth interfaces.  No iptables rules exist on my system though; perhaps iptable

[2016-02-15 23:14] dcbw commented on #20096
@bprashanth though with the local cluster, it's still rate-limiting the number of pods alive at any given time; is it necessary to get a ton of them to run at once for the bug to trigger?

[2016-02-15 23:39] lakhindr commented on #19071
@uluyol, I think your code is checked in, if not the image. I have compiled it, and it works, in my limited set of tests. The container can start. Thanks.

[2016-02-16 00:33] therc opened #21285 "Fluentd image to log to ES service on AWS"
There is a plugin that seems able to do this, linked from Fluent::Plugin::Elasticsearch:

https://github.com/atomita/fluent-plugin-aws-elasticsearch-service

cc: @a-robinson @jimmidyson

[2016-02-16 00:43] bprashanth commented on #20949
What I didn't like about the wordpress example the first time I read it (a year ago) was that it hid complexity. The image on dockerhub is writtent to honor certain environment variables (https://hub.docker.com/_/wordpress/), one of which we employ to discover the mysql service. This is not the case for most other images out there.

[2016-02-16 01:31] bprashanth commented on #20096
@dcbw here's what we know:
* This happens when a lot of packets go in and out as namespaces come up/down
* There's always a kernel worker stuck in TASK_UNINTERRUPTIBLE
* This is it's stack:
[code]

For me it's taken from an overnight run to < an hour to repro on various attempts, soak tests run on a cluster week long and hit it pretty often. GCE runs Debian 4.8.4-1 with 3.16.0-4-amd64.

Using the

[2016-02-16 01:36] bgrant0607 commented on #20984
@gmarek

I assume we're talking about this loop:
https://github.com/kubernetes/kubernetes/blob/42e2ff94c15c01686473665d024a4bd1a5bf8916/pkg/controller/node/nodecontroller.go#L515

Yes, that's pretty lame.

No concurrency.

No retries.

No separation of CIDR allocation and node update.

For the update, an alternative could be to Patch with no resourceVersion precondition.

Or fetch just metadata (#

[2016-02-16 01:46] #20476 closed

[2016-02-16 02:02] ArtfulCoder commented on #21271
Check out https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns#a-records

If you have a service called mysql, you will get an A record which will have the service ip.
Simply calling your pod name to be mysql, will not help.
Having said that, we are coming up with a beta feature in v1.2, where you can annotate the pod spec and specify a DNS-resolvable hostname.

[2016-02-16 02:12] Random-Liu opened #21288 "Docker daemon exited unexpectedly during e2e test"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/28687/

In the e2e test, the last three tests failed:
- Kubernetes e2e suite.Downward API volume should update labels on modification [Conformance]
- Kubernetes e2e suite.Services should be able to change the type and ports of a service
- Kubernetes e2e suite.Networking should provide Internet connection for containers

[2016-02-16 02:37] AdoHe commented on #21284
@dcbw We have already discussed this problem, you can refer this #19766 for more detail. Besides what do you think about hairpin mode setting? We temporarily add a flag to control this #20883

[2016-02-16 03:16] #21018 closed

[2016-02-16 03:23] smarterclayton opened #21289 "AsVersionedObjects should not be hardcoded to scheme, and should be multi version aware"
resource.AsVersionedObjects has atrophied.  It probably should just be doing conversions and leaving objects it cannot convert.  It also shouldn't hardcode api.Scheme.

[2016-02-16 04:15] justinsb commented on #21285
There's also a proxy I wrote that can be dropped in instead of the k8s ES service: https://github.com/kopeio/aws-es-proxy

[2016-02-16 04:26] therc commented on #21285
What are pros (beside simplicity) and cons of the proxy? I'll give it a shot in the morning.

[2016-02-16 04:29] justinsb commented on #21285
I'd say the biggest advantage is that it means the whole ES ecosystem works with the AWS ES service, rather than having to patch each reader/writer to speak AWS auth.  The biggest cons are that it isn't really heavily tested and is another piece vs having the clients speak direct to ES.

[2016-02-16 04:43] roberthbailey commented on #20355
/cc me and @cjcullen

[2016-02-16 04:51] madziefe commented on #20476
thanks @yifan-gu and @erictune

[2016-02-16 04:57] saad-ali commented on #15577
Should be fixed by https://github.com/kubernetes/kubernetes/pull/20795

[2016-02-16 04:57] #15577 closed

[2016-02-16 05:54] #20992 closed

[2016-02-16 06:21] mikedanese commented on #20992
You can very easily run both the Uis right now.

[2016-02-16 06:21] piosz commented on #21129
This is still hapening. Assigning Isaac for triage.

[2016-02-16 07:02] davidopp commented on #20673
cc/ @mikedanese

Also, ref/ #7660

[2016-02-16 07:03] davidopp commented on #20673
And I guess cc/ @smarterclayton

[2016-02-16 07:23] wojtek-t commented on #20504
@timothysc sure
Although, it will probably take few weeks before the first one. But sure - I will cc you.

[2016-02-16 07:42] Random-Liu commented on #21288
May be relevant to #20418.

[2016-02-16 07:46] Random-Liu commented on #20923
The failure @madhusudancs linked seems to be another issue. The test failed because the image is never pulled until the e2e test finished.
[code]

May be relevant to #21029.

[2016-02-16 07:51] davidopp commented on #13429
Can you do integration test?

[2016-02-16 07:53] razvip91 commented on #21246
I just did. It gave me an ERR_SSL_PROTOCOL_ERROR

[2016-02-16 07:59] yifan-gu commented on #18841
@yujuhong Yes, this issue is fixed, thanks :)

[2016-02-16 07:59] #18841 closed

[2016-02-16 08:46] bitchecker commented on #21271
as you can see, when i reported the issue, i've tried to resolve A record type: name.namespace_name.svc.cluster.local but i always get:

[code]

[2016-02-16 08:54] gmarek commented on #20673
For the latter, @mwielgus should be able to help you.

For the former: can you ping me on slack if it happens again? I'd like to get some more data.

[2016-02-16 09:07] gmarek commented on #13429
I guess I can, but I'm starting to need more priorities than p1 and occasional p0...

[2016-02-16 09:10] luebken opened #21296 "Scripts in releases have missing dependencies"
Scripts like `cluster\test-e2e.sh` start other scripts / tests in `hack` but this folder is missing in a release. There is a TODO in the script: https://github.com/kubernetes/kubernetes/blob/master/cluster/test-e2e.sh#L18

Why is this important? As a newbie you download an release because you figured this is a tested package. If something is wrong with your cluster and you try to debug these scrip

[2016-02-16 09:49] gmarek commented on #20984
This loop had it's problems forever, but concurrency or retries would only be a treatment not the cure.

Do you think that splitting spec from status will happen in v1.3?

[2016-02-16 09:54] davidopp commented on #13429
This is really p1.5 IMO. We really need something between P1 and P2 (there are 281 open P2 issues, so we need something that means "more important than P2" but not P1...)

[2016-02-16 10:17] gmarek commented on #13429
My point exactly.

[2016-02-16 10:40] davidopp commented on #13429
Oh, I should have mentioned that's 281 open P2 *control-plane* issues. There are more than 1000 open P2 issues total.

[2016-02-16 10:42] davidopp commented on #21169
@erictune  do you think you could take a look at this one?

[2016-02-16 10:52] wojtek-t commented on #21249
Should be fixed in #21262 - I will reopen it in case it's not true.

[2016-02-16 10:52] #21249 closed

[2016-02-16 12:30] AdoHe commented on #21283
I will take a look.

[2016-02-16 12:42] gmarek commented on #13429
I'm missing 'depends on' option... I'd like to fix the eviction logic in NodeController before writing a test.

[2016-02-16 12:46] fgrzadkowski opened #21303 "findmnt doesn't work on all distros"
I can't run any containers with newest `hyperkube:v1.2.0-alpha.7`. I get the following error:

[code]

I'm using docker 1.9.1.

@bryk

[2016-02-16 13:25] MikeSpreitzer commented on #20992
@mikedanese: I do not understand.  https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/ no longer contains `kube-ui`

[2016-02-16 13:26] tobad357 commented on #15365
@rootfs I redid and cleaned up the pull request to a new one today
please see https://github.com/kubernetes/kubernetes/pull/21304

[2016-02-16 13:50] wojtek-t commented on #21254
It seems that the problem is basically this:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/core.go#L41

"kubemark" provider doesn't support SSH.

However, since we are currently running Kubemark only on GCE, maybe we can set provider to GCE and make it work for master components....

[2016-02-16 13:56] tobad357 opened #21305 "iscsi: set node.startup to manual"
I'm not sure if this is desired behaviour or not but currently if the following scenario happens
1. iscsid.conf has node.startup set to automatic (default value)
2. kubelet is running a pod with a mapped iscsi volume
3. The node reboots/crashes etc
4. Kubescheduler reschedules the pod to another node
5. The node comes up again and will try to re open the session to the target that the pod was usin

[2016-02-16 14:01] tobad357 opened #21306 "iscsi: Allow multiple portal ips"
To add proper redundancy to iscsi we would ideally allow for primary and secondary discovery ips. Currently the iscsi volume provider only takes one portal ip which causes issues if that portal goes down.

Suggestion would be to either add a "backup_portal" property or probably better a "portals" property that allows a list of ips. The provider would then go through them one by one and try to logi

[2016-02-16 14:28] wojtek-t commented on #21254
I've managed to do the first thing - will send a PR in few minutes.

[2016-02-16 14:41] sstarcher commented on #11935
@piosz I would be interested in hearing your experience with Kubernetes GCE autoscaler and I may be interested in helping with this feature.

[2016-02-16 14:58] #7103 closed

[2016-02-16 15:00] fgrzadkowski commented on #21303
So the problem is on Ubuntu (on debian for example this works). The problematic code is that `findmnt` for a directory which is not a mount behaves differently for different platforms - on debian it returns `/`, on ubuntu it returns error. We expect debian behavior.

@luxas

[2016-02-16 15:01] sjenning commented on #21246
It is using a self-signed cert.  Do you just need to accept the untrusted cert?  Or is it a different issue?

[2016-02-16 15:02] timothysc commented on #20504
thx.

[2016-02-16 15:30] sjenning commented on #21271
@bitchecker Yes, the FQDN of services, by default, is [svcname].[namespace].svc.cluster.local.  Other pods can resolve service name to their cluster IPs

What is your output for ```kubectl get svc```?

[2016-02-16 15:37] bitchecker commented on #21271
the url is wrong!

the url is ```[svcname].[namespace].svc.[domain of skydns config]``` so, in my case is ```[svcname].default.svc.kube.local```

[2016-02-16 15:40] AdoHe commented on #21284
@dcbw can you provide the type of network interfaces? such as `virbr2` `virbr2-nic`

[2016-02-16 15:44] dcbw commented on #21284
@AdoHe the issue isn't about setting hairpin mode in general, that's fine to do.  The issue is that when the interface to set hairpin mode on isn't available, it sets hairpin mode on *all* interfaces, especially ones it shouldn't, like interfaces that aren't in any way related to kubernetes or docker.

There are any number of reasons why the interface couldn't be found, usually related to docker b

[2016-02-16 15:46] mikedanese commented on #20992
Kube ui was deprecated and no longer developed. We are not going to ship with it by default anymore. You can still run it if you would like.

[2016-02-16 15:49] razvip91 commented on #21246
I think it is a different issue. I doesn't make me accept any certificate. It is an error (the one above) from Chrome.

[2016-02-16 15:49] AdoHe commented on #21284
@dcbw I did understand what you mean, the problem is the fallback mechanism. We are trying to find a better solution. And of course do you have any good idea about this?

[2016-02-16 15:53] sjenning commented on #21271
@bitchecker yes, you manually set the domain,  so s/cluster.local/kube.local/.  i'm not understanding what the issue is.  if a service appears in your ```kubectl get svc``` output, then it should be able to be resolved by short name (FQDN if you really want to) by any pod in the namespace.

[2016-02-16 15:54] fgrzadkowski commented on #21303
It seems it's only broken for older versions of `util-linux` (package with `findmnt`). On Ubuntu 14.04 it broken, on Ubuntu 15.04 it's working.

[2016-02-16 15:55] bitchecker commented on #21271
@sjenning i wasn't able to find services!

now, it seems that all works properly! :smiley:

[2016-02-16 15:55] #21271 closed

[2016-02-16 15:59] stevekuznetsov opened #21311 "Watch/List options timeout type is incompatible with time.Duration"
In the `ListOptions` used for lists and watches on etcd, the `TimeoutSeconds` field is `*int64`. I do not quite understand why it needs to be a _pointer_ to an `int64`, but in either case, this type is entirely incompatible with `time.Duration` and makes it annoying and difficult to create `ListOptions`. If some internal of etcd's watch or list requires the `*int64`, that should ideally be hidden

[2016-02-16 16:07] rideswitch commented on #20475
Any further thoughts on this problem?

[2016-02-16 16:17] wojtek-t opened #21313 "e2e flake: scalability suite timed out"
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4642/consoleFull

It seems to be that there is some problem with gathering resource usage/log sizes or metrics.

[2016-02-16 16:17] sjenning commented on #21246
I can see what you are talking about.  It  would seem that documentation is out of date.

https://github.com/kubernetes/kubernetes/tree/master/www

kube-ui has moved out of the main kubernetes project and if you go to the kube-ui repo

https://github.com/kubernetes/kube-ui

You see:

[2016-02-16 16:18] wojtek-t commented on #21313
@gmarek

[2016-02-16 16:31] razvip91 commented on #21246
That I know. I run the kube-ui server on my localhost and proxied its requests through nginx (for CORS headers addition) to the k8s-api server. This way it works. So, we may call it a success (somehow). Will close the issue. Thanks!

[2016-02-16 16:31] #21246 closed

[2016-02-16 16:39] wojtek-t commented on #20638
Regarding why load.go test is not working correctly on 100-node Kubemark cluster.
I've added a bunch of different traces and it clearly seems like some network issues.

In particular, I've added some traces in json Serializer EncodeToStream method:
https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/serializer/json/json.go#L158

What I did is I changed the end of the function to the f

[2016-02-16 16:41] joshuacox opened #21315 "health checks example"
From a default kubernetes setup on GCE using kube-up.sh.  Using the pod with healthcheck from the walkthrough:

https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/walkthrough/pod-with-http-healthcheck.yaml

[code]

I notice running the 'nginx' without the healthchecks that _status/healthz is not a functioning URI, so I changed the path to:

[code]

and now the liveness probe succ

[2016-02-16 16:42] quinton-hoole commented on #20096
@thockin @bprashanth , regarding "Disabling hairpin ONLY breaks the case of a pod which talks to a service IP and then gets redirected back to itself. "...

I'm struggling to imagine significant numbers of real-world use cases where this would actually be a problem?  (assuming that by "itself" you mean the pod itself, not the host itself). Of course one can concoct artificial cases, but do we know

[2016-02-16 16:46] luxas commented on #21303
Quite funny, came across this this morning when I tried to fix #18227
I have some fixes for #18227, but I hit this issue instead. I'm using Ubuntu 15.10.
Will research some more... This have to be fixed before `v1.2`

[2016-02-16 16:51] amygdala commented on #10352
For examples, we (dev rel) have created a canonical place to put public container images: the `google-samples` project. It probably makes sense to port most of the images over, for those examples we wish to maintain.

[2016-02-16 16:51] thockin commented on #20096
My understanding is that some systems which expect this to work.  I agree
the impact is not so huge (and yet we have open user reports on it not
working for them, so clearly some folks need it).
On Feb 16, 2016 8:43 AM, "Quinton Hoole" <notifications@github.com> wrote:

[2016-02-16 16:56] pweil- opened #21316 "Factory forces os.Args[0] to kubectl"
https://github.com/kubernetes/kubernetes/pull/20035/files#diff-9765b963cad9ecc6ef9416a1f15ded86R478 was introduced that is forcing the `os.Args[0]` to `kubectl` for anything that uses the Factory.  This breaks some of the commands we have in OpenShift, particularly the `rsync` command.

I'm not yet sure what needs to happen with this, perhaps a whitelist or being able to inject the recorder functi

[2016-02-16 17:02] jchauncey opened #21317 "Reference Pod.Spec.NodeName within a manifest"
I need to pipe in the NodeName of a pod as an environment variable at startup of an app. This way I can report the NodeName instead of the container hostname when sending host level metrics to influx.

The downward api looks like a great place to add this type of functionality (would be even better if we could somehow expose all values of the pod in the downward api) but would love to hear if anyo

[2016-02-16 17:11] kargakis commented on #21316
recordCommand should be part of the Command method so we could override it.

[2016-02-16 17:23] liggitt commented on #21316
Also, I would not expect it to mutate the passed in slice

[2016-02-16 17:26] timothysc commented on #20638
@wojtek-t how many sockets do you have open.  When we did our recent tests at 100 we saw a very large number of sockets open.

[2016-02-16 17:34] therc commented on #20962
Does #21319 work for you?

[2016-02-16 17:34] wojtek-t commented on #20638
The mystery thing is that we are running 500-node kubemarks which are better (although everything is just 5x bigger).

[2016-02-16 17:34] therc commented on #20962
Also cc @bprashanth for his Ingress/GlobalStaticIP stuff.

[2016-02-16 17:53] erictune commented on #21169
For the first one, it seems one of the pods never fully started during the 2 minutes before the test timed out.
[code]

We know it got scheduled and started to pull its image:
[code]
but there is no event about creating or starting this container ... all the other 3 have such messages.

[2016-02-16 17:54] erictune commented on #21169
[code]

[2016-02-16 17:55] liggitt commented on #21316
@janetkuo

[2016-02-16 17:57] liggitt commented on #21316
and use `filepath.Base(args[0])` instead of hard-coding "kubectl"

[2016-02-16 18:00] #20394 closed

[2016-02-16 18:02] pwittrock opened #21320 "Fix node e2e issues introduced by isReadOnly"

[2016-02-16 18:02] deads2k commented on #21316
I see no reason to mutate it at all.  This annotation is already non-portable, tied to env vars you executed from, sensitive to cwd, relies on the current state of a disconnected kubeconfig, exposes sensitive arguments to the entire cluster, and only provides a value already available in your command history.

Why would we bother trying to beautify it at all?  In fact, that beautification probably

[2016-02-16 18:03] ihmccreery opened #21321 "Namespaces should delete fast enough (e2e) broken"
See e.g. http://ci-test.k8s.io/kubernetes-e2e-gke-serial/510

Looks like it started failing on the 00:53 run on the 14th.  Assigning to @k8s-oncall to poke at it and revert if possible.

[2016-02-16 18:04] liggitt commented on #21316
that's true

[2016-02-16 18:04] thockin commented on #21317
Downward API is for exactly this
On Feb 16, 2016 9:02 AM, "Jonathan Chauncey" <notifications@github.com>
wrote:

[2016-02-16 18:07] justinsb commented on #21317
AFAICT, there's no way to get the node _name_ though @thockin .  It is possible to get the hostIP, but not the node name.

[2016-02-16 18:08] dchen1107 commented on #21320
@pwittrock logs? link to failed builds? Thanks!

[2016-02-16 18:09] ihmccreery opened #21322 "e2e BeforeSuite flaky in GKE"
Looks like pods aren't getting scheduled:

[code]

See e.g.

- http://test-ci.k8s.io/kubernetes-e2e-gke-serial/537
- http://test-ci.k8s.io/kubernetes-e2e-gke-serial/527
- http://test-ci.k8s.io/kubernetes-e2e-gke-serial/503

[2016-02-16 18:09] spiffxp commented on #21267
I don't like the idea of tacking on node or machine names to pod names.  `kube-controller-manager` and `kube-scheduler` could be running on entirely different machines.  If you need to colocate them, why not just have a `master` pod?

cc @mikedanese curious what this would look like for k8s-on-k8s

[2016-02-16 18:11] erictune commented on #21169
@timstclair seems like you added the "ERROR kubelet_docker_errors" lines to e2e output.  How do I make sense of these lines?  It seems like they are cumulative counts for the whole test, so you cannot tell which errors are from this test case and which are from a previous one.  I guess the test cases are concurrent, so you still can't separate out which test case causes errors?

[2016-02-16 18:13] thockin commented on #21317
Sorry, I read it as pod name.  Node name is intentionally omitted.  I would
rather find or make other solutions for looser node coupling.  We should
start with what you're trying to achieve.
On Feb 16, 2016 10:07 AM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2016-02-16 18:14] ihmccreery commented on #21129
Three times in the last three days, BeforeSuite failed (filed #21322).  Otherwise, just

**Namespaces [Serial] should delete fast enough (90 percent of 100 namespaces in 150 seconds)**

is just totally borked (filed #21321).

@piosz; what prevented you from triaging this yourself?  It'd be good to know so I'm less in the critical path.

[2016-02-16 18:18] ihmccreery commented on #21129
Sorry, I read this wrong.  I was looking at the gke-serial suite.  Triaging now.

[2016-02-16 18:21] lavalamp commented on #21042
How long does it cache that for?

On Fri, Feb 12, 2016 at 2:16 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-02-16 18:23] ihmccreery commented on #21129
It looks like massive failures are correlated extremely strongly with failure of

**Etcd failure [Disruptive] should recover from SIGKILL**

Every time that test passes, everything else (except #21321) passes; every time it fails, the whole suite goes south.

Reassigning to @kubernetes/goog-control-plane for triage.

[2016-02-16 18:25] lavalamp commented on #19048
Nice detective work. Hopefully this won't bite us again. Maybe we should
start logging a message when a client gets throttled for more than 50ms or
something, to make this easier to find if it shows up in other contexts?

On Fri, Feb 12, 2016 at 7:23 AM, Timothy St. Clair <notifications@github.com

[2016-02-16 18:25] liggitt commented on #20508
I think this is higher priority than p2, given the security implications

[2016-02-16 18:26] erictune commented on #21169
Same symptom for other 2 failed tests.  The never-started pod was always on the same minion (e2e-gce-builder-2-0-minion-xobd).

Anyhow, definitely not a problem with job controller.  It starts the pods that it should start, and waits for them.

[2016-02-16 18:29] bprashanth commented on #20096
Talking "within" a service is a useful concept for things like leader election. I've also seen it brought up on slack.

Unless someone objects I'm planning on pushing out https://github.com/kubernetes/kubernetes/pull/21326, which seems to be the easiest way to address this edge case given that we're a week from cutting the 1.2 release branch and the bug takes O(days) to show up in soak testing.

[2016-02-16 18:31] thockin-cc commented on #20096
I think it is the best option.  If a grave issue arises we can switch to a
laundry.
On Feb 16, 2016 10:30 AM, "Prashanth B" <notifications@github.com> wrote:

[2016-02-16 18:32] erictune commented on #21169
Examining the kubelet log [104.197.134.184:22-kubelet.log](https://00e9e64bacb7878cf3e85d17a69684673061418aa77a0dd969-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F21012%2Fkubernetes-pull-build-test-e2e-gce%2F28235%2Fartifacts%2F104.197.134.184:22-kubelet.log?qk=AD5uMEuL1aX7CXjMkdfZCUNLOue8d5jpu9TUfURlDLwqO2ZHdwDiNMqUPIPztiTKao9P2VW3QCK6Li0_Wj7S

[2016-02-16 18:32] jchauncey commented on #21317
I need to report the node name for host level metrics into influx. Right now telegraf uses the os.Hostname which doesnt make much since when you are running in a container.

[2016-02-16 18:32] lavalamp commented on #21114
UGH AGAIN?!????

[2016-02-16 18:33] lavalamp commented on #21114
We should not fix this with bulid tags IMO. We should fix it by never mixing test and production code.

[2016-02-16 18:33] lavalamp commented on #21114
And we should have a test that fails when any of our binaries respond to the testing flags. We can add it to test-cmd.sh...

[2016-02-16 18:35] timothysc commented on #20638
If that's the case then there is likely a lock on a resource.

[2016-02-16 18:35] erictune commented on #21169
Confused as to why times are different between the kubelet and e2e log.  I get that they have different time zones, and so differ by hours, but the minutes should be the same.
I see this in the kubelet log:

[code]

and this in the e2e log:
[code]

[2016-02-16 18:35] lavalamp commented on #21114
Oh, I see. It's just the "httptest" package, not the "testing" package. That's a little better. @mikedanese has the right solution: https://github.com/kubernetes/kubernetes/issues/21114#issuecomment-183141133

[2016-02-16 18:42] lavalamp commented on #21133
I'd recommend looking at the endpoints controller. It watches pods and services and writes endpoints, but it should be easy enough to adapt.

As for getting a client while running in a cluster, take a look here, this should work both in and out of a cluster:

https://github.com/kubernetes/kubernetes/blob/95b265390e530eb137beac4288ba28d63c1142da/pkg/client/unversioned/clientcmd/doc.go#L18

[2016-02-16 18:45] mikedanese commented on #21267
Should running the control-plane in static pods be required by the spec? Should registering the master kubelet be required by the spec? What are the implications of encoding information into names of pods? We should take these into account when making a decision here.

@spiffxp As far as selfhosting, this precludes us from running control-plane components in deployments (which create pods with two

[2016-02-16 18:48] ncdc commented on #21114
We have code in Kube that defines a mock struct in 1 package and uses it in another. That's 1 reason httptest leaks. Similar things are done in packages in our Godeps (mock structs). See https://github.com/kubernetes/kubernetes/issues/21114#issuecomment-183148939 for 1 example.

[2016-02-16 18:51] yujuhong commented on #16943
I have some reservations about bumping the max-pods to 100 because of the some issues mentioned above (e.g., we don't rate-limit batch creation/deletion, and aggressive probing could really stress the node). More importantly, when under stress, the node is likely to encounter unrecoverable docker/kernel issues. I've run into the kernel bug #20096 (which the cluster team has a workaround in progres

[2016-02-16 18:55] wojtek-t commented on #20638
Or some configuration issue....

[2016-02-16 18:56] bprashanth commented on #20955
@justinsb assigning to you till you've had a chance to report back with verification and next steps

[2016-02-16 19:00] lavalamp commented on #21114
Right, that's a big anti-pattern. We should stop doing that immediately.
(Yes, I've been guilty of it in the past...)

On Tue, Feb 16, 2016 at 10:48 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-02-16 19:02] bprashanth commented on #21041
@markturansky do you have a fix in mind? @justinsb as author of the admission controller (https://github.com/kubernetes/kubernetes/commit/900567288b32742c185c3a16a16d7f6e0a126eb1#diff-b6edd207fb2758e686759fd5fe7310ebR81). sounds like dynamic provisioning just doesn't work on GCE currently, and this might be related to the weirdness observed on AWS as well (https://github.com/kubernetes/kubernetes/

[2016-02-16 19:05] markturansky commented on #21041
@bprashanth yes, this bug affects both AWS and GCE.

[2016-02-16 19:07] bprashanth commented on #20984
@alex-mohr @cjcullen do we have an SLO for 1000 node turn up time or is this just a nice to have?
does this leave the 1.2 priority list once we have https://github.com/kubernetes/kubernetes/pull/19117? (asking for cluster team 1.2 triage)

IIUC we haven't fixed the mig problem mentioned in https://github.com/kubernetes/kubernetes/issues/20984#issue-132773837 (kube-up still creates giant migs last

[2016-02-16 19:09] wojtek-t commented on #19048
Yeah - that makes sense. I can add something tomorrow.

[2016-02-16 19:09] erictune commented on #21169
I carefully compared kubelet logs from bad kubelet and a good kubelet.
The good and bad are the same up to this point (from bad one; good is similar)
[code]

After that, there are no more log lines in the bad kubelet log about that pod until 15:23:07.

[2016-02-16 19:12] cjcullen commented on #20984
The 2 PRs to fix this in a targeted way are in. #19117 won't be going in to 1.2. Nothing more is required on this issue for 1.2 (and we can probably close the issue once @alex-mohr runs another test and confirms).

[2016-02-16 19:12] erictune commented on #21169
Okay, the times make sense, actually.
The failing test starts at `07:08:02` in the jenkins log, and then times out at `07:23:04`.
And the pods are created around `15:08` in the kubelet logs, and then there is a remove at `15:23`.

[2016-02-16 19:18] alex-mohr commented on #20984
Just tried creating 1000 nodes again and the route controller kept up this time -- GCE API reported node + route counts lagged each other by around a minute, which seems reasonable given time to create nodes and routes.

[2016-02-16 19:18] alex-mohr commented on #20984
Thanks CJ -- closing this one!

[2016-02-16 19:18] #20984 closed

[2016-02-16 19:28] bshaffer commented on #18640
+1

Thanks for providing such good documentation and support for your suggestions!

[2016-02-16 19:40] therc commented on #21285
The proxy works perhaps a bit too well. 80% of my log files, with minimal services on, are from kube-dns' healthz container.

[2016-02-16 19:40] spxtr commented on #21138
It looks like the pod disk tests are jumping from taking about 4 minutes to over 10 minutes occasionally. It's hard to be sure that those are the cause of failure, because when they hang the other tests take a long time as well.

[code]
@saad-ali have any ideas what could cause this?

[2016-02-16 19:42] luxas commented on #16943
@yujuhong Maybe 60 pods?

[2016-02-16 19:43] spiffxp commented on #21267
Some of the tests make these assumptions today (eg: density) and I don't think they should long term #20919

[2016-02-16 19:45] bprashanth commented on #19497
The Ingress resource now has a tls section

[2016-02-16 19:45] #19497 closed

[2016-02-16 19:47] spxtr commented on #20910
This is flaking about once a day and it may be causing other tests to fail or timeout.

[2016-02-16 19:48] a-robinson commented on #21285
Heh, that's not the proxy's fault :)

I've noticed that as well -- the DNS healthz output dominates the logs from any cluster without much running on it. cc @bprashanth to see whether there's a reasonable way to make it quieter

[2016-02-16 19:53] bprashanth opened #21329 "Write a Service e2e to validate session affinity"
spinoff from https://github.com/kubernetes/kubernetes/issues/10268

[2016-02-16 19:53] bprashanth commented on #10268
I'm closing this for now because Services E2Es have made a lot of progress in the past few months.

The services test checks that we reach all backends, which sort-of validates rr. I don't think we have anything for client affinity, filed: https://github.com/kubernetes/kubernetes/issues/21329

 ReadinessProbes (comments as above)

We have both these in various kubelet tests.

https://github.com/ku

[2016-02-16 19:53] #10268 closed

[2016-02-16 19:53] ihmccreery commented on #21107
You should be able to request quota yourself—I don't know the details of what quota you need.  If you get pushback, feel free to escalate to @alex-mohr

[2016-02-16 19:57] erictune commented on #21169
It seems that the container did exit but kubelet missed the exit.

[2016-02-16 19:57] alex-mohr commented on #21107
There's a fancy "request quota" button on the compute engine quota's page in the console.  Fill it out, get auto-approved if it's a smallish increase, and get approved a day or two later otherwise.

[2016-02-16 19:58] dvohra commented on #19720
Replacing -d with daemon fixed the issue. But is the fix temporary? Is the -d deprecation temporary?Shall the -d option become available in Docker 1.10? In which Docker version would -d become available? Would the daemon option be also available?

[2016-02-16 20:00] cjcullen opened #21330 "AllowUnconditionalUpdate is very frightening"
We provide an option to violate the semantics of our API, and on top of that, it is the default if you don't pass a resourceVersion. This has the ability to do very bad things.

If we want to encourage people to start writing their own controllers on top of kubernetes, we shouldn't make it so easy for them to shoot themselves in the face. Is there a reason this option exists?

[2016-02-16 20:01] markturansky commented on #21041
my suggested fix is leaky but it would be an easy fix.

3 volume plugins create placeholder PVs with "dummy" as the default ID (e.g, pv.Spec.EBS.VolumeID).

Make "dummy" a constant value in pkg/volume (visible from inside and outside of plugins). Change value to "placeholder".

Put the check for volume.PLACEHOLDER in Admission controller.  Skip if needed.

Put comments in both places as to why and

[2016-02-16 20:01] cjcullen commented on #21330
@alex-mohr @lavalamp @bgrant0607

[2016-02-16 20:01] bprashanth commented on #21285
We can just add a -q flag and have the health prober shutup under normal conditions: https://github.com/kubernetes/contrib/blob/master/exec-healthz/exechealthz.go#L42. @therc if you have the time please send a pr? if not I'll get to it in due time.

[2016-02-16 20:04] therc commented on #21285
I was being ironic, sorry. The healthz logs were actually quite helpful in debugging earlier issues, but perhaps they don't belong into ES.

I think I'll have to tweak the loggers' configuration to toss our the healthz checks. As to what I was actually doing: I just created a DaemonSet with the standard fluentd-elasticsearch:1.14 image with its built-in configuration, then brought up the proxy as

[2016-02-16 20:05] timothysc opened #21331 "RFE 1.3 + : Network isolation for the kubernetes control plane"
Currently we don't have hard separation of the control plane for node metrics, and status updates.  Ideally they would exist on their own plane to ensure timely responses and verifying health independent of the load on node.

/cc @kubernetes/sig-node @jeremyeder @kubernetes/rh-networking @kubernetes/rh-cluster-infra

[2016-02-16 20:05] bprashanth commented on #21041
Will this just create a gravity well in the default zone in Ubernetes (which per the original admission controller change, looks at volume labels for scheduling)? @quinton-hoole

[2016-02-16 20:06] therc commented on #21285
I'll see if I can get to implement the flag in the next couple of days during downtime. For now, it's a good load test!

[2016-02-16 20:06] krousey opened #21332 "Pod failed to start and cause parsing error"
[code]

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20351/kubernetes-pull-build-test-e2e-gce/28440/artifacts/

Two issues here: Pod failed to start, and test failed to parse the output.

[2016-02-16 20:07] markturansky commented on #21041
The labels can eventually be put on the volume.  It's just that the volume in question doesn't exist yet.  The PV is a placeholder.  Once the resource is created in the infrastructure, the admission controller would work just fine and provide whatever functionality it was before.

[2016-02-16 20:09] timothysc opened #21333 "RFE 1.3 + : Integration with traditional monitoring systems."
In order to determine node health @ scale we would likely want integration with traditional scale out monitoring systems, e.g. - ganglia or nagios, which is outside of the kubernetes control plane.

/cc @kubernetes/sig-node @jeremyeder @kubernetes/rh-cluster-infra @kubernetes/sig-scalability

[2016-02-16 20:13] bprashanth commented on #21330
I think this matches etcd CAS with prevIndex=0 (i.e that's just a set operation)

[2016-02-16 20:13] Random-Liu commented on #19720
@dvohra `-d` option is deprecated in Docker 1.10, I think it should never be available anymore, :) In the future we could only use `daemon` instead. Kubelet will also replace `-d` with `daemon` soon. #20281

[2016-02-16 20:14] deads2k opened #21334 "`GetFirstPod` infinite loops when pod never appears"
If a pod is never created (think quota rejection), then commands that end up in `GetFirstPod` loop forever waiting for a pod that is never coming.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L534

@kubernetes/kubectl

[2016-02-16 20:15] Random-Liu commented on #21288
Close this issue, because this should be duplicated to #20876.

[2016-02-16 20:23] lavalamp commented on #21330
Yes, it's a set, but that doesn't make it safe. If you read -> change (and delete RV) -> write, you blow away anyone else's intermediate changes instead of getting a conflict.

@smarterclayton may recall why we allow this. I imagine there's some old client we're scared of breaking, or some resource that we want to avoid conflicts on or something.

To make it safer, we could require a header/query

[2016-02-16 20:25] dvohra commented on #19720
"temporary solution" was indicated in the preceding post. What was meant by "temporary solution" or has the solution been updated? Thanks for the clarification.

[2016-02-16 20:30] jtblin commented on #20382
Adding @roberthbailey as well as he's the author of the TODO comment in the interface for this function:

    // returns the address of the calling instance. We should do a rename to
    // make this clearer.

@justinsb as discussed offline, I'd like to get started with that targeting post 1.2 as I believe it will make the code simpler without risks and make ulterior changes in this area of the co

[2016-02-16 20:33] timstclair commented on #21169
Re: "ERROR kubelet_docker_errors" - I'm afraid I just touched that line in a refactoring and don't know much about it

Also, times between the kubelet and e2e logs usually line up, I'm not sure why they don't here.

/cc @yujuhong has been looking into some issues and flakes around image pulling

[2016-02-16 20:37] nikhiljindal commented on #21330
I had added AllowUnconditionalUpdate in https://github.com/kubernetes/kubernetes/pull/10074.
I dont see any issue referred by the PR, but @bgrant0607 pointed in the PR that our documentation was already assuming that we were doing that: https://github.com/kubernetes/kubernetes/pull/10074#issuecomment-114963953

[2016-02-16 20:47] erictune opened #21336 "Kubelet does not notice pod has completed"
## Problem

Pod that should run quickly to completion almost always does, but at least one time, it did not, causing a test flake (#21169).
## Symptoms

We see pod get to the point of pulling its image, according to events on apiserver, but we don't ever see "Created" or "Started" events, until test times out after 15 minutes.  Kubelet logs show ContainerStarted even according to PLEG, and shows v

[2016-02-16 20:48] erictune commented on #21169
Filed 21336 with details for node team to debug kubelet issue.

[2016-02-16 20:48] #21169 closed

[2016-02-16 20:48] jeremyeder commented on #21331
This issue is to request supporting multi-homed network support in Kube, segregation of control-, data-plane and storage traffic.

Right now, flannel and openshift-sdn assume that there is only one network connection on the host, and that each container only needs access to the one network, and can rely on the kernel to route everything else.

That's fine for common traffic, but the special case o

[2016-02-16 20:52] Random-Liu commented on #19720
@dvohra Sorry for the ambiguity. I mean that if you want to try Kubelet with docker 1.10 now, you could only manually and locally change that yourself as a "temporary solution" before #20281 get merged.

[2016-02-16 20:56] timothysc commented on #21331
In the case outlined above, the infra-pods or storage pods would need to pass meta-data to the networking layer to "do the right thing".

[2016-02-16 21:00] #19019 closed

[2016-02-16 21:00] bgrant0607 commented on #21330
At this point, changing this would break API compatibility. There would have to be a better motivation than "this is scary".

I also disagree with the characterization that this "violates the semantics of the API". It's part of the semantics of the API.

IIRC, prior to PR @nikhiljindal cited, the behavior was just broken in this scenario.

One potential use is to circumvent a DoS attack.

In pract

[2016-02-16 21:03] bgrant0607 commented on #21267
Why do we need conforming names? And names of what?

If it's names of pods, that's an anti-pattern in Kubernetes.

[2016-02-16 21:05] bgrant0607 commented on #21267
We absolutely want to self-host the Kubernetes control-plane components.

Additionally, in addition to HA configurations, some people plan to run their own schedulers, others run a different set of "addons", etc.

Component registration and labels sound like better solutions to me, but it's hard to say without understanding the motivation.

[2016-02-16 21:11] yujuhong commented on #21336
This is the timeline:
 1. kubelet receives the pod.
 2. kubelet starts syncing the pod and create a pod infra container 5032a5cb8b8 (pleg reports the container started).
 3. kubelet starts pulling image for pod (in the per-pod goroutine)
 4. test timed out and deleted the pod.
 5. kubelet observed that the pod has been deleted and cleaned up the volumes.
 6. kubelet finally pulled down the image.

[2016-02-16 21:14] cjcullen commented on #21330
(okay, "violates the semantics of the API" may be a little hyperbolic :smiley: )

How would you use this to circumvent a DoS attack? If you built your client to fallback on unconditional update  in times of high load, you may have sidestepped DoS while self-inflicting much worse.

I think there are probably good reasons to have this option if you know what you're doing and you need it (e.g. PATCH

[2016-02-16 21:16] eparis commented on #21331
I feel like kubernetes might not be where we should be solving this (but I don't have an answer where it should be)...

How the node talks to storage is not a kubernetes problem.  It is a node config problem.

Kubernetes also doesn't really do container networking, that's the plugin's problem. It might not be easy to control/split where interpod traffic and node <-> master traffic goes, but it isn

[2016-02-16 21:18] dchen1107 commented on #21000
Known issues with docker 1.9.1:
https://github.com/kubernetes/kubernetes/issues/16110#issuecomment-164523276

[2016-02-16 21:18] yujuhong commented on #21288
Let's reopen this. I think docker may become very slow sometimes in the test, causing this issue to happen. However, the node can recover from this eventually. We should evaluate whether we need to increase the timeout for health check or perform multiple health check in a row.

[2016-02-16 21:21] mikedanese opened #21338 "pkg/api/deep_copy_generated.go doesn't seem to be getting generated"
This seems wrong:

[code]

cc @caesarxuchao @kubernetes/goog-csi @davidopp

[2016-02-16 21:22] bprashanth commented on #20670
Did this ever work? If we didn't set dns policy for fluentd I think it would always default to cluster first. Fluentd can't see the DNS service ip because kube-proxy isn't running on the master. The apiserver is running with host-networking so it gets the resolv.conf of the node. `10.240.0.1` is the gateway ip of the network.

If this is what's going on the easiest fix is probably to salt a differ

[2016-02-16 21:24] timothysc commented on #21127
/cc @kubernetes/sig-scalability

[2016-02-16 21:28] timothysc commented on #20822
I'm actually not a fan of artificially capping this.  It's fine that google want to put their SLO stamp at a level, but I wouldn't artificially knee-cap others.

/cc @kubernetes/sig-scalability

[2016-02-16 21:28] a-robinson commented on #20670
Thanks @bprashanth!

It works in 1.1 and older versions, I don't know when it broke after that. If I understand you correctly, we just need the fluentd manifest to use the `Default` DNS policy rather than `ClusterFirst`? If that's the case, I'm curious why the other master pods like kube-apiserver didn't have problems with DNS resolution.

[2016-02-16 21:29] dchen1107 commented on #15803
Ok, I will punt this one to next release, and make sure e2e config and default config are the same.

[2016-02-16 21:31] bprashanth commented on #20670
I'm guessing it's because they're running with host networking (net=host) so they're just pulling the resolv.conf from there. This could be a secondary bug, @ArtfulCoder might know off the top of his head how net=host and DNSPolicy play.

[2016-02-16 21:31] timothysc commented on #17774
@gmarek can't we close this now?

[2016-02-16 21:34] timothysc commented on #15683
I believe we've added jitter on most things now, move to close.

[2016-02-16 21:38] #7572 closed

[2016-02-16 21:39] bprashanth commented on #16293
I tried this and the only thing that bit me was IP is now lowercase, this appears to be fixed in HEAD: https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/services.md#services-without-selectors. Please re-open if the issue persists.

[2016-02-16 21:39] #16293 closed

[2016-02-16 21:40] timothysc commented on #6770
@lavalamp @wojtek-t still an issue or is this another issue around the rate limited watches?

[2016-02-16 21:43] lavalamp commented on #6770
@timothysc I don't think anyone has investigated my questions above. https://github.com/kubernetes/kubernetes/issues/6770#issuecomment-161816109

[2016-02-16 21:44] huggsboson commented on #21007
I've got a fewer higher priority items than this at the moment.  When the time comes to rotate the secrets I'll try to put one together.  If someone gets to this ahead of me, feel free to pick it up.

[2016-02-16 21:46] timothysc commented on #3127
/cc @jayunit100 backlog.. There are a bunch of hodge things all over, we should really aim to consolidate around a single canonical test.

[2016-02-16 21:47] bprashanth commented on #1319
This is probably not making 1.2, we should continue discussion of what's in scope for 1.3 on https://github.com/kubernetes/kubernetes/issues/19033

[2016-02-16 21:47] timothysc commented on #6770
/cc @kubernetes/sig-scalability

[2016-02-16 21:49] gmarek commented on #21267
Conforming labels for various components SG. Can we decide on them? `kube-component: api-server` etc?

[2016-02-16 21:49] davidwalter0 commented on #18130
GKE: using the same recipe as above and removing the schema [/tmp/kubectl.schema directory] fails with the active version: 1.1.7

Should daemonsets work?

`kubectl create -f sample.yaml`
`error validating "sample.yaml": error validating data: couldn't find type: v1beta1.DaemonSet; if you choose to ignore these errors, turn validation off with --validate=false`

`kubectl create -f sample.yaml --val

[2016-02-16 21:51] #17774 closed

[2016-02-16 21:52] bprashanth commented on #9107
So we have a DNS test, but it isn't part of [conformance]. Can we just add it to conformance, modify whatever docs and close this issue (asking for 1.2 triage)? any volunteers?

[2016-02-16 22:01] janetkuo commented on #21245
Investigating it now. This can be reproduced by running
[code]

It didn't always generate the failure. When the failure happened, it came from resource builder in kubectl delete https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/delete.go#L111-L119

cc @kubernetes/kubectl @kargakis @ironcladlou @mqliang

[2016-02-16 22:04] mikedanese commented on #21267
I like e.g.:
[code]
Which is what I've been using in self hosting configs [here](https://github.com/mikedanese/k8s-on-k8s/blob/master/apps/controller-manager.deployment.json#L21-L22). I've been using tier: node for kubelet, kube-proxy, fluentd. It should be understood by tests that a query that matches these labels is not guaranteed to match only a single pod. It could match zero or many.

[2016-02-16 22:16] gopinatht commented on #18227
@luxas @fgrzadkowski I am also willing to help with this as well to get it into 1.2. I can test or make changes and submit a PR. I might need some hand holding though for changes and PR as I have never done it before for Kubernetes.

[2016-02-16 22:30] vishh opened #21339 "Track kubelet metrics using GCM for long term tracking"
As of now we have a [kubelet_stats](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_stats.go) e2e that collects kubelet stats and dumps them to logs. Tracking resource usage in a long term storage will help us track resource overhead for kubelet over time and detect abnormal increase.

One means to store metrics is to use GCM [custom metrics](https://cloud.google.com/monitori

[2016-02-16 22:31] dvohra commented on #19720
Thanks for the clarification.

[2016-02-16 22:35] janetkuo commented on #21245
Update: It didn't always generate errors; when this happened, the error came from https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/delete.go#L175

[2016-02-16 22:44] janetkuo commented on #21245
The conflict happens because when we stop the deployment, we first update it: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/stop.go#L378. cc @soltysh #18077

[2016-02-16 23:06] yujuhong opened #21344 "kubelet and docker-daemon running in /system cgroup in a GCE e2e cluster"
In a cluster built this morning.
[code]

[code]

/cc @vishh @kubernetes/goog-node

[2016-02-16 23:13] erictune commented on #2210
The `collection-uid` label that I'm adding to Job is similar to `controllerRef`.  (See [selector-generation.md](https://github.com/kubernetes/kubernetes/tree/docs/design/selector-generation.md) ).
The question is whether it is similar enough to use instead of controller-ref?  Or if we want both?

Options:
- *just controllerRef*:  disadvantage of this approach is that:
  - users have to understand

[2016-02-16 23:18] yujuhong commented on #21336
Currently, kubelet doesn't have the ability to cancel a in-progress sync (by a per-pod goroutine) until the sync ends. This is tied with the fact that we have a huge `SyncPod` function which does millions of things in one sync.

[2016-02-16 23:23] dchen1107 commented on #16943
@yujuhong Here is my counter argument on https://github.com/kubernetes/kubernetes/issues/16943#issuecomment-184825411

* The issue of batch creation/deletion, kernel bug #20096 are more related to churn, not number here. For batch creation / deletion, we could add rate-limit in our system, instead of capping pods by number.
* The issue of aggressive probing could happen with small max_pods but man

[2016-02-16 23:27] a-robinson commented on #21275
cc @brendandburns

[2016-02-16 23:29] ArtfulCoder commented on #20670
with net=host, dnspolicy will be default.
For fluentd on master, if it does not need net=host, i would not use net=host, but still specify dns policy to be Default

[2016-02-16 23:32] a-robinson commented on #21239
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-16 23:32] #21239 closed

[2016-02-16 23:33] smarterclayton commented on #21334
I have a set of patches to add a utility "wait for pod X over watch" that is like wait.Poll (thus, bounded).  I don't think we'll get to that in 1.3 but I want to refactor everything to stop doing their own things and use that.

[2016-02-16 23:34] smarterclayton commented on #21330
I agree with Dan, that the affordance should be there to make sure this is
exactly what you want (a special resource version, rather than the absence
of one).  We should put that on the V2 list.

On Tue, Feb 16, 2016 at 4:15 PM, CJ Cullen <notifications@github.com> wrote:

[2016-02-16 23:36] a-robinson commented on #21215
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-16 23:36] a-robinson commented on #21215
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-16 23:36] #21215 closed

[2016-02-16 23:40] a-robinson commented on #21135
What @sjenning said -- this is by design.

If you'd like to request a feature along these lines, some extra explanation of what you'd like and what the use cases are would be very helpful, otherwise questions on how to best use Kubernetes are best answered by our [user guide](http://kubernetes.io/v1.0/) or by asking them on [StackOverflow](http://stackoverflow.com/questions/tagged/kubernetes).

[2016-02-16 23:40] #21135 closed

[2016-02-16 23:42] a-robinson commented on #20670
Setting dnsPolicy=Default does not resolve the problem - the fluentd pod on the master still has this paltry resolv.conf file:
[code]

[2016-02-16 23:45] a-robinson commented on #20980
Hi @veryhumble, thanks for bringing this up! To be honest, I don't know whether the vsphere configuration gets much usage (or love), so if you think you have a fix, we'd love if you could send a pull request!

cc @imkin, who last touched the vsphere getting started stuff.

[2016-02-16 23:46] bprashanth commented on #20670
This worked before because we'd list additional nameservers right there in the resolv.conf and just take ClusterFirst to mean, put 10.0.0.10 *first*. Now we take it to mean, *only* have 10.0.0.10 and put other nameservers in the resolv.conf of kube-dns. So I'm gessing before it just timed out on kube-dns but worked on one of the others.

[2016-02-16 23:51] a-robinson commented on #21065
Those yaml configs aren't mean to be used directly, only via salt when the cluster is created. If you really want to create heapster yourself, just remove the templating from the top of the file and replace the heapster_memory template expansion in the body of the yaml object with a reasonable value based on how big your cluster is.

[2016-02-16 23:51] #21065 closed

[2016-02-16 23:54] bgrant0607 commented on #20588
@zmerlynn Why isn't this a dupe of #20587?

[2016-02-16 23:54] vishh commented on #21344
Wonder this [this salt config](
https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kubelet/default#L110)
is not taking effect.

On Tue, Feb 16, 2016 at 3:07 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-02-16 23:54] a-robinson commented on #21315
@janetkuo - as the last person to touch it, have an idea what @joshuacox might be running into while going through the pod-with-http-healthcheck example?

[2016-02-16 23:54] bgrant0607 commented on #20588
This is a dupe of #18866

[2016-02-16 23:54] #20588 closed

[2016-02-16 23:55] saad-ali commented on #21138
@spxtr For the test run that you posted the log for ([link](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/11655/consoleFull)), it looks like lots of tests failed along with PD tests, the PD tests were not the first to fail, and each of the tests that failed has the error `All nodes should be ready after test, Not ready nodes`. So, my bet is those failures are du

[2016-02-16 23:55] bgrant0607 commented on #20587
Ref #18866 and #4855

[2016-02-16 23:56] ArtfulCoder commented on #20670
ok, I will start up my own GCE cluster at head to see what you are experiencing.

[2016-02-16 23:57] nikhiljindal opened #21353 "kubectl: provide a way to delete cached swagger schema"
A very common issue people report on slack channel is that kubectl does not work with alpha resources (deployment and daemonsets) even after they have enabled the resources on master.
The reason is that kubectl has a cache of swagger spec, which needs to be deleted.

Right now users have to manually delete the cached spec from `~/.kube/schema/`.

We need to provide a better way to fix that.

Some

[2016-02-16 23:57] bgrant0607 commented on #20587
My view is that this is a bug (#3955), though not one that's likely to be fixed soon.

[2016-02-16 23:58] lavalamp commented on #6770
I mean, I definitely do not believe this is a current issue. But it may be
worth a double check, which is why I've left the issue open.

On Tue, Feb 16, 2016 at 1:48 PM, Timothy St. Clair <notifications@github.com

[2016-02-17 00:02] nikhiljindal commented on #19515
Filed https://github.com/kubernetes/kubernetes/issues/21353 to provide a better way to delete cached swagger spec in kubectl

[2016-02-17 00:05] bgrant0607 commented on #14961
@mml

I believe you're talking about Kubernetes releases, not application deployments.

We have pretty naive handling of cluster upgrades and version skew at the moment. For instance, we don't have good version-skewed testing at the moment: #16040. There are known version-skew problems: #18866, #20587. The policy is that one minor version should work, but round-tripping in kubectl (#3955) makes th

[2016-02-17 00:07] yujuhong commented on #21344
Where does `kubelet_container` and `runtime_container` get used?

[2016-02-17 00:10] vishh commented on #21344
Thats the bug :( Posted a fix.

On Tue, Feb 16, 2016 at 4:07 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-02-17 00:21] yujuhong commented on #16943
In short, I discussed with @dchen1107 offline and we agreed that we'll update the max-pods to 100 pods and monitor our jenkins builds to see how stable node/kubelet/docker is.

Yes, high number of concurrent docker requests is the key. For the reference, there is an old issue for throttling container startup #3312, which did not receive much love. Perhaps it's time to re-evaluate. We *probably* wo

[2016-02-17 00:25] bprashanth commented on #20100
@piosz I assume your test is still on track for surfacing issues in the 1.2 timeframe (asking for cluster team triage)?

[2016-02-17 00:33] a-robinson opened #21359 "Timeout waiting for all HollowNodes to become Running in kubemark-gce test"
There isn't much detail in the logs... Perhaps the first step is to add more logging?
https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-gce/5748/

The relevant bit seems to be:
[code]

[2016-02-17 00:35] a-robinson commented on #20987
This flaked again today:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/734/

[2016-02-17 00:37] janetkuo commented on #21042
#21353

[2016-02-17 00:45] bgrant0607 commented on #2210
@erictune I was envisioning both in my proposal on #14961.

controllerRef will work with manual selectors, which is another disadvantage of selector generation only.

I view controllerRef as an implementation detail. Users won't set it themselves. I wouldn't mention it in our introductory user documentation.

Currently users do have to put labels into pod templates, but they don't have to write se

[2016-02-17 00:59] yujuhong commented on #21339
There is also prometheus metrics #15554

We need to have a performance dashboard. Let's discuss whether we should prioritize the work for v1.3.

[2016-02-17 01:00] bgrant0607 commented on #2210
Also, if we encourage auto selectors for ReplicaSet, Deployment, etc. then I imagine it will become common to add a "service: myservicename" label to pods for matching their services' selectors. It's not my favorite pattern, would be sufficient for a number of use cases.

[2016-02-17 01:07] ArtfulCoder commented on #20670
sending a pr out.

[2016-02-17 01:20] vishh commented on #21339
Possibly. Can we have prometheus scrape from multiple ephemeral kubernetes
clusters? Push model seems to be more appealing in this use case though.

On Tue, Feb 16, 2016 at 4:59 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-02-17 01:53] bprashanth commented on #13511
I'm punting this to 1.3, if you disagree of have a fix in flight, please report back

[2016-02-17 01:57] a-robinson opened #21367 "e2e flake: failed to observe pod deletion - should be submitted and removed [Conformance]"
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/11727/
[code]

[2016-02-17 01:58] ixdy commented on #20916
Both http://ci-test.k8s.io/kubernetes-e2e-gce/11665 and http://ci-test.k8s.io/kubernetes-e2e-gce/11566 recently filed to start the cluster.

[2016-02-17 02:02] bprashanth commented on #14082
The node team recently revved to 1.9, but I'm punting this to next-release given that we're all currently working on things

[2016-02-17 02:04] bprashanth commented on #15632
https://github.com/kubernetes/kubernetes/pull/14537 merged, punting all other cleanup to next-release

[2016-02-17 02:10] bprashanth commented on #20987
Last failure was because we didn't pull the image:
[code]

But kube-dns is reporting ready. Similar symptoms reported on https://github.com/kubernetes/kubernetes/issues/21029

[2016-02-17 02:15] ixdy commented on #18281
Looks like this test is now explicitly flaking by failing, as I expected.

[2016-02-17 02:40] bgrant0607 commented on #15193
We should specify which release of Kubernetes is required and any other prerequisites, such as DNS, a cloudprovider with PV provisioning, a cloudprovider with external load balancers, etc. My current preference would be to point to general documentation about alternatives for those mechanisms rather than present the alternatives in each example.

[2016-02-17 02:43] bprashanth commented on #20910
The failure in https://github.com/kubernetes/kubernetes/issues/20910#issuecomment-182988954 is because docker is in a crashloop. The node in question is 146.148.73.148.

The test started testing for udp non-reachability after flipping the nodport to "" from 30988, at 9:55:
[code]

The last mention in kube-proxy logs of 30988 is (12h offset):
[code]
After which evertything is silent (https://panthe

[2016-02-17 02:53] bprashanth commented on #20550
This is actually flaking other tests https://github.com/kubernetes/kubernetes/issues/20987#issuecomment-184976566.

From the logs:
[code]

10.240.0.1 is the address of the network gateway, i.e it's the nameserver on the node. I think this means we just can't lookup gcr.io on a gce vm.

[2016-02-17 02:56] timstclair commented on #21114
@lavalamp can you clarify what the prefered pattern is in that case? Possible solutions I see are

1. don't reuse mocks across code - leads to code duplication :(
2. move all shared mocks to a testing package - leads to circular dependency issues
    - the go standard library seems to get around this by using *_test packages for all tests, and adding an [export_test](https://golang.org/src/net/htt

[2016-02-17 03:13] mikedanese commented on #21045
This was closed 5 days ago but appears to not be fixed. Many PRs have referenced it as a flake since the fix went in.

[2016-02-17 03:14] smarterclayton commented on #21367
Did we just merge node controller changes?

[2016-02-17 03:15] smarterclayton commented on #21367
Or is this the flake with graceful deletion and the node race condition?

[2016-02-17 03:46] tingzhang commented on #20689
any comments yet?

[2016-02-17 04:00] bgrant0607 commented on #21316
As @janetkuo mentioned here: https://github.com/kubernetes/kubernetes/pull/21318#issuecomment-184921702
the command isn't intended to be reproducible. It's a mnemonic.

[2016-02-17 04:11] bgrant0607 commented on #16326
There's also:
https://github.com/kubernetes/contrib/tree/master/logging

and #14170

We've had some people request instructions for setting up other third-party solutions, also, such as sysdig, datadog, and newrelic.

https://github.com/kubernetes/kubernetes/tree/master/examples/newrelic

It would be useful to put this all into one guide or set of guides.

[2016-02-17 04:12] bgrant0607 commented on #16326
Sorry, those are monitoring solutions, but the same comment holds for logstash, etc.

[2016-02-17 04:33] AdoHe commented on #21353
@nikhiljindal I will take a look into this.

[2016-02-17 04:48] Hui-Zhi commented on #19049
Sorry for the late reply, just came back from Chinese Spring Festival, have write the rough design doc at https://github.com/Hui-Zhi/kubernetes/blob/a56c9051df010390a1da7d7032fdf983eae715f3/docs/design/devices.md, would you mind let me know how to send a PR to add this doc? I can't find the email address and can't commit a change. Thanks in advance. @erictune   @davidopp

[2016-02-17 04:49] Hui-Zhi commented on #19049
Also, do you think add more details to this doc is appropriate? If so, I would like to do it.

[2016-02-17 04:58] davidopp commented on #19049
I'd like to see us do this using the "opaque integer resource" approach I described earlier in this issue ( https://github.com/kubernetes/kubernetes/issues/19049#issuecomment-170292193 ) if at all possible. If we decide that GPUs are too weird/unique to fit into the "opaque integer resource" model then I'm totally fine with doing it as a special snowflake, but I'd like us to at least explore wheth

[2016-02-17 04:59] krmayankk commented on #14519
We are more interested in automatic rollbacks. Is this on the roadmap at all ? I started deploying and the deployment is not at all progressing, should it just simply rollback automatically  to the last known good version rather than just allow manual intervention  or may be there is a policy needed where user selects he wants manual vs automatic. thoughts ?

[2016-02-17 05:30] harai commented on #13585
+1

[2016-02-17 05:43] thockin commented on #21114
Don't export mocks from the shared pkg, define JUST the interfaces you need
in the consumer of the shared pkg and mock it there.

It's a little clunky because go doesn't really have (at least as far as I
have seen_ the facilities for mock scripts the same way that we're used to
in C++, but I have not tried very hard.

Concretely, in C++ it is typical to have a lib expose a base-class, a
concrete c

[2016-02-17 05:49] davidopp commented on #21244
@pmorie can you take a look at this?

[2016-02-17 05:51] davidopp commented on #21367
cc/ @gmarek

[2016-02-17 05:59] davidopp commented on #19049
(Oh, and I should say, I stole the idea from @erictune, who suggested the same general idea here https://github.com/kubernetes/kubernetes/issues/19049#issuecomment-168898400 )

[2016-02-17 06:00] bgrant0607 commented on #20941
I just noticed another inconsistency: job, ingress, daemonset don't have AGE columns.

[2016-02-17 06:04] Hui-Zhi commented on #19049
Ok, I'll change it as you suggested, do you think I need to add more details about the implement? @davidopp

[2016-02-17 06:08] thockin commented on #9107
There are at LEAST docs to update and getting-started guides to audit.

On Tue, Feb 16, 2016 at 1:53 PM, Prashanth B <notifications@github.com>
wrote:

[2016-02-17 06:12] pwais commented on #19033
1. Please don't tie the private registry to an external service like GCS or S3.  Optional support for those is nice, tho.
2. It would be nice if k8s came with the pieces necessary to build and distribute Docker images inside the cluster (and *only* inside the cluster-- hence a private registry).  If that's either included in k8s as an add-on, or as a polished and maintained piece in `/examples`, I

[2016-02-17 06:12] AdoHe commented on #20941
@bgrant0607 I will add this after these two PRs(#21369, #21295 ) get merged.

[2016-02-17 07:07] wojtek-t commented on #6770
I agree with @lavalamp - we need to check it and probably add some integration test for it.
However, I'm decreasing the priority to P2 since ti doesn't seem to be a problem now.

[2016-02-17 07:12] wojtek-t commented on #21045
@mikedanese @caesarxuchao - I referenced to it 2 after it was closed, but all of those failures were from runs before this was merged. So it's possible that it's already fixed.

[2016-02-17 07:19] mikedanese commented on #21045
When was the fix merged? I saw this a couple hours ago: https://github.com/kubernetes/kubernetes/pull/20882#issuecomment-185004106

[2016-02-17 07:19] wojtek-t commented on #21127
Just based on my experience, it shouldn't be more than single-digit seconds for 1000-node clusters.

[2016-02-17 07:20] mikedanese commented on #21045
Oops, same test but the error is slightly different... Maybe this is a seperate flake

[2016-02-17 07:21] wojtek-t commented on #21338
@mikedanese - this is WAI

Basically, we are moving towards new deep-copy generator, which is currently only generating pkg/api/deep_copy_generated.go file.

See:
https://github.com/kubernetes/kubernetes/blob/master/hack/after-build/run-codegen.sh#L37

I'm going to migrate the remaining ones after finished with 1.2 stuff I have on my plate, because there is still some generalization work that must

[2016-02-17 07:21] #21338 closed

[2016-02-17 07:22] wojtek-t commented on #21045
Yeah - it seems to be something different.

[2016-02-17 07:23] a-robinson commented on #21367
@smarterclayton - the only remotely suspicious thing that went into the node controller recently was #21172 going in this morning. This test has only failed the one time in the last couple days.

[2016-02-17 07:23] wojtek-t commented on #21045
Also - I'm not claiming it's definitely fixed - I just said that we need to double check, because the two that I linked was from before merge.

[2016-02-17 07:25] a-robinson commented on #21244
This has continued popping up today:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1190/

[2016-02-17 07:26] a-robinson commented on #21322
This has been flaking quite often today, P0 is very appropriate.

[2016-02-17 07:31] mqliang commented on #21127
@wojtek-t There is a bug in `Informer`, we should investigate waiting time with this PR https://github.com/kubernetes/kubernetes/pull/20269

[2016-02-17 07:33] wojtek-t commented on #21127
@mqliang what bug in Informer? What problems do you observe?

[2016-02-17 07:34] mqliang commented on #21127
@wojtek-t See https://github.com/kubernetes/kubernetes/issues/20259, I have fixed it in https://github.com/kubernetes/kubernetes/pull/20269

[2016-02-17 07:46] fgrzadkowski commented on #21303
@luxas Can you post output of the following command: `findmnt --target <some_directory_which_is_not_a_mounpoint>`? I believe that if this returns `/` and exit status is 0 we should be ok.

[2016-02-17 07:47] mqliang commented on #21127
@wojtek-t So, with the bug of informer, ControllerManager will start to work early(before `PodStore` has been synced). ControllerManager may will wait a longer time with the bug fixed. We should investigate how many time ControllerManager must wait.

If it the wait time is longer than 10 minutes in 1000-node clusters(about 1000 namespace, each has 10 rcs with 10 replica counts, so ~100000 pods in

[2016-02-17 07:52] bgrant0607 commented on #4926
Jenkins: https://github.com/GoogleCloudPlatform/continuous-deployment-on-kubernetes

[2016-02-17 08:00] wojtek-t commented on #21127
So it's not a bug in Informer - it's just incorrect usage of it.

As I wrote - it definitely shouldn't take 10 minutes - it should take seconds. And note that we are officially not supporting more than 30.000 pods in a cluster.

[2016-02-17 08:03] mqliang commented on #21127
IIRC, we want to support 1000 nodes, 100+ pods/node, so at most 100.000 pods in total, right?

[2016-02-17 08:07] wojtek-t commented on #21127
No - we support 1000 nodes, but not all of the conditions for large clusters yet. See:
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/cluster-large.md#support
for more details.

[2016-02-17 08:25] wojtek-t commented on #21313
There was another failure like that with additional logs:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4652/consoleFull

It seems that @gmarek knows what is happening.

[2016-02-17 08:25] roberthbailey commented on #21322
Is this *only* flaky in GKE or is it also flaky in GCE?

[2016-02-17 08:39] fgrzadkowski commented on #21060
+1 We should fix this.

@mwielgus Can you fix this? This shouldn't be too hard.

[2016-02-17 08:47] wojtek-t commented on #20638
It seems that I understand it. Basically the problem is that we are running the kubemark cluster far from Jenkins master (or my local machine when I'm doing it manually). I will just change the location where we are running it.

[2016-02-17 08:54] fgrzadkowski commented on #20715
I agree we should use `v1` and `stable` tags. Using `alpha` or `beta` sounds good to me.

[2016-02-17 08:56] wojtek-t commented on #21107
So far created the new project:
https://pantheon.corp.google.com/compute/quotas?project=google.com:k8s-jenkins-scalability

I will request more quota today.

[2016-02-17 08:59] mwielgus commented on #21060
Filip, since yesterday you are reviewing the PR that fixes it :)
See entry just above your comment:
"Handle scenarios when replica count is outside of HPA's replica range #21149"

[2016-02-17 09:27] GavinYYY commented on #12167
I solved the problem，just executing   iptables -F.

[2016-02-17 09:44] wojtek-t commented on #21107
I've just sent out request for more quota.

[2016-02-17 09:47] wernight commented on #20835
This is a real issue for smaller website or people have many website especially given the GKE 5 disks limit on shared machines, and 16 limit on standard machines.

Most website currently require 2 disks due to Kubernetes and ggg limitations:
 - Django websites require one for the DB and one for uploaded media files
 - [Dockerized GitLab](http://doc.gitlab.com/omnibus/docker/) requires 3

This mean

[2016-02-17 10:24] gmarek commented on #21313
Fix is merged. We need to monitor if it happens again.

[2016-02-17 10:34] gmarek commented on #21267
I'm all for it (well - I'm all for anything, as long as we can decide quickly on it). Can we have a decision that we're going with what @mikedanese proposed and describe the labeling schema in some doc somewhere? @bgrant0607

[2016-02-17 10:34] fgrzadkowski commented on #21060
Ooops :)

[2016-02-17 10:40] gmarek opened #21374 "e2e flake: gce serial is broken"
It was always mostly broken, but recently it's always broken, so I guess it's a regression. It seems that there's something wrong with service account after reboot test.

cc @kubernetes/goog-control-plane (I guess...)

[code]

[2016-02-17 10:43] gmarek commented on #21322
It's only flaky in GKE. It happens roughly in half of the runs and is main reason for merge queue blockages. I'd made it P-1 if there was something like this...

If it persists for another day I'd consider removing GKE from blockers until it's fixed.

[2016-02-17 10:50] gmarek commented on #16943
@yujuhong - we're continuously running only 30 pods/node density tests. You can run density test by hand with 100 pods/node saturation (`--ginkgo.focus='starting 100 pods`). Can you run it on a 100 node cluster to make sure we're meeting our SLO?

cc @wojtek-t

[2016-02-17 10:53] kargakis commented on #14519
Automatic rollbacks in case of no progress is definitely something we want.

[2016-02-17 11:15] luebken commented on #8800
Seems this can be closed in favour of https://github.com/kubernetes/kubernetes/issues/11492

[2016-02-17 11:29] #21344 closed

[2016-02-17 11:35] jeremyeder commented on #21333
via what...snmp? You want a kubernetes mib? Incidentally I think that would be freaking awesome.

[2016-02-17 11:36] likku3 opened #21376 "unable to join nodes to cluster"
Hi,
I am unable to join the nodes to my cluster.I have created kubernetes cluster master and node in my AWS environment using terraform tool.I am able to create the Master(Kube-master) and single node(Kube-node) but my other two nodes (kude-node1 and kube-node2) were unable to join in cluster.

core@master ~ $ ./kubectl get no
NAME        LABELS                             STATUS
10.0.0.31   kuber

[2016-02-17 13:00] #21252 closed

[2016-02-17 13:13] luxas commented on #13742
OK, let's add a release note about that then and maybe a doc...
(I take it as `v1.7.1` is probably possible to use, but not officially supported)

[2016-02-17 13:36] gmarek opened #21380 "unit flake: Cloning into '/go/src/github.com/jstemmer/go-junit-report'..."
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21264/kubernetes-pull-test-unit-integration/14730/build-log.txt

[code]

cc @kubernetes/goog-testing

[2016-02-17 13:46] tobad357 opened #21381 "Add pod ip address to -o wide"
Currently if testing pods or wanting to connect directly you have to run something similar to
kubectl get -o template pod/web-pod-13je7 --template={{.status. podIP}} --api-version=v1

My suggestion would be to add podIP to -o wide as currently the only added field for -o wide on pods is the node they are on. This would also allow easy access from command line to get all ips for all pods if needed.

[2016-02-17 14:09] wojtek-t commented on #20638
Yup - I've move Kubemark closer to Jenkins master and now it works ok.

So to summarize:
- we have working load.go test on 100- and 500-node Kubemark
- the remaining thing is to figure our failure on 1000-node Kubemark

Fortunately, now we will have logs from master components thanks to #21307 so it should be easier on the next failure. I will start looking deeply into it tomorrow (when we have lo

[2016-02-17 14:24] justinsb opened #21382 "AWS: Make sure we still run `apt-get dist-upgrade` on boot"
This means that we won't rely on our image (AMI) having all the latest security enhancements.  Building a new image is an optimization to prevent reboots etc.

We should install some form of safety valve just in case Debian/Ubuntu publishes a bad package.

cc @zmerlynn @brendandburns

[2016-02-17 14:31] justinsb commented on #21382
See comments in https://github.com/kubernetes/kubernetes/pull/21226#issuecomment-185229449 for background.

[2016-02-17 14:35] henryon commented on #10522
@derekwaynecarr  I used released version 1.1.7.

btw, I tried several times. even at the last step failed. I can run ./cluster/kubectl.sh get pods/services etcs.

seems during verify stage. it will search local kubectl files? I am not sure. as on my Mac , there have some mismatch version kubectl file.

[2016-02-17 14:45] #21150 closed

[2016-02-17 14:50] bgrant0607 commented on #21267
@gmarek @mikedanese's proposal SGTM

[2016-02-17 14:54] bgrant0607 commented on #21267
Note that addons already have labels:
[code]

`kubectl cluster-info` selects based on `kubernetes.io/cluster-service`.

I believe only e2e tests use `k8s-app`, but I could be wrong.

[2016-02-17 14:55] bgrant0607 commented on #21267
Also, because label selectors are scoped by namespace, we don't really need the `kubernetes.io` prefixes on the label keys.

[2016-02-17 14:56] bgrant0607 commented on #21267
@gmarek What do you plan to use the labels for?

[2016-02-17 15:01] justinsb opened #21384 "AWS: Rewrite format-disks.sh"
We should replace format-disks.sh in 1.3; we could fix a whole bunch of issues.  Per comment at  https://github.com/kubernetes/kubernetes/pull/21164#issuecomment-185241698:

[2016-02-17 15:02] tvalasek opened #21385 "kubectl create -f ./quota.json invalid character '}' looking for beginning of object key string"
I'm following step by step tutorial on how to create resource quotas per namespace (http://kubernetes.io/v1.1/docs/admin/resource-quota.html)

quota.json looks like this:

`{
  "apiVersion": "v1",
  "kind": "ResourceQuota",
  "metadata": {
    "name": "quota",
  },
  "spec": {
    "hard": {
      "memory": "1Gi",
      "cpu": "20",
      "pods": "10",
      "services": "5",
      "replicationcontr

[2016-02-17 15:02] timothysc commented on #21333
Integration is basically to give the other system a liveness check for k8s.

[2016-02-17 15:06] deads2k commented on #21334
I think I want

[code]

[2016-02-17 15:10] smarterclayton commented on #21367
Feel like we want a graceful deletion stress e2e test that goes through various rounds of graceful deletion to the kubelet and tries to pressure the node.

[2016-02-17 15:14] gmarek commented on #21267
For monitoring. I need some way to get all, say, ReplicationController pods, when we move to self-hosted components, to read metrics from them.

[2016-02-17 15:16] smarterclayton commented on #21334
See the debug pr

On Wed, Feb 17, 2016 at 10:07 AM, David Eads <notifications@github.com>
wrote:

[2016-02-17 15:17] gmarek commented on #20787
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/11758/

[2016-02-17 15:21] justinsb opened #21387 "AWS docs: update CoreOS link?"
Our docs say this:

EC2 with user data (cloud-config).

I think though that example is out of date (?).  We should make sure to point it to the right place.

[2016-02-17 15:22] gmarek commented on #21257
As can be seen by number of references, this seems to be happening often. Bumping to P0.

[2016-02-17 15:26] wojtek-t commented on #21257
@nikhiljindal

[2016-02-17 15:29] justinsb commented on #21385
Those trailing commas are wrong.  quota.json should look like:

[code]

I'll submit a docs patch

[2016-02-17 15:31] tvalasek commented on #21385
sweet. ta. That seem to do the trick:

kubectl create -f ./quota.json --namespace=prod
resourcequota "quota" created

[2016-02-17 15:35] justinsb commented on #21385
I'm going to reopen until the PR which fixes this merges, when it should autoclose...

[2016-02-17 15:37] fgrzadkowski commented on #20904
I still have this problem. Deleting images and linkgraph.db doesn't help. Any other ideas?

[code]

[2016-02-17 15:41] justinsb opened #21389 "AWS Salt: refactor docker install"
Per brendan's comment here: https://github.com/kubernetes/kubernetes/pull/21233#discussion_r53162738

[2016-02-17 15:50] justinsb opened #21390 "AWS: Verify restart & stop/start in 1.1"
In particular for the master, we've had reports of the ephemeral disks failing to mount after a reboot or upgrade or stop/start, and of this blocking the boot.

[2016-02-17 15:54] pires opened #21392 "GKE pod CPU usage doesn't work as expected"
GKE 1.1.7 with Monitoring API enabled reports node stats alright but not pods. CPU is always close to zero (0).

RAM works and Network In/Out complains about `No graph data found` as can be seen below:

<img width="1368" alt="screen shot 2016-02-17 at 10 52 34" src="https://cloud.githubusercontent.com/assets/1752631/13115139/a1b94c46-d564-11e5-9bdf-3bfdf6a1369e.png">

I've tried recreating the clu

[2016-02-17 16:02] pires opened #21394 "GKE Monitoring multiple filters"
When creating dashboards, it seems we're only allowed to set one single filter. It would be nice to be able to set multiple (AND) filters, e.g. `app=myapp, namespace=stage`.

[2016-02-17 16:07] thockin-cc commented on #20904
If this is Corp, find the other linkgraph.dB under usr/local
On Feb 17, 2016 7:38 AM, "Filip Grzadkowski" <notifications@github.com>
wrote:

[2016-02-17 16:07] dmcnaught commented on #16836
@ArtfulCoder I'm seeing the same thing in one of my clusters - the one in which I used the DNS add-on instructions from CoreOS: https://coreos.com/kubernetes/docs/latest/deploy-addons.html
I also added - -kube_master_url to the kube2sky section.
My time zone is only 1 hour from CA, so might be more convenient to google hangout with me if you would like to take a look at this.

[2016-02-17 16:07] codefx9 commented on #21215
I have reposted on stackoverflow: http://stackoverflow.com/questions/35461867/kubernetes-security-in-master-slave-salt-mode

[2016-02-17 16:15] #18009 closed

[2016-02-17 16:51] caleblloyd opened #21396 "NodePort services not proxied correctly in Userspace Kube-Proxy"
I had previously been successfully using NodePort to connect my own Load Balancer, but after upgrading to 1.1.7, I can only access services through NodePort if a pod is running on the Node.

    kind: Service
    apiVersion: v1
    metadata:
      name: router
    spec:
      type: NodePort
      ports:
        - name: http
          protocol: TCP
          port: 80
          nodePort: 30080

[2016-02-17 16:52] thockin commented on #21267
We might get away with calling ourselves the user here, but I don't think
we should.  Namespaced keys are unambiguous in any case.
On Feb 17, 2016 6:56 AM, "Brian Grant" <notifications@github.com> wrote:

[2016-02-17 16:53] chbatey opened #21397 "Route53 entries for AWS ELBs"
We have a working version of this that is implemented for the AWS cloud provider.

If the `kubernetes.io/aws-lb-cname-zone` label is set we create a cname in Route53 with the format: `[service-name]-[namespace]-[hosted-zone].[zone]`

We'll be creating a PR for this soon and wanted to get people's opinions (@justinsb).

[2016-02-17 17:25] a-robinson commented on #21322
cc @jlowdermilk

[2016-02-17 17:44] yujuhong commented on #16943
I don't have a 100 node cluster. Do we have a 100-node cluster on jenkins that runs density test?

[2016-02-17 17:46] quinton-hoole commented on #21206
@dchen1107 @lavalamp
I ran into a similar issue today.   etcd crash looped overnight, so it didn't look like it would recover.  Rebooting the master VM fixed the problem.  Later diagnosis revealed that the port it was trying to listen on was already occupied ('address already in use'):

[code]

[2016-02-17 17:54] gmarek commented on #16943
Kubernetes-scale

[2016-02-17 17:54] caleblloyd commented on #21396
This seems to be a problem in the kube-proxy with --proxy-mode=userspace (the default mode).  When I switch it to --proxy-mode=iptables, it works as expected

[2016-02-17 17:59] alex-mohr opened #21401 "GKE: Kubelet not configuring CBR0 on 4 of 1000 nodes"
From head @ Feb 16 ~9am, a 1000 node cluster on GKE had 4 nodes that came up as persistently flapping healthy/unhealthy.  They cycle through a loop where apparently kubelet restarts itself because docker is not running.  Logging details follow with instructions on how to access the node at the end.
[code]
I don't understand kubelet and docker setup well enough to debug, so here are logs.  Most tel

[2016-02-17 18:00] alex-mohr commented on #21401
@cjcullen and @roberthbailey as fyi too

[2016-02-17 18:00] caesarxuchao commented on #21045
I'll close this one for now. Please reopen the issue and cc us if the flake occurs again.

[2016-02-17 18:00] #21045 closed

[2016-02-17 18:03] dchen1107 commented on #21206
Since we saw this more than once, I raise the priority to p0 for triage.

cc/ @xiang90 from coreos.

[2016-02-17 18:04] liggitt opened #21402 "unversioned.Time#UnmarshalJSON should leave time in UTC"
It currently converts to local time, but should remain as close to the wire-format as possible.

Anywhere we display time and want to show local time should be ensuring conversion to local time at point of output.

[2016-02-17 18:06] mikedanese commented on #21338
Ok thanks for the info

[2016-02-17 18:08] dchen1107 commented on #21401
@alex-mohr thanks for detail information. I cannot ssh into the node:

[code]

[2016-02-17 18:08] cjcullen commented on #21401
Possibly related? https://github.com/docker/docker/issues/18113

[2016-02-17 18:09] dchen1107 commented on #21401
@cjcullen That is the exact what I wanted to check here.

[2016-02-17 18:11] mikedanese opened #21403 "Flake: Pod never became running in Kubernetes e2e suite.Generated release_1_2"
[code]
And e2e logs:
[code]

[2016-02-17 18:16] jlowdermilk commented on #21322
FYI, gke-serial already does not block merge queue.

We should really be printing events for kube-system. The console logs from failed runs show kube-system pods stuck in pending, but there's no indication as to why.

[2016-02-17 18:16] pwittrock commented on #21376
@likku3 for help with these sorts of issues, please post to Stack Overflow.

[2016-02-17 18:19] dchen1107 commented on #21401
If docker/docker#18113 is indeed the root cause, you might hit the problem with the same root cause as https://github.com/kubernetes/kubernetes/issues/20995 which has corrupted checkpoint file during upgrade from docker 1.8.3 to 1.9.1
/var/lib/docker/network/files/local-kv.db

If that is true, we won't hit the problem in real release since we are going to bake the docker 1.9.1 into the image itsel

[2016-02-17 18:20] janetkuo commented on #21257
Fix #21346 is waiting to be merged.

[2016-02-17 18:21] bprashanth commented on #21401
Fyi https://github.com/kubernetes/kubernetes/issues/20995 happened ~1/200 nodes too

[2016-02-17 18:21] a-robinson commented on #21322
Sorry for not making that more clear - while @ihmccreery only linked to gke-serial failures, it's been affecting kubernetes-e2e-gke heavily lately.

Examples from just the last 12 hours:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1197/
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1195/
https://cloud.google.com/console/

[2016-02-17 18:22] dchen1107 commented on #21392
cc/ @a-robinson @vishh

[2016-02-17 18:23] stevekuznetsov opened #21404 "codecgen can generate inconsistent state"
In https://github.com/stevekuznetsov/kubernetes/commit/9aa6494306f13217d97bb9eb260f630a9a18242a, my only interaction with generated files was through `hack/update-all.sh`. This managed to corrupt the state of the codecgen files to such a point that subsequent runs of `hack/update-all.sh` did _not_ revert the changes and `hack/verify-all.sh` marked the codecgen files as broken.

/cc @liggitt

[2016-02-17 18:24] a-robinson commented on #21244
And some more:
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/11765/
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1203/
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1190/

[2016-02-17 18:26] spxtr commented on #21380
I saw this before when trying to check out a large repository, #18960, except there we had `result=18`.

[2016-02-17 18:26] t5unamie opened #21405 "Addon's and booting"
I want to start up a load of pods, with a EBC volume mounted and data on the EBS volume.

The problem I have is understanding the mechanism for starting the POD as an ADDon, I can't see any documents on how I can update the kubernetese-server bundle that gets shipped to S3.

[2016-02-17 18:28] lavalamp commented on #21206
I will dig in later today.

[2016-02-17 18:28] ihmccreery commented on #20916
Is this possibly related to #21322?

[2016-02-17 18:28] xiang90 commented on #21206
Seems like a port conflict issue?

[2016-02-17 18:28] ihmccreery commented on #21322
Is it possible this is related to #20916?

[2016-02-17 18:29] xiang90 commented on #21206
/cc @hongchaodeng

[2016-02-17 18:29] xiang90 commented on #21206
@dchen1107 I do not have access to http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/481/consoleFull. :(

[2016-02-17 18:30] dchen1107 commented on #21394
cc/ @a-robinson

[2016-02-17 18:31] lavalamp commented on #21261
I guess we need a more specific diagnosis. @dchen1107 to diagnose/delegate.

[2016-02-17 18:32] dchen1107 commented on #21403
Can we have more information on why Pod not running here? not resource to schedule? pulling image failed? couldn't start container? :-)

[2016-02-17 18:33] lavalamp commented on #20787
It's not at all clear that this is the node's fault.

@derekwaynecarr is this something you could investigate?

[2016-02-17 18:35] lavalamp commented on #21234
Maybe @nikhiljindal has time?

[2016-02-17 18:35] pwittrock commented on #21405
Please ask this on Stack Overflow.  We are trying to consolidate these sorts of questions in that forum.

Assigning team/ux to determine if more documentation is needed.

[2016-02-17 18:35] lavalamp commented on #21256
@madhusudancs is this something you know about?

[2016-02-17 18:36] lavalamp commented on #21332
Maybe this test needs a readiness check or something?

[2016-02-17 18:37] lavalamp commented on #21332
@davidopp to delegate

[2016-02-17 18:38] lavalamp commented on #21374
Something is up with service accounts. I just asked @derekwaynecarr to look at a related issue. I'll give this to @davidopp to delegate. But hopefully it's the same cause?

[2016-02-17 18:39] lavalamp commented on #21380
@ixdy to fix or find an owner?

[2016-02-17 18:42] pweil- opened #21406 "Handle errors in namespace controller sync"
If the namespace controller gets an error when doing a sync and the error is not a `contentRemainingError` error the error will not be handled.

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/namespace/namespace_controller.go#L112-L113

Ran in to this when we found https://github.com/kubernetes/kubernetes/pull/21340.   When deleting a namespace it received a `NotFound` error t

[2016-02-17 18:42] pweil- commented on #21406
@liggitt

[2016-02-17 18:50] dchen1107 commented on #21261
@lavalamp Yes, I checked the instance @wojtek-t posted above yesterday, and nothing is really outstanding. Meanwhile, I couldn't find other instances you mentioned since there is no link.

[2016-02-17 18:52] bprashanth commented on #20473
This would make for a cool demo. Zero 500s returned from backends during a deployment. The tricky part would be knowing when to exit (when number of currently open connections drops to 0). I think just sending a SIGHUP to nginx tells it to wait for all connections to close before stopping. One can also scrape status pages of the loadbalancer for current connections.

[2016-02-17 18:54] bprashanth commented on #11204
Moving to release-next because https://github.com/kubernetes/kubernetes/pull/19389 makes the /8 configurable

[2016-02-17 18:58] miguelfrde commented on #11935
@piosz I would be interested on hearing about your experience and helping with this feature as well.

[2016-02-17 19:00] jlowdermilk commented on #21322
From kubelet logs, it looks like docker problems on the nodes
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1197/

All three kubelet.log files (from [/artifacts](https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/1197/artifacts)) are full of
[code]

Also looks like a some of the system pods were eventually started, but got kill

[2016-02-17 19:01] fejta commented on #21220
Could this be cpu starvation on PR jenkins?
Do we want to retry $DOCKER in common.sh?
Ignore and close out?

[2016-02-17 19:06] erictune commented on #15985
## Status update

Moving job to new api group (batch) turned out to be much more complex than expected.  Worked with @lavalamp @caesarxuchao @nikhiljindal and copied work of @piosz to do this.  Many side issues came up along the way.

I have a change pending which is based on #20501.  Need @lavalamp to review #20501 as any review comments in there will affect the PR I am preparing.

Once Job is mo

[2016-02-17 19:07] wojtek-t commented on #21261
@dchen1107 - what do you mean by "nothing is really outstanding". This shouldn't happen...

Regarding other failures - I can probably paste more tomorrow.

[2016-02-17 19:10] fejta commented on #21380
Do we have stats about cpu usage? When we had networking flakes in jenkins historically it was often due to cpu starvation.

[2016-02-17 19:12] lavalamp commented on #10045
I will kick this to the next release once #17493 merges.

[2016-02-17 19:13] dcbw commented on #20096
@bprashanth so my efforts with a kube cluster failed, I switched to the docker stress test from https://github.com/docker/docker/issues/17443 along with --userland-proxy=false to ensure hairpin got enabled on the container veths.  Can't quite do it there either, using 4.3.4 kernel.

[docker-stress (master*)]$ ./docker-stress -c 12 --containers 500
INFO[1529] ran 513 containers in 1529.73 seconds (

[2016-02-17 19:14] bgrant0607 commented on #20738
We're not blocking 1.2 on this.

[2016-02-17 19:15] vishh commented on #21392
Network stats should be available with v1.2. It is a known issue.

Does restarting heapster in your cluster fix the issue? If not, can you post heapster logs, output of `/validate` on `heapster` service and kubelet logs (`/var/log/kubelet.log`) from 1 or more nodes?

[2016-02-17 19:19] alex-mohr commented on #19953
Talked with Saad and rewriting the controller is probably not going to land by 1.2.0, but we won't necessarily hold it for 1.3 -- PDs can be fixed for 1.2.x even if 1.2.0 doesn't get it.

[2016-02-17 19:19] bprashanth commented on #20955
Closing this as a dupe of https://github.com/kubernetes/kubernetes/issues/21041, please re-open if you disagree

[2016-02-17 19:21] alex-mohr commented on #21394
Is this a v1.2 release issue?

[2016-02-17 19:22] bgrant0607 commented on #3024
Remaining tasks should be covered by more specific issues.

[2016-02-17 19:22] #3024 closed

[2016-02-17 19:23] alex-mohr commented on #21322
I saw the same with #21401.  If so, we either need to add a script to startup to work around the docker issue, or build a new containervm with 1.9.1?

[2016-02-17 19:24] ixdy commented on #20778
We're still getting timeouts across the parallel e2e builds. My intuition is that the `Simple pod should support exec through an HTTP proxy` is giving us problems, but I haven't yet been able to conclusively prove this.

I'm also trying to chase down any possible Ginkgo infra issues in onsi/ginkgo/issues/206. I suspect that Jenkins is sending `SIGTERM` to all of the Ginkgo parallel nodes, and so i

[2016-02-17 19:24] justinsb commented on #20955
I'd rather leave it open to make sure this gets fixed for AWS if that's OK?  It is assigned to me...

[2016-02-17 19:25] davidopp commented on #18352
What's remaining here?

[2016-02-17 19:25] bgrant0607 commented on #21303
cc @kubernetes/goog-cluster

[2016-02-17 19:26] bprashanth commented on #17870
@dchen1107 has context to judge 1.2 worthiness

[2016-02-17 19:28] pwittrock commented on #21322
Just saw a flake that looks like it maybe a separate issue:  Should this be filed separately?

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1220

11:01:36 ERROR: (gcloud.container.clusters.create) Operation [<Operation
11:01:36  name: u'operation-1455734333499-a29e3a49'
11:01:36  operationType: OperationTypeValueValuesEnum(CREATE_CLUSTER, 1)
11:01:36  selfLink:

[2016-02-17 19:30] yujuhong commented on #21085
I just encountered this issue. It might have something to do with docker being killed repeatedly during the window of time.

The error messages afterwards:
[code]

Reopening this issue so that we can keep track of the problem and update. Lowered the priority until we can reliably reproduce.

[2016-02-17 19:30] ixdy commented on #20778
I guess it's not clear from the issue title, but I'm investigating different things here vs. #21138: in the timeouts I'm investigating, there are basically no test failures reported; there is just no progress for O(minutes) and then the run times out. Some of the failures linked in #21138 look like legitimate cluster issues.

[2016-02-17 19:33] saad-ali commented on #21303
cc @kubernetes/rh-storage

[2016-02-17 19:36] luxas commented on #21303
On Ubuntu 15.10:
[code]
When I am in a normal folder in under my ´/home/dir`.
The same output from my Raspberry Pi, which runs `HypriotOS` and has `findmnt from util-linux 2.25.2`

Which `findmnt` version do you think isn't working?

[2016-02-17 19:38] yujuhong commented on #21085
FWIW, I hit the "no available IPv4 addresses" problem again after this.
[code]

[2016-02-17 19:42] pwittrock commented on #21403
Saw this on e2e-gke-slow [#765](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-slow/765/)

Here are the full logs:
[e2e-gke-slow.txt](https://github.com/kubernetes/kubernetes/files/135039/e2e-gke-slow.txt)

[2016-02-17 19:42] yujuhong commented on #16943
I will modify density test to start 100 pods on a node and then test locally on my 3-node cluster until it's stably passes.

As for running this in a 100 node cluster, I don't think it makes a huge difference for nodes, but would probably have more impact on the apiserver. it might not be crazy to let kubernetes-scale catch this since kubemark should be a good indication that the apiserver can han

[2016-02-17 19:43] mikedanese commented on #20489
I'm looking at this now. Will update today.

[2016-02-17 19:43] bprashanth commented on #18708
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21326/kubernetes-pull-test-unit-integration/14794
[code]

[2016-02-17 19:45] ixdy commented on #21380
Has this happened more than once?

Due to Jenkins upgrades last night, we may have been using a bit more CPU and GitHub traffic than normal due to rebuilding Docker images etc. If it only happened once I'm inclined to just close this issue.

[2016-02-17 19:52] therc commented on #19049
We're at the point where we could actually use the feature. We don't mind running 1.2 + patches (we've been running from HEAD for the past couple of months...) or writing a good chunk of the code.
Initially, for V1 of the support we're OK with just detecting one GPU per machine and scheduling pods on that. But we do need to overcommit, using something like [MPS (pdf)](https://docs.nvidia.com/deplo

[2016-02-17 19:54] jlowdermilk commented on #21322
@pwittrock that looks like a different failure mode I've been trying to track down/repo. It might be related to docker/node problems, but feel free to file separately.

[2016-02-17 19:57] ixdy commented on #21220
The fact that it's `Status 500` indicates it was a transient issue with gcr.io. Unless we see this happening more frequently I'm inclined to just ignore and close.

[2016-02-17 19:58] ihmccreery commented on #20925
Does that mean that HPA also requires 2500m of CPU?  Can we reasonably expect HPA to work on small clusters?

We should have a signal that HPA works in a 'standard' GKE cluster, or put tooling in to make sure it's not deployed on clusters where it's not working.

[2016-02-17 19:58] ihmccreery commented on #20925
What is another possible solution, to get signal on a "normal" GKE deployments?

[2016-02-17 20:07] pwittrock opened #21411 "kubernetes-e2e-gke flake due to node unhealthy"
kubernetes-e2e-gke test failed due to node unhealthy:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1220

11:01:36 ERROR: (gcloud.container.clusters.create) Operation [ 11:01:36 name: u'operation-1455734333499-a29e3a49'
11:01:36 operationType: OperationTypeValueValuesEnum(CREATE_CLUSTER, 1)
11:01:36 selfLink: u'https://test-container.sandbox.googleapis.com/v1/p

[2016-02-17 20:07] pwittrock commented on #21322
@jlowdermilk filed #21411

[2016-02-17 20:15] pires opened #21412 "GKE duplicated DNS replication controllers"
In GKE there are two DNS related replication controllers:
[code]

However, only one pod is running:
[code]

One can see that while `skydns` images differ in pod specs, the replication controllers selector share `k8s-app=kube-dns`. So after a deeper look, `skydns:2015-10-13-8c72f8c` is being used. It should be OK to remove `kube-dns`.

[2016-02-17 20:22] jeffmendoza commented on #20949
@bprashanth Ghost is sweet, having both examples would be good. About the wordpress docker image, since it is the "official" dockerhub image, It seems like using the expected env vars and hostnames to connect to the database should be acceptable. It looks nicely documented there on the hub.

[2016-02-17 20:24] gmarek commented on #16943
I'm not worried about Kubelet - I'm sure it'll handle. I just want to be sure that increasing pod density 3x won't expose some bugs in API server.

And yes - running 100 pod/node Kubemark will do.

[2016-02-17 20:26] pires commented on #21392
Awesome!

Restarted, waited about an hour, no changes.

[code]

I'll post `kubelet` logs in the next comment.

[2016-02-17 20:26] devth opened #21413 "Vagrant local provisioner fails with "job for network.service failed""
I tried via both:

[code]

And

[code]

from `1.1.8-beta.0`.

Results:

[code]

[code]

[2016-02-17 20:31] timothysc commented on #16943
I'll find out soon-ish  :8ball:

[2016-02-17 20:34] pires commented on #21392
So, `nats` is one of the applications I'm running and I made sure requests to its containers were being successfully executed:
[code]

[2016-02-17 20:34] dchen1107 commented on #21261
Ahh, I should make my comment more clear here. I didn't mean there is no issue.

From the log posted above, I saw after the test finished, test checked all nodes ready or not, and one node is not ready thus the test is marked not ready, and the node is not self-healing within a reasonable time, which is not acceptable. But from all available information, nothing is outstanding to me to figure out

[2016-02-17 20:38] stevekuznetsov opened #21414 "e2e-tests.md doc for local testing is broken"
Documentation for locally testing end-to-end tests [here](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-tests.md#local-clusters) is broken:

Running specific tests should read:
[code]

Furthermore, after setting up a local cluster, setting `KUBECONFIG` as in this guide, then running the above command, it still thinks I'm trying to use GCE.

[2016-02-17 20:44] pwittrock opened #21416 "Log warnings in fs_resource_analyzer for partially setup pods with no volumes"
when updating the cached pod volume stats in fs_resource_analyzer.go, we log a warning if a running pod is not found by the volume manager.  We should also log warnings for pods that are at least partially running or setup.

[2016-02-17 20:46] gmarek commented on #16943
@timothysc - thanks!

[2016-02-17 20:51] mikedanese opened #21418 "Graceful termination doesn't play well with services"
Use case:

I have a download server sitting behind a service with long lived tcp connections. I want to let connections complete before shutting down. I set termination grace period to 5 minutes. My pod is deleted gracefully.

Expected behavior:

Kube-proxy does not send any new connections to my pod. but allows open connections to remain intact. Downloads finish after 40 seconds. My pod shuts dow

[2016-02-17 20:51] vishh commented on #21392
@a-robinson: Wonder why @pires' cluster has not been updated to run heapster v0.18.5. Can you check?

@pires: I'm looking for any other hints in kubelet logs that might have resulted in dropping some of the stats. To be honest, I have never encountered partial stats aggregation before.

[2016-02-17 21:05] smarterclayton commented on #21418
Would definitely not expect the drop to happen until the pod is removed -
the ip should still be in unready endpoints, so it's possible that the kube
proxy should only drop rules that aren't in ready or unready endpoints

On Wed, Feb 17, 2016 at 3:51 PM, Mike Danese <notifications@github.com>
wrote:

[2016-02-17 21:06] smarterclayton commented on #21418
Actually, this may even be a bug that terminating pod ips should move the
unready endpoints

On Wed, Feb 17, 2016 at 4:05 PM, Clayton Coleman <ccoleman@redhat.com>
wrote: