[2017-11-24 03:15] like-inspur commented on #56309
/sig storage

[2017-11-24 03:20] vissible commented on #55649
same here,

Kubernetes Version: 1.8.4
Docker Version: 1.12.6
OS: CentOS Linux release 7.4.1708 (Core)
Kernel Version: 3.10.0-693.5.2.el7.x86_64

Nov 23 21:57:49 k8s-node kubelet: I1123 21:57:49.365043   13250 server.go:422] --cgroups-per-qos enabled, but --cgroup-root was not specified.  defaulting to /
Nov 23 21:57:49 k8s-node kubelet: I1123 21:57:49.366724   13250 container_manager_linux.go:252]

[2017-11-24 03:28] mdshuai commented on #52564
same https://github.com/kubernetes/kubernetes/issues/54161 ; we can close this.

[2017-11-24 03:47] fengyu10 opened #56310 "k8s v1.6.1 support GPU isolation?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubernetes node have two nvidia GPU,
create pod use file:
apiVersion: v1
kind: ReplicationController
metadata: {name: gputest, namespace: hdp-teu-dia}
spec:
  replicas: 1
  template:
    metadata:
      labels: {component: gputest}
    spec:
      containers:
      - command: [/bin/bash, -c, touch /workspace/gputest.$(hostname).sysl

[2017-11-24 04:14] zxcvbn97 commented on #56148
same

[2017-11-24 05:10] hongli-my opened #56313 "delete loadbalancer fail cloud-provider=openstack"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Maybe bug

**What happened**:
when delete service type=LoadBalancer,  service is deleted,
but loadbalancer not deleted in neutron.
error log:  resource not found

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl v

[2017-11-24 05:21] WanLinghao commented on #56310
I don't get your idea very well.
you have a node with two GPUs and create a task which requests just one. Then what you expect is  that   only one GPU  can be observed in the task since you just requested one, but actually you observe two GPUs.
Is that what you want to say?

[2017-11-24 05:30] dixudx commented on #49387
#50140 provides a new flag `--field-selector` to filter these pods now.

[code]

/close

[2017-11-24 05:31] ash2k opened #56316 "runtime.Unstructured.UnstructuredContent() is easy to misuse"
**What happened**:
In #51526 I introduced an optimization - do a deep copy instead of to and from JSON roundtrip to convert anything that implements `runtime.Unstructured`. I then discovered that the method that is used there `UnstructuredContent()` in both `Unstructured` and `UnstructuredList` may mutate the original object.
https://github.com/kubernetes/kubernetes/blob/160cf97fa426dcf355357a81e7

[2017-11-24 05:36] fengyu10 commented on #56310
@WanLinghao yes,To apply for a GPU card resources, Why two GPUs card memory is being used。

[2017-11-24 06:11] dpprabhuindia opened #56318 "unable to connect Pod network to mongodb running at outside kubernetes cluster at host network"
Hi,

I request anyone help to fix the above said issue, I have deployed my nodejs applications on kubernetes cluster(running on Vagrant virtualbox with 1 master and 3 nodes) successfully but with mongodb server via public domain name instead using local LAN IP address CIDR 10.0.2.0/24.

My diagnostics I able to ping/connect mongodb server 10.0.2.34 from master and node VMs with public network (10.

[2017-11-24 06:19] WanLinghao commented on #56310
execute

connect into container,
then execute

[2017-11-24 06:29] dpprabhuindia commented on #56318
Hi,

Am new to github, can you please help me to add sig list/group

[2017-11-24 06:39] fengyu10 commented on #56310
@WanLinghao find / -name *nvidia*
/dev/nvidiactl
/dev/nvidia1
/dev/nvidia0
/dev/nvidia-uvm-tools
/dev/nvidia-uvm
/etc/ld.so.conf.d/nvidia.conf
/proc/irq/153/nvidia
/proc/irq/152/nvidia
/proc/driver/nvidia-uvm
/proc/driver/nvidia
/sys/bus/pci/drivers/nvidia
/sys/kernel/slab/nvidia_stack_cache(91:c3ea7f7ac2bebc62c27a7835cb2edd772fe4230fa074311c71ced4fca3e1dd18)
...
/sys/module/drm/holders/nvidia_drm

[2017-11-24 06:44] WanLinghao commented on #56310
I have take a glance at the code of v1.6.1, seems that  it does support card isolation.Since I got only one GPU on my PC, so I can't do a deep research.
I think bug does exist

[2017-11-24 06:51] ddii commented on #56310
Delete <<  securityContext: {privileged: true} >> at the pod yaml.

and re-deploy and check nvidia-smi

[2017-11-24 06:55] KeithTt commented on #55649
same + 1

kube version: 1.8.3
docker version: 17.06.2-ce

[code]

[2017-11-24 07:10] xujieqwe opened #56320 "kube-proxy IPVS: cannot access 127.0.0.1:nodeport"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

use kube-proxy ipvs mode, create a service with nodeport
but cannot access 127.0.0.1:nodeport.

**What you expected to happen**:

we can access 127.0.0.1:nodeport in iptables mode, so ipvs should also support this

**How to reproduce it (as minimally and precisely as possible)**:

1.  run kube-proxy with ipvs
2. create

[2017-11-24 07:10] fengyu10 commented on #56310
@ddii yes, How well you solve my problem. thank you

[2017-11-24 07:11] #56310 closed

[2017-11-24 07:12] xujieqwe commented on #56320
@m1093782566

[2017-11-24 07:18] kweisamx opened #56321 "kubeadm Token will disappear automatically"
/kind bug

with the kubeadm 1.8.4, the token will disappear automatically with sometime the master no adding node, If this is normal , please close it

thanks

[2017-11-24 07:30] shun-miyoshi-com commented on #56275
Do you have at least 3 pods in `docker ps`?(kube-apiserver, kube-controller-manager, kube-scheduler)

If you yes,I think you should check `docker logs` of pods and kubelet log.

[2017-11-24 07:41] wenjun93 opened #56323 "kubelet volumeManager doesn't update node volumesattached status"
currently `node.status.volumesAttached` is only for attachdetach controller's use and updated by controller-manager, kubelet only update volumesInUse field, if set `--enable-controller-attach-detach=false` flag for kubelet, and after a while set it to true, then controller cannot get the actual volume attached state in controller reconciler actualStateOfWorld. Is there any reason for this design?

[2017-11-24 07:41] wenjun93 commented on #56323
/storage

[2017-11-24 07:44] marono commented on #55031
I've pulled from `master` and build `kubelet` and `kube-proxy` myself.
When running on Windows Server Core 1709 I'm now getting:

`error: failed to run Kubelet: unable to read physical memory`

Am I missing a dependency of some sorts?

[2017-11-24 07:55] andyzhangx commented on #55031
I would suggest use https://github.com/Azure/acs-engine/releases/tag/v0.9.4 to deploy a windows 1709 based k8s cluster.

[2017-11-24 08:06] marono commented on #55031
Thanks @andyzhangx, will I be able to deploy ACS it on-premises? I stayed away from it as I thought it's only for Azure.

[2017-11-24 08:13] andyzhangx commented on #55031
@marono yes, acs-engine is only for azure, while you may take a reference for windows deployment scripts under: https://github.com/Azure/acs-engine/blob/master/parts/kuberneteswindowssetup.ps1

[2017-11-24 08:13] stewart-yu commented on #56321
I will have a look

[2017-11-24 08:33] hzxuzhonghu commented on #56121
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/56126/pull-kubernetes-unit/68031/artifacts/junit_e9d37341e9f7ab19ac436e5365ba6ae7c20eea71_20171124-060937.stdout

It seems rc not garbage collected after calling delete.  I do not know why now, can any one help.

[code]

[2017-11-24 08:33] hzxuzhonghu commented on #56121
/help wanted

[2017-11-24 08:47] sttts commented on #44660
Related discussion https://github.com/kubernetes/kubernetes/pull/55472

[2017-11-24 08:56] sttts commented on #52163
It's a nested algebraic datatype. So it's has recursive references. Why is that a problem?

[2017-11-24 09:11] mcginne commented on #56300
Strange you say rkt engine is down - we're using docker to run containers - don't believe we configured rkt for anything..

[2017-11-24 09:26] m1093782566 commented on #56320
@xujieqwe

AFAIK, IPVS does't work on loopback interface.

[2017-11-24 09:35] m1093782566 commented on #56320
IMO, loopback should be used only for bouncing packets for local delivery, why NodePort use it proxy outbound traffic? xref: #21070

[2017-11-24 09:50] wojtek-t commented on #54511
I think that medium/long term using kubeadm makes sense.
OTOH, since it seems kubeadm doesn't support HA well yet, I'm not sure we should block on it short term.

It is already somewhat possible to setup HA cluster in test (on GCE) - this test is basically doing this:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/lifecycle/ha_master.go

So I think that we should start thinking how

[2017-11-24 10:00] porridge commented on #56061
On Thu, Nov 23, 2017 at 7:47 PM, Shyam JVS <notifications@github.com> wrote:

+1

I disagree with this one, though. I don't think we gain anything from the
frequent flakes, it's just a distraction, especially for me since currently
I'm trying to track every test failure by putting a link to the gubernator
page from a relevant bug.

I'll come up with one.

[2017-11-24 10:07] shyamjvs commented on #56061
SG. Though I don't remember a single case where thresholds were bumped down
(they're always bumped up). Also once those flakes go green, it
incentivizes one to care less about fixing it imo :)

I wouldn't push too hard on this one though.

On Fri, Nov 24, 2017, 11:01 AM Marcin Owsiany <notifications@github.com>
wrote:

[2017-11-24 10:14] porridge opened #56332 "5k node tests time out waiting for nodes to come up"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority critical-urgent
umbrella issue: #55194

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/35 failed with:
[code]

The failure was waiting for enough nodes to be schedulable:
[code]

@shyamjvs did you by any chance turn on the

[2017-11-24 10:17] wardhane commented on #51835
I have the same issue on Kubernetes 1.8.2 on IBM Cloud. After new pods are started the old pods are stuck in terminating.

kubectl version
`
Server Version: version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.2-1+d150e4525193f1", GitCommit:"d150e4525193f1c79569c04efc14599d7deb5f3e", GitTreeState:"clean", BuildDate:"2017-10-27T08:15:17Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

[2017-11-24 10:27] wojtek-t commented on #56332
Hmm - this is strange. I downloaded controller manager logs and:
[code]
So it seems it managed to successfully set network condition for all nodes.

So maybe the problem is that something else has overwritten this condition (because it is not using patch - whatever that is), and cidr_allocator will never set it to true again.

@shyamjvs - thouughts?

[2017-11-24 10:28] wojtek-t commented on #56332
BTW - it was pretty fast this time - the difference between first and last setting cidr was ~8 minutes.

[2017-11-24 10:30] porridge commented on #56332
@wojtek-t if you have the log, can you check if all the 5001 log lines refer to 5001 different nodes?

[2017-11-24 10:35] sttts commented on #56209
Totally agree. But we should not use normal annotations for that. This is sensible information possibly and also no something we want to carry around on objects. Moreover, we want this information not only for mutating API calls, but also for read-only requests.

[2017-11-24 10:35] sttts commented on #56209
/cc @liggitt ^^

[2017-11-24 10:36] shyamjvs commented on #56332
Just checked the logs.. All the nodes are unique and they were all (except one, but that's fine as we allow a slack) assigned a CIDR by 23:01:10.973363

[2017-11-24 10:38] shyamjvs commented on #56332
And that was all part of the cluster validation which did proceed through:

[code]

This was even before the testing framework started.

[2017-11-24 10:39] porridge commented on #56332
Same with https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/68 but in that case 103 nodes remained without network after 1.5h.

[2017-11-24 10:42] porridge commented on #56332
@shyamjvs what do you refer to as "that" in https://github.com/kubernetes/kubernetes/issues/56332#issuecomment-346797871?

[2017-11-24 10:43] shyamjvs commented on #56332
CIDR assignment

[2017-11-24 10:46] porridge commented on #56332
So you're saying that the validation before test framework starts performs
exactly the same node health check as the one within the framework?
In other words something broke it in between?

[2017-11-24 10:48] wojtek-t commented on #56332
Re checking logs - I don't see any repeated nodes as @shyamjvs wrote. And all nodes are there:
[code]
[BTW - I checked that before sending this comment, I also thought that maybe something was repeated.]

But I think this code is correct (modulo the fact that it seems that something may overwrite the condition and it will never be set to true again).

[2017-11-24 10:49] wojtek-t commented on #56332
I will send out a PR fixing this in few minutes.

[2017-11-24 10:51] avoidik commented on #43516
Hit the same when CPU is under high-load, also this interesting "feature" https://github.com/kubernetes/kubernetes/issues/54130

[2017-11-24 10:52] porridge commented on #56332
What do you intend to change? Make the cidr alocator re-apply the condition if it's lost? Won't that cause endless tug-of-war and node health flapping?

[2017-11-24 10:56] shyamjvs commented on #56332
@porridge Wrt https://github.com/kubernetes/kubernetes/issues/56332#issuecomment-346799443:

All the nodes has been assigned CIDR by 23:01. And those nodes were then marked ready, which is why the cluster validation step proceeded through fine.
But later before the test suite, we're checking that the nodes are 'Schedulable' (*not* just Ready) which is where it fails.
And the reason is because the

[2017-11-24 10:58] wojtek-t commented on #56332
@shyamjvs - My guess is that something overwrote the condition due to not using patch. And if so, it will never be reapplied again.

[2017-11-24 10:59] rsd35410 opened #56335 "Having programable, the waiting time before the "autoscale-up/down" is effective"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Kind feature
@kubernetes/sig-autoscaling-feature-requests
@kubernetes/sig/autoscaling

**What happened**:

There is no way to change the waiting time before the "autoscale-up/down" is effective.
In addition, when the "autoscale-up" is performed, it is not directly scaled to the max number defined inside the HPA.

**What you expected to happen**:

Havi

[2017-11-24 11:01] sttts commented on #56061
Any chance to get a pprof `top`output from the apiserver process, i.e. what is described in http://www.integralist.co.uk/posts/profiling-go/ as memory analysis? We enable `--profiling` by default. So this should be possible via `go tool pprof http://<apiserver>/debug/pprof/heap`.

[2017-11-24 11:06] shyamjvs commented on #56332
I checked in the kubelet logs of http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/35/artifacts/gce-scale-cluster-minion-group-0jbn :

[code]

There seems to be a conflict while patching the node-status. Maybe the conflict is happening b/w kubelet and the cidr-allocator trying to set the node status field.
However what's surprising to me is why were we not se

[2017-11-24 11:08] wojtek-t commented on #56332
Because previously we were creating routes. And route controller is retrying setting the condition if this is set incorrectly in every loop.

[2017-11-24 11:11] shyamjvs commented on #56332
Aah.. that makes sense. I was under the impression that the range-allocator (which was still the one assigning CIDRs to nodes) is also setting a similar node condition to cloud-allocator.
But seems like it's only the route-controller doing it.

[2017-11-24 11:15] porridge commented on #56061
I'll take a stab at it. If not automatically on every test, then I'll at
least run it on a manual run.

[2017-11-24 11:16] wojtek-t commented on #56332
https://github.com/kubernetes/kubernetes/pull/56336 is out for review

[2017-11-24 11:45] porridge commented on #56061
@shyamjvs This pattern was there ever since we keep records (which is not a lot - August 25th).
See graph:
![chart](https://user-images.githubusercontent.com/489420/33209195-0ddc7558-d115-11e7-9ab8-f3ba97d694f5.png)
There is a clear jump by 100/200MiB respectively, not so long ago, I'll get the commit range when it was introduced.

[2017-11-24 11:47] wojtek-t commented on #56061
Regarding the pattern why some runs are visibly better than others - I already wrote why it can be like that:
https://github.com/kubernetes/kubernetes/issues/56061#issuecomment-346681868

[2017-11-24 12:03] porridge commented on #56061
Yes Wojtek, that question was solved back in  https://github.com/kubernetes/kubernetes/issues/56061#issuecomment-346674103.
The partition to red vs blue line is exactly that.
We're now looking what caused that step in both lines near the right-hand side of the graph.

[2017-11-24 12:05] shyamjvs commented on #56061
The fact that the order of those tests is affecting the usage seems to be there since a long time.
But we never had it exceed our bounds earlier - see that runs 7818 - 8045 (more than 200 runs) of https://k8s-testgrid.appspot.com/sig-scalability-gce#gce were continuously green (except for a couple of other flakes).

[2017-11-24 12:06] shyamjvs commented on #56061
Sounds great - thanks.

[2017-11-24 12:07] craigbox commented on #15675
I think this should be reopened here, as this is a single-cluster ("Ubernetes Light", remember that?) issue, not a multi-cluster issue.

/cc @kubernetes/sig-multicluster-misc
/open

[2017-11-24 12:11] porridge commented on #56061
Looks like it was between run 7965 and 7966. There was only one PR merged between these two runs:
https://github.com/kubernetes/kubernetes/pull/55183
@jpbetz do you think it's expected and intended that your changes increased apiserver memory usage by 100-200MiB on a 100-node cluster?

[2017-11-24 12:11] lcfang opened #56339 "some doubts about hostpath checking when subpath exist"
Pod will not run correctly  when I creat a pod like below:
**pod-test.yaml**
[code]
 Here, the hostPath of `/tmp/test_extend/` is not exist in my host, and `subPath `is not empty, when I run `kubectl create -f pod-test.yaml`, the pod will not be created correctly.

`kubectl get pod--all-namespaces`
[code]

`kubectl describe pod volum-subpath-pd`
[code]

In pkg/kubelet_pods.go, it will judge the ho

[2017-11-24 12:13] shyamjvs commented on #56061
That sounds very likely to increase apiserver mem usage as it's adding a bunch of instrumentation to admission webhooks.

[2017-11-24 12:23] porridge commented on #56061
Increase - yes. By 10-20%... not sure if that's intended. That's what I'd like to clarify.
Changing title to reflect the new finding.

[2017-11-24 12:34] phungleson commented on #56275
I literally just changed from Centos OS (ami-2ef4833) to Ubuntu (ami-a9a557c6) then it works.

What should I look into? It seems firewalld is off.

[2017-11-24 12:39] porridge opened #56340 "apiserver peak memory usage in density test is bi-modal"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority important-soon

**What happened**:
As explained in https://github.com/kubernetes/kubernetes/issues/56061#issuecomment-346674103 apiserver memory usage measured during the density test varies significantly depending on whether the "load" test ran before it or not.

This bi-modal distribution hurts tes

[2017-11-24 12:42] porridge commented on #56061
Let's focus this bug on the usage increase caused by #55183. I filed #56340 to track the less urgent bi-modal usage problem.

[2017-11-24 12:43] tnozicka opened #56341 "Statefulset: allow updating spec.revisionHistoryLimit"
on kubernetes v1.8.1 I get:
[code]

[2017-11-24 12:48] shyamjvs commented on #56061
Thanks for creating the graph and filing the bugs.

[2017-11-24 12:52] porridge commented on #55194
ACK. In progress, total of 15 subordinate issues, 7 still open
No ETA
Risks: Multiple flakes across several SIGs need fixing.

[2017-11-24 13:02] porridge commented on #55779
This is the relevant piece of the test output:

[code]

[2017-11-24 13:12] r7vme commented on #51835
If root cause still the same improperly proposed mounts then this is distribution specific bug imo.

Please describe how you run kubelet run in IBM cloud? systemd unit? does it have `--containerized` flag?

[2017-11-24 13:18] porridge commented on #55779
Something bad clearly happened to the apiserver around the time when the error was returned - request response rate dropped from ~1k qps to nearly zero for a few good seconds:

[code]

[2017-11-24 13:29] hanikesn commented on #45976
We had issues with broken DNS requests when scaling up/down our kube-dns deployment.

[2017-11-24 13:32] phungleson commented on #56275
The docker ps looks like this

[code]

[2017-11-24 13:38] tnozicka commented on #56341
/sig apps

[2017-11-24 13:38] phungleson commented on #56275
Logs in  controller looks like this

[code]

[2017-11-24 14:00] wardhane commented on #51835
it is run with --containerized flag set to false.

[code]

[2017-11-24 14:03] JiangtianLi commented on #55031
@marono How is your Windows Server Core 1709 deployed? Do you have a kernel32.dll in your [LoadLibrary search path](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682586(v=vs.85).aspx) besides system32?

[2017-11-24 14:18] resouer commented on #49480
I think the bot is asking for status update (and so do I).  😆

Can CRI runtimes begin to upgrade to CNI 0.6 now?

[2017-11-24 14:21] ajinkyarajput commented on #26375
By using `kubectl run` there is deployment created with a name we specified. If someone want to remove pods, delete deployment it will automatically delete rc and pods. Delete it by `kubectl delete deployment <name_of_deployment>`

[2017-11-24 14:23] gmarek commented on #55934
That's the desired behavior. cc @smarterclayton

[2017-11-24 14:32] r7vme commented on #51835
ok, i need more info, please see my comment above https://github.com/kubernetes/kubernetes/issues/51835#issuecomment-333090349

and also please show contents of  `/lib/systemd/system/kubelet.service` and if there anything about kubelet in `/etc/systemd/system` please share too.

In particual, if kubelet runs in docker i want to see all bind mounts `-v`.

[2017-11-24 14:45] yastij commented on #56276
@karataliu - spotted this too, I'll send a quick fix. But since it's code freeze It won't make it to 1.9

[2017-11-24 14:58] marono commented on #55031
@JiangtianLi It's a clean deployment of the ISO in my MSDN subscription (haven't activated it though as I'm only trialing this stuff) on a VMWare fusion VM.

OS version comes back as `10.0.16299.0`

Haven't messed around with anything on it, really, just tried a couple versions of `kubelet` in the last couple days which means I've deployed `docker` latest (about which the kubelet complains that it

[2017-11-24 15:05] tomkukral commented on #40850
@dims This isn't related only to Heat support since everybody accessing apiserver through haproxy with checks is hitting this issue.

[2017-11-24 15:37] sigxcpu76 commented on #40745
update for kubelet v1.7.8

[code]

[2017-11-24 15:42] mati865 opened #56346 "Recent Kubernetes tarballs from GitHub don't build using make (wrong linker args?)"
/kind bug

**What happened**:
[code]

**What you expected to happen**:
Working build.

**How to reproduce it (as minimally and precisely as possible)**:
Run `make -j1` in Kubernetes 1.8.4 source unpacked from tarball.

**Anything else we need to know?**:
Kubernetes 1.8.3 tarball and git v1.8.4 tag build fine.
Link to tarball: https://github.com/kubernetes/kubernetes/archive/v1.8.4.tar.gz

**Enviro

[2017-11-24 15:51] marono commented on #55031
Just retried it on a machine that's just been installed, haven't even deployed Docker to it and I get the same error. Is it supposed to only work in Datacenter Edition maybe ?

[2017-11-24 16:04] asa511 opened #56347 "cloudstack kubelet configuration: error when fetching metadata"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubelet throws the exception when --cloud-provider=cloudstack is included:

`Unable to construct v1.Node object for kubelet: could not get instance type: <nil>`

**What you expected to happen**:

There shouldn't be an exception.

**How to reproduce it (as minimally and precisely as possible)**:
Add the following line to

[2017-11-24 16:07] rmohr opened #56348 "CR is stuck with "orphan" finalizer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a CRD which is backed by a controller which creates and deletes other CRDs. The dependent CRDs have a controller owner reference set. If I delete the controller object with --cascade=true, everything works as expected and the resources are cleaned up. If I use --cascade=false, I see that an "orpan" finalizer is ad

[2017-11-24 16:40] rmohr commented on #56348
/sig api-machinery

[2017-11-24 16:42] yastij commented on #56318
/support
/area networking

[2017-11-24 16:43] yastij commented on #56318
/sig network
/kind support

[2017-11-24 17:25] shyamjvs commented on #52292
All the needed improvements here have been made except the last one (for which I sent out #56352).

[2017-11-24 17:33] porridge commented on #55779
Actually, when I remember to include sort in the pipeline, the results are not that extraordinary:

[code]

[2017-11-24 17:43] crassirostris commented on #56235
https://github.com/kubernetes/kubernetes/pull/55953 needs one change, but Marian is OOO today
ETA: Nov 27
No risks

[2017-11-24 17:54] jsravn commented on #45976
@hanikesn Hmm I wonder if it's dropping the UDP connection before the termination grace period on the dns pods in the scale up/down case. That'd be wrong I think, it should wait until the pod terminates (rather than endpoint removed) before dropping udp connections.

[2017-11-24 17:59] kontainerschiff commented on #54610
IT's a real show-stopper using Azurefile! Like any rails app using non-root uid will not be able to Access root-only mounts (like phusion / passenger).

I hope this get's fixed soon to add fsgroup properly! It's also very weird that also chown within container is not able to Change ownership of an azure file cifs mount Point!

[2017-11-24 19:04] bowei commented on #55870
@rakeshkulkarni6 if you have found a solution, can you close this issue?

[2017-11-24 19:46] liggitt commented on #56348
/assign @ironcladlou @caesarxuchao

[2017-11-24 19:47] liggitt commented on #56321
Yes, the token has a 24 hour lifetime

[2017-11-24 19:47] #56321 closed

[2017-11-24 19:49] liggitt commented on #56304
What version of kube-dns are you running? I didn't think kube-dns did configmap lookups any longer

[2017-11-24 19:59] JiangtianLi commented on #55031
@marono Can you try `dumpbin /exports kernel32.dll|findstr GetPhysicallyInstalledSystemMemory` (on your local machine where you have dumpbin/Visual Studio installed and kernel32.dll is from Server Core %windir%\system32\) to see if kernel32.dll has GetPhysicallyInstalledSystemMemory exported? What is go version you used to build kubelet? What is the output of `reg query "HKEY_LOCAL_MACHINE\SOFTWAR

[2017-11-24 20:40] dims commented on #40850
/reopen

/remove-sig openstack

[2017-11-24 20:42] justinsb commented on #56155
Put up a PoC / WIP PR #56354.  It uses the ioctls rather than the nvme command, so that we don't need the nvme command installed, and because I've observed segfaults from the `nvme list` command.

[2017-11-24 20:53] tnozicka opened #56355 "StatefulSet creates multiple controllerrevisions on controller restart"
version: v1.10.0-alpha.0-469-g6b1b6d504a

When you create StatefulSet and restart statefulset controller, while it's starting it will create multiple controllerrevisions. See https://github.com/openshift/origin/issues/17435#issuecomment-346499744

I've traced this to a [recent change adding collision avoidance](https://github.com/kubernetes/kubernetes/pull/50490) which made newRevision not re-entr

[2017-11-24 20:54] tnozicka commented on #56355
/assign

I'll send a PR to wait for revision informer while starting statefulset controller.

[2017-11-24 21:02] mjj29 commented on #56304
Whatever came with what as far as I can tell is the most recent version of minikube. I didn't do anything to install it and I don't know how to change to another version

[2017-11-24 21:13] tnozicka commented on #56355
/kind bug
/priority critical-urgent

[2017-11-24 22:49] liggitt opened #56357 "Continuous polling of webhook admission registration objects"
with `hack/local-up-cluster.sh`, I see continuous polling of mutatingwebhookconfigurations and validatingwebhookconfigurations objects (once a second, without end):

[code]

/kind bug
/sig api-machinery
/assign @caesarxuchao @cheftako

[2017-11-24 23:32] liggitt commented on #56355
Are there other app controllers that use collision avoidance and/or revision info that are similarly affected?

[2017-11-24 23:53] tuananh commented on #45076
i'm on 1.7.4 and i dont see this api group either

[2017-11-24 23:59] liggitt commented on #45076
Alpha API groups are not enabled by default. If you are on a version that supports it, you can enable them with the --runtime-config flag to the api server

[2017-11-25 00:42] stewart-yu commented on #56347
I will have a look

[2017-11-25 01:16] lcfang commented on #56339
@kubernetes/sig-Storage-bugs

[2017-11-25 01:32] supereagle commented on #55993
@caesarxuchao I find some new codes still use these deprecated clients, is there any timetable to remove these clients?

[2017-11-25 01:57] jhorwit2 commented on #55585
@dunjut are you able to test this on 1.8? I'm not able to reproduce it.

[code]

Is your provider implementation public by chance? I don't see any logic in the service controller that has changed related to this type of update. Also, the service controller is the same across the KCM and CCM, so `createLoadBalancerIfNeeded` has no differences.

[2017-11-25 01:59] #54911 closed

[2017-11-25 02:02] jhorwit2 commented on #45557
This was fixed by https://github.com/kubernetes/kubernetes/pull/52524. Should we cherry-pick this  @luxas?

[2017-11-25 02:13] jhorwit2 commented on #50699
@cjyar This seems resolved now. Can we close this issue or is there still something you'd like to see? https://kubernetes.io/docs/admin/admission-controllers/#persistentvolumelabel

[2017-11-25 03:24] stewart-yu commented on #56272
/assign

[2017-11-25 03:25] mattjmcnaughton commented on #56165
Thanks for reporting! I can try my best to help you debug.

When you say you can successfully curl the heapster endpoint, what machine are curling from? As I'm seeing a similar error when trying to contact `10.X.X.X:8082/healthz` in your logs, I'm wondering if there is an issue with the different machines talking to each other. Additionally, do you see any logs on the heapster pod around when the

[2017-11-25 03:33] jhorwit2 commented on #56313
/area cloudprovider
/sig cluster-lifecycle
/area openstack

[2017-11-25 03:34] jhorwit2 commented on #56313
/sig openstack

[2017-11-25 03:34] mattjmcnaughton commented on #55418
To confirm I'm understanding correctly, you restarted the CoreOS directly as opposed to using the ec2 console? In my non-k8s experience, directly restarting ec2 instances can cause issues that don't appear when a restart is done through the console. But I suppose it is not possible to verify this is the cause, because k8s removes the node if we restart through the ec2 console.

Are there any advan

[2017-11-25 03:44] mattjmcnaughton commented on #54633
@tesi-nahid Thanks for the extra detail, and apologies for the late response.

This tutorial may be helpful: https://docs.bitnami.com/kubernetes/how-to/configure-autoscaling-custom-metrics/

If you have additional specific questions, I'd recommend the #sig-autoscaling channel on the kubernetes Slack. A lot of very knowledgeable, friendly people who will be able to help :)

[2017-11-25 03:49] mattjmcnaughton commented on #55805
Looks like https://github.com/GoogleCloudPlatform/k8s-stackdriver/pull/68 has been closed - nice work @kawych :) Does that mean this issue can be closed?

[2017-11-25 04:09] jhorwit2 commented on #56347
/sig cluster-lifecycle
/area cloudprovider

[2017-11-25 04:21] jhorwit2 commented on #56127
Cordon is going to keep the node unscheduleable. You most likely want `uncordon`.

If that doesn't solve your problem please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes), ask in [slack](http://slack.k8s.io/) or email the [kubernetes-users group](https://groups.google.com/forum/#!forum/kubernetes-users). We are trying to consolidate the channels t

[2017-11-25 04:21] #56127 closed

[2017-11-25 04:30] jhorwit2 commented on #48690
@luxas could you please update 5 in your original post to reference https://github.com/kubernetes/kubernetes/issues/48690

[2017-11-25 04:30] jhorwit2 commented on #55633
/area cloudprovider

[2017-11-25 04:37] jhorwit2 commented on #55565
@anguslees I can't seem to find the ticket I'm thinking of, but from what I recall prior discussions around this topic have gravitated towards using external admission controllers over adding field validation to RBAC.

cc @liggitt

[2017-11-25 04:39] liggitt commented on #15310
cc @kow3ns

[2017-11-25 05:16] andyzhangx commented on #54610
Hi @kontainerschiff, fsgroup could be set by k8s security context, is that what you want?
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod

[2017-11-25 07:17] justinsb commented on #56155
I'm leaning towards the idea that we _should_ fix this in 1.9, because if we don't fix this realistically it'll be 6 months from now until a stable kubernetes release has support for volumes on these instance types (1.10 release late March, then 2 or 3 months to stabilize).  That's true even for c5s, and I can't imagine there won't be more instance types coming.

The risk is fairly low: it's only

[2017-11-25 08:14] #51419 closed

[2017-11-25 08:14] #51420 closed

[2017-11-25 08:14] #51421 closed

[2017-11-25 09:49] gyliu513 commented on #55934
Thanks @gmarek what is the reason that we do not want to delete the pods by force? How to handle the case of statefulset for such case?

[2017-11-25 11:24] xiangpengzhao commented on #56091
waiting @pipejakob for https://github.com/kubernetes/kubernetes-anywhere/pull/488 merging.

[2017-11-25 14:42] jhorwit2 commented on #56335
/sig autoscaling
/kind feature

[2017-11-25 14:46] RenaudWasTaken opened #56365 "Device Plugin test does not cleanup it's checkpoint file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area hw-accelerators
/sig node

**What happened**:
The deviceplugin's test [`TestCheckpoint`](https://github.com/kubernetes/kubernetes/blob/45db5e7260d47f01106c3f0401f9c779f9b386c0/pkg/kubelet/cm/deviceplugin/manager_test.go#L259) doesn't cleanup the checkpoint file.

**What was expected**:
The file should be cleaned up by calling `os.Remov

[2017-11-25 17:23] monotek commented on #48212
I also just run in this problem on Minikube & Google Kubernetes Engine.
Both with version 1.8.3

[2017-11-25 17:30] jpbetz commented on #56061
@porridge No, this amount of memory increase was not intended. We’ll need to adjust the instrumentation to get the utilization down to something more reasonable.

We added counter and histogram metrics at a per admission controller/webhook granularity. The counters are cheap. The histograms can be tuned to reduce memory footprint.  We’ll need to adjust them till we get into a more reasonable range

[2017-11-25 17:31] ElishaKay commented on #21385
I'm following this tutorial on installing percona with kubectl, and I'm getting a similar error:

https://www.percona.com/blog/2016/12/21/installing-percona-monitoring-management-google-container-engine-kubernetes/#comment-10968714

When I run:

kubectl create -f pmm-server-init.json

I get:

error: json: line 1: invalid character ‘Â’ looking for beginning of object key string

[2017-11-25 17:46] jpbetz commented on #56061
We also can reduce the number of labels used.  I’ll send out a PR tonight.

[2017-11-25 18:03] jenciso commented on #48703
Same issue in kubernetes 1.8.4 and docker 1.13.1. I tried to use the feature  `--feature-gates=LocalStorageCapacityIsolation=false` without good result. :(

[2017-11-25 18:30] jenciso commented on #48703
@jingxu97 I had to add the feature gate `--feature-gates=LocalStorageCapacityIsolation=true` in my kubelet systemd file, and the warning log dissapear.

[2017-11-25 19:00] dashpole commented on #48703
There was an actual bug in 1.7 which resulted in this log message (the original bug).  In 1.8, this message is benign, and can be ignored.
@jenciso I would not recommend enabling the local storage feature gate just to get rid of the log message.
Enabling the local storage feature gate enables the local storage feature, which allows setting requests and limits for container local ephemeral storage.

[2017-11-25 19:40] jenciso commented on #48703
@dashpole Thanks!  I will remove the feature gate, despite I'm using 1.8.4, I will wait the fix #55338 to see disappear the warning message, meanwhile I'm waiting for the 1.8.5 version to release. Thanks!

[2017-11-25 20:10] icereval opened #56371 "GCP: Security w/ Internal Load Balancer Firewall"
/kind bug

**What happened**:

GCP Internal Load Balancer configures a firewall exception w/ source ip of `0.0.0.0/0` by default. This allows internet traffic to attempt connections to these ports on the internal k8s host machines.

**What you expected to happen**:

The service configures an Internal Load Balancer would specify firewall rules for the current VPC (or error and require the user to i

[2017-11-25 20:19] icereval commented on #56371
@kubernetes/sig-gcp-bugs

[2017-11-25 20:33] drnic opened #56372 "Support process substitution for config set-cluster --certificate-authority"
/kind bug

**What happened**:

I attempted to use process substitution to pass my root certificate as a file descriptor to `--certificate-authority` flag:

[code]

But I think its quietly being ignored and not placed in `~/.kube/config`.

Instead, I had to create a temporary file on the local disk and store the certificate value in it, then pass that path to `--certificate-authority=${ca_tmp_path}

[2017-11-25 20:59] rajasaur commented on #48677
Im trying to do the same as what this issue is talking about.

But I dint understand @kevtaylor's comments about using an init-container to solve this. I have a init-container that can reference the pod's name(using env) and create a subdirectory in NFS specific to the pod , but how do I mount that subdirectory into my container. Should I use a postStart script to symlink the directory?

[2017-11-25 21:35] jhorwit2 commented on #51255
As @MrHohn mentioned, this is expected. The load balancer will contain all the available nodes regardless of what `externalTrafficPolicy` is set to so there is no need to call `UpdateLoadBalancer`. The way that the load balancer knows where to send traffic when `externalTrafficPolicy` is `Local` is via the health check kube-proxy sets up on the `healthCheckNodePort`. If no pods are running on a gi

[2017-11-25 21:35] #51255 closed

[2017-11-26 01:16] tony-kerz commented on #29972
i've run into this as well with the [mongodb-replicaset](https://github.com/kubernetes/charts/tree/master/stable/mongodb-replicaset) helm chart. the pods seem to be functioning correctly, but one functional side-effect is the inability to port-forward:
[code]

[2017-11-26 04:02] danderson opened #56374 "Specified capabilities don't stick with docker + non-root container user"
**What happened**:

The following takes place on a k8s 1.8.2 cluster.

I have a Docker container image that wants to listen on :80, and specifies a non-root USER. To get this running, in my pod spec the container has the following security context:

[code]

When I schedule this pod on the cluster, the container fails to bind to :80 (permission denied), and goes into a crashloop. Note that Kubernet

[2017-11-26 04:05] danderson commented on #56374
Taking a guess that this is the domain of the node SIG...

@kubernetes/sig-node-bugs

[2017-11-26 04:18] danderson commented on #56374
Ah, late-breaking news from Slack is that I failed to remember the surprising way in which Linux capabilities work. Because the ambient capabilities mask is not set, switching away from the root user clears all capabilities, and the binary in the container image must have the capability bits set via `setcap` to regain those capabilities.

So, I guess this bug could also be a feature request: pleas

[2017-11-26 09:23] knightXun opened #56376 "The kubernetes version is now 1.8, this script maybe out-of-date."
https://github.com/kubernetes/kubernetes/blob/e640521f015300f63b55e800e52e2b583bbc9b1a/cluster/windows/kube-startup.ps1#L36

[2017-11-26 09:52] nikox94 commented on #35637
My WIP merge request can be found here: https://github.com/kubernetes/federation/pull/155
It's **not** yet ready for final review.

[2017-11-26 10:18] knightXun commented on #56215
I meet this error too. I use online yaml tools to validate my yaml, it parsed.
here is my yaml content:
[code]

[2017-11-26 11:38] wojtek-t commented on #56061
@jpbetz - histograms are relatively cheap. So if these are causing that much overhead, we have really a lot of difference labels there.
But I've quickly skimmed your PR and you seem to be also using `SummaryVec` - from my experience this is pretty expensive. And my guess is that it may be causing majority of this memory increase.

[2017-11-26 11:41] kontainerschiff commented on #54610
Thanks for the hint, but this ist not working for azurefiles Volume, because it's not a usual PVC and a dedicated Volume mount Parameter, without the possible of fsgroup and fsuid. Would be trivial to fix, because it's a regular cifs 3.0 mount in the Background...

[2017-11-26 13:11] andyzhangx commented on #54610
@kontainerschiff you can set uid, gid in mountOptions, the code is already in v1.9.0, you can set file_mode and dir_mode in mountOptions too, see below example:
[code]

[2017-11-26 13:13] naikabhay commented on #51764
Hello.

I am using 1.8.4 and still I am getting the same error while deleting the deployment.

[2017-11-26 13:36] afirth commented on #19113
I think this is done by @therc? https://kubernetes.io/docs/concepts/containers/images/#using-aws-ec2-container-registry and https://github.com/kubernetes/website/pull/2359

[2017-11-26 15:02] kontainerschiff commented on #54610
Thanks a lot. But this storage class is not used..
volumes:
      - name: azure
        azureFile:

[2017-11-26 15:15] varuntalus commented on #56165
**_Kubernetes Cluster:_**

We have set-up a cluster of 3 VMs. 1 is master and other two are working as worker nodes. These VMs are part of the private cloud and there is no direct internet access available on these machines.

On cloud gateway we have set ingress\egress\security group where we mentioned the port ranges to be available for the cluster to work. We have also mentioned the ports for ou

[2017-11-26 15:36] JiangtianLi commented on #55031
@marono I build kubelet.exe from master HEAD and patched to Server Core 1709 deployed by ACS-Engine. GetPhysicallyInstalledSystemMemory worked fine. Did you have any finding? Also what is the go version you used to build kubelet.exe?

[2017-11-26 17:00] ijumps opened #56379 "glusterfs endpoint/svc name and labels should no more than 63 characters"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

If I use glusterfs provisioner with a pvc name more than 63 characters, provision will fail

the pvc like this:

[code]

and got those events:

[code]

**What you expected to happen**:

The pv should be created if pvc name length is allowed (even more than 63 characters)

**How to reproduce it (as minimally an

[2017-11-26 17:20] ijumps commented on #56379
/sig storage

[2017-11-26 18:01] yue9944882 opened #56381 "Allow modification of existing pod labels on the fly via configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig validation

**What happened**:

Kubernetes forbids updating on existing pod's labels on the fly. But in my case, I want to update a pod's label so that add/remove it from service/endpoints. Is it possible to only suppress the validation of pods' label field via configuration without modifying [k8s validation src code](https://github.com

[2017-11-26 19:50] uday1bhanu commented on #55278
HI @arun-gupta,
I think this might have been fixed with 1.8.0 version. I tried the same pod spec with minikube(**v1.8.0**) and the `kubectl get pod/nginx-pod -o jsonpath={.status.qosClass}` shows **BestEffort** as expected.

[2017-11-26 20:34] anguslees commented on #49867
On Tue, 19 Sep 2017, 22:18 Mathieu Velten <notifications@github.com> wrote:

I'm thinking of things like changing the neutron port IP and the effect
that downstream caching has on that transition.  See this thread  for how
this problem affected neutron itself:
http://lists.openstack.org/pipermail/openstack-dev/2015-January/055360.html

[2017-11-26 20:44] smarterclayton commented on #55934
The kubelet is the only process allowed to force delete pods.  Please read the [pod safety design](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/pod-safety.md) for a deeper explanation why.

[2017-11-26 21:11] smarterclayton commented on #54511
I think we are interested in this, but we have no plans to use the
self-hosted etcd HA approach that kubeadm has, so while I agree with the
general concept, I'd prefer to do it with something that we actually
consider supportable.  I have serious reservations about self-hosting etcd
in the long term given the potential failure modes and complexity above and
beyond a static cluster.

So in the shor

[2017-11-27 00:42] #56224 closed

[2017-11-27 00:52] shun-miyoshi-com commented on #56275
According to your `docker ps` log, kube-apiserver does not wake up, so contloller-manager could not access to apiserver(dial tcp 10.0.140.245:6443: getsockopt: connection refused)
It is not network problem.

Kubernetes repeats the following loop,
  create -> crash(because of error) -> wait 30s -> cleanup -> wait -> recreate -> ...

So, please try multiple `docker ps | grep kube-apiserver` in order

[2017-11-27 01:18] FengyunPan commented on #56313
@hongli-my Can you show me the logs about this issue from kube-controller-manager service?

[2017-11-27 01:45] FengyunPan commented on #50004
Sorry for the delay.
IMO, I have fixed this issue in cloud provider, the logic of attach_detach_controller attachs volume and detachs volume regularly. When attach_detach_controller attachs volume before detach volume, we will get "Warning  FailedMount". And when attach_detach_controller have do a detach, but the status of volume is detaching, we also get "Warning  FailedMount".

OTH, we should do

[2017-11-27 01:57] jiaxuanzhou commented on #56272
@m1093782566 what's ur opinion?

[2017-11-27 02:02] m1093782566 commented on #56272
cc @resouer @feiskyer

Any comments?

[2017-11-27 02:04] chinajuanbob opened #56383 "Hit "cp: illegal option -- t" while making etcd image in macOS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
hit "cp: illegal option -- t" while making etcd image in macOS

**What you expected to happen**:
etcd image created correctly

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**: macOS
- Kubernetes version (use `kubectl version`): master branch c

[2017-11-27 02:08] chinajuanbob commented on #56383
/kind bug

[2017-11-27 02:10] resouer commented on #56272
I think the eviction event is properly recorded, or I misunderstood something here. e.g. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L575

[2017-11-27 02:21] fisherxu commented on #56339
/cc @thockin @saad-ali @rootfs @jsafrane @pmorie If the host_path don't exist, now we allow docker to create it and then create pod successfully. But if also have subpath and host_path don't exist, it will return error and pod created failed. **The previous case should also return an error**？

[2017-11-27 02:25] gyliu513 commented on #55934
ok, I see, thanks @smarterclayton and @gmarek , I will close this one as we already have document for the behavior.

[2017-11-27 02:25] #55934 closed

[2017-11-27 02:32] jiaxuanzhou commented on #56272
@resouer
yes ,this line records that kubelet is preparing to do the eviction ,but  the pod is successfully evicted or not is not recorded ,please see here :
https://github.com/kubernetes/kubernetes/blob/e7ad6e60081887d67b987cb0429b52c5a4ff878c/pkg/kubelet/eviction/eviction_manager.go#L579
and
https://github.com/kubernetes/kubernetes/blob/e7ad6e60081887d67b987cb0429b52c5a4ff878c/pkg/kubelet/evictio

[2017-11-27 02:41] tengqm commented on #54088
I believe #55382 has implemented this. #56040 is a next step, not blocker.

[2017-11-27 02:44] hzxuzhonghu commented on #56272
Also find evict failed return true ?

[2017-11-27 02:50] jiaxuanzhou commented on #56272
@hzxuzhonghu we can not figure out whether the pod was evicted successfully or not just due to the events.

[2017-11-27 02:52] patrickshan opened #56385 "apiserver uses wrong CommonName to verify service certificates for aggregated API Server when External admission controller is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After you configured webhook admission controller (ExternalAdmissionHookConfiguration) inside your cluster pointing to a service, apiserver will try to verify your new APIService certs against that admission controller service's Common Name.
For example, a webhook admission controller is registered inside the cluster poin

[2017-11-27 02:55] stewart-yu commented on #56272
return bool and  err better? @hzxuzhonghu

[2017-11-27 02:57] tengqm commented on #52441
Any evidence leading to your conclusion that the default storage class is invoked?
If I'm understanding this correctly, users are not encouraged to explicitly set `storageClassName` to anything (including empty string). This is for portability of the manifests, and it ensures that the default storage class is effected.

[2017-11-27 02:58] hzxuzhonghu commented on #56272
@jiaxuanzhou  @stewart-yu I mean when failed to evict , it also return true. I think it is not appropriate.

[2017-11-27 03:09] stewart-yu commented on #56272
yes, so i think it return err also to distinguish evict's result.

[2017-11-27 03:20] xujieqwe commented on #56320
we find use 127.0.0.1:nodeport can make things very convenient.
In our working envrionment, we have alreay exposed an docker image hub service and use 127.0.0.1:nodeport to pull docker images.

If there will be a flag to kube-proxy specifying which nodeport IP range to use. I think we should first make sure that all the "Local IP:nodeport" could be accessible, then users can choose which ip they w

[2017-11-27 03:29] dixudx commented on #56253
@djsly AFAIK, `gcr.io` does not support [Image Manifest Version 2, Schema 2](https://docs.docker.com/registry/spec/manifest-v2-2/) currently.

[2017-11-27 03:29] dixudx commented on #56253
/cc @ixdy FYI

[2017-11-27 03:31] dixudx commented on #56383
/sig release

[2017-11-27 03:35] dixudx commented on #56379
dup of #53939.

[2017-11-27 03:36] dixudx commented on #56379
/cc @gyliu513 @msau42

[2017-11-27 03:58] ash2k commented on #56385
`testapiservice` is actually Service Catalog api server in our case. The errors I'm seeing in the Service Catalog's apiserver logs are all like this line:
[code]
I.e. the Aggregation layer is failing to establish TLS connection with service catalog's api server.

Error from Service Catalog's controller manager pod:
[code]
Controller Manager is trying to talk to the Service Catalog's apiserver via

[2017-11-27 04:01] ash2k commented on #56385
@kubernetes/sig-api-machinery-bugs

[2017-11-27 04:14] resouer commented on #55587
@shenlanse What's your Kubernetes version may I ask?

[2017-11-27 04:15] dfang commented on #33179
@nkwangleiGIT +1

[2017-11-27 04:43] shenlanse commented on #55587
@resouer v1.3.5.  After checking scheduler implementation of v1.8, I think this problem still exists.

[2017-11-27 04:55] gyliu513 commented on #56379
/assign

/close

Thanks @dixudx I think that we can close this one.

[2017-11-27 04:55] #56379 closed

[2017-11-27 05:31] liggitt commented on #56385
@deads2k @caesarxuchao

[2017-11-27 05:33] liggitt commented on #56381
Pod label updates are allowed. Changes under spec are not allowed. What admission plugins do you have enabled?

[2017-11-27 05:44] liggitt commented on #56385
/priority critical-urgent

[2017-11-27 05:46] liggitt commented on #56385
Is this reproducible against master?

[2017-11-27 05:52] yue9944882 commented on #56381
@liggitt
Following admission is enabled

[2017-11-27 05:58] jpbetz commented on #56061
Thanks @wojtek-t. That's a useful insight. I'll remove the `SummaryVec` entirely from all but the top level metric.

[2017-11-27 06:11] anguslees commented on #52378
The openstack cloud provider contains deeply embedded assumptions that the node name == instance name.  Just warning that changing the instance name on the fly is not going to work down through the k8s/kubelet stack, even with this change.

[2017-11-27 06:14] porridge commented on #56061
@wojtek-t can you please approve for milestone?

[2017-11-27 06:29] anguslees commented on #12083
The original bug was fixed (a long time ago - #18829 in k8s v1.2) by adding the code pointed to above that checks for `OS-EXT-IPS:type=floating` afaics, and we should close this.

Since then we've had very few complaints/requests around the remaining logic.  I'm not sure what that says about the state of the world (or our approachability), but I'm reluctant to discuss adding more complexity here w

[2017-11-27 06:46] porridge opened #56391 "fluentd-gcp:2.0.9 "layer does not exist" on just one node"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-node-bugs
/priority failing-test
umbrella bug: #56062

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/231 failed with:
[code]

Looking closer, [that particular kubelet](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gc

[2017-11-27 06:47] andyzhangx commented on #54610
I have cherry-pick this mountOptions feature to v1.8, see: https://github.com/kubernetes/kubernetes/pull/56384
Seems you are using azure file static provisioning, here is an example:
https://github.com/andyzhangx/Demo/blob/master/linux/azurefile/azurefile-mountoptions.md#set-mountoptions-in-static-provisioning-for-azure-file-support-from-v150
[code]

BTW, set the dir_mode & file_mode as 0700 is re

[2017-11-27 07:00] wojtek-t commented on #56061
Approved - though, the PR fixing it is already queued in the submit queue, so should be merged pretty soon.

[2017-11-27 07:06] porridge commented on #55589
New failure in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8299. From the following log it seems like the whole certificate setup took less than 23 seconds, which strongly suggests that https://pkg.cfssl.org/R1.2/cfssl_linux-amd64 returns the HTML error document instead of the binary with an HTTP success code - otherwise 10 curl retries wi

[2017-11-27 07:13] porridge commented on #56061
ACK.  In progress
ETA: Today
Risks: none

[2017-11-27 07:19] porridge commented on #56293
It did repeat:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8316

[2017-11-27 07:27] hzxuzhonghu commented on #56357
@liggitt Seen from https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/configuration/mutating_webhook_manager.go#L55 , we can see the admission configuration manager using poller to sync configuration from apiserver.

But may be a shared informer is better.  If agree, I can fix it.

[2017-11-27 07:28] CaoShuFeng opened #56393 "k8s.io/kubernetes/pkg/apis/core/validation TestValidatePersistentVolumeClaimUpdate flakes"
[code]

[2017-11-27 07:28] CaoShuFeng commented on #56393
/assign

[2017-11-27 07:46] resouer commented on #55587
The prerequisites is you need to stop scheduler before `podInformer` watched pod delete happens. If it's true, this use case is not likely worth fixing ... it's expected.

[2017-11-27 07:48] jiaxuanzhou commented on #56272
@stewart-yu @hzxuzhonghu the return value(always return true) is another case of arch design

[2017-11-27 07:48] porridge commented on #55194
FWIW, we got a [first ever green run of gce-scale-correctness](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/37).
I wouldn't close this bug yet, though, one swallow does not a summer make.

[2017-11-27 07:54] dixudx commented on #56339
@lcfang @fisherxu  I've already enabled this feature since v1.8. You can specify a type [DirectoryOrCreate](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath) in `hostpath` to create the path if not existed.

What if we let `initContainers` create the subpath? I don't think we should make a more strict check for `hostpath` and `subpath` here.

If the `hostpath` does not exist, there is

[2017-11-27 08:05] #56061 closed

[2017-11-27 08:21] porridge commented on #56139
/close
In favor of #56142

[2017-11-27 08:21] #56139 closed

[2017-11-27 08:21] porridge commented on #56142
Something similar (but waiting for pods to become inactive happened to density tests in:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8368
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/210

[2017-11-27 08:31] porridge opened #56397 "Timeout scaling RC up in 100-node load test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
@kubernetes/sig-scalability-bugs
/priority failing-test
Umbrella issue: #56062

**What happened**:
Load test in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8368 failed with:
[code]

Looking at the log, there was another similar failure at that time and some `context deadline exceeded`

[2017-11-27 08:53] porridge commented on #56332
FWIW, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/37 succeeded, guys can you take a look at how node setup went and close this bug if there are no red flags?

[2017-11-27 09:01] tengqm commented on #56159
So we are assuming that users will know that memory consumed by tmpfs will be accounted into container's memory usage thus increase the limit accordingly?
Do we have an idea of how much performance gain are we expecting?
My current assumption is that the checkpoint data won't be accessed frequently.

[2017-11-27 09:07] feiskyer opened #56399 "Document None dns policy clearly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Needs to indicate that `None` dns policy is controlled by a feature gate and by alpha. It also needs to note that only 1.9 or later Kubernetes servers will allow the None value.

Needs to be fixed for 1.9 so that public API documentation is correct.

Refer https://github.com/kubernetes/kubernetes/pull/55848#discussion_r1

[2017-11-27 09:17] shenlanse commented on #55587
@resouer It has nothing to do with 'stop kube-scheduler'. kube-apiserver restarted or exit unnormally will resulting in this problem  possibly.

[2017-11-27 09:27] fisherxu commented on #56339
@dixudx  Thanks for kindly reply :)

now if hostpath don't exist, then I set subpath and must also set the **DirectoryOrCreate**. But if don't set subpath, **DirectoryOrCreate** isn't must be... Just a little odd...

[2017-11-27 09:46] kawych commented on #55805
According to my understanding, this is still not fixed, I think that HPA should be able to read custom metrics without creating additional cluster role and cluster role binding.

@liggitt @mwielgus @DirectXMan12 - is it correct? Or, if the current behaviour is intended, can you please explain why do we have cluster role and cluster role binding "system:controller:horizontal-pod-autoscaler"?

[2017-11-27 09:50] rmohr commented on #56348
Going through the logs, I see errors like:

[code]
which are emitted from `k8s.io/apimachinery/third_party/forked/golang/json/fields.go`. Can it be that the issue is the patch operation on the CRD? I think I remember that at least on TPRs there were some issues around patch operations.

[2017-11-27 09:50] ensonic opened #56402 "kubernetes should adhere to the "XDG Base Directory Specification""
/kind feature
/sig cli

**What happened**:
On linux several directories and files are created under `~/.kube/`:
[code]

**What you expected to happen**:
Essentially the `~/.kube/cache` should go to `~/.cache/kube/` and the configs to `~/.config/kube/`.
For details see
https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

**Anything else we need to know?**:
The xdg setup eases ma

[2017-11-27 09:52] resouer commented on #55587
Yeah, I meant apiserver, the idea stands.

[2017-11-27 09:56] nikhita commented on #56348
This type of error is emitted for a strategic merge patch. Were you trying to do a strategic merge patch on custom resources?

[2017-11-27 10:05] rmohr commented on #56348
Yes indeed. Got it: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/operations.go#L102. The garbage collector tries to perform a strategic merge patch on the CRD to remove the owner reference. Maybe we can make strategic merges work for metadata of CRDs, since at least the metadata is well known to k8s.

[2017-11-27 10:27] shenlanse commented on #55587
Ok， thanks. Close it.

[2017-11-27 10:27] #55587 closed

[2017-11-27 10:28] roffe commented on #55649
On 1.8.4 now and no change.
[code]

[2017-11-27 10:40] tnozicka commented on #56355
/status in-progress

[2017-11-27 10:43] Dieken commented on #55677
my plan B to update /etc/hosts on host OS doesn't work,  PODs lookup DNS through host /etc/resolve.conf,  not /etc/hosts.

Currently I just let those 3 k8s master nodes tolerate 1/3 chance to get timeout connecting to SLB, if one node is down, it comes to 1/2 chance, very dirty :-(

[2017-11-27 10:55] xingxing9688 commented on #26309
I  have  encountered  this   problem,how    do  you solve   the  final

[2017-11-27 11:13] antoineco commented on #53791
@sttts @dims sorry for taking so long to investigate.

Now that I got more familiar with `glog` I understand what you meant with `--alsologtostderr` and `--logtostderr`: the level of verbosity doesn't matter because `glog` writes everything to temp files and nothing to stdout/err by default.

I figured most projects I've been using set `flag.Set("logtostderr", "true")` explicitly, which makes a lo

[2017-11-27 11:27] sandylss commented on #56148
@dixudx hi~
I found something new,I command` kubeadm init --kubernetes-version v1.8.1 --skip-preflight-checks --apiserver-bind-port 6444`
then the `kubelet logs` show as follows

Is this the reason?

[2017-11-27 11:29] sttts commented on #53791
Yes, would be great. Please use https://github.com/kubernetes/kubernetes/pull/56403 as the base.

[2017-11-27 11:29] antoineco commented on #7856
@bgrant0607 the pages you referenced in the issue description have moved to

- https://github.com/kubernetes/community/blob/930ce655/contributors/devel/api-conventions.md#spec-and-status
- https://github.com/kubernetes/community/blob/930ce655/contributors/design-proposals/architecture/principles.md

[2017-11-27 11:45] m1093782566 opened #56404 "Should test ipvs proxy mode when feature gateway set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Currently, IPVS-based kube-proxy is protected by feature gateway and there is no UT for it. We should test ipvs proxy mode when feature gateway is set.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use

[2017-11-27 12:33] cseeger-epages commented on #54542
Nov 02 15:12:02 kubernetes-master kubelet[2308]: error: unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory

ca missing ?

[2017-11-27 12:59] sbezverk commented on #56309
@like-inspur which version of kubernetes you are using? The support for secret in a different namespace got merged about 2 weeks ago. If you are using older than that version, it will not work.

[2017-11-27 13:06] irfanurrehman commented on #15675
This was done by automation which looked for issues exclusively marked with label sig-multicluster. This sounds valid to mean and could not notice this earlier as was out of office. Am closing the linked issue in kubernetes/federation.

[2017-11-27 13:12] jsafrane commented on #49625
Every cloud provider has different features that cannot be easily abstracted by a generic interface. The closest abstraction we have are volume plugins. Anything behind volume plugin interface is heavily cloud dependent.

Current sig-storage plan is to move every volume plugin out of Kubernetes and use CSI for everything. So CSI should be the abstraction interface here.

[2017-11-27 13:28] ensonic commented on #56402
/sig cli

[2017-11-27 13:37] mattjmcnaughton commented on #56335
Hi @rsd35410! Cool idea!

Just a couple of clarifying questions to make sure I'm understanding. Currently, its possible to specify the `HorizontalPodAutoscalerUpscaleForbiddenWindow` and `HorizontalPodAutoscalerDownscaleForbiddenWindow` when creating the `HorizontalController`. I believe changing these settings would give you control over the "scale-up/scale-down" intervals you mention. However, t

[2017-11-27 13:40] bainim commented on #56215
Thank you for your response, yes it can be , but i tryed to verify the ip adresse and i found that its chaged , i'm working on virtual machine that why , so bu that way , the first time it can't found the adressse that it will be user to connect or to contact the slave.

[2017-11-27 13:48] shyamjvs commented on #56332
Yeah.. that looks normal. The cluster validation didn't take long:

[code]

The time b/w the first node and the last node's CIDR assignment (and also networkUnavailable status update (which is now being retried)) is ~5.5m:

[code]

Ginkgo did seem to wait for ~10m before starting the parallel nodes (which iirc is due to some BeforeSuite actions), but that seems ok.
Closing this... we can reopen it

[2017-11-27 13:48] #56332 closed

[2017-11-27 13:53] mattjmcnaughton commented on #56165
Glad to hear you got this working, @varuntalus !

Here is my best effort at answering your questions:

1-2. I'm not positive... sorry :( I'd recommend checking out #sig-autoscaling in the kubernetes slack.
3. Do you mean there is a 1-2 min delay in seeing auto-scaling impact metric levels on your pods? If so, I'd say that's fairly expected. When k8s triggers an auto-scaling event, it sets the desi

[2017-11-27 14:00] dcparker88 commented on #34978
@VinceMD I'm starting more and more testing as well - and I am not using a StatefulSet. Part of that reason is I am using Spinnaker to deploy, and ours doesn't have support for SS yet. I'm basically creating my own SS:

* I'm creating 3 different deployments, with 1 pod each (for a total of 3 pods)
* Each of these has a hostpath volume that is statically defined (/data/node1, /data/node2, etc)
* t

[2017-11-27 14:01] spiffxp commented on #55194
Commenting here for posterity's sake.  I agree that we got a green run.  Annoyingly, testgrid's summary tab still shows the job as failing.  This is because it's looking back [`num_columns_recent: 10`](https://github.com/kubernetes/test-infra/blob/master/testgrid/config/config.yaml#L20) to determine if a previously failing test has passed.  There doesn't appear to be any way to tell testgrid to co

[2017-11-27 14:07] spiffxp commented on #56091
Now waiting on https://github.com/kubernetes/kubernetes-anywhere/pull/491

[2017-11-27 14:09] spiffxp commented on #56052
I'm adding this to the milestone and renaming to match the other job failure issues I'm using for release-master-blocking jobs, if you'd rather I open a separate issue let me know

[2017-11-27 14:10] spiffxp commented on #56052
/priority critical-urgent
/priority failing-test
/status approved-for-milestone
FYI @kubernetes/sig-scalability-test-failures

[2017-11-27 14:16] yastij commented on #49625
I see. Does any issue exists to track such work ?

[2017-11-27 14:18] rsd35410 commented on #56335
Hi @mattjmcnaughton

Yes, my idea is to have multiple autoscalers in the same cluster with possibly different 'custom metrics' and so with different updscale and downscale forbidden windows for each.

For my second suggestion, I will try to explain my use case:
I have developped an application with my own 'custom metric' which is more or less a number of 'jobs' in a message queue.
So, according to

[2017-11-27 14:22] spiffxp opened #56412 "[e2e failure] [sig-storage] PersistentVolumes-local [Feature:LocalPersistentVolumes] [Serial] when StatefulSet has pod anti-affinity should use volumes spread across nodes"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-storage-test-failures

This test has been failing since 2017-11-22 in [gci-gce-alpha-features](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features) which is on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocki

[2017-11-27 14:24] tomplus commented on #47992
Can we extend definition of _hostname_ from https://github.com/kubernetes/dns/blob/master/docs/specification.md by adding step where a name of Pod can be used if a namespace is the same ?

---
_hostname_
  - In order of precedence, the _hostname_ of an endpoint is:
    - The value of the endpoint's `hostname` field.
    - A name of Pod if a Pod and a Service are in the same namespace.
    - A uniq

[2017-11-27 14:25] spiffxp commented on #56239
/close
This appears to have been an unfortunate string of flakes.  Most recent run is green https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/10385 as are the two prior

[2017-11-27 14:25] #56239 closed

[2017-11-27 14:28] spiffxp commented on #56412
/remove-area platform/gke
bad copy-pasta

[2017-11-27 14:44] liggitt commented on #56348
@caesarxuchao this should use a merge patch, not a strategic merge patch

[2017-11-27 14:50] spiffxp opened #56414 "[e2e failure] [sig-cli] Kubectl client [k8s.io] Kubectl describe should check if kubectl describe prints relevant information for rc and pods [Conformance]"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-cli-test-failures

This test has been failing since at least 2017-11-23 in the following jobs:
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-master
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-cluster-parallel
- htt

[2017-11-27 14:50] porridge commented on #56052
ACK. In progress.
No ETA.

[2017-11-27 14:51] kylegato commented on #45976
@jsravn I know for my HTTP app pods I had to add a "sleep 15" pre-Stop hook in order to do zero downtime deploys. https://github.com/kubernetes/ingress-nginx/issues/322#issuecomment-298016539

[2017-11-27 14:53] djsly commented on #56253
Im not sure which exact version x schéma X is needed.

What I know is that we can download through the proxy/cache all other Kubernetes kube-system images, only the pause image is giving us trouble.

Therefore, I would say that having the image available using the same format as the other kube-system images would be the request here.

[2017-11-27 14:59] liggitt commented on #56385
looks like the tls transport cache key construction doesn't include ServerName

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/transport/cache.go#L84-L92

[2017-11-27 14:59] liggitt commented on #56385
should be updated, picked back to the point where ServerName was added

[2017-11-27 15:00] spiffxp commented on #54574
/reopen
FYI @kubernetes/sig-autoscaling-test-failures now that some of the upgrade jobs have been fixed, I'm seeing this again in a number of jobs:
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-master
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-cluster
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-g

[2017-11-27 15:00] msau42 commented on #56412
This is a new test that was added for a 1.9 alpha feature but actually exposed a bug with a different 1.8 alpha feature.  Some discussion in #56265.

Since this seems to be a bug introduced in 1.8, I'm not sure if it needs to block 1.9.

cc @resouer

[2017-11-27 15:01] dims commented on #56038
/sig testing
/area build-release

[2017-11-27 15:01] spiffxp commented on #54574
/remove-priority important-soon
/priority critical-urgent

[2017-11-27 15:02] dims commented on #56056
/sig network

[2017-11-27 15:02] dims commented on #56122
/sig node

[2017-11-27 15:03] dims commented on #56152
/sig node

[2017-11-27 15:03] dims commented on #56157
/area build-release
/sig testing

[2017-11-27 15:05] dims commented on #56275
cc @luxas

@phungleson can you please move this to https://github.com/kubernetes/kubeadm/issues?

/sig cluster-lifecycle

[2017-11-27 15:05] liggitt commented on #56385
Opened https://github.com/kubernetes/kubernetes/pull/56415 to resolve

[2017-11-27 15:06] dims commented on #56215
/sig api-machinery

[2017-11-27 15:06] dims commented on #56278
/sig api-machinery

[2017-11-27 15:06] dims commented on #56304
/sig network

[2017-11-27 15:07] dims commented on #56346
/sig testing
/area build-release

[2017-11-27 15:07] dims commented on #56372
/sig cli

[2017-11-27 15:07] dims commented on #56376
/sig windows

[2017-11-27 15:08] dims commented on #56381
/sig api-machinery

[2017-11-27 15:08] dims commented on #56393
/sig storage

[2017-11-27 15:08] spiffxp opened #56416 "[e2e failure] [k8s.io] [sig-apps] Network Partition [Disruptive] [Slow] [k8s.io] Pods should return to running and ready state after network partition is healed All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mark back to Ready when the node get back to Ready before pod eviction timeout"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-apps-test-failures

This test has been failing since at least 2017-11-13 in the following jobs:
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-master
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-cluster

These jobs a

[2017-11-27 15:18] luksa opened #56417 "OpenAPI aggregation not updating references to renamed definitions"
When merging two openapi schemas with conflicting definitions of the same object, the openapi aggregator renames one of the objects, but doesn't update the references (`$ref`) to that object. This leads to the merged schema being incorrect.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I had one aggregated API server serve a different definition of the `RawExtension

[2017-11-27 15:19] spiffxp commented on #56241
/close
While the job itself is no longer failing, individual test cases are.  Filing or linking issues for those separately.

[2017-11-27 15:19] #56241 closed

[2017-11-27 15:20] spiffxp commented on #56242
/close
While the job itself is no longer failing, individual test cases are.  Filing or linking issues for those separately.

[2017-11-27 15:20] #56242 closed

[2017-11-27 15:20] spiffxp commented on #56243
/close
While the job itself is no longer failing, individual test cases are.  Filing or linking issues for those separately.

[2017-11-27 15:20] #56243 closed

[2017-11-27 15:21] luksa commented on #56417
/sig api-machinery

[2017-11-27 15:23] liggitt commented on #56372
We're using the standard library `io.ReadFile` method to read the file contents:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/config/create_cluster.go#L133

Debugging, I see the expected filename come into kubectl, but io.ReadFile returns `[], nil`... no content, but no error, which is extremely odd.

[2017-11-27 15:29] rphillips commented on #56234
I bumped the coreos image... going to see if it clears up the flake

[2017-11-27 15:36] liggitt commented on #56357
this should definitely be using an informer

[2017-11-27 15:38] ironcladlou commented on #56262
TestMixedRelationships flake looks like a failure  to discover custom resource types registered during the test. Investigating.

[2017-11-27 15:38] sbezverk commented on #56412
@msau42 Curious if for https://github.com/kubernetes/kubernetes/issues/56265
you observe the same failure in kubelet log.

W1122 20:59:45.133477    1454 predicate.go:94] Failed to admit pod fluentd-gcp-v2.0.10-g7pvq_kube-system(11737a80-cfc8-11e7-90e2-42010a800002) - Unexpected error while attempting to recover from admission failure: preemption: error finding a set of pods to preempt: no set of r

[2017-11-27 15:39] spiffxp opened #56422 "[e2e failure] [sig-cluster-lifecycle] Upgrade [Feature:Upgrade] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
/area platform/gke
@kubernetes/sig-cluster-lifecycle-test-failures
owns the test
@kubernetes/sig-gcp-test-failures
this looks GKE-specific
@kubernetes/sig-node-test-failures
for the AppArmor cluster

This test has been failing since at least 2017-11-13 for the following jobs:
- https://k8s-testgrid.appspot.co

[2017-11-27 15:39] cmluciano opened #56423 "Deprecate v1beta1 network policy"
NetworkPolicy v1 will be the default in 1.9. We can now mark [v1beta1](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/extensions/v1beta1/types.go) as deprecated.

- [x] Mark field types as deprecated #56425
- [x] Add deprecation note to release notes in 1.9
- [x] Send announcement to kube-dev, kube-announce, and sig-net mailing lists

[2017-11-27 15:41] jonhosmer commented on #55418
@mattjmcnaughton The CoreOS node restarted on it's own due to an automatic system update
[code]

We actually figured out what the problem was here.  All 3 of our master nodes had <10% Free Disk space due to the Kubernetes API server logs (which were well over 20G) and `kops` not installing log rotate (https://github.com/kubernetes/kops/issues/2710).  All HPAs started working again the moment all 3

[2017-11-27 15:43] gnufied commented on #56192
@saheienko you are correct that Heketi allocates in chunks of GiBs but it documents incorrectly about it.  I have filed a bug with them - https://github.com/heketi/heketi/issues/915

In the meanwhile, I will open a PR for fixing it. Volume resizing has to be fixed to take into account GiB allocation as well.

[2017-11-27 15:44] hmarcelodn commented on #47960
@enisoc we are experiencing the same issue at production suddenly. Is there any real solution for this?

[2017-11-27 15:44] spiffxp opened #56426 "[e2e failure] [sig-cluster-lifecycle] Downgrade [Feature:Downgrade] cluster downgrade should maintain a functioning cluster [Feature:ClusterDowngrade]"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
/area platform/gke
@kubernetes/sig-cluster-lifecycle-test-failures
owns the test
@kubernetes/sig-gcp-test-failures
this looks GKE-specific

This test has been failing since at least 2017-11-13 for the following jobs:
- https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.8-downgrad

[2017-11-27 15:45] hmarcelodn commented on #47959
Same issue with the following versions:

Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3", GitCommit:"2c2fe6e8278a5db2d15a013987b53968c743f2a1", GitTreeState:"clean", BuildDate:"2017-08-03T07:00:21Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71f

[2017-11-27 15:45] hmarcelodn commented on #47960
@enisoc

Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3", GitCommit:"2c2fe6e8278a5db2d15a013987b53968c743f2a1", GitTreeState:"clean", BuildDate:"2017-08-03T07:00:21Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71f08ada2", GitTreeState:"clean", B

[2017-11-27 15:51] hmarcelodn opened #56427 "Invalid value: "foregroundDeletion": name is neither a standard finalizer name nor is it fully qualified"
We have a full cluster running in production and suddenly it stopped working with the following error:

My current cluster version is:

[code]

On the other hand, we cannot deploy either. The following message appear when kubectl is trying to deploy:

Any help on this?

[2017-11-27 15:53] luksa opened #56428 "Object definitions in OpenAPI schema are incorrect"
The definitions of the API resources in the OpenAPI schema lack the `type: object` property. For example, the definition of the `PersistentVolumeSpec` is this:
[code]
NOTE there's no `type: object` field.

The definition of `PersistentVolume` references `PersistentVolumeClaimSpec` like this:
[code]

Because there's no `type: object` constraint in the `PersistentVolumeClaimSpec` definition, the end

[2017-11-27 15:54] luksa commented on #56428
/sig api-machinery

[2017-11-27 15:55] spiffxp opened #56429 "[e2e failure] [sig-scheduling] ResourceQuota should create a ResourceQuota and capture the life of a ..."
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
/area platform/gke
@kubernetes/sig-scheduling-test-failures
owns the tests
@kubernetes/sig-cluster-lifecycle-test-failures
this is passing in other jobs so I'm pinging the job owner
@kubernetes/sig-gcp-test-failures
this looks GKE specific

These test has been failing since at least 2017-11-13 for the [gke-gc

[2017-11-27 15:55] jjo commented on #55150
I case it helps, I fixed a v1.8.3 -> v1.7.7 rollback downgrade with below manual
etcd entries back-conversion (note: please don't run below unless you understand
the context and consequences), from one of the etcd heads (3×etcds in HA in our case):
[code]

FYI for v1.7 -> v1.8:
* for `cronjob` it was decided to move `v2alpha1` -> `v1beta1`, which landed in v1.8 - see https://github.com/kubernetes/

[2017-11-27 15:56] cmluciano commented on #56423
/status approved-for-milestone

[2017-11-27 16:08] goblain opened #56430 "AggregationController causing API lag"
/kind bug

**What happened**:

After launching metrics-server my Kube API became unresponsive. with a lot of following in apiserver logs

    Nov 27 16:37:06 ns3033879.ip-51-255-71.eu docker[27628]: I1127 15:37:06.669483       1 controller.go:105] OpenAPI AggregationController: Processing item v1beta1.metrics.k8s.io
    Nov 27 16:37:36 kubemaster docker[27628]: E1127 15:37:36.837123       1 contro

[2017-11-27 16:28] balajismaniam commented on #52031
The results from the new periodic test job for the CPU manager node e2e test is available at https://k8s-testgrid.appspot.com/wg-resource-management#kubelet-serial-gce-e2e-cpu-manager.

[2017-11-27 16:30] juanvallejo opened #56431 "Move Printer methods in cmdutil.Factory to separate interface in separate file"
Tracking https://github.com/kubernetes/kubernetes/pull/54867#issuecomment-346254791

The point of this would be to make printer code more readable by adding a new interface (`PrinterFactory`?) to [cmdutil/Factory](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go) and implementing it in its own file, effectively splitting printer code from the `BuilderFactory` in

[2017-11-27 16:31] balajismaniam commented on #55980
The results from a periodic job for the node e2e test are available in https://k8s-testgrid.appspot.com/wg-resource-management#kubelet-serial-gce-e2e-cpu-manager.
Note that this not a gating test. The recommendation from the community was to start with a periodic job, work on stabilizing the tests in the k8s CI/CD env if required and then make it a gating test at a later time.

[2017-11-27 16:35] markine commented on #45976
@jsravn will take a look later this week.

@jsravn and @hanikesn I can state that there is /some/ correlation between DNS lookup errors and kube-dns replica scaling by kube-dns-autoscaler (cluster autoscaler is changing # nodes and kube-dns-autoscaler responds by changing # of kube-dns replicas).

[2017-11-27 16:35] goblain commented on #56430
/sig api-machinery

[2017-11-27 16:35] civik commented on #49213
So with the deprecation of this repo, where is one to find example configuration artifacts that are version controlled, and with all params defined with sane defaults for each k8s component?  The config/ repo was the closest thing I have found to this.

[2017-11-27 17:02] danehans commented on #49480
CRI-O has been updated to CNI 0.6.0: https://github.com/cri-o/ocicni/pull/1
Containerd already [supports](https://github.com/kubernetes-incubator/cri-containerd/blob/master/hack/versions#L2) CNI 0.6.0

[2017-11-27 17:05] gnufied commented on #49926
The `IncorrectState: vol-026ef055a9d715c14 is not 'available'. status code: 400"` is a transient error that happens when you try to attach a volume immediately after creating it, it goes away in half a second or so and controller will keep retrying attach.

@mattcamp are you seeing "Not available" error more than once in controller logs? Looking at kubectl output I see following message:

[code]

[2017-11-27 17:13] msau42 commented on #56265
@resouer @bsalamat I am looking through the equivalence cache unit tests, and `TestGetHashEquivalencePod` looks very suspicious.  If I understand the test correctly, as long as the OwnerReference is the same, then the pod will generate the same hash value even if the pod name is different.  That assumption does not work for statefulsets because each pod replica in the statefulset can have differen

[2017-11-27 17:22] #56347 closed

[2017-11-27 17:23] jiayingz commented on #54088
Agree with @tengqm On the other hand, because https://github.com/kubernetes/kubernetes/pull/55382 hasn't been merged yet, we probably want to remove this issue from 1.9 blocker.

[2017-11-27 17:25] vdavidoff commented on #55226
I see this, too, after updating from 1.7.2 to 1.8.4 on Ubuntu. This was reported a bunch during the upgrade process, and it's hard to make sense of what's relevant in terms of long term / non-temporary issues, but since then the only Pod that _seems_ to be causing this to occur is a short lived CronJob Pod. Although this gets logged almost every time that pod is launched, I did observe one time it

[2017-11-27 17:26] msau42 commented on #56265
Ah yes, according to #36238, it is intended behavior.  But it doesn't work for StatefulSets.  So we need to come up with a way to handle StatefulSets.

[2017-11-27 17:28] danehans commented on #42690
@dims https://github.com/kubernetes/kubernetes/pull/45551 added support for IPv6 InternalIP node addresses. This should be agnostic to cloud providers. As you can see [here](https://github.com/danehans/kubernetes/blob/7ac6fe9c5dae02a543e9b84444cc74fef8501444/pkg/kubelet/kubelet_node_status.go#L504-L508), the procees kubelet follows to select an InternalIP is as follows:

// 1) Use nodeIP if set
//

[2017-11-27 17:39] msau42 commented on #56265
One possible way is to make an exception for StatefulSets and also include the pod name when hashing.

Another possible big hammer is to invalidate all the volume predicates after `assume` and any error in `scheduleOne`, so essentially volume predicates are never cached.

[2017-11-27 17:51] dashpole commented on #56122
/close via #56109

[2017-11-27 17:51] #56122 closed

[2017-11-27 17:53] msau42 commented on #52441
I concluded that the default storage class was invoked because:
1. The yamls don't mention storage class
2. The OP reported an error message of: `Failed to create provisioner: Provisioning in volume plugin "kubernetes.io/host-path" is disabled`

This specific tutorial has a whole section on how to create HostPath volumes for running on minikube.  Instead, it sounds like the preferred approach is t

[2017-11-27 18:02] abgworrall commented on #56429
This kinda looks like an apparmor thing, overall:

[code]

The apparmor upgrade tests aren't done as part of the GCE suite; just the GKE suite.

@tallclair , WDYT ?

[2017-11-27 18:18] mattfarina commented on #56416
@kubernetes/sig-node-bugs This issue appears to be with Nodes and how they handle network partitions. I'm not sure this belongs with SIG Apps. Should this be with SIG Node?

[2017-11-27 18:22] jiayingz commented on #53395
I think this issue is specific about how we want to handle/surface device plugin resource removal. We probably want to have a separate discussion on how to handle the device plugin upgrade.

[2017-11-27 18:24] tallclair commented on #56429
@abgworrall That looks unrelated to the quota failure? Also AFAICT the test and codepath hasn't been cherrypicked to 1.8 (added in https://github.com/kubernetes/kubernetes/pull/52395)

[2017-11-27 18:25] tallclair commented on #56429
Oh, sorry, just realized you were asking about the upgrade test. Yes, that is a bug in the test, since that feature is added in 1.9, it's expected to fail before the upgrade. Still looks unrelated to quota though.

[2017-11-27 18:29] kontainerschiff commented on #54610
AWESOME, working perfectly now!! I really appreciate your immediate Feedback.
I owe you a beer, next time you visit Germany (Hamburg) ! :-)
I'd the challenge to set set uid & guid to 0777 to my share that the rails app was working properly, which I've to figure out.
I'd recommend to go with 0744 as Default Settings!

GREAT COMMUNITY SUPPORT, thanks a lot!!
Rgds, Gerald aka Kontainerschiff

[2017-11-27 18:31] jiayingz commented on #56159
The storage for the checkpoint is used by kubelet, so it shouldn't be accounted into any container's memory usage.

[2017-11-27 18:33] jiayingz commented on #56159
Btw, it is a good question about performance vs persistence tradeoff. We may want to carry some scaling test to answer this question, which may be better discussed in PR https://github.com/kubernetes/kubernetes/pull/56040

[2017-11-27 18:41] DirectXMan12 commented on #56165
1-2. Several things depend on the API server being able to contact pod IPs (and nodes), but the controller-manager and scheduler should only have to contact the API server.

3. As @mattjmcnaughton mentioned, several factors affect scale time, including the metrics collection interval in Heapster/metrics-server (1 minute, but can be configured to be as low as 30s), the HPA sync interval (30s by def

[2017-11-27 18:45] liggitt commented on #56427
duplicate of #45764, fixed in #46500 in 1.6.7

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.6.md/#changelog-since-v166

[2017-11-27 18:45] #56427 closed

[2017-11-27 18:48] liggitt commented on #56381
that message comes from validation that only looks at the pod spec, not the metadata labels/annotations

do you have the update or patch request that is actually being sent to the API server to compare to the current pod?

[2017-11-27 18:57] DirectXMan12 commented on #55805
the HPA controller should be able to read anything in the `custom.metrics.k8s.io` with default cluster policy -- it shouldn't require any additional roles to do so.  If it does, that's a bug.  If it's coming through as `system:anonymous` or `system:unauthenticated`, that means that your CM adapter or your aggregator isn't doing delegated authentication properly (it's probably not a bug in the poli

[2017-11-27 18:58] abgworrall commented on #56429
Oh, I was blindly hoping that the apparmor failure would explain subsequent 'forbidden' things. Turns out this appamor thing was reported separately in #56422.

[2017-11-27 18:59] msau42 commented on #31176
HI @patvdleer, there's a few problems with your helm chart:
* Each volume name can only have one volume type.  So for each volume, you can only specify one of `gcePersistentDisk` or `persistentVolumeClaim`, but not both.
* You cannot mount a gce PD as writable on multiple nodes (ie replicas > 1)
* You cannot mount the same gce PD as both writable on one node, and readable on multiple nodes at the

[2017-11-27 19:02] redbaron commented on #20466
@thockin , there is a PR to have  this dynamic subpath which is blocked since July :( https://github.com/kubernetes/kubernetes/pull/49388

[2017-11-27 19:04] abgworrall commented on #56429
OK, I'm not sure what `configmaps "test-configmap" is forbidden: status unknown for quota: test-quota` is all about, but it's happening consistently inside some [sig-scheduling] tests, so I'm punting it over there.

[2017-11-27 19:09] enisoc commented on #47960
@hmarcelodn If your symptom is `Invalid value: "foregroundDeletion"`, it should be fixed if you upgrade the cluster to v1.6.7 or higher.

[2017-11-27 19:19] jpbetz opened #56438 "Upgrade to etcd server 3.2.14"
## Upgrade Kubernetes to use etcd server 3.2.14

The [etcd 3.2.14](https://github.com/coreos/etcd/releases/tag/v3.2.14) server includes critical [bbolt freelist corruption and fragmentation fixes](https://github.com/coreos/etcd/pull/8813) that are essential for HA clusters.

For Kubernetes 1.10, we should make etcd 3.2.14 the default etcd version. This will require a upgrade similar to the [etcd 3

[2017-11-27 19:21] jpbetz commented on #56438
cc @gyuho @xiang90 @wojtek-t @mml @cheftako

[2017-11-27 19:26] #56412 closed

[2017-11-27 19:27] rajansandeep opened #56439 "Add CoreDNS in kube-up"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Proceeding to add CoreDNS as an addon option in kube-up which can be used instead of kube-dns.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.9
- Cloud provider o

[2017-11-27 19:35] jingxu97 commented on #48212
After PR #42376 is merged, we can use nfs service name instead of hard coded IP address in client yaml file. But it must be the full DNS name, e.g., nfs-service.default.svc.cluster.local
Please see https://github.com/kubernetes/dns/blob/master/docs/specification.md for DNS name

[2017-11-27 19:35] #48212 closed

[2017-11-27 19:37] bobbytables commented on #53379
Is there an update for this?

[2017-11-27 19:41] rphillips commented on #56234
One more code snippet that is interesting: https://github.com/kubernetes/kubernetes/blob/87db26b50dbccc074a0d83c86adfefd5296b856e/pkg/kubelet/eviction/eviction_manager.go#L548-L551

[2017-11-27 19:45] ironcladlou commented on #56262
Just a quick note for anybody else looking into these: I was able to reproduce the TestMixedRelationships discovery failure with `stress`:

[code]

Hit it once after 30 iterations and again after 129 runs.

[2017-11-27 19:48] kfox1111 opened #56440 "service backup selector"
/kind feature

**What happened**:
I would like to be able to have two sets of deployments behind a Service. The primary normally would be scaled out and receive all the traffic. If no primaries are available, kube-proxy would use the backup selector to select available pods to enter service. If any primaries come back on, the backups would be removed from service.

This would allow for important s

[2017-11-27 19:50] bjhaid commented on #53379
@bobbytables looks like it was merged here: https://github.com/kubernetes/kubernetes/pull/55294 but did not make it into 1.8.4, might make it into 1.8.5

[2017-11-27 19:50] kfox1111 commented on #56440
@kubernetes/sig-network

[2017-11-27 19:53] Ascendance commented on #51014
I think I am having the same issue!! Will unplug weave for a replacement and see if it fixes it. Anyone know a network that will definitely do externalTrafficPolicy: Local 100% for sure?

[2017-11-27 19:54] DirectXMan12 commented on #56297
does the summary API also have issues? `/stats/summary`?

[2017-11-27 19:57] jberkus commented on #56357
Is this critical for 1.9?  If so, we need to add the milestone and priority labels.  If not, please remove it from the 1.9 milestone (or wait for automation to do it).

[2017-11-27 20:00] ericchiang commented on #56235
ACK.  In progress
ETA: 28/11/2017
Risks: Release branch doesn't run audit e2e tests.

[2017-11-27 20:04] liggitt commented on #56357
/priority critical-urgent

[2017-11-27 20:07] bsalamat commented on #56261
@JorritSalverda Thanks for the suggestion. That sounds like a better approach. I think we should have periodic full scan to deal with similar scenarios. We should probably do it for all cached objects, not just nodes.

[2017-11-27 20:10] jberkus commented on #56348
Is there some reason for this bug to be in the 1.9 milestone? It appears to be independant of 1.9, since it's reproduceable in 1.8.

[2017-11-27 20:18] deads2k commented on #56357
/status approved-for-milestone

[2017-11-27 20:21] astefanutti commented on #56297
The summary API works as expected. The affected endpoints are:

https://github.com/kubernetes/kubernetes/blob/e551886c5e62c3e182f211300bc22e80cd8d46e5/pkg/kubelet/server/stats/handler.go#L102-L103

[2017-11-27 20:22] jberkus commented on #55978
Should this issue be resolved, at this point, given the PR merges?

[2017-11-27 20:25] dashpole commented on #56234
thats the container's root filesystem

[2017-11-27 20:25] DirectXMan12 commented on #55238
@lavalamp are you suggesting to run the aggregator as a normal, separate pod, or the whole API server "bundle" (main API server, aggregator, etc) as a pod?  The former provides its own set of issues (you've got a chicken-and-egg problem with the controller-manager, for instance).

[2017-11-27 20:29] DirectXMan12 commented on #44033
well, we now have a polymorphic scale client (in 1.9), so we should be able to unblock this issue in that regard.  From an HPA perspective, StatefulSet needs a `/scale` subresource, and then we should be able to run the HPA against it.  That doesn't guarantee your statefulset will handle the scales very well, but that's not really an HPA problem.

[2017-11-27 20:29] DirectXMan12 commented on #44033
StatefulSet is @kubernetes/sig-apps-feature-requests, correct?

[2017-11-27 20:36] MrHohn opened #56443 "ESIPP [Slow] e2e tests flakyness increased"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
@kubernetes/sig-network-test-failures

**What happened**:
From:
- http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-slow&width=5
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=to%20have%20no%20load%20balancer

ESIPP e2e tests failed fairly frequently (edit: on waiting for service updates) in CIs sinc

[2017-11-27 20:38] timothysc commented on #56114
We need to do this as soon as master branch opens back up.

/cc @kubernetes/sig-cluster-lifecycle-pr-reviews

[2017-11-27 20:39] timothysc commented on #56438
/cc @kubernetes/sig-cluster-lifecycle-pr-reviews

[2017-11-27 20:45] jhorwit2 commented on #56443
I've been running that e2e suite (ESIPP.*) the last few days while testing another PR and haven't run into this, but I've been running each test sequentially. Are the tests being ran in parallel? That could definitely slow things down as you mentioned.

[2017-11-27 20:50] ericchiang commented on #56169
Fix has been cherry picked. Fix will be available in v1.8.5

/close

[2017-11-27 20:50] #56169 closed

[2017-11-27 21:07] ironcladlou commented on #56262
I think I've identified the root cause of these flakes. Will open a PR soon.

[2017-11-27 21:10] jberkus commented on #47820
What's the specific deliverable for these tests for 1.9?  I'm unclear on why this is in the 1.9 milestone.

[2017-11-27 21:13] spiffxp commented on #47820
@jberkus I added this to v1.9 because these test failures are still occurring in https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.8-master-upgrade-cluster-new

[2017-11-27 21:13] ironcladlou commented on #56262
https://github.com/kubernetes/kubernetes/pull/56446

[2017-11-27 21:14] yliaog commented on #55860
/cc @yliaog

[2017-11-27 21:17] roycaihw commented on #55890
/assign @mbohlool
/cc @yliaog

[2017-11-27 21:19] roycaihw commented on #55924
cc @caesarxuchao

[2017-11-27 21:21] roycaihw commented on #55929
cc @jennybuckley

[2017-11-27 21:23] caesarxuchao commented on #55924
@patrickshan I believe the fault is actually on the example. If the webhook put the error message into the "Message" field, instead of the "Reason" field, kubectl will see the error. The code is here: https://github.com/caesarxuchao/example-webhook-admission-controller/blob/master/main.go#L59

And in the master branch, apiserver will copy the "Reason" to "Message" if the "Message" is empty.

[2017-11-27 21:24] roycaihw commented on #55941
/assign

[2017-11-27 21:28] roycaihw commented on #55967
/sig test-infra

[2017-11-27 21:30] yliaog commented on #55967
/label sig-testing

[2017-11-27 21:37] 2rs2ts commented on #48792
FYI it is not possible to use a CIDR in NO_PROXY. https://unix.stackexchange.com/questions/23452/set-a-network-range-in-the-no-proxy-environment-variable

[2017-11-27 21:39] luxas commented on #56275
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-11-27 21:39] #56275 closed

[2017-11-27 21:44] jhorwit2 commented on #56443
I only see 2 node changes detected (below)

[code]

That seems to go fine but then there is a 14 minute gap where there are no syncs.
[code]

The timeout was `19:20:41.193`. The deletion log line above was after the timeout and during the cleanup of the test which corresponds with the following logs:
[code]

As far as events related to the service in question `e2e-tests-esipp-d8n2b/external-local`

[2017-11-27 21:44] luxas commented on #49213
This is what kubeadm does @civik; defines sane defaults for you for any best-practice cluster.
It is intentionally limited in scope so that it doesn't deal with provisioning in order to fit into the maximum amount of envs.

See for example our design doc: https://github.com/kubernetes/kubeadm/blob/master/docs/design/design_v1.8.md

[2017-11-27 21:45] luxas commented on #49480
@resouer yes you should :)

[2017-11-27 21:49] msau42 commented on #56265
/assign @bsalamat @resouer

[2017-11-27 21:55] caseydavenport commented on #49480
@enisoc @luxas how does the rpm/deb packaging fall into the release timeline? Is there an ETA for those, or is it just "when the release happens"?

AFAIK that's the last thing blocking this issue from being closed.

[2017-11-27 21:58] roycaihw commented on #55967
/sig testing

[2017-11-27 21:59] kow3ns commented on #47820
@spiffxp This should probably still not be a release blocker @foxish do you concur?

[2017-11-27 22:00] roycaihw commented on #55967
/remove-sig api-machinery

[2017-11-27 22:00] 2rs2ts commented on #48792
Sorry, I am incorrect. It does work for kubelet, but not for curl. I figured my tests with curl were sufficient.

[2017-11-27 22:01] kow3ns commented on #44033
@DirectXMan12 sts has a scale sub resource

[2017-11-27 22:03] luxas commented on #49480
@caseydavenport it's enqueued to be done right before the release yes

[2017-11-27 22:10] #56439 closed

[2017-11-27 22:11] ericchiang commented on #47820
@kow3ns non-blocking, failing tests create a lot of overhead for the release team, particularly the test signal lead. If they're non-blocking, can they be disabled on upgrade tests until someone has a chance to fix them?

[2017-11-27 22:13] enisoc commented on #49480
The rpm/deb packaging happens after we build and push the final release artifacts to GCS. To clarify, I didn't intend to hold this issue open until the packaging occurs, but I would like to hold this open until we know how it's going to work.

In particular, we need a plan to make sure k8s 1.9 uses CNI 0.6.0, while keeping k8s 1.8 and below on CNI 0.5.x.

[2017-11-27 22:18] jhorwit2 commented on #56443
@mrhohn with the help of @liggitt we found the bug causing this. It is unrelated to the pr and existed before. Ill open a pr in a little with the fix.

[2017-11-27 22:19] jhorwit2 commented on #56443
/assign

[2017-11-27 22:42] yliaog commented on #55860
as @wojtek-t mentioned, there is retry implemented in client-go library, but just for GET. For other cases, it is left to the clients to decide what to do based on their specific situations.

https://github.com/kubernetes/client-go/blob/076e344c86e52f088b78615f815b245f6d613537/rest/request.go#L653
		if err != nil {
			// "Connection reset by peer" is usually a transient error.
			// Thus in case o

[2017-11-27 22:45] MrHohn commented on #56443
@jhorwit2 Thanks for the quick debugging :) Would like to know what is causing this.

[2017-11-27 22:55] timothysc commented on #53600
@wojtek-t this is worthy of a sig-discussion.  I'm a general NAK on [Conformance] , but a +1 to [Performance] suite @ X-scale.

[2017-11-27 22:56] luxas commented on #56091
I merged the required PRs and updated test-infra together with @BenTheElder, hopefully we should start seeing green runs now :)

[2017-11-27 23:07] zcourts commented on #55158
Also experiencing something similar though it may not be the exact same thing.

I have GlusterFS configured in a 1.8 cluster. The gluster replicas were created via a stateful set and thus has a headless service to go with it.

If I try to use the glusterfs volume in a pod, in the same namespace (default) then the pod comes online fine and is able to mount the volume.

I tried using the same gluste

[2017-11-27 23:11] jingxu97 commented on #55978
The changes for Kubernetes 1.9 part is finished, so close this issue.

[2017-11-27 23:11] #55978 closed

[2017-11-27 23:13] enisoc commented on #54551
@crassirostris Please file an [exception request](https://github.com/kubernetes/features/blob/master/EXCEPTIONS.md) for any remaining work on this. It sounds like the performance problem has been there since 1.8, so it's unlikely that we would block the rest of 1.9 on that problem. I may be wrong on that, but either way there is enough doubt around this that the exception process is the right plac

[2017-11-27 23:15] rphillips commented on #56234
@dashpole correct. the feature appears to add and compare to the quota:

[code]

The reproducible steps do not take into account the rootfs space. If the quota is set to 300Mi, then the under loop count would have to take into account the rootfs space to not exceed the limit. I do not see anywhere in the tests or the reproduce steps this part of the calculation.

[2017-11-27 23:20] dashpole commented on #56234
The `rootfs` refers only to the writable layer of the container, and excludes base (image) layers.  With the provided command, the only files that are in the container's rootfs are the ones written by the command, and should amount to 299Mb.  Additionally, the container does not write any logs (through stdout), so that value should be 0.

[2017-11-27 23:47] caesarxuchao commented on #56348
We have a few ways to fix it:
1. Reversing the garbage collector to use PUT instead of PATCH. The downside is that PUT has a higher chance of conflicts, especially for hot resources like Pods.
2. Reversing the garbage collector to use PUT if the resource is a CR, but it conflicts with our vision that the garbage collector should be resource agnostic.
3. Use merge patch instead of strategic merge p

[2017-11-28 00:01] liggitt commented on #56348
Looks like jsonpatch only allows removing from array by index, which isn't great

[2017-11-28 00:03] liggitt commented on #56348
Partial "support" for strategic merge patch doesn't seem great

[2017-11-28 00:04] #52877 closed

[2017-11-28 00:04] #56235 closed

[2017-11-28 00:04] #56385 closed

[2017-11-28 00:07] caesarxuchao commented on #56348
Yeah, that's basically as bad as merge patch in the GC use case.

[2017-11-28 00:11] liggitt commented on #56348
If there's a single finalizer, could merge patch just that field.

If there's multiple finalizers, could PUT

[2017-11-28 00:19] #51966 closed

[2017-11-28 00:19] mikedanese commented on #51966
fixed by retrying in sar approver

[2017-11-28 00:25] dashpole commented on #56234
I ran a quick test on a vm with the current image, and found that both `du` and `dd` correctly wrote and measured disk space correctly.  I also tested as it inside a container, and verified that we are measuring the container's writable layer correctly.  My guess now is that it has something to do with how we calculate disk usage by logging with journald.  I am looking into it

[2017-11-28 00:31] jingax10 opened #56449 "pkg/kubectl/cmd/resource test failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

pkg/kubectl/cmd/resource test failed

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

make test WHAT=./pkg/kubectl/cmd/resource

Running tests for APIVersion: v1,admissionregistration.k8s.io/v1alpha1,admissionregistration.k8s.io/v1beta1,admission.k8s.io/v1beta1,apps/v1

[2017-11-28 00:34] jingax10 commented on #56449
@kubernetes/sig-node

[2017-11-28 00:34] jingax10 commented on #56449
/sig  kubelet

[2017-11-28 00:36] dfang commented on #49546
same here. Ingress with service Type NodePort

[2017-11-28 00:36] jingax10 commented on #56449
/area kubelet

[2017-11-28 00:37] jingax10 commented on #56449
/sig node

[2017-11-28 00:39] caesarxuchao commented on #56357
Some [history](https://github.com/kubernetes/community/pull/611#discussion_r116286033) on why we made the configuration manager polling based.

The gist is that "admin needs to be able to ensure the webhook config eventually applies within some bound". If the configuration manager is polling based, it can detect if the apiserver is not responding and if so, it can fail the webhooks and log the err

[2017-11-28 00:42] liggitt commented on #56357
That's unlikely to happen soon, without API server representation in the API. There are N servers that would need to indicate they had observed the generation.

I don't think polling on a one second interval per server replica, per apiserver, is reasonable

[2017-11-28 00:45] caesarxuchao commented on #56348
No, it can race with another party that's adding finalizers/ownerReferences. Strategic patch doesn't have this race.

[2017-11-28 00:46] crassirostris commented on #54551
@enisoc Sure, done

[2017-11-28 00:47] thockin opened #56450 "kubectl attach to terminating pods prints bad output"
[code]

First, the formatting.

Second, "init-ctr-demo_demos" is an internal artifact, not fit for human-facing errors.

Third, the container DOES exist, it's just in a terminating state.

[2017-11-28 00:47] dashpole commented on #56234
Actually, the previous comment was incorrect.  When I ran the test, I found that each file was 1028 kb instead of 1024 kb, which resulted in the command writing 300.3 Mb instead of 299 Mb.  I will change the test to require slightly less precision.

This appears to be because an empty file in coreos takes up 4 kb.  Test this by running `touch testfile && du  testfile`.  On other OS we test on, emp

[2017-11-28 00:50] tallclair commented on #56374
Note that that will not work with `allowPrivilegeEscalation: false`.

Adding APIs for adjusting the ambient set makes sense to me. @danderson Can you modify the issue description / title to better reflect this?

[2017-11-28 00:53] #56355 closed

[2017-11-28 00:53] thockin opened #56451 "Creating an interactive shell pod = unkillable"
[code]

I would expect the `kill -9` to nuke everything  Something funky is going on with signals.  Cluster is HEAD as of last week or thereabouts.

[2017-11-28 00:56] tallclair commented on #56209
@sttts to clarify, I was talking about the annotations on the `audit.Event` object, except I forgot that we removed the `ObjectMeta` from that in the beta API, so there no longer is an `Annotations` field.

I guess the question is, do we want to have `AdmissionAnnotations`, `AuthenticationAnnotations`, and `AuthorizationAnnotations` fields on the `audit.Event`, or should those all share a single `

[2017-11-28 01:00] thockin opened #56453 "Pods with stdinOnce hang on attach"
Using `stdin` works:

[code]

Using stdinOnce does not:
[code]

I have to `killall -9 kubectl` to recover.

[2017-11-28 01:06] CaoShuFeng commented on #56365
/assign

[2017-11-28 01:07] tallclair commented on #56300
That's a cAdvisor bug - it spits out a warning about not being able to connect to rkt when not running rkt. You can ignore it.

[2017-11-28 01:19] caesarxuchao commented on #56357
Talked with @liggitt on slack:
* The extra QPS is likely to be "5 apiservers * 3 replicas for HA * 2 api types means 30 requests per second", which is not negligible for a small master.
* The rbac authorizer faces the same situation and is using informer to fetch the configuration, and it's working fine.
* We can set the informer to do a relist periodically if we want to keep the latency bound.

S

[2017-11-28 01:22] caesarxuchao commented on #54712
Instead of writing back to the configuration object, @liggitt suggested an alternative to treat it as a dynamic configuration problem. Each apiserver will expose their configs via `/configz`, like how kubelet and scheduler work today. In addition to the webhook configuration, other configs like the rbacs rules can also be listed in `/configz`.

[2017-11-28 01:23] hzxuzhonghu commented on #56357
OK, I can work for this.

[2017-11-28 01:33] xiangpengzhao commented on #56091
https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce is green now. The [node log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/9124/artifacts/e2e-9124-node-zrqn/startupscript.log) shows that the flag is passed correctly. Thanks @shashidharatd ! Awesome!

[2017-11-28 01:33] dims commented on #56451
@thockin i see the same with plain ol' docker too

[code]

[2017-11-28 01:34] liggitt commented on #56348
I didn't think adding finalizers after deletion was allowed

[2017-11-28 01:38] caesarxuchao commented on #56348
Right, finalizers are safe. But adding ownerReference is allowed. This particular issue is caused by using PATCH to remove ownerReference.

[2017-11-28 02:00] caesarxuchao commented on #56348
I still want to explore this direction. It seems to be the best solution from gc's perspective. Maybe @liggitt can convince me that it's a really bad idea?

@jberkus yes, it should be 1.8.

[2017-11-28 02:07] andyzhangx commented on #54610
@kontainerschiff I am happy that it works on your side. Your encourage would be my power!! Germany is in my traveling list :-)

[2017-11-28 02:09] stewart-yu commented on #56449
I will have a look

[2017-11-28 02:13] bsalamat commented on #56057
@JorritSalverda Please go ahead and close this one.

[2017-11-28 02:14] wenlxie opened #56455 "Issues at volume plugin interface VolumesAreAttached()"
There are two things attach detach controller do in  reconciler:
-  reconcile()
-  sync()
At the sync(), take cinder plugin for example, it calls VolumesAreAttached() (https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L181) to check the volume status with a node, if the volume is not attached, then will call actualStateOfWorld.MarkVolumeA

[2017-11-28 02:21] stewart-yu commented on #56449
It OK, no problem.
[code]

[2017-11-28 02:30] bsalamat commented on #56265
@resouer, since you know eCache better than anyone else, could you please let us know what you think would be the best solution to address the problem?

[2017-11-28 02:46] yue9944882 commented on #56381
@liggitt I carefully compared the difference of the spec between the old and the new pod. But their spec are completely the same. I got errors in my golang program as shown below:

But according [to this line of code](https://github.com/kubernetes/kubernetes/blob/83e46f0a9ede14431e1ae0950e8bd8fc6a1c43e2/pkg/apis/core/validation/validation.go#L3319):

I should got the %v formatted spec diff between

[2017-11-28 02:46] yue9944882 commented on #56381
@liggitt I carefully compared the difference of the spec between the old and the new pod. But their spec are completely the same. I got errors in my golang program as shown below:

But according [to this line of code](https://github.com/kubernetes/kubernetes/blob/83e46f0a9ede14431e1ae0950e8bd8fc6a1c43e2/pkg/apis/core/validation/validation.go#L3319):

I should got the %v formatted spec diff between

[2017-11-28 02:46] yue9944882 commented on #56381
@liggitt I carefully compared the difference of the spec between the old and the new pod. But their spec are completely the same. I got errors in my golang program as shown below:

But according [to this line of code](https://github.com/kubernetes/kubernetes/blob/83e46f0a9ede14431e1ae0950e8bd8fc6a1c43e2/pkg/apis/core/validation/validation.go#L3319):

I should got the %v formatted spec diff between

[2017-11-28 02:49] javafuns commented on #54918
I ran into exactly the same issue.
OS: ubuntu 16.04, kubeadm: 1.8.4, docker: 17.05

[2017-11-28 03:05] stewart-yu commented on #56414
/assign

[2017-11-28 03:06] liggitt commented on #56262
/status in-progress

[2017-11-28 03:11] haqiaolong opened #56457 "why? Running Java is bad"
Hello, my application is a Java, only to set up a cpuset performance, if not is to set the default host auditing, this will frequently switch CPU, lead to low performance, do you have any good solution?

[2017-11-28 03:11] #39990 closed

[2017-11-28 03:13] dims commented on #56431
/sig cli

[2017-11-28 03:14] dims commented on #56440
/sig network

[2017-11-28 03:14] dims commented on #56455
/sig storage

[2017-11-28 03:14] dims commented on #56455
/sig openstack

[2017-11-28 03:15] dims commented on #56455
cc @FengyunPan @anguslees

[2017-11-28 03:15] dims commented on #56457
/sig node

[2017-11-28 03:16] liggitt commented on #56372
that likely means we're reading the file multiple times during the command... that doesn't work with a named pipe

[2017-11-28 03:20] liggitt commented on #49290
Agree. If a malicious user has control over this file, you have much bigger problems than the file size.

[2017-11-28 03:20] #49290 closed

[2017-11-28 03:28] haqiaolong commented on #56457
area/kubectl

[2017-11-28 03:41] CaoShuFeng opened #56458 "more host port control"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

Host ports are system-wide rare resource.
It would be helpful for administrator to get ways to reserve and distribution host ports to each namespace.
The follow three features would be helpful:
1. Node port limitation per namespace
2. Disallow NodePort on specific hosts. (For example node want reserve some special ports, containers shoul

[2017-11-28 03:42] #56057 closed

[2017-11-28 03:43] tengqm commented on #56457
try CPUManager

[2017-11-28 03:44] CaoShuFeng commented on #56458
@kubernetes/sig-network-feature-requests

[2017-11-28 03:44] CaoShuFeng commented on #56458
/assign

[2017-11-28 04:14] liggitt commented on #56458
PodSecurityPolicy supports limiting the allowed host ports in a pod spec

[2017-11-28 04:15] spiffxp commented on #56422
/reopen
would like to see a green run before considering this closed, I'm not sure triage cluster 1a3779e6777a416e5ddf has been addressed

[2017-11-28 04:44] rphillips commented on #56234
I tracked down an issue to the dd call. The stdout and stderr need a redirect to /dev/null to suppress the following messages:

[code]
Problem Line:
https://github.com/kubernetes/kubernetes/blob/24042ce6e700be767176e2e9438d6d97de69f578/test/e2e_node/eviction_test.go#L631

Fix:
[code]

[2017-11-28 04:54] sudermanjr commented on #52341
@k8s-ci-robot Why was this closed?  Is it fixed in a newer version?

[2017-11-28 04:57] smarterclayton commented on #53600
I would be willing to bet that 95% of all kubernetes clusters in the world
are smaller than 5 nodes.  Agree a sig discussion is in order.

I would be willing to say a distribution that takes 500ms to create a pod
is not conformant.  But I wouldn't be willing to say that a hosted service
that has a single control plane in the US with nodes in Europe is not
conformant because it takes 500ms for a po

[2017-11-28 05:00] smarterclayton commented on #55860
We definitely can't blanket do it, but for most idempotent create actions we could handle it pretty cleanly.  It would be a fair amount of ugly code that would be domain specific to the actual object being POSTed (not all objects POSTed to Kube endpoints have idempotent naming).  I'm not sure the complexity in the client stack is worth it unless a large number of users benefit from it.

[2017-11-28 05:00] smarterclayton commented on #55860
Do we know what the actual failure cause was (or if there was only one)?

[2017-11-28 05:20] andyzhangx opened #56462 "add PV resize support for azure file"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
According to https://github.com/kubernetes/features/issues/284, some volumes(e.g. aws, nfs, ceph) has already supported PV resizing, need to add PV resize support for azure file

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
PV

[2017-11-28 05:28] andyzhangx opened #56463 "add PV resize support for azure disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
According to https://github.com/kubernetes/features/issues/284, some volumes(e.g. aws, nfs, ceph) has already supported PV resizing, need to add PV resize support for azure disk

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
PV

[2017-11-28 05:39] VinceMD commented on #41598
+1 I think this is somewhat mentioned here for Cassandra example https://github.com/kubernetes/examples/issues/149 .

Scheduling can be halted for as long as the first zone used in a statefulset is down. We should let Kubernetes use the other zones that are still healthy.

[2017-11-28 05:44] roberthbailey commented on #49213
We've also had discussions about storing canonical addon definitions outside of the main repo (e.g. https://github.com/kubernetes/k8s.io/issues/5) but we haven't settled on where that would be or what form they would take. I think it's safe to say that having a new home for example manifests should be in scope for us before removing the addon manifests from the cluster directory.

[2017-11-28 05:49] jingax10 commented on #56449
Thanks for looking into it! Have you synced to head? I can still reproduce it locally (with golang 1.9.2).

[2017-11-28 05:51] stewart-yu commented on #56449
Yes

[2017-11-28 06:18] haqiaolong commented on #56457
what is CPUManager ? @tengqm

[2017-11-28 06:20] haqiaolong commented on #56457
How do you do that?Do you manage it yourself? @tengqm

[2017-11-28 06:44] porridge commented on #55860
@smarterclayton we don't know, every time I looked, the response looked successful or completely missing on the apiserver side. Does it really matter what it was? I mean, network communication can fail for many reasons.

[2017-11-28 06:48] ikaven1024 commented on #54814
I ran into similar symptoms, when use daemonset with a initcontainer.

[2017-11-28 06:48] porridge commented on #55860
Regarding the "is solving retries in client library worth it" question: I've been on a project which did not have retries done properly in its infancy, the client libraries did not have any builtin retry support, and it turned out that intermittent failures were killing us as soon as we started to scale up. I suspect many projects which move to cloud have a very similar experience.

[2017-11-28 06:53] tengqm commented on #56457
@haqiaolong https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/

[2017-11-28 07:02] wojtek-t commented on #53600
+1 for sig-discussion (though, can we move it to the next one, I can't join this Thu)?

are smaller than 5 nodes.

Agree. That's why in https://github.com/kubernetes/kubernetes/issues/53600#issuecomment-343881220 I suggested that different distribution may decide that what scale the announce. And I think it's completely fine for a distribution to say that it supports 5 or 10 node clusters only. Bu

[2017-11-28 07:13] varuntalus commented on #56165
@DirectXMan12 , @mattjmcnaughton

Thanks a lot for your comments. I will try these and come back in case of any issues.

[2017-11-28 08:07] mengqiy commented on #56414
@stewart-yu Thanks for looking into this issue. Let me know if you need help. My slack name is the same as my GitHub handle.

[2017-11-28 08:13] andyzhangx commented on #56376
@knightXun This file is obsolete, it has moved to https://github.com/Azure/acs-engine/blob/master/parts/kuberneteswindowssetup.ps1, we use acs-engine to deploy k8s cluster on azure.

[2017-11-28 08:42] kevtaylor commented on #48677
@rajasaur `      - name: prep-logs
        image: alpine:3.5
        command:
        - /bin/sh
        - -xc
        - >
          LOGDIR=/logs/${POD_NAMESPACE}/${POD_NAME};
          mkdir -p ${LOGDIR}
          && ln -sfv ${LOGDIR} /workdir/logs
          && chmod -R ugo+wr ${LOGDIR}
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metada

[2017-11-28 09:00] lcfang commented on #56339
@dixudx Thanks for your earnest reply.
There is no reference to say that a type for a hostPath volume is necessary when user create a pod, so I think some amendment should have either in the guadance doc [https://kubernetes.io/docs/concepts/storage/volumes/#hostpath](url) or in the code [https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go](url)
@jhorwit2 @wongma7 I see

[2017-11-28 09:00] chenqy930 opened #56476 "Change the host IP address, kubeadm reset, use ''kubectl get nodes'' will dial to the old ip address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I changed the host IP address, and use ''kubeadm reset'' and ''kubeadm init'', it successed as follow output coming:
You can now join any number of machines by running the following on each node
as root:

  kubeadm join --token 99b82f.4dfbd8d922e35566 192.168.1.140:6443 --discovery-token-ca-cert-hash sha256:6e5f986986a8119b03076f14e

[2017-11-28 09:13] JinsYin opened #56477 "kube-apiserver endpoint is not automatically removed from the endpoints of "kubernetes" SVC if the master node goes down"
I used 3 master nodes to deploy the kubernetes HA cluster(Binary installation), but when a master node goes down, its kube-apiserver endpoint is not automatically removed from the endpoints of `kubernetes` SVC.

kube-apiserver:
[code]

[code]

[code]

[2017-11-28 09:19] JinsYin commented on #56477
/sig cluster-ops
/kind support

[2017-11-28 09:35] zhangxiaoyu-zidif opened #56479 "exec.Run didn't return an error when ls has a non-zero exit code"
Some code uses `ls` to check if binary exist. But it does not work as expected.
use `test -x file`  instead.
/kind bug

[2017-11-28 09:39] porridge commented on #55589
More failures:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8409

[2017-11-28 09:49] vdboor commented on #31845
Thanks @otakumike! I've found that I needed to add an empty string on Kubernetes 1.8:

[code]

The alternative is uncommenting the `--apiserver-host=http://my-address:port` arg in
the `containers[0].args` section.

[2017-11-28 09:51] luxas commented on #56091
Closing this as the job is now green

[2017-11-28 09:51] #56091 closed

[2017-11-28 09:52] porridge commented on #55777
We just had https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/70 fail despite retrying for almost an hour:
[code]

So unfortunately longer retries do not (always) help.

From talking to GCE team, the recommended workaround in the non-public cell we use for scalability testing is to use a min-cpu-selection parameter when creating the largest-si

[2017-11-28 09:55] porridge commented on #55777
@shyamjvs do you think we should do this unconditionally for the 64-core master? Or try to detect the current zone and only specify the platform if it's `us-east1-a`? I think nobody but sig-scalability currently runs clusters so large, so I'd suggest the former...

[2017-11-28 10:00] sttts commented on #55967
@roycaihw why do you remove the sig label? This is owned by apimachinery. Restoring the label.

[2017-11-28 10:05] zjj2wry commented on #56372
i can reproduce this. because we read it in `validate` func. so we can not get date in `run`.

[2017-11-28 10:10] porridge commented on #55194
This is strange, why does it look at individual tests, and not just the overall status?

[2017-11-28 10:10] shyamjvs commented on #55777
Told you so :)
I had seen such unavailability earlier from my experience trying to create large VMs.

I think the best option here is to add an env var to our kube-up scriptery to allow passing the min-cpu param as an optional.
I can quickly send out a PR for it.

[2017-11-28 10:26] porridge commented on #55777
SGTM

[2017-11-28 10:35] rsd35410 opened #56485 "When using 'custom metrics', the number of scaled pods is more than the value returned by the 'custom metrics' itself"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig autoscaling

**What happened**:
When using 'custom metrics', the number of scaled pods is more than the value returned by the 'custom metrics' itself. It always go to the MaxReplicas.

[code]
**What you expected to happen**:
Having the number of scaled pods inline with the 'custom metrics' value.
So, I'm expecting to have the number of

[2017-11-28 10:37] hzxuzhonghu commented on #56477
What version are you using? I remembered https://github.com/kubernetes/kubernetes/pull/53821 has solved it.

[2017-11-28 11:29] mumoshu commented on #56430
I'm experiencing a similar issue in https://github.com/kubernetes-incubator/kube-aws/issues/1039.

FWIW, my cluster has only 1 controller node. When I recreate the controller node for upgrades, apiserver reports those timeouts and controller-manager never become up and running.

[2017-11-28 11:33] zjj2wry commented on #56372
[code]

[2017-11-28 11:55] dims commented on #56476
/sig cli

[2017-11-28 11:55] dims commented on #56479
/sig storage

[2017-11-28 12:09] sttts opened #56489 "code-generator: add "This file is generated" to every generated file"
This is a follow-up of https://docs.google.com/a/google.com/document/d/1N1pBov7Odpg_u-kILHcswYh4VO-aMlYQdFIH64DYeek/edit?usp=sharing.

We could even put the complete command line of the generator in that line.

[2017-11-28 12:10] JinsYin commented on #56477
@hzxuzhonghu Kubernetes version: 1.8.2
In which version this issue is fixed?

[2017-11-28 12:25] keithjohnhowe opened #56491 "pod fails with CrashLoopBackOff"
Everytime I try to run this yaml file in minikube it fails with a CrashLoopBackOff error.
I have been tried a number of things to get this working and would welcome some input.
I have included the yaml file and various relevant logs.

$cat alertmanager.yaml
apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: main
spec:
  replicas: 3
  resources:
    requests:
      memory: 40

[2017-11-28 12:52] dims commented on #56491
@keithjohnhowe - looks like the error is from https://github.com/prometheus/alertmanager/blob/master/config/config.go#L262 So you probably need to open an issue in https://github.com/prometheus/alertmanager/issues rather than here in the main kubernetes repository. sounds fair?

/close

[2017-11-28 12:52] #56491 closed

[2017-11-28 13:05] mihirvjoshi opened #56493 "Kubernetes deployment fails in pulling the docker image from gitlab registry"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

 /kind bug

**What happened**: All of a sudden my deployment started failing with simple actuator-sample application which were earlier working fine. When I upload my deployment.yml file it fails to create the pods and saying failing to pull the  image. Please see exact error message below.

EXCEPTION STACK TRACE:
Failed to pull image "testgitlab.

[2017-11-28 13:10] sttts commented on #56209
I am fine with either.

Just wondering whether annotation is the right term. Usually, annotations are for tooling, nothing to rely one. Maybe annother name for the field?

[2017-11-28 13:25] apurva3000 commented on #14232
What's the fix for this, am still facing this issue in 1.8

[2017-11-28 13:38] sttts commented on #56489
Prototyped https://github.com/kubernetes/kubernetes/pull/56496.

[2017-11-28 13:44] rsd35410 commented on #56485
I close the issue, because I realized this is not a bug.
Because the scaled pod (fileapp-pu) don't change the 'custom-metrics' the result is the expected one.

Sorry.

[2017-11-28 13:44] #56485 closed

[2017-11-28 14:36] danwinship commented on #51891
Hm... that feels to me like it says "allow connections from any pod on a node with `customer=a`", not "allow connections from the IP address of any node with `customer=a`"...

I was going to suggest that we could just say that `spec.podSelector` can select `hostNetwork` pods, but that doesn't really work well since it would let you say things like "`hostNetwork` pod A on node X accepts all connect

[2017-11-28 14:38] spiffxp commented on #55194
The way it was explained to me in #sig-testing is that testgrid as a tool doesn't really understand hierarchy; Overall is just another fake test

[2017-11-28 14:42] rphillips commented on #56234
@dashpole I PRed that fix and changed it to stderr, since the other tests seem to use stderr.

[2017-11-28 15:02] sbezverk opened #56499 "kubeadm etcd upgrade modifying recovery steps"
kubeadm etcd upgrade modifying recovery steps
/assign
/sig cluster-lifecycle
/kind bug

[2017-11-28 15:29] ironcladlou commented on #56348
@caesarxuchao maybe the `PUT` implementation could be measured to assess any performance impact? In general I'd advocate promoting the use of one of the IETF `PATCH` standards (which also happen to already work generically for our resources).

[2017-11-28 15:34] gkatsanos commented on #50295
[code]

[2017-11-28 15:42] liggitt commented on #56348
supporting a patch type on only part of the object seems like a non-starter to me.

I agree with this.

[2017-11-28 16:12] felskrone commented on #55599
@tmjd Thanks for your response. My k8s-services (kubelet, kube-proxy, etc.) are not containerized in any way. They run directly on the nodes as daemons managed with systemd, meaning they have  full access to the configs in /etc/cni/net.d/.

What would be a good approach for debugging this? I tried with the verbosity-level of the kubelet, but that tells me nothing besides "cni config unitialized".

[2017-11-28 16:14] MaciekPytel commented on #55805
Just removing the --requestheader-client-ca-file flag from yaml seems to fix the issue. I tested it and HPA can now access custom metrics just using the default cluster policy. @DirectXMan12 thanks for pointing me in the right direction.

[2017-11-28 16:20] yue9944882 commented on #56381
@liggitt
After dumping out the diff of pod spec in my case, I finally realize that this error is caused by the modification of struct `EmptyDirVolumeSource` in release v1.7.8. The field `SizeLimit` is changed from `resource.Quantity` to `*resource.Quantity` which make older version of [client-go](https://github.com/kubernetes/client-go) and [kubernetes-client](https://github.com/kubernetes-client/

[2017-11-28 16:27] yue9944882 commented on #56381
So I want make a Pull Request to [ValidatePodUpdate](https://github.com/kubernetes/kubernetes/blob/85f0a1ac42daac3fcd6e7a9431c0bcabc3c653a5/pkg/apis/core/validation/validation.go#L3246) function to make it judge if `SizeLimit` field is a pointer to `resource.Quantity` then make perform a type convertion and continues its validation.

[2017-11-28 16:27] kow3ns commented on #56416
@mattfarina workloads added them some time ago. They should probably be disabled in upgrade tests for now. We have treated them as non-blocking. Network partition testing is inherently flakey.

@foxish PTAL

[2017-11-28 16:31] rahulkrishnanfs commented on #55542
I would like to contribute to this issue. Please some one guide me how to start with this

[2017-11-28 16:57] markine commented on #45976
@jsravn I want to show an iperf2 test setup that illustrates (a) frequent loss of 1-2 packets; (b) massive packet loss when a UDP service is scaled down:

[code]

If you just let the client loops run you'll be able to see loss of 1-2 packets here and there.

The fun part is what happens if you scale iperfserver deployment to, say, 5 replicas, let it run, and then scale it down to a single replica.

[2017-11-28 16:59] marono commented on #55031
Hey @JiangtianLi sorry for the delay, I was hoping to get all of that info yesterday, but it just didn't happen. Here's what I've got so far:
`go version`
[code]

`dumpbin /exports kernel32.dll|findstr GetPhysicallyInstalledSystemMemory`
[code]

`reg query "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion" /v BuildLab`
[code]

Will go ahead and create that test program you've pointe

[2017-11-28 17:01] foxish commented on #56265
This sounds like we'd be introducing even more of a special case here which won't work if we have an operator that tries to schedule pods similar to a statefulset. One potential solution here seems to me like we could teach the equivalence cache about PVCs. Is there any reason why that is not preferred?

[2017-11-28 17:13] foxish commented on #56416
+1 to what Ken said. It seems to me like the iptables rule injection to simulate a network partition is failing. I'll take a closer look today.

[2017-11-28 17:18] jsravn commented on #45976
@markine The scale down/up sounds like what I described, kube-proxy deleting the UDP connection prematurely. I've tried reproducing what you did with a single iperf server and client, but haven't been able to get any packet loss. I haven't tried multiple servers and scale up/down though.

[2017-11-28 17:22] luxas opened #56504 "kubeadm v1.9 release tracking issue"
On request by @enisoc @jdumars and the @kubernetes/kubernetes-release-managers, I'm creating this tracking issue for the `kubernetes/kubeadm` repo.

I'm tracking what we need to get done for kubeadm to be in a release-able state in this milestone: https://github.com/kubernetes/kubeadm/milestone/4

Actions required by the release team or vice versa will be communicated via this channel.
When all th

[2017-11-28 17:23] msau42 commented on #56265
Can each predicate register some function or return one more value that will determine if the predicate should be cached?  That keeps it more pluggable.  Then we can just have all the volume predicates return 'no caching' for now.  Considering this is still an alpha feature, I would rather aim for correctness rather than performance.

I would like to get this fixed in 1.8 and 1.9.  Statefulsets ar

[2017-11-28 17:27] jsravn commented on #45976
I'm not sure multi iperf server makes sense. If you scale up and down it will go to the next iperf server, which won't have seen the previous UDP packets. And erroneously report large number of dropped or out of order packets.

[2017-11-28 17:35] jberkus commented on #56244
Can we have a status update on this issue from the SIG?  This issue has become critical for 1.9 release.  Thanks!

[2017-11-28 17:36] jberkus commented on #56155
Progress report, please?  If this is going to be in 1.9, we need to know its status.

[2017-11-28 17:38] jberkus commented on #55892
@justinsb if this issue is going to be in 1.9, we need daily updates on resolution.  Please update it within 24 hours, thanks!

[2017-11-28 17:39] markine commented on #45976
@jsravn Yes, my mistake with iperf, I pulled my comment. Need request/reply round trip test, not throughput test.

[2017-11-28 17:42] gnufied commented on #55892
@jberkus there is a fix proposed for it. The fix has been tested.  We need to add PR https://github.com/kubernetes/kubernetes/pull/55893 to 1.9 milestone so as this issue can be closed.

[2017-11-28 18:38] bsalamat commented on #56265
This is something that we need to do, at the same time this is not a great solution for the problem in hand. The PV predicate is applied to all types of pods and is cache-able for all pod except StatefulSets. Disabling caching it for all types of pods is not ideal.
In my opinion, our hashing for pods must be changed to include PVCs. This is inline with what @foxish suggested.

[2017-11-28 18:47] msau42 commented on #56265
Ah, I see.  If you include the UIDs of all the Pod's PVCs in the hash, then each Statefulset pod is going to have a different hash, while each ReplicaSet pod is going to have the same hash.  And this will also work for pods created by operators as well.  Yes, this sounds much better.

[2017-11-28 19:03] dashpole commented on #53327
Ok, I know generally what the issue is:
We can see that the kubelet attempts to kill the pod
`kubelet_pods.go:1054] Killing unwanted pod "load-small-3703-crjjs"`
`GenericPLEG: 1f777d1f-d044-11e7-931a-42010a8e0023/aa4959d0d2215e81: running -> exited`

As we can see [here in the code](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L788), we first

[2017-11-28 19:07] ixdy commented on #56253
Yeah, we haven't updated the pause image in a while, since it doesn't really ever change. I'm not sure whether rebuilding + pushing over the existing tag is safe, or if we should bump to `3.1` or something. @tallclair thoughts?

[2017-11-28 19:25] shyamjvs commented on #53327
Interesting... Could we add some more logging on why the containers are failing to be deleted?

[2017-11-28 19:36] mengqiy commented on #56414
The test is failing due to the change in https://github.com/kubernetes/kubernetes/pull/42849

[2017-11-28 19:37] msau42 opened #56507 "Should alpha e2e suites run all tests?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig testing

**What happened**:
Right now alpha suites only run specific tests for alpha features.  But we could potentially catch regressions in existing functionality earlier (caused by alpha features) if the suites also ran the regular tests.

**What you expected to happen**:
Maybe it would be useful to have two alpha suites: one for just

[2017-11-28 19:49] nlassaux commented on #7890
+1

[2017-11-28 20:04] shyamjvs commented on #53327
I digged up the logs a bit, and found that the following series of events happened:

- pod was recieved
- syncloop saw the pod and started doing operations to start sandbox
- netowrk plugin `kubernetes.io/no-op` was called as part of some sandbox setup
- pod sandbox got created
- kuberuntime_manager started to 'Creating container ...'
- 'Pulled container image' event recorded (actually the image w

[2017-11-28 20:06] mengqiy commented on #56414
Sent a fix at #56508.

[2017-11-28 20:10] shyamjvs commented on #53327
@dashpole From the above, I believe that the problem is not that the killContainer() failed with error for that container. But instead the container was not even seen as part of the pod (because the container ID field was empty) which probably explains why you couldn't see those logs. It was because the [for loop you referred to](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kub

[2017-11-28 20:14] caesarxuchao commented on #56348
I'll convert the GC to use json merge patch and check the retry rate.

[2017-11-28 20:30] dashpole commented on #53327
Its a bug in the fake docker client filtering.  Thanks to @Random-Liu for helping debug this with me

[2017-11-28 20:45] shyamjvs commented on #53327
Ok... I think I've found the cause. Before deleting a pod, kubelet is checking if all containers have been deleted (and this change was introduced by @dashpole in his PR https://github.com/kubernetes/kubernetes/pull/50350). However the way we're checking that all containers have been deleted is by checking that the length of the pod's `containerStatuses` field [is empty list](https://github.com/ku

[2017-11-28 20:48] shyamjvs commented on #53327
Sorry.. Just saw your above comment after posting mine. What did you find out?
Also, the thing that I explained in my comment seems to be a bug. WDYT?

[2017-11-28 21:08] #56262 closed

[2017-11-28 21:37] dashpole commented on #53327
where do you see that non-existent containers have an empty containerID?

[2017-11-28 21:44] dashpole commented on #53327
oh, I see

[2017-11-28 21:49] dashpole commented on #53327
So the key is that we are not looking at the status in the status manager.  We were looking at the containerStatuses from the status provided by the runtime.
The reason that the container status is completely empty is because it was set by [the status manager here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/status_manager.go#L247).
The status from the runtime is based

[2017-11-28 22:05] dashpole commented on #53327
The other important thing to note here, is that the [PodResourcesAreReclaimed](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L913) function and the [HandlePodCleanups](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L1027) function use different caches.  The podCache (used by PodResourcesAreReclaimed) is just based on the most rec

[2017-11-28 22:07] tpepper opened #56511 "kubectl: CLI help points to source code"
/kind bug

**What happened**:

Probably thousands of eyes have skimmed over this for years, but kubectl's help output refers users to https://github.com/kubernetes/kubernetes for more information.  The source code isn't a great place to send users for more information.

**What you expected to happen**:

Users should be referred to the kubectl documentation, eg:
https://kubernetes.io/docs/reference

[2017-11-28 22:07] JiangtianLi commented on #55031
@marono I couldn't see what's wrong here. Can you try to move kubelet.exe to system32 directory and run from there? Also, is there any particular parameters you passed to kubelet.exe?

[2017-11-28 22:10] tpepper commented on #56511
/sig docs
/sig cli

[2017-11-28 22:19] sc68cal commented on #12083
After a couple months in early 2017 strugging with all the ways to try and provision a k8s cluster on OpenStack (terraform, the openstack provider, heat templates, etc etc) I totally gave up on trying to get the openstack provider to work. We provision servers via the OpenStack API, then use kargo to set them up as a kubernetes cluster.

[2017-11-28 22:26] jberkus commented on #56504
I've been looking over the milestone list you link to, and a bunch of those issues appear to either be non-blocking (man page) or not currently in progress (e2e test).  Can you narrow this down to the issues which are actually blockers?

[2017-11-28 22:29] sc68cal commented on #12083
I don't think https://github.com/kubernetes/kubernetes/pull/18829 fixed it, because (it's been about a year now) the logic was extremely brittle and it did not work in the cloud I was using. Looking for `OS-EXT-IPS:type` to be floating or a network named "public" did not encompass all possible values.

Or something to that effect. I don't have my notes for what the Openstack Network objects that w

[2017-11-28 22:40] marono commented on #55031
Moved it and I get the same error. There's no parameters that I'm sending in, just copied the exe and executed it. Would you think it would help if I activated the OS?

[2017-11-28 22:40] yastij opened #56514 "start migrating controllers to use the new Event API group"
Following #49112

The kubernetes/features#383 intends to migrate the different controllers towards the event API group described. This issue intends to track the PRs related to this migration.

cc @gmarek

[2017-11-28 22:42] yastij commented on #56514
/area controller-manager

[2017-11-28 22:42] yastij commented on #56514
/assign

[2017-11-28 22:44] shyamjvs commented on #53327
Discussed offline with @dashpole and he updated his PR to fix the bug in the docker client mock. Turns out my guess in https://github.com/kubernetes/kubernetes/issues/53327#issuecomment-339064229 was right that there are issues on the mock side. I closed my PR as it's not needed.

@dashpole Let's get your change in asap, so we can have some result by tomorrow. Hoping for a green run.

[2017-11-28 22:45] yastij commented on #56514
/sig scalability

[2017-11-28 22:54] JiangtianLi commented on #55031
So you just ran: `.\kubelet.exe`? Did you see the error from console?

[2017-11-28 23:26] oomichi commented on #24763
Through the design discussion[1] of the measuring tool, we have a consensus to implement it on test-infra repo. Then I created another issue (https://github.com/kubernetes/test-infra/issues/5701) on test-infra side and this can be close.

[1]: https://docs.google.com/document/d/1Upo8lTeR7gy4olD6hASTCdn8Vy7WuDwkO_o9Y5nrxhs/edit#

[2017-11-28 23:36] ixdy opened #56516 "//cmd/kubeadm fails to build in pure Go mode under Bazel due to cadvisor dependencies"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

I've been working on updating our `rules_go` dependency to be able to build our "static" binaries with cgo disabled to match the output from the non-bazel build.

It almost works, but `//cmd/kubeadm` is failing to build because it's trying to link in an empty library:
[code]

The issue seems to be that `cmd/kubeadm` depends on `pkg/kubelet/

[2017-11-28 23:39] ixdy commented on #56516
/sig node

maybe?

[2017-11-28 23:44] jiayingz opened #56518 "The e2e_node/gpu_device_plugin.go test has been failing in the past few days"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The test has been failing since Nov 22nd. Looks like it is because the test restarts Kubelet and then calls getLocalNode() which checks for node readiness.
Not sure why this problem only started to show up recently.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2017-11-28 23:46] ixdy commented on #56516
The offending section of pkg/kubelet/apis/kubeletconfig/validation/validation.go:
https://github.com/kubernetes/kubernetes/blob/8226973ae87688e6bd24ea14a643f2741ce94b4d/pkg/kubelet/apis/kubeletconfig/validation/validation.go#L92-L102

[2017-11-28 23:46] metametadata commented on #19077
It would be great to be able to see the pull progress in the dashboard. I'm now starting minikube and all my deployments from scratch and have no idea how long I should wait for the pod(s) to be up.

[2017-11-28 23:47] JiangtianLi commented on #55031
@marono I am not sure if activating OS would help here. Might worth trying. What does `gwmi -class Win32_PhysicalMemory` show from your side?

[2017-11-28 23:50] ixdy commented on #56516
and I think I didn't notice this earlier because `kubeadm` started validating kubelet configs only a few days ago as a result of #56280.

@xiangpengzhao @luxas as FYI (or if you have any thoughts)

[2017-11-28 23:53] jiayingz commented on #56518
/sig node

[2017-11-28 23:54] marono commented on #55031
Yes, kubelet.exe has the following output:
[code]

And `gwmi...`:
[code]

[2017-11-29 00:09] MrHohn opened #56521 "Need e2e test for configurable pod resolv.conf (a.k.a CustomPodDNS)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
From https://github.com/kubernetes/features/issues/504.

https://github.com/kubernetes/kubernetes/pull/55848 adds the Alpha support for Custom Pod DNS, given this is an opt-in feature that will not be triggered by any existing e2e test, we should write a explicit test to ensure it is and will be continue worki

[2017-11-29 00:11] MrHohn commented on #56521
cc @lookuptable FYI

[2017-11-29 00:12] jberkus commented on #55892
@justinsb, can you add status/accepted-for-milestone to this issue?  Thanks.

[2017-11-29 00:19] gkudra-msft opened #56522 "Kubeproxy's Windows proxy modes don't work."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: When running `kubeproxy.exe`, and passing the `--proxy-mode=kernelspace` flag which was introduced in [PR #51064 ](https://github.com/kubernetes/kubernetes/pull/51064), the following error occurs:

[code]

**What you expected to happen**: The proxy should work as it used to, supporting this mode.

**How to reproduce it (as

[2017-11-29 00:21] gkudra-msft commented on #56522
/sig sig-windows
/sig sig-network

[2017-11-29 00:25] allenpetersen commented on #55542
I've started working on this issue. I fixed up gengo to use the same code that goimports uses. I'm in the process of updating the godep dependency to pull in the new code.

[2017-11-29 00:34] tallclair opened #56523 "Deprecate Kubelet cAdvisor port"
cAdvisor is becoming an implementation detail of Kubernetes, and may even be removed entirely in the future (or pushed down into the CRI layer). The Kubelet's stats API has been available for a long time as the prefered way of gathering stats, and there are a number of solutions (e.g. [influxdb+grafana](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-monitoring/influxdb

[2017-11-29 01:02] jekohk commented on #54932
Coming back to this- I think for now I will just replace "change-cause" in the output with a list of container images in the same way `kubectl get -o wide` shows the images.

In the future I would like to propose adding more command line options to `kubectl rollout history` but that's a bigger issue ;)

thoughts? @kargakis @gregory-lyons

[2017-11-29 01:25] BSWANG commented on #50878
@Calpicow @resouer I change the dockerd and kubelet config to use systemd cgroup-driver. Then never reproduce again.

[2017-11-29 01:34] Ascendance commented on #55471
Same problem with weave net. Was okay with cluster version 1.7. What is going on??

[2017-11-29 01:36] Ascendance commented on #54910
Very disappointing as weave net worked for so long without problems. Does Calico work?

[2017-11-29 02:00] jhorwit2 opened #56527 "GCE cloud provider does not update backend nodes on EnsureLoadBalancer for external LBs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig network
/area cloudprovider

**What happened**:

The cloud provider interface [states](https://github.com/kubernetes/kubernetes/blob/e5aec8645d740123dfc8f1400b66bca05673b833/pkg/cloudprovider/cloud.go#L100) that `EnsureLoadBalancer` should `create a new load balancer 'name', or update the existing one`. The GCE provider does this for [

[2017-11-29 02:09] dixudx commented on #56339
@fisherxu I don't think `DirectoryOrCreate` has direct relationship with `subpath`. It is mainly for `hostpath`. I think making sure `hostpath` exists is a prerequisite when using `subpath`. Well, we could mkdirAll hostpath+subpath. But I think we'd better raise an error for users. Keep open on this behavior.

@fisherxu @lcfang For hostpath, we should leave a option for users to decide whether to

[2017-11-29 02:24] #55892 closed

[2017-11-29 02:30] czm4514 commented on #55649
I used Kubernetes1.8.3+cri-containerd+containerd,when i create the pod ,i got the same error
here is my cluster infos:
Kubernetes：
[code]
containerd
[code]
docker:
[code]

kubectl logs
[code]
is there anybody can help?

[2017-11-29 02:31] vladimirvivien opened #56532 "CSI - PVs are generating errors when during attach"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
- The CSI internal volume plugin is not starting and not triggering volume attachment.
- Kubelet also generates RBAC errors when attempting to access `VolumeAttachment` API objects

**What you expected to happen**:
- Internal CSI Volume plugin should start properly by the kublet or kube-controller-manager
- Kubelet should

[2017-11-29 02:32] resouer commented on #56265
Sure, I will send out a fix immediately.

[2017-11-29 03:00] phsiao commented on #56253
If we do rebuilding/updating the image, that would help resolve #50865 and a bunch of similar issues.

[2017-11-29 03:12] xiangpengzhao commented on #56516
Moving those constants to  `pkg/kubelet/types/constants.go` might be one choice. @mtaufen @yujuhong WDYT?

[2017-11-29 03:13] #56443 closed

[2017-11-29 03:20] liqlin2015 opened #56539 "Rolling upgrade of deployment has conflict with pod anti-affinity policy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a kube-dns deployment to create multiple dns pods on each node. Use pod anti-affinity policy to make sure dns pods can be spreaded over cluster nodes.

[code]

Then I want to upgrade my kube-dns to the latest version `1.14.4`. The new pod is in `Pending` state forever because of no node is selected for the pod because of pod

[2017-11-29 03:21] dims commented on #56493
/sig node

[2017-11-29 03:22] liqlin2015 commented on #56539
/sig scheduling

[2017-11-29 03:27] fejta-bot opened #56541 "Failure cluster [c840a2...] failed 82 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [c840a2836e0269dca2d6](https://go.k8s.io/triage#c840a2836e0269dca2d6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    82 builds failed.
Failure stats cover 1 day time range '28 Nov 2017 02:16 UTC' to '29 Nov 2017 02:16 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| hpa-upgrade | 12 |

##

[2017-11-29 03:39] transient1 commented on #36222
I created a brand new configmap using
`kubectl create configmap my-map --from-file file1 --from-file file2`

and when I viewed the yaml with `kubectl get configmap my-map -oyaml` it's full of \n characters and escape characters. This makes it very difficult to edit.

[2017-11-29 03:41] gyliu513 commented on #56539
/kind feature

This can be workaround by adding another label to the deployment file and use the new added label to do anti-affinity.

[2017-11-29 03:43] haqiaolong commented on #56457
tks @tengqm

[2017-11-29 03:43] #56457 closed

[2017-11-29 03:54] leblancd opened #56543 "kube-dns pod restarts every 2 minutes in IPv6-only cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/area ipv6
/sig network

**What happened**:
When a Kubernetes cluster is instantiated in IPv6-only mode via kubeadm, using the latest master code base, then the kube-dns pod is restarted approximately every 2 minutes.

Examination of the kube-dns sidecar logs shows that in an IPv6-only cluster, the liveness probes used for kube-dns are set

[2017-11-29 04:09] caesarxuchao commented on #56348
Got a patch working locally. I'll finalize and push it tomorrow.

[2017-11-29 04:23] JiangtianLi commented on #55031
@marono It isn't obvious to me why GetPhysicallyInstalledSystemMemory failed. Better to write a simple console application that LoadLibray and GetProcAddress and GetPhysicallyInstalledSystemMemory to see if there is any error. If so, use GetLastError to get error code.

[2017-11-29 04:30] liggitt commented on #56121
still seeing TestCascadingDeletion failures after #56466 merged

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56538/pull-kubernetes-unit/68725/

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/56513/pull-kubernetes-unit/68675/

[code]

[2017-11-29 04:39] liggitt commented on #56121
@kubernetes/sig-api-machinery-test-failures

[2017-11-29 05:43] andyzhangx opened #56548 "error info is incorrect when creating an azure file PVC failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Create an azure file using below storage class, it will fail since azure file does not support `Premium_LRS` storage type now, while the returned error info would confuse customer.

[code]

The returned error info is now `failed to find a matching storage account` which would confuse user a lot.
[code]

**What you expected

[2017-11-29 05:53] knisbet commented on #51835
Today I encountered an issue that may be the same as the one described, where we had pods on one of our customer systems getting stuck in the terminating state for several day's. We were also seeing the errors about "Error: UnmountVolume.TearDown failed for volume" with "device or resource busy" repeated for each of the stuck pods.

In our case, it appears to be an issue with docker on RHEL/Centos

[2017-11-29 06:17] justlooks opened #56552 "pod stuck on Terminating status"
i find when i delete a deployment ,the pod will not finished,stay in Terminating status,why?
and i try to delete it by force ,but failed

[code]

[code]

[2017-11-29 06:57] luxas commented on #56504
All of them are in progress and being worked on as needed in v1.9

[2017-11-29 07:02] dunjut commented on #55585
@jhorwit2 yes, I reproduced this issue on 1.8

[code]

[2017-11-29 07:31] WanLinghao opened #56553 "should move GPU support into DevicePlugins option?"
I noticed a device-plugin model was described by the document below:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-management/device-plugin.md
And the document says:

So, the manage of GPU should be part of device-plugin.
However, currently the way to support GPU is adding kubelet Accelerators option.
And the way to support device-plugin feature is addi

[2017-11-29 07:37] m1093782566 opened #56555 "Should remove dead code in winkernel proxy UT"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind clean-up

**What happened**:

There is a `+build` windows tag in `pkg/proxy/winkernel/proxier_test.go`, it means the UTs will not run in upstream CI. Plus, the UT codes in `pkg/proxy/winkernel/proxier_test.go` is not for winkernel proxier, instead they are for iptables proxier!

**What you expected to happen**:

We should remove the dead code in

[2017-11-29 07:41] m1093782566 commented on #56555
cc @dineshgovindasamy @madhanrm

[2017-11-29 08:05] lichuqiang commented on #56553
Yep, GPU has already been supported by DevicePlugin, you could find related plugin implementation [here](https://github.com/NVIDIA/k8s-device-plugin),
but for now, since DevicePlugin is alpha, we did not remove the original support for GPU, and meant to remove it once the feature is considered stable enough.

[2017-11-29 08:06] porridge commented on #55777
Another failure, this time in -correctness job: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/38

[2017-11-29 08:07] porridge commented on #55777
/priority critical-urgent

[2017-11-29 08:10] andyzhangx opened #56556 "failed to create azure file pvc if there is no storage account in current resource group"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When create an azure file PVC, there will be error if there is no storage account in current resource group, error info would be like following:
[code]

**What you expected to happen**:
If there is no storage account in current resource group, k8s should create a storage account and then create an azure file on that storag

[2017-11-29 08:12] tengqm commented on #56553
Another thing where people may get confused is that the current GPU usage is not properly gated by the "Accelerators" feature gate: #55680.
The long term direction, as @lichuqiang commented, is to converge to the device plugin model. You can find more from the umbrella tracker: #53497

[2017-11-29 08:17] WanLinghao commented on #56553
@lichuqiang , so in the future , should we remove the whole Accelerators option?

[2017-11-29 08:23] #51658 closed

[2017-11-29 08:23] #51659 closed

[2017-11-29 08:37] zhangxiaoyu-zidif commented on #45419
+1

[2017-11-29 08:39] lichuqiang commented on #56553
I think so, since the flag is for GPU only, If I'm not mistaken

[2017-11-29 08:43] AssafKatz3 commented on #22121
Curretnly there is no real way to run kubectl command in job. If I need to run simple cleanup script for HELM, it is very complex task. I understand why the recommand way to more complex options is to use client kit, but there is good use case for supporting kubectl image.

[2017-11-29 08:48] dElogics commented on #45419
+1

[2017-11-29 09:06] howudoing opened #56560 "/cluster/addons/fluentd-elasticsearch/es-image/elasticsearch_logging_discovery.go should be name to elasticsearch_logging_discovery"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
/cluster/addons/fluentd-elasticsearch/es-image/elasticsearch_logging_discovery.go should be name to elasticsearch_logging_discovery .
In /cluster/addons/fluentd-elasticsearch/es-image/run.sh and /cluster/addons/fluentd-elasticsearch/es-image/Dockerfile, filename "elasticsearch_logging_discovery" without ".go" is used, so

[2017-11-29 09:17] porridge commented on #56052
ACK. In progress. No ETA.

[2017-11-29 09:18] qhzxc0015 commented on #45092
I also have the same error, do you solve it?my error is as follows:
[code]

[2017-11-29 09:30] nmakhotkin commented on #51835
I'm also facing this problem: Pods got stuck in Terminating state on 1.8.3.

Relevant kubelet logs from the node:
[code]

Kubelet is running as systemd unit (not in container) on Ubuntu 16.04.
As you can see, there was a mount to NFS server and somehow kubelet tried to delete the mount directory because it considers this directory as non-mounted.

Volumes spec from the pod:
[code]

[2017-11-29 09:37] #55805 closed

[2017-11-29 10:21] mousavian commented on #17763
The correct link posted by @JaysonRaymond is: https://github.com/nodejs/node/blob/1125c8a814030f16fc995d897181ac9920f9d3db/lib/dns.js#L17-L24

[2017-11-29 10:24] manojdevs opened #56564 "NFS volumes are not persistent in kubernetes"
i'm trying to mount mongo "/data" directory on to a NFS volume in my kubernetes master machine for persisting mongo data.i see the volume is mounted successfully but i can see only "configdb" and "db" dir but not their subdirectories. And i see the data is not even persisting in the volume. when i kubectl describe my pv it shows "NFS (an NFS mount that lasts the lifetime of a pod)" why is that so?

[2017-11-29 10:42] porridge commented on #55779
Finally I have a lead. The number of `processing <N> initEvents of *<resource> took <above 500ms>` [warnings](https://github.com/kubernetes/kubernetes/blob/a8fc7f691f685c59e22162d2fcb7a536f2c6a108/staging/src/k8s.io/apiserver/pkg/storage/cacher.go#L947) spiked significantly right before the event. The graph shows it's usually on the order of 1 per minute, and in the critical moment it spiked to a

[2017-11-29 11:00] porridge commented on #55779
After a chat with @wojtek-t one thing we established is that we think that 60-90k Pod initEvents to process is a surprisingly large number for correctness test. This would mean that some test brought up a *lot* of pods (unexpected for correctness job), or that some amount of pods violently crashlooped, or something along these lines (but then likely another test would have failed). There were inde

[2017-11-29 11:16] majid021 commented on #45419
+1
1.6.0

[2017-11-29 11:22] rmohr opened #56567 "Grace period on DeleteOptions has no effect on CRs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We use a CR with a custom finalizer to get support for graceful deletes. While the crd apiserver seems to consider the deleteGracePeriod to some degree, it seems that it is not updating `metadata.deletionGracePeriodSeconds`. Therefore our finalizer has no way to differentiate between a forceful delete request `--grace-pe

[2017-11-29 11:23] rmohr commented on #56567
/sig api-machinery

[2017-11-29 11:39] m1093782566 commented on #55923
I just come up with an idea about better implementing nodeport type service via ipvs - get rid of eth{i} assumption. Can we take all the IP address which ADDRTYPE matches dst-type LOCAL as the address of ipvs service? For example,

[code]

Because we bind Cluster IPs(e.g `10.64.77.3` in our example) to the dummy interface in IPVS proxier, we need to filter the them out so that we can get the Node

[2017-11-29 11:43] m1093782566 commented on #56320
I just come up with an idea about better implementing nodeport type service via ipvs - get rid of eth{i} assumption. We can get all LOCAL type address from local route table with `ip route` command? For example,

[code]

Because we bind Cluster IPs(e.g `10.64.77.3` in our example) to the dummy interface in IPVS proxier, we need to filter the them out so that we can get the Node IPs.

Fortunately,

[2017-11-29 11:57] sabbour commented on #51835
Experiencing the same on Azure..

[code]

kubectl version
[code]

describe pod nginx-56ccc998dd-nnsvj
[code]

sudo journalctl -u kubelet | grep "nginx-56ccc998dd-nnsvj"
[code]

[2017-11-29 12:15] MatthiasWinzeler opened #56569 "Use http_proxy only for cloud provider interaction"
We're using k8s on VMWare and use the VSphere cloud provider to provision dynamic volumes.
However, in our enterprise setup, we need to access the VSphere API over a HTTP forward proxy.
This forward proxy only allows access to VSphere/ESX hosts and no other endpoints (i.e. no internet).

We achieved this by `export`ing the env var `http_proxy=http://user:password@our-forward-proxy` for all kube bi

[2017-11-29 12:29] akhisharma-DevOps opened #56570 "Kubernetes containers fails giving CrashLoopBackOff error"
My kubernetes containers are giving `CrashLoopBackOff` error. When I looked inside using describe command, I got the following error:

The Deployment is below:
![image](https://user-images.githubusercontent.com/25716046/33375114-e11856a4-d52e-11e7-9f22-9401d73898d7.png)

Can anyone please help me on this?

[2017-11-29 12:40] akhisharma-DevOps commented on #56570
I'm trying on ubuntu 16.04.02 version. I've setup k8s via conjure-up option and running k8s on a single node.

[2017-11-29 13:00] porridge opened #56571 "kube-proxy 1.8 image fetch failures"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-node-bugs
@kubernetes/sig-scalability-misc
/priority failing-test
umbrella issue: https://github.com/kubernetes/kubernetes/issues/56062

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-stable1/245 failed with:
[code]

Which in turn was caused by repeate

[2017-11-29 13:05] marono commented on #55031
While working on my console app, I've deployed the same copy on a Hyper-V machine and I'm not getting the error. Most likely related to VMWare Fusion, I'll continue my investigation and post my findings here ...

[2017-11-29 13:10] crassirostris commented on #56560
Dockerfile points to a binary, not a source file. Everything WAI, please take a look at the Makefile

[2017-11-29 13:10] #56560 closed

[2017-11-29 13:53] marono commented on #55031
I can now confirm that on a VMware fusion host, `GetPhysicallyInstalledSystemMemory` returns error code `0x0d` (`The data is invalid.`), whereas on a Hyper-V host I get the expected result (amount of physical memory installed).

Here's my code, just in case you'll be wanting to eyeball it for mistakes:
 https://gist.github.com/marono/235bdedcf2cb2d123e4a6be168169255

[2017-11-29 13:54] eastlondoner opened #56573 "eviction_manager relies on nodeReclaimFunc to return the amount of resource they have freed but they don't"
When eviction is triggered by scarcity of inodes the functions to cleanup images (and containers) return 0 instead of the number of inodes freed.

This means that if the inode threshold is ever reached and triggers eviction_manager then a pod will **always** be evicted - even if reclaimNodeLevelResources succeeded in freeing up sufficient resources.

here is where eviction_manager calls nodeReclai

[2017-11-29 14:02] eastlondoner commented on #56573
@kubernetes/sig-resource-management-bug

[2017-11-29 14:06] eastlondoner commented on #56573
@kubernetest/sig-node-bug

[2017-11-29 14:08] porridge commented on #55779
I looked a bit closer at the watches:

Over the course of this test job (69 minutes: 20:55:17 - 22:04:43) each node ran similar number of watch calls, 9 on average. The distribution was as follows. I think this is expected, and as intended given the jitter in watch deadlines:

|count | watches sent by a node
|----:|----:
|      1 | 7
|    533 | 8
|   2757 | 9
|   1542 | 10
|    165 | 11
|      1 |

[2017-11-29 14:16] wojtek-t commented on #55779
Yeah - that makes perfect sense.

The only think that I may not fully agree with it is:

I think that we may just have been unlucky and more watches ended at that time. And processing these caused some cpu starvation. The other posibility is that other tests running at that time caused more pressure.

BTW - it's pretty interesting why only such a small percentage of nodes is receiving the load.

[2017-11-29 14:18] ironcladlou commented on #56121
Pretty sure this is a long standing flake, but I'm not yet sure yet which issue to consider it a duplicate of. Some previous reports are https://github.com/kubernetes/kubernetes/issues/28713, https://github.com/kubernetes/kubernetes/issues/27460, and https://github.com/kubernetes/kubernetes/issues/25890. The timeout for the failing condition was at some point reduced from 120 to 60 seconds in http

[2017-11-29 14:21] liqlin2015 opened #56574 "Controller manager failed to be started when rollback from v1.8.3 to v1.7.3"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I had a kubernetes v1.8.3 cluster setup and running fine. Then I rollback kubernetes core services apiserver, controller-manager and scheduler to v1.7.3 for some verification.

However controller manager can not be started due to following error

[code]

**What you expected to happen**:

Kubernetes core services apiserver, controle

[2017-11-29 14:24] liqlin2015 commented on #56574
/sig apps

[2017-11-29 14:28] porridge commented on #55779
Nope, watch start rate is pretty low and even at the time of this problem (~21:39):

![watches](https://user-images.githubusercontent.com/489420/33379981-ea9908b4-d519-11e7-899f-570a1a73680b.png)

[2017-11-29 14:30] hzxuzhonghu commented on #56121
I do not think the timeout reduce lead to more flaky. I have a thought, fake happens when Sync routine run after rc deleted and also Run routine misses the rc delete event. We can add explicit sleep after setup start two routines to see if flakes reduced.

[2017-11-29 14:31] eastlondoner commented on #56573
I made a PR with a possible (naive) fix here: https://github.com/kubernetes/kubernetes/pull/56575

[2017-11-29 14:33] ironcladlou commented on #56121
I think @caesarxuchao has been chasing this one for a long time; I want to take a look with fresh eyes and see if I can find a root cause. I'll let @caesarxuchao decide which prior issue to re-open so we can cut down on duplicate issues.

[2017-11-29 14:34] porridge commented on #55779
@kubernetes/sig-scheduling-misc is this expected that only ~0.1% of nodes are receiving pods, if there are many nodes? See https://github.com/kubernetes/kubernetes/issues/55779#issuecomment-347870686 which shows a proxy of the distribution.

[2017-11-29 14:51] mindscratch commented on #52783
@camflan with `kubeadm init --pod-network-cidr=....`  will set the `cluster-cidr` for the kube-proxy

[2017-11-29 14:51] discostur commented on #50522
I created a new kube-controller-image with debian stretch, kube 1.8.4 and ceph 12.2.1 ... k8s nodes are running centos 7; imageFormat: 1

Still seeing the following error:

[code]

Any Ideas?

[2017-11-29 15:04] camflan commented on #52783
Right, that was set up, actually.

I finally found the issue - when setting up CNI using VXLAN, the routes were being set incorrectly. Instead of the route having src set to the IP of the iface that I specified for flannel, weave, canal, etc, the route was configured with the src IP of my public iface.

When I used UDP instead of VXLAN, routes were properly configured.

I’m not sure who’s at fault

[2017-11-29 15:06] ironcladlou commented on #56121
Good news is I was able to reproduce the issue with `stress` (took ~300 iterations to trigger).

[2017-11-29 15:11] kow3ns commented on #47820
@foxish has WIP on #56416 which it appears this is a dup of. We should close one of these. We will likely remove these tests from Upgrade. They should not block release.

[2017-11-29 15:13] mindscratch commented on #52783
How did you use UDP instead of VXLAN with weave?

[2017-11-29 15:17] camflan commented on #52783
Doh! I should’ve been clearer, UDP on flannel and canal (obviously) worked, which ended my search for the issue. I didn’t attempt any reconfiguration of Weave after this.

- Camron

[2017-11-29 15:17] kow3ns commented on #26202
@tonglil We can't modify the behavior of extensions/v1beta1 without breaking backward compatibility.

[2017-11-29 15:18] mindscratch commented on #52783
Got it, thanks.

[2017-11-29 15:49] dims commented on #56552
/sig api-machinery

[2017-11-29 15:50] dims commented on #56553
/sig node

[2017-11-29 15:50] dims commented on #56564
/sig storage

[2017-11-29 15:51] dims commented on #56569
/area cloudprovider
/area platform/vsphere
/sig cluster-lifecycle

[2017-11-29 15:52] dims commented on #56570
/sig node

[2017-11-29 15:53] markine commented on #45976
@jsravn Here's a slightly different setup: nothing truly new, just a verification that the UDP traffic does experience loss. The rate of loss seems on par with the DNS error loss that I've seen.

Server:

[code]

Client:
[code]

This is a bit crude and slow (each netcat session takes ~1 second time expire) but launching enough of these client loops does the trick. I got ~500,000 requests with 14 f

[2017-11-29 16:01] foxish commented on #56265
/cc @kow3ns

[2017-11-29 16:40] justinsb commented on #56155
@jberkus PR is available.  I'm going to rework it to be safer per @gnufied 's suggestion.

[2017-11-29 16:54] caseydavenport commented on #49480
@enisoc Sounds fine to me - who is making that decision?

[2017-11-29 17:20] eghobo commented on #56253
@ixdy it's better/save to go with new tag

[2017-11-29 17:23] mayanksinghsachan opened #56582 "Enhance "resourceNames" field's capability in RBAC Roles to give permissions to all instances of a resource matching some pattern"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently, we are using `resourceNames` field in RBAC roles to allow permissions for a particular instance of any resource(like pods, secrets. etc) like below
[code]
But consider a situation where we create a *deployment*with name say "my-deployment" and now we want to give permissions to check logs of pod(created by

[2017-11-29 17:25] mayanksinghsachan commented on #56582
/sig rbac

[2017-11-29 17:56] JiangtianLi commented on #55031
@marono Good finding. Your code LGTM. I guess your VMware fusion host prevents reading from SMBIOS firmware table. If possible, could you help to try https://msdn.microsoft.com/en-us/library/windows/desktop/aa366589(v=vs.85).aspx on your VMware fusion host?

[2017-11-29 18:14] ixdy commented on #50865
Do we know why this was never resolved / #36853 was never deployed?

[2017-11-29 18:15] ixdy commented on #56253
@phsiao I didn't realize there were changes to the pause binary that were never actually deployed. It seems like we should probably just do that (and bump the tag).

[2017-11-29 18:50] DirectXMan12 commented on #54574
@spiffxp I'd guess that we'd have to cherry-pick the test suite fixes back to the 1.8 test suite if you've got instances of the 1.8 test suite running against 1.9 code.

[2017-11-29 18:51] DirectXMan12 commented on #54574
The fix needed should be #54586

[2017-11-29 18:58] calvix opened #56584 "kubenetes svc endpoints are not updated when one of API is down (when running HA api)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We are running HA k8s api (3x API)  and when one of the k8s api is down, we got issues with accessing k8s api when using in-cluster config (that means via kubernetes service created in the default namespaces).

API are running on IPs `10.10.0.101, 10.10.0.102, 10.10.0.103`
[code]

When one of our API is offline,  the endpo

[2017-11-29 19:02] dashpole commented on #55649
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/48703
It will be fixed by https://github.com/kubernetes/kubernetes/pull/56433
There is no underlying issue other than the log spam, and the message can be ignored

[2017-11-29 19:07] enisoc commented on #56422
The `Cluster master cannot be upgrade to` error appears to be due to the test projects no longer being whitelisted to be able to jump +2 minor versions (1.8 to master, which is now tagged 1.10.0-alpha.0). @janetkuo is looking into this.

If that's the only problem, then we should see the 1.8-1.9 GKE upgrade tests proceed after the AppArmor error is fixed on those builds.

[2017-11-29 19:13] calvix commented on #56584
/sig api-machinery
@kubernetes/sig-api-machinery-bugs

[2017-11-29 19:16] varuntalus commented on #56165
@DirectXMan12
I tried to follow the links which you provided for Custom Metrics set-up.

I enabled the Aggregator Layer on the API Server and configured the Controller Manager to use Custom Metrics.

Next I tried to deploy the Prometheus Monitoring system. But I got the below error while deploying:

**_"error: unable to recognize "sample-prometheus-instance.yaml": no matches for monitoring.coreos.

[2017-11-29 19:37] marono commented on #55031
Already done so, and I've got this change that enabled me to run `kubelet.exe` it in my scenario:

https://github.com/kubernetes/kubernetes/compare/master...marono:vmware-phys-memory-detection-fix?expand=1

Now, if you consider it's worth putting a PR, I'll do my best and go through the guidance on how to submit one ...

[2017-11-29 19:38] nikhita commented on #56567
From the example in the issue description, I think the issue is not being able to delete the "CustomResource" (not the CRD) gracefully.

However, I don't think we support graceful deletion for CRD as well...

This can probably done using:

https://github.com/kubernetes/kubernetes/blob/2aeace402ac8dc88440eb5c0453b31dd28ca14f2/staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go#L54-L60

/cc @st

[2017-11-29 19:39] nikhita commented on #56567
/area custom-resources

[2017-11-29 20:20] tamalsaha opened #56586 "Feature request: Include resource annotations in audit report Metadata level"
We would like to create a "trusted" application deployment history using audit logs https://github.com/kubernetes/features/issues/22. When we deploy YAMLs in Kubernetes , we annotate them with git commit hash. Now, we want to write an audit webhook that to create a deployment history/timeline based on that information. From the docs this seems possible for the main api server. I saw that aggregate

[2017-11-29 20:23] tamalsaha commented on #56586
/kind enhancement
/sig instrumentation
/sig api-machinery

[2017-11-29 20:33] mikedanese commented on #18174
We need to track this through the feature tracking process. This is a significant user facing change.

[2017-11-29 20:36] JiangtianLi commented on #55031
@marono Thanks for verifying. Your code looks mostly fine. Maybe you can refer to https://github.com/martinivanov/kubernetes/commit/c932cac1040abd1f4f89a0a915d0acdec62dd719 and remove use of endianness. Also if you want, I can submit a PR for you.

[2017-11-29 20:42] gnufied opened #56588 "File system resizing should not be attempted if volume is mounted read-only"
We should not attempt resizing of file system if volume is mounted as read-only.

/sig storage

cc @kubernetes/sig-storage-pr-reviews

[2017-11-29 20:48] rmohr commented on #56567
@nikhita ah yes thx. I meant the Custom Resource (CR), not the CRD.

[2017-11-29 20:55] az-z opened #56590 "How to enable external traffic in in-house VM based installation"
Hello,
I'm running a POC for kubernetes in the in-house datacenter. I have a set of RedHat7 Vms .
I deployed nginx images and can communicate with them on the cluster's "PublicIP"/port.
The problem i'm facing is with external traffic NOT reaching those apps.

Use case:
 deploy images into the cluster and have internal (enterprise wide) traffic to hit those apps.

The objective is to have a single

[2017-11-29 21:17] jiayingz commented on #56022
@lichuqiang do you think if you have time to implement the solution you mentioned in the above comment https://github.com/kubernetes/kubernetes/issues/56022#issuecomment-345951373? We can try to get it into a 1.9 sub release.

@RenaudWasTaken I think for now, lets just support device reuse among initContainers and normal containers. We can revisit this part when we need to guarantee an Allocate ca

[2017-11-29 21:22] foxish commented on #56416
@krzyzacy, it seems like this test fails in [gce-1.8-1.9-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-1.9-all#gce-1.8-1.9-upgrade-cluster&sort-by-failures=) but not in the gce or gke testing. I think the issue is that the cluster is brought up differently post upgrade.

Is there a way we can disable the test in upgrade clusters only?

[2017-11-29 21:25] krzyzacy commented on #56416
hummmm if we really want, we can tune ginkgo focus/skip filters for those suites

[2017-11-29 21:26] RenaudWasTaken commented on #56022
Right what I am mentioning here is that it is not possible to do that.
The point of the device plugin is so that we can execute vendor specific code before making the device available to the user (e.g: Scrub the GPU memory).

I don't think the proposed solution addresses this problem.

[2017-11-29 21:26] liggitt commented on #56582
@kubernetes/sig-auth-feature-requests

[2017-11-29 21:27] liggitt commented on #56574
Was the controller manager rolled back as well?

[2017-11-29 21:31] foxish commented on #56416
The alternative there may be figuring out what's different between the 1.9 gce cluster setup post-upgrade, as opposed to a newly created 1.9 cluster. My suspicion is that it changes the API Server's IP address that the master and nodes use to communicate with each other.

[2017-11-29 21:40] az-z commented on #56590
@kubernetes/sig-onprem-misc

[2017-11-29 21:43] janetkuo commented on #56414
@mengqiy for the record, this is not caused by #42849, which is merged in 1.7.

The is affected by #54445 (1.9), where created-by annotation generation is removed from server side: https://github.com/kubernetes/kubernetes/pull/54445/files#diff-44bba2c68a6ea2b4ca0dbb7f4465828eL498

[2017-11-29 21:57] janetkuo commented on #56422
Confirmed that this is the issue. An internal fix is underway.

[2017-11-29 21:58] janetkuo commented on #56426
Similar issue as #56422. Fix is underway.

[2017-11-29 22:40] caesarxuchao commented on #56121
@ironcladlou Previously I found two root causes and fixed them, so I closed the previous issues. Not sure what's the cause of this recent flake.

[2017-11-29 22:41] tallclair commented on #56429
/unassign

I fixed https://github.com/kubernetes/kubernetes/issues/56422, which was the issue that @abgworrall referenced above. I'm not the right person to own the configmap failure.

[2017-11-29 22:49] bsalamat commented on #56306
To ensure spreading, you need to provide anti-affinity for your pods. Without anti-affinity, there is no guarantee that your pods will be spread among available nodes/zones/etc.

[2017-11-29 22:54] craigbox commented on #56306
This feature predates anti-affinity?

[2017-11-29 23:26] #56499 closed

[2017-11-29 23:26] #55012 closed

[2017-11-29 23:26] #56543 closed

[2017-11-29 23:28] dashpole commented on #56234
leaving this open until we get a green run

[2017-11-29 23:28] enisoc opened #56594 "[job failure] gce-kubeadm-1.8-on-1.9"
@kubernetes/sig-cluster-lifecycle-test-failures

This test has been failing on the `release-1.9` branch since inception:

https://k8s-testgrid.appspot.com/sig-release-1.9-blocking#gce-kubeadm-1.8-on-1.9&width=20

ref https://github.com/kubernetes/kubernetes/issues/56504

[2017-11-29 23:56] janetkuo commented on #56429
Looking at other ResourceQuota failures, it's not configmap-specific. Somehow the cluster failed to check all resource quota status.

[2017-11-30 00:06] #47255 closed

[2017-11-30 00:13] adnavare commented on #56511
/assign adnavare

[2017-11-30 00:15] janetkuo commented on #56244
The test timed out waiting for the node to be recreated after node drain.

[code]

[2017-11-30 00:45] shyamjvs commented on #53327
Closing this as we finally have the kubemark-5000 job green - https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000 (run 737)
Thanks everyone for the effort!

/close

[2017-11-30 01:08] knightXun commented on #56376
@andyzhangx thanks

[2017-11-30 01:11] msau42 opened #56596 "FindPodVolumes is returning success for assumed volumes on other nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
Volume got bound to PV on node  "kubernetes-minion-group-82c8"
[code]

When the pod went back through scheduling, the predicate returned success for other nodes even though we should have updated the PV cache to point to the PVC:
[code]

I think in `findMatchingVolumes`, instead of continuing if

[2017-11-30 01:12] asarkar commented on #15128
How'd I select on a field in an array, say if I want to find all pods that are ready? In jq, it'd be `.status.conditions[] | select(.type=="Ready" and .status=="True")`

[code]

[2017-11-30 01:13] MrHohn commented on #56527
/assign
Make sense to make `EnsureLoadBalancer`  implementation in GCE consistent with others for the ease of up-coming service controller enhancement. This sounds like a 1.10 task.

[2017-11-30 01:14] DirectXMan12 commented on #54574
I've reproduced locally.  The backport seems to fix the issue (just doing one final test run).  Should have a PR up shortly.

[2017-11-30 01:17] ghost opened #56597 "locked up on building"
+++ [1130 00:59:11] Building go targets for linux/amd64:
    ./vendor/k8s.io/code-generator/cmd/openapi-gen
+++ [1130 00:59:23] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
    k8s.io/kubernetes/vendor/github.com/jteeuwen/go-bindata/go-bindata
+++ [1130 00:59:23] Generating bindata:
    test/e2e/generated/gobindata_util.go
~ ~/test/e2e/generated
~/test/e2e/generated
+++

[2017-11-30 01:28] lichuqiang commented on #56022
@jiayingz Sure. But to clarify, I think if we dont't expect big shock on current implementation, we could only provide limited support on the point, that is, without re-generate runtime information for regular containers, only those containers whose requested resource is equal to or is a subset of that in init containers could make a resuse(e.g. if we have two init containers, each requests 2 devi

[2017-11-30 01:29] liqlin2015 commented on #56574
@liggitt Yes. I have rolled back all apiserver, controller manager, scheduler, kube-proxy and kubelet services back to v1.7.3

[2017-11-30 01:35] edisonxiang commented on #56081
Hey @msau42 @gnufied,  I submit a pr #56600 for this issue.
Your suggestions are very important. Thanks.

[2017-11-30 01:36] recall704 commented on #48703
Same issue with 1.8.4 (CentOS 7 mini)

I restart kubelet and kube-proxy, it's works now.

[code]

[2017-11-30 01:40] spzala commented on #56597
/sig cli

[2017-11-30 01:41] duglin commented on #56597
/sig cli

[2017-11-30 01:43] duglin commented on #56597
/sig testing

[2017-11-30 01:55] duglin commented on #56597
sorry for the sig/testing label - was just testing something. Perhaps someone could remove it for me?

[2017-11-30 01:56] MrHohn commented on #53462
Reopen as #55336 was reverted.
/reopen

[2017-11-30 01:57] jiayingz commented on #56022
Hmm, that is a good question. I forgot that we now return the combined runtime information in AllocResponse. Then for now, perhaps we should just return an error in device plugin manager Allocate() in case both init containers and containers request the same device plugin resource? Alternatively, we could consider to not return error in that case but leaves some containers un-assigned and adds a c

[2017-11-30 01:58] liqlin2015 commented on #56574
Should I restore ETCD data before roll back to v1.7.3

[2017-11-30 01:59] jhorwit2 commented on #53462
/reopen

[2017-11-30 02:01] jianglingxia commented on #42690
same error with config the openstack cloud provider to use the cinder plugin
and the node info is  have the Duplicate value ip
this is a bug?and may impact the application?thanks for your reply @dims
[root@controller:/etc/kubernetes]$ kubectl describe node default-np-16
Name:                   default-np-16
Role:
Labels:                 beta.kubernetes.io/arch=amd64
                        beta.ku

[2017-11-30 02:01] dixudx commented on #56552
@justlooks You can try `kubectl delete pod xxx --now`.

Any detailed logs on the this pod?

[2017-11-30 02:16] liggitt commented on #56574
What is the output of

kubectl version
kubectl api-versions
kubectl get apiservices -o yaml

[2017-11-30 02:19] lichuqiang commented on #56022
Not quite sure about your meaning here. Isn't it a reuse we expect?

I would prefer we implement it in allocation phase, for example in `m.devicesToAllocate` .

Think it a little more deeply, maybe we could support the scenario by adding a flag like `reused` in the store of devices, and to make a distinction, adding a specific suffix for the key of init containers when storing its deivces. However

[2017-11-30 02:25] dixudx commented on #56597
/remove-sig cli

[2017-11-30 02:31] WanLinghao commented on #56553
@lichuqiang @tengqm
I have read the code under ./pkg/kubelet/cm/deviceplugin/
The story goes like, kubelet creates a grpc server and the plugin communicates with it by socket.
Among them, Register() function works as registering a plugin.
However, I can't find any invoke of Register() function on k8s.
So how it was registered, who  are supposed to make a plugin register request?

[2017-11-30 02:38] lichuqiang commented on #56553
You could find API definition in ./pkg/kubelet/apis/deviceplugin

[2017-11-30 02:39] dixudx commented on #56590
@az-z You should try [Kubernetes ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/).

[2017-11-30 02:55] dixudx commented on #56582
/assign

[2017-11-30 02:59] #56399 closed

[2017-11-30 03:05] justlooks commented on #56552
i forgot to assign namespace,now fixed

[2017-11-30 03:05] #56552 closed

[2017-11-30 03:13] lichuqiang commented on #56022
And a premise for reusing devices this way is that we suppose the device stateless, that is, after a init container terminates, its devices could be reused directly, without calling plugins to do some recycle and allocation actions.

[2017-11-30 03:14] m1093782566 commented on #21070
@thockin

I have some bandwidth and am willing to contribute.

BTW, IPVS proxier needs this feature as well.

/assign

[2017-11-30 03:15] m1093782566 commented on #21070
/area ipvs

[2017-11-30 03:32] fejta-bot opened #56604 "Failure cluster [9a3f59...] failed 71 builds, 10 jobs, and 9 tests over 1 days"
### Failure cluster [9a3f59da96d25e83df6e](https://go.k8s.io/triage#9a3f59da96d25e83df6e)
##### Error text:
[code]
##### Failure cluster statistics:
9 tests failed,    10 jobs failed,    71 builds failed.
Failure stats cover 1 day time range '29 Nov 2017 02:00 UTC' to '30 Nov 2017 02:00 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-cluster-lifecycle

[2017-11-30 03:37] lichuqiang commented on #56022
@jiayingz You mean we give up reuse and prohibit users to request same kind of device in init containers and regular containers? that seems a bit weird.

[2017-11-30 03:52] tengqm commented on #56553
@WanLinghao https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-management/device-plugin.md

[2017-11-30 03:53] hzxuzhonghu commented on #56574
Enables the v1beta2 version of the apps API group by default #50643

Seems group version is not enabled in 1.7.3

[2017-11-30 04:38] cblecker commented on #56597
@Gr1dd We need some more information..
- What environment (OS/ARCH) are you building under?
- What branch/commit are you building?
- What command did you use to build?

[2017-11-30 04:39] cblecker commented on #50879
/close

[2017-11-30 04:39] #50879 closed

[2017-11-30 04:39] phsiao commented on #22469
Want to see if now is a good time to resume the discussion around supporting hostname as peer for both ingress and egress.   Our use case is for restricting both ingress and egress, and the hostname can returns multiple A records that is managed externally, for example CDN hostnames.

I suspect a major concern is how to handle consistency --- NPC and the pod may resolve different IPs for the same

[2017-11-30 04:46] msau42 commented on #56596
This causes two issues:
* On the second pass, the scheduler may choose a different node.  Then in Assume/Bind volumes, we'll also prebind a second set of PVs.
* If the scheduler chose a different node on the second pass, and the PVCs became fully bound in between the predicates and assume volumes, then assume volumes will return success and the pod will get scheduled to the wrong node.

[2017-11-30 05:11] gogeof commented on #55113
After check calico default configuration, found that I have put one old config there, but calico has read it and then cni generate a new replace it. So I think maybe it's this problem cause calico not run in the right way. I will close this issue soon.

[2017-11-30 05:12] #55113 closed

[2017-11-30 06:05] davidopp commented on #56429
@derekwaynecarr can you take a look at this?

cc/ @bsalamat

[2017-11-30 06:15] liqlin2015 commented on #56574
[code]

[code]

[2017-11-30 06:15] jiayingz commented on #56022
I think for 1.9, we just return an error when both init containers and normal containers of a pod request the same device resource, and document this in the device plugin user guide. The reason is because in the current device plugin implementation, we don't have a good way to free devices used by init containers of an active pod. It is hard to do this at API level or even scheduler because we can