[2017-11-02 15:58] kevincvlam opened #55005 "Can't expose Nvidia GPU on v1.8.1-gke.0 Node"
/kind bug
@kubernetes/sig-node-bugs

**What happened**:
I created a Alpha Google Container Engine cluster with two nodepools. One of the nodepools uses an instance-template that has a Tesla K80 GPU and installs nvidia drivers using a start-up script.

Specifically:
[code]

I tried to schedule a pod that requests the gpu and it failed to scheduler because it couldn't find a node with capacity.

Dep

[2017-11-02 16:04] kevincvlam commented on #55005
Adding an extra note to indicate that the above procedure worked successfully on a cluster created with kubernetes v.1.7.6. I was able to expose the GPU on the node as a resource and run a pod requesting a GPU on it.

Thanks in advance for all your help!

[2017-11-02 16:12] fsouza opened #55006 "Add net.ipv6.conf.all.disable_ipv6 to sysctl whitelist"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature request

/kind feature

We've found an internal use case where we wanted to disable ipv6 in the container, and unfortunately net.ipv6.conf.all.disable_ipv6 is not white-listed. Could this option be added to the white list?

I can send a PR if that's an acceptable change.

[2017-11-02 16:20] fsouza commented on #55006
/sig node

[2017-11-02 16:22] fsouza commented on #55006
Oh, following the recommendation on #54132, I'll open the PR and have the discussion there.

[2017-11-02 16:24] cchildress commented on #53526
[This](https://github.com/kubernetes/kubernetes/pull/47284) seems to be the PR that shipped this.

Why would we want to validate that there are no duplicate target ports anyway? There should be plenty of IP addresses free inside the cluster IP ranges on most clusters (or you have a different problem on your hands) and there are plenty of high-range ports free for the NodePort type. The NAT path th

[2017-11-02 16:29] kabakaev opened #55007 "kubelet starts too many `udevadm trigger`"
/kind bug

**What happened**:
kubelet creates too many udev "change" events during Cinder volume attachment.
If volume attachement takes long, then udev event queue gets full, therefore
udev does not answer requests from docker, and PLEG makes the k8s node unhealthy.

**What you expected to happen**:
  * kubelet should not run `udevadm trigger` so often.
  * kubelet should run `udevadm settle --ti

[2017-11-02 16:33] yujuhong commented on #54962
I beg to differ: https://github.com/kubernetes-incubator/cri-containerd/blob/e723a5018b1b02d93f5e26a2f7df685fde5752fa/pkg/server/container_stats.go
That's the reason why @Random-Liu filed the issue.

[2017-11-02 16:43] arthurjguerra commented on #29298
I just had the same issue, but solved it in a different way.

I created my Kubenetes cluster in AWS using Kops. All my subnets and my ELB were tagged as described in this issue but still got ***Error creating load balancer (will retry): Failed to create load balancer for service blablabla: could not find any suitable subnets for creating the ELB***.

The fix is described at https://github.com/kube

[2017-11-02 16:57] dims commented on #54905
both ci and pull jobs are green (https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/ and https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kubeadm-gce)

[2017-11-02 16:57] #54905 closed

[2017-11-02 17:03] dims commented on #54974
@xiang90 ah i see. way out of my league. so will watch progress on this issue :)

[2017-11-02 17:04] khenidak commented on #24317
@jdumars FYI

[2017-11-02 17:12] agilgur5 commented on #47538
Agree with @rapenchukd that CronJobs could be redesigned at some point as they are just a specific type of job, that would likely simplify cases like these.

[2017-11-02 17:24] dims commented on #55007
/sig openstack

[2017-11-02 17:26] dims commented on #55003
@dsfranzi Do you mind opening this in the https://github.com/openshift/ repository?

[2017-11-02 17:26] dims commented on #55002
/sig api-machinery

[2017-11-02 17:31] liggitt commented on #55002
do you have controller manager logs available?
is this reproducible on 1.8.x?

[2017-11-02 17:31] fvigotti opened #55012 "new hyperkube image fail silently! enviroment is broken, bash is a link to sh"
the new hyperkube image has **changed** without notifying the bash environment now links to sh,
there is only one  thing worst than an error, and it is a **SILENT ERROR**
this means that anyone that execute kubectl inside the hyperkube and leverage from a bash environment now get the weirdest exceptions , in my case troubles where caused by flexvolume scripted in bash which stopped working without

[2017-11-02 17:31] fvigotti commented on #54494
#55012

[2017-11-02 17:32] brendandburns commented on #54646
I think that anything on the main page needs to be vendor/platform nuetral.

This seems like a natural thing to add to the vendor-specific pages like:
https://kubernetes.io/docs/getting-started-guides/gce/

But we shouldn't add this to any of the main pages.

Thanks
--brendan

[2017-11-02 17:37] fasaxc opened #55013 "Calico add-on: calico/node pod can take a long time to be restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Due to a fix (#51279) that went into k8s v1.8, the DaemonSet scheduler now respects the termination grace period.  This results in calico/node taking longer to restart during a rolling upgrade or deletion, which delays updates to the networking dataplane during that time.

**What you expected to happen**:

**How to repro

[2017-11-02 17:38] gnufied opened #55014 "AWS makes high number of redundant AttachVolume and DeleteVolume calls"
On AWS, mutable API calls such as AttachVolume or DeleteVolume have separate API quota from API calls that do not modify the resource.

Currently k8s makes a high number of AttachVolume and DeleteVolume API calls even though k8s can check if the operation is going to succeed.

[2017-11-02 17:38] gnufied commented on #55014
/sig aws

[2017-11-02 17:53] freehan commented on #54885
I first thought there was a race condition too. But I checked the API log. The operation on the 2 services are quite separated. Then I am not sure.

[2017-11-02 17:57] thockin commented on #47992
I guess I wouldn't object too hard to using the pod name as hostname if the
subdomain was provided.  @bowei for thoughts.

PRs welcome...

On Thu, Nov 2, 2017 at 5:19 AM, Barry Hart <notifications@github.com> wrote:

[2017-11-02 18:17] #54736 closed

[2017-11-02 18:17] MaciekPytel commented on #54959
@kevincvlam Not sure at all if updating the version will help. We don't know what root cause was and without logs or events I don't think we'll be able to figure it out. Do you use stackdriver monitoring? If so you should be able to find events in there (look for ones called `TriggeredScaleUp`), otherwise if it happens again you can capture the events with the command I pasted above (they're only

[2017-11-02 18:21] marcacohen commented on #54646
Hi Brendan! Hope you are well.
That makes sense -- I'll look into sending a PR for the vendor specific page.
Thanks!

[2017-11-02 18:21] #54646 closed

[2017-11-02 18:22] nikhita commented on #55002
Related https://github.com/kubernetes/kubernetes/issues/37554.

[2017-11-02 18:24] nikhita commented on #19317
@krmayankk Sorry for the late reply. You can find some info here on _how_ it is fixed: https://github.com/kubernetes/kubernetes/issues/37554#issuecomment-289778842.

[2017-11-02 18:25] nikhita commented on #19317
Related https://github.com/kubernetes/kubernetes/issues/55002, https://github.com/kubernetes/kubernetes/issues/37554.

[2017-11-02 18:46] Random-Liu commented on #54962
@brancz Yeah `cri-containerd` does implement the CRI stats. Currently it only support core metrics, which is a part of summary api. We are working on integration with cadvisor, before that some fields in summary api such as `NanoCoreSeconds` will be nil.

Current heapster version will crash when `NanoCoreSeconds` is nil, which shouldn't happen. :)

[2017-11-02 18:52] kevincvlam commented on #54959
Reproduced the TriggeredScaleUp events. One thing I was speculating is that the GPU doesn't appear on the node until after the drivers have installed, which takes about 10-15 minutes. During that installation the newly created Node is created but does not show the GPU as a resource. Could that be contributing to causing the extra ScaleUp events?

[code]

[2017-11-02 18:54] crimsonfaith91 commented on #52113
We should also add a general proportional scaling e2e/integration test. It is only covered by a unit test currently. The test can be based on deployment tutorial found here: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/

[2017-11-02 19:18] derekwaynecarr opened #55021 "StopPodSandbox spams the node when container is already gone"
/kind bug

**What happened**:
logs when container is gone, should only log when we return an error

[2017-11-02 19:19] gburiola commented on #54645
Thanks everyone.

I've updated to 1.8.2 today and can confirm this has been fixed.

[2017-11-02 19:19] #54645 closed

[2017-11-02 19:20] adamnoll commented on #50400
We have the same issue. We created a kubernetes cluster with kops with a private topology. We then created an ingress service with an internal ELB. That ELB was connected to all of our nodes but only one AZ. We had to manually add the other Availability Zone.

[2017-11-02 19:21] crassirostris commented on #54962
/cc @fgrzadkowski @kawych

[2017-11-02 19:25] raoofm commented on #30716
Any decision has been made on this?

[2017-11-02 19:35] thkoch2001 commented on #53727
/close

[2017-11-02 19:35] #53727 closed

[2017-11-02 19:40] thkoch2001 commented on #53727
/assign
/close

[2017-11-02 19:44] derekwaynecarr commented on #55021
/sig node

[2017-11-02 19:48] bowei commented on #47992
This looks ok, can you make a PR against

https://github.com/kubernetes/dns/blob/master/docs/specification.md

with the proposal?

[2017-11-02 20:10] lavalamp commented on #54815
/assign @mbohlool

[2017-11-02 20:11] mikedanese opened #55022 "controller-manager crash loops if gc controller doesn't have access to extension apis"
[code]

This is a fatal error. Is this the expected behavior?

/sig auth
/sig api-machinery

@kubernetes/sig-api-machinery-bugs

[2017-11-02 20:13] lavalamp commented on #54816
/assign @mml

...to verify it's not api machinery (we think it's not).

[2017-11-02 20:14] yliaog commented on #54816
cc @yliaog

[2017-11-02 20:15] blairccx commented on #53566
+1
Happening for me in AWS.

`Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.2", GitCommit:"bdaeafa71f6c7c04636251031f93464384d54963", GitTreeState:"clean", BuildDate:"2017-10-24T19:48:57Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519f9fe1229c381", Gi

[2017-11-02 20:16] lavalamp commented on #54863
Yup, closing as dup. Follow up in #53124.

[2017-11-02 20:16] #54863 closed

[2017-11-02 20:16] lavalamp commented on #53124
cc @jpbetz

[2017-11-02 20:20] lavalamp commented on #54878
The documentation is wrong / incomprehensible.

[2017-11-02 20:21] dsfranzi commented on #55003
I just did. I thought image pulling was a feature of Kubernetes.

[2017-11-02 20:24] lavalamp commented on #54940
Allowing this (referencing a cluster scoped resource) would be a policy change; we should think about adding validation to prevent this in the mean time. kube-apiserver could at least prevent references of nodes & namespaces?

[2017-11-02 20:25] lavalamp commented on #54940
I think it does make sense to expand to allow a cluster scoped resource to be a parent.

[2017-11-02 20:26] lavalamp commented on #54940
@caesarxuchao can you file an issue to discuss expanding the owner reference to include cluster scoped resources?

[2017-11-02 20:27] lavalamp commented on #54960
/assign @deads2k

[2017-11-02 20:27] lavalamp commented on #54974
@jpbetz

[2017-11-02 20:30] ironcladlou commented on #55022
The GC is currently treating all discovery client errors as fatal to discovery. The discovery client may (as in this case) return the partial discovery list as well as an error list in a `ErrGroupDiscoveryFailed` error. I think in these cases the GC could use whatever it was able to get from discovery, log warnings for the failures, and move on. If the particular group failure isn't transient (i.e

[2017-11-02 20:30] lavalamp commented on #54981
I'm sorry, we're having a hard time understanding this. Can you clarify?

[2017-11-02 20:31] lavalamp commented on #55002
/assign @derekwaynecarr

[2017-11-02 20:35] abgworrall commented on #32457
Hey, sig-node folk - do we set this limit consciously, or is it baked into the OS image ?

[2017-11-02 20:56] caesarxuchao commented on #55022
Agree in general, though we might want to make sure all the native k8s groups are successfully discovered, otherwise it will break core functionalities of the cluster.

[2017-11-02 21:00] tommyvn commented on #50400
The documentation around this isn't great, I can't even remember where I saw this, if you set an AWS tag of kubernetes.io/role/internal-elb=true on _either_ the private _or_ utility subnets the kubernetes AWS cloud provider will use those networks for your internal ELBs rather then cobbling together random subnets like we're both currently seeing.
I hope this solves your issue @adamnoll like it di

[2017-11-02 21:00] #50400 closed

[2017-11-02 21:13] cheftako commented on #53990
I agree with @deads2k response. It is worth remembering that there are actually two CAs involved in the aggregation layer. There is the CA which signs the extension API servers, server certificate. This is used by the Kube API Server that the extension API server is who it thinks. This CA is set in the CABundle field in the APIService registration. It is up to the admin who registers the extension

[2017-11-02 21:15] MrHohn commented on #54916
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ipvs/
Seems like tests are passing after https://github.com/kubernetes/kubernetes/pull/55004 went in.

[2017-11-02 21:26] dims commented on #55012
/assign @dims

/sig node

[2017-11-02 21:27] dims commented on #55013
/sig network

[2017-11-02 21:31] enisoc opened #55027 "[apps/v1] Change DefaultGarbageCollectionPolicy for workload controllers"
As part of the apps/v1 GA effort (https://github.com/kubernetes/features/issues/353) for v1.9, we'd like to consider changing the DefaultGarbageCollectionPolicy from `OrphanDependents` to `DeleteDependents` for Deployment, DaemonSet, ReplicaSet, and StatefulSet. This will make these objects consistent with the default behavior for all new objects. Clients that use the new GA version will no longer

[2017-11-02 21:31] dims commented on #55003
@dsfranzi i'd let the OpenShift devs bring it back here if necessary. Not sure if the code is exactly the same in both locations

/close

[2017-11-02 21:31] #55003 closed

[2017-11-02 21:46] caseydavenport commented on #47222
Sentiment on today's sig call was that we should revert the original commit, since it broke lots of users, and then revisit to see if there's another solution.

[2017-11-02 22:07] xiangpengzhao commented on #47222
FYI: the revert PR is https://github.com/kubernetes/kubernetes/pull/53576.

[2017-11-02 22:13] zl4bv commented on #44200
Seeing this with all secret mounts - other mounts working as expected.

[code]

I also experienced the issue with a previous install of Docker on the same host:

[code]

My steps to reproduce on a single host install (development setup):

[code]

[2017-11-02 22:17] tallclair opened #55030 "Collect metrics on admission rejections"
/kind bug

**What happened**:

We don't currently have much visibility into admission rejections. Especially in the kube-system namespace, a large number of admission rejections are likely to indicate a misconfiguration.

**What you expected to happen**:

We should expose a prometheus metric that includes:

1. Name of the handler that triggered the reject
2. Whether the target resource was in the

[2017-11-02 22:22] gkudra-msft opened #55031 "Kubelet.exe Crashes on Windows Server Core"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubelet.exe crashes on Windows Server Core.

**What you expected to happen**:
Kubelet running and joining to the cluster.

**How to reproduce it (as minimally and precisely as possible)**:
Build kubelet.exe from master and run it on a machine with Core (UI-less).

**Anything else we need to know?**:
There was a dependency

[2017-11-02 22:24] gkudra-msft commented on #55031
/sig windows

[2017-11-02 22:54] tyrsius commented on #19475
Is there even a workaround for this? Any way to get the current version of the container as an ENV VAR?

[2017-11-02 23:16] pydevops commented on #6545
@baracoder If you don't add MASQUERADE (i.e. SNAT), the VPN won't allow the egress traffic from GKE to azure.  Or https://cloud.google.com/container-engine/docs/ip-aliases#using_an_existing_subnetwork_with_secondary_ranges can come to rescue

[2017-11-02 23:34] bgrant0607 commented on #30716
No templates.

[2017-11-02 23:34] #30716 closed

[2017-11-02 23:46] krzyzacy commented on #53800
/unassign
https://k8s-testgrid.appspot.com/google-gce#gci-gce-ip-alias
the test is green now for ip-alias job

[2017-11-03 00:24] #51592 closed

[2017-11-03 00:55] xiaosadexiaohai commented on #54981
@lavalamp
If etcd machine kube-api request after the machine will become very slow, but only the service does not slow etcd service will only slow down

[2017-11-03 00:56] gogeof commented on #54918
## I think this maybe not the key error: "Unable to update cni config: No networks found in /etc/cni/net.d"
## I have check mines, it's the same if there isn't 10-calico.conf in /etc/cni/net.d dir, but it doesn't matter

[code]

[code]

[2017-11-03 01:00] gogeof commented on #54918
are you install follow the document: https://kubernetes.io/docs/setup/independent/install-kubeadm/ ? it's worked for me.

[2017-11-03 01:08] WanLinghao commented on #54789
@mishamo can you post the quota yaml file

[2017-11-03 01:18] xiangpengzhao commented on #54885
Oh... So strange. I will take another look at the code to try to find some clues.
Btw, does the lock added to #54999 make any sense? It doesn't fix this issue though.

[2017-11-03 01:21] m1093782566 commented on #54916
@MrHohn Thanks for your information.

However, the current mode is userspace, instead of ipvs. I think we should push forward the pending PRs forward - #54120, #51874

[2017-11-03 01:41] abrodersen opened #55035 "Docker pull failing on `gcr.io/google_containers/` registry."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`docker pull gcr.io/googe_containers/hyperkube:1.6.12` fails to download the image, giving the following error:
[code]

**What you expected to happen**:
`docker pull` should have successfully downloaded the image.
**How to reproduce it (as minimally and precisely as possible)**:
Run `docker pull gcr.io/googe_containers/hyp

[2017-11-03 01:45] abrodersen commented on #55035
/sig gcp

[2017-11-03 01:51] WanLinghao commented on #54194
it seems that top command need some kind of plugin

[2017-11-03 02:13] tanshanshan opened #55036 "the log_dir can not work when it is behind --feature-gates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When I start kube-controller-manager like tihis , the log_dir can not work.

`/usr/bin/kube-controller-manager --v=0 --master=https://10.10.10.77:6443 --logtostderr=false --port=11011 --feature-gates=AffinityInAnnotations=true --kubeconfig=/etc/kubernetes/controller-manager.kubeconfig --service-account-private-key-file=/

[2017-11-03 02:20] WanLinghao opened #55037 "deployment run partly in constrain of quota"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
As a concept of a bunch of pod which complete some kind of task together.But it  will run partly in constrain of quota.

**What you expected to happen**:
If deployment does not meet quota requirements, it should be refused as a whole, not run partly

**How to reproduce it (as minimally and precisely as possible)**:

[2017-11-03 02:23] zjj2wry commented on #54212
/cc @WanLinghao

[2017-11-03 02:46] bjhaid commented on #53379
@CaoShuFeng do you know if the fix fir this will make it to 1.8.3

[2017-11-03 02:48] #55021 closed

[2017-11-03 02:53] KeithTt commented on #54918
Actually I followed this page.

The `kube init` process hanged with many errors output in rsyslog.

And how do you install calico before you install kubernetes? Can you execute `kubectl apply -f xxxx`

[2017-11-03 03:02] nikhita commented on #53379
@bjhaid hopefully yes, this should be merged soon.

[2017-11-03 03:04] bjhaid commented on #53379
thanks! this has been a blocker for us to upgrade to 1.8

[2017-11-03 03:18] WanLinghao commented on #54212
@zjj2wry do you  mean I should wait your PR #54554 merged then rebase?

[2017-11-03 03:19] bgrant0607 commented on #54104
Is this not https://github.com/kubernetes/api ?

[2017-11-03 03:20] m1093782566 commented on #54203
@fasaxc

Yes. When I visit serviceIP + Port from the host, I can receive the response.

[2017-11-03 03:26] zjj2wry commented on #54212
yes, because kubectl want remove dependency from main rep. because your PR have `k8s.io/pkg/api/..`, so will can not get `approve` from approver.

[2017-11-03 03:26] samlyhuang commented on #54924
Yes,it is due to rbac ,Role Based Access Control configuration (Kubernetes 1.6+ only)
Now it is successful.But I have other probelm.

when I run command  "while true; do curl test.traefik.io ; done"   ,the result is that

[code]

For the client , I have 50% “200” http responses, 50% “Bad Gateway” http responses.

what is problem?

[2017-11-03 03:30] WanLinghao commented on #54212
@zjj2wry  never mind though, I will wait

[2017-11-03 03:30] zjj2wry commented on #54212
@WanLinghao will resolve it soon : )

[2017-11-03 03:43] gogeof opened #55043 "could not open moddep file modules.dep.bin"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

- ERROR: ../libkmod/libkmod.c:557 kmod_search_moddep() could not open moddep file '/lib/modules/3.10.0-514.el7.x86_64/modules.dep.bin'`, error: exit status 1"
-  Failed to execute iptables-restore for nat: exit status 1 (iptables-restore: line 7 failed)
[code]

[code]

[code]

**What you expected to happen**:

**How to re

[2017-11-03 03:51] WanLinghao commented on #54212
@zjj2wry what can I do for this dependency remove?

[2017-11-03 04:03] #54978 closed

[2017-11-03 04:17] gogeof commented on #54918
no, I can't. I'm sorry, I just trying to help.
Here is my kubelet's log( https://github.com/gogeof/logs/blob/master/kubelet-2017-11-03.log ), maybe compare with yours can find out the key error. hope help!
Of cause, if you can upload your whole kubelet log, I will feel thankful.

[2017-11-03 04:26] liqlin2015 opened #55045 "PVC created by statefulset will not be auto removed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When create a statefulset with `volumeClaimTemplates`
[code]

it will auto create PVCs for the statefulset pod.

However when delete the statefulset, PVCs auto generated will not be removed. User need to manually remove these PVCs.

**What you expected to happen**:
When delete the statefulset, PVCs auto generated will also be remove

[2017-11-03 04:37] gheon opened #55046 "[Feature request] Get resource usage per namespace using kubectl"
/kind feature

Simple question here: would it be possible to get resource usage for a given namespace using kubectl? Something like the following would be great:
```$ kubectl get resources -n <NAMESPACE>```
And corresponding output should show total - i.e among all running pods - CPU and memory usage for the given namespace. Even better would be to show the min, max and average resource usage (so

[2017-11-03 04:38] #16117 closed

[2017-11-03 04:52] #51866 closed

[2017-11-03 05:30] KeithTt commented on #54918
I have pasted kubelet's log above.

And I have removed `KUBELET_NETWORK_ARGS` in the config of kubeadm referred to some other issues.

[2017-11-03 05:57] macropin commented on #28241
@sambott What is the current workaround?

[2017-11-03 06:01] erickt commented on #28241
@macropin: I haven’t tried it yet but you may be able to use https://github.com/upmc-enterprises/registry-creds to authenticate with a remote repository.

[2017-11-03 06:02] #54121 closed

[2017-11-03 06:05] sudhakar-mnsr opened #55048 "Kubernetes services fails with AWS cloud provider options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have created IAM policy, roles and attached them. I have given options --cloud-provider=aws and --cloud-config=/etc/aws/aws.config (in apiserver, controller-manager, kubelet)

The cluster is up and running when i remove --cloud-provider, --cloud-config options.

**What you expected to happen**:
k8s services should be up

[2017-11-03 06:18] m1093782566 commented on #54054
@kubernetes/sig-network-bugs

[2017-11-03 06:38] k82cn commented on #55045
/sig apps
/sig storage

I'm going to take sometime to check this :).

[2017-11-03 06:46] gheon commented on #55046
kubernetes/sig-cli-feature-requests

[2017-11-03 06:51] gheon commented on #55046
@kubernetes/sig-cli-feature-requests

[2017-11-03 06:55] k82cn commented on #55045
/kind features

[2017-11-03 07:33] rfranzke opened #55051 "Kubelet does not delete evicted pods"
/kind feature

**What happened**:
Kubelet has evicted pods due to disk pressure. Eventually, the disk pressure went away and the pods were scheduled and started again, but the evicted pods remained in the list of pods (`kubectl get pod --show-all`).

**What you expected to happen**:
Wouldn't it be better if the kubelet would have deleted those evicted pods? The expected behaviour would therefore b

[2017-11-03 07:34] rfranzke commented on #55051
/sig node

[2017-11-03 07:43] spil-dennis commented on #47992
The desired behaviour is already documented in there for headless services:

<hostname>.<service>.<ns>.svc.<zone>. <ttl> IN A <endpoint-ip>

It's mainly the way of hostname assignment that needs to change. So you can set the subdomain in a template for a pod, but leave the hostname field empty. In that case it should take the pod name as hostname. I'm not sure if that should go into the DNS spec.

[2017-11-03 08:16] #50170 closed

[2017-11-03 08:16] #50171 closed

[2017-11-03 08:29] brancz commented on #54962
My bad, thanks for the pointer :slightly_smiling_face:. I'll correct my statement: I believe no CRI implementation except for cri-containerd implements the stats calls. The ones I explicitly checked are: dockershim, cri-o, rktlet.

[2017-11-03 08:37] brancz commented on #54962
Something I'm wondering about though:

The intention of the stats calls is in order to be able to get rid of cAdvisor. Making the stats calls depend on cAdvisor seems to cover up the issues it has.

Re: https://github.com/kubernetes/kubernetes/issues/53615

[2017-11-03 08:42] kargakis commented on #24343
@kubernetes/sig-testing-feature-requests

[2017-11-03 08:55] m1093782566 commented on #54203
@squeed

I can't find `nfbpf_compile` in my system, should I re-compile kernel?

[2017-11-03 09:02] m1093782566 commented on #54916
#54120 went in, let's wait for #51874

[2017-11-03 09:45] m1093782566 commented on #54203
@fasaxc Thanks for your hint.

The full output of iptables-save command is shown below:

[code]

BTW, I find some interesting information when I watch packets hit in iptables chain,

[code]

It looks that the following chains are never hit???

[code]

When I

[code]

I can NOT find any packet with src/dst IP ClusterIP `10.0.0.157` or Container IP `172.17.0.3`. I wonder the packet is dropped by ker

[2017-11-03 09:50] felixPG commented on #55051
Evicted pods in 1.7.5 are a madness, the deletion of those pods are delayed by days!!!!, for example, I have a pod since 17 days was evicted an appear in the pod list:

mynamespace nginxrepo-2549817493-0p91t                                     0/1       Evicted             0          17d
mynamespace linting-umbrellabird-monocular-api                            0/1       Evicted             0

[2017-11-03 10:18] #54954 closed

[2017-11-03 10:20] fasaxc commented on #54203
@m1093782566 I still think you need to use `dst,dst` when matching the `KUBE-SERVICE-ACCESS` ipset.  `hash:ip,port` IP sets have two parameters, so you need to pass `dst,dst` to tell the kernel to pass the IP and port to the match.  I tried this locally and the kernel accepts `dst`, but it doesn't seem to match anything:

[code]

Then I did `nslookup www.google.com 8.8.8.8` and it only hits the se

[2017-11-03 10:48] llarsson commented on #51271
[code]

Seeing similar issue with these versions:

[code]

I do not think that I saw these issues on Kubernetes 1.7.2, which is what I ran previously.

[2017-11-03 10:49] mishamo commented on #54789
@WanLinghao Our quota yaml is auto-generated, but here it is:

[code]

[2017-11-03 11:18] rfranzke commented on #55051
/kind bug

[2017-11-03 11:21] rfranzke commented on #55051
/remove-kind feature

[2017-11-03 11:22] felixPG commented on #55051
Thank you @rfranzke

[2017-11-03 11:25] sambott commented on #28241
This was the current workaround. https://github.com/kubernetes/kubernetes/compare/release-1.8...sambott:cross_account_ecr

I haven't finished testing it at the moment, but feel free to make comments/suggestions. I'd be inclined to extend the LazyProvide that @therc implemented to extract registry ID from the URL instead though, I guess my worry is not knowing how big a rabbit hole that will end up

[2017-11-03 12:22] bskiba commented on #54959
You're right, this is the issue. When the nodes start up, they have allocatable gpu = 0 so the pod is still unschedulable. Cluster Autoscaler then decides to add one more node to help.
We'll work with the GPU team to resolve this, as this is definitely not working as intended.

For now, it seems that the only autoscaling based on GPUs that will work correctly (starting from 1.8.3) is 0->1 scaling.

[2017-11-03 12:27] ironcladlou commented on #55022
@caesarxuchao

Good idea. Maybe adding in a hard-coded "required" group list to validate against or something.

[2017-11-03 12:41] m1093782566 commented on #54203
That's a nice example, @fasaxc

I will try it and will let you know updates. Thanks!

[2017-11-03 13:18] discordianfish commented on #14140
Is this still relevant? I find it hard to figure out how this related to e.g #22494

[2017-11-03 13:18] #53329 closed

[2017-11-03 13:23] jamiehannaford commented on #54864
@piwi91 I'm wondering if the API is returning `""` instead of something like `[]`? gophercloud might not be able to parse the former. Would you mind performing a cURL or something and output the response for the loadbalancers call?

[2017-11-03 13:54] kevingessner commented on #47264
Thanks @clhodapp -- that's super clever, and it works on 1.6 as well.

[2017-11-03 14:08] porridge opened #55060 "Pod startup latency regression"
/kind bug

**What happened**:

In 5k node cluster tests pod startup latency has roughly doubled at all (50th, 90th, 99th, 100th) percentiles, apparently due to some change merged between Oct 16th and 20th. The following graph (for the ci-kubernetes-e2e-gce-scale-performance job) makes it obvious (note values are capped at 10s for readability):

![0jjh2pnsh7p](https://user-images.githubusercontent.

[2017-11-03 14:22] liggitt commented on #55051
is this a duplicate of https://github.com/kubernetes/kubernetes/issues/54525

from https://github.com/kubernetes/kubernetes/issues/54525#issuecomment-340035375 it sounds like this is intentional, though I'm not sure what is expected to clean up pods in this case

[2017-11-03 14:23] liggitt commented on #55027
+1

[2017-11-03 14:28] liggitt commented on #55022
GC shouldn't distinguish between native and non-native... GC can make some progress even in the face of discovery errors, but cannot successfully complete orphan or foreground deletion operations until it has successfully discovered and has a complete graph.

[2017-11-03 14:49] squeed commented on #54203
For some reason Debian doesn't include an `nfbpf_compile`. I built a quick docker image:
[code]

[2017-11-03 14:51] FengyunPan commented on #54984
@jianglingxia Have you read this doc:https://github.com/kubernetes/website/blob/master/docs/concepts/cluster-administration/cloud-providers.md ?

[2017-11-03 14:56] FengyunPan commented on #54984
By instance metadata. (configDrive/metadataService)
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/metadata.go

[2017-11-03 15:01] jsafrane commented on #53360
I updated  #54300 with CephFS

[2017-11-03 15:01] bryanlarsen commented on #47775
There are two different behaviours here, and both are needed.   Having one of the behaviours only occur when it's not specified makes it difficult to template with something like helm.   And as the original bug raises, it also makes the documentation confusing.

Can we create a new value for the default behaviour?   Something like "IfNotPresentOrTaggedLatest" perhaps?

[2017-11-03 15:04] antoniaklja commented on #50598
@k82cn do you have any specific cases or shall I figure out something? I can take a look at this issue if you don't mind.

[2017-11-03 15:17] cmluciano commented on #54916
Nice! The test grid is now passing since #54120

[2017-11-03 15:37] alkar commented on #46287
Experiencing the same issue.
[code]

[2017-11-03 15:50] kletkeman commented on #27081
Pretty amazing that such an obviously useful feature is left hanging for what appear to be ideological reasons. We have had this problem during development (which is an equally important use case by the way) for a long time. I will mention the cleanest of all the hacks -- adding an annotation, which of course should say "hack the script to force a rolling update on date xxxx" -- to the team. It's

[2017-11-03 16:01] gnufied commented on #33760
@jingxu97 @justinsb I think this issue and related PR makes incorrect assumptions about behaviour of AWS/EBS and hence I am not sure the reconciler resync mechanism is needed at least in AWS.

For example - the issues says, "If node is terminated and then rebooted then volumes are detached from node". This is not true - because if node was terminated, we can't reboot it.

But suppose, we were simp

[2017-11-03 16:07] #54301 closed

[2017-11-03 17:00] #53663 closed

[2017-11-03 17:15] sokoow commented on #50375
+1 here, we also are looking for a way to clear restart counts? Anybody ?

[2017-11-03 17:15] JrCs commented on #50522
Is it possible to upgrade the ceph-common library in the hyperkube image to a more recent version ?

[2017-11-03 17:22] kargakis opened #55069 "pkg/kubelet/config TestInvalidPodFiltered flake"
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54523/pull-kubernetes-unit/62637/

@kubernetes/sig-node-test-failures
/kind flake

[2017-11-03 17:26] dashpole commented on #55069
cc @mtaufen

[2017-11-03 17:28] somejfn commented on #50522
This is what https://github.com/kubernetes/kubernetes/issues/45010 is for.  Tho it wont bring ceph-common to Luminous release.

[2017-11-03 17:29] yujuhong commented on #55069
@dixudx, could you take a look and see if this is related to your recent PR? Thanks!

[2017-11-03 17:30] bgrant0607 commented on #23233
More kinds of "add ons":
* Extension apiservers (API aggregation)
* Admission control hooks
* Authorization hook

[2017-11-03 17:44] derekwaynecarr opened #55070 "dockershim can leak checkpoint files"
/kind bug

**What happened**:
the kubelet keeps attempting to gc containers from dockershim checkpoint files.  if the container is no longer present, we keep attempting to gc it because the file is never removed from checkpoint.

**What you expected to happen**:
checkpoint should not leak.

[2017-11-03 17:44] derekwaynecarr commented on #55070
/sig node

[2017-11-03 17:46] bgrant0607 commented on #7890
https://stackoverflow.com/questions/35966832/mount-google-storage-bucket-in-google-container

[2017-11-03 17:55] mml commented on #54095
Was #54704 supposed to fix this?

[2017-11-03 18:02] jpbetz commented on #54104
@caesarxuchao also suggested I should be able to do everything via https://github.com/kubernetes/api. Here's an example I'm going to try to crib from https://github.com/kubernetes/client-go/blob/076e344c86e52f088b78615f815b245f6d613537/kubernetes/fake/register.go

[2017-11-03 18:06] monopole commented on #53552
Im using kubectl 1.8.2 to talk to minikube v0.23.0
https://github.com/kubernetes/minikube/issues/1996 appears closed.

[2017-11-03 18:06] cmluciano commented on #55005
@kubernetes/sig-gcp-bugs

cc @vishh @mindprince

[2017-11-03 18:09] #53552 closed

[2017-11-03 18:10] spiffxp commented on #54095
It appears to have fallen off the [wall of shame](http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1) and no longer shows as failing on [release-master-blocking#test-go](https://k8s-testgrid.appspot.com/sig-release-master-blocking#test-go&include-filter-by-regex=TestCRD&width=5).  I'm happy with it from a release perspective

It's failed twice in the last day according to [presubmits-ku

[2017-11-03 18:18] liggitt opened #55071 "ControllerRevision has implicit patch and patchtype semantics"
Use of the ControllerRevision object by the StatefulSet and DaemonSet controllers places strategic merge patch content in the revision data.

To successfully make use of this data, a client must know the data represents a patch, and what type of patch, in order to successfully apply it to roll back.

The nature of the data and the type of patch should be explicit in the object.

/sig apps
/cc @kow

[2017-11-03 18:22] caesarxuchao commented on #54940
@ironcladlou I'm less concerned with the inter-namespace references, unless we have strong use cases.

Another case that will require explicitly adding the "Namespace" field to the ownerRef is where owner is namespace-scoped, and dependent is cluster-scoped. Again, before supporting that, we need to see compelling use cases.

I left a [comment](https://github.com/kubernetes/kubernetes/pull/54943/f

[2017-11-03 18:23] liggitt opened #55072 "ControllerRevision rollback does not handle multiple versions correctly"
`kubectl rollout undo` assumes the revision content stored in a ControllerRevision applies to a fixed group/version. The content currently placed in a controller revision by the statefulset and daemonset controllers happens to be patch content of the pod template spec located at a consistent JSON path, but that is not guaranteed by the API.

The `rollout undo` commands should determine which versi

[2017-11-03 18:23] definitelyuncertain opened #55073 "cni config uninitialized on only one worker node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I followed this [guide](https://github.com/Langhalsdino/Kubernetes-GPU-Guide) for setting up a Kubernetes cluster with `kubeadm` for both master and worker nodes.

Just like in https://github.com/kubernetes/kubernetes/issues/48798 , the CNI network plugin remains uninitialized, but on a worker node rather than the master

[2017-11-03 18:27] jpbetz commented on #54104
Or maybe I can just use this approach? https://github.com/kubernetes/kubernetes/blob/5adfb24f8f25a0d57eb9a7b158db46f9f46f0d80/pkg/api/legacyscheme/scheme.go Trying it now.

[2017-11-03 18:34] spiffxp commented on #54873
https://k8s-testgrid.appspot.com/sig-release-master-blocking#test-go&exclude-non-failed-tests=&sort-by-flakiness=&width=5

Nice job @mengqiy !

[2017-11-03 18:53] cmluciano commented on #55073
@kubernetes/sig-cluster-lifecycle-bugs

[2017-11-03 19:04] ixdy commented on #54129
This should be fixed in v1.8.3.

[2017-11-03 19:16] gnufied opened #55074 "Force detaches on EBS can leave stale entry in /proc/mounts"
Currently we perform detach of a mounted volume if volume failed to umount within 6 minutes of time window.

We have noticed that in certain cases - a stale device entry like "/dev/xvdba" is left in `/proc/mounts` if volume was force detached. When this happens, the device is not shown in `lsblk` output but just a stale entry is left in `/proc/mounts`.

If this happens, next attach on same device

[2017-11-03 19:17] gnufied commented on #55074
cc @kubernetes/sig-storage-pr-reviews

[2017-11-03 19:23] gnufied opened #55075 "Relying on describeInstance for available devices on a node for EBS is problematic"
EBS's AttachVolume api call requires us to pass a device name. Currently we keep a map of device name internally for purpose of maintaining a LRU but we call `describeInstance` to check which device is free for attach.

In a nutshell we use `DescribeInstance` as source of truth for finding out, which devices are available on the node for attach.

But in certain cases we have noticed that, AWS API

[2017-11-03 19:50] mindprince commented on #55005
@kevincvlam GPU support in GKE is still in alpha. Please use this form to sign up for the alpha https://docs.google.com/forms/d/e/1FAIpQLSdBIi5WsTkGkFd-ZQHg2pN1cXh9B2jJe-zQ-8_1LNekLiZTSg/viewform. The documentation linked from this form will help you get the cluster with GPUs started correctly.

In short, `alpha.kubernetes.io/nvidia-gpu` resources are deprecated. `nvidia.com/gpu` is the new resour

[2017-11-03 19:51] mindprince commented on #55005
/assign

[2017-11-03 19:59] #55070 closed

[2017-11-03 19:59] #54927 closed

[2017-11-03 20:11] jingxu97 commented on #53692
In step 6, before kubelet tries to mount, it will check the device path. Although because of race condition, it is possible kubelet tries to mount while volume is detached. So mount will fail, kubelet will retry. Is there any other consequences from it?

[2017-11-03 20:12] kevincvlam commented on #55005
@mindprince thanks for your help! Yes, I am using an alpha cluster and have quota for GPUs, but did not see that document. I just requested access to the document, are you able to approve my request?

Once I have access, I'll take a look at running the nvidia device plugin.

[2017-11-03 20:20] gnufied commented on #53692
If mount fails pod will fail to start, while volume is still present in actual and desired state of world of A/D controller.

Now, after awhile I think VerifyVolumesAttached mechanism will notice try to "fix" it, now it will remove the volume from actual state of world and that in turn will cause another attach.  Now device will be attached to a different path than before but I do not think kubele

[2017-11-03 20:24] yujuhong commented on #55051
The PodGCController in the controller manager?

[2017-11-03 20:27] #52118 closed

[2017-11-03 20:32] nwest1 opened #55076 "imagePullPolicy: NotIfPresent + hash compare"
/kind feature

**What happened**:

**What you expected to happen**:
A new `imagePullPolicy` that would behave as `NotIfPresent`, but also compare the hash the tag points to of the underlying cached image.

The use case is to retain the optimization of `NotIfPresent` and also allow vanity tags (`v1`, `stable-1`) for non-breaking changes of an image.

An alternative would be adding some semantic ver

[2017-11-03 20:34] nwest1 commented on #55076
/sig api-machinery

[2017-11-03 20:40] spiffxp commented on #55060
/priority critical-urgent
/status approved-for-milestone
(curious if it'll let me do this without the issue being in milestone)

[2017-11-03 20:41] spiffxp commented on #55060
Can someone with repo write privileges add this to the v1.9 milestone?

[2017-11-03 20:57] leon-gh opened #55078 "kubectl get all does not include services"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Running **kubectl get all** displays most resources, but not services.

**What you expected to happen**:
I would expect that kubectl get all displays also services, since service is a resource.

**How to reproduce it (as minimally and precisely as possible)**:
shell$ **kubectl get services**
NAME            TYPE        CLU

[2017-11-03 20:57] mikkeloscar opened #55079 "PSP: Pods from the same deployment does not get the same PSP"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Sometimes pods created from a deployment (or daemonset) does not get the same PSP even though the pod template should be identical. I.e. one pod gets "privileged" psp while another gets "restricted".

We see this issue across many resources in many different clusters but not in a consistent way.

The problem is seen in a

[2017-11-03 21:03] mikkeloscar commented on #55079
/sig auth

[2017-11-03 21:15] vishh opened #55080 "Built in support for dedicated nodes with extended compute resources (auto toleration)"
A typical user managing clusters with extended compute resources will want to reserve those resources for pods that require those resources. For example, a node with one or GPUs or FPGAs or special NICs will most likely be reserved for pods that need those resources. Essentially, such nodes will be treated as "dedicated" nodes.
Taints is the kubernetes API to express the notion of dedicated nodes.

[2017-11-03 21:19] dragondscv commented on #40214
Any update on this one? This would be useful.

[2017-11-03 21:25] davidopp commented on #55080
I assume "cluster lifecycle control plane" is the only option if you want to avoid race conditions? (kubelet is ready before taint is created) Or would the device plugin be able to create a taint before the node goes ready?

Anyway, your proposal sounds reasonable (and I can't think of any other way to do it). As an aside, you can use a PreferNoSchedule if you don't want to completely prohibit pod

[2017-11-03 21:45] liggitt commented on #55080
Wouldn't that require "perfect fit" tolerations for nodes  with more than one custom resource?

David, how are "prefer no schedule" taints  weighted by the scheduler relative to other scheduler priorities?

[2017-11-03 21:51] spiffxp commented on #27796
Is there any particular reason this issue is still open?  Didn't we move to the LF CLA system?  Does this need to be renamed to reflect a scope change?

[2017-11-03 21:55] dankohn commented on #27796
@spiffxp It would be appropriate to rename to something like "Aggregate issues with LF CLA".

FYI, the LF will soon be rolling out a rewrite of our CLAbot that will hopefully address most of the workflows that have caused problems to date. When that happens, we can start a new issue and close this one.

[2017-11-03 22:04] jnicholls commented on #24472
+1

[2017-11-03 22:06] ConnorDoyle commented on #55080
Did you consider a single taint key for all nodes with one or more extended resources?

[2017-11-03 22:53] caesarxuchao opened #55082 "separators for finalizer name and initializer name are different"
Finalizer name requires "/" to separate segments and at least two segments.
Initializer name requires "." to separate segments and at least three segments ([code](https://github.com/kubernetes/kubernetes/blob/78ada62c3086f3d2e743b6e7cc696e390a619585/pkg/apis/admissionregistration/validation/validation.go#L41)).

We should make the requirement consistent. I favor the the initializer naming style.

[2017-11-03 23:00] taylorb-microsoft opened #55083 "Should use GetVersion vs Shelling out to ver"
https://github.com/kubernetes/kubernetes/blob/d837a6a2eabee7cc3ed2dce1d031a1a491d8faec/pkg/kubelet/winstats/perfcounter_nodestats.go#L54

Using GetVersion() will likely be more reliable/faster/better than shelling out to ver... if you need more data than GetVersion you might also follow the pattern from Moby https://github.com/moby/moby/blob/54251b53d7081f1471c0a2cb23fd4e198e71bd14/pkg/parsers/ker

[2017-11-03 23:03] huzhengchuan commented on #55078
/sig cli

[2017-11-03 23:11] danielfm opened #55084 "Kubernetes unexpectedly de-registered all worker nodes from all Service-managed ELBs"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

Today I had a major outage where all worker instances were de-registered from all Service ELBs. I found these events when running `kubectl describe svc`:

[code]

I logged into the AWS Console and could verify that all nodes were associated with the correct Security Groups, and those Security Groups were prope

[2017-11-03 23:13] danielfm commented on #55084
/sig aws

[2017-11-03 23:18] huzhengchuan commented on #55078
In my kubernetes cluster, kubectl get all can get services resource.

[root@go-g2tl7usxo6-0-2xpx3vddt3gt-kube-master-vsnphr6ujr65 escore]# kubectl version
Client Version: version.Info{Major:"1", Minor:"9+", GitVersion:"v1.9.0-alpha.2.36+4aaf39a5c0bc3d", GitCommit:"4aaf39a5c0bc3d3c0523c383316a461e6fbb12ec", GitTreeState:"clean", BuildDate:"2017-11-02T02:02:46Z", GoVersion:"go1.8.3", Compiler:"gc",

[2017-11-03 23:20] cheftako opened #55085 "SharedInformerFactory needs CoreV1() and similar methods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
The Clientset has deprecated the non versioned interfaces such as Core() (staging/src/k8s.io/client-go/kubernetes/clientset.go) in preference to versioned interfaces such as CoreV1(). However the SharedInformerFactory has not yet (staging/src/k8s.io/client-go/informers/factory.go) deprecated these methods in preference to

[2017-11-03 23:22] cheftako commented on #55085
/cc @yliaog

[2017-11-03 23:26] yliaog commented on #55085
/sig api-machinery

[2017-11-03 23:27] yliaog commented on #55085
/assign yliaog

[2017-11-03 23:31] jiayingz commented on #55080
cc @jiayingz @mindprince

[2017-11-03 23:47] jpbetz commented on #54104
@caesarxuchao showed me the correct way to do this: Register all needed types from `k8s.io/api` like done by client-go's [scheme/register.go](https://github.com/kubernetes/client-go/blob/076e344c86e52f088b78615f815b245f6d613537/kubernetes/scheme/register.go) and use `serializer.DirectCodecFactory` to create the needed codecs for the registered type.

See https://github.com/jpbetz/auger/pull/5 for

[2017-11-03 23:47] #54104 closed

[2017-11-04 00:13] smarterclayton opened #55091 "When deleting and recreating a GCP node in an autoscaling group with bootstrapping on 1.7, pods sometimes not deleted by node controller"
While testing bootstrapping in a 1.7 cluster, I noticed that deleting GCP instances in an autoscaling group (where the instance is deleted directly from the console) resulted in inconsistent behavior - sometimes pods on the deleted instance were properly deleted and rescheduled, other times they were not.

Scenario:

1. Create a 3 node autoscaling group, with nodes set to auto join the cluster
2.

[2017-11-04 00:15] smarterclayton commented on #55091
@kubernetes/sig-node-bugs @sjenning @danwinship this is the root cause of openshift/origin#17125.  I don't think GCP allows you to assign new instance names in an autoscaling group (looks like it preserves to conserve names, can't find a flag from a cursory look).

[2017-11-04 00:21] smarterclayton commented on #55091
Didn't call it out above, but another bug is that a readiness status change is *not* updating lastTransitionTime from the node.  Not sure if that was fixed in 1.8 or 1.9

[2017-11-04 00:27] smarterclayton commented on #47992
There is no requirement that endpoints include pods in a single namespace.
It's just that's the default behavior that the controller has today.
Someone could easily implement a cross namespace endpoints updater.

On Fri, Nov 3, 2017 at 3:43 AM, Dennis Docter <notifications@github.com>
wrote:

[2017-11-04 00:58] mindprince commented on #55005
@kevincvlam I think you should have access now. Let me know if you don't.

[2017-11-04 00:59] mindprince commented on #55005
Please close the bug if it works now.

[2017-11-04 01:13] davidopp commented on #55080
I'm not sure what the "perfect fit" comment meant, or exactly what Connor was suggesting as an alternative.

Maybe we should clarify what the requirements are?

We have a cluster with two extended resources A and B. Some nodes have A (call those "A-type nodes"), some nodes have B (call those "B-type nodes"), some nodes have both (call those "AB-type nodes"), and some nodes have neither (call those

[2017-11-04 01:24] jamesbuckett opened #55094 "kube-dns ContainerCreating Failed create pod sandbox."
**This a BUG REPORT**:

/kind bug

**What happened**:
Installed Kubernetes via kubeadm on Raspberry Pi 3 Cluster.

[code]
Check status of Control Plane
[code]
kube-dns pod never starts
[code]

**What you expected to happen**:

For this pod to start successfully
kube-dns-66ffd5c588-wrpt5            0/3       ContainerCreating   0          7m        <none>            k8s-node-4

**How to reproduce i

[2017-11-04 01:27] jamesbuckett commented on #55094
/sig kubeadm

[2017-11-04 01:28] liggitt commented on #55080
That. If your only extended-resource node has both A and B resources, auto-adding an A and B taint such that an A-requiring (and even auto-A-taint-tolerating) pod would be unschedulable seems unexpected.

Making the auto-added taints PreferNoSchedule instead might make that more reasonable. Those taints could be elevated to NoSchedule if a "perfect fit" (only schedule pods that require all the ext

[2017-11-04 01:31] davidopp commented on #55080
Does "that" mean yes or no?

[2017-11-04 01:31] bsalamat commented on #55080
I have several of questions/comments:
1. Wild-card tolerations could still cause trouble for users. Today, a toleration with empty key and empty effect tolerates all taints.
2. A similar problem may happen in shared clusters, but you cannot except all users to be well-behaving and cooperative. So, they may add special-resource tolerations to their pods.
3. Another possible solution is to extend th

[2017-11-04 01:38] davidopp commented on #55080
Can you explain what you mean by "cause trouble"? I understand the general issue with security that you mentioned in your next point, but what problem do wildcard tolerations by themselves cause?

It's true today but can easily be fixed, see https://github.com/kubernetes/kubernetes/issues/48041#issuecomment-323266418

PreferNoSchedule taint kinda does this; I think we should see if we can do this

[2017-11-04 01:41] liggitt commented on #55080
Prohibiting an A-requesting pod from running on an AB node is what I was calling requiring a "perfect fit" (since the node satisfied the pod's requests, but because it had additional capabilities, would reject the pod).

It's useful to be able to do that with taints, but making that happen automatically to the point of refusing to schedule the pod seemed weird

[2017-11-04 01:42] davidopp commented on #55080
Actually, what I wrote in the previous comment about security doesn't fully solve the security problem. It allows you to restrict which users can use the special devices, but can't prevent a user who is authorized to use the device when their pod requests the resource, from adding the toleration to a pod that doesn't request the resource. Whether this is worth securing against, I'm not sure.

[2017-11-04 01:53] bsalamat commented on #55080
The security issue is the main problem here, but a less important issue exists as well. Even in a single user cluster, if the user wants to create pods with wildcard toleration for any reason, such as HA, special config, special type of workloads, etc., those pods may land on nodes with rare resources and cause a similar problem.

[2017-11-04 02:06] bgrant0607 commented on #27796
Renamed

[2017-11-04 02:52] zl4bv commented on #44200
My issue appears to have been the result of the MountFlags configuration set by an old installation of Docker. By applying the change in https://github.com/moby/moby/pull/22806 I have resolved this issue on the node described in my previous comment.

[2017-11-04 03:03] fejta-bot opened #55096 "Failure cluster [06dc1f...] failed 109 builds, 23 jobs, and 1 tests over 1 days"
### Failure cluster [06dc1f59a00a080207b2](https://go.k8s.io/triage#06dc1f59a00a080207b2)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    23 jobs failed,    109 builds failed.
Failure stats cover 1 day time range '3 Nov 2017 02:05 UTC' to '4 Nov 2017 02:05 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 23 |

##### Top fa

[2017-11-04 03:03] fejta-bot opened #55097 "Failure cluster [9ae8b0...] failed 99 builds, 10 jobs, and 1 tests over 1 days"
### Failure cluster [9ae8b02991e960c6c6f4](https://go.k8s.io/triage#9ae8b02991e960c6c6f4)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    10 jobs failed,    99 builds failed.
Failure stats cover 1 day time range '3 Nov 2017 02:05 UTC' to '4 Nov 2017 02:05 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 10 |

##### Top fai

[2017-11-04 03:03] fejta-bot opened #55098 "Failure cluster [541d95...] failed 82 builds, 8 jobs, and 1 tests over 1 days"
### Failure cluster [541d95dcc66b177b87a8](https://go.k8s.io/triage#541d95dcc66b177b87a8)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    8 jobs failed,    82 builds failed.
Failure stats cover 1 day time range '3 Nov 2017 02:05 UTC' to '4 Nov 2017 02:05 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 8 |

##### Top faile

[2017-11-04 03:54] #55014 closed

[2017-11-04 04:23] kevincvlam commented on #55005
@mindprince Thanks for your help! Yes, following the instructions I was able to get the GPU available for scheduling :).

Also, it's exciting to hear that the support will be reaching beta soon!

Marking the issue closed. Thanks again!

[2017-11-04 04:23] #55005 closed

[2017-11-04 04:43] dims commented on #55094
/sig cluster-lifecycle

[2017-11-04 04:44] dims commented on #55083
/sig windows

[2017-11-04 04:44] dims commented on #55048
/sig aws

[2017-11-04 04:44] dims commented on #55037
/sig api-machinery

[2017-11-04 04:44] dims commented on #55036
/sig cli

[2017-11-04 04:55] BenTheElder commented on #54095
Forgot this issue is still open, still seeing this happen: https://github.com/kubernetes/kubernetes/pull/55095#issuecomment-341872178

[2017-11-04 05:04] guoshimin opened #55099 "upgrade to v1.7.8 causes duplicate fluentd-gcp daemonsets on GKE"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

upgrade to v1.7.8 causes duplicate fluentd-gcp daemonsets on GKE
[code]

**What you expected to happen**:

There should be only one fluentd-gcp daemonset.

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade any pre-v1.7.8 cluster on GKE to v1.7.8

**Anything else we need to know?**:

Seems to be re

[2017-11-04 05:06] guoshimin commented on #55099
/sig instrumentation

[2017-11-04 05:27] sykpour opened #55100 "Makefile:396: recipe for target 'cross' failed"
Even I have enough memory,  I install kubernetes from 1.7.0 source still error. error info as follow:

[kubernetes-1.7.0]# sudo make quick-release
+++ [1104 13:17:31] Verifying Prerequisites....
+++ [1104 13:17:31] Building Docker image kube-build:build-ac3d17de29-5-v1.8.3-1
+++ [1104 13:17:43] Syncing sources to container
+++ [1104 13:17:45] Running build command...
+++ [1104 13:17:56] Building t

[2017-11-04 05:35] troyharvey commented on #26299
[Here's a complete example](https://gist.github.com/troyharvey/4506472732157221e04c6b15e3b3f094) using `envFrom` for Secrets and ConfigMaps.

[2017-11-04 05:52] jamesbuckett commented on #55094
Additional messages from kube-dns pod
[code]
Most interesting is `User "system:node:k8s-node-4" cannot get secrets in the namespace "kube-system"`

Could this be RBAC related ?

[2017-11-04 06:35] dims commented on #55100
/area build-release
/sig release

[2017-11-04 07:55] ConnorDoyle opened #55102 "Remove support for opaque integer resources (deprecated in v1.8)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The opaque integer resources (OIR) feature was officially deprecated in v1.8,  v1.9 is the earliest possible version to remove it.

[2017-11-04 08:14] #50201 closed

[2017-11-04 08:14] #50202 closed

[2017-11-04 08:14] #50203 closed

[2017-11-04 08:25] dixudx commented on #55069
@yujuhong I did not touch this part of codes.

From recent builds of [pull-kubernetes-unit](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-unit), it seems `TestInvalidPodFiltered` gets passed.

[2017-11-04 09:36] jwickens commented on #52173
see also kubernetes-incubator/kube-aws#945

[2017-11-04 09:38] flybd5 commented on #55100
Exact same problem here in MacOS, using the very latest OSX beta. No matter what I do the build won't get past that point. After three days of trying different things I am giving up on this.

$ make quick-release
+++ [1104 02:04:59] Verifying Prerequisites....
+++ [1104 02:04:59] Using Docker for MacOS
+++ [1104 02:05:00] Building Docker image kube-build:build-32f91f5d20-5-v1.9.1-1
+++ [1104 02:05

[2017-11-04 10:59] sjevs commented on #54567
I checked the source, the problem is that same Quantity logic is used for CPU and memory. For example:
https://github.com/kubernetes/kubernetes/blob/65b8f5bd98de5b4bd6b1f75c3e99280223c7723d/pkg/api/v1/defaults_test.go#L356
[code]

and it is like this in whole project. Guys, open question. Main question: Do we want to change it?

Meanwhile I will try to make a suggestion PR.

[2017-11-04 11:17] sunilkumarmohanty commented on #33933
you can use kubeadm token generate to generate a predefined token

[2017-11-04 11:21] sjevs commented on #54567
Currently my suggestion:
[code]
This new function would:
- call main `func ParseQuantity(str string) (Quantity, error)`
- then validate the type and if needed throws exception.

What do you think?

[2017-11-04 12:15] sjevs commented on #54567
aaand btw, the changes would go to package https://github.com/kubernetes/apimachinery :)

[2017-11-04 12:32] sjevs commented on #54567
the place for changes `staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go`, BUT:

the problem is that, `k8s.io/apimachinery` is separated into different package, and the suggestion above to make changes in same quantity file is NOT valid anymore, since it would reference types`k8s.io/kubernetes/pkg/api`.

[2017-11-04 13:46] RenaudWasTaken commented on #55080
@davidopp for 2 and 3 this we don't need taints to do that, it is already supported by the scheduler through extended resources. i.e:
1. Pods that request only A cannot be scheduled on B-type nodes as they don't advertise resource A.
2. Pods that request only B cannot be scheduled on A-type nodes as they don't advertise resource B.

I think there is one clear requirement and two where we are unsur

[2017-11-04 15:44] martinivanov commented on #55031
I've done some work on this [here](https://github.com/martinivanov/kubernetes/commit/c932cac1040abd1f4f89a0a915d0acdec62dd719). In general the parts required by kubernetes were copied to the project.

[2017-11-04 17:04] liggitt commented on #55085
I don't think so. Informers already require specifying a version, which is what we care about: `Core().V1()`

The deprecated clientset methods implicitly gave you a version without it being specified (`Core()` was the same as `CoreV1()`), but could change if a new version was introduced

[2017-11-04 19:09] davidopp commented on #55080
Sorry @RenaudWasTaken, you're correct.

Thinking about this more, I might just be echoing what @liggitt was saying, but it seems that  there are two reasonable policies (cluster admin chooses one for the whole cluster, or maybe for non-intersecting subsets of extended resources):

1) if you want to require perfect fit, then use NoSchedule taints in the manner originally proposed in this issue (one

[2017-11-04 19:56] ConnorDoyle commented on #55102
/sig scheduling

[2017-11-04 20:31] smarterclayton commented on #53387
This is really annoying now that I'm dealing with more and more groups.

1. Explain should tell me what group something is
2. I need to be able to see info on a given resource type in the exact form that I would specify it to get (the so called "resource-arg" form `resource.version.group`).

I think this is the #1 issue dealing with extensions - no place to go to find them, no way to know how to u

[2017-11-04 20:32] smarterclayton commented on #53387
@kubernetes/sig-api-machinery-feature-requests

[2017-11-04 21:00] bsalamat commented on #55080
+1. I also think that NoSchedule taint is too restrictive and may clash with priority and surprise users. It is almost always undesirable if a system/production critical pod is not scheduled due to the special resource taint. Similarly, I believe in almost all scenarios users want higher priority pods to take precedence over lower priority pods. When a cluster is under resource pressure, those hig

[2017-11-04 21:46] davidopp commented on #55080
That's a good point. We could make the admission controller configurable to always allow pods in certain namespaces (e.g. kube-system) and/or from certain users.

[2017-11-04 22:10] 1605200517 opened #55108 "Better usability for the join token"
/kind feature
@kubernetes/sig-cli
**What happened**:
I have discovered that if it is not so easy to add new machines if you do not have original joun string output from kubeadm. "Is there a way to generate the whole join command? **I feel like I have to reset the entire cluster to be able to "reach" the magic string**" (c) @alexellis

**What you expected to happen**:
Likewise in Docker Swarm, you

[2017-11-04 22:17] luxas commented on #55108
Hi!

Thank you for filing this issue. We appreciate your interest in Kubernetes and kubeadm.
In order to make the kubernetes/kubernetes issue tracker more usable, we're routing issues to different repositories with different focuses.

I think this issue belongs in the kubeadm repository. Please move this issue to the [kubeadm repo tracker](https://github.com/kubernetes/kubeadm/issues) in order for

[2017-11-04 22:17] #55108 closed

[2017-11-04 22:28] 1605200517 commented on #55108
https://github.com/kubernetes/kubeadm/issues/519

[2017-11-05 01:40] samlyhuang commented on #47334
I have the same problem
kubernetes version:1.6.2
heapster version:1.3.0

[code]

[code]

[code]

[2017-11-05 03:04] fejta-bot opened #55110 "Failure cluster [050a6e...] failed 96 builds, 34 jobs, and 3 tests over 1 days"
### Failure cluster [050a6eeb974a597a992f](https://go.k8s.io/triage#050a6eeb974a597a992f)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    34 jobs failed,    96 builds failed.
Failure stats cover 1 day time range '4 Nov 2017 01:28 UTC' to '5 Nov 2017 01:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| TearDown Previous | 18 |

[2017-11-05 03:04] fejta-bot opened #55111 "Failure cluster [60685f...] failed 95 builds, 9 jobs, and 1 tests over 1 days"
### Failure cluster [60685f55039bd585b63d](https://go.k8s.io/triage#60685f55039bd585b63d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    9 jobs failed,    95 builds failed.
Failure stats cover 1 day time range '4 Nov 2017 01:28 UTC' to '5 Nov 2017 01:28 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 9 |

##### Top faile

[2017-11-05 03:15] metral commented on #47131
I'm hitting this error on 1.7.5 and etcd 3.1.8 but not due to an etcd rollout, it simply just started occurring on my cluster to the point that its affecting usability. Are there any known work arounds?

[2017-11-05 03:26] #55085 closed

[2017-11-05 03:30] liggitt commented on #55079
fixed by https://github.com/kubernetes/kubernetes/pull/52849 in master, picked to release-1.8 for the next 1.8.x release

[2017-11-05 03:30] #55079 closed

[2017-11-05 04:16] SEJeff commented on #51602
This one is done as both PRs are merged:
[code]

[2017-11-05 04:18] gogeof opened #55113 "calico tunnel seems not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

![image](https://user-images.githubusercontent.com/13129099/32411798-4da403c2-c21f-11e7-8579-184ce7454860.png)

![image](https://user-images.githubusercontent.com/13129099/32411803-7f834c86-c21f-11e7-987d-c63d9e12e290.png)

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

**cluster and prometheus service in

[2017-11-05 04:23] #38838 closed

[2017-11-05 04:29] m1093782566 commented on #51602
@SEJeff ACK!

[2017-11-05 07:03] shiywang commented on #53387
We have an `kubectl api-resource` command WIP: https://github.com/kubernetes/kubernetes/pull/42873 which is the advanced version of `kubectl api-versions` i think.

I have a pr which will remove those the hard-coded resource list [help info](https://github.com/kubernetes/kubernetes/blob/93fed120fbfd5c621387d636d53f8563ebddea39/pkg/kubectl/cmd/util/printing.go#L230-L266) of `kubectl get` instead pr

[2017-11-05 09:19] m1093782566 commented on #54203
@fasaxc

ipset `dst,dst` works for me, it solves the hairpin issue. Thanks again :)

[2017-11-05 10:13] dungeonmaster18 commented on #47668
Hi @lavalamp anyone working on this? if not I would like to take this. I am a new contributor here. So if I can get more detailed guidance that will be appreciable.

[2017-11-05 11:39] piwi91 commented on #54864
Hi @jamiehannaford, I would love to, but I don't know which URL it is calling. Any thoughts about how I can log all the calls?

[2017-11-05 11:52] jamiehannaford commented on #54864
@piwi91 I think it's the lbaas v2 endpoint for the Neutron service. The URL will be in your service catalog.

[2017-11-05 11:56] PierreF commented on #47131
I'm testing a workaround that seem to work so far for the etcd client that hang: tell kube-apiserver to use localhost as etcd cluster endpoints instead of the 3 etcd servers. It works for me because i've 3 master nodes each with one kube-apiserver and one etcd server.

[2017-11-05 12:12] pires opened #55117 "Scheduler predicates test that may violate DNS label rules"
/kind bug
cc @kubernetes/sig-scheduling-bugs

**What happened**: Running one scheduling predicates conformance test on a 1.7.10 cluster where node names are FQDN, e.g. kube-node-0.kubernetes.mesos, fails.

[code]

**What you expected to happen**: The tests should pass.

**How to reproduce it (as minimally and precisely as possible)**:

Follow [these instructions to deploy Kubernetes 1.7.10 on DC/O

[2017-11-05 15:51] spzala commented on #55078
@leon-gh I could not recreate the issue as well with minikube or v1.9 alpha. Can you just run ```kubectl get all``` and see what's the output of it.

[code]
# cluster/kubectl.sh get all
[code]
# cluster/kubectl.sh get all | grep kubernetes
svc/kubernetes   ClusterIP   10.0.0.1     <none>        443/TCP   10d

[2017-11-05 16:00] pires commented on #55117
**UPDATE**: update issue description to add that it also happens on 1.8.x and master.

[2017-11-05 16:04] #51151 closed

[2017-11-05 16:51] Raffo commented on #54155
I've seen this multiple times in the last weeks, actually being paged on a production cluster for this very same thing. I am going to investigate this further, what I am seeing in the kubelet logs is:

[code]

The pod eventually succeed to run, but they take a very long time.

[2017-11-05 17:05] ut0mt8 commented on #50375
A hack may be to write directly to etcd and restart api-server, but this is very very dirty.

[2017-11-05 17:42] leon-gh commented on #55078
Seems like it's related to the client/server being different in minor versions or something.
I think the issue can be closed.

kubectl that works (Ubuntu 14.04.3 trusty): (Note 1.7 both client/server)
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3", GitCommit:"2c2fe6e8278a5db2d15a013987b53968c743f2a1", GitTreeState:"clean", BuildDate:"2017-08-03T07:00:21Z", GoVersion:"go1.8.

[2017-11-05 18:05] donutloop commented on #55043
same here

[2017-11-05 18:18] spzala commented on #55078
@leon-gh thanks for the quick update!! I agree with you, it's safe to close the issue. Can you please close it? Thanks!

[2017-11-05 19:05] spzala commented on #54924
@samlyhuang hi, since the original issue is no longer an issue I would suggest to close this issue and open a new one or change the title and description detail to help folks to look at quickly. Also for questions https://stackoverflow.com/questions/tagged/kubernetes is a good place to ask. Thanks!

[2017-11-05 19:34] smarterclayton opened #55121 "/debug endpoint on nodes should get its own ACL rule, otherwise have to give root access on nodes"
`/debug/pprof` on nodes is protected under the generic proxy rule for a node, which allows a high level of privilege under a node.  While in theory profiling can be used to extract sensitive info from a node, in general it is less powerful than the permissions required on the node.  The desire is to set up an automated debug endpoint that can capture profile traces for a cluster for participating

[2017-11-05 19:35] smarterclayton commented on #55121
/sig auth
@liggitt as we discussed

[2017-11-05 19:51] MrHohn commented on #54571
Send out another fix https://github.com/kubernetes/kubernetes/pull/55122.

[2017-11-05 19:51] MrHohn commented on #54524
Sent out another fix https://github.com/kubernetes/kubernetes/pull/55122.

[2017-11-05 21:57] jhorwit2 commented on #54965
@tamalsaha  What's the output of `kubectl get nodes -owide`?

[2017-11-05 22:03] jhorwit2 commented on #54965
Also, are you using RBAC?

[2017-11-05 22:09] jhorwit2 commented on #54965
I'm going to guess the problem is that your rbac role for the CMM is missing:
[code]

Would you mind checking the logs of your CCM for something like
[code]

[2017-11-05 22:14] jhorwit2 commented on #54965
/area cloudprovider

[2017-11-05 22:16] jhorwit2 commented on #54077
/area cloudprovider

[2017-11-05 23:03] vishh commented on #55080
@liggitt @davidopp @bsalamat
Thanks for the awesome analysis. There are several interesting scenarios covered in this issue.
It's useful to think of the practicality of these use cases before deciding on an acceptable solution.

One thing to keep in mind is that k8s is **not requiring** placing Taints on nodes exposing extended resources. It is totally optional and left to the cluster deployment.

[2017-11-05 23:25] ahmetb commented on #54891
still does not help much. :) It would be good if it said `field "paths." does not exist` because then I can clearly see there's a trailing period in quotes, which is causing the problem.

[2017-11-06 00:03] jhorwit2 opened #55124 "cloud controller manager does not support configmap resource locks"
/kind bug
/area cloudprovider
/sig cluster-lifecycle

**What happened**:

The CCM does not support `--leader-elect-resource-lock=configmaps`  and will always use `endpoints`.

**What you expected to happen**:

`--leader-elect-resource-lock=configmaps` should make the CCM use a configmap for a resource lock instead of `endpoints`.

**How to reproduce it (as minimally and precisely as possible)**:

[2017-11-06 01:04] bsalamat commented on #55080
We can consider extending it to partial fit and/or namespace specific wildcards in the future.
Any objections @liggitt @davidopp @bsalamat?

It is acceptable in my opinion, but please ensure that your solution can be easily extended to support partial fit and please plan to add the support in a near future release (perhaps 1.10?).

[2017-11-06 01:08] liggitt commented on #55080
Since external admission is scheduled for beta in 1.9, it would be ideal to start moving in the direction of making these external admission plugins.

[2017-11-06 01:18] jamesbuckett commented on #55094
Drained Nodes and performed kubeadm reset

kubeadm int with this CLI

`kubeadm init --pod-network-cidr 10.244.0.0/16 --api-advertise-address x.x.x.x.`

Installed the Flannel Network Plugin

`kubectl apply -f kube-flannel.yml`

Waited for kube-dns to show 3/3

[code]

kube-dns now starts successfully
`kube-dns-66ffd5c588-55kmv            3/3       Running   0          29m       10.244.0.2        k8

[2017-11-06 01:23] liggitt commented on #55080
Also, ordering of admission plugins auto-adding/removing/validating tolerations is going to get really complex (especially if allowed tolerations start to become an intersection of per-namespace policy, cluster-wide policy, and dynamic pod-dependent policy)

Considering the ones we have today that add/validate tolerations and making sure the use cases they address individually can actually be hand

[2017-11-06 02:02] m1093782566 commented on #54916
Glad to see gci-gce-ipvs CI job is running happily. I think we can close this issue.

Thanks all again!

[2017-11-06 02:08] lichuqiang commented on #55080
/cc

[2017-11-06 02:28] xiaods commented on #2856
+1 for request feature.

[2017-11-06 02:38] Lion-Wei commented on #54916
I'm afraid we should reopen this issue, cause the CI still not using ipvs mode, kube-proxy pod can't load kernel modules correctly, this is the pr log:
[code]
But in my local environment, it works well.

[2017-11-06 02:40] vishh commented on #55080
@bsalamat
There really isn't an use case yet for `partial fit`. I do not mind adding support for it, but why carry a functionality (and code) without a clear use case? I suspect when we need `partial fit` we may need to introduce additional policy for when to apply partial vs perfect fit. I propose we refer on it.

@liggitt
This admission controller would act on all pod objects. By external admiss

[2017-11-06 03:05] fejta-bot opened #55133 "Failure cluster [0ca581...] failed 122 builds, 11 jobs, and 1 tests over 1 days"
### Failure cluster [0ca58143af91914fc29f](https://go.k8s.io/triage#0ca58143af91914fc29f)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    11 jobs failed,    122 builds failed.
Failure stats cover 1 day time range '5 Nov 2017 01:52 UTC' to '6 Nov 2017 01:52 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 11 |

##### Top fa

[2017-11-06 03:05] justinsb commented on #55022
So I hit this today after a master restart with an aggregated apiserver registered.  The aggregated apiserver runs as a daemonset on the masters, which I think needs KCM to schedule a node.  But KCM exits on start because of this error.

I don't think this would be different on a deployment either, in the case of a full cluster power-off and recovery.

The only way I could recover was to directly

[2017-11-06 03:12] feiskyer opened #55136 "Make CRI logs parsing to a library"
We should make the CRI log parsing code in kubelet to be a library. So that container runtimes and external tools don't need to copy the whole code ( vendor it instead ).

Referring https://github.com/kubernetes-incubator/cri-tools/issues/169.

[2017-11-06 03:12] feiskyer commented on #55136
/assign

[2017-11-06 03:12] feiskyer commented on #55136
/sig node

[2017-11-06 03:14] spzala commented on #54891
@ahmetb :) agree! I have created a new PR and if you think it looks good, I will add some test. And I have no idea why I couldn't remove thumps down above in your comment :( ..didn't want to add it in first place but I guess too fast of click, sorry :(. Thanks!
[code]
@nikhita hi, I have a created a new PR with a different solution approach and possibly what we want as you could see above discussi

[2017-11-06 03:22] yanxuean commented on #55136
I can help on it.

[2017-11-06 03:22] yanxuean commented on #55136
/assign

[2017-11-06 03:23] justinsb commented on #55022
So I think that k-c-m is a bundling of various logically separate processes into a single process, largely as an optimization.  I think we should consider whether any single k-c-m controller should be able to stop all of k-c-m: it doesn't make logical sense to me to do so.  And if we say "ah, but controller X is critically important", then what happens when half our controllers are run out of proc

[2017-11-06 04:58] feiskyer commented on #55136
@yanxuean Thanks. I have a branch ready for this. Will open a PR later and ping you when it is out.

[2017-11-06 05:20] davidopp commented on #55080
https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/admission/defaulttolerationseconds
https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/admission/podtolerationrestriction

IIRC only the first one is enabled by default in kube-up.sh, but I believe OpenShift uses the second one.

[2017-11-06 05:25] dixudx commented on #54855
@yuexiao-wang Thanks for this issue.

PR #53631 has already included above bug-fixes, as well as enforcing required flags.

[2017-11-06 05:45] yanxuean commented on #55136
ok

[2017-11-06 05:52] feiskyer commented on #55083
/assign

[2017-11-06 06:37] Random-Liu opened #55141 "cluster e2e image puller should use `crictl`."
Currently e2e image puller is using `docker pull`.
However for alternative runtime, e.g. cri-containerd, there won't be `docker pull`.
We should use `crictl pull` instead.

For now, I'll disable `PREPULL_E2E_IMAGES` for cri-containerd cluster e2e test. But we should fix this anyway.

@kubernetes/sig-node-bugs @yujuhong @feiskyer @mikebrow @abhi @miaoyq @yanxuean

[2017-11-06 06:51] #54855 closed

[2017-11-06 07:28] sttts commented on #54095
/cc @dims

[2017-11-06 08:11] feiskyer commented on #55141
@Random-Liu Am I missing something? e2e image puller has already swithed to CRI image service for remote runtime. Why should we switch to crictl?

https://github.com/kubernetes/kubernetes/blob/210626577b17ab014589e983b50b7cb821181a6c/test/e2e_node/image_list.go#L104-L129

[2017-11-06 08:30] k82cn commented on #2856
IMO, there's two part of this requirement:

1. k8s quota can handle external resource (e.g. CRD) itself or by admission plugins
2. the "Service Mesh" provide such ability

Should we define "Service Mesh" related resources/kinds in k8s? Similar to network policy.

[2017-11-06 08:40] kargakis opened #55146 "Collect prometheus metrics for custom resources"
I can't find any api server metrics for custom resources.

@kubernetes/sig-api-machinery-bugs

[2017-11-06 08:56] dixudx commented on #55027
/assign

[2017-11-06 09:04] xiaods commented on #2856
this is not different. k8s focus on network raw ethernet limit. the istio is cover application's request limit.

[2017-11-06 09:19] andyzhangx commented on #47511
@agolomoodysaada not yet, autoscaler depends on VMSS, and VMSS is not ready on azure now, even it's ready, we still needs azure-sdk-for-go sdk ready for VMSS.

[2017-11-06 09:26] llarsson commented on #28174
@michaelajr did you ever find a good solution?

[2017-11-06 09:27] andyzhangx commented on #47511
To be more precise: k8s on azure does not support VMSS now because VMSS does not support attach azure disk, azure autoscaler could be only used on a k8s cluster with VMSS. So that's the point here: you could implement autoscaler  now, but you could not test it as k8s does not support VMSS...

[2017-11-06 09:45] dims commented on #54095
@stts Ack. i am travelling this week (Sydney) will be back over the weekend.

[2017-11-06 09:54] winjer opened #55150 "Editing CronJob fails with unknown object type"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig api-machinery

**What happened**:

`kubectl edit cronjob -n production foo`

opens the cronjob ok in the editor, but when I save it I get:

    # cronjobs "foo" was not valid:
    # * : Invalid value: "The edited file failed validation": unknown object type
    schema.GroupVersionKind{Group:"batch", Version:"v2alpha1", Kind:"CronJob"}

[2017-11-06 09:57] WanLinghao commented on #54789
@mishamo On my pc, things works normally without any error.
what's your k8s version?

[2017-11-06 09:59] mishamo commented on #54789
[code]

[2017-11-06 10:00] tamalsaha commented on #54965
@jhorwit2, your response helped me solve this. Thank you!

In my case, I had not even deployed CCM, as I was hoping for the kube-dns etc pods to become ready. Now, I deployed DO's ccm right after `kube init` was finished. After that the master instance got IP and the kube-apiserver etc pods also got IP.

Regarding RBAC, I updated the docs :) https://github.com/kubernetes/website/pull/6111

[2017-11-06 10:00] #54965 closed

[2017-11-06 10:04] WanLinghao commented on #54789
@mishamo  I guess it's some kind of outdated bug. Current k8s version is 1.9.x, upgrading could solve it.

[2017-11-06 10:08] ecejjar opened #55151 "CNI plugin fails to start in LXD cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I deployed a kubernetes 1.8.2 cluster manually within a couple of Ubuntu 16.04 LXD containers (kubemaster1 and kubeworker1), following the procedure described in [this guide](https://kubernetes.io/docs/setup/independent/install-kubeadm/). I had to do a few tweaks to default configurations in order to bring it up:

1) LXD

[2017-11-06 10:13] JrCs commented on #45010
Here is the docker file a use to create a hyperkube image with latest version of ceph-common:
[code]

[2017-11-06 10:16] piwi91 commented on #54864
@jamiehannaford Ok I did a verbose with the neutron client which showed me the response in JSON

Response:
[code]

[2017-11-06 10:19] dixudx commented on #55150
@winjer Have you enabled `batch/v2alpha1=true` in `--runtime-config` when starting `apiserver`?

Only `batchapiv1` and `batchapiv1beta1` are registered as default.

[2017-11-06 10:23] winjer commented on #55150
@dixudx Yes, batch/b2alpha1 is enabled in runtime config.

[2017-11-06 10:33] shyamjvs commented on #55060
@porridge - Could you take a look into this? Also do we have a known commit range?

[2017-11-06 10:34] winjer commented on #55150
to be clear the cronjobs are running and functioning fine, it is just `kubectl edit` that doesn't work, which seems kind of weird.

[2017-11-06 10:38] porridge commented on #55060
I can look at this, (I don't have the privileges to assign issues).

[2017-11-06 10:39] shyamjvs commented on #55060
/assign @porridge
Thanks!

[2017-11-06 10:40] shyamjvs commented on #55060
You can comment with `/assign` to assign an issue to yourself.

[2017-11-06 10:44] shyamjvs commented on #55060
Seems like it changed b/w run-49 and run-52:

[code]

[code]

Diff - https://github.com/kubernetes/kubernetes/compare/77b83e446b4e65...ba66fcb63de9e9

[2017-11-06 10:45] porridge commented on #55060
FTR, lack of commit IDs in the testgrid headers filed as https://github.com/kubernetes/test-infra/issues/5357

[2017-11-06 11:04] shyamjvs commented on #55060
Also, looking at the components of pod startup latency, it seems the part which got slowed down is run-after-schedule latency:

[code]

[code]

My suspicion is some change around kubelet caused this.
cc @kubernetes/sig-node-bugs

[2017-11-06 11:05] porridge commented on #55060
I had a quick look at the diff. There is no smoking gun, but just judging by commit messages and `--stat`, the following sound like the ones worth looking at closer:
- 7cdbb6ae8f42e56f49d9ddd64e9e70869df3121f (bump cni vendor to v0.6.0)
- 786f460092f69d0128840fa0931992dbace94178 (kube-dns-anti-affinity: kube-dns never-co-located-in-the-same-node) **reverted** by 607c3d69670d624fef86ac21dd9f64ac16d

[2017-11-06 11:08] sttts commented on #54095
@dims will also take another look. This flakes a lot right now.

[2017-11-06 11:11] jsravn commented on #54789
ping @kow3ns any idea who could help us look into this more? We can repro reliably in 1.7. Seems like some race w/ quota updates and the statefulset controller.

[2017-11-06 11:24] sokoow commented on #50375
Now, the question is on how to do it, when I do etcdctl ls on my cluster (etcd v3), it only shows me the flannel keys.

[2017-11-06 11:26] porridge commented on #55060
Next, I'm going to look at the pod startup latency data for smaller-scale tests to see whether the regression is also visible there.

[2017-11-06 11:29] darkprisco opened #55154 "Kubernetes cluster memory issues"
Hi guys,
 I am reopening the issue already raised [here ](https://github.com/kubernetes/kubernetes/issues/54706) and on stackoverflow [here](https://stackoverflow.com/questions/47092895/dockerd-memory-usage-is-using-more-memory-than-one-used-by-pods), because I need to have a way forward asap to my problem.
In my case I am using a K8S cluster on Azure and I have also already raised a ticket over t

[2017-11-06 11:31] shyamjvs commented on #55060
I just took a look at our 100-node CI [job](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce) and seems like the latency shot up across runs 7090 and 7091 (https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability?before=7099):

[code]

[code]

From the [diff](https://github.com/kubernetes/kubernetes/compare/88975e98d6f4a8...74cd0f0766b042), se

[2017-11-06 11:33] samlyhuang commented on #54924
ok

[2017-11-06 11:38] porridge commented on #54651
/reopen

[2017-11-06 11:38] porridge commented on #54651
/open

[2017-11-06 11:39] porridge commented on #54651
To be honest it does not seem like https://github.com/kubernetes/kubernetes/pull/54800 has fixed this. We are still seeing high pod startup in large ane medium scale tests: https://github.com/kubernetes/kubernetes/issues/55060#issuecomment-342122318

[2017-11-06 11:40] porridge commented on #55060
https://github.com/kubernetes/kubernetes/issues/54651 claims to be fixed by https://github.com/kubernetes/kubernetes/pull/54800 4 days ago, but we are still seeing elevated latency in the 100-node job running today's code.

[2017-11-06 11:40] crassirostris commented on #55099
Thanks for reporting

/cc @janetkuo @kawych

[2017-11-06 11:43] shyamjvs commented on #55060
So indeed the bug was on kubelet side :)

[2017-11-06 11:47] feiskyer commented on #47511
@andyzhangx Let me check and add it Azure back to autoscaler.

[2017-11-06 11:47] feiskyer commented on #47511
/assign

[2017-11-06 11:48] feiskyer commented on #54651
Reopen the issue based on https://github.com/kubernetes/kubernetes/issues/54651#issuecomment-342124062

[2017-11-06 11:59] pires commented on #55117
Cherry-pick for 1.7.x https://github.com/kubernetes/kubernetes/pull/55156.

Again, it doesn't seem to affect 1.8.x.

[2017-11-06 12:02] jamiehannaford commented on #54864
@piwi91 What's the JSON output for list loadbalancers? The one you outputted was retrieve a single LB

[2017-11-06 12:04] porridge commented on #54651
Pretty graph for a dramatic effect:
![wx44anuahff](https://user-images.githubusercontent.com/489420/32440353-102e7e62-c2f3-11e7-9a3c-290818758135.png)

[2017-11-06 12:17] Lion-Wei commented on #53393
@song-jiang Have you use iptables mode tested this situation? Cause I use iptables mode, try to use nodeB ip access pod in nodeC, and never successed...
I am using kubeadm cluster, with 3 node, calico 2.6.2, kubernetes in 1.8.2.
Maybe there is something wrong with my cluster, but I am not sure, so if iptables works well in your situation, please let me know, thanks...

[2017-11-06 12:21] crassirostris commented on #55099
I've just checked and it works for me: after an update, at first both DS exist then the old one gets deleted. @janetkuo do you have any ideas as to what's going on with DaemonSet upgrade on master upgrade?

@guoshimin Meanwhile, try deleting the old DaemonSet

[2017-11-06 12:22] piwi91 commented on #54864
@jamiehannaford Here you go:

[code]

[2017-11-06 12:22] m4rcu5 opened #55158 "DNS endpoint for headless services with no ports"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When deploying a headless service without port definition, there is no DNS endpoint created.

**What you expected to happen**:
That there would be a valid DNS entry for the service that has just been created.

**How to reproduce it (as minimally and precisely as possible)**:
Use the example configuration from [the document

[2017-11-06 12:26] orainxiong opened #55159 "Statefulset : CreateControllerRevision function bug"
**Is this a BUG REPORT**:

**What happened**:

When a statefulset object is created, a lot of controllerrevisions are created at the same time.
the controllerrevisions have differenct hash value but the same Data.Raw.

**How to fix it**:

two controllerrevisions are seen as the same , when Controllerrevision.labels[ControllerRevisionHashLabel] , Controllerrevision.Data.Raw , Controllerrevision.Dat

[2017-11-06 12:31] m4rcu5 commented on #55158
@kubernetes/sig-network-bugs

[2017-11-06 12:48] wackxu commented on #55159
I would help fix it

[2017-11-06 12:48] johscheuer commented on #39866
@davidcomeyne we currently had the same issue:
[code]

[code]

The solution was to delete the `/var/lib/rkt/cas/db/ql.db` and restart the process.

[2017-11-06 13:04] resouer commented on #55082
@caesarxuchao Just curious, is it clear why do we introduced a totally different name pattern when implementing `Finalizer`?

[2017-11-06 13:27] orainxiong commented on #55159
/kind bug
/sig apps

[2017-11-06 13:30] orainxiong commented on #55159
/kind bug
/sig apps

[2017-11-06 13:32] NickrenREN opened #55163 "No check for pvc requesting zero storage"
**What happened**:
volume plugins will not check whether the request of PVC is 0 when they run `CreateVolume` or `CreateImage` called by `Provision()`

**What you expected to happen**:
validation checks that instead of updating all volume plugins

/sig storage
/assign

[2017-11-06 13:46] #55117 closed

[2017-11-06 14:00] andyzhangx commented on #43287
I found managed data disk could  already be attached to vm scale set with managed os disks:
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-attached-disks, I would like to start the work for VMSS support from now.

[2017-11-06 14:00] andyzhangx commented on #43287
/assign

[2017-11-06 14:03] squeed commented on #54651
So, a question, then, is this a problem in the mind of the community?  More concretely, is it acceptable to run these tests with `--network-plugin=none`?

That will, of course, mean they do not as accurately test the full pod creation path. Another choice would be to move the baseline.

There isn't really any avoiding the DAD wait. While it could be skipped for ipv4-only workloads, as soon as the

[2017-11-06 14:07] spzala commented on #54924
@samlyhuang thanks!

[2017-11-06 14:12] ant31 commented on #47538
@vinayagg

That's a separate topic: how to precreate resource in the cluster without 'deploying' them
If it was a deployment resource how would you do ?
It's a valid point but more general and different than this issue.

You have one CronJob to clear the cache, and one Job (not a Cron) to rebuilt it.
When cache is corrupted you trigger the Job, they are not doing the same task.
In general, paramet

[2017-11-06 14:35] timothysc commented on #44100
@luxas we found/fixed a behavior issue in calico 2.6.  But this behavior that exists in the kubelet is still there and I'd argue it's pathological and should be addressed.

[2017-11-06 14:53] rantuttl commented on #44100
@luxas @timothysc I believe the Calico issue, and subsequent solution that was provided probably was a good solution for CNI being repeatedly invoked for DEL; however, and IMHO, it was only symptomatic of the root issue I described here previously on the kubelet. I believe it may be a very easy fix, although I have not coded it up to verify yet since I was looking for others' feedback on it.

[2017-11-06 15:17] resouer commented on #51656
I think a primitive interface design can be:

[code]

Workflow change will be like:

[code]

@bsalamat Is this design meet your expectation?

[2017-11-06 15:17] kevincvlam commented on #54959
Thank you for looking into this! Looking forward to the fix :)

[2017-11-06 15:19] MaciekPytel commented on #54959
@kevincvlam The fix should be included in k8s 1.8.3.

[2017-11-06 15:30] airstand commented on #41598
+1

[2017-11-06 15:32] rphillips commented on #45010
@JrCs thanks... added to #52744

[2017-11-06 15:36] Theoooooo opened #55170 "Can't retreive Pod Networks with kubectl apply"
**What happened**:
Installed Master and Slave with the kubernetes documentation : https://kubernetes.io/docs/setup/independent/install-kubeadm/
Created a Cluster : https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
The cluster can be started
After this, i tried to install a Pod Network to start working with slaves inside the cluster

**What you expected to happen**:
The API i try

[2017-11-06 15:40] Theoooooo commented on #55170
/sig kind/feature

[2017-11-06 15:41] onlyjob commented on #27543
Still not fixed, still causing [troubles](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=878254) on 1.7.7... :(

Here is patch as per https://github.com/kubernetes/kubernetes/pull/28270#issuecomment-230105707:

[code]

[2017-11-06 15:50] nikhita commented on #54891
That wasn't necessary but appreciated. :)

Seems like the middle ground and best solution here since:

1. The user could have probably missed adding a field after the trailing period.
2. Clearly shows what's wrong.

But this clearly needs a discussion. IMO, in the end, whatever is easiest to the user should be done. :)

[2017-11-06 16:02] spzala commented on #54891
:) you sure deserve to be a co-author for that PR @nikhita

[2017-11-06 17:32] msau42 opened #55174 "Don't wait as long for failure in storage e2es"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Some tests wait up to 5 minutes for the pod to not be running or PVC to not be bound.  It should be shortened to 1-2 minutes.

Tests that I know of:
* local storage e2es for wrong nodes and wrong paths
* dynamic provisioner e2e for disabling default storage class

[2017-11-06 17:32] msau42 commented on #55174
@kubernetes/sig-storage-bugs

[2017-11-06 17:37] fengli858 opened #55176 "Does ACS Kubernetes supports the volume and mounts for Windows Container? I search this information on web for while, but I am not able to find it. Need Help! Thanks! Feng"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2017-11-06 17:44] fengli858 commented on #34264
Does Azure ACS support volumes and mounts for Windows Container Now?
I search this information on web for while, but I am not able to find it.
Thanks!

[2017-11-06 17:46] winjer opened #55177 "could not determine public dns AWS log spam"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**:

Every few seconds I get spam in my logs about "Could not determine public DNS from AWS metadata" from every node. This is really very spammy.

**What you expected to happen**:

No spam.

**How to reproduce it (as minimally and precisely as possible)**:

Launch a private topology cluster with kops.

**Anything el

[2017-11-06 18:13] irfanurrehman commented on #42743
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#116.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:13] #42743 closed

[2017-11-06 18:14] irfanurrehman commented on #42761
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#117.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:14] #42761 closed

[2017-11-06 18:14] irfanurrehman commented on #43123
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#118.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:14] #43123 closed

[2017-11-06 18:14] irfanurrehman commented on #43169
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#119.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:14] #43169 closed

[2017-11-06 18:14] irfanurrehman commented on #43433
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#120.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:14] #43433 closed

[2017-11-06 18:14] irfanurrehman commented on #43455
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#121.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:14] #43455 closed

[2017-11-06 18:15] porridge commented on #54651
It is definitely **not** acceptable to run these tests without a networking plugin.
I don't know enough about IPv6 to speak about whether duplicate address detection needs to be in the critical path for pod startup.

One thing that sounds certain though is that unless this regression is mitigated somehow, it needs a prominent mention in the release notes.

[2017-11-06 18:15] irfanurrehman commented on #43487
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#122.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:15] #43487 closed

[2017-11-06 18:15] irfanurrehman commented on #43596
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#123.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:15] #43596 closed

[2017-11-06 18:15] irfanurrehman commented on #43599
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#124.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:15] #43599 closed

[2017-11-06 18:15] danielfm commented on #55084
I believe I posted the wrong event logs, and since I have no logs from this event, I guess I'll have to close this due to lack of useful information.

[2017-11-06 18:15] #55084 closed

[2017-11-06 18:15] irfanurrehman commented on #43646
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#125.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:15] #43646 closed

[2017-11-06 18:15] irfanurrehman commented on #44291
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#126.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:15] #44291 closed

[2017-11-06 18:15] irfanurrehman commented on #44354
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#127.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:15] #44354 closed

[2017-11-06 18:16] irfanurrehman commented on #44490
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#128.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:16] #44490 closed

[2017-11-06 18:16] irfanurrehman commented on #44631
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#129.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:16] #44631 closed

[2017-11-06 18:16] irfanurrehman commented on #44874
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#130.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:16] #44874 closed

[2017-11-06 18:17] irfanurrehman commented on #44907
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#131.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:17] #44907 closed

[2017-11-06 18:17] irfanurrehman commented on #44954
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#132.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:17] #44954 closed

[2017-11-06 18:17] irfanurrehman commented on #45187
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#133.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:17] #45187 closed

[2017-11-06 18:18] irfanurrehman commented on #45193
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#134.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:18] #45193 closed

[2017-11-06 18:18] irfanurrehman commented on #45520
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#135.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:18] #45520 closed

[2017-11-06 18:18] irfanurrehman commented on #45673
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#136.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:18] #45673 closed

[2017-11-06 18:18] irfanurrehman commented on #45751
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#137.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:18] #45751 closed

[2017-11-06 18:18] irfanurrehman commented on #45812
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#138.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:18] #45812 closed

[2017-11-06 18:19] irfanurrehman commented on #46119
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#139.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:19] #46119 closed

[2017-11-06 18:19] irfanurrehman commented on #46131
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#140.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:19] #46131 closed

[2017-11-06 18:19] irfanurrehman commented on #46240
This issue was labelled only for sig/multicluster and is thus moved over to kubernetes/federation#141.
If this does not seem to be right, please reopen this and notify us @kubernetes/sig-multicluster-misc.
/close

[2017-11-06 18:19] #46240 closed

[2017-11-06 18:31] jiayingz opened #55179 "The current kubelet device plugin code could fail to remove some devices that are no longer advertised by a re-registered device plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Consider this corner case scenario: a device plugin registers with Kubelet for resourceA and lists two devices: dev1 and dev2. Then a new device plugin implementation is deployed that re-registers resourceA with Kubelet but somehow advertises with different device ids, say dev3 and dev4. With the current implementation, w

[2017-11-06 18:34] jiayingz commented on #55179
/sig node

[2017-11-06 18:35] porridge commented on #54651
Also, FWIW merging of https://github.com/kubernetes/kubernetes/pull/54800 (merged on Nov 2nd) did not have any noticeable effect over the latency visible in the sig-scalability tests:

![i8tpze3km74](https://user-images.githubusercontent.com/489420/32457295-e46194aa-c328-11e7-9beb-baadbc12a0c1.png)

The above graph shows results between Oct 31st and Nov 3rd. (kubernetes/test-infra#5357 makes it ha

[2017-11-06 18:36] ishantiw commented on #33824
@onlyellow I'm also facing the same issue, can you tell me how you resolved it?

[2017-11-06 18:39] squeed commented on #54651
@porridge that makes sense; the metric I was fixing was "pods-created-per-second," which was badly broken by the lock contention. The metric "average pod creation time" shouldn't be improved by my changes.

In the case of IPv6, the network is unusable until DAD has completed (also, routes cannot be manipulated), so the CNI plugin really does need to wait for DAD. There's no getting around it for I

[2017-11-06 18:45] luxas commented on #54651
Crazy idea: Can we do things conditionally for IPv4 and IPv6?
Does this only affect kubenet or any CNI plugin (like Weave, Flannel, etc)?

[2017-11-06 18:46] porridge commented on #54651
Since my knee-jerk reaction to discovering what the DAD acronym stands for
was "why do we need this anyway", I think that option (3) sounds most
compelling.
OTOH I clearly am missing the big picture since I didn't know that there is
an option for using anything else than kubenet.

[2017-11-06 18:47] jeffvance commented on #55174
And I think there are many more storage tests with similarly long waits. Some of the wait times are constants in _e2e/framework/util.go_ but others are defined local to the test.

[2017-11-06 18:55] wladh commented on #49835
I investigated this issue a bit and the problem is that `rkt` mounts cgroups inside its container rootfs (in `/var/lib/rkt/pods`) and they are visible in root container (you can do `cat /proc/self/mountpoints`). `cadvisor` (more specifically its `libcontainer.GetCgroupSubsystems`) picks them up and due to the ordering of entries in `mountfile` one of those mount points will become the root directo

[2017-11-06 18:55] yujuhong commented on #54095
Another occurrence: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55034/pull-kubernetes-unit/63006/

[2017-11-06 18:58] yujuhong commented on #54651
I thought kubenet would be deprecated sooner or later. If that's still true, does that mean we'd need yet another solution for a non-kubenet setup?

[2017-11-06 19:00] porridge commented on #54651
Another question from a layman: do we know why it's so slow on Linux? Is it talking to other nodes (something like gratitious ARP)? Does it have a chance to become faster in the future? Does the delay depend on the size of the network/number of nodes, etc?

[2017-11-06 19:08] squeed commented on #54651
One way to make it faster on Linux is to enable "optimistic DAD" (RFC4429), which allows usage of tentative addresses. This is still considered to be an "experimental" feature, and is not enabled in all kernels. IIRC, the latest Ubuntu still has it disabled. CoreOS CL, Debian *do* have it. This is a sysctl that would need to be set in the container's network namespace, since it's a namespaced sysc

[2017-11-06 19:10] song-jiang commented on #53393
@Lion-Wei iptables mode works for me. I am running calico 2.6.2, k8s 1.8.2 but with vagrant/coreos on three nodes. Can you check if iptables mode works on other access patterns to be sure it is not a  setup issue?

[2017-11-06 19:10] squeed commented on #54651
@yujuhong yeah, you're right. Hopefully by then optimistic_dad is enabled on all kernels...

[2017-11-06 19:12] liggitt commented on #55080
My main goal is for the core to not become overly opinionated on application of generic mechanisms like taints/tolerations and labels/selectors. Auto-adding taints to nodes based on declared resources, and auto-adding tolerations to pods based on requested resources is a clever and useful application of those mechanisms, but one that seems reasonable to layer on (via a controller or admission plug

[2017-11-06 19:15] luxas commented on #54651
it will

yes

probably, like @squeed said above.

pinging @kubernetes/kubernetes-release-managers already -- this MIGHT be one of the big things we need to notify people about if this doesn't get solved.

[2017-11-06 19:20] MrHohn commented on #23225
Update:

Because the dependent feature (Priority/preemption - https://github.com/kubernetes/features/issues/268) will stay in Alpha in 1.9, the latest plan is to not run kube-proxy as DaemonSet by default in 1.9.

We should modify the milestone accordingly.

[2017-11-06 19:21] #55078 closed

[2017-11-06 19:23] luxas commented on #44100
@timothysc So you're saying the kubelet should NOT call DEL multiple times for dead containers?

[2017-11-06 19:25] sttts commented on #54095
Related: #55169 #55175

[2017-11-06 19:41] cyrus-mc commented on #47695
I have run into this issue. Reading over this, from what I can tell my setup appears correct (obviously isn't).

For starters I have just enabled RBAC, not Node Authorizer yet. And I am running on 1.7.6.

I verified that the binding between system:node and group system:nodes is present.

[code]

Then on the worker node, the kubelet is presenting a certificate with the following details:

[code]

H

[2017-11-06 19:49] vishh commented on #55080
I wasn't aware of the fact that altering tolerations is possible post admission. Let me think through this scenario a bit more.

The goal is to help with portability and not hinder it. Portability is made possible by not requiring users to add tolerations. Instead of each cluster admin having to define, develop and stabilize a controller for this mechanism, I felt it makes sense to provide a stand

[2017-11-06 19:55] yujuhong commented on #55141
On the other hand, can we use the CRI puller even if runtime is set to `docker`? I believe the only exception would be `rkt`.

@Random-Liu why `crictl pull`? Do we require `crictl` for node e2e tests?

[2017-11-06 19:58] derekwaynecarr commented on #55080
I think having a controller that taints nodes with extended resources makes sense.  Having that controller also apply tolerations to pods with extended resources also makes sense.  Like @vishh I think many users would want to have high-cost pods run on high-cost nodes, and would prefer to not let low-cost pods on high-cost nodes.  An add-on like the referenced controller would make sense in many d

[2017-11-06 20:02] adshmh commented on #43788
Could you please also note the PR I created for this and review if possible?
https://github.com/kubernetes/kubernetes/pull/52809

[2017-11-06 20:06] vishh commented on #55080
@derekwaynecarr adding taints via a controller is a bit racy for reasons discussed earlier. Taint may be added after a low-cost pod gets scheduled on a dedicated node. If kubelet implements evictions based on taints, then maybe we could set NoScheduleNoExecute effect which might help with this.
Relying on cluster control plane or defining additional lifecycle hooks in the node lifecycle will help

[2017-11-06 20:18] ixdy commented on #33824
@ishantiw are you trying to compile kubernetes 1.3.8? or something newer?

[2017-11-06 20:26] jiayingz opened #55180 "Clean up pkg/kubelet/cm/deviceplugin package public interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
When Kubelet device plugin was initially implemented, its related code lived in two packages. One was under pkg/kubelet/deviceplugin that contains device plugin Manager interface, implementation, and endpoint implementations for handling the interactions with device plugin registration and updates. The other was at pk

[2017-11-06 20:27] jiayingz commented on #55180
@niq_ please feel free to assign this FR to yourself if you have cycles to work on this. Thanks a lot for the help!

[2017-11-06 20:28] jiayingz commented on #55180
/sig node

[2017-11-06 20:29] #54821 closed

[2017-11-06 20:31] liggitt commented on #47695
it looks like you have the [NodeRestriction](https://kubernetes.io/docs/admin/admission-controllers/#noderestriction) admission plugin enabled, and have configured your kubelet credentials to have a username of `system:node:kubelet`, which uses the `system:node:<nodeName>` format, but does not match the actual name of your node (`ip-10-36-72-151.us-west-2.compute.internal`)

[2017-11-06 20:32] liggitt commented on #47695
your options are:
* stop using the NodeRestriction admission plugin
* stop using `system:node:<nodeName>` format username with a `<nodeName>` segment that does not actually match the name of your node

[2017-11-06 20:34] jiayingz commented on #55180
@nqn ^

[2017-11-06 20:38] rushabh268 commented on #47695
@liggitt How do I stop the NodeRestriction plugin? I am also seeing a similar issue

[2017-11-06 20:38] guoshimin commented on #55099
Interesting. Our other cluster didn't have this problem. After deleting the old DS everything seems to be working fine. I'll close the issue.

[2017-11-06 20:38] #55099 closed

[2017-11-06 20:39] jiayingz commented on #55179
@lichuqiang do you want to work on this after your PR https://github.com/kubernetes/kubernetes/pull/52149?

[2017-11-06 20:40] liggitt commented on #47695
remove it from the `--admission-control` arg to the apiserver

[2017-11-06 21:02] Random-Liu commented on #54962
@brancz Here is the reason that we still have to integrate with cadvisor for now. https://github.com/kubernetes-incubator/cri-containerd/issues/341

[2017-11-06 21:06] mbohlool commented on #55022
cc @mml @cheftako

[2017-11-06 21:07] lavalamp commented on #54981
I'm terribly sorry, I can't understand that, either-- if you write it in (guessing based on your user name) Mandarin we have some team members that will be able to read it?

[2017-11-06 21:11] mbohlool commented on #55027
/cc @mml

[2017-11-06 21:11] kow3ns commented on #54789
@jsravn is there anything else in your namespace using that quota?
@kubernetes/sig-scheduling-bugs

[2017-11-06 21:12] mbohlool commented on #55030
/cc  jpbetz

[2017-11-06 21:14] mbohlool commented on #55037
This is about the content of the API that api machinery is not responsible for. I tagged sig scheduling.

[2017-11-06 21:16] mbohlool commented on #55076
sig API machinery does not own the content of the API. I tagged sig node.

[2017-11-06 21:21] mbohlool commented on #55080
/cc @mml @lavalamp

[2017-11-06 21:21] yliaog commented on #55080
/cc @yliaog

[2017-11-06 21:24] ut0mt8 commented on #50375
By default etcdctl is acting in v2 api, so when not specifying the protocol you only show flannel key cause flannel continue to speak in v2.
To view v3 entries you can try something like :

ETCDCTL_API=3 etcdctl get / --prefix --keys-only

[2017-11-06 21:24] lavalamp commented on #55082
Finalizers were written first, actually.

[2017-11-06 21:28] cyrus-mc commented on #47695
@liggitt

That solved my problem (also responded to you on Slack).

I wasn't aware of the NodeRestriction plugin. Thought system:node:<nodeName> was required for the node authorizer.

How does the Node authorizer relate to the NodeRestriction admission control plugin?

[2017-11-06 21:28] yliaog commented on #55082
/cc @yliaog

[2017-11-06 21:28] mbohlool commented on #55146
What kind of metrics are you interested in? @enisoc @nikhita

[2017-11-06 21:28] mbohlool commented on #55146
/cc @jpbetz

[2017-11-06 21:32] sokoow commented on #50375
There's a lot of binary data here in the entries, so that way of zeroing is out the door I'm afraid :/

[2017-11-06 21:33] liggitt commented on #47695
The authorization layer does not have access to the content of requests, only the headers and URL. As such, it can only make authorization decisions based on the name of objects when the name is in the URL.

For a node creation request, the name is in the body of the request, so admission must determine whether the request is allowed or not.

The NodeRestriction admission plugin works in tandem wi

[2017-11-06 21:42] msau42 commented on #55045
This is intentional behavior.  PVCs have a lifetime independent of pods.

[2017-11-06 21:45] msau42 commented on #54555
This is working as intended.  You can manually create a PVC with the expected name format for StatefulSets.

/assign

[2017-11-06 21:45] msau42 commented on #54555
/close

[2017-11-06 21:45] #54555 closed

[2017-11-06 21:51] #51778 closed

[2017-11-06 22:04] Random-Liu commented on #55141
@feiskyer This issue is talking about the image puller in cluster e2e: https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/e2e-image-puller/e2e-image-puller.manifest

@yujuhong Yeah. That's how CRI works, right?

If not crictl pull, we need to write another binary ourselves. So the problem is why not `crictl`?
We could always build it into the image if we don't want it on th

[2017-11-06 22:08] etsangsplk opened #55182 "Why retry_handler for AWS not consitent with AWS SDK defined conditions of retryableCodes and throttleCodes??"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig aws

**What happened**:
Kubernetes code:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/retry_handler.go#L84

From AWS SDK ..
https://github.com/aws/aws-sdk-go/blob/master/aws/request/retryer.go#L28
var retryableCodes and throttleCodes

AWS SDK provides IsErrorRetryable and isThrottle functions.
 in

[2017-11-06 22:18] Random-Liu commented on #53514
What do you mean "duplicated"? Say we have a container which has been restarted once.
Currently, CRI stats will return stats for both - the newly created one and the terminated one.
Is this duplication in our opinion? /cc @yguo0905

[2017-11-06 22:37] vinayvenkat commented on #48798
Hi guys, why was this issue closed? Doesn't look like there was a solution?

I see this when trying to install a k8's cluster with weave CNI plugin.

[2017-11-06 22:55] #53577 closed

[2017-11-06 23:01] euank commented on #49835
Thanks for your investigation @wladh, I looked into cadvisor's code and it looks like it does reliably pick the last one, which is pretty much always the wrong one if there are multiple.

I've opened a PR at https://github.com/google/cadvisor/pull/1792 which might fix this.

[2017-11-06 23:05] chmod666org commented on #55043
same here. Any solutions ?

[2017-11-06 23:16] euank commented on #55069
I dug a little, and this test failure seems quite bizarre!

The error message of `request construction error: '<nil>'` can only come from an error of type `rest.RequestConstructionError`.

However, that struct isn't instantiated anywhere in the codebase (outside of one unrelated `_test.go` file). The last bit of code where that struct was being instantiated was deleted in 61e38920 in 2015 as best

[2017-11-06 23:28] #55094 closed

[2017-11-06 23:33] #55013 closed

[2017-11-06 23:38] etsangsplk commented on #55182
https://github.com/kubernetes/kubernetes/pull/55187

[2017-11-06 23:42] gnufied commented on #32727
That may not be accurate if volume was attached elsewhere right? Or it will have racey at least.

[2017-11-06 23:51] euank commented on #55069
Well, the obvious answer after looking more is that the `event.go` error message referenced in the original message here is coming from `TestWriteEventError`, the one place that struct still exists.

I suppose it's running tests in parallel, and either the test recorder is mixing up outputs, or the two tests are somehow using the same event sinks.

[2017-11-07 00:14] janetkuo commented on #51549
Closing, as eliminating/deprecating conditions is not a priority anymore https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-335687733

[2017-11-07 00:14] #51549 closed

[2017-11-07 00:16] thekantian commented on #34240
Yes, I would agree, this issue is solved by optional EnvVar options.

[2017-11-07 00:16] #34240 closed

[2017-11-07 00:25] lavalamp commented on #54579
It's not about new objects, I agree those will be fine. It is about stored objects.

[2017-11-07 00:26] ishantiw commented on #33824
@ixdy I think something was wrong with the version, I cloned a new one and started from scratch again and it worked, also I deleted all the data in Docker Daemon.

[2017-11-07 00:36] lavalamp commented on #55080
I think the thing that needs to be standardized is the taint/toleration name <-> custom resource name relationship.

Auto-adding the toleration to a pod based on the resource seems 100% harmless to everyone not using custom resources, and very likely to be useful to those using them. Namespacing the toleration/taint (if possible) should make it very unlikely to interfere with anything that has bee

[2017-11-07 00:53] liggitt commented on #55080
Not for systems restricting allowed tolerations because taints are used to partition clusters.

[2017-11-07 00:57] #54546 closed

[2017-11-07 01:06] spiffxp opened #55189 "[job failure] gci-gke"
/priority critical-urgent
/priority failing-test
/area platform/gke
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-02.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-alpha.3] (kubernetes/sig-release#27). Is there work ongoing to bring this job back to green?

https:

[2017-11-07 01:11] spiffxp opened #55190 "[job failure] gke-device-plugin-gpu"
/priority critical-urgent
/priority failing-test
/area platform/gke
@kubernetes/sig-scheduling-test-failures
FYI @kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-02.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-alpha.3](https://github.com/kubernetes/sig-release/issu

[2017-11-07 01:11] spiffxp commented on #55190
/kind bug

[2017-11-07 01:12] spiffxp commented on #55189
/kind bug

[2017-11-07 01:13] spiffxp commented on #55190
/status approved-for-milestone
because this is a release-blocking job

[2017-11-07 01:13] spiffxp commented on #55189
/status approved-for-milestone
because this is a release-blocking job

[2017-11-07 01:14] lichuqiang commented on #55179
@jiayingz Yes, I'm glad to work on it

[2017-11-07 01:16] spiffxp opened #55192 "[job failure] gci-gke-slow"
/priority critical-urgent
/priority failing-test
/area platform/gke
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-02.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-alpha.3] (kubernetes/sig-release#27). Is there work ongoing

[2017-11-07 01:19] spiffxp opened #55193 "[job failure] gci-gke-serial"
/priority critical-urgent
/priority failing-test
/area platform/gke
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-02.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-alpha.3] (kubernetes/sig-release#27). Is there work ongoing

[2017-11-07 01:22] k82cn commented on #50598
@antoniaklja , @surajssd , thanks very much for our effort on this enhancement; as you known, DaemonSet will use scheduler's predicates to decide which node can place pods; there's several predicates errors [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/daemon_controller.go#L1256), the purpose of this issue is to trigger every error in unit test for code coverage

[2017-11-07 01:23] spiffxp opened #55194 "[job failure] gce-scale-correctness"
/priority critical-urgent
/priority failing-test
/kind bug
/status approved-for-milestone
@kubernetes/sig-scalability-test-failures

This job has been failing for as far back as I can see on testgrid.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking), and prevents us from cutting [v1.9.0-alpha.3](https://github.com/kubernetes/sig-rel

[2017-11-07 01:25] spiffxp commented on #55194
some test case refs:
- https://github.com/kubernetes/kubernetes/issues/54636
- https://github.com/kubernetes/kubernetes/issues/52495

[2017-11-07 01:28] spiffxp opened #55195 "[job failure] gci-gke-ingress"
/priority critical-urgent
/priority failing-test
/area platform/gke
/kind bug
/status approved-for-milestone
@kubernetes/sig-network-test-failures
FYI @kubernetes/sig-gcp-test-failures

This job has been failing since 2017-11-02.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-alpha.3] (kuberne

[2017-11-07 01:34] spiffxp opened #55196 "[job failure] soak-gce-gci"
/priority critical-urgent
/priority failing-test
/area platform/gcp
/kind bug
/status approved-for-milestone
@kubernetes/sig-gcp-test-failures
FYI @kubernetes/sig-testing-test-failures

This job has been failing since 2017-10-25.  It's on the [sig-release-master-blocking dashboard](https://k8s-testgrid.appspot.com/sig-release-master-blocking),
and prevents us from cutting [v1.9.0-alpha.3](https://

[2017-11-07 01:36] spiffxp commented on #54524
/status approved-for-milestone
tracking this for https://github.com/kubernetes/sig-release/issues/27

[2017-11-07 01:36] spiffxp commented on #54571
/status approved-for-milestone
tracking this for https://github.com/kubernetes/sig-release/issues/27

[2017-11-07 01:38] krzyzacy commented on #55196
https://k8s-testgrid.appspot.com/sig-release-1.8-all#gci-gce-soak-1.8 looks much better, maybe master branch has some leaks or other stuff that did some damage to the existing cluster? Before suite should not fail.

The 10/31 cluster will be recycled tomorrow, let's wait and see the next suite of tests.

[2017-11-07 01:42] krzyzacy commented on #55196
@spiffxp https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-gci-test/ the previous Jenkins version was also red all the time, this job should not be blocking the release or anything.

[2017-11-07 01:57] feiskyer commented on #43287
/assign

[2017-11-07 02:05] ericewang opened #55199 "invalid memory address or nil pointer dereference when mounting azure disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I deployed a spec using an AzureDisk that triggered an "invalid memory address or nil pointer dereference". The deployment was initializing a pod and mounting an AzureDisk volume after downloading the container. Here are the kubelet logs on the node during the time the error was thrown:
[code]

The line that throw the exc

[2017-11-07 02:08] ericewang commented on #55199
@kubernetes/sig-azure

[2017-11-07 02:14] gogeof commented on #55043
@chmod666org from now on, no :(

[2017-11-07 02:27] feiskyer commented on #55141
@Random-Liu Got it. Right, crictl is the right tool there.

[2017-11-07 02:29] MrHohn opened #55201 "Redundant DNS codes in kubelet package"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
As https://github.com/kubernetes/kubernetes/pull/54773#discussion_r148904955 described, we have couple ineffective DNS codes in kubelet that is causing confusion. We should clean it up so that the path for checking and setting up pod DNS configuration would be more consolidated.

**Anything else we need to kno

[2017-11-07 02:33] #54968 closed

[2017-11-07 02:39] krzyzacy commented on #54622
/sig node

[2017-11-07 02:50] CodeJuan commented on #53497
so

[2017-11-07 02:51] vishh commented on #55080
Such `special` systems can turn off the proposed admission controller right?

[2017-11-07 02:52] k82cn commented on #55045
hmm... so we suggest user to delete/remove it manually? Do we expect this PVC to be reused after StatefulSet deleted? maybe added an flag/field to identify whether PVC should be deleted with its owner. WDYT?

[2017-11-07 03:00] rfliam opened #55202 "Openstack Cloud Provider and VM's With an IPv6 Address Cause System Pods to Have IPV6 Addresses"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When the Kubernetes openstack cloud provider is enabled, pods with network=host advertise with an ipv6 address if the machine has an ipv6 address instead of ipv4.

This breaks things like Calico and seems to create all sorts of weird issues.

**What you expected to happen**:

The machine uses it's ipv4 addresses, as ipv

[2017-11-07 03:02] rfliam commented on #55202
@kubernetes/sig-openstack-bugs

[2017-11-07 03:06] dims commented on #55202
yep, there's a plan for alpha ipv6 support in k8s for 1.9 - https://groups.google.com/d/msg/kubernetes-sig-cluster-lifecycle/D_VxCZIvbe4/-NCHNdnaCQAJ

[2017-11-07 03:18] msau42 commented on #55045
You can potentially reuse it, it depends on the application. Can you not just also delete the PVCs as a step after you delete the statefulset?

[2017-11-07 04:04] VinceMD commented on #34978
@dcparker88 I'm still using statefulsets. I only changed  CASSANDRA_LISTEN_ADDRESS and CASSANDRA_BROADCAST_ADDRESS as per my comment above. So far so good but we are just starting load testing and disaster recovery (self healing after loosing nodes or pods) testing.
Also need to load bunch of data to see how that behaves.

[2017-11-07 04:05] jeremywu0127 opened #55205 "hpa can't get metrics from heapster"
**What happened**:
I create a hpa based on CPU, but it can't get metrics from heapster:
[code]
and `kubectl describe hpa` shows like:
[code]
but heapster's logs are normal:
[code]
I also manually run `curl` and get metrics normally:
[code]
I run `telnet` in pod or on node and seems network is reachable:
[code]
**What you expected to happen**:

hpa can get metrics from heapster

**How to reproduce

[2017-11-07 04:12] gyliu513 opened #55206 "init container does not re-run after node reboot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind feature

**What happened**:
I deployed an es app with charts https://github.com/kubernetes/charts/blob/master/incubator/elasticsearch and after node restart, I got the error of following:

[code]

The reason is that after node reboot, there is no chance to restart the init container so that there is no chance to update the value of vm.

[2017-11-07 04:14] gyliu513 commented on #55206
/sig apps
/sig node

[2017-11-07 04:17] #55201 closed

[2017-11-07 04:18] jianzj commented on #55199
Hello @hzxuzhonghu

Issue reported `nil` should be from `volumeSource, err := getVolumeSource(m.spec)` while should be `volumeSource` is nil, `err` equals `fmt.Errorf("azureDisk - Spec does not reference an Azure disk volume type")`

Maybe should we print this error into log ?

Thanks very much !

[2017-11-07 05:02] gyliu513 commented on #55206
has been fixed in https://github.com/kubernetes/kubernetes/pull/47599

[2017-11-07 05:02] #55206 closed

[2017-11-07 05:03] spiffxp commented on #54904
/kind bug

I'm leaving it to @kubernetes/sig-apps-bugs to decide whether to /status accept-for-milestone

[2017-11-07 05:06] caesarxuchao commented on #14207
Is anyone working on this? Maybe we can pick some e2e tests to do some basic sanity check of local-up-cluster.sh?

[2017-11-07 05:27] macropin commented on #28241
@erickt Thanks. I can confirm that https://github.com/upmc-enterprises/registry-creds is sufficient as a workaround until this issue is resolved and released.

[2017-11-07 05:44] guangxuli opened #55210 "[pull-kubernetes-unit] test flake /cmd/kube-apiserver/app/testing TestCRD"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/54279/pull-kubernetes-unit/63146/

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/53866/pull-kubernetes-unit/63155/

failure ：go test -v k8s.io/kubernetes/cmd/kube-apiserver/app/testing -run TestCRD
in my local host, it runs

[2017-11-07 05:47] FengyunPan commented on #55202
It seems a big feature, sounds good.

[2017-11-07 05:48] hzxuzhonghu commented on #55199
Make sense.

[2017-11-07 05:52] hchenxa opened #55211 "[Question]How to get the command return code in kubernetes"
I try to run a command in kubernetes and want to get the command return code like docker command below:
[code]

but seems if created by kubenretes batchjob, the container will be failed to start.

Anyone knows how to achive this?

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

*

[2017-11-07 05:59] Random-Liu commented on #54962
/cc @loburm

[2017-11-07 06:02] guangxuli commented on #55210
/sig cli
/sig apiserver

[2017-11-07 07:19] #55136 closed

[2017-11-07 07:21] xiangpengzhao commented on #55177
@winjer fixed in #55214. PTAL. Thanks!

[2017-11-07 07:27] winjer commented on #55177
Thanks @xiangpengzhao! On a side note the metadata should probably be cached to stop thrashing the API but I don't know enough to be sure.

[2017-11-07 07:47] chentao1596 opened #55216 "Can not print the apiVersion info when failed to execute kubectl apply -f XXX.yaml"
/kind bug

**What happened**:
Executing the 'kubectl apply -f XXXX.yaml'
The error message can not show the apiVersion info correctly when I give a not exist kind(version+kind):

~# kubectl apply -f kind-no-match.yaml
error: unable to recognize "kind-no-match.yaml": no matches for **scheduling.io/**, Kind=PriorityPreemptionClass

~# kubectl apply -f kind-no-match-no-group.yaml
error: unable to rec

[2017-11-07 07:49] xiangpengzhao commented on #55177
/cc @justinsb

[2017-11-07 07:53] porridge opened #55219 "Literal "$Format" in API server logs"
/kind bug

**What happened**:

I see the literal string "(dollar_sign)Format" in the API server logs:

[code]

Note that most lines are fine, it seems that just some binaries don't have the placeholder substituted:

[code]

**What you expected to happen**:

Expected to see kubernetes commit ID or tag name in all cases.

**How to reproduce it (as minimally and precisely as possible)**:

Run an e2e

[2017-11-07 07:59] chentao1596 commented on #55216
@kuberntest/sig-CLI-bugs

[2017-11-07 08:12] porridge commented on #55219
@kubernetes/sig-api-machinery-bugs

[2017-11-07 08:16] davidcomeyne commented on #39866
Thanks @johscheuer, hopefully this can help others in the future!

[2017-11-07 08:19] xiangpengzhao commented on #55158
@m4rcu5 #47250 allows a headless service without ports and updates service endpoints for the service.
I note that you mentioned DNS endpoint. How did you check the DNS endpoint?
Thanks!

[2017-11-07 08:21] brancz commented on #54962
If I understand correctly this is meant as a migration mean, so that both are possible for some time, and then we drop cAdvisor once a reasonable migration period has been granted.

[2017-11-07 08:27] stewart-yu commented on #55219
i will have a look.

[2017-11-07 08:34] metametadata commented on #27114
Just stumbled upon this problem on rolling out the deployment resource which has a long-ish start-up time. Deployment has both readiness and liveness probes specified. Because the app takes a lot of time to start the failing liveness probe eventually restarts the pod and thus deployment enters the neverending crash/restart loop. This is quite non-intuitive, especially because I use `kubectl rollou

[2017-11-07 08:40] antoniaklja commented on #50598
Sure, thanks. I'll cover these predicates.

[2017-11-07 08:46] bboreham commented on #48798
@vinayvenkat the issue was closed because the OP updated and the problem went away.

Since Kubernetes, and particularly networking, is very complex and diverse, you should not assume that an issue which seems similar is actually the same. Open a new issue and give full details of your specific situation there.

If your issue is with Weave Net you may get a more focused answer at https://github.com

[2017-11-07 08:57] kargakis commented on #55146
Request latencies.

[2017-11-07 08:58] feiskyer commented on #55199
/sig azure

[2017-11-07 09:28] gnavgire commented on #52391
K8S Scheduler policy accepts "extenders" keyword for configuring extended scheduler configuration.

Thanks.

[2017-11-07 09:28] #52391 closed

[2017-11-07 09:32] davidopp commented on #55080
Seems harmless if the toleration admission controller and whatever adds the taints are enabled by command-line flag as the discretion of the cluster deployment script/tool? So some platforms could do it and others could choose not to.

Personally I don't really object to doing it as a built-in admission controller... We already have some in there that most people don't use (not that this is a grea

[2017-11-07 09:35] iMartyn commented on #29322
In 1.8.2 in `zsh`, `--namespace kube-system` and `--namespace=kube-system` work but not `-n kube-system`.  So partially fixed but not completely.

[2017-11-07 09:45] jeremywu0127 commented on #55205
fix it, `flannel` on one of the api-servers is down,

[2017-11-07 09:45] #55205 closed

[2017-11-07 10:06] song-jiang commented on #53393
@Lion-Wei I think the root cause of this issue is with iptable mode, each NodePort gets a masquerade rule, for instance
`-A KUBE-NODEPORTS -p tcp -m comment --comment "policy-demo/nginx:" -m tcp --dport 32712 -j KUBE-MARK-MASQ`

This is similar to each local pod gets a masquerade rule to support hairpin access, for instance
`-A KUBE-SEP-4F3IDBRE6Z6F7Y23 -s 192.168.44.194/32 -m comment --comment "p

[2017-11-07 10:20] kargakis commented on #55146
Response sizes

[2017-11-07 10:38] gabrielfsousa opened #55226 "Error syncing pod / PercpuUsage had 0 cpus, but the actual number is 2; ignoring extra CPUs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
After first installation 1 mater and 1 node, i have errors on node kubelet service

   19044 helpers.go:468] PercpuUsage had 0 cpus, but the actual number is 2; ignoring extra CPUs
   19044 helpers.go:468] PercpuUsage had 0 cpus, but the actual number is 2; ignoring extra CPUs

**Environment**:
- Kubernetes version (use `kubectl ver

[2017-11-07 10:40] kargakis commented on #55146
I am observing LISTS of ~1k # of CRs take up to ~1m to complete from time to time and I am not sure this is expected. Trying to figure out if metrics align with what I am seeing in logs.

[2017-11-07 10:49] dchen1107 commented on #54171
This is by design. Each Pod is initiated with Unknown state, and never go back to it. Node condition might be moved back to UNKNOWN state by node_controller if Kubelet doesn't post NodeStatus for some period (configurable, and default: 5mins). When a particular node is at UNKNOWN condition, node_controller will mark every pods on that node NotReady. There is no PodPhase / PodCondition transition a

[2017-11-07 10:49] #54171 closed

[2017-11-07 10:51] gabrielfsousa commented on #55226
/sig Scheduling
/sig Node

[2017-11-07 10:54] superbrothers commented on #29322
@iMartyn Yes, that issue fixed at https://github.com/kubernetes/kubernetes/pull/54406, so it will work in v1.9.

[2017-11-07 10:56] jsravn commented on #54789
@kow3ns Nope, the namespace is empty. I notice when running the OP's pod.yml that the quota shows 5 pods or more used when it fails. It seems to be double counting pods for some reason (e.g. as it scales up the statefulset, I see used pods go to "2" even though only 1 pod is started up).

[2017-11-07 11:00] porridge opened #55229 "Improve robustness of certificate setup during e2e cluster creation"
/kind bug

**What happened**:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/24?log#log failed with

[code]

This is not the first time: [flake1](https://github.com/kubernetes/kubernetes/issues/39335#issuecomment-270853343), [flake2](https://github.com/kubernetes/kubernetes/issues/40139#issuecomment-273880602).

**What you expected to happ

[2017-11-07 11:00] porridge commented on #55229
@kubernetes/sig-scalability-bugs

[2017-11-07 11:01] xiaosadexiaohai commented on #54981
上图想表达的意思是:etcd直接关闭服务不会影响访问速度,但是如果直接关闭一台etcd的服务器就会造成延迟非常高 @lavalamp

[2017-11-07 11:06] jsravn commented on #54789
Hmm odd, from the events it looks like pod creation fails twice `create Pod kafka-0 in StatefulSet kafka failed error: The POST operation against Pod could not be completed at this
time, please try again.`. This corresponds with seeing two additional pods counted against the quota. So possibly two separate bugs - 1. quota isn't being discounted when pod creation fails (for whatever reason) and 2.

[2017-11-07 11:06] #53659 closed

[2017-11-07 11:09] jsravn commented on #54789
Same output ordered by timestamp
[code]

[2017-11-07 11:09] m4rcu5 commented on #55158
@xiangpengzhao If I copy the complete example found in the [documentation](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#a-records-and-hostname-based-on-pods-hostname-and-subdomain-fields) you can resolve the endpoints as follows:
[code]

If we recreate the example leaving out the ports, we get the following result:
[code]

Describing the `default-subomain` also does not

[2017-11-07 11:13] jsravn commented on #54789
And the controller manager logs at -v2

[code]

[2017-11-07 11:16] deitch commented on #39178
Do you mind describing further @msau42 ? If I have a `StatefulSet` with `replicas: 1`, and I am working in 3 zones, how would the `volumeClaimTemplate` ensure it is in the same zone, when pod scheduling and volume scheduling remain separate?

For that matter, even if I have `replicas: 3` and 3 zones, how would I ensure that the pv for pod `-0` is in the same zone as pod `-0`, etc.? I could, theore

[2017-11-07 11:19] aanm opened #55230 "CRD watcher doesn't refecth resource version"
/kind bug

**What happened**:
When using an informer there's an error message that appears from time to time:
[code]

**What you expected to happen**:

The error not to show up :-)

**How to reproduce it (as minimally and precisely as possible)**:

The bug is difficult to replicate but easy to understand why, the following steps provide an example of a watcher for a CRD.

`go get -d github.com/ope

[2017-11-07 11:22] wenjun93 commented on #54376
sorry for the late reply. @mtanino Yes, I'm using Libvirt/QEMU. I see there are node level and target discovery level, while I'm using old version k8s code(release-1.6), with `iscsiadm -m discovery` in iscsi_util.go, and after I change the code from `discovery` to `discoverydb`, it works. Thanks

[2017-11-07 11:23] deitch commented on #43504
Did any of it make it into 1.8? I don't see PRs linked here, but I might have missed them.

[2017-11-07 11:23] lichuqiang commented on #55179
I added a commit in #52149 to fix the issue.
However, what I'm concerned about is by taking `devices` as a params of newEndpoint(), the func would depends on the bahavior of endpoints store in manager, thus, the scope of the lock here would extend, which may have impact on performance.
[code]
I thought to pass the devices after newEndpoint(), and before e.run().
[code]
But this way, if the plugin

[2017-11-07 11:28] porridge commented on #55229
Looks like error handling in shell functions `setup-easyrsa`, `generate-certs` and `generate-aggregator-certs` is just broken, they always succeed.

[2017-11-07 11:28] kawych commented on #54962
I will take a look at Heapster and try to fix this.

@Random-Liu
Can you advise how to reproduce the issue? This will help a lot with debugging and verifying a fix once it's ready.

[2017-11-07 11:29] m1093782566 commented on #53393
@song-jiang Seems you are right.

I think both the hairpin mode and cross-node masquerade issue can be solved when the PR https://github.com/kubernetes/kubernetes/pull/54219 gets in. This PR is ready for review and any comments are welcome.

Thanks all!

[2017-11-07 11:30] KeithTt opened #55232 "There is no node role label of new joining node"
kube version: 1.8.2
docker version: 17.10.0-ce

[code]

The node role is `<none>` defaultly?

And I add a label manully like this:
[code]

Is this a bug?

[2017-11-07 11:38] loburm commented on #54962
@kawych this is already fixed at head and 1.4.3 version of heapster https://github.com/kubernetes/heapster/pull/1839. The problem that @Random-Liu is using kubernetes version from head and we have there 1.5.0-beta.0: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml#L30

I see two possible solutions:
1. Change version of heap

[2017-11-07 11:38] loburm commented on #54962
And thanks for taking this issue.

[2017-11-07 11:38] m1093782566 commented on #53393
Actually, I added some high level design details in the comments. People whom don't want to review codes can take a look at the design document.

[2017-11-07 11:42] jsravn commented on #54789
From the logs above we can see the steps that occurred:
1. 56.979 - Creates first pod
2. 57.000 - Server timeout ?!? (deadline is wrong somewhere? - only 20ms later - or rate limited?)
3. 57.000 - Retry succeeds. Quota reports 2 pods in use, however apiserver only shows the single Kafka pod that succeeded.

And so on.

[2017-11-07 11:46] m1093782566 commented on #53775
The hairpin issue in IPVS kube-proxy can be solved using ipset. The PR #54219 is ready for review. Any comments are welcome. I appreciate your thoughts!

[2017-11-07 12:01] porridge commented on #55229
Basically writing reliable shell code is hard. I consider myself pretty fluent in shell, and yet this surprised me. Perhaps I'm missing something:

[code]

OTOH builtins(1) manpage says this is expected:

[2017-11-07 12:03] jsravn commented on #54789
Okay, I think I got to the bottom of it. Looks like we had a setup issue in our cluster, and controller manager was still on 1.6.6. After updating to 1.7.8, I can't reproduce the problem.

[2017-11-07 12:13] #53151 closed

[2017-11-07 12:43] wackxu commented on #55232
`kubeadm join` command do not explicitly label the  `role` of node, If it is needed, I can help fix it.

[2017-11-07 12:55] slowaak commented on #55226
I'm observing the same issue
#### Environment ####
- Kubernetes version 1.8.2
- Cloud: Raspberry PI 3 cluster
- OS: PRETTY_NAME="Raspbian GNU/Linux 8 (jessie)"
NAME="Raspbian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"
HYPRIOT_

[2017-11-07 12:56] antoniaklja commented on #50598
Also I've found interesting issue when I wanted to test `ErrDiskConflict`.
Basically predicate `ErrDiskConflict` is not handled or maybe I do something wrong.

According following comments below case should fail because AWS EBS forbids any two pods mounting the same volume ID :
[code]

[code]

[2017-11-07 13:10] iMartyn commented on #29322
@superbrothers Thanks, I can confirm 1.9.0-alpha.2 of kubectl works fine :+1:

[2017-11-07 13:14] nikhita commented on #55210
dupe of https://github.com/kubernetes/kubernetes/issues/54095

[2017-11-07 13:16] gabrielfsousa commented on #55226
the firt error is

[2017-11-07 13:25] porridge commented on #55229
Hello @kuberne

[2017-11-07 13:34] shyamjvs commented on #54651
@spiffxp Could you approve this for the milestone?

This issue needs to be resolved urgently, as it's causing 5k-node performance job (which is [release-blocking](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance)) to fail.

[2017-11-07 13:34] squeed commented on #54651
I'm working on disabling dad in kubenet (option 3).

 Should be ready soon.

[2017-11-07 13:43] guangxuli commented on #55210
@nikhita thanks. I should close this since it has been recorded. :)

[2017-11-07 13:43] #55210 closed

[2017-11-07 13:48] ecejjar commented on #55151
/sig area/kubelet

[2017-11-07 13:49] RRAlex opened #55238 "Aggregator API & metrics-server: Access for clusters w/ separation of concerns architectures"
I think it's a missing feature, which could be seen as a bug, since it breaks commonly used K8s cluster architectures by making them unable to use the new Aggregator API and forcing a less stable or secure cluster architecture by removing the separation of concerns:
/kind feature
/kind bug

**What happened**:
When trying to use the [metrics-server](https://github.com/kubernetes-incubator/metrics-s

[2017-11-07 13:50] porridge commented on #55229
I'm sure @roberthbailey will be equally surprised this error handling code never worked since he [added it back in 2015](https://github.com/kubernetes/kubernetes/commit/9ab41db7ea3c7e167cbb72a307d1b9c200f8f195#diff-420e5229cfe0f54223f75636d6a0ca5cR524). Or maybe not, given the TODO :-)

Hello @kubernetes/sig-cluster-lifecycle-bugs I suppose you own `cluster/common.sh`?
Any opinions on approaches t

[2017-11-07 13:52] ecejjar commented on #55151
/sig clusterops

[2017-11-07 13:55] gabrielfsousa commented on #55226
found my problem
forgot to disable and stop firewalld on node

[2017-11-07 13:58] chenqy930 commented on #53333
hi experts, I encoutered the same problem with some difference.
when I use kubeadm init, the result was the same as the issue.

root@master:/home/k8s-1# kubeadm init
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.8.2
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks
[preflight] WARNING: dock

[2017-11-07 14:03] xiangpengzhao opened #55239 "[test flake] pull-kubernetes-verify failed :"FAILED hack/make-rules/../../hack/verify-staging-godeps.sh""
/kind bug
/sig testing
/priority failing-test

**What happened**:
See in:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55227/pull-kubernetes-verify/60511/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55223/pull-kubernetes-verify/60478/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55212/pull-kubernetes-verify/60494/

[2017-11-07 14:28] m1093782566 commented on #54203
The PR (#54219, try the goodness of ipset in IPVS kube-proxy) is ready for review now. Any comments are welcome. I appreciate your thoughts. Thanks again!

[2017-11-07 14:43] krallistic commented on #55051
A quick workaround we use is to delete all evicted pods manually after an incident:
`
kubectl get pods --all-namespaces -ojson | jq -r '.items[] | select(.status.reason!=null) | select(.status.reason | contains("Evicted")) | .metadata.name + " " +  .metadata.namespace'  |   xargs -n2 -l bash -c 'kubectl delete pods $0 --namespace=$1'
`

[2017-11-07 14:52] andyzhangx commented on #55199
@hzxuzhonghu thanks for the reporting, this issue is duplicate of https://github.com/kubernetes/kubernetes/issues/54149 which is fixed by https://github.com/kubernetes/kubernetes/pull/54607 and the fix is also in v1.8 now, while it's not in v1.8.1, line 48 in v1.8.1 is
`ReadOnly:        *volumeSource.ReadOnly,`

[2017-11-07 14:55] justinsb commented on #55219
Dup of https://github.com/kubernetes/kubernetes/issues/33532 ?

[2017-11-07 14:57] justinsb commented on #55182
This isn't request level retries, this is the global rate-limiter backoff: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/retry_handler.go#L35-L37

[2017-11-07 14:57] #55182 closed

[2017-11-07 15:00] jpbetz opened #55244 "release-1.8 GKE test failure "Services should work after restarting apiserver""
In the [release1.8 blocking test suite](https://k8s-testgrid.appspot.com/sig-release-1.8-blocking#gci-gke-serial-1.8). "[sig-network] Services should work after restarting apiserver [Disruptive]" has started failing regularly with the error:

[code]

The first occurance I can find is in build [841](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-st

[2017-11-07 15:00] jpbetz commented on #55244
cc @tallclair

[2017-11-07 15:01] felixPG commented on #55051
thank you @krallistic, I apply your workaround as cronjob a long time ago but is not a right way!

[2017-11-07 15:06] justinsb commented on #55076
How is this different from an ordinary image pull?  My belief is that an image pull resolves a name to a imageid, and then it only fetches if the imageid is not present.  So in the case of docker, it'll do a lookup of tag -> layer, and then will only fetch missing layers.

[2017-11-07 15:16] bboreham commented on #55244
That's a `gcloud` error; the code only wants to restart the api-server but from the comments there is no way to do that on GKE so it does an "upgrade" to the same version.

The error is nothing to do with networking.

[2017-11-07 15:22] kondas commented on #54941
Hi, I've seen the same error when forgot to base64 encode the ceph secret key.
`ceph auth get-key client.admin | base64`

[2017-11-07 15:26] shyamjvs opened #55246 "Firewall rule e2e test failing on large clusters due to misconfig"
The following e2e is failing continuously on our [5k-node](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness) (and [2k-node](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-large-correctness)) correctness jobs:

[code]

due to some misconfiguration:

[code]

The job is part of [release-master-blocking suite](https://k8s-testgrid.appspot.com/sig-release-mas

[2017-11-07 15:28] shyamjvs commented on #55246
/assign

I'll try to take a quick look. But it would be great to have someone from @kubernetes/sig-network-misc help here.

[2017-11-07 15:34] shyamjvs commented on #55246
Ok.. So the actual source range for the firewall (i.e 10.64.0.0/11) is coming from [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-common.sh#L96) where we're calculating the cluster-ip-range (during cluster startup) based on cluster size.

And the wrong value of `10.64.0.0/14` is used by the e2e-testing framework as a default (see - https://github.com/kubernetes/kube

[2017-11-07 15:34] shyamjvs commented on #55246
cc @kubernetes/sig-scalability-misc

[2017-11-07 15:37] shyamjvs commented on #54636
Bumping the priority as this is blocking 1.9-alpha release. Umbrella issue - #55194

[2017-11-07 15:37] shyamjvs commented on #54637
Bumping the priority as this is blocking 1.9-alpha release. Umbrella issue - #55194

[2017-11-07 15:38] shyamjvs commented on #54637
Friendly ping @DirectXMan12 - would you have time to take a look into this?

[2017-11-07 15:39] shyamjvs commented on #52495
Bumping the priority as this is blocking 1.9-alpha release. Umbrella issue - #55194

[2017-11-07 15:43] shyamjvs commented on #52495
@MrHohn We're still seeing loadbalancer related failures and from your comment above, it seems like there's not much that can be done on the k8s side at this point.
In that case, I think the option we have is to disable `ESIPP [Slow]` in our 5k-node correctness job and add a note in the scalability-validation-report for the release ([e.g](https://github.com/kubernetes/features/blob/master/release-

[2017-11-07 15:43] shyamjvs commented on #55246
Umbrella issue - #55194

[2017-11-07 15:44] kad commented on #52715
@msbl3004 potentially you're missing proxy settings for docker, so docker is not able to pull images, thus not able to start pods. However, it's not good to handle other case within closed issue.

[2017-11-07 15:46] squeed commented on #54651
OK, PR filed.

[2017-11-07 15:47] smarterclayton commented on #55022
None of the controller manager loops should be exiting the process post fatal.  Both namespace controller and GC have to deal with partial discovery (and there will be others in the future), so they definitely have to converge.

[2017-11-07 15:47] #55177 closed

[2017-11-07 15:48] shyamjvs commented on #55194
I've linked all currently open issues I've filed for the failing tests. And bumped priority for all those issues based on this one and at this point there's no active work required from our side.
It's now on the individual SIGs to fix the issues.

[2017-11-07 15:50] shyamjvs commented on #55194
I'm going to co-own this bug with @porridge who'll take this further while I'd be on vacation during december.

/assign @porridge

[2017-11-07 15:51] u2takey commented on #25908
Also need this feature. For our **use case**:
**pod A** has to containers
- **container A1** :  a run-to-complete container which print log to files
- **container A2**: sidecar container, which just tail logs from file to stdout

**What i want**: when **container A1** complete with success, the **pod A** complete with success. Can we just label **container A1** as  **main container**, when **main

[2017-11-07 15:56] antoniaklja commented on #43812
is it still valid? I see that a lot has changed.

cc @php-coder

[2017-11-07 16:02] spiffxp commented on #14207
I couldn't find an issue in kubernetes/test-infra, I may have missed it.  @BenTheElder are you aware of anything?

[2017-11-07 16:04] ncdc commented on #50787
I'm working on a fix for this now

[2017-11-07 16:06] spiffxp commented on #54651
/status approved-for-milestone
FYI @shyamjvs it looks like @luxas already added to this to the v1.9 milestone, and @dchen1107 already added the label manually.

[2017-11-07 16:07] php-coder commented on #43812
@antoniaklja I believe that it's invalid now because no one will accept PR: https://github.com/kubernetes/kubernetes/pull/45718#issuecomment-303722170

[2017-11-07 16:07] #43812 closed

[2017-11-07 16:10] justinsb commented on #55022
Which sig owns k-c-m though?

[2017-11-07 16:12] msbl3004 commented on #52715
@kad, my sincere apologies for not updating this thread after I posted it. Yes, your are right. I am behind a corporate proxy and I had not configured proxy settings for docker. Once I configured it kubeadm init worked fine. Thank you very much!

[2017-11-07 16:18] bgrant0607 commented on #55022
API machinery owns the binary and controller libraries (informers, etc.).

[2017-11-07 16:22] bgrant0607 commented on #55022
Recovery and restart sounds like a good idea. We need to ensure adequate monitoring signals are emitted to trigger alerts, as well as log entries for debugging.

[2017-11-07 16:23] jakexks commented on #54370
+1

The first pod in the statefulset works correctly. The second pod always gets scheduled in the incorrect zone for the volume.
[code]

[2017-11-07 16:30] hmarcelodn opened #55249 "Kubernetes Federation - Issue when joining cluster MS Azure"
I am running a cluster in west-us for federation in MS Azure. I installed coredns and ran kubefed as following:

[code]
Then when I tried to join my east-us cluster it failed as belows:

[code]

Any ideas?

[2017-11-07 16:30] eyalzek commented on #30716
Is there a recommended way to inject a configuration file with interpolated variables/secret into a container at the moment?

[2017-11-07 16:39] msau42 commented on #39178
@deitch there is special zone selection logic for statefulset PVCs [here](https://github.com/kubernetes/kubernetes/blob/fc8bfe2d8929e11a898c4557f9323c482b5e8842/pkg/volume/util.go#L378).  It hashes only the statefulset name so that multiple pvcs in the same statefulset get hashed to the same value.  Then it adds the statefulset ordinal to it so that each statefulset instance will be spread across

[2017-11-07 16:42] yujuhong commented on #55141
@Random-Liu I think we missed the "cluster" e2e keyword in your description, hence the confusion. Using `crlctl` in the image sounds good to me.

[2017-11-07 16:43] justinsb commented on #55035
There's a missing `v`

`docker pull gcr.io/google_containers/hyperkube:v1.6.12`

[2017-11-07 16:43] msau42 commented on #43504
@deitch No unfortunately not.  Scheduler improvements for static PV binding are targeted for 1.9.  Dynamic provisioning will come after.  The general feature tracker is at kubernetes/features#490.

[2017-11-07 16:44] deitch commented on #39178
@msau42 so basically:

1. It keeps multiple volumes on a single pod together using the logic
2. It then allocates the PVs round-robin or whatever other logic
3. It then passes the PVs back to the pod scheduler
4. The pod scheduler then tries to allocate the pod, accounting for all of the `affinity` and `resources` and `volumes` and everything else.

But it does not (yet) take into account pod sche

[2017-11-07 16:44] yujuhong commented on #47800
FYI, the fix is in 1.7.6.

[2017-11-07 16:46] deitch commented on #43504
@msau42 looks like we are talking on 2 separate issues about the same... "issue"? :-)

So 1.9 for static, 1.10+ or 2.0+ for dynamic?

[2017-11-07 16:51] msau42 commented on #39178
That is correct.  Volume provisioning today is not compatible with any sort of pod constraints that restrict the zones.

[2017-11-07 16:55] DirectXMan12 commented on #55238
@kubernetes/sig-api-machinery-feature-requests

[2017-11-07 16:55] msau42 commented on #43504
Yes

[2017-11-07 16:56] msau42 commented on #54370
Can you paste your PV output so we can see the zone labels?

@kubernetes/sig-storage-bugs

[2017-11-07 16:58] deitch commented on #39178
Got it. Any decent workarounds, beyond actually specifying the zone in the `StorageClass` (which isn't really doable because I would need to propagate it all the way through)?

[2017-11-07 16:59] kad commented on #53333
@chenqy930 I  recommend to open new issue, as your setup seems to be a bit different that original setup in this issue.

[2017-11-07 17:01] derekwaynecarr commented on #54281
cAdvisor statically caches this information.

[2017-11-07 17:05] liggitt commented on #50916
we're seeing this on 1.7.6 as well

[2017-11-07 17:08] msau42 commented on #39178
Can you explain what you mean by propagating it all the way through?  StorageClass parameters for GCE and AWS should have a Zones parameter now, so you can specify multiple zones.

[2017-11-07 17:12] lavalamp commented on #55022
Agree, GC must have access to everything.

[2017-11-07 17:15] lavalamp commented on #55022
That sounds like a recipe for occasional disaster orderings. Maybe in tests it would be OK. But we *must* understand any dependencies or we can't be sure we can make a cluster that will bootstrap. See: https://github.com/kubernetes/kubernetes/issues/54522. We need to work out the "run level" of each individual controller. We should probably consider breaking controller manager apart by run level,

[2017-11-07 17:17] sjenning opened #55253 "need release blocking node e2e test runs for an EL distro"
Kube 1.8 release was delayed because of an issue that was observed only on EL-based distributions like Fedora/CentOS/RHEL.

https://github.com/kubernetes/kubernetes/issues/52110

As discussed in that issue, we need to get a release blocking test that runs the node e2e tests on an EL-based distribution to prevent issues like this from sneaking up on us in the future.

@smarterclayton @derekwaynecar

[2017-11-07 17:17] lavalamp commented on #55022
This, and retry again in the future. But I think it already does that, thanks to you, actually. @ironcladlou do you have time to make this change? I can look around here when more people get in.

[2017-11-07 17:20] brendanburns commented on #55022
I'd like to argue really strongly against run levels. That's a small step
away from upstartd style dependencies and state machines. Far better to
make every controller atomic and capable of handling uncertain/unknown
situations (with appropriate logging, of course)

Brendan

On Tue, Nov 7, 2017, 9:17 AM Daniel Smith <notifications@github.com> wrote:

[2017-11-07 17:23] liggitt commented on #55022
This is already done. There are two controllers run first in order to provide clients/credentials to the others, then all other controllers are started out of a map of controllerName->startFunc

[2017-11-07 17:25] #51862 closed

[2017-11-07 17:25] lavalamp commented on #54522
Due to the lack of runlevel right now and the bundling of controllers in `kube-controller-manager`, a runlevel 1+ controller can prevent the cluster from starting: https://github.com/kubernetes/kubernetes/issues/55022#issuecomment-342034861

[2017-11-07 17:25] liggitt commented on #55022
Agree that I don't want to introduce additional blocking dependencies, controller loops should run/recover independently. The trick is surfacing health and actually recovering per controller loop

[2017-11-07 17:26] deads2k commented on #55022
We do this already.  It was part of the initial pull (multiple releases ago) to ensure that trick dependencies would be caught.

[2017-11-07 17:29] bgrant0607 commented on #30716
@eyalzek Please ask on kubernetes-users and/or stackoverflow, or try to build a consensus within SIG Apps.

[2017-11-07 17:31] lavalamp commented on #55022
haha, OK :)

The problem is that some items (webhooks) fail closed, which breaks the cluster if the webhook service is not available. We have to make sure that starting the webhook service will work when the webhook is not around. We went to the idea of runlevels because that reduces the dependency DAG to something manageable/understandable.

[2017-11-07 17:34] yguo0905 commented on #54962
Not directly related to this issue:
@loburm, a more general discussion is at https://github.com/kubernetes/heapster/issues/1793. We'd like to understand which fields are required and optional in heapster, so that we won't crash heapster with partial result.

[2017-11-07 17:39] enisoc commented on #55244
This may have the same root cause as #55189. We're having problems with almost all GKE e2e test due to clusters getting stuck during startup.

[2017-11-07 17:39] #14129 closed

[2017-11-07 17:41] enisoc commented on #55189
It seems the master is getting stuck and we time out waiting for it.

[code]

We need someone with access to the GKE master logs to diagnose further. I believe @yliaog is looking into it.

[2017-11-07 17:46] lavalamp commented on #55022
@ironcladlou says he has time to make a fix.

[2017-11-07 17:50] yliaog commented on #55189
Yes, I think the culprit is  commit 3a15fdbe7 (https://github.com/kubernetes/kubernetes/commit/3a15fdbe7).
PR is https://github.com/kubernetes/kubernetes/pull/54643

Looking at the diffs, the type of ManifestURLHeader is changed from string to map[string][]string

[2017-11-07 17:51] smarterclayton commented on #55022
Things that can fail a cluster closed right now:

1. web hook authorizers
2. web hook authenticators
3. web hook admission
4. initializers
5. api extensions that are required by a core controller (intentionally or accidentally), like GC and namespace
6. scheduler and daemon set controller for self hosting

I think there are a few more, but the list is growing.

[2017-11-07 17:54] BenTheElder commented on #14207
I'm not aware of anything. I don't think "hack" was ever meant to have guarantees (?) I think in the future if we want this though we should move the discussion to sig-testing / test-infra.

[2017-11-07 18:01] jpbetz commented on #55244
Thanks @bboreham, removing sig-networking label.

[2017-11-07 18:02] krzyzacy commented on #55246
hummm we should print out the ip range in kubetest, as https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-common.sh#L98

[2017-11-07 18:03] jpbetz commented on #55189
Is this a release blocker? We hit this while validating 1.8.3 (https://github.com/kubernetes/kubernetes/issues/55244). Should we proceed with the release and ignore this error or should we hold off?

[2017-11-07 18:06] bgrant0607 commented on #54522
See also #16337

[2017-11-07 18:06] jojje opened #55255 "kubectl aging plugin does not respect current namespace"
/kind bug
/sig cli

**What happened**:
Tried to list the age of pods in the `kube-system` namespace in an otherwise empty cluster

    $ kubectl --namespace kube-system plugin aging
    The Magnificent Aging Plugin.
    No pods

**What you expected to happen**:
That the pods in the `kube-system` namespace would have been listed

**How to reproduce it (as minimally and precisely as possible)**:

1.

[2017-11-07 18:07] roberthbailey commented on #55229
Yeah, error handling in bash sucks. Testing your shell example a bit, it looks like the sub-shell will only exit with a non-zero code if the last command exits with a non-zero code. So something like

[code]

Does the right thing because we chain each command to the previous command and the overall subshell exit code is what we expect.

We now have kubeadm, which is a go program that generates cer

[2017-11-07 18:07] bgrant0607 commented on #54522
And #4630, #4855, #10179, #15203, #23233

[2017-11-07 18:08] deitch commented on #39178
Sure. If I put the zone in the `StorageClass`, then I need multiple storage classes, one for each zone, e.g. `iops-east1a`, `iops-east1b`, etc.

Then, my pod (or whatever is wrapping it, deployment or statefulset) needs to be aware of which one it is calling. It no longer can just ask for 10GB of `iops`, it has to ask for 10GB of `iops-east1`. Now this config is tied specifically to `east-1a`. For

[2017-11-07 18:11] roberthbailey commented on #55229
I don't see anywhere where we set environment variables in subshells. We use existing variables, but which new ones do you see being created / set?

[2017-11-07 18:12] vishh commented on #54281
This is a bit risky. We need to think of effects on scheduling, kubelet reservations, kubelet pod level resource management at the least.

[2017-11-07 18:15] msau42 commented on #39178
You don't need to explicitly constrain your pods to east-1a.  The pods will be constrained automatically by the zone where the PV is.  If you use the same spec for multiple deployments, then yes, you will need separate ones with different storage classes per zone.

For spreading your replicas across multiple zones, then you should use the `zones` parameter in the StorageClass.  That will restrict

[2017-11-07 18:19] gtie commented on #54138
I see this issue after upgrade from K8s 1.7.5 to 1.8.1 as well. In some cases, the connection/memory acceleration is dramatic, and etcds start dying in ~30 minutes after restart (on a cluster with some 30-40 workers).

![selection_062](https://user-images.githubusercontent.com/2247364/32510270-5627aba2-c3f0-11e7-97f4-087e914cb76f.png)

Once memory is over on one of the etcd nodes, the container th

[2017-11-07 18:26] deitch commented on #39178
That assumes that the node for which I have defined affinity are in those specific zones. If I have four zones, and two special nodes deployed (e.g. high memory or compute intensive or SSD), I am extremely unlikely to deploy those nodes _just_ into two special zones. I don't care which, as long as they are dispersed among zones. Now I need to know, and put that in my `StorageClass`, which is a spe

[2017-11-07 18:29] msau42 commented on #39178
Yes makes sense.  Unfortunately that is why these are just workarounds until we can get the real fix in.

[2017-11-07 18:31] deitch commented on #39178
Is there a reasonable workaround for that scenario? 4 zones, 2 nodes, `Deployment` or `StatefulSet` with affinity for those nodes?

[2017-11-07 18:36] enisoc commented on #55189
@jpbetz It looks like @yliaog believes the issue here is something that went into `master` recently, so #55244 is likely a different problem. Sorry if I led you astray by guessing at a connection.

[2017-11-07 18:45] liggitt commented on #50916
seeing this in our logs:
[code]

[2017-11-07 18:45] jpbetz commented on #55189
@enisoc No worries. Following other leads now.

[2017-11-07 18:47] etsangsplk commented on #55182
@justinsb
Thanks. I am very new to the codebase. So let me check if I understand you correctly, the comment means that if k8s issue a k8s request that result in a set of AWS calls, if any of the AWS calls resulted in a Rate Limit exceed from AWS side, this counts against for cluster wide, because everyone need to be delayed, stopped etc.

Also, a side note: I made a mistake in the error. AWS reque

[2017-11-07 18:48] porridge commented on #55229
generate-certs calls kube::util::ensure-cfssl which sets CFSSL_BIN
and CFSSLJSON_BIN

[2017-11-07 18:50] msau42 commented on #39178
The only workarounds I can think of are:
- deploy your nodes across all the zones
- explicitly deploy those nodes into specific zones, and restrict the storage classes to those zones
- manually precreate the PVs in the correct zones before creating the statefulset

Multi-zonal dynamic provisioning + pod constraints on zones do not work at all right now.

[2017-11-07 18:53] timoreimann commented on #54870
Just ran into the issue as well. It might be useful to amend the documentation to warn about the fact that `backoffLimit` won't be effective if `OnFailure` is chosen as restart policy. At least, it wasn't obvious to me and I didn't catch any relevant note in the docs. Happy to do a quick PR if that's a desirable short-term action.

For Pods failing as reported in this issue, what's the difference

[2017-11-07 18:54] deitch commented on #39178
with high compute nodes, it gets expensive. I only need 1-2

I might have to, but it is brittle.

Not necessarily any easier than the second option, and still requires work outside the cluster.

Oh well. Thanks for walking it through.

[2017-11-07 19:14] ncdc commented on #50787
PR: https://github.com/kubernetes/kubernetes/pull/55261

[2017-11-07 19:21] #52428 closed

[2017-11-07 19:29] derekwaynecarr commented on #54281
@vishh - agreed.  per the discussion in sig-node, I would prefer operators describe a process for how they handle this in a world where they can just restart kubelet in response to live capacity changes.  if an operator can describe how they adjust reservations, scheduling + drain (in response to decreasing capacity), etc. then it would help us understand the benefit of the kubelet taking on this

[2017-11-07 19:53] porridge opened #55264 "Introduce a pod crashloop load test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:

There is anecdotal evidence of clusters breaking down (etcd/api server go unavailable) when all pods of large deployment/RC start crashlooping.

**What you expected to happen**:

We should have a loadtest that would let us investigate this in a controlled environment, and make sure the system is stable in such situati

[2017-11-07 20:01] aysark commented on #39557
In addition to @filipenf you may also need to do:
[code]

[2017-11-07 20:02] liggitt commented on #55080
tainting out of tree seems reasonable to me

Adding tolerations can be done by a regular controller, doing it in admission is just an optimization. I'd prefer to see the toleration-adding done out of tree, since that is currently possible, but I won't block on it.

[2017-11-07 20:07] liggitt commented on #50916
Reproducing test and fix in #55262

[2017-11-07 20:24] MrHohn commented on #54524
Tests are passing now:
- https://k8s-testgrid.appspot.com/sig-network#gci-gce-slow
- https://k8s-testgrid.appspot.com/sig-network#gci-gce-alpha-features

Closing this issue.
/close

[2017-11-07 20:24] #54524 closed

[2017-11-07 20:24] MrHohn commented on #54571
Tests are passing now:
- https://k8s-testgrid.appspot.com/sig-network#gci-gce-slow
- https://k8s-testgrid.appspot.com/sig-network#gci-gce-alpha-features

Closing this issue.
/close

[2017-11-07 20:24] #54571 closed

[2017-11-07 20:51] jekohk commented on #54932
This is actually something I would like to see as well.
Currently `rollout history` does not provide adequate information on its own to give you a sense of what exactly you are rolling back to, and in my experience a common use case for rolling back is to revert to a previous image version.
Yes, --revision will give you that information, but if you don't know where in the revision history to look,

[2017-11-07 21:01] davidopp commented on #55080
Sounds like @liggitt is OK with this now, so I'm going to mark this as "approved for milestone" (though I'd love to know exactly what that means -- is it documented anywhere?).

[2017-11-07 21:40] srossross-tableau commented on #43924
Any update on this issue? this is hitting us now.

[2017-11-07 21:42] liggitt commented on #55232
node roles are not yet defined in kubernetes. additionally, nodes should not start labeling themselves with roles (see https://github.com/kubernetes/community/pull/911 for discussion of why labels should be applied to nodes, not self-applied by nodes)

if you would like to request a particular cluster setup tool like kubeadm add role labels to nodes, that feature request could be opened against th

[2017-11-07 21:42] #55232 closed

[2017-11-07 21:43] lavalamp opened #55271 "Individual controllers should not cause kube-controller-manager to exit"
In #55022 we observed a crashlooping controller cause a cluster cold boot failure, as controller-manager wasn't able to stay up long enough to run the deployment that would have fixed the problem.

We should audit everything that runs in kube-controller-manager and ensure that they all fail gracefully enough to prevent crashloops, or make them individually restart in that case, instead of the proc

[2017-11-07 21:44] lavalamp commented on #55022
Filed #55271 to try and prevent more instances of this class of failure.

[2017-11-07 21:45] liggitt commented on #55230
getting a "version too old" error and having to start over listing and watching again is normal for watches of slow-moving resources. that's an expected usage pattern

[2017-11-07 21:45] #55230 closed

[2017-11-07 21:52] yianL commented on #54878
Hi @lavalamp , thanks for picking up the ticket. If the docs are wrong, can you briefly explain how it's supposed to work?

Another related question: is the event retention policy configurable in kubernetes?

[2017-11-07 22:00] pompomJuice commented on #43924
@srossross-tableau

As far as I remember this was a docker issue, not a kubernetes one. Docker does not use linux's ca certs. Nobody knows why.

You have to install those certs manually so that docker can use them:

I thought this was a docker issue not a kubernetes one:

`/etc/docker/certs.d/mydomain.com/ca.crt`

[2017-11-07 22:05] dodwyer commented on #54370
@msau42 following up for @jakexks

[code]

[2017-11-07 22:12] dodwyer commented on #54370
This can be recreated by deploying the standard Cassandra Helm chart on a 1.8.2 k8s cluster.

`helm install --namespace "cassandra" --set persistence.storageClass=default -n "cassandra" incubator/cassandra`

using the storageClass
[code]

[2017-11-07 22:32] shyamjvs commented on #52495
As discussed offline with @MrHohn, we're going to disable the suite for huge clusters using an extra check.
Sent out #55275 for it with a TODO to enable later when cloud-provider side improvements are made.

[2017-11-07 22:53] msau42 commented on #54370
@dodwyer do your nodes also have the same zone label on them?

[2017-11-07 23:05] dodwyer commented on #54370
@msau42 here you go:

[code]
We have a node available in the zone the PV is created within but the Pod is created on a different node in another zone.

[2017-11-07 23:27] mindprince commented on #55080
/assign

[2017-11-07 23:45] iramsey85 commented on #54910
Having a similar issue installing kubernetes on a raspberry pi cluster (Hypriot image). After installing Flannel on the master and creating the pod network, my kube-dns pod gives the CrashLoopBackOff error.

flannel installation commands:
1. $ curl -sSL https://rawgit.com/coreos/flannel/v0.7.1/Documentation/kube-flannel-rbac.yml | kubectl create -f -
2. $ curl -sSL https://rawgit.com/coreos/flanne

[2017-11-08 00:03] spiffxp opened #55276 "[job failure] ci-kubernetes-test-go, ci-kubernetes-verify-master, pull-kubernetes-unit failing"
/priority critical-urgent
/priority failing-test
/kind bug
@kubernetes/sig-testing-test-failures

These are release-blocking
- https://k8s-testgrid.appspot.com/sig-release-master-blocking#test-go
- https://k8s-testgrid.appspot.com/sig-release-master-blocking#verify

This is blocking presubmits:
- https://k8s-testgrid.appspot.com/presubmits-kubernetes#pull-kubernetes-unit

Using test-go as an examp

[2017-11-08 00:04] BenTheElder commented on #55276
will be fixed in https://github.com/kubernetes/test-infra/pull/5393

[2017-11-08 00:09] BenTheElder commented on #55276
the fix has been merged

[2017-11-08 00:17] xiangpengzhao commented on #55276
@BenTheElder will kubernetes/test-infra#5393 fix #55239?

[2017-11-08 00:32] BenTheElder commented on #55276
@xiangpengzhao I think not, that looks like flaking in the verify job trying to download packages

[2017-11-08 00:49] arun-gupta opened #55278 "Incorrect QoS class for Pod with no resource request/limit"
/kind bug
/sig node

**What happened**:

A Pod with no resource request and limit should be assigned `BestEffort` QoS class.

**What you expected to happen**:

Instead it should be assigned `Burstable` QoS.

**How to reproduce it (as minimally and precisely as possible)**:

Created an AWS cluster as:

[code]

Deployed a Pod:

[code]

Resources are shown as:

[code]

With no request and limit resou

[2017-11-08 00:56] Random-Liu opened #55280 "Remove the work around for heapster."
In https://github.com/kubernetes/kubernetes/pull/55213, we merged a work around for heapster panic https://github.com/kubernetes/kubernetes/issues/54962.

We should get rid of the work around after heapster version is updated.

/cc @kubernetes/sig-node-bugs
/cc @yujuhong @yguo0905

[2017-11-08 01:00] chenqy930 opened #55281 "kubeadm init --kubernetes-version=v1.8.0 fail with connection refuse for Get http://localhost:10255/healthz"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubeadm init for initial cluster in version 1.8 fail with error:

[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10255/healthz' failed with error: Get http://localhost:10255/healthz: dial tcp [::1]:10255: getsockopt: connection refused.

and the

[2017-11-08 02:08] liggitt opened #55284 "DefaultTolerationSeconds admission plugin flags pollute all commands"
The DefaultTolerationSeconds admission plugin configures itself via globally registered flags, rather than via plugin config, as expected.

This has several negative effects:
* The global flags are visible in completely unrelated commands, like kubectl:
[code]
* The admission plugin is not positioned to receive config as apiserver config is updated to be able to be consumed from files, and then dy

[2017-11-08 02:11] killerli opened #55286 "batch operation of ‘kubectl exec’ failed sometimes"
Kubectl version：
[code]
Environment:
* cloud server：two nodes:10.9.81.28,10.9.186.111
* os: CentOS Linux release 7.2.1511 (Core)
* Kernel :3.10.0-327.22.2.el7.x86_64
* Docker version:
[code]
What happened:
In my appication,I need to use `kubectl exec` to execute some script in pods.And I also need these operatiosn in parallel.What worths mentioning is I add a 'delete' operation when a pod has alre

[2017-11-08 02:21] lichuqiang commented on #55284
I would like to have a fix on it

[2017-11-08 02:43] weiwei04 commented on #54870
For OnFailure, the failed Pod will restart on the same kubelet host, so emptyDir/hostPath is still there, for Never the failed Pod got delete and a replacement will create on another(may be the same) kubelet host, if the Pod use emptyDir/hostPath to store some tmp data, the tmp data may be lost.

For Pod don't use emptyDir/hostPath, I think there's no much difference for usage(`Never` will  involv

[2017-11-08 02:44] Random-Liu commented on #54962
@loburm We've merged a work around for now https://github.com/kubernetes/kubernetes/pull/55213. Hopefully it works.

But anyway, we should fix this in 1.9.

[2017-11-08 02:45] Random-Liu commented on #55141
@yujuhong I'll add "cluster". Thanks!

[2017-11-08 02:48] ahmetb opened #55290 "Using --show-labels with incompatible ‘kubectl get’ arguments should error out"
Passing `--show-labels` to the following `kubectl get` commands do not make a difference, because the printer is not the table printer:

- `kubectl get pods -o=yaml --show-labels`
- `kubectl get pods -o=json --show-labels`
- `kubectl get pods -o=name --show-labels`
- ...

Current behavior is that the `--show-labels` simply doesn’t make a difference since it’s not applicable.

In these cases, we mu

[2017-11-08 02:49] smarterclayton commented on #53387
I think all that matters is how a user perceives them.  We spend a lot of time encouraging users to use get and describe.  As a user, I think I would expect to find them under get.   For instance, should a user be able to use -o?  Should they be able to sort?  Filter?

I don't like having three commands - `kubectl api-versions`, `kubectl api-resources`, and `kubectl api-groups`.  I would expect a

[2017-11-08 02:49] smarterclayton commented on #53387
I'll open this under kubectl.

[2017-11-08 02:53] smarterclayton commented on #53387
kubernetes/kubectl#123, let's move the discussion there

[2017-11-08 02:53] #53387 closed

[2017-11-08 02:53] #55022 closed

[2017-11-08 02:54] charrywanganthony commented on #55290
I would like to fix it ASAP.

[2017-11-08 02:55] yulong12 commented on #53333
@kad I have solveled somedays before,my team try blow:
$ iptables -F
$ swapoff -a
$ free -m
$ kubeadm reset
$ kubeadm init --kubernetes-version v1.8.0 --pod-network-cidr=10.244.0.0/16

and it is sucessful!

[2017-11-08 02:56] Lion-Wei commented on #54916
@MrHohn , unfortunately, seems like kube-proxy can't switch to ipvs mode in ipvs Ci job, cause using "modprobe" load kernel modules failed. But it works well in my local environment, is there anything different on GCE? Any information or suggestion will be appreciate, thanks.

[2017-11-08 02:57] xauthulei commented on #47956
@copland ， I met the same error， could you check it
 systemctl status kubelet  -l
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf, 90-local-extras.conf
   Active: active (running) since Mon 2017-11-06 03:13:48 EST; 1 day 18h

[2017-11-08 03:07] fejta-bot opened #55292 "Failure cluster [7ffb83...] failed 88 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [7ffb83077bf53a242157](https://go.k8s.io/triage#7ffb83077bf53a242157)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    88 builds failed.
Failure stats cover 1 day time range '7 Nov 2017 02:01 UTC' to '8 Nov 2017 02:01 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| ExtractFederation | 2 |

[2017-11-08 03:59] smarterclayton commented on #55146
I would expect all CRDs to report metrics exactly the same as normal API resources.  They may need the full resource name and group (as opposed to just resource name, which built in resources return).

[2017-11-08 04:04] derekwaynecarr commented on #54611
This is not a bug.

Users do not need to set a limit as we do not support burst.

We only care about request.

[2017-11-08 04:04] #54611 closed

[2017-11-08 05:00] MrHohn commented on #54916
@Lion-Wei Seems like all of `ip_vs_rr`, `ip_vs_wrr`, `ip_vs_sh` are not available in the default GCE enviroment. Here is what I got from one of the GCI nodes:
[code]

Adding @kubernetes/sig-node-bugs for more insights. Why aren't those common IPVS modules included in GCI image?

[2017-11-08 05:00] brendandburns commented on #35238
I just hit this again...  We should figure out a way to make this cleaner.

[2017-11-08 05:01] yliaog commented on #55189
/cc yliaog

[2017-11-08 05:02] yliaog commented on #55189
i managed to ssh into one failed cluster master, and got the error msg:
/home/kubernetes/bin/configure.sh: line 244: LOAD_IMAGE_COMMAND: unbound variable

A quick github search revealed https://github.com/kubernetes/kubernetes/pull/54964 is the culprit. It introduced LOAD_IMAGE_COMMAND. Although it added the default in cluster/gce/config-default.sh (LOAD_IMAGE_COMMAND=${KUBE_LOAD_IMAGE_COMMAND:-do

[2017-11-08 05:07] tengqm commented on #55249
I'd suggest you raise this bug to [kubernetes/federation](https://github.com/kubernetes/federation) repo and close this one here.

[2017-11-08 05:30] jiayingz commented on #54088
/assign @vikaschoudhary16

[2017-11-08 05:33] m1093782566 commented on #54916
cc @vfreex, any comments?

[2017-11-08 05:44] vfreex commented on #54916
@m1093782566 I guess the required kernel modules are not compiled in CI.
Can we get the kernel compilation config file of installed kernel and take a look?

[2017-11-08 05:47] kumarganesh2814 commented on #54910
@iramsey85

Can you Please see /var/log/message log and also check kubelet log

systemctl status kubelet -l

Check there is no firewall issue between Master Node and Worker Node

Check iptable

try turning off firewall and drop rule which may close connectivity

But best solution would be on basis of error which you are getting, so check deamon log at /var/lib/messeges and systemctl status kubelet

[2017-11-08 06:07] vfreex commented on #54916
@m1093782566 BTW, actually I am not sure if all kernel modules like `ip_vs_rr`,` ip_vs_wrr`,` ip_vs_sh` are strictly required by the IPVS proxier. If they are required, maybe we should suggest Container-Optimized OS to compile those kernel modules.

[2017-11-08 06:16] stewart-yu commented on #55219
why just occurred in request to "/api/v1/namespaces" or "/api/v1/endpoints", it's so strange!

[2017-11-08 06:18] m1093782566 commented on #54916
Thanks for your suggestion. @Lion-Wei will do some tests and will update here if has some interesting findings.

[2017-11-08 07:05] porridge commented on #55219
I think it depends on the client binary, and is only indirectly correlated
with the URI.

[2017-11-08 07:23] #50916 closed

[2017-11-08 07:50] m1093782566 commented on #54916
cc @haibinxie

[2017-11-08 07:55] digeler commented on #55154
@darkprisco ,can you please fix the above ?

[2017-11-08 07:58] darkprisco commented on #55154
what should I insert in the issue?

2017-11-08 8:55 GMT+01:00 Dinor Geler <notifications@github.com>:

[2017-11-08 08:00] dixudx opened #55303 "[job failure] pull-kubernetes-e2e-kops-aws failed"
/priority critical-urgent
/priority failing-test
/kind bug
@kubernetes/sig-testing-test-failures

[code]

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kops-aws

[2017-11-08 08:01] digeler commented on #55154
@darkprisco use bugs

[2017-11-08 08:02] awesomemayank007 commented on #40969
please switchoff your swap memory i faced same problem and when i remove swap entry from my /etc/fstab file .then it worked in my case.also do swapoff

[2017-11-08 08:03] awesomemayank007 commented on #37063
please switchoff your swap memory i faced same problem and when i remove swap entry from my /etc/fstab file .then it worked in my case.also do swapoff

[2017-11-08 08:03] awesomemayank007 commented on #54541
please switchoff your swap memory i faced same problem and when i remove swap entry from my /etc/fstab file .then it worked in my case.also do swapoff

[2017-11-08 08:03] awesomemayank007 commented on #54542
please switchoff your swap memory i faced same problem and when i remove swap entry from my /etc/fstab file .then it worked in my case.also do swapoff

[2017-11-08 08:03] sttts commented on #28235
With static deep-copy no registration is necessary anymore. Closing.

[2017-11-08 08:03] #28235 closed

[2017-11-08 08:06] k82cn commented on #55278
it's 0.1 cpu in request.

[2017-11-08 08:08] dixudx commented on #55303
/kind flake

[2017-11-08 08:15] #50410 closed

[2017-11-08 08:15] #50411 closed

[2017-11-08 08:15] #50412 closed

[2017-11-08 08:15] #50413 closed

[2017-11-08 08:20] sttts opened #55304 "Move core api types from pkg/api to pkg/apis/core"
Follow-up of https://github.com/kubernetes/kubernetes/issues/44065

Internal API types live in pkg/apis/<group>, with the exception of the core group which traditionally lives in pkg/api. In contrast, with the [move of the external types to k8s.io/api](https://github.com/kubernetes/features/issues/282), the external core types were aligned with the other groups, forming a k8s.io/api/core package.

[2017-11-08 08:24] timoreimann commented on #54870
Might it be a reasonable idea to move the `backoffLimit` parameter into the Pod? I'd think it could prove valuable to have an upper bound on the restarts on Pods themselves independently of Jobs, and it may solve the "how does the Cronjob controller determine that the limit has been reached" problem more elegantly if the Pod's state automatically transitions to _failed_ once the limit is hit.

WDY

[2017-11-08 08:26] Lion-Wei commented on #54916
@m1093782566 @vfreex I just tested this. Turn out we do need `ip_vs_*` kernel modules.
Those kernel modules are correspond with IPVS schedulers, by default kube-proxy use scheduler `rr`, so `ip_vs_rr` is needed.
If we did't specify the scheduler, ipvs will use `wlc`, then `ip_vs_wlc` is needed.
So, according to the test result, if the GCI image only have `ip_vs`, we can't create any ipvs rules...

[2017-11-08 08:29] hzxuzhonghu opened #55305 "[advanced audit] audit policy should support “/*” matching all subresources"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

audit PolicyRule should support wildcard matching , for example using resource "pods/*" can match all pods subresources, like "pods/log"

/sig auth

[2017-11-08 08:34] kargakis commented on #54932
@jekohk are you interested in working on this? Should be an easy fix in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/history.go

[2017-11-08 08:34] RobertDiebels commented on #54478
@foxish did you manage to try it out? Could just as well be something I did wrong.

[2017-11-08 09:07] brackendawson commented on #50375
I'd also love this feature. It may not be the intention of the metric, but it comes accross a lot like port error counters on switches do. A common ops pattern in that is to see a problem, diagnose, fix it, then clear the error counters so you can see if something is wrong next time you look.

[2017-11-08 09:15] xiangpengzhao opened #55309 "Panic when running pull-kubernetes-e2e-kops-aws"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
See in : https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/55293/pull-kubernetes-e2e-kops-aws/57963/nodelog?junit=junit_08.xml&wrap=on

[code]
/cc @justinsb

Fixed in #55307

[2017-11-08 09:20] dixudx commented on #55281
/area kubeadm

@chenqy930  Please place right pem files for `kubelet`.

[2017-11-08 09:20] xiangpengzhao commented on #55303
I guess CI should update kubetest. ref: https://github.com/kubernetes/test-infra/pull/5398

/cc @justinsb @krzyzacy

[2017-11-08 09:20] xiangpengzhao commented on #55303
/assign @justinsb @krzyzacy

[2017-11-08 09:20] MaciekPytel commented on #54959
@kevincvlam Sorry, the fix has proven more complex than I initially thought and I haven't managed to get it merged in time for 1.8.3. I'll merge it today or tomorrow and it will go out with 1.8.4.