[2016-11-16 14:08] dims commented on #21623
@justinsb @saad-ali ok with punting this to 1.6? :)

[2016-11-16 14:09] dims commented on #31621
This needs to be triaged as a release-blocker or not for 1.5 @smarterclayton @DirectXMan12

[2016-11-16 14:09] dims commented on #24246
This needs to be triaged as a release-blocker or not for 1.5 @wojtek-t

[2016-11-16 14:10] dims commented on #29972
This needs to be triaged as a release-blocker or not for 1.5 @oba11 @dchen1107

[2016-11-16 14:10] craigbox commented on #36327
My project (which you're again welcome to inspect logs for) has a quota of 10 backend services and in theory I should need 1, if not using the default backend, and a maximum of 4 if there's 3 clusters with 1 federated service & 1 default backend each?

[2016-11-16 14:10] luxas commented on #27980
We really need an assignee for this for v1.6
Will someone from @kubernetes/sig-node work on this in time for v1.6?

The base config that applies to all kubelets but can be overridden will be a critical component for us in @kubernetes/sig-cluster-lifecycle

[2016-11-16 14:10] dims commented on #32466
This needs to be triaged as a release-blocker or not for 1.5 @davidopp

[2016-11-16 14:10] dims commented on #26394
This needs to be triaged as a release-blocker or not for 1.5 @yujuhong

[2016-11-16 14:10] dims commented on #32536
This needs to be triaged as a release-blocker or not for 1.5 @dchen1107

[2016-11-16 14:11] dims commented on #21306
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-16 14:12] justinsb commented on #33898
Assigning to 1.5 as this is problematic on many real-world AWS configurations

[2016-11-16 14:12] dims commented on #32220
This needs to be triaged as a release-blocker or not for 1.5 @derekwaynecarr

[2016-11-16 14:13] dims commented on #28082
This needs to be triaged as a release-blocker or not for 1.5 @davidopp @kevin-wangzefeng

[2016-11-16 14:13] dims commented on #15050
This needs to be triaged as a release-blocker or not for 1.5 @justinsb @antoineco

[2016-11-16 14:14] dims commented on #31863
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree)

[2016-11-16 14:15] dims commented on #31521
This needs to be triaged as a release-blocker or not for 1.5  @deads2k @smarterclayton @lavalamp

[2016-11-16 14:15] wojtek-t commented on #24246
This is not a release blocker for 1.5.

[2016-11-16 14:15] dims commented on #32552
This needs to be triaged as a release-blocker or not for 1.5 @davidopp @dchen1107

From previous comment this seems to have been fixed already, so @Random-Liu please close this if appropriate

[2016-11-16 14:18] Crassirostris opened #36893 "Time format in docker daemon logs"
GCL logging test failed recently, related issue in https://github.com/kubernetes/kubernetes/issues/36890

In the fluentd logs there're a lot of lines like

[code]

Because apparently this kind of messages in docker logs have different time format

[code]

Fluentd configuration should be patched to handle this kind of messages. Maybe because of messages like this the logs were not delivered also, m

[2016-11-16 14:19] soltysh commented on #35508
@sachincab with #34447 being fixed can you check if you're still experiencing problem, other option is @DaanOlbrechts pointer. I'm not sure what else might be wrong here. If you still having problems please provide details on your setup so that I could reproduce and fix the problem. Thanks.

[2016-11-16 14:20] dims commented on #22680
This needs to be triaged as a release-blocker or not for 1.5 @gmarek

[2016-11-16 14:20] lsztachanski commented on #33943
I recreated the whole federation system using @kelseyhightower example. Indeed, k8s on GKE assigned IPs to its services.
Important to note, DNS records are not populated when svc on bare-metal is in pending state (it worked before i attached the bm cluster).

It looks as follows:

[code]

We tried to implement ingress (Name based virtual hosting), but i suppose that's wrong direction.

Again, the

[2016-11-16 14:20] dims commented on #32864
This needs to be triaged as a release-blocker or not for 1.5 @deads2k

[2016-11-16 14:20] dims commented on #32725
This needs to be triaged as a release-blocker or not for 1.5 @lavalamp

[2016-11-16 14:21] dims commented on #27388
This needs to be triaged as a release-blocker or not for 1.5 @rrati @wojtek-t @Random-Liu

[2016-11-16 14:22] dims commented on #25889
This needs to be triaged as a release-blocker or not for 1.5 @chrislovecnm @jayunit100

[2016-11-16 14:22] dims commented on #31453
This needs to be triaged as a release-blocker or not for 1.5 @jayunit100

[2016-11-16 14:22] dims commented on #32607
This needs to be triaged as a release-blocker or not for 1.5 @freehan @pmorie

[2016-11-16 14:23] dims commented on #29887
This needs to be triaged as a release-blocker or not for 1.5 @nikhiljindal @quinton-hoole

[2016-11-16 14:23] dims commented on #32537
This needs to be triaged as a release-blocker or not for 1.5 @derekwaynecarr @vishh

[2016-11-16 14:24] dims commented on #33350
This needs to be triaged as a release-blocker or not for 1.5 @quinton-hoole @madhusudancs

[2016-11-16 14:24] dims commented on #33292
This needs to be triaged as a release-blocker or not for 1.5 @nikhiljindal @lavalamp

[2016-11-16 14:24] dims commented on #32727
This needs to be triaged as a release-blocker or not for 1.5 @saad-ali @justinsb @thockin @matchstick

[2016-11-16 14:25] dims commented on #33717
This needs to be triaged as a release-blocker or not for 1.5 @thockin

[2016-11-16 14:25] dims commented on #33203
This needs to be triaged as a release-blocker or not for 1.5 @jingxu97 @saad-ali

[2016-11-16 14:26] dims commented on #33650
This needs to be triaged as a release-blocker or not for 1.5 @derekwaynecarr @kargakis

[2016-11-16 14:26] dims commented on #32803
This needs to be triaged as a release-blocker or not for 1.5 @yujuhong @thockin @euank

[2016-11-16 14:27] dims commented on #33515
@saad-ali : what say you? :) move this to 1.6?

[2016-11-16 14:27] dims commented on #28312
This needs to be triaged as a release-blocker or not for 1.5 @ConnorDoyle @jeremyeder @davidopp

[2016-11-16 14:28] mfojtik commented on #33650
@dims we agreed to postpone this for 1.6, so I think this is not a blocker.

[2016-11-16 14:28] dims commented on #33650
Excellent @mfojtik will switch milestone

[2016-11-16 14:30] dims commented on #34130
This needs to be triaged as a release-blocker or not for 1.5 @mwielgus

[2016-11-16 14:30] dims commented on #34133
This needs to be triaged as a release-blocker or not for 1.5 @deads2k

[2016-11-16 14:30] dims commented on #31762
This needs to be triaged as a release-blocker or not for 1.5 @bprashanth @smarterclayton

[2016-11-16 14:31] dims commented on #34066
This needs to be triaged as a release-blocker or not for 1.5 @derekwaynecarr

[2016-11-16 14:31] dims commented on #30025
This needs to be triaged as a release-blocker or not for 1.5 @timothysc

[2016-11-16 14:31] dims commented on #33472
This needs to be triaged as a release-blocker or not for 1.5 @wojtek-t @cjcullen

[2016-11-16 14:32] dims commented on #33591
This needs to be triaged as a release-blocker or not for 1.5 @nikhiljindal @mwielgus

[2016-11-16 14:32] dims commented on #31362
This needs to be triaged as a release-blocker or not for 1.5 @vishh @derekwaynecarr

[2016-11-16 14:32] antoineco commented on #15050
@dims definitely not a release blocker

[2016-11-16 14:32] dims commented on #31798
This needs to be triaged as a release-blocker or not for 1.5 @cjcullen @lavalamp

[2016-11-16 14:33] dims commented on #28632
This needs to be triaged as a release-blocker or not for 1.5 @ixdy

[2016-11-16 14:33] dims commented on #33726
This needs to be triaged as a release-blocker or not for 1.5 @ixdy

[2016-11-16 14:33] dims commented on #33843
This needs to be triaged as a release-blocker or not for 1.5 @smarterclayton @derekwaynecarr

[2016-11-16 14:34] dims commented on #30819
This needs to be triaged as a release-blocker or not for 1.5 @smarterclayton @lavalamp @timothysc @thockin @erictune

[2016-11-16 14:34] dims commented on #32544
This needs to be triaged as a release-blocker or not for 1.5 @mikedanese @gluke77

[2016-11-16 14:36] dims commented on #15050
Thanks switched milestones @antoineco

[2016-11-16 14:38] eparis commented on #33843
not blocker.

[2016-11-16 14:38] dims commented on #34261
This needs to be triaged as a release-blocker or not for 1.5 @quinton-hoole @erictune @nikhiljindal @jianhuiz

[2016-11-16 14:39] dims commented on #35406
This needs to be triaged as a release-blocker or not for 1.5 @derekwaynecarr @sjenning

[2016-11-16 14:39] dims commented on #20064
This needs to be triaged as a release-blocker or not for 1.5 @jayunit100 @timothysc @davidopp

[2016-11-16 14:39] jsafrane commented on #33717
IMO, we should keep the alpha behavior as it is in 1.5. Once we have a default storage class deployed during installation (=1.6), we can remove it and most users won't see any difference - alpha annotation on a PVC will be ignored and the default storage class will be used to provision a volume for the PVC.

[2016-11-16 14:39] dims commented on #33911
This needs to be triaged as a release-blocker or not for 1.5 @errordeveloper @dgoodwin @pipejakob

[2016-11-16 14:40] dims commented on #33255
This needs to be triaged as a release-blocker or not for 1.5 @derekwaynecarr @vishh @sjenning

[2016-11-16 14:40] dims commented on #32551
This needs to be triaged as a release-blocker or not for 1.5 @porridge @bowei @thockin

[2016-11-16 14:41] dims commented on #34965
This needs to be triaged as a release-blocker or not for 1.5 @vishh @euank @AdoHe @dchen1107

[2016-11-16 14:41] dims commented on #34746
This needs to be triaged as a release-blocker or not for 1.5 @ymqytw @pwittrock

[2016-11-16 14:42] dims commented on #30471
This needs to be triaged as a release-blocker or not for 1.5 @jszczepkowski @alex-mohr @DirectXMan12 @fgrzadkowski

[2016-11-16 14:42] dims commented on #34738
This needs to be triaged as a release-blocker or not for 1.5 @pmorie

[2016-11-16 14:42] dims commented on #32829
This needs to be triaged as a release-blocker or not for 1.5 @vefimova @caesarxuchao @caesarxuchao

[2016-11-16 14:43] dims commented on #34136
This needs to be triaged as a release-blocker or not for 1.5 @luxas @pires @mikedanese

[2016-11-16 14:43] dims commented on #33622
This needs to be triaged as a release-blocker or not for 1.5 @smarterclayton @nikhiljindal @quinton-hoole

[2016-11-16 14:48] dims commented on #28435
@ixdy work on this will move to 1.6? (This needs to be triaged as a release-blocker or not for 1.5)

[2016-11-16 14:50] dims commented on #28435
@ixdy work on this will move to 1.6? (This needs to be triaged as a release-blocker or not for 1.5)

[2016-11-16 14:51] wojtek-t commented on #34911
@bprashanth - these are flakes that occur from time to time (there were 5 of them or so).

@timothysc - before cpu usage was below 0.1 core, now from time to time it spiked up to almost 0.2 core

[2016-11-16 14:53] smarterclayton commented on #36745
I recall agreeing to that, but I don't know that it was actually changed
yet.

On Nov 16, 2016, at 1:51 AM, Jordan Liggitt <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton>, I thought
--require-kubeconfig was defaulting to true for 1.5

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kuber

[2016-11-16 14:55] dims commented on #32625
This needs to be triaged as a release-blocker or not for 1.5 @caseydavenport @thockin @bboreham

[2016-11-16 14:55] smarterclayton commented on #36791
We've run Kube HA with quorum read off for the better part of a year as the default configuration for OpenShift, and have only encountered a few issues like this.  So unless we have a concrete reason to change, I would like to avoid that.

[2016-11-16 14:57] dims commented on #16508
This needs to be triaged as a release-blocker or not for 1.5 @jbeda @thockin @sandys @gtaylor

[2016-11-16 14:59] k8s-merge-robot opened #36895 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/5717/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33993 #34033 #34796 #35306 #35315 #35396 #35441

[2016-11-16 15:00] k8s-merge-robot opened #36896 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/7797/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105 #32059 #32074 #32078 #32098 #32437 #32525 #33344

[2016-11-16 15:01] dims commented on #33884
This needs to be triaged as a release-blocker or not for 1.5 @justinsb @davidopp

[2016-11-16 15:04] deads2k commented on #34133
already fixed.

[2016-11-16 15:04] #34133 closed

[2016-11-16 15:04] deads2k commented on #32864
Already fixed.

[2016-11-16 15:04] #32864 closed

[2016-11-16 15:06] derekwaynecarr commented on #33255
This is not a release blocker and should be 1.6.

[2016-11-16 15:08] deads2k commented on #32725
Not a blocker for 1.5.

[2016-11-16 15:08] kargakis opened #36897 "Provide a way to relabel controllers and their pods"
Currently, the deployment controller relabels replica sets and pods when it needs to adopt a replica set for a deployment. It would be more convenient to have a replica set endpoint that would force the replica set controller to do all the relabeling (change pod template labels, update old pods, change selector). The implementation should be similar to how the rollback spec works for Deployments.

[2016-11-16 15:08] Crassirostris commented on #36893
@igorpeshansky Just for your information, that this might happen with fluentd

[2016-11-16 15:10] dims commented on #35058
@ixdy This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:10] dims commented on #35954
@madhusudancs This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:12] dims commented on #26299
@pmorie @smarterclayton @bgrant0607 - Looks like @fraenkel has a PR ready (https://github.com/kubernetes/kubernetes/pull/36245) but that does not have the 1.5 milestone set. PTAL

[2016-11-16 15:13] jayunit100 commented on #31453
Yeah not necessarily for 1.5

[2016-11-16 15:13] dims commented on #36007
@janetkuo @ymqytw This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:13] dims commented on #29478
@Random-Liu @yujuhong This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:14] dims commented on #31459
@yujuhong @Random-Liu This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:14] dims commented on #36034
@foxish @smarterclayton This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:16] dims commented on #31453
Ack. switching milestone @jayunit100

[2016-11-16 15:17] mdshuai commented on #36872
@chengzhang1016 you need set fsGroup for pod :
[code]

[2016-11-16 15:17] dims commented on #34127
@vishh @saad-ali @jingxu97 This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:18] dims commented on #31272
@pmorie @ncdc @sjenning This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:19] deads2k commented on #31521
already fixed

[2016-11-16 15:19] #31521 closed

[2016-11-16 15:20] dims commented on #31273
This needs to be triaged as a release-blocker or not for 1.5 @bprashanth @alex-mohr @bprashanth

[2016-11-16 15:20] derekwaynecarr commented on #35406
Moved to 1.6, we will handle leaking memory backed volumes in 1.5.

[2016-11-16 15:20] dims commented on #35226
@bgrant0607 @smarterclayton This needs to be triaged as a release-blocker or not for 1.5

[2016-11-16 15:20] dims commented on #35318
This needs to be triaged as a release-blocker or not for 1.5 @foxish @smarterclayton @mwielgus

[2016-11-16 15:21] dims commented on #35935
This needs to be triaged as a release-blocker or not for 1.5 @vishh @jingxu97 @yujuhong

[2016-11-16 15:21] dims commented on #36540
This needs to be triaged as a release-blocker or not for 1.5 @nikhiljindal @mwielgus

[2016-11-16 15:23] dims commented on #33722
Closing this, bot will create a fresh one if this comes up again

[2016-11-16 15:25] cjcullen commented on #31798
This does not need to block 1.5.

[2016-11-16 15:30] dims commented on #31283
ack @madhusudancs

[2016-11-16 15:31] dims commented on #31798
Ack @cjcullen switching milestone

[2016-11-16 15:34] deads2k commented on #36007
Opened https://github.com/kubernetes/kubernetes/pull/36898 for evaluation.  Its definitely broken, but I think we could tolerate having it in 1.5.1.

[2016-11-16 15:44] #36896 closed

[2016-11-16 15:44] quinton-hoole commented on #33591
This is done.

On Wed, Nov 16, 2016 at 6:32 AM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-11-16 15:45] gmarek commented on #34911
Failure caused by adding ServiceAccounts to Kubemark, making it more realistic. Fix #36899

[2016-11-16 15:46] gmarek commented on #36896
+100 for auto dup-closing feature. I don't know who to thank though: @eparis @spxtr ?

[2016-11-16 15:48] gmarek commented on #22680
Ugh... I strongly believe we should do this, but it fell of everyone's radar. Again. Sad thing is that it actually causes problems, so I'm all for making it a release blocker with a hope that someone will find time to do this:/

[2016-11-16 15:50] dims commented on #22680
@gmarek : which SIG should we ping?

[2016-11-16 15:53] sandys commented on #16508
This is the early roadmap for 1.6 for sig-lifecycle

https://docs.google.com/document/d/1v4k7eN-eetHbbpTAG7WuioRAMsK_FVGi1yC3VIn4Inw/edit#

IMHO the assumption is that the hyperkube resolution would happen before
the work for 1.6 starts.

On Nov 16, 2016 8:27 PM, "Davanum Srinivas" <notifications@github.com>
wrote:

[2016-11-16 15:57] gmarek commented on #22680
@dims - that's a great question... It's a PodGC thing, so maybe @kubernetes/sig-api-machinery ?

[2016-11-16 16:02] dims commented on #22680
@gmarek ack. let's wait to hear from them :)

[2016-11-16 16:05] justinsb commented on #21623
I actually propose closing, in that it is aspirational.  If we observe the problem, we can fix at that time.  I think there's actually a separate issue that might have hit it which I re-found in my triage yesterday, in which case we can track there: #31858

[2016-11-16 16:05] #21623 closed

[2016-11-16 16:07] justinsb opened #36902 "Suspicious loop in k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws.go"
Per #36858:

k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws.go:1923:3: the surrounding loop is unconditionally terminated (SA4004)

It does look very suspicious.

[2016-11-16 16:08] pwittrock commented on #34746
This is tracks writing the release notes for kubectl changes as part of the release process.  (yes it is a blocker, no it should not be tracked as part of items putting the release at risk)

[2016-11-16 16:08] justinsb commented on #36858
Opened #36902 for the aws codesmell issue.

Could we get staticcheck into e2e I wonder?

[2016-11-16 16:18] seh commented on #36902
Pertinent patches:
- 48e8a8b0ec250efb05390b79e3e81b720f8259cc
  _AWS: Set up security groups, to mirror GCE firewalling_
- 190c829ac5e5aa628e613a635af9e7ac153108ab
  _Fix AWS ip permission comparison on security group_

[2016-11-16 16:27] #33722 closed

[2016-11-16 16:32] luxas commented on #16508
This is just a tracking issue for what we eventually like to do, but it likely won't happen in the 1.x releases.
Well, I think we don't need a milestone for this at all if others agree.

@sandys From where did you read that this hyperkube work is in the early roadmap for v1.6?
I wrote the above referenced doc but I haven't said something like that as far as I can remember.

This is by far a more b

[2016-11-16 16:32] luxas commented on #33911
Nope not a release blocker

[2016-11-16 16:34] vrobert78 commented on #30617
our workaround for Jenkins:

[code]

[2016-11-16 16:36] DirectXMan12 commented on #30471
This should have been fixed by #33593, so should be closable.

[2016-11-16 16:37] DirectXMan12 commented on #31621
This was fixed by #34473 (we change the ImageID to be the pullable ID, when we have that info), so this can probably be marked as closed.

[2016-11-16 16:39] luxas commented on #28435
If I understand correctly, @ixdy has already made some improvements by splitting the monotarball out to one tarball per arch.

But I think there's work left to do, so moving to v1.6

[2016-11-16 16:42] JMoellerSLB commented on #34772
@fgrzadkowski: Thanks for looking into the problem. It's clear now that others run into the same issue. I don't know the Kubernetes code base, so I can only guess how things work. You mention a manifest. I assume that it contains information about the Kubernetes services that execute on each node. I also guess that the scheduler looks at the current state of a node to decide whether to schedule on

[2016-11-16 16:43] sandys commented on #16508
Actually I mentioned that hyperkube is NOT in the 1.6 document.
Since the question was whether it should be a blocker for 1.5, I pointed
that out.

On Nov 16, 2016 10:02 PM, "Lucas Käldström" <notifications@github.com>
wrote:

[2016-11-16 16:44] luxas commented on #16508
Yes, but I personally don't think it should be in the v1.6 document.
Please describe why you'd like it, I'm all ears for your opinion :smile:

[2016-11-16 16:45] bprashanth commented on #31273
An infra change is probably not going to block the release though it's probably slowing down debugging of various cluster-up failures. Oddly this release we haven't seen as many of those as we did in previous releases (he says, as they enter the stabilization period).

[2016-11-16 16:49] sandys commented on #16508
Oh no no...I don't say it should be.
I was just responding to the question (if I understood it correctly)
whether it should be 1.5 *blocker.*

I was hoping someone else (like you) could point out the timelines for
this...since this is also not in 1.6.

I was personally hoping for 1.5 :D

On Nov 16, 2016 10:15 PM, "Lucas Käldström" <notifications@github.com>
wrote:

[2016-11-16 16:52] smarterclayton commented on #33472
Probably blocker.

[2016-11-16 16:52] smarterclayton commented on #30819
Not.

On Wed, Nov 16, 2016 at 6:34 AM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-11-16 16:53] smarterclayton commented on #36034
Doc blocker because it causes data loss if someone copies it.

[2016-11-16 16:53] luxas commented on #16508
Ah, gotcha.

Well, since this is such a huge and disruptive change, I'd expect this transition to maybe be done for the v2.0.0 release, but at least not until then.

But hyperkube exists today and you can just use it, so I don't think you're missing anything out, this is more about deprecating the individual binaries (if we want to do that)

[2016-11-16 16:54] smarterclayton commented on #29972
Not a blocker because we have had no recreations.

[2016-11-16 16:54] smarterclayton commented on #35226
Not.

[2016-11-16 16:55] smarterclayton commented on #31762
Not.

[2016-11-16 16:55] #31621 closed

[2016-11-16 16:55] kargakis commented on #36897
cc @mfojtik

[2016-11-16 16:58] k8s-merge-robot opened #36903 "[k8s.io] GarbageCollect [Serial] Garbage Collection Test: Many Pods with Many Restarting Containers Should eventually garbage collect containers when we exceed the number of dead containers per container {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/1468/

Failed: [k8s.io] GarbageCollect [Serial] Garbage Collection Test: Many Pods with Many Restarting Containers Should eventually garbage collect containers when we exceed the number of dead containers per container {E2eNode Suite}

[code]

[2016-11-16 17:04] timothysc commented on #36752
Should we rely on events for performance testing or start to investigate tracing?

[2016-11-16 17:09] sandys commented on #16508
lucas - will hyperkube releases have feature parity with the equivalent
binaries ?

From this thread (and the other one where the pull request to add kubeadm
to hyperkube was denied), it seems that hyperkube is NOT advisable. Could
you let us know what you think ?

I would love to use hyperkube for production deployment

On Wed, Nov 16, 2016 at 10:24 PM, Lucas Käldström <notifications@github.com>

[2016-11-16 17:13] euank commented on #34965
We should use kmsg instead of journald / sd-journal since cadvisor *only* cares about oom messages IMO.

Duplicating my work from https://github.com/kubernetes/node-problem-detector/pull/41 against cadvisor should fix this, and I've been planning to do that regardless.

[2016-11-16 17:13] timothysc commented on #20064
We've done some cleanup and perf work in 1.5 and we'll move the rest to 1.6

[2016-11-16 17:17] dashpole commented on #32304
Ill look at it this week

[2016-11-16 17:18] hsyed commented on #28226
I'm VERY interested in this as well. An EFS based PersistentVolume driver that allows nodes to remount paths in different AZ's.

I currently have an EFS drive pre-mounted at the same location across my clusters.  I'm surprised there isn't some way for the user to create a PersistentVolume that captures a host volume along with user defined access modes -- This could not only be useful for testing

[2016-11-16 17:18] bboreham commented on #19766
I suggest this should be re-opened.  The chain of calls is:

https://github.com/kubernetes/kubernetes/blob/90662534911a3618fe0ccc319e7e731c0f3b7403/pkg/kubelet/kubelet.go#L643 sets `hairpinMode` to `true`, e.g. when using CNI
https://github.com/kubernetes/kubernetes/blob/90662534911a3618fe0ccc319e7e731c0f3b7403/pkg/kubelet/dockertools/docker_manager.go#L2224 calls `SetupContainerPid()`
https://git

[2016-11-16 17:18] luxas commented on #16508
The reason why we rejected kubeadm from hyperkube is because we're on our way to split kubeadm out of this repo, and if we would have added kubeadm to hyperkube, we wouldn't be able to do that.

hyperkube has the EXACT same code as the other binaries, it's just another bundling method. Look at `cmd/hyperkube` to get a better understanding.

The binary hyperkube isn't bad in itself, you could use t

[2016-11-16 17:19] mtaufen commented on #27980
I am planning on picking this back up for 1.6.

[2016-11-16 17:19] pwittrock commented on #26202
@andronat

Thanks for you analysis.  I agree with a lot of what you have written, and had a number of conversations with similar ideas.  One challenge with solving the problem generally instead of for specific cases is that we need to understand all of the ways the system may be used and make sure the approach we take makes sense.  We would probably want to start by auditing more defaulting cases

[2016-11-16 17:21] liggitt commented on #32220
Not a blocker

[2016-11-16 17:22] smarterclayton commented on #36752
@derekwaynecarr since you did all the event compression / truncation stuff.

[2016-11-16 17:23] luxas commented on #27980
Thanks, the sooner we get it the better.
Feel free to ping me on any of those issues/PRs.

Do you think we should support layering or should we just provide the basic base configmap for all kubelets and make all `kubelet-nodename` configmaps override the base configmap completely?

I think that might be one of the largest design issues we have to make
cc @vishh

[2016-11-16 17:24] ixdy commented on #35058
punting to v1.6.

[2016-11-16 17:25] peterochodo commented on #36835
I think so to (that there should be a masquerade rule for every service). Probably mark every packet that is destined for a service ip address so that it is masqueraded.

[2016-11-16 17:26] liggitt commented on #36791
Closing since the referenced issue is fixed in 1.5

[2016-11-16 17:26] #36791 closed

[2016-11-16 17:27] dcbw commented on #27398
@xiangpengzhao I think there's slow forward movement in the Net SIG around multiple IP addresses for each pod, though that is different than multiple networks.  In any case, if you'd like to join the Net SIG calls and give your perspective, that would be great!  https://github.com/kubernetes/community/wiki/SIG-Network

@codergr WRT to API considerations... first the current API only allows one IP

[2016-11-16 17:27] luxas commented on #35058
The main problem here is that we're installing huge packages for supporting some volume types:
 - git
 - nfs-common
 - glusterfs-client
 - cifs-utils

With containerized volume mounters we'll get rid of that.

[2016-11-16 17:27] ymqytw commented on #36586
@dims We timeout waiting for pod sometimes. Is it reasonable to use a longer timeout? Use [PodStartTimeout](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L99) for [wait.PollImmediate()](https://github.com/kubernetes/kubernetes/pull/36864/files#diff-540d8a63e8b72b4e05dda54ae37f77d2R578) in that test.

[2016-11-16 17:35] caseydavenport commented on #32625
I don't think I'll have the bandwidth to address this in the next day or two.

I don't think this should block v1.5.  The GCI changes necessary to make this work seem to have gone in (which was the important part in my mind), there's just a little bit of scripting left to actually install the Calico DaemonSet when the flag is set.

[2016-11-16 17:43] chrislovecnm commented on #26093
@thockin / @luxas this issue is SUPER important.  Can we get a PR with a document 😀

This issue is a tad difficult to follow.... Justsayin

[2016-11-16 17:50] MrHohn commented on #35600
The failures happened on Oct.26 were introduced by #35255 and that was fixed. The last failure seems similar but not sure the reason. The addon manager's logs is exposed on e2e tests since #35832. I believe we could easily figure out the reason if it starts to be flake again.

[2016-11-16 17:53] erictune commented on #34261
@soltysh can you take a look at this?

[2016-11-16 17:53] luxas commented on #26093
Well, that's why I created it :smile:

Seriously then, I'm having a lot to do right now, but if someone else could take it on, I'd appreciate it.
Everything one should need is stated in the comments above, but yeah, it might be a little bit difficult to follow given the amount of information at different given times.

[2016-11-16 17:53] liggitt commented on #36891
cc @derekwaynecarr

do you know what admission plugins you have enabled, and if you have the NamespaceLifecycle plugin enabled?

[2016-11-16 18:02] caesarxuchao commented on #22680
cc @foxish

[2016-11-16 18:02] calebamiles commented on #31676
added a non release blocker label per the comment in https://github.com/kubernetes/kubernetes/issues/32433#issuecomment-260811985

let me know @dchen1107 if this should be changed

**cc @saad-ali **

[2016-11-16 18:06] wojtek-t commented on #22680
Isn't it already done?

[2016-11-16 18:07] wojtek-t commented on #22680
Ohh maybe not - I think we changed something different (I think it was size of deserialization cache).

[2016-11-16 18:12] #36874 closed

[2016-11-16 18:14] mikedanese commented on #34136
@dims This is very close to done. This won't be a release blocker. I'm ok with moving this out of the milestone even though it will likely be done by the release. Last release didn't we have a v1.4-nonblocking milestone?

[2016-11-16 18:15] mikedanese commented on #32544
We did what we needed to do for v1.5.

[2016-11-16 18:17] yujuhong commented on #35914
Just ran into another failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-cri-gce-e2e-ci/1042

From docker.log:
[code]

[2016-11-16 18:18] luxas commented on #34136
@mikedanese Have you set up a jenkins ci?

[2016-11-16 18:22] caesarxuchao commented on #32829
It's not a blocker. We didn't add any new feature to GC in 1.5.

[2016-11-16 18:26] ixdy commented on #36875
Should be fixed by https://github.com/kubernetes/test-infra/pull/1085.

[2016-11-16 18:29] deads2k commented on #22680
Isn't this wired to `--terminated-pod-gc-threshold` for the controller manager, which could be used to keep it under control for the cluster?  It would be nice to have it auto-tune itself, but I if I'm looking at the right thing I don't think its a release blocker.

[2016-11-16 18:29] #36875 closed

[2016-11-16 18:33] bowei commented on #32551
@dims Unless you are talking about the issue filed by mtbbiker, this issue has been fixed by https://github.com/kubernetes/kubernetes/pull/35919

[2016-11-16 18:38] janetkuo commented on #36859
Per discussion with @erictune, we should fix this in 1.6, presumably with Controller Reference instead

[2016-11-16 18:42] colemickens commented on #36829
Actually, this was a complete mistake on my part. Updated two things at once and erroneously suspected kubectl as the culprit. Closing...

[2016-11-16 18:42] #36829 closed

[2016-11-16 18:48] dims commented on #36586
@ymqytw : sure thing, do you want to do that in a fresh PR?

[2016-11-16 18:49] yujuhong commented on #36264
I'd like to get #36768 in first and see if the flake in the cluster e2e tests goes away.

[2016-11-16 18:50] thockin commented on #32551
@bowei can you tweak the subject of #35919 to be a better release note?  Specifically the default value of that param?

[2016-11-16 18:50] #32551 closed

[2016-11-16 18:51] ymqytw commented on #36877
@liggitt I can't reproduce this on HEAD. What version and env are you using?

[2016-11-16 18:52] vishh commented on #27980
basic base configmap for all kubelets and make all kubelet-nodename configmaps
override the base configmap completely?

Kubelet-nodename will not work. We need to take into account upgrades and
rollbacks. @mtaufen can you post the design updates from our offline
discussions?

On Wed, Nov 16, 2016 at 9:23 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-11-16 18:53] dims commented on #34136
@mikedanese : nice! let's ask Saad. @saad-ali : we need a v1.5-nonblocking milestone this time?

[2016-11-16 18:54] dims commented on #32544
great thanks @mikedanese

[2016-11-16 18:54] wojtek-t commented on #22680
Isn't this wired to --terminated-pod-gc-threshold for the controller manager, which could be used to keep it under control for the cluster?

I'm afraid I don't understand this.

It would be nice to have it auto-tune itself,

+1

but I if I'm looking at the right thing I don't think its a release blocker.

I think I agree - this is not a regression and we can live with it I guess.

[2016-11-16 18:56] dims commented on #32220
thanks @liggitt

[2016-11-16 18:58] rajeshwer opened #36905 "Failed to mount RBD to pods"
timeout expired waiting for volumes to attach/mount for pod "ceph-test-i8oj5"/"default". list of unattached/unmounted volumes=[ceph-image1]

[2016-11-16 18:58] rajeshwer commented on #36905
sudo kubectl get pv
NAME          CAPACITY   ACCESSMODES   RECLAIMPOLICY   STATUS    CLAIM                 REASON    AGE
ceph-image1   1Gi        RWO           Retain          Bound     default/ceph-image1             18h

sudo kubectl get pvc
NAME          STATUS    VOLUME        CAPACITY   ACCESSMODES   AGE
ceph-image1   Bound     ceph-image1   1Gi        RWO           18h

[2016-11-16 18:59] k8s-merge-robot opened #36906 "kubernetes-e2e-gci-gce-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-ingress-release-1.4/2228/

Run so broken it didn't make JUnit output!

[2016-11-16 18:59] k8s-merge-robot opened #36907 "kubernetes-e2e-gci-gce-slow-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow-release-1.4/1730/

Run so broken it didn't make JUnit output!

[2016-11-16 19:04] liggitt commented on #36877
I saw it yesterday on kubernetes master multiple times... oddly, I can't recreate now either

[2016-11-16 19:04] #36877 closed

[2016-11-16 19:09] ymqytw commented on #36586
@dims I updated my pending PR #36777.

[2016-11-16 19:09] bprashanth commented on #32436
I don't see any immediate reason the curl should time out in 1s, but we don't retry it and we probably should, so I'm sending a pr to do that first.

[2016-11-16 19:10] vishh commented on #32537
@dashpole can you check if we have set default values for disk and inode based evictions in kubelet? If not, we should add them.

[2016-11-16 19:10] lavalamp commented on #34363
@steve-wolter Sorry for slow response.

I think "Kubernetes lacks the concept of an operation" is correct. The system does not expose operation-level constructs because the system does not really have operation level constructs. (trivia: we had "operations" in apiserver at one point, but removed them!)

Due to the declarative nature of the API, "operation" isn't really a thing that actually makes

[2016-11-16 19:15] timbunce commented on #20941
Meanwhile, for those who find their way here and want a quick workaround `kubectl get service $foo -o yaml | grep "key:"` is basic and `kubectl get service apex-main -o json | jq .metadata.annotations` is smarter.

[2016-11-16 19:27] dashpole commented on #32537
I believe our current default value for the --eviction-hard flag is "memory.available<100Mi", found in pkg/apis/componentconfig/v1alpha1/defaults.go.
Our tests currently run using: "memory.available<250Mi,nodefs.available<10%,nodefs.inodesFree<5%", found in test/e2e/framework/test_context.go.

What should I change the default to?  This issue is about minimum reclaim, should I look into changing th

[2016-11-16 19:30] dashpole commented on #32537
It doesn't appear that we have defaults for minimum reclaim, should I add minimum reclaim for memory in addition to the values listed at first?

[2016-11-16 19:33] mikedanese commented on #34136
Ok, @saad-ali Informed me that I should leave in v1.5 but add non-release blocker.

@luxas, very soon we will. One more PR left.

[2016-11-16 19:39] mikedanese commented on #16779
@wernight there are quite a few workflows that involve deploying many clusters per week (or per day). This would be a breaking change for those deployment styles.

We should publish a list of configs that moves a cluster towards secure and have a single flag in our deployment automation to enable all of these. This won't be stable until we fix some (many) outstanding security related cleanups. Eve

[2016-11-16 19:40] mikedanese commented on #16779
@jcbsmpsn is looking into implementing a fix via the automount=false annotation.

[2016-11-16 19:47] dims commented on #33388
Too many comments, and we got locked out. So closing this now, so bot can log a fresh one if needed.

[2016-11-16 19:47] #33388 closed

[2016-11-16 19:49] aveshagarwal commented on #28082
I think this is already being addressed in https://github.com/kubernetes/kubernetes/pull/34825 since https://github.com/kubernetes/kubernetes/pull/34825 is not going to make 1.5 that means this is not going to be addressed in 1.5.

[2016-11-16 20:01] gmarek commented on #22680
I'm not sure - we saw clusters that were dying because of this problem, but if you don't think it's serious enough we can push it for 1.6.

We can probably have the --terminated-pod-gc-threshold automatically set taking into account amount of memory on the master machine. I'm not sure what's the best way to do it though (we can probably add some syscalls to the API server, and if we're running on

[2016-11-16 20:01] dhoer commented on #8800
That is one approach. But if you have developers on Windows platform, then you introduce some if the immaturity that docker and docker-compose brings to the table such as; not handling CRLF, and execute permission differences between docker and docker-compose.

Environment properties should be a separation-of-concern. The current solution is too tightly coupled and adds deployment risks and costs

[2016-11-16 20:02] mattymo commented on #36745
@dims I already wrote, but it is 1.4.3 and 1.4.6

[2016-11-16 20:02] gmarek commented on #36752
I think that we can get events faster, as the only thing that needs to be done is to increase timestamp granularity. If we have someone who can instrument the code for us, it's fine, but I guess it'll take a release or two.

[2016-11-16 20:03] dims commented on #36745
Apologies @mattymo !

[2016-11-16 20:05] chrislovecnm commented on #26093
@luxas more than that we need tooling to do this.  This is an issue that will cause us not to be able to scale, and once we break up the repos, it will be WORSE.

[2016-11-16 20:09] aveshagarwal commented on #32535
My guess is that this one and https://github.com/kubernetes/kubernetes/issues/29503 are related and if the fix https://github.com/kubernetes/kubernetes/pull/36820 works, should help both i think.

[2016-11-16 20:14] soltysh commented on #34261
Sure, will look into it first thing in the morning.

[2016-11-16 20:15] soltysh commented on #34261
@dims do we really want this to have in 1.5? I don't feel so strongly about it, being this late in the code freeze, to be honest.

[2016-11-16 20:17] dims commented on #34261
glad to hear that @soltysh let me move the milestone to 1.6

[2016-11-16 20:19] krousey opened #36912 "e2e logic for matching pods to ReplicationControllers is broken"
The logic to account for all pods being ready is incorrectly counting some pods as being controlled by a replication controller. This is causing the 1.3-1.5 upgrade tests to fail. See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster/99 as an example.

[code]

Since `5 != 4`, the pre-flight checks fail and the rest

[2016-11-16 20:19] soltysh commented on #31553
Not a blocker, moving the milestone to 1.6.

[2016-11-16 20:22] k8s-merge-robot opened #36913 "[k8s.io] Network should set TCP CLOSE_WAIT timeout {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/2948/

Failed: [k8s.io] Network should set TCP CLOSE_WAIT timeout {Kubernetes e2e suite}

[code]

Previous issues for this test: #36288

[2016-11-16 20:22] k8s-merge-robot opened #36914 "[k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial-release-1.4/487/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching {Kubernetes e2e suite}

[code]

[2016-11-16 20:41] pwittrock opened #36916 "Fix kubectl strmrg patch compatibility"
#35647 introduced a non-backwards compatible change in kubectl and uses the server version to fallback on the old behavior.  @smarterclayton noted that using the server version to drive client behavior is not acceptable because the server version may not be published, or there may be federated servers with different versions.

We need to work out a solution, which may include rolling back parts of

[2016-11-16 20:42] astropuffin commented on #29876
@xingzhou @AdoHe @smarterclayton
I like the asterisk. It summarizes that there is something non-binary going on that requires a more nuanced interpretation. However, in the case of containers that have exited successfully, the status of the pod as a whole is better described by the status of the container(s) still in progress (i.e. Running). In the case of a pod with a failed container, then as a

[2016-11-16 20:56] k8s-merge-robot opened #36917 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow-release-1.4/2151/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28984 #33827

[2016-11-16 21:00] thockin commented on #8800
Dennis,

There's always "the right way" which takes time.  I was offering what I
hope is a realistic workaround that works TODAY.  Given the timeline, this
will not land until 1.6, so we have some time to gather ideas, I guess.

On Wed, Nov 16, 2016 at 12:01 PM, Dennis Hoer <notifications@github.com>
wrote:

[2016-11-16 21:04] bgrant0607 commented on #36897
@kargakis Sorry, quick comments for now.

We may want to think about a subresource, similar to /scale, that could do this uniformly across workload APIs. Maybe even we could extend /scale to be a generic workload-controller interface, but I haven't thought about that much yet.

[2016-11-16 21:05] bgrant0607 commented on #36897
cc @erictune

[2016-11-16 21:08] ixdy commented on #33726
not a release blocker.

[2016-11-16 21:23] derekwaynecarr commented on #32537
I think GCE defaults do not apply globally, we should change what GCE does, and handle setting global defaults in 1.6.

[2016-11-16 21:26] MikeSpreitzer commented on #27398
To answer @thockin's question from July 28: in my use case, which is adding a Neutron floating IP, it is not adding additional NICs.  A Neutron floating IP address is a NAT alias for some underlying address.

Let me add support for the use case that @xiangpengzhao is discussing.  I have potential users who will want to differentiate their own apps' control and data traffic, and possibly have redun

[2016-11-16 21:27] vishh commented on #32537
@derekwaynecarr the global defaults are expected to be based on our OSS tests. Our original plan was to roll out disk eviction by default in v1.5. This is not specific to GCE.

[2016-11-16 21:29] rkamudhan commented on #27398
I like to support @xiangpengzhao use case pod require multiple network support, with each interface connected to a separate network.

[2016-11-16 21:40] lavalamp commented on #35162
This is why I added the "announced" package-- announced APIs can be shared.

Agree that NO ONE should be referencing api.Scheme directly. Each binary should construct their scheme and it should be plumbed through all of the appropriate factories, etc...

[2016-11-16 21:40] luxas commented on #35314
@bgrant0607 Please create a repo with only a markdown file or something soon so we can get going :+1:

@jbeda _How_ would you like the releases to actually work?
I guess you want them in the release tarball, but should they be in all CI builds as well?
I do not think so.

Also, should we for example have a `release-1.5` branch in the kubeadm repo that the releasing tools will use when doing a `v1.

[2016-11-16 21:42] #36652 closed

[2016-11-16 21:49] fgrzadkowski commented on #28986
@slaskawi Can you please explain your use-case in more details? I have some specific questions:
* If you double number of replicas, what would happen with memory usage? Would drop 2 times?
* How long would it take to rebalance in-memory state between replicas?
* I'm not a Java guy, so forgive my stupid questions. If we decrease "real" memory usage for a Java app, but don't change `Xms` then would

[2016-11-16 21:51] dhoer commented on #8800
I think we are on the same page here.  I'm hoping for a solution for 2nd quarter next year as we open our clusters up to the masses.

So how do we go about generating input on "the right way" solution?

[2016-11-16 21:51] fgrzadkowski commented on #30471
@DirectXMan12 do we have some e2e tests for this? If not, can you add?

[2016-11-16 22:04] jingxu97 commented on #35914
I checked the GCI image version for the test, it is gci-dev-55-8872-18-0 which does not has the docker fix @vishh mentioned [opencontainers/runc#608](https://github.com/opencontainers/runc/pull/608).

So far since there is no failure after upgrading the new gci image gci-dev-56-8977-0-0 (https://github.com/kubernetes/kubernetes/pull/36681), I will close this issue for now

[2016-11-16 22:04] #35914 closed

[2016-11-16 22:07] spxtr commented on #36895
We should special-case the `hack/e2e.go` JUnit output so that we don't open issues like this.

[2016-11-16 22:08] timothysc commented on #36716
@k82cn That's what I was thinking.

[2016-11-16 22:09] #36562 closed

[2016-11-16 22:10] spxtr commented on #36863
https://github.com/kubernetes/test-infra/issues/79

[2016-11-16 22:10] #36863 closed

[2016-11-16 22:13] timothysc commented on #28312
Initial alpha for this is in (#31652), so closing this issue.

[2016-11-16 22:13] #28312 closed

[2016-11-16 22:15] bprashanth commented on #36859
This is the good old overlapping selectors bug right? (fixable with the good old overlapping selectors solution as Janet mentioned). We basically punted on this for a bunch of releases for RC/RS etc, then put in controlleref, and now everything that doesn't use controllereff still suffers from it.

This is not the solution we adopted everywhere else, though I don't deny that it might work for this

[2016-11-16 22:18] idvoretskyi commented on #34698
@jotacamou updated. Thanks!

[2016-11-16 22:19] lavalamp commented on #35992
+1

On Tue, Nov 1, 2016 at 12:19 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-16 22:23] lavalamp commented on #36082
Really? Bazel has no provision for things that generate files?

On Mon, Nov 14, 2016 at 12:24 PM, Mike Danese <notifications@github.com>
wrote:

[2016-11-16 22:30] idvoretskyi commented on #23184
@xinxiaogang is this issue still actual?

[2016-11-16 22:34] saturnism opened #36921 "When a federated cluster endpoint is updated, federation controller manager still uses old endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:"33cf7b9acbb2cb7c9c72a10d6636321fb180b159", GitTreeState:"clean", BuildDate:"2016-10-10T18:19:49Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor

[2016-11-16 22:35] saturnism commented on #36921
/cc @quinton-hoole

[2016-11-16 22:35] bprashanth commented on #33730
I think this was fixed with https://github.com/kubernetes/kubernetes/pull/36332

[2016-11-16 22:35] #33730 closed

[2016-11-16 22:36] lavalamp commented on #36885
Webhooks for admission control are bigger than just 3rd party resources,
although that's probably the most obvious use case, it's definitely not the
only use case. We would actually like fewer admission controllers, however.

We have been thinking that those who want this much functionality from
their third party resources should use apiserver federation (
https://github.com/kubernetes/kubernetes/

[2016-11-16 22:37] jingxu97 commented on #35809
I think  #36267 and #36681 #36920 should also included.

[2016-11-16 22:38] Random-Liu commented on #35809
CRI validation test in #36920 is introduced in 1.5. We may not need to cherry-pick it.

[2016-11-16 22:38] lavalamp commented on #22680
I don't think this is a release blocker.

On Wed, Nov 16, 2016 at 12:01 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-11-16 22:38] saturnism opened #36923 "When a federated cluster becomes offline, federation controller manager doesn't u"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.1", GitCommit:"33cf7b9acbb2cb7c9c72a10d6636321fb180b159", GitTreeState:"clean", BuildDate:"2016-10-10T18:19:49Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor

[2016-11-16 22:39] saturnism commented on #36923
/cc @quinton-hoole

[2016-11-16 22:50] thockin commented on #36082
Can bazel apply globs for this?

On Fri, Nov 11, 2016 at 1:30 PM, Marek Grabowski <notifications@github.com>
wrote:

[2016-11-16 22:50] madhusudancs commented on #35954
This is still for v1.5. And is a release blocker for v1.5.

PR #36869 fixes this.

[2016-11-16 22:52] madhusudancs commented on #33350
I am just going to close this. There are a number of issues tracking this known failure.

[2016-11-16 22:52] #33350 closed

[2016-11-16 22:57] janetkuo commented on #35182
I created a doc for this. PTAL https://github.com/kubernetes/kubernetes.github.io/pull/1704

[2016-11-16 23:00] thockin commented on #8800
This is a start.  Maybe a better title for this issue.  Maybe getting a SIG
involved to generate traffic - not sure which SIG, though.  email to
kubernetes-dev ?

On Wed, Nov 16, 2016 at 1:51 PM, Dennis Hoer <notifications@github.com>
wrote:

[2016-11-16 23:10] k8s-merge-robot opened #36926 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/7809/

Run so broken it didn't make JUnit output!

[2016-11-16 23:25] lavalamp commented on #33863
As @pwittrock said. Bulk api object creation is something I'd love to implement but we don't have it yet.

Stack overflow might be a good forum for questions like this in the future.

[2016-11-16 23:25] #33863 closed

[2016-11-16 23:27] jeffvance commented on #36624
I would like to change ownership of this issue to @kubernetes/sig-testing. If this sig decides it is not important for the near term they can close it or I am happy to do so. If the sig decides to keep this issue open and is willing to drive it forward then @copejon and myself would like to contribute.

[2016-11-16 23:36] dhoer commented on #8800
@thockin Looks like PR https://github.com/kubernetes/kubernetes/pull/36245 would satisfy this use case.  Can that PR be green lighted for 1.5?

[2016-11-16 23:37] lavalamp commented on #35068
Is this a bug in the `kubectl proxy` or a bug in apiserver? I'm having a hard time believing that we return 200s from apiserver in this condition.

[2016-11-16 23:41] yujuhong commented on #29478
I think we've finished all 1.5 requirements. Closing this one and will file a new issue for the remaining work targeted for 1.6

[2016-11-16 23:41] #29478 closed

[2016-11-16 23:42] ixdy commented on #36907
I'm guessing this was a ci- conversion? @kubernetes/test-infra-admins

[2016-11-16 23:42] #36907 closed

[2016-11-16 23:43] ixdy commented on #36873
I doubt this is test-infra, but assigning to @fejta to triage.

[2016-11-16 23:45] ixdy commented on #36862
I think this was due to me cycling our service account keys.
[code]

[2016-11-16 23:45] #36862 closed

[2016-11-16 23:46] spxtr commented on #36895
@zmerlynn kops failures

[2016-11-16 23:46] ixdy commented on #36708
looks like ssh failures?

[2016-11-16 23:47] cjcullen commented on #33472
We should mark this as a release blocker. We believe we have a fix.

[2016-11-16 23:48] ixdy commented on #35780
2094: `get nodes` failed
2142: `get nodes` failed
2154: `curl` aborted

[2016-11-16 23:49] ixdy commented on #35780
Are we seeing the `get nodes` failures on 1.5 or master? `curl` should be better on 1.5 and master since `kubernetes.tar.gz` is vastly smaller.

[2016-11-16 23:50] ixdy commented on #35289
1733: timeout
2204: a test actually failed
2584: `get nodes` failed

[2016-11-16 23:58] saad-ali commented on #32436
Sweet thanks @bprashanth

[2016-11-17 00:01] bprashanth commented on #33285
The last failure is a test isolation problem (https://github.com/kubernetes/kubernetes/issues/33285#issuecomment-259884833). The node is `jenkins-e2e-minion-group-1g79`: http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/1550,
test logs say:
[code]

Then we delete the nodeport service and poll till the nodeport doesn't return anything, but oddly we observe a pattern like:

[2016-11-17 00:01] quinton-hoole commented on #36921
cc @jianhuiz

[2016-11-17 00:05] quinton-hoole commented on #35997
@ankurcha Sorry, no direct workarounds available yet.  You could convert your multi-zone clusters into multiple single-zone clusters, and federate all of those.

[2016-11-17 00:08] dims commented on #33472
added release-blocker tag @cjcullen @smarterclayton

[2016-11-17 00:16] bprashanth commented on #33285
And the failure from 11 days ago was probably fixed with https://github.com/kubernetes/kubernetes/pull/36332 (if it isn't, robot will reopen, because I'm planning to close this after I fix the issue described in my last comment)

[2016-11-17 00:20] jingxu97 commented on #35809
Talked to @mtaufen, remove #36920 since 1.4 uses older image version

[2016-11-17 00:23] euank commented on #32803
Bump to 1.6 @dims

[2016-11-17 00:23] calebamiles commented on #34676
looking at the test grid the linked test seems fairly good, despite being run rather infrequently. Closing this issue. Was anything done to address the previously linked failures @mml, @davidopp? Please reopen the issue if you feel things are unresolved and add a label to signal whether this should block the release of not, thanks!

**cc: @saad-ali. @dims, @kubernetes/sig-scheduling**

[2016-11-17 00:23] #34676 closed

[2016-11-17 00:28] thockin commented on #8800
I think that might be workable as an API, but I don't think it can go for
1.5 - it's just too late in the cycle.

On Wed, Nov 16, 2016 at 3:36 PM, Dennis Hoer <notifications@github.com>
wrote:

[2016-11-17 00:28] yujuhong commented on #34066
@derekwaynecarr I don't think this should be a 1.5 blocker. Feel free to add it back if you disagree.

[2016-11-17 00:35] k8s-merge-robot opened #36927 "ci-kubernetes-e2e-gce-federation: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/4/

Multiple broken tests:

Failed: ListResources After {e2e.go}

[code]

Failed: ListResources Before {e2e.go}

[code]
Issues about this test specifically: #34755

Failed: [k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses should create and update matching ingresses in underlying c

[2016-11-17 00:35] k8s-merge-robot opened #36928 "ci-kubernetes-e2e-aws: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/267/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36929 "ci-kubernetes-e2e-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/1401/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36930 "ci-kubernetes-e2e-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/47/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36931 "ci-kubernetes-e2e-gce-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/47/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36932 "ci-kubernetes-e2e-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/23/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36933 "ci-kubernetes-e2e-gci-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/3/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36934 "ci-kubernetes-e2e-gci-gce-alpha-features-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features-release-1.4/6/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36935 "ci-kubernetes-e2e-gci-gce-autoscaling: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling/35/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36936 "ci-kubernetes-e2e-gci-gce-autoscaling-migs: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling-migs/32/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36937 "ci-kubernetes-e2e-gci-gce-es-logging: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-es-logging/65/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36938 "ci-kubernetes-e2e-gci-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/61/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36939 "ci-kubernetes-e2e-gci-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-examples/38/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36940 "ci-kubernetes-e2e-gci-gce-federation: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-federation/9/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36941 "ci-kubernetes-e2e-gci-gce-flannel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-flannel/-1/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36942 "ci-kubernetes-e2e-gci-gce-ingress: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/54/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36943 "ci-kubernetes-e2e-gci-gce-ingress-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress-release-1.4/9/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36944 "ci-kubernetes-e2e-gci-gce-kubenet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kubenet/61/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36945 "ci-kubernetes-e2e-gci-gce-petset: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-petset/39/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36946 "ci-kubernetes-e2e-gci-gce-proto: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/272/

Run so broken it didn't make JUnit output!

[2016-11-17 00:35] k8s-merge-robot opened #36947 "ci-kubernetes-e2e-gci-gce-reboot: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/50/

Run so broken it didn't make JUnit output!

[2016-11-17 00:38] k8s-merge-robot opened #36948 "[k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse port when apply to an existing SVC {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/262/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse port when apply to an existing SVC {Kubernetes e2e suite}

[code]

[2016-11-17 00:38] jimmycuadra commented on #23535
I'm getting this error for one specific service when trying to access it through `kubectl proxy`. It's not the k8s dashboard, which seems to be what everyone else here is reporting. Using k8s 1.4.0. Other services configured the same way are working as expected.

[code]

^ An endpoint is clearly shown. But accessing http://127.0.0.1:8001/api/v1/proxy/namespaces/default/services/kibana/_plugin/kiba

[2016-11-17 00:40] k8s-merge-robot opened #36950 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [Job] should create new pods when node is partitioned {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/2/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [Job] should create new pods when node is partitioned {Kubernetes e2e suite}

[code]

[2016-11-17 00:40] yujuhong commented on #31459
We completed all the p0/p1 items. Moving the issue to 1.6 to finish the rest.

[2016-11-17 00:40] caesarxuchao opened #36951 "Kubelet should truncate hostname more carefully"
Docker daemon complains "invalid hostname format" if the truncated host name ends with "." The truncation occurs [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L237).

[2016-11-17 00:47] jingxu97 commented on #31272
About this issue, #33616 added a check in cleanupOrphanedPodDirs() to see whether the directories are still mounted. The check mount function IsNotMountPoint() uses os.Stat() which might cause process hung.

One possible way to deal this issue is to modify the way to check whether paths are mounted. But since this function IsLikelyNotMountPoint() is used by lots of places, we have to be very caref

[2016-11-17 00:54] k8s-merge-robot opened #36952 "ci-kubernetes-e2e-gci-gce-reboot-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.4/9/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36953 "ci-kubernetes-e2e-gci-gce-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-release-1.4/12/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36954 "ci-kubernetes-e2e-gci-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/8/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36955 "ci-kubernetes-e2e-gci-gce-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/7/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36956 "ci-kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.4/2/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36957 "ci-kubernetes-e2e-gci-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/2/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36958 "ci-kubernetes-e2e-gci-gce-slow-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow-release-1.4/6/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36959 "ci-kubernetes-kubemark-5-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-5-gce/162/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36960 "ci-kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/2/

Run so broken it didn't make JUnit output!

[2016-11-17 00:54] k8s-merge-robot opened #36961 "ci-kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/4/

Run so broken it didn't make JUnit output!

[2016-11-17 00:58] Random-Liu commented on #36951
Docker checks hostname with the regexp  (See [here](https://github.com/docker/docker/blob/65835bfaa6d44b2255ed25eab74ebcdc8b3ba491/daemon/container.go#L231)):
[code]

It means that the hostname must end with an alnum, not `.` or `-`.

[2016-11-17 00:59] jimmycuadra commented on #23535
I just found [this Stack Overflow question](https://stackoverflow.com/questions/33767736/kubernetes-endpoints-throw-serviceunavailable) where Tim shows a way of specifying which named port of the service to route to. I was able to get the service to load as expected via this URL (note the addition of the ":http"):

http://127.0.0.1:8001/api/v1/proxy/namespaces/default/services/kibana:http/_plugin/

[2016-11-17 01:04] dims commented on #32803
thanks @euank

[2016-11-17 01:07] dims commented on #36951
@Random-Liu : Needed for v1.5? please add milestone if so

[2016-11-17 01:09] xinxiaogang commented on #23184
@idvoretskyi we can close, thanks.

[2016-11-17 01:09] #23184 closed

[2016-11-17 01:21] #36586 closed

[2016-11-17 01:22] yujuhong commented on #27388
Removing the milestone since we don't officially support >100 pods per node yet.

[2016-11-17 01:23] k8s-merge-robot opened #36962 "[k8s.io] Kubectl client [k8s.io] Kubectl should be able to talk to api server kubectl running in a pod could talk to api server [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/4074/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl should be able to talk to api server kubectl running in a pod could talk to api server [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #36586

[2016-11-17 01:23] bgrant0607 commented on #36916
@pwittrock Embedded uses of k8s may also not do release versioning the same way.

It would be better if the client could find a way to probe for the specific behavior it wanted to use.

cc @caesarxuchao

[2016-11-17 01:24] justinsb commented on #33805
I think that's probably the role of the network plugin i.e. calico.  If a plugin needs a special configuration option, it should set it.

[2016-11-17 01:28] bgrant0607 commented on #36881
@kanor1306 Yes, there have been proposals for this. Please ask on the cluster lifecycle SIG list rather than through github issue.

[2016-11-17 01:28] #36881 closed

[2016-11-17 01:29] bgrant0607 commented on #36881
https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle

[2016-11-17 01:31] justinsb commented on #32775
Yes, can you comment on what you are trying to achieve @sirhopcount ?  Normally the k8s scheduler should just "do the right thing" when it comes to these labels i.e. they are used by the scheduler, and you can target them if you have to, but you shouldn't need to.

[2016-11-17 01:31] justinsb commented on #32318
Pretty sure this is fixed now; please reopen if not

[2016-11-17 01:31] #32318 closed

[2016-11-17 01:32] bgrant0607 commented on #36868
@mars00772 If individual identity matters, you should probably be using StatefulSet rather than Deployment.

[2016-11-17 01:34] bgrant0607 commented on #36851
cc @kubernetes/deployment

[2016-11-17 01:36] carsonoid commented on #33805
Maybe, except that plugins at the node level probably shouldn't have access to modify ec2 instances which is what would be required to have calico manage this attribute.

[2016-11-17 01:36] bgrant0607 commented on #36815
cc @kubernetes/sig-cluster-federation

[2016-11-17 01:37] jingxu97 commented on #34127
Current plan to to put the NFS and GlusterFS support into release-1.5. So I think it is a blocker. @saad-ali what do you think?

[2016-11-17 01:37] bgrant0607 commented on #36813
cc @erictune @pmorie

[2016-11-17 01:39] carsonoid commented on #33805
Sorry, ignore the a accidental issue closure.

[2016-11-17 01:40] bgrant0607 commented on #36805
Our other alternative is to insist that we never change behavior of any generation commands. The `kubectl run` changes caught most people by surprise because most users weren't aware of the generator versioning mechanism.

[2016-11-17 01:41] #33203 closed

[2016-11-17 01:42] Random-Liu commented on #36951
@dims Thanks for reminding. :)

This is a bug fix in kubelet. Mark 1.5.
/cc @saad-ali

[2016-11-17 01:47] bprashanth commented on #32447
Strangely the service is failing *before* the apiserver restart in the last failure https://github.com/kubernetes/kubernetes/issues/32447#issuecomment-258704483. I think that's the same kube-proxy lag reason that was fixed 9 days ago, because we see in kubeproxy of node https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2580/artifacts/gke-jenkins-e2e-default-pool-d268

[2016-11-17 01:48] saad-ali commented on #36951
@Random-Liu Are you working on a fix?

[2016-11-17 01:51] Random-Liu commented on #36951
@saad-ali Yeah, the fix is here https://github.com/kubernetes/kubernetes/pull/36965.

[2016-11-17 01:52] justinsb commented on #32075
So there's two reasons people want this in my experience.  To control their inbound IP addresses, or to control their outbound IP addresses.

For inbound, I did a little spike here (still a WIP, but maybe you could contribute if you're in this camp?):   https://github.com/kopeio/eip-controller

For outbound, two ways we can do this on AWS:

* Use NAT gateways.  Support is in the master version of

[2016-11-17 01:58] foxish commented on #35318
@dims, this is not a release blocker.

[2016-11-17 02:00] justinsb commented on #31133
@2opremio I agree, but we're not really making these sorts of changes in kube-up any more - it is in maintenance mode.  I recommend trying out kops: kops uses a private bucket, and it has a policy that restricts access to that bucket.  And we're working to tighten it further: https://github.com/kubernetes/kops/issues/376

OK to close?

[2016-11-17 02:01] bprashanth commented on #32447
https://github.com/kubernetes/kubernetes/issues/32447#issuecomment-258619151 is the exact same issue, so I'm closing this. If autofiler reopens, we will have to dig into a possible perf regression where kubeproxies on different nodes go dark for bursts at a stretch.

[2016-11-17 02:01] #32447 closed

[2016-11-17 02:02] calebamiles commented on #33754
assigning @fgrzadkowski to this issue as you are listed as an [owner of autoscaling](https://github.com/kubernetes/kubernetes/wiki). If you have updates @mwielgus that would be wonderful as well. Could one of the two of you please:

- reassign this issue to someone else if you don't have spare cycles
- let me know whether this issue should block the 1.5 release

if anyone from @kubernetes/autoscal

[2016-11-17 02:05] justinsb commented on #18201
OK to close @brendandburns ?  We've worked around the problems in salt, kube-up is in maintenance mode, nobody in their right mind would choose salt again :-)

[2016-11-17 02:08] justinsb commented on #13338
I'm going to close as we have dynamic provisioning now.

[2016-11-17 02:08] #13338 closed

[2016-11-17 02:12] justinsb commented on #10116
I propose closing; I feel like the tasks described here are no longer particularly relevant to where we are now as a project?

[2016-11-17 02:16] justinsb commented on #9044
@davidopp we do have failure-domain labels now; can you clarify what else needs to be done here before we can close this issue?

[2016-11-17 02:19] justinsb commented on #8215
I believe we have now addressed the issues with running with systemd.  Anyone object if I close?

[2016-11-17 02:24] jaygorrell commented on #34594
Just hit this with 1.4.6 as well.

[2016-11-17 02:24] bgrant0607 commented on #36750
cc @pwittrock @bparees

[2016-11-17 02:27] calebamiles commented on #33649
Adding a non-release blocker to this issue @ncdc, @cjcullen and deprioritizing this issue given there doesn't seem to be anything to do on your parts unless you plan on adding retry logic. Please let me know if you think this should be a release blocking issue and I'll change the label.

**cc: @saad-ali, @dims**

[2016-11-17 02:31] justinsb commented on #23264
@ScubaDrew not in kube-up.

Given that kube-up is now in maintenance mode, I'm inclined to close this issue.

[2016-11-17 02:35] calebamiles commented on #33636
Adding labels for team node as is failure is part of the node e2e tests. Given the test flakes very infrequently and doesn't seem to be associated with a particular code change I'm going to optimistically going to add a non release blocker label as well. Could either @dchen1107 or someone from @kubernetes/sig-node please advise as to whether you believe this issue is actually a release blocker and

[2016-11-17 02:37] Random-Liu commented on #36401
@feiskyer Yeah, you are right. (See [here](
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-image/google-fluentd.conf#L74-L75))
[code]

If so, we need to teach fluentd to understand cri  log formats.
I'm not familiar with fluentd. I don't know whether we can teach fluentd to support 2 different formats from 1 log path in the same config file.

[2016-11-17 02:48] calebamiles commented on #33547
This seems like a somewhat flaky test, could @dchen1107, @yujuhong, or someone from @kubernetes/sig-node please advise as to whether this issue should block the release. Thanks!

**cc: @saad-ali, @dims**

[2016-11-17 02:58] xiangpengzhao commented on #27398
@dcbw Thanks Dan! I will join the Net SIG.

[2016-11-17 02:59] bgrant0607 commented on #36763
cc @luxas

[2016-11-17 03:01] bgrant0607 commented on #36752
See also #15262

[2016-11-17 03:03] calebamiles commented on #33405
Thanks for taking the time to triage this issue @bprashanth! what team should be responsible for this test? I'm thinking that @kubernetes/sig-node or @kubernetes/sig-scheduling should be responsible so I'm optimistically adding labels for each. If someone from either of those SIGs could let me know that responsibility should definitely _not_ belong to them I can update the issue. I've also added a

[2016-11-17 03:06] bgrant0607 commented on #36733
This would have to be `get -o wide` and/or `describe`.

[2016-11-17 03:11] ymqytw commented on #36916
One way is:
1) try to send  the new version of strmrg patch
2) if it fails, try using the old strmrg patch
3) if it fails again, return the error

[2016-11-17 03:26] mengqiy opened #36968 "Make dynamic typer works with list"
Forked from: #36764

Dynamic typer doesn't work with a list.
This is observed when I was working on `kubectl create --edit` #36764

cc: @deads2k @liggitt

[2016-11-17 03:27] calebamiles commented on #33380
Marking this as a non release blocker @saad-ali, the last several issues linked in seem to be related to network flakes. It seems there was an attempt to address this in https://github.com/kubernetes/kubernetes/issues/26626 but it may need some additional work. Could someone from @kubernetes/sig-testing take a look at this issue? I don't know if it's really a p0 but I'll leave prioritization to y'

[2016-11-17 03:28] k8s-merge-robot opened #36969 "[k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/2678/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28584 #32045 #34833 #35429 #35442 #35461

[2016-11-17 03:41] k8s-merge-robot opened #36970 "[k8s.io] GCP Volumes [k8s.io] NFSv4 should be mountable for NFSv4 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/2966/

Failed: [k8s.io] GCP Volumes [k8s.io] NFSv4 should be mountable for NFSv4 {Kubernetes e2e suite}

[code]

[2016-11-17 03:46] caesarxuchao commented on #36916
We had a similar problem to let client discover if server supports garbage collection. I remember we discussed server could supply a feature vector to indicate server capabilities, but couldn't find the issue. cc @lavalamp

[2016-11-17 03:50] bgrant0607 commented on #36601
Would be possible if ScheduledJob could launch a Template.

cc @erictune @pwittrock

[2016-11-17 03:55] bgrant0607 commented on #36558
cc @piosz

[2016-11-17 04:00] mandarjog commented on #36835
@peterochodo can you post the iptables-save that you get when you pass in
```--cluster-cidr=<cluster-cidr>```

[2016-11-17 04:06] bgrant0607 commented on #36485
Init containers shouldn't re-execute so long as local storage isn't lost, and reboot won't necessarily (deliberately) cause the pod to be deleted.

[2016-11-17 04:10] bgrant0607 commented on #36348
Please check the docs on kubernetes.io/docs and/or ask on stackoverflow.

[2016-11-17 04:10] #36348 closed

[2016-11-17 04:10] bgrant0607 commented on #36311
cc @soltysh @janetkuo

[2016-11-17 04:13] bgrant0607 commented on #36220
cc @bprashanth

[2016-11-17 04:15] bgrant0607 commented on #36173
@justinsb Is there any particular reason why you don't set labels when you file issues?

[2016-11-17 04:19] bgrant0607 commented on #36113
cc @kubernetes/sig-storage

[2016-11-17 04:20] bgrant0607 commented on #36113
@thockin This isn't the right repo to file documentation bugs, and engineers should document features when they are created.

[2016-11-17 04:20] #36113 closed

[2016-11-17 04:20] bgrant0607 commented on #36113
Please refile in kubernetes.github.io

[2016-11-17 04:23] bgrant0607 commented on #36082
@mikedanese Is there a reason why you didn't set the appropriate routing labels when you created this issue?

[2016-11-17 04:25] bgrant0607 commented on #36024
cc @ymqytw @pwittrock

[2016-11-17 04:26] liggitt commented on #34072
Probably not

[2016-11-17 04:26] #34072 closed

[2016-11-17 04:27] bgrant0607 commented on #35999
cc @ymqytw @pwittrock

[2016-11-17 04:29] #15365 closed

[2016-11-17 04:32] bparees commented on #36750
this should be covered in two ways:

1) you can parameterize the value of the env var (so you can set it to empty string).  that's not quite the same as not setting it, but might be close enough for your purposes.
2) you can use the $((KEY)) substitution syntax to substitute a full json blob, meaning you could define the entire pod template's env array as a parameter reference, and provide whateve

[2016-11-17 04:40] bgrant0607 commented on #35539
Please ask on stackoverflow and take a look at the 2 previous blog posts on this topic.

http://kubernetes.io/docs/troubleshooting/

[2016-11-17 04:40] #35539 closed

[2016-11-17 04:56] bgrant0607 commented on #35504
https://github.com/kubernetes/kubernetes/blob/master/docs/design/metadata-policy.md

also related: #17097

[2016-11-17 05:00] bgrant0607 commented on #35269
cc @kow3ns

[2016-11-17 05:01] bgrant0607 commented on #35268
@grodrigues3 We could have correctly set routine labels from the notifications on this issue, assuming we had a label for each SIG

[2016-11-17 05:02] bgrant0607 commented on #35253
@MikeSpreitzer Did you create a PR to fix this?

cc @michelleN

[2016-11-17 05:09] bgrant0607 commented on #35183
cc @smarterclayton

[2016-11-17 05:09] rothgar commented on #36891
I've seen this too in my test cluster. I'll have to verify what's enabled on my api server.

[2016-11-17 05:25] matchstick commented on #34127
@saad-ali @jingxu97 @vishh @jsafrane

I think all the relevant PRs are in 1.5 already. Closing this bug.

[2016-11-17 05:25] #34127 closed

[2016-11-17 05:26] ymqytw commented on #36024
I guess you are using `kubectl create` without `--save-config` to create the resource.

See: http://kubernetes.io/docs/user-guide/kubectl/kubectl_apply/

[2016-11-17 05:34] bgrant0607 commented on #35151
The PodSpec won't change, but this would be possible with auto-injection of ConfigMap. See #8800 and #26299 .

[2016-11-17 05:34] #35151 closed

[2016-11-17 05:34] luxas commented on #35268
Actually, this is fixed already.
Closing

[2016-11-17 05:34] #35268 closed

[2016-11-17 05:36] matchstick commented on #31272
@pmorie @eparis @jingxu97 @childsb @saad-ali
@kubernetes/sig-storage
As much as I hate having to kick the can on this I agree it should not be a release blocker for 1.5. I do think we should discuss it in the storage sig and set some attention on coming up with a plan. This is a nasty problem that has already been kicked to a subsequent release.

[2016-11-17 05:39] msmans commented on #36024
@ymqytw I created and updated the resource using `kubectl apply`.

[2016-11-17 05:53] bgrant0607 commented on #35045
Deletion of a pod is a questionable scenario, and insufficient details.

[2016-11-17 05:53] #35045 closed

[2016-11-17 05:54] bgrant0607 commented on #34982
cc @pmorie

[2016-11-17 05:56] bgrant0607 commented on #34968
cc @pmorie

[2016-11-17 05:58] bgrant0607 commented on #34839
@deads2k Is there a reason why you didn't set routing labels on this issue?

[2016-11-17 06:02] ymqytw commented on #36024
@msmans Can you paste the output of `kubectl get deployment rm-mount-test -o yaml` after creating the resource using `kubectl apply`?

[2016-11-17 06:02] bgrant0607 commented on #34710
@soltysh A field in ScheduledJob similar to the history limit in Deployment SGTM.

[2016-11-17 06:04] bgrant0607 commented on #34627
See also #23812

[2016-11-17 06:05] #36872 closed

[2016-11-17 06:06] bgrant0607 commented on #34534
cc @janetkuo

[2016-11-17 06:06] ymqytw commented on #35999
@soltysh I have a similar issue when working on `kubectl create --edit`. Opened an issue #36968 for it.

[2016-11-17 06:13] bgrant0607 commented on #34401
http://kubernetes.io/docs/admin/limitrange/

[2016-11-17 06:14] bgrant0607 commented on #34274
cc @ymqytw @pwittrock

[2016-11-17 06:16] bgrant0607 commented on #34255
Thread on label overhaul: https://groups.google.com/forum/#!topic/kubernetes-wg-contribex/mI7kuTFa_I4

[2016-11-17 06:18] msmans commented on #36024
[code]

[2016-11-17 06:21] msmans commented on #36024
And this is after the second `kubectl apply` having removed the lines from step 2:

[code]

[2016-11-17 06:21] bgrant0607 commented on #34080
cc @foxish

[2016-11-17 06:27] bgrant0607 commented on #33670
Known issue.

[2016-11-17 06:27] #33670 closed

[2016-11-17 06:36] thockin commented on #8800
We should clarify if this issue is about client-side reading a file and creating env vars in a pod API call, or about a pod late-binding multiple configmap keys into env vars 1-to-1.  The latter is also #26299

[2016-11-17 06:45] SuperStevenZ commented on #35712
@zreigz That solved the same problem of mine perfectly, thanks!

[2016-11-17 06:45] thockin commented on #27398
I believe we do want multiple IPs on multiple in-container interfaces.

We need to find all the API places that assume 1 IP and figure out how to
extend that.

We need to consider how kubelet probes pods

We need to consider how we get the driver configs for multiple logical
networks onto each machine.  This is what opens the door to Network
objects, though there are other ways to do it, too.

We

[2016-11-17 06:46] ymqytw commented on #36024
We changed the `merge key` of `volumeMounts` from `name` to `mountPath` in #35071 and it has been cherrypicked into 1.4 #35208. This why you are broken using 1.4.1 kubectl with 1.4.4 server.
cc: @thockin

[2016-11-17 06:47] gmarek commented on #36752
Which means that more devs think this is a problem.

[2016-11-17 06:51] bgrant0607 commented on #31364
cc @smawson @louiscryan

[2016-11-17 06:51] bgrant0607 commented on #31364
@bprashanth @thockin @kubernetes/sig-network

[2016-11-17 06:52] jakub-d commented on #36485
@bgrant0607 - thank you for looking into that. Does it mean that init-containers is limited only to storage initialization? I expected that we can use that in cases when applications have dependencies (for example they need a working database in order to start up).

Can we add an `executeBefore` parameter to init-containers? Available values for the parameter would be: `podCreation`, `podRestart`,

[2016-11-17 06:54] #32436 closed

[2016-11-17 06:54] bgrant0607 commented on #31181
Gubernator is in test-infra repo. cc @rmmh

[2016-11-17 06:54] #31181 closed

[2016-11-17 06:59] gmarek commented on #22680
@dims OK. The impact of this problem is that master components will OOM if not configured correctly (user can specify the `--terminated-pod-gc-thershold` flag himselff). This is not a huge deal as log as user can live with an API server/CM reboot (read: HA is not a high priority for her).

[2016-11-17 07:04] arslanqadeer commented on #35045
@pwittrock that was misunderstanding due to different namespaces. I apologize.
this issue is no more valid, please close this.

[2016-11-17 07:05] matchstick commented on #32607
@thockin I think it is safe to move this to 1.6.

[2016-11-17 07:07] #29767 closed

[2016-11-17 07:07] slaskawi commented on #28986
Hey @fgrzadkowski! Of course:

It would drop (probably less than 2 times but it would definitely drop).

It depends on data and network links between machines in the Grid. For very typical data (several hundred MB) and good network connection it should probably take several seconds. Also it is worth to mention that only a portion of data is being relocated. This is because the whole data set is di

[2016-11-17 07:12] codergr commented on #27398
Also the possibility the multiple IPs to come from different networking namespaces CNIs  i.e. perhaps an IP from an underlay based cni for ultra low latency performance driven microservice i.e. data plane and an IP from an overlay based CNI for normal latency microservice i.e. control plane.

[2016-11-17 07:13] chrislovecnm commented on #25889
This should be resolved.  The name change to StatefulSet cause issues as well, but it should be fixed now.

[2016-11-17 07:21] SuperStevenZ commented on #35712
@zreigz That solved the same problem of mine, thanks!

[2016-11-17 07:23] soltysh commented on #34710
@bgrant0607 do you mind renaming the `area/workload-api/scheduledjob` label to reflect the actual resource name, iow. to `cronjob`?

[2016-11-17 07:30] zreigz commented on #35712
No problem :)

[2016-11-17 07:34] soltysh commented on #34710
@bgrant0607 do you mind renaming the `area/workload-api/scheduledjob` label to reflect the actual resource name, iow. to `cronjob`?

[2016-11-17 07:42] wojtek-t commented on #33472
@cjcullen - great; is there already a PR for it? Can you point me to it?

[2016-11-17 07:49] talk2vino opened #36979 "Service label selector issue to group pods"
**Kubernetes version**

kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f

[2016-11-17 07:49] F21 commented on #32796
I just ran into this myself. A work around is to do something like this:

[code]

[2016-11-17 08:07] floreks commented on #36806
I've created PR to fix this issue. Could anyone check that?

[2016-11-17 08:11] #36912 closed

[2016-11-17 08:48] jianzhangbjz commented on #22024
@wojtek-t I encounter the same problem, how to solve it? The errors as the following:
[code]
K8s version:
[code]
Docker version:
[code]

[2016-11-17 08:48] fgrzadkowski commented on #30471
Reassigning to Solly to work on e2e tests. Please close it once we cover this problem with proper tests.

[2016-11-17 08:56] fgrzadkowski commented on #10782
@kubernetes/autoscaling

[2016-11-17 08:56] mlushpenko commented on #33766
Having the same issue, I use apply command to create service and deployment. Updated service to LoadBalancer type, then wanted to move back to default type and getting such error:

[code]

[code]

[2016-11-17 08:59] fgrzadkowski commented on #33754
@jszczepkowski Can you please look into this in the absence of @mwielgus?

[2016-11-17 09:03] yyeexxhhh commented on #17404
use curl $KUBERNETES_MASTER/v1/namespaces/default/pods/nginx -XDELETE  delete pod,k8s auto create new pod , @ karlkfi  You encountered such a problem ?

[2016-11-17 09:10] davidopp commented on #10782
In-place limit update, which IIUC is a pre-requisite for one part of this, from my last chat with Dawn didn't seem feasible before Q2. Of course it is still possible to design vertical autoscaler (actually, doesn't it also depend on Infrastore according to the metrics proposal, in which case Infrastore is also a pre-requisite?), and even have it replace the current Initial Resources, but that one

[2016-11-17 09:11] fgrzadkowski commented on #28986
How far from 2 could it be? I'm asking because in HPA algorithm we assume
it will be exactly 2 times (and usually it's the case for CPU). Of course
in the end we will correct ourselves and find good number of replicase, but
potentially it could take multiple iterations until we find it.

So I guess in order to "notice" this drop, we would have to manipulate
`Xms` parameter, together with adding re

[2016-11-17 09:14] fgrzadkowski commented on #10782
* We don't need in-place update for MVP of vertical pod autoscaler. We can just be more conservative and recreate pods via deployments
* Infrastore would be useful, but for MVP we can just aggregate this data in VPA controller if we don't have infrastore before that time or we can read this information from a monitoring pipeline

[2016-11-17 09:15] Random-Liu commented on #34289
I checked the failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-cri-serial/4

Many SchedulerPredicates test failed because they assume all kube-system pods should be ready. However, `kube-proxy` is not ready:
[code]
Because of known `device or resource busy` error:
[code]

The failure happened before https://github.com/kubernetes/kubernetes/pull/367

[2016-11-17 09:15] resouer commented on #36979
That's how label selector works :)  Your `env: beta` will replace `env: QA `, since label is a `map[string]string`.

Please check `Set-based requirement` part in http://kubernetes.io/docs/user-guide/labels/, labels in k8s is much powerful than you expected.

[2016-11-17 09:15] #36979 closed

[2016-11-17 09:36] fgrzadkowski commented on #10782
@krzysztofgrygiel

[2016-11-17 09:43] sandys opened #36981 "Kubectl should support U2F security tokens for 2 factor authentication"
@kubernetes/kubectl

A lot of us are going to start using kubectl as a way to manage the clusters right from our laptop. Which is why kubectl should support the U2F standard that is being used everywhere from Dropbox, Github to Google. https://security.googleblog.com/2014/10/strengthening-2-step-verification-with.html

[2016-11-17 10:03] #36951 closed

[2016-11-17 10:16] gmarek commented on #36752
I created the PR that does the change, to see how it impacts the system. The problem is that there's no easy way to change it in Events only, thus all timestamps in the system will have millisecond granularity, which makes this change way harder to introduce than I anticipated...

[2016-11-17 10:32] NickrenREN opened #36983 "unmount the volume failed"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"5e723f67f1e36d387a8a7faa6aa8a7f40cc9ca46", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.1.859+cfbb0eb2ff6801", GitCommit:"cfbb0eb2ff680173eeaa0ce91ab42f3c4f9bbc33", GitTreeState:"clean"}

**Environment**:
- **Cloud

[2016-11-17 10:58] dims commented on #22680
Ack @gmarek thanks for the update

[2016-11-17 11:00] wojtek-t commented on #19188
This is souce if huuuuuuge load in large cluster. This has to be solved to make cluster scalable to 5k.
I'm bumping the priority of it and moving to 1.6 milestone.

Regarding the proposal, there is a big hole which is how we are updaing secrets in cache.

I think that short term, what we can do is that:
- a kubelet has a reflector open for all secrets and all Get() operations are served from the u

[2016-11-17 11:03] gmarek commented on #36368
Fixed by #36810

[2016-11-17 11:03] #36368 closed

[2016-11-17 11:06] gmarek commented on #13731
I think we can say that with addition of Secrets plugin to HollowNode and supervisor monitoring api server components we can say it's done.

[2016-11-17 11:06] #13731 closed

[2016-11-17 11:12] wojtek-t commented on #19188
@gmarek

[2016-11-17 11:13] gmarek commented on #23178
Outdated.

[2016-11-17 11:13] #23178 closed

[2016-11-17 11:14] gmarek commented on #25318
Moved out of 1.5, so I'm unassigning myself.

[2016-11-17 11:23] wojtek-t commented on #19188
In the meantime - I've refactored the code to created SecretManager interface - it will easier to implement it with #36984

[2016-11-17 11:28] wojtek-t opened #36985 "Make it possible to switch of secrets in Kubemark"
Until #19188 is fixed (which won't happen before code-freeze is finished), kubemark-scale will be failing/timing-out and this is "working-as-intended" until then.

It should be possible to switch off secrets in kubemark to make other problems debuggable.
For now we would like to:
- switch off secrets in kubemark-scale
- leave them in all other kubemark suites

[2016-11-17 11:28] dims commented on #31272
thanks for the details @matchstick marked as such

[2016-11-17 11:42] dims commented on #31155
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree) @mwielgus @quinton-hoole

[2016-11-17 11:43] dims commented on #22077
switching this to 1.6 as it's too late for 1.5. ok? (please switch it right back if you disagree) @justinsb @quinton-hoole

[2016-11-17 11:45] dims commented on #36902
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:45] dims commented on #31858
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:45] dims commented on #33884
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:45] dims commented on #23481
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:46] dims commented on #36589
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:46] dims commented on #22417
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:46] dims commented on #20382
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:46] dims commented on #22032
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:46] dims commented on #23587
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:46] dims commented on #27828
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:46] dims commented on #35746
This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 11:47] dims commented on #34256
Guess we need to punt this until docker is ready with the fixes we need

[2016-11-17 11:52] dragon9783 commented on #34067
same issue in version 1.4.6

[2016-11-17 12:13] ndtreviv opened #36987 "kubeadm join on slave node fails preflight checks"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* kubectl join
* preflight
* kubelet is not empty

---

**Is this a BUG REPORT or

[2016-11-17 12:21] shamil commented on #32414
@timstclair, I'm still hitting this from time to time. Only after restarting `kubelet` the metrics reporting are back to normal. I've upgraded to `k8s 1.4` the issue still exist.

Do we even have a clue?

[2016-11-17 12:22] shamil commented on #32304
I've similar problem #32414

Only after restarting kubelet the metrics reporting are back to normal. I've upgraded to k8s 1.4 the issue still exist.

Do we even have a clue?

[2016-11-17 12:30] tnextday opened #36988 "kubeadm join crash when use mulitple API endpoints"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubeadm join
kubeadm join crash
kubeadm close of closed channel

---

**Is this a

[2016-11-17 12:30] tnextday commented on #36988
@kubernetes/sig-cluster-lifecycle

[2016-11-17 12:38] dims commented on #35318
thanks @foxish

[2016-11-17 12:38] dims commented on #34136
@mikedanese sounds good to me.

[2016-11-17 12:41] adam-sandor commented on #32768
It seems that the solution mentioned above doesn't solve the problem. It seems that it is an intermittent error. We observed it with my colleague with him getting the error and me being able to apply the HPA changes. We both had the same client and same file. Somebody already reported the issue here https://github.com/kubernetes/kubernetes/issues/34413

[2016-11-17 12:44] dims commented on #36067
per @jingxu97 's comment above. this is already fixed. marking as such. please reopen if necessary.

[2016-11-17 12:46] dims commented on #36194
This needs to be triaged as a release-blocker or not for 1.5 @bowei @nikhiljindal

[2016-11-17 12:47] sirhopcount commented on #32775
@hjacobs you're partially right, it does restrict you to which regions you can use but there are multiple regions which have either 2 or 3 AZ's.

@justinsb We already fixed it by applying our own labels but this is a simple use case (there are better ways of deploying this):

Say I want to build a simple 3 node elasticsearch cluster with one node in each AZ. I create a VPC, subnets, ASG's, etc wit

[2016-11-17 12:47] dims commented on #30939
closing the issue per @euank 's comment. please reopen if necessary.

[2016-11-17 12:47] dims commented on #36665
This needs to be triaged as a release-blocker or not for 1.5 @quinton-hoole

[2016-11-17 12:47] dims commented on #35078
@quinton-hoole This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 12:48] dims commented on #28385
This needs to be triaged as a release-blocker or not for 1.5 @quinton-hoole @nikhiljindal

[2016-11-17 12:48] deads2k commented on #34839
No reason.  I just assigned myself and didn't think about the labels.

[2016-11-17 12:48] dims commented on #26669
This needs to be triaged as a release-blocker or not for 1.5 @quinton-hoole

[2016-11-17 12:49] dims commented on #36690
This needs to be triaged as a release-blocker or not for 1.5 @madhusudancs

[2016-11-17 12:49] dims commented on #30174
This needs to be triaged as a release-blocker or not for 1.5 @Random-Liu

[2016-11-17 12:49] dims commented on #36587
This needs to be triaged as a release-blocker or not for 1.5 @madhusudancs @irfanurrehman

[2016-11-17 12:49] dims commented on #22689
This needs to be triaged as a release-blocker or not for 1.5 @justinsb @paralin

[2016-11-17 12:50] dims commented on #33760
This needs to be triaged as a release-blocker or not for 1.5 @jingxu97

[2016-11-17 12:50] dims commented on #33188
This needs to be triaged as a release-blocker or not for 1.5 @jayunit100

[2016-11-17 12:50] dims commented on #33431
This needs to be triaged as a release-blocker or not for 1.5 @jayunit100

[2016-11-17 12:51] dims commented on #33189
@yujuhong : can we close this now? If not, This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 12:51] dims commented on #27204
@vishh This needs to be triaged as a release-blocker or not for 1.5

[2016-11-17 12:52] dims commented on #30122
This needs to be triaged as a release-blocker or not for 1.5 @Random-Liu (or move to 1.6?)

[2016-11-17 12:53] dims commented on #25762
This needs to be triaged as a release-blocker or not for 1.5 @Random-Liu (or move to 1.6?) @timothysc

[2016-11-17 12:57] dims commented on #34902
Looks like this stopped happening 6 days ago. Closing this for now.

[2016-11-17 12:57] #34902 closed

[2016-11-17 13:00] dims commented on #34122
This stopped 13 days ago. closing this for now.

[2016-11-17 13:00] #34122 closed

[2016-11-17 13:01] dims commented on #36279
this stopped 10 days ago. let's close this.

[2016-11-17 13:01] #36279 closed

[2016-11-17 13:04] dims commented on #35299
this happened 6 days ago. closing this for now

[2016-11-17 13:04] #35299 closed

[2016-11-17 13:17] paralin commented on #22689
Unless the decision was made to make a recycler for aws, I think the way to do it now is to just have it delete and recreate the volume automatically. I'll close this one unless people feel this hasn't been addressed

[2016-11-17 13:17] #22689 closed

[2016-11-17 13:34] DSTOLF commented on #29972
Hi, I've hit a similar issue here, running Kubernetes on CoreOS, except it doesn't even create all the pods, just the first one.

If there's anything else you need, please let me know.

**CoreOS Version**

Linux VINCORE701.dev1.stelo.local 4.7.1-coreos #1 SMP Wed Aug 31 10:16:05 CDT 2016 x86_64 Intel(R) Xeon(R) CPU E5-2683 v3 @ 2.00GHz GenuineIntel GNU/Linux
`

**Kubernetes Cluster Version**

Serv

[2016-11-17 13:47] nak3 commented on #33245
I hit this issue. In my case, when I deleted daemonset and it hang, some of pods were `Terminating` status.
I'm not sure if all of reporters hit same reason with me, but here is a step to reproduce and workaround (in my case).

#### 1. Stop one of node service and makes it `NotReady`

[code]

#### 2. Deploy daemonset and confirm one pod doesn't have `Running` status.

[code]

#### 3. Delete daemon

[2016-11-17 13:49] bogdando commented on #16508
The question for features parity of hyperkube releases vs external tools looks very tempting to me to keep it unanswered. What would be the guarantees for that parity but the single repo and releases "heartbeat"?

[2016-11-17 13:52] jsindy commented on #34127
Could you link the PR for the glusterfs addition? Thanks

[2016-11-17 13:55] bogdando commented on #35314
@jbeda shall we unblock the patch to add kubeadm to the kube then? We could always remove or deprecate later, but it still can be useful while this issue remains on hold.

[2016-11-17 14:02] dims commented on #11816
@liggitt : do we consider this issue closed then?

[2016-11-17 14:03] dims commented on #34738
@pmorie @bprashanth looks like this won't make it to 1.5, so switching milestone. Please switch it right back if this is not appropriate

[2016-11-17 14:07] dims commented on #28718
Moving to 1.6 per @smarterclayton 's comment

[2016-11-17 14:09] dims commented on #32625
Thanks @caseydavenport marked as such

[2016-11-17 14:09] dims commented on #36264
This needs to be triaged as a release-blocker or not for 1.5  @yujuhong

[2016-11-17 14:14] #36928 closed

[2016-11-17 14:14] #36929 closed

[2016-11-17 14:14] #36930 closed

[2016-11-17 14:14] #36931 closed

[2016-11-17 14:14] #36932 closed

[2016-11-17 14:14] #36934 closed

[2016-11-17 14:14] #36935 closed

[2016-11-17 14:14] #36936 closed

[2016-11-17 14:14] #36937 closed

[2016-11-17 14:14] #36939 closed

[2016-11-17 14:14] #36940 closed

[2016-11-17 14:14] #36941 closed

[2016-11-17 14:14] #36942 closed

[2016-11-17 14:14] #36943 closed

[2016-11-17 14:14] #36945 closed

[2016-11-17 14:14] #36946 closed

[2016-11-17 14:14] #36947 closed

[2016-11-17 14:14] #36952 closed

[2016-11-17 14:14] #36953 closed

[2016-11-17 14:14] #36955 closed

[2016-11-17 14:14] #36956 closed

[2016-11-17 14:14] #36957 closed

[2016-11-17 14:14] #36958 closed

[2016-11-17 14:14] #36959 closed

[2016-11-17 14:14] #36961 closed

[2016-11-17 14:14] #36933 closed

[2016-11-17 14:14] #36960 closed

[2016-11-17 14:17] justinsb commented on #32775
@sirhopcount if you use a PetSet it should automatically distribute the volumes and pods across the available zones. Right now the way we get the "available zones" is imperfect, but it works as long as you have nodes running in all zones.

[2016-11-17 14:18] dims commented on #33898
This needs to be triaged as a release-blocker or not for 1.5 @justinsb

[2016-11-17 14:19] eparis commented on #31272
@matchstick agree with non-blocker. It does stink that @sjenning fixed this and then 2 days later @jingxu97 broke it again. So early in 1.6 seems wise to get seth and jing talking and put this kubelet hang to bed, but not a blocker.

[2016-11-17 14:19] justinsb commented on #30939
Reopening and taking an assignment, so we can make the same changes in our AWS images.

[2016-11-17 14:19] dims commented on #31481
PR #36444 looks stuck

[2016-11-17 14:28] dims commented on #35769
14 days ago. seems safe to close and let the bot reopen if needed.

[2016-11-17 14:28] #35769 closed

[2016-11-17 14:28] dims commented on #35169
17 days ago. seems safe to close and let the bot reopen if needed.

[2016-11-17 14:28] #35169 closed

[2016-11-17 14:28] dims commented on #35242
19 days ago. seems safe to close and let the bot reopen if needed.

[2016-11-17 14:28] #35242 closed

[2016-11-17 14:28] dims commented on #34785
20 days ago. seems safe to close and let the bot reopen if needed.

[2016-11-17 14:28] #34785 closed

[2016-11-17 14:29] AdoHe commented on #19188
Really glad to see this :)

[2016-11-17 14:31] dims commented on #30939
Ack. thanks @justinsb

[2016-11-17 14:38] justinsb commented on #33898
Fixed by #36336 - closing.

[2016-11-17 14:38] #33898 closed

[2016-11-17 14:38] justinsb commented on #35746
Fixed in #35883

[2016-11-17 14:38] #35746 closed

[2016-11-17 14:42] justinsb commented on #20382
Not a blocker.  If we get to it, that's great, but this might get done as part of splitting out cloudproviders.

[2016-11-17 14:48] rootfs commented on #36818
/cc @colemickens

[2016-11-17 14:48] derekwaynecarr commented on #31272
@eparis - agreed on not a blocker, but we need to come up with a test strategy to prevent future regressions.  this has been a significant support challenge for us in production environments in the past and we need to stop the ability to continue to regress in later refactors.

[2016-11-17 14:50] liggitt commented on #36891
can you grab the yaml of the stuck objects? do they have finalizers or ownerRefs set in their metadata?

[2016-11-17 14:50] liggitt commented on #36891
@caesarxuchao any idea if garbage collection could make the namespace controller think it had cleaned everything up, but still leave objects existing?

[2016-11-17 14:51] warden commented on #12337
Linking to #13748 :-)

[2016-11-17 14:54] AdoHe opened #36991 "TPR version should not be optional but necessary."
FYI. Currently the `Versions` field of TPR is marked as `optional` which is wrong, actually if you try to create a TPR with empty versions, it will cause api server panic. Versions should be necessary field of TPR, we should validate this somehow. @deads2k

[2016-11-17 14:55] Tha-Robert opened #36992 "openstack: kubelet cant register node name to API"
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.124+0c7421fb51bd49-dirty", GitCommit:"0c7421fb51bd49b7fdc66a2c08fc1adee0f9630a", GitTreeState:"dirty", BuildDate:"2016-11-07T09:43:55Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"

**Environment**:
- provider: openstack
- os: CentOS Linux 7 (Cor

[2016-11-17 14:56] justinsb commented on #15058
Closing; our log messages here are now much better.

[2016-11-17 14:56] #15058 closed

[2016-11-17 14:58] justinsb commented on #18612
Closing; I believe the recommended solutions are now:

* kube-aws from CoreOS if you want to use CoreOS (and can output CloudFormation)
* kops if you want to use other OSes on AWS
* kubeadm if you want to build your own

So kube-aws with terraform seems to meet the requirements here.  Please reopen if that's not right.

[2016-11-17 14:58] #18612 closed

[2016-11-17 15:01] justinsb commented on #23441
Going to close; HPA seems to work with any data storage backend AFAIK.  Please reopen if there's anything more to do here.

[2016-11-17 15:01] #23441 closed

[2016-11-17 15:02] justinsb commented on #23777
Supported installation tools now include ECR in IAM policy and automatically update as requirements change.

[2016-11-17 15:02] #23777 closed

[2016-11-17 15:03] justinsb commented on #25289
Thanks @dmcnaught  - you're right.  But closing as kube-up is in maintenance mode, and this is difficult to fix in a backwards compatible way, so we're unlikely to fix it.  kops, kube-aws or kubeadm are the way forward I think..

[2016-11-17 15:03] #25289 closed

[2016-11-17 15:05] justinsb commented on #22004
We now have logic to better choose subnets; I am going to assume this is resolved.  Please reopen if not.

[2016-11-17 15:05] #22004 closed

[2016-11-17 15:06] justinsb commented on #21784
This is kube-up, which is now in maintenance mode.  We won't be fixing cosmetic things like this.

[2016-11-17 15:06] #21784 closed

[2016-11-17 15:16] feiskyer opened #36997 "CRI: pass full seccomp profile to runtime"
Seccomp profile is passed to runtime by [annotations](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L244) in CRI:

[code]

`localhost/<profile-name>` is relative to node's local seccomp profile root, it is defined in kubelet. But runtime doesn't know it. We should pass full profile path in CRI.

cc/ @yujuhong @kubernetes/sig-node

Will file a PR to

[2016-11-17 15:16] dims commented on #36891
@liggitt : if this is a non-release-blocker, please add that label :)

[2016-11-17 15:21] liggitt commented on #36891
if it's recreatable, it's a release blocker

[2016-11-17 15:24] deads2k opened #36998 "Remove TPR special casing"
We should remove `IsThirdPartyAPIGroupVersion`, `AddThirdPartyAPIGroupVersions`, and `ThirdPartyResourceData`.  The content needs to have its object meta massaged, but that should mean having its own RESTStorage defined.

`ThirdPartyResourceData` is being used to carry bits without modification and stomp `metadata`.  That should be changed to `runtime.Unstructured` because all we care about is mov

[2016-11-17 15:26] jgeraerts commented on #36611
Can confirm, same issue here with persistent azure disk volumes

[2016-11-17 15:36] k8s-merge-robot opened #37000 "ci-kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/8/

Run so broken it didn't make JUnit output!

[2016-11-17 15:52] rootfs commented on #36611
@jgeraerts which kubernetes release you were using?

[2016-11-17 15:54] jgeraerts commented on #36611
have the issue on 1.4.6 and 1.4.5.

[2016-11-17 16:01] rootfs commented on #36611
The fix is in #30991
https://github.com/kubernetes/kubernetes/pull/30091/files#diff-1d50bab57061f5fb1193bba4a2e2badeR120

I can backport this fix to 1.4 if permitted
/cc @jessfraz

[2016-11-17 16:03] #36730 closed

[2016-11-17 16:07] phagunbaya commented on #36611
IMO this fix should be patched in v1.4

[2016-11-17 16:19] rothgar commented on #36891
My apiserver (1.4.4) has the following plugins
`--admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota`

I don't have a reproducible but know I have seen it before

[2016-11-17 16:21] foxish commented on #34080
I don't think it makes sense to re-implement these frameworks given the efforts that would take, and the effort it would take to maintain them. However, k8s has client libraries in various languages (some still coming up) which lets us build support for kubernetes in frameworks like Spark and Storm.

There is a proposal https://github.com/kubernetes/kubernetes/issues/34377 to support kubernetes na

[2016-11-17 16:34] derekwaynecarr commented on #33255
+1 on qos

[2016-11-17 16:35] mrook commented on #36269
We're seeing this issue as well, on 1.4.6:

[code]

(volume ID removed)

[2016-11-17 16:41] darktall opened #37004 "kubernetes time out issues"
kubelet hogging more than 100% cpu all the time .  Strace gave me the below  output.

kubelet version

Environment=KUBELET_VERSION=v1.3.6_coreos.0

top - 16:38:49 up 37 min,  2 users,  load average: 106.87, 95.49, 87.23
Tasks: 274 total,   3 running, 269 sleeping,   0 stopped,   2 zombie
%Cpu(s):  0.0 us, 97.9 sy,  0.0 ni,  0.0 id,  1.2 wa,  0.6 hi,  0.3 si,  0.0 st
KiB Mem:  16436820 total, 16300

[2016-11-17 16:46] foxish commented on #22680
This is something we should do for 1.6 I think. The currently specified default is unreasonably high.
It should also obviate the need for https://github.com/kubernetes/kubernetes/pull/32858.

[2016-11-17 16:49] smarterclayton commented on #31170
As a short term thing here, could we simply auto sign when DNSNames / IPAddresses are specified and the requester is in a specific group (i.e. have a bootstrap group that can autoapprove client cert, and then have a node group that can get auto approved server certs)?

Is the only distinction here between the two halves of bootstrap - one asking for a client cert (with no ips/hostnames) and one as

[2016-11-17 16:52] lam-rubikloud opened #37005 "azure_file volumes should allow setting of dir_mode and file_mode"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): azurefile azure_file 0777

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2016-11-17 16:56] codablock commented on #30752
I ran across the same performance issues and tried to investigate. I use Azure Dynamic Disk provisioning to provision a 1TB volume and it takes very long time for mkfs to finish. Doing the "mkfs.ext4 -F -E lazy_itable_init=0,lazy_journal_init=0 /dev/sdd" manually is also very slow, but I did not compare the performance to the call done from inside kubelet.

While running the mkfs manually, I obser

[2016-11-17 16:59] codablock commented on #30240
Please take a look at https://github.com/kubernetes/kubernetes/issues/30752#issuecomment-261303142

I encountered not only performance issue due to lazy_itable_init=0, but also oom situations and thus killed processes. To to the amount of data written to the disk, all free memory gets filled with dirty buffer cache.

[2016-11-17 17:01] jayunit100 commented on #31402
Possibly a retry on this would fix it? ill dig shortly
[code]

[2016-11-17 17:05] sjug opened #37007 "test/e2e/framework cannot be imported into external projects"
**Problem**
If you try to compile a project that has a test/e2e/framework as a dependency, we see the following error:
[code]
When we import test/e2e/framework as a dependency the `ReadOrDie(filepath string) []byte` depends on two assets that are generated by gobindata.

**Solution**
Modify test/e2e/framework to not depend on bindata.

[2016-11-17 17:10] wallrj commented on #36891
Mine's been configured by `kubeadm`. Here's a snippet of the docker inspect` output:

[code]

[2016-11-17 17:14] justinsb commented on #23588
Given kube-up is in maintenance mode, we aren't going to fix this I believe.

[2016-11-17 17:14] #23588 closed

[2016-11-17 17:14] justinsb commented on #23869
Closing as dup

[2016-11-17 17:14] #23869 closed

[2016-11-17 17:15] justinsb commented on #25075
Closing as kube-up is in maintenance mode, and fixing this feels out of scope for maintenance.

[2016-11-17 17:15] #25075 closed

[2016-11-17 17:17] dhoer commented on #8800
@thockin #26299 would get us close enough with configmap flat data, e.g.,
[code]
but having the ability to also point to a specific list pulled in using from-file would be sweeter, e.g., read in game.properties to env from:
[code]

Should the latter be clarified here, tacked on to #26299 requirement under a new issue, or handled in another way?

Finally,
It would also be nice to have a `--flatten`

[2016-11-17 17:17] justinsb commented on #26368
kube-up is in maintenance mode, so we're trying to avoid making changes of this type.  If you hit this in e.g. kops please open an issue there.

But actually this issue itself is great documentation - the error message and the explanation.  Hopefully it will come up in searches if people hit it in future :-)

[2016-11-17 17:17] #26368 closed

[2016-11-17 17:18] justinsb commented on #27490
Thanks for the report - I agree, but as kube-up is in maintenance mode we're not going to be making changes like this (trying to do so in a backwards compatible way makes it tricky!)

kops does separate IAM roles by cluster, so may be a better match.

[2016-11-17 17:18] #27490 closed

[2016-11-17 17:20] justinsb commented on #27870
Thanks for the report.  This would be great, but as kube-up is in maintenance mode we probably want to avoid making bigger changes like this.

kops does now (as of today!) support fully-private clusters (no public IPs) in the master branch, so I suggest you have a look at what we're doing there and see if it is a better match.

[2016-11-17 17:20] #27870 closed

[2016-11-17 17:20] Random-Liu commented on #30122
@dims This is 1.5. And it's done except a CI test. Will close this one when the test is done.

[2016-11-17 17:20] justinsb commented on #29627
I believe this is now fixed - please reopen if not

[2016-11-17 17:20] #29627 closed

[2016-11-17 17:21] smarterclayton commented on #36752
Changing the serialization unversioned.Time is a breaking API change which
has impacts for clients.

On Thu, Nov 17, 2016 at 2:16 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-11-17 17:21] justinsb commented on #33202
I believe this is fixed now (I wasn't able to reproduce it) - please reopen if not

[2016-11-17 17:21] #33202 closed

[2016-11-17 17:23] justinsb commented on #29718
Thanks for the report - this is true, but as kube-up is in maintenance mode we're likely not going to change it.

kops does not have this issue, in that you specify the bucket directly.

[2016-11-17 17:23] #29718 closed

[2016-11-17 17:23] justinsb commented on #29705
I believe this is fixed; we raised some timeouts.  Please reopen if this is still happening.

[2016-11-17 17:23] #29705 closed

[2016-11-17 17:25] smarterclayton commented on #36485
As we originally described the PR, init containers would run in all cases
that a pod restart was required.  I think it's a violation of the implied
(expected) semantics not to run init containers (which must be idempotent)
when 0 containers are running in the pod due to restart.

I think this may just be a bug that we never directly addressed in the pod
sync loop (because restart of the whole kube

[2016-11-17 17:25] dims commented on #30122
Awesome. I'll mark it as non-release-blocker then @Random-Liu

[2016-11-17 17:26] jgeraerts commented on #36611
Could it be worked-around by adding a fsType field to my PersistentVolume definition of the azuredisk?

I'm still in a testing/setup phase so i could maybe run the 1.5 beta for a while  so no direct backport needed.

[2016-11-17 17:28] dchen1107 commented on #36893
cc/ @Random-Liu

[2016-11-17 17:33] yujuhong commented on #19188
@wojtek-t there were concerns about kubelet watching all secrets. See discussion in #32767

[2016-11-17 17:33] jchambers commented on #33202
I agree that this now appears to be fixed. Thanks!

[2016-11-17 17:34] tarvip commented on #33192
I'm seeing same issue. CoreOS 1185.3.0, docker 1.11.2, kube 1.4.6.

[2016-11-17 17:39] mindw commented on #33192
@tarvip restarting the `kubelet` service worked work for use (did not see stats loss for a few days now) - `systemctl restart kubelet`. The only lead we have is it happened after ~12 hours after a kubernetes upgrade + node replacement.

[2016-11-17 17:43] wallrj commented on #36891
I've attempted to export my pods, deployments and namespaces using the following command `kubectl get --show-all --all-namespaces --output yaml --export ...`
[kubernetes_resources.zip](https://github.com/kubernetes/kubernetes/files/598073/kubernetes_resources.zip)

[2016-11-17 17:43] gmarek commented on #36752
Yup - I commented about this in PR, but I probably should have done it here:

This changes precision of timestamps generated by the system. Let's continue discussion in the issue to decide if we want to merge this. In current implementation there's no easy way to change this is Events only, so it's a system wide change.

This means that it needs to be backward compatible (we need to be able to par

[2016-11-17 17:45] crassirostris opened #37010 "Too long lines in kubelet logs"
Some logging destinations don't support entries longer than some number of bytes, for example GCL is limited by 100KB per entry.

Kubelet is known to produce very long lines, longer than 100KB, is it even OK? Because right now such lines are just being discarded by destination and are lost forever. Do we need to add support for such messages on each logging agent?

@piosz

[2016-11-17 17:48] gmarek commented on #19188
I guess we can create a watch per secret, or sth if that will be better. Current logic is unmaintainable from the scalability point of view.

[2016-11-17 17:54] caesarxuchao commented on #36891
@wallrj in the title you said deployments were left behind, but the pasted output only showed pods. Could you confirm if the deployment objects were left behind?

[2016-11-17 17:55] wallrj commented on #36891
:arrow_up: See zip file attached above.

[2016-11-17 17:56] mikedanese commented on #31170
That's almost what we do now. There is a PR open to add an api for this https://github.com/kubernetes/kubernetes/pull/34488

[2016-11-17 17:57] dhoer opened #37011 "ConfigMap --flatten switch for --from-file"
It would be nice to have a `--flatten` option for `configmap create` that would allow `--from-file` to write to the root of data. Keys repeated in later files would overwrite previous values.

So building on [configmap user-guide](http://kubernetes.io/docs/user-guide/configmap/) example;

Adding `--flatten` option:
[code]

Would result in this:
[code]
[code]

When `--flatten` option is provided an

[2016-11-17 17:57] bprashanth commented on #36835
You should not need a masquerade rule to hit a service vip from inside the cluster, and not be able to hit a service vip from outside the cluster (it's typically a rfc 1918 range). The user space proxy, by design, sends traffic out from the vm, so the source is the vm ip.

@peterochodo can you actually hit your pod ips? are you using flannel in udp encap mode or vxlan?

[2016-11-17 17:58] dhoer commented on #8800
@thockin I created https://github.com/kubernetes/kubernetes/issues/37011 to address `--flatten` switch for `configmap create`.

[2016-11-17 18:01] dhoer commented on #37011
The use case for this is; if I have a product that has core, customer and environment config files, I can read them in that order to overwrite previous settings.

[2016-11-17 18:01] lavalamp commented on #35068
Oh, wait a second. I forgot how this worked. The 200 is because the connection was established; it did that before getting the error from etcd. There (unfortunately) has to be two distinct error mechanisms for streaming connections, since you only get one chance to return a status code but an error can happen at any point.

It looks bad when an error is the first thing returned, but IIRC changing

[2016-11-17 18:02] bprashanth commented on #36835
i.e I think blanket masquerading traffic to clusterip in the absence of podCIDR is optimizing for a specific use case (client outside kube cluster, but on same network) at the cost of a far more common use case (source ip preservation for clients within the kube cluster). The way to achieve the former should be to supply podCIDR.

[2016-11-17 18:04] jingxu97 commented on #36269
The fix is PR #36840. I will try to make it merge today. Please give it a try and let me know if you have any issue. Thanks!

[2016-11-17 18:05] peterochodo commented on #36835
@mandarjog Here is the output for that nat & filter tables. The raw and mangle tables are essentially empty and have ACCEPT policies for all their built-in chains. This is the configuration i get when i set --cluster-cidr=<cluster-cidr>

peter@k8s-node-0:~$ sudo iptables-save -t nat -L
iptables-save: invalid option -- 'L'
# Generated by iptables-save v1.6.0 on Thu Nov 17 10:03:18 2016
*nat
:PREROU

[2016-11-17 18:06] jingxu97 commented on #33760
@dims, this fix for this is already in #34859. Close it now

[2016-11-17 18:06] #33760 closed

[2016-11-17 18:10] dchen1107 commented on #36485
@smarterclayton Agreed with you on the semantics of the init containers by design. The problem is that the PodCondition: Initialized is checkpointed, and Kubelet doesn't distinguish the recovery phase from the normal operation phase.

[2016-11-17 18:13] caesarxuchao commented on #36891
Thanks. The deployment that got left behind:
[code]
Looks like it's not caused by the garbage collector. @liggitt are there other suspects?

[2016-11-17 18:15] Random-Liu commented on #30122
@dims SGTM. :)

[2016-11-17 18:17] wojtek-t commented on #19188
@yujuhong - if you have better suggestion, I'm completely fine with it, but we need to change it if we want to scale further (and this is our goal).

Do you think that (at least short term) it's fine to modify my proposal so that:
- we are registering in SecretManager in what secrets we are interested in (whenever any pod from a kubelet is added/updated/deleted)
- for each of those we are refreshi

[2016-11-17 18:22] madhusudancs commented on #36587
@dims see @irfanurrehman's comment above. This is already fixed, he was waiting for the bug fix PRs to merge.

[2016-11-17 18:22] #36587 closed

[2016-11-17 18:22] caesarxuchao commented on #36891
The left-behind pod doesn't have a deletion timestamp:
[code]

Could this be a race? Can user create an object when the namespace is in the terminating state?

[2016-11-17 18:22] madhusudancs commented on #36690
Already fixed in PR #36492.

[2016-11-17 18:22] #36690 closed

[2016-11-17 18:23] peterochodo commented on #36835
@bprashanth Yes, i was able to hit the pod ips when I used curl to query the pod directly rather than using the service vip. I am using flannel's default "udp" backend.

Good point about preserving the source ip addresses of services within the cluster (the source ips are usually pod ips; thanks to the overlay network, masquerading is not necessary). So blanket masquerading may not be the ideal so

[2016-11-17 18:24] bprashanth commented on #28718
I think Clayton was talking about https://github.com/kubernetes/kubernetes/issues/28718#issuecomment-257395432. PetSet should be in beta under the alias "StatefulSet" in 1.5. I'll leave it to the people actively working on the transition to decide when to close this, and what to migrate out into a "PetSet in GA" bug.

[2016-11-17 18:26] bprashanth commented on #36835
Yeah usually people want to know who they're talking to :)

[2016-11-17 18:26] #36893 closed

[2016-11-17 18:27] #36890 closed

[2016-11-17 18:32] wallrj commented on #36891
Sounds plausible. My tests originally created a namespace on `setUp`, create a `Deployment`, then immediately delete the namespace in `tearDown` ...perhaps before the deployment pods had been created / launched.

[2016-11-17 18:38] piosz commented on #36893
@Crassirostris thanks for catching this.

[2016-11-17 18:41] yujuhong commented on #19188
Don't get me wrong. I agree that this is a scaling/performance bottleneck and stated that clearly in the issue before. I was simply pointing out that there were concerns about letting kubelet watching *all* secrets :)

One issue with your proposal is that kubelet doesn't know when a secret is updated (since we don't use "watch"). This is fine for existing pods since there is no guarantee on the up

[2016-11-17 18:45] k8s-merge-robot opened #37012 "[k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6776/

Failed: [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}

[code]

Previous issues for this test: #34623 #34713 #36890

[2016-11-17 18:48] justinsb commented on #31170
@gtank I wasn't able to find where you were quoting from.  Can you clarify what is missing from Go's CertificateRequest?

[2016-11-17 18:48] wojtek-t commented on #19188
If we absolutely need the latest secret, each new pod will incur a new GET, but will rely on the 1 min refresh after that. This is still better than we have today, but not as great when batch creating pods.

I think that for safety, let's assume we need the latest secret, and issue a GET whenever a pod is created (or updated?).
With that modification - are you ok with the proposal?

[2016-11-17 18:49] ymqytw commented on #36962
@saad-ali @dims Any ideas why it keeps failing even after the test has been revert?

[2016-11-17 18:52] justinsb commented on #21885
kube-up in maintenance mode; closing.

[2016-11-17 18:52] #21885 closed

[2016-11-17 18:52] saad-ali commented on #33515
Yep, we document the release process. But it is not a blocker for the 1.5.

[2016-11-17 18:52] Brian-McM commented on #36269
will this fixed be merged into the 1.4 release?

[2016-11-17 18:52] justinsb commented on #21389
kube-up in maintenance mode; closing.

[2016-11-17 18:52] #21389 closed

[2016-11-17 18:53] justinsb commented on #23868
kube-up in maintenance mode; closing.

[2016-11-17 18:53] #23868 closed

[2016-11-17 18:53] justinsb commented on #23431
kube-up in maintenance mode; closing.

[2016-11-17 18:53] #23431 closed

[2016-11-17 18:53] pwittrock commented on #36081
@janetkuo This looks related to the other issue around --- in config files.  Do you know if it is the same?

[2016-11-17 18:54] justinsb commented on #21774
Dup of #22596, closing

[2016-11-17 18:54] #21774 closed

[2016-11-17 18:54] justinsb commented on #21232
kube-up in maintenance mode; closing

[2016-11-17 18:54] #21232 closed

[2016-11-17 18:55] ConnorDoyle commented on #19082
@davidopp could you please assign me to this issue? #31652 implements the beginning of this. We can break off sub-issues to cover the other items mentioned here.

[2016-11-17 18:55] bprashanth commented on #31364
I think we're currently not even sure how we're going to handle intra cluster api management. There are proposals out that don't use ingress:
https://groups.google.com/forum/#!topic/kubernetes-sig-network/weni52UMrI8
That said, ingress doens't mean inter cluster:
[code]

[2016-11-17 18:55] dims commented on #36962
@ymqytw excellent question, no clue. invoking experts. Dear @kubernetes/test-infra-maintainers can someone help us?

[2016-11-17 18:56] jayunit100 opened #37014 "audit scheduler logging"
*Problem*

There are at least some examples of over logging in the scheduler.

*Solution*

Go through glog.Info and make sure we are consistently managing logs.  At least one example to solve in an easy PR @timothysc  has shared with us..
[code]

Ill confirm this is happening still in upstream kube and fix as well as audit the others.

[2016-11-17 18:57] justinsb commented on #28359
Assigning to you @k82cn per your statement above - thank you!  It sounds like you at least understand the issue ;-)

[2016-11-17 18:57] goltermann commented on #33515
Sounds like a good idea.  Recommend you amend https://github.com/kubernetes/community/wiki/Life-of-a-Kubernetes-Release, instead of a new doc/location.

[2016-11-17 18:57] dims commented on #19082
there you go @ConnorDoyle

[2016-11-17 19:00] madhusudancs commented on #26669
Changed the milestone to v1.6

[2016-11-17 19:02] pwittrock commented on #36024
@msmans If you use the same kubectl client version as the server, does this resolve the issue?

[2016-11-17 19:03] whitlockjc commented on #31364
I'm not sure how we handle intra-cluster routing matters.  The proposal is about using a generic storage object for routing rules that is not implied to be entrance-only.

[2016-11-17 19:03] wojtek-t commented on #34911
@mtaufen either something was fixed or increasing logs verbority fixed the problem - no more such failures since then :)

[2016-11-17 19:03] fejta commented on #36962
When did the revert happen?

[2016-11-17 19:05] liggitt commented on #36891
just to double check, single etcd server, single apiserver?

[2016-11-17 19:05] madhusudancs commented on #28385
The behavior that this issue is asking for is the behavior right now and unfortunately we are not sure how this got in. We do not want automatic unintended deletion of underlying services, but instead do this with explicit cascading deletion that @nikhiljindal is working on.

@nikhiljindal will correct the non-cascading deletion behavior as part of Issue #36799. And then implement cascading deleti

[2016-11-17 19:05] #28385 closed

[2016-11-17 19:07] yujuhong commented on #36485
I don't think "pod restart" would cause init container to be rerun, if "infra container restart" is counted as pod restart. I just tried killing the infra container, and no init container was restarted. If this is not the intended behavior, then the current logic in the code is flawed.

As for reboots, I don't think there are any difference in the kubelet recovery phase in this case. Kubelet needs

[2016-11-17 19:10] fejta commented on #36962
The soak tests take a long time to run, so it is likely that these tests started before the revert.

[2016-11-17 19:16] rootfs commented on #36611
@jgeraerts the fix has multiple checks including fstype.

[2016-11-17 19:17] timothysc commented on #19082
@ConnorDoyle Features repo is where epics live.  I'd probably move any future thoughts there and close this as the initial chapter.  Right now, we have a tremendous backlog of issues that seem to span releases since epoch.

[2016-11-17 19:17] fejta commented on #36962
Also: we only deploy soak tests once a week -- and they use the same test state for that duration -- so they'll continue to fail for the same reason until we rerun the deploy job.

FWIW I just caused all the soak tests to redeploy so they will use whatever is at head for the various branches.

[2016-11-17 19:21] bprashanth commented on #31364
egress routing is not going to be covered by ingress, routing into a pod or service is still ingress traffic. We discussed services vs labels and decided on services because to be cross platform you *need* a service (aws/gce).

[2016-11-17 19:21] wallrj commented on #36891
I think so...how can I be check?

[code]

[2016-11-17 19:22] yujuhong commented on #25762
Not sure what we can do for 1.5 at this moment. Moving it to 1.6

[2016-11-17 19:23] ConnorDoyle commented on #19082
OK, this issue is already linked from the feature issue for posterity. I'm ok with closing it too.

[2016-11-17 19:23] liggitt commented on #36891
looks like an etcd cluster of 3, and a single apiserver

[2016-11-17 19:24] ymqytw commented on #36962
@fejta Thanks for your explanation. The revert happened yesterday 11:33 PM PST.

[2016-11-17 19:24] gmarek commented on #19188
@liggitt - can you comment on this proposal?

[2016-11-17 19:29] k8s-merge-robot opened #37017 "[k8s.io] DisruptionController should create a PodDisruptionBudget {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/307/

Failed: [k8s.io] DisruptionController should create a PodDisruptionBudget {Kubernetes e2e suite}

[code]

[2016-11-17 19:31] #36873 closed

[2016-11-17 19:36] dcbw commented on #14940
@bprashanth how is the second (1) "kubelet will deliver a teardown even for each infra container" fixed?  Can you point me to a commit that did that?

[2016-11-17 19:36] rootfs commented on #36611
@jpoon @jgeraerts @phagunbaya @colemickens

1.4 backport PR opened #37018

cc @jessfraz

[2016-11-17 19:37] dcbw commented on #14940
Also, in CNI upstream we're discussing adding language that DEL should be best-effort and that even if the netns isn't present, the plugin should still clean up whatever it can including IPAM.  That would get rid of a couple of blocks here, and I think is appropriate.

The major problem people have is likely IPAM leases not being GC-ed when the infra pod is gone.

[2016-11-17 19:38] dgoodwin commented on #34324
Fixed in #35805.

[2016-11-17 19:40] dchen1107 commented on #32552
This is not a release blocker, and the urgent fix for the initial blocking problem was addressed before 1.4.

EDIT: I decided to close the issue based on my above comment. The work of improving upgrade mechanism for image option is handled by mtaufen@ separately.

[2016-11-17 19:40] #32552 closed

[2016-11-17 19:42] Random-Liu commented on #35935
Another occurrence https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/11234.

[2016-11-17 19:43] Random-Liu commented on #35935
I'll add periodic system log fetching in the framework to help debug this.

[2016-11-17 19:45] calebamiles commented on #36074
@madhusudancs, could you please find this issue an appropriate owner if @rmmh does not have cycles or is not the appropriate assignee? Could someone from @kubernetes/sig-cluster-federation *please* provide a daily status update as to whether this issue is being worked on and what the status is because this is blocking the release.

[2016-11-17 19:51] calebamiles commented on #36054
@cjcullen, @roberthbailey all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment.

**cc: @kubernetes/goog-gke, @saad-ali. @dims**

[2016-11-17 19:53] cjcullen commented on #11816
We should really get @liggitt's work running by default in E2Es before closing this issue.

[2016-11-17 19:53] euank commented on #36485
An init container causes the whole pod to be killed/restarted, right, so it would count as a pod restart.

I would also expect the init container to run after that sort of event because e.g. the ip might have changed.

[2016-11-17 19:55] calebamiles commented on #34679
@apelisse , @davidopp, @jszczepkowski all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment.

**cc: @kubernetes/goog-control-plane , @saad-ali. @dims**

[2016-11-17 19:58] jingxu97 commented on #36269
@Brian-McM yes, we will do the cherrypick for this fix.

[2016-11-17 19:59] mandarjog commented on #36835
Ok, makes sense @bprashanth re: prioritizing uncommon use case over common. In that case this issue is a
User error.

Is there a better diagnostic message we can provide?

Looks like for a proper installation clusterCIDR is highly recommend if not required.

Regards,
Sent from my Ericsson Blaze

Mandar U Jog

[2016-11-17 20:00] Brian-McM commented on #36269
Excellent. Thanks @jingxu97

[2016-11-17 20:04] calebamiles commented on #33882
@yujuhong, @dchen1107 could one of you or someone from @kubernetes/sig-node please take a look at this issue? All issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment.

[2016-11-17 20:05] dims commented on #32644
We haven't seen this in 2 weeks, either the bug is fixed or the test has been renamed. Closing this for now. Please reopen if necessary or the bot will if we see this again.

[2016-11-17 20:05] #32644 closed

[2016-11-17 20:06] calebamiles commented on #33754
@jszczepkowski, @fgrzadkowski all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment.

**cc: @kubernetes/autoscaling, @saad-ali, @dims**

[2016-11-17 20:06] dims commented on #26210
We haven't seen this for 28 days. Closing this for now. Please reopen if necessary or the bot will if we see this again.

[2016-11-17 20:06] #26210 closed

[2016-11-17 20:07] calebamiles commented on #33547
@dchen1107, @kubernetes/sig-node all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment.

**cc: @saad-ali, @dims**

[2016-11-17 20:07] yujuhong commented on #36485
I think you meant "infra"

I was describing the existing implementation since both @smarterclayton and @dchen1107 seem to think that this works today when infra container is restarted, and that the bug only exists in kubelet restarts.

[2016-11-17 20:08] smarterclayton commented on #36485
The original intent in the code (when I wrote it) was that infra container
restart should rerun initialization, specifically for pod IP changes.

On Thu, Nov 17, 2016 at 11:54 AM, Euan Kemp <notifications@github.com>
wrote:

[2016-11-17 20:14] dims commented on #28615
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:14] #28615 closed

[2016-11-17 20:18] calebamiles commented on #32451
Could someone from @kubernetes/sig-node help triage this issue? all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST.

**cc: @saad-ali, @dims**

[2016-11-17 20:18] dims commented on #34655
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:18] #34655 closed

[2016-11-17 20:19] dims commented on #34656
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:19] #34656 closed

[2016-11-17 20:20] dims commented on #35826
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:20] #35826 closed

[2016-11-17 20:20] dims commented on #35278
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:20] #35278 closed

[2016-11-17 20:20] dims commented on #35006
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:20] #35006 closed

[2016-11-17 20:21] calebamiles commented on #32433
If someone from @kubernetes/sig-node could update this issue by end of day 18 November 2016 if this issue should block the 1.5 release it would be greatly appreciated. Thanks!

**cc: @saad-ali, @dims**

[2016-11-17 20:23] dims commented on #31964
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:23] #31964 closed

[2016-11-17 20:23] dims commented on #34659
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:23] #34659 closed

[2016-11-17 20:24] dims commented on #34670
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:24] #34670 closed

[2016-11-17 20:24] dims commented on #34671
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:24] #34671 closed

[2016-11-17 20:25] dims commented on #34673
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:25] #34673 closed

[2016-11-17 20:25] dims commented on #34674
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:25] #34674 closed

[2016-11-17 20:26] saad-ali commented on #36962
To echo @fejta, soak tests are deployed weekly. For [kubernetes-soak-continuous-e2e-gke](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/), [the last deployment](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/kubernetes-soak-weekly-deploy-gke/) was on on Nov 15, and next one should be in a week.

Marking this bug as non-blocki

[2016-11-17 20:27] calebamiles commented on #32214
@yujuhong all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If someone from @kubernetes/sig-node could also take a look that would be greatly appreciated [this test](https://k8s-testgrid.appspot.com/google-gke#gci-gke-pre-release&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Kubelet%5C%20%5C%5BSerial%5C%5D%5C%20%5C%5B

[2016-11-17 20:27] caseydavenport commented on #24590
@cvle I think I'm also hitting this issue on a GCE CoreOS cluster.

Could you clarify what you meant by "Correcting the hostname fixed the problem"?

[2016-11-17 20:28] BaluDontu opened #37022 "kubernetes attempts to unmount a wrong vSphere volume and stops making any progress after that"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): unable to unmount volume properly

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2016-11-17 20:28] dims commented on #35150
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:28] #35150 closed

[2016-11-17 20:29] dims commented on #34879
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

[2016-11-17 20:31] dims commented on #34863
"broken test run" tends to show different sets of failures over time. So closing a bunch of them now during 1.5 release triage to let the bot open fresh ones.

Ack @wojtek-t

[2016-11-17 20:31] #34863 closed

[2016-11-17 20:31] john-delivuk opened #37023 "ABAC not authorizing service tokens properly."
BUG REPORT

It seems my kube-api server doesn't want to authorize correctly. I examine my audit log, but what's strange is I was seeing that my kube-dns was using the service account just fine, but kube-dashboard wouldn't start. I also ran through the troubleshooting and I could connect to my master, just not authenticate. I switched my authorization method from ABAC to AlwaysAllow and I can side

[2016-11-17 20:31] calebamiles commented on #31935
@davidopp, @dchen1107 all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. If someone from @kubernetes/sig-node could also take a look that would be greatly appreciated. Thanks!

**cc: @saad-ali, @dims**

[2016-11-17 20:32] dims commented on #32345
The "Kubectl should be able to talk to api server kubectl running in a pod could talk to api server" test has been reverted. so let's close this one out

[2016-11-17 20:32] #32345 closed

[2016-11-17 20:35] calebamiles commented on #31503
closing this issue as it should have been addressed by https://github.com/kubernetes/kubernetes/pull/36623.

**cc: @saad-ali, @dims**

[2016-11-17 20:35] #31503 closed

[2016-11-17 20:35] piosz commented on #36656
@bprashanth do you mean publicly available in gubernator as artifacts?

[2016-11-17 20:38] #34879 closed

[2016-11-17 20:44] dims commented on #34872
@apelisse all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. If someone from @kubernetes/test-infra-maintainers could also take a look that would be greatly appreciated. Thanks!

cc: @saad-ali, @calebamiles

[2016-11-17 20:45] dims commented on #36708
@fejta
all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. If someone from @kubernetes/test-infra-maintainers could also take a look that would be greatly appreciated. Thanks!

cc: @saad-ali, @calebamiles

[2016-11-17 20:45] dims commented on #34985
@dchen1107
all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. If someone from @kubernetes/sig-node  could also take a look that would be greatly appreciated. Thanks!

cc: @saad-ali, @calebamiles

[2016-11-17 20:46] dims commented on #34903
@fejta @apelisse
all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. If someone from @kubernetes/test-infra-maintainers could also take a look that would be greatly appreciated. Thanks!

cc: @saad-ali, @calebamiles

[2016-11-17 20:46] dims commented on #34888
@fejta @ixdy
all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. If someone from @kubernetes/test-infra-maintainers could also take a look that would be greatly appreciated. Thanks!

cc: @saad-ali, @calebamiles

[2016-11-17 20:47] dims commented on #35004
@rmmh @fejta
all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. If someone from @kubernetes/test-infra-maintainers could also take a look that would be greatly appreciated. Thanks!

cc: @saad-ali, @calebamiles

[2016-11-17 20:47] dims commented on #36328
@zmerlynn
all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. If someone from @kubernetes/test-infra-maintainers could also take a look that would be greatly appreciated. Thanks!

cc: @saad-ali, @calebamiles

[2016-11-17 20:49] TamalSaha opened #37024 "Recommendations for customizing cluster created via kubeadm"
We are exploring the idea of using kubeadm over saltstack as the mechanism for provisioning Kubernetes cluster. But the question if we want to customize various parts of a cluster creation process, what is kubeadm's vision/suggestion is that regard? With the original saltstack mechanism, we could modify the state files and control how various  manifest, etc files were generated. Some of the areas

[2016-11-17 20:50] dims commented on #34868
cc @kubernetes/test-infra-maintainers @kubernetes/test-infra-admins @kubernetes/sig-testing - Folks, what's the procedure to request an update of the soak cluster?

Please let us know so we can close out this issue as a release blocker or release non blocker for v1.5 release.

Thanks,
Dims

[2016-11-17 20:55] soltysh commented on #31481
@dims, we agreed on a solution with @liggitt and @derekwaynecarr I'm updating the PR according to what we've agreed on.

[2016-11-17 20:55] cjcullen commented on #36054
Let's assume this is still flaky, and mark this as a release-blocker for now.

[2016-11-17 21:00] k8s-merge-robot opened #37025 "ci-kubernetes-e2e-gce-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/80/

Run so broken it didn't make JUnit output!

[2016-11-17 21:01] MartinPyka opened #37026 "Service should favor local pods"
Working with Kubernetes 1.3.6

This is a feature request:

it would be great if there would be any way to tell a service that an incoming request from a pod should be forwarded (if possible) to a pod that is located on the same node. This could save a lot of network traffic.

Example
Node1: worker-pod1, receiver-pod1
Node2: worker-pod2
Node3: worker-pod3, receiver-pod2

receiver-service load-balan

[2016-11-17 21:02] peterochodo commented on #36835
One issue I see if we flag this as a 'user error', is that we are implicitly stating that the user-facing functionality of kube-proxy is slightly different when --proxy-mode=iptables vs --proxy-mode=userspace.

This can cause confusion unless well-documented. Ideally, the only difference (from a user's perspective) between using 'iptables' vs 'userspace' is speed. Everything else should be the sam

[2016-11-17 21:07] bprashanth commented on #36835
Hmm, don't know if I buy that, though I 100% agree with improving docs and/or errors/events.

The difference between userspace and iptables is exactly as the name states, in one case you go through iptables and in the other, through a userspace daemon. The userspace daemon is going to send traffic out from the vm it's running on (or more accurately, the network namespace it's in, which is the host

[2016-11-17 21:11] dims commented on #31481
Excellent, thanks for the update @soltysh

[2016-11-17 21:11] bprashanth commented on #36656
Yes

[2016-11-17 21:13] fanwar commented on #32542
I'm seeing the same issue as @hach-que on a kubernetes deployment on AWS.

[2016-11-17 21:13] k8s-merge-robot opened #37027 "[k8s.io] ReplicationController should surface a failure condition on a common issue like exceeded quota {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/105/

Failed: [k8s.io] ReplicationController should surface a failure condition on a common issue like exceeded quota {Kubernetes e2e suite}

[code]

[2016-11-17 21:14] pwittrock commented on #34274
@MrHohn Can we close this issue?

[2016-11-17 21:20] bgrant0607 commented on #8800
@dhoer Please post to kubernetes-sig-apps at googlegroups.com to make others aware of this design discussion.

[2016-11-17 21:21] #35004 closed

[2016-11-17 21:21] #36761 closed

[2016-11-17 21:21] #36926 closed

[2016-11-17 21:27] pwittrock commented on #35185
@fabianofranz This something you want to look at?

[2016-11-17 21:28] xcompass opened #37030 "AccessDenied when running cluster/addons/fluentd-elasticsearch/es-controller.yaml"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): elasticsearch

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG R

[2016-11-17 21:28] Rastusik commented on #23920
just a question - is this issue being worked on or not? Is it not that important? I think it should be quite important, because we have to use NodePorts as workaround for all external traffic, which is not optimal.

[2016-11-17 21:29] fejta commented on #36938
[code]

But hard to tell which job is timing out:
https://k8s-testgrid.appspot.com/google-gce#gci-gce-etcd3&width=5&graph-metrics=test-duration-minutes

But it doesn't seem like infrastructure problems: https://k8s-testgrid.appspot.com/google-gce#gci-gce-etcd3&width=5&graph-metrics=test-duration-minutes&exclude-filter-by-regex=k8s.io

[2016-11-17 21:29] #36938 closed

[2016-11-17 21:32] pwittrock commented on #35149
@soltysh Any updates on this?

[2016-11-17 21:35] MrHohn commented on #34274
@pwittrock Sure. `--prune` is not well documented yet, but I think #35234 is also tracking this.

[2016-11-17 21:38] fejta commented on #34868
k8s-oncall should be able to do this. Redeployed cluster earlier today so closing this one out.

[2016-11-17 21:38] #34868 closed

[2016-11-17 21:46] dims commented on #34868
thanks a ton @fejta

[2016-11-17 21:49] fejta commented on #37025
[code]

I do not see anything on the infra side of things:
https://k8s-testgrid.appspot.com/google-gce#gce-multizone&width=20&exclude-filter-by-regex=k8s.io|Before&graph-metrics=test-duration-minutes

Here are the tests that ran:
https://k8s-testgrid.appspot.com/google-gce#gce-multizone&width=20&include-filter-by-regex=k8s.io|Overall&graph-metrics=test-duration-minutes

How are we supposed to iden

[2016-11-17 21:58] calebamiles commented on #29503
@davidopp all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. Could you please find an appropriate owner as @jessfraz is out and add them to this thread for assignment. If someone from @kubernetes/sig-scheduling could also take a look that would be greatly appreciated. Thanks!

**cc: @saad-ali, @dims**

[2016-11-17 21:58] saad-ali commented on #27680
@timstclair or @sttts **Can you help us triage this as blocking or non-blocking for 1.5.**

It was originally marked as non-blocking for the 1.4 release.

[2016-11-17 22:00] saad-ali commented on #28188
Thanks @sttts! Please let us know if it is a blocker or non-blocker for the 1.5 release by EOD Friday.

[2016-11-17 22:01] fejta commented on #37025
Per https://groups.google.com/d/msg/kubernetes-sig-testing/_BqthOYsXOk/6AnjQ8K-CAAJ

We need more runs to sample from here:
https://k8s-testgrid.appspot.com/google-gce#gce-multizone&width=20&include-filter-by-regex=k8s.io|Overall

[2016-11-17 22:01] bgrant0607 commented on #8800
@dhoer You don't imagine creating a ConfigMap with separate keys and values, for which the proposal in #26299 would work?

[2016-11-17 22:03] wernight commented on #16779
As long as the release notes are clear and tutorials update to suggest putting `automount: false`, it looks like a decent solution.

Shouldn't in the long term, users be able to change `apiVersion:` for this kind of changes? It would mean having a backward-compatible API of course, but it would make it easier for users to handle this kind of changes.

[2016-11-17 22:04] k8s-merge-robot opened #37034 "ci-kubernetes-e2e-gci-gce-proto: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/316/

Run so broken it didn't make JUnit output!

[2016-11-17 22:05] bgrant0607 commented on #8800
@thockin SIG Apps is the appropriate SIG.

[2016-11-17 22:05] saad-ali commented on #33702
@kubernetes/goog-gke CC @alex-mohr Can some one from the GKE team help us triage this issue as blocking or non-blocking for 1.5. It looks like all recent flakes of this type have been on GKE test suites.

[2016-11-17 22:06] dims commented on #34911
@wojtek-t all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. Can you please let us add non-release-blocker tag if it does not have to block the release? Thanks!

cc: @saad-ali, @calebamiles

[2016-11-17 22:06] bgrant0607 commented on #37011
See also #8800 and #26299

[2016-11-17 22:06] peterochodo commented on #36835
Well ...  the userspace configuration also writes its own iptables chains and rules to redirect traffic destined for service vips to the userspace daemon. So the claim that 'the name says it all' can be contested.

From a new user's (like myself) point of view, if they setup a cluster with --proxy-mode=userspace and are able to access their services from apps running outside the cluster, then chan

[2016-11-17 22:07] bprashanth commented on #28569
This is suspicous, lest leave it in 1.5.
Debugging https://github.com/kubernetes/kubernetes/issues/28569#issuecomment-260721460, it looks like we somhow ended up with 2 services with the same nodeport.

Build says https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/5476/build-log.txt
[code]

So we couldn't reach the node with public ip 104.198.247.41 (jenkins-e2e-minion

[2016-11-17 22:07] mml opened #37035 "etcd 2.3.7 panics with rolled back data"
Wasn't sure whether to file here or etcd, but the problem probably occurs due to the rollback tool that's in this repo.

This is with my test cluster.  I have upgraded the data from 2.21 to 2.3.7 to 3.0.14.

[code]

Then we try to start etcd 2.3.7...

[code]

@wojtek-t @hongchaodeng

[2016-11-17 22:07] DirectXMan12 commented on #30471
How are we going to reliably "pretend" to have non-existent metrics in an e2e context?  We can guess/hope/estimate the lag from Heapster, but e2e tests use real results from Heapster, so we can't fake anything there.  Similarly with pending pods.  I can test the readiness logic with a pod with a readiness check that never succeeds, but I uncertain as to the best course of action for the other two

[2016-11-17 22:07] dims commented on #25845
Marking this as fixed. please reopen if necessary.

[2016-11-17 22:07] #25845 closed

[2016-11-17 22:08] calebamiles commented on #34060
@justinsb, assigning this issue to you per suggestion of @madhusudancs; please find an appropriate owner for this issue. All issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. Additionally if someone from @kubernetes/sig-cluster-federation could take a look and help triage this issue it would be greatly appreciated. Thanks!

**cc: @saad-ali, @

[2016-11-17 22:10] liggitt commented on #16779
I would honor the option on both the pod and the service account… either should be able to opt out of auto mount.

[2016-11-17 22:11] pwittrock commented on #35213
@AdoHe Any updates?

[2016-11-17 22:11] bprashanth commented on #36835
Yeah we should clarify any/all differences between the 2 modes, please send a pr to the kubernetes docs repo if you have time and we can get this in for 1.5

[2016-11-17 22:11] dims commented on #26134
@bprashanth @matchstick  all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

cc: @saad-ali, @dims

[2016-11-17 22:12] lavalamp commented on #37035
@xiang90

[2016-11-17 22:12] dims commented on #27450
thanks @bowei

[2016-11-17 22:12] dims commented on #28275
23 days ago. let's close this and see if the bot reopens.

[2016-11-17 22:12] #28275 closed

[2016-11-17 22:13] dims commented on #28337
@mtaufen all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help. (cc @kubernetes/sig-network ?)

cc: @saad-ali, @dims

[2016-11-17 22:14] madhusudancs commented on #36074
@calebamiles I will own this.

[2016-11-17 22:14] dims commented on #28569
@bprashanth : can you mark it as non-release-blocker please if appropriate? (or release-blocker)

[2016-11-17 22:15] dims commented on #31429
@ymqytw : marking this is non-release-blocker, please let us know if it needs to be switched to release-blocker to hold up the release.

[2016-11-17 22:17] dims commented on #32044
Dear @kubernetes/sig-node all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. Thanks for your help.

cc: @saad-ali, @calebamiles

[2016-11-17 22:18] saad-ali commented on #28283
This is a non-blocker for 1.5

@jingxu97 This test `schedule a pod w/ a RW PD, gracefully remove it, then schedule it on another host` calls `f.ReadFileViaContainer` directly to read value instead of through `verifyPDContentsViaContainer(...)` which contains [your `kubectl exec` retry logic](https://github.com/kubernetes/kubernetes/pull/35560).

We should maybe move the retry logic from `verifyPDC

[2016-11-17 22:18] dims commented on #32512
@jszczepkowski , @kubernetes/sig-scalability
all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

 cc: @saad-ali, @calebamiles

[2016-11-17 22:20] saad-ali commented on #31402
Thanks @jayunit100! Please let us know by EOD Friday if this issue should be considered a blocker or non-blocker for the 1.5 release.

Assigning @matchstick since @freehan is OOF.

[2016-11-17 22:21] bgrant0607 commented on #26299
@dims IMO this shouldn't go into 1.5. The feature-complete date is long past. Removing from milestone.

[2016-11-17 22:22] dims commented on #34207
@MrHohn @Random-Liu  all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

 cc: @saad-ali, @calebamiles

[2016-11-17 22:24] dims commented on #36230
@quinton-hoole @kubernetes/sig-cluster-federation @matchstick all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

 cc: @saad-ali, @calebamiles

[2016-11-17 22:24] dims commented on #33897
@mwielgus @kubernetes/autoscaling all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

 cc: @saad-ali, @calebamiles

[2016-11-17 22:24] fejta commented on #34888
There are already issues created for the individual test failures.

[2016-11-17 22:24] #34888 closed

[2016-11-17 22:25] dims commented on #35600
Cool. @MrHohn let's close this down and let the bot file one again if it happens.

[2016-11-17 22:25] #35600 closed

[2016-11-17 22:25] dims commented on #33285
Ack @bprashanth i am marking this as non-release-blocker based on your comments.

[2016-11-17 22:26] #36687 closed

[2016-11-17 22:26] dchen1107 commented on #34679
I marked this as release-blocker based on 1) the frequency of the flakiness and 2) unknown root cause. Once we had the better understanding of the root cause, feel free to update the label to nonblocker.

[2016-11-17 22:26] #36452 closed

[2016-11-17 22:26] soltysh commented on #35149
@pwittrock I'm stuck with it :disappointed: so I can't promise anything, but I'll try to get back to it.

[2016-11-17 22:27] dims commented on #33891
@pmorie @kubernetes/sig-scalability @kubernetes/autoscaling all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

 cc: @saad-ali, @calebamiles

[2016-11-17 22:27] lavalamp commented on #33797
Looks like this is a dup of #26909

[2016-11-17 22:27] #33797 closed

[2016-11-17 22:28] fejta commented on #36954
@wojtek-t any routing tips for this?

[code]

[2016-11-17 22:28] dims commented on #33804
@mwielgus @kubernetes/sig-scalability @kubernetes/autoscaling all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

cc: @saad-ali, @calebamiles

[2016-11-17 22:29] fejta commented on #36927
Issues exist for failing tests

[2016-11-17 22:29] #36927 closed

[2016-11-17 22:29] fejta commented on #36631
Issues exist for the failing tests

[2016-11-17 22:29] #36631 closed

[2016-11-17 22:29] fejta commented on #37000
Gubernator blows up when I try and load that link...

[2016-11-17 22:29] dims commented on #33874
@quinton-hoole @matchstick @kubernetes/sig-cluster-federation all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

 cc: @saad-ali, @calebamiles

[2016-11-17 22:30] dims commented on #33669
@bprashanth @matchstick all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.
cc: @saad-ali, @calebamiles

[2016-11-17 22:31] dims commented on #36588
@shashidharatd @mwielgus all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.
cc: @saad-ali, @calebamiles

[2016-11-17 22:32] dims commented on #34102
@mwielgus  @kubernetes/sig-scalability @kubernetes/autoscaling all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.

cc: @saad-ali, @calebamiles

[2016-11-17 22:32] dchen1107 commented on #33882
I temporarily marked this release blocker for triage. @mtaufen Could you please take a look at this one since all failures are related to gci node?

[2016-11-17 22:32] fejta commented on #36846
gcloud install flake

[2016-11-17 22:32] #36846 closed

[2016-11-17 22:33] fejta commented on #36787
gcloud install flake -- probably too much cpu consumption on nodes

[2016-11-17 22:33] #36787 closed

[2016-11-17 22:33] #36906 closed

[2016-11-17 22:34] dims commented on #34904
@krousey @kubernetes/goog-gke @alex-mohr all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.
cc: @saad-ali, @calebamiles

[2016-11-17 22:34] saad-ali commented on #33380
@kubernetes/sig-scalability @gmarek can you please help us triage this issue as release blocking or not for the 1.5 release.

[code]

[code]

[2016-11-17 22:34] bprashanth commented on #33669
yeah we'd just leave it as release-blocker if we don't get to it, right? and then lift that milestone label sometime before first week of December. This doesn't smell like  a blocker, but I haven't dug through logs yet and I'm cherrypicking the old flake rewrite https://github.com/kubernetes/kubernetes/pull/36786

[2016-11-17 22:35] dims commented on #34872
@apelisse @krousey @kubernetes/goog-gke @alex-mohr all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.
cc: @saad-ali, @calebamiles

[2016-11-17 22:35] lavalamp commented on #34897
This is probably an issue with your particular setup. You may want to ask this question in a better forum (and post your kubeconfig file when you do).

---

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in respondin

[2016-11-17 22:35] #34897 closed

[2016-11-17 22:35] MrHohn commented on #28337
Most of the failures seems related to AWS networking. [Ref comment](https://github.com/kubernetes/kubernetes/issues/27450#issuecomment-260230089).

[2016-11-17 22:36] msmans commented on #36024
@pwittrock yep — upgrading the client fixed the issue. Closing.

[2016-11-17 22:36] #36024 closed

[2016-11-17 22:36] pwittrock commented on #35149
@soltysh No problem, just trying to understand the state of the world

[2016-11-17 22:36] #36944 closed

[2016-11-17 22:36] pwittrock commented on #35149
Let me know if you need help with any of it

[2016-11-17 22:36] bgrant0607 commented on #37011
cc @fabianofranz @AdoHe @pwittrock

[2016-11-17 22:37] dims commented on #28337
@MrHohn Ack, I'll mark it as non-release-blocker :) please let me know if you disagree

[2016-11-17 22:37] jayunit100 commented on #31402
Hmmm i looked a little more. I think this could be just  an infra flake in disguise.

[2016-11-17 22:38] dchen1107 commented on #36804
This is dup of https://github.com/kubernetes/kubernetes/issues/33636

I will take care of them together.

[2016-11-17 22:38] #36804 closed

[2016-11-17 22:39] dims commented on #33669
you mean "leave it as non-release-blocker" right? :) we do need to add that label to this issue @bprashanth

[2016-11-17 22:39] fejta commented on #36708
11234 is not clear what failed but it looks like 33% of the tests did not run? https://k8s-testgrid.appspot.com/k8s#kubelet&width=20

[2016-11-17 22:39] pwittrock commented on #35368
Fixed

[2016-11-17 22:39] #35368 closed

[2016-11-17 22:40] MrHohn commented on #34207
This flake was fixed after #36332 went in.

[2016-11-17 22:40] bprashanth commented on #33669
heh, we should flip all non-release-blockers that aren't yet triaged by 18th to release-blocker and deal with them appropriately

[2016-11-17 22:41] fejta commented on #37034
@k8s-oncall

[code]

https://k8s-testgrid.appspot.com/google-gce#gci-gce-proto&width=20

Need more timeout samples to debug.

[2016-11-17 22:42] dims commented on #36708
@saad-ali what do you think?

[2016-11-17 22:43] dchen1107 commented on #33636
The test was introduced by https://github.com/kubernetes/kubernetes/pull/33389 which causes some flakiness: https://github.com/kubernetes/kubernetes/issues/33396

Re-assign this to @Random-Liu

[2016-11-17 22:44] dims commented on #34571
@bowei @roberthbailey all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.
cc: @saad-ali, @calebamiles

[2016-11-17 22:45] dims commented on #28845
based on @ncdc 's comment, marking this as non-release-blocker.

[2016-11-17 22:45] ixdy commented on #34067
I'm working on fixing this for master in #36964. I'm not sure that it's worth cherry-picking to release-1.4.

[2016-11-17 22:45] dims commented on #36088
@matchstick @kubernetes/sig-cluster-federation
all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. If you are not the correct owner please identify the correct owner and add them to this thread for assignment. Thanks for your help.
cc: @saad-ali, @calebamiles

[2016-11-17 22:46] dchen1107 commented on #33547
We plan to remove those tests to node soaking tests, not serial test suite.

[2016-11-17 22:48] pwittrock commented on #36007
client / server skewed kubectl is generally broken right now

[2016-11-17 22:49] pwittrock commented on #35993
@AdoHe Is this something you could take a look at?

[2016-11-17 22:50] saad-ali commented on #28297
Closing this hasn't occurred for a while.

[2016-11-17 22:50] #28297 closed

[2016-11-17 22:53] dchen1107 commented on #32451
I believe the flakiness is caused by test itself, but we should root-cause it first. Temporarily mark it as the release-blocker.

[2016-11-17 22:55] jayunit100 commented on #31402
i think all the flake logs here are not useful

- line 50 is an infra flake, its just happening because the api routes arent set up well.
- line 267/261 are all old code ,  i think, from before some refactorings occured ?

I say close , there isnt a common thread here.   some of the stuff that is being reported is clearly just an infra flake , for example `(Oct 31 10:40:44.761: Unable to connect/t

[2016-11-17 22:56] pwittrock commented on #35999
@soltysh Will this fix the dropping of fields when using skewed client / server versions?

[2016-11-17 22:57] dims commented on #26299
@bgrant0607 awesome. thanks!

[2016-11-17 22:57] pwittrock commented on #35504
Admission controller seems like a good way of doing this.  Ideally we could decouple the AC from the kubernetes binaries and release.

[2016-11-17 22:57] saad-ali commented on #33669
@bprashanth let's make sure we understand the issue before we triage it as `release-blocker` or `non-release-blocker`. Looks like this flake hasn't reoccured in non-1.4 branches since your refactor, but since you seem hesitant about whether there is a real issue here or not, I'll leave it up to you to make a call. Please try to do so by EOD Friday.

[2016-11-17 22:58] yujuhong commented on #33547
@dchen1107, this is not the regular resource usage test that measures during the steady state. This is the density test written by @coufon. This test measures resource usage during pod creation for tracking regression. They won't add much value to the soak suite.

[2016-11-17 22:59] pwittrock commented on #35076
@floreks Thanks for doing the research.  Sounds like the work is quite large in scope and may be something we should hold off on in favor of lower hanging fruit for now.

[2016-11-17 23:02] krousey commented on #34904
All of these tests failures have individual tracking bugs. The resource and services tests have been fixed (not sure if cherry-picked yet), and the DNS failure seems to be a minor flake.

[2016-11-17 23:04] dhoer commented on #8800
@bgrant0607 I'm not sure what you are asking.

I'm assuming #26299 can't handle nested maps that are created when using --from-file.  Is that a correct assumption?

I would like for development's environment files to remain the same as they are for docker and docker-compose.  How k8s uses those files is a separation-of-concern.  This frees up developers to add, update and delete environment files

[2016-11-17 23:07] k8s-merge-robot opened #37040 "TestServiceAlloc {master}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/95/

Failed: TestServiceAlloc {master}

[code]

Previous issues for this test: #31850 #31880 #32028

[2016-11-17 23:09] rothgar commented on #36891
My environment is 3 etcd and 3 apiservers

[2016-11-17 23:09] yujuhong commented on #19188
Looks good to me overall.

Demoted to p1 because this issue is not urgent.

[2016-11-17 23:09] bowei opened #37041 "[Feature] Add support for optional config-map mounts"
### overview

Currently, pods cannot be created if a config-map referenced by the pod does not exist. This precludes the use of config-map as optional configuration. For instance, the application may chose to use internal defaults if a given config-map does not (yet) exist.

### proposal

A config-map reference that is labeled as optional will show up as an empty directory. In addition, if the ref

[2016-11-17 23:11] ixdy commented on #37040
@deads2k I see your fingerprints on this test case most recently.

cc @wojtek-t who's fixed this test before too

[2016-11-17 23:11] dchen1107 commented on #33380
@gmarek, please only look at the most recent failures above. This is an umbrella issue tracking all other issues in overall eco-system. The only failures matter here is recent ones. I think The recent failure are caused by your recent pr: https://github.com/kubernetes/kubernetes/pull/37001 Of course, the fundamental issue is that why we expect image-puller pod succeeded here. Anyway it is a test i

[2016-11-17 23:12] dchen1107 commented on #33380
@gmarek I marked it as non-release-blocker for now. Please correct me if you think the cause is different.

[2016-11-17 23:12] janetkuo commented on #36081
I don't think they the same. cc @AdoHe

[2016-11-17 23:13] peterochodo commented on #36835
Is there a wiki/webpage that describes how to create a 'PR' in the kubernetes docs repo?

[2016-11-17 23:16] bgrant0607 commented on #33515
I agree with @goltermann. We're also in the process of moving docs/{devel,proposals,design} out of this repo.

Related docs:
https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/cherry-picks.md
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/update-release-docs.md
https://github.com/kubernetes

[2016-11-17 23:17] bprashanth commented on #36835
http://kubernetes.io/editdocs/#docs/index.md

[2016-11-17 23:19] yujuhong opened #37042 "GCP Volumes [GlusterFS should be mountable"
Test failed in
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-cri/86

This happened in the CRI build, but that should be irrelevant. The OS is GCI.

[code]

[2016-11-17 23:20] yujuhong commented on #34289
Thanks for checking the failures!

[2016-11-17 23:21] bgrant0607 commented on #36485
cc @kow3ns

[2016-11-17 23:21] dchen1107 commented on #27680
The initial triage done by sttts@ is still valid even though we changed something in TeardownNetwork logic in 1.5 release. I don't think this should be release blocker with the same reason provided by sttts@ for 1.4 release. But instead of asking timestclair@ to take further look, I am assigning this to @bprashanth, https://github.com/kubernetes/kubernetes/issues/27680#issuecomment-242736980 cc/ @

[2016-11-17 23:22] dchen1107 commented on #27680
@bprashanth I marked this as release-blocker just for triage here. Thanks!

[2016-11-17 23:25] yujuhong commented on #34289
Let's hold on to this issue for a few more days to see if the workaround actually works.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-cri-serial/5

The network partition test ran before the restart test, and left some pods in the terminating state (deletion timestamp marked) due to pod eviction from the node controller. However, the network partition

[2016-11-17 23:27] k8s-merge-robot opened #37043 "ci-kubernetes-e2e-gce-federation: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/14/

Multiple broken tests:

Failed: ListResources After {e2e.go}

[code]

Failed: [k8s.io] Federated ingresses [Feature:Federation] Federated Ingresses Ingress connectivity and DNS should be able to connect to a federated ingress via its load balancer {Kubernetes e2e suite}

[code]
Issues about this

[2016-11-17 23:33] calebamiles commented on #32755
closing this issue, all examples are currently green.

**cc: @saad-ali, @dims**

[2016-11-17 23:33] #32755 closed

[2016-11-17 23:35] calebamiles commented on #32451
thanks for the update, @dchen1107

[2016-11-17 23:35] bgrant0607 commented on #34710
@soltysh Done. We'll need to update the labels.yaml files once we make all the label changes.

[2016-11-17 23:41] peterochodo commented on #36835
Ok now for the hard part: How do we word this? The entries below are the current documentation for kube-proxy for --cluster-cidr and --proxy-mode. It seems to me that the documentation for --cluster-cidr is not correct because off-cluster bridging works by default when --proxy-mode=userspace.

Thoughts on how to resolve this via documentation?

--cluster-cidr string                          The CI

[2016-11-17 23:46] saad-ali commented on #36843
1 and 2 are done. See https://github.com/kubernetes/kubernetes/pull/36844 and https://github.com/kubernetes/release/pull/210.

@mikedanese any update on 3?

[2016-11-17 23:47] k8s-merge-robot opened #37044 "kubernetes-e2e-gci-gke-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/353/

Run so broken it didn't make JUnit output!

[2016-11-17 23:47] k8s-merge-robot opened #37045 "kubernetes-e2e-gci-gke-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/6976/

Run so broken it didn't make JUnit output!

[2016-11-17 23:48] calebamiles commented on #34855
Hey @jessfraz while we were looking at flakes for 1.5 we noticed that the linked tests seem to be flaking pretty badly. You may also want to pull in @kubernetes/sig-scheduling to help triage. Good luck!

[2016-11-17 23:48] grodrigues3 commented on #36997
@yujuhong Add support for Seccomp sounds like a new feature.  The milestone should be reset to `next-candidate`, correct?

[2016-11-17 23:49] saad-ali commented on #28051
@AdoHe Can you please triage this issue by EOD Friday. Is this a 1.5 issue or can it be punted to 1.6? If it is a 1.5 issue is it a blocker for the release (meaning release must wait for this to be fixed), or a non-blocker?

[2016-11-17 23:49] grodrigues3 commented on #36985
@wojtek-t can you add a release-blocking or non-blocking label to this issue?

[2016-11-17 23:50] calebamiles commented on #34682
Temporarily assigning this to you @jessfraz for reassignment. Good luck!

[2016-11-17 23:52] yujuhong commented on #36997
@grodrigues3 not really. The current implementation supports seccomp already. If it's missing critical information to function properly, this would be a bug.

[2016-11-17 23:52] grodrigues3 commented on #36891
@liggitt if it is indeed reproducible, please add the release-blocker label

[2016-11-17 23:55] dhoer commented on #8800
@bgrant0607 I posted _ENV files support_ to kubernetes-sig-apps.

[2016-11-17 23:57] saad-ali commented on #36588
@nikhiljindal @matchstick @kubernetes/sig-cluster-federation bumping this to P0 and marking release-blocking

This federation E2E test `Federated Deployment should create and update matching deployments in underling clusters` has been consistently failing in the 1.5 branch:
See [ci-kubernetes-e2e-gce-federation-release-1.5](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kuber

[2016-11-17 23:58] bgrant0607 commented on #28695
@ardnaxelarak Are you still working on this?

[2016-11-17 23:59] saad-ali commented on #26723
@nikhiljindal @kubernetes/sig-cluster-federation I am marking this as non-release blocking for 1.5.

FYI the federation E2E suite for release-1.5 is [ci-kubernetes-e2e-gce-federation-release-1.5](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation-release-1.5)

[2016-11-18 00:01] ardnaxelarak commented on #28695
I am not; @MHBauer might be.

[2016-11-18 00:07] thockin commented on #37041
I think this is a case of usability over purity.

[2016-11-18 00:08] Crassirostris commented on #37030
Thanks for the report!

It works in our tests both with the container-vm and GCI, so I assume the difference lies with the coreos.

From the first glance, it's not how it's supposed to be and should be fixed. Most probably will make a PR & will rebuild an image tomorrow.

[2016-11-18 00:13] xcompass commented on #37030
Thanks.

[2016-11-18 00:20] lavalamp commented on #35792
@mwielgus is this still a live issue?

[2016-11-18 00:23] saad-ali commented on #28367
Removing from 1.5 milestone

[2016-11-18 00:23] thockin opened #37047 "addon manager needs a "create if not exist" mode"
Because of how patch is implemented, we can't manage things like configmaps through addon manager.  If a user edits the configmap and then addon manager applies the config again, the `data` field gets clobbered.  You just can't have 2 owners of an object like that.

I think we have a class of addons that we want to assert absolute or near-absolute truth for, and a series that we just want to initi

[2016-11-18 00:26] caesarxuchao commented on #35792
Yes. We disabled policy/v1alpha1, so the issue is not triggered.

[2016-11-18 00:26] thockin opened #37048 "`kubectl merge` command - assert state for some fields, ignore others"
Because of how patch is implemented, we can't easily manage things like configmaps through addon manager.  If a user edits the configmap and then addon manager applies the config again, the `data` field gets clobbered.  You just can't have 2 owners of an object like that.

What we need for this, and possibly others, seems to be an "overlay".  I want to assert a value for a handful of fields, and I

[2016-11-18 00:27] liggitt commented on #19188
@pmorie what is the current lag to update a configmap/secret volume from when it updates in the API?

I want to be really careful not to make the kubelet depend on being able to watch all secrets (or config maps… I assume they have the same issues here). Our eventual goal (in order to reduce the impact of a compromised node) is to limit the kubelet's access to just the secrets mounted into pods sc

[2016-11-18 00:28] saad-ali commented on #32537
@derekwaynecarr @vishh @derekwaynecarr Can you make a call on if this is a blocker or non-blocker for 1.5 by EOD Friday please

[2016-11-18 00:29] MikeSpreitzer commented on #36220
(A) I agree with the concern expressed earlier about separation of concerns.  The person deploying a service should not have to know how the cluster is implemented.  I would rather see this custom LB image specified as a parameter of the controllers manager.  Perhaps the best way to slip this in is to make a cloud provider that just knows how to make load balancers using a custom image.

(B) Would

[2016-11-18 00:31] mikedanese commented on #36082
@lavalamp it does but it requires the outputs to be known at analyze, before generation rules run. We have to maintain a list of rule outputs. We can greatly lessen the burden of this maintenance if  the output names that are predicable.

@thockin no, the glob cannot be reified at analyze time. It only makes sense after the genrule has run.

[2016-11-18 00:32] yujuhong commented on #19188
@liggitt, @wojtek-t's proposal in https://github.com/kubernetes/kubernetes/issues/19188#issuecomment-261325092 doesn't involve watching secrets IIUC. The secret manager will simply get the secrets for pods assigned to the node every minute. This allows one GET every minute to serve all pods using the same secret.

[2016-11-18 00:54] dims commented on #37040
Looks like "kubernetes" and "svc-0" end up with the same IP address..

[2016-11-18 00:55] #37044 closed

[2016-11-18 00:56] #34872 closed

[2016-11-18 01:00] nikhiljindal commented on #26723
Yes removed from 1.5 milestone

[2016-11-18 01:05] k8s-merge-robot opened #37050 "kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/4135/

Run so broken it didn't make JUnit output!

[2016-11-18 01:12] euank commented on #28051
I don't think this can be a release blocker since it's not a bug. This feature functions as documented. fixing this issue is an additional feature, not a bugfix.

This can't break customers since it's been as-is for multiple releases now.

I see no reason this additional feature (which requires additional kubelet persistence and has zero work thusfar) should go in post-feature freeze and shouldn't

[2016-11-18 01:19] dims commented on #28051
excellent @euank punting it to 1.6 :)

[2016-11-18 01:42] liggitt commented on #36985
Is kubemark scale useful/realistic if it disables things that are required in actual deployments?

[2016-11-18 01:45] k8s-merge-robot opened #37051 "[k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working CockroachDB cluster [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-petset/67/

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working CockroachDB cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

[2016-11-18 01:47] bprashanth commented on #26134
Both failures with
[code]
i.e https://github.com/kubernetes/kubernetes/issues/26134#issuecomment-259064494 https://github.com/kubernetes/kubernetes/issues/26134#issuecomment-260007465
Are image pull flake on gke.
That leaves us with 2 puzzling issues from a week ago: https://github.com/kubernetes/kubernetes/issues/26134#issuecomment-260070106 and https://github.com/kubernetes/kubernetes/issues/261

[2016-11-18 02:04] MikeSpreitzer commented on #36220
(D) Is the idea here to develop one generic custom LB image to use in bare metal installs, or is it expected that different bare metal environments will each need their own custom LB image?

[2016-11-18 02:12] jlowdermilk commented on #35277
Doesn't look like this flake has a repro.

[2016-11-18 02:12] #35277 closed

[2016-11-18 02:15] k8s-merge-robot opened #37053 "ci-kubernetes-e2e-gci-gce-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.4/51/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34123 #35398

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reb

[2016-11-18 02:32] gaord commented on #23920
The issue makes ingress controller have to run in hostNetwork container. Hope it can be fixed soon.
[https://github.com/nginxinc/kubernetes-ingress](url)

[2016-11-18 02:37] umiyosh commented on #9822
I am using GKE but are there any workarounds to this problem besides the way of upgrading the GKE node?

[2016-11-18 02:54] jimmycuadra commented on #23535
Figured it out. If the service's port has been given a name with the "name" field, then the name must be specified in URL. If the service has only one port, it can be left unnamed, in which case it's not part of the URL. This is mentioned in the docs under [Accessing the Cluster: Manually constructing apiserver proxy URLs](http://kubernetes.io/docs/user-guide/accessing-the-cluster/#manually-constr

[2016-11-18 03:25] k8s-merge-robot opened #37056 "[k8s.io] GCP Volumes [k8s.io] GlusterFS should be mountable {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/60/

Failed: [k8s.io] GCP Volumes [k8s.io] GlusterFS should be mountable {Kubernetes e2e suite}

[code]

[2016-11-18 03:35] k8s-merge-robot opened #37057 "kubernetes-e2e-gci-gke-prod: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod/200/

Run so broken it didn't make JUnit output!

[2016-11-18 03:52] foxish commented on #36034
The e2e examples have been fixed by https://github.com/kubernetes/kubernetes/pull/36910.

[2016-11-18 03:55] k8s-merge-robot opened #37058 "TearDown {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/6144/

Failed: TearDown {e2e.go}

[code]

Previous issues for this test: #34118 #34795