[2016-01-06 11:43] errordeveloper opened #19329 "cAdvisor flags are leaking through hyperkube usage summaries"
I was particularly curios why proxy has these arguments that I could find in the code:

[code]

turns out these come from cAdvisor...

[2016-01-06 11:44] errordeveloper commented on #19329
[code]

[2016-01-06 11:44] errordeveloper commented on #19329
[code]

[2016-01-06 11:47] errordeveloper commented on #19329
Just to check, I looked at scheduler and found the same:
[code]

[2016-01-06 11:52] errordeveloper commented on #19309
I think this just needs to be documented more explicitly. It may seem handy for people who provision API server first, and then pass the CA around etc... However, it's a bit of a surprising behaviour, _it could at least not overwrite files that already exist_.

[2016-01-06 11:53] errordeveloper commented on #19310
@AdoHe sure, I just said that I've had `--cert-dir` set at the time, and haven't tested otherwise. The error message is still pretty obscure.

[2016-01-06 12:09] AdoHe commented on #19309
@errordeveloper IIRC apiserver will generate `apiserver.crt` and `apiserver.key` files, so you mean you already have these two files under your `cert-dir`?

[2016-01-06 12:11] AdoHe commented on #19310
@errordeveloper apiserver is designed to ignore `--cert-dir` if `--tls-cert-file` and `--tls-private-key-file` are provided.

[2016-01-06 13:43] errordeveloper commented on #19310
Sure. What I'm taking about is that the _error message is mega supper obscure_, when only `--tls-cert-file` is specified and `--tls-private-key-file` isn't.

[2016-01-06 13:44] errordeveloper commented on #19309
Yes, and they get overwritten.

[2016-01-06 13:54] mqliang commented on #2210
I thin `controllerRef` is not helpful to solve the overlapping problem, but we can use it to speed up FindControllerForPod and FindPodsForController.

###Speed up FindControllerForPod and FindPodsForController
----

K8s use lable and selector to couple Pod and ReplicaController/Job/Daemonset, it's flexible but not efficient, sicne when we want find
the ReplicaController for a pod, we need traverse

[2016-01-06 14:16] lavalamp commented on #19161
But nothing is stopping you from putting the service IP in there, right? It should work that way. I guess I'll reopen this if we haven't actually tested that configuration.

[2016-01-06 14:16] saad-ali commented on #18778
Yes

I'm out of office until Monday. If this can wait until then, feel free to assign it to me.

[2016-01-06 14:18] dchen1107 commented on #19328
It shouldn't, and it should be failed even it tries. @AdoHe Can you provide more information on why you think ImageGC tries to remove your images?

[2016-01-06 14:18] lavalamp commented on #19323
I tend to agree that we should do such checks in the server.

[2016-01-06 14:22] AdoHe commented on #19161
@lavalamp I can see what you mean, but for many users I guess they will not put a service IP here, we should test put a service IP here at first and then document it.

[2016-01-06 14:24] four43 opened #19330 "Kube-up --max-pods, change after cluster creation?"
We are running containers on Kubernetes on Amazon AWS. This cluster was created via the kube-up set of scripts. Everything was provisioned correctly and working fine. We ran into a snag however - our fairly large servers, c4.xlarges, are only allowed to run 40 pods. Why is this limit set by default? Could it scale with the instance size? This is a small number for us, as we are running many small

[2016-01-06 14:25] AdoHe commented on #19309
@errordeveloper guess there is still some optimization for secure configuration. But for this case, why not you use the `--tls-cert-file` and `--tls-private-key-file` to configure it?

[2016-01-06 14:27] AdoHe commented on #19310
@errordeveloper yeah, the error message should be updated to provide more clear info.

[2016-01-06 14:30] lavalamp commented on #18266
Thanks for the charts. Judging from the stats, it looks like deletes are
not the culprit, since there were only 1000 of them. There's almost 200k
compare&swaps. So I think our "flurry of writes right before delete" theory
is probably correct. That, or deletes are REALLY expensive.

On Wed, Jan 6, 2016 at 5:06 AM, wangbo <notifications@github.com> wrote:

[2016-01-06 14:47] schonfeld commented on #12121
@justinsb we were thinking the same thing with collecting Instance IDs, and then doing a single call to DescribeInstances API (which supports a MaxResults of 1,000). @danielschonfeld mentioned that k8s has a much lower node limit than that, so other than a simple sanity check there, we should be able to get away with that. Curious that someone had made a "[plural getInstancesByIds](https://github.

[2016-01-06 15:10] danielschonfeld commented on #12121
cc @schonfeld @justinsb

1) I agree with both of your guys notion that we should grab all instance information in one single call in ListRoutes.  In fact I got most of this coded already but just trying to fix the compilation bugs as i'm a total golang newbie.  Hopefully be ready today or tomorrow.

2) Re Kubelet - I agree with @schonfeld that after the first call the data is 100% cachable is it's

[2016-01-06 15:25] ihmccreery commented on #19118
@kubernetes/goog-control-plane for scheduling pods on `Not Ready` nodes.

[2016-01-06 15:58] ramonrue opened #19332 "Kube-DNS not working"
Setting up Kube-DNS on a CoreOS-Baremetal installation somehow results in a not working system.
See the attached file for logs of all affected containers.

[DNS.txt](https://github.com/kubernetes/kubernetes/files/80010/DNS.txt)
[code]

[2016-01-06 16:08] jdreno commented on #19072
Either way, maybe I should have been clearer.  The point is the sample file in master does not work with the code in master.  Since the Policy struct in pkg/apis/abac/types.go has the spec element, the code expects the input json to have "spec" wrapping, which the sample file does not have.

[2016-01-06 16:12] paultag opened #19333 "HTTPS Ingress controller for SNI based routing"
Happy to send a patch for this -- I've already written an SNI Client Hello packet parser --

https://github.com/paultag/sniff/blob/master/parser/parser.go

That code needs to be audited a bit, and fuzzed, but it's hello-world-ing. Anyone willing to break this?

However, this will fail if the request has no SNI extension, so default routes are unclear to me.

The HTTPS Ingress point could do TLS te

[2016-01-06 16:14] vishh commented on #16943
cc @timothysc

[2016-01-06 17:03] justinsb commented on #12121
@danielschonfeld if you want I would be happy to give some pointers on any code to help you get up to speed with go; push it to your fork and I'd be happy to have a look.

`getInstanceByIds` is there, despite being a dumb loop, because when we were ready to replace it with something smarter (i.e. now) then it is easy to do so, rather than having to refactor those loops out of all the calling code.

[2016-01-06 17:11] danielschonfeld commented on #12121
@justinsb here's my code https://github.com/danielschonfeld/kubernetes/tree/optimize-list-routes
aws.go needs some love... as it won't compile in its current state (I am truly sorry about how ugly it is)

as for `getSelfAWSInstance` assuming the call to `s.metadata` calls the metadata server in lieu of the API server i say thats a sound choice! And def special case as those two values will not cha

[2016-01-06 18:04] xiang90 commented on #18266
@magicwang-cn Can you also get the store operation (reads, writes, delete, etc..) rate vs time graph? Then we can probably know which operation causes the spike usage.

[2016-01-06 18:06] xiang90 commented on #18266
And it seems the time scale of the graphs are not the same.

[2016-01-06 18:08] yujuhong commented on #19249
I guess it can be 5 minutes for the transition of node status, and another 5 minutes for the eviction to kick in? if that's the case, you should be able to change the timeout to be more aggressive. It's been a while since I last looked at the code, someone from @kubernetes/goog-control-plane will know more.

[2016-01-06 18:30] mikedanese commented on #19249
Relevant controller-manager flags are:

[code]

We wait 5 minutes after the pods go not ready before evicting pods. That is consistent with your timeline. What is suspicious is that it took 5 minutes for your pods to become not ready. Are you using a getting started guide?

[2016-01-06 19:01] krousey commented on #19254
Just ran this 10k times. Could not reproduce. Ran like:

[code]

[2016-01-06 19:20] bitsofinfo commented on #18076
bump

[2016-01-06 19:20] wallnerryan opened #19338 "flocker example needs needs more detail"
We found that some users coming to the `examples/flocker` document were getting a little confused. It should include more detail about where to install Flocker services, how to set environment variables, that you can create volumes now with Docker CLI and give more detail in example including how to use it with a spec that includes a replication controller.

[2016-01-06 19:32] justinsb opened #19340 "AWS broken by recent commit (?)"
When doing kube-up with head on AWS, the containers are not starting on the master.

From journalctl -fu docker

[code]

From journalctl -fu kubelet

[code]

The `docker-<id>` files seem to be in `/sys/fs/cgroup/cpu,cpuacct/system.slice`, not `/sys/fs/cgroup/cpu,cpuacct/system/system.slice`.

I suspect this is because I set the `--system-container` flag without knowing what it really does:

[code]

[2016-01-06 19:41] davidopp commented on #19079
@deads2k

[2016-01-06 19:41] davidopp commented on #19079
@smarterclayton

[2016-01-06 19:49] krousey commented on #19151
This is caused because an attempts counter is being read/written to without synchronization. I think this is caused by the event creation order not being guaranteed. I am looking a little deeper to track this down.

[2016-01-06 19:51] vishh commented on #16943
cc @jeremyeder

[2016-01-06 20:01] timothysc opened #19341 "reduce kubelet overhead"
**Stack configuration:**
fedora 23
k8's tip-of-master ee006e767ff1d435c525c4c11547e06d364e7621
etcd 2.2.1
docker 1.9.1
go 1.5.2

**experiment:**
1. mock local-up-cluster.sh to allow --max-pods="100" and start local cluster
2. create a simple replication controller 100 wide that starts gcr.io/google_containers/pause:2.0 container with no resource limits specified.
3. during flux + steady state meas

[2016-01-06 20:50] deads2k commented on #19079
/cc @liggitt @kubernetes/kube-iam

A few thoughts while I'm here.  OpenShift has a concept of user, identity, and group objects (https://docs.openshift.org/latest/rest_api/openshift_v1.html) and we're discussing the idea of ownership at the namespace boundary: https://github.com/openshift/origin/pull/6226.

However, the idea of resource ownership is not an obvious extension.  We've had discussion

[2016-01-06 20:56] bitsofinfo opened #19345 "aws guide issue, coreos multinode cluster"
Followed this guide on AWS.

https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/coreos/coreos_multinode_cluster.md

Nothing is available on the master @ 80/443 /ui

When I shell into the boxes (master or nodes I get)

[code]

[2016-01-06 21:02] yujuhong opened #19346 "kubelet not running in /kubelet"
`/sys/fs/cgroup/cpuacct/kubelet` shows no increase of cpu usage. Jenkins builds also show that the resource monitoring test has been measuring 0 cpu usage for /kubelet as far back as 12/31/2015. The builds before that are no longer available.

I confirmed the regression in my local cluster, which showed that kubelet is running in /system.

Bisecting using my local cluster, the offending PR seems t

[2016-01-06 21:15] nikhiljindal commented on #18577
This is required for federated API servers as well https://github.com/kubernetes/kubernetes/pull/17191.

kubectl should use the discovery API to discover the group versions, resources and operations supported in the cluster and build a RESTMapper accordingly.

[2016-01-06 21:19] jimmidyson commented on #19346
Just checked with a build from master & seems to be running in `/kubelet`:

[code]

[2016-01-06 21:23] dchen1107 commented on #19346
Is docker daemon running under cgroup /docker-daemon?

[2016-01-06 21:25] yujuhong commented on #19346
On a  regular e2e cluster on GCE:
[code]

[2016-01-06 21:26] jimmidyson commented on #19346
@dchen1107 Not sure if you're asking me or @yujuhong but on my system:

[code]

I'm running with `hack/local-up-cluster.sh` - not sure if that's equivalent to what runs on GCE as part of e2e? If not please tell me how to reproduce.

[2016-01-06 21:26] jimmidyson commented on #19346
@yujuhong Can you share full kubelet cmd line run please?

[2016-01-06 21:30] yujuhong commented on #19346
@jimmidyson, do you mean this?
[code]

[2016-01-06 21:32] jimmidyson commented on #19346
Does that run containerized for GCE e2e?

[2016-01-06 21:34] swagiaal commented on #14153
@dove-young do you have SELinux enabled ?

[2016-01-06 21:42] bgrant0607 commented on #19106
See also #18262

[2016-01-06 21:48] yujuhong commented on #19341
I wasn't able to reproduce this on my setup. I'm not sure where the discrepancy came from.

**Setup**
 - A regular e2e cluster (Debian) in GCE
 - docker 1.8.3
 - master branch 66d3cbf8898ed5c077be6a8df79b18d458d40c11 + #17700
 - 110 pods on the node
    * 100 single container pods (`gcr.io/google_containers/pause:2.0`)
    * 10 cluster add-on pods on the node

Measured after all pods are running a

[2016-01-06 21:51] timothysc commented on #19341
That is very odd that we have such a large difference, what version of golang are you running?

[2016-01-06 21:54] ncdc commented on #19341
@timothysc can you downgrade to the latest docker 1.8.x rpm and see if that makes a difference?

[2016-01-06 21:55] freehan commented on #19138
How many different tags do you see?

[2016-01-06 21:55] ncdc commented on #19341
@timothysc never mind, I was misreading which component it was

[2016-01-06 21:56] dchen1107 commented on #19341
cc/ @jeder

[2016-01-06 22:03] yujuhong commented on #19341
`go version go1.5.1 linux/amd64`

[2016-01-06 22:04] erictune commented on #19113
Please feel free to send a PR that adds a new credentialprovider that works on AWS.

[2016-01-06 22:04] dchen1107 commented on #19346
@jimmidyson I were asking @yujuhong because if #17883 is the culprit, it should cause docker daemon process being move to a wrong cgroup too.

[2016-01-06 22:06] yujuhong commented on #19346
No, it does not.

[2016-01-06 22:09] #18721 closed

[2016-01-06 22:12] jimmidyson commented on #19346
Can you check the kubelet logs for either:

    Failed to move Kubelet to container

or

    Running in container

[2016-01-06 22:14] therc commented on #19113
I am working on it. First, though, I have another PR to add aws-sdk-go 1.0.7, which is the first to support ECR APIs.

[2016-01-06 22:15] danehans opened #19348 "Bare Metal CoreOS with Kubernetes (OFFLINE) Document Formatting"
Code block formatting is munged throughout this guide:

http://kubernetes.io/v1.1/docs/getting-started-guides/coreos/bare_metal_offline.html

For example:
1. Copy over the syslinux images we will need.

[code]

Appears as:

Download the CoreOS PXE files provided by the CoreOS team.

MY_TFTPROOT_DIR=/tftpboot mkdir -p $MY_TFTPROOT_DIR/images/coreos/ cd $MY_TFTPROOT_DIR/images/coreos/ wget http://st

[2016-01-06 22:17] yujuhong commented on #19346
@jimmidyson I didn't see any error message that stood out. Below are the select lines from the log.

[code]

[2016-01-06 22:19] timothysc commented on #19341
I have greater usage on an idle kubelet, and we saw way worse #s on openshift.

$ sudo ./ps_mem.py -p 2597
Private  +   Shared  =  RAM used	Program
159.6 MiB + 237.5 KiB = 159.8 MiB

[2016-01-06 22:23] janetkuo commented on #19217
@AdoHe Sounds good. Can you give an example of how it'd look like when `kubectl get nodes --show-labels`?

[2016-01-06 22:27] caesarxuchao commented on #18577
I think we need to add `Kind` to `APIResource`. (https://github.com/kubernetes/kubernetes/pull/18835#issuecomment-166444637), and then devise a way to specify the preferred order in case a kind can be mapped to multiple resources.

[2016-01-06 22:30] jimmidyson commented on #19346
Can you share the output of `grep cgroup /proc/self/mountinfo`on a node please? Just want to check that the cgroup mount points look sane.

[2016-01-06 22:39] yujuhong commented on #19346
From :4194/validate

[code]

[2016-01-06 22:42] jimmidyson commented on #19346
Looks good, but could you also share the raw cgroup mount info so I can check format, etc?

[2016-01-06 22:42] yujuhong commented on #19346
[code]

[2016-01-06 22:48] mml commented on #15310
I can't think of a cascading delete that would result in deleting a node, but if the admin manually deletes a node with kubectl, we'd still delete the pod, right?

Also to be clear, I'm not planning to do this by exposing the Forgiveness concept anywhere in the API (it's not well-enough formed yet), but just by hardcoding this behavior into the NodeController when the pod in question is DaemonSet-

[2016-01-06 23:05] yujuhong commented on #19340
/cc @dchen1107 @vishh

[2016-01-06 23:05] yujuhong commented on #19340
/cc @jimmidyson

[2016-01-06 23:09] #18939 closed

[2016-01-06 23:12] jimmidyson commented on #19346
That all looks totally fine.

I wonder if there's some race between running kubelet in `/kubelet` & moving all non-kernel pids to `/system`.

Can you share the full kubelet log? Looking for something like `Moving non-kernel threads`.

[2016-01-06 23:12] jimmidyson commented on #19346
And see if the kubelet pid is in the list of moved pids.

[2016-01-06 23:16] jimmidyson commented on #19340
Confirmed this is a problem with the `--system-container` flag. This is a dupe of #19346 btw.

[2016-01-06 23:21] yujuhong commented on #19346
The beginning (the interesting part) of the kubelet.log: https://gist.github.com/yujuhong/446e5b0fc45e8713fec8

@jimmidyson, yes, kubelet's pid 7127 was in the list of pids to move. I think your theory is right. If this is a race condition, it happens quite frequently though (the few jenkin builds I sampled all had this problem). Can this still be related to #17883, or do you think I just happened

[2016-01-06 23:24] justinsb commented on #19340
Thanks @jimmidyson - I wish I understood this better, but I'll follow #19346 :-)

[2016-01-06 23:27] #19237 closed

[2016-01-06 23:29] jimmidyson commented on #19346
Investigating more it's just plain bad logic rather than a race I think...

Yeah I think it's related to #17883, although I'm surprised it didn't happen before. Just trying to work through the change & see what the impact was.

[2016-01-06 23:32] smarterclayton commented on #18577
Resources can return multiple kinds - we should be careful.

On Jan 6, 2016, at 5:27 PM, Chao Xu <notifications@github.com> wrote:

I think we need to add Kind to APIResource. (#18835 (comment)
<https://github.com/kubernetes/kubernetes/pull/18835#issuecomment-166444637>),
and then devise a way to specify the preferred order in case a kind can be
mapped to multiple resources.

—
Reply to this email

[2016-01-06 23:35] jimmidyson commented on #19346
OK got a fix - prevent moving pids in kubelet cgroup to system cgroup, if specified. PR coming.

[2016-01-07 00:08] jimmidyson commented on #19340
Perhaps this is a different issue after all to do with cgroup parent & systemd Docker issue - https://github.com/docker/docker/issues/17126

[2016-01-07 00:55] spxtr commented on #18704
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/14017/

[code]

[2016-01-07 00:58] spxtr commented on #18960
I switched this back to the old behavior, where we fetch based on a more specific spec than the plugin authors recommend, and I haven't seen this all day. If it's still okay in another couple days I'll re-enable checking out release branches, and if it's still okay after a few days I'll close this.

[2016-01-07 01:06] jlowdermilk commented on #8593
@tombenner, if you have cycles to open a PR, I'd be happy to review it. I think calling it
[code]
is reasonable, but that's an easy detail to decide in the PR.

[2016-01-07 01:44] magicwang-cn commented on #18266
OK, i will do this as soon as possible

no, they are the data for the same period

@xiang90 @lavalamp

[2016-01-07 02:05] AdoHe commented on #19249
@mikedanese I will check our controller manager configuration and add more information here.

[2016-01-07 02:06] AdoHe commented on #19217
@janetkuo I will paste example here when I finish the test today.

[2016-01-07 02:26] magicwang-cn commented on #18266
@xiang90 @lavalamp @hongchaodeng @smarterclayton @HardySimpson
this is the store operation graph:
![etcd_reads_total](https://cloud.githubusercontent.com/assets/7587313/12160652/12938758-b529-11e5-9260-ea4a55382ea9.png)
![etcd_watch_request](https://cloud.githubusercontent.com/assets/7587313/12160655/12992cc6-b529-11e5-91f1-e3da64069f91.png)
![etcd_writes_compareandswap](https://cloud.githubuserco

[2016-01-07 02:29] feiskyer commented on #19341
I have greater usage on idle kubelet too

[code]

[2016-01-07 02:41] #18565 closed

[2016-01-07 02:50] thockin opened #19358 "Proposal: move ConfigMap to core API, call it v1 in kube v1.2"
We've already beta-tested ConfigMap - it was called Secret.  The objects are almost identical.  Having ConfigMap in the core API and fully GA makes it vastly more useful in the near term - there are many things that want to build on it.

Objections?

@bgrant0607 @pmorie @tmrts

[2016-01-07 03:56] bgrant0607 commented on #503
I'm closing this now. Jobs and Deployments are underway. If builds appear in Kubernetes, it will be as some kind of extension. We might need image metadata at some point, but that's not really discussed here in any detail.

[2016-01-07 03:56] #503 closed

[2016-01-07 04:27] bgrant0607 commented on #19358
Discussed with both you and @pmorie earlier today. I agree, provided we can get it done by 1.2.

[2016-01-07 04:27] bgrant0607 commented on #19358
cc @mikedanese

[2016-01-07 04:34] AdoHe commented on #19217
@janetkuo @bgrant0607 I tried to add a `show-labels` flag, and the result looks like:
[code]
how about this result? is it ok?

[2016-01-07 04:45] xiang90 commented on #18266
@magicwang-cn It seems like the 1000 concurrent deletes was killing etcd. Can you find a way to rate limit it and give it another try? Or can you try to give more memory to etcd to see if it survives?

[2016-01-07 04:48] caesarxuchao commented on #18577
@smarterclayton what examples do you have in mind? Looking at the [DefautlRESTMapper.Add()](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/meta/restmapper.go#L115), it seems you won't have one resource mapping to multiple kinds.

[2016-01-07 05:03] magicwang-cn commented on #18266
@xiang90
yeah, apiserver's rate limit may solve this problem, i am planning to have a test(`change the --kube-api-qps param of controller-manager from 20 to 10`).
but every request will do a clone operation may not be a good way? or etcd itself can do the rate limit to keep surviving?

[2016-01-07 07:15] magicwang-cn commented on #18266
@xiang90 @lavalamp
first method(`change the --kube-api-qps param of controller-manager from 20 to 10`), the etcd problem still exist.

[2016-01-07 07:20] xiang90 commented on #18266
@magicwang-cn If you look at the graph you generated, the delete rate is apparently much higher than 20 or 10. It is at the order of 100.

[2016-01-07 07:28] magicwang-cn commented on #18266
no, just about 10/s , you can see as follows:
![etcd_delete_begin](https://cloud.githubusercontent.com/assets/7587313/12164779/41ea9184-b553-11e5-8928-ac17aadb509b.png)
![etcd_delete_end](https://cloud.githubusercontent.com/assets/7587313/12164780/4231dfda-b553-11e5-8462-c2ff2187f89d.png)

[2016-01-07 07:36] xiang90 commented on #18266
@magicwang-cn It is not 10 or 20. You showed me the wrong data I think. The slope of pic2 is 10; the slope of pic5 (the delete one I mentioned) is much higher than it.

[2016-01-07 07:39] christopherhein commented on #19033
For me it's all about getting the registry closer to the actually docker daemon. Reducing the time to pull images, making it easier to move cloud providers (reducing vendor lock in). As long as it's as simple to use as say GCR or docker hub I think it's a worthwhile investment.

My biggest concern right now is the ability to push to the registry, as that with the current implementation it makes it

[2016-01-07 07:42] xiang90 commented on #18266
@magicwang-cn OK. I took a closer look at the pic. The scales of the pics are quite different. But can you show me the rate of etcd_store_writes_total-delete?

[2016-01-07 07:44] magicwang-cn commented on #18266
@xiang no, pic5 is about 20/s, it's the right data. see as follows:
![etcd_delete_1_end](https://cloud.githubusercontent.com/assets/7587313/12165066/9602ca82-b555-11e5-98ea-b6f76594579f.png)
![etcd_delete_6_begin](https://cloud.githubusercontent.com/assets/7587313/12165065/95d4cf1a-b555-11e5-8182-a55a9eac0eda.png)

[2016-01-07 07:46] xiang90 commented on #18266
@magicwang-cn How did you know the rate from the graph?

[2016-01-07 07:49] xiang90 commented on #18266
@magicwang-cn OK. I see. You calculate the rate by using the data (time, total) showed in the two small dialog.

[2016-01-07 07:51] magicwang-cn commented on #18266
@xiang90
the pic1 is: 17:56:19 with 682, and pic2 is: 17:55:57 with 324, so the rate is as follows:
[code]

![etcd_delete_1_end](https://cloud.githubusercontent.com/assets/7587313/12165066/9602ca82-b555-11e5-98ea-b6f76594579f.png)
![etcd_delete_6_begin](https://cloud.githubusercontent.com/assets/7587313/12165065/95d4cf1a-b555-11e5-8182-a55a9eac0eda.png)

[2016-01-07 07:51] magicwang-cn commented on #18266
yeah :)

[2016-01-07 08:05] erez-rabih commented on #19138
Dozens... There is a different tag for every container in they cluster.

[2016-01-07 08:23] gmarek commented on #19254
It's possible that #19187 fixed this, but sadly running tests locally doesn't seem to be a good way to reproduce failures. Fact that tests were passing 100% when run locally was the sad reality with other tests as well. Sometimes adding `sleep` at the beginning of the test made tests fail. We believe that it's the problem that does not appear unless system is heavily loaded (like our Jenkins is).

[2016-01-07 08:31] magicwang-cn commented on #18266
@xiang90
[the delete operation](https://github.com/coreos/etcd/blob/master/etcdserver/server.go#L1053) has not spend much memory, as @smarterclayton said, when deleting, there is still some reads and writes operation,  and plus the [clone operation](https://github.com/coreos/etcd/blob/master/etcdserver/etcdhttp/client.go#L669) in etcd, then the problem happen?

Read object (instead of previous bli

[2016-01-07 08:33] magicwang-cn commented on #18266
@davidopp @lavalamp @wojtek-t @kevin-wangzefeng

[2016-01-07 08:39] gmarek commented on #19249
NodeController should report Node as NotReady after 40s if Node is not updating it's status. The transition to NotReady in the case of DockerFailure is entirely on Kubelet's side. NodeController should notice it here and update its internal cache: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L602
Afterwards it should evict all pods here:
https://github

[2016-01-07 09:16] mqliang commented on #19328
AFAIK, if an image is in use, even used by containers which are ***NOT***managed by kubernetes, kubelet will avoid gc it. But if there is no container using it, the image will be GCed.

[2016-01-07 09:31] mqliang commented on #19111
@bgrant0607 Ok, allow 0 seems dangerous.
[code]

If a user want delete all the old rcs(he make sure that he don't want roll it back) after deployment, he must delete it manually(`kubectl delete rc`).

[2016-01-07 09:37] AdoHe commented on #19346
@jimmidyson so the root cause is #17883?

[2016-01-07 09:54] AdoHe commented on #19341
@feiskyer what you mean idle kubelet? no pod on this node?

[2016-01-07 09:58] moix commented on #9580
Hi @thuey, yes flannel should configure docker service in nodes with that option so each node uses a different network in the range configured in etcd (18.16.0.0/16 in this case)

[2016-01-07 10:00] jimmidyson commented on #19346
@AdoHe It seems to be, but the logic didn't change much & I would have expected this to happen before #17883 too. It could be the logic changed in the runc cgroups implementation getting pids in root cgroup.

[2016-01-07 10:01] AdoHe commented on #19328
@mqliang IIRC, image manager will list all images on the node, but just use containers in the pod to check whether the image is in used, so if the image is actually used by an outside container, image manager still thinks it is not used, so it is easily to get garbage collected. I am not sure whether I misunderstand

[2016-01-07 10:04] AdoHe commented on #19346
@jimmidyson I tested the latest code on my laptop, the output of `ps -o cgroup $(pidof kubelet)` is just ok. So how to reproduce this issue?

[2016-01-07 10:08] feiskyer commented on #19341
@AdoHe y, no pod at all.

[2016-01-07 10:10] jimmidyson commented on #19346
@AdoHe Hopefully you can't reproduce it after this fix :) The way to reproduce it with the previous version is to run the kubelet specifying:

    --resource-container=/kubelet --cgroup-root=/

[2016-01-07 10:14] mqliang commented on #19328
@AdoHe I looked through the code. You are right. Do you mind I send a PR to help fix this?

[2016-01-07 10:18] AdoHe commented on #19341
I used `hach/local-up-cluster.sh` to build the cluster and test usage of idle kubelet:
[code]
It seems the usage is not great.

[2016-01-07 10:20] AdoHe commented on #19328
@dchen1107 what do you think of this issue?

[2016-01-07 10:21] AdoHe commented on #19328
@mqliang I want to make sure the default behavior is correct or not, if possible I will send a PR later.

[2016-01-07 10:22] mqliang commented on #19152
Why not connect to a Nginx, and let Nginx foreword request to multiple api servers?

[2016-01-07 10:22] mqliang commented on #19328
Ok, expect your PR!

[2016-01-07 10:23] AdoHe commented on #19346
@jimmidyson I will try this. Thanks very much.

[2016-01-07 11:30] magicwang-cn commented on #18266
@xiang90 @lavalamp
second method(`increate etcd nodes's cpu and memory, with 8 cpu and 16G mem`), the etcd problem still exist.

[2016-01-07 12:37] Dingshujie commented on #19332
It seems kube2sky can't connect to etcd, so it can't write service and endpointt information into etcd

[2016-01-07 12:49] vishh commented on #19328
I'm in the process of refactoring image gc logic to not talk to the runtime directly, but instead use kubelets's internal state. That change should fix this issue.

[2016-01-07 13:06] gmarek commented on #19048
cc @kubernetes/sig-scalability

[2016-01-07 13:34] jayunit100 commented on #15197
or maybe we can just maintain the tarball in ./ ?   That way there is no need to think about  writing to /tmp or /usr/local or whatever

[2016-01-07 14:17] lavalamp commented on #18577
@smarterclayton The only thing that comes to mind is returning a status when there's an error. Do you have a better example? I don't think Scale counts, since even if the server accepts multiple types, the type it emits would presumably be fixed.

[2016-01-07 14:20] piosz commented on #19229
Yet another fail http://kubekins.dls.corp.google.com/job/kubernetes-test-go/5744/

[2016-01-07 14:24] dchen1107 commented on #19341
@timothysc or @feiskyer can both of you run "docker info" and copy & paste the output here? I suspect the configuration of node (aufs vs. devicemapper, systemd node vs none-systemd, etc.) causes the differences of memory usage of idle kubelets here.

@feiskyer how long your kubelet is running? I want to rule out of the potential memory leakage issue here. Can you post the result of memory profilin

[2016-01-07 14:25] seelam commented on #19185
Here is the docker image with golang for ppc64le: https://hub.docker.com/r/ppc64le/golang/

[2016-01-07 14:48] timothysc commented on #19341
@dchen1107 - https://paste.fedoraproject.org/308193/45217699/

[2016-01-07 15:04] dchen1107 commented on #19341
@timothysc You mentioned above that your stat is collected from an idle kubelet, but I noticed that from pasted output:

$ sudo docker info
Containers: 100

Are you running containers through docker daemon directly? If you do, that explains some of the greater usage here. Kubelet links with cAdvisor, which collects stats from all running containers (I mean all cgroups).

Also are you running conta

[2016-01-07 15:05] lavalamp commented on #18266
@smarterclayton is graceful deletion flag-disableable? I think it'd be a good test to see if the added writes are really causing the problem here or not.

[2016-01-07 15:11] dchen1107 commented on #19328
@AdoHe your understanding code above is right. Like @vishh mentioned above, he is rafactorying the code of GC which should fix the issue here.

But if an image is really used by a container, no matter the container is managed by kubelet or directly by docker daemon, removing such image will failed anyway.

[2016-01-07 15:21] vishh commented on #19328
In general, the recommendation is to not run docker containers outside of
kubelet since it complicates kubelet unnecessarily. Although my upcoming PR
will fix this, I'd suggest not following such a pattern.
For example, disk accounting will be wrecked if containers are run outside
of kubelet, and kubernetes cannot guarantee its semantics because of that.

On Thu, Jan 7, 2016 at 7:12 AM, Dawn Chen

[2016-01-07 15:22] tacy commented on #19201
Sorry, the rbd manual is out of date, I can map volume using '--key',  this root cause is my secret typo

I close it

[2016-01-07 15:22] #19201 closed

[2016-01-07 15:34] ramonrue commented on #19332
I've checked the kube2sky logs and got the following:
[code]
I've secured the whole kubernetes setup with certificates...how can I add them to the DNS-Service?

[2016-01-07 15:43] jsravn commented on #17641
I can reproduce this pretty easily with persistent http connections where the client doesn't actively check for stale connections (such as Apache httpclient's connection pooling). If the server keepalive is less than client keepalive, the server will close the socket and the client won't close it properly. This leads to a FIN_WAIT2 socket to the client, and CLOSE_WAIT on the server.

[2016-01-07 16:08] AdoHe commented on #19328
@dchen1107 sure, the image in used can not be removed.

[2016-01-07 16:09] AdoHe commented on #19328
@vishh yes, we should better follow this pattern to not run containers outside of kubelet.

[2016-01-07 16:19] pmorie opened #19367 "It should be possible to consume specific annotations/labels in env vars"
During the initial downward API implementation for environment vars, we decided to punt on exposing specific annotations/labels in environment variables because it would require container restart if those values changed, and we wanted to be able to change annotations/labels without restarting containers.  During an F2F meeting today, we decided to just implement this with the caveat that env vars

[2016-01-07 16:23] timothysc commented on #19341
So I re-ran the whole experiment on the same machine cleaning everything and starting from ab6edd8170522fa775fb5054d1c54b4e0d791444

Cleaning Docker :
[code]

re-running experiment from idle:

[code]

idle looks better after... Now loading up the machine:
[code]

[2016-01-07 16:27] kha0S commented on #16047
Any development on this?

[2016-01-07 16:28] calvix commented on #19060
I am terrible sorry but this is solved by some (for me hidden) functionality in openshift.
One of the developer from Red hat pointed that you have to change this:

fsGroup:
  type: RunAsAny
to
fsGroup:
  type: MustRunAs
oc edit scc restricted

[2016-01-07 16:28] #19060 closed

[2016-01-07 16:33] luxas commented on #19316
Here's the project: https://github.com/kubernetes/dashboard
Beta is probably coming in January-February

[2016-01-07 16:39] luxas commented on #19227
Well, I think it's working with `v1.1.1` also, it shouldn't be huge difference between `1.1.1` and `1.1.3`.
So I would suggest you find something more than that before you send a PR. First, you have to sign the CLA. Then, click on `Make a Pull Request` or something like that when you're browsing your fork in the Github UI.

But you must revert what you have done now and make a branch first and com

[2016-01-07 16:47] luxas commented on #19228
Soon #17213 is merged, I hope. But `v1.1.3` has this PR already merged in, so that would work.
But instead another issue appears. The `apiserver` cert isn't signed for `10.0.0.10`, so DNS without `KUBE_SERVER` won't work until we fix that.

I tested setting `KUBE_SERVER` to `127.0.0.1` and it didn't work. I don't know what kind of setup you have. `localhost:8080` in the pod will refer to the `exec

[2016-01-07 16:47] piosz commented on #17523
The test failed again
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10260/console

[2016-01-07 16:50] cameronbrunner commented on #19080
We have 100 licenses for an application with these licenses managed by a flexlm license server.  We can use these licenses on any machine in our cluster but we are limited to running 100 concurrent instances of the application.  We do not want Kubernetes to start up more than 100 concurrent containers that require this license.

The behavior of licenses in this example is similar to a consumable h

[2016-01-07 17:54] roberthbailey commented on #14661
Healthchecking the kube-proxy seems like the best idea to me. Port 10249 is currently used for both healthz and pprof, and we might not want pprof data exposed to the internet. But it wouldn't be difficult to make healthz bind to 0.0.0.0 by default (even if we moved pprof to a different port) and then allow 10249 to be opened to healthcheckers as necessary.

I don't think we should be doing our ow

[2016-01-07 17:55] mikedanese commented on #19254
This looks like https://github.com/golang/go/issues/12262. Fixed in go1.6

[2016-01-07 17:58] bgrant0607 commented on #831
cc @erinboyd

[2016-01-07 18:03] bgrant0607 commented on #831
Other use cases:
#16010
https://github.com/flynn/flynn/tree/master/slugrunner, if it didn't already support pulling from URL

[2016-01-07 18:08] thockin commented on #12534
I mean kubernetes ServiceAccounts.  Each namespace should have a default
service account which has credentials to access the apiserver.

On Tue, Jan 5, 2016 at 3:20 AM, thibault deheurles <notifications@github.com

[2016-01-07 18:10] roberthbailey commented on #13515
@ihmccreery - Are we still seeing the firewalls being leaked?

[2016-01-07 18:11] krousey commented on #19151
Got a fix with 130k+ runs and no failures. Will send out PR shortly.

[2016-01-07 18:12] brendandburns commented on #18811
netcat is installed on the other builder as well.  I'm going to close this for now.

If this fails again, there's something else going on with this issue...

[2016-01-07 18:12] #18811 closed

[2016-01-07 18:13] roberthbailey commented on #19233
Where is this test running (I just checked and netcat is installed on containerVM instances by default). Can we use a different image (or base image if this is running in a container) that has netcat to fix this issue?

[2016-01-07 18:16] roberthbailey commented on #19248
Fixed by https://github.com/kubernetes/kubernetes/pull/19250.

[2016-01-07 18:22] thockin commented on #19332
Please start here:

https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-117267504

On Thu, Jan 7, 2016 at 7:35 AM, ramonrue <notifications@github.com> wrote:

[2016-01-07 18:23] thockin commented on #12534
https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-117267504

[2016-01-07 18:36] thockin commented on #19367
SGTM

On Thu, Jan 7, 2016 at 8:20 AM, Paul Morie <notifications@github.com> wrote:

[2016-01-07 18:47] dchen1107 commented on #19341
@timothysc I am in the plane, cannot verify it now. But based on your latest message, looks like we leak some PODInfra containers without cleanup, which results resource waste obviously. If that is true, it is a bug.

Meanwhile, we can do some analysis on our management overhead per pod / container. The overhead is quite high here.

[2016-01-07 18:50] kcraft commented on #12534
I have also confirmed that once the ServiceAccount admission controller is enabled, the kube_master_url option is no longer required.

[2016-01-07 19:00] tdeheurles commented on #12534
Thanks @thockin & @kcraft.

I have a service account but no secrets. Will have a look to AdmissionController.
I have to look and clean all the config ^^

[2016-01-07 19:00] dchen1107 commented on #19264
@AdoHe Thanks for helping us debugging the issue. @freshfrmthehood any more updates on this one?

[2016-01-07 19:10] yujuhong commented on #19341
I don't think there is a pod infra container leakage....they are just dead (exited) containers waiting to be garbage collected. They should not consume that much resource.

If the memory usage difference is caused by the configuration of the node, most of the extra overhead should come from cadvisor. @feiskyer, could you also run `docker info` and paste the output? Thanks.

[2016-01-07 19:13] goltermann commented on #18780
I don't think strict ordering is going to work for the number of issues we have (maybe it would work just for major features, but not for the general issue queue).

Perhaps the right thing is to capture urgency by just putting each issue in a milestone (which we've done at earlier points in the project, but not consistently).   We could have current, next and >next as the 3 milestones open at a gi

[2016-01-07 19:17] dchen1107 commented on #19328
@AdoHe I am closing this issue as work-as-intended here. Today Kubelet only removes unused images when disk under pressure, no matter the image is pulled by docker directly or through kubelet. You definitely want to Kubelet, the node agent here to do this for node protection. Soon we want to add support to failed some running pods to clean up more disk space under OOD condition.

@vishh Not runnin

[2016-01-07 19:17] #19328 closed

[2016-01-07 19:26] quinton-hoole commented on #19254
@mikedanese nice sleuthing!  It sounds like we should just add a temporary work-around to the test (eliminate timeouts) until we upgrade to go 1.6 (which might take quite some time).

Q

[2016-01-07 19:28] quinton-hoole commented on #13515
@roberthbailey I checked this out yesterday, and yes, we still seem to have a leak.  I've not root caused or fixed it yet, mind you.

[2016-01-07 19:30] quinton-hoole commented on #13515
@roberthbailey I don't think that the leak is specific to GKE tests, mind you.  I see leaked firewall rules in other, non-GKE tests too.  When I have a moment, I'll try to fix all of them, as I assume that there is a single root cause.

[2016-01-07 19:34] ihmccreery opened #19373 "Push release artifacts regionally"
We want release artifacts to be regionally available, not just available in US.

[2016-01-07 19:36] quinton-hoole commented on #18780
@bgrant0607 @goltermann I'll table this for brief discussion at our pow-wow next week.  I'm not necessarily wedded to the process described in this issue, but it seems that we do need to make some sort of fundamental change to how we order issues into a work queue, as the currently process simply doesn't work well.  Alternative suggestions welcome (@golterman, I think that your proposal above can

[2016-01-07 19:38] dchen1107 commented on #19180
@ArtfulCoder Could you please take a look at this one?

[2016-01-07 19:54] yujuhong commented on #19341
This is alarming.

@timothysc would you mind getting the heap profile of kubelet?
`go tool pprof -inuse_space <kubelet_binary_path> http://localhost:8001/api/v1/proxy/nodes/<node_name>/debug/pprof/heap`

You can also check if it's leaking goroutines.
`http://localhost:8001/api/v1/proxy/nodes/<node_name>/debug/pprof/`

[2016-01-07 19:57] dchen1107 commented on #19341
@yujuhong The infra container leakage I brought up is related to cAdvisor. Even those containers are dead, but cAdvisor might still collect disk related stats for those dead containers.

[2016-01-07 20:06] timstclair commented on #19341
As an aside, I think https://github.com/kubernetes/kubernetes/pull/19374 should reduce the cAdvisor usage by a little under 10x. I'll work on getting some hard numbers to back this claim up.

[2016-01-07 20:10] yujuhong commented on #19341
Too bad that would't help with the memory usage though

[2016-01-07 20:12] dchen1107 commented on #18969
I am shocked the node registration has the dependency with kubelet's log level. But under e2e circumstances, it might be possible due to slow running kubelet with enormous logging, and reaches some timeout values here. In the plane, cannot check our Jenkins builds yet.

[2016-01-07 20:13] timstclair commented on #19341
I was referring to the memory usage, sorry I didn't make that clear. cAdvisor stores 2 minutes of historical collection data, which is 120 data points at the current collection rate of 1 second. With the 10 second interval, that will be decreased ot 12 points.

[2016-01-07 20:25] quinton-hoole commented on #19268
A different error with the same unit test.  Perhaps fix in the same debugging effort?

[code]

[2016-01-07 21:03] MikeSpreitzer commented on #18723
How do we make progress on this?

[2016-01-07 21:06] luxas commented on #19185
@qq511700505 Now is the code merged. So you can do this (in the future)
[code]
As I said, `etcd` doesn't compile on `2.2.x` and `2.3.0` isn't released for the moment. But, in the future you may do that. This commit fixed the issue, but it isn't in any release yet: https://github.com/coreos/etcd/commit/b4e0dbe721637bb6b36575a06f6f05b9251946f1

So you have to wait... unfortunately.
Or you could edit

[2016-01-07 21:15] spxtr commented on #18960
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/8379/console

Here the problem was that it was trying to pull a commit that had been force-pushed away in the PR. Looks like it might be a ghprb bug.

[2016-01-07 21:32] yujuhong commented on #19341
Ah...I see.

@timothysc, it might worth checking the memory usage when setting a longer housekeeping interval `--housekeeping-interval=10`. Given that your usage numbers are much higher, maybe the impact would be more obvious.

[2016-01-07 21:58] krousey commented on #19268
Dupe of #19151, which I have a PR out now that fixes it. #19368

[2016-01-07 21:58] #19268 closed

[2016-01-07 22:03] sdminonne commented on #19367
/sub

[2016-01-07 22:03] krousey commented on #19229
This is a known bug in Go. https://github.com/golang/go/issues/12262 as noted in a similar failure we have #19254. Perhaps we should consolidate all occurrences of this into a single issue?

[2016-01-07 22:15] derekwaynecarr commented on #18093
This has been removed from the code base.

[2016-01-07 22:15] #18093 closed

[2016-01-07 22:16] derekwaynecarr commented on #17556
I am closing this issue because there is an active proposal PR that can track this.

[2016-01-07 22:16] #17556 closed

[2016-01-07 22:17] freehan commented on #19033
@christopherhein I assume you are using docker-machine on your mac with local docker host, right? Port-forwarding should work out of the box if you are on a box with native docker.(not a local vm with docker)

I found a way to make port-forwarding work with docker-machine on mac. Need to initiate port-forwarding inside the docker host. Then I am able to push image to kube-registry. The pain point

[2016-01-07 22:17] derekwaynecarr commented on #14452
I am closing this issue since eviction on node, and qos requirements capture known next steps.

[2016-01-07 22:17] #14452 closed

[2016-01-07 22:20] christopherhein commented on #19033
@freehan thanks, yes your right docker-machine on OSX. I'll see if I can get that running and get back

[2016-01-07 22:42] davidopp commented on #18670
@smarterclayton @thockin have some input on this

[2016-01-08 00:11] freehan opened #19384 "Kubelet restart e2e test did not report failure when container got replaced"
Kubelet restart test:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/daemon_restart.go#L298

Kubelet restart test should have reported failure when containers got recreated. The test only checks whether containers were restarted. But if the containers got replaced, their restart count will be 0. The test should also compare the containers' id before and after kubelet restarts.

Rela

[2016-01-08 00:13] davidopp commented on #19254
Or should we downgrade to 1.4 and then upgrade directly from 1.4 to 1.6?

[2016-01-08 00:13] davidopp commented on #19229
Yeah, I'll close this as a dupe of #19254. Thanks, Kris.

[2016-01-08 00:13] #19229 closed

[2016-01-08 00:16] krousey commented on #19254
It's a test only bug. I'd still want 1.5 coverage as it exposed many real
issues.

Perhaps we build our own toolchain with a patch for our Jenkins instance?
On Jan 7, 2016 4:13 PM, "David Oppenheimer" <notifications@github.com>
wrote:

[2016-01-08 00:20] grobie commented on #11606
Any updates?

[2016-01-08 00:22] justinsb opened #19386 "AWS: error from salt minion logs"
Not sure if this is causing a problem, but it looks like the version test for salt can't find salt:

[code]

cc @brendandburns in case you're still having trouble with AWS e2e

[2016-01-08 00:23] timstclair opened #19387 "e2e flakes: pod killed prematurely (deployment should create new pods)"
From the logs, it looks like the pod was determined to be `terminated` before it was started running. There are actually 2 issues here:

1. The pod was killed on the before it was started
2. After killing the pod, kubelet continued to download the image and attempted to bring up the container.

Relevant log snippets from [kubelet.log](https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-je

[2016-01-08 00:24] timstclair commented on #17931
Another failure, another error, this one also different. I filed a separate issue for this one: https://github.com/kubernetes/kubernetes/issues/19387

[2016-01-08 00:24] timstclair commented on #19387
Oops, looks like this is a duplicate of https://github.com/kubernetes/kubernetes/issues/18943

[2016-01-08 00:24] justinsb opened #19388 "AWS: kube-node-unpacker not starting"
On AWS, the kube-node-unpacker service is not starting, and so the kube-proxy is not starting, because the image is not registered.

`systemctl start kube-node-unpacker` starts it.

This is in `/var/log/salt/minion`:

[code]

I suspect we're relying on salt to start a systemd service instead of using the workaround ;-)

cc @brendandburns because will likely case AWS e2e to fail right now

[2016-01-08 00:27] timstclair commented on #19387
Acted too soon, as I see https://github.com/kubernetes/kubernetes/issues/18943 was deduped to https://github.com/kubernetes/kubernetes/issues/17931, which this was forked from (circular issue dependencies?).

@janetkuo @nikhiljindal - I'd like to keep this separate from https://github.com/kubernetes/kubernetes/issues/17931 since it clearly has different symptoms from some of the other flakes (desp

[2016-01-08 00:36] freehan commented on #19138
hmmmm... The kubelet log should have been covered already.

Could you check if the following files exist on nodes?
/var/log/kubelet.log
/var/log/es-kubelet.log.pos

[2016-01-08 00:45] krousey commented on #19254
@ixdy would it be possible to run our jenkins jobs with a patched go 1.5 toolchain?

[2016-01-08 00:49] davidopp commented on #12226
Related to #18670

[2016-01-08 00:52] quinton-hoole commented on #19254
@krousey I don't think that it's a good idea to build and run a custom go platform.  Other developers will be using a standard go distro, and we want their tests to pass too :-)
@davidopp go 1.6 is likely many moons away. I think we should adopt 1.5, and resolve any issues that we run into, as @krousey suggests.

[2016-01-08 00:56] quinton-hoole commented on #19254
My apologies, I'm wrong.  Go 1.6 is scheduled for release on Feb 1 2016.

https://groups.google.com/forum/#!topic/golang-dev/vNboccLL95c

But even so, I think that getting things working right on go 1.5 makes sense.   The required test workaround seems pretty trivial.

[2016-01-08 00:57] janetkuo commented on #18996
Fix #19344 is merged. Will close this if the e2e test becomes stable.

[2016-01-08 00:57] janetkuo commented on #19064
Fix #19344 is merged. Will close this if the e2e test becomes stable.

[2016-01-08 00:57] janetkuo commented on #19299
Fix #19344 is merged. Will close this if the e2e test becomes stable.

[2016-01-08 00:59] krousey commented on #19254
@quinton-hoole as it would only affect a test package, and therefore only our tests, I don't see the harm in it. We could even provide the patch if they wanted less flaky tests too. But if there's a simple workaround (I didn't see one), that would definitely be preferred.

[2016-01-08 01:04] mikedanese commented on #19254
The workaround would be to comment out all the calss to ts.Close() and leave a note to uncomment them when we stop supporting 1.5.

The patch would not require rebuilding the toolchain, it's would only require applying against $GO_ROOT. It's a decently sized patch though.

https://go-review.googlesource.com/#/c/15151/15/src/net/http/httptest/server.go

Workaround sounds easier

[2016-01-08 01:08] quinton-hoole commented on #18810
@smarterclayton @fejta @ixdy
Who's looking into the remainder of these failures?  I just got another instance of this:

https://00e9e64bac7dbe245cf7238ab7b5da8379a4c0e5e9665105b2-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2F0f8d6aee96117982db7aa1ea2ad5833923117520%2Fkubernetes-pull-test-unit-integration%2F8376%2Fbuild-log.txt?qk=AD5uMEtSYkc3mZTKfW9j2L

[2016-01-08 02:09] bgrant0607 commented on #19367
@pmorie Is that what we decided?

My view is that since the downward API would be explicit, we could restart only those containers that injected annotations that were modified, and users should know what they signed up for. If they don't want restarts, don't use env vars or don't modify the annotations.

We can't do this with service links because we don't know what containers use what service lin

[2016-01-08 02:10] bgrant0607 commented on #18780
I'm in favor of a milestone-oriented approach to urgency.

[2016-01-08 02:12] feiskyer commented on #19341
@dchen1107 @yujuhong  I have running this kubelet with hyper runtime for more than a month. I just watched the output of `ps_mem.py` for a while. It's not stable indeed, varies from 30M-300M. Have you seen the same phenomenon?

[2016-01-08 02:28] AdoHe commented on #19264
@dchen1107 I think the openstack cloud provider has potential bugs. I will try to figure out.

[2016-01-08 02:42] yujuhong commented on #19341
@feiskyer, how many pods were you running on the node? I'll measure overnight to see if it fluctuates.

[2016-01-08 02:45] yujuhong commented on #19341
Also, it could fluctuate because of go GC, but the range you mentioned seems a bit extreme.

[2016-01-08 02:46] feiskyer commented on #19341
@yujuhong Only one pod on this node.

[2016-01-08 02:58] bgrant0607 commented on #18670
See also #12226

[2016-01-08 02:58] smarterclayton commented on #12226
We discussed this today some and while there are some short term advantages, the addition of additional unstructured structure does not dramatically improve the ability of the annotation to fulfill its core purpose - allowing third parties to carry opaque data with arbitrary objects.  The json structure of the child object is only truly beneficial in a json serialization - and we already anticipat

[2016-01-08 02:59] magicwang-cn commented on #18266
@lavalamp @xiang90
but sometimes deploying pods will also has this problem, so i think we should find the root cause.

[2016-01-08 02:59] ihmccreery opened #19394 "GKE tests failing due to change in Cloud SDK output"
[code]

#19350 will hopefully fix the problem.  If it does, it'll need to be backported to v1.1 and it'll need to be included in `v1.1.4`.  (cc @david-mcmahon)

We're seeing this in test & staging, but not in prod; presumably the new output has only been pushed to `staging` and `rc`.

[2016-01-08 03:12] thockin commented on #12226
+1 to @smarterclayton - I move close this

[2016-01-08 03:14] AdoHe commented on #19346
@jimmidyson I did try to reproduce this issue on my laptop as you said, but the result of `ps -o cgroup $(pidof kubelet)` is still ok, kubelet is in the `/kubelet` cgroup, besides I am using the latest code.

[2016-01-08 03:16] thockin commented on #19367
I understood the agreement to be that we would start with no-restart and
consider moving to optional restart-on-change.  In a parallel conversation,
ISTR @smarterclayton agreeing that we could allow an opt-in for Secret
volumes to self-update, and maybe an opt-out for down-api volumes.

It won't be 100% consistent (secret is no-update by default, the rest
probably are auto-updated), but it will be

[2016-01-08 03:26] AdoHe commented on #19249
@mikedanese @gmarek I have checked that our controller manager uses the default configuration and the default node update frequency of kubelet is 10s, the expected time should be `5m + 30s + 5s + 10s`, but the result is `11m` before the pods get deleted. kind of tricky.

[2016-01-08 03:34] parikhyash opened #19395 "kubectl cascade option doesn't work"
I've gone into a state where I have two RCs with the same pod selectors. I am unable to delete either RC and see the following error:

[code]

The cascade option suggested does not seem to work.

[code]

Is there any solution to get around this. I can't delete any RCs and the current namespace has been rendered unusable.

[2016-01-08 03:57] bgrant0607 commented on #18372
I think there are 2 patterns people will use with ConfigMap:

1. Update the ConfigMap and expect it to immediately propagate to all instances. They may watch their configurations using using inotify, or expect a HUP, or just restart. This is useful for applications where all replicas need consistent configuration. I'd guess etcd and Zookeeper are in this category.

2. Create a new ConfigMap, updat

[2016-01-08 04:06] david-mcmahon commented on #19394
My first inclination is to add a milestone for this but then I see there aren't any for patch releases.  How are we tracking issues that need to be fixed in patch releases?

[2016-01-08 04:06] ncdc commented on #19358
:+1:

[2016-01-08 04:12] ncdc commented on #19317
cc @derekwaynecarr. Do you think the namespace controller is in some sort of infinite loop?

[2016-01-08 04:15] ncdc commented on #19184
cc @deads2k

[2016-01-08 04:22] magicwang-cn commented on #18266
@lavalamp @xiang90 @smarterclayton @hongchaodeng
i have a test without graceful delete, then the problem is not reproduce.
to sum up:
- in condition of large nodes and pods(`about 500 nodes 15000 pods`), graceful deleting(`additional reads and writes`)  will case etcd OOM problem, and the root case maybe >the delete operation has not spend much memory, as @smarterclayton said, when deleting, there

[2016-01-08 04:34] derekwaynecarr commented on #19317
Can you paste the output for:

kubectl get namespace/openshift -o json

I assume openshift is no longer running on your cluster?  Is there any
content in that namespace?

On Thursday, January 7, 2016, Andy Goldstein <notifications@github.com>
wrote:

[2016-01-08 04:34] xiang90 commented on #18266
@magicwang-cn

Have you tried to reproduce the OOM issue without k8s. Like creating 100K keys and removing them at high rate. Will you also observe the same memory increase?

[2016-01-08 05:22] ravigadde commented on #12226
@smarterclayton
If someone is using a client to create a pod, the limitation with annotations is not a big deal as the client can do the encoding. The problem exists for kubectl users with hand written pod specs, cant expect users to encode by hand. Would prefer to use kubectl for creating pods and not invent a layer above it just for this purpose (and then be burdened with keeping up with kubectl

[2016-01-08 05:34] robcherish opened #19397 "one pod can not ping to other minion pod"
I used https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md to deploy a kubernetes cluster on three ubuntu machines.
and I used the latest git repo with
$ export KUBE_VERSION=1.1.2
$ export FLANNEL_VERSION=0.5.5
$ export ETCD_VERSION=2.2.1
and I can lunch k8s successfully and use command 'kubectl get nodes'
NAME            LABELS

[2016-01-08 05:38] erictune commented on #19367
If we are going to do no-restart at first, then I think we need to reject
annotation and label updates on pods that use downward API.

Otherwise, if we allow metadata updates, and don't restart, then we we
switch to restarting, that is a breaking change.

On Thu, Jan 7, 2016 at 7:17 PM, Tim Hockin <notifications@github.com> wrote:

[2016-01-08 05:40] bgrant0607 commented on #18538
#18298 contains another bug fix that is also technically a breaking change (add omitempty to indicate an optional field).

We've also previously discussed adding other kinds of validation for things that would silently do something other than what the user intended.

We need a standard way of handling such issues. Technically we should wait until a new API version, but, practically, we can't do th

[2016-01-08 05:54] bgrant0607 commented on #18587
PVs aren't shared, so Guaranteed/Burstable/BestEffort doesn't make sense in this context.

However, as for pods, binding is based on Request, not Limit. Request is a better term, because it is an expression of how much is needed.

Limit implies a max -- no more than. Limit happens to not be enforced AFAIK, and I'd be fine with removing it from PVC. We can add it back if we decide it's needed in th

[2016-01-08 06:04] bgrant0607 commented on #12526
cc @erinboyd

[2016-01-08 06:17] erictune commented on #10439
I wasn't considering having this interact with #2209.   There hasn't been much interest in that issue in quite a while.

[2016-01-08 06:22] dalanlan commented on #19161
@lavalamp Just confirm it functions well. I would love to help with the doc.
OTOH i was wondering whether it would be less confusing to use `string` instead of `string slice` here for `--api-server` flag consumed by kubelet, since we are not gonna support internal round robin anyway.

[2016-01-08 06:35] bgrant0607 commented on #18610
@karlkfi Are you looking for feedback/approval on the part of the proposal described in this issue?

[2016-01-08 06:39] davidopp commented on #18610
@mikedanese

[2016-01-08 06:41] gmarek commented on #19249
@AdoHe - can you grab all the events mentioning the Node in question? There should be an event for any change of the status.

[2016-01-08 06:45] bgrant0607 commented on #18527
I don't remember the reason for the extra level of struct in spec. It looks vestigial:
https://github.com/kubernetes/kubernetes/pull/15706/files

Not sure if we might want to report status in multiple formats in the future, though, for which the nested structure would be better.

[2016-01-08 06:46] gmarek commented on #18969
@quinton-hoole said that we probably shouldn't worry about this failures, as they are rare in GCE. If we fail in one of 10 runs of 1000 machines and only 1 or two of them are not responsive it means that we succeed 99.98% of times - which is most likely good enough.

OTOH Samsung said they have much higher failure rate, which may mean that there's some underlying issue: @spiffxp @countspongebob

[2016-01-08 07:03] bprashanth commented on #19155
This is passing now and I've been watching the cluster for leaked resources with no luck (http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-flaky/lastCompletedBuild/testReport/(root)/Kubernetes%20e2e%20suite/GCE_L7_LoadBalancer_Controller__Serial___Slow___Flaky__should_create_GCE_L7_loadbalancers_and_verify_Ingress/history/).

That's the problem with these tests that create external resou

[2016-01-08 07:23] ixdy commented on #19064
Still seems to be failing. As seen in https://github.com/kubernetes/kubernetes/pull/19156#issuecomment-169913089:
[code]

[2016-01-08 07:34] ramonrue commented on #19332
Hi,
Executing the commands in your comment gives me the following:
[code]

So if I understand it right, I have all the secrets I need. The flag at the kube-apiserver is also set:
[code]
I just do not have any secret mounted at the kube2sky-Pod. How do I have to add the secret to the Pod? What's the destination folder?

[2016-01-08 07:36] jimmidyson commented on #19346
Can you share the git revision you built from & the  command you ran to start the kubelet?

I can reproduce this with master every time using the flags I specified above.

[2016-01-08 08:21] jimmidyson commented on #19341
cadvisor watches cgroups creation/deletion so if cgroups are only cleaned up on container delete (kubelet GC) then that could explain the leakage: GC is only triggered when hitting thresholds IIRC. I will try to validate docker behaviour today & how cadvisor behaves.

[2016-01-08 08:31] #19248 closed

[2016-01-08 08:45] gmarek commented on #12429
If only I had time for this... For now I increased thresholds, but I do think those were genuine failures. I.e. I don't believe that 'occasional spikes' can happen in every single run.

[2016-01-08 08:50] imkin opened #19401 "kube-apiserver not starting for debian 8 with systemd"
after salt installed all the packages found that api-server control-manager and scheduler did not come up.

Saw the following logs in syslog.

I0107 18:56:58.932311   18723 server.go:806] Event(api.ObjectReference{Kind:"Node", Namespace:"", Name:"kubernetes-master", UID:"kubernetes-master", APIVersion:"", ResourceVersion:"", FieldPath:""}): type: 'Warning' reason: 'MissingClusterDNS' kubelet does

[2016-01-08 08:53] feihujiang commented on #19395
The stop command is deprecated, --cascade option isn't implemented in the stop command.
You can try ```kubectl delete --cascade=false```.

[2016-01-08 08:53] AdoHe commented on #19341
@jimmidyson so any pod deletion will not clean up cgroups as kubelet just call container stop?

[2016-01-08 08:54] dalanlan commented on #10265
This could be a stupid question, yet i was wondering why we use `https://kubernetes` instead of `http://kubernetes` here? Since `service` is said to be a layer3 stuff (according to the service doc), i can barely understand how `http` or `https` in involved here ;-/

[2016-01-08 08:55] Hui-Zhi commented on #19049
@davidopp Could you also assign me as owner or assignee?

[2016-01-08 08:58] AdoHe commented on #19346
@jimmidyson
[code]

[2016-01-08 09:02] jimmidyson commented on #19341
@AdoHe Correct: pod deletion does just call container stop. The kubelet periodically performs garbage collection (cleaning up of dead containers & unused images) but only when certain thresholds are reached. These are configurable but I'll defer to someone who knows this a little better than me to define what settings are possible & what their defaults are.

[2016-01-08 09:07] jimmidyson commented on #19341
Docker stop does clean up cgroups so the leak shouldn't be there in cadvisor - see https://gist.github.com/jimmidyson/1bf5fc07d7bd2251fb95 for cgroup creation/deletion via inotify on container start/stop.

[2016-01-08 09:12] roberthbailey commented on #10265
The kubernetes service connects to the apiserver. In most deployments, the apiserver is only accessible (other than on the local host) via HTTPS. If you try to connect via HTTP you will get an error. The service abstraction finds you an IP to connect to. You still must specify the port to connect to (in this case inferred as 443 due to https) and the protocol to use. You can run non-http protocols

[2016-01-08 09:18] dalanlan commented on #10265
@roberthbailey  Thank you for your quick response.

via kube-proxy?

[2016-01-08 09:47] gmarek opened #19403 "integration flake: kubectl delete pods"
[code]
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/f5a41823c2b988f158d12322bf89cd6113190f0c/kubernetes-pull-test-unit-integration/8470/build-log.txt

cc @janetkuo @kubernetes/goog-ux @ixdy @lavalamp

[2016-01-08 11:15] torbjornvatn commented on #13355
I'm also really interested in this feature because it would make it a lot easier to make *log based metrics* in Google Cloud Monitoring that can trigger an alert on e.g. "X number of ERRORs the last minute"

[2016-01-08 11:54] ernestoalejo opened #19405 "BufferQueueLimitError in the fluentd container of the master"
I have a cluster in GCE. `Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.3"`. I have enabled logging to GCP. Updated from a previous 1.1 version in November.

Yesterday the fluentd container of the master started emitting these errors twice per second approximately:
[code]

It kept that way until I manually restarted the Docker container today. It didn't send any logs to the console in the meanti

[2016-01-08 12:49] jorgegilmoreira commented on #16047
+1

[2016-01-08 13:01] deads2k commented on #19184
@eparis The `BoolFlag` handles "true", "false", "unset" and has a default value.  I seem to recall you were looking at changing it, but we needed to preserve the value.

The complain here is that you have to do `--flag=true` instead of just `--flag`.

/cc @liggitt

[2016-01-08 13:03] bgrant0607 commented on #18111
A few other potential candidates: Storm, Kafka, Consul, HDFS, ElasticSearch

[2016-01-08 13:27] mikesplain commented on #16047
If it's any help to others, in the meantime I've setup an ingress controller, put it on a node port, and utilized that for internal load balancing https://github.com/kubernetes/contrib/tree/master/Ingress/controllers.  It's definitely a bit faster than spinning up a whole ELB, which is awesome, but it does require some external config in order to actually setup the internal ELB, and open security

[2016-01-08 13:32] willmore commented on #12670
Hi folks - seeing this issue on our AWS-hosted cluster.
Looking at this and other related threads, it seems upgrading to Docker-1.9 could be what we need. However, 1.9 has not yet been validated.
Could anyone provide guidance on what to do in the meantime? Perhaps run a reaper that monitors the cluster for "stuck" pods and kills them?

[2016-01-08 13:37] justinsb commented on #19388
I suspect this is actually the same as #19386 ; I suspect that the test for salt helium is failing and we are falling back to init.d

[2016-01-08 14:25] 2opremio commented on #18239
kubernetes#19069 does fix this for me too

[2016-01-08 15:21] Andyccs opened #19408 "Better script to bring up Kubernete cluster"
If we run the `get-kube.sh` script using the following command and if this if the first time you run this script, then the create_cluster function will fail because the `kubernete` directory does not exist:

[code]

If you look at the script to bring up Kubernete cluster (https://github.com/kubernetes/kubernetes/blob/master/cluster/get-kube.sh)

[code]

I propose the following

[code]

[2016-01-08 15:50] ihmccreery commented on #19155
Yup, we have plans to do that in #18119, hopefully this quarter.

[2016-01-08 15:54] eparis commented on #19184
fixing `--flag` is really easy....

[2016-01-08 16:03] lavalamp commented on #18266
@magicwang-cn

Thank you so much for doing that.

@xiang90

I predict this would not be the issue-- I think it's the flurry of writes before the ultimate delete. "graceful delete" in our system doesn't do an immediate delete; it puts a pod into a DELETING state and then waits for kubelet to confirm that all of its containers have stopped (all of which are writes) before actually deleting the pod.

[2016-01-08 17:11] timothysc commented on #19341
@yujuhong

odd thing is heap is not that much...
https://paste.fedoraproject.org/308702/45227300/

[2016-01-08 17:23] quinton-hoole opened #19413 "Multi-zone e2e tests for Ubernetes Lite"
1. We need a CI (Jenkins) test job that builds a multi-zone K8s cluster (as per #17919) and runs all existing e2e tests against it.
2. We need a few additional e2e tests to test multi-zone specific behaviour, particularly:
    1. spreading RC pods spreading evenly across all zones, and
    1. scheduling pods with attached volumes into the zone where the volume lives

This is a wrapper issue to tra

[2016-01-08 17:30] quinton-hoole opened #19414 "Add Jenkins test job for multi-zone (Ubernetes Lite) clusters"
Create a CI (Jenkins) test job that builds a multi-zone K8s cluster (as per #17919) and runs all existing e2e tests against it.

[2016-01-08 17:32] quinton-hoole commented on #19414
Part of #19413

[2016-01-08 17:34] quinton-hoole opened #19415 "Add Ubernetes Lite e2e test for spreading RC pods spreading evenly across all zones"
Part of #19413

[2016-01-08 17:36] quinton-hoole opened #19416 "Add Ubernetes Lite e2e test scheduling pods with attached volumes into correct zone"
Part of #19413

[2016-01-08 17:44] spxtr commented on #19299
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/14099/

[2016-01-08 17:55] bgrant0607 commented on #1768
cc @ncdc

[2016-01-08 17:57] parikhyash commented on #19395
@feihujiang Thanks for your response. It seems to have solved my problem!

[2016-01-08 17:57] #19395 closed

[2016-01-08 18:04] bprashanth opened #19417 "TestForwardPortsReturnsErrorWhenAllBindsFailed panics instead of returning error"
With the following stack trace (http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22564/testReport/junit/(root)/Kubernetes%20e2e%20suite/Deployment_deployment_should_support_rollover/):
[code]

@ncdc

[2016-01-08 18:05] bprashanth commented on #19299
if it's a known issue and we're working on a fix, should we move the test to a non-blocking suite?

[2016-01-08 18:11] satheessh commented on #11935
+1

[2016-01-08 18:21] vishh commented on #19341
FYI: Docker will clean up cgroups and namespaces as soon as the init process of a container exits. So cAdvisor will not be monitoring dead containers.

[2016-01-08 18:25] yujuhong commented on #19341
For the sake of comparison, below is the numbers for 110 pods on a node:

[code]

*638	goroutines*
110 pod workers (1 per pod)
[code]
229 goroutines for tracking container stats in cadvisor (~1 per container)
[code]
225 goroutines for tracking filesystem usage in cadvisor (~1 per container)
[code]

@timothysc, how many pods/containers were running on this node?

[2016-01-08 18:26] timothysc commented on #19341
@yujuhong 100 pods/200containers

This is about as full fidelity as I can make it: https://paste.fedoraproject.org/308727/27751014/

[2016-01-08 18:35] janetkuo commented on #19299
@bprashanth I'm moving them in #19421.

[2016-01-08 18:35] yujuhong commented on #19341
@vishh any idea of why cadvisor may use more goroutines on @timothysc's node for the same number of containers?

[2016-01-08 18:36] bharaththiruveedula opened #19422 "No entry for ./kubernetes in .gitignore"
If the new user tried get-kube.sh. And had changed the code in kubernetes and want to push the code to github, by accident he can push the ./kubernetes code too. So we need to add an entry for kubernetes.

[2016-01-08 18:39] ihmccreery opened #19423 "Suppressing update checks in test infra"
Per #19394.

You can turn off update checking altogether:

[code]

We should investigate if/how to do this for all of our tests, and perhaps for all invocations of `gcloud`.

[2016-01-08 18:41] spxtr commented on #19423
Whoop, I probably should've responded to the email. #19370 suppresses this for all Jenkins jobs that call into e2e.sh or build.sh.

[2016-01-08 18:53] ncdc commented on #19417
This is the same root cause as #19230

[2016-01-08 18:58] vishh commented on #18723
cc @kubernetes/kube-mesos

[2016-01-08 19:08] smarterclayton commented on #12226
Is

    kubectl annotate 'key=[{rule1:value2},{rule2:value1}]'

"ugly"?  Kubectl already does JSON encoding for you in this case.  It
should be possible to set that annotation on an object via dry run and then
capture it to file

   cat file.son | kubectl annotate -f - ... --dry-run -o json | kubectl
create -f -

On Fri, Jan 8, 2016 at 12:22 AM, Ravi Gadde <notifications@github.com>
wrote:

[2016-01-08 19:14] roberthbailey commented on #10265
Yes. It uses DNS to convert the name `kubernetes` into the service IP and then connects to the service IP (which is captured by kube-proxy and redirected to the apiserver).

[2016-01-08 19:16] vishh commented on #19341
@yujuhong: I can't think of anything obvious off the top of my head. Pprof should have the data you need right?

[2016-01-08 19:21] vishh commented on #19401
Most likely, this is an issue with `--cgroup-parent` feature support in docker on systemd systems.
cc @derekwaynecarr

[2016-01-08 19:25] justinsb commented on #19401
Are you using kube-up?

On AWS, I worked around `/-90c6e93e6eb6436898024eccb8be0279364180b05d6efb07b985ebfbd03af539.scope is not valid.`  by setting `--cgroup-root=docker`

[2016-01-08 19:27] #19417 closed

[2016-01-08 19:40] stevekuznetsov opened #19427 "kubectl delete rc doesn't have good error messages"
When a `kubectl delete rc <name>` times out waiting for something, you see `timed out waiting for the condition` in the terminal without explanation of which condition.

Seen at https://github.com/openshift/origin/issues/6568.

[2016-01-08 20:11] timstclair commented on #19341
@timothysc do you have liveness/readiness probes on your containers?

[2016-01-08 20:15] timothysc commented on #19341
@timstclair no.

[2016-01-08 20:27] timothysc commented on #19341
I think I'm going to start pointing the finger at cadvisor at this this point.  I'll setup a separate experiment, but most of the heap, and 80+% of the goroutines are started there.

[2016-01-08 20:41] #16883 closed

[2016-01-08 20:47] vishh commented on #17331
@timothysc: Yes. @pwittrock and I are working on this.

@LongTu:

https://github.com/google/cadvisor/pull/1035

2. For the (/apis/metrics/v1beta1) to expose disk usage information, Is there any document/examples to do so? (it seems that the src code already have pkg/apis/componentconfig/v1alpha1, but when i do "curl localhost:8080/api/componentconfig/v1alpha1" from k8s master node, the response sa

[2016-01-08 21:02] ihmccreery commented on #19394
Fixed via #19350 and #19420.

[2016-01-08 21:02] #19394 closed

[2016-01-08 21:25] smarterclayton commented on #12226
Is

    kubectl annotate 'key=[{rule1:value2},{rule2:value1}]'

"ugly"?  How about:

    cat file.json | kubectl annotate -f - --dry-run -o json ... | kubectl create -f -

Kubectl already does JSON encoding for you in this case.

[2016-01-08 21:48] yujuhong commented on #17873
Test is green for the last 40 builds. Closing the issue.

[2016-01-08 21:50] jdef commented on #18723
we don't have a great solution for flag pass-through. so instead we've hand-selected some flags to pass through that seemed important for us at the time. we've been looking forward to factoring out some of the flag stuff in favor of persistent config, but i don't think that's materialized yet.

which specific flags would you like support for?

[2016-01-08 22:00] derekwaynecarr commented on #19401
There was a bug using `--cgroup-parent` in docker on `systemd`.

It was fixed here:
https://github.com/docker/docker/pull/18612

The `cgroup-root` flag on the `kubelet` ultimately just delegates to that argument.

[2016-01-08 22:26] timstclair opened #19432 "Deprecate cAdvisor flags in kubelet"
Currently all cAdvisor flags are exposed through the cAdvisor binary. Many of the flags are irrelevant, or provide more controls than we want to give. Additionally, once we separate most cAdvisor functionality out of kubelet, most of thees flags will no longer make sense.

Open questions about the deprecation:
  - Which flags are existing customers using? We should probably send a survey to variou

[2016-01-08 22:32] ravigadde commented on #12226
Nice trick, better than not having anything. Its still hacky imo to ask the end user to do this on every pod.

1) Write a pod spec in a json file
2) Write the additions to pod spec in a separate json file
3) Use the dry run to generate a json file or to create a pod

PS: Is dry-run available on master?

[2016-01-08 22:41] caesarxuchao commented on #18963
It passed last 60 builds in kubernetes-soak-continuous-e2e-gke and last 90 builds in kubenetes-e2e-gce. Is this safe enough to close the issue?

[2016-01-08 22:54] ravigadde commented on #12226
Not sure how the second version works.

```sh cat file.json | kubectl annotate -f - --dry-run -o json ... | kubectl create -f - ```

-f looks for a file with pod name. It cant have just the annotations. If it has the pod, where do you put the unencoded annotations? If it needs encoded annotations, its back to square one.

It means that long structures still go on the command line which is a big pa

[2016-01-08 22:58] ravigadde commented on #12226
If kubectl create and annotate can take an extensions json file as another argument, json encode and update annotations that might work.

[2016-01-08 23:00] mbmccoy commented on #13488
Another use case: Updating secrets.

[2016-01-08 23:09] ihmccreery commented on #18726
We should consider just doing away with coded version structs entirely, and rely only on `git tags` for versioning.

That means we wouldn't be able to build versioned releases from a repo coming from a tar, but I have no strong aversion to that.  Checking out the repo should be the canonical way to do this anyway.

[2016-01-08 23:15] smarterclayton commented on #12226
The ... is the example is the encoded json string (well, bash). When
you pipeline you can chain mutate the object.

Ultimately, if you want to apply an extension to everything, and you
want it to be simple, you need to have a more sophisticated scheme and
maybe an admission controller.

Ie support "v1.myextensions/does" with value "somethingsimple".  Then
have an admission controller convert "some

[2016-01-08 23:24] therc commented on #11204
I see #18690 and #18795 still perpetuating the broken masquerading. :-) Will the fix for this issue be folded into the new plugin(s) or will it require people to write their own (sub)plugins?

[2016-01-08 23:28] spxtr commented on #18210
This just failed on PR Jenkins for me:

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/22930/

[2016-01-08 23:30] jlowdermilk commented on #18990
cc @derekwaynecarr. I would assume vagrant halt not working with k8s is expected though.

[2016-01-08 23:30] therc commented on #17084
This is where I look for what people are doing to tackle the problem and I find duplicates of #11204 (RDS is also affected; it uses addresses in the 10.* range)

[2016-01-08 23:34] jlowdermilk commented on #19008
Is this a question or an issue? If a question please redirect to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

[2016-01-08 23:37] caesarxuchao commented on #19019
I'll fix this after several of my PRs merged, to avoid multiple rebase.

[2016-01-08 23:42] ravigadde commented on #12226
I don't think a very sophisticated scheme is needed for what is being asked. There are a lot of plugins/extensions which need some configuration. It would be nice to carry that in the pod spec without making them first class objects.

The alternative is to submit a proposal, rally the community and finally get it in a release. Even for good use cases, this process takes several months. If the use

[2016-01-08 23:43] mastoj commented on #18990
Might be so, but the docs says that is how you should restart the vagrant
cluster.
On Jan 9, 2016 00:31, "Jeff Lowdermilk" <notifications@github.com> wrote:

[2016-01-08 23:45] jlowdermilk commented on #18990
Ah, then either docs or setup needs fixing.

[2016-01-08 23:48] jlowdermilk commented on #19316
Closing this. For future reference, quick questions of this sort will usually get answered faster on [slack.k8s.io](http://slack.k8s.io/)

[2016-01-08 23:48] #19316 closed

[2016-01-08 23:54] caesarxuchao opened #19434 "Remove optionsExternalVersion after #17922 gets merged"
Just a reminder to remove the annoying `optionsExternalVersion` after #17922 lands.

[2016-01-08 23:59] dchen1107 commented on #18969
Checked kubernetes-e2e-gce-enormous-cluster jenkin project, and there is only one failed case posted by @gmarek above. Also only node in that failed case report NodeNotReady:

[code]

I am closing this issue for now. Please feel free to re-open it if the issue recurred.

[2016-01-09 00:00] bprashanth commented on #11204
ref https://github.com/kubernetes/kubernetes/pull/19389

[2016-01-09 00:00] ghodss commented on #19152
Introduces another point of failure. If the nginx is on its own box, you have to now HA and load balance across those which is the same problem. If the nginx is on the master servers, if the entire master server goes down hard you are no longer HA.

[2016-01-09 00:03] eliaslevy commented on #17084
@therc you sure you can't just add the pod's CIDR to the RDS security group?

[2016-01-09 00:20] imkin commented on #19401
@justinsb

Thanks this workaround worked thanks.

@derekwaynecarr thanks. @justinb' workaround helps.

[2016-01-09 00:30] jlowdermilk commented on #19327
This is a question you could probably ask on the original thread (#473), but cc @mikedanese.

[2016-01-09 00:38] mml opened #19435 "test-update-storage-objects.sh is flaky"
Pasted from #16698

[code]

I've run this repeatedly, and all I can tell so far is that it's flaky.  The specific flakiness is that sometimes (more often than not) after we've run cluster/update-storage-objects.sh the API server will never become healthy.  The timeout is 2m, and even with --v=10, it's clear that the apiserver is not doing anything.  The process is running.

If after the test fails

[2016-01-09 00:43] karlkfi commented on #18610
@bgrant0607 I think I'd already gotten enough approval to proceed, but the effort got waylaid by other priorities. It doesn't look like I'm going to be able to get to this in the foreseeable future. So at this point I'm looking for someone that has time and bandwidth to do the comparatively easy work of implementing it.

[2016-01-09 00:46] jlowdermilk commented on #19330
I believe it's a kubelet setting, but I'm not sure where the configuration is or what the tested upper limits are. cc @dchen1107

For future reference, support questions typically get answered faster on [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes). We do have someone on the team comb thru questions periodically to make sure they get answered, and often someone else has hit

[2016-01-09 00:49] four43 commented on #19330
Thanks for looking into this, all. I did post a message on Server Fault,
over there, but it seemed pretty dead in relation to Kubernetes stuff. I'll
try Stack Overflow next time.

I'm combing through Salt stuff and learning as I go here. I'll post a fix
once I find one too.

Thanks again,
-Seth

On Friday, January 8, 2016, Jeff Lowdermilk <notifications@github.com>
wrote:

--
-Seth

[2016-01-09 00:53] mml commented on #19435
Here's some output from a manual run inside docker with --v=10 and with the cleanup disabled.

[code]

[2016-01-09 01:06] mml commented on #19435
Sadly, inserting `sleep 1` before Step 3 begins seems to work.

[2016-01-09 01:09] mikedanese commented on #19327
I think the answer to that is "so what"? :)

Instead of spending time trying to disprove CAP theorem or the FLP result, we have agreed to design a control-plane that will keep working (albeit suboptimally) even when multiple masters are acting.

All components do approximately the same thing and we trust that they will at least "try" not to act when they aren't the leader. We implement optimistic

[2016-01-09 01:13] jlowdermilk commented on #19345
cc @pires

[2016-01-09 01:28] bprashanth commented on #19333
The resource itself should support basic HTTPS but that doesn't have anything to do with how one might implement https for one of the backends. Are you volunteering to patch a specific ingress controller so it supports SNI and/or https, or something else? We recently got an nginx controller that supports ssl (https://github.com/kubernetes/contrib/tree/master/Ingress/controllers/nginx-third-party),

[2016-01-09 01:45] janetkuo opened #19437 "hack/verify-codecgen.sh keeps complaining even after hack/update-codecgen.sh"
`hack/verify-codecgen.sh` keeps telling me to run `hack/update-codecgen.sh` even after I did it.
See https://github.com/kubernetes/kubernetes/pull/19382#issuecomment-170176934

cc @wojtek-t

[2016-01-09 02:15] 2opremio commented on #18130
In case it helps anybody else, I had to remove `/tmp/kubectl.schema`, not `~/.kube/schema`

[2016-01-09 02:25] bgrant0607 commented on #19102
@mqliang you didn't misunderstand.

In general, I do want to reserve labels for users, on objects they create.

However:
* nodes are part of the infrastructure and ordinary users can't set their labels anyway
* labels are used for selection and currently the information needs to be labels for nodeSelector to be able to constrain against them

[2016-01-09 02:51] magicwang-cn commented on #18266
@lavalamp
yeah,i agree with you.because in the process of deploying pods,sometimes the problem also exist('especial multi rc'). but with the rate limiting of service side,it will decrease k8s's deploying rate,right?

[2016-01-09 11:32] wojtek-t commented on #19437
I'm on paternity leave now - I think that "readlinkdashf" may be incorrect. We need to generate files in the order of dependency (the files that depend on others should be generated later).

[2016-01-09 12:06] donbeave opened #19441 "Bare Metal Service Load Balancer: Error Get http://localhost:1936: dial tcp [::1]:1936: getsockopt: connection refused"
Trying to run load balancer in my kubernetes cluster, unfortunately I get a error:

[code]

[2016-01-09 12:55] pires commented on #19345
AFAIK, the CoreOS documentation is now maintained by the CoreOS people.

[2016-01-09 14:22] paultag commented on #19333
nginx does TLS termination, so you couldn't, say, do TSL client certs. SNI
would let you route that before TLS handshake.

That also requires nginx to have all the TLS certs, which is unfortunate.

Unless I misunderstood what you're saying?
On Jan 8, 2016 8:29 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-01-09 16:48] justinsb opened #19443 "HA Kubernetes etcd configuration"
I'm looking at setting up k8s with a HA master, and following along with the HA documentation at http://kubernetes.io/v1.1/docs/admin/high-availability.html

The k8s HA doc suggests using a discovery token.  However, the etcd documentation at https://github.com/coreos/etcd/blob/master/Documentation/clustering.md says:

I was thinking of running the masters in an AWS auto-scaling group, but this me

[2016-01-09 17:16] justinsb opened #19444 "SEO: v1.1 docs should take precedence over v1.0"
If you google e.g. "kuberentes ha" you hit http://kubernetes.io/v1.0/docs/admin/high-availability.html, which itself says that the page is an archived version of 1.1.  It would be better to send users straight to the latest version.

I think if we add canonical link tags pointing to the latest version that would both avoid a penalty for duplicated content and push people to the latest version by d

[2016-01-09 18:31] quinton-hoole commented on #19443
Hi Justin

More on Monday, but for now...

1. I think that we decided to implement self-healing first, and only do high availability later?  In the former case, you don't need any of this, as you can have just one etcd server, and a static IP?
2. Assuming that you do actually need a quorum etc as you mention above, you can either use multiple static IP's, or DNS names.  See below for an example DN

[2016-01-09 18:32] quinton-hoole commented on #19443
[code]

etc...

[2016-01-09 19:38] quinton-hoole commented on #19443
@justinsb ^^ I forgot to "at" you :-)

[2016-01-09 20:03] smarterclayton commented on #12226
I understand.  The recommendation at the current time is to focus on
annotations as they are, identify places where we can enhance the
experience around them, and identify from concrete examples where
future releases of Kube (1.4+) can deliver better options.  In the
short term, extensions on certain elements in existing objects will be
considered, as enhancements to annotations do *not* improve l

[2016-01-09 20:17] ravigadde commented on #12226
An alternate is to define a new field "extensions" as proposed earlier in the thread. As long as the size of this can be limited, I dont see any drawbacks. It will allow standard interfaces/tooling to be used for k8s.

[2016-01-09 20:20] bprashanth commented on #19333
Yes, I think we're talking past each other a little :)

So it sounds like you're interested in writing an Ingress controller like the ones in [contrib/Ingress](https://github.com/kubernetes/contrib/tree/master/Ingress) that handles (just?)SNI via your go libarary. For example when a user creates an Ingress like:
[code]

Your Ingress controller will start listening on 443 for those 2 hostnames and

[2016-01-09 20:24] paultag commented on #19333
@bprashanth Yeah, exactly, sorry, still pretty new to k8s, trying to get up to speed here, but that's exactly right, I'd love to be able to do that based on SNI to allow `svc` to do TLS termination :)

Thoughts, feels? Worthwhile?

[2016-01-09 20:52] bprashanth commented on #19333
Yes that sounds useful. We should be clear on how we handle the non-SNI subset of Ingress so users aren't confused. You can either:
* Ignore user created Ingresses that request specific url regexes, because your controller doesn't have that level of visibility.
* Offload anything but a pure hostname Ingress to something like nginx (eg: so you'd run 2 containers in a pod, the nginx controller will

[2016-01-09 22:07] stephenwithav commented on #10456
@thockin do you know if anyone's working on this yet?

[2016-01-09 22:24] smarterclayton commented on #18577
That's the common case today.  I think, for now, we can assume Kind is
"string".  There may be a future extension for "additionalKinds" when we
need it.  I generally agree most resources should only ever return one kind
(status being the alternate) until we get into polymorphic endpoints, and
even then it might be better to have the kind be a wrapper / list that
makes this a decoding issue.

On Th

[2016-01-09 23:18] davidopp commented on #19049
OK, I read through the issue.

I like the idea of seeing if we can handle this in a generic fashion, but I would suggest a somewhat different approach than what's suggested above. I think we should make this a trial of the "generic/opaque counted resource" idea we've talked about but never implemented. So Kubelet would have to know something about GPUs, but we'd structure that configuration inform

[2016-01-09 23:47] davidopp commented on #19081
Label keys are namespaced and can be set by users. I guess a namespace could by convention choose keys with the syntax you're describing. We could say the labels published by kubernetes.io/ follow the convention, and the labels published using the mechanism in #19082 would be in kubernetes.io/

[2016-01-09 23:52] davidopp commented on #17309
@justinsb Thanks for reporting the problem. Do you have a suggestion on how to fix it? Can we make salt retry more often? Do you know what is the other thing that is holding the lock?

@brendandburns

[2016-01-09 23:56] davidopp commented on #17395
ping @justinsb to see if he has any ideas

[2016-01-09 23:59] davidopp commented on #17890
@hongchaodeng are you interested in working on this? If so we can assign it to you.

[2016-01-10 00:05] davidopp commented on #17907
Just to clarify -- you're saying that this now works without any change to the Vagrantfile? If so, then yes, please close. Thanks!

[2016-01-10 00:14] justinsb commented on #17395
Is it possible that the environment variables set in the script are somehow escaping into the shell?  I also don't know what environment variable would cause IAM credentials to disappear; we do set `AWS_DEFAULT_REGION` but IAM is cross-region.  I don't know _how_ the environment variables could be escaping (unless you run `. ./cluster/kube-up`), but it does fit the symptom that a new tab restores

[2016-01-10 00:18] therc commented on #19049
I'm trying to get some answers about the low level details from nVidia folks, but I just remembered yet another complication: the kernel driver has one ABI it supports and the runtime is pretty strict about it matching. Which means that if you need to switch an image from CUDA 6 to CUDA 7, now you need both kinds of machines in the cluster. Unless you rebuild all images at once, bring down v6 jobs

[2016-01-10 00:36] davidopp commented on #18352
Reassigning to @mwielgus who will be working on this while @jszczepkowski is out.

[2016-01-10 01:06] davidopp commented on #18976
The usual strategy is to observe the resource usage of your containers under normal load for a while, and then set the request to that value plus some safety margin. To find out how to observe resource usage of your containers a good place to start is
https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/cluster/addons/cluster-monitoring/README.md

I'm going to clo

[2016-01-10 01:06] #18976 closed

[2016-01-10 01:16] davidopp commented on #19049
@therc I agree we don't really want Kubernetes to be responsible for installing the right kernel driver (though it is a feature one could imagine supporting in the future). Option (a) sounds reasonable -- the counted-resource name would be different depending on which ABI version is supported on that machine. This suggests that maybe the first two bullets in my list should be combined.

It's possi

[2016-01-10 01:45] davidopp commented on #19318
@brendandburns can you take a look at this? I guess the problem was introduced in #16071

[2016-01-10 02:18] davidopp commented on #19329
@vishh

[2016-01-10 02:34] hongchaodeng commented on #17890
@davidopp
Yes. I have the changes working already. It wouldn't be hard to make some cleanup and put more generic changes. Thanks!

[2016-01-10 02:34] Dnefedkin opened #19448 "Vagrant: kube-down.sh has destroyed cluster, not stopped it"
K8S 1.1.3 on a laptop (Vagrant), binaries installed via https://get.k8s.io
Created a cluster, stopped it using kube-down.sh.  As a result my cluster was destroyed, not stopped

....
Kubernetes master is running at https://10.245.1.2
Heapster is running at https://10.245.1.2/api/v1/proxy/namespaces/kube-system/services/heapster
KubeDNS is running at https://10.245.1.2/api/v1/proxy/namespaces/kube-s

[2016-01-10 02:44] davidopp commented on #17390
#18831 is the caching part

[2016-01-10 02:46] davidopp commented on #18418
ref/ #18831 (which mentions a bunch of issues/PRs)
ref/ #18458

[2016-01-10 03:11] Dnefedkin commented on #19448
Sounds like the fact that kube-down.sh actually destroys clusters, not stops them, can be considered to be the normal behavior

[2016-01-10 03:11] #19448 closed

[2016-01-10 03:43] davidopp commented on #18831
It seems that a simple way to speed up `PodFitsHostPorts()` is to change it to something like this:
[code]

I think that's probably sufficient. The vast majority of pods will not request a hostPort.

[2016-01-10 03:45] therc commented on #3885
For the next iteration, it would be nice to have a way to provide specific resources to drain. In the discussion about GPUs in #19049, I mentioned specific kernel driver ABIs. Draining a whole machine works, but if all we need is kicking out GPU users, maybe we could evict just the pods using the resource. Similar reasoning if you wanted to reformat attached SSDs, etc.

[2016-01-10 04:02] hongchaodeng commented on #18831
@davidopp
I agree with you that's gonna speed up both of benchmark and kubemark results.
Some realistic scenarios would be much better to back up the argument. Since we can't be sure on this, keeping it simple as you suggested looks good to me.

[2016-01-10 04:18] mikedanese commented on #3885
That could be achieved with taints and a rescheduler. At least taints will make probably it into 1.3. I think what we planned for 1.2 is complete.

https://github.com/kubernetes/kubernetes/issues/17190

[2016-01-10 04:28] imkin commented on #19401
Once I use the workaround suggested by @justinsb I also need https://github.com/kubernetes/kubernetes/pull/19354
to resolve the issue.

[2016-01-10 05:21] zhouhaibing089 commented on #19247
seems fine now.

[2016-01-10 05:21] #19247 closed

[2016-01-10 06:18] davidopp commented on #18928
@gmarek should we close this since you merged #19187? if so, please close.

[2016-01-10 06:25] davidopp commented on #18928
Oh sorry, I see @xiang90 is working on a less hacky solution, as described here
https://github.com/kubernetes/kubernetes/issues/18928#issuecomment-168055281

Re-assigning to him.

[2016-01-10 06:26] davidopp commented on #18928
But if we think @wojtek-t 's sleep will fix the problem good enough for now, we should lower the priority of this from P0 to P1 or P2...

[2016-01-10 06:26] xiang90 commented on #18928
@davidopp Right. Agree to de-prioritize it. I will try to get a more robust one next week.

[2016-01-10 06:28] borg286 commented on #19227
So I just reinstalled my linux machine, installed ssh server, docker, then ran the mega-docker command to get kubernetes up making sure to use 1.1.3 and it doesn't start etcd. I hope you can help me figure out what was so different with your setup. Here are the failed docker containers (notice etcd isn't in that list), then the logs of the failed apiserver complaining, then

[restful] 2016/01/10 0

[2016-01-10 06:34] davidopp commented on #18810
These tracking issues are really hard to deal with as (1) they go stale quickly, and (2) it's never clear who to assign them to if we've decided to parallelize investigating the individual failures. Can we close this issue and just rely on the `kind/flake` label for tracking?

(BTW @quinton-hoole I got "Locked Domain Expired" error when I clicked on your link above, whatever that means.)

[2016-01-10 06:35] davidopp commented on #19167
These tracking issues are really hard to deal with as (1) they go stale quickly, and (2) it's never clear who to assign them to if we've decided to parallelize investigating the individual failures. Can we close this issue and just rely on the kind/flake label for tracking?

[2016-01-10 06:40] davidopp commented on #19186
ping @sttts

I am tempted to just disable the test per our standard protocol for dealing with Mesos test problems that aren't fixed in a timely fashion, but since it's a flake I'm willing to wait until it flakes again (unless you fix it first).

[2016-01-10 06:42] #19151 closed

[2016-01-10 06:43] davidopp commented on #18928
Thanks, bumped to P2.

[2016-01-10 06:56] erez-rabih commented on #19138
I can't see kubelet.log there:
[code]

[2016-01-10 06:56] davidopp commented on #18891
The build is so old that it is purged and I didn't see it in a sample of recent flakes so I'm just going to close this. We can re-open if we see it again.

[2016-01-10 06:56] #18891 closed

[2016-01-10 07:04] davidopp commented on #19036
@gmarek You've done a huge amount of work on the flaky tests already but would you mind looking into these a bit more since @wojtek-t is out?

[2016-01-10 07:08] davidopp commented on #19304
This probably is unrelated to kubectl...

@lavalamp do you think you could take a look at it?

If not, feel free to unassign.

[2016-01-10 07:10] kevin-wangzefeng commented on #19437
I met the same problem. And I did a test on the latest master(ce9b117a195a07445e5228003d2fc1038e110db1), just run `hack/update-codecgen.sh` without any other code change, and it results in
[code]
And then `hack/verify-codecgen.sh` tells to run `hack/update-codecgen.sh`

My `GOPATH` is `/root/go_workspace/`, and I'm working under `$GOPATH/src/k8s.io/kubernetes/`

[2016-01-10 07:36] wangzhezhe commented on #19327
Thanks for that information !

[2016-01-10 07:36] #19327 closed

[2016-01-10 07:38] davidopp commented on #19024
@erictune @liggitt can one of you look into this? (Assigning to @erictune to make sure it gets looked at.)

[2016-01-10 07:46] lgomez opened #19452 "Kubernetes, Docker Machine and exposing the API and other services."
Hi all,

I've been following these instructions to set up a local development environment that mimics a production environment: http://kubernetes.io/v1.1/docs/getting-started-guides/docker.html

I start by creating a docker machine using:
[code]
Get the host info:
[code]
I am able to run containers directly by using my local docker client.

Now, I then try this:
[code]
After a few seconds I do see

[2016-01-10 07:49] lgomez commented on #19452
Just in case:

##### docker version
[code]
##### docker-machine version
[code]
##### kubectl -s http://localhost:8080 version
[code]

[2016-01-10 07:52] davidopp commented on #19026
@derekwaynecarr would you mind taking a look at this? I read through the chain #13810 -> #7372 -> #18290, but it looks like #18290 was merged before this issue was opened, so presumably it's not fixed by #18290.

[2016-01-10 08:09] Toplife commented on #19316
ok,Thanks.
Expecting.

[2016-01-10 08:27] davidopp commented on #19254
I can do the workaround. Here are all the files where we call `httptest.NewServer` and thus might have a Close() that we need to comment out.

[code]

[2016-01-10 10:06] luxas commented on #19227
First off, when you are posting logs, command line output, etc. Use this template: (I was forced to put ignore before the real formatting options. See more [here](https://guides.github.com/features/mastering-markdown/)

IGNORE```bash

code here

IGNORE```

It improves readability a lot when you do this. Now it's really hard to read. Could you update your comment? You may see how it's going to look

[2016-01-10 10:08] luxas commented on #19227
BTW, the source code for `hyperkube` is here: https://github.com/kubernetes/kubernetes/tree/master/cluster/images/hyperkube

[2016-01-10 11:33] Lastpixl opened #19453 "Various scripts use python snippets calling print - not compatible with python 3"
On some systems (archlinux at least), the python command refers to python 3 (see PEP 394).

Snippets in various scripts use the print statement, compatible with python 2 only, instead of the print() function.

Affected files:
cluster/aws/util.sh
cluster/centos/util.sh
cluster/common.sh
cluster/gce/configure-vm.sh
cluster/gce/trusty/configure.sh
cluster/saltbase/salt/kube-addons/kube-addons.sh
hack

[2016-01-10 13:35] liggitt commented on #19024
@ihmccreery, do you have pointers to runs where those tests failed in parallel? Trying to find what the failures were

[2016-01-10 14:57] fgimenez opened #19455 "Error executing "make quick-release""
Hi, I'm getting this error [1] when executing `make quick-release` from the tip of master, the problem seems to come from the `github.com/aws/aws-sdk-go` package. I'm executing on  ubuntu (latest xenial) amd64, please let me know if any further info of the environment is needed.

Thanks! :)

[1] http://paste.ubuntu.com/14458516/

[2016-01-10 14:58] #17907 closed

[2016-01-10 14:59] jdef commented on #19186
FYI - I've opened a PR w/ a fix

On Sun, Jan 10, 2016 at 1:41 AM, David Oppenheimer <notifications@github.com

[2016-01-10 15:48] borg286 commented on #19227
reposting logs as requested.
[code]

[2016-01-10 16:13] borg286 commented on #19227
Please help me figure out what I'm missing. I would have thought that 10 minutes would have been enough time. Obviously I'm missing some parameter because the apiserver never comes up for good.
[code]

[2016-01-10 17:15] jdef commented on #12281
This issue is quite old and a number of bugs have been fixed. Please confirm that this is still a problem.

[2016-01-10 17:19] jdef commented on #14911
daemon sets and node port support are being tracked in issues linked to this ticket, so i'm closing this out. please re-open if there's a use case not captured by the xref'd tickets.

[2016-01-10 17:19] #14911 closed

[2016-01-10 17:23] smarterclayton commented on #4526
I think this should be candidate for 1.2 because it is in the critical path of every user who has a failing pod (which is almost always insufficient config, or something directly user addressable).

[2016-01-10 17:35] jdef commented on #15529
master builds just fine. are you able to re-test your failure scenario?

[2016-01-10 18:05] mikedanese commented on #19254
@davidopp. I'd suggest using go oracle

[2016-01-10 21:07] pmoncadaisla opened #19457 "High load of kubelet and kube-proxy in Container Engine (v1.1.3)"
Hi!

I'm experiencing high CPU load of both kubelet and kube-proxy running K8S in GKE.

Restarting both services makes load dramatically go down again:

![seleccion_268](https://cloud.githubusercontent.com/assets/1449482/12223966/c3470804-b7e5-11e5-8a36-623610ad6108.png)

But passed the hours, load goes high again. We have to restart both services everyday, we have even experienced connectivity lo

[2016-01-10 21:31] therc commented on #8867
On AWS, people are using tools like https://github.com/dump247/docker-ec2-metadata to filter metadata access. You assign the EC2 instance a role with a superset of all possible roles that can be assumed by containers, then the proxy will return just the one that applies to the container, as specified in an environment variable. That's with the major assumption that you can trust the variable, of c

[2016-01-10 21:53] paralin commented on #17088
Might be good to revisit this now in 2016 :)

[2016-01-10 21:54] #19186 closed

[2016-01-10 22:22] #19166 closed

[2016-01-11 00:48] smarterclayton commented on #16076
@lavalamp as discussed on Thursday

[2016-01-11 01:59] qoke commented on #3760
Although iptables/nftables would solve both the TCP and UDP load balancing use cases, I personally think IPVS https://github.com/kubernetes/kubernetes/issues/17470 would be a much better fit because it is purpose-built for load balancing (read: less ongoing change / maintainance for k8s team), offers a richer set of load balancing algorithms, has proven stabliity at near-line-rate speeds, amd also

[2016-01-11 02:38] AdoHe commented on #19341
Guess a Standalone cAdvisor is better. #18770

[2016-01-11 03:24] bprashanth commented on #16192
I just cleaned up a bunch of target pools and static ips because the cluster will fail to come up alltogether without static ips. Making it so a leaky test doesn't fail all runs thereafter is a meta issue, but the cause of the leak is probably not (unless it's a build aborting).

[2016-01-11 03:29] bprashanth commented on #5846
For the record I just deleted a bunch of targetpools and static ips that were preventing gce-flaky clusters from being born (lack of static ip quota).

[2016-01-11 03:31] feiskyer commented on #17470
Interesting.

[2016-01-11 03:39] feiskyer commented on #18770
I like the idea of making cAdvisor standalone, but I have a few questions:

1. Could cAdvisor be running not as a pod, e.g., standalone of kubelet?
2. If above question is true,  how could heapster find out the list of those cAdvisor apis?

[2016-01-11 04:00] jayunit100 opened #19461 "Separate the e2e_test.go into a separate file which can be referenced and imported."
`e2e_test.go` Is useful for any downstream consumers of kube, i.e. openshift.

**Lets allow its constants and functionality to be easily called by a _test.go function in other projects**

I proposed we can do this by
- separating some of the arg/ test runner functionality out into a non _test *.go file.
- e2e_test.go can just be a thin wrapper.

[2016-01-11 04:00] jayunit100 commented on #19461
cc @ixdy

[2016-01-11 04:11] huangyuqi commented on #18770
Hi, @feiskyer , Some of my opinions

In my opinion, cAdvisor running as a pod(maybe with daemon set) is more better  than running standalone. If a daemon pod is killed or stopped, the DaemonSet will create a new replica of the daemon pod on the node. This pod can be managed by kubernetes.
In addition, When a new node is added to the cluster, the DaemonSet controller will start daemon pods on the n

[2016-01-11 04:15] feiskyer commented on #18770
@huangyuqi For some container runtimes, e.g. [Hyper](hyper.sh), cAdvisor must be running outside of a  pod.

[2016-01-11 06:48] Sarke opened #19462 "Differences in running k8s via docker vs natively in CoreOS (for production cluster)"
Hi,

It seems the quickest way to get k8s up and running is via docker (http://kubernetes.io/v1.1/docs/getting-started-guides/docker.html). It's my understanding that this creates a Docker inside of Docker situation for the services run by the kubelet container.

1. Is this the recommended way, or are there drawbacks?

  A far more elaborate way of running it is using the official CoreOS guide (ht

[2016-01-11 07:12] thockin commented on #17641
I think #18524 fixed this on master branch.  Cherry-pick to 1.1 release in #19463.  Please re-open if that doesn't get it.

[2016-01-11 07:12] #17641 closed

[2016-01-11 07:23] asdfsx opened #19464 "build failed on alpine linux 3.3"
I am trying to build kubernetes on alpine 3.3, and build an docker image.
I create a project to save all script: https://github.com/asdfsx/docker-mesos-k8s
It seems like

[code]

But when I execute 'make' I got the following problems

[code]

but I can find these files in the system, for example

[code]

Is there anything I should config before compile?

[2016-01-11 08:00] gmarek commented on #18647
I haven't seen this in last ~100 runs. Closing.

[2016-01-11 08:00] #18647 closed

[2016-01-11 08:02] gmarek commented on #18211
It's not failing anymore.

[2016-01-11 08:02] #18211 closed

[2016-01-11 08:04] gmarek commented on #18432
cc @fejta @krousey @ihmccreery @ixdy @davidopp - has someone time and know-how to do this?

[2016-01-11 08:16] gmarek commented on #19230
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/5944

[2016-01-11 08:19] gmarek opened #19466 "unit flake: TestRequestAttachRemoteCommand"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/5941/

[code]

cc @kubernetes/goog-cluster @krousey

[2016-01-11 08:48] #16352 closed

[2016-01-11 08:59] gmarek opened #19467 "integration flake: test-update-storage-objects.sh Unable to perform initial IP allocation check"
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/a8d913bf8bbdfce90d4d2ee10f1a4c527f7aa14f/kubernetes-pull-test-unit-integration/8699/

cc @lavalamp @krousey @ixdy

[2016-01-11 09:00] gmarek commented on #19304
http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce/23052/

[2016-01-11 09:05] gmarek commented on #19252
Extending timeout didn't help. It's probably something else.

[2016-01-11 09:06] gmarek commented on #19252
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/2b344ca20d9d99c49fedbc62cf122dd410c2337c/kubernetes-pull-test-unit-integration/8681/

[2016-01-11 09:06] gmarek commented on #19252
cc @lavalamp

[2016-01-11 10:24] gmarek commented on #19403
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/d3d4bdf34319c8ad2903c415a93e776b177776c2/kubernetes-pull-test-unit-integration/8354/

[2016-01-11 10:39] gmarek commented on #19467
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/e7e8c5af8421c3f1fdb79e2159a3483615d56153/kubernetes-pull-test-unit-integration/8543/

[2016-01-11 10:52] gmarek opened #19468 "MetricsGrabber test can't connect to Kubelet in GKE"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/10314/
[code]

It doesn't happen in GCE runs.

I disabled the test for GKE, but we should find out why we can't proxy to nodes, i.e. why
[code]
does not succeed. @kubernetes/goog-gke

[2016-01-11 10:58] piosz commented on #19468
please revert #19469 once the issue is fixed

[2016-01-11 11:08] heim commented on #19405
I am also seing this in GKE. Tried to restart the pod, but no luck.

[2016-01-11 11:48] ernestoalejo commented on #19405
@heim Restarting the docker container of the master worked for me:
1) SSH into the master machine: `gcloud compute ssh XXX`
2) `docker ps` to see the list of containers.
3) `docker restart XXXX` to restart the one named fluentd.

At least I can keep reading the cluster logs again until this bug gets fixed or the container knows when to restart itself. Otherwise the cluster has magic silent periods

[2016-01-11 12:19] gmarek commented on #19036
Yes - we were looking into it and added some more logging. I'm waiting for next failure to happen.

[2016-01-11 12:26] zxlzh2015 opened #19472 "image garbage collection failed"
Every time when I start kubernetes kubelet components will be an error is as follows: image garbage collection failed, please help to solve this problem.
I am 1.1.1 k8s version,

[2016-01-11 13:59] roberthbailey commented on #19468
It's possible that #19314 may help with this.

[2016-01-11 14:11] timothysc commented on #18770
/cc @kubernetes/sig-scalability

*this is exactly what I've observed in #19341

Is this deployment change expected for 1.2?

[2016-01-11 14:38] gmarek commented on #19468
Ping me when it's merged - we'll give it a try.

[2016-01-11 14:41] sdminonne opened #19475 "Need to expose image ID in downward API."
Our auditing system needs to be aware of the image ID for each container. Use cases: our applications (built on C++) and sometimes the code composed with another code exposes different services. In case of error (for example core dump) we need to infer which specific images is misbehaving.

@thockin @pmorie @lhuard1A

[2016-01-11 14:48] timothysc commented on #18770
IMHO I would like to do this, if only to cap the CPU usage of the pod for maximum density.

[2016-01-11 14:55] 2opremio opened #19477 "Mitigate impact of docker 1.8 ErrNoAvailableIPs bug"
I am using a kubernetes 1.1 cluster

It seems that errors creating containers cause kubelet to leak IPs.

See the following excerpt from `kubectl describe pod <podname>` after creating a [replication controller](https://github.com/TheNewNormal/kube-charts/blob/master/weavescope/manifests/scope-app-rc.yaml) whose pod was exposing an address already in use by the host.

[code]

The first error is le

[2016-01-11 15:29] csrwng opened #19479 "api server: patch operation should use patched object to check admission control"
Currently, patch will check admission control with an empty object and if it passes, then will proceed to update the object with the patch. Admission control plugins don't get a chance to see/validate what is actually going to be updated.

[2016-01-11 15:29] csrwng commented on #19479
@lavalamp @deads2k

[2016-01-11 15:32] liggitt commented on #19479
@derekwaynecarr

[2016-01-11 15:33] huang195 commented on #18770
In #18769 I'm trying to make the metrics/health collector (currently using a built-in cadvisor) a pluggable interface, which allows users to choose if k8s should use cadvisor running in build-in mode, pod mode, or standalone mode. Furthermore, one could also plug in one's favorite monitoring tool, other than cadvisor. That should complement this really well.

[2016-01-11 15:41] deads2k commented on #19479
@smarterclayton @kubernetes/goog-csi @kubernetes/rh-cluster-infra is there a group for API server?

@kubernetes/kube-iam this affects field level authorization.

[2016-01-11 15:45] deads2k commented on #19479
I think I want to apply the admission chain twice.  Once for patch as-is and once for "update" with the patched object.

[2016-01-11 15:47] csrwng commented on #19479
Why?

[2016-01-11 15:48] csrwng commented on #19479
If you check for the patch as is admission control plugins would have to special case objects that are not complete.

[2016-01-11 15:50] deads2k commented on #19479
Since the patch itself may mutate during the admission process, the "patched"  object created at the beginning of the admission change is not guaranteed to be correct, so it would be incorrect for an admission controller to do any work against the "patched" object.

[2016-01-11 15:54] csrwng commented on #19479
It may make sense then to have a separate operation (Patch?) for admission control plugins to explicitly check / mutate patches and not special case complete/incomplete objects on update.

[2016-01-11 16:04] paralin commented on #19455
Happens with `make WHAT=cmd/kubectl` too.

[2016-01-11 17:10] hir3npatel opened #19480 "iptables rules not updated if or when hosts address changes"
I dev locally using these docs:
http://kubernetes.io/v1.1/docs/getting-started-guides/docker.html

The cluster works well until I move the laptop and wifi gets another address.

When starting the cluster iptables rules redirecting to the wifi network IP are setup, but then not updated if the address changes. This gets a bit annoying when the wifi address changes and I have to restart my cluster to

[2016-01-11 17:35] smarterclayton commented on #19479
@kubernetes/sig-api-machinery

On Mon, Jan 11, 2016 at 10:54 AM, Cesar Wong <notifications@github.com>
wrote:

[2016-01-11 18:05] vishh commented on #18770
@feiskyer:

Yeah. The idea is to run it as an optional DaemonSet.

cAdvisor's APIs are not discoverable like that of Kubernetes APIs. We intend to fix that. Until then, heapster will be hardcoded to query specific cAdvisor APIs.

[2016-01-11 18:06] vishh commented on #18770
@timothysc: I assume that cAdvisor will be run by default on all OpenShift clusters. If thats true, it is important to optimize not only the kubelet, but cAdvisor as well. Separating them will help us with performance measurements, but otherwise the work that needs to go in for optimizing resource consumption has to happen anyways.

[2016-01-11 18:11] thockin commented on #19480
If there is a relatively easy way to know when this happens, I would not be
against refreshing iptables rules.  It's obviously not a production problem
(I hope!).  What makes this hard is that we jump through a bunch of hoops
to try to figure out which address to use, so it might not even be the one
that changes.

I'm open to proposals here.

On Mon, Jan 11, 2016 at 9:11 AM, hir3npatel <notificati

[2016-01-11 18:16] vishh commented on #19329
cAdvisor flags show up as part of kubelet binary. #19432 is tracking removal of those flags from kubelet. Unfortunately, it is not a simple change and it is potentially backwards incompatible. @timstclair is working on it.

[2016-01-11 18:18] vishh commented on #19401
Closing this issue, since it is tracked elsewhere.

[2016-01-11 18:18] #19401 closed

[2016-01-11 18:19] wojtek-t commented on #19167
+1 - I agree that having individual issues is better (note that we already have them - this is just spanning 5+ different existing issues)

[2016-01-11 18:22] goltermann commented on #18952
This is a P0 flaky test - can we either prioritize and fix, or change priority?

[2016-01-11 18:22] goltermann commented on #18953
This is a P0 flaky test - can we either prioritize and fix, or change priority?

[2016-01-11 18:23] cjcullen commented on #19468
In the failed run linked above, the MetricsGrabber test runs right after a node reboot test, so it is almost certainly a dangling tunnel. #19314 will make this better.

[2016-01-11 18:23] goltermann commented on #18293
This is a P0 with no activity in a month - needs to be fixed or reprioritized.

[2016-01-11 18:23] goltermann commented on #19189
This is a P0 with no activity in 12d - needs to be fixed or reprioritized.

[2016-01-11 18:24] goltermann commented on #18809
This is a P0 with no activity in two weeks - needs to be fixed, reassigned or reprioritized.

[2016-01-11 18:25] goltermann commented on #17495
This one hasn't been touched in a long time.  Should #18691 fix it?  Can you take that across the finish line?

[2016-01-11 18:26] goltermann commented on #12765
Is this still failing?  It's listed as P0.

[2016-01-11 18:29] yujuhong opened #19482 "Readjust resource usage in resource usage tracking test"
The cadvisor housekeeping (stats collection) interval is going to be changed to 10s (#19374). We need to adjust the resource usage limit in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_perf.go to accommodate this change. Alternatively, we can override the housekeeping interval in the test config so that we can have finer-grained cpu usage.

[2016-01-11 18:38] derekwaynecarr commented on #19129
Looks like we need to use `AddPrinterFlags` since the internal printer assumes a common set of flags when building a printer.  Will update code and send a PR.

[2016-01-11 18:41] krousey opened #19483 "+protobuf=true tags showing up in generated documentation"
See documentation at https://godoc.org/k8s.io/kubernetes/pkg/runtime#TypeMeta and docs from the command line `go doc` tool. Please move these out of the type docstring.

[2016-01-11 18:44] MikeSpreitzer opened #19484 "detect-master fn in cluster/ubuntu/util.sh assumes KUBE_CONFIG_FILE envar is defined"
This is not a problem when running kube-up because the kube-up for Ubuntu ensures that environment variable is defined.  But when an operator runs cluster/ubuntu/deployAddons.sh, kubectl is invoked without ensuring KUBE_CONFIG_FILE is defined and cluster/kubectl.sh invokes detect-master without ensuring KUBE_CONFIG_FILE is defined.

[2016-01-11 18:51] madhusudancs commented on #17495
I tried #18691 thinking that, that approach would fix the flakiness, but it doesn't. I am still thinking about other possible approaches.

[2016-01-11 18:53] ihmccreery commented on #18953
I'll see what I can do.

[2016-01-11 18:53] ihmccreery commented on #18952
I'll see what I can do.

[2016-01-11 18:58] saad-ali opened #19487 "`kubernetes-e2e-gce` test suite blocked by `SchedulerPredicates` test."
The E2E test `SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]` has been consistently failing since Build #10314 (Jan 11, 2016 3:00:36 AM PST):
* [kubernetes-e2e-gce/10314](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10314/)
* [kubernetes-e2e-gce/10315](http://kubekins.dls.corp.google.com/view/Critical%20Buil

[2016-01-11 18:59] saad-ali commented on #19487
Sample failure:
[code]

[2016-01-11 19:00] #19167 closed

[2016-01-11 19:00] #18810 closed

[2016-01-11 19:02] saad-ali commented on #19487
Suspect PR: https://github.com/kubernetes/kubernetes/pull/19296 merged at 2:31 AM PST touched `scheduler/algorithm/predicates/predicates.go`

[2016-01-11 19:03] saad-ali commented on #19487
Rolling back PR #19296 to verify (it can be re-merged if it is not problematic).

[2016-01-11 19:04] freehan commented on #19138
Are you running dockerized kubernetes? If that is the case, kubelet is running as a docker container on node.

[2016-01-11 19:12] saad-ali commented on #19487
@gmarek indicates that rolling back PR #19296 locally did not fix this test, so I'll hold off on rolling that PR back. I'll look into the other PRs that went in at the same time, if nothing looks promising I'll roll back #19296 anyway.

[2016-01-11 19:12] ihmccreery opened #19491 "e2e tests failing on GKE due to "use of closed network connection""
There are 2 `EmptyDir` tests and a `Secrets` test failing on GKE right now:

**EmptyDir volumes should support (root,0666,tmpfs) [Conformance]**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/empty_dir.go:69 "perms of file \"/test-volume/test-file\": -rw-rw-rw-" in container output Expected : to contain substring : perms of file "/test-volume/test-file": -rw-rw-rw-

[2016-01-11 19:13] ihmccreery commented on #19491
These tests are all passing on GCE.

[2016-01-11 19:18] mml commented on #18713
This is happening again.  See investigation in #19435

[2016-01-11 19:22] davidopp commented on #17495
We decided to put this on the back burner. @madhusudancs already sunk an enormous amount of time into it and there is more critical stuff to work on. Bumping to P1.

[2016-01-11 19:23] yifan-gu commented on #18841
After oob discussion, we think this should be mitigated once #19436 is merged

/cc @sjpotter

[2016-01-11 19:24] yifan-gu opened #19494 "rkt: retrieve image size from rkt api service"
As https://github.com/coreos/rkt/pull/1916 is merged, we should be able to return the image size information to kubelet.

cc @derekparker @sjpotter @jonboulle

[2016-01-11 19:26] saad-ali commented on #19487
PRs that were merged before this test started failing:
* https://github.com/kubernetes/kubernetes/pull/19412: MESOS: resync the k8s controller manager with the k8sm variant
  * Unlikely to have caused the problem, only touches Mesos controllermanager.
* https://github.com/kubernetes/kubernetes/pull/16354: Validate uids and gids for securitycontext when create pod
  * Unlikely to have caused the pr

[2016-01-11 19:27] derekparker commented on #19494
@yifan-gu I can work on this.

[2016-01-11 19:27] mml commented on #19435
Oh, and before anyone assumes that the problem is that the previous apiserver hasn't exited, that's not the problem.  I've already added the code below to make sure that the apiserver has exited, but I still need the `sleep`.

[code]

[2016-01-11 19:28] ihmccreery commented on #19491
Blech.  I was reading the error message completely wrong.  It's actually getting no response at all:

[code]

Looks like we're failing to get logs (perhaps related to #19314):

[code]

I'm seeing similar error messages in other failed tests: "use of closed network connection".

@cjcullen?

[2016-01-11 19:31] yifan-gu opened #19496 "rkt: use annotations in the rkt api-service response without unmarshaling the rkt pod manifest"
Previously we get the annotations from the unmarshaled pod manifest. But now as https://github.com/coreos/rkt/pull/1924 is merged, the response of the rkt api service contains the annotations of pod, app, and image, we can use that to remove the unmarshaling code. (Maybe we still need to keep that for a while for compatibility)

cc @derekparker @sjpotter @jonboulle

[2016-01-11 19:33] yifan-gu commented on #19494
@derekparker Thank you :)

[2016-01-11 19:34] ixdy commented on #18809
I don't have a deep understanding of the integration tests, nor any bandwidth to investigate this right now.

[2016-01-11 19:36] ixdy commented on #19461
You shouldn't be accessing e2e_test.go directly. You should be calling it through `ginkgo`. What are you trying to do exactly?

[2016-01-11 19:40] luxas commented on #19462
I guess you may discuss these things on [Slack](kubernetes.slack.com)
To answer your question: `docker` deployment isn't production ready. AFAIU `coreos` is.
There is some bugs with `docker` deployment. One of them: #19069

And a little correction, docker doesn't run in docker. `kubelet` runs in a docker container and controls the main docker daemon via `--volume=/var/run/docker.sock:/var/run/dock

[2016-01-11 19:41] ixdy commented on #19467
This is `hack/test-update-storage-objects.sh`.

cc @nikhiljindal

[2016-01-11 19:45] ixdy commented on #18432
Are the nodes deleted before the test run completes?

[2016-01-11 19:46] cjcullen commented on #19491
This looks like the same problem as #19468. Did we recently change the set of tests running against GKE? We know we currently have tunnel flakiness issues after reboot/resize tests, but we've tiptoed around them up until now.

[2016-01-11 19:46] saad-ali commented on #19487
Reverted PR #19296. Running `kubernetes-e2e-gce` to verify if it fixes the issue.

[2016-01-11 19:49] bprashanth opened #19497 "Add basic TLS support to Ingress"
Proposal:
[code]

This gives us:
[code]

@kubernetes/goog-cluster @thockin @smarterclayton

[2016-01-11 19:52] therc commented on #17084
@eliaslevy I thought the basic issue for most of these AWS problems was that the pod's node was setting up masquerading incorrectly, see  #19389

[2016-01-11 19:56] hongchaodeng commented on #19487
@saad-ali
Can you share what commands it takes to run to reproduce the failure?
I locally run e2e.test on the failed test solely and it passed.
From the error message:
[code]
I doubt this has something to do with resource cleanup and it needs to run multiple tests to repeat that.

/cc @gmarek

[2016-01-11 19:59] spxtr commented on #18960
Okay, I think this is fixed.

I set the branch to build to `origin/pr/${ghprbPullId}/merge` instead of `${sha1}` so that we would ignore GitHub Pull Request Builder plugin's attempts at rebuilding previous failed commits that have been overwritten with a force push.

[2016-01-11 20:02] bprashanth commented on #17429
I think we should revisit this for 1.2 as it will simplify setting up an L7 on cloud providers, but I want to do it via something like: `kubectl expose svc --protocol=http`.

Just like `--protocol=tcp` (which will remain the default) this will only work on supported platforms and it requires a cluster-global Ingress resource in kube-system. Kubectl would edit this Ingress with a rule like `namespa

[2016-01-11 20:05] four43 commented on #19330
Fixed it! I think I made a pretty good fix too, from what I can tell. I'm new to Salt, but feel I have a pretty decent grasp on it now. It's much simpler and less intimidating than I thought, a really neat tool. Anyway, onto the fix:

Kubernetes provisions the master and the minions with salt. Salt's config files are located at `/srv/salt`. After looking at the `top.sls` file, I found the `kubelet

[2016-01-11 20:05] #19330 closed

[2016-01-11 20:19] smarterclayton commented on #19497
@pweil- @ramr we should discuss termination policy and insecure termination policy. This structure assumes termination, which I don't think we want to require.

[2016-01-11 20:27] eliaslevy commented on #17084
@therc while #19389 is of concern, it is not related to not being able to connect to the Amazon DNS server in the subnet, nor do I think its related to the RDS issue you mentioned.

Note that the masquerade rule with the hardcoded 10.0.0.0/8 network in kubelet says to masquerade traffic is _not_ destined to 10.0.0.0/8.  As the Amazon DNS and RDS are assigned IPs within the VPC network address, if

[2016-01-11 20:27] smarterclayton commented on #19483
These belong in the type docstring.  That's how go2idl works.  I'm not sure what the alternative is.

[2016-01-11 20:27] smarterclayton commented on #19483
@lavalamp did you have a solution in mind for this?

[2016-01-11 20:34] jayunit100 commented on #19461
The goal is to enable usage of the E2E tests in different contexts, i.e. publishing a build product which can adds new tests on top of the existing e2e tests, changes commandline options (or adds new options) and so on.

Specifically, we are using this so that in  openshift we can publish a binary e2e test artifact that is similar, but slightly extends, the existing kube e2e's, and can thus be use

[2016-01-11 20:36] bprashanth commented on #19497
Termination is the most common, though I don't think this locks us out of re-encrypt and passthrough. Re-encrypt would probably require a destination CA bundle (in the secret). For passthrough, would you expect it to drop down to L4 (+SNI, optionally)? Currently the Ingress only attempts L7.

What do you mean by insecure termination policy (ssl negotiation stuff like protocols, ciphers etc or some

[2016-01-11 20:44] krousey commented on #19483
Seems to work for the genclient tags. They appear before the docstrings.

[2016-01-11 20:50] krousey commented on #19483
I think this https://github.com/kubernetes/kubernetes/blob/master/cmd/libs/go2idl/types/types.go#L249 is what it does.

[2016-01-11 20:55] dchen1107 commented on #17523
@piosz I think you re-open this by mistake. From above jenkins link, the failing test is "07:31:59 [BFA] Found failed test case: Kubectl client Simple pod should support exec through an HTTP proxy", not the one reported here. I am filing a separate issue for a better tracking.

[2016-01-11 20:57] smarterclayton commented on #19483
Wow... that's ugly...

[code]

[2016-01-11 21:03] krousey commented on #19483
I would LGTM a better way that keeps it out of the type's docstring.

[2016-01-11 21:06] smarterclayton commented on #19483
I'm not seeing anything other than maybe a NOTE embedded in the type, which
has other issues.  This is going to make the nested structs pretty ugly for
field level overrides too.

On Mon, Jan 11, 2016 at 4:03 PM, krousey <notifications@github.com> wrote:

[2016-01-11 21:08] dchen1107 opened #19500 "Flake: Kubectl client Simple pod should support exec through an HTTP proxy"
Forked off from https://github.com/kubernetes/kubernetes/issues/17523.

Failed test: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10260/consoleFull

[code]

From above output, one can see that the related pods are running and in Ready state:
[code]
and the test is trying to using HTTPS_PROXY, and failed. APIServer is temporarily unvailable here?

[2016-01-11 21:09] dchen1107 commented on #17523
Filed #19500. Thanks!

[2016-01-11 21:14] smarterclayton opened #19501 "Server side export error checking is not backwards compatible"
https://github.com/kubernetes/kubernetes/blob/f5ea4f4671ae45f26537835f7ec8b4cdd1c0ea46/pkg/apiserver/resthandler.go#L150

started returning an error for get endpoints that had `?export=1` passed but didn't implement export.  That's not backwards compatible for callers that don't implement export (previously we ignored that request parameter) - it's probably better not to do the check.  Clients tha

[2016-01-11 21:15] smarterclayton commented on #19501
Note that this isn't the worst non-backwards compatible change in the world, just that it adds an error surface area that wasn't previously an error.

[2016-01-11 21:16] smarterclayton commented on #19501
Identified in #17922 while updating other things

[2016-01-11 21:41] robtuley commented on #19405
Same deal for me, and can confirm @ernestoalejo restart works -- I was a bit more brutal and simply did a `docker kill XXXX` and let the process watcher restart the fluentd container itself but afterwards started seeing logs coming through again.

[2016-01-11 21:45] bgrant0607 commented on #18955
cc @justinsb

[2016-01-11 21:46] ihmccreery commented on #19491
The reboot tests were being skipped in the GCE_DEFAULT_SKIP, and I thought that was erroneous (see https://github.com/kubernetes/kubernetes/pull/19297#issue-125048577).

Unless we're running these tests in parallel (which we're not), I'd expect those tests to pass and not screw up a bunch of stuff.  Am I misunderstanding?

[2016-01-11 21:50] #18960 closed

[2016-01-11 21:53] bgrant0607-nocc commented on #19008
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-11 21:53] #19008 closed

[2016-01-11 21:55] bgrant0607-nocc commented on #19072
cc @erictune @liggitt

[2016-01-11 22:00] derekwaynecarr commented on #18990
I will look to debug some more to see what is happening.  It would be nice if this worked.

[2016-01-11 22:03] erictune commented on #12995
I ran into this today.

[2016-01-11 22:14] caesarxuchao opened #19504 "Shall we create subresource path for ServiceStatus"
For top-level API types that have a `Status` field, we usually create a subresource path for it on the API server, and make an `UpdateStatus()` method in the client library. The `Service.Status` is the only exception, it doesn't have either of them. Is there a particular reason to break this convention?

I raised the issue because in #19349 we are autogenerating the UpdateStatus() method for the c

[2016-01-11 22:22] pweil- commented on #19497
correct, a destination cert should be required in this case.

Yes.  For HAProxy in particular all of the incoming connections can be done on a tcp front end and configuration can be checked to see if a) SNI is present and b) if present, is there a passthrough route configured.  This is done before any type of termination flow in the OpenShift router.

We use this to help setup secure and insecure

[2016-01-11 22:23] caesarxuchao commented on #18960
@spxtr, good job! Thanks for fixing the issue. It seems Jenkins still does not fetch the release branch, could you turn that on?

[2016-01-11 22:24] bprashanth commented on #19504
We should have a subresource, I think we just forgot. Initially ServiceStatus was empty and we added loadbalancer in https://github.com/kubernetes/kubernetes/commit/3884d5fc59943e5745e3b7772898d0c160a3f754.

I also don't think we validate servicestatus and we can probably do exactly the same thing we do for ingress: https://github.com/kubernetes/kubernetes/blob/3c3a24e1d4613574948deb163c6d4e869c26

[2016-01-11 22:26] hongchaodeng commented on #19487
Hi @saad-ali ,

I have a hypothesis why it failed. It's the scheduler that hadn't noticed those pods being deleted (probably not quick enough). Can you tell me how I can reproduce the failure shown above? I can help verify it.

[2016-01-11 22:33] bgrant0607-nocc commented on #19397
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-11 22:33] #19397 closed

[2016-01-11 22:35] bgrant0607-nocc commented on #19408
If you don't want to download, you could just use cluster/kube-up.sh directly.

[2016-01-11 22:37] caseydavenport opened #19508 "Poor handling of host-networked pods"
Seen when running the kube-proxy as a pod with `NetworkMode == "host"`.

The CNI plugin attempts to retrieve the IP address of the kube-proxy pod, but fails to do so due to the lack of an eth0 interface.

[code]

I think the plugin interface shouldn't be trying to get the IP address of host networked pods, or if it does it should just be using the node's IP address or some other field, since "eth0

[2016-01-11 22:38] bgrant0607-nocc commented on #19441
cc @bprashanth

[2016-01-11 22:39] bgrant0607-nocc commented on #19443
cc @mikedanese

[2016-01-11 22:41] bgrant0607-nocc commented on #19452
cc @fgrzadkowski @brendandburns

[2016-01-11 22:46] mml commented on #19435
I ran it 100 times on my workstation with 'sleep 1', and it still timed out 1 time.

Without the sleep, it times out almost every time I try.

So this is neither a root cause nor a fix, but it will reduce flakiness for now.

[2016-01-11 22:49] cjcullen commented on #19491
No, it is good that we are running them again. Should give more incentive to get #19314 in :).

Our current tunneling setup has the potential to hold on to a broken tunnel (from a rebooted/deleted node) for up to 5 minutes before all tunnels are dropped and recreated. Most tests make use of some proxy feature to verify functionality. So, if a reboot test runs right before a test that tries to get

[2016-01-11 22:53] bprashanth commented on #19497
Ah, so this comes back to the old: Ingress is currently L7, when are we going to teach it about L4? discussion. Here's what an L4 Ingress might look like:
[code]

To get SNI based SSL routing you'd have to create multiple like this. Does that work?

I'm also not against a simple `TLSMode: passthrough, terminate` field that defaults to the latter, but the passthrough option will not make sense if w

[2016-01-11 22:54] quinton-hoole commented on #19443
@justinsb I just noticed that I wrote "static" IP instead of ["elastic" IP](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html) above.  Should be reworded to:

"Assuming that you do actually need a quorum etc as you mention above, you can either use multiple [elastic IP's](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html)..."

[2016-01-11 22:57] bgrant0607-nocc commented on #19462
You could also ask on stackoverflow: http://stackoverflow.com/questions/tagged/kubernetes

CoreOS-specific questions need to be directed at CoreOS.

The guide to choosing a cluster configuration is here:
https://github.com/kubernetes/kubernetes/tree/master/docs/getting-started-guides/README.md

[2016-01-11 22:57] #19462 closed

[2016-01-11 22:57] nikhiljindal commented on #19323
Agreed that we can remove this from the client.
Thanks @caesarxuchao for finding this.

[2016-01-11 22:57] spxtr commented on #18960
They should be available now. They were previously fetched as `origin/release-1.1`, but I dropped the `origin` part.

[2016-01-11 23:01] nikhiljindal commented on #19504
Is there anyone who updates the Status and will use the status subresource?

[2016-01-11 23:04] saad-ali commented on #19487
Looks like this also affected tests in the following E2E suites:
* kubernetes-e2e-gce-autoscaling
  * `[Autoscaling] [Skipped] Should scale cluster size based on memory utilization`
    * `/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/cluster_size_autoscaling.go:94 Expected error: <*errors.errorString | 0xc2085beee0>: { s: "Only 0 pods started out of 1", } Only 0 p

[2016-01-11 23:04] saad-ali commented on #19487
@hongchaodeng all the E2E suites are triggered by this script: https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh

The failing tests are here:
* `SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run`
  * https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduler_predicates.go#L269
* `SchedulerPredicates [Serial] validates MaxPods

[2016-01-11 23:04] bgrant0607-nocc commented on #19455
Try `make clean` first.

kubernetes-dev at googlegroups.com would be a good place to ask questions like this.

[2016-01-11 23:04] #19455 closed

[2016-01-11 23:06] bprashanth commented on #19441
It's failing to connect to the stats port, which is used in health checking. Can you do the following:
1. Turn off the healthchecks so the pod isn't restarted (just delete it:
https://github.com/kubernetes/contrib/blob/master/service-loadbalancer/rc.yaml#L26)
2. Deploy the rc, and get the external node ip
3. Navigate to nodeip:1936, you should see the haproxy stats page. I'm assuming this doesn't

[2016-01-11 23:07] bgrant0607-nocc commented on #19472
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-11 23:07] #19472 closed

[2016-01-11 23:14] bprashanth commented on #19504
servicecontroller should be updating status with the loadbalancer ip for service.type = loadbalancer

[2016-01-11 23:17] bgrant0607-nocc commented on #19501
@smarterclayton Previously `export=1` was a no-op, so, in some sense, adding this new parameter also breaks compatibility.

How is this different from how we deal with unrecognized json fields? They are ignored, so if we add a new field with validation rules that someone happened to be passing before, they'll experience different behavior.

Whatever we decide should be clearly documented in releas

[2016-01-11 23:19] caesarxuchao commented on #19504
@nikhiljindal, I just did a grep for ServiceStatus and that didn't show anything. Before creating this PR I did a more thorough search and found what bprashanth said.

[2016-01-11 23:20] bgrant0607-nocc commented on #18809
@davidopp, how did you want to deal with issues that you wanted to farm out for debugging?

[2016-01-11 23:20] hongchaodeng commented on #19487
Hi @saad-ali ,

I did run those tests locally except the "autoscaling" ones that needs to run on "gce" provider. Unfortunately I couldn't reproduce any of these. I'm on commit  abf41a53046e69d62243cc9188c144783525f8e7.

From the error log you provided, I suspect that it has something to do with test clean up or lagging. Because the scheduler couldn't find enough resources:
[code]

I would like to

[2016-01-11 23:22] bprashanth commented on #19504
eg: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L315

[2016-01-11 23:45] saad-ali commented on #19487
Verified that reverting PR #19296 fixed the broken test(s) in both the `kubernetes-e2e-gce` and `kubernetes-e2e-gce-autoscaling` suites. Waiting on `kubernetes-e2e-gke-ci` to finish.

[2016-01-11 23:46] saad-ali commented on #19487
You're probably right. My bet is that running the tests alone is not sufficient to repro. Try running the full suite, which, if clean up doesn't happen properly in another test, could result in fewer resources available for this test causing this test to fail.

Here are logs from a sample failure of the auto-scaling tests:
[code]
[code]

[2016-01-11 23:46] nikhiljindal opened #19515 "kubectl --validate doesn't work for optional APIs"
kubectl fails to create deployment resource and emits the following:
`error validating "/examples/extensions/deployment.yaml": error validating data: couldn't find type: v1beta1.Deployment; if you choose to ignore these errors, turn validation off with --validate=false`

I guess that is because deployment is disabled by default.

I could be wrong, but I think this used to work before. Not sure if

[2016-01-11 23:47] bgrant0607 commented on #14512
A hook use case is described here:
https://groups.google.com/forum/#!topic/google-containers/zblnAzLeSJA

[2016-01-11 23:59] thockin commented on #19367
maybe it's time to add an argument like `allowRestart` for updates so a
user can say whether they want to allow a restart or fail the txn.

On Thu, Jan 7, 2016 at 9:38 PM, Eric Tune <notifications@github.com> wrote:

[2016-01-12 00:04] caesarxuchao commented on #19515
I think you are right, the validation error is because deployment is disabled by default, so the swaggerapi doesn't contain it in "models".

I tried with the steps you did, `kubectl create` doesn't return any error.

[2016-01-12 00:04] thockin commented on #19332
This shows that `kubectl get pod -l "k8s-app=kube-dns"` is failing.  Maybe
you need --namespace=kube-system

On Thu, Jan 7, 2016 at 11:34 PM, ramonrue <notifications@github.com> wrote:

[2016-01-12 00:06] mikedanese commented on #19422
Closing since #19418 will be merged shortly

[2016-01-12 00:06] #19422 closed

[2016-01-12 00:07] janetkuo commented on #19515
Works on my machine too. Did you try updating swagger spec? Or just run `hack/update-all.sh` and see if it still happens?

[2016-01-12 00:10] caesarxuchao commented on #19515
Doesn't kubectl fecth the swagger spec from apiserver at runtime? Does it change the behavior recently?

[2016-01-12 00:11] caesarxuchao commented on #19504
I'm going to add the path.

[2016-01-12 00:19] thockin commented on #10456
AFAIK, not yet

[2016-01-12 00:22] hongchaodeng commented on #19487
Hi @saad-ali ,
I have found the root cause. There is a logical error in #19296. Because we have defined a custom error, the error is recognized as normal error and let the entire flow failed. It's my fault. I would fix it shortly.
/cc @gmarek @lavalamp

[2016-01-12 00:24] saad-ali commented on #19487
@hongchaodeng Great, thanks for digging into it

[2016-01-12 00:24] Sarke commented on #19462
@luxas

I'm not a member, and I don't have a "@google.com, @redhat.com, @coreos.com or @intel.com" email.

Ok, thank you.  That does help.

[2016-01-12 00:25] thockin commented on #19475
I see the value of this, but it's unfortunate that it will not be a simple fieldPath but a whole new `valueFrom`.  We can either do:

[code]

or

[code]

or:

[code]

@bgrant0607 @pmorie

We also need to define what this variable means for non-docker runtimes

@dchen1107 @yujuhong

[2016-01-12 00:34] saad-ali commented on #19487
Closing this issue. Closed by https://github.com/kubernetes/kubernetes/pull/19495

[2016-01-12 00:34] #19487 closed

[2016-01-12 00:40] erictune commented on #17098
Seems like there are two or three issues here.

The first problem is that there is no way to have quotas that treat pods in the same namespace differently.   You have this problem even between two run-always things (e.g. frontend and backed RCs, each autoscaled: if one spikes like crazy, it can stop the other from ever stopping, or even from doing a rolling update); and you can have it between two

[2016-01-12 00:40] caesarxuchao commented on #19515
@janetkuo, I read the code again it seems the local swagger spec shouldn't affect the validation, see this [line](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L510) :)

Btw that line should be refactored to use the client.SwaggerSchema.

[2016-01-12 00:46] janetkuo commented on #19515
I remembered ran into this error while modifying deployment spec (`types.go`). IIRC `hack/update-all.sh` solved the problem then.

[2016-01-12 00:49] yifan-gu opened #19519 "image manager should support multiple runtimes"
Currently, the image manager in kubelet uses cadvisor to get the image file system info (capacity, usage, mountpoint, etc) for docker. (see [here](https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.5/pkg/kubelet/image_manager.go#L191)).

In order to make the image manager generic for other runtimes. We either:
- Have runtime implement the a similar interface (e.g. `ImageFsInfo()`)
- Patch

[2016-01-12 00:52] #19491 closed

[2016-01-12 00:54] erictune commented on #17098
For the problem of fair-share within a namespace, I'd suggest the following:

1. add a field to the ResourceQuotaSpec called "Selector *LabelSelector".
1. allow there to be many ResourceQuota objects in a namespace
1. If there is no `Selector`, then the namespace matches all objects in the namespace.
1. If there is a `Selector`, then only pods matching that selector are charged against this quota

[2016-01-12 01:00] feiskyer commented on #19519
Ref #18770

[2016-01-12 01:06] erictune commented on #17098
For the problem of bursty quota, you are introducing the concept of Pods that can be terminated at any time if they exceed the rate calculation.  This is somewhat different from what we currently mean by QoS.

[2016-01-12 01:11] dchen1107 commented on #19251
This one has the same root cause of #19189:

14:52:38 Jan 11 14:52:38.142: INFO: monitoring-influxdb-grafana-v2-wpf4q          e2e-reboot-minion-31hq  Running         [{Ready False 0001-01-01 00:00:00 +0000 UTC 2016-01-11 14:51:51 -0800 PST ContainersNotReady containers with unready status: [influxdb]}]

Close it as dup of #19189.

[2016-01-12 01:11] #19251 closed

[2016-01-12 01:11] dchen1107 commented on #19192
This one has the same root cause of #19189:

14:52:38 Jan 11 14:52:38.142: INFO: monitoring-influxdb-grafana-v2-wpf4q          e2e-reboot-minion-31hq  Running         [{Ready False 0001-01-01 00:00:00 +0000 UTC 2016-01-11 14:51:51 -0800 PST ContainersNotReady containers with unready status: [influxdb]}]

Close it as dup of #19189.

[2016-01-12 01:11] #19192 closed

[2016-01-12 01:11] dchen1107 commented on #19191
This one has the same root cause of #19189:

14:52:38 Jan 11 14:52:38.142: INFO: monitoring-influxdb-grafana-v2-wpf4q          e2e-reboot-minion-31hq  Running         [{Ready False 0001-01-01 00:00:00 +0000 UTC 2016-01-11 14:51:51 -0800 PST ContainersNotReady containers with unready status: [influxdb]}]

Close it as dup of #19189.

[2016-01-12 01:11] #19191 closed

[2016-01-12 01:12] dchen1107 commented on #19190
This one has the same root cause of #19189:

14:52:38 Jan 11 14:52:38.142: INFO: monitoring-influxdb-grafana-v2-wpf4q          e2e-reboot-minion-31hq  Running         [{Ready False 0001-01-01 00:00:00 +0000 UTC 2016-01-11 14:51:51 -0800 PST ContainersNotReady containers with unready status: [influxdb]}]

Close it as dup of #19189.

[2016-01-12 01:12] #19190 closed

[2016-01-12 01:16] dchen1107 commented on #19189
There are a bunch of reboot flaky tests, and all of them are caused by influxdb container in our cluster addons pod: monitoring-influxdb-grafana:

[code]

Sometimes influxdb failed to start, and restart is capped by backoff. Looking into how to fix the test itself.

[2016-01-12 01:17] nikhiljindal opened #19521 "Warnings in hack/update-generated-conversions"
[code]

cc @kubernetes/goog-csi @wojtek-t @caesarxuchao @lavalamp

[2016-01-12 01:20] thockin commented on #17359
Comments sent - looks like a great start!

On Tue, Jan 5, 2016 at 5:47 PM, Marc Lough <notifications@github.com> wrote:

[2016-01-12 01:21] smarterclayton commented on #17098
Alternatively (not that I don't like the proposal), we could assess
quota per service account.  In which case we could reuse many of the
concepts but simply measure each service account if there is a
corresponding quota.  There could still be the overall quota.

I like the implied flexibility of the proposal you sketched out.  Is
this partitioning system natural for end users?  It allows very
sele

[2016-01-12 01:24] smarterclayton commented on #17098
To a user, isn't it still equivalent to Best Effort?  When we evict,
we provide no guarantee to the timeliness of your reschedule.  I guess
implicitly we are saying these are best effort by that - if you need
guaranteed resources, you effectively can only do so to the limits of
your rate.

[2016-01-12 01:24] tomdee opened #19523 "Kubernetes calls delete on CNI network plugin multiple times"
Seen running kubernetes v1.1.3

I have a 200 nodes cluster with a single RC running scaled to 10000 pods. I scaled the RC down to 0 pods and received 10009 calls to the CNI plugin.

Is this expected behavior? If not, I can try to dig into some more and check through the logs. Which component's logs should I be looking at?

[2016-01-12 01:40] bprashanth commented on #19523
It can if deleting a pod failed, did that happen?

[2016-01-12 01:55] erictune commented on #17098
I think the intent of the current QoS specifications is a Node-level QoS.

You could have low node-level QoS but pretty good cluster-level QoS, which means we may periodically boot you off a node, but we expect to be able to find you another home soon.

Quota (the current implementation or a rate-based one) can be used to implement cluster-level QoS (which we haven't said yet what we will call) an

[2016-01-12 01:56] yujuhong commented on #19519
@feiskyer, IIUC, kubelet will still rely on the built-in cadvisor for basic metrics and container information. The standalone cadvisor is for monitoring and collecting advanced metrics.

[2016-01-12 02:01] stephenwithav commented on #10456
I'd like to take a look at it this weekend.  Other than reading the code and looking at the callgraph, can you offer any advice/words of wisdom?

[2016-01-12 02:16] bprashanth commented on #10456
@stephenwithav see https://github.com/kubernetes/contrib/tree/master/keepalived-vip, will not work on a cloud provider (yet) but should be realtively easy to hook it up, if you'd like to (it has a unicast mode, so all you need is a notify script to re-assign a static ip).

[2016-01-12 03:08] magicwang-cn commented on #18266
@lavalamp @davidopp @xiang90
any plan?

[2016-01-12 03:19] yujuhong commented on #19189
Although I agree that backoff might have caused the situation to be worse, influxdb seems to have failed way too often though.
[code]

[2016-01-12 03:54] bprashanth opened #19525 "Listing namespaced services from a specific resource version doesn't work"
SSHing into master:

[code]

Note I listed namespace/default and the only result returned was a kube-system service. This also means that the first list of the reflector will return the kube-system service. It doensn't happen for namespaceAll (i.e /v1/services?resourceVersion=0).

@kubernetes/goog-control-plane did we change list/watch semantics recently?

[2016-01-12 04:03] mikedanese commented on #19525
@kubernetes/goog-csi @caesarxuchao @lavalamp since api server

[2016-01-12 04:12] thinhduckhoi opened #19526 "Cluster can't see the nodes???"
Hi guys.
I followed the tutorial but when i was trying to test if the cluster could see the nodes this error appeared.
[error: couldn't read version from server: Get http://localhost:8080/api: dial tcp [::1]:8080: getsockopt: connection refused]
I don't know what the reason was, can someone help me about this?
@ A little bit information: I'm running 2 instances with Centos7 installed on Amazon EC2

[2016-01-12 04:25] qoke commented on #17470
Whilst poking around for other threads, I found this... https://github.com/docker/libnetwork/issues/852
and this https://github.com/kobolog/gorb which may be of interest..

[2016-01-12 04:56] #11751 closed

[2016-01-12 05:10] Hui-Zhi commented on #19049
@davidopp , Regarding your

a mechanism (e.g. a hard-coded number or a shell command to execute) to determine the capacity of the resource
a mechanism (e.g. a shell command to execute) to determine the number of units of the resource that are free (or, conversely, in use)--maybe not strictly necessary but useful for metrics API

Could we just combine them, and just give a weight for all the same d

[2016-01-12 05:32] davidopp commented on #19049
I don't think it works for scheduler to use free reported by Kubelet because scheduler would have to wait for update from kubelet in order to see resource consumption of pods it scheduled [so if it scheduled a pod that fills the whole machine, it might schedule another pod that fills the whole machine right afterwards, before hearing back from kubelet]. We have to store requested resources in etcd

[2016-01-12 05:33] smarterclayton commented on #18266
You can test by deleting all your pods with TerminationGracePeriodSeconds =
0, which results in only a single delete

On Mon, Jan 11, 2016 at 10:08 PM, wangbo <notifications@github.com> wrote:

[2016-01-12 05:40] borg286 commented on #19227
I think the problem may be that the etcd image isn't pushed
borg@borg-1015E ~ $ docker pull  gcr.io/google_containers/etcd:v1.1.3
Pulling repository gcr.io/google_containers/etcd
Tag v1.1.3 not found in repository gcr.io/google_containers/etcd

I don't have permission to pubish this image as this Makefile would do https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/Makefile
Pe

[2016-01-12 06:02] thockin commented on #18372
I think it was @erictune who argued that updating Secrets was semantically
weird for users.  My memory fails me, though.

On Thu, Jan 7, 2016 at 7:58 PM, Brian Grant <notifications@github.com>
wrote:

[2016-01-12 06:09] luxas commented on #19227
No the image is: `gcr.io/google_containers/etcd:2.2.1`, latest `etcd` version supported in k8s is `2.2.1`

[2016-01-12 06:10] luxas commented on #19462
BTW, anyone can join Slack, I don't know why it says that

[2016-01-12 06:14] piosz commented on #17523
Apologies for the confusion. Thanks a lot @dchen1107

[2016-01-12 06:35] ghost opened #19529 "Proposal: Kubernetes use revocable resources from Mesos"
After [MESOS-1607](https://issues.apache.org/jira/browse/MESOS-1607) and [MESOS-354](https://issues.apache.org/jira/browse/MESOS-354), the revocable resources will offer to Kubernetes; it'll improve the resources utilisation if Kubernetes used revocable resources.

I'm also working on [MESOS-4303](https://issues.apache.org/jira/browse/MESOS-4303) to clarify the protocol between Kubernetes & Mesos;

[2016-01-12 06:53] Sarke commented on #19462
@luxas

https://kubernetes.slack.com/signup

How?

[2016-01-12 07:02] softwaredefinedworld commented on #19515
This is still not working for me as well. I have 1.1.3 release downloaded only binaries and no sources. How do i fix it so that deployments start working ?

[2016-01-12 07:05] luxas commented on #19462
From https://github.com/kubernetes/kubernetes/blob/master/docs/troubleshooting.md#slack:
https://slack.kubernetes.io is the invitation page.

Sorry, had forgot about the right URL.

[2016-01-12 07:07] davidopp commented on #12744
@HaiyangDING sorry I missed this earlier

AFAIK it doesn't. You'd have to add this. We can talk to @dchen1107 and @yujuhong to get suggestions about where to put it.

I think what you described sounds roughly right. We can refine it as you get closer to working on it.

[2016-01-12 07:23] sdminonne commented on #19475
@thockin  thanks for the prompt reply.
Waiting for the other feedbacks,

[2016-01-12 07:37] magicwang-cn commented on #18266
@smarterclayton i have tested without graceful delete.
and what's more, in the process of deploying(`creating, scheduling and running`) pods will alse has this problem(`about 500 nodes, 12000~15000 pods`).

[2016-01-12 08:30] caesarxuchao commented on #19515
@softwaredefinedworld, did you start your apiserver using `RUNTIME_CONFIG=extensions/v1beta1/deployments=true ./hack/local-up-cluster.sh ./cluster/kubectl.sh`?

[2016-01-12 08:38] JeanMertz opened #19530 "Improve error messages for non-existent api groups/resource types"
[code]

[code]

I couldn't find any documentation regarding having to manually enable the extensions API on GKE, but from the looks of it, it's not enabled by default (yet)?

Any documentation that I missed that explains how to enable this on a currently running GKE Kubernetes 1.1 cluster?

[2016-01-12 08:41] JeanMertz commented on #19530
Re-reading the documentation, I now understand this part better:

So effectively, having the extensions API group enabled, does not guarantee any of its features being enabled. Is there an easy way to enable this on GKE?

[2016-01-12 09:02] hir3npatel commented on #19480
Hi, thanks. Yeah I can imagine it goes through hoops to get the right address. I'm not familiar with what sets up the iptables rules and which container it is. I was wondering though of adding an instruction to the piece that does the rules, to have it rerun the rules. So if it's one of the containers with hyperkube listening on localhost, I could maybe send it a command to tell it to rerun its ip

[2016-01-12 09:14] gmarek commented on #18432
There's no test run if cluster setup fails.

[2016-01-12 09:22] gmarek commented on #19525
@bprashanth - we did change the watch semantics lately, but not in this way. We're currently serving results from the cache, instead of etcd, which means that they may be a bit stale. But we certainly shouldn't be returning things from other namespaces. Sadly @wojtek-t who did this work is OOO until February, but maybe @timothysc will know something.

[2016-01-12 09:32] Pensu commented on #19526
What command did you use to check?

[2016-01-12 09:36] gmarek commented on #18969
It happened again: http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-enormous-cluster/30/

Reason is exactly the same, namely one node is NotReady:
[code]
Note the age difference.

[2016-01-12 09:55] thinhduckhoi commented on #19526
I run the this following command to check but it didn't work.
kubectl get nodes

[2016-01-12 10:10] rafaljanicki commented on #11935
+1

[2016-01-12 10:28] Pensu commented on #19526
What address are you binding your api server on? I used to get that error when my api-server wasn't listening on 0.0.0.0. Do you have any api-server and kubelet logs?

[2016-01-12 10:47] Lastpixl commented on #19453
FYI, the attached patch is straightforward, works with both python 2 and python 3.
I can open a pull request containing this patch if you want, as per CONTRIBUTING.md.

[2016-01-12 11:52] stephenwithav commented on #10456
thanks, @bprashanth.  @alebdf suggested looking at that repo, too--I'll take a longer look at it this weekend.

I do technically run on a cloud, a bunch of vpses, but they static ips.  Will that present a problem?

[2016-01-12 12:19] rafaljanicki commented on #18021
I thought I had the same problem, but I just gave Kubernetes time and it has created LBs correctly after some time (5-15 minutes). The time-to-create is definitely non deterministic.

[2016-01-12 12:52] rafaljanicki commented on #14226
Actually this is a case I'd like to discuss a bit further. Currently, if we want to give access for container to another AWS service (e.g. Redshift), we need to use AWS credentials (Access/Secret key). This raises a security concern and forces us to use many secrets inside yamls.

Better solution, suggested by AWS, is to use IAM roles to connect between apps. However, when using containers, it's n

[2016-01-12 13:18] brendandburns commented on #19501
ignoring spurious parameters actually seems like a bad behavior, similar to when we didn't automatically validate 'json'

Suppose I typo and I send `?explort=1`  I'd really rather have an error than a drop.

So I guess I would argue that the previous behavior is a bug.  We should definitely document the change, but I think we should actually push in the opposite direction and validate all paramete

[2016-01-12 13:19] brendandburns commented on #18288
@deads2k ack, will do soon.

[2016-01-12 13:20] brendandburns commented on #18543
Closing this as I believe it is fixed.  Please re-open if there are problems.

[2016-01-12 13:20] #18543 closed

[2016-01-12 13:22] brendandburns commented on #15747
Closing this since 1.1 is released.  @dchen1107 re-open if you need this for some reason.

[2016-01-12 14:53] smarterclayton commented on #19501
I'm ok with that.

Also, realized during this that the change to GetWithOptions is not
backwards compatible and that error checking has to be removed (clients
that implement GetWithOptions are responsible for implementing Export
because they are taking control of the request).  That'll be handled in
#17922.  That removes export support inside the specific code path served
by GetWithOptions.

On Tu

[2016-01-12 15:30] emmanuel commented on #14226
@rafaljanicki I'm not sure what is planned for Kubernetes, but the best approach I've seen is here: https://github.com/dump247/docker-ec2-metadata

That runs as a local proxy on each node that inspects each containers' metadata and assumes different IAM roles according to that metadata. There would be some work to iron out the details, but I believe this approach could even provide better security

[2016-01-12 15:35] rafaljanicki commented on #14226
@emmanuel thanks for the info. The solution is in deed the one I'd like to have in Kubernetes library as it's closest to the best one (I guess). However, the current state looks a bit hacky to be used in other than dev environment.

And I agree, ECS doesn't provide a good solution either.

[2016-01-12 15:39] bprashanth commented on #10456
Does your vps allow you to float ips? i.e can you assign a the static ip to an instance, then reassign it to another via some (probably rest like) api?

[2016-01-12 15:47] mqliang commented on #19111
@bgrant0607 @ironcladlou @dpratt
[code]

Does this looks good? I will send a PR to address this once we reach a consensus.

[2016-01-12 15:47] bprashanth commented on #19525
We should understand the scope of impact here, we might be open to worse forms of privilege escalation. Maybe someone on @kubernetes/goog-cluster is interested.

[2016-01-12 15:50] bgrant0607 commented on #8413
We should make DNS work out of the box for hyperkube.

[2016-01-12 15:52] bgrant0607 commented on #17019
I reopened #8413 to make this easier.

[2016-01-12 15:55] bprashanth commented on #17088
@kubernetes/kube-iam thoughts/volunteers to implement an admission controller? Do we authorize based on the user field of a request today or is that unprecedented?

[2016-01-12 16:11] liggitt commented on #17088
I think I'd want some record or indication of the cross-namespace relationship to exist, so the targeted service could know it was exposed. I want to avoid the scenario where someone had access to a service (legitimately or otherwise), set up ingress from other namespaces, then had their access removed and continued accessing the services without the service owner's awareness.

The authorization l

[2016-01-12 16:40] pmorie commented on #19475
What's the image ID in this context?  The sha of the image?  Value of the container.image field?

[2016-01-12 16:41] timothysc commented on #19525
@bprashanth given that we run things differently, could you give a complete list of expected results to actual results.

[2016-01-12 16:43] wojtek-t commented on #19521
Since this is not a correctness issue, I think that we shouldn't worry about this right now and instead try to  migrate conversion generator to the new Daniel`s framework.

[2016-01-12 16:45] wojtek-t commented on #19525
@bprashanth - was it a single failure or was it reproducible? If you did the same request again, did it return the same result?

[2016-01-12 16:47] quinton-hoole commented on #18969
I would speculate that there's an intermittent problem with that one VM
(e.g. a faulty NIC, or otherwise dodgy host machine.  One intermittently
dodgy VM out of several thousands is not, IMO, something we should be
worrying about.

On Tue, Jan 12, 2016 at 1:36 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-01-12 16:50] wojtek-t commented on #18969
Yes and no. If even if 1 VM will not start correctly, we claim that the whole cluster didn't started correctly and finish the startup with failure, this isn't ok in my opinion. Maybe it would be ok to finish with success with warnings in that case, but we should do something...

[2016-01-12 16:52] bprashanth commented on #19525
@wojtek-t I can reproduce on e2e-master in k8s-jenkins-e2e-gce. It is weird that I only get a single service from kube-system. Note that the sericeLink.selfLink says `namespaces/default` but the metadata.namespace of the item says kube-system.

All this stuff got paged out or I'd debug it myself.

@timothysc I'd expect https://master-ip/api/v1/namespaces/default/resourceName?resourceVersion=0 to *

[2016-01-12 16:56] fgrzadkowski commented on #19227
You're using instructions from HEAD, but the image you're using doesn't start etcd. That's all working as intended. I guess we should just update the doc.

[2016-01-12 17:02] piosz commented on #18704
Yet another failure
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10329/

[2016-01-12 17:02] justingrayston commented on #8413
I created this https://github.com/justingrayston/kubernetes-docker-dns so I could work and test locally before deploying to container engine. Currently it still uses the kube master url flag as locally the API is accessed over of the docker host via http,

It isn't really fit to go into the main project, but it should be possible to just configure with certs and key to be set up for use on a serve

[2016-01-12 17:02] timothysc commented on #12744
/cc @derekwaynecarr re: last comments.

[2016-01-12 17:18] quinton-hoole commented on #18969
@wojtek-t Yes, agreed, that's what I was trying to say.  My apologies for being unclear.  A fraction of a percentage of VM's not coming up healthy should be considered normal, and not cause the failure of the test.

[2016-01-12 17:24] eparis commented on #18372
I think the idea that I have to stop my application (aka delete the pod) to update a secret or config is weird...   I should be able to update the secret/config and send my app a SIGHUP.

I'm all for automatic update of the files in existing pods...

[2016-01-12 17:27] kargakis commented on #19111
If a user doesn't want to keep any old rc around, I think we should allow it. How about the field being a pointer with nil preserving the current behavior?

[2016-01-12 17:43] stephenwithav commented on #10456
No, but I can delete an instance via a REST api and create a new instance with a new ip via the same ip.

[2016-01-12 17:51] ihmccreery opened #19539 "kubernetes-e2e-gke-ci-reboot timing out"
Will up the timeout; looks like it was probably caused by #19513.

[2016-01-12 17:58] yujuhong commented on #12744
@derekwaynecarr has a pod eviction proposal #18724

[2016-01-12 18:00] #19539 closed

[2016-01-12 18:05] lavalamp commented on #18704
@timothysc Any news?

[2016-01-12 18:08] sijnc commented on #19530
This bit me as well, if technically possible it would be great to be able to run beta extensions on GKE.

[2016-01-12 18:17] thockin commented on #19480
On Jan 12, 2016 1:03 AM, "hir3npatel" <notifications@github.com> wrote:

address. I'm not familiar with what sets up the iptables rules and which
container it is. I was wondering though of adding an instruction to the
piece that does the rules, to have it rerun the rules. So if it's one of
the containers with hyperkube listening on localhost, I could maybe send it
a command to tell it to rerun its

[2016-01-12 18:20] lavalamp commented on #19304
@davidopp I won't be able to look until next week.

[2016-01-12 18:21] ihmccreery opened #19542 "Reclassify [Skipped] issues: HPA, Initial Resources, Load capacity, Density"
@piosz there are a few tests that you've marked as skipped that need to be reenabled or otherwise taken care of (see #19505):

- "Horizontal pod autoscaling (scale resource: CPU) [Skipped]": originally disabled due to flakiness in #17587; should it be marked as a flake and have an issue opened?
- "Initial Resources [Skipped]": originally disabled in #15655; similar, should be marked as a flake wit

[2016-01-12 18:21] davidopp commented on #12744
AFAICT #18724 is just talking about eviction for OOR.

[2016-01-12 18:22] ihmccreery commented on #19542
This is work toward #10548.

[2016-01-12 18:24] ihmccreery opened #19544 "Reclassify [Skipped] tests: Upgrade"
I need to remove the `[Skipped]` label from the upgrade tests once #19378 goes in.

[2016-01-12 18:25] ihmccreery commented on #19542
@piosz Could you also comment on:

- "Density [Skipped]": "can take a long time to run"; should this be `[Slow]`?

[2016-01-12 18:26] lavalamp commented on #17765
This happened again in this run: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/14299/

[2016-01-12 18:30] ihmccreery opened #19546 "Reclassify [Skipped] tests: FSGroup"
@pmorie there are a few tests that have been marked as skipped that need to be reenabled or otherwise taken care of (see #19505):

- "should provide podname as non-root with fsgroup [Conformance] [Skipped]": skipped in #16614; (also note we shouldn't have any tests that are both `[Conformance]` and `[Skipped]`)
- "when FSGroup is specified [Skipped]": "Remove [Skipped] when security context is ena

[2016-01-12 18:30] smarterclayton commented on #18372
Eric and I both discussed this at the last face to face (last year) and
agreed that secret changing led to all sorts of weird scenarios that didn't
need anything other than deployment to solve.

On Tue, Jan 12, 2016 at 12:25 PM, Eric Paris <notifications@github.com>
wrote:

[2016-01-12 18:30] lavalamp commented on #17765
Also seems to be killing the reboot test? http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci-reboot/6285

[2016-01-12 18:35] mikedanese commented on #19530
It is not possible to enable/disable resources in GKE beyond the default. Deployments will be enabled in GKE until v1.2 is release.

We do not enable resources in GKE until we can guarantee that we will no longer make backwards incompatible changes to them. It's impossible for us to (safely) upgrade a cluster if we've made backwards incompatible changes without deleting resources. At the time of v

[2016-01-12 18:35] bprashanth commented on #19497
I think we should table the L4 discussion for now, I want to tackle that next, after basic TLS. @kubernetes/rh-networking can you sketch out a list of features you need from Ingress before adoption?

@pweil- thoughts on generic redirects as a replacement for `insecure: accept, deny, redirect`? eg:
[code]
I guess my question is are redirects a frequent enough feature that we should add it to the 60

[2016-01-12 18:36] Random-Liu commented on #8818
Close this issue because #18410 has been merged. Feel free to reopen it if any related error happens again.

[2016-01-12 18:36] Random-Liu commented on #8818
Close this issue because #18410 has been merged. Feel free to reopen it if any related error happens again.

[2016-01-12 18:36] #8818 closed

[2016-01-12 18:39] ihmccreery opened #19548 "Reclassify [Skipped] issues: Latency"
@wojtek-t there is a test that you've marked as skipped that needs to be reenabled or otherwise taken care of (see #19505):

- "Latency [Skipped]": What should we do with it?  You originally disabled it in #17714.

Happy to answer any questions if anything doesn't make sense.

[2016-01-12 18:43] ihmccreery opened #19549 "Reclassify [Skipped] issues: Volumes and PersistentVolumes"
@markturansky there is are a couple of tests that you marked as skipped that needs to be reenabled or otherwise taken care of (see #19505):

- "PersistentVolumes [Skipped]"
- "Volumes [Skipped]"

Can we instead classify these as `[Feature:Volumes]`?  See #19505 for context.

Happy to answer any questions if anything doesn't make sense.

[2016-01-12 18:51] markturansky commented on #19549
They are skipped because they require privileged containers, which were not in e2e at the time.  Running NFS in a pod, for example, requires privileged.

So @jsafrane and I made e2e tests that we could run locally but would not be able to run elsewhere.

Are these kinds of tests able to be run now?

[2016-01-12 18:58] ihmccreery commented on #19549
@thockin Should we consider these tests auxiliary, or would you like to move these into the standard set that we run? See #19505 for context.

[2016-01-12 18:59] ihmccreery opened #19551 "Reclassify [Skipped] issues: Security Context"
@swagiaal there is a test that you marked as skipped that needs to be reenabled or otherwise taken care of (see #19505):

- "Security Context [Skipped]"

Can we instead classify these as `[Feature:SecurityContext]`? See #19505 for context.

Happy to answer any questions if anything doesn't make sense.

[2016-01-12 19:02] ihmccreery opened #19552 "Reclassify [Skipped] issues: ServiceLoadBalancer"
@bprashanth You originally marked the "ServiceLoadBalancer [Skipped]" test `[Skipped]` in #14988 and, as far as I can tell, never sent a follow-up PR.

Can we expect this test to run in a standard suite, or does it need special treatment?  If you want to classify it for special treatment, we'll need to find somewhere to make sure it's running.  See #19505 for context.

Happy to answer any question

[2016-01-12 19:03] ihmccreery commented on #19546
This is work toward #10548.

[2016-01-12 19:03] ihmccreery commented on #19548
This is work toward #10548.

[2016-01-12 19:03] ihmccreery commented on #19549
This is work toward #10548.

[2016-01-12 19:03] ihmccreery commented on #19551
This is work toward #10548.

[2016-01-12 19:03] ihmccreery commented on #19552
This is work toward #10548.

[2016-01-12 19:06] bprashanth commented on #19552
I don't think this test needs to run periodically. it's a contrib project, some handful of people out there actually use the pod, it's only purpose is to make sure that when we update the image, it isn't horribly broken.

I don't know how to handle the situation, there are several totally untested contrib projects today (and it isn't feasible to test every contributed pod). At the same time you wa

[2016-01-12 19:08] swagiaal commented on #19551
@ihmccreery I like the reclassification! I would be happy to relabel the test. I'll wait for #19505 to merge though

[2016-01-12 19:27] ihmccreery opened #19554 "Create policy, infra, & best practices for testing contrib projects/pods"
Per @bprashanth's https://github.com/kubernetes/kubernetes/issues/19552#issuecomment-171017736, we need to nail down how we want to go about ensuring that contributed pods are working as intended.  People can contribute e2e tests and mark them as `[Feature:...]`, but they will then be expected to make sure they're running as necessary.

@kubernetes/goog-testing Do we want to be keeping track of th

[2016-01-12 19:31] lavalamp commented on #15498
I think this reoccurred, in the "drop outbound packets" and "switching off the network interface" tests.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/10379/

[2016-01-12 19:32] gmarek commented on #17765
@lavalamp - do you have any idea who has any knowledge of this? @kubernetes/goog-node or @kubernetes/goog-cluster? As I wrote earlier it doesn't look like a problem on NodeController side, so I guess it's Node. The main problem with this is that we don't have any logs from Nodes that are created and removed during restart test (cc @ixdy)

[2016-01-12 19:43] pweil- commented on #19497
Starting the insecure options as an annotation is a safe bet.  We can always upgrade it to a field later.

[2016-01-12 19:44] ramr commented on #19497
@bprashanth I think having an explicit `redirect` is good (though it might be worth seeing if we can fold it into `rules` - really just a rule for all practical purposes). The `deny` can be implicit - meaning if you didn't specify it, its denied. The `allow` bit would be just a listener on port `80` that you had in the above example.
One other use case, I can see is to have an ingress point/path t

[2016-01-12 19:56] yujuhong commented on #17765
gke-ci-reboot started failing at build #6283. PR  #19513 was merged in that build which added at least 25~30 minutes of sleep time for each build (obtained by grepping `waiting 5 minutes for all dead tunnels to be dropped` from the logs). This might have just tipped gke-ci-reboot over the 120 minutes timeout.

[2016-01-12 19:57] bprashanth commented on #19554
At one point @ArtfulCoder was interested in a labelling strategy which might work here. Say any change to services/ingress/endpoints could break the serviceloadbalancer, I'd apply the label to the relevant kubernetes pr, and it would pull down the contrib pod and run the e2e against HEAD+changes.

[2016-01-12 19:59] therc commented on #17084
@eliaslevy: makes perfect sense now, thanks.

[2016-01-12 20:00] bgrant0607 commented on #19111
@kargakis SGTM. Enforcing a non-zero value doesn't permit any simplification, since there would still be a number of situations where there would be no prior RC.

In terms of names, I try to avoid abbreviations. I'd prefer something like RevisionHistoryLimit. Take a look at #18404 for how this information will be used in kubectl (e.g., kubectl rollout history).

[2016-01-12 20:01] bgrant0607 commented on #19111
cc @janetkuo

[2016-01-12 20:04] luxas commented on #19227
Oh gosh, I used a self-built `v1.1.3` image without noticing it :cry:
I'm so sorry @borg286 that I insisted that it should work

@fgrzadkowski Since there is a `v1.1.4` and it isn't pushed yet, could you push it with the `Makefile` from HEAD?

[2016-01-12 20:19] bloo opened #19561 "kubectl config set-credentials paths do not write correct paths to ~/.kube/config"
I cannot get the write path to write using `kubectl config set-credentials`  v1.1.2 or v1.1.4. I suspect this affects other versions and other arguments.

# 1

`kubectl config set-credentials admin --client-certificate=.kube/ssl/admin.pem --client-key=.kube/ssl/admin.pem`

results in:
[code]

# 2

`kubectl config set-credentials admin --client-certificate=~/.kube/ssl/admin.pem --client-key=~/.kube

[2016-01-12 20:19] jimmidyson commented on #19154
This kind of assumes that people name their remote `upstream` (hard-coded at https://github.com/kubernetes/kubernetes/blob/master/cmd/mungedocs/mungedocs.go#L210). I, for one, don't so this breaks local checks for me.

[2016-01-12 20:20] lavalamp commented on #17765
@cjcullen or @ihmccreery, considering the above, can one of you take this?

[2016-01-12 20:21] mikedanese commented on #19561
@kubernetes/kubectl

[2016-01-12 20:21] lavalamp commented on #17765
Actually I guess #19540 is supposed to fix this?

[2016-01-12 20:27] deads2k commented on #19561
When specified on the command line, relative paths are resolved relative to CWD.  Later, when saved in the ~/.kube/config, relative paths are stored relatively.

Any path in a kubeconfig file is resolved relative to the location of the kubeconfig file itself.

Based on that, I say that 1, 3, 4, and 5 look correct off the bat.  2 looks like maybe your terminal didn't substitute `~` properly.

[2016-01-12 20:40] danielschonfeld opened #19562 "NodeNotReady status missing?"
I have in my logs situations where a node goes between `NotReady` and `Ready` states, yet the normal line telling me that the node was marked as `NotReady` is missing.

All I get is the following later:
[code]

I am *missing* its associated:
[code]

From investigating the `kube-controller-manager` logs it appears that it set that node into `NodeNotReady` status after not receiving a status update

[2016-01-12 20:43] danielschonfeld opened #19563 "DamonSet pods should not evict when node is NotReady"
I have a situation where my nodes go between `NodeNotReady` and `NodeReady` status due to a diff issue that's opened and being discusses.  The problem seems to be that as part of the `SyncLoop` updates the DS nodes get killed every single time going between those statuses.

Perhaps a slower determination should be used for DS just like it is for normal RC controlled Pods before marking the pods fo

[2016-01-12 20:48] krmayankk commented on #19515
Sorry i am using a different account, now, but can you elaborate on what you mean by the above ? I downloaded the  binaries and those dont have a folder like 'hack' only the sources have it. Are you asking to rebuild the K8s ? The apiserver is started for me using kube-up.sh. Do you want me to restart the api server ? I am using GCE.

[2016-01-12 20:52] Djim25 opened #19564 "Unabel to get redis slave to talk to Master node : Unable to connect to MASTER: Permission denied"
I have followed the instructions on how to set up a redis master server cluster but after I am done I get am not able to see why the servers are not able to see one another.
this is the second build I put together and I am stuck on the same spot. I could really use some help I never worked on REDIS before and I could use some guidance.

 when i check the redis slave logs I get the following

[2067

[2016-01-12 20:54] timothysc commented on #19341
So I hacked the kubelet to:

runtime.GOMAXPROCS(1)
const statsCacheDuration = 30 * time.Second
const maxHousekeepingInterval = 10 * time.Second

and adjusted memory usage by more then half, or ~= that of docker

[code]

It definitely slows down the fill of the machine, so I'm onto cpu-load now.

[code]

Still seems odd that we spawn so many go-routines per pod.

[2016-01-12 21:02] nikhiljindal commented on #19515
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/deployments.md#enabling-deployments-on-a-kubernetes-cluster has details on what you need to do to enable deployments on your GCE cluster.

You can verify that it is working by going to `<kube-master-url>/apis/extensions/v1beta1` and you should see deployments in the list of resources.

[2016-01-12 21:11] jdef commented on #18153
this appears to have been resolved by #18635. granted, the mesos code is still storing things in etcd using the "keys API" but at least there no longer a dependency on `tools.EtcdClient`

[2016-01-12 21:12] #19338 closed

[2016-01-12 21:17] nikhiljindal commented on #19515
The problem was that in my case, kubectl was reading the cached swagger spec (which did not have deployments).
I assumed that running `make clean` will clean everything but it doesnt.
Manually deleting the spec from `~/.kube/schema/` fixed the issue.

Will see if we can clear that directory on `make clean`.
We should also update the deployments doc to state this.

[2016-01-12 21:19] timothysc commented on #18153
yup, @lavalamp please close.

[2016-01-12 21:20] krmayankk commented on #19515
I already enabled ENABLE_DEPLOYMENTS=true before running kube-up.sh yesterday and it didnt work. Do i need to do something else ? How do i restart api server to run with the right config ?

[2016-01-12 21:22] cjcullen commented on #17765
I'd vote for increasing the overall timeout until we get #19314 in. We'll still have a post-reboot sleep in GKE, but it'll be 1 minute instead of 5.

[2016-01-12 21:22] lexx587 opened #19565 "Passing flags to docker from the container manifest"
I have a customer who'd like to configure logging verbosity through the container manifest. There's a "--log-level" flag available for the docker CLI, but there doesn't seem to be any way to pass this through to the underlying docker command. I'm sure it would be useful in many contexts such as this to be able to pass flags through to docker from the manifest. Is there any plan to add this functio

[2016-01-12 21:27] janetkuo commented on #19515
@krmayankk: Not sure if it's just a typo but you should run `KUBE_ENABLE_DEPLOYMENTS=true cluster/kube-up.sh`. Could you try `kubectl get deployments` and see if it returns any error? If so, deployment isn't enabled correctly.

[2016-01-12 21:37] krmayankk commented on #19515
I think there are two versions of the document, https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/deployments.md#enabling-deployments-on-a-kubernetes-cluster and new https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/user-guide/deployments.md which refer to both  different environment variables. One points to ENABLE_DEPLOYMENTS and other one to KUBE_ENABLE*. With KUB

[2016-01-12 21:39] bprashanth commented on #19497
Alright so it sounds like people are mostly on board with the original proposal, replacing the `tls` section with a `listeners` section which defaults to 80 if unspecified. Essentially this will give us TLS termination with multiple certs/ports per Ingress, while leaving room for growth around:
* Explicit listener.termination modes (re-encrypt, passthrough, terminate)
* Generic redirects (superset

[2016-01-12 21:46] janetkuo commented on #19515
@krmayankk thanks for the report. https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/user-guide/deployments.md is outdated and we should update it.

[2016-01-12 21:51] bgrant0607 commented on #19475
@thockin Why can't it be fieldpath?

[2016-01-12 22:13] caesarxuchao commented on #19154
@jimmidyson, if there is no `upstream/release1.1` on your local, the local check will print a message is printed to stdout, and the test doesn't fail.
The munger will only misbehave if you have `upstream/release-1.1` on your local and that branch is not synced with https://github.com/kubernetes/kubernetes/tree/release-1.1. Is this your case?

[2016-01-12 22:17] krmayankk commented on #19515
get deployments doesnt return any errors now after enabling the environment variable.
kubectl.sh get deployments
NAME      UPDATEDREPLICAS   AGE

the http://localhost:8080/apis/extensions/v1beta1 (using kubectl proxy) returns the deployments
{
  "kind": "APIResourceList",
  "groupVersion": "extensions/v1beta1",
  "resources": [
    {
      "name": "deployments",
      "namespaced": true
    },

bu

[2016-01-12 22:20] ihmccreery commented on #17765
Yeah, I don't think this is related to the timeouts on `gke-ci-reboot` (see #19539).  I think this is a node team thing, but seems blocked on #18432.

[2016-01-12 22:20] ihmccreery commented on #18432
I'm bumping this to P0 since it's blocking #17765 which is P0.

[2016-01-12 22:23] caesarxuchao commented on #19515
@krmayankk, have you tried nikhiljindal's solution: `Manually deleting the spec from ~/.kube/schema/ fixed the issue.`

[2016-01-12 22:29] krmayankk commented on #19515
my ./kube folder only has a config file, nothing else

[2016-01-12 22:31] ihmccreery opened #19569 "Rename [Serial] tests as [Exclusive]"
Per @ixdy's request.  Part of #10548.

[2016-01-12 22:34] ixdy commented on #18432
@gmarek my question stated another way: I'm guessing the nodes added during resize do not persist through the rest of the e2e test run?

[2016-01-12 22:42] gmarek commented on #18432
No, they do not.

[2016-01-12 22:42] caesarxuchao commented on #15511
This one is fixed.

[2016-01-12 22:42] #15511 closed

[2016-01-12 22:46] stepanstipl opened #19570 "componentstatus fails when components are not running on the same host as apiserver"
`kubectl get componentstatus` fails when components are not running on the same host (for example when you run multiple Api servers according to HA guide http://kubernetes.io/v1.1/docs/admin/high-availability.html).

I can see the problem being in `kubernetes/pkg/master/master.go` where code expects `127.0.0.1` for both controller-manager and scheduler components.

[code]

[code]

[2016-01-12 22:47] dustymabe opened #19571 "Add option to gc containers from deleted pods"
Kindly close this issue if it is not desirable.

In the past there have been some issues (#1148 is one) about cleaning up containers. Now in kubelet there are a few options to control garbage collection of containers.. (the docs for these was added in https://github.com/kubernetes/kubernetes/pull/13087)

- maximum-dead-containers-per-container
- maximum-dead-containers

Should we add an option to

[2016-01-12 22:47] ihmccreery commented on #18953
We currently `FAIL_ON_GCP_RESOURCE_LEAK` for this suite, so I don't think there's much more we can do until #18119 is fixed.  Closing.

[2016-01-12 22:47] #18953 closed

[2016-01-12 22:47] ihmccreery commented on #18952
We currently `FAIL_ON_GCP_RESOURCE_LEAK` for this suite, so I don't think there's much more we can do until #18119 is fixed.  Closing.

[2016-01-12 22:47] mml commented on #2210
What's our disposition these days on where this goes?  Create the dependencies block mentioned in #3585?  I could argue about the name a bit as `relationships` seems a bit more general, but I do think we should have a distinct place to put this rather than using a special annotation key as we do now with creator ref.

[2016-01-12 22:50] gmarek commented on #17765
It may be the problem somewhere in client which may cause to silently drop the update somewhere.

[2016-01-12 22:58] thockin commented on #19475
I assumed image ID would be the hash, not the name.  Is there maybe a
status field that has the hash?  Can that be available at pod start time?
On Jan 12, 2016 1:52 PM, "Brian Grant" <notifications@github.com> wrote:

[2016-01-12 23:07] krmayankk commented on #19515
Just an update as the error message suggested, i set the validate flag to false --validate=false as follows and it worked. Please let me know what issues can this cause and how to fix it

[2016-01-12 23:24] timstclair commented on #18704
@spxtr - http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/14017/ is a different issue (pod should be restarted vs. pod should **not** be restarted). That flake looks like it was caused by a known deadlock in docker.

[2016-01-12 23:29] ghodss commented on #6099
We upgraded our kubelets from 1.0.1 to 1.1.3 today and when the new kubelet came up, it restarted all the pods on the server, which seems unnecessarily disruptive. Why does it do this? I ask because if you simply stop the kubelet then start it again without doing an upgrade, the pods are left untouched. Why specifically during an upgrade do the pods get kicked?

cc @lopopolo @erictune