[2017-03-10 04:34] luomiao opened #42871 "About Godep version v79 or v74?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT?

**Kubernetes version** (use `kubectl version`):
1.6

**What happened**:
Current Godeps/Godeps.json file shows:
`"GodepVersion": "v79"`
However the hack/godep-save.sh script has one line:
`kube::util::ensure_godep_version v74`

When I updated the vendor folder according to the guideline at:
https://github.com/kubernetes/communi

[2017-03-10 04:38] MrHohn commented on #42764
Updates: I reproduced this first error with kubectl v1.6.0-beta.2 against the latest k8s cluster when try to `kubectl apply -f` an older version kube-dns deployment against the latest one:
[code]

[2017-03-10 04:41] liggitt commented on #42764
huh, that almost seems like defaults aren't getting applied after the patch is applied

[2017-03-10 04:43] liggitt commented on #22298
closing, all the pod-creating controllers are using `workqueue.RateLimitingInterface`

[2017-03-10 04:43] #22298 closed

[2017-03-10 05:32] jeffvance commented on #42867
OK, that sounds good to me. Thanks for the clarification.

[2017-03-10 05:45] bgrant0607 commented on #23233
@justinsb Is there a proposal from sig-cluster-lifecycle? I didn't find one other than this issue.

What do I envision beyond apply + your list?

Ensure exists was added recently: #40108. We should decide whether we want to keep it.

I could imagine adding support for the equivalent of kubectl create secret and create configmap (generating API resources from raw data). We'll want declarative suppo

[2017-03-10 05:52] jianzhangbjz commented on #42412
@llan-ml Sorry for the late reply, but I think we're not the same issue. Can you post a detailed description?

[2017-03-10 05:57] bgrant0607 commented on #9469
Superseded by #23233

[2017-03-10 05:57] #9469 closed

[2017-03-10 05:57] bgrant0607 commented on #30329
Layers doc (join kubernetes-dev to access):
https://docs.google.com/document/d/1XkjVm4bOeiVkj-Xt1LgoGiqWsBfNozJ51dyI-ljzt1o/edit#

[2017-03-10 06:03] k8s-merge-robot opened #42872 "[k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2429/
Failed: [k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file [Conformance] {E2eNode Suite}

[code]

[2017-03-10 06:09] bgrant0607 commented on #30329
We shouldn't need resource-specific support in the add-on manager, and we need to get away from round-tripping the resources in kubectl.

We're planning to put apply support in apiserver: #17333, #12143

And we need to add strategic merge info to the OpenAPI schema: #25716

[2017-03-10 06:55] solsson commented on #23794
Works well for us, except we have to sort out a confusion with how different endpoints connect to kafka brokers: https://github.com/Yolean/kubernetes-kafka/issues/21

[2017-03-10 06:58] bowei commented on #42764
@ymqytw -- as this seems to be an issue with the API object patch mechanism, I am going to assign to you for now... You can assign it back if this continues to fail with the fixes mentioned above.

/assign @ymqytw

[2017-03-10 07:32] bsalamat commented on #42691
I like your proposal. The tests that I checked had failed about a couple of times in two weeks. So, we may want to leave them alone for this release.
Tomorrow, I will try to change predicate tests to use events to see how things go and how much work is there.

[2017-03-10 07:39] jszczepkowski commented on #30329
FYI @kgrygiel

[2017-03-10 08:24] shashidharatd opened #42874 "[Federation] kubefed should use --service-dns-suffix instead of --zone-name"
In kubefed, we should use --service-dns-suffix instead of --zone-name, so that we can use subdomains instead of complete dns domain.
[Here](https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/kubefed/init/init.go#L814) is the reference to the code in question .

cc @justinsb @madhusudancs @kubernetes/sig-federation-bugs

[2017-03-10 08:35] k8s-merge-robot opened #42875 "[k8s.io] Downward API should provide default limits.cpu/memory from node allocatable [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2431/
Failed: [k8s.io] Downward API should provide default limits.cpu/memory from node allocatable [Conformance] {E2eNode Suite}

[code]

[2017-03-10 08:48] jeffchanjunwei commented on #23920
hi @tbchj，how do u solve it. i also meet the same problem

[2017-03-10 08:49] bcorijn commented on #42796
Yes, running the KOPS AMI and standard setup. The fact that Dashboard reported that it had cycled the status around the time kubelet restarted makes me thing it at least figured something out, but didn't react much to it?
I thought this PR was already in my build, but it seems this is not the case the yet: https://github.com/kubernetes/kubernetes/pull/37865

[2017-03-10 08:55] davidopp commented on #42753
One of the primary motivations of taints and tolerations is to make special rules directly visible. So I am not in favor of just having TaintController silently skip taints on static pods. Taints should only be ignored when there is a corresponding toleration.

@dchen1107 I wasn't completely clear on your suggestion "Another way to achieve this is applying this default annotation to the file-based

[2017-03-10 09:06] tbchj commented on #23920
@jeffchanjunwei   mine is ok.  my fault. i did nothing. the command line  i wrote before,  miss one paramter , and the paramter just is a port number  which  the process running need.
so my fault

[2017-03-10 09:07] kargakis commented on #41336
In 1.5 there are two different issues that are affecting `rollout status`. One, that is fixed in 1.5.4, is the availableReplicas issue which is not directly related to `rollout status` and should never make the command exit. The second issue, the one that causes the command to exit with `error: timed out waiting for the condition` is related to watch.Until, so kubectl 1.5.4 should still have those

[2017-03-10 09:11] kargakis commented on #40224
Not sure how to reproduce, but a wrapper to handle the case would suffice. See https://github.com/kubernetes/kubernetes/pull/33942#issuecomment-285462983

[2017-03-10 09:15] jsafrane commented on #40811
I created #42879 to log stdout of all containers on error so we can see why containers in the first comment were waiting for 3 minutes.
￼
￼
￼￼  ￼￼￼  ￼￼￼  ￼
￼￼

[2017-03-10 09:18] ant31 commented on #39574
I'm moving the milestone for 1.6.1.
@chrislovecnm / @kow3ns  let me know if you think it this error should still block 1.6 release?

[2017-03-10 09:32] arnouthoebreckx opened #42881 "HPA not showing in dashboard"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes versi

[2017-03-10 09:36] #42881 closed

[2017-03-10 09:48] kargakis commented on #42449
The overlapping test is obsolete for 1.6 as the functionality has been totally rewritten.
@krmayankk can you have a look in the cascading deletion test as you introduced server side deletion in Deployments?

This is something that @enisoc is currently looking into - seems like the problem is that the upgrade suite is compiled with a 1.6 when it runs the 1.5 part of the upgrade.

[2017-03-10 09:58] sttts commented on #41336
Wouldn't it be feasible to make `watch.Until` more resilient to watch errors?

[2017-03-10 10:04] kargakis commented on #41336
I would expect so - see https://github.com/kubernetes/kubernetes/pull/33942#issuecomment-285462983

[2017-03-10 12:42] #42836 closed

[2017-03-10 12:57] xmik opened #42885 "`kubectl get all` does not include ingress resources"
**Is this a request for help?**: It's a bug.
**What keywords did you search in Kubernetes issues before filing this one?**
* kubectl get ing all
* kubectl get ingress all

---

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): Linux ee9

[2017-03-10 12:59] kargakis commented on #25625
ref: https://github.com/kubernetes/kubernetes/issues/12143

[2017-03-10 13:00] kargakis commented on #12143
kubectl drain issue: https://github.com/kubernetes/kubernetes/issues/25625

[2017-03-10 13:22] snowsky commented on #42885
I reproduce this issue. Will take a look later.

[2017-03-10 13:35] deads2k commented on #42841
@mbohlool Can an openapi spec point to another spec?  That way we could expose a simple unioned root one and have it delegate to the actual API servers for the rest.

[2017-03-10 13:40] brancz opened #42887 "common cluster component labeling"
To have some consistency in labeling of Kubernetes cluster components it would be good to have a formalized labeling scheme. I have come across this problem when building monitoring solutions that expect the labeling to be `k8s-app: <component-name>`. I adapted this or started the discussion around this in:

- bootkube: [here](https://github.com/kubernetes-incubator/bootkube/pull/230) and [here](h

[2017-03-10 13:46] k82cn commented on #35486
nop; try some flaky e2e testing.

[2017-03-10 13:52] liggitt commented on #42639
Should we roll back the controller ref changes for 1.6? The observed generation feature seems like a significant change at this point in the release?

[2017-03-10 13:56] ash2k commented on #26003
It seems I have found the cause of the issue and the fix.
[code]
This is the event that is received by a watch when it cannot be re-established. It cannot be deserialized by a custom `Scheme` object I'm using because it does not know anything about `Status` type. So the fix is obvious - register the type. It turns out there is a method to register all known types, including unversioned types. Take

[2017-03-10 14:01] deads2k commented on #42639
+1

We could establish the controller ref links for GC, but skip the selection changes.

[2017-03-10 14:03] ash2k commented on #26003
Hm, it seems the problem with the original code in this report is slightly different but the cause is the same. In my case a new client is used for specific type with new Scheme object. To fix the code in this report a new Scheme should be created and used for unversioned objects which dynamic client uses. This is my understanding but I might be wrong.
Please someone who actually knows how kube wo

[2017-03-10 14:07] sdomula commented on #27796
I tried to sign up as an individual, but the link https://identity.linuxfoundation.org/projects/cncf leads to a page not found.

[2017-03-10 14:13] mc0e commented on #41286
I think the changelog should stand alone without needing exploration of the git metadata.

[2017-03-10 14:14] bonifaido opened #42888 "Print healthcheck-nodeport annotation message only for LoadBalancer type services"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS m4.2xlarge
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): 4.4.0-36-generic
- **Install tools**: kubeadm
- **Others**: 1 master and 1 minion

**What happened**:
Thi

[2017-03-10 14:16] kargakis commented on #42639
If it's not a big fix, I would take it. The GC not synchronizing with the rest of the controllers seems like a bigger issue...

[2017-03-10 14:17] sykesm opened #42889 "iSCSI volume is not unmounted when pod terminates"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): iscsi umount

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug rep

[2017-03-10 14:20] wojtek-t commented on #40476
So I created the initial draft of my proposal here: https://github.com/kubernetes/community/pull/443
It still has some TODOs to think about it, and I will work on improving the doc itself more towards end of 1.6, but the high level idea should probably be roughly clear.

[2017-03-10 14:28] kargakis commented on #42639
By the way, wrt to Deployment owner references, the feature was added long before code freeze in https://github.com/kubernetes/kubernetes/pull/35676 so reverting https://github.com/kubernetes/kubernetes/pull/42175 won't probably fix this?

[2017-03-10 14:32] dankohn commented on #27796
@sdomula I've opened an urgent ticket with the Linux Foundation to resolve. I'll post again when it's fixed.

[2017-03-10 14:41] kargakis commented on #42738
@enisoc we can simply emulate the behavior of the helper for 1.5 by including a copy of it (w/o the owner ref check). kubectl uses those helpers as well but I think the direction is to ask users to update to the same version with the server (see the discussion in https://github.com/kubernetes/kubernetes/pull/42362 and https://github.com/kubernetes/kubernetes/issues/42392). I would expect that we d

[2017-03-10 14:51] abdoo commented on #42645
@Bowei

I can telnet to this IP from master node

[root@kube-master ~]# telnet 10.96.0.10 53
Trying 10.96.0.10...
Connected to 10.96.0.10.
Escape character is '^]'.
^]
telnet> quit
Connection closed.
[root@kube-master ~]#

from another container telnet is working I suppose

[root@kube-master ~]# kubectl -n kube-system exec -ti
kube-apiserver-kube-master -- telnet 10.96.0.10 53
^C
Console escape. C

[2017-03-10 14:52] shashidharatd commented on #42868
raised this issue in https://github.com/kubernetes/dns repo

[2017-03-10 14:52] #42868 closed

[2017-03-10 15:10] theothermike commented on #42844
I am testing this now, will report back shortly

[2017-03-10 15:10] kargakis commented on #26120
Is deletion incrementing metadata.Generation?

[2017-03-10 15:11] smarterclayton commented on #42753
Yes

[2017-03-10 15:15] smarterclayton commented on #42752
I think of DaemonSets as apps that tend to be used in one particular
context, so I'm +1 to it being apps.

On Mar 9, 2017, at 8:19 PM, Brian Grant <notifications@github.com> wrote:

Feature issues:
DaemonSet updates: kubernetes/features#124
<https://github.com/kubernetes/features/issues/124>
StatefulSet updates: kubernetes/features#188
<https://github.com/kubernetes/features/issues/188>

—
You are

[2017-03-10 15:25] kargakis commented on #42752
In my mind an administrative application is still an application so +1 for
apps

On Fri, Mar 10, 2017 at 4:15 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-03-10 15:26] philips commented on #42887
I think this is directly related to https://github.com/kubernetes/community/issues/300 and the discussion should probably move there or dependent on someone creating the registry. If you can take on the leg work of building the registry process I am happy to help @brancz!

And given the precedent set by node-role.kubernetes.io this should probably be something like: component.kubernetes.io=schedul

[2017-03-10 15:44] theothermike commented on #42844
Confirmed, works with the 'beta' notation.  Closing

[2017-03-10 15:44] #42844 closed

[2017-03-10 15:55] shashidharatd commented on #42874
Sorry, there is already a method to pass flags to federation-controller-manager. we can always use it if we anyone wants to configure sub-domains for federation.

[2017-03-10 15:55] #42874 closed

[2017-03-10 15:56] andrewsykim commented on #42620
@xiangpengzhao This would require the kubelet to be aware of its previous state from disk (etcd?) which I would imagine requires lots of refactoring. From my experience, networking config changes in general shouldn't be done live in production anyways, you may want to consider creating a new cluster and federate your existing one with it. Just my two cents.

[2017-03-10 16:07] liamkell opened #42891 "pvc create fails with rbd backed storage class latest ceph"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
rbd pvc create
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG RE

[2017-03-10 16:07] dcbw commented on #42210
In case nobody saw two days ago, I've posted https://github.com/kubernetes/kubernetes/pull/42747 to fix this.

[2017-03-10 16:08] daniel-yavorovich commented on #39334
@Bregor no, I use flannel only.

Thank you.

[2017-03-10 16:45] gflarity commented on #38988
Could someone please triage this? According to the k8s documentation (https://kubernetes.io/docs/user-guide/node-selection/), labels on nodes are a supported feature.  So these labels should survive the vm getting turned off then coming back online. So this is a bug. What's the priority on fixing it?

[2017-03-10 16:46] Bregor commented on #39334
@daniel-yavorovich ok, thank you.

[2017-03-10 16:53] andrewsykim commented on #39812
@dashpole any chance we can get a vendor update for the cadvisor in for the next release?

[2017-03-10 16:55] yujuhong commented on #42856
This would still cause problems. If a sandbox stays in the created state forever (e.g., couldn't be started), kubelet will never be able to GC it.

/cc @Random-Liu

[2017-03-10 16:55] snoby commented on #41336
INTERESTING!!! I upgraded my cluster to 1.5.4 and yes indeed using this very simple script to check the rollout status I can confirmed my issue has been fixed.  It was broken in the 1.5.2 release, I upgraded and now it works as expected.

[code]

[2017-03-10 16:55] #41336 closed

[2017-03-10 16:57] enisoc commented on #42639
If it's true that this is caused by a cached version of the controller that doesn't see the DeletionTimestamp yet, then I agree with @kargakis that this problem predates #42175. I would also expect this to affect RC/RS as well, since they have been implementing this behavior since v1.5. Indeed, the equivalent test for RC seems to also be flaky and this may be a contributing cause: https://github.c

[2017-03-10 17:01] ymqytw commented on #40224
@fwynyk Do you still have this issue in 1.5.4 release?
Someone has similar issue has been fixed in 1.5.4 https://github.com/kubernetes/kubernetes/issues/41336#issuecomment-285722917

[2017-03-10 17:02] dankohn commented on #27796
@sdomula This is now resolved. We're investigating what caused the downtime. Sorry for the hassle.

[2017-03-10 17:05] shashidharatd opened #42894 "[Federation] Automate configuring nameserver in cluster-dns for CoreDNS provider"
Following scenario is pertaining to federation with CoreDNS provider only.
Currently user has to manually configure the cluster-dns to add the private nameserver in federated clusters in order to do cross-cluster service discovery from within pods. We should be automating this step to better the user experience.

Recently a pr is merged #41826 which will enable configuring cluster-dns with private

[2017-03-10 17:06] #42685 closed

[2017-03-10 17:07] kargakis commented on #41336
@snoby `rollout status` returns the appropriate exit code so you don't need to parse its output. I don't think the `error: timed out waiting for the condition` has been fixed but we can track it in https://github.com/kubernetes/kubernetes/issues/40224

[2017-03-10 17:10] piosz commented on #42515
Thank you a lot @timstclair for the investigation.

[2017-03-10 17:16] jayunit100 commented on #42840
I'm not sure if upgrades call initialNode or not, my own ignorance ?
If they do, and this is removed, can't an external controller just do the work of re--adding that label if its dropped?

[2017-03-10 17:17] liggitt commented on #42764
@wojtek-t is it possible the switch to unstructured.DefaultConverter.FromUnstructured dropped the defaulting step of conversion?

[2017-03-10 17:18] ymqytw commented on #32676
@AdoHe Do you have a fix for this?

[2017-03-10 17:27] piosz commented on #32531
@davidopp please correct me if I'm wrong but tolerations/taints is already migrated to fields in HEAD. This means that to fix this issue we need to migrate rescheduler to use fields. I'll do it very soon.

[2017-03-10 17:30] piosz commented on #42686
@k82cn this because another pod was scheduled into this spot. This is because rescheduler still uses old version of taints/tolerations. I'll fix this soon. Thanks for the investigation and sorry for the confusion.

[2017-03-10 17:32] piosz commented on #19637
@timothysc how does it differ from [eventer](https://github.com/kubernetes/heapster/tree/master/events)?

[2017-03-10 17:36] mindw commented on #39812
What are the chances for fixing this for 1.4.x / 1.5.x?

Thanks!

[2017-03-10 17:45] liggitt commented on #42764
yeah, bisected to https://github.com/kubernetes/kubernetes/commit/e34e1abe3345939268c1fdbc05e2d933396ab2fe

[2017-03-10 17:47] piosz commented on #42840
@dchen1107 thanks for raising this. Let's sync f2f

[2017-03-10 17:47] piosz commented on #42840
cc @fgrzadkowski

[2017-03-10 17:52] dchen1107 commented on #42776
pr #42779 was merged. Close this one for now.

[2017-03-10 17:52] #42776 closed

[2017-03-10 17:53] yujuhong commented on #36482
@calebamiles I explicitly removed the milestone and explained it in https://github.com/kubernetes/kubernetes/issues/36482#issuecomment-278815629. Could you explain the reason of adding this back?

[2017-03-10 17:54] flah00 commented on #32676
@AdoHe
sorry for the delay!
`3.2.57(1)-release`
I've got Mac OS 10.12, fingers crossed

[2017-03-10 17:54] dashpole commented on #39812
So this will definitely be in 1.6.  It was actually added two months ago #40095.  However, adding this to 1.5 or 1.4 would require cherrypicking #40095, which may not happen, since it includes updating the aws dependencies and it is ~80k lines of code.

[2017-03-10 17:55] dchen1107 opened #42897 "node-e2e: Pod deletion tests to node perftest suite"
Forked from: https://github.com/kubernetes/kubernetes/pull/42779#issuecomment-285425106

[2017-03-10 17:56] dchen1107 commented on #42897
cc/ @kubernetes/sig-node-bugs  cc/ @dashpole

[2017-03-10 17:57] dashpole commented on #42897
Thanks Dawn, please assign me!

[2017-03-10 17:57] yujuhong commented on #19037
@calebamiles this is NOT a release blocker and we don't plan to work on this by 1.6. Removing the milestone.

[2017-03-10 17:59] k8s-merge-robot opened #42898 "TestConfigMapController {configmap}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/3689/
Failed: TestConfigMapController {configmap}

[code]

Previous issues for this test: #39567

[2017-03-10 18:00] yujuhong commented on #29244
We need to understand the memory usage of kubelet more, but this is not a release blocker. Given how much kubelet has changed, I am going to close this issue.

[2017-03-10 18:00] #29244 closed

[2017-03-10 18:03] ymqytw commented on #42697
@fabianofranz The tests are still [failing](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.6-master-cvm-kubectl-skew), but with a [different error](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.6-master-cvm-kubectl-skew/151). PTAL

[2017-03-10 18:07] dchen1107 commented on #42690
@abrarshivani I think the error message is self-explaining the problem here. Kubernetes just simply disallow duplicate addresses in node status, and the source code is at:

https://github.com/kubernetes/kubernetes/blob/6522344bb0fbf13e4605c753304e73d2807aa49f/pkg/api/validation/validation.go#L2995

[2017-03-10 18:09] kow3ns commented on #39574
@chrislovecnm @ant31 I don't think this should block the release.

[2017-03-10 18:12] caesarxuchao commented on #26120
Yes.

[2017-03-10 18:15] dchen1107 commented on #42753
@davidopp re: https://github.com/kubernetes/kubernetes/issues/42753#issuecomment-285613463

Yes, the same as the original proposal: https://github.com/kubernetes/kubernetes/issues/42753#issuecomment-285205760

Looks like we are convergent on this. I can quickly send a pr to resolve this.

[2017-03-10 18:20] dchen1107 commented on #42735
This is a not a 1.6 blocker, and I saw those nsenter error above before which came from a small race window between pod status and cni execution. Remove this from 1.6 milestone.

[2017-03-10 18:25] marun commented on #41673
@liggitt @deads2k This is a blocker on enabling integration testing of secured federation member clusters.

[2017-03-10 18:30] timothysc commented on #19637
@piosz it's very similar, if I had known prior to starting that it was there I would have submitted patches, but TBH I'm kind of glad I made it separate.  I will likely evolve it independently per our own requirements, and it's small enough that it doesn't matter much.

[2017-03-10 18:32] dchen1107 commented on #42701
@vishh the event is related to the NodeAllocatable, please take a look.

[2017-03-10 18:42] yujuhong opened #42904 "Pod cgroup sandbox should be cleaned up in the pod worker"
Cleaning up the pod cgroup in the pod worker is more efficient than relying on the periodic cleanup routine (`HandlePodCleanup`).
This would also allow removing the extra condition (see https://github.com/kubernetes/kubernetes/pull/42585/files#r105076567) that may cause even more races .

Ref: #42893

/cc @derekwaynecarr @dashpole @Random-Liu @dchen1107

[2017-03-10 18:45] fabianofranz commented on #42697
@ymqytw yep, sorry about that. Skew are a little hard to simulate locally. Fixed in https://github.com/kubernetes/kubernetes/pull/42901.

[2017-03-10 18:45] dashpole commented on #31362
@vishh, should we move this to 1.7?  I think all of the eviction work for 1.6 are completed.

[2017-03-10 18:47] sjenning opened #42905 "tests: e2e-node: container lifecycle hook exec tests don't work with selinux"
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/lifecycle_hook_test.go

The prestop and poststart exec tests volume mount /tmp from the host and attempt to create a file there from inside the pod.  This is blocked by selinux.

@derekwaynecarr

Failure:
[code]

kubelet.log
[code]

audit.log
[code]

[2017-03-10 18:48] ymqytw commented on #42697
@fabianofranz Thanks for fixing this :)

[2017-03-10 18:50] slawiek commented on #33288
In the scenario when pod is forced to delete by kubectl delete pod command, pod is rescheduled to another node. Without forcibly detach volume fix, scenario would end with failure as cinder volume is attached to another k8s node. It is very annoying, especially pod is hosting database on persistent volume.
Would this fix be part of official kubernetes 1.4 or/and 1.5 release?

[2017-03-10 18:51] dashpole commented on #32304
According to [cadvisor#1573](https://github.com/google/cadvisor/pull/1573), it fixes [cadvisor#1572](https://github.com/google/cadvisor/issues/1572), which appears to be a duplicate of this issue.  This change will be included in the kubernetes 1.6 release.  I am closing this for now, but feel free to reopen if anyone runs into this problem after 1.6.
/close

[2017-03-10 18:51] #32304 closed

[2017-03-10 18:54] mamoit commented on #21002
No updates on this?
I'm not quite feeling like tearing down my cluster...

[2017-03-10 18:58] dashpole commented on #38050
Closing since resource-usage test flakes are covered by #42110, and GarbageCollect flakes are fixed via #42779.
/close

[2017-03-10 18:58] #38050 closed

[2017-03-10 19:10] msau42 commented on #42699
Cool, let us know if emptydir doesn't work for you.  The only thing I can think of is EmptyDir volumes exist during the lifetime of the pod, so the data in the EmptyDir volume persists across container restarts.  So if you were expecting that the data gets cleaned up every time the container restarts, then EmptyDir would not work.

[2017-03-10 19:14] liggitt commented on #42764
ok, two really confusing things are going on:

1. applyPatchToObject is not calling defaulting after decoding the object, so if a patch removed a field that should be defaulted, it is not getting re-defaulted
2. conversion is (incorrectly) [calling the registered defaulting function](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/conversion/converter.go#L5

[2017-03-10 19:14] liggitt commented on #42764
cc @smarterclayton

[2017-03-10 19:16] smarterclayton commented on #27079
This has not recurred recently - the last runs were because the entire environment was broken

[2017-03-10 19:16] #27079 closed

[2017-03-10 19:17] dchen1107 commented on #42561
@liggitt It is hard for me to believe this is a node related issue based on the facts we collected so far:

1) Kubelet does self-register if it is configured to do so.
2) Once Kubelet registered itself to API server, it never self-unregister.
3) Normally when  K8S run on the top of the cloud provider, deletion of a node instance will trigger node controller to delete a NodeObject from master. From

[2017-03-10 19:18] smarterclayton commented on #27245
This has not recurred recently - the last runs were because the entire environment was broken

[2017-03-10 19:18] #27245 closed

[2017-03-10 19:18] enisoc commented on #42639
I discussed this with @caesarxuchao and @janetkuo. They confirmed that this is a longstanding flake, ever since ControllerRef support was added to Deployment in December (#35676), and also affects RC/RS which supported ControllerRef since v1.5.

The [long-term fix](https://github.com/kubernetes/kubernetes/issues/26120) is to coordinate between the GC and controllers via observed generation, but th

[2017-03-10 19:21] smarterclayton commented on #42816
[code]

6m!!!!! to create a pod.  @kubernetes/sig-node-bugs i think this is a new record.

[2017-03-10 19:22] smarterclayton commented on #29052
The most recent run was because the pod took 6 minutes to be created, not related to this issue (commented in https://github.com/kubernetes/kubernetes/issues/42816).  Closing

[2017-03-10 19:22] #29052 closed

[2017-03-10 19:31] smarterclayton commented on #40704
Failure on secrets in volumes

5 minute sync pod latency?  Seems bad - maybe correlated to the other issue I just mentioned @kubernetes/sig-node-bugs in

[code]

[2017-03-10 19:31] dchen1107 commented on #42110
In sig-node meeting at 3/7, I explained why we still include this kind of testw to catch unexpected resource overhead from the new development until we have a real alert system integrate with node perf dashboard. The node team is monitoring those stats very close, and this shouldn't become the release blocker. Remvoved it.

[2017-03-10 19:32] smarterclayton commented on #29221
Most recent failure was a 5m sync pod wait that caused the secret test to fail.  Older ones have not happened recently.

[2017-03-10 19:32] #29221 closed

[2017-03-10 19:33] dchen1107 commented on #42061
I am closing this one as what we discussed above. Also @mml filed #42184 to track etcd related issue.

[2017-03-10 19:33] #42061 closed

[2017-03-10 19:34] smarterclayton commented on #30441
I think this flake is gone now - all of the recent items are other flakes.

[2017-03-10 19:34] #30441 closed

[2017-03-10 19:35] marun commented on #32531
@piosz Do you think this issue indicates a regression that should block 1.6, which would require that a fix be available asap? Or is it a test-only issue that can be moved to the 1.6.1 or 1.7 milestone?

[2017-03-10 19:38] marun commented on #42680
Fix merged, test is now passing in the serial job

/close

[2017-03-10 19:38] marun commented on #42680
@yujuhong Please close.

[2017-03-10 19:39] dchen1107 commented on #41476
This is not targeted for 1.6. Both https://github.com/kubernetes/kubernetes/issues/41476#issuecomment-280331052 and https://github.com/kubernetes/kubernetes/issues/41476#issuecomment-283611237 are the wordaround when the user encounter such issue.

[2017-03-10 19:40] marun commented on #42086
@caesarxuchao If you don't think this issue should be a release blocker for 1.6, please move to the 1.6.1. or 1.7 milestones.

[2017-03-10 19:40] dchen1107 commented on #41476
I suspect there is an buffer overflow problem in inotify golang library.

[2017-03-10 19:41] marun commented on #39325
@deads2k  If you don't think this issue should be a release blocker for 1.6, please move to the 1.6.1 or 1.7 milestones.

[2017-03-10 19:41] liggitt commented on #42764
1. conversion should not be calling any defaulting, so I plan to remove the incorrect single-level defaulting that was being done (especially since that masks paths where we are not calling defaulting correctly)
2. there is no recursive reflection-based defaulting path any more, and AddDefaultingFuncs was only used by the incorrect conversion case. I plan to remove AddDefaultingFuncs as well.

[2017-03-10 19:43] dchen1107 commented on #41638
cc/ @saad-ali

[2017-03-10 19:44] piosz commented on #32531
@marun the former one. See https://github.com/kubernetes/contrib/issues/2382

[2017-03-10 19:45] dchen1107 commented on #41032
@dashpole's pr https://github.com/kubernetes/kubernetes/pull/42435 addressing this particular issues  were merged a while back. Close this one.

[2017-03-10 19:45] #41032 closed

[2017-03-10 19:46] liggitt commented on #42764
cc @kubernetes/sig-api-machinery-misc

[2017-03-10 19:48] timstclair commented on #39812
@dashpole we should cherrypick the cAdvisor fix into the [release-v0.24](https://github.com/google/cadvisor/tree/release-v0.24) branch for cherrypicking to k8s 1.4/1.5 branches.

[2017-03-10 19:48] enisoc commented on #42738
@kargakis If we give up on supporting kubectl/master version skew, then this issue is only a matter of fixing the upgrade test to not expect new behavior from old clusters. Is a decision going to be made on that before 1.6 release?

If we do want to support skew, our options are:

1. Have kubectl 1.6 maintain the 1.5 behavior (don't check ControllerRef). It will do the wrong thing in the presence

[2017-03-10 19:52] MrHohn commented on #41032
Thanks for the fix!

[2017-03-10 19:54] madhusudancs opened #42907 "kubefed should allow admins to provide credentials to clusters"
`kubefed` creates a service account and installs the right RBAC roles to allow access to the required API resources. However, not all the clusters have RBAC authorizer enabled. Therefore we should allow federation/cluster admins to supply their own credentials.

For details, see https://github.com/kubernetes/kubernetes/pull/41830#issuecomment-285378955 and https://github.com/kubernetes/kubernetes/

[2017-03-10 19:55] skriss commented on #42614
@aveshagarwal @davidopp ping on this - would like to make sure these are non-issues else remediate ASAP.

[2017-03-10 19:55] marun opened #42908 "[k8s.io] Daemon set [Serial] Should adopt or recreate existing pods when creating a RollingUpdate DaemonSet with matching or mismatching templateGeneration {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/772

Failed: [k8s.io] Daemon set [Serial] Should adopt or recreate existing pods when creating a RollingUpdate DaemonSet with matching or mismatching templateGeneration {Kubernetes e2e suite}

[code]

cc: @kubernetes/sig-apps-bugs @janetkuo

[2017-03-10 19:55] marun commented on #42908
/assign @janetkuo

[2017-03-10 19:55] skriss commented on #42834
@pwittrock ping on this

[2017-03-10 19:56] skriss commented on #42831
@pwittrock ping on this

[2017-03-10 19:56] skriss commented on #42826
@derekwaynecarr ping on this

[2017-03-10 19:56] deads2k commented on #39325
Not a blocker.

[2017-03-10 19:57] liggitt commented on #42834
actually, I think this is likely a dupe of https://github.com/kubernetes/kubernetes/issues/42764

[2017-03-10 19:59] jiosec opened #42909 "Kubelet runonce mode doesn't support volumes"
**Kubernetes version** (use `kubectl version`):
v.1.5.2

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CoreOS 1235.9.0
- **Kernel** (e.g. `uname -a`): 4.7.3-coreos-r2

**What happened**:
Kubelet with the flag '--runonce' can't bring up the static pods with volumes.

**What you expected to happen**:
runonce mode should support volumes.

**How

[2017-03-10 20:04] caesarxuchao commented on #42086
Got a case in gce: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/5008

The timed out [poll](https://github.com/kubernetes/kubernetes/blob/v1.7.0-alpha.0/test/e2e/garbage_collector.go#L257) starts at 9:40:16, and the finalizer is removed from the rc at 9:40:48, so it took 2 seconds longer than the max timeout.

[2017-03-10 20:08] jayunit100 commented on #31362
There is at least some user feedback requesting CPU eviction that parallels what we're doing for memory.  is that something we agree on ?

[2017-03-10 20:14] jayunit100 opened #42910 "Decide if kubelets should evict based on InsufficientFreeCPU state."
Xref: #31362

Possible Feature request:

There is at least some user feedback requesting CPU eviction that parallels what we're doing for memory.  is that something we agree on ?

There can be conditions where a pod is scheduled and then a burst means the kubelet finds out, in short order, that it won't be able to run it.  the lack of synchronization is unavoidable and especially problematic on la

[2017-03-10 20:14] jayunit100 commented on #42910
@kubernetes/sig-node-feature-requests  Not sure where you guys  stand on this ?

[2017-03-10 20:15] caesarxuchao commented on #42086
When i wrote the test i expected the qps of client could reach 5, so to orphan 100 objects it would take only 20 seconds. According to the log, the qps is around 3-4, so it took a little longer than expected.

[2017-03-10 20:24] derekwaynecarr commented on #42905
we need to have a mechanism to say that a test should not be run if selinux is enabled (if legitimately required) or fix each test (where appropriate)

[2017-03-10 20:37] ymqytw opened #42912 "Deployment version skew are failing"
The following 2 tests are failing in the version [skew test](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-cvm-kubectl-skew), but I believe it should be fixed once #42362 is merged.
[k8s.io] Kubectl client [k8s.io] Kubectl run default should create an rc or deployment from an image [Conformance]
[k8s.io] Kubectl client [k8s.io] Kubectl run deployment should create a deploym

[2017-03-10 20:38] ymqytw commented on #42912
/assign @ymqytw

[2017-03-10 20:48] #42680 closed

[2017-03-10 20:49] ymqytw commented on #42834
/assign @ymqytw

[2017-03-10 20:54] kargakis commented on #42639
FWIW, all the workload controllers respect observedGeneration.

[2017-03-10 20:58] piosz commented on #42840
@dchen1107 @bgrant0607 WDYT about exposing kubelet version as a label and have a selector in fluentd ds config targeting version 1.6+?

[2017-03-10 21:02] yujuhong commented on #42816
Not quite so. Pulling the image nginx-slim took more than 5 min. We don't pre-pull in GKE tests, so I suspect this happens once in a while.

[code]
[code]

[2017-03-10 21:08] pwittrock commented on #42912
cc @soltysh @janetkuo

[2017-03-10 21:13] nikhiljindal commented on #41673
1. Yes we do want to move from creating secrets in host cluster to creating them in federation control plane.
2. To be able to do this, we need the ability to tell federation control plane to not distribute the secret to underlying clusters (which is what it does by default).
3. https://github.com/kubernetes/community/pull/344 is the proposal which we want to use to be able to do this. We can set

[2017-03-10 21:14] vishh commented on #31362
@dashpole can you work on a list of work items that are pending based on this issue?

[2017-03-10 21:14] dashpole commented on #26000
This error may or may not be benign.  This error usually occurs when the kubelet tries to get metrics before the first metrics have been collected.  This is normally not a problem, as the kubelet eventually retries, and should succeed once metrics collection has started.

@bamb00, by best guess is that this is benign in your case, since I see `Started kubelet v1.5.2` right before each error.  This

[2017-03-10 21:19] dashpole commented on #26000
Regardless of if we find bugs with garbage collection, Ill update the error message to make this more obvious that this frequently occurs during initialization.

[2017-03-10 21:19] vishh commented on #42840
@piosz @thockin and I talked about this issue a bit for migrating kube-proxy.
One idea we came up with was that of running a controller that will identify kubelet versions and apply taints to nodes running static pods. The daemonset version would not tolerate that taint and that way we keep daemon set pods off of nodes running static pods.
Have you considered that approach?

[2017-03-10 21:20] enisoc commented on #42826
/assign @kow3ns

[2017-03-10 21:22] nikhiljindal commented on #41673
ok I read the helm discussion again and I think I understand it now.

1. Whats the drawback of propagating the helm configmaps to underlying clusters?
2. Who uses these configmaps? Does it make sense to keep them in underlying clusters as well so that users can run helm commands directly in underlying clusters if required?

[2017-03-10 21:23] dashpole commented on #26000
@xmik you also appear to have a restarting kubelet.  Note that the process numbers each time you see the error message is different.

[2017-03-10 21:24] dashpole commented on #26000
also, for anyone debugging this, success is only recorded once after a failure.  This was done to reduce log spamming.

[2017-03-10 21:27] dashpole commented on #26000
@azell, your kubelet also appears to have restarted, as the process numbers are different in each log.

[2017-03-10 21:27] nikhiljindal commented on #41673
Re: federation only namespace. https://github.com/kubernetes/community/pull/344 wont support it out of the box. Users are expected to ensure that they create federation only resources in federation only namespace. Else their creation will fail in underlying clusters since the namespace wont be there.

But once we have the basic support as outlined in that proposal, we should be able to extend it t

[2017-03-10 21:32] jbeda commented on #37974
It looks like almost all of these failures are around GKE.  My guess is that GKE doesn't support dumping cluster logs.

[2017-03-10 21:42] grodrigues3 commented on #23013
I'll leave the milestone on this one since it looks like it's still getting attention. @mikedanese clear the milestone if it is not release blocking

[2017-03-10 21:43] grodrigues3 commented on #25106
@liggitt can you verify if this was resolved

[2017-03-10 21:44] jbeda commented on #36204
This is not a cluster lifecycle issue.  It appears to be specific to GCE/GKE.

[2017-03-10 21:45] grodrigues3 commented on #25416
@smarterclayton can we resolve this and remove it from the 1.6 milestone?

[2017-03-10 21:45] dchen1107 commented on #29972
The initial issue was filed against init container feature. It looks like initial container is finished, all user containers are running properly, but the initContainer itself stuck at waiting state which cause the entire pod stuck at pending phase. But we never reproduce the issue, and e2e test only reported once with the similar failures since the day the issue was reported.

The following issue

[2017-03-10 21:46] janetkuo commented on #42908
Can't reproduce it locally with either a local cluster or GCE cluster. In the failed tests, the last orphan-then-adopt step failed. Maybe it's caused by the race between garbage collector vs. DaemonSet controller ControllerRef adoption (#42639)?

[2017-03-10 21:46] grodrigues3 commented on #26202
@pwittrock i'll let you decide the milestone/path forward on this one

[2017-03-10 21:46] piosz commented on #42840
It doesn't differ from a controller applying labels. I'd like to avoid necessity of introducing such controller, since it's not clear what is it's responsibility (generic controller for applying labels on nodes based on some rules? a custom controller just for fluentd purposes). In GKE we can do it on GKE control plane side, but we need a story for open source.

[2017-03-10 21:47] jbeda commented on #35913
This looks to be GKE specific and is not a cluster-lifecycle issue.

[2017-03-10 21:48] jbeda commented on #31513
I don't see how this is a cluster-lifecycle issue.  It looks like the test-infra is broken enough that there are no logs.

[2017-03-10 21:48] jbeda commented on #31513
Also, no one has pinged or mentioned this since Nov.  I'm closing due to inactivity.

[2017-03-10 21:48] #31513 closed

[2017-03-10 21:51] grodrigues3 commented on #29218
@fabioy can we close this

[2017-03-10 21:52] #29218 closed

[2017-03-10 21:53] dchen1107 commented on #29972
@jad007 what do you mean "when the coreOS cluster kubernetes is running on updates itself"? Do you mean in-place upgrade Kubelet and docker binaries on the node? I noticed all following failure cases are reported on CoreOS. That might be the cause here.

[2017-03-10 21:54] grodrigues3 commented on #30177
This issue is stale.  Closing.

[2017-03-10 21:54] #30177 closed

[2017-03-10 21:56] grodrigues3 commented on #32676
@pwittrock I'll let you decide the milestone on this one

[2017-03-10 21:58] grodrigues3 commented on #32829
@caesarxuchao All issues with the 1.6 milestone are being treated as blockers for 1.6.  Can the milestone be removed?   Is it fixed by @vefimova ?

[2017-03-10 22:00] jad007 commented on #29972
@dchen1107, it doesn't look like it is necessarily upgrading the Kubelet or docker binaries, but it looks like it happens whenever the kubernetes node running the service goes down and the service is rescheduled and started on another node.

[2017-03-10 22:01] kow3ns commented on #42826
known flake in 1.5 e2e test side fixed in 1.6 e2e #42367 and  #42429

[2017-03-10 22:01] grodrigues3 commented on #34519
@yarntime @kshafiee this issue hasn't been updated in awhile.  If the fix didn't solve the issue, please reopen

[2017-03-10 22:01] #34519 closed

[2017-03-10 22:03] derekwaynecarr commented on #42526
@ncdc @dchen1107 -- it looks like the container is stopped < 2s after it was started, which would have been a symptom pending the fix of https://github.com/kubernetes/kubernetes/pull/42585

looking at the test history for this test, any subsequent failures have been related to logs which was a separate issue from what i can gather.  as a result, i am closing this as fixed by the linked pr.

[2017-03-10 22:03] #42526 closed

[2017-03-10 22:03] grodrigues3 commented on #36259
@ixdy any status on this?

[2017-03-10 22:03] piosz opened #42917 "Proposal: versioned DaemonSet"
Pod running as a Daemon Set is usually responsible for some operations on the node. With new releases of node components the environment for those operations can happen. Since usually DS is updated together with the master node and we are committed to support a few past versions of nodes due to backward compatibility it would be great to have a support to run different versions of the agent for di

[2017-03-10 22:05] grodrigues3 commented on #37632
@kubernetes/sig-network-bugs

[2017-03-10 22:07] grodrigues3 commented on #37651
@robszumski are you able to reproduce, do you have the api logs?  If so, please reopen the issue

[2017-03-10 22:07] #37651 closed

[2017-03-10 22:07] ixdy commented on #36259
#40011 might help. I think there is some work on trying to reduce the dependencies for hyperkube, but I don't know what the status of that is.

[2017-03-10 22:07] grodrigues3 commented on #38349
@kubernetes/sig-network-bugs

[2017-03-10 22:09] dchen1107 commented on #40580
The initial flaky was occur more than one month ago, and it hasn't failed for more than 2 weeks. I am closing it for now.

[2017-03-10 22:09] #40580 closed

[2017-03-10 22:09] grodrigues3 commented on #38493
@mwielgus since this is listed as "expected" behavior, i'm going to close this issue.  Reopen if needed

[2017-03-10 22:09] #38493 closed

[2017-03-10 22:10] dchen1107 commented on #40566
The flakiness hasn't occurred for more than 2 weeks. Close it for now.

[2017-03-10 22:10] #40566 closed

[2017-03-10 22:10] grodrigues3 commented on #38497
@timothysc can you verify that this release blocking and the 1.6 milestone is still valid

[2017-03-10 22:11] grodrigues3 commented on #38497
@gmarek is anyone working on this?

[2017-03-10 22:14] soltysh commented on #38497
@grodrigues3 we have https://github.com/kubernetes/kubernetes/pull/42176 but not sure if this will be added to 1.6. With this in we'll be closer to server-side reaping, which should fix the original issue. I don't think this is a release blocker for 1.6, though.

[2017-03-10 22:16] csbell commented on #38493
I'll re-open -- the last suggestion from @lguminski is actually a good one (moved to 1.7 however).

[2017-03-10 22:17] grodrigues3 commented on #38568
ping @Random-Liu can you help out when you get a chance?

[2017-03-10 22:18] nikhiljindal commented on #38493
https://github.com/kubernetes/kubernetes/issues/42594 will fix this.
I think we can close this as a duplicate.

[2017-03-10 22:22] derekwaynecarr commented on #36649
The failures related to this issue that have occurred this year.

#42153 appears to an infrastructure flake as the connection was refused when contacting the server.
#39799 shows there were multiple timeouts waiting for pods to start across a large number of tests which leads me to believe a more widespread infrastructure failure.
#42159 shows that literally no nodes were ready across all tests.

[2017-03-10 22:22] #36649 closed

[2017-03-10 22:23] grodrigues3 commented on #39374
@justinsb can you update the status on this?  Doesn't seem like it should be a 1.6 blocker but add back to the milestone if I got it wrong.

[2017-03-10 22:24] grodrigues3 commented on #39385
@montanaflynn sounds like this is fixed.  Closing the issue

[2017-03-10 22:24] #39385 closed

[2017-03-10 22:24] marun commented on #41673
@nikhiljindal Integration testing involves running the api server standalone so there isn't a host cluster to store secrets in.  Since accessing secured member clusters requires being able to store secrets in the host cluster, it's not possible to target secured member clusters.

It's not blocking testing of unsecured clusters, but I didn't realize that http vs https is more than just transport.

[2017-03-10 22:25] dchen1107 commented on #38568
I am closing the issue since it is obsolete for sure. Normally when node is reported NotReady due to the following reasons:

1) runtime (i.e. docker) is in crashloop, and cannot self-recovered by the node. Kubelet will report NodeNotReady with runtime is down as the reason
2) kubelet itself cannot run at all or there is a network partition between master and node, thus kubelet failed to report its

[2017-03-10 22:25] #38568 closed

[2017-03-10 22:25] nikhiljindal commented on #42594
The current state is that kubectl delete always waits (for ex: it waits for pods to be deleted when running `kubectl delete rs` or `kubectl delete deployment`). Namespace deletion and pog graceful deletion are exceptions.

It may only have access to run DELETE requests and hence wont be able to run GET.
More details: https://github.com/kubernetes/kubernetes/pull/40714#issuecomment-278465095

[2017-03-10 22:26] derekwaynecarr commented on #39510
i think someone from federation should debug this failure first.

[2017-03-10 22:26] derekwaynecarr commented on #35793
@dchen1107 -- i agree.

[2017-03-10 22:26] #35793 closed

[2017-03-10 22:27] derekwaynecarr commented on #35256
has not occurred in 2017, closing per project guidance.

[2017-03-10 22:27] #35256 closed

[2017-03-10 22:27] marun commented on #41673
Regarding helm's use of configmaps, they are to track releases for helm and I don't see the point of propagating them.  I'm not sure why helm would be running in more than the federation control plane, seems like a coordination nightmare.  But maybe @technosophos could chime in?

[2017-03-10 22:28] grodrigues3 commented on #40386
removing the 1.6 milestone as per @Cynerva

[2017-03-10 22:31] bowei commented on #38850
/assign @nicksardo

[2017-03-10 22:34] mbohlool commented on #42841
@deads2k short answer is no. The aggregator should request spec from all servers and combine them. There are ways to reference a single model or parameter to an external yaml/json file, but not for the whole spec.

[2017-03-10 22:35] divyenpatel commented on #42690
Right after the cluster deployment we see all nodes are healthy. but later node fails to update the status.

In list of addresses, there is no duplicate address.

[code]
 systemctl -l status kubelet says

`Duplicate value: api.NodeAddress{Type:"InternalIP", Address:"fc00:10:20:105:250:56ff:fe8e:a16a"}`

cc: @BaluDontu

[2017-03-10 22:37] nicksardo commented on #38850
Believe the fix for this was https://github.com/kubernetes/ingress/pull/185 . Will double check

[2017-03-10 22:38] BaluDontu commented on #42690
@dchen1107  : Since the node addresses get updated in every few intervals. Is it that its updating the same addresses again and hence would result in failure.? But from our end as @divyenpatel mentioned we don't see any duplicate entries.

[2017-03-10 22:39] grodrigues3 commented on #40869
@pwittrock I'll leave this one up to you as well.

[2017-03-10 22:42] ymqytw opened #42918 "Version skew test are failing for taint"
These 2 tests are [failing](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-cvm-kubectl-skew). It is casused by moving taints from annotation to API fields in #38957
[code]
@davidopp Is taint feature alpha in 1.5 and beta in 1.6?
If it is alpha in 1.5, we can simply skip this test in the skew test. PTAL
cc: @aveshagarwal

[2017-03-10 22:54] grodrigues3 commented on #22655
Seems reasonable.

[2017-03-10 22:54] #22655 closed

[2017-03-10 22:55] newtonkishore opened #42919 "Flanneld doesn't come up with Docker 1.12 and Kubernetes doesn't come up with Docker 1.13"
I am using Kubernetes contrib: git clone https://github.com/kubernetes/contrib.git . can this be modified to start with Docker 1.13? Thanks a lot in advance.

Flannel:
journalctl -o cat --unit flanneld
Starting Flanneld overlay address etcd agent...
I0310 12:14:10.553332    1022 main.go:132] Installing signal handlers
I0310 12:14:10.554032    1022 manager.go:136] Determining IP address of default

[2017-03-10 22:57] #27551 closed

[2017-03-10 22:57] k8s-merge-robot opened #42920 "[k8s.io] Projected should be consumable from pods in volume [Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2441/
Failed: [k8s.io] Projected should be consumable from pods in volume [Conformance] [Volume] {E2eNode Suite}

[code]

[2017-03-10 22:58] janetkuo commented on #42908
In the controller manager log for the failed case, saw lots of message:
[code]

This patch error comes from controller ref manager, which caused DaemonSet controller sync loop to fail.

[2017-03-10 22:59] dchen1107 commented on #38498
cc/ @matchstick Can you triage this one for sig-storage. Is the bug targeted for 1.6 release?

[2017-03-10 23:02] dchen1107 commented on #31863
@jingxu97 I believe you already had the patch fixing this one a while back. If I am right, please close this one.

[2017-03-10 23:03] csbell opened #42921 "[Federation] Federated Deployment updates do not respect ReadyReplicas"
As our e2e tests have indicated for a while, support for ReadyReplicas in Deployments in base Kubernetes #37959 was not reciprocated in Federation. This is a regression.

[2017-03-10 23:04] yujuhong commented on #42920
Found something in the kubelet.log....kubelet panicked.
[code]

/cc @derekwaynecarr @dchen1107 @kubernetes/sig-node-bugs

[2017-03-10 23:04] janetkuo commented on #42908
Looking at API server log, daemonset controller doesn't have the permission to PATCH:

[code]

[2017-03-10 23:06] dashpole opened #42923 "Add metrics for Age of stats used for kubelet evictions"
We should keep track of how stale stats used for evictions are.  This will help track improvements in eviction latency, and help uncover regressions.

cc @vishh @derekwaynecarr @sjenning

If someone could assign this to me, I would appreciate that.

[2017-03-10 23:06] grodrigues3 commented on #28188
@sttts do you have state on this? Should it be moved out of the 1.6 milestone

[2017-03-10 23:06] caesarxuchao commented on #42908
it's because rbac doesn't allow daemonset_controller to patch pod: https://github.com/liggitt/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go#L87

we had a similar issue before: https://github.com/kubernetes/kubernetes/pull/39961

@liggitt i think we need to find a generic way to test what permissions are need by our various controllers.

[2017-03-10 23:07] aveshagarwal commented on #42918
@ymqytw yes. and taint changes in 1.6 are compatible with 1.5.

[2017-03-10 23:07] janetkuo commented on #42908
cc @enisoc

[2017-03-10 23:07] grodrigues3 commented on #28337
@MrHohn status on this?  is it blocking 1.6?

[2017-03-10 23:11] dashpole commented on #31362
Current state of kubelet evictions:
 - Memory Evictions: With fairly well-behaved memory-consuming pods ([using 12Mi memory every 10 sec](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/memory_eviction_test.go#L280)), there is no evidence of extra pod evictions.  Once other, more pressing issues have been dealt with, it may be worth testing with more aggressive memory consuming

[2017-03-10 23:13] saad-ali opened #42924 "`[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner External should let an external dynamic provisioner create and delete persistent volumes [Slow] [Volume]` test failing"
The test `[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner External should let an external dynamic provisioner create and delete persistent volumes [Slow] [Volume]` [began failing](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-slow) in GKE between `2017-03-09 18:16 PST` and `2017-03-09 19:03 PST`.

The non-GKE version of this test is still green i

[2017-03-10 23:16] Random-Liu commented on #40607
Talked with @timstclair, reassigned to him.

[2017-03-10 23:18] timstclair commented on #40607
Was anything recently changed with the system cgroup? Those are fairly large discrepancies, which makes me think that either some process died, or is not being moved into the system cgroup.

[2017-03-10 23:18] msau42 commented on #42924
The test failed here:

248                         // external dynamic provisioner pods need additional permissions provided by the
249                         // persistent-volume-provisioner role
250                         framework.BindClusterRole(c.Rbac(), "system:persistent-volume-provisioner", ns,
251                                 rbacv1beta1.Subject{Kind: rbacv1beta1.ServiceAccountKind,

[2017-03-10 23:19] pmorie commented on #42385
This is a classic example of 'sync loop didn't run in time' - moving to 1.7

[2017-03-10 23:20] pmorie commented on #42514
This is a classic example of 'sync loop didn't run in time' - moving to 1.6.  I have some ideas about how we can fundamentally fix all flakes of this type that maybe we can try out in 1.7.

[2017-03-10 23:20] yujuhong commented on #42920
Happened in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2431 too

[code]

[2017-03-10 23:21] liggitt commented on #25106
Yes. Fixed.

[2017-03-10 23:21] #25106 closed

[2017-03-10 23:21] jingxu97 commented on #38498
I think this long thread contains at least two different issues.
1. CleanupOrphanedPod failed if there is no "volume" directory under pod directory. This issue is fixed by PR #38909 which is also cherrypicked to 1.4
2. When running kubelet in rkt fly, mountpoint may not be correctly recognized as tmpfs so unmount is not triggered. Needs some help from CoreOS

[2017-03-10 23:23] caesarxuchao commented on #32829
I think this is fixed by @enisoc's changes: https://github.com/kubernetes/kubernetes/blob/v1.6.0-beta.2/pkg/controller/replicaset/replica_set.go#L281.

[2017-03-10 23:23] #32829 closed

[2017-03-10 23:24] jingxu97 commented on #31863
Thanks, @dchen1107. Yes, the fix is #38909. I think we can close it now.

[2017-03-10 23:24] #31863 closed

[2017-03-10 23:25] Random-Liu commented on #42920
Should be this issue: http://stackoverflow.com/questions/12738149/why-does-filepath-walk-panic

[2017-03-10 23:27] dchen1107 commented on #42920
@derekwaynecarr and @vishh I am assigning this one to you two since it is related to pod cgroup cleanup logic.

[2017-03-10 23:29] dchen1107 commented on #40182
Supporting docker 1.13.x is not targeted for 1.6 from the node team planning from the day one.

In 1.6 release, we plan to drop the support for docker 1.9.x, and continue supporting 1.10, 1.11.2 and 1.12.6. Again, each one of docker releases has its own set of bugs / regressions, the node team tries to catch them, workaround them and documented them as known issues for each release.

Removing this

[2017-03-10 23:30] dchen1107 opened #42926 "Validating docker 1.13.x and 17.03"
.

[2017-03-10 23:30] RenaudWasTaken commented on #42606
Ok thanks !

This makes a lot of sense :) I'll try to look for other approaches !

[2017-03-10 23:30] #42606 closed

[2017-03-10 23:30] dchen1107 commented on #42926
xref: https://github.com/kubernetes/kubernetes/issues/40182

[2017-03-10 23:35] Random-Liu commented on #42920
Send a PR to fix this https://github.com/kubernetes/kubernetes/pull/42927.

[2017-03-10 23:36] krousey commented on #37928
Current failures are expected failures. Closing.

[2017-03-10 23:36] #37928 closed

[2017-03-10 23:36] krousey commented on #37925
Current failures are expected failures. Closing.

[2017-03-10 23:36] #37925 closed

[2017-03-10 23:37] crassirostris commented on #42840
@piosz Move applying labels to startup scripts/salt seems to be the least intrusive and easiest to implement way.

[2017-03-10 23:38] janetkuo commented on #42908
We'll need more e2e tests for ControllRef of each controller (deployment, RC, RS, ...), since we didn't catch this elsewhere. We also need some test for RBAC.

[2017-03-10 23:40] krousey commented on #37911
Current failures are expected failures. Closing.

[2017-03-10 23:40] #37911 closed

[2017-03-10 23:40] krousey commented on #37909
Current failures are expected failures. Closing.

[2017-03-10 23:40] #37909 closed

[2017-03-10 23:40] krousey commented on #37902
Current failures are expected failures. Closing.

[2017-03-10 23:40] #37902 closed

[2017-03-10 23:41] piosz commented on #42840
Actually what I proposed in https://github.com/kubernetes/kubernetes/issues/42840#issuecomment-285782851 is not an option since nodeSelector in PodSpec is old style selector.

[2017-03-10 23:43] piosz commented on #42840
@crassirostris I'm not a big fan of approach with salt, but it seems there is no better option.

[2017-03-10 23:51] justinsb commented on #42643
@calebamiles so what do we do here?  These look like flakes, but cross-cut across teams.

[2017-03-10 23:54] dchen1107 commented on #42840
Re: https://github.com/kubernetes/kubernetes/issues/42840#issuecomment-285782851

Instead of exposing Kubelet version as a label, why not using field selector. Kubelet version is part of NodeStatus already. I just simply don't want to have a duplicate info for the same object.

[2017-03-10 23:56] yifan-gu opened #42929 "pkg/util/flock.Acquire() doesn't guarantee mutual exclusion"
**BUG REPORT**:

**Kubernetes version latest master**:

**Environment**:
- **Ubuntu 16.04 LTS, Linux 4.2.0-42-generic**:

**What happened**:
The `flock.Acquire()` doesn't provide mutual exclusion. Two processes can both grab the same flock at the same time.

**What you expected to happen**:
Only one process should be able to grab the flock.

**How to reproduce it** (as minimally and precisely as p

[2017-03-10 23:57] piosz commented on #42840
@dchen1107 is it possible to schedule based on fieldselector? I'm only aware of using field selector while listing objects.

[2017-03-10 23:58] yifan-gu commented on #42929
cc @mikedanese

[2017-03-10 23:59] piosz commented on #42840
Also node-labels option is in alpha https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L172

[2017-03-11 00:01] dchen1107 commented on #32536
Unfortunately this one didn't hit for 1.6. I retarget this for 1.7.

[2017-03-11 00:03] dchen1107 commented on #38498
@calebamiles I am reassigning this one to you. Please triage it to see if it is still targeted for 1.6. Thanks!

[2017-03-11 00:07] crassirostris commented on #42840
@piosz But it's present since 1.2

@mikedanese @dchen1107 What is the status of this flag? Can we use it for fluentd purposes or better avoid this?

[2017-03-11 00:08] crassirostris commented on #42840
@piosz Maybe it does make sense to implement a temporary ad-hoc controller? It's the easiest to deploy solution, just another `.yaml` in fluentd addon.

[2017-03-11 00:10] dchen1107 commented on #37316
What is the decision for the last item listed above: Now that kubenet works with CRI, make sure other CNI network plugins works too. Any tests / validation performed? compatible or not? Please note that CRI is enabled by default in OSS k8s.

cc/ @kubernetes/sig-network-misc

[2017-03-11 00:12] piosz commented on #42840
I know. It totally doesn't make sense to introduce anything custom. I'll use just the flag. It's rather hacky but unfortunately I can't see anything better.

[2017-03-11 00:12] dchen1107 commented on #37315
At the end we decided to enable kubenet traffic shaping with CRI to avoid those unnecessary backward compatibility issues. Close the issue. Thanks!

[2017-03-11 00:12] #37315 closed

[2017-03-11 00:20] crassirostris commented on #42840
@piosz Cool thing about controller is that you can deploy it into any cluster and it will work, with CA also. You don't have to set up your node labels manually then or restart the cluster.

[2017-03-11 00:20] dchen1107 commented on #30363
I am going to close this one since we introduced and enhanced NPD for 1.6. By default NPD cannot capture all those issues, but it can definitely capture docker crashloop, and request an attention. How to config NPD is upto the vendor of Kubernetes.

[2017-03-11 00:20] #30363 closed

[2017-03-11 00:22] pwittrock commented on #42701
@k82cn Please run `kubectl version` and paste in the result.  "master" is not a Kubernetes version.

[2017-03-11 00:24] pwittrock commented on #42461
@justinsb Please close the issue if it is resolved.

[2017-03-11 00:29] xilabao opened #42932 "kubectl command to list available resources"
As the RBAC role need to be related to resources. I think we could use a command to get the supported resources.

ref to https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/authorization.md#referring-to-resources

[2017-03-11 00:30] pwittrock commented on #28051
@resouer What is the status of this for 1.6?

[2017-03-11 00:32] k82cn commented on #42701
@pwittrock , I found this log when investigating #42686 ; so I using branch name 'master' :). I think it should be 1.6+.

[2017-03-11 00:35] saad-ali commented on #31272
Moving to 1.7 milestone. 1.6 introduces mount options so that if this is a huge issue you can do soft mounts. In 1.7 we'll revisit this to come up with a more robust design.

[2017-03-11 00:39] piosz commented on #42840
There is a number of open question with having a new controller:
1. should it run on the master or a node?
2. do we guarantee that it will be always running?
3. will it have any resource requirements?

I'd like to avoid discussing it right before the release.

[2017-03-11 00:55] k8s-merge-robot opened #42934 "DumpClusterLogs {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/771/
Failed: DumpClusterLogs {e2e.go}

[code]

Previous issues for this test: #33722 #37578 #38206 #40455

[2017-03-11 00:56] yifan-gu commented on #42929
Sent a PR to fix this (#42935)

[2017-03-11 00:59] dchen1107 commented on #28051
This is not targeted for 1.6 at all, and no assignee. We need to first finish #29459 for kubelet config in general, then come back with the node labels.

[2017-03-11 01:02] k82cn commented on #42701
Append node infos, it seems UID is also empty:

E0306 07:26:10.013767    3385 event.go:259] Could not construct reference to: '&v1.Node{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""},     ObjectMeta:v1.ObjectMeta{Name:"bootstrap-e2e-minion-group-sh51", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion    :"", Generation:0, CreationTimestamp:v1.Time{Time:time.Time{sec:0, nsec:0, loc

[2017-03-11 01:04] caesarxuchao commented on #42086
Garbage collector patches the dependents to orphan them in a single thread, and each PATCH operation takes several hundreds ms, thus the actual qps is around 3-4. I think the qps is fine, i'll just update the test to wait longer. 60s should be enough according to the numbers i saw.

[2017-03-11 01:18] saad-ali commented on #42924
Update from @msau42: `The failing test was affected by some RBAC changes that went into GKE.  With the help of CJ and Erick, the jenkins service account for this test suite was just given "container engine admin" privileges, which should hopefully resolve the issue.`

Test should be green now. Resolving issue.

[2017-03-11 01:18] #42924 closed

[2017-03-11 01:22] #34880 closed

[2017-03-11 01:22] #34875 closed

[2017-03-11 01:22] #34871 closed

[2017-03-11 01:22] #34684 closed

[2017-03-11 01:22] #34682 closed

[2017-03-11 01:23] #34887 closed

[2017-03-11 01:23] #34889 closed

[2017-03-11 01:24] #34903 closed

[2017-03-11 01:24] #34912 closed

[2017-03-11 01:24] #34926 closed

[2017-03-11 01:28] #34985 closed

[2017-03-11 01:28] #35296 closed

[2017-03-11 01:28] jerroydmoore commented on #19171
I have a use case. I want to capture network IO for logging and auditing, using Metricbeat or Packetbeat.

https://www.elastic.co/guide/en/beats/metricbeat/current/running-in-container.html
https://agonzalezro.github.io/log-your-docker-containers-from-a-container-with-packetbeat.html

[2017-03-11 01:28] #37025 closed

[2017-03-11 01:29] #37116 closed

[2017-03-11 01:31] #37883 closed

[2017-03-11 01:37] #42583 closed

[2017-03-11 01:41] lavalamp commented on #34508
I have started a design for this. It's a bit involved. https://docs.google.com/document/d/1JnGWrE2WfdmaQIjnScF9RSRSc6wUgtyY_YGkeFtZCCU/edit

[2017-03-11 01:51] k82cn commented on #42701
Here's the root cause: this event was triggered in `kl.initializeModules`, but the nodeInfo(`v1.Node`) was update in `kl.syncNodeStatus` after `kl.syncNodeStatus` in other go routine. So the SelfLink maybe not set. Created a PR for this, @vishh , any suggestion on the solution? I'm going to do more check on the impact.

[2017-03-11 01:53] #37889 closed

[2017-03-11 02:18] MrHohn commented on #28337
It doesn't seems to be blocking 1.6 but I haven't took a careful look yet. Will update soon.

[2017-03-11 02:22] #37996 closed

[2017-03-11 02:22] janetkuo commented on #42912
Yep, it failed with 1.5 server + 1.6 kubectl, because `kubectl run` tries to get apps.v1beta1 deployment that 1.5 cluster doesn't support. #42362 adds discovery code before generator which will solve these test failures.

[2017-03-11 02:23] #38030 closed

[2017-03-11 02:24] janetkuo commented on #42912
FYI the PR is merged and the tests are green :)

[2017-03-11 02:26] ymqytw commented on #42912
Great. Closing.

[2017-03-11 02:26] #42912 closed

[2017-03-11 02:31] #38312 closed

[2017-03-11 02:33] gyliu513 opened #42941 "`kubectl get all` do not return `ingress`, `daemonset` resource etc."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-11 02:38] #42520 closed

[2017-03-11 02:39] #42305 closed

[2017-03-11 03:12] gyliu513 commented on #42941
Duplicate with #42885

[2017-03-11 03:12] #42941 closed

[2017-03-11 03:12] gyliu513 commented on #42885
Not only `ingress`, but also `daemonset` etc

[2017-03-11 03:16] liggitt commented on #42764
opened https://github.com/kubernetes/kubernetes/pull/42944 to fix

[2017-03-11 03:24] dashpole commented on #42008
completed via #42899
/close

[2017-03-11 03:24] #42008 closed

[2017-03-11 03:34] liggitt commented on #42932
@kubernetes/sig-cli-feature-requests

[2017-03-11 03:59] bgrant0607 commented on #42699
Please see the referenced proposal.

Closing this issue as a duplicate.

[2017-03-11 03:59] #42699 closed

[2017-03-11 04:01] liggitt commented on #42834
should be fixed by #42944

[2017-03-11 04:20] hoanhdo commented on #42785
Hi.
You can try edit yaml file: add --kube-master-url to section args in container kubedns
Example

        image: gcr.io/google_containers/kubedns-amd64:1.8
        resources:
          # TODO: Set memory limits when we've profiled the container for large
          # clusters, then set request = limit to keep this container in
          # guaranteed class. Currently, this container falls into the

[2017-03-11 04:54] k8s-merge-robot opened #42945 "[k8s.io] Projected should project all components that make up the projection API [Conformance] [Volume] [Projection] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2445/
Failed: [k8s.io] Projected should project all components that make up the projection API [Conformance] [Volume] [Projection] {E2eNode Suite}

[code]

[2017-03-11 04:56] ErwanMAS opened #42946 "kube-proxy can not start when using rkt"
**Kubernetes version**
[code]
**RKT version**
[code]
**Environment**:
- **Cloud provider or hardware configuration**:  Virtualbox
- **OS** : Ubuntu 16.04.2 LTS
- **Kernel** : `Linux k8-mast 4.4.0-66-generic #87-Ubuntu SMP Fri Mar 3 15:29:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

**What happened**:
kube-proxy can not start .

[code]

**Anything else we need to know**:

very similar to https://gi

[2017-03-11 05:00] ajit-sarnaik commented on #24657
Any idea when host_ip will be supported please.

[2017-03-11 06:02] #42716 closed

[2017-03-11 07:18] davidopp commented on #42932
This would be cool.

[2017-03-11 07:25] davidopp commented on #42918
Why do you think the failures are because of moving taints from annotation to API fields?

I looked at the two tests and didn't see anything related to taints.

[2017-03-11 07:55] liggitt commented on #40248
anything for this issue targeting 1.6 or can we move it to 1.7?

[2017-03-11 08:01] liggitt commented on #31975
@nikhiljindal did https://github.com/kubernetes/kubernetes/pull/35950/ fix this?

[2017-03-11 08:02] liggitt commented on #37473
partially implemented in 1.6, work remaining to complete in 1.7

[2017-03-11 08:10] liggitt commented on #38044
hasn't been reported in three months, most links are missing any information, the ones that are still present show a timed out build.

[2017-03-11 08:10] #38044 closed

[2017-03-11 08:21] liggitt commented on #31058
not referenced in 6 months

[2017-03-11 08:21] #31058 closed

[2017-03-11 08:52] kevin-wangzefeng commented on #41584
@faresj

It's just we don't have much background data as inputs to set a higher/proper default value of the weight for "InterPodAffinityPriority" comparing to other priorities.

[2017-03-11 10:14] nikhiljindal commented on #32988
Closing as this has not happened again

[2017-03-11 10:14] #32988 closed

[2017-03-11 10:15] nikhiljindal commented on #33558
Closing as this has not been reported again since October

[2017-03-11 10:15] #33558 closed

[2017-03-11 10:17] nikhiljindal commented on #39510
Closing as duplicate of https://github.com/kubernetes/kubernetes/issues/36351

[2017-03-11 10:17] #39510 closed

[2017-03-11 12:48] snowsky commented on #42885
The command 'kubectl get all' will only print with Kind:
[code]
In MultipleTypesRequested:
[code]

[2017-03-11 13:06] sttts opened #42950 "End-2-end encrypted kubectl exec using SSH as protocol"
The current kubectl-exec implementation is using the transport encryption from the kubectl to the apiserver and the transport encryption from the apiserver to the kubelet to tunnel the terminal data. The terminal data itself is not protected otherwise, i.e. the apiserver can read everything in plain text.

This is a potential attack surface as taking over the apiserver allows to watch execs and/or

[2017-03-11 13:36] kargakis commented on #42917
I don't think the D->RS abstraction applies to what you are asking for because Deployments manage upgrades for ReplicaSets whereas DaemonSets manage their own upgrades.

This issue sounds like an A/B deployment that cares about topology. I don't think a new controller type is needed. We may be able to specify this mapping between a specific DS version x node version in the existing DaemonSetSpec.

[2017-03-11 14:28] k8s-merge-robot opened #42952 "TestBlockingOwnerRefDoesBlock {garbagecollector}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/3708/
Failed: TestBlockingOwnerRefDoesBlock {garbagecollector}

[code]

[2017-03-11 14:28] kargakis commented on #42952
cc: @caesarxuchao

[2017-03-11 16:41] michaelajr commented on #28174
Ah. Awesome. Very glad to have found this.

[2017-03-11 16:44] shiywang commented on #42885
try to fix in https://github.com/kubernetes/kubernetes/pull/42954, but still need to @liggitt confirm whether we should do that.

[2017-03-11 16:58] michaelajr commented on #28174
Enabled. But LBs are created serving only one zone. Used KOPS to create the cluster and defined my subnets there. Is there something to add to the YAML or annotations to tell AWS to add the other subnets to the LB?

[2017-03-11 17:33] Venkat-Sudharsanam opened #42955 "Kubernetes Problem with With Petsets."
Hi Guys,

I'm using Kubernetes 1.5.I working on a Ubuntu VM on my machine.
I was going through the documentation in the official website for petset.

https://kubernetes.io/docs/user-guide/petset/

I tried to launch a PetSet which was given in the example section, but im getting the below error:

[code]

I'm getting the below error when launching it,

[code]

[2017-03-11 17:44] smarterclayton commented on #42950
If the apiserver is taken over... you can root the cluster.  But it's even easier to just do this yourself - start a session with ssh over exec.  What does this add?

[2017-03-11 17:45] smarterclayton commented on #42950
Ie if you own the apiserver it's literal game over for the cluster until we introduce the concept of "untrusted master".

[2017-03-11 17:46] smarterclayton commented on #42932
I thought we added a command that listed resources in the discover doc a long time ago.

[2017-03-11 17:49] smarterclayton commented on #42932
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/apiversions.go is just the versions, but principle is the same.  We want to list all the types, their resources, and tie that back to "explain".

[2017-03-11 17:51] smarterclayton commented on #42917
Yeah this sounds like it's what we called step 2 of daemonsets updates - as kargakis notes that will be part of daemon sets itself and the hope was to address it in 1.7

[2017-03-11 18:09] sttts commented on #42950
This is the point. We security-wise build a single-point of failure. If you exploit some security vulnerability of the master, the cluster is rooted as you say: anything can be executed on any node.

I am wondering how a node can verify that the pods "sent" from the apiserver are what a trusted user had in mind, like:
- image is signed
- a well-defined, behaviour defining subset of the pod spec is

[2017-03-11 18:29] sttts commented on #42950
The use-case I have in mind:

You want to define a set of nodes to process
- credit card information
- or other security critical data, e.g. from volumes that can only be accessed on this set of nodes.

You can use taints/tolerations to guide the scheduler that nothing else is scheduled there. If we can limit the tolerations that a user can apply, we can even enforce that some day (all if we trust

[2017-03-11 18:38] vishh commented on #42840
Having a controller will help with kube-proxy transition too in the future.

On Fri, Mar 10, 2017 at 4:40 PM, Piotr Szczesniak <notifications@github.com>
wrote:

[2017-03-11 19:17] michaelajr commented on #28174
So my issue is due to the fact that a tag is needed on the subnets to get the ELB to use them. This is odd since the state store contains the subnets of the cluster. Why do we need tags here? Especially since I brought my own subnets using KOPS.

[2017-03-11 19:21] michaelajr commented on #40611
I think resources should only be tagged if K8S created them. Things like ELBs should not need to reference tags on subnets since the state store knows about all the zones and subnets. Just use the values there.

[2017-03-11 19:22] michaelajr commented on #38910
Things like ELBs should not need to reference tags on subnets since the state store knows about all the zones and subnets. Just use the values there. This is especially true if I bring my own subnets. I do not want to tag then so the ELBs will work, and then have the danger of deletion when a cluster is destroyed.

[2017-03-11 19:25] michaelajr commented on #38910
Never mind - was just informed that the state store is only used by kops not k8s. Oh well.

[2017-03-11 19:27] michaelajr commented on #40611
never mind - was just informed that the state store is only used by kops not k8s. So I guess there needs to be a "DO NOT DELETE" tag or something for KOPS if you bring your own subnets. Definitely do not want my subnets deleted if the cluster is torn down.

[2017-03-11 19:43] cblecker commented on #42871
This looks to be fixed on master:
https://github.com/kubernetes/kubernetes/blob/master/Godeps/Godeps.json#L4

[2017-03-11 20:18] smarterclayton commented on #42670
Naive question - why do the tests themselves not tie to a "component" that has at least one sig owner?  And add a commit check that prohibits tests that don't have a component?  We already have functional areas in the tests - would it be easier for the tests to self classify their owners?

[2017-03-11 20:20] dberuben commented on #42243
@ash-man did you solve the issue ? i have the same issue!

[2017-03-11 20:25] michaelajr opened #42957 "Add service annotation for AWS ELB zones so tagging subnets is not required."
**Is this a request for help?**:
No

**What keywords did you search in Kubernetes issues before filing this one?**:
aws, elb, subnets

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

Currently AWS subnets need to be tagged with `KubernetesCluster` to have ELBs correctly include all the zones in a multi-zone cluster. This is problematic when bringing your own VPC/su

[2017-03-11 21:04] dberuben commented on #42243
Ok found how to solved the issue!

--> /etc/systemd/system/docker.service.d/docker-options.conf
I removed the iptable option
and its working

[2017-03-11 22:02] #42733 closed

[2017-03-11 22:45] jayunit100 commented on #42670
I'm fine with claytons suggestion and happy to rebrand the attached PR to simple embed the sig in the ginkgo tags and add corresponding verify/ logic

[2017-03-12 00:16] cmluciano commented on #37543
@gmarek Is this still related to https://github.com/kubernetes/kubernetes/issues/36143?

I considered modifying the test for a retry, but I’m not sure if that is helpful during a GCI downtime problem.

[2017-03-12 01:03] cblecker commented on #42817
I saw a similar issue on my system, and opened a PR for a fix in #42958.

[2017-03-12 01:12] smarterclayton commented on #42950
On Mar 11, 2017, at 1:29 PM, Dr. Stefan Schimanski <notifications@github.com>
wrote:

The use-case I have in mind:

You want to define a set of nodes to process

   - credit card information
   - or other security critical data, e.g. from volumes that can only be
   accessed on this set of nodes.

You can use taints/tolerations to guide the scheduler that nothing else is
scheduled there. If we can

[2017-03-12 01:49] #42764 closed

[2017-03-12 01:49] #42834 closed

[2017-03-12 01:58] k82cn commented on #42686
@piosz , my pleasure :). Added comments on  kubernetes/contrib#2382 .

[2017-03-12 02:43] chrislovecnm commented on #39574
@ant31 this is not a blocker

[2017-03-12 03:17] AdoHe commented on #42057
[code]
I agree. will take a look at OpenAPI more specifically.

[2017-03-12 03:21] AdoHe commented on #40813
[code]
Thanks point out @deads2k

[2017-03-12 03:29] AdoHe commented on #42787
/cc @AdoHe

[2017-03-12 03:30] AdoHe commented on #24720
@timothysc @davidopp do we still want this fixed? I can re-pick this.

[2017-03-12 03:36] AdoHe commented on #42392
[code]
This is quite a big change, which means we may need to suggest user to upgrade binary more clearly, e.g print out `version skew, please upgrade` when use older version client against newer version server.

[2017-03-12 03:38] gyliu513 commented on #42885
/assign @shiywang

[2017-03-12 03:53] AdoHe commented on #32676
also related with #29322, target this on 1.7.

[2017-03-12 04:04] AdoHe commented on #42521
/cc

[2017-03-12 05:58] thockin opened #42960 "Kubelet hostports are not held open after kubelet restart (dockershim)"
1) Create a pod with a hostport
2) Observe that the kubelet on that node opens that hostport so no other process can try to get it
3) Restart kubelet
4) Observe that kubelet no longer holds that port open, and it can be bound by another process (but will never work because iptables gets the data first)

It seems that CRI only call SetUpPod if it thinks the Pod is not set up.  In this case it is on

[2017-03-12 06:00] foxish commented on #29972
Given the number of reports and all being on CoreOS, as @dchen1107 said, it looks related to CoreOS. Can someone from CoreOS side try to reproduce this? @calebamiles, who would be the right people for this?

[2017-03-12 06:45] ymqytw commented on #42918
@davidopp In this test, master is 1.5 and kubectl is 1.6. New kubectl sends a patch contains a field that the API server doesn't recognize, the API server will drop this unknown field.

[2017-03-12 10:25] gmarek commented on #37543
Looking at recent failures it seems that it's still related to Master-Node connectivity, but not necessarily #36143. Adding retry might help (or not - hard to tell), but it'd shadow real problem, which is not working node proxy (IIUC). @kubernetes/sig-api-machinery-misc

[2017-03-12 11:25] nickveenhof commented on #40180
I'm currently experiencing the same issue. My means to reproduce this is that I used the following scripts to set up gluster on google cloud: https://github.com/rimusz/glusterfs-gce

Afterwards I tried using the examples in that repository (https://github.com/rimusz/glusterfs-gce/tree/master/kubernetes-examples/GlusterFS) but got into the same bug as described here. I noticed @jf647 mentioned that

[2017-03-12 11:45] itamaro commented on #33483
Not directly related to ILB, but the new [Identity-Aware Proxy](https://cloud.google.com/iap/) could solve the same use-case, so as far as I'm concerned - whichever of these integrates with GKE first wins :-)

[API for IAP](https://cloud.google.com/iap/docs/reference/compute-engine-apis)

[2017-03-12 12:53] pettair opened #42963 "Second AZ not added to ELB on AWS"
**Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.3", GitCommit:"029c3a408176b55c30846f0faedf56aae5992e9b", GitTreeState:"clean", BuildDate:"2017-02-15T06:40:50Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}

**Environment**:
- **Cloud provider or hardware configuration**:
AWS
- **Install tools**:
kube-aws v0.9.4

Im creating my cluster on

[2017-03-12 13:26] garrardkitchen commented on #42151
Hi @JiangtianLi, yes, i couldn't​ reach either. I did check vm firewall and nsg rules. Both ok.

[2017-03-12 14:29] urban-1 commented on #29041
I believe this is the post on SO:

http://stackoverflow.com/questions/36694769/kubernetes-skydns-failure-to-forward-request

[2017-03-12 14:33] mfaizanse commented on #42151
@JiangtianLi Just to add here that deploying more services in a row (without deleting the first one) does not causes any issues.

[2017-03-12 15:48] akostadinov commented on #35318
Why HTTP code 429 was chosen? "Too Many Requests" doesn't sound right to me.

[2017-03-12 17:21] smarterclayton commented on #35318
If deployment controller has to generate a PDB then we haven't properly made deployments and PDB orthogonal.  Deployments that compromise an SLO are themselves improperly specified - but I could imagine the deployment being aware of PDB and requiring budget for disruptive (no surge) deployments.

A PDB should target the service/deployments pool, not an RS pool.  Otherwise

[2017-03-12 17:22] smarterclayton commented on #35318
... local decisions made by the RS would be invalid

[2017-03-12 17:29] dims commented on #42274
@weaseal There were some limits introduced recently in https://github.com/kubernetes/kubernetes/pull/40932 (example SuccessfulJobsHistoryLimit), will that help you? (cc @soltysh)

[2017-03-12 17:59] sttts commented on #42817
@fraenkel runs through fine on a Mac here.

[2017-03-12 18:07] sttts commented on #42817
@fraenkel like in @cblecker's case it seems that `godep save` does not find all dependencies. Can you check `${CLIENT_REPO_TEMP}/vendor`? Is there anything inside? Does it exist?

[2017-03-12 18:42] jwhitcraft commented on #42963
This is also happening as part of k8s when using kops to spin up a cluster, it's documented here: https://github.com/kubernetes/kops/issues/1142

[2017-03-12 19:38] fraenkel commented on #42817
It did not have anything under vendor when it failed. I can easily try again.

[2017-03-12 20:37] cblecker commented on #42817
Also what's your `go version`?

[2017-03-12 21:00] fraenkel commented on #42817
Both platforms were Go 1.8.

[2017-03-12 21:05] davidopp commented on #35318
Saying that one parameter is responsible for availability during user upgrades and one parameter is responsible during cluster upgrades seems confusing. I don't know if I ever filed an issue for it, but my intention has always been that we should somehow unify PDB and Deployment specifications of disruption limits.

Ignoring implementation details for a minute, and assuming the PDB and Deployment

[2017-03-12 21:06] davidopp commented on #35318
@akostadinov We thought this was the closest match to what we were trying to express -- that allowing the requested eviction would result in too many evictions of pods from the set covered by the PDB. There's isn't any perfect HTTP error code but this one does imply to try again later, which is what we would want the client to do.

[2017-03-12 21:13] davidopp commented on #42918
These tests appear to be passing consistently recently. Probably one of the bug fixes merged in the past few days fixed this. I'm going to close, but please reopen if I am mis-reading and they are still failing.

[2017-03-12 21:16] davidopp commented on #42614
All of the 1.5-1.6 and 1.6-1.5 skew tests are currently passing except the two that I would expect to fail due to backward-incompatible change in "kubectl taint" behavior. One of the fixes in the past few days must have fixed it. So I'm going to close this issue; please reopen if there is still a problem.

[2017-03-12 21:30] davidopp commented on #35405
@mwielgus this is currently assigned to you -- can you take a look? I guess it has not failed individually recently, only as part of large "broken test runs" so maybe we should close it? Please advise.

[2017-03-12 21:31] davidopp commented on #37259
@foxish this is currently assigned to you -- can you take a look? I guess it has not failed individually recently, only as part of large "broken test runs" so maybe we should close it? Please advise.

[2017-03-12 21:37] davidopp commented on #42691
Thanks for investigating. It would be good to do something to verify the theory that not waiting long enough is the cause of the flakes -- either increase the waiting time and see if the failure rate goes down, or change at least one of the tests to use events (as you guys have suggested above) and see if the failure rate goes down.

[2017-03-12 21:40] davidopp commented on #35405
This has been passing consistently in
https://k8s-testgrid.appspot.com/google-gce#gce
and
https://k8s-testgrid.appspot.com/google-gce#gci-gce
so I'm closing.

[2017-03-12 21:40] #35405 closed

[2017-03-12 21:45] davidopp commented on #37259
This has only failed once in the last couple of weeks in
https://k8s-testgrid.appspot.com/google-gce#gce-serial
and zero times in
https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial
so I think we should close it.

@foxish WDYT?

[2017-03-12 22:11] davidopp commented on #24720
AFAIK it's still broken.

cc/ @kubernetes/sig-scheduling-bugs

[2017-03-12 22:17] wyc commented on #13753
Hi,

I'd also like to see more technical documentation on how to implement a new volume driver in [pkg/volume](https://github.com/kubernetes/kubernetes/tree/master/pkg/volume). Right now, the [interface](https://github.com/kubernetes/kubernetes/blob/8fd414537b5143ab039cb910590237cabf4af783/pkg/volume/volume.go) is pretty un-explanatory and the [doc.go file](https://github.com/kubernetes/kubernetes

[2017-03-12 22:21] foxish commented on #37259
Yes, @enisoc fixed a regression in this recently. Closing this.

[2017-03-12 22:38] smarterclayton commented on #35318
Part of what I was considering would be a prereservation of disruption -
allowing the controller to optimistically indicate disruption should be
minimized.  Admittedly I hadn't thought through all the implications, but
it does seem reasonable that the deployment indicates against the budget
that it is about to cause disruption - effectively taking a disruption
lease.  That would potentially allow

[2017-03-12 22:40] smarterclayton commented on #35318
Also, we have users today doing in place pod updates with direct pod
updates.  Someone doing that should be charging that update against the
disruption budget - whether it's the pod during update, or directly
coordinated by the user.

On Mar 12, 2017, at 5:05 PM, David Oppenheimer <notifications@github.com>
wrote:

Saying that one parameter is responsible for availability during user
upgrades and

[2017-03-12 23:15] ymqytw commented on #42918
I suspect you are looking at the wrong tests?
The skew tests are not passing.
https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-cvm-kubectl-skew
https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gce-1.5-1.6-gci-kubectl-skew
It seems I don't have permission to open this issue again. Please open it.

[2017-03-12 23:22] bsalamat commented on #42691
@davidopp Please see the [PR#42928](https://github.com/kubernetes/kubernetes/pull/42928). In that PR I have changed scheduler_predicates.go to use events.

[2017-03-12 23:35] davidopp commented on #42918
There are two tests failing at the links you pasted, but those are not the tests mentioned in this issue.

The two tests that are failing there are expected to fail because of the backward incompatible change to how "kubectl taint" works.

[2017-03-12 23:35] #42918 closed

[2017-03-13 00:00] fabioy commented on #42945
@matchstick I'm not familiar with this test -- reassign? Thanks.

[2017-03-13 00:28] liggitt commented on #42392
It definitely affects some commands more than others (and as we improve at making commands work generically, more and more work across broader skew)

[2017-03-13 00:31] kargakis commented on #35318
Yes, unfortunately this seems to be something we can only document.

On Sun, Mar 12, 2017 at 1:22 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-03-13 00:51] timchenxiaoyu opened #42971 "gpu error"
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2+$Format:%h$", GitCommit:"$Format:%H$", GitTreeState:"not a git tree", BuildDate:"1970-01-01T00:00:00Z", GoVer
sion:"go1.7", Compiler:"gc", Platform:"linux/amd64"}Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2+$Format:%h$", GitCommit:"$Format:%H$", GitTreeState:"not a git tree", BuildDate:"1970-01-01T00:00:

[2017-03-13 00:52] kargakis commented on #35318
Does this mean that the Deployment is able to violate a PDB if its
maxUnavailable allows it?
Does it have more value than having node maintainance respect PDB for a
Deployment?

On Sun, Mar 12, 2017 at 6:38 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-03-13 00:54] timchenxiaoyu commented on #42971
on cnetos7 host:
 ll /dev/n
net/                network_throughput  nvidia0             nvidia-uvm          nvram
network_latency     null                nvidiactl           nvidia-uvm-tools

[2017-03-13 00:56] kargakis commented on #42392
We may be able to confidently say in the future that we support version
skew but it doesn't seem to be the case today.

On Sun, Mar 12, 2017 at 8:28 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-03-13 01:37] shiywang commented on #42594
/subscribe

[2017-03-13 02:04] #42871 closed

[2017-03-13 02:04] luomiao commented on #42871
Thank you. Closed now.

[2017-03-13 02:50] smarterclayton commented on #35318
PDB is user guarding against system disruption.  Deployment is user
instructing the system to change the system, and I do think deployment
strategy dominates PDB.

However, deployment controller needs to ensure that recent system
disruption won't lead to strategy guidelines being invalidated (hence the
need to prevent certain disruption while deployment is happening).

I do think users at some poi

[2017-03-13 03:11] gnufied opened #42972 "Vsphere volumes don't work properly in SELinux environment"
Vsphere volumes aren't relabelled in SELinux environment because they set `Managed: false` in volume attributes.

This flag is important for SELinux support to work - https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L129

CC @pmorie @childsb

The fix is obviously simple and I am happy to make it but I would like to know if there was any reason vsphere volumes don't

[2017-03-13 03:27] gnufied commented on #42972
Made a small PR that fixes it - https://github.com/kubernetes/kubernetes/pull/42973

[2017-03-13 04:07] brendandburns opened #42976 "Upgrading from 1.6.0-alpha.3 to 1.6.0-beta.3 fails"
With 1.6.0-beta.3 I see a bunch of errors in the apiserver like:

[code]

My kubelets are all 1.5.2, it's possible that is causing the problem, but downgrading to 1.6.0-alpha.3 works correctly.

[2017-03-13 04:14] chinakevinguo opened #42977 "kubedns"
Hi
**First of all, I am a novice!!**
My k8s cluster installed from yum source on CentOS.and here is my cluster info
[code]
**Get node status**
[code]
Now ,i want to create a kube-dns,and the yaml file from git
**kubedns-controller.yaml**
[code]
**kubedns-sa.yaml**
[code]
**kubedns-cm.yaml**
[code]
**kubedns-svc.yaml**
[code]
The first time,i commented out all the content about volumes,the log tell

[2017-03-13 04:20] feiskyer commented on #42856
A detailed process about this idea is

* Split `RunSandbox` into `CreateSandbox` and `StartSandbox`
* Introduce a `SandboxCreated` state of sandbox and runtime should ensure
  * the sandbox is in `SandboxCreated` state after `CreateSandbox` successfully
  * the sandbox is in `SandboxReady` state after `StartSandbox` successfully
  * the sandbox is in `SandboxNotReady` state if `StartSandbox` faile

[2017-03-13 04:50] davidopp commented on #35318
What's wrong with having the Deployment generate the PDB? Deployment generates the ReplicaSets so this doesn't seem totally crazy...

[2017-03-13 05:08] skriss commented on #42738
@enisoc @kargakis can we at a minimum get a fix for the test in by the RC? I need a clear signal out of this test.

[2017-03-13 05:31] saad-ali commented on #13753
@wyc Awesome, thanks for helping out with this.

@rootfs @jsafrane and I should be able to help out with this.

Looks like somewhere in https://github.com/kubernetes/community/tree/master/contributors/devel/ would be the best home for this doc.

[2017-03-13 05:31] ymqytw commented on #42918
Sorry, I pasted the wrong text in the issue description.

We should skip these 2 taint skew tests for this version. I will file a PR against 1.5 branch to make the skew tests not failing.

[2017-03-13 05:39] davidopp commented on #42918
Agreed.

Thanks!

[2017-03-13 05:40] PavelPrischepa commented on #27768
I'm failed to get logs of a completed job, because of error:

[code]

[2017-03-13 05:44] geekard commented on #29059
Same issue with 1.5.4 on  Centos 7.2  as well.

[2017-03-13 05:45] k82cn opened #42979 "Print startup parameters of daemons for debugability"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature request

**Kubernetes version** (use `kubectl version`):
master, next release

**What you expected to happen**:
Print startup parameters of daemons for debug-ability.

[2017-03-13 05:56] sttts commented on #28188
This hasn't become better or worse the last months. Am fine with moving it @grodrigues3

[2017-03-13 06:01] smarterclayton commented on #35318
Does every stateful set generate a PDB as well?  How about every operator?
What if an operator wants to use stateful sets but create its own PDB?
Does it tell the SS not to have a PDB

I kind of think namespaces need a default PDB and that would be
sufficient.  Creating a PDB from all lifecycle objects feels... inelegant.

On Mar 13, 2017, at 12:50 AM, David Oppenheimer <notifications@github.com>

[2017-03-13 06:01] sttts commented on #42817
1.7 here.

[2017-03-13 06:12] k8s-merge-robot opened #42980 "[k8s.io] Downward API volume should provide podname as non-root with fsgroup and defaultMode [Feature:FSGroup] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2481/
Failed: [k8s.io] Downward API volume should provide podname as non-root with fsgroup and defaultMode [Feature:FSGroup] [Volume] {E2eNode Suite}

[code]

[2017-03-13 06:14] #42798 closed

[2017-03-13 06:30] davidopp commented on #42910
I think @bgrant0607 has suggested this is something the rescheduler could do, instead of kubelet.

[2017-03-13 06:33] mfaizanse commented on #42605
According to the [documentation ](**https://kubernetes.io/docs/admin/dns/**)of kubernetes, if two pods/services are running in a same namespace then they can ping using only the service name like ping foo. But I have tried it and it does not work until I provide the full dns name like foo.default.svc.cluster.local. Any idea about this?

[2017-03-13 06:44] colemickens commented on #42605
(Why don't you guys just talk in the Kubernetes Slack room?)

[2017-03-13 06:45] colemickens commented on #42605
(never mind my reply, GitHub comments and email notifications had drifted...)

[2017-03-13 06:50] shiywang commented on #24857
@kargakis I think we can close this, thanks

[2017-03-13 06:57] keontang commented on #33583
@colemickens Does kubenet create cbr0 in kubenet_linux.go? But I cannot find these code.

[2017-03-13 06:58] wojtek-t commented on #38497
Agree - it's not a regression, so moving it to 1.7 seems like a good thing to do.

[2017-03-13 08:06] wulibin163 opened #42982 "My k8s pods increase very quickly"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 BUG REPORT

**Kubernet

[2017-03-13 08:19] quantonganh opened #42983 "fluentd-elasticsearch addon: found invalid field tolerations for v1.PodSpec"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "found invalid field tolerations for v1.PodSpec"

---

**Is this a BUG REPORT or FEA

[2017-03-13 08:23] keontang commented on #42804
I just thought it is not a bug. If no pod use cbr0, we have no need to create it.

So, close it.

[2017-03-13 08:23] #42804 closed

[2017-03-13 08:36] slaskawi commented on #28660
I have created a design proposal for this functionality: https://github.com/kubernetes/community/pull/446

All comments are more than welcome!

[2017-03-13 08:46] xiangpengzhao commented on #36983
I also encounter similar issue, kubernetes produces tons of log such as:
[code]

and there are tons of directories in directory `/var/lib/kubelet/pods/26b15e34-0565-11e7-98db-fa163e09f30e/volumes/kubernetes.io~empty-dir`
[code]

My version is build from HEAD code.

[2017-03-13 08:50] wulibin163 commented on #42982
My fault， add -terminated-pod-gc-threshold=1000 for kube-controller-manager

[2017-03-13 09:01] k8s-merge-robot opened #42985 "[k8s.io] Node Container Manager [Serial] Validate Node Allocatable set's up the node and runs the test {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/449/
Failed: [k8s.io] Node Container Manager [Serial] Validate Node Allocatable set's up the node and runs the test {E2eNode Suite}

[code]

[2017-03-13 09:48] soltysh commented on #42752
👍 for apps, besides cluster administrator can always restrict access to them through RBAC, if needed.

[2017-03-13 09:56] bcorijn commented on #42796
Just had this again on one of my nodes: kubelet was trying to schedule a pod but couldnt. Error in the UI was:
```Error syncing pod, skipping: failed to "StartContainer" for "POD" with RunContainerError: "runContainer: operation timeout: context deadline exceeded```
ssh'ing into the host and restarting the daemon fixed it.

[2017-03-13 09:58] wojtek-t commented on #38228
We won't bump Go version in 1.6 release. Moving to 1.7

[2017-03-13 10:03] hoanhdo opened #42987 "How i can change file name in secret tls"
Hi all.
I am running kubernetes-1.5.2-0.2.gitc55cf2b.el7.x86_64
- **VmWare**:
- **OS** : CentOS Linux release 7.2.1511 (Core)
- **Kernel** : 3.10.0-327.el7.x86_64
I run nginx with ssl and kubenetes secret. But config file nginx in container not match secret.

I run nginx with ssl using secret

kubectl create secret tls nginxsecret --key /tmp/nginx.key --cert /tmp/nginx.crt

Describe secret : kubec

[2017-03-13 10:09] maxandron commented on #31548
Same for me.. I get this: `error: unable to decode "STDIN": [pos 228]: json: expect char '"' but got char '8'`

[2017-03-13 10:12] wojtek-t commented on #42388
@dchen1107 @yujuhong

Looking into log of those failures, I'm 90% sure that all of those were result of pods being killed by the sandox issue. I think that @yujuhong PR: https://github.com/kubernetes/kubernetes/pull/42768 fixed this issue.

@yujuhong @dchen1107 - thoughts? Can we close this?

[2017-03-13 10:14] wojtek-t commented on #42782
Seems like a duplicate of https://github.com/kubernetes/kubernetes/issues/42920 to me. @Random-Liu - thoughts?

[2017-03-13 10:16] wojtek-t commented on #42742
Seems like a duplicate of #42920 to me. @Random-Liu - thoughts?

[2017-03-13 10:24] wojtek-t commented on #40139
The failures from https://github.com/kubernetes/kubernetes/issues/40139#issuecomment-282391699 were CRI-related - those problems were fixed by @yujuhong

Though, we should understand failures from: https://github.com/kubernetes/kubernetes/issues/40139#issuecomment-285869987

@shyamjvs - can you please take a look?

[2017-03-13 10:27] wojtek-t commented on #39670
Yup - this was dup of #39604. Since that one was closed, I'm also closing this one.

[2017-03-13 10:27] #39670 closed

[2017-03-13 10:28] wojtek-t commented on #38518
@csbell for triage

[2017-03-13 10:46] JorritSalverda commented on #39792
The externalName actually serves a different purpose. It's for a service to resolve to some external application.

I need to be able to give any service in Kubernetes an alias though that sets up a dns record in kube-dns so I can use my-service.mydomain.com in any of the other applications running inside the cluster and have it resolve to the clusterIP of my-service.

[2017-03-13 10:48] JorritSalverda commented on #39792
I'm trying to figure out if I can write records to KubeDNS myself, but the only post I could find about it seems outdated:

https://rsmitty.github.io/Manually-Checking-Out-KubeDNS/

I mentions there's an etcd container, but in my 1.5.3 cluster there isn't.

How would one go about writing records to KubeDNS?

[2017-03-13 10:50] JorritSalverda commented on #39792
This issue seems to deal with the same functionality I'm looking for: https://github.com/kubernetes/dns/issues/55

[2017-03-13 10:54] PavelPrischepa commented on #27768
I specified `--minimum-container-ttl-duration=10m` in kubelet config, so pod and container available during 10 minutes after job will be finished.

[2017-03-13 10:56] greatbsky commented on #42977
hello, this is not an issue.
spec.tolerations is the new feature of v1.6.x, not for v1.5.x. you should remove it for v1.5.x.

you can read this: https://github.com/kubernetes/kubernetes/pull/38957

[2017-03-13 10:59] wojtek-t commented on #38114
The last entry is from 2 months ago. Kubemark setup has been significantly rewritten since then, so closing this one.

[2017-03-13 10:59] #38114 closed

[2017-03-13 11:31] wojtek-t commented on #38263
In both cases this is exactly the same problem:
[code]

So the only problem is that we are not able to grab log sizes (which is clearly just a test issue). Thus marking it as a "non-release-blocker".

What is more in both cases, there was some unready node. And it seems that the node was unready due to some issues with the underlying VM - it seems we weren't able to SSH to it. So we probably have

[2017-03-13 11:37] deads2k commented on #42841
You don't always include all APIs from a server.  How will you remove the undesired ones?

[2017-03-13 11:47] deads2k commented on #42086
Any idea what's wrong with it?  That seems really long.  Is it not using a cached connection or something?

[2017-03-13 11:53] k8s-merge-robot opened #42990 "TestPodDeletionWithDswp {volume}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/3750/
Failed: TestPodDeletionWithDswp {volume}

[code]

[2017-03-13 12:29] jeremywu0127 opened #42993 "kubeadm blocks when init the cluster on amazon linux"
I want to install the k8s cluster on `amazon linux` which version is `2016.09` , I did follow this [installation guide](https://kubernetes.io/docs/getting-started-guides/kubeadm/), but when I start the `kubelet` service, it rans wrong
[code]
then I input the `kubeadm init` it seems blocked
[code]
I wait for 2 hours and it still has no response, I can't find any log in the ec2 instance. docker imag

[2017-03-13 12:38] kargakis commented on #38042
There are a couple of statefulset-related flakes - @kow3ns @foxish mind triaging those?

[2017-03-13 13:23] #24857 closed

[2017-03-13 13:30] enlinxu commented on #25318
Does it make sense to expose an argument to kubectl create , to allow a more dynamic way to decide the scheduler?

[2017-03-13 13:34] timothysc commented on #25318
@enlinxu If there is enough demand to plumb through to command line, sure.

Could you describe your use case on why you wouldn't just adjust your pod-spec to denote?

[2017-03-13 13:48] fraenkel commented on #42817
Yup, so Go 1.8 breaks and Go 1.7 works.

[2017-03-13 13:55] enlinxu commented on #25318
@timothysc The use case is to allow user to have a more dynamic and runtime way to start a pod with scheduler foo on the fly, without checking the pod-spec every time.

[2017-03-13 14:03] wojtek-t commented on #40295
#39975 (which I agree that this is a dup of) is claimed to be fixed. Closing.

[2017-03-13 14:13] kargakis commented on #42955
PetSets are renamed to StatefulSets in 1.5.

[2017-03-13 14:18] kingdonb commented on #37844
There are two tricks to get this to work, and ultimately you need to know both.  The real answer is that kubeadm is in alpha, and you should use kops, kube-aws, or some production-ready tool to deploy your important clusters on AWS.

But you can pass --cloud-provider=aws to kubeadm, then manually configure kubelet to use the same option, as described in https://kubernetes.io/docs/admin/kubeadm/ an

[2017-03-13 14:47] mattymo opened #42995 "coredns federation provider should support etcd with TLS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

**Kube

[2017-03-13 14:55] AdoHe commented on #24720
Ok, I will open a PR tomorrow.

[2017-03-13 15:18] kargakis commented on #32023
None of the failures is related to RSs, moving the milestone to 1.7

[2017-03-13 15:19] kargakis commented on #30981
None of the failures is related to RSs, moving the milestone to 1.7

[2017-03-13 15:20] kargakis commented on #36429
None of the failures is related to RCs, moving the milestone to 1.7

[2017-03-13 15:45] shiywang commented on #42852
will open a pr to address that, I think current return value is bool instead of an error handle by `cmdutil.CheckErr`

[2017-03-13 15:48] erictune commented on #38042
@kargakis What are you seeing that makes you think it is statefulset and not a test infra failure?

[2017-03-13 16:28] david-dumas commented on #40182
Reading the current changelog, the latest validated docker version is 1.12.3:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#external-dependency-version-information

This is not up to date ? Where do you check for the supported docker versions otherwise ? @dchen1107

[2017-03-13 16:41] #42891 closed

[2017-03-13 16:48] frankgreco commented on #42243
@dberuben this fixed it for me as well! What version of Docker are you running? I'm running 1.13.

[2017-03-13 16:51] TamalSaha commented on #41039
Is this going to be part of 1.6 release?

[2017-03-13 16:56] kargakis commented on #38042
I just Ctrl+F'd and saw the statefulset failures, didn't verify whether they are test-infra related or real.

[2017-03-13 16:59] dchen1107 commented on #38054
The test suite is green for last month. Close it.

[2017-03-13 16:59] #38054 closed

[2017-03-13 17:06] errordeveloper commented on #23233
I think that key argument for moderately complex client-side substitution VS supervisor is about proving that most of the use-case don't need supervision throughout the lifetime of the resources in question. Most parameters I've encountered in our add ons only need to be set during installation.

Additionally, I think there is a problem with supervisors for the users, as lines get more blurred - w

[2017-03-13 17:08] dchen1107 commented on #38467
This is gke specific failures. Remove it from 1.6 milestone.

[2017-03-13 17:09] liggitt commented on #15050
this has been moved through four releases... @justinsb, what is involved in validating this is fixed?

[2017-03-13 17:13] grodrigues3 commented on #42792
seems test-infra related.  Moving out of the milestone.

[2017-03-13 17:14] dchen1107 commented on #37975
We found the issue a while back existing in the test gci image, and upgraded the image to the newer version for 1.5.4. The issue is fixed.

[2017-03-13 17:14] #37975 closed

[2017-03-13 17:16] dchen1107 commented on #37921
The original issue filed here is in a bad gci test image, which was addressed and patched in 1.4 branch for testing. Close this one.

[2017-03-13 17:16] #37921 closed

[2017-03-13 17:17] grodrigues3 commented on #37923
cluster validation succeeds, but many of the errors look like:

assigning to @kubernetes/sig-auth-bugs

[2017-03-13 17:19] dchen1107 commented on #38473
The failure caused by buggy gci image in 1.5 was addressed. Close this one.

[2017-03-13 17:19] #38473 closed

[2017-03-13 17:19] caesarxuchao commented on #42086
The latency is reported by the apiserver's log, so it doesn't include the connection time. According to the log, other operations also seem to experience higher latency at that time.

[2017-03-13 17:21] yujuhong commented on #42388
@wojtek-t these failures were most likely caused by the cgroup cleanup logic (see #42431) and were unrelated to the sandbox issue (which should not have caused the pod to fail). The cgroup cleanup logic has been fixed. Closing the issue.

[2017-03-13 17:21] #42388 closed

[2017-03-13 17:21] dchen1107 commented on #38482
GKE specific integration issue. cc/ @roberthbailey @fabioy

[2017-03-13 17:22] jingxu97 commented on #40180
Right now if you are using node instances (hosts) to set up gluster server, it will have DNS problem. There is an open PR #42376 to address this.

If you could set up gluster server using pod, it should work. An example in issue #24249. Please kindly let me know if you have any problem with this example. Thanks!

1. Glusterfs Pod
[code]
2. Glusterfs Service

[code]
3. Gluster client
[code]

[2017-03-13 17:22] bowei commented on #42977
Can you close this issue?

[2017-03-13 17:23] yujuhong commented on #40182
@david-dumas you were looking at the 1.5 changelog, while @dchen1107 was talking about the upcoming 1.6 release.

[2017-03-13 17:24] dchen1107 commented on #38034
@mtaufen @freehan @dashpole Any updates on this one?

[2017-03-13 17:28] k8s-merge-robot opened #43001 "[k8s.io] EmptyDir volumes should support (root,0777,tmpfs) [Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2489/
Failed: [k8s.io] EmptyDir volumes should support (root,0777,tmpfs) [Conformance] [Volume] {E2eNode Suite}

[code]

[2017-03-13 17:33] dchen1107 commented on #38002
Remove this one from 1.6 milestone. All other failures are tracked by the specific issues.

[2017-03-13 17:34] dberuben commented on #42243
@frankgreco same as you!

[2017-03-13 17:34] liggitt commented on #37923
the only denials I see in the api server log are when the cluster is still initializing (before authorization has completed setup)

the only instance of "You must be logged in to the server" I see are in tests that are testing bad bearer tokens (e.g. `Authorization: Bearer invalid`), where that is the expected server response

[2017-03-13 17:40] grodrigues3 commented on #38159
[code]

Looks like there's some problems copying files to gcloud.

[2017-03-13 17:40] aveshagarwal commented on #32531
@piosz yes taints and tolerations are already moved to api fields, and the related PRs are already merged for 1.6.

Also this looks duplicate of https://github.com/kubernetes/kubernetes/issues/42686 , I think we should close one.

[2017-03-13 17:41] marun commented on #27883
@bprashanth @matchstick Should this continue to be a blocker for 1.6? If not, please move to 1.7.

[2017-03-13 17:41] marun commented on #28359
@k82cn  Should this continue to be a blocker for 1.6? If not, please move to 1.7.

[2017-03-13 17:42] dchen1107 commented on #28192
I am closing this one. If you disagree, please feel free to reopen it or file a separate issue for follow up.

[2017-03-13 17:42] #28192 closed

[2017-03-13 17:46] grodrigues3 commented on #38162
The failures seem network related on first glance

[2017-03-13 17:46] Random-Liu commented on #42742
Yeah, duplicate to #42920, close this one.
[code]

[2017-03-13 17:46] #42742 closed

[2017-03-13 17:48] skriss commented on #42831
@fabianofranz can you help route this to the appropriate person? thanks.

[2017-03-13 17:48] jingxu97 commented on #40180
@nickveenhof Could you also confirm what version of kuberentes you are testing for glusterfs? Thansk!

[2017-03-13 17:49] Random-Liu commented on #42782
Actually, this is also the same issue. Duplicate to #42920. Close this one.

[code]

[2017-03-13 17:49] #42782 closed

[2017-03-13 17:49] mbohlool commented on #42841
@deads2k I am not sure what you mean. the server should provide a spec of APIs that it supports and callable from aggregator.

[2017-03-13 17:49] grodrigues3 commented on #38307
seems like test-infra perhaps

[2017-03-13 17:52] kow3ns commented on #38042
@kargakis They are timeout errors, not failed conditions.

[2017-03-13 17:53] liggitt commented on #35847
hasn't been hit since 1.5 cut, closing

[2017-03-13 17:53] #35847 closed

[2017-03-13 17:53] dchen1107 commented on #23587
Close this one, and please address the rest enhancement separately. Thanks!

[2017-03-13 17:53] #23587 closed

[2017-03-13 17:55] dchen1107 commented on #37898
This is not a release blocker. All issues except resource tracker are tracked by separate issues and owners.

[2017-03-13 17:56] Random-Liu commented on #42856
Can we also always keep the latest pod sandbox? Just like what we do for containers?

[2017-03-13 18:00] spxtr commented on #42870
@kubernetes/sig-storage-bugs https://storage.googleapis.com/k8s-gubernator/triage/index.html#92442a97a6cd89d19e68 this is failing in every EmptyDir test.

[2017-03-13 18:02] dchen1107 commented on #37316
I punt the last item to 1.7 milestone. But @freehan please do some validation tests with other CNI network plugins, and document the test results asap. This helps the release note too so that we can properly guide the users.

cc/ @devin-donnelly @calebamiles

[2017-03-13 18:03] grodrigues3 commented on #38485
Many of the failures were due to timeouts

Potentially a network issue

[2017-03-13 18:05] #42416 closed

[2017-03-13 18:06] #42214 closed

[2017-03-13 18:06] ixdy commented on #38159
That's not what's failed.

I see those messages quite frequently. I suspect those logs aren't generated anymore. (I think startupscript.log is only created on cvm, not gci.)

[2017-03-13 18:11] marun commented on #42686
@piosz What's the status of the fix for this?

[2017-03-13 18:12] deads2k commented on #42841
Say I create server foo and want to support running `kubectl auth can-i`.  This is easy to do today, but means that I expose `authorization.k8s.io`.  This is reasonable because a person working against this server may to use those delegation APIs.  However, when I aggregate the API server, I can choose to only expose groupVersion foo.  Otherwise, `authorization.k8s.io` would conflict with the "rea

[2017-03-13 18:12] timstclair commented on #40248
At this point all that's left is to document the decision in a better place. I think this should go with the "addon best practices" that came up in last week's sig-auth. @liggitt do you know if anyone has started that document?

[2017-03-13 18:13] aveshagarwal commented on #42686
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/32531 I think we should close one of these.

[2017-03-13 18:16] cmluciano commented on #42971
Is the container running the same version as the host? If there is a mismatch, you could have problems like this.

[2017-03-13 18:16] wojtek-t commented on #38307
@grodrigues3 - the last one is example that I mentioned offline where some node failed. A bunch of tests failed with:
[code]

Which means that one node stopped responding and this was a result of a bunch of failures.

[2017-03-13 18:21] grodrigues3 commented on #38489
Assigning based on the author of the test failures

[2017-03-13 18:22] enisoc commented on #42738
@skriss I expect to have a PR out for this today. I'm going to try option 1 from above because I found that option 3 is not... an option.

[2017-03-13 18:24] yujuhong commented on #43001
[code]

[2017-03-13 18:25] yujuhong commented on #43001
Duplicate of #42920

[2017-03-13 18:25] #43001 closed

[2017-03-13 18:26] dashpole commented on #38034
I havent found anything unusual in the logs...

[2017-03-13 18:26] kargakis commented on #42738
@enisoc if we won't support version skew there is no reason to do 1. Can somebody from @kubernetes/sig-cli-misc confirm that we are not going to support version skew for 1.6?

[2017-03-13 18:28] crassirostris commented on #42983
@quantonganh Fluentd was moved to DaemonSet in 1.6, it is not tested/fully compatible with Kubernetes 1.5

[2017-03-13 18:28] #42983 closed

[2017-03-13 18:31] dchen1107 commented on #41839
Punt this one to 1.7.

[2017-03-13 18:33] dashpole commented on #38034
From the node problem detector logs:
`failed to update node conditions: dial tcp 35.184.65.41:443: getsockopt: connection refused`
`failed to update node conditions: the server does not allow access to the requested resource (patch nodes bootstrap-e2e-minion-group-ff9q)`

[2017-03-13 18:33] derekwaynecarr commented on #42875
this looks like the same issue fixed https://github.com/kubernetes/kubernetes/pull/42927

[2017-03-13 18:35] dcbw commented on #41647
Still getting fluentd oom kills for example https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/42748/pull-kubernetes-e2e-gce-gci/21896/

[2017-03-13 18:36] deedubs commented on #39557
Hey we had this a couple times.  Threw this together and run it on a timer https://github.com/swiftmedical/cni-cleanup

[2017-03-13 18:38] vishh commented on #28552
@dashpole FYI!

[2017-03-13 18:39] crassirostris commented on #41647
@dcbw fluentd started to OOM more because kube-proxy started to log more

There's no solution for that so far, I moved fluentd tests to Flaky suite

[2017-03-13 18:40] derekwaynecarr commented on #42875
For reference, this showed the following panic:

[code]

which is fixed in referenced pr.

[2017-03-13 18:44] jingxu97 commented on #32392
cc @davidopp

[2017-03-13 18:44] ravisantoshgudimetla opened #43007 "[minor] Dead code in taints_tolerations"
Kubernetes version (use kubectl version):

master

What happened:

Unnecessary always nil return value for function getTolerationListFromPod.

What you expected to happen:

We need to remove error return value for getTolerationListFromPod function.

[2017-03-13 18:44] crassirostris commented on #41647
@dcbw Since tests are marked flaky, they shouldn't harm you. Are you sure test failed because of fluentd?

[2017-03-13 18:46] yujuhong commented on #37893
The last failure from the comment above was from >2 months ago. Also not sure how a 1.5 branch issue could be a 1.6 blocker. Closing.

[2017-03-13 18:46] #37893 closed

[2017-03-13 18:55] ash-man commented on #42243
Guys, I don't have such config file  /etc/systemd/system/docker.service.d/docker-options.conf on any of my cluster nodes & master ...

[2017-03-13 19:04] saad-ali commented on #13753
CC @kubernetes/sig-storage-misc

[2017-03-13 19:07] enisoc commented on #42738
@kargakis In #42392 it looks like they're only proposing at most a "strongly worded warning" against skew. If there's no programmatic guard against it, many users are still going to do it, so we should think about what's the worst damage they could do in that case.

So far, the worst I can think of is that the user tries to delete a Deployment in a 1.5 cluster with kubectl 1.6, and all the Replica

[2017-03-13 19:11] grodrigues3 commented on #37923
Sorry @liggitt I saw the same two that you described.  How should we reassign?

<details>
I0312 04:59:10.907] Summarizing 3 Failures:
I0312 04:59:10.907]
I0312 04:59:10.907] [Fail] [k8s.io] Variable Expansion [It] should allow substituting values in a container's command [Conformance]
I0312 04:59:10.907] /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/util.

[2017-03-13 19:11] Cocotton commented on #42243
@dberuben is using Kargo to deploy its cluster. Are you too?

If not, it might be configured somewhere else, if configured at all.

[2017-03-13 19:13] yujuhong commented on #40811
Could be caused by #42920. Kubelet panicked and restarted around that time.

[2017-03-13 19:14] dchen1107 commented on #28552
Unfortunately, this is not done for 1.6. I move it to 1.7 milestone.

[2017-03-13 19:15] yujuhong commented on #42731
Could also be caused by #42920. Kubelet restarted while the test was running.

[2017-03-13 19:18] bgrant0607 commented on #28842
Changing scheduling policy seems like a confusing and potentially dangerous hack.

Do we have any idea how much users are implicitly relying upon spreading in order to make oversubscription work?

Also, hopefully "best fit" isn't purely best fit, such that many pods from the same application would fill up one node before spilling over to another?

Have we considered policies that would be good all

[2017-03-13 19:19] bgrant0607 commented on #28842
Also, forcing users to specify node anti-affinity always would be a big step backwards in usability.

[2017-03-13 19:24] sykesm commented on #42889
Spent some time with @fraenkel on this today. We instrumented the code in [diskTearDown](https://github.com/kubernetes/kubernetes/blob/2d3008fc56f09c181565f9f27f3076270546de2a/pkg/volume/iscsi/disk_manager.go#L78) to dump the list of mount references that existed when `TearDownAt` was called.

What we saw was that there were 9 references to the volume:
[code]
It looks like the majority of these ar

[2017-03-13 19:25] bgrant0607 commented on #28842
Additionally, do we have evidence that this would make a significant difference in realistic growth-contraction scenarios? Is the objective to reduce the work the rescheduler would have to do to drain nodes for potential removal?

[2017-03-13 19:28] yujuhong commented on #39569
Test hasn't failed for two weeks. Closing.

[2017-03-13 19:28] #39569 closed

[2017-03-13 19:29] csbell opened #43009 "[Federation] Federated Informer Stop Race"
The Stop() method in the Federated Informer races with deleteCluster() in how they both try to close (stopChan). Thanks for the heads up @marun

[2017-03-13 19:30] ethernetdan commented on #36535
@bprashanth @saad-ali could this be closed or moved to the `v1.7` milestone?

[2017-03-13 19:30] msau42 commented on #27656
@gnufied, does #40537 fix this issue?

[2017-03-13 19:30] ethernetdan commented on #30544
@madhusudancs @dims could this be closed or moved to the `v1.7` milestone if we're not fixing in 1.6

[2017-03-13 19:32] nickveenhof commented on #40180
Kubernetes version (Master Version): 1.5.3
Using Google Container Engine with two nodes, each on 1.5.3. I'll try the pod example. Thanks!

[2017-03-13 19:33] frankgreco commented on #42243
@dberuben acutally I take that back. What fixed it for me was setting `iptables -P FORWARD ACCEPT`. I also have `--iptables=false` in my docker config

[2017-03-13 19:41] wyc commented on #13753
This is my WIP:

https://github.com/wyc/k8s-community/blob/volume-guide/contributors/devel/developer-guides/volume-overview.md

Is this the right tone/scope/style?

[2017-03-13 19:42] dcbw commented on #41647
@crassirostris you are correct; the test succeeded on retry and there are still fluentd ooms.  Sorry for the false alarm.

[2017-03-13 19:44] jingxu97 commented on #29059
@gregory90 @qrpike @geekard because the our log might be a little bit misleading, could you confirm whether you see redundant mounts for a pod volume such as secrete when you run "mount" command on the host? Thanks!

[2017-03-13 19:46] derekwaynecarr commented on #28552
I do not yet have defaults identified for disk and it will have to be queued up for 1.7.

[2017-03-13 19:46] euank commented on #38042
/close

[2017-03-13 19:46] #38042 closed

[2017-03-13 19:57] justinsb commented on #15050
Manual verification, or once GCE adds an e2e test for the equivalent bit of functionality we can adapt the test for AWS.

[2017-03-13 19:58] mbohlool commented on #42841
Who knows which group-version is exposed? I assume aggregator server knows about group-version it delegate to the other server, right?

[2017-03-13 20:10] gnufied commented on #27656
Yes it does. Lets close this one. I will backport the fix.

[2017-03-13 20:10] davidopp commented on #28842
Let's set best-effort workloads aside for the moment. They might need a different scheduling policy from the others. For now let's just focus on burstable and guaranteed.

I assume by "make oversubscription work" you mean "given a particular number of nodes and a particular set of pods, minimize the amount by which nodes are oversubscribed, thereby relying less on the node-level resource isolation

[2017-03-13 20:12] soltysh commented on #41039
@TamalSaha unfrtunatelly this won't make it for 1.6, it'll be 1.7. I've updated the milestone to reflect that.

[2017-03-13 20:12] jingxu97 commented on #40180
Could you also check the file /etc/os-release? Does it
contain Container-Optimized OS?

On Mon, Mar 13, 2017 at 12:33 PM, Nick Veenhof <notifications@github.com>
wrote:

--
- Jing

[2017-03-13 20:16] gnufied commented on #27656
/close

[2017-03-13 20:17] canausa opened #43013 "Rename of Container Linux broke kube-up.sh"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): COS ( Container Optimized Image)
- **Kernel** (e.g. `uname -a`):
- **Install tools**: kube-up.sh
- **Others**:

**What happened**: Failed to run on new image of the old Cont

[2017-03-13 20:18] nikhiljindal commented on #42607
@shashidharatd You can run them by running `make test-cmd` or directly running `./hack/make-rules/test-federation-cmd.sh`.
Code for running federation controller manager is at https://github.com/kubernetes/kubernetes/blob/ab9b299c3033cfd334c180926aa2931de9628d1f/hack/make-rules/test-federation-cmd.sh#L65. We need to update the flags there to set CoreDNS as the dns provider.

[2017-03-13 20:21] dchen1107 commented on #34081
The original issue should be fixed by #33733. Close it.

[2017-03-13 20:21] #34081 closed

[2017-03-13 20:21] timothysc commented on #38489
@grodrigues3 wrong "Tim St. Clair" also my google-twin doesn't appear to be the owner either, he just made the last change.... unassigning.

[2017-03-13 20:21] gnufied commented on #42870
/assign @gnufied

[2017-03-13 20:21] julienstroheker commented on #27796
Page not found : https://identity.linuxfoundation.org/projects/cncf

[2017-03-13 20:22] gnufied commented on #42707
Fixed via #42811

[2017-03-13 20:22] #42707 closed

[2017-03-13 20:23] rootfs commented on #42870
the failed cases are
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/empty_dir.go#L83-L89

[2017-03-13 20:23] gnufied commented on #27656
/assign @gnufied

[2017-03-13 20:25] calebamiles commented on #42373
@erictune what SIG should be looking at this failure? The failing test is owned by SIG Apps and it's really helpful to ensure that all issues are owned by at least one SIG. If this a transient test infrastructure issue it's probably ok to close the issue.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-13 20:25] foxish commented on #27796
Looks like a bad config push.

/cc @caniszczyk

[2017-03-13 20:29] zmerlynn commented on #37974
We're supposed to dump node logs from GKE, at the very least.

[2017-03-13 20:29] calebamiles commented on #31776
no updates to this issue in 2017. Closing this issue.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-13 20:29] #31776 closed

[2017-03-13 20:29] #42461 closed

[2017-03-13 20:30] calebamiles commented on #31561
This issue has not been updated in 2017. Closing.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-13 20:30] #31561 closed

[2017-03-13 20:31] davidopp commented on #32531
+1

[2017-03-13 20:31] liggitt commented on #25416
fixed in https://github.com/kubernetes/kubernetes/pull/23858 in 1.4

[2017-03-13 20:33] liggitt commented on #26202
still an issue, but not a regression, and not release blocking

[2017-03-13 20:35] dankohn commented on #27796
Re-escalating now.

[2017-03-13 20:35] liggitt commented on #36259
this is a bug we occasionally encounter when running the release tool. it would not prevent us from releasing 1.6.

[2017-03-13 20:38] calebamiles commented on #35913
Could someone from @kubernetes/goog-gke please close this issue if it's no longer needed? Thanks!

[2017-03-13 20:38] msau42 commented on #40905
I can look into cleaning this up since I am making some changes in this area.  Perhaps the details can be moved to a separate log message.

/assign

[2017-03-13 20:38] nicksardo commented on #38569
https://github.com/kubernetes/ingress/issues/431 explains why this test does not clean up resources - causing the flake.

[tl;dr] The GLBC only deletes L7 resources for ingress objects that it's cached locally.  Caching happens soon after startup, but this races with the test's ingress deletion.

[2017-03-13 20:38] skriss commented on #42449
@krmayankk please update by EOD today on whether the cascading deletion failure is a blocking issue for 1.6 or not; if it is, we need to get a PR in by tomorrow for the next beta/RC.

[2017-03-13 20:39] calebamiles commented on #36054
This issue has received no updates in 2017. Closing.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-13 20:39] #36054 closed

[2017-03-13 20:39] liggitt commented on #42394
doc for that field says it is only written for NoExecute taints, and that field is omitempty

[2017-03-13 20:41] ethernetdan commented on #38033
Hasn't flaked in 2017

[2017-03-13 20:41] #38033 closed

[2017-03-13 20:41] calebamiles commented on #36143
There have been no updates to this issue in 2017. Closing.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-13 20:41] #36143 closed

[2017-03-13 20:41] abemusic commented on #20391
Has there been any progress on this? I think we may also be hitting this, but not sure. All pod to pod interactions across nodes seem to be fine when using their service, but host to service works until the service gives back a pod running on the host. If that makes sense :)

[2017-03-13 20:41] zmerlynn commented on #35913
We haven't seen this in a while. Comfortable just closing.

[2017-03-13 20:41] #35913 closed

[2017-03-13 20:43] calebamiles commented on #36204
Closing this issue per https://github.com/kubernetes/kubernetes/issues/36204#issuecomment-284836544.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-13 20:43] #36204 closed

[2017-03-13 20:44] ethernetdan commented on #33271
Test doesn't look like it exists anymore.

[2017-03-13 20:44] #33271 closed

[2017-03-13 20:45] krmayankk commented on #22888
Is there documentation on this feature someone can point us to ?

[2017-03-13 20:45] ethernetdan commented on #35790
Hasn't flaked since December

[2017-03-13 20:45] #35790 closed

[2017-03-13 20:46] dankohn commented on #27796
And it's back up. We'll add our investigation into this downtime into the other investigation.

[2017-03-13 20:47] skriss commented on #42614
@davidopp there are still some failures in the upgrade test jobs - I believe they are non-issues given the breaking changes you described, but need you to confirm. See the following:

https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-gci-1.5-gci-1.6-upgrade-cluster&width=20&exclude-non-failed-tests=

This test job is creating a 1.5 cluster, upgrading it to 1.6, then running 1.5 E2E tes

[2017-03-13 20:47] calebamiles commented on #38660
This issue looks related to 1.5 upgrade/downgrade tests. Moving this issue back into the 1.5 milestone.

[2017-03-13 20:48] bowei commented on #42334
close, looks like gcloud command failed

[2017-03-13 20:49] ethernetdan commented on #37515
Hasn't flaked in since January

[2017-03-13 20:49] #37515 closed

[2017-03-13 20:49] #36262 closed

[2017-03-13 20:49] #36312 closed

[2017-03-13 20:51] calebamiles commented on #38163
Closing this issue as this issue is polluted by seemingly unrelated test failures.

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-13 20:51] #38163 closed

[2017-03-13 20:52] ethernetdan commented on #40141
Looks like this has been resolved.

[2017-03-13 20:52] #40141 closed

[2017-03-13 20:53] yujuhong commented on #42960
`SetUpPod` is part of dockershim (and not CRI), so I think it makes sense for the shim to handle this internally. The shim can scan all checkpoints at startup to recover all information.

Hm...AFAIK, only the host port logic used to perform the periodic sync. The rest of the features rely on kubelet calling SetUpPod only when creating a new infra container. @freehan, is this correct?

[2017-03-13 20:53] calebamiles commented on #42159
Closing this issue as it seems to relate to transient failures in test infrastructure. Someone from @kubernetes/test-infra-maintainers please reopen if you disagree. Thanks!

**cc: @ethernetdan, @kubernetes/release-team**

[2017-03-13 20:53] #42159 closed

[2017-03-13 20:54] bamb00 commented on #5017
What was decided for deploying etcd cluster using Stateful Sets?

[2017-03-13 20:54] mml commented on #38569
Thanks, Nick.  Oh, and now I see a comment that is relevant to this.

https://github.com/kubernetes/kubernetes/blob/d6ae61c3c9b10265f29ea9963e76b90768e4739d/test/e2e/upgrades/ingress.go#L82

That case should probably be `MasterUpgrade, EtcdUpgrade`.

[2017-03-13 20:54] calebamiles commented on #42153
Closing this issue due to pollution by unrelated test failures.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 20:54] #42153 closed

[2017-03-13 20:54] bowei commented on #31715
close

I'm not seeing the flake for this test given the recent history.

[2017-03-13 20:55] calebamiles commented on #42107
Closing this issue due to pollution from seemingly unrelated test failures.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 20:55] #42107 closed

[2017-03-13 20:56] luxas commented on #40248
@timstclair I see hyperkube isn't converted to use this base image.
I think hyperkube is one of the most important places to patch due to that CoreOS is using it very frequently...

Is this intentional?

[2017-03-13 20:56] calebamiles commented on #42100
Closing this issue due to pollution from seemingly unrelated test failures.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 20:56] #42100 closed

[2017-03-13 20:56] bowei commented on #32375
close

comment from caleb on linked issue:

[2017-03-13 20:58] timstclair commented on #40248
no, I just haven't gotten to it yet. If anyone has time to tackle it, I'm happy to review.

[2017-03-13 21:00] liggitt commented on #42394
ah, looks like omitempty will only work if timeAdded is a pointer

[2017-03-13 21:00] luxas commented on #40248
Sure, just wanted to clarify if that was in scope for v1.6, but seemingly not, which is ok.

This is an important thing to work on long-term :+1:

[2017-03-13 21:01] calebamiles commented on #40341
Closing this issue due to pollution from unrelated test failures.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:01] #40341 closed

[2017-03-13 21:02] ixdy commented on #40248
@luxas there's a specific issue for hyperkube: https://github.com/kubernetes/kubernetes/issues/42589

[2017-03-13 21:03] calebamiles commented on #40676
Closing this issue due to pollution from unrelated test failures.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:03] #40676 closed

[2017-03-13 21:04] ethernetdan commented on #36165
Hasn't flaked in 2017.

[2017-03-13 21:04] #36165 closed

[2017-03-13 21:04] luxas commented on #42589
/cc

[2017-03-13 21:04] luxas commented on #40248
Thanks @ixdy I hadn't seen that one

[2017-03-13 21:06] #42908 closed

[2017-03-13 21:06] ethernetdan commented on #36389
Since hasn't flaked since January and only applies to 1.5 branch, moving to v1.5 milestone

[2017-03-13 21:07] bowei commented on #42469
close

[2017-03-13 21:09] caseydavenport opened #43014 "Kubelet starts pods before CNI is configured"
This appears to be a regression since v1.5.x, and should be a blocker for releasing v1.6.

**Kubernetes version** (use `kubectl version`):
Built from master

**Install tools**:

- Seen by @luxas on a cluster created via kubeadm.
- I've seen this on GCE using cluster/kube-up.sh and NETWORK_PROVIDER=cni.

**What happened**:

The kubelet is starting pods before a CNI config file is present on the nod

[2017-03-13 21:09] bowei commented on #32584
close

gcloud command error

[2017-03-13 21:09] caseydavenport commented on #43014
CC @luxas @whitlockjc @kubernetes/sig-network-bugs

[2017-03-13 21:11] ixdy commented on #36259
Agree that it should not block 1.6. In 1.7 we hope to rebase and improve the hyperkube image, which should help here. #42589

[2017-03-13 21:11] mtaufen commented on #38034
I don't think this should block the release, as we had essentially the same flake rate for 1.5. We still suspect that the failure is due to filesystem corruption caused by unclean reboots. This is the same position we took for 1.5.

Some evidence that filesystem corruption is definitely happening:
In https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/5066/artif

[2017-03-13 21:13] bowei commented on #32756
close

only failure part of broken test run, otherwise passes

[2017-03-13 21:13] liggitt commented on #37923
@grodrigues3 I'm not sure... the failing tests don't seem coherently connected to any particular sig

[2017-03-13 21:14] calebamiles commented on #39406
Closing this issue due to pollution from unrelated test failures

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:14] #39406 closed

[2017-03-13 21:15] bowei commented on #40644
close

[2017-03-13 21:15] mtaufen commented on #38034
The docker daemon does appear to restart roughly 42 seconds after the Kubelet log truncates on ff9q

[2017-03-13 21:16] calebamiles commented on #39799
Closing this issue due to pollution from several unrelated test failures.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:16] #39799 closed

[2017-03-13 21:16] k8s-merge-robot opened #43015 "ci-kubernetes-e2e-gce-examples: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/4143/
Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36323 #36469 #38222

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #3987

[2017-03-13 21:17] bowei commented on #38819
close

fails on on one broken test run

[2017-03-13 21:18] calebamiles commented on #38765
Closing this issue due to pollution from unrelated test and networking failures.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:18] #38765 closed

[2017-03-13 21:19] ethernetdan commented on #37511
Hasn't recently flaked

[2017-03-13 21:19] #37511 closed

[2017-03-13 21:19] k8s-merge-robot opened #43017 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-es-logging/5425/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #38163 #39209 #39790 #39878 #40446 #40458 #40463 #40471 #40485

[2017-03-13 21:20] bowei commented on #30632
close

only failure on broken test run

[2017-03-13 21:20] liggitt commented on #42394
opened speculative PR in https://github.com/kubernetes/kubernetes/pull/43016 to change it to a pointer (like other optional time fields like deletionTimestamp)

[2017-03-13 21:20] luxas commented on #43014
cc @kubernetes/sig-network-misc (only on person in @kubernetes/sig-network-bugs)
cc @kubernetes/sig-node-bugs @jbeda

cc @kubernetes/release-team
This is really bad and should probably be considered a release blocker.

[2017-03-13 21:21] kow3ns commented on #5017
@bamb00 There is a helm chart that uses PetSet here https://github.com/kubernetes/charts/tree/master/incubator/etcd. It could easily be modified to use StatefulSet.

[2017-03-13 21:21] #38066 closed

[2017-03-13 21:21] bowei commented on #29831
close

broken test run (1 instance)

[2017-03-13 21:23] calebamiles commented on #42866
This suite has had several green runs in a row. Closing this issue.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:23] #42866 closed

[2017-03-13 21:24] bowei commented on #38569
this is to be closed by @mml, he is going to remove when this trips

[2017-03-13 21:24] ethernetdan commented on #37469
Hasn't flaked since last year

[2017-03-13 21:24] #37469 closed

[2017-03-13 21:24] pwittrock commented on #37923
I am moving to the next milestone.  The set of failing tests is inconsistent, and they should be triaged individually.

[2017-03-13 21:24] bowei commented on #38566
close

has not failed in past two months

[2017-03-13 21:25] ethernetdan commented on #37774
Hasn't flaked in a while

[2017-03-13 21:25] #37774 closed

[2017-03-13 21:25] ethernetdan commented on #38405
Hasn't flaked in 2017

[2017-03-13 21:25] #38405 closed

[2017-03-13 21:26] calebamiles commented on #39304
Closing this issue due to pollution from several unrelated tests.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:26] #39304 closed

[2017-03-13 21:26] #38566 closed

[2017-03-13 21:26] ethernetdan commented on #37470
Hasn't flaked in 2017

[2017-03-13 21:26] #37470 closed

[2017-03-13 21:27] ethernetdan commented on #37935
Hasn't flaked in 2017

[2017-03-13 21:27] #37935 closed

[2017-03-13 21:27] calebamiles commented on #42227
Closing this issue due to pollution from unrelated test failures. Additionally, all linked issues have SIG owners.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:27] #42227 closed

[2017-03-13 21:27] k8s-merge-robot opened #43019 "ci-kubernetes-e2e-gci-gce-examples: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-examples/3547/
Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36323 #36469 #38222

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #

[2017-03-13 21:28] calebamiles commented on #41048
Closing this issue as the suite failure for `test` creates a dragnet for unrelated issues.

**cc: @ethernetdan, @kubernetes/release-team, @kubernetes/test-infra-maintainers**

[2017-03-13 21:28] #41048 closed

[2017-03-13 21:29] kargakis commented on #42449
@caesarxuchao can you also have a look? It seems related to the kubectl reaper not deleting the deployment, likely because it goes through the GC in the end?

[2017-03-13 21:29] saad-ali commented on #42898
Unit test occurred once three days ago. Moving to 1.7 milestone, i.e. non-release-blocking.

[2017-03-13 21:30] ethernetdan commented on #40644
ok

[2017-03-13 21:30] #40644 closed

[2017-03-13 21:31] ethernetdan commented on #32455
Hasn't flaked in 2017

[2017-03-13 21:31] #32455 closed

[2017-03-13 21:33] saad-ali commented on #37525
Closing. Looks like a couple of broken test runs.

[2017-03-13 21:33] #37525 closed

[2017-03-13 21:35] ethernetdan commented on #37964
Hasn't flaked on master in 2017

[2017-03-13 21:35] #37964 closed

[2017-03-13 21:38] timothysc commented on #42394
/cc @kubernetes/sig-scheduling-bugs

[2017-03-13 21:39] ethernetdan commented on #27887
Hasn't flaked in 2017

[2017-03-13 21:39] #27887 closed

[2017-03-13 21:41] ethernetdan commented on #36074
Hasn't flaked in 2017

[2017-03-13 21:41] #36074 closed

[2017-03-13 21:41] bowei commented on #34571
/close

only failed in recent broken test run

[2017-03-13 21:41] #34571 closed

[2017-03-13 21:42] saad-ali commented on #42373
Handful of flakes about a week ago. None since then. Closing

[2017-03-13 21:42] #42373 closed

[2017-03-13 21:42] ethernetdan commented on #36088
Hasn't flaked in 2017

[2017-03-13 21:42] #36088 closed

[2017-03-13 21:43] mtaufen commented on #38034
See the end of the kube-proxy log on ff9q for really obvious corruption: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/5066/artifacts/bootstrap-e2e-minion-group-ff9q/kube-proxy.log

[2017-03-13 21:43] yujuhong opened #43021 "dockershim: clean up corrupted checkpoint properly"
The reboot test may cause corrupted checkpoint left on the node.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-reboot/5006

This prevents the sandbox from being stopped properly, so kubelet cannot create a new one.

[code]

One option is to log and remove the corrupted checkpoint, while cleaning up the pod sandbox resources with best effort (i.e., may leak

[2017-03-13 21:43] mtaufen commented on #38034
I'm marking this a non-blocker for 1.6 as the cause is likely the really ugly reboot scenarios.

[2017-03-13 21:45] jpoon commented on #27796
Hi all, I'm having troubles satisfying the cla-bot for https://github.com/kubernetes/charts/pull/766. I think it's because I signed up as "linuxfoundation@jasonpoon.ca" whereas my git commits are under "git@jasonpoon.ca". I've since changed my Linux Foundation email to match my git commits, but can't seem to generate a new CLA under the new email. Please halp.

[2017-03-13 21:46] liggitt commented on #42394
@davidopp what component is supposed to set timeAdded for NoExecute taints (and is validation supposed to prevent it for taints with effects other than NoExecute)? The only place I see it getting set is by the node controller

[2017-03-13 21:46] childsb commented on #34242
There's a fix for this here:

https://github.com/kubernetes/kubernetes/pull/39732

Its a large fix, and I'd like sign off from @saad-ali before merging it.

[2017-03-13 21:47] cmluciano commented on #43007
/cc @kubernetes/sig-scheduling-bugs

[2017-03-13 21:47] dankohn commented on #27796
@jpoon please email helpdesk@rt.linuxfoundation.org

[2017-03-13 21:48] bamb00 commented on #5017
@kow3ns thanks for the response.  I'm a little bit overwhelm looking over the etcd-petset.yaml file in templates.

Can I modified the yaml in templates as a stand-alone? or I need to use it with the helm application.

[2017-03-13 21:51] skriss opened #43023 "GCE 1.5->1.6 upgrade testing: CronJob - the server could not find the expected resource"
@soltysh, please take a look ASAP and let me know if this is a 1.6 blocker or not.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-cluster/19#k8sio-cronjob-should-not-emit-unexpected-warnings

On GCE, in the 1.5->1.6 upgrade-cluster job (which creates a 1.5 cluster, upgrades to 1.6, then runs 1.5 E2E tests), the CronJob tests are failing with

[2017-03-13 21:51] skriss commented on #43023
/assign @soltysh

[2017-03-13 21:52] yujuhong commented on #43021
/cc @dchen1107

[2017-03-13 21:52] #32375 closed

[2017-03-13 21:53] #42469 closed

[2017-03-13 21:53] bowei commented on #36913
/close

only broken test run (2 instances)

[2017-03-13 21:53] #36913 closed

[2017-03-13 21:54] jpoon commented on #27796
Will do. Thanks @dankohn

[2017-03-13 21:54] childsb commented on #38166
Similar https://github.com/kubernetes/kubernetes/issues/38166

[2017-03-13 21:55] davidopp commented on #42394
As @liggitt alluded to, strictly speaking timeAdded is only needed for taints of effect NoExecute. The field is needed in order to make tolerationSeconds work in the face of component failure  -- whichever component enforces the taint will evict the pod if timeAdded + pod.tolerationSeconds <= time.Now. (Yes, clock skew will break this if they are different components.) So only the components that

[2017-03-13 21:55] ethernetdan commented on #38398
No failures other than entire suite failures in 2017.

[2017-03-13 21:55] #38398 closed

[2017-03-13 22:00] bowei commented on #34092
/close

hasn't broken in last two months

[2017-03-13 22:00] aveshagarwal commented on #42394
Other components where taints can be added are: kubelet (-register-with-taints) and kubectl taints. Right now, taint controller enforces pod eviction for NoExecute taints.

[2017-03-13 22:00] bowei commented on #34092
/assign @bowei

[2017-03-13 22:01] bowei commented on #34092
/close

[2017-03-13 22:01] #34092 closed

[2017-03-13 22:01] skriss opened #43024 "GCE 1.5->1.6 upgrade testing: [k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster. 6.10s"
@piosz

The following E2E test is failing in the GCE 1.5->1.6 upgrade jobs. Please take a look and let me know ASAP if this is a 1.6 blocker or not (I think it may be a flake, but need you to confirm).

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-cluster-new/18#k8sio-monitoring-should-verify-monitoring-pods-and-all-cluster-nodes-are-availa

[2017-03-13 22:01] skriss commented on #43024
/assign @piosz

[2017-03-13 22:02] aveshagarwal commented on #42394
Another component is node controller that adds taints for node problems (unreachable, notready) but clock skew is not an issue here, but only for kubelet, kubectl taint I think.

[2017-03-13 22:03] caesarxuchao commented on #42449
The "[k8s.io] Deployment deployment reaping should cascade to its replica sets and pods" failure is because the deployment is not deleted yet because of the orphan finalizer when the 1.5 reaper.Stop() returns, see https://github.com/kubernetes/kubernetes/pull/35676#issuecomment-268126158. 1.6 kubectl won't have this problem because of https://github.com/kubernetes/kubernetes/pull/40576.

I expect

[2017-03-13 22:03] saad-ali commented on #34242
That's way to large a change to merge to 1.6. We can consider it for post-1.6.

[2017-03-13 22:05] bowei commented on #32830
/close

broken test run

[2017-03-13 22:05] bowei commented on #32830
/assign @bowei

[2017-03-13 22:06] bowei commented on #32830
/close

[2017-03-13 22:06] #32830 closed

[2017-03-13 22:06] #40813 closed

[2017-03-13 22:07] bowei commented on #27450
/close

broken test run

[2017-03-13 22:07] #27450 closed

[2017-03-13 22:07] liggitt commented on #42394
If the switch to a pointer won't change the values servers will accept, then current behavior seems ok for 1.6 (for JSON, we'll need to handle `null`, so that'll be fine... I'm less sure about protobuf)

[2017-03-13 22:09] k8s-merge-robot opened #43025 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/787/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668 #41048

[2017-03-13 22:10] bowei commented on #29318
/close

broken test run

[2017-03-13 22:10] bowei commented on #29318
/assign @bowei

[2017-03-13 22:10] bowei commented on #29318
/close

[2017-03-13 22:10] #29318 closed

[2017-03-13 22:10] bowei commented on #29831
/assign @bowei

[2017-03-13 22:10] bowei commented on #29831
/close

[2017-03-13 22:10] #29831 closed

[2017-03-13 22:11] bowei commented on #32584
/assign @bowei

[2017-03-13 22:11] bowei commented on #32584
/close

[2017-03-13 22:11] #32584 closed

[2017-03-13 22:12] bowei commented on #32756
/assign @bowei

[2017-03-13 22:12] bowei commented on #32756
/close

[2017-03-13 22:12] #32756 closed

[2017-03-13 22:12] bowei commented on #33887
/assign @bowei

[2017-03-13 22:12] bowei commented on #33887
/close

[2017-03-13 22:12] #33887 closed

[2017-03-13 22:12] bowei commented on #34064
/assign @bowei

[2017-03-13 22:12] bowei commented on #34064
/close

[2017-03-13 22:13] #34064 closed

[2017-03-13 22:13] foxish commented on #42490
This is not a release blocker. The e2e test is unable to find the manifests associated.

[2017-03-13 22:13] calebamiles commented on #43014
ack @luxas

[2017-03-13 22:14] bowei commented on #34104
/assign @bowei

[2017-03-13 22:14] bowei commented on #40787
nodes are not ready

[2017-03-13 22:14] bowei commented on #34104
/close

node was not ready in the test infra

[2017-03-13 22:15] bowei commented on #34104
/close

[2017-03-13 22:15] #34104 closed

[2017-03-13 22:15] bsalamat opened #43026 "Expose --ginkgo.untilItFails in hack/e2e.go"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Currently, there is no easy way to run a flaky e2e test multiple times to reproduce a failure. Node e2e tests apparently expose --ginkgo.untilItFails so that a test can be run many times until it fails. It would be great if the flag is exposed in hack/e2e.go as well.

@kubernetes/test-infra-maintainers

[2017-03-13 22:15] bowei commented on #34250
/assign @bowei

[2017-03-13 22:16] spiffxp commented on #42073
/close

[2017-03-13 22:16] spiffxp commented on #42073
/assign

[2017-03-13 22:17] spiffxp commented on #42073
/close

[2017-03-13 22:17] #42073 closed

[2017-03-13 22:17] spiffxp commented on #42073
closed this as part of 1.6 flake triage

[2017-03-13 22:18] bowei commented on #34250
/close

not all nodes were ready

[2017-03-13 22:18] #34250 closed

[2017-03-13 22:18] bowei commented on #34317
/assign @bowei

[2017-03-13 22:19] bowei commented on #34317
/close

[2017-03-13 22:19] #34317 closed

[2017-03-13 22:19] marun commented on #28283
@msau42 Should this be blocking the 1.6 release?  If not, please move to 1.7.

[2017-03-13 22:20] bowei commented on #30632
/assign @bowei

[2017-03-13 22:20] bowei commented on #30632
/close

[2017-03-13 22:20] #30632 closed

[2017-03-13 22:21] ethernetdan commented on #25592
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:21] ethernetdan commented on #29348
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:22] ethernetdan commented on #31813
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:23] ixdy commented on #43026
[`hack/ginkgo-e2e.sh`](https://github.com/kubernetes/kubernetes/blob/master/hack/ginkgo-e2e.sh#L117) is probably the right place to update, though I think we do eventually intend to fold this script into kubetest.

cc @fejta @kubernetes/sig-testing-feature-requests

[2017-03-13 22:23] ethernetdan commented on #30898
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:23] ethernetdan commented on #27630
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:23] bowei commented on #38446
/assign @bowei

[2017-03-13 22:24] bowei commented on #38446
/close

API server error

[2017-03-13 22:24] ethernetdan commented on #23484
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:24] #38446 closed

[2017-03-13 22:24] ethernetdan commented on #23482
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:24] ethernetdan commented on #23479
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:24] ethernetdan commented on #31014
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:24] ethernetdan commented on #29590
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:25] ethernetdan commented on #32131
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:25] ethernetdan commented on #15077
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:25] marun commented on #42686
Closing in favor of #32531 since that one will will re-opened by the bot anyway.

/close

[2017-03-13 22:25] ethernetdan commented on #31453
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:26] ethernetdan commented on #28435
@ixdy can this be closed?

[2017-03-13 22:26] bowei commented on #36867
/assign @bowei

[2017-03-13 22:26] ethernetdan commented on #33650
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:26] spiffxp commented on #40723
Helping out with 1.6 issue triage (https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/48AFuXnoJZA).  Please re-open if you feel this is an inappropriate action.

This hasn't had any activity in 16 days, seems like it's not flaking anymore.

[2017-03-13 22:26] madhusudancs commented on #30544
This is not happening any time soon. (Doesn't mean it is not going to happen at all). So I am just removing the milestone.

[2017-03-13 22:26] spiffxp commented on #40723
/assign
/close

[2017-03-13 22:27] spiffxp commented on #40723
/close

[2017-03-13 22:27] #40723 closed

[2017-03-13 22:27] ethernetdan commented on #31762
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:27] bowei commented on #36867
/close

broken test run

[2017-03-13 22:27] #36867 closed

[2017-03-13 22:27] ethernetdan commented on #31966
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:27] ethernetdan commented on #31155
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:28] ethernetdan commented on #22077
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:28] bgrant0607 commented on #28842
Another issue to consider is what model we want for shared control over component configuration.

This has also come up for addons: #40108, https://github.com/kubernetes/kubernetes/issues/37048#issuecomment-272510835

[2017-03-13 22:28] bowei commented on #37508
/assign @bowei

[2017-03-13 22:28] ethernetdan commented on #27623
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:28] bowei commented on #37508
/close

not flake since Dec, 2016

[2017-03-13 22:28] ethernetdan commented on #34738
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:29] spiffxp commented on #40679
Helping out with 1.6 issue triage (https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/48AFuXnoJZA). Please re-open if you feel this is an inappropriate action.

This hasn't had any activity in over a month, seems like it's not flaking anymore.

[2017-03-13 22:29] ethernetdan commented on #22032
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:29] spiffxp commented on #40679
/assign

[2017-03-13 22:29] spiffxp commented on #40679
/close

[2017-03-13 22:29] #40679 closed

[2017-03-13 22:29] ethernetdan commented on #26669
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:29] bowei commented on #34970
/assign @bowei

[2017-03-13 22:29] ethernetdan commented on #33717
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect. Also close if finished.

[2017-03-13 22:30] ethernetdan commented on #28082
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:30] ethernetdan commented on #26921
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:30] ethernetdan commented on #33292
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:30] spiffxp commented on #38491
Helping out with 1.6 issue triage (https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/48AFuXnoJZA). Please re-open if you feel this is an inappropriate action.

This hasn't had any activity in over a month, seems like it's not flaking anymore.

[2017-03-13 22:30] ethernetdan commented on #36540
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:30] spiffxp commented on #38491
/assign

[2017-03-13 22:30] bowei commented on #34970
/close

API server issue during broken test run

[2017-03-13 22:30] spiffxp commented on #38491
/close

[2017-03-13 22:30] #34970 closed

[2017-03-13 22:30] #38491 closed

[2017-03-13 22:31] bowei commented on #36298
/assign @bowei

[2017-03-13 22:31] bowei commented on #36298
/close

[2017-03-13 22:31] #36298 closed

[2017-03-13 22:31] spiffxp commented on #38480
Helping out with 1.6 issue triage (https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/48AFuXnoJZA). Please re-open if you feel this is an inappropriate action.

This hasn't had any activity in over a month, seems like it's not flaking anymore.

[2017-03-13 22:31] spiffxp commented on #38480
/assign

[2017-03-13 22:32] ethernetdan commented on #33622
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:32] spiffxp commented on #38480
/close

[2017-03-13 22:32] #38480 closed

[2017-03-13 22:32] bowei commented on #37274
/assign @bowei

/close

[2017-03-13 22:32] bowei commented on #37274
/close

[2017-03-13 22:32] #37274 closed

[2017-03-13 22:32] ethernetdan commented on #31283
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:32] spiffxp commented on #37745
Helping out with 1.6 issue triage (https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/48AFuXnoJZA). Please re-open if you feel this is an inappropriate action.

This hasn't had any activity in over a month, seems like it's not flaking anymore.

[2017-03-13 22:32] spiffxp commented on #37745
/assign

[2017-03-13 22:32] spiffxp commented on #37745
/close

[2017-03-13 22:32] #37745 closed

[2017-03-13 22:32] bowei commented on #38288
/assign @bowei

[2017-03-13 22:32] ethernetdan commented on #34130
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:33] bowei commented on #38288
/close

[2017-03-13 22:33] #38288 closed

[2017-03-13 22:33] ethernetdan commented on #34261
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:33] ethernetdan commented on #19443
@justinsb can this be closed?

[2017-03-13 22:34] ethernetdan commented on #34965
@vishh @dchen1107 can this be closed?

[2017-03-13 22:35] ethernetdan commented on #24472
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:35] ethernetdan commented on #37842
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:35] ethernetdan commented on #24996
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:36] foxish commented on #31762
The original fencing fix was implemented in 1.5.
We can probably close this issue. There is the pod safety proposal for tracking the "fencer" component. WDYT @smarterclayton

[2017-03-13 22:36] ethernetdan commented on #33726
@ixdy can this be closed?

[2017-03-13 22:37] ethernetdan commented on #38537
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:38] ethernetdan commented on #38459
@wojtek-t can this be closed?

[2017-03-13 22:38] ethernetdan commented on #37132
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:39] ethernetdan commented on #36902
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:39] ethernetdan commented on #33843
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:39] ethernetdan commented on #32727
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:41] ethernetdan commented on #36891
@wallrj @liggitt can this be closed or moved to 1.7?

[2017-03-13 22:41] ethernetdan commented on #39004
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:41] ethernetdan commented on #35078
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:41] jingxu97 commented on #31014
Actually most of issue was fixed by #34859. Close this now.

[2017-03-13 22:41] #31014 closed

[2017-03-13 22:42] bowei commented on #36109
/assign @bowei

[2017-03-13 22:42] ethernetdan commented on #34776
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:42] bowei commented on #36109
/close

it looks like the framework timed out in coming up

[2017-03-13 22:42] euank commented on #34965
@ethernetdan the bug still exists. `KillMode=process` is still set in a few places (including cluster/saltbase)  still too.

[2017-03-13 22:42] bowei commented on #36109
/close

[2017-03-13 22:42] #36109 closed

[2017-03-13 22:43] ethernetdan commented on #33693
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:43] yujuhong commented on #43021
/cc @Random-Liu @dchen1107

[2017-03-13 22:43] ethernetdan commented on #23481
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:44] bowei commented on #37417
/assign @bowei

[2017-03-13 22:44] ethernetdan commented on #39746
@madhusudancs Is this blocking for `v1.6`?

[2017-03-13 22:44] bowei commented on #37417
/close

[2017-03-13 22:44] #37417 closed

[2017-03-13 22:44] smarterclayton commented on #31762
Agreed, an actual fencer example should be a separate proposal and we can
do a design (if the authors here are ready)

On Mar 13, 2017, at 6:36 PM, Anirudh Ramanathan <notifications@github.com>
wrote:

The original fencing fix was implemented in 1.5.
We can probably close this issue. There is the pod safety proposal for
tracking the "fencer" component. WDYT @smarterclayton
<https://github.com/smar

[2017-03-13 22:44] ethernetdan commented on #39642
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:46] ethernetdan commented on #31858
@justinsb can this be closed?

[2017-03-13 22:46] ymqytw commented on #42831
[code]
@enisoc @kubernetes/sig-apps-misc Anyone know what change cause the `QoS Class` changes from `BestEffort` to `Burstable`?

[2017-03-13 22:47] bowei commented on #37097
/assign @bowei

looks to be pod sync taking 5 minutes

[2017-03-13 22:47] bowei commented on #37097
/close

[2017-03-13 22:47] #37097 closed

[2017-03-13 22:48] ethernetdan commented on #38400
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:48] ethernetdan commented on #40212
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:48] foxish commented on #31762
/close

[2017-03-13 22:48] #31762 closed

[2017-03-13 22:49] ethernetdan commented on #35058
@ixdy can this be closed? or moved to 1.7?

[2017-03-13 22:49] bowei commented on #37948
/assign @bowei

[2017-03-13 22:49] bowei commented on #37948
/close

looks like API server wasn't working

[2017-03-13 22:49] #37948 closed

[2017-03-13 22:49] bowei commented on #37508
/close

[2017-03-13 22:49] #37508 closed

[2017-03-13 22:49] ethernetdan commented on #39087
@madhusudancs is this a release blocker for `v1.6`?

[2017-03-13 22:50] ethernetdan commented on #40271
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:50] davidopp commented on #42510
@zmerlynn could you take a look at this?

[2017-03-13 22:50] ethernetdan commented on #39870
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:50] madhusudancs commented on #39004
Also, there is a PR for this - https://github.com/kubernetes/kubernetes/pull/41849

Did not make the code freeze deadline.

[2017-03-13 22:51] ethernetdan commented on #39271
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:52] ethernetdan commented on #40520
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:52] ethernetdan commented on #40705
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:52] ethernetdan commented on #29887
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:53] ethernetdan commented on #38067
@luxas can this be closed or moved to `v1.7`?

[2017-03-13 22:53] ixdy commented on #33726
I forgot to get to this in 1.6, but it'd still be good to do.

[2017-03-13 22:53] madhusudancs commented on #39271
This is already done and is going into v1.6.

Ref: PR #40516.

[2017-03-13 22:53] #39271 closed

[2017-03-13 22:53] ethernetdan commented on #37306
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:54] ethernetdan commented on #41127
@madhusudancs can this be closed or moved to `v1.7`?

[2017-03-13 22:54] ethernetdan commented on #41393
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:54] ethernetdan commented on #37104
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:55] ethernetdan commented on #41054
@mml can this be closed?

[2017-03-13 22:55] ethernetdan commented on #41411
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:55] ethernetdan commented on #22680
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:56] ethernetdan commented on #41263
@madhusudancs @irfanurrehman can this be closed?

[2017-03-13 22:57] madhusudancs commented on #41263
Yes. PR #41830 fixed this issue.

[2017-03-13 22:57] #41263 closed

[2017-03-13 22:57] ethernetdan commented on #41904
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:57] ethernetdan commented on #41267
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:57] nikhiljindal commented on #40705
With https://github.com/kubernetes/kubernetes/issues/42278, we now have a text fixture for federation-apiserver.
https://github.com/kubernetes/kubernetes/pull/42025 is an example PR using that fixture for writing integration tests for secrets.

[2017-03-13 22:58] ethernetdan commented on #40218
@mikkeloscar @smarterclayton is this blocking for `v1.6`?

[2017-03-13 22:59] dragorosson commented on #40850
After running `git bisect` on golang 1.6 through 1.7.1 (compiling go, then building apiserver at https://github.com/kubernetes/kubernetes/commit/3803fee9724ae02e4019c64275c959d308b3a74d on top of it), the commit that breaks everything is:

https://github.com/golang/go/commit/2a8c81ffaadc69add6ff85b241691adb7f9f24ff "crypto/tls: buffer handshake messages."

[2017-03-13 22:59] ethernetdan commented on #38593
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 22:59] bowei commented on #38448
/assign @MrHohn

[2017-03-13 22:59] yujuhong commented on #43014
@caseydavenport @luxas I couldn't reproduce this. When did you observe this problem and could you make sure that #42767 was included in your branch?

[2017-03-13 23:00] madhusudancs commented on #41127
@ligc @bruceauyeung can this be closed? The issue described in the original comment is fixed in v1.6

[2017-03-13 23:00] ethernetdan commented on #39363
Moving to 1.7 as late to happen in 1.6. Feel free to switch back if this is incorrect.

[2017-03-13 23:01] bowei commented on #38569
@mml @nicksardo -- can we bump this from the release-1.6? It does not seem to be blocking for the release.

[2017-03-13 23:01] madhusudancs commented on #40705
@nikhiljindal that means the issue can be closed? The issue is about setting up the infrastructure which seems to be done.

cc @marun

[2017-03-13 23:02] mml commented on #38569
@bowei done

[2017-03-13 23:02] ethernetdan commented on #40036
@smarterclayton @yujuhong should this be release blocking for `v1.6`?

[2017-03-13 23:03] madhusudancs commented on #37306
This was fixed in PRs #41942 and https://github.com/kubernetes/ingress/pull/278

[2017-03-13 23:03] #37306 closed

[2017-03-13 23:04] madhusudancs commented on #39870
I would still like to keep this open. Feature work is done. We still need to update the documentation.

[2017-03-13 23:09] madhusudancs commented on #39642
@gnufied could you try running another load balanced service in this cluster?

This is how Kubernetes networking works on GCP. The loadbalanced service opens a NodePort on all the nodes in your cluster. GCP Network loadbalancer is then configured to send the traffic to that NodePort on any of the nodes in your cluster. So the traffic can reach any node. Once the traffic hits the node, the kube-pro

[2017-03-13 23:10] bowei commented on #37982
@spxtr  do we want to keep this as a release blocker for v1.6? It seems like a test only issue...

[2017-03-13 23:11] bowei commented on #36178
/assign @bowei

[2017-03-13 23:13] crassirostris commented on #41393
It's done actually

[2017-03-13 23:13] #41393 closed

[2017-03-13 23:14] bowei commented on #36178
/close

API server error

[2017-03-13 23:14] #36178 closed

[2017-03-13 23:15] janwillies commented on #43014
I observed it with `v1.6.0-beta.2`, which did not have this patch.

From the dates `v1.6.0-beta.3` should have this patch, I'll try to reproduce tomorrow.

[2017-03-13 23:16] bowei commented on #38819
/assign @MrHohn

[2017-03-13 23:19] yujuhong commented on #43014
The fix was included in `v1.6.0-beta.3`.

[2017-03-13 23:20] madhusudancs commented on #39087
This is now fixed v1.6.

[2017-03-13 23:20] #39087 closed

[2017-03-13 23:20] bowei commented on #36950
/assign @bowei

[2017-03-13 23:23] bowei commented on #36950
@foxish  -- this looks like it doesn't pass at all. Does this belong in the network sig?

[2017-03-13 23:26] MrHohn commented on #38448
Took a look. First of all, the failure pattern in the original post doesn't seem to happen again. And most of the recent failures are timeout waiting for creating the GCP loadbalancer ([ref failure](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-alpha-features/6033)). I will look into refining the e2e tests to reduce this failure, but this issue should not b

[2017-03-13 23:27] caesarxuchao commented on #42952
I don't have a good theory yet. It's occurring [1/1565 runs](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=replicationcontrollers%20%22test.rc.1%22%20not%20found), so I'll fix the more urgent issues first.

[2017-03-13 23:27] bowei commented on #36794
@foxish  does this belong in sig-network?

[2017-03-13 23:29] vishh commented on #42831
@sjenning can you take a look at this?

[2017-03-13 23:29] spxtr commented on #37982
No, this is simply a bad test with no indication of an underlying problem.

[2017-03-13 23:32] smarterclayton commented on #40218
Yes but I think we fixed it.  @kubernetes/sig-api-machinery-misc

[2017-03-13 23:32] MrHohn commented on #38819
This flake as mostly the same behavior as #38448 (see [comment](https://github.com/kubernetes/kubernetes/issues/38448#issuecomment-286275132)). It should not block v1.6.

[2017-03-13 23:36] bgrant0607 commented on #34508
Some alternatives:
1. Only add GA fields to GA APIs (and beta fields to beta APIs)
2. Always break compatibility of fields when advancing them to beta and GA
3. Create a new major version of any API group where a half-baked field is added to any resource in the group in some release
4. Create a new mechanism other than our existing API versioning and defaulting schemes for keeping multiple fields

[2017-03-13 23:40] MrHohn commented on #38448
@kubernetes/release-team

[2017-03-13 23:40] MrHohn commented on #38819
@kubernetes/release-team

[2017-03-13 23:46] fejta commented on #42934
It is hard to understand where things failed, but I am pretty sure we blow up [here](https://github.com/kubernetes/kubernetes/blob/4ff0af821af7a053d88b7ea2240b10b37868362f/cluster/log-dump.sh#L210) in `log-dump.sh`:

[code]

So tests are correctly reporting that we fail to dump logs... Might be made more clear if we either a) provide some sort of logging to show what happened or else append an `||

[2017-03-13 23:46] liggitt commented on #40218
Looks like a PR went in to fix but no test was added.

[2017-03-13 23:47] #42271 closed

[2017-03-13 23:48] fejta commented on #41047
Testing is correctly reporting that various bad things happened  -- generally pods not being ready -- moving over to cluster lifecycle.

[2017-03-13 23:49] fejta commented on #40787
Assigning to cluster lifecycle per bowei's comments

[2017-03-13 23:51] fejta commented on #38667
Moving to GKE and out of the 1.6 milestone as these jobs are running GKE 1.5.5

[2017-03-13 23:53] fejta commented on #38658
Teardown issues in multizone job

[2017-03-14 00:11] madhusudancs commented on #38658
cc @csbell

[2017-03-14 00:16] fejta commented on #41047
From `kubelet.log` in http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-taint-evict/662/artifacts/bootstrap-e2e-minion-group-xjfq/ in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-taint-evict/662/?log#log

[code]

[2017-03-14 00:18] dchen1107 commented on #43014
We believe the issue is fixed, and am closing it. If you disagreed it, feel free to reopen it.

[2017-03-14 00:18] liggitt commented on #40850
Maybe the title isn't accurate any more, but since the minimum version supported by the API server is tls1.2, would we ever expect a sslv3 handshake to succeed?

[2017-03-14 00:22] bowei commented on #34092
/open

[2017-03-14 00:28] k8s-merge-robot opened #43036 "ci-kubernetes-e2e-gci-gke-prod: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod/2388/
Multiple broken tests:

Failed: [k8s.io] Pods should contain environment variables for services [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33985

Failed: [k8s.io] ReplicaSet should serve a basic image on each replica with a public image [Conformance] {Kubern

[2017-03-14 00:29] k8s-merge-robot opened #43037 "ci-kubernetes-e2e-gci-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging/2407/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29816 #30018 #33974

Failed: [k8s.io] SchedulerPredicates [S

[2017-03-14 00:30] dchen1107 commented on #34965
Yes, the bug still exists. The original proposal I made to set `KillMode=control-group` was rejected by storage folks: https://github.com/kubernetes/kubernetes/pull/35479#issuecomment-256551084

On another hand, the initial reason we introduced oomparser to cAdvisor is for detecting the oom events. The current situation is that
1) docker already properly report container's memory-exceeded oom even

[2017-03-14 00:32] ethernetdan commented on #38819
Moving to 1.7 milestone

[2017-03-14 00:35] bowei commented on #31715
actually on second look, this is failing for continuing https://k8s-testgrid.appspot.com/google-aws#kops-aws-slow&width=5

[2017-03-14 00:35] ethernetdan commented on #43021
@yujuhong @dchen1107 should this block `v1.6`?

[2017-03-14 00:35] msau42 commented on #40905
I'm planning to remove internal volume name and pod info from the event message, and log those details instead.  The event message will still have the failed operation, volume.Spec.Name, and error msg.

@jeffvance you mentioned that you found the FailedMount msgs useful for debugging.  What do you think of simplifying the event message to be more user friendly, and logging the details separately?

[2017-03-14 00:37] bowei commented on #31715
this needs to be a assigned to someone with kops expertise

[2017-03-14 00:39] ethernetdan commented on #42976
@skriss @anhowe have you seen this failure before?

[2017-03-14 00:40] ncdc commented on #41047
@fejta this looks like some sort of docker issue that I've seen before in tests:

[code]

[2017-03-14 00:40] ethernetdan commented on #42976
/cc @kubernetes/release-team

[2017-03-14 00:41] ethernetdan commented on #42926
@dchen1107 is this a blocker for 1.6?

[2017-03-14 00:42] foxish commented on #36950
It has been passing on [1.6 serial jobs](https://k8s-testgrid.appspot.com/release-1.6-blocking#gci-gke-serial-1.6&width=20&include-filter-by-regex=should%20create%20new%20pods) as well as on [head](https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial&width=20&include-filter-by-regex=should%20create%20new%20pods), and any failures appear to be related to entirely broken runs with lots of othe

[2017-03-14 00:42] foxish commented on #36950
I think this particular flake can be closed.

[2017-03-14 00:48] MrHohn commented on #28337
Most of recent failures has similar symptom:
[code]
Seems like it failed to retrieve the test pod before really executing the dns test. I'm still looking into the reason, but this should not block 1.6 as it is the flaw in test.

[2017-03-14 00:49] dchen1107 commented on #43021
If we can scan the checkpoints at startup time, then repair the corrupted checkpoint, which means, we can recover the state from the runtime, why we introduce the checkpoint at the first place? :-)

@yujuhong I am ok with your idea upon the corrupted checkpoints, removing the bad ones as the workaround. Anyway, Kubelet will fire an event of failedSync with the proper message, some manual intervene

[2017-03-14 00:52] ligc commented on #41127
I am fine with closing this.

[2017-03-14 00:53] liggitt commented on #40850
(Not to shortsell the dedication to bisect the golang release… nice job)

[2017-03-14 00:53] #36950 closed

[2017-03-14 00:56] jeffvance commented on #40905
@msau42 I like the idea! Good error msgs are really important for support people, customers and developers so I'll always vote in favor of improved error messages. In another issue related to mount error msgs I said that I like the `FailedMount` error from ceph-rbd. What I liked about that msg is that is said why the mount failed (_another process held a lock_) rather than something like `mount er

[2017-03-14 00:56] shiywang commented on #43013
will take a look

[2017-03-14 00:59] yujuhong commented on #42960
Spoke to @thockin offline. This is not a release blocker for 1.6.

[2017-03-14 01:01] dchen1107 commented on #43021
@ethernetdan I think this shouldn't be the blocker for v1.6, but @yujuhong has an acceptable workaround to address this, and I would like to include that if no one disagreed with that approach.

[2017-03-14 01:01] wulibin163 commented on #42982
get it

[2017-03-14 01:01] #42982 closed

[2017-03-14 01:06] ethernetdan commented on #43021
Adding to milestone to track

[2017-03-14 01:08] yujuhong commented on #42960
Duh...I tried calling SetUpPod again, but the function is not idempotent:
[code]

This may mean that the dockershim <-> network plugin interface needs to be augmented to handle the case like this.

[2017-03-14 01:10] yujuhong commented on #42960
We do have ALL the information in the checkpoint. We just need to find a way to convey that to the network plugin.

[2017-03-14 01:12] k82cn commented on #28359
/close

@marun , I'm going to close this issue; kube-mesos was moved to kubernetes-incubator/kube-mesos-framework , and we're going to do some refactor which will do regression test. Create https://github.com/kubernetes-incubator/kube-mesos-framework/issues/70 to trace in kube-mesos repo.

[2017-03-14 01:12] #28359 closed

[2017-03-14 01:13] Random-Liu opened #43040 "Upgrade grpc version to 1.0.4+"
Ref #40156

We should update grpc version to 1.0.4+, or else we'll get the following build error when we vendor a `pb.go` built with grpc 1.0.4+.
[code]

Actually, all our dependencies are using grpc 1.0.4+ now:
* etcd 1.0.4: https://github.com/coreos/etcd/blob/master/glide.yaml#L99
* rkt 1.0.4: https://github.com/coreos/rkt/blob/master/glide.yaml#L244

And other vendors are also using 1.0.4+:
* D

[2017-03-14 01:18] kargakis commented on #40520
This shouldn;t be an issue in 1.6 - if it still is, please reopen

[2017-03-14 01:18] #40520 closed

[2017-03-14 01:22] janetkuo commented on #42449
Filed #43041 to fix this test failure by updating 1.5 reapers (#40576 has changes we don't want, so filed a separate PR).

@skriss this doesn't block 1.6. The fix will be towards 1.5.

[2017-03-14 01:26] #42826 closed

[2017-03-14 01:29] ethernetdan commented on #43017
@kubernetes/kubernetes-build-cops @justinsb @kris-nova:

kops aws is blocking submit queue

[2017-03-14 01:29] fejta commented on #41047
/assign @dchen1107

[2017-03-14 01:31] luomiao opened #43042 "Update photon controller go SDK vendor code"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
1.6

**What happened**:
Latest Photon Controller uses updated photon controller go SDK, which has updated interfaces functions. These updates breaks the current photon controller cloud provider in kubernetes.

**What you expected to happen**:
Photon controller go SDK in kubernetes

[2017-03-14 01:33] kargakis commented on #42831
@ymqytw not sure if sig/apps has anything to do with resource management.

[2017-03-14 01:33] gyliu513 opened #43043 "Best practice of kubernetes cluster setup to support large number of nodes/pods"
Hi
We're planning to use k8s as the framework as our cloud service and need to support a large number of services(pods). I'm not sure if we have any guide or best practices to setup such kind of environment, from architectural view, some related questions below:

1) Ho we can achieve best performance when deploy large amount of pods in the cluster? Say 300 nodes, each node have 30 pods, total 300*

[2017-03-14 01:42] fejta commented on #37974
FYI this is a dup of https://github.com/kubernetes/kubernetes/issues/37974

[2017-03-14 01:56] hpejustin commented on #42789
BTW, there is a proposal of Template(not pod template), which try to manage topological relations of applications, did it implemented in v1.6? I did not see it yet.

[2017-03-14 01:58] TamalSaha commented on #41039
That is sad! :(

[2017-03-14 01:59] wenlxie opened #43045 "Node's allocatable resource always equals to its capacity"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No, report a bug.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):

1.5.1
**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/

[2017-03-14 02:01] bruceauyeung commented on #41127
@madhusudancs sure thing

[2017-03-14 02:01] #41127 closed

[2017-03-14 02:11] gyliu513 opened #43046 "NodePort service failed quite a lot when scale down application"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-14 02:15] liggitt commented on #42976
that's coming from https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/meta.go#L56

(prior history at https://github.com/kubernetes/kubernetes/blob/35a6bfbceed9d8bc779fbfe00963b7674ea68b77/pkg/runtime/serializer/json/meta.go)

I can get that error message if I pass a raw string (not valid json) to a json.Unmarshal call: https://play.gola

[2017-03-14 02:16] ethernetdan commented on #42686
closing in favor of #32531

[2017-03-14 02:16] #42686 closed

[2017-03-14 02:19] smarterclayton commented on #42976
Check your etcd storage (are you using etcd3, etcd2, json, protobuf) and whether the data for endpoints is consistent.  If you upgraded, then downgraded, you might get invalid data in etcd (unlikely, but one possible explanation).

[2017-03-14 02:28] ethernetdan commented on #43017
Timeframe for failures corresponds with Route 53 issues: https://status.aws.amazon.com/rss/route53.rss

[2017-03-14 02:31] liggitt commented on #19443
hasn't been updated since before 1.5, not a release blocker

[2017-03-14 02:35] liggitt commented on #42403
that script works for me

[2017-03-14 02:38] shiywang commented on #43026
@ixdy @bsalamat hi, I made a pr, but not sure if it's right, ptal, thanks

[2017-03-14 02:41] yanyanhu opened #43049 "Deployment creating became more and more slow in repeated tests"
Hi, guys,

We found an issue when performing large scale deployment test repeatedly. We have a k8s cluster with about 70 worker nodes. And our test procedure is as following:

1. Creating about 2,000 deployment/pod in sequence using "kubectl run ..." command;
2. Waiting until all deployment/pod enter "running" status;
3. Cleaning all deployment/pod by running "kubectl delete deployment ..." comman

[2017-03-14 02:42] ethernetdan commented on #42614
Opening until can be confirmed non-issue, @davidopp could you make a call on this one?

[2017-03-14 02:51] ncdc commented on #42403
Closing

[2017-03-14 02:51] #42403 closed

[2017-03-14 02:51] chinakevinguo commented on #42977
ok ,thanks!

[2017-03-14 02:51] #42977 closed

[2017-03-14 02:52] k8s-merge-robot opened #43050 "install_gcloud {PRE-SETUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/5356/
Failed: install_gcloud {PRE-SETUP}

[code]

Previous issues for this test: #32669 #36416 #36842 #40203 #42227

[2017-03-14 02:54] fejta commented on #43026
Does `go run hack/e2e.go -- --test_args=--ginkgo.untilItFails` already accomplish this?

[2017-03-14 02:57] kiddingYang commented on #26245
i have the same issue.
log: Healthz probe on /healthz-dnsmasq error: Result of last exec: nslookup: can't resolve 'kubernetes.default.svc.cluster.local': Name does not resolve.
  ps. within the kube-dns pod ,i use wget podIp:8080//healthz-kubedns:Result wget: server returned error: HTTP/1.1 503 Service Unavailable