[2015-02-24 22:11] pmorie opened #4789 "Fine-grained control of secret data in volume"
Currently the `SecretVolumeSource` does not allow the user to control:

1.  Which file names a piece of secret data should be presented with
2.  What permissions a piece of secret data should have

It should be possible to control both of these things.

[2015-02-24 22:12] pmorie commented on #4789
@erictune @thockin @csrwng

[2015-02-24 22:47] uruddarraju opened #4790 "Kubernetes Service External IP"

[2015-02-24 23:13] dchen1107 commented on #4785
I identified this is the issue causing integration test flakiness, but haven't looked into it in detail yet.

[2015-02-24 23:18] dchen1107 commented on #4743
coreos folks patched etcd 2.0, and built v2.0.3 for us: https://quay.io/repository/coreos/etcd?tag=v2.0.3

[2015-02-24 23:19] vishh commented on #4790
Take a look at #2382 and #3636. Closing this issue.

[2015-02-24 23:19] #4790 closed

[2015-02-24 23:32] ddysher commented on #4785
@jonlangemak Is this a reproducible on your setup?

[2015-02-24 23:37] mikedanese commented on #4771
For the case where ${version}="" the patch is `'{"selector":{"version":""},"apiVersion":""}'` which is invalid as there is no apiversion.

For the case where ${version}="v1beta3" the patch is `'{"selector":{"version":"v1beta3"},"apiVersion":"v1beta3"}'` which is a valid patch but `.selector` has been moved to `.spec.selector`, so it doesn't actually change the service object.

Test is fixed with a

[2015-02-25 00:14] #4304 closed

[2015-02-25 00:34] saad-ali opened #4796 ""kubectl get events" returns empty unless namespace is specified"
```kubectl get events``` returns no results unless namespace is specified.

If no namespace is specified, it should return all events recursively.

(@preillyme ran in to this)

[2015-02-25 00:37] saad-ali opened #4797 ""kubectl get events" hangs"
@preillyme ran in to an issue where "kubectl get events" and the get events API call just hang indefinitely.

Need to get a reliable repro.

[2015-02-25 00:49] onsi commented on #3837
Another thing: by not using the `ginkgo` CLI you're going to make it hard to support running parallel tests down the line (and running tests in parallel is one of the best ways to speed up slow integration suites).

If there are feature gaps in `ginkgo` that you'd like to see fixed I'd be happy to add them.  In particular, [it looks like you want to be able to re-run a test suite up-to N times](ht

[2015-02-25 00:58] filbranden commented on #3837
@onsi Thanks for your support!

Yes I have been planning to look into having the tests run by `ginkgo` directly, I think I'm close but I'll need to spend a little more time to really make it work...

One part I miss a bit is being able to give tests names (or more structured names), I know there's "focus" but that's a bit fuzzy and so far I haven't been able to understand what exactly it's matchin

[2015-02-25 00:58] vmarmol opened #4798 "cAdvisor should run as part of the Kubelet"
The Kubelet dependency on cAdvisor has been increasing as it's data and functionality is further integrate into it. To ease deployment as well as make the dependency easier to handle we've considered running cAdvisor as part of the Kubelet. This should be feasible and simple to accomplish.

Marking as a P1 for node since this has been a source of issues recently and having this dependency will hel

[2015-02-25 01:06] onsi commented on #3837
@filbranden

`--focus` searches through the [`FullTestText`](https://github.com/onsi/ginkgo/blob/master/ginkgo_dsl.go#L134) of each `It`

I agree that it can be hard to give tests more structured names.  I tend to work around this by putting leading "tags" in relevent `Describe`/`Context` blocks.  Something like:

[code]

Then you can `ginkgo --focus='{FOO}'` or `ginkgo --skip='{SLOW}'`. You can a

[2015-02-25 01:09] filbranden commented on #3837
Tags sound great.

Maybe make it more structured as a `[]string` or add a new "verb" (like `Describe`, `It` etc.) that you could use to associate tags to existing tests?

Ideally a unique name, though if we have tags we can always use `name=TestThisAndThat` which is unique enough...

Agree about moving to Ginkgo, I'll open an issue there right now.

Thanks!
Filipe

[2015-02-25 01:46] jonlangemak commented on #4785
Yes - The logs I pulled were from my lab setup this AM.  I'd be glad to do any testing you'd like, just let me know!

[2015-02-25 03:15] ogier commented on #4758
I notice you are using `flag "github.com/spf13/pflag"`. Is it possible there's something downstream of my repo that is causing this? Happy to try to find the cause, but I can't reproduce the bug: https://github.com/ogier/pflag/blob/issue_13/flag_test.go#L355

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kubernetes/kubernetes.go#L50

[2015-02-25 03:18] brendandburns commented on #4758
Yes, I think that this is due to Cobra Commander trying to extract args
before parsing flags.

--brendan

On Tue, Feb 24, 2015 at 7:15 PM, Alex Ogier <notifications@github.com>
wrote:

[2015-02-25 03:25] brendandburns commented on #2617
This appears to be fixed by #4174 If there is still a problem, re-open.

[2015-02-25 03:25] #2617 closed

[2015-02-25 03:29] brendandburns commented on #2807
This was closed by #2620

[2015-02-25 03:29] #2807 closed

[2015-02-25 03:41] pmorie commented on #4710
@erictune A number of images expect to use environment variables; a random sample:

1. https://github.com/tutumcloud/tutum-docker-mysql
2. https://registry.hub.docker.com/_/postgres/
3. Images that use [conjur](http://www.conjur.net/) to manage secrets

I think these fall under the use-case defined in the security docs for using images from the community and having them work.

[2015-02-25 04:16] brendandburns commented on #1908
@smarterclayton is this a little obsolete?  I can't see ```modify.go``` anywhere.

[2015-02-25 05:30] smarterclayton commented on #1908
I believe this was fixed a few months back.

[2015-02-25 06:24] davidopp commented on #3954
There was some interest expressed today in also having a latency goal.

[2015-02-25 07:53] bgrant0607 commented on #560
Dumping info into files was also discussed in #386. I certainly prefer that over environment variables.

However, I think that doesn't address @smarterclayton's concerns about accidental coupling, opt-in for specific information, and adapting to application expectations rather than forcing them to adapt to Kubernetes conventions (other than deployment-time adapters).

[2015-02-25 08:28] thockin commented on #3838
I propose to change the semantics - if you omit the destination port in your service, we should use the same port as your service port.

[2015-02-25 08:30] bgrant0607 commented on #4777
Every object should support Watch.

[2015-02-25 08:31] bgrant0607 commented on #4777
Watching status doesn't currently work -- that's #2726.

[2015-02-25 10:52] pires commented on #4798
This would make it easier to deploy monitoring so +1 for that.

[2015-02-25 12:32] rabi opened #4805 "kubelet standalone fails on fedora when hostname is fqdn (ex. test.novalocal)"
Kubelet standalone fails to remove pods after the pod manifests are removed with the following error.

Feb 25 04:29:03 test-vm.novalocal kubelet[814]: E0225 04:29:03.424109     814 types.go:84] found a podFullName ("192e6acb13a38ef77691bf98c9ed4387.file-07561bf6-test-vm.novalocal.file") with too few fields: expected 3, actual 4

It seems the issue is how the podFullName is created for file source.

[2015-02-25 12:42] rsokolowski opened #4806 "cluster/kube-push.sh doesn't upgrade configuration of cluster service RC"
Environment: GCE
I've updated skydns configuration (cluster/addons/dns/skydns-rc.yaml.in) and wanted to push it to an existing cluster using cluster/kube-push.sh (or hack/dev-build-and-push.sh). The script has noticed changes in the skydns RC configuration:
          ID: /etc/kubernetes/addons/dns/skydns-rc.yaml
    Function: file.managed
      Result: True
     Comment: File /etc/kubernetes/addon

[2015-02-25 12:55] rsokolowski commented on #1603
I think issue is mainly addressed: guestbook uses RC for redis-master, frontend has service associated, hostPorts are removed, there is paragraph about Redis HA, but is not part of the example.

[2015-02-25 12:55] #1603 closed

[2015-02-25 13:01] fgrzadkowski commented on #4564
This is tightly related to #4561 so I'll take it.

[2015-02-25 13:08] zmerlynn commented on #4806
It's certainly working as implemented. :) The `kube-addons` "service" (which is a bash script) doesn't have an easy way to re-run this. Or, rather, it was out of scope to get that part working at the time.

What would really help is a `kubectl update` that had create semantics or vice-versa, then that script could run and generally work fine for the `kube-push` case (it would have to handle the de

[2015-02-25 13:25] zmerlynn opened #4807 "kubectl.go test crashing"
From go/k8s-test/job/kubernetes-e2e-gce/2701/consoleFull:

[code]

[2015-02-25 13:25] zmerlynn commented on #4807
cc @jlowdermilk

[2015-02-25 13:46] gmarek commented on #4731
I will work on in later, as I don't want to duplicate the work @wojtek-t is doing while parallelizing kubelet.

I thought about it, and I can't see any 'cheap' way of checking if infra container should be killed. Namely I believe that we have to check that nothing's running and nothing will be restarted, i.e.
for each container defined in pod.Spec there exist a "recent container" in Docker which s

[2015-02-25 14:12] pires opened #4809 "Monitoring (heapster) doesn't work"
While trying to [run monitoring](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/addons/cluster-monitoring)..

* InfluxDB: OK
* Grafana: OK
* Heapster: ERROR
[code]

But the service seems to be available:
[code]

Hints?

[2015-02-25 14:15] gmarek commented on #4787
Do we need to restart everything because we use Docker ID of infra container as a 'namespace', or is there any other reason? If not, is there a strong reason for using this ID, or it's used because it's convenient?

I think that we shouldn't be restarting tasks that have Never RestartPolicy, so we should either prevent them from being restarted (easy), or stop restarting tasks when infra container

[2015-02-25 14:18] pires commented on #4809
Since ```k8s``` database is already created when provisioning InfluxDB & Grafana, why does [createDatabase == true](https://github.com/GoogleCloudPlatform/heapster/blob/master/sinks/influxdb.go#L270)?

[2015-02-25 14:52] vishh commented on #4809
It looks like the InfluxDB service endpoint is not reachable. Most likely restarting the 'kube-proxy' should solve the issue. As for the 'createDatabase' part, it verifies if the necessary databases exist before attempting creation. In your case, the verification stage itself failed since the influxdb service endpoint wasn't reachable.

[2015-02-25 15:07] jszczepkowski commented on #4630
I'll be happy working on this. I hope no one is working on it now.

[2015-02-25 15:23] pires commented on #4809
I beg to disagree. The node running Heapster pod can access the service as detailed before, by listing existing databases

How is the service not accessible to a container of a node that can access said service?

Anyway, I've connected to the pod container running Heapster and it can access InfluxDB HTTP API
[code]
As you can see for yourself, it also lists ```k8s``` database.

**Note**: I made su

[2015-02-25 17:17] bgrant0607 opened #4811 "Rename createExternalLoadBalancer"
Observed in #4585.

createExternalLoadBalancer is imperative, which doesn't fit with our declarative API. The name shouldn't contain a verb. How about just `external` or `public`?

[2015-02-25 17:19] jlowdermilk commented on #4807
This is a regression introduced by #4791. The proxy is not able to bind to desired port:
[code]

cc @roberthbailey

[2015-02-25 17:20] bgrant0607 commented on #4782
Appears to have been fixed.

[2015-02-25 17:20] #4782 closed

[2015-02-25 17:30] roberthbailey commented on #4807
@zmerlynn and I were talking about that at breakfast this morning. I'm not yet sure why the proxy doesn't always get cleaned up as it should.

[2015-02-25 17:34] DreadPirateShawn commented on #4782
Is the fix not deployed yet?

I just loaded https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ in a fresh browser to ensure no caching, and it still says:

[code]

However, that command does not exist -- the old command is `cluster/kubecfg.sh list events` and the new command is `cluster/kubectl.sh get events`. The current command on the page still appears to be broken.

[2015-02-25 17:40] rsokolowski opened #4814 "skydns not resilient to pod restarts"
While working on #4812 I've noticed that sometimes dns wouldn't work. I wasn't able to reproduce that from head since I think it requires some (bad)luck and quite a lot of manual work.
I think that in case if kube2sky starts before etcd the code that initializes EtcdClient (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/kube2sky/kube2sky.go#L73) will just produce

[2015-02-25 17:49] vishh commented on #4805
@vmarmol @abhgupta can one of you take a look at this issue?

[2015-02-25 17:52] vmarmol commented on #4787
We need to restart everything because all the containers share the network namespace of the pod infra container. If that goes away then the containers can't access the network.

It would not be possible to not restart tasks if the pod infra container dies (which should be a *very* rare event). This should be treated as a task failure similar to a system OOM or a loss of disk.

I agree that we shou

[2015-02-25 17:57] vishh commented on #4809
The error you noticed in heapster might have been a transient one. Either the kube-proxy wasn't setup fully or the influxdb container wasn't up.
But the heapster app needs to be resilient to this and attempt db creation once the influxdb service is accessible. I filed an [issue against heapster](https://github.com/GoogleCloudPlatform/heapster/issues/130) for that part.

[2015-02-25 18:02] vishh commented on #4814
@thockin should be able to help you @rsokolowski

[2015-02-25 18:04] simon3z opened #4817 "Labels and IP addresses indexes and selector relationships"
In a discussion I had yesterday with @bgrant0607 and @lavalamp it came up the need of indexing labels and probably ip addresses. Reference: https://github.com/GoogleCloudPlatform/kubernetes/pull/4482

On top of that I would like also to expose the entity relationship somehow in the api (e.g. /api/v1beta3/relations/{services,replicationcontroller,...})

[2015-02-25 18:21] lavalamp commented on #4777
I agree with OP. This is just an accident of history; some boilerplate in the client isn't completely filled out. As Brian mentions, not every field is currently watchable but that's being addressed elsewhere.

[2015-02-25 18:28] dchen1107 commented on #4432
Here is the current proposal I had for going forward on investigation:

1) Introduce flag to control whether writing events to etcd or not; by default, no.
2) Events by default will be logged to disk, fluentd-elasticsearch will collect such logs. The user / client tools can collect the events related pods, nodes, and other objects through queries.
3) For users without fluentd-elasticsearch as addo

[2015-02-25 18:37] lavalamp commented on #4432
I don't know if I've written this down before, so I'll say it here. IMO, kubernetes should store events only long enough to enable some utility to put the events in 3rd party storage (accounting for downtime SLAs etc). kubernetes itself should NOT be responsible for event storage. Much like you must first list and then watch, to use events you must first observe the current state of the thing you

[2015-02-25 18:42] pmorie opened #4822 "Improve user experience for creating / updating secrets"
The serialized form of secret data is a base64 encoded string.  Currently this means that in order to create a secret, a user has to craft a json or yaml field containing their encoded secret data.  There should be a way for a user to create a secret from a set of cleartext files, binary files, or cleartext values specified from the command line.

[2015-02-25 18:42] pmorie commented on #4822
@liggit I know you have some opinions on this matter

[2015-02-25 18:44] liggitt commented on #4822
https://github.com/GoogleCloudPlatform/kubernetes/pull/4591/files#diff-24507fbfb739669903cc0ecbeb8769a5R77 is an example of what has to be done currently to create a secret

[2015-02-25 18:47] lavalamp commented on #4691
kubectl itself should do the retry loop for this command, I think. Since you've just asked it to clobber whatever was in the replicas field.

[2015-02-25 18:53] lavalamp commented on #4521
After #4429 lands, the times for replication controllers should drop down to be about the same as the pod times.

[2015-02-25 18:56] liggitt commented on #4822
Use cases off the top of my head:

1. Create a secret with specified keys mapped to contents of files
2. Create a secret with specified keys mapped to command-line data
3. Create a secret with a set of globbed files, using the filenames as keys

[2015-02-25 19:20] eparis commented on #2826
this is not a kube bug and is a kubernetes-ansible problem.  this issue should be closed.  @bgrant0607

[2015-02-25 19:21] mrunalp opened #4823 "Support sharing /dev/shm among containers in a pod."
The containers in a pod use the IPC namespace of the pod infra container. However, this only allows sharing of System V IPC objects. Posix shared memory objects need access to /dev/shm.

I propose that we do this by mounting a tmpfs outside of the pod and then bind mount it to all the containers in the pod as /dev/shm.

@thockin mentioned that there could be a tmpfs volume per pod in #4625

I thin

[2015-02-25 19:35] pmorie commented on #4822
@liggitt And presumably a switch to say whether a particular thing should be base64 encoded, yes?

[2015-02-25 19:41] pmorie commented on #4823
@mrunalp @thockin @bgrant0607 This seems like a case like the one discussed in #4602 where it would be convenient to use tmpfs storage for an arbitrary volume plugin - ie, `EmptyDir` in tmpfs instead of local storage.

[2015-02-25 19:42] liggitt commented on #4822
@pmorie I thought secrets always had to be base-64 encoded

[2015-02-25 19:44] pmorie commented on #4822
@liggitt they do but some users may have pre-encoded artifacts they want to
use for whatever reason

On Wed, Feb 25, 2015 at 2:42 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-02-25 20:04] smarterclayton opened #4824 "Document external routing into the network"
Discussed at the face to face, but need to document in networking.md the external to internal solution space.

[2015-02-25 20:49] bparees opened #4825 "Hostname shouldn't be set to the pod name"
Kubernetes is setting the hostname of the container in docker here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L673

however we've recently discovered there appears to be a limit of 64 characters on at least some systems which results in the sethostname call failing.

Is this explicit setting of the hostname to the podname strictly necessary?  if so, we ne

[2015-02-25 21:32] smarterclayton commented on #4825
It's a downward api, I think we would keep it, but we need to probably safe trim it.  I think this might be something docker should handle.

[2015-02-25 22:16] sidharta-s commented on #4302
The vagrant cluster seems to come up ( completes master and minion validation ). However, there is new  credentials related error that is showing up at the end of running cluster/kube-up.sh :

[code]

[2015-02-25 22:16] vishh commented on #4788
cc @brendandburns

[2015-02-25 22:24] #4185 closed

[2015-02-25 23:08] a-robinson commented on #4432
Step 1 should definitely be doing a couple perf tests with and without events enabled to see their effect. I doubt that shortening the TTL could be a long-term solution, since all it helps with is memory pressure. It doesn't solve the write-rate or watch index problems.

[2015-02-25 23:20] mikedanese commented on #1702
I remember discussion about a 'ConfigController', config macro expansion, and config finalization. Is that in scope of this issue?

[2015-02-25 23:20] rreinurm opened #4829 "0.11 pods state unknown then minion unavailable"
I had managed produce the issue with GCE Container Engine and also had same issue then deployed Kubernetes cluster using provided script. In case one minion is down (in my tests I stopped the vm) then previously deployed containers are not rescheduled to other minions and state of container is "unknown".
In case pod with unknown state is deleted manually, then pod is scheduled to be deployed on ot

[2015-02-25 23:37] ddysher commented on #4785
Thanks @jonlangemak

Pod.HostIP is updated in pod cache:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/pod_cache.go#L161

Can you add some more logs in the pod cache, especially log the content of NodeStatus?  And post kube-controller-manager.log and kube-apiserver.log?

[2015-02-25 23:45] vishh commented on #4717
This must have been fixed on head now. Can you check @a-robinson?
In any case, I don't understand why kubelet dumps a stack trace in a loop.

[2015-02-25 23:46] yifan-gu commented on #4404
cc/@dchen1107

[2015-02-26 00:47] ddysher commented on #4829
Thanks for reporting.  How did you stop the vm, just shutting it down?  Have you deleted it explicitly using kubectl delete?

nodecontroller will delete the pods in the node after 5min.  There might be some problem deleting the pods.

[2015-02-26 01:04] pmorie commented on #4710
I was thinking about this today and had some more specific ideas I will probably start prototyping.  Today it would be possible to:

1.  Create a secret with a key, `env`, which contained a base64-encoded env file.
2.  Consume that secret in a volume and mount it into a container at `/etc/secret-volume`
3.  Source `/etc/secret-volume/env` in the container's command

I don't actually think that the

[2015-02-26 01:05] pmorie commented on #4710
Will add example shortly

[2015-02-26 02:56] jonlangemak commented on #4785
Yep, hoping to get to this tonight.  Will keep you posted

[2015-02-26 04:33] pmorie commented on #4710
@csrwng Any thoughts on the above?

[2015-02-26 06:08] pmorie commented on #4710
Example of current way it can be done **today**:

Secret:

[code]

The `environment-file` secret contains the following data:

    MYSQL_USERNAME=user
    MYSQL_PASSWORD=notasecret
    MYSQL_DB_NAME=appdb

Pod:

[code]

I think a better experience would be:

[code]

[code]

Which would result in a file equivalent to the one in the example above being generated at
`/etc/secret-volume/environment-fi

[2015-02-26 06:50] ghodss commented on #1581
This should be re-opened. Travis still doesn't build *all* packages with `go build ./...` or `go install ./...` so HEAD still breaks. See https://github.com/GoogleCloudPlatform/kubernetes/pull/1641#issuecomment-58268281 for rationale.

[2015-02-26 07:00] ghodss commented on #4615
Considering https://github.com/GoogleCloudPlatform/kubernetes/issues/4428#issuecomment-75426081, can we name our kubeconfig files? It should just be a unique high-level name for the clusters/users/contexts that live in that kubeconfig file. So use ~/.kubeconfig as the directory, and all files inside are parsed and aggregated as kubeconfig files. Those files could just take the convention of name.t

[2015-02-26 08:00] rreinurm commented on #4829
Yes, I shut it down using stop functionality from gce command line or from web console. After 30 minutes the pod's state was still unknown on the same host.

For deletion I have used kubectl delete then I deployed my own kubernetes master or then I used google gce preview then:
 gcloud preview container pods delete <pod name>

[2015-02-26 08:54] ghodss opened #4834 "v1beta1 GET pods API response has a v1beta2 object in it"
Maybe this is expected, but it was surprising to me. I created a pod with v1beta1:

[code]

Then I ran `GET http://10.245.1.2:8080/api/v1beta1/pods/nginxer1` and got:

[code]

Should the `desiredState.manifest` object really be a v1beta2 object? Especially since a v1beta2 object could be backwards incompatible. How is that happening?

[2015-02-26 08:55] pires commented on #4829
I can reproduce with Vagrant VMs.

[2015-02-26 09:05] thockin commented on #4825
I agree Docker should handle it.  Given that they don't, we should.  Belts
and suspenders.  Well this puts to rest the idea that hostname is a
reliable way to pass down the name or UID

On Wed, Feb 25, 2015 at 1:33 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-26 09:13] nikhiljindal commented on #4834
cc @bgrant0607

[2015-02-26 10:08] gmarek commented on #4796
AFAICT it returns events from 'default' namespace, not no results. I'm not convinced that current behavior is bad. If anything I'd consider adding explicit --all_namespaces flag or sth, but I'm not sure if even this is a good idea.

[2015-02-26 10:52] gmarek commented on #4834
It's just the version id that is wrong. My guess is that it's ctrl-c ctrl-v kind of bug, as ContainerManifest in v1beta1 and v1beta2 are exactly the same. I'll send the PR in a sec.

[2015-02-26 10:59] sdminonne commented on #341
@smarterclayton @thockin @bgrant0607
just created PR https://github.com/GoogleCloudPlatform/kubernetes/pull/4835 to replace `labels.ParseSelector` with `labels.Parse`

[2015-02-26 11:52] rsokolowski opened #4837 "kube2sky closes services watch every 5 minutes"
Environment: GCE
watchLoop seems to restart every 5 minutes (go to the minion running kube2sky and do sudo docker logs kube2sky-container). This isn't that harmful except that all services are read every 5 minutes. I'm not sure whether the issue is on the kube2sky side or the watch implementation on api server.

[2015-02-26 12:11] josselin-c opened #4838 "Helper programs network isolation"
In a pod with two containers, how would you isolate one of the container from the network (except maybe for some whitelist)?
I don't have AppArmor available so I can't set a custom profile to the container and I'm not sure how I could to this with SELinux + iptables.
Going for '--net=none' could be a start but I don't know how to set this in the manifest files.

[2015-02-26 12:12] jszczepkowski commented on #4721
OK. Seems that grafana is working fine, it is available at:
https://<masterIP>/api/v1beta1/proxy/services/monitoring-grafana/
Message printed by kube-up.sh is bit incorrect, I'll fix it.

[2015-02-26 12:56] piosz commented on #3622
@bgrant0607
I'm trying to change PodInfo to be a list.

Should it only be changed in api v3 or also in v1 and v2? In general do we still want to modify api v1 and v2 or are those versions final?

How about internal representation of PodInfo? Do we want to keep it as it is or change to be compatible with external type? There is some internal code (pkg/kubelet/dockertools/docker.go) which relies on

[2015-02-26 13:48] piosz commented on #3758
@nikhiljindal are you working on it?

[2015-02-26 14:08] csrwng commented on #4710
@pmorie - how would the finalizer determine that a pod is not "finalized" and that it needs to update the run command, or for that matter the scheduler know that the pod can't be scheduled without being finalized?

[2015-02-26 14:17] pires opened #4841 "Make monitoring (heapster + influxdb + grafana) more Kubernetes friendly"
So, having something like
[code]
is very limitative when it comes to running ```influxdb``` + ```grafana```inside Kubernetes **but** accessing from external service addresses (```publicIPs```) possibly set in ```grafana-service.yaml```.

Since ```nginx``` is already used for hosting ```grafana```, we should leverage on it for achieving some sort of reverse-proxy for ```http://
localhost:8086```(``

[2015-02-26 14:37] smarterclayton commented on #4825
What's worse is that it apparently is only broken on some systems.  Ben, can we be sure to file OS bugs if that's any of the red hat distros?

[2015-02-26 14:55] smarterclayton commented on #4710
This is a separate discussion that is still unresolved - Brian and I sketched up a few solutions but I don't think there's a clear answer yet.

[2015-02-26 14:55] gmarek commented on #4628
I can write this change, but there's a couple of things to decide:
* do we allow comma in label values (we did until now, but in this proposal we don't)? [I guess we do]
* do we really want to allow Qualified Names to end with dash/period/underscore? [I guess we don't]
* what max length of Qualified Names we allow? [I guess 253]
* do we want to allow completely arbitrary annotations, and do we wan

[2015-02-26 15:04] bgrant0607 commented on #4834
The API version isn't wrong. ContainerManifest actually has its own version. Note that it's the only subobject that has one. ContainerManifest predates Kubernetes and was used in our "ContainerVM" images.

This will go away in v1beta3.

[2015-02-26 15:04] #4834 closed

[2015-02-26 15:06] bgrant0607 commented on #4825
We shouldn't pass the pod uid as the hostname, as per #3949. We could generate a shorter string.

[2015-02-26 15:08] smarterclayton commented on #3949
They want the uid as a unique instance identifier.  We could give them anything, but self registration into an external system is one way (I'm pod foo, serving X, here's my unique identifier)

[2015-02-26 15:27] pmorie commented on #4777
@sdminonne This is relevant to your interests potentially w/ your work on #560

[2015-02-26 15:40] pmorie commented on #4710
@csrwng Good question.  Since there are a lot of questions around finalizers still I think for now we can generate the env file in the manner I described above and the user will need to include the bits about sourcing in their command.  We can add finalization in the future.

[2015-02-26 16:20] ddysher commented on #4829
Looks like a namespace issue #4832

Can you verify it works for you?  The stopped node will be detected immediately, but pods on it will only be deleted after 5min.  You can control the time using flag pod_eviction_timeout.

Deleting the node through kubectl delete will leave the pods unknown (if you don't stop the node first).  We should improve this.

[2015-02-26 16:24] smarterclayton commented on #4628
Is there a disadvantage?

It should be defined in the identifiers section, but if not should be predictable to our other names.

We should set a maximum to limit abuse, but it should probably be total size of all annotation values and keys, not any particular one (I don't see a reason any individual annotation can't be large).  50K total as a straw man.

[2015-02-26 16:26] csrwng commented on #4710
SGTM - I like the idea of the SecretVolumeSource, it's more consumable.

[2015-02-26 16:35] thockin commented on #4628
On Thu, Feb 26, 2015 at 8:24 AM, Clayton Coleman
<notifications@github.com> wrote:

I don't think this is a big deal, but I agree - given that DNS names
don't allow trailing punctuation, it's not unreasonable to assume this
shouldn't.  It's a marginally more complex regex is all.

Previously it was max(dns_label + max(dns_subdomain) + 1.  I think
making this be the same as dns subdomain is fine.

[2015-02-26 16:57] thockin commented on #4825
I would suggest a different ID, but still a UID (I think we called it VUID
internally).  But we don't really have a VUID yet, and I don't know we want
one.  Just random?  A hash of the pod name?

On Thu, Feb 26, 2015 at 7:06 AM, Brian Grant <notifications@github.com>
wrote:

[2015-02-26 17:17] bgrant0607 commented on #3350
I just want to add that I'm supportive of the direction discussed here. Kubernetes should absolutely allocate network resources and orchestrate network configuration on behalf of applications.

[2015-02-26 17:21] josselin-c opened #4844 "kubectl log terminates with unexpected EOF"
When using kubectl to watch logs in follow mode (-f) it stops after ~5min with ```F0226 18:17:15.255839   16187 log.go:85] unexpected EOF```. My pod is in a namespace.

[2015-02-26 17:22] bgrant0607 commented on #4628
SGTM

[2015-02-26 17:23] bgrant0607 commented on #4825
Just random SGTM. Can be set in the defaulting pass.

[2015-02-26 17:30] thockin commented on #4825
Oh I was not suggesting to store it in the API, just to hash the pod name
in kubelet and use that as hostname to docker.  We can add VUID later when
we really need it.

On Thu, Feb 26, 2015 at 9:24 AM, Brian Grant <notifications@github.com>
wrote:

[2015-02-26 17:34] satnam6502 opened #4845 "Tag collected Docker container logs with pod name"
Currently we collect the JSON Docker container logs and ingest them without further processing into either Elasticsearch or Cloud Logging. It would be useful to add fields to identify the name of the pod that corresponds to a specific Docker container log file (line) and perhaps also the hostname too. Relating the Docker container ID to a pod name might be possible by speaking to the kubelet durin

[2015-02-26 17:37] satnam6502 opened #4846 "Update Fluentd/GCP Docker image with version tag"
Currently `kubernetes/fluentd-gcp` image does not have a version tag. Update the image with the latest Cloud Logging plug-in and add a `1.0` tag and update the manifest for node level installation to use the tagged image.

[2015-02-26 17:48] thockin commented on #4841
@vishh

[2015-02-26 17:48] fabioy commented on #4533
There were two pull requests that should help with the flakiness issue:
#4631 Move the various "defer" calls before the creation in pods.go e2e test.
#4609 Clean up events.go test by removing HostPort

Closing issue.

[2015-02-26 17:48] #4533 closed

[2015-02-26 17:48] thockin commented on #4841
I'm guessing at P2 - please consider and adjust

[2015-02-26 17:52] DreadPirateShawn opened #4847 "Fix invalid kubectl command on Debugging FAQ"
The "Debugging FAQ" refers to `kubectl list events` (which is an invalid command) rather than `kubectl get events`.
https://github.com/GoogleCloudPlatform/kubernetes/wiki/Debugging-FAQ

Related to #2144 and #4782.

**Invalid command:**
[code]

**Valid command:**
[code]

[2015-02-26 17:54] DreadPirateShawn commented on #4782
Since "kubecfg" was indeed changed to "kubectl", I understand why this ticket was closed... However, the command is now invalid/broken, which definitely still needs to be fixed.

I've filed #4847 for clarity (and additional visibility, since the debugging page currently contains a broken command).

[2015-02-26 18:00] bgrant0607 opened #4849 "Add --allow-host-ports flag to master and kubelet"
People often use hostPort when they shouldn't. Additionally, host ports are a precious resource. Eventually we should have a policy that controls access by namespace. For now, we should use the same approach as privileged.

hostDir is similar security-wise to privileged, but doesn't cause as much confusion as hostPort.

@thockin @derekwaynecarr

[2015-02-26 18:02] derekwaynecarr commented on #4849
/cc @deads2k

[2015-02-26 18:03] nikhiljindal commented on #3758
No. Feel free to take it up.

[2015-02-26 18:05] dchen1107 opened #4850 "Upgrade to docker 1.5.0"
.

[2015-02-26 18:11] bgrant0607 opened #4851 "Add more structure to our directories, and document it"
Our code is hard to navigate, and github search isn't the greatest. It would help if the directory structure weren't so flat. I'm also not sure it makes sense for plugin to not be under pkg. #2306 is related, but separate.

Strawman:
- master/
  - service/
  - nodecontroller/
  - replicationcontroller/
  - resourcequota/
  - scheduler/
  - storage/
    - etcd/
  - ui/
- node/
  - kubelet/
  - prox

[2015-02-26 18:20] lavalamp commented on #4432
But these are problems we will have in larger clusters event *without* events, so it is good to find them now. Specifically, any problem with watch index is a *bug* in the code doing the watch. I am skeptical that we have problems with "write rate" and want to see some evidence. If we have those problems, we will have to fix them other ways anyway: writing object status to etcd will certainly trig

[2015-02-26 18:21] a-robinson commented on #4845
Mostly a duplicate of #4255 in terms of implementation, but we can keep this one open instead if it has better discussion. I'd only change your description by saying that we definitely need to annotate using the pod's labels, much more than we'd need its hostname.

As for implementation, the container ID -> pod info mapping should be very cacheable, helping with logs from a recently finished conta

[2015-02-26 18:23] lavalamp commented on #4432
I also want to toss out something @smarterclayton mentioned in person yesterday, which is:

If etcd makes its entire log history available, then instead of writing a new event for every object, we can have one event per object and update the existing event for every event that comes in. This way all of the events are available in the etcd history (presumably stored on disk), but only the latest on

[2015-02-26 18:24] vishh commented on #4841
Once we can specify multiple ports per kubernetes service, this can be
achieved without needing a reverse proxy. You can set the "INFLUXDB_HOST"
to be be "+window.location.hostname+" and "INFLUXDB_PORT" to a service port
that connects to influxdb. However I do agree that having a reverse proxy
helps separate influxdb and grafana into separate pods.

Are you having any issues accessing Grafana via

[2015-02-26 18:27] thockin opened #4852 "Need a health check for DNS pod"
I have observed the DNS pod sometimes getting stuck.  Need a health-check that tries to do a lookup or something like that.

[2015-02-26 18:27] thockin commented on #4852
also DNS should probably come up with N=2 by default

[2015-02-26 18:28] lavalamp commented on #4717
This is not a crash. Kubelet is set to print a stack trace (as a debugging aid) whenever it returns an error to an HTTP request.

...Why is someone POSTing to /stats/? Shouldn't that be a URL one GETs?

[2015-02-26 18:28] #3437 closed

[2015-02-26 18:28] #4183 closed

[2015-02-26 18:30] vishh commented on #4717
The POST part is weird. AFAIK heapster is the only component that uses that
REST endpoint as of now and it does a GET.

On Thu, Feb 26, 2015 at 10:28 AM, Daniel Smith <notifications@github.com>
wrote:

[2015-02-26 18:43] satnam6502 commented on #4845
Ah, right,  I forgot about the existing issue. Yes,  good points about labels.

[2015-02-26 18:44] rrati opened #4854 "Error from watch"
While running large numbers of pods on our kubernetes cluster we are seeing:

replication_controller.go:143] error from watch during sync: 401: The event in requested index is outdated and cleared (the requested history has been cleared [3047769/3039389]) [3048768]

We see this in the replication controller and apiserver logs

[2015-02-26 18:49] pires commented on #4841
I've made it work with a reverse-proxy.

_"+window.location.hostname+"_ won't work outside of the cluster, unless you make ```influxdb``` publicly accessible on the same IP as well.

Snippets of what I did:

**nginx.conf**
[code]

**app/config.js**
[code]

[2015-02-26 18:50] zmerlynn opened #4855 "Cluster versioning"
This issue is a proposal and collection of work-items for the cluster versioning mechanics for 1.0. It is meant to contain concepts from #2524 and decisions from the 2015/02 Kubernetes Meet-up as to what to encapsulate/cut for 1.0:
### Versioning requirements for `kubelet`:
- [x] `kubelet` version tuple must be reported for the cross-product of, at least, (kubelet, docker, kernel).
  `apiserver`.

[2015-02-26 18:50] a-robinson commented on #4717
Heapster does currently send post requests to kubelet for stats, although I don't know why: https://github.com/GoogleCloudPlatform/heapster/blob/master/sources/datasource/kubelet.go

[2015-02-26 18:53] zmerlynn commented on #2524
Per our conversations at the meet-up, I opened a tighter issue for 1.0 (#4855), moved this out and de-prioritized.

[2015-02-26 18:55] saad-ali commented on #4796
```kubectl get events``` (without specifying a namespace) returns only the ```default``` namespace events.
The REST call ```api/v1beta1/events``` (without specifying a namespace) returns events for all namespaces.

The behavior should be consistent between the two, whether it is to return all or default name space only.

[2015-02-26 19:03] timothysc commented on #4562
Do you plan on modifying the NodeController polling loop then?

[2015-02-26 19:06] thockin commented on #4854
@lavalamp

[2015-02-26 19:06] timothysc commented on #4561
Out of curiosity why can we roll up Node and Pod status into a single status update?

[2015-02-26 19:09] vishh commented on #4841
Multiple ports per service should make influxdb and grafana accessible from the same IP.
Thanks for sharing your config @pires! I you have some time feel free to post a PR against [heapster](https://github.com/GoogleCloudPlatform/heapster). If not, I will update the Grafana container once I find some time.

[2015-02-26 19:11] pires commented on #4841
@vishh am working on that PR.

Anyway, there's no need to expose ```influxdb``` outside the cluster.

[2015-02-26 19:23] yujuhong commented on #4090
We had an offline discussion and agreed on *some* things.

 - Instead of using a unique/reserved namespace for each node, we settled on using a single namespace for k8s system pods. We will tentatively use the "default" namespace for now (which may change later), and encourage users to create their own namespace to avoid name collision.
 - http and file sources should generate a unique pod name fo

[2015-02-26 19:23] lavalamp commented on #4851
Hm, I'd actually instead consider putting the controllers under plugin along with scheduler. client/ is used by multiple packages, so I think it should go in common. conversion/ is meant to be generic, so that should go under util.

* master/
  * service/
  * resourcequota/
  * storage/
    * etcd/
  * ui/
* node/
  * kubelet/
  * proxy/
* plugin/
  * scheduler/
  * nodecontroller/
  * replication

[2015-02-26 19:24] lavalamp commented on #4854
Will look

[2015-02-26 19:29] dchen1107 commented on #4854
I looked at this together with folks from Redhat yesterday. This log is printed as error is misleading since it doesn't cause any real issue. Both replication controller and apiserver already handled such watch error.

[2015-02-26 19:35] dchen1107 commented on #4850
Closed via #4859

[2015-02-26 19:35] #4850 closed

[2015-02-26 19:35] lavalamp commented on #4854
When we get this error, we should re-list and try again and everything should Just Work (tm). I will double check that it does that and make a PR to clarify the message in the log.

One additional possibility is that processing the result of the list takes so long that the watch window has expired by the time we're finished. In that case this should degrade to just polling, and the error still sho

[2015-02-26 19:36] vishh commented on #4841
Exposing Influxdb helps with debugging. So having a way to expose if needed should be good enough. Looking forward to the PR @pires !!

[2015-02-26 19:40] vishh commented on #4721
Thanks for the fix @jszczepkowski. Closing this issue!

[2015-02-26 19:40] #4721 closed

[2015-02-26 19:43] DreadPirateShawn commented on #4847
Additional note: The invalid command is in the "Checking logs" section. Later, in the "By symptom" section, the valid version of the command is used.

[2015-02-26 19:44] yujuhong commented on #4788
This looks like #4583

[2015-02-26 19:49] satnam6502 opened #4860 "kubectl create service gives unhelpful error message"
Rather than writing out an error message about some timeout it would be more helpful to give an informative error message about what went wrong e.g. what operation failed.

[code]

[2015-02-26 19:52] rrati opened #4861 "Add density test"
Add an e2e test to test running 100 pods per node

[2015-02-26 19:52] brendandburns commented on #983
Assigning to @thockin since he says his refactor will cover the rename.

[2015-02-26 19:58] ddysher commented on #4562
@jszczepkowski is working on that. #4808

Both node controller polling loop and kubelet POST will be disabled before integration.

[2015-02-26 20:01] #4583 closed

[2015-02-26 20:01] brendandburns commented on #2971
In general looks like it custom types are not supported.  We likely need some sort of tool to massage the output of go-restful (or upstream go-restful changes, but that seems harder)

[2015-02-26 20:03] nikhiljindal commented on #4083
Sent https://github.com/GoogleCloudPlatform/kubernetes/pull/4863 to update the spec.

[2015-02-26 20:07] ravigadde commented on #3350
I am supportive of the direction in which this is going.

I want to bring up one more use case - of deploying a load balancer like haxproxy or nginx within the cluster (instead of using the service proxy). Assume there is a pool of IP addresses (may be a /24 subnet) dedicated for external connectivity (Public IPs) for the cluster. Each such load balancer needs to be assigned an IP from this pool.

[2015-02-26 20:10] larsks commented on #4218
I just upgraded from 0.7 to 0.9 (kubernetes-0.9.1-0.2.git3623a01 in Fedora 21), and I have been bit by this hard.  Specifically, on startup, kube-proxy is selecting an interface that looks like this:

    2: enp2s0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel master ovs-system state UP group default qlen 1000
        link/ether 20:cf:30:46:7e:62 brd ff:ff:ff:ff:ff:ff
        inet6 fe

[2015-02-26 20:11] bgrant0607 commented on #2004
@ghodss has pointed out that lists do not allow generic merging for configuration updates.

[2015-02-26 20:17] piosz commented on #3758
So I'll take a look. Thanks!

[2015-02-26 20:21] timothysc opened #4866 "Replication Controller looping parallelization"
Inside of the replication controller if the replica-count is off it will fork a go routine to increment or decrement the # of pods.  This is pretty inefficient and could probably be boiled down to a single api call with a count.

e.g. submit replication 1000 ... 1000 concurrent api calls.

[2015-02-26 20:26] vishh commented on #4788
Yup. Looks like a dup. Closing this.

[2015-02-26 20:26] #4788 closed

[2015-02-26 20:40] sub-mod commented on #4218
the code in #4115 would fix this issue , if proxier.go uses the same method as apiserver.go to fetch an IP based on gateway

[2015-02-26 20:51] bgrant0607 commented on #1535
@derekwaynecarr

[2015-02-26 21:12] ArtfulCoder commented on #3760
With @thockin 's help, we tried the same with udp.

We created a GCE Kubernetes cluster with 3 sky-dns replication controllers.
On the kubernetes-master, we set the following in iptables:
The dns service ip was 10.0.0.10, and the pod endpoints running dns were 10.244.0.5:53, 10.244.3.6:53, 10.244.0.6:53

iptables -t nat -N TESTSVC
iptables -t nat -F TESTSVC
iptables -t nat -N TESTSVC_A
iptables -t

[2015-02-26 21:16] dchen1107 opened #4869 "Experiment run kubelet as docker container"
We talked about running as much our components as docker container, but excluding both docker daemon and kubelet. Running kubelet as docker container is hard, especially with mount namespace; but we should experiment it and document what difficulties we have, and eventually work with our partners to solve those issues.

cc/ @thockin

[2015-02-26 21:40] thockin commented on #4847
It should be "get" events - if you want to fix it..?  :)

[2015-02-26 21:41] proppy commented on #1702
It would be "cute" to have a similar 'reconcile' functionality based on git: a support pod could expose a git bridge to the master, allow you to "git clone" the current state of the cluster into a collection of configuration files, and do the necessary API call to the master to reconcile its state with the incoming changes.

[2015-02-26 21:44] DreadPirateShawn commented on #4847
Yeah, I will myself once I get a chance... I'm tangled in tracking down issues with heapster and/or cadvisor for the past day or so, trying to stay focused. :-) Also @vishh made the first part of this fix so quickly! Was hoping to flag the rest of the fix for someone who was already working on this repo.

[2015-02-26 21:44] saad-ali commented on #4796
Spoke with @thockin, and he agrees with @gmarek, this is functioning as intended.

For the REST calls (```api/v1beta1/events```, ```api/v1beta1/pods```, etc.) returning all events/pods/etc. (regardless of namespace) is intended behavior. For ```kubectl``` commands, when no namespace is specified, returning the ```default``` namespace is intended behavior.

Closing issue.

[2015-02-26 21:44] #4796 closed

[2015-02-26 21:47] uruddarraju opened #4870 "Rolling Update causing issues"
I am trying to follow the update-demo example and created the nautilus pod.

When I try to do the following:

```kubectl rollingupdate update-demo-nautilus --update-period=5s -f examples/update-demo/kitten-rc.yaml```

I get the following error:

[code]

Any way I can overcome this ?

[2015-02-26 21:50] ixdy opened #4871 "Create dashboard of e2e test results for all cloud providers"
As was discussed in the cloud provider breakout yesterday, it would be very helpful to have a centralized dashboard which showed test results for the e2e tests on each of the supported cloud providers.

I'm not immediately sure of the best way to aggregate these data, since it will involve multiple separate CI instances, as nobody will run tests for all providers.

One possibility is to use a dumm

[2015-02-26 21:55] justinsb commented on #3760
Great stuff!  Just FYI (confirming from our face-to-face conversation), it's not safe to run multiple concurrent iptables commands in general (different chains sounds like it might be OK).  iptables is a wrapper around libiptc, and see the comment on iptc_commit: http://www.tldp.org/HOWTO/Querying-libiptc-HOWTO/mfunction.html

This was apparently fixed in 2013, but maybe only if you pass --wait (?

[2015-02-26 21:58] lavalamp opened #4872 "Consider replacement json marshalling system"
I thought there was an issue for this, but I can't seem to find it.

Off the top of my head, there's two compelling reasons to consider this:
* Generate errors on finding a disallowed field
* Performance - we spend most of our time marshalling/converting/unmarshalling.

I just ran across this, which may be relevant: https://github.com/rainingclouds/autobindings

[2015-02-26 22:01] roberthbailey commented on #4871
Dupe of #2234 (but I'll close that one since this issue has more recent context).

[2015-02-26 22:01] roberthbailey commented on #2234
Superseded by #4871.

[2015-02-26 22:01] #2234 closed

[2015-02-26 22:02] smarterclayton commented on #4851
Possible counter strawman - send people to the godoc page, which should display nice paragraph summaries of each package (and flog folks to add nice descriptions where there aren't)?

[2015-02-26 22:04] smarterclayton commented on #4432
+1 - let's root out the core issues, fix watch in etcd so it gives us a sequence update to refresh our watch window; and test.

We can also bulk write events and work with etcd guys to get a multi put (which is effectively what influx is doing) and we can reduce our writes by at least a large constant factor

[2015-02-26 22:05] smarterclayton commented on #4628
Obviously

[2015-02-26 22:06] ixdy commented on #4871
Oops. I tried searching for existing issues, but GitHub failed me.

Further requirements for each cloud provider test instance is that
a) it should run at least nightly, though more frequent is even better (depending on available resources)
b) it should run against Kubernetes tip - so for example, the GKE test instance probably isn't worth listing here

[2015-02-26 22:09] davidopp commented on #4432
Does anyone on Kubernetes own this issue? As in, working on it full-time. If not, let's ask someone who is currently working on something that's not for 1.0. I have a couple of candidates in mind. We have been discussing it passionately for a while but it's lacking an owner to move it forward. I'm getting worried that we're going to make a bad decision because we're not willing to put in the time

[2015-02-26 22:09] xiang90 commented on #4432
@lavalamp I talked with @bgrant0607 about this yesterday.
The plan is to provide a user controllable compaction mechanism. So that etcd keeps all the operation history until a compaction.
However, we are still designing the v3 api/store.

The window slicing notification is another thing as far as I see.

[2015-02-26 22:13] xiang90 commented on #4432
@davidopp

You should have a rough idea about the etcd's status pre k8s 1.0.
etcd is still involving fast especially we just finished making its internal "solid".

But there are something you should not put into etcd in general. For something that does not require sequential consistency or even read/write consistency and reliability, you probably want to move it out of etcd.

[2015-02-26 22:14] lavalamp commented on #4432
@xiang90 thanks for the clarification.

I see this as a very nice to have optimization, but since all of our code should already list, it's not essential.

[2015-02-26 22:14] thockin commented on #4872
+1

On Thu, Feb 26, 2015 at 1:58 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-02-26 22:15] thockin commented on #4872
Do you think this is plausible for 1.0?  Instinct says not/...

[2015-02-26 22:15] a-robinson commented on #4432
cc @kelseyhightower given our lunch conversation about this issue

[2015-02-26 22:17] lavalamp commented on #4872
IMO, post 1.0.

[2015-02-26 22:18] vishh commented on #4847
I noticed the fix after you filed the issue. I don't recall who made the
partial fix though :)

On Thu, Feb 26, 2015 at 1:44 PM, Shawn Falkner-Horine <
notifications@github.com> wrote:

[2015-02-26 22:19] a-robinson commented on #4432
@davidopp No one currently owns it, and someone definitely should. I'm very interested, but don't currently have the time.

[2015-02-26 22:20] bgrant0607 commented on #4851
godoc is also necessary, but I don't see how it solves the problem of needing to look at the godoc for a zillion directories to find something.

[2015-02-26 22:21] thockin commented on #3760
It boggles my mind that there's no way to do CAS or LL/SC sorts of ops.

We should add support for --wait, though it is recent enough that GCE's
debian-backports doesn't have it.

Maybe we should do our own locking inside our code to at least prevent us
from stepping on ourselves.

On Thu, Feb 26, 2015 at 1:56 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-02-26 22:23] davidopp commented on #4432
Saad, I see you assigned this to yourself. Do you have time to work on this full-time? BTW the "this" I'm referring to isn't just events, but getting a handle on the whole etcd stability and scalability issue, tuning the k8s and etcd code as needed, etc.

[2015-02-26 22:23] roberthbailey commented on #4807
The crashing in the e2e tests was fixed by the rollback.

[2015-02-26 22:23] #4807 closed

[2015-02-26 22:25] DreadPirateShawn commented on #4847
Fair enough. :-) Also, I think that the wiki is configured to only allow edits by collaborators on the repository -- https://help.github.com/articles/changing-access-permissions-for-wikis/ -- so it looks like I can't make the remaining fix myself, even with the right git commands.

I'll have to defer to someone else to fix the remaining error on this one. :-) Thanks!

[2015-02-26 22:25] lavalamp opened #4874 "Versioned clients"
Right now, pkg/client auto-converts everything to our internal, unversioned format. This is convenient for kubernetes components, but not so convenient for any 3rd party users. (The whole point of the versioning system is so that we can make changes to the unversioned structs without affecting downstream users.)

So we should maintain versioned clients.

It is possible that this is as easy as copy

[2015-02-26 22:26] jlowdermilk commented on #4870
This looks like an old bug that was fixed by #4518. Are you running at head?

[2015-02-26 22:29] bgrant0607 commented on #4782
I can only find 2 instances, and they have both been fixed.

[2015-02-26 22:39] lavalamp opened #4875 "Proxy can be used to make apiserver dos itself"
Visiting the following link once per second is enough to exhaust the 10 QPS rate limit for everyone. I don't think this is important to fix right now but I thought I'd document it.

```https://<your apiserver ip address>/api/v1beta1/proxy/services/kubernetes-ro/api/v1beta1/proxy/services/kubernetes-ro/api/v1beta1/proxy/services/kubernetes-ro/api/v1beta1/proxy/services/kubernetes-ro/api/v1beta1/pro

[2015-02-26 22:39] #4771 closed

[2015-02-26 22:41] zmerlynn commented on #4869
+1!

[2015-02-26 22:42] saad-ali commented on #4432
Yep, I'll take ownership of this.

Immediate plan of action is pretty much what you proposed:
* Output events to both etcd and log files gated by flags (so we can enable/disable either).
* Setup fluentd-elasticsearch to process the new events log.
* Run some tests to see the delta between 1) events output to etcd with current 2 day TTL, 2) no events output to etcd, and 3) events output to etcd wit

[2015-02-26 22:43] lavalamp commented on #4432
Let's chat in person tomorrow.

[2015-02-26 22:45] DreadPirateShawn commented on #4847
Just saw @bgrant0607's comment on #4782, re-checked Debugging-FAQ page and I see the fix. Closing this ticket too. Thanks!

[2015-02-26 22:45] #4847 closed

[2015-02-26 22:47] rreinurm commented on #4829
I tried the latest master and verified that the related fix was included. Then I rebuild and set up Kubernetes cluster in vagrant, then unfortunately it didn't work. The interesting thing was then I queried kubectl get events, then I noticed that new pod was rescheduled to same node, even then the node was down.

The first schedule, then node was up:
`Thu, 26 Feb 2015 22:20:32 +0000   Thu, 26 Feb

[2015-02-26 22:55] davidopp commented on #4432
Yeah, let's discuss more -- I'd really like somebody to not just work on the event side of this but also on benchmarking etcd (the etcd folks were kind enough to give us some code, but I didn't want to link to it from Github since I wasn't sure if they wanted it publicly available), understanding the scaling limits of etcd in general and specifically for k8s's usage pattern (both with and without

[2015-02-26 22:57] lavalamp opened #4877 "Controller framework"
There are pitfalls when using the watch + list pattern. Many of our controllers use this pattern, and we expect many future pieces of code to use this pattern. Therefore, we'd like to provide a framework/example which lets you fill out three functions (list, watch, and process) to get a shiny new bug-free (at least the list+watch part) controller.

This can be modeled after/mostly copied from the

[2015-02-26 23:00] brendandburns commented on #4743
Closing this as we are now locked to 2.0.3

[2015-02-26 23:00] #4743 closed

[2015-02-26 23:00] bgrant0607 commented on #4874
See #3955 and https://github.com/GoogleCloudPlatform/kubernetes/issues/1451#issuecomment-72144333.

Clients generating specific objects, such as kubectl run-container, should target a specific API version (or multiple specific versions).

Generic clients shouldn't be versioned. They should only get the schema via swagger.

[2015-02-26 23:04] brendandburns commented on #4731
I think the right thing to do here is to kill the pause container, if nothing else is running and the pause pod is older than N minutes (where N is something long, like 10 minutes)

In the worst case (e.g. a really slow image pull(, we'll just re-create a pause container, when the pull completes and we try to start the other container.

[2015-02-26 23:10] bgrant0607 opened #4879 "Resolve ambiguity between default namespace, no namespace, and empty namespace"
Forked from #4396 and probably other issues.

Nodes and other infrastructure resources (e.g., persistent volumes) should go into a namespace, such as kubernetes. Not putting them into a namespaces, creates special cases everywhere.

@derekwaynecarr @smarterclayton @lavalamp @thockin @erictune @markturansky

[2015-02-26 23:10] brendandburns commented on #4566
@mbforbes the problem with this, is then you end up with tests that may never complete, we need some sort of timeout to catch this.

[2015-02-26 23:12] thockin commented on #4875
http://i3.kym-cdn.com/entries/icons/original/000/012/367/evilest.gif

[2015-02-26 23:12] davidopp commented on #1627
Are we going to do this before 1.0? Unfortunately people are coming up with ad-hoc solutions for component config (see for example #4674), and it seems that it would easier if we have our long-term component config solution in place before 1.0 rather than having to transition people over to it post-1.0.

[2015-02-26 23:16] thockin commented on #1627
Uggh.  Now that we have Secrets - how much incremental work is required to
make this happen?  It feels like "not much"

On Thu, Feb 26, 2015 at 3:12 PM, David Oppenheimer <notifications@github.com

[2015-02-26 23:18] thockin commented on #4879
And what about Namespace objects?  Once we have one object outside of
namespaces is it really worse to have O(small) more?  Especially compared
to the "specialness" of a namespace that holds things that are available
from other namespaces...

On Thu, Feb 26, 2015 at 3:11 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-26 23:19] dchen1107 commented on #4432
@saad-ali You also need to make sure kubectl describe can retrieve related events to such object; otherwise I think this is a regression for introspection.

Also agreed with @davidopp. Saad, I just forwarded you an email about source code on benchmarking etcd. We can start from there.

[2015-02-26 23:27] bgrant0607 commented on #4879
The concrete problem we have now is what to do with Node events vs. events in the default namespace.

However, I think it's useful to put infrastructure resources into namespaces for management reasons, to facilitate dedicated machines, custom schedulers, custom controllers, etc.

I also think that only things that REQUIRE cluster root should not be namespaced. Nodes do not require cluster root, a

[2015-02-26 23:28] bgrant0607 commented on #4879
It's also inevitable that we're going to have more nuanced permissions. Everyone can read but only certain users can write will be common, for instance, and would be sufficient for nodes.

[2015-02-26 23:31] derekwaynecarr commented on #4879
A ```Namespace``` is not in a namespace, and per the earlier comment, it's not a concern because it does not produce events, and to be fair, ```Namespace.Name``` is the the effective namespace for that object.  Putting a ```Namespace``` in a name introduces a turtles all the way down which is a use case I do not support.

For a future use case, I would not want to put a ```User``` object in a name

[2015-02-26 23:31] bgrant0607 commented on #1627
I'd be in favor of a secret-like solution.

Also, etcd ACL proposal: https://github.com/coreos/etcd/pull/2242

cc @abhgupta @erictune

[2015-02-26 23:32] lavalamp commented on #4854
Actually the replication controller's use of the list/watch pattern is incorrect, although not catastrophically so. I will fix.

[2015-02-26 23:54] dchen1107 commented on #4879
What's this special namespace for node and other infrastructure buying us? Since it is special, we have to deal with it differently. In this case, there is no difference between dealing events with namespace and without namespace, right? Also are we going to keep track of all those special names: special namespace, special infrastructure container name, etc.

[2015-02-26 23:55] derekwaynecarr commented on #4796
In the future, I am supportive of passing * as a way of asking to run the across all namespace calls, but it should only be allowed on kubectl get.

----- Original Message -----
From: "Saad Ali" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Sent: Thursday, February 26, 2015 1:45:26 PM
Subject: Re: [kubernetes] "kubectl get events" returns empty unl

[2015-02-27 00:22] smarterclayton commented on #4879
Agree on that - either cluster resources are exposed into a namespace (in which case there is no canonical url), or they are exposed as a singleton.  Why invent a special namespace for singletons?

We can always expose endpoints in namespaces for returning scoped cluster resources (which elide or limit portions of the resource visible to you).  I.e a node displayed inside a namespace scope has res

[2015-02-27 00:25] smarterclayton commented on #4851
I guess I had not viewed it as a problem so far.  I don't object to it being "fixed".

[2015-02-27 00:57] davidopp commented on #4090
Sorry for falling behind on this issue. Thanks for your nice write-up of the issue earlier in the thread, Yu-Ju. Your proposal earlier sounds reasonable, as does your most recent entry here. With respect to how to prevent the scheduler from scheduling pods, annotations sounds like it might be the best solution until #4561 is completed. It's less hassle than adding a new field to PodSpec and then r

[2015-02-27 01:37] dchen1107 commented on #4090
I don't like both 3 and 4 at all. Annotation should be used only as pass-through metadata , and shouldn't used by scheduler at all. Label is even more arbitrary, bigger no.

[2015-02-27 01:44] davidopp commented on #4090
@dchen1107 Can you explain what you mean "Annotation should be used only as pass-through metadata"? Do you mean, an annotation should only ever be consumed by the same component that produced it? I guess that is a reasonable guideline, but perhaps we could argue around it just in this case by saying long-term this information (pod source) will just be debugging information, so consumption by sched

[2015-02-27 01:51] bgrant0607 commented on #4851
Of course, the person who wrote all the code doesn't need help finding anything. :-)

[2015-02-27 01:54] satnam6502 commented on #4851
Where can we put source (Dockerfiles etc.) for the images we create (e.g. for logging)? It would be good to have one place where all the sources for our images are located. For logging they are under `contrib` and `cluster`.

[2015-02-27 01:57] satnam6502 commented on #4851
As someone who did not wrote all that code, I find it very hard to find anything. I too often end up running `grep -Ri xxx`m or `find . -name xxxx` from the root directory.

[2015-02-27 01:59] dchen1107 commented on #4561
That is the plan to have a bulk status update, but not strictly required at this moment.

[2015-02-27 02:01] dchen1107 commented on #4090
I am based on the comment of Annotation in our api:
[code]

But you are right if it is just a temporary solution. Once we have #4561 done, we could retire this.

[2015-02-27 02:11] bgrant0607 commented on #4851
#2992 would also facilitate grepping.

[2015-02-27 02:15] lavalamp commented on #4854
Don't like fixing this all the time, so I'm going to do this and #4877 at the same time. About half done.

[2015-02-27 02:27] smarterclayton commented on #4851
Hrm - I do think there are api consumption characteristics that don't cross over cleanly. Agree this whole package could do with some reorg.

It's the server side as opposed to client.  I think client auth is much more consumer focused, whereas this is almost all server, so very little common code.

[2015-02-27 02:29] zmerlynn commented on #4432
Just a minor addendum: please make sure you also configure fluentd-gcp.
I've actually been meaning to open an issue on the fact that the event
stream isn't actually in our cluster logging stream, and this issue happily
just solves it. We'll finally get events in the e2e GCP logs...

On Thu, Feb 26, 2015 at 2:42 PM, Saad Ali <notifications@github.com> wrote:

[2015-02-27 02:36] bgrant0607 commented on #4851
@lavalamp While we have many components that are also clients, and we want users to be able to write similar components, I don't want to nest client code with server code in common. I want users who want to use the client to be able to easily find the relevant code without wading through our internals. Imagine we had build visibility.

Also, I've said this before, but I'd like to ensure that the g

[2015-02-27 02:39] #4846 closed

[2015-02-27 02:41] zmerlynn commented on #4783
Note that, like the existing `services.sh` test, this is a case of a system level that probably can't be parallelized very easily. (Though rolling over etcd while running other tests is a perfectly fine chaos-monkey style test, but it's not very controlled.)

cc @ixdy

[2015-02-27 02:47] satnam6502 commented on #4432
@saad-ali happy to help with the logging aspect of this.
Note that cluster logged can be configured to target Elasticsearch or Cloud Logging or neither.
We don't record the cluster logging choice in any systematic manner -- it's typically just an env var set in `cluster/some-provicer/config-default.sh` We should be able to query characteristics of a cluster, like "what kind of cluster logging have

[2015-02-27 03:15] smarterclayton opened #4881 "Slow unit tests recently added"
The following tests have crept back up in execution time, and are probably (not certainly) using sleeps or other unreliable mechanisms to control timing.  As per the usual policy, they should be fixed to not sleep.

[code]

Slow tests are tools of the enemy.

[2015-02-27 03:19] smarterclayton opened #4882 "spdystream test is flaky (on Mac?)"
I see unreliable (timing related?) execution of `pkg/util/httpstream/spdy` tests.  In some cases they hang and timeout.  It may be Mac related, since I can reproduce it consistently on my Mac on go 1.4.

[code]

[2015-02-27 03:19] smarterclayton commented on #4882
@ncdc

[2015-02-27 03:22] smarterclayton commented on #2726
Next step after #4779 is to implement a controller that sets PodStatus and disables the pod cache decorator.  Need to test how many writes to etcd this adds in our core create path.

[2015-02-27 03:25] smarterclayton opened #4884 "pkg/proxy unit tests fail when you don't have an internet connection"
It failed the "does it work while I'm on a plane" test.  :)  Assigning this to you since I think you were the last one in here.

[code]

[2015-02-27 03:32] bgrant0607 commented on #4090
We don't need a new field to make the scheduler ignore the pods, and we definitely shouldn't use an annotation. Just pre-populate the Host field in the PodSpec.

Name: Let's pick one namespace for the whole cluster, and could append the hostname to a prefix provided in the file.

[2015-02-27 03:32] ddysher commented on #4302
I'll add one more problem I've encountered.  Runing from head:
[code]

[2015-02-27 03:33] smarterclayton commented on #4851
After taking a look at the code structure again, I withdraw my hasty assertion.  Definitely could benefit from a good clean up.  Registry as a term needs to be yanked and replaced by storage or rest (or reststorage) consistently, and Dans master node structures would be good.  We should make a decision on structure by type (things to do with pods, nodes, scheduling) or by function (master, node, c

[2015-02-27 03:34] bgrant0607 commented on #4090
I also don't think we should worry about collisions between http and file. File can be checked first. http would then just lose. Besides, once we have per-node controller, we should consider getting rid of file input.

[2015-02-27 03:34] bgrant0607 commented on #4090
Also don't worry about BoundPods. We're in the process of nuking them.

[2015-02-27 03:35] ddysher commented on #4829
That's odd.  Not sure what's going on here. I failed to create a vagrant cluster myself, posted issue here #4302.  So I'll need more information from your side.

Can you post all events and logs from kube-controller-manager and kube-apiserver?  It would be useful if you can also post the sequence of commands (actions) you've used.  Thanks!

[2015-02-27 03:43] bgrant0607 commented on #4090
Scheduler watches for pods with no host set:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L146

[2015-02-27 03:45] bgrant0607 commented on #4851
Good point: #1744.

[2015-02-27 03:52] bgrant0607 commented on #2726
Or skip the controller and do #4561.

[2015-02-27 04:12] smarterclayton commented on #2726
Better

[2015-02-27 04:47] bgrant0607 commented on #3760
What happens in the case of failures in the middle of creating a bunch of rules?

[2015-02-27 04:52] brendandburns commented on #2220
Closing as obsolete.

[2015-02-27 05:00] bgrant0607 commented on #1702
Parameterization and push-to-deploy are not covered by this issue. I agree they could be useful, though.

I'm of the strong opinion that macro expansion is evil. It comprises separation of code and data, obstructs other transformations of the object, and has numerous other problems.

[2015-02-27 05:01] thockin commented on #4851
We should define exactly what we are optimizing for.  Is it maximum
separation between logically distinct modules?  Is it to minimize the
number of directories at each level?  Is it to minimize depth of paths?

Proposed: optimize for obviousness, grouping by publicness and grouping by
genericness, in that order.  For example, I think there's value in putting
distance between the internal API and t

[2015-02-27 05:08] thockin commented on #3760
Fair question - we should probably think really hard about what it means to
encounter an error in the middle of this

On Thu, Feb 26, 2015 at 8:47 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-27 05:16] thockin commented on #4881
@zmerlynn

[2015-02-27 06:04] derekwaynecarr commented on #4302
New to me.  Will investigate more tomorrow.

Sent from my iPhone

[2015-02-27 06:05] derekwaynecarr commented on #4302
Also new to me :-) - will see if I can reproduce either.

Sent from my iPhone

[2015-02-27 06:18] derekwaynecarr commented on #4866
+1.  The current pattern causes problems with quota enabled as each pod create competes with atomic updates of quota usage tracking.  Outside of this being an easy way to overload the apiserver with traffic, I think the current pattern prohibits back off patterns when errors occur.  @lavalamp - I know you are looking at common controller, but I hope you agree spawning N go routines is not right pa

[2015-02-27 06:28] thockin commented on #4849
I am in favor of this, given that we know we need better docs already.
HostPorts almost always indicate some misunderstanding.

On Thu, Feb 26, 2015 at 10:02 AM, Derek Carr <notifications@github.com>
wrote:

[2015-02-27 06:41] bgrant0607 commented on #2971
Seems worth trying to fix go-restful. Looks like maybe a case that fell through the cracks here:
https://github.com/emicklei/go-restful/blob/master/swagger/model_builder.go#L74

[2015-02-27 06:41] thockin commented on #3622
For consistency in beta3, I still endorse this.  Brian is contemplating the
longer term of maps vs lists, and this may yet reverse.  I don't see that
happening in v1.

I would make this change only in b3 and internal.  If keeping it as a map
is important internally, we CAN do that, but it requires a conversion func,
which I know Brian is trying to avoid.

On Thu, Feb 26, 2015 at 4:57 AM, Piotr Szc

[2015-02-27 06:43] thockin commented on #4838
We do not have an answer here, yet.  We're expecting a proposal for network
plugins $soon, which will give us some ideas on how to implement arbitrary
network insanity, on the low end of which is various forns of isolation.

On Thu, Feb 26, 2015 at 4:11 AM, josselin-c <notifications@github.com>
wrote:

[2015-02-27 06:43] bgrant0607 commented on #4825
I'm concerned about hashing on the pod name, since the pod name would change in the case of migration.

[2015-02-27 06:44] thockin commented on #4837
I'm not at all surprised if the watch implementation is less than perfect that was a quick hack.  Please help.  @lavalamp and @erictune were discussing a single lib for watching that was properly debugged and robust.

[2015-02-27 06:46] thockin commented on #4825
I assumed that the name would stick but the UID would change.  I don't want
to go down a hypothetical rabbithole on migration right now, so I'll roll
with whatever - I think the goals are pretty clear.

On Thu, Feb 26, 2015 at 10:44 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-27 06:50] bgrant0607 commented on #3622
I recommend waiting on this until at least Monday.

[2015-02-27 06:52] bgrant0607 commented on #4825
In order to implement live migration, a replacement pod must be created while the original still exists. Name will change.

[2015-02-27 07:07] bgrant0607 commented on #4823
FWIW, sys V shm has caused a bunch of problems with resource accounting for us in the past, though I'm not totally opposed to it if people are willing to live with that. We may need to add a policy control for whether it's allowed in the cluster if those problems still exist.

I agree that we should make tmpfs generally available.

[2015-02-27 07:12] pmorie commented on #4710
Thought about this some more today and I'm going to prototype the following:

[code]

In the first iteration the user will need to source the generated file manually in the command.

[2015-02-27 07:13] ghodss opened #4889 "API should differentiate between lists to merge and lists to replace in reconciliation"
As part of #1702, we would like to use declarative configuration to maintain the state of a Kubernetes cluster. We do this by issuing the local objects to the server as JSON HTTP PATCH requests. As per the [JSON merge patch spec](https://tools.ietf.org/html/rfc7386), all maps are merged together, keys that are omitted from the patch are left untouched in the document, and if you want to delete a k

[2015-02-27 07:15] pmorie commented on #4710
@erictune @smarterclayton @csrwng

[2015-02-27 07:25] bgrant0607 commented on #4889
Another example: Defaulted / finalized / auto-set fields in structs in lists would get blown away. It's not just an issue with the spec. We need some generic mechanism to identify which elements in the config correspond to which elements in the live object.

@thockin, in case he's interested, since map vs. lists has come up in other issues

[2015-02-27 07:34] bgrant0607 commented on #2004
Reclosing in favor of #4889.

[2015-02-27 07:34] #2004 closed

[2015-02-27 07:51] bgrant0607 commented on #4889
Exhaustive list of lists from v1beta3:
* ExecAction.Command and Container.Command: Should not be merged, so should remain as is.
* Capabilities.Add and Capabilities.Drop: Likely we will want to merge this.
* ServiceSpec.PublicIPs: Definitely defaulting if empty should be done, but it's possible we may want to merge this.
* Container.Ports: Needs to be merged. Existing key is name, but we're planni

[2015-02-27 07:56] derekwaynecarr commented on #3585
I want to suggest a slight change in terminology around this issue so we can handle the discussion with the right terminology for a variety of use cases.

I think what is described in this issue as a "finalizer" is actually better described and understood as an "initializer".  It is the sequence of controllers that see a resource and modify said resource before it may be "ready" or "initialized" i

[2015-02-27 08:21] davidopp commented on #3585
I agree, "initializers" makes more sense.

[2015-02-27 08:23] bgrant0607 commented on #3585
I agree also.

[2015-02-27 08:25] davidopp commented on #4432
Also we'll need to consider how this will impact using events as an inter-component communication mechanism (see https://github.com/GoogleCloudPlatform/kubernetes/pull/3247#issuecomment-69877511).

[2015-02-27 08:31] bgrant0607 commented on #4691
Sorry, yes, that's what I meant.

[2015-02-27 08:34] #2826 closed

[2015-02-27 08:37] bgrant0607 commented on #4822
This is config generation, similar to kubectl run-container and kubectl expose. The same pattern would work for this.

[2015-02-27 08:41] rreinurm commented on #4302
Your credendials and certificates are not working with new environment. Just delete your .kubernetes_vagrant_* files and recreate the cluster. It would be nice to automate this task, if you tear down the cluster.

[2015-02-27 08:47] jainvipin commented on #3350
+1 on scheduler to be network/storage resource aware, that sometimes are cluster-wide and not host specific. Specifically for IPAM, we discussed this when coming up with minimal/extended APIs under this proposal. It may not be the absolute desired thing as long as the API can return an error and thus pod is prevented from getting scheduled.

Generically, the ability to evaluate a resource that is

[2015-02-27 08:49] jszczepkowski commented on #3500
I guess this issue is not closed yet (it was incorrectly closed by keyword in PR message).

[2015-02-27 09:06] jszczepkowski commented on #3500
Together with @piosz, we propose to dump the following information:

1. Kubernetes level: description of all kubernetes resources: nodes, replication controllers, services, pods:
    kubectl get nodes,podes,rc,services,events -o json,
2. Docker level: docker processes and images on each master/minion node:
    docker ps -a,
    docker images.
3. Etcd level: version of etcd and boundpods stored in

[2015-02-27 09:12] piosz commented on #3622
Thanks for the info.

@bgrant0607 ping me when you're ready.

[2015-02-27 09:12] rsokolowski commented on #4837
Given that I'm still looking at skydns setup I will also look into the issue of watch being restarted every 5 minutes.

[2015-02-27 09:25] pires commented on #4841
Well, with reverse-proxy you can access it, just not directly, so you can debug queries, etc. Other than that, you'll need to dissect the container.

[2015-02-27 09:59] heytrav opened #4891 "Pods hang in pending state indefinitely"
When trying to start pods in my CoreOS cluster, they stay in a *Pending* state indefinitely and I cannot see any sign that the docker containers are being downloaded or anything else that would indicate that it is doing something to activate the controller. I am not sure if the problem is with my configuration but I thought I'd ask to see if someone else had encountered this problem.

Here is one

[2015-02-27 10:39] Fandekasp opened #4892 "kubernetes apiserver service broken in v0.11.0"
Here is my kubeconfig file:

[code]

And the error that appears in v0.11.0  (while it worked fine with v0.10.0):

[code]

Do I need to edit my nginx config by any chance? Here is the current one:

[code]

[2015-02-27 12:01] pires commented on #4841
PR at https://github.com/GoogleCloudPlatform/heapster/pull/142

@vishh please pay special attention to the observation I make regarding the ```influx-grafana-controller.yaml```. I am providing a PR for that as well, but it will depend on the merge of the aforementioned PR.

[2015-02-27 12:13] gmarek opened #4894 "Validation tests are a mess"
This is not a critical issue, but validation tests are a mess. Each one is using slightly different mechanism to produce examples and check for errors, even though they are doing exactly the same thing. It should be rewritten using some uniform mechanism.

[2015-02-27 12:44] gmarek commented on #4689
I believe PR #4770 solved this problem.

[2015-02-27 12:44] #4689 closed

[2015-02-27 12:51] gmarek commented on #4628
There's a small issue with label values: they were not checked until now. E.g. in guestbook example there's a comma used in label value, which is forbidden both in current implementation and Brendans suggestion, but it was OK, as it was never checked. I don't know how many things will brake when we'll turn the value validation on.

In addition current implementation allows backslashes and Brandans

[2015-02-27 12:58] ldpc opened #4896 "Can pull kubernetes/pause image from private docker-registry?"
For security reasons, in our lab servers cannot access the Internet, therefore in the experiment we use private  repository rather than docker-hub.When i play  kubernetes, found that it pull kubernetes/pause image  from the docker-hub.Cant we push kubernetes/pause iamge to our private  repository,then let
kubernetes pull the images from private  docker-regitry?

[2015-02-27 13:03] sdminonne commented on #4628
@gmarek. By design, @smarterclayton suggested to 'preserve' backslash for future uses. I translated it in 'admit it'.

[2015-02-27 13:26] markturansky commented on #4877
+1 for this.

@ironcladlou and I were discussing something similar, building on #4453.

I have 2 recon loops in a manager (differently named than controller to differentiate it from a resource), so I made a small framework to avoid duplication of the loop.  Additionally, I used a ListFunc/WatchFunc approach that needs to be refactored to use #4453.

I would refactor to whatever framework was put i

[2015-02-27 14:01] ncdc commented on #4882
Looking into it now

[2015-02-27 14:17] ironcladlou commented on #4877
You may be interested to see how we approached this in origin recently:

https://github.com/openshift/origin/pull/1091

That PR includes the framework and a single reference implementation, which are further refined during with this followup containing a mass refactor of other controllers:

https://github.com/openshift/origin/pull/1170

[2015-02-27 14:34] ncdc commented on #4882
I think this is because of https://github.com/docker/spdystream/issues/45

On my Mac, it's blocking here:

[code]

This is coming from the deferred call to close the spdy connection. It's trying to write the reset frame, and it gets blocked here (https://github.com/docker/spdystream/blob/master/connection.go#L95) trying to send a struct to the idle monitor's reset channel, but the channel's buffer

[2015-02-27 15:03] gmarek commented on #4628
I'm sorry, but I don't understand. Is Brendans suggestion by design omit backslash, or originally it was there by design? (I guess you meant the former, but I don't know here the original discussion was)

[2015-02-27 15:05] miabbott opened #4897 "the "publicIPs" field should be validated for actual IP address values"
**Setup**
* RHEL Atomic
* kubernetes-0.9.0-0.3.git96af0c3.el7.x86_64

**Description**
When creating a simple service, I tried using a hostname for the `publicIPs` field as show below:

[code]

When I fed that service to `kubectl`, it happily tried to create it.

[code]

However, when the minion tried to start up the service, it was unable to create the necessary `iptables` rules to start the servi

[2015-02-27 15:46] sdminonne commented on #4628
@gmarek as far as I remember during the discussion someone (guessing @smarterclayton) raised the point about unicode and char to be esacped. But I cannot find anymore asked me to reserve backslash for future uses. That's why I modified the regexp and I specifically added an entry in unit test for this.

The starting discussion was here: https://github.com/GoogleCloudPlatform/kubernetes/issues/341

[2015-02-27 15:47] ironcladlou commented on #4710
Command wrapping seems to come with its own concerns. The plugin would be making assumptions about at least:

1. The specific shell in use by the container entrypoint (e.g. bash)
  1. The use of (or desire to use) a shell at all by the container
2. The availability of a shell on PATH in the container image, or
3. The availability of a shell at an absolute path within the container image

[2015-02-27 15:49] pmorie commented on #4710
@ironcladlou That would be the finalizer, not the plugin, but yeah, I agree that those are concerns to think through

[2015-02-27 16:11] satnam6502 commented on #4897
Some related discussion and material:
https://github.com/GoogleCloudPlatform/kubernetes/issues/2585
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md#external-services
https://github.com/GoogleCloudPlatform/kubernetes/issues/2738
I don't know the answer to your question but this may be useful context. It seems strange to have `kube-minion1` as the value for a field tha

[2015-02-27 16:12] pmorie commented on #4877
@lavalamp Did you imagine something that processed deletes or just add/update events?  I've been doing some thinking about controllers that need to process deletes and how to do retries and full recons in them -- the kube-proxy and OpenShift router are controllers like this, as examples.  I was going to open an issue for that, but I will hold off while we scope this out a little more.

[2015-02-27 16:18] smarterclayton commented on #4628
For label queries, reserving backslash for escaping values we might use in the future.  For values themselves I don't believe we need any escaping.

[2015-02-27 16:20] satnam6502 commented on #4877
/sub

[2015-02-27 16:21] ncdc commented on #4882
As best I can tell, the client closes its connection to the server, the spdy server's framer's attempt to read from the underlying net.Conn returns EOF (as expected), yet somehow, the attempt to write a reset frame to the same net.Conn intermittently succeeds without error. The monitor goroutine that is reading from the resetChan is shut down at this point, resetChan has 2 items in it that haven't

[2015-02-27 16:24] miabbott commented on #4897
Honestly, it was user error on my part.

I was going through some training material where hostnames or IP addresses could be used in the kubernetes config files.  For example:

`KUBE_MASTER="--master=http://kube-master:8080"`

or

`KUBELET_ADDRESSES="--machines=kube-minion1,kube-minion2"`

I assumed the same applied to the services JSON and I was wrong.  :disappointed:

However, I think this sort

[2015-02-27 16:29] brendandburns commented on #4897
Yep, definitely a bug in service validation.  Will work on a fix.  Thanks
for the report!

Brendan
On Feb 27, 2015 8:24 AM, "Micah Abbott" <notifications@github.com> wrote:

[2015-02-27 16:37] gmarek commented on #4628
PR for this #4898

[2015-02-27 16:42] gmarek commented on #4628
Oh, I missed those updates. I'll add a backslash on Monday.

[2015-02-27 16:57] jeffmendoza commented on #4871
cc @johngossman

[2015-02-27 17:26] lavalamp commented on #4837
Watches have a 5 minute timeout. It's not an error.

[2015-02-27 17:26] #4837 closed

[2015-02-27 17:30] lavalamp commented on #4837
P.S. The code I'm writing for #4877 should be super easy to use for SkyDNS.

[2015-02-27 17:48] bgrant0607 commented on #4623
This is needed in order to eliminate BoundPods.

[2015-02-27 17:48] derekwaynecarr commented on #4302
I am able to reproduce the 502 Bad Gateway error and am working on determining what changed in order to provide a resolution over the last couple days.  Please assign this issue to me.

[2015-02-27 17:48] bgrant0607 commented on #3453
Previous issue was #299.

We can store anything we want in Env on pause containers.

We still have the issue about how to find other containers.

[2015-02-27 17:49] lavalamp commented on #4877
@pmorie I was not planning for that case but I will think about it-- maybe it can be accomodated.

@ironcladlou thanks I will look at that.

[2015-02-27 17:50] thockin commented on #3453
any month now we will finally get Docker's own labelling system checked
in... any month now...

On Fri, Feb 27, 2015 at 9:49 AM, Brian Grant <notifications@github.com>
wrote:

[2015-02-27 17:56] thockin commented on #4628
wait wait.

I do not think that adding backslash to the allowed set is what was
suggested.  Backslash MAY be needed when parsing strings but as yet it has
not been demonstrated.  Let's please try to keep it as minimal as possible
and expand when we have demonstrated reasons.

Let's discuss comma - I don't want it in the set, but is it worth a
breakage risk?

On Fri, Feb 27, 2015 at 8:43 AM, gmarek

[2015-02-27 17:56] derekwaynecarr commented on #4302
The issue appears to me that the kube-apiserver is not getting provisioned by salt correctly.

Parsing Salt logs to determine why.

[2015-02-27 17:57] derekwaynecarr commented on #4302
[code]

[2015-02-27 17:57] markturansky commented on #4877
@pmorie @lavalamp I think deletes are important.  Resources (say, persistent volumes) can be deleted and removed from the system.

[2015-02-27 17:58] derekwaynecarr commented on #4302
[code]

Looks like the file is not getting laid down by salt for some reason ;-)

[2015-02-27 18:05] thockin commented on #4896
@dchen1107

At some point in the past we discussed a flag or something to tell kubelet what the 'pause' container was.  e.g. --docker_pod_image=kubernetes/pause or something

[2015-02-27 18:06] derekwaynecarr commented on #4302
The Jinja template was changed as part of identifying the cluster.

Fixing up now, and will send a PR to close this issue.

[code]

[2015-02-27 18:08] gmarek commented on #4628
Well, comma is only a special case because it's used in Guestbook example (frontend-controller.json). Because this example is the most visible one (at least for us in Warsaw), my feeling is that it was copied a lot of times as a framework, hence making it invalid may be problematic...

Generally adding any nontrivial validation can break something, but I guess we'll need to live with it.

[2015-02-27 18:10] dchen1107 commented on #3453
@thockin But it is still not in docker 1.5 release.

@bgrant0607 we can put whatever we want to Env, but that introduces a huge overhead. Currently kubelet can simply call docker list and filter out non-k8s containers, or non-pod containers, or ... Then call docker inspect on the individual ones to get detail status. If we put everything to Env, we have to inspect every ones to figure out if it is

[2015-02-27 18:10] dchen1107 commented on #3453
cc/ @yujuhong This is the one we talked about earlier.

[2015-02-27 18:12] thockin commented on #4894
agree

[2015-02-27 18:13] derekwaynecarr commented on #4877
You cannot guarantee delivery of a delete, and so we need to make sure we always support a full reconciliation of the state.

Sent from my iPhone

[2015-02-27 18:15] thockin commented on #4628
If we have to add comma, it's not the end of the world, but we could also
just fix the example and say "yeah, we broke it".  Adding any sort of
restriction is likely to break someone.

I'm open to arguments either way with comma.  I'd rather not do it, but
I'll accept it.

On Fri, Feb 27, 2015 at 10:09 AM, gmarek <notifications@github.com> wrote:

[2015-02-27 18:17] thockin commented on #4892
Looks nasty.  @lavalamp for triage or redirect

[2015-02-27 18:18] dchen1107 commented on #4896
Yes, it should be easy to add this support.

[2015-02-27 18:18] thockin commented on #4891
Can you run kubectl get events?

[2015-02-27 18:19] dchen1107 commented on #4896
cc/ @ArtfulCoder

[2015-02-27 18:20] pmorie commented on #4877
@markturansky @lavalamp @derekwaynecarr Here's the sketch I've been working on on and off this week.

https://gist.github.com/pmorie/8617951a7275e847b2f7

@bparees has pointed out a couple flaws that I've carried over EventQueue which are no longer applicable; for instance, you may now get a delete followed by an add for the same object.  I need to address these but thought it might save some time

[2015-02-27 18:21] lavalamp commented on #4877
@markturansky @derekwaynecarr

I think for deletes to be handled properly during a full resync, you have to have a model of "what objects do I currently know about", which is not stored in a FIFO. But I think we can make a FIFO that a) tracks operation (add, delete, update/resync) and b) when Pop() is called, it updates a map of "objects that we think exist". The latter could be used to turn a ful

[2015-02-27 18:22] pmorie commented on #4877
@lavalamp Agree re: deletes.  You have to be able to reconcile from reality during a resync.

[2015-02-27 18:24] smarterclayton commented on #4628
I don't like commas in values of labels.  It's a natural separator.

[2015-02-27 18:27] roberthbailey commented on #4892
I saw a similar error trying to build kubernetes on my local machine when boot2docker got too out of date and I think it was related to a change in certificate handling (or ssl) between the docker client and the docker daemon.

Do we still run the apiserver behind nginx on gce or do we terminate ssl connections directly?

[2015-02-27 18:30] heytrav commented on #4891
[code]

[2015-02-27 18:30] thockin commented on #4889
More and more I've come to believe that maps of string -> object are OK in
a lot of places and probably cleaner that lists of objects which hold their
own primary key.

I think we need to consider what happens when you pass around a copy or
pointer to one of these now-unnamed structs - is it OK that an object
doesn't know its own name?  I think the answer in most cases is yes, but I
have not done

[2015-02-27 18:31] bgrant0607 commented on #3453
We should at least use uid rather than name.

[2015-02-27 18:31] thockin commented on #4628
I'm inclined to fix the example and take the hit on this one, while we
can.  Once v1beta3 becomes v1, we're locked in.

On Fri, Feb 27, 2015 at 10:25 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-27 18:33] bgrant0607 commented on #3453
Also, since we're going to post pods back, we need to eliminate the source component.

Uids are unique across namespace, so this would allow us to eliminate namespace, also.

[2015-02-27 18:34] thockin commented on #3453
My point was that we should let sleeping dogs lie.  Unless we have a
driving need to add to this, I'd just as soon wait for docker's labels to
land, and then revisit this.  Do we have such a need?

On Fri, Feb 27, 2015 at 10:31 AM, Brian Grant <notifications@github.com>
wrote:

[2015-02-27 18:34] bgrant0607 commented on #3453
Yes, we do. We need to change this in order to sync pods back to apiserver.

[2015-02-27 18:35] thockin commented on #3453
This is about container names at the docker level, which is entirely an
implementation detail, isn't it?

On Fri, Feb 27, 2015 at 10:33 AM, Brian Grant <notifications@github.com>
wrote:

[2015-02-27 18:35] bgrant0607 commented on #3453
And, my understanding is that pods that pass the name validation check in apiserver can fail on Kubelet due to the way the name is embedded.

[2015-02-27 18:36] bgrant0607 commented on #3453
No, they are tightly coupled.

[2015-02-27 18:36] dchen1107 commented on #3453
@thockin, I used to think this way, but syncing pods back change this. Also for 1.0 release, it is odd for users' pod creation failed in a weird way at kubelet level, but passed at apiserver validation.

[2015-02-27 18:38] derekwaynecarr commented on #4891
I am seeing a similar but slightly different issue where pods and nodes are always reporting an "Unknown" status.  I can see when I create a pod that it is scheduled, and when I describe the pod, I can see the containers were pulled and started, but the actual status is not changing to running.

[2015-02-27 18:39] naemono commented on #4464
It turns out that the '--cloud_provider=vagrant' is what's needed to be provided to begin to get around this issue.

Mine is set in /etc/default/kube-apiserver

[code]
But that just leads you to this, which is pretty self explanatory
[code]

[2015-02-27 18:41] thockin commented on #4891
@dchen1107 @davidopp who have been looking at the state-setting logic

[2015-02-27 18:42] #4302 closed

[2015-02-27 18:42] abonas commented on #4464
@naemono not everyone is working with the vagrant setup.

[2015-02-27 18:42] derekwaynecarr commented on #4464
If an example requires external load balancer, it's no longer an example that you should expect to work across all providers.  I don't see an issue here in code, but we should update the documentation to state that a step is only supported if a feature is provided.

[2015-02-27 18:43] yujuhong commented on #4090
We had a offline discussion and there are a few related issues.
- #4561 for posting pod status from kubelet.
- #3453 for Kubelet cannot accept DNS subdomain compatible names/namespaces. This has to be fixed if we want to use hostname as part of the pod name. We should also revisit using "source" as part of the container name.
- The general issue of nuking BoundPods.

Although we can work around so

[2015-02-27 18:44] thockin commented on #3453
Maybe I just don't have the full context.  Why would it fail at the node
level?  The format of the container name was intended to allow pods with
the same name and namespace to not collide..

On Fri, Feb 27, 2015 at 10:36 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-02-27 18:45] derekwaynecarr commented on #4464
There are a number of things that become very provider specific, and at best, we should state in the documentation what provider a specific example was tested against.

[2015-02-27 18:49] bgrant0607 commented on #3453
Dots break Kubelet container name parsing. Dots are explicitly allowed:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L87
https://github.com/GoogleCloudPlatform/kubernetes/blob/e152c6710b8fd6cf96aa1be325187f93193b85e0/pkg/util/validation.go#L48

[2015-02-27 19:00] lavalamp commented on #4892
We still run behind nginx.

[2015-02-27 19:00] markturansky commented on #4877
@lavalamp @pmorie sounds good, and I wasn't thinking we'd get a delete event specifically.  My loops do full resync each time.  I am not using FIFO.

[2015-02-27 19:06] lavalamp commented on #4892
Seems like this is what you get when you try to talk HTTP to an HTTPS endpoint. I think this indicates a client problem.

[2015-02-27 19:08] lavalamp commented on #4892
@jlowdermilk Does this seem like something that a messed up ~/.kubernetes directory could cause?

[2015-02-27 19:09] bprashanth commented on #4691
I'm taking this, it needs to happen before https://github.com/GoogleCloudPlatform/kubernetes/issues/4429

The plan is to implement a simple, synchronous, retry loop in kubectl that gets the object, verifies preconditions and tries the update.

[2015-02-27 19:12] MrMMorris commented on #1957
big +1 for consul

[2015-02-27 19:14] bgrant0607 commented on #4889
In this case, I think we can have our cake and eat it, too, by defaulting the subobject names from their map keys.

[2015-02-27 19:14] davidopp commented on #3453
Can someone explain why this issue is being discussed now? That is -- why "We need to change this in order to sync pods back to apiserver." and what is the "this" ?

[2015-02-27 19:15] bgrant0607 commented on #2726
Can anyone think of a reason why we should initialize status in the defaulting pass? We'll need to initialize PodPhase to Pending, for example.

[2015-02-27 19:18] abonas commented on #4464
@derekwaynecarr, I'd expect to have at least one example that would work with the setup built from source. and I agree that each example should state where it should and shouldn't work.

[2015-02-27 19:27] jlowdermilk commented on #4892
I'm not sure how well the token auth works, given that gce still uses basic. Can you hit the endpoint with curl?

[2015-02-27 19:32] ddysher opened #4908 "test-cmd.sh failed on master HEAD"
[code]

This works:
[code]

Are we using /var/run for testing?

[2015-02-27 19:34] lavalamp commented on #4892
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/nginx/kubernetes-site#L47

We indeed have basic auth on by default. Worth trying, maybe, but I would expect a different error if that were the case.

[2015-02-27 19:35] yujuhong commented on #3453
Let's put the "sync pods back to apiserver" issue aside for a second. The behavior of Kubelet is wrong and inconsistent with our claim that names and namspaces should be DNS subdomain-compatible.

Multiple places in Kubelet use `.` as a delimiter, even though dot could be used in a valid name or namespaces.
For example,
* https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/co

[2015-02-27 19:44] yujuhong commented on #3453
@davidopp, we were discussing using hostname as part of the static pod name to avoid collision among nodes, but kubelet can't handle such names with `.`s in them.

[2015-02-27 19:44] bgrant0607 commented on #140
Proof-of-concept for prestart here: https://github.com/GoogleCloudPlatform/kubernetes/issues/3067#issuecomment-67704214

[2015-02-27 19:48] bgrant0607 commented on #1957
This will not be a priority for us in the foreseeable future (see our [roadmap](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/roadmap.md)). However, we'd be happy to work with someone from the community on this, in perhaps a couple months after we simplify how Kubernetes interacts with the storage layer.

[2015-02-27 19:50] bprashanth opened #4909 "Create subresource end points for replication controllers"
As discussed on https://github.com/GoogleCloudPlatform/kubernetes/issues/2726 it would be nice to have replicationControllers/foo/status as a watchable endpoint that discards updates to the spec. Giving  status and spec different resource versions is out of scope of this bug.

[2015-02-27 19:51] vmarmol commented on #4604
After the slew of PRs, this should be complete. The Kubelet now exports a /metrics endpoint with a slew of metrics tracking the timing of certain operations and the counds of pods, containers, and containers per pod.

[2015-02-27 19:51] #4604 closed

[2015-02-27 19:52] bprashanth commented on #4909
@lavalamp @bgrant0607, think I got the priority right

[2015-02-27 19:56] thockin commented on #3453
The docker container name is still parseable.  It is always
DNS_LABEL.DNS_SUBDOMAIN.source - If you split on ".", the first token is
the container name (which can not have dots), the last token is the source
(which should not have dots).  Everything in between is the namespace.

What problem are we having again?  Can someone lay out a concrete example
of a problem?

On Fri, Feb 27, 2015 at 10:50 A

[2015-02-27 19:57] bprashanth commented on #4127
Adding clarity and preventing the stack dump should 'fix' this issue (https://github.com/GoogleCloudPlatform/kubernetes/pull/4508). #4489 discusses different http return codes and even more clarity, since we can't really do anything about a request for the stats of a container that hasn't started yet.

[2015-02-27 19:57] #4127 closed

[2015-02-27 19:58] jlowdermilk commented on #4892
I think you still need client certs to create the transport, even if insecure-skip-tls-verify is true
[code]
Would expect to `client-key` and `client-cert` paths specified for the user. The files are generated on the server and stored under `/srv/kubernetes/`. https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/util.sh#L498 has a step to copy them down.

[2015-02-27 20:07] thockin commented on #3453
Yu-Ju explained it to me.  I think we first need to break up the "fullname"
idea into real fields on the the container name, where fields are delimited
by _ (which is allowed by docker but not by us).

On Fri, Feb 27, 2015 at 11:56 AM, Tim Hockin <thockin@google.com> wrote:

[2015-02-27 20:09] roberthbailey opened #4910 "Limit number of pods that are allowed to run per machine"
From the [networking notes](https://docs.google.com/document/d/1CIrbYl-tzu91sPNx43MoI6qhGSEm-mfqmQbl17M-1kI/edit) at the the 2015-02 kubernetes contributor conference.

[2015-02-27 20:12] bgrant0607 commented on #3453
We need to eliminate the pod source, or at least use the same pod source for all pods.

IMO, we should also switch to uid

[2015-02-27 20:18] bgrant0607 commented on #4910
The right way to do this isn't to track IPs. It's to create a new resource requirement by default for every pod.

[2015-02-27 20:24] bgrant0607 opened #4911 "Take advantage of Docker ulimit support once it's merged"
https://github.com/docker/docker/pull/9437

[2015-02-27 20:37] dchen1107 commented on #4891
@derekwaynecarr Which version you are running into this issue? I fixed an Unknown status issue (#4188) a while back by

1) Kubelet generates PodStatus when node is reachable
2) Adding error handling to system when docker API calls failed.

But there is still an issue when a node status is not-reachable, all bounded pods on that node will be reset to Unknown. Please run kubectl get nodes to see the

[2015-02-27 20:38] ixdy opened #4912 "data race in pkg/kubelet"
Hit this while [running an unrelated PR through Shippable](https://app.shippable.com/builds/54f0c99f0af4f30e001e846c):

[code]

[2015-02-27 20:39] derekwaynecarr commented on #4891
This was on HEAD this morning.

Sent from my iPhone

[2015-02-27 20:45] dchen1107 commented on #4891
@derekwaynecarr Can you run kubectl get nodes when Unknown issue occurs?

[2015-02-27 20:45] rjnagal commented on #4911
We talked about this in summit w/ @thockin and decided to just put a high limit of all containers to start with. I can go ahead and do that if you agree.

[2015-02-27 20:46] heytrav commented on #4891
@dchen1107 I've suspected that it is something like that, but am not sure if I configured something incorrectly or if there is indeed a bug. Any advice how I can diagnose this?

[2015-02-27 20:55] dchen1107 commented on #4891
@heytrav   Can I have the command how you run kubelet? Also can you run kubelet with --v=4 and post the log somewhere I can take a look?

[2015-02-27 21:00] bgrant0607 commented on #4911
Could you be more specific? :-)

[2015-02-27 21:03] bgrant0607 commented on #4628
Comma is out. I don't really want to think about escaping right now.

[2015-02-27 21:04] bgrant0607 commented on #4628
BTW, I think "reserving for future use" means that we have to DISALLOW such characters now, lest people start using them in ways that are incompatible with our future plans. We can add flexibility in the future, but it's impossible to take away.

[2015-02-27 21:06] derekwaynecarr commented on #4891
I am about to fly but I will report back if I see the issue later.

Sent from my iPhone

[2015-02-27 21:10] brendandburns commented on #4891
Most always this is caused by hostname / machine flag mismatch between the
master and kubelet.  You may need to set --hostname-override on the kubelet
binary.

Brendan
On Feb 27, 2015 1:07 PM, "Derek Carr" <notifications@github.com> wrote:

[2015-02-27 21:10] heytrav commented on #4891
@dchen1107  here's what I'm running (I just added --v=4, but the rest is the same)
[code]

The log output is [here](https://paste.nothing.net.nz/e824fd). I tried resizing the replication controller down to 0 and back to 1 again and didn't see any effect.

[2015-02-27 21:11] dchen1107 commented on #4912
cc/ @ncdc Andy can you take a look at this failure?

[2015-02-27 21:13] ncdc commented on #4912
@dchen1107 looking now

[2015-02-27 21:16] rjnagal commented on #4911
specifically: setting number of procs and fds to a high value, so no container fails by hitting inherited docker daemon limit. Longer term, I proposed exposing {low, high, default} to users rather than actual numbers. Not sure if everyone agreed. In the current setup, users are hitting the low limits from docker daemon and not the global resource exhaustion issues.

[2015-02-27 21:27] brendandburns commented on #4891
What is the IP address of your node?  You are setting --address=10.132.218.185
but setting --hostname_override=104.236.200.4

I would expect them to be equal.

Also, what are you specifying for the --machines=<...> param for
kube-controller-manager?

Or are you using the CoreOS tool that discovers machines from fleet?

--brendan

On Fri, Feb 27, 2015 at 1:11 PM, William Travis Holton <
notificatio

[2015-02-27 21:35] heytrav commented on #4891
@brendandburns I think that was it actually! I changed the `--hostname_override` to `10.132.218.185` and that seemed to fix it.

This solves my particular issue. Thanks a lot for the tip!

[2015-02-27 21:37] bgrant0607 commented on #4910
Or, even better, @abhgupta suggested just adding a scheduler config parameter:
https://github.com/GoogleCloudPlatform/kubernetes/issues/367#issuecomment-75620779

[2015-02-27 21:38] ddysher commented on #4879
wow, glad someone creates an issue for this, it causes me a lot of headache !!

My understanding is that our API object doesn't differentiate Namespaced object vs Non-namespaced object, everything is namespaced essentially (i.e. built from ObjectMeta).   We claims that "" means the object is not namespaced, but it just means the object is under Empty namespace, not Non-namspaced;  hench all the co

[2015-02-27 21:42] bgrant0607 commented on #4879
I know changing titles is annoying, but I just generalized it. We need to resolve the ambiguity between default namespace, no namespace, and empty namespace.

[2015-02-27 21:48] bgrant0607 commented on #4911
Short-term plan SGTM.

Longer-term approach has predictability problems in the case that low/default/high vary platform-to-platform or release-to-release. I'm happy to defer that discussion to later, though.

[2015-02-27 21:48] larsks commented on #3760
@thockin From irc today:

The `net.ipv4.conf.all.route_localnet` permits 127.0.0.1 to be the target of `DNAT` rules.  From [the docs](https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt):

[2015-02-27 21:49] thockin commented on #4910
I very much want the ability to schedule to opaque counted resources.  If
nodes publish that they have N "kubernetes.io/pod-ip" resources and we know
that each pod has an implicit need for 1 pod-ip, we can just make it the
common case.

We will have to reconcile that with the budding network plugins, one use of
which is for out-of-band IP address management, but we can cross that
bridge later.

On

[2015-02-27 21:56] jlowdermilk opened #4913 "Unknown current-context should fail command"
If user specifies (via .kubeconfig or commandline) a context that is unknown, the command should fail rather than use default values.

[2015-02-27 21:57] ncdc commented on #4912
Working with @dmcgowan on a fix

[2015-02-27 21:58] thockin commented on #3453
Switching to UID in container names is user-hostile.  It's very valuable to
be able to run 'docker ps' and make sense of it.  Ideally, once we have
docker labels, we can store a lot of stuff there and minimize the name
string, though it is a fair concern about doing lots of docker API queries
just to get a sync loop done.

On Fri, Feb 27, 2015 at 12:13 PM, Brian Grant <notifications@github.com>
wr

[2015-02-27 22:00] thockin commented on #4889
I'm not sure that is required, but yes - absolutely possible.

On Fri, Feb 27, 2015 at 11:14 AM, Brian Grant <notifications@github.com>
wrote:

[2015-02-27 22:11] bgrant0607 commented on #4817
Let's make this issue about indexing.

@simon3z Please discuss the relationship issue in #3676.

[2015-02-27 22:14] smarterclayton commented on #4879
Having seen the before and after impact on client code and server code, there was a net win on how we represent and communicate types.  I think it's also reflected in the api and the paths, which are much clearer now.  The problem was mostly in our code, which confused the three scenarios in overlapping ways.  Internally, we *should* have followed dans recommendation to use "*" to mean namespace a

[2015-02-27 22:14] smarterclayton commented on #4628
Right

[2015-02-27 22:16] lavalamp commented on #4817
It is on my list of things to do to add a brief sketch here of how I see this working.

[2015-02-27 22:18] thockin commented on #4628
Let's all make a pact to challenge anyone who adds a "string" type to the
API to document the validation rules for it.  Or even move away from string
as a literal type and encourage typedefs to capture semantics.

On Fri, Feb 27, 2015 at 2:14 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-02-27 22:29] sidharta-s commented on #4302
@rreinurm that was it, thanks!

[2015-02-27 22:30] dchen1107 commented on #4891
I am closing the issue based on the last updates from @heytrav

@derekwaynecarr please file an issue when you saw the error next time. Thanks!

[2015-02-27 22:30] #4891 closed

[2015-02-27 22:30] derekwaynecarr commented on #4879
I am working on a PR to evolve and update the namespaces design to both reflect current state and where we want to go.

I will make a point of putting some base assertions on when objects should or should not have a namespace.  In practice, I thought Brian's summary we discussed in real life was reasonable.  Objects that can support delegated management to something other than cluster root adminis

[2015-02-27 22:57] lavalamp commented on #1957
@saad-ali is going to do some etcd benchmarking, which will give us information to determine the urgency of this issue.

[2015-02-27 22:58] davidopp commented on #3139
Saad is going to do a first cut of this as part of #4432.

[2015-02-27 23:01] saad-ali commented on #4432
Had a meeting with @davidopp @dchen1107 @lavalamp

Conclusion was that we need data first and foremost. I will start working on benchmarking our etcd usage.

Once we have numbers, we can see if events actually will be a problem at the scale we intend to support for 1.0, if so we can reduce the TTL of events to something small and set up a mechanism to pull old events in to elastic search.

[2015-02-27 23:14] thockin commented on #1957
In terms of overall utility - the value of doing a second storage
implementation is that it will force us to keep our API honest.  I would
love to put a bounty on someone doing a second impl, even if we don't have
time for it on the core team.

On Fri, Feb 27, 2015 at 2:57 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-02-27 23:20] dchen1107 commented on #4432
@saad-ali you can patch #4442 to your branch, so that cadvisor and heapster can collects etcd's resource stats for you.

[2015-02-27 23:23] bgrant0607 commented on #1957
More specifically what I think we need to finish first:
* Post status back #2726
* Eliminate BoundPods #2483
* Clean up registry etc. #1451 and make all objects use the generic etcd registry implementation

[2015-02-27 23:24] vishvananda opened #4914 "Clustered redis example fails to re-elect and failover"
Following the clustered redis example, everything works fine until I delete the original redis master. I see the pods getting recreated, but a new master doesn't seem to be getting elected. I can retrieve data from redis but i can't write anything. I see the following over and over in the log of the redis servers:

[19] 27 Feb 23:20:10.585 # Error condition on socket for SYNC: No route to host
[19

[2015-02-27 23:26] thockin commented on #4787
It's actually more nefarious than not being able to access the network.
Namespaces are reference counted.  The POD container ensures that as
containers die and restart, they have a single rally point.  Consider this
timeline:

T0: POD container starts with namespace X
T1: app container C1 starts and joins the POD container's namespace X
T2: app container C2 starts and joins the POD container's nam

[2015-02-27 23:28] vishvananda commented on #4914
I see the following in the sentinel logs:

[16] 27 Feb 23:23:19.591 # +failover-state-select-slave master mymaster 10.244.37.12 6379
[16] 27 Feb 23:23:19.647 # -failover-abort-no-good-slave master mymaster 10.244.37.12 6379

[2015-02-27 23:32] thockin commented on #4914
@brendandburns has the best experience here, I think

[2015-02-27 23:40] vishvananda commented on #4914
I'm also a bit unclear as to how the proxy is supposed to work with this config. The proxy will pick a random redis server to send a request to and if it is a slave it doesn't seem to accept writes.

[2015-02-27 23:45] smarterclayton commented on #2483
How are atomic scheduling constraints going to be modeled?

[2015-02-27 23:58] bgrant0607 commented on #4817
Possible (mostly complementary) approaches to make the queries more efficient:
* Cache selector results -- replication controllers and endpoint controllers would ensure that selectors expressed through the API were always in cache
* Incrementally update cached selector results upon object creation, update, and deletion (as opposed to cache invalidation)
* Parallelize selector evaluation across obj

[2015-02-28 00:01] a-robinson commented on #4717
Resolved in the corresponding [heapster issue](https://github.com/GoogleCloudPlatform/heapster/issues/127).

[2015-02-28 00:01] #4717 closed

[2015-02-28 00:07] lavalamp commented on #2483
kubelet will do the constraint check(s) and reject offending pods.

[2015-02-28 00:14] yujuhong commented on #4623
kubelet now sorts the pods before filtering, and also records an event on host port conflict. To actually *reject* such pods, we will need to kubelet to post pod status back to apiserver (#4561)

[2015-02-28 00:18] smarterclayton commented on #2483
So the status would be updated to "rejected" or similar?  Is rejection temporary or permanent (ie should rcs give up immediately and delete the pod)?

[2015-02-28 00:33] #2518 closed

[2015-02-28 00:33] thockin opened #4917 "Need validation for Lifecycle structs"

[2015-02-28 00:34] dchen1107 commented on #4729
This is not part of v1 roadmap.

[2015-02-28 00:34] dchen1107 opened #4919 "Kubelet should report last terminated container status"
Currently kubelet reports current status only. If pod's restart policy is not never, the last terminated container status will be override by the latest status, and lost. We should report last terminated container status.

I am going to update our v1beta3 api first, but will hold the implementation until we have #4561

[2015-02-28 00:36] bgrant0607 commented on #3453
I'm not worried about the query performance. If we have an easy way to distinguish kubernetes vs. non-kubernetes containers by name, then we can cache the other metadata and we'd only have to do the queries upon restart.

[2015-02-28 00:37] erictune commented on #2483
rcs should retry, but maybe back off on the rate after a while.

If the is on a single node with an apiserver-based,.

If the port conflict is with an existing apiserver-based pod, then the
scheduler will probably notice the node conflict next time and find a
different node that works (or leave it pending if there is no node that
works).

If the port conflict is with an existing file-based pod, wh

[2015-02-28 00:46] yujuhong commented on #3453
To sum up, there are a few issues:
 1. Change the internal full pod name to use underscore, instead of dot, as the delimiter. This will then be incorporated into the container name. This would not be backward compatible with existing containers.
 2. Get rid of `.source` in the full pod name as we want the apiserver to be aware of all pods. If we go this route, how could we know the source of the p

[2015-02-28 00:54] erictune commented on #4623
The scheduler still checks.  This handles parallel scheduler races and file
based pods.
On Feb 27, 2015 4:15 PM, "Yu-Ju Hong" <notifications@github.com> wrote:

[2015-02-28 00:56] yujuhong opened #4920 "Kubelet does not handle valid DNS subdomain names/namespaces correctly"
This is forked from #3453.

Our documentation says that the name and the namespaces of a resource should be a valid DNS subdomain format: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/identifiers.md.

Multiple places in Kubelet use `.` as a delimiter, even though dot could be used in a valid name or namespaces. For example,
https://github.com/GoogleCloudPlatform/kuberne

[2015-02-28 00:57] brendandburns commented on #4623
There should be no parallel scheduler races, we use resource versions and
optimistic concurrency to ensure correctness.

Brendan
On Feb 27, 2015 4:55 PM, "Eric Tune" <notifications@github.com> wrote:

[2015-02-28 01:00] bgrant0607 commented on #3453
What "annotations"? If we eliminate container source there wouldn't be any.

[2015-02-28 01:02] yujuhong opened #4922 "Evaluate whether we should eliminate the source component in kubelet"
This is forked from #3453.

We want to sync all the pods on kubelet (whether from file source or http source) back the the apiserver (#4090). It seems reasonable to eliminate the `source` component that is used internally in the kubelet as part of the pod full name.

To maintain the readability (i.e. for users to recognize the source of the pod), we can incorporate the source as part of the pod na

[2015-02-28 01:03] yujuhong commented on #3453
This issue originally discusses whether we would be adding more annotations, and if we do, how do we pass the annotations to the docker container.

[2015-02-28 01:03] bgrant0607 commented on #3453
https://github.com/docker/docker/pull/9882

[2015-02-28 01:21] ixdy commented on #4908
Curiously travis shows a similar error message regarding /var/run/kubernetes, but it isn't failing:

[code]

I suspect the /var/run/kubernetes issue is not what's causing the failure here.

[2015-02-28 01:28] ixdy commented on #4908
However, I am able to reproduce the failure on my machine.

I note that in your case, the fatal error says
`F0227 14:29:16.110382   23988 get.go:151] Get https://104.154.64.102/api/v1beta1/pods?namespace=default: dial tcp 104.154.64.102:443: i/o timeout`

For me, it says
`F0227 17:26:30.505929   18618 get.go:151] Get https://23.236.58.135/api/v1beta1/pods?namespace=default: dial tcp 23.236.58.135:

[2015-02-28 01:35] bgrant0607 commented on #2483
Similar to discussion re. out of disk, OOM, host port conflict, etc., the pod should just be failed, with a specific reason.

Whenever a pod's Spec.Host field is set (at creation time or during binding), the fit predicates should be tested. The update should fail if they don't pass at that time, as a best-effort check. At least policy-style checks should be applied (e.g., sole tenancy).

However,

[2015-02-28 01:40] bgrant0607 commented on #4623
Re. atomicity -- I don't buy that we need it. I commented here: https://github.com/GoogleCloudPlatform/kubernetes/issues/2483#issuecomment-76502738

[2015-02-28 02:10] dchen1107 commented on #4920
We didn't fix this before is due to backward compatibility issue.

[2015-02-28 02:12] bgrant0607 commented on #147
Current thinking for basic tiers:
* Support specification of limit (max allowed) and request (min required for scheduling)
* If limit==request, then it's highest priority
* If limit > request, then middle priority (main reason to need this is for vertical auto-sizing)
* If no limit or request, then lowest priority
* Suggested defaulting is described in [resources.md](https://github.com/GoogleCloud

[2015-02-28 02:13] bgrant0607 commented on #156
We're working on this.

[2015-02-28 02:14] bgrant0607 commented on #157
@vmarmol are you working on this? If not, please summarize the status and unassign.

[2015-02-28 02:16] bgrant0607 commented on #168
The remaining thing we're doing in the near term is taking advantage of the proposed Docker parent cgroup feature to permit bounding pod resources.

[2015-02-28 02:20] bgrant0607 commented on #274
We're currently working on the stats collection, but not on the scheduling.

[2015-02-28 02:26] bgrant0607 commented on #442
@smarterclayton @derekwaynecarr @erictune What else needs to be done on this issue? Do we have an overview doc that describes this area?

[2015-02-28 02:27] ghodss commented on #170
I will just add that while I do not have an opinion on whether inert is useful, a PodTemplate is a much easier concept for new users to grasp from a UX perspective. Telling new users "okay, first, create a pod, but it's kind of a fake pod, now create a replication controller that's going to create real pods from your fake pod" is really confusing. "Create a template, create a replication controlle

[2015-02-28 02:28] bgrant0607 commented on #444
Due to the difficulties this would create for build and test, we've decided that breaking our code into multiple projects will not happen before we reach our 1.0 milestone.

[2015-02-28 02:32] bgrant0607 commented on #473
Operations have been eliminated.

This is not in our 1.0 roadmap, but if someone is interested in helping, we'd happily guide them.

[2015-02-28 02:36] bgrant0607 commented on #484
There was a proposal: #3247.

[2015-02-28 02:43] bgrant0607 commented on #489
At bare minimum, we're going to need to locally persist resources pulled from apiserver, so that node availability isn't so coupled to apiserver availability and in order to make self-hosting feasible. Probably we need to port to the apiserver package first #2098.

This isn't on our 1.0 roadmap.

[2015-02-28 02:48] bgrant0607 commented on #499
@erictune @derekwaynecarr @pmorie What else needs to be done on this?

[2015-02-28 02:50] bgrant0607 commented on #501
We should just review the diagram and make it correctly reflect the state of 1.0.

[2015-02-28 02:53] bgrant0607 commented on #503
Not urgent, but how hard would it be to package most of this functionality as independent plugins (once we have a plugin mechanism)?

[2015-02-28 03:03] liggitt commented on #4710
@pmorie another use of envvars I just thought of is the filename of a secret being in an envvar, e.g. `KUBECONFIG` or `CURL_CA_BUNDLE`

[2015-02-28 03:06] pmorie commented on #4710
@liggit do you want it automatically when secrets are exposed via the
volume plugin?
On Fri, Feb 27, 2015 at 10:03 PM Jordan Liggitt <notifications@github.com>
wrote:

[2015-02-28 03:07] pmorie commented on #4710
@liggitt
On Fri, Feb 27, 2015 at 10:06 PM Paul Morie <pmorie@gmail.com> wrote:

[2015-02-28 03:10] bgrant0607 commented on #699
Related to security contexts: #3910

[2015-02-28 03:13] liggitt commented on #4710
dunno... if the goal is to set an envvar the container is already looking for, then I assume some adaptation would be needed in the pod spec.

Ways I see a pod spec consuming secrets:
* Put secret `A` into file `/path/to/secretfile`
* Put secret `B` into a file somewhere and put that filename in envvar `$SECRET_FILE`
* Put secret `C` into envvar `$SECRET_VALUE`

[2015-02-28 03:16] bgrant0607 commented on #822
We're now using go-restful.

[2015-02-28 03:16] #822 closed

[2015-02-28 03:17] bgrant0607 commented on #823
@dchen1107 Can we close this now?

[2015-02-28 03:20] bgrant0607 commented on #829
I'd add a `StopAtTime` field to the pod. It shouldn't be part of the restart policy. It would be useful for evicting pods sort of gracefully in addition to bounding duration of run-once pods.

[2015-02-28 03:20] bgrant0607 commented on #829
@derekwaynecarr expressed interest in this, IIRC.

[2015-02-28 03:25] bgrant0607 commented on #907
There are still instances of this in the scheduler, kubelet, and util/config/config.go.

[2015-02-28 03:28] bgrant0607 commented on #1111
We're part way through this transition, leaving the system in a confusing state. We should finish cleaning this up.

[2015-02-28 03:29] bgrant0607 commented on #1139
Is this still an issue?

[2015-02-28 03:37] bgrant0607 commented on #1258
This appears to be done.

[2015-02-28 03:37] #1258 closed

[2015-02-28 03:42] bgrant0607 commented on #1328
There is a CentOS getting started guide:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/centos/centos_manual_config.md

Is that not accurate?

[2015-02-28 03:43] bgrant0607 commented on #1329
Is this still an issue @dchen1107 ?

[2015-02-28 03:51] bgrant0607 commented on #1450
@smarterclayton @thockin @lavalamp Do we still think this is worth doing?

[2015-02-28 03:58] bgrant0607 commented on #1490
I think this is prerequisite for #2098.

[2015-02-28 04:02] bgrant0607 commented on #1518
Discussed further in #3058.

[2015-02-28 04:04] bgrant0607 commented on #1553
We're currently discussing implementing something substantially similar to the new Secret API.

[2015-02-28 04:07] bgrant0607 commented on #1554
See also #4583

[2015-02-28 04:09] bgrant0607 commented on #4849
See also #1567.

[2015-02-28 04:11] bgrant0607 commented on #2524
Kubelet upgrade issue is #1573

[2015-02-28 04:12] bgrant0607 commented on #1607
I think this could be as simple as accepting "none" for PortalIP.

[2015-02-28 04:18] bgrant0607 commented on #1838
Is this still an issue?

[2015-02-28 04:36] bgrant0607 commented on #1702
@ghodss is working on this.

[2015-02-28 04:38] bgrant0607 commented on #1704
Typical scenario: Rollout across several clusters.

[2015-02-28 04:43] smarterclayton commented on #503
Very little.  Builds are decoupled except for the ability to watch for upstream images that change, and the same applies to deployments.

[2015-02-28 04:44] bgrant0607 commented on #1768
To meet our 1.0 scaling goals, I'm pretty sure we'll have to stop adding all environment variables for all services to every pod by default. Pods will need to specify that they need them. We've talked about eliminating the variables entirely, but that would break O(all) images in the Docker registry.

[2015-02-28 04:45] smarterclayton commented on #499
As per our discussion at the face to face, one option would be to deliver a secret type that would convey authorization to pull the image.  The kubelet would need to know something about that secret type, and have a way of defending against malicious use of the secret.

[2015-02-28 04:46] bgrant0607 opened #4926 "Create more examples"
It would be great to create more examples using Kubernetes.

List of examples:
https://github.com/GoogleCloudPlatform/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Akind%2Fexample

[2015-02-28 04:47] bgrant0607 commented on #1795
@bprashanth

[2015-02-28 04:47] smarterclayton commented on #170
Mirrors my thinking right now.  We can always alter pod templates in the future to point to inert pods via a migration.

[2015-02-28 04:50] smarterclayton commented on #442
Other than the individual efforts for authz, authn, and identity which continue elsewhere, the primary objective of this issue is satisfied.  I'd be ok with closing and letting those issues stand on their own

[2015-02-28 04:59] bgrant0607 commented on #1907
What's left to do here, now that Secret is in?

[2015-02-28 04:59] #1908 closed

[2015-02-28 05:00] bgrant0607 commented on #1910
Is there anything left to do here?

[2015-02-28 05:05] vmarmol commented on #157
It was just assigned to me :) I plan on tackling it this coming week.

[2015-02-28 05:11] smarterclayton commented on #1910
No, other than document whether resources done in the Kubernetes style, but which represent more complex underlying types, can vary their name rules to fit their use cases.  I got Tim to say he didn't object but hadn't made a proposed change to api-conventions yet to argue about.  This can be closed.

[2015-02-28 05:12] smarterclayton commented on #1907
I think with Jordan's latest change to allow keys and certs to be embedded in KUBECONFIG this is possible.  Further work should be tracked as part of automatic enablement via service accounts and token generation.

[2015-02-28 05:14] bgrant0607 commented on #1994
@ddysher Is this done?

[2015-02-28 05:19] bgrant0607 commented on #2030
Status update @pmorie or @erictune?

Should this be closed, or more specific issues filed for unresolved issues?

[2015-02-28 05:36] pmorie commented on #499
Do we want to do pulls in a user container as a long-term goal?
On Fri, Feb 27, 2015 at 11:45 PM Clayton Coleman <notifications@github.com>
wrote:

[2015-02-28 05:37] bgrant0607 commented on #2159
@derekwaynecarr Anything left to do here, or can this be closed?

[2015-02-28 05:44] pmorie commented on #1768
@bgrant0607 have you thought at all about what the API for this should be?
On Fri, Feb 27, 2015 at 11:44 PM Brian Grant <notifications@github.com>
wrote:

[2015-02-28 05:52] #2220 closed

[2015-02-28 05:55] bgrant0607 commented on #2238
Done. We now have a defaulting pass.

[2015-02-28 05:55] #2238 closed

[2015-02-28 05:55] bgrant0607 commented on #2238
See #1502 for more details.

[2015-02-28 05:56] derekwaynecarr commented on #2159
This can be closed.  Remaining work around the use case can be handled separately.

Sent from my iPhone

[2015-02-28 05:58] derekwaynecarr commented on #829
I will synch up with @pmorie based on our chat at summit.  I think your recommendation is a good stop gap before we get a JobController and is something we would get value from having in the API.

Sent from my iPhone

[2015-02-28 06:18] bgrant0607 commented on #2347
Closing as obsolete. Operations have been eliminated, so the precise symptoms described above shouldn't be possible. Please reopen if you still experience a problem with the latest release.

[2015-02-28 06:18] #2347 closed

[2015-02-28 06:23] bgrant0607 commented on #2306
See also #1451

[2015-02-28 06:24] bgrant0607 commented on #2353
@smarterclayton Does the new RESTUpdateStrategy fully resolve this?

[2015-02-28 06:29] bgrant0607 commented on #2411
Is this still relevant?

[2015-02-28 06:42] bgrant0607 commented on #2521
Please reopen if you experience the problem with a newer version of Kubernetes.

[2015-02-28 06:42] #2521 closed

[2015-02-28 06:45] bgrant0607 commented on #2563
We do plan to look at Hadoop, but not until after our 1.0 milestone. Please see our [roadmap](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/roadmap.md) for our current focus.

[2015-02-28 06:53] bgrant0607 commented on #2565
Thank you for the background on URIs, but this isn't feasible to change at this point, and I don't see how URIs would solve the problems that are solved by the current URL structure.

[2015-02-28 06:53] #2565 closed

[2015-02-28 06:55] bgrant0607 commented on #2572
FYI @thockin

[2015-02-28 07:04] bgrant0607 commented on #2702
The right solution to this is to nuke kubectl.sh

[2015-02-28 07:30] bgrant0607 commented on #2902
Filed #4202 because I couldn't find this one.

[2015-02-28 07:30] #2902 closed

[2015-02-28 07:37] bgrant0607 commented on #2947
This should be resolved by/after #4561

[2015-02-28 07:43] bgrant0607 commented on #1451
Related: #2977

[2015-02-28 07:59] bgrant0607 commented on #3333
See also #1573

[2015-02-28 08:02] bgrant0607 commented on #3348
See also #1328

[2015-02-28 08:03] satnam6502 commented on #2918
I am working on a PR right now which will change how the cluster level logging services are accessed (to go via a proxy in the same way as the monitoring services) and I hope to avoid the use of the ngnix config.

[2015-02-28 08:09] bgrant0607 commented on #3486
Move which types?

Related: #4851

[2015-02-28 08:12] bgrant0607 commented on #3607
I'd like to get this into v1beta3 asap.

[2015-02-28 08:15] bgrant0607 commented on #3536
@satnam6502 Are you working on this? Is it done?

[2015-02-28 08:17] bgrant0607 commented on #4911
Dupe of #3595

[2015-02-28 08:17] #4911 closed

[2015-02-28 08:28] bgrant0607 commented on #3453
Ref: #3764

[2015-02-28 08:31] bgrant0607 commented on #3838
@brendandburns @thockin Was one of you planning to work on this?

[2015-02-28 08:39] bgrant0607 commented on #3908
Also, status must be 100% reconstructable by observation.

This is just a case of smart defaulting / initialization.

Spec is the right place.

[2015-02-28 08:53] bgrant0607 commented on #4571
Dupe of #2572

[2015-02-28 08:53] #4571 closed

[2015-02-28 08:58] bgrant0607 commented on #4737
I think we agreed to change the ones in containers to descriptions.

[2015-02-28 08:59] bgrant0607 commented on #4761
Done.

[2015-02-28 09:02] bgrant0607 commented on #4872
Dupe of #3338

[2015-02-28 09:02] #4872 closed

[2015-02-28 09:02] bgrant0607 commented on #3338
Copied from #4872: https://github.com/rainingclouds/autobindings

[2015-02-28 12:27] ironcladlou commented on #4877
I thought of a possible way the reflector could reconstitute deletes in the event of a connectivity loss/full resync.

My premise is that ListWatcher gives the Reflector one side (A) of he basis of comparison for delete  detection via List (e.g. list all routes from etcd), and your controller knows how to get the other side (B) (e.g. list all the routes from the external router). On re-initializat

[2015-02-28 15:06] smarterclayton commented on #2353
Yes, and all core resources are changed to use Validate*Update as distinct from create.  Since there are other issues covering upgrading storage this is closeable.

[2015-02-28 15:17] smarterclayton commented on #499
I don't know.  It seems to me that the goal of the platform is to abstract image pulling - it's not something a user is concerned with.  It should be fast and ideally delivered by an efficient network abstraction.  Cgroup constraints on pulls in some cases - sure.  Special pullers - maybe.

Tim mentioned something last week that has also come up from the network filesystems guys - having a mount a

[2015-02-28 16:07] pmorie commented on #4877
@ironcladlou isn't that what we've been discussing all week?
On Sat, Feb 28, 2015 at 7:27 AM Dan Mace <notifications@github.com> wrote:

[2015-02-28 16:47] brendandburns commented on #1838
Nope.

[2015-02-28 16:48] bgrant0607 commented on #499
+1 to remote mounting of images. That's the only way we're going to get to ~instantaneous container start.

Pulls (and builds) that remain will need to be constrained, however.

[2015-02-28 16:52] zmerlynn commented on #2524
Why were this and #1573 moved back into v1.0? I opened #4855 for the 1.0 stake in the ground (and moved this out). These bugs both have tons of items that are out of scope, and are perfectly fine discussion bugs, but don't represent the agreed 1.0 line in the sand.

(We can talk about that line in #4855, but it's nowhere near the contents of both of these bugs.)

cc @alex-mohr

[2015-02-28 17:14] pmorie commented on #499
+1 also to remote mounting; we'll need to distribute secrets for whatever
ultimately dies the pull for private registries
On Sat, Feb 28, 2015 at 11:48 AM Brian Grant <notifications@github.com>
wrote:

[2015-02-28 17:24] satnam6502 commented on #3536
No, no. I'm working on the P1 Fixit for an end to end test for cluster logging from weeks ago which has taken up all my time. And once that is done I intend to start work on scalability which has been help up for almost a month now due to the Fixit.

[2015-02-28 17:42] smarterclayton commented on #499
A bunch of folks are about to start working on this on our end - I don't know who will own the proposal but expect one soon.

[2015-02-28 17:42] #3536 closed

[2015-02-28 18:27] #2159 closed

[2015-02-28 19:31] davidopp commented on #4922
I think it's valuable to know the source of the container for debugging. I'm not sure it's essential that it be visible at the node level, as long as you can get it from the API server. But what you proposed sounds reasonable to me.

[2015-02-28 20:25] ixdy commented on #718
We already have Shippable running builds in parallel with Travis. Do we need a third CI?

[2015-02-28 20:27] ixdy commented on #1086
This issue hasn't been updated in a while - has this still been a problem?

[2015-02-28 20:33] ixdy commented on #1780
Is this still an issue?
cc @derekwaynecarr

[2015-02-28 20:43] ixdy commented on #2927
The e2e tests are now using Ginkgo, which supports --focus to filter tests based on the `FullTestText`. There's some discussion in #3837 about the desire to tag tests rather than searching the text.

Additionally, cmd/e2e/e2e.go has a -t or --test arg which plumbs through to the Ginkgo test runner; I haven't tested whether it works, but we may want to simplify the ways of selecting tests.

[2015-02-28 20:47] derekwaynecarr commented on #1780
I can make sure they are torn down.  Will get to this this week.  Assign to me.

[2015-02-28 20:48] smarterclayton commented on #1086
I haven't seen it on travis in a while, it may have been resolved by 2.0.  However, no proof that it has.

[2015-02-28 20:48] smarterclayton commented on #718
No.

[2015-02-28 21:01] zmerlynn commented on #718
They could all vote on each PR!

In all seriousness, the only point would be if one were configured to do
fast checks. At the meetup, I made an off-hand suggestion (based on
@cjcullen's joke) that we could have one CI that's just configured to do
the fast, totally reliable checks, like gofmt.

But it would need to be clear. Right now the display is totally muddy and
even our on-call people, who sh

[2015-02-28 21:02] ixdy commented on #3452
With #4663 gofmt is being run on 1.4. It seems like this issue is resolved?

[2015-02-28 21:02] #3452 closed

[2015-02-28 21:03] zmerlynn commented on #2927
I think this bug is stale. Instructions for how to focus are in development.md, I'm not sure we need to do more work.

[2015-02-28 21:11] #718 closed

[2015-02-28 21:15] ixdy commented on #2927
It might still be worth cleaning up - do we want to have both the --test option as well as --focus, when they're basically doing the same thing?

[2015-02-28 21:20] davidopp commented on #1553
Issue number for that discussion? Or do you just mean "we currently think we will implement this feature using something like the new secret API, but haven't thought about it beyond that"?

[2015-02-28 21:38] thockin commented on #1838
We still have -r in our salt template for docker.  Fix is in flight.

[2015-02-28 21:42] thockin commented on #4761
What about StatusDetails.Kind ?

On Sat, Feb 28, 2015 at 12:59 AM, Brian Grant <notifications@github.com>
wrote:

[2015-02-28 21:43] thockin commented on #3838
I'll wrap this up in the service reorg work IF we can come to a decision about compat.  Basically, if we change this we are breaking compat.

[2015-02-28 21:43] zmerlynn commented on #2927
If you want to use this bug to get rid of -t, go for it :)
On Feb 28, 2015 1:16 PM, "Jeff Grafton" <notifications@github.com> wrote:

[2015-02-28 21:45] satnam6502 commented on #2927
I use `-t` every day but happy to switch to focus.

[2015-02-28 21:53] zmerlynn commented on #2411
`docker0` was still a containervm turd the last time I checked. It's just not causing any harm.

[2015-02-28 22:05] zmerlynn commented on #2702
Is there an issue to track nuking `kubectl.sh` once the `.kubeconfig ` changes settle? Though it's somewhat complicated, since right now it's choosing the latest compiled binary.

[2015-02-28 22:06] thockin commented on #3453
Imagine a pod with a single container named "ctr".

Today we have:

if it is from the API:
* name = pod.Name
* namespace = pod.Namespace
* uid = pod.UID
* source = "api"
* container_name =
"k8s_ctr.${hash_of_container}_${name}.${namespace}.${source}_${uid}_${random}"

If it is from a file:
* name = pod.Name
* namespace = "file-${hash_of_filename}-${hostname}"
* uid = ${hash_of_file_and_host_and_po

[2015-02-28 22:06] thockin commented on #2411
Yeah, no harm, just ugly.

On Sat, Feb 28, 2015 at 1:53 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-02-28 22:08] thockin commented on #3486
I think this is low prio overall, except in the context of findability overall.  Basically, most or all of pkg/util should become pkgs and ~nothing should be left in util itself.

[2015-02-28 22:10] bgrant0607 commented on #4761
Doh! Missed that one.

[2015-02-28 22:11] bgrant0607 commented on #3486
I don't want a flat sea of dozens of directories.

[2015-02-28 22:13] thockin commented on #1768
Now that we only add variables for the pod's own namespace, is this as big
a concern?  I see it as a short-to-medium term thing, but something that
~every pod will turn on, so why make it an option?

On Fri, Feb 27, 2015 at 9:44 PM, Paul Morie <notifications@github.com>
wrote:

[2015-02-28 22:16] thockin commented on #1450
I still find the number of steps to add a new object to be silly, and
IsAnAPIObject is part of that

On Fri, Feb 27, 2015 at 7:52 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-28 22:17] smarterclayton commented on #718
Do we have issues for the Shippable flakes?

[2015-02-28 22:19] thockin commented on #3486
It doesn't have to be flat.  E.g. ...something.../util/flagwrap vs just
having flag wrappers in ...util/ directly.

On Sat, Feb 28, 2015 at 2:12 PM, Brian Grant <notifications@github.com>
wrote:

[2015-02-28 22:25] zmerlynn commented on #1704
I'm trying to figure out how to change this subject line to properly reflect that it's covering deployment of Kube objects specifically. When I saw the subject I got excited because I thought there may have been discussion on a more robust tool to do cluster deployment and upgrade and replace `kube-up.sh`, which was an issue I was about to go write. These need disambiguation. :)

[2015-02-28 22:28] smarterclayton commented on #1450
The arguments against I can think of are things like making it hard to accidentally copy that data and better memory collocation of the objects.  I also think pointers cause marginally more annoyance to end users (because of defaulting).  I think normalizing our ObjectMeta access is more important though in the short run, and the decision on how to do that should drive this. I'd like to simplify m

[2015-02-28 22:28] zmerlynn commented on #718
I don't know of one. And some of them are weird. I can't decide if we
should keep it on, except for that whole day Travis was down for
maintenance.

@brendanburns was the champion there, though.
On Feb 28, 2015 2:17 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2015-02-28 23:53] davidopp commented on #3453
For debugging it might be nice if the container name could continue to contain pod.Namespace and pod.UID in the source==API case, though I realize this is problematic if we want consistency with the file case.

[2015-03-01 00:54] bgrant0607 commented on #3453
Proposal:
* name = "${pod.Name}.${hostname}"
* namespace = ${cluster_namespace}
* uid = ${hash_of_file_and_host_and_pod_and_starttime}
* container_name =
k8s.${name_fmt_version}_ctr.${hash_of_container}_${name}_${namespace}_${uid}_${random}

Kubelet will be posting all pods to the API, and it needs to match the pods it gets back with those that are running, so the "source" will always be API. Ther

[2015-03-01 03:51] thockin commented on #3453
I agree with respect to namespace.  I think Derek said the same and I just
stack - overflowed.

Keeping source in the container name might be nice for down-low debug?

GenerateName doesn't have to be the existing impl - it just has to be
unique enough, so adding hostname or hostname + 5 alphanums suffices.  The
nice thing is that we don't violate the sanctity of the Name field.
On Feb 28, 2015 4:5

[2015-03-01 05:18] thockin commented on #1450
Simply deleting almost all of the definitions of IsAnAPIObject() and adding one for TypeMeta (have to leave ContainerManifest for historical..) makes all tests pass.

Is there a reason not to do that?  Is there any type that embeds TypeMeta that is not actually an API object?

[2015-03-01 05:29] thockin commented on #1451
I actually did mean that validation would run against versioned objects.
Yes it would mean duplicating validation, but it would be *correct*
validation with correct error messages.

I don't have time to pursue this at the moment, so I'm just watching
everything else shake out, but it's still very much on my mind.

On Fri, Feb 27, 2015 at 11:43 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-01 05:43] bgrant0607 commented on #1704
Disambiguated

[2015-03-01 05:43] thockin commented on #4823
I agree this is useful and correct.  I was aware of it, but blocked on a
general tmpfs solution.

I'm going to argue this is a stretch for 1.0, unless we cobble something
together that isn't so general purpose.  e.g. mount a tmpfs for every pod
in a known place and always add an extra volume mount to every container.

On Thu, Feb 26, 2015 at 11:07 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-01 05:45] thockin commented on #4825
Again, I don't want to go to far hypothetically.  I'm concerned that such
an implementation makes Name a nearly worthless field.

On Thu, Feb 26, 2015 at 10:52 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-01 13:48] abonas opened #4931 "REST api - missing an example how to filter based on labels"
There's an option to filter a GET request with labels, but there's no example on how to do it, especially
when need to filter based on more than one label.
So for instance, this works for filtering based on one label:
http://localhost:8080/api/v1beta3/services?labels=component=apiserver

but what is the right syntax to filter based on 2 labels?

[2015-03-01 14:25] abonas opened #4932 "REST api - can a pod without containers be created?"
I tried to create a pod without containers to see if it's supported or not. (does a pod without containers have a meaning in k8s?)
I was getting "conflict 409 already exists" error although I used a new pod with a new name/id, so it's not clear whether it's supported or not, and whether this error is a mistake (409 instead of 400)

[2015-03-01 14:29] jletroui commented on #1957
+1 for consul

[2015-03-01 14:49] bronislav commented on #4932
What is the reason to create pod without specifiing image / creating container? Please provide a use case when such functionality is necessry.

[2015-03-01 14:58] abonas commented on #4932
@bronislav - to me it's not necessary. However if it's not supported, a validation should prevent it not to allow corrupted entities. And if it is supported, it will be good to understand why.
For instance, service with nil selector is supported, though it might not make sense to some users.
see this: https://github.com/GoogleCloudPlatform/kubernetes/issues/3712

[2015-03-01 15:06] abonas opened #4933 "REST api - what is the meaning of spec and status sections for namespace entity?"
they seem to be empty after creating a namespace

[2015-03-01 15:17] abonas opened #4934 "REST api - missing documentation which fields can be updated for namespace entity"

[2015-03-01 16:30] abonas commented on #4335
@bgrant0607, @roberthbailey  I read #1768 but I don't understand why am I redirected there.
I'm not asking about creating or declaring a dependency.
I'm asking about the current design - is there a way to understand if a container/pod talks to a port that is declared by a service in a system? For instance, a user would like to "draw" or understand a multi layer application architecture, and as suc

[2015-03-01 17:11] bgrant0607 commented on #2702
Not for kubectl.sh. The same issue came up with kubecfg.sh: #834

[2015-03-01 17:14] bgrant0607 commented on #2702
BTW, it seems to me that the "find the binary" problem would be more properly solved by PATH, symlinks, moving the binary to a /bin directory in the build/release process, etc.

[2015-03-01 17:33] bgrant0607 commented on #4931
Look at the bottom of:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/labels.md

Please let me know if it doesn't work.

[2015-03-01 17:33] smarterclayton commented on #1450
We're talking about removing TypeMeta on internal objects.  We could replace it with a meaningless stub if we wanted.

[2015-03-01 17:34] bgrant0607 commented on #4932
Yes, it should be allowed, and I'm pretty sure it used to work. Could you please post your object schema here or somewhere?

[2015-03-01 17:37] bgrant0607 commented on #4933
This is future-proofing, as well as following our api conventions.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md

@derekwaynecarr

[2015-03-01 18:20] mikedanese commented on #4917
Beyond the current validation? Is that the type you are talking about?
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L474
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L522

[2015-03-01 18:29] mikedanese commented on #4761
StatusDetails.Kind is the kind attribute of the resource associated with the status StatusReason, which seems like the same usage of "Kind" in TypeMet". I think it makes sense to leave it.

[2015-03-01 18:45] thockin commented on #4761
Ahh, yes.  I can buy that.
On Mar 1, 2015 10:29 AM, "Mike Danese" <notifications@github.com> wrote:

[2015-03-01 19:27] zmerlynn commented on #2702
Agreed. But it's actually not that simple because the script chooses the most recent one, which is rather convenient.

[2015-03-01 19:41] abonas commented on #4933
@bgrant0607 I'm aware of the api conventions, but the properties should have relevance and meaning to the object they're in, not to be present automatically for future/maybe/simply because others have it.
If they're needed, they should be populated with something that has value to the user and to the system, if they are not needed now, imho they shouldn't be there, and should be added when or if t

[2015-03-01 19:45] abonas commented on #4932
@bgrant0607 what do you mean by object schema? an example json of such pod or something broader?
and btw what meaning a pod has without containers?

[2015-03-01 20:12] davidopp commented on #1451
I just came across this issue. I am not as familiar with the code as all of you, but from my experience so far, I definitely agree with Tim; I think the code would be simpler/more maintainable (or at least easier to understand) if we had true Go objects corresponding to the API objects. I agree that better grouping the code that manipulates each type would be helpful but I'm not sure it would be a

[2015-03-01 22:01] ghodss commented on #4889
There seems to be a counter-case as well, where something makes sense as a a map but actually should be replaced and therefore should be a list. `Selector` is an example that should probably be replaced, not merged - if a post-processing step changes the selector of a replication controller, that fundamentally changes the meaning of the replication controller, and a PATCH with a `Selector` should

[2015-03-01 23:21] smarterclayton commented on #1450
Ie something like "type InternalType struct {}".

[2015-03-01 23:43] mikedanese commented on #4889
There is a use case for updating a single label in a selector with a merge patch as well. Say I have a service selector that has labels for environment, application, and version. I may want to update just version during a deployment. I would consider this fundamentally the same service and I would like my patch to look like `{"selector":{"v":"2"}}`.

Any modification is possible with merge patch a

[2015-03-02 01:30] ghodss commented on #4889
We can easily support RFC6902 as well. The question here is how do we make Merge Patch work in such a way that most graciously enables the declarative configuration workflow described in https://github.com/GoogleCloudPlatform/kubernetes/issues/1702#issuecomment-75415019.

I do want to ensure @jbeda's concern is represented here: converting from lists to maps makes the config a little less intuitiv

[2015-03-02 03:00] ghodss commented on #4889
There is an issue that in some ways disqualifies the swagger annotation approach: it is impossible to use a null value to delete a list item. In #1702 we were intending to use the client to look at the previous config object that was submitted (which would have been stored in an annotation on the object) to insert null values for fields that were deleted from the config before submitting the PATCH

[2015-03-02 03:16] derekwaynecarr commented on #4933
Both spec and status will be filled in by a PR this week with more design.

A namespace will have a Status.Phase to denote if it's active or terminating.

A namespace will have a Spec to denote its Finalizers.  Finalizers are the list of objects that may observe when an object is undergoing graceful termination in order to perform their own cleanup before the Namespace could be terminated.

Basica

[2015-03-02 03:34] ghodss commented on #4889
The more I think about it, the more I am against changing lists to maps in the API. I think maps cause a lot of issues in terms of forcing the choice (or worse, creation) of a key, forcing using an object where there shouldn't be (e.g. the publicIP's example above), and the complexities of always auto-filling (and -unfilling?) the field which is used for the map key. It makes our API more awkward

[2015-03-02 04:10] mikedanese commented on #4889
Why does it have to be all or none? I think containers keyed by names is reasonable. I think maps for pulicIPs is less reasonable. As a client, I would take understandable and well documented merge semantics over having arrays in the api and lot's of custom merge rules.

[2015-03-02 04:19] ghodss commented on #4889
Because if there's even a single case where you want a merge but can't do it (or want to replace and can't do it), then relying on the server doesn't work anymore, and you need to implement the whole operation yourself anyways. IMO, [our current convention](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#lists-of-named-subobjects-preferred-over-maps) is actual

[2015-03-02 04:31] ghodss commented on #4889
Keep in mind Merge Patch and RFC6902 can still both be supported on the server, they just wouldn't be used for config reconciliation, and clients would need to be cautious when dealing with lists or maps.

[2015-03-02 04:39] smarterclayton commented on #4889
This discussion reminds me of the various convolutions mongodb update syntax went through in order to support mutating a nested child item in the list.  They resorted to custom operators and the $ operator to represent mapping between locator (query) and position.  It's challenging to make this work predictably.

[2015-03-02 05:52] thockin commented on #4917
Hmm, I must have grepped badly.  My fault.

[2015-03-02 05:52] #4917 closed

[2015-03-02 05:54] thockin commented on #4335
The short answer is no - there is no place in the API where a pod
purposefully "imports" or "links to" a service.  #1768 is the discussion
about such a feature, which is not universally desired.

On Sun, Mar 1, 2015 at 8:30 AM, abonas <notifications@github.com> wrote:

[2015-03-02 06:36] thockin commented on #4218
I like #4115 as a heuristic.  Once that is in, we can use that for proxy.

[2015-03-02 08:07] Fandekasp commented on #4892
@lavalamp I have no ~/.kubernetes directory, nothing messed up there.
`this is what you get when you try to talk HTTP to an HTTPS endpoint. I think this indicates a client problem.`: The client is kubectl. The releases says "Fix kubectl patch behavior", and I tried to read the diff for pkg/kubectl between v0.10 and v0.11, but couldn't find the relevant part.

@jlowdermilk was the key/cert checking

[2015-03-02 10:19] sub-mod commented on #4884
https://github.com/GoogleCloudPlatform/kubernetes/pull/4865 would fix this

[2015-03-02 10:57] fgrzadkowski commented on #4897
Brendan - are you working on this (no assignee)? If not I can fix it.

[2015-03-02 13:57] csrwng commented on #4710
@liggitt - for the case where you want the env var to point to a secret file... couldn't you just set that in advance?

[2015-03-02 14:05] fgrzadkowski commented on #2726
@bgrant0607 @smarterclayton I'm already working on #4561. Waiting for #4779 to be merged.

[2015-03-02 14:10] abonas opened #4940 "REST api - POST service fails in v1beta3 with "method not allowed""
In latest k8s built from source,
sending a create (POST) request on /services fails with error "method not allowed":

The json used is from here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/v1beta3/redis-master-service.json
Using v1beta1 (with another json that fits that format) works OK.

The error in kube-apiserver.log:
I0302 16:04:36.229378   23907 handlers.

[2015-03-02 14:30] smarterclayton commented on #2726
Great

[2015-03-02 14:40] abonas commented on #4931
@bgrant0607 yes it works, for example:
http://localhost:8080/api/v1beta3/services?labels=component=apiserver,provider=kubernetes

my question is - does it do an AND between the labels? so the entities returned must have both labels in order to be returned? (this is how it looks it's currently working now, but is it the expected behavior?)

[2015-03-02 14:52] quinton-hoole-google commented on #4628
On Feb 27, 2015 2:18 PM, "Tim Hockin" <notifications@github.com> wrote:

+100 !  I'd be in favor of systematically getting rid of string as a
parameter type internally too, not just in the API. Strings are
just too prone to misunderstanding and subtle bugs. E.g. does this "name"
string include the namespace prefix or not? The code I've been working on
recently is riddled with these types of latent

[2015-03-02 15:22] ironcladlou commented on #4877
Not exactly: I'm talking about a new injection point to Reflector and maybe adding a means for Pop to return deletes (e.g. a bool indicator), not a new queue structure.

[2015-03-02 15:37] pmorie commented on #4710
I had thought the same thing @csrwng, I'm still trying to decide if there's merit to generating it.

[2015-03-02 15:45] fgrzadkowski commented on #4908
It seems it still failing. I've run it locally and it failed with the following error:

  FAIL!
  Get pods {{range.items}}{{.id}}:{{end}}
    Expected:
    Got:      elasticsearch-logging-controller-fplln:kibana-logging-controller-gziey:kube-dns-oh43e:

  143 ./hack/test-cmd.sh

The aforementioned line:

  # Pre-condition: no POD is running
  kube::test::get_object_assert pods '{{range.items}}{{.i

[2015-03-02 15:49] liggitt commented on #4710
mmm.. suppose so. that would be a combination of a regular env var and the "Put secret A into file /path/to/secretfile" case. that's probably fine

[2015-03-02 15:58] fgrzadkowski commented on #4908
Strangely the same code (#4810) passes tests on travis (https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/52755393)

[2015-03-02 16:00] kbeecher opened #4942 "Creating a pod with Celery image doesn't work. Also, create->start container endless loop."
I am trying to set up a pod that contains a Celery image. I created a simple replication controller to use the celery dockerfile:

[code]

From looking at the documentation (https://registry.hub.docker.com/u/dockerfile/celery/dockerfile/), I expected that when I start this controller I would see that pip installs the celery package. However, this doesn't happen. In fact, even pip itself is not ins

[2015-03-02 16:11] zmerlynn commented on #4908
I think you're reading it backwards. The test is expecting no pods to be started, but finding the k8s add-on pods, which is normal if it were running against a normal master.

In Travis, it's a synthetic environment with no add-ons.

This should be assigned to whoever added the checks (on mobile.. I know I merged the PR but don't remember who :)). We need to exclude the add-ons (perhaps by finally

[2015-03-02 16:32] rsokolowski commented on #4661
It seems that @fgrzadkowski just encountered similar problem I had. The test wasn't working locally due to apparently different environment on Travis and on workstation.

[2015-03-02 16:41] pmorie commented on #1768
@bgrant0607 Disregard this comment (https://github.com/GoogleCloudPlatform/kubernetes/issues/1768#issuecomment-76512182); I somehow missed your above comments.

[2015-03-02 16:43] ncdc commented on #4912
Proposed fix: https://github.com/docker/spdystream/pull/47

[2015-03-02 16:56] #1838 closed

[2015-03-02 16:57] brendandburns commented on #1768
I don't think this is relevant for 1.0.

Let's not over optimize ahead of time.  It's an easy, additive change of it
is required for scale (and I don't think it will be.)

Brendan
On Mar 2, 2015 8:41 AM, "Paul Morie" <notifications@github.com> wrote:

[2015-03-02 16:57] brendandburns commented on #1768
s/of/if/  stupid phone...
On Mar 2, 2015 8:57 AM, "Brendan Burns" <bburns@google.com> wrote:

[2015-03-02 17:33] lavalamp commented on #1450
I'm OK with this idea, although I think it's not good to start using pointer versions of TypeMeta.

Yeah, something like that.

[2015-03-02 17:37] jlowdermilk commented on #4892
It's possible stricter cert checking was added on the apiserver. To be honest, I've never tried running kubectl with no client certs; the fact that it worked before may have been a bug. cc @brendandburns

[2015-03-02 17:43] lavalamp commented on #1451
I think we need to version our client libraries; having it work with the unversioned types makes this hard to get behind. Once the client is versioned, then I think a model where we run the versioned types through a constructor to produce the internal object might be a good idea, but I want to consider it some more.

[2015-03-02 17:47] ddysher commented on #1994
Done.

#2547 and a few others.

[2015-03-02 17:47] #1994 closed

[2015-03-02 17:52] #4564 closed

[2015-03-02 18:00] mrunalp commented on #4823
@thockin @bgrant0607 @pmorie Thanks for your comments.
How about /var/lib/pods/<pod_id>/path/to/tmpfs for the location on host?
Also, does this look good for representing a tmpfs volume?

[code]

[2015-03-02 18:20] #4614 closed

[2015-03-02 18:26] yawnt commented on #4720
sorry for the late reply, it looks like after the gcloud sdk update it works.. it now says started, although i still occasionally get

[code]
my cluster api version is 0.11.0 by the way

thanks!

[2015-03-02 18:26] lavalamp commented on #4877
I've been thinking about this a little bit, and I think there's three different use cases that we want to support.

1. Process everything once, and process the most recent item only. Don't process deleted items. (scheduler)
2. Process everything once, and periodically reprocess everything. When things are deleted, process the last version of the item before it was deleted to put it in its final st

[2015-03-02 18:27] erictune opened #4947 "No Authn/z in CoreOS."
CoreOS distro does:
  - `kube-apiserver --address=0.0.0.0 --port=8080`
  - `kubelet --api_servers=$APISERVER_IP:8080`
 Therefore, anything on the cluster's network can talk to apiserver with no authn/z.

By contrast, other distros do:
  -  `kube-apiserver --address=127.0.0.1 --port=8080 --authed_port=7080`
  - `kubelet --api_servers=$APISERVER_IP:7080`
  - distribute a token to kubelet to use with

[2015-03-02 18:41] yujuhong commented on #4920
@dchen1107, it makes sense to me to fix this before v1.0 so that we could avoid hitting the compatibility issue further down the road.

[2015-03-02 18:41] lavalamp commented on #4892
Yeah what I'm suggesting is that your setup is somehow triggering a code path in kubectl that is talking HTTP to an HTTPS server.

@jlowdermilk I think cert check failing should produce a different error message.

@Fandekasp I misremembered, it's actually a ```~/.kube/``` directory. It should have cluster info and certs in it.

[2015-03-02 18:46] erictune commented on #4673
I now think we probably don't need to prioritize automated rotation at this time.

Most pods are going to have a way that they can be updated to have a new image or new flags.  Updating the secret can use that same workflow, assuming secret changes are infrequent.

There are two cases where secrets might change frequently, but I don't think these are that important right now:

First, short lived t

[2015-03-02 18:47] erictune commented on #4673
TL;DR
I don't think we should work on secret rotation right now.
And we should make secrets immutable.  I'll file a narrower issue for that.

[2015-03-02 18:47] #4673 closed

[2015-03-02 18:53] yujuhong commented on #4623
@erictune, do you mean that we should still set the pod status to "failed" so that when the scheduler check, it can get the accurate pod status back? I had thought about it, but the pod statuses are computed on the fly (by checking the containers) as of now. Without the ability to directly set the status, we need to cache this information somewhere. Since there are people touching the same code/fi

[2015-03-02 19:37] erictune opened #4949 "Identify which version of a secret a pod uses."
Suppose I create a secret like this:

[code]

And I make a pod that references that secret, using an `ObjectReference`, like this:

[code]

When is the `ObjectReference` bound?  How complete an `ObjectReference` can/should the creator specify?

If the pod specifies name and namespace, but not uid or resourceVersion, then binding could happen in the apiserver or at kubelet.

Do we agree that users

[2015-03-02 19:37] erictune commented on #4949
@pmorie @bgrant0607

[2015-03-02 19:46] erictune opened #4950 "VolumeStatus in PodStatus"
We need a way to report volume status in podStatus.  The motivating case is to show what the uid and resourceVersion is for a Secret volume (see #4949).

Other uses might include:
- show version at which a git volume was pulled.
- show disk space usage of a volume (though we have talked about not putting usage in podStatus)
- show state of volume as installing/ready/deleting, for debugging slow st

[2015-03-02 19:46] erictune commented on #4950
@bgrant0607 @thockin @markturansky

[2015-03-02 19:46] dchen1107 commented on #4920
Yes, we should fix it before 1.0. My point is that we should combine those destructive changes together and send one announcement to all users.

[2015-03-02 19:47] erictune commented on #4950
Config Data volumes would need this too, since they will be much like Secrets.

[2015-03-02 19:48] dchen1107 commented on #4920
I am not sure if there are other destructive changes planned before 1.0, maybe some service related ones? cc/ @thockin

[2015-03-02 19:49] vmarmol opened #4951 "Kubelet should enable hierarchical memory on host"
Today hierarchical memcg may not be enabled on the host we run. As we move towards "cgroup under" we need to enable hierarchical memcg to get proper accounting and behavior.

[2015-03-02 19:50] roberthbailey commented on #4720
@cjcullen has been looking at PD support recently; maybe he has run across this error?

[2015-03-02 19:51] roberthbailey commented on #4415
@pires  Is there anything left here or can I mark this as closed?

[2015-03-02 19:53] roberthbailey commented on #4430
This looks finished. @satnam6502 please reopen if there is still more to do.

[2015-03-02 19:53] #4430 closed

[2015-03-02 19:54] roberthbailey commented on #4411
@jszczepkowski It looks like the first half of this was solved by #4484 and the other half has it's own issue (#4630). Can we close this one out?

[2015-03-02 19:56] roberthbailey commented on #4365
@satnam6502 Is this covered by #4430?

[2015-03-02 20:00] roberthbailey commented on #3979
2014.7.2 is now out (http://docs.saltstack.com/en/latest/topics/releases/2014.7.2.html).

[2015-03-02 20:07] yujuhong commented on #3453
I like the idea of using GenerateName, and we don't necessarily have to change the implementation. We will just have to set the prefix to be `pod.Name-hostname`. The 5 alphanums suffix will be appended in the current implementation.

Adding hostname directly in GenerateName() may not be feasible since the code is run on the apiserver (master node), so the hostname will always be the the master hos

[2015-03-02 20:17] cjcullen commented on #4720
Kubernetes 0.11.0 had an issue (#3437) with detaching persistent disks, and with attaching PDs as read only. 0.12.0 should be getting cut soon, and it will be supported in GKE shortly after. Until then, you should be able to get things working by only mounting PDs as read-write, and manually detaching them when tearing down a pod.

[2015-03-02 20:19] pmorie opened #4954 "SecretVolumeSource and namespace validations / defaults"
We have a couple nits to work out with `SecretVolumeSource`:

1.  Having to specify the namespace for the target secret is cumbersome for use-cases where you want a pod template to be namespace-agnostic; it would be convenient to default the namespace for the secret to the namespace the pod is created in.
2.  Currently there's no validation to prevent you from referring to a secret in another name

[2015-03-02 20:20] satnam6502 commented on #4430
Ah, yes, indeed, finished, and does not seem to have broken anything.

[2015-03-02 20:20] pires commented on #4415
Works with 0.11.0.

[2015-03-02 20:20] #4415 closed

[2015-03-02 20:21] satnam6502 commented on #4365
Yes.

[2015-03-02 20:21] #4365 closed

[2015-03-02 20:26] piosz commented on #4866
@lavalamp are you going to work on it?
@davidopp what do you think about it?
I'm happy to work on it.

[2015-03-02 20:27] pmorie commented on #4954
@erictune @thockin @bgrant0607

[2015-03-02 20:29] liggitt commented on #4954
if namespaces are the ACL boundary, letting a pod reference secrets outside its namespace seems not great, especially since they get resolved by the node, which will likely have broader permissions than the user that created the podspec.

[2015-03-02 20:39] jlowdermilk opened #4956 "Don't load config from $HOME/.kubernetes_auth"
The kubectl client loading logic [still defaults](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/clientcmd/client_config.go#L184) to loading from `$HOME/.kubernetes_auth` if the config doesn't have enough info to authenticate a user. This behavior is confusing and undesirable. We still support `--auth-path`, but only in the context of a command line flag or kubeconfig use

[2015-03-02 20:41] jlowdermilk commented on #4892
@Fandekasp, I was digging into client config loading rules for another issue, and can confirm that kubectl does default to loading `$HOME/.kubernetes_auth`. So your setup was probably working before because you/some tooling was writing a valid .kubernetes_auth file to your home directory. This behavior is confusing and unintended; you should specify all config you want to use in kubeconfig. Opened

[2015-03-02 20:42] bprashanth commented on #4866
Out of curiosity, is the ask for a single batched create endpoint or a batched insert into etcd as well? Sounds like the latter if you have contention on pod create.

[2015-03-02 20:43] pmorie commented on #4949
@erictune @bgrant0607

I think the binding should happen in the kubelet.  At what point during the pod lifecycle should the binding happen?  Before pod start seems like a good place to start discussion.

Regardless of where/when binding happens, if we think it is a valid use-case to be able to specify the uid or resourceVersion, we need to think through the case where the specific version is unava

[2015-03-02 20:43] erictune commented on #4623
@brendandburns
perhaps parallel was the wrong word, but a scheduler race appears possible.  the cache of pods it uses is not updated atomically with binding pods.  It appears the scheduler could:
  1. successfully do a /binding of pod A with hostPort N to host H
  1. read the cache and see A not bound
  1. consider binding B with hostPort N to host H, and not see a conflict.
  1. successfully do a

[2015-03-02 20:47] lavalamp commented on #4866
Bulk updates (like @bprashanth says) probably will make sense in the future, but I think they're a post-1.0 item. It does seem prudent to limit the number of outstanding requests in the meantime. It might make sense to put such a mechanism in pkg/client's RESTClient, since it's likely to be widely useful.

[2015-03-02 20:51] lavalamp commented on #4866
@piosz feel free to send a PR. I recommend using the rate limiter that's in pkg/util.

[2015-03-02 20:56] erictune commented on #4954
There needs to be a check whether the pod creator is allowed to use the secret.  Suggest filing a new issue for that.

This applies even if we say that you can only reference within the same namespace, because we won't want to give everyone in the namespace access to every secret.

[2015-03-02 20:57] bprashanth commented on #4866
1000 concurrent calls sounds like a lot, but I'm sadly unable to define exactly what *a lot* is. It would be great if we could benchmark/e2e-test api server qps in terms of pod creates (sounds like @timothysc might already have this data, if not I can file an issue), since you will probably have to do something like that to rate limit anyway.

[2015-03-02 20:58] erictune opened #4957 "Authorization for referring to Secrets"
When a pod is created/updated and has a volumeSource of type "secret", then we should validate whether the user creating the pod has permission to use that secret.

[2015-03-02 20:58] erictune commented on #4954
I filed: #4957

[2015-03-02 21:00] liggitt commented on #4954
It feels a little odd to imply ACL to the secret is based on the pod creator, when the ACL that actually matters is the node's permissions at resolve time. That means if you revoke the pod creator's access to the secret, the pod can keep getting scheduled and resolving the secret just fine.

[2015-03-02 21:03] pmorie commented on #4950
@erictune I think we're probably on the same page about this but making it explicit:

If you specify a name and namespace for a secret in your pod spec, the status should show the bound resourceVersion and uid; the spec should never have these fields populated except by the user.

[2015-03-02 21:04] liggitt commented on #4954
To be clear, I'm not advocating basing the ACL at secret resolve time on the pod creator. If I have permission in a namespace, create some pods, then leave the company and my permissions get revoked, those pods should continue working for other people in the namespace to manage. I just think it's weird to base the check at pod creation time on the pod creator.

[2015-03-02 21:05] pmorie commented on #4957
@deads2k @liggitt

[2015-03-02 21:06] pmorie commented on #4954
@deads2k

[2015-03-02 21:11] erictune commented on #4957
Using the volume in a pod is equivalent to having read access on the secret.  So, the pod creator/updater  maybe should have to have read permission on the secret that is referenced.

Questions:
  - does the Authorization happen at pod creation time (in apiserver), or at volume pull time?
   - If in the apiserver, the user gets feedback sooner.
   - If in kubelet, then the kubelet needs to do the

[2015-03-02 21:12] erictune commented on #4950
@pmorie I think that too.  waiting to see what other folks say.

[2015-03-02 21:14] erictune commented on #4954
hoping to make this just about whether namespace is required/validated, and make #4957 about checking permission to use a secret.  Copying @liggitt comments there.

[2015-03-02 21:15] erictune commented on #4957
@liggitt said in #4954:

` It feels a little odd to imply ACL to the secret is based on the pod creator, when the ACL that actually matters is the node's permissions at resolve time. That means if you revoke the pod creator's access to the secret, the pod can keep getting scheduled and resolving the secret just fine.`

`To be clear, I'm not advocating basing the ACL at secret resolve time on the p

[2015-03-02 21:19] erictune commented on #4957
If I have permission to make pods but not to see a secret, can I update an existing pod that references a secret I can't see?

[2015-03-02 21:22] pmorie commented on #4957
@erictune And also, to what degree does the answer to your question depend on your specific relationship with the pod's service account?

[2015-03-02 21:22] liggitt commented on #4957
(or even more indirectly, a pod that references a proposed securitycontext/serviceaccount thing which in turn references secrets)

[2015-03-02 21:25] erictune commented on #4957
If our goals for secrets are:
  - prevent accidental leakage when moving around pod json
  - protect secrets from principals who only have a "Pod Reader"-role type permissions in a namespace
then just basing it on same-namespace is probably fine.

But if they are also:
  - restrict knowledge of secrets to a subset of "Pod Writer"-role principals in the same project

Then we need more thought about

[2015-03-02 21:25] pmorie commented on #4957
I think the pod-writer-role case is a valid one.

[2015-03-02 21:28] erictune commented on #4957
to be clear, I'm saying the following use case:
  - people with the "production role" can create pods and see all secrets
  - people with the "tester role" can create pods but can only see certain secrets, or no secrets.

[2015-03-02 21:29] #4912 closed

[2015-03-02 21:29] erictune commented on #4957
the alternative would be to have two namespaces.  I don't like that approach, but I'm putting it out there.

[2015-03-02 21:30] pmorie commented on #4957
@erictune That's how I understood it; I think this will be a common UC.

[2015-03-02 21:35] satnam6502 opened #4958 "Apiserver proxy requires a trailing slash"
This works:
[code]
but this does not:
[code]

We should somehow emphasize the need for the trailing slash for now, and then work out what is going wrong (client side scripting?) to fix this (our fault in the proxy or Grafana's?)

@vishh

[2015-03-02 21:37] erictune commented on #4957
@liggitt yes thinking about serviceaccounts too.

[2015-03-02 21:43] satnam6502 commented on #4958
Likewise for Kibana. #4959

[2015-03-02 21:53] dchen1107 commented on #3453
I marked this for 1.0 milestone.

I agreed with Brian's proposal, and ok with nuking source.

[2015-03-02 21:55] mbforbes commented on #4566
Good point; I'll make sure there's a timeout for this check.

[2015-03-02 21:58] satnam6502 commented on #4958
For the Kibana case, I observe a sequence of correctly proxied GETs e.g. to:
[code]
but then I see:
[code]
which fails because I assume what was really needed is:
[code]
and a curl against that gives a pile of plausible Javascript.

[2015-03-02 22:04] pmorie commented on #4822
@erictune @thockin fyi

[2015-03-02 22:17] erictune commented on #4561
@timothysc what URL do you propose for doing a node + pod update?

[2015-03-02 22:28] brendandburns opened #4961 "guestbook e2e appears to strand resources sometimes"
[code]

Subsequent runs are failing due to the target pool being stranded.

[2015-03-02 22:29] brendandburns opened #4962 "GCE TargetPools that are created should be namespaced."

[2015-03-02 22:35] dchen1107 commented on #2411
I think we should remove the docker0 from minion nodes, but do we still need this for master node?

cc/ @ArtfulCoder

[2015-03-02 22:41] lavalamp commented on #4958
After a little thought, I think what's going on here is that web clients can't tell that ```kibana-logging``` is a directory without the trailing slash. One thing we could potentially do to help is to redirect (301) from ```kibana-logging``` to ```kibana-logging/```, since I don't think the former is useful for anyone.

[2015-03-02 23:22] yujuhong commented on #3453
It seems we've reached the consensus. I'll take a crack a this issue since it is blocking my other issues.

The implementation will closely follow @bgrant0607  proposal, with a few clarifications/variations.
 - I agree that we should nuke source in general, but I also think that @thockin's point is valid -- we want to know the source of the container for debugging and for other purposes (e.g. #337

[2015-03-02 23:31] ixdy commented on #4186
@vishh Any update on this one?

[2015-03-02 23:33] ixdy commented on #4183
hack/e2e-suite/pd.sh still exists. Should it be removed?

[2015-03-02 23:35] ixdy commented on #3696
We haven't removed the liveness.sh e2e test because the Go test is apparently not as reliable (#4501, #4406). Should we reopen this issue until the shell test is removed?

[2015-03-02 23:37] vmarmol commented on #4951
Adding some more information about this bug.

To enable hierarchical memory accounting/limiting we have to write "1" to "memory.use_hierarchy" in that cgroup. However, this can't be done for containers that already have subcontainers. We should try to ensure this is on for the distros we run on (e.g.: container-vm).

If a distro does not do this hierarchical accounting will be broken so that use a

[2015-03-02 23:39] ixdy commented on #4908
@lhuard1A added the assertions, so CC'ing for comment.

[2015-03-02 23:42] dchen1107 commented on #3453
We used to have 4 sources: etcd, apiserver, http, and file, so having source explicitly in container name is very useful; but some refactory and consolidation, in kubernetes, we are down to apiserver and file only. Some cloud providers might still have etcd for some short period, but it should be cleaned up soon. Also containervm environment has http and file as source, but that is different issue

[2015-03-02 23:46] ixdy commented on #4961
Was just going to open an issue about this. Log from subsequent runs:
[code]

[2015-03-03 00:04] roberthbailey commented on #4961
Since it didn't appear that anyone else had done so yet, I manually whacked that target pool to try and get the e2e tests passing again.

[2015-03-03 00:15] vishh commented on #4186
Haven't gotten to this one yet.

On Mon, Mar 2, 2015 at 3:32 PM, Jeff Grafton <notifications@github.com>
wrote:

[2015-03-03 00:23] satnam6502 opened #4968 "Web page thumbnail not generated for Kibana via proxy URL"
The thumbnail icon for Kibana is not generated now that we access Kibana via paths like `https://104.154.76.190/api/v1beta1/proxy/services/kibana-logging/`
In the previous setup (using an external load balancer and public IP) the thumbnail was properly served and this made it easier to idetnify the tab in the browser that contains Kibana.

[2015-03-03 00:24] roberthbailey commented on #3580
@derekwaynecarr - have you had a chance to take a look at this? Is it still an issue?

[2015-03-03 00:25] satnam6502 commented on #3971
Daily quota changes by GCE I think address this issue now.

[2015-03-03 00:25] #3971 closed

[2015-03-03 00:25] vishh commented on #4841
@pires: Can you shed some light on why accessing the cluster services via the proxy does not work you? We are moving logging to also be accessible only via the proxy on the master and any user feedback here will be helpful.

[2015-03-03 00:27] roberthbailey commented on #3430
@lanceblais are you still having this issue?

[2015-03-03 00:30] roberthbailey commented on #3177
Assigning this to @v1s0n based on the last comment.

[2015-03-03 00:31] roberthbailey commented on #3177
... or not. Seems that github won't let me.

[2015-03-03 00:33] roberthbailey commented on #2967
@eparis Is this for the master/kubelet/kubectl command line?

[2015-03-03 00:36] roberthbailey commented on #2890
As discussed at the contributor conference last week, CoreOS itself isn't really a cloud provider (it is a much better fit for implementing our to be defined node spec). What we need is a cloud provider that uses CoreOS as the host OS that is covered under continuous integration in e2e tests. The current front-runner appears to be the CoreOS on rackspace effort.

[2015-03-03 00:36] derekwaynecarr commented on #3580
This is fixed

Sent from my iPhone

[2015-03-03 00:37] roberthbailey commented on #2754
/cc @derekwaynecarr (in case you haven't seen this)

[2015-03-03 00:38] roberthbailey commented on #2744
I'm closing this since it's been two months without an update and we have seen quite a few getting started guides that use CoreOS to launch a functional Kubernetes cluster. Please reopen if your issue hasn't been resolved to your satisfaction.

[2015-03-03 00:38] #2744 closed

[2015-03-03 00:39] lavalamp commented on #4892
@jlowdermilk would you like to own this issue? :)

[2015-03-03 00:40] lavalamp commented on #4854
Reducing priority since these errors are not a problem in practice.

[2015-03-03 00:40] lanceblais commented on #3430
It's been a while since I've worked on this. I moved on pretty quickly to other things.

[2015-03-03 00:41] roberthbailey commented on #2523
We still delete the master first (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/util.sh#L691) but since there haven't been any complaints about ordering lately I'm going to close this. Please reopen if you continue to run across this issue.

[2015-03-03 00:41] #2523 closed

[2015-03-03 00:41] ghodss commented on #4889
Note that the approach outlined above will require PUTs from `kubectl reconcile` to include the Status field (otherwise it would get wiped out on a reconciling PUT). This should be fine - we'll just leave it re-PUT the status exactly as we found it in the GET - but if users lose permission to re-PUT the Status field this could be an issue. If that happens, we could put a workaround where if the St

[2015-03-03 00:42] erictune commented on #3585
"initializers' SGTM.

[2015-03-03 00:43] roberthbailey commented on #2485
@proppy @smarterclayton Is this still an issue?

[2015-03-03 00:49] roberthbailey commented on #2006
The referenced provider (local_docker) doesn't appear to exist any longer. Closing as obsolete.

[2015-03-03 00:49] #2006 closed

[2015-03-03 00:52] roberthbailey commented on #1266
@filbranden Any progress on this? Or should we just point folks to https://google-styleguide.googlecode.com/svn/trunk/shell.xml and keep trying to reduce the amount of bash that we depend on?

[2015-03-03 00:54] roberthbailey commented on #1164
@amygdala - I'm sorry that we didn't address your issue in a timely manner. However, at this point, so much of the code base has changed since last september that it's probably not worth digging into this particular failure. If you are still seeing issues during cluster creation, please reopen this issue or create a new issue and we will do our best to help you out much more promptly.

[2015-03-03 00:54] #1164 closed

[2015-03-03 00:54] filbranden commented on #1266
@erictune I agree that Google Style Guide is a good start and maybe that's all we need...

Reducing the amount of bash would be a great goal.

[2015-03-03 00:55] bgrant0607 commented on #2890
The title could be changed to "create a fleet cloudprovider", which, if you read the text, is really what this is about -- CoreOS the full package, not CoreOS the Linux distribution.

In general, our code has dismal organization of cluster setup, network setup, (OS distro-specific) node setup, and runtime cloudprovider APIs.

If this isn't going to happen, we should just close this issue.

[2015-03-03 00:58] roberthbailey commented on #3560
I believe that this was addressed at the contributor conference last week and the summary is presented in #4855. Re-open if you disagree.

[2015-03-03 00:58] #3560 closed

[2015-03-03 01:06] roberthbailey commented on #3430
I'll close as obsolete then. Thanks for the quick response!

[2015-03-03 01:06] #3430 closed

[2015-03-03 01:08] roberthbailey commented on #2890
It could happen if someone wants to take ownership and drive it forward. I've added the help-wanted tag for now (and it's already marked as a p3).

[2015-03-03 01:11] dchen1107 commented on #4787
I am going to look into this one.

[2015-03-03 01:15] #3433 closed

[2015-03-03 01:20] smarterclayton commented on #4889
Status isn't allowed to be set anymore, so you can pass it or not.  Reconciliation is spec focused, right?

[2015-03-03 01:24] roberthbailey commented on #4537
Status update:
 - update.sh has been removed
 - the kubectl suite of tests no longer uses any host ports (which should help scheduling) and instead uses a local proxy through the apiserver to reach the pods

I'll keep an eye on jenkins over the next couple of days to see what the flakiness of the go tests is before closing this issue.

[2015-03-03 01:57] ghodss commented on #4889
If I can pass it and it'll get ignored, that works great (although it might not be the greatest UX for other use cases?).

Yes, reconciliation is spec focused, but it's hard to generically distinguish between a field that I simply didn't specify locally and a field that's server-side only. It's easiest to just include both sets of fields from the server in my PUT's.

[2015-03-03 02:13] abhgupta opened #4971 "Scheduler spreading using services vs replication controllers"
Creating a separate issue since the PR (https://github.com/GoogleCloudPlatform/kubernetes/pull/4674) in which this discussion was initiated is merged and this merits a second look.

I had raised the question of why we used services instead of replication controllers for identifying peer pods for spreading by the scheduler. The argument is that services might not be needed and could be avoided in s

[2015-03-03 02:13] abhgupta commented on #4971
/cc @danmcp @smarterclayton

[2015-03-03 03:15] markturansky commented on #2485
local-up-cluster.sh runs everything with ```sudo``` these days.

[2015-03-03 03:57] roberthbailey commented on #2485
Thanks @markturansky! Marking this as fixed.

[2015-03-03 03:57] #2485 closed

[2015-03-03 04:02] markturansky commented on #4949
Adding "namespace" to the object reference seems redundant.  You're already in a namespace when you're working with a pod.  I needed the same thing, though, so  I added a defaulting function to assign the pod's namespace to the object reference I am using in my PR.

[2015-03-03 04:04] markturansky commented on #4950
You can get by with just a name.  I used a defaulting func to add the current namespace of the pod to the object reference.

See https://github.com/GoogleCloudPlatform/kubernetes/issues/4949#issuecomment-76883407

[2015-03-03 04:40] smarterclayton commented on #4949
Object reference namespaces should remain unset when stored so they can be copied to other objects without requiring a change.  An object reference without a namespace means "use this namespace" which is not the same as "use the namespace named foo"

[2015-03-03 04:42] pmorie commented on #3705
This afternoon when I was working on https://github.com/openshift/origin/pull/1207 I remembered that we still need this; I'll start prototyping something tomorrow.

[2015-03-03 04:54] bprashanth opened #4973 "Move replication controller validation into rcstrategy"
Currently the replication controller update routine validates each update as it would a create. Before we can add subresources to a replication controller (https://github.com/GoogleCloudPlatform/kubernetes/issues/4909), we need a way to validate updates as incremental changes,  by comparing the current and proposed versions of an object. We can achieve this by moving the update validation into a s

[2015-03-03 04:55] bprashanth commented on #4973
fyi @lavalamp @bgrant0607

[2015-03-03 05:05] markturansky commented on #4949
What if you don't want to copy the object reference to another object without requiring a change of namespace?

Eric's JSON example above sans namespace:

[code]

@smarterclayton are you saying this is incorrect?  if so, why?  Because it seems so like a foreign key here to something in the same namespace, but it doesn't require the user to enter the namespace again in the "target" struct.  They ar

[2015-03-03 05:07] thockin commented on #3453
I have to withdraw the bits about GenerateName - if the apiserver generates
the name, do we POST to apiserver before starting the pod?  That seems
silly.  If not, then the name the apiserver will see is different than the
name the kubelet knows...

On Mon, Mar 2, 2015 at 3:42 PM, Dawn Chen <notifications@github.com> wrote:

[2015-03-03 05:17] lavalamp commented on #3705
That sounds really complex, I vote no.

StartRecording returns a watch.Interface just to get the .Stop() method; I recommend adding a Stop() method to your EventContext (Recorder?) and then I'm on board with this.

[2015-03-03 05:20] pmorie commented on #4954
I propose that a namespace not be required and that an empty namespace should signify the namespace of the pod.

I started prototyping the above tonight and realized that we will need to expose the pod namespace  in the arguments to `volume.Plugin.newBuilder`.  It seems like it would be acceptable to widen the arguments to this function to:

[code]

Any thoughts on that @erictune @liggit @thockin

[2015-03-03 05:34] thockin commented on #4920
If this is just about bouncing containers I am not too concerned.

On Mon, Mar 2, 2015 at 11:48 AM, Dawn Chen <notifications@github.com> wrote:

[2015-03-03 05:37] markturansky commented on #4954
@pmorie I would be able to use that method as well.

[2015-03-03 06:43] davidopp commented on #3453
Maybe someone can write down end-to-end what will happen when you start a container via file and what will happen when you start a container via api server.

Also I didn't understand @dchen1107's comment "Once we finished sync-back feature, all source of pods on a running node should be apiserver," If the source is supposed to denote how the pod was originally started (even once sync-back feature