[2019-03-28 12:05] liggitt commented on #75822
This indicates the kubelet is 1.14 and the apiserver is not. Can you provide the versions of the kubelet and running apiserver?

Kubelets must not be newer than the apiserver they speak to.

[2019-03-28 12:23] #70364 closed

[2019-03-28 12:37] dims commented on #75293
Folks, it's alive https://github.com/kubernetes/cri-api

[2019-03-28 12:46] danielqsj commented on #75821
Do you mean a batch job whose `parallelism == 1` ? Ref: https://github.com/kubernetes-sigs/kube-batch/blob/master/doc/usage/tutorial.md#3-create-a-job

[2019-03-28 12:52] dims opened #75828 "New home for pkg/kubelet/server/streaming"
During the CRI-API staging/ work, pkg/kubelet/server/streaming came up as another possibility for a new home as it is being used by many CRI implementations.

- https://github.com/kubernetes/kubernetes/pull/75531#discussion_r269260936
- https://github.com/kubernetes/kubernetes/issues/75293#issuecomment-472259254

So where do we move the code from `pkg/kubelet/server/streaming`? i think i can isola

[2019-03-28 12:53] dims commented on #75828
cc @mikebrow

[2019-03-28 12:53] raulcd commented on #63959
Hi @brooksgarrett I've found out that test-coverage on the aws provider is low and there is no tests on the `ELBv2` so I can't find tests on NLB. I am going to open a new issue and work on improving coverage for that and hopefully I'll find out how to add tests for the new annotation. As you can see below current coverage for `aws.go` and `aws_loadbalancer.go` is low and can't find tests for NLB:

[2019-03-28 12:58] alok87 commented on #66650
@jiatongw is not vendoring suppose to work from mac and linux both. Is not it an issue if it does not work from mac? Should i reopen this

[2019-03-28 13:02] raulcd opened #75829 "AWS provider is missing tests for ELBv2"
**What would you like to be added**:
Hi,
while taking a look on issue https://github.com/kubernetes/kubernetes/issues/63959 with PR https://github.com/kubernetes/kubernetes/pull/69263 I was trying to help add tests for the new functionality and I've realised that test coverage is pretty low on the aws module. On the `aws_test.go` file there are no tests for `ELBv2` for example so we cannot test th

[2019-03-28 13:04] danielqsj commented on #75817
Does cronjob not enough in this case ?
For instance, does `45 23 * * *` means job will scheduler after 23:45 every day ?
If so, why need another filed to define when job should be scheduled ?

[2019-03-28 13:05] raulcd commented on #75829
/sig aws

[2019-03-28 13:15] raulcd commented on #75829
/kind proposals

[2019-03-28 13:16] vladimirvivien opened #75830 "Add volume DeviceMountablePlugin.CanDeviceMount check"
**What would you like to be added**:

The volume API has several filter checks when selecting appropriate plugins.  This would add `DeviceMoutablePlugin.CanDeviceMount` method to filter plugins when selecting device mountable plugins by the volume API (similar to `AttachablePlugin.CanAttach`).

**Why is this needed**:
This is needed to properly skip the DeviceMount step by volume plugins that may

[2019-03-28 13:17] vladimirvivien commented on #75830
/assign @vladimirvivien

[2019-03-28 13:17] liggitt commented on #43214
sent to kubernetes-dev in https://groups.google.com/forum/#!topic/kubernetes-dev/je0rjyfTVyc

[2019-03-28 13:27] dims commented on #75828
There's some discussion on slack at https://kubernetes.slack.com/archives/C0BP8PW9G/p1553777162006400

- this code is something that has been stable, so we do not need to put it through staging/
- many folks already are using cri by default without issue, so we can just create a new repository under `kubernetes-sigs/` github org
- choice of names was either `cri-helpers` or `cri-runtime`
- since w

[2019-03-28 13:33] brooksgarrett commented on #63959
Thanks for the help. I thought I was just missing being able to locate them.

[2019-03-28 13:34] schmitch commented on #75821
exactly. didn't new there is a sig already. sorry for the inconvenience

[2019-03-28 13:34] #75821 closed

[2019-03-28 13:38] schmitch commented on #75821
Well after looking, I dobut that it works as a simple, queue or am I wrong?

I mean I have jobs comming into my cluster every x minute, I want to run at least 1 or 2 or raise the number dynamically as I scale up workers. But I never want to run more than X, so it's more like maxMember not minMember but I still want all jobs to run, but besides the pod group every job will be completed, so new jobs

[2019-03-28 13:40] KrzysztofMadejski opened #75832 "failed to run Kubelet: invalid configuration: cgroup-root [] doesn't exist: <nil>"
**What happened**:

I am running rancher and the distribution of packed kubernetes failed at start:

[code]

**What you expected to happen**:

I was expecting `kubelet` to start.

**How to reproduce it (as minimally and precisely as possible)**:

The image is `rancher/hyperkube:v1.13.4-rancher1`
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl versio

[2019-03-28 14:05] mikebrow commented on #75828
Prefer cri-helpers over cri-runtime.

If looking for other names kubelet-services or kubelet-streaming would seem to be appropriate repo names. Kubelet-services if you think we'd eventually put more in there - otherwise kubelet-streaming would be a sufficiently descriptive name since `/streaming`, `/remotecommand`, and `/portforward` are libraries for streaming connections to between kubelet and a

[2019-03-28 14:07] sshuvaev commented on #60134
security? what is this? no, I do not heard about security
let's disable gpgcheck, tls, https and everybody will be happy
best practices heh

[2019-03-28 14:27] kinghrothgar commented on #43916
@bitglue I

This was exactly the solution I came to. It did not dawn on me that the Linux kernel would be aware of the memory limit inside of the container and only fill up page cache to that point. I just set the MongoDB pod to the (node's memory available -  3GB).

[2019-03-28 14:31] lavanyachennupati commented on #75788
@yue9944882 which repository are you referring to?

[2019-03-28 14:33] leakingtapan commented on #73730
We still need to address the issue since the problematic format still exists

[2019-03-28 14:54] aaronmell commented on #60828
/reopen /remove-lifecycle rotten

[2019-03-28 14:54] liggitt commented on #75822
That skew is not supported. Please see https://kubernetes.io/docs/setup/version-skew-policy/ for supported upgrade order and maximum skew between components.

/close

[2019-03-28 14:54] #75822 closed

[2019-03-28 14:56] mborsz opened #75833 "API call latencies regressed due to upgrade to golang 1.12"
Something has changed between 320 and 321 runs and the request latency has increased significantly.

The graphs below shows request latency (non watch) over time for a single test run:

[320](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/320):
![FYrJr3W9WRY](https://user-images.githubusercontent.com/2559168/55164808-a189ef00-516c-11e9-97fa-931d507fbcf

[2019-03-28 14:56] mborsz commented on #75833
/sig scalability

[2019-03-28 14:56] mborsz commented on #75833
With @krzysied we are trying to prepare small scale repro that we can use for further debugging.

[2019-03-28 15:01] feiskyer commented on #75828
Also prefer cri-helpers for me. Since kubelet server also uses this library, could we create the repository under kubernetes org instead of kubernetes-sigs? I think kubelet doesn't depend on any repositories under kubernetes-sigs today.

[2019-03-28 15:02] vdavidoff commented on #43916
Just as a bit of a follow up: At the time I opened this issue my experience with Kubernetes was just ramping up. Since then I have learned a lot. Back then it never occurred to me, either, that setting a memory limit on a container would impact memory used for page cache, or that by doing so normal "free page cache if available on malloc" (or such) behavior would be in play for that container (i.e

[2019-03-28 15:08] dims commented on #75828
@feiskyer other binaries in k/k do depend on kubernetes-sigs/ so it should be ok. we put cri-api in kubernetes because it's being published from staging/

[2019-03-28 15:08] grzesuav commented on #22024
Spotted in v1.10.12

[2019-03-28 15:12] kuops commented on #75806
same as you

[2019-03-28 15:26] #66742 closed

[2019-03-28 15:36] smarterclayton commented on #48610
Golang 1.11 and kube 1.14 have the fixes to go http2 stack to allow us to do this now.  Resurrecting.

[2019-03-28 15:37] smarterclayton commented on #48610
I am also considering an algorithmic change which is rebalance either on all errors or all requests.

[2019-03-28 16:01] lavalamp commented on #48610
You are talking about a serverside change to close the entire http2 connection (not just individual requests)?

Or are you talking about a clientside change to do the same on a 429?

I think it'd be best if the LB--ah, it's an L4 LB, of course.

OK, consider this: if you run apiserver behind an LB, clients have *no way of knowing* how many replicas there are and therefore how many connections they

[2019-03-28 16:05] liggitt commented on #75780
cc @kubernetes/sig-release

[2019-03-28 16:08] aJetHorn commented on #67202
I have encountered what seems like the same problem. To summarize: I have a ClusterIP service mapped to two deployments and the requestor IP stored I see in my accessor logs is the IP of those containers, not the external requestor IP. It doesn't make sense to me why this feature toggle wouldn't exist in ClusterIP, unless this feature isn't needed. Is it possible that I just haven't set up my Apac

[2019-03-28 16:18] liggitt commented on #75833
#74778 was also in that range (cc @sttts @roycaihw for verification that nothing in that PR increased server load in non-alpha clusters)

[2019-03-28 16:33] wojtek-t commented on #75833
@krzysied did tests at head with reverting to go1.11 and metrics seemed better
He is working on confirming that and should paste results then, but it seems to be pretty clear that it's go regression.
We're also working on providing smaller-scale repro case to work closer with golang team (they used to be really helpful when debugging regressions in previous versions (IIRC 1.9 is where there were p

[2019-03-28 16:38] Joseph-Irving opened #75836 "Daemonset controller occasionally fails to schedule desired number of pods"
**What happened**:
Occasionally we get a Daemonset stuck with less Current replicas than Desired, causing a Daemonset sync tends to fix it, e.g (add a new node). This happens to all our Daemonsets. I'm using fluentd as an example.
[code]
There are no Daemonsets pods in pending nor are there any errors when describing the Daemonset
[code]
**What you expected to happen**:
The Daemonset Pod to be sch

[2019-03-28 16:39] Joseph-Irving commented on #75836
/sig apps

[2019-03-28 16:44] vladimirvivien commented on #75352
This will use work from https://github.com/kubernetes/kubernetes/issues/75830

[2019-03-28 16:49] florianrusch commented on #61259
/remove-lifecycle rotten

[2019-03-28 16:50] Joseph-Irving commented on #75836
@kubernetes/sig-apps-bugs I investigated this as much as I could without getting some external input, it feels like it's some kind of race condition in the informer cache. If anyone has ideas of if places to dig deeper that would be handy.

[2019-03-28 16:54] liggitt commented on #68577
Accepted proposal for initial go module support is at https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/2019-03-19-go-modules.md

https://github.com/kubernetes/kubernetes/pull/74877 contains the changes needed to reproducibly generate the vendor dir using go modules

https://github.com/kubernetes/publishing-bot/pull/169 is a WIP PR to publish go.mod files for staging com

[2019-03-28 16:58] pswica commented on #75572
Is there a route to Node 2 from the other nodes? Does Node 2 have the appropriate routes to it's pods. Also, is Node 2 listening on the appropriate port?

For the first question, you can run `route` on all the nodes and compare. For the second, you can use something like `netstat -tulpn | grep <port>` from Node 2.

One other idea comes to my mind: Did you set all the kernel params on all three nod

[2019-03-28 16:58] bgrant0607 commented on #75526
How about
https://github.com/kubernetes/utils/tree/master/third_party/forked/golang

[2019-03-28 17:12] sigma commented on #75526
I think it's not ideal because cadvisor needs to consume the same code?

[2019-03-28 17:15] simonferquel opened #75837 "[Kubernetes 1.14.0] Watch on aggregated API resource hangs until first event"
**What happened**:

Prior to 1.14, when you created a watch on a resource coming from an aggregated API, you would instantly obtain the `watch.Interface` object, and could stop it when you want.

Since 1.14, when you do the same, the `request.Watch()` method returns when the server sends its first event. Resources directly hosted by the central API-server (core resources, crds, etc.) are not touch

[2019-03-28 17:16] simonferquel commented on #75837
/sig api-machinery

[2019-03-28 17:28] #66735 closed

[2019-03-28 17:28] #70372 closed

[2019-03-28 17:35] thockin commented on #75526
Doing a bit of homework:

inotify is a "notify me when X happens" API.

fsnotify is a "notify me of all events" API.

It looks like Kubelet wants to know if someone opens a file (the lockfile).  fsnotify does not support the IN_OPEN flag at all.  It is unclear whether fsnotify wants to support that or not.  At least one issue was files on it, and closed with no merge.

[2019-03-28 17:46] ixdy commented on #73286
The kubernetes 1.12 branch is now using an unsupported version of go (1.10.8). Have we come to a consensus on what we want to do about this? (Kubernetes 1.11 is also affected, but I'm not sure if we're planning any more support of that branch given that 1.14 has been released.)

[2019-03-28 17:46] danwinship commented on #15636
That was already the case before this bug was filed, so that's apparently not what @thockin meant.

[2019-03-28 17:52] vladimirvivien opened #75838 "Use Find{Attachable|DeviceMountable}PluginBySpec instead of ByName where appropriate"
**What would you like to be added**:
There are several places in volume controller (i.e. reconciliation) where plugins are retrieved by name instead of by Spec.  This may cause additional filtering to be skipped (such as plugin.CanAttach or plugin.CanDeviceMount) when retrieving the plugins.

**Why is this needed**:
Revisit the code in several places to ensure the proper plugin retrieval mechanism

[2019-03-28 17:52] vladimirvivien commented on #75838
/assign
/sig storage

[2019-03-28 18:03] danwinship commented on #66819
The problem is:

    	klog.Fatal(opts.Run())

in `NewProxyCommand` in `cmd/kube-proxy/app/server.go`.

#63532 rewrote kube-proxy to not use kubectl's utility functions but accidentally made it so that now it always logs the output of `opts.Run()` as a fatal error, rather than only doing so if the return value is non-`nil`. Should be an easy fix.

[2019-03-28 18:04] smarterclayton commented on #48610
So every single large HA cluster I've seen has this problem (in practice).  If you have a 1k node cluster you can get horribly unbalanced and never recover.

[2019-03-28 18:05] smarterclayton commented on #48610
I think there is no difference between an LB closing connections after some point and a client closing connections except this is generally forcing a graceful transition in certain circumstances.

Note this is on 10-30m timescales, not in minutes.  If rate limiting only works above 10m it's not very useful.

[2019-03-28 18:09] lavalamp commented on #48610
The rate limiting design will work on the ~ second-by-second timeframe.

[2019-03-28 18:12] sigma commented on #75526
@thockin it felt like a big dependency to add to cadvisor, but I just had a look and they already consume another package from it. So I guess I withdraw my concern :)

[2019-03-28 18:21] yastij commented on #58635
/remove-lifecycle stale

[2019-03-28 18:27] cblecker commented on #75813
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-03-28 18:27] #75813 closed

[2019-03-28 18:28] wojtek-t commented on #48610
Copying my couple thoughts from Slack discussion:

I didn't have much chance to think about that (and I trust your judgement here), but couple things that I would like to understand are:
- given that it's done at the connection level, this should be probably somewhat weighed (if that's even possible) number of streams within a connection? (in the end equal spread of connection stream is something

[2019-03-28 18:29] #62908 closed

[2019-03-28 18:32] logicalhan opened #75839 "kubelet 'metrics/probes' endpoint uses a gauge instead of counters"
Currently the kubelet exports liveness/readiness probe metric information at an [endpoint 'metrics/probes'](https://github.com/kubernetes/kubernetes/blob/5c2fe63591acab508e1ff5771c3aa70268852318/pkg/kubelet/server/server.go#L79).

The metric data looks like this:

[code]

This is incredibly useful metric information, however, it would be better if these metrics were counters rather than gauges. Cu

[2019-03-28 18:40] lavalamp commented on #48610
Yeah, good point. So here's an even simpler suggestion: limit the number of concurrent streams over a single http2 connection to something in the 10-100 range.

[2019-03-28 18:58] roycaihw commented on #75833
I double checked #74778 and didn't find anything suspicious. The alpha function wasn't invoked in that window, and the PR is a no-op to non-alpha clusters

[2019-03-28 19:41] astrieanna opened #75842 "`kubectl explain` should include the possible values of `crd.status.conditions.type`"
**What would you like to be added**:
A comment in `kubectl explain crd.status.conditions` that includes the possible values of `type`.

[code]

I got the possible values from [CustomResourceDefinitionConditionType](https://github.com/kubernetes/kubernetes/blob/e318642946daab9e0330757a3556a1913bb3fc5c/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go#L270-L280).

Th

[2019-03-28 20:12] vaizki commented on #75817
@danielqsj CronJob indeed schedules for example every day after 23:43. The idea in this enhancement is to schedule the Job once for a certain singe point of time and when it has reached the desired completions then it will never be run again.

[2019-03-28 20:12] fedebongio commented on #75731
/assign @jpbetz

[2019-03-28 20:13] fedebongio commented on #75770
/cc @logicalhan

[2019-03-28 20:17] fedebongio commented on #75788
/assign @roycaihw

[2019-03-28 20:23] fedebongio commented on #75837
cc @mbohlool @liggitt

[2019-03-28 20:26] liggitt commented on #75837
a fix similar to https://github.com/kubernetes/kubernetes/pull/72575 might be required, where headers are flushed after write

[2019-03-28 20:29] liggitt commented on #75837
looks like watch is flushed here:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go#L211-L215

[2019-03-28 20:29] krzysied commented on #75833
Regarding what @wojtek-t wrote:
![kubemark_regression](https://user-images.githubusercontent.com/25119199/55189408-25100400-519e-11e9-9b6e-762f3896e61c.png)

I was mostly investigating the regression on kubemark-5000. Some of its latencies increased x3.

I run two tests: one with https://github.com/kubernetes/kubernetes/commit/7514c49ec12e7a8b6840142d723ec25b08a0917a checkout, and the other one wi

[2019-03-28 20:30] caesarxuchao commented on #75791
I agree it's worth trying `--enable-aggregator-routing`.

However, when the flag is disabled, I expect kube-proxy to loadbalance the traffic among endpoints. What do I miss?

[2019-03-28 20:38] astrieanna commented on #75842
/sig cli

[2019-03-28 20:40] danwinship commented on #73481
Drive-by insufficiently-detailed comment: the bug is probably that you need to enable "hairpin mode" in the network plugin (to allow a packet to leave the pod and then be routed back into it [after iptables rewrites] rather than being routed to a different destination). I don't know how you would do this in your environment.

[2019-03-28 20:49] danwinship commented on #74533
/close

[2019-03-28 20:49] #74533 closed

[2019-03-28 20:55] danwinship commented on #75443
ah, looks like
/area ipvs

[2019-03-28 21:01] danwinship commented on #75676
The actual implementation of NetworkPolicy is handled entirely by the network plugin, not by Kubernetes itself, so you would need to file a bug against Weave. (From https://github.com/weaveworks/weave/issues/2624, it appears that they have supported egress policies since 2.4.0. So if you're running an earlier version of Weave, well, there's your problem.)

/close

[2019-03-28 21:01] #75676 closed

[2019-03-28 21:16] wojtek-t commented on #75833
Look into other metrics (I can't remember which exactly, delete pods? post pods? or sth like that) - which increased by almost 10x.

[2019-03-28 21:17] lxlxok commented on #75677
Hi @jpbetz  I have wrapped up a solution to make param(--watch-cache-sizes) of apiserver also be effective for custom resource.  Would you mind to take a look at my PR #75804 😄. Thanks.

[2019-03-28 21:29] zoramthanga opened #75846 "kubelet stopped posting node status, seems to be hung"
**What happened**:
Pods are not getting created, user requests to create pods seem to just hang forever. We've had to restart kubernetes to get out of the situation. When in this state the only way to kill kubelet is kill -9.

# kubectl describe nodes
Name:               xxxxxxx
Roles:              master
Labels:             beta.kubernetes.io/arch=amd64
                   beta.kubernetes.io/os=li

[2019-03-28 21:33] zoramthanga commented on #75846
/sig api-machinery
/sig node

[2019-03-28 22:01] vielmetti commented on #58512
As noted in https://www.twistlock.com/labs-blog/disclosing-directory-traversal-vulnerability-kubernetes-copy-cve-2019-1002101/ analysis of CVE-2019-1002101.

[2019-03-28 22:29] cpuguy83 commented on #75526
fsnotify has had spotty support over the last couple of years just because of the primary maintainer being busy with other things.

[2019-03-28 22:38] pjh commented on #75561
/assign pjh

[2019-03-28 22:43] segevfiner commented on #27264
Note that `docker logs` is different from `docker attach`.

`logs` gets the output from the Docker logging driver which is line buffered, and I have also seen it not preserving the ordering between `stdout` and `stderr` which is bad for interactive programs (And actually quite annoying for non-interactive ones too...).

`attach` connects you to the output streams, it's not line buffered and gets t

[2019-03-28 22:49] roycaihw commented on #75788
@lavanyachennupati could you elaborate on what do you mean by "namespace that doesn't depend on the custom-metrics-stack-driver-adapter"? my understanding is that all namespaces deletions depend on all APIServices

ref https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-455069171 which explains why namespace deletion depends on any registered api extension service

side note: https:

[2019-03-28 23:02] neolit123 commented on #75832
/sig node

[2019-03-28 23:05] neolit123 commented on #75806
+1
let's move the discussion in 75777

/close

[2019-03-28 23:05] #75806 closed

[2019-03-28 23:09] neolit123 commented on #75803
try adding `-v=4` and watch for more info.

also after it finishes with an error take a look at the kubelet logs:
`journalctl -xeu kubelet`

[2019-03-28 23:10] neolit123 commented on #75803
/sig cluster-lifecycle
/remove sig-node

[2019-03-28 23:22] pjh commented on #75561
@madhanrm thanks for your feedback on this issue so far. You're right, the external load balancer IP does not need to be set on any of the node's interfaces in order for traffic to reach the pod behind the load balancer. Based on our past experience with load balancers and Windows VMs we expected this to be required, but as you noted the HNS / VFP changes that kube-proxy makes on the Windows nodes

[2019-03-28 23:29] mleklund opened #75850 "kubeadm upgrade plan says up to date for v1.14.0"
**What happened**:
I ran:
`kubeadm upgrade plan`

**What you expected to happen**:
I expected it to tell me about the upgrade plan, instead it told me I am up to date.

[code]
**How to reproduce it (as minimally and precisely as possible)**:
run kubeadm upgrade plan on a 1.13 node.
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):1.13.5
- Cloud pro

[2019-03-28 23:38] uselvvi commented on #75676
Thanks @danwinship

[2019-03-28 23:41] pdxkzeerkti commented on #60807
The problem is completely repeatable for me. First, clone the [prometheus-operator](https://github.com/coreos/prometheus-operator). Then:
[code]
Hangs.

[2019-03-28 23:47] madhanrm commented on #75561
@Pjh can you pass me the output of collectlogs.ps1, to check if we are leaking any internal natpool allocations.

[2019-03-28 23:55] pjh commented on #75561
Sure, I've uploaded the collectlogs output at https://github.com/pjh/kubernetes/tree/75561-loadbalancer/collectlogs. The first run was after creating an iis pod and then running `kubectl expose pod iis --type=LoadBalancer --name=iis` to create the loadbalanced service. The second run was after I deleted the service and the pod. `35.226.7.156` was the external loadbalancer IP.

[2019-03-28 23:55] AndrewSav commented on #60807
Yeah, had the same hang with prometheus-operator. Need to `kubectl delete -f manifests/` to unstuck.
I think there are some finalizers in prometheus CRD's that are misbehaving, in this particular scenario it's hardly kubernetes fault. However kubernetes should make it easier finding the culprit, because the lengts of this thread demonstrates that there could be many causes and it's not easy to get

[2019-03-29 00:03] simonferquel commented on #75837
@liggitt please note that the problem manifests itself only for aggregated APIs. My guess is that there is something in the proxy created by kube-aggregator that does not propagate the flush down to the client.

[2019-03-29 00:26] liggitt commented on #75846
This was fixed in https://github.com/kubernetes/kubernetes/pull/63492 and picked to 1.8.14

FYI, the currently supported versions of Kubernetes are 1.12.x, 1.13.x, and 1.14.x

/close

[2019-03-29 00:26] #75846 closed

[2019-03-29 00:30] Huang-Wei opened #75852 "Support scheduler policy file in YAML format"
Kubernetes scheduler enables you to overwrite default Predicates/Priorities as well as configuring extenders in a "scheduler policy".

In latest scheduler componentconfig API (v1alpha1), it can be a file or a configmap: https://github.com/kubernetes/kubernetes/blob/91f40aec8ad5b992d8057b4fab0fa287ee6bdee9/pkg/scheduler/apis/config/types.go#L104-L111

However, if you defines a scheduler config file

[2019-03-29 00:42] shigy123456 opened #75854 "How to configure a role to query only slave nod"
/kind bug

/sig node
@Dawn Chen

**What happened**:
When I configure clusterrole, I can only choose to query all nodes, I want to query only salve nodes, How to configure an implementation to query only slave nodes？

my configuration:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list

Kubectl execution result：
kubectl get node
master1   Ready    master,monitor,node   63d   v1.12

[2019-03-29 00:59] liggitt commented on #75837
Not seeing issues there, it explicitly flushes on an interval as well: https://github.com/kubernetes/kubernetes/blob/91f40aec8ad5b992d8057b4fab0fa287ee6bdee9/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go#L232

Also, that code hasn't changed since 1.13

Will try to reproduce locally

[2019-03-29 01:05] liggitt commented on #75837
Actually, looks like to golang reverse proxy reworked flushing in go1.12: https://github.com/golang/go/commit/5440bfc2ea8c0a4c78d5161605659c07ea10e37a#diff-d863507a61be206d112f6e00e6d812a2

the flushing now takes effect on each body write, but I don't see anything forcing a flush after headers are written

I'll take the issue upstream

/assign

[2019-03-29 01:19] Trackhe commented on #10921
push

[2019-03-29 01:24] danielqsj commented on #75852
/assign

[2019-03-29 01:29] feiskyer commented on #73286
I'm ok of upgrading to golang 1.12 for release-1.12. @cblecker @ixdy Would you like to validate and land it?

[2019-03-29 01:35] zoramthanga commented on #75846
Thanks @liggitt !

[2019-03-29 01:36] #22723 closed

[2019-03-29 01:36] #62830 closed

[2019-03-29 01:40] liggitt commented on #73286
there is a [latency regression](https://github.com/kubernetes/kubernetes/issues/75833) and [proxy flushing regression](https://github.com/kubernetes/kubernetes/issues/75837) we need to resolve before we transition any other release branches to go1.12

[2019-03-29 01:41] farmer-hutao commented on #75842
Please let me do it~

[2019-03-29 01:56] liggitt commented on #75837
reported upstream as https://github.com/golang/go/issues/31125

[2019-03-29 02:04] danielqsj commented on #75839
Perhaps a new counters metrics to record the the number of failure is a better option.
Because the gauge metrics is easy to watch and alert.
I can do it if @brancz agree with it.
/assign

[2019-03-29 02:34] gaoya16 commented on #75572
yes, i have checked that:
i have three nodes:
128-195-0-1 Ready 166d v1.10.0
128-195-0-2 Ready 165d v1.10.0
128-195-0-3 Ready 166d v1.10.0
and the pod run on 128-195-0-2, ip is 172.18.1.5;
and in pod, i curl 128.195.0.2:8888, it failed
but in another pod run on 128.195.0.1 or 128.195.0.3, i curl 128.195.0.2:8888, will be success;

And i have checked the iptables, and did not find some wrong

thank

[2019-03-29 02:51] danielqsj commented on #75842
@farmer-hutao oops, I just notice your message. I already submitted a PR for this.

[2019-03-29 02:59] cofyc commented on #75326
/assign

[2019-03-29 03:11] pswica commented on #75572
This is a pretty tough issue then! Can you at least ping the node from the pod? Can you ping it by both IP and DNS name?

[2019-03-29 03:22] logicalhan commented on #75839
This is a good point. However, if we really did want to use it for this purpose, it would be better if the gauge metric reported '0' for success or else the current running count of failures for a given prober endpoint. With the current implementation, we are needlessly dropping some bits.

It may be useful to have both. One can provide a more real time signal for alerting but the other gives you

[2019-03-29 03:24] gaoya16 commented on #75572
ping is ok， in pod, ping host or other pod, all is ok.
and in the pod on 128.195.0.2, can curl 128.195.0.2:9999(another service provided by another pod), so i mean that the pod cant curl the service itself provide by the host:port, and the host is the pod where it is running, but in the pod can curl pod_ip:port.

[2019-03-29 03:42] logicalhan commented on #75839
@hulkholden, do you have a preference on gauge vs counter here?

[2019-03-29 04:39] #70330 closed

[2019-03-29 05:23] WanLinghao commented on #75832
where your cgroup fs mount?
`mount|grep cgroup`

[2019-03-29 05:51] simonferquel commented on #75837
Really good catch!

[2019-03-29 06:07] liuhaibo0303 opened #75870 "k8s 应用程序写日志导致容器内存使用率越来越高"
**What would you like to be added**:
我的环境：
kubernetes v13
promethues v2.4.3
granfana 5.2.4

我遇到的问题：
容器以hostpath方式挂载了宿主机的一个目录，容器内部的应用程序写日志到这个挂载的目录，运行了一段时间以后，我在grafana的监控页面发现容器占用的内存越来越多，但是进入容器以后发现应用程序占用的内存是正常的，查询了一些资料以后发现容器使用的cahce内存会被当做实际使用的内存，所以，当我删除一部分日志文件以后，监控显示容器的占用的内存就会降下来。
我想问下，如果grafana显示的内存=容器实际使用的内存+容器使用的cache内存，那么我在k8s的deployment中定义的容器内存最大限制岂不是随着时间的推移，越来越接近，最终会达到这个最大限制而导致我们的pod被kill掉

**W

[2019-03-29 06:17] anjuls commented on #62334
Having same issue on the master node. The resources are not getting deleted as the API server is unable to take new request. Kubelet is showing healthy though.

[code]

[2019-03-29 06:26] WanLinghao commented on #75870
First of all, please use English instead of Chinese.
The cache memory container using is still memory, I am not sure we should change this.
I guess the problem is you mount some vfs to the container like tmpfs. You should not do this.
/close

[2019-03-29 06:26] #75870 closed

[2019-03-29 06:47] caitong93 opened #75872 "Admission: PodSecurityPolicy should run after MutatingAdmissionWebhook"
**What happened**:

I have a psp in cluster which looks like
[code]
and I setup istio 1.1.0 with [default sidecar injection configuration](https://github.com/istio/istio/blob/1.1.0/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml).

I expected pod to be created successfully because capabilities required by istio injected containers are satisfied by the psp. (The psp is bind

[2019-03-29 06:48] caitong93 commented on #75872
/area admission-control

[2019-03-29 06:51] caitong93 commented on #75872
@kubernetes/sig-api-machinery-bugs

[2019-03-29 06:56] YoubingLi commented on #75854
ROLES column has been added in the output of "kubectl get node"

 kubectl get node
NAME      STATUS   **ROLES**    AGE    VERSION
ib22b06   Ready    <none>   192d   v1.11.3
ib22b08   Ready    master   193d   v1.11.3

[2019-03-29 06:58] llarsson commented on #9995
It seems to me that [this Istio Ingress Gateway issue](https://github.com/istio/istio/issues/6319) should be solvable out of the box if its NodePort Service could just bind to ports 80 and 443, for cases when you cannot use a cloud load balancer (such as on-prem clusters). Because then I should be able to point all my relevant DNS entries to my nodes and thus browsers would send the `Host` headers

[2019-03-29 07:42] #57325 closed

[2019-03-29 07:52] YoubingLi commented on #75854
Following command could get master node

NAME      STATUS   ROLES    AGE    VERSION
ib22b08   Ready    master   193d   v1.11.3

NAME      STATUS   ROLES    AGE    VERSION   LABELS
ib22b06   Ready    <none>   192d   v1.11.3   beta.kubernetes.io/arch=amd64,beta.kubernetes.io/os=linux,kubernetes.io/hostname=ib22b06
ib22b08   Ready    master   193d   v1.11.3   beta.kubernetes.io/arch=amd64,beta.kubern

[2019-03-29 07:58] farmer-hutao commented on #75842
It's ok~

[2019-03-29 08:01] shigy123456 commented on #75854
Thank you. I know you i can query slave nodes through label, but when you access apiserver through kubectl, can you access only slave nodes through role control?

[2019-03-29 08:02] prasann004 opened #75875 "Unable to access external IP from kubernetes cluster (Bare Metal)-1.14"
1) I am not able to connect my SQLSERVER database from the pods. I tried doing a telnet to 192.*.*.*  1433 and it connected.
logs: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections
2)My application

[2019-03-29 08:19] YoubingLi commented on #75854
@shigy123456

     The answer is "NO".

     BTW, a node Role is just a label.

[2019-03-29 08:28] hulkholden commented on #75839
For our purposes a counter makes much more sense, because we want to use it to figure out the proportion of time something was healthy (e.g. for calculating availability SLOs). It also means we can have a much higher fidelity measurement - e.g. we could ramp up the healthchecks to every 5s but only scrape the results every minute.

Can you point at some examples of people doing this, so I can bett

[2019-03-29 08:31] xichengliudui opened #75876 "Error initializing cluster query kubelet status"
**What happened**:
I used the `kubeadm init --kubernetes-version=v1.13.2` initial cluster, and after creating the `calico` plug-in, there was an error querying the kubelet status.(NOTE: Single-node cluster)
The query uses the following command:
`systemctl status kubelet`

**What you expected to happen**:
There is nothing wrong with my cluster.

**How to reproduce it (as minimally and precisely as

[2019-03-29 08:33] xichengliudui commented on #75876
/sig kubeadm

[2019-03-29 08:46] prasann004 opened #75877 "Unable to access External IP from pods in kubernetes(Bare metal)1.14"
1) I am not able to connect my SQLSERVER database from the pods. I tried doing a telnet to 192.*.*.*  1433 and it connected.
logs: A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections
2)My application

[2019-03-29 09:11] KrzysztofMadejski commented on #75832
It might have been that my OS didn't have full updates applied. I applied all pending updates and now it works, so it might have been the cause. I now have `Linux consul4 4.4.0-143-generic #169-Ubuntu`. So I'm closing the issue.

Currently the mount looks like following:
[code]

[2019-03-29 09:11] #75832 closed

[2019-03-29 09:39] yue9944882 commented on #75872
dup of #64333

admission ordering is still under discussion https://github.com/kubernetes/kubernetes/issues/64333#issuecomment-392934983

[2019-03-29 09:50] danielqsj commented on #75839
@hulkholden if the metrics value is 0 or 1, we can simple set prometheus rule as `metrics > 0 for x minutes` just like you mentioned.

[2019-03-29 09:57] MansoorMajeed commented on #54567
/remove-lifecycle rotten

[2019-03-29 10:30] sheerun commented on #57325
/reopen

W dniu pt., 29.03.2019 o 08:43 Kubernetes Prow Robot <
notifications@github.com> napisał(a):

[2019-03-29 10:47] bhack commented on #28272
Any news on this?

[2019-03-29 11:30] leopoldxx opened #75880 "one gpu card allocated to two pods"
**What happened**:
we observed that, on some nodes, the gpu card has been allocated to two pods.
[code]
[code]
` /dev/nvidia2` and  `/dev/nvidia3` are mounted into two pods separately.

i investigate the code and  do some tests, find that the situation was caused by an upgrade from 1.10.5 to 1.11.6。

kubelet 1.10.5 and kubelet 1.11.6 have different device-plugin checkpoint struct, kubelet 1.11.6 c

[2019-03-29 11:46] #66563 closed

[2019-03-29 11:56] xmudrii commented on #65442
/remove-lifecycle stale

[2019-03-29 12:02] george-angel commented on #60665
/remove-lifecycle rotten

[2019-03-29 12:09] zhang-shengping opened #75881 "curl Kubernetes with serivceaccount token, it always returns “Unauthorized”"
I used kubeadm to set up a kubernetes.

I used a YAML file to create serviceaccount, role and rolebindings to the serviceaccount.

Then I curl the pods in the default namespace, the kubernetes always returns "Unauthorized"

I checked the `--service-account-key-file=/etc/kubernetes/pki/sa.pub` and ` --service-account-private-key-file=/etc/kubernetes/pki/sa.key`, they have already set as parameters

[2019-03-29 12:47] #70417 closed

[2019-03-29 12:48] wojtek-t commented on #75833
This is the graph that I had on my mind, but yeah, it's more like 4x not 10x. But still quite huge drop:
![Screenshot from 2019-03-29 13-46-32](https://user-images.githubusercontent.com/10743879/55233585-5550b480-5229-11e9-941a-8a96b53e97f0.png)

[2019-03-29 13:00] kivagant-ba commented on #73628
[code]

I'm trying to install a new service with the type=ClusterIP and getting the error:

[code]

What am I doing wrong?

[2019-03-29 13:04] nikhita commented on #68466
Just replied to your slack message :)

On Thu, Mar 21, 2019 at 12:57 PM Shaw Ho <notifications@github.com> wrote:

[2019-03-29 13:08] #71164 closed

[2019-03-29 13:13] s-pace commented on #67940
👋 @wgliang

Happy to provide any help to enhance the search experience. Let me know if you need a PR or if you have any feedback.

/remove-lifecycle stale

[2019-03-29 13:13] krisdock opened #75886 "Enforce minimum kubectl version on API server"
**What would you like to be added**:
Would like to see a mechanism added to the kube-apiserver for enforcing a minimum kubectl version.

**Why is this needed**:
To protect both the cluster and end users in light of the recent kubectl CVE.

[2019-03-29 13:19] #75881 closed

[2019-03-29 13:24] krisdock commented on #75886
/sig cli

[2019-03-29 13:39] IRDonch commented on #66450
I found another case where `kubectl apply` will always report `configured`, even if the definition is unchanged. Try this file:

[code]

Running in verbose mode reveals that every time `kubectl` tries to apply the following patch:

[code]

This can be worked around by explicitly adding `type: RollingUpdate` to the `strategy` map, but I would still consider it a bug.

(This is with kubectl v1.14.0,

[2019-03-29 14:03] reyou commented on #69687
This use case seems like very close problem what https://kubeless.io/ is resolving.
Scaling from 0 Pod to N Pods.

I would really would like to have this feature in K8S natively, but meanwhile people who are seeking immediate solution may have take a look into this one.

Disclaimer: I haven't tried it yet.

[2019-03-29 14:22] yingqiaoshop commented on #59485
Maybe, the OpenAPI specification could allow a pattern to be defined on the key of a dictionary.

[2019-03-29 14:58] liggitt commented on #75837
workaround added in https://github.com/kubernetes/kubernetes/pull/75887 until we pick up a fix from golang

[2019-03-29 15:00] m-aciek commented on #13488
kubectl set env deployment mydeployment --env="LAST_RESTART=$(date)" --namespace ...

seems to be minimal command that does the job. It is example of use of imperative configuration.

[2019-03-29 15:02] qinzhao168 commented on #43856
3月 29 22:52:08 k8s-116 kubelet[28613]: F0329 22:52:08.775687   28613 kubelet.go:1359] Failed to start ContainerManager failed to initialize top level QOS containers: failed to update top level Burstable QOS cgroup : failed to set supported cgroup subsystems for cgroup [kubepods burstable]: Failed to find subsystem mount for required subsystem: pids

reboot can slove

[2019-03-29 15:30] benishak opened #75889 "unready pods in service endpoints"
**What happened**:

I created a service from a DaemonSet and I set readinessProbe on one of my containers
I can see the status of the pod being like this
[code]

with Ready: False when I describe it

but when I describe the service I can see that the Endpoints is having the IP of the Pod altho it is not yet ready!

**What you expected to happen**:

Unready Pods should not appear in the Endpoints o

[2019-03-29 15:36] benishak commented on #75889
/sig architecture

[2019-03-29 15:45] lbernail opened #75890 "Mark nodes as "NotReady" until critical pods from daemonsets are Ready"
**What would you like to be added**:
An extension to node conditions that would mark them NotReady until critical pods from daemonsets are running (maybe a CriticalPodsReady or DaemonsetsReady similar to the NetworkReady condition).

**Why is this needed**:
When using cluster-autoscaler, application pods are immediately scheduled when a node starts and sometimes they start before local pods from d

[2019-03-29 16:34] liggitt commented on #75448
Given that updates to storageclass objects are forbidden, delete and recreate is the only tool a cluster admin has to change a parameter in a storageclass (if they `kubectl apply` a change today, I think that happens automatically, actually). I'm hesitant to break that by adding a finalizer, making what was intended to be a delete/recreate operation hang.

Deleting a storageclass does not cause da

[2019-03-29 16:35] liggitt commented on #75448
I would not be in favor of adding this feature, but will defer to sig-storage

[2019-03-29 16:42] krzysied commented on #75833
Reproducing the issue:

1. Checkout kubernetes repo - https://github.com/kubernetes/kubernetes.git.
- First broken version 36e934d0a9a004a5f6c0a06e22e89ec4fe583b6a (go1.12)
- Last working version 8c95a07b4bf179fd64a84215e041401a313ce0f6 (go1.11)

2. Checkout perf-tests repo - https://github.com/kubernetes/perf-tests.git.
 This repo is home for clusterloader2 - tool used for running the scalability

[2019-03-29 16:58] Joseph-Irving commented on #75890
We very recently made a controller to deal with this exact issue. https://github.com/uswitch/nidhogg tainting the node if certain daemonset pods haven't been scheduled and are ready yet.

[2019-03-29 17:04] lbernail commented on #75890
@Joseph-Irving Very nice. I'll definitely have a look. It would be great to have it natively in kubernetes but this would work in the meantime (and if the feature is not accepted of course)

[2019-03-29 17:11] yastij commented on #75890
cc @kubernetes/sig-scheduling-feature-requests @kubernetes/sig-node-feature-requests

I think this is something worth exploring. This can be tied to priorityClass: mark nodes with a specific condition until pods of a specific priorityClass are running on the node.

[2019-03-29 17:23] Huang-Wei commented on #75890
I like the idea. We have [pod ready++](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0007-pod-ready%2B%2B.md), why not node ready++?

[2019-03-29 17:29] yastij commented on #75890
/assign

I’ll brainstorm with @lbernail and see if can come up with a KEP to kickoff discussions.

[2019-03-29 17:31] logicalhan commented on #75839
Yes, I agree that the alert rule would be simple but it also feels prone to be noisy (as @hulkholden mentioned). A failed probe is not necessarily alert-worthy, since the kubelet defers action until the [failureThreshold is reached](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes); by default, the kubelet doesn't do anything until we h

[2019-03-29 18:57] ddebrecenijr commented on #75379
Confirmed to work.  It was an oversight on my part with nesting imagePullSecrets inside the containers array.

[2019-03-29 19:22] sheerun commented on #70147
The "[Configuring Nodes to Authenticate to a Private Registry](https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry)" feature of kubernetes that allegedly solves global registry authentication comes with severe disadvantages that make it unusable on most of cloud kubernetes platforms:

It also doesn't solve sharing other credentials globall

[2019-03-29 19:43] cleverguy25 opened #75899 "Allow support for pluggable secret storage"
I would like to see support for a pluggable secrets storage/retrieval.  I have seen [other issues](https://github.com/kubernetes/apiserver/issues/43) asking for the entire backend storage system to be pluggable, but that is overkill compared to what I am proposing.  Basically I want to manage secrets in AWS secrets manager, Azure KeyVault, Vault or whatever, and just refer to them from in the k8s

[2019-03-29 20:02] #75830 closed

[2019-03-29 20:14] ygalblum-stratoscale commented on #75701
We're experiencing the same issue on CentOS for 1.11, 1.12, 1.13 since about the day that 1.14 was released. Our workaround was to pin the CNI version to 0.6.0 (as suggested above). But, reading this thread, I couldn't understand if it is recommended to use 0.6.0 or 0.7.5.

If it's 0.6.0, it seems that pinning the version is the way to go. But, it it's to use 0.7.5 since the installation fails, an

[2019-03-29 20:29] ygalblum opened #75902 "Kubeadm: Allow overriding KubeletRunDirectory"
**What would you like to be added**:
Currently, the user can change kubelet's run-time directory by setting "root-dir" in the kubeletExtraArgs field of nodeRegistration object. While this flag does alter kubelet's behavior, kubeadm still writes the configuration files for kubelet under /var/lib/kubelet.

So, kubeadm should have its own parameter for the kubelet run-time directory to which it will

[2019-03-29 20:35] guillaume-eb commented on #39792
I have a use case for this as well.
We have an nginx pod with different configurations depending on the hostname other apps hit it with.
We can't use `HostAliases` on the other pods, since we don't know the IP address of the nginx pod in advance.
In Docker and docker-compose we would use `--link` with a custom hostname.

[2019-03-29 21:27] madhanrm commented on #75319
For CRI ContainerD, the currently chosen logging option is to use ETW tracing on Windows.

You can have a look at https://github.com/Microsoft/go-winio/tree/master/pkg/etwlogrus and https://github.com/Microsoft/windows-container-networking/commit/803ba118979a8f99b098f664a3c8a8a98b8c9f19 to see how its implemented and used to re-route the logging to windows etw tracing

The same can be done for Klo

[2019-03-29 21:43] yujuhong commented on #75319
@madhanrm I'm curious. What was the reason for choosing ETW tracing as the logging solution?

[2019-03-29 22:04] madhanrm commented on #75319
I might be complete here on saying that the chosen option for ContainerD is only ETW. There might be other options as well.

Most of the windows components use ETW tracing & Event Log Tracing. ETW tracing would have all the tracing from the components and is usually too verbose to log in production environment. So to investigate  issue that can be repro'd in a small window, etw tracing is very use

[2019-03-29 22:21] mtaufen opened #75906 "Windows docs claim MountPropagationHostToContainer is supported, but internals suggest otherwise"
**What happened**:

Windows documentation [here](https://github.com/kubernetes/website/blob/master/content/en/docs/setup/windows/intro-windows-in-kubernetes.md) claims:

However, the internals suggest otherwise; `runtimeapi.MountPropagation_PROPAGATION_PRIVATE` is always returned on Windows:
https://github.com/kubernetes/kubernetes/blob/484043a6d15973e20e35405a3acab862bc75ad5f/pkg/kubelet/kubelet_

[2019-03-29 22:24] afield-sfdc opened #75907 "Two consecutive dollar signs in env translate to single dollar sign."
I have an env var like so

[code]

kubectl shows

[code]

When my container runs I see `TEST_FOO=$WHAT`

Possibly this is working as designed, but I don't see it documented anywhere.

[2019-03-29 22:28] afield-sfdc commented on #75907
kubectl version
[code]

[2019-03-29 22:31] yujuhong commented on #75906
/cc @jingxu97

[2019-03-29 22:45] yujuhong commented on #75906
/cc @kubernetes/sig-windows-bugs

[2019-03-29 22:49] yujuhong commented on #75828
I think we should reconsider this to avoid maintaining/vendoring yet another repository, or at least until we're sure that they should be moved out.

@Random-Liu what do you think?

[2019-03-29 22:57] #70454 closed

[2019-03-29 23:28] jingxu97 commented on #75906
I think the doc is not accurate. The kubernetes.io doc https://kubernetes.io/docs/setup/windows/ claims the same thing.

For MountPropagationHostToContainer option, we can test it whether it is working or not.

[2019-03-29 23:33] neolit123 commented on #75907
/triage support
/sig node

i think it's how variables can be escaped in the Downward API.
https://docs.openshift.com/container-platform/3.6/dev_guide/downward_api.html#dapi-escaping-environment-variable-references
although escaping any `"$$"` sequence in a random string such as `"$$A$$B$$" -> "$A$B$"` seems a bit odd.

[2019-03-29 23:36] neolit123 commented on #75902
please re-open the ticket in kubernetes/kubeadm
thanks.

/close

[2019-03-29 23:36] #75902 closed

[2019-03-29 23:39] neolit123 commented on #75876
this is more of a calico problem than kubeadm.
but you can try opening the ticket in https://github.com/projectcalico/cni-plugin and post the exact version of the plugin to get feedback.

i think i've seen this before but never asked the calico maintainers about the exact reason.

thanks.
/close

[2019-03-29 23:39] #75876 closed

[2019-03-29 23:40] neolit123 commented on #75850
/close

this is already tracked here:
https://github.com/kubernetes/kubeadm/issues/1470

and the fix will be available in 1.14.1 and 1.15.0.

[2019-03-29 23:40] #75850 closed

[2019-03-29 23:42] neolit123 commented on #75877
/remove-kind failing-test
/triage support
/sig network

[2019-03-29 23:42] neolit123 commented on #75875
/close
duplicate of https://github.com/kubernetes/kubernetes/issues/75877

[2019-03-29 23:42] #75875 closed

[2019-03-29 23:46] thockin commented on #72236
@m1093782566 do you think this is the same as the overly-loose "local" matching for hostPorts or something else?  Do you have a diagnosis for this?

@emptywee I can not reproduce this in iptables mode at all

@fasaxc Any way to get you to test against 1.14 (which should have all the latest fixes in place)?

[2019-03-29 23:48] thockin commented on #72522
CNI 0.7.5 puts HOSTPORT at the end of the chain - this should be resolved now

[2019-03-29 23:48] #72522 closed

[2019-03-30 00:26] liggitt commented on #75907
See documentation at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#envvar-v1-core

/close

[2019-03-30 00:26] #75907 closed

[2019-03-30 00:27] derekwaynecarr commented on #75774
@dims - is there a specific security concern?  the runc fixes are at the runtime level, kubelet also vendors runc for its usage.  I’m not against this, I just want to understand.  Will dig into commits.

[2019-03-30 00:28] liggitt commented on #75872
closing as a duplicate

/close

[2019-03-30 00:28] #75872 closed

[2019-03-30 00:29] liggitt commented on #75872
Ordering is in the list of items to be addressed for webhook GA, and is tracked in https://github.com/kubernetes/kubernetes/issues/73291

[2019-03-30 00:33] #74930 closed

[2019-03-30 00:55] liggitt commented on #75889
/remove-sig architecture
/sig network

[2019-03-30 00:56] liggitt commented on #75802
/sig node
/remove-sig architecture

[2019-03-30 01:21] m1093782566 commented on #72236
@thockin

I don't think it's same as the hostPorts issue. The root cause is we bind ClusterIP to `kube-ipvs0` interface in the host. However, if we don't bind the ClusterIP to the interface, IPVS won't work.

I am not sure if we can drop the packets?

[2019-03-30 02:06] liggitt commented on #75854
No, labels are not included in attributes available to the authorization layer. Only immutable attributes like API group, resource type, name, and namespace are able to be used for authorization

[2019-03-30 02:06] #75854 closed

[2019-03-30 02:10] rickypai commented on #74265
@thockin @bowei the 1.15 development cycle just started. If you think the proposal is reasonable, I can own the implementation. Thanks a lot!

[2019-03-30 07:05] zatricky commented on #45459
@ducttapecoder-vt It was both. But also that was a long time ago.

[2019-03-30 07:22] shigy123456 commented on #75854
@liggitt  How to configure pod to operate on only one namespace ?

[2019-03-30 07:41] js00070 commented on #74262
I have the same issue on CentOS 7, kubernetes 1.14.0.

[2019-03-30 08:00] kiall commented on #23880
I pushed a PR which adds this functionality #75831 .. It's working great with Azure and MetalLB, while the OpenStack CPI needs some work, but can support it.

Given HTTP3 is forming around QUIC, this is going to be an important feature - supporting both TCP and UDP on LB's for port 443 will be necessary to run this in Kubernetes.

[2019-03-30 09:21] WanLinghao opened #75913 "Replicaset controller bug: continuously creating pod to tainted nodes"
**What happened**:
 When replicaset want to assign its pods to one specific node(`rs.Spec.Template.Spec.NodeName != ""`),if that node was tainted, vicious circle would happen:
    Replicaset controller keeps creating pods. Taint manager keeps deleted thosee pods.

**How to reproduce it (as minimally and precisely as possible)**:
Creating a Deployment
[code]
Then taint the foo-node
`kubectl taint n

[2019-03-30 09:26] WanLinghao commented on #75913
/sig scheduling

[2019-03-30 09:57] #75776 closed

[2019-03-30 10:20] michmike commented on #75906
i created two PRs to address the documentation gap. we will also test this and get back to this thread.

[2019-03-30 10:21] js00070 commented on #74262
I checked /var/log/messages and find some information which may be helpful

`Mar 30 17:51:49 k8s-master kubelet: I0330 17:51:49.259889    2892 kubelet_node_status.go:72] Attempting to register node k8s-master
Mar 30 17:51:49 k8s-master kubelet: E0330 17:51:49.260454    2892 kubelet_node_status.go:94] Unable to register node "k8s-master" with API server: Post https://192.168.2.180:6443/api/v1/nodes

[2019-03-30 11:07] lbernail commented on #72236
Yes, IPVS hooks in the LOCAL_IN netfilter chain so clusterIPs have to be considered local by the kernel (ILB IPs on gcp behave the same by adding ILB internal IPs to the local route table: all host services are accessible on the internal IP).

I think the only way to prevent this is to filter traffic in the INPUT chain. We probably have everything we need in ipsets already. My only concern is the

[2019-03-30 11:48] yeya24 commented on #74262
This problem is because kubelet cannot connect to api-server. I solved this by setting an api-server advertised-address to 0.0.0.0. You can set this in kubeadm config file or kubeadm init --apiserver-advertise-address=0.0.0.0

[2019-03-30 11:58] js00070 commented on #74262
@yeya24
I set --apiserver-advertise-address=0.0.0.0 but it doesn't work

[2019-03-30 12:05] yeya24 commented on #74262
@js00070  Can you show your kubeadm config or starting commands?

[2019-03-30 12:10] js00070 commented on #74262
@yeya24
my starting command is
`kubeadm init --apiserver-advertise-address=0.0.0.0 --pod-network-cidr=10.244.0.0/16`

and this is my `docker ps` output after kubeadm init failed

`CONTAINER ID        IMAGE                  COMMAND                  CREATED             STATUS              PORTS               NAMES
63e163b429c6        00638a24688b           "kube-scheduler --..."   11 minutes ago

[2019-03-30 12:18] yeya24 commented on #74262
Yes. Kubelet was trying to connect to apiserver. Looks like your etcd is not running and apiserver depends on etcd. So check this etcd and apiserver container first.

[2019-03-30 12:27] js00070 commented on #74262
@yeya24
I prepared all the images needed by k8s before `kubeadm init` using `docker load`

REPOSITORY                           TAG                 IMAGE ID            CREATED             SIZE
k8s.gcr.io/kube-proxy                v1.14.0             5cd54e388aba        4 days ago          82.1 MB
k8s.gcr.io/kube-scheduler            v1.14.0             00638a24688b        4 days ago          81.6

[2019-03-30 13:04] yeya24 commented on #74262
Kubelet checks staticpodpath to start these components, including apiserver and etcd. Apiserver once started but because of some problem, it paniced and existed. Then kubelet will start it again.Can you find these existed containers using `docker ps -a` and see their logs?

[2019-03-30 13:23] yongfa365 commented on #44308
/kubɚ’nɛtɪs/

[2019-03-30 13:23] js00070 commented on #74262
@yeya24
`docker ps -a` shows
"kube-apiserver --..."   2 minutes ago       Exited (255) About a minute ago
"etcd --advertise-..."   4 minutes ago       Exited (1) 4 minutes ago

`docker logs k8s_kube-apiserver_kube-apiserver-k8s-master_kube-system_ef53071b938efe93be17b4ce068489ce_8` shows

Flag --insecure-port has been deprecated, This flag will be removed in a future version.
I0330 13:15:59.270396

[2019-03-30 14:01] Stono opened #75918 "GKE: NFS PV's don't recover NFS reconnect: Stale file handle"
**What happened**:
Following the restart of an NFS server, pods with PersistentVolumes mounting the NFS shares get stuck with a `Stale file handle`

This can be observed on the node:

[code]

In dmesg you can see:
[code]

Restating the pod, causing an umount and mount resolves the issue.

PV Template:
[code]

The export definition on the server is:
[code]

**What you expected to happen**:
When the

[2019-03-30 14:03] js00070 commented on #74262
it seems that the problem is in etcd, I check the source code of etcd (https://github.com/etcd-io/etcd)
and find in etcdmain/etcd.go:line 564
`
// identifyDataDirOrDie returns the type of the data dir.
// Dies if the datadir is invalid.
func identifyDataDirOrDie(lg *zap.Logger, dir string) dirType {
	names, err := fileutil.ReadDir(dir)
	if err != nil {
		if os.IsNotExist(err) {
			return dirEmpty

[2019-03-30 14:03] Stono commented on #75918
@kubernetes/sig-storage-bugs

[2019-03-30 14:23] Semoar commented on #73628
A `Loadbalancer` implies (at least) one `NodePort` service (also see https://github.com/kubernetes/kubernetes/issues/66621)

[2019-03-30 14:49] yeya24 commented on #74262
These codes you show are master branch of etcd and you should checkout etcd 3.3.10.
Here is the error in etcd 3.3.10. I think you should check this dir **/var/lib/etcd** first.
[code]

[2019-03-30 14:54] liggitt commented on #75854
Permissions can be granted in a single namespace with a RoleBinding in that namespace. The API calls to only look up objects within that namespace (as opposed to looking up objects across all namespaces) would have to be supported by the application

[2019-03-30 15:16] Stono commented on #75918
Also tested on `v1.12.5-gke.10` - same issue

[2019-03-30 15:54] saschagrunert opened #75919 "Container build interface"
Hey 👋, if you think this is totally out of scope of Kubernetes feel free to close this one.

**What would you like to be added:**
The idea is to have a container build interface similar to the container runtime interface. Different container build tools could implement it to provide native OCI compliant container build support within Kubernetes, handled directly by the Kubelet. The image build pro

[2019-03-30 15:56] saschagrunert commented on #75919
/sig node

[2019-03-30 16:41] #75842 closed

[2019-03-30 18:16] #70491 closed

[2019-03-30 18:58] chrischdi commented on #65879
We currently have it working on v1.9 to v1.12 using the following parameters:

[code]

[2019-03-30 19:40] liggitt commented on #75913
Probably a duplicate (or the same root cause) as https://github.com/kubernetes/kubernetes/issues/72593

[2019-03-30 21:29] neolit123 commented on #47163
/reopen
/lifecycle active

[2019-03-30 22:42] michelgokan commented on #29927
/reopen

[2019-03-30 22:45] michelgokan commented on #29927
This is an important issue as it makes cadvisor report tons of unnecessary information after a while (in my case cadvisor report reached 2.6MB!. It also makes housekeeping very costly.

[2019-03-31 01:20] liggitt commented on #75919
This was discussed at length in https://github.com/kubernetes/kubernetes/issues/1806#issuecomment-381787549 and closed as out of scope.

It looks like there was an effort to do something along these lines at https://github.com/containerbuilding/cbi

/close

[2019-03-31 01:20] #75919 closed

[2019-03-31 05:32] jgirdner commented on #33664
![64471948](https://user-images.githubusercontent.com/152565/55285194-ef0c8480-5343-11e9-9204-aff378d4328a.jpg)

Editing deploy scripts with the digest doesn't sound safe either. Just saying. Humans are humans. We make mistakes and could accidentally use the wrong digest.

[2019-03-31 09:59] underyx commented on #75683
For anyone looking for a workaround, I upgraded a 1.13.4 cluster to 1.13.5 successfully by upgrading kubeadm with `dpkg` like this:

[code]

I downloaded the `.deb` package from https://mirror.one.com/kubernetes/pool/.

This leaves `apt` in a confused state until everything else is upgraded with

[code]

[2019-03-31 10:05] onigirisan commented on #70179
@bholagabbar I have encountered the same problem. Have you solved it now?

[2019-03-31 11:27] captn3m0 commented on #65575
Since a lot of people on this thread are running a downgraded version of kubectl, please note that there is a new security release out for kubectl:

https://discuss.kubernetes.io/t/announce-security-release-of-kubernetes-kubectl-potential-directory-traversal-releases-1-11-9-1-12-7-1-13-5-and-1-14-0-cve-2019-1002101/5712

[2019-03-31 11:53] alok87 commented on #75801
/joke

[2019-03-31 11:53] alok87 commented on #75801
/joke

[2019-03-31 12:03] MazeChaZer commented on #56402
/remove-lifecycle stale

[2019-03-31 12:08] liggitt commented on #65575
Note that you are only affected if you make use of the `kubectl cp` command

[2019-03-31 12:38] alok87 commented on #75774
/lint

[2019-03-31 14:23] LzyRapx opened #75924 "the value of container 'smemory metrics is wrong"
**What happened**:
Just upgrade cluster to v1.13.4. Memory relevant metrics seems incorrect. In Pod spec, set limit to about 4Gi
[code]
**What you expected to happen**:
but the metrics `container_spec_memory_limit_bytes query` from cadvisor/promethues, result is about 8.56GB . As a result, the OOM behavior is incorrect. Beside `container_spec_memory_limit_bytes` the `container_memory_working_set_b

[2019-03-31 14:29] danwinship commented on #66819
/remove-lifecycle rotten
/lifecycle frozen

[2019-03-31 14:43] Kal-spj opened #75925 "kubectl get csr No resources found."
When I manually deployed k8s, after master and node were both completed, kubectl got CSR, showing "No resources found." this problem has troubled me for a long time, I hope to get help!!!

[2019-03-31 15:36] #70531 closed

[2019-03-31 15:37] shinytang6 commented on #73527
Hey @yashbhutwala , what's the status of this issue? Still work on that?

[2019-03-31 17:14] mucahitkurt commented on #74988
Hi @davidz627 , I would like to work on this issue, I think I'll apply the similar approach like #71581.

[2019-03-31 19:32] csafg2 opened #75927 "System pods are not getting correct IPs"
**What happened**:
`kube-system` pods are receiving IPs outside the specified `--pod-cidr` range.
All other pods are being addressed as expected, like this:

[code]
Also
[code]

**What you expected to happen**:
All pods to get an IP of type `10.244.0.X`.

**How to reproduce it (as minimally and precisely as possible)**:
Created a test cluster by following official docs.
1. `kubeadm init --pod-netw

[2019-03-31 19:36] #75852 closed

[2019-04-01 00:58] shigy123456 commented on #75854
@liggitt ok,thanks

[2019-04-01 01:12] toddbu commented on #72501
I'm seeing it in `v1.13.4`

[code]

The problem seems to be with a `:` appearing in the **source** name. For example, the following cp **from the host to the container** fails:

[code]

If, however, you replace the `:` in the source filename with the letter `x` then the following succeeds:

[code]

Note that it's ok to have a `:` in the destination filename. It's the source filename that seems to

[2019-04-01 01:23] hex108 commented on #72593
Similar problems:
https://github.com/kubernetes/kubernetes/issues/67874: Feature request: schedule pod to other kubelets if kubelet continuously rejects pod
https://github.com/kubernetes/kubernetes/issues/71662: Scheduler's predicates should be matched against kubelet

[2019-04-01 01:27] xichengliudui commented on #72956
/reopen

[2019-04-01 01:29] xichengliudui commented on #72956
@s-ito-ts, please don't use `Fixes`, use `Ref`.

[2019-04-01 02:40] js00070 commented on #74262
I checked /var/lib/etcd and found it is empty, that was the reason why `fileutil.ReadDir(dir)` return an error

I find a related issue here https://github.com/kubernetes/kubeadm/issues/69

[2019-04-01 02:47] vllry commented on #75925
/triage support

[2019-04-01 03:05] danielqsj opened #75929 "Failed to setup cluster via local-up-cluster.sh"
**What happened**:

Failed to setup cluster via `local-up-cluster.sh` in master branch.

[code]

Perhaps related with https://github.com/kubernetes/kubernetes/pull/75662.

@s-ito-ts @dims

**What you expected to happen**:

Run `local-up-cluster.sh` without error.

**How to reproduce it (as minimally and precisely as possible)**:

./hack/local-up-cluster.sh

**Anything else we need to know?**:

**E

[2019-04-01 03:06] danielqsj commented on #75929
/sig testing

[2019-04-01 03:17] imkin opened #75930 "pvc/ns deletion hangs after deletion of a resourceQuota when ResourceQuota Admission Controller is enabled."
**What happened**:

ResourceQuota Admission Controller is enabled and configured.
While cleaning up the Namespace sometimes deletion hangs indefinitely.
Found that the deletion was hanging because pvc is indefinitely in terminal state.

**What you expected to happen**:

namespace and pvc cleaned up successfully.

**How to reproduce it (as minimally and precisely as possible)**:

k8s version 1.14.0

[2019-04-01 03:19] imkin commented on #75930
/sig api-machinery
/sig cli

[2019-04-01 03:32] kkarthee commented on #23562
I am having same issue with my bare metal kubernetes cluster ,

[code]

[2019-04-01 04:15] imkin commented on #75930
The controller-manager logs show

[code]

[2019-04-01 05:09] WanLinghao commented on #75929
Same error happens in my environment

[2019-04-01 05:31] mrballcb commented on #69799
We have a Jenkins stack with a large jenkins home directory for the master on an EBS volume (not large in size, but large in number of files).  When the jenkins master restarts, it takes about 8 minutes for the pod to go from ContainerCreating to Running 0/1.  During that time we get several "Error: context deadline exceeded" messages.  We think it's selinux relabeling on this volume that's causin

[2019-04-01 05:41] zhiweiv opened #75934 "node's usageNanoCores missing from kubelet stats summary for Windows nodes"
**What happened**:
I am trying to make metrics-server 0.3.1 work on Windows nodes, cpu usage is missing due to the error `unable to get CPU for node "3228k8s00000000", discarding data: missing cpu usage metric` in metrics-server logs.

In https://github.com/kubernetes-incubator/metrics-server/blob/master/pkg/sources/summary/summary.go, it throws error for nodes which UsageNanoCores  is nil.
[code]

[2019-04-01 06:04] bholagabbar commented on #70179
@onigirisan What we did was run a bot that restarted our apps every 4 hours. Using this command https://github.com/kubernetes/kubernetes/issues/13488#issuecomment-446101458

This sort of resets the state, number of pods and memory consumption. This was the only temporary workaround we could find.

[2019-04-01 06:05] shay-berman commented on #66181
@yastij  any update on this? is it going to be part of 1.15?

[2019-04-01 06:08] shay-berman commented on #75448
ok

Then I think we should specify in the https://kubernetes-csi.github.io/docs/secrets-and-credentials.html that PV depend on storage class.
So k8s admin will be aware that he cannot delete PVC if its storage class is not exist (because all other operations can be done even if the storage class is not exist, except deleting PVC).

Thoughts?

[2019-04-01 06:13] pontiyaraja opened #75935 "Test coverage for pod quality of service"
**What happened**:
There is no complete test coverage for the Resource quality of service. There is only one test case is there for Guaranteed QoSClass. There is few important things to cover the test case,
Please refer the QOS [proposal doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/resource-qos.md)

**What you expected to happen**:
Test cases to cover

[2019-04-01 06:14] pontiyaraja commented on #75935
@kubernetes/sig-testing

[2019-04-01 06:15] pontiyaraja commented on #75935
/sig testing

[2019-04-01 07:09] pavel75 opened #75937 "kube-api container keep restarting with leader node failure"
**What happened**:
When leader node is down in 3 node HA cluster, kube-api host continue restating in loop in other 2 master node.

Kube-controll-manager showed following error.

error retrieving resource lock kube-system/kube-controller-manager: endpoints \"kube-controller-manager\" is forbidden: User \"system:kube-controller-manager\" cannot get resource \"endpoints\" in API group \"\" in the na

[2019-04-01 07:32] s-ito-ts commented on #75929
@danielqsj
Could you tell us more about error conditions?
  - What option did you specify to local-up-cluster.sh?
  - What version of bash do you use?

[2019-04-01 07:36] danielqsj commented on #75929
@s-ito-ts
1. no other options, just `hack/local-up-cluster.sh`
2. bash version: `GNU bash, version 4.3.48(1)-release-(x86_64-pc-linux-gnu)`

[2019-04-01 07:37] danielqsj commented on #75929
@s-ito-ts which env were you testing in your PR ?
Have you tested it in Linux environment ?

[2019-04-01 08:18] danielqsj commented on #75839
Yep, so with `for X minutes` in alert rule, it will not fire alert noisily.

/cc @brancz

[2019-04-01 08:18] jsafrane opened #75941 "fsType parameter is ignored in AWS StorageClass"
**What happened**:
In Kubernetes 1.12 and 1.13, AWS StorageClass parameters are parsed as case-sensitive (`fstype`) and [our example](https://kubernetes.io/docs/concepts/storage/storage-classes/#aws-ebs) with `fsType` does not work:

https://github.com/kubernetes/kubernetes/blob/b08e9b0b4de65d5173c94f6ec3831081a9bdcbca/pkg/volume/aws_ebs/aws_util.go#L120-L122

In 1.11 and older it was working OK (

[2019-04-01 08:18] jsafrane commented on #75941
/sig storage
/sig aws

[2019-04-01 08:18] sttts commented on #59485
There is no `patternProperties` in OpenAPI v3. It could be used to restricts keys.

[2019-04-01 08:20] sttts commented on #68466
Where is the PR?

[2019-04-01 08:23] tossmilestone commented on #68466
@sttts This is the PR go-openapi/validate#106, and I will submit a PR later in k8s.

[2019-04-01 08:25] SkeLLLa opened #75942 "Reduce default CPU requests of kube system services"
By default some system services request too much CPU resources:
* fluentd-gcp (100mCPU)
* kube-dns (260mCPU)
* heapster (138mCPU)

However their real life those services consume maximum 10mCPU. And such requests doesn't allow to create small clusters. Also services mentioned above are running on all pods in cluster pool.

[2019-04-01 08:27] brancz commented on #75839
All the facts have already been stated, I'm in favor of removing the gauges and add counters (I don't see a state that we can't interpolate from the counter that the gauge displays today, yet the counter is more reliable in alerting aspects as mentioned).

[2019-04-01 08:36] andor44 commented on #69799
A temporary fix if you're okay with compiling your own kubelet is to change `SupportsSELinux` to `false` [here](https://github.com/kubernetes/kubernetes/blob/997d5182d0508d29612223fad9e2d10d3de73877/pkg/volume/rbd/rbd.go#L817).

[2019-04-01 08:39] sttts commented on #75777
This is just too verbose logging. We have nothing better than polling of the delegation chain for changes. But the good thing is that with etags this should not be heavy on the CPU because nothing is recomputed (and if it is, it would be a bug).

[2019-04-01 08:41] danielqsj commented on #75839
@brancz sure.
As a counter, how to represent successful probe?
If the probe is successful, no action is taken, otherwise plus 1 to this metrics ?

[2019-04-01 08:42] k82cn commented on #75913
Why not use `nodeSelector` or `nodeAffinity`? So scheduler will help to check taint and make sure Pod'll be bound to the target node when it's ready.

[2019-04-01 08:44] k82cn commented on #75913
IMO, a bit different with #72593 ; this issue sets `rs.Spec.Template.Spec.NodeName` to a node (which skip scheduler) and taint the node with `NoExecute` :(

[2019-04-01 08:45] dixudx opened #75945 "tokenCleaner Informer is slowing down apiserver"
**Why is this needed**:

Lately we enabled `tokenCleaner` in controller-manager and found this.

![image](https://user-images.githubusercontent.com/5449021/55313690-fd20e900-549a-11e9-982f-4a75cafb771c.png)

`Secrets` are pulled frequently and the response payload of each request is about 10MB. Actually current informer for `tokencleaner` will list all secrets in all namespaces. This should be avo

[2019-04-01 08:46] dixudx commented on #75945
/assign

[2019-04-01 08:53] s-ito-ts commented on #75929
@danielqsj

I tested in the following environment.

GNU bash, version 4.4.19(1)-release (x86_64-pc-linux-gnu)
Ubuntu 18.04

[2019-04-01 08:55] csafg2 commented on #75927
This was an issue with flannel which got resolved [here](https://github.com/issues). closing..

[2019-04-01 09:10] #75877 closed

[2019-04-01 09:11] k82cn commented on #71662
Regarding to PR, please try `RegisterMandatoryFitPredicate`; I'm ok to enhance that.

[2019-04-01 09:43] WanLinghao commented on #75913
@k82cn I agree that we should use nodeSelector or nodeAffinity, but this is still open for users right? Users could still choose setting rs.Spec.Template.Spec.NodeName to schedule pods to specific node. Or maybe we could disable this function and hint users to use nodeSelector or nodeAffinity instead?

[2019-04-01 09:45] sandeep-krishnan commented on #73111
+1

[2019-04-01 09:49] brancz commented on #75839
I'm thinking something along the lines of:

[code]

[2019-04-01 09:51] surajssd commented on #69146
Closing since it seems to have been fixed now

[code]

[2019-04-01 09:51] #69146 closed

[2019-04-01 09:55] Arslanbekov commented on #54967
Similar error, kubelet `1.12.1`

[2019-04-01 10:00] k82cn commented on #75913
Any real use case that `nodeSelector` or `nodeAffinity` can not meet requirement?
If we consider it as security/hacker issue, I'm ok to have a feature check it, and the feature should be configurable.

[2019-04-01 10:02] brancz commented on #75779
I think for various reasons it's good to not use a global metrics registry. I'm all for this. Ideally I'd like to see a few milestones proposed as to how we can slowly refactor the codebase to move to an injected registry as opposed to a global one.

I think a solution that has been vaguely discussed before looked something along the lines of changing all references of `prometheus.DefaultRegistere

[2019-04-01 10:04] sttts commented on #75779
How would single-component-in-one-process metrics be published?

[2019-04-01 10:21] brancz commented on #75779
Still via a `/metrics` endpoint. The point is just that because the registry is global and metrics are registrered via init functions, random etcd metrics are registered onto the global metrics registry for a controller-manager process.

[2019-04-01 10:39] fieryvova commented on #54804
This hasn't been fixed AFAIK. This error is only related to kube-proxy containers.

[2019-04-01 10:49] wojtek-t commented on #75833
@kubernetes/sig-scalability-bugs

[2019-04-01 10:51] xiaoxubeii opened #75954 "Endpoints and pods information are inconsistent in pod ip"
**What happened**:
I used `StatefulSet` and `Service` to deploy pods and `subdomain` to make pods with independent and fixed dns domain, but sometimes I found endpoints and pods are inconsistent in pod ip. IP in pod status is same with pod container, but is different with endpoints.

**What you expected to happen**:
Pod ip in pod status is same with endpoint.

**How to reproduce it (as minimally a

[2019-04-01 10:51] xiaoxubeii commented on #75954
/sig api-machinery

[2019-04-01 10:59] wojtek-t commented on #75833
We're trying to dig deeper into it to both root cause it to a smaller part of the system, but it is quite tricky.
Unfortunately, we don't have much more than guesses right now, though.

Some observations:
- I looked into kubemark-5000 runs into DELETE pods calls, and it seems that all of them for which we have traces (500ms+) - there are ~5000 of those in each of recent runs [previously 99th perce

[2019-04-01 11:21] aliridha1510 opened #75955 "http: proxy error: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it."
C:\Users\username\Desktop\kub>kubectl.exe  proxy
Starting to serve on 127.0.0.1:8001
I0401 13:20:30.461961    5940 log.go:172] http: proxy error: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it

$ kubectl.exe config view
apiVersion: v1
clusters: []
contexts: []
current-context: ""
kind: Config
preferences: {}
users: []

[2019-04-01 11:27] zeppelinen commented on #63214
any updates or workarounds?

[2019-04-01 11:46] yaseenhamdulay opened #75957 "Cannot drain node with pod with more than one Pod Disruption Budget"
**What would you like to be added**:
When attempting to drain a node that has a pod scheduled on it with more than one PodDisruptionBudget the drain fails with the following message:
"Err: This pod has more than one PodDisruptionBudget, which the eviction subresource does not support."

It would be great if this was actually supported.

**Why is this needed**:
It is not possible to upgrade cluster

[2019-04-01 11:49] yaseenhamdulay commented on #75957
/sig apps

[2019-04-01 11:56] #70570 closed

[2019-04-01 12:30] neolit123 commented on #75955
please provide more details about your setup:
k8s version
windows version

/triage support
/remove-kind bug
/sig windows

[2019-04-01 12:32] neolit123 commented on #75942
/sig scalability
/sig cluster-lifecycle

[2019-04-01 12:33] Joseph-Irving commented on #75836
This problem is definitely related to node termination, it's trying to delete the already deleted pod from the node that's been terminated.

The problem seems to go away if `--feature-gates=ScheduleDaemonSetPods=false` is set, I think although this kind of race condition may have always been possible, it's being frequently caused via
[code]
Which is finding the non-existent pod in the pod cache an

[2019-04-01 12:38] neolit123 commented on #75937
please re-open the same ticket in kubernetes/kubeadm.
also please include information about your load balancer.

/area kubeadm
/close

[2019-04-01 12:38] #75937 closed

[2019-04-01 12:40] neolit123 commented on #75924
/sig instrumentation

[2019-04-01 12:41] aliridha1510 commented on #75955
$ kubectl.exe version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeState:"clean", BuildDate:"2018-11-26T14:38:32Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively re

[2019-04-01 12:44] avdhoot commented on #51785
Changing port(host/node) worked for me.

[2019-04-01 12:56] zzvara commented on #69213
It does not work for me.

[code]

I have to use privileged and go in manually to change it. `kubelet.env` contains the allowance for this unsafe `sysctl` namaspace. What else has to be done?

[2019-04-01 13:01] k8s-publishing-bot opened #75960 "kubenetes-godeps publishing bot is broken"
This issue is auto-updated by the k8s-publishing-bot when the (nightly) publishing process for godeps based versions fails. Only the last log output is available.

[2019-04-01 13:02] aliridha1510 commented on #75955
it is missing folder called . kube and config file  and then runs

[2019-04-01 13:02] #75955 closed

[2019-04-01 13:07] TimorKalerman commented on #56539
@ErikLundJensen you speak here about different regions... we need to understand what can be done if you  have a simple case of 1 region, when the anti-affinity is conflicting the rolling upgrade deployment

[2019-04-01 13:18] liggitt commented on #75913
there are many reasons a pod could be rejected by a node. I'd expect a replicaset in this situation to back off and attempt to create a pod on a slower interval, rather than try to make the scheduler and every pod-creating controller access all the info and replicate all the logic a node uses to decide whether to admit a pod

[2019-04-01 13:21] nikhita commented on #75960
/assign @nikhita @sttts @dims
/sig release
/area release-eng
/priority important-soon
/kind failing-test

[2019-04-01 13:22] cblecker commented on #75935
/remove-sig testing
/sig node

Specific test coverage is the responsibility of the sig.

[2019-04-01 13:36] nikhita commented on #75789
/cc @ixdy @BenTheElder

[2019-04-01 13:46] rramkumar1 commented on #73458
@rongyi Closing since the cherrypick was merged.

/close

[2019-04-01 13:46] #73458 closed

[2019-04-01 13:58] Zyqsempai commented on #75540
Sounds good to me, @juanvallejo what do you think?

[2019-04-01 14:09] simonferquel opened #75966 "[Build scripts] Parameterize Golang image version"
**Context**
As recently uncovered from issues like https://github.com/kubernetes/kubernetes/issues/75833, or https://github.com/kubernetes/kubernetes/issues/75833, updating the golang toolchain can lead to non-obvious but serious issues. To make it easier to test early new versions of the toolchains, and to allow anyone building its own Kubernetes distribution to choose the toolchain she wants to

[2019-04-01 14:10] simonferquel commented on #75966
/sig release

[2019-04-01 14:17] msau42 commented on #75918
/assign

[2019-04-01 14:19] yashbhutwala commented on #73527
@shinytang6 @wojtek-t @freehan I made a PR here: https://github.com/kubernetes/kubernetes/pull/75965.  Review/feedback/suggestions appreciated! :)

[2019-04-01 14:32] sttts commented on #75779
Because we have the apiserver dependency. That will go away when https serving moves to component-base.

Who aggregates the right metrics registries per process?

[2019-04-01 14:49] jtnord opened #75970 "incorrect result of auth can-i for namespaces"
[code]

**What you expected to happen**:

if `auth can-i` returns true I expect to be able to perform the action without issue.

Note in this case my service user has a rolebinding in a single namespace (and that is also what my kubecontext is set to.)  if I change my default to a different namespace then the command returns false

**How to reproduce it (as minimally and precisely as possible)**:

[2019-04-01 14:52] jtnord commented on #75970
/sig auth

[2019-04-01 14:58] brancz commented on #75779
There should only be 1 registry that is explicitly created by the component and explicitly passed down.

[2019-04-01 15:03] amq commented on #22368
Interesting fact: this is by far the most requested kubernetes feature based on emoji reactions among open _and_ closed issues on github.

[2019-04-01 15:03] dixudx commented on #64522
/remove-lifecycle rotten

[2019-04-01 15:09] jracollins commented on #45398
I have a solution that seems to be working well for me:

Similar to the `{{- if .Release.IsInstall -}}` workaround linked before, but with the ability to change on subsequent upgrades.

If you leverage [helm hooks](https://github.com/helm/helm/blob/master/docs/charts_hooks.md) to create the Pod Disruption Budget, you can delete and recreate it on every helm install/upgrade.

Just add these annotat

[2019-04-01 15:35] pmehdinejad commented on #39701
I'm having the same issue
kube-proxy is working properly
iptables is on.
I have no idea

[2019-04-01 15:42] pmehdinejad commented on #39701
Actually adding those lines in the .yaml file worked.

[2019-04-01 15:42] rdxmb commented on #75540
... also, the valid nodePort-range should be checked here.

[2019-04-01 15:52] msau42 commented on #75775
Let's restore this test to the original that was using StatefulSets.  I think we'll still want one test case that is using the StatefulSet zone spreading logic.

[2019-04-01 16:22] krsna1729 opened #75973 "[kubeadm] kubelet fails to start with featureGate KubeletPodResources: true"
**What happened**:
Tried enabling pod-resources feature gate via kubeadm. kubelet did not start.
[code]
[code]

**What you expected to happen**:
kubelet to start and kubeadm init to succeed

**How to reproduce it (as minimally and precisely as possible)**:
Use kubeadm init with the feature gate turned on as shown above. kubeadm init will not succeed. Check journalctl -xeu kubelet

**Anything else

[2019-04-01 16:23] thockin commented on #72236
I understand better now.  What happens is we install a :0 rule for the service IP and then a more specific port rule?  Does IPVS take the most specific match?  My testing is not working right now, not sure why...

[2019-04-01 16:26] krsna1729 commented on #75973
/sig node

[2019-04-01 16:27] blaketastic2 commented on #51096
Did anyone ever solve this?

[2019-04-01 16:27] logicalhan commented on #75839
Yeah, I was thinking along the same lines (i.e. using the result of the probe as a label).

[2019-04-01 16:40] brancz commented on #75839
Also now that we're talking about this and inspired by the metrics overhaul of 1.14, we should probably standardize these label values across Kubernetes. I'll add it to the next agenda.

[2019-04-01 16:43] krsna1729 commented on #75973
/cc @ahalim-intel

[2019-04-01 17:03] #75777 closed

[2019-04-01 17:55] ixdy commented on #75789
should be fixed by https://github.com/kubernetes/kubernetes/pull/75904 - @KatrinaHoffert can you please confirm?

[2019-04-01 17:59] DevasiaThomas commented on #75559
Okay, A system restart just fixed the behavior I was seeing. And I can't seem to reproduce the issue anymore. I'm closing this, will reopen this if I see it again down the line.

[2019-04-01 17:59] #75559 closed

[2019-04-01 18:02] alejandrox1 opened #75976 "[Failing Test] [sig-storage] PersistentVolumes Default StorageClass pods that use multiple volumes should be reschedulable [Slow] is failing in master-blocking"
**Which jobs are failing**:
`ci-kubernetes-e2e-gci-gce-slow` in [sig-release-master-blocking#gce-cos-master-slow](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-slow)

**Which test(s) are failing**:
`[sig-storage] PersistentVolumes Default StorageClass pods that use multiple volumes should be reschedulable [Slow]`.

See for example, [prow.k8s.io/view/gcs/kubernetes-jenkins/logs

[2019-04-01 18:35] rhockenbury opened #75978 "systemUUID is not set on Windows"
**What happened**:
The windows kubelet does not set .status.nodeInfo.systemUUID on the node object.

**What you expected to happen**:
The windows kubelet sets the systemUUID from `wmic csproduct get UUID`

**How to reproduce it (as minimally and precisely as possible)**:
Start the windows kubelet and check for UUID:
[code]
**Anything else we need to know?**:
This will affect users running the out-

[2019-04-01 18:36] rhockenbury commented on #75978
/sig windows
/sig vmware

[2019-04-01 18:48] smarterclayton commented on #74947
Changing the behavior of kube as it relates to 2 is a "semantic change" to the API of pods (a pod persists until the node is down).  You can't do that across the board for all apps without a) making it opt-in for cluster admins or b) making it opt-in for apps.  Otherwise existing apps that don't specify this value would see different behavior across clusters.

This has nothing to do with PV or Sta

[2019-04-01 19:22] liggitt commented on #75970
`can-i` asks the authorization system if the given verb can be performed on the given noun at the given scope. It does not interpret whether the resource exists at that scope. We could warn if we find the specified resource and it does not exist at the specified scope (just like we warn if you ask about a resource that we can't find), but we would still interrogate the authorization system and ret

[2019-04-01 19:23] manderson23 commented on #71510
Any plans to at least document that this is unused?

[2019-04-01 19:25] MikeSpreitzer opened #75980 "pvc_protection_controller queries local cache instead of apiserver(s)"
**What happened**:
After studying https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/postpone-pvc-deletion-if-used-in-a-pod.md I thought of an optimization and checked the current implementation to see if it is there.  Instead I found that the current implementation makes a critical mistake: it only checks the local cache and never the live apiserver(s) (see

[2019-04-01 19:52] Myslik opened #75981 "Kubectl plugin not working on Windows"
**What happened**: Running `kubectl hello` results in `not supported by windows`

**What you expected to happen**: `kubectl-hello.bat` from PATH gets executed

**How to reproduce it (as minimally and precisely as possible)**: Add `kubetl-hello.bat` somewhere to PATH

[code]

**Anything else we need to know?**:
Could it be related to this? https://github.com/golang/go/issues/30662

**Environment**:

[2019-04-01 19:53] Myslik commented on #75981
/sig cli

[2019-04-01 20:01] aaron-prindle opened #75983 "APIserver logs status code 200 instead of 500 for serialization errors"
**What happened**:
I submitted a request with a serialization error [(error location)](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go#L103)

The APIServer logged a 200 for the request even though the request had a serialization error and is a 500 elsewhere in the apiserver code:
[code]
full logs here: https://gist

[2019-04-01 20:03] aaron-prindle commented on #75983
/kind bug
/sig api-machinery
/priority important-longterm
/assign @aaron-prindle

[2019-04-01 20:14] fedebongio commented on #75930
/assign @yliaog

[2019-04-01 20:18] #73724 closed

[2019-04-01 20:19] #75812 closed

[2019-04-01 20:19] liggitt commented on #75945
do you have evidence that these two controllers specifically are responsible for the spikes seen?

[2019-04-01 20:28] lavalamp commented on #75945
I agree with @liggitt. I would expect this to just make it worse, as now it will poll all and additionally kube-system.

A better avenue to investigate might be to figure out why it is polling and not watching.

[2019-04-01 21:03] MikeSpreitzer commented on #75980
Yes, that happens before the start point of the scenario I outlined.

[2019-04-01 21:14] msau42 commented on #75976
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/75775

[2019-04-01 21:16] mansi-a commented on #75930
I'm working on a fix for this. Please wait for my pull request.

[2019-04-01 21:25] imkin commented on #75930
Thanks @mansi-a for looking into this.
/assign @mansi-a

[2019-04-01 21:37] mrunalp commented on #75929
We are seeing this issue on RHEL 7.

$ bash --version
GNU bash, version 4.2.46(2)-release (x86_64-redhat-linux-gnu)
Copyright (C) 2011 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>

This is free software; you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

[2019-04-01 21:39] MikeSpreitzer commented on #75980
Updated the original description to explicitly say that the PVC has the finalizer at the start of the scenario.

[2019-04-01 21:52] staticdev commented on #73140
I have this issue on the new v1.14.0 =/

[2019-04-01 22:04] imkin commented on #75930
@mansi-a ignore the robot. Please share your PR here and that should suffice.

[2019-04-01 22:14] ErikLundJensen commented on #56539
@TimorKalerman my response above might be a bit off topic of @liqlin2015 original question.

As @ricky1993 wrote: use DaemonSet if you want one pod per node.
You may use the node selector as described here if you only want the pods on some of the nodes:
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#running-pods-on-only-some-nodes
From my point of view DaemonSet will solve th

[2019-04-01 22:16] aojea commented on #75927
I guess this is not a bug, the pods that use the host network "use" the host IP address, in this case, it can be 192.168.56.10, 192.168.56.11 and 192.168.56.12

You can verify this with the following command
`kubectl --namespace=kube-system get pod kube-controller-manager-node1 -o yaml | grep hostNetwork`

[2019-04-01 23:02] neolit123 commented on #75601
list of the test/e2e deps after 1470df7a052eeed0 merged:
https://gist.github.com/neolit123/4798eba7addbe163324955751373bab3

current size of the suite is at 158MB.

[2019-04-01 23:12] lbernail commented on #72236
Yes there are two steps:
- every clusterIP is added to the kube-ipvs0 interface so traffic is locally delivered in the kernel
- we create and ipvs entry for every clusterIP:proto/port (virtual servers) and add each pod backing the service to the real servers for this virtual server

We require a local address because IPVS hooks into netfiler LOCAL_IN, but the consequence is that clusterIPs are val

[2019-04-01 23:12] ahalim-intel commented on #75973
This bug is reproducible with kubelet running with systemd as well.

Steps:
1. Stop kubelet
2. Remove `/var/lib/kubelet/pod-resources/` directory
3. Start kubelet

kubelet fails to start with error:  "Failed to create listener for podResources endpoint: listen unix /var/lib/kubelet/pod-resources/kubelet.sock: bind: no such file or directory"

[2019-04-01 23:13] ahalim-intel commented on #75973
submitted a fix #75991

[2019-04-01 23:21] saad-ali commented on #74988
SGTM

[2019-04-01 23:45] egernst commented on #75973
/test

[2019-04-02 00:10] mrunalp commented on #75929
I have opened https://github.com/kubernetes/kubernetes/pull/75994 as a possible fix.

[2019-04-02 00:31] Huang-Wei commented on #73572
/close

As all PRs have been cherrypicked.

[2019-04-02 00:31] #73572 closed

[2019-04-02 01:17] WanLinghao commented on #75970
/cc

[2019-04-02 01:30] moriyatiy opened #76000 "i had a k8s cluster ,but how to change kube-proxy mode from iptables to ipvs now?"
i had a k8s cluster now (version 1.12.3 ) ,but now i want to change the kube-proxy mode from iptables to ipvs without rebuilding the cluster.

[2019-04-02 01:37] BenTheElder opened #76001 "watch closed before UntilWithoutRetry timeout failures"
**What happened**: failures like:
[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance/1112855802516869120

https://testgrid.k8s.io/conformance-kind#kind,%20master%20(dev)

**What you expected to happen**: not this! it looks like a race / flake

**How to reproduce it (as minimally and precisely as possible)**: run the e2e tests

**Anything else we need to kno

[2019-04-02 01:38] BenTheElder commented on #76001
/sig api-machinery
(I think?)

[2019-04-02 02:29] liggitt commented on #75913
/close

backing off instead of continuously creating failing pods for a replicaset is a key part of #72593

[2019-04-02 02:29] #75913 closed

[2019-04-02 02:43] WanLinghao commented on #75913
@liggitt @k82cn   I feel uncomfortable that the pods would skip scheduler if their Spec.NodeName was specified, should we prevent this?

[2019-04-02 02:45] liggitt commented on #75913
no, that is working as designed

[2019-04-02 02:45] liggitt commented on #75913
if a particular cluster wants to prevent direct node assignment, that can be done in admission by forbidding creation of pods with spec.nodeName set

[2019-04-02 02:47] ddongchen commented on #64632
For this case, shall we take the following ways to avoid pod restarts when kubelet restart?
(1) we can use the default namespace prefix ,"Kubernetes.io/xxx" to avoid being zero out
(2) remove extended resource before kubelet start, and patch add again when kubelet started
   Both of the two ways can make pod with extended resource not evicted then kubelet restart

[2019-04-02 03:04] WanLinghao commented on #75913
@liggitt I am not meaning prevent specifying pod to specific node function. I mean we should prevent skipping scheduler. Maybe translate [specified node name] to [node selector]?

[2019-04-02 03:06] n1ce37 opened #76003 "client-go v10.0.0 is not compatible for api library latest, how can i find which versions are provied?"

[2019-04-02 03:06] liggitt commented on #75913
no, setting the node name intentionally skips the scheduling function

[2019-04-02 03:07] liggitt commented on #75913
there are mechanisms that allow targeting a single node via the scheduler if desired (daemonsets use that mechanism now), but forcing spec.nodeName to go through the scheduler is not backwards compatible

[2019-04-02 03:18] #72355 closed

[2019-04-02 03:24] vllry commented on #76000
@moriyatiy you should be able to change the kube-proxy startup arguments, without redeploying the cluster.

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/

[2019-04-02 03:25] Coderhypo commented on #76000
How are you configuring kube-proxy?
maybe you need find the config file first.

[2019-04-02 03:27] #76003 closed

[2019-04-02 03:42] liggitt commented on #72702
/close

a package gathering command line flag names adds complexity and indirection to the code, with little benefit

[2019-04-02 03:42] #72702 closed

[2019-04-02 03:55] niuqg commented on #72102
We have 3 master and 3 etcdservers, a workaround is to change the order of etcdservers.
**master0:**
[code]
**master1:**
[code]
**master2:**
[code]

[2019-04-02 04:11] logicalhan commented on #75779
I really like this idea and I think there are other reasons which would make us want these wrappers; specifically, I believe that having the ability to control the metric registration process is potentially quite powerful.

Definitely. One particularly interesting aspect to think (at least for me) about is opencensus tags when compared to prometheus labels. Would love to discuss that more at the n

[2019-04-02 04:44] tuananh commented on #58692
i cannot copy the file anywhere else. permission issue.

is there another workaround?

[2019-04-02 05:54] charuni2018 opened #76005 "How do I merge kubbeconfig files for multiple environment using token"

[2019-04-02 06:04] csafg2 commented on #75927
Oops, It seems that i missed that part of docs.

[2019-04-02 06:04] #75927 closed

[2019-04-02 06:47] zhiweiv commented on #75752
DefaultMetricsScrapeTimeout in metrics-server 0.2.1 is 20s, I increased it to 120s, now metrics-server can collect metrics from Windows nodes successfully.

[2019-04-02 06:56] mgdevstack opened #76007 "E2E Proposal: Verify tcpSocket property of v1.Probe along with success and failure threshold."
**What would you like to be added**:
A E2E to verify `core.v1.tcpSocketAction` resource along with probe's important properties like `successThreshold`, `failureThreshold`, and `periodSeconds`.

Note: following default values are in effect `delay=0s timeout=1s period=10s #success=1 #failure=3`

**Why is this needed**:
To improve API coverage based on Kind/Resources and their important properties.

[2019-04-02 07:03] mborsz opened #76008 "E2E: [sig-storage] PersistentVolumes Default StorageClass pods that use multiple volumes should be reschedulable [Slow]"
The test started failing on 2019-03-27:

Sample failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1112912925875507202

@kubernetes/sig-storage-bugs

[2019-04-02 07:03] dmccaffery commented on #69362
We are also experiencing this issue. If the node pool running the ingress controllers (or in this case, Istio gateways) is preemptible; the nodes are removed from the generated instance groups and the replacement nodes are not added to the IGs when they do come back online. We experience this in our development clusters where all nodes are preemptible.

[2019-04-02 07:03] mborsz commented on #76008
/cc @wojtek-t

[2019-04-02 07:03] dmccaffery commented on #69362
/reopen (not sure if this will work)

[2019-04-02 07:23] bgrant0607 commented on #13488
cc @monopole @apelisse

[2019-04-02 08:02] altblanc opened #76010 "encrypting etcd breaks default-token-xxxxx"
I set kubernetes cluster by kubeadm on my local ubuntu server. I tried to encrypt etcd by the same way as https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/ , then it breaks `/registry/secrets/default/default-token-xxxxx`

here is my encryption configuration file.

[code]

and after created it, I configured my kube-apiserver.yaml like below.

[code]

after restarting apiserver, `una

[2019-04-02 08:09] mmack opened #76011 "[Feature] kubectl top pods /nodes - add network traffic"
**What would you like to be added**:
It would be outstanding to see the network traffic for pods / nodes when doing a `kubectl top pods` or `kubectl top nodes`.

[code]

Something like
**Why is this needed**:
Better visibility of what's going on in your cluster.

@kubernetes/sig-cli-feature-requests

[2019-04-02 08:18] seirian commented on #54542
**Thanks for your commented.**

[2019-04-02 08:20] mmack commented on #76011
@kubernetes/sig-cli-feature-requests

[2019-04-02 08:26] altblanc commented on #76010
/sig node

[2019-04-02 08:35] altblanc commented on #76010
I found my encryption config doesn't have `identity: {}`. this issue should be closed :}

[2019-04-02 08:35] #76010 closed

[2019-04-02 08:36] #73249 closed

[2019-04-02 08:42] gliush commented on #56335
@dturn: if you're talking about my document, the work is being done here:
k8s PR with API changes:  https://github.com/kubernetes/kubernetes/pull/74525
KEP issue: https://github.com/kubernetes/enhancements/issues/853
KEP itself: https://github.com/kubernetes/enhancements/pull/883

[2019-04-02 08:49] mm4tt opened #76012 "Start running Probes in scalability tests"
Probes are supposed to be simple jobs running inside kubernetes cluster measuring SLIs that could not be measured through other means.

An example of a SLI that could be measured via Probe is the [In Cluster Network Latency](https://github.com/kubernetes/community/blob/master/sig-scalability/slos/network_latency.md) SLI.

[2019-04-02 08:50] mm4tt commented on #76012
/sig scalability
/assign

[2019-04-02 08:51] Jacksonary opened #76013 "worker node can not join to cluster[kubeadm]"
## BUG REPORT

## Versions

**kubeadm version** : v1.14.0

**Environment**:
- **Kubernetes version**: v1.14.0
- **OS**: CentOS Linux release 7.6.1810
- **Kernel**: 5.0.5-1.el7.elrepo.x86_64

## What happened?

&emsp; some wrong happened, when I try to deploy worker node to my cluster whith `kubeadm join ....`，anything do follows [Creating a single master cluster with kubeadm](https://kubernetes.io

[2019-04-02 08:55] astorath commented on #69362
/remove-lifecycle rotten
/reopen

[2019-04-02 09:05] mo-saeed commented on #71594
@feiskyer Do you have any updates here ?

[2019-04-02 09:09] rshiva777 commented on #20381
can anyone please tell me how to restart "kube-controller-manager"

[2019-04-02 09:11] feiskyer commented on #71594
The ETA of new VMSS APIs is mid April, and this issue would be fixed after that's available.

[2019-04-02 09:37] timlegrand opened #76015 "HPA not fetching custom metric of another deployment than the scale target"
Hello, I cannot make HPA work with a custom metric from another deployment than the scale target.
I get this error:
[code]

It works like a charm when `worker` pods emit their own scaling metric though, but this isn't what I want to achieve.

The spec I made for the HPA uses an `Object` definition to fetch the custom metric in question.
According to the doc (https://kubernetes.io/docs/tasks/run-ap

[2019-04-02 09:41] timlegrand commented on #76015
/sig scalability

[2019-04-02 09:56] Jacksonary commented on #76013
/sig scalability

[2019-04-02 10:12] ZhiqinYang commented on #70044
i got this

[2019-04-02 11:09] moluzhui commented on #59959
it's also failed
[code]

[2019-04-02 11:29] agolomoodysaada commented on #67577
@hjacobs , any idea how to apply this fix on AKS or GKE?
Thanks

[2019-04-02 11:35] Jancis commented on #71612
`-o custom-columns=:.metadata.namespace,:.metadata.name,:.metadata.ready, ...`

[2019-04-02 11:47] timoreimann commented on #67577
@agolomoodysaada we filed a feature request with GKE a while back. Not sure what the status is though, I do not work intensively with GKE anymore.

[2019-04-02 11:55] aleksystasiak opened #76022 "kube-proxy running in ipvs mode causes cilium cni failure"
**What happened**:
When running with cilium cni together with kube-proxy in ipvs mode
atfer running some time cilium pods crash with
[code]
Issuing
`ip -4 addr show`
on any node returns same result.
**What you expected to happen**:
I expect for cilium pods to be able to read ip -4 addr without problems
**How to reproduce it (as minimally and precisely as possible)**:
Install cilium with default se

[2019-04-02 11:56] aleksystasiak commented on #76022
/sig network

[2019-04-02 12:06] dorsany opened #76024 "kubectl wait add ability to show tail logs while waiting to a pod"
**What would you like to be added**:
add the ability to show tail logs while waiting to a pod

something like:
[code]

**Why is this needed**:
Today instead of develop 3 commands:
loop:
1) get pod status
2) get logs of the pod
3) if complete or failed exit loop otherwise wait

I'm using the ```kubectl wait``` that solved for me section **1** and **2**

please add the ability ```--logs```

[2019-04-02 13:02] chethiya1996 commented on #38456
@jsravn  @bowei Hi, currently we are using kubernetes version "1.5.7" and we are also facing the same issue, we have planned to upgrade to kuberntes version "1.11" so I am wondering whether this issue is still there in version "1.11" as well.

[2019-04-02 13:06] #66628 closed

[2019-04-02 13:14] priya2511 commented on #64702
I am facing the same issue in Openshift online. Could you please explain how did you resolve this ?

[2019-04-02 13:17] liggitt opened #76027 "single-use controller config defaults should auto-apply"
The functions added in https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/apis/config/v1alpha1/defaults.go#L68-L105 should be normal defaults. The "RecommendedDefaults" helper function approach was only needed for config structs used in multiple contexts (like client configuration, rate limiting, leader election, etc).

The controller-specific config structs should use normal defa

[2019-04-02 13:18] liggitt commented on #76027
I'm not sure if the defaulting generating scripts will find the defaulting functions, now that they are spread across multiple packages, which is unfortunate.

[2019-04-02 13:26] liggitt commented on #76005
`KUBECONFIG=file1:file2:file3 kubectl config view --raw` will show the results of merging file1, file2, and file3

/close

[2019-04-02 13:26] #76005 closed

[2019-04-02 13:27] liggitt commented on #76011
is that a standard metric available from the metrics server?

cc @kubernetes/sig-instrumentation-feature-requests

[2019-04-02 13:36] orkenstein commented on #44273
Same here

[2019-04-02 13:40] liggitt commented on #76001
https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance is still red after revert

[2019-04-02 13:47] liggitt commented on #76001
though the "watch closed" test failures are gone now

[2019-04-02 13:47] liggitt commented on #76001
now the errors are encode panics in daemonset e2e tests:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance/1113046932642598917

[2019-04-02 13:48] liggitt commented on #76001
https://github.com/kubernetes/kubernetes/pull/75616 seems related

[2019-04-02 13:49] liggitt commented on #76001
fix is in https://github.com/kubernetes/kubernetes/pull/76025

[2019-04-02 13:50] liggitt commented on #76001
closing this issue as the "watch closed" issue is resolved

/close

[2019-04-02 13:50] #76001 closed

[2019-04-02 14:11] brancz commented on #76011
It is not. I believe there is a similar request for disk I/O metrics I believe.

[2019-04-02 15:00] thockin commented on #72236
What I am looking for (and I don't know IPVS well enough to design) is a back-stop rule for each service cluster IP that blackholes anything not explicitly handled.  A :0 rule in IPVS seems to do that (sent to a non-existent IP) but I can't seem to test the interplay between that and an explicit port rule

[2019-04-02 15:14] soltysh commented on #1899
What about `kubectl get pods -o jsonpath --template='{.items[].metadata.name} : {.items[].status.phase}'`

[2019-04-02 15:15] fasaxc commented on #72236
I'd use the IP sets for this, create a `hash:ip` IP set that contains all the IPs attached to the kube-ipvs0 interface and a second `hash:ip,port` IP set that contains all the service `IP:port` combinations that kube-proxy is implementing.  Then you just need a single iptables rule that says "if the dest IP is in the kube-ipvs0 set but the IP and port is not in the valid services set then DROP".

[2019-04-02 15:22] #75929 closed

[2019-04-02 15:53] tsunamireversal opened #76035 "not tolerated pods should be better detailed"
When trying to see why pods don't start using either kubectl get events or kubectl describe pod <podid>, the base message is not detailed enough.

Warning  FailedScheduling  5s (x4 over 65s)  default-scheduler  **0/1 nodes are available: 1 node(s) had taints that the pod didn't tolerate.**

**What would you like to be added**:
Details of the taint and details of what it didn't tolerate

**Why is t

[2019-04-02 16:04] johnSchnake opened #76036 "Conformance image doesn't save results on failure"
https://github.com/kubernetes/kubernetes/blame/master/cluster/images/conformance/run_e2e.sh#L16

**What happened**:
Running Sonobuoy with the upstream conformance image hangs if there are failures. Ginkgo returns a status code of 1 when the failure happens leading to the script to exit before saving the results. This leaves the sonobuoy worker just waiting for results.

**What you expected to happ

[2019-04-02 16:05] johnSchnake commented on #76036
/area conformance
/sig sig-testing
@dims @stevesloka

[2019-04-02 16:09] neowisard commented on #76013
**Kubernetes** v1.14.0
**OS** Linux Kube01 4.9.0-8-amd64 #1 SMP Debian
**Kernel** 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux
have same error
`Apr  2 19:00:18 Kube01 kubelet[26621]: /usr/local/go/src/runtime/panic.go:522
Apr  2 19:00:18 Kube01 kubelet[26621]: /workspace/anago-v1.14.0-rc.1.5+641856db183520/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/vendor/k8s.io/client-go/tools

[2019-04-02 16:25] dims commented on #76036
@johnSchnake please go ahead with a PR to remove the line :)

[2019-04-02 16:31] johnSchnake commented on #76036
@dims will do; is there anyway we can publish older conformance images? Otherwise testing with sonobuoy/upstream conformance image is broken for 1.13 and 1.14. It would require a change to all the point releases of this image though :-/

[2019-04-02 16:31] bowei commented on #38456
1.5.7 is extremely old and not supported. You should update a supported version (1.12+)

[2019-04-02 16:34] dims commented on #76036
Let's propose backports and find out :)

[2019-04-02 16:47] KatrinaHoffert commented on #75789
Confirmed working.

/close

[2019-04-02 16:47] #75789 closed

[2019-04-02 16:53] gokultp commented on #76024
@dorsany  do you mean verbose, if so -vv will be more idiomatic.

[2019-04-02 16:58] mtaufen commented on #75906
For 1.15 we may need to update Kubelet code to allow HostToContainer. @PatrickLang

[2019-04-02 17:11] msau42 commented on #76008
duplicate of https://github.com/kubernetes/kubernetes/issues/75775

[2019-04-02 17:12] vladimirvivien opened #76041 "Use pluginMgr.FindXXXPluginBySpec in GenerateXXXFunc in volume/operation_generator"
**What would you like to be added**:
This change is to use PluginManager.FindXXXPluginBySpec where appropriate:
- To be consistent
- To allow API to apply plugin filter automatically (i.e. CanAttach, CanDeviceMount, etc).

Example:
https://github.com/kubernetes/kubernetes/blob/46c8b075ded386d99de1cf3945168127403c12e9/pkg/volume/util/operationexecutor/operation_generator.go#L864

**Why is this need

[2019-04-02 17:15] vladimirvivien commented on #76041
/assign

[2019-04-02 17:17] ConnorDoyle commented on #72828
/assign

[2019-04-02 17:17] ConnorDoyle commented on #72828
/assign @balajismaniam

[2019-04-02 17:20] ConnorDoyle commented on #72828
/assign @derekwaynecarr

[2019-04-02 17:42] fOO223Fr commented on #65110
Stuck in this issue in v1.13

[2019-04-02 17:46] zhouhaibing089 opened #76042 "Namespace storage does not remove OrphanFinalizer during cascade deletion"
**What happened**:

I created a namespace `foo` with `orphan` finalizer, and then tried to delete it:

[code]

The namespace can be deleted, and the `orphan` finalizer is removed by garbage collection controller:

[code]

**What you expected to happen**:

Since kubectl species `propagationPolicy: Background`, it is not an orphaning operation, the finalizer should be removed in namespace store.

**

[2019-04-02 17:46] zhouhaibing089 commented on #76042
/sig api machinery

[2019-04-02 17:47] rgembalik commented on #65110
@fOO223Fr Be sure to check `mount | sort | uniq -c | sort -n` - in my case it revealed, that there are some paths mounted thousands of times, increasing iowait generated by kubelet (see #75401 ). If not caught this may lead to a lot of unwanted issues if you have many pods running.

[2019-04-02 17:47] zhouhaibing089 commented on #76042
cc @liggitt @caesarxuchao @mlowery

[2019-04-02 17:47] zhouhaibing089 commented on #76042
Discussion on slack: https://kubernetes.slack.com/archives/C0EG7JC6T/p1554223826034200

[2019-04-02 17:50] donbowman commented on #65387
still affecting me on gke. i want to enable the `transparency` so that I can use the spam-blocking in wordpress (which is by ext ip), but I also want to refer to other services which *may* be internal to the cluster via their proper name (to get the `tls etc).

[2019-04-02 17:54] msau42 commented on #75401
@kubernetes/sig-storage-bugs

[2019-04-02 17:57] BenTheElder commented on #74375
we're actually hitting the timeouts now

[2019-04-02 17:57] Stono commented on #75918
Hello,
I have gotten further debugging this issue.

For context, we use a simple `nfs` pod which shares an `emptyDir` volume for the purposes of some ephemeral shared scratch storage between a bunch of other applications.  If the nfs server restarts, we don't care about the contents of the share.

When you delete the pod, obviously the emptyDir is effectively a new "emptyDir", but on another node.

[2019-04-02 18:07] liggitt commented on #74375
/priority critical-urgent
roughly 50% of runs are failing on timeout

[2019-04-02 18:16] vllry commented on #75443
/remove-triage unresolved

[2019-04-02 18:16] vllry commented on #75290
Bump - is this issue resolved?

[2019-04-02 18:25] wongma7 opened #76044 "Block PV may be mounted if kubelet feature gate disabled"
@msau42 you may remember you had a concern that if we made BlockVolume default in 1.13 there could be issues with version skewed clusters where kubelets with the feature gate still off could format block volumes if a pod was started/restarted, potentially deleting data that was there. (see https://github.com/kubernetes/kubernetes/pull/65829#issuecomment-432378975). I concluded it wasn't possible b

[2019-04-02 18:25] wongma7 commented on #76044
/sig storage

[2019-04-02 18:28] wongma7 commented on #76044
are there any tests run against version skewed clusters?

[2019-04-02 18:49] bsalamat commented on #75836
/assign @krzysztof-jastrzebski

@krzysztof-jastrzebski could you please take a look at this? It seems that it is related to the code you added in #73401.

[2019-04-02 18:49] #75837 closed

[2019-04-02 18:50] wongma7 commented on #76044
An additional option to not adding volumes that aren't in volumeMounts/volumeDevices to desired state of world is to fail starting the pod if volumeDevices is non-empty and the feature gate is disabled. I decided not to do that in the original PR though, the downgrade tests assumes the pod can still run with the volume at volumeDevices MIA, the assumption being that the application can fail its ow

[2019-04-02 18:54] liggitt commented on #75837
picked to 1.14.1 in #76046

[2019-04-02 19:00] whereisaaron commented on #13488
Rolling updates are still a pretty popular activity for something with apparently no use case 😄

[2019-04-02 19:04] msau42 commented on #76044
There are upgrade tests that only upgrade the master and not the nodes.

Not adding volumes that aren't in volumeMounts/Devices sounds good to me.  I'm not sure if we could actually fail starting the pod because when we read the Pod object from the apiserver, I believe it should nil the values.

[2019-04-02 19:06] msau42 commented on #76044
Hm but I don't see 1.12 upgrade tests in the sig-release dashboard

[2019-04-02 19:28] nbrasz commented on #59113
I understand boolean values are not allowed, however I am seeing that if i attempt to kubectl apply a yaml with a new boolean annotation, not only will it not add the new annotation, but it will also delete all existing annotations silently.

this seems like more than an error messaging bug

[2019-04-02 19:43] caesarxuchao opened #76048 "hack/local-up-cluster.sh fails with kubelet reporting "server.go:160] unknown command""
The master branch is failing now. The error was because when staring the kubelet, the local-up-cluster.sh script ran:
[code]
The `''` was interpreted as non-flag arguments and caused the kubelet to fail.

/assign
/kind bug
cc @roycaihw

[2019-04-02 19:49] caesarxuchao commented on #76048
/sig cluster-lifecycle

[2019-04-02 20:02] wongma7 commented on #76044
OK I see, not adding volumes to desired state of world will be enough. It will be more difficult to reason about if the field is empty in which cases etc., better to not rely on that.

I don't think the existing downgrade test is running so as part of this issue I'm going to have to figure that out. Here is the 1.13->1.12 test where I would like my test to run but it doesn't show up. https://testg

[2019-04-02 20:08] superseb commented on #54765
/reopen

@AaronFriel Did you run into any issues running on ZFS without the utils or did you build your own image still?

@ixdy Is this something that would still be accepted? Adding contrib repo and installing zfsutils-linux in the image?

Seems that it queries imagefs and without the tools, it won't succeed on ZFS based imagefs and therefor not evict when thresholds are met.

[2019-04-02 20:12] aakarshg commented on #40968
echo the opinion shared by @DanyC97. This feels like a good add to cli without having to depend on other tools or plugins.

[2019-04-02 20:21] dims commented on #13488
long-term-issue (note to self)

[2019-04-02 20:29] djmcgreal-cc commented on #71098
This is a significant issue for GitLab K8S_Secrets in Auto-DevOps. https://docs.gitlab.com/ee/topics/autodevops/#application-secret-variables

Suggest supporting null terminated variables.

[2019-04-02 20:32] kow3ns commented on #13488
1. I don't see a way to do this without letting imperative logic bleed into a declarative API, thereby, breaking our convention of keeping the APIs declarative and implementing imperative behavior in the controllers, and introducing incompatibilities with most CI/CD practices.
2. I could imagine an RollingRestart API and controller where the creation of a RollingRestart resource caused the control

[2019-04-02 20:35] jethrogb commented on #13488
It's not a hack, there should just be a shorthand command line for it.

[2019-04-02 20:38] apelisse commented on #13488
Someone could build a [krew](https://github.com/kubernetes-sigs/krew) plugin that sends the patch. `kubectl restart-deployment <deployment_name>`?

[2019-04-02 20:41] sangeethdba opened #76053 "not able to write the PVC cassandra statefullset"
hi all

cassandra not starting and container failing with the below error

NFO  20:32:33,472  DseDelegateSnitch.java:46 - Initialized DseDelegateSnitch with workload Cassandra, delegating to org.apache.cassandra.locator.GossipingPropertyFileSnitch
ERROR 20:32:33,483  DseModule.java:103 - Unable to start server. Exiting...
org.apache.cassandra.exceptions.ConfigurationException: commitlog directory

[2019-04-02 20:43] sangeethdba commented on #76053
/sig statefullsets

[2019-04-02 20:45] sangeethdba commented on #76053
@kubernetes/sig-storage

[2019-04-02 21:01] lledru commented on #63267
Hi team, It seems some work remains here, is there some refacto works still to do ? I'd glad to help close this.

[2019-04-02 21:08] roycaihw commented on #59838
/reopen
/remove-lifecycle rotten

[2019-04-02 21:11] whereisaaron commented on #13488
`kubectl rollout restart` that patches a deployment/daemonset/statefulset to trigger a fresh 'rollout'?

That is in line with @kow3ns's approach (3), and makes some sense since you can then watch/pause/resume the rollout you just started with the other `kubectl rollout` commands.

[2019-04-02 21:15] apelisse commented on #13488
@whereisaaron I'll see if I can send a patch for that.

[2019-04-02 21:34] tangjiaxing669 opened #76056 "Modifying pod timezone with podpreset failed"
Kubernetes installed with kubespray-2.8.3：

[code]

After completion, there will be a lot of pods generated:

[code]

Now I want to modify the timezone of all pods with podpreset. I turned on the podpreset admission controller and set `--runtime-config=admissionregistration.k8s.io/v1alpha1,settings.k8s.io/v1alpha1=true`

podpreset YAML config:

[code]

When I applied the YAML file, nothing changed

[2019-04-02 21:37] msau42 commented on #68261
This is being handled by https://github.com/kubernetes/kubernetes/pull/75129

[2019-04-02 21:39] tangjiaxing669 commented on #76056
/sig resource-management

[2019-04-02 21:50] Angha commented on #75701
We're experiencing the same issue on CentOS for 1.12, 1.13   and  currently  blocked  because of this. When  will the  fix/workaround  will be available?

[2019-04-02 22:04] msau42 commented on #75782
Just found another issue which is that provisioning metrics for CSI drivers are not counted.  @gnufied can you check if resizing could have similar issues

[2019-04-02 22:06] neolit123 commented on #75701
the PR with the fix is currently blocked by reviewers.

1.12.7, 1.13.5 and 1.14.0 should not have the problem.
if you want to use *different* k8s versions, try pining the CNI version by passing `kubernetes-cni-0.6.0-0`
and then installing the `kubernetes-cni-0.7.0-0` package on top of it.

[2019-04-02 22:14] oliverisaac commented on #27308
You can add something like this to your Bash Profile to dynamically support environment variables:

[code]

Then, even if you have `$KUBE_NS` set, you can still do:

`k -n example get pods`

[2019-04-02 22:16] misterikkit commented on #65036
/remove-lifecycle stale

I will die on this hill.

[2019-04-02 22:18] misterikkit commented on #65333
/remove-lifecycle stale

This and https://github.com/kubernetes/kubernetes/issues/65036 are worth pursuing.

[2019-04-02 22:23] krzysztof-jastrzebski commented on #75836
Thanks for reporting the bug.
Bug was introduced in #73401 which added deleting pods without nodes. There is race condition between removing pod from cache and listing pods for DaemonSet. Bug occurs during following scenario:
1. Node is deleted.
2. Pod for node is deleted by PodGCController.
3. Delete handler is executed by informer (https://github.com/krzysztof-jastrzebski/kubernetes/blob/7186d3b

[2019-04-02 23:04] bgrant0607 commented on #13488
For rolling out new secrets and configmaps, my recommendation is still #22368: create new ones. That provides a means for both controlling the rollout and also rolling back. We just need to finish GC of old objects:
https://github.com/kubernetes/community/pull/1163
https://github.com/kubernetes/community/pull/2287

Documenting and/or supporting (in kustomize, kubectl, or a kubectl plugin) the reco

[2019-04-02 23:10] boisde commented on #64586
same issue. changed to coredns. and resovled.

[2019-04-02 23:37] verult commented on #75918
/

[2019-04-02 23:37] verult commented on #75918
/assign

[2019-04-02 23:51] bgrant0607 commented on #13488
As for new images, CI/CD or a controller that resolves tags to digest: #1697.

[2019-04-03 00:20] bgrant0607 commented on #13488
Moving unhappy pods was intended to be performed by the descheduler (https://github.com/kubernetes-incubator/descheduler) or something like it, that could consume container status, core metrics, and even custom metrics:

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/rescheduler.md
https://github.com/kubernetes/community/blob/master/contributors/design

[2019-04-03 00:26] stewart-yu commented on #76027
/assign

[2019-04-03 00:49] draveness commented on #76056
Do all the pods below have ` k8s-app: flannel` label?

[code]

And `PodPreSet` does not restart the existing pods. If you want to apply the preset to existing pods, you need restart the pod manually.

[2019-04-03 00:51] pjh commented on #75421
@nagiesek any update on this? It's still a significant source of flakiness in our test runs.

[2019-04-03 00:59] dims commented on #73189
Run `mkdir -p /etc/containerd && containerd config default > /etc/containerd/config.toml` and then restart `containerd` ( fyi, i just made this change in kind - https://github.com/kubernetes-sigs/kind/pull/425/files )

Then you can run the `crictl` like so:
https://github.com/kubernetes-sigs/kind/pull/425#issuecomment-479168589

[2019-04-03 00:59] dims commented on #73189
/close

[2019-04-03 00:59] #73189 closed

[2019-04-03 01:09] tangjiaxing669 commented on #76056
@draveness thanks.

I have four pods with k8s: flannel tags:

[code]

Now I try to restart the pod.  very thanks.

[2019-04-03 01:21] nagiesek commented on #75421
Whoops, sorry two weeks late. So I see two instances of this "Element not found" issue.

1> The logs suggest that the CNI fails when looking for the container - which seems to not exist (crashes out early possibly?). So it tries to add the container to a network - can't find container and fails.

2> The second case appears to be the same as the first case

Also looks like there are bunch of errors

[2019-04-03 01:35] hantaowang opened #76064 "Kubelet Bandwidth Limiting Not Working"
**What happened**:
I tried to set up bandwidth limiting by booting a cluster with `kops`, which by default sets up kubenet. I used the annotations

    - kubernetes.io/egress-bandwidth: xM
    - kubernetes.io/ingress-bandwidth: xM

and then used `iperf3` to test the ingress and egress bandwidths, with no effect.

Does anyone know if this feature is still supported in kubenet? And if so what are th

[2019-04-03 01:37] hantaowang commented on #76064
@kubernetes/sig-network-bugs @kubernetes/sig-network-misc

[2019-04-03 01:48] nagiesek commented on #75421
@pjh Is the issue the initial error or is the the chain errors that follow from it?

[2019-04-03 02:06] #76056 closed

[2019-04-03 02:23] msau42 commented on #75666
I noticed one issue with the test is that it's not filtering metrics by plugin name.  So it will just count the last plugin's metric.  I'm not sure if the metrics collected are in any sorted order or not.  If not, then when you have a suite that runs multiple plugins, then you might be pulling from the wrong metric.

[2019-04-03 02:24] apelisse commented on #13488
Also, official documentation on how to handle secrets and configmap: https://kubectl.docs.kubernetes.io/pages/app_management/secrets_and_configmaps.html

[2019-04-03 02:25] Aisuko commented on #61076
Is there any information actually show which version has been fixed the issue?

My kubernetes version

[code]

[code]

[2019-04-03 02:50] juanvallejo commented on #75540
This could be possible through server-side dry run, cc @apelisse

[2019-04-03 03:11] #76048 closed

[2019-04-03 03:29] apelisse commented on #75540
Yeah, I suspect this would work (assuming 1.13 or later):
[code]

[2019-04-03 03:40] danielqsj commented on #75779
@brancz @logicalhan +1 for opencensus.

[2019-04-03 03:43] apelisse commented on #75540
"The dry-run should be as "real" as possible."

See https://github.com/kubernetes/enhancements/issues/576

[2019-04-03 05:39] openthings commented on #76013
Kubernetes v1.14.0
Docker-CE 18.09.4
OS Linux pods06 4.15.0-47-generic #50-Ubuntu SMP
Kernel  4.15.0-47-generic
Cgroup Driver: systemd

have same error

Add node to master node:
[code]
got:
[code]

[2019-04-03 06:34] vishnukraj1111 opened #76069 "kube-controller-manager in CrashLoopBackoff and Error"
@kubernetes/sig-api-machiner-bugs

**What happened**:
/kind bug
I had a cluster with 3 master server and suddenly I could see kube-controller-managers are in Crashloopbackup and error state in all the 3 master nodes.
**What you expected to happen**:
Run fine or restart successfully

**How to reproduce it (as minimally and precisely as possible)**:
I happened suddenly in two of my clusters. Kubeadm

[2019-04-03 06:43] vishnukraj1111 commented on #76069
@kubernetes/sig-api-machiner-bugs

[2019-04-03 06:44] vishnukraj1111 commented on #76069
/sig api-machiner

[2019-04-03 06:56] rshiva777 opened #76070 "i ran a deployment with 3 replicas. but the pods are not created"
[root@kube-master dep]# cat Deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-shiva2
  labels:
    app: nginx-name1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-deployment-shiva2
  template:
    metadata:
      labels:
        app: nginx-deployment-shiva2
    spec:
      containers:
      - name: nginx-cont-name1
        image: nginx:1.7.9

[2019-04-03 07:00] pontiyaraja commented on #75935
/assign @pontiyaraja

[2019-04-03 07:33] draveness commented on #76070
Please run the following commands to get more context.

[code]

[2019-04-03 07:47] narg95 commented on #64002
I had the same issue due to a CRD that was created while the namespace was in the terminating face.

It worked for what @emolmar mentioned plus I had to remove the `finalizer` from the problematics `CRD`

[2019-04-03 07:59] fenixshadow2005 commented on #68447
I met this issue on Centos 7.6 with NetworkManager installed, it seems related to the network.

[2019-04-03 08:22] rshiva777 commented on #76070
Hi Draveness,

Please find the below info

[root@kube-master ~]# kubectl get event
No resources found.
[root@kube-master ~]# kubectl describe deployment nginx-deployment-shiva2
Name:                   nginx-deployment-shiva2
Namespace:              default
CreationTimestamp:      Tue, 02 Apr 2019 17:48:01 +0530
Labels:                 app=nginx-name1
Annotations:            <none>
Selector:

[2019-04-03 08:22] mighani commented on #62594
I faced the same issue. Increasing the initialDelaySeconds for liveness and readiness probes resolved it. The spring boot app took too long to start.

[2019-04-03 08:38] draveness commented on #76070
@rshiva777

[code]

[2019-04-03 08:51] vishnukraj1111 commented on #76069
/sig api-machinery

[2019-04-03 09:05] #74916 closed

[2019-04-03 09:23] rshiva777 commented on #76070
Hi Draveness,

I have executed the above command. Please find the below output

[root@kube-master dep]# kubectl get event --all-namespaces
NAMESPACE     LAST SEEN   TYPE      REASON                    OBJECT                                          MESSAGE
default       36m         Normal    NodeHasSufficientMemory   node/kube-master                                Node kube-master status is now: N

[2019-04-03 09:30] rshiva777 commented on #76070
i see the below error:

7hxsg    Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "d0aaac2f41c2be4f949f8e34b1f43237ba5a98a6c99c3d23c45dbda27da513d0" network for pod "nginx-deployment-shiva2-779f798fbd-7hxsg": NetworkPlugin cni failed to set up pod "nginx-deployment-shiva2-779f798fbd-7hxsg_default" network: failed to set bridge addr: "cni0" already has

[2019-04-03 09:35] draveness commented on #76070
https://github.com/kubernetes/kubernetes/issues/39557

[2019-04-03 10:31] yue9944882 commented on #76069
this is designed. controllers crashes when it lost connectivity to apiserver.

[2019-04-03 10:36] Jacksonary opened #76075 "runtime.go panic in the kubelet with 1.14"
## BUG REPORT

## Versions

**kubeadm version** : v1.14.0

**Environment**:
- **Kubernetes version**: v1.14.0
- **OS**: CentOS Linux release 7.6.1810
- **Kernel**: 5.0.5-1.el7.elrepo.x86_64

## What happened?

&emsp; some wrong happened, when I try to deploy worker node to my cluster whith `kubeadm join ....`，anything do follows [Creating a single master cluster with kubeadm](https://kubernetes.io

[2019-04-03 10:36] Jacksonary commented on #76075
/sig node

[2019-04-03 10:36] andyzhangx opened #76076 "Not allow attach one azure disk volume to multiple nodes"
**What happened**:

Update:
Actually there is already multi-node attach check in k8s controller manager code:
https://github.com/kubernetes/kubernetes/blob/e47fc04adc39c06bcdd6d7dc74ee881d8740a81a/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L137-L148

https://github.com/kubernetes/kubernetes/blob/e47fc04adc39c06bcdd6d7dc74ee881d8740a81a/pkg/controller/volume/attachdetach/reconciler

[2019-04-03 10:38] Jacksonary commented on #76013
I change to kubeadm V1.13.0，everything go smoothly, and I have create another issue in kubernetes. If you focue on it ,  click on [runtime.go panic in the kubelet with 1.14](https://github.com/kubernetes/kubernetes/issues/76075).

[2019-04-03 10:38] #76013 closed

[2019-04-03 10:42] #70618 closed

[2019-04-03 10:44] ylhyh opened #76077 "Cannot pull pod infra container image from a private repository on windows node"
**What happened**:
There is a Windows minion node in my k8s cluster, I have specified "--pod-infra-container-image" for kubelet which is pointing to a private docker repository. The kubelet running as a Windows service, service account is LocalSystem:
[code]
I have login to the repository with Administrator, and then copied config.json from Administrator's profile folder to "C:\windows\system32\co

[2019-04-03 10:49] ylhyh commented on #76077
@kubernetes/sig-windows-bugs

[2019-04-03 10:52] neolit123 commented on #76013
ok, i saw it. thanks.

[2019-04-03 11:19] ljs617966244 commented on #13382
set https_proxy cause this issue for me

[2019-04-03 11:24] kopiczko opened #76079 "Many PVCs in an in an AWS account cause FailedAttachVolume due to RequestLimitExceeded error"
**What happened**:

Experiencing `FailedAttachVolume` on pods often. I suspect this is because of `RequestLimitExceeded` and lack/ too aggressive backoff mechanizm. It usually resolves itself after a while.

E.g. events:

[code]

**What you expected to happen**:

Use proper backoffs to avoid `RequestLimitExceeded` errors while attaching EBS volumes.

**How to reproduce it (as minimally and precise

[2019-04-03 11:25] kopiczko commented on #76079
/sig aws

[2019-04-03 12:10] cwdsuzhou opened #76081 "StorageClassName of PVC not bounded may need to be mutableField"
**What happened**:

I create pvc `www-test-0`, with storageClassName `test`, but not bound.

Then ,  a statefuletSet created, as follow, with different storageClassName

Any pod can not be created for that pvc cannot creating.

[code]

2 reasons:

- 1. statefulSet controller would not update pvc when pvc already existed
- 2. validation would prevent the pvc to update.

**What you expected to happe

[2019-04-03 12:11] cwdsuzhou commented on #76081
/sig apps

[2019-04-03 12:11] cwdsuzhou commented on #76081
/sig api-machinery

[2019-04-03 12:13] cwdsuzhou commented on #76081
I have tried to fix it, if you also think this is a issue, I would submit a PR

[2019-04-03 12:31] runyontr commented on #64333
It seems there are other tools that solve this problem, and we might be able to leverage their implementations

## Systemd ##
https://www.freedesktop.org/software/systemd/man/systemd.unit.html
Add two fields to the WebHook definitions and reference objects that it should run before/after
[code]

## chkconfig ##
https://linux.die.net/man/8/chkconfig

RunLevel might be already captured with the two

[2019-04-03 13:45] Disturbing commented on #22024
Spotted v1.11.7 on GKE.

[2019-04-03 13:57] mattjmcnaughton commented on #75113
@DirectXMan12 is this something you think would be useful/a good idea? If yes, I'm happy to do a pr :)

/assign

[2019-04-03 13:58] mattjmcnaughton commented on #75635
/unassign

Unfortunately I've been sick for the last week and haven't gotten a chance to work on this :( Opening it up for anyone else who may want to work on it.

[2019-04-03 14:18] draveness commented on #75635
@mattjmcnaughton, Hope you'll get better soon. And if nobody claims this, I'd like to work on it.

[2019-04-03 14:22] liggitt commented on #76081
/remove-sig api-machinery
/sig storage

[2019-04-03 14:33] urandom opened #76085 "kubectl exec produces unexpected result when printing out a zip"
I have a use case of generating a zip file from within a pod with python. That pod has the host system's fs mounted, and uses the host's python and libraries for generating the zip file. The file is output to stdout so that the following call can generate a zip on the host via the pod:

[code]

**What happened**:
The file is generated, and appears to be valid. It can be used everywhere, except wit

[2019-04-03 14:36] urandom commented on #76085
/sig cli

[2019-04-03 14:46] #60700 closed

[2019-04-03 14:49] wojtek-t commented on #73958
BTW - watch bookmarks that we're working on are also huge part of it.

There are 3 more things that come to my mind that we can improve:
- indexing for lists (at least theoretically, we may have the same index for watchcache store that we have as a trigger function in cacher)
- try to reduce critical section of watchcache::processEvent (maybe onEvent doesn't need to be called under lock, given tha

[2019-04-03 14:59] liggitt commented on #4957
The ACL boundary for the content of pod specs is the namespace level (a pod spec can refer to a service account, secret, or configmap in its namespace)

/close

[2019-04-03 14:59] #4957 closed

[2019-04-03 15:05] grosser commented on #40157
/remove-lifecycle stale

[2019-04-03 15:07] liggitt commented on #53455
given the HA implications, the inverse of this (dynamic audit webhook registration) seems preferable

[2019-04-03 16:17] mcoreix commented on #71305
this works for me `update-alternatives --set iptables /usr/sbin/iptables-legacy`

[2019-04-03 16:22] smarterclayton commented on #48610
I wonder what our largest watch connection is after controller manager.  I haven't seen many that are that dense, except for people who are trying to watch many individual namespaces.

I can look to see what info we can forcibly extract stats wise from the underlying runtime.  When we rebalance, I'd like to focus on low yield users more than high yield users.  Rebalancing the controller manager co

[2019-04-03 16:24] liggitt opened #76092 "go modules: move Godeps/LICENSES to vendor/LICENSES"
This is a follow-up from https://github.com/kubernetes/kubernetes/pull/74877

To scrub all references to Godeps, relocate Godeps/LICENSES to vendor/LICENSES

* Update generation script (hack/update-vendor-licenses.sh)
* Update verification script (hack/verify-vendor-licenses.sh)
* Update build/packaging scripts to include the file from the new location (search for references to Godeps/LICENSES) an

[2019-04-03 16:30] javefang commented on #66450
I can confirm @IRDonch 's workaround also works on kubectl v1.13.4 and server v1.13.4.

[2019-04-03 16:32] lavalamp commented on #64333
We haven't thought of a good solution yet, where "good" is some combination of:
* solves the problem
* doesn't make the system insanely hard to configure or understand
  * in particular, it mustn't make it impossible to share webhook configurations, i.e., to other people / clusters
* doesn't make the system insanely non-performant

Requiring/permitting a graph (as in systemd) would:
* make the sys

[2019-04-03 16:33] dineshgovindasamy commented on #75421
@pjh is it possible to correlate the Kubelet logs to see why the container creation failed? @nagiesek can you paste the endpoint id and the container id?

Apologize for not following up earlier, lets try to get to the bottom of this issue.

[2019-04-03 16:33] liggitt opened #76093 "restructure LICENSES file generation"
This is a follow-up to https://github.com/kubernetes/kubernetes/pull/74877

Prior to https://github.com/kubernetes/kubernetes/pull/74877, Godeps/LICENSES included a copy of a dependency's LICENSE file for every package of the dependency we referenced.

https://github.com/kubernetes/kubernetes/pull/74877 switched to aggregating licenses at the module level. This is better in most ways, but means we

[2019-04-03 16:45] javefang commented on #66450
I also notice the unit you use in the `resources` section matters.

e.g.

This is fine (apply again will result in `unchanged`)

[code]

This will show `configured` every time you apply (when using decimal to define cpu)

[code]

This is also problematic (when using "1000m" for cpu instead of "1")

[code]

And this (when using integer 1 for cpu instead of string "1")

[code]

My feeling is, the un

[2019-04-03 16:59] MrHohn commented on #58785
Seems like this is not fixed yet.
/reopen

[2019-04-03 17:03] MrHohn commented on #58785
/remove-lifecycle rotten

[2019-04-03 17:03] liggitt opened #76094 "`make verify WHAT=bogus` succeeds"
Found while working on https://github.com/kubernetes/kubernetes/pull/74877

As part of switching from godep to go modules, I renamed the verify-godeps.sh script to verify-vendor.sh

CI was green, so I assumed all was well, until I realized that CI was [actually calling](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-testing/godeps.yaml#L18-L31) `make verify WHAT=go

[2019-04-03 17:14] denkensk opened #76095 "TestPreempt FAIL"
**What happened**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
We add FitPredicate like this and set `matches` as the key when TestPreempt inits the `NewGenericScheduler`.
[code]
https://github.com/kubernetes/kubernetes/blob/25ffbe633810609743944edd42d164cd7990071c/pkg/scheduler/core/generic_scheduler_test.go#L1505-L1515

But

[2019-04-03 17:16] draveness commented on #75635
quoted from @Huang-Wei

[2019-04-03 17:19] Huang-Wei commented on #75635
@tedyu would you mind closing this close as the behavior is intentional?

[2019-04-03 17:24] liggitt commented on #76094
cc @kubernetes/sig-testing

[2019-04-03 17:26] tedyu commented on #75635
@Huang-Wei
Since collecting all the errors may take some time, how about adding an option which allows quick return if there is at least one error ?

Normally the pods would encounter similar issues where seeing the first error would help find the cause.

[2019-04-03 17:36] Huang-Wei commented on #75635
@tedyu it's sort of a tradeoff between UX and performance. If we can prove that performance gets a boost in practice, sure we should do it. Otherwise, I'd prefer to leave it as is.

[2019-04-03 17:49] MrHohn commented on #76064
cc @lzang @cadmuxe

[2019-04-03 17:50] #76095 closed

[2019-04-03 18:14] #76036 closed

[2019-04-03 18:30] BenTheElder commented on #76094
Took a quick look, this looks moderately painful to do without restructuring the whole script...

[2019-04-03 18:32] mayakacz commented on #75899
/remove-sig aws
/sig auth

[2019-04-03 18:42] pjh commented on #75421
I'm not sure, let me take a closer look at this.

As we noted above, previously we were unable to identify any particular test cases or test types that hit this problem more than others. I'll take another look at the kubelet logs to try to find any patterns. If there's any additional information I can collect that would be helpful for debugging, please let me know.

[2019-04-03 18:43] MrHohn commented on #75660
Seems like this test should to be disabled in previous branches as well. @freehan

ref https://github.com/kubernetes/kubernetes/pull/75411

[2019-04-03 18:46] liggitt commented on #69678
@kubernetes/sig-storage-feature-requests

[2019-04-03 18:53] bowei commented on #76064
@cadmuxe can we put this on sig-network agenda? the discussion item would be:
- what is the current status of this feature (alpha, beta, GA?)
- what should we do next with this API?

[2019-04-03 19:00] liggitt commented on #62988
since RBAC is an optional feature, it isn't eligible for inclusion in conformance yet (https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements)

once some concept of profiles are enabled, this can be revisited

/close

[2019-04-03 19:00] #62988 closed

[2019-04-03 19:01] tallclair commented on #48041
I'm calling this a duplicate of https://github.com/kubernetes/kubernetes/issues/61185

[2019-04-03 19:01] #48041 closed

[2019-04-03 19:06] zhouhaibing089 commented on #59591
Does this require a KEP? I am interested to work on this.

[2019-04-03 19:10] cadmuxe commented on #76064
I have added this to the agenda, will grab some info.

[2019-04-03 20:04] aranair commented on #51835
I've found that if you use `--force --grace-period=0` all it does is remove the reference... if you ssh into the node, you'll still see the docker containers running.

[2019-04-03 20:18] jingxu97 commented on #65890
cc @PatrickLang

[2019-04-03 20:42] lavalamp commented on #59591
If you want to change core kubernetes for this, then yes, it needs a KEP.

If you want to write a general admission controller that solves the problem, I don't think you need a KEP. I'm not 100% sure off the top of my head that we pass enough information about the user to the webhook admission controllers; so you may end up asking for more features there.

[2019-04-03 20:47] cjschaef opened #76105 "PSP RunAsGroup Doc is incorrect"
**What happened**: Followed the documentation on [PSP RunAsGroup](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#users-and-groups) rules to limit group Id's to non-superuser (root) using the `MustRunAsNonRoot` rule. The creation attempt failed with:
[code]
From PSP yaml:
[code]

**What you expected to happen**: Successfully create a new PSP for non-superuser (root) group privilege

[2019-04-03 20:48] cjschaef commented on #76105
/sig docs

[2019-04-03 21:27] fturib commented on #72985
@waynr : sorry for so long delay before a reply on your last comment here ...

but, I would like to understand about your question:

you say `break the resulting cluster` :
- does it mean the cluster is invalid,
- or does it mean that the e2e test you are running against that cluster is failing ?

In the later case, maybe the problem is in the e2e test.
[This PR](https://github.com/kubernetes/kube

[2019-04-03 21:28] fturib commented on #73481
@jiashenC : is this issue still alive? if yes, did you try to follow advice from @danwinship , [here](https://github.com/kubernetes/kubernetes/issues/73481#issuecomment-477762607) ?

[2019-04-03 21:29] DirectXMan12 opened #76107 "The presence of admission webhooks on /scale breaks /scale"
Adding a validating admission webhook targeting deployments/scale (or any other /scale) breaks all such scale operations when the dynamic webhook admission plugin attempts to serve the plugin, and convert `Deployment` to `Scale` when trying to prepare the old object.

Reproducer:
1. register a webhook targetting `deployments/scale` (you don't need a backing hook)

  <details>

  <summary>whconfig.

[2019-04-03 21:29] DirectXMan12 commented on #76107
/sig api-machinery

[2019-04-03 21:31] nagiesek commented on #75421
@dineshgovindasamy  container id: "**b627b4b00b885d7280f12b627a3c096f2fbe58cd645026b60c28d65970ac25bc**". It actually fails to create the endpoint but the name would be "**b627b4b00b885d7280f12b627a3c096f2fbe58cd645026b60c28d65970ac25bc_l2bridge**".
Theres a pretty clear message :
**I0319 18:18:29.097315    1616 kubelet.go:1930] SyncLoop (PLEG): "pod-init-63b43de6-4a73-11e9-af5d-a08cfde32bdd_init-

[2019-04-03 21:31] DirectXMan12 commented on #76107
cc @mbohlool

[2019-04-03 21:48] tallclair commented on #52184
For an issue that needs fixing, this is a bit too broad. I think this is valuable as documentation though, and suggest integrating these suggestions into https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/

[2019-04-03 22:08] grzesuav commented on #22024
/reopen

[2019-04-03 22:36] yujuhong commented on #75421
That message might be misleading. What I've found is that windows containers are slow to start up, so more often than not, kubelet will poll the container states and find the pause container to be in the "created" state. Since this is not a supported state for PodSandbox, dockershim/kubelet categorizes this as "exited". However, the goroutine that's responsible for 1) start the pause container, an

[2019-04-03 22:54] #70569 closed

[2019-04-03 23:23] agolomoodysaada commented on #67577
I reached out to Azure support and they said it won't be available until around August 2019.

[2019-04-03 23:26] andrewsykim commented on #53451
/sig cloud-provider
/milestone v1.15

[2019-04-03 23:30] mml commented on #27744
/remove-lifecycle rotten

[2019-04-03 23:31] nagiesek commented on #75421
Hmm so if the add fails it looks like we get stuck in a loop of trying to remove I wonder if the issue could be fixed if we succed on the remove? Two things that might help for debugging:
1. Can I ask that you try building out of this pr https://github.com/containernetworking/plugins/pull/286, and see whether or not it fixes the issue? At the very least it will make it easier to debug for 2.
2. Co

[2019-04-03 23:32] liggitt commented on #76105
/assign @krmayankk

[2019-04-04 00:08] zhouhaibing089 commented on #59591
I think a general admission + RBAC should suffice:

Briefly, we can define a virtual resource `<resource>/finalizers`, cluster administrators can create proper RBAC rules for it, for example, we can give GC controller permissions to remove finalizers `orphan`:

[code]

During admission time, we get the user info, and:

1. All the new added finalizers.
1. Finalizers which are removed.

We send a ca

[2019-04-04 01:00] zkpingguo opened #76112 "[kubeadm init failed]: [wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s"
linux version:4.4
ubuntu version:16.04
docker version:18.06-ce
kubeadm images list:
k8s.gcr.io/kube-apiserver:v1.14.0
k8s.gcr.io/kube-controller-manager:v1.14.0
k8s.gcr.io/kube-scheduler:v1.14.0
k8s.gcr.io/kube-proxy:v1.14.0
k8s.gcr.io/pause:3.1
k8s.gcr.io/etcd:3.3.10
k8s.gcr.io/coredns:1.3.1

my problem is kubeadm init aways failed,full log as follows
root@ubzhaokai:/# swapoff -a
root@ubzhaokai:/

[2019-04-04 01:16] zkpingguo commented on #76112
anyone else encounter this problem?

@kubernetes/sig-contributor-experience-bugs

[2019-04-04 01:20] msau42 opened #76113 "CSI topology doesn't handle non-prefixed keys correctly"
**What happened**:
The CSI spec allows topology keys to be non-prefixed.  In that case, we should be prepending our own prefix to the key, but right now it just [directly applies](https://github.com/kubernetes/kubernetes/blob/ad27abde622f9d9dec9977466bb2c0dace4e30a3/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go#L348) that non-prefixed label to the Node object.

**What you expected to happen**:

[2019-04-04 01:20] msau42 commented on #76113
@kubernetes/sig-storage-bugs
cc @verult on what the correct behavior should be

[2019-04-04 01:24] cblecker commented on #76112
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-04-04 01:24] #76112 closed

[2019-04-04 03:59] lavalamp commented on #22024
My prior [comment](https://github.com/kubernetes/kubernetes/issues/22024#issuecomment-261629605) remains accurate. This is expected at least occasionally during the normal course of operations. I'm fine with lowering the log level (I'm surprised if it hasn't already happened).

[2019-04-04 04:03] natetech333 opened #76120 "report user"

[2019-04-04 04:03] natetech333 commented on #76120
![image](https://user-images.githubusercontent.com/4573756/55529013-1e393380-566d-11e9-9c3f-a249e5b3f462.png)

[2019-04-04 04:03] natetech333 commented on #76120
![image](https://user-images.githubusercontent.com/4573756/55529014-23967e00-566d-11e9-9241-b333ec28eab5.png)

[2019-04-04 04:04] natetech333 commented on #76120
![image](https://user-images.githubusercontent.com/4573756/55529018-28f3c880-566d-11e9-8969-98d9bb93e162.png)

[2019-04-04 04:04] natetech333 commented on #76120
![image](https://user-images.githubusercontent.com/4573756/55529021-2ee9a980-566d-11e9-8934-7579c183cd69.png)

[2019-04-04 04:04] natetech333 commented on #76120
![image](https://user-images.githubusercontent.com/4573756/55529026-3446f400-566d-11e9-8e5d-b9e9939c5f92.png)

[2019-04-04 04:04] natetech333 commented on #76120
![image](https://user-images.githubusercontent.com/4573756/55529042-3f018900-566d-11e9-8dfb-07850374afb5.png)

[2019-04-04 04:04] natetech333 commented on #76120
![image](https://user-images.githubusercontent.com/4573756/55529046-46289700-566d-11e9-93e0-4f74082c6ccd.png)

[2019-04-04 04:05] natetech333 commented on #76120
![image](https://user-images.githubusercontent.com/4573756/55529051-4cb70e80-566d-11e9-9aca-7a746dcf50d2.png)

[2019-04-04 04:05] natetech333 commented on #76120
This one is especially bad. Coderanger just called a person a troll who was being cyber bullied.

[2019-04-04 05:37] frittentheke commented on #70897
/remove-lifecycle rotten

[2019-04-04 05:58] krmayankk commented on #76105
thanks will send out a fix next week

[2019-04-04 06:19] esakat opened #76125 "Apply ECR PrivateLink support to kubelet 1.12.x"
**What happened**:

Now I'm using AWS EKS, and I am trying to launch a Worker with a closed VPC, (i.e. I'm not using Internet Gateway and Nat Gateway.
However, Worker did not start.
[code]

I checked kubelet log, I find out that kubelet cannot pull necessity images from ecr.
[code]

Therefore I created following VPC Endpoint.

* com.amazonaws.ap-northeast-1.ec2
* com.amazonaws.ap-northeast-1.s3
*

[2019-04-04 06:28] xiaoxubeii commented on #75954
I use Headless Service + StatefulSet. And after do some tests,  same svc and sts yaml, I found it worked but the one with the problem didn't. I suspect that some operations triggered a bug in the endpoint controller. Any helps would be welcome.

[2019-04-04 06:44] NickrenREN commented on #67221
We met the same problem when using ValidatingWebhookConfiguration for deployment subresource(scale) validation.
`Internal error occurred: converting (extensions.Deployment).Replicas to (v1beta1.Scale).Replicas: Selector not present in src`

[2019-04-04 06:44] NickrenREN commented on #67221
/remove-lifecycle rotten

[2019-04-04 06:47] paulsubrata55 commented on #37414
Since the PR #74341 is merged to master, `nodeIP` is also used in `ipvs/proxier.go`. Now if this race condition happens, kube-proxy is not able to determine the correct nodeIP. This affects all the `SCTP` nodeport services with kube-proxy mode ipvs.

Reopening the issue /reopen

[2019-04-04 06:48] paulsubrata55 commented on #37414
/reopen

[2019-04-04 07:20] surajssd commented on #58692
@tuananh can you please provide the steps you are performing and what errors do you see? Please elaborate on what you are trying to achieve?

[2019-04-04 07:23] tuananh commented on #58692
@surajssd  im trying to get redis dump from container to my machine using this command

    kubectl cp dev/redisdev-master-0:/bitnami/redis/data/dump.rdb ~/dump.rdb

I'm getting the above error

    tar: Removing leading `/' from member names

[2019-04-04 07:25] wxyongcn commented on #75663
Thanks. OK, we will try to upgrade the k8s version firstly. let's see if it makes any difference then.

[2019-04-04 07:28] surajssd commented on #58692
@tuananh was the file copied successfully if yes then this is not really an error. If not then there could be other issues. See https://github.com/kubernetes/kubernetes/issues/58692#issuecomment-395957776 for more info

[2019-04-04 07:41] #75495 closed

[2019-04-04 07:41] wojtek-t commented on #48610
Kube-proxies watching all endpoints are very dense in some cases also.

+1

[2019-04-04 07:41] esakat commented on #76125
/sig aws

[2019-04-04 07:50] tuananh commented on #58692
my bad. the file was copied indeed.

On Thu, Apr 4, 2019 at 2:30 PM Suraj Deshmukh <notifications@github.com>
wrote:

[2019-04-04 08:42] inyee786 commented on #54474
facing the same error

[2019-04-04 08:58] styk-tv commented on #70147
I like the idea of ClusterSecret personally. Or at least to a level that by default it it would be allowed to operate in all namespaces, or upon definition, it could know exactly in what namespaces it operates as part of meta definitions. I share the pain of wildcard certificate distribution while trying to logically organize services into many namespaces.

[2019-04-04 09:18] mkumatag opened #76134 "Use the multi-arch manifest etcd for the e2e conformance tests"
**What happened**:
I see only amd64 architecture etcd is used for the [conformance](https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go#L63) which will create issues for the other architectures like ppc64le, arm etc. We need to replace this etcd image with the k8s maintained fat manifest image present in `gcr.io/google-containers/etcd:3.3.10`

[2019-04-04 09:18] mkumatag commented on #76134
/sig testing

[2019-04-04 09:25] illusion202 opened #76135 "Why use the Statefulset to deploy CSI plugins ?"

[2019-04-04 09:52] geekodour opened #76138 "Share Process Namespace for Deployments"
**What would you like to be added**:
Trying to
[Share Process Namespace](https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/) using Deployments. The example refers to a Pod definition using apiversion `v1` I am not sure why this is not working as expected.

example config
[code]

**Why is this needed**:
I think this only works for Pod declarations, make it work on dep

[2019-04-04 10:04] geekodour commented on #76138
By not working I mean, when  I ps inside any one of the containers, `/pause` is not even running. It's the application running as PID1 again.

[2019-04-04 10:10] ctrombet commented on #69844
Same issue here with AWS EKS.
Node are prevented to join the cluster.

E0404 10:06:18.983463    2384 event.go:203] Server rejected event '&v1.Event{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ObjectMeta:v1.ObjectMeta{Name:"ip-172-18-1-49.eu-west-1.compute.internal.15923d7113df83dc", GenerateName:"", Namespace:"default", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:v1.

[2019-04-04 11:06] #70501 closed

[2019-04-04 11:10] scorsair commented on #50375
Would like to have this option!

[2019-04-04 11:19] vishnukraj1111 commented on #76069
This was a loadbalancer issue while controller was connection to the api server.

@yue9944882  Thanks for the hint orelse I won't have checked the api server logs.

/close

[2019-04-04 11:19] #76069 closed

[2019-04-04 11:24] lentzi90 commented on #28610
Cross linking, since the KEPs moved. The KEP for this is now [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0033-service-topology.md).

Issue available [here](https://github.com/kubernetes/enhancements/issues/536) targeted for v1.15

[2019-04-04 11:28] js00070 commented on #74262
I changed the image-repository from k8s.gcr.io to registry.aliyuncs.com/google_containers

problem solved!

[2019-04-04 11:32] wojtek-t commented on #72016
It seems to be pretty healthy now.

[2019-04-04 11:32] #72016 closed

[2019-04-04 11:34] rodrigopmatias commented on #74262
I think, that this is not the best solution to this problem.

Em qui, 4 de abr de 2019 08:30, ZZY <notifications@github.com> escreveu:

[2019-04-04 11:38] danwinship commented on #37414
looks like this shouldn't have gotten closed anyway
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2019-04-04 11:49] neolit123 commented on #76138
/sig node

[2019-04-04 11:49] neolit123 commented on #76135
/sig storage

[2019-04-04 11:54] Ashraf-Hassan commented on #70411
I wonder why the case is issue is closed, I have been jumping from one link to another and I cannot see the fix for the issue, I have 3 masters behind HAPROXY, and I am suffering exactly from the same problem, and below is the config for the api pod:
spec:
  containers:
  - command:
    - kube-apiserver
    - --authorization-mode=Node,RBAC
    - --advertise-address=10.245.10.10
    - --allow-privi

[2019-04-04 11:55] adracus opened #76143 "Dynamic PV with ReclaimPolicy `Delete` not deleted in cloud provider if first delete call failed."
**What happened**:
A dynamically provisioned PV is not being cleaned up in the cloud although the `ReclaimPolicy` is `Delete` and an unmount was successful. The PV is gone in Kubernetes, but it is still present in the cloud provider.

**What you expected to happen**:
The dynamically provisioned PV should be cleaned up in the cloud provider and be gone from Kubernetes, but it is only deleted from K

[2019-04-04 11:57] geekodour commented on #76138
I think I am facing because GKE only supports this feature on alpha clusters?

https://cloud.google.com/kubernetes-engine/docs/concepts/alpha-clusters

Any estimations on when `PodShareProcessNamespace` will be added to normal clusters?

[2019-04-04 12:04] adracus commented on #76143
@kubernetes/sig-storage-bugs

[2019-04-04 13:00] hormes opened #76145 "The re-watch mechanism does not work as expectations"
If we have two apiservers and restart one on an upgrade, all watchers will go to the other on and never shuffle to the new one.

[code]

We do the re-watch in reflector actually, but the underly client will be reused.

[2019-04-04 13:05] wojtek-t commented on #76145
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/48610 which has much more discussion on it.

[2019-04-04 13:05] #76145 closed

[2019-04-04 13:13] kennethredler commented on #75414
So [it appears next CoreDNS release will be 1.5.0, not 1.4.1](https://cloud-native.slack.com/archives/C4DF7FP71/p1554149608000900).

What's the most stable choice of CoreDNS version for running 1.14.0 @chrisohaver ❓

- [ ] 1.3.1 ❔
- [ ] 1.4.0 ❔
- [ ] 1.5.0 ❔ (when it arrives claimedly later "this week")

[2019-04-04 13:16] #76120 closed

[2019-04-04 13:17] zhangguanzhang opened #76146 "Unable to remove old endpoints from kubernetes service: StorageError"
[code]
the kube-apiserver's log print this
[code]

[2019-04-04 13:20] zhangguanzhang commented on #76146
/sig kube-apiserver

[2019-04-04 13:21] zhangguanzhang commented on #76138
show your apiserver's run options

[2019-04-04 13:33] Ashraf-Hassan opened #76147 "Cannot list the logs in one of the API pods"
**What happened**:
When I run:
# kubectl logs kube-apiserver-master01
I am getting:
failed to open log file "/var/log/pods/6db22ad086cc13a18bf0bd00eeaf6e05/kube-apiserver/0.log": open /var/log/pods/6db22ad086cc13a18bf0bd00eeaf6e05/kube-apiserver/0.log: no such file or directory

**What you expected to happen**:
To list the logs

**How to reproduce it (as minimally and precisely as possible)**:
I h

[2019-04-04 13:45] Ashraf-Hassan commented on #76147
/sig api-machinery

[2019-04-04 13:51] chrisohaver commented on #75414
IMO,  1.5.0, barring unforeseen issues, whenever it arrives.

But until then, I think there are three options:
1. Fall back to 1.3.0.
2. Or use 1.4.0, with the `reload` plugin removed from the Corefile.
3. Or use 1.3.1 with [workaround](https://github.com/coredns/deployment/pull/138) of mounting an EmptyDir to /tmp.

[2019-04-04 13:55] jeremych1000 commented on #1806
Been investigating this as well for production deployments - is Kaniko proven/production grade? Is there any downside to using something other than `docker build`?

[2019-04-04 14:18] sudheerchamarthi commented on #44041
Can anyone help how this issue is fixed? I tried with pidMode: host but it is failing. I am using i.11 version.

[2019-04-04 14:29] gnufied commented on #72131
closing this. It should be fixed in latest release.

[2019-04-04 14:32] sudheerchamarthi commented on #44041
I found it -->  hostPID: true

[2019-04-04 14:34] nugget opened #76150 "[UI] CPU and Memory reserved percentage display not updated when switching between clusters"
**What happened**:

When moving between two clusters, the percentage of CPU and Memory Reserved displays do not update and retain the value from the initial cluster.  I've observed this with clusters that have Grafana/Prometheus monitoring enabled.

**What you expected to happen**:

When I switch to a different cluster the reserved CPU and Memory percentage displays should reflect the values for t

[2019-04-04 14:35] #76150 closed

[2019-04-04 14:35] nugget commented on #76150
Please ignore, opened by mistake.

[2019-04-04 15:26] damemi commented on #66538
I've got a couple recent reports of this problem, and have been digging into it before finally finding this GH issue.

Like @nikhita said, it looks easy to add the `as=Table` header to the first request, but the following requests come from a watch. From catching up on this thread it seems that the watch endpoints don't support `as=Table`, is that still true?

If so, would it be possible to manual

[2019-04-04 15:29] liggitt commented on #66538
watch supports table events in the 1.15 dev stream as of https://github.com/kubernetes/kubernetes/pull/71548

[2019-04-04 15:42] liggitt commented on #75828
adding streaming server libraries to the api package greatly increases the dependency tree (k8s.io/api, k8s.io/apimachinery, and all their transitive dependencies)

an impl module like `k8s.io/cri-server` makes more sense to me. We've done the same thing for kubernetes types (k8s.io/api is distinct from client and server implementations)

[2019-04-04 16:02] milesbxf commented on #73558
We've just hit this in `v1.12.7` via `kubectl logs`. Unfortunately using a single domain in our DHCP options isn't really an option, so I'm going to raise a PR with a fix. Thanks for raising this @IpaliboWhyte, has saved us a lot of time 🙂

[2019-04-04 16:11] liggitt opened #76154 "Drop reverse proxy workaround once upgraded to go1.12.2"
The workaround in https://github.com/kubernetes/kubernetes/pull/75887 should be removed (but the test kept to prevent regressions) once we upgrade to go 1.12.2 and pick up https://github.com/golang/go/commit/ec06e9ba4578d26fdb9c521d4042e3f9f7f42435

/assign

[2019-04-04 16:18] #56038 closed

[2019-04-04 16:20] liggitt commented on #66538
kubectl still needs to be updated to request table output on watch (with a fallback to application/json, as today), and print table output on watch (with a fallback to object output, as today)

[2019-04-04 16:27] cheftako commented on #27744
+1

[2019-04-04 16:32] cheftako commented on #76154
Thanks Liggitt

[2019-04-04 16:33] cheftako commented on #76154
/sig api-machinery

[2019-04-04 16:42] leakingtapan commented on #69678
If you are using v1.13+ cluster, you can start using aws-efs-csi-driver for tls encryption. Here is an example: https://github.com/kubernetes-sigs/aws-efs-csi-driver/blob/master/examples/kubernetes/encryption_in_transit/README.md

[2019-04-04 17:01] caesarxuchao commented on #67221
@NickrenREN said in slack that to reproduce, we need a validating webhook that intercepts deployment/scale, and then run `kubectl scale deployment`.

@NickrenREN could you paste the exact validating webhook configuration here?

I think the error was emitted when the apiserver tries to convert the object before sending to the webhook.

cc @mbohlool @liggitt

[2019-04-04 17:01] sshuvaev opened #76155 "bootstrap kubernetes from private registry"
**What happened**:
Can't pull images from private registry

**What you expected to happen**:
Kubernetes pull images from private registry

**How to reproduce it (as minimally and precisely as possible)**:
1. kubeadm config images pull
2. upload images to private registry
3. bootstrap kubernetes from private registry
4. init calico
5. join node
6. kubectl create secret generic regcred \
    --from-

[2019-04-04 17:32] gnufied opened #76158 "World Writable emptydir directories"
So this PR - https://github.com/kubernetes/kubernetes/pull/9384 added `777` as default mode for EmptyDirs so as it can be used by non-root containers, but this was before `fsGroup` and other things.

Is this still relevant? I was thinking it might be okay to move this to `770` but recently added `RunAsGroup` feature for containers may not play nicely with it if user has specified different GID for

[2019-04-04 17:33] gnufied commented on #76158
/sig storage

cc @thockin @msau42 @pmorie

[2019-04-04 17:35] msau42 commented on #76158
@kubernetes/sig-auth-misc

[2019-04-04 17:44] tallclair commented on #69585
FYI: https://github.com/google/cadvisor/pull/2213

[2019-04-04 18:07] caseydavenport commented on #73407
Given my current understanding, I don't think this is a sig-network bug - if anything, there is a bug here in the cloud provider for trying to set duplicate/wrong IP addresses.

/remove-sig network

[2019-04-04 18:07] caseydavenport commented on #73407
/unassign @caseydavenport

[2019-04-04 18:14] caseydavenport commented on #52184
For #4 re: Calico, the default installation now uses the Kubernetes API rather than accessing etcd directly and has for a while.

For users who want to use etcd directly for whatever reason, there is also documentation on [using etcd RBAC to lock down access](https://docs.projectcalico.org/v3.6/reference/etcd-rbac/).

[2019-04-04 18:25] MrHohn commented on #51292
This is still needed but is blocked by #23225.

/remove-triage unresolved

[2019-04-04 18:34] MrHohn commented on #71423
AFAICT this has been significantly improved: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=session%20affinity
![Screenshot from 2019-04-04 11-33-13](https://user-images.githubusercontent.com/8681801/55579620-861f6680-56cd-11e9-9179-f18bb81d08c1.png)

Closing this and thanks to @grayluck!
/close

[2019-04-04 18:34] #71423 closed

[2019-04-04 18:40] HiMyFriend commented on #50295
mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

Mission complete!

[2019-04-04 18:41] freehan commented on #76022
@tgraf I thought cillium has its own kube-proxy? Is this supported (ipvs + cillium)? If not please close.

[2019-04-04 18:43] freehan commented on #76000
@Coderhypo  is correct. Closing. Please reopen if needed

[2019-04-04 18:43] #76000 closed

[2019-04-04 18:45] msau42 commented on #69699
/remove-lifecycle rotten

[2019-04-04 18:48] freehan commented on #75572
This is not a kubernetes issue. More like a flannel issue?

[2019-04-04 18:48] #75572 closed

[2019-04-04 18:50] yujuhong commented on #75421
Not being able to remove is definitely a problem. CNI should reply no error there's nothing to remove. Not sure why the ADD failed though...

@pjh do you have time to do this?

@nagiesek the tests typically take > 1hr to run to completion. Will the trace file be too large?

BTW, the relevant kubelet log from a different failure: https://gist.githubusercontent.com/yujuhong/f7bd0e483b17117721068d797

[2019-04-04 18:51] freehan commented on #74759
ping @dcbw

[2019-04-04 18:52] freehan commented on #74308
ping @spiffxp

[2019-04-04 18:53] freehan commented on #73128
Ping @MikeSpreitzer

[2019-04-04 18:54] dimm0 commented on #69699
I'm having lots of issues with chown and selinux relabelling in rook ceph volumes, and patiently waiting for a fix from k8s...

[2019-04-04 18:55] dimm0 commented on #69699
Users who are running jupyter (containers with non-root users) and having 100K+ files in their volumes are unable to run, because jupyter times out before k8s is done chowning every single file

[2019-04-04 19:00] leakingtapan opened #76164 "Endpoints object got deleted after cluster upgrade"
**What happened**:
I am using selectorless service to integrate my external glusterfs with Kubernetes. I only create the endpoint object without service object because that all what [glusterfs needs](https://github.com/kubernetes/examples/blob/master/staging/volumes/glusterfs/glusterfs-pod.json#L24). I upgraded my cluster through a process that involves cycling master nodes. Unexpectedly, the glus

[2019-04-04 19:14] #70151 closed

[2019-04-04 19:17] johnbelamaric commented on #75414
Yes, I agree 1.5.0 is best, assuming you don't mind tweaking the Corefile.

[2019-04-04 19:24] neolit123 opened #76166 "[Failing Test]: [sig-storage] CSI Volumes (pull-kubernetes-e2e-gce)"
**Which jobs are failing**:
pull-kubernetes-e2e-gce

**Which test(s) are failing**:
[code]

[code]

**Since when has it been failing**:
unknown

**Testgrid link**:
https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce

**Reason for failure**:
unknown

**Anything else we need to know**:
PR that introduces the new test:
https://github.com/kubernetes/kubernetes/

[2019-04-04 19:29] neolit123 commented on #76166
/remove-kind bug

[2019-04-04 19:37] neolit123 commented on #76166
@Katharine from SIG Testing mentioned that probably the whole job is timing out, so this might not be a SIG Storage problem per-se.
we need the `pull-kubernetes-e2e-gce` owners to triage the problem.

[2019-04-04 19:39] thockin commented on #72746
In general there isn't a notion of "ready" for a Service.

If a service has 100 pods, how many must be ready for the service to be ready?  Just 1?  All 100?  Some user-defined proportion?

If a service has a load-balancer, and that LB IP has not been allocated, it's pretty clearly NOT ready.  But we report that already.  And if that IP has been provisioned, it doesn't mean that traffic is end-to-e

[2019-04-04 19:43] weibeld commented on #53248
You can display an overview of which ServiceAccounts the RoleBindings and ClusterRoleBindings reference with the following command:

[code]

And then you could `grep` for the ServiceAccount you're looking for.

[2019-04-04 19:43] thockin commented on #72746
I'm going to leave this as triage/unresolved for now.  Though I have a bias here, I am listening.

[2019-04-04 19:43] bowei commented on #76164
One possibility is to have the Service controller set the ownership reference in the ObjectMetadata and rely on garbage collection to do the cleanup instead of doing it on its own.

cc: @freehan, who is looking into Endpoints enhancements.

[2019-04-04 19:44] andrewsykim commented on #68234
/close

[2019-04-04 19:44] #68234 closed

[2019-04-04 19:44] #75575 closed

[2019-04-04 19:57] thockin commented on #72472
You can tweak the MaxPerCore config if you think that slope is too high, but 32k was chosen in response to users experiencing real problems.

The sad truth is that there isn't a universal answer to this, and the fact that the kernel can't adapt dynamically makes it very hard to pick a value that works for everyone.

Can we change this dynamically from user-space?  I honestly do not know what happe

[2019-04-04 19:58] thockin commented on #70159
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-04-04 19:58] yastij commented on #76079
/sig cloud-provider

[2019-04-04 20:00] bitsofinfo commented on #9995
need this!

[2019-04-04 20:01] thockin commented on #70159
I have re-titled this.   The question is whether this should just be a documented "best practice" or whether we should actually go through all of the existing providers and try to make this happen?   I'd love to see it done.

[2019-04-04 20:01] vllry commented on #76164
As I mentioned in Slack, the Service docs imply that users need to create a service with specified endpoints: https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors

Is there a reason why we should change endpoint cleanup? I might be missing something here.

[2019-04-04 20:06] msau42 commented on #76166
Here's one example run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1113867644991180803

[2019-04-04 20:12] neolit123 commented on #76166
i've sent an email to k-dev to see who reacts.
increasing the timeout is the preferred option for now.

[2019-04-04 20:12] Katharine commented on #76166
To clarify I think this is a real failure that really happened at least twice, but it is likely not the primary cause of pull-kubernetes-e2e-gce currently being broken, and almost all failed pull-kubernetes-e2e-gce runs that I see had this test pass.

[2019-04-04 20:18] msau42 commented on #76166
Let's use this bug to triage this specific test case

[2019-04-04 20:19] msau42 commented on #76166
The first provision succeeded:
0404 18:32:48.073587       1 controller.go:926] provision "multivolume-4799/pvc-mvjvq" class "multivolume-4799-csi-hostpath-multivolume-4799-scjmgx4": started

The second one failed because it couldn't find the storage class:
I0404 18:32:50.107076       1 controller.go:926] provision "multivolume-4799/pvc-985xh" class "multivolume-4799-csi-hostpath-multivolume-4799-s

[2019-04-04 20:30] wongma7 commented on #76166
The provisioner doesn't retry/requeue if the storageclass is not found. I guess it is flaky because the pvc is created immediately after the sc and even though the provisioner has watches on both, it's possible it sees pvc before sc? It's a bug in the external library, not an issue with in-tree because it retries everything every 15s. So I'll need to update the library, update hostpath plugin, the

[2019-04-04 20:32] wongma7 commented on #76166
There is probably something else wrong because every other dynamic provisioning test creates pvc immediately after the sc. Why does only this one flake?

[2019-04-04 20:38] msau42 commented on #76166
We store all the CSI driver logs for each test case under artifacts

[2019-04-04 20:45] dcbw commented on #75441
@BSWANG CNI plugins need to be resilient to errors on create, even if the netns goes away during that time. If the plugin is unable to release resources it created while setting up the sandbox, then the plugin has a bug that needs to be fixed. Please file an issue against the flannel plugin in the https://github.com/containernetworking/plugins repo for that.

But also, kubelet should *never* have

[2019-04-04 20:49] dcbw commented on #75441
Even if this is the case, the CNI plugin needs to be able to clean up resources it created since there certainly are cases (like node restarts) where the network namespace will not exist when the plugin gets a DEL event.  Simply put the plugin cannot depend on the network namespace being present, and it must either cache information it needs to clean up correctly or get that information from some

[2019-04-04 20:54] caesarxuchao commented on #76107
/assign @mbohlool

[2019-04-04 20:55] andrewsykim commented on #70159
Thanks Tim, added this to the SIG CP backlog https://github.com/kubernetes/cloud-provider/issues/27

[2019-04-04 20:55] caesarxuchao commented on #76147
/remove-sig api-machinery
/sig node

[2019-04-04 20:56] dcbw commented on #76064
@cadmuxe AFAIK traffic shaping is still supported in kubenet. Does a pod with these annotations come up successfully but has no traffic shaping applied? Or do things fail earlier?

If it comes up successfully, could you run `tc class show dev cbr0' ?

[2019-04-04 20:57] caesarxuchao commented on #76107
https://github.com/kubernetes/kubernetes/issues/67221 is the same issue

[2019-04-04 21:02] cadmuxe commented on #76064
On GKE we do not officially support this, our default image even don't have tc installed.
I tried with ubuntu, the kubenet is failed to parse the tc output.

kubenet expect. // filter parent 1: protocol ip pref 1 u32 fh 800::800 order 2048 key ht 800 bkt 0 flowid 1:1
tc return.// filter parent 1: protocol ip pref 1 u32 chain 0 fh 800::800 order 2048 key ht 800 bkt 0 flowid 1:1 not_in_hw

[2019-04-04 21:03] snegivulcan commented on #51957
/remove-lifecycle rotten

[2019-04-04 21:04] snegivulcan commented on #51957
/reopen

[2019-04-04 21:06] mkimuram commented on #76166
Should we just add wait before [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/base.go#L207) and [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/provisioning.go#L247)?

Or are there any ways to ensure that storageClass is ready? (like checking that storageClass can be got after creation.)

[2019-04-04 21:09] dcbw commented on #75443
@zhangguanzhang With IPVS the proxy binds to the dummy interface, not the physical node interface. It sets up IPVS routes for the physical interface's IP instead. Are you able to run `ipvsadm -L` to see what the proxy is adding to the kernel?

[2019-04-04 21:10] wongma7 commented on #76166
I don't think wait is the solution. Even if the test does a Get after Create, there is no guarantee that the provisioner pod's informer has seen the StorageClass too.

I've opened https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/38 for now

I am still unsure why only this test is flaking frequently, if the issue is race between controller seeing PVC first or SC first, o

[2019-04-04 21:11] freehan commented on #75173
ping

[2019-04-04 21:11] wongma7 commented on #76166
@mkimuram I guess given the frequency of failures, waiting for SC to exist after the Create call could be a good stopgap solution. Fixing the lib->hostpath plugin->test will take a lot more time.

[2019-04-04 21:15] freehan commented on #72511
@JacobTanenbaum

[2019-04-04 21:16] mkimuram commented on #76166
@msau42

Can we wait until @wongma7 's actual fix for this issue or do we need workaround to reduce this flake?

[2019-04-04 21:17] msau42 commented on #76166
Let's go with @wongma7 's fix. I don't think it should take too long

[2019-04-04 21:20] freehan commented on #72186
@lzang

[2019-04-04 21:23] andrewsykim commented on #72146
/assign

[2019-04-04 21:25] freehan commented on #72019
WAI closing.

[2019-04-04 21:25] #72019 closed

[2019-04-04 21:29] tallclair commented on #53455
Agreed. What I would actually like to see is an out-of-tree implementation of this. An application that is registered as a dynamic audit webhook and serves the audit stream (maybe with an in-memory history cache). It could either serve a custom API, or register itself as an extension API server.

[2019-04-04 21:46] prameshj commented on #75954
Any endpoint controller logs that you can share? @xiaoxubeii

[2019-04-04 21:51] freehan commented on #71358
/lifecycle frozen
/remove  triage/unresolved

[2019-04-04 21:53] freehan commented on #71140
no fix yet. closing

[2019-04-04 21:53] #71140 closed

[2019-04-04 21:54] prameshj commented on #70851
/close

[2019-04-04 21:54] #70851 closed

[2019-04-04 21:55] freehan commented on #71082
Probably not a kubernetes problem. The user should build nsswitch.conf in the image. Or the base image should have it.

[2019-04-04 21:55] #71082 closed

[2019-04-04 21:56] #70949 closed

[2019-04-04 21:58] kfox1111 commented on #71082
its not obvious to users that they need to do that. :(

[2019-04-04 22:10] misterikkit commented on #75274
I have not yet started writing a KEP for this. @vllry @denkensk do either of you have a draft that we can work from, or should I start from scratch?

Meanwhile, I'm going to go re-read the current spreading implementation.

[2019-04-04 22:29] neolit123 opened #76170 "[sig-storage] Slow running tests in the test suite"
@Katharine created a spread sheet of the slowest running tests for the pull-kubernetes-gce job.
cc @liggitt

discussion on slack:
https://kubernetes.slack.com/archives/C09QZ4DQB/p1554413286170600

spreadsheet:
https://docs.google.com/spreadsheets/d/1XXXBQtqARIfgY9HaAJvf0dJ83kydq14mQijAsH9tWYQ/edit?usp=sharing

pie chart of test durations from SIGs:
![pull-kubernetes-e2e-gce-test-durations](https:/

[2019-04-04 22:31] cppforlife commented on #72746
i was not intending for this issue to cover that kind of functionality. to me what you are describing is more of endpoint heathiness state not service resource readiness.

this is similar to aws making distinction between provisioning load balancer state, and separate state of target healthiness.

however, there are at least two different types of services: cluster ip / pure kubernetes vs external

[2019-04-04 22:32] neolit123 commented on #76170
/remove-kind bug

[2019-04-04 22:39] thockin commented on #72746
If you don't care that packets can flow, why do you care that some arbitrary progress towards that is complete?  It seems to me that you either depend on the Service being reachable "right now" or you don't depend on it.  "Provisioned" is meaningless from a functional point of view.

[2019-04-04 22:56] craigbox commented on #15675
/remove-lifecycle stale

On Fri, 5 Apr 2019 at 02:09, fejta-bot <notifications@github.com> wrote:

[2019-04-04 23:05] krmayankk commented on #63465
/reopen

[2019-04-04 23:06] nagiesek commented on #75421
Yep, the PR should fix the bug.

For the trace Depends on how large it ends up, but we can probably work with it.

This log file is pretty interesting. I'm going to check hcsshim and the win-bridge plugin, and test some local scenarios for these situations and I'll report back. Between that and a run with tracing I think we can resolve this.

[2019-04-04 23:08] krmayankk commented on #63465
@janetkuo why does the DaemonSet controller wait for all pods 50 to be done, before moving to the NEXT 50 ? I completely understand that we want only at most 1 pod per node. But if a pod deletion fails on the node, move on to the next pod  as long as the total unavailable pods are less than maxUnavailable. This will allow us to make progress in the face of bad nodes or failed pod deletions due to

[2019-04-04 23:09] krmayankk commented on #63465
/assign @krmayankk

[2019-04-04 23:10] thockin commented on #72109
I can not reproduce this at all with Docker 18.09.4

Can you help us to narrow it down?  Do your docker runs have IPv6 addresses assigned?

`docker run -ti gcr.io/google-containers/kube-apiserver:v1.12.3 ip addr`

[2019-04-04 23:10] #72109 closed

[2019-04-04 23:12] thockin commented on #72098
While we actually do open the port in kube-proxy (which is why netstat sees it at all), we use iptables rules to handle traffic, and those are single-family only.  No dual-stack yet.

[2019-04-04 23:12] #72098 closed

[2019-04-04 23:13] pjh commented on #75421
Sorry for the delay, I expect I can start running our clusters with the suggested PR (https://github.com/containernetworking/plugins/pull/286) this evening.

[2019-04-04 23:26] thockin commented on #71851
`--hostname-override` is the mechanism -- set it to the nodename.

My memory is fuzzy - is there a real use-case to set `hostname-override` to something OTHER THAN the nodename (or leave it unset, using `hostname`)

[2019-04-04 23:30] alejandrox1 commented on #75653
/close

[2019-04-04 23:30] #75653 closed

[2019-04-04 23:34] sneko commented on #68705
@scm-ns  @soumentrivedi I'm facing the same issue with a cluster managed by KOPS.

Do you have more information about this? As soon as the CPU usage is high my node is totally stuck 😢

Thank you,

[2019-04-04 23:36] thockin commented on #71706
I'm going to add some logging here.  If it is a spurious error it should retry eventually.  If it is actually generating bad payload, the logs will help.

https://github.com/kubernetes/kubernetes/pull/76171

[2019-04-04 23:43] thockin commented on #71305
@dcbw You said you have some iptables-experts.  Can we get advice on a canonical way to probe the system for the preferred binary to run?  If we have that, we can code kube-proxy and kubelet to be smarter

[2019-04-04 23:45] bsalamat opened #76172 "Remove FIFO scheduling queue from the scheduler codebase"
After the introduction of Pod Priority and Preemption, we added a new scheduling queue which is Priority aware and has various features to provide fairness and to ensure that a high priority unschedulable pod does not block the head of the queue. This new queue has been enabled by default since Kubernetes 1.11 and is tested extensively in production and non-production scenarios. Given the maturity

[2019-04-04 23:46] tallclair commented on #76158
What is the motivation for this NOT being `777`? The parent directory should be restricted to root, so I'm not sure how an uncontained process would access this. For security sensitive applications, they can still write files as `600` or whatever they need.

I'm not sure that restricting access to this actually increases security much, but it does hurt useability...

[2019-04-04 23:47] thockin commented on #70957
The long-story-short on this is that it is not supported.

We could make the CIDR range allocator smarter here, but this is a feature-request more than a bug.

[2019-04-04 23:53] MrHohn commented on #23225
This hasn't been prioritized but we will work on it.
/remove-triage unresolved

[2019-04-04 23:54] msau42 commented on #76166
https://github.com/kubernetes-csi/external-provisioner/releases/tag/v1.1.0-rc2

[2019-04-05 00:00] MrHohn commented on #49425
This is still something good to have (though not at a high demand), but the previous attempt seems to bring in non-trivial changes logically. The  GCE LB related codes in cloud provider were implemented in a somehow fragile way, so we probably need to first overhaul that before we can safely patch changes like this.

/remove-triage unresolved

[2019-04-05 00:00] xiuqiaoli commented on #76172
@bsalamat  Bobby, I can work on this task as a start point.

[2019-04-05 00:02] MrHohn commented on #65114
A migration path may not may not be necessary to be implemented in the OSS kube-up scripts, I will close this for now.

[2019-04-05 00:02] #65114 closed

[2019-04-05 00:02] MrHohn commented on #65114
/remove-triage unresolved

[2019-04-05 00:12] MrHohn commented on #56138
This issue is still valid --- some action items on top of my head:
- Figure out a plan to make service controller properly handle operations in parallel.
- Check on the status for cloud providers (especially GCP, which the test ran against) on handling large number of nodes as LB backends.

/remove-triage unresolved

[2019-04-05 00:34] msau42 commented on #76170
Are pull jobs the right place to be calculating the time?  Or should be be counting in CI instead?

[2019-04-05 00:37] liggitt commented on #76170
pull is the one timing out, so probably?

[2019-04-05 00:40] pjh commented on #75148
The folks at Microsoft root-caused this issue and we've verified a fix for it. The fix will make it into Windows Server 2019 at some point, not sure about the timing for SAC releases.

[2019-04-05 00:41] pjh commented on #75148
/assign craiglpeters

For tracking.

[2019-04-05 00:45] msau42 commented on #76170
Looking at some of the top slowness::

subPath should fail for new directories when readOnly specified in the volumeSource: This test case is no longer defined in master
HostPathType: This test case has not been checked in yet and is trying to be added in a PR
PersistentVolumes-local  StatefulSet with pod affinity should use volumes spread across nodes when pod has anti-affinity: This test is alre

[2019-04-05 00:47] msau42 commented on #76170
Created https://github.com/kubernetes/kubernetes/pull/76174. This should address most of the top slow storage tests

[2019-04-05 00:48] #75775 closed

[2019-04-05 00:53] bsalamat commented on #76172
@xiuqiaoli Sure. I cannot assign to you officially since you are not a member yet, but it is assigned you.

[2019-04-05 01:29] mysticaltech opened #76176 "Problem with KubeWeekly newsletter subscription"

[2019-04-05 01:41] #76176 closed

[2019-04-05 02:37] #76170 closed

[2019-04-05 03:10] m1093782566 commented on #72146
xref #75241, #75242

/close

[2019-04-05 03:10] #72146 closed

[2019-04-05 05:04] logicalhan commented on #75779
The duplicated metric registration errors reported from #73551 is likely due to this behavior. The errors due to invalid metric names is a separate issue but also easy to fix.

[2019-04-05 05:31] #75360 closed

[2019-04-05 05:31] #75408 closed

[2019-04-05 05:31] #76134 closed

[2019-04-05 05:33] shinebayar-g commented on #51376
@peterkuiper Thanks a lot, after removing that label my daemonset no longer getting deleted.

[2019-04-05 05:55] naoufallaaziz commented on #74135
Hello, we are facing the same issue, we are able to reproduce the problem like it is described above: we add an iptable rule to drop packets to the nfs server, than we set false livenessprobe to force the pod to the terminating state. as a result, the node goes to notready state with PLEG error in the node description. We are looking for any fixes or workarrounds, but we are not willing to change

[2019-04-05 06:03] Coderhypo commented on #76147
the  logs in /var/log/pods is a soft link from /var/lib/docker/containers
can you run `ls -al` ，get the path in /var/lib/docker/containers，and check the log file?

[2019-04-05 06:07] yastij commented on #70957
@thockin - I can start a KEP with some usecases

[2019-04-05 06:24] brobert83 commented on #36845
Got the same issue
The way I got around it was to use aws cli directly and remove the listener than recreate it, like so

1. grab the elb with :
```aws elb describe-load-balancers```  <- jq the hostname and instance id, you will need them for the delete and recreate
2. delete the listener:
```aws elb delete-load-balancer-listeners --region={{ aws_region }} --load-balancer-name {{ load_balancer_nam

[2019-04-05 06:38] pc-rshetty commented on #13488
Rolling restart is very much needed . 1 example is we get all secrets from SSM from AWS. If we change some secret from SSM we would like to do a rolling restart so that the pods now pick up the latest when they boot. Also some times there are application issues which needs rolling restart till actual fix lands on production.

[2019-04-05 07:32] wojtek-t opened #76182 "Kubemark-5000 is consistently failing in the last 4 runs"
Runs are failing with:
[code]

@mm4tt

[2019-04-05 07:35] mm4tt commented on #76182
/assign

[2019-04-05 07:50] mm4tt commented on #76182
The exact error we see in the logs is:
[code]

Looks like the scheduler didn't schedule the prometheus-k8s pod. If you compare the scheduler logs from the passing run, you'll see something like this:
[code]

The scheduler logs from 4 last runs ends on scheduling last the last hollow node, e.g.
[code]

[2019-04-05 08:09] wojtek-t opened #76183 "Scalability tests are failing to start 5k-node cluster"
Last 2 runs of correctness tests and last run of performance tests failed to create a cluster:
https://testgrid.k8s.io/sig-scalability-gce#gce-scale-correctness
https://testgrid.k8s.io/sig-scalability-gce#gce-scale-performance

Something regressed ~2 days ago.

@kubernetes/sig-scalability-bugs

[2019-04-05 08:10] mm4tt commented on #76182
Hard to say what happened. We need more logs to debug such failures.

**AIs**:

1. Temporarily disable Prometheus in Kubemark 5K
2. Add more logging in CL2 in case of such failure, e.g. output of something like `kubectl describe prometheus-k8s` would be really useful
3. Reenable Prometheus in Kubemark 5K after weekend with the additional logging

[2019-04-05 08:21] wojtek-t commented on #76182
I think this may also be related to https://github.com/kubernetes/kubernetes/issues/76183

[2019-04-05 09:01] sonyjop opened #76186 "nslookup kubernetes fails from ambassador pod"

[2019-04-05 09:10] sonyjop commented on #76186
Kubernetes 1.14.0 and CNI is flannel with kubedns.
When I configured ambassador and the routers were not working. it always shown "no healthy upstream". Further analysis indicates that there is no access from ambassador pod to DNS 10.96.0.10 and nslookup kubernetes just fails. I tried nc 10.96.0.10 53 from the busybox pod and that too failed.

[2019-04-05 09:42] wojtek-t commented on #76183
The problems is that nodes aren't registering, but doesn't seem to be related to to nodes themselves - kubelets are just getting 429s on almost all of their requests.

So either we're sending much more requests or they are much longer now.

The interesting thing is that I caught the current run in that phase, and cpu usage was really low (master was utilized in 10-20% for that time), so it's defin