[2021-02-03 15:29] neolit123 commented on #97294
the way kind creates an HA kubeadm cluster is the same as in the guide.

[2021-02-03 15:44] ns-jisorce commented on #98570
I retried setting the clusterIP field in nginx-service.yaml to a fixed ip and the problem disappeared, but only on my local setup (k8s v1.20.2). I was surprised so I retried in GKE and the problem was still there. In GKE it is not possible to change the log level of the kube-proxy so the only logs I get are:

[code]

So yes on my local cluster it seems the issue is dns but in gke it is both. Also

[2021-02-03 15:51] dprotaso commented on #92615
/lifecycle frozen

[2021-02-03 15:54] xmudrii commented on #97294
@neolit123 That's a bit strange. I'll investigate this a bit more tomorrow and get back to you with what I found. I'll try to increase the log level as proposed by @aojea.

[2021-02-03 16:15] vincepri commented on #94906
@caesarxuchao @fedebongio Would be possible to cherry-pick this fix in 1.20?

[2021-02-03 16:38] OliverCole commented on #8876
Good workaround, but doesn't cover the other cases.
/remove-lifecycle stale

[2021-02-03 16:40] ankeesler commented on #98451
I made a reproducer script[0] for what you are experiencing. When I change that line[1] that @blowfishpro mentioned to check if `os.Stdin.Fd()` is a terminal, that reproducer script passes.

I don't have much historical context on why we were checking `os.Stdout` instead of `os.Stdin`. The `git blame` didn't help either. The `v1alpha1` `ExecCredential` API had an `Interactive` field, but that went

[2021-02-03 16:40] ankeesler commented on #98451
Wonder if @enj has any thoughts.

[2021-02-03 16:59] cihangirbesiktas commented on #49999
We're having this issue on service deletion. It looks like healthcheck nodeport is not deallocated immediately when deleting the service.

This is causing issues for backup and restore of services with heathcheck node port.

[2021-02-03 16:59] andyxning commented on #74374
/sub

[2021-02-03 17:15] #94576 closed

[2021-02-03 17:26] cheftako commented on #98647
cc @jpbetz

[2021-02-03 17:40] richardst89 commented on #68684
I've encountered this issue when more than 50 ingress rules...
I've combined them onto the same ALB via `alb.ingress.kubernetes.io/group.name`
Is there a way to pre-define the exposed ports as ranges, to avoid each one added as a singular?

(e.g. 6000-6100, instead of 6000, 6001, 6002 rules)

[2021-02-03 17:45] robscott commented on #43214
@liggitt thanks for the reminder! It looks like we missed the items for 1.20 but @cmluciano will tackle them in the 1.21 cycle.

[2021-02-03 17:45] eddiezane commented on #98368
@soltysh to take a look.

[2021-02-03 17:46] eddiezane commented on #98362
/assign @verb

Please take a look and accept if so.

[2021-02-03 17:51] eddiezane commented on #98283
@soltysh to take a look. Possibly an issue with CRD discovery burst.

@Antiarchitect do you have a large number of CRD's?

[2021-02-03 17:52] eddiezane commented on #98253
/triage accepted

[2021-02-03 17:53] eddiezane commented on #98143
/triage accepted

Probably just need to update error message here.

[2021-02-03 17:56] eddiezane commented on #98100
/close

Multiple `-f`'s can be passed and workarounds can be done with other commands to generate them. `-f` also works with a directory `-f .` will grab all yaml files in current dir..

[2021-02-03 17:56] #98100 closed

[2021-02-03 17:59] eddiezane commented on #97859
/triage accepted

@joshkurz we'd like to see a demo of this to decide if it'd make sense.

[2021-02-03 18:05] yuanchen8911 commented on #97983
We need to be careful. Using the existing metrics names can break many existing systems that use them for monitoring and alerting. What would be a better strategy?

[2021-02-03 18:14] vnev commented on #98612
@liggitt I've begun trying to fix this issue. Would you happen to have any information on how to test the fixes at all?

[2021-02-03 18:17] ehashman commented on #98707
thanks so much for looking at this @BenTheElder @dims!

[2021-02-03 18:36] alenkacz commented on #98698
OMG this is amazing, I want this. I've spent last couple of weeks upgrading bunch of kubernetes related deps in several projects and I was thinking about something like this a lot. 🙏

I wish I could work on this :)

[2021-02-03 18:38] rikatz commented on #98143
oh sorry, missed that one. Will look now

[2021-02-03 18:42] neolit123 commented on #81756
/lifecycle frozen

[2021-02-03 18:48] pohly commented on #89312
/remove-lifecycle stale

[2021-02-03 18:58] xing-yang commented on #96225
/remove-lifecycle stale

[2021-02-03 18:59] rikatz commented on #5889
@bgrant0607 @liggitt I guess this one can be closed, right? AFAIK we already have strict validation on server side for unknown fields

[2021-02-03 19:02] gibsonje commented on #50898
This issue has been closed for about 1 year now but I don't know of a solution to this problem. This issue is linked to in various places that discuss this problem but I haven't found a simple solution yet.

I'm trying to get PVC EBS Volumes backed up using [AWS Backup](https://aws.amazon.com/backup/). It's virtually impossible to do this with just the features available in AWS and Kubernetes as f

[2021-02-03 19:15] johnbelamaric commented on #90764
That's not all that useful for those running conformance tests. Would be better to change it to always use the internal IP, we don't need the external access for conformance purposes.

[2021-02-03 19:16] johnbelamaric commented on #90764
/assign @pacoxu

[2021-02-03 19:25] rkilingr commented on #98606
Can confirm this https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98637/pull-kubernetes-integration/1357033477781852160

[2021-02-03 19:26] irmiller22 opened #98734 "HPA autoscaling not working as expected"
**What happened**:

Our k8s cluster is not able to scale up / down correctly per our HPA configurations.

**What you expected to happen**:

Our k8s cluster able to scale up / down correctly per our HPA configurations.

**How to reproduce it (as minimally and precisely as possible)**:

I have been attempting to add HPA configurations to our k8s clusters, and I have been noticing two separate (but m

[2021-02-03 19:28] irmiller22 commented on #98734
/sig autoscaling

[2021-02-03 20:16] dims commented on #98698
Prior art / background research:
- https://github.com/kubernetes/kubernetes/issues/76395
- https://golang.org/ref/mod (search for "go list")
- https://seankhliao.com/blog/12020-10-03-go-list-patterns/
- https://www.alexedwards.net/blog/an-overview-of-go-tooling
- https://github.com/loov/goda
- https://github.com/KyleBanks/depth
- https://github.com/google/godepq

[2021-02-03 20:16] daschott commented on #98680
This is indeed a limitation in the Windows OS and a change has to go through Microsoft.

Can you file a feature request on Windows containers repo with details of your scenario?
https://github.com/microsoft/Windows-Containers/issues

[2021-02-03 20:35] yiqigao217 commented on #76787
I got the similar issue with `configmaps` (well, it's probably the same for any resource types). I noticed the recovery time to release the over-reserved resource quota is about 4 minutes (from logs). Is it expected? Or is it possible for the controller to recover it faster? Thanks!

[2021-02-03 20:48] kevin-shelaga commented on #98704
This does not appear to be an issue for windows nodes in gke.

[code]

[2021-02-03 21:15] liggitt commented on #95966
The API is not inaccessible (the HEAD or OPTIONS requests should still be proxied through), but the audit event does not distinguish between them.

`HEAD` being treated as `get` for audit/authorization purposes is working as intended (they are authorized the same and according to the spec HEAD should be processed as a GET excluding body from the return)

[2021-02-03 21:20] aojea commented on #90764
agree, also most of the network tests now run from the cluster, no need to reach externalIPs

please tag me in the PR @pacoxu

[2021-02-03 21:22] liggitt commented on #5889
no, unknown fields get dropped by the server

[2021-02-03 21:24] aojea commented on #85572
/remove-lifecycle stale
/help wanted

[2021-02-03 21:25] cheftako commented on #83977
/triage accept

[2021-02-03 21:27] cheftako commented on #80040
@SandeepPissay Are you still looking at this?

[2021-02-03 21:27] cheftako commented on #79958
/remove-sig api-machinery

[2021-02-03 21:28] cheftako commented on #79958
/remove-sig cloud-provider

[2021-02-03 21:28] aojea commented on #98709
I see only 1 failures in testgrid and  most failures are in kops jobs per this link
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=DNS%20should%20resolve%20DNS%20of%20partial%20qualified%20names%20for%20the%20cluster&xjob=kops

Is this a real flake or was a hiccup?

[2021-02-03 21:29] cheftako commented on #78995
/assign
/triage accepted
cc @jpbetz

[2021-02-03 21:29] cheftako commented on #76506
/triage accepted

[2021-02-03 21:29] cheftako commented on #76506
/assign

[2021-02-03 21:29] dims commented on #64760
i believe scalability team has switched from docker->containerd. right @wojtek-t ? Do you still see this problem @krzysied @wojtek-t ?

Asking since there is a plan to mark CRI logging as GA in https://github.com/kubernetes/enhancements/issues/2411 and this issue came up when i asked if there were things to be done there.

[2021-02-03 21:30] cheftako commented on #75604
/triage accepted

[2021-02-03 21:30] luisdavim commented on #90066
you have a way to toggle them off you can create a wrapper or a kubectl plugin, the main issue is the extra load and storage that comes with it, the client side is a cosmetic issue, the server side is a real issue.

[2021-02-03 21:31] cheftako commented on #75604
cc @jpbetz @cici37 @nckturner @leilajal @jiahuif

[2021-02-03 21:31] cheftako commented on #75601
cc @jpbetz  @cici37  @nckturner @leilajal @jiahuif

[2021-02-03 21:32] Danil-Grigorev commented on #75601
cc @Danil-Grigorev

[2021-02-03 21:33] cheftako commented on #75342
/assign @andrewsykim
/triage accepted

[2021-02-03 21:33] cheftako commented on #75175
/assign @andrewsykim
/triage accepted

[2021-02-03 21:34] cheftako commented on #74379
/close Fix is alpha in v1.20

[2021-02-03 21:34] cheftako commented on #74379
/close

[2021-02-03 21:35] #74379 closed

[2021-02-03 21:35] lavalamp commented on #90066
The server is going to continue to store this data no matter what, because it's necessary for correctness.

If you / users are e.g. archiving objects, it is fine to remove this field pre-archival but you don't need the server to do that for you.

The only circumstance in which it's mandatory for the server to do the removal is if it is consuming too much network bandwidth. We haven't seen evidence

[2021-02-03 21:35] cheftako commented on #73794
cc @jpbetz

[2021-02-03 21:36] cheftako commented on #73794
cc @cici37 @nckturner @leilajal

[2021-02-03 21:37] cheftako commented on #72897
Should this be a core CCM question or left the CCM providers to guaruntee?

[2021-02-03 21:38] cheftako commented on #72757
/assign

[2021-02-03 21:39] cheftako commented on #70957
/assign @jiahuif
/triage accepted

[2021-02-03 21:40] cheftako commented on #70897
/assign @nckturner
/triage accepted

[2021-02-03 21:40] logicalhan commented on #76302
/assign @YoyinZyc

[2021-02-03 21:40] cheftako commented on #70194
/triage accepted

[2021-02-03 21:41] cheftako commented on #70159
@bowei Where are we with this?

[2021-02-03 21:43] cheftako commented on #69696
/assign @leilajal

[2021-02-03 21:55] SandeepPissay commented on #80040
No, I'm not.

[2021-02-03 21:56] hh commented on #95966
You are right, it's not inaccessible. We are hitting it!

I wonder about the intention for auditing purposes.

Should we be logging enough information information to map back to the OpenAPI spec?
If we don't and log both as GET, it's not possible to distinguish the two API Operations from each other.

I started a thread in #sig-auth mailing list, but might be good to pull this back here.
https://g

[2021-02-03 22:00] nitishm commented on #98683
Thanks @liggitt that solved the problem :+1:

[2021-02-03 22:32] badouralix commented on #59078
/remove-lifecycle rotten

As mentioned above, we are waiting for an approval of @marckhouzam's pull request https://github.com/kubernetes/kubernetes/pull/96087

[2021-02-03 23:04] Riaankl commented on #98640
/triage accepted

[2021-02-03 23:04] liggitt commented on #95966
Mapping audit events back to the openapi spec is not a particular goal of the audit log.

Understanding frequency and type of API access is (especially distinguishing read vs write, and distinguishing different types of write requests).

I think head/get → get is reasonable from an audit perspective

I'm not sure what I would expect `OPTIONS` to map to

[2021-02-03 23:08] Riaankl commented on #95500
/reopen

[2021-02-03 23:17] liggitt commented on #98612
a unit test that uses the scheme object defined at `k8s.io/kubernetes/pkg/api/legacyscheme/scheme.go:30` to try to convert from an internal TokenRequest to a v1 TokenRequest and v1beta1 TokenRequest seems like it would work

[code]

[2021-02-04 00:31] micahhausler commented on #61795
/reopen
/remove-lifecycle rotten

I'd love be able to add additional metadata to tokens, but as mentioned above, it is a difficult problem to validate and implement private claims.

What if we bypassed the kube-apiserver completely and not just [external signing of tokens](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/740-service-account-external-signing), but external gener

[2021-02-04 00:42] #92237 closed

[2021-02-04 00:44] 2rs2ts commented on #70585
The former. I have the same problem as described here. https://github.com/kubernetes/kubernetes/issues/70585#issuecomment-442445507

Throttling happens even if the process is not brushing up close to its limit because of many factors, not the least of which are the host processes that are scheduling on that same vCPU and eating up CPU time. Is it less bad than without the static CPU manager turned

[2021-02-04 00:50] Antiarchitect commented on #98283
@eddiezane @soltysh As we're running a bare-metal cluster with all abstractions implemented by operators (rook.io, cert-manager, nginx-ingress) I'm pretty sure we have a lot of CRDs.

[2021-02-04 00:51] ahg-g commented on #97983
As I mentioned in the comment above, we two options:

1) if changing the histogram to vector type is a backward compatible change, then we can do that @logicalhan is the expert and can advise if this is safe.

2) if option 1 is not backward compatible, then we need to add a new metric with a new name and deprecate the existing one.

[2021-02-04 00:58] OJFord commented on #75378
/remove-lifecycle rotten

[2021-02-04 01:14] Huang-Wei commented on #97983
I agree with @ahg-g on using a more generic name. For example, "preemption_victims_total" - there is a metric naming guide we can refer to.

I don't have a strong option on this (changing metric type while keeping the metric name). @logicalhan can help confirm if it's a good pattern, but again, the prerequisite is whether it's allowed to change the metric type from Histogram to HistogramVector.
BT

[2021-02-04 01:24] BenTheElder commented on #88553
After much discussion, attempting to move forward on this is now a KEP https://github.com/kubernetes/enhancements/pull/2421, for the reasons outlined there.

/assign

---

The Kubernetes project does not support importing this repo directly as a dependency, bazel or otherwise. If you wish to import a [staging](https://github.com/kubernetes/kubernetes/blob/master/staging/README.md) repo like "clien

[2021-02-04 01:35] jshen28 opened #98741 "job failed but active is still 1"
**What happened**:

As shown below, job succeeded but active is , and it appears to be no job related port existing

[code]

**What you expected to happen**:

Either succeeded or active not both set.

**How to reproduce it (as minimally and precisely as possible)**:

No idea...

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): "v1.14.3"
- Cloud pr

[2021-02-04 01:58] vacheli opened #98743 "Can't create a new ServiceAccount for Kubernetes v1.20.2"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

[code]
**Environment**:
- Kubernetes version (use `kubectl version`): v1.20.2
- Cloud provider or hardware configuration: 2c 4g
- OS (e.g: `cat /etc/os-release`):  20.04.1 LTS (Focal Fossa)
- Kernel (e.g. `uname -a`): 5.4.0-60-ge

[2021-02-04 02:03] jonnylangefeld opened #98744 "Cascading Deletion doesn't work for default propagationPolicy Background if finalizers are used"
**What happened**:

I just made this interesting observation developing a controller with multi level resource ownerships and was able to reproduce the issue with the `Deployment` -> `ReplicaSet` -> `Pod` dependency. So I'm going to use this as an example.

If I just create a regular `Deployment`, that spawns a `ReplicaSet`, that spawns a `Pod` and then delete the `Deployment` resource, that propa

[2021-02-04 02:38] ivan-cai commented on #98687
@sig-storage

[2021-02-04 02:40] ivan-cai commented on #98687
@saad-ali @jsafrane

[2021-02-04 02:40] ivan-cai commented on #98687
/cc @saad-ali @jsafrane

[2021-02-04 02:41] ivan-cai commented on #98687
@saad-ali @jsafrane pls!

[2021-02-04 02:44] ahg-g opened #98746 "A single scoring plugin for node resources"
We have four score plugins that implement different strategies for preferred resource allocation. Those plugins should not be enabled together, only one.

I propose we deprecate those and combine them under one Score plugin, the same one used for filtering (`NodeResourcesFit`), and add a `FitStrategy` parameter to `NodeResourcesFit` that allows users to select which exact scoring strategy to run.

[2021-02-04 02:45] ahg-g commented on #98746
/cc @Huang-Wei @damemi @alculquicondor

[2021-02-04 03:02] liggitt commented on #98648
the failing test is a conformance test ... are we saying that deployments using dockershim cannot be conformant in 1.20?

[2021-02-04 03:10] pandaamanda commented on #98143
/assign

[2021-02-04 03:18] pacoxu commented on #98743
It seems to be expected as the message supposed `unable to create new content in namespace velero because it is being terminated`.  And you may see more information here in comments of https://github.com/kubernetes/kubernetes/issues/96793#issuecomment-732637004

[2021-02-04 03:19] pacoxu commented on #98743
/kind support
/remove-kind bug

[2021-02-04 03:31] vacheli commented on #98743
It's different from this, I  can't create a new ServiceAccount in velero namespace that is active status.

[2021-02-04 03:40] yangqiang commented on #49466
`Job` provide a restart policy with a `.spec.backoffLimit` parameter to limit the restart times. Maybe you can use `Job` instead of bare `Pod`.
https://kubernetes.io/docs/concepts/workloads/controllers/job/#pod-backoff-failure-policy

[2021-02-04 04:22] yangjunmyfm192085 commented on #98662
I think apiserver does not need to detect etcd.
The negative impact of detection is greater than the positive.
Need fix it?
I can fix it.

[2021-02-04 05:07] logicalhan commented on #97983
Maybe it's just me, but definitely labels. But adding labels is a breaking change.

So currently, **every** metric is alpha, because that was the defaulted stability level when the framework was introduced.

 So given the fact that **_it is_** a breaking change, it's probably better to ask:

- Do people rely on this metric operationally?
- Is this something people are alerting off of?
- Is the met

[2021-02-04 05:17] BenTheElder commented on #98648
I mean, the spec for a presubmit and any other type of job is not identical, so yes. But this job should more or less be the same IIRC.

[2021-02-04 05:18] liggitt commented on #98648
do any of our presubmits running this test use dockershim? cc @dims

[2021-02-04 05:23] BenTheElder commented on #98648
I don't think we are running blocking presubmits with dockershim currently, but we also can't run presubmits with all implementations of pluggable bits.

https://github.com/kubernetes/kubernetes/pull/94382#issuecomment-685188550 would seem to suggest we should actually fix dockershim though, i'm not sure where the implication otherwise is coming from.

[2021-02-04 05:34] xiaods opened #98751 "controller manager leader lost case"
**What happened**:
Unable to add a node after removing a failed node using embedded etcd.

**What you expected to happen**:
controller manager don't need panic

**How to reproduce it (as minimally and precisely as possible)**:

Unable to add a node after removing a failed node using embedded etcd.

**Anything else we need to know?**:

**Environment**:  v1.19.5+k3s1
- Kubernetes version (use `kubec

[2021-02-04 05:35] xiaods commented on #98751
/sig cluster-lifecycle

[2021-02-04 05:36] xiaods commented on #98751
same issue https://github.com/k3s-io/k3s/issues/2732

[2021-02-04 06:13] chymy opened #98752 "kube-scheduler prints 'runCommand()' return error msg to log file"
**What would you like to be added**:
`kube-scheduler` prints flag configuration  error msg to log file when `func runCommand()` return err

**Why is this needed**:
If `kube-scheduler` is set to `--logtostderr=false --alsologtosterr=false`,  the following logs will not be printed when `func runCommand()` return err and has been deployed static yaml.
https://github.com/kubernetes/kubernetes/blob/ebe

[2021-02-04 06:28] lunhuijie commented on #55713
got same problem
but when i did 'kubectl describe node' and i found the Taints:'node.kubernetes.io/unreachable:Noexcute' lost, maybe its the reason make the pods are not moved.

[2021-02-04 06:28] Huang-Wei commented on #98746
ref: https://github.com/kubernetes/enhancements/pull/2144

[2021-02-04 06:28] #94558 closed

[2021-02-04 06:34] huija commented on #76146
same error on wsl2 when restarting the kube-apiserver
[code]

[2021-02-04 06:45] #98415 closed

[2021-02-04 07:04] aojea commented on #98648
To be clear, dockershim never passed this test, it only did because the test was wrong

[2021-02-04 07:30] danielzhanghl commented on #45419
that PR is in v219-65 already, if systemd is above that version, need look for other aspect.
https://github.com/systemd-rhel/rhel-7/commit/ac46d01c5f6a211bbbbb43e20f63ecae2549da20

[2021-02-04 07:36] #98702 closed

[2021-02-04 07:54] wojtek-t commented on #64760
Correct.

I don't know. @mm4tt @mborsz @tosi3k @marseel @jkaniuk - have you faced that issue recently?

[2021-02-04 07:58] mm4tt commented on #64760
I haven't seen it recently, but truth being said I haven't been doing any debugging where it could've manifested recently. If someone could run into it it would be @mborsz or @marseel

[2021-02-04 08:04] worldofgeese commented on #93001
@manjeetsinghcodz just pinging you back on this regarding @AntonOfTheWoods's question as I am also curious.

[2021-02-04 08:05] adisky commented on #98268
@strus38 As said above, this configuration you need to do in the container runtime, for example you can take a look at this containerd doc https://github.com/containerd/containerd/blob/master/docs/cri/registry.md to configure registry options.

[2021-02-04 08:14] strus38 commented on #98268
Ok, but in such case, I cannot define different versions depending on the
registry for the same image. But, let's say, it is ok.
Thanks

Le jeu. 4 févr. 2021 à 09:06, Aditi Sharma <notifications@github.com> a
écrit :

[2021-02-04 08:17] manjeetsinghcodz commented on #93001
@AntonOfTheWoods @worldofgeese, hi
Just deploy metallb, and set the ip pool to the pub ip of the the worker node. Please note there'll be one point of entry for traffic, so inboubd traffic entera e.g node 1 and then from node1 traffic will be distributed to other nodes. But since theres port mapping, u can have many A record for you dns pointing to each pub ip of your nodes if you have many nodes

[2021-02-04 08:30] mborsz commented on #64760
kube-apiserver (where the logs are dropped) is not using containerd/dockerd for log writing, rather it redirects output directly to the file: https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/manifests/kube-apiserver.manifest#L31

We are still seeing log drops, e.g. in last. 5k test run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/135

[2021-02-04 08:39] adtac commented on #93760
/remove-lifecycle stale

[2021-02-04 08:39] adtac commented on #93795
/remove-lifecycle stale

[2021-02-04 08:39] adtac commented on #93792
/remove-lifecycle stale

[2021-02-04 08:39] adtac commented on #93794
/remove-lifecycle stale

[2021-02-04 09:27] mborsz opened #98757 "ci-kubernetes-e2e-gci-gce-scalability failing on diffResources"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-scalability
**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1357240020502581248
**Reason for failure**:
[code]
**Anything else we need to know**:

/assign

[2021-02-04 09:31] mborsz commented on #98757
/sig scalability

[2021-02-04 09:31] mborsz commented on #98757
/triage accepted

[2021-02-04 09:42] fasaxc opened #98758 "NodeLocal DNS cache breaks connection tracking, conflicts with Calico"
**What happened**:

the node local DNS cache uses NOTRACK rules in iptables and these disable connection tracking.  This is incompatible with Calico, which relies on connection tracking to implement its flow-based firewall.  Since the DNS traffic gets hit with NOTRACK, the response packets are dropped because they're not part of a flow.

**What you expected to happen**:

DNS traffic conntracked as

[2021-02-04 09:42] fasaxc commented on #98758
/sig network

[2021-02-04 10:02] #98710 closed

[2021-02-04 10:16] saschagrunert commented on #98512
/close

The issue seemed to be transient and is now gone, let's revisit if the failure occurs again.

[2021-02-04 10:16] #98512 closed

[2021-02-04 10:20] wzshiming commented on #98486
k8s.io/kubernetes/pkg/volume/util/operationexecutor 56s -> 6s #98760

[2021-02-04 10:44] jsafrane commented on #98687
It seems that you're restarting kubelet with migration enabled without draining the node first. This is not supported, please check the upgrade / feature enablement procedure in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/csi-migration.md#upgradedowngrade-migrateunmigrate-scenarios

Draining the nodes before flipping the feature gate is important to un

[2021-02-04 10:46] worldofgeese commented on #93001
Thank you so much for this: I managed to get an IP assigned using your instructions.

Two questions based on:

- Why can't you just give MetalLB all of the private IPs of your Contabo VPS nodes to hand out?
- Do you have an example of port mapping a service for each node? As an example, do you mean:
[code]
?

[2021-02-04 10:49] q3k commented on #88553
We can't, as we need a fully static build of Kubernetes. We also heavily patch it to remove unnecessary (to us) functionality that's not gated behind build tags, the subset of which is specific enough for our usecase that attempting to upstream such buildtags would be at least seen as  uncourteous. Notably, we remove a sizeable amount of in-tree volume providers (that we know aren't compatible wit

[2021-02-04 11:05] manjeetsinghcodz commented on #93001
Why can't you just give MetalLB all of the private IPs of your Contabo VPS nodes to hand out?
-- my vps are the cheap one, they dnt have private ips. If you have private ip for your vps then you can assign it to metallb,

Port mapping i want to say, if you have an ngnix deployment replicated on your nodes, if you do a netstat grep 80 u'll not find any port 80, but if you telnet any of your nodes p

[2021-02-04 11:06] worldofgeese commented on #93001
Sorry I meant public IPs. I have the same Contabo ones you do.

[2021-02-04 11:11] yuzhiquan commented on #98746
It's likely already has an sample plugin in [scheduler-plugins/#36](https://github.com/kubernetes-sigs/scheduler-plugins/pull/36), it;s reimplement for that plugin?

[2021-02-04 11:16] manjeetsinghcodz commented on #93001
U can give em all pub if your nodes, but your pub ip are not in a range, you can use a list,
But still i believe it should be on the same subnet.

[2021-02-04 11:24] adisky commented on #81756
so for container runtimes  other than docker `pod-infra-container-image` is only used by GC. It could be problematic in some cases e.g.
- if the sandbox image differs between container runtime and kubelet, then kubelet might evict the actually used one.
 Either we need to update the doc to make it aware to the user, that `pod-infra-container-image` configuration should be in sync with the containe

[2021-02-04 11:28] adisky commented on #81756
/assign @adisky

[2021-02-04 11:29] jj-fontana opened #98763 "PSP: Pod can get privileged psp regardless of RBAC"
**What happened**:
PSP can be used by Pod without RBAC (non legit) authorization whereas Deployment can't (legit)

On a brand new EKS cluster runnning 1.18 version of kube:
- psp eks.privileged is created by default and allows full privileges
- the clusterrole eks:podsecuritypolicy:privileged created by default is the only clusterrole associated with the psp:privileged (I checked it by running the

[2021-02-04 11:30] wojtek-t commented on #90066
We've seen a bunch of network bandwidth problems even without having managedFields before. So I would actually suggest that we do that server-side.

[2021-02-04 11:33] Rybue commented on #7890
@pre thank you for good workaround!

Unfortunately, I have the same issue as @svenvanhees with `fuse` inside container:

[code]

I also trying to mount as root.

[2021-02-04 11:37] jj-fontana commented on #98763
/sig auth

[2021-02-04 11:39] adisky commented on #81756
/remove-lifecycle-frozen
/triage accepted

[2021-02-04 11:40] adisky commented on #81756
/remove-lifecycle frozen

[2021-02-04 12:03] AntonOfTheWoods commented on #93001
Thanks for the heads up. I ended up using [`hostNetwork`](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#host-namespaces) with [`kilo`](https://github.com/squat/kilo), which means communication between every node goes over `wireguard`. It took some fluffing around to get set up but works well.

[2021-02-04 12:32] rikatz commented on #98143
OK, so we decided to correct the error message per the PR right? :)

[2021-02-04 12:50] adisky opened #98765 "Handling Deprecation of `pod-infra-container-image`"
**What would you like to be added**:

To prevent sandbox image from getting evicted for all container runtimes, a new flag needs to be introduced `pod-sandbox-image`/ `pod-pause-image` in kubelet, so that kubelet GC can use this information and prevent pause image eviction.

**Why is this needed**:

`pod-infra-container-image` is going to be removed with docker-shim removal. https://github.com/kub

[2021-02-04 12:51] adisky commented on #98765
/assign @adisky

[2021-02-04 12:51] odinuge commented on #70585
Thanks for the extra information @2rs2ts, that makes the case more clear to me, and makes it look even more important to get a proper fix to it!

So the reason might be because the non-pinned containers are using more than their quota on the container cgroup and getting throttled, resulting in using more than "their" share of quota on the pod cgroup. This happens because a runqueue for the contain

[2021-02-04 12:53] adisky commented on #98765
/sig node

[2021-02-04 13:43] pre commented on #7890
You still need CAP_SYS_ADMIN which you can limit using a seccomp profile (if needed). See the example in https://github.com/kubernetes/kubernetes/issues/7890#issuecomment-762640840

Granting CAP_SYS_ADMIN stinks but it’s much more limited than a full blown privileged:true. Using a seccomp profile allows you to block unwanted syscalls and allow only mount + umount.

As a bonus from device manager,

[2021-02-04 13:44] sxllwx commented on #98606
/assign

[2021-02-04 13:57] worldofgeese commented on #93001
@AntonOfTheWoods this looks very cool 😎. Is it correct to say you're exposing the port of your service directly on each node, then DNS round robin-ing among your nodes?

I'm not sure how Kilo fits into this apart from being a creative implementation of cross-cluster  networking! But I'm interested in how you've leveraged it.

[2021-02-04 14:20] Rybue commented on #7890
I had `SYS_ADMIN` cap set, but I did not change seccomp profile. After changing it to `unconfined`(not secure, but just to test) it's indeed working now.

[code]

[2021-02-04 14:24] ankeesler commented on #98451
Something occurred to me on this...right now, it kinda seems like a mystery to a running exec plugin whether stdin is hooked up correctly. I feel like an exec plugin would like to be able to declare "yes, I use stdin, please forward stdin to me, regardless of whether I am running in a terminal or not" in the kubeconfig. Then, this whole stdin forwarding would be a lot less magical. This makes me w

[2021-02-04 14:37] AntonOfTheWoods commented on #93001
Yup. (with dodgy VPS nodes I check once a minute for them being up though, and remove/re-add individual nodes if required)

@worldofgeese , I'm using `k3s`, which doesn't have any encryption by default, though "natively" (cluster-internally) can do either `wireguard` or `IPSEC`. I have two clusters though (Saint Louis and Nuremburg, and hopefully SEAsia too if they ever get around to it...), and w

[2021-02-04 14:39] neolit123 commented on #98765
isn't it a better option to just keep the flag and not remove it because of the GC factor?
if we are going to add more knobs those should be in the v1beta1 KubeletConfiguraiton only and not as flags.
cc @mtaufen

[2021-02-04 14:44] liggitt commented on #98451
in general, I don't see how an exec plugin that consumes stdin can work when combined with uses of kubectl like this:

[code]

Making plugins that consume stdin declare that they do, and erroring early if something else in the kubectl invocation also indicates it wants to consume stdin seems like a good idea to me.

[2021-02-04 15:04] alculquicondor commented on #98746
SGTM.

Should we hold v1beta2 component config to next release to account for this?

[2021-02-04 15:15] adisky commented on #98765
@neolit123 I too agree on that, keep the flag and update its description. However i don't know what's the correct way would be. I created the issue as there is a PR to mark it deprecated https://github.com/kubernetes/kubernetes/pull/98730

[2021-02-04 15:16] neolit123 commented on #98765
i can comment on the PR.

[2021-02-04 15:31] LoicAG commented on #93094
Related issue: https://github.com/Azure/application-gateway-kubernetes-ingress/issues/966

[2021-02-04 15:36] ahg-g commented on #98746
I would hold it, any downsides to delaying it?

[2021-02-04 15:37] alexcristi commented on #98423
Hi! Here are some interesting data I managed to collect with pprof:

## Before
#### Kubectl top && docker stats
[code]
[code]

#### Top heap
[code]

#### Top allocs
[code]

## After
#### Kubectl top && docker stats
[code]
[code]

#### Top heap
[code]

#### Top allocs
[code]

[2021-02-04 15:43] ahg-g commented on #97983
Thanks Han, since this is a breaking change, I think we can simply assume that someone somewhere used the metric in production even though it is still alpha.

So lets add a new metric with the label and deprecate the old one after a couple of releases to allow for migration.

@logicalhan do we have documented guidelines on metrics names?

[2021-02-04 15:46] alculquicondor commented on #98746
not really, we are not under pressure of API deprecation like REST APIs are

[2021-02-04 16:02] n3wscott opened #98768 "[Flakey Test] ci-kubernetes-verify-master fails to fetch token, upload fails."
**Which jobs are flaking**:

[`ci-kubernetes-verify-master`](https://testgrid.k8s.io/sig-release-master-blocking#verify-master)

**Which test(s) are flaking**:

The job is flaking, it has failed 4 times in the last week when it normally is solid green. Either there is an issue with this script or there are infra issues around gauth or gcs.

**Testgrid link**:

https://testgrid.k8s.io/sig-release-m

[2021-02-04 16:05] yuukiii commented on #23726
I did a `minikube status` which indicated that the kubectl had a stale pointer,
WARNING: Your kubectl is pointing to stale minikube-vm.
To fix the kubectl context, run `minikube update-context`

I then ran `minikube update-context` and then `minikube start --driver=docker`
After that `kubectl get pods` worked:

NAME                                   READY   STATUS    RESTARTS   AGE
kubernetes-boot

[2021-02-04 16:11] n3wscott commented on #98768
/sig testing

[2021-02-04 16:19] logicalhan commented on #97983
Yes, but I actually just found some mistakes in there. https://github.com/kubernetes/community/pull/5464

Generally, we try to adhere to [prometheus standards](https://prometheus.io/docs/practices/naming/).

[2021-02-04 16:20] #98175 closed

[2021-02-04 16:36] apelisse commented on #12123
For what it's worth, [git](https://github.com/git/git) does it's own globbing on top of shell expansion, e.g.
[code]

[2021-02-04 16:54] lavalamp commented on #90066
It would only make a big difference if controllers could turn it off, but the latest apply client design uses this information client side to support an extremely easy transition from existing controller code.

Maybe you can argue with me but IMO when people hit this code usually there's something fundamentally wrong with how some component is scaling, and 30% is not very much extra runway, and a

[2021-02-04 16:56] ahg-g commented on #98746
Ah, I missed this one. The above proposal tries to support every single combination, which I think is an overkill.

We can make reasonable assumptions that we bake into each strategy to avoid the over-proliferation of options. For example, `LeastAllocatable` is always associated with `LeastAllocated` as a second scoring key (as in nodes with the same least allocatable are differentiated by least a

[2021-02-04 16:58] bowei commented on #70159
I think someone has to drive a KEP here to add the field and work through the details.

[2021-02-04 17:13] verb commented on #98362
/triage accepted

[2021-02-04 17:30] jonnylangefeld commented on #98744
/sig architecture

[2021-02-04 17:46] verb commented on #98362
I suspect this is because containerd hasn't implemented [NamespaceMode_TARGET](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/495-pod-pid-namespace#targeting-a-specific-containers-namespace)

This works for me with the builtin dockershim:

[code]

I know that dockershim is slated for removal soon, so we should ask containerd to support this.

[2021-02-04 17:52] verb commented on #98362
We should probably print a warning that `--target` requires support from the runtime

[2021-02-04 17:57] jsturtevant commented on #98704
@kevin-shelaga Thanks for the report.  For the most part it is working I believe, we have seen it sporadically particularly under heavy load or when lots of containers are being created.

[2021-02-04 18:00] msau42 commented on #91246
/remove-lifecycle rotten

[2021-02-04 18:08] magh commented on #13382
It helped me. Below instructions didn't list 192.168.49.0/24 in the NO_PROXY example which cause the issue.
https://minikube.sigs.k8s.io/docs/handbook/vpn_and_proxy/

[2021-02-04 18:10] alexcristi commented on #98423
Attached are the graphs for `inuse_space`, `inuse_objects`, `alloc_space`, `alloc_objects`
[pprof_graphs.zip](https://github.com/kubernetes/kubernetes/files/5927663/pprof_graphs.zip)

[2021-02-04 18:17] arunramachandran15 commented on #84109
Even after fully terminating a namespace by removing finalizer array, seems like there will be orphaned resources. So because of orphaned resources I am not able to **create** a resource with same name before terminating the namespace. I can also list all the resources that were existing as orphans.

Scenario:
1. Kubectl create ns webapps
webapps namespace created
2. Kubectl create secret -f secre

[2021-02-04 18:18] wojtek-t commented on #90066
OK - that's a bit of information I was missing? Can you point me to that design?

I think that 30% is actually a lot and is worth optimizing. But if controllers are going to rely on it anyway, that's a convincing argument against for me.

[2021-02-04 18:19] kassarl commented on #98281
/assign

[2021-02-04 18:21] odinuge commented on #88197
Turns out kubernetes was not using that code path in runc after all... :/

/reopen

[2021-02-04 18:24] liggitt commented on #84109
Removing the finalizer array is what is causing the orphaned resources.

[2021-02-04 18:25] Jiawei0227 commented on #98281
gce-pd topology update already merged: https://github.com/kubernetes/kubernetes/pull/98700

[2021-02-04 18:28] jpriebe commented on #22342
Still happening for me

    Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"clean", BuildDate:"2020-11-12T01:09:16Z", GoVersion:"go1.15.4", Compiler:"gc", Platform:"darwin/amd64"}
    Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"c86ad89b8715ed17fd55b87cbb2888ccc6fa9

[2021-02-04 18:28] lavalamp commented on #90066
It's very new information: https://github.com/kubernetes/enhancements/pull/2419

[2021-02-04 18:29] xmudrii commented on #97294
@neolit123 @aojea I've investigated this a bit more and I've some additional details and findings to share. The kind clusters are working properly, so I tried to compare what's happening in the kind clusters and the clusters running in the cloud.

First of all, here are logs from the first API server and the first etcd from a kind cluster:

* [API server logs](https://gist.github.com/xmudrii/00e14

[2021-02-04 18:57] neolit123 commented on #97294
are you joining your secondary CP nodes serially or in parallel using kubeadm?
parallel kind of works, but can be problematic due to the way etcd bootstrap works. kind joins them serially still.

[2021-02-04 19:02] wojtek-t commented on #97798
Similarly as in: https://github.com/kubernetes/kubernetes/issues/97846

To add a bit more details to it - there were some internal changes which resulted in some underlying machine architecture having much more predictible networking characteristics than others.

With our jobs requiring high predictability, the recommendation from Google networking engineers was to simply migrate the jobs to new e

[2021-02-04 19:04] shyamjvs commented on #97119
Just looking at this issue and have couple thoughts:

These roles/bindings that are part of bootstrap typically need to be created as one-off during cluster creation iiuc (maybe few new ones during version updates). If that's the case, can we instead just check those bootstrap roles/bindings exist before making any update calls? This might help avoiding those update calls altogether (or most of th

[2021-02-04 19:11] neolit123 commented on #97294
you could try to artificially introduce network lag between the docker containers that kind uses to reproducing this locally. i haven't tried something like `netem` before but it may work:
https://wiki.linuxfoundation.org/networking/netem#Emulating_wide_area_network_delays

[2021-02-04 19:24] BenTheElder commented on #88553
At this point it sounds like you're maintaining a fork. Your fork can maintain a build with bazel then as well, without us carrying this upstream, just like these other patches, and other `go build` dependencies?

And in fact this way you can customize the build as much as you want without colliding with what we do upstream. You can just ignore the makefiles etc.

Similarly, we stopped maintaining

[2021-02-04 20:10] manderson23 commented on #78759
/remove-lifecycle stale

[2021-02-04 20:23] spiffxp commented on #97921
/milestone v1.21
Focus on doing this for the v1.21 tests first

Depending on how much test-gap/fix work this uncovers, decide whether to backport or age-out for supported release branches

[2021-02-04 20:28] q3k commented on #88553
Not a true fork - we continue to track upstream as the source of truth, rebasing our changes on top at buildtime. We've also successfully consistently decreased the amount of patches we apply as we continue to upstream our changes. In an ideal world, we would just follow upstream, we have no practical interest in maintaining a fork other than the technical reasons to do that.

If we have to mainta

[2021-02-04 20:28] xmudrii commented on #97294
@neolit123 I join secondary CP nodes serially, but I've also tried parallel and it doesn't help. I've never used `netem` before, but I can give it a try and report back did I managed to get it working.

[2021-02-04 20:39] aojea commented on #97294
use this for emulating latency, or just check the steps https://gist.github.com/aojea/603e88ba709aac874bd7611752261772

[2021-02-04 20:55] kfirfer opened #98778 "[kube-apiserver] log floods without any info"
Hello

Im running K8s 1.20.2, and there are some logs that kube-apiserver is printing quite a lot :

This are the logs:
[code]

I dont know how to disable them, nor their meanings
Only thing that I know of, is that all 3 of those logs are verbosity 0 (v=0)

[2021-02-04 20:56] kfirfer commented on #98778
/sig node

[2021-02-04 20:57] liggitt commented on #98763
Is the user creating the pod a super user? If so, it is authorized to use any pod security policy.

[2021-02-04 20:58] cheftako commented on #80040
@andrewsykim do you know anyone who can look at this? Do we know if its still a problem?

[2021-02-04 21:06] fedebongio commented on #87039
/assign @leilajal
/triage accepted

[2021-02-04 21:08] fedebongio commented on #93609
/assign @jiahuif
Thought could be a good learning experience, I'm sure you'll pull this one out
/triage accepted

[2021-02-04 21:09] fedebongio commented on #98380
/triage accepted

[2021-02-04 21:10] fedebongio commented on #98423
/cc @lavalamp @wojtek-t
/triage accepted

[2021-02-04 21:11] fedebongio commented on #98449
/cc @lavalamp
/triage accepted

[2021-02-04 21:13] fedebongio commented on #98457
/remove-sig api-machinery
/sig apps

[2021-02-04 21:14] fedebongio commented on #98479
/cc @caesarxuchao
/triage accepted

[2021-02-04 21:14] fedebongio commented on #98479
/assign @caesarxuchao

[2021-02-04 21:15] fedebongio commented on #98490
/assign @Jefftree
/triage accepted

[2021-02-04 21:18] fedebongio commented on #98506
/cc @jiahuif
/triage accepted

[2021-02-04 21:18] fedebongio commented on #98513
/remove-sig api-machinery

[2021-02-04 21:19] fedebongio commented on #98541
/triage accepted

[2021-02-04 21:21] fedebongio commented on #98548
/cc @lavalamp @liggitt
/triage accepted

[2021-02-04 21:22] alculquicondor commented on #96164
/remove-lifecycle stale

PreFilter is pending

cc @alicezhang2016

[2021-02-04 21:22] fedebongio commented on #98585
/triage accepted
/close

[2021-02-04 21:22] #98585 closed

[2021-02-04 21:24] fedebongio commented on #98606
/triage accepted

[2021-02-04 21:25] fedebongio commented on #98662
/cc @lavalamp
/triage accepted

[2021-02-04 21:26] fedebongio commented on #98692
/cc @DirectXMan12 @kevindelgado
/triage accepted

[2021-02-04 21:28] fedebongio commented on #98697
@adtac thank you for reproducing it! are you planning to try to fix it?
Thanks!

[2021-02-04 21:29] fedebongio commented on #98714
/cc @yliaog
/triage accepted

[2021-02-04 21:30] fedebongio commented on #98720
/assign @jingyih
/triage accepted

[2021-02-04 21:35] thockin commented on #98758
Can we get a bit more detail about which leg of DNS is being impacted?  The rationale for NOTRACK is that connection-tracking + UDP + non-reused sockets == LOTS of conntrack records that serve literally no value but are all stuck waiting to expire => unhappy users.

[2021-02-04 21:39] ehashman commented on #76302
/lifecycle frozen

[2021-02-04 21:43] lavalamp commented on #98662
Please don't change the liveness code, a lot of installations depend on it being the way it is even if that doesn't make much sense.

You can turn off individual checks (if that makes sense in your installation) by passing query parameters to the healthz/livez/readyz pages.

[2021-02-04 21:43] #98662 closed

[2021-02-04 21:46] thockin commented on #98410
/triage accepted

[2021-02-04 21:47] jpbetz commented on #70159
My interpretation of the comment thread is that instead of adding a field, we should define best practices for how to use annotations to track underlying resources (https://github.com/kubernetes/kubernetes/issues/70159#issuecomment-433447512) and then go through the existing cloud providers and get them transitioned over to using the best practices (https://github.com/kubernetes/kubernetes/issues/

[2021-02-04 21:47] #97836 closed

[2021-02-04 21:48] #97226 closed

[2021-02-04 21:48] thockin commented on #96018
Any updates on this @mskrocki ?

[2021-02-04 21:49] thockin commented on #88543
Is this revert-revert something that sig-node is handling, or is there something sig-net can do?

[2021-02-04 21:51] mskrocki commented on #96018
No, no updates. I do have all the req packages, need to find time for this thou.

[2021-02-04 21:56] Jiawei0227 commented on #96316
/remove-lifecycle stale
/lifecycle frozen

[2021-02-04 21:57] aojea commented on #98648
/triage accepted

[2021-02-04 21:57] Jiawei0227 commented on #96316
/help-wanted

[2021-02-04 22:00] aojea commented on #98709
@PriyankaH21 I'm going to close it, it seems that only happens in kops job.
If you find more than 2 failures in a week don't hesitate to reopen, but only 1 failure in the last 15 days is not enough to know if is a real flake or an environmental problem
/close

[2021-02-04 22:00] #98709 closed

[2021-02-04 22:02] lavalamp commented on #98548
Yeah this does look to be a dup.

I'm not sure what to do here, namespace lifecycle controller behavior is correct, it shouldn't delete something it can't confirm is empty.

OTOH it's kind of a mystery how the client got mismatched discovery doc and apiserver version, I feel like there's a caching bug or something there.

Oh, actually I know how that happened. @deads2k should know also. Any brilli

[2021-02-04 22:02] dcbw commented on #88543
Yeah, at this point I don't think this is sig-net related anymore...

[2021-02-04 22:04] lavalamp commented on #96486
API server identity gives the apiservers the ability to identify themselves and each other. Need to not start serving new resources / endpoints until all apiservers are updated... or something like that.

[2021-02-04 22:06] thockin commented on #98723
/triage accepted

[2021-02-04 22:08] lavalamp commented on #98449
I'm not convinced we can easily add this, but maybe @apelisse or @sttts has an idea.

We don't version things separately at the "operation" level so it's confusing to be asked for that. (e.g. even with subresources it's a group of verbs not individual "operations").

[2021-02-04 22:09] dcbw commented on #96868
@couloum so to summarize, the patch I linked is present in the kernel you are using, and does not seem to help the problem.

Can you confirm the following workarounds discussed above still work?

1) disable random-fully in kube-proxy solves the issue
2) disabling checksum offload solves the issue

What specific command are you using to disable offload, that makes it work?

[2021-02-04 22:10] thockin commented on #98648
/triage accepted

[2021-02-04 22:12] thockin commented on #98465
/triage accepted

[2021-02-04 22:13] thockin commented on #98459
The linked PRs are merged - can we close?

[2021-02-04 22:15] lavalamp commented on #98423
I'm actually not sure if this is expected or not. You can experiment by turning off the watch cache and/or reducing the max-in-flight flag to try and figure out if this is more related to request volume or all the watch objects...

Did you happen to look at the egress bandwidth from your control plane nodes? perhaps you are saturating that causing the watchers to build up huge queues in apiserver?

[2021-02-04 22:17] Riaankl commented on #98459
Yes, Thank you.
I think it is safe to close this issue.
The [Test grid](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5&include-filter-by-regex=both%20pod%20and%20service%20ProxyWithPath&graph-metrics=test-duration-minutes) is looking stable and GREEN after the merge.

[2021-02-04 22:18] jayunit100 commented on #98577
from zoom today `jay check in the use that kube=proxy is using endpoints not slices` (@aojea)

[2021-02-04 22:23] kfirfer commented on #98778
From kubelet im getting flooded by those logs :

[code]

Also I dont know how to disable them, nor their meanings

[2021-02-04 22:30] ankeesler commented on #98451
agreed with the above

short term proposal:
- set `interactive` to `terminal.IsTerminal(os.Stdout.Fd()) || terminal.IsTerminal(os.Stdin.Fd())`, so this will fix @blowfishpro's issue, and should provide a proper superset of functionality to exec plugins upon upgrade

long term proposal (if this is appetizing, we can move this to the KEP):
- add `clientcmd.ExecConfig.Interactive *bool` and `clientau

[2021-02-04 22:32] aojea commented on #98577
also, the label `service.kubernetes.io/service-proxy-name` is meant to be used in the Service object, not in the endpoints, because the endpoints are autogenerated by the controller, and then they can be overwrite the user label.

[2021-02-04 22:35] blowfishpro commented on #98451
Right now I'm making manual changes to my kubeconfig anyway, so having to add another field doesn't sound too bad.

The case of piping something to kubectl is an interesting one, and I can see how it's ambiguous in a difficult-to-resolve way.

[2021-02-04 23:02] #97657 closed

[2021-02-04 23:07] SergeyKanzhelev commented on #88543
@kmala you mentioned at [sig node meeting Jan 26th, 2021](https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#heading=h.ktukr9yd2rlm) you are looking into it. Do you need help?

[2021-02-04 23:21] kmala commented on #88543
i didn't get time last week to look into the issue... am currently debugging the issue and mostly will try to fix in couple of weeks

[2021-02-04 23:25] xmudrii commented on #97294
@aojea Thank you for the script, it looks very useful! I wasn't able to make the etcd to lose the leader, but I'll continue testing tomorrow.

[2021-02-04 23:40] prameshj commented on #98758
Correct. NOTRACK was added as a feature to save on conntrack table entries and also avoid DNATs which had some race conditions leading to packet drops.
I think a similar issue with NetworkPolicy was reported with NodeLocalDNS and we documented it in https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/README.md#network-policy-and-dns-connectivity

Can we get more de

[2021-02-04 23:53] lalwanin2020 commented on #98680
Thank you for the reply. I have opened the issue for a feature request on the Microsoft Windows Containers repo.

[2021-02-04 23:54] #97225 closed

[2021-02-04 23:54] #98142 closed

[2021-02-05 00:38] thockin commented on #45234
Can we go back to first-concepts on this?  The ecosystem has evolved a lot since 2017 ;)

People who are reopening it - what is your problem statement?

For the use-case of not using preemptible VMs to do LB traffic - can you use the `node.kubernetes.io/exclude-from-external-load-balancers: "true"` annotation?

What else?

[2021-02-05 00:42] yliaog commented on #98714
could you check the status of ui-7f5fd98579-zwl5q when you use client-go to get it? that would help understand what state ui-7f5fd98579-zwl5q was at, and why it was not present using kubectl, but showed up using client-go.

[2021-02-05 00:53] saisujithkp commented on #92460
Any solution for this issue?

[2021-02-05 00:54] dmusicant-dk opened #98780 "Failed startupProbe is not killing the Pod but allowing it to run successfully"
**What happened**:

The `startupProbe` correctly fails and shows in events that it failed (but only once), but then the pod continues until it reports as `ready`, and stays ready (and healthy) forever with ZERO restarts.

**Using K8s version: 1.19.4**

When I check events, I get:

[code]

Checking the Pods, I see (using `--watch`):

[code]
Notice it has **zero** restarts.

**What you expected to h

[2021-02-05 01:00] dmusicant-dk commented on #98780
/sig/architecture
/sig/node
/sig/scheduling

[2021-02-05 01:01] dmusicant-dk commented on #98780
/sig architecture
/sig node
/sig scheduling

[2021-02-05 01:21] 2rs2ts commented on #70585
We've analyzed pod and container metrics really thoroughly and found that we would get throttling even when all containers in a pod were using far less than what each was allocated. Like, in some cases, it was as bad as a container using around 10-20% of what it was allocated was still getting throttled. We were able to identify some mitigation strategies, such as reducing the number of threads in

[2021-02-05 01:27] #98780 closed

[2021-02-05 01:44] mYmNeo opened #98782 "Determining pod QoS should keep consistent with kubelet in kubectl library"
**What happened**:
In kubectl library, `GetPodQOS` logic is not the same as the one in `pkg/apis/core/helper/qos/qos.go`
**What you expected to happen**:
`GetPodQOS` logic should be the same.
**How to reproduce it (as minimally and precisely as possible)**:
Create a pod with a guaranteed QoS class and a best-effort QoS initcontainer.
**Anything else we need to know?**:

**Environment**:
- Kubernet

[2021-02-05 01:45] mYmNeo commented on #98782
/sig cli

[2021-02-05 02:01] smarterclayton opened #98784 "NPE in daemonset storage unit test in bbolt.(*Tx).Bucket(...)"
**Which jobs are flaking**:

bazel-test

**Which test(s) are flaking**:

**Testgrid link**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98781/pull-kubernetes-bazel-test/1357499406772867072

**Reason for failure**:

Panic in bbolt in a test framework (this could be a more significant underlying issue)

[code]

**Anything else we need to know**:
- links to go.k8s.io/triage appreciat

[2021-02-05 02:29] liggitt commented on #98763
If `kubectl auth can-i use podsecuritypolicy/eks.priviledged` returns `yes`, then when you create the pod directly, it will be allowed to use the privileged policy based on your authorization as the creating user.

[2021-02-05 02:33] smarterclayton commented on #98784
/sig api-machinery

[2021-02-05 02:36] vacheli commented on #98743
/kind bug
/remove-kind support

[2021-02-05 02:42] njuptlzf commented on #98577
Hei @aojea.  Before you reply, I thought about adding the `UpdateFunc ` to fix this problem, am I wrong?

[2021-02-05 02:46] thejoycekung opened #98788 "[Failing Test] [sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-device-plugin-gpu

**Which test(s) are failing**:
[sig-scheduling] [Feature:GPUDevicePlugin] run Nvidia GPU Device Plugin tests

**Since when has it been failing**:
Since merging #98721

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master

**Reason for failure**:
[code]

**Anything else we need to kno

[2021-02-05 03:13] wzshiming commented on #98486
k8s.io/kubernetes/pkg/volume/csi 62s -> 30s #98762

[2021-02-05 03:33] jayunit100 commented on #98577
@aojea , makes sense what you said but now....  im more confused. `service-proxy-name` when applied to an endpoint should  either....

1) Be IGNORED ENTIRELY by the kube proxy  OR
2) be reconciled so that removal of the label is the same behaviour as if the label NEVER existed

So its *still* a bug , right ?

[2021-02-05 03:37] pacoxu commented on #98758
In #3795, users use calico GlobalNetworkPolicy and https://github.com/projectcalico/calico/issues/3795#issuecomment-738768386 without it.

[2021-02-05 04:36] adtac commented on #98697
@fedebongio I tried to, but I couldn't find the root cause. I'll take another look today.

/assign

[2021-02-05 04:50] sabirmmoglad commented on #95983
I used:

[code]
and then I removed the finalizers but still the ingress is not deleted. This is in AWS EKS.

[code]

Do I need to do anything else for the changes to be applied?

[2021-02-05 04:50] #90159 closed

[2021-02-05 04:52] pacoxu commented on #98784
etcd-io/etcd#12441 is opened for a similar trace for etcd 3.4.13.

[2021-02-05 05:08] andyxning commented on #54525
Should Deployment check and delete `Failed` pods like what has been done in SatefulSet and DaemonSet?

[2021-02-05 05:09] andyxning commented on #54525
Or pod GC should come in and cover this for other Resources besides StatefulSet and DaemonSet?

[2021-02-05 05:12] andyxning commented on #54525
Just for someone who also interested in how failed pod deleted is done in StatefulSet controller: https://github.com/kubernetes/kubernetes/blob/c5759ab86d9813269bd61108dec43ef36a993e02/pkg/controller/statefulset/stateful_set_control.go#L384-L394

[2021-02-05 06:42] ivan-cai commented on #98687
@jsafrane Thank you very much. But if should we have a mechanism to upgrade to migration without restarting pod and detaching volume？I think it is a necessary feature. In upgrading phase, we hope the upgrade is lossless，hope not affect anyone pod.

[2021-02-05 06:58] wzshiming commented on #98486
k8s.io/kubernetes/pkg/controller/volume/persistentvolume 41s -> 19s #98792

[2021-02-05 07:19] adisky commented on #98765
@neolit123 Updated the Title and description with all the options available.

[2021-02-05 07:31] wzshiming commented on #98486
k8s.io/kubernetes/pkg/controller/endpointslice 35s -> 13s #98793

[2021-02-05 07:41] wzshiming commented on #75601
/assign

[2021-02-05 07:53] #94525 closed

[2021-02-05 08:09] aojea commented on #98577
Things to take into account:
1. the kube-proxy informer filters everything with `service-proxy-name`  , that means endpoints are services

https://github.com/kubernetes/kubernetes/blob/6dc0047396d3aad16928d346da8a5052d8a824fa/cmd/kube-proxy/app/server.go#L726-L730

2. the endpoints controller does´t process updates on Endpoints, and is not likely that is going to change

https://github.com/kuberne

[2021-02-05 08:14] evreng commented on #63128
In my case I found in the apiserver logs indicating an expired certificate: x509: certificate has expired or is not yet valid
All the cluster certificates were automatically renewed, but I had to copy /etc/kubernetes/admin.conf into my ~/.kube/config as a new certificate had been issued, I hope it helps someone

[2021-02-05 08:45] aimuz commented on #98714
`client-go` Yes, it can be obtained

[2021-02-05 08:51] aimuz commented on #98714
When I restart the host, I find that kubectl can get the data, and apiserver also returns the correct data, but I think this is a problem.

[2021-02-05 08:54] #94096 closed

[2021-02-05 09:14] chendave commented on #98788
I don't think this has anything to do with this commit - https://github.com/kubernetes/kubernetes/pull/98721, that change is purely for a utility of performance evaluation. The log shows it is timeout for the operation, retry will help?

[2021-02-05 09:38] josephburnett commented on #45509
I see that https://github.com/kubernetes/enhancements/issues/2255 is approaching this problem by signaling with annotations.  This has the drawback that someone has to /1/ update all the pods with a signal for selection or /2/ update the specific pod intended for termination.  This will either /1/ place a lot of load on the API server or /2/ require the downscaling agent to understand the applicat

[2021-02-05 09:54] CaoDonghui123 commented on #98457
/test/integration/deployment/deployment_test.go:349
[code]
It's specially designed to be this way.
I'm not sure whether to resist it

[2021-02-05 09:55] jsafrane commented on #98687
No, it is not possible to have CSI migration without node drain. We though hard about it when designing CSI migration - It's quite complex already now, when it's somehow hidden in the volume plugins. If we fully exposed it to A/D controller and kubelet, it would be unmanageable and very error prone.

Even during regular upgrade you should take nodes one by one and drain them, upgrade kubelet and u

[2021-02-05 10:30] wzrdtales opened #98800 "secret kubeconfig not found - fleet"
This error is never resolving and there since the first upgrade and still there with rancher v2.5.5

![image](https://user-images.githubusercontent.com/1786821/107022269-74191e00-67a5-11eb-88d2-b1ff5bc68ba0.png)

[2021-02-05 10:44] wzrdtales commented on #98800
sry wrong repo...

[2021-02-05 10:44] #98800 closed

[2021-02-05 10:48] #97460 closed

[2021-02-05 11:04] mm4tt commented on #97119
We do that already in the current implementation. It's not the udpate calls that are problematic but the overall number of calls and the fact they're executed in serial

That's a really interesting idea. If it can work this way then big +1 to it

[2021-02-05 11:20] hermanbanken opened #98801 ""kubectl get <any-resource>" is very slow due to custom/external metrics"
**What happened**:
`kubectl get pods` takes a very long time; it used to be much faster. It depends a bit on what is cached.

**What you expected to happen**:
Response within a second.

**How to reproduce it (as minimally and precisely as possible)**:
Probably you'll need to have at least some custom metrics installed.

**Anything else we need to know?**:
 I was running on GKE v1.16.15-gke.6000.

[2021-02-05 11:21] hermanbanken commented on #98801
/sig api-machinery
/sig cli
/sig usability

[2021-02-05 11:32] adtac commented on #98788
I agree with @chendave, I don't think https://github.com/kubernetes/kubernetes/pull/98721 is related to this failure - that change was purely about a different test. Looking at the job history, it looks like it's passing again?

[2021-02-05 11:34] pacoxu commented on #98778
/remove-kind feature
is the cluster health and work well？
It seems some log messages are not proper

[2021-02-05 11:34] jj-fontana commented on #98763
Thanks for your reply.
Hum, yes I'm superadmin as I run kubectl command on a EC2 instance assuming a role added in the aws-auth config map created after the EKS cluster creation. The role is binded with system:master group.

[code]

Can you then explain me why the creation of Pod is passing the PSP step and creation of Deployment is not? I run both kubectl apply -f command with the same user
Is th

[2021-02-05 12:24] sttts commented on #98267
Did this change in rc1?
[code]

[2021-02-05 12:24] xmudrii commented on #97294
@neolit123 @aojea I had no luck with `netem`, but I created a `t3.xlarge` instance on AWS (4 CPU and 16 GB RAM) and a kind cluster on it. The kind cluster is losing the etcd leader when the second node joins a cluster just like the plain kubeadm cluster. I'm also able to reproduce this issue on such kind cluster.

[2021-02-05 12:24] sttts commented on #98267
With `@latest` it works.

[2021-02-05 12:31] tosi3k commented on #95393
Fixed in https://github.com/kubernetes/kubernetes/pull/95391.

/close

[2021-02-05 12:31] #95393 closed

[2021-02-05 12:49] verb commented on #98362
Opened https://github.com/containerd/containerd/issues/5008 to discuss this with the containerd authors.

[2021-02-05 12:49] hasheddan commented on #98648
Linking to a prior example of presubmit / periodic container runtime mismatch example (https://github.com/kubernetes/kubernetes/pull/96495). @liggitt @BenTheElder at the time we were working on the referenced bug we considered whether we should be consistent with various plugins we were testing against in presubmit vs periodic. However, in many cases such as this one, we are getting more coverage

[2021-02-05 13:06] josephburnett commented on #45509
@kgolab and @qelo suggested that downscale policy could be set in an intermediate controller (CRD) which implements the scale subresource.  It could watch metrics and set annotations on pods when scaling down.  This would allow metrics to control selection but limit Pod writes.

[2021-02-05 13:08] verb opened #98807 "Investigate exercising Ephemeral Container creation in upgrade tests"
**What would you like to be added**: If it's feasible, ephemeral containers should be exercised in the automated upgrade/downgrade tests https://testgrid.k8s.io/google-gce-upgrade

**Why is this needed**: Ephemeral Containers are targeted for beta in 1.21, it would be nice, but not required, to exercise this path in upgrade/downgrade tests.

/sig node
/priority important-longterm

[2021-02-05 13:09] verb commented on #98807
/assign
/triage accepted

[2021-02-05 13:15] verb opened #98808 "Promote Ephemeral Containers to beta and enable by default"
This issue tracks [Ephemeral Containers](https://features.k8s.io/277) graduation to beta.

Graduation criteria from [KEP 277](https://git.k8s.io/enhancements/keps/sig-node/277-ephemeral-containers):

- [x] Ephemeral Containers API has been in alpha for at least 2 releases.
- [x] Ephemeral Containers support namespace targeting.
- [ ] Metrics for Ephemeral Containers are added to existing contain c

[2021-02-05 13:15] verb commented on #98808
/assign
/priority important-soon

[2021-02-05 13:18] verb commented on #85545
/reopen
/assign
/priority important-soon

[2021-02-05 13:18] kfirfer commented on #98778
@pacoxu yes the cluster works well

[2021-02-05 13:30] ankeesler commented on #98451
That's helpful feedback @blowfishpro, thanks.

Another question - do you have a suitable workaround here? The reason why I ask is because I _think_ we would need to do a proper review on the long term proposal above, which would mean it probably wouldn't land until 1.22 (since 1.21 KEP freeze is in 4 days), so if we don't implement the short-term proposal (which seems a little hacky to me?), then

[2021-02-05 13:40] Gui13 commented on #94359
Up ..

[2021-02-05 13:56] dnzlde commented on #24873
This is obviously just a connection issue you are having.

[2021-02-05 14:12] gavinfish commented on #97119
ah, thanks for sharing this idea, let me have a try.

[2021-02-05 14:14] tosi3k commented on #95390
Fixed.

/close

[2021-02-05 14:14] #95390 closed

[2021-02-05 14:16] liggitt commented on #98267
hmm... still working for me with go1.16rc1:

[code]

[2021-02-05 14:18] adtac commented on #98788
[code]

This suggests it was an intermittent volume-related failure.

[2021-02-05 14:22] liggitt commented on #98763
PSP is only applied when the pod is created. A pod for a deployment is created by the replicaset controller, which is not running as a superuser.

Only a direct creation of a pod by a superuser would be able to make use of these privileged permissions.

[2021-02-05 14:34] serathius commented on #89267
Thanks for picking this up I have updated issue description to reflect current state.

[2021-02-05 14:36] neolit123 commented on #97294
i wonder if this is something related to disk, but you've mentioned that this also happens on other cloud provider machines, so this is quite odd.

[2021-02-05 15:07] xmudrii commented on #97294
@neolit123 It could be something related to the hardware, causing the etcd to lose the leader. The local machine that I'm using for testing has an NVMe SSD, a 12-core CPU, and 32 GB RAM, so I believe that it's much faster than a cloud provider instance, and that's probably why there's a difference between when I'm testing locally and in the cloud.

However, I would still expect the API server to b

[2021-02-05 15:10] aojea commented on #95565
@uablrek sorry for not being able to see this before, you are right on this

Kudos to @fedepaol for resolving this enigma, it turns out that, if we consider UDP and the app stateless, it is working as expected.

Lars trace is ok for this:
1. pods sends UDP packet to the service
11.0.2.3:5059 -> 12.0.211.164:5001
2. service is DNATed to the endpoint, that is a process in the same host. This endpoin

[2021-02-05 15:10] gavinfish commented on #94696
for `NodeInfo`, I think it is ok to remove `Node()` function and export `node` field, considering
- it is not special as status which takes nil as success status
- similar struct `PodInfo` exports `Pod` field

https://github.com/kubernetes/kubernetes/blob/26744ac58dd31ceb342b54a2a9d71d66aa95811d/pkg/scheduler/framework/types.go#L470-L476

Have I missed any restrictions with this? @ahg-g @alculquic

[2021-02-05 15:10] #95565 closed

[2021-02-05 15:14] fedepaol commented on #95565
@aojea if there's agreement in how to change udp listeners (at least for host network pods), I'd be happy to fix the test.

[2021-02-05 15:24] alculquicondor commented on #94696
Can you check if there any instances where `n *NodeInfo` can be nil? I don't think so, but maybe.

[2021-02-05 15:30] neolit123 commented on #97294
kubeadm e2es are a tool called "kinder" based on "kind" (nested container runtimes). these are running on prow / GCE in a kubekins image.

for red runs, the failures are other causes.

here are the logs of a green run:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-latest/1357667894820868096/artifacts/

i do not see `... lost leader` in the etcd logs on the seco

[2021-02-05 15:39] xmudrii commented on #97294
In my case, the `... lost leader` is happening only on the first control plane node, and therefore that's why only the first API server is affected. The second and the third control plane nodes are working fine.

In the logs you shared, I was able to find both `... lost leader` in the etcd logs and `Terminating all watchers...` in the API server logs on the first node.

[2021-02-05 15:41] neolit123 commented on #97294
ok, that's good. then it's reproducible in our e2e.

[2021-02-05 15:48] pacoxu commented on #96986
/reopen
I will close it after implementation in .#97099

[2021-02-05 15:57] answer1991 commented on #94532
As clients in k/k repo use [golang.org/x/net/http2](https://github.com/kubernetes/kubernetes/blob/c9604bd302f9ff4df6c4cf6a8cc9130a497bcf36/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L174) to config http2 transports instead of use golang SDK h2_bundle, a new version of golang.org/x/net(with https://github.com/golang/net/commit/ff519b6c91021e6316e1df005bc19f266994ddda) will fix this issue.

[2021-02-05 16:06] eddytruyen commented on #70585
This is the last time I will mention it and than I will shut up:
CPU quotas are not problem, cgroup hierarchies are. A container is throttled when its quota **or the quota of its parent** is surpassed.
Since Pods can aggregate multiple containers, the cgroup-parent parameter is always set in Docker  for example.  The experiment with Cassandra as I described  [here](https://github.com/kubernetes/ku

[2021-02-05 16:23] ahg-g commented on #45509
The annotation approach assumes that the updates are infrequent, it can be used by webhooks to deterministically alter the down-scale order (e.g., random order, oldest first etc.), or workloads that don't change frequently (like Spark workloads, where a driver knows everything and can set those annotations on scale down).

I think the two approaches are complementary, the approach you are proposin

[2021-02-05 16:58] adampl commented on #55713
@lunhuijie see https://github.com/kubernetes/kubernetes/issues/97100

[2021-02-05 17:38] wojtek-t commented on #45509
Yeah - I would like to avoid introducing dependency on the metrics API from ReplicaSet controller - especially given metrics API doesn't implement watch IIRC. The separate controller to control setting this annotation seems like a better idea to me.

[2021-02-05 17:40] lavalamp commented on #97294
If we think etcd leader loss can trigger some e.g. bug with the apiserver watch cache, maybe we could write a test that makes etcd leader thrash around?

[2021-02-05 17:41] lavalamp commented on #97294
@jingyih might have ideas for a test and/or what the problem is?

[2021-02-05 17:59] verb commented on #97974
Ok, started digging into this a bit today. It looks like the pod manager might be a good place to keep gauges of the pods/containers under management by this kubelet. The runtime manager's SyncPod may be a good place to keep counters of pod/container creation.

[2021-02-05 18:44] #77268 closed

[2021-02-05 18:52] blowfishpro commented on #98451
I have an okay workaround for now.  The session with MFA is cached so I just need to remember to run some `aws-vault` command directly before running one of these scripts.  It's annoying but I can live with it for a while.

[2021-02-05 19:27] wilsonwang371 opened #98814 "apiserver etcd backend sharding support"
**What would you like to be added**:

As the number of nodes in our k8s cluster increases significantly, we saw etcd gradually becoming our cluster performance bottleneck. apiserver already supports different objects using different etcd cluster. But in our case, we saw a large number of pods objects and we investigate if it is possible to use multiple shards within one resource type.

Some compan

[2021-02-05 19:55] roycaihw commented on #80313
I think this has been fixed by https://github.com/kubernetes/kubernetes/pull/95981. @caesarxuchao could you confirm?

[2021-02-05 19:56] dims opened #98815 "Deprecation plan for Flex Volumes?"
FAQ says `Out-of-tree FlexVolume driver [deprecated]` https://github.com/kubernetes/community/blob/master/sig-storage/volume-plugin-faq.md#in-tree-vs-out-of-tree-volume-plugins

Also this was hinted at in https://github.com/kubernetes/kubernetes/issues/78737 as well.

How and when do we roll this out?

[2021-02-05 19:56] dims commented on #98815
cc @msau42 @xing-yang

[2021-02-05 19:58] liggitt commented on #80313
admission webhooks explicitly use http/1.1 to avoid http/2 load balancing issues (https://github.com/kubernetes/kubernetes/issues/75791), so a http/2-specific fix will not help them

[2021-02-05 20:05] #78664 closed

[2021-02-05 20:16] ali-raza-tariq commented on #95860
For others who might have the same problem, the issue was indeed with the network plugin (I was using flannel). My machines had multiple network interfaces (both 1GBits/s & 10GBits/s) so even though I configured Kubelet to use the `--node-ip` flag, the flannel would still use 1GBits/s for some servers. Since the interface names were different on different worker nodes, I used `--iface-regex` to co

[2021-02-05 21:00] rikatz commented on #98723
@liggitt how "urgent" is this? Can wait until next tuesday? Otherwise I can work on the tests this weekend :)

[2021-02-05 21:03] hanlins commented on #98465
More root cause for this issue. In `iptables` mode, typically node port traffic will be `DNAT`ted to traffic towards pod IP. Typically it will hit following rules in `nat` table:
[code]
Since the pod IP (100.96.0.11) is not bindded to any local interface, the traffic will be handled by `FORWARD` chain instead of `INPUT` chain in `filter` table. That said, it will hit the third rule in `KUBE-FORWAR

[2021-02-05 21:08] liggitt commented on #98723
important, not urgent. it should happen early in the 1.21 cycle, but does not require work out of business hours

[2021-02-05 22:00] dkatipamula opened #98819 "core file generation in a shared nfs volume mount"
Hi,

I have a PV mapped to the /tmp directory of the pod and changed the kernel/core_pattern to reflect the same. Whenever I try to generate a core file, it is generated with size 0:
[code]
But when I don't map a PV to the /tmp directory the core file generation works just fine:
[code]

Can this be solved using securityContext and fsGroup? If Yes, how can I do that for a Volume mount?

Any help is

[2021-02-05 22:02] dkatipamula commented on #98819
/kind support
/sig storage
/sig security

[2021-02-05 22:06] #98648 closed

[2021-02-05 22:17] smarterclayton commented on #98506
No component in the system should ever treat the timestamp of DeletionTimestamp as authoritative.  In Kube, components are required to calculate the time period from when they observe the event in their local clock (i.e. 30s from now), not use the deletion timestamp.

A negative value of deletion grace period should be rejected by the apiserver as an invalid value (bad request / invalid field).

[2021-02-05 23:17] knabben commented on #98410
Kube-proxy configuration library is in `v1alpha1`, defaults values go to the external API on https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/apis/config/v1alpha1/defaults.go#L38 function. Technically a pointer on `EnableProfiling` can differentiate between values and empty, so a default can be applied.

@bowei I can open a PR and discuss further on slack if there're some concerns ab

[2021-02-05 23:48] BenTheElder commented on #54923
Ideally a maintainer does: https://github.com/kubernetes/kubernetes/issues/54923#issuecomment-768598017 (the comment above). The bot ages out issues otherwise, which has it's pros and cons (we get a lot of issues that never receive followup and the project has too many issues to easily keep on top of).

As commented in https://github.com/kubernetes/test-infra/issues/20629 contributor workflow is o

[2021-02-05 23:55] danwinship commented on #98411
It doesn't matter what _kubelet_ thinks the node IP is; if the apiserver is running hostNetwork, then it has access to all of the node's addresses/routing automatically.

It seems like the problem here is either that the nodes themselves are not dual-stack, or that there is no IPv6 routing between the nodes and the pod network (or whatever network the webhook is on).

Actually, I see references to

[2021-02-06 00:11] BenTheElder commented on #98778
this is also https://github.com/kubernetes/kubernetes/issues/95893

[2021-02-06 00:12] BenTheElder commented on #95893
I see these spam clientconn logs even in kind clusters, where I'm fairly certain we're not opting into sshtunnels. see also https://github.com/kubernetes/kubernetes/issues/98778

[2021-02-06 00:13] BenTheElder commented on #98720
https://github.com/kubernetes/kubernetes/issues/95893 and https://github.com/kubernetes/kubernetes/issues/98778

[2021-02-06 00:13] BenTheElder commented on #95893
https://github.com/kubernetes/kubernetes/issues/98720 as well

[2021-02-06 00:26] 2rs2ts commented on #70585
Since Pods can aggregate multiple containers, the cgroup-parent parameter is always set in Docker for example.

I understand this. I said that we checked _all_ containers in a pod. Pods where not a single container is using up more than a sliver of its respective quota will still be throttled. So it is not a problem of container A using too many resources and that causing container B to get thrott

[2021-02-06 01:06] hellogdc opened #98822 "fix the address of restful-CORS-filter.go and restful-basic-authentication.go in the comment of ./staging/src/k8s.io/apiserver/pkg/server/filters/cors.go"
**What would you like to be added**:
// See github.com/emicklei/go-restful/blob/master/examples/cors/restful-CORS-filter.go, and
// github.com/emicklei/go-restful/blob/master/examples/basicauth/restful-basic-authentication.go

right address of restful-CORS-filter.go and restful-basic-authentication.go in the comment of ./staging/src/k8s.io/apiserver/pkg/server/filters/cors.go

**Why is this needed

[2021-02-06 01:06] hellogdc commented on #98822
/kind cleanup
/sig docs
/assign

[2021-02-06 02:31] BenTheElder commented on #98768
if it's in the pod "message" surely this isn't in the test script etc, this is in the underlying cluster providing capacity to run build/test jobs as pods?

[2021-02-06 02:32] BenTheElder commented on #98768
it looks like the prow init container fails, I think this is GKE workload identity going to fetch the service account token for the pod perhaps?

this is probably a bug for kubernetes/test-infra / the prow.k8s.io oncall (test-infra-oncall in slack #testing-ops), but I'm not sure how actionable it will be.

[2021-02-06 02:34] BenTheElder commented on #98778
https://github.com/kubernetes/kubernetes/issues/98720 is a bit earlier filed and has someone assigned, I'm going to dedupe these.
/triage duplicate
/close

[2021-02-06 02:34] #98778 closed

[2021-02-06 02:35] BenTheElder commented on #95893
leaving this open for now, but I think https://github.com/kubernetes/kubernetes/issues/98720 which is assigned will track the ultimate fix 🤞

[2021-02-06 07:36] Jean-Daniel commented on #95251
Just for the record, this is an actual problem when trying to deploy rook-ceph. Rook makes strong assumption about PodIP family being the same as `clusterIP` family and just fails to create Ceph cluster when they do not match.

`ceph-mon` are configured to listen only on `PodIP` but the `ceph-mon` advertised addresses are the corresponding service `ClusterIP`.

This result in `ceph-mon` listening

[2021-02-06 08:26] adamish commented on #93900
Can anyone comment on what alternatives are? Without this feature we'll have a lot of duplication. No one likes duplication.

We can address the Environment variables via ConfigMap and the envFrom keyword, however I cannot see anything for volumes, imagePullSecret etc.

[2021-02-06 08:27] qiutongs commented on #94085
@mkumatag @willdeuschle,
Sorry for late reply. I dived into the kubelet code. I see the attempt count depends on the restart count of the current status of container ([code reference](https://github.com/kubernetes/kubernetes/blob/v1.17.8/pkg/kubelet/kuberuntime/kuberuntime_container.go#L113-L116)). I am not sure if it correct to increment attempt in timeout case. See my analysis below.

At the tim

[2021-02-06 08:45] sanicheev opened #98826 "Incorrect nodePort chosen for SSL healthcheck"
**What happened**:
Having http and https ports on Service object in conjunction with "service.beta.kubernetes.io/aws-load-balancer-backend-protocol: https" causes healthcheck to send SSL traffic to http port.

**What you expected to happen**:
Either use TCP protocol for tcp listener in case we have backend-protocol set to "https" or choose correct nodePort.

**How to reproduce it (as minimally and

[2021-02-06 09:06] eddytruyen commented on #70585
Yes, I am. This cgroup parent equals the quota that is allocated to the Pod's pause container.

[2021-02-06 09:17] NickrenREN opened #98828 "Scheduler PriorityQueue Update function"
**What happened**:

When we find the pod in podBackoffQ, we delete it from podBackoffQ and add it to the active queue directly, which doesn't match the comment.
Also, when we find the pod in unschedulableQ, we don't respect the backoff policy, we delete the pod from unschedulableQ and add it to the active queue directly.

**What you expected to happen**:

If the pod is in the backoff queue, update

[2021-02-06 09:17] NickrenREN commented on #98828
/sig scheduling

[2021-02-06 09:18] #94477 closed

[2021-02-06 09:19] NickrenREN commented on #98828
/triage accepted

[2021-02-06 09:24] raelga commented on #78352
/remove-lifecycle stale

[2021-02-06 10:33] carlory commented on #95837
/assign

[2021-02-06 11:06] mvanholsteijn commented on #25908
Note that AWS ECS has had the `essential` property on container since the inception of ECS. If a container is marked  essential, and that container fails or stops for any reason, all other containers that are part of the task are stopped too.

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html

[2021-02-06 11:18] maknihamdi commented on #97940
I think it's not only a diff issue. With my team we use kubectl with an all-in-one big yaml file to do our gitops checks and deployements, we see that we call openApi/v2 route hundreds times with every diff or apply command, you can imagine latency.
I thought about several solutions. I started with caching openApi document in diff command, and calling a special dryrunverifier.HasSupport function w

[2021-02-06 11:45] justinfx commented on #93900
It seems the alternative is just to use mutating webhooks. And there is even a port of PodPreset to a mutating web hook by redhat:
https://github.com/redhat-cop/podpreset-webhook

[2021-02-06 13:06] abhranilc opened #98832 "PodInfo Missing in CSI NodePublishVolume() call only for raw Block volumes"
**What happened**:
Kubelet is not passing pod information as VolumeContext in CSI NodePublishVolume() calls for raw block volumes whereas it is passing the pod information as expected in case of FileSystem volumes

**What you expected to happen**:
Since I have podInfoOnMount set to true in CSIDriverSpec, I expected to receive podInfo as VolumeContext in CSI NodePublishVolume() calls for both raw B

[2021-02-06 13:12] abhranilc commented on #98832
/sig storage

[2021-02-06 13:50] gavinfish commented on #88797
/reopen
/remove-lifecycle rotten

[2021-02-06 14:45] erir910 opened #98833 "Fake client does not generate UUID or CreationTimestamp"
`k8s.io/client-go/kubernetes/fake` or any CRD fake client does not generate UUID or CreationTimestamp for the created objects. This makes unit testing basically impossible for many cases especially for controllers checking such fields. The only solution for this is to write extremely slow and hard to manage e2e tests just to emulate a simple and lightweight unit test.

[2021-02-06 15:25] sanicheev commented on #98826
/sig cloud-provider

[2021-02-06 15:58] pacoxu commented on #98826
/area provider/aws

[2021-02-06 17:26] #94369 closed

[2021-02-06 17:26] #94557 closed

[2021-02-06 18:23] oliverhausler opened #98840 "Schedule all pods at the same time (for stateless services)"
**What would you like to be added**:

When a service is updated, pods are switched one by one (pod started, traffic switched, previous pod stopped). I would like to have an option which first starts all pods, then switches traffic at the same time, then stops all previous pods.

**Why is this needed**:

Changing pods one by one is perfect for stateful services, but often not so good for stateless

[2021-02-06 18:27] #44165 closed

[2021-02-06 19:20] krancour commented on #25908
@mvanholsteijn that's interesting.

Something that I think has gone on with this issue is that the perfect has become the enemy of the good.

There are a _lot_ of people who don't need anything more than to be able to designate a container (or n containers?) as "the important container" among multiple containers in a pod. If we could do _just that_, then jobs, for instance, could be considered com

[2021-02-06 20:29] #84742 closed

[2021-02-06 20:48] Huang-Wei commented on #94008
/remove-lifecycle rotten

[2021-02-06 21:41] n3wscott commented on #98768
yeah, it could be a flake, I made the ticket to document the flake. Also not sure how to signal to test-infra.

[2021-02-07 00:33] #87123 closed

[2021-02-07 00:57] justaugustus commented on #95038
/unassign
/assign @saschagrunert

[2021-02-07 01:09] justaugustus commented on #97178
Yep! Opened a separate issue to track @kfox1111's request: https://github.com/kubernetes/release/issues/1898
/close

[2021-02-07 01:09] #97178 closed

[2021-02-07 01:26] #98763 closed

[2021-02-07 01:31] enj commented on #61795
I feel that it would be strange to require an external signer to get private claims.  I am also unsure how the client would request specific private claims.  I do not think it would be sufficient to say that the signer gets to inject arbitrary claims with no coordination from the client (that seems too limited).

[2021-02-07 02:10] BenTheElder commented on #95038
_I am not a container security expert._

It still seems unclear to me that this is actually a container best practice in this case, this image is *not* supported to run as a user image, it's an implementation detail of pods, with ~zero user control over how it runs, AIUI. I'm also not sure if this change is a problem for PID reaping?

I'd like @tabbysable / someone from SIG security to review thes

[2021-02-07 02:55] jayunit100 commented on #98577
AHHHhhh ok so the steps here are:
- determine WTH should happen when you PATCH the EP object , based on the controller in kubernetes/cmd/kube-proxy/app/server.go.go
- determine wether we're doing ^, or if there are corner cases where we don't do it properly, or if its normal to never respond to PATCH operations against the endpoints object.

@maplain now that the context is clear here - do you wan

[2021-02-07 02:59] Huang-Wei commented on #98828
When a Pod update event arrives, its spec that is associated with its schedulability may or may not have changed. In the current logic, we assume it to have changed, and hence remove it from backoffQ/unschedulableQ, and re-add it in the activeQ. IMO this logic is accurate, I'd prefer to keep it as is - unless we can find a cost-efficient way to check whether the updatedPod's scheduling attributes

[2021-02-07 03:09] NickrenREN commented on #98828
Thanks for your comment @Huang-Wei
IIUC, when events which may make unschedulable pods become schedulable again come, we respect the backoff policy when we try to move pods to active queue at MoveAllToActiveOrBackoffQueue ,  for pod update events here, why do we want to delete the pod from backoff queue directly, ignoring the backoff stuff ?

yes, we will also update other fields when scheduling p

[2021-02-07 03:32] ivan-cai commented on #98687
@jsafrane Thank you very much.

[2021-02-07 04:05] dims commented on #98814
Thanks for the feature request, but this is unlikely to make progress as an issue. A proposal that works through the design along with the implications of such a change can be opened as a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps).

/close

[2021-02-07 05:07] liggitt commented on #98506
attempts to take a missing or positive deletion grace period negative should be rejected, I agree.

if a negative value is already persisted, I'd be inclined to allow a negative value in an update and clip to 0

[2021-02-07 06:39] #94191 closed

[2021-02-07 07:42] oldthreefeng commented on #88574
same issue with `centos 7.7.1908`. etcd and apiserver restart many times . see logs like
[code]

for tmp solved
[code]

then to found the cluster is  really cleaning, only static pod is here.
[code]

tips: just do backup when cluster is health!! just do backup when cluster is health!!just do backup when cluster is health!!

[2021-02-07 08:35] Nuru commented on #91459
@dims @liggitt Is there something I can do to move this forward?

[2021-02-07 09:00] liujing1995 opened #98849 "Only a single pod can be called through the browser"
**What happened**:
Hello everyone, this is my first time using k8s as a container orchestration tool.Encountered some problems when using load balancing. The question is that only a single pod can be called through a browser, but I can use curl commands on my laptop to access different pods under a service.

**Anything else we need to know?**:

1. I set sessionAffinity to None in the service.yaml

[2021-02-07 09:01] chendave commented on #96354
/remove-lifecycle stale

[2021-02-07 09:38] heqg opened #98851 "After the node is down, the POD migration is abnormal"
**What happened**:
1. when a node is down, the POD migration is abnormal

**What you expected to happen**:
1. when a node is down, the pods on the node  should moved to other nodes at the expected time(node-monitor-grace-period + pod's tolerance time).

**How to reproduce it (as minimally and precisely as possible)**:
1. First deploy a three-node cluster
2. create some pods
3. stop the kubele.serv

[2021-02-07 09:39] heqg commented on #98851
/sig node

[2021-02-07 09:52] lunhuijie commented on #98851
we tried to fix this bug though this way:
delete rate limit func the queue checking
[code]
the the problem is never occurred !!!

this way is reasonable？maybe there are another better way to solve it ?
and we understand about  rate limit few.
Can you give me some suggestions？

/assign：@gmarek
/assign：@bowei

[2021-02-07 10:43] #94450 closed

[2021-02-07 10:55] rikatz commented on #93100
/reopen

[2021-02-07 10:59] rikatz commented on #93100
/triage accepted

[2021-02-07 11:30] KNWBIN opened #98852 "kubectl logs -f Forbidden"
kubeadm  1.18.15

kubectl logs -f calico-kube-controllers-8586758878-b88gd -nkube-system -v=10

I0207 19:27:16.057638   12466 round_trippers.go:424] curl -k -v -XGET  -H "Accept: application/json, */*" -H "User-Agent: kubectl/v1.18.15 (linux/amd64) kubernetes/73dd5c8" 'https://127.0.0.1:6443/api/v1/namespaces/kube-system/pods/calico-kube-controllers-8586758878-b88gd/log?follow=true'
I0207 19:27:16

[2021-02-07 12:16] lee-b commented on #60643
/reopen
/remove-lifecycle rotten

This was never answered, and it seems crucial that k8s should provide OpenCL, if it's to be an open platform for ML workloads, independent of particular hardware vendors.

[2021-02-07 12:56] mvanholsteijn commented on #25908
Thank you for your response.  How fast can you get the `essential` feature implemented and released?

I consider Kubernetes the father of the concept of running multiple containers together as a "pod": The simple fact that this concept breaks as soon as you run a job or cronjob, and is left broken for almost 5 years, is beyond me.

[2021-02-07 12:57] talonx commented on #30617
@rochdev While this is the recommended solution for new clusters on GKE, this seems to have issues when the clusters are in different projects, or different accounts, and we use two different gcloud accounts to do a `get-credentials`.

Because the `use_client_certificate` is set to false, it ends up using the gcloud command to refresh a token in the kubeconfig, and with multiple gcloud accounts on

[2021-02-07 13:31] george-angel commented on #46287
/remove-lifecycle stale

[2021-02-07 15:48] #94657 closed

[2021-02-07 15:52] alisharifi76 commented on #98215
It still may cause deadlock when we rollout restart manually, is it possible to use hash of replicaSet for the version label automatically?

[2021-02-07 17:33] cuttingedge1109 commented on #86762
@DeanYang121 @orondon
Can you please share the details?

[2021-02-07 18:40] ruizmarlon commented on #83125
^ @stephen304 adding those directories worked like magic.
Was using k0s for my experiment.
Thanks!!!

[2021-02-07 18:52] stephen304 commented on #83125
@ruizmarlon I actually think I was wrong, I forgot I commented here. I was using microk8s and I needed to set the kubelet folder path to the one in snap since microk8s is a snap. Maybe it's a real fix for you but just want to give you a heads up.

[2021-02-07 19:26] raravena80 commented on #69041
/remove-lifecycle stale

[2021-02-07 19:32] dims commented on #25908
please move discussions to the KEP:
https://github.com/kubernetes/enhancements/issues/753

please see the latest updates to the KEP here:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/753-sidecar-containers

last update was here:
https://github.com/kubernetes/enhancements/pull/1980/files

/close

[2021-02-07 19:32] #25908 closed

[2021-02-07 20:48] jconway commented on #90973
/remove-lifecycle stale

[2021-02-07 20:53] #91848 closed

[2021-02-07 21:09] elsesiy commented on #74178
/remove-lifecycle stale

[2021-02-07 21:20] tabbysable commented on #95038
I can't come up with a threat model under which making this change prevents an attack, mostly because the behavior of the pause container is so trivial. It seems to be a nice-to-have: it should be harmless, and it helps us set a better example of running containers as non-root when root is not really needed.

As far as I understand PID reaping, running pause as non-root shouldn't be a problem even

[2021-02-07 21:45] davi5e commented on #25908
For an alpha feature, shouldn't the first try solve the Job conundrum? Most if not all jobs have one container per pod (before sidecars get inserted).

That would be a huge leap into getting an idea of how to solve it for other workloads too, in my modest opinion.

[2021-02-07 22:16] PriyankaH21 commented on #98459
Thank you, everyone! I'll close this issue!

[2021-02-07 22:17] PriyankaH21 commented on #98459
/close

[2021-02-07 22:17] #98459 closed

[2021-02-07 22:19] PriyankaH21 commented on #98647
@cheftako @BenTheElder @jpbetz do we have an assignee to resolve this?

[2021-02-07 22:31] PriyankaH21 opened #98854 "[Flaky Test] [[sig-cli] Kubectl client Simple pod should return command exit codes"
**Which jobs are flaking**:  `ci-kubernetes-kind-ipv6-e2e-parallel`

**Which test(s) are flaking**:
- `Kubectl client Simple pod should return command exit codes`
- `Kubectl client Simple pod should support inline execution and attach`

**Testgrid link**:  https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel&include-filter-by-regex=%20Kubectl%20client%20Simple%20pod%20shou

[2021-02-07 22:40] PriyankaH21 opened #98855 "[Flaky Test] [sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort service"
**Which jobs are flaking**: `ci-kubernetes-kind-ipv6-e2e-parallel `

**Which test(s) are flaking**: ` Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort service `

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel&include-filter-by-regex=Conntrack%20should%20be%20able%20to%20preserve%20UDP%20traffic%20when%20server%

[2021-02-07 22:47] PriyankaH21 commented on #97239
Is this issue resolved? I saw another flaky test today -
**Triage:** https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Networking%20Granular%20Checks%3A%20Services%20should%20update%20nodePort ,
**Spyglass:** https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1337366985960329216

[2021-02-07 22:55] PriyankaH21 opened #98856 "[Flaky Test] [sig-api-machinery] ResourceQuota should verify ResourceQuota with best effort scope. [Conformance]"
**Which jobs are flaking**: `ci-kubernetes-e2e-gci-gce`

**Which test(s) are flaking**: `ResourceQuota should verify ResourceQuota with best effort scope. [Conformance] `

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&include-filter-by-regex=ResourceQuota%20should%20verify%20ResourceQuota%20with%20best%20effort%20scope.

**Reason for failure**:
[code

[2021-02-07 23:06] PriyankaH21 opened #98857 "[Flaky Test] [sig-scheduling] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]"
**Which jobs are flaking**: `ci-kubernetes-e2e-gci-gce-serial `

**Which test(s) are flaking**: `SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] `

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial&include-filter-by-regex=validates%20resource%20limits%20of%20pods%20that%20are%20allowed%20to%20run

**Re

[2021-02-07 23:13] aojea commented on #98855
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/91236 , it just changed the name recently

It will be fixed by https://github.com/kubernetes/kubernetes/pull/98305

[2021-02-07 23:17] finkr commented on #91847
I wanted to move a PVC from one namespace to another one. I face the issue described here.

I used this procedure to migrate: https://stackoverflow.com/a/66078690/1260896

[2021-02-08 00:32] heqg commented on #98851
the value of  nc.zoneNoExecuteTainter[k]  in node_lifecycle_controller.go
( line: [nc.zoneNoExecuteTainter[k].Try(func(value scheduler.TimedValue) (bool, time.Duration) {] )

In abnormal scenarios, the following information will be printed：
doNoExecuteTaintingPass:nc.zoneNoExecuteTainter[k]  ------ &{{{0 0} [0xc001731950 0xc001e42c30 0xc0013f9400 0xc000b6d180 0xc0015eba40 0xc0005c2f00 0xc001826460

[2021-02-08 00:33] neolit123 commented on #98852
/sig cli

[2021-02-08 00:34] neolit123 commented on #98849
hi, please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-02-08 00:34] #98849 closed

[2021-02-08 00:35] neolit123 commented on #98840
/sig network scheduling
^ adjust if needed.

[2021-02-08 00:35] neolit123 commented on #98833
/sig api-machinery

[2021-02-08 00:36] neolit123 commented on #98833
this seems more like a feature request.
/kind feature

[2021-02-08 00:37] heqg commented on #98851
**In normal scenarios,** ，when the node is down, after a few time   (time time period = node-monitor-grace-period), the following information will be printed **only one time**：
------ &{{{0 0} [0xc000c1fdb0] map[10.229.87.100:{}} {0 0} 0xc00103f860} ------
and then only print the following information ( 0xc000c1fdb0 is cleared)
------ &{{{0 0} [] map[10.229.87.100:{}} {0 0} 0xc00103f860} ------

[2021-02-08 00:37] neolit123 commented on #98752
/sig scheduling

[2021-02-08 00:38] neolit123 commented on #98743
please ask the Valero maintainers:
https://github.com/vmware-tanzu/velero
this doesn't seem like a bug in core k8s.

/close

[2021-02-08 00:38] #98743 closed

[2021-02-08 00:39] heqg commented on #98851
the value of nc.zoneNoExecuteTainter[k] in node_lifecycle_controller.go
( line: [nc.zoneNoExecuteTainter[k].Try(func(value scheduler.TimedValue) (bool, time.Duration) {] )

**In abnormal scenarios**, the following information will be printed：
doNoExecuteTaintingPass:nc.zoneNoExecuteTainter[k] ------ &{{{0 0} [0xc001731950 0xc001e42c30 0xc0013f9400 0xc000b6d180 0xc0015eba40 0xc0005c2f00 0xc00182646

[2021-02-08 00:40] neolit123 commented on #98741
this version has been out of support for a long time.
please try to reproduce with 1.18+ and reopen if this is still a problem.

/close

[2021-02-08 00:40] neolit123 commented on #98741
/sig apps

[2021-02-08 00:40] #98741 closed

[2021-02-08 00:47] #97793 closed

[2021-02-08 00:48] #97724 closed

[2021-02-08 02:18] cavaccineinv commented on #59113
/remove-lifecycle stale
/lifecycle frozen

[2021-02-08 02:32] lunhuijie commented on #98851
https://github.com/kubernetes/kubernetes/pull/96876/files
the pr solved this problem, but there is a little question letf. Why  alway run "rate limit the queue checking" make it break and let the quene couldn't removed.

[2021-02-08 02:56] sxllwx commented on #98606
The kube-apiserver processing flow is as follows, (non-critical paths are omitted)：

1. ... // other filters
2. [request_deadline_filter](https://github.com/kubernetes/kubernetes/blob/97d40890d00acf721ecabb8c9a6fec3b3234b74b/staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline.go#L55) parse the http client timeout setting, sets the Ctx with Deadline in the http.Request
3. ...// othe

[2021-02-08 03:03] jayunit100 commented on #98577
/triage accepted

[2021-02-08 03:07] lyzs90 commented on #90833
How about building many scratch images with minor differences like a file with a random name?

We could use image preload in its current implementation to mass pull. But the args on these tests will be very long and even gcr has some [quotas](https://cloud.google.com/container-registry/quotas).

Alternatively we could extend the functionality to support downloading a tarball, then use `ctr image i

[2021-02-08 03:19] xeniumlee commented on #85741
[75290](https://github.com/kubernetes/kubernetes/issues/75290)

Same issue, any service address or external ip will be added to nic "kube-ipvs0" as ipvs virtual server. Then the woker with the same external ip will be treated as own address by all other nodes including masters.

[2021-02-08 03:23] pacoxu commented on #94698
[code]

I think this is something expected.
When you do `rollout undo`, the previous apply is applied again and the change cause is changed to previous one.

Not sure how we can improve the current behavior here.

[2021-02-08 03:54] lala123912 commented on #96342
/lifecycle stale

[2021-02-08 04:08] BenTheElder commented on #98648
In this case I don't think there's any mismatch, dockershim is just not in cluster e2e presubtmit

We've intentionally not advertised these to avoid some kind of favored vendor status or vendors trying to cram every last option into presubmit. SIG node started the policy of not supporting / endorsing / advertising any of the runtimes IIRC.

KIND goes one step further and ships a stripped down netw

[2021-02-08 04:42] pabrahamusa commented on #65500
Anyone struggling with this issue in EKS especially with statefulsets, EBS and Pending state,

a) Find the volumeid associated with PVC, then execute
b) aws ec2 detach-volume --volume-id vol-1234567890abcdef0 --force
c) The statefulset will now recover from Pending state

[2021-02-08 05:01] #78499 closed

[2021-02-08 05:34] arcivanov opened #98860 "Specifying PodTopologySpreadConstraints has worse outcome than none in 1.18.15"
Adding PTSCs results in a worse scheduling outcome than not adding any at all. I cannot understand the reason as kube-scheduler is basically a black box that does not report any decisions.

**What happened**:

Here are the involved nodes.

Observe that `10.0.{150,160,170}.0/24` are different subnets in different zones.

[code]

Here are the pods:
[code]

1. Observe, that `istio-ingressgateway-6d7b

[2021-02-08 05:35] arcivanov commented on #98860
/sig scheduling

[2021-02-08 05:49] carlory commented on #98035
@liggitt  I send a pr about it, but it failed in some tests. Can you give me some guide?  how to deprecate some audit versions located at  `staging/src/k8s.io/apiserver`?

[2021-02-08 05:49] #96465 closed

[2021-02-08 06:04] 2690522020 commented on #97015
I had the same problem

[2021-02-08 06:06] michael-db commented on #87724
/remove-lifecycle stale

[2021-02-08 06:31] adtac commented on #95887
/remove-lifecycle stale

This is still relevant, yes? IIUC the volumebinding plugin has been fixed, but external plugins can still shoot themselves in the foot.

[2021-02-08 06:58] wojtek-t commented on #97239
It's not resolved.

[2021-02-08 07:37] thomacos commented on #88554
/close
Merged https://github.com/kubernetes/kubernetes/pull/93285/commits/dc86fb93901f089bb1a72cba8691f7ce93c035eb as part of https://github.com/kubernetes/kubernetes/pull/93285.

[2021-02-08 07:37] #88554 closed

[2021-02-08 07:40] wurst44 opened #98862 "AdmissionController podNodeSelector crashes api-server"
**What happened**:
I am trying to install the podNodeSelector as described here: https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podnodeselector

**What you expected to happen**:
api-server/kubelet should accept configuration.

**How to reproduce it (as minimally and precisely as possible)**:
Add this to configuration kube-apiserver.yaml:

[code]

**Anything else we

[2021-02-08 07:53] mm4tt commented on #90833
I wouldn't worry about quotas. They are per client IP and more than enough to satisfy our needs - we need to download O(10-20) images per node / clientIP.

Scratch images sound like a great idea. We could create some scripts in perf-tests/util-images that will allow us to create and push N such images to gcr.

[2021-02-08 08:25] yangjunmyfm192085 commented on #98851
I think rate limit mechanism is vaild, should not be deleted.
Now the problem is:
confirm which process has the problem,fix it.

[2021-02-08 08:42] lyzs90 commented on #90833
Then for the test cmd args, instead adding a long comma separated string to each test, do you think we should support globs?

[2021-02-08 08:49] mm4tt commented on #90833
I wouldn't worry about the arg being too long. Well, it won't be pretty but we can live with that as long as it works. We can also set it via an env var to keep the command line simple. Long term, I believe we should invest in a config file to set things like this.

[2021-02-08 08:58] mborsz commented on #98757
/close

[2021-02-08 08:58] #98757 closed

[2021-02-08 08:59] finkr commented on #20753
**Data loss warning:**

Removing `claimRef` (or setting it to `null`) will cause the volume the be immediately removed by the storage class if `persistentVolumeReclaimPolicy`:`Delete`.

Also, removing `claimRef` (or setting it to `null`) will make the PV volume available for any new PVC.

I have written a procedure to migrate/re-use a PV: https://stackoverflow.com/questions/66078689/move-or-change

[2021-02-08 09:05] #94619 closed

[2021-02-08 09:07] cfiderer commented on #80346
Similar use case: an operator that needs to run its own image as a job for longer-running maintenance tasks.

[2021-02-08 09:48] wojtek-t commented on #97294
IIUC this is happening only for the "Services" resource, which suggests it's not watch-cache related, because then I would expect this to affect all resource types...

[2021-02-08 09:59] pacoxu commented on #98862
/etc/kubernetes/manifests is a path for static pod.

You may put admissionConfiguration.yaml in /etc/kubernetes/.

[code]

[2021-02-08 10:06] #87199 closed

[2021-02-08 10:12] wurst44 commented on #98862
At first I put it in   `- --admission-control-config-file=/etc/kubernetes/admissionConfiguration.yaml` so on the "parent" dir.
I will try your approach
thx :)

[2021-02-08 10:14] hanamantagoudvk opened #98870 "Uplift cadvisor version to include fix for Incorrect CPU topology generated on Single NUMA and Multi socket system"
**What happened**:

Incorrect CPU topology generated by cadvisor on Single NUMA and Multi socket system leads to performance degradation for POD.

https://github.com/google/cadvisor/issues/2798

**What you expected**:

cadvisor team is working on fix for the above mentioned issue.

Current k8s release v1.20 should uplift the cadvisor version to include the above fix.

Backport the fix to older ver

[2021-02-08 10:18] hanamantagoudvk commented on #98870
/sig node

[2021-02-08 10:19] olemarkus commented on #86812
/remove-lifecycle rotten

[2021-02-08 10:36] humblec commented on #95367
/remove-lifecycle rotten

[2021-02-08 10:41] kostrahb opened #98871 "Add possibility to specify docker TLS client authentication via secrets"
**What would you like to be added**:

The possibility to specify docker TLS client authentication (probably somehow via imagePullSecrets or other similar field which would allow specifying TLS secrets instead of docker secrets?)

**Why is this needed**:

We have a private nexus repository in our company with pretty tight security - meaning that authentication with credentials is not enough and TLS

[2021-02-08 11:15] adampl commented on #97100
@guzmonne Not much, except asking for attention in the PR's discussion section, so that they finally give up :D

[2021-02-08 11:28] wurst44 commented on #98862
yes, I think it works, thank you :+1:

[2021-02-08 11:30] #98862 closed

[2021-02-08 11:55] edivita opened #98874 "DNS resolution works intermittently during a CP failover"
**What happened**:
I've a CP node (with removed taint to allow me to schedule pod on it) that host the 1 of the 3 replicas of coreDNS, the other two are replicated in the other two nodes. If I execute a shutdown of the CP, the DNS works intermittently (nslookup reports a correct IP the first time, than report a connection timeout error and than again the resolved IP and so on).
I'm almost sure thi

[2021-02-08 12:08] #94621 closed

[2021-02-08 12:27] wc-s opened #98876 "Make `allowPrivilegeEscalation: true` override dockerd's `--no-new-privileges`"
**What would you like to be added**:
`dockerd` allows you to use the `--no-new-privileges` option to "Set no-new-privileges by default for new containers" (https://docs.docker.com/engine/reference/commandline/dockerd/).

Testing with docker version 19.03.14, I see that it is possible to override this, on a per-container basis, by doing eg. `docker run --security-opt="no-new-privileges:false" <...s

[2021-02-08 12:27] wc-s commented on #98876
/sig node

[2021-02-08 12:31] axot commented on #96174
We are looking out a workaround before this fix that will be applied in 1.20, first trying is to decrease timeout related parameters as the following,

[code]

But the side-effect is obviously, it will effect all nodePort type udp services.

[2021-02-08 12:33] CharmingSteve opened #98877 "Secrets encryption not working"
**What happened**:
I followed the directions for setting up secrets encryption https://kubernetes.io/docs/concepts/configuration/secret/

**What you expected to happen**:
It should have encrypted the secrets  created after enabling

**How to reproduce it (as minimally and precisely as possible)**:
I installed kubernetes with kubeadmin. IN your order to reproduce follow the directions
create a new

[2021-02-08 13:09] wojtek-t commented on #98099
@bowei - any progress on this?

[2021-02-08 14:10] #92382 closed

[2021-02-08 14:41] alculquicondor commented on #98746
Should we have a KEP for this?

[2021-02-08 14:46] ahg-g commented on #98746
Yes, I was thinking we could target 1.22

[2021-02-08 14:57] ahg-g commented on #98746
I can put a KEP together in an hour, do we have time to review and merge before the deadline tomorrow? I don't think this needs PRR if we focus this cycle on the config API change to support existing plugins through `NodeResourcesFit`, wdyt?

[2021-02-08 14:59] ahg-g commented on #98746
this will help us deprecate the existing plugins in v1beta2 in 1.22 if all goes to plan and the community is happy with the new api.

[2021-02-08 15:09] thejoycekung commented on #96078
This issue is now a few months old and the test is no longer failing with this error message, so I'm going to go ahead and close it

/close

[2021-02-08 15:09] #96078 closed

[2021-02-08 15:10] alculquicondor commented on #95887
/priority backlog

[2021-02-08 15:10] thejoycekung commented on #98788
Thanks for verifying that @chendave and @adtac ! As this is no longer failing I'm going to go ahead and close this issue now

/close

[2021-02-08 15:13] thejoycekung commented on #95011
@eddiezane I remember you dove a lot into this flake. It doesn't really seem to be happening currently, are you okay with closing it?

[2021-02-08 15:18] thejoycekung commented on #98855
going to close this for dupe

/close

[2021-02-08 15:18] #98855 closed

[2021-02-08 15:23] alculquicondor commented on #98746
Fine with me to do a review last minute, but PRR is a hard requirement now.

[2021-02-08 15:25] ahg-g commented on #98746
ok, lets leave it to 1.22 then..

[2021-02-08 15:28] thejoycekung opened #98880 "[Failing Test] [sig-storage] CSI Volumes pd-csi driver tests failing"
**Which jobs are failing**:
`ci-kubernetes-e2e-gci-gce-serial`

**Which test(s) are failing**:

- `[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)(allowExpansion)] volume-expand Verify if offline PVC expansion works`
- `[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (block volmode)(allowExpansion)]

[2021-02-08 15:30] damemi commented on #98746
+1 this as a longer-term goal, I like exposing scheduler config options in the pod spec because it gives users better control over their app placement.

[2021-02-08 16:10] liggitt commented on #91459
/remove-sig cli
/sig network

/assign @thockin
this is sort of the inverse of the issue fixed in https://github.com/kubernetes/kubernetes/pull/95196

@Nuru

Using `kubectl replace` with a static manifest on an object that has spec fields populated by the API server (like clusterIP in service) or controller (like replicas in deployment) is an anti-pattern. `kubectl apply` is a better match for this

[2021-02-08 16:10] enriquecatala commented on #46191
Please <mark>reopen this issue</mark>. This is an example of what do i need to do to create a selector to a service created with the kubectl create command. This makes no sense for me :(

kubectl create service clusterip clusterip-nginx \
                                  --namespace=modulo3 \
                                  --tcp=8080:80 \
                                  --dry-run=client \

[2021-02-08 16:11] neolit123 commented on #98877
/sig auth

[2021-02-08 16:12] neolit123 commented on #98871
/sig node auth

[2021-02-08 16:16] kvaps opened #98881 "kubeadm: wrong cluster-info config generation when using external certificates"
**What happened**:

Hi, I use [kubefarm](https://github.com/kvaps/kubefarm) to spawn the Kubernetes clusters inside the Kubernetes.
Cert-manager is used to generate the certificates.
Certificates mounted into pod as standard secret volume.
This `admin.conf` has no section `client-certificate-data` but use `client-certificate` instead:

[code]

During the bootstrap this phase is executed by kubeadm

[2021-02-08 16:17] liggitt commented on #70679
jittering added in https://github.com/kubernetes/kubernetes/pull/96037

[2021-02-08 16:18] kvaps commented on #98881
/sig cluster-lifecycle
/assign neolit123

[2021-02-08 16:18] eddiezane commented on #95011
Sure thing! Looks like the retries helped.

/close

[2021-02-08 16:19] #95011 closed

[2021-02-08 16:47] thockin commented on #11237
Because this came up again - `kubectl replace` (HTTP "PUT") is probably the wrong verb to be using.  `kubectl apply` should be better in most ways (acknowledging the issues around changing ambiguous ports, which may require a read-modify-replace cycle)

[2021-02-08 16:48] thockin commented on #65272
Because this came up again - `kubectl replace` (HTTP "PUT") is probably the wrong verb to be using.  `kubectl apply` should be better in most ways (acknowledging the issues around changing ambiguous ports, which may require a read-modify-replace cycle)

[2021-02-08 16:50] thockin commented on #68369
"No value" is different from "the empty string" (which is a value).

TL;DR: don't set values for fields that you mean to say "no value".

[2021-02-08 16:53] thockin commented on #91459
This is not _impossible_ to fix in the PUT path (`kubectl replace`), but it basically turns PUT into PATCH. We have distinct PATCH operations for a reason, and that is almost certainly what you want in this case.   `kubectl apply` should "just work" as a replacement for `replace`.

Is there a reason why you can't use PATCH or apply?

@liggitt - while I continue to argue that `replace` is wrong her

[2021-02-08 16:59] liggitt commented on #91459
I really dislike it as well. "replace all spec content" is a bad thing to teach clients to do on resources that have fields set by different actors.

[2021-02-08 17:03] thockin commented on #91459
Agree, and while we might be able to quietly patch this SPECIFIC case, we can't do that in general.

@sjmiller609 - My inclination is to close this.  I know it's not what you want, but I do think you and most users will be better served by patch or apply in almost all cases (knowing that Service has an ambiguity around changing ports that overlap each other which is not easily fixed because it is

[2021-02-08 17:07] liggitt opened #98885 "kube-controller-manager dynamic clientbuilder does not invalidate token in response to 401 errors"
**What happened**:

kube-apiserver configuration changed in a way that invalidates a token the kube-controller-manager previously obtained using tokenrequest

**What you expected to happen**:

kube-controller-manager to detect repeated 401 responses and obtain a new token sooner than the normal expiration time of ~1 hour

/sig auth
/assign @liggitt @zshihang
/cc @deads2k
/milestone v1.21

Came out

[2021-02-08 17:08] liggitt commented on #98885
/triage accepted

[2021-02-08 17:08] liggitt commented on #98885
/priority important-soon

[2021-02-08 17:16] klarose commented on #68369
I think part of the problem here is that the API is changing the spec in the backend on the user, which is surprising. I think it's a fairly reasonable principle that you should have able to do apply a kubernetes resource without having to know whether it has been applied before.

I.e. if I run

[code]

the second apply should succeed as long as the first does, since I have not changed the specifi

[2021-02-08 17:21] BenTheElder commented on #98768
I dropped a link to this in #testing-ops. The test-infra repo issue tracker is also an appropriate route. If you see an ongoing issue that is not a flake go.k8s.io/oncall has escalation info.

[2021-02-08 17:26] ahmetb commented on #74178
/lifecycle frozen

[2021-02-08 17:26] #98881 closed

[2021-02-08 17:29] neolit123 commented on #98852
you can try showing this to the Calico maintainers:
https://github.com/projectcalico/calico

i doubt this is a bug in core kubernetes.

/close

[2021-02-08 17:29] #98852 closed

[2021-02-08 17:35] spiffxp commented on #97027
/priority important-soon

[2021-02-08 17:39] prydonius commented on #98656
cc @kow3ns @janetkuo

[2021-02-08 17:40] prydonius commented on #98656
/triage accepted

[2021-02-08 17:48] alculquicondor commented on #98656
/remove-sig scheduling

[2021-02-08 17:49] ahg-g commented on #98746
I opened https://github.com/kubernetes/enhancements/issues/2458

[2021-02-08 17:52] thockin commented on #68369
the backend on the user, which is surprising.

We have all sorts of controllers which modify spec.  For example -
autoscalers.

that it's a mistake for the API to accept "" as a valid value, or that it
should understand that "" has special meaning.

Yes.  Unfortunately, "" and "not specified" are conflated on create (an
artifact of history) and we can't really fix it.  To fix it we'd either
break

[2021-02-08 17:56] prydonius commented on #98457
cc @janetkuo

/triage accepted

[2021-02-08 17:56] klarose commented on #68369
Fair point. If this is still coming up, I wonder if a warning in kubectl tied to this specific resource type (if that's not too onerous design-wise) suggesting leaving it unset could help. Maybe it should also be noted in the documentation somehow.

Thanks for the detailed explanation either way.

[2021-02-08 18:01] prydonius commented on #98434
/triage accepted

[2021-02-08 18:08] maknihamdi opened #98886 "[kubectl] diff command can be faster if we use a pool of parallel visitors to prepare comparable LIVE and MERGED states"
**What would you like to be added**:
 kubectl diff have 2 steps:

1. prepare LIVE and MERGED states of desired objects
2. 'diff' every 2 versions of yaml

The second step is done by one os command ('diff' for default linux system), this phase is very fast with only one or many objects visited, we dont need to optimize it.
But the first step can be very slow if we have a lot of objects to visit, wi

[2021-02-08 18:09] maknihamdi commented on #98886
/sig CLI

[2021-02-08 18:13] zetaab commented on #97040
we are running 1.20.2 in production and when we restart one master we are seeing similar behaviour in apiserver.

https://gist.github.com/zetaab/18663bdc22206d4a0b5f47e9fc8dcf79

[2021-02-08 18:16] claudiubelu commented on #97027
In order to complete this, we are going to need these 2 trivial PRs:

- Retrigger image builder jobs for some images: https://github.com/kubernetes/kubernetes/pull/98831
- Small fix for Windows httpd images: https://github.com/kubernetes/kubernetes/pull/98887

[2021-02-08 18:30] CecileRobertMichon commented on #97375
@feiskyer @nilo19 can you please confirm the standalone VM scenario is supported? It's a critical use case for CAPZ (our control plane VMs in zone-enabled regions are _not_ placed in availability sets)

[2021-02-08 18:44] chrishenzie commented on #96241
/remove-lifecycle stale

[2021-02-08 18:51] alculquicondor commented on #98746
So that't the placeholder for the 1.22 work, right?

[2021-02-08 18:52] ahg-g commented on #98746
I will send a PR in 30min, if it gets reviewed by tomorrow, then good, if not then we will delay to 1.22.

[2021-02-08 18:54] mskrocki commented on #96018
Re-tested with:
[code]
still same results, failing service around 150k endpoints.
This is the iptables-save dump during the failures: https://drive.google.com/file/d/1vQrpeWeXKFP3T7TRwWLqCplN3t8xSKdu/view?usp=sharing

[2021-02-08 18:56] mskrocki commented on #96018
Just want to confirm, will kube-proxy's iptables version inside to image matter here?

[2021-02-08 19:02] celestehorgan commented on #90277
/unassign

We've done our end of things from WG naming and produced a recommendation. This is ready for action imho.

[2021-02-08 19:31] Huang-Wei commented on #98860
I don't follow this. They're in different zones, aren't they?

[code]

[2021-02-08 19:33] msau42 commented on #98880
This was introduced as part of #98805, but unfortunately the pull-kubernetes-e2e-gce-csi-serial job that would have caught this was optional, so the PR merged without waiting for it to complete.

[2021-02-08 19:34] arcivanov commented on #98860
Wrong pods:

[code]

[2021-02-08 19:35] arcivanov commented on #98860
@Huang-Wei The point being, the outcome is suboptimal for reasons unknown. What is worse, the outcome is worse than if no PTSC is used at all.

[2021-02-08 19:37] julianvmodesto commented on #98219
/close

Fixed by https://github.com/kubernetes/kubernetes/pull/98493

[2021-02-08 19:37] #98219 closed

[2021-02-08 19:46] msau42 commented on #69799
/remove-lifecycle rotten

[2021-02-08 20:08] ahg-g commented on #98746
I sent out https://github.com/kubernetes/enhancements/pull/2461

@Huang-Wei @alculquicondor @damemi  timing is too tight, so please feel free to push back... we may not get a PRR too, so...

[2021-02-08 21:04] alculquicondor opened #98893 "[Flaky] //pkg/kubelet TestSyncPodsDeletesWhenSourcesAreReadyPerQOS"
**Which jobs are flaking**:

pull-kubernetes-bazel-test

**Which test(s) are flaking**:

TestSyncPodsDeletesWhenSourcesAreReadyPerQOS

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&include-filter-by-regex=%2F%2Fpkg%2Fkubelet:go

**Reason for failure**:

[code]

**Anything else we need to know**:

This seems to be the most flaky test in the te

[2021-02-08 21:05] jkaniuk opened #98894 "MetricsGrabber tests failing when scheduler & controller-manager not visible"
MetricsGrabber tests failing when scheduler & controller-manager not visible.

In managed offerings, like GKE, scheduler and controller-manager are not visible causing BeforeSuite of MetricsGrabber to fail.
Test is failing then control plane pods can't be found (as on GKE):

[test/e2e/instrumentation/monitoring/metrics_grabber.go#50](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/in

[2021-02-08 21:05] wilsonehusin commented on #97027
seems like much of the work has been done by Claudiu or I do not have access to finish -- I'll unassign myself to keep this aligned with the state of things

/unassign

[2021-02-08 21:06] jkaniuk commented on #98894
/sig instrumentation

[2021-02-08 22:01] logicalhan commented on #81863
/reopen

[2021-02-08 22:05] dsmaugy opened #98895 "Scheduler does not find all feasible nodes when using nodeAffinity"
**What happened**:
I have a set of 8 nodes labeled `nodeKey=specialLabel`. When I deploy pods with the node affinity set to `nodeKey=specialLabel`, only a portion of my 8 nodes are marked as feasible by the scheduler. This number of feasible nodes will randomly fluctuate between the 8, most of the time landing somewhere in between 5-7 nodes.

**What you expected to happen**:
I expect all 8 of my n

[2021-02-08 22:05] dsmaugy commented on #98895
/sig scheduling

[2021-02-08 22:06] caleb15 commented on #88709
/remove-lifecycle stale

[2021-02-08 22:09] zvonkok commented on #60643
@gofrane @lee-b For OpenCL application one needs an OpenCL runtime installed by the vendor. The first step is to enable the GPU on your k8s cluster. See e.g. NVIDIAs documentation on how to do that.

A GPU Pod e.g. `nvidia/cuda:11.1-base-ubuntu18.04` will have the NVIDIA OpenCL runtime installed (`/usr/lib64/libnvidia-opencl.so.450.80.02`) in the container.

Here are some sample applications you c

[2021-02-08 22:11] liggitt commented on #97876
will likely be resolved in 1.21 as part of https://github.com/kubernetes/kubernetes/issues/98885

[2021-02-08 22:17] mateuszlitwin commented on #81523
/reopen
/remove-lifecycle rotten

[2021-02-08 23:27] Huang-Wei commented on #95887
@adtac Yes. I'm working on this, late this week I will send out a PR along with perf test result.

[2021-02-08 23:50] Huang-Wei opened #98898 "Ideas of optimizing scheduler perf testing framework"
Some ideas to optimizing scheduler perf testing framework:

### 1. Zero values in ThroughputCollector

Currently, we start to calculate the pods being scheduled right after pods' creation. This results in, esp. in a large-scale test (5000 nodes), the first N buckets are all zeros (means 0 pods scheduled so far). The N can be very large in some cases and results in the P50 (even P90) to be 0.

Solu

[2021-02-08 23:51] Huang-Wei commented on #98898
cc @adtac @ahg-g @alculquicondor @damemi

[2021-02-09 00:34] BenTheElder commented on #90764
So kubernetes applications should not expect to be able to access them with an external node address?

FWIW we also require upstream / public internet access in the DNS tests, so needing somewhat unrestricted networking to test the cluster behavior is not new.

[2021-02-09 00:39] xiaods commented on #98751
upgrade 1.19.7

[2021-02-09 00:45] zerkms commented on #89938
/remove-lifecycle stale

[2021-02-09 01:02] qiutongs commented on #94085
I was able to test the timeout behavior with **docker runtime**. And all behaviors seem expected. I will similar for containerd.

To simulate the timeout, my setup is:
- set the runtime-request-timeout to 1s
- put a "sleep(2s)" at the **top** of [CreateContainer of dockershim](https://github.com/kubernetes/kubernetes/blob/v1.17.8/pkg/kubelet/dockershim/docker_container.go#L88) (the CRI implementat

[2021-02-09 01:02] swetharepakula commented on #98099
I haven't had a chance to look into this yet. I will prioritize it this week.

[2021-02-09 01:31] ehashman commented on #97541
/close
duplicate

[2021-02-09 01:31] #97541 closed

[2021-02-09 02:36] answer1991 commented on #94622
/remove-lifecycle rotten

[2021-02-09 02:47] Huang-Wei commented on #98860
@arcivanov It seems the deployment doesn't have the label `service.istio.io/canonical-name: istio-ingressgateway`:

[code]

 Can you confirm by running: `k get po -l service.istio.io/canonical-name=istio-ingressgateway -n istio-system`?

[2021-02-09 03:34] pacoxu opened #98902 "manage pause image properly as a whole"
During I update the pause image to 3.4.1 and update the changelogs/tests/cri configurations, Benjamin pointed out that the approach to managing this image is not that proper.

I listed some action items for updating the image in https://github.com/kubernetes/kubernetes/pull/98205

**What would you like to be added**:

Add documentation or general process to update/promote/testing the pause image.

[2021-02-09 03:37] BenTheElder commented on #94532
1.15.8 should be landed now https://github.com/kubernetes/kubernetes/pull/98834

[2021-02-09 04:06] foriequal0 commented on #20473
I've made a controller(?) to solve this issue on my cluster: https://github.com/foriequal0/pod-graceful-drain
It intercepts the pod deletion/eviction process using admission webhook so they won't be deleted for some period.
It uses various methods to delay the pod deletion: block the admission, slow response, mutate the eviction request to dry-run.
Then the pod will be eventually terminated by the

[2021-02-09 04:24] foriequal0 commented on #96858
Hi @eddspencer! Would you check out the controller that I've made to solve this issue? https://github.com/foriequal0/pod-graceful-drain

[2021-02-09 05:44] pacoxu commented on #98856
/sig scheduling
/remove-sig api-machinery

I get the log from the artifacts. ResourceQuota check for best-effort pod failed for pod that is not scheduled due to below error.

[2021-02-09 06:31] pacoxu commented on #98856
/remove-sig scheduling
/sig api-machinery

[2021-02-09 07:01] BenTheElder opened #98908 "cleanup docker image building"
/kind cleanup
/assign

There's some cleanup we should do of the "docker wrapped binary" image building for the Kubernetes core images
- [x] ~we should properly initialize buildx + qemu _when cross building_  (this should allow us to do e.g. `RUN setcap ...` https://github.com/kubernetes/kubernetes/pull/96134)~ EDIT: we no longer need this, came up with a different solution
   - see also: https://g

[2021-02-09 07:02] snowplayfire commented on #98692
I find why list-watch delay,  because `r.ListAndWatch` always quit and execute again.

k8s.io/client-go/tools/cache/reflector.go

[code]
`r.ListAndWatch` always quit because of an error as follows:

[code]

BUT I don't know why the error occurs.

[2021-02-09 07:04] wzshiming commented on #98692
CRD is not defined?

[2021-02-09 07:16] snowplayfire commented on #98692
The controller framework is generated by kubebuilder v2.3.1.

The controller watch two crds:` combinator` and `rsm`, the difference between them is that `combinator` has subresource `status` but `rsm` hasn't.

Watch `combinator` has the error, but `rsm` hasn't.

[2021-02-09 07:20] wzshiming commented on #98692
That is sure that a certain proto package is not introduced.

[2021-02-09 07:28] pacoxu commented on #98856
BTW, if we want to
[code]

Increase the namespace syncs concurrent may help
[code]
🤔

[2021-02-09 07:38] answer1991 commented on #94532
yes, I have already post a pr to enable goaway feature test cases: https://github.com/kubernetes/kubernetes/pull/98809

[2021-02-09 07:39] wzshiming commented on #98692
/remove-kind bug
/kind support

[2021-02-09 07:45] BenTheElder commented on #98893
seen again in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98896/pull-kubernetes-bazel-test/1359018213857300480 https://github.com/kubernetes/kubernetes/pull/98896

[2021-02-09 07:47] BenTheElder commented on #98893
http://go.k8s.io/triage?pr=1&text=TestSyncPodsDeletesWhenSourcesAreReadyPerQOS is not showing a lot, but we cache test results, and any amount of flakiness is too much for a "unit" test ...

[2021-02-09 07:55] makkes commented on #90764
I'm not extremely familiar with the conformance tests. Are the DNS tests you are referring to about being able to access public services from inside of the cluster (egress)? Because our problem is that our default Kubernetes deployment doesn't allow ingress other than SSH and we haven't seen any problems with the DNS tests so far when checking our product for conformance.

That's why I like @pacox

[2021-02-09 08:20] erichorwath commented on #69364
This perfectly describes our (reproducible!) problem what we have with Kubernetes 1.18.12!

Our journey started with some nginx containers with low limit of 96Mi, they were going crazy:
![image](https://user-images.githubusercontent.com/70013998/107333928-61109180-6ab6-11eb-8e08-7cd4bbab5d99.png)
![image](https://user-images.githubusercontent.com/70013998/107333613-0414db80-6ab6-11eb-9c07-6b33afa8

[2021-02-09 08:32] wzshiming commented on #98486
k8s.io/kubernetes/pkg/controller/volume/scheduling 109s -> 24s #98912

[2021-02-09 08:40] pacoxu commented on #98893
failed again in #98547 😓

[2021-02-09 09:00] BenTheElder commented on #98893
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98912/pull-kubernetes-bazel-test/1359057099899801600 https://github.com/kubernetes/kubernetes/pull/98912 and here.

[2021-02-09 09:37] SAAMalusare opened #98914 "HPA Bug: HPA unnecessarily scales up pods during deployment (Rolling update)"
**What happened**:
HPA unnecessarily scales up pods during deployment (Rolling update max surge 25% and max unavail. 25%)
there was no load at all :(

**What you expected to happen**:
Its should only scale up when memory utilization reaches to the target specified in HPA spec

**Environment**:
- Kubernetes version: Server Version: v1.16.15-eks-ad4801
- Cloud provider: AWS-EKS

**Impact**:
Cost imp

[2021-02-09 09:46] SAAMalusare commented on #98914
/sig autoscaling

[2021-02-09 09:54] wzshiming commented on #98486
k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler  120s (timeout) -> 38s #98915

[2021-02-09 10:11] BenTheElder commented on #90764
Disabling the tests with a flag is not really an acceptable approach for conformance. The whole point of the conformance program is to validate the Kubernetes implementation against a standard set of tests across all vendors etc.

If we don't think access like this is a standard Kubernetes behavior applications should expect anymore, the tests should be removed from conformance and we can consider

[2021-02-09 10:22] makkes commented on #90764
After reading @BenTheElder's comment, I agree that the test should just be removed. However, I'd like to first understand the reasoning behind it being there in the first place. Maybe there's a good reason that such "secured cluster" aren't deemed compliant?!

[2021-02-09 10:24] aojea commented on #90764
so, the next step is to review the conformance definition for nodeport and modify the test accordingly

[2021-02-09 10:26] BenTheElder commented on #98815
/priority important-longterm

[2021-02-09 10:36] adisky commented on #98893
This has been added in this PR https://github.com/kubernetes/kubernetes/pull/98424/files

[2021-02-09 11:20] pkbhowmick commented on #98457
/assign @pkbhowmick

[2021-02-09 11:21] shahincsejnu commented on #98457
/assign @shahincsejnu

[2021-02-09 11:37] rtheis commented on #73698
I was also able to recreate the problem on a Kubernetes version 1.19 cluster.

[2021-02-09 11:52] perithompson commented on #98680
@daschott is this also the case with containerd?

[2021-02-09 12:00] perithompson commented on #98235
Thanks for this @jsturtevant I don't have any specific examples, but one thing I have noticed is memory allocation to pods seems to be missing from wavefront, but that could be their collector, I will test with prometheus and come back.  I think I've seen similar with prometheus previously but its been a while!

[2021-02-09 12:03] joakimr-axis commented on #72956
The sub-PRs #94456 #94459 #94463 are now merged and the size of changes that remain in #90405 significantly decreased.<br/>
#90442 and #95865 have both passed all tests in the CI pipeline and are waiting for someone to approve (or further comment anything that should be changed) them.

[2021-02-09 12:12] xsoheilalizadeh commented on #70044
I'm facing this issue, is there any progress on this?

[2021-02-09 12:15] adisky commented on #98893
Tried stress testing locally.
[code]
/triage accepted

[2021-02-09 12:41] Mohitp98 commented on #29769
Any update on MFA for Kubernetes authentication?

Is there any way to use google authenticator with Kubernetes?

[2021-02-09 12:51] wzshiming commented on #98893
https://github.com/kubernetes/kubernetes/pull/98919

It should be caused by using the same temporary folder.

[2021-02-09 13:13] Kanshiroron commented on #96614
@clarkmcc Thanks for the answer. I understand the underlined idea to not have kubelet over-flooded with probes when it starts/restarts.
But I think it's quite important to keep the same time difference between the two probes in the case something needs to be locked during the execution of the probe (which is our case).
-> Would it be possible to have the same random value applied to both probes th

[2021-02-09 13:30] Riaankl opened #98920 "Write Read, Replace and Patch ReplicaSetScale test +3 endpoints"
# Progress <code>[5/6]</code>

-   [X] APISnoop org-flow : [ReplicaSetScaleTest.org](https://github.com/apisnoop/ticket-writing/blob/AppsEndpoints/ReplicaSetScaleMockTest.org)
-   [X] test approval issue : [kubernetes/kubernetes#98920](https://github.com/kubernetes/kubernetes/issues/98920)
-   [x] test pr : kuberenetes/kubernetes[#98987](https://github.com/kubernetes/kubernetes/pull/98987)
-   [X]

[2021-02-09 13:31] Riaankl commented on #98920
/triage accepted

[2021-02-09 13:33] stlaz commented on #75563
@tallclair The audit tests seem to have been removed in f5490cb5c8ca4d1dece6107f298be23fa0b33f22, should this issue be closed? The description at https://github.com/kubernetes/kubernetes/pull/94050#issue-468852281 suggests that it's already done.

[2021-02-09 13:40] gavinfish commented on #95190
yeah, but we need update the conversion anyway. Since we decide to hold on v1beta2, I think it is time for reviewing.

[2021-02-09 13:48] odinuge commented on #70585
Thanks again @2rs2ts!

The avg. load doesn't matter for cfs tho., it is per period. So if your container is not limited by a cpuset, that sounds like the intended behavior. And, if the container is _not_ constraint by a cpuset, reducing the threads to the same as or smaller than the `quota/period` ratio will definitely help.

Ahh, I see. I do still think i understand why it happen tho. The raw inf

[2021-02-09 14:03] odinuge commented on #70585
We should probably split this into two separate issues: One with `cpuManagerPolicy: static` and one with `cpuManagerPolicy: none`...

Yes, and no I guess. The biggest "problem" here is the hierarchy, and I do kinda agree about that. That does however not explain the issues for the people running a single container in a pod where the container is limited by a cpuset, but I do think the majority of

[2021-02-09 14:39] soukron commented on #13136
Any feedback? More customers are asking to use NFS with Kerberos in the last days.

[2021-02-09 14:46] navidshaikh commented on #98698
I've some experience in writing command line utilities and I'd like to collaborate on this. Going to parse the references linked above.

[2021-02-09 15:53] neolit123 commented on #98902
/sig release

[2021-02-09 15:53] neolit123 commented on #98902
/sig node

[2021-02-09 15:59] LappleApple commented on #74375
@saschagrunert To take a look tomorrow

/assign @saschagrunert

[2021-02-09 16:07] dims commented on #98902
/cc

[2021-02-09 16:09] alenkacz commented on #98698
@navidshaikh feel free to sign up to this project via https://www.cncf.io/blog/2021/02/03/cncf-lfx-projects-are-open-for-spring-term-2021-apply-now-for-a-mentorship-opportunity/ if you're interested in this

[2021-02-09 16:10] LappleApple commented on #96692
/assign @saschagrunert

[2021-02-09 16:10] thejoycekung commented on #95528
@spiffxp Should we also add https://github.com/kubernetes/community/pull/5449 to this template once that's merged?

[2021-02-09 16:13] eddytruyen commented on #70585
I am not sure because in both situations cpu quota's are set.

@odinuge  Yes, but that is a work-around and not a solution of the cgroups hierachy problem, that is hopefully solved in cgroupsv2. But for CPU management policies, this seems a plausible approach

No, they were executed **with** the newest cfs patches, but I guess the above is a typo. Maybe I should clarify that the Cassandra experime

[2021-02-09 16:20] saschagrunert commented on #97264
Referenced this issue in an open Slack discussion since I see not much what we can do from a SIG Release perspective: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1612887586202400

[2021-02-09 16:20] saschagrunert commented on #95455
Referenced this issue in an open Slack discussion since I see not much what we can do from a SIG Release perspective: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1612887586202400

[2021-02-09 16:23] saschagrunert commented on #96692
@BenTheElder @wilsonehusin do we still want to do this? I read somewhere that the images built in Google Cloud are being mirrored from Docker Hub, right? This would mean that the API rate limiting will not hit us any more.

[2021-02-09 16:31] wilsonehusin commented on #96692
Womp yeah I think DockerHub rate limit is not really the big motivator at this point. However, I think I still want to consider using distroless / go-runner to build and produce conformance image to reduce the noise from CVE scanning done in downstream places. What do you think?

[2021-02-09 16:59] daschott commented on #98680
Yes, on Windows a single service can only support up to 64 backend pods / unique destination IPs

[2021-02-09 17:01] spiffxp commented on #95528
Yeah.  Two different guides and another in-depth set of instructions in this template will lead to stale content and confusion for contributors.  Ultimately there should be one guide for "how to file a flake issue".  If most of those instructions could fit in this template, this could be the guide.  If not, the issue template could link to the guide.

I don't know where a guide should ultimately l

[2021-02-09 17:02] arcivanov commented on #98860
Deployment doesn't, but pods do!

[code]

[2021-02-09 17:18] spiffxp commented on #74375
/remove-help
since @saschagrunert is assigned
/assign @spiffxp
I am willing to help answer questions etc.

I'm in favor of:
- reducing the timeout for this job
- documenting as policy that jobs approaching timeout should be pruned/optimized to stay under timeout vs. bumping timeout

As we refine merge blocking criteria (ref: https://github.com/kubernetes/test-infra/issues/18729#issuecomment-776098

[2021-02-09 17:19] spiffxp commented on #74375
/sig testing
we have metrics / tooling to help here

[2021-02-09 17:24] asankov-cb opened #98925 "List API does not return `kind` and `apiVersion` for each result"
The response for a resource differs when called via `Get` or `List` API. The difference is that when fetched via `List` the `kind` and `apiVersion` fields are missing for the elements of the response.

This might not be a big deal, because you know what resource you are trying to get, but it causes us some problems when using `Watch` APIs via `client-go`. We use the `watch.Interface` in a generic

[2021-02-09 17:31] BenTheElder commented on #49313
I mean since this was posted the upgrade tests have been largely shunned so I'm not sure anyone is interested in working on that.

For conformance tests this metadata exists now.

[2021-02-09 17:32] asankov-cb commented on #98925
/sig api-machinery

[2021-02-09 18:08] ehashman commented on #61669
/close

This was fixed in #72974

[2021-02-09 18:08] #61669 closed

[2021-02-09 18:23] jpbetz commented on #98647
/assign @DangerOnTheRanger

[2021-02-09 18:25] #98509 closed

[2021-02-09 18:27] yuanchen8911 commented on #97111
@ahg-g @Huang-Wei  Here is an update on per priority_class scheduling latency metric.

We have a prototype implementation. Per the discussion in #97983, we added a new metric with priority_class label instead of changing the existing one.   The implementation is straightforward: create a new` HistogramVec` metric and update  its value with the priority_class in schedulerOne.

1. Create a `Histogra

[2021-02-09 18:30] bashims commented on #60538
Having the same issue with fluxcd/fluxv2.

[2021-02-09 18:33] saschagrunert commented on #96209
I agree this does not seem to be SIG Release related, because we only maintain release notes and not the API documentation. I will therefore remove the sig/release label. I think SIG docs could support us with this kind of enhancement, right?

/sig docs

[2021-02-09 18:45] thejoycekung commented on #95528
I think having a doc in the contributor guide sounds like a good idea, even if it's just a list of links to other docs. Right now the CI Signal role handbook in sig-release houses some of this info, but I think having a central home with more docs would be more helpful, and it could help trim down the size of the handbook 😅

How does this sound:

1. Finish reviewing https://github.com/kubernetes/c

[2021-02-09 19:02] yuanchen8911 opened #98928 "Outofcpu error and reset nodeName for failed pods"
**What would you like to be added**:

`Outofcpu` error and pod scheduling failure has been observed in our systems. If I'm understanding it correctly, it happens after a pod is assigned/scheduled to a node and kubelet rejects the pod due to insufficient CPU capacity, i.e., `pod’s cpu-request+ used cpu > node’s cpu capacity`.  An example is that a pod specifies the node name in `spec.nodeName` and

[2021-02-09 19:04] spiffxp commented on #49313
FWIW, the way conformance works is not scalable enough for all tests in this project.  The release version is manually entered in comments, and humans manually verify during review.

I think there is good/relevant discussion going on in sig-arch right now about adding metadata to the API around feature flags, and how that could be plumbed through for client consumption.

/priority backlog
Given th

[2021-02-09 19:04] yuanchen8911 commented on #98928
/sig Scheduling
/sig Node

[2021-02-09 19:21] ravisantoshgudimetla opened #98929 "AKS Jobs failing continuously with container image missing"
**Which jobs are failing**:

**Which test(s) are failing**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1359176293953835008
**Since when has it been failing**:
02/19  20:21 PST
**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-windows-master-containerd
**Reason for failure**:
Image pull fai

[2021-02-09 19:22] ravisantoshgudimetla commented on #98929
/sig windows
cc @claudiubelu

[2021-02-09 19:29] neolit123 commented on #98925
duplicate of https://github.com/kubernetes/kubernetes/issues/3030
and related to https://github.com/kubernetes/kubernetes/issues/80609

there is a WIP PR for this here:
https://github.com/kubernetes/kubernetes/pull/80618

please comment on the linked issues.
thanks

/close

[2021-02-09 19:29] #98925 closed

[2021-02-09 20:36] Huang-Wei commented on #97111
Given the limited number of PriorityClasses, can we just reuse the existing `{E2e|Pod}SchedulingLatency` metric?

IMO this issue is a bit different with #97983 - the metric discussed in #97983 involves type change (Histogram->HistogramVec); while in this issue the existing `{E2e|Pod}SchedulingLatency` metrics are already `HistogramVec`, so I suppose we can reuse it by introducing a new label. @ahg

[2021-02-09 20:36] yuanchen8911 commented on #97208
It seems `priority_class` label is created on demand.  If you have 3 priority classes with values of 1000, 2000 and 3000 and only three priority_class labels will be created. So I don't think it would be an issue.

We have a prototype implementation. Per the discussion in #97983, we added a new metric with priority_class label instead of changing the existing one.   The implementation is straightf

[2021-02-09 20:47] spiffxp commented on #97027
/assign @claudiubelu
who has done a lot of the work for this

[2021-02-09 20:50] spiffxp commented on #94018
/close
Closing this in favor of https://github.com/kubernetes/kubernetes/issues/97027

[2021-02-09 20:50] #94018 closed

[2021-02-09 20:59] alculquicondor commented on #97111
It depends if your ingesting pipeline can handle a new label. So generally no.

I'm still not convinced that we can assume that all clusters have a limited amount of priority classes. It's possible that some clusters might use a wide range of priorities to do some kind of FIFO scheduling, even though that is discouraged.

Instead, I would favor an approach like #94866, which has an opt-in nature.

[2021-02-09 21:05] spiffxp commented on #81245
@oomichi is this still relevant? I don't have the bandwidth to shepherd this as help-wanted and am considering /remove-help

[2021-02-09 21:06] spiffxp commented on #81427
@oomichi is this still relevant? I don't have the bandwidth to shepherd this as help-wanted and am considering /remove-help

[2021-02-09 21:06] spiffxp commented on #81232
@oomichi is this still relevant? I don't have the bandwidth to shepherd this as help-wanted and am considering /remove-help

[2021-02-09 21:13] metost commented on #69676
/remove-lifecycle stale

[2021-02-09 21:14] spiffxp commented on #76206
@oomichi is this still relevant? I don't have the bandwidth to shepherd this as help-wanted and am considering /remove-help

[2021-02-09 21:23] jpbetz commented on #98856
/cc @yliaog
/triage accept

[2021-02-09 21:25] jpbetz commented on #98801
/cc @yliaog

[2021-02-09 21:25] jpbetz commented on #98801
/triage accept

[2021-02-09 21:26] jpbetz commented on #98697
/accept triage

[2021-02-09 21:28] jpbetz commented on #98784
/assign @jpbetz @jingyih @ptabor
/triage accepted

[2021-02-09 21:28] jpbetz commented on #98856
/triage accepted

[2021-02-09 21:28] jpbetz commented on #98833
/triage accepted

[2021-02-09 21:29] jpbetz commented on #98801
/triage accepted

[2021-02-09 21:29] jpbetz commented on #98697
/triage accepted

[2021-02-09 21:31] deads2k commented on #98833
The fake client just provides semantics close to, but not identical to, a real client. UUID and CreationTimestamp fall outside the current boundary of the mocks.  Given common usage in unit tests where exact equality is desired, it's not even a sure thing that most callers would like to have these fields filled in and those who would are likely to want conflicting things
1. dynamic
2. dynamic with

[2021-02-09 21:31] #98833 closed

[2021-02-09 21:34] rltvty commented on #76570
This is still an issue. We had a cronJob with an invalid image, that spooled up 100 containers in our cluster.

[2021-02-09 22:35] gjkim42 commented on #98893
I think my PR(https://github.com/kubernetes/kubernetes/pull/98923) addresses the issue.

[2021-02-09 22:42] cofyc commented on #92141
/remove-lifecycle rotted

[2021-02-09 22:59] BenTheElder commented on #98628
/sig node
/triage accepted

[2021-02-09 23:01] BenTheElder commented on #74965
there's been some progress in this area, but it's hard to say if it actually fixed things, can anyone update the current status?

[2021-02-09 23:05] wcarss commented on #36222
Something small that exacerbates this issue is that in python's standard lib module `json`, up to some version (I think python 3.4, see https://bugs.python.org/issue16333), pretty printing adds a trailing space after every comma by default, unless you supply a list of separators yourself that omit the spaces (e.g. like `json.dumps(data, True, indent=4, separators=(",",":")`)

So if you have old-is

[2021-02-09 23:09] BenTheElder commented on #72956
I think we should be landing these soon, well within 1.21.

Then we can follow up with making the verify-shellcheck script much simpler and faster (by not supporting known failures).
~~ https://github.com/kubernetes-sigs/kind/blob/master/hack/make-rules/verify/shellcheck.sh

Updated the checklist again, looking at outstanding PRs.

[2021-02-09 23:11] yliaog commented on #98801
I0205 12:09:55.111628   53891 request.go:1097] Response Body: {"kind":"APIResourceList","apiVersion":"v1","groupVersion":"external.metrics.k8s.io/v1beta1","resources":[]}

==========================================
it did the api discovery, custom metrics are served from aggregated api server / metrics server,  it is the metrics server that was slow to respond.

"kubectl api-resources" would also

[2021-02-09 23:20] BenTheElder commented on #72956
still may hit some test flakes, but I believe the remaining fixes are all LGTM+approve.

[2021-02-09 23:24] aojea commented on #98326
I can't see anything sig-network related :thinking:
there are a lot of NodeConformance things though ,

[2021-02-09 23:49] mateuszlitwin opened #98935 "imagefs usage is miscalculated when containerd uses 2 filesystems"
**What happened**:
Our `containerd` configuration has (source `containerd config dump`):
  - `root` (persistent data location) set to `/var/lib/containerd` (`/dev/sda1` filesystem)
  - `state` (runtime state information) set to `/scratch/containerd` (`/dev/nvme0n1` filesystem)

When disk pressure / ephemeral-storage usage is calculated, it is calculated only based on the filesystem of the `root` (

[2021-02-09 23:51] mateuszlitwin commented on #98935
/sig node

[2021-02-09 23:53] BenTheElder commented on #98893
https://github.com/kubernetes/kubernetes/pull/90405 https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/90405/pull-kubernetes-bazel-test/1359278391253012480 (continuing to show evidence that this is quite flaky)

thanks @gjkim42

[2021-02-10 00:01] Riaankl opened #98936 "Write Read, Replace and Patch DeploymentScale test +3 endpoints"
# Progress <code>[5/6]</code>

-   [X] APISnoop org-flow : [DeploymentScaleTest.org](https://raw.githubusercontent.com/apisnoop/ticket-writing/AppsEndpoints/DeploymentScaleMockTest.org)
-   [X] test approval issue : [kubernetes/kubernetes#98936](https://github.com/kubernetes/kubernetes/issues/98936)
-   [x] test pr : [kuberenetes/kubernetes#98988](https://github.com/kubernetes/kubernetes/pull/9898

[2021-02-10 00:01] Riaankl commented on #98936
/triage accepted

[2021-02-10 00:14] gjkim42 opened #98937 "kubelet: (*FakeRuntime).AssertXXX does nothing but compare"
**What happened**:

`k8s.io/kubernetes/pkg/kubelet/container/testing.(*FakeRuntime).AssertXXX` does nothing but compare.

**What you expected to happen**:

`fakeruntime.AssertKilledPods([]{"live-pod"})` should fail the test but it doesn't

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl vers

[2021-02-10 00:15] gjkim42 commented on #98937
/assign

[2021-02-10 00:15] gjkim42 commented on #98937
/sig node

[2021-02-10 00:18] ehashman commented on #98326
/assign
for visibility - lots of these are node

/sig node

[2021-02-10 00:20] Riaankl commented on #98920
Presented in Conformance meeting of 9 Feb 2021 and it was agreed that that method see to achieve the purpose and a PR can be created. A similar approach would be taken for the DepoymentScale endpoints.

[2021-02-10 00:23] Riaankl commented on #98920
Issue [#98920](https://github.com/kubernetes/kubernetes/issues/98920) was presented in the Conformance meeting of 9 Feb 2021 and it was agreed that that method see to achieve the purpose and a PR can be created. A similar approach would be taken for the DepoymentScale endpoints, and this issue was created for that purpose.

[2021-02-10 00:23] Riaankl commented on #98936
Issue [#98920](https://github.com/kubernetes/kubernetes/issues/98920) was presented in the Conformance meeting of 9 Feb 2021 and it was agreed that that method see to achieve the purpose and a PR can be created. A similar approach would be taken for the DepoymentScale endpoints, and this issue was created for that purpose.

[2021-02-10 00:25] ameyaagashe commented on #24855
closing issue for a buggy switch is fine but do we have an alternative approach? We need for an on-prem to Managed Kubernetes Service Migration. --export or anything better would have been handy...

[2021-02-10 01:08] justaugustus commented on #98908
(Moved to the Release Engineering board, instead of SIG Release)
/area release-eng

[2021-02-10 01:13] BenTheElder opened #98941 "Data race in vsphere test with klog"
**What happened**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/90405/pull-kubernetes-bazel-test/1359302764185784320

**What you expected to happen**:

No data races

**How to reproduce it (as minimally and precisely as possible)**:

🤷‍♂️

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:

[2021-02-10 01:22] dims commented on #98941
/assign

[2021-02-10 01:34] daniel-garcia commented on #82942
/remove-lifecycle stale.

[2021-02-10 03:11] ahg-g commented on #97111
Existing metrics don't work for this use case. OP wants metrics for pods that aren't scheduled yet. The source of truth for this is the API server. We have two options presented in https://github.com/kubernetes/kubernetes/issues/97111#issuecomment-742846015. I wouldn't mind going for option 1, I think the metric is useful to have it exported by a core component.

[2021-02-10 03:31] ahg-g commented on #97208
I agree that typically a cluster includes few classes, but you can never be too cautious when thinking about control plane reliability and resilience.

Here is one suggestion to avoid high cardinality in clusters with thousands of priority classes: in component config we allow defining the set of priorities that the metrics will be broken down into. We set a reasonable limit, like 20. We add those

[2021-02-10 03:32] ahg-g commented on #97983
Thanks @logicalhan, then I guess we can go with `preemption_victims_total` as Wei suggested and seems to be the best practice for unit-less metrics.

However, we need to make sure we protect the scheduler against clusters with many priorities which will result in high cardinality metrics. I proposed a solution in https://github.com/kubernetes/kubernetes/issues/97208#issuecomment-776414121

[2021-02-10 03:35] dims commented on #98941
for the record as we tend to lose the logs in the gcs bucket

[code]

[2021-02-10 03:47] #94690 closed

[2021-02-10 03:48] #95500 closed

[2021-02-10 03:51] AlphaWong opened #98945 "Can we remove this line at rbac.go"
Hi engineers,

I have a question about the usage of this line at `isSimpleResourceRule` function
https://github.com/kubernetes/kubernetes/blob/2289b02ea30e473dbc89c8160a7a6bb75922a0e7/staging/src/k8s.io/kubectl/pkg/util/rbac/rbac.go#L85

It does not cover any test case in `policy_compact_test.go`
https://github.com/kubernetes/kubernetes/blob/2289b02ea30e473dbc89c8160a7a6bb75922a0e7/pkg/registry/rb

[2021-02-10 04:30] Huang-Wei commented on #98860
Besides the 3 Pods created by the "istio-ingressgateway" deployment, can you confirm are there any other Pods in the same namespace with label "service.istio.io/canonical-name=istio-ingressgateway"?

[code]

[2021-02-10 04:31] logicalhan commented on #97208
Two ideas:

You can bound it in the implementation directly while setting values. Instead of setting the pod priority directly, you can parse it and store 10+ (for instance) for all priorities 10 and up.

Alternatively, you can use a histogram and use pod priorities buckets.

[2021-02-10 04:39] arcivanov commented on #98860
I can confirm there aren't. I know for sure because I actually had to fix it by hand for istio/istio#30717

[2021-02-10 04:44] Huang-Wei commented on #98860
Thanks for confirming. It's the first time we see this kind of issue. I will create a cluster to try to reproduce this. Meanwhile, feel free to provide other hints on reproducing this issue.

[2021-02-10 05:15] adisky commented on #98326
/assign
(for sig-node)

[2021-02-10 05:21] kishorj commented on #65613
/close

[2021-02-10 05:21] #65613 closed

[2021-02-10 05:26] ameyaagashe commented on #24873
But unfortunately, it does not work for all resources,  please check deployments, replica sets and ingress

[2021-02-10 06:17] BenTheElder opened #98947 "unit tests leaving behind xtables.lock"
**What happened**:

files like:
[code]

are being created, I think from the "unit" tests.

**What you expected to happen**:

running tests should not leave files in tree, especially not tracked by git!

**How to reproduce it (as minimally and precisely as possible)**:

`make test`? I think?

**Anything else we need to know?**:

spotted in a PR commit https://github.com/kubernetes/kubernetes/pull/9

[2021-02-10 06:27] BenTheElder commented on #98947
I'm also finding an `example-tls` file while working on this locally???
/triage accepted

[2021-02-10 06:54] adtac commented on #98898
I agree that the p50=0 can makes the test useless, but one can also argue that the current behaviour is also "natural". That is, if scheduler_perf discards zero samples and reports a non-zero p50, when I try to create X pods in prod, I may be surprised by a much lower throughputthan whatever scheduler_perf reported (because that initial latency is still going to be present) .

I don't know what th

[2021-02-10 07:19] wojtek-t commented on #98326
I've just sent out #98951 for autoscaling tests.

It seems that most of the remaining tests are node-related. We should try to fix most of these to see if there is anything that is hidden between those.

[2021-02-10 07:21] BenTheElder commented on #98768
filed https://github.com/kubernetes/test-infra/issues/20816 where it may get more attention and CCing oncall. seeing this more in other jobs, it's not specific to verify.

[2021-02-10 07:39] BenTheElder commented on #98947
I suspect https://github.com/kubernetes/kubernetes/pull/94553, which introduced these lockfile paths and removed deferred removal

[2021-02-10 07:39] gjkim42 opened #98953 "kubelet: Race when KillPod followed by IsPodPendingTermination"
**What happened**:

Right after calling `KillPod`, `IsPodPendingTerminationByUID` returns false even the pod is not killed yet.

**What you expected to happen**:

In kubelet, after `KillPod` is complete, the pod should be pending termination or be killed.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Related to https://github.com/kubernete

[2021-02-10 07:39] gjkim42 commented on #98953
/sig node
/assign

[2021-02-10 07:46] BenTheElder commented on #98947
https://github.com/kubernetes/kubernetes/pull/98954 is a simple approach to mitigate, but it doesn't solve cluttering the source tree with leaked files. I'm not sure we actually want to take that approach.

[2021-02-10 07:47] #97565 closed

[2021-02-10 08:06] saschagrunert commented on #95455
@vip8439 does this still fail with the latest packages, too?

[2021-02-10 08:06] engow commented on #97550
it works, nice!!!

[2021-02-10 08:06] saschagrunert commented on #97264
As discussed with the build admin, there is not much what we can do from our side since we do not host the packages directly. Can you please reopen if you encounter the issue again?

/close

[2021-02-10 08:07] #97264 closed

[2021-02-10 08:10] s-ito-ts commented on #97355
I created #98958 for adding unit test of /pkg/kubeapiserver/admission.

[2021-02-10 08:11] saschagrunert commented on #96692
Yeah I think this seems a valuable addition. Are you planning to work on this issue? :)

[2021-02-10 08:13] wilsonehusin commented on #96692
I will, though probably won't start until next week. If you have ideas and would like to start early feel free to go for it! Otherwise, I'd be happy to work on and deliver this.

[2021-02-10 08:14] vsimon commented on #71869
/remove-lifecycle stale

[2021-02-10 08:17] BenTheElder opened #98959 "TestPidListerFailure test fails on cgroupsv2"
**What happened**:

[code]

**What you expected to happen**: The test should pass

**How to reproduce it (as minimally and precisely as possible)**:

I think the key here is being on a linux host with cgroupsv2 enabled.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):

[2021-02-10 08:17] BenTheElder commented on #98959
/assign

[2021-02-10 08:37] saschagrunert commented on #96692
Thank you Wilson! Feel free to ping again if you need any assistance.

/assign @wilsonehusin

[2021-02-10 08:37] saschagrunert commented on #96692
/triage accepted

[2021-02-10 08:55] ialidzhikov commented on #88613
/remove-lifecycle stale

[2021-02-10 08:55] BenTheElder commented on #98947
https://github.com/kubernetes/kubernetes/pull/98961

[2021-02-10 11:44] odinuge commented on #70585
Yeah, kinda. When it comes to container level the docs are a bit ambiguous about this, ref. `CFS quota is not used to bound the CPU usage of these containers as their usage is bound by the scheduling domain itself`.

The pod level limit is "still required" since that is a guarantee we gives to the users in a way. But yeah, there should be a way to opt out. The CPU shares would essentially do nothi

[2021-02-10 11:51] saschagrunert commented on #74375
@spiffxp yeah I agree a policy document may be a good start here.

I could imagine that such a document defines:
- when a test has to be declared as `[Slow]`
- what is the maximum upper boundary of a test suite
- what to do if such a boundary is hit with a certain threshold

Where would such a policy live?

[2021-02-10 12:47] eddytruyen commented on #70585
@odinuge I assume there is a bug in the kernel or either the cpu usage of Kubernetes code at the pod level is too high

[2021-02-10 12:57] odinuge commented on #70585
Interesting! Kubernetes should not run processes in those cgroups by default, so it shouldn't be the problem. Health Checks might however use some quota though. Exec probes run inside the container, and http/rpc probes "consume" resources in the way that the container has to answer. I don't think other stuff should interact with that cgroup...

[2021-02-10 12:58] strmdvr commented on #65106
/reopen

[2021-02-10 12:59] curtisr7 opened #98963 "Unable to modify deployment due to error: map: map[] does not contain declared merge key: name"
#### What happened:

I messed up when I creating a deployment and `spec.template.spec.imagePullSecrets` that was missing a value

[code]

Once I realized my mistake I tried to update the deployment via `kubectl edit` and received the following error:
[code]

Slightly different error if I `kubectl apply -f` an updated deployment

[code]

I found that I can cleanup this error by creating patch and a

[2021-02-10 14:52] alculquicondor commented on #98898
Re 1:
The existing problem is that we are recording low throughput when the system just doesn't have that many Pods yet. I agree that discarding 0s is fine.

I don't think that would happen. We will still see a bit of low throughput for the first recordings where there are only a handful of Pods present. But we can re-evaluate later. And, in general, we want to report how the system behaves when i

[2021-02-10 14:58] #93842 closed

[2021-02-10 15:02] liggitt opened #98966 "addon-manager uses obsolete leader election mechanism"
multiple add-on manager instances run at once in 1.20 even when supposedly using leader election

the add-on manager piggy-backs on the kube-controller-manager leader election:

https://github.com/kubernetes/kubernetes/blob/217a1c48531438ac2f4a202e828092a8ce19f4e6/cluster/addons/addon-manager/kube-addons.sh#L266-L287

kube-controller-manager was not aware of this, and over the last several release

[2021-02-10 15:16] scientiacoder commented on #23726
This answer works for me cause the machine needs to know where the master(admin) is, not localhost

[2021-02-10 15:31] adisky commented on #98326
/unassign @adisky

[2021-02-10 15:32] adisky commented on #98326
/unassign

[2021-02-10 15:55] liggitt commented on #98945
that check ensures that any other attributes added to that struct in the future don't silently break the isSimpleResourceRule and CompactRules functions

/close

[2021-02-10 15:55] #98945 closed

[2021-02-10 16:04] wilsonehusin commented on #96692
one thing I need a little help with is to find a reference for using go-runner image that's used everywhere -- the one that I've found is inside conformance directory which seems to be different from what everyone else is using

[2021-02-10 16:06] saschagrunert commented on #96692
We maintain a go-runner in k/release: https://github.com/kubernetes/release/tree/d19bdf5169a8fd9e4ab74fd86b728fcac4bccf77/images/build/go-runner

[2021-02-10 17:07] dashpole commented on #98894
/triage accepted

[2021-02-10 17:24] alculquicondor opened #98970 "Flaky: InitContainer [NodeConformance] should not start app containers if init containers fail on a RestartAlways pod"
#### Which jobs are flaking:

pull-kubernetes-e2e-kind

#### Which test(s) are flaking:

 InitContainer [NodeConformance] should not start app containers if init containers fail on a RestartAlways pod

#### Testgrid link:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&include-filter-by-regex=InitContainer

#### Reason for failure:

[code]

/sig node

[2021-02-10 17:25] alculquicondor commented on #98970
/area conformance

[2021-02-10 17:33] rikatz commented on #98143
@pandaamanda as you're dealing with this PR, I'll left you as assignee and follow the PR review :)

/unassign

[2021-02-10 17:38] dashpole commented on #81863
/triage accepted

[2021-02-10 17:56] yuanchen8911 commented on #97208
Yes, it makes sense to limit the cardinality.  As suggested above, only a predefined set of priority-classes will be monitored with priority_class label or we can simply limit the maximum number of priority_class labels. The latter would be more flexible.

BTW, not a Prometheus expert. How to get the number of existing labels/values of a Prometheus vector metric?  Thanks.

[2021-02-10 18:11] ahg-g commented on #97208
doing dynamically is more flexible, but will lead to nondeterministic behavior in clusters with large number of priorities, the set of priorities tracked will depend on which pods get scheduled first.

[2021-02-10 18:19] yuanchen8911 commented on #97208
agree! @xujyan also pointed out "users can dynamically create and delete PriorityClass and metrics should vary moment by moment."  It would be harder to handle it unless the scheduler explicitly tracks and processes these events.

[2021-02-10 18:20] yuanchen8911 commented on #97208
So I think we agree using a pre-defined set of priority classes makes more sense?

[2021-02-10 18:22] ahg-g commented on #97208
I am ok with that, @alculquicondor @Huang-Wei wdyt?

[2021-02-10 18:26] joakimr-axis commented on #72956
Joy to the world, all fixes for cluster/gce/util.sh (#90405) are finally in place!

[2021-02-10 18:28] khatrig commented on #94181
/remove-lifecycle rotten.

[2021-02-10 18:29] msau42 commented on #84878
/reopen
/lifecycle frozen

[2021-02-10 18:55] jkaniuk opened #98971 "Various Prow jobs failing due to: Could not resolve host: github.com"
#### Which jobs are flaking:
various

#### Which test(s) are flaking:
various

#### Testgrid link:
examples:
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100
- https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

#### Reason for failure:
https://prow.

[2021-02-10 18:56] alculquicondor commented on #97208
agree, limiting to around 20

[2021-02-10 18:56] jkaniuk commented on #98971
Another issue was already open against test-infra: https://github.com/kubernetes/test-infra/issues/20716

[2021-02-10 18:56] #98971 closed

[2021-02-10 19:24] eddytruyen commented on #70585
Starting up a container that mimics a pod as much as possible but without the cgroup parent parameter could easily be scripted. I can give it a go at such script that also grabs cpu.stats. from the cgroups. The delopers who reported to still have problems could run this script and run their (proprietary) workload to see differences in throttling and performance metrics between the container and th

[2021-02-10 20:15] Huang-Wei commented on #97208
LGTM, and make some sane defaults (like 0 and system-level priorities class values).

Are we going to expose this option in KubeSchedulerConfiguration as a new field? (I don't think a pluginArgs would fit)

[2021-02-10 20:16] ahg-g commented on #97208
yeah, it would be a global CC parameter.

[2021-02-10 20:17] logicalhan commented on #97208
Is this a metric that people will (one day) possibly want to create an SLO against?

[2021-02-10 20:19] ahg-g commented on #97208
yes, possibly.

[2021-02-10 20:20] logicalhan commented on #97208
We should be extremely diligent about the labels and label-values then.. is this a completely new metric?

[2021-02-10 20:21] ahg-g commented on #97208
yes, we will create a new metric and deprecate the old ones.

[2021-02-10 21:07] yuanchen8911 commented on #97208
Thanks, folks! I'll submit a PR.

[2021-02-10 21:21] ahg-g commented on #97208
@logicalhan pointed me to https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/2305-metrics-cardinality-enforcement

I guess this KEP makes the implementation of what we are proposing easier, but it is achieving the same semantics.

[2021-02-10 21:30] coffeepac commented on #79432
These images are seeing 40-80k 'actions' (as listed by quay, I'm not sure what that means) a day, we probably shouldn't delete them.

[2021-02-10 21:53] yuanchen8911 commented on #97208
Thanks, @logicalhan , @ahg-g. With the cardinality support, we can simply add a list of priority classes to the allowlist!

[2021-02-10 22:05] Huang-Wei commented on #98898
Another angle: the performance framework is essentially an integration test, and hence can be easily setup and run on a single machine. The result may vary _a lot_ (esp. if we eliminate the QPS limit) from a Mac developer machine to a powerful Linux server. So I'm using the performance framework more as a handy tool to compare the delta performance results; instead of treating the result as univer

[2021-02-10 22:07] lygasch commented on #91459
This really seems related to bug in Helm, as far as what I have read, and some recent (Jan2021) posts suggest that was fixed. Have not tested this out myself. Agree that adhering to expected PUT/PATCH api behavior would be best. Thanks for the followup!

[2021-02-10 22:12] Huang-Wei commented on #97208
+1. sig-instrumentation has spot it to be a common requirement :)

@logicalhan Is this KEP already implemented? If so, could you share some pointers showcasing how it's used? so that we can use this approach instead of "hack"ing the implementation using scheduler configuration parameters.

[2021-02-10 22:16] neolit123 commented on #98941
/sig instrumentation

[2021-02-10 22:22] logicalhan commented on #97208
/cc @YoyinZyc

It's not implemented yet, we're building out the alpha implementation for 1.21 which will actually only allow us to configure this via CLI flags. Tentatively, we're planning on supporting loading this from a file (i.e. component-config) for the beta release.

This use-case is actually not exactly what we had in mind when we decided on this feature, which was primarily motivated by r

[2021-02-10 22:23] logicalhan commented on #97208
/sig instrumentation

[2021-02-10 22:25] neolit123 commented on #98963
/sig api-machinery

[2021-02-10 22:28] yuanchen8911 commented on #97208
"_which was primarily motivated by reliability issues caused by unbounded metric dimensions_.",  I think that's exactly what we are concerned and trying to solve. We want to add priority_class label to a few scheduling metrics, but we want to avoid generating too many labels when a user (intentionally or by mistake) creates a large number of priority classes. Dynamism is another issue. `Allowlist

[2021-02-10 22:28] ehashman opened #98975 "Prevent regressions after structured logging migration"
For Structured Logging Migration: https://github.com/kubernetes/enhancements/issues/1602

[Beta graduation criteria:](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging#beta)
- Directories can be marked as migrated, preventing regression via verify script in hack.

#### What would you like to be added:

A tool that takes an input file (similar t

[2021-02-10 22:29] ehashman commented on #98975
/triage accepted
(yes I know that's rude but I'm the chair of these here parts :smile:)

[2021-02-10 22:35] yuanchen8911 commented on #97208
Shall we just go ahead and implement a simple allowList for priorityclass in scheduler and update it when the carnality enforcement feature is available later? @ahg-g  @Huang-Wei ?

[2021-02-10 22:35] alculquicondor commented on #82827
/sig apps

Now that the new events API is v1, any other considerations before we can do the migration?

[2021-02-10 22:46] logicalhan commented on #97208
We have another feature in progress which can also help with that (https://github.com/kubernetes/kubernetes/issues/98381) but it basically shunts off the entire metric.

I'd say, if the number of priorities is practically bounded, then I would forgo hand-grouping them and wait for the instrumentation feature since it means less work on your side, since the off-switch allows you to address reliabil

[2021-02-10 22:51] alculquicondor commented on #98893
@rphillips it seems that this is still failing: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98817/pull-kubernetes-bazel-test/1359610999572795392

The error looks different than original post.

[2021-02-10 22:54] ehashman opened #98976 "Kubelet migration to structured logs"
For Structured Logging Migration: https://github.com/kubernetes/enhancements/issues/1602

[Beta graduation criteria:](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1602-structured-logging#beta)
- Structured logging interface design is verify by migrating one whole component (Kubelet) to structured logging. All other component migrations will be best effort.

### W

[2021-02-10 22:58] ehashman commented on #98976
/triage accepted

[2021-02-10 23:07] Huang-Wei commented on #97208
@logicalhan 's suggestion sounds promising to me, so we don't need to add/remove particular args back and forth.

[2021-02-10 23:13] gjkim42 commented on #98893
Maybe related to https://github.com/kubernetes/kubernetes/pull/98956#issuecomment-777098717.

[2021-02-10 23:36] #95190 closed

[2021-02-10 23:50] ehashman commented on #68522
/remove-lifecycle stale
/lifecycle frozen

[2021-02-11 00:55] yuanchen8911 commented on #97208
Sounds good, please keep us updated,  @logicalhan Thanks!

[2021-02-11 00:56] #98929 closed

[2021-02-11 00:56] #98941 closed

[2021-02-11 02:12] swetharepakula commented on #98099
Digging through the logs I believe this was a bug in the test code that was fixed by #98405.

In the test, the service port changes around 12:33. However due to the bug, the test continues to use the old service port as seen in the test output:
[code]
The port should be 81.
I believe the following sequence occurs from this point:
1) The reachability test fails in the beginning because the service

[2021-02-11 02:33] beekhof opened #98981 "Improved watchdog support in kubelet"
#### What would you like to be added:

The detection and recovery of kubelet processes that hang or enter hot loops as implemented in PR https://github.com/kubernetes/kubernetes/pull/94210

Systemd supports the detection and recovery of hung processes as well as terminated ones, but requires co-operation of the daemon under its control.

Currently kubelet only facilitates systemd to detect and rec

[2021-02-11 02:34] beekhof commented on #98981
/sig Node

[2021-02-11 02:58] dims commented on #74965
i have some more changes in https://github.com/kubernetes/kubernetes/pull/97743 that need to get in @BenTheElder . the kube-cross image is ready, i just have to exercise it properly (which is in that PR). and that one is waiting for golang 1.16

[2021-02-11 03:48] jeremywadsack commented on #63214
Still would be a useful update.

/remove-lifecycle stale

On Wed, Feb 10, 2021 at 7:10 PM fejta-bot <notifications@github.com> wrote:

--
Jeremy Wadsack

[2021-02-11 04:52] andrecp commented on #62388
Just in case someone else ends up in this issue... the containerd config toml has two versions  -- 1 and 2

If you're using version 1 it should look something like

[code]

Note that it uses `cri` instead of the `plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc` namespace..

Then you need to `systemctl restart containerd` or the equivalent... hopefully this will save a couple of hours

[2021-02-11 06:35] joakimr-axis commented on #72956
And **BAM** now #90442 is also merged, leaving `hack/.shellcheck_failures` an empty file. 👍

[2021-02-11 07:36] #91236 closed

[2021-02-11 08:12] navidshaikh commented on #98326
Sent https://github.com/kubernetes/kubernetes/pull/98983 to address rest of the tests.

Echoing the review comment from #98957

I agree, we can remove prefix `[k8s.io]` once all the tests are tagged. @spiffxp @dims wdyt ? I'll raise a follow up to clean the prefix.

[2021-02-11 08:17] wojtek-t commented on #98099
OK - the test was quite flaky in the past but indeed it didn't flake for the last 3 weeks (neither this nor TCP one).

I'm fine with closing this one - we can open a new one if this happens again.

@swetharepakula - thanks for debugging.

@aojea - it seems that the splitting of the test actually made things waay better. Which is great.

[2021-02-11 08:17] #98099 closed

[2021-02-11 09:09] mudassirazvi commented on #49931
No update yet?

[2021-02-11 09:27] ptabor opened #98989 "etcd migrator: versions.txt getting corrupted in case of lack of disk space"
#### What happened:

1. etcd/version.txt file was found 'empty'. It blocked running etcd in a fail loop with

[code]

Before this issue: Data disk (etcd) run out of space due to [tmp files leak in etcd](https://docs.google.com/document/d/1O2o1IApHWmSioXG3fez4eVlUHOrXICYGNVIzaqNS0IQ/edit?resourcekey=0-e6Iywgdkol0uiVBAaV1oww#bookmark=id.mhhwhipsg70u).

#### What you expected to happen:

1. versions.

[2021-02-11 09:46] wojtek-t commented on #98989
/sig api-machinery

[2021-02-11 09:48] #98947 closed

[2021-02-11 10:02] pablo-ruth opened #98992 "Add webhook requests signing"
#### What would you like to be added:

Add an option to ValidatingWebhookConfiguration/MutatingAdmissionWebhook to enable api-server requests signing:

[code]

#### Why is this needed:

We need to add api-server servers authentication to secure a mutating webhook but we are on a semi-managed cluster where we don't have access to master nodes. The doc to enable authentication (https://kubernetes.io

[2021-02-11 10:04] pablo-ruth commented on #98992
/sig auth

[2021-02-11 10:16] #94411 closed

[2021-02-11 10:33] Nowaker commented on #82440
Reping after half a year:

[2021-02-11 10:38] perithompson commented on #98680
I thought this probably should be called out in the [docs](https://github.com/kubernetes/website/pull/26465)

[2021-02-11 10:54] kieranjbrown opened #98994 "Allow deletion of a collection of services in the REST API"
#### What would you like to be added:
The Kubernetes REST API offers some great functionality for managing the resources in a given cluster, and I use it to automatically delete resources that are no longer needed. However, whilst most of the major resources offer a `deletecollection` option (e.g. deployments, ingress, configmaps), services don't. As verified by executing `kubectl api-resources -o

[2021-02-11 10:55] kieranjbrown commented on #98994
/sig api-machinery

[2021-02-11 11:12] adisky commented on #98975
@ehashman working on it with @navidshaikh
/assign

[2021-02-11 11:30] vijayshanker3149290 opened #98995 "How to upgrade the existing Custom Ingress Controller go code from v1.14.12 to v1.19.2?"
I am working on a POC and I have successfully completed a few POCs related to the Kubernetes version upgrade (Existing v1.14.12 to v1.18.x, Existing v1.14.12 to v1.19.2). During the upgrade process, I faced some configuration issues which I resolved. In the existing code, there is a custom Ingress Controller code in Go Language by using the Kubernetes go package **v1beta1 "k8s.io/api/extensions/v1

[2021-02-11 12:14] soltysh commented on #49343
@jjulien how about adding something along the lines of https://github.com/kubernetes/kubernetes/blob/7a94debba5f8c21bbf8b42b2a7f1d5e974ddb837/staging/src/k8s.io/client-go/tools/clientcmd/client_config.go#L197 for the in-cluster config case. That seems like a reasonable thing to try. After we proof this is working we could try to combine this mechanism into something smarter. I have a couple todos

[2021-02-11 13:02] gavinfish opened #98998 "Scheduler: evaluate wether worth to change internal `Plugins` to values"
A follow-up issue of #95190, we may need change the internal `Plugins` to values as well. More discussion at https://github.com/kubernetes/kubernetes/pull/98663#issuecomment-777017849.

https://github.com/kubernetes/kubernetes/blob/a1e310b20064b6f077c7820cab0cec6af9566631/pkg/scheduler/apis/config/types.go#L123

/kind cleanup
/sig scheduling
/priority backlog

[2021-02-11 13:03] gavinfish commented on #98998
/remove-kind feature

[2021-02-11 13:19] #94505 closed

[2021-02-11 14:18] alculquicondor commented on #97208
#98381 does not seem very useful when managing a fleet, where you don't know which clusters will be problematic.

Rather, have you considered extending [Metrics cardinality enforcement](https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/2305-metrics-cardinality-enforcement) to do custom mapping instead of just changing the label to "unknown"?

[2021-02-11 15:09] alculquicondor commented on #94009
I think we should still do 3:

or even just NodeAffinity+TaintsTolerations

The problem is that just one node is being and potentially we are retrying all pending pods. And this means that we are testing all Nodes for each of those Pods.

[2021-02-11 15:12] n3wscott commented on #98768
Another few times yesterday:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-canary/1359480749383749632
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-canary/1359385633600049152

[code]

[2021-02-11 15:33] jmcdonagh commented on #72811
I honestly cannot even wrap my head around why anyone would base the scale out around requests... requests is supposed to be set to the bare minimum to run a service. Makes it conceptually difficult to reason about this thing when you go look and you're saying scale out when it's at 500%.

[2021-02-11 16:13] KarstenSiemer commented on #45487
Any update on this to make this more admin friendly, especially when running in fully automated cloud infrastructures?
Currently running v1.18.9-eks-d1db3c and made it work manually on a node but need to fully automate this, since nodes roll all the time and we have dozens of them.
I made a docker login using the root user on the node and then linked using `ln -s /root/.docker /var/lib/kubelet/.do

[2021-02-11 16:27] serathius commented on #81863
Hey Han, I think issue was closed as it was implemented in https://github.com/kubernetes/kubernetes/pull/84373
Anything left here?

[2021-02-11 16:28] serathius commented on #96319
/remove-lifecycle stale
/cc @cezarygerard

[2021-02-11 16:41] sbeginCoveo opened #99002 "[e2e tests] Typo in logs"
https://github.com/kubernetes/kubernetes/blob/4364ef62062d3d18b0a0cec117af9620f8a896ff/test/e2e/kubectl/kubectl.go#L1393

[2021-02-11 16:58] liggitt commented on #98995
/cc @robscott

[2021-02-11 16:58] liggitt commented on #98994
/remove-sig api-machinery
/sig networking

this is because the service REST handler overrides standard deleting handling to customize endpoint cleanup

[2021-02-11 16:58] liggitt commented on #98994
/sig network

[2021-02-11 16:59] liggitt commented on #98992
/remove sig-auth
/sig api-machinery

[2021-02-11 17:10] logicalhan commented on #81863
@serathius pkg/kubelet/certificate/kubelet.go fails (as expected since it doesn't read consts from other files) but the error message isn't sufficiently descriptive (I believe it is using the wrong one.

[2021-02-11 17:11] logicalhan commented on #81863
@serathius pkg/kubelet/certificate/kubelet.go fails (as expected since it doesn't read consts from other files) but the error message isn't sufficiently descriptive (I believe it is using the wrong one.

[2021-02-11 17:13] robscott commented on #98995
Hey @vijayshanker3149290, this is a great question. I think the changes are relatively minor here, but we wrote a blog post that goes through them here: https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/.

Do you know what versions of Kubernetes you're trying to support with your controller? If you're ok with supporting only 1.19+, you can move straight to us

[2021-02-11 17:21] aermakov-zalando opened #99003 "Server-side apply: migration from client-side apply leaves stuck fields in the object"
Migrating from client-side apply to server-side apply (as currently implemented in kubectl and documented [here](https://kubernetes.io/docs/reference/using-api/server-side-apply/)) leaves the objects in a somewhat corrupted state, and result in the resources forever being inconsistent with their expected state. Namely, removed fields that have been set in the initial client-side applied version st

[2021-02-11 17:21] aermakov-zalando commented on #99003
/sig api-machinery

[2021-02-11 17:24] #97027 closed

[2021-02-11 17:24] aermakov-zalando commented on #99003
Note that the same happens if the field is removed after the initial client-side apply and the follow-up server-side apply. Since I'm doing SSA from a custom app, and not with `kubectl`, I can obviously try to implement some hacks to work around this (check if there are any managed fields previously created by kubectl client-side apply, drop them manually, patch the field managers to get rid of th

[2021-02-11 17:36] logicalhan commented on #97208
Yeah the custom mapping was the thing I was alluding to when I said:

Specifically because it sounded like this issue was describing controlling inputs into multiple buckets.

[2021-02-11 17:45] marosset commented on #98704
Can you make sure metrics-server is healthy for the node?

[2021-02-11 17:55] thockin opened #99005 "Use helper functions to clean up test-cases (specifically net but not really specific)"
Inspired by #98726

There are a lot of tests (pkg/apis/networking/validation/validation_test.go in that PR) that have tables of structures like Service or NetworkPolicy, where the struct has to be complete enough (e.g. to pass validation) but each test-case only modifies one tiny section of the otherwise boilerplate struct.

The result is a LOT of noise which makes the actual differences hard to s

[2021-02-11 17:59] marosset commented on #53201
cc @immuzz is this something we can get the .NET team to look at?
We may be able to fix the .NET use cases (but obviously this would not address all cases)

[2021-02-11 18:10] dims commented on #82440
long-term-issue (note to self)

cc @adisky

[2021-02-11 18:34] danielamlins commented on #99005
I would like to take this one, at least for net. This will be my first time contributing to kubernetes, so I might take a while.

[2021-02-11 18:38] danielamlins commented on #99005
/assign

[2021-02-11 19:02] #98894 closed

[2021-02-11 19:46] Jiawei0227 commented on #97985
@mattcary As we discussed offline, maybe we should target it in 1.21

[2021-02-11 20:20] Starttoaster opened #99009 "Multiple Pull Policies (Fallback to secondary pull policy)"
#### What would you like to be added:

A container spec that allows for a list of pull policies, where the first pull policy in the list is selected by default. But after a certain number of failures to pull, falls back to the next pull policy in the list.

#### Why is this needed:

Many people want to use the `Always` image pull policy to ensure that their pods are always getting the latest image

[2021-02-11 20:20] Starttoaster commented on #99009
/sig node

[2021-02-11 20:26] Letme commented on #95039
Same problem here for Raspbian 10, kernel  5.10.11-v7l+, kubeadm 1.20.2-00

[2021-02-11 20:47] jdambly-ns commented on #95380
I am also seeing this same issue
`W1215 05:19:33.418996 1804473 cpu_manager.go:397] [cpumanager] reconcileState: ignoring terminated container (pod: rook-ceph-crashcollector-knode01.c1.sv5.nskope.net-7bb9d99d8s6z, container id: c4b50b26767f78cc00e75f5603f571925a1589d7227d83b7cddd0d03a6805842)

root@knode01:~# docker container ls -a --no-trunc -q     | grep c4b50b26767f78cc00e75f5603f571925a1589d72

[2021-02-11 21:12] fedebongio commented on #98963
/assign @yliaog
/triage accepted

[2021-02-11 21:13] fedebongio commented on #98989
/assign @jingyih
/triage accepted

[2021-02-11 21:14] fedebongio commented on #98992
/assign @deads2k
David could you take a look to this request please? Thanks!
/triage accepted

[2021-02-11 21:14] fedebongio commented on #99003
/assign @apelisse
/triage accepted

[2021-02-11 21:15] fedebongio commented on #98925
/triage accepted

[2021-02-11 21:15] fedebongio commented on #98683
/triage accepted