[2020-12-22 22:23] varshachandanb opened #97473 "HPA Scale up and Scale down behavior does not trigger as expected"
**What happened**:
[code]
Noticed the following behavior during
1. Scale Down: When Current / Target ratio  = 0
[code]
2. Scale Down: When Current / Target ratio = 0.4
[code]
3. Scale Up: When Current / Target ratio = 1.5

[code]
4. Scale Up: When Current / Target ratio = 2.5
[code]
**What you expected to happen**:
1. Scale Down: When Current / Target ratio  = 0
Noticed the scale down was very agg

[2020-12-22 22:38] dougsland commented on #95293
My understanding from speaking with @soltysh is use the annotation.

[2020-12-22 22:39] jayunit100 commented on #97472
`Layer7|Layer3`?

[2020-12-22 22:39] yliaog commented on #97437
https://github.com/kubernetes/kubernetes/issues/73628

[2020-12-22 22:39] dougsland commented on #95293
We should close this one and mark as dup of https://github.com/kubernetes/kubernetes/issues/96986 as @pacoxu  already started working on it.

[2020-12-22 22:39] dougsland commented on #95293
/close
dup of https://github.com/kubernetes/kubernetes/issues/96986

[2020-12-22 22:40] #95293 closed

[2020-12-22 22:41] jayunit100 commented on #97472
@robscott

[2020-12-22 22:41] yliaog commented on #97437
please see the discussion in the issue #73628

[2020-12-22 22:46] SergeyKanzhelev commented on #95727
I remember you told me, but I forgot. Does issue exist in 1.18 and 1.17?

[2020-12-22 22:49] jayunit100 commented on #97472
howabout `Feature:Loadbalancer` combined with the  `Feature:Ingress` tag?  that seems explicit and obvious and inline w/ what we do for other things, i.e.  `Feature:NetworkPolicy`?

[2020-12-22 22:57] varshachandanb opened #97474 "HPA does not check for Current/Target ratio during scaling"
**What happened**:
[code]
1. During Scale down when Current / Target ratio is 0.5
[code]
2. During Scale up when Current to Target ratio is 2:
[code]

**What you expected to happen**:
Based on  [algorithm details](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details) , expected:
1. During Scale down the pods to be halved after a cool down period of 300 secon

[2020-12-22 23:13] cgwalters commented on #53533
Somewhat related to this: xref https://fedoraproject.org/wiki/Changes/EnableSystemdOomd - this uses PSI, which looks like it was mentioned at least here https://github.com/kubernetes/kubernetes/issues/43916#issuecomment-727281922
(I am [currently recommending](https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/message/PCYUC6RW5YQVBWNHGKXXOGD4Y73TO72E/) systemd-oomd is disa

[2020-12-22 23:34] robscott commented on #97472
I think there's a lot of room for standardization here. I think it's reasonable to have a standard tag for every test that relies on spinning up load balancing infra. Like you pointed out, the variation between `LB.health.check|LoadBalancer|load.balancer|Loadbalancing` makes e2e tests more difficult to run than they need to be. The simplest option seems to be to replace all of those with a standar

[2020-12-22 23:37] TomMD commented on #55946
This is the first result Google has for `NodeWithImpairedVolumes=true:NoSchedule`.  It's a sad state for support.

[2020-12-23 01:17] jicki commented on #70382
Any updates?

[code]

[2020-12-23 01:26] gavinfish commented on #88150
/remove-lifecycle stale

[2020-12-23 02:27] readerx commented on #97283
I used this configuration in calico-node

[code]

nft ruleset like this
[code]

But problems remain

[code]

I think the reason for the problem is iptabes-nft operations is `ip family`, but `firewalld` operations `inet family`.
firewalld `filter_FORWARD` chain of  `inet family` drops the packet between the pod.

If want to solve this problem Calico needs to handle the `inet firewalld` table. Of co

[2020-12-23 02:39] champtar commented on #97283
I would first test without firewalld (disable & reboot all nodes). If it work this is not a k8s bug ;), and you can enable it again, configure it as I explained, and restart your debug journey from there.

[2020-12-23 02:51] jicki commented on #51835
@jingxu97

not a mountpoint

UnmountVolume.TearDown failed for volume

because:   directory not empty

[code]

[2020-12-23 03:05] ktpktr0 commented on #97434
`apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9121"
  name: redis
  namespace: redis-cluster
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
  - name: redis
    port: 6379
  - name: prom
    port: 9121
    targetPort: 9121
  clusterIP: None

---
apiVersion: v1
kind: Service
metadata:
  name: redis-access
  namesp

[2020-12-23 03:10] knight42 commented on #97383
The kubelet on master nodes starts with `enableDebuggingHandlers: false`: https://github.com/kubernetes/kubernetes/blob/94be86aaa242969bf20df91d68f9ac09619ecdb0/cluster/gce/util.sh#L1004-L1006

while the kubelet on worker nodes starts with debugging handlers enabled: https://github.com/kubernetes/kubernetes/blob/94be86aaa242969bf20df91d68f9ac09619ecdb0/cluster/gce/util.sh#L1028-L1030

looks like t

[2020-12-23 03:11] readerx commented on #97283
Yes, After the firewall is turned off, the problem does not appear.
Does that make this question more appropriate for Calico?  : )

[2020-12-23 04:11] SamaChandra opened #97481 "AKS Upgrade to 1.19 Causing my complete environment down. Containerd is failing to load my PODS which runs on side car"
**What happened**:Upgraded from Azure Kubernetes Version 1.18.10 to 1.19.03

**What you expected to happen**:All micro services should work as how they are working earlier.

**How to reproduce it (as minimally and precisely as possible)**:I am unable to reproduce or do any changes now. the total cluster was down due to this containerd.

**Anything else we need to know?**:My whole cluster is down w

[2020-12-23 04:56] #94926 closed

[2020-12-23 05:10] vutuong commented on #3949
Hi everyone, thank to @schrej and @adrianreber works, wish this feature lands in k8s soon. For anyone, who wanna try @schrej's setup, but got problems, my ansible-based automation tool to build K8s-schrej cluster for testing: https://github.com/SSU-DCN/fault-detection/tree/master/docs/anisble-playbook/kubernetes-the-hard-way.
However, in @schrej works, when you want to migrate a Pod, the process i

[2020-12-23 06:06] yu2003w commented on #97458
/sig release

[2020-12-23 06:47] Abhishek1121-tech commented on #92412
thanks @ranasheel2000  it works.

[2020-12-23 07:15] ktpktr0 commented on #97434
@chrisohaver Thank you for your help。Each condition in the selector needs to be met before endpoints can be created successfully, that is, the value is not < none > and

[2020-12-23 07:15] #97434 closed

[2020-12-23 07:27] uablrek commented on #97401
Short answer; No, egress VIPs are not supported in K8s.

There are several projects attempting to implement this e.g https://github.com/nirmata/kube-static-egress-ip, but they all have shortcomings. Some may work in your env though.

Usually public cloud providers have support for egress VIP in their own way, outside K8s. See for instance https://docs.microsoft.com/en-us/azure/aks/egress

I close

[2020-12-23 07:27] #97401 closed

[2020-12-23 08:45] zhuchance opened #97484 "Dynamic storage is unavailable due to the removal of SelfLink"
**What happened**:
 I am seeing the issue that since installing the latest version (v1.20.1) I have the problem that my 'testclaim' pvc is no longer able to claim storage from the storageclass (managed-nfs-storage), which worked fine before 1.20.1

**What you expected to happen**:
I want to be able to use dynamic storage，such as NFS, OpenEBS

**How to reproduce it (as minimally and precisely as po

[2020-12-23 09:04] BouweCeunen commented on #55946
Indeed, I made a deployment that removes this taint when it occurs as a last resort. 😄 Didn't have any issues since.
https://github.com/BouweCeunen/clear-impaired-volumes-taint

[2020-12-23 09:07] pacoxu commented on #97484
https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/issues/25#issuecomment-742616668

Add the feature gate would help.
[code]

[2020-12-23 09:40] aojea commented on #97383
TIL, so `/exec` is a debugging handler, got it thanks
https://github.com/kubernetes/kubernetes/blob/f11c3b475d852ec8b6075fb2899a795f52d1be8f/pkg/kubelet/server/server.go#L407-L439

@knight42 should this be reflected somewhere in the kubelet logs?  if you see the logs of the kubelet in the master node it shows the flag to true but I can´t see other place where shows it to false https://storage.goog

[2020-12-23 10:57] aojea commented on #97383
/close
This is working as expected,
 maybe the kubelet should log somehwere that the handlers are disabled?
but that is something cosmetic, because the error log clearly says that the debugging handlers are disabled
Thanks all

[2020-12-23 10:58] #97383 closed

[2020-12-23 11:42] sd-f commented on #95039
Same here 1.20.1 / Ubuntu 20.04 LTS / 5.4.0-1025-raspi

`
Dec 23 11:19:46 kuebel1 kubelet[1790]: E1223 11:19:46.296041    1790 machine.go:72] Cannot read number of physical cores correctly, number of cores set to 0
Dec 23 11:19:46 kuebel1 kubelet[1790]: W1223 11:19:46.296285    1790 machine.go:253] Cannot determine CPU /sys/bus/cpu/devices/cpu0 online state, skipping
Dec 23 11:19:46 kuebel1 kubele

[2020-12-23 12:31] jayunit100 commented on #97472
it seemed to be causing more confusion simply bc, it was a "new" tag.
Ill make a broader PR that addds that tag to ALL lb tests.

[2020-12-23 12:38] feiskyer commented on #97467
@staebler have you enabled `enableMultipleStandardLoadBalancers` when observed this issue?

[2020-12-23 13:28] #92636 closed

[2020-12-23 14:20] ydp commented on #94155
@aojea  encounter the same problem:  etcd Version: 3.4.13    kubernetes: v1.19.2.

we are in a scale test process, there are 500+ nodes, etcd and apiserver both deployed as process, and colocated in the same host, I have 3 masters, only 1 master has this error, other 2 master works fine now.

[code]

etcdctl show helath:
[code]

raw metrics show health:
[code]

but  8443 port reply with 429 too ma

[2020-12-23 15:35] jayunit100 commented on #96717
/assign @eth0XFEED

[2020-12-23 16:48] staebler commented on #97467
No

[2020-12-23 16:53] kfox1111 commented on #43992
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-12-23 16:54] dosti-tee commented on #61207
I ran into this problem for this last 2 days as well. Still trying to find a way through but no luck yet.

In case, anyone does find something, please kindly share.

[2020-12-23 17:13] tvi opened #97488 "Add support for AWS ECR Public credentialprovider"
**What would you like to be added**:
Currently AWS credentialprovider only support ECR in private mode [here](https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/pkg/credentialprovider/aws/aws_credentials.go). These are repositories with suffix amazonaws.com.

I would like to be added support for `public.ecr.aws` URL as well. This URL works and supports anonymous

[2020-12-23 17:14] tvi commented on #97488
/sig provider-aws

[2020-12-23 17:14] tvi commented on #97488
/sig cloud-provider

[2020-12-23 17:15] tvi commented on #97488
/area provider/aws

[2020-12-23 17:32] knight42 commented on #97383
yes, it might be better to log the config if a config file is provided.

[2020-12-23 18:12] ChiefyG-Admin commented on #43992
/retest

[2020-12-23 18:13] ChiefyG-Admin commented on #43992
https://apps.apple.com/us/app/snagajob-jobs-hiring-now/id333188676

[2020-12-23 18:14] ChiefyG-Admin commented on #94956
/Retest

[2020-12-23 18:58] SergeyKanzhelev commented on #95030
/remove-lifecycle stale

[2020-12-23 19:59] NillsF opened #97489 "Add networkPolicy test for ingress/egress rule combination"
[In reference to conversation on #sig-network-policy-api.
](https://kubernetes.slack.com/archives/C01CWSHQWQJ/p1608751193216700)
**What would you like to be added**:
Add a test to the netpol validation framework to validate a scenario where traffic between two pods has egress and ingress rules defined.

|       | **Ingress allowed**     | **Ingress denied**     |
| :------------- | :----------: |

[2020-12-23 20:00] NillsF commented on #97489
/sig sig-network

[2020-12-23 20:00] NillsF commented on #97489
/sig network

[2020-12-23 20:36] bobbypage commented on #95727
I don't believe 1.18 or 1.17 should be affected. I think this issue was introduced with https://github.com/google/cadvisor/pull/2513/ which commit was included in cAdvisor v0.37 release. cAdvisor v0.37 was vendored into k8s 1.19.

[2020-12-23 20:54] jsturtevant opened #97490 "Process start time metric errors on Windows with "could not read /proc""
**What happened**:
Start kubelet on a Windows node and you will get this error:

[code]

**What you expected to happen**:

The process start time to be read appropriately for Windows

**How to reproduce it (as minimally and precisely as possible)**:
Start kubelet on a Windows node

**Anything else we need to know?**:
The  `process_start_time_seconds` gauge falls back to `time.now()` but we get thi

[2020-12-23 21:05] jayunit100 commented on #97489
@NillsF thanks for offering to hack on this

[2020-12-23 21:05] jayunit100 commented on #97489
/sig network

[2020-12-23 21:05] jayunit100 commented on #97489
cc @mattfenwick

[2020-12-23 21:13] jsturtevant commented on #93276
Linking to the pre-submit cross compile issue: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/bazel.md#cross-compilation-of-cgo-is-not-currently-natively-supported

[2020-12-23 22:12] ChiefyG-Admin commented on #93337
/remove lifecycle rotten

[2020-12-23 22:19] ChiefyG-Admin commented on #93337
/remove lifecycle rotten

[2020-12-23 23:56] tiloso commented on #96760
Hey, I'd like to take this one.
/assign

[2020-12-24 00:04] sagor999 commented on #93337
Wanted to update this. We have switched our cluster from kube-proxy to Calico CNI using eBPF mode and completely disabled kube-proxy and no longer seeing this issue.
Not sure if the problem was with kube-proxy or with iptables mode in kube-proxy. We were not able to try out ipvs mode due to some ipvs limitations.

[2020-12-24 01:25] liggitt commented on #97484
/cc @wojtek-t

[2020-12-24 02:38] SataQiu commented on #97364
@niuyueyang1996  It seems that we should not patch this to the old versions, because it may contain a potentially breaking change for some applications. https://github.com/kubernetes/kubernetes/pull/97388#issuecomment-750537071

[2020-12-24 02:57] niuyueyang1996 commented on #97364
if container exit between CreateExec and StartExec，the StartExec will must timeout
i hope postStart will exit quickly ,not blocked to timeout, when the container is exit

[2020-12-24 04:00] #91720 closed

[2020-12-24 04:00] #93415 closed

[2020-12-24 04:00] #93419 closed

[2020-12-24 04:00] feiskyer commented on #97467
@staebler thanks, could you share the details of repro steps 1 and 2?

[2020-12-24 04:31] NillsF commented on #97489
@jayunit100 I reviewed the current networkpolicy tests, and I believe this case is already captured in the currents tests.

https://github.com/kubernetes/kubernetes/blob/9858bc2925c5894b46c1f01df231818ea868387f/test/e2e/network/netpol/network_policy.go#L589-L625

[2020-12-24 05:34] xial-thu commented on #69276
any update on this issue?

I've seen the topology manager in k8s >=v1.18 enabled by default. But seems only CPU affinity is supported by now

[2020-12-24 05:41] tizhou86 commented on #69276
yeah, cpu topology mainly focusing on the numa and cpu core affinity, gpu is more complicated since it's related to the specific nvidia gpu card, will plan to do it if real needs come out.

[2020-12-24 06:24] pacoxu commented on #97288
32s to delete pod on kubernetes .118.6
[code]

42s to delete pod on kubeadm 1.20.1 on similar VM.
[code]

[2020-12-24 06:37] andyzhangx commented on #97080
Update more details, `nodeAffinity` value would be like following:
 - non-zone cluster:
[code]

 - zone cluster
[code]

If all node pools are non-zone clusters, there won't be issue in volume scheduling; if all node pools are zoned clusters, customer would hit following error which is expected if there is no `eastus2-3` zone 3 node in `Ready` status:
[code]

The issue only exists when there are zo

[2020-12-24 06:37] andyzhangx commented on #97080
/close

[2020-12-24 06:37] #97080 closed

[2020-12-24 06:59] pacoxu commented on #97288
https://gist.github.com/pacoxu/c0662ec65e18470af1bc969c94a3f818#file-kubelet-and-controller-manager-log-L273

debug log with kubelet and controller-manager logs

[2020-12-24 07:05] liruishan commented on #78949
@maxstr ,I have found the real cause of this problem. If it is a local route, there will be errors in masquerade processing. It will select the first address from the address list as the source address. For example:

**There are three IP addresses on my host, which are:**
ens32 5.5.5.5
ens33 4.4.4.4
ens34 3.3.3.3
**If a route is a local route, like this:**
local  3.3.3.3  dev  lo   src  3.3.3.3
Af

[2020-12-24 08:31] djjayeeta commented on #92287
/cc

[2020-12-24 08:37] shaneing opened #97497 "Failed to delete cgroup paths"
**What happened**:

The kubelet occur error and the error logs as follows:

[code]

**What you expected to happen**:

Can delete the cgroup paths.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

Kubernetes version:

[code]

OS:

[code]

Kernel:

[code]

Install tools:

- Kubespray

Network plugin and version:

- v3.16.5

[2020-12-24 08:42] chew351 commented on #97401
Hi uablrek ,

  thanks for reply
 I use iptable to insert snat for my environment, it looks work well for me.

merry X'mas

chew

[2020-12-24 08:45] jacek-jablonski commented on #95005
/remove-lifecycle stale

[2020-12-24 09:34] b10s commented on #95488
I've updated cluster to systemd cgroup driver and caught a crash with such mount on host:

[code]

[2020-12-24 10:03] lancelot1989 opened #97501 "BoundServiceAccountVolume disable by default but still require extra flags"
**What happened**:

apiserver can not startup until you add these flags even if `BoundServiceAccountVolume` is default to disable

`--service-account-issuer --service-account-signing-key-file --api-audiences --service-account-key-file`

**What you expected to happen**:

apiserver should not require these flags to startup if `BoundServiceAccountVolume` is disabled

**How to reproduce it (as minimal

[2020-12-24 10:05] lancelot1989 commented on #97501
/sig api-machinery

[2020-12-24 10:12] lancelot1989 commented on #97501
i think problem totally cause by this PR: https://github.com/kubernetes/kubernetes/pull/95896

as `BoundServiceAccountVolume` is still alpha in 1.20, so why removing the feature gate condition while validating?

https://github.com/kubernetes/kubernetes/pull/95896#issuecomment-722564198

if u want to support upgrade from 1.20 to 1.21, why not enable the feature gate yourself?

for most of the users

[2020-12-24 10:17] lancelot1989 commented on #97501
i think this pr should not be included in 1.20, reverting this commit can fix this

[2020-12-24 10:34] justaugustus commented on #92272
/remove-lifecycle rotten
/close

[2020-12-24 10:34] #92272 closed

[2020-12-24 10:59] pacoxu commented on #97288
[code]

[code]

pod name: app1-859d7f4f9c-9wjtg
key logs
14:53:14 DELETE https://10.6.177.40:6443/api/v1/namespaces/default/pods/app1-859d7f4f9c-9wjtg 200
14:53:14 SyncLoop (DELETE, "api")
14:53:44 config.go:278] Setting pods for source api
14:53:44 kubelet.go:1901] SyncLoop (DELETE, "api"): "app1-859d7f4f9c-9wjtg_default(2d394ca3-4712-4a4c-991b-1ebffc3b3bf2)"
14:53:45 k8s.go 571: Teardown process

[2020-12-24 11:12] yannh opened #97503 "Enum values support in OpenAPI spec"
The "Protocol" parameter of a ContainerPort needs to be one of 'TCP', 'UDP', or 'SCTP' - as documented here https://github.com/kubernetes/kubernetes/blob/ddf3eb5a1877338da806c2be15b53f456b6342c9/staging/src/k8s.io/api/core/v1/types.go#L1837

However this restriction is not explicit in the generated OpenAPI file: https://raw.githubusercontent.com/kubernetes/kubernetes/ddf3eb5a1877338da806c2be15b53f

[2020-12-24 11:21] shyung commented on #97309
I see. It looks like that a new pod template spec need to be validated, which is constructed with statefulset.spec.template and statefulset.spec.volumeClaimTemplates.

[2020-12-24 11:37] yannh commented on #97503
Moved to https://github.com/kubernetes/kube-openapi/issues/218

[2020-12-24 11:37] #97503 closed

[2020-12-24 12:10] zhangxiao696 opened #97504 "【not support ????】How to pass different arguments to different pod in Job resource?"
When I created a job in Kubernetes, I want to pass different arguments to different pod, so that I can execute different command in different pod.
But I think that It's not supported in Kubernetes now.

So is there any method?

[2020-12-24 13:38] cpxPratik commented on #87634
/remove-lifecycle rotten

[2020-12-24 14:10] #83313 closed

[2020-12-24 15:11] #91094 closed

[2020-12-24 15:11] #91043 closed

[2020-12-24 16:22] jayunit100 commented on #97489
I think you want to do `Egress rules take precedent over Ingress rules`, right?   In that case,
- Egress rule is *specifically* created that disallows `x/a->y/` but
- Ingress rules explicitly allow `x/a->y/`
- And the result is that Egress wins, and traffic is blocked

[2020-12-24 16:23] neolit123 commented on #95488
i think hot-swapping a cgroup driver is unsupported in general. maybe draining the node can help.

[2020-12-24 17:01] gavinfish commented on #96852
/retitle Scheduler: Retire volume in-tree plugins in scheduler nodevolumelimits
/assign

@msau42 Is the  Kubernetes In-Tree to CSI Volume Migration timeline still valid today? If so, does it make sense for scheduler to retire the scheduler plugins for in-tree volume plugins in version 1.21 too?

[2020-12-24 17:15] jayunit100 opened #97506 "Container lifecycle hook nodeConformance tests .... might be flakey ?"
**What happened**:

In the new parallel netpol jobs we saw 2 failures  on these tests.  None are pathologically broken, but seems like in cumulative, they are making the pass percentage pretty low (when combined with our own `NetworkPolicy` flakes, which are numerous :).

- ```when create a pod with lifecycle hook should execute prestop exec hook properly```
- ```Container Lifecycle Hook when crea

[2020-12-24 17:16] jayunit100 commented on #97506
/sig node

[2020-12-24 18:05] taumeson commented on #42544
Going on four years now, with activity every few months. The default behavior of siblings in a StatefulSet should be to know each other and be able to contact each other. Peer-to-peer networking within clusters is common.

[2020-12-24 18:14] #93062 closed

[2020-12-24 18:14] #92036 closed

[2020-12-24 19:15] #90124 closed

[2020-12-24 19:56] apelisse commented on #94887
Just FYI @mengqiy

[2020-12-24 20:00] cr1st1p commented on #65204
Has something changed in the code? Kubelet from kubernetes 1.20.1 is failing.
Doing a mount as I described above fixes it.

[2020-12-24 20:10] cr1st1p commented on #95826
today I bumped into the same problem, trying to start k8s 1.20.1
Applying the same fix I suggested into https://github.com/kubernetes/kubernetes/issues/65204#issuecomment-473711839
made kubelet go past that step.
Today's fstab line was:
/dev/mapper/vgroot-root /var/lib/kubelet btrfs rw,relatime,ssd,space_cache,subvolid=269,subvol=/var/lib/kubelet 0 0

[2020-12-24 22:39] Clivern commented on #97367
yes @fedebongio, i will work on it

[2020-12-24 22:49] liggitt commented on #97501
The feature comes in several stages.

The first is supporting the TokenRequest API and the project service account token volume API. This is GA in 1.20 and is what requires the additional parameters.

This lays the groundwork for graduating the bound service account token volume feature to beta, which switches the default-injected token to use the time-bound token produced by the TokenRequest API.

[2020-12-24 22:49] #97501 closed

[2020-12-24 22:49] liggitt commented on #97501
/remove-sig api-machinery
/sig auth

[2020-12-24 22:52] liggitt commented on #97501
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection has details about the feature that graduated in 1.20

[2020-12-25 00:17] victor-timofei commented on #97504
If I understood correctly on a job creation, you also want to run a specific command on an already running pod?
AFAIK there's no such feature.
/sig api-machinery

[2020-12-25 01:01] davidstack commented on #45419
any method to slove this problem？ why a container can not be inspectd？

[2020-12-25 01:08] chief93 commented on #88574
Encountered same problem after power down of my host machine. It's weird - the `kube-apiserver` does not start on `IPv4` (`0.0.0.0:6443`) and only on `IPv6` (`:::6443`), then fails too
![image](https://user-images.githubusercontent.com/2089568/103112467-3ed5c800-465e-11eb-9dcc-4fa0d99675fc.png)

[2020-12-25 01:57] umialpha commented on #97504
You can put different args into a queue and pods fetch args from the queue.

[2020-12-25 02:18] pacoxu commented on #97497
https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go#L210-L237

As the comment says, errors of os.RemoveAll(p) should be logging.
You may try to delete those paths manually to see the error.

[2020-12-25 02:24] umialpha commented on #97420
Hi I think this is due to [Implicit maintenance-mode deactivation](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#implicit-maintenance-mode-deactivation).

[2020-12-25 03:29] umialpha commented on #97420
Hi from the logs you offered, I haven't found any misbehaviors.

From this line, hpa has set `scale.Spec.Replicas = desiredReplicas`

Could you offer more logs or completed hpa infos?

[2020-12-25 03:45] jiaozg22 opened #97510 "1.19.0版本，在centos7.8 arm64操作系统下，树莓派4b8g硬件上运行。kubeadm init 失败"
centos arm64版本，升级过内核到5.4.2x
docker正常，用kubeadm安装
yum install -y kubelet-1.19.0 kubeadm-1.19.0 kubectl-1.19.0 成功
# 设置开机启动
systemctl enable kubelet

kubeadm init --apiserver-advertise-address=192.168.0.200 --image-repository registry.aliyuncs.com/google_containers --kubernetes-version v1.18.0 --service-cidr=10.96.0.0/12  --pod-network-cidr=10.244.0.0/16 --v=5

**What happened**: kubeadm init  不正常，现实不

[2020-12-25 04:07] umialpha commented on #94615
Hi I also need this feature. Do you have some work around?

[2020-12-25 04:14] BenTheElder opened #97511 "apf: test flake without detailed logs"
**What happened**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/97447/pull-kubernetes-e2e-kind/1342023270328700928

[code]

**What you expected to happen**:

This test should not flake and the logs should show me what did happen.

https://github.com/kubernetes/kubernetes/blob/88a05df5ff1b311e8e92f64b4f3a2c7d4329d14e/test/e2e/apimachinery/flowcontrol.go#L63

**How to reproduce it (a

[2020-12-25 04:24] #92214 closed

[2020-12-25 04:34] lingsamuel commented on #97510
/area kubeadm
Please post kubeadm init logs if it failed.

[2020-12-25 04:36] jiaozg22 commented on #97510
. /sig Cluster Lifecycle ,IoT Edge
. /wg Cluster Lifecycle ,IoT Edge
. /committee Cluster Lifecycle ,IoT Edge

[2020-12-25 04:37] lingsamuel commented on #97510
/sig cluster-lifecycle

[2020-12-25 05:47] b10s commented on #95488
@neolit123 thank you for the comment.
If "hot swapping" is not supported then I have to investigate it deeper as a separate issue to ensure the proper way of changing cgroup driver from cgroupfs to systemd.

The issue which was happening with cgroupfs driver is blamed due to cgroupfs driver on systemd machine. A fix recommend by many folks including documentation and pure logic is to switch to sys

[2020-12-25 06:35] Bryce-huang opened #97512 "After restarting all nodes, init container and normal container are started at the same time"
**What happened**:

reboot all nodes，initcontainer and normal container are started at the same time.
use `kubectl get pod` , It seems that everything is normal and the initcontainer is starting，but in fact the normal container is also starting
**What you expected to happen**:
The normal container should be started after  initcontainer

**How to reproduce it (as minimally and precisely as possible

[2020-12-25 06:47] Bryce-huang commented on #97512
/area kubelet

[2020-12-25 08:03] andyzhangx commented on #97080
In mixed node pools scenario(user has both zoned and non-zoned node pools), let's ask user to add affinity to only schedule pod on non-zone node pool on the pod/statefulset/deployoment, below is an example:
[code]

[2020-12-25 09:41] umialpha commented on #95762
Maybe the version it too old? If you use memory metric, I suggest you upgrading >= v1.18 and using ScalingDownBehavior, because memory has spikes, and it will lead to unexpected scaling down(scaling down means eviction).

[2020-12-25 09:44] umialpha commented on #94517
I work out with some work around and hope HPA adds some related feature.

I use a separate worker to query metric1, metric2 and metric3, then output external metric4 = metric1 - ( metric2 + metric 3 ) for hpa to query.

[2020-12-25 10:30] chief93 commented on #88574
Seems like I've found the reason of such behavior - the `apiserver` can not start because it can't connect to the `etcd`, which can not start because the filesystem is corrupted due to power down. Here is a relevent issue response, that I've found over googling about this problem https://github.com/etcd-io/etcd/issues/10722#issuecomment-492486182

[2020-12-25 10:46] pacoxu commented on #97512
I try to reboot a single node or docker, and the initial container will not start in my env.
[code]
Can you check the container StartedAt and FinishedAt time as well as RestartPolicy and RestartCount of the initial container as well as the app container ?

[2020-12-25 11:21] iliul commented on #92287
/cc

[2020-12-25 11:31] #91421 closed

[2020-12-25 11:47] aojea commented on #97511
This looks a duplicate of
https://github.com/kubernetes/kubernetes/issues/96803

[2020-12-25 11:47] juliohm1978 commented on #70411
Just noticed our apiserver logs flooded with these messages today.

In my case, nodes serving the apiserver each have an instance of keepalived also running. They manage a couple of virtual IP addresses for load balance and fail over. The health check on this particular LB setup runs a netcat checking for port 6443.

[code]

The apiserver logs those health checks as failed TLS handshakes. True eno

[2020-12-25 12:32] #93504 closed

[2020-12-25 14:10] mattfenwick commented on #97489
This is an interesting test case, I'd be happy to hack on this and look at adding a table-driven netpol test case but don't want to step on your toes if you're already looking into @NillsF @jayunit100 !  Definitely see the value of illuminating this corner case with a clear test scenario!

[2020-12-25 14:47] jiaozg22 commented on #97510
操作步骤如下：
# 关闭防火墙
systemctl stop firewalld
systemctl disable firewalld

# 关闭selinux
# 永久关闭
sed -i 's/enforcing/disabled/' /etc/selinux/config
# 临时关闭
setenforce 0

# 关闭
# 临时
swapoff -a
# 永久关闭
sed -ri 's/.*swap.*/#&/' /etc/fstab

# 根据规划设置主机名【master节点上操作】
hostnamectl set-hostname k8smaster
# 根据规划设置主机名【node1节点操作】
hostnamectl set-hostname k8snode1
# 根据规划设置主机名【node2节点操作】
hostnamectl set-hostname k8snode2

[2020-12-25 14:48] jiaozg22 commented on #97510
报错信息如下：
------------------
[root@k8smaster net]# kubeadm init --apiserver-advertise-address=192.168.0.200 --image-repository registry.aliyuncs.com/google_containers --kubernetes-version v1.19.0 --service-cidr=10.96.0.0/12  --pod-network-cidr=10.244.0.0/16 --v=5
I1225 22:18:47.980072   27618 initconfiguration.go:103] detected and using CRI socket: /var/run/dockershim.sock
W1225 22:18:48.511497   27

[2020-12-25 14:49] jiaozg22 commented on #97510
docker和k8s用的都是systemd模式。不是cgroup

[2020-12-25 16:32] NillsF commented on #97489
Thx @jayunit100 for the feedback. You are right that it's still a different case.

@mattfenwick : I'm looking at what I can throw together today. Stay tuned, and would love your input.

[2020-12-25 16:33] m-yosefpor commented on #69699
Not any progress yet? Our minio pods each include +600k files in their PVCs, which cause them to stuck in ContainerCreating for about an hour!! This is a serious limitation in k8s..

[2020-12-25 16:56] rindoze commented on #97420
The HPA's behavior is defined in the logs I had provided:
Scale Down:
Stabilization Window: 300 seconds
Select Policy: Max
Policies:
- Type: Pods Value: 200 Period: 600 seconds

As I understand from this defined behavior the HPA _should_ scale replicas from 200 down to 0 in 1 scaling operation. Instead it is gradually down scaling and doing it every 15 seconds instead of 10 minutes.

[2020-12-25 17:28] aojea commented on #97226
this depends on the Services implementation, usually is kube-proxy but some CNI plugins replace kube-proxy.

@JokerDevops please provide more details about your environment, CNI plugin and if you are using kube-proxy or other implementation for Kubernetes Services

[2020-12-25 18:38] #58638 closed

[2020-12-26 01:29] NillsF commented on #97489
[I created the initial version of the test.
](https://github.com/NillsF/kubernetes/blob/4428df27346f7d110eb2c8b51bd9997f6b948ee1/test/e2e/network/netpol/network_policy.go#L626-L696)

The code (and comments) are likely a bit verbose at this point.

Should I open a PR against this repo now, or do you want me to make changes to that code prior to the PR?

[2020-12-26 02:17] Bryce-huang commented on #97512
I use the initcontainer of statefulset

like this pic :
![image](https://user-images.githubusercontent.com/44901318/103144341-f2c07b80-4762-11eb-84cc-10d04dcf5fa1.png)

This is the situation when I restarted the three master nodes（all nodes）

my test case:
[code]

[2020-12-26 02:21] Bryce-huang commented on #97512
This may only happen in statefulset

[2020-12-26 02:26] Bryce-huang commented on #97512
/sig apps

[2020-12-26 02:31] Bryce-huang commented on #97512
/area

[2020-12-26 02:31] Bryce-huang commented on #97512
/area ""

[2020-12-26 04:31] awienecke commented on #86762
Same issue, though I killed the coredns pod before I thought to investigate further (immediate fix.)

[2020-12-26 08:52] #87235 closed

[2020-12-26 08:52] #93422 closed

[2020-12-26 12:03] GeorgeTsilias commented on #97156
I'd love to grab this if no one is currently working on this; I'm looking to get my first contribution into Kubernetes.

Could you please provide some guidance on what should be done in order for current tests to support DualStack?

If I'm getting this right, the idea is to allow accessing the new fields via the TestJig object methods and then integrate testing for IPV6 in the [jig.go](https://git

[2020-12-26 12:19] mattfenwick commented on #97489
Looks awesome, I'd go ahead with the PR!

[2020-12-26 14:37] umialpha commented on #97420
Oh, I think you misunderstand "Type: Pods Value: 200 Period: 600 seconds" meaning. It means for 600 seconds, it could remove **at most** 200 pods :).

[2020-12-26 14:52] jayunit100 commented on #97489
can you reference this issue in your new PR @NillsF ?

[2020-12-26 15:50] NillsF commented on #97489
/assign

[2020-12-26 18:32] ymettier opened #97525 "Api-server crashloop : failed creating mandatory flowcontrol settings: failed getting mandatory FlowSchema exempt due to the server was unable to return a response in the time allotted"
# What happened

On an old but maintained installation,  the api-server crash-loops (and because of elections, scheduler and controller-manager also crash-loop).

On a fresh new installation (I describe it below), exactly the same crash loop of the api-server.

In the api-server logs, I have those lines :
[code]

# What you expected to happen

No crash

# How to reproduce it (as minimally and prec

[2020-12-26 18:37] ymettier commented on #97525
/sig cluster-lifecycle

[2020-12-26 18:39] ymettier commented on #97525
/sig api-machinery

[2020-12-26 20:14] pjbgf commented on #82647
/remove-lifecycle stale

[2020-12-26 21:24] jayunit100 commented on #97506
looks like the reason these tests is because, for a really long time, the pod named `pod-with-poststart-exec-hook` doesnt dissapear.

I suspect this is just... something makes pod deletion extremely slow when running lots of tests in parallell...?

[code]

[2020-12-26 21:31] iMartyn commented on #53533
@ehashman Great that this is going forward.  One use-case that I haven't seen mentioned is the growing number of "edge compute" clusters - for example, I've got a clusterboard of 7 machines with a fair amount of compute but constrained memory - 2Gb per node.  They will run k3s but the memory left over would be minimal for workloads.  With swap they would sure run slower but they would be able to h

[2020-12-26 22:56] RussianNeuroMancer commented on #53533
There is also cluster servers from Firefly ([R1](http://en.t-firefly.com/product/clusterserver), [R2](http://en.t-firefly.com/product/cluster/r2.html)) that combine up to 72 [Core-3399-JD4](http://en.t-firefly.com/product/coreboard/core_3399_jd4) boards, each with no more than 4GB RAM, unfortunately.

[2020-12-26 23:06] #92734 closed

[2020-12-27 03:44] troy0820 commented on #97474
/sig autoscaling

[2020-12-27 03:45] troy0820 commented on #97468
/sig autoscaling

[2020-12-27 03:47] troy0820 commented on #97468
Related incident https://github.com/kubernetes/kubernetes/issues/97474

[2020-12-27 03:48] troy0820 commented on #97473
/sig autoscaling

[2020-12-27 03:48] troy0820 commented on #97444
/sig storage

[2020-12-27 12:19] #75380 closed

[2020-12-27 12:19] #93563 closed

[2020-12-27 13:20] #92602 closed

[2020-12-27 13:20] #92857 closed

[2020-12-27 14:51] dr0pdb commented on #96618
/assign

[2020-12-27 15:15] consideRatio opened #97530 "kubectl logs --all-containers --previous - failure to report all logs before erroring"
**What happened**:

Running `kubectl logs --all-containers --previous <pod name>` on a pod with two containers, of which one has restarted but the other hasn't results in a undesired behavior.

I get an inconsistent outcome, sometimes just a report of `Error from server (BadRequest): previous terminated container "<container name>" in pod "<pod name>" not found`, other times I get the other contai

[2020-12-27 16:19] bl-ue commented on #97530
/sig cli

[2020-12-27 16:20] bl-ue commented on #97511
/sig api-machinery

[2020-12-27 16:23] bl-ue commented on #97484
/sig storage

[2020-12-27 16:26] bl-ue commented on #97481
/kind support

[2020-12-27 16:36] bl-ue commented on #97461
/sig testing

[2020-12-27 21:15] ticpu commented on #70047
/remove-lifecycle stale

[2020-12-27 23:39] bl-ue commented on #97530
@consideRatio do you have an example yaml file to create these containers?

[2020-12-28 00:47] consideRatio commented on #97530
@bl-ue yikes I feared I'd be asked this question :) Well, I provided a minimal example in the original post.

[2020-12-28 01:23] bl-ue commented on #97530
@consideRatio Thank you very much.  I'll take a look.

[2020-12-28 02:49] zerkms commented on #60987
/remove-lifecycle stale

[2020-12-28 02:50] bl-ue commented on #97530
Hmm... @consideRatio I can replicate this issue with the example you provided.  Very explanatory instructions! 👍 I'll investigate tomorrow.

[2020-12-28 04:01] umialpha commented on #97473
Hi "stabilizationWindowSeconds" does not mean "cool down". It means the desired replicas is **stabilized**.
What's **stabilized** meaning?
When scaling up, the desired replicas is capped to the **minimum** replicas within stabilization window.
When scaling down, the desired replicas is capped to the **maximum** replicas within stabilization window.

[2020-12-28 04:08] umialpha commented on #97474
Hi @varshachandanb, HPA works as follows,
1. Calculate DesiredReplicas based on the [algorithms](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details) you mentions.
2. If Spec.Bahavior != null. DesiredReplicas  is capped to the behavior policies.

So if you want to test the algorithms, i suggest you not setting behavior.

[2020-12-28 05:36] #93593 closed

[2020-12-28 05:43] pacoxu commented on #97066
dup with #92638 ？

`set kubeReserved in kubelet ` is a workaround.

[2020-12-28 06:13] DWSR commented on #95039
Seeing this on 1.20.1 using kernel `5.10.1-talos` on a Raspberry Pi 4B 4GB

[2020-12-28 07:38] yangcheng-icbc opened #97541 "constantly generating new pods with the status of "sysctlforhidden""
**What happened**:
1. Create a new deploy with sysctls kernel parameter “net.core.somaxconn ”

2.K8s schedules the pod of the deploy to a node without setting the kubelet does not set startup parameter "allowed-unsafe-sysctls=net.*"

3. Use command line  "kubectl get pod -n xxx"

4. Command line echoed message show：
_Kubelet is constantly generating new pods with the status of "sysctlforhidden". D

[2020-12-28 07:48] pacoxu opened #97542 "kubelet log continuously prints "Initializing eviction metric for zone""
**What happened**:
The node name is `daocloud-master`.

[code]

**What you expected to happen**:

A normal node log is like below
[code]

**How to reproduce it (as minimally and precisely as possible)**:
run kube in a node whose hostname ends with "master"

/sig node
/sig network

/area kubelet

[2020-12-28 07:50] pacoxu commented on #97542
/assign

[2020-12-28 08:04] carlory commented on #96760
/assign

[2020-12-28 08:26] wangyysde commented on #81289
/reopen issue still present in 1.19.4

[2020-12-28 08:35] navist2020 commented on #97530
@consideRatio I used the example to reproduce this issue. Created pod through above. The state of pod is Running. I guess the reason is that none of the containers in pod have Terminated state.Only when one of containers is Terminated. The param --previous will return the result normally.
https://github.com/kubernetes/kubernetes/blob/0a839c6c3b9489716e216b4fc9dd2f9c17948c16/pkg/kubelet/kubelet_pod

[2020-12-28 08:36] chazyu1996 commented on #92287
/cc

[2020-12-28 08:58] lindhe commented on #58512
/remove-lifecycle stale

[2020-12-28 09:27] jiayouxujin opened #97545 "can client-go reuse exec request connection"
when I use client-go to "exec" my pod in cluster,how to reuse the idle http connection?

[2020-12-28 09:46] chendave commented on #95752
After some investigation on this issue, this looks like to me is not a big issue anymore,

- If the runtime is down for an while, taint will be set on the node which mark this node as `UnschedulableAndUnresolvable`, this has been fixed by this PR already: https://github.com/kubernetes/kubernetes/pull/92604, so that preempt pods on other nodes is possible.

- If the runtime is not down, but the rem

[2020-12-28 10:00] pacoxu commented on #96980
can reproduce in 1.20.1

[2020-12-28 10:33] pacoxu commented on #97545
You may create issues in https://github.com/kubernetes/client-go/issues like https://github.com/kubernetes/client-go/issues/912.

Per comments in code https://github.com/kubernetes/client-go/blob/master/plugin/pkg/client/auth/exec/exec.go#L454-L455, you can also find some examples in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/exec_util.go

[2020-12-28 10:41] #93596 closed

[2020-12-28 11:33] mythi commented on #92211
/remove-lifecycle stale

[2020-12-28 11:42] FranciscoKurpiel opened #97549 "Support exec in `kubectl port-forward`"
**What would you like to be added**:
Ability to run a local command with port-forward. Example of use-case:

[code]

That would:

1. Start port-forwarding;
2. Execute the provided command. It will have access to the port
3. When the command returns, `kubectl` itself returns with the status code from the provided command.

For some cases we might need more than one port. Currently we have to use tw

[2020-12-28 11:45] FranciscoKurpiel commented on #97549
/sig cli

[2020-12-28 12:39] yoav-orca opened #97550 "Support M1 MacBooks darwin/arm64"
**What would you like to be added**:
When trying to build kubectl from tip (#0a839c6c3b9489716e216b4fc9dd2f9c17948c16) on a M1 Macbook:
[code]

**Why is this needed**:
M1 MacBooks are a new major client platform that many developers will use. brew listed kubectl (kubernetes-cli) is one of the major packages still not supported on M1 (https://github.com/Homebrew/brew/issues/10152)
Since it's suppor

[2020-12-28 15:19] bl-ue commented on #97550
/sig cli architecture

[2020-12-28 15:20] bl-ue commented on #97545
/sig network

[2020-12-28 15:21] bl-ue commented on #97541
@yangcheng-icbc Can you provide some kubectl commands so I can replicate this issue?

[2020-12-28 15:29] plevart commented on #94335
Just a note that I too have stumbled on this issue after reconfiguring CRI-O storage to use btrfs driver pointing with /etc/containers/storage.conf graphroot directly to a BTRFS subvolume (the root filesystem is not BTRFS). After reading this issue I tried mounting the BTRFS subvolume explicitly on some mountpoint and pointed with graphroot to this explicit subvolume mountpoint which solved the pr

[2020-12-28 15:58] bl-ue commented on #97530
@consideRatio @navist2020 looking at these lines...

https://github.com/kubernetes/kubernetes/blob/4425569da6f252dccb15ee8244a33df908e958b6/staging/src/k8s.io/kubectl/pkg/cmd/logs/logs.go#L319-L337

...I discovered that adding the `--follow` option significantly increases the frequency that the "bash" container's logs are printed (the numbers are how many times `unreliable` was printed out of 100

[2020-12-28 16:26] cloudsriseup commented on #97110
I concur with @tgraf .  It would be much cleaner to separate k8s resources for internal / external cluster services.

[2020-12-28 17:24] mattfenwick opened #97553 "organize new network policy tests for ingress/egress allow/block combinations for various test criteria"
**Why is this needed**:

This is a follow-up to https://github.com/kubernetes/kubernetes/pull/97524.  This PR illuminates the potential for confusion and user error when traffic is specifically allowed by ingress and denied by egress -- or vice versa.

See https://github.com/kubernetes/kubernetes/pull/97524#discussion_r549377481 for additional context.

**What would you like to be added**:

Organi

[2020-12-28 17:25] mattfenwick commented on #97553
/sig network

[2020-12-28 17:25] mattfenwick commented on #97553
/assign

[2020-12-28 17:49] apelisse commented on #86026
@soltysh @seans3 Do you have an opinion on this?

[2020-12-28 17:54] jayunit100 commented on #97393
Yeah, so this is pretty interesting problem... Never thought about it.

# problem

You need:
- all pods "p" for service "s" are running
- exactly ONE pod "p" for service "s" recieves traffic at a time.

# solution

To me it sounds like you have a another possible solution, which is to define a `Service` which is "aware" of this *leadership semantic* which your introducing.   So, how about the foll

[2020-12-28 18:17] victor-anubavam commented on #65966
kube-controller-manager and kube-scheduler keeps on restarting
 Docker Version: 19.3.11
 Kube Proxy Version: v1.16.0
`**Logs` are :** I1228 16:59:28.077293       1 leaderelection.go:241] attempting to acquire leader lease  kube-system/kube-scheduler...
E1228 16:59:45.353862       1 leaderelection.go:330] error retrieving resource lock kube-system/kube-scheduler: Get https://IPaddress/namespaces/ku

[2020-12-28 18:22] jayunit100 commented on #97393
In k8s upstream slack in the service-apis room, @hbagdi also mentioned that using a gateway service, w/ the newer service APIs tooling, could solve this.  Can you elaborate on that @hbagdi ?

[2020-12-28 18:22] jagadeeshanubavam commented on #65966
kube-controller-manager and kube-scheduler keeps on restarting. I googled lot but no documents found to debug the issue .
**Docker Version:** 19.3.11
**Kube Proxy Version:** v1.16.0
**kube scheduler Logs  :** I1228 16:59:28.077293 1 leaderelection.go:241] attempting to acquire leader lease kube-system/kube-scheduler...
E1228 16:59:45.353862 1 leaderelection.go:330] error retrieving resource lock k

[2020-12-28 18:22] cmluciano commented on #92198
/reopen

[2020-12-28 18:30] jayunit100 commented on #97393
So, summarizing, theres actually 3 solutions I think - 1 w/ healthchecks, 2 w/ labels.  harry can clarify the implementation details of the healthchecks one (Which would use the new service apis stuff)

- healthchecks: use gateway service to be aware (somehow?) of master status  and then magically recalibrate endpoints ?
- labels: use a sidecar w in-cluster kubeclient  to (!1) introspect master st

[2020-12-28 19:22] hbagdi commented on #97393
We don't have much in service-apis currently to help here but at some point, we plan on adding healthchecks. These healthchecks will be performed by Gateway on the pods of the service. If one can configure the healthcheck to pass only on the leader pod, then the Gateway would forward traffic to the specific pod only.
xref https://github.com/kubernetes-sigs/service-apis/issues/99
xref https://githu

[2020-12-28 19:24] iwankgb commented on #95039
This is a known issue in cAdvisor: https://github.com/google/cadvisor/issues/2743

[2020-12-28 19:29] logicalhan commented on #75779
/remove-lifecycle stale

[2020-12-28 19:30] logicalhan commented on #75779
/remove-lifecycle rotten

[2020-12-28 19:33] jsturtevant opened #97554 "Sig windows Main branch tests are failing since merge of Device manager for Windows"
**Which jobs are failing**:
Flakes:
https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-containerd
https://testgrid.k8s.io/sig-windows-releases#aks-engine-azure-windows-master-staging

Full failure:
https://testgrid.k8s.io/sig-windows-releases#aks-engine-azure-windows-master-staging-serial-slow

**Which test(s) are failing**:

**Since when has it been failing**:
Since me

[2020-12-28 19:49] thomacos commented on #97554
It seems to me that it is not related to a plugin being not present, but that it cannot open the endpoint where potential plugins could register to. In other words, I suspect this error happens independently from any plugins.

If we can trust this message `Only one usage of each socket address (protocol/network address/port) is normally permitted.`, then this would indicate that it tries to open t

[2020-12-28 19:53] grosser commented on #71098
FYI code is here https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/kubectl/pkg/generate/versioned/env_file.go#L74

[2020-12-28 20:06] aarnaud commented on #97554
There is an issue on some Windows not updated. When you restart kubelet and the socket file `C:\var\lib\kubelet\device-plugins\kubelet.sock`

So the workarround, is to remove `C:\var\lib\kubelet\device-plugins\kubelet.sock` before restart kubeblet

[2020-12-28 20:08] aarnaud commented on #97554
And why tests on the PR didn't trigger this error ?

[2020-12-28 20:09] thomacos commented on #97554
Question:
Is it legal that https://github.com/aarnaud/kubernetes/blob/dc86fb93901f089bb1a72cba8691f7ce93c035eb/pkg/kubelet/cm/devicemanager/manager.go#L240 is called twice?

It seems that the `Start` function is called from https://github.com/aarnaud/kubernetes/blob/dc86fb93901f089bb1a72cba8691f7ce93c035eb/pkg/kubelet/cm/container_manager_windows.go#L88, which is analogous to the Linux implementat

[2020-12-28 20:12] thomacos commented on #97554
You mean that kubelet is initialized twice on the same computer, causing this error the second time?

How is this handled on Linux?

If this is allowed we could simply delete `C:\var\lib\kubelet\device-plugins\kubelet.sock` if present before opening it again.

[2020-12-28 20:29] aarnaud commented on #97554
Are you sure it's call twice ?

because on windows `container_manager_linux.go` is not present but replace by `/container_manager_windows.go` you can see the first line comment `// +build windows` and `// +build linux`.

A simple test is:
1. stop kubelet and check the socket file is still present
2. start kubelet you got the error, stop it
3. remove socket file
4. start kubelet again, normally it'

[2020-12-28 20:36] varshavaradarajan commented on #80354
👋 I'd like to pick this up as it is affecting some of the tests we have. Can this please be reopened?

I looked into the issue and saw that when a subresource is added, we replace the parent resource with it: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/testing/fixture.go#L107 and https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go

[2020-12-28 20:40] Type1J commented on #72597
/remove-lifecycle stale

[2020-12-28 20:43] Type1J commented on #72597
I need this feature. I'm using the script from @tleish and @alicederyn for now, but adding this to `port-forward` would be much better.

[2020-12-28 20:51] #82743 closed

[2020-12-28 20:51] #93606 closed

[2020-12-28 20:53] aojea commented on #97156
hi @GeorgeTsilias , thanks for stepping up, if you take a look to the current dual_stack tests, they use the `TestJig` object, but since it it doesn't support dual stack, they have to use additional helper functions like in

https://github.com/kubernetes/kubernetes/blob/b860d08e4ba0c89724046f4ead26b9a535ebdad0/test/e2e/network/dual_stack.go#L671-L697

the goal is to modify the `TestJig` object so

[2020-12-28 21:01] thomacos commented on #97554
I think your explanation is very plausible:
That it is not called twice within a single kubelet initialization, but kubelet is initialized again for some reason on the same node.

[2020-12-28 22:12] thomacos commented on #97554
There are various ways of fixing it.
But I would be interested in learning how this is handled under Linux.
To choose the same path for Windows, too.

[2020-12-28 22:46] timoreimann commented on #80354
/reopen
/assign varshavaradarajan

[2020-12-28 22:50] timoreimann commented on #80354
/remove-lifecycle rotten

[2020-12-28 22:53] #93576 closed

[2020-12-29 01:38] jayunit100 commented on #95073
Hmm ok I filed this a while back... prob ok to Cole's bc I forgot why :)

[2020-12-29 02:02] yangjunmyfm192085 opened #97555 "kube-apiserver exited abnormaly，how to find the reason？"
kube-apiserver exited abnormaly，but no valid log，how can i analyse the problem further more？
only find the log   "Shutting down kubernetes service endpoint reconciler"

[2020-12-29 02:21] yangjunmyfm192085 commented on #97555
/sig Instrumentation
/sig Usability

[2020-12-29 02:48] pacoxu commented on #97555
More `apiserver logs`、 `etcd logs`、`docker inspect` would help.

BTW, the error `Shutting down kubernetes service endpoint reconciler` is related with https://github.com/kubernetes/kubeadm/issues/1047#issuecomment-427564287
` - --endpoint-reconciler-type=lease`

please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-12-29 03:21] jsturtevant commented on #97554
Thanks for your quick response and analysis :+1:

It would be interesting to see if /cm/devicemanager/manager.go#L241 shows twice.

You can find the kubelet logs (and many others) for the windows nodes in the "artifacts" tab on https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-staging-windows-serial-slow/1343693191026577408

This set of tests runs confi

[2020-12-29 03:32] allenhaozi opened #97559 "managedfields to fieldPath"
[code]

is there a way can translator the `fieldsV1` values to fieldPath `spec.replicas`

[2020-12-29 03:52] allenhaozi commented on #97559
+ /sig api-machinery

[2020-12-29 04:15] piyushsingariya commented on #96717
/assign

[2020-12-29 04:25] tabbysable commented on #95086
/remove-lifecycle stale

[2020-12-29 06:09] lwhibernate commented on #48510
+       // Needs to create a new sandbox when the sandbox does not have an IP address.
+       if !kubecontainer.IsHostNetworkPod(pod) && sandboxStatus.Network.Ip == "" {
+               glog.V(2).Infof("Sandbox for pod %q has no IP address.  Need to start a new one", format.Pod(pod))
+               return true, sandboxStatus.Metadata.Attempt + 1, sandboxStatus.Id
+       }

Is there a case that

[2020-12-29 06:10] zgfh opened #97565 "docker-containerd have renamed to containerd, but EnsureDockerInContainer check not update"
**What happened**:
docker-containerd have renamed to containerd, but EnsureDockerInContainer check not update,so it not work

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go#L74
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go#L843

**What you expected to happen**:
Is this check still needed？

**How to rep

[2020-12-29 06:12] zgfh commented on #97565
/sig node

[2020-12-29 06:33] yangjunmyfm192085 commented on #97555
I can't find  any valid logs in apiserver and etcd logs。 Maybe someone other processor stopped the container？

[2020-12-29 07:32] wu0407 commented on #67250
+1

[2020-12-29 07:32] zouyee commented on #82440
/remove-lifecycle stale

[2020-12-29 07:33] carlory commented on #97549
I'm happy to work on it if the  `triage/accepted` label is added.

/assign

[2020-12-29 07:35] andyzhangx commented on #92737
already fixed by https://github.com/kubernetes/kubernetes/pull/96355

[2020-12-29 07:35] #92737 closed

[2020-12-29 07:50] #96942 closed

[2020-12-29 07:50] zwpaper opened #97568 "Add pod info to device plugin request"
**What would you like to be added**:

Add pod info to device plugin request.

**Why is this needed**:

currently kubelet only send [device IDs](https://github.com/kubernetes/kubelet/blob/0013c8763bb0863e996c32d555cb764f92c83a46/pkg/apis/deviceplugin/v1beta1/api.proto#L158) to device plugin,

if `device plugin` what to make some decision base on the pod configuration, there is not any way for this,

[2020-12-29 07:53] zwpaper commented on #97568
/sig node

[2020-12-29 08:10] piyushsingariya commented on #92674
@mayankshah1607 Any updates over this? I'm interested in working on this??

[2020-12-29 08:35] mayankshah1607 commented on #92674
@piyushsingariya Please feel free to take this up! :)

[2020-12-29 09:06] CardinS2U commented on #93472
how do you stop using the component?

[2020-12-29 09:28] pacoxu commented on #97541
same with #72593 ?

[2020-12-29 10:12] thomacos commented on #97554
Oh yes, I missed that! (I should have looked only a few lines above the line causing the error.)

It at least _looks_ exactly like the code we need.
The function is implemented in the same file: https://github.com/kubernetes/kubernetes/blob/b860d08e4ba0c89724046f4ead26b9a535ebdad0/pkg/kubelet/cm/devicemanager/manager.go#L198-L230

But why it is failing to work under Windows?
Do you have an idea?

[2020-12-29 10:55] pacoxu commented on #72593
Is there a plan for this?

Several proposals here
1. kubelet fix: fix `kubelet fails fast` first
2. kubelet add annotations and scheduler:  kubelet may need to add annotations to node for `allow-unsafe-sysctls`, so that scheduler can know it.
3. add an admission controller to add node affinities for pods with unsafe sysctls.
4. kubelet --allow-unsafe-sysctls will add taint to node by default, so p

[2020-12-29 11:05] lunhuijie commented on #97555
Could you describe this problem clearly.  What is the scene?

[2020-12-29 12:19] bl-ue commented on #97541
???????
/sig node
/sig scheduling

[2020-12-29 13:08] bl-ue commented on #97541
It's the exact same condition.  @yangcheng-icbc please close this issue.

[2020-12-29 14:03] alculquicondor commented on #95047
/remove-lifecycle stale

[2020-12-29 14:21] alculquicondor commented on #88634
/reopen

[2020-12-29 14:25] alculquicondor commented on #93067
/remove-lifecycle stale

[2020-12-29 14:43] wirwolf commented on #97066
@pacoxu nope, this issue observed in 1.19

[2020-12-29 15:02] aarnaud commented on #97554
Ok so on windows `removeContents` failed here https://github.com/kubernetes/kubernetes/blob/b860d08e4ba0c89724046f4ead26b9a535ebdad0/pkg/kubelet/cm/devicemanager/manager.go#L214

[2020-12-29 15:27] Moshem123 commented on #25766
Right now we're printing hook's output to the main process' stdout:
[code]
It's a dirty workaround but it works.
Any expectations on when there'll be a way?

[2020-12-29 16:03] lyzs90 commented on #90833
@alam0rt @Dinesh-Balakrishnan are you guys still on this?

@mm4tt i'm wondering if is this the right approach for part 1?
- instead of passing a fake imageService and runtimeService to the [HollowKubelet](https://github.com/kubernetes/kubernetes/blob/8d54a84507c622e1552373d5d125c84ee22d1465/cmd/kubemark/hollow-node.go#L212), pass in the real `RemoteImageService` and `RemoteRuntimeService` set up w

[2020-12-29 16:43] alishah730 commented on #4301
do we have any work around yet to scale down pod with specific index?

I have 16 pods like
sample-app-0
sample-app-1
sample-app-2
........
sample-app-15

I want to delete sample-app-8 or sample-app-12 based on some logic.
total replicas will be reduced  by 1 but specific pod will be removed.

please help if there is any way.

thanks

[2020-12-29 16:43] alishah730 commented on #45509
do we have any work around yet to scale down pod with specific index?

I have 16 pods like
sample-app-0
sample-app-1
sample-app-2
........
sample-app-15

I want to delete sample-app-8 or sample-app-12 based on some logic.
total replicas will be reduced  by 1 but specific pod will be removed.

please help if there is any way.

thanks

[2020-12-29 16:45] neolit123 commented on #97510
i don't see a kubeadm or core kubernetes bug here.
please use the support channels until a bug is found:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2020-12-29 16:45] #97510 closed

[2020-12-29 16:46] neolit123 commented on #97525
i don't see a kubeadm bug here.
/remove-sig cluster-lifecycle

[2020-12-29 16:47] neolit123 commented on #97436
you should use the support channels for this:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/remove-sig cluster-lifecycle
/close

[2020-12-29 16:47] #97436 closed

[2020-12-29 16:53] neolit123 commented on #96395
/remove-sig cluster-lifecycle
/sig cloud-provider
/area provider/gcp

IIUC, /cluster addons are not recommended for external users.

[2020-12-29 16:53] mblumber1 commented on #94335
Ok, so I just want to make sure I understand. Currently when i try to run kubeadm to create a new cluster while using btrfs, it gives me
`[ERROR SystemVerification]: unsupported graph driver: btrfs. `
With Kubernetes v1.21, that will no longer be the case?

[2020-12-29 16:54] neolit123 commented on #96349
this doesn't seem like a bug.
please try the support channels until a bug is confirmed:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/remove-sig cluster-lifecycle

[2020-12-29 16:54] #96349 closed

[2020-12-29 17:09] neolit123 commented on #97481
you should first contact AKS support.
if they confirm this is a core k8s bug, re-open this issue.

you can also chat to other users on these channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-12-29 17:10] #97481 closed

[2020-12-29 17:10] neolit123 commented on #97497
/sig node

[2020-12-29 17:11] neolit123 commented on #97559
/sig api-machinery

[2020-12-29 17:13] neolit123 commented on #97409
dashboard issues should be logged here:
https://github.com/kubernetes/dashboard

if you confirm a core k8s bug, please re open this ticket.

also you can chat to other users here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-12-29 17:13] #97409 closed

[2020-12-29 18:01] aarnaud commented on #97554
So this exemple https://gist.github.com/aarnaud/6fcec8238f37fe067d722aae512e1e8b reproduce the error.

the `os.Stat` failed only on socket file not on regular file !

[2020-12-29 18:20] redeagle84 opened #97575 "Is dropping support for Docker a type of "embrace extend extinguish" politics from kubernetes ?"
Is dropping support for Docker a type of "embrace extend extinguish" politics from kubernetes ?

[2020-12-29 18:20] nodo commented on #82046
/remove-lifecycle stale

[2020-12-29 18:32] aarnaud commented on #97554
It's bug on windows 1903 https://github.com/golang/go/issues/33357#issuecomment-520518431 not present on windows 1809

The fix can be replace `os.Stat` by `os.Lstat`

[2020-12-29 19:56] thomacos commented on #97554
@aarnaud 👍 Very cool!

Just for interest, how did you find https://github.com/golang/go/issues/33357#issuecomment-520518431?

[2020-12-29 19:57] neolit123 commented on #97575
please use https://discuss.kubernetes.io/ or existing threads.
thanks

/close
/sig node

[2020-12-29 19:58] #97575 closed

[2020-12-29 20:01] brianpursley commented on #95089
/remove-lifecycle stale

[2020-12-29 20:22] aarnaud commented on #97554
I hate Windows ;-) and I googled `os.Stat socket windows`

[2020-12-29 20:44] adtac commented on #95156
/remove-lifecycle stale

[2020-12-29 20:46] adtac commented on #92388
The most relevant benchmarks have all been added -- in the past couple of months, we haven't felt a need for any additional workloads on top of what we have right now. Closing.

/close

[2020-12-29 20:46] #92388 closed

[2020-12-29 21:06] jethrogb commented on #59119
/remove-lifecycle rotten

[2020-12-29 21:15] adtac commented on #95131
/remove-lifecycle stale

[2020-12-29 22:12] jsturtevant commented on #97554
This set of tests are running on 2019 LTSC (also known as 1809).  If this is only an issue on 1903 is there something else happening?

[2020-12-29 22:26] jherrera123 commented on #94091
I'll take a look at updating the build scripts. My understanding is this issue should cover the following:

- Remove docker-machine usage from build scripts
- Remove docker remote usage from build scripts
- Possibly remove or update rsync usage from build scripts
- Update doc

/assign

[2020-12-29 22:37] aarnaud commented on #97554
Sorry, I read to quickly, there is a change of behaviour between 1809 and 1903 about unix socket, If my understanding is good on 1903 unix socket is like regular file but not on 1809, so it's why os.Stat failed on 1809. but I tested on Windows 10 20H2 and the issue still here with `os.Stat`

[2020-12-29 23:48] eMGabriel commented on #91220
/remove-lifecycle stale

[2020-12-30 00:01] adeniyistephen commented on #94091
This does not look like documentation anymore then, it looks like a code. if there's any pointer or inputs, kindly provide. Thanks

[2020-12-30 01:02] purestare3 opened #97577 "kubectl version and helm commands output error message on MAC: "error: unable to parse the server version: json: cannot unmarshal object into Go struct field Info.platform of type string"."
**What happened**:
kubectl version and helm commands output error message on MAC: "error: unable to parse the server version: json: cannot unmarshal object into Go struct field Info.platform of type string"

[code]

**What you expected to happen**:
[code]

**How to reproduce it**:
Use kubectl command to connect to remote UCP Docker Kubernetes cluster of the below version:
[code]

[code]

**Environ

[2020-12-30 01:21] patrickscottbest opened #97578 "ServiceAccount Rolebinding unable to delete a deployment, but is able to create it"
Kubernetes v1.20.0 , on Ubuntu 20.04.1, docker 19.3.11
Also tested against v1.19.3

Using the following configuration I am able to create a deployment in the namespace "live" using this serviceaccount's token, but I am unable to delete the deployment using the same token.

Trying to find the correct Role to bind to my programmatic ServiceAccount user, but I am unable to get the correct role mappin

[2020-12-30 01:28] yangjunmyfm192085 commented on #97555
This is a scenes of ci  ，run pvc test  failed，kube-apiserver mirror pod restarted at this time。 I only found valid log “Shutting down kubernetes service endpoint reconciler” in apiserver log file。

[2020-12-30 01:38] jolestar commented on #53533
Share my store:
I tried to migrate github action to k8s using https://github.com/summerwind/actions-runner-controller ， it supports autoscale runner by pending pull request on-demand. But the runner processed is killed by the system when it tries to build rust project because the llvm eating pod's whole memory，it was useless to upgrade the machine to 64G。 the only way is to increment the node's sw

[2020-12-30 02:04] jherrera123 commented on #94091
@adeniyistephen yes, two parts, doc and code.

Do you want to send a PR for the doc portion? Go through the build docs, and update them to reflect we're dropping `official support` for building k8s with docker-machine and docker remote. I don't know if there's any more doc besides build/README.md, you should read the doc or grep for keywords in the code base.

I'll work on the build scripts.

[2020-12-30 03:42] patrickscottbest commented on #97578
Closing issue.

Here is the correct role definition that works for me:

[code]

Which produces this can-i output:

[code]

[2020-12-30 03:42] #97578 closed

[2020-12-30 04:24] chymy opened #97586 "IPVS: kube-proxy can not deletes old endpoints"
**What happened**:
Reboot a master node host(193.116.4.32), kubernetes service ipvs rules can not be deleted, weight is still 1.
[code]
but, in etcd endpoints only one:
[code]
[code]

add some logs in
https://github.com/kubernetes/kubernetes/blob/4fb7ed12476d57b8437ada90b4f93b17ffaeed99/pkg/proxy/ipvs/proxier.go#L1911
newEndpoints：
[code]
There may be problems in this line:
https://github.com/kube

[2020-12-30 04:24] balibebas commented on #78795
https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/19-Graduate-CronJob-to-Stable#support-timezone-for-cronjobs

[2020-12-30 04:26] chymy commented on #97586
/sig api-machinery

[2020-12-30 05:18] kong62 commented on #60987
[code]

kubernetes version 1.16.9
docker version: 18.09.2

[2020-12-30 05:47] jiaozg22 commented on #97510
您好，您确定是在硬件 树莓派4b 8g版本，操作系统cenots7.8版本，升级到5.4.28-v8.1.el7 内核上运行的吗？

[2020-12-30 05:47] nilo19 commented on #97341
fixed by https://github.com/kubernetes/kubernetes/pull/97307
/close

[2020-12-30 05:47] #97341 closed

[2020-12-30 05:58] raul1991 opened #97588 "Job exited but the completion status is still 0/1"
**What happened**:

My job exited with success (returned exit 0) yet the completion status says 0/1

**What you expected to happen**:
After the completion the completion status should have been updated.

**How to reproduce it (as minimally and precisely as possible)**:

Here is all that I can share about my env and the code.

I have a job that has the default backoff limit set to 6. In the first 5

[2020-12-30 06:50] wojtek-t commented on #95110
/remove-lifecycle stale

[2020-12-30 07:05] knight42 commented on #92783
/reopen
/remove-lifecycle rotten

@andrewsykim I think this still needs to be addressed.

[2020-12-30 07:15] jiaozg22 commented on #97510
Please run 'kubeadm init xxx ' on the real device  on PI 4b 8G。Don't run in virtualVM .And to be sure of  os core is 5.4.28-v8.1.el7.
There were many people met this problem.
I doubt pi 4b device is too new ,so pi 4b hava something diffrent with other arm64 device,or centos7.8 arm64 os is run on the pi4b is different other os like amd. So i suggest  recurrent this phenomenon on centos7.8 arm64 wit

[2020-12-30 07:16] jiaozg22 commented on #97510
Please run 'kubeadm init xxx ' on the real device on PI 4b 8G。Don't run in virtualVM .And to be sure of os core is 5.4.28-v8.1.el7.
There were many people met this problem.
I doubt pi 4b device is too new ,so pi 4b hava something diffrent with other arm64 device,or centos7.8 arm64 os is run on the pi4b is different other os like amd. So i suggest recurrent this phenomenon on centos7.8 arm64 with p

[2020-12-30 08:22] thomacos commented on #97554
So in summary, the key point is:
PR https://github.com/kubernetes/kubernetes/pull/97576 fixes this issue https://github.com/kubernetes/kubernetes/issues/97554.

[2020-12-30 08:26] adeniyistephen commented on #94091
Yes I do want to send a PR, thanks. I will work on the docs.
But we are looking at modifying the build/README.md docs right, can I do it now? Besides can you send me to a pointer or how do you think it should be modified.
Cause I thing K8t wants to remove the docker machine build right.

[2020-12-30 09:07] jprzychodzen commented on #94256
I've checked logs from recent 5k performance runs

There was no `unexpected EOF`, only a single `read: connection timed out"` with a quick retry. It seems that we are not hitting it anymore.

As I understand now we are using `net.netfilter.nf_conntrack_tcp_be_liberal=1` mitigation, and nothing was changed in containerd. Is this correct?

Dropping mitigation from performance tests will provide a we

[2020-12-30 09:11] rennokki opened #97602 "Not an issue: PHP-maintained package"
Not an actual issue!

I have built a package for PHP and I'd like to know how to currently evolve it into an officially-supported client since I got with him to Silver & Beta.

- Min v1.17 supported and continuously keeping the latest three stable versions as Minikube does
- Authentication of any form
- Some resources are on the roadmap ([Entire documentation is here](https://github.com/renoki-co/

[2020-12-30 09:17] Aut0R3V commented on #96512
Hey guys is there anything I can do here?

[2020-12-30 09:26] plevart commented on #94335
In my experience (with CRI-O 1.19 and k8s 1.19), the btrfs driver (in /etc/containers/storage.conf) is supported, but the combination does not work correctly when graphroot is pointed to a btrfs subvolume within some parent subvolume (I don't have experience with graphroot poited to some subdirectory of a default subvolume and/or when default subvolume is also a root filesystem, just when pointed

[2020-12-30 09:41] plevart commented on #94335
@mblumber1 Ah, I see what you meant by saying that `btrfs` is not supported in `kubeadm`. I haven't checked that since I created k8s clusted with default (overlay) driver and later migrated to `btrfs`. It is possible that `kubeadm` disallows using `btrfs` because of problems like the one described above. But in my experience, when a subvolume is mounted explicitly, the btrfs works as expected - at

[2020-12-30 09:43] Aut0R3V commented on #95707
Hey
Is there anything that can be done here?

[2020-12-30 09:50] Aut0R3V commented on #91120
@adtac anything I can do here?

[2020-12-30 11:10] bathtimefish commented on #95039
I got same issues with 1.20.1 on Raspbian Lite Raspberry Pi 4B 8GB
[code]

[2020-12-30 11:24] pacoxu commented on #97588
can you provide the job yaml ?

I build two image daocloud.io/daocloud/paco:test-sleep-20-exit-0 and daocloud.io/daocloud/paco:test-sleep-20-exit-1
Then I create a job with `exit 1` and backoffLimit=5, then I watch the pod and events and wait for about 60s after job tried 4 times to run the exit-1 image.
At the time, I tag exit-0 image to exit-1. As I have only one worker in my cluster. The fifth

[2020-12-30 12:39] Cicatrice commented on #95039
Same problem on Fedora IoT on Raspberry Pi 4b 8GB
[code]

From my perspective, biggest impact is unavailability of all CPU but one in k8s (where 4 are expected):

[code]

While `lscpu` can see the 4 CPUs:
[code]

Is there any workaround applicable in the meanwhile?

[2020-12-30 12:55] thedevilsvoice commented on #95039
Hello @Cicatrice I am experiencing the same original issue, but getting a different result than you when I run those same commands:

[code]

[2020-12-30 13:23] raul1991 commented on #97588
I haven't set the Backoff limit myself so that would be 6 in my case.
Also, my job succeeded (as per the logs) in 6th attempt and I saw 5 restarts before that.

[2020-12-30 13:52] dr0pdb commented on #97292
/assign

[2020-12-30 15:21] michael-pratt commented on #66961
I'm having this same problem with Kubernetes 1.17.4 and Redhat 7.

Kubelet is evicting docker images to free space:

    Dec 29 18:00:14 hostname kubelet: I1229 18:00:14.548513   13836 image_gc_manager.go:300] [imageGCManager]: Disk usage on image filesystem is at 85% which is over the high threshold (85%). Trying to free 2160300032 bytes down to the low threshold (80%).

Kubelet is responding to

[2020-12-30 15:29] dperetti commented on #28695
Still an issue in late 2020.

[2020-12-30 15:50] VonRehberg commented on #95204
any news, when this will be fixed?

[2020-12-30 17:25] aojea commented on #97586
/remove sig api-machinery
/sig network

can you paste the output of `kubectl get endpoints kubernetes -o yaml`

[2020-12-30 17:45] tconrado commented on #64743
It still happening on Ubuntu 20

[2020-12-30 17:51] purestare3 commented on #97577
/sig cli

[2020-12-30 18:18] neolit123 commented on #97510
i don't think any of the kubelet / kubeadm maintainers have this hardware.

if that is that case please ask someone with the hardware to find the exact reason.
let's see if it's a real bug in kubelet / kubeadm.

[2020-12-30 18:52] SergeyKanzhelev commented on #97007
Do you suggest to implement per-pod limits?

[Documentation today](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-requests-and-limits-of-pod-and-container:~:text=Although%20requests%20and%20limits%20can%20only,for%20each%20Container%20in%20the%20Pod.) is:

[2020-12-30 19:04] SergeyKanzhelev commented on #94289
/remove-lifecycle rotten

I'm hesitant to start working on it before we have a published guidance on how to use these tags. We are working on it as part of sig node CI group

[2020-12-30 19:06] SergeyKanzhelev commented on #94256
Yes

it depends on whether @bowei or anybody working on root causing this TCP buffer issue needs a repro.

[2020-12-30 19:31] unixfox commented on #64623
/remove-lifecycle stale

[2020-12-30 19:55] andrewsykim commented on #96804
@chenyw1990 can you share the pod spec you used to reproduce this bug?

[2020-12-30 20:15] 842Mono commented on #97143
Hi. Sorry for the late reply. Here's what I'm trying to do.

@aojea I'm trying to connect a node on AWS to a master (or a cluster) that is on GENI.

On the AWS node, I tried setting just the `--node-ip` flag. I edited the file `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` like so:

    ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_CONFIG_ARGS $KUBELET_KUBEADM_ARGS $KUBELET

[2020-12-30 21:10] MrAmbiG commented on #60987
same issue
kubernetes 1.18

[2020-12-30 21:31] matthyx commented on #97007
I don't suggest much... as this one is a tricky problem to solve.

If we implement a pod limit, the expected behavior would be to throttle all containers in the pod and then we start getting the same kind of noisy neighbor issue (inside the pod) as the one we had on node level before quotas.

I think the only way to handle that would be in the context of sidecar containers and put an option where

[2020-12-30 22:39] #88919 closed

[2020-12-30 22:56] pablocaceresz commented on #50375
+1

[2020-12-31 00:45] SergeyKanzhelev commented on #93575
closing based on this: https://github.com/kubernetes/kubernetes/pull/93636#pullrequestreview-459673743

Please re-open if the existing experience is not working.

/close

[2020-12-31 00:45] #93575 closed

[2020-12-31 00:45] #97554 closed

[2020-12-31 01:23] chymy commented on #97586
Befor reboot:
[code]
Rebooting(193.116.4.32):
[code]

[2020-12-31 02:21] neolit123 commented on #97602
hi, this repository is about issuess in core k8s.
please try the support channels instead for support questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-12-31 02:22] neolit123 commented on #97588
/sig apps

[2020-12-31 02:22] #97602 closed

[2020-12-31 03:43] jiaozg22 commented on #97510
I have three PI 4b devices,if your company have the plane whitch supports kubernetes  run on pi4B 8G version,I can send you 3 devices to recurrent this problem,or if  you not mind, trouble you visit the three devices by ssh .Could you  give me a email address,i send you visit my devices 's username and password?
I can't confirm it is the kubelet or kubeadm 's problem,or my computer's enviroment pr

[2020-12-31 03:51] neolit123 commented on #97510
try asking the on #arm64 channel on k8s slack.
this is where ARM / RPi users hang out and they might be able to help you debug.

[2020-12-31 06:01] #97357 closed

[2020-12-31 06:36] yue9944882 commented on #97525
/assign

[2020-12-31 06:45] chymy commented on #97586
/assign @uablrek

[2020-12-31 07:01] yue9944882 commented on #97525
@ymettier thanks for providing the detailed clue. i will try to reproduce in my local environment.

the loopback requests from storage were exceeding the global timeout (60s).

@ymettier did you explicitly set the following flags for your kube-apiserver?

[code]

[2020-12-31 07:25] chenwenjun1995 commented on #97342
---
name: Bug Report
about: Report a bug encountered while operating Kubernetes
labels: kind/bug

---

**job status is already active but pod status is pending**:

**job status keep sync with pod stauts, while one of pods status isn't running, job status shouldn't be active**:

**it happend when CPU and memory resources I applied for this job exceed the upper limit of the machine, it cause pod can

[2020-12-31 07:36] yue9944882 commented on #97525
@ymettier are running kube-apiserver + kube-controller-manager + kube-scheduler + etcd in a 2Gb Raspberry Pi?

[2020-12-31 07:49] chaolou commented on #82659
why I can not set backoffLimit in cronjob ? we can use fields  is too few in cronJob.spec.

[2020-12-31 09:05] chenyw1990 opened #97634 "the pod may remain in the Terminating state after being deleted when multiple containers of the pod share a subpath"
**What happened**:
the pod may remain in the Terminating state after being deleted when multiple containers of the pod share a subpath

**What you expected to happen**:
pod delete success

**How to reproduce it (as minimally and precisely as possible)**:
create a pod with multiple containers, write data to a file when the containers start to the same subpath at the same time, and continuously writ

[2020-12-31 09:05] chenyw1990 commented on #97634
/asign

[2020-12-31 09:07] chenyw1990 commented on #97634
/sig node
/sig storage

/assign

[2020-12-31 09:57] ymettier commented on #97525
Hello @yue9944882

Here is the control-plane of my "production" environnement (not the one I described above) :
[code]

Here is the control-plane I described above :
[code]

Here are my config files. I hope they answer your questions
[code]
[code]
[code]
[code]
[code]

[2020-12-31 10:12] adeniyistephen commented on #94091
I would love to update the `build/README.md` file. Thanks

[2020-12-31 10:28] adeniyistephen commented on #94091
Thank you, I will work on the doc. I guess this is the link to the `build/README.md` file https://github.com/kubernetes/kubernetes/blob/master/build/README.md

[2020-12-31 10:37] uablrek commented on #97586
I think this is caused by a mismatch between endpoints and endpointslices. @chymy please try;
[code]
If I am right you should see both addresses while `endpoints` only have one. This would be a bug in K8s, both endpoints and endpointslices should be altered.

I don't have multiple masters so I have tested using a service without selector;
[code]
Then added endpoints and enpointslices;
[code]
For s

[2020-12-31 11:19] surendrakrp08 opened #97636 "Getting error in connection of Master and node ( Not able to connection of master and node)"

[2020-12-31 11:21] gorankarlic commented on #71098
Please reopen issue

[2020-12-31 11:25] surendrakrp08 opened #97637 "Not able to join master and nodes"
error execution phase preflight: couldn't validate the identity of the API Server: Get "https://172.31.12.232:6443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s": net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers) To see the stack trace of this error execute with --v=5 or higher

After sumtime  using “kubeadm token create” o

[2020-12-31 11:35] surendrakrp08 commented on #97637
Hi,
    How can you add appropriate labels using/ please tell me some examples.

Please add an appropriate label by using one of the following commands:

   - /sig <group-name>
   - /wg <group-name>
   - /committee <group-name>

On Thu, Dec 31, 2020 at 4:56 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-12-31 11:36] surendrakrp08 commented on #97636
Hi,
    How can you add appropriate labels using/ please tell me some examples.

Please add an appropriate label by using one of the following commands:

   - /sig <group-name>
   - /wg <group-name>
   - /committee <group-name>

On Thu, Dec 31, 2020 at 4:50 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-12-31 11:42] AlexeyPerevalov commented on #97568
I think the problem you described is possible to solve by GetPreferredAllocation endpoint of the DevicePlugin api  https://github.com/kubernetes/enhancements/pull/1121/files

[2020-12-31 12:08] aojea commented on #97586
There are still some things I can't understand, so:
-  you have 2 apiservers, that means that the `kubernetes.default` service has 2 endpoints, one for each apiserver.
- if you restart one apiserver, there is only one endpoint for the `kubernetes.default` service, why after rebooting the other apiserver you don't have 2 endpoints again? is not working correctly the master node that you rebooted?
-

[2020-12-31 13:19] jayunit100 commented on #96512
If you want to test perks patch that would be great ?

[2020-12-31 13:26] jayunit100 commented on #96717
I'm glad we suggested moving out of service.go....

Ok if we break out the network policy tests into a separate issue that can be fixed in the netpol suite ?

Or do we want network policy tests to specifically live in an SCTP test suite like test/e2e/networking/sctp_integration_test.go ?

[2020-12-31 13:55] #88375 closed

[2020-12-31 14:58] knabben opened #97640 "Increase Netpol E2E tests"
**What would you like to be added**:
Add missing unit test cases based on these [recipes](https://github.com/ahmetb/kubernetes-network-policy-recipes/) and fair deviations when applied.

- [x] <strike>[2a](https://github.com/kubernetes/kubernetes/pull/97616) - Allow Ingress traffic to an application</strike>
- [x] <strike>[4](https://github.com/kubernetes/kubernetes/pull/98390) - DENY all traffic

[2020-12-31 14:58] knabben commented on #97640
/area tests
/sig network

[2020-12-31 15:13] arianvp commented on #95826
https://github.com/kubernetes/kubernetes/issues/65204#issuecomment-473711839 suggests the issue comes from the usage of nested subvolumes. However I am running into this issue and do not have a subvolume for `/var` at all. So the mentione workaround doesn't apply.

[code]

[code]

[2020-12-31 15:24] jagadeeshanubavam commented on #74340
`Kube-scheduler and control-manager not stable`
I1231 15:10:24.481843       1 serving.go:319] Generated self-signed cert in-memory
I1231 15:10:33.228946       1 server.go:143] Version: v1.16.0
I1231 15:10:33.229086       1 defaults.go:91] TaintNodesByCondition is enabled, PodToleratesNodeTaints predicate is mandatory
W1231 15:10:33.231368       1 authorization.go:47] Authorization is disabled
W123

[2020-12-31 16:35] MidoAhmed commented on #61207
Hello,
i have the same issue, my nodejs app pod can't reach mongodb pod,
`Connection error:  MongoNetworkError: failed to connect to server [mongo:27017] on first connect [Error: getaddrinfo EAI_AGAIN mongo
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (node:dns:69:26) {
  name: 'MongoNetworkError',
  [Symbol(mongoErrorContextSymbol)]: {}
}]`

but when I target the mongo service Ip [10.244.2.

[2020-12-31 16:36] lnxvideoguy commented on #81001
I too have been caught out by this. It would be good to see this fixed and have consistency:

[2020-12-31 16:37] zerodefect commented on #81001
I too have been caught out by this. It would be good to see this fixed and have consistency:

[2020-12-31 16:53] sftim commented on #53533
Maybe the MVP version of this is to let the kubelet work on nodes where a swap area is configured, and have the kubelet update the `.status` of the node (maybe a node condition that leads to a taint?). If the kubelet requires a _TolerateSwapConfigured_ setting (or otherwise won't start when swap is active) and such nodes are also tainted by default, then there is a low risk of surprise to cluster

[2020-12-31 17:07] knabben commented on #97640
https://docs.google.com/document/d/1Vyv-andfj13exXf36FsMTG0QnB4Id8BQB4mo49f0oW8/edit#

[2020-12-31 17:09] needkopi commented on #97640
hello @knabben can i take this issue?

[2020-12-31 17:19] missioin-peaks opened #97641 "how to find CPU/Mem consumption of pods running on a specific node"
I am trying to find a way to figure out each pod consumption (CPU/Mem) running on any given k8s worker node for eg.

So basically, when we do $kubectl top nodes, we get the CPU/Mem consumption of each node in the cluster. Now, if I want to drill down on a specific node, and see how much each Pod running on a given node is consuming the CPU/Mem resources. How would I find this, using any kubectl or

[2020-12-31 17:23] knabben commented on #97640
@needkopi feel free to come up with the ones in the list, just raise here the one you'll get and I update the comment.

[2020-12-31 18:27] abelbarrera15 commented on #97525
@ymettier , thanks for sharing. I have resolved the identical issue with your suggestion of

 +    - --feature-gates=APIPriorityAndFairness=false
 +    - --runtime-config=flowcontrol.apiserver.k8s.io/v1beta1=false

[2020-12-31 18:34] needkopi commented on #97640
@knabben maybe i take number 4
[code]

[2020-12-31 19:52] knabben commented on #97640
@needkopi great, we are aiming at the new netpol e2e framework, some other examples:

https://github.com/kubernetes/kubernetes/pull/97616
https://github.com/kubernetes/kubernetes/pull/97524

[2020-12-31 20:18] ehashman commented on #94892
@yehiyam I would suggest you add this to the SIG Node meeting agenda and attend a meeting to discuss: https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit

If the SIG response is positive, the next step would likely be to add a KEP. The required effort to implement this and the required doc changes/user comms would suggest to me this is too large to cover in an issu

[2020-12-31 20:25] ehashman commented on #95204
It is not possible to have a metric available without exposing it. To provide stability information on metrics, similar to APIs, you might want to read up on the [Kubernetes metric stability framework](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20190404-kubernetes-control-plane-metrics-stability.md). There currently are no metrics in Kubernetes itself that are

[2021-01-01 00:23] lauchokyip commented on #96512
Hi @jayunit100, I am new to Kubernetes and I just submitted a PR for fixing the golint error. Do you mind explaining what test perks patch is and how I can help with that ? Thanks!

[2021-01-01 02:07] #93175 closed

[2021-01-01 02:24] ChiefyG-Admin commented on #93175
I don't know but we can work it out together I have a fucking leaning disabilitie gosh dammit fuck I said it ok (sorry for French)

[2021-01-01 05:15] #95204 closed

[2021-01-01 07:15] mitar commented on #69637
I think with Docker being removed from Kubernetes, this is becoming obsolete.

[2021-01-01 07:15] #69637 closed

[2021-01-01 08:02] ncopa commented on #95186
This is solved by https://github.com/kubernetes/kubernetes/pull/96115 which is waiting for a review.

/remove-lifecycle stale

[2021-01-01 08:03] ncopa commented on #95172
/remove-lifecycle stale

https://github.com/kubernetes/kubernetes/pull/96115 fixes this

[2021-01-01 08:16] lyzs90 commented on #90833
I missed the part where hollow nodes are run as pods, so we'll need to modify the hollow node template to bind mount the docker (or cri) socket & binary? I think you'll need this for image preloading later

Let me know if this is what you had in mind and I can put in the necessary changes

[2021-01-01 11:32] oldthreefeng opened #97646 "kubelet not work in raspbian version 1.20.0."
**What happened**:
kubelet not work

**What you expected to happen**:
kubelet work well

**How to reproduce it (as minimally and precisely as possible)**:
download file from offical tar ball .
binary is download from :
https://dl.k8s.io/v1.20.0/kubernetes-server-linux-arm64.tar.gz

**Anything else we need to know?**:

or should i download  https://dl.k8s.io/v1.20.0/kubernetes-server-linux-arm.tar.

[2021-01-01 13:03] jerryzhyliu opened #97647 "Cnot not switch to other From branches/tags from URL: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md"
**What happened**:
From URL:   https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md
switch to  any branches/tags
web link lost: 404 error

**What you expected to happen**:
go to correct link

**How to reproduce it (as minimally and precisely as possible)**:
click the https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md
switch to  any branches

[2021-01-01 13:24] arianvp commented on #95826
I also get the following error message from `cri_stats_provider.go`:

[code]

[2021-01-01 13:25] arianvp commented on #95826
This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/94335 to me

[2021-01-01 13:31] arianvp commented on #94335
Can the fix be backported to 1.19?

`kubeadm` only supports updating one version at a time:

 (https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/)

So this leaves people on btrfs with `1.18` with no upgrade path to `1.21`  which is not really nice.

[2021-01-01 14:00] gjkim42 commented on #94335
@bobbypage
We've discussed this issue at https://github.com/google/cadvisor/pull/2752#issuecomment-745351932

Regarding https://github.com/kubernetes/kubernetes/issues/94335#issuecomment-753317107
What do you think about this?

Thanks!

[2021-01-01 14:44] jerryzhyliu commented on #97647
/sig doc

[2021-01-01 15:34] Toasterson commented on #91570
/remove-lifecycle stale

[2021-01-01 17:08] 0xMH commented on #60903
/reopen

I don't think we reached a conclusion in here. If it's indeed intended that Multiple pods be able to write to a PV with ReadWriteOnce, We should at least update the docs and add an explanation of the PV lifecycle and emphasizing on that the binding process if on the node level and multiple pods which land on the same node can indeed write to a PV with `ReadWriteOnce` Access Mode.

[2021-01-01 17:18] AbirHamzi commented on #97076
Hello everyone, I'm trying to reproduce the CVE but I can't patch the service status. I'm following this example https://blog.champtar.fr/K8S_MITM_LoadBalancer_ExternalIPs/ . I have tried this on AKS cluster and minikube with k8s v1.18 and I always get the same thing, the patch succeeded but the LoadBalancer IP is still the same.

Before Patch:
[code]
Patch command:

[code]
Result:

[code]

After

[2021-01-01 20:18] champtar commented on #97076
@AbirHamzi best guess is that the LoadBalancer controller patch back the service object right away
Try to watch with `kubectl get svc mitm-lb -n kubeproxy-mitm -w -o yaml`
Also try to set `loadbalancerIP` to `192.168.1.241`

[2021-01-01 20:49] YuvalAvra commented on #97076
@AbirHamzi I'm not sure `kubectl get service` shows all load balancer IPs under EXTERNAL-IP, try running `kubectl get service -o json` and see whether your service status contains the IP you've sent in the patch message. The command below can be used to return all services with load balancer IPs.

[code]

[2021-01-01 21:16] AbirHamzi commented on #97076
I did what you said (watch the service during patch + set loadbalancerIP ) . Nothing is changed in the service (there's no controller i guess ) and the patch is succeeded.

[code]

[code]

The following is the service:

[code]

[2021-01-01 21:18] AbirHamzi commented on #97076
Always the old loadbalancerIP .

[code]

[2021-01-01 22:36] ymettier commented on #97525
Hello

Happy new year and good health for everyone !

Good thing that you reproduced the bug and also reproduce my fix.

Now, I guess we need a fix
* that work out of the box for newcomers on Kubernetes on Raspberry Pi. Whatever the solution is (disable APIPriorityAndFairness by default on Raspberry Pi ? Or fix the bug if it is a bug ? Imagine someone who install Kubernetes on a Raspberry Pi for t

[2021-01-01 22:41] champtar commented on #97076
Just tested on AKS 1.18.10, before patching EXTERNAL-IP is pending, and I was able to patch 1.1.1.1 then 1.1.1.2

[2021-01-01 23:04] AbirHamzi commented on #97076
Yes I can patch the externalIP since its path is `/spec/externalIP`. Can you please confirm that you can patch this path `/status/loadbalancerIP/ingress/0/ip`

[2021-01-01 23:18] champtar commented on #97076
By EXTERNAL-IP I mean the output of kubectl get svc, but I'm not touching externalIPs here.
I just copy pasted the commands from my blog, and it still works for me.

[2021-01-02 00:04] AbirHamzi commented on #97076
Yes thank you very much now I'm able to patch the loadbalancerIP I can see it changing in real time I have no idea what was the problem.

[2021-01-02 00:16] howardjohn opened #97651 "Out of bounds panic on YAML parsing"
This bug was privately disclosed and told to open here.

**What happened**:

NewYAMLOrJSONDecoder from k8s.io/apimachinery/pkg/util/yaml has an index out of bounds issue which can cause callers to panic.

Download attached reproducer file
Run golang test:
[code]
When run with k8s.io/apimachinery v0.19.3:

[code]

Additionally, this can be seen in kubectl directly (below is kubectl 1.20.0):

[code]

[2021-01-02 01:29] #93634 closed

[2021-01-02 02:22] oldthreefeng commented on #97646
when doing kubeadm init cause this problem.
[code]

[2021-01-02 02:29] jerryzhyliu commented on #97647
/sig docs

[2021-01-02 04:25] pyramation commented on #41881
running into this limitation as well. When I manually use Traefik I can provide `HostRegExp={subdomain:[a-z0-9-]+}.mydomain.com` https://github.com/traefik/traefik/issues/4219

[2021-01-02 08:30] uablrek commented on #97586
I have now configured a K8s v1.17.9 cluster with feature-gate `EndpointSlice=true` but I can't reproduce the problem;
[code]
As you can see I was wrong about the endpointslices, they are updated, and the weight becomes 0 as it should.

[2021-01-02 08:40] uablrek commented on #97586
Without the `EndpointSlice` feature-gateway it also works (but without endpointslices of course);
[code]

[2021-01-02 08:56] uablrek commented on #97586
I did a `poweroff` on the second master. As @aojea pointed out a `reboot` is transient and the endpoint shall re-appear after reboot. I tested with "watch -n 1 ..." during reboot and the andpoint and the entry in ipvs was only away for a few seconds.

Please make sure to wait a while after reboot to see if what you see as a fault really is a re-appeared endpoint.

And also K8s v1.17.x is no longer

[2021-01-02 09:38] #93711 closed

[2021-01-02 10:39] #93684 closed

[2021-01-02 11:28] AlexanderYastrebov commented on #97651
This piece
https://github.com/kubernetes/kubernetes/blob/43fcd50d50429e469b501ac7774ad2ffb3235b60/staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder.go#L263-L282

attempts to find line+column position of a json syntax error.

To do that it assumes that full input is available which is not true:
1. `jsonDecoder.Buffered()` is [not a full input](https://golang.org/pkg/encoding/json/#Decoder.Buffe

[2021-01-02 12:40] ialidzhikov commented on #86753
/remove-lifecycle stale

[2021-01-02 13:53] xingfeng1234 commented on #90553
/remove-lifecycle

[2021-01-02 13:53] #90553 closed

[2021-01-02 14:43] #93705 closed

[2021-01-02 15:13] mt-inside commented on #84530
Hi, I'm also looking into this area. Not quite the same use-case, but I want to mutate things about a Pod depending on the scheduler's placement of it (Binding create).

A change of the `nodeName` field on the Pod doesn't cause the Pod to go through admission (binding is a weird one that's called a subresource but isn't a sub-tree of the Pod object). All I do see is a create of a binding object, b

[2021-01-02 16:36] jayunit100 commented on #94778
Hi, curious...

By migration do we mean from in tree providers? I think there are a few... azure disk, flex (smb).... what migration paths do we need to test here ?

Sorry if I might be missing context ...

[2021-01-02 16:40] jayunit100 commented on #96639
Ok, makes sense. So the definition of conformance for a mixed OS cluster ... is going to be that the "OS specific" conformance tests pass, and the Linux ones pass as well?

[2021-01-02 17:45] doug62 commented on #47862
This is critical - wondering, as a work around, are there any containers/methods for proxy/mapping UDP in the container/service to TCP and then back to UDP on the outside?

[2021-01-02 19:03] AlexanderYastrebov commented on #97651
Line number calculation added in #25038 and updated in #38525

[2021-01-02 21:33] mattfenwick opened #97657 "remove or comment `FromPort` in netpol tests"
**What would you like to be added**:

Remove or comment `FromPort` from new netpol tests https://github.com/kubernetes/kubernetes/blob/43fcd50d50429e469b501ac7774ad2ffb3235b60/test/e2e/network/netpol/reachability.go#L28

**Why is this needed**:

The `FromPort` field is confusing and undocumented -- we should clarify its role or remove it.

[2021-01-02 21:33] mattfenwick commented on #97657
/sig network

[2021-01-02 21:33] mattfenwick commented on #97657
/assign

[2021-01-02 21:33] mattfenwick commented on #97657
/assign qfen

[2021-01-02 21:34] qfen commented on #97657
+1

[2021-01-02 21:34] mattfenwick commented on #97657
/assign qfen

[2021-01-02 21:35] mattfenwick commented on #97657
/triage accepted

[2021-01-02 21:54] jayunit100 commented on #97657
/triage accept

[2021-01-02 21:55] jayunit100 commented on #97657
/sig network

[2021-01-02 22:51] #85686 closed

[2021-01-02 23:26] jayunit100 commented on #97657
Ahhh I need to build a new dev box that one is busted now

[2021-01-02 23:52] #59031 closed

[2021-01-03 00:46] ash2k commented on #94738
/lifecycle frozen

[2021-01-03 01:17] debMan commented on #56903
We faced the same issue on a small self-managed cluster.
The problem solved by **scaling down** the `coreDNS` pods to 1 pod.
This is a strange and unexpected solution, but it has solved the problem.

Cluster info:
[code]

[2021-01-03 07:13] iggyzap commented on #38532
/remove-lifecycle stale

[2021-01-03 09:00] #93742 closed

[2021-01-03 14:29] jayunit100 commented on #97393
i feel like we can close this as, its not supported yet but there are the above workarounds you can follow along.
if you wanna bring this up at sig-network this thrusday let us know ! https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM/edit

[2021-01-03 14:41] frittentheke commented on #47862
There is some discussion around a more generic solution for port forwarding (to support alternative runtimes) - https://github.com/kubernetes/enhancements/issues/1846

Implementing support for UDP should definitely part of any new solution I suppose.

[2021-01-03 14:49] mattfenwick opened #97660 "add netpol test case for kep #2162 -- target namespace by default label"
**What would you like to be added**:

See https://github.com/kubernetes/enhancements/pull/2162.  Add a test case that verifies that netpols can be created which target based on default namespace labels.  See also https://github.com/kubernetes/kubernetes/pull/96968.

**Why is this needed**:

Add test coverage for a new netpol feature.

[2021-01-03 14:49] mattfenwick commented on #97660
/sig network

[2021-01-03 14:50] mattfenwick commented on #97660
/assign

[2021-01-03 16:14] jingyih commented on #97294
From the provided logs, it looks like all the requests are getting timed out. It looks like the corresponding etcd server could not serve list and watch request - probably because it was not connected to the rest of the etcd cluster.
[code]
@xmudrii Do you have access to the node running etcd? If so, could you check its `/health` endpoint?

[2021-01-03 16:46] AbirHamzi commented on #97076
@champtar I'm working on a gatekeeper policy to block attempts to exploit CVE-2020-8554. Can you please give me your feedback https://github.com/AbirHamzi/gatekeeper-library/tree/master/library/general/CVE-2020-8554

[2021-01-03 17:59] jayunit100 commented on #97472
@ rajibmitra wanna take a crack at this one  today or tomorrow ? we can sync up mid wk and see how its goin
/assign @ rajibmitra

[2021-01-03 17:59] jayunit100 commented on #97472
/assign rajibmitra

[2021-01-03 18:08] rajibmitra commented on #97472
/assign @rajibmitra

[2021-01-03 18:09] rajibmitra commented on #97472
Thank you so much @jayunit100. Looking into it.

[2021-01-03 19:11] #81285 closed

[2021-01-03 19:11] #92925 closed

[2021-01-03 19:12] seh commented on #95083
/remove-lifecycle stale

[2021-01-03 20:10] sbiermann commented on #97525
Hi all and a happy new year,
@ymettier thanks for your investigation and possible workarround for this bug. That saved my night... I have upgraded from 1.19.0 to 1.20.1, hopefully it finally fixes #87615 which i getting every day and now running in the next bug...
Hopefully it will be a solution for 1.20.2...

[2021-01-03 20:23] aojea commented on #97646
This seems a duplicate of https://github.com/kubernetes/kubeadm/issues/2365

[2021-01-03 21:12] #93416 closed

[2021-01-03 22:14] #93708 closed

[2021-01-03 22:14] #93759 closed

[2021-01-03 23:15] #68244 closed

[2021-01-03 23:15] #92861 closed

[2021-01-04 00:14] marckhouzam commented on #59078
It will be possible to move to native zsh completion once/if https://github.com/kubernetes/kubernetes/pull/96087 is merged.

[2021-01-04 00:45] Drugoy commented on #64168
/remove-lifecycle stale

[2021-01-04 01:27] chymy commented on #97586
In the process of rebooting a host, and restarting the kube-proxy of another node, IPVS returned to normal.
K8s v1.17.x `EndpointSlice ` is disabled by default. @uablrek
[code]

There's a 50% chance that this issuewill reproduce.
I tried to `power off` a master node, 40 minutes later, the IPVS rule was deleted.

[2021-01-04 01:51] JorjBauer opened #97662 "Support for arbitrary FQDN as `hostname` inside a pod"
**What would you like to be added**:

The ability for a pod to set its _internal_ `hostname` arbitrarily.

**Why is this needed**:

Older (admittedly not well-designed) services may use `hostname` to determine licensing or service operation characteristics. When migrating services in to k8s, the migration path is muddied by hostname restrictions within the pod itself.

An example service that woul

[2021-01-04 01:55] JorjBauer commented on #97662
/sig node

[2021-01-04 02:15] yqwang-ms commented on #83725
/remove-lifecycle stale

[2021-01-04 02:32] lingsamuel commented on #97637
/sig multicluster

[2021-01-04 02:40] xiaopeng-han commented on #95052
/assign me

[2021-01-04 02:40] holooooo commented on #76370
hello, I wanna handle this. In my intuition, I think controller can delete pod after it created.(this cannot stop high rate), but how controller can  limit pod create rate?

I want to add a backoff in controller/controller_utils: RealPodControl. Is it a right way?

[2021-01-04 02:41] xiaopeng-han commented on #95052
/assign

[2021-01-04 03:12] wzshiming commented on #94892
@yehiyam @gjkim42 are you working on this? else maybe I'd like to try this!

[2021-01-04 03:33] gjkim42 commented on #94892
@wzshiming No, I am not, I think you can try this!

[2021-01-04 05:21] #93361 closed

[2021-01-04 06:22] #92128 closed

[2021-01-04 07:26] abdennour commented on #72196
I returned back today searching on the feature, and i found the issue that i wrote by my hands in front of me.
But unfortunately, it was closed without resolution : (

Please open it again

/open

[2021-01-04 07:51] Huangsh17 commented on #20381
can anyone please tell me how to restart "kube-controller-manager"

[2021-01-04 08:08] holooooo commented on #97504
Job is a stateless workload，maybe you need start multiple job. Or start a standalone queue for parallel execute job https://kubernetes.io/zh/docs/tasks/job/coarse-parallel-processing-work-queue/#%E5%AE%9A%E4%B9%89-job

[2021-01-04 08:15] mitsos1os commented on #96892
It actually ended up being an issue with some in-app logging directly to FluentD DaemonSet.
You can see the issue here: https://github.com/fluent/fluentd/issues/3202
Closing this as not Kubernetes related

[2021-01-04 08:15] #96892 closed

[2021-01-04 08:24] #93747 closed

[2021-01-04 08:29] wanghaoran1988 opened #97676 "kubectl proxy support multi-cluster"
**What would you like to be added**:
`kubectl proxy` commands support multi-cluster
**Why is this needed**:
Currently, `kubectl proxy` only support proxy to the `currentContext` in the kubeconfig.
When we have multiple clusters to manage, if we already have multiple contexst in the kubeconfig, multiple clusters support  will be much easier for us to manage the clusters through proxy.

[2021-01-04 08:29] wanghaoran1988 commented on #97676
/sig cli

[2021-01-04 08:32] couloum commented on #96868
Thanks @dcbw . Unfortunately, I cannot use a custom kernel on these servers as they are for production and we stick with Ubuntu's official packages.
I was hopping that Ubuntu would have backport this patch in their kernel. I'll dig around on Ubuntu side.

[2021-01-04 08:40] pmoust commented on #97110
It's a good to have that classification.
But it doesn't solve for the intra-cluster MITM case, unless I am missing something.
Perhaps added controls (like namespace classification) would help.

[2021-01-04 09:07] CaoDonghui123 opened #97679 "kubeadm error log"
**What happened**:
when run with containerd
[code]

**What you expected to happen**:

no log

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Networ

[2021-01-04 09:13] fip-post-cz commented on #97393
jayunit100 & hbagdi: Thank you for your valuable replies, they brought me a solution, this case can be closed.

Please note this setup is widely known HA configuration on bare virtual machines, it would be nice if there will be direct support in k8s.

More details about solution without k8s:
Physical_Machine_1: Virtual_Machine_A, Daemon_A, Storage_A.
Physical_Machine_2: Virtual_Machine_B, Daemon_B

[2021-01-04 09:59] dezhiShen opened #97682 "can not access other machine by ip from pod inside"
kubernetes can access other machine by ip from pod inside
[code]
but it works on the machine of the node
[code]
and it works on docker container
[code]

* kubernetes version: 1.20
* flannel
* mode: ipvs

[2021-01-04 10:29] dElogics commented on #53533
This must be combined with cgroup limits on memory + swap -- which's incredibly useful when used with a combination zswap + ssd or zram.

[2021-01-04 10:30] wangyysde commented on #97679
Have you installed docker kubelet on the system? The error message of "executable file not found in $PATH"  means you have not installed docker package or installed incorrectly.

[2021-01-04 10:35] wzshiming commented on #97530
Can i work on this issue?

[2021-01-04 10:36] wzshiming commented on #97530
/assign

[2021-01-04 10:46] pacoxu commented on #97679
Per https://github.com/kubernetes/kubeadm/issues/2364, try to rm /var/run/docker-shim.sock and /var/run/docker.sock.

[2021-01-04 10:47] rkojedzinszky opened #97685 "performance regression on ARM: 1.20 apiserver has high cpu usage"
**What happened**:
Cluster was upgraded from 1.19.5 to 1.20.1 using kubeadm. After that, kube-apiserver cpu usage went from 50% to 300%.

**What you expected to happen**:
Expected that apiserver has the same cpu usage.

**How to reproduce it (as minimally and precisely as possible)**:
Update a cluster from 1.19.5 to 1.20.1.

**Anything else we need to know?**:
The cluster is running on sbc hardwar

[2021-01-04 11:06] wojtek-t commented on #97294
Yeah - agree with Jingyi. It doesn't seem like anything bad happened on kube-apiserver - its state just isn't propagated becuase the underlying etcd seem to be disconnected..

[2021-01-04 11:08] wojtek-t commented on #94256
It's not about providing good signal for this.
It's about mimicing what users are generally doing and people won't be working around that bug because they won't know about it.

So we should drop that mitigation so get back to the state where we originally were.

[2021-01-04 11:38] rkojedzinszky commented on #97685
/sig api-machinery

[2021-01-04 11:45] FranciscoKurpiel commented on #97549
I would like to add two small considerations to the behavior of local commands, regarding the standard streams. It would be nice if the behavior of

[code]

And

[code]

For that it might make sense to send by default all outputs of kubectl to `stderr` by default when used with the local command, so  that `stdout` is always from `bar`. If I also care about stderr (second case above) I propose a `-

[2021-01-04 12:04] bl-ue commented on #97530
Go ahead @wzshiming I'd love for you too.  Hopefully my notes help!

[2021-01-04 12:26] hritvikpatel4 commented on #97641
Do these links help you in any way?

1) https://github.com/kubernetes/kubernetes/issues/17512#issuecomment-385803939
2) https://github.com/kubernetes/kubernetes/issues/17512#issuecomment-317757388
3) https://stackoverflow.com/questions/58917468/how-to-get-cpu-utilization-memory-utilization-of-namespaces-pods-services-in-k
4) https://github.com/kubernetes/kubernetes/issues/17512#issuecomment-587431

[2021-01-04 12:34] neolit123 commented on #97679
this is just a warning.
lets track the problem in https://github.com/kubernetes/kubeadm/issues/2364

/close

[2021-01-04 12:34] rikatz commented on #97640
/triage accepted
/assign @knabben

Amin, do you think this is a good first issue, with the current framework? If so we can gather some new contributors, and use your and @jayunit100 skills for the review of the PRs :D

[2021-01-04 12:34] #97679 closed

[2021-01-04 12:36] neolit123 commented on #97646
just skip the preflight check with --ignore-preflight-errors=Mem
the fix will be in 1.21.

[2021-01-04 12:36] neolit123 commented on #97646
/close

[2021-01-04 12:36] #97646 closed

[2021-01-04 12:37] neolit123 commented on #97637
/close
/remove-sig multicluster

please use the support forums instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-01-04 12:37] #97637 closed

[2021-01-04 12:38] neolit123 commented on #97555
please use the support forums for similar discussions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-04 12:38] #97555 closed

[2021-01-04 12:41] neolit123 commented on #97685
please do a `sudo cat /etc/kubernetes/manifests/kube-apiserver.yaml` and show the contents here.
(hide sensitive IPs if needed).

this is the static pod for the kube-apiserver.

also, anything interesting in the logs of the api server?

[2021-01-04 12:44] oldthreefeng commented on #97646
@neolit123
how about question 1 . Raspberry  cpu is armhf like `cat /proc/cpuinfo` , but linux kernel is aarch64 like  `uname -a`  output .
so the server tar ball show be https://dl.k8s.io/v1.20.0/kubernetes-server-linux-arm.tar.gz  not https://dl.k8s.io/v1.20.0/kubernetes-server-linux-arm64.tar.gz . is this right?

[2021-01-04 12:46] CaoDonghui123 commented on #97679
@neolit123  Thank you very much

[2021-01-04 13:00] alinturbut commented on #68737
@jqx306 did you manage to resolve the issue with terminating state? Is your StatefulSet managed by a tool?

[2021-01-04 13:03] sunchill06 opened #97687 "TopologySpreadConstraints related query"
**What happened**:
kube-scheduler scheduled the incoming pod on a node where non-standard node labels/keys were not applied.

**What you expected to happen**:
I expect the incoming pods should be in pending state if the topology spread constraints are not satisifed.

**How to reproduce it (as minimally and precisely as possible)**:
1. Created a cluster with **8** worker nodes. Apply custom labels

[2021-01-04 13:04] jayunit100 commented on #97640
Can we carve this into 5 separate PRs ? I know @mattfenwick was planning on taking a couple , but not sure which ones he was doing

[2021-01-04 13:08] rikatz commented on #97640
YEap, this is the idea :D 1 issue, 5 or more PRs, good first issue, each people that wants pick one :)

[2021-01-04 13:09] knabben commented on #97640
@rikatz absolutely, I think it applies since we have a lot of examples already

/good-first-issue

[2021-01-04 13:11] jayunit100 commented on #97640
@knabben can you add a checkbox for windows tests as well ? Im going to hack on that w @mattfenwick   we can consolidate the work into this mega-issue

[2021-01-04 13:12] knabben commented on #97640
@jayunit100 sure. LMK if you guys need more granularity on the list

[2021-01-04 13:12] sunchill06 commented on #97687
@Huang-Wei @ahg-g , please assist.

[2021-01-04 13:40] rkojedzinszky commented on #97685
On another cluster I could not reproduce the issue. But, on the original one, it happens again if i switch to the newer apiserver image. So, now I am bisecting apiserver to find the commit since it behaves this way, hopefully that will help. I could not spot any interesting in the logs. I will be able to provide more after the bisecting procedure.

[2021-01-04 14:24] sheetalsingala commented on #97640
Can I take up 5 - Allow traffic from other namespaces (w/o NS selector) ?

[2021-01-04 14:27] gavinfish commented on #97687
@sunchill06 `EvenPodsSpread` is disabled by default in 1.18.9, have you enabled its feature gate on both Api server and scheduler?

[2021-01-04 14:28] gavinfish commented on #97687
/sig scheduling

[2021-01-04 14:28] pedrohdz commented on #67014
OK..  I did some digging around to get a better understanding of the problem and figured I would post it here for others that run into similar issues with long volume mount times. Apologies in advance, I know little to no GoLang.

If I'm reading the Kubernetes code correctly, The Azure Managed Disk extension (code?) causing the delay appears to be a call to [SetVolumeOwnership()](https://github.co

[2021-01-04 14:29] knabben commented on #97640
@sheetalsingala sure, LMK if you have any questions

[2021-01-04 15:00] jqx306 commented on #68737
@alinturbut Hi. No, the issue is still outstanding. I am using ArgoCD with this but in my testing to reproduce the issue, I'm not using Argo and instead just testing with kubectl.

[2021-01-04 15:05] hdhakad54 commented on #97682
hello @dezhiShen you can access other machine via fqdn if it uses different service
using the service of that pod you can communicate <service-name>.<namespace-name>.svc.cluster.local
use **ping_ <service-name>.<namespace-name>.svc.cluster.local**

[2021-01-04 15:12] neolit123 commented on #97685
post the above output whenever possible.

[2021-01-04 15:22] rkojedzinszky commented on #97685
[code]

Still bisecting, trying to find the cause. May it relate to the go1.15 upgrade? Building the apiserver with go1.15.6 seems to be working, while building with 1.15.5 results in a wrong binary. But, still I am working to confirm this.

[2021-01-04 15:28] rkojedzinszky commented on #97685
With apiserver built with go1.15.5 I get 300% cpu usage most of the time, and the following log entries appear:
[code]

[2021-01-04 15:41] neolit123 commented on #97685
for other readers, go1.15.5 is the version used to build 1.20:
https://github.com/kubernetes/kubernetes/blob/release-1.20/build/dependencies.yaml#L102

/sig auth

this and similar come when doing rest storage on various apis.
e.g.
https://github.com/kubernetes/kubernetes/blob/95c56ada4b5734c3ddc6c949da6e6db5050c3624/pkg/registry/rbac/rest/storage_rbac.go#L99

[2021-01-04 15:42] neolit123 commented on #97685
/sig scalability

[2021-01-04 15:43] neolit123 commented on #97685
/retitle performance regression: 1.20 apiserver has high cpu usage

[2021-01-04 15:44] gnufied commented on #69699
there is a fix/workaround available now to skip recursive permission change when permissions are already correct - https://kubernetes.io/blog/2020/12/14/kubernetes-release-1.20-fsgroupchangepolicy-fsgrouppolicy/

Can you please try that and let us know?

[2021-01-04 15:46] neolit123 commented on #97685
/kind regression

[2021-01-04 15:47] rkojedzinszky commented on #97685
Definitely it seems that the binary built with go1.15.5 is broken. It ends up on 300% cpu usage and with log messages posted above. Note that I am building apiserver this way:
[code]

Building with go1.15.6 is better, even if not all of the time. Perhaps I am on the wrong way?

[2021-01-04 15:49] neolit123 commented on #97685
this is a detail i've missed from the OP.
since we don't have k8s ARM tests upstream, it is likely why we are not catching this and it could be a golang compiler issue on ARM only.

[2021-01-04 15:51] jayunit100 commented on #97640
great sounds like this is all carved up :) thanks

[2021-01-04 15:52] rkojedzinszky commented on #97685
@neolit123 Sorry for that, I did not mention that explicitly. If it turns out to be a compiler bug, will it trigger a golang upgrade for k8s images?

[2021-01-04 15:55] mattfenwick commented on #97425
/triage accepted

[2021-01-04 15:56] jayunit100 commented on #97640
important note: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/netpol/network_policy.go <-- @sheetalsingala @needkopi  can you also please make sure your test cases arent already covered ?    We have about 31 test cases in the new framework now.  So, you might only need to verify that the tests exist/add a comment to them to describe them properly, in some cases.

( Lets try

[2021-01-04 15:59] rkojedzinszky commented on #97685
I will make a build with golang 1.15.2 too and post the results later.

[2021-01-04 16:02] neolit123 commented on #97685
if we know that a certain golang version is buggy, we can update a specific k8s version to use a golang version that works.
in this case the latest 1.20.x k8s can be updated to not use 1.15.5.

[2021-01-04 16:10] knabben commented on #97640
we are good to go.

/remove good-first-issue

[2021-01-04 16:10] knabben commented on #97640
we are good to go.

/remove-good-first-issue

[2021-01-04 16:19] neolit123 commented on #97682
please use the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-04 16:19] neolit123 commented on #97641
please use the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-04 16:19] #97682 closed

[2021-01-04 16:19] #97641 closed

[2021-01-04 16:19] neolit123 commented on #97636
please use the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if there is a confirmed k8s core bug, log a new ticket.

/close

[2021-01-04 16:19] #97636 closed

[2021-01-04 16:30] rikatz commented on #97640
/remove-help

[2021-01-04 16:31] sidd-1 commented on #96240
Kubernetes version :v1.12.7
OS: Red Hat Enterprise Linux Server release 7.6 (Maipo)
Kernal version: 3.10.0-957.1.3.el7.x86_64

I am also having the same Issue
[code]

[2021-01-04 16:41] adunham-stripe commented on #81756
/remove-lifecycle stale

[2021-01-04 16:41] #96034 closed

[2021-01-04 16:44] neolit123 commented on #97550
/sig release

[2021-01-04 16:48] neolit123 commented on #97662
/sig network

[2021-01-04 16:48] csschwe commented on #95365
A fix for this issue has been submitted by the vendor.

https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1909062

[2021-01-04 16:52] thockin commented on #95365
Thanks for the update!  Super interesting bug :)

[2021-01-04 17:00] kfox1111 commented on #89911
/remove-lifecycle rotten

[2021-01-04 17:00] tsuna commented on #73056
/remove-lifecycle rotten

[2021-01-04 17:25] kow3ns commented on #95457
The DaemonSet controller is working as intended in this case. The controller is not sensitive to trying to schedule around disk pressure or scarce resources. This is not a bug.

[2021-01-04 17:26] kow3ns commented on #95457
/close

[2021-01-04 17:26] #95457 closed

[2021-01-04 17:29] kow3ns commented on #94577
This is likely do to the implementation of the validating web hook that reacts to the StatefulSet. It isn't in the StatefulSet controller, and I could not reproduce it using a simple validating webhook (i.e. one that simply always validated the Pod). If the problem is in the API machinery (i.e. the API server) you should file a bug with sig api-machinery pertaining to validating web hook performan

[2021-01-04 17:29] kow3ns commented on #94577
/close

[2021-01-04 17:29] #94577 closed

[2021-01-04 17:41] rkojedzinszky commented on #97685
Simply compiling 1.20.1 with golang 1.15.2 still produces misbehaving binaries. So, I will do a bisecting again with building binaries as documented, and try to find the bad commit this way. This will take longer on my hardware.

[2021-01-04 17:42] hbagdi commented on #97393
I'm interested in knowing which solution will you be using for your current problem. It also will be useful for someone else who will end up reading this thread in future.

The solution you describe above is the one I'm familiar with as well but that's much harder to pull of it with kube abstractions.

[2021-01-04 18:16] mmahkamov commented on #65835
An alternative workaround, which is less intrusive, is to disable the automounting of the API credentials by setting automountServiceAccountToken to false. This prevents /var/run/secrets/kubernetes.io from being mounted.

[Source](https://stackoverflow.com/a/47737978/2948350)
[Docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-the-default-service-account-

[2021-01-04 18:34] #92799 closed

[2021-01-04 18:34] #93059 closed

[2021-01-04 18:34] #92697 closed

[2021-01-04 18:41] ehashman commented on #95204
Backports in https://github.com/kubernetes/kubernetes/pull/97691 and https://github.com/kubernetes/kubernetes/pull/97692

[2021-01-04 18:47] mkhpalm commented on #97138
Looks like this starts working again for us with kubelet 1.19.5 and 1.19.6 on bionic. It did not work on kubelet versions 1.19.0->1.19.4

[2021-01-04 18:48] SergeyKanzhelev commented on #93882
/close

seems like the corresponding PR wasn't accepted and the issue is not present on 1.19+

[2021-01-04 18:49] #93882 closed

[2021-01-04 19:26] Huang-Wei commented on #97687
@sunchill06 thanks for the report.

This bug should have been fixed by #95812, and backported to 1.19 (#95880) and 1.18 (#95883). So give a try on the latest 1.18 patch release and let me know if it still exists.

[2021-01-04 19:50] tmmorin commented on #79606
/remove-lifecycle stale

[2021-01-04 20:04] robscott commented on #92928
/reopen
/remove-lifecycle rotten

[2021-01-04 20:07] gnufied commented on #55946
The reason we taint such nodes is - because once a node has one or more volumes stuck in "attaching" state, it most likely means any attempts to attach new volumes to same node will result in same failure.

There could be two reasons for volume stuck in attaching state:

1. It could be because node has reached attach limit and in which case obviously new volumes can not be attached to the same nod

[2021-01-04 20:10] zerkms commented on #92851
/remove-lifecycle stale

[2021-01-04 20:31] rkojedzinszky commented on #97685
So, apiserver behavior is a bit random regarding this issue. What is true that on my hardware (orange pi pc) the apiserver needs around 85 cpu seconds to boot up, after that it consumes ~10% cpu time. When a build is bad, apiserver passes the 85 cpu seconds and still uses more cpu than 10%, sometimes even 300%. So, based on this, bisecting shows 0809220fd04d26892f0fcfd3bf54cc4baeda22da is first ba

[2021-01-04 20:39] huffmanca commented on #89281
/remove-lifecycle stale

[2021-01-04 20:43] rkojedzinszky commented on #97685
Reverting that commit on 1.20.1 makes apiserver behaving as before. Consistently it finishes its bootup in 90 seconds, and then cpu usage gets to its normal 10-50%, it depends on load-balancer.

[2021-01-04 20:49] rkojedzinszky commented on #97685
By the way, the problem is not just high cpu usage, but during bootup and high cpu usage, apiserver stays in not ready state, thus kubelet restarts it after failed liveness probes. So it may cause service outage.

[2021-01-04 21:15] jasonkyzer commented on #72196
/open

[2021-01-04 21:20] davi5e commented on #72196
I read somewhere that in order to support regex it would require a server side component to evaluate the results and this would not go into Kubernetes because of reasons (good reasons, I just don't remember the explanation).

Not sure where I read this though. Take it with a grain of salt.

[2021-01-04 21:33] jasonkyzer commented on #72196
Exactly. I am proposing a small server-side element to allow for the
processing of filtered queries.

On Mon, Jan 4, 2021 at 3:20 PM davi5e <notifications@github.com> wrote:

--

Jason Kyzer
202.355.5898

[2021-01-04 21:43] davi5e commented on #72196
If the server side is in fact needed and memory serves me, it was very much denied in another thread...

[2021-01-04 21:48] ChiefyG-Admin commented on #72196
/retest

/close

[2021-01-04 22:03] marosset commented on #97490
/triage accepted

[2021-01-04 22:50] mattfenwick commented on #97657
/triage accepted

[2021-01-04 23:05] thockin commented on #97110
Gateway should be the basis for the distinction between internal and external.

[2021-01-04 23:08] fip-post-cz commented on #97393
I've made RBAC+ServiceAccount for my pod, and I'm patching pod's label "app-role" via kubectl directly in readinessProbe, after pod's role change. (I agree that this should be done more precisely and safely with a sidecar).

`kubectl patch pod <pod name> --patch '{"metadata":{"labels":{"app-role":"<app role>"}}}'`

pod1: label app:foo, label app-role:`<dynamic>` e.g. master
pod2: label app:foo, la

[2021-01-04 23:10] adambkaplan commented on #94279
/close

[2021-01-04 23:10] #94279 closed

[2021-01-04 23:12] knabben commented on #97640
https://hackmd.io/He6sagihRySJKHPlC-vjWw - Getting the diff between the new and old suites coverage.

1. New one has one more test - `should enforce policy based on Multiple PodSelectors and NamespaceSelectors`
2. New one has UDP - `should not allow access by TCP when a policy specifies only UDP`

The new ones under `netpol/` have more tests.

[2021-01-04 23:31] thockin commented on #97110
Proposd impl: https://github.com/kubernetes/kubernetes/pull/97395

[2021-01-04 23:32] maximilien commented on #76951
/remove-lifecycle stale

[2021-01-04 23:37] lancelot1989 commented on #95457
Kenneth Owens <notifications@github.com>于2021年1月5日 周二01:26写道：

my question is why the disk pressure node stuck the rolling update
procedure? It just take much more time than usual,even it is not a bug,it
is still an improvement

[2021-01-05 01:41] claudiubelu commented on #97027
I don't really see how. Other images are doing something similar too. For example, the pause image also has its BASEIMAGEs and VERSION in its Makefile.

Not all images are built exactly the same, or have the same base image, or are built for the same arch types. Some of them are from scratch, others are from an alpine image, others are from a different alpine image, others are from a debian image.

[2021-01-05 02:20] wzshiming commented on #97577
@purestare3 It should be here, Do you think this should provide a useful error message?
https://github.com/kubernetes/kubernetes/blob/506156842cde2180ce5351ca298a13c59f191d89/staging/src/k8s.io/client-go/discovery/discovery_client.go#L407-L419

[2021-01-05 03:01] Huangsh17 opened #97703 "Unable to create deployment"
We have been unable to create a deployment. Here is a screenshot of the log output
![image](https://user-images.githubusercontent.com/27496367/103601803-69206300-4f45-11eb-977a-54d17d19e875.png)

[2021-01-05 03:10] feiskyer commented on #97467
Kindly ping @staebler. Do you have the detailed steps of repro?

[2021-01-05 03:20] laopisai opened #97704 "apiserver does not respect ip addresses in no_proxy when connecting to ingress-controller"
**What happened**:
I set up a kubernetes cluster behind corporate proxy, one master node and one worker node. I configured the proxy setting in `/etc/environment` before running `kubeadm`.

contain of `/etc/environment`:
http_proxy="http://corporate.proxy"
https_proxy="http://corporate.proxy"
no_proxy="localhost,127.0.0.1,192.168.0.1/24,10.96.0.0/12,172.16.0.0/16"

node: 192.168.0.1/24
pod: 172.16

[2021-01-05 03:43] #93734 closed

[2021-01-05 05:13] wzshiming commented on #97703
The log looks normal! Can you provide an example of replication?

[2021-01-05 05:24] yangjunmyfm192085 commented on #97703
Provide more information？

[2021-01-05 05:33] wzshiming commented on #97703
Yes, Follow the bug-report template!  What happened? What you expected to happen?

[2021-01-05 05:51] lingsamuel commented on #96149
@alculquicondor Could you explain more about the "implementation issues"? I read some [previous discussion](https://app.slack.com/client/T09NY5SBT/C09TP78DV/thread/C09TP78DV-1569425304.011600), I think these conversations indicate the `kube-scheduler` is not the right place to handle this feature, but I think we can create a `NodeAffinityManager` like [TaintManager](https://github.com/kubernetes/k

[2021-01-05 06:18] sunchill06 commented on #97687
Thanks @Huang-Wei , will that be 1.18.14?

[2021-01-05 07:28] Jiawei0227 commented on #92237
Some digging process:

To be specific, this comment: https://github.com/kubernetes/kubernetes/pull/81431#discussion_r341216734

So IIUC we decide not to import any GA topology labels for in-tree volumes. Instead doing it in the csi migration translation process. And ideally after the CSI migration GA, all in-tree volume will start to use GA version node affinity. So the beta label is not a concern

[2021-01-05 09:29] liupeng0518 commented on #9043
Is there any quick "hack" to replace image without killing it?

[2021-01-05 10:22] wzshiming commented on #97704
Try adding `*.svc` to no_proxy before creating the cluster (eg. no_proxy="*.svc,localhost,127.0.0.1,192.168.0.1/24,10.96.0.0/12,172.16.0.0/16")

[2021-01-05 10:53] pigletfly commented on #72881
/remove-lifecycle rotten

[2021-01-05 10:54] pigletfly commented on #85966
/remove-lifecycle rotten

[2021-01-05 10:55] wzshiming commented on #97676
Try this and see if it meets your needs
`kubectl config view -o template --template='PIDS=""{{"\n"}}{{range $index, $elem := .contexts}}kubectl proxy --context={{$elem.name}} --port=1000{{$index}} &{{"\n"}}PIDS="$! $PIDS"{{"\n"}}{{end}}trap "kill $PIDS" 0{{"\n"}}wait' | sh -`

[2021-01-05 11:09] frittentheke commented on #45509
@alishah730 you might want to read this recent kubernetes.io blog post by Cockroach Labs: https://kubernetes.io/blog/2020/12/21/writing-crl-scheduler/

I believe the combination of StatefulSet options + PDB + Pod Topology Spread Constraints might only get you so far.

[2021-01-05 11:21] ingvagabund commented on #4301
@alishah730 not yet. The energy is now focused on finishing https://github.com/kubernetes/enhancements/pull/1828 proposal. Using annotation based approach. Feel free to drop comments or share you use case there.

[2021-01-05 11:31] ingvagabund commented on #91983
/remove-lifecycle stale

[2021-01-05 11:34] ingvagabund commented on #94715
/remove-lifecycle stale

[2021-01-05 11:51] #90759 closed

[2021-01-05 12:00] harche opened #97722 "Static pod should be updated by respecting terminationGracePeriodSeconds"
**What happened**:
Let's say, I have a following sample static pod yaml,
<details>
<summary>Click to expand pod yaml</summary>

[code]
</details>

I want to simulate the pod update, so we will change the container image tag from `latest` to `1.33.0`
<details>
<summary>Click to expand modified pod yaml</summary>

[code]
</details>

When I replace the original pod yaml with the modified pod yaml in

[2021-01-05 12:00] harche commented on #97722
/sig node

[2021-01-05 12:15] neolit123 commented on #97685
we had long discussions in the past where RPI users complained about the kubeadm probe defaults. we claimed something else is not right if the probes are failing, so i think you are confirming that.

i can the release team and api-machinery about this ticket, but note post the holidays responses will be slow.

[2021-01-05 12:15] ChiefyG-Admin commented on #94956
hack/verify-all.sh

[2021-01-05 12:19] ChiefyG-Admin commented on #94956
/kind bug

/retest

Sig

ChiefyG-Admin
Aka Park-Chief5
Aka Todd Gifford
Aka ChiefKoda
Aka Chiefy

[2021-01-05 12:20] ChiefyG-Admin commented on #94956
/remove-lifecycle rotten
/remove-lifecycle stale

[2021-01-05 12:21] neolit123 commented on #97703
please use the support forums instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-01-05 12:22] #97703 closed

[2021-01-05 12:22] ChiefyG-Admin commented on #94956
cmd/kubeadm/app/util/certs/BUILD

[2021-01-05 12:23] ChiefyG-Admin commented on #94956
/assign

[2021-01-05 12:27] ChiefyG-Admin commented on #94956
/sig windows

[2021-01-05 12:28] neolit123 commented on #97685
/retitle performance regression on ARM: 1.20 apiserver has high cpu usage

[2021-01-05 12:28] ChiefyG-Admin commented on #94956
/remove-lifecycle stale

[2021-01-05 12:29] ChiefyG-Admin commented on #94956
/retest

Sig

ChiefyG-Admin
Aka Park-Chief5
Aka Todd Gifford
Aka ChiefKoda
Aka Chiefy

/close

[2021-01-05 12:30] neolit123 commented on #97704
/kind support
/sig api-machinery

[2021-01-05 12:30] neolit123 commented on #97704
/sig network

[2021-01-05 12:35] heqg opened #97724 "In order to keep the code clean, it is better not to add useless parameters when writing and invoking functions"
**What would you like to be added**:
In order to keep the code clean, it is better not to add useless parameters when writing and invoking functions.
However, the actual situation may not meet this requirement.It should be relatively easy to audit these and fix-up.
for example,  (ns *v1.Namespace , syncPeriod time.Duration) is not userd in function createAdClients[kubernetes/test/integration/volum

[2021-01-05 12:39] heqg commented on #97724
/sig testing

[2021-01-05 12:39] frittentheke commented on #4301
@alishah730 since you also replied to https://github.com/kubernetes/kubernetes/issues/45509 ... may I repeat myself:

https://github.com/kubernetes/kubernetes/issues/45509#issuecomment-754570164

[2021-01-05 12:47] frittentheke commented on #54498
/remove-lifecycle rotten

[2021-01-05 12:48] wojtek-t commented on #78481
/remove-lifecycle stale

[2021-01-05 12:57] ChiefyG-Admin commented on #89008
Please review fejta bots ability to stay current in the past and future.. the bot has become abusive with repeat after repeat within seconds.... thanks tho fejta the human...

[2021-01-05 12:58] ChiefyG-Admin commented on #89008
/review requested

[2021-01-05 13:00] wojtek-t commented on #97484
@zhuchance  - what version of the provisioner you're using?

Assuming I'm not missing something, this has already been fixed quite long time ago in newer versions of the provisioner.
Ref https://github.com/kubernetes/kubernetes/issues/81403
Ref https://github.com/kubernetes/kubernetes/pull/81620

[2021-01-05 13:05] ChiefyG-Admin commented on #89008
I like your solution.  Another thought is to adjust the code to replace any value other than "0" with "0"  while retaining a list that will be omitted from the replacement case.  List is for obvious reasons as instances will occur where access should be denied.  Maybe opens up security risk though now that I think it through..  is there some permission sequences that could be of use here? Or perme

[2021-01-05 13:06] ChiefyG-Admin commented on #89008
Remove-lifecycle stale

[2021-01-05 13:38] adtac commented on #94836
/remove-lifecycle stale

[2021-01-05 13:41] adtac commented on #91120
@Aut0R3V see https://github.com/kubernetes/kubernetes/tree/master/pkg/scheduler/framework/plugins#creating-a-new-in-tree-plugin - that section essentially needs to be written.

[2021-01-05 13:41] adtac commented on #95156
Closing in favour of https://github.com/kubernetes/kubernetes/issues/91120 (duplicate)

/close

[2021-01-05 13:50] baens commented on #89008
I love the idea that you could go through early on and check if you even have permissions. That would makes sense instead of trying and just letting the error let you know what went wrong. However, I don't know the API well enough to even know if that is possible.... Any pointers on where to look?

[2021-01-05 14:07] wojtek-t commented on #82364
It seems fine now:
https://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Network&metricname=Load_NetworkProgrammingLatency&Metric=NetworkProgrammingLatency

[2021-01-05 14:07] #82364 closed

[2021-01-05 14:30] gavinfish opened #97725 "Add instructions in PR template to choose SIGs"
**What would you like to be added**:

Add instructions in PR template to choose SIGs.

**Why is this needed**:

Now we need both Kind and SIG labels before a PR can be merged(refer to kubernetes/test-infra/pull/19827). Even though fejta-bot can help us identify SIGs in some cases, but  sometimes it is difficult for bot to add the right and full SIGs involved. As we can see, [PRs with do-not-merge/

[2021-01-05 14:42] mattfenwick opened #97727 "Improve network policy documentation to point out resolution of allow/deny ingress/egress conflicts"
**What would you like to be added**:

A short comment to network policy's types.go explaining that for traffic to be allowed, both ingress and egress must be allowed, whereas if either one is denied then traffic is denied -- even if the other is allowed.

**Why is this needed**:

Based on https://github.com/kubernetes/kubernetes/issues/97489, we realized that this is a subtle case which often trip

[2021-01-05 14:43] mattfenwick commented on #97727
/sig network

[2021-01-05 14:47] alculquicondor commented on #95752
Or we can leave this as is. I'm not quite liking having a constant timeout.

[2021-01-05 14:49] mattfenwick commented on #97727
/triage accepted

[2021-01-05 15:05] rkojedzinszky commented on #97685
I suspect, that the mentioned commit fixes things in a way that it actually places more cpu load, I mean https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/metrics/sample_and_watermark.go#L204 expression evaluates to true more often. The attached profiling data may be a proof for this.

[2021-01-05 15:05] alculquicondor commented on #96149
cc @damemi who was involved in taint based evictions

[2021-01-05 15:56] liggitt opened #97729 "kubectl-convert cannot convert Ingress objects"
**What happened**:

Tried to convert a v1beta1 Ingress object to v1, and received the following error:

[code]

**What you expected to happen**:

The conversion to work.

**How to reproduce it (as minimally and precisely as possible)**:

v1beta1.yaml:
[code]

Then run:
[code]

/sig cli
/assign @soltysh

[2021-01-05 15:57] ahg-g commented on #95752
Can we close this issue? I think the existing behavior is reasonable and we don't need to change anything.

[2021-01-05 16:03] rkojedzinszky commented on #97685
It seems that on slower hardware, operations are distributed into more sample periods (time.Millisecond), which makes more calls to the expensive metrics.Observe functions. Before the mentioned fix, due to quantization bug, those calls were not made every time.Milliseconds. Now they are, and profiling data proves this. Can we raise the samplePeriod, can it be made configurable?

[2021-01-05 16:03] damemi commented on #96149
I wasn't very involved in the early design for TBE, but part of the legwork to get it to GA was officially handing it off to the node team for ownership.

So I agree with @alculquicondor here (and what you said, @lingsamuel) that this is probably similarly out of the scheduler's scope. This is because the scheduler is generally not concerned with pods after they've been placed on a node.

Some of

[2021-01-05 16:06] rindoze commented on #97420
It appears that even with a shorter period, the scale down behavior still is ignored:

Reference:                                                                  Deployment/myDeployment
Metrics:                                                                    ( current / target )
  "myKakfkaTopic-myConsumer" (target average value):  0 / 1
Min replicas:

[2021-01-05 16:13] 842Mono commented on #97143
@aojea @neolit123 Can I get anymore help on this?

[2021-01-05 16:16] neolit123 commented on #97685
sig api machinery can provide feedback on this.

[2021-01-05 16:21] lingsamuel commented on #96149
I think the only thing related to `DuringExecution` that may change after a pod is scheduled is node labels (while pod's NodeAffinity and node's metadata.name is immutable at runtime). So IMO it's a node lifecycle problem.
I made a quick NodeAffinityManager prototype today, the implementation is simple and the basic case works well. If it's an acceptable solution, I would like to create a PR later

[2021-01-05 16:47] damemi commented on #96149
@lingsamuel sure, opening a PR doesn't hurt :) This may be big enough to merit its own KEP though, @alculquicondor wdyt?

[2021-01-05 17:01] denkensk commented on #87850
/remove-lifecycle stale

[2021-01-05 17:04] liggitt commented on #97685
is that accurate? my reading of the fix is that the quantize method returns results with the same granularity, which respect the monotonic clock now.

https://github.com/kubernetes/kubernetes/pull/96530/files#diff-550e44ca986c3a38068378ac63dca6bc182b1626b920ae87161c1195ebc71100L93

[2021-01-05 17:10] alculquicondor commented on #96149
Definitively requires a KEP, but not up to sig-scheduling (us) to approve

[2021-01-05 17:12] lavalamp opened #97733 "Remove OpenAPI formats that don't make much sense."
We document (as of https://github.com/kubernetes/kubernetes/pull/85381) that we support the following formats:

[code]

This list is somewhat random and offers some types that I'd strongly recommend folks not use. I'd like to see the following changes, in order of how important it is and how difficult:
* Remove all references to go ("as parsed by..."), this is not helpful to anyone using go, or to

[2021-01-05 17:13] lavalamp commented on #97733
cc @liggitt @sttts @deads2k @DirectXMan12 @apelisse

[2021-01-05 17:19] rkojedzinszky commented on #97685
@liggitt Perhaps not. That was just my assumption. But still, profiling data shows (at least for me) that metric.Observe calls take most of the time, while reverting the mentioned commit solves my problem. Somehow less calls are made to them.

[2021-01-05 17:22] liggitt commented on #97685
/assign @MikeSpreitzer

[2021-01-05 17:40] rikatz opened #97734 "Rename labelNodeRoleExcludeBalancer to labelNodeExcludeBalancers"
Follow up of PR #97543 - labelNodeRoleExcludeBalancer should be renamed to labelNodeExcludeBalancers on the code

https://github.com/kubernetes/kubernetes/pull/97543/files#diff-f167d56c014f674b14a82e27dd7cf48484e362e08909dc016d63c5270da6b7a0R64

If you want to deal with this issue/PR, please assign this issue to yourself first and then mention this in the PR

/kind cleanup
/triage accepted
/good-f

[2021-01-05 17:40] rikatz commented on #97734
/remove-kind bug

[2021-01-05 17:41] rikatz commented on #97734
/sig network

[2021-01-05 17:49] brandond commented on #97685
We have numerous K3s users reporting perf issues (and crashes in the cronjob controller) on armv7l. I can reproduce it locally on my Pi nodes as well. I hadn't gotten around to digging into it yet, so I'm glad someone else has done so.

[2021-01-05 17:57] #91615 closed

[2021-01-05 17:59] gjkim42 commented on #97722
May I try this as my first contribution?
As a result of the test so far, static URL Pod also has the same issue.

[2021-01-05 18:03] rkojedzinszky commented on #97685
I've added a little debugging:
[code]

And I got strange results, a snippet from stdout:
[code]

Check out the high `whenI` on the 4th line. That causes a long-long loop to start. And there are more of such lines.

If I refactor the code to remove the inline func() and do the Unlock() and the end of the block, this behavior goes away, apiserver goes back to normal. May it be a compiler bug?

[2021-01-05 18:24] neolit123 commented on #97685
earlier you've mentioned:

did you confirm that the newer toolchain does not produce code that exhibits the problem?

seems likely. in the past i've seen at least one compiler bug-like report from a k8s user.

[2021-01-05 18:42] edsoncelio commented on #97734
/assign @edsoncelio

[2021-01-05 18:43] rikatz commented on #97734
@edsoncelio welcome :)

Let me know if and how I can help you

/remove-help
/remove-good

[2021-01-05 19:03] msau42 commented on #92237
Yes, however, we may want to reconsider that decision, mainly due to user confusion. Users may see their PVs getting created with deprecated beta labels, try to modify the labels themselves, and the csi migration library doesn't properly translate it.

[2021-01-05 19:13] alculquicondor commented on #87850
It's complementary. The flush still happens even if there are no events.

[2021-01-05 19:19] ehashman commented on #53533
I have put together a draft document that lists use cases, scope, and current proposals, and shared it with the SIG Node group: https://docs.google.com/document/d/1CZtRtC8W8FwW_VWQLKP9DW_2H-hcLBcH9KBbukie67M/edit#

Please take a look, document missing use cases, and add your name to the "Contacts" section of the doc if you are interested in contributing!

We are looking at targeting 1.22 for alpha

[2021-01-05 19:28] BondAnthony commented on #86064
I'm leaving this info here for future users. I've hit this problem multiple times within us-east-1 specifically. This occurs on encrypted EBS volumes only.

From AWS support EBS team:

We see this issue randomly when provisioning >1TB GP2 volumes. Our current workaround has been to delete a PVC and let kubernetes recreate the PV, this has worked for our use case today. I think operating system cho

[2021-01-05 19:30] wojtek-t commented on #97484
@msau42 - FYI

[2021-01-05 19:46] #97542 closed

[2021-01-05 19:48] Skybladev2 commented on #42649
Still experience it with minikube v1.16.0

[2021-01-05 19:48] karan commented on #53533
And here's my doc with some implementation details and ideas: https://docs.google.com/document/d/1qFH-RA7GvaEidOnp7Y-QwAZ8g5Zcyk28VkEJFWcEX-U/edit

[2021-01-05 19:57] #94495 closed

[2021-01-05 20:07] rkojedzinszky commented on #97685
I've applied the following patch on release-1.20:
[code]

And this produces strange results:
[code]

It can be observed that from the third `quantize` line, the function receives strange `when` values. Later normal values appear, but sometimes the calculated `whenInt` is a large positive integer, which triggers a long running loop.

Unfortunately, I am not familiar with golang's internals, and cou

[2021-01-05 20:10] Huang-Wei commented on #95752
Hmm, I'm more inclined to stick to the current semantics to wait for the Pod deletion event to propagate.

BTW: Clayton raised a point in another issue to suggest coming up with a consistent mechanism to identify a "terminal" Pod earlier, in both scheduler and kubelet. If we have that in place, scheduler won't need to depend on the Pod deletion event, and hence resolve/mitigate some issues (like t

[2021-01-05 20:10] brandond commented on #97685
I think this is an arm32 division overflow/underflow issue? I'm currently testing a minor change to confirm/deny this hunch, but building for arm takes forever so it's still running.

https://github.com/brandond/kubernetes/commit/ac3bed05047b93f36de569f5783b251da7165a75

[2021-01-05 20:14] hbagdi commented on #97393
Great. Thanks for sharing this!
As you pointed out, this is not the safest of solutions but gets the job done.

[2021-01-05 20:24] Huang-Wei commented on #97687
I think it's available on 1.18.12 and onwards.

[code]

[2021-01-05 20:24] davidvossel commented on #53533
Great to see some traction here. This is a feature that the KubeVirt community is keen on leveraging as soon as possible. I'll share a bit about our use case for context.

The KubeVirt project allows managing traditional virtual machines in a Kubernetes cluster. The expectations around VMs differ from those of pods. As opposed to pods, VMs are long running "immortal" workloads that survive being k

[2021-01-05 20:24] verult commented on #95268
/remove-lifecycle stale

[2021-01-05 20:28] msau42 commented on #97484
We fixed this for csi provisioner but not the deprecated provisioners in external-storage. We migrated 4 of the provisioners to new repos: nfs-subdir-external-provisioner, nfs-ganesha-external-provisioner, gluster-file-external-provisioner and gluster-block-external-provisioner. Those repos need to be updated similarly like:
https://github.com/kubernetes-csi/external-provisioner/pull/323

@kmova @

[2021-01-05 20:30] msau42 commented on #97484
Oh actually, https://github.com/kubernetes/kubernetes/pull/81620 was already done for the old external-storage repo. We need to check why this didn't get propagated when we migrated them to the new repos.

[2021-01-05 20:32] wilsonehusin commented on #97027
oh right, apologies for the confusion. I was referring to having a Dockerfile as a whole, but your explanation is very helpful for me to gain more context about image usage in our infrastructure -- thank you for elaborating 😃

I agree the _what_ isn't significant, but the _where_ worries me a bit. I guess in some ways I kind of wish that there is way for this work to simply exist in [k/k8s.io](htt

[2021-01-05 20:33] msau42 commented on #97484
Ah, it is because https://github.com/kubernetes-retired/external-storage/pull/1208/files only updated nfs ganesha provisioner, and not the subdir one.

[2021-01-05 20:40] #96671 closed

[2021-01-05 21:17] erikwilson commented on #97685
It looks like the time value is being corrupted when being passed into quantize somehow, would be nice to try and reproduce with a very small executable. k3s has a long history of arm32 issues like this that I suspect is a core golang issue, but hard to reproduce and isolate, arbitrary code changes could change the result.

[2021-01-05 21:28] liggitt commented on #97685
you could try running something like this, which exercises the local logic of the old and new quantize methods and checks that they output roughly similar values (some drift is expected because one uses wall clock and the other uses monotonic clock)

[code]

I was able to run this for several minutes on linux/amd64 with no problematic values output

[2021-01-05 21:35] MikeSpreitzer commented on #97685
Yes, it looks like parameter corruption rather than a division problem.  _very_ strange.

[2021-01-05 21:42] brandond commented on #97685
Yeah my simple change to the quantize didn't make any difference. That combined with the strange output from the debug printing @rkojedzinszky added does indicate some sort of corruption to the when time struct that's being passed in, rather than bad math on the parameter.

[2021-01-05 21:52] MikeSpreitzer commented on #97685
Presumably all the unit tests are passing on the arch & OS you are using.

[2021-01-05 21:53] MikeSpreitzer commented on #97685
But there are no unit tests focused on that.  It's on the to-do list.

[2021-01-05 22:08] MikeSpreitzer commented on #97685
If we created unit tests for this file, would somebody be running them on the arch & OS involved here?

[2021-01-05 22:20] marosset opened #97739 "Add Windows container device support to CRI-API"
**What would you like to be added**:

I would like to see CRI-API updated to be able to support assigning devices to Windows containers.

**Why is this needed**:
Windows and Linux containers have different methods for specifying what deices to make available to them per OCI spec

Windows uses id and idType (https://github.com/opencontainers/runtime-spec/blob/master/config-windows.md#devices) while

[2021-01-05 22:23] marosset commented on #97739
/triage accepted
/milestone v1.21

[2021-01-05 22:38] brandond commented on #97685
I put in a `klog.Fatalf`check in quantize to grab a stack trace if when is before t0:
[code]

[2021-01-05 22:50] warmwaffles commented on #94335
I am running up against this issue as well. I am stuck with using k8s on 1.18

[2021-01-05 22:53] grosser commented on #95380
/remove-lifecycle stale

[2021-01-05 23:11] DirectXMan12 commented on #97733
I think the list of ones that I'd keep, off the top of my head, are

- uri
- ipv4
- ipv6
- cidr
- uuid

In the long term, I think we should add some more k8s-specific ones as well, but that's a separate issue ;-)

Specific comments:

It's pretty much impossible to validate email except by trying to send to it, so email is one of those ones that doesn't make much sense to have IMO, unless you're tr

[2021-01-05 23:25] CyberPoison commented on #94464
/close

Just follow this in case you are in RKE like me, [StackOverFlow Thread](https://stackoverflow.com/questions/63719307/how-to-change-kubelet-options-in-rke-like-eviction-hard-nodefs-available-imagef)

[2021-01-05 23:25] #94464 closed

[2021-01-05 23:27] kevpar commented on #97739
Looking at the DirectX plugin, it seems they are just ignoring most of the `Device` struct and passing the device class as `host_path`.

See here: https://github.com/aarnaud/k8s-directx-device-plugin/blob/master/cmd/k8s-device-plugin/main.go#L49-L53
[code]

Maybe this is being interpreted the way they want in dockershim today, but I don't think there is any support for this in containerd. It also

[2021-01-05 23:30] kevpar commented on #97739
Since `pluginapi` defines its own mirror of CRI's `Device` struct, we would need to define a Windows specific variant of this as well, if we take that approach for CRI.

https://github.com/kubernetes/kubernetes/blob/v1.16.15/pkg/kubelet/apis/deviceplugin/v1beta1/api.proto#L163-L174
[code]

[2021-01-05 23:34] aojea commented on #97143
you are going through a very complex and unsupported scenarios, suggestions can help but I'm not confident that will fully work, as I said in https://github.com/kubernetes/kubernetes/issues/97143#issuecomment-742110316
 I suggest you to start small and iterate

[2021-01-05 23:53] schroedt opened #97741 "Kubernetes API-Server doesn't start using OIDC"
Hello everyone,

I think I am facing an issue, similar to [#64206](https://github.com/kubernetes/kubernetes/issues/64206).
When adding OIDC (Keycloak), running inside the affected On-Prem Kubernetes cluster, I receive errors, when switching from client type `public` to `confidential`(requiring a client secert). Once re-configured, API Server refuses connections. Further, port of Master Node is not

[2021-01-05 23:56] bobbypage commented on #94335
@gjkim42

It sounds like for full fix, we'll need to cherrypick https://github.com/google/cadvisor/pull/2752 to be included in k8s 1.19 and 1.20. To do that the following is needed:

1. Backport https://github.com/google/cadvisor/pull/2752 to cAdvisor v0.37 and v0.38 branches
    * k8s 1.19 uses cAdvisor v0.37.3 - https://github.com/kubernetes/kubernetes/blob/release-1.19/go.mod#L56
    * k8s 1.20

[2021-01-06 00:09] schroedt commented on #97741
/sig auth

[2021-01-06 00:35] dims commented on #97565
cc @SergeyKanzhelev

[2021-01-06 00:46] brandond commented on #97685
This seems like papering over a compiler problem, but this fixes it for me: https://github.com/brandond/kubernetes/commit/1a4e511830a482897c586f767bf32cad479fdae4

[2021-01-06 00:46] fejta-bot opened #97744 "pr:pull-kubernetes-e2e-ubuntu-gce-network-policies flaked 4 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-ubuntu-gce-network-policies
 Flakes in the past week: **4**
 Consistency: **78.90%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-network] Networking IPerf [Experimental] [Slow] [Feature:Networking-Performance] should transfer ~ 1GB onto the service endpoint 1 servers (maximum of 1 clients) | 6 |

[Flakiest Jobs](https://sto

[2021-01-06 01:01] 2rs2ts commented on #88293
/remove-lifecycle stale

[2021-01-06 01:01] 2rs2ts commented on #70585
/remove-lifecycle stale

still very much an issue, causes lots of pain for us

[2021-01-06 01:09] #96853 closed

[2021-01-06 01:47] chendave commented on #95752
/close
As this issue is not big issue anymore after some code change in the upstream, close it as won't fix.

[2021-01-06 01:47] #95752 closed

[2021-01-06 01:58] MikeSpreitzer commented on #97685
@brandond : that is interesting info.  I would prefer to not merge that change, we have another mystery where the monotonic time seems to go backwards, and I would hate to lose half the debug info from that.  I will add unit tests for the sample-and-watermark histograms; can somebody please run them on the arch & OS involved here?

[2021-01-06 02:24] brandond commented on #97685
The time going backwards stuff all seems to be related to VM time sync, isn't it?

In this case the compiler seems to be doing something that's corrupting the time struct out from under the anonymous function; the fact that it appears to be going backwards is not (as far as I can tell) due to host time actually jumping backwards into the dark ages with a weird TZ offset.

[2021-01-06 02:49] MikeSpreitzer commented on #97685
I am not sure whether the monotonic time going backwards is the same bug.  It was observed on Intel arch.

I suspect another way to paper over the compiler bug would be to switch the argument to `quantize` from pass-by-value to pass-by-reference.

I suspect a compiler bug would be a valuable thing to find.  I am working on unit tests for this package.  They will involve dependency on the Prometheu

[2021-01-06 02:57] jayunit100 commented on #78429
im seeing this in eks:  the logs for the vpc admission webhook indicate that it seems to be working... but its 'skipping mutation' ..  So, i guess that skipping of the mutation is causing the pods to not have necessary labels for the CNI to move finish assigning its IPs?

[code]

Are you saying that this deployment should run in a different namespace, i.e. , in the `default` namespace , and that y

[2021-01-06 03:06] brandond commented on #97685
The incidenys I have personally seen or helped users with time sync issues have all been VMs on Intel. If there are non-virtualized platforms with this issue it'd be interesting to see. Simply preventing the sampling time bucket from going backwards seems reasonable, which appears to be what the fix was attempting to do.

I was figuring I'd have to run the entire Kubernetes test suite, so anything

[2021-01-06 03:26] williamsbdev commented on #82440
I've experienced the same issue using `/bin/true` in our pod `liveness` and `readiness` probes.

Additionally, I noticed this request for more information:

Here is the output in our environment:

[code]

**Environment:**

Kubernetes version (use kubectl version): 1.17.13-gke.2001
Cloud provider or hardware configuration: GKE (n1-standard-4)
OS (e.g: cat /etc/os-release): Container-Optimized OS (c

[2021-01-06 03:30] umialpha commented on #97420
Hi, it means it removes **at most** 200 pods. From the [algorithm](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details),  the new size "7", "6", etc. not "1".

[2021-01-06 03:30] wzshiming commented on #97722
I can't reproduce this phenomenon with the v1.20.0 version. What is your version?

[2021-01-06 03:31] jayunit100 commented on #97744
the flakes should now be resolved by #97702 , can someone merge ? its a one character change.  We just need an `/approve` , @aojea has already reviewed it

[2021-01-06 03:33] borgerli opened #97750 "NewReplicaSet shows <none> when describing deployment"
Create a deployment as described in `How to reproduce it` section, and run 'kubectl describe deploy/test`

**What happened**:
`NewReplicaSet` shows `<none>`, while `OldReplicaSets` shows the current replicaset infomation
[code]

**What you expected to happen**:
`NewReplicaSet` shows the current replicaset infomation, while `OldReplicaSets` shows `<none>`
[code]
**How to reproduce it (as minimally

[2021-01-06 03:35] jayunit100 opened #97751 "Windows and linux differentiated support for netpol suite (networkpolicy tests for windows)"
**What would you like to be added**:

Ive done preliminary testing with `agnhost` on calico powered clusters on some windows variants and found that the probing seems to work.

Can we add

[code]

wrapper to netpol suite so that we can run it on windows clusters @mattfenwick ?

**Why is this needed**:

We need this because otherwise, CNIs such as EKS will give us

[code]

This error is caused when

[2021-01-06 03:35] jayunit100 commented on #97751
/sig windows

[2021-01-06 03:35] jayunit100 commented on #97751
/assign @mattfenwick

[2021-01-06 03:46] borgerli commented on #97750
/sig cli

[2021-01-06 03:46] laopisai commented on #97704
Thanks for the suggestion. Maybe this should be part of  `kubeadm init` pre-flight warning?

[2021-01-06 04:57] #96888 closed

[2021-01-06 05:15] wzshiming commented on #97704
@neolit123  What do you think? Is it possible to add this pre-flight warning?

[2021-01-06 05:35] neolit123 commented on #97704
i don't like the idea of adding this in preflight because it's setup specific.

[2021-01-06 05:36] neolit123 commented on #97704
closing this as it's not a bug and a support ticket.
in the future please use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-01-06 05:36] #97704 closed

[2021-01-06 05:53] rkojedzinszky commented on #97685
@liggitt Your small program is running on arm for minutes now without any errors. It needs more to trigger the compiler bug.

[2021-01-06 05:54] rkojedzinszky commented on #97685
I will be able, though I will need instructions how to do that.

[2021-01-06 06:02] MikeSpreitzer commented on #97685
Here is a typescript of me running the new unit test:

[code]

That's using the branch in #97753

[2021-01-06 06:03] wzshiming commented on #97729
@liggitt  Can i work on this issue?

[2021-01-06 06:09] wzshiming commented on #97729
/assign

[2021-01-06 07:03] sunchill06 commented on #97687
Thanks a lot @Huang-Wei . I don't have the setup with 1.18.12 as of now, but soon will have it. I will test it then and come back if any issues.

[2021-01-06 07:46] matzegebbe commented on #13358
@lukasmrtvy Does the EndpointSlice work for you? I still get (<error: endpoints "k8s-host" not found>) in my ingress

[2021-01-06 08:13] harche commented on #97722
Sure, thanks. If you find anything useful to fix this, please feel free to share it here.

Yes, static HTTP pods will have the same issue.

[2021-01-06 08:14] harche commented on #97722
1.20.0

Yes, but this is just a sample workload to demonstrate that if that while updating the static pods do not honor `terminationGracePeriodSeconds`.

[2021-01-06 08:20] b10s commented on #95817
Is there an easy way to check in which version of k8s this fix is applied?
Label, milestone, etc?

[2021-01-06 08:48] rkojedzinszky commented on #97685
On ARM, I get similar results:
[code]

[2021-01-06 09:28] krmayankk commented on #72253
@tallclair i have verified with help from @saschagrunert that cri-tools has RunAsGroup test coverage for both containerd and CRI-O and we dont need to publish these results to k/k. So i believe this issue can be closed as no op. Also i have verified that test coverage exists and no further tests are need wrt RunAsGroup. Can you confirm we can close this issue ?

[2021-01-06 10:27] harche commented on #97722
While going over following kubelet logs,

[code]

notice that the mirror pod deletion doesn't respect `terminationGracePeriodSeconds`. The mirror pod is immediately deleted. There was this PR https://github.com/kubernetes/kubernetes/pull/92442 by @tedyu that should have prevented this from happening. Looking into why the `terminationGracePeriodSeconds` is not respected while deleting the mirror po

[2021-01-06 10:31] harche commented on #97722
/cc @sjenning @rphillips

[2021-01-06 10:38] neolit123 commented on #97744
/sig network

[2021-01-06 10:53] liyongxin opened #97758 "deleting the built-in cluster admin clusterrole does not seem to have any impact on authentication and authorization"
**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:"e19964183377d0ec2052d1f1fa930c4d7575bd50", GitTreeState:"clean", BuildDate:"2020-08-26T14:30:33Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
Cent

[2021-01-06 10:54] liyongxin commented on #97758
/sig auth

[2021-01-06 11:19] henrik-m opened #97759 "kubelet: don't check for the Docker cgroup driver on Windows"
**What happened**:

I have a Kubernetes Cluster with 2 Windows Server 2019 Core VMs as worker nodes. I upgraded first the cluster, and then the first Windows node following the docs here: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/upgrading-windows-nodes/

Every step ran without issue, but the kubelet service was not started. This was not immediately obvious, since "restart-servic

[2021-01-06 11:32] schroedt commented on #97741
Hello,

I noticed [Kubernetes Documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) does not name an option for secret.

`    - --oidc-client-secret=***`

Therefore I assume that's the reason API-Server failing starting up.
Further, API Server does not come up, using:

[code]

When cascading with " ", it works:

[code]

**Open Questions**

- Can someone

[2021-01-06 11:44] rtheis commented on #92067
/remove-lifecycle stale

[2021-01-06 11:57] pacoxu commented on #97759
this may cause by the default value of defaultCgroupDriver  cgroupfs

Would you provide the `docker info` from Windows node?

[2021-01-06 12:01] pacoxu commented on #97759
https://github.com/kubernetes/kubernetes/blob/a439bc55724f6560c14bf4e025946c0e6312629b/pkg/kubelet/dockershim/docker_service.go#L258-L274

/assign

[2021-01-06 12:09] aojea commented on #93281
/remove-lifecycle stale

[2021-01-06 12:28] jayunit100 commented on #97393
Great...  thanks for posting ! Please feel free to get involved with the community if you want to further this discussion ... we meet every other Thursday

[2021-01-06 12:51] Aut0R3V commented on #91120
Thanks! Working on it.

[2021-01-06 12:57] Aut0R3V commented on #97724
Seems interesting, anything I can do here?

[2021-01-06 13:05] anapsix commented on #86531
still an issue in `1.19.4`
one of the long running pods died, got rescheduled, ended up being mutated to include an init container, but init container did not run
[code]

[2021-01-06 13:06] neolit123 commented on #97759
kubeadm doesn't do anything about cgroup drivers on Windows because cgroups don't exist on Windows.
ideally the kubelet checks about this should be skipped entirely in dockershim for non-Linux.

[2021-01-06 13:10] pacoxu commented on #97759
![image](https://user-images.githubusercontent.com/2010320/103771871-84819000-5063-11eb-9d35-9d7b377483f5.png)
However, windows docker return `cgroup driver` as cgroupfs.

[2021-01-06 13:18] neolit123 commented on #97759
probably `docker info`'s output is the same structure on all OSes with `cgroupfs` being a default value.
this field should not be checked on Windows at all.

[2021-01-06 13:20] liggitt commented on #97758
kubeadm creates superuser credentials with the built-in superuser group (`system:masters`):

https://github.com/kubernetes/kubernetes/blob/v1.20.0/cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go#L418-L424

this group is automatically authorized to perform any action, regardless of RBAC configuration (or even RBAC enablement):

https://github.com/kubernetes/kubernetes/blob/v1.20.0/staging/src/k8s.i

[2021-01-06 13:20] #97758 closed

[2021-01-06 13:21] liggitt commented on #97685
/remove-sig auth

[2021-01-06 13:24] liggitt commented on #96046
/remove-sig auth
/kind support

Is something else deleting the secret in the background? If you start this in another tab before doing the apply, do you see a delete event?

[code]

[2021-01-06 13:25] Sh4d1 opened #97763 "ConnectionUpgrades in kube-aggregator API does not use the given roundtripper"
**What happened**:
When using the egress selector, connection upgrade on the kube-aggregator API do not use the egress endpoint and thus timeouts

**What you expected to happen**:
The connection to be upgraded successfully
**How to reproduce it (as minimally and precisely as possible)**:
Upgrading a connection to a kube-aggregator API (in this case with kubevirt console output).
**Anything else we

[2021-01-06 13:26] ASAPHAANING commented on #96046
@liggitt It was a service account secret as opposed to a generic one. Thanks for paying attention to it though.

[2021-01-06 13:26] #96046 closed

[2021-01-06 13:26] #96991 closed

[2021-01-06 13:27] Sh4d1 commented on #97763
/sig api-machinery

[2021-01-06 13:30] liggitt commented on #97062
/remove-sig auth
/sig api-machinery apps

While going from secrets -> configmaps does not have exactly the same security implications as #79224, requiring consumers of Secret objects to potentially make additional API requests to ConfigMap objects in order to get the intended content has the same implications noted in https://github.com/kubernetes/kubernetes/issues/79224#issuecomment-655551516

Th

[2021-01-06 13:36] liggitt commented on #92551
This can be accomplished by defining the individual envvars, then composing envvars into a new envvar:

[code]

[2021-01-06 13:36] #92551 closed

[2021-01-06 13:40] willdeuschle opened #97765 "Object count quotas API has sharp edges"
**What would you like to be added**:
Validation of object count quotas would help prevent misuse. The syntax is currently `count/<resource>.<group>` for non-core groups, meaning a count quota like `count/jobs` or `count/deployments` will be accepted but have no effect.

**Why is this needed**:
This recently bit us when quotas for a resource in a non-core group exceeded what we thought to be our co

[2021-01-06 13:41] liggitt commented on #97741
If your prefixes contain a colon, you need to quote them (since the : character is significant in yaml)

By default, nodes rely on the node authorizer, so you need to include that as well (`--authorization-mode=Node,RBAC`)

[2021-01-06 13:46] mattfenwick commented on #97751
👍

@jayunit100 grepping around, I can't figure out where those are supposed to go.  Can you give me pointers?

[2021-01-06 13:56] qfen commented on #97657
The TestCase.FromPort member isn't passed to the Probe function (as expected; you'd normally not bother with calling bind(2) for a client TCP connection). Working on separating the unnecessary uses from when it's actually desired.

[2021-01-06 14:09] schroedt commented on #97741
Hi @liggitt,

I updated the configuration `--authorization-mode=Node,RBAC` and API Server comes up. I wonder if RBAC is realy working, as I can still utilize kubectl without authentication:

[code]

Is this somehow correlating to:

[code]

[2021-01-06 14:16] liggitt commented on #97741
your kubeconfig is not using keycloak_user, it is using kubernetes-admin, which (if generated by kubeadm) has a client certificate with superuser authority

[2021-01-06 14:17] schroedt commented on #97741
Hi @liggitt,

isn't the super-certificate over-written by RBAC? I will try switching the context.. Got to find out how :-)

[2021-01-06 14:19] liggitt commented on #97741
No. Authorization is additive, so the built-in superuser group received permissions regardless of RBAC enablement or configuration.

Add a new context and reference it like this:

[code]

[2021-01-06 14:27] schroedt commented on #97741
I updated the file:
[code]

Afterwards access is denied:
[code]

[2021-01-06 14:29] liggitt commented on #97741
That means kubectl is not successfully obtaining a token the API server recognizes for authentication

[2021-01-06 14:31] vladimirfx commented on #97062
The idea of this issue is to support of composition of Secret objects from other Secret objects in cluster Secret resource management logic. Consumer not aware of this at all. Very like substitution of env vars in other env vars. Such logic may be implemented as new attribute in Secret object (eg template).
Of cause such functionality can be implemented as custom resource in its own controller but

[2021-01-06 14:32] schroedt commented on #97741
Could it be, that some RoleBinding is missing?

**ID-Token**
[code]

**Refresh-Token**
[code]

[2021-01-06 14:34] liggitt commented on #97062
For better or worse, there are many consumers of config directly from Secret API objects. Changing the meaning of the fields in Secret objects to include other data by reference would break those consumers.

[2021-01-06 14:34] liggitt commented on #97741
No, the "You must be logged in to the server (Unauthorized)" error is an authentication error, not an RBAC error

[2021-01-06 14:39] vladimirfx commented on #97062
Ah, now I understand witch type of consumers you are mention.
So it seems new resource type is required. I am closing this issue and will try to implement custom controller for this.

[2021-01-06 14:39] #97062 closed

[2021-01-06 14:39] rphillips commented on #97722
/triage accepted

[2021-01-06 14:39] schroedt commented on #97741
Therefore something in Keycloak. I got an successful login at Keycloak:

![grafik](https://user-images.githubusercontent.com/6430367/103780452-45d4e100-5035-11eb-9b5d-fc6056dca2fc.png)

[2021-01-06 14:40] harche commented on #94223
Maybe similar to, https://github.com/kubernetes/kubernetes/issues/97722

[2021-01-06 14:41] harche commented on #94223
/remove-lifecycle rotten

[2021-01-06 14:45] ahg-g commented on #85677
/remove-lifecycle rotten

[2021-01-06 14:45] ahg-g commented on #85677
/remove-lifecycle stale

[2021-01-06 14:47] MikeSpreitzer commented on #97685
@rkojedzinszky : dang.  Can you try it a few times?  If that does not provoke the problem, perhaps you can edit the test to do a lot more iterations?  You can also cut down on the warning noise by making a much smaller fraction of the cases have time going backwards.

[2021-01-06 15:17] detiber commented on #25625
/remove-lifecycle stale

[2021-01-06 15:21] deeco commented on #88574
https://github.com/etcd-io/etcd/issues/11949#issuecomment-755346079

[2021-01-06 15:46] rkojedzinszky commented on #97685
Running multiple times results in some failing. Sometimes there are cases when 3 consecutive runs are successful. So basically, the test triggers the issue, but not deterministically. Even with iterations set to 1000, there are still successful test runs.

[2021-01-06 15:57] MikeSpreitzer commented on #97685
Is that close enough to submit as a compiler bug report?

[2021-01-06 16:04] neolit123 commented on #97685
is the logic non-flaky on ADM64?

for a compiler bug, the maintainers are likely to request the failing code disassembled, so that they don't have to clone k8s or a minimal code example that fails.

[2021-01-06 16:36] ahg-g commented on #97303
Sounds reasonable to me.

[2021-01-06 16:36] ahg-g commented on #97303
feel free to open a PR for that.

[2021-01-06 16:50] MikeSpreitzer commented on #97685
I am getting non-flaky results on this:
[code]

I think I have gotten the test to be about as simple as makes sense for a kube unit test.  I will have to leave the compiler bug hunting to people more familiar with ARM.

[2021-01-06 16:58] liggitt commented on #97685
I tried to make a stdlib-only file that exercises the same call patterns w.r.t. variable scope as the original at https://gist.github.com/liggitt/7cf544f833b6baec029bb21dc247ecfd

what does that do when run on ARM?

[2021-01-06 17:06] dunefro commented on #97501
@liggitt  How to resolve the issue ? I am also facing the same issue in the api-server service logs
[code]

[2021-01-06 17:11] erikwilson commented on #97685
Interesting, running the tests by @MikeSpreitzer on an rpi4 I am able to trigger two different issues:
1. The clock is NOT monotonic and can go backwards
2. The time IS corrupted periodically when being passed into `quantize`

I am also not able to trigger any issues running those tests on Darwin.

However, running the stand-alone go file by @liggitt I am not able to trigger any problems on the rp

[2021-01-06 17:16] liggitt commented on #97501
Provide values for the required flags:
* --service-account-issuer (https://kubernetes.default.svc.cluster.local is a reasonable choice if you don't have a permanent public URL for the cluster you are creating)
* --service-account-signing-key-file (the same file provided to kube-controller-manager with --service-account-private-key-file is a reasonable choice)

[2021-01-06 17:26] MikeSpreitzer commented on #97685
@erikwilson : sorry if it wasn't clear, but the test introduced by #97753 uses a fake clock that is set backwards in some cases just to test how the metrics code reacts to that.

[2021-01-06 17:29] jonesbr17 commented on #97320
@pacoxu That is correct, the purpose of this issue is to get a new image built and released, one which contains a resolution for the CVE.

[2021-01-06 17:37] eddiezane commented on #97750
/assign @rikatz

[2021-01-06 17:38] eddiezane commented on #97729
/triage accepted

[2021-01-06 17:40] rkojedzinszky commented on #97685
@liggitt @erikwilson Same here, on an OrangePI armv7 board, the single stdlib-only test does not produce any errors.

[2021-01-06 17:47] rkojedzinszky commented on #97685
Later I will do a test on arm64 as well.

[2021-01-06 17:50] erikwilson commented on #97685
woops, ah thank you @MikeSpreitzer I had to add to use the `-v` flag with go test to see those messages in Darwin and missed that part of the test code.

At least the arm32 corruption issue is reproducible with that unit test, but I suspect that attempts to reduce the code space for the problem may cause it to go away, so maybe an issue of memory management or executable code layout. Unfortunately

[2021-01-06 17:55] schroedt commented on #97741
I scripted login using [CLI-Tool from Toshiaki Maki](https://github.com/making/k8s-keycloak-oidc-helper/blob/master/k8s-keycloak-oidc-helper.sh). Looks like I had an mismatching user within my `kubectl conf`.

Now I get a new error, due to incorrect RoleBinding:

[code]

I will deploy a mapping for my Keycloak Group `Platform Administrators`:

[code]

[2021-01-06 17:58] eddiezane commented on #97103
/triage accepted

[2021-01-06 18:02] eddiezane commented on #97676
/cc @pwittrock

[2021-01-06 18:30] msau42 commented on #74374
/remove-lifecycle rotten

@cofyc @NickrenREN can you clarify if there is still a race?

[2021-01-06 18:31] MikeSpreitzer commented on #97685
BTW, I updated #97753 to always log an info message explaining what's up with the warnings.

[2021-01-06 18:36] neolit123 commented on #97685
i don't know how to handle go mod imports with `go tool compile -S file.go` and some of the golang intrinsics are weird, but you could instead:
- build the unit test as a binary with `go test -c`
- `go tool objdump` the binary and `grep -A <n-lines>` for the object code of interest
https://golang.org/cmd/objdump/
- log a ticket @ golang and share the dissasembly
- you might also be able to use gdb

[2021-01-06 18:39] MarSik commented on #53533
@ehashman @davidvossel I would like to point out one additional use case for swap with regards to Virtual Machines.

It is possible to save memory by using KSM (deduplication) and/or memory ballooning (reusing memory currently unused by a VM). Both techniques allow higher VM density for use cases where not all the VMs are active at the same time or all the time. Virtual desktops (VDI, VM per stude

[2021-01-06 18:39] erikwilson commented on #97685
Thanks a bunch @neolit123! Was just looking into the compiled test, that is a great guide & will submit an issue with golang.

[2021-01-06 18:55] Aut0R3V commented on #93100
Hey anything I can do here

[2021-01-06 18:57] Aut0R3V commented on #92674
Hey this looks intresting, I can take this up if no one's working on it

[2021-01-06 18:58] Aut0R3V commented on #93188
Hey is anyone working on this?

[2021-01-06 19:14] Aut0R3V commented on #7923
This looks interesting, I'd like to work on this. Can someone help me with the progress here?

[2021-01-06 19:17] Aut0R3V commented on #96512
That sounds great @jayunit100. Where do I get started?

[2021-01-06 19:24] Aut0R3V commented on #91120
@adtac I went through the PR's mentioned in #90859 and the respective commits.

@pancernik 's explanation gave rough overview here.

Basically what I have to rewrite the documentation in this context right? Please correct if I'm wrong here.

[2021-01-06 19:25] rkojedzinszky commented on #97685
On arm64 the tests succeeded multiple times, no failures.

[2021-01-06 19:43] rkojedzinszky commented on #97685
Compiled the test code for i386 resulted in:
[code]

On i386 the test code triggers the bug too.

[2021-01-06 19:58] ebehar-openai opened #97778 "Azure disk PVC failing to detach/reattach when a pod in a deployment changes nodes"
**What happened**:

A pod with a successfully attached and mounted Azure Disk from a PersistentVolumeClaim was restarted on a different node. When it restarted, the volume that the pod was meant to have attached and mounted to it failed to reattach due to a multi-attachment error. This error never resolved, and so the pod was unable to access the PV referenced by the claim.

**What you expected to

[2021-01-06 20:13] rkojedzinszky commented on #97685
Different GOGC settings results in different test failure rate:

[code]

[2021-01-06 20:24] BenTheElder commented on #97724
/remove-sig testing
/sig storage
SIG storage owns there test, SIG testing owns the CI tools and test frameworks etc.

[2021-01-06 20:25] BenTheElder commented on #97461
/sig storage
/remove-sig testing
either the VMware group under SIG cloud provider or SIG storage own these tests, SIG testing own the test frameworks and CI infrastructure.

[2021-01-06 20:26] BenTheElder commented on #97331
/remove-sig testing
SIG Testing own the test frameworks, CI infrastructure etc. SIGs own their own test cases, in this case I think SIG API Machinery for the clients
/sig api-machinery

[2021-01-06 20:28] BenTheElder commented on #97277
What test are you running? I don't recognize anything SIG testing owns here.
This sounds more like an issue with your cluster provider or the (not owned by us) istio tests.
/remove-sig testing

[2021-01-06 20:31] BenTheElder commented on #97195
I don't know what CNTT tests are but that doesn't sound like anything we own upstream. `helm_chart_valid` is also not something we do in any upstream tests.

https://cntt-n.github.io/CNTT/ appears to be something third party, please file an issue with them?

Alternatively if you're looking for upstream tests related to this, here's the answer:

- we don't test helm, helm is not part of kubernetes

[2021-01-06 20:31] #97195 closed

[2021-01-06 20:33] BenTheElder commented on #95011
this doesn't appear to be an issue currently.

[2021-01-06 20:34] BenTheElder commented on #94622
/sig api-machinery
/remove-sig testing
AFAICT this is specific to these tests, not the test framework or CI infrastructure.

[2021-01-06 20:39] howardjohn commented on #95407
/remove-lifecycle stale

[2021-01-06 20:41] Riaankl commented on #94867
/remove-lifecycle stale

[2021-01-06 21:05] #97425 closed

[2021-01-06 21:06] Riaankl commented on #90877
/remove-lifecycle stale

[2021-01-06 21:19] Riaankl commented on #81759
/remove-lifecycle rotten

[2021-01-06 21:22] Riaankl commented on #80770
/remove-lifecycle rotten

[2021-01-06 21:22] chewong opened #97780 ""repository name must be lowercase" when building pause image for Windows 20H2"
[code]

We could either:
1. `echo ${OSVERSION} | tr [:upper:] [:lower:]` where appropriate - least amount of code change but cumbersome
2. Encode OS version in the tag instead of the repository

/cc @claudiubelu

[2021-01-06 21:43] Jiawei0227 opened #97781 "pull-kubernetes-e2e-azure-disk-vmss CI is failing"
**Which jobs are failing**: pull-kubernetes-e2e-azure-disk-vmss

**Which test(s) are failing**: pull-kubernetes-e2e-azure-disk-vmss

**Since when has it been failing**:

**Testgrid link**:
Example: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/97777/pull-kubernetes-e2e-azure-disk-vmss/1346890657825820672

**Reason for failure**:

**Anything else we need to know**:

This CI job for pr

[2021-01-06 21:44] Jiawei0227 commented on #97781
/area azure

[2021-01-06 21:48] Jiawei0227 commented on #97781
@msau42 Can you help to find an Azure team owner to take a look?

[2021-01-06 21:56] liggitt commented on #92535
Following discussion in the December 9th and January 6th sig-auth meetings, rather than adding APIs around request signing, using a local authenticated proxy (kubectl -> local proxy -> apiserver) is preferred. This proxy could be configured globally via proxy envvars or per-cluster with the `proxy-url` field in a kubeconfig file. This would allow the proxy to sign requests, as well as do other des

[2021-01-06 21:56] #92535 closed

[2021-01-06 21:57] alculquicondor commented on #97169
/area batch

[2021-01-06 22:01] alculquicondor commented on #97170
/area batch

[2021-01-06 22:02] ankeesler commented on #91913
I was able to reproduce that `get` behavior. I created around 1000-ish (1094 to be exact) `configmaps` in a single namespace, ran `kubectl get configmaps -o yaml`, and saw those warning messages.

---

Currently I partition this GH issue up into 3-ish chunks, in order from most egregious to least egregious:
1. `kubernetes/staging/src/k8s.io/kubectl/pkg/cmd/describe/describe.go` should not be creat

[2021-01-06 22:03] ehashman commented on #97277
/kind support
/remove-kind bug

This doesn't seem that unusual to me. CPU utilization/idle % does not scale the same way memory does. Often utilization at just 35% of a system indicates high throughput. Workloads need available CPU in order to be responsive to incoming requests, or else you risk increased CPU-bound latency. (You can read about how this can't be modelled on a linear curve in this b

[2021-01-06 22:03] alculquicondor commented on #97170
/area workload-api/job

[2021-01-06 22:03] alculquicondor commented on #97169
/area workload-api/job

[2021-01-06 22:04] liggitt commented on #97351
Thanks for the request, but to accomplish this, the authorizer would need to be queried once for every namespace in the cluster. This could involve a remote call if a webhook authorizer was configured. Allowing a single API request to trigger an unbounded number of cluster-wide server-side requests is not desired.

/close

[2021-01-06 22:04] #97351 closed

[2021-01-06 22:04] alculquicondor commented on #96748
/area workload-api/deployment

[2021-01-06 22:04] ehashman commented on #97138
/sig instrumentation

[2021-01-06 22:05] liggitt commented on #97741
That is correct

[2021-01-06 22:08] liggitt commented on #91913
Anything that customizes a function in rest.Config is uncacheable (see https://github.com/kubernetes/kubernetes/pull/95427), so rapidly creating lots of clients from a config is still not great

[2021-01-06 22:09] ehashman commented on #97138
Is this bug still present on 1.20/master? I don't see anything in the 1.19.5 release notes suggesting a bug was fixed. Indeed, the file @pacoxu linked above hasn't been changed since 2019.

[2021-01-06 22:10] ehashman commented on #97138
/triage accepted
/priority awaiting-more-evidence

[2021-01-06 22:11] ehashman commented on #97131
/priority awaiting-more-evidence

[2021-01-06 22:11] liggitt commented on #94791
any update here?

[2021-01-06 22:12] ehashman commented on #97273
/sig security
/triage accepted

[2021-01-06 22:12] liggitt commented on #94123
I'm not inclined to add configuration to production builds we would not want enabled in production. Could you accomplish the same thing with a custom build?

[2021-01-06 22:14] ehashman commented on #97218
@neolit123 this was backported to 1.18: https://github.com/kubernetes/kubernetes/pull/89536

[2021-01-06 22:16] ehashman commented on #97218
@aliceroy as @pacoxu suggested can you please upgrade to 1.18.3+ and confirm that does not fix the problem?

I'm going to close this as I believe the issue was fixed, there is just some confusion about the backport.

/close

[2021-01-06 22:16] #97218 closed

[2021-01-06 22:16] liggitt commented on #91506
#95856 dropped API server support for the insecure port in 1.20, and only allows apiserver invocations that set the flag to set it to `0`

/close

The recommended approach is to allow anonymous requests to /healthz or /readyz.

[2021-01-06 22:17] #91506 closed

[2021-01-06 22:20] MikeSpreitzer commented on #97685
I am able to reproduce that.

[code]

[2021-01-06 22:20] msau42 commented on #97781
@andyzhangx can you help take a look?

[2021-01-06 22:20] msau42 commented on #97781
/assign @andyzhangx

[2021-01-06 22:45] tallclair commented on #36666
CRI streaming will only happen locally, so I don't think it's worth adding this anymore. See:
- https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1558-streaming-proxy-redirects
- https://github.com/kubernetes/enhancements/issues/1558

[2021-01-06 22:45] #36666 closed

[2021-01-06 22:47] tallclair commented on #36667
I think we can close this for now, since streaming will be proxied through the kubelet going forward. See:
- https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1558-streaming-proxy-redirects
- kubernetes/enhancements#1558

[2021-01-06 22:47] #36667 closed

[2021-01-06 22:51] #97741 closed

[2021-01-06 23:09] apelisse commented on #84530
The feature started before the KEP process, so our KEP is mostly work-in-progress. I'm trying to get people to update the KEP as we implement specific features for it, but it's still far from complete.

This feature/bug is mostly unrelated to server-side apply, and the api-expression working group is focused on graduating server-side apply to GA at this time.

If you want to get involved in solvin

[2021-01-06 23:11] deeco commented on #88574
same here , not ideal and will to reimplement all :(

[2021-01-06 23:15] mt-inside commented on #84530
Yeah I'll take a look, shall we have a chat? 🙂

[2021-01-06 23:17] apelisse commented on #84530
I'd love it! Happy to talk on Slack (apelisse@) whenever you want :-) Also feel free to join #wg-api-expression

[2021-01-06 23:23] lavalamp commented on #97733
We have these things in our API, in services / endpoints etc. Do they present in OpenAPI like this? (I doubt it)

It's not enough to be useful, if it conflicts with the way we already represent something, that's confusing at best.

[2021-01-07 00:14] heqg commented on #97724
Thank you for your support.
For the above problems, I have submited two PRs.
https://github.com/kubernetes/kubernetes/pull/97561,
https://github.com/kubernetes/kubernetes/pull/97567
Can you help me to review them?
If reasonable, it is better to merge into master
thanks very much

[2021-01-07 00:15] heqg commented on #97724
ok, i have got it,
thanks

[2021-01-07 00:29] jherrera123 commented on #94091
@adeniyistephen , docker-machine is not your regular docker installation. Users can still use regular docker locally, bazel or make to build kubernetes.

I took a first pass at the doc. I searched through the doc using the same regex I used for issue 97618. Do you want to take a look at it?

https://github.com/jherrera123/kubernetes/commit/9f4d95d9333df0060e7e84aa454a99c2c5f2230b

[2021-01-07 00:43] jsturtevant opened #97783 "Device manager for Windows passes when run on cluster that does not have a GPU but cuases cascading errors"
**Which jobs are flaking**:
pull-kubernetes-e2e-aks-engine-azure-windows

[code]

**Which test(s) are flaking**:
Random set of tests after the `should be able to create a functioning device plugin for Windows` test runs.

**Testgrid link**:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/97491/pull-kubernetes-e2e-aks-engine-azure-windows/1346928426501541888

**Reason for failure**:
Rep

[2021-01-07 00:44] jsturtevant commented on #97783
/sig windows

[2021-01-07 01:04] goginenigvk commented on #72102
we are using kops. can someone help me on this
showing errors when checking systemctl status kubelet
Jan 07 00:42:11 ip-172-50-2-100 kubelet[5299]: E0107 00:42:11.991760    5299 kubelet.go:2268] node "ip-172-50-2-100.ec2.internal" not found
Jan 07 00:42:12 ip-172-50-2-100 kubelet[5299]: E0107 00:42:12.091892    5299 kubelet.go:2268] node "ip-172-50-2-100.ec2.internal" not found
Jan 07 00:42:12 ip-

[2021-01-07 01:08] aarnaud commented on #97783
oh sorry I missed the flaking issue in the previous issue.

[2021-01-07 01:16] jsturtevant commented on #97783
no worries. I haven't had a chance to dig in yet.  The test seems to pass on a cluster without a GPU but subsequent random tests fail.  I think the GPU job only runs the one job so wanted to verify that this new functionality doesn't get a cluster into a bad state.

the other question is if we want this running on nodes with out gpus since this one in particular only verifies the device manager wo

[2021-01-07 01:29] cofyc commented on #91281
/remove-lifecycle stale

[2021-01-07 02:33] wongma7 opened #97785 "AWS EBS in-tree plugin: migrate to stable zone/region labels"
Copy of https://github.com/kubernetes/kubernetes/issues/92237

Basically do https://github.com/kubernetes/kubernetes/pull/97746 for EBS.

/assign
/provider aws
/sig storage

[2021-01-07 02:33] wongma7 commented on #97785
/area provider/aws

[2021-01-07 02:55] aarnaud commented on #97783
in fact, the device plugin just expose the directx features inside the container by adding the directx classid as docker device. so until directx is present with gpu or virtual gpu it will work.

[2021-01-07 03:44] Koooala commented on #75581
+1
{"name":"kubernetes-dynamic-pvc-241180ac-147e-422c-9e67-c498e7263d8c","size":10737418240,"objects":2560,"order":22,"object_size":4194304,"block_name_prefix":"rbd_data.3267ba238e1f29","format":2,"features":["layering"],"flags":[]}, invalid character '-' after top-level value

[2021-01-07 03:52] andyzhangx commented on #97781
should be related to this PR: https://github.com/kubernetes/test-infra/pull/20398, incorrect prow config

[2021-01-07 03:57] #97489 closed

[2021-01-07 04:25] liggitt commented on #97763
cc @jkh52

[2021-01-07 04:29] cofyc commented on #74374
To avoid the broken state completely, PVC reconciliation is still needed.  As illustrated [here](https://github.com/kubernetes/kubernetes/issues/74374#issuecomment-686226682), when users delete the pod before the PVC to ask for the statefulset controller to recreate them. There is a chance that the pod will be recreated but the PVC will not.

- user deletes the Pod
- [the statefulset controller] r