[2018-10-30 20:44] #69707 closed

[2018-10-30 20:49] Huang-Wei commented on #70450
@jacobstr are you using hostPort for your workload?

[2018-10-30 20:53] BenTheElder commented on #51540
We should be able to use a single prow deployment with a seperate build cluster (with not much special in the build cluster), and mark windows jobs as running in that cluster fwiw, we have some things leveraging this today (though with other linux clusters).

We would need to figure out exactly what jobs need to run and the who and where of the cluster and jobs.

ref: @kubernetes/k8s-infra-team wo

[2018-10-30 21:28] yujuhong commented on #70357
Looks like Go 1.11 may be the problem: https://github.com/golang/go/wiki/AVX512
It enables AVX-512, which may not be supported on some platforms.

I'm not sure how to verify or disable this when building the binaries.

/cc @ixdy

[2018-10-30 21:33] ixdy commented on #70357
If I had to guess, I'd point at https://github.com/golang/go/commit/d0712096b32d032b0b83a5eb899a7359a830732b which seems to change how AVX is detected.

We should probably open an issue against Go with these findings.

[2018-10-30 21:34] blazespinnaker opened #70454 "scale to/from zero"
The ability to idle out namespaces to zero resources (scale to zero) and then scale back to 1 or more when a request comes in for some period of time.

I am trying to use namespace isolation for a SaaS app for security and assign each tenant their own pods.  To allow for efficient resource utilization I'd like to scale to zero if the tenant goes idle.

/kind feature

/sig scalability

[2018-10-30 21:38] ixdy commented on #70357
have we seen the crashes on more than one test run?

[2018-10-30 21:39] cben commented on #18622
#43312 defined a `singularName` field in discovery APIResourceList.  Unfortunately, it was never implemented, it is always `""`.

[2018-10-30 21:46] liggitt commented on #18622
it is populated by CRDs that set [singular names](https://github.com//kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go#L101-L103), and used by kubectl to resolve ambiguous command line requests

[2018-10-30 21:55] jacobstr commented on #70450
@Huang-Wei is there a specific workload you had in mind? The `hyperkube apiserver` does, as well as  daemonsets for our service mesh, which are in host networking mode.

[2018-10-30 22:02] Huang-Wei commented on #70450
There was a PR (#67456) in v1.12/v1.11.3 fixing issue when workloads uses hostNetwork, and the solution is to correct the NodeInfo cloning logic. So it's quite likely related with the symptom you described.

Could you give a try on v1.11.3?

[2018-10-30 22:02] davidz627 commented on #70448
+1 we seem to be logging all the deployment yamls including statefulsets etc. None of these verbose yamls should be logged, they are not actions taken in the test or errors and it is simply logging some objects for debug purposes.

I would recommend not dumping the items at all in the standard case and only logging actions i.e. `creating csi-gce-pd-controller` and errors i.e. `failed creating csi-

[2018-10-30 22:03] Huang-Wei commented on #70450
BTW: the issue that PR fixed is only reproducible on some circumstances.

[2018-10-30 22:09] msau42 commented on #70382
I noticed a potential race condition with our pod termination check, it could be related: https://github.com/kubernetes/kubernetes/issues/69831

[2018-10-30 22:16] ixdy commented on #70357
Looking at that same node (gce-scale-cluster-minion-group-3-d7s6), it looks like kube-proxy and docker had similar crashes:

### kube-proxy
[code]

### docker:
[code]

[2018-10-30 22:18] ixdy commented on #70357
cu

[2018-10-30 22:20] ixdy commented on #70357
Curiously I think docker 17.03.2 is using go1.10.3, not go1.11, though line 75 is still a `VMOVDQU`:
https://github.com/golang/go/blob/go1.10.3/src/runtime/memclr_amd64.s#L75

Maybe something is wrong with this VM, or the particular node running this VM?

[2018-10-30 22:36] Shifter2600 commented on #3595
can't you pass in -e JAVA_OPTS="-Xmx4096m"  with the sudo docker run -d --privileged --restart=unless-stopped --net=host -v /etc/kubernetes:/etc/kubernetes -v /var/run:/var/run -e JAVA_OPTS="-Xmx4096m"
 rancher/rancher-agent:v2.1.1........I am pretty sure this works around this issue as I have seen this as a solution with ES operators for Kubernetes.

[2018-10-30 23:12] AishSundar commented on #69989
@ravisantoshgudimetla is the one open PR #70401 expected to fix the remaining failures we are seeing the release dashboards? If not fixed by this week, these failures will block Beta cut targeted for 11/6.

[2018-10-30 23:15] #69007 closed

[2018-10-30 23:18] S-Chan opened #70458 "Daemonset pods with node selector get stuck in start/termination loop"
**What happened**:
When a new daemonset is created with the following affinity in pod template:
[code]
any new pods scheduled for the daemonset are immediately terminated.

**What you expected to happen**:
Daemonset pods to run without getting terminated.

**How to reproduce it (as minimally and precisely as possible)**:
1. label node A with foo=bar1
2. label node B with foo=bar2
3. create a daemo

[2018-10-30 23:20] dims commented on #70458
/sig apps

[2018-10-30 23:20] dims commented on #70427
/sig network

[2018-10-30 23:20] dims commented on #70423
/sig cluster-lifecycle

[2018-10-30 23:21] dims commented on #70421
/sig aws

[2018-10-30 23:21] dims commented on #70275
/sig network

[2018-10-30 23:21] dims commented on #70218
/sig network

[2018-10-30 23:41] neolit123 commented on #69487
@steven-sheehy
ok, better open the same issue in the k/kubeadm repo so that it can be tracked by the kubeadm team.

[2018-10-30 23:53] wgliang commented on #69771
@yaseenhamdulay  Will the PR be ready for review soon? Or what progress has you made recently?
Hope to get your feedback. :)

[2018-10-30 23:53] wgliang commented on #69770
@agladboy   Will the PR be ready for review soon? Or what progress has you made recently?
Hope to get your feedback. :)

[2018-10-31 00:11] davidz627 opened #70460 "Plugin watcher panics when ophaned plugin socket exists in plugin discovery directory"
The Kubelet panics in a loop when it tries to send a request on that channel. It should not panic.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
- create socket that is closed: `sudo mkfifo /var/lib/kubelet/plugins/fake-reg.sock` (fifo is not exactly the same as a standard registration socket but for purpose of repro I think it hits the same codepath)
- Observe panic

*

[2018-10-31 00:17] anfernee commented on #70451
Is it possible that your application actually does close the connection?

[2018-10-31 00:29] saad-ali commented on #70319
We don't need all volumes to be reported, only attachable volumes. Each "in use" volume ends up in the node object, so if we report every volume we would just unnecessarily increase the size of the node object. And it wouldn't fix the root cause here, because a volume could be not yet in `ActualStateOfWorld` and also removed from `DesiredStateOfWorld` but have a pending operation.

Best way to fix

[2018-10-31 00:51] anfernee commented on #70218
E1025 04:07:44.184178 1 reflector.go:201] k8s.io/dns/pkg/dns/dns.go:147: Failed to list *v1.Endpoints: Get http://192.168.2.202:8080/api/v1/endpoints?resourceVersion=0: dial tcp 192.168.2.202:8080: i/o timeout
E1025 04:07:44.184725 1 reflector.go:201] k8s.io/dns/pkg/dns/dns.go:150: Failed to list *v1.Service: Get http://192.168.2.202:8080/api/v1/services?resourceVersion=0: dial tcp 192.168.2.202:8

[2018-10-31 01:17] m1093782566 commented on #7433
@steven-sheehy @steebchen

You can also look into kube-proxy IPVS mode which supports all the algorithms of IPVS(kube-router do the same thing) without getting rid of weave net or any other network plugins.

[2018-10-31 01:37] Alger7w commented on #43874
So I should write and deploy webhook callback services for every functionality I want to inject into a Pod ?

[2018-10-31 01:51] Kaijun commented on #48633
any further work for this?

[2018-10-31 01:58] April-Q commented on #70421
I reviewed k8s code,in kubernetes/pkg/cloudprovider/providers/aws/aws_loadbalancer.go file, func (c *Cloud) updateInstanceSecurityGroupsForNLBTraffic,after I remove the code below
// remove from portChanges ports that are already allowed
			if intersection := desiredSet.Intersection(existingSet); intersection.Len() > 0 {
				glog.Infof("sj debug intersection", intersection)
				for p := range inte

[2018-10-31 02:00] April-Q commented on #70421
I reviewed k8s code,in kubernetes/pkg/cloudprovider/providers/aws/aws_loadbalancer.go file, func (c *Cloud) updateInstanceSecurityGroupsForNLBTraffic,after I remove the code below

`// remove from portChanges ports that are already allowed
if intersection := desiredSet.Intersection(existingSet); intersection.Len() > 0 {
for p := range intersection {
delete(portChanges[actualGroupID], p)
}
}`
the p

[2018-10-31 02:01] April-Q commented on #70421
I reviewed k8s code,in kubernetes/pkg/cloudprovider/providers/aws/aws_loadbalancer.go file, func (c *Cloud) updateInstanceSecurityGroupsForNLBTraffic,after I remove the code below
`// remove from portChanges ports that are already allowed
			if intersection := desiredSet.Intersection(existingSet); intersection.Len() > 0 {
				for p := range intersection {
					delete(portChanges[actualGroupID], p)

[2018-10-31 02:48] #67897 closed

[2018-10-31 03:15] crowfrog commented on #67592
No any update?

[2018-10-31 03:46] #61901 closed

[2018-10-31 03:46] feiskyer commented on #70279
The ADD call is workaround for fetching pod network status.

@dineshgovindasamy @madhanrm @PatrickLang Do we have any ETA to remove this workaround?

[2018-10-31 04:03] mjaow commented on #70382
This bug seems serious, it make state of volume manager  dirty and block the following mount operation

`
func (vm *volumeManager) WaitForAttachAndMount(pod *v1.Pod) error {
	//获取目标volumes
	expectedVolumes := getExpectedVolumes(pod)
	if len(expectedVolumes) == 0 {
		// No volumes to verify
		return nil
	}

	glog.V(3).Infof("Waiting for volumes to attach and mount for pod %q", format.Pod(pod))
	uni

[2018-10-31 04:03] liggitt commented on #70387
Roles that express "everything except x" are only safe if you know that no similarly powerful or sensitive resources like the one(s) you are trying to exclude will be added in the future.

[2018-10-31 04:07] #69938 closed

[2018-10-31 04:12] liggitt commented on #70387
A tool that would generate a role from an "everything except x" expression, based on a set of concrete resources could be useful. I'd recommend the output of such a tool be audited prior to applying the role, but that could be done on release boundaries or periodically. The important aspect, in my opinion, is to not have an auto-expanding permission expressed in the API ("anything new I didn't kno

[2018-10-31 04:46] vikaschoudhary16 commented on #70460
/assign

[2018-10-31 04:46] vikaschoudhary16 commented on #70460
taking a look, thanks!

[2018-10-31 05:14] cben commented on #18622
Ouch.  So while client libraries can't rely on it, they SHOULD NOT just ignore it either :-|

Ruby `kubeclient` gem currently take lowecase `kind` vs plural `name` to figure it out.  Are there any known cases where singularName != lowercased kind?

[2018-10-31 05:32] raravena80 commented on #70387
Another option is a blocking mechanism for adding 'anything new I didn't know about', something like 'this has already been subtracted so I'm not allowing it', but that may not be that easy to implement.

Anything, that also takes care of preventing "anything new I didn't know about, allow" sounds good to me, imo.

[2018-10-31 07:07] mjaow commented on #70382
And I think we should reconsider the feasibility of using os.RemoveAll instead of os.Remove because we should handle the bug even if it had ocurred. Or the state of volume manager can never be correct

[2018-10-31 08:12] p53 commented on #70451
don't think so both apps i tried nextcloud and also mariadb are created directly from official images, no customizations

[2018-10-31 08:32] r-divakaran commented on #32616
Is it documented some where how to use this.

I want to create a configmap like

`apiVersion: v1
kind: ConfigMap
metadata:
  name: sample-grafana-datasource
  labels:
     grafana_datasource: 1
data:
  datasource.yaml: |-
    # config file version
    apiVersion: 1

    datasources:
      - name: Cloudwatch
        type: cloudwatch
        jsonData:
          authType: keys
          defaultRegion

[2018-10-31 08:48] NOWYOU opened #70473 "AGE invalid"
when I create a new yaml  ,I check it  but found a error

[k8s@k8s-master dns]$ kubectl get all -n kube-system
NAME                                        READY     STATUS    RESTARTS            AGE
pod/coredns-77c989547b-944tv                1/1       Running   0          <invalid>
pod/coredns-77c989547b-s9vxl                1/1       Running   0          <invalid>

Under AGE, the timestamp is no

[2018-10-31 08:51] #64546 closed

[2018-10-31 08:52] jsafrane commented on #69367
/close

#69868 looks fine.

[2018-10-31 08:52] #69367 closed

[2018-10-31 09:06] p53 commented on #70451
sorry seems like it will be application problem

[2018-10-31 09:06] #70451 closed

[2018-10-31 10:21] hhyo commented on #61224
Thanks！

[2018-10-31 10:49] WanLinghao commented on #70447
/assign

[2018-10-31 12:12] uablrek commented on #65006
This problem is still in 13+;
[code]

[2018-10-31 12:18] uablrek commented on #70113
Any relation with this you think? #65006
Doesn't seem so since this is in `kube-ipvs0` and the other is ipvs targets...

[2018-10-31 12:45] mborsz commented on #70357
I was able to find the following cases in the last 7 days (grepping only for kubelet.log):

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/243/artifacts/gce-scale-cluster-minion-group-2-bchx/kubelet.log
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/243/artifacts/gce-scale-cluster-minion-group-1-xx5q/ku

[2018-10-31 12:50] neolit123 commented on #70180
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/69662/pull-kubernetes-integration/33275/
i'm seeing TestTerminalPodEviction flakes on all PRs.

[2018-10-31 12:53] neolit123 commented on #70180
/assign @ravisantoshgudimetla @derekwaynecarr @bsalamat

[2018-10-31 12:54] neolit123 commented on #70180
/sig scheduling

[2018-10-31 12:54] uablrek commented on #65006
Traced to;
[code]
which returns faulty addresses.

[2018-10-31 12:54] neolit123 commented on #70180
/kind flake

[2018-10-31 13:05] uablrek commented on #65006
`syscall.AF_INET` is hard-coded in `./vendor/github.com/docker/libnetwork/ipvs/netlink.go:L425`

[2018-10-31 13:16] uablrek commented on #65006
And it still is https://github.com/docker/libnetwork/blob/d7b61745d16675c9f548b19f06fda80d422a74f0/ipvs/netlink.go#L425

[2018-10-31 13:37] neolit123 commented on #70180
those kubeadm/test/cmd failures (15?) are misleading because they are due to WIP PRs.

[2018-10-31 13:38] neolit123 commented on #70180
here is another TestVolumeProvision flake
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/70480/pull-kubernetes-integration/33282/

[2018-10-31 13:59] fasaxc commented on #70279
I put up a PR that has an alternative approach but it relies on the name of the interface being consistent with those used by the existing CNI plugins (i.e. it has to contain the container ID).  Might be a step int he right direction, at least.  I can respin if there's an alternative approach but I couldn't see an API to determine the HNS endpoints attached to a container.

[2018-10-31 14:02] spiffxp commented on #70180
https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5 flakes are happening on CI jobs so it's not a PR interaction

k8s.io/kubernetes/test/integration/evictions.TestTerminalPodEviction
- https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-integration-master/6304#k8siokubernetestestintegrationevictions-testterminalpodeviction
https://gubernator.k8s.io/buil

[2018-10-31 14:11] neolit123 commented on #70180
as i side note, i do have this PR that removes a rare-flaky kubeadm "unit" test:
https://github.com/kubernetes/kubernetes/pull/70452

[2018-10-31 14:12] vladimirvivien opened #70484 "Move Kubelet Plugin Registration Watcher to GA"
**What would you like to be added**:
This issue is to migrate the Kubelet Plugin Registration/Watcher from Beta -> GA.

**Why is this needed**:
This feature (PluginsRegistrationWatcher) has been a core functionality of other systems such as CSI for a couple of releases now.  Moving from Beta to GA will signal to adopters (such as CSI) that this feature is ready stable and ready for continuing adop

[2018-10-31 14:15] Farrellow commented on #70229
/cc @freeformz @dchen1107 @derekwaynecarr

[2018-10-31 14:23] vladimirvivien commented on #70484
/sig node

[2018-10-31 14:23] vladimirvivien commented on #70484
/assign

[2018-10-31 14:27] gnufied opened #70485 "Plugin registration mechanism of CSI is broken"
It looks like plugin registration mechanism of CSI might be broken:

[code]

[2018-10-31 14:27] gnufied commented on #70485
/sig storage
/kind bug
/assign

[2018-10-31 14:28] gnufied commented on #70485
cc @verult @msau42

[2018-10-31 14:30] datapresso commented on #57801
Still see this issue in k8 v1.11.1 when we tried to bring in the k8-dashboard (https://github.com/kubernetes/dashboard) in our private registry.

[2018-10-31 14:34] ArchiFleKs commented on #70082
@jpbetz here is what I have :

[code]

I'm not sure how ot read this

[2018-10-31 14:35] msau42 commented on #70485
Is this with/without feature gates? On head or 1.12? Does this impact other functionality like attach, mount, etc?

[2018-10-31 14:38] jsafrane commented on #70485
I think that it's dynamic registration that discovers **all** sockets in `/var/lib/kubelet/plugins`, including a socket created by a driver in a subdirectory. It tries to talk to it with dynamic registration gRPC and it fails.

Driver registrar exposes a different socket (`/var/lib/kubelet/plugins/*.sock`, no subdirectory) and that one should be discovered and used by kubelet.

The message is harm

[2018-10-31 14:38] jsafrane commented on #70485
cc @RenaudWasTaken for dynamic registration expertise.

[2018-10-31 14:41] gnufied commented on #70485
Okay, so this could not be reason of volume limits not being registered for csi plugins. hmm.  it looked suspicious.

[2018-10-31 14:45] RiceBowlJr commented on #70082
I have the same issue with my cluster, didn't notice before I saw that issue opened.
kubernetes version: 1.12.2
etcd version: 3.2.24
os: Ubuntu 16.04.5 LTS
kernel: Linux 4.9.58-xxxx-std-ipv6-64 #1 SMP Mon Oct 23 11:35:59 CEST 2017 x86_64 x86_64 x86_64 GNU/Linux
VM on kimsufi.com (Serveur KS-4C - i5-2300 - 16GB - 1x2To)
load average: 0.45, 0.36, 0.41

[code]

Errors:
[code]

[2018-10-31 14:56] aleksandra-malinowska commented on #70445
We have a root cause and fix on GKE side. It may take a day for the dashboards to clear up though.

[2018-10-31 15:10] mxey opened #70489 "Kubelet RPM upgrade overwrites /etc/sysconfig/kubelet"
**What happened**:

When updating the kubelet RPM from 1.11.3-0.x86_64 to 1.11.4-0.x86_64, `/etc/sysconfig/kubelet` is overwritten with the package contents again.

**What you expected to happen**:

`/etc/sysconfig/kubelet` should be left as-is because it is meant for the operator to override

**How to reproduce it (as minimally and precisely as possible)**:

Install Kubelet on CentOS:

[code]

Mo

[2018-10-31 15:11] mxey commented on #70489
/sig node

[2018-10-31 15:35] UntamedPlayer commented on #37218
I too, need this.

[2018-10-31 15:39] jbartosik commented on #69444
The PR merged. Now let's wait and see if it solves the problem.

[2018-10-31 15:42] yloginov opened #70491 "Improve co-ordination between EKS and Auto Scaling Group"
**What would you like to be added**:
Currently an Auto Scaling Group (ASG) in AWS may decide to terminate EC2 instances that are running EKS nodes when it detects EC2 instance imbalance between two availability zones (AZ). This results in nodes disappearing without a trace from EKS cluster. It would be nice if EKS could prevent ASG from deleting EC2 instances that are in use.

**Why is this needed

[2018-10-31 15:50] RenaudWasTaken commented on #70485
Hello!

Yep this seems to be related to https://github.com/kubernetes/kubernetes/issues/69015 which is a known harmless bug.

Basically what happens is that the plugin watcher will iterate recursively over that directory and try to register every file. In your case the csi.sock doesn't seem to implement the gRPC service, since this is the case, the pluginwatcher mechanism will ignore this file.

W

[2018-10-31 15:57] kow3ns commented on #69601
Rather than removing all tests that attempt to verify the behavior of distributed systems on more than one machine, I think we should consider implementing  [multi-node emulation](https://github.com/kubernetes/minikube/issues/94) in minikube. I think minikube is a great tool, but, I find the fact that it only allows for a single node to be quite limiting.

[Swarm](https://docs.docker.com/get-start

[2018-10-31 16:14] kvaps commented on #59976
What if just use:
[code]

[2018-10-31 16:20] mcrute commented on #69585
I will post a PR either today or tomorrow that breaks the dependency between the AWS cloud provider and the AWS credential provider. Once that PR is merged there should be no need to migrate `pkg/credentialprovider/aws` (which would in-turn require migrating `pkg/credentialprovider`).

[2018-10-31 16:23] ravisantoshgudimetla commented on #69989
@AishSundar - Apologies for the delay. Yes, this PR should fix the failure, if not, I will disable this test for now as revert the feature promotion PR associated with this test. Also, I need to rethink, if e2e is an appropriate test scenario to handle this feature or should unit tests/integration suffice. I could not find a test which does something like resizing a node in the existing e2e test s

[2018-10-31 16:33] WalBeh opened #70493 "iptables entries for kube-dns service don't match endpoint IPs"
**What happened**:
DNS resolving in the pods doesn't work (partially), as there seem to be wrong IP tables entries.
[code]
The IP tables entries on node-03 do not match, the IP addresses in the endpoint configuration.

**What you expected to happen**:
IP tables should point to the correct kubernetes service endpoint IPs.

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl d

[2018-10-31 16:36] mcrute commented on #70491
/sig aws

[2018-10-31 17:00] RenaudWasTaken commented on #70460
Hmm can you share more details on reproducing @davidz627 ? Is this in the 1.12 release?

I'm not able to reproduce this bug. Looking at the error message I'm also a bit surprised because that channel is stopped at only two moments:
- At Startup if we're not able to watch the plugin dir, in which case the Kubelet will fail to start
- At Stop time which doesn't seem to be your case

[2018-10-31 17:01] yastij commented on #69585
SGTM

[2018-10-31 17:16] redbaron commented on #56149
/remove-lifecycle stale

[2018-10-31 17:16] redbaron commented on #30784
/remove-lifecycle stale

[2018-10-31 17:32] mengqiy commented on #60340
Fixed by #70436
Closing

[2018-10-31 17:32] #60340 closed

[2018-10-31 17:56] figo commented on #70460
@davidz627 i have the same question as Renaud, i try to reproduce this with the latest build (v1.13),
with the same step as you listed, i got the log saying:
[code]
which is consistent with latest version of code.

could you share more detail about the build you are using, or other relevant configuration information.

[2018-10-31 18:00] #53159 closed

[2018-10-31 18:03] dghubble commented on #70113
Hm, I think adapting the sync'er for IPv6 might be a different fix. I was working on a fix for the IPv6 cleanup on the `kube-ipvs` interface, lemme see if I can get that to a state it can be posted.

[2018-10-31 18:05] rajansandeep commented on #70425
/close

[2018-10-31 18:05] #70425 closed

[2018-10-31 18:06] rorysavage77 opened #70496 "Add De-Init Containers for POD Termination Lifecycle"
**What would you like to be added**:
Rationale:  Currently, during POD instantiation Kubernetes offers initContainers and PostStart hooks.  However, for POD termination, the only offering is PreStop hooks.  This enhancement/feature request is to allow the same duality during POD instantiation also during POD termination.  Having the ability to have controlled sequential containerized jobs for POD

[2018-10-31 18:10] towolf commented on #70493
Not to distract in case my issue is different, but I found a very puzzling problem today with kube-proxy, where less than half of the nodes configure IPVS properly to include the endpoint of a service:
[code]

[2018-10-31 18:10] jpbetz commented on #70082
@ArchiFleKs It says of 354842 total operations, 228127 took less than or equal to .002 seconds, 348658 took less than or equal to .004 seconds,where the 348658 number includes those that took less than .002 seconds as well. There are a very small portion (85 to be exact) of disk backend commits taking over 128ms. I'm not well enough calibrated to say for sure if those number are out of healthy ran

[2018-10-31 18:11] rcsavage commented on #70496
@kubernetes/sig-architecture-<group-suffix>
@kubernetes/sig-cluster-lifecycle-<group-suffix>
@kubernetes/sig-cluster-ops-<group-suffix>
@kubernetes/sig-scheduling-<group-suffix>

[2018-10-31 18:14] mariantalla commented on #70446
This test is now passing, will keep an eye on it for a couple more runs and then close out if it's consistently passing.

[2018-10-31 18:20] davidz627 commented on #70460
sorry I left some steps out of repro
[code]

I did notice that I was running this in my e2e cluster which may have been old. I will try to repro again on a newer cluster.

[2018-10-31 18:44] mml opened #70499 "Kubelet: Report all resources requests when admission control rejects a pod"
**What would you like to be added**:
When we log this line:

[code]

Please also log where the other resource usage/requests are coming from.  Since this could be noisy, I am OK if this is flag-guarded, but I'd prefer it use its own flag rather than glog verbosity.

**Why is this needed**:
Not having this makes debugging failure-to-start problems (i.e. master machine with a bunch of static pods) r

[2018-10-31 18:57] davidz627 commented on #70460
this message only shows up if the file is not a socket. Did you use `mkfifo`? Maybe we need some other method of creating a fake socket for repro if that does not work

[2018-10-31 19:45] mariantalla commented on #70375
Thanks @neolit123 !

/close

[2018-10-31 19:45] #70375 closed

[2018-10-31 19:54] kvaps commented on #59976
Hi, bug is still there.

Kube-proxy in IPVS mode (and Kube-router too) adds IP-addresses to dummy interface `kube-ipvs0`.
The problem is that ARP-replies still going out even if dummy-interface have NOARP flag set.

The funy fact that for small clusters it is not so problematic, you can even be so glad that you don't need any external loadbalancer for external IPs, but it is wrong behavior and it

[2018-10-31 19:54] kvaps commented on #59976
/reopen

[2018-10-31 19:59] Miyurz commented on #60152
/remove-lifecycle rotten
/reopen

Not sure why we need the tag explicitly. same issue at my end.

`  Warning  CreatingLoadBalancerFailed  1m (x6 over 3m)  service-controller  Error creating load balancer (will retry): failed to ensure load balancer for service airflow/nginx-ingress-controller: could not find any suitable subnets for creating the ELB`

[2018-10-31 20:00] Miyurz commented on #60152
@tatobi Looks like i cant reopen this issue as per https://github.com/kubernetes/kubernetes/issues/60152#issuecomment-434827061

Can you please reopen ?

[2018-10-31 20:04] thkoch2001 opened #70501 "Fully disrupted zone still gets evicted by node controller?"
Somebody on Stackoverflow was puzzled about the eviction behavior of the node controller when a zone is fully disrupted: https://stackoverflow.com/questions/52871164/when-one-of-zones-enter-full-disruption-we-update-eviction-qps-to-which-value-f

According to [node_lifecycle_controller.go#316](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/node_lifecycle_controll

[2018-10-31 20:06] kvaps commented on #59976
@m1093782566 could you reopen, please?

[2018-10-31 20:23] shrinandj opened #70502 "Pod deletes/updates fail with "existing toleration can not be modified" error"
**What happened**:
We have a Kubernetes setup with a Mutating webhook enabled. The mutating webhook changes an incoming pod spec and adds tolerations to it. FWIW, the mutating webhook adds two tolerations with the same key but different values:
[code]

This mutation of the incoming pod spec only happens on CREATES of the pods.

However, with this setup, we're seeing that at times pods updates and

[2018-10-31 20:59] davidz627 commented on #70460
eh. Can't reproduce. Closing issue

[2018-10-31 20:59] #70460 closed

[2018-10-31 20:59] msau42 commented on #70303
Looks like a false alarm. Thanks for verifying!
/close

[2018-10-31 20:59] #70303 closed

[2018-10-31 21:01] msau42 commented on #64590
/assign

[2018-10-31 21:05] msau42 commented on #64590
/assign @gnufied

[2018-10-31 21:17] saad-ali opened #70503 "Readonly volumes in Kubernetes are a mess"
**What happened**:

Kubernetes currently has 5 places where you can specify if a volume is readonly:

1. PVC/PV access modes may be `ReadOnlyMany`.
2. `Pod.spec.volumes.persistentVolumeClaim.readOnly` boolean
3. `PersistentVolume.spec.[volumeSource].readOnly` boolean where [volumeSource] could be `CSIPersistentVolumeSource`, `GCEPersistentDiskVolumeSource`, etc.
4. `Pod.spec.containers.volumeMount

[2018-10-31 21:17] saad-ali commented on #70503
/sig storage

[2018-10-31 21:31] davidz627 opened #70504 "Add explicit "Installed" and "MigratedOnNode" fields to CSINodeInfo"
**What would you like to be added**:
This change would change the semantics of `CSINodeInfo` from implicitly determining that a driver is installed based on the existance of the `CSIDriverInfo` inside the `CSINodeInfo` to determining whether the driver is installed based on a field `Installed` inside the `CSIDriverInfo` object.

**Why is this needed**:
This allows us to see/read the information ab

[2018-10-31 21:37] saad-ali commented on #70503
Number 2 in the list above ("`Pod.spec.volumes.persistentVolumeClaim.readOnly` boolean") is especially problematic because if you have multiple pods referencing the same PVC, each pod can effectively specify a different readonly value for attach.

[2018-10-31 21:46] dims commented on #70264
/sig instrumentation

[2018-10-31 21:48] dims commented on #70264
@kubernetes/sig-instrumentation-feature-requests @kubernetes/sig-architecture-feature-requests

[2018-10-31 21:49] saad-ali opened #70505 "CSI Readonly issues"
**What happened**:

Kubernetes readonly flags are a mess (see https://github.com/kubernetes/kubernetes/issues/70503), and readonly flags are broken in the beta implementation of CSI.

We should explicitly define and implement what the mapping of Kubernetes readonly flags is for CSI before moving CSI to GA.

**What you expected to happen**:

*Current (CSI beta) behavior:*

1. PVC/PV access modes ma

[2018-10-31 21:57] saad-ali commented on #70505
Action item if someone wants to pick up this bug:

* Change `NewBlockVolumeMapper(...)` and `NewMounter(...) in `pkg/volume/csi/csi_plugin.go` set `readonly` from `Pod.spec.containers.volumeMounts[x].readOnly` instead of `getReadOnlyFromSpec(...)`.

[2018-10-31 21:57] figo commented on #70460
@davidz627 i understand the issue been closed, just reply to your question for completeness, i did run `mkfifo`,  the fact that a fifo file can trigger registration indicates it is running on older version of code.

with latest version of code (it checking `case mode&os.ModeSocket != 0`), the fifo file should be ignored as they are having different modes.
[code]

[2018-10-31 22:13] ryanmcnamara opened #70506 "Validating admission webhook failures are treated as internal server errors"
**What happened**:

Mutating and Validating webhooks that respond with an AdmissionResult with `allowed` set to `false` cause the apiserver to respond to the initiating request with a 500. This behavior is easily verifiable looking at the code, [error source](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/validating/dispatcher.go#L133

[2018-10-31 22:14] ryanmcnamara commented on #70506
/sig api-machinery

[2018-10-31 22:58] saad-ali commented on #70503
@cduchense pointed out that number 3 is problematic because: a) it is unclear how it is set, and 2) it is unclear how it is changed -- PV.spec is immutable and even if it wasn't requires cluster admin privileges to change (since it is a non namespaced object).

[2018-10-31 22:59] saad-ali commented on #70503
We will try and be more clear with CSI before it goes GA: https://github.com/kubernetes/kubernetes/issues/70505

For the existing volume plugins, we should document what the current behavior is.

If we ever redo the k8s API we should fix the API.

[2018-10-31 23:20] nikopen commented on #69843
@saad-ali @msau42 early tracking ping

/priority important-soon

[2018-10-31 23:30] nikopen commented on #68244
/priority important-longterm

[2018-10-31 23:40] figo commented on #69015
@vladimirvivien  thanks for open the issue with detail logs, i can see two problems by looking at logs and code.
1) plugin watcher trying to dial non-socket files.
2) too many logs generated (CREATE and DELETE).

I added a suggestion to @RenaudWasTaken fix of this issue #70494
we can fix those problems by:
1) check file mode when handle CREATE event, only attempt to dial file when file mode is soc

[2018-10-31 23:43] thockin commented on #70425
Why closing?  I am having an issue with manifest-tool and auth'ed repos, but once I get past that - tell me whats up?

[2018-10-31 23:50] msau42 commented on #69843
@saad-ali has a proposal out for expected behavior: https://github.com/kubernetes/kubernetes/issues/70505

[2018-11-01 00:08] fdawg4l commented on #69776
The following are covered in #70510

`github.com/vmware/govmomi`

[2018-11-01 01:04] Pingan2017 commented on #65267
/sig apps
/sig scheduling

[2018-11-01 01:07] zmsp opened #70513 "allowedHostPaths isn't getting applied."
**What happened**: We are trying to apply allowedHostPaths via PodSecurityPolicy. However the user account isn't honoring the policy. I was still allowed to create pod with a directory mounted that wasn't on the allowedHostPaths list.

* End result: After Exec into the pod shows that files were mounted on /host-volume.

**What you expected to happen**: The pod should error out during creation and

[2018-11-01 01:11] zmsp commented on #70513
/sig policy
/sig storage

[2018-11-01 01:16] davidz627 opened #70514 "Initialize CSINodeInfo object with migrated drivers on Kubelet initialization"
**What would you like to be added**:
When the CSI Plugin is initialized on Kubelet initialization we should init the `CSINodeInfo` CR's for each node with the migrated drivers with `driver.Installed=false` and the right `MigratedOnNode` value. This enables migration to be compatible with version/config skew between master and node.

/kind feature
/sig storage
/assign
/cc @saad-ali

[2018-11-01 01:34] verult opened #70516 "Plugin registration: create and delete events could be handled out of order"
Right now the Plugin Watcher spawns a separate goroutine to handle fsnotify events for both socket add and delete events, so it's possible that the delete event arrives at the deregistration handler before the add event arrives at the registration handler.

https://github.com/kubernetes/kubernetes/blob/c81a4a09cf07083265591a9f48c53e80c13d3ebd/pkg/kubelet/util/pluginwatcher/plugin_watcher.go#L109

[2018-11-01 02:18] lhb008 commented on #70324
Hi, i have the same issue.
Docker version: 17.03.2-ce
kubectl version: v1.10.4
kernel version: 3.10.0-862.14.4.el7.x86_64
`find /sys/fs/cgroup/memory -type d | wc -l` , result is 2509.
kubelet logs:
Failed to watch directory "/sys/fs/cgroup/memory/kubepods/pod1dfbf2b1-d8eb-11e8-8cfa-060565585076/44251feead9fd539b735333fd9b76b7d3d28d23593681a71642085d727de5b26": inotify_add_watch /sys/fs/cgroup/mem

[2018-11-01 02:38] mikedanese commented on #60661
We worked around this by interacting with CRI directly.  I'll close this until we need greater support.

[2018-11-01 02:38] #60661 closed

[2018-11-01 02:51] mikedanese commented on #69836
We discussed this in sig-auth today and recounted some of the issues with the certificates API that we'd previously discussed.

* API shape/issues
  * Requires requesters to know all the info about the end certificate.
  * Use for higher-level requests (“give me a node client cert”, “give me a serving cert for a pod backing a service”).
  * Requested certificate attributes are split unthoughfully

[2018-11-01 02:51] Pingan2017 commented on #65267
ping  @@kubernetes/sig-apps-feature-requests @@kubernetes/sig-scheduling-feature-requests Can someone take a look ?

[2018-11-01 02:52] m1093782566 commented on #7433
@steebchen

Please check: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L174 and it valid values can be found here: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/apis/config/types.go#L172-L207

[2018-11-01 03:05] m1093782566 commented on #59976
cc @islinwb Can you take a look?

@kvaps Is there any side effect for doing this? I understand that is's a global system variable and we are changing the default values.

[2018-11-01 03:31] islinwb commented on #59976
/reopen
@kvaps  I agree with @m1093782566. We should investigate the potential side effect before making that change.

[2018-11-01 03:53] spiffxp commented on #70180
OK so the test logs for integration tests are sliiiightly terrible.  I dug into the failure for the PR linked above.  The [text displayed in gubernator](https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/69675/pull-kubernetes-integration/33394#k8siokubernetestestintegrationscheduler-testvolumeprovision) (which incidentally is also what drives failure clustering in [go.k8s.io/triage](h

[2018-11-01 04:05] chestack commented on #44670
@ncdc , thanks a lot. the openshift tool works.
But it's really convenient to have a command line tool to read the values in etcd.

[2018-11-01 04:39] spiffxp commented on #70180
OK, I lied... if I pull even further back, since this is a flake, and not a hard failure, maybe the bug was introduced before the big scary etcd change... maybe it's not a bug, but the test itself being flaky ever since it was introduced  #65296.  I would consider just reverting this outright until it can be proven to be less flaky

[2018-11-01 05:52] AishSundar commented on #69892
@adelina-t and  @PatrickLang any ETA for this issue to be closed? I see #70431 is in progress but I see igts still in design discussion phase. We are nearing code slush for 1.13 next Friday 11/9 and Code freeze in 2 weeks. If you think this issue isn't critical for 1.13 and work might extend beyond code slush please work with @nikopen to move this out. thanks

[2018-11-01 05:56] AishSundar commented on #68416
@dashpole any porgress on this ? I don't see any associated PRs linked here. We are nearing code slush for 1.13 next Friday 11/9 and Code freeze in 2 weeks. If you think this issue isn't critical for 1.13 and work might extend beyond code slush please work with Niko Pen to move this out. thanks

[2018-11-01 06:02] mikedanese commented on #68201
I don't understand the motivation of changes like these:

https://github.com/kubernetes/kubernetes/pull/68411

What does an import restriction like this solve? Import restrictions shouldn't be a per-package list. That defeats the purpose and will increase the churn in low level directories.

[2018-11-01 06:04] AishSundar commented on #68464
@mbohlool @sttts any porgress on this ? I don't see any associated PRs linked here. We are nearing code slush for 1.13 next Friday 11/9 and Code freeze in 2 weeks. If you think this issue isn't critical for 1.13 and work might extend beyond code slush please work with @nikopen  to move this out. thanks

[2018-11-01 06:08] AishSundar commented on #58010
@mtaufen @timstclair is this still inscope for 1.13? Is there a PR(s) associated with this. We are nearing code slush for 1.13 next Friday 11/9 and Code freeze in 2 weeks. If you think this issue isn't critical for 1.13 and work might extend beyond code slush please work with Niko Pen to move this out. thanks

[2018-11-01 06:10] AishSundar commented on #14733
@wangzhen127 can you provide a list of pending PRs for this issue and an ETA for when we can expect all the related PRs merged? Can you please give an apporpriate kind/ label for this issue (eg: feature, bug, cleanup etc)

We are nearing code slush for 1.13 next Friday 11/9 and Code freeze in 2 weeks. If you think this issue isn't critical for 1.13 and work might extend beyond code slush please wo

[2018-11-01 06:12] FengyunPan2 commented on #69026
Yes, it is fixed.

[2018-11-01 06:12] FengyunPan2 commented on #69026
/close

[2018-11-01 06:12] #69026 closed

[2018-11-01 06:15] AishSundar commented on #70503
@saad-ali should this issue be tracked for 1.13?

/cc @nikopen

[2018-11-01 06:19] AishSundar commented on #69122
@saad-ali is this still in scope for 1.13? I dont see any associated PR(s) here. Can you please give an appropriate priority/ label for this issue

We are nearing code slush for 1.13 next Friday 11/9 and Code freeze in 2 weeks. If you think this issue isn't critical for 1.13 and work might extend beyond code slush please work with Niko Pen to move this out. thanks

[2018-11-01 06:21] AishSundar commented on #68524
@saad-ali @lavalamp  is this still in scope for 1.13? I dont see any associated PR(s) here. Can you please give an appropriate priority/ label for this issue

We are nearing code slush for 1.13 next Friday 11/9 and Code freeze in 2 weeks. If you think this issue isn't critical for 1.13 and work might extend beyond code slush please work with Niko Pen to move this out. thanks

[2018-11-01 06:58] luksa commented on #58512
/remove-lifecycle stale

[2018-11-01 07:15] stewart-yu commented on #68244
Yeah, on the plan, will finish ASAP
Thanks

[2018-11-01 07:47] wfwf1990 commented on #70218
Can you give me more details?

[2018-11-01 08:06] yangsongx opened #70523 "Add mirror site support in command parameters"
**Add command parameter such as '--mirror-site=foo.com' in kubeadm tool**:

**As the F*CK GFW, we can't use k8s smoothly as it is banned in China, is it possible to add --mirror-site=xxx -like command parameters? or config file. Always using the xx.google.com would be a frustrating result here.**:

/kind feature

[2018-11-01 08:14] #60512 closed

[2018-11-01 08:14] #64677 closed

[2018-11-01 08:37] kvaps commented on #59976
As an option we can add some warning about this:

Or even fallback to iptables mode.
But as I said before, some users find this bug so useful, so they maybe unhappy of that :)

[2018-11-01 08:44] aoxn opened #70526 "Support NetworkUnavailable condition for all cloud providers."
**What happened**:
 If cluster is configured with cloudprovider and --configure-cloud-routes enabled , there are chances that Node become ready before Route is created(ccm failed to create route due to throttle etc.). This would result in pod scheduled unexpectedly.
A workaround is to write RouteCreated=False Conditions to Node before we remove the node.cloudprovider.kubernetes.io/uninitialized ta

[2018-11-01 08:47] aoxn commented on #70526
/sig cloud-provider
@andrewsykim @cjcullen

[2018-11-01 08:57] m1093782566 commented on #59976
@islinwb

I think we can do the sysctl setting now since many IPVS users complain about the issue.

We can keep watching the test grid and community issue report to see if will cause other problems.

@kvaps @islinwb

Can anyone raise a PR to fix that?

[2018-11-01 09:30] kvaps commented on #59976
@m1093782566 I'll do that

[2018-11-01 10:04] sttts commented on #68464
https://github.com/kubernetes/kubernetes/pull/70087 fixed the first item.

[2018-11-01 11:17] gkohen opened #70531 "Markdown documentation generation for links is broken"
**What happened**:
As mentioned in [issue #10775 of the website repository](https://github.com/kubernetes/website/issues/10775), the markdown links for the documentation are generated with brackets in the wrong location. As a result all links which do not have hash(#) at as postfix, result in 404 when navigating to.
I'm also looking for guidance on whether should treat this issue or the referred o

[2018-11-01 11:50] jsafrane commented on #70505
External attacher does not have access to pods. We need a new field in `VolumeAttachment.Spec` to the pass `ReadOnly` flag.

[2018-11-01 12:18] #61170 closed

[2018-11-01 12:48] yan234280533 commented on #19317
i found that ,my event etcd is crash. So i restart my event etcd ,the namespaces are deleted soon

[2018-11-01 13:08] chrisohaver commented on #70425
@thockin, a bug in forwarding loop detection in 1.2.5 was fixed, we plan to push 1.2.6 with the fix instead. coredns/coredns#2255

[2018-11-01 13:15] bentito commented on #66170
Can someone suggest a good workaround? For me, I prototype container handling with Docker and this has been made pretty different from the corresponding docker `cp` command, which seems like it would have been: `docker cp /tmp/sub_dir/. <docker_container_identifier>:/tmp/` which would have put all files and folders from sub_dir into /tmp on the container.

[2018-11-01 13:39] gkohen commented on #70531
/sig docs

[2018-11-01 13:43] izern commented on #67572
Hi, we also got similar issue. our cluster is windows cluster, kubernetes version:

kubectl version
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.2", GitCommit:"17c77c7898218073f14c8d573582e8d2313dc740", GitTreeState:"clean", BuildDate:"2018-10-24T06:54:59Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", Git

[2018-11-01 13:43] AishSundar commented on #68464
Great ! could you please list PRs to others items as and when they come in? thanks.

[2018-11-01 13:46] dims commented on #70523
@yangsongx we understand the frustration. please see the tips being accumulated in:
https://github.com/kubernetes/kubernetes/issues/56038

/close

[2018-11-01 13:46] #70523 closed

[2018-11-01 13:47] dims commented on #70523
we have `cn-dev` slack channel for developers in china. please ask folks there as well.

[2018-11-01 14:53] wangzhen127 commented on #14733
/kind feature
This feature is critical for 1.13. I think it is in good progress.

Code
- https://github.com/kubernetes/kubernetes/pull/69753 (expect to merge this week)
- https://github.com/kubernetes/kubernetes/pull/70034 (expect to merge next week)

Doc
- https://github.com/kubernetes/website/pull/10699 (expect to merge next week)

Test Infra
- https://github.com/kubernetes/test-infra/pull/9942

[2018-11-01 14:55] mikedanese commented on #69743
The log level seems correct following these guidelines:

https://github.com/kubernetes/community/blob/master/contributors/devel/logging.md

I am not sold on the value of glog's infinite log levels feature, however I could be convinced that our logging guidelines need a TRACE level.

[2018-11-01 14:57] uablrek commented on #65006
Hard-coding `syscall.AF_INET6` for testing helps a bit; addresses are ipv6 until the NodePort address is configured as ipv4 due to the bug #68437

[2018-11-01 15:02] rcsavage commented on #60279
I agree, having this option but not allowing operators to turn it on is completely useless.   I just love the excuses... can we work together to get this re-enabled vs coming up with excuses not to?   Myself, as well as some of my other colleagues at a few ISP/telecommunications companies would love to have this enabled.   I may perhaps, build my own kubelet.   Having to run a second cadvisor to w

[2018-11-01 15:13] StevenACoffman commented on #44976
@Random-Liu
Is your example still accurate?
[code]
Is this format documented anywhere?
We are struggling with how to support it in fluent-bit.

The current fluent-bit `crio` parser uses this regex predating the logtag:
[code]
@chlunde Has proposed in fluent/fluent-bit#876 this regex proposal:
[code]
@kskewes Has this proposed this regex in fluent/fluent-bit#873 :
[code]

If you look at the regex f

[2018-11-01 15:21] #64595 closed

[2018-11-01 15:21] #64691 closed

[2018-11-01 15:21] #64568 closed

[2018-11-01 15:32] StevenACoffman opened #70539 "CRI: Document CRI log format better"
Is this format documented anywhere outside the code?
We are struggling with how to support it in fluent-bit.

Follow-up to #44976

The current fluent-bit `crio` parser uses this regex predating the partial/full and logtag:
[code]
@chlunde Has proposed in fluent/fluent-bit#876 this regex proposal:
[code]
@kskewes Has this proposed this regex in fluent/fluent-bit#873 :
[code]

If you look at the reg

[2018-11-01 15:41] AishSundar commented on #14733
Thanks so much @wangzhen127 for the detailed PR list. helps us to track much better

@tfogo for Doc related PR

[2018-11-01 16:01] StevenACoffman commented on #70539
@kubernetes/sig-instrumentation-proposals
@kubernetes/sig-node-proposals

[2018-11-01 16:02] gnufied opened #70541 "CSI volume limits not being registered in node's capacity/allocatable"
Limits specified by driver are not being registered in node's capacity/allocatable.

/sig storage
/assign

[2018-11-01 16:02] StevenACoffman commented on #70539
Not sure if proposal for documentation is correct? Apologies if I chose poorly.

[2018-11-01 16:06] itgix commented on #41193
This is something we also would look forward to.
A great way to decrease the attack surface in case a pod is compromised. At least the attacker will not be able to read the secrets. And the app will have them in memory and read only during startup.

[2018-11-01 16:07] itgix commented on #41193
/reopen

[2018-11-01 16:11] PatrickLang commented on #69892
It's on sig-arch agenda today. Should have answer this week

[2018-11-01 16:15] RenaudWasTaken commented on #70516
Hello @verult !

The pluginwatcher [defines a state machine](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/pluginwatcher/types.go) which prohibits the behavior you describe. Meaning that If you did see this behavior in production it is an implementation bug.

That being said the behavior you describe should not be possible with the current implementation as, if the plugin w

[2018-11-01 16:15] #70516 closed

[2018-11-01 16:29] abraithwaite commented on #49546
/remove-lifecycle stale

GCP just introduced managed certificates which should make this easier.

https://cloud.google.com/load-balancing/docs/ssl-certificates#managed-certs

[2018-11-01 16:52] thockin commented on #53201
ACTUALLY, : is a valid character in POSIX.  All It says about env variables names (AFAICT) is:

`names shall not contain the character '='`

It specifies the names that POSIX tools can use, but does not restrict non-POSIX names at all.

Most *shells* do not support all of the punctuation characters, but C `setenv()` does:

[code]

(BTW, it took me a long time to make that compile because my finger

[2018-11-01 16:59] raffaelespazzoli commented on #41193
/reopen

[2018-11-01 17:15] anfernee commented on #70218
With those logs, this is the only thing anybody can tell. Probably what you can do is to provide more details, like reproduce-able steps (how you bring up the cluster, the network topology, etc), so that people could help. Even if they don't have the exact lab environment, they might have an idea.

[2018-11-01 17:29] jeremywadsack commented on #64348
As this has been reported three times it would be nice to backport this to 1.10.x.

I can see detailed information about the CronJob using this as a workaround:

[code]

However, that doesn't include all the information in `describe` like any events on the cronjob. Is there another way to get that?

[2018-11-01 17:29] bhperry opened #70543 "Node hostname changes to the name of a k8s daemonset pod"
**What happened**:
A few of the nodes in my cluster changed their transient hostname to the name of the Clamav Pod that is running on them. Clamav mounts / to /host so that it can run scans, but in readonly mode so I don't think that it's directly changing the hostname. Only the transient hostname changed, /etc/hostname stays the same. This has happened on 3 nodes so far. I can change it back usin

[2018-11-01 17:41] #48968 closed

[2018-11-01 17:42] neolit123 commented on #70543
would be great if you can try reproducing with latest stable - 1.12.x
/sig node

[2018-11-01 17:44] neolit123 commented on #70501
/sig apps

[2018-11-01 17:49] neolit123 commented on #70473
please use stackoverflow or slack for user facing issues:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

the tracker here is for bugs and feature requests, thanks.
/close

[2018-11-01 17:49] #70473 closed

[2018-11-01 17:59] justinsb commented on #69989
I'm looking at this, and I'm not sure this is going to fix the failures.

I'm looking at the tests, and it seems to be setting the node status capacity/allocatable to pretend to be a 12 core machine, and then it tries to allocate a pod on every node such that every node is 50% utilized.

It thus tries to allocate a pod of ~ 6 cores on the resized node.  But that node still only has 2 cores, so it

[2018-11-01 18:03] dashpole commented on #68416
Ill pick up this work over the next few days

[2018-11-01 18:06] anfernee commented on #70411
I think client side log would provide more info in this case.

[2018-11-01 18:14] Huang-Wei commented on #54297
/close

close this as it's resolved by #69788

[2018-11-01 18:14] #54297 closed

[2018-11-01 18:59] jacobstr commented on #70450
Thanks @Huang-Wei - I'll give this a whirl. I think I can optimistically close this issue - we'll reopen if it persists with a more recent autoscaler release.

Cheers!

[2018-11-01 19:04] davidz627 opened #70549 "GCE PD CSI Driver subpath readOnly tests fail"
xref: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/147

When running the GCE PD CSI Driver against all dynamic provisioning tests from this PR: https://github.com/kubernetes/kubernetes/pull/68025

We encounter the following test failures that need to be resolved:

[code]

/kind bug
/sig storage
/cc @msau42

[2018-11-01 19:54] mcguinness commented on #36847
Okta recently changed our implementation to return the id_token during token refresh to resolve this issue with kubernetes.

OIDC defines a [UserInfo endpoint](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo) to obtain user information using a standard access token returned via a token refresh.  It's common for OIDC providers to require the client to use the access token to get fres

[2018-11-01 20:16] bhperry commented on #70543
My company just upgraded to 1.11.3 from 1.9.7, we will not be doing another version upgrade for a little while (probably until 1.13). As I said, I haven't even been able to reproduce with exactly the same cluster config, so if I try with 1.12 and don't see the bug it doesn't really tell me anything. I will post an update if I do manage to reproduce.

Any guidance you might have on this issue would

[2018-11-01 20:28] neolit123 commented on #70543
i haven't seen reports about this before.
maybe someone from sig-node will have historical context.

[2018-11-01 20:44] #70448 closed

[2018-11-01 20:50] RenaudWasTaken commented on #69015
These are definitely good suggestions!

It seems like there might be some confusion as to why we are thinking of doing this:
- Most plugins use the plugin directory to store data (actually a lot of files / dirs)
- Watching all the directories and files created inside the plugin directory puts more burden on the Kubelet in terms of cpu / memory consumption
- Watching all the directories and files c

[2018-11-01 20:53] mbohlool commented on #70338
/assign @liggitt

[2018-11-01 20:54] mbohlool commented on #70429
/remove-sig api-machinery

[2018-11-01 20:55] mbohlool commented on #70446
cc @roycaihw

[2018-11-01 20:56] mbohlool commented on #70502
cc @jennybuckley

[2018-11-01 20:56] mbohlool commented on #70506
/assign @caesarxuchao

[2018-11-01 21:36] liggitt commented on #70338
closing this, as there's actually a long-lived option to enable gzip compresson on get/list requests

https://github.com/kubernetes/kubernetes/pull/51508 was opened to promote it, but got hung up on [some issues around compression interacting with streaming subresources](https://github.com/kubernetes/kubernetes/pull/51508#issuecomment-388946179)

if you wanted to help move that forward, that would

[2018-11-01 21:36] #70338 closed

[2018-11-01 21:46] jpetazzo opened #70554 ""kubectl logs" ignores "--tail" option when "--selector" is given"
**What happened**:

I do `kubectl logs --tail 1 --selector run=foo`.

I see the last 10 lines of output of each pod matching `run=foo`.

**What you expected to happen**:

I was expecting to see only the last line of output of each pod.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

The `jpetazzo/clock` image prints the date every second.

Normally we should just see tw

[2018-11-01 21:54] jpetazzo commented on #70554
It looks like the issue was introduced by commit 3a3633a32ec83675b63c126932d00390165d3d54, specifically [here](https://github.com/kubernetes/kubernetes/commit/3a3633a32ec83675b63c126932d00390165d3d54#diff-0fabd226d454fe805719db043ac4e46bR182).

If I understand that code correctly, it forces the number of lines to `selectorTail` (10) even if `o.Tail` is set.

Since that seems to be in `kubectl`:

/

[2018-11-01 22:03] dczombera commented on #70198
@riya-17 How is it going? Do you need some help?

[2018-11-01 22:06] spiffxp commented on #66875
ping @mgdevstack what else remains to be done before we close this out?

I am guessing that we want to close https://github.com/kubernetes/kubernetes/issues/67607, is there anything beyond that?

[2018-11-01 22:07] spiffxp commented on #62161
/assign @mgdevstack
Can you see if there are any existing `[Conformance]` tests marked as `[Slow]`, `[Serial]` or `[Flaky]`?

[2018-11-01 22:08] spiffxp commented on #68339
@mgdevstack Does this close if #70492 closes or are there other tests that need to transition?

[2018-11-01 22:39] spiffxp commented on #62161
ok, nevermind, it was quicker than I thought to list these out... instead @mgdevstack I'm curious what the impact of these tests are... how slow are they really, and do they really need to be serial?

Using junit.xml from a recent run of ci-kubernetes-gce-conformance. It will list fully expanded test names for all e2e tests, skipped or not.  Then, I swear I tried to be nice and use `xpath string(/

[2018-11-01 22:43] jberkus opened #70557 "Failing Test: [sig-scalability] Load capacity [Feature:Performance] should be able to handle 30 pods per node ReplicationController with 0 secrets, 0 configmaps and 0 daemons"
**Which jobs are failing**: ci-kubernetes-e2e-gci-gce-scalability

**Which test(s) are failing**: [sig-scalability] Load capacity [Feature:Performance] should be able to handle 30 pods per node ReplicationController with 0 secrets, 0 configmaps and 0 daemons 10h10m

**Since when has it been failing**: October 31st

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce

[2018-11-02 00:32] rlljorge commented on #69503
Update tho 1.12.2 resolve for me

Em qui, 1 de nov de 2018 9:22 PM, Abhilash Pallerlamudi <
notifications@github.com escreveu:

[2018-11-02 00:36] janetkuo commented on #62161
DaemonSet tests aren't too slow. They're tagged serial because they modify node labels which will disrupt other tests. However, probably not all DaemonSet tests need to modify node labels. We can revisit and remove `[Serial]` tags of some DaemonSet tests.

[2018-11-02 00:48] donbowman commented on #65387
Being relied on by istio https://github.com/istio/istio/issues/7328

[2018-11-02 00:53] seans3 commented on #70445
Any progress on this? I'm still seeing the following failure in the SIG CLI `skew-cluster-stable1-kubectl-latest-gke` test:
[code]
The first failure happened on 10/29 @13:24.

The SIG CLI testgrid is at: https://k8s-testgrid.appspot.com/sig-cli-master#skew-cluster-stable1-kubectl-latest-gke

[2018-11-02 01:39] lichuqiang commented on #70180
/assign
for the `TestVolumeProvision` case

[2018-11-02 02:47] boxuan666 commented on #70411
@anfernee   you mean the load balancing server's logs, or the kubelet logs on the nodes?

[2018-11-02 03:38] s0komma opened #70562 "Kubelet won't start on Azure VMSS after upgrading to k8s v.1.11.X"
**What happened**:
Updated Kubernetes to v1.11.X on my k8s cluster running on Azure VMSS and now, kubelet won't start reporting error:
failed to run Kubelet: could not init cloud provider "azure": No credentials provided for AAD application.
I have the /etc/kubernetes/cloud_config  where it was working fine in k8s v1.10.8 and it is in this format:

    "tenantId": "XXXX-XXX-XXX-XXX-XXX",
    "aadC

[2018-11-02 03:46] Nebulazhang opened #70563 "Create pod failed, resource quota's counts is wrong."
**What happened**:
When I have  resource quota, and I create some pods from file. All is OK.
When I fail to create a pod and  quota's status 's used  will add 1.

If we delete or update pod this wrong count will be updated  to be a right count.
Or 5 min after the quota controller will update quota to be a right status.

In api-server code. I find the quota will  update at first. And then try to cr

[2018-11-02 03:49] s0komma commented on #70562
my kubelet.service files
[code]

[2018-11-02 03:51] Nebulazhang commented on #70563
/sig api-machinery
/area apiserver

[2018-11-02 04:38] AishSundar commented on #69989
@ravisantoshgudimetla the test still failed on the last [run #4295](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-serial&show-stale-tests=). Even though it was a couple of hours after PR #70401 merged, I dont see it in the delta changes [for that test run](https://github.com/kubernetes/kubernetes/compare/d05622bee...d265e7eef?). I will watch for the next run result.

[2018-11-02 05:10] juebanlin opened #70566 "Network intermediate node"
**What would you like to be added**:
I want to have a dedicated node to play data forwarding in the cluster.
It can link clusters in different regions to rely on these nodes to connect to a virtual network. It's like a direct connection between a switch and a switch. It's more like a distributed VPN network.
**Why is this needed**:
A small part of my nodes run on the public network, but I have mor

[2018-11-02 05:13] andyzhangx opened #70567 "retry azure disk attach operation produces too many API calls"
**What happened**:
retry  azure disk attach operation produce too many API calls
Not the default `cloudProviderBackoffRetries` value is 6 which means if AttachDisk operation failed, it will retry 6 more times, when disk quota is full on a VM, it produces too many API calls. Retry attach disk behavior is not necessary since it AttachVolume operation fails, k8s attachdetach-controller will retry onc

[2018-11-02 05:16] #70014 closed

[2018-11-02 05:16] #70220 closed

[2018-11-02 05:17] feiskyer commented on #70562
Glad to see issues solved.

For others using kubeadm, remember to set `KUBELET_EXTRA_ARGS` in `/etc/default/kubelet`. It will override values specified in `/etc/systemd/system/kubelet.service.d/20-kubelet-defaults.conf`.

/close

[2018-11-02 05:17] #70562 closed

[2018-11-02 05:30] yangsongx commented on #70523
Thank you very much!

[2018-11-02 05:34] #64498 closed

[2018-11-02 05:34] #61900 closed

[2018-11-02 05:34] #63987 closed

[2018-11-02 05:56] tonyaw opened #70569 "Can kubernetes support to recreate container_B when container_A in the same pod is recreated?"
**What would you like to be added**:
When container_A is crashed by some reason, kubernetes will recreate this container to recover. Is it possible to add a feature to define some rules in manifest to make container_B in the same pod  be recreated at same time?
**Why is this needed**:
Our case is: there is a sidecar container and core container in the same pod. we want the sidecar container and co

[2018-11-02 06:07] b3zn0gim opened #70570 "rollingUpdate strategy instantly killed all PODs in replicaSet"
**What happened**:
I was editing my deployments and adding pod anti-affinity section as well as additional env var to dozens of my deployments files and recently found that sometimes when I apply new deployments, Kubernetes terminates all of the PODs in replicaSet of the deployment even tho I have
[code]

Right now I was able to reproduce this only with replicaSets of 2 replicas. So, both PODs in

[2018-11-02 06:33] idealhack commented on #69686
/sig api-machinery
/remove-sig cluster-ops

[2018-11-02 06:35] #61703 closed

[2018-11-02 06:35] #61887 closed

[2018-11-02 06:35] #55621 closed

[2018-11-02 06:35] #61623 closed

[2018-11-02 06:35] #61292 closed

[2018-11-02 06:35] #64714 closed

[2018-11-02 06:39] saad-ali commented on #70505
I was mistaken about the current behavior of number 2: it is used by CSI. Fixed it.

[2018-11-02 06:43] b3zn0gim commented on #70570
/sig scheduling

[2018-11-02 06:45] #61488 closed

[2018-11-02 06:55] maoge commented on #67526
port range proposal using kubernetes annotations
annotation: portrange.alpha.kubernetes.io/port-end-xxxx
https://github.com/kubernetes/kubernetes/pull/26014/commits/2cf5af1f8cc33e2d22ed1968aca05e5323ef9a0b

[2018-11-02 07:17] wnxn commented on #68688
Hi，@saad-ali
Because `KubeletPluginsWatcher` goes Beta and is enabled by default in Kubernetes v1.12.  After disabling this feater gate,  I can run CSI plugin based on CSI spec v0.2.0 in Kubernetes v1.12.2.
When Kubelet enable `KubeletPluginsWatcher`, Kubelet would call `GetNodeInfo` gRPC call to register CSI plugin. `GetNodeInfo` gRPC call was first proposed at CSI spec v0.3.0. Therefore, user sh

[2018-11-02 07:33] Nebulazhang commented on #70563
If we delete or update any pod this wrong count will be updated to be a right count.
Because quota controller watch "delete" and "update" event.
</br>

[2018-11-02 07:34] xiaoxubeii commented on #70570
I cannot reproduce your problem following your description:
1. create deployment:
[code]
2. add pod antiAffinity
[code]

What I observed is there is always one pod running. Did I miss something?

My cluster is:
[code]

[2018-11-02 07:36] #32157 closed

[2018-11-02 07:36] #60810 closed

[2018-11-02 07:36] #64736 closed

[2018-11-02 08:08] asdfsx commented on #57280
Is there any difference between `/var/lib` and `/run`? Why using `/run` will solve the problem? @squeed

[2018-11-02 08:37] #64694 closed

[2018-11-02 09:03] xiaoxubeii commented on #70563
/assign

[2018-11-02 09:21] lovejoy commented on #27000
@max-lobur We made some changes like this https://github.com/kubernetes/kubernetes/pull/70573

[2018-11-02 09:30] WanLinghao commented on #70554
/assign

[2018-11-02 09:37] dguendisch commented on #67342
I see the same issue from time to time on one of my openstack k8s clusters (v1.11.3).
Seen it when experimenting with argo workflows which subsequently create/delete pods thereby reusing one and the same pv. Intermittently pods fail:
[code]
The cluster has only one worker node. When the error occurs the node shows the resp. volume as attached:
[code]

[2018-11-02 09:37] brancz commented on #70539
Sounds like this is specific to cri-o? Have you tried consulting them? As far as I know there are sig-node members among the cri-o maintainers :slightly_smiling_face: .

[2018-11-02 09:45] jbartosik commented on #69444
The test named in the tile of this issue<sup>1</sup> got better. Last failures at the dashboards you listed:

* [10-28](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master),
* [10-31](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new) (before [PR](https://github.com/kubernetes/kubernetes/pull/70441) merged), error b

[2018-11-02 10:00] jbartosik commented on #69444
I misread titles of custom metric tests as tests for scaling up somehow. Those flaking tests are tests for scaling down and scale downs sometimes don't happen. I'm looking into why.

[2018-11-02 10:05] b3zn0gim commented on #70570
Not sure what may cause this issue, maybe different K8s server version (v1.10.3) or some other that section that I have in my deployment. But, as I told, it appears that the issue is reproduced sporadically.

I'm not sure if there is any other place where I could possibly look to get details. Not sure who's actually sending these DELETE requests to kubelets. Is it kube-controller-manager or kube-s

[2018-11-02 10:10] aleksandra-malinowska commented on #70445
A day was probably too optimistic:( Started to get greener around 6:30 PM PDT yesterday.

[2018-11-02 10:10] xiaoxubeii commented on #70563
/unassign

[2018-11-02 10:42] Nebulazhang commented on #70563
@xiaoxubeii Sorry I don't read recent release code. But it can be easy to reproduce, if you have some time, you can  have a little test. In resource quota admission, resource quota would be validated and updated and then the pod creating will failed because of "same name". I think these two steps are serial.
I agree that "update or delete, and quota controller are enough for quota update, despite

[2018-11-02 10:43] StevenACoffman commented on #70539
@kubernetes/sig-cri-o-proposals

[2018-11-02 10:52] iarechagaMM commented on #64002
We are suffering the very same issue. Some namespaces are 130d old and their are completely stuck in Terminating state

[2018-11-02 10:58] StevenACoffman commented on #70539
Good suggestion, as CRI-O is the most active CRI implementation. I reached out on slack to sig-cri-o (although that sig doesn't appear to be a label/team).

[2018-11-02 12:57] liggitt commented on #69686
cc @mtaufen

[2018-11-02 13:12] Wenfeng-GAO opened #70585 "Disable cpu quota(use only cpuset) for pod Guaranteed"
**What would you like to be added**:

Disable cpu quota when we use cpuset for guaranteed pods.

**Why is this needed**:

For now, kubelet default adds cpu quota and share for all cases when `cpuCFSQuota` is open, even if *cpuset* will be set in guaranteed pod case.

However, this kind of use(cpuset with quota) may sometimes bring us cpu throttle time which we don't expect.

My question is why not

[2018-11-02 13:19] runcom commented on #70539
The CRI log format is **not** specific to CRI-O. It's specific to the CRI itself and code to parse logs can be found here https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/logs/logs.go#L125-L169

There's no however _documented_ log format and that's something we (and kubernetes) need to take care of (/cc @mrunalp @Random-Liu @feiskyer )

[2018-11-02 13:37] StevenACoffman commented on #70539
That bit of code matches:
https://github.com/kubernetes-sigs/cri-o/blob/f58419d6cf462070a0c3727ad2dc554ef151e832/conmon/conmon.c#L499-L509

I also see this other code mention a `:` log tag delimiter:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/cri/runtime/v1alpha2/constants.go#L39-L55

However, I don't see any examples actively using the `:` log tag delimiter, but I have

[2018-11-02 13:57] Wenfeng-GAO commented on #70585
/sig kubelet

[2018-11-02 13:57] Wenfeng-GAO commented on #70585
/sig architecture

[2018-11-02 14:03] neuro-sys commented on #36152
In case anyone needs a workaround to bind to another host from a kubernetes pod, i.e. hop from the pod to another remote that is only accessible from the pod for whatever reason, and since `kubectl port-forward` has a limitation to only forward a port to pod's localhost, you can do the following:

- Install `scat` tool inside the pod. `scat` is similar to `gnu-netcat` with additional features.
- C

[2018-11-02 14:29] ricktbaker commented on #50898
I'd find this useful as well.   We are doing automated backups of our EBS volumes we are using in kubernetes, but some are not needed, so would be nice to be able to add tags so our automation can pick up which ones to backup and which to ignore.

[2018-11-02 14:29] grendach commented on #60807
I'm facing with this issue on v1.11.3. At to the finalizers only kubernetes present for problematic namespace.
[code]

[2018-11-02 14:39] mingfang commented on #55045
+1 to cascade remote the PVCs.
This is causing a problem for me since my automation will try to delete the statefulset and the PV.
While the sts deletes fine, the PV will not because the PVC is still bound to it.

[2018-11-02 14:49] msau42 commented on #55045
@mingfang if your automation is already deleting the PV, can you modify it to delete the PVC instead?

[2018-11-02 14:53] andrewsykim commented on #70526
It might make more sense to add this logic into the [node ipam controller](https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/nodeipam), though be warned that the node ipam controller is currently in a weird state and runs in two different modes (normal and cloud). The "cloud" version only works on GCE but it does handle this case exactly, see [here](https://github.com/kubernetes/

[2018-11-02 14:54] mingfang commented on #55045
I don't think that's a good idea.
The rule of engagement should be that I should create and delete the resources that I explicitly manage, while kubernetes should create and delete the resources that implied by the system.
This works nicely for things like replication controllers and replicasets. I think we should do the same for PVCs here.

[2018-11-02 14:58] liggitt commented on #69686
@mtaufen it appears that comparison is using deepequal on an interface object, which I'm not sure is what we want. do we need a way to get a concrete comparable structure from the config checkpoint?

[2018-11-02 15:12] ravisantoshgudimetla commented on #69989
This is not a blocker, as I told earlier as well, e2e may not be good avenue for this test. I actually thought more about this problem last day. The problem is I updated the node capacity and I was checking if the node could handle the pod based on the scheduler cache which we get from kubelet. But kubelet on the other side is updating it's node information(like CPU, memory etc) in the API server

[2018-11-02 15:39] #70103 closed

[2018-11-02 15:45] ingvagabund opened #70588 "[RFE] Allow to override default AWS endpoint"
When deploying kubernetes in AWS cloud provider it is assumed the AWS cloud is not disconnected [1]. In case the assumption is violated, the deployment fails as the default configuration sets the default endpoint DNS suffix to `amazonaws.com` [2].

**What would you like to be added**:

Extend the aws cloud provider initialization with configurable aws DNS suffix endpoint. Currently, the code creat

[2018-11-02 15:46] mgdevstack commented on #66875
Once tests under #67607 and #68123 are promoted we are good to close this issue.

Short update for reference-
- None of [NodeConformance] tests from "test/e2e_node" seems eligible for [Conformance] promotion at this moment due to node level dependencies.
- Remaining [NodeConformance] tests from "test/e2e" has following status -

Waiting for #67607 to be closed and then below tests would be promote

[2018-11-02 16:08] mjaow commented on #69831
Yeah, we should not check `status.State.Waiting == nil ` in notRunning method

[2018-11-02 16:36] AishSundar commented on #69989
Thanks for the explanation and analysis @ravisantoshgudimetla. do you plan on adding more e2e tests later or stick to unit and integration for validating this feature? @bsalamat,  @jberkus and @justinsb to weigh in on the path forward i.e., remove e2e tests for this feature and rely on unit and integration.

[2018-11-02 16:57] lavalamp commented on #59154
I did a similar thing here that might serve as a good pattern, if someone wants to give it a shot: https://github.com/kubernetes/kube-openapi/tree/master/cmd/openapi2smd

This is still on my list but not at the top :/

[2018-11-02 16:58] lavalamp commented on #59154
re: nullable

@apelisse / @mbohlool  does OpenAPI distinguish null from not present?

[2018-11-02 17:02] tmiklas commented on #43924
I run kubernetes on RancherOS as part of Rancher 2.x setup and have private registry that is not internet facing, so I have to use self-signed certificate on it, resulting in x509 error. I read this thread and few others and the solved the issue - sharing in case it may help someone, if not directly then by suggesting possible path.

This worked for me - http://www.ctrl-alt-del.cc/2018/11/solution

[2018-11-02 17:09] hofmeister commented on #69833
We're seeing the same behaviour on GCP - resulting in internal service calls getting back a "host not found" error because the DNS system is down momentarily.

[2018-11-02 17:28] davidz627 commented on #70549
So it seems that the `readOnly` flag is getting passed all the way through to the driver and it is behaving as we would expect it to in terms of mounting. All the correct commands are being run:

[code]

However, upon further inspection: when exec-ing into the gce-pd-driver container we can observe that the mounted point is indeed read only. However, when viewed from the host node's perspective th

[2018-11-02 17:34] sandeepbhojwani commented on #70502
The problem seems to be related to LimitRange. Here are the 2 scenarios..

1. Follow the steps below to create a test namespace, apply a limitrange config, create a pod, apply 2 patches to the pod and notice that the 2nd patch fails.
[code]

2. Now repeat the steps in 1. with 1 modification - dont' create LimitRange resource. Notice that both the patches work..

[code]

/cc @jennybuckley

[2018-11-02 17:47] #69743 closed

[2018-11-02 17:56] ArchiFleKs commented on #70082
Yes I agree for the original report, just to clarify, this is an empty cluster, with nothing on it, except a fresh cluster with kubeadm 1.12, and coredns on it.

What I find very weird is the fact that I have no issue with the same config and etcd 3.18. I'll check the `etcd_disk_wal_fsync_duration_seconds_bucket` and report asap

[2018-11-02 18:11] logicalhan opened #70591 "Add the ability to kube-apiserver's healthz endpoint to disable health checks via query params"
**What would you like to be added**:

Add support to the kube-apiserver so that we can disable health-checks via query params.

**Why is this needed**:

Currently, the healthz endpoint is inflexible in that any and all health checks are currently executed when the endpoint is hit. Since the kube-apiserver only currently supports a liveness check, this means all persistent health check failures wil

[2018-11-02 18:12] logicalhan commented on #70591
/cc @cheftako @lavalamp @liggitt

[2018-11-02 18:18] ravisantoshgudimetla commented on #69989
@AishSundar - We discussed internally in the sig meeting yesterday and it was decided to have an integration test instead of e2e test. I plan to add an integration test(which we don't have today) later.

[2018-11-02 18:22] apelisse commented on #59154
yes it does. A required field can be null, an optional integer field can't be null (unless it's "nullable")

[2018-11-02 18:36] msau42 commented on #70549
/assign

[2018-11-02 18:47] #59112 closed

[2018-11-02 18:48] anfernee commented on #70411
right, logs from 10.15.4.118 and 10.15.4.119.

[2018-11-02 18:49] juicemia opened #70594 "kubeadm swallows errors when CA key isn't in RSA format"
**What happened**: When trying to deploy Kubernetes using kubeadm v1.12.1, kubeadm failed to generate certificates, causing it to fail at a later step.

After passing `-v10` to get all the logs I could I found that it was expecting _all_ the certificates to have been pre-made, even though I only added the certificate and key for the certificate authority. So I dug into the code, and in `pkiutil.Tr

[2018-11-02 19:45] lavalamp commented on #70591
SGTM

On Fri, Nov 2, 2018 at 12:21 PM Han Kang <notifications@github.com> wrote:

[2018-11-02 19:51] yagonobre commented on #70594
Please create a issue on https://github.com/kubernetes/kubeadm

[2018-11-02 19:56] yagonobre commented on #70594
/area kubeadm
/sig cluster-lifecycle

[2018-11-02 19:58] dimm0 commented on #69699
Having issues mounting a filesystem with a bunch of files in it - taking 14 minutes to start a container. Would love to see an option to disable recursive chown.

[2018-11-02 19:59] Vacant0mens commented on #62038
Any progress on this?

[2018-11-02 19:59] PaulFurtado commented on #65613
/remove-lifecycle rotten

Has there been any additional discussion on this in other issues/proposals? We're also resorting to implementing this out of tree in our load balancer management code, but we'd really love to see this built into Kubernetes.

CC: @ssalinas

[2018-11-02 20:10] lavalamp commented on #64002
There's almost certainly an object in the namespace that can't be deleted for some reason, likely a stray finalizer. We can't help without knowing what exactly is blocking the deletion.

[2018-11-02 20:31] anfernee commented on #70427
@sumanmanuel thanks for reporting issue. My advice is: can you post this into #64743 and close this one? Especially both issues have exactly the same title. #64743 draws a lot of attentions already from many people experienced similar issue, so I think you question has higher chance to be answered there.

[2018-11-02 20:41] kow3ns commented on #70442
/assign

[2018-11-02 20:44] kow3ns commented on #70442
[code]
means you have a partitioned rolling update configured so the Pod with the lowest ordinal will not be updated.

[code]
This is the state that your partition asks for. Remove the partition in order to update the last Pod

see the [documentation](https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#phased-roll-outs)

[2018-11-02 20:45] kow3ns commented on #70442
/close

[2018-11-02 20:45] #70442 closed

[2018-11-02 20:45] kow3ns commented on #70501
/remove-sig apps

[2018-11-02 20:46] kow3ns commented on #70501
/sig cluster-lifecycle

[2018-11-02 20:46] kow3ns commented on #70501
/sig scheduling

[2018-11-02 20:47] kow3ns commented on #70458
/assign kow3ns

[2018-11-02 20:48] kow3ns commented on #70458
/assign janetkuo

[2018-11-02 20:49] kow3ns commented on #70458
This isn't enough information to act on. What caused the DaemonSet to Pod to be evicted?

[2018-11-02 20:50] agolomoodysaada commented on #51835
@shinebayar-g , the problem with `--force` is that it could mean that your container will keep running. It just tells Kubernetes to forget about this pod's containers. A better solution is to SSH into the VM running the pod and investigate what's going on with Docker. Try to manually kill the containers with `docker kill` and if successful, attempt to delete the pod normally again.

[2018-11-02 20:51] kow3ns commented on #70312
/assign @mortent
PTAL

[2018-11-02 21:00] verult commented on #69189
/close

[2018-11-02 21:00] #69189 closed

[2018-11-02 21:16] simonsheng commented on #70198
Just watch around.

[2018-11-02 21:29] jdoss commented on #61474
/remove-lifecycle rotten

I believe this still impacts Fedora 29 when trying to install OKD 3.11.

systemd-239-6.git9f3aed1.fc29.x86_64

[code]

[2018-11-02 21:34] jpetazzo commented on #70554
Not quite; the old code was:
[code]
The new code is:
[code]
I don't know why it was changed, but the new logic reads as "if the user specified a selector **and** a number of lines different from -1, then set the number of lines to 10".

[2018-11-02 21:43] joewilliams commented on #18982
As with the other commenters I am also very interested in the status on this issue.

[2018-11-02 21:46] fabiand commented on #68818
It's a cyclic dependency - I think!

coredns can only be scheduled if networking is configured.
This is done by the network plugin whatever it is - AFTER kubeadm is done.

BUT, during kubeadm, [kube proxy configures iptables to not permit any DNS traffic if no dns endpoints are configured](https://github.com/kubernetes/kubernetes/blob/d25e6a6f62311ecffc1fce472e4c936b13291a85/pkg/proxy/iptables/pro

[2018-11-02 22:09] zerda commented on #56038
@sfitts You can use the Aliyun mirrors and container registry outside of AilCloud.

Here are some quick tips.
- https://mirrors.aliyun.com/kubernetes/apt/ for https://apt.kubernetes.io/
- https://mirrors.aliyun.com/docker-ce/linux/ubuntu for https://download.docker.com/linux/ubuntu
- registry.aliyuncs.com/google_containers for k8s.gcr.io
- docker registry mirrors can be https://registry.docker-cn.

[2018-11-02 22:10] linericyang commented on #70161
@ndesh26 I believe cpu_manager will show a [error message](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cpumanager/cpu_manager.go#L117) if --kube-reserved  or --system-reservedwas not specified.

[2018-11-02 22:11] rlagutinhub opened #70601 "oidc via ldap+dex - invalid bearer token, invalid bearer token"
**What happened:**
I can not configure oidc via ldap+dex authentication.
Authentication fails 401 and the following messages write to the kube-api log:
authentication.go:62] Unable to authenticate the request due to an error: [invalid bearer token, [invalid bearer token, invalid bearer token]]

Tell me how to solve this error.

**How to reproduce it (as minimally and precisely as possible):**
adde

[2018-11-02 23:15] PatrickLang opened #70604 "Reference Docs: Windows Supported APIs"
This is a tracking issue for the API reference documentation that needs to be updated related to Windows. This will replace the earlier list [here](https://github.com/kubernetes/community/blob/master/sig-windows/api-tracking.md). Initially I'm putting in a GitHub task list but will replace them with PR links as they're submitted

Many of these issues will probably also be gathered into https://git

[2018-11-02 23:17] kfox1111 commented on #65874
/remove-lifecycle rotten

[2018-11-02 23:44] #70541 closed

[2018-11-03 01:02] #69989 closed

[2018-11-03 01:04] kilianc commented on #58748
Same here jobs keep being spawned

[2018-11-03 02:40] juicemia commented on #70594
Sure. [Here it is so others looking at this can follow along.](https://github.com/kubernetes/kubeadm/issues/1210).

[2018-11-03 02:55] #52113 closed

[2018-11-03 03:31] mortent commented on #70312
So the current behavior matches the documentation [https://kubernetes.io/docs/tasks/run-application/configure-pdb/#arbitrary-controllers-and-selectors](https://kubernetes.io/docs/tasks/run-application/configure-pdb/#arbitrary-controllers-and-selectors) that points out that only `.spec.minAvailable` can be used with bare pods.

I do think this makes sense. In order to use `.spec.maxUnavailable` the

[2018-11-03 04:28] #70567 closed

[2018-11-03 06:06] #66909 closed

[2018-11-03 06:46] m1093782566 commented on #70014
Does #70149 work for you?

[2018-11-03 07:53] shubheksha commented on #70588
/sig aws

[2018-11-03 08:00] #56799 closed

[2018-11-03 08:00] #55867 closed

[2018-11-03 08:04] shinebayar-g commented on #51835
@agolomoodysaada Ah, that makes sense. Thanks for the explanation.

[2018-11-03 09:01] #48957 closed

[2018-11-03 10:02] bigbang009 commented on #61224
Is it a bug in kubeadm while token has expired but joining node prompt successfully?

[2018-11-03 10:08] bigbang009 opened #70614 "kubeadm join node successfully but list not found"
while I join a node by useing kubeadm join, it prompt successfully, but not found by listing nodes.
I found the token has been expired. So, I create token again, finally, it works. So, is it a bug that token has been expired but prompting successfully?

[2018-11-03 10:34] teemow opened #70615 "kube-proxy fails to cleanup iptables chains after restart"
**What happened**:

If `kube-proxy` restarts it reports

[code]

This is due to another chain referencing `KUBE-MARK-MASQ`. This would not happen if the chains are first all flushed and then removed.

Some examples of chains referencing `KUBE-MARK-MASQ`:

[code]

See: https://github.com/alexjx/kubernetes/blob/4ca62e4f39c59ebe66a59685a8f020315dfd3016/pkg/proxy/ipvs/proxier.go#L520

We are running i

[2018-11-03 10:35] teemow commented on #70615
/sig network

[2018-11-03 11:07] sokoow commented on #51835
so, it's the end of 2018, kube 1.12 is out and ... you all still have problems with stuck pods ?

[2018-11-03 14:06] #64824 closed

[2018-11-03 14:06] #64828 closed

[2018-11-03 15:25] leblancd opened #70617 "kubeadm init failing for IPv6-only configuration"
**What happened**:
If you run 'kubeadm init ...' with an IPv6-only configuration, kubeadm will keep hanging and timing out here:
[code]
Looking at the state of kubernetes system pods, both etcd and API controller pods are crashing.
Looking at the etcd server docker container logs, you'll find:
[code]
The issue here is that the URL used for '--advertise-client-urls' needs square brackets around the

[2018-11-03 15:32] sudomakeinstall2 opened #70618 "restarting kubelet results in evicting all the pods in the node"
**What happened**:
After enforcing our users to set `ephemeral-storage` request and limit in their deployments' manifests, restarting kubelet results in evicting all pods in the respective node and we see this event for all pods:

[code]

**What you expected to happen**:
Previously restarting kubelet did not have any effect on our running pods. Also the node has enough space, but somehow kubelet a

[2018-11-03 16:07] matthyx commented on #27114
If @andyxning doesn't object, I would like to work on that...
/assign

[2018-11-03 16:16] sudomakeinstall2 commented on #70618
/sig node

[2018-11-03 18:05] #70594 closed

[2018-11-03 18:10] #43292 closed

[2018-11-03 19:30] mkurzeja commented on #44273
Same for me, started to happen quite often lately.

[code]

Running on n1-standard-2

[2018-11-03 19:59] goblain commented on #70496
Is it not an issue though that while for `initContainers` it is a hard requirement for them to succeed for the actual workload to start, while potential `shutdownContainers` could only act on best effort with no solid guarantee that they will get executed as expected, introducing volatility to the design of deployed solution? Is it even worth having if it can not be guaranteed to execute?

[2018-11-03 20:32] NicolaiSchmid commented on #23864
/remove-lifecycle stale

[2018-11-03 21:17] christianhuening commented on #65098
@smarterclayton @foxish @enisoc @grobie i would also be interested in that

[2018-11-04 01:17] #64668 closed

[2018-11-04 01:17] #64467 closed

[2018-11-04 01:17] #64497 closed

[2018-11-04 01:17] #63867 closed

[2018-11-04 01:17] #63754 closed

[2018-11-04 01:17] #63948 closed

[2018-11-04 02:41] gertcuykens commented on #66994
/remove-lifecycle

[2018-11-04 02:42] gertcuykens commented on #66994
/remove-lifecycle stale

[2018-11-04 03:19] #63301 closed

[2018-11-04 03:19] #61625 closed

[2018-11-04 03:19] #63581 closed

[2018-11-04 03:57] neolit123 commented on #27744
https://github.com/kubernetes/kubernetes/pull/68667#issuecomment-435640069

[2018-11-04 06:54] Huang-Wei opened #70622 "Scheduler sometimes doesn't preempts pods in a correct path"
**What happened**:

Sometimes, scheduler doesn't preempt pods in an "exact" correct way/path. But good thing is the final state is accurate - pods which should be preempted are finally preempted.

**What you expected to happen**:

The internal preemption process should also be exactly correct to avoid producing unnecessary preemptions.

**How to reproduce it (as minimally and precisely as possible

[2018-11-04 06:59] Huang-Wei commented on #70622
[70622.log](https://github.com/kubernetes/kubernetes/files/2545626/70622.log)

[2018-11-04 07:15] Huang-Wei commented on #70622
@bsalamat this is the issue I talked to you earlier in slack.

I can reproduce it in 1.11 everytime. On 1.12 it's not that easy to reproduce, but I do see this issue also. So I believe it's a bug, in rare (racing) conditions.

[2018-11-04 09:10] sudomakeinstall2 commented on #70618
I close this issue because it seems like this issue is related to #69999

[2018-11-04 09:18] sudomakeinstall2 commented on #69999
We have encountered this issue and I can confirm that whenever we restart the kubelet all the pods in the respective node gets evicted due to ephemeral storage.

Is there a temporary way to disable evicting pods with respect to ephemeral storage until this issue gets fixed? Since kubelet thinks capacity of the node is 0, setting `--eviction-hard` flag doesn't help because it demands a positive num

[2018-11-04 13:00] towolf commented on #70493
It keeps happening for me, just in my case still in `ipvs` mode:
![image](https://user-images.githubusercontent.com/345210/47964358-2eef6a00-e039-11e8-8345-df548e34dc58.png)

s237 is stuck on an old endpoint.

When I delete the pod to force an endpoint update, two nodes are stuck on the old endpoint and the s237 node is stuck on the even older endpoint. I waited more than 2 minutes, while `syncPer

[2018-11-04 13:09] nikhita commented on #60700
/remove-lifecycle stale

[2018-11-04 13:36] geekidentity commented on #25319
what time the affinity and anti-affinity release stable version?

[2018-11-04 16:46] rlagutinhub commented on #70601
/sig network
/sig node
/sig cluster-ops

[2018-11-04 16:56] rlagutinhub commented on #70601
my log
![1](https://user-images.githubusercontent.com/30324030/47967113-1a2bca00-e06b-11e8-95d2-607d7c3bf2cc.png)
![2](https://user-images.githubusercontent.com/30324030/47967130-40ea0080-e06b-11e8-8ff1-3ab1b0c3972b.png)
![3](https://user-images.githubusercontent.com/30324030/47967151-6b3bbe00-e06b-11e8-8537-8ac067d38ad7.png)
![4](https://user-images.githubusercontent.com/30324030/47967181-b950c18

[2018-11-04 17:36] rjosephwright commented on #69040
This happened for me using the `golang:1.11` image. Seems to have happened after `1.11` switched from `1.11.1` to `1.11.2`. Pinning my image to `golang:1.11.1` solved it.

[2018-11-04 18:34] #63729 closed

[2018-11-04 18:34] #64874 closed

[2018-11-04 19:09] ArchiFleKs commented on #70082
Hi,

[code]

[2018-11-04 19:35] #64866 closed

[2018-11-04 19:45] jberkus commented on #69444
While this test has gotten better, it's still flaking some of the time:

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master

[2018-11-04 19:53] jberkus opened #70627 "Failing Test: [sig-scheduling] TaintBasedEvictions [Serial] Checks that the node becomes unreachable"
**Which jobs are failing**: ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new

**Which test(s) are failing**: [sig-scheduling] TaintBasedEvictions [Serial] Checks that the node becomes unreachable

**Since when has it been failing**: Nov. 3rd

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new

**Reason for failure**:

Proximate err

[2018-11-04 20:55] nikopen commented on #58010
pinged @mtaufen for status, posting this for visibility

[2018-11-04 21:04] neolit123 commented on #70614
could you please log the issue in the https://github.com/kubernetes/kubeadm tracker.
also provide more details like steps to reproduce, OS, and kubeadm version.
thanks.

/close

[2018-11-04 21:05] #70614 closed

[2018-11-04 21:11] neolit123 commented on #70617
hi @leblancd
transferring this to the kubeadm tracker:
https://github.com/kubernetes/kubeadm/issues/1212

/close

[2018-11-04 21:11] #70617 closed

[2018-11-04 21:11] nikopen commented on #69892
@PatrickLang let us know when there are news, looks like a fairly big change ^^

[2018-11-04 21:14] neolit123 commented on #70569
/sig node

if you don't get a response please try stackoverflow or slack.

[2018-11-04 21:15] nikopen commented on #32727
@AishSundar @shubheksha  this look fine and on track. there's an old label "milestone/removed" which I probably can't remove but it's fine.

[2018-11-04 21:18] nikopen commented on #65016
@bclau let us know about updates on this, code freeze is in about 10 days

[2018-11-04 21:19] nikopen commented on #38637
/kind cleanup

[2018-11-04 21:19] neolit123 commented on #70566
/sig node

[2018-11-04 21:33] neolit123 commented on #70496
i tend to agree with the above statement.

if you want to get more attention from maintainers try asking in these slack channels #sig-node or #sig-scheduling.

this is not related to code that these sigs maintain:
/remove-sig cluster-lifecycle cluster-ops
/sig node

[2018-11-04 21:37] #64698 closed

[2018-11-04 22:39] #63825 closed

[2018-11-04 23:33] AishSundar opened #70631 "Update to golang 1.11.2"
go 1.11.2 is out 11/2 and this bug tracks upgrade to the latest version.

* Is it something we should absolutely needed in the 1.13 timeframe?
* are there any [critical fixes in 1.11.2](https://github.com/golang/go/issues?utf8=%E2%9C%93&q=milestone%3AGo1.11.2+) that should absolutely take?
* how long does the associated image updates and push take?
* If we chose to upgrade in 1.13,  we should do i

[2018-11-04 23:35] Huang-Wei commented on #70627
@jberkus The e2e test "TaintBasedEvictions [Serial] Checks that the node becomes unreachable" simulates blocking network connection to master like this: sshing into a worker node, and issue an iptables command to block traffic to master, then wait for the worker node to be NotReady status.

And it passed in [regular sig-scheduling dashboard](https://k8s-testgrid.appspot.com/sig-scheduling#gce-seri

[2018-11-04 23:45] k82cn commented on #70501
ack, let me check it :)

[2018-11-04 23:58] Huang-Wei commented on #70627
From the log, there is no error on "sshing into the worker node and run iptables command to block traffic to master". I'm a little stuck why this worker node doesn't show NotReady..

[2018-11-05 00:07] cblecker commented on #70631
/cc
I’ve already got a branch cooking for this, but waiting for rules_go support first. I think @jayconrad said in Slack that this will happen this week.

[2018-11-05 00:50] AishSundar commented on #70631
Ahh so is the earliest expected timeframe when we can upgrade falls into Code slush period for 1.13 (post 11/9?) Depending on when this lands we might want to see if its safe to wait for 1.13.1. @cblecker are you aware of any critical fixes that make this compelling for 1.13 timeframe?

[2018-11-05 01:10] wyaeld commented on #67538
@YacheLee @x13n Just upgraded master and nodes to 1.11.2-gke.9 today and this is still happening.  Does the GKE platform upgrade to new nodes when you upgrade a node pool, and should this problem go away?

[2018-11-05 01:48] Huang-Wei commented on #70627
One possibility is that in the upgrade testing env, there is only one worker node?

So that it enters a "fully disrupted" mode, and node lifecycle manager doesn't update node to NotReady state, per its design.

@jberkus may I know the output of `kubectl get node -o wide` on this "master upgrading" test env?

[2018-11-05 01:50] hzxuzhonghu commented on #65012
/remove-lifecycle stale

[2018-11-05 01:56] boxuan666 commented on #70411
@anfernee  there is no error log in load balancer server. Haproxy is booting by docker.
configuration file of Haproxy as follow:

[code]

I don't understand which process has been accessing the API, causing TLS error.

[2018-11-05 02:47] xiaoxubeii commented on #70563
I don't think resource admission and pod creating are serial. That is why I mean "it is hard to track the consequence".

[2018-11-05 02:54] cblecker commented on #70631
The risk for patch golang point releases is typically low (the minor releases, like 1.10 -> 1.11, are higher risk). I don't see anything that's critical or of known impact, but at the same time, I see compiler fixes and go/types package fixes. They are more subtle and could present issues later.

I'd suggest that if we can tolerate getting it in, even if we're in slush, we should.

[2018-11-05 02:55] bradcburns commented on #65575
I can confirm this workaround also resolves the issue in vSphere 6.5.

[2018-11-05 03:44] liggitt commented on #70601
/sig auth

That error message typically means the bearer token is not a valid signed JWT for the issuer

[2018-11-05 04:51] AishSundar commented on #70631
Ack that @cblecker :) Plz ping this bug as soon as we are ready to build and push the upgraded images. we'll will make a final call depending on the timeframe and CI signal going in. thanks!

[2018-11-05 05:39] msau42 commented on #65246
@pohly here's one recent one you can check out:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/25313#sig-storage-csi-volumes-csi-plugin-test-using-csi-driver-hostpath-should-provision-storage

[2018-11-05 05:42] msau42 commented on #68524
https://github.com/kubernetes/kubernetes/pull/70193 is addressing this

[2018-11-05 05:43] msau42 commented on #69379
@pohly can you update the latest status on this, and also reference any prs already merged or in-flight?

[2018-11-05 05:45] msau42 commented on #69122
I think we should address this after https://github.com/kubernetes/kubernetes/issues/69379 (and it can be done out of tree)

[2018-11-05 05:52] msau42 commented on #70505
I tested out 4).  While it is not passed through to csi, it is passed to the CRI, which will bind mount into the runtime as read-only.  So I think there is no issue with 4), and is consistent with in-tree volumes.

I am fixing an additional issue with 2) wrt subpath volumes: https://github.com/kubernetes/kubernetes/issues/70549

[2018-11-05 07:42] mborsz commented on #70357
Also

* https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/247/artifacts/gce-scale-cluster-minion-group-xbql/kubelet.log
* https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/247/artifacts/gce-scale-cluster-minion-group-xbql/docker.log

[2018-11-05 07:48] rlagutinhub commented on #70601
when using certificate letsencrypt this error is repeated [invalid bearer token, [invalid bearer token, invalid bearer token]]

[2018-11-05 07:49] rlagutinhub commented on #70601
Example my oidc token

- name: user1@dev.mta4.ru
  user:
    auth-provider:
      config:
        client-id: loginapp
        client-secret: 4TORGiNV9M54BTk1v7dNuFSaI6hUjfjr
        id-token: eyJhbGciOiJSUzI1NiIsImtpZCI6IjBmYmMyMTU4NmU2MDQ3MmUyNmM1NGJmNTk2NmVkZDUxMjEwYWJlODgifQ.eyJpc3MiOiJodHRwczovL2RleC5kZXYubXRhNC5ydTozMjAwMC9kZXgiLCJzdWIiOiJDZ1YxYzJWeU1SSUViR1JoY0EiLCJhdWQiOiJsb2dpbmFwcCIsImV4c

[2018-11-05 07:57] rlagutinhub commented on #70601
I tested loginapp, dex-k8s-authenticator, gangway, with self-signed or letsencrypt certs.
 For all my solutions have an error [invalid bearer token, [invalid bearer token, invalid bearer token]]

[2018-11-05 08:03] rlagutinhub commented on #70601
In this case, it should be possible example - crypto/rsa: verification error?

[2018-11-05 08:33] Blackcatfish opened #70641 "How to install k8s in the Intranet"
**What would you like to be added**:

**Why is this needed**:
How to build a k8s environment in the Intranet environment

/kind feature

[2018-11-05 08:35] Blackcatfish opened #70643 "How to install k8s in the intranet"
**What would you like to be added**:

**Why is this needed**:

/kind feature

[2018-11-05 08:39] ping2kalesh commented on #69971
@adubkov All the subnets are private subnets.

[2018-11-05 08:42] changyaowei commented on #69999
We have fixed it in our scenario, i will push it later.

[2018-11-05 08:46] mborsz commented on #70357
And
* https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/246/artifacts/gce-scale-cluster-minion-group-3-3pvv/docker.log
* https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/246/artifacts/gce-scale-cluster-minion-group-3-3pvv/kubelet.log

[2018-11-05 08:47] wenma opened #70644 "Delete pod show a 'ContainerCreating' status ?"
- Kubernetes version (use `kubectl version`):
v1.12.1

When I watch the pod event (using ```sigs.k8s.io/controller-runtime```),  I delete a pod  ( Kind: Pod )  named ```test```, and I receive a event with ```pod.Status.ContainerStatuses``` \:
[code]
shows ```Waiting:&ContainerStateWaiting{Reason:ContainerCreating```,  why delete a pod shows a 'ContainerCreating' status

/kind bug

[2018-11-05 08:53] Pingan2017 commented on #70644
/sig node

[2018-11-05 08:57] x13n commented on #67538
The [cherrypick](http://go/gh/kubernetes/kubernetes/pull/67535) to 1.11 branch went in 1.11.3, 1.11.2-gke.9 doesn't have it.

Addon deployments/daemonsets are upgraded together with master upgrade, as long as they had any changes. When there are no changes, it's expected for them to stay untouched.

[2018-11-05 09:09] yastij commented on #63554
/remove-lifecycle stale

[2018-11-05 09:10] maoge commented on #23864
port range proposal using kubernetes annotations
annotation: portrange.alpha.kubernetes.io/port-end-xxxx
https://github.com/kubernetes/kubernetes/commit/2cf5af1f8cc33e2d22ed1968aca05e5323ef9a0b

can this been merge?

[2018-11-05 09:10] maoge commented on #23864
/lifecycle stale

[2018-11-05 09:14] m1093782566 commented on #23864
@maoge We need to figure out how IPVS implements port range.

[2018-11-05 09:17] micw commented on #5607
@t3hmrman I found https://github.com/kubevirt/kubernetes-device-plugins/blob/master/docs/README.kvm.md which may solve your particular use case.

[2018-11-05 09:19] micw commented on #5607
It should be possible to create a generic device plug-in which gets a device node as argument as well as a number of allowed instances.

[2018-11-05 09:33] jbartosik commented on #69444
I looked at "Latest failures" in the two top categories according to [this dashboard](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Horizontal%20pod%20autoscaling) (all the other categories have almost no recent flakes).

All of the failures log as if they were not affected by [this PR](https://github.com/kubernetes/kubernetes/pull/70579): `waiting for %d replicas (current:

[2018-11-05 09:34] dczombera commented on #70198
@riya-17  Can you give me more details about what it is you are struggling with? Writing test cases in general? I'm also new to the project but perhaps I can help you out. :)

[2018-11-05 09:37] thakshak commented on #57673
did not work. it still shows unknown

[2018-11-05 09:52] buzai commented on #63874
it is a bug , can fix it by update the latest version

[2018-11-05 09:52] #63874 closed

[2018-11-05 09:59] lanoxx commented on #48798
Confirming that the solution from @ReSearchITEng works, I not have my master node in the running state and flannel is up.

[2018-11-05 10:18] jbartosik commented on #69444
... when I look at git branches it looks like my PR is there.

There was [one failure](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4310#sig-autoscaling-hpa-horizontal-pod-autoscaling-scale-resource-cpu-sig-autoscaling-serial-slow-replicationcontroller-should-scale-from-1-pod-to-3-pods-and-from-3-to-5-and-verify-decision-stability) with logs that looking

[2018-11-05 10:33] chandaku commented on #70257
I am also seeing this problem is there any workaround. @ltupin did you care anything special while build another docker container.

[2018-11-05 10:40] jbartosik commented on #69444
/assign @jbartosik

[2018-11-05 10:52] pohly commented on #69379
The builtin rules are still there, but are going to be declared as "deprecated" in the 1.13 release notes and instead external RBAC definitions are getting used (see https://github.com/kubernetes/kubernetes/pull/69868).

Updating all those external RBAC definitions is in progress. Some upstream repos have them already, some don't (external-snapshotter). I also found (a bit late unfortunately) that

[2018-11-05 10:53] aleksandra-malinowska commented on #70445
Testgrids were rearranged in the meantime, new link to one of the previously-failing jobs: https://k8s-testgrid.appspot.com/sig-release-1.11-all#gke-gci-1.10-gci-1.11-upgrade-master

Not exactly green, but running again. The original issue seems fixed.

/assign @jberkus

[2018-11-05 11:40] ermajn commented on #70257
@chandaku I've builded image also. Pushed it to my docker registry and changed configuration so it uses my image instead of pre-builded one.

[2018-11-05 11:45] mborsz commented on #68865
We have run into #68735 again in scalability test. Any update here?
/cc @mborsz

[2018-11-05 11:48] pohly commented on #65246
Michelle Au <notifications@github.com> writes:

I had a look, but something is odd about that one. The error for the
second pod is there:
[code]

But under
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/25313/artifacts/
there is no further information about node
bootstrap-e2e-gce-mz-minion-group-3kn6. Shouldn't that be available?

[2018-11-05 12:01] fabiand commented on #46041
I think this is actually already solved ..

[2018-11-05 12:08] yue9944882 commented on #68865
this will simplify #65527 as well

[2018-11-05 12:17] marfenij commented on #67538
1.10.9-gke.0  is available and does not contains this issue

[2018-11-05 13:02] ingvagabund commented on #70588
In theory, it should be enough to extend `CloudConfig` data type with `Endpoint` or similar field that is set to `amazonaws.com` by default.

[1] https://github.com/kubernetes/kubernetes/blob/f2c9eb860fd89acab5d587122ff77d8bf013b9b7/pkg/cloudprovider/providers/aws/aws.go#L521-L569

[2018-11-05 13:09] rcsavage commented on #70496
@goblain - perhaps I was not detailed enough in my feature request resulting in the above assumptions.   I am not necessarily requesting that shutdownContainers succeed prior to POD termination.   What I am requesting is, "upon POD termination", shutdownContainer(s) can be triggered.

[POD-workers] - State: Terminating
[shutdownContainer-1]: Starts as soon as the above POD is being "Terminated"
[s

[2018-11-05 13:11] shangxdy commented on #51835
I have the same issue, either --force --grace-period=0 or --force --now doesn't work, the following is the logs:

root@r15-c70-b03-master01:~# kubectl -n infra-lmat get pod node-exporter-zbfpx
NAME                  READY     STATUS        RESTARTS   AGE
node-exporter-zbfpx   0/1       Terminating   0          4d
root@r15-c70-b03-master01:~# kubectl -n infra-lmat delete pod node-exporter-zbfpx --gr

[2018-11-05 13:49] pmichali opened #70653 "dual-stack: kubelet preferred family"
**What would you like to be added**:
To have kubelet get the pod's IP, based on the family used for the service network. For an IPv4 only cluster, this would be the pod's IPv4 address. For an IPv6 only cluster, this would be the pod's IPv6 address. For dual-stack, this would be the IPv4 address, if the service network is using IPv4, or the IPv6 address, if the service network is using IPv6.

**Why

[2018-11-05 13:55] fabiand commented on #68818
Actually, to me it was that the undercloud hat the same ip ranges as the services.

[2018-11-05 13:59] t3hmrman commented on #5607
Hi @micw Thanks for the suggestion! That definitely looks like it would solve my problem (and others'), and it explains how kubevirt can get the functionality they provide.

Since posting here I've started using [untrusted workload runtimes w/ `containerd`](https://github.com/containerd/containerd/releases/tag/v1.1.0) in combination with the [`kata-containers`](https://katacontainers.io/) to run p

[2018-11-05 14:04] k82cn commented on #29178
/close

`TaintNodesByCondition` is upgraded to beta in 1.13, so close this issue.

[2018-11-05 14:04] #29178 closed

[2018-11-05 14:15] ingvagabund commented on #70588
Though, every endpoint resolver needs to be re-implemented since all the endpoint partitions are private [1] (in case we just want to replace the DNSsuffix with a different one).

[1] https://github.com/aws/aws-sdk-go/blob/475409399d0f8a680b6c68fcd49be984e36d5d66/aws/endpoints/defaults.go#L199-L201

[2018-11-05 14:21] RenaudWasTaken commented on #69015
ping @figo on the above :)

[2018-11-05 14:47] pohly commented on #65246
"Patrick Ohly" <patrick.ohly@intel.com> writes:

Here's a better example where the kublet log with the error is
available:
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/31590#sig-storage-csi-volumes-csi-plugin-test-using-csi-driver-hostpath-should-provision-storage

That one also has the log of the external-attacher, but that doesn't
tell me much.

I'm now compa

[2018-11-05 14:58] mariantalla commented on #70446
/close

[2018-11-05 14:58] #70446 closed

[2018-11-05 14:59] pmichali commented on #70653
/sig network

[2018-11-05 15:01] ltupin commented on #70257
same as @ermajn said @chandaku ;-)

[2018-11-05 15:08] mariantalla opened #70655 "Failing test: [sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stabilityChanges"
**Which jobs are failing**:
[sig-release-master-upgrade/gce-new-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master)

**Which test(s) are failing**:
[[HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stabilit

[2018-11-05 15:09] mariantalla commented on #70655
/sig autoscaling

[2018-11-05 15:22] discordianfish commented on #50898
Just realize this wasn't mentioned here. I was initially interested in this primarly because it should allow creating IAM roles that are allowed to create volumes but are only allowed to attach/modify volumes only volumes that k8s created. That's impossible right now because k8s needs to be able to modify *all* volumes to attach the tags in a separate step.

[2018-11-05 15:32] msau42 commented on #70319
@kubernetes/sig-storage-bugs

[2018-11-05 15:34] RainingNight commented on #56038
Why not support `imageRepository` argument in Kubeadm init and join?

[2018-11-05 15:47] aermakov-zalando commented on #45476
/remove-lifecycle rotten

[2018-11-05 15:47] aermakov-zalando commented on #45476
/reopen

[2018-11-05 15:50] lvjing2 opened #70656 "Support to pause and resume the ability of scaling just like rollout"
**What would you like to be added**:
- kubectl scale pause deployment/xxx
- kubectl scale resume deployment/xxx
**Why is this needed**:
I maintained a preheat shared pod pool, and I need to add the pod to some user's deployment(replica=0) when it's need to scale up.
And what's the problem is that:
### if the init replica of user deployment is zero, then when i try to add the shared pod to the depl

[2018-11-05 15:52] lvjing2 commented on #70656
/sig feature-requests
/sig scalability

[2018-11-05 15:54] aermakov-zalando commented on #45476
Considering that kernel memory usage is not limited or tracked in any way, a slowloris-like attack on one of the applications could use much more memory than was provisioned for it just with the socket buffers. Moreover, even if `limits.memory` is set, it won't result in an OOM kill of the offending application, but a random eviction of other applications. Is there a suggested way of protecting ag

[2018-11-05 15:59] yue9944882 opened #70657 "[UMBRELLA ISSUE] Prune hub-typed clienset/informer/lister from k/k"
/kind cleanup
/sig  api-machinery
/priority important-longterm

all hub type should be scoped in the handler. as the dependencies from admission/controllers are removed, we are now able to prune the legacy hub-typed clientset/informer/lister from kube-apiserver.

- [x] aggregator hub clientset/informer/lister #69683 #79418
- [x] master hub informer/lister
    - #70174 Switch to versioned types in

[2018-11-05 16:10] jberkus commented on #70557
@wojtek-t always hard to tell with this test, since it only runs once per weekday

[2018-11-05 16:13] trevex commented on #59117
I do not think this is completely resolved, because patch with `--local` on v1.12 seems to not support anything other than `--type=json`.

[2018-11-05 16:13] jberkus commented on #70627
Link to original PR: #69796

[2018-11-05 16:15] AishSundar commented on #70627
@justinsb @roberthbailey to help answer any questions relating to upgrade test setup and env.

[2018-11-05 16:39] wojtek-t commented on #70557
I know - sorry. @mborsz is working on deflaking that suite. It already is better than in previous cycles and I hope it will be much better at the end of this quarter.

I know from Maciek that at least one of those two failures was because of:
https://github.com/kubernetes/kubernetes/issues/70357
So if you have any people who could help with understanding that one better, it would be great.
@jberku

[2018-11-05 16:47] nikopen commented on #58010
not so urgent, can be pushed to next release.
/milestone v1.14

[2018-11-05 16:47] AishSundar commented on #69379
@marpaia for the appropriate Release notes updates for this change.

@pohly we are nearing Code slush (11/9) and Code freeze (11/16) pretty rapidly. Do you think all the 3 pending PRs and Docs can be wrangled by then? Also if you want this to be in 1.13, plz update the priority to important-soon for it to be mergeable once in code slush.

[2018-11-05 16:51] AishSundar commented on #70319
@saad-ali and @msau42 is there an owner for this issue?

[2018-11-05 16:52] guineveresaenger commented on #68526
Hi @apelisse - I'm Enhancements Shadow for 1.13. Could you please update the release team with the likelihood of this enhancement making the 1.13 release? It looks close but when we don't see any updates in a few days, we would appreciate an update.

Code slush begins on 11/9 and code freeze is 11/15.

Thank you!

[2018-11-05 16:55] pohly commented on #65246
Michelle Au <notifications@github.com> writes:

No idea.

Even if it isn't, it's at least related to the same piece of
code. Probably worth fixing both together.

Can we get someone who has worked in this area to fix these issues?
Today is the first day that I've ever seen this code, so I'm a bit
afraid that it'll take me a long time to get it right, and I'm worried
about regressions.

[2018-11-05 17:02] AishSundar commented on #68524
I am giving this and the associated PR a priority of important-soon assuming its going in 1.13. Please adjust accordingly.

/priority important-soon

[2018-11-05 17:02] chandaku commented on #70257
Worked for me as well, created my own image and pushed to docker registry and arrived to my goal. Thanks

[2018-11-05 17:08] mariantalla commented on #70151
Hey @justinsb @roberthbailey - this is now failing again on [sig-release-master-upgrade/gce-new-master-upgrade-master](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master). Any updates/blockers?

cc @jberkus  @AishSundar

[2018-11-05 17:16] danwinship commented on #23864
There are a lot of "+1" type comments on this bug, but still a lot of vagueness about exactly what people need. In particular, the proposal in https://github.com/kubernetes/community/pull/1738 excludes NodePort and ExternalIP services and doesn't discuss LoadBalancers or Ingress at all (in the actual PR). So it doesn't provide any way for a port-range service to accept connections coming from outs

[2018-11-05 17:20] hulu1522 commented on #70257
/kind bug

[2018-11-05 17:29] dims commented on #70641
/close

please see articles like this one https://kubethink.com/posts/create-an-on-premises-cluster-in-china-v1-12/

[2018-11-05 17:29] #70641 closed

[2018-11-05 17:29] dims commented on #70643
/close

please see articles like this one https://kubethink.com/posts/create-an-on-premises-cluster-in-china-v1-12/

[2018-11-05 17:29] #70643 closed

[2018-11-05 17:37] Huang-Wei commented on #56787
I do think so. I met this issue in https://github.com/kubernetes/kubernetes/issues/70627.

[2018-11-05 17:39] Huang-Wei commented on #56787
/reopen

[2018-11-05 17:40] AishSundar commented on #69122
@msau42 can you give it an appropriate priority/ please. thanks

[2018-11-05 17:41] Huang-Wei commented on #70627
I think the root cause is described in https://github.com/kubernetes/kubernetes/issues/56787:

From latest failure test, I do see [api-server logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1775/artifacts/bootstrap-e2e-master/kube-apiserver.log) showing it's communicating using private ip.

Kindly ping @foxish: do we have plan to fi

[2018-11-05 17:45] jberkus opened #70660 "Flaky Upgrade Tests: Decide whether to remove flaky upgrade tests"
The following upgrade these have been super-flaky, failing an average of 7 out of 8 runs for at least the last 3 months:

* https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master
* https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new
* https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster

Given this, it's hard

[2018-11-05 17:46] AishSundar commented on #70660
@justinsb @roberthbailey

[2018-11-05 17:49] jberkus commented on #70660
Looks like the only job whose failures have led to useful fixes in the last 3 months is gce-new-master-upgrade-cluster.

[2018-11-05 17:49] AishSundar commented on #70151
FWIW the failures we are seeing in the last couple of runs are slightly different from before

[code]

[2018-11-05 17:50] nikopen commented on #70484
/milestone v1.13

@kacole2

[2018-11-05 17:51] timothysc commented on #70660
/assign @roberthbailey for routing.

[2018-11-05 17:51] saad-ali commented on #70505
Ack, thanks for testing, will update.

[2018-11-05 17:53] Huang-Wei commented on #70627
Also cc @bsalamat @k82cn @ravisantoshgudimetla for awareness.

[2018-11-05 17:57] apelisse commented on #68526
Hi @guineveresaenger, this feature is pretty much ready, which is why I don't look super active here :-)

[2018-11-05 18:15] davidxia commented on #3030
Hey, are there any updates on this? I'd love to see this fixed as it's convenient to have the Kind and APIVersion for each resource. Is https://github.com/kubernetes/kubernetes/pull/63972 still the PR that'll fix this? Let me know how I can help move this along.

[2018-11-05 18:38] mortent opened #70661 "Failing Test: [sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart"
**Which jobs are failing**: gce-cos-master-reboot

**Which test(s) are failing**:
[sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart
[sig-cluster-lifecycle] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on
[sig-cluster-lifecycle] Reboot [

[2018-11-05 18:39] spiffxp commented on #70660
Discussed during meeting.  The -upgrade-master test hasn't yet been broken up into a parallel/non-parallel variant the way the other jobs have been.  @jberkus will follow up

Once that happens I would be willing to discuss whether the "parallel" tests provide us sufficient blocking signal, while the serial/slow tests could be shuffled to -optional or -informing.  This is much the same pattern we'r

[2018-11-05 18:39] tianlixu commented on #45300
Wondering what is the best solution to support Active/Standby application in Kubernetes?

[2018-11-05 18:51] AishSundar commented on #56787
@foxish @dnardo @zmerlynn @justinsb  @kubernetes/test-infra-maintainers can we have someone look into the current state of this issue. This is now blocking  e2e test for a 1.13 Beta feature from passing in the upgrade dashboard.

[2018-11-05 18:51] AishSundar commented on #56787
/remove lifecycle-rotten
/kind bug
/priority important-soon
/milestone v1.13

[2018-11-05 18:54] AishSundar commented on #70661
/cc @wangzhen127

[2018-11-05 18:54] jberkus commented on #56787
fixing tags:

/remove-lifecycle rotten
/lifecycle frozen
/kind flake

[2018-11-05 19:05] yujuhong commented on #70357
From https://golang.org/src/runtime/memclr_amd64.s#L76 that @mborsz posted above, the instruction seems to be from AVX2, which is only supported on Haswell and above.

From the GCE documentation (https://cloud.google.com/compute/docs/regions-zones/), the available cpu platforms are:
 - Intel Xeon E5 v3 (Haswell) platform (default)
 - Intel Xeon E5 v4 (Broadwell) platform
 - Intel Xeon (Skylake) pl

[2018-11-05 19:06] yujuhong commented on #70357
Also, @wonderfly @adityakali, have you ever seen Docker hit SIGILL on COS images?

[2018-11-05 19:12] yee379 commented on #65706
i have same issue. were you able to find a fix for this?

[2018-11-05 19:20] agladboy commented on #69770
@wgliang I'm beginning to work on it and I found that two documents are related to this topic,
a) https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
b)https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/
I'm not sure which portion left I should be focusing to, more general, or update the article b. would you please give some input. Thank

[2018-11-05 19:21] figo commented on #69015
@RenaudWasTaken  i can not speak from plugin developer, but both below looks reasonable to me `$PLUGIN_DIR/vendor_name.io/plugin_type/socket_name-version.sock`,   or `$PLUGIN_DIR/venderName_pluginType_socketName-version.sock`
as long as we can communicate to plugin developers clearly and effectively (gRPC interface documentation is needed), the directory depth restriction is reasonable to me.

[2018-11-05 19:33] LykinsN opened #70664 "kube-apiserver audit log rotation throwing permission denied"
**What happened**:
I'm setting up integration with the Splunk logforwarder agent to stream our Kubernetes audit logs from our master nodes to Splunk Enterprise but I'm seeing an odd issue in our logs, where the kube-apiserver process says permission denied when trying to rotate the logs once they've reached maximum capacity.

`kube-apiserver[1574]: E1105 18:43:54.090393    1574 metrics.go:86] Erro

[2018-11-05 19:37] LykinsN commented on #70664
@kubernetes/sig-AWS-bugs

[2018-11-05 19:59] #64464 closed

[2018-11-05 20:32] msau42 commented on #69122
Since I think the work for this will be done out of tree, we should not need to track it with kubernetes core.  I've opened up these issues for out of tree:
https://github.com/kubernetes-csi/external-attacher/issues/88
https://github.com/kubernetes-csi/external-provisioner/issues/164

/close

[2018-11-05 20:32] #69122 closed

[2018-11-05 20:43] msau42 commented on #39178
@edwardsmit  Topology aware volume provisioning in 1.12 should help with provisioning volumes in zones that can meet your Pod scheduling requirements.

[2018-11-05 20:45] msau42 commented on #69379
@AishSundar the remaining tasks are being done outside kubernetes core. All kubernetes core work has been completed.

[2018-11-05 20:46] msau42 commented on #24317
This is available in beta as of 1.12

[2018-11-05 20:50] edwardsmit commented on #39178
Thank you for the response @msau42, do you know of an issue I can follow?

[2018-11-05 20:54] khenidak commented on #50752
@feiskyer can we move this to v1.13? if not then let us lock for v1.14 putting us at March timeframe.

[2018-11-05 20:55] khenidak commented on #50752
@justaugustus -- FYI

[2018-11-05 20:56] pohly opened #70668 "e2e: support extending the item patching"
**What would you like to be added**:

`test/e2e/framework/create.go` can already be partially extended out-of-tree by extending the factory. But that only covers loading of items not directly supported in-tree. Patching currently cannot be extended.

**Why is this needed**:

While it is useful to have broader support for different items in the package itself, users of the package out-of-tree need

[2018-11-05 20:56] pohly commented on #70668
/sig testing

[2018-11-05 21:01] msau42 commented on #39178
Feature issue is here: https://github.com/kubernetes/enhancements/issues/490
1.12 blog post with examples is here: https://kubernetes.io/blog/2018/10/11/topology-aware-volume-provisioning-in-kubernetes/
Official documentation is here: https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode

[2018-11-05 21:09] sandeepbhojwani commented on #70502
Here's one more odd behavior. Creating a POD that already includes 2 tolerations with the same key works differently when there's a limitrange..

Without limitrange, pod gets created with 2 tolerations
[code]

With limitrange, pod gets created with only the 2nd toleration. Also there's an extra toleration for `"key": "node.kubernetes.io/not-ready"`

[code]

[2018-11-05 21:34] bkruger99 commented on #70312
Jobs that are spun up as one-time data processing jobs that can run and then disappear.  One can use minAvailable, but if you scale beyond the limit, you're subject to your jobs getting killed if resources get shuffled around.    (one real world example: jenkins slaves)

Provided maxUnavailable worked, I viewed it as something that "anything that matches this selector, let it finish unless the und

[2018-11-05 21:41] ju-la-berger commented on #52444
Please see
* https://github.com/fluent-plugins-nursery/fluent-plugin-concat/issues/59
* https://github.com/moby/moby/issues/37889

Basically, you have to consider three cases:
* A very long log message (single line) of more than 16 KB is split by Docker into multiple log messages.
* Your application log message has linebreaks, so it is split by Docker into multiple log messages.
* A combination of

[2018-11-05 22:07] jpbetz commented on #70082
@ArchiFleKs looks like there was one fsync that took between 2.048-4.096 seconds an two that took between 0.512-1.024 seconds. This would result in messages like the one you saw ("wal: sync duration of 2.067539108s, expected less than 1s" error"). https://github.com/etcd-io/etcd/blob/e8b940f268a80c14f7082589f60cbfd3de531d12/wal/wal.go#L572 both tallies this metric and logs the message.

If you're

[2018-11-05 22:10] ju-la-berger commented on #52444
I just edited my above comment because I am not sure how the case of linebreaks (i.e. those written by the application) in log messages relate to this issue.

However, often you can control the logging of your application and let it write JSON to STDOUT (e.g. https://github.com/logstash/logstash-logback-encoder for Java / Spring Boot applications) so you do not have linebreaks.

Back to the origin

[2018-11-05 22:13] msau42 commented on #70319
@gnufied would you be able to help investigate this issue?

[2018-11-05 22:18] mrrandrade commented on #36222
Just created a messed up configmap on kuberntes 1.12.2.

[2018-11-05 22:19] PaulCharlton commented on #65305
Hey - I am seeing the exact same issue on Ubuntu nodes deployed with Azure CNI.  The pods are showing "imagePullPolicy: Always" even when the deployment is showing "imagePullPolicy: IfNotPresent"

[2018-11-05 22:19] justinsb commented on #70660
I'll take a look at gce-new-master-upgrade-master - likely split it.  I think it's also hitting https://github.com/kubernetes/kubernetes/issues/70305

Otherwise, I see flaky tests, not a flaky job.  Do we have a querying interface where we can slice test results by test, not by job?

Looking at https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new

That looks like a

[2018-11-05 22:29] dims commented on #47202
long-term-issue (note to self)

[2018-11-05 22:55] jpbetz commented on #65497
/remove-lifecycle stale

[2018-11-05 23:11] AishSundar commented on #70660
@justinsb you are looking for something like the [Triage Dashboard](https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=cluster-lifecycle) where you can filter failures by a combination of SIG, job, test and also by date (go back in of 2 week windows to see how the test/job fared in the past).

I agree we have had recent failures / flake that are specific to some new tests addition

[2018-11-05 23:13] dashpole commented on #68416
I have narrowed it down to this strange behavior in golang: https://play.golang.org/p/WD9dVzZAKdw.  Basically, appending to a list constructed with `append` has different behavior than appending to a list constructed literally, but only with lists where the size is larger than 1...

This strange behavior with golang slices results in the "best-effort" qos cgroup in the qosContainerManager being ch

[2018-11-05 23:14] AishSundar commented on #70660
That said I am apprehensive about moving these jobs completely out of release blocking mainly because
(i) we dont know what coverage we will be loosing and don't have a good replacement (proven to be less flaky) for upgrade testing yet
(ii) historically I have relied on these jobs to indicate if something is horribly broken. IOW flakes tend to add noise, but widespread failure did give us some use

[2018-11-05 23:35] grosser opened #70674 "Allow forcing a put even when metadata.resourceVersion mismatches"
atm when the resourceVersion mismatches kubectl pulls the latest and then retries, which is pointless since it just does the same request after
our usecase is similar, using the api to PUT the expected state, not caring for what the cluster thinks it is ... but we still get `metadata.resourceVersion: Invalid value` errors which is annoying and means we have to do a round-trip to get the latest ver

[2018-11-05 23:38] grosser commented on #70674
/sig api

[2018-11-05 23:42] msau42 commented on #65246
I've asked @gnufied to help investigate

[2018-11-05 23:46] dashpole commented on #68416
A simpler reproduction case: https://play.golang.org/p/MNOxX4Ak06n

[2018-11-06 00:09] AishSundar commented on #69989
@ravisantoshgudimetla  since this PR is actually tracking an enhancement work graduating to Beta in 1.13, it should have been tracking via a corresponding issue in k/enhancements repo in 1.13 timeframe. We are now past Feature freeze for 1.13 and its late to open an issue against it. Also we are missing integration tests for this feature, which we are [solely relying on for qualification](https://

[2018-11-06 00:32] #70554 closed

[2018-11-06 01:01] wgliang commented on #69770
@agladboy Cool. You can send you PR just like https://github.com/kubernetes/website/pull/10702 or https://github.com/kubernetes/website/pull/10739.

[2018-11-06 01:09] boxuan666 commented on #70411
@anfernee you mean like this?

[code]

if not can u give me some example here?  thanks a lot buddy

[2018-11-06 01:17] msau42 commented on #61446
/remove-lifecycle stale

We intend to address this by redesigning the volume reconstruction feature to use kubelet checkpointing.

[2018-11-06 01:37] okeddie commented on #68973
is this updated for the openstack cloud provider too?

[2018-11-06 01:47] feiskyer commented on #50752
@khenidak Let's move this to v1.14 as v1.13 is code freezing soon and there are still some items to do.

/milestone v1.14

[2018-11-06 01:53] bsalamat commented on #70622
I remember that you were able to reproduce this in your cluster that you brought up with kubeadm, but I was not able to reproduce in a cluster brought up with "kube-up.sh". Have you tried bringing a cluster up with kube-up.sh and see if you can reproduce it?

[2018-11-06 01:54] AishSundar commented on #70549
/milestone v1.13
/priority important-soon

[2018-11-06 01:56] Huang-Wei commented on #70622
@bsalamat by "kube-up.sh" you mean "hack/local-up-cluster.sh"?

[2018-11-06 02:47] mikedanese opened #70679 "Transition ServiceAccount admission controller to improved service account token volumes"
Over the next N releases, we would like to transition the ServiceAccount admission controller to injecting service account token volumes based on the TokenRequest API and volume projection designed here:

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/bound-service-account-tokens.md
https://github.com/kubernetes/community/blob/master/contributors/design-prop

[2018-11-06 02:49] anguslees commented on #69799
cc @gnufied.  I know it's a clickbait issue title, but what are your thoughts on moving SELinux relabelling to a mount-time `context` option instead?

[2018-11-06 02:53] dghubble commented on #68973
This issue wasn't related to any particular cloud provider. The cloud provider / hardware config field is just a typical part of filing an issue in case it had been related.

[2018-11-06 03:02] justinsb commented on #56787
Why not block traffic to both the internal and external IPs?

[2018-11-06 03:20] justinsb commented on #56787
Giving a try to blocking all IPs in #70681

[2018-11-06 04:07] #60835 closed

[2018-11-06 05:07] mortent commented on #70312
I don't think the pod disruption budget is a good fit for what you are trying to do. The pod disruption budget is to limit the number of pods that are unavailable at any time across an application, but not to prevent pods from being terminated all together.

Sounds like you want kubernetes to never terminate the pods, but instead wait for them to complete. If you completely control your cluster, y

[2018-11-06 05:10] mortent commented on #70661
Looks like the last 11 runs of this job has succeeded. If it still looks green tomorrow, we can probably close this.

[2018-11-06 05:54] cliffburdick opened #70685 "Cannot get TTLAfterFinished to work in 1.12.1"
**What happened**:
Trying to enable the TTLAfterFinished feature gate to use the Job cleanup feature, and the feature does not work after enabling.
**What you expected to happen**:
The Job to be deleted 100s after hitting the Completed state.
**How to reproduce it (as minimally and precisely as possible)**:
I added the following to the api-server and controller manifests:
--feature-gates="TTLAfter

[2018-11-06 05:54] cliffburdick commented on #70685
/sig apps

[2018-11-06 06:17] cofyc opened #70686 "Prevent `Comment` field conflicts in Godeps/Godeps.json"
**What would you like to be added**:

Prevent `Comment` field conflicts in Godeps/Godeps.json

**Why is this needed**:

`godep` may generate different comments on same commit in same repo. It's annoying when updating dependencies. More discussion: https://github.com/kubernetes/kubernetes/pull/69976#pullrequestreview-167565874

`godep` uses `git describe --tags <commit>` to generate comment, differ

[2018-11-06 06:39] anfernee commented on #70411
right. looks like your master is good, which means something wrong with your haproxy.

[2018-11-06 07:32] tao12345666333 commented on #57354
Please see https://github.com/kubernetes/enhancements/issues/622.

[2018-11-06 07:51] victorvarza commented on #70411
This can be solved by switch LB health check from TCP to SSL, not sure if haproxy supports it..
Here are more details: https://github.com/kubernetes-incubator/kube-aws/issues/295

[2018-11-06 08:07] rogerlee6411 commented on #23726
I am getting issue as "The connection to the server 10.0.48.115:6443 was refused - did you specify the right host or port?"
# kubectl version
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:46:06Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
The connectio

[2018-11-06 08:11] mtrofimm commented on #58922
@shadycuz can you share here how you solved this issue?
Thanks

[2018-11-06 08:39] x13n commented on #67538
I don't think we snapshot them in any docs, so the closest you can get to that is by running:
```$ kubectl get all -n kube-system -o yaml```.

[2018-11-06 08:46] ameukam commented on #69776
The following are covered in #70688:
[code]

[2018-11-06 08:59] harshal-shah commented on #50745
Sorry @goodluckbot @SachinHg I moved out of that project and could not get a chance to check this further.

[2018-11-06 09:02] boxuan666 commented on #70411
@victorvarza

I tried to add SSL check in my Haproxy but i got error like this:
[code]

After that, i switched to TCP port check, still got the error like this:
[code]

configuration file:
[code]
do u have any suggestion?

[2018-11-06 09:39] #66155 closed

[2018-11-06 09:47] boxuan666 commented on #70411
@victorvarza
[code]

10.15.4.127 is kube-apiserver 10.15.4.119 is haproxy

I think this error is not caused by a health check.
It seem like the kube-apiserver try to connect Haproxy trigger the error, did u see any like that error before?

[2018-11-06 10:08] barnabasJ commented on #48798
Just in case somebody is googling this. I had the same problem, in my case the cloud-init process set the NM_CONTROLLED option in /etc/sysconfig/network-scripts/ifcfg-{interface-name} to no.
This option has to be set to yes for NetworkManager to create the needed resolv.conf file for the sdn pods.

[2018-11-06 10:08] idealhack commented on #66542
I've seen this two times

- https://gubernator.k8s.io/pr/70420
- https://gubernator.k8s.io/pr/70688

[2018-11-06 10:36] gitphill commented on #66443
@tanaka-takayoshi @andyzhangx
Did you find that the new data disks were encrypted once attached?
We have encryption enabled with --volume-type ALL but the new data disks attached by Kubernetes never show up in the ADE log - {"os": "Encrypted", "data": "NotMounted"}

[2018-11-06 10:40] andyzhangx commented on #66443
The new data disk won't be encrypted even you specify as `--volume-type ALL`, you must use `az vm encryption ...` command to encrypt that disk explicitly.

[2018-11-06 10:54] #66801 closed

[2018-11-06 11:13] xiaoxubeii commented on #66687
It is already fixed. So I will close it.

[2018-11-06 11:13] xiaoxubeii commented on #66687
/close

[2018-11-06 11:13] #66687 closed

[2018-11-06 11:15] xiaoxubeii commented on #62564
@nikhita Yes, it is already fixed. I will close it.

[2018-11-06 11:15] xiaoxubeii commented on #62564
/close

[2018-11-06 11:15] #62564 closed

[2018-11-06 11:46] ArseniiPetrovich commented on #65502
Hi, guys. Any progress on that issue?

[2018-11-06 11:55] mgdevstack commented on #62161
1. [k8s.io] Probing container should have monotonically increasing restart count [Slow][NodeConformance] [Conformance]
2. [sig-storage] EmptyDir wrapper volumes should not cause race condition when used for configmaps [Serial] [Slow] [Conformance]

These tests are taking ~3 min of time. Tests should be tagged [Slow] if they are taking more than 5min ([reference](https://github.com/kubernetes/commu

[2018-11-06 12:05] riya-17 commented on #70198
@dczombera Yes, I am struggling with writing test cases in general

[2018-11-06 12:09] yastij commented on #64387
/remove-lifecycle stale

[2018-11-06 12:10] mariantalla commented on #70505
@saad-ali  @vladimirvivien Could we chat[1] about this issue? Would you be happy for @hoegaarden and me to pick up work on it?

[1] Mainly what priority this issue is for 1.13 - would it block the rest of the CSI work targeted for 1.13?

[2018-11-06 12:54] #70631 closed

[2018-11-06 13:10] gitphill commented on #66443
ok thanks @andyzhangx - What's your experience with that? When I run `az vm encryption enable` it reboots the box which takes a while to come back. In the mean time Kubernetes relocates the containers and volumes that were on the node

[2018-11-06 13:23] dims commented on #70686
@cofyc have you thought about `core.abbrev` in the git config. we could use `git config --global core.abbrev` to check if this is set to say `12` and then bail out if it is not with a prompt to the user to set it using `git config --global core.abbrev 12`. (or ever save the older value at the beginning of the script and reset it at the end). Will this work for us and give us consistent comments?

[2018-11-06 13:51] baltendo commented on #67473
For k8s 1.10 I fixed the issue by using this images `kope.io/k8s-1.10-debian-stretch-amd64-hvm-ebs-2018-05-27`. It seems that there are newer images available but it did only work with this one.

[2018-11-06 13:55] andyzhangx commented on #66443
@gitphill  if you use `--volume-type OS` or `--volume-type ALL`, `az vm encryption` may make VM into failed state, `--volume-type DATA` would be better. Anyway, disk encryption is not so stable if you encypt an running k8s agent node.

[2018-11-06 14:10] andor44 opened #70697 "Built-in user-facing clusterroles (admin, edit, etc.) missing rules for controller revisions"
**What happened**:
User has role binding to `clusterroles/admin` in the namespace.
[code]
**What you expected to happen**:
To roll back successfully.
**How to reproduce it (as minimally and precisely as possible)**:
A 1.10 cluster (haven't tested 1.11 but I suspect it's the same) and a 1.12 `kubectl`
**Anything else we need to know?**:
It seems that the built in `admin` and `edit` clusterroles don

[2018-11-06 14:30] taylan-insider commented on #69576
Any updates here?

[2018-11-06 15:43] liggitt commented on #70697
opened https://github.com/kubernetes/kubernetes/pull/70699 and picks to 1.10, 1.11, 1.12

[2018-11-06 15:45] sumanmanuel commented on #64743
ref: https://github.com/kubernetes/kubernetes/issues/70427

Not sure if its valid, but could this cause a similar situation?

A query related to similar errors.

I understand that there are multiple discussions related to the same error like:
https://github.com/kubernetes/kubernetes/issues/64743#issuecomment-404160205
referring to https://github.com/torvalds/linux/commit/4ee806d51176ba7b8ff1efd81f

[2018-11-06 15:57] DaneGardner commented on #63371
Is there a workaround for this?  Is manually deleting and recreating the cronjob the current best method?  Triggering jobs immediately on edit makes this unsafe for some uses.

[2018-11-06 16:08] mattmessinger commented on #69971
We have this same issue w/ a non-internal ELB/NLB.

We installed EKS into an existing VPC and 3 private subnets, each in a different AZ.  We tagged the public subnets and igw with the correct cluster key/value (kubernetes.io/cluster/<cluster> | shared). The ELB/NLB is always created in a single public subnet in AZ us-west-2a.

We created a second EKS cluster in the same VPC, followed the same proc

[2018-11-06 16:09] hhoover commented on #70248
Two additional failures for 1.12 that I believe are caused by IPv4-isms in the containers used:

[code]

[2018-11-06 16:12] kesor commented on #3595
@tobymiller1 in the solution by @rewt for it to actually work you need to add the `USER root` stanza to the `Dockerfile`, and then drop to the `nobody` (or whatever) user *after* you execute the `ulimit -l unlimited` command in the alternate wrapper.

[2018-11-06 16:13] msau42 opened #70704 "Make readonly test cases actually validate readonly IO"
**What happened**:
The read only sig-storage tests validate that Pods can come up when readOnly is set.  But it doesn't actually validate that the container cannot write to the volume.

**What you expected to happen**:
Tests should validate that the container cannot write to readonly volumes.

/kind bug

[2018-11-06 16:14] msau42 commented on #70704
@kubernetes/sig-storage-bugs
/help

[2018-11-06 16:19] msau42 commented on #68809
/help

[2018-11-06 16:27] msau42 commented on #56162
/close

[2018-11-06 16:27] #56162 closed

[2018-11-06 16:43] mattnworb commented on #39824
@2rs2ts

I think this section of the document is worded ambiguously - is it attempting to say that these typical application owner actions are all voluntary disruptions, or just listing actions that are application owner actions?

[2018-11-06 16:48] shadycuz commented on #58922
@mtrofimm it was a while ago =/ I dont really remember, but if I recall my docker dameon had lots of weird error log messages, or maybe it was no log messages or maybe it was just not running anymore.

I restarted the docker service and I believe that fixed the issue for me in this case. Next time I will leave detailed information before closing an issue.

[2018-11-06 16:50] jberkus commented on #68148
This is old, and we have new failures on that test now.  So, closing.

/close

[2018-11-06 16:50] #68148 closed

[2018-11-06 16:54] 2rs2ts commented on #27308
/remove-lifecycle stale

[2018-11-06 17:01] mariantalla commented on #69600
Hey, this is failing/flaking again.

**Which jobs are failing**:
[sig-release-master-blocking#gce-cos-master-scalability-100](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-scalability-100)

**Which test(s) are failing**:
[sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using ReplicationController with 0 secrets, 0 configmaps, 0 to

[2018-11-06 17:04] hoangcao commented on #69776
The following are covered in #70706

github.com/godbus/dbus

[2018-11-06 17:05] mariantalla commented on #69600
Increasing priority to `important-soon` as it's failed twice in a row and we're nearing code freeze.

/priority important-soon

[2018-11-06 17:09] jberkus commented on #69600
adding milestone in case this is related to the go upgrade, and we need to make it a blocker

/milestone v1.13

[2018-11-06 17:20] prameshj opened #70707 "Support deploying nodelocaldns addon on the different cluster creation tools"
**What would you like to be added**:
Support to run nodelocaldns addon

**Why is this needed**:
The feature runs a local dns cache on all cluster nodes to help with dns latency. Initial PR adds support on e2e/gce scripts. We want to extend this to other cluster creation tools.
https://github.com/kubernetes/kubernetes/pull/70555

This is the KEP: https://github.com/kubernetes/community/blob/master/

[2018-11-06 17:20] jberkus commented on #70248
All: is this failure related to CoreDNS?  If it is, then this test may become blocking until we know what's causing the failure.

[2018-11-06 17:20] nmittler commented on #65502
We've merged the requirements for this into https://github.com/kubernetes/community/pull/2148#issuecomment-422134989

[2018-11-06 17:22] prameshj commented on #70707
@justinsb @timothysc @ant31

[2018-11-06 17:23] prameshj commented on #70707
@bobsky

[2018-11-06 17:46] mariantalla commented on #70445
"Master upgrade should maintain a functioning cluster" has had a successful run, will keep an eye on it and will look to close this issue when it consistently passes...

@aleksandra-malinowska - what do you look for to ensure that the original issue is fixed in test runs? (asking as some tests are failing, but very possibly due to other reasons).

[2018-11-06 17:48] jberkus commented on #70660
This is related to #56787

[2018-11-06 17:49] jberkus commented on #70660
@AishSundar that's what the category of "informing" is for: tests that are still useful, but where you don't depend on green signal.

[2018-11-06 17:53] pmichali commented on #70248
@jerkus. No. The failure is specific to kube-dns, and the decision was made not to update kube-dns, due to the plan to transition to CoreDNS.  I'm not sure how those test cases should be dispositioned (as they are run for kube-dns and CoreDNS).

[2018-11-06 17:53] justinsb commented on #70660
And I'm working on a maybe-fix for #56787 in #70681, though I haven't got it green yet!

[2018-11-06 17:56] AishSundar commented on #69444
@jbartosik any further update on this? I see it turning into more of a failure than a flake and I see another test failing as well in latest runs

https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master

[2018-11-06 17:59] AishSundar commented on #69444
We are due to cut Beta for 1.13 today and would like to understand if this should be a blocker or not.

[2018-11-06 18:03] mortent commented on #70661
So the job failed three times overnight, so it is definitely flaky. It seems to have been flaking
for at least the last two weeks. Keeping the issue open, but changing it from failing test to flake.

/kind flake

[2018-11-06 18:06] mortent commented on #70661
/remove-kind failing-test

[2018-11-06 18:17] wonderfly commented on #70357
I believe it's a CPU feature and an OS thing? And according to [Wikipedia](https://en.wikipedia.org/wiki/AVX-512) AVX512 is not supported until Skylake X?

Not off the top of my head. If you still have the node, you could check which Go version docker was compile with: `docker version`.

Otherwise I'd recommend filing a bug against COS (internally) and we'll investigate.

[2018-11-06 18:19] AishSundar commented on #69444
Also are there cherrypick PRs to backport your change to 1.11 and 1.12 branches?

[2018-11-06 18:21] #64373 closed

[2018-11-06 18:22] yujuhong commented on #70357
I'm not sure if this instruction is from AVX512 or just AVX2. The information I found seemed to suggest the later

[2018-11-06 18:23] jberkus opened #70708 "Scheduler CPU usage hurting scalability?"
CI testing upgraded to golang 1.12.2 around 4am last night.

After that, the two gce-100 test runs failed: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/19422

This was followed by two runs whose runtime was slightly (2 min) above average for the test: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/19424

[2018-11-06 18:29] AishSundar commented on #70708
FWIW, there were runs before the Go lang upgrade that ventured into the 43m mark as well, but it was an aberration vs the norm

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/19395

We are watching the job closely to see if the timing comes down at all or not.

[2018-11-06 18:30] tammersaleh commented on #70656
I'd also like to see this.

If a user specifies `replicas: 100` in their deploy manifest, runs `kubectl apply`, and then wants to migrate to HPA, then they've painted themselves into a corner.

If they remove `replicas:` from the manifest and `apply` it, the app will immediately scale down to the default of 1 replica.  HPA will kick in, but customer experience will suffer in the meantime.

We coul

[2018-11-06 18:32] yujuhong commented on #70357
Filed one and cc'd everyone that has been on this thread.

@mborsz @wojtek-t  is it possible to keep one of the problematic nodes from the test?

[2018-11-06 18:32] wonderfly commented on #70357
Either way, I don't think the OS will stop you from executing any instruction that's supported by the CPU.

Do we have a way to reproduce this reliably?

[2018-11-06 18:48] mariantalla commented on #69444
Potentially related: https://github.com/kubernetes/kubernetes/issues/70655

[2018-11-06 18:56] ObviousDWest opened #70709 "Update docs to reflect StatefulSets can Autoscale"
According to the following issue/comment, and early testing, it appears that StatefulSets *are* able to participate in pod autoscaling. Presumably, this can also lead to cluster or instance group autoscaling if StatefulSet pods cannot be scheduled. https://github.com/kubernetes/kubernetes/issues/44033#issuecomment-386753262_

However, there are several misleading bits of documentation that indicat

[2018-11-06 18:59] ObviousDWest commented on #70709
/sig autoscaling
/sig doc

[2018-11-06 19:02] thockin commented on #70686
Demanding I change my local git config seems hostile. Can't we embed git configs in the repo that override user-prefs?

[2018-11-06 19:08] jberkus commented on #70357
Adding testing tag:

/kind flake

[2018-11-06 19:11] ObviousDWest commented on #70709
This doc may also be out of date:
* https://github.com/kubernetes/community/blob/master/contributors/design-proposals/autoscaling/horizontal-pod-autoscaler.md#scale-subresource

/sig doc

[2018-11-06 19:14] dims commented on #70686
@thockin would the 2nd part be ok? ( save the older value at the beginning of the script and reset it at the end )

[2018-11-06 19:27] wenjiaswe opened #70711 "Godep update script deletes vendor file"
**What happened**:
I was following the instruction in https://github.com/kubernetes/community/blob/master/contributors/devel/godep.md#updating-a-dep to update a dependency (golang.org/x/net dependency, #70663) and it deleted a vendor file, vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2018-04-01/compute/BUILD, which is completely unrelated to golang.org/x/net. I think it might be

[2018-11-06 19:36] code-sleuth commented on #59113
/remove-lifecycle stale
/assign code-sleuth

[2018-11-06 19:43] jbartosik commented on #69444
6 (consecutive) most recent failures of test `[sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability` do not have [PR #70579](https://github.com/kubernetes/kubernetes/pull/70579) judging by their logs. That PR would change them from failures (une

[2018-11-06 19:48] wyaeld commented on #67538
Is it safe to just assume that GKE is always running the correct ones then?  If this isn't an issue I have to worry about then I'm fine with it, but normally I like to be able to compare what "should" be running with what is.

[2018-11-06 20:03] neolit123 commented on #70711
/sig azure
@kubernetes/sig-azure  please delegate to other sigs if applicable.

[2018-11-06 20:10] AishSundar commented on #69444
@jbartosik the [gce-new-master-upgrade-master](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master), which has the 6 (consecutive) most recent failures ``` ```[sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability```

[2018-11-06 20:13] AishSundar commented on #69444
FWIW, the same test also flakes in [gce-new-master-upgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster) job which upgrade both master and nodes to 1.13 and runs 1.11 tests.

[2018-11-06 20:35] neolit123 commented on #70686
@thockin @dims

we can include a `.gitconfig` file in the repo that has the local setting of `12`:
[code]

and then include it as part of the build process using this command:
[code]

this generates these lines in the `.git/config` file:
[code]

the `abbrev = 12` setting from the custom config file will override the user repo settings stored in global or the local `.git/config` file.

[2018-11-06 20:36] dims commented on #70686
@neolit123 👍

[2018-11-06 20:38] steven-sheehy commented on #70489
I was about to open a ticket, but I think I'll pile onto this one. I have the exact same issue, but for /etc/default/kubelet on Debian based systems. According to the systemd drop-in:

But I can't use it for overrides if it can get overwritten anytime the kubelet package is updated.

[code]

[2018-11-06 20:40] saad-ali commented on #70505
@mariantalla Yes that would be great. It is a blocker for 1.13. But the changes in the current version of the proposal only requires changes out of tree (to the CSI `external-provisioner`). We can chat more about it on the CSI call on Wed if you'd like?

[2018-11-06 20:51] jberkus commented on #70708
So times are continuing to average higher -- almost 10% longer runs than prior to the golang change.

Sadly, we can't get better granularity from the perf dashboard, so at this point we don't know and it looks like a blocker.

Escalting priority

/priority critical-urgent

[2018-11-06 20:51] jberkus commented on #70708
/remove-priority important-soon

[2018-11-06 21:00] jberkus commented on #70708
/assign @wojtek-t

[2018-11-06 21:00] krzyzacy commented on #70711
cc @fejta @cblecker (assume k8s dep works the same way as test-infra, then how it passed presubmit?)

[2018-11-06 21:20] bsalamat commented on #70622
No, I mean `./cluster/kube-up.sh`.

[2018-11-06 21:30] AishSundar commented on #70708
@wojtek-t This is currently blocking Beta cut for 1.13. Please investigate this as priority. thanks

[2018-11-06 21:37] Huang-Wei commented on #70622
@bsalamat I don't have a paid gce/aws account lol, so never played with that. Right now I can easily reproduce in on v1.11.3, and kubeadm v1.11.x and kubeadm v1.12.x.

[2018-11-06 21:41] thockin commented on #70686
Can we just put it in the .git/config of the repo?  Or I guess that won't work because godep will run `describe` in every repo we are vendoring...

Save and restore is awkward for this, too.  I guess I'd rather just tell users to set their config

[2018-11-06 21:42] thockin commented on #70686
OR ... we could vendor godep and fix it?

[2018-11-06 21:52] neolit123 commented on #70686
ideally godep should be fixed.
using raw `git describe --tags` with the local repo abbreviation settings is quite bad.

[2018-11-06 22:11] thockin commented on #70686
realistically, fixing godeop is not impossible - it's effectively frozen upstream and we wrap it in scripts anyway.  I don't know if other repos besides k/k still use it

[2018-11-06 22:12] thockin commented on #70686
Oh, how about that.  We already vendor it, so forking it would be relatively minor.

[2018-11-06 22:13] thockin commented on #70686
Or we could send an upstream patch to add --abbrev=12 to the `git describe` cmd/

[2018-11-06 22:17] neolit123 commented on #70686
looks like the PR for this was already up but unmerged:
https://github.com/tools/godep/pull/560/files
cc @filbranden

i think the correct course is to just fork.

[2018-11-06 22:33] neolit123 commented on #70686
i think it should be the same procedure as the klog repo:
https://github.com/kubernetes/org/issues/195

i.e. sig-arch as owner, possibly slightly different write-access and owners.
@dims WDYT?

[2018-11-06 22:38] saad-ali commented on #65246
It is not a blocker for beta or freeze. Can be addressed in stabilization.
Let's keep the 1.13 tag on it. And based on progress by stabilization we can reassess if it is even a 1.13 blocker (at this point I don't believe it is).

[2018-11-06 23:08] bsalamat commented on #70622
hmm.. this is odd that the issue is not reproducible when a cluster is not created by kubeadm.

[2018-11-06 23:14] dims commented on #70686
@neolit123 i would lean towards doing something in the shell scripts and not a full vendoring. but would support if someone wants to go the whole way

[2018-11-06 23:19] gwohletz commented on #67728
Should also exist for exec

[2018-11-07 00:10] AishSundar commented on #70604
@tfogo the 1.13 Docs lead for tracking

[2018-11-07 00:16] thockin commented on #70686
I don't think there's a script based solution - godep hard-codes the command to run with no extension-point.

We either:

a) demand users set abbrev=12 in their gitconfig
b) remove the hash portion (normalize)
c) fork godep and change this

If we want to fork godep, we should think hard about whether making it a new repo is appropriate.  We want to support a fork of godep EVEN LESS than we want to

[2018-11-07 00:17] cblecker commented on #70686
*pokes head up*

I may or may not have a branch burning a hole on my compy to do just that. The problem with messing with git configs is you don't just have to do it for k/k, but you have to do it for every repo that godep restores and clones down (**yuck**)

Let me clean up my branch and see how far that gets us.

[2018-11-07 00:19] thockin commented on #70686
There's a small group of individuals in our community who sign up for the dirtiest jobs, over and over.  I love you guys.

[2018-11-07 00:31] cblecker commented on #70686
https://github.com/kubernetes/kubernetes/pull/70718
/shrug

[2018-11-07 01:46] boxuan666 commented on #70411
When i close the health check of haproxy, i still can get error log from kube-apiserver log.
i think health check is not root case for this error....
Has anyone ever seen this problem?

[2018-11-07 01:47] jstangroome commented on #64743
I seem to experience this issue every few days and may be in a position to gather more detail to help resolve this issue if you can provide guidance on what information I should capture.

I have four clusters with between 6 and 13 nodes, running on bare metal with Ubuntu 18.04 host OS, kernel 4.15.0.20-generic, Docker 18.06.1-ce, Kubernetes 1.10.3, flannel v0.10.0, and calico v3.1.3. Note that thi

[2018-11-07 02:10] BenTheElder commented on #70708
1.11.2* ?

[2018-11-07 02:13] AishSundar commented on #69444
@jbartosik this failure is currently blocking Beta for 1..13. Can you please investigate these and let us know the path forward.

[2018-11-07 02:13] AishSundar commented on #70655
@jbartosik this failure is currently blocking Beta for 1..13. Can you please investigate these and let us know the path forward.

[2018-11-07 02:32] gitplyx opened #70721 "k8s 健康监测bug"
k8s 集群中健康监测开启，总是自动重启pod
无法看到详细日志是什么原因引起的，寻求帮助，谢谢
健康监测是否有详细日志说明

[2018-11-07 02:37] Pingan2017 commented on #68623
@juanvallejo How do we get its status and restarts?  other controller, like rc , rs, donot has these  columns.
through the struct of statefulset like below, there is not fileds can represent status and restarts

[code]

[2018-11-07 02:55] Pingan2017 commented on #70721
可以看下pod的事件

[2018-11-07 03:08] bigbang009 commented on #70614
CentOS and the kernel version is kernel-4.14.47, the kubeadm version as follows:
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:00:59Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

[2018-11-07 03:24] hex108 opened #70723 "Add debug info: scheduler extenders's score and its name for each pod"
**What would you like to be added**:
In pkg/scheduler/core/generic_scheduler#`PrioritizeNodes` , add some debug info: each scheduler extender's score and its name for each pod, e.g.
[code]

And we need add a function(e.g. `Name()`) in interface `SchedulerExtender` to get extender's name or similar identity. For `HTTPExtender`, it might be enough to return its url `extenderURL`.

**Why is this need

[2018-11-07 03:32] yue9944882 commented on #60558
/remove-lifecycle stale

[2018-11-07 06:46] mkenigs commented on #68201
@mikedanese I think I included too many restrictions in #70406 and #70070, can you explain exactly which packages should be listed? It seems there are some packages not explicitly imported within a package that will cause ./hack/verify-import-boss.sh to fail.

[2018-11-07 06:58] TN801465 commented on #43279
You can restart the kubelet service on the relevant node

[2018-11-07 07:01] gbjuno opened #70730 "kube-scheduler die because of lost lease while kube-apiserver is still working"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kube-scheduler, scheduler, dies, lost, master

**What happened**:
The kube-scheduler process dies in a cluster which lost two of three master nodes while kube-apiserver is still working. All the three master nodes were running etcd/kube-apiserver/contro

[2018-11-07 07:04] gbjuno commented on #70730
/sig Scheduling

[2018-11-07 07:19] aalubin commented on #69658
OK, issue resolved - sort of.
We are using cri-o from the following distribution: https://cbs.centos.org/koji/packageinfo?packageID=5695

This distribution write container information to /run/runc-ctrs
While cri-o forces runtime folder to be /run/runc

https://github.com/kubernetes-sigs/cri-o/blob/c778110424086ea17372539c2ccbd01596b83cb3/lib/container_server_linux.go#L17-L25

So I created a soft l

[2018-11-07 07:19] #69658 closed

[2018-11-07 07:40] opme opened #70732 "initContainers does not accept imagePullSecrets"
**What happened**:
initContainers does not accept imagePullSecrets.   No way to configure a secret so initContainers can connect to a private repository.

**What you expected to happen**:
Adding an imagePullSecrets under spec should work for both container and initContainers

**How to reproduce it (as minimally and precisely as possible)**:
Have a template with both container and initContainer.  D

[2018-11-07 08:41] x13n commented on #67538
It's GKE responsibility to run the correct ones, so if for some reason this will not be true, it will be a bug that GKE needs to fix. Hence, it's best not to worry!

[2018-11-07 08:54] zhangxiaoyu-zidif commented on #65581
could we add one more reclaim policy, e.g.: reuse. This policy could set PV's phase to available and clean claimRef to nil after deleting the bounded PVC.
As this case:
When we use statefulset and PVC template, we may delete/ scale down statefulset and delete unMounted PVC. but the PV may be reused later, so we want to remain it and clear its claimRef.

[2018-11-07 08:56] skrcup commented on #59044
I got the same issue, container with macvlan interface inside, the host iptables rules without effect on traffic from container.

[2018-11-07 09:02] cfontes commented on #25908
Just adding to the conversation the solution proposed by @oxygen0211 on using Replace is a decent workaround for now,  be sure to check it out if you run into this issue like I did.

https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-327396198

[2018-11-07 09:04] D-PENG commented on #70721
看下describe的日志

[2018-11-07 09:56] aleksandra-malinowska commented on #70445
@mariantalla all tests were failing before because cluster failed to be created at 1.11 (in which case the scenarios wouldn't even run, i.e. it failed at setup), or upgraded/downgraded to this version. This is no longer the case for most jobs, and errors in the few remaining ones are different. But we can of course keep this open for fixing/deflaking remaining tests.

[2018-11-07 10:21] cofyc commented on #64590
I suggest to add a utility function to get driver name of volume spec, e.g.

[code]

Example metrics output:

[code]

What do you think?

`flexvolume` plugin has `driver` too and use `driver` as part of plugin name. Do we have any plan to register each CSI driver as a separate volume plugin dynamically, like [flexvolume](https://github.com/kubernetes/kubernetes/blob/v1.13.0-alpha.3/pkg/volume/flex

[2018-11-07 10:58] Cherishty commented on #68672
@k82cn
finally we replace the network plugin from flannel to weave, and start a pod only spends **2** second

Thanks for your assistance!

[2018-11-07 11:03] cpwood commented on #4301
Slightly new to Kubernetes, so forgive me if this is a dumb question..

For my use case, I'd prefer Kubernetes to choose its victims from pods that are running on nodes which have a `PreferNoSchedule` taint.

i.e. it was ultimately unavoidable that we had to use the node, but now we're done we should get rid of pods on that node first. I'm specifically thinking of the Virtual Kubelet here with Azu

[2018-11-07 11:11] ktsakalozos opened #70741 "kubectl get componentstatus and etcd from unix socket"
**What happened**:
`microk8s.kubectl get componentstatus` reports etcd not healthy:
[code]

**What you expected to happen**:
Since the cluster was healthy I would expect:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
The problem is with etcd configured to listen to a unix socket and not a tcp port. You can see the etcd configu

[2018-11-07 11:23] dims commented on #70732
/sig node

[2018-11-07 11:38] pohly commented on #65246
The `devicePath` in the actual state of the world gets reset during unmounting:
[code]

[2018-11-07 12:02] MaciekPytel commented on #69444
@AishSundar Fixes done by @jbartosik are all test fixes, not feature fixes. So the problem should be fixed once cherry-pick gets to 1.11.

That being said - why are we running 1.11 e2e tests against 1.13 cluster? That assumes full compatibility of both API and implementation.
We can never remove a feature without breaking this suite (the tests for the feature will still exist on older branches aft

[2018-11-07 12:52] dims commented on #70741
@ktsakalozos that would be great! since very few of us are familiar with how things are setup under microk8s. if you can just use the latest upstream release that would be even better.

from your report if i read it correctly currently kube-apiserver is not able to talk to etcd when etcd is listening on a unix socket and the default implementation is unable to connect to etcd and hence the failure

[2018-11-07 12:59] wojtek-t commented on #70708
@jberkus @AishSundar - I looked into tests and i don't see correlation with golang upgrade.
The metrics look fine to me.

The problem that we observe is that scheduler is using more cpu now.
It started happening more than a week ago, so it's not related to the 1.11.2 golang upgrade (I don't know when we upgraded to 1.11.1 though).

I looked a bit into scheduler changes from last 2 weeks or so, and

[2018-11-07 13:00] wojtek-t commented on #70708
I'm not lowering the priority, as I would like to see the results of today gce-scale-performance suite run.

[2018-11-07 13:00] rlagutinhub commented on #70601
signature verified successfully

https://dex.dev.mta4.ru/.well-known/openid-configuration
![1](https://user-images.githubusercontent.com/30324030/48132771-b6411580-e2a5-11e8-8187-f68e7c261709.png)

https://dex.dev.mta4.ru/keys
![2](https://user-images.githubusercontent.com/30324030/48132786-be995080-e2a5-11e8-843a-6f0fa7324bc7.png)

https://npm.runkit.com/jwk-to-pem
![3](https://user-images.github

[2018-11-07 13:06] wojtek-t commented on #69600
@mariantalla @jberkus - this test was originally filed for gce-scale-performance suite.
(which is 5000-node cluster)

However, the last update is about cos-master-scalability-100 (100-node cluster).

Even though we are running the same test in those two, the problems are (in many cases) completely different. So please in the future don't mix those two things.

The problem from @mariantalla update

[2018-11-07 13:07] ktsakalozos commented on #70741
No. The kube-apiserver can talk to etcd with no problem. The cluster is operational, I do not see any issue with the cluster. It is only `get componentstatus` that falsely reports that etcd is unavailable. It seems that the case where etcd is available over a `unix://` socket is not taken into account when probing etcd.

I hope things are more clear now. This is not a feature request.

[2018-11-07 13:33] dims commented on #70741
@ktsakalozos do you see any errors in the api server logs when you run `get componentstatus`?

[2018-11-07 13:40] stafot commented on #69776
The following is covered in https://github.com/kubernetes/kubernetes/pull/70744

`github.com/hashicorp/golang-lru`

[2018-11-07 13:42] joshuacox opened #70745 "Flag --pod-manifest-path has been deprecated, but alternative going forward is not clear?"
**What happened**:

While following [this page](https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/) you set `/etc/systemd/system/kubelet.service.d/20-etcd-service-manager.conf` using this:

[code]
but kubelet complains about this:

from `journalctl -xeu kubelet`:

[code]

so looking at [this page](https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/) it po

[2018-11-07 13:51] joshuacox commented on #70745
/sig cluster-lifecycle  @luxas @neolit123 sorry if I mislabeled, I am just using the same label from my other [issue](https://github.com/kubernetes/website/issues/10808), feel free to correct.

[2018-11-07 13:52] jellonek commented on #62288
bumping up

[2018-11-07 13:53] jellonek commented on #38890
so what is the status of this issue?

[2018-11-07 13:54] dims commented on #30961
we should see if we can throw better error messages since we forked ghodss/yaml into sigs.k8s.io/yaml ( cc @neolit123 )

[2018-11-07 14:20] AishSundar commented on #70708
Thanks @wojtek-t for the investigation. Go  was updated to [1.11.1 on Oct 3rd](https://github.com/kubernetes/kubernetes/commit/962fdbcbcafdeaa223fddefa7113d90e39371a16#diff-8188c017a3a4a9343bc9920417e2376b). the last Go 1.10.4 update was on Sep 18th.

One ques towards Beta cut is, should hold Beta until today's  gce-scale-performance suite runs, or do you think we can proceed with Beta before that

[2018-11-07 14:31] annProg opened #70747 "IPVS low throughput"
**What happened**:
Service `A` with clusterIP `169.169.14.147` and a domain `k8s.dev.example.com`, the domain resolve to ingress-nginx. Anothor service `B` will request `A`, when use domain it works fine. I think using clusterIP directly will get better performance because it saves some time for dns resolve and ingress-nginx proxy, so I change domain to clusterIP. But the result was not expected,

[2018-11-07 14:38] jbartosik commented on #70655
It looks like it's the same problem (too strict expectations of the test) I'm solving in issue #69444 manifesting in test going in other direction so those PRs should solve it (both tests use the same helper to set expectations so relaxing expectations of the helper should help both tests).

This is an issue with tests having too strict expectations, I wouldn't block a release on it.

[2018-11-07 14:40] rajansandeep opened #70748 "Push the CoreDNS 1.2.6 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.2.6 image is available in docker coredns/coredns:1.2.6

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/cc @BenTheElder
/cc @timothysc
/cc @AishSundar
/cc @dims
/assign @thockin

@fturib

/sig network
/sig cluster-lifecycle
/sig release

[2018-11-07 14:41] AishSundar commented on #70655
@jbartosik just to be clear the CPs above should fix this too or is there a new PR to relax the strict expectation?

[2018-11-07 14:44] Imunhatep commented on #59406
/remove-lifecycle stale

[2018-11-07 14:57] jbartosik commented on #70655
The PRs above are relaxing tests. They should fix this issue.

[2018-11-07 14:58] haiduc32 commented on #66022
/remove-lifecycle rotten

[2018-11-07 15:05] neolit123 commented on #30961
this might be a bit tricky.

/assign
/remore-lifecycle rotten

[2018-11-07 15:07] juanvallejo commented on #68623
@Pingan2017

through the struct of statefulset like below, there is not fileds can represent status and restarts

No need to show those if the controller does not support them. It's fine to just merge the `DESIRED` and `CURRENT` into a single `READY` column

[2018-11-07 15:09] ktsakalozos commented on #70741
I do no see any errors on the API server. Here is a a portion of the log:
[code]

And here is the invocation:

[code]

The logs were here `journalctl  -u snap.microk8s.daemon-apiserver.service` after adding a `-v=9` in
 `/var/snap/microk8s/current/args/kube-apiserver`.

[2018-11-07 15:38] annProg commented on #70747
@kubernetes/sig-network-bugs

[2018-11-07 15:41] jturolla-nubank commented on #60164
I can reproduce this issue, this is one of the biggest operational overheads in our setup. We usually delete the pod after the patch for a new image.

I cannot reproduce losing the pv to pod mapping.

[2018-11-07 16:25] msau42 opened #70750 "CSI skipattach and pod info e2e tests should register with driver-registrar"
**What happened**:
The tests currently manually create the CSIDriver object, but they should be created by driver-registrar sidecar instead.

/kind bug

[2018-11-07 16:28] Twister915 commented on #70732
Attempted to investigate this, and in case it's helpful to anyone else who wants to work on this:

https://github.com/kubernetes/kubernetes/blob/release-1.8/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L686

It appears init containers are created with the exact same call that other containers are, in release 1.8.x (checked 1.8.15 on that branch and 1.8.11 as specified by user).

[2018-11-07 16:30] Adirio opened #70751 "[Question][client-go/tools/cache] DeltaFIFO.List() copy requirement"
**Current situations:**

`DeltaFIFO.List()` is making a swallow copy of each slice in `DeltaFIFO.items` and then calling their `Newest()` method, which returns the last element (which is not copied as it was a swallow copy).

**Question:**

Does this method require a deep copy or can the swallow copy just be removed?

/kind cleanup

[2018-11-07 16:34] timothysc commented on #70707
@kubernetes/sig-cluster-lifecycle

[2018-11-07 16:40] #58786 closed

[2018-11-07 16:43] #62599 closed

[2018-11-07 16:45] zjj2wry commented on #70563
when quota has 1 Gi left, two pods are created at the same time. Only one pod should be created successfully. resources quota admission will update the state of quota when creating pods. Other pods will fail to update because resource version occurs change. Or because the remaining resources of quota are not enough, the pod can not be created successfully. But if the first pod fails for other reas

[2018-11-07 16:45] Twister915 commented on #70513
Can you confirm that one of the following is true:
* You are changing the account you authenticate to the kube-apiserver with. Make sure you're using the service account you mentioned: (`support:k8s-test`) when creating the pod.
* The default service account in that namespace doesn't have permissions for a different pod security policy (you do not specify a service account, therefore it will use d

[2018-11-07 16:46] zjj2wry commented on #70563
/assign

[2018-11-07 16:48] msau42 commented on #64590
Instead of adding a new driver field, can we put the driver name as part of volume name?  So something like "kubernetes.io/csi:csi-hostpath"

[2018-11-07 16:49] neolit123 commented on #70745
using the kubelet deprecated flags is what we do in kubeadm ATM.
you should ignore the warning for now.
we have tracking issues to address these eventually.
https://github.com/kubernetes/kubeadm/issues/949

/close

[2018-11-07 16:49] #70745 closed

[2018-11-07 16:54] zjj2wry commented on #70732
/assign  i want to work on this，will investigate this

[2018-11-07 16:55] zjj2wry commented on #70732
/assign

[2018-11-07 17:04] zjj2wry commented on #70721
@gitplyx it would be better provide more information use kubectl get -o yaml and describe command

[2018-11-07 17:06] #70192 closed

[2018-11-07 17:16] zjj2wry commented on #70730
/cc
@gbjuno can you provider kubectl version information,  thank。and this can be reproduce in your env?

[2018-11-07 17:22] logicalhan opened #70752 "healthz checker test doesn't test what it should"
**What happened**:

The logic in the checkerNames test for [healthz_test](https://github.com/kubernetes/kubernetes/blob/ed06cbe3e32370da07e9035f89a28521372c9392/staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go#L130-L157) is faulty. Failing the test when the 'wanted' value equals the actual result is the opposite behavior of what we want.

**What you expected to happen**:

I expect t

[2018-11-07 17:23] logicalhan commented on #70752
/sig api-machinery
/assign @logicalhan

[2018-11-07 17:23] zjj2wry commented on #70679
/cc

[2018-11-07 17:31] zjj2wry commented on #70674
The resource version is used to avoid multiple requests to update the same object at the same time. I think there should be some way to force the update, such as not passing the resource version in the update. i will investigate this.

/assign

[2018-11-07 17:32] zjj2wry commented on #70674
/sig api-machinery

[2018-11-07 17:33] zjj2wry commented on #70674
/kind need-help

[2018-11-07 17:50] aasmall commented on #70679
/cc

[2018-11-07 17:52] tammersaleh commented on #63225
I'm seeing this as well.  I'm deployed to GKE:

[code]

And here's my `kubectl`:

[code]

I'm deploying a DaemonSet that echo's to stdout every 5 seconds:

[code]

I can view these messages with `kubectl logs nosey-1234`, but if I add the `-f` flag, I get no output.  I've also verified that the messages are appearing every 5 seconds in `/var/log/containers/nosey-UUID` on the node.

[2018-11-07 17:54] lenny87 commented on #56903
I just found a little easier workaround than setting up an other CoreDNS instance in cluster and hacking with IP addresses on lo interface.

I just switched kube-dns service to NodePort (for example 32053 for UDP)

Configured our local resolver (actually Unbound, which is running on separate machine, out of k8s cluster)

[code]

Then changed kubelet.env file on k8s nodes
[code]
Where first IP is U

[2018-11-07 18:17] talishte commented on #44540
Same problem using kubernetes v1.12.2

[2018-11-07 18:32] anfernee commented on #70748
@rajansandeep Thanks for reporting. Can you help me understand why it's a kubernetes issue?

[2018-11-07 18:36] rajansandeep commented on #70748
@anfernee It's because I'm requesting support from members (@thockin specifically assigned here) who have permission to push the image to the gcr.io repo.

[2018-11-07 18:50] AishSundar commented on #70748
@rajansandeep are there any major changes in this new images that the 1.13 release team should be watching out for (other than tests staying green).

[2018-11-07 18:53] AishSundar commented on #70748
@jberkus @maria @mortent to keep an eye on CI Signal once this is pushed.

[2018-11-07 18:57] grosser commented on #70674
not passing the version works for Deployments, but for many newer objects
like ApiService it does not work

On Wed, Nov 7, 2018 at 9:34 AM Jiajin Zheng <notifications@github.com>
wrote:

[2018-11-07 19:00] chrisohaver commented on #70748
@AishSundar, only relatively minor bug fixes - nothing that should affect tests.  FYI, we tested this version of the image in #70712 ...

[2018-11-07 19:00] mikedanese commented on #49213
Various non-critical addons have been pretty noisy in the vulnscans. Unfortunately many of our e2e tests currently depend on them.

[2018-11-07 19:04] saad-ali commented on #70505
The current proposal is trying to improve the case where a volume is provisioned as readonly. But provisioning a new (empty) volume and using it as readonly doesn't make a lot of sense unless you are pre populating that volume with data (e.g. restore snapshot, clone, etc.).

This issue exist with current in-tree plugins as well. Therefore this is not a blocker for 1.13.

We'll take some time next

[2018-11-07 19:36] #68416 closed

[2018-11-07 19:45] bsalamat commented on #25319
They are currently in Beta. We haven't planned on promoting them to GA because they had many performance/scalability issues. We have addressed some of those issues, but there are still some left to be addressed. No concrete plan yet, but I feel we are getting closer. Maybe we go to GA in 1.14 or 1.15.

[2018-11-07 19:47] bsalamat commented on #70723
@hex108 Why don't you send a PR instead?

[2018-11-07 20:14] bsalamat commented on #70708
It is likely caused by #70366. I was afraid that it could potentially cause higher CPU usage in our benchmarks where there are not many unschedulable pods. We should revert it.

[2018-11-07 20:18] yboaron commented on #67457
We are hitting the same issue with  K8S v1.11.0 K8S & python client 7.0.0 (same behavior also with k8s py client 8.0.0).

Is there any update on that case?

[2018-11-07 20:30] DirectXMan12 commented on #44540
please make sure you've deployed metrics-server and have the `metrics.k8s.io` API correctly registered (check `kubectl get apiservices`)

[2018-11-07 20:36] DirectXMan12 commented on #69510
@D-PENG I'd expect to see more errors if metrics-server couldn't resolve addresses.  Is there anything else in the logs?

[2018-11-07 20:52] #68024 closed

[2018-11-07 20:53] msau42 opened #70760 "CSI alpha tests are failing"
**What happened**:
Probably caused by https://github.com/kubernetes/kubernetes/pull/70193

/kind bug

[2018-11-07 20:53] msau42 commented on #70760
https://k8s-testgrid.appspot.com/sig-storage#gce-alpha-enabled-default

/assign @saad-ali
@kubernetes/sig-storage-bugs

[2018-11-07 21:08] mkimuram commented on #70760
@msau42 @saad-ali

I understand that a679486 moved crd creation logic to e2e test's k8s cluster deployment code.
On the other hand, I tested it with manually deployed k8s cluster.

So, in my case, I guess that in addition to enable ```CSIDriverRegistry``` and ```CSINodeInfo``` feature gates enabled, I need to create crd manually before tests, like below:

[code]

I could make two of three SkipAtta

[2018-11-07 21:34] taragu commented on #70704
@msau42 can this issue be closed after your last PR #70710 or is there more to work on? If yes I'd like to know what's left because I'm looking for something to work on 🙂

[2018-11-07 21:41] taragu commented on #68809
@msau42 i'd like to take a stab at this
/assign

[2018-11-07 21:46] mkimuram commented on #70760
@msau42 @saad-ali

I found a typo in ```createCSIDriver```'s argument. While  hostpath driver's ```GetDynamicProvisionStorageClass``` connects driver name and unique name without "-", it connects them with "-". This makes "non-attachable" test fail, due to the mismatch between volume name in crd and provisioner name, as a result, creating volumeAttachment isn't skipped. I will create a PR to fix i

[2018-11-07 21:52] dashpole opened #70767 "Kubelet should not consume Environment Variables"
The kubelet uses a [versioned, kubernetes-style configuration](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/config/types.go#L62).  As part of this migration, folks in sig-node [removed using the global flag set](https://github.com/kubernetes/kubernetes/pull/57613) in favor of explicitly defining the flags the kubelet accepts.  Environment variables similarly share a global

[2018-11-07 21:52] msau42 commented on #68809
Thanks! Feel free to post your progress and any questions here

[2018-11-07 21:53] mtaufen commented on #70767
Good idea. Run the cluster and node e2e suites with this modification and see what breaks?

[2018-11-07 21:54] msau42 commented on #70704
I think we should actually reinstate the test case I removed and enhance it to handle the two scenarios I mentioned.  It would also be good to see if we have other readOnly test cases that could be enhanced as well

[2018-11-07 21:56] pohly commented on #70319
Is there ever a situation where there should be more than one operation in flight per volume?

This seems risky. How about serializing all changes per volume (both long-running operations and those direct functions) inside `reconcile()`? This is stricter than the "consider volumes as in use when there are pending operations" and would give me more confidence that the code really does the right thi

[2018-11-07 22:16] trondhindenes commented on #65835
This feels like a fairly critical bug to me, but we obviously made a workaround in our setup using a similar technique to what @AntonFriberg describes above. Still feels like this should at least be documented somewhere, since it breaks with the "docker standard" of placing things in `/run/secrets` directly.

[2018-11-07 23:36] thockin commented on #70748
Done

[2018-11-07 23:36] #70748 closed

[2018-11-08 00:03] davidz627 opened #70773 "NodeInfoManager should use informers to cache CSINodeInfo objects"
**What would you like to be added**:
NodeInfoManager should use informers to cache CSINodeInfo objects to reduce load on API Server

/sig storage
/cc @verult @saad-ali

/kind feature

[2018-11-08 00:16] mortent opened #70774 "Failing Test: [sig-storage] Mounted flexvolume expand[Slow] Should verify mounted flex volumes can be resized"
**Which jobs are failing**: gce-cos-master-slow

**Which test(s) are failing**: [sig-storage] Mounted flexvolume expand[Slow] Should verify mounted flex volumes can be resized

**Since when has it been failing**: 11/07/2018

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-slow

**Reason for failure**:
Long error message, but seems like it failed to create a de

[2018-11-08 00:19] AishSundar commented on #70774
/assign @aniket-s-kulkarni
/cc @gnufied @jberkus @maria

/sig storage
/kind failing-test
/milestone v1.13
/priority critical-urgent

[2018-11-08 00:45] fdawg4l commented on #69776
@thockin I don't know who the question is directed at, but I'll give my $.02.

Depends on how much you trust your tests.

Until you need a new feature in a vendor dep, there really is no reason to upgrade it.  But, moving along with upstream has the added benefit of not needing to put in lots of time triaging integration issues later on when you really *do* need something new.

You can keep up to

[2018-11-08 00:53] bsalamat commented on #56721
/remove-lifecycle stale

[2018-11-08 01:06] neolit123 commented on #70751
/sig api-machinery

[2018-11-08 01:06] neolit123 commented on #70686
/sig architecture

[2018-11-08 01:08] WanLinghao commented on #70644
/assign

[2018-11-08 01:15] saad-ali commented on #70760
I can verify that the CRDs are not getting installed on the alpha cluster. Investigating why.

[2018-11-08 01:16] gbjuno commented on #70730
[code]

[2018-11-08 01:35] Antiarchitect commented on #68630
Please also refer `kubectl drain`. These two `kubectl cordon` and `kubectl drain` should take multiple arguments as it is very common to get subset of nodes in this way `kubectl get nodes | grep "something" | cut -f1 -d' '`. So it would be very nice if these would work:
[code]

[2018-11-08 01:51] #68762 closed

[2018-11-08 01:59] msau42 commented on #52847
/remove-lifecycle rotten
/help

[2018-11-08 02:02] verult opened #70777 "storage e2e tests: setting --delete-namespace-on-failure=false should prevent deletion of test pods, PVCs, etc."
Setting `--delete-namespace-on-failure=false` is often used to keep objects in test running when the failure occurs, to help with debugging. However, many storage e2e tests, including CSI tests, clean up test pods and PVCs in a `defer` statement and AfterEach. As a result, even if the flag is set to false, everything gets cleaned up anyway.

One option is to put cleanup functions at the end of eac

[2018-11-08 02:18] fturib commented on #70748
@thockin : Thanks you ! - See noe the image available here : https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/coredns?gcrImageListsize=50

@rajansandeep : can you kick of a PR for the update of the deployment for CoreDNS ? Thanks!

@AishSundar : the real move to the new version of CoreDNS will be when that PR to come will be merged.

[2018-11-08 02:19] aniket-s-kulkarni commented on #70774
@mortent Could you include the output leading up to the error message please? It seems to work in my testing and dev env, and I'm wondering it there is something that was overlooked in the test case thats causing it to fail. The output and complete error message would help to figure that out.

[2018-11-08 02:34] AishSundar commented on #70748
@fturib which PR is it?

[2018-11-08 02:36] feiskyer commented on #66542
Anyone looking at this failure? Seems it fails frequently recently

[2018-11-08 02:36] cofyc commented on #64590
I'm fine to put the driver name as part of volume name.

[2018-11-08 02:48] D-PENG commented on #69510
Kubernetes has been upgraded to version 1.12.2 and the problem has not been relapse. 1.12.2 is normal

[2018-11-08 03:10] #70686 closed

[2018-11-08 03:12] mortent commented on #70774
@aniket-s-kulkarni You can get the logs for all run through the testgrid here: https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-slow. Just click on any of the boxes in the column for the test run you want to look at.
The logs for the latest run is here: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/21549

[2018-11-08 03:18] PaulFurtado commented on #60789
/remove-lifecycle rotten

This is particularly useful if you're running hadoop in Kubernetes. We were running yarn nodemanagers in StatefulSets but really want to do it with Deployments. Yarn requires DNS names for pods to work. No matter how you configure it, the nodemanager always registers itself with the cluster by its FQDN.

So I think Deployments should have an option to set the hostname fie

[2018-11-08 03:30] shaohk commented on #53089
@Surya361 How did U solve this issue?

[2018-11-08 04:39] hex108 commented on #70723
@bsalamat Thanks. PR #70783 is sent. PTAL.

[2018-11-08 05:12] AishSundar commented on #70627
@justinsb I see that your PR #70681 merged as a fix for #56787. I see the test passing in the lagtest run https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new !! Thanks much.

Is there any more work needed @Huang-Wei or can we close this?

[2018-11-08 05:13] AishSundar commented on #56787
@justinsb I see that your PR #70681 merged and I see the test passing in the latest run https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new !! Thanks much. we will wait for a few more runs and then close this.

[2018-11-08 05:15] AishSundar commented on #70708
Thanks for the revert PR @bsalamat

@wojtek-t meanwhile we [didnt get a run of the large scale-performance job today](https://testgrid.k8s.io/sig-release-master-blocking#gce-master-scale-performance). Can you please look into whats going on? Thanks

[2018-11-08 05:16] AishSundar commented on #69600
@wojtek-t  we didnt get a run of the large scale-performance job today. Can you please look into whats going on? Thanks

[2018-11-08 05:31] WanLinghao commented on #70721
@gitplyx, please check if your host has any proxy set. try this:https://github.com/kubernetes/kubernetes/pull/68663

[2018-11-08 05:45] yue9944882 commented on #67059
/remove-lifecycle stale

[2018-11-08 05:47] Lentil1016 opened #70785 "Pod been allocated an IP that doesn't belongs to podSubnet in v1.12.1"
**What happened**:

Hi, I have three nodes, they are well prepared for deploying kubernetes and they have password-less login ssh to each other.

|role|IP|
|:-|:-|
|master-01|10.130.29.80|
|master-02|10.130.29.81|
|master-03|10.130.29.82|

I'm trying to deploy a kubernetes v1.12.1 HA master cluster with [my script](https://github.com/Lentil1016/kubeadm-ha/blob/master/kubeha-gen.sh) on them. I set

[2018-11-08 05:48] AishSundar commented on #70708
Thanks @BenTheElder thats mighty helpful. How do we get the job back in a good state? can we assume the rescheduled pod is good and that run will complete?

[2018-11-08 05:50] AishSundar commented on #69600
As commented by @BenTheElder [here](https://github.com/kubernetes/kubernetes/issues/70708#issuecomment-436877788) its a broader Prow / k8s issue. lets wait for one more run.

[2018-11-08 05:50] Lentil1016 commented on #70785
BTW, https://raw.githubusercontent.com/Lentil1016/kubeadm-ha/1.11.0/kubeha-gen.sh Is the script I used to generate v1.11.0 HA master.

[2018-11-08 05:53] BenTheElder commented on #70708
Not sure, it might be OK, in the past we had issues with the previous pod's resources breaking the rescheduled pod. It should either be in an OK state now or the next run will be.

Metadata for [252](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/252/) (`2018-11-07 14:22 PST`) and  [251](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kub

[2018-11-08 05:57] lubinsz commented on #67720
@dims
Can we close this issue?

[2018-11-08 06:14] WanLinghao commented on #69855
@Lynzabo hello, can you please give the version of your kubernetes cluster

[2018-11-08 06:15] aoxn commented on #70526
Sorry for the miss leading.  PodCIDR is just an example for how and why does it not work.
Basically , This is caused by an uninitialized Node Condition of `RouteCreated`. If cluster is configured with cloudprovider and `--configure-cloud-routes` enabled , there are chances that Node become ready before Route is created(ccm failed to create route due to throttle etc.).  This would result in pod sch