[2020-06-02 02:29] mattjmcnaughton opened #91657 "Enhance the test/tooling coverage for `dockerless` Kubelet"
**What would you like to be added**:
I'm creating this issue as a tracking issue for improving the test and tooling coverage for our `dockerless` Kubelet. See the [KEP](https://github.com/kubernetes/enhancements/pull/1546) and [PR](https://github.com/kubernetes/kubernetes/pull/87746) for more background information - at a high level, the cool is supporting building a Kubelet that does not have any

[2020-06-02 02:29] mattjmcnaughton commented on #91657
/sig node

[2020-06-02 02:37] bsdnet commented on #91641
A lot of tests have their implicit assumptions. I am wondering whether running local even works.  Need to dive into the run_local.go to see what's going on. I also hit the same, BTW :)

[2020-06-02 03:01] liggitt commented on #91579
With the added debugging, seeing *lots* of failures for this:

* https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kind/1267635544741908481
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kind/1267615032988930051
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kind/126760924482843852

[2020-06-02 03:03] ZhiFeng1993 commented on #91641
The service error was related with port binding and after I cleared the port usage, the test was running fine locally. We can close this issue.

[2020-06-02 03:09] ZhiFeng1993 commented on #91641
@alejandrox1 maybe we can add in your document about disabling swapfile?

[2020-06-02 03:11] liggitt commented on #91579
Digging into https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kind/1267615032988930051

The pod pod-submit-status-0-4 was never deleted:
[code]

Events:
* `Jun  2 01:00:54.440: INFO: At 2020-06-02 00:55:33 +0000 UTC - event for pod-submit-status-0-4: {default-scheduler } Scheduled: Successfully assigned pods-7342/pod-submit-status-0-4 to kind-worker2`
* `Jun  2

[2020-06-02 03:16] liggitt commented on #91579
/cc @smarterclayton since digging around in the kubelet guts prompted adding this test in the first place

[2020-06-02 03:34] liggitt commented on #91579
/sig node

[2020-06-02 03:36] softputer opened #91658 "When i changed max-pods parameter for kubelet and restart kubelet, all pods are terminated"
When i changed max-pods parameter for kubelet and restart kubelet, all pods are terminated.

Expected behaviour: all pods stay safe on the machine without teiminating

[2020-06-02 03:55] liggitt commented on #91579
looking in the [containerd log](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/91651/pull-kubernetes-e2e-kind/1267615032988930051/artifacts/logs/kind-worker2/containerd.log):

* `Jun 02 00:55:34 kind-worker2 containerd[128]: time="2020-06-02T00:55:34.029936308Z" level=info msg="RunPodsandbox for &PodSandboxMetadata{Name:pod-submit-status-0-4,Uid:553b0f48-8dbd-4ff6-8e4c-289a0a9b7f5c

[2020-06-02 04:06] bsdnet commented on #91641
So there are two running kubelets? If that is the case, should we enhance the error and make it explicit?

[2020-06-02 04:36] jherrera123 commented on #90679
It looks like my master branch from May 25 consistently ranks the s1 node as lower priority due to NodeResourcesLeastAllocated plugin, so I can't reproduce with it. But I can reproduce the problem consistently on tag v1.18.2.

I also see that multiple fixes have been merged in the scoring area. So I suspect these fixes helped. I'm going to continue reviewing v1.18.2 logs and understand the fixes.

[2020-06-02 04:41] thockin commented on #56371
The y should be there and in iptables.  I can see the code for it and tests.

Can you run `gcloud compute firewall-rules list` ?

On Thu, May 28, 2020 at 2:19 PM jhonnyx82 <notifications@github.com> wrote:

[2020-06-02 04:59] RammusXu commented on #10921
Thank @smekkley
and in GKE and use type: Loadbalancer is also need `externalTrafficPolicy`.
[code]

ref: https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-typeloadbalancer

[2020-06-02 05:31] BenTheElder commented on #91579
/assign

[2020-06-02 05:33] dick-twocows commented on #91644
Thank you! I had completely overlooked that :-(

[2020-06-02 05:44] zhan849 commented on #45419
I think I got the root cause for the issues we saw here:

docker sometimes can get messed up between docker ps and docker inspect: during container tear down, docker ps can show cached information about container including the ones whose shim is already reaped:

[code]

[code]

In such case, dialing docker sock for docker inspect would stuck and cause client side timeout. This is possibly due to t

[2020-06-02 06:00] BenTheElder commented on #89064
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91617/pull-kubernetes-e2e-kind/1267635291242369029

[2020-06-02 06:03] yue9944882 commented on #91565
@xjtustt can you check if the time zone is properly configured for your apiserver (or its deployed machine)? note that the `creationTimestamp` always uses utc timestamp.

[2020-06-02 06:10] xjtustt commented on #91565
@yue9944882 @knight42
Yes, I found that the apiserver machine use PDT time,
[code]
And the `creationTimestamp` use GMT time so the duration turns to a negative value.
The strange thing is that why this can be worked on kubernetes 1.16 and 1.14?

[2020-06-02 06:34] #90510 closed

[2020-06-02 07:17] katarzyna-z commented on #89859
@BenTheElder Could you share a content of `/sys/devices/system/node/node0/cpu0/topology/`  and `/sys/devices/system/cpu/cpu0/topology` directories?
Do you see any helpful hints in logs? Could you share them?

[2020-06-02 07:25] katarzyna-z commented on #89859
In kubelet logs from #1569 I see this error:
[code]
Does it appear on host on which no cpus is reported?

[2020-06-02 07:55] aojea commented on #91626
/close
by https://github.com/kubernetes/kubernetes/pull/91632

[2020-06-02 07:55] #91626 closed

[2020-06-02 08:05] jafferaws opened #91664 "Kubernetes V1.16.8 doesn't support 'node-role' label using “--node-labels=node-role.kubernetes.io/master=”"
Upgrade Kube-aws v1.15.5 cluster to the next version 1.16.8.

**What happened**:
I want to keep the Same node label for Master and Worker nodes as I'm using in v1.15 cluster to segregate the nodes with roles. When I tried to upgrade the cluster to V1.16 the --node-labels is restricted to use '**node-role**'

**What you expected to happen**:
If I keep the node role as "**node-role.kubernetes.io/mas

[2020-06-02 08:11] tedyu commented on #91658
What's the kubernetes release you used ?

[2020-06-02 08:17] loktionovam commented on #55713
Same problem and pod stuck in terminating state.

[2020-06-02 08:24] tuananh170489 commented on #91656
/sig node

[2020-06-02 08:28] Ext3h commented on #43916
Remaining problem here appears to be `vm.dirty_bytes` configuration in kernel. This isn't the read caches which are problematic (any more), it's the write back cache.

Memory is allocated into the writeback cache pool and attributed to a cgroup. However, that cache is only flushed once the system wide limits are exceeded. Per default 10% of total system RAM before write out begins asynchronously,

[2020-06-02 08:39] sadjunky opened #91665 "Actual CPU capacity is lower than assigned CPU capacity when gVisor sandbox is enabled in GKE"
**What happened**:
Enabling gVisor sandbox lowered actual CPU capacity from the assigned capacity. For example, assigning 6 CPU cores to a node reduces it to 3 CPU cores capacity.

**What you expected to happen**:
CPU capacity and assigned CPU should match.

**How to reproduce it (as minimally and precisely as possible)**:
Enable gVisor sandbox while creating a node pool.

**Anything else we need

[2020-06-02 08:40] krmayankk commented on #68397
i have started working back on this, will update the api and implementation pR

[2020-06-02 08:43] sadjunky commented on #91665
/sig cloud-provider

[2020-06-02 08:48] adrianmoisey commented on #91457
The issue is with our label selectors on the deployment not being specific enough.

[2020-06-02 08:48] #91457 closed

[2020-06-02 09:09] hex108 opened #91667 "Container has exited but pod Ready condition is still true"
**What happened**:

I created a pod, and updated its image after it was running. Then kubelet killed the old container, pulled new image(it took 1 minute), and started a new container with the new image. The pod `Ready` condition was `True` throughout the whole process.

It will cause serious problems because LoadBalance compent will send traffic to it if pod's `Ready` condition is true.

**What y

[2020-06-02 09:45] pacoxu commented on #91664
This is a duplicate of #84912

you may refer to https://github.com/kubernetes/kubernetes/issues/84912#issuecomment-551362981 or  https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md#proposal

[2020-06-02 09:59] joshshn opened #91668 "Kubernetes v1.18.0 cpumanager: cpuset not assigned after pod restart"
**What happened**:
Deployed pod with guarenteed QoS class in a kubernetes v1.18.0 cluster having Static CPU Management policy configured. Pod runs fine with effective cpuset matching the cpu resource in pod manifest. However when pod restarts( in this case due to liveness probe failure) the cpumanager does not assign cpuset for the pod.

**What you expected to happen**:
The cpumanager should alloc

[2020-06-02 10:12] wojtek-t commented on #91073
Yeah - I agree with Joe. It seems like some network partition issue of the apiserver the node was connected to.

[2020-06-02 10:24] Jc2k opened #91669 "CustomResourceDefinition schemas should support $ref"
**What would you like to be added**:

I would like to be able to use`$ref` as part of a CRD schema to enable a somewhat recursive schema to apply validation to child values in a map. Here is a simple JSON schema that shows what I mean.

(When i first opened the ticket I thought I needed `patternProperties`, and the ticket was about supporting that, but it looks like I should be able to do this wit

[2020-06-02 10:25] wojtek-t commented on #91579
I looked into the other failure, and there one of the pods never started. But again - it seems to be related to the containerd (or some Kubelet-containerd interactions):
[code]

For now - I don't see anything that suggests problems with delivering watch events.

[2020-06-02 10:29] Jc2k commented on #91669
Related: #59485

/sig api-machinery
/area custom-resources

[2020-06-02 10:30] joshshn commented on #91668
/sig node

[2020-06-02 10:56] rkojedzinszky commented on #91073
I will be able to answer the questions in detail later, but in short: there are 3 masters set up with kubeadm, haproxy load-balances the queries to the apiservers. The only thing to reproduce the issue is to disconnect the node from the network for a few minutes. Masters or etcd members are not touched, and anyway the cluster seems to be healthy.

[2020-06-02 11:43] chrisohaver commented on #91656
@tuananh170489, Have you followed the troubleshooting steps in https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/ ?

Is the CoreDNS Pod running? Do you see errors in the CoreDNS log?

[2020-06-02 11:48] adampl commented on #55713
I guess [Taint Based Evictions](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-evictions) available in Kubernetes 1.18 should solve this issue.

[2020-06-02 11:50] chandanpasunoori opened #91670 "`kubectl apply` drops all hostAlias entries when removing a duplicate entry from an existing object"
**What happened**:
When applying deployment yaml file with kubectl few out of many host aliases are ignored, only applying partial hostaliases.

I tried with json also but bahavior is same, tried with kubectl edit again bahavior is same.
But when I updated directly in GKE console its applying correctly.

**What you expected to happen**:

It should apply all host aliases correctly.

**How to reprod

[2020-06-02 11:51] liggitt commented on #91669
Thanks for the request. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/62872

[2020-06-02 11:51] #91669 closed

[2020-06-02 11:51] liggitt commented on #91670
Do you have the example manifests that aren't working?

[2020-06-02 11:55] liggitt commented on #91664
Nodes may not self-assign role labels for security reasons. To add a master role to a node, the label must be applied externally. See https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#noderestriction for permitted labels/label-patterns

[2020-06-02 11:55] #91664 closed

[2020-06-02 12:08] brancz commented on #64730
/remove-lifecycle stale

[2020-06-02 12:08] brancz commented on #64730
/remove-lifecycle rotten

[2020-06-02 12:14] xiaoanyunfei opened #91672 "Should Replicaset controller cleanup the failed pods"
**What happened**:
I found a deployment with one running pod and serveral failed pods
But the expect pod num of deployment is 1
The failed pods cloud never be deleted unless someone do it.

Should replicaset controller cleanup the failed pods when the pod number reach expectations？

pod list

cloud-731790-10907-1948-41-deploy-5769778f7f-bdkfq                1/1     Running   0          22h
cloud-7

[2020-06-02 12:20] rkojedzinszky commented on #91073
Today, it occured on a diffrent cluster. Setup is similar: stacked etcd on master nodes, haproxy load-balances traffic between them. Just was playing with haproxy servers and the HA setup, and after a few restarts of haproxy, one of the nodes entered this state. So during a haproxy restart, all kubelets' connections to apiservers are terminated, but rarely, one of them enters this unhealthy state.

[2020-06-02 12:41] jinseu opened #91674 "The rollback of StatefulSet can't be done by increasing rollingUpdate.partition"
`/sig apps`

**What happened**:

I have updated StatefulSet using `rollingUpdate strategy`, when `updateStrategy.rollingUpdate.partition==8` (`replicas==10`) I found new container image has bug. I would roll back the updated pod，set `updateStrategy.rollingUpdate.partition=10` and delete the updated pod(`kubectl delete pod`).Then statefulset created pod failure, and reported warning event. Warning

[2020-06-02 12:44] katarzyna-z commented on #89859
@BenTheElder Could you verify if cAdvisor from this pull request correctly reports cpus?

[2020-06-02 12:48] chandanpasunoori commented on #91670
below is the is similar document, hear I only added 2 hostnames entries but  we have 23 and many domains in it, but all points same ip like below.

[code]

[2020-06-02 12:51] smarterclayton commented on #91579
Yeah this test fails usually due to failures in CRI.  We found 2-3 bugs in docker while rolling it out, 1-2 containerd / crio bugs.

[2020-06-02 12:52] ahg-g commented on #91633
+1

I like the idea of associating the logs with an identifier. We should look at structured logging and see if what you are planning to do aligns with that proposal: https://github.com/kubernetes/enhancements/issues/1602

[2020-06-02 13:00] #91674 closed

[2020-06-02 13:00] jinseu opened #91675 "The rollback of StatefulSet can't be done by increasing rollingUpdate.partition"
**What happened**:

I have updated StatefulSet using `rollingUpdate strategy`, when `updateStrategy.rollingUpdate.partition==8` (`replicas==10`) I found new container image has bug. I would roll back the updated pod，set `updateStrategy.rollingUpdate.partition=10` and delete the updated pod(`kubectl delete pod`).Then statefulset created pod failure, and reported warning event. Warning message is

[

[2020-06-02 13:01] jinseu commented on #91675
/sig api-machinery
/sig apps

[2020-06-02 13:02] #91675 closed

[2020-06-02 13:03] jinseu opened #91676 "The rollback of StatefulSet can't be done by increasing rollingUpdate.partition"
**What happened**:

I have updated StatefulSet using `rollingUpdate strategy`, when `updateStrategy.rollingUpdate.partition==8` (`replicas==10`) I found new container image has bug. I would roll back the updated pod，set `updateStrategy.rollingUpdate.partition=10` and delete the updated pod(`kubectl delete pod`).Then statefulset created pod failure, and reported warning event. Warning message is

[

[2020-06-02 13:30] katarzyna-z commented on #89859
I see that for cpu10 and cpu8 topology directory is missing but it exists for cpu0, cAdvisor reads "core_id" and "physical_package_id" from topology directory.
In https://github.com/google/cadvisor/pull/2567 I handle the case for core_id but I need to extend it to handle also "physical_package_id".

[2020-06-02 13:38] claudiubelu opened #91677 "tests: Kubelet stats collection for Windows fails"
**Which jobs are failing**:

aks-engine-azure-windows-master-containerd-serial-slow

**Which test(s) are failing**:

    [sig-windows] [Feature:Windows] Kubelet-Stats [Serial] Kubelet stats collection for Windows nodes when running 10 pods should return within 10 seconds

**Since when has it been failing**:

Unknown.

**Testgrid link**:

https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows

[2020-06-02 13:44] jisnardo commented on #84169
Hi @saad-ali, **disable-attach-detach-reconcile-sync** still works with kubernetes 1.16.10? I have tried without success.

[2020-06-02 13:46] alculquicondor commented on #91633
+1 on structured logging.

[2020-06-02 14:14] katarzyna-z commented on #89859
Now the case when topology directory is missing should be handle in https://github.com/google/cadvisor/pull/2567
@BenTheElder @uablrek Could you verify if this works in your environment?

[2020-06-02 14:36] iamchuckss commented on #91655
Hi @mattjmcnaughton, can I work on this issue?

[2020-06-02 14:37] ingvagabund commented on #91633
+1
I wish we could have two logging streams, one of them dedicated to just scheduling decisions.

[2020-06-02 14:55] Dunoyer opened #91681 "[kubelet-check] Initial timeout of 40s passed"
Hi,
I have two dedicated servers with docker installed on it. I want to configure one of the servers in Master but the kubeadm init command does not work. I have a timeout at step [kubelet-check]. Can you help me ?

![image](https://user-images.githubusercontent.com/8861662/83534901-b4771c80-a4f1-11ea-92ff-fc7692cac390.png)

and

![image](https://user-images.githubusercontent.com/8861662/83534993-

[2020-06-02 15:00] liggitt commented on #91670
The merge key of the hostAliases list is the IP field, so the IP field of each entry must be unique. If you use the same value, `apply` collapses the duplicate values and only honors one of them.

/close

[2020-06-02 15:07] BenTheElder commented on #91550
/assign

[2020-06-02 15:08] BenTheElder commented on #91548
Still flakes but greener

[2020-06-02 15:15] #86722 closed

[2020-06-02 16:01] rkojedzinszky commented on #91073
Multi apiserver cluster

Stacked etcd members are present.

I think In my setup it is not relevant, as all the kubelets are talking to the apiserver through the load-balancer, which picks one of the available apiservers.

I am doing a rolling restarts of the nodes, and there were at least one occurence, when even one of the master nodes got stucked in this state.

How can I help debugging/fixing t

[2020-06-02 16:03] chandanpasunoori commented on #91670
as I already mentioned

I did like below too, but still its ignores few entries

[code]

[2020-06-02 16:08] MushuEE commented on #90763
@brianpursley do you mind elaborating on

I just ran it from root and seems like most of the tests run for me, just due to GOPATH being unset I get a lot of `[no test files]` If there were instructions on setting the GOPATH and we moved the go testing bit to it's own area of the guide, would that work?

[2020-06-02 16:14] raresraf commented on #91421
Timeout
`kubetest --timeout triggered `

ClusterLoaderV2
`error during /go/src/k8s.io/perf-tests/run-e2e.sh cluster-loader2 --nodes=500 --provider=kubemark --report-dir=/workspace/_artifacts --testconfig=testing/density/config.yaml --testconfig=testing/load/config.yaml --testconfig=testing/access-tokens/config.yaml --testoverrides=./testing/experiments/enable_prometheus_api_responsiveness.yaml --t

[2020-06-02 16:17] vikramk7 opened #91686 "StreamWatcher memory leak"
I am porting https://github.com/kubernetes/apimachinery/issues/70 to k/k per the [comment](https://github.com/kubernetes/apimachinery/issues/70#issuecomment-597302625)

We are using the StreamWatcher and seeing extremely high memory allocations. Attached is a memory profile:

[pprof.pilot-discovery.alloc_objects.alloc_space.inuse_objects.inuse_space.033.pb.gz](https://github.com/kubernetes/kuberne

[2020-06-02 16:18] vikramk7 commented on #91686
Copying @howardjohn,  he was the original reporter of the bug in apimachinery.

[2020-06-02 16:44] yanchenko-igor commented on #86209
I have an issue when due to unreachable node a pod becomes "Terminating". If I have a statefulset with one replica, it causes a downtime for the service, the expected behavior would be that a pod in Terminating state would not be counted, and new pod would be created. I there a way to implement this?

/remove-lifecycle stale

[2020-06-02 17:08] neolit123 commented on #91681
hi, this usually means that he kubelet is not starting / healthy.
you should use `journalctl -xeu kubelet` and look at the kubelet logs for errors.

but please use the support channels for this instead of this issue tracker:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks.
/remove-kind bug
/triage support
/close

[2020-06-02 17:08] liggitt commented on #91686
Thanks for the report. @howardjohn, some additional quesitons:

* what client version are you using?
* what does your handler do with the objects it receives from the streamwatcher? does it retain any portion of those objects out of band?
* do you have metrics indicating the handler is not blocked

[2020-06-02 17:08] #91681 closed

[2020-06-02 17:43] chandanpasunoori commented on #91670
/sig cli

[2020-06-02 17:45] liggitt commented on #91670
What you are observing is a flaw in the client-side apply behavior when duplicate entries are persisted, and then one is removed. When the second item is applied, it is treated as a removal of the given key.

See also https://github.com/kubernetes/kubernetes/issues/58477, https://github.com/kubernetes/kubernetes/issues/59119, https://github.com/kubernetes/kubernetes/issues/86163

Server-side apply

[2020-06-02 17:57] xiangninglyu commented on #69676
Is there a good way of probing OOMKilled? My use case is I want to detect OOM and have actions based on it. Thanks!

[2020-06-02 17:59] chandanpasunoori commented on #91670
any on going pr available on this to fix?

how is retaining all entries in same way we provide if we change directly in GKE console? is it using api?

what if we use api instead of kubectl apply?

[2020-06-02 18:01] liggitt commented on #91670
You can use `kubectl replace` instead of `kubectl apply`, but it is not recommended to persist data with conflicting keys. The correct way to persist this is to use a single entry per IP address.

[2020-06-02 18:03] BenTheElder commented on #89859
Thanks, admittedly I'll need to figure out how best to test cAdvisor changes, that's not a repo I've really touched yet ...

[2020-06-02 18:06] jossef commented on #53533
## Some Kubernetes Deployments Need Swap

I have a valid use case - I'm developing an on-prem product, linux distro, included with kubeadm. no horizontal scaling by design. To survive opportunistic memory peaks and still function (but slow), **I definitely need swap**.

## To install `kubeadm` with swap enabled

1. Create a file in `/etc/systemd/system/kubelet.service.d/20-allow-swap.conf` with th

[2020-06-02 18:11] chandanpasunoori commented on #91670
I yeah understood now that duplicates are not supported, but hard way, our production was down 100% effecting hundreds of clients.

as of now we can't use kubectl replace in our automation as google's 'gcr.io/cloud-builders/gke-deploy' also effected with this.

manually we can do, but that's want we are wanted to stop and go full auto CI/CD. when we are doing manually changing from GKE console it

[2020-06-02 18:15] kubealex opened #91695 "k8s with cri-o as runtime does not support calico as cni plugin"
**What happened**:
Followed the guide to install cri-o as container runtime and calico as cni-plugin for CentOS7

**What you expected to happen**:

Working configuration

**How to reproduce it (as minimally and precisely as possible)**:

Just follow the guide for installing HA Cluster.
Set up cri-o with prerequisites
Init master node with kubeadm specifying custom --pod-network-cidr
Install cni-pl

[2020-06-02 18:15] chandanpasunoori commented on #91670
any way this is serious flaw in kubectl apply, its silently corrupting deployment which can have serious consequences

[2020-06-02 18:16] kubealex commented on #91695
/sig architecture

[2020-06-02 19:06] liggitt commented on #91670
I'm consolidating the reports of this issue and the API fields known to define a merge key AND permit persisting duplicate entries in https://github.com/kubernetes/kubernetes/issues/58477, closing this to track the core issue there

[2020-06-02 19:06] #91670 closed

[2020-06-02 19:06] liggitt commented on #86163
I'm consolidating the reports of this issue for various fields in https://github.com/kubernetes/kubernetes/issues/58477

/close

[2020-06-02 19:07] #86163 closed

[2020-06-02 19:13] Huang-Wei commented on #91633
+1.

In addition to structured logging (to have consistent identifiers), we should have consistent mechanics to define each log level's semantics. No need to have a KEP, but would be nice to keep it documented in https://github.com/kubernetes/community/tree/master/contributors/devel/sig-scheduling.

[2020-06-02 19:30] sethp-nr commented on #88535
/remove-lifecycle stale

[2020-06-02 19:41] jafferaws commented on #91664
During ASG scale-in, I can use kubectl commands in the ansible scripts to apply the "--node-labels=node-role.kubernetes.io/master=" and that's take care of adding node-role to the master nodes.

But, the same can't be applied to Worker nodes. Since worker nodes don't execute the kubectl commands.

[2020-06-02 19:42] jafferaws commented on #91664
Please re-open this issue, to find a solution.

Thanks

[2020-06-02 19:50] dkwakkel commented on #42544
/remove-lifecycle stale

[2020-06-02 19:51] liggitt commented on #91664
this sounds similar to the question asked in https://github.com/kubernetes/kubernetes/issues/63022 ... I would recommend reaching out to the aws cloudprovider folks on that thread for suggestions on labeling nodes in that environment

note that you can still assign non-kubernetes labels and the labels listed in https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#noderest

[2020-06-02 19:51] krdhruva opened #91698 "Group info is missing in subject access review request for webhook authz mode"
**What happened**:
I configured webhook authz mode like below to authorize client request

[code]

On successful authentication, I observed that authentication webhook is returning groups details to api server  as below

[code]

However subject access review request has group info as empty
[code]

- Printing subject access review request with members shows Groups:[]
- Even though I have registered

[2020-06-02 19:52] jherrera123 commented on #91633
/assign

[2020-06-02 19:53] krdhruva commented on #91698
/sig Auth

[2020-06-02 20:06] jafferaws commented on #63022
Could any one of you give a solution to this issue I'm facing in labelling role to nodes duringAWS ASG scale-in for Kubernetes cluster.

https://github.com/kubernetes/kubernetes/issues/91664[Issue](https://github.com/kubernetes/kubernetes/issues/91664)

[2020-06-02 20:13] vzburke commented on #63906
Why is this still an issue?

[2020-06-02 20:17] liggitt commented on #91698
How did you capture the JSON in the description? Did you grab that directly from the incoming request to the webhook, or did you decode it to a typed struct?

https://github.com/kubernetes/kubernetes/blob/release-1.18/staging/src/k8s.io/apiserver/plugin/pkg/authorizer/webhook/webhook_v1beta1_test.go#L490-L522 and https://github.com/kubernetes/kubernetes/blob/release-1.18/staging/src/k8s.io/apiserv

[2020-06-02 20:21] fedebongio commented on #91552
/assign @caesarxuchao

[2020-06-02 20:21] fedebongio commented on #91628
/assign @cheftako @cici37 @jiahuif

[2020-06-02 20:22] liggitt commented on #18394
/remove-sig auth

NodeAuthorization admission protection of node labels is complete in 1.19

[2020-06-02 20:22] fedebongio commented on #91676
/cc @janetkuo
Would you be able to take a look? Thanks!

[2020-06-02 20:25] sgandon commented on #43867
indeed that would be nice to be able to pre-populate a namespace with some existing pods and just rename it whenever you need it in order to avoid the startup time of all the pods.
This would be very usefull in a multitenant environment.

[2020-06-02 20:35] liggitt commented on #91579
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=kind&xtext=timed%20out%20waiting%20for%20the%20condition%7Cstdin%20closed%7Ckubectl%7CGave%20up%20after%20waiting%7Cerror%20waiting%20for%20deployment&xtest=Volume%7Cnegotiate%20watch%7CNodeConformance shows how common the test failure is. It was occurring before 6/1, it just wasn't attributed correctly

[2020-06-02 20:49] liggitt commented on #91579
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=kind#b05025d9cb729f714b09 is interesting... the containerd logs show the same error:

And appears to have started right at 5/27

[2020-06-02 20:55] liggitt commented on #91579
the CNI bump to 0.8.6 also merged the evening of 5/26... does that impact kind?

[2020-06-02 20:56] liggitt commented on #91579
oh... kind upgraded containerd the evening of 5/26... that seems very likely to be related - https://github.com/kubernetes-sigs/kind/pull/1599

[2020-06-02 20:58] Jefftree commented on #88921
Fixed.

/close

[2020-06-02 20:58] #88921 closed

[2020-06-02 21:03] neolit123 commented on #91695
hello, this doesn't feel like a core k8s problem. it is hard for k8s to guarantee support for all container runtime / CNI combinations.

please log the issue in the Calico issue tracker and ask for feedback there first.

thanks
/close

[2020-06-02 21:03] treytabner commented on #87615
After upgrading to Kubernetes 1.16, we also started seeing the `use of closed network connection` error and kubelet not reconnecting to the apiserver, leaving nodes stuck in NotReady.  We weren't able to reproduce the issue by taking down NICs (by setting the links down/up), but we did notice this behavior only happened on clusters that were more heavily loaded.

We did more digging and found that

[2020-06-02 21:03] #91695 closed

[2020-06-02 21:17] aojea commented on #91579
kind consumes it directly we upgraded it earlier

it was rolled back some days later https://github.com/kubernetes-sigs/kind/pull/1635

[2020-06-02 21:18] liggitt commented on #91579
but to v1.3.4-12-g1e902b2d, not the original version (v1.3.3-14-g449e9269)

looking at that delta now

[2020-06-02 21:18] Jefftree commented on #85425
/lifecycle frozen

[2020-06-02 21:46] Lagicrus commented on #78139
![image](https://user-images.githubusercontent.com/24227350/83560280-e4341d80-a50d-11ea-8e56-0f8c8bb9d6d3.png)

Currently, the only base image I use is python:3.7.
Which prebuilt image would you recommend me trying to build locally to test best?

Well, I can't get the logs of the container as when I do `docker ps` its blank 😕

[2020-06-02 22:26] gnufied opened #91702 "Snapshot e2e leak VolumeSnapshot resources"
This might be fixed in latest version of snapshot controller but at least with the version currently installed via addon manager - https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/volumesnapshots/volume-snapshot-controller/volume-snapshot-controller-deployment.yaml

We are leaking `volumesnapshot` objects in e2e which prevents deletion of snapshot namespace.

What happens is - i

[2020-06-02 22:27] smarterclayton commented on #89163
I believe portforward needed a new protocol because it was *not* mapped by
channel.  You need multiple portforward streams over the same port to be
equivalent to spdy, but the protocol didn't correctly take that into
account.  It's been a year or two since I last dug into it and realized
that was the case.

Here's the PR, that roughly matches what I remember
https://github.com/kubernetes/kubernete

[2020-06-02 22:39] ahg-g commented on #91299
/cc @cofyc @msau42

[2020-06-02 22:40] msau42 commented on #91299
Does your StorageClass have `volumeBindingMode: WaitForFirstConsumer` set?

[2020-06-02 23:09] janetkuo commented on #91676
cc @kow3ns

[2020-06-02 23:18] TARIKPHON85 commented on #89874
Thanks

[2020-06-02 23:22] mlbiam commented on #89163
Thanks @smarterclayton so if i'm reading this correctly.  The api server supports websockets but given that slow connections could create a bottleneck  kubectl would need to generate multiple connections to the api server so it was abandoned until an http/2 solution was built?  Does that mean I should focus instead of just exec instead of support port-forward?

[2020-06-02 23:26] msau42 commented on #85624
@akhilerm did you get a chance to followup with containerd?
/remove-lifecycle stale

[2020-06-02 23:37] madhanrm opened #91703 "Windows Kubeproxy causes data path issues when multiple services refer the same endpoints"
**What happened**:
There were 2 services referring the same endpoint
All were working fine, when changes to one of the services were made. This brought down the connectivity of the other service.

**What you expected to happen**:
The service connectivity continue to work

**How to reproduce it (as minimally and precisely as possible)**:
* Create 2 services referring same endpoint
* Delete one of t

[2020-06-02 23:37] madhanrm commented on #91703
/sig windows
/sig network

[2020-06-02 23:47] JocelynBerrendonner commented on #79359
Here is a link to the issue I mentioned in my previous comment: https://github.com/kubernetes/kubernetes/issues/91703

Though the issue description is different, the end result is the same: kubernetes.default.svc.cluster.local is not accessible from within the POD

[2020-06-02 23:50] jingxu97 commented on #64801
anyone know whether allowedHostPaths works for windows?

[2020-06-03 00:12] ZhiFeng1993 commented on #91641
@bsdnet  no. That was due to my accidental run of a kubeproxy. Normally should not happen. I think ` failed to run start command for server "services": exit status 255` message is clear enough.

[2020-06-03 00:20] tamalsaha commented on #91299
@msau42 , thanks for your response. To answer your question, no, the storageclass  `iris-ssd-storageclass-orig` was using binding mode Immediate. We also just tried using `volumeBindingMode: WaitForFirstConsumer` that seem to in a few test runs.

We were originally copying the `standard` storageclass that comes pre-defined in GKE and only changed to ssd. That is why we were using Immediate bind mo

[2020-06-03 00:29] msau42 commented on #91299
Yes, it would be better if the GKE storageclass is updated. It mainly hasn't so far due to potentially breaking orchestration that requires PVCs to be bound before creating Pods.

[2020-06-03 00:39] msau42 commented on #83323
I guess we should add a new feature gate so that we can gradually test and tune the score function. Maybe we should write a new KEP and point to the original design since it will be a separate feature gate.

[2020-06-03 00:40] msau42 commented on #83323
(We have missed the boat for 1.19, but we get started for 1.20)

[2020-06-03 00:41] tamalsaha commented on #91299
Can you please elaborate on a scenario where this can happen?

[2020-06-03 00:47] msau42 commented on #91299
With immediate mode, you can create a PVC and it will provision and bind to a PV independently of a Pod. But with "WaitForFirstConsumer" mode, you need to create the Pod in order for the PVC to get provisioned.

So changing the default could break any workflow/operator that:
1. Creates a PVC
2. Waits for the PV to be provisioned and bound
3. Then creates the Pod

Now this is probably a rare scenar

[2020-06-03 00:52] liggitt commented on #91579
containerd commits in that range that stood out:

* https://github.com/containerd/containerd/commit/c95854caca1432862a8379a7dfd261de29b99a9a
* https://github.com/containerd/containerd/commit/d70d0f1a993af68aa1f7a066f4dc040a32580adb
* https://github.com/containerd/containerd/commit/910dfcd727371578550edd2d5356f82c6c174228
* https://github.com/containerd/containerd/commit/e655edce10c97b691e32e59d936

[2020-06-03 00:59] msau42 commented on #88055
/remove-lifecycle stale

[2020-06-03 01:00] tamalsaha commented on #91299
Hmm. I understand. But I think the "default" storageclass should probably use `WaitForFirstConsumer`, since it breaks the affinity feature.

Thanks for explaining the issue. We are going to just update our storageclass yaml to use `WaitForFirstConsumer`.

[2020-06-03 01:00] #91299 closed

[2020-06-03 01:11] #88229 closed

[2020-06-03 01:38] liggitt commented on #91686
/sig api-machinery

[2020-06-03 01:55] bsdnet commented on #91641
@ZhiFeng1993  Thanks. server "services" looks pretty generic, and does it refer to kubeproxy?

[2020-06-03 02:17] xing-yang commented on #91702
This is also tracked in the external-snapshotter repo: https://github.com/kubernetes-csi/external-snapshotter/issues/264.  There's a WIP PR to address the issue in the sidecar: https://github.com/kubernetes-csi/external-snapshotter/pull/287

[2020-06-03 02:17] xing-yang commented on #91702
/assign @huffmanca

[2020-06-03 02:19] MikeSpreitzer opened #91709 "Wrong comments and code in DeltaFIFO wrt items vs queue consistency"
**What happened**:
In reviewing another PR, I noticed incorrect commentary and code.  The primary offense is at https://github.com/kubernetes/kubernetes/blob/eda662b2fd1beb31f6117d20a2c850f4e216bd77/staging/src/k8s.io/client-go/tools/cache/delta_fifo.go#L390-L395 , where a comment asserts (incorrectly) that a key can be present in `queue` but not `items` and the code removes a key from `items` wit

[2020-06-03 02:20] MikeSpreitzer commented on #91709
@kubernetes/sig-api-machinery-bugs

[2020-06-03 02:20] MikeSpreitzer commented on #91709
@jqmichael

[2020-06-03 02:20] MikeSpreitzer commented on #91709
Sorry, I should have noticed this in my earlier pass over this code.

[2020-06-03 02:30] 871690991 opened #91710 "Refer to kubectl exec - it how to call the client go API shell to interact. It's too difficult. I need help. I find many materials are non interactive"
This is an interactive shell I wrote. I can't use the keyboard's page up \ page down \ backspace\tab, etc

package main

import (
"bufio"
"fmt"
"k8s.io/api/core/v1"
"k8s.io/client-go/kubernetes"
"k8s.io/client-go/kubernetes/scheme"
"k8s.io/client-go/rest"
"k8s.io/client-go/tools/clientcmd"
"k8s.io/client-go/tools/remotecommand"
"log"
"os"
"sync"
"syscall"
"time"
)

type WSStreamHandler struct {
re

[2020-06-03 02:36] lvxiaohu opened #91711 "The tag of offline docker image is inconsistent with kubeadm config imags list"
**Which jobs are failing**:
The tag of offline docker image is inconsistent with kubeadm config imags list
**Which test(s) are failing**:

**Since when has it been failing**:
[code]
[code]

Taking the kube-proxy image as an example, kubeadm needs k8s.gcr.io/kube-proxy:v1.18.3, and after I execute docker load -i offline image file, the name of kube-proxy is Loaded image: k8s.gcr .io/kube-proxy-amd6

[2020-06-03 02:38] 871690991 commented on #91710
/sig api-machinery

[2020-06-03 02:40] lvxiaohu commented on #91711
/sig cluster-lifecycle

[2020-06-03 02:44] #90185 closed

[2020-06-03 02:51] BenTheElder commented on #91579
Minor note: the rollback wasn't a direct rollback because it was done due to an issue known to be in 1.4 and not in 1.3 that does not affect CI at all (and honestly the host OS [gLinux] is at fault for that one).

[2020-06-03 02:52] warmchang commented on #87615
Hi, the default server-side https streams is 1000 in kube-apiserver, this is equal to the client's value.
https://github.com/kubernetes/kubernetes/blob/ae1103726f9aea1f9bbad1b215edfa47e0747dce/staging/src/k8s.io/apiserver/pkg/server/options/recommended.go#L62

[2020-06-03 02:53] Kxrr commented on #90210
non-capturing group still not working on

[code]

[2020-06-03 03:01] cofyc commented on #83323
Thanks for the suggestion!

I'll draft a KEP for prioritizing nodes based on volume capacity.

At first, we can resolve this issue by prioritizing nodes based on volume capacity, trying to find PVs as small PV as possible.

In the future, we can prioritize nodes based on [total available capacity](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/1472-storage-capacity-trackin

[2020-06-03 03:02] jqmichael commented on #91709
Agreed.

Was discussing this with @lavalamp at
https://github.com/kubernetes/kubernetes/pull/91435#discussion_r433000161

[2020-06-03 03:15] mars1024 commented on #67019
ping @dionysius , any updates?

[2020-06-03 03:27] pacoxu commented on #91652
Do you mean something like RandomizedDelaySec?

Here is a workaround:   run command like sleep $(shuf -i 10-20 -n 1) before your job cmd

[code]

[2020-06-03 03:41] MikeSpreitzer commented on #89880
The documentation on Queue::Pop explicitly notes that the lock is held while the popped accumulator is processed.  This is tolerable because informers process the accumulator quickly.  You can see the specification of informer behavior at https://github.com/kubernetes/kubernetes/blob/440b5c2fbc82f4bba3f5d3653ffbd77dec481aa0/staging/src/k8s.io/client-go/tools/cache/shared_informer.go#L34-L183 and t

[2020-06-03 04:00] pacoxu commented on #91653
I have met this issue once when I mistakely delete all my secrets for backup.

[code]

As I backuped those secrets, I restore these secrets and apiserver works now.
[code]

Please check if there are something missing in your cluster

[2020-06-03 04:10] enj commented on #91653
I believe you have deleted all data that is "greater than or equal to" `/registry/secrets/default/ceph-retain-bucket`.  The `Token has been invalidated` error message refers to SA tokens that are no longer valid because the underlying secret or pod has been deleted.

[code]

[2020-06-03 04:30] 13567436138 opened #91714 "rollout history change cause not right"
**What happened**:
1run  kubectl set image deploy mysql-deploy mysql=mysql：5.7 --record
2run kubectl rollout history deploy mysql-deployment
3run  kubectl set image deploy mysql-deploy mysql=mysql：5.6
4run kubectl rollout history deploy mysql-deployment
[code]
11 is wrong，not 5.7，and the command doesnot has --record
**What you expected to happen**:

**How to reproduce it (as minimally and precisel

[2020-06-03 04:32] 13567436138 opened #91715 "rollout history size is not wright"
**What happened**:
[code]
the deployment has set   revisionHistoryLimit: 10
but the history is always two
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):

[2020-06-03 04:36] #86267 closed

[2020-06-03 07:12] mitter1989 commented on #44273
facing this on 1.14.10-gke.36

[2020-06-03 07:21] sstoner commented on #91159
v1.17.5 has the same problems

[2020-06-03 07:37] katarzyna-z commented on #89859
@BenTheElder To test if cAdvisor correctly exposes CPU topology, number of sockets, number of logical and physical cores, take code from https://github.com/google/cadvisor/pull/2567 then:
[code]
cAdvisor runs on http://localhost:8080/, on http://localhost:8080/api/v2.0/machine you check if cAdvisor correctly reads information.

[2020-06-03 07:42] grovecai opened #91720 "Spread to at least 3 failure-domains"
**What would you like to be added**:
I want to add mininalFailureDomainsNumber for pod-topology-spread-constraints feature.
Take nodes as example, mininalFailureDomainsNumber will work in this way :
1.If mininalFailureDomainsNumber == 3 and only 2 nodes in k8s, will not schedule
2.If mininalFailureDomainsNumber == 3 and only 3 nodes in k8s, and if one node fail, pods in failed node will not automa

[2020-06-03 07:44] grovecai commented on #91720
/sig scheduling

[2020-06-03 09:03] brancz commented on #58638
/remove-lifecycle stale

[2020-06-03 09:10] porridge opened #91724 "plugins are ignored if a `--kubeconfig` is specified"
/sig cli
/kind bug

**What happened**:

I have a `kubectl-foo` plugin.
I ran `kubectl --kubeconfig=/dev/null foo`.
Following error was printed:
[code]

**What you expected to happen**:

Expected `kubectl-foo` to be invoked.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

My gut feeling is that cobra `Command.Find`, when given a flag

[2020-06-03 09:14] porridge commented on #91724
I thought I tested it with `foo --kubeconfig...` and it failed as well. But no.
Duplicate of #77666 :man_facepalming:

[2020-06-03 09:14] #91724 closed

[2020-06-03 09:25] pohly commented on #69608
/remove-lifecycle stale

[2020-06-03 09:25] dionysius commented on #67019
Well, we use the env to write the hostname additionally and on the entrypoint we set the hostname if the env was provided. This forces to use a selfmade container, write the hostname twice and this shouldn't be needed. We use a CRI similiar to fraki so the technical requirements on the host are a bit different versus direct docker or any other CRI implementation.

And that's my main point here: If

[2020-06-03 10:21] gadinaor commented on #91507
@joelsmith re: "How do I mitigate this vulnerability?"
the use of TLS partially address the weaknesses this attack introduce.
Denial of service would still be an issue even if TLS is used.

[2020-06-03 10:34] kaivalya97 commented on #91715
Did you delete any of the old replica sets? This is from the documentation

[code]
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#revision-history-limit

[2020-06-03 10:56] yuzhiquan commented on #91633
/cc
/cc @serathius

[2020-06-03 11:09] walec51 commented on #28272
this is a problem for almost every not tiny postgres deployment as it is normal to set `shared_buffers` in the gigabytes in production: https://www.postgresql.org/docs/12/runtime-config-resource.html#GUC-SHARED-BUFFERS

@LzyRapx workaround https://github.com/kubernetes/kubernetes/issues/28272#issuecomment-555920416 is commonly used, even got implemented as a feature in zalandos operator

it would

[2020-06-03 11:31] serathius commented on #91633
Definitely it would be good to have cooperation between SIG Instrumentation and Scheduling to collect set requirements for structured logging.
Defining log semantics (aka log schema) is definitely on our plate (was part of original proposal, but was postponed to focus on migration).
As for separating log streams for scheduling decisions, it would be interesting to use more https://github.com/go-lo

[2020-06-03 11:32] Andy546 commented on #72026
May I ask for more details? Can you give me some direct steps to solve this problem? Appreciate it

[2020-06-03 11:50] luxas commented on #89368
FWIW; I also hit this on v1.18.3. In my case it seems like I got etcd into a state of unresponsiveness that lasted minutes, which possibly triggered the timeout panic in the apiserver.

[2020-06-03 12:06] roeera commented on #60140
Hi, found nice solution called "devspace" (https://github.com/devspace-cloud/devspace)
using this tool you can run for example :
devspace sync --pod=<your pod name> --container-path=<path> --download-only
for me it worked great !

[2020-06-03 12:12] xmath279 commented on #88698
It seems to be properly working when using Egress Network Policies, but I wouldn't consider this issue resolved as the loadBalancerSourceRanges directive does not work properly.

[2020-06-03 12:52] ghost opened #91727 "K8s audit logs - How to extract from which pod a request was made to kube-api server"
I have a kubernetes cluster (kubeadm) and i'm using exploring the requests made by a pod (for example by the default service account inside a pod) to the API server. The audit logs notify me that the request came from the IP of the kube-proxy. Is there a way to show exactly which pod made the request?

Thank you !

[2020-06-03 12:53] nysan opened #91728 "kubernetes supporting multiple VRF:s"
**What would you like to be added**:
In my setup, I'm using metalLB+calico.

The netdev topology on the metal OS is:
[code]
eth0.2, eth0.3, eth1.23 and eth1.24 are different L3 domains, and do not share a default route towards external clients. i.e. traffic responses need to be routed back to the interface where it came in.

To support above, the below items have been modified.

* For ingress traf

[2020-06-03 13:04] itsecforu commented on #74850
@lucian521 try this http://itisgood.ru/2019/11/25/ispravljaem-oshibku-kubernetes-node-v-statuse-false/

[2020-06-03 13:15] soltysh commented on #91633
@jherrera123 I'd suggest syncing with @damemi on this, since he initiated this bug to start working on it, as far as I can tell.

[2020-06-03 13:25] #88718 closed

[2020-06-03 13:33] soltysh commented on #89432
The presence of stdout or stderr logs is unrelated to cronjob or job controller, but rather is dependant on the application running in a particular image. I'd suggest trying to run your image directly as a pod, using `kubectl run`, for example, and verifying whether you're able to see both stdout and stderr from the app itself. If you don't there are two possibilities:
1. your application is not p

[2020-06-03 13:33] #89432 closed

[2020-06-03 13:38] sleshchenko opened #91732 "Propagate pods labels to pods/exec subresource to filter objects on webhooks config side"
**What would you like to be added**:
Propagate pods labels to pods/exec subresource to filter objects on webhooks config side.

**Why is this needed**:
Hello, guys. I'm from Eclipse Che team.

The idea is pretty general:
there is an ability to match objects(except subresources) by labels for webhook server:
[code]
 and it's quite logical to propagate pods/exec labels from target pod to subresource

[2020-06-03 13:42] alculquicondor commented on #88919
@angao I see you sent kubernetes-sigs/reference-docs#156

We need the script, not just the instructions. But we need the consensus of sig docs as described here https://github.com/kubernetes-sigs/reference-docs/issues/138#issuecomment-605467979

Did you do that?

[2020-06-03 13:42] sleshchenko commented on #91732
/sig api-machinery

[2020-06-03 13:43] sleshchenko commented on #91732
^ Sorry If I chose the wrong sig and feel free to assign the right one.

[2020-06-03 13:46] batmac commented on #79523
any update on this pretty please ?

[2020-06-03 13:51] soltysh commented on #89630
There are two different approaches to how we can handle this situation. As described here https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy pods are treated differently based on the restart policy and job controller needs to react accordingly. For the restart policy Never it's simple, we count the failed pods - if we're at backofflimit we're done. It can happen as @y

[2020-06-03 13:51] #89630 closed

[2020-06-03 13:54] soltysh commented on #90124
Whoever gets to work on this make sure to reach out to me for review & approval, pls.

[2020-06-03 14:01] joelsmith commented on #91507
@gadinaor, you are right. When we propose mitigations in these advisories, some may not eliminate the issue. Some may only reduce the severity, as in the case of TLS verification. The best approach is to update the CNI plugin now to a version that is not affected.

[2020-06-03 14:05] soltysh commented on #91235
This is mentioned in https://github.com/kubernetes/kubernetes/issues/28486, please move the discussion over there. It is a known limitation :sweat:
/close

[2020-06-03 14:05] #91235 closed

[2020-06-03 14:05] soltysh commented on #90290
This is known issue being discussed in https://github.com/kubernetes/kubernetes/issues/28486. Please move all discussion over there. Closing this as a duplicate.
/close

[2020-06-03 14:06] #90290 closed

[2020-06-03 14:17] csb1582 commented on #91493
bump

[2020-06-03 14:45] FlorianLudwig commented on #36304
/remove-lifecycle

[2020-06-03 14:47] liggitt commented on #91579
kind reverted to v1.3.3-14-g449e9269 in https://github.com/kubernetes-sigs/kind/pull/1649 around 2am

will watch https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=kind&test=Pod%20Container%20Status%20should%20never%20report%20success%20for%20a%20pending%20container to see if signal clears up

[2020-06-03 14:59] liggitt commented on #91579
https://prow.k8s.io/?job=pull-kubernetes-e2e-kind looks greener already:

`Success rate over time: 3h: 75%, 12h: 53%, 48h: 36%`

![image](https://user-images.githubusercontent.com/980082/83653057-5269f600-a589-11ea-9697-4aa29647a105.png)

[2020-06-03 15:02] pre commented on #36304
/remove-lifecycle rotten

[2020-06-03 15:03] rikatz commented on #91331
Just a question, are you running Calico with VXLAN or in the default mode? Thank you

[2020-06-03 15:14] HankTheCrank commented on #72026
Let's see what I remember (I need to document this better).
Here's the site I was using to build: [https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/]

The first step to be concerned with is this: [https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/]

Step 3, "Generate the certificate authority":
_If you do not alr

[2020-06-03 15:28] hasheddan commented on #90761
@neolit123 I am seeing some pretty regular failures here again. Could you take a look?

/reopen

[2020-06-03 15:32] YassineHk commented on #74249
in my case solved by disabling swap partition

and delete .kube dir

[2020-06-03 15:37] hasheddan commented on #90955
/remove-sig storage
/sig network

@kubernetes/sig-network-misc can someone take a look at most recent failure of `[sig-network] Networking Granular Checks: Services should update nodePort: udp [Slow]`

[2020-06-03 15:39] #75441 closed

[2020-06-03 15:41] hasheddan commented on #89262
@claudiubelu looks like there is an issue on the infrastructure side in last few runs. Could you take a look?

[code]

[2020-06-03 16:19] liggitt commented on #91579
This can probably be closed out, but should spawn an issue for containerd.

[2020-06-03 16:24] bowei commented on #90955
/assign

[2020-06-03 16:37] jsafrane opened #91736 "Can't run two pods with read-only iSCSI volumes"
**What happened**:
Running two pods that use the same iSCSI volume, one of them fails with:

[code]

**What you expected to happen**:
Both pods should be running

**Anything else we need to know?**:
It's caused by iscsi volume plugin persiting iSCSI settings into the mount directory itself (e.g. `/var/lib/kubelet/plugins/kubernetes.io/iscsi/iface-default/127.0.0.1:3260-iqn.2003-01.io.k8s:jsafrane-

[2020-06-03 16:37] jsafrane commented on #91736
/sig storage
/assign
/priority impotant-soon

[2020-06-03 16:37] jsafrane commented on #91736
/priority important-soon

[2020-06-03 16:38] jsafrane commented on #91736
Our e2e did not catch this, because they always create only one pod when testing read-only volumes.

[2020-06-03 16:47] cmluciano commented on #90210
@Kxrr This will be fixed in 1.19.

[2020-06-03 16:51] bowei commented on #90955
This looks like a test flake (which is not good in general), but looking at the history of the test, I 'm not seeing any failures in the past.

[2020-06-03 16:56] tylerauerbeck commented on #82905
Has there been any progress on this?

[2020-06-03 17:07] boddumanohar commented on #85155
/remove-lifecycle stale

[2020-06-03 17:31] antonu17 commented on #40244
So confusing.

EKS v1.15
Service exposes 2 ports: HTTP (XXXXX) -> POD's 8080 and HTTPS (YYYYY) -> POD's 8443. I want to have the following ELB listeners configuration:

[code]

[code]

This creates:
[code]
HTTPS listener is correct, but HTTP is TCP (I need exactly HTTP listener because it has different ELB logs format)

Tried to change `service.beta.kubernetes.io/aws-load-balancer-backend-protocol

[2020-06-03 17:56] yanivpaz commented on #73269
hitting this issue as well .
what is the recommended solution ?
I saw https://github.com/meeramurali/Custom-Kubernetes-Scheduler

[2020-06-03 18:21] smarterclayton commented on #89163
Technically that's a client problem, and I may have been premature in
saying we shouldn't just have the stream protocol.  clients can buffer
(that's all SPDY is doing, modulo some backpressure).  It's complicated -
taking on backpressure and buffering is not for the faint of heart.
Alternatively, we just say "one connection per port is fine" and we have to
measure impact.

On Tue, Jun 2, 2020 at 7

[2020-06-03 18:22] iamkirkbater commented on #84430
It's not a bug in k8s, it's intended behavior.  Between the time that you get and attempt to update a resource, something else has updated the resource, and the version you have is "stale" and it refuses to let you update it.

So here's an example timeline.

Your operator gets a reconcile request.  Your operator takes about 30 seconds to run from start to finish.  For an example's sake, let's say

[2020-06-03 18:26] hasheddan opened #91739 "[Failing Test] Conformance - OpenStack (ci-cloud-provider-openstack-acceptance-test-e2e-conformance)"
**Which jobs are failing**:

`Conformance - OpenStack (ci-cloud-provider-openstack-acceptance-test-e2e-conformance)`

**Which test(s) are failing**:

`[sig-scheduling] SchedulerPreemption [Serial] validates basic preemption works [Conformance]`

**Since when has it been failing**:

`06-03-20 07:08 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#Conformance%20-%20Open

[2020-06-03 18:33] hasheddan commented on #91739
@spiffxp I see that in another test we skip if we hit this case: https://github.com/kubernetes/kubernetes/blob/bb11561ace51b205e89c33813225142643b2fffc/test/e2e/scheduling/preemption.go#L244

Could this be done instead of fail in the test we are seeing here: https://github.com/kubernetes/kubernetes/blob/bb11561ace51b205e89c33813225142643b2fffc/test/e2e/scheduling/preemption.go#L159

[2020-06-03 18:35] damemi commented on #91633
Thanks for the discussion so far everyone. I wasn't totally aware of the structured logging KEP, but I think this does align well with it. I see that there are even sections of the scheduler that have already been identified as good spots to add structured logging.

Like @Huang-Wei said, in addition to logging identifiers it's important that we document consistent log levels so users can know exac

[2020-06-03 18:39] elweb9858 commented on #91550
I believe I am experiencing this flake in https://github.com/kubernetes/kubernetes/pull/91701. Logs: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91701/pull-kubernetes-e2e-kind/1268234852159721472

[2020-06-03 18:39] thavlik commented on #88183
I was able to "fix" go.mod on my side with https://github.com/kubernetes/client-go/issues/741#issuecomment-603440039 (`go get -u k8s.io/client-go@v0.17.2 github.com/googleapis/gnostic@v0.3.1 ./...`)

Hopefully this is fixed soon in upstream.

Thanks

[2020-06-03 18:45] BenTheElder commented on #91550
this particular excessive flake was resolved by a containerd rollback
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e-kind&test=Pods%20Extended

[2020-06-03 18:49] BenTheElder commented on #91550
/triage duplicate
https://github.com/kubernetes/kubernetes/issues/91579
/close

[2020-06-03 18:49] #91550 closed

[2020-06-03 18:50] BenTheElder commented on #91711
unfortunately you have to re-tag the images yourself, when you build with "quick" we only build for a single architecture and that architecture is in the image name, for the real releases the images are tagged against a multi-arch manifest

cc @neolit123

[2020-06-03 18:52] BenTheElder commented on #91657
I'm mildly interested in having the kind presubmits do this.
we'd either have to get the tag working under bazel or migrate off of bazel and implement caching for that.

[2020-06-03 19:10] liggitt commented on #88183
this dependency is updated in kubernetes/kubernetes#89704 and kubernetes/kube-openapi#189, targeting Kubernetes 1.19

[2020-06-03 19:52] brianpursley commented on #90763
@MushuEE sure. I probably should have provided more specific examples.

The main problem is the cmd/kubeadm/test directory.

It seems the tests in that folder are not really **unit** tests because they require a KUBEADM_PATH variable to be set in order to run and will actually call the kubeadm executable.

[code]

If you just to `go test ./...` from the project root, it will try to run these tests

[2020-06-03 19:53] soltysh commented on #90551
I'm going to close this as a duplicate of https://github.com/kubernetes/kubernetes/issues/90550. Let's continue having the discussion there.
/close

[2020-06-03 19:54] #90551 closed

[2020-06-03 19:55] liggitt commented on #90763
I'd recommend opening a bug against those tests in particular

[2020-06-03 19:56] soltysh commented on #90550
The important thing is to create the first job and immediately remove it, and re-create it. This will cause the 2nd job to eventually reached the failed status, but only because the pod finished, not because the `activeDeadlineSeconds` was reached. This is clear from the status I got here:
[code]
where you clearly see `succeeded: 1`, even the job has failed with `DeadlineExceeded` set.

[2020-06-03 19:56] soltysh commented on #90550
/assign

[2020-06-03 19:56] brianpursley commented on #90763
OK, I can do that.  Makes sense to move them to integration probably, or remove the dependencies that cause them to fail.

[2020-06-03 19:59] isehgu commented on #91023
Already posted in the runc repo. But figure I post it here as well. We are also experiencing the same thing with csi-rbd plugin. Found @chrischdi thread, and was able to delete the extra mounts in order for kubelet to come up. We are coreos -- 4.19.106 (Coreos 2345.3.0).
The extra mounts weren't with the string /run/containerd/. They aren't uniform neither.

[2020-06-03 20:02] soltysh commented on #90550
I'm closing this one in favor of https://github.com/kubernetes/kubernetes/issues/90553 since that one is exactly the same and there's already someone working on it.
/close

[2020-06-03 20:03] #90550 closed

[2020-06-03 20:11] svanschalkwyk commented on #44165
Please reopen this issue.
V 1.18.0

[2020-06-03 20:15] brianpursley opened #91740 "Kubeadm tests fail when run using go test ./..."
**What happened**:
When I do `go test ./...` from the kubernetes root, it fails because the tests in [cmd/kubeadm/test](https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm/test) have external dependencies.  KUBEADM_PATH is required for example.
[code]

**What you expected to happen**:
The [Kubernetes Testing Guide](https://github.com/kubernetes/community/blob/master/contributors/devel

[2020-06-03 20:16] brianpursley commented on #90763
Closing this issue in favor of fixing the problem in the tests.
New issue is https://github.com/kubernetes/kubernetes/issues/91740

[2020-06-03 20:19] brianpursley commented on #91740
/sig cluster-lifecycle
/area kubeadm

[2020-06-03 21:29] rikatz commented on #91331
@wk60807430 Need some further information:

* Is kube-proxy and flannel running as a container or as a binary inside your cluster?
* Can you please provide the output of a ``iptables -L -n -v``? Let's check if you got the same rules as me here.
* Also, ``ipvsadm -L -n`` in the source node and the destination node to check if the ipvs rules are created correctly

From my first test, when using kube

[2020-06-03 21:39] krdhruva commented on #91698
Thanks @liggitt to look into the issue.

I decoded request to subject access review structure of k8s.io/api/authorization/v1 package. Decoding it to structure of k8s.io/api/authorization/v1beta1 fails with error EOF.

[2020-06-03 21:48] liggitt commented on #91698
Decoding an incoming v1beta1 request to the v1 struct is not valid. You need to decode the incoming request to the proper version.

[2020-06-03 22:17] ZhiFeng1993 commented on #91641
@bsdnet I don't think so. It's just indicating that the service can't be started at localhost at port 8080(default), but it doesn't necessarily mean that the failure was caused by kubeproxy. So I think a generic 'service start failure' is accurate.

[2020-06-03 22:26] gadinaor commented on #91507
@joelsmith - thanks - I completely agree with you that updating the vulnerable components is the best approach - I believe that having a note/disclaimer that capture this limitation would help to prevent a false sense of security - I am thinking of Istio users with mTLS enabled that would think that their systems are not vulnerable and skip the update.

[2020-06-03 22:45] oomichi commented on #86678
Now I cannot take time for this issue at this time.
Feel free to re-open this if someone can take a look at this.

[2020-06-03 22:45] #86678 closed

[2020-06-03 22:55] rikatz commented on #91331
/remove-triage unresolved

[2020-06-03 23:26] Huang-Wei commented on #85677
/remove-lifecycle stale

[2020-06-03 23:35] jherrera123 commented on #90679
I ran some more tests and found out in a fresh kind cluster, there are 4 system pods that get assigned at random. These system pods affect the allocation load and affect the score in the Least Allocation Plugin.

Because of these, we can have the s1 and doesnotexist pods be assigned to the same pod consistently. The way to tell is by increasing the logging to v=10, checking the Plugin Scores on a

[2020-06-03 23:36] jherrera123 commented on #90679
[code]

[2020-06-03 23:46] oomichi commented on #88996
Still facing this issue as https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/91741/pull-kubernetes-e2e-kind/1268313871475544064
[code]

/cc @oomichi

[2020-06-04 00:24] Huang-Wei commented on #85677
I believe it's a bug as in old logic, e.g., v1.18.3, if the Pod (with nominatedNodeName set) cannot be scheduled and also preemption doesn't help (@denkensk nil potentialNodes is a corner case, it's more common the pod can't fit on all potentialNodes), it won't hit L413:

https://github.com/kubernetes/kubernetes/blob/2e7996e3e2712684bc73f0dec0200d64eec7fe40/pkg/scheduler/scheduler.go#L404-L413

th

[2020-06-04 00:32] ZhiFeng1993 commented on #80177
/unassign

[2020-06-04 01:01] pretendhigh commented on #91653
A configmap disappered on the same time just when I deleted /registry/secrets/default/ceph-retain-bucket in the etcd. Then I restarted etcd, kube-apiserver, controller-manager,scheduler-manager, authentication error happened in controller-manager and scheduler-manager too. And pods controlled by deployment could not restart when I deleted them. I tried to recreate ca.pem, admin.pem, etcd.pem, kube

[2020-06-04 01:09] pretendhigh commented on #91653
I tried to delete a configmaps and a secret but it got stucked. So I deleted /registry/secrets/default/ceph-retain-bucket in the etcd. Then the configmap disappeared too and the authentication error appeared.  I tried to recreate ca.pem, admin.pem, etcd.pem, kubernetes.pem, kube-proxy.pem, token.csv, bootstrap.kubeconifg, kube-proxy.kubecnfig. But it wouldn't help when I restarted the k8s cluster.

[2020-06-04 01:19] FrelDX opened #91751 "Connect pod through SSH protocol"
![image](https://user-images.githubusercontent.com/32826879/83704346-75a5ab80-a644-11ea-84be-ad0a7530f87e.png)
https://github.com/FrelDX/kube-console-on-ssh

[2020-06-04 01:34] Huang-Wei commented on #90679
Thanks @jherrera123 for the investigation. If it's the case, I think we can close this issue. @damemi WDYT?

[2020-06-04 01:42] yongjie-gong opened #91752 "kubelet didnt' set the correct folder owner requested by volume subPath"
**What happened**:
1) in NFS server, we export volume as like below
   /var/vols/demo2/volume9 *(rw,anonuid=1999,anongid=11999,no_root_squash)
2) Create related PV/PVC
3) Create one pod with subPath.
  containers:
  - name: test1
    volumeMounts:
          name: itom-vol-claim9
          subPath: XXSubpath/hello
   securityContext:
        fsGroup: 11999
        runAsGroup: 11999
        runAsUse

[2020-06-04 01:45] riffling commented on #91752
/sig storage

[2020-06-04 01:46] riffling commented on #91752
/committee storage

[2020-06-04 01:49] caphrim007 commented on #73480
I am seeing this behavior for EKS 1.16. The SG associated with the ELB is not removed due to a failure to remove that SG's entry from the Node SG's ingress list.

[2020-06-04 01:50] tedyu commented on #86017
/remove-lifecycle stale

[2020-06-04 01:56] lvxiaohu commented on #91711
Okay, thank you, I already know how to do it.

[2020-06-04 02:13] pjh commented on #89262
A bug was [introduced](https://github.com/kubernetes/kubernetes/pull/91564#issuecomment-638559327) a couple days ago that is preventing Windows clusters on GCE from starting up. Will try to fix that tomorrow.

[2020-06-04 02:13] jherrera123 commented on #91633
@damemi once we land on a design, I'd be happy to help. It looks like there's a lot to be done in the logging area.

[2020-06-04 02:17] hasheddan commented on #89262
Awesome, thanks @pjh!

[2020-06-04 02:29] kadisi opened #91753 "Timeout does not take effect in the Watch method"
**What would you like to be added**:

Client-go /client has a way to set a context deadline based on a timeout.
Such as LIST and DELETE COLLECTION Method.

However, I find that timeout is not useful in context deadline honored by the transport for the `Watch` method

So for the `Watch` method, do we need to set the context deadline in the future or is it not necessary？

for example：
For `List` met

[2020-06-04 02:29] kadisi commented on #91753
/sig apimachinery

[2020-06-04 02:31] kadisi commented on #91753
/sig api-machinery

[2020-06-04 02:32] kadisi commented on #91753
If it needs to be modified, i can work a patch.

[2020-06-04 02:44] kadisi commented on #91753
cc @deads2k @liggitt

[2020-06-04 03:07] #91711 closed

[2020-06-04 03:10] deitch commented on #44165
/reopen

[2020-06-04 03:40] cofyc opened #91755 ""unbound immediate PersistentVolumeClaims" should be UnschedulableAndUnresolvable error"
when a pod has unbound immediate PersistentVolumeClaims, it's unscheduable and unresolvable as the pod must wait for the PV controller to bind these PVCs. ~~In VolumeBinding plugin, we can return an `UnschedulableAndUnresolvable` error to eliminate unnecessary retries~~ (not right, they have the same effect, but `UnschedulableAndUnresolvable` is more meaningful). Once the PVC(s) are bound, pods wi

[2020-06-04 03:41] cofyc commented on #91755
/sig scheduling

[2020-06-04 03:41] cofyc commented on #91755
/assign
/kind cleanup

[2020-06-04 03:48] kpanus commented on #23864
This feature is also useful for a containerized ftp sever, it also needs to expose a big range of ports for PASV mode.

[2020-06-04 03:59] 13567436138 commented on #91715
I test with create a new deployment.then set image for several times.the history is still two.
the two replicaset switch to each other ,when set image

[2020-06-04 04:03] 13567436138 commented on #91715
I find the reson.when I set image to 5.6,then to 5.7,then to 5.6，will not create a new rs。when I set image to 5.8，it will create rs

[2020-06-04 04:20] #91463 closed

[2020-06-04 04:54] cofyc commented on #91755
cc @msau42

[2020-06-04 05:43] 871690991 commented on #91751
大佬好巧又看到你了

[2020-06-04 05:47] cofyc commented on #91755
/priority awaiting-more-evidence

hi, @ahg-g IIUC, both internal error and unscheduable error will mark the pod unscheduable and put it into the unscheduable queue and will not be retried until it's moved to active/backoff queues again?

https://github.com/kubernetes/kubernetes/blob/5dbe3e308af1598536cda3b785fb05b30505990f/pkg/scheduler/factory.go#L479-L516

The reason we report it ("pod has unbou

[2020-06-04 05:56] liggitt commented on #91653
Deleting data directly from etcd this way is not recommended, since it bypasses apiserver protections. The example authentication errors would have been from any service account in any namespace alphabetically after "default".

Restoring from an etcd backup or recreating the cluster is likely your best option after that.

[2020-06-04 05:56] #91653 closed

[2020-06-04 06:36] prithviramesh commented on #87039
/remove-lifecycle stale

[2020-06-04 06:50] #91698 closed

[2020-06-04 06:54] liggitt commented on #91629
Thanks for the report. Deduplicating against https://github.com/kubernetes/kubernetes/issues/58477 which is tracking the underlying issue, which affects several API fields

[2020-06-04 06:54] #91629 closed

[2020-06-04 07:12] tnozicka commented on #90669
If you have 3 replicas that by definition (hostnetwork+same_port) require 3 nodes and one of the node is down, your deployment is already 1 pod down and to maintain availability it first has to reconcile that pod before continuing the update, otherwise it would be 2 pods down while the default toleration is 1 down. You can tweak it with MaxSurge and MaxUnavailable but I don't see a bug here.

[2020-06-04 07:14] #91728 closed

[2020-06-04 07:27] hkamel opened #91757 "[Failing Test] Conformance- OpenStack (ci-cloud-provider-openstack-acceptance-test-e2e-conformance)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

Jun  3 15:32:47.275: We need at least two pods to be created butall nodes are already heavily utilized, so preemption tests cannot be run
/home/zuul/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/scheduling/preemption.go:159

**Anythi

[2020-06-04 07:42] fankangbest opened #91758 "csi plugin may not be registered when kubelet does cleanupMounts work"
**What happened**:
When kubelet is restarted, the syncStates() will try to reconstruct all volumes. The orphaned volume will be cleaned directly.
The syncStates() is only called once when kubelet restarts.
However, the csi plugin is not registered yet when syncStates() is called. So the clean work is failed due to driver is not found in the list of registered CSI drivers.

**What you expected to h

[2020-06-04 07:44] fankangbest commented on #91758
/sig storage

[2020-06-04 07:57] aojea commented on #91579
/close

This was a tough one :smile:

[2020-06-04 07:57] #91579 closed

[2020-06-04 08:04] serhatcetinkaya commented on #65500
I had the same problem with EKS `v1.16.8-eks-e16311`. The following steps worked for me, maybe it would work for anyone else:
1. find the volume on AWS console
2. attach it to some random machine (without mounting)
3. after the state changes to `in-use` detach it and wait for it to become `available`
4. restart the problematic pod

[2020-06-04 08:17] samof76 commented on #87917
Also notice similar behaviour on EKS 1.15 cluster as well. Experimenting on the KOPS to get more insights.

[2020-06-04 08:41] tedyu commented on #91758
From reconciler.go :
[code]

[2020-06-04 09:18] chestack commented on #83050
same issue, the scenario is node power off and return back with system time early before now

[2020-06-04 09:25] VGerris commented on #6545
Thanks this was exactly what I needed to make things work. It was very hard to understand this from documentation. It also tool some time for the config to apply. Any hints on how to reach the Nodes network (services) from the on prem side? A static route did not seem to be enough.

[2020-06-04 09:27] anderseknert commented on #87369
/remove-lifecycle stale

[2020-06-04 09:39] fankangbest commented on #91758
There is no guarantee that the csi plugin is registered.

[2020-06-04 09:55] kidlj commented on #88574
We encountered the same issue with etcd-3.4.3 after a power cut. The three nodes cluster had two of them failed to recover, with the following message:

[code]

The snap dir of the failed nodes:

[code]

And one of them can recover, but can't make to consensus without one more healthy node.

here's it's log:

[code]

and its snap directory tree:
[code]

[2020-06-04 10:00] chengyu-l commented on #60987
When a Pod which has used PVC is deleted from kubuernetes cluster
we can get a error message repeatedly(Orphaned pod "1f415e-...-4b38"
found, but volume paths are still present on disk) from kubelet log.
this error message is caused by kubelet because it cannot clean the
parent path of targetPath when Pod is deleted from cluster
(targetPath like:
/var/lib/kubelet/pods/9cda187a-7fb3-11ea-80b3-246e9

[2020-06-04 10:07] loburm opened #91765 "Log rotation of kubelet producing garbage for crashlooping containers"
**What happened**:
I have written a simple container that generates a lot of logs (200KB/s) and crashes every two minutes. Exact numbers doesn't matter, the most important that container should generate at least 10MB of logs (default value), before it dies.

After checking /var/log/pods/{pod}/{container} directory of running container I see next picture:

Kubelet is not removing rotated files from

[2020-06-04 10:08] neolit123 commented on #91711
yes, re-tagging is your only option.
kubeadm requires a manifest list without arch in the tag name.

[2020-06-04 10:09] loburm commented on #91765
/sig node
/sig instrumentation
/cc @Random-Liu

[2020-06-04 10:20] kidlj commented on #88574
Since one of the nodes can recover, we add `--force-new-cluster` to it to make a new cluster using its old snaps, and added the other two nodes back.

I'm wondering why it can recover with the same(?) snap db but the other two can't? The recovery process seems to be looking for a`snap.db` file which doesn't exist in any node.

[code]

[2020-06-04 10:39] loburm opened #91767 "Provide option to disable logrotate on /var/log/pods directory"
**What would you like to be added**:
Environment variable to disable logrotate configuration: https://github.com/kubernetes/kubernetes/blob/f01d848c4808bdaaa1378511c343a63a650f8cf1/cluster/gce/gci/configure-helper.sh#L388

**Why is this needed**:
Starting from 1.11 CRIContainerLogRotation feature is enabled by default. Second one by default performs more often checks then logrotate, so it doesn't

[2020-06-04 11:13] xuchenCN opened #91768 "Can't access service from other nodes via cluster-ip in pod"
**What happened**:
Can't access service from other node via cluster-ip in the Pod
[code]

**What you expected to happen**:

Can access service in the cluster

**How to reproduce it (as minimally and precisely as possible)**:
Install kubernetes and calico, apply services and access the service via cluster-ip and port in the Pod

**Anything else we need to know?**:

**Environment**:
- Kubernetes ver

[2020-06-04 11:39] cardil opened #91770 "Provide a way to specify container image aliases"
**What would you like to be added**:

I propose to add an API that users can use to specify container image aliases. Using it will be optional, but if specified, K8s can use alias if for some reasons base image retrieval is failing.

I propose either to add `ImageAliases` field:

[code]
Or change type of `Image` field to be mixin of array and string, similar to `intstr.IntOrString` type:

[code]

[2020-06-04 11:41] cardil commented on #91770
/sig api-machinery

[2020-06-04 11:52] dbaumgarten opened #91771 "Volumes of deleted pods do not get detached"
**What happened**: I have a stateful-set with 3 pods. Each pod has a persistent volume. When one of the pods is deleted (manually, by scaling down, via eviction etc.) the persistent volume of the pod stays attached to the node. Once the pod is re-surrected on another node, it gets a MultiAttachError, because the volume is still attached to the old node. After around 7 minutes the volume eventually

[2020-06-04 12:08] dbaumgarten commented on #91771
/sig storage

[2020-06-04 12:19] ahg-g commented on #91755
Yes, an internal error will not cause preemption logic to execute, which is similar to UnschedulableAndUnresolvable.

A non ```Success``` PreFilter gets converted to Error: https://github.com/kubernetes/kubernetes/blob/5dbe3e308af1598536cda3b785fb05b30505990f/pkg/scheduler/core/generic_scheduler.go#L398

we should change that and support proper rejection of the pod at PreFilter, but for now, lets

[2020-06-04 12:29] chrischdi commented on #91023
Hi @isehgu ,

The "string" (in my case `/run/containerd`) should depend on the underlying container runtime you are using.

My current assumption is: that this problem could only occur on hostPath mounts having set `mountPropagation: Bidirectional`. However if I'm right, csi would not work without it.

[2020-06-04 12:31] xuchenCN commented on #91768
/sig network

[2020-06-04 12:33] vitoantonio commented on #76146
та же проблема

[2020-06-04 12:50] hasheddan commented on #91757
Duplicate of https://github.com/kubernetes/kubernetes/issues/91739

/close

[2020-06-04 12:50] #91757 closed

[2020-06-04 12:54] tedyu commented on #91765
Have you looked at #90334 ?
ref: #91211

[2020-06-04 13:16] elrok123 commented on #51835
Correct, but the point is that `--grace-period=0` forces the delete to happen :) not sure why your comment is relevant :/

[2020-06-04 13:30] damemi commented on #90679
Affinity is a filter plugin, so the undesired node shouldn't even be scored (since filters are run first).

[2020-06-04 13:53] galaktipus commented on #91507
Any relevant commit for the issue described in CVE-2020-13597?
The commits in this thread just describe a jump of a version.

[2020-06-04 13:55] jkaniuk opened #91774 "[Flaky test] [sig-network] Networking Granular Checks: Services should update nodePort: udp"
**Which jobs are flaking**:
gce-master-scale-correctness
**Which test(s) are flaking**:
[sig-network] Networking Granular Checks: Services should update nodePort: udp [Slow]
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1268150882529185794
**R

[2020-06-04 13:58] jkaniuk commented on #91774
/sig network

[2020-06-04 14:15] kidlj commented on #88574
Kindly ping @gyuho @jingyih

[2020-06-04 14:15] neolit123 commented on #90761
the job is taking more than 40 minutes.

so this is related to:
https://github.com/kubernetes/kubernetes/issues/90761#issuecomment-630287727

[2020-06-04 14:43] cofyc commented on #91755
created a PR for this: https://github.com/kubernetes/kubernetes/pull/91775

I found that the overall performance can be improved if we pre-check pod PVCs in the PreFilter phase. In the old scheduler, `podUsePVCs` and `SchedulerBinder.getPodVolumes` are called for every node in the predicate phase, which is unnecessary.

[2020-06-04 15:26] hmeerlo commented on #69696
Why o why doesn't Google just give us access to the autoscaler logs? This is a really big issue, wasting lots of money this way

[2020-06-04 15:53] Huang-Wei commented on #90679
Nope. As I explained in https://github.com/kubernetes/kubernetes/issues/90679#issuecomment-625589122, both nodes are desired nodes.

[2020-06-04 16:05] den-is commented on #89898
I'm getting same issue.
Couple Nginx+PHP Pods running on huge instances in parallel with couple other small applications.
These are staging apps+nodes without constant traffic.
I constantly receive notification that these Nginx+PHP app has restarted... specifically Nginx container of these Pods.
At the same time other apps running in the same namespace, nodes never restart.
[code]

Liveness on an

[2020-06-04 16:38] damemi commented on #90679
@Huang-Wei sorry, I should have clarified that when I reported this, I was working with the assumption that the one node was undesired (so that's what I was referring to in https://github.com/kubernetes/kubernetes/issues/90679#issuecomment-638848408). I think as you've shown this is the expected behavior. Has this always been the behavior?

[2020-06-04 17:04] neolit123 commented on #91740
hello, i'm having deja-vu on this topic but i may have discussed it with someone else and not you @brianpursley ?

this will not work.
[code]

you have to do:
[code]

as you may have figured out, `cmd/kubeadm/test` contains integration tests that should not be run run without the required env vars.

this should not be fixed, as the integration test needs a binary.
also we should not move the kubea

[2020-06-04 17:06] neolit123 commented on #91727
/sig instrumentation

[2020-06-04 17:07] neolit123 commented on #91767
/sig cloud-provider
/area provider/gcp

[2020-06-04 17:16] liggitt commented on #91740
I would expect go tests outside the test/integration and test/e2e packages to be unit tests, and to be able to run `go test ./cmd/...`

[2020-06-04 17:17] malozanoff commented on #75262
Hello, does anyone see any problem with this solution? It sounds good to me, at this point i'm inclined to just fork kube-proxy and put this type of solution.

[2020-06-04 17:18] liggitt commented on #91740
/sig testing

[2020-06-04 17:19] brianpursley commented on #91740
@neolit123 I think we did probably discuss in slack.

I opened an issue to remove that from the docs, but the question was raised why don't we just fix the problem since it just seems to be this one subdirectory that is the problem.

Can these tests be moved to the integration folder and if so would that fix the issue?

[2020-06-04 17:21] neolit123 commented on #91740
this has been the case for while now (possibly 10+ releases) at least, but if sig-testing and others are fine with this we can extract the `./cmd/kubeadm/test` to somewhere in `/test/integration/`.

PRs welcome too, please.

[2020-06-04 17:21] liggitt commented on #91740
I would also accept skipping the tests if KUBEADM_PATH is unset rather than panicing

[2020-06-04 17:28] alculquicondor commented on #91340
/assign
I'll look at this tmr

[2020-06-04 17:33] damemi commented on #91340
In both cases, it sounds like restarting the scheduler fixes the problem. Possibly something we're missing in cache management then?

[2020-06-04 17:45] bowei commented on #48938
/assign bowei

[2020-06-04 17:46] ingvagabund opened #91782 "Scheduler: remove dependency on pkg/apis/core/v1/helper"
As part of reducing dependency on the main k8s.io/kubernetes project (see https://github.com/kubernetes/kubernetes/issues/89930) and allowing the scheduling framework to be eventually moved under staging repo.

The goal here is the remove dependency on `k8s.io/kubernetes/pkg/apis/core/v1/helper` package. The following functions from `k8s.io/kubernetes/pkg/apis/core/v1/helper` are still imported fr

[2020-06-04 17:53] ksubrmnn opened #91783 "Windows cannot resolve targetport name"
**What happened**: Windows nodes do not correctly resolve targetport when it is specified as a name

**What you expected to happen**: Window a kube proxy should select the correct port from the port list in the Service object

**How to reproduce it (as minimally and precisely as possible)**: deploy a ClusterIP service where the targetport is specified as the name of a port and not a port number. L

[2020-06-04 17:53] ksubrmnn commented on #91783
/sig windows

[2020-06-04 17:54] ksubrmnn commented on #91783
@marosset FYI

[2020-06-04 18:00] aranair commented on #51835
I feel that his comment is relevant because the underlying container
(docker or whatever) may still be running and not fully deleted.., The
illusion of it “removed” is a little misleading at times

On Thu, Jun 4, 2020 at 9:16 AM, Conner Stephen McCabe <
notifications@github.com> wrote:

[2020-06-04 18:12] alculquicondor commented on #91340
In you case, what was newer: the daemonset or the node?

[2020-06-04 18:16] ksubrmnn commented on #91783
@JocelynBerrendonner @daschott Can you please assign this issue to someone in core net? This impacted AKS customers. I can explain the fix, it is fairly simple

[2020-06-04 18:24] yuga711 opened #91784 "CSI Attacher tests fail to work with VolumeAttachments informers"
**What happened**:
In the [PR#91307](https://github.com/kubernetes/kubernetes/pull/91307), the csi-attacher tests failed when setup with VolumeAttachement informers

**What you expected to happen**:
Tests should have succeeded (please see the analysis below)

**How to reproduce it (as minimally and precisely as possible)**:
After [PR#91307](https://github.com/kubernetes/kubernetes/pull/91307), in

[2020-06-04 18:26] hh commented on #91640
/assign

[2020-06-04 18:34] daschott commented on #91783
Sure

[2020-06-04 18:35] veeramalla-f5 commented on #91090
Any update on this ?

[2020-06-04 18:52] kertak90 commented on #44665
before execute your first command (kubectl get pods)
initialize kubectl(execute this comand)
sudo kubeadm init --pod-network-cidr=10.244.0.0/16

[2020-06-04 18:56] robscott commented on #91090
Hey @veeramalla-f5, sorry for not giving more context earlier! @cmluciano is working on the Ingress updates for 1.19 and that will include updates to this as well. I believe this is the relevant PR: https://github.com/kubernetes/kubernetes/pull/91268.

[2020-06-04 18:57] AlexEyler commented on #91575
I'm seeing this issue as well, created an issue in https://github.com/kubernetes-sigs/metrics-server/issues/539#issuecomment-637861642 since I couldn't find one created by Brian. Just wanted to share that if anyone else is searching for this issue.

[2020-06-04 19:00] MHBauer commented on #91657
I am interested in getting this all the way through to completion.

I've been mainly looking at the tests for the sig-node testing push, so I might start a bit on my own with making an e2e_node test, but I want to get fully into the depth of the rest of the work as well.

I think I have e2e_node tests running locally with containerd and without docker. I'll look into the PR and see if there is a w

[2020-06-04 19:36] isehgu commented on #91023
For a temporary workaround, we put the following in for kubelet, just so it can come up on its own.
[code]

We are not using the node-allocatable restraint so setting this is ok for us.

[2020-06-04 19:38] youurayy commented on #46861
I can also confirm `helm upgrade` handles the `value` -> `valueRef` change correctly.

[2020-06-04 19:45] Huang-Wei commented on #90679
I think so.

[2020-06-04 19:56] MHBauer commented on #91657
I've managed to get it compiled and running e2e_node tests with

`GOFLAGS='-v -tags=dockerless' make test-e2e-node PARALLELISM=1 TEST_ARGS='--kubelet-flags=--fail-swap-on=false' FOCUS="Legacy:Docker" SKIP=""`

There's a nice error message in the PR, but it isn't surfaced, so I'm making a PR for that.

[2020-06-04 19:59] ingvagabund commented on #91782
Additionally:
- `GetPersistentVolumeClaimClass`:
  - kubernetes org: https://github.com/search?q=org%3Akubernetes+GetPersistentVolumeClaimClass&type=Code (5 times used, 3 times defined)
  - kubernetes-sigs org: https://github.com/search?q=org%3Akubernetes-sigs+GetPersistentVolumeClaimClass&type=Code (3 times used, 0 times defined)
- `HugePageResourceName`:
  - kubernetes org: https://github.com/se

[2020-06-04 20:06] #79175 closed

[2020-06-04 20:35] MHBauer commented on #91657
Do the containerd tests use docker at all?
Is it as simple as adding
[code]
to some of the existing configuration?

[2020-06-04 21:14] verult commented on #67972
All concerns are handled in the latest iteration of the plugin manager!

*Reconsider driver map locking after plugin unregistration is implemented:* Synchronization is now implemented in the CSI driver store abstraction with a RWLock, which resolves the concern. https://github.com/kubernetes/kubernetes/blob/d6b42f0049f8e4cf0ce3a726a4d48077bcc4715a/pkg/volume/csi/csi_drivers_store.go#L33

*Initiali

[2020-06-04 21:14] #67972 closed

[2020-06-04 22:22] brianpursley commented on #91740
I'll take it and see what I can come up with...

/assign

[2020-06-04 23:02] brendandburns commented on #84081
/lifecycle frozen

[2020-06-04 23:09] #86694 closed

[2020-06-05 00:10] #83639 closed

[2020-06-05 00:23] xing-yang commented on #91702
The PR kubernetes-csi/external-snapshotter#287 is merged.

[2020-06-05 00:24] xing-yang commented on #91702
There are still a couple of other PRs that I want to get merged before cutting a release.  Once a release is cut, I'll update those images.

[2020-06-05 00:28] xing-yang commented on #91702
/assign @xing-yang

[2020-06-05 00:45] dghubble opened #91795 "Static pods never start w Kubelet v1.19.0-alpha.1/beta.2 on OSes with SMT disabled"
**What happened**:

Kubelet's between v1.19.0-alpha.1 and v1.19.0-beta.1 (latest at time of writing) cannot start static pod manifests defined in `--pod-manifest-path=/etc/kubernetes/manifests`. Rolling back to v1.18.3 (or building v1.19.0-alpha.0) restores the ability to create static pods. Observed on Fedora CoreOS nodes, but no on Flatcar Linux nodes.

With Kubelet `-v=10`, this message looks s

[2020-06-05 01:02] dghubble commented on #91795
/sig node

[2020-06-05 01:15] manojchandrabss commented on #91087
sig/cli

[2020-06-05 01:20] BenTheElder commented on #91795
this looks like a dupe of https://github.com/kubernetes/kubernetes/issues/89859

[2020-06-05 01:21] BenTheElder commented on #91795
patch in https://github.com/google/cadvisor/pull/2567

[2020-06-05 01:23] warmchang commented on #87615
@jmcmeek @treytabner, You're right. I misread the code. :+1:

[2020-06-05 01:27] houfangdong opened #91797 "Consultation about kubernetes related work under mips64 architecture"
Consultation about kubernetes related work under mips64 architecture:
Hello, I am very happy to participate in the community. We are maintaining kubernetes on the mips64 architecture. At present, we also have a large number of customers using the mips64 architecture. This year, we are going to submit the adaptation code related to the mips64 architecture to the community to serve more customers wh

[2020-06-05 01:32] BenTheElder commented on #89859
Thank you and sorry for the delay :( -- I'll run tehse now.

[2020-06-05 02:00] wu105 commented on #91374
k8s 1.17.6 provisioned by Rancher using flannel/calico for networking also has the same issue.
Tests in https://kubernetes.io/docs/tutorials/services/source-ip may be good candidates as regression tests to verify the k8s functionality on preserving source IPs.

[2020-06-05 02:36] yan234280533 commented on #91672
we have the same requirements.

[2020-06-05 02:58] fisherxu opened #91800 "Stop the blocked Get() in workqueue, and without shuttingdown the workqueue"
**What would you like to be added**:
Now we have a usage scenario, we need to stop getting items from the workqueue, but without shuttingdown the queue, and the **Add** func can continue to add items to the queue. So at this time, I need a method to stop the blocked Get and to exit the gorouting.

**Why is this needed**:
Add a func like `StopGet` to stop the blocked Get and without shuttingdown th

[2020-06-05 02:59] fisherxu commented on #91800
/sig api-machinery

[2020-06-05 03:03] fisherxu commented on #91800
cc @lavalamp @liggitt @deads2k

[2020-06-05 03:05] liggitt commented on #91800
can you clarify the use case? blocking a single goroutine on the queue doesn't seem very heavyweight

[2020-06-05 03:06] k2huang commented on #91758
Now the logic of cleanup pod mount dirs can be executed only once，even if it failed. Can we handle it together with cleanup orphaned pod dir(cleanupOrphanedPodDirs)?

[2020-06-05 03:24] hzxuzhonghu commented on #91800
We have met a similar issue in istio .  We need to notify the go routine blocking on queue to exit when it lost the leader.

 FYI https://github.com/istio/istio/pull/24427/files.

[2020-06-05 03:25] hzxuzhonghu commented on #91800
Now we added a very hack signal here https://github.com/istio/istio/pull/24427/files#diff-daa5c20e27f7d0cedf85f2b3343b8f86R138

[2020-06-05 03:26] hzxuzhonghu commented on #91800
IMO, this should be a simple feature, without causing compatibility issue.

[2020-06-05 03:32] liggitt commented on #91800
persisting in this state is effectively a memory leak scenario, right? it really seems like the queue should be shut down if there is nothing draining it

[2020-06-05 03:36] dghubble commented on #91795
Great context over there, thanks! Here, I'm not able to kubectl get nodes since this prevents nodes ever registering to kube-apiserver (which doesn't come up since its a static pod).

But it does seem cpu1 is missing the `topology` directory, which cAdvisor seems to now want according to this [comment](https://github.com/kubernetes/kubernetes/issues/89859#issuecomment-637543696).

Fedora CoreOS:

[2020-06-05 03:44] dghubble commented on #89859
@katarzyna-z tried the cAdvisor change and num_cores is 0. https://github.com/kubernetes/kubernetes/issues/91795#issuecomment-639239017

[2020-06-05 03:47] dghubble commented on #91795
This reminds me that Fedora CoreOS disables Simultaneous Multi-Threading which alters the effective core count.

https://github.com/coreos/fedora-coreos-tracker/blob/master/Design.md#automatically-disable-smt-when-needed-to-address-vulnerabilities

[2020-06-05 04:01] dghubble commented on #91795
Actually, it may be simpler. That log line shows the value of `cpuinfo` is `: 0`, but reading over the PR, it looks like its intended to be the entire content of `/proc/cpuinfo`, that's getting lost somehow.

[code]

[code]

[2020-06-05 04:04] ZhiFeng1993 commented on #88848
@jsafrane  `SnapshotCreateTimeout` is 5 minutes. Am I wrong? You said it's 10 minutes.
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L134

[2020-06-05 04:14] #86867 closed

[2020-06-05 04:17] BenTheElder commented on #89859
doesn't seem to work https://github.com/google/cadvisor/pull/2567#issuecomment-639248241

[2020-06-05 04:27] BenTheElder commented on #91795
I have the same failure mode w/ for processor 10 on my corp ("gLinux" ~=
debian testing) workstation with the patch.

On Thu, Jun 4, 2020 at 9:01 PM Dalton Hubble <notifications@github.com>
wrote:

[2020-06-05 04:29] justaugustus commented on #89859
FYI @kubernetes/sig-node-bugs @kubernetes/sig-release

[2020-06-05 04:29] fisherxu commented on #91800
The queue will be reused in other goroutings, so shouldn't be shut down, just stop it here and without affecting other gorouting.

We used workqueue in a server's send queue, when the connection is disconnected, we need to stop Get here and exit this gorouting and and let the new connection corresponding gorouting to do the get.

[2020-06-05 05:00] farah commented on #91655
/assign

[2020-06-05 05:48] salanki commented on #75262
@malozanoff: Please publish a build to Docker Hub if you do, would be very appreciated.

[2020-06-05 05:55] pytimer commented on #90669
Thanks @tnozicka . Use maxSurge and maxUnavailable solve this issue.

[code]

[2020-06-05 06:07] pytimer commented on #90669
/close

[2020-06-05 06:07] #90669 closed

[2020-06-05 06:40] katarzyna-z commented on #89859
@BenTheElder  Could you share content of `/proc/cpuinfo`?

[2020-06-05 06:41] #80452 closed

[2020-06-05 06:42] wangxf1987 opened #91804 "The scope can not be run in the AIO."
In the scheduling-framework, can not be run or testing scope plugin in the AIO env, because have same limit in the code, as blow.
k8s.io/kubernetes/pkg/scheduler/core/generic_scheduler.go +202
[code]

**What would you like to be added**:
remove the limit or add the switch that when use AIO or testing close it.

**Why is this needed**:
improve codes

[2020-06-05 06:42] katarzyna-z commented on #91795
@dghubble Could you share content of `/proc/cpuinfo`?

[2020-06-05 06:44] dghubble commented on #91795
[code]

AWS t3.small

[2020-06-05 06:45] wangxf1987 commented on #91804
This is not a bug, so just take about it.

[2020-06-05 06:51] katarzyna-z commented on #91795
Is it a full content of `/proc/cpuinfo`? Do you have only one cpu in  `/sys/devices/system/cpu`?

[2020-06-05 06:52] xuchenCN commented on #91768
OK, change the ip range from the calico that do not over the host ip resolve it.

[2020-06-05 06:52] #91768 closed

[2020-06-05 06:57] fuweid commented on #91579
I guess that the root cause is about oomkiller.

Based on the log from [containerd log](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/91651/pull-kubernetes-e2e-kind/1267615032988930051/artifacts/logs/kind-worker2/containerd.log)

When that `/bin/false` pod start, but it has been killed.

[code]

The log is interesting because that `StartContainer` does successfully but we received

[2020-06-05 07:00] oscarlofwenhamn commented on #51835
That is indeed my point; using this the `--force` method risks leaving underlying load weighing down your nodes, and doesn't necessarily fix the original problem. In the worst case it's a "If I can't see it it doesn't exist"-fix which can end up being even harder to detect.

Or are your saying that `--grace-period=0` is guaranteed to force the removal of the underlying container, @elrok123?
If tha

[2020-06-05 07:01] AkihiroSuda commented on #91579
https://github.com/opencontainers/runc/pull/2338 might fix the issue, though the PR is originally intended for cgroup2+systemd.

[2020-06-05 07:01] dghubble commented on #91795
Yes, `/proc/cpuinfo` shows one cpu only, but both `/sys/devices/system/node/node0/cpu0` and `/sys/devices/system/node/node0/cpu1`. I believe due to Fedora CoreOS disabling SMT on vulnerable platforms (link above).

[2020-06-05 07:08] pacoxu commented on #91770
how can you make sure all those image aliases are the same image ？
This may cause Inconsistent in multi replica of a deployment.

[2020-06-05 07:10] katarzyna-z commented on #91795
And for `cpu1` the topology directory is missing on this platform?

[2020-06-05 07:10] dghubble commented on #91795
Yes

[2020-06-05 07:12] katarzyna-z commented on #91795
@dghubble Thank you for information, I'll try to provide a fix for this case today.

[2020-06-05 07:18] dbaumgarten commented on #91771
I found out what is going wrong.
I wanted to move the kubelet's root-dir to another volume, but as discussed[here](https://github.com/kubernetes/kubeadm/issues/1478) this is not that easy when you are using kubeadm.
This is why I  thought it was a good idea to bind-mount /var/lib/kubelet do another disk.
Unfortunately the kubelet does a lot of mount-juggeling inside it's root-dir and if that root-

[2020-06-05 07:18] #91771 closed

[2020-06-05 07:34] lixiaobing1 commented on #91770
following issues should be considered:
1、 Can image be retrieved with alias while base image retrieval is failing?
2、Solve the duplication alias to many images.
3、Is it nessesary to set many aliases to one image?

[2020-06-05 07:48] pytimer opened #91806 "Kubemark pre-existing provider can not working"
**What happened**:

Kubemark pre-existing provider can not work now, because of pre-existing code is a bit behind.

**What you expected to happen**:

Kubemark pre-existing provider can work well.

**How to reproduce it (as minimally and precisely as possible)**:

Follow the [kubemark pre-existing document](https://github.com/pytimer/kubernetes/blob/master/test/kubemark/pre-existing/README.md), use

[2020-06-05 08:03] pytimer commented on #91806
/sig scalability

[2020-06-05 08:05] pytimer commented on #91806
/sig scalability

[2020-06-05 08:13] nysan commented on #88220
@thockin "You're masquerading to the node's IP on the way out. If you didn't do that, you would not have this problem."
What do you mean with this ?. I'm assuming by node you are referring to kworker IP.
If calico did not set natOutgoing, the outgoing SNMP trap would retain the Pod SRCIP.

Are you saying that with some external k8s loadbalancer/firewalls, the POD IP/external VIP mappings are propa

[2020-06-05 08:22] jgoeres opened #91808 "How to use PodDisruptionBudgets to do a controlled rollout across multiple StatefulSet (e.g., for a multi-zone Elasticsearch cluster)"
I have the following scenario: I want to set up an Elasticsearch cluster spread across multiple zones, and for that I use multiple statefulsets

Note that is almost the same scenario as described in https://github.com/kubernetes/kubernetes/issues/58146 (not for different node types, though, but for different availability zones). Since that issue has been closed for a while, I decided to create a n

[2020-06-05 08:30] jgoeres commented on #91808
/sig scheduling

[2020-06-05 08:44] Khamphai opened #91809 "Networking: K8s pods unkown host exception to call api outside world"
My application spring boot to develop and use docker image openjdk:11-jdk to build image
previously I use alpine version of the image and ran into problem which sometimes the pod is not able to connect to k8s dns
after changing back to base openjdk:11-jdk version, the dns discovery is resolved, yet sometimes, every 10-20, it takes so long about 14-16 seconds to reach destination (other service wit

[2020-06-05 08:48] jgoeres commented on #91808
The obvious wokraround that comes to my mind is patching the STSes one after the other:

Workaround is to patch each STS individually, like this:

Create a patch file patch-es-version.yaml with this content:

—

spec:
  template:
    spec:
      containers:
      - name: elasticsearch
        image: <ECR-REGISTRY>.dkr.ecr.eu-central-1.amazonaws.com/xyz/elasticsearch:<NEWVERSION>
—

and apply it to

[2020-06-05 09:21] br0ziliy opened #91812 "[1.18.3] kube-proxy does not update LoadBalancerIP endpoints in ipvsadm tables on some nodes, which causes issues accessing that IP from other Pods"
**What happened**:

We're using MetalLB to provide a LoadBalancer for our Services in our on-prem kubernetes cluster, and haproxy-ingress as an Ingress controller.

We noticed that when we deploy haproxy-ingress with `replicaCount: 1` - kube-proxy updates ipvs table only on the node where haproxy-ingress-controller Pod was scheduled; other nodes do have the Virtual IP listed in `ipvsadm -Ln` outpu

[2020-06-05 09:28] qqbuby commented on #87004
Use the `systemctl edit kubelet.service` to set a appropriate value to `LimitNOFILE`  as below:

[code]

then, run `systemctl daemon-reload && systemctl restart kubelet.service`.

[code]

[2020-06-05 09:34] cardil commented on #91770
Reply to @pacoxu

You can't make sure. It's on user who wrote YAML to make it consistent, or not, if he pleases.

This is not only scenario. Most relevant scenario would be to have a fallback in case of primary registry outage for [example May 2020 Quay.io](https://www.openshift.com/blog/quay.io-may-2020-incident-summary).

[2020-06-05 09:38] cardil commented on #91770
Reply to @lixiaobing1

Sure it should be used. It's the point of this feature - to provide image name HA

I would put that effort on user. Maybe someone wouldn't like to use different images on purpose.

If giving option to define alias, let's define multiple ones as well.

[2020-06-05 09:44] br0ziliy commented on #91812
Attaching kube-proxy logs, though there's nothing unusual (the `connection refused` lines are from the timeframe when we've been restarting the kube-apiserver:

[code]

[2020-06-05 09:52] lopezator commented on #83242
Had the same problem, I am using an script to create all my k8s objects, then wait for a particular pod to be ready.

I have a race condition, when the wait executes the object apparently is not yet created.

This issue force me to sleep for a few seconds before issuing the wait.

[code]

[2020-06-05 10:54] hallgeirl commented on #87199
/remove-lifecycle rotten

[2020-06-05 10:56] AdityaBhansali1 commented on #72811
Fully agree with this. It is more intuitive to calculate the targets as a percentage of limits because a service should be scaled when approaching the limits.

Setting the right limit in current form needs a calculation based on resource requests and limits both. It can be simplified by just needing to calculate based on one variable ( which is the limits ).

[2020-06-05 11:58] katarzyna-z commented on #91795
@dghubble please take a look at https://github.com/google/cadvisor/pull/2567

[2020-06-05 12:00] katarzyna-z commented on #89859
@BenTheElder I've changed the pull request, please take another look at https://github.com/google/cadvisor/pull/2567

[2020-06-05 12:05] elrok123 commented on #51835
@oscarlofwenhamn As far as I'm aware, this is effectively running sigkill on all processes in that pod, ensuring deletion of zombie processes (source: Point 6 under termination of pods - https://kubernetes.io/docs/concepts/workloads/pods/pod/#:~:text=When%20the%20grace%20period%20expires,period%200%20(immediate%20deletion).), and successfully removing the pod (may not happen immediately, but it wi

[2020-06-05 12:36] ahg-g opened #91817 "Deprecate ResourceLimitsPriorityFunction feature in the scheduler"
[ResourceLimitsPriorityFunction](https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L200:2) has bee in alpha since 1.9. Since then, no requests were made to graduate the feature, which indicates lack of usage. Based on that I propose we deprecate this scoring function.

/cc @aveshagarwal
/sig scheduling

[2020-06-05 12:58] salvadoravila commented on #76338
/reopen.
Hello!, I was wondering if there is a fix in AKS for this issue already

[2020-06-05 13:08] veeramalla-f5 commented on #91090
@robscott Sounds Great. It would be a cool feature.

[2020-06-05 13:20] jsafrane commented on #88848
Snapshot restore and Cloning test use `TestVolumeClientSlow`, which allows 15 minutes.

https://github.com/kubernetes/kubernetes/blob/0cdd5365a1d0c8ccad93bf5d12fbf54ec69deb0e/test/e2e/storage/testsuites/provisioning.go#L260

https://github.com/kubernetes/kubernetes/blob/b748c702d995dc4c26dfc1a12fb4beb5d8de91ae/test/e2e/framework/pod/wait.go#L64

[2020-06-05 13:41] s4nk commented on #52218
@karolinepauls `-F` suggestion is great, any plans to include that at some point?

[2020-06-05 13:43] oscarlofwenhamn commented on #51835
@elrok123 Brilliant - I was indeed ill-informed. I've updated my response above, referencing this explanation. Thanks for the detailed response, and a further motivated method for dealing with troublesome pods. Cheers!

[2020-06-05 14:06] alculquicondor commented on #91111
@nodo, could you list which other test cases you would like to cover, if any?

[2020-06-05 14:06] turnes commented on #90066
I'm quite new to k8s. You can disable managedFields. managedField is a [featuregate](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) and it's in beta. I encourage you do not disable, because the documentation says:

I've done a little test disabling it in a minikube env e it worked as expected. I did it just for learning purpose.

`mini-kube start --feature-gates=

[2020-06-05 14:14] PontusTideman opened #91820 "Fresh install on Debian 10 fails with alot of not found in system path"
**What happened**:
`kubeadm init --pod-network-cidr=10.0.0.47/8` gives:

[code]
**What you expected to happen**:
To start it as normal, because a prev install worked without hassle. All that is listed above not found in system path is latest version.

**How to reproduce it (as minimally and precisely as possible)**:
Install Debian 10 without the GUI. Install Docker, kubelet kubeadm kubectl and to

[2020-06-05 14:16] Anumita opened #91821 "Unable to use v1 version of SubjectAccessReview request even after setting --runtime-config=authorization.k8s.io/v1=true webhook authz mode"
**What happened**:
I am using a webhook to do authorization checks for users. While setting the kube-apiserver flags to use the webhook, i have set the "runtime-config" parameter to "authorization.k8s.io/v1". Even after setting this parameter the SubjectAccessReview request calls that my webhook is receiving are from "authorization.k8s.io/v1beta1".

Webhook mode flags set in ApiServer

--runtime-c

[2020-06-05 14:17] PontusTideman commented on #91820
/sig Release

[2020-06-05 14:18] PontusTideman commented on #91820
/wg K8s Infra

[2020-06-05 14:24] #47938 closed

[2020-06-05 14:24] jkaniuk commented on #91774
@bowei - Could you triage this?

/cc bowei

[2020-06-05 14:29] Anumita commented on #91821
/sig Auth

[2020-06-05 14:42] liggitt commented on #91821
`--runtime-config` does not control the version sent to the authorization webhook.

Use `--authorization-webhook-version=v1` to configure the version sent to the authorization webhook.

[2020-06-05 14:42] #91821 closed

[2020-06-05 14:44] howardjohn commented on #90066
Disabling the field is not a viable option because most users do not have access to k8s feature flags to disable it, and its only a short term mitigation. It would be ideally if there was a longer term mitigation to lessen the impact of the field

[2020-06-05 14:57] Anumita commented on #91821
Hey,

I am getting the following error in apiserver {"log":"Error: unknown flag: --authorization-webhook-version\n","stream":"stderr","time":"2020-06-05T14:55:49.639032467Z"}

Is it only after a specific version of K8s?

[2020-06-05 15:08] liggitt commented on #91821
Yes. Added in https://github.com/kubernetes/kubernetes/pull/85441 in 1.17

[2020-06-05 15:20] nodo commented on #91111
I was thinking to cover these:
- A scheduled pod gets updated (e.g. it requires less resources)
- A new pod get scheduled (e.g. using inter-pod affinity)

I can see there are more events related to pv, pvc, storage class and services, which I am happy to cover but it's not obvious how to test.

What do you think?

[2020-06-05 15:20] Josbrafe commented on #57250
@jstaf. What version of ingress controller are you currently running in your cluster?
Tested version version: 1.36.3 and 1.39.0, base on the below comments:
Configs:

controller:
  config:
    use-proxy-protocol: "true"
    real-ip-header: "proxy_protocol"

  service:
    type: LoadBalancer
    externalTrafficPolicy: Cluster
    annotations:
        service.beta.kubernetes.io/aws-load-balancer-typ

[2020-06-05 15:45] #90958 closed

[2020-06-05 15:56] alculquicondor commented on #91111
I'd only do the 2nd. And you can call it a day there.

[2020-06-05 16:00] lavalamp commented on #91800
You have multiple different *kinds* of worker goroutines draining a queue, and you want to shut down only some of the goroutines? I don't understand how that can be correct, neither kind of goroutine will see all queue entries.

I think you should make separate queues for each kind of worker.

[2020-06-05 17:27] Alb0t commented on #88873
/remove-lifecycle stale

[2020-06-05 17:40] tringuyen-yw commented on #90066
There is no need of disabling any feature/function. The only thing needed is a way to filter the output. Kind of similar to the `ls` command. You may have many thousands files in a directory, but you can filter the output by an expression like `ls mystuff*.log`. Not sure how this kind of output filtering should be implemented in an idiomatic way consistent with `kubectl get`. From the user point o

[2020-06-05 17:43] aveshagarwal commented on #91817
no objection from my side.

[2020-06-05 17:53] lavalamp commented on #90066
I think the current plan is to do a `-o shortyaml` or something, but another option might be to add an inverse jsonpath expression-- print all fields that DON'T match, like `grep -v`. That'd make for longer command lines but would be more controllable.

(It appears impossible to get this behavior with the json path option, and also very difficult with `jq` scripts--at least I wasn't able to figure

[2020-06-05 18:12] tringuyen-yw commented on #90066
Hum.. with this kind of `not in` filter you may end up with almost the rest of the content of the universe. Like "who is not John". I think it would be clearer to use an "exclude" clause to let the user decide explicitly the piece of info to be excluded. Something like
[code]

[2020-06-05 18:21] lavalamp commented on #90066
Yeah that's mostly what I had in mind, but I don't know if just the key is sufficiently unique. I was thinking you'd write a json path expression, and all matching fields (and their descendants) would be excluded. like `-o yaml -vjp '.metadata.managedFields[].fieldsV1'` to exclude the verbose parts or `-o yaml -vjp '.metadata.managedFields'` if you don't want to see any of it at all.

[2020-06-05 18:57] mattjmcnaughton commented on #91655
Sure @iamchuckss !

/assign @iamchuckss

Please let me know if you have any questions :)

[2020-06-05 19:00] brianpursley opened #91834 "Slow pkg/kubelet/volumemanager/reconciler unit tests"
**What happened**:
The unit tests in pkg/kubelet/volumemanager/reconciler take over 2 minutes to complete.

**What you expected to happen**:
Unit tests should run quickly so that developers can run them frequently without having to wait a long time for them to complete

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
-

[2020-06-05 19:01] brianpursley commented on #91834
/sig node
/area kubelet

[2020-06-05 19:08] yash97 commented on #91657
I can start with adding the static checks with CI

[2020-06-05 19:10] mattjmcnaughton commented on #91657
Cool - I just updated that part of the issue w/ some additional info - please lmk if you have qs :)

[2020-06-05 19:14] yash97 commented on #91657
sure so can i dm you on slack?

[2020-06-05 19:14] mattjmcnaughton commented on #91657
Yup!

[2020-06-05 19:53] AntonSmolkov commented on #55713
I used to have the issue too. But now, with version 1.17.5, can't reproduce it anymore.
Pods from "Powered Off" nodes remain, but controller brings another ones on different nodes.
Obsolete pods may be deleted manually, controller also deletes obsolete pods when crashed node brings back.
I think the idea behind it, is that controller can't be sure if pods are dead or just unavailable by network fr

[2020-06-05 20:03] dghubble commented on #91795
Tested on an affected Fedora CoreOS node (different node just bc previous one is gone).

[code]

[code]

@katarzyna-z

[2020-06-05 20:09] knrt10 commented on #63184
@JCzz were you able to fix the issue?

[2020-06-05 20:17] dghubble commented on #91795
Today, on similar hosts with Kubernetes v1.18.3, an equivalent node has:

[code]

So it seems Kubernetes (if cadvisor change is added) would now report 2 cores on Fedora CoreOS, though only one appears in /proc/cpuinfo. Not sure of the expectations here.

| Kubernetes | CPU cores |
|-----|----|
| <= v1.18.3 | 1 |
| v1.19.0-alpha.0 - v1.19-beta.1 | 0 (broken) |
| v1.19.x | 2 |

[2020-06-05 20:23] BenTheElder commented on #89859
<details>
[code]
</details>
commenting on the PR as well

[2020-06-05 20:23] adityabyreddy74 commented on #83728
/reopen

[2020-06-05 20:26] alculquicondor commented on #91340
also, did you use the default profile?

[2020-06-05 20:27] alculquicondor commented on #91601
/assign

I'm looking into this. A few questions to help me narrow the case. I haven't been able to reproduce yet.

- What was created first: the daemonset or the node?
- Are you using the default profile?

[2020-06-05 20:28] dghubble commented on #91795
[code]

[2020-06-05 20:28] JCzz commented on #63184
Hi @knrt10 Yes and no, I went on using Knative

[2020-06-05 20:29] #86923 closed

[2020-06-05 20:32] knrt10 commented on #63184
Thanks

[2020-06-05 20:54] ImIOImI commented on #29789
I'd also like to see this so I can automate assigning a load balancer to a new deploy with terraform

[2020-06-05 20:56] cmluciano commented on #91090
@veeramalla-f5 Do you get the expected output when you do a kubectl describe?

[code]

[2020-06-05 21:02] alculquicondor commented on #91601
- Do you have extenders?

[2020-06-05 21:02] alculquicondor commented on #91340
Do you have extenders?

[2020-06-05 21:05] markmandel commented on #90116
:wave:

I work on https://agones.dev, and we're attempting to support dedicated game servers on Windows, which is a pretty large use case for us, and we require hostPort support to make our platform work (unfortunately NodePort, or any kind of service is a non starter for a variety of reasons) - without it, we are blocked on this workload.

Some more context based on our attempts so far can be fou

[2020-06-05 21:18] DavidWittman commented on #79121
I ran into this issue when executing `kubectl` from within a pod. It seems to *always* use the namespace defined in `/var/run/secrets/kubernetes.io/serviceaccount/namespace` even if `-A` is supplied on the command-line.

[2020-06-05 21:31] DavidWittman commented on #79121
Seems fixed in kubectl v1.18.3, but probably sooner than that release as well.

[2020-06-05 21:37] daschott commented on #90116
It appears as though this has been [added]( https://github.com/containernetworking/plugins/pull/475) recently to Windows CNI reference plugins v0.8.6.

To enable it, one needs to set the PortMappings [capabilities](https://github.com/containernetworking/cni/blob/master/CONVENTIONS.md#dynamic-plugin-specific-fields-capabilities--runtime-configuration). For an example on how to set this in `win-brid

[2020-06-05 22:04] cadeniyi opened #91844 "Return extra information via PodSanboxStatusRequest"
**What would you like to be added**:
I would like the PodSandboxStatus returned by kubelet/dockershim via a CRI PodSandboxStatusRequest to populate the "info" field with json version of the dockercontainer.config.

An example where this would be useful is to retrieve the pod hostname via crictl.

**Why is this needed**:

This would align the behaviour of kubelet/dockershim +docker with that of con

[2020-06-05 22:05] cadeniyi commented on #91844
/sig node

[2020-06-05 22:07] kfox1111 opened #91845 "RuntimeClass quota"
**What would you like to be added**:
A way to specify pods/requests/limits per RuntimeClass the same way you can set limits on individual StorageClasses

**Why is this needed**:
Your cluster may be split in such a way that you need to limit a project to a particular RuntimeClass or set the proportion of resource they can consume in each RuntimeClass.

[2020-06-05 22:11] cadeniyi commented on #91844
/area kubelet

[2020-06-05 22:24] grosser opened #91846 "kubectl writes to ~/.kube/cache even when --cache-dir is set elsewhere"
[code]

might be related to https://github.com/kubernetes/kubernetes/issues/78664

[2020-06-05 22:26] grosser commented on #91846
/sig cli

[2020-06-05 22:31] #84978 closed

[2020-06-05 23:18] neolit123 commented on #91820
hello,

this is odd. as you can see the latest kubelet package template does include the binaries that kubeadm is reporting as missing:
https://github.com/kubernetes/release/blob/d992507a0aa386a1b2cd57319b7c891a0f6a126b/cmd/kubepkg/templates/latest/deb/kubelet/debian/control#L13

did you follow the guide here?
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#i

[2020-06-05 23:39] phudtran commented on #91806
I was able to get the hollow-nodes running with Kubernetes v1.17.2 on a pre-existing cluster.
However, when running `./test/kubemark/run-e2e-tests.sh`
All the tests get skipped

[code]

[2020-06-06 00:19] pytimer commented on #91806
I think kubernetes performance tests were moved to https://github.com/kubernetes/perf-tests, use clusterloader2 instead of test/kubemark/run-e2e-tests.sh, you can use `clusterloader2`.
Ref: https://groups.google.com/d/msg/kubernetes-sig-scale/JnrLKFbP-hs/N04lFaNjBQAJ

[2020-06-06 00:24] marcoshuck commented on #23880
+1, we need this feature.

[2020-06-06 00:26] phudtran commented on #91806
I was able to get the the tests running.
Specifying the number of nodes in my cluster seems to have worked.

`./test/kubemark/run-e2e-tests.sh -num-nodes 50`

[2020-06-06 00:30] shibumi-matt commented on #56996
@ervinb you the real MVP! I thought I was gonna have to dig into Calico but it was just a typo 😂

[2020-06-06 00:45] kfox1111 commented on #91845
/sig scheduling ?

[2020-06-06 01:22] BenTheElder commented on #91795
Same thing here (though with 6 vs 12), thanks for working on this.

[2020-06-06 01:29] dlangerenken commented on #81723
same issues. no explanation to why the pod had to be killed.

[2020-06-06 01:45] Cweiping commented on #91064
/assign

[2020-06-06 01:48] wawa0210 commented on #91783
![image](https://user-images.githubusercontent.com/7907809/83933374-69535700-a7da-11ea-9d7a-a31a3a7e7614.png)

@ksubrmnn

I am interested in this issue, can I follow up? I don't know if my steps to reproduce are correct. A deployment of a windows container is created, the containerPort is specified by the name `http`, and then this `http` is used for mapping in the service. Finally, access through

[2020-06-06 02:09] msau42 commented on #91001
Here's one failing run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/1266458713783275520

It failed because one of the PVs failed to be deleted:
[code]

The CSI delete operation succeeded:
[code]

A delete also came from the csi-provisioner:
[code]

The storage protection controller also removed its finalizer:
[code]

It seems like perhaps something got messe

[2020-06-06 02:11] brianpursley opened #91847 "Unable to bind another pvc to a volume after original pvc is deleted"
**What happened**:
When I have a volume and a pvc, and then delete the pvc, the volume is "Released", but the ClaimRef never gets removed from the volume, and it seems like this prevents me from ever binding another claim to this volume.

**What you expected to happen**:
After I delete a pvc that is bound to a volume, I expect that the ClaimRef would no longer have the deleted pvc's information an

[2020-06-06 02:11] brianpursley commented on #91847
/sig storage

[2020-06-06 02:25] MikeSpreitzer opened #91848 "etcd server overrides is in generic interface but kubeapiserver implementation"
**What happened**:
I tried using the `--etcd-servers-overrides` flag on an aggregated apiserver built like the sample-apiserver.  The flag was ignored.

**What you expected to happen**:
I expected the flag to be respected.  It affects the `Etcd` section of a `RecommendedOptions` defined in https://github.com/kubernetes/apiserver/blob/master/pkg/server/options/recommended.go .  https://github.com/k

[2020-06-06 02:27] MikeSpreitzer commented on #91848
@kubernetes/sig-api-machinery-bugs

[2020-06-06 02:28] MikeSpreitzer commented on #91848
@droccom

[2020-06-06 03:53] brianpursley commented on #91847
I just saw this comment that says it is intentional, for security reasons:
https://github.com/kubernetes/kubernetes/issues/48609#issuecomment-314066616

If that is true, I can understand that, but can there be a way to fail the second attempt to bind instead of being stuck in pending at least?

[2020-06-06 04:01] 13567436138 opened #91850 "kubectl scale --timeout is dead"
**What happened**:
[code]
[code]
if I figure out --timeout,but the timeout is fixed in source code.can not customized the timeout

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /

[2020-06-06 04:20] SataQiu commented on #91846
/assign

[2020-06-06 04:38] bsdnet commented on #91641
Should we go ahead to close this one?

[2020-06-06 04:40] 13567436138 opened #91852 "kubectl autoscale --name is useless"
**What happened**:
[code]

[code]

the hpa name is always info.Name，not --name

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Ins

[2020-06-06 05:09] ZhiFeng1993 commented on #91641
There is no issue with test-e2e-node itself. Closing this issue.
Cc: @alejandrox1

[2020-06-06 05:09] #91641 closed

[2020-06-06 07:38] uablrek commented on #89859
If `nproc` shows correct number then steal the code; https://github.com/coreutils/gnulib/blob/master/lib/nproc.c

It seems very compliant to various environment and take things into account that at least I have not considered.

[2020-06-06 08:41] #78721 closed

[2020-06-06 08:53] Cweiping commented on #91064
https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#run , maybe need sig/cli（i guess） regenerated to update. And [kubectl run](https://github.com/kubernetes/kubernetes/issues/89651) become created pod， those who use it need to be checked

[2020-06-06 09:25] SataQiu commented on #91852
/assign

[2020-06-06 09:42] #86948 closed

[2020-06-06 10:12] lidajia opened #91857 "add a CRD resource with kind only a single chart while cause kube-apiserver crash"
**What happened**:
add a CRD resource with kind only a single chart while cause kube-apiserver crash（slice bounds out of range）
**What you expected to happen**:
add validation to limit CRD kind definition or fix the bug of slice out of bounds。
**How to reproduce it (as minimally and precisely as possible)**:
`
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name

[2020-06-06 10:16] gfelixc commented on #91628
Could I pick this up as my first issue?

[2020-06-06 10:20] lidajia commented on #91857
/sig apps

[2020-06-06 10:21] answer1991 commented on #91131
Golang version 1.13.13 or 1.14.5 required, which will release at 07/01/2020.

[2020-06-06 10:24] SataQiu commented on #91850
/assign

[2020-06-06 10:25] SataQiu commented on #91850
/sig cli

[2020-06-06 10:25] SataQiu commented on #91852
/sig cli

[2020-06-06 10:37] hokiegeek2 commented on #38532
/remove-lifecycle rotten

[2020-06-06 10:37] hokiegeek2 commented on #38532
/remove-lifecycle stale.

[2020-06-06 10:43] #86937 closed

[2020-06-06 11:14] SataQiu commented on #91857
/assign

[2020-06-06 11:48] iwankgb commented on #89859
@uablrek the code that you linked to is licensed in GPL and I don't think it can be used in cAdvisor because if [license conflicts](https://www.apache.org/licenses/GPL-compatibility.html).

[2020-06-06 11:59] hkamel opened #91860 "[Failing Test] capa-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-aws-make-conformance-v1alpha3-k8s-ci-artifacts)"
**Which jobs are failing**:
capa-conformance-v1alpha3-k8s-master (ci-cluster-api-provider-aws-make-conformance-v1alpha3-k8s-ci-artifacts)

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

    <*errors.errorString | 0xc0000daf10>: {
        s: "pod ran to completion",
    }
    pod ran to completion
occurred
skipped 89 lines unfold_mo

[2020-06-06 12:21] #91133 closed

[2020-06-06 13:52] jayunit100 commented on #91236
Hi everyone, yeah so..  collecting some data on this...

- using a two node kind cluster, locally, with the antrea plugin, it passes
- using a 4 node AWS cluster with the antrea CNI plugin, it failed
- using a two node kidn cluster locally with calico, it passes

So I guess the best reproducer is to run these tests, for now, in the cloud.... Now that I have a reproducer for this maybe can live deb

[2020-06-06 14:48] #85206 closed

[2020-06-06 16:47] #84203 closed

[2020-06-06 17:48] raelga commented on #57250
For my use case, using `externalTrafficPolicy: Local` was not an option due to the impact on performance and resilience. I ended developing a new Kubernetes operator/controller to manage the NLB Target Group attributes using annotations in the service object.

For this use case, allows enabling the `Proxy-Protocol` on service creation using the `aws-nlb-helper.3scale.net/enable-targetgroups-proxy-

[2020-06-06 18:56] mattjmcnaughton commented on #91655
:wave: @iamchuckss when you submit a pr for this, can you tag me and @farah as a reviewer? @farah has also given this ticket some thought, so I'm looking forward to getting their insights :)

[2020-06-06 19:32] mattjmcnaughton opened #91864 "Add unittest coverage for `boottime_util_linux.go`"
**What would you like to be added**:
Currently, `pkg/kubelet/util/boottime_util_linux.go` does not have unit test coverage. Specifically, there's no unit test coverage for `GetBootTime`. I'd like to see unit test coverage added for `GetBootTime`. See `pkg/kubelet/util/util_unix_test.go` for a sample of how to write platform specific unit tests.

**Why is this needed**:
There's a fairly small chanc

[2020-06-06 19:33] mattjmcnaughton commented on #91864
Assigning this to Ali Farah ("@farah") (Ali, for some reason it won't let me assign you - can you assign yourself?)

/sig node

[2020-06-06 19:35] stevengibbszions commented on #88912
I also have this issue on k8s v1.17.  Feature gate is enabled, but startup probe does not appear in the yaml and does not execute.  Do we need to do anything else besides open the feature gate?

[2020-06-06 20:41] aojea commented on #91236
bear in mind that this test is connecting to a nodePort in the node IP, the test is functional correct, it may be flaky due to the unreliable UDP nature or due to the pod scheduling, but if is failing constantly it has to be environmental.

[2020-06-06 20:42] scardena opened #91865 "Reconfiguring a kubelet does not work on EKS"
**What happened**:
I was trying to reconfigure a kubelet in EKS following this: https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/
I got no error whatsoever while following the steps, but the config is not being recognized by the kubelet.

**What you expected to happen**:
The config to the kubelet in this specific node should be updated.

**How to reproduce it (as minimally a

[2020-06-06 20:50] scardena commented on #91865
/sig docs

[2020-06-06 21:28] mailjunze commented on #62283
Deep diving into this I found objects  created in K8s stored in the latest stable API group. In case of deployment that is apps/v1. When you create a deployment using "extensions/v1beta1" in k8s 1.15, it will be stored in ETCD within the "apps/v1" API group, however, when retrieving you can request for  any supported API group for that k8s version.
## 1.15
[code]
[code]
##  1.16
[code]

[code]
Wit

[2020-06-06 21:55] fejta-bot opened #91866 "pr:pull-kubernetes-e2e-gce-ubuntu-containerd flaked 39 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-ubuntu-containerd
 Flakes in the past week: **39**
 Consistency: **85.60%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-network] Services should be able to preserve UDP traffic when server pod cycles for a NodePort service | 21 |
| [sig-cli] Kubectl client Simple pod should support inline execution and attach | 7 |
| [s

[2020-06-06 22:02] liggitt commented on #91865
Does EKS enable dynamic Kubelet config?

[2020-06-06 22:43] tedyu commented on #91857
[code]
There is a typo in the subject.

[2020-06-06 22:55] #86976 closed

[2020-06-06 23:19] iamchuckss commented on #91655
@mattjmcnaughton yeah definitely!

[2020-06-06 23:57] #81963 closed

[2020-06-07 00:24] raelga commented on #90132
In case anyone is interested, I had the same issue and ended developing a new operator to enable/disable the termination protection using annotations in the service object. Is in the early stages, but it works and is quite inoffensive.

https://github.com/3scale/aws-nlb-helper-operator

[2020-06-07 02:56] wawa0210 commented on #90466
/assign

[2020-06-07 02:59] #86969 closed

[2020-06-07 03:21] #91857 closed

[2020-06-07 04:21] 13567436138 opened #91868 "kubectl certificate approve --force has no effect"
**What happened**:

[code]

if approved is true.the csr status conditions will not change。
[code]
even if run UpdateApproval,but the csr had not changeed so，no update will be applied

kubectl certificate deny has the same problem。

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2020-06-07 05:00] giltayar commented on #28272
Couldn't get the above to work. Firefox is not responding on the marionette port.

So I went the other way: tried to make our docker image the same as the selenium:

1. First, I used `latest` version to download and not `77.0.1`. No success.
2. Removed Tomer's fonts. No success.
3. On a whim, decided to use `firefox -headless` without `xvfb`. No success.

[2020-06-07 06:16] joelsmith commented on #87252
/remove-lifecycle rotten

[2020-06-07 06:57] noreff commented on #83125
I had the same issue using minikube and managed to solve it by starting minikube with --mount and --mount-string flags

[code]

[2020-06-07 07:37] arkoc commented on #61767
Hey guys, any updates on this?

[2020-06-07 08:02] lawrencegripper commented on #88265
Closed this one out as didn't have time to complete the work, the PR shows the discussions around pending work if someone else needs/wants to pick it up.

[2020-06-07 08:02] #88265 closed

[2020-06-07 08:39] wawa0210 commented on #91868
/sig cli
/assign

I can verify the problem and give feedback

[2020-06-07 09:16] chief93 commented on #73056
Not sure if my case is related to this one, but I have encountered almost same behavior for SOME of my pods (not everyone (for example the bashing into `busybox` works as expected)): when I'm trying to execute something like this:
[code]
then `kubectl` just exits, without any `bash` prompt or anything like this

On other hand, if I execute this:
[code]
then I'm able to get the contents of this fil

[2020-06-07 10:13] SataQiu commented on #91817
If you don't object, I can help to file a PR for this. @ahg-g @aveshagarwal

[2020-06-07 10:42] LucaPrete commented on #61767
I don’t have any..with some tricks we’ve moved to azuredisk and the issue
disappeared..

I still wish to understand how to make it work...

Il giorno dom 7 giu 2020 alle 09:37 Aram Kocharyan <notifications@github.com>
ha scritto:

[2020-06-07 10:56] Panghu98 commented on #85498
I got the same problem,is there some ways to resolve?

[2020-06-07 11:05] farah commented on #91864
/assign thanks @mattjmcnaughton !

[2020-06-07 11:07] #86207 closed

[2020-06-07 11:20] Hanzy1996 commented on #59959
I have the same problem. Have you solved this problem?

[2020-06-07 12:04] PurnimaChawla opened #91872 "CRD creation failed due to spec.validation.openAPIV3Schema.properties[spec].properties[license].properties[accept].default: Forbidden: must not be set"
I am have property added and a default value is given to it.
I am getting Forbidden error: must not be set.
Is it a version specific issue??

[2020-06-07 12:14] hermes85pl commented on #47775
Although I agree with @mikebrow that the documentation is clear, I cannot say that I like current behavior.

I cannot agree with @DarrienG that tags shouldn't change. The "latest" tag is one exception, but please look at the patterns that are commonly used. E.g. for "debian" you have "latest", but also "buster" and "10" that are likely to be updated, as well as "10.4" that is less likely to be upd

[2020-06-07 13:09] #84545 closed

[2020-06-07 13:21] lllamnyp commented on #73056
@chief93 see how you have docker exec **-it** but just plain old kubectl exec? Thats the cause.

[2020-06-07 13:56] arkoc commented on #61767
One of the confusing parts is that in docs https://docs.microsoft.com/en-us/azure/aks/azure-files-volume#mount-options it seems that mount options only work for k8 1.8+ funny thing is that I can't even create aks with version higher than 1.16.

There is no information about mount options, do they work on versions < 1.8

[2020-06-07 14:45] ahg-g commented on #91817
Sounds good

/assign @SataQiu

[2020-06-07 14:58] SataQiu commented on #91872
Did you enable `CustomResourceDefaulting` feature gate?
Ref: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features  https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#validation

[2020-06-07 15:35] pandeyvinod opened #91876 "Proper selection of approved and denied word in kubectl output"
**What happened**: When you denied any csr request through kubectl. it says approved in output though its denied when you checked in status

**What you expected to happen**:
It need to Denied in output itself.

**How to reproduce it (as minimally and precisely as possible)**:
1- request csr for any user
2- try to deny that request

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2020-06-07 15:51] pacoxu commented on #91770
Registry aliases may be another option.

We tried to build a local registry and sync images from online registry. We changed the /etc/hosts to use local registry if needed. However, it is not the best way and not convinient.

Registry accelerator and registry proxy for multi registries may be helpful in your case.

[2020-06-07 16:29] wawa0210 commented on #91876
/sig cli

[2020-06-07 17:13] #85900 closed

[2020-06-07 18:16] rajasaur commented on #54579
How would this work for recursive references? We have a case where a property references a type that was previously defined in the same document.

[2020-06-07 18:26] chief93 commented on #73056
@lllamnyp I'm not sure I get your idea properly, but regardles of `docker` command example - I said that `docker exec` works just fine for CONTAINER, in opposite for `kubectl exec` for POD

[2020-06-07 19:32] mortent commented on #91141
I agree with the proposal from @michaelgugino that it should always be safe to evict a pod that have the deletionTimestamp set, regardless of any PDBs.

Separate from that, I am also surprised that the drain command keeps trying to evict the pod forever, even after it has been terminated and removed from the node. It seems like once the pod no longer running/scheduled on the node in question, we s

[2020-06-07 19:40] balous commented on #91141
This is not the case, the pod is terminated. But as it is a statefulset pod and the pod has affinity to the node being drained, new pod is created with the same name on the same node in pending state. I was able to get rid of the pod by changing number of replicas of parent statefulset to 0. Than the node draining finished.

[2020-06-07 19:48] hkamel opened #91878 "[Failing Test] conformance-ga-only (ci-kubernetes-conformance-kind-ga-only)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

gazelle: finding module path for import domain.name/importdecl: exit status 1: can't load package: package domain.name/importdecl: cannot find module providing package domain.name/importdecl
gazelle: finding module path for import old.com/one: exit status 1

[2020-06-07 19:50] lllamnyp commented on #73056
@chief93 you missed my emphasis on the importance of passing the correct flags to the exec command:

[code]

it's a coincidence that some containers give you an interactive shell without `-it`, but it is usually mandatory. Besides that, there is no concept of `kubectl exec`ing into a pod. A pod is nothing more than a collection of containers with some shared properties. At the end of the day `kube

[2020-06-07 20:01] shivrajjadhav733 opened #91879 "readiness liveness probe issue with springboot and kubernetes"
What I have

Windows 10
Springboot 2.2.1
docker desktop installed - docker and kubernetes running
openjdk 11

application.yaml in my springboot application

[code]
On my local when I start springboot application:
To access health, I go to page - http://localhost:8443/api/actuator/health
This works fine.

But, when I try to access https://localhost:8443/api/actuator/health/readiness or http://local

[2020-06-07 20:14] shivrajjadhav733 opened #91880 "readiness and liveness issue deploying it to EKS"
What I have

Windows 10
Springboot 2.1.1
kubernetes 1.13 using EKS
openjdk 11
cloud: AWS

application.yaml in my springboot application

[code]

ingress.yaml

[code]
deployment.yaml in kubernetes

[code]
My application takes around 30-50 seconds to start, thats why I have kept initialdelayseconds or periodseconds as 60
Please take a look at scheme set as HTTPS

for this configuration when I try to

[2020-06-07 20:25] shivrajjadhav733 commented on #91880
sig/network
sig/node
sig/windows
sig/cloud

[2020-06-07 20:25] shivrajjadhav733 commented on #91879
sig/network
sig/node
sig/windows

[2020-06-07 21:29] liggitt commented on #91872
default attributes are only allowed in v1 CRDs

[2020-06-07 21:29] #91872 closed

[2020-06-07 21:32] liggitt commented on #91868
If you add `--v=6`, is an update request being sent to the server? If so, I think this is working as intended

[2020-06-07 21:34] liggitt commented on #91878
That error doesn't seem specific to this job

[2020-06-07 21:56] liggitt commented on #91879
This sounds like a question for the springboot framework. You would probably get more domain specific expertise by asking in the springboot support channels.

[2020-06-07 21:56] #91879 closed

[2020-06-07 21:59] #90993 closed

[2020-06-07 22:30] shivrajjadhav733 commented on #91879
@liggitt Sure, will send it to springboot community. However, as liveness and readiness gets accessed from pod, thought of sharing it here as well, so if anything I should be knowing well ahead of time then it would be good.

[2020-06-07 22:31] shivrajjadhav733 commented on #91880
Why sig/nework removed? I think its somewhere related to network. Even though I specific scheme as HTTPS, still I see http error with 503 error code, why?

[2020-06-07 22:40] mortent commented on #91141
So you are correct that the pod is eventually terminated (due to the `kubectl delete pod` command) and recreated by the statefulset controller. But it is not actually created on a specific node. The scheduler is responsible for deciding which node it should run on, but the `drain` command has disabled scheduling for the node it was previously running on. So the pod actually ends up in the pending

[2020-06-07 23:19] #86839 closed

[2020-06-08 00:04] shivrajjadhav733 commented on #91880
Note: When I look at container logs I see application has been started absolutely fine.

I made changes to initialDelaySeconds: 120 in readiness probe.

With that, when I describe pod, I see
Readiness:  http-get https://:8443/api/actuator/health delay=120s timeout=5s period=60s #success=1 #failure=2

I guess I am making some mistake in configuration. Not sure what that is.

[2020-06-08 00:20] #85616 closed

[2020-06-08 01:24] tedyu opened #91881 "Upgrade grpc dependency"
**What happened**:
Currently we use grpc v1.26.0
There is a bug where temporary failure of DNS resolution will bring client down until it is restarted. See grpc/grpc-go#3353

**What you expected to happen**:
We should upgrade to grpc release which has the fix.
Compatibility should be evaluated carefully between the components involved: etcd, api server, controllers, etc

**How to reproduce it (as

[2020-06-08 02:21] 13567436138 opened #91882 "kubectl cluster-info /api/ should be /apis/"
**What happened**:
[code]
else should be /apis/ not /api/
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
···
[root@master01 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df296

[2020-06-08 02:30] wawa0210 commented on #91882
/assign

[2020-06-08 02:37] wawa0210 commented on #91882
/sig cli

[2020-06-08 03:02] wawa0210 commented on #91882
The core group, also referred to as the legacy group, is at the REST path `/api/v1` and uses `apiVersion: v1`,namespaces in core group

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#namespace-v1-core

https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-groups

[2020-06-08 03:17] njuptlzf opened #91884 "[1.17.4]set flannel networking to 25 ， I don't even see new flannel pod and no related logs printed（--v=4）"
**What happened**:
When a node network segment is defined to be greater than 24（( I set it to 25 and do not set subnetlen）, it seems that the flannel pod cannot be started, and I don't even see new flannel pod, so I don't know what happened
**What you expected to happen**:
I need to know why
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
set

[2020-06-08 03:22] njuptlzf commented on #91884
/Network

[2020-06-08 03:34] njuptlzf commented on #91884
/sig network

[2020-06-08 03:47] mgxian commented on #57923
Dose somebody track this issue ? How to resolved this bug?

[2020-06-08 04:02] angao commented on #88887
/remove-lifecycle stale

[2020-06-08 04:09] mritd commented on #70082
3.4.3 same errors...

[2020-06-08 04:28] cwdsuzhou commented on #90116
I have implemented it, I would like send a PR later

[2020-06-08 04:36] 13567436138 opened #91887 "kubectl cluster-info dump if I figure out --namespaces no info at namspaces will printed"
**What happened**:
[code]
if I figure out --namespaces for will be jumped

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
-

[2020-06-08 04:41] 13567436138 commented on #91887
/sig cli

[2020-06-08 05:01] hkamel commented on #91878
I see the following

Jun  8 01:10:13.888: INFO: rc: 1
Jun  8 01:10:13.888: INFO: Waiting 10s to retry failed RunHostCmd: error running /home/prow/go/src/k8s.io/kubernetes/bazel-bin/cmd/kubectl/linux_amd64_pure_stripped/kubectl --server=https://127.0.0.1:35577 --kubeconfig=/root/.kube/kind-test-config exec --namespace=statefulset-3918 ss-2 -- /bin/sh -x -c mv -v /tmp/index.html /usr/local/apache2/h

[2020-06-08 05:12] anguslees opened #91888 "aws: Fix address sorting of non-contiguous interfaces"
**What happened**:

#80747 does not handle "holes" in interface device-number correctly, dropping later interfaces.

Create instance with eth0, eth1, eth2 ENIs as usual.  Remove (eg: by selectively deleting pods) eth1.  Only the addresses on eth0 are reported by NodeAddresses.

**What you expected to happen**:

Addresses on eth0 and eth2 should be reported.

[2020-06-08 05:42] zhouya0 commented on #91887
/assign

[2020-06-08 05:57] thehappycoder commented on #2630
Is there `fsGroup` for kubernetes deployment files?

[2020-06-08 06:33] chief93 commented on #73056
@lllamnyp thanks for reply! I've used it also with `-it`, but with absolutely same behavior, more of that - the executing with `-it` is DEEPRECATED for `kubectl`

[2020-06-08 07:07] zhouya0 opened #91891 "Pod eviction timeout not working"
1. Since the [admission controller ](https://github.com/kubernetes/kubernetes/pull/41414) is enabled by default, should we depracte  `--pod-eviction-timeout` in kubelet because it has no effect at all.

2. If we want to change to time of eviction when node is shutdown, we have to change `--default-not-ready-toleration-seconds` and ` --default-unreachable-toleration-seconds`.
The problem is, before

[2020-06-08 07:08] zhouya0 commented on #91891
/assign

[2020-06-08 07:21] zhouya0 commented on #91891
/sig scheduling

[2020-06-08 07:21] PontusTideman commented on #91820
Yes, I followed a similar guide that I have put together to meet our internal enviroment at work. But it's a correct 1:1 copy of that guide.

[2020-06-08 07:46] LearnKen opened #91892 "Offical Multi-worker training example Faild"
I use the official example https://github.com/kubeflow/tf-operator/tree/master/examples/v1/distribution_strategy/keras-API

I have three question
1.POD is  working but use only one GPU
2.Did tensorflow/tensorflow:2.1.0-gpu-py3 have NCCL ?
Why I can not use NCCL ?
It  appear NCCL WARN Failed to open libibverbs.so[.1]
3. `eval_fn` is not passed in. The `worker_fn` will be used if an "evaluator" task

[2020-06-08 08:01] njuptlzf commented on #91884
1.actually,   In fact, I can see the running flannel pod when I set "Network" to "11.11.0.0/25", from 24, set "SubnetLen": 27 from 0.
kubectl get cm -n kube-system kube-flannel-cfg -o yaml
apiVersion: v1
data:
  cni-conf.json: xxxxxx
  net-conf.json: |
    {
      "Network": "11.11.0.0/25",
      "SubnetLen": 27,
      "Backend": {
        "Type": "vxlan"
      }
    }
kind: ConfigMap
metadata:

[2020-06-08 08:33] notariuss commented on #90293
Same issue
kops, kubernetes 1.18.2
`Jun 08 08:31:22 ip-172-20-82-162 kubelet[2708]: W0608 08:31:22.792168    2708 volume_linux.go:49] Setting volume ownership for /var/lib/kubelet/pods/3c0e6aea-a4b7-453e-8ee9-e910a0016a8f/volumes/kubernetes.io~configmap/config and fsGroup set. If the volume has a lot of files then setting volume ownership could be slow, see https://github.com/kubernetes/kubernetes

[2020-06-08 08:48] Alien2150 commented on #91880
A few thoughts from my side:

1. Do you provide the port on the deployment file as container port?
2. If you include everything into Readiness / Liveness Probes it will load a big bunch of auto-wiring (Disk-Checks etc). See: https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready-health. SO including all checks ever 30 seconds might cause some timeouts :)
3. TO make

[2020-06-08 08:51] kobe860219 commented on #91892
/assign

[2020-06-08 09:01] njuptlzf commented on #91884
controller-manager exception:
F0608 16:41:27.360114   21286 node_ipam_controller.go:118] Controller: Invalid --cluster-cidr, mask size of cluster CIDR must be less than or equal to --node-cidr-mask-size configured for CIDR family
k8s.io/kubernetes/vendor/k8s.io/klog.Fatal(...)
        /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/vendor/k8s.io/klog/klog.go:1330

use --node-

[2020-06-08 09:01] #91884 closed

[2020-06-08 09:20] xinwen0328 opened #91895 "Ping timeout to CoreDNS Pod from another pod, yet ping works from Node Host"
###  ---My environment---
## My CoreDNS Pods and Services:

NAMESPACE     NAME                                       READY   STATUS    RESTARTS   AGE    IP
kube-system   coredns-66bff467f8-d9622                   1/1     Running   0          3d1h   10.217.99.129
kube-system   coredns-66bff467f8-t92zn                   1/1     Running   0          3d1h   10.217.99.130

NAMESPACE     NAME

[2020-06-08 09:29] #86951 closed

[2020-06-08 09:49] JohnJAS opened #91897 "Where is the new Hyperkube repo now?"
It looks like Hyperkube is not available in kubernetes  repo since 1.17, but there is nowhere mentioned about where it is now.

Reference in 1.17:
Hyperkube will now be available in a new Github repository and will not be included in the kubernetes release from 1.17 onwards (#83454, @dims)

[2020-06-08 10:17] dims commented on #91897
1.18 still has hyperkube image:
https://github.com/kubernetes/kubernetes/tree/release-1.18/cluster/images/hyperkube

1.19 will entirely drop the hyperkube image:
https://github.com/kubernetes/kubernetes/pull/88676

/close

[2020-06-08 10:17] #91897 closed

[2020-06-08 10:30] #87068 closed

[2020-06-08 11:09] rtheis commented on #87087
With the move to static distroless images in 1.19, we can close this issue.

[2020-06-08 11:09] #87087 closed

[2020-06-08 11:59] kong62 opened #91900 "HPA does not support multiple deployments in the istio"
**What happened**:
[code]

bech v1 pod:
[code]

v1 and v2 all scale up. not only v1
[code]

**What you expected to happen**:
only v1 pod scale

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
1.18
1.14

- OS (e.g: `cat /etc/os-release`):
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"

[2020-06-08 12:01] kong62 commented on #91900
/sig autoscaling

[2020-06-08 12:23] neolit123 commented on #91820
/assign

i can try to reproduce this later.

[2020-06-08 13:08] dims commented on #91866
/close

this was artificially inflated  as we were hunting down what turned out to be a runc issue.

[2020-06-08 13:08] #91866 closed

[2020-06-08 13:11] jkaniuk commented on #91774
@robscott - Could you triage this?

/cc @robscott

[2020-06-08 13:11] jkaniuk commented on #91774
/assign @robscott

[2020-06-08 13:14] jkaniuk commented on #91236
Second failure after two weeks of green 5k runs:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1269600395731144705

[2020-06-08 13:22] nirupbbnk opened #91903 "HPA not scaling down using helm"
Horizontal pod autoscler is not scaling down resources when doing with helm , but its working when using declarative scrips directly.

It should scaledown if its less than target value

How to reproduce it (as minimally and precisely as possible: use the below script
################
{{- if .Values.hpa.enabled -}}
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ t

[2020-06-08 13:33] ahg-g opened #91904 "Early filtering at PreFilter extension point"
Update the semantics of ```PreFilter``` extension point to allow it to act as an early filtering stage. PreFilter can be used to reject pods before evaluating each node at the Filter extension point. This is useful to quickly reject unschedulable pods in cases that don't depend on the particular node (e.g., pod requesting unbound immediate PersistentVolumeClaims).

A non ```Success``` PreFilter ge

[2020-06-08 13:34] draveness commented on #91904
/assign

[2020-06-08 13:35] PontusTideman commented on #91820
Will do a re-install on a clean VM now, and reproduce it.

[2020-06-08 13:37] michaelgugino commented on #91141
@mortent I think this is an interesting edge case.  I think the PR I have linked will fix the original issue as described.

The edge case is that between the time we list the pods and the time we call evict (or a possible subsequent call to evict in the drain loop), a pod with a statefulset could appear on a different node, and evict would attempt to evict that pod.  Once evict has been successful

[2020-06-08 13:45] liggitt commented on #91878
I don't see actual test failures, this appears to be a timeout at 2 hours. Successful runs typically range between 95 and 110 minutes (I saw one that took [117 minutes](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1266694769862512640)), so a slight build or test run delay would hit the timeout.

I know of two conformance tests that were just added las

[2020-06-08 13:52] liggitt commented on #91878
@BenTheElder, any idea why these two kind conformance jobs would look different, runtime-wise?

* https://testgrid.k8s.io/conformance-kind#conformance,%20master%20(dev)&width=20&graph-metrics=test-duration-minutes
* https://testgrid.k8s.io/conformance-kind#conformance-ga-only&width=20&graph-metrics=test-duration-minutes

[2020-06-08 13:56] hasheddan commented on #91774
/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.19

[2020-06-08 13:56] liggitt commented on #91878
looks like https://github.com/kubernetes/kubernetes/pull/80545 just got merged which added ~3 minutes of tests

[2020-06-08 13:57] hasheddan commented on #90955
Ref (different flake): https://github.com/kubernetes/kubernetes/issues/91774

[2020-06-08 13:58] PontusTideman commented on #91820
So, a clean VM with Debian 10:

Output of the $PATH gives three different outputs:

`root@K8smaster:~# echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
pontus@K8smaster:~$ echo $PATH
/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
pontus@K8smaster:~$ su -
Password:
root@K8smaster:~# echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`

First root is

[2020-06-08 14:00] hasheddan commented on #88974
@pjh do we have any update here? This job as well as `gce-windows-2019-master` has not passed for months. Are you getting any value from these tests? If not, I propose we move these off of the `master-informing` dashboard.

[2020-06-08 14:05] ahg-g commented on #91904
Example: https://github.com/kubernetes/kubernetes/issues/91755

[2020-06-08 14:05] PontusTideman commented on #91820
Please see this bug report: [https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=918754](url)

[2020-06-08 14:38] damemi commented on #91340
@alculquicondor unfortunately I don't have all of that information, I saw this on a cluster that someone else asked me to debug and didn't think to look at those. I'll follow up with that reporter and update

[2020-06-08 14:41] neolit123 commented on #91820
So kubeadm / kubelet required binaries are installed in a location that is not under PATH during `sudo kubeadm...` invocation?

i assume this is a potential workaround?

`sudo -E env "PATH=${PATH}" kubeadm ....`?

so the kubectl, kubeadm, kubelet package installation obviously need root and should be installed using `sudo apt-get...`. kubectl invocation doesn't need root depending on where the kub

[2020-06-08 14:42] neolit123 commented on #91820
/sig cluster-lifecycle
/remove-area kubeadm

[2020-06-08 14:47] neolit123 commented on #91820
ok, seems i might be misunderstanding the problem here.
this is about using `su` vs `su -`.

do you get the expected paths if you call `sudo ....` from a regular user login?

[2020-06-08 15:00] tedyu commented on #90334
@matthias50
If you have cluster running on docker, can you see if your pod definition can reproduce the log spamming problem on docker ?

thanks

[2020-06-08 15:19] lavalamp commented on #54579
References to things included in the type definition already seem safe. @sttts or @jpbetz might have thoughts?

[2020-06-08 15:38] alculquicondor commented on #91340
Please do. According to my initial investigation, a possible culprit could be a plugin missing to report a "reason". But looking through the codebase didn't reveal any in-tree problems.

[2020-06-08 15:38] alculquicondor commented on #91340
plugin or extender

[2020-06-08 16:25] #91817 closed

[2020-06-08 16:41] formanojhr commented on #68026
I am sure this is all not fixed. Am I missing something?
./hack/verify-golint.sh
installing golint from vendor
Congratulations!  All Go source files have been linted.

[2020-06-08 16:58] scardena commented on #91865
@liggitt that might be the reason, seems like managed node groups doesn't support dynamic kubelet by default, and there is no easy way to make them support it. There is a work in progress that will allow this in the future: https://github.com/aws/containers-roadmap/issues/596
Thanks!

[2020-06-08 16:58] #91865 closed

[2020-06-08 17:00] knight42 commented on #91876
@pandeyvinod I cannot reproduce this problem with the following steps, could you post the commands you execute?

1. create csr request
[code]

[code]

[code]

2. deny csr request
[code]

looks like it works as expected

[2020-06-08 17:08] hasheddan opened #91911 "[Failing Test] Conformance - GCE - master (ci-kubernetes-gce-conformance-latest)"
**Which jobs are failing**:

`Conformance - GCE - master (ci-kubernetes-gce-conformance-latest)`

**Which test(s) are failing**:

`[sig-scheduling] SchedulerPreemption [Serial] validates basic preemption works [Conformance]`

**Since when has it been failing**:

`06-08-20 07:22 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master

**Reaso

[2020-06-08 17:13] aojea commented on #91236
yep, :/

https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness&width=5&include-filter-by-regex=udp|UDP

/assign

[2020-06-08 17:15] madhanrm opened #91912 "Windows Kubeproxy doesn;t program SourceVip for LoadBalancer properly when multiple services has same nodeip backend"
**What happened**:
In Overlay mode, When 2 service has the same backend node IP, the LB was not programmed correctly causing datapath issues.

**What you expected to happen**:
Service data path to work properly
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or ha

[2020-06-08 17:15] madhanrm commented on #91912
https://github.com/kubernetes/kubernetes/pull/91886

[2020-06-08 17:17] zigmund commented on #88986
I've checked if workaround `ethtool --offload flannel.1 rx off tx off` is applicable for my issue (https://github.com/kubernetes/kubernetes/issues/76699, flannel, host-gw) - no difference.

[2020-06-08 17:23] Huang-Wei commented on #91891
@zhouya0 I don't think the parameters you mentioned is related with `TaintBasedEviction` feature. The eviction behavior has been existed for a while even without the feature `TaintBasedEviction`. What `TaintBasedEviction` does is just to apply a couple well-known NoExecute taints to nodes when they' re not ready or unreachable.

[2020-06-08 17:26] robscott commented on #91774
Maybe this is related to https://github.com/kubernetes/kubernetes/issues/91236?
/cc @aojea

[2020-06-08 17:56] snstanton opened #91913 "kubectl output flooded with warnings about aws-iam-authenticator"
**What happened**:
`kubectl -A describe pods`

Results in a flood of messages like:
`W0608 10:47:22.221620   25245 exec.go:203] constructing many client instances from the same exec auth config can cause performance problems during cert rotation and can exhaust available network connections; 3825 clients constructed calling "aws-iam-authenticator"`

**What you expected to happen**:

No warnings.

[2020-06-08 18:00] snstanton commented on #91913
/sig auth

[2020-06-08 18:01] snstanton commented on #91913
/sig cli

[2020-06-08 18:04] BobbyJohansen opened #91914 "Kubelet Failing to delete pod"
**What happened**:
This morning some of our API's became non-responsive due to the service not having endpoints for pods that were running. We noticed that the replica set for the set of pods was not quite healthy as expected. Here is an example of one of the applications that experienced this:
[code]
We found this odd because the pods looked like this:
[code]
They were all running and kubectl rep

[2020-06-08 18:07] markmandel commented on #90116
According to our community it looks like it is actually working for them:
https://github.com/googleforgames/agones/issues/54#issuecomment-640194765

Which is awesome.

[2020-06-08 18:11] agadelshin commented on #68026
@formanojhr you need to remove package from https://github.com/kubernetes/kubernetes/blame/master/hack/.golint_failures first.

[2020-06-08 18:24] BobbyJohansen commented on #91914
/sig node

[2020-06-08 18:25] BobbyJohansen commented on #91914
I am not certain it is sig-node but ill start there and see what people say. Could be sig scheduling

[2020-06-08 18:34] tedyu commented on #91914
[code]
Was there more log in CRI w.r.t. the above container ?

[2020-06-08 18:35] rikatz commented on #91331
@system51 did calico worked for you? If don't, can you please change the Daemonset from Calico to force it to use NFT?

https://discuss.kubernetes.io/t/connection-issues-with-pods-on-centos-8-nodes/8650/19

[2020-06-08 18:42] shivrajjadhav733 opened #91916 "readiness and liveness scope restriction"
I have

Windows 10
Springboot 2.1.1
kubernetes 1.13 using EKS
openjdk 11
cloud: AWS

application.yaml in my springboot application

[code]
deployment.yaml in kubernetes

[code]
Considering my application takes around 60-90 seconds to start, are below timeouts. initialdelay correct?

Currently when I go to api/actuator/health I see something like this:

[code]
How to add below restriction?
Liveness

[2020-06-08 18:43] shivrajjadhav733 commented on #91916
sig/windows
sig/cloud
sig/node

[2020-06-08 18:44] BobbyJohansen commented on #91914
There were logs within the docker container listing the licenses probe:
[code]

Is that what you mean? or is there some other component on the node you want me to look at logs?

[2020-06-08 18:45] BobbyJohansen commented on #91914
did not mean to close

[2020-06-08 18:46] shivrajjadhav733 commented on #91880
@Alien2150
1. Yes, I provide port on deployment file as container port.
2. Sure, I have changed periodSeconds: 60
3. I have provided health path as shown in deployment yaml configuration: api/actuator/health
Do I need to make any changes to that?

[2020-06-08 18:48] BobbyJohansen commented on #91914
I see similar logs from the daemon.log

[code]

[2020-06-08 18:52] tedyu commented on #91914
The container died:
[code]

[2020-06-08 18:56] BobbyJohansen commented on #91914
I see this if I grep the syslog
[code]

[2020-06-08 18:57] BobbyJohansen commented on #91914
so maybe the ` Unknown desc = Error: No such container` is unrelated to the experience I am seeing with the service endpoints not being inserted into the service?

[2020-06-08 19:56] ialidzhikov opened #91917 "ValidatingWebhook for Namespace called 2 times for 1 request"
**What happened**:
I have a `ValidatingWebhookConfiguration` with a rule for namespace deletion. When a namespace is deleted, the webhook is called 2 times.

**What you expected to happen**:
I would expect to have 1 call for 1 request.

**How to reproduce it (as minimally and precisely as possible)**:
I created a dedicated repository with sample manifests and steps to reproduce inside - https://gi

[2020-06-08 19:57] ialidzhikov commented on #91917
/sig api-machinery

[2020-06-08 20:19] brianpursley commented on #91740
@neolit123 @liggitt Here is a PR to move the kubeadm integration tests to the test/integration/kubeadm directory: https://github.com/kubernetes/kubernetes/pull/91826

I think it is a good change because it eliminates some of the special-case handling of kubeadm tests and extracts some of the integration test util functions that got inter-mixed with unit test util functions.

... But...
it wasn't e

[2020-06-08 20:20] docwhat commented on #23130
/remove-lifecycle rotten

[2020-06-08 20:29] BenTheElder commented on #91878
https://github.com/kubernetes/test-infra/blob/4badfd9f3777ed2ceb9eab83832bbab4bfa9bf19/config/jobs/kubernetes/sig-testing/conformance-e2e.yaml#L189
https://github.com/kubernetes/test-infra/blob/2eab27db6e653d809cd48ad06a35462f1aa3cf0e/config/jobs/kubernetes-sigs/kind/kind.yaml#L30
I don't see anything interesting config wise
- same image
- both decorated jobs
- same timeout I think, but one is exp

[2020-06-08 20:33] liggitt commented on #91878
if anything, I would have expected the GA_ONLY job to be slightly faster since discovery calls have to traipse through fewer API groups

[2020-06-08 20:35] BenTheElder commented on #91878
Ah wait -- I think only the GA only one is on the new WG k8s prow cluster
... Cluster may be overloaded still? cc @spiffxp

On Mon, Jun 8, 2020, 13:33 Jordan Liggitt <notifications@github.com> wrote:

[2020-06-08 20:37] liggitt commented on #91878
looks like APIListChunking and APIResponseCompression features are still beta... those being off could hurt performance a bit, though I'd only expect them to matter in large clusters

[2020-06-08 20:47] neolit123 commented on #91740
i've added a couple of comments on the PR. thank you for taking on this.
unclear whether splitting kubeadm source code in two locations is a good idea for the sake of better supporting `go test ...` calls.

i don't think `go test ./...` is an achievable goal or something we should push for.
claiming support for `go test ./cmd/...` makes more sense.

[2020-06-08 21:17] jackfarzan commented on #87935
/remove-lifecycle stale

[2020-06-08 21:21] jackfarzan commented on #87935
Having the same issue on EKS Kubernetes v1.15. HPA is `autoscaling/v2beta1`. Metrics server is running as expected, but HPA cannot get CPU usage.

[2020-06-08 21:29] tamalsaha opened #91919 "Provide an official kubectl docker image"
**What would you like to be added**:
We would like to see an official multi-arch `kubctl` docker image

**Why is this needed**:
We find ourselves needing to use `kubectl` as a pod various time. So, we maintain our own amd64 variant of the kubectl docker image. We see that other vendors also maintain their own kubectl image, example, https://github.com/rancher/kubectl . I don't speak for Rancher. B

[2020-06-08 21:29] tamalsaha commented on #91919
/sig cli

cc: @BenTheElder

[2020-06-08 21:40] Alien2150 commented on #91880
Did you adjust the base management url? Otherwise leave out /api

[2020-06-08 21:41] Alien2150 commented on #91880
Meanwhile there is something new in SpringBoot 2.3.0. It will automatically add two endpoints: /actuator/health/readiness and /actuator/health/liveness

[2020-06-08 21:42] #86881 closed

[2020-06-08 21:55] gnufied opened #91920 "api-server does not come up when using ./hack/local-cluster-up.sh"
This may be new but it looks like api-server is refusing to come up when started via `./hack/local-cluster-up.sh`. It fails with:

[code]

Could this be introduced by https://github.com/kubernetes/kubernetes/pull/91685 ?

cc @liggitt

/sig api-machinery

[2020-06-08 21:56] gnufied commented on #91920
A random commit before this merged - https://github.com/kubernetes/kubernetes/commit/019d3ee4380959d28da07a7b14fc7583833ca433 works

[2020-06-08 22:08] liggitt commented on #91920
if you make clean and rerun, does it come up correctly?

[2020-06-08 22:11] #89740 closed

[2020-06-08 22:19] gnufied commented on #91920
Looks like `make clean` did fix it. sorry about the noise.

[2020-06-08 22:19] #91920 closed

[2020-06-08 22:34] baens commented on #89008
/remove-lifecycle stale

[2020-06-08 22:57] tommasopozzetti commented on #88986
We have also been wrestling with this bug. We use calico with VXLAN, but the issue is precisely the same and seems to be related mostly to the vxlan interface and not really to flannel/calico. I did some digging and I found the following info, hopefully it can be useful to figure out a solution:

As others have mentioned, the 1 second delay seems to derive from a retransmission of the SYN packet w

[2020-06-08 23:09] Tejeev commented on #78376
Hi @tianchen92 what was your resolution and root cause?

[2020-06-08 23:18] grosser opened #91923 "Static pods fail preStop because container is not running"
I'm trying to make our api servers (which run as static pods) wait 5s before they shut down, so we do not end up with requests going to them when they are down.

[code]

I tried:
- moving the file in and out of manifests
- shutting down the node
- kubectl delete pod

but neither of them make the preStop hook run

[2020-06-08 23:20] grosser commented on #91923
/sig node
/sig api-machinery

[2020-06-08 23:27] liggitt commented on #91917
This is working as expected.

The first delete call sets deletionTimestamp. Then the namespace controller cleans up resources contained in the namespace, removes the finalizer, and issues a second delete request to remove the namespace API object.

I'm newer versions, the removal of the finalizer cleans up the API object as part of processing the update and no second delete request is required.

[2020-06-08 23:27] #91917 closed

[2020-06-08 23:35] zorro786 commented on #91038
@Huang-Wei Will `Extenders()` be ever marked deprecated?, since framework is the recommended way going forward.

[2020-06-08 23:43] wawa0210 commented on #91923
Can you check the kubbelet log for any information about lifecycle?

[2020-06-09 00:09] grosser commented on #91923
good idea ... the error is "container not running" ... so the hook gets called, but the container is already dead

[code]

[2020-06-09 00:23] brianpursley commented on #91740
Yeah, I'm starting to think @liggit's suggestion of just checking KUBEADM_PATH and skipping might be the best next move with least impact...

[2020-06-09 00:24] tedyu commented on #91923
Ref #91453

[2020-06-09 00:40] brianpursley commented on #91740
Or just leaving it how it is too, and maybe just update the docs like the original idea.

[2020-06-09 01:08] grosser commented on #91923
yeah, that sounds like it could help ... can wait for that to be released and then re-check :)

[2020-06-09 01:21] Huang-Wei commented on #91038
@zorro786 not in the near future. You can even combine using framework and extenders.

If we decide to deprecate Extenders, we will for sure go through the official deprecation cycle - support it for one year or 3 releases before removing it.

[2020-06-09 01:22] dims commented on #91919
@tamalsaha Sorry, we really really don't want to add more images that we have to care for in upstream. we are trying really hard to move things to distroless and trying hard to remove images we maintain. Looking for outside it seems "too easy", in the long term, it's expensive in terms of time/effort.

[2020-06-09 01:26] liggitt commented on #91913
cc @danielqsj , added in https://github.com/kubernetes/kubernetes/pull/80284

cc @deads2k , is describe constructing a new client per described object? I vaguely remember the factory rework long ago… any ideas?

[2020-06-09 01:28] AlexEyler opened #91924 "PowerRegisterSuspendResumeNotification error running kubectl on Azure App Services"
**What happened**:
When running `kubectl get nodes --output=json` in a Function App running on Azure App Services, we get the following error:
[code]

**What you expected to happen**:
kubectl returns the nodes for the cluster as a json string

**How to reproduce it (as minimally and precisely as possible)**:
* Create a function app (v2)
* Deploy a function that includes a reference to kubectl.exe

[2020-06-09 01:28] AlexEyler commented on #91924
/sig cli

[2020-06-09 01:32] AlexEyler commented on #91924
I think kubernetes upgraded to 1.13.9 of golang in v1.18.1, so hopefully upgrading one golang revision isn't too troublesome.

[2020-06-09 01:42] tedyu commented on #91914
[code]
Note the 10 second grace period didn't seem to be respected.

[2020-06-09 01:53] jejer commented on #91601
nodes were created before the daemonset.
suppose we used the default profile, which profile do you mean and how to check?
no extenders.
[code]
Another thing that may impact is the disk performance is not very good for etcd, etcd complains about slow operations.

[2020-06-09 03:12] zhouya0 commented on #91891
Yes..not directly related..
/cc @kevin-wangzefeng

[2020-06-09 03:13] lixiaobing1 commented on #91924
yeah，agree @AlexEyler, golang updated to 1.13.9 since k8s v1.18.0：

Changelog since v1.18.0
Changes by Kind
Feature
deps: Update to Golang 1.13.9
build: Remove kube-cross image building (#89398, @justaugustus) [SIG Release and Testing]

[2020-06-09 03:24] cofyc commented on #91755
/priority important-soon

[2020-06-09 03:25] justaugustus commented on #91924
Our next Golang update will be to go1.13.12.
You can track the work here: https://github.com/kubernetes/release/issues/1257

cc: @Verolop @markyjackson-taulia

[2020-06-09 03:28] cofyc commented on #91755
/remove-priority awaiting-more-evidence

[2020-06-09 04:43] #91703 closed

[2020-06-09 05:01] PurnimaChawla commented on #91872
I am using v1beta1 CRD version.

[2020-06-09 05:02] liggitt commented on #91872
To create a CRD that uses the defaulting feature, you will need to use the v1 CRD API.

[2020-06-09 05:04] PurnimaChawla commented on #91872
so you mean in v1beta1 version, it will not support?
it should be just v1

[2020-06-09 05:08] liggitt commented on #91872
correct, `apiextensions.k8s.io/v1` CRDs support specifying the `default` attribute for properties

[2020-06-09 05:14] liggitt commented on #91872
opened https://github.com/kubernetes/kubernetes/pull/91928 to clarify the reason in the returned message

[2020-06-09 05:18] PurnimaChawla commented on #91872
but if for version v1beta1 I want to enable the defaulting through feature gate, it that possible?
will it support? I am using  ocp 4.3 which has Kubernetes version 1.16

[2020-06-09 05:23] SataQiu commented on #91425
/assign

[2020-06-09 05:30] 13567436138 opened #91929 "kubectl top pod --sort-by the order is not right"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is

[2020-06-09 05:33] liggitt commented on #91872
no, using the v1 API is required to add default values to a CRD

[2020-06-09 05:36] zhouya0 commented on #91929
I believe this is already fix in later version. https://github.com/kubernetes/kubernetes/pull/82333

[2020-06-09 06:06] PontusTideman commented on #91820
Yeah, the su gives a normal users enviroment and the su - gives the root enviroment! So yeah, a heads up in the docs should be nice. Because this will mess up alot of things that needs to be run as root!

[2020-06-09 07:03] Sh4d1 opened #91932 "Can't change the size of a resizing pvc which hit the upper limit bound"
**What happened**:
If I resize a PVC with a size that is higher than the authorized upper bound, the PVC is stuck in resizing and the only way I found to change the size was to delete and recreate the PVC.

**What you expected to happen**:
To be able to correct the size without deleting the pvc

**How to reproduce it (as minimally and precisely as possible)**:
- Create a PVC with a valid size
- Re

[2020-06-09 08:07] iusergii commented on #86881
@justinsb could you please re-open this.

[2020-06-09 08:26] timoreimann commented on #91932
/cc @gnufied who may have context around this one.

[2020-06-09 09:07] bart0sh opened #91937 "kubelet hugepages and benchmark tests panic"
**Which jobs are failing**:

- ci-kubernetes-node-kubelet-serial-hugepages
- ci-kubernetes-node-kubelet-benchmark

**Which test(s) are failing**:

Node tests

**Since when has it been failing**:

It happens occasionally and started quite long time ago.

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-hugepages/1270133163225518083

**Reason

[2020-06-09 09:11] aojea opened #91938 "e2e framework: Remove/replace the "kube-proxy-mode-detector" mechanism"
**What would you like to be added**:

Remove/replace the "kube-proxy-mode-detector" mechanism used in the e2e test.

https://github.com/kubernetes/kubernetes/blob/a017253ace9017bb8716b2d46b57467b2c73af29/test/e2e/network/service.go#L3679

**Why is this needed**:

This is being used by some tests to detect the kube-proxy mode

https://github.com/kubernetes/kubernetes/blob/a017253ace9017bb8716b2d46b

[2020-06-09 09:11] bart0sh commented on #91937
/cc @dims @derekwaynecarr @vpickard @cynepco3hahue

[2020-06-09 09:12] aojea commented on #91938
/sig testing
/cc @neolit123 @alejandrox1 @BenTheElder @spiffxp

[2020-06-09 09:12] bart0sh commented on #91937
/sig node

[2020-06-09 09:46] EKwongChum commented on #85979
similar error in my  kubernetes cluster which use nfs as storage method.
when i try `kubectl describe pod my-pod`

[code]

it seems to be a storage problem. After restart my nfs server, it disappear.

[2020-06-09 09:50] wxdlong opened #91940 "DualStack: nodes and hostNetwork pods have only a single IP"
**What happened**:

I want to deploy k8s with IPV4/IPv6 dual stack.
But node internal IP always only one either IPV4 or IPV6.
Pod IP can auto assigned IPV4,IPV6 calico,  IPv6 Service also work.
But NodeType only listener at IPV4, not IPV6.

[code]

**What you expected to happen**:

As https://kubernetes.io/docs/tasks/network/validate-dual-stack/  said.

[code]

**How to reproduce it (as minimally

[2020-06-09 09:56] aojea commented on #91940
hi @wxdlong your configuration is correct, however, this is a known issue with a cluster that does not have a cloud controller manager handling the node addresses.

There is a KEP addressing this problem
https://github.com/kubernetes/enhancements/pull/1665 , and hopefully it will be solved soon

[2020-06-09 10:00] aojea commented on #91940
/sig network
/kind feature
/remove kind/bug

[2020-06-09 10:02] aojea commented on #91940
/remove-kind bug

[2020-06-09 10:32] rafael-fecha commented on #74350
Is this feature already supported somehow on storageOS volumes ? If not, is it on roadmap ? Thanks in advance !

[2020-06-09 10:32] zjcnew opened #91941 "Nodes often leave the cluster, state is NotReady"
From time to time, there will always be a node that leaves the cluster, the pod runs normally but the business service access fails. The node load is not high, the resources are still free, and the network is no problem. Attach the log file.
[messages.tar.gz](https://github.com/kubernetes/kubernetes/files/4751591/messages.tar.gz)

[2020-06-09 11:13] verb commented on #87770
Just ran into this issue, I'm also curious about this. Can I send a PR to remove the 1.0 compatibility, or would this change require broader discussion/proposals?

[2020-06-09 11:25] george-angel commented on #64616
/reopen

[2020-06-09 11:45] guruprasadgvmf commented on #79523
whats the update here?

[2020-06-09 11:58] zhipengzuo commented on #91941
maybe some  error with apis or etcd? and you can also check your network status.
![image](https://user-images.githubusercontent.com/54702578/84144784-6e8afd00-aa8b-11ea-84d9-b22c773c2e5f.png)

[2020-06-09 11:58] hallgeirl commented on #87199
I have an update to this issue. It's still an issue on 1.17.5 (we plan to use 1.17 when it goes into GA on AKS this summer). However if I use Object metrics and target the deployment itself (after adding labels on the pods in order for prometheus adapter to map the metrics to the deployment), it works as expected without this crazy scaling.

Here's what works:

`
apiVersion: autoscaling/v2beta2
ki

[2020-06-09 12:08] zhipengzuo commented on #91445
can you offer more config for the svc by "kubectl get svc xxx-server -o yaml" . you can also see the difference with port ,targetport ,nodeport  at https://kubernetes.io/docs/concepts/services-networking/service/ for debug.

[2020-06-09 12:20] edganiukov commented on #64616
/reopen

[2020-06-09 12:34] neolit123 commented on #91820
i guess a warning/note on this page will suffice:
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

PRs welcome too!

/kind documentation
/remove-priority awaiting-more-evidence
/priority backlog

[2020-06-09 12:45] taggelos opened #91944 "imagePullPolicy when defined without a value defaults to Always not to IfNotPresent"
**What would you like to be added**:

The documentation suggests that "The default pull policy is IfNotPresent"
This is not the case when imagePullPolicy is defined under the spec section in a Pod definition without a specific value.

Example:
[code]
This will result in a Pod having imagePullPolicy as Always.

**Why is this needed**:

This is needed for clarification of the default behaviour.
It i

[2020-06-09 12:47] neolit123 commented on #91938
seems fine as long as the issue description explains how exactly it should be improved.

[2020-06-09 12:52] taggelos commented on #91944
/sig docs

[2020-06-09 13:10] xing-yang commented on #91932
Here's KEP trying to address this problem: https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1790-recover-resize-failure

[2020-06-09 13:12] Sh4d1 commented on #91932
Damn I missed it 😅 Thanks @xing-yang !
/close

[2020-06-09 13:13] #91932 closed

[2020-06-09 13:26] tedyu commented on #91941
[code]
There were quite a few messages involving the above form.

Can you check apiserver log to see if there was some clue ?

Which k8s release are you using ?

[2020-06-09 13:27] JonathanParrilla commented on #29789
How is this issue still open? I appreciate that I can look up the UI of the service and realize that the ELB naming convention is "a<service UUID>", but that is not ops friendly, or programmer friendly.

We should be able to determine the name of the ELB upon creation within the yaml file. No different than we establish tags, ports, SSL certs, and everything else...except the name.

[2020-06-09 13:31] #81172 closed

[2020-06-09 13:32] alculquicondor commented on #91601
Yes, those flags would make scheduler run with the default profile. I'll continue looking. I still couldn't reproduce.

[2020-06-09 13:33] jethrogb commented on #62366
/remove-lifecycle stale

[2020-06-09 13:35] ahg-g commented on #91911
/cc @Huang-Wei could this be caused by https://github.com/kubernetes/kubernetes/pull/91750?

[2020-06-09 13:43] bitsofinfo commented on #51835
currently have pods stuck for 2+ days in terminating state.

[2020-06-09 13:43] RobertKielty opened #91947 "gce-ubuntu-master-default failing to start up"
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default
**Which jobs are failing**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1270276104552189952
**Which test(s) are failing**:
All tests
**Since when has it been failing**:
June 9th 21:44 PDT
**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-defau

[2020-06-09 13:44] wxdlong commented on #91940
Thanks your quickly reply, If so, do you known that the node port for IPV6 is also can't work. and Inside pod that can't access outside through ipv6?

Currently that our pod can't access IPV6 outside, i guees it because of K8s node-ip not known the IPV6, so it will not add the route rule or something in IPtable.

[2020-06-09 13:49] RobertKielty commented on #91947
/priority critical-urgent
/sig testing

[2020-06-09 14:25] dims commented on #91937
@bart0sh here's the follow up - https://github.com/etcd-io/etcd/issues/11992

[2020-06-09 14:27] aojea commented on #91938
:thinking: the kube-proxy configmap is only used by kubeadm?

[2020-06-09 14:28] Fresa commented on #89163
@mlbiam yes, portforward also uses channels. Also, note that kubelet responds with the port number on data and error channels when creating the websocket connection for port forwarding as seen here: https://github.com/kubernetes/kubernetes/blob/97145d685cad1e387346e152b8d48d836f808ce1/pkg/kubelet/cri/streaming/portforward/websocket.go#L133

I've been digging through the websocket implementation fo

[2020-06-09 14:47] mcristina422 commented on #47202
I think that this should be documented under https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#cron-job-limitations

[2020-06-09 15:01] BobbyJohansen commented on #91914
Interesting so the container somehow died on its own? Would this indicate docker killed it itself?

[2020-06-09 15:17] jdef commented on #78664
/remove-lifecycle stale

[2020-06-09 15:19] lavalamp commented on #87770
I think all of the code sites mentioned in the OP are questionable and can be improved.

403:
* If all discovery endpoints are returning 403, the functions should return an error.
* If some discovery endpoints are returning 403 but not others, that's confusing, but should probably be tolerated at least as well as we tolerate random aggregated apiservers being unresponsive.

404:
* If all discovery

[2020-06-09 15:24] nickyfoster commented on #31548
I had the same issue.
I was using ansible to generate secret.

Adding `b64encode` fixed this problem for me.

[code]

[2020-06-09 15:39] alejandrox1 commented on #91263
For future reference, the tests running in this job were labeled as flaky here https://github.com/kubernetes/kubernetes/pull/78548

[2020-06-09 15:45] pires opened #91951 "leader-elect-resource-lock should be leases"
**What happened**:

Documentation states `kube-scheduler` and `kube-controller-manager` have a flag `--leader-elect-resource-lock` which can be set to `endpoints` (default) or `configmaps`. This is way outdated. Possible values seem to be `configmapleases`, `endpointleases` and, more importantly `leases`. The latter should be the default by now given the multi-lock implementations were there for m

[2020-06-09 16:02] wawa0210 commented on #91944
The imagePullPolicy default value  is `Always`.

https://kubernetes.io/docs/concepts/containers/images/#pre-pulled-images

[2020-06-09 16:03] AlexEyler commented on #91924
Thanks! I'll follow that item then

[2020-06-09 16:03] #91924 closed

[2020-06-09 16:05] neolit123 commented on #91938
i don't think so:
https://github.com/helm/charts/tree/master/stable/prometheus-operator#kubeproxy

[2020-06-09 16:19] taggelos commented on #91944
In this paragraph https://kubernetes.io/docs/concepts/containers/images/#updating-images
you can see that

In your reference it points out the default action for the kubelet, not the behaviour when imagePullPolicy is declared.

Please do have in mind that the imagePullPolicy option for Never is mentioned only in this paragraph in the document.

[2020-06-09 17:11] codeblooded commented on #65036
/reopen

[2020-06-09 17:11] celestehorgan commented on #90277
I stumbled upon this issue WRT Docs PR https://github.com/kubernetes/website/pull/21591 –

Is there any plan to follow through on this in the existing codebase? I understand that this is the plan going forward, but I'd like to see a retroactive name change of classes, files, and methods in the current codebase for the following reasons:

- As a developer naming a new feature which may involve an a

[2020-06-09 17:16] codeblooded commented on #65036
😭 -- is there any way we could reopen this? I struggled to find documentation on the informer factories. I learned how to use them from some blog posts on Medium.

[2020-06-09 17:18] misterikkit commented on #65036
/reopen

I agree, we don't have adequate docs on how to properly use informers. Proper testing of code that relies on informers is even trickier, and has less documentation.

[2020-06-09 17:19] Huang-Wei commented on #91911
@ahg-g the error happened on updating a node:

[code]

So it's less likely related with #91750. I think we should be either using patching instead of updateStatus, or retry to reduce the chances of conflicts.

I will work on a PR.

[2020-06-09 17:26] BenTheElder commented on #91938
sync.Once ?

[2020-06-09 17:26] lavalamp commented on #65036
/lifecycle frozen

[2020-06-09 17:27] BharathB23 commented on #10921
Hello!!

   I am new to kubernetes, and was facing the same issue as reported here. I am using "Kubernetes v1.18.3" and weave-net as the pod-network add-on.

   One my application requires the client address, from where the request originated for further processing, but the RemoteAddr is containing the IP address from the range used by kube-proxy. Service is deployed as NodePort type and followed

[2020-06-09 17:41] alculquicondor commented on #91911
/assign @Huang-Wei

[2020-06-09 18:21] emilwallner opened #91954 "TCP Retransmission when a process takes more than 360 seconds on GKE"
**What happened**:
I make a POST request to a Flask app wrapped in Gunicorn that makes a 360 seconds delay. Then, the app returns the response and sends a TCP package [FIN, ACK] to close the connection with the client. However, this response is lost between the Pod and the NodePort. The client never gets the response and the [FIN, ACK] package. The app is stuck sending a TCP Retransmission. I make

[2020-06-09 18:27] emilwallner commented on #91954
/sig network

[2020-06-09 18:27] Huang-Wei commented on #91911
Basically I think the flake is due to other tests are updating node.status(.capacity) (such as #91243) along with the preemption tests. #91955 tries to use "patch" to replace "updateStatus".

[2020-06-09 19:25] occasionallydavid opened #91959 "Treat unmapped Docker volumes as a configuration error"
**What would you like to be added**:

Presently a container spec referencing a Docker image which declares some volumes that are not mapped in the spec will have some implicit temporary volumes mounted in place, presumably by Docker and not Kubernetes.

Should a configuration contain a typing mistake or incorrect path, a presumed persistent directory may become surprisingly transient, with little

[2020-06-09 19:28] occasionallydavid commented on #91959
/sig storage

[2020-06-09 19:47] Urvik08 commented on #90996
Hi @khenidak  I am sorry I couldn't update earlier on this because of some personal time off. The solution has moved away from nic `eth0` to nic `eth2` and I was caught up in that afterwards. Anyways after this move, I ran the same experiment again multiple times and I could see the node being marked "Not Ready" in a minute(~55 sec) and in another minute pods running on the node moved to other nod

[2020-06-09 19:48] liggitt commented on #91876
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/88937 and was fixed in 1.17 in https://github.com/kubernetes/kubernetes/pull/84400

with kubectl 1.18.0:

[code]

[code]

[code]

[code]

[code]

/close

[2020-06-09 19:49] #91876 closed

[2020-06-09 19:55] liggitt commented on #91944
If an image tag of "latest" is used, the imagePullPolicy defaults to to "Always":

https://github.com/kubernetes/kubernetes/blob/d49d045a35a67359b7ddb018c679ed2a645e5f19/staging/src/k8s.io/api/core/v1/types.go#L2241-L2243

If no tag and no digest are specified on the image, an image tag of "latest" is used:

https://github.com/kubernetes/kubernetes/blob/d49d045a35a67359b7ddb018c679ed2a645e5f19/pkg

[2020-06-09 19:56] heckad opened #91960 "Why image name in metrics is empty?"
[code]

Why container, image, name are empty?

versions:
[code]

[2020-06-09 19:59] heckad commented on #91960
/sig api-machinery

[2020-06-09 20:20] fedebongio commented on #91686
Thank you Jordan for taking a look!

[2020-06-09 20:23] fedebongio commented on #91709
We discussed this one, Mike will send PR, Daniel will review.

[2020-06-09 20:25] fedebongio commented on #91710
/cc @lavalamp

[2020-06-09 20:27] fedebongio commented on #91732
/assign @MikeSpreitzer

[2020-06-09 20:32] fedebongio commented on #91753
Hi @kadisi we discussed this one on the triage meeting.

There are multiple ways of setting timeouts, context is one of them. Can you describe a little bit more how you would expect it to work?

If you are open to send a PR with a proposed fix we can also take a look.

Thanks!

[2020-06-09 20:34] aboyett commented on #75890
Critical daemonsets are a necessary part of a secure, instrumented cluster. Whether it is a logging daemon, CNI-provider or the GKE metadata service it should be possible to prevent workloads from being scheduled on a node until these critical pods are running.

[2020-06-09 20:39] lavalamp commented on #91710
Does your code work when you run it against a local process (e.g. using the exec package to start a tty/shell/command)? I'd get it working locally before trying to go through the k8s exec api. If you find a bug doing that, please let us know.

Unfortunately this isn't the right forum for this kind of question--I'd try stack overflow?

[2020-06-09 20:39] #91710 closed

[2020-06-09 20:44] zhan849 opened #91963 "Kubelet tries to connect to API server via closed connection"
**What happened**:
We've seen kubelet trying to talk to API server via closed connection. Here is one example but the error exists in the underlying kube client:

[code]

Couple of things to notice:
- such failure can last for hours without re-establishing connection.
- Node will appear to be not ready so control plane behaves as expected
- Kubelet will report "ok" in healthz endpoint so it's hard