[2020-01-04 16:43] #79779 closed

[2020-01-04 16:49] healfy commented on #51835
There are no Finalizers in the issued pod

[2020-01-04 16:54] cwdsuzhou opened #86835 "Patch status of volumeAttachment(StorageV1) does not work"
**What happened**:

When we upgrade volumeAttchment api version from v1beta1 to v1 in external-attcher, we found we can patch volumeattachment would return error, but the volumeAttachment .

See https://github.com/kubernetes-csi/external-attacher/pull/200

Patch status of volumeAttachment(StorageV1) does not work

**What you expected to happen**:

Successfully path volumeAttachment successfully.

[2020-01-04 16:55] cwdsuzhou commented on #86835
/assign

I have found reason, I will send a PR to fix it

[2020-01-04 17:12] neolit123 commented on #86835
/sig storage

[2020-01-04 17:13] cwdsuzhou commented on #86835
/sig api

[2020-01-04 17:20] cwdsuzhou commented on #86835
@liggitt @msau42

I am not sure if  we should change this func.
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/storage/volumeattachment/strategy.go#L103

Because I see the comment of the initial PR
https://github.com/kubernetes/kubernetes/pull/69929#discussion_r232444074

[2020-01-04 17:30] samkrish123 commented on #83308
I had similar issue, I just following following step.
Purge following application.
apt-get purge -y kubelet kubeadm kubectl  docker.

apt-get update && apt-get upgrade -y
apt-get install -y docker.io
apt-get install -y kubeadm=1.16.1-00 kubelet=1.16.1-00 kubectl=1.16.1-00 docker.io=1.16.1-00

Then it started working.
Note: I was using Ubuntu 16.04, there is compatibility issue, so we need to updat

[2020-01-04 17:44] #81078 closed

[2020-01-04 17:44] #80013 closed

[2020-01-04 18:01] nikhita commented on #86834
Done!
/close

[2020-01-04 18:01] #86834 closed

[2020-01-04 20:47] #80535 closed

[2020-01-04 22:39] #86729 closed

[2020-01-04 23:45] liggitt commented on #86835
Volume attachment status must be patched via the /status subresource in v1. The ability to change those fields via the main resource in v1beta1 was an unintentional oversight.

/close

[2020-01-04 23:45] #86835 closed

[2020-01-05 01:07] 27Bslash6 commented on #78879
/reopen

[2020-01-05 01:11] peterloron commented on #27308
The K8S ecosystem _really_ needs a clean, flexible way to manage and switch between contexts for multiple clusters/users.

[2020-01-05 01:50] Colstuwjx opened #86838 "e2e failing tests for pull-kubernetes-e2e-gce etc"
**Which jobs are failing**:
for PR #86829, they are: pull-kubernetes-e2e-gce, pull-kubernetes-e2e-gce-100-performance and pull-kubernetes-verify

**Which test(s) are failing**:

[code]

**Since when has it been failing**:
I'm not sure, but PR #86829 is **NOT THE ONLY ONE**, lots of PR needs to fire `/retest` again and again, and it waste our time indeed, since each test may cost our nearly one hou

[2020-01-05 01:52] #75485 closed

[2020-01-05 01:52] #81095 closed

[2020-01-05 01:52] Colstuwjx commented on #86838
/area e2e-test-framework
/sig testing

[2020-01-05 02:45] k82cn commented on #69276
/reopen

I'd like to continue this work in upstream :)

[2020-01-05 02:47] k82cn commented on #69276
xref https://github.com/volcano-sh/volcano/issues/623

[2020-01-05 02:47] k82cn commented on #69276
/wg machine-learning

[2020-01-05 02:50] k82cn commented on #68357
/close

I'm going to close this issue as we're going to build those features in [Volcano](http://github.com/volcano-sh/volcano), and we'll raise necessary enhancements to upstream if any :)

[2020-01-05 02:50] #68357 closed

[2020-01-05 02:58] k82cn opened #86839 "Support pod binding in batch"
**What would you like to be added**:

Bind Pods in batch/array.

**Why is this needed**:

[Volcano](http://github.com/volcano-sh/volcano) supports gang-scheduling which will bind several pods together when there're enough resources. The performance downgraded extraordinarily as the `minMember` of `PodGroup` increaseing. The atomic binding is **un-necessary** as the volcano will help to handle the

[2020-01-05 02:59] k82cn commented on #86839
/sig api-machinery

[2020-01-05 02:59] k82cn commented on #86839
/assign

[2020-01-05 03:00] k82cn commented on #52757
/wg machine-learning

[2020-01-05 03:25] liggitt commented on #86838
Thanks for opening the issue. Flaking tests are being tracked in individual issues per test. Many of the tests you reported already have an open issue tracking them, but feel free to open issues for any that are missing. See the list of open issues at https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Akind%2Fflake

As a point of reference, test flakes have been particul

[2020-01-05 03:25] #86838 closed

[2020-01-05 03:28] liggitt commented on #86812
@jpbetz does an etcd restore restore ttls on keys?

[2020-01-05 03:30] liggitt commented on #86839
Since this is targeted at api-machinery, it's unclear what capability this is requesting. Is this asking for atomic multi-resource write transactions?

[2020-01-05 03:31] #86771 closed

[2020-01-05 03:36] cwdsuzhou commented on #86835
Thanks

[2020-01-05 04:55] #81021 closed

[2020-01-05 05:04] k82cn commented on #86839
oh, I'd like to have the ability to bind several pods to serveral nodes in **one** request, for example, we'd like to pod_1 to node_1, pod_2 to node_2 ..., and send those binding in **one** request. We don-t need atomic binding, as the scheduler will retry it in next scheduling cycle and abort the whole 'job' if it cann-t get more resources :)

[2020-01-05 05:08] k82cn commented on #69276
We have several discussions at ML-WG meeting on this topic, and we'd like to find a suggested solution for that. I'd like to trace related discussion/enhancement in this issue :)

[2020-01-05 05:09] k82cn commented on #69276
/remove-lifecycle stale

[2020-01-05 05:09] k82cn commented on #69276
/remove-lifecycle rotten

[2020-01-05 05:56] #81147 closed

[2020-01-05 06:11] krohrsb commented on #85020
Though re reading the original post my scenario doesn't seem quite the same

[2020-01-05 06:40] draveness commented on #79234
/remove-lifecycle stale

[2020-01-05 06:53] nilo19 opened #86841 "Provider/Azure: Enrich unit test cases."
**What happened**:

Currently, the unit tests are not enough for cloud provider azure.

**What you expected to happen**:

Enrich the unit tests.

- [x] `azure_controller_vmss.go`
- [ ] `azure_vmss.go`
- [ ] `azure_instance_metadata.go`
- [ ] `azure_instance.go`
- [ ] `azure_managed_disk_controller.go`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2020-01-05 06:55] nilo19 commented on #86841
/sig cloud-provider

[2020-01-05 07:02] nilo19 commented on #86841
/sig provider-azure

[2020-01-05 07:33] #86479 closed

[2020-01-05 09:15] nimmnisanthosh commented on #44665
it worked thanks

[2020-01-05 10:16] draveness commented on #86789
The following semantics seems vague, and I think we should reach consensus on some cases when disabled plugins are involved.

https://github.com/kubernetes/kubernetes/blob/41b2948dabfe38665c9f6c91919472ab9f0785f8/pkg/scheduler/apis/config/types.go#L155-L159

Suppose we have two default plugins, `DefaultPlugin1` and `DefaultPlugin2`, the `DefaultPlugin1` runs before `DefaultPlugin2`, here are the c

[2020-01-05 10:24] draveness commented on #86789
Do you have any other cases not mentioned here?

[2020-01-05 11:01] #70229 closed

[2020-01-05 11:33] bharaththiruveedula commented on #86779
@neolit123 @gprossliner can I work on this please?

[2020-01-05 11:47] reith commented on #69882
I've been watching this issue since I liked our CNI to not watch for Pods but we already had kubeclient to manage CRDs representing our container links, so I was in agreement with @ofiliz . Now I'm changing our CNI for a nested environment, e.g. a Pod of a kubernetes in VMs which have their interfaces managed by another kubernetes. This inner CNI should talk with two API servers, inner kubernetes

[2020-01-05 12:02] #77728 closed

[2020-01-05 12:02] savitharaghunathan opened #86843 "Migrate Kubelet flags to config"
As a part of on-going migration of Kubelet flags to config by WG Component Standard group, below is a summary of flags that can be migrated, and flags with special cases,

**Kubelet flags to migrate:**

- [ ] --CertDirectory
- [ ] --RegisterNode
- [ ] --kubeconfig
- [ ] --bootstrap-kubeconfig
- [x] --runonce
- [x] --enable-server
- [x] --provider-id - Assigned to knabben
- [x] --cloud-provider - A

[2020-01-05 12:03] savitharaghunathan commented on #86843
/assign @mtaufen @stealthybox

[2020-01-05 12:05] savitharaghunathan commented on #86843
/wg component-standard

[2020-01-05 12:16] hainesc commented on #86471
Please make sure kube-proxy is running at the node which you detect the connection.

[2020-01-05 12:19] hainesc commented on #86451
Please run `kubectl describe node` to see the reason of NotReady.

[2020-01-05 13:24] ahg-g commented on #86789
Those cases sound right, I don't have others.

[2020-01-05 14:43] neolit123 commented on #86779
Sure, but please note these ideas are not yet approved by the kubelet
maintainers.

[2020-01-05 14:58] ahg-g commented on #86435
/assign @damemi

/remove-help

[2020-01-05 16:15] ssshaik commented on #86668
close

[2020-01-05 16:42] inoam commented on #43299
Well, that helped me as well when using informer with tweakList (no examples in documentation).
Let's push it a bit: can I watch single resource, when only some of it's fileds changed? for example I want to get notified only in case some label on specific pod has changed? (sure I can do it on client code...)

[2020-01-05 16:48] liggitt commented on #43299
No, watches are for the entire object.

[2020-01-05 16:55] manukoli1986 opened #86846 "Getting ClusterIPOutofRange Error occurred since v1.17 upgraded."
**What happened**: Since we upgraded to v1.17, whenever we are deploying any new service it it not accessible. Though we can get connect to endpoints but not the same pod/endpoint via service.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.17

[2020-01-05 17:22] matthyx commented on #57660
I just came after reading an article linking to here...
@brancz if you really want this to advance you should open a KEP and find a sponsoring SIG.
This is the standard way to propose API changes.

[2020-01-05 17:34] tedyu commented on #86846
Can you paste the log where ClusterIPOutofRange was observed ?

[2020-01-05 17:43] manukoli1986 commented on #86846
![image](https://user-images.githubusercontent.com/19152093/71783728-f8342b80-3010-11ea-9c78-9db481a34694.png)
Please find the events

[2020-01-05 19:00] tedyu opened #86851 "Skip sorting Requirement slice in variant of SelectorFromValidatedSet"
**What would you like to be added**:
The sorting step in SelectorFromValidatedSet can be skipped.

**Why is this needed**:
Looking at the references to SelectorFromValidatedSet(), the return value is used for calling api-server where sorted key is not required.

With sorting:
[code]
Without sorting:
[code]

[2020-01-05 19:00] tedyu commented on #86851
/sig api-machinery

[2020-01-05 19:00] tedyu commented on #86851
/cc @deads2k

[2020-01-05 19:09] #81169 closed

[2020-01-05 19:15] liggitt commented on #86851
We probably don't need issues tracking things like this. My one question is whether the sorting is required so that comparison (equality checks) and serialization is normalized

[2020-01-05 20:00] binudba commented on #44275
This is how I solved it. Please take a look.
https://github.com/binudba/Troubeshooting-K8s-issues/blob/master/kube-apiserver-forbidden-messages.md

[2020-01-05 20:11] ialidzhikov commented on #67047
I thinks this issue needs to reopened because sample-apiserver still does not support protobuf.
Can we reopen this issue instead of opening a new one?

Could you please put `/reopen`?

[2020-01-05 20:26] tedyu commented on #86851
e2e test results are good.

There is some unit test assertions to be adjusted.
e.g.
[code]
I cannot see difference from the above output or, in IDE.

[2020-01-05 20:44] liggitt commented on #86846
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/86497 and will be resolved in 1.17.1

[2020-01-05 20:44] #86846 closed

[2020-01-05 20:45] levindoneto commented on #44275
It works just fine now, thanks @binudba 😀

[2020-01-05 20:46] levindoneto commented on #44275
This works just fine for me, thanks @binudba 😀

[2020-01-05 20:48] liggitt commented on #86839
A multi-resource write operation is a net new concept… given the lack of atomicity you describe, the only benefit seems to be a single request over multiple requests. It's not clear to me that benefit warrants the added complexity.

sig-node / sig-scheduling would be the primary drivers of the API, though api-machinery / architecture could give guidance on potential mechanisms.

/priority awaiting

[2020-01-05 20:49] liggitt commented on #86839
/sig scheduling

[2020-01-05 21:01] blkwtch opened #86853 "kube-apiserver is not starting"
**What happened**:
"kube-apiserver" with CrashLoopBackOff: "Back-off 5m0s restarting failed container
**What you expected to happen**:
kube-apiserver to start normally
**How to reproduce it (as minimally and precisely as possible)**:
following this: https://coreos.com/kubernetes/docs/1.6.1/deploy-master.html
**Anything else we need to know?**:

**Environment**:
[code]
- Cloud provider or hardware

[2020-01-05 21:11] #80311 closed

[2020-01-05 21:13] jpbetz commented on #86812
Yes, a restore does restore the ttls that existed at the time the backup was saved.

The ttls will be no shorter in duration then they were when the backup was saved. E.g. if there was a ttl of 5 minutes at the time the backup was saved, it will be no less than 5 minutes when restored.

[2020-01-05 21:45] bg-chun commented on #73933
/cc

[2020-01-05 22:26] liggitt commented on #86853
That seems to be a very old version (1.6.1 vs the current 1.17.0) using an external guide. I would recommend using a current version with a deployment guide on kubernetes.io (e.g. https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/) or working with the authors of the external guide to resolve issues found while following it.

[2020-01-05 22:26] #86853 closed

[2020-01-05 23:21] anguslees commented on #86773
Why an error?  Shouldn't "unspecified `service.Spec.IPFamily`" be interpreted as IPv4 (especially!) when IPv6DualStack=false?  For both backwards compatibility (easier upgrades), and .. afaics there's no other reasonable interpretation in this situation.

[2020-01-06 00:14] #77700 closed

[2020-01-06 01:45] wgliang commented on #86803
According to my actual experience, in addition to the default provider for kubelet, a custom algorithm is also necessary.

The scenario is: the user needs to shield some of the factors that trigger the eviction of the kubelet, thereby reducing the risk of the application.

[2020-01-06 01:54] MnrGreg commented on #75175
I'm putting together a PR [CAPV/699](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/pull/699) to incorporate Regions and Zones into both the in-tree VCP and external CPI deployments. I've noticed that with the in-tree VCP, kubelet is not able to consume the secret data and authenticate.

Both the `secret` and `vsphere.conf` are correctly constructed by CAPV in the test environment

[2020-01-06 02:00] yingnanzhang666 commented on #85792
@ahg-g

[2020-01-06 02:03] k82cn commented on #86839
The benefit is performance improvement when we enable gang-scheduling; we'll send several bind requests to apiserver in a `for` loop when we get enough resources :)

[2020-01-06 03:02] huchengze commented on #86808
@aojea This  [issue](https://github.com/kubernetes/kubernetes/issues/81760) just changed the way how to create a hyperkube image, but didn't say why not change the tag.
I find that when the hyperkube's base image use tag 0.4.1 and before, it is
[code]
and when it use tag v1.0.0 and after, it is
[code]
Is this why hyperkube haven't changed its base image's tag?

[2020-01-06 03:17] #52032 closed

[2020-01-06 03:20] BobyMCbobs commented on #86087
Thanks for the snapshot of the Components, our mock-test returns similar data.

[2020-01-06 03:24] liggitt commented on #86839
That seems similar to the approach for instantiating multiple pods for a replicaset during a scale up operation (simple create requests in a loop). That can be parallelized to complete faster, but it's not clear a bulk API is warranted.

[2020-01-06 03:29] #84085 closed

[2020-01-06 04:09] achimnol commented on #52757
As @sakjain92 noted, container-level fractional GPU sharing must be done in the lower level (e.g., accelerator drivers), but also the orchestration framework (k8s) must be able to handle fractional values for resource types.

I've been doing an open-source framework called [Backend.AI](https://github.com/lablup/backend.ai) to support such fractional sharing scenarios for containers. It comes with

[2020-01-06 05:34] MikeSpreitzer opened #86862 "sharedProcessor::resyncCheckPeriodChanged looks unnecessary"
**What happened**:
I studied https://github.com/kubernetes/kubernetes/blob/0f61791bc7330c8402e6b9fe93a86ad064607f77/staging/src/k8s.io/client-go/tools/cache/shared_informer.go (that's from the commit to which `master` currently points) and noticed what appears to be unnecessary code complexity.  Notice that the `resyncCheckPeriod` of a sharedIndexInformer only shrinks, and never changes after `sta

[2020-01-06 05:34] MikeSpreitzer commented on #86862
@kubernetes/sig-api-machinery-bugs

[2020-01-06 05:37] MikeSpreitzer commented on #86862
@ncdc

[2020-01-06 05:56] MikeSpreitzer commented on #86862
Also, the use of `wait.ExponentialBackoff` on line 652 looks unnecessary, because the ConditionFunc always returns `true, nil`.

[2020-01-06 05:59] jonfairbanks commented on #42552
`while true; do clear && kubectl get hpa --watch && sleep 1; done`

[2020-01-06 06:01] jonfairbanks commented on #42552
/remove-lifecycle rotten

[2020-01-06 06:04] meezaan commented on #78761
My pods downscaled after 5 minutes of the load disappearing from them. I'm running k8s 1.16.1. This is also discussed on https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/.

If you want to tweak it HPA yaml though, I'm not sure where this will go.

[2020-01-06 06:16] k82cn commented on #86839
hm... it's blocked by qps of kube-apiserver, so a parallelized binder did not make it faster; and we can not increase qps only for binding request. For example, it'll take 20s to create pods, 1s to do the scheduling, and 20s to bind to the host: if enable gang-scheduling, it'll take 41s (20s + 1s + 20s) to do that; if disable gang-scheduling, it'll take ~20s to do that as the pod can be dispatched

[2020-01-06 06:25] k82cn commented on #86839
btw, is it possible to make that extendable?

[2020-01-06 06:37] blkwtch commented on #86853
i don't think it's the version is causing the issue

`Jan 06 06:36:00 core-01 kubelet-wrapper[744]: E0106 06:36:00.286882     744 pod_workers.go:186] Error syncing pod f8ff1a12648f30aa1210806ece6b7c91 ("kube-apiserver-10.0.2.11_kube-system(f8ff1a12648f30aa1210806ece6b7c91)"), skipping: failed to "StartContainer" for "kube-apiserver" with ImagePullBackOff: "Back-off pulling image \"quay.io/coreos/h

[2020-01-06 06:52] MikeSpreitzer commented on #86862
See also #86774

[2020-01-06 07:02] brancz commented on #76302
/remove-lifecycle stale

[2020-01-06 07:07] OPSTime opened #86864 "kubeadm alpha certs renew all: apiserver-etcd-client is not a valid certificate for this cluster"
**Versions:**

[code]

**kubeadm alpha certs check-expiration  --config /etc/kubernetes/kubeadm.conf**

[code]

**kubeadm alpha certs renew all --config=/etc/kubernetes/kubeadm.conf  --v=5**

[code]

**cat /etc/kubernetes/kubeadm.conf**
[code]
**openssl x509 -in etcd/apiserver-etcd-client.crt -noout -text**
[code]

[2020-01-06 07:07] brancz commented on #57660
I’m fully aware how this project works and am actively thinking about this also in larger scope than hpa but potentially iterating on the metrics APIs we defined as sig instrumentation.

[2020-01-06 07:25] birdream commented on #17763
I am having the same problem, A services is requesting the B service through the B service name and they are both in the same k8s, but it just happen ENOTFOUND error sometimes,  and I am not sure the code you gave in the nodejs can solve that problem..is there anyone know how to fix that?

[2020-01-06 07:32] stealthybox commented on #86843
Thank you for all of the meticulous detail in this issue.

I agree with many of the suggestions here. This has prompted me to start looking at the more esoteric flags you pointed out.

[2020-01-06 07:51] jjangga0214 opened #86865 "Disable Kubernetes pod update when container digest is same even if different image tag is given"
**What would you like to be added**:

Let's say I have an image `foo` with tag `v1`.
So I deployed a pod by `foo:v1`.

However, for some reason(e.g. monoversion in monorepo), I pushed the exact same image to container registry with tag `v2`. And I changed k8s manifest to `foo:v2`.

In this situation, I want to update the pod only when the `image digest` of `v1` and `v2` are different. So in the ca

[2020-01-06 07:55] jjangga0214 commented on #86865
/sig Apps

[2020-01-06 08:08] summer0248 opened #86866 "How to properly deploy persistent-connection server in k8s?"
**My current situation:**
1、We have a proxy server, which maintains persistent-connection with the clients（we use TCP protocol，Not HTTP）
2、By maintaining persistent-connection with clients, the proxy server can identify client(we build the mapping relation between conn and related data) and push message to specific client
3、The proxy servers works well  in virtual machine environment.

**My proble

[2020-01-06 08:09] OPSTime commented on #86864
/remove-sig cluster-lifecycle
/sig cli

[2020-01-06 08:12] Jack0005 opened #86867 "how to migrate pod to specific nodes without change pod'configuration"
**What would you like to be added**:
Migrate pods to specific nodes without change pod'configuration.
example: pod A's label : labeA=podA;node N's label: labelB=nodeB;
Migrate pods with labeA to node with labeB, without  change  pod's configuration.
**Why is this needed**:
we build two PASS and  they share one k8s cluster. Now we want to differentiate pods of two platforms to different nodes,witho

[2020-01-06 08:14] summer0248 commented on #86866
/sig network

[2020-01-06 08:46] bharaththiruveedula commented on #86526
@julianvmodesto can you please assign this to me?

[2020-01-06 09:05] uablrek commented on #86773
Because it is an configuration error. Since the user has enabled the feature-gate half-way he/she expects dual-stack to work, but it can't. If this faulty configuration is just accepted this issue will be the first in an endless stream of duplicates.

An unspecified family will be set to the "main" family of the cluster (which may be ipv6) by the master processes (api-server?) when the feature-gat

[2020-01-06 09:26] WeihanLi opened #86868 "localization problem with kubernetes"
**What happened**:

the localization behaves abnormal with kubernetes, normal with docker stack(normal with docker run/ docker compose),

with kuberbetes deploy:

![image](https://user-images.githubusercontent.com/7604648/71806689-67a72b00-30a4-11ea-82b6-b3c9f859c187.png)

docker deploy:

![image](https://user-images.githubusercontent.com/7604648/71806746-8f968e80-30a4-11ea-814c-515638ea63b2.png)

[2020-01-06 09:47] #86868 closed

[2020-01-06 10:04] kosta709 commented on #69262
the delay is still can be very big
this is because azure api call for disk attach returns after at  35s-2min and kubelet goes to its exp. backoff retries so it can reach 2min timeout
adding attached recording:
called 3 disk simultaneous attach with interval ~2s and saw `watch tree /dev/disk/azure/scsi1` and `az vmss list-instances ...`
So actual attachment takes ~10s (device appears in /dev/disk/a

[2020-01-06 10:33] brancz commented on #75779
/remove-lifecycle stale

[2020-01-06 11:19] birdli66 commented on #77869
/close
Seems it won't happen (as your robot's intelligence does not seem to be sufficient implement it ;-)).

[2020-01-06 11:19] #77869 closed

[2020-01-06 11:33] devopsgoat commented on #86776
Hi. This issue can be closed - the issue was found with an erroneous ConfigMap change. The ConfigMap had a key used by the container (in a mount). This could be seen from within the container when running "df":

Simply deleting the pods fixes this issue.

It would be nice to have some tooling that could identify this issue. Docker debug and strace did not help identify the source of the problem. T

[2020-01-06 11:33] #86776 closed

[2020-01-06 11:44] mattjmcnaughton commented on #75355
Confirming this flake is still top-ten after we merged https://github.com/kubernetes/kubernetes/pull/85847?

Thanks for all your work here @liggitt !

[2020-01-06 13:07] pohly commented on #78879
/reopen

[2020-01-06 13:55] julianvmodesto commented on #86526
Yes we could use some help here!

There are many places we'll need to identify and update in documentation, comments and tests for this upcoming change for this release cycle.

/assign @bharaththiruveedula

[2020-01-06 14:03] liggitt commented on #86839
I'm not sure what you're referring to

[2020-01-06 14:04] arjunrn commented on #86349
/assign @josephburnett

[2020-01-06 14:16] liggitt commented on #86590
yes, moving the timeout-building context part out of the loop makes sense. it would also make sense to check if the context has an error before making the request and returning early

[code]

[2020-01-06 14:58] liggitt commented on #86418
four of the top ten flakes according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2020-01-06 14:59] liggitt commented on #86370
four of the top ten flakes according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2020-01-06 15:00] liggitt commented on #85762
top flake according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2020-01-06 15:01] droslean opened #86872 "[Failing Test] capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)

**Since when has it been failing**:
`22th Dec 2019`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/milestone

[2020-01-06 15:04] liggitt commented on #75355
no longer top-ten, but still flaky - https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Pods%20should%20support%20pod%20readiness%20gates%20&width=5

[2020-01-06 15:09] droslean commented on #86809
@neolit123 Thanks for the correction!

@andrewsykim @cheftako Can you take a look?

[2020-01-06 15:12] Eslamanwar commented on #60140
/reopen
same error here
[code]

[2020-01-06 15:13] droslean opened #86873 "[Failing Test] kubeadm-kinder-upgrade-1-17-master (ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-17-master)"
**Which jobs are failing**:
kubeadm-kinder-upgrade-1-17-master (ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-17-master)

**Since when has it been failing**:
`22th Dec 2019`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-1-17-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/milestone v1.18
/sig clust

[2020-01-06 15:16] droslean commented on #80534
/milestone v1.18

[2020-01-06 15:18] droslean commented on #84514
/close

We should have a single issue open for each flake.

[2020-01-06 15:18] #84514 closed

[2020-01-06 15:21] droslean commented on #81824
/milestone v1.18

[2020-01-06 15:23] droslean commented on #85814
/retitle [Flaking Test] gce-cos-k8sbeta-serial (ci-kubernetes-e2e-gce-cos-k8sbeta-serial)

[2020-01-06 15:23] liggitt commented on #86312
@kubernetes/sig-node-bugs the runc race condition fix has been merged at https://github.com/opencontainers/runc/pull/2185

I think the next steps are getting a runc release cut and propagating that fix into the container runtimes we use in Kube CI (docker and containerd). Who on the sig-node side would be the right people to drive those?

[2020-01-06 15:25] tedyu commented on #86862
@MikeSpreitzer
Do you want to submit PR with removal of resyncCheckPeriodChanged ?

[2020-01-06 15:31] droslean commented on #86390
Closing since the job is green.
/close

[2020-01-06 15:31] #86390 closed

[2020-01-06 15:38] aojea commented on #85894
Seems the port allocator HA was discussed heavily in the past and it is difficult to change current logic #34417

[2020-01-06 15:40] droslean commented on #85814
/retitle [Flaky Test] gce-cos-k8sbeta-serial (ci-kubernetes-e2e-gce-cos-k8sbeta-serial)

[2020-01-06 15:44] w00jay commented on #76935
/remove-lifecycle stale

[2020-01-06 16:00] neolit123 commented on #86873
/assign
we are already tracking the problem here too:
https://github.com/kubernetes/kubeadm/issues/1981

the problem is in the kubelet and there is a PR to fix it:
https://github.com/kubernetes/kubernetes/pull/86689

sig-node are notified for approval of that PR, yet everyone is still on vacation it seems.

[2020-01-06 16:13] ncdc commented on #86872
At the very least, need to backport https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1444 to the CAPA release-0.4 branch. But @randomvariable is looking into additional fixes.

[2020-01-06 16:22] gustavotpd commented on #30961
Make sure that you openned the .yaml file with windows notepad, I have experienced this error with notepad++.

[2020-01-06 16:30] #81222 closed

[2020-01-06 17:05] droslean opened #86876 "[Failing Test] gce-cos-k8sbeta-serial (ci-kubernetes-e2e-gce-cos-k8sbeta-serial)"
**Which jobs are failing**:
gce-cos-k8sbeta-serial (ci-kubernetes-e2e-gce-cos-k8sbeta-serial)

**Since when has it been failing**:
`5th Jan 04:11 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-informing#gce-cos-k8sbeta-serial

**Reason for failure**:
check https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-serial/1214162754521272322

**Anythin

[2020-01-06 17:10] tuminoid commented on #78854
/reopen

This is still valid.

[2020-01-06 17:16] tuminoid commented on #85894
Ugh, that dates back to 2016... Thanks for the effort anyways, @aojea. I guess I'll go write some more fallback code and retry logic into CI scripts :(

[2020-01-06 17:24] liggitt commented on #86812
@jpbetz and that's true for leases (etcd v3) as well?

@chaudyg when you have an etcd cluster in this state, what does the following output:

[code]

[2020-01-06 17:30] droslean opened #86878 "[Flaky Test] aks-engine-azure-1-17-windows (ci-kubernetes-e2e-aks-engine-azure-1-17-windows)"
**Which jobs are failing**:
aks-engine-azure-1-17-windows (ci-kubernetes-e2e-aks-engine-azure-1-17-windows)

**Since when has it been failing**:
`5th Jan 07:06 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-1-17-windows

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig cloud-provider
/milestone v1.18
/

[2020-01-06 17:33] droslean commented on #86878
/area provider/azure

[2020-01-06 17:36] droslean opened #86879 "[Failing Test] aks-engine-azure-1-16-windows (ci-kubernetes-e2e-aks-engine-azure-1-16-windows)"
**Which jobs are failing**:
aks-engine-azure-1-16-windows (ci-kubernetes-e2e-aks-engine-azure-1-16-windows)

**Since when has it been failing**:
`22th Dec 2019 (last log)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-1-16-windows

**Reason for failure**:
check https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-16-w

[2020-01-06 17:38] droslean commented on #86879
/sig cloud-provider
/area provider/azure

[2020-01-06 17:44] droslean opened #86880 "[Failing Test] cip-postsubmit-push-to-staging (cip-postsubmit-push-to-staging)"
**Which jobs are failing**:
cip-postsubmit-push-to-staging (cip-postsubmit-push-to-staging)

**Since when has it been failing**:
This is a postsubmit of `kubernetes-sigs/k8s-container-image-promoter` repository.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-misc#cip-postsubmit-push-to-staging

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/p

[2020-01-06 17:46] blkwtch commented on #86853
[code]

[2020-01-06 17:49] yujuhong commented on #86312
For the GCE tests, we'd need a new COS image once the new runc release is available.
@cheftako

[2020-01-06 17:53] droslean commented on #85814
/milestone v1.18

[2020-01-06 17:55] listx commented on #86880
So this is the "create a staging image of the promoter upon a merge to its master branch" job so that I don't have to do it manually myself.

As for the failure, I am probably doing something wrong but from the logs it's hard to tell what I'm doing wrong.

I don't think this is critical as it is not blocking the official promoter or anything.

[2020-01-06 17:55] liggitt commented on #76064
matching assigned priority on PR

[2020-01-06 17:56] khenidak commented on #86773
was the feature gate enabled on the `api-server`?

if so then this field will always be there. There is no need to check for `nil`. What is supported is api-server feature flag:on + kube proxy's feature flag: off. But not the other way around

[2020-01-06 17:56] spiffxp commented on #86179
To follow up here, this was confirmed as root-caused, fixed and restored by https://github.com/kubernetes/kubernetes/pull/86348

[2020-01-06 17:58] listx commented on #86880
I think the error could be that the service account for `deployer@...` doesn't have creds to push to the buckets. I'll post another update later.

[2020-01-06 17:58] droslean commented on #86880
@listx Thanks for the quick response. So, since this job is not critical, can we removed it from testgrid or is there a good reason to keep it there and just ignore the alerts?

[2020-01-06 18:01] listx commented on #86880
I should be able to fix it this week; if that deadline passes then we can move it to another testgrid dashboard.

[2020-01-06 18:07] iusergii opened #86881 "AWS NLB: support multiple TLS certificates"
**What would you like to be added**:
Elastic Load Balancing now support [multiple TLS certificates](https://aws.amazon.com/about-aws/whats-new/2019/09/elastic-load-balancing-network-load-balancers-now-supports-multiple-tls-certificates-using-server-name-indication/).  Respective support for configuring list of certificates ARNs for Service type Load-Balancer.

**Why is this needed**:
We have requi

[2020-01-06 18:12] johngmyers commented on #60535
/remove-lifecycle rotten

[2020-01-06 18:12] iusergii commented on #86881
/sig cloud-provider

[2020-01-06 18:15] iusergii commented on #73297
AWS NLB now support SNI and we can have multiple TLS here. Filed a new features request - 86881.

[2020-01-06 18:23] aojea commented on #85894
I think that another option may be playing with the Load Balancer in front of the apiservers to do the create-delete operations in the same apiserver 🤔

[2020-01-06 18:24] Kent-H commented on #79175
/remove-lifecycle stale

[2020-01-06 18:29] liggitt commented on #53201
We can queue up a review for it. @thockin / @smarterclayton, either of you available to look at that?

The things I would expect to see:
* A feature gate controlling the loosening of the envvar name validation, initially in alpha state and defaulting to false
* Two sets of validation logic for envvar names:
  * Current validation
  * Relaxed validation
* Everywhere we validate envvar names in API

[2020-01-06 18:32] jpbetz commented on #86812
Yes, actually, I only tested v3 leases. I don't know what v2 ttls do. But v3 leases are definitely restored.

[2020-01-06 18:36] droslean commented on #86491
We hit https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1214224542038233089 today as well.

@liggitt @spiffxp FYI

[2020-01-06 18:48] jpbetz commented on #86812
I don't know if this helps, but here are the master lease objects decoded to yaml:

incorrect:

[code]
correct:

[code]

[2020-01-06 18:49] evillgenius75 opened #86882 "v1.18.0 Release Notes: "Known Issues""
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.18 Release Notes. If you know of issues or API changes that are going out in 1.18, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @kubernetes/release-team

/sig release
/milestone v1.18

[2020-01-06 19:02] jpbetz commented on #86812
@chaudyg which etcd version are you running? I've tested that on etcd 3.4.1 that after a restore that leases remain attached to objects correctly and they get removed when the lease expires, but I'd like to test on the exact etcd version you are running to be sure.

[2020-01-06 19:10] jpbetz commented on #86812
Steps to verify that etcd is correctly deleting objects attached to a lease after a restore:

[code]

[2020-01-06 19:34] neolit123 commented on #86880
/sig release

[2020-01-06 19:35] neolit123 commented on #86881
/area provider/aws

[2020-01-06 19:39] MikeSpreitzer commented on #86862
@tedyu : I decided to start with a PR that extends the testing to prove my observations.  See #86883 .

[2020-01-06 19:46] neolit123 commented on #86867
one way is taints and tollerations:
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration

if your nodes are tainted, pods will not schedule on them.
if you untaint the node pods will schedule.

using this you can setup your Pods once and move them based on Node taints.

/remove-kind feature
/remove-sig node
/triage support

[2020-01-06 19:46] neolit123 commented on #86867
/sig apps

[2020-01-06 19:59] mitar commented on #69637
/remove-lifecycle stale

[2020-01-06 20:08] sciffer commented on #78761
I see the exact same problem with kubernetes 1.15.6(setup via kops).
I have a deployment with with HPA set to min 2 max 5, played with the target and scale up seems to be happening(almost immediately after I created load) - but scale down does not seem to happen or get triggered(even when it shows 0%).
I played with the target value to figure out if I can cause it to scaledown and noticed a flappi

[2020-01-06 20:15] ahg-g commented on #86373
Right, but in https://github.com/kubernetes/kubernetes/issues/86373#issuecomment-570186182 you say "and the nodes are already partitioned with different labels which can only used by cooresponding team ", which indicates that the teams didn't share any resources.

We don't have the concept of a tenant in k8s (perhaps namespaces is the closest to tenants), and so we need to introduce a new type to

[2020-01-06 20:20] jingxu97 opened #86884 "err variable shadowing issue in e2e/storage/utils file"
In a few utility function in current test/e2e/storage/utils, we found that the err variable gets shadowed. Because of this, it might get nil pointer error.
See code https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/utils/utils.go#L76

[2020-01-06 20:30] ahg-g commented on #85792
Those are interesting heuristics, but how do we make sure that they work properly for everyone?

[2020-01-06 20:33] jpbetz commented on #86812
etcd 3.3.10 (used by kops 1.14) works correctly as well- after a restore a leases remain attached to objects and those objects get removed when the lease expires.

[2020-01-06 20:34] jpbetz commented on #86812
@chaudyg can you tell us any more about the details of the backup/restore process? We're looking for anything that might tell us if there is a way to get etcd in a state where leases are not restored when a backup is restored.

[2020-01-06 20:44] liu-cong commented on #86126
Hi @yiyang5055 , are you still interested in completing this?

#86247 is closed, and we need a replacement PR to read `e2e_scheduling_duration_seconds`, which is a Histogram.

[2020-01-06 20:46] vllry opened #86887 "Custom controllers should be able to use k/k defaulting logic"
**What would you like to be added**:
Add an API to access defaulting for k/k resources. The API should accept an object, and return the defaulted result.

**Why is this needed**:
Suppose I am writing a custom controller that manages pods, or some resource that contains a PodSpec.

Some PodSpec fields/subfields, such as `dnsPolicy` are set to defaults by the Kubernetes API. My controller submits an

[2020-01-06 20:47] vllry commented on #86887
/sig api-machinery

[2020-01-06 21:08] neolit123 opened #86888 "create an OWNERS file in /test/e2e/apimachinery"
the apimachinery package here:
https://github.com/kubernetes/kubernetes/tree/master/test/e2e/apimachinery

lacks an OWNERS file, thus often times the SIG might not see changes in this package.
review and approval is delegated to top-level `/test` OWNERS which is not ideal.

**request for the SIG**: create an OWNERS file in the package and pick the maintainers

for reference https://github.com/kube

[2020-01-06 21:15] renpengzhang commented on #86694
Question1: The volumes template you gave is within the Deployment config file, what you mean by saying "change this part for the other 2 nodes"?

Question2: If I have to explicitly set different volume templates in different nodes in order to make only 1 node can write to the volume, does this mean the AccessMode make no affect here?

[2020-01-06 21:24] spiffxp commented on #86317
failures filtered down to "CSI mock volume"
- pull-kubernetes-e2e-gce failures two weeks ago: https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-12-23&pr=1&job=pull-kubernetes-e2e&test=CSI%20mock%20volume&xjob=kops-aws&xtest=%5C%5BSlow%5C%5D
- pull-kubernetes-e2e-gce failures today: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-e2e&

[2020-01-06 21:24] #86317 closed

[2020-01-06 21:44] hbagdi opened #86889 "kube-proxy IP-tables blocks connections to ExternalTrafficPolicy:Cluster"
**What happened**:

1. There is a 5-node k8s cluster with two masters. Masters are tainted to run workloads.

2. We deploy [kong](github.com/kong/kong) as Kubernetes Service of type NodePort ([config here](https://gist.github.com/hbagdi/61bdafe23d5972835ddba981fec94d43)). External applications do TCP connections (HTTP 1.0, no keep-alive) to perform health-checks every 15 seconds. These health-chec

[2020-01-06 21:44] hbagdi commented on #86889
/sig network

[2020-01-06 21:46] lblackstone commented on #83639
/remove-lifecycle stale

[2020-01-06 21:50] clamoriniere commented on #84248
Hi,

I created the [`/node` endpoint KEP](https://github.com/kubernetes/enhancements/pull/1038), and I think it has some synergy with this issue.

I would like to add some comments on @serathius remark. I think that the order to magnitude mentioned is a bit overestimated. I check on several nodes and the current '/pods' JSON payload is about 80ko for 10 pods; the maximum number of pod per Kubelet

[2020-01-06 23:18] mitar commented on #50309
But how does pod know how to find itself on the apiserver?

[2020-01-06 23:36] #45173 closed

[2020-01-06 23:38] vincentmli commented on #86587
nothing logged from the docker that is running on the node, did you login the node and check the docker log?

[2020-01-07 00:08] mtaufen commented on #86843
Thanks @savitharaghunathan, this looks great! Let's move ahead and try an example PR migrating one of the flags, how about --volume-plugin-dir?

[2020-01-07 00:11] savitharaghunathan commented on #86843
@mtaufen , @stealthybox - Thanks for your guidance, help with review, and knowledge transfer. I would be happy to start with migrating --volume-plugin-dir.

/assign

[2020-01-07 00:12] DirectXMan12 commented on #82292
/remove-lifecycle stale

[2020-01-07 00:14] samos123 commented on #50309
That's a good question :) it doesn't know so guess my response isn't useful in that case. It would assume the executing pod knows it's own pod name.

[2020-01-07 00:28] mitar commented on #50309
Name maybe, but not ID?

[2020-01-07 00:38] #65618 closed

[2020-01-07 01:04] BenTheElder commented on #86182
where did this wind up? ref https://github.com/kubernetes/kubernetes/pull/82334

[2020-01-07 01:36] Jack0005 commented on #86867
i want to build two logical clusters in one k8s. tainte and tollerations doesn't meet my needs.  it lead to some node  not to be used. And i want the status of the logical cluster could be hold on with label. it  looks like: i have two cluster in one k8s.

[2020-01-07 02:03] yingnanzhang666 commented on #85792
@ahg-g
The main idea is that
1. FailedScheduling pods shouldn't block pods with same priority or lower priority
2. If cap adding by nodes provision or removing pod, FailedScheduling pods(have opportunity to meet resource requirement) with high priority should be scheduled first.
Currently, this mechanism is added in priority queue, only the cluster which enable podpriority can use this.
I think th

[2020-01-07 02:06] #86717 closed

[2020-01-07 02:09] gnufied commented on #84226
Will this cause any surprises for users who previously managed to delete PVs from unresponsive nodes and now they can't?

[2020-01-07 02:24] liggitt commented on #86182
We have another round of patch releases coming up… have the release script issues been root caused?

[2020-01-07 02:30] hormes commented on #86483
Because the watcher will rewatch in 5-10 minutes, we find in practice that it is more appropriate to send a bookmark in 1-2 minutes if no event has been sent.

This works well on most cases, and the final bottleneck will become apiserver memory limit. Because apiserver cache does not support page list, list from apiserver cache consumes apiserver memory. There are two solutions to this problem. On

[2020-01-07 02:35] akhilles commented on #39420
can confirm that firewall rules are not being deleted when cluster is destroyed (v 1.14.8-gke.12)

[2020-01-07 02:53] #85926 closed

[2020-01-07 02:54] #85918 closed

[2020-01-07 02:55] #85691 closed

[2020-01-07 02:55] #85927 closed

[2020-01-07 02:59] #82390 closed

[2020-01-07 03:00] ahg-g commented on #82180
This will be deprecated as part of deprecating v1.Policy

[2020-01-07 03:00] #82180 closed

[2020-01-07 03:00] yqwang-ms commented on #86373
See the head line of https://github.com/kubernetes/kubernetes/issues/86373#issuecomment-570186182, I have simplified the problem, so reader can foces on the HOLB. Let me update the comment to include more details.

1. the backoff time need to be tuned back and forth, too much cluster operator maintance efforts.
2. large backoff time will sacrifice other things, such as large scheduling latency (#8

[2020-01-07 03:00] #82427 closed

[2020-01-07 03:04] tanjunchen commented on #86052
auth
rc
resource
security
for now , nothing to do.
/cc @SataQiu

[2020-01-07 03:09] smarterclayton commented on #86887
I'm not sure even an API is sufficient for your case - during a rolling upgrade there are two valid defaulting strategies in place, and depending on which one you get you'll get different values.

Matching specs is generally considered "a hard problem" even within an identical server and version (deployments have continually struggled with it), and even with defaulting it is not foolproof.  Usuall

[2020-01-07 03:11] liggitt commented on #86887
I agree with what Clayton said, but if you really want to see the result of a creation, dry run would let you see the result without actually committing the result.

[2020-01-07 03:12] liggitt commented on #86887
(https://kubernetes.io/docs/reference/using-api/api-concepts/#dry-run)

[2020-01-07 03:18] ahg-g commented on #86373
We can, feel free to create an issue and send a PR.

[2020-01-07 03:22] Hughen commented on #71765
Is there any progress?
Custom `detach-keys` are very meaningful.

[2020-01-07 03:25] debu99 commented on #42963
any update?

[2020-01-07 03:31] debu99 commented on #74527
any update?

[2020-01-07 03:33] yqwang-ms commented on #86373
Thanks @ahg-g, I can handle the PR later.
BTW, it is also just an alleviator like #81263, we can continue discuss the final solution here :)

[2020-01-07 03:44] k82cn commented on #86839
Customized api to modify default kinds (e.g. Pod).

[2020-01-07 04:41] #79718 closed

[2020-01-07 04:41] #69767 closed

[2020-01-07 04:42] vllry commented on #86887
That's a good point, the closer I look, the less sense a DeepEquals check makes in all scenarios.

/close

[2020-01-07 04:42] #86887 closed

[2020-01-07 05:39] vllry opened #86897 "run_crd_tests flaking"
**Which jobs are flaking**:
pull-kubernetes-integration

**Which test(s) are flaking**:
run_crd_tests

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/82462/pull-kubernetes-integration/1214414030366576641

**Reason for failure**:
[code]
I am unfamiliar with this test, but the log sug

[2020-01-07 05:57] liggitt commented on #86897
/sig cli api-machinery

[2020-01-07 06:31] HelenaZheng opened #86898 "“No Route to Host“ watched after one node reboot in cluster"
**What happened**:
One node in the k8s cluster was reboot， then we saw something wrong in our application.
We find some ingormation in ingress as follow:

2020/01/06 21:53:13 [error] 62741#62741: *590097349 connect() failed (113: No route to host) while connecting to upstream, client: 30.68.0.49, server: security-rule.lufax.app, request: "POST /security-rule-app/service/rt-rule/batch-risk-inspecti

[2020-01-07 06:38] HelenaZheng commented on #86898
kube-proxy we use the mode=iptables
/sig network

[2020-01-07 06:49] Dhatchana commented on #79365
Experiencing the same issue:

apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: dontdeletedcshpa
  namespace: docu
spec:
  maxReplicas: 5
  minReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: dontdeletedcs-pg
  targetCPUUtilizationPercentage: 80

-------------------------------------------------------------
kubectl describe hpa dontdele

[2020-01-07 06:53] Dhatchana commented on #25275
We are facing the similar issue. There is no way to identify with the present hook whether the shutdownhook is called during descaling or restart or upgrade scenarios.

Let us know how to fix this.

[2020-01-07 07:12] MikeSpreitzer commented on #86765
I think we should not have to be mystified and then dig an error message out of a log.  This problem should be made to go away, or the necessary work explained somewhere up-front.

[2020-01-07 07:31] daixiang0 commented on #86432
hi, mind have a look?@liggitt

[2020-01-07 09:42] droslean opened #86902 "[Failing Test] gce-cos-master-default (ci-kubernetes-e2e-gci-gce)"
**Which jobs are failing**:
`gce-cos-master-default (ci-kubernetes-e2e-gci-gce)`

**Since when has it been failing**:
`7th Jan 21:27 PST`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-cos-master-default

**Reason for failure**:
[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/milestone v1.17
/sig release
/priority critical-urgent

[2020-01-07 09:47] rahulagnihotri commented on #41193
+1 for the requirement . I understand the complexity in providing this feature . <br>
Just in case if anyone is looking for a  temporary hack of removing secrets from pod post container is in  "running" state  an approach  consisting of init container along  with shared volume can be used as described in following PR. <br>
https://github.com/rahulagnihotri/k8ssecuresecreader

[2020-01-07 11:05] k332772194 opened #86903 "newmounter initialization failed ,tell the path is not exist,but i am sure the path is exist ,the kubernetes is 1.15"
![Uploading image.png…]()

[2020-01-07 11:05] k332772194 commented on #86903
![SXHVAP4_Y%%N%E4UEWYR PW](https://user-images.githubusercontent.com/39399043/71891066-b32f0700-3180-11ea-8dbb-4b2e49f30742.png)

[2020-01-07 11:18] draveness commented on #82476
/close

[2020-01-07 11:18] #82476 closed

[2020-01-07 11:20] #86300 closed

[2020-01-07 11:20] #41504 closed

[2020-01-07 12:00] skilxn-go opened #86906 "Add PodBindingCache to FrameworkHandle Interface"
**What would you like to be added**:
Pass BindingCache to FrameworkHandle for user to get some pre-binding information when implementing scheduler framework plugins

**Why is this needed**:
In our use case, we use scheduler framework plugins to manage a lot of disks and ssds, so we need this information for some reserving work when scheduling.
But currently it's not passed to framework plugins usa

[2020-01-07 12:01] skilxn-go commented on #86906
/sig scheduling

[2020-01-07 12:01] skilxn-go commented on #86906
/assign skilxn-go

[2020-01-07 12:04] janosi commented on #23880
@feiskyer I started working on the KEP.

[2020-01-07 12:11] lorantonodipo opened #86907 "Service not noticing if AWS ELB is deleted manually"
**What happened**:
Kubernetes 1.15.7.
We are using AWS ELBs as kubernetes services. The ELB was deleted, the kubernetes service still thinking the ELB is there.

**What you expected to happen**:
Kubernetes service realises that the ELB is gone and recreates it. (tried on 1.14.7 ELB got recreated)

**How to reproduce it (as minimally and precisely as possible)**:
Create a service with an AWS ELB, d

[2020-01-07 12:16] lorantonodipo commented on #86907
/sig cloud-provider

[2020-01-07 12:18] lorantonodipo commented on #86907
/sig network

[2020-01-07 12:22] wojtek-t opened #86908 "Scheduler is failing in alpha presubmits"
[code]

e.g. here:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/86377/pull-kubernetes-e2e-gce-alpha-features/1214511677081391104/

@kubernetes/sig-scheduling-bugs

[2020-01-07 12:22] wojtek-t commented on #86908
@ahg-g

[2020-01-07 12:36] draveness opened #86909 "Support mandatory plugins in the scheduling framework"
**What would you like to be added**:

Add mandatory plugins that can't be removed from the default plugins.

**Why is this needed**:

We have mandatory predicates that should be configured all the time, and we still need them when migrates to scheduling plugins.

[code]

/sig scheduling
/priority important-soon

[2020-01-07 12:36] draveness commented on #86909
/assign

[2020-01-07 12:41] saschagrunert commented on #47938
/remove-lifecycle rotten

[2020-01-07 12:42] saschagrunert commented on #47938
/reopen

[2020-01-07 13:05] zouyee commented on #86908
/assign

[2020-01-07 13:15] gprossliner commented on #86779
@neolit123, I really appreciate your participation on this topic. Please let me know, if there is anything I can assist with.

[2020-01-07 13:18] neolit123 commented on #86779
@gprossliner
have a look at the ongoing discussion at the k-dev mailing list about the available flag options: https://groups.google.com/forum/#!topic/kubernetes-dev/Nmqug4xwS8c

[2020-01-07 13:42] yingnanzhang666 commented on #85792
cc. @draveness @hex108

[2020-01-07 13:47] ThoTischner commented on #30189
You mean in the docs ?
The time values in the docs were already present.
The PR adds a hint for the force refresh by changing the pods annotation.

[2020-01-07 13:49] droslean commented on #86880
/reopen

Let's observe the job first before closing.

[2020-01-07 13:50] #80819 closed

[2020-01-07 13:51] droslean commented on #86880
@listx Do we have to rerun the job to make sure that it's fixed or wait for the next PR to be merge?

[2020-01-07 14:03] zak905 commented on #60807
@slassh solution worked for me on Kubernetes 1.15

[2020-01-07 14:06] draveness commented on #85792
Thanks @yingnanzhang666, this proposal makes sense to me, but here are some concerns about this change.

I think the best approach to implement this is by introducing another field to the PriorityClass, e.g., `reschedulePolicy`:

[code]

With this approach, the original behavior of priority class won't change, and it won't affect the current user. Another concern about this approach is `PriorityCl

[2020-01-07 14:37] fischerman opened #86914 "Ungraceful pod deletion (w/o SIGTERM) for testing purposes"
**What would you like to be added**:

An option to delete a pod without sending a `SIGTERM` to the pods containers, similar to a `docker rm -f ...` and/or an enhanced documentation stating that the kubelet (I guess) always sends a `SIGTERM` to the containers.

**Why is this needed**:

For example, to test a failover between Pods in a StatefulSet without having to interact with the container runtim

[2020-01-07 14:37] koep commented on #68050
I agree with dmoessne that this issue should be addressed - at least in the form of documentation that recommends steps on how to mitigate the issue (e. g. logrotate). CC @humblec any thoughts?

[2020-01-07 14:53] fischerman commented on #86914
/sig node

[2020-01-07 14:53] krancour commented on #78479
/remove-lifecycle stale

[2020-01-07 14:55] mtk3d commented on #50375
+1

[2020-01-07 15:14] listx commented on #86880
The behavior I have observed is that the job will re-run for each PR merge.

I am now seeing that the latest build is failing due to a MemoryError when joining the heaviest Docker layer that contains gcloud:

[code]

I am going to change the machine settings in another PR; stay tuned.

[2020-01-07 15:40] enj commented on #30784
That is output from the token review API which not all users are authorized to access and it does not cover non-token forms of authn.

[code]

[2020-01-07 16:02] listx commented on #86880
Looks like the last couple PRs did the trick. It's green now! https://testgrid.k8s.io/sig-release-misc#cip-postsubmit-push-to-staging

[2020-01-07 16:03] droslean commented on #86880
Thanks @listx !

/close

[2020-01-07 16:03] #86880 closed

[2020-01-07 16:07] fengzixu commented on #86914
Before we talk about the "force to delete the pod", we need to confirm what is the real deletion of Pod. The deletion of pod includes two parts I think:

1. kubelet deletes all related containers of this pod
2.kubelet sends the deletion request to kube-apiserver. Then the record of this pod will be removed

Before the kubelet deletes containers, containers will receive SIGTERM. That is the gracefu

[2020-01-07 16:17] gfalasca commented on #50375
+1

[2020-01-07 16:19] droslean commented on #86902
/milestone v1.18

[2020-01-07 16:49] bowei commented on #39420
@MrHohn I think this has been fixed by the work on finalizers?

[2020-01-07 16:55] alculquicondor opened #86920 "[Scheduler] Node snapshot data structures sometimes go out of sync"
/sig scheduling

**What happened**:

#86919 is removing a check for snapshot's NodeInfoMap and NodeInfoList go out of sync. According to code comments this is expected when node removal events arrive before their corresponding node removal events.

https://github.com/kubernetes/kubernetes/blob/11a31590e432ba9c723b951e1691d5a97c09dba7/pkg/scheduler/internal/cache/cache.go#L631-L634

**What you expe

[2020-01-07 16:59] ahg-g commented on #86920
/sig scheduling
/assign @alculquicondor

[2020-01-07 17:48] vpickard commented on #83481
https://github.com/kubernetes/test-infra/pull/15599

[2020-01-07 17:51] vpickard commented on #83481
This PR adds some initial E2E tests for Topology Manager. Currently, this test suite loops through all of the Topology Manager policies, and runs a subset of CPU Manager tests.

https://github.com/kubernetes/kubernetes/pull/86184

[2020-01-07 17:55] kwiesmueller commented on #85750
/assign

[2020-01-07 18:01] roycaihw commented on #86418
These tests fail because a CRD spec change isn't reflected in the openapi spec [within 30s](https://github.com/kubernetes/kubernetes/blob/11a31590e432ba9c723b951e1691d5a97c09dba7/test/e2e/apimachinery/crd_publish_openapi.go#L604). I added logging and there were two issues:

1. sometimes the test has to download three different openapi specs before it sees the change (in this previous [analysis](ht

[2020-01-07 18:06] gnufied opened #86923 "Update expansion requests to include new fields present in CSI"
We need to update volume expansion requests (both in controller and kubelet) to include new fields introduced in CSI.

/sig storage
/assign

[2020-01-07 18:06] lavalamp commented on #85750
I wonder if a header would be a better way to communicate this than a status code.

[2020-01-07 18:19] vpickard opened #86925 "CPU Manager Test fails when enabling cpu manager in kubelet without deleting stale file"
**Which jobs are failing**:
E2E CPU Manager

https://testgrid.k8s.io/wg-resource-management#kubelet-serial-gce-e2e-cpu-manager

**Which test(s) are failing**:

enable cpu manager in kubelet without delete state file

**Since when has it been failing**:

For a very long time. I stopped looking at CI logs that went back to October 2019.

**Testgrid link**:

https://storage.googleapis.com/kubernetes-

[2020-01-07 18:19] ahg-g opened #86926 "Add integration tests for NodeResourceLimits scoring function"
**What would you like to be added**:
An integration test for NodeResourceLimits plugin.

**Why is this needed**:
No end-to-end test coverage current exist for this alpha feature.

/sig scheduling
/help

[2020-01-07 18:20] alculquicondor commented on #86908
/unassign @zouyee

/assign @ahg-g

[2020-01-07 18:20] vpickard commented on #86925
/sig node

[2020-01-07 18:20] kwiesmueller commented on #85750
That's what we talked about a few minutes ago.
I'll prepare a proposal.

[2020-01-07 18:33] aojea commented on #86773
This is related to the `unspecified service.Spec.IPFamily` topic
https://github.com/kubernetes/kubernetes/pull/86895

[2020-01-07 18:35] apelisse commented on #85750
People seem to care about this: https://github.com/kubernetes/kubernetes/issues/66450

[2020-01-07 19:08] hakman opened #86928 "[Failing Test] multiple jobs failing with Ginkgo timed out waiting for all parallel nodes to rebort back"
**Which jobs are failing**:
kops-aws and many other jobs

**Which test(s) are failing**:
This isn't the actual test, but the text we're consistently seeing is
[code]

**Since when has it been failing**:

**Testgrid links**:
https://testgrid.k8s.io/google-aws#kops-aws
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-default (ref: https://github.com/kubernetes/kubernetes/issues/86

[2020-01-07 19:10] hakman commented on #86928
/sig cluster-lifecycle
/sig aws

[2020-01-07 19:10] hakman commented on #86928
/priority critical-urgent
this is merge blocking

[2020-01-07 19:12] hakman commented on #86928
/assign @justinsb
/cc @rifelpet
/cc @spiffxp
/cc @aojea

[2020-01-07 19:15] spiffxp commented on #86928
The PR we think we want to revert https://github.com/kubernetes/kubernetes/pull/86708

[2020-01-07 19:23] jennybuckley commented on #83562
/remove-lifecycle stale

[2020-01-07 19:34] spiffxp commented on #86928
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-default is also failing, I don't think this is aws-specific

[2020-01-07 19:50] MrHohn commented on #39420
Sorry for the late response. There are some more changes required on GKE side to incorporate the service finalizer feature. So no this is not fixed yet.

[2020-01-07 19:51] aojea commented on #86928
/cc

[2020-01-07 20:00] aojea commented on #86928
/assign

[2020-01-07 20:06] WxFang commented on #84978
Seen same issue intermittently for a long time.

[2020-01-07 20:15] WxFang commented on #70417
@Nebulazhang
But if we don't do anything, the node will stay NotReady forever right?
Do you have any idea about monitoring this from outside the cluster?

[2020-01-07 20:34] #86908 closed

[2020-01-07 20:59] Marcofeli commented on #37798
Hi I have a similar problem too. Using a `busybox` image I'm unable to connect via `telnet` to the `smtp.gmail.com` host. Also with an `ubuntu` image I cannot `apt-get update` inside the pod. Besides, same behavior is presented with `alpine` and the `nslookup google.com` command exposed by @colachg

### Busybox Image:

[code]

### Ubuntu Image:

[code]

### Alpine Image:

[code]

By the way, all t

[2020-01-07 21:19] fedebongio commented on #86491
/assign @yliaog

[2020-01-07 21:21] fedebongio commented on #86509
/assign @caesarxuchao

[2020-01-07 21:22] fedebongio commented on #86644
The fix was already cherrypicked, closing.
/close

[2020-01-07 21:22] #86644 closed

[2020-01-07 21:24] fedebongio commented on #86666
/assign @smarterclayton
Clayton would you be able to take a look to this one please?

[2020-01-07 21:24] caesarxuchao commented on #86509
Are you saying that when you delete the parent, the "parent" ownerRef in the child object got removed?

[2020-01-07 21:25] aojea commented on #86928
it failed with kind too :/

with the same message
`Ginkgo timed out waiting for all parallel nodes to report back!`

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/86924/pull-kubernetes-e2e-kind-ipv6/1214650724437200899

[2020-01-07 21:25] fedebongio commented on #86739
/assign @jennybuckley

[2020-01-07 21:26] fedebongio commented on #86746
/remove-sig api-machinery

[2020-01-07 21:27] fedebongio commented on #86753
/assign @wlynch

[2020-01-07 21:27] fedebongio commented on #86753
/assign @sttts

[2020-01-07 21:28] fedebongio commented on #86786
/assign @ncdc

[2020-01-07 21:29] fedebongio commented on #86792
/assign @DirectXMan12
Solly would you be able to take a look to this one please?

[2020-01-07 21:44] spiffxp commented on #86928
Opened https://github.com/kubernetes/kubernetes/pull/86932 to revert

[2020-01-07 21:47] spiffxp commented on #86928
/unassign @justinsb
/sig network
/sig testing
/remove-sig cluster-lifecycle

[2020-01-07 21:53] tedyu commented on #86786
Fixed by #86646

[2020-01-07 21:53] #86786 closed

[2020-01-07 21:53] ahg-g commented on #86920
Can we list all places where NodeInfoMap is used outside the snapshot?

[2020-01-07 21:53] spiffxp commented on #86902
I think this is the same issue affecting aws tests first called out in https://github.com/kubernetes/kubernetes/issues/86928

Hoping this revert addresses the issue https://github.com/kubernetes/kubernetes/pull/86932

[2020-01-07 21:59] spiffxp commented on #86928
This may be the actual cause https://github.com/kubernetes/kubernetes/pull/86708#issuecomment-571746903

PR to address https://github.com/kubernetes/kubernetes/pull/86924

But we're going with revert first to be sure we've identified the offending PR

[2020-01-07 22:06] jennybuckley commented on #86739
Adding proto tags to metav1.Time probably wouldn't fix this, snice metav1.Time has a custom protobuf marshaller function:
https://github.com/kubernetes/kubernetes/blob/4f1daf0cf30dbb119f670ace1c2e1b4eabbc030d/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/time_proto.go#L78-L84

[2020-01-07 22:21] neolit123 commented on #86925
/priority important-longterm

@klueska do you happen to know who maintains these tests on the side of sig-node?

[2020-01-07 22:28] howardjohn commented on #86739
We are operating on arbitrary proto messages, so we cannot just call `.Marshal()` is my understanding. I would think that jsonpb would call the custom marshal method though, but perhaps I am understanding how everything works together.

[2020-01-07 22:37] DirectXMan12 commented on #86792
We talked about this a bit in controller-runtime.  Probably the better option is to make `SelectorFromSet` return an error, but that's a whole lotta churn.  At the very least, we should have a godoc comment.  Let's take a look at the internal uses:

In k/k + staging, we have:

[code]

Mostly test uses.  Of the non-test uses, most seem to be constant or pre-validated (e.g. used in conversion logic)

[2020-01-07 22:50] roycaihw commented on #86418
I checked apiserver log. For a case that took 23s, the timeline actually looks like the following:
![Untitled drawing (1)](https://user-images.githubusercontent.com/6629765/71935007-95e74200-315a-11ea-8db6-96596d45c092.png)

The bottleneck is still in kube-aggregator [building and serving](https://github.com/kubernetes/kubernetes/blob/6099a739d8cb1762cdadf956fae484833b937c5d/staging/src/k8s.io/kub

[2020-01-07 23:03] DevasiaThomas commented on #50309
Here is something that I cooked up, works on my k8 installation. Does the below work for you guys?

`kubectl get pods --all-namespaces -o jsonpath='{range .items[*]}{"pod: "}{.metadata.name}{"\n"}{range .status.containerStatuses[*]}{"\tname: "}{.containerID}{"\n\timage: "}{.image}{"\n"}{end}'`

`
[root@gtfo-master ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"

[2020-01-07 23:27] DevasiaThomas commented on #50309
Oh, you want to get the container ID within a process running in the container? If you can mount the `docker.sock` file you can access the docker api through that. If you just want the container id and nothing else `/proc/self/cgroup` should have a line that begins with `docker` followed by a string that contains the ID.

[2020-01-07 23:44] raizik opened #86934 "Pod-to-NodePort: Pod to send http post to NodePort"
pretty new in Kubernetes, sorry in advance for possible mistakes)

I'm using kind (kind) for my two-node cluster and I have a node.js that simulates an HTTP server that gets HTTP GET requests.

I want to implement a new load balancing algorithm that's based on the pods sending http POST to the load balancer service (in my case - NodePort since it's a local cluster) when they finish a job sent from

[2020-01-07 23:52] notpad commented on #86926
/assign
/remove-help

[2020-01-08 00:17] apelisse commented on #86526
Yeah, we can use help since every occurence of `--dry-run` needs to be updated on the website and everywhere it's documented or referenced. Thanks for your help @bharaththiruveedula

[2020-01-08 00:52] apelisse opened #86935 "Running benchmarks in pre-submits"
I wish benchmarks (`go test -bench=.`) would run as pre-submits, and ideally I would have a few other requirements, some of which makes it non-trivial:
1. We should be able to retrieve the base commits benchmark to compare them
2. We should run with `-test.count=5` or maybe 10
3. We should use [`benchstat`](https://godoc.org/golang.org/x/perf/cmd/benchstat)
4. We should sort the output by magnitud

[2020-01-08 00:52] apelisse commented on #86935
/sig contribx

[2020-01-08 00:53] apelisse commented on #86935
/sig contributor-experience

[2020-01-08 00:53] apelisse commented on #86935
@tedyu @BenTheElder @wojtek-t

[2020-01-08 01:31] wenlxie commented on #83608
/remove-lifecycle stale

[2020-01-08 01:35] #86721 closed

[2020-01-08 01:44] chendave commented on #82775
/remove-lifecycle stale

[2020-01-08 01:51] msau42 commented on #81368
/assign @msau42 @cofyc
/remove-lifecycle rotten
Still seeing this, although not very frequently. Could indicate a race.

[2020-01-08 01:52] huchengze commented on #86749
This PR was merged. What are the specific periodic rules for vendor re-sync? I'm going to submit another PR based on this.

[2020-01-08 01:58] non7top opened #86936 "kubeadm join is silently stuck when token is expired"
When trying to join
[code]
and stuck

with v3 important details are revealed
[code]

A request is to improve logging so that those token be shown always (probably change those to higher log level from INFO, warning or critical would be more appropriate probably. Anyway further actions are not possible and hanging without any logging is no good.

[2020-01-08 02:02] colachg commented on #37798
Time flies fast, it's 3 years ago but I remember this :).
@Marcofeli
Firstly I think you can use tcpdump to catch dns packages to find the real domains it queried.
Then try to modify the `/etc/resolve.conf` to figure this out.
Finally I remember I fixed it by specifying custom `resolve.conf` at kubelet start conf.
Good lucks to you :）

[2020-01-08 02:08] non7top commented on #86936
/sig cluster-lifecycle

[2020-01-08 02:15] hangzhouwanjun opened #86937 "controller-manager not create pod after delete node"
**What happened**:
I have 3 master, and config a MutatingWebhookConfiguration.
[root@node3 tugger]# kubectl get node
[code]
[code]
when delete node, the pod will not be created in that node by controller-manager.

**What you expected to happen**:
Controller-manager will created pod after delete node
**How to reproduce it (as minimally and precisely as possible)**:
After delete node, controller man

[2020-01-08 02:23] hangzhouwanjun commented on #86937
/sig app
/kind bug

[2020-01-08 02:23] hangzhouwanjun commented on #86937
/sig apps

[2020-01-08 02:34] non7top commented on #55713
Still an issue. Simple scenario: cluster with 3 mastes and 3 workers (all in virtualbox), shutdown all, start 2 of each type, so 1 worker down, 1 master down.
Right after startup all nodes are marked as Ready (which is also not intuitive). After default timeouts 2 nodes are marked as NotReady as expected (since they are powered off). One of the coredns pods gets relocated to a running node (expect

[2020-01-08 02:52] wybzju opened #86938 "Generate inter pod affinity error"
**What happened**:
https://github.com/kubernetes/kubernetes/blob/6099a739d8cb1762cdadf956fae484833b937c5d/pkg/scheduler/framework/plugins/interpodaffinity/filtering.go#L86
Maybe it should be
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2020-01-08 02:56] b675987273 commented on #30189
got it. i have no more questions

[2020-01-08 03:02] zryfish commented on #86937
I think it's expected behavior. In our environment, webhook services are deployed with multiple replicas across different nodes to guarantee its availability.

[2020-01-08 03:02] wybzju commented on #86938
/sig Scheduling

[2020-01-08 03:15] #73362 closed

[2020-01-08 03:20] tedyu commented on #86937
Should be fixed by:

commit 9cff34577056dfc620ca56cbde88f4bab7166e02
Author: Ted Yu <yute@vmware.com>
Date:   Thu Dec 12 11:27:36 2019 -0800

    Do not swallow timeout in manageReplicas

[2020-01-08 03:29] answer1991 commented on #86484
/cc @answer1991

[2020-01-08 03:30] wmgroot commented on #83125
I am able to reproduce this issue using the csi-cinder-plugin manifest here:
https://github.com/kubernetes/cloud-provider-openstack/blob/master/manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml#L95-L98
[code]
yields
[code]
but I can verify the directory exists on the host machine
[code]
[code]
I am running Kubernetes on CentOS7, running on OpenStack.
Removing `type: Directory` (defaulting to

[2020-01-08 03:31] answer1991 commented on #86483
/cc @answer1991

[2020-01-08 03:44] gongguan commented on #86765
Agree with you. If we know how to reproduce it, it will be easy to solve.

[2020-01-08 04:26] lachlanbb commented on #40244
+1
For the specific example of having port 53 TCP/UDP with the same service / NLB combo

Currently it errors with
'Cannot create external load balancer with mix protocols'

This should work perfectly fine with the TCP_UDP target group mode with an NLB but when set in the annotation a 'TCP' only group gets created.

service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "TCP_UDP"
service.be

[2020-01-08 04:34] Willux commented on #25908
@krancour thanks for the update. I must've missed that detail. There wasn't much activity happening here lately, so just wanted to make sure there is something ongoing :)

[2020-01-08 04:46] bharaththiruveedula commented on #86938
I feel it is a valid error. But need confirmation from sig-scheduling maintainers.  @wybzju ... is it okay if I work on this?

[2020-01-08 04:47] wybzju commented on #86938
@bharaththiruveedula  ok

[2020-01-08 05:52] xial-thu commented on #65965
encountering the same issue as well.

[2020-01-08 06:26] xuchenCN commented on #60807
I fix this after delete v1beta1.metrics.k8s.io APIService
[code]

[code]

[code]

[code]

[2020-01-08 06:44] jianxingzhe opened #86942 "[scheduler] pod was pending while the node has enough resource"
**What happened**:
when creating an statefulset with three replicas, only two pods were running, and one pod was pending because of `Insufficient memory`. echo pod requests 4c12g resource,  and has node affinity to node1, node2 and node3.
[code]

[code]

however, the node3 has enough resources:
[code]

**What you expected to happen**:
the pod shoule be scheduled successfully

**How to reproduce it

[2020-01-08 06:46] zhiyxu opened #86943 "Pod failed to be scheduled due to request resources satisfied in multiple nodes"
**What would you like to be added**:

Let's say I have a 3 nodes cluster, node01 has some special resource "device/gpu".

Now I want to create a pod request some CPU and "device/gpu", but node01 lack of CPU while the other node02 and node03 lack of "device/gpu", then this pod would be in "Pending" state until some CPU on node02 released.

**Why is this needed**:

In fact, all those pods could run

[2020-01-08 06:47] tdihp opened #86944 "Delete pod didn't call CNI "DEL" causing CNI IP leak"
**What happened**:

Some issue causing fail when initializing Pod, however CNI IP was never recycled by running "DEL".

Eventually new pods stuck due to no more address to assign by Azure CNI.

We identified one pod which has it's pod name in azure-vnet.json (which saves state of each IP), but not present anymore in the clsuter, the following is the related logs in /var/log/messages of it's lifecy

[2020-01-08 06:47] tdihp commented on #86944
/sig node

[2020-01-08 06:49] zhiyxu commented on #86943
sig/scheduling

[2020-01-08 06:50] zhiyxu commented on #86943
/sig scheduling

[2020-01-08 06:54] MikeSpreitzer commented on #86765
It's easy to reproduce.  It happened every time, until I started deleting that directory between uses of `hack/local-up-cluster.sh`.

[2020-01-08 07:01] jianxingzhe commented on #86942
/sig scheduling

[2020-01-08 07:22] liuhaibo0303 commented on #75870
没有解决，只能定期删除日志。。。。这样grafana显示的内存大小才会降下来

[2020-01-08 07:23] zouyee commented on #86943
/remove-kind feature
/kind bug

[2020-01-08 07:28] andy-wolf168 commented on #80452
Thanks @odinuge

[2020-01-08 07:28] andy-wolf168 commented on #80452
Thanks @odinuge

[2020-01-08 07:45] whymatter opened #86948 "Gluster PV incorrectly mounted after pod crash"
**What happened**:
I am running a wordpress container on our kubernetes cluster. The pod crashed and was restarted.
The pod has a persistent volume attached to it. We use glusterfs in combination with heketi.
The volume was correctly mounted before the crash.
After the pod restart, the mounted volume was not on gluster but the local machine disk:

[code]
[code]

**What you expected to happen**:
I

[2020-01-08 07:47] attlee-wang commented on #86626
@wojtek-t  But about this issue, I'm quite sure that node scheduled pod at once when restart kube-scheduler. How to explain?

[2020-01-08 07:50] fischerman commented on #86914
I've opened this issue mostly due the confusion about the flags `--now`, `--force` and `--grace-period` and to start the discussion. I've asked around a bit and most people seem to be unsure of how they treat containers.

I think the biggest confusion is the grace period and what it relates to. Is this only relevant for the containers and denotes the time between `SIGTERM` and `SIGKILL`? Or are th

[2020-01-08 07:54] wu0407 commented on #52032
/reopen

[2020-01-08 08:04] whymatter commented on #86948
/sig storage

[2020-01-08 08:10] wojtek-t commented on #86935
Blocked on https://github.com/kubernetes/kubernetes/issues/79464 - we need to fix that one first.

Also, I'm not 100% sure about its value - I think it should be possible to trigger an optional presubmit for benchmarks, but I'm not sure I see a ton of value of making that requires and blocking one (especially in the current form, where this is more informative than really checking anything).

[2020-01-08 08:26] aojea commented on #86928
I think I've identified the root cause https://github.com/kubernetes/kubernetes/pull/86924#discussion_r363998522

[2020-01-08 08:40] pappnase99 commented on #55946
Just ran into this taint of which i've never heard of before. The volumes on the tainted node were all working fine. Some documentation about how to deal with this situation would be much appreciated.

[2020-01-08 08:52] hangzhouwanjun commented on #86937
@zryfish Apiserver call webhook services not via iptables nat if conntrack has connection,  so the connection direct pod when deleted by delete node,  the connection will not closed because delete node trigger pod
 deleted is not graceful delete pod,  so apiserver call webhook will timeout.
@tedyu If use your commit, controller-manager  will recreate pod, but always failed util the connection in c

[2020-01-08 08:59] QianChenglong opened #86951 "The validity period of the certificate generated by kubeadm should be configurable"
**What would you like to be added**:
The validity period of the certificate generated by kubeadm should be configurable
**Why is this needed**:
At present, the root certificate is valid for 10 years, and the ordinary certificate is 1 year. Deployment in the actual production environment will increase maintenance costs.

![image](https://user-images.githubusercontent.com/1881126/71964248-2cd5fc00-3

[2020-01-08 09:00] QianChenglong commented on #86951
/sig cluster-lifecycle

[2020-01-08 09:10] yuzhiquan commented on #86944
We meet same problem, now we have another cycle out of cluster to reuse ip, but may be should to fix this.

[2020-01-08 09:11] lynx-coding commented on #80354
Is there a way to solve this issue on client side? E.g. filtering when I request a list of deployments?

[2020-01-08 09:13] chenqiangzhishen commented on #75443
this is caused by the vip worked in `secondary` interface.
**(wrong)**inet 172.16.1.240/24 scope global secondary eth0
**(correct)**inet 172.16.1.240/24 scope global eth0
so you should change vip mask to 32 not 24, like `172.16.1.240/32` to avoid in `secondary` or slave status.

[2020-01-08 09:13] fleskesvor commented on #58692
@wangrqsh The issue has nothing to do with the drives on your local Windows computer. The latter works for you because the `WORKDIR` in your pod is `/`. Try setting a different `WORKDIR` in your pod, and you will also experience the warning.

[2020-01-08 09:23] mborsz opened #86954 "[sig-network] Services should implement service.kubernetes.io/headless is failing"
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness
**Which test(s) are failing**:
[sig-network] Services should implement service.kubernetes.io/headless
**Since when has it been failing**:
01-07
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness
**Reason for failure**:
[code]
**Anything els

[2020-01-08 09:24] mborsz commented on #86954
/sig network

[2020-01-08 10:07] klueska commented on #86925
@neolit123 These tests have gone stale, unfortunately, and no one is really maintaining them anymore. I am currently working with Viktor to restore them to a working state and add more of them, at which point Viktor and I will be the maintainers.

[2020-01-08 10:57] #86676 closed

[2020-01-08 10:58] #86051 closed

[2020-01-08 11:09] interone-ms commented on #23880
Yet another metal user here, we need this too.

[2020-01-08 11:19] droslean commented on #86809
The job started passing after #86913

/close

[2020-01-08 11:19] #86809 closed

[2020-01-08 11:23] benceszikora commented on #69811
We are running an on-prem cluster and our main use case for `externalIPs` is our ingress VIP. Our ingress service is a NodePort service with `externalTrafficPolicy: Local`. Because this setting is not respected and the packets are masqueraded when using an `externalIP`, we lose the users real IP address from the `X-Forwarded-For` header. At the moment I don't see any workarounds for this either, b

[2020-01-08 11:34] reddybhavaniprasad commented on #61207
I have deployed 3 mongo pods (1 Primary & 2 secondary) in openshift and they are up and running successfully.

I am able to connect to this mongo from outside the cluster though NodePort.

Also able to connect from within the cluster using both Pod IP and dns (mongo-node-1.database.svc).

When a springboot application tries to connect to mongodb it fails with

I created a dummy pod and tried to co

[2020-01-08 11:38] droslean commented on #86873
@neolit123 #86689 merged, but the job is still failing. Can you take a look?

[2020-01-08 12:36] aermakov-zalando commented on #77666
/reopen

[2020-01-08 12:36] aermakov-zalando commented on #77666
/remove-lifecycle rotten

[2020-01-08 12:41] andy-wolf168 commented on #83317
Hi,@dchen1107 @tedyu could you fix the issue on 1.15?

[2020-01-08 12:55] mhyousefi commented on #71458
Ok, so what is the alternative to `Docker Swarm`'s `{{ .Task.Slot }}` in, let's say, K8S `Deployment` or `ReplicaSet`??

[2020-01-08 13:14] hokiegeek2 commented on #38532
I vote to keep this open--any new word on this feature request?

[2020-01-08 13:33] liggitt commented on #86942
duplicate of https://github.com/kubernetes/kubernetes/issues/86626?

[2020-01-08 13:35] liggitt commented on #86943
the scheduler will not evict/rearrange running pods to make it possible to run additional pods of the same priority level
/cc @ahg-g

[2020-01-08 13:39] droslean opened #86956 "[Flaky Test] gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot)"
**Which jobs are flaking**:
`gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot)`

**Which test(s) are flaking**:
[code]
[code]
[code]
[code]
[code]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-reboot

**Reason for failure**:

**Anything else we need to know**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=there%20are%20current

[2020-01-08 13:40] droslean commented on #86956
This job is already failing. ref #86787, but these tests seem to flake a lot.

[2020-01-08 13:40] droslean commented on #86956
/area provider-gcp

[2020-01-08 14:10] wojtek-t commented on #86418
xref https://github.com/kubernetes/kubernetes/pull/86769#issuecomment-570571160

[2020-01-08 14:14] aristosvo opened #86957 "kubectl diff on Service returns error"
**What happened**:
`kubectl diff -f service.yml` returns `The Service "xx-service" is invalid: spec.clusterIP: Invalid value: "": field is immutable`.
[code]
However, `kubectl apply --dry-run -f service.yml` works well.

**What you expected to happen**:

Both commands should throw the same errors

**How to reproduce it (as minimally and precisely as possible)**:
- `kubectl apply -f xx-service.yml`

[2020-01-08 14:26] yqwang-ms commented on #83725
/remove-lifecycle stale
Any update for this?

[2020-01-08 14:26] mouyang commented on #81329
/remove-lifecycle stale.

[2020-01-08 14:32] xzhang007 commented on #60807
The cert-manager was unavailable maybe since it was set up incorrectly. For example, use a wrong syntax in ingress controller. For our system, it was
[code]
and it was changed to
[code]
make it available.

[2020-01-08 14:33] #86089 closed

[2020-01-08 14:48] neolit123 commented on #86873
it went green:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-17-master

/close

[2020-01-08 14:48] #86873 closed

[2020-01-08 15:05] ahg-g commented on #86938
Yeah, this is a bug in preemption

[2020-01-08 15:10] tedyu commented on #86957
Can you show the previous service yaml which was used to create the service ?

Thanks

[2020-01-08 15:13] neolit123 commented on #86957
/sig cli
/priority awaiting-more-evidence

[2020-01-08 15:14] liggitt commented on #86432
ports on hostNetwork pods are implicitly hostnetwork ports. that defaulting is applied here: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/defaults.go#L208-L211

/close

[2020-01-08 15:14] #86432 closed

[2020-01-08 15:15] TestAcct42 commented on #74382
Just adding my 2cents.
I tried the systemctl daemon-reload && systemctl restart docker
That did not work for me. I had to reboot the box.  After rebooting, docker seemed to behave itself. I am not sure why it was acting that way. I am running updated version, but still suspect it's a possible kernal bug.

Apologies for reopening, but I wanted to add my findings, as I was having this issue with one

[2020-01-08 15:16] neolit123 commented on #86951
hi, it's not configurable by design.
having a certificate valid for more than 1 year or a CA for more than 10 years is far from secure.

we decided against enabling this configuration option.
kubeadm still allows you to sign your own certificates and use them instead of generating ones.
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#external-ca-mode

/close

[2020-01-08 15:19] neolit123 commented on #86936
/area kubeadm
/remove-kind feature
/priority awaiting-more-evidence

this is a known problem of versions older than v1.17.

we cannot backport the change to older versions like v1.16, so:
- make sure you have valid tokens
- use v1.17+

thanks.
/close

[2020-01-08 15:19] #86936 closed

[2020-01-08 15:21] neolit123 commented on #86864
what process did you use to generate, the following:
[code]

for your external CA cluster?

[2020-01-08 15:31] ahg-g commented on #86909
Sounds good, thanks!

[2020-01-08 15:32] pisymbol commented on #83636
IS there no interest in this at all?

[2020-01-08 15:33] ahg-g commented on #86938
/assign @bharaththiruveedula

[2020-01-08 15:54] Marcofeli commented on #37798
Hi @colachg thanks for the reply 😃

I'm really new with `tcpdump` but I tried with the following command

[code]

Inside the kubernetes `node` I made a

[code]

And got he following response:

[code]

Then, inside my `pod` I tried the same `telnet` command but now I got no response from `tcpdump`

Could you detail more which changes you made to the `resolve.conf` file?

Thanks again for the help!

[2020-01-08 15:54] neolit123 commented on #86907
/remove-kind bug
/area provider/aws

[2020-01-08 16:02] dims commented on #86765
@MikeSpreitzer i cant seem to reproduce this :(

[2020-01-08 16:02] non7top commented on #86936
Your comment doesn't make it clear enough on whether v1.17 is affected or not, but I'm seeing this on v1.17.0.

I will assume I will need a version that is higher than v1.17.0

kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:17:50Z", GoVersion:"go1.13.4", Compiler:"gc",

[2020-01-08 16:18] neolit123 commented on #86936
looks like the change is only in master, so this will land only in v1.18.0.
we cannot backport this to older versions as it's not a critical bug and the changes that fixed the bug were disruptive.

duplicate of:
https://github.com/kubernetes/kubeadm/issues/1917

for < 1.18 you can control the discovery timeout in JoinConfiguration.

https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/

[2020-01-08 16:22] alculquicondor commented on #86789
`When specified, the list of plugins for a particular extension point are the only ones enabled.`

Is this actually what we want? I don't think so. The comment needs rewording.

[2020-01-08 16:22] non7top commented on #86936
Perfect, thank you for the details.

[2020-01-08 16:24] tedyu opened #86960 "kubernetes-node-e2e-containerd fails due to resource not found"
**Which jobs are failing**:
pull-kubernetes-node-e2e-containerd

**Since when has it been failing**:
Jan 8th, 2020

**Testgrid link**:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/86524/pull-kubernetes-node-e2e-containerd/1214941662841671680/build-log.txt

**Reason for failure**:
[code]

[2020-01-08 16:47] mitar commented on #50309
So I can use container ID to resolve to the pod ID using the Kubernetes API?

[2020-01-08 16:56] DevasiaThomas commented on #50309
@mitar  I'm not sure about that. From a higher layer perspective, getting info about lower layers is feasible and logical. The other way around is the opposite of that. As a container there is no guarantee of understanding what your outer environment is, apart from the outer layers exposing info to the lower layer (The downward api) - mounting files is an example of that.

[2020-01-08 17:29] MnrGreg commented on #75175
@abrarshivani from the commit history, it seems you're the closest to this. Do you have any thoughts?

++ @divyenpatel

[2020-01-08 17:29] spiffxp commented on #86928
Revert brought us back to green:
- https://testgrid.k8s.io/google-aws#kops-aws
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default

Awaiting root cause fix

[2020-01-08 17:34] nsano-rururu opened #86961 "kubernetes 1.17.0 - kubeadm init - kube-controller-manager status is ContainerCreating"
**What happened**:

I installed kubernetes with kubeadm, but after executing kubeadm init, the state of kube-controller-manage stopped at ContainerCreating. Also, it seems that deployment has not started with coredns.

[code]
**What you expected to happen**:

The state of kube-controller-manager is Running
coredns status is Pending

**How to reproduce it (as minimally and precisely as possible)**:

[2020-01-08 17:47] alculquicondor commented on #86960
/cc @Random-Liu

any ideas?

[2020-01-08 18:11] liggitt commented on #67610
xref https://github.com/golang/go/issues/11939

[2020-01-08 18:15] mitar commented on #50309
Yes, so I think the question is what all is exposed through downward API. I opened #80346 for imageID, for example.

[2020-01-08 18:19] spiffxp commented on #85762
Opened https://github.com/kubernetes/kubernetes/pull/86962 to tag as [Flaky] and kick out of [Conformance]

[2020-01-08 18:21] spiffxp commented on #86928
/remove-triage unresolved

[2020-01-08 18:27] alculquicondor commented on #86920
After #86930 gets merged, the only remaining uses are:

- `genericScheduler.findNodesThatFit`, passing it to `extender.Filter` to check that pods coming from the extender are part of the snapshot. Although this seems wrong: **we should be checking that the nodes are within the input nodeList instead**.
- `genericScheduler.Preempt`, passing it to `podEligibleToPreemptOthers`, where we do checks on

[2020-01-08 18:28] alculquicondor commented on #86920
Oh, the rest of the usages are in plugins tests, also candidates to use the interface.

[2020-01-08 18:30] apelisse commented on #86935
I don't think the blocker is a super big blocker, we could ignore this test somehow.

Also I don't know if it needs to be blocking or not (might depend on each individual repository). It would really be helpful for server-side apply [repo](github.com/kubernetes-sigs/structured-merge-diff) since we have A LOT of important benchmarks there, and we're also have a few benchmarks here in Kubernetes, in

[2020-01-08 18:46] rfranzke commented on #79043
I'd like to raise the priority for this one as well, especially after the explicit end-user ask for migration to CSI (for AWS EBS and GCE PD, at least) in the official 1.17.0 release notes. IMO it's not possible to migrate because deletion of PVs created before CSI migration does not work due to this bug.

See also: https://kubernetes.slack.com/archives/CG04EL876/p1578492699010800

[2020-01-08 18:55] nsano-rururu commented on #86961
/sig cluster-lifecycle

[2020-01-08 19:09] droslean opened #86965 "[Failing Test] build-packages-rpms (ci-release-build-packages-rpms)"
**Which jobs are failing**:
`build-packages-rpms (ci-release-build-packages-rpms)`

**Since when has it been failing**:
`7th Jan 04:35 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#build-packages-rpms

**Reason for failure**:
[code]

**Anything else we need to know**:
/milestone v1.18
/priority critical-urgent
/cc @kubernetes/ci-signal
/cc @kubernetes/release-manage

[2020-01-08 19:15] justaugustus commented on #86965
@droslean -- Yep, this is the one of the ones I was alluding to in the RT meeting.

It's failing because of a restructure of the rpm builder: https://github.com/kubernetes/release/pull/998

Will try to work on this later in the week. Worst case, early next week.
In the meantime, you can treat as not critical.

/assign
/remove-priority critical-urgent
/priority important-soon
/area release-eng

[2020-01-08 19:15] BenTheElder commented on #86935
1\.  is a bit involved but could be done by looking up artifacts from a periodic in GCS, there is not a mapping from commit to results though AFAIK... cc @Katharine
2-4. 🤷‍♂
5. This seems mainly blocked on 1.
6. The implementation probably needs to be in another repo then.

[2020-01-08 19:15] droslean commented on #86965
This is failing of a restructure of the rpm builder that happened on [k8s/release/998](https://github.com/kubernetes/release/pull/998)

[2020-01-08 19:28] voutasaurus commented on #21582
The `--export` flag is deprecated. The heptio ark thing is now a vmware product and it has server components which seems like overkill for this given that kubernetes is meant to be a declarative config system you should (morally) be able to extract the declarative config and use it elsewhere.

What is the current open source advice here beyond "pay Google more money for something like Anthos"?

[2020-01-08 19:33] roycaihw opened #86967 "Improve CRD openapi serving speed"
CustomResourcePublishOpenAPI e2e tests are [flaky](https://github.com/kubernetes/kubernetes/issues/86418) because the time for a given CRD change to get reflected in the openapi spec exceeds the 30s timeout.

Here is a analysis for the worst case-- assuming three CRD changes were made at the same time (change A&B by tests running in parallel, and change C by the current test), it takes three 200OK

[2020-01-08 19:33] roycaihw commented on #86967
/sig api-machinery
/area custom-resources

[2020-01-08 19:40] wojtek-t commented on #86967
Re ToProtoBinary - did you split that into: NewDocument + jsonToYAML and proto.Marshal()?
I guess that the victim may be the first part, not necessary proto.Marshal...

[2020-01-08 19:54] liu-cong opened #86969 "Avoid using deprecated metrics in scheduler perf dash"
**What would you like to be added**:
We did some cleanup of scheduler metrics #86391 recently, as a result, scheduler [perf dashboard](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Scheduler&metricname=SchedulingLatency&Operation=binding) uses the deprecated [`scheduling_duration_seconds` metric](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/metrics/metri

[2020-01-08 19:54] liu-cong commented on #86969
/sig scheduling
/help

[2020-01-08 20:06] jennybuckley commented on #86739
From the linked bug, it looks like it's calling MarshalToString like [this](https://github.com/istio/operator/blob/f623b65d63f2b3fa68efcea9e89090b4b3fb65b3/cmd/mesh/manifest-migrate.go#L105-L108):
[code]

in order to convert isCP to serialized JSON. I was wondering why we can't just call json.Marshal() on isCP instead

[2020-01-08 20:07] liu-cong opened #86972 "Integrate new scheduler benchmark tests with perf dash"
**What would you like to be added**:
We have been woking on a new framework to run scheduler benchmark tests. #86160 makes tests configurable via a YAML file and #85685 collects metrics and saves them to a JSON file. Now we need to make sure the perf dash can read the new test artifacts (JSON file).

/sig scheduling

[2020-01-08 20:07] liu-cong commented on #86972
@ingvagabund, do you want to take this one?

[2020-01-08 20:23] hyprnick commented on #79365
I ran into this as well and this fixed it for me:

I am running pods with more than one container.  In my case, the other container is a linkerd sidecar.  I was setting the resource requests and limits for my deployment but did not set resources for linkerd proxy.

You must set resources for all containers within a pod otherwise you will get the error "failed to get cpu utilization".  Maybe this e

[2020-01-08 20:27] roycaihw commented on #86967
Not I didn't. I will add logging to break that down

[2020-01-08 21:11] RochesterinNYC opened #86976 "'kubectl attach' command outputted after session detachment from Pod does not work for non-default Namespaces"
**What happened**:

I used `kubectl run` to create and attach to a Pod in a specific non-default Namespace. I then detached/exited the session and received an output message like so: `"Session ended, resume using 'kubectl attach busybox -c busybox -i -t' command when the pod is running"`. I tried using this outputted command to re-attach to the Pod and it failed (because the attach command does no

[2020-01-08 21:14] tedyu commented on #86967
Looking in the kube-openapi repo, I only found one benchmark under pkg:

func BenchmarkMergeSpecsIgnorePathConflictsWithKubeSpec(b *testing.B) {
pkg//aggregator/aggregator_test.go

Wondering if more benchmark should be added.

[2020-01-08 21:14] RochesterinNYC commented on #86976
/sig cli

[2020-01-08 21:40] davidz627 commented on #78880
/remove-lifecycle stale

[2020-01-08 21:45] davidz627 commented on #79743
External attacher v2.1+ will now reconcile and repair incorrect attachments. The code for VerifyAttachedVolumes in the Kubernetes CSI Plugin can actually be removed since it is a no-op.

[2020-01-08 21:46] davidz627 commented on #79743
/close

[2020-01-08 21:46] #79743 closed

[2020-01-08 21:47] ahg-g opened #86978 "Move tainttoleration predicate logic to its Filter plugin [Migration Phase 2]"
/assign @ahg-g
/sig scheduling
/priority important-soon

Part of #85822

[2020-01-08 21:49] davidz627 opened #86980 "Remove VerifyVolumeAttached for CSI Plugin"
/cleanup
/assign

VerifyVolumeAttach functionality for CSI is handled by default by the [csi-attacher v2.1+](https://github.com/kubernetes-csi/external-attacher/blob/v2.1.0/CHANGELOG-2.1.md). The in-tree verification is a no-op since it just looks at the `VolumeAttachment.Status.Attached` field which is not an accurate representation of reality when the backend attach status has changed out of ban

[2020-01-08 21:50] davidz627 commented on #86980
/sig storage

[2020-01-08 21:55] ngaya-ll commented on #78607
/remove-lifecycle stale

[2020-01-08 22:00] vaibhavk commented on #81963
Hi, I would like to work on it.
/assign

[2020-01-08 22:13] MutedExclamation commented on #66874
@davidstack I'm facing the same issue, got any luck on that?

@liggitt Has anything changed since this issue has been closed?

[2020-01-08 22:40] ixdy commented on #23130
/sig release

I won't speak for the release team, but it seems unlikely that the "official" macOS builds of kubectl will be linked against macOS cgo.

The best workaround is to install kubectl using Homebrew. Further discussion in https://github.com/kubernetes/release/issues/469.

[2020-01-08 22:57] tedyu commented on #86961
Have you looked at  kube-controller-manager.log ?

Maybe there is some clue in the log.

[2020-01-08 23:13] Huang-Wei commented on #80639
/remove-lifecycle rotten

[2020-01-08 23:19] neolit123 commented on #86961
hi, did you install a CNI plugin and which one?
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

/remove-kind bug
/triage support

[2020-01-08 23:25] neolit123 commented on #86961
and

[code]

do you have an explanation of why `mkdir /usr/libexec/kubernetes` fails?

[2020-01-08 23:58] marosset opened #86984 "--log-file-max-size not getting honored by kubelet"
**What happened**:
I configured some nodes in a cluster to log to files and also specified --log-max-file-size and noticed that the log files grew significantly larger than what was specified.

**What you expected to happen**:
Log files would rotate or trucate after the size exceeded the value specified with --log-max-file-size

**How to reproduce it (as minimally and precisely as possible)**:

I

[2020-01-08 23:58] marosset commented on #86984
/sig node

[2020-01-09 00:30] gongguan commented on #86765
A generic reproduce without depending a special environment is needed. By the way, my machine returns to normal after cpu_manager_state file deleted.

[2020-01-09 00:31] jingxu97 commented on #74650
The issue mentioned here involves two functions [`Kubelet.getMountedVolumePathListFromDisk`](https://github.com/kubernetes/kubernetes/blob/076af3d1b5cc1c368dd00f64ceefda8a87c1dfc7/pkg/kubelet/kubelet_getters.go#L307) and [`operationExecutor.CheckVolumeExistenceOperation`](https://github.com/kubernetes/kubernetes/blob/076af3d1b5cc1c368dd00f64ceefda8a87c1dfc7/pkg/volume/util/operationexecutor/operat

[2020-01-09 01:00] egernst commented on #80264
@ahg-g, @bsalamat  - I'm working to push PodOverhead to beta status in 1.18, and as part of this am working to add integration tests as well as e2e tests.

1. Are these the same?
2. For e2e, it seems low hanging fruit would be something along the lines of   https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduling/predicates.go#L210-L308, only with concept of PodOverhead and Runtime

[2020-01-09 01:11] xiaoanyunfei commented on #86969
/assign
/remove-help

[2020-01-09 01:17] draveness commented on #86789
I plan to revisit the comments after #86905

[2020-01-09 01:30] neolit123 commented on #86864
/remove-kind bug
/triage needs-information

[2020-01-09 01:33] zhiyxu commented on #86943
Is there any ideas to solve this sort of issue? Priority and preemption could be a solution, but it's a little bit hard to set priorities in advance.

[2020-01-09 01:39] OPSTime commented on #86864
External etcd cluster，Kubeadm should no longer check the ETCD certificate.
This certificate is generated separately, using a different CA certificate.

[code]

[2020-01-09 01:39] jianxingzhe commented on #86942
mybe not， this problem occurs during preemption.  when predicating nodes for a pod during preemption, default scheduler doesn't call the extender scheudler interface, which may caused the
nominatedPodMap cache inconsistency.

[2020-01-09 02:13] colachg commented on #37798
Hi @Marcofeli please check below links:
- https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#known-issues
- https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/#start-a-kubelet-process-configured-via-the-config-file
- https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#introduction

I deploy kubernetes on Ubuntu, the kubelet st

[2020-01-09 02:31] yqwang-ms commented on #83705
/remove-lifecycle stale
Any update for this?

[2020-01-09 02:35] hongli-my opened #86986 "pod scheduler to node, but kubelet admit failed, pod was outOfmemory"
**What happened**:
cluster info:   3 master, 1000 nodes

create pod,  scheduler pod to node,  pod was outofmemory, kubelet log:
Predicate failed on Pod: xihh-b1be980fcf582028y0kkvd1ffxd5jc8_default(c8cff343-2abf-11ea-815b-246e9683be48), for reason: Node didn't have enough resource: memory, requested: 2147483648, used: 128849018880, capacity: 130405863424

use kubectl describe node , we can see nod

[2020-01-09 02:36] hongli-my commented on #86986
/sig Scheduling
/sig Node

[2020-01-09 02:38] arangamani commented on #77557
@kireledan What version weren't you able to replicate it in?

[2020-01-09 02:49] tanjunchen commented on #86597
@hase1128,On this basis, why not create a readme.md file under the hack folder, because a lot of kk CIs are derived from multiple script commands under the hack. There are already 268+ files under the hack file. For contributors unfamiliar with these, these comments and instructions are helpful to them, and it is also helpful for new contributors to handle pr ci error reports.

[2020-01-09 02:50] tanjunchen commented on #86597
/cc @fejta
What do you think？

[2020-01-09 03:00] hase1128 commented on #86597
@tanjunchen
I think it's good idea to create readme.md.
(It may be easy to understand if the script's explanation is described by category or use.)
Apart from that, it is helpful that the script file itself has a brief description.

[2020-01-09 03:00] #82359 closed

[2020-01-09 03:12] #86938 closed

[2020-01-09 03:12] rikatz commented on #86507
Sorry for the delay, crowded start of year.

I'll try to setup a cluster in the next days using kubeadm 1.17 with flannel to see if I can reproduce that.

Anyway, the parcial conclusion right now is (please comment if I got this wrong)

* Calico almost everything works fine, except for one node calling localhost:nodePort
* Flannel works on faster machines, but not on slower ones
* Using IPVS or IP

[2020-01-09 03:18] rikatz commented on #86587
In my perspective, there's some networking issue only with the Node, as master cannot reach it to gather the Logs and also only the Node cannot start flannel.

By the way, "pause" containers shouldn't have any log. The failure of readiness of the real flannel container my be something related to it trying to set something or report something and failing. Is the POD restarting (restartCount > 0) or

[2020-01-09 03:19] rikatz commented on #86954
@mborsz as I implemented this one, will take a look into that.

/assign @rikatz
/remove-triage unresolved

[2020-01-09 03:31] timyinshi commented on #79691
i have two methods about the problem:
1、change etcd storage to SSD type for increasing etcd's processing speed
2、Increase the CPU of apiserver for increasing the processing speed of apiserver

[2020-01-09 03:31] #79691 closed

[2020-01-09 03:43] ahg-g opened #86988 "Cleanup unused predicate error types [Migration Phase 2]"
The following predicates error types are deprecated and should be removed:

ErrNodeNetworkUnavailable
ErrNodeUnderMemoryPressure
ErrNodeUnderDiskPressure
ErrNodeUnderPIDPressure
ErrFakePredicate
ErrNodeNetworkUnavailable
ErrNodeNotReady

Part of #85822

/sig scheduling
/help

[2020-01-09 03:45] denkensk commented on #86988
/assign
/remove-help

[2020-01-09 03:48] ahg-g opened #86989 "Remove ErrTopologySpreadConstraintsNotMatch"
Part of #86711
/priority important-soon
See example #86847
/sig scheduling
/kind cleanup

[2020-01-09 03:49] ahg-g commented on #86989
/help

[2020-01-09 03:50] ahg-g opened #86990 "Remove ErrServiceAffinityViolated scheduler predicate error"
Part of #86711
See example #86847
/sig scheduling
/kind cleanup
/help
/priority important-soon

[2020-01-09 03:51] draveness commented on #86989
/assign

[2020-01-09 03:52] draveness commented on #86989
/remove-help

[2020-01-09 03:53] denkensk commented on #86990
/assign
/remove-help

[2020-01-09 04:01] tanjunchen opened #86992 "test/e2e/framework/volume : the same function generateWriteBlockCmd and generateWriteFileCmd"
I found two differently named functions with the same function in
see
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/volume/fixtures.go#L548-L568

the git log , see

https://github.com/kubernetes/kubernetes/commit/5fc9e23b507e5ca0d77aeedf0a9dc45075ba22b5#diff-2ff410ea588732f4fe497de3d8dbb7deR625

origin pr , see
https://github.com/kubernetes/kubernetes/pull/79730/files

th

[2020-01-09 04:02] tanjunchen commented on #86992
/assign

[2020-01-09 04:03] ahg-g opened #86993 "Remove scheduler/algorithm/priorities/util package [Migration Phase 2]"
The logic should move to the plugins using the util logic, or to plugins/helper package if it is shared with multiple plugins.

/assign @Huang-Wei
/sig scheduling
/priority important-soon
Part of #85822

[2020-01-09 04:04] tanjunchen commented on #86992
/cc @jsafrane
/cc @msau42

[2020-01-09 04:09] snowplayfire commented on #86942
@jianxingzhe  Can the problem be reproduced stably if I follow your three conditions?

[2020-01-09 04:21] ahg-g opened #86994 "Remove reduce.go, metadata.go and types.go from priority package"
/sig scheduling
/priority important-soon
/help
part of #85822

Note that #86890 should be merged first.

[2020-01-09 04:30] draveness commented on #86994
/assign

[2020-01-09 04:30] draveness commented on #86994
/remove-help

[2020-01-09 04:32] hase1128 commented on #86597
When we create readme.md, it may tough work if creating it including all scripts explanation at one time.
(There are many scripts and I understand only some scripts now.)

Regarding readme.md, current my idea is to add a description to each script little by little and update the readme.md at the same time.
This means that readme.md will be completed little by little in conjunction with adding the

[2020-01-09 04:38] bharaththiruveedula commented on #86651
@YuikoTakada @neolit123 can I take it up, as there is no activity for some days?

[2020-01-09 04:44] snowplayfire commented on #86986
https://github.com/kubernetes/kubernetes/pull/73845  may the pr can solve your problem.

[2020-01-09 04:45] tanjunchen commented on #86992
/area e2e-test-framework
/kind cleanup
/priority backlog
/cc @neolit123

[2020-01-09 05:29] #86435 closed

[2020-01-09 05:56] jianxingzhe commented on #86942
in our cluster, it can be reproduced stably. try to create/delete sts for serveral times, it will occur.

[2020-01-09 06:59] hasheddan commented on #86902
@spiffxp looks like we went to green following revert, but are now red again

[2020-01-09 07:08] QianChenglong commented on #86951
This function should not be rejected because of security issues. In the private cloud scenario, a large number of customers or businesses need to be deployed, and the services are all accessed in the private network. Users know the consequences of opening here and can afford to use them. Without this feature, you often need to pay attention to which cluster's certificate is about to expire. If you

[2020-01-09 07:08] QianChenglong commented on #86951
/open

[2020-01-09 07:09] QianChenglong commented on #86951
/reopen

[2020-01-09 08:27] droslean commented on #86902
The job is green but it seems to flake. We can close this issue and track the flakiness in another one.
/close

[2020-01-09 08:27] #86902 closed

[2020-01-09 09:02] odinuge commented on #86960
I am pretty sure this is the same as https://github.com/kubernetes/kubernetes/issues/85040#issuecomment-554501407.

So maybe you can take a look @Random-Liu?

#87003 should make it way easier to see why this test fail, so we should try to get that into master as quick as possible.

/assign Random-Liu

[2020-01-09 09:05] qqbuby opened #87004 "kubelet.service: Main process exited, code=exited, status=205/LIMITS"
**What happened**:

`kubelet.service cann't restart with systemctl`

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

****
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):

[code]

- Kernel (e.

[2020-01-09 09:24] tettusud commented on #73297
@iusergii but k8 supports only port of type tcp (default one as well). with this I cannot make an https call until I change it to TLS manually. Any idea?

[2020-01-09 09:28] cwdsuzhou commented on #86207
/assign

I would take a look at this issue

[2020-01-09 09:34] #76504 closed

[2020-01-09 09:46] CC1404068613 commented on #86094
![image](https://user-images.githubusercontent.com/44268973/72056510-ba345180-3307-11ea-894a-8781ae201775.png)  thers's no CSIMigration

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:20:10Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: ve

[2020-01-09 09:47] BenTheElder commented on #86984
this is a probably a klog bug
cc @yuwenma xref https://github.com/kubernetes/klog/pull/56

[2020-01-09 09:56] wojtek-t opened #87006 "Cleanup converter to not support arbitrary conversions - just use the ones explicitly registered"
cc @smarterclayton @liggitt

[2020-01-09 09:59] hongli-my commented on #86986
ref to #73845 kube-scheduler's cache are wrong if some event miss,
but,   nodes's pod info by `docker ps` are Consistent with `kubectl describe nodes`.
kubelet logs:
[code]
`used: 128849018880` are different with  `kubectl describe nodes`,    kubelet miss some event?
but  pod's status report by kubelet

[2020-01-09 10:07] BenTheElder commented on #86749
aside: IMHO the title of this issue is a feature but the problem mentioned with mismatched uint sizes in cadvisor is a bug 🙃

[2020-01-09 10:13] wojtek-t commented on #86935
It's not that easy - because the problem is that it's not a test that is failing, but the fact that it doesn't built. Which seems to be more tricky to exclude.
I don't have time to look into it, but if someone can pick it up, it would be great.

[2020-01-09 10:37] jkryanchou commented on #85761
same issue.

[2020-01-09 10:39] draveness opened #87008 "pull-kubernetes-e2e-kind and pull-kubernetes-e2e-kind-ipv6 is failing"
**Which jobs are failing**:

+ pull-kubernetes-e2e-kind-ipv6
+ pull-kubernetes-e2e-kind

**Which test(s) are failing**:

+ [sig-api-machinery] ResourceQuota should verify ResourceQuota with best effort scope. [Conformance] expand_more
+ [sig-network] Networking Granular Checks: Services should function for node-Service: udp expand_more
+ [sig-storage] In-tree Volumes [Driver: local][LocalVolumeTyp

[2020-01-09 10:40] draveness commented on #87008
/sig network
/sig api-machinery
/priority critical-urgent

[2020-01-09 10:44] kvaps commented on #84545
In my case problem was that `/var/run` wasn't connected with `/run`, to solve issue:

[code]

[2020-01-09 11:01] #86906 closed

[2020-01-09 11:07] #86749 closed

[2020-01-09 11:39] msschl commented on #53533
I am also very much interested in this feature. Are there any news?

[2020-01-09 11:50] sekerjak commented on #52172
still reproducible

[2020-01-09 11:53] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2020-01-09 11:53] aojea commented on #86422
/close
I think that is not a problem right now, and if it is a real problem it will pop up once people start to use more dual-stack or ipv6 environments

[2020-01-09 11:53] #86422 closed

[2020-01-09 12:30] rikatz commented on #86954
@mborsz probably related: #86924

Will wait the tests to run again to check if the flackiness is properly solved by this PRs, as the grid today is "all green"

[2020-01-09 12:56] manderson23 commented on #78759
/remove-lifecycle stale

[2020-01-09 12:57] ChillyVanilly77 opened #87016 "`preStop`-hook doesn't get triggered when a pod is about to be terminated"
Dear Kubernetes-team,

**What happened**:
Recently I was trying to trigger the `preStop`-hook by running for example `kubectl drain` or `kubectl delete pod <pod_name>` which was supposed to run a simple `kill -s SIGINT 1`-command on the master-procces (PID 1) of Postgres, thus trying to achieve a graceful shutdown of Postgres through overriding the standard SIGTERM -> grace-period -> SIGKILL -beha

[2020-01-09 13:04] ChillyVanilly77 commented on #87016
/sig cluster-lifecycle

[2020-01-09 13:17] ingvagabund commented on #86972
Sure :)
/assign

[2020-01-09 13:32] liggitt commented on #87008
greened up after https://github.com/kubernetes/test-infra/pull/15830 was merged

/close

[2020-01-09 13:32] #87008 closed

[2020-01-09 13:33] liggitt commented on #87008
and https://github.com/kubernetes/test-infra/pull/15829

[2020-01-09 14:07] masondaven commented on #79365
@hyprnick This worked for me. I had to add resource requests/limits to a sidecar container and remove "Completed" jobs from the namespace.

[2020-01-09 14:07] q1240725729 opened #87017 "How can I start a Nacos cluster through kubernetes?"
Nacos uses the hostname + 8848 to connect by default, but the container hostname created by kubernetes is random
nacos.log↓↓↓↓↓↓↓↓↓↓
java.lang.IllegalStateException: unable to find local peer: nacos-7fd759558c-g9sn6:8848
docker container hostname is  nacos-7fd759558c-g9sn6
can i get hostname in deployment.yaml?

[2020-01-09 14:14] liggitt commented on #86957
/assign @apelisse

[2020-01-09 14:18] liggitt commented on #86418
runs since timeout was lengthened are green - https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=api-machinery&width=5&sort-by-flakiness=200&include-filter-by-regex=CustomResourcePublishOpenAPI

issue opened to track improving the openapi aggregation speed at #86967

/close

[2020-01-09 14:18] #86418 closed

[2020-01-09 14:25] liggitt commented on #85762
Test is no longer run in blocking presubmit. @kubernetes/sig-node-bugs - who owns resolving this and reintroducing the test before 1.18 is released? Investigation with combined timeline at https://github.com/kubernetes/kubernetes/pull/86468#issuecomment-568078585 shows that the kubelet stopped the container and destroyed it within ~15 seconds (observed deletion at 06:20:11.938821, destroyed contai

[2020-01-09 14:29] liggitt commented on #86370
@bowei @dcbw any update on status of this? if a fix is not imminent, these tests will be marked `[Flaky]` and will not run in blocking presubmit.

[2020-01-09 14:33] liggitt commented on #86483
#86824 fixes the issue for 1.17, will be releases in 1.17.1

#86430 will resolve this for 1.18

/close

[2020-01-09 14:38] liggitt commented on #76624
The server-side fix in https://github.com/kubernetes/kubernetes/pull/76675 (to drop a watch if a delete event is received with a nil PrevKV) is available in all supported kube-apiserver versions (1.15.0+), closing this

/close

[2020-01-09 14:38] #76624 closed

[2020-01-09 14:39] liggitt commented on #86879
duplicate of https://github.com/kubernetes/kubernetes/issues/84985

/close

[2020-01-09 14:39] #86879 closed

[2020-01-09 14:40] neolit123 commented on #86951
1 year for these certificates is the sane industry default.
if you wish to rotate certificates more often you are free to do so. if you wish to extend the certificate expiration you are not following security practices even for private clouds.

kubeadm has no plans to support customizable certificate expiration from it's API.

you have two options:
- provide external certificates (which kubeadm al

[2020-01-09 14:41] nsano-rururu commented on #86961
I tried to install flanel, but it did not because an error occurred before installation.
When I put Kubernetes 1.16 into CoreOS Container Linux 2303.3.0 at work, the error that occurred this time did not occur. One master node. Operation has been confirmed in six worker node environments.

[2020-01-09 14:42] liggitt commented on #84985
/assign @PatrickLang @michmike
to windows sig leads for triage/routing

[2020-01-09 14:42] liggitt commented on #86878
/assign @PatrickLang @michmike
to windows sig leads for triage/routing

[2020-01-09 14:42] medsadokmtir commented on #81723
+1

[2020-01-09 14:44] liggitt commented on #86312
once a runc release is available, we'll need to update our e2e images

/assign @cheftako
for COS image updates

/assign @BenTheElder
for kind updates

[2020-01-09 14:46] nsano-rururu commented on #86961
[code]

[2020-01-09 14:47] ahg-g commented on #85900
/priority important-soon

[2020-01-09 14:48] ahg-g commented on #85900
/remove-priority critical-urgent

[2020-01-09 14:50] ahg-g commented on #85900
/remove-priority important-soon
/priority backlog

[2020-01-09 14:50] liggitt commented on #85762
To evaluate the effectiveness of a potential fix, I would recommend opening a PR that removes the `[Flaky]` tag along with the proposed fix, and repeatedly `/test pull-kubernetes-e2e-gce` on that PR to accumulate 10-20 test runs.

[2020-01-09 14:52] neolit123 commented on #86992
@tanjunchen
the functions look the same.
please remove `generateWriteBlockCmd` and use `generateWriteFileCmd` everywhere.
this pairs the function with `generateReadFileCmd`.

if there is demand for unique logic when writing to a block device, the function ` generateWriteBlockCmd` can be reintroduced.

[2020-01-09 14:53] #86978 closed

[2020-01-09 14:54] neolit123 commented on #86961
please try Calico instead of flannel:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

this error is still puzzling. please try to figure out why.

[2020-01-09 15:01] wojtek-t commented on #86483
Can we keep it open until 1.18 is also fixed?

I renamed the issue

[2020-01-09 15:02] liggitt commented on #86483
sure

[2020-01-09 15:04] neolit123 commented on #86864
i think we have related fixes for this in 1.17.

this command does not output your `apiserver-etcd-client` (due to external etcd), so `certs renew` should also not look for it.

what happens if you try renewing individual certs instead of "all"?

[2020-01-09 15:26] claudiubelu commented on #86257
Bump. So, can we have the image rebuilt / republished?

[2020-01-09 15:26] haosdent commented on #86993
@Huang-Wei @ahg-g I think I could help in this clean up, could I assign it to me? Or you have started?

[2020-01-09 15:35] haosdent commented on #86711
Hi, @ahg-g Now the rest filter plugins depends on `predicates` package are

[code]

They could not move methods from `predicates` package to their own filter packages due to

[code]

Do you have any suggestions to move this forward? Thank you in advance.

[2020-01-09 15:36] nsano-rururu commented on #86961
I installed flanel, but there are no pods for flanel. The state of kube-controller-manager and coredns has not changed.

[code]

Created a k8s 1.16 environment with AWS EC2 instances added.
After that, I compared /etc/kubernetes/manifests/kube-controller-manager.yaml of 1.16 and 1.17.
The flexvolume-dir setting has increased in 1.17.
The problem is the directory. / CoreOS Usr seems to be a read-on

[2020-01-09 15:36] teoincontatto commented on #60807
As [mentioned before in this issue](https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-408599873) there is another way to terminate a namespace using API not exposed by kubectl by using a modern version of kubectl where `kubectl replace --raw` is available (not sure from which version). This way you will not have to spawn a `kubectl proxy` process and avoid dependency with `curl` (

[2020-01-09 15:36] danpe commented on #67019
/remove-lifecycle stale

[2020-01-09 15:40] #80921 closed

[2020-01-09 15:41] maxstr commented on #78948
/remove-lifecycle stale

[2020-01-09 16:01] apelisse commented on #86957
I agree that this must be a bug. `kubectl diff` is supposed to do the same thing that `kubectl apply` would do but with dry-run. Unfortunately, I can't easily reproduce with what you posted, so it'd be really nice if you could show us ... maybe the last-applied-annotations? so that we know what you applied before that? Thanks

[2020-01-09 16:09] nsano-rururu commented on #86961
I searched for CoreOS Container Linux and FlexVolume.
I found information on FlexVolume Configuration of Openshift 4.0 and rook, so I will share the information.

Openshift 4.0 is Red Hat Enterprise Linux CoreOS. Changed to /etc/kubernetes/kubelet-plugins/volume/ exec.
rook's FlexVolume Configuration has a description about changing directories for CoreOS Container Linux.

**Openshift-4.0**

[agen

[2020-01-09 16:20] liggitt commented on #75355
back in the top ten according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2020-01-09 16:21] liggitt commented on #75355
/assign @derekwaynecarr @dchen1107
assigning sig-node leads for visibility/routing

[2020-01-09 16:23] neolit123 commented on #86961
see this:
https://github.com/kubernetes/kubernetes/blob/15344433f22f52be9b588bb7ec44f39b88618f27/cmd/kubeadm/app/phases/controlplane/volumes.go#L72-L77

if you pass `flex-volume-plugin-dir` to the `extraArgs` of the kube-controller-manager from kubeadm does this solve your problem?

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#controllermanager-flags

[2020-01-09 16:23] Marcofeli commented on #37798
Thanks @colachg you really saved my live! 😁

[2020-01-09 16:24] liggitt commented on #85762
/assign @derekwaynecarr @dchen1107
assigning sig-node leads for visibility/routing

[2020-01-09 16:25] liggitt commented on #80534
is a test-only issue actually critical-urgent if it has been open for 6 months and has not been release-blocking?

[2020-01-09 16:29] bowei commented on #86370
Taking a look

[2020-01-09 16:31] bowei commented on #86370
cc: @freehan

[2020-01-09 16:35] apelisse commented on #86935
Yeah, let's try to fix it!

Any suggestion?

[2020-01-09 16:36] neolit123 commented on #87017
/remove-kind feature

[2020-01-09 16:38] neolit123 commented on #87016
/remove-sig cluster-lifecycle
/sig node

[2020-01-09 16:41] wgabsi88 commented on #86064
I created 2 pods with big volumes, one succeeded and the other failed with the same error .

Log of the pod with failed disk mount :

[code]
and the log of the pod with successful disk mount:

[code]
i checked the mount_linux.go and found that the following steps should be executed to mount a volume :

1. Attach volume to the host
2. Run fsck on the disk
3. Try to mount the disk
4. if the mount wa

[2020-01-09 16:44] tedyu commented on #81723
There is already code recording related event.
e.g. in eviction_manager.go
[code]
Is the request here to add new event which records similar information ?

[2020-01-09 16:46] neolit123 commented on #87004
/remove-kind bug
/close

this is not a k8s problem, per se.
the kubelet.service that we ship does not adjust the RLIMIT_NOFILE and LIMITS parameters for systemd:
https://github.com/kubernetes/release/blob/master/build/debs/templates/latest/kubelet/lib/systemd/system/kubelet.service

so the problem must be on your OS/distro, try searching for related issues on the internet or ask on stackoverflow.

[2020-01-09 16:46] #87004 closed

[2020-01-09 16:47] medsadokmtir commented on #81723
The problem is that we do not get the reason for the kill. I can see with `k get events` only killing events without the reason:
`32m         Normal    Killing                 Pod        Killing container with id docker://containerId:Need to kill Pod`

[2020-01-09 17:12] andreib1 commented on #81723
Typical causes could be OOMkilled, Rolling-update etc.

Another field with the cause of death would be great, I guess another event would work, although it would mean extra work to tie them together.

[2020-01-09 17:18] medsadokmtir commented on #81723
It is deployment in my Case with a  `replicas: 1` and according to the official doc [Example states](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#example-states), the node is only deleted when a disk dies or node is segmented out. So it could not be an OOMkilled.

[2020-01-09 17:20] nsano-rururu commented on #86961
[code]

[2020-01-09 17:20] tedyu commented on #87016
/cc @mgdevstack
What do you think ?

[2020-01-09 17:26] neolit123 commented on #86961
don't use flannel. users are reporting that it does not work with 1.17.

[2020-01-09 17:48] ahg-g commented on #86920
Can we try to make the map and list private and only accessible via the listers?

[2020-01-09 17:51] apelisse commented on #86957
/wg apply

[2020-01-09 17:51] apelisse commented on #86957
cc @julianvmodesto

[2020-01-09 17:57] linki opened #87028 "BoundServiceAccountTokenVolumes: Pod rejected when solely relying on projected token volumes"
**What happened**:

We enabled the `BoundServiceAccountTokenVolume` feature gate on `v1.15.6` to start switching from non-expiring to expiring ServiceAccount tokens as [introduced here](https://github.com/kubernetes/kubernetes/issues/70679). It works well.

We then wanted to completely get rid of the "legacy" non-expiring ServiceAccount token Secrets. To do that we configured `controller-manager`

[2020-01-09 17:58] spiffxp commented on #86928
/reopen
https://github.com/kubernetes/kubernetes/pull/86924 merged but we're now seeing multiple tests fail since it merged

[2020-01-09 17:59] BenTheElder commented on #87008
I think it was ultimately https://github.com/kubernetes/test-infra/pull/15829 but the failure mode there is .. strange.

Apologies for the noise. I had reverts in flight before the alerts fired 😅

[2020-01-09 17:59] spiffxp commented on #86928
https://github.com/kubernetes/kubernetes/pull/87011 is an attempt to fix

[2020-01-09 18:05] daschott commented on #79658
Is this still active?
@harishsrini have you been able to get a repro?

[2020-01-09 18:06] alculquicondor commented on #86920
The problem is that `cache` needs access to build the snapshot.
But we could move `snapshot.Snapshot` to the `internal/cache` package. This is an internal package, but we should have no issues because we have the `scheduler/listers` which has an interface for it.
WDYT?

[2020-01-09 18:08] caseydavenport commented on #84598
/triage support
/remove-triage unresolved

[2020-01-09 18:08] caseydavenport commented on #84598
/remove-kind bug

[2020-01-09 18:11] PatrickLang commented on #80534
This has been a buggy test that's taken multiple iterations of refactoring to fix. We haven't been sitting still on this, but it's been hard to get reviewers to merge everything.

@spiffxp  - are you working on driving down the flakes? this one is actionable with PRs ready to merge.

I'll change the priority since we've shipped a release without fixing this test issue.
/priority important-soon

[2020-01-09 18:13] PatrickLang commented on #80534
/remove-priority critical-urgent

This was marked critical-urgent as we were trying to get it into the 1.17 review queue. Dropping this back to important-soon

[2020-01-09 18:18] ahg-g commented on #86920
yeah, that is what I was thinking, move the implementation to internal/cache. Now that we cut most direct dependencies on the scheduler code (DS controller and soon Kubelet) I think we will not have indirect dependency issues.

[2020-01-09 18:22] liggitt commented on #87028
Fixed in https://github.com/kubernetes/kubernetes/pull/87029

[2020-01-09 18:22] PatrickLang commented on #86878
/sig windows

[2020-01-09 18:23] PatrickLang commented on #86878
/remove-sig azure
/remove-area provider/azure

Windows flake, not an Azure issue

[2020-01-09 18:40] harishsrini commented on #79658
We haven't been able to repro this locally.

[2020-01-09 18:58] invertigo commented on #59564
What worked for me (kubernetes provided by docker desktop on windows) was running `docker container prune`.  This allowed the pod to finish terminating.

[2020-01-09 19:04] alculquicondor opened #87033 "[Scheduler] Move snapshot.Snapshot to cache.Snapshot"
See #86920 for motivation

Snapshot's data structures (map and lists of nodes)  shouldn't be accessed directly by any users, other than its builder (cache.Cache).

We have migrated most of the old usages of these fields to the listers' interfaces. There might be some usages left in tests. But once that's finalized, there is no point in having Snapshot in its own package. It should just be part of

[2020-01-09 19:07] alculquicondor commented on #87033
/remove-kind feature

[2020-01-09 19:11] bharaththiruveedula commented on #86779
/assign bharaththiruveedula

[2020-01-09 19:22] #87017 closed

[2020-01-09 19:30] aramase commented on #76657
/remove-lifecycle stale

[2020-01-09 19:33] #86990 closed

[2020-01-09 19:34] ghhenry commented on #86507
Correct. Being slow seems to be the major incredient. I still think it has to do with the repeated SYN packets handled differently by the iptables chains as shown in the attached traces. Somehow the second packet is not marked and therefore not masqueraded.

[2020-01-09 19:43] fejta commented on #86597
Self-documenting commands sound useful.

A high level overview README.md also sounds useful.

[2020-01-09 19:52] spiffxp commented on #86928
reverting https://github.com/kubernetes/kubernetes/pull/87036

[2020-01-09 19:53] spiffxp commented on #86902
continuing to track flakiness leading to continuous failure under https://github.com/kubernetes/kubernetes/issues/86928

[2020-01-09 19:54] Bessonov commented on #66430
/remove-lifecycle rotten

[2020-01-09 19:57] spiffxp commented on #86928
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1#be2077bc4ea0b3661d1e is the failure cluster I suspect will go down once the revert goes in

[2020-01-09 20:07] liggitt commented on #79464
see explanation in https://github.com/kubernetes/kubernetes/issues/79464#issuecomment-506403162

we need to run the openapi generation step before running the benchmark

[2020-01-09 20:38] alculquicondor commented on #87033
Having a second thought, the only blocker is autoscaler.

As of today the requirements are:
- cache needs read/write access to snapshot's data structures.
- autoscaler basically just needs to create listers.

This is one idea I have in mind if those above are the only requirements:
We add an unexported snapshot holder in `internal/cache`. Then `nodeinfo/snapshot.Snapshot` is just something that im

[2020-01-09 20:53] BenTheElder commented on #86935
... unclear. repo-infra? test-infra?

On Thu, Jan 9, 2020 at 8:35 AM Antoine Pelisse <notifications@github.com>
wrote:

[2020-01-09 20:54] apelisse commented on #86935
Yeah, I don't want to over-worry about that, code can always move ...

[2020-01-09 21:02] neolit123 commented on #86961
looking at your logs the coredns pods are reported as running, but not ready yet.
did they ever ready up?

[2020-01-09 21:06] fedebongio commented on #86811
/assign @liggitt @sttts

[2020-01-09 21:09] jingxu97 commented on #74650
Discussed offline with @msau42,
For proposal 1., pod will not be deleted from api server if there are still volume dirs exist. So to make sure it works well, we need to have reliable way to clean up dirs. Normally when kubelet restarts, reconciler will either add it into actual state (if reconstruction works) or try to clean it up directly once unless volume is still in desired state. So if recons

[2020-01-09 21:10] edernucci commented on #64137
AKS friends, please see if this is not your real issue (it was mine): https://github.com/Azure/AKS/issues/1373

[2020-01-09 21:10] fedebongio commented on #86839
/cc @lavalamp

[2020-01-09 21:12] fedebongio commented on #86851
/cc @apelisse

[2020-01-09 21:14] fedebongio commented on #86862
/assign @deads2k

[2020-01-09 21:16] fedebongio commented on #86888
/assign @fedebongio

[2020-01-09 21:17] fedebongio commented on #86897
/assign @roycaihw @seans3

[2020-01-09 21:18] fedebongio commented on #86967
/assign @roycaihw @sttts

[2020-01-09 21:21] lavalamp commented on #86839
In that case, I wouldn't expect that moving the loop inside apiserver would make a difference (apiserver would just be calling itself N times).

Moving the loop doesn't change the amount of work that needs to be done.

Why can you not increase your scheduler's QPS?

If the problem is the knock-on writes from starting the pods (status updates, event writes) then making apiserver do things in a batc

[2020-01-09 21:29] #86920 closed

[2020-01-09 21:29] #86989 closed

[2020-01-09 21:31] gnufied commented on #83691
This should be fixed by https://github.com/kubernetes/kubernetes/pull/82492

closing.

/close

[2020-01-09 21:31] #83691 closed

[2020-01-09 21:39] alejandrox1 commented on #86206
For context, the big issue in https://github.com/kubernetes/kubernetes/issues/34059 was indeed about adding annotations to anything that looked like a `gomega.Expect(...).To(...)`.
The use of e2e framework functions such as `framework.Ecpect(...)`.

https://github.com/kubernetes/kubernetes/blob/master/hack/verify-test-code.sh (the CI script that prevents the use of `gomega.Expect(err).To(HaveOccur

[2020-01-09 21:42] prithviramesh opened #87039 "DeletionTimestamp set after grace period is respected does not include grace period time"
Dear Kubernetes-Team:

I ran an experiment with an application that does not exit after Kubelet sends an inital SIGTERM signal.
The specified grace-period is respected and the pod is deleted after the grace period finishes.

The deletionTimestamp on the inital delete event seems to include the grace-period, but the deletionTimestamp that is finally updated by the APIServer does not account for the

[2020-01-09 21:43] prithviramesh commented on #87039
/sig api-machinery node

[2020-01-09 21:43] logicalhan commented on #78481
/remove-lifecycle stale

[2020-01-09 21:43] logicalhan commented on #78481
/sig instrumentation

[2020-01-09 21:45] liggitt commented on #87039
DeleteFunc is given the last persisted copy of the object prior to the delete. I think for you to get the behavior you want, the kubelet would have to do an update to shorten the deletionTimestamp, then do the actual delete.

[2020-01-09 21:48] liggitt commented on #87039
can you include the watch event type in the kubectl watch output (`kubectl get pods -oyaml -w --output-watch-events=true`)

[2020-01-09 21:52] liggitt commented on #87039
actually, I think the final deletionTimestamp reflects the time the kubelet actually deleted the pod... how long did it take from when you issued the first delete to when the final delete event was observed?

[2020-01-09 21:53] dcbw commented on #86091
@leodotcloud is there any way you can include kubelet logs of this happening, preferably at loglevel 5? No pods that require network should be started before the network plugin is initialized, but the logs will shed more light on that.

[2020-01-09 21:54] prithviramesh commented on #87039
It seems to take the full 5 minutes, and the pod Informers seem to confirm this with the timestamp from the DeleteFunc

[2020-01-09 21:54] logicalhan commented on #83136
/remove-lifecycle stale

[2020-01-09 21:55] prithviramesh commented on #87039
We also saw behavior where if we take down Kubelet (in some cases Kubelet was down for 10 days) the deletionTimestamp was set to when the user puts the initial Delete request in.. and not when Kubelet actually comes back up and deletes the pod

[2020-01-09 22:00] liggitt commented on #87039
actually, it might be related to this code:

https://github.com/kubernetes/kubernetes/blob/aef336d71253d9897f83425e80a231763d1385e8/staging/src/k8s.io/apiserver/pkg/registry/rest/delete.go#L117-L122

That seems to be doing something funny with a combination of the object's current deletion timestamp, current deletionGracePeriodSeconds, and the delete request's gracePeriodSeconds.

[2020-01-09 22:01] hasheddan opened #87040 "Mark CustomResourceDefinitionStatus fields +optional"
**What would you like to be added**:

Currently, the `Status` field on `CustomResourceDefinitions` must be explicitly set to their zero-values due to the fact that they are not tagged `omitempty`.

Ref:

https://github.com/kubernetes-sigs/controller-tools/blob/0dd9d80ad4b98900d6066141dd4233354b25e3f3/pkg/crd/spec.go#L154

**Why is this needed**:

If using a system that automatically compares the p

[2020-01-09 22:01] liggitt commented on #87039
/kind bug

[2020-01-09 22:04] danwinship commented on #85395
ping @sergey-safarov could you file a KEP as described above?

[2020-01-09 22:04] danwinship commented on #85395
/remove-triage unresolved

[2020-01-09 22:06] danwinship commented on #85422
/assign @andrewsykim

[2020-01-09 22:07] danwinship commented on #85416
/assign

[2020-01-09 22:08] danwinship commented on #84794
/assign @bowei

[2020-01-09 22:09] danwinship commented on #85572
/remove-triage unresolved

[2020-01-09 22:09] danwinship commented on #85572
/assign @robscott

[2020-01-09 22:10] danwinship commented on #85499
/remove-triage unresolved
/help-wanted
/help

[2020-01-09 22:12] danwinship commented on #85669
/remove-sig network
/remove-triage unresolved

[2020-01-09 22:12] tedyu commented on #85499
@danwinship
What do you think of the following ?
[code]

[2020-01-09 22:13] danwinship commented on #85443
/assign @aramase

[2020-01-09 22:14] danwinship commented on #85809
/assign @thockin @bowei

[2020-01-09 22:14] danwinship commented on #85809
/assign @caseydavenport
/unassign @bowei

[2020-01-09 22:15] danwinship commented on #85877
/assign @andrewsykim
(probably also we need an e2e hairpin test for ipvs?)

[2020-01-09 22:16] danwinship commented on #85669
/area provider/aws

[2020-01-09 22:17] danwinship commented on #85616
/remove-sig network
/area provider/aws
/remove-triage unresolved

[2020-01-09 22:17] danwinship commented on #85616
/sig cloud-provider

[2020-01-09 22:29] kwiesmueller commented on #85750
@bouk feel free to follow the progress in the KEP PR and leave any feedback you have regarding the approach: https://github.com/kubernetes/enhancements/pull/1442

[2020-01-09 22:32] liggitt commented on #87039
I think two tweaks to that logic would make it more sensible:
* if the computed newDeletionTimestamp is before now(), clip to now()
* if the computed newDeletionTimestamp is after the existing `objectMeta.GetDeletionTimestamp()`, skip calling SetDeletionTimestamp

that definitely needs unit tests around this scenario, but I don't see the benefit in letting deletion timestamp move back in time afte

[2020-01-09 22:46] tedyu commented on #87039
[code]
Looks like this shouldn't happen:
[code]

[2020-01-09 22:53] apelisse commented on #86851
Yeah, agreed, we don't need issues for small changes.

[2020-01-09 22:57] #86851 closed

[2020-01-09 22:58] barney-s commented on #64137
I assume this is applicable to Pods created by other controller as well. Could we change the title to reflect what we know.

[2020-01-09 22:58] prithviramesh commented on #87039
```if the computed newDeletionTimestamp is after the existing objectMeta.GetDeletionTimestamp(), skip calling SetDeletionTimestamp``` Kubernetes docs also guaranteee that the deletionTimestamp can never be set into the future, only moved backwards.

[2020-01-09 23:02] liggitt commented on #87039
Yes, which is currently guaranteed because we only shorten deleteGracePeriod, and compute the new deletion timestamp relative to the old one. If we clip to now(), we need to explicitly check that we are not moving the deletion timestamp forward or the update would fail validation.

[2020-01-09 23:09] spiffxp commented on #83869
/close
Agree with @liggitt, closing this out, we already know about these flakes (see issues I linked above)

[2020-01-09 23:09] #83869 closed

[2020-01-09 23:19] prithviramesh commented on #87039
What if we handled the specific case when ```*options.GracePeriodSeconds == 0```

Because the code you linked seems to handle when the user reduces the grace Period, and Kubelet setting the grace period to 0 seems to be what is causing this error (or a user setting `--force`?)

[2020-01-09 23:30] liggitt commented on #87039
0 is just the logical extreme case. I wouldn't expect shortening a delete grace period from 300 seconds to 1 second an hour after the original delete request to move the deletionTimeStamp backward 4:59

[2020-01-09 23:47] spiffxp commented on #85303
/close
This is too vague to be actionable

I manually looked through the latest triage cluster for these tests to see if I could find something consistent, but nothing jumped out other than a spike which resolved itself.  "Node Tests" is the equivalent to "Test" failing for regular e2e jobs, so it's an umbrella that will always fail if an individual test fails.  For those jobs that had _only_ Node

[2020-01-09 23:47] #85303 closed

[2020-01-09 23:47] #81160 closed

[2020-01-09 23:52] smiklosovic commented on #22024
please is this going to be fixed? My operator is failing on this and it restarts constantly.

[2020-01-10 00:03] BenTheElder commented on #86312
as soon as there's a runc release we'll roll it out in kind (preferably if containerd 1.3.X can pick it up officially... we already have infra building that), tempted to go ahead and grab a runc binary at some commit ...

[2020-01-10 00:10] #86789 closed

[2020-01-10 00:46] tedyu commented on #78481
@gmarek
Do you want to pick this up ?

[2020-01-10 00:52] oomichi opened #87047 "Use e2eskipper package"
This is a part of https://github.com/kubernetes/kubernetes/issues/81245

Please make the following e2e tests use e2eskipper package like https://github.com/kubernetes/kubernetes/pull/87031

- [x] e2e/apps/ (@k-toyoda-pi)
- [x] e2e/auth/ (@YuikoTakada https://github.com/kubernetes/kubernetes/pull/87062)
- [x] e2e/autoscaling/ (@YuikoTakada https://github.com/kubernetes/kubernetes/pull/87173)
- [x]

[2020-01-10 00:52] oomichi commented on #87047
/sig testing

[2020-01-10 00:53] oomichi commented on #87047
/kind cleanup
/remove-kind bug

[2020-01-10 01:19] GaurangRLB opened #87048 "Update kubernetes from 1.14 to 1.15.7 remove DNS label (Azure)"
We update our kubernetes version from 1.14. to 1.15.7 which remove DNS label from public ip address.

As per the release note https://github.com/kubernetes/kubernetes/pull/85318 should fix this issue. But it does not seems to be fixed. We have same issue across all kubernetes services running in different regions.

**Environment**:
- Current Kubernetes version 1.15.7:
- Previos Kubernetes version

[2020-01-10 01:20] prithviramesh commented on #87039
That makes sense. I think the logic you outlined above should fix this issue, and as you suggested on Slack we should add unit tests testing that the deletionTimestamp is actually set to the time the object is deleted.

I'd love to own this if that's ok with everyone.

[2020-01-10 01:23] k-toyoda-pi commented on #87047
I will work on e2e/apps/

[2020-01-10 01:36] YuikoTakada commented on #87047
I will work on

- e2e/auth/
- e2e/autoscaling/
- e2e/cloud/
- e2e/common/
- e2e/framework/

[2020-01-10 01:40] CC1404068613 opened #87049 "Pod sandbox changed, it will be killed and re-created"
**What happened**:
Pod sandbox changed, it will be killed and re-created
![image](https://user-images.githubusercontent.com/44268973/72118761-2a38eb00-338d-11ea-9ea1-2196aadebb03.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provid

[2020-01-10 01:42] oomichi commented on #87047
/assign @k-toyoda-pi @YuikoTakada @oomichi

[2020-01-10 01:56] oomichi commented on #86678
Humm, another flake happens in the same test:
[code]
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1214592085160628225
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1214580255948279811

[2020-01-10 02:05] lubinszARM commented on #86295
@dims
I see. Thank you very much! :)

[2020-01-10 02:18] tanjunchen commented on #87047
I will on
 e2e/instrumentation
 e2e_kubeadm/ and e2e/kubectl/
 e2e/network/
 e2e/node/

[2020-01-10 02:19] SataQiu commented on #87047
/cc

[2020-01-10 02:38] tedyu commented on #87049
If possible, can you paste the text from the image ?

Which version are you using ?

Thanks

[2020-01-10 02:42] #86994 closed

[2020-01-10 02:42] CC1404068613 commented on #87049
I have found this isssu due to not install network pod so that coredns is not ok ,thank.

[2020-01-10 02:44] leodotcloud commented on #86091
@dcbw atm we don't have any verbose logs from kubelet. I have copied your request on the other issue https://github.com/rancher/rancher/issues/23284#issuecomment-572847322 as well as requested our QA team to enable the same.

[2020-01-10 02:50] ashishpahwa7 commented on #53059
Has this issue been resolved?

[2020-01-10 03:00] s-ito-ts commented on #87047
I will work on e2e/scheduling/ and e2e/servicecatalog/

[2020-01-10 03:02] YuikoTakada commented on #86651
@bharaththiruveedula I already posted PR, thanks.

[2020-01-10 03:23] tanjunchen commented on #86597
/cc @fejta
/cc @hase1128
Regarding adding help information, I suggest that we can submit pr in one or several files as a unit, so that we can track and statistics. For the documentation, I think it should be concise and not too long. How about this advice?  We can claim tasks through ``` i will pick up xxx ```, the pr title ``` Add some comment to hack/xx.sh ```

@hase1128
yes , i agree with you.

[2020-01-10 03:24] huchengze opened #87056 "Kubernetes support for mips64le"
I have completed the release of kubernetes for mips64le.
https://travis-ci.com/huchengze/kubernetes/builds/143502702
I wiill make a list about how to do it.

- [ ] **1. Modify [fs.go](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/google/cadvisor/fs/fs.go).**
I have mention it in this [issue](https://github.com/kubernetes/kubernetes/issues/86749), and I create this [PR](htt

[2020-01-10 03:24] tanjunchen commented on #86597
i will pick up kubernetes/hack/readme.md, i will do it  step by step.

[2020-01-10 03:25] huchengze commented on #87056
@kubernetes/release-engineering
/sig release

[2020-01-10 03:35] qqbuby commented on #87004
I use the apt to reinstall `systemd` and the problem was solved.

[code]

[2020-01-10 03:38] ydcool commented on #87056
CC  @BenTheElder @dankohn  @dims @liggitt

[2020-01-10 04:13] #84541 closed

[2020-01-10 04:52] hase1128 commented on #86597
@tanjunchen
I agree with your idea, and thanks the checkbox to check progress.
there are many scripts, so let's work together!

[2020-01-10 05:11] dElogics commented on #23349
More valuable information, increase fs.inotify.max_user_watches and net.ipv4.neigh.default.gc_thresh* which improves stability.

[2020-01-10 05:24] jiahuif commented on #85545
As a first step towards this issue, I am planning to create node-e2e tests (under `test/e2e_node`) to verify the following:

- With a running pod
    - client adds a valid EphemeralContainer resource, and the ephemeral container starts
    - from the ephemeral container, list processes of itself and other containers, and then signal other processes (if `shareProcessNamespace` is `true`)
    - from

[2020-01-10 06:38] liggitt commented on #87040
marking them as `// +optional` seems ok, so that client-side validation doesn't complain if they are absent when submitting manifests, but they shouldn't need to be set to omitempty (and at this point, we likely wouldn't change the serialization)

Those fields are changed by controllers after creation, so expecting the live API object to exactly match the status is not going to go well anyway.

[2020-01-10 06:51] huchengze commented on #86808
/remove-kind bug
/kind feature
@kubernetes/release-engineering

[2020-01-10 06:52] hasheddan commented on #87040
Good point! I’ll open a fix for this.

Yep! The specific system in question ignores fields that are not set at creation time by default when doing comparison, so if status fields are not included then it will not report a diff.

[2020-01-10 07:07] willzhang opened #87064 "how to get image version information from a official place?"
i don't want to use kubeadm config images list get all images version , is there a place get it in official place?
[code]

[2020-01-10 07:16] wojtek-t commented on #22024
See this comment: https://github.com/kubernetes/kubernetes/issues/22024#issuecomment-195107535
This is working as expected and is not going to be fixed.

[2020-01-10 07:28] tanjunchen commented on #86597
/assign @hase1128
/assign @tanjunchen

[2020-01-10 07:35] gprossliner commented on #86779
Thanks @bharaththiruveedula, let me know if there is anything I can do.

[2020-01-10 07:41] bharaththiruveedula commented on #86779
@gprossliner , I am currently getting confirmation about the flags to use from kubelet maintainers. The current options we have are --version=json and --version-json. Once it is confirmed, I  can start implementing it immediately

[2020-01-10 07:44] YuikoTakada commented on #81657
@palnabarun are you still working on this issue? if you can't, I'll assign test/integration/* to myself, thanks.

[2020-01-10 07:50] zhouya0 commented on #86984
I'm willing to help this, but can you show me you kubelet config file?

[2020-01-10 08:00] QianChenglong commented on #86951
For a large number of clusters, we need to design a special component to periodically check or automatically update the certificate, which is too cumbersome.

[2020-01-10 08:08] couloum commented on #82889
Hi @rajansandeep ,

I have the same issue here due to the plugin `hosts` of coredns that is reported as unsupported.

My coredns config:
[code]

Result of `kubeadm upgrade plan`

[code]
Kubadm version:
[code]

If I change my coredns configuration to remove usage of `hosts` plugin, the upgrade plan works:

[code]

[code]

I don't think `hosts` plugin is unsupported by Coredns, unless I'm missing so

[2020-01-10 08:22] akuscu-smartpulse opened #87068 "Adding Depend_On Pods"
**What would you like to be added**: It would be good if there is a pod dependency.For example if a web service needs database it should be depend the database.So if the databases is not running web service should stop and wait for the database.I know i can use init container but after pod started it is useless.

**Why is this needed**: It needed because we should be sure that services are not was

[2020-01-10 08:24] akuscu-smartpulse commented on #87068
/sig architecture

[2020-01-10 08:30] mmpei opened #87070 "HPA support temporary disable function"
**What would you like to be added**:
there should be a way to disable HPA temporarily. like an annotation `xxxxx/disable: true`. and enable it after this annotation removed or set the value to `false`.
**Why is this needed**:
we want to disable HPA when we are doing upgrading. especially in our scenario, we implement canary strategy using two k8s deployment, HPA mechanism makes the upgrading proce

[2020-01-10 08:31] mmpei commented on #87070
/sig Autoscaling

[2020-01-10 08:42] yuxiaobo96 commented on #87047
I will work on:
- e2e/gke_local_ssd.go and e2e/gke_node_pools.go
- e2e/storage/
- e2e/ui/ and e2e/upgrades/

[2020-01-10 08:53] aristosvo commented on #86957
Sorry for my delayed response. I expected that the last `kubect apply -f` command was the exact same as the file I diffed against, but these are different. I don't know the reason, but my collegue included clusterIP already in it.

I suspect this doesn't mean the bug isn't there, but at least it is more reproducable:)

kubectl.kubernetes.io/last-applied-configuration:
[code]

[2020-01-10 08:59] hypnoglow commented on #69362
Still experiencing the issue on GKE 1.14.9-gke.2

[2020-01-10 09:03] barney-s commented on #75674
Trying to understand the usage of lastSuccessfulTime.

In a normally working case,
 lastSuccessfulTime > lastScheduledTime => last job completed
 lastSuccessfulTime < lastScheduledTime => last job completed, but a newer one is running

Is that the expectation ?

[2020-01-10 09:24] aermakov-zalando commented on #75674
We wanted to use it in monitoring (e.g. fire an alert if `lastSuccessfulTime` is more than X ago). `lastSuccessfulTime < lastScheduledTime` could also mean that the job has been failing for some time, so I don't know what would you get out of that.

[2020-01-10 09:25] frittentheke commented on #73628
/remove-lifecycle rotten

[2020-01-10 09:25] frittentheke commented on #73628
/reopen

[2020-01-10 09:47] palnabarun commented on #81657
@YuikoTakada Sure. Please take that lot up. :) I had reserved them for new contributors.

[2020-01-10 10:01] pierluigilenoci commented on #72944
/remove-lifecycle stale

[2020-01-10 10:03] tedyu commented on #86957
[code]
I noticed that server version lags client version.

I wonder if this is reproducible if server runs 1.16+ version.

[2020-01-10 10:14] gitbeyond commented on #85422
I have problem like this.  Have you solved it?

[2020-01-10 10:38] kevinscholz commented on #85643
Same issue here. I tried to fix in a few months ago but gave up in the end and set `externalTrafficPolicy` to `Cluster` (loosing the client ip but deploy zero-downtime). The issue is that the Google LBs don't get a signal BEFORE a pod is terminated, so only after the not configurable healthcheck timeout the node is deregistered from the LB. Found no way so far to remove the node from the LB before

[2020-01-10 11:11] hase1128 commented on #86597
I will pick up hack/verify-linkcheck.sh

[2020-01-10 11:15] sshukun opened #87075 "Unit tests with coverage failed due to KUBE_TEST_API variable unset"
**What happened**:
[code]
**What you expected to happen**:

unit tests with coverage succeed

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugi

[2020-01-10 11:39] tedyu commented on #87075
Looking at :
https://github.com/kubernetes-sigs/service-catalog/blob/master/pkg/apis/servicecatalog/testapi/testapi.go#L83

It is expecting group version string.

[2020-01-10 11:43] losipiuk commented on #87033
As part of migration to scheduler framework we (I) are kinda implementing exactly that. So at the end of the road we will only depend on the interface of `scheduler.listers.SharedLister`. I am not exactly sure that sharing the implementation will give us much benefit. Possibly some duplicate work now could be avoided - but at the cost of stepping each other toes more in the future. And the CA requ

[2020-01-10 11:59] #73397 closed

[2020-01-10 12:00] deepakpal-in opened #87078 "ansible module for kuberntes : k8s_scale is getting failed with error: "msg": "Exception reading event stream:"
**What happened**:

k8s_scale module got failed with error:

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "Exception reading event stream: "}`

I have used the below configuration:

[code]

**What you expected to happen**:

scaled-up resources

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2020-01-10 12:05] deepakpal-in commented on #87078
/sig scalability

[2020-01-10 13:07] danwinship commented on #85499
Yes. Printing the message only once every ten minutes is less annoying than printing it every time, but it's still *wrong*. Fixing it to not print it at all would be better.

[2020-01-10 13:24] yastij commented on #80040
/remove-lifecycle stale
/lifecycle frozen

[2020-01-10 13:27] yastij commented on #66181
/remove-lifecycle stale
/lifecycle frozen

[2020-01-10 13:27] neolit123 commented on #87064
/area kubeadm

for release `x.yy` the control plane and kube proxy are also `x.yy`
the rest - coredns and etcd can be found here:
https://github.com/kubernetes/kubernetes/blob/release-1.17/build/dependencies.yaml

but the tags for etcd can end up with revisions that we do not document - e.g. tag `3.4.3-0` instead of `3.4.3`

here is where the images are stored:
https://console.cloud.google.com/gcr

[2020-01-10 13:27] #87064 closed

[2020-01-10 13:42] hprateek43 commented on #87070
You would need to add the annotation manually at the start of the upgrade and remove it at the end of your upgrade. A better solution would be to patch the autoscaler min and max value during this. Also, similar issues can be observed during a rolling update. Refer https://github.com/kubernetes/kubernetes/issues/25238

[2020-01-10 13:42] bmehta commented on #69311
I would love this feature as well. Any update?

[2020-01-10 13:43] hprateek43 commented on #87070
/area app-lifecycle

[2020-01-10 14:29] duzy commented on #48388
I'm having exactly the same result. Have to delete the job manually and apply again.

[2020-01-10 14:45] nsano-rururu commented on #86961
sorry. Pasting the results before starting everything. All is well now.

[code]

[2020-01-10 14:46] nsano-rururu commented on #86961
What kind of problem is occurring?

[2020-01-10 14:52] chrisohaver commented on #82889
Hosts is not currently supported by the [corefile migration library](https://github.com/coredns/corefile-migration).  However, the presence of a plugin that is not supported by migration library should not be preventing the kubeadm upgrade from proceeding if you use the `--ignore-preflight-errors=CoreDNSUnsupportedPlugins` flag, per [comment above](https://github.com/kubernetes/kubernetes/issues/8

[2020-01-10 14:54] junjieyjj commented on #82773
I think my cluster also encountered a similar situation. After two new nodes were added, controller-manager log output CIDR out of range.  how can I  restore the cluster? pls help

[2020-01-10 15:01] benmoss commented on #79658
I haven't seen this in a while, but I haven't been running clusters in the same way that I used to. My suspicion in the end was that something we were doing with BOSH Windows was playing a role here. I am fine to let this go.

/close

[2020-01-10 15:01] #79658 closed

[2020-01-10 15:02] alculquicondor commented on #87033
Sounds good @losipiuk!
Thanks for the detailed explanation of your plans. It looks pretty good.

[2020-01-10 15:03] alculquicondor commented on #87033
I agree that given the different requirements, sharing the implementation might just hurt us in the long run.

[2020-01-10 15:09] andreib1 commented on #81723
OK, that makes sense.  In that case where can I get the cause of death for containers by pod in a single place, including rolling updates, OOMKilled etc.

[2020-01-10 15:09] rikatz commented on #86954
@mborsz As the test isn't flaking anymore since 08/Jan and seems to be corrected in #86924 and reverted in #87036 but still working I'm closing this, but will keep following

/cc @aojea

[2020-01-10 15:09] rikatz commented on #86954
/close

[2020-01-10 15:09] #86954 closed

[2020-01-10 15:21] sttts commented on #79464
Here is a copy of the generated file: https://gist.github.com/sttts/b31e7d2c3cf0ad51ca388f7ea25d6452

If the benchmarks don't care about proper OpenAPI specs, you could easily fake the required funcs with empty content.

[2020-01-10 15:24] liggitt commented on #87075
fixed in #87082, clean up from #86256

[2020-01-10 15:27] liggitt commented on #87078
this is probably a better issue to file against https://github.com/ansible/ansible/blob/e60cdc310d5344c00b4f49c9f7dde78d206b25ae/lib/ansible/module_utils/k8s/scale.py#L220

Not being that familiar with the parameters to that module, I do notice that your api_version looks underspecified... Deployments have an apiVersion of `apps/v1`, not `v1`

/close

[2020-01-10 15:27] #87078 closed

[2020-01-10 15:32] aojea commented on #86954
thank @rikatz , sorry for the inconveniences

[2020-01-10 15:41] usernkey commented on #40244
We see same issue on AWS EKS 1.14 +1

[2020-01-10 16:00] julianvmodesto commented on #86957
Oh so because `.spec.ClusterIP` was applied by your colleague (as show in last applied), `kubectl diff` is showing this conflict. If you actually `kubectl apply --server-dry-run` or `kubectl apply`, you'll see this same conflict message. Since you don't want to put `.spec.ClusterIP` in your service yaml, you can `kubectl apply -f service.yaml --force` to remove ownership of `.spec.ClusterIP`. It i

[2020-01-10 16:11] aristosvo commented on #86957
Thanks a lot, I understand and will close the issue.

To summarize my misunderstanding:
I thought the `kubectl diff` should be the same as `kubectl apply --dry-run`, but it is the same as `kubectl apply --server-dry-run`.

[2020-01-10 16:11] #86957 closed

[2020-01-10 16:13] julianvmodesto commented on #86957
You can reproduce this by:

[code]

[2020-01-10 16:34] alculquicondor opened #87083 "Bad scheduling when pod/node events arrive in the wrong order"
*Note that this comes out of thinking about our cache and not a user report.*

As seen in #86920, pod and node events might arrive in different order, affecting the truthfulness of our cache. Example cases are:
1. A node(s) is(are) lost. Node deletion events might arrive before their corresponding pods' deletion events. This was the focus of #86920, now fixed. This case shouldn't impact scheduling

[2020-01-10 16:35] alculquicondor commented on #87083
@Huang-Wei, do you still have another scenario in mind related to caches?

[2020-01-10 16:42] neolit123 commented on #82889
+1 Lets treat ignoring the error as the workaround users should do, for
this unsupported scenario.

/close

[2020-01-10 16:43] verb commented on #85545
@jiahuif Awesome, thanks! This is a great start, here are some things to look out for:

Visibility should work, but I expect signaling to fail without `CAP_SYS_PTRACE` which is not currently allowed.

iirc @msau42 was interested in how this would be tested for ephemeral containers. Can you point us towards any examples that would help us get started?

Ephemeral containers will never restart (and t

[2020-01-10 16:43] neolit123 commented on #86961
Thanks for confirming it is working now.

/close

[2020-01-10 16:43] #86961 closed

[2020-01-10 16:45] gab-satchi commented on #86697
Hey @ALINRUISU, the ampersand doesn't work on PowerShell to background a process. You can try the solutions listed here: https://stackoverflow.com/questions/185575/powershell-equivalent-of-bash-ampersand-for-forking-running-background-proce

`Start-Process` is a good alternative as it will also print to stdout.

[2020-01-10 16:45] gab-satchi commented on #86697
/close

[2020-01-10 16:45] #86697 closed

[2020-01-10 16:49] dusansusic commented on #67551
I have this issue, too.

[2020-01-10 16:54] apelisse commented on #86957
Even I got confused for a minute ...
/shrug

Glad this is not a bug!

Thank you guys!

[2020-01-10 17:04] #81351 closed

[2020-01-10 17:06] marosset commented on #86984
The tools i'm using for deployment still use kubelet args for most settings.
This is what the config looks like for my linux cluster. Let me know if you'd like to see the config for the windows cluster too.

**kubelet.service**
[Unit]
Description=Kubelet
ConditionPathExists=/usr/local/bin/kubelet

[Service]
Restart=always
EnvironmentFile=/etc/default/kubelet
SuccessExitStatus=143
ExecStartPre=/bin

[2020-01-10 17:09] andrewsykim commented on #85422
@gitbeyond are you also on Kubernetes v1.12 or are you seeing this in a newer version?

[2020-01-10 17:35] tedyu commented on #87083
It seems we can add a func to SharedInformer :
[code]
It would wait for Synced to become true, bounded by the given timeout.

[2020-01-10 17:39] lavalamp commented on #22024
Given the bookmarks @wojtek-t has recently added, I'd expect this to be happening much less.

Folks reporting this happening to you: what version are you running? If it's a recent version, and you're seeing a lot of these, it's possible your cluster is so highly loaded that your controllers are having a hard time maintaining watches.

@smiklosovic:

This doesn't sound related.

[2020-01-10 17:39] justinsb commented on #86881
We discussed this in the k8s-AWS bi-weekly meeting; we classified this as a feature request and would certainly welcome anyone to work on it!

We think ALB supports specifying multiple ARNs in a comma-separated form, and so it likely makes sense to support the same thing here.

[2020-01-10 17:39] ichtestemalwieder commented on #58619
@StuAtGit could you please reopen the issue with posting `/reopen`. It seems you are the only one allowed to reopen the issue. As you described, the behaviour is absolutely annoying and also costed mit lots of time and nerves to find the problem. Thanks very much!.

[2020-01-10 17:43] justinsb commented on #86907
We discussed this in the k8s-AWS bi-weekly meeting.  This sounds like the "expected behaviour" for kube-controller-manager - in general we don't do periodic reconciliation against the cloud once we've created a load-balancer (I think).  A quick way to check if this is the problem is to restart kube-controller-manager - it _will_ re-reconcile on restart.

A possible enhancement is that we should do

[2020-01-10 17:45] akutz commented on #75175
This is blocking the Cluster API Provider or vSphere on 6.5. Any updates? Thanks!

[2020-01-10 17:53] alculquicondor commented on #87083
How is that different from `cache.WaitForCacheSync`? Unless you are referring to event handlers having synced. That's the one we could benefit from. But from my initial investigation, it didn't look trivial to do.

[2020-01-10 17:57] spiffxp commented on #86928
/close
Failure cluster has gone down, calling this done
<img width="998" alt="Screen Shot 2020-01-10 at 9 56 17 AM" src="https://user-images.githubusercontent.com/49258/72174836-7b49de80-338f-11ea-9105-3b872e8b4422.png">

[2020-01-10 17:57] #86928 closed

[2020-01-10 18:05] SandeepPissay commented on #75175
I do not have bandwidth to look into this issue.

[2020-01-10 18:16] tedyu commented on #87083
Looking at ResourceEventHandler, there is functionality to be added which acknowledges having sync'ed.
Let me think more about this.

[2020-01-10 18:18] akutz commented on #75175
cc @yastij

[2020-01-10 18:19] kallisti5 opened #87085 "Enhance discovery of parallel containers via DNS"
**What would you like to be added**:

DNS records added to kubedns for various things such as deployments and pods to ease discovery of parallel containers

Example:

[code]

* ```dig coolapp.coolnamespace.deployment.cluster.local```
  * A 10.53.0.12
  * A 10.53.0.45
  * A 10.53.0.64

* ```dig coolapp-324sdf.coolnamespace.pod.cluster.local```
  * A 10.53.0.12
* ```dig coolapp-435asd.coolnamespace.

[2020-01-10 18:21] kallisti5 commented on #87085
/sig network

[2020-01-10 18:22] tsunamireversal opened #87086 "Taints should be more verbose in errors"
When trying to see why pods don't start using either kubectl get events or kubectl describe pod , the base message is not detailed enough.

Warning FailedScheduling 5s (x4 over 65s) default-scheduler 0/1 nodes are available: 1 node(s) had taints that the pod didn't tolerate.

What would you like to be added:
Details of the taint and details of what it didn't tolerate

Why is this needed:
To get mu

[2020-01-10 18:22] tsunamireversal commented on #87086
/sig cli

[2020-01-10 18:23] kallisti5 commented on #87085
These kind of match the current implementation of services via ```svc.cluster.local```

[2020-01-10 18:26] chrisohaver commented on #82889
Sounds good.  FWIW, The original reasoning for requiring the explicit ignoring of the pre-flight check was to make the user aware of the risk that proceeding with the upgrade could result in an invalid Corefile.  So, in that sense, its working as intended, but the error message is perhaps too cryptic.

_Currently_: "There are unsupported plugins in the CoreDNS Corefile"

_What was intended to be c

[2020-01-10 18:31] php-coder commented on #58619
/reopen

[2020-01-10 18:37] derekwaynecarr commented on #83481
"If we run the kubelet for the test in a container"...

Since we have deprecated the ability to run kubelet in a container, I would avoid pursuing this strategy.  I prefer we write a test that skips when it runs in a single-numa node environment, but runs properly when on multi-numa node hardware that anyone can run and reproduce on proper hardware.  The whole point of an e2e test is to validate o

[2020-01-10 18:39] kallisti5 commented on #87085
I do understand this is an anti-pattern, however the requirement for clusters to inner-communicate is a common story and the #1 issue I run into in containerizing.  While what's described above likely shouldn't be the default behaviour due to it being abused in anti-pattern ways, having the option would prevent k8s from "actively fighting" people just trying to get things done when it is the best

[2020-01-10 18:39] chrisohaver commented on #87085
This should probably be moved to kubernetes/dns.

You can leverage a headless service to handle the Deployment case.

[2020-01-10 18:40] kallisti5 commented on #87085
I can move it over. Thanks :-)

[2020-01-10 18:42] #87085 closed

[2020-01-10 18:55] neolit123 commented on #82889
I think improving the message is fine or even enumerating which plugins.

[2020-01-10 19:03] freehan commented on #86370
Finding so far:

This error message should be redherring. It should not slow down or block kube-proxy iptables sync.
[code]

[2020-01-10 19:08] julianvmodesto commented on #68526
We could probably update the dry-run kep w/ a subsection on `kubectl diff` since we need a KEP for the release for this feature

[2020-01-10 19:18] caseydavenport commented on #85809
I don't think this field is typically populated by the network plugin (e.g., Calico doesn't set this field, rather it's done by the node IPAM controller in the controller manager). So, my first guess wouldn't be an issue with kube-router.

Are there any suspicious warnings / errors in the kube-controller-manager logs?

[2020-01-10 19:18] apelisse commented on #68526
Do we really need a KEP? There is a kep for the feature, is it missing something specific?

[2020-01-10 19:25] julianvmodesto commented on #68526
Oh nevermind if there's a KEP for the feature already for diff. I was looking at the Enhancements Tracking sheet:

https://docs.google.com/spreadsheets/d/1RtCvByYdcqWc6I_A1cKgeXT2tBS7SyHGvSt_DWXz270/edit#gid=0

[2020-01-10 19:52] aespinosa commented on #84081
@yue9944882 did you fetch the openapi.json using the `/openapi/v2` endpoint in the api-server or did you regenerate https://github.com/kubernetes/kubernetes/tree/master/api/openapi-spec/swagger.json  ?

[2020-01-10 20:00] rtheis opened #87087 "Add ca-certificates install to debian-base image"
**What would you like to be added**:

Add `ca-certificates` install to [debian-base image](https://github.com/kubernetes/kubernetes/tree/master/build/debian-base). Or provide a build parameter for installing additional packages.

**Why is this needed**:

[Kubernetes v1.17](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.17.md) deprecated the [debian-hyperkube-base image](https://g

[2020-01-10 20:01] rtheis commented on #87087
/sig release

[2020-01-10 20:22] Semoar commented on #73628
/reopen

[2020-01-10 20:25] #86993 closed

[2020-01-10 20:25] #86988 closed

[2020-01-10 20:33] allantargino commented on #79365
I had the same case with sidecars, setting request/limits for all containers fixed the problem. Thanks!

[2020-01-10 21:17] Pure-AdamuKaapan commented on #83803
I'll just go ahead and close this in lieu of #80973 .

[2020-01-10 21:17] #83803 closed

[2020-01-10 21:37] alejandrox1 opened #87092 "[Failing Test] ci-kubernetes-e2e-gke-gci-serial-sig-cli is failing"
**Which jobs are failing**:
ci-kubernetes-e2e-gke-gci-serial-sig-cli

**Which test(s) are failing**:
The `Up` stage has been constantly failing.

**Since when has it been failing**:
This job has been failing since at least 12-26.

**Testgrid link**:
https://testgrid.k8s.io/sig-cli-master#gke-serial&width=20

**Reason for failure**:
Looking at triage https://storage.googleapis.com/k8s-gubernator/tr

[2020-01-10 21:39] bitglue commented on #23130
There are probably other possible solutions, see the underlying [go issue](https://github.com/golang/go/issues/12524).

[2020-01-10 21:46] ncdc commented on #86872
Something is wrong with our VM bootstrap scripts. I'll be looking into this.
/assign

[2020-01-10 21:49] alejandrox1 commented on #87092
/assign @savitharaghunathan

[2020-01-10 22:06] ncdc commented on #86872
Trying https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1479 to see if that helps

[2020-01-10 22:47] matte21 commented on #86666
/cc

[2020-01-10 22:52] lavalamp commented on #76928
If the LB obscures the source IP, I'm not sure how we could possibly know it? Is there any possible way of fixing this? I'm inclined to close this as "not feasible".

[2020-01-10 23:10] #80915 closed

[2020-01-10 23:10] #44620 closed

[2020-01-10 23:40] thehesiod commented on #60134
this did not fix it for me, but:

did

[2020-01-11 00:12] fengzixu commented on #87083
/cc

[2020-01-11 00:13] jiahuif commented on #85545
Validation of ephemeralContainers is well tested in `pkg/apis/core/validation/validation_test.go`
Testing of removing ephemeral containers is in `TestPodUpdateEphemeralContainers`, `test/integration/pods/pods_test.go`

[2020-01-11 00:54] jqmichael commented on #87039
Just want to share my two cents.

There're two timestamps that matter for a pod deletion request.

1) ScheduledDeletionTimestamp
This is when user requests the pod to be deleted by.

2) ActualDeletionTimestamp
This is when kube-apiserver successfully deleted the object from storage.

ScheduledDeletionTimestamp can only move backwards (with a shorten grace period), not forwards. ActualDeletionTimes

[2020-01-11 00:57] fengzixu commented on #85826
/cc

[2020-01-11 02:09] MikeSpreitzer commented on #86765
Dang, now I can not reproduce it either!

What condition makes deletion of that file necessary?

[2020-01-11 02:54] mariusgrigoriu commented on #74352
How's this effort coming along? The non-importability of the kubernetes repository complicates the build of 3rd party e2e using the framework.

[2020-01-11 03:59] prabhakar-pal opened #87099 "When bringing up k8s cluster in IPv6 mode, if a host interface has IPv4 address, k8s endpoints for host network pods are created with IPv4 address"
When bringing up k8s cluster in IPv6 mode, if a host interface has IPv4 address, k8s endpoints for host network pods are created with IPv4 address

**What happened**:

1. Trying to create a K8s cluster with containers and services using IPv6 addresses. Using CALICO as CNI
2. Necessary IPv6  settings are done (in k8s and calido) and IPv6 CIDRs are provided
3. Assigned IPv6 addresses to the prime et

[2020-01-11 03:59] mikedanese commented on #76928
Proxy protocol seeks to solve this: https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt
It's essentially X-Forwarded-For at L4. It's not an IETF standard (although even if it was...) and usually forwarded attributes are not authenticated.

This would be implemented with a custom listener that:
* does a read-ahead on incoming TCP connections to check for the proxy protocol header
* parses t

[2020-01-11 04:05] prabhakar-pal commented on #87099
/sig network

[2020-01-11 04:12] daixiang0 commented on #86432
@liggitt But hostPort without hostNetwork is a different way to achieve with hostNetwork, which makes me confused.

[2020-01-11 05:16] #78358 closed

[2020-01-11 06:17] #77745 closed

[2020-01-11 06:49] tanjunchen commented on #87047
i will pick up e2e/windows/

[2020-01-11 10:25] uablrek commented on #87099
This is both a `kubelet` and a CRI-plugin problem.

First verify that the node address is ipv6 (see #61319). Here is from a ipv6-only cluster;
[code]
This is set by the `--node-ip=` parameter to `kubelet`.

As you can see I am using `cri-o` as CRI-plugin. The CRI-plugin can't know if K8s is running in ipv4, ipv6 or dual-stack mode (it should be possible for dockershim though) so if I don't specify

[2020-01-11 10:43] #86333 closed

[2020-01-11 10:47] saschagrunert commented on #87099
Hm, https://github.com/cri-o/cri-o/pull/2944 will be part of CRI-O v1.17.0 which has not been released yet, so this patch will remove the possibility of the described workaround. I think we should probably fix this in the kubelet, maybe @khenidak could support us here as well.

[2020-01-11 11:58] aojea commented on #87099
There is a patch from @danwinship to implement ipv6 autodiscovery in the kubelet
https://github.com/kubernetes/kubernetes/pull/85850

[2020-01-11 12:11] prabhakar-pal commented on #87099
Wonder if this issue is solved in later versions of kubernetes, as i see the check to decide the mode based on the IP address of the  corresponding service:

This is the minimal VM configuration with the issue:

Interestingly kube-apiserver picked up IPv6 address while etcd  et. al. picked up IPv6 address

[code]

[2020-01-11 13:10] prabhakar-pal commented on #87099
in 1.16+, i see a check to ensure that we pick only the podIPs in the same address family as the service IP when creating the endpoins. But in 1.15 and older the podStatus only has podIP (and not a list) and we look at all the IPs and pick the one in same addressing family

[2020-01-11 13:27] ahg-g commented on #80143
I think this can be closed

[2020-01-11 15:22] lentzi90 commented on #78621
/remove-lifecycle stale

[2020-01-11 15:26] droslean opened #87104 "[Flaky Test] gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:
`gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)`

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
`10th Jan 22:58 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/priority critical-urgent
/

[2020-01-11 16:38] Quantas commented on #75738
SImilar to https://github.com/kubernetes/kubernetes/issues/80040 can we remove stale lifecycle from this issue? @yastij

[2020-01-11 17:28] #81383 closed

[2020-01-11 17:29] tedyu commented on #85499
From proxier.go:
[code]
What @bingosummer described is about serviceUpdateResult.
The unwanted log comes from the following call:
[code]
I am weighing the complexity of adding field to data structure versus dropping the unwanted log directly.

[2020-01-11 17:57] Trackhe commented on #85560
same problem i m using latest version (17.0)

[2020-01-11 18:05] prabhakar-pal commented on #87099
Workaround: By explicitly mentioning the --node-ip option with the IPv6 address, i am able to move force the endpoints to be in IPv6 mode

@aojea thanks for the pointing to https://github.com/kubernetes/kubernetes/pull/85850 which gave the clue

[2020-01-11 19:25] aojea commented on #87099
to be honest all the credit is for @uablrek :-)

should we close this now?

[2020-01-11 19:30] #81425 closed

[2020-01-11 20:09] jacksontj commented on #73157
/reopen
/remove-lifecycle rotten

This is still an unresolved issue

[2020-01-11 22:05] tedyu commented on #85499
One approach I can think of is to add the following field to UpdateServiceMapResult:
[code]
It would be filled in UpdateServiceMap() this way
[code]
This new map would be passed to SyncEndpoints() so that we can skip logging by checking this map:
[code]

[2020-01-11 22:44] smiklosovic commented on #22024
The issue I have is that I had read-only fs in my operator container so it failed to write it hence it crashed container. Once I made it possible to be writable, it is not an issue anymore (at least it does not crashes) but the fact that it writes these messages in the first place is another problem. My cluster is not under heavy load at all. I have it provisioned it locally on my notebook, comple

[2020-01-11 22:44] matihost commented on #66067
I'm still having it on Ubuntu 19.10 running latest 1.6.2 minikube (aka k8s v1.17.0) but with "cri-o" as container engine which enables CNI by default.

Since cri-o is very slow with releasing it is 1.15 which may be still impacted by this issue.

Adding `--extra-config=kubelet.resolv-conf=/run/systemd/resolve/resolv.conf ` to `minikube start`solves https://coredns.io/plugins/loop/ issue  - but it

[2020-01-11 22:49] tedyu commented on #85499
I have a patch along the above line.
@danwinship
If it is good by you, I can send a PR.

[2020-01-12 01:39] droslean commented on #86872
it seems that it helped. The job is green. Closing
/close

[2020-01-12 01:39] #86872 closed

[2020-01-12 01:58] tedyu commented on #79464
I generated the file locally:
[code]
It is larger than the staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go which is 148KB.

Is the size of this file the major reason for not checking into source repo ?

Thanks

[2020-01-12 04:53] bysnupy opened #87108 "PLEG relist latency metrics are not updated if runtime remote call does not response"
It's difficult to detect relist latency increasing or real latency, because `pleg_relist_duration_seconds` or `pleg_relist_latency_microseconds ` does not be updated if runtime remote call does not response due to issues such like "PLEG is not healthy" or runtime down.

**What happened**:

When "PLEG is not healthy" happened, the following "kubelet_pleg_relist_latency_microseconds" is shown not de

[2020-01-12 04:55] bysnupy commented on #87108
/sig node

[2020-01-12 05:36] justaugustus commented on #86965
This should be fixed once https://github.com/kubernetes/test-infra/pull/15871 merges.

[2020-01-12 06:41] #78649 closed

[2020-01-12 07:20] hrishin opened #87109 "[Failing Test] gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot)"
**Which jobs are failing**:
gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot)

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
23rd Dec 23:21 PST

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-reboot

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/milestone v1.18
/sig node
Its

[2020-01-12 07:23] hrishin commented on #87109
/remove sig/storage

[2020-01-12 07:27] hrishin commented on #87109
/remove-label sig/storage

[2020-01-12 08:21] prksu opened #87110 "[Flaky Test] gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)"
**Which jobs are flaking**:

[code]

**Which test(s) are flaking**:

[code]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

**Reason for failure**:

**Anything else we need to know**:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gci-gce-ingress&test=diffResources
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/lo

[2020-01-12 08:25] mhyousefi commented on #71458
It turns out you can expose pod info to containers with envs using the `Downward API` as explained in [this link](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/).

[2020-01-12 11:26] Kassadd commented on #74099
/reopen

[2020-01-12 11:50] droslean commented on #87110
/milestone v1.18

[2020-01-12 11:51] droslean commented on #87110
/cc @spiffxp

[2020-01-12 11:53] droslean commented on #87109
/remove-sig storage
/remove-sig node

/sig cloud-provider
/area provider/gcp

[2020-01-12 11:54] droslean commented on #87109
/milestone v1.18

[2020-01-12 11:55] droslean commented on #87109
/close

dup of #86787

[2020-01-12 11:55] #87109 closed

[2020-01-12 12:10] droslean commented on #84985
/milestone v1.18

[2020-01-12 12:23] droslean opened #87111 "[Failing Test] bazel-build-1.14 (periodic-kubernetes-bazel-build-1-14)"
**Which jobs are failing**:
`bazel-build-1.14 (periodic-kubernetes-bazel-build-1-14)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.14-blocking#bazel-build-1.14

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @justaugustus @alejandrox1
/sig release
/cc @kubernetes/ci-signal
/milestone v1.14

[2020-01-12 12:24] droslean commented on #87111
@justaugustus It seems that this bucket path is missing. Is this intentional? Shall we remove the job?

[2020-01-12 12:53] wawa0210 opened #87112 "HostPath in FileOrCreate mode does not work properly when the directory where the file is located does not exist"
**What happened**:

Using hostpath, when the type is `FileOrCreate` , if the directory of the mounted file does not exist, the mount fails and the pod cannot start normally

**What you expected to happen**:

When the directory where the mounted file does not exist, it can automatically create a directory and complete the mounting

**How to reproduce it (as minimally and precisely as possible)**:

[2020-01-12 12:59] wawa0210 commented on #87112
/assign @wawa0210

[2020-01-12 13:00] wawa0210 commented on #87112
I will fix this

[2020-01-12 14:03] g3rzi opened #87115 "`kubectl kube-apiversions` doesn't show "podsecuritypolicy" resource"
**What happened**:
When I run `kubectl api-versions` it shows me kubernetes's resources but not `podsecuritypolicy`.
Which is working when you run `kubectl get podsecuritypolicy`, so it should appear also when running `kubectl api-versions`.

**What you expected to happen**:
Show podsecuritypolicy as part of the resources.

**How to reproduce it (as minimally and precisely as possible)**:
Run `kub

[2020-01-12 14:05] g3rzi commented on #87115
/sig kubectl_api
/wg kubectl_api
/committee kubectl_api

[2020-01-12 14:49] #72107 closed

[2020-01-12 15:39] tedyu commented on #87115
This seems to be an enhancement request.

[2020-01-12 15:50] aojea commented on #73157
@jacksontj I've tried to reproduce it locally but I couldn't hit the error, at least with master and 1.17

There are the steps I'm following:

1. Create an [IPv6 cluster with KIND](https://kind.sigs.k8s.io/docs/user/quick-start/#ipv6-clusters)
2. Create a deployment:
`kubectl apply -f https://k8s.io/examples/service/access/hello-application.yaml`
3. Expose it using a load balancer:
`kubectl expose

[2020-01-12 15:59] aojea commented on #87099
/close

per comment https://github.com/kubernetes/kubernetes/issues/87099#issuecomment-573340026
feel free to reopen if necessary :)

[2020-01-12 15:59] #87099 closed

[2020-01-12 16:09] aojea commented on #87110
seems that is happening in other GCE jobs too
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=diffResources

[code]

[2020-01-12 16:13] aojea commented on #87110
/remove sig-network

who can own this?
seems something related to the GCE infra or to the test that is not waiting enough 🤷‍♂

https://github.com/kubernetes/test-infra/blame/master/kubetest/e2e.go#L277-L289

[2020-01-12 16:20] aojea commented on #86898
/triage support

[2020-01-12 16:20] g3rzi commented on #87115
I don't think so, because this is something was supposed to be as part of the role of `kubectl api-versions` which show you all the resources.
It misses the resource `podsecuritypolicy` -> bug.

[2020-01-12 16:34] aojea commented on #86889
Can you trying making conntrack more liberal?

`echo 1 > /proc/sys/net/ipv4/netfilter/ip_conntrack_tcp_be_liberal`

[2020-01-12 16:41] aojea commented on #86866
I don't know if I understand correctly your problem, but it seems that you need to be able to keep the source ip information in your proxy servers.

Please check if this doc is useful to understand how the services modify the source IPs and what do you have to do to preserve the source ip information

https://kubernetes.io/docs/tutorials/services/source-ip/

[2020-01-12 17:12] neolit123 commented on #87115
[code]

[code]

`api-version` is about printing the `group/version` not the kind of the resource
psp is part of `policy/v1beta`

[code]

/close
/remove-kind bug
/triage support

[2020-01-12 17:12] #87115 closed

[2020-01-12 18:04] neolit123 commented on #87087
kubernetes started moving its images to distroless:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md

the plan is for the control-plane images to no longer be distro based in the future, they will not contain a shell or any installed packages, ideally only the binary of the component.

running a control-plane image as a container, the

[2020-01-12 18:13] neolit123 commented on #87112
/remove-kind bug
/kind feature

this is not a bug, but rather a feature-request / change in behavior:

https://kubernetes.io/docs/concepts/storage/volumes/#hostpath

FileOrCreate | If nothing exists at the given path, an empty file will be created there as needed with permission set to 0644, having the same group and ownership with Kubelet.
-- | --

`FileOrCreate` does not give you the guarantee t

[2020-01-12 18:16] neolit123 commented on #87086
/sig scheduling
/priority important-longterm

[2020-01-12 18:17] neolit123 commented on #87049
/close

[2020-01-12 18:17] #87049 closed

[2020-01-12 18:52] ahg-g commented on #85917
This is done.

[2020-01-12 18:52] #85917 closed

[2020-01-12 18:53] #31824 closed

[2020-01-12 19:58] wojtek-t commented on #73958
/remove-lifecycle stale
/lifecycle frozen

[2020-01-12 20:19] omerfsen commented on #17512
Hello David it would be nice if you provide more compiled binary for new distributions. On Ubuntu 16.04 we get

kubectl-view-allocations: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.25' not found (required by kubectl-view-allocations)

`dpkg -l |grep glib`

ii  libglib2.0-0:amd64                  2.48.2-0ubuntu4.4

[2020-01-12 21:23] zerkms commented on #49466
/remove-lifecycle stale

[2020-01-12 23:14] justaugustus commented on #87111
Kubernetes 1.14 is out of support and we should remove the 1.14 jobs.
I've opened https://github.com/kubernetes/test-infra/pull/15875 for this.

ref: https://github.com/kubernetes/test-infra/issues/15514

[2020-01-12 23:15] justaugustus commented on #87111
/assign
/priority important-soon

[2020-01-12 23:58] wawa0210 commented on #87112
Thank you for your reply

Based on two aspects, I think when the mode is set to `FileOrCreate` , the directory should be available

+ Most applications may be stateless and will be scheduled to multiple nodes in the cluster (including later added nodes). When we mount a single file, if we need to manually create the parent directory in the node, it is very difficult and not operable
+ Use hostpath

[2020-01-13 00:40] neolit123 commented on #86182
kubeadm historically maintains `<OLDEST-VERSION-IN-SKEW>-1` upgrade and "skew" jobs.
this allows us to catch regressions in `<OLDEST-VERSION-IN-SKEW>` for users who are moving slower with the upgrades.

in this case `<OLDEST-VERSION-IN-SKEW>-1 == 1.14`.
such jobs are part of the release-informing dashboard for 1.15:
https://k8s-testgrid.appspot.com/sig-release-1.15-informing

[code]

with the CI a

[2020-01-13 00:56] zhangxiaoyu-zidif opened #87119 "configmap Key should not follow `[-._a-zA-Z0-9]+`"
**What happened**:

**What you expected to happen**:
Configmap as a basic key-value storage, it should contain any thing which is string type.
Now it does not support to use "/"

**How to reproduce it (as minimally and precisely as possible)**:
use
[code]

the console replied:
[code]

**Anything else we need to know?**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud

[2020-01-13 00:58] zhangxiaoyu-zidif commented on #87119
I suggest to remove this validation:
[code]

[2020-01-13 00:58] zhangxiaoyu-zidif commented on #87119
/sig storage

[2020-01-13 00:59] zhangxiaoyu-zidif commented on #87119
ping @msau42

[2020-01-13 01:18] neolit123 commented on #83290
this received some comments here and the change was not approved:
https://kubernetes.slack.com/archives/C0EG7JC6T/p1576651152067200

/close

[2020-01-13 01:18] #83290 closed

[2020-01-13 01:19] neolit123 commented on #87119
/remove-sig storage
/sig api-machinery

related to:
https://github.com/kubernetes/kubernetes/issues/83290

changes to the key names were not approved:
https://kubernetes.slack.com/archives/C0EG7JC6T/p1576651152067200

/close

[2020-01-13 01:19] #87119 closed

[2020-01-13 01:35] BobyMCbobs opened #87120 "Write CoreV1ConfigMap test+promote - +2 Coverage"
- [x] [mock test ticket](#)
- [x] [PR](https://github.com/kubernetes/kubernetes/pull/87212)
- [ ] [promotion](https://github.com/kubernetes/kubernetes/pull/88034)
  - [ ] [update to improve](https://github.com/kubernetes/kubernetes/pull/89707)

# Notes

This issue proposes the writing of a new test for the API endpoints `listCoreV1ConfigMapForAllNamespaces`, `listCoreV1ConfigMapForAllNamespaces` w