[2018-08-20 15:06] liggitt commented on #67479
this isn't related to cascading deletion, this is ensuring the object you deleted is actually removed before returning, so a subsequent `create` call in a script would not receive an `AlreadyExists` error

[2018-08-20 15:18] luckyfengyong commented on #55973
@haoyehaoye I logged the ticket to get the clarification of the design idea behind the following psp rbac behavior

<img width="888" alt="image" src="https://user-images.githubusercontent.com/8002217/44349261-a534f500-a46a-11e8-9570-e2748a17f8f7.png">

@php-coder has clarified above. Not sure what is the issue you met? Can you share your use case?

[2018-08-20 15:39] mohammedzee1000 opened #67606 "Failing test: broad scheduling issues due to TaintNodesByCondition"
# Failing Jobs
 [sig-release-master-upgrade#gce-new-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new)
[sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel)
[sig-release-master-upgrade#gce-new-master-upgrade-clu

[2018-08-20 15:41] mohammedzee1000 commented on #67606
Affected tests also belong to
/sig api-machinery

[2018-08-20 15:44] mohammedzee1000 commented on #67606
/cc @tpepper @AishSundar @neolit123 @roberthbailey

[2018-08-20 15:44] mgdevstack opened #67607 "Conclude strategy to add Conformance comment to e2e iterating over range"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Few of e2e tests are [iterating over the range](https://github.com/kubernetes/kubernetes/pull/67571/files#diff-0dc16dc0a015699e53bda03495adc49eR204) of different options. So in order to promote them to conformance, we need to generate conformance comment block dynamically specifying appropriate Testname: and Description:.

[2018-08-20 15:45] mgdevstack commented on #67607
/area conformance
@kubernetes/sig-node-bugs

[2018-08-20 15:46] mgdevstack commented on #67607
@kubernetes/sig-testing

[2018-08-20 15:52] mortent commented on #67338
@kow3ns

[2018-08-20 16:17] stevekuznetsov commented on #67607
/cc @spiffxp @timothysc

[2018-08-20 16:27] msau42 commented on #56162
/remove-lifecycle stale

This is being worked on in #59529

[2018-08-20 16:28] msau42 commented on #56180
/remove-lifecycle stale

[2018-08-20 16:30] mgdevstack opened #67609 "Promote container-runtime e2e tests to Conformance Suite"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
#67571 is Porting container-runtime tests from e2e_node to e2e. Now we need to promote these ported tests to Conformance.

During Promotion, we have the following challenges -

- [x] 1. Add effective comments to these promoting e2e which are in the nested block. Issue #67607
- [ ] 2. e2e tests matching '[should report

[2018-08-20 16:32] saad-ali commented on #67602
CC @caesarxuchao

[2018-08-20 16:32] mgdevstack commented on #67609
/area conformance
@kubernetes/sig-node-feature-requests

[2018-08-20 16:34] kfox1111 commented on #64157
/remove-lifecycle stale

[2018-08-20 16:37] ddebroy commented on #64082
/remove-lifecycle stale

[2018-08-20 16:37] nikhita opened #67610 "Make creationTimestamp a pointer"
Context: https://github.com/kubernetes/kubernetes/pull/67562#discussion_r211267314.

`creationTimestamp` is a struct (metav1.Time) right now:

https://github.com/kubernetes/kubernetes/blob/6d51311735705ecf30025df91216a82f397c9cfb/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L175

However, it also has the `omitempty` json tag. The current behaviour at various places is to remove the fi

[2018-08-20 16:57] zparnold commented on #62109
@k82cn  Hey there! I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the `release-1.12` branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks!

[2018-08-20 16:58] zparnold commented on #66526
@Huang-Wei Hey there! I'm the wrangler for the Docs this release. Is there any chance I could have you open up a docs PR against the `release-1.12` branch as a placeholder? That gives us more confidence in the feature shipping in this release and gives me something to work with when we start doing reviews/edits. Thanks!

[2018-08-20 17:01] tnozicka commented on #66620
What are the reasons you can't use a Pod? Job with exactly once semantics seems like a Pod to me.

Also note that the exactly once semantic is not enforceable unless you accept that you can be blocked indefinitely when the node goes down or network splits. Or you timeout, making the exactly once guarantee best effort only.

(You can't delete the Pod if the node is down/split, otherwise the contain

[2018-08-20 17:13] tpepper commented on #66376
/sig scalability

[2018-08-20 17:13] Huang-Wei commented on #62109
@zparnold do you mean kubernetes/website#9626 ? It passed technical review, so now needs editors' final review.

[2018-08-20 17:13] guineveresaenger commented on #66376
/kind failing-test

[2018-08-20 17:19] Huang-Wei commented on #66526
@zparnold thanks for the reminder. I've just created a placeholder here: https://github.com/kubernetes/website/pull/9923.

[2018-08-20 17:25] mohammedzee1000 commented on #67606
I need to know if these tests are failing on upgrade only, or are they actual failures of individual tests.
It would be good if the sig members can chip in as well.

[2018-08-20 17:28] zparnold commented on #66526
Thanks!

On Mon, Aug 20, 2018 at 10:20 AM Wei Huang <notifications@github.com> wrote:

[2018-08-20 17:28] zparnold commented on #62109
Oh! Yes. Thanks!

On Mon, Aug 20, 2018 at 10:14 AM Wei Huang <notifications@github.com> wrote:

[2018-08-20 17:50] spiffxp commented on #63622
/assign @mgdevstack
Can you try to figure out why the test is failing w/ the new image?

[2018-08-20 18:06] bennettellis opened #67613 "kubernetes.io is down?"
from where I sit, kubernetes.io is not ressponding, everything else is. Need documentation to be available.

[2018-08-20 18:08] #61532 closed

[2018-08-20 18:14] nikhita commented on #67602
/kind bug
/area custom-resources

@jsafrane by any chance, do you have these changes pushed? easier to debug/fix that way.

[2018-08-20 18:32] nikhita commented on #56567
/remove-lifecycle stale

[2018-08-20 18:36] Huang-Wei commented on #67515
@orsobruno do you mean after (1) correcting the tolerations in the yaml and (2) deleting the whole deployment, you still see 2 replicasets?

[2018-08-20 18:52] radhefa opened #67614 "http://www.rtat.net"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-08-20 18:52] spiffxp commented on #67607
/sig architecture
/assign brahmaroutu
As the originator of this comment spec

[2018-08-20 19:00] orsobruno commented on #67515
Yes. That's right.

[2018-08-20 19:17] lpkruger commented on #66651
we're on an older version of Kubernees (1.07) but the problem exists there as well.

[2018-08-20 19:56] spiffxp commented on #57667
/lifecycle frozen

[2018-08-20 19:58] spiffxp commented on #57667
@resouer

Thankfully sig-release have been iterating on this.  Hopefully https://github.com/kubernetes/sig-release/pull/239 helps

[2018-08-20 20:17] lavalamp commented on #67468
/assign @caesarxuchao

to find the bug this is a dup of

[2018-08-20 20:18] lavalamp commented on #67475
/remove-sig api-machinery

[2018-08-20 20:21] lavalamp commented on #67546
This sounds like something that will be fixed by apply...

[2018-08-20 20:22] lavalamp commented on #67477
/assign @monopole

[2018-08-20 20:23] lavalamp commented on #67602
/assign @mbohlool

[2018-08-20 20:24] glasser commented on #67475
My doc PR was merged, so I should probably close this, even though it would still be nice to have the all-namespaces behavior accessible some way. But that's a feature request, not a bug.

[2018-08-20 20:24] #67475 closed

[2018-08-20 20:26] lavalamp commented on #67610
I agree this would be more consistent, but not sure it's a priority. Can you make an object that doesn't have this set?

[2018-08-20 20:27] lavalamp commented on #67610
@cheftako suggests that maybe this field really ought to be blank when objects are sent to the POST admission webhooks, as they haven't been created yet...

[2018-08-20 20:28] Huang-Wei commented on #67515
Can't reproduce this issue. Would leave to sig/apps or sig/cli folks to take a deep look.

BTW: I noticed @orsobruno is using a mac kubectl running against a linux apiserver. @mazengxie are you also using a mac kubectl? Wha't your reproducing procedure and `kubectl version` info?

[2018-08-20 20:32] lavalamp commented on #67566
We need to figure out a module strategy for the whole project. See: https://github.com/kubernetes/kubernetes/issues/63607

I won't mark this a duplicate because it's targeted at a specific subset of the problem.

[2018-08-20 20:32] liggitt commented on #67610
not high priority, but results in ugly things in audit (request body of create requests), webhook payloads for create requests, and exported objects (always serialize with a null field), etc. if we can fix it, I'd take a fix.

[2018-08-20 20:36] lavalamp commented on #67439
I suspect the relevant client making the requests is using the extensions group. @liggitt @deads2k I assume the RBAC system counts the groups separately, like the webhook configuration one?

So, @g3rzi, I'd put ["apps", "extensions"] as the group. Until deployment is removed from extensions completely, you want to allow clients using both the old and new location.

[2018-08-20 20:42] liggitt commented on #67439
Correct. `kubectl get deployments` still requests via the `extensions` API group when available for backwards compatibility with scripts written prior to the move to the `apps` API group. You can grant permission to both API groups, and/or explicitly request `kubectl get deployments.apps` to fetch the resources via the apps API group.

[2018-08-20 20:44] nikhita commented on #67613
/sig docs

The docs team is looking into this right now.

[2018-08-20 20:45] nikhita commented on #67614
This is not a valid issue.

/close

[2018-08-20 20:45] #67614 closed

[2018-08-20 20:50] liggitt commented on #67531
it seems like your etcd server is not healthy... 3m45s time to apply an entry is many orders of magnitude larger than it should be. failure to read/write from etcd will cause lots of downstream issues

[2018-08-20 21:10] neolit123 commented on #67613
https://kubernetes.io/ is back for me.

[2018-08-20 21:15] neolit123 commented on #67601
/sig api-machinery
(leaderelection.go)

[2018-08-20 21:28] louislepper commented on #10322
I've raised a PR to improve the error messages in the DNS related e2e tests:

https://github.com/kubernetes/kubernetes/pull/67619

Just started learning Go/Kubernetes - all feedback welcome :-)

[2018-08-20 21:29] dsutphin commented on #43530
I found this on Google while trying to fix the same problem. For me the cause was not using the right case for the memory limit.
Using "Mi" instead of "mi" fixed it for me.

[2018-08-20 21:29] louislepper commented on #34059
I've raised a PR to improve the error messages in the DNS related e2e tests:

#67619

Just started learning Go/Kubernetes - all feedback welcome :-)

[2018-08-20 21:30] JessieAMorris commented on #63117
I'm still running into this issue.

[code]

[code]

[2018-08-20 21:34] tonybranfort commented on #65937
If you're using rbac (which it seems kops does by default), make sure you've created a serviceAccount.  Look at the [deployment.yaml](https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/deployment.yaml) rather than the [manifest.yaml](https://github.com/kubernetes-incubator/external-storage/blob/master/aws/efs/deploy/manifest.yaml).

You'll also need [rbac.yaml](htt

[2018-08-20 21:39] bsalamat commented on #18438
/reopen

[2018-08-20 21:54] akutz commented on #67390
FWIW, I'm using kubelet 1.11.2 and `--cni-bin-dir` is not being respected. I receive errors that no loopback binary has been found in `/opt/cni/bin`:

[code]

[2018-08-20 22:02] #67519 closed

[2018-08-20 22:05] akutz commented on #67390
FWIW, I'm using kubelet 1.11.2 and `--cni-bin-dir` is not being respected. I receive errors that no loopback binary has been found in `/opt/cni/bin`:

[code]

[code]

[code]

[2018-08-20 22:17] oomichi opened #67621 "e2e tests of "[sig-node] regular resource usage tracking" are failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The e2e tests of "[sig-node] regular resource usage tracking" are failed on my local e2e environment like the following:
[code]
**What you expected to happen**:

These tests can run successfully.

**How to reproduce it (as minimally and precisely as possible)**:

I kick the test with
[code]

**Anything else we need to kn

[2018-08-20 22:18] oomichi commented on #67621
/sig node

[2018-08-20 22:29] Ark-kun commented on #12400
Not working on Google Cloud Debian VM with bash-completion 2.1-4.3.

[2018-08-20 23:53] thockin commented on #21493
Why is this frozen?  We're not adding grpc any time soon.  HTTP2 should be a different topic entirely.

[2018-08-20 23:53] #21493 closed

[2018-08-21 01:02] Pingan2017 commented on #67589
if schedule failed , th logs will be printed rolling

[2018-08-21 01:18] Pingan2017 commented on #67589
in k8s 1.6.9 , scheduler will print events like other components, i don't know why we delete this.

[2018-08-21 01:25] neolit123 commented on #67613
from sig-docs at slack:
[code]

/close

[2018-08-21 01:25] #67613 closed

[2018-08-21 01:39] marshallford commented on #56903
@Quentin-M Still no luck. Maybe my issue is unrelated to this. In a Jenkins job I am running on the cluster a docker:18.06.0 container in a jnlp pod can talk to Docker Hub just fine to pull down a Debian base image, but the build continues to fail due to `Temporary failure resolving 'deb.debian.org'` during an update step. Anything special about the dns records `deb.debian.org` or `security.debian

[2018-08-21 01:56] mazengxie commented on #67515
@Huang-Wei
 kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:13:03Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10+", GitVersion:"v1.10.5-beta.0.43+320c55e964f5e0", GitCommit:"320c55e964f5e01da

[2018-08-21 01:56] rkttu-devsisters commented on #65163
This problem still occurs when I test after upgrading from Windows Server 2016 AMI to Windows Server 2019 Insider Preview build 17733. The version of the Kubernetes node binaries used for testing is 1.10.3.

At this point both Kubernetes and Windows are heading towards GA, this issue is still not resolved. I will not know when the problem will be solved, and I will disseminate it to my colleagues

[2018-08-21 02:04] bpownow commented on #55397
@discordianfish I'm seeing similar behavior. Let me know if you've resolved it?

[2018-08-21 02:13] #67269 closed

[2018-08-21 02:16] #61618 closed

[2018-08-21 02:26] spiffxp commented on #62161
/area conformance

[2018-08-21 02:31] Huang-Wei commented on #67536
@k82cn I can work on this.

[2018-08-21 03:10] zouyee opened #67627 "centos install config has outdated"
**Is this a BUG REPORT or FEATURE REQUEST?**:
the `admission-control ` flag has been marked deprecated, it need to be updated.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e

[2018-08-21 03:11] zouyee commented on #67627
/sig cluster-lifecycle

[2018-08-21 03:39] #67225 closed

[2018-08-21 05:00] scott0000 commented on #61937
Hi,  @dashpole 🙂

I see you have tried to disable kernel memory accounting by recompiling the kernel and it seems to be all ok.

Have you encountered any problem ?

I tried the [workaround](https://github.com/opencontainers/runc/issues/1725#issuecomment-380428228) in  centos7.4 and encoured two problems:
1. compile error which report as the following
[code]
2. kabi checked failed (after fixing the

[2018-08-21 05:09] bennettellis opened #67631 "Persistent Volume claim to Job pod doesn't get assigned"
**What happened**: Assigned PVC to Pod in Job. According to the documentation this should work, but the job pods are not assigned their volume mounts.

**What you expected to happen**: Expected the PVC (and I tried a host mount as well) to be assigned to the pod

**How to reproduce it (as minimally and precisely as possible)**:
Create a PV
Create a PVC
Assign the claim to the spec and mount it in

[2018-08-21 05:28] daixiang0 opened #67633 "kube-system/kube-dns configmap miss"
/kind bug

**What happened**:
I install a fresh k8s, and find kube-dns configmap miss:
[code]
I know that kube-dns pod will use kube-dns configmap as a volume, but i can not find it.

The kube-dns pod says that all volume succeeded.
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5", GitCommit:"32ac1c9073b

[2018-08-21 05:28] daixiang0 commented on #67633
/sig network

[2018-08-21 05:31] haoqing0110 commented on #67531
@liggitt Thanks, looks it's my etcd node issue.

[2018-08-21 05:31] #67531 closed

[2018-08-21 05:46] daixiang0 commented on #67633
And after reboot, k8s can not start as expected:
[code]

I think the kube-dns configmap miss lead reboot failure.

[2018-08-21 06:51] mazengxie commented on #67515
the logs of kube-controller-manager-master：
I0821 06:41:50.142386       1 event.go:218] Event(v1.ObjectReference{Kind:"Deployment", Namespace:"iot", Name:"testhealth3", UID:"38f2827d-a1d1-11e8-b1c4-000c29b57966", APIVersion:"extensions", ResourceVersion:"7784381", FieldPath:""}): type: 'Normal' reason: 'ScalingReplicaSet' Scaled up replica set testhealth3-66cf7c4c4d to 1
I0821 06:41:50.148644

[2018-08-21 06:54] vidhy opened #67636 "Kube daemonset misscheduled after cluster autoscaling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Deamonset missschduled happens after cluster autoscaling.

**How to reproduce it (as minimally and precisely as possible)**:
Setup a cluster using KOPS. Enable cluster autoscaler. When the autoscaler scales up the node count, describe the daemonset.

**Anything else we need to know?**:

After scaling up happened I have 9 nodes runni

[2018-08-21 06:57] vidhy commented on #67636
@kubernetes/sig-autoscaling-bug

[2018-08-21 07:01] krmayankk commented on #67636
/sig scheduling

[2018-08-21 07:01] krmayankk commented on #67636
/sig autoscaling

[2018-08-21 07:05] vidhy commented on #67636
https://github.com/kubernetes/kube-state-metrics/issues/511

[2018-08-21 07:10] krmayankk commented on #67633
@daixiang0 it doensn't look like this is related to configmap of kube-dns missing. Note that the configmap is optional for kube-dns. Could be related to how Calico is configured @caseydavenport  might have some pointers.

[2018-08-21 07:32] krmayankk commented on #67589
An event seems fine, or may be log at higher debug level. What is the use case ? Do you need this for debugging a failed scheduling @Pingan2017  ?

[2018-08-21 07:51] Lion-Wei commented on #64725
Sure, thanks. Will be done soon.

[2018-08-21 07:54] chenqiangzhishen commented on #67329
@caesarxuchao Do you have any suggestion about this issue? thx.

[2018-08-21 08:05] guoxiaotao opened #67640 "cannot initialize K8s cluster with a 10G nic and a 1G nic"
We want to create a 10Gb/s cluster in K8s with internal subnetwork 192.168.0.0. Each server has a 10G NIC with internal IP and a 1G NIC with Ethernet IP.
The 10Gb/s NICs are connected by a 10Gb/s switch, and the ping works fine between those 10Gb/s NIC. Therefore, the 10Gb/s hardware network is fine.

When we initialize the 10Gb/s cluster on master node, we disconnet 1G NIC and use the command as

[2018-08-21 08:10] guoxiaotao commented on #67640
@kubernetes/sig-area/kubeadm

[2018-08-21 08:14] guoxiaotao commented on #67640
@kubernetes/sig-area/kubeadm

[2018-08-21 08:29] cofyc opened #67643 "cephfs fuse is not mounted in its own systemd scope"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

cephfs fuse is [not mounted in its own systemd scope](https://github.com/kubernetes/kubernetes/blob/v1.13.0-alpha.0/pkg/volume/cephfs/cephfs.go#L412), fuse daemon processes will be killed when kubelet restarts.

It should be updated to use kubelet mounter, see https://github.com/kubernetes/kubernetes/pull/49640.

/assign

[2018-08-21 08:31] mborsz opened #67644 "5k scalability tests fails on namespace deletion"
Two latest test attempts timed out on namespace deletion:
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/196
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/195

kube-controller-manager was failing in both cases with error like:
[code]

According to gce-scale-cluster-minion-heapst

[2018-08-21 08:31] peiqi-caicloud commented on #67329
Hello, I got the same error:
![screen shot 2018-08-21 at 4 28 43 pm](https://user-images.githubusercontent.com/5621794/44390214-561cbc00-a55f-11e8-9aad-4439907f7cdf.png)

I can use kubectl logs podName to see logs but can't logins using kubectl exec -it ...

[2018-08-21 08:33] peiqi-caicloud commented on #67329
@hustcat

[2018-08-21 08:34] gdvijay opened #67645 "Error: client: etcd cluster is unavailable or misconfigured;"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Getting below error adding a key

[root@fed-master ~]# etcdctl set /coreos.com/network/config < flannel-config.json                                                                                                            Error:  client: etcd cluster is unavailable or misconfigured; error #0: client: endpoint http://192.1

[2018-08-21 08:35] cofyc commented on #67643
@kubernetes/sig-storage-bugs

[2018-08-21 08:48] #67107 closed

[2018-08-21 08:50] birdemily commented on #67572
Hi, we also got similar issue. But our cluster is windows cluster, kubernetes version is v1.10.6.
The Scenario is as below :
1. 1 master node, 2 worker node(windows os)
2. we start 2 pods on 2 worker nodes, 1 service with LoadBalancer type
3. Multiple clients to send request to the service, at very beginning, both 2 pods can get requests even. But when we restart 1 of them, let's call pod A, all r

[2018-08-21 08:59] peiqi-caicloud commented on #67329
note: I am using Haproxy and keepalived for master components.

[2018-08-21 10:02] discordianfish commented on #55397
@bpownow Unfortunately I haven't found a fix. Right now I'm just not looking at these metrics. If I had to fix them, I'd probably look into running cadvisor standalone or revive my [container_exporter](https://github.com/discordianfish/container_exporter)

[2018-08-21 10:44] yue9944882 opened #67651 "Client-go leader election can potentially split brain"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

i wrote this test case and ran it in my local environment:

(it runs 10k+ candidates at the same time, and makes them request for leadership concurrently. and the request receiver will record every leader term. finally we'll check if the leader terms have overlapping record which proves that more than one leaders can exi

[2018-08-21 10:45] yue9944882 commented on #67651
/sig api-machinery

[2018-08-21 10:46] larryzhao opened #67652 "Static pods on Ubuntu cannot connect to Kubernetes dns"
**What happened**:
I want to setup a static pod on Ubuntu 16.04.

First appended `cluster-dns` and `cluster-domain` arguments and restart kubelet, I could assure the arguments are affective.

[code]

I ran dnsbox on this node and try to resolve a running service:
[code]

I try to run nslookup on other nodes and I can get the correct result:
[code]

**What you expected to happen**:
I expect that th

[2018-08-21 11:02] tianshapjq commented on #66804
@jiayingz hi~ I commit a pr about this issue, would you pls review that? What I concern most is about the params to pass to Allocate() interface, because that would change the compatability with v1beta1, which is not great for the beta version IMO.
please leave your notes and I will recommit ASAP :)

[2018-08-21 11:16] ipuustin commented on #67580
If you change the kubelet configuration with a ConfigMap, the changes will not come to the kubelet command line flags, so you can't see the changes with `ps aux`. The values just change internally according to the configuration. You can verify that the values have changed by reading the configuration again from the `configz` endpoint.

The command line flags can be used to override the values set

[2018-08-21 11:27] zeeZ commented on #63117
I've encountered the same as above with different kubectl versions:
[code]
`test.yaml` (only local, does not exist in cluster):
[code]

[code]
My guess is it doesn't like the 404.

New bug or still "we won't fix this for now" @apelisse ?

[2018-08-21 11:42] Rajczyk commented on #51835
I know this is only a work-around, but I'm not waking up sometimes at 3am to fix this anymore.
Not saying you should use this, but it might help some people.

The sleep is what I have my pods terminationGracePeriodSeconds is set to (30 seconds). If its alive longer than that, this cronjob will --force --grace-period=0 and kill it completely

[code]

[2018-08-21 11:45] jsafrane commented on #67602
@nikhita, I tried to prepare an integration test, in https://github.com/kubernetes/kubernetes/pull/67657

I noticed that even `kubeclient.CsiV1alpha1().CSIDrivers().Create(driver)` failed with "object *v1alpha1.CSIDriver does not implement the protobuf marshalling interface and cannot be encoded to a protobuf message", I did not get to `Watch(()` with protobuf.

[2018-08-21 11:47] fengzixu commented on #47465
I would like to take that. Is this issue open? @nikhita
/assign

[2018-08-21 11:50] denis256 opened #67659 "Unclosed connections to kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Noticed that pods on specific worker become unavailable after ~1 day,  `kubectl exec` / `kubectl logs` return next error:
[code]
Future investigation shows that the number of connections to kubelet is increasing and never close.
On `pod1` are periodically executed(5 sec) commands from other pod, like:  `kubectl exec pod1

[2018-08-21 11:57] tianshapjq commented on #67636
you mention that it would scale up to 9 nodes after some time, is it indicating that this feature works fine but just taking too long?

[2018-08-21 11:59] detohm commented on #45779
@jnicholls please ensure you specify the correct `spec.selector` in the headless service definition.

I myself got the same issue and found out that the culprit was the missing `spec.selector` in headless service definition. Even all the pods were up but it could not reach other pod via hostname with service name. (Ex. pod-0.headless-service-name.default.svc.cluster.local)

[2018-08-21 12:00] rojkov commented on #67515
I think I managed to reproduce the problem: the new recreated RS doesn't have tolerations and the new pods can't be placed to the master node as result.
Currently I have capacity to debug it. I'll take a closer look.

[2018-08-21 12:16] vidhy commented on #67636
@tianshapjq  yeah right. it is just taking too long.

[2018-08-21 12:25] yue9944882 commented on #67651
it's initially written by #16830

[2018-08-21 12:40] piwi91 commented on #58145
You need to specify `manage-security-groups` to automatically add / alter security groups.
I get the following error after I've upgraded to 1.9.10: `service_controller.go:776] Failed to process service default/hello-world. Retrying in 10s: failed to ensure load balancer for service default/hello-world: error occurred finding security group: lb-sg-15935298-a53f-11e8-9468-02a46508aee5-default-hello-

[2018-08-21 12:46] sylus commented on #65890
@andyzhangx have you had a chance to look at this?

[2018-08-21 12:56] guanyuding commented on #5607
+1 need for /dev/fuse

[2018-08-21 12:56] tpepper commented on #66776
Status check @krzyzacy ?

[2018-08-21 13:06] rafawalter commented on #65575
Downgraded to 1.10.5 as a workaround, looks fine
`brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/d09d97241b17a5e02a25fc51fc56e2a5de74501c/Formula/kubernetes-cli.rb`
`brew switch kubernetes-cli 1.10.5`

Thanks @pauldutheil and @wilsonsilva

[2018-08-21 13:14] bennettellis commented on #67631
/sig batch
/sig job

[2018-08-21 13:16] hobti01 commented on #58662
Service field `publishNotReadyAddresses` does not work in `v1.10.4` with `CoreDNS-1.1.1` but annotation `service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"` does work.

It looks like coredns is waiting for an implementation but not testing for it yet https://github.com/coredns/ci/issues/10

Does #63742 mean that `publishNotReadyAddresses` works as documented with coredns in `v1.11.x`?

[2018-08-21 13:30] ijumps opened #67662 "Create pod failed and not retry due to controller manager ignore timeout error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In some case, controller manager failed to create pod as replicas number defined in ReplicaSet spec. Normally if  replicaset controller fails to create a pod, it will try later.

(https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L437)

[code]

But `manageReplicas` func in `syn

[2018-08-21 13:34] ijumps commented on #67662
/sig api-machinery

[2018-08-21 13:34] bennettellis commented on #67631
*Update*: this looks to be a problem with either:
a) the REST API that kubernetes-client is call is silently dropping the volume for some unknown reason
b) the kubernetes-client itself is somehow failing to send all of my JSON to the REST API (looking at how this code works internally, I can't see that being the case)

So the question is why does the REST API give me back a 201 HTTP response when

[2018-08-21 13:34] bennettellis commented on #67631
/sig API
/sig REST

[2018-08-21 13:35] venkatsc commented on #62096
@sarjeet2013 look at the proposal thread https://github.com/container-storage-interface/spec/pull/222

[2018-08-21 13:39] bennettellis commented on #67631
/area workload-api/job

[2018-08-21 13:40] erhudy commented on #51835
I am seeing the same error with Kubernetes v1.10.2. Pods get stuck in terminating indefinitely and the kubelet on the node in question repeatedly logs:
[code]

I can manually unmount the subpath volume in question without complaint (Linux does not tell me it is busy). This stops the kubelet from logging the error message. However, this does not inspire Kubernetes to continue cleanup, as the pod is

[2018-08-21 14:35] pmalode opened #67664 "Kubernetes Cluster creation issue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
I am creating Kubernetes cluster using encrypted ami.
Steps followed:

1. Create Image from existing Instance, which uses AWS CIS certified ami - CIS Ubuntu Linux 16.04 LTS Benchmark v1.0.0.4 - Level 1-2ba49cfb-babd-43d3-81f6-3657aeb0f101-ami-713e500e.4

2. Copy and Encrypt the Image created using below command-
aws ec2 co

[2018-08-21 15:02] #67664 closed

[2018-08-21 15:40] mikedanese commented on #67651
Does your client allow updates where resource versions conflict? The leader election client relies on OCC of the underlying store.

[2018-08-21 15:41] NeilW opened #67665 "kubectl delete doesn't wait for load balancer to be deleted"
/kind bug
/sig cli

**What happened**:
`kubectl delete service/example-loadbalancer` returns `service "service/example-loadbalancer" deleted` immediately, even though the cloud controller hasn't yet deleted the loadbalancer from the cloud.

**What you expected to happen**:
kubectl delete with the default --wait=true setting should not return or remove the service entry until the 'Deleted Load Bala

[2018-08-21 16:20] PatrickLang commented on #65890
Can someone post an example
podSpec that hits this?

[2018-08-21 16:32] msau42 commented on #60177
/remove-lifecycle stale

[2018-08-21 16:49] yue9944882 commented on #67651
thanks @mikedanese
we found this problem when using a java client sdk ported from client-go. it could be the resource version incorrectly reset to "0". taking a further look. 😅 btw the test is not correct either. 🙃

[2018-08-21 17:07] mohammedzee1000 commented on #66776
/priority critical-urgent
/remove-priority important-soon

[2018-08-21 17:09] osoriano commented on #58662
Hi @hobti01, the `publishNotReadyAddresses` implementation was done recently. I [don't see it in Kubernetes 1.10](https://github.com/kubernetes/kubernetes/blob/release-1.10/pkg/controller/endpoint/endpoints_controller.go#L423), but I [do see it in 1.11](https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/controller/endpoint/endpoints_controller.go#L424), which may explain the behavior y

[2018-08-21 17:14] #64614 closed

[2018-08-21 17:29] caesarxuchao commented on #66776
@tpepper https://github.com/kubernetes/kubernetes/issues/66776#issuecomment-412596363 should have been fixed, stable-1 points to 1.11 now, according to the test-infra [readme](https://github.com/kubernetes/test-infra#create-a-new-job).

The test is still failing because the last test run was earlier than the merge of the [fix](https://github.com/kubernetes/kubernetes/pull/66941). I expect it to be

[2018-08-21 17:34] DirectXMan12 commented on #67221
(there was actually a reason I tagged sig api-machinery -- I wanted their input.  I'm not certain this is actually a bug in the HPA -- it might be a bug in the particular admission controller, or in the admission controller machinery, and I wanted feedback on that).

[2018-08-21 17:50] mohammedzee1000 opened #67670 "Failing Test : [sig-scalability] Density, Scalability should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons"
# Failing Jobs
[sig-release-master-blocking#gce-scale-performance](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance)
# Failing Tests
[[sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-ku

[2018-08-21 17:54] ningg commented on #64967
@mattcopas  , so, where do you get the missing images？

BTW, I meet the same problem.

[2018-08-21 17:58] bsalamat opened #67671 "Non-preempting PriorityClass"
As of Kubernetes 1.11, [Pod priority and preemption](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/) is a beta feature. In the existing version, any Pod could possibly preempt other Pods if it has higher priority than the preemption victims and the cluster does not have enough capacity to run it.
We would like to add a new feature that allows certain PriorityClasses to

[2018-08-21 18:38] phspies commented on #65933
Any idea what the dummy VMDK is about?

[code]

[2018-08-21 18:39] cblecker commented on #64627
When you're ready for the new repo to be created, you can submit a request here:
https://github.com/kubernetes/org/issues/new?template=repo-create.md

[2018-08-21 18:55] smarterclayton commented on #33884
I'm not sure this is correct as we run more things on the master.  If I have a service that I want to expose like an API proxy, an aggregated API server that wants its own LB, or a not quite control plane but not quite end user workload.  We shouldn't *bias* towards the master (I.e. a lot of node port services for regular workloads should bypass the master), but this PR as it stands prevents using

[2018-08-21 18:57] smarterclayton commented on #65618
My comment in the other issue:

I think excluding masters from service load balancer is a bug and needs a more nuanced design.  I'm going to bump priority here because I've got users trying to run pods on masters that have service LB on them that can't use service LB.

[2018-08-21 18:58] smarterclayton commented on #65618
Changing title to be more accurate.

[2018-08-21 19:00] smarterclayton commented on #65618
I think the correct fix here was the service LB health check support for targeting the serving pool to nodes that hold the pod, and now that we have that we don't need this hack.

[2018-08-21 19:02] andrewsykim commented on #65618
To be clear, this would only apply for Services with `externalTrafficPolicy: Local` right? Is it okay to assume that users will always use "Local" for this case?

[2018-08-21 19:03] andrewsykim commented on #65618
I'm sure we _could_ add logic in service controller to include master if externalTrafficPolicy == Local, exclude otherwise but that doesn't seem like an elegant solution

[2018-08-21 19:04] erhudy commented on #51835
An update: we had configured our nodes to redirect the kubelet root directory to a non-OS volume with a symlink (`/var/lib/kubelet` was a symlink pointing to another directory on a different volume). When I reconfigured things to pass `--root-dir` to the kubelet so that it went to the desired directory directly, rather than through a symlink, and restarted the kubelet, it cleaned up the volume mou

[2018-08-21 19:14] balajismaniam commented on #18438
/unassign

[2018-08-21 19:35] smarterclayton commented on #65618
For masters, it seems likely.  I mean, in general I expect externalTrafficPolicy: Local to be the correct setting for the vast majority of LB services - is there a reason I would *not* want that policy in general use?

[2018-08-21 19:57] narkarum opened #67674 "vSphere volume class/pvc: no volume plugin matched"
/kind bug

What happened:

When trying to deploy a storage class, with the 'Vmware Vsphere Volume' provisioner, I can't seem to add a PVC to it, it fails with the following message:

`Type Reason Age From Message

Events:

  Type     Reason              Age              From                         Message
  ----     ------              ----             ----                         -------
  Warni

[2018-08-21 19:58] narkarum commented on #67674
[code]

[2018-08-21 19:59] narkarum commented on #67674
[code]

[2018-08-21 20:00] narkarum commented on #67674
[code]

[2018-08-21 20:05] frapposelli commented on #67674
/sig vmware
/assign @divyenpatel

[2018-08-21 20:06] andrewsykim commented on #65618
I general I would agree that LBs would use `externalTrafficPolicy: Local`. One example where I wouldn't' though is if I have a service that needs to ingress traffic both from an LB and from another service in the same cluster. In that case, I would consider using `externalTrafficPolicy: Cluster` in which case I may not want the master to be in the pool of LB backends. Though to be fair this may a

[2018-08-21 20:06] apelisse commented on #63117
I'll submit a fix, thanks for the detailed report @zeeZ

[2018-08-21 20:15] narkarum commented on #67674
`root     24881     1 25 12:37 ?        00:00:01 /usr/local/bin/hyperkube kubelet --root-dir=/var/data/kubelet --allow-privileged=true --cluster-dns=172.21.0.10 --cluster-domain=cluster.local --pod-manifest-path=/etc/kubernetes/manifests --kubeconfig=/etc/kubernetes/kubelet-kubeconfig --v=9 --file-check-frequency=5s --hostname-override=192.168.100.6 --pod-infra-container-image=registry.net/armada-

[2018-08-21 20:16] narkarum commented on #67674
Above is the kubelet process

[2018-08-21 20:17] narkarum commented on #67674
47 Aug 21 09:24:28 cruiser-worker-test-05 kubelet.service[4960]: I0821 09:24:28.382099    4960 plugins.go:420] Loaded volume plugin "kubernetes.io/aws-ebs"
  48 Aug 21 09:24:28 cruiser-worker-test-05 kubelet.service[4960]: I0821 09:24:28.382113    4960 plugins.go:420] Loaded volume plugin "kubernetes.io/empty-dir"
  49 Aug 21 09:24:28 cruiser-worker-test-05 kubelet.service[4960]: I0821 09:24:28.38

[2018-08-21 20:17] narkarum commented on #67674
`So it is loading the plugins successfully`

[2018-08-21 20:18] narkarum commented on #67674
[code]

[2018-08-21 20:28] pdbogen opened #67676 "kubeconfig config set-context fails with mix of writable & non-writable entries in KUBECONFIG"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

with `KUBECONFIG=/home/pdbogen/.kube/config:/etc/kube/config`, `kubeconfig config set current-context sandbox` returns `error: open /etc/kube/config.lock: permission denied`

**What you expected to happen**:

kubeconfig should lock only `/home/pdbogen/.kube/config` and set the indicated setting there

**How to reproduce

[2018-08-21 20:28] pdbogen commented on #67676
/sig cli
/area kubectl

[2018-08-21 20:56] divyenpatel commented on #67674
I vsphere cloud provider is successfully initialized.

[code]

I also see you are using `kubernetes.io/vsphere-volume` provisioner in the storage class.

Can you provide kubernetes cluster version details and controller-manager logs?

[2018-08-21 20:59] narkarum commented on #67674
[code]

[2018-08-21 21:00] narkarum commented on #67674
`Version: v1.8.13-2+e478967b11e322`

[2018-08-21 21:12] janetkuo commented on #66348
#61161 becomes invalid after DaemonSet starts respecting taints. @k82cn @Huang-Wei

[2018-08-21 21:24] narkarum commented on #67674
Why is it not able to find kubernetes.io/vsphere-volume even though it is loaded?
what can be the reason?

[2018-08-21 21:24] janetkuo commented on #67606
This is likely related to the `TaintNodesByCondition` feature, which adds unschedulable taint to unschedulable nodes.

Error:
[code]

The test expects tainted node (master) not to have DaemonSet pods scheduled, but the DaemonSet controller schedules a pod on the tainted node. DaemonSet controller won't respect taints when `ScheduleDaemonSetPods` feature is disabled.

@k82cn

[2018-08-21 21:31] divyenpatel commented on #67674
Can you verify controller-manager is started with `--cloud-provider=vsphere --cloud-config=/etc/vsphereconf/vsphere.conf` flags?

[2018-08-21 21:35] #55982 closed

[2018-08-21 21:38] fturib commented on #61488
/reopen

[2018-08-21 21:45] rajansandeep commented on #61488
/assign
/reopen
/remove-lifecycle rotten

[2018-08-21 21:46] rajansandeep commented on #61488
/reopen

[2018-08-21 21:54] narkarum commented on #67674
https://github.com/vmware/kubernetes/tree/enable-vcp-uxi

We are referring this.

Does this work only for kubeadm?

[2018-08-21 22:30] cblecker commented on #45398
Repinging @kubernetes/sig-apps-feature-requests

[2018-08-21 23:04] bobrik commented on #51135
There's a bug in CFS throttling affecting well behaved applications most, not just CFS period configuration tradeoff. In #67577 I linked upstream kernel bug, reproduction and the possible fix.

Hope that helps.

[2018-08-21 23:04] bobrik commented on #67577
It's similar in spirit, but it seems to miss the fact that there's an actual bug in the kernel rather than just some configuration tradeoff in CFS quota period. I've liked #51135 back here to give people there more context.

[2018-08-21 23:13] msau42 opened #67680 "PodAffinity predicate should be invalidated for podAdd"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-scheduling-bugs

**What happened**:
In https://github.com/kubernetes/kubernetes/pull/67556, I am adding some new test cases with pod affinity and anti-affinity, and am seeing flaky test failures.

Debugging further, I see the following sequence of events from the test:
0. Pod A and Pod B have anti-affinity to each other using hostname t

[2018-08-21 23:37] Petrox commented on #64073
Just for the record:

centos 7.5 + kubeadm (following the tutorials) has this problem today.
    # rpm -qa |grep kubeadm
    kubeadm-1.11.2-0.x86_64

The solution is to NOT START kubelet before kubeadm init, but you MUST have it enabled:

    sudo systemctl stop kubelet
    sudo systemctl enable kubelet
    sudo kubeadm reset
    sudo kubeadm init -v 5 --pod-network-cidr=10.244.0.0/16 --apiserver-

[2018-08-21 23:59] Huang-Wei commented on #66348
@janetkuo my reading is that current behavior is consistent with what it used to be. Daemonset also respect taints in the before:

https://github.com/kubernetes/kubernetes/blob/c94ececccc66701494a4cb271c50342dd724b692/pkg/controller/daemon/daemon_controller.go#L1521

---

However, one behavior I noticed got changed is the `cordon` case: in 1.11, if a node is cordoned, DS pod is scheduled to that n

[2018-08-22 00:03] liggitt commented on #67665
If the service object was removed before it should be, this is a bug in the service api, not the cli

The Event API is not a reliable message bus, and is advisory, not intended to drive functional behavior.

@jhorwit2 weren't you working on adding a finalizer in service objects to keep them from being deleted prior to LB cleanup?

[2018-08-22 00:05] liggitt commented on #67676
See also
https://github.com/kubernetes/kubernetes/issues/32606

[2018-08-22 00:28] roycaihw commented on #62404
As https://github.com/kubernetes/kubernetes/issues/62402#issuecomment-386488271 pointed out, `kubectl edit deployment` visits the `extensions/v1beta1` endpoint, but `kubectl create -f` with an `apps/v1` deployment visits the `apps/v1` endpoint.

If the webhook is configured to listen to creates and updates on `apps/v1` Deployments, it will miss the `kubectl edit deployment` update.

/close

[2018-08-22 00:28] #62404 closed

[2018-08-22 00:46] tanshanshan commented on #67671
I want to finish it . could you assign to me ?

[2018-08-22 00:48] Huang-Wei commented on #66348
I can confirm it's `simulate()` used to calculate how many nodes needs to run daemonset pods first, and afterwards syncNodes() -> AppendNoScheduleTolerationIfNotExist() is invoked to apply "unschedulable" toleration to daemonset pods.

To workaround this issue, @k82cn @janetkuo is it appropriate to apply "unschedulable" toleration to `simulate()` - there are other memory/pid/disk pressure tolerati

[2018-08-22 01:01] jiuchongxiao commented on #67580
@ipuustin thank you

[2018-08-22 01:01] #67580 closed

[2018-08-22 01:18] verult opened #67683 "CSI topology support: node info population through kubelet driver registration mechanism"
/kind feature

This is one of the components in enabling CSI Topology support in k8s. https://github.com/kubernetes/features/issues/557
The remaining logic is in the out-of-tree external-provisioner

[2018-08-22 01:33] #67541 closed

[2018-08-22 01:33] #48211 closed

[2018-08-22 01:33] #49075 closed

[2018-08-22 01:39] clanesf commented on #49387
IMHO this is more than just a feature, it's pretty much a must. The fact that you can have a pod that is in a CrashBackoffLoop that isn't listed by the `--field-selector=status.phase!=Running` makes the whole `field-selector` thing pretty useless. There should be an easy way to get a list of pods that have problems without resorting to parsing json.

[2018-08-22 01:57] larryzhao commented on #67652
/sig network

[2018-08-22 02:46] oomichi opened #67685 "Is kube-scheduler's listening port expected on its node address instead of 127.0.0.1 ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The e2e test "[sig-instrumentation] MetricsGrabber [It] should grab all metrics from a Scheduler." fails like
[code]

**What you expected to happen**:

The test can pass successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Just run:
[code]

**Anything else we need to know?**:

kube-scheduler

[2018-08-22 02:48] oomichi commented on #67685
/sig instrumentation

[2018-08-22 03:45] xujieasd commented on #67572
@xujintao
It seems your kube-proxy mode is `iptables` but not `ipvs`
And as far as I know `iptables mode` does not have `round-robin` strategy for load balance.
Check your iptables rules, the load balance strategy for `iptables mode` is random.

[2018-08-22 03:49] yue9944882 commented on #67651
/close

[2018-08-22 03:49] #67651 closed

[2018-08-22 03:51] jhorwit2 commented on #65618
@smarterclayton this should perhaps be merged with https://github.com/kubernetes/kubernetes/issues/65013

The service controller today does some filtering based on masters in interesting ways. Historically it seems that masters were marked unschedulable to be excluded from lb services. Then once labels for roles became popular that got added as well.

[2018-08-22 03:54] ravisantoshgudimetla commented on #66348
Agree with @Huang-Wei on behaviour, we just changed this enabled this to ensure that DS controller is backwards compatible but not sure about replacing UnSchedulable field with TaintNodesByCondition as the semantics of taints allow pods to tolerate them. We cannot replace 'UnSchedulable' with a taint unless there is a special type of taint that cannot be tolerated at all.

[2018-08-22 03:55] jhorwit2 commented on #65618
This gets a little hacky with how backends are updated today. We would need to keep track of two different backend sets while updating each service.

[2018-08-22 04:00] neolit123 commented on #67683
/sig storage

[2018-08-22 04:05] kh34 commented on #67221
Sorry for the delay. Here is the relevant portion
[code]

[2018-08-22 06:33] mborsz commented on #67670
/assign

[2018-08-22 06:49] bowei commented on #39696
/remove-lifecycle stale

[2018-08-22 06:49] xujintao commented on #67572
@xujieasd
yes, the LB strategy iptables mode supporting is random:
[code]
But when accessing nodeIP:nodeport(kube-node2:8501) **from outside**, the random strategy can not work.

[2018-08-22 06:49] k82cn commented on #66348
Yes, we should also add `Unschedulable` toleration in `simulation()`.

[2018-08-22 07:00] andyzhangx commented on #65890
@sylus Looks like it's a common issue, not only for azure file, configmap subPath on windows also does not work.
This is a golang issue, did not find any good workaround to not using`path/filepath` functions, we may wait for golang to fix this issue.
add @PatrickLang for awareness.

[2018-08-22 07:18] hjacobs commented on #67577
As far as I understand this is another reason to either disable CFS quota (`--cpu-cfs-quota=false`) or make it configurable (#63437).

I also find this gist (linked from Kernel patch) very interesting to see (to gauge the impact): https://gist.github.com/bobrik/2030ff040fad360327a5fab7a09c4ff1

[2018-08-22 07:27] daixiang0 commented on #67633
@caseydavenport Hi, here is my calico config:
[code]

I know little about calico so i just follow doc to config it. I am not sure weather if relate to mul-network cards.

[2018-08-22 07:40] CallMeFoxie commented on #67453
I wonder if it is related to something I reported few weeks ago?
https://github.com/kubernetes/kubernetes/issues/66381
I will try grabbing the patch and compiling it in :)

[2018-08-22 07:52] funky81 commented on #40968
Will this request fullfil by k8s teams?

[2018-08-22 07:54] CallMeFoxie commented on #66381
Ok https://github.com/kubernetes/kubernetes/issues/67453 has fixed similar issue, however adding it does not fix this. I wonder if it is a similar code somewhere else?

Also it seems that the pod gets assigned to some node, which does not have this port available, kubelet reports PodFitsHostPort status and controller creates a new pod etc etc.

[2018-08-22 08:11] #67627 closed

[2018-08-22 08:12] zjzhangkui commented on #52657
@redbaron Most is cost by Unmarshal, there is not much pod in k8s cluster,  less than 50 pods.
(pprof) top50 -cum
Showing nodes accounting for 4.02GB, 96.78% of 4.15GB total
Dropped 237 nodes (cum <= 0.02GB)
      flat  flat%   sum%        cum   cum%
         0     0%     0%     4.05GB 97.65%  k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/watch.(*StreamWatcher).receive
         0     0%     0%

[2018-08-22 08:32] mborsz commented on #67644
The scalability test is running right now, so I sshed to -heapster node. Metrics-server is failing with:

[code]

[2018-08-22 08:36] mattcopas commented on #64967
@ningg I got the images using docker pull, then saved them, then loaded them via file transfer to the offline machine.

To pull/save:
**Note**
Note the output name is in the format short_image_name:image_tag. This is important so that kubeadm finds the image and doesn't pull
[code]
Copy the "*.docker" files over to your offline machine,

then

[code]
 for each saved image on the offline machine

T

[2018-08-22 08:43] mborsz commented on #67644
kubernetes-dashboard:

[code]

the same for kube-dns (trying to connect to 10.0.0.1:443)

[2018-08-22 08:55] wuganghua2018 commented on #54542
when i use journalctl,the log shows HVMOP_pagetable_dying not supported:
[root@NKG1000136919 kubernetes]# journalctl
-- Logs begin at Wed 2018-08-22 15:46:45 CST, end at Wed 2018-08-22 16:43:17 CST. --
Aug 22 15:46:45 localhost.localdomain systemd-journal[134]: Runtime journal is using 8.0M (max allowed 389.9M, trying to le
Aug 22 15:46:45 localhost.localdomain kernel: Initializing cgroup subsys c

[2018-08-22 08:55] mborsz commented on #67644
KUBERNETES_SERVICE_HOST is set incorrectly:

[code]

[2018-08-22 09:36] jiuchongxiao opened #67692 "v1.11.1 kubectl logs xxx get null content"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when i apply xxx.yaml ,i can not get the pod logs
**What you expected to happen**:
i want to get the pod start logs and visit logs
**How to reproduce it (as minimally and precisely as possible)**:
v1.11.1

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
virtaulbox
- O

[2018-08-22 09:47] mborsz commented on #67644
In fact 10.0.0.1 is a correct IP address to use when kube-proxy works properly.

I see that on the heapster (and other machines) kube-node-configuration.service fails to install and kube-proxy doesn't work:
[code]

[2018-08-22 09:50] mborsz commented on #67644
Apparently, KUBE_PROXY_MODE=ipvs is not supported in our cos version.

[2018-08-22 09:57] shyamjvs commented on #67644
Thanks for investigating Maciek. Let's roll back that change for now (until we find a supported cos version).

@thockin Is there a cos version we could use for ipvs?

[2018-08-22 10:00] jiuchongxiao commented on #67692
/sig logging

[2018-08-22 11:08] mborsz commented on #67670
The root cause is https://github.com/kubernetes/kubernetes/issues/67644. We rolled back incorrect configuration change. This should make the test green.

[2018-08-22 11:29] rojkov commented on #67515
So, it turned out the culprit is not in Kubernetes, but in the outdated container image `quay.io/coreos/addon-resizer:1.0` of your deployment.

It runs a client which updates the `kube-state-metrics` deployment. But the client uses outdated API which lacks `Tolerations` in `PodSpec`. As result the updated deployment looses tolerations in its pod template. The deployment controller recreates `Repli

[2018-08-22 12:12] mborsz commented on #67644
https://github.com/kubernetes/test-infra/pull/9125 reenables the ipvs with ubuntu image (which is used by other suites to test ipvs)

[2018-08-22 12:25] shay-berman commented on #65392
@saad-ali, @verult  and I scheduled a meeting to talk about this issue on Monday 27Aug 11am (New York, USA Time).

[2018-08-22 12:26] ThomasHartz commented on #40846
This will be a bit late, but i stumbled over the same problem.
The probe command calls mysql directly, which cannot resolve environment variables/secrets.
But you can execute mysql inside bash, which is aware of it's environment.

` . readinessProbe:

    exec:

      command:

      - bash

      - "-c"

      - |

        mysql -u$MYSQL_USER -p$MYSQL_PASSWORD -h 127.0.0.1 -e 'SELECT 1'
`

[2018-08-22 12:27] mborsz opened #67701 "high DELETE replicationcontrollers request latency in 2k node tests"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/136 has failed with:

[code]

[code]

Sample trace from kube-apiserver.log (I see ~10 requests like that, all of them roughly at the same time):

[code]

IIUC the trace correctly, we spend almost all time in 'Object deleted from database':

https://github.com/kubernetes/kubernetes/blob/6fe7f9f4

[2018-08-22 12:28] hechuan73 opened #67702 "Metrics Server problems"
/kind bug
Hi, I did a hpa autoscaling practice， and used the metrics server, but there is also no value about resources of pods, here is what happened:

1. Create deployments
[code]

2. Create service
[code]

3. Create hpa
[code]

4. Get hpa information
[code]
    Problems: there is no value about the resources of my pod!

5. Describe the hpa
[code]

    while the metrics server is running without

[2018-08-22 12:33] embano1 opened #67703 "vSphere Cloud Provider does not work when deployed across Zones with zone-local Storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig vmware

**What happened**:
Putting this in as a feature request as the original VCP use case did not support multi-AZ topologies. Deployment of persistent volumes through VCP does not work when VCP is deployed in multi-AZ topologies, e.g. where each AZ maps to a dedicated vSphere cluster. Volume creation requires shared datastore(s)

[2018-08-22 12:38] shyamjvs commented on #67701
Sounds like a duplicate of https://github.com/kubernetes/kubernetes/issues/66026?

[2018-08-22 12:46] #67701 closed

[2018-08-22 12:47] mborsz commented on #66026
Next instance of this issue in 2k: https://github.com/kubernetes/kubernetes/issues/67701#issue-352931253, rather unrelated to audit logging ('Object deleted from database')

[2018-08-22 13:29] sylus commented on #65890
@andyzhangx yeah my problem is with subPath and I think makes it nearly impossible to do proper development in Windows due to this bug. Mount to a whole directory and symlink isn't the nicest alternative.

My concern will waiting for golang is that that could take anywhere from 4-6 months. Surely there has to be something better we can do for developers trying to move windows workloads into K8.

I

[2018-08-22 13:36] junoteam commented on #67702
hey guys, any suggestions on this problem?
I have exactly the same issue with exactly the same setup.

[2018-08-22 13:54] KernelPanicAUS commented on #24472
anything?

[2018-08-22 14:08] liggitt commented on #67671
the scheduler doesn't currently look at priority class, only at pods. splitting the data between pods and priority class would mean looking at the pod would be insufficient for the scheduler. why would the same approach of denormalizing priority value to the pod spec on creation not be followed?

[2018-08-22 14:25] wwyhy opened #67710 "How to use http to instead https"
Hello,

I am trying to set up the log collection system by fluentd-elasticsearch under addons folder.
when I deploy the fluentd-es-ds.yaml, I got below error (certificate verify failed).
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-ds.yaml

So how can I use http to instead https(https://172.21.0.1:443/api)?

--------------ERROR------------
$

[2018-08-22 14:25] wojtek-t commented on #66785
@shyamjvs - FYI

[2018-08-22 14:31] ringtail opened #67711 "kubelet metrics prometheus api need valid time range."
linked to <a href="https://github.com/google/cadvisor/pull/2028">PR</a> for cadvisor
**Environment**:
kubernetes1.9~
Linux 3.10.0-693.2.2.el7.x86_64

[2018-08-22 14:35] liggitt commented on #57909
fix is open in https://github.com/kubernetes/kubernetes/pull/67713

[2018-08-22 14:37] ringtail commented on #67711
/sig instrumentation

[2018-08-22 14:37] ringtail commented on #67711
/kind bug

[2018-08-22 14:38] wojtek-t commented on #65954
Separate pods to separate etcd won't help - you're almost certainly hitting apiserver limitation.

Depends on your expectations.
It is more-than-expected that apiserver won't be able to handle a lot of heavy list requests in parallel.
Note that if you list from etcd (all pods with fieldSelector X), that results in listing all pods from etcd, deserializing all of them in apiserver, choosing correct

[2018-08-22 14:45] gnufied commented on #62096
/remove lifecycle/rotten

[2018-08-22 14:45] gnufied commented on #62096
/remove-lifecycle rotten.

[2018-08-22 14:46] gnufied commented on #62096
/remove-lifecycle rotten

[2018-08-22 14:48] LeiYangGH commented on #36653
also notice that, as a user only.

[2018-08-22 14:58] neolit123 commented on #67710
/sig scalability
for fluentd-es.

[2018-08-22 15:01] shyamjvs commented on #66785
So I just checked an [earlier run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/192) of our 5k-node performance tests (where we're also creating 150k pods) with somewhat similar qps and the snapshot times look quite normal (~ 4-5s):

[code]

(ref [etcd logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scal

[2018-08-22 15:02] neolit123 commented on #67702
/sig instrumentation

[2018-08-22 15:02] neolit123 commented on #67692
/sig cli

[2018-08-22 15:02] adampl commented on #58635
Does anyone know whether it can also work with bare-metal nodes? I mean, if a node were tainted manually (or by some external software) with `nodeShutdown`, would the volumes be automatically detached?

[2018-08-22 15:09] andrewsykim commented on #65618
^ I was wrong about this because I had assumed cluster IP only routes to local too, but just realized it does cluster-wide regardless.

[2018-08-22 15:10] tpepper commented on #66776
Confirmed test is now passing.
/close

[2018-08-22 15:10] #66776 closed

[2018-08-22 15:14] gyuho commented on #66785
@yingnanzhang666 @shyamjvs

Compaction in etcd is a blocking operation on writes, so API server write throughput could be limited in such case. I will try more benchmarks with Kubernetes workloads.

[2018-08-22 15:33] liggitt opened #67714 "Cloud providers should report node hostname address types"
https://github.com/kubernetes/kubernetes/commit/7828e5d0f97c455de4ff93d43f11f953a7951916 made cloud providers authoritative for the addresses reported on Node objects, so that the addresses used by the node (and requested as SANs in serving certs) could be verified via cloud provider metadata.

This had the effect of no longer reporting addresses of type `Hostname` for Node objects for some cloud

[2018-08-22 15:34] liggitt commented on #67714
cc @mikedanese @awly

[2018-08-22 15:38] PaulMazzuca commented on #44528
I have also tried using the service name, and that did not work. Can you clarify the kubectl command that gets the "full" service name that resolves?

[2018-08-22 15:42] php-coder commented on #49287
@stlaz JFYI

[2018-08-22 15:51] PaulMazzuca commented on #44528
Take that back. I just got it to work using "{service-name}.{namespace}.svc.cluster.local".  I did not realize that svc.cluster.local  was always the same.

[2018-08-22 16:15] george-angel commented on #43784
Linking https://github.com/kubernetes/kubernetes/issues/51076 here as it seems to be discussing the same thing.

We are currently facing this dilemma, we are replicating AWS setup on GCP where the external LB only supports http healthchecks:

https://cloud.google.com/load-balancing/docs/health-checks

Our api-server is using self-signed certificates that we rotate daily, so we have to use a TCP LB

[2018-08-22 16:34] PatrickLang commented on #63121
This fix will require Windows Server 2019, along with an upcoming build of containerd and cri-containerd that uses a new version of the Windows HCS API. Unfortunately there's no way to fix it in the moby/moby codebase without containerd.

[2018-08-22 16:36] rcorre commented on #63529
It would be great if this were documented, I was totally caught off guard by these seemingly "empty" requests. I would never have guessed it was a request to delete a collection without finding this ticket.

[2018-08-22 16:47] lavalamp opened #67717 "watch conformance test: Rigorously test watch consistency"
We should add a watch test that:
1. Opens a watch
2. In a background thread, makes a bunch of random changes
3. Record the RV from the first item received by the watch.
3. For each subsequent item X, open a new watch at the previous RV and verify that the first thing received matches X. Record X's RV for the next iteration.

/sig api-machinery

[2018-08-22 16:47] lavalamp commented on #67717
cc @wojtek-t @jennybuckley

[2018-08-22 16:50] lavalamp opened #67718 "watch conformance test: test more resources than just config map"
It looks like the existing watch conformance test only tests configmaps.

We should generalize it. Given a list of valid objects of different kinds, we should be able to run the existing test (which tweak labels) generically.

/sig api-machinery

[2018-08-22 16:50] lavalamp commented on #67718
cc @jennybuckley

[2018-08-22 16:51] sadok-f commented on #56903
For alpine images, here an issue related to : https://github.com/gliderlabs/docker-alpine/issues/255

[2018-08-22 17:02] MrHohn commented on #56371
/remove-lifecycle stale

[2018-08-22 17:03] divyenpatel commented on #67674
@narkarum as per offline conversation controller-manager and API server's configurations was not correct.

Refer manifest files posted at - https://gist.github.com/divyenpatel/f5f23addca31b0a7da1647831539969f

Please close this issue, if you are able to provision volume, after adding flags to the controller-manager and api-server's manifest files.

[2018-08-22 17:09] thockin commented on #48938
So IPVS is GA now.  We haven't adopted it for GKE yet, but we're looking at it.  Would be nice to understand how it impacts perceived scalability here, and whether it is "good enough".  There's an alt proposal for nftables and we know some folks are doing EBPF.

I am disinclined to go back to iptables mode and massively refactor the rulesets - the risk is just too high given the alternatives.

[2018-08-22 17:16] luxas commented on #67233
For reference, this KEP has been moved to the `implementable` stage via this PR: https://github.com/kubernetes/community/pull/2515, so we are good to go for all components here :100:

[2018-08-22 17:17] vikasuy commented on #60825
/remove-lifecycle stale

[2018-08-22 17:30] ant31 commented on #65502
I still think that the cases you describe should be handle at the application level.

I don't see this as particularly 'hacky'. There's already mechanics to block the shutdown, the application should know when it can shutdown or not, maybe istio-proxy could embed this check.

[2018-08-22 17:45] nmittler commented on #65502
@ant31 Possibly, however since the apps are in separate containers, it's not clear to me how istio-proxy would obtain the running state of the application container.  I feel that we're treating Istio's case as a one-off, but I'm not sure it is. It would seem that startup/shutdown dependencies would be a fairly common scenario with multi-container pods. Having k8s handle this would be a powerful fe

[2018-08-22 17:47] dims opened #67720 "Conformance tests for ARM architecture"
Similar to https://k8s-testgrid.appspot.com/sig-node-ppc64le#conformance we need to run tests against ARM based k8s installations

/cc @lubinsz @vielmetti

[2018-08-22 17:48] dims commented on #67720
related to https://github.com/kubernetes/kubernetes/issues/38067

/sig testing

[2018-08-22 17:48] Huang-Wei commented on #66381
@CallMeFoxie the message "PodFitsHostPort" in kubelet is actually misleading - it doesn't share the same predicates logic of scheduler, instead it reads the *real* host occupation info from its running container interface. The status showed "Failed" also proves that - a pod is scheduled to a host, but kubelet rejects it as there is already an application using that port.

Then you might ask: why s

[2018-08-22 17:53] CallMeFoxie commented on #66381
Nope, I am not using hostNetwork on purpose and hostPort is specified on purpose - otherwise it wouldn't be bound on the host. (and I made sure there is no outgoing connection/.. anything bound on that port - I can 100% redo the test even after rebooting the whole cluster etc).

I added some debug info messages and when it tries to schedule some overrunning kube-dns pods it shows that the used hos

[2018-08-22 17:53] dims opened #67721 "Conformance tests for s390x architecture"
Similar to https://k8s-testgrid.appspot.com/sig-node-ppc64le#conformance we need to run tests against s390x based k8s installations

/cc @shahidhs-ibm @gajju26 @alicefr @cwsolee @estesp

[2018-08-22 17:54] dims commented on #67721
older issue - https://github.com/kubernetes/kubernetes/issues/39229
related to - #38067

[2018-08-22 17:59] caesarxuchao commented on #67468
Duplicate of https://github.com/kubernetes/kubernetes/issues/61510.

The support for 443 is documented: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/admissionregistration/v1beta1/types.go#L257 (thanks to @jennybuckley for fixing the document).

Please reopen if there are other things we can fix.

[2018-08-22 17:59] #67468 closed

[2018-08-22 18:02] neolit123 commented on #67606
^ @tpepper

[2018-08-22 18:07] caesarxuchao commented on #67134
@davidbalazs to debug, could you try creating the deployment without any admission webhook, then use kubectl to send the json merge patch you pasted and see if the deployment is properly updated? That would let us know if it's a admission webhook issue, or an patch library issue.

[2018-08-22 18:27] dashpole commented on #66357
Panic:
[code]

[2018-08-22 18:55] cyberious commented on #18755
But this requires actually access to pods rather than being able to have an end user hit that endpoint to invalidate all, seems like a thin wrapper would be created to do this

[2018-08-22 19:28] cmluciano commented on #67526
@kubernetes/sig-network-feature-requests semi-related https://github.com/kubernetes/kubernetes/issues/23864

This probably would be a breaking change that would require a v2 bump to the API and buy-in from Network Policy providers.

cc @caseydavenport @danwinship

[2018-08-22 19:29] FOSquare opened #67725 "can not create cluster on NIC with internal IP address"
/kind bug

/network

**What happened**:

I have 16 servers with two interfaces, one 1Gb/s with external IP for remote connection. one 10Gb/s with internal IP for data communcation. I want to create K8s cluster on the NIC with private/internal IP address, but it always create the network on the NIC with external IP address.

**What you expected to happen**:

I expect to create the cluster on the 10

[2018-08-22 19:32] FOSquare commented on #67725
/sig network

[2018-08-22 19:33] cmluciano commented on #63327
this feels stale now, please reopen if needed

/close

[2018-08-22 19:33] #63327 closed

[2018-08-22 19:34] smarterclayton commented on #65618
As we increasingly work to split out core, there are more components running on masters (controllers, aggregate apis, web hook servers, admin debug services, etc).  A blanket "don't include masters" for a generic kube feature isn't appropriate, but I do agree that in general it is a reasonable default for some users on the cluster.  The important thing is we figure out what the right way to split

[2018-08-22 19:38] Jacob-Burckhardt opened #67726 "broken link"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I visited https://kubernetes.io/docs/reference/kubectl/kubectl/

I clicked on the link "kubectl apply".

It said:

404 Page not found
Sorry, this page was not found. :(

**What you expected to happen**:

I expected it to show me documentation on the "kubectl apply" command.

**How to reproduce it (as minimally and precis

[2018-08-22 19:54] andrewsykim commented on #65618
This is fair, given most LBs use `externalTrafficPolicy: Local` I think adding masters by default and opting out with an annotation (or similar) would be a good approach.

[2018-08-22 19:58] liggitt commented on #66538
additional considerations:
* some websocket clients (like browsers) are not able to set `Accept` headers on websocket requests, so we'd need to consider how a watcher indicates they want table output
* would we echo column headers with every event (could get very large), or send them once per watch stream? need to consider objects that can change their columns dynamically like CRDs (the watch hand

[2018-08-22 19:59] hyprnick commented on #67473
For anyone else who finds this helpful - I found the following image to work on AWS for NVMe instance types (c5d, m5d, etc) along with the aws cni plugin:

`kope.io/k8s-1.11-debian-stretch-amd64-hvm-ebs-2018-08-17`

[2018-08-22 19:59] liggitt commented on #66538
cc @jwforres @spadgett

[2018-08-22 20:00] Jacob-Burckhardt commented on #67726
/sig docs

[2018-08-22 20:05] Huang-Wei commented on #66381
@CallMeFoxie when you patch #67453, in addition to kube-scheduler, is kubelet also rebuilt and restarted? (I asked this as this problem seems to be a kubelet issue - from the error, it seems kubelet hasn't went to the step to check *realtime* hostPort info yet. Rather failing on reusing scheduler predicates logic to do sort of a "precheck")

[2018-08-22 20:06] caseydavenport commented on #67526
I don't _think_ this would require a new v2 API bump since the old policies would still be valid.

iptables supports this - do we have to worry about other implementations that might not? I suspect that pretty much any implementation can do this.

[2018-08-22 20:08] Raffo commented on #49445
/remove-lifecycle stale

This is still relevant cause #62774 is not merged yet.

[2018-08-22 20:10] vikasuy commented on #64148
/remove-lifecycle stale

[2018-08-22 20:13] Huang-Wei commented on #66381
And I have no luck to reproduce using latest master code. Here are the steps:

[code]

- create a 10 node cluster
- prepare two yamls - n1.yaml, n2.yaml
[code]
- create n1.yaml and n2.yaml
- as expected, 2 pods (6*2-10) are in Pending status
- keep deleting all pods (`k delete po --all`) and observe
- I tried several times but everytime there are always 2 (random) pods in Pending status - unlike w

[2018-08-22 20:34] danwinship commented on #67526
OVS can't match on port ranges (though it can do bitmask matches, so in theory you could hack it up with a lot of pain).

I'm not sure you can really make that strong an argument that allowing access to "only" 43% of the port space counts as "security" :-}. Maybe there's an argument for "don't allow connections to ports < 1024"...

FWIW conntrack is able to recognize the PASV connection as `RELATE

[2018-08-22 20:49] pmichali opened #67727 "IPv6/IPv4: Dual-stack umbrella issue"
This issue covers the design tasks that are needed to provide dual-stack support for Kubernetes. Reference info:

- Feature (https://github.com/kubernetes/features/issues/563)
- KEP (https://github.com/kubernetes/community/pull/2254)
- Issue #62822

Google doc with list of tasks, KEP mappings, issue numbers, and assignees is at TBD. If you want to help out, add your name to items on the list in th

[2018-08-22 20:55] bsalamat commented on #67671
Thanks, @tanshanshan! Assigned.

@liggitt That would need another field in the PodSpec. This feature may not be the last feature added to PriorityClass. We cannot keep adding new fields to PodSpec. Scheduler looks at many other objects than just Pods anyway. PodDisruptionBudget, Node, PV, PVC are examples of objects that scheduler monitors.

[2018-08-22 20:57] rpothier commented on #67727
/assign

[2018-08-22 20:57] thomastaylor312 opened #67728 "TCP keep alive setting for `port-forward`"
PR #63793 added support for a TCP keep alive setting in the `proxy` command. It would be nice if this setting also existed for `port-forward` as well

/kind feature

[2018-08-22 20:57] thomastaylor312 commented on #67728
/sig cli

[2018-08-22 21:10] juanvallejo commented on #40968
Not sure how much this addresses the initial problem, but the new plugins example repo will add functionality similar to the one being described here: https://github.com/kubernetes/kubernetes/pull/67729

With the sample plugin, you'll be able to point to a new namespace without having to specify the `--namespace` flag in every command, or the need to export an environment var:

[code]

[2018-08-22 21:17] #63756 closed

[2018-08-22 21:29] jhorwit2 commented on #65618
Agreed, to me it sounds like the `ServiceNodeExclusion` feature currently in alpha could help facilitate this by having admins add labels to nodes to exclude them from receiving traffic and remove the "is master" style checks.

[2018-08-22 21:47] dims commented on #67721
/sig testing

[2018-08-22 22:00] andrewsykim commented on #65618
It's too bad we can't exclude nodes on a per-service basis (yet). But seems like a reasonable compromise for now. Didn't even realize `ServiceNodeExclusion` was a feature, in which case I think we should PR something for adding masters back into the backend pool. @jhorwit2 do you have bandwidth to work on this?

[2018-08-22 22:03] lbernail opened #67730 "Unable use localhost:<nodeport> with IPVS"
/kind bug
/sig network
/area ipvs

**What happened**:
Connecting to a service using a nodeport and the loopback address does not work

**What you expected to happen**:
Being able to connect to a nodeport using the loopback (it works with IPVS)

**How to reproduce it (as minimally and precisely as possible)**:
Create a nodeport service and try to connect to it using localhost:<nodeport>

**Anything

[2018-08-22 22:19] cespo opened #67732 "API Server memory/goroutines increase over time after v1.11 upgrade"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig api-machinery

**What happened**:
After v1.11 upgrade the API Server memory started steadily increasing using eventually all resources.
At the same time we observed goroutines and open fds going up

Graphs: https://www.dropbox.com/sh/9fla8up2t70b80d/AAAnAmDydT5gF0OMz9rIfsvBa?dl=0

**What you expected to happen**:
API Server to release ch

[2018-08-22 22:34] Huang-Wei opened #67733 "node wasn't tainted unreachable when TaintNodesByCondition is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When TaintNodesByCondition is enabled, if a node lost connection to apiserver, node lifecycle manager doesn't add "unreachable" taint to the node.
So that results in scheduler still scheduled pods onto that "lost" node, in a Pending status.

**What you expected to happen**:

If a node is lost, an "unreachable" taint shou

[2018-08-22 22:34] Huang-Wei commented on #67733
/sig node
/sig scheduling

[2018-08-22 23:01] cespo commented on #67732
@kubernetes/sig-api-machinery-bug

[2018-08-22 23:27] nagarciah commented on #48798
I was following this guide today (https://www.techrepublic.com/article/how-to-install-a-kubernetes-cluster-on-centos-7/) and I missed the cgroupfs configuration in "/etc/systemd/system/kubelet.service.d/10-kubeadm.conf". Once I fixed it worked like a charm

[2018-08-22 23:51] nagarciah commented on #48798
I was following this guide today (https://www.techrepublic.com/article/how-to-install-a-kubernetes-cluster-on-centos-7/) and I missed the cgroupfs configuration in "/etc/systemd/system/kubelet.service.d/10-kubeadm.conf". Once I fixed it worked like a charm

[2018-08-23 00:01] #61648 closed

[2018-08-23 00:30] vishh commented on #67577
cc @adityakali

[2018-08-23 01:07] bsalamat opened #67738 "Improve performance of Pod affinity/anti-affinity in the scheduler"
We recently added an [optimization](66948) that improves performance of checking inter-pod anti-affinity of existing pods. We should apply the same technique to checking affinity and anti-affinity terms of the Pod being scheduled.
This optimization works by finding all the nodes that can potentially match the inter-pod affinity/anti-affinity terms of a Pod and cache the matching labels of those no

[2018-08-23 01:09] dims commented on #67732
@liggitt any thoughts?

[2018-08-23 01:10] dims commented on #65732
@liggitt we need to worry about this for 1.12 right?

[2018-08-23 01:10] bsalamat commented on #67738
cc/ @ahmad-diaa

[2018-08-23 01:44] liggitt commented on #65732
it didn't block 1.9, 1.10, or 1.11 releases, so I don't anticipate it blocking 1.12, though we would certainly want to fix it if we were able to narrow down the cause.

@brianmartin @wendorf are you seeing this issue with --storage-backend etcd3? the etcd2 backend has known performance issues and will be removed after 1.12.

@hameno do you have more details about your apiserver invocation, specifi

[2018-08-23 02:01] liggitt commented on #67732
a few questions:
* do you have your full apiserver invocation available?
* are you running any extension apiservers (like service catalog or metrics server)?
* what version of etcd are you running?

[2018-08-23 02:03] liqlin2015 commented on #67300
Just verified and checked the code. It seems we cannot have two taints with different effect on a node. For example, `node.kubernetes.io/not-ready:NoSchedule` and `node.kubernetes.io/not-ready:NoExecute`.

[2018-08-23 02:34] FengyunPan2 commented on #67714
Get it, I will report it for openstack cloud provider.

[2018-08-23 02:55] nagapavan commented on #65937
@tonybranfort I was using Service-acccount, rbac and cluster-role binding to the provisioner. There was a bit of challenge in case of cluster-role binding case, I had to fetch existing role binding entry and patch it for each new `namespace`.
Still ran into the issue. :(

[2018-08-23 03:33] m1093782566 commented on #67730
Nice catching @lbernail

I seldom use loopback in my production environment, but glad to see this issue being fixed.

IIUC, the command you provide is trying to tell kernel that any traffic sending to 127.0.0.1 is "actually" from the NODE IP.

My question is what NODE_IP should we bind for loopback address? Does the fix has any side effect?

cc @Lion-Wei for testing.

[2018-08-23 03:36] liggitt commented on #67732
@kubernetes/sig-scalability-bugs have we seen anything like this in our scale tests?

[2018-08-23 03:53] mazengxie commented on #67515
@rojkov
It is unreasonable to create new ReplicaSet about the deployment。
Delete pods, and delete ReplicaSet too.

[2018-08-23 05:25] cespo commented on #67732
Yes, we are running metrics-server

etcdctl version: 3.3.8

We don't see the memory spikes on different cluster with ~40 namespaces running the same config

[2018-08-23 05:51] rojkov commented on #67515
@mazengxie I'm afraid I don't fully understand you. I investigated the case reported by @orsobruno . His issue can be solved with a newer version of addon-resizer.

It's perfectly reasonable to create a new ReplicaSet when the Deployment gets updated. It doesn't contradicts the docs at least: a new ReplicaSet is always created with both strategies `Recreate` and `RollingUpdate`.

When the new Repl

[2018-08-23 05:51] k82cn commented on #67606
@mohammedzee1000 , i'll open an PR for this this week :)

[2018-08-23 06:03] sawanoboly commented on #67526
@danwinship

If you means the ip_conntrack_ftp module etc, I would like to use that on the FTP server side as well.
This time is the case when using FTP client from Pod.

Actually, if it is possible to block several ports with egress, in my case it is possible to replace.

[2018-08-23 06:04] #67480 closed

[2018-08-23 06:04] #57909 closed

[2018-08-23 06:09] mazengxie commented on #67515
@rojkov
I meet the same problem.
the new ReplicaSet is created, but the old one doesn't delete.
you can see my description from the above.

[2018-08-23 06:17] jiuchongxiao commented on #67692
it is because the log level problem

[2018-08-23 06:17] #67692 closed

[2018-08-23 06:25] mazengxie commented on #67515
testhealth3-5799c8fdf    1         1         1         6d
testhealth3-57fd44658c   0         0         0         6d
testhealth3-66cf7c4c4d   0         0         0         2d

the problem can be reappearance as follow：

1. create a wrong yaml，and use kubeclt apply -f *yaml
egg.
apiVersion: apps/v1beta1
kind: Deployment
metadata:
name: testhealth3
namespace: iot
labels:
name: testhealth3
spec:
repli

[2018-08-23 06:30] mborsz commented on #67597
/reopen

[2018-08-23 06:31] mborsz commented on #67597
#67639 fixed 'waiting for all nodes ready logic', but we still run tests on limited number of nodes, e.g.:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/1199

[2018-08-23 06:32] mazengxie commented on #67515
the leaving rs:
[root@master test]# kubectl -n iot get rs testhealth3-57fd44658c -o json
{
    "apiVersion": "extensions/v1beta1",
    "kind": "ReplicaSet",
    "metadata": {
        "annotations": {
            "deployment.kubernetes.io/desired-replicas": "1",
            "deployment.kubernetes.io/max-replicas": "2",
            "deployment.kubernetes.io/revision": "1"
        },
        "creatio

[2018-08-23 06:38] siavash9000 opened #67749 "Make rounding of storage capacity configurable for dynamic storage provisioning with glusterfs"
**What happened**:
Creating a volume of capacity 100MB creates a volume of 1GB.

**What you expected to happen**:
I expected the creation of a volume with the exact size given as parameter. No rounding should happen.

**How to reproduce it (as minimally and precisely as possible)**:
Setup Kubernetes + GlusterFS Storage with dynamic Provisioning

**Anything else we need to know?**:
The rounding tak

[2018-08-23 06:39] k82cn commented on #67671
Should we watch PriorityClass in scheduler, and handle it in scheduler.cache?

[2018-08-23 06:43] CallMeFoxie commented on #66381
Seems that building from a master branch and restarting everything (apiserver/controller/scheduler and most importantly all the kubelets) indeed did the trick, will see if it is fixed in 1.11.3 branch or if it is something else from master branch. :) Thanks @Huang-Wei !

[2018-08-23 06:52] alicefr commented on #67721
hi, what are the requirements?

[2018-08-23 06:56] Pingan2017 commented on #67589
In a production environment，sometimes when we troubleshoot , the Pod is no longer existing. At this point, we need to know which node the Pod was scheduled to.
i think the schedulering is the important process for deploying. the result should be printed like controller-manager printing the result of pod creating.

[2018-08-23 06:57] githubcdr commented on #60987
confirmed here also, had to clean the files manually a reboot did not solve this issue.

[2018-08-23 07:07] rojkov commented on #67515
@mazengxie What I see is that there is a running ReplicaSet 6 days old (`testhealth3-5799c8fdf`) with one running pod.

Then you applied the second generation of the Deployment with a mistake in readinessProbe.
Since the strategy by default is `RollingUpdate` the first ReplicaSet wasn't drained, because this second generation ReplicaSet (`testhealth3-57fd44658c`) didn't reported it's running (and

[2018-08-23 07:31] mazengxie commented on #67515
@rojkov,
Maybe I did not express clearly.
I create testhealth3-57fd44658c at first, then create testhealth3-5799c8fdf.

the correct rs:
[root@master test]# kubectl -n iot get rs testhealth3-5799c8fdf -o json
{
.....
"**creationTimestamp**": "2018-08-17T03:54:39Z",
.....

the leaving rs:
[root@master test]# kubectl -n iot get rs testhealth3-57fd44658c -o json
{
.......
"**creationTimestamp**": "201

[2018-08-23 07:52] wojtek-t commented on #48938
@thockin

We already started looking into that. There were some issues with running that, and now we should get back our tests to green.
But I think you may expect some answer about its impact on scalability in the next month.

[2018-08-23 07:56] yue9944882 commented on #66680
/assign @xmudrii

[2018-08-23 08:00] 27149chen opened #67751 "An error occured when deleting a job and then creating a same one"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
An error occured when I delete a job and then create a same one, error is:
object is being deleted: jobs.batch "xxxx" already exists

**What you expected to happen**:
No error should happen

**How to reproduce it (as minimally and precisely as possible)**:
Delete a job, and then create a new one immediately.
Does it mean

[2018-08-23 08:09] #61263 closed

[2018-08-23 08:09] #61687 closed

[2018-08-23 08:14] yue9944882 commented on #66680
@xmudrii thanks for helping! 😉

i'd strongly recommend u to get start with `podSecurityContext`. i got some unready changes on my local branch:

- `exec`: https://github.com/yue9944882/kubernetes/tree/refactor/exec-externalize
- `priority`: https://github.com/yue9944882/kubernetes/tree/refactor/externalize-priority-class-admission-controller

they're yet untested and might be buggy. would u mind c

[2018-08-23 08:14] rojkov commented on #67515
@mazengxie Ok, now I see the problem. It's not the same as @orsobruno 's though.

I managed to reproduce it by applying this YAML first
[code]

then by applying this corrected one
[code]

And the current status is now
[code]

I'll try to investigate what's going on here.

[2018-08-23 08:23] zegl opened #67752 "Kubelet panics during startup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:

Kubelet panics during startup. This host has been working fine previously without any problems.

[code]

**What you expected to happen**:

Kubelet to start up and connect to the cluster.

**How to reproduce it (as minimally and precisely as possible)**:

No idea at the moment, I'll update this issue when I know

[2018-08-23 08:30] cainzhong commented on #67321
The problem is solved. For detail, https://stackoverflow.com/questions/51814780/old-replicaset-and-old-pods-are-still-alive-with-new-replicaset-and-new-pods-whe/

[2018-08-23 08:30] #67321 closed

[2018-08-23 08:57] rojkov commented on #67515
@mazengxie Again it turned out to be not a bug, but feature.

Kubernetes "retains all but the latest N old replica sets where N=Deployment.Spec.RevisionHistoryLimit. Old replica sets are older versions of the podtemplate of a deployment kept around by default 1) for historical reasons and 2) for the ability to rollback a deployment."

If you want a deployment to delete all old replica sets then se

[2018-08-23 09:01] linydquantil commented on #52653
@jim-minter  same issue for me

[2018-08-23 09:11] tanshanshan commented on #67751
I think it is not a bug , print deleted message  not means finishing delete
Not just job, pod and other resouces also the same

[2018-08-23 09:16] zegl commented on #67752
This might be related to https://github.com/kubernetes/kubernetes/issues/60987

[2018-08-23 09:58] gabrielfsousa commented on #65267
i would luv to have this feature ....
any workaround ?

[2018-08-23 10:06] nikhita commented on #67726
Thanks for reporting this, @Jacob-Burckhardt! There is an issue about this in the docs repo already: https://github.com/kubernetes/website/issues/9791.

Closing this in favor of https://github.com/kubernetes/website/issues/9791.
/close

[2018-08-23 10:06] #67726 closed

[2018-08-23 10:11] #61690 closed

[2018-08-23 10:36] fvigotti commented on #60987
I observe lot of those errors logged by kubelet in my clusters , this bugs seems to be releated to pods that were using a custom bash-flexvolume plugin ( which mount cifs volumes ), anyway this is very annoing I about 90% of the kubelet logs are those

[code]
printed every two seconds.. fixing require a manual operation ( or automate a risky rm -Rf operation based on a log line parser )  but this

[2018-08-23 10:42] hechuan73 commented on #67702
I add the "--horizontal-pod-autoscaler-use-rest-clients=false" to the file "kube-controller-manager.yaml", and use the heapster instead of metrics server, and there is also no value about resource of my pod.

Will it be a version problem with the version "1.11.1"?

[2018-08-23 10:48] NickrenREN commented on #63183
Do we really want to support `ReadOnlyMany` ?  I have the same questions as @bengland2 mentioned above.

And also, if we set the PVC AccessMode to `ReadOnlyMany`,  then the `ReadOnly` will need to be set true in `PersistentVolumeClaimVolumeSource` ? If so, in `MountDevice`, we will mount the device without formatting,  is that intended ? We need to format the device manually ?

/cc @rootfs @msau42

[2018-08-23 10:49] nikhita commented on #54398
Can we close this now? I don't see the client-go release process getting integrated into the kube release process anytime soon. In any case, it deserves a separate issue of it's own and making README and LICENSE from client-go non-authoritative should be a part of that issue.

[2018-08-23 10:56] fengzixu commented on #47465
@nikhita ping :)

[2018-08-23 10:58] Nebulazhang opened #67761 "Conflict error when create pod because resource quota version is old"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In k8s.io/client-go/util/workqueue/queue.go
[https://github.com/kubernetes/client-go/blob/master/util/workqueue/queue.go](url)
1.
[code]

[code]
In add() function , we want to add the unique item in the  queue.
In get() function, if more than 1 consumers , they will be waiting until producer put item into the queue.

If 1

[2018-08-23 11:03] 27149chen commented on #67751
@tanshanshan  Pod is a bit different since it will enter a terminating stage, but I was thinking that a job will be deleted immediately. So you mean that all resources deletion are async?
If so, when to create a same resource? by getting it again after deletion or some way else?

[2018-08-23 11:04] nikhita commented on #47465
This issue is not fixed but I think it would be nicer if we had another example i.e. we don't modify the current example.

@caesarxuchao @sttts  thoughts?

Once there is a fixed approach decided for this, please feel free to send a PR! :tada:

[2018-08-23 11:10] trevex commented on #60694
We have the same issue, caused by the multiple flexvolume plugins created by rook on version v1.11.2. According to this issue https://github.com/rook/rook/issues/1501 there was a prior discussion in the rook slack concluding that there is a race condition caused by changes to how volume plugins are handled.

Our setup is PXE-booted, so there is a 50/50 chance of the described issue, if it occurs t

[2018-08-23 11:28] dims commented on #67721
@alicefr pretty simple first step is to run the end-to-end tests for conformance and report problems if any:

https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#conformance-tests

[2018-08-23 11:28] dims commented on #67720
Please see https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#conformance-tests

[2018-08-23 11:54] sttts commented on #54398
LICSENSE could be moved, couldn't it?

[2018-08-23 11:58] danwinship commented on #67526
oh, does ip_conntrack_ftp only work on the server side? lame

[2018-08-23 11:58] nikhita commented on #54398
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/LICENSE It's already moved :)

[2018-08-23 11:59] chhetripradeep commented on #40651
Is there any workaround for achieving this ?

[2018-08-23 12:00] nikhita commented on #54398
The only files that are authoritative: CHANGELOG, INSTALL, README?

I think https://github.com/kubernetes/client-go/blob/master/INSTALL.md can also be moved. Wdyt?

[2018-08-23 12:03] rojkov commented on #67340
Is this about setting UID on device nodes under `/dev`?

I guess this would require updating CRI because the current protocol doesn't know about UIDs
https://github.com/kubernetes/kubernetes/blob/v1.13.0-alpha.0/pkg/kubelet/apis/cri/runtime/v1alpha2/api.proto#L643

[2018-08-23 12:07] johnzheng1975 opened #67765 "Kibana error: License information could not be obtained from Elasticsearch."
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

**What happened**:
I installed add on EFK, after some period, kibana cannot connect elastic search
It  showed:
{"type":"log","@timestamp":"2018-08-23T12:03:35Z","tags":["license","warning","xpack"],"pid":1,"message":"License information could not be obtained from Elasticsearch. Error: Request Timeout after 30000ms"}

**What you expected to happen*

[2018-08-23 12:47] alicefr commented on #67721
sorry, my question should have sounded more like "do you need any help?" :)

[2018-08-23 12:53] Smana commented on #61937
We are facing the same issue there with a high load production kubernetes cluster.
Is there a way to disable the kernel memory accounting at boot time (e.g. adding a boot parameter to grub) ?

[2018-08-23 12:55] abdennour commented on #66748
The issue appears also with Ubuntu 16.04 in EC2 instance.

[2018-08-23 12:55] dixudx commented on #67725
This does not harm your cluster. The cluster can work as expected.
If you really want to modify this IP address, you can add `KUBELET_EXTRA_ARGS=
--node-ip=<your-desired-ip>` in `/etc/default/kubelet` (debian) or `/etc/sysconfig/kubelet` (rpm).

aether NotReady master 3m v1.11.2 131.155.34.* Ubuntu 16.04.4 LTS 4.13.0-36-generic docker://17.3.0

You should apply a [cni network](https://kubernetes.i

[2018-08-23 12:56] dixudx commented on #67725
/remove-sig network
/sig cluster-lifecycle

[2018-08-23 12:56] cwsolee commented on #67721
I'll take a look at it to c what it takes to do the same for s390x.

[2018-08-23 13:01] jonasdkhansen commented on #45779
@jnicholls did spec.selector fix the problem ?

[2018-08-23 13:01] dims commented on #67721
@alicefr sorry a little background ... if you see https://github.com/kubernetes/kubernetes/issues/38067 we did a bunch of work to switch over images in the e2e tests to be multi-arch. @mkumatag got pc64le working first. So now we are basically getting in touch with folks who were trying this before (looking through old issues/prs) and trying to see if they can try this again. The end goal is to ma

[2018-08-23 13:15] weisjohn commented on #58988
My environment variable is set and I've turned off swap. Still having a problem though.

[2018-08-23 13:39] neolit123 commented on #66748
@abdennour
in the above script i'm not seeing a step to install a pod network plugin. `kubeadm` init instructs about that when it finishes.
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

are you doing this step?

[2018-08-23 13:55] evgkrsk commented on #62061
ping ?

[2018-08-23 14:07] kevinjqiu opened #67773 "Show resource usage summary using `kubectl get -o wide resourcequotas`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

`kubectl get -o wide resourcequotas` isn't very useful as it only shows the name and age of the resourcequota resource.  It'd be nice if it also shows the current/allocated usage for each, like this:

[code]

Each resourcequota summary is of the format: `already_allocated/total_allocated`.

I think it would be a useful feature.  I would

[2018-08-23 14:09] briandealwis commented on #48948
I see this high CPU (~30% at idle) with MacOS both with Docker for Mac's bundled Kubernetes and with minikube.

@lizrice [described an approach for installing k8s using Vagrant](https://medium.com/@lizrice/kubernetes-in-vagrant-with-kubeadm-21979ded6c63) without minikube, but still with VirtualBox.  She noted that she was still seeing high CPU usage. minikube may not be the issue here.

[2018-08-23 14:10] weisjohn commented on #64073
I'm having the same issue as @Petrox, but can't seem to resolve the issue.

[2018-08-23 14:15] #61708 closed

[2018-08-23 14:16] kevinjqiu commented on #67773
/sig cli

[2018-08-23 14:16] attilatar commented on #48912
Do we know if there are any updates on this ?

[2018-08-23 14:27] mohammedzee1000 commented on #67606
@k82cn thanks, keep us posted.

Note if tests continue to fail, after these underlying issues are fixed, i will open tracker issues for the same.

Still it will be good if the respective sigs can take a look at their tests to be sure.

[2018-08-23 14:28] mohammedzee1000 commented on #67339
/kind flake
/remove-kind failing-test

[2018-08-23 14:31] mohammedzee1000 commented on #66132
Tests are back to green, closing
/close

[2018-08-23 14:31] #66132 closed

[2018-08-23 14:34] weisjohn commented on #64073
NOTE: I also had to edit the kubelet systemctl config to add the `--cgroup-driver=systemd` parameter to the `KUBELET_KUBECONFIG_ARGS` environment variable:

Before editing:
[code]

After editing:

[code]

You can use the following command to do that:

[code]

[2018-08-23 14:42] Crocmagnon commented on #35062
Any news on this ?

[2018-08-23 14:48] fabiand commented on #67340
Yep. This is about the UID of the device.

[2018-08-23 14:56] lbernail commented on #67730
I'm not sure that changing the local route table is a great fix but it helps understand the issue.
I don't really understand why it works with iptables and not ipvs. Probably because IPVS load-balancing does not happen at the same moment in the network stack

[2018-08-23 15:18] veerendra2 commented on #53533
I have high number of disk reads in my cluster nodes(`K8s Version - v1.11.2`). May be because of disabling swap memory?

https://stackoverflow.com/questions/51988566/high-number-of-disk-reads-in-kubernetes-nodes

[2018-08-23 15:46] mbrt commented on #60807
I still see this issue in 1.11.2.

[2018-08-23 15:49] mbrt commented on #60807
To give more context for reproducing, I saw this only with CRDs. By deleting the CRD object, I got in a weird state were the objects owned by it were not deleted. I didn't notice so I issued a delete for the namespace. Then I deleted all the objects in the namespace with `kubectl delete all --all -n my-namespace`. At that point the namespace deletion got stuck. I hope this helps in some way.

[2018-08-23 15:55] cmluciano commented on #67526
My thinking was that this may force more parsing on the CNI plugin since we just [expect a string ](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/networking/v1/types.go#L147)

[2018-08-23 16:01] resouer commented on #67680
`InterPodAntiAffinity` invalidation is already there for Pod delete.

While, @misterikkit @bsalamat, I am a bit unsure if it's necessary to invalidate `InterPodAntiAffinity` for Pod add event.

Here's the reason that I skipped its invalidation originally. Let's say:

1. pod_1 has AntiAffinity with any `app=nginx` Pod.
2. pod_1 is scheduled to Node X
3. pod_2 comes to scheduler after that, then we

[2018-08-23 16:17] kfox1111 commented on #56440
/remove-lifecycle stale

[2018-08-23 16:18] caseydavenport commented on #67526
Yes, I see. I suppose the suggested in the OP might require a version bump, but I can imagine ways to do this without one. e.g. add a new `endPort` field or something like that.

[2018-08-23 16:30] shurshun commented on #65267
I'm too. It's really useful for bare metal installations with local volumes.

[2018-08-23 16:31] orsobruno commented on #67515
@rojkov Thanks, Dmitry. I thought that this could be the effect of external influence. Could you describe steps of your debugging please.

[2018-08-23 16:49] hreidar commented on #44298
@rayburgemeestre thank you for the info, I did have similar problems after certificate expire and your advice (deleting secrets and pods from kube-system) fixed everything for me. Thanks :-)

[2018-08-23 16:54] Huang-Wei commented on #66381
@CallMeFoxie Great to hear that!

[2018-08-23 17:37] justinsb commented on #65618
Other users did consider traffic going through nodes they had marked as a master to be a bug, so we should tread carefully.

That said, we may be able to come up with a design where `externalTrafficPolicy: Local` on a service can trump the node annotations.  If I add tolerations so that a pod can be scheduled on a node tainted as a master, and I have a service that targets that pod that is `extern

[2018-08-23 17:39] DirectXMan12 opened #67777 "HPA metrics client assumes all resources are namespaced"
/kind bug

The HPA controller's metrics client currently assumes all objects referenced in the `Object` metrics type are namespaced (unless it's namespaces themselves).  This is wrong -- we should be using a RESTMapper to figure out the scope.

When we do this, we need to make certain that we scope down the HPA's default permissions so that a normal user can't use the HPA to discover metrics that

[2018-08-23 17:39] DirectXMan12 commented on #67777
@kubernetes/sig-autoscaling-bugs

[2018-08-23 17:40] DirectXMan12 commented on #67777
/assign @directxman12

[2018-08-23 17:42] DirectXMan12 commented on #67777
(I can take this one if need be, but it's also low-hanging fruit, so feel free to grab it if you're a new contributor and want something to get started with)

[2018-08-23 17:43] DirectXMan12 commented on #67777
/good-first-issue

[2018-08-23 17:48] AhmedMItman commented on #51764
Did anyone solve this issue ?

[2018-08-23 18:08] thockin commented on #64045
I don't think there is a general solution to revalidation, and there isn't a generic "do expansions" hook in the lifecycle.  Can you be more concrete in what you're proposing?  I'd love to be more rigourous here, if we can...

[2018-08-23 18:13] msau42 commented on #64045
I wasn't proposing anything, just wanted to explore if there was a more general way we could do field expansion and not special-case each field.  After the last few discussions, I've come to the conclusion that a general in-place expansion mechanism is not feasible due to:

1. Breaking API compatibility
2. Timing challenges of revalidation of the fields after expansion

[2018-08-23 18:13] cmluciano commented on #67526
+1 to a new field if we want this.

cc @bboreham @squeed @aanm @thockin for further feedback

[2018-08-23 18:15] andrewsykim commented on #65618
sgtm! I'll add this to the next SIG CP meeting agenda which is ~ 2 weeks from now. Hopefully that gives us enough time to think this over and discuss with interested parties involved.

[2018-08-23 18:17] vishh commented on #67355
This issue exists in any application environment that uses Intel's recent CPUs. What is the general solution offered by Intel for shared environments? Would it be possible to dynamically disable AVX instruction on nodes where it is not needed?
Kubernetes offers more flexibility for hiding this issue, but I'd like to first identify simple solutions that I'm hoping Intel has already identified.

[2018-08-23 18:19] dims commented on #67119
/sig apimachinery

[2018-08-23 18:26] pires commented on #67119
Can you check the number of TCP connections in state CLOSE_WAIT and overlap in the graph too?

Seems highly related to https://github.com/kubernetes/kubernetes/issues/66133 and https://github.com/kubernetes/kubernetes/issues/66820.

[2018-08-23 18:28] pires commented on #66133
I'm seeing this more and more in busy clusters and more issues too, such as https://github.com/kubernetes/kubernetes/issues/67119 and https://github.com/kubernetes/kubernetes/issues/66820.

CLOSE_WAIT means the server is waiting on clients which have sent FIN packets to close the socket on their end. I'm wondering if this is a failure of the apiserver library or client-side, where client-go is, I

[2018-08-23 18:28] pires commented on #66820
I'm seeing this more and more in busy clusters and more issues too, such as https://github.com/kubernetes/kubernetes/issues/67119 and https://github.com/kubernetes/kubernetes/issues/66133.

CLOSE_WAIT means the server is waiting on clients which have sent FIN packets to close the socket on their end. I'm wondering if this is a failure of the apiserver library or client-side, where client-go is, I

[2018-08-23 18:43] RaymondArias commented on #40908
Any update on this feature? It would be helpful.

[2018-08-23 18:58] vielmetti commented on #67720
Yes, @dims @lubinszARM we need to do tests on Arm.

The current Works on Arm cluster has a request, per https://github.com/WorksOnArm/cluster/issues/103 .

At the instant my inventory of arm64 equipment is very low, so I'm hoping that you have a deployment plan that can do spot market and automated setup/teardown. If you can do all of that, then resources are pretty easy.

[2018-08-23 18:58] bartekzurawski commented on #67777
Can I try to working on this?

[2018-08-23 19:05] vielmetti commented on #67720
/cc @jeefy @mrbobbytables

[2018-08-23 19:05] bsalamat commented on #67671
I think we don't need to keep PriorityClasses in the scheduler's cache. We can rely on the informer cache for PriorityClasses.

[2018-08-23 19:14] Stono opened #67779 "Cluster AutoScaler doesn't handle bulk scaling very well."
When scaling a deployment, from say 2 replicas to 10.  Cluster autoscaler doesn't appear to look at the sum of the resources requested (8x cpu+ram requests) to calculate the number of nodes to add, it instead looks at each pod individually and creates far more nodes than needed:

[code]

And our nodes:
[code]

It's actually the case that 3 agents can fit on each node, so this is hugely over provis

[2018-08-23 19:15] Stono commented on #67779
/sig autoscaling

[2018-08-23 19:17] FOSquare commented on #67725
Thanks a lot. I know that when I apply the flannel network, the status of the nodes in the cluster will be ready. No problem on this part. I have get success on the application deployment at 1Gb/s cluster.

When I did as what you told me :"add KUBELET_EXTRA_ARGS= --node-ip=192.168.0.151" I get the below results.

NAME      STATUS     ROLES     AGE       VERSION   INTERNAL-IP   EXTERNAL-IP   OS-IMA

[2018-08-23 19:20] #30576 closed

[2018-08-23 19:32] #64725 closed

[2018-08-23 19:33] dims commented on #67720
/cc @mrhillsman

[2018-08-23 19:57] pmichali commented on #67398
I see this issue too. Also there is some related discussion with issue #65006.

[2018-08-23 20:03] dims commented on #61599
/milestone v1.12

(seems to be needed by #61592 which is marked 1.12)

[2018-08-23 20:05] vielmetti commented on #57869
An update of this issue would be welcomed to track the status of all affected images, since I think at least some of the linked issues have progressed.

[2018-08-23 20:11] dims commented on #57869
/sig testing

[2018-08-23 20:25] lavalamp commented on #67662
/sig apps
/remove-sig api-machinery

[2018-08-23 20:27] lavalamp commented on #67717
/assign @jennybuckley

cc @jpbetz @jingyih @caesarxuchao

[2018-08-23 20:28] lavalamp commented on #67718
/assign @roycaihw

[2018-08-23 20:29] lavalamp commented on #67732
/assign @cheftako

[2018-08-23 20:29] jeefy commented on #67720
@vielmetti  Could we leverage the Packet/CNCF allocation? Seems like this would be beneficial to the ecosystem.

This is something I could probably work on in the next month or two if no one else wants to tackle it (or can do it sooner)

[2018-08-23 20:35] mrbobbytables commented on #67720
My time is pretty blocked up at the moment, but I should be able to help @jeefy where its needed.

[2018-08-23 20:55] vielmetti commented on #67720
yes, this looks like a Packet/CNCF collaboration would be great. I am happy to direct but not to lead!

[2018-08-23 20:57] dims commented on #17130
/milestone clear

@soltysh @derekwaynecarr Does this still need to be in v1.12? (does not look like it). Please re-add if needed

[2018-08-23 20:58] dims commented on #51540
@feiskyer is this targeted for 1.12? I don't see any activity

/milestone clear

[2018-08-23 21:00] dims commented on #65458
Is this needed for v1.12?

[2018-08-23 21:02] dims commented on #58010
@tallclair @luxas @mtaufen Looks like we missed the boat for 1.12? wanna move this to later?

[2018-08-23 21:04] dims commented on #66148
@cofyc Is this for v1.12? (seems linked from https://github.com/kubernetes/kubernetes/issues/58222 which is marked 1.12)

[2018-08-23 21:15] #67398 closed

[2018-08-23 21:30] timothysc opened #67785 "Restore `kubectl --wait flag` default behavior to false."
**Is this a BUG REPORT**:
kind bug

**What happened**:
kubectl delete defaults to blocking behavior.

**What you expected to happen**:
the default should be false, to maintain consistent behavior

**How to reproduce it (as minimally and precisely as possible)**:
Run a scale test, run delete, go bake 175,000 cakes...

**Anything else we need to know?**:
Original PR stated to default to false.

/ass

[2018-08-23 21:36] bennettellis commented on #67631
Not needed for JSON in JS unless identifier violates JS identifier rules. When the object is sent down the wire it will be properly stringified, and quoted.  The first issue was that I was not putting the volume in a volumes array wrapper nor the volumeMounts in an array wrapper. But past that and the volumes, while they are actually part of the definition of the pod now don't actually have the da

[2018-08-23 21:39] Petrox commented on #64073
@weisjohn Thanks for the clarification, I had changed the SELINUX settings earlier, but I have my playground cluster running with the original cgroup-driver setup. Let's hope others will find the solution here when they look for the error messages. So here is the solution for the

/etc/kubernetes/pki/apiserver.crt: permission denied

that I have repeated just to feed the crawlers. :)

[2018-08-23 21:40] msau42 commented on #32727
/remove-lifecycle rotten

[2018-08-23 21:44] janetkuo commented on #64023
Note that the error message is for labels (max 63 chars), not names (max 253 chars).
StatefulSet uses controllerrevision name as the value of `controller-revision-hash` label; using hash is probably enough.
StatefulSet has another label `statefulset.kubernetes.io/pod-name`. Give that it uses pod name as label value, this can cause similar problems.

[2018-08-23 21:49] dims commented on #67785
cc @liggitt based on comments from https://github.com/kubernetes/kubernetes/issues/66110#issuecomment-413875974 and other issue(s)/pr(s)

[2018-08-23 21:54] tpepper commented on #67714
There have been a number of persistent failures in test grid for a few weeks (eg: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-master/1423) where the failure signature is:
[code]

Related?

[2018-08-23 22:04] mrhillsman commented on #67720
thx @dims

@lubinszARM @vielmetti we can offer resources for CI via OpenLab - https://openlabtesting.org - we are moving to GitHub issues for resource requests but not yet so if you fill out the form on the site we can make it happen quite quickly in terms of the one ARMv8 node request

[2018-08-23 22:11] neolit123 commented on #67751
/sig cli

[2018-08-23 22:12] neolit123 commented on #67761
/sig api-machinery

[2018-08-23 22:15] jsilberm commented on #67243
@liqlin2015 :  Please reach out to me.   I'm seeing the same thing on ICP with 1.10.0-icp-ee.
Easily reproducible.   Does not seem to require `TaintNodeByCondition`.
No idea why this bug is closed.
If you're on the ICP team, this really should be escalated.   Thanks.

[2018-08-23 22:16] liggitt commented on #67785
kubectl delete not returning until the object being deleted was actually gone was a prerequisite to maintaining scripting compatibility (such that a script could recreate immediately after delete returned) while moving to rely on server side GC.

[2018-08-23 22:18] liggitt commented on #67714
No, those likely are set up with the kubelet self-signing it's serving certificate

[2018-08-23 22:24] JulienBalestra opened #67789 "APIServer target ram percent"
**FEATURE REQUEST**:

/kind feature

**What happened**:

Using Kubernetes apiserver 1.10.7, the apiserver progressively uses the memory of the machine and get oom killed.

I noticed and tried the `--target-ram-mb` flag to restrict the usage of the memory.

I would like to be able to set a percentage of memory instead of a static amount of bytes.

[2018-08-23 22:28] mikedanese commented on #67714
I think that error is from CRI streaming. From @Random-Liu :

[2018-08-23 22:30] fedebongio commented on #63622
/cc @yliaog

[2018-08-23 23:07] timothysc commented on #67785
There is definitely a delta in behavior, we're seeing a number of reports from 1.11 versions, including 1.11.2

[2018-08-23 23:15] msau42 commented on #63183
We have this same problem for GCE PD, which supports ReadOnlyMany.  You need to mount the volume first as RWO, in order to format the filesystem and populate it with data (mounting a read only volume with no data on it seems pointless).  Then you have to fully unmount/detach it, and then you can deploy pods using it as ROX.

Basically, you can dynamically provision it in RWO to format + populate d

[2018-08-23 23:38] msau42 commented on #63156
/remove-lifecycle stale

We should at least add some logs.  Currently we cannot tell the difference between waitForAttach hanged, or the device path never appeared.

[2018-08-23 23:45] Random-Liu commented on #67714
@mikedanese Those nodes are not running containerd. I think it should be a different issue. :)

[2018-08-24 00:01] uromahn commented on #65502
+1 on dependency handling / startup/shutdown sequencing between containers in a pod. We are facing a similar issue here and would love a feature like this.

[2018-08-24 00:06] DirectXMan12 commented on #67777
certainly
/assign bartekzurawski

You'll need to modify `NewRESTMetricsClient` to take a `RESTMapper`, then you can use the `RESTMapper` to get a `RESTMapping`, and you can use the `RESTMapping` to check if the `Scope` is namespaced or root.  If it's namespaced, you can do what we're doing currently, if it's root, you'll need to use the method for root-scoped metrics on the metrics client instead.

[2018-08-24 00:10] neolit123 commented on #67789
/sig api-machinery

[2018-08-24 00:11] neolit123 commented on #67749
/sig storage

[2018-08-24 00:26] msau42 commented on #56507
/remove-lifecycle stale

[2018-08-24 00:31] stewart-yu commented on #65458
In plan, https://github.com/kubernetes/kubernetes/pull/67689

[2018-08-24 00:32] z-oo commented on #67643
We are struck by this problem. In rear situation after a kubelet restart, data written to the mountpoint inside the container will actually be written to the host machine's local disk. It happens to two of our pods recently after we upgraded to 1.11.2.

[2018-08-24 00:35] msau42 commented on #56507
Looks like this has been added:
https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-enabled-default

[2018-08-24 00:35] msau42 commented on #56507
/close

[2018-08-24 00:35] #56507 closed

[2018-08-24 00:40] hrdymchl commented on #45438
I'm not sure why this is closed. I had a similar issue and confirmed my health checks were fine, but I couldn't get the LB to serve traffic, so I created a new cluster with the same exact setup and now it works fine. I think this is a bug or the documentation needs to be clearer somewhere about what needs to be deleted.

[2018-08-24 00:40] mkumatag commented on #67721
Not all the images are built for s390x platform because of qemu emulation issue what we faced, so I first recommend go check the missing images and make sure we [build them](https://github.com/kubernetes/kubernetes/tree/master/test/images) first on s390x and proceed further.

[2018-08-24 00:44] k82cn commented on #67671
oh, I means we introduce `PodInfo` in scheduler.cache to include PriorityClass and Pod :) So we do not need to update PodSpec when introducing new field in PriorityClass.

Can not remember whether we discuss this in design doc: if client/user create several Jobs/RSs,  and low priority first, the high priority job/rs may not create pod because of admission controller so the scheduler can not do pre

[2018-08-24 01:13] m1093782566 commented on #67730
Yeah, it seems.

[2018-08-24 01:33] msau42 commented on #67680
I'm not sure I understand the 3.i. scenario where pod2 is equivalent to pod1.  Why is it ok for pod2 to be bound to the same node as pod1 if pod2 has anti-affinity on pod1?  I'm thinking about the case of a replicaset, where all the replicas use the same pod spec?

[2018-08-24 01:51] feiskyer commented on #51540
@PatrickLang @ritazh Could you update current status for this?

[2018-08-24 01:54] k82cn commented on #67636
any log of controller manager?

[2018-08-24 02:06] NickrenREN commented on #63183
One concern about this is: the AccessModes in PVC spec contains all ways the volume backing the PVC can be mounted.
As you pointed out, we need to mount rbd as RWO at first, and then once it is formatted and populated, we can mount it as ROX. It seems that we may need to set the  AccessModes to a specific value, not all its possibilities.
[code]

If we set the AccessModes of PVC to a set of `RWO`

[2018-08-24 02:10] dims commented on #67721
+1 @mkumatag

@cwsolee please see the output.txt here for what we have currently (generated today) - https://gist.github.com/dims/067c6723588a585a7a00b22e41b86f34

[2018-08-24 02:54] k82cn commented on #67680
How about anti-affinity to itself?

seems reasonable

[2018-08-24 04:02] cofyc commented on #66148
No, predicate invalidations has been added, this issue is to add integration tests for them.

[2018-08-24 04:29] xujintao opened #67796 "After apply kibana manifest, resources of my node machine exhausting"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig instrumentation
/kind bug

**What happened**:
After apply kibana [manifest](https://github.com/kubernetes/kubernetes/blob/release-1.11/cluster/addons/fluentd-elasticsearch/kibana-deployment.yaml), resources of my node machine in which kibana pod runs exhaust and the node status became "NotReady".

[code]
[code]
[code]

**What you expected to happ

[2018-08-24 04:35] liggitt commented on #67785
prior to 1.11, `kubectl delete` waited for resource deletion by default for all workload and batch resources. 1.11 made that behavior consistent for other resources as well

[2018-08-24 04:59] mbohlool commented on #66368
look like `BuildOpenAPIDefinitionsForResource` is building the spec completely each time. The top level function creates a swagger spec and finalize it, not sure about relevance of the part you referenced.

/assign @jennybuckley

[2018-08-24 06:42] mborsz commented on #67670
The latest run was still running without the fix. We need to the next run to see if there is anything else.
Right now we believe that the failure was caused by our configuration change and is not a real regression.

[2018-08-24 07:20] uablrek opened #67799 "Ipsets have family inet in an ipv6-only cluster for proxy-mode=ipvs"
/kind bug
/area ipv6
/area ipvs
/sig network

**What happened**:

In an ipv6-only cluster the `kube-proxy` in `ipvs` mode creates a number of ipset's with `family inet`.

This causes problems and fault logs when they are used with ipv6 addresses.

**What you expected to happen**:

The ipset's should be created with `family inet6`.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-08-24 07:36] xiaoxubeii commented on #67662
In #49915:
The controllers ignore the timeout error when creating the pods, depending on how the initialization progress:
1. If the initialization is successful in less than 5 mins, the controller will observe the creation via the informer. All is good.
2. If the initialization fails, server will delete the pod, but the controller won't receive any event. The controller will not create new pod unt

[2018-08-24 08:02] FOSquare commented on #67640
/remove-sig network
/sig cluster-lifecycle

[2018-08-24 08:10] rojkov commented on #67515
Hm... I'm not sure I can remember the exact steps. My style of debugging is trial and error led by my intuition. But here is the scheme I usually use:

0. Reproduce the issue locally. Usually this is the most time consuming step.
1. Look into all available logs for anything weird or strange (nothing interesting here this time).
2. Try to build an older version of Kubernetes, as old as possible. An

[2018-08-24 08:40] islinwb commented on #67799
@uablrek

Did you make changes like this
[code]

[2018-08-24 08:45] yue9944882 commented on #66680
revert that. it'll be a XXL one again 🙃

[2018-08-24 08:50] uablrek commented on #67799
Exactly.

I have no idea why any particular ipset would be ipv4 in an ipv6 cluster. But the flag is false for NodePort set's and there is another bug that NodePort addresses are ipv4 (and faulty). So there might have been some special handling of nodeports at some time. IMHO there shoudn't be.

FYI, I can't send a PR myself just yet but expect to be able to do that in September.

[2018-08-24 09:09] islinwb commented on #67799
/cc @m1093782566 @Lion-Wei

[2018-08-24 09:19] WPH95 commented on #67342
Any progress on this bug?
**I met the same problem**. We update chart dozens of times a day(by helm upgrade).reproduce 1-2 times a day, only manual operation can solve this problem

I see kubelet log

[code]

btw i run lsblk in {NODE1}

[code]

[2018-08-24 09:26] lovelly opened #67808 "When I use kubeadm join. Unfortunately, an error has occurred: timed out waiting for the condition"
/sig kubeadm

**What happened**:
When I use kubeadm join x.x.x.x .......

I0824 17:03:49.768516   15028 kernel_validator.go:81] Validating kernel version
I0824 17:03:49.768610   15028 kernel_validator.go:96] Validating kernel config
	[WARNING SystemVerification]: docker version is greater than the most recently validated version. Docker version: 18.06.1-ce. Max validated version: 17.03
	[WARNING H

[2018-08-24 09:33] 94010846 opened #67811 "FAILED - RETRYING: 轮询等待flannel 运行，视下载镜像速度而定 (12 retries left)."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
FAILED - RETRYING: 轮询等待flannel 运行，视下载镜像速度而定 (12 retries left).
**What you expected to happen**:
null
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.11
- Cloud provider or hardware configuration:
- OS (e.g. from /

[2018-08-24 09:52] resouer commented on #67680
Emm ... time to eat my words.

@msau42 I will send out a simple fix ASAP so you can move on with your PR. As we are migrating ecache to predicates pkg so I can ship a fine grained control there later.

[2018-08-24 09:55] fseldow opened #67813 "Azure - PIP dns label will not change while updating the service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Azure will not update the DNS label of the public IP, when update the service **only** changing the annotation of the DNS label from empty.

	annotations:

->

	annotations:
		service.beta.kubernetes.io/azure-dns-label-namel: "to-update"

**What you expected to happen**:
It should update the dns label of the assigned public IP

**Ho

[2018-08-24 09:55] fseldow commented on #67813
/sig azure

[2018-08-24 10:02] mxey opened #67814 "Kubelet sets incomplete group permissions when using fsGroup"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I am using Persistent Local Volumes. The mountpoints for it are set up with 0700 permissions. When running a pod with a user other than root, and with fsGroup to allow access to the volume, the permissions are wrong and the pod cannot use the volume. The permissions are changed from 0700 to 2760.

**What you expected to happen**:

[2018-08-24 10:03] mxey commented on #67814
@kubernetes-sig-storage

[2018-08-24 10:04] mxey commented on #67814
@kubernetes/sig-storage

[2018-08-24 10:04] mxey commented on #67814
/sig storage

[2018-08-24 10:05] mxey commented on #67814
The fix is probably to add execute bits here https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d392db9d/pkg/volume/volume_linux.go#L81

[2018-08-24 10:27] desaintmartin commented on #52444
Would using the "concat" fluentd plugin be relevant?
https://github.com/fluent-plugins-nursery/fluent-plugin-concat
It seems to have explicit support for our specific use case.

[2018-08-24 11:07] radhefa opened #67819 "radefa@loalehost"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-08-24 11:12] WPH95 commented on #67342
I analyzed the kubelet log when this bug happened on my k8s cluster.
In normal, the
[code]

btw when bug happened,  i can't found the log like `Volume detached for volume "pvc-xxx-xx-xx"`
when I manual operation (delete pod in kube ui), the problem was solved.

not sure why reconcile not to **MarkVolumeAsDetached**

[2018-08-24 11:15] WPH95 commented on #67342
[code]

[2018-08-24 11:27] tnozicka commented on #56071
@wojtek-t this was causing performance regressions if I recall correctly - if so I assume we want to target v1.12? I am gonna make most of the Until related fixes for v1.13 (to limit potential bugs) but I can take a second one for v1.12 (kubectl rollout status is the first one).

[2018-08-24 11:33] orsobruno commented on #67515
I thought there is a simpler and faster option. Great job. Thank you very much.

[2018-08-24 11:46] MPJHorner commented on #52481
Same issue here. I was generating my BASE64 encoded string without UTF-8. (This was default on windows powershell. See below good/bad.

Both use `$Text = "My String to Encode"`

This **didn't work**:

`$Bytes = [System.Text.Encoding]::Unicode.GetBytes($Text); $EncodedText =[Convert]::ToBase64String($Bytes); $EncodedText`

This **did work.**

`$sEncodedString=[Convert]::ToBase64String([System.Text.

[2018-08-24 11:50] #67374 closed

[2018-08-24 11:50] veerendra2 commented on #47928
I see similar issue in K8s `v1.11.2` installed with `kubeadm` on CentOS 7.

https://stackoverflow.com/questions/51988566/high-number-of-disk-reads-in-kubernetes-nodes

[2018-08-24 12:06] nikhita commented on #67268
@sttts I think it should be ok to allow non-simple JSON paths now. Wdyt?

We don't really loose any validations with that because we don't validate the value in the specified json paths.

[2018-08-24 12:06] shyamjvs commented on #56071
This wasn't causing regression iirc. What happened was we were seeing flakes in our performance tests when RC scaling was watch-based (failing due to bug with Until). So we switched RC scaling to poll-based to avoid those flakes (and leaving open to the long-term solution of fixing Until, so we can go back to using it).

[2018-08-24 12:22] wojtek-t opened #67823 "Tainting nodes by conditions seems to visibly slow down cluster startup"
After https://github.com/kubernetes/kubernetes/pull/62111 has been merged, our large tests started behaving a bit strange. In particular, when 5k node cluster was reported as up (with all nodes being ready), the test itself was only discovering 4k or even less nodes as schedulable.
Example is here:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/192/

There

[2018-08-24 12:34] nikhita commented on #66688
It doesn't really say anything about `labelSelectorPath` being under `.status`. I think this was decided during implementation because `autoscaling/v1.Scale` has the selector path under it's status:

https://github.com/kubernetes/kubernetes/blob/963adda7f9a58e7d8ef803e5052c07e9fc9da207/staging/src/k8s.io/api/autoscaling/v1/types.go#L133-L143

But I agree we should remove this restriction. Created

[2018-08-24 12:34] nikhita commented on #66688
/area custom-resources

[2018-08-24 12:39] sttts commented on #67268
@nikhita it needs a small design about the semantics. It's an api change.

[2018-08-24 12:46] cwsolee commented on #67721
I read some history, 2 questions/observation:
(1) Do we absolutely need buy google space to show result or as long as we've knew test is good it's good enough?
(2) Looks like problem on building images are all related to qemu emulation, it's not something that my team has skills, we build on z directly. @alicefr. can u c whether your team has anyone that could help out on this?

[2018-08-24 12:50] MaciekPytel commented on #67779
This looks like a bug. Can you provide more details on your setup (Kubernetes version, autoscaler version, cloud provider, deployment config)?
One thing that comes to my mind is if you're using pod antiaffinity, there is a known issue where it interferes with CA logic calculating number of nodes to add.

By the way Cluster Autoscaler does not work by calculating resources at all, because there are

[2018-08-24 13:03] yastij commented on #67823
cc @kubernetes/sig-scheduling-misc

[2018-08-24 13:31] cwsolee commented on #67721
Thanks, good to know, the real blocker is qemu issues then.

[2018-08-24 13:36] DahuK commented on #67761
+1, met the same issue with 1.9.7 controller-manager

[2018-08-24 14:14] civik commented on #53331
/remove-lifecycle stale

I think this might be still an active issue impacting operators. Can anyone confirm if this was fixed by #63650? I dont have an environment in which to test this right now.

[2018-08-24 14:16] fasaxc opened #67827 "Windows: kube-proxy errors programming a service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

* Set up a 2-Windows 2-Linux node cluster in Azure using latest ACS engine.
* Installed a prometheus pod and service on the linux nodes
* Noticed errors in the kubeproxy log on Windows.
* Service only works on linux nodes, not on windows.
* Other services seem to work on Windows even if their pods are on linux nodes.

Er

[2018-08-24 14:17] fasaxc commented on #67827
/sig windows

[2018-08-24 14:21] pvanderlinden opened #67828 "Jobs with a container config error will never complete"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
A job with a config error (pod: `Warning  Failed                 22m (x8 over 24m)  kubelet, minikube  Error: container has runAsNonRoot and image will run as root`), will never complete, the job will not have any success or fail status, and will have an 'activate' forever.

**What you expected to happen**:
This should cou

[2018-08-24 14:35] soltysh commented on #40422
I don't recall anything like that.

[2018-08-24 14:37] soltysh commented on #53640
This is addressed with the new pluging mechanism from https://github.com/kubernetes/kubernetes/pull/66876.
/close

[2018-08-24 14:37] #53640 closed

[2018-08-24 14:39] #61696 closed

[2018-08-24 14:46] pvanderlinden commented on #67828
/sig app

[2018-08-24 14:47] pvanderlinden commented on #67828
@kubernetes/sig-app

[2018-08-24 14:47] pvanderlinden commented on #67828
@kubernetes/sig-bugs

[2018-08-24 14:48] pvanderlinden commented on #67828
@kubernetes/sig-apps-bugs

[2018-08-24 15:01] timothysc commented on #67785
The UX is undesired from an operators perspective, and as mentioned before is a departure from original behavior.

At the end of the day UX for operators should trump decisions on the CLI.
/assign @pwittrock

[2018-08-24 15:03] timothysc commented on #67785
I would argue from an operators perspective all operations should be consistent and non-blocking by default.  This is congruent with other cluster managers.

[2018-08-24 15:15] pmichali commented on #67799
There is clearly a bug in this code, as it forces IPV4:

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L379-L384

Should have been an else clause, or just:

[code]
Even with this, there area entries that are using IPv4. Mostly NodePort related entries. Also see iptables error still:

[code]

[2018-08-24 15:29] dwradcliffe commented on #65013
This just caused a major outage for us too.

I agree with the previous posts, while this may be working as the code intended, it does not follow the patterns and documentation k8s provides. When I cordon a node it should not impact the traffic going to the node or any pods on it. I should be able to gradually remove traffic by draining nodes/pods and respecting PDBs.

[2018-08-24 15:36] akhilyendluri commented on #65544
The issue for me was due to incorrect name mappings in aws_security_group_rule.

resource "aws_security_group_rule" "eks-node-ingress-self" {
  description              = "${var.aws_security_group_rule_ingress_description}"
  from_port                = 0
  protocol                 = "-1"
  security_group_id        = "${aws_security_group.eks-node.id}"
  source_security_group_id = "${aws_security_g

[2018-08-24 15:55] tboemker-bkfs opened #67833 "kubelet --enforce-node-allocatable=pods does not enforce allocatable limit"
/kind bug

I started kubelet with --kube-reserved=cpu=1 --enforce-node-allocatable=pods --cgroups-per-qos=true.

/sys/fs/cgroup/cpu/kubepods/cpu.cfs_quota_us is -1. I expected it to be 700000 (7 * cpu.cfs_period_us since my machine has 8 cores and I reserved 1).

kubectl describe node shows the expected results:

Capacity:
cpu:                8
Allocatable:
cpu:                7

This is essential

[2018-08-24 16:08] NickrenREN opened #67834 "How to default the FSType for block device volumes"
We now default FSType to `ext4` for block device volumes if users do not set it.  But @thockin pointed out that In general Linux can auto-detect filesystems, we can make the default be best-effort auto-detect, and try to avoid encouraging people to make assumptions. Also we need to take Windows support into account.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

[2018-08-24 16:10] neolit123 commented on #67833
/sig node

[2018-08-24 16:11] neolit123 commented on #67811
i'm sorry but the issues in the tracker should be in English.
please re-open once you modify the issue contents.
/close

[2018-08-24 16:11] #67811 closed

[2018-08-24 16:11] briandealwis commented on #48948
I tried using minikube with the new `docker-machine-driver-vmware` driver (https://github.com/kubernetes/minikube/pull/2606) to start in VMWare Fusion, to see if this usage was something tied to VirtualBox or hyper kit, and it has the same ~30% CPU usage, though with a bit more jitter.  I tried with both Kubernetes v1.10.0 and v1.11.2.

[2018-08-24 16:13] neolit123 commented on #67819
please re-open once the issue has contents. thanks.
/close

[2018-08-24 16:13] #67819 closed

[2018-08-24 16:17] neolit123 commented on #67808
/sig cluster-lifecycle

[2018-08-24 16:34] nikhita commented on #63677
Opened the link to see this commit on top: "all tests pass except for kubernetes". :)

[2018-08-24 16:57] thockin commented on #67834
From the other thread:

The goal is not to spell "ext4" anywhere in Kubernetes.  Just as we want to
never spell "google" or "amazon" and move all of that out of core, we
should endeavour to reduce hard deps on linuxisms, especially ones that
change vogue over time or across sites.

E.g. `func (mounter *SafeFormatAndMount) formatAndMount` should not
hardcode ext4 and flags for it, but should either

[2018-08-24 16:57] wminshew commented on #61259
Doing this manually with k8s 1.9, but having trouble with resize2fs. Some outputs below:

`/ # lsblk
NAME    MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
sda       8:0    0  100G  0 disk
├─sda1    8:1    0 95.9G  0 part /etc/hosts
├─sda2    8:2    0   16M  0 part
├─sda3    8:3    0    2G  0 part
├─sda4    8:4    0   16M  0 part
├─sda5    8:5    0    2G  0 part
├─sda6    8:6    0  512B  0 part
├─sda7    8:7

[2018-08-24 17:05] msau42 commented on #67834
One alternative to having the node report a default is to have a configurable option in a CSI Driver that an admin or provider can set.

[2018-08-24 17:11] smarterclayton commented on #65618
If users don't want nodes to be part of load balancers, we should have a separate annotation / label that is used to exclude nodes from load balancer consideration (which common install paths could set).  Keying off masters is much too specific a change.

[2018-08-24 17:13] sgnn7 opened #67837 "Add ability to create binary versions of k8s/code-generator helpers"
Currently, given that there is no good option to run code generators in a [go modules](https://github.com/kubernetes/kubernetes/issues/67566) environment and given the need for some people to run the code generators in a minimal environment, some type of build script should be ideally available for this task to create portable binary runners.

Relevant go mod Issue: https://github.com/kubernetes/k

[2018-08-24 17:21] vladimirvivien opened #67839 "[Umbrella issue] Gathering CSI raw block volume bugs"
This issue is to gather any high-level bugs directly related to CSI raw block volume support.  As issues are reported here, new specific bugs can be opened for direct tracking.

/kind bug
/sig storage

[2018-08-24 17:24] lavalamp opened #67840 "CRD: Consider changing schema language"
Right now, CRDs accept a schema in the form OpenAPI v3 / json-schema.

While it is true that apiserver publishes OpenAPI (though v2) schema docs, I increasingly think that OpenAPI is not a good schema definition mechanism for CRDs or Kubernetes resources in general. Why? It allows mixing "type validation" and "value validation" in inseparable ways, which is impossible to faithfully adhere to in ou

[2018-08-24 17:37] lavalamp commented on #67840
Also @roycaihw

[2018-08-24 17:37] PatrickLang commented on #66801
An Azure-CNI update is needed next to match https://github.com/kubernetes/kubernetes/pull/67435

[2018-08-24 17:42] #60217 closed

[2018-08-24 17:56] PatrickLang commented on #51540
Still in the works, we have some PRs open

[2018-08-24 18:30] sgnn7 opened #67843 "Add generated vgo (go mo) definiton files to code-generator"
Currently, given that there is no good option to run code generators in a [go modules](https://github.com/kubernetes/kubernetes/issues/67566) environment and given the need for some people to run this code in a newer vgo (non-GOPATH-based env of Golang v1.11beta2+), adding these files will allow builds/execution of Go code in here. This still does not fix various other issues with the runner scrip

[2018-08-24 18:42] kow3ns commented on #66811
We discussed this in sig-apps. The design for the interaction with PDB is that you should ensure enough capacity in your Deployment to tolerate the planned disruption tolerance declared by your PDB. That is, if you always want at least to replicas, and you are will to tolerate a loss of 2, your replica count should be set to 4, and the max unavailable should be set to 2.
However, the use case you

[2018-08-24 18:51] Huang-Wei opened #67845 "daemonset pods not scheduled to cordoned node when ScheduleDaemonsetPods is enabled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

one behavior I noticed got changed is the `cordon` case: in 1.11, if a node is cordoned, DS pod is scheduled to that node. But right now, with `ScheduleDaemonsetPods=true` and `TaintNodesByCondition=true` (default in master), DS pod still can't be scheduled onto cordoned node:

[code]

The message is pretty tricky. As (1

[2018-08-24 18:51] Huang-Wei commented on #67845
/sig apps
/sig scheduling

[2018-08-24 19:26] bowei commented on #45438
/reopen

[2018-08-24 19:26] bowei commented on #45438
/assign

[2018-08-24 19:26] bowei commented on #45438
@hrdymchl if you issue is specific to GCE, please consider filing an issue against the kubernetes/ingress-gce repo to get better visibility

[2018-08-24 19:44] #55729 closed

[2018-08-24 19:50] jlzhao27 opened #67848 "Backofflimit 0 with restartPolicy: OnFailure does not start pods in 1.10.x"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If you have a JobSpec and set `backoffLimit: 0` with `restartPolicy: OnFailure` in 1.9.x, then the job will start a pod and never restart it regardless of success of failure.

In 1.10.x, a job spec with `backoffLimit: 0` and `restartPolicy: OnFailure`, k8s does not start any pods at all. We had to set `backoffLimit: 1` i

[2018-08-24 19:52] dims commented on #60712
Looks like feature moved from 1.12 to 1.13 ( https://github.com/kubernetes/features/issues/515 ) Moving this issue as well. please move it back if needed.

/milestone v1.13

[2018-08-24 19:55] jlzhao27 commented on #67848
/sig apps

[2018-08-24 19:56] dims commented on #64164
@soltysh @juanvallejo do we clear this milestone?

[2018-08-24 19:56] pnovotnak commented on #45419
I'm getting this on bare metal. Using a fresh Ubuntu 18.04 install, configured with kubeadm (single node master).

I ran into `Warning  ContainerGCFailed  8m (x438 over 8h)  ...  rpc error: code = ResourceExhausted desc = grpc: trying to send message larger than max (8400302 vs. 8388608)
`. The node had accumulated ~11,500 stopped containers. I cleared out some containers manually, which fixed GC,

[2018-08-24 19:57] dims commented on #65494
@juanvallejo @soltysh Do we clear the v1.12 milestone?

[2018-08-24 19:57] AndreasChristianson opened #67849 "Documentation: Acceptable strings for TYPE are not documented"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug - Documentation

/kind bug

**What happened**:
The documentation for `kubectl rollout status (TYPE NAME | TYPE/NAME) [flags]` does not indicate the valid values for `TYPE`. It looks like deployment and statefulset are valid. Is this field case sensitive?

The docs seem to indicate that `sts` is a valid type: https://kubernetes.io/docs/tutorials/sta

[2018-08-24 19:58] dims commented on #57618
Looks like this dropped off the v1.12 plans. Please re-add milestone if needed for v1.12

/milestone clear

[2018-08-24 19:59] dims commented on #58222
@misterikkit @resouer  Does this still need the v1.12 milestone?

[2018-08-24 19:59] AndreasChristianson commented on #67849
/sig docs

[2018-08-24 20:01] luxas commented on #57618
@dims how come? We're actively working on this for v1.12

[2018-08-24 20:01] dims commented on #57618
/milestone v1.12

[2018-08-24 20:02] dims commented on #57618
@luxas i did not see any update since Jul 2nd... hence the confusion that this was one of the PR(s) that keeps getting moved from milestone to another.

[2018-08-24 20:10] jhorwit2 commented on #65618
We have that label today via the service exclusion feature gate. So if we did remove the logic around masters users would have a feature in place today (we'd probably want to promote it past alpha) to remove them from service lbs.

[2018-08-24 20:14] luxas commented on #57618
ah ok, the KEP is active and the tracking issue is https://github.com/kubernetes/kubernetes/issues/67233.

[2018-08-24 20:17] dims commented on #67233
Related to https://github.com/kubernetes/kubernetes/issues/57618

[2018-08-24 21:35] cjbottaro commented on #64586
[code]

@khenidak The second command fails for me. Here's the output of both:
[code]

[code]

The logs don't show any errors, only one warning:
[code]

Any help? I have no idea what to do and my cluster is borked now. Thanks!

[2018-08-24 21:41] cjbottaro commented on #64586
More info...
[code]
What's weird is that those pods are on the name node...
[code]

And they have the same `resolv.conf`:
[code]

Thanks again.

[2018-08-24 21:48] RisingPhorce commented on #60099
Three arguments against:
1.  Security:  If the container is compromised the attacker gets a nice list of services to try to pivot to and/or extract sensitive information from.
2.  Scalability: Does this approach scale to 100's/1000's services?
3.  Least astonishment:  Behavior might be confusing in an environment with networking policies like calico.

[2018-08-24 22:17] mabushey commented on #27116
The docs are very unclear/non-existent, and the above link gives a 404.

[2018-08-24 22:47] alexindigo commented on #60099
@smarterclayton @deads2k  Wondering is there are other considerations that call for keeping it behavior as the only one available? I mean, introducing a flag that would be false by default, would be 100% backwards compatible, isn't it?

[2018-08-24 23:06] ddebroy commented on #67342
Looks like the kube e2e is also running into this as part of `pull-kubernetes-e2e-kops-aws`.`[sig-storage] Dynamic Provisioning DynamicProvisioner should provision storage with different parameters ` tests that target EBS provisioning.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/67530/pull-kubernetes-e2e-kops-aws/103140/

[code]

[2018-08-24 23:25] liggitt commented on #67845
Is the pod spec in the daemonset tolerating that taint?

[2018-08-24 23:31] Huang-Wei commented on #67845
@liggitt yes, unschedulable:NoSchedule toleration is added in the daemonset pod spec:

https://github.com/kubernetes/kubernetes/blob/b883c5905a08087f9d0e7c41394b0110e10bb84b/pkg/controller/daemon/util/daemonset_util.go#L188-L195

But `AppendNoScheduleTolerationIfNotExist()` is invoked after the logic of calculating how many pods should be running (`simulate()`). So when a node is tainted, that nod

[2018-08-25 00:04] verult opened #67852 "PVLController Volume Node Affinity unit test failure"
/kind bug

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/66843/pull-kubernetes-bazel-test/57728/

/assign @ddebroy
/sig storage

[2018-08-25 00:36] vladimirvivien opened #67853 "CSI - VolumeAttachment obj not recreated after abrupt node deletion"
/kind bug
/sig storge

Under normal circumstances:
- The internal CSI attacher is invoked to attach a CSI when a PV is created (manually or dynamically).
- The CSI internal attacher then creates a `VolumeAttachment` CSI object
- The external CSI attacher picks up the new `VolumeAttachment` and makes a ControllerPublish volume to the extenal CSI driver.
- Conversely, when a PV is deleted, which kic

[2018-08-25 01:44] linyouchong commented on #67749
` GlusterFS/heketi creates volumes in units of GiB.`
I think we can't creates volumes in units of MB unless heketi allow us to do that.

[2018-08-25 02:26] ddebroy commented on #67852
Thanks for filing the issue! Will fix shortly.

[2018-08-25 02:28] PicoCreator commented on #45779
Note this does not seem to be working in `1.11` either - checked `spec.selector` and `clusterIP`.

Side note - is it a regression on the following? : https://github.com/kubernetes/kubernetes/issues/57671

[2018-08-25 02:29] m1093782566 commented on #67799
Looking forward to PRs @pmichali

[2018-08-25 03:09] islinwb commented on #67799
@uablrek @pmichali The following codes actually act the same because ` kubeNodePortSet*` are of type `bitmap:port`, which have only one argument `range` (no `family`: `inet` or `inet6`).
[code]
[code]

I think they are old ipsets. It may be caused by failing to create `inet6` entries.

[2018-08-25 03:19] islinwb commented on #67292
@m1093782566 I think we should delete the ipset with the same name if any before creating an ipset. Currently the creation fails if there is an ipset with the same name but the content is not exactly the same.
https://github.com/kubernetes/kubernetes/blob/bb9ffb1654d4a729bb4cec18ff088eacc153c239/pkg/util/ipset/ipset.go#L306

[2018-08-25 03:52] #60828 closed

[2018-08-25 04:22] yangtea opened #67856 "pvc scalio pending"
**What happened**:
When i use scalio storageclass create persistent volume claim, it always in pending status, kubectl describe get follow event:
Events:
  Type     Reason              Age               From                         Message
Warning  ProvisioningFailed  2m (x68 over 2h)  persistentvolume-controller  Failed to provision volume with StorageClass "sio-small": Problem getting response f

[2018-08-25 04:30] k82cn commented on #67823
Yes; currently, we taint nodes in informer event handler :) I'm going to open PR to taints in multiple go routine to speed-up.

[2018-08-25 04:34] neolit123 commented on #67856
/sig storage

[2018-08-25 04:53] resouer opened #67857 "Prometheus metrics is expensive in critical scheduling path"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

We recently added several useful `metrics.EquivalenceCacheHits.Inc()` i[n critical path of scheduling](https://github.com/kubernetes/kubernetes/commit/b874d2789b11e21b3f91840a9ea0f6b0b90f54d5#diff-313f61688c4a7af6d12eb3e43a0ba89dR289), unfortunately, this operation seems to be expensive in the scheduling benchmark test

[2018-08-25 05:03] ddebroy commented on #67856
@yangtea are you able to reach ScaleIO's gateway address `10.8.192.55:443` from the Kubernetes nodes (for example using ScaleIO's `scli` to the MDM IPs)?  `Problem getting response from endpoint` seems to indicate an underlying connectivity/authentication problem between the kubernetes binaries and ScaleIO.

[2018-08-25 05:54] #61758 closed

[2018-08-25 06:34] leeivan opened #67858 "ERROR: (gcloud.compute.scp) [/usr/bin/scp] exited with return code [1]."
leeivan@kube-dev:~/gowork/src/k8s.io/kubernetes$ KUBE_GCE_NETWORK=default KUBEMARK_NUM_NODES=25 ./test/kubemark/start-kubemark.sh
STARTING SETUP FOR MASTER
Created the environment file for master.
Created [https://www.googleapis.com/compute/v1/projects/kube-e2e-mark/zones/us-central1-b/disks/kubernetes-kubemark-master-pd].
NAME                           ZONE           SIZE_GB  TYPE    STATUS
kuber

[2018-08-25 06:55] #61646 closed

[2018-08-25 07:37] resouer commented on #58222
Though the blocker issue in 1.11 has been fixed, I don't think we can catch 1.12 code freeze since we are discussing re-org ecache to predicates pkg in https://github.com/kubernetes/kubernetes/pull/67241, which still need some agreement.

[2018-08-25 07:56] #58569 closed

[2018-08-25 08:57] #57137 closed

[2018-08-25 08:57] #60619 closed

[2018-08-25 12:00] #61823 closed

[2018-08-25 15:03] #61834 closed

[2018-08-25 16:42] kirgene commented on #64062
Any update on this issue?

[2018-08-25 17:06] cjbottaro commented on #56693
Same issue here running a kops created cluster (1.11.2) on Amazon Linux 2.

[2018-08-25 17:07] kirs commented on #67135
@liggitt thanks for the tip! `apply set-last-applied` is indeed helpful in this case.

I understand that it comes from the default value of `1` being set because `replicas` line is missing.

My intention for opening this issue was more about starting a conversation about what's the best default behaviour for Kubernetes.

As for me and for my colleagues, it seems like scaling down by default is an

[2018-08-25 17:10] smarterclayton commented on #67857
prometheus increments are usually cheap, so you are probably calling into this millions of times if you’re seeing a cost.  However, if this is a shared cache you should already be performing synchronization so it’s hard to understand how a second synchronization is going to make it that much worse.

A metric per operation might be more effective (cache ratio per operation)

[2018-08-25 17:54] abdennour commented on #66748
@neolit123  you have reason. Pod network plugin must be installed and `/etc/docker/daemon.json` must be removed.

[2018-08-25 18:08] nikhita commented on #67840
/area custom-resources
/kind feature

/cc @liggitt

[2018-08-25 18:09] spiffxp opened #67862 "Failing tests: all but two GKE jobs are failing"
Every GKE job except two are failing, see https://k8s-testgrid.appspot.com/google-gke

This started sometime near 3:30pm PT 2018-08-22
- [Last good ci-kubernetes-e2e-gci-gke run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/30790) at 15:19
- [First bad ci-kubernetes-e2e-gci-gke-run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-ku

[2018-08-25 20:06] spiffxp commented on #67862
/kind failing-test

[2018-08-25 20:08] #61766 closed

[2018-08-25 22:11] #56993 closed

[2018-08-25 23:14] foxish commented on #67862
Might be related - COS related tests are failing http://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gke-cos-1.11-serial

[2018-08-25 23:15] AndyBarron opened #67863 "`kubectl --prune --dry-run` produces incorrect output"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl --context context-name apply -f config-dir/ --prune -l label=value --dry-run=true`
The dry run output listed all the resources that would be configured: deployments, HPAs, services, and an ingress:
`type/name configured (dry run)`
This was expected. However, it then listed all resources again (except for the HPAs

[2018-08-26 00:08] lubinsz commented on #67720
@dims
@vielmetti
After fixing PV issues, all conformance test cases can be passed on Arm platform.
----
Ran 166 of 996 Specs in 5458.376 seconds
SUCCESS! -- 166 Passed | 0 Failed | 0 Pending | 830 Skipped PASS
----
The next step should be to upload these logs to Google storage.
Is that right?

[2018-08-26 00:43] dims commented on #67720
@lubinsz the google storage thing is for automatically loading results from CI jobs. not test runs on developer style environments. We will have to find an envionment where we can run these on a daily basis

Please however do check the list of tests that run. compare with:
https://k8s-gubernator.appspot.com/build/ppc64le-kubernetes/logs/ci-conformance-kubernetes/1691
https://k8s-gubernator.appspot

[2018-08-26 03:15] #61578 closed

[2018-08-26 03:15] #61812 closed

[2018-08-26 06:57] eli-z commented on #67538
Same issue here, looking at gcp-scaler deployment
kubectl get deployments -n kube-system fluentd-gcp-scaler -o yaml
results in:
--ds-name=fluentd-gcp-v3.0.0
in command section of container spec. maybe this is the issue

[2018-08-26 08:50] vperson opened #67865 "使用kubeadm初始化k8s环境使用非官方的k8s.gro.io镜像仓库就无法正常初始化"
这是我的kubeadm.yaml文件内容:
[code]

出现的问题是一直卡在这里最后会超时说无法拉取到所需的镜像：
[code]

但是这些镜像在我本地已经存在了：
[code]

这是journalctl -xeu kubelet日志
[code]
这是为什么？有什么版本能解决吗？

[2018-08-26 13:25] #61888 closed

[2018-08-26 13:32] SebGX opened #67867 "FEATURE: Virtual services and cluster bridges"
/kind feature
/sig architecture

**Request:** Virtual services and cluster bridges.

**Description:** Kubernetes is an elegant piece of software with a beautiful architecture. It's abstractions make sense, are an excellent example of the single responsibility principle at work, and help to avoid duplication of configs that can weaken security and introduce instability. I'm a fan. Where things get

[2018-08-26 14:07] xmudrii commented on #67867
/kind feature
/sig architecture

[2018-08-26 14:09] SebGX commented on #67867
Ah, that's what I did wrong. Thanks :)

[2018-08-26 14:13] jhorwit2 commented on #65013
@thockin @smarterclayton this issue touches on the fact we are removing masters as well and inadvertently removing cordoned nodes. The logic in the service controller mentions we only filter out unschedulable nodes since that's how masters were setup.

[2018-08-26 14:15] WPH95 commented on #67342
I think I found the cause of the bug. and enhanced the current unit test, 100% to reproduce the bug  https://github.com/WPH95/kubernetes/pull/1

[2018-08-26 14:56] WPH95 commented on #67342
I opened the kubelet --v=10 in my test cluster, in our scenario (with intermittent long write operations on the disk). This bug trigger is 10%. By analyzing the logs, I found the cause of the problem and succeeded in reproducing the problem by adding a new unit test to prove that the bug existed.

The cause is that AWS EBS sometimes [attacher.UnmountDevice](https://github.com/kubernetes/kubernetes

[2018-08-26 16:00] zhukovsd opened #67869 "StorageOS can't create a volume in 2-node on-premise Kubernetes cluster"
Hello.

/kind bug

**What happened**:
1. Create a volume with `storageos volume create test-volume`
2. This volume fails to mount with `storageos volume mount test-volume /test`
3. Kubernetes also fails to mount with via PersistentVolume+PersistentVolume claim (I reproduced that by following "Pre-provisioned Persistent volumes" guide in StorageOS docs - https://docs.storageos.com/docs/install/kube

[2018-08-26 16:28] #57692 closed

[2018-08-26 16:28] #61517 closed

[2018-08-26 17:10] felixfbecker commented on #25460
Currently it is a big pain to work with YAML and the API in most strongly typed languages, because when deserialising a YAML file into swagger-generated Model classes, missing optional scalar fields like `ContainerV1.failureThreshold` (`int`) will get the runtime default value (`0`), but the server default value is `3`, and this is only mentioned in the documentation, not in the schema. So when di

[2018-08-26 17:11] mjaow commented on #66133
@pires I don't think it is a failure of client-side, according to TCP/IP Illustrated v1,CLOSE_WAIT means server has got FIN from client and forget to reply ACK.
I check the code in apiserver ,it actual reply ack in normal condition.But when server is busy,it may has no time to ACK in time,so the CLOSE_WAIT shows.

[2018-08-26 17:40] neolit123 commented on #67869
/sig storage

[2018-08-26 18:05] thanethomson commented on #67119
Will see if we can graph this over the next few days 👍

[2018-08-26 18:30] #43874 closed

[2018-08-26 18:59] nikhita commented on #64391
@ston3o Thanks for submitting the bug report and apologies for the late reply on this issue.

This has already been reported in https://github.com/kubernetes/kubernetes/issues/57042. Closing this in favour of that issue.

/close

[2018-08-26 19:04] felixfbecker commented on #25460
The inconsistency is also problematic - for example, `int` `Container1.failureThreshold` is a non-nullable with a default value of `3` (i.e. to set it the default, it has to be set explicitly to `3`, or to check if it is the default it has to be checked if it's `3`), but `int` `PodSpecV1.TerminationGracePeriodSeconds` is a nullable with default value of `30` (where the documentation says it should

[2018-08-26 19:04] nikhita commented on #67865
I don't understand the language but I'm guessing this is:

/sig cluster-lifecycle
/area kubeadm

[2018-08-26 19:31] #61761 closed

[2018-08-26 20:25] cblecker opened #67872 "Update to go1.11"
Keeping 👀on this. Official [docker upstream image](https://hub.docker.com/r/library/golang/) isn't available yet, so I can't build kube-cross locally yet.

Will need gofmt changes for sure (and they aren't backwards compatible).

cc: @ixdy @luxas

[2018-08-26 21:33] #61450 closed

[2018-08-26 21:49] marwan-at-work commented on #63607
I use k8s.io/client-go pretty frequently, and it's one of the many packages in the community that are tagged >=2 but obviously before Semantic Import Versioning was a thing.

So I'm just posting a [tool](https://github.com/marwan-at-work/mod)) that I wrote to help with this transition as a reference. Hopefully it will be of help once you figure out the strategy of using Go Modules with Kuberenetes

[2018-08-26 23:03] cblecker commented on #67843
@sgnn7 Sorry, we're not ready for this yet. We need to figure out our go module strategy for the whole project, and how we're going to keep these files updated and synchronized with each other.

Please follow #63607 for updates.

/close

[2018-08-26 23:03] #67843 closed

[2018-08-26 23:07] cblecker commented on #44873
An update on this.. yes, we're looking at moving towards vgo now that it is experimental in go1.11. There's a POC here: https://github.com/kubernetes/kubernetes/pull/65683

Both the publish and consumption use cases need to be taken into account.

[2018-08-27 00:49] stewart-yu opened #67873 "NodeAllocatable would get error in some condition"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

/assign
/cc @timstclair @vishh

**What happened**:
Just only setting `EnforceNodeAllocatable`, and not setting `SystemReserved` or `KubeReserved`, the kubelet will panic in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/node_container_manager.go#L129-L145
error like this:
[code]

I think we should add the validation of d

[2018-08-27 00:50] stewart-yu commented on #67873
sig-node

[2018-08-27 00:51] stewart-yu commented on #67873
/sig node

[2018-08-27 01:11] daixiang0 commented on #67633
I found the root cause:
I use a lvm to store etcd data but etcd service start before lvm mount, so that calico related info miss.
But i restart etcd service and kubelet service, calico related info still miss.
So it introduce a new issue.
ping @krmayankk , which repo contain etcd service?

[2018-08-27 01:12] mtaufen commented on #58010
@dims done

[2018-08-27 01:49] dims commented on #67872
looks like waiting on https://github.com/docker-library/golang/pull/234 to merge

[2018-08-27 01:50] zerda commented on #67865
在 kubeadm 1.11.2 版本中，该功能正常。

建议使用 `imageRepository: registry.aliyuncs.com/google_containers` 从阿里云获取相关镜像。

可以使用 `kubeadm config images list --config kubeadm.yml` 确认所需的镜像路径和版本。使用
`kubeadm config images pull --config kubeadm.yml` 尝试拉取这些镜像到本地。

---

The `imageRepository` option is working correctly in kubeadm v1.11.2.

I recommend `imageRepository: registry.aliyuncs.com/google_containers` to pull imag

[2018-08-27 01:54] tanshanshan commented on #67873
https://github.com/kubernetes/kubernetes/pull/66541
I have implent some valid about it , I can add more.

[2018-08-27 01:58] hex108 opened #67874 "Feature request: schedule pod to other kubelets if kubelet continuously rejects pod?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We write a GPU virtualization device plugin. Under some cases, the device plugin could not allocate GPUs for pod, then kubelet will reject the pod. Scheduler will always schedule it to the same kubelet if the kubelet gets same highest score from scheduler as before. However kubelet will reject it continuously.

Not sure whether kub

[2018-08-27 02:01] hex108 commented on #67874
@kubernetes/sig-scheduling-feature-requests

[2018-08-27 02:04] stewart-yu commented on #67873
/close

[2018-08-27 02:04] #67873 closed

[2018-08-27 02:06] stewart-yu commented on #67873
go head,  add more `valid ` is fine :+1:
but i think it not bug now, so close it

[2018-08-27 02:14] narkarum commented on #67674
thanks @divyenpatel

[2018-08-27 02:27] hchenxa commented on #35062
@pvlltvk , any updated for this issue?

[2018-08-27 03:16] tatsuhiro-t opened #67875 "kube-proxy does not update iptables upon default/kubernetes change"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have 2 master nodes and default/kubernetes Endpoints has 2 IP addresses.
After deleting one mater node, and observed that default/kubernetes has only 1 address, kube-proxy still uses 2 endpoints in iptables including stale master node as if it does not get any update.

Suppose that we have 2 master nodes whose address

[2018-08-27 03:58] lichuqiang commented on #66189
We hit the same issue in v1.9. and I think we'd better do validation on kubelet startup.
i.e. it should not be allowed to enable "system-reserved"/ "kube-reserved" in "enforce-node-allocatable=pods"， while no related resource specified.
/cc @dashpole

[2018-08-27 05:17] tatsuhiro-t commented on #67875
It might be an informer issue because kube-proxy keeps getting stale Endpoints object.

[2018-08-27 05:27] vperson commented on #67865
使用阿里云的镜像后确实快了很多，但是```mirrorgooglecontainers```的镜像应该也是能拉到的，我经常遇到在kubeadm创建证书后准备启动集群的时候超时，而哪些镜像都已经在我本地了。

[2018-08-27 05:29] vperson commented on #67865
@zerda 谢谢你，结合你的信息和我后期自己的配置我的k8s集群已经完美运行起来了。
![image](https://user-images.githubusercontent.com/30188622/44642070-1b9e9d80-a9fd-11e8-958e-f540b00a0a9f.png),不知道ROLES为<none>是否正常。

[2018-08-27 05:53] charrywanganthony commented on #67863
I can reproduce it, and i will try to fix it.

[2018-08-27 05:55] timothyliu commented on #67538
After upgrading to 1.10.6-gke.2, it still has the same issue.

[2018-08-27 05:56] charrywanganthony commented on #67863
[code]

[2018-08-27 06:50] linyouchong commented on #66189
@lichuqiang Good idea!

[2018-08-27 07:16] antmanler opened #67878 "service proxy for websocket is missing forwarded headers and query params"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Build a service proxy URL to access a websocket service, the apiserver do not add `X-Forwarded-Uri`... headers in proxied request and missing query parameters in requested URL

**What you expected to happen**:

The backend websocket server should read `X-Forwarded-Uri` in requested headers,
and can get query params prope

[2018-08-27 07:23] FOSquare opened #67879 "Kubeadm reset failed to list running pods using crictl: exit status 1."
/sig kubeadm
**What happened**:
When I try kubeadm reset, The results are
"[reset] WARNING: changes made to this host by 'kubeadm init' or 'kubeadm join' will be reverted.
[reset] are you sure you want to proceed? [y/N]: y
[preflight] running pre-flight checks
[reset] stopping the kubelet service
[reset] unmounting mounted directories in "/var/lib/kubelet"
[reset] removing kubernetes-managed conta

[2018-08-27 07:25] tatsuhiro-t commented on #67875
After investigating further, I found that the connection between kube-proxy and load balancer which sits in front of masters still exists despite the fact that the backend server (master) is gone.  kube-proxy thinks that master is still alive, and keeps watching but gets nothing.  "forcing resync" does not work because it just notifies local cache.

[2018-08-27 07:27] FulongYan commented on #67879
/area kubeadm

[2018-08-27 07:33] mborsz commented on #67670
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/198 has failed due to our unsuccessful attempt to speedup RC removal. It was reverted in https://github.com/kubernetes/kubernetes/pull/67801, but 198 has started before the revert was merged.

[2018-08-27 07:41] misteruly opened #67882 "Error creating: No API token found for service account "weave-net", retry after the token is automatically created and added to the service account"
apiVersion: v1
kind: List
items:
  - apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: weave-net
      labels:
        name: weave-net
      namespace: kube-system
  - apiVersion: rbac.authorization.k8s.io/v1beta1
    kind: ClusterRole
    metadata:
      name: weave-net
      labels:
        name: weave-net
    rules:
      - apiGroups:
          - ''
        resources:

[2018-08-27 07:43] #61897 closed

[2018-08-27 07:44] lubinsz commented on #67720
@dims
Hi, I have reviewed the ci project
https://github.com/theopenlab/openlab-zuul-jobs/blob/master/playbooks/cloud-provider-openstack-acceptance-test-e2e-conformance/post.yaml#L11-L30

In the end of the 'post.yaml', it will upload the e2e logs into gs://${GCS_BUCKET}/...
In your case, the bucket is https://console.cloud.google.com/storage/browser/k8s-conformance-openstack

So, for me,  I need to

[2018-08-27 07:53] resouer commented on #67857
I see, then we will need to re-define this metrics and move it to a high level caller - as you mentioned, per operation sounds reasonable.

[2018-08-27 07:54] realXuJiang commented on #61937
We're using CentOS 7, and run into a similar problem.

Environment：

* kubenetes v1.8.14
* docker 18.03.1-ce
* kernel 3.10.0-862.el7.x86_64

What elegant solution?

[2018-08-27 08:04] tanshanshan commented on #67874
use _nodeAffinity_ avoid scheduling pod to it , is it ok ?

[2018-08-27 08:58] surajssd opened #67886 "Add flag `--no-headers` to `kubectl top ...`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`kubectl get ...` has flag `--no-headers`, which is awesome. But `kubectl top ...` does not have this flag, it would be awesome if we have such a flag.

This works:

[code]

**What you expected to happen**:

Something like this should work:

[code]

[2018-08-27 08:58] surajssd commented on #67886
/sig cli

[2018-08-27 08:58] bruceauyeung opened #67887 "kubelet key events are dropped accidently by EventSourceObjectSpamFilter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
after a pod scheduled to a node, events such as

- Container image "`busybox:1.0`" already present on machine
- Created container
- Started container
may be dropped accidently by kubelet `EventSourceObjectSpamFilter`

**What you expected to happen**:
these events don't get dropped

**How to reproduce it (as minimally and precisely a

[2018-08-27 09:00] bruceauyeung commented on #67887
/sig node

[2018-08-27 09:27] sttts commented on #67840
I had option 1 in my mind for quite some time, but didn't dare to propose that :-)

[2018-08-27 09:38] shyamjvs commented on #66376
/status approved-for-milestone

Friendly ping. This is affecting release-blocking scalability job.

[2018-08-27 09:38] mritd commented on #66777
@xujintao

很抱歉的告诉你目前 `get cs` 命令仅仅会检测 http://127.0.0.1:10252 是否可以访问；你可以从[这里](https://github.com/kubernetes/kubernetes/blob/2da49321e62dfe8485282f691659e46a6d0c5aab/pkg/registry/core/rest/storage_core.go#L253)找到相关代码.

Sorry to tell you that the current `get cs` command will only detect if http://127.0.0.1:10252 is accessible; you can find the relevant code from [here](https://github.com/kubernetes/

[2018-08-27 09:46] johnzheng1975 commented on #67765
It is strange, this env variable should not take effect since this parameter already set false in es config file.
![image](https://user-images.githubusercontent.com/17720035/44653307-f459c780-aa20-11e8-889d-996791ee0918.png)
Anyway, it is fine now.

[2018-08-27 09:56] FOSquare commented on #67808
exactly the same problem.

[2018-08-27 10:05] fatih commented on #67853
I tried to reproduce it so I could collect some informations to make it easier for us to debug and also have something we can use to reproduce.

Versions I use:

* Kubernetes: `v1.10.3`
* DigitalOcean CSI plugin version `v0.1.4` which implements the CSI Spec `v0.2.0`

To observe the issue:

1. Install CSI-digitalocean plugin: https://github.com/digitalocean/csi-digitalocean#installing-to-kubernete

[2018-08-27 10:09] WanLinghao commented on #67886
/assign

[2018-08-27 10:11] theobolo commented on #67261
@andyzhangx I think that it's clearly linked to the cleaning DaemonSet, since i'm cleaning Exited containers, Kubelet recreates them... as @eyz said. Why am i only facing this on AKS ?

[2018-08-27 10:37] johnzheng1975 commented on #67765
Seems for es log
[code]
For kibana log
[code]
The error will disappear even you do not add parameter. It can get license automatically.

[2018-08-27 10:50] dims commented on #67720
@lubinsz Right on all counts. for #2, let's get @BenTheElder 's opinion there may be existing bucket that may be reused.

[2018-08-27 10:51] bronger commented on #53533
@srevenant In the cluster world, the other node's RAM is the new swap.  That said, I run two one-node K8s instances where swap makes sense.  But this is not the typical use case of K8s.

[2018-08-27 10:52] PidgeyBE commented on #24873
Another version: Exporting all yaml's from all namespaces. For each namespace a directory is made.

`i=$((0))
for n in $(kubectl get -o=custom-columns=NAMESPACE:.metadata.namespace,KIND:.kind,NAME:.metadata.name pvc,configmap,ingress,service,secret,deployment,statefulset,hpa,job,cronjob --all-namespaces | grep -v 'secrets/default-token')
do
	if (( $i < 1 )); then
		namespace=$n
		i=$(($i+1))
	elif

[2018-08-27 11:10] gabrielfsousa commented on #65267
i post it here a solution, is working, but isnt not perfect, i will make a init container to not start if the pod isnt on the right host.

https://github.com/gabrielfsousa/zookeeper-kafka-kubernetes

[2018-08-27 11:15] xujintao commented on #66777
@mritd
Thanks.
Now i have to use insecure port configuration to restart controller-manager.

[2018-08-27 11:28] chilicat commented on #61937
Same here, but I guess we only can wait for a newer rhel/centos kernel
https://bugzilla.redhat.com/show_bug.cgi?id=1507149

[2018-08-27 11:34] pires commented on #61937
CentOS 7.5 fixes it as far as I can test.

[2018-08-27 11:39] chilicat commented on #61937
Kernel 3.10.0-862.el7.x86_64? Or is there a newer?

[2018-08-27 11:54] dims commented on #66376
hey @shyamjvs what needs to be done here? by whom?

[2018-08-27 12:03] dims commented on #67865
@vperson yes the ROLES looks right.

Since you have this working, please close the issue :)

[2018-08-27 12:19] pvanderlinden commented on #58211
/remove-lifecycle stale

[2018-08-27 12:31] guineveresaenger commented on #40224
@tnozicka can you update on whether any work is being done on this?
As Code Slush begins this Tuesday, please make sure this issue is labeled as approved for the milestone by then.
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.12#code-slush

[2018-08-27 12:32] guineveresaenger commented on #64530
@mtaufen @dashpole @dixudx - any updates on this?

[2018-08-27 12:33] guineveresaenger commented on #64788
@saad-ali - any updates on work on this?

[2018-08-27 12:36] guineveresaenger commented on #66323
@gnufied @vladimirvivien @saad-ali - any updates on #67280?

[2018-08-27 12:47] tnozicka commented on #40224
@guineveresaenger there is a PR, https://github.com/kubernetes/kubernetes/pull/67817 linked just above your comment, fixing the issue; in review process, still targeting v1.12

[2018-08-27 12:53] guineveresaenger commented on #40224
@tnozicka awesome! can you get milestone approval from someone in sig/apps?

[2018-08-27 13:03] andyzhangx opened #67892 "pull image from a cross-subscription azure container registry does not work by MSI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
PR(https://github.com/kubernetes/kubernetes/pull/66429) fixed pull image error from a cross-subscription azure container registry by **service principal**, while for MSI, this issue is not fixed.
Need to find a way how to fix this issue for MSI, related code is here:
https://github.com/kubernetes/kubernetes/blob/3741f0262f

[2018-08-27 13:05] tnozicka commented on #40224
/priority critical-urgent

@guineveresaenger is this for `status/approved-for-milestone`? I though that was effectively canceled on lazy consensus last week here https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/MjyJzhBEgkM/64kNFcIACQAJ

[2018-08-27 13:14] #66269 closed

[2018-08-27 13:18] guineveresaenger commented on #40224
@tnozicka gah, apologies for the noise. You are right. My bad.

[2018-08-27 13:19] tuminoid commented on #61557
This also occurs with `kubectl cp`. Tested up to k8s `1.11.2`.

Any idea when k8s might pick up fixed Docker client? This is super-annoying bug, that makes scripting with `kubectl` very frustrating, and I'm wondering why it doesn't bother more people.

[2018-08-27 13:32] tnozicka commented on #40224
@guineveresaenger np :)

[2018-08-27 13:33] wojtek-t commented on #67823
/milestone 1.12
given that it is regression

[2018-08-27 13:34] wojtek-t commented on #67823
/milestone v1.12

[2018-08-27 13:52] sgnn7 commented on #63607
Indeed! This isn't documented well upstream right now but there is `replace` `go.mod` directive I've been using to work with my current module-based code. Just to show what this looks like for code-gen where you're hacking on the underlying `gengo`:
[code]

This directive remaps the source of the module named on the left side with the path on the right side which in this case is a sibling checkout

[2018-08-27 13:57] neolit123 commented on #67882
/sig network

[2018-08-27 13:59] neolit123 commented on #67878
/sig api-machinery

[2018-08-27 14:00] shyamjvs commented on #66376
@michelle192837 Could you comment on what needs to be done here and by whom?

[2018-08-27 14:10] dims commented on #67348
/sig cloud-provider
/sig gcp

/milestone v1.12
(since https://github.com/kubernetes/kubernetes/issues/66376 is marked as v1.12)

[2018-08-27 14:45] rcorre opened #67895 "show-all deprecation message unhelpful"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

Now I'm lost. What am I supposed to use instead of `-a`? Is `-a` the default now?

**What you expected to happen**:

[code]

... or ...

[code]

... or ...

(whatever the real explanation is)

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2018-08-27 14:50] #58084 closed

[2018-08-27 14:54] bswartz opened #67897 "Storage class mountOptions are not used by CSI drivers"
/kind bug

I created a storage class with provisioner set to my CSI driver, and with mountOptions set to a non-empty value.

I expected Kubernetes to send the mount options to my CSI driver in the mountFlags field of the CSI RPC, but the field was empty.

Reproduction:
1) Install kubernetes
2) Install any CSI driver
3) Create a storage class, with the provisioner set to the installed CSI driver's

[2018-08-27 15:09] sttts commented on #67840
What does this mean? We block versioning?

[2018-08-27 15:11] piraluc commented on #39178
Just in case somebody wants to cross-check: After removing the `-` from the name of my release it worked. So instead of `helm install ./foo --name foo-bar --namespace foo` I used `helm install ./foo --name foobar --namespace foo`.

[2018-08-27 15:13] gnufied opened #67900 "vsphere cloudprovider does not attempt to detach volumes from shutdown nodes"
At least in 1.9.x release what I am seeing is - vsphere volumes are not getting detached at all when a node is shutdown.

The reason they are not getting detaches is because - when a node is shutdown, it is removed from api-server in vsphere. But the NodeInfo map that vspehre internally maintains needs the node object for successful detach. As a result all detach operations fail with:

[code]
/sig

[2018-08-27 15:13] gnufied commented on #67900
/sig vmware

[2018-08-27 15:39] FOSquare commented on #67808
OK, you mistake is not the same as mine.

Please notice the second line.

docker version is greater than the most recently validated version. Docker version: 18.06.1-ce. Max validated version: 17.03

YOU SHOULD install docker 17.03. Docker 18.06 do not works with K8s.

[2018-08-27 15:49] eosfor commented on #49387
With PowerShell, like [this](https://gist.github.com/eosfor/2e0592d19acceb8b2301d16dc2ffaa4c), you can do something like

To return all statuses
[code]

To filter them out
[code]

[2018-08-27 15:51] #12668 closed

[2018-08-27 16:05] vhosakot commented on #38946
I think `kube-controller-manager`'s `--cluster-cidr` should be changed to `--pod-cidr` as it is pod's CIDR (`--cluster-cidr` can still exist so that existing clusters don’t break). Isn't `--pod-cidr` more meaningful than `--cluster-cidr`? Thoughts?

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

[2018-08-27 16:06] vhosakot commented on #57130
I think `kube-controller-manager`'s `--cluster-cidr` should be changed to `--pod-cidr` as it is pod's CIDR (`--cluster-cidr` can still exist so that existing clusters don’t break). Isn't `--pod-cidr` more meaningful than `--cluster-cidr`? Thoughts?

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

https://github.com/kubernetes/kubernetes/issues/38946 kind

[2018-08-27 16:23] jayunit100 opened #67903 "Failure in Conformance test - Daemon set [Serial] should update pod when spec was updated and update strategy is RollingUpdate [Conformance]"
/kind bug

Don't think this is related to, but not sure  https://github.com/kubernetes/kubernetes/issues/60745 .

[code]
I'm thinking the `Daemon set [Serial] should update pod when spec was updated and update strategy is RollingUpdate [Conformance]` should be moved out of conformance... but not quite sure yet.

##
- Sonubuoy e2e results link:  https://scanner.heptio.com/519c1537b4a7fa4ad0855f621b

[2018-08-27 16:32] gnufied commented on #67900
cc @divyenpatel

[2018-08-27 16:34] pnovotnak commented on #45419
Seems to be happening every time I load the machine heavily

[2018-08-27 16:41] gnufied opened #67904 "vsphere 1.9 controller manager can not detach volumes from 1.8 nodes"
I think in k8s 1.9, the mechanism by which node information is fetched in vsphere was changed to use `product_serial/product_uuid` and as a result if controller-manager is on 1.9 and a node is on 1.8, then we can't detach volumes from 1.8 node.

This becomes a problem during upgrade cycle. A fix was made for this - http://github.com/kubernetes/kubernetes/issues/62919 but this only works if product

[2018-08-27 16:42] gnufied commented on #67904
cc @divyenpatel

[2018-08-27 16:47] gnufied commented on #67904
The reason this becomes harder to patch is because new code in 1.9.x require `product_serial` to be available on the node object but we don't store that information anywhere on node object in 1.8. Some folks have proposed modifying `node.Spec.providerID` but that field is immutable after creation.

[2018-08-27 16:50] thockin commented on #57130
Renaming flags is ugly, and I'd rather compartmentalize the whole problem
if we can -- it's very provider-specific.

On Mon, Aug 27, 2018 at 9:07 AM Vikram Hosakote <notifications@github.com>
wrote:

[2018-08-27 16:54] mohammedzee1000 commented on #67670
@mborsz status please?

[2018-08-27 16:57] martynbristow commented on #67538
@eli-z This definitely seems to be the issue to me, I've tried updating it but something overrides my changes

[2018-08-27 16:57] vhosakot commented on #57130
Agreed, good to compartmentalize it as it could be per-cloud config (not universal) and specific to provider / CNI / if dual-stack or not.

[2018-08-27 16:58] liggitt commented on #67714
/milestone v1.12

[2018-08-27 16:58] mohammedzee1000 commented on #67597
/priority critical-urgent
@mborsz @shyamjvs using this to track status of these tests, hope you are ok

[2018-08-27 17:06] guineveresaenger commented on #67348
@dims @davidz627 may we have a priority on this since Code Freeze is next week? :)

[2018-08-27 17:06] viveksaiaws opened #67906 "kubernetes stateful sets etc/hosts"
@kubernetes/sig-contributor-experience-feature-requests

**What happened**:
i have 3 pod cassandra stateful set on ubuntu / kube 1.9
`cassandra-0` `etc/hosts/` looks like
`
172.30.243.180	cassandra-0.cassandra.gec-system.svc.cluster.local	cassandra-0
`

**What you expected to happen**:
i want like
`
172.30.243.180	cassandra-0.cassandra.gec-system.svc.cluster.local	cassandra-0 '
 172.30.243.xxx	cas

[2018-08-27 17:07] YacheLee commented on #67538
Yes, I force to change the daemon for the correct version, but k8s keeps making the version back. It could not allow me to do so.

[2018-08-27 17:25] dims commented on #67645
/sig network

[2018-08-27 17:26] dims commented on #67579
/close

please reopen with more info as @neolit123 requested

[2018-08-27 17:26] #67579 closed

[2018-08-27 17:27] dims commented on #67429
can you please try the etcd folks? https://github.com/coreos/etcd/issues

/close

[2018-08-27 17:27] #67429 closed

[2018-08-27 17:27] dims commented on #67249
/sig apimachinery

[2018-08-27 17:28] dims commented on #67186
/sig apps

[2018-08-27 17:28] dims commented on #67092
/sig apps

[2018-08-27 17:28] dims commented on #67063
/sig cli
/sig node

[2018-08-27 17:29] dims commented on #67057
/sig node

[2018-08-27 17:29] dims commented on #66852
/sig network

[2018-08-27 17:30] dims commented on #66794
may be a better venue is to ask https://github.com/kubernetes/minikube folks?

/close

[2018-08-27 17:30] #66794 closed

[2018-08-27 17:34] nikhita commented on #62323
Just had a conversation with someone on the #kubernetes-novice channel on Slack about how it is not possible to make sure that each custom resource using a CRD has a unique value for that field.

Adding this comment here so we have a way to put it down someplace instead of creating a new issue...because this is "expected behaviour" since OpenAPI schema does not support it.

[2018-08-27 17:51] kfox1111 commented on #65153
Interesting. Can we get this in for 1.12?

[2018-08-27 17:54] jeffrichiefs commented on #62594
+1

[2018-08-27 17:54] frouzbeh opened #67907 "Kubernetes cluster on virtualbox has no storage class"
/sig storage

**What happened**:
I'm trying to have a kubernetes cluster on three virtual machines using virtualbox (on my laptop). The cluster works fine except the hub pod:

[code]
[code]
[code]

As you can see everything is up and running but since there is no storage class and persistent volume, so I cannot deploy jupyterhub on the cluster. Whenever I deploy jupyterhub (from [Zero to jupyterhu

[2018-08-27 18:01] ixdy commented on #63607
cc @sigma

[2018-08-27 18:02] ixdy commented on #67872
I think we probably don't want to do this until k8s 1.13; it seems pretty late in the 1.12 release train to update.

[2018-08-27 18:44] amwat commented on #67862
https://github.com/kubernetes/test-infra/pull/9161 should mostly fix the issue.

[2018-08-27 18:59] JoshTheGoldfish opened #67908 "Error: unexpected EOF"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When running `minikube start --vm-driver=hyperkit --disk-size=10g` I get the following output:

[code]
At first I got the error that there wasn't enough space on my device, hence the `disk-size` flag. That got me past the storage space issue. When I came upon this issue, I went already and ran `rm -rf ~/.minikube` and tri

[2018-08-27 19:33] JoshTheGoldfish commented on #67908
@kubernetes/sig-contributor-experience-bugs

[2018-08-27 20:26] wenjiaswe commented on #67761
cc @jpbetz @wenjiaswe

[2018-08-27 20:28] wenjiaswe commented on #67789
cc @jpbetz

[2018-08-27 20:28] essamhassan commented on #66714
I'd like to look into this and work on it

[2018-08-27 20:29] wenjiaswe commented on #67878
cc @caesarxuchao

[2018-08-27 20:57] jmcmeek commented on #67659
I was about to open an issue for this from the apiserver perspective:

On an 1.11.2 IBM Cloud Kubernetes Service cluster (and since reproduced in a simple kubeadm cluster), we found the apiserver memory growing.  Further investigation showed a large number of long running exec requests reported in the apiserver /metrics endpoint.  There were a similar number of connections open to kubelet but only

[2018-08-27 21:03] caesarxuchao commented on #54712
/remove-lifecycle stale

[2018-08-27 21:36] weisjohn commented on #62099
I just got bit hard by this, especially the silent failure with the `readOnly: false` config.

[2018-08-27 21:55] gnufied commented on #67900
@divyenpatel are you saying that in vsphere, the node object no longer gets deleted when a node is shutdown? I ran my tests against k8s-1.9, so it is possible that my build is old and this was changed sometime back. But there are several comments by vmware people that vsphere is unique in this regard that node object gets deleted when a node is powered off.

If that is indeed the case then we will

[2018-08-27 22:01] divyenpatel commented on #67900
@gnufied Yes, I see node is not getting deleted.

I can see node is getting listed with the status `NotReady`, after 30 minutes passed powering off VM.
This is the behavior on the master branch.
[code]

[2018-08-27 22:09] #66184 closed

[2018-08-27 22:14] gnufied commented on #67900
Okay this must have changed in some version of k8s, because I can clearly see that is not the case in 1.9. Also this comment by @BaluDontu - https://github.com/kubernetes/kubernetes/issues/46442#issuecomment-329314982 alludes to same.

Regardless - if that is happening I think https://github.com/kubernetes/kubernetes/pull/67847 should fix the underlying issue. Can you try pulling that in and see i

[2018-08-27 22:19] erikerlandson commented on #66620
@tnozicka the pod `restartPolicy` doesn't quite cover the desired behaviors.  `Never` not right because it won't restart a streaming job that requires it.  A streaming job up in HA mode, but neither is `Always` because spark jobs _can_ terminate. IIRC `OnFailure` does not capture all possible container failure scenarios (and is a per-container failure response, not pod level)
cc @liyinan926

[2018-08-27 22:23] jmcmeek opened #67913 "Slow "leak" of kubectl exec requests in kube 1.10.5"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Over a period of a week or so, we see apiservers grow to over 11 GB of memory.  The apiserver /metrics endpoint showed a huge number of long running exec requests:
[code]
And completed requests:
[code]

Output from `ss` showed a similar number of connections from apiserver to kubelet, but only a small number of client co

[2018-08-27 22:26] jmcmeek commented on #67913
/sig api-machinery

[2018-08-27 22:29] lavalamp commented on #67840
@sttts I suppose I'm a little late in the cycle to recommend blocking something. Maybe we can try and fix this for v1?

[2018-08-27 22:47] weisjohn commented on #62099
For those encountering this, I would recommend using an init container to copy over the contents of the secret / config map directory into a shared empty dir: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

[2018-08-27 23:13] mikedanese commented on #63732
I'm extending this to cover client certs as well.

[2018-08-27 23:37] tech509201941 opened #67915 "Expected 'exec POD_NAME COMMAND [ARG1] [ARG2] ... [ARGN]'..."
If I want to execute the following command:

`cd .kube`
`KUBECONFIG=./config`

`kubectl exec -n cattle-system $(kubectl --kubeconfig $KUBECONFIG get pods -n cattle-system -o json | jq -r '.items[] | select(.spec.containers[].name=="cattle-server") | .metadata.name') -- reset-password`

it results in this error:

[code]

Can anyone think of a solution for this?

[2018-08-27 23:52] Huang-Wei commented on #67300
#67734 should be able to resolve this issue.

[2018-08-28 00:26] mbohlool commented on #67840
What about a more restricted OpenAPI spec? If we talk specifics, we can see if we can use a very restricted version of it and add special extensions to it. It would be very close to option 3 though but maybe a little easier to reason with community on that as the spec is still a standard.

[2018-08-28 00:33] PatrickLang commented on #62046
@daschott - can you see if this is possible in Windows Server 2019? Or are more changes needed.

[2018-08-28 00:40] #66071 closed

[2018-08-28 01:07] hex108 commented on #67874
We do not know which kubelet has the problem in advance, so it might not work well using `nodeAffinity`.

[2018-08-28 01:38] Chrislevi commented on #19764
Any news? hit the same wall

[2018-08-28 01:41] #67865 closed

[2018-08-28 03:01] TinySong commented on #67907
you can use command `kubectl get pvc hub-db-dir -n jhub -oyaml` to find your provider annotations->volume.beta.kubernetes.io/storage-provisioner. In this case, you can use nfs storage.see: https://kubernetes.io/docs/concepts/storage/#nfs

[2018-08-28 04:08] zrss opened #67923 "May kubelet missing any PLEG of the Container in some case ?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Create a Job (gggggggggggg) with **onFailure** restart policy and 100 completions 42 parallelism 500 ADS.

But finally it ends with 2 pod running, gggggggggggg-77kfq and gggggggggggg-7lvt4

![image](https://user-images.githubusercontent.com/8072378/44696352-d4221b00-aaa9-11e8-940b-37110dcd1b2e.png)

And there is no container left i

[2018-08-28 04:10] zrss commented on #67923
/sig node

[2018-08-28 04:41] tpepper commented on #67338
Passing as of 8/27.  Unclear why but possibly https://github.com/kubernetes/test-infra/pull/9161

[2018-08-28 05:01] feiskyer commented on #67261
You shouldn't cleanup kubernetes containers externally, Kubelet will clean them periodically.

[2018-08-28 05:10] AishSundar commented on #67338
/assign @kow3ns @janetkuo would either of you please be able to look into these test failures and triage them accordingly.

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster-new

We are soon approaching code slush and freeze and this could become 1.12 release blocking if not addressed soon. Thanks for your help.

[2018-08-28 05:11] AishSundar commented on #67338
/assign @kow3ns
/cc  @kow3ns @janetkuo

[2018-08-28 05:18] #67733 closed

[2018-08-28 05:27] lavalamp opened #67925 "Very misleading godoc in our api packages"
The generated protobuf files have a header explaining they are generated, which is useful if you are reading them.

Unfortunately, godoc treats that as a package comment, and anyone reading e.g. https://godoc.org/k8s.io/api/core/v1 is going to be given the mistaken impression that our api is generated from a proto file.

[2018-08-28 06:01] mohammedzee1000 commented on #67600
ping @kubernetes/sig-network-test-failures

[2018-08-28 06:49] kriston13 commented on #33766
Having the exact same problem with
[code]

[2018-08-28 06:55] tak2siva commented on #67777
@DirectXMan12 GetObject metric already does some check for Namespaced or Root.

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podautoscaler/metrics/rest_metrics_client.go#L130-L137

Should it also have an another scope check using `RESTMapping` ?
Can you help me understand the issue here  ?

[2018-08-28 07:02] fatih commented on #67853
What's interesting is, the `VolumeAttachment` associated with the `PV` is absent after the node deletion. But according to the logic that @vladimirvivien posted, it should be deleted only after a `PV` deletion.

I tried to check the logs, but there are no logs that indicate the deletion of the `VolumeAttachment`. After a while, we start seeing log messages in the form of:

[code]

If you look care

[2018-08-28 07:15] xiaoxubeii commented on #67906
You can use headless service and subdomain to add pod A record to kube-dns: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-hostname-and-subdomain-fields

[2018-08-28 07:18] fatih commented on #67853
Correction, seems like the `VolumeAttachment is deleted when a Pod referencing a CSI volume is deleted or terminated (which happens in our case due the `node` deletion): https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/container-storage-interface.md#detaching-volumes

[2018-08-28 07:44] fatih commented on #67853
It seems like there is a `dangling` reference to the delete `VolumeAttachment` , which puts the `a/d controller` in a bad state. The dangling reference to this VolumeAttachment is in the cache. When I restart `kube-controller-manager` it fixes itself and a `VolumeAttachment` is **recreated* again, the pods and pv/pvcs are then all good and running successfully.

I think the issue is, after a Node

[2018-08-28 07:55] jonashackt commented on #49411
I had the same problem. To end up with the correct nameserver in `/etc/resolve.conf`, I found an easier way to go and answered in the mentioned stack overflow question: https://stackoverflow.com/a/52036125/4964553

[2018-08-28 08:02] lasshpanzer opened #67932 "The results of 'kubectl version' command cannot display normaly in suse server 12 sp2."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Run command "ALLOW_PRIVILEGED=true FEATURE_GATES=CSIPersistentVolume=true,MountPropagation=true RUNTIME_CONFIG="storage.k8s.io/v1alpha1=true" LOG_LEVEL=5 hack/local-up-cluster.sh "
over k8s1.10 and k8sv1.12.0-alpha.1 through suse server 12 sp2；
2. Run command  'kubectl version', there are many empty strings in version info as bel

[2018-08-28 08:51] krmayankk commented on #64924
/area dns

[2018-08-28 08:51] FOSquare commented on #67808
Do you try install the correct version of docker? This is my experience, and I think you can close this issue.

[2018-08-28 08:52] FOSquare opened #67933 "Kubeadm couldn't initialize a Kubernetes cluster (timed out waiting for the condition)"
/area kubeadm

**What happened**:
couldn't initialize a Kubernetes cluster

**What you expected to happen**:
create the cluster normally
**How to reproduce it (as minimally and precisely as possible)**:

sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.0.105  --kubernetes-version=v1.11.2

this node just can not join the cluster that I create on another node,