[2020-12-01 22:18] lavalamp commented on #81285
Sorry, it looks like the old triage process missed this when you tried to give it back to us. api-machinery is not about the api, it's about the mechanisms that enable the api. sig arch owns the api (or in this case, sig node and/or sig apps).

I don't think there's any system change we can make here, but I guess I'll leave this open for sig arch to look at.

[2020-12-01 22:25] thockin commented on #96988
I think I agree that this is the wrong answer.

[2020-12-01 22:46] ksubrmnn opened #96996 "Windows: KubeProxy should support using HNS as IPAM for Source VIP"
**What would you like to be added**:
KubeProxy should remove the check to see if the source VIP ip exists in HNS as a prerequisite. It should also validate that the source vip passed in is valid (both a valid ip address and in the range of the network's subnet for both Ipv4 and ipv6).

**Why is this needed**:
When deploying Kubernetes with a CNI that uses HNS as the IPAM, it's not necessary to pre

[2020-12-01 22:46] ksubrmnn commented on #96996
/sig windows

[2020-12-01 22:48] ksubrmnn commented on #96996
cc @ JocelynBerrendonner @elweb9858 @sbangari @kumarvin123

cc @marosset @jsturtevant

I was going to pick up this work but it's a bit more involved as I don't know how this would work with ipv6 (or if ipv6 works is even supported). I also don't have the bandwidth to properly test this out. Hopefully someone from Container Networking can pick this up.

[2020-12-01 22:56] thockin commented on #96670
We need to understand WHY it's choosing different IPs.  Is this code sufficiently instrumented that we can catch a log eventually?

[2020-12-01 23:06] pacoxu commented on #96988
Here's our practise,
- psp allows hostNetwork pod in sysadm namespaces like kube-system
- psp denies hostNetwork pod in other namespaces
This may be a choice in the conformance.

As @aojea said,

We indeed should use some hostNetwork pods for management of network or monitoring.

[2020-12-01 23:08] aojea commented on #94155
How are you deploying etcd and the apisever, as pods, as processes? are they colocated in the same host? ...

These errors use to happen when there is some problem to connect from the apiserver to etcd, it may be the network , it may be the etcd cluster, ... just check first that the cluster is healthy and that the connection between your apisever and etcd is working correctly ... you can obtain t

[2020-12-01 23:09] aojea commented on #96940
The test says apimachinere :thinking: @neolit123

[2020-12-01 23:15] neolit123 commented on #96940
my bad,

/remove-sig node
/sig api-machinery

[2020-12-01 23:20] pacoxu commented on #96986
Can it be reproduced with a pod yaml ?

[2020-12-01 23:21] howardjohn commented on #96986
@pacoxu I am not sure what you are asking to be reproduced? There is no bug here, AFAIK, I am requesting a new feature to specify the default container (for exec, at least, maybe a more general one).

[2020-12-01 23:32] elweb9858 commented on #96996
cc @Keith-Mange @daschott

[2020-12-01 23:33] pacoxu commented on #96923
https://github.com/kubernetes/kubernetes/blob/68f6b09e807917d73446e6ee6146b4029d1aae79/staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go#L236-L257

check the annotation like `control-plane.alpha.kubernetes.io/leader`  in the configmap may help？ Not sure about it and cannot reproduce.

[2020-12-01 23:46] apelisse commented on #77665
Let's reopen if needed.
/close

[2020-12-01 23:47] #77665 closed

[2020-12-01 23:47] pacoxu commented on #95862
Some thoughts on this requirement.

Option 1: a pull through cache proxy
https://docs.docker.com/registry/recipes/mirror/#run-a-registry-as-a-pull-through-cache

Option 2: local caching registry
https://github.com/rpardini/docker-registry-proxy
An HTTPS Proxy for Docker providing centralized configuration and caching of any registry (quay.io, DockerHub, k8s.gcr.io)

Option 3: manage images in your

[2020-12-02 00:20] 2rs2ts commented on #72320
/remove-lifecycle stale

[2020-12-02 00:24] 2rs2ts commented on #53331
@soltysh if I find a repro case I will share it, however it'll be pretty heavily redacted (company secrets and all that) so I'm not sure how much help that'll be.

[2020-12-02 00:26] liggitt commented on #96977
Does the ingress have a default backend? Can you output the full object retrieved?

[2020-12-02 00:45] yehaifeng commented on #96977
@liggitt
[code]

[2020-12-02 00:58] liggitt commented on #96977
Then you need to access it under `ing.Spec.Rules`

[2020-12-02 01:00] yehaifeng commented on #96977
Yes, thank you!

[2020-12-02 01:00] #96977 closed

[2020-12-02 01:25] pacoxu commented on #96986
sorry for misunderstanding.

If sidecar container can be identified, the default container can be found.

Or should we add an admission controller to add default-container annotation during pod creation?

[2020-12-02 01:28] howardjohn commented on #96986
We are already using the default-log-conrainer annotation, we automatically inject it in our mutating webhook. However, there is no way to set a default for `exec`

[2020-12-02 01:37] chendave commented on #93505
/lifecycle-frozen

still don't have a good way to figure it out.

[2020-12-02 01:39] chendave commented on #93505
/lifecycle frozen

[2020-12-02 01:53] pacoxu commented on #96986
#95293 is asking for a way to set default container.(some discussions in #61333 on adding `default-container` field.)
In https://github.com/kubernetes/kubernetes/issues/95293#issuecomment-709202321 .

I may open a pr to work on this as #87809(PR for `kubectl.kubernetes.io/default-logs-container`) . However, it may be effected by the decision of #95293

[2020-12-02 01:54] pacoxu commented on #61333
#87809(PR for kubectl.kubernetes.io/default-logs-container) after 1.18
#96986 asks for similar annotation and behavior for exec

[2020-12-02 02:00] pacoxu commented on #95293
/cc
@dougsland @soltysh

`kubectl.kubernetes.io/default-container` is annotation for kubectl
If we use go client or other cli, which is the default?  kubectl annotation is not that generic.

[2020-12-02 02:23] #88926 closed

[2020-12-02 02:23] #92754 closed

[2020-12-02 04:06] thejoycekung opened #97002 "[Failing Test] [sig-apps] ReplicaSet should serve a basic image on each replica with a private image, ReplicationController should serve a basic image on each replica with a private image"
**Which jobs are failing**:
`ci-kubernetes-e2e-gci-gce`
`ci-kubernetes-e2e-gce-cos-k8sbeta-default`

**Which test(s) are failing**:
`[sig-apps] ReplicaSet should serve a basic image on each replica with a private image`
`[sig-apps] ReplicationController should serve a basic image on each replica with a private image`

**Since when has it been failing**:
Started failing between 2:04 and 2:40PM PST

[2020-12-02 04:28] yqwang-ms commented on #81285
@lavalamp  Thanks for the response, my main point is about the **reliable** way to get the deletion reason, as all other **ways** are **besteffort**, such as events, logs, etc.
For the **reliable** way, we need to persist the reason, as the same way to persist pod's other fields, such as Pod.State, etc

[2020-12-02 07:33] mborsz commented on #96710
ci-kubernetes-e2e-gce-scale-correctness is still flaky with similar error. Most recent failures:
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1332655775578853376
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1331568698460213248
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-

[2020-12-02 07:38] chendotjs commented on #93297
/cc

[2020-12-02 08:07] aojea commented on #97002
It seems this is the problem `failed to resolve reference "gcr.io/k8s-authenticated-test/agnhost:2.6": failed to authorize: failed to fetch oauth token: unexpected status: 403 Forbidden`

[2020-12-02 08:18] saschagrunert commented on #96803
Hey, to which one of the linked PRs are you referring to?

[2020-12-02 08:24] scrwr commented on #95727
For the sake of priority. This hit us hard these days too, as security updates for container.d triggered a restart and a ton of nodes flooded the central log management. ;)

Thanks for working hard on a fix.

[2020-12-02 08:53] matthyx opened #97007 "Enforce CPU throttling at pod level"
**What would you like to be added**:
A mechanism that enforces coherent throttling between an application container and its sidecars.

**Why is this needed**:
As seen in the talk [10 More Weird Ways to Blow Up Your Kubernetes](https://kccncna20.sched.com/event/ek9r/10-more-weird-ways-to-blow-up-your-kubernetes-jian-cheung-joseph-kim-airbnb) engineers at Airbnb have seen their application container

[2020-12-02 08:53] matthyx commented on #97007
/sig node

[2020-12-02 08:56] matthyx commented on #97007
cc @SergeyKanzhelev

[2020-12-02 09:10] RobertKielty commented on #97002
Question asked by @aojea here   https://kubernetes.slack.com/archives/C09QZ4DQB/p1606896985218000

[2020-12-02 09:47] rkachach commented on #23864
Same issue here, this feature was requested back in 2016 but it seems that no effort has been dedicated to solve it. Adding the range manually is a hassle and error prone.

[2020-12-02 11:17] moohdyy commented on #95727
Same here. Two systems were affected by automatic container.d upgrades & restarts.
But now I wonder if - generally - "unattended-upgrades" (Ubuntu 18.04) is a wise thing to do? Or should the OS for kubernetes deployments always be updated manually & controlled? I can not find best practices for this in the documentation.

[2020-12-02 11:32] pacoxu commented on #95727
After the recent CVE-2020-15257，many users will upgrade and restart containerd. It would be a big problem.

[2020-12-02 12:00] llorllale commented on #28149
It's certainly suspicious.

For instance, right now I'm creating a NodePort service. For some reason the external-ip is _not_ being set to `<nodes>`. The only lead I have so far is this error in the service's event log. Recreating the nodeport results in the same event log and `<none>` external-ip.

So, even if it isn't related at all, it is creating noise while I troubleshoot this.

[2020-12-02 13:22] Frankkkkk commented on #23864
A shame because work is on the way for port ranges on networkpolicies: https://github.com/kubernetes/enhancements/pull/2090

[2020-12-02 13:30] jsafrane opened #97014 "Fibre channel volume plugin corrupts volumes on detach"
**What happened**:
When a pod that uses a multipath Fibre Channel (FC) volume is deleted, the volume gets sometimes corrupted:

[code]

**What you expected to happen**:
No filesystem corruption.

**How to reproduce it (as minimally and precisely as possible)**:
1. Set up multipath FC volume + its PV+PVC.
2. Use it in a pod that "aggressively" writes to it (`dd if=/dev/random of=/mnt/the-mounted-vo

[2020-12-02 13:35] jsafrane commented on #97014
/sig storage
/priority important-soon

[2020-12-02 13:35] jsafrane commented on #97014
/assign

[2020-12-02 13:37] hasheddan commented on #93347
/remove-lifecycle stale

[2020-12-02 13:42] donkeyDau opened #97015 "Pod not starting: Fail to attach volume to pod"
I'm running a small cluster with Ceph. When restarting (e.g. on a deploy) of my minio pod (~250GB on the PVC) it'll hang for hours in `ContainerCreating`.

**What happened**: On restarting the minio pod: pod will no start for hours with events `Unable to attach or mount volumes: unmounted volumes=[data], unattached volumes=[data minio-token-7zfcg]: timed out waiting for the condition`. When it fin

[2020-12-02 13:44] donkeyDau commented on #97015
/sig storage

[2020-12-02 14:09] bl-ue commented on #96919
/triage excepted

[2020-12-02 14:10] bl-ue commented on #96919
/triage accepted

[2020-12-02 14:17] thejoycekung commented on #97002
Now also affecting:
- `ci-kubernetes-e2e-ubuntu-gce-containerd`
- `ci-kubernetes-e2e-ubuntu-gce`

[2020-12-02 14:19] aojea commented on #96670
the main problem is that the NodeAddress field is a minefield right now.
@danwinship is your man here @thockin , he address most issues with Node Addresses in his KEP https://github.com/kubernetes/enhancements/pull/1665/

[2020-12-02 14:26] neolit123 commented on #96991
/sig auth

[2020-12-02 14:59] michaelgugino commented on #96382
Drain implies you want everything that's running on a node to be removed, thus force is required to utilize for pods not owned by a built in controller.  "force" is probably the wrong name for the option, it should be "ok-to-remove-pods-without-replica-controller" but it's just "force."

In most cases, you will want to use the force option.

If your use case is you want to remove only pods with co

[2020-12-02 15:06] deads2k commented on #96992
the default backoff will backoff to about 15 minutes.  I think you could change the hotloop without changing the eventual consistency as a first, less controversial step

[2020-12-02 16:06] adtac commented on #96710
We believe https://github.com/kubernetes/kubernetes/pull/96984 might address the true root cause

[2020-12-02 16:06] wirwolf commented on #92638
@BenTheElder in v1.19.4 this bug already exist. After merge https://github.com/kubernetes/kubernetes/pull/92967 my node display all cpus in host machine
host mashine:
[code]
lxc container
[code]
in docker container where run kubelet
[code]
logs kubelet:
[code]

kubectl describe node node-worker-1************
[code]

[2020-12-02 16:12] adtac commented on #96710
@mborsz @RobertKielty also, AFAICT all of those failures are from before the mitigation (https://github.com/kubernetes/kubernetes/pull/96798) was merged. Testgrid has been green for the last 3 days. Not sure how many passing tests are needed to consider a flaky test to no longer be flaky -- given that it was failing once in every 3-4 tests previously, if we get 8 consecutive passes, can we close t

[2020-12-02 16:22] exdx commented on #96382
The original use case is for the user to be able to drain the node of all pods (both managed by a RS and managed by a controller) without the need for `--force` explicitly. So pods managed by custom controllers are deletable just like pods managed by built-in controllers.

This could be achieved by an additional `--force-with-controllers` flag alongside the `drain` command as you suggested. I thin

[2020-12-02 16:29] wirwolf commented on #92638
when i run kubelet in lxc container without docker I see the same logs.
[code]

[2020-12-02 16:54] howardjohn commented on #40610
Given EndpointSlice is removing `topology`, this becomes even more important, as the only source of region/zone is now the node.

[2020-12-02 17:15] ehashman commented on #96567
/remove-sig instrumentation

This is more of a SIG Node thing, they need to accept this for triage.

[2020-12-02 17:17] ehashman commented on #96483
/kind documentation
/triage accepted
/help

[2020-12-02 17:24] michaelgugino commented on #96382
I think we are in agreement here.  Maybe `--any-controller` is better than `--all-controllers`?  Anyway, I'm not too concerned with the name of the option, they are all not great names due to `--force`` existing already.

This seems like a reasonable change if you want to do a PR, I think people would probably accept it.

[2020-12-02 17:27] lavalamp commented on #81285
Audit logs are reliable (if you log everything).

This can be built with the finalizer mechanism and doesn't need to be done in-tree.

[2020-12-02 18:39] #85761 closed

[2020-12-02 18:47] joadavis commented on #96483
/assign

This should be updated in
https://github.com/kubernetes/website/blob/master/content/en/docs/reference/command-line-tools-reference/kubelet.md
as well as
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L372
(unless there is some automated process that updates the website from the options in code that I'm not aware of).

[2020-12-02 19:08] spiffxp commented on #97002
https://kubernetes.slack.com/archives/C09QZ4DQB/p1606896985218000

The project hosting the GCR repo was swept up by a security audit because it hadn't been properly accounted for.  That change has been reverted.  We should create a community-owned equivalent project, I'll open a followup issue for that

[2020-12-02 19:09] spiffxp commented on #97002
/assign @bentheelder @spiffxp
Since ownership of the project got transferred to us

@kubernetes/ci-signal I feel like this should be assigned to someone from CI signal to track the jobs going green, what's your policy for that?

[2020-12-02 19:13] justaugustus commented on #97002
@spiffxp -- CI Signal should continue to monitor.

I think since @krzyzacy restored the project, y'all are in the clear for the time being. :upside_down_face:

/assign @justaugustus @hasheddan
(Dan and I will be watching from the shadows. :))

[2020-12-02 19:24] justaugustus commented on #97002
@spiffxp -- Opened one here: https://github.com/kubernetes/k8s.io/issues/1458

[2020-12-02 19:52] hanlins commented on #95727
I see, will prioritize on the root cause and fix. At the mean time, you need to restart `kubelet` after you restart `containerd`.

[2020-12-02 20:11] WarheadsSE commented on #96858
@eddspencer We bumped into [something similar at GitLab](https://gitlab.com/gitlab-com/gl-infra/delivery/-/issues/1358#note_459061429), and went digging. We found this issue, which rang quite a few bells with what we were seeing.

In the end, testing showed that the ingress proxy itself (in our case, NGINX Ingress' own NGINX daemon) may _rightly_ hold open a connection to the original pod, re-usin

[2020-12-02 20:19] justaugustus commented on #85892
/remove-lifecycle stale

[2020-12-02 20:46] Bessonov commented on #52218
/remove-lifecycle stale

[2020-12-02 20:54] nextsux commented on #91808
/remove-lifecycle stale

[2020-12-02 21:05] lfwelty commented on #96842
fyi - we saw the same issue on k8s v1.18.10 - we reverted to k8s v1.18.9 and believe we are no longer seeing the problem.

[2020-12-02 21:45] joadavis commented on #96483
To summarize a conversation in slack, it appears there is a documented procedure for updating the website found at https://kubernetes.io/docs/contribute/generate-ref-docs/kubectl/
The procedure is long, so it is tempting to just copy in the small amount of text that was changed from options.go into a website PR rather than pulling down so many moving parts.

In any case, we likely should keep this

[2020-12-02 21:57] neolit123 commented on #96996
/sig network

[2020-12-02 22:04] adrian-gierakowski commented on #74819
/reopen

[2020-12-02 22:14] spiffxp opened #97025 "[Failing Job] periodic-kubernetes-bazel-test-1-20"
**Which jobs are failing**:
- periodic-kubernetes-bazel-test-1-20

**Which test(s) are failing**:
- N/A, job is hitting error state with "Pod pending timeout"

**Since when has it been failing**:
- Since the job was created
- First failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-1-20/1333921882407178240
- Latest failure: https://prow.k8s.io/view/gcs/kub

[2020-12-02 22:15] spiffxp commented on #97025
/sig testing
job owner
/sig release
created the 1.20 jobs

[2020-12-02 22:17] spiffxp commented on #97025
- sample failure: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-1-20/1334245926977409024
- "pod pending timeout"
- look at podinfo.json in artifacts: https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-1-20/1334245926977409024/podinfo.json
- search for containerStatuses
[code]
- So `gcr.io/k8s-testimages/launcher.gcr.io/google/

[2020-12-02 22:19] spiffxp commented on #97025
This is impacting presubmits to the 1.20 branch as well.  I'm going to manually change to use the `kubernetes-master` variant for now, and open an issue to tackle cutting a proper 1.20 variant.

[2020-12-02 22:28] spiffxp commented on #97025
Workaround PR: https://github.com/kubernetes/test-infra/pull/20100

Issue for long term fix: https://github.com/kubernetes/test-infra/issues/20101

[2020-12-02 22:57] christianh814 commented on #52326
I'm wondering if we can provide `--namespace` multiple times. Wouldn't that get rid of the issue of `turns every command into needing to run in a loop`?

[2020-12-02 23:03] spiffxp opened #97026 "Migrate private registry e2e tests away from gcr.io/k8s-authenticated-test"
Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458

Followup to https://github.com/kubernetes/kubernetes/issues/97002

The registry is used by the following kubernetes e2e tests:
- [sig-apps] ReplicaSet should serve a basic image on each replica with a private image
- [sig-apps] ReplicationController

[2020-12-02 23:07] spiffxp commented on #97026
/sig apps
test owner
/sig testing
/sig release
/area release-eng
/wg k8s-infra

[2020-12-02 23:18] spiffxp opened #97027 "Migrate kubernetes e2e tests away from use of docker.io images"
Part of umbrella to migrate kubernetes e2e test images/registries to community-owned infrastructure: https://github.com/kubernetes/k8s.io/issues/1458

The following docker.io images are used by 1.20 e2e tests
[code]

We should migrate them to community owned infrastructure (ref: https://github.com/kubernetes/sig-release/issues/1369 for deciding how to implement a mirror registry)

We should consid

[2020-12-02 23:18] spiffxp commented on #97027
/kind cleanup

[2020-12-02 23:27] justaugustus commented on #97027
/triage accepted
/help
cc: @kubernetes/release-engineering @wilsonehusin

Give a shout if any of you are interested in working on this!

[2020-12-02 23:29] wilsonehusin commented on #97027
I'm in!

/assign

[2020-12-02 23:43] wilsonehusin commented on #96475
Seems like there has been a similar effort to mitigate this by @smarterclayton in https://github.com/kubernetes/kubernetes/pull/93510, which I think would solve my use case as well (no need to care about the list of registries if I can override globally!)

[2020-12-03 00:29] SergeyKanzhelev commented on #63126
Fixed via https://github.com/kubernetes/kubernetes/pull/94444

/close

[2020-12-03 00:29] #63126 closed

[2020-12-03 00:51] robscott commented on #94496
Went GA in 1.20, still need to remove gate in 1.21.
/remove-lifecycle stale

[2020-12-03 01:06] stefanlasiewski commented on #87615
Backporting this to at least 1.19 would be great since that will make the fix available relatively soon. I suspect some people will hold off on 1.20 due to the deprecation of Docker.

[2020-12-03 01:17] liggitt commented on #87615
That has already been done.

Nothing has changed in 1.20 with respect to docker other than a deprecation warning. At the *end* of the deprecation period, dockershim support will be removed.

[2020-12-03 01:48] hanlins commented on #95727
Had another round of debugging, and made one step towards the root cause. I added following snipple to the [original hack](https://github.com/kubernetes/kubernetes/blob/v1.19.3/vendor/google.golang.org/grpc/internal/transport/http2_client.go#L138-L143) as I mentioned in previous [comment](https://github.com/kubernetes/kubernetes/issues/95727#issuecomment-719853160):
[code]
When I reproduced the er

[2020-12-03 02:18] chenyw1990 commented on #96980
I think the bug is fixed in PR https://github.com/kubernetes/kubernetes/pull/96849
can you merge the patch to your code, and test again.

[2020-12-03 02:21] lingsamuel commented on #96912
Crontab `@` syntax is nonstandard. On the wiki page it appears in

section.

[2020-12-03 02:40] JornShen opened #97030 "[Failing Test] [sig-apps] ReplicaSet should serve a basic image on each replica with a private image"
**Which jobs are failing**:

e2e-gce-ubuntu-containerd

**Which test(s) are failing**:

Kubernetes e2e suite: [sig-apps] ReplicaSet should serve a basic image on each replica with a private image

**Testgrid link**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/96903/pull-kubernetes-e2e-gce-ubuntu-containerd/1334289014194180096/

**Reason for failure**:

[code]

**Anything else we

[2020-12-03 02:42] JornShen commented on #97030
/sig apps

[2020-12-03 02:44] JornShen commented on #97030
same as https://github.com/kubernetes/kubernetes/issues/97002

/close

[2020-12-03 02:45] #97030 closed

[2020-12-03 02:51] yqwang-ms commented on #81285
Do you mean the finalizer controller needs to parse the audit log?

Anyway, seems even log are besteffort, as they are aysnc write to disk, so if the writer process or the whole node unexpectedly shutdown, the log will lost

[2020-12-03 02:54] justaugustus commented on #94013
/reopen

Reopening this as the intent around requesting @pires open this was to discuss how we communicate infrastructure changes to consumers i.e., future improvements

We'll pick up this discussion in 1.21
/milestone v1.21
cc: @kubernetes/sig-release-leads

[2020-12-03 03:00] Jiawei0227 opened #97031 "Pod stuck in terminating when subPath was deleted in azure fileshare"
**What happened**:
I was running the subpath testsuite against Azurefile.
This test failed and can be easily reproduced:
`should be able to unmount after the subpath directory is deleted [LinuxOnly]`

Basically what this test does is:

1. Create a PVC use azurefile
2. Create a pod that has two containers. One of it mounts the volume itself. The second container mounts the subpath of the volume.
3.

[2020-12-03 03:01] Jiawei0227 commented on #97031
/sig storage
/cc @msau42 @jingxu97
/cc @andyzhangx

[2020-12-03 03:05] Jiawei0227 commented on #97031
1. kubelet log
[code]

After debugging with @msau42 and @jingxu97 offline, the issue is that:

After the dir from the subpath was removed, the subpath mountpoint on the host machine becomes into a weird state where you can still find the dir by doing a readdir to its parent. But doing os.stat or something like that will result in a "No such file or directory".

When you do a ls on the path:
[code]

[2020-12-03 03:09] msau42 commented on #97031
@kubernetes/sig-storage-bugs

[2020-12-03 03:09] msau42 commented on #97031
/triage accepted

[2020-12-03 03:11] Jiawei0227 commented on #97031
So the issue from code is that
https://github.com/kubernetes/kubernetes/blob/5b8c3b90f3c74ba79f4bfa5be560d011694a7da0/staging/src/k8s.io/mount-utils/mount_helper_common.go#L33

It will fail the path exists check while the actual mountpoint exists. So when the code logic runs to here:
https://github.com/kubernetes/kubernetes/blob/978233775e742fcd1f810ced72c9948bc67427cc/pkg/volume/util/subpath/subp

[2020-12-03 03:20] halfcrazy opened #97032 "[apimachinery] ListOptions add a new option for metadata only"
**What would you like to be added**:
I would like to count the objects with list API and I don't care about the object content eg spec or status.
I found kubectl has a similar strategy, it will set a header of `-H "Accept: application/json;as=Table;v=v1beta1;g=meta.k8s.io, application/json"` and then the server will return metadata only.

https://github.com/kubernetes/kubernetes/blob/master/stagin

[2020-12-03 03:22] justaugustus commented on #94013
/triage accepted

[2020-12-03 03:23] halfcrazy commented on #97032
/sig api-machinery

[2020-12-03 03:36] hzxuzhonghu commented on #40610
Any links? @howardjohn

[2020-12-03 03:39] howardjohn commented on #40610
https://opensource.googleblog.com/2020/11/kubernetes-efficient-multi-zone.html, https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2030-endpointslice-subsetting, and https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/2086-service-internal-traffic-policy/README.md

After thinking about it a bit more I don't think it is directly related to this issue though

[2020-12-03 03:45] gavinfish commented on #75601
/remove-lifecycle stale

[2020-12-03 03:54] smarterclayton commented on #97002
Hrm, I'm seeing this fail still in downstream repo tests.  Are the tests injecting a secret (the only hardcoded GCR secret I see is in `k8s.io/kubernetes/test/e2e/common/runtime.go` but that is not called by those referenced tests), or is the auth rule on this repo limited to a set of projects now vs all projects on GCP before (since these tests passed in our GCP projects yesterday but not now, af

[2020-12-03 04:07] halfcrazy commented on #97032
I found this pkg "k8s.io/client-go/metadata".

[2020-12-03 04:07] #97032 closed

[2020-12-03 04:30] abdennour commented on #45300
it should be implemented in a plug-gable/reusable way.
it should be:
- Operator
- or helm chart

If it's a helm chart, i can help by designing the default `values.yaml` :

[code]
A helm chart with this design must do the following:
1. Create a "operator container" which watches to all pods with the specified labels.
2. the "operator container" must run some prerequisites checks :
    - If `.Values

[2020-12-03 04:38] arjunagl commented on #95488
/assign

[2020-12-03 05:03] apelisse commented on #90066
Yeah, you unfortunately need write permissions to do that :-(

[2020-12-03 05:05] apelisse commented on #90066
@knight42 is now working on the ability to hide managedFields, server-side, given a new accept header.

[2020-12-03 05:32] lungosta commented on #78761
if I'm understanding the issue with hpa and deployments properly, deployments within the cluster cannot share selectors and/or labels, in my case I have several deployments with completely different selectors but they all share a label in common which is being used for the pod identity in AKS, which I think it might be causing the issue with the hpa scale down. Removing this common label is not op

[2020-12-03 05:47] samdgoyal123 commented on #96859
Hi all,

Any update on this ?

[2020-12-03 05:49] gondaz commented on #60807
For all the googlers who bumped into stuck namespaces at Terminating on Rancher specific namespaces (e.g cattle-system), the following modified command (grebois's original) worked for me:

[code]

[2020-12-03 07:35] shekhar-rajak commented on #96912
Thanks @lingsamuel for clarification.

[2020-12-03 07:38] olemarkus commented on #96799
I really cannot reproduce this anymore. If there is no intention for kube-apiserver to trust its own CA, just close this one. Sorry for the inconvenience.

[2020-12-03 07:41] shekhar-rajak commented on #96912
Is it good idea to have some common Non Standard scheduling expressions like monthly, daily, yearly, reboot something  ?

[2020-12-03 07:47] lingsamuel commented on #96912
/remove-kind support
/kind feature

[2020-12-03 07:50] JornShen commented on #96908
/assign
/triage accepted

I'll take a look at them and fix.

[2020-12-03 08:01] lingsamuel commented on #96912
Init containers can do the work you want (run job when pod restart), I don't think its a cronjob matter.

`@reboot` means a system-wide reboot. But I can't find any use case because things in k8s is declarative...
Others like `@daily` we could just use its equivalent (`0 0 * * *`).

[2020-12-03 08:02] hanlins commented on #95727
EOD updates:

1. The issue is indeed caused by cadvisor, reproduced the issue in this [repo](https://github.com/hanlins/k8s-95727).
2. The confusing timeout in log should be [this one](https://github.com/containerd/containerd/blob/v1.3.3/pkg/dialer/dialer.go#L77).
3. The root cause might be a bug for using context that already exceeded deadline in cadvisor. To validate that, I need to explore all

[2020-12-03 08:03] pacoxu commented on #96912
it is similar to a daemon job， which would run on every node，and will be triggered after os/docker starts up.
If the RestartPolicy of the job container is set to restart：Always， it would work？

I use compose to do similar thing before， and run an agent pod on a server which will start automaticly on reboot.

[2020-12-03 08:48] JarnoRFB commented on #93019
I think that describes the use case and the problem very well. Two alternative solutions that I have found, would be

1. Automatic removal of PVCs created by StatefulSet https://github.com/kubernetes/enhancements/pull/1915 (currently a proposal)
2. Generic ephemeral volumes https://kubernetes.io/docs/concepts/storage/ephemeral-volumes/#generic-ephemeral-volumes (currently in alpha stage in kuberne

[2020-12-03 09:00] robincher commented on #73297
Running on EKS 1.17 , and somehow i am unable to register a 443 TLS listener for NLB.

Anybody facing the same issue?

[code]

[2020-12-03 09:07] raphaelauv commented on #94517
/remove-lifecycle stale

[2020-12-03 09:23] ScrapCodes commented on #94718
This is still flaking, latest failure: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1909/1333740683256664064

[2020-12-03 09:30] chinazj commented on #94990
it should be fixed #82090

[2020-12-03 09:31] #94990 closed

[2020-12-03 10:10] max-rocket-internet commented on #92137
/remove-lifecycle stale

[2020-12-03 10:42] ScrapCodes opened #97038 "[Flaky Test] [sig-node] NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]"
**Which jobs are flaking**:

conformance-ga-only

kind-master-parallel

**Which test(s) are flaking**:
[k8s.io] [sig-node] NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]

**Testgrid link**:
https://testgrid.k8s.io/conformance-all#conformance-ga-only
https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel

**Reason for

[2020-12-03 10:56] ScrapCodes commented on #94931
Hi All, I have updated the issue with more recent failures.

@kubernetes/sig-node-bugs gentle ping !

[2020-12-03 10:56] ScrapCodes commented on #97038
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/94931

[2020-12-03 10:56] #97038 closed

[2020-12-03 11:00] ScrapCodes opened #97039 "[Flaky Test][sig-scheduling] SchedulerPreemption [Serial] validates lower priority pod preemption by critical pod [Conformance]"
**Which jobs are flaking**:
conformance-ga-only
**Which test(s) are flaking**:
[sig-scheduling] SchedulerPreemption [Serial] validates lower priority pod preemption by critical pod [Conformance]
**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only
**Reason for failure**:
[code]

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
   * ht

[2020-12-03 11:45] ScrapCodes opened #97040 "[Flaky Test] k8s.io/kubernetes/test/integration/storageversion.TestStorageVersionBootstrap "
**Which jobs are flaking**:
integration-master
**Which test(s) are flaking**:
k8s.io/kubernetes/test/integration/storageversion.TestStorageVersionBootstrap 
k8s.io/kubernetes/test/integration/storageversion: TestStorageVersionBootstrap/before_storage_version_update
k8s.io/kubernetes/test/integration/storageversion: TestStorageVersionBootstrap/before_storage_version_update/write_to_CR_should_pass

[2020-12-03 12:15] justaugustus commented on #97002
I'll leave it to Ben or Aaron to report on what permissions are configured on the repo (as they now have access to it).

[2020-12-03 12:47] justaugustus commented on #97027
/remove-help

[2020-12-03 13:01] chenyw1990 opened #97041 "The CPU usage of kube-apiserver is too high when time jump to future"
**What happened**:
When the time of the node where kube-apiserver resides is adjusted to the future time, the CPU usage of kube-apiserver becomes too high. and the apiserver_flowcontrol_read_vs_write_request_count_watermarks_bucket metric distortion.
I will add more info later.

cpu usage when time change to futrue：
![cpu_usage](https://user-images.githubusercontent.com/1468240/101024848-a9d83580-

[2020-12-03 13:02] chenyw1990 commented on #97041
/sig api-machinery
/assign

[2020-12-03 13:31] adacaccia commented on #81089
I'll bake SSH keyfiles in the image for the time being, as the InitContainer is way too difficult to get working: got some stupid "cp: missing argument" error, without any way of debugging it!

I'll repeat here for clarity: we as Kubernetes users do really need a feature to impose specific (while POSIX-compliant) UID/GID to mounted files from secrets/configMaps/volumes.

[2020-12-03 13:54] Feder1co5oave commented on #40610
@steffeneichler

This is what I had to do to implement rack-awareness for elasticsearch in kubernetes:

Add rack awareness in elasticsearch.yml:
[code]

Label my nodes with their rack-information:
[code]

Extract node information via kubectl, and export them to elasticsearch via env variable:
[code]

Aaaaand of course you need RBAC to allow the serviceaccount to extract node information:
[code]

Y

[2020-12-03 13:58] chenyw1990 commented on #97041
this bug has fixed in https://github.com/kubernetes/kubernetes/pull/96530
so closed

[2020-12-03 13:58] #97041 closed

[2020-12-03 14:11] kifeo commented on #87491
it seems this is related to an issue with the cephfs mount :
total 0
d????????? ? ? ? ?            ? pvc-15af5573-656f-4a1a-b111-b824939e9359

[2020-12-03 14:11] yangjinlogic opened #97043 "Could not resolve host: kubernetes.default.svc.cluster.local; Unknown error"
The version is 1.18
I use " kubectl exec -i -t dnsutils -n kube-system -- nslookup kubernetes.default" can get
Server:		10.96.0.10
Address:	10.96.0.10#53

Name:	base-page.default.svc.cluster.local
Address: 10.96.245.157

but I  "curl kubernetes.default.svc.cluster.local"
 show this

 Could not resolve host: kubernetes.default.svc.cluster.local; Unknown error

can you help me ? please

[2020-12-03 15:22] rcny commented on #30656
With planned Docker deprecation and subsequent removal, when will be this addressed? Ephemeral containers are still alpha. What is the stable alternative without using Docker as CRI?

[2020-12-03 15:33] gjcarneiro commented on #30656
Besides being alpha, ephemeral containers is a lot more complicated to use than simply `kubectl exec --user` would be.

[2020-12-03 15:41] hasheddan commented on #97002
As best as I can tell here, we aren't using any imagePullSecrets for the Pods https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/test/e2e/apps/replica_set.go#L98

So that likely means that the [service account](https://github.com/kubernetes/test-infra/blob/fe388a94a619932ffeac60d2e024005831507457/config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml#L474) t

[2020-12-03 15:54] hasheddan commented on #97002
@spiffxp I think we likely just need to add permissions to `prow-build@k8s-infra-prow-build.iam.gserviceaccount.com` to access the bucket in the restored project where the GCR images are hosted.

[2020-12-03 16:17] throrin19 commented on #74741
Same problem Here. If it's fixed, what is the modification to make to our cronJobs ?

[2020-12-03 16:26] gavinfish opened #97048 "Scheduler: Stop swallowing invalid healthz and metrics address for scheduler config"
**What would you like to be added**:

When scheduler config provides invalid healthz and metrics address, instead of swallowing the invalid config by setting a default value for it, it is better to just throw the error. And in validation, we have already had validation for this cases. So what I want to achieve here is that skipping to set default value for healthz and metrics address in v1beta2 wh

[2020-12-03 16:28] gavinfish commented on #97048
/sig scheduling

[2020-12-03 16:38] dims commented on #96564
@ptabor ran into an issue trying to update etcd to newer grpc - https://github.com/etcd-io/etcd/pull/12398#discussion_r505322880

(thanks to @btl5037 for pointing this out)

[2020-12-03 16:41] neolit123 commented on #97002
i confirm that these two tests are flaking a lot and blocking presubmits
xref
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-ubuntu-containerd
https://github.com/kubernetes/kubernetes/pull/97016

[2020-12-03 16:42] hagel86 commented on #68211
Any reason this was closed? Looks like it's still an issue.

[2020-12-03 16:43] alculquicondor commented on #97048
/remove-kind feature
/kind cleanup

[2020-12-03 16:44] alculquicondor commented on #97048
Please mention v1beta2 in the description.

[2020-12-03 16:49] dionysius opened #97050 "CRI: More flexibility for CRI shims"
[Since kubernetes drops support to "direct" docker in 1.20](https://twitter.com/Dixie3Flatline/status/1334188913724850177), how much "dockerness" will be removed with it? Can we please talk about giving CRI more responsibility and remove various pre-decisions in the kubernetes code?

**What would you like to be added**:
- Remove hard-coded ignore of hostname when `hostNetwork=true`: https://github

[2020-12-03 16:51] dionysius commented on #97050
/sig node

[2020-12-03 16:56] stevelacy commented on #73297
@robincher
This is what I have on EKS 1.17 (recent install)
[code]
Note: Quote the values

[2020-12-03 16:59] spiffxp commented on #97026
/triage accepted
/priority important-soon

[2020-12-03 17:08] duxinxiao commented on #94445
I'm facing this issue to. Don't really get the meaning of unit "m"

[2020-12-03 17:12] kfox1111 commented on #89911
/reopen
/remove-lifecycle rotten

[2020-12-03 17:22] lavalamp commented on #94445
Yes, "m" is milli-, the SI prefix meaning 1/1000. (And of course, it's easily confused with capital "M" which is mega-, or 1,000,000-- that makes it extra confusing.)

I think the only thing that can be done here is resource-specific rounding (millibytes make no sense for modern computer systems but millicores do) in targeted places, but even that is very difficult to do while preserving user inpu

[2020-12-03 17:31] champtar opened #97052 "kube-proxy IPVS tries to load nf_conntrack_ipv4 on RedHat 8.3+"
**What happened**:
kube-proxy IPVS tries to load nf_conntrack_ipv4 on RedHat 8.3+ (so soon on CentOS ;) )
RedHat 8.3 has kernel 4.18 with many backports, including nf_conntrack_ipv4 removed/merged into nf_conntrack
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/8.3_release_notes/new-features#enhancement_networking

**What you expected to happen**:
kube-proxy (and kub

[2020-12-03 17:42] kinghrothgar commented on #95258
It does not look like I can test this easily. The version of portmap GKE 1.16 is currently using is different enough that placing the new portmap binary breaks basic functions:

[code]

If anyone has suggestions on how I can easily test this I will.

[2020-12-03 17:47] kinghrothgar commented on #95258
As @AnishShah tested this as stated here https://github.com/containernetworking/plugins/pull/553#issuecomment-737287696, I will assume this issue is indeed fixed. Once a new release version of plugins is cut, I will reach out to Google to see when a release of GKE can be put out that contains the fix.

[2020-12-03 17:47] #95258 closed

[2020-12-03 17:59] lavalamp commented on #60807
Folks, just FYI, when the video for this [kubecon talk](https://kccncna20.sched.com/event/ekGp/into-the-deep-waters-of-api-machinery-federico-bongiovanni-daniel-smith-google-david-eads-stefan-schimanski-red-hat) is out I plan to link to it and some of the helpful comments above, and lock this issue.

[2020-12-03 18:02] spiffxp commented on #97002
Now that I have access to the project, I'm working on restoring permissions.  I had hoped this would be a 10min fix, but it's taking longer than I expected.  I can currently list the backing bucket, but cannot list images.

[2020-12-03 18:04] spadgett commented on #83961
/reopen
/remove-lifecycle rotten

[2020-12-03 18:07] apelisse commented on #94585
/wg api-expression

[2020-12-03 18:08] lavalamp commented on #94585
/sig api-machinery

[2020-12-03 18:09] apelisse commented on #94585
It looks like a duplicate of: #82046

[2020-12-03 18:11] inductor commented on #94585
https://github.com/kubernetes/kubernetes/issues/82046

[2020-12-03 18:34] oomichi commented on #97039
@ScrapCodes Thanks for reporting this.
I checked the conformance test code and the specified timeout doesn't seem good by comparing the other callers of e2epod.WaitTimeoutForPodRunningInNamespace().
I submitted the above PR for making the timeout longer like the other callers.
Happy if you take a look at that.

[2020-12-03 18:44] huffmanca opened #97054 "Make CSIDriver FSGroupPolicy mutable"
Currently if we want to change the FSGroupPolicy value in the CSIDriver.Spec, we have to delete and recreate the CSIDriver. This is not ideal, and we should look into making this value mutable.

[2020-12-03 18:44] huffmanca commented on #97054
/assign
/sig storage

[2020-12-03 18:47] celestehorgan commented on #90277
Hi all,

There's a PR open for a recommendation on this here: https://github.com/kubernetes/community/pull/5341.

@Capstan – WG Naming has already more or less reached consensus on this, so I think you're good to start a PR and we can merge it once the recommendation merges.

[2020-12-03 18:51] harshanarayana commented on #90485
/remove-lifecycle stale

[2020-12-03 18:51] jef commented on #74099
Not fixed, please reopen!

[2020-12-03 19:07] mikecali opened #97055 "Kubelet failed to start due to errors when invoked via kubeadm"
**What happened**:
Trying to deploy kubernetes Cluster on my local machine using kubeadm following below

- install via yum - kubeadm, kubectl, kubelet
- install crio
- make sure selinux, all modules are enabled as per documentation
- start crio
- start kubelet
- swapoff -a
- kubeadm init --cri-socket /var/run/crio/crio.sock

**What you expected to happen**:

I expect to have a running cluster on

[2020-12-03 19:27] spiffxp commented on #97002
In the event that I can't get this done expediently for release, I think the release team should consider some alternatives.

In order of my personal preference
1. disable the tests for 1.20/master by adding a `[Feature:TemporarilyDisabled]` tag (quickest/minimal change)
2. setup a new registry and migrate the tests to that (release branches and downstream users will remain broken)
3. ignore the f

[2020-12-03 19:51] palnabarun commented on #95707
Hi 👋🏽, we already past the code freeze for v1.20 and the release is due next week. At this point in time, we are considering only changes which are release blocking. Hence, I am removing this from the v1.20 milestone.

Please feel to ping us on `#sig-release` if you feel otherwise.

/milestone clear

[2020-12-03 19:52] jsturtevant commented on #64801
/remove-lifecycle stale

[2020-12-03 19:57] ryanc-me commented on #81089
@adacaccia which `initContainer` example did you use? I've updated the one I [posted above](https://github.com/kubernetes/kubernetes/issues/81089#issuecomment-716804648). The extra `args:` lines should fix your cp error, and it's also printing some debug info now. View debug info with `kubectl logs <your-pod-id> -c fix-permissions`.

I hate to be pedantic, but IMO storing keyfiles in Docker images

[2020-12-03 20:03] #92769 closed

[2020-12-03 20:07] yuga711 commented on #96940
Recently, this test seems to be failing always

[2020-12-03 20:27] spiffxp commented on #97002
OK, thanks to some help from @amwat I am now able to list images with my google account
[code]

[2020-12-03 20:50] AndrewSav commented on #60807
@lavalamp do you have to pay for the video? If not, how do you access it?

[2020-12-03 20:56] spiffxp commented on #97002
There are no specific permissions on the bucket for a service account

Without docker configured for auth:
[code]

Configuring docker to use my personal gcloud account for auth (which has no explicit permissions to this registry):
[code]

So this may be enough to unblock tests

[2020-12-03 20:57] cbf123 commented on #93691
I have not...unfortunately upstream projects like openstack-helm make extensive use of subpath, and it's not reasonable for us to change all of them.

[2020-12-03 20:58] joshfix commented on #94301
+1 This would be super useful.

[2020-12-03 21:06] cbf123 commented on #68211
It was closed because https://github.com/kubernetes/kubernetes/pull/89629 was submitted against the development branch.  But you're still going to see the problem on older versions unless a fix is backported.

And as I mentioned in https://github.com/kubernetes/kubernetes/issues/93691 I think the backport to 1.18.1 was buggy, which makes me wonder about other versions.

[2020-12-03 21:09] fedebongio commented on #83961
/triage accepted

[2020-12-03 21:09] neolit123 commented on #97055
running with swap enabled your host is unsupported by k8s.
https://www.tecmint.com/disable-swap-partition-in-centos-ubuntu/

alternatively pass --fail-swap-on=false to the kubelet.

i don't know if minikube is passing the above flag, but the maintainers at #minikube on k8s slack should know.

/remove-kind bug
/kind support
/close

[2020-12-03 21:10] #97055 closed

[2020-12-03 21:10] fedebongio commented on #96842
/help

[2020-12-03 21:11] neolit123 commented on #97055
for general support questions you could check with other users at the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-12-03 21:11] fedebongio commented on #96862
/triage accepted

[2020-12-03 21:12] neolit123 commented on #97043
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you find a confirmed bug, open a new issue.

thanks
/kind support
/close

[2020-12-03 21:12] fedebongio commented on #96886
/cc @jingyih
/triage accepted

[2020-12-03 21:12] #97043 closed

[2020-12-03 21:12] fedebongio commented on #96893
/triage accepted

[2020-12-03 21:12] neolit123 commented on #97052
/sig network

[2020-12-03 21:12] fedebongio commented on #96896
/cc @sttts
/triage accepted

[2020-12-03 21:18] fedebongio commented on #96910
/cc @leilajal
/triage accepted

[2020-12-03 21:18] rikatz commented on #23864
Hello,

As the original author of the mentioned Kep, I'm going to take a look into this issue, but some points to consider:

* Because of the nature of Services, I think this would be pretty hard, as you can have a Service with ClusterIP pointing to a different target port, so how would be the following use case covered in portRange:

[code]

Maybe if the idea is only to make a from:to mapping wit

[2020-12-03 21:18] fedebongio commented on #96940
/cc @adtac
/triage accepted

[2020-12-03 21:19] fedebongio commented on #96942
/help
/triage accepted

[2020-12-03 21:20] fedebongio commented on #96957
/help
/triage accepted

[2020-12-03 21:22] fedebongio commented on #97041
/triage accepted

[2020-12-03 21:22] fedebongio commented on #97032
/triage accepted

[2020-12-03 21:22] fedebongio commented on #96977
/triage accepted

[2020-12-03 21:22] fedebongio commented on #96848
/triage accepted

[2020-12-03 21:23] rikatz commented on #94495
/triage accepted
@smarterclayton as this FG is scheduled to be moved to GA in v1.21, do you want to tackle on this?

[2020-12-03 21:30] rikatz commented on #97052
Hello @champtar

Can you, anyway confirm that when the other modules are loaded?

Per the [code](https://github.com/kubernetes/kubernetes/blob/38f5dc8e7b75c16db29105b7c2314bfd3100840d/pkg/util/ipvs/ipvs.go#L129) yes, it checks if the kernel is less then 4.19 and loads the "nf_conntrack_ipv4" so this needs to be reverified.

[2020-12-03 21:45] spiffxp commented on #97002
I'm starting to see passes for presubmits that were affected by this, looking at https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&job=pull-kubernetes-e2e-gce-ubuntu-containerd

 e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/97020/pull-kubernetes-e2e-gce-ubuntu-containerd/1334589100509892608/

[2020-12-03 21:55] #96833 closed

[2020-12-03 22:30] aojea commented on #82125
/remove-lifecycle rotten
/lifecycle frozen

[2020-12-03 23:38] bevank commented on #94301
+1

[2020-12-03 23:40] Capstan commented on #90277
Thanks, @celestehorgan. To set expectations, I am not a maintainer, and I have Q4 commitments to tend to, but would be happy to start submitting PR(s) in late December.

[2020-12-03 23:52] JonathanRRogers commented on #81089
BTW, I have a script and container image at https://github.com/JonathanRRogers/secret-syncer that should be usable in an initContainer. The secret-syncer image is very small since it's based on the busybox image and should be easy to use. For example, if your daemon runs as UID 500 and GID 500:
`initContainers:
- name: fix-permissions
  image: jonathanrrogers/secret-syncer
  args: ["-u500", "-g500

[2020-12-04 00:05] #96955 closed

[2020-12-04 00:23] lavalamp commented on #81285
No, audit log is a separate mechanism.

A finalizer on the object prevents it from finishing the deletion process and being removed, until your controller removes the finalizer. You could have your controller record any fact you like about the pod first.

How much certainty do you need here? Audit logs are for doing audits for compliance etc. Do you need really more certainty than that? And you ca

[2020-12-04 01:16] hanlins commented on #97050
cc @dims

[2020-12-04 01:22] yuga711 commented on #95600
Looks like all recent failures show they are failing under azure-provider: https://testgrid.k8s.io/provider-azure-periodic#cloud-provider-azure-multiple-zones .

The failure logs show authorization problems while attaching the disk.

[code]

@andyzhangx

[2020-12-04 01:27] msau42 commented on #95600
I don't think the release team checks those jobs. Can you look at https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel-1-18/1332519126173749248?

[2020-12-04 01:29] yuzhiquan commented on #96957
/assign

[2020-12-04 01:31] jackfrancis opened #97060 "Eliminate the assignment of a default timeoutSeconds value for livenessProbes"
**What would you like to be added**:

I'd like to advocate that we remove the assignment of a default value to the `timeoutSeconds` `livenessProbe` exec configuration (if there is a similar default assigned to the http(s) probe config the same idea applies). The immediate danger we see building Kubernetes platforms and working with cluster operators is that 1 second is an aggressive timeout (there

[2020-12-04 01:32] jackfrancis commented on #97060
/sig node

[2020-12-04 01:46] spiffxp commented on #97026
It's worth reconsidering whether these test have value as currently written

https://github.com/kubernetes/kubernetes/blob/a744bddbf497ab718a40bee1c730e7e848e471ed/test/e2e/apps/rc.go#L68-L73:
- if someone mirror this image into a public registry, they'll still pass
- they don't run unless the [e2e test framework's provider](https://github.com/kubernetes/kubernetes/blob/a744bddbf497ab718a40bee1c73

[2020-12-04 01:49] spiffxp commented on #97002
I'm questioning whether we even want to keep these tests around (ref https://github.com/kubernetes/kubernetes/issues/97026#issuecomment-738500525) but I don't think that needs to happen for v1.20.0

[2020-12-04 01:57] neolit123 commented on #97060
it's important to note that currently all probe types (liveness, rediness, startup) are based on the same v1.Probe object:
https://github.com/kubernetes/api/blob/master/core/v1/types.go#L2275-L2293.

so the defaulting of values such as `timeoutSeconds` happens the same for all of them:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/defaults.go#L233-L235
and is auto-generated

[2020-12-04 02:10] yqwang-ms commented on #81285
But anyway, to know the pod deletion reason should be a common request, why we do not want support a **Stop Pod** API like all other system such as docker, to resolve this.
Depends on log seems not to be the final solution, right?

[2020-12-04 02:25] stefanlasiewski commented on #52326
@christianh814 No, this isn't possible for reasons stated in #71032. It's an oft-requested feature. I came here to see if it was supported yet, and just happened to see your comment.

If you use `kubectl --namespace=ns1 --namespace=ns2 ...` it will only show you the resources in `ns2`.

[2020-12-04 02:48] yuga711 commented on #95600
ha ok!! Thanks. Looking at the failure logs, I think the issue needs to be looked from the pod lifecycle pov.

The test seems to be failing when it couldn't satisfy the condition at: https://github.com/kubernetes/kubernetes/blob/a744bddbf497ab718a40bee1c730e7e848e471ed/test/e2e/framework/pod/wait.go#L276

From the logs, the PVC deletion seems to have caused the expected failure during pod creation

[2020-12-04 03:10] #92820 closed

[2020-12-04 03:27] #96362 closed

[2020-12-04 03:27] imyashvinder commented on #96362
Closing it

[2020-12-04 03:44] yuanhuaiwang opened #97061 "add resource label on inflight metric"
**What would you like to be added**:
add label on metric apiserver_current_inflight_requests , for example:resource,verb

**Why is this needed**:
if the apiserver_current_inflight_requests is high and cause system abnormal， the cluster administrator wants to known which resource or verb requests is the reason

[2020-12-04 03:47] yuanhuaiwang commented on #97061
/sig api-machinery
/wg api-machinery
/committee api-machinery

[2020-12-04 03:52] yuanhuaiwang commented on #97061
/assgin @wojtek-t

[2020-12-04 03:53] yuanhuaiwang commented on #97061
/assign @wojtek-t

[2020-12-04 03:56] yuanhuaiwang commented on #97061
/unassign @wojetk-t

[2020-12-04 03:58] yuanhuaiwang commented on #97061
/unassign @wojtek-t

[2020-12-04 03:59] yuanhuaiwang commented on #97061
cc @wojtek-t @smarterclayton @lavalamp @gmarek

[2020-12-04 04:02] yuanhuaiwang commented on #97061
@liggitt  what do you think this suggestion

[2020-12-04 04:13] kong62 commented on #67730
can not access  127.0.0.1:NodePort
[code]

[code]

test:
[code]

[2020-12-04 04:21] robincher commented on #73297
Hi @stevelacy ,thanks i tried that and still getting only the default Listener on port 80.

I suspect that my EKS cluster are having issue reading the acm.

May i know , if you are using AWS certificate manager, do you attached any specific IAM policies to EKS the node or cluster IAM role?

[2020-12-04 06:07] theunrealgeek commented on #96717
@cmluciano Since @FreeZhang61 assigned it to himself, I moved on :sweat_smile: However if it is still up for grabs, I can spend some time this coming weekend

[2020-12-04 06:20] guch-gh commented on #85761
same issue.

[2020-12-04 06:23] vladimirfx opened #97062 "Reference Secrets and ConfigMaps from Secret"
**What would you like to be added**:
It would be useful  to have a way to reference Secrets from Secret definition.

[code]
**Why is this needed**:

Thankfully to broad adoption of Operator pattern and packing tools like Helm operators needs to compose higher level components instead of low level (Deployment, Pods, etc). In such composition is vital ability to map config data from one format to an

[2020-12-04 06:52] vladimirfx commented on #97062
sig/apps

[2020-12-04 07:04] yuzhiquan commented on #96957
/triage accepted

[2020-12-04 07:08] yuanhuaiwang commented on #97061
/help

[2020-12-04 07:38] yuzhiquan commented on #96842
/cc

[2020-12-04 07:43] pacoxu commented on #97062
If the original configMap changed, what would be the behavior ?
It should be a static data after creating, or a runtime data during mounting to pod.

A workaround would be `update the helm values according to a cluster and helm install it in the cluster ` . A post-install  Job in helm would help as well.

[2020-12-04 08:03] vladimirfx commented on #97062
If any source changes resulting secret should change too. It is whole point such functionality to not manage already managed data. I need a mapper from one source to another.

I do not understand how values or post install job may help.
Example: some chart requires secret name (eg database connection configuration such as db name, user, pass), that secret must be in required format. I have require

[2020-12-04 08:17] bnutt commented on #66306
Recently observed this on EKS 1.17, is there any movement to address this issue?

Steps to reproduce:

1. Create kubernetes service with annotations to create NLB and type internal(did not try to reproduce with public facing loadbalancer).
2. After loadbalancer is provisioned, remove annotations for NLB/type internal. ELB will be created at this point and the NLB will not be removed.
3. Add annota

[2020-12-04 08:18] wirwolf opened #97066 "Node cpu capacity inside limited LXD container detected wrong in 1.19"
**What happened**:
When installing node in LXD container with limited CPU, kublet detect all CPUs  after merge https://github.com/kubernetes/kubernetes/pull/92967
**What you expected to happen**:
Node cpu capacity should be detected correctly inside limited LXD container.

**How to reproduce it (as minimally and precisely as possible)**:
1. Limit LXD container that is used as k8s node:
[code]
2. C

[2020-12-04 08:33] wirwolf commented on #97066
/sig node

[2020-12-04 08:57] zhutongcloud commented on #96449
yeah, I also find there's  a known bug with IPv6 + Centos 7 on IPvs,so I  now test IPv6 function on v1.19.0

[2020-12-04 09:03] steffeneichler commented on #40610
Hi @Feder1co5oave,

I found this way too. But this is a very ugly way. The best way would be to propagate the node topoloy information to the pods like the nodename.

[2020-12-04 09:38] xplodwild commented on #30656
Another usecase for this is manually executing scripts in containers. For example, NextCloud's `occ` maintenance script requires to be ran as www-data. There is no `sudo` or similar in the image, and the doc advise to use `docker exec -u 33` when in a Docker environment.

[2020-12-04 09:48] MarryZhang opened #97067 "who use apiserver endpoints?"
HA apiserver can use ngx implementation，Who does the API Server endpoints serve?

[2020-12-04 09:53] morremeyer commented on #30656
You can solve the problem with nextcloud by running

[code]

But this is not ideal.

[2020-12-04 10:44] steffakasid commented on #65569
We experience this issue to on K8s 1.16 on AWS EKS. For us it looks like mostly only pods with a PVC are affected. Other pods are delete correctly. If we force kill  the pods `kubectl delete <podname> --grace-period 0 --force` this leads to ghost docker containers still running and serving requests on the nodes. Only docker force delete helps to get rid of them (or recreating the node).

[2020-12-04 10:45] chinglinwen commented on #28149
In case someone want to ignore such error in operator controller. I found the following way to ignore it and do manual retry.

[code]

[2020-12-04 11:53] sculley commented on #55713
I am seeing this issue on kubernetes **_1.19.0-4_** but not on **_1.18.12_**

NOTE: included below are snippets from 1.19.0 but I am seeing the same on 1.19.0-4

I have shutdown _kubelet_ on _node1_ and the pods running on it do not get terminated and re-created on _node2_ I have set the tolerations to 30s, waiting does not make the pod be terminated, it never happens.

I have tested using ```dock

[2020-12-04 11:54] rikatz commented on #97052
Got it :)

I'll take a look into the module loader to see if trying to load one then other and raising the error if both fails is a better approach ;)

[2020-12-04 12:00] rikatz commented on #97052
/triage accepted

[2020-12-04 12:02] champtar commented on #97052
I've looked at some systems (EL7, 8.2, 8.3), and ip_vs always depends on nf_conntrack

[2020-12-04 12:19] kragniz commented on #74819
/remove-lifecycle rotten
/reopen

[2020-12-04 12:20] arocki7 commented on #56188
/reopen

[2020-12-04 12:30] RobertKielty commented on #96710
@adtac @mborsz

This test is still flaking at a 75% threshold on this job

https://testgrid.k8s.io/sig-release-1.20-blocking#gce-cos-k8sbeta-default&exclude-non-failed-tests=&width=90

Example failure to achieve the 75% threshold.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-default/1334787370620293120

Can the test be changed to report on the reason why

[2020-12-04 13:35] rikatz commented on #97052
@champtar opened the PR https://github.com/kubernetes/kubernetes/pull/97070

Can you please take a look?

[2020-12-04 14:48] tosi3k opened #97071 "[Flaky test] [sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Pre-provisioned PV (xfs)][Slow] volumes should store data"
**Which jobs are flaking**:
gce-master-scale-correctness

**Which test(s) are flaking**:
`[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Pre-provisioned PV (xfs)][Slow] volumes should store data`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
[code]

**Anything else we need to know**:
Today's job

[2020-12-04 14:55] tosi3k commented on #97071
CCing storage folks for visibility on this flake.

/cc @jingxu97 @mattcary

[2020-12-04 15:17] dims commented on #97027
cc @vladimirvivien

[2020-12-04 15:22] alculquicondor opened #97072 "Admission controller to set default scheduler name"
**What would you like to be added**:

An admission controller in kube-apiserver to set the default scheduler name, when it's not set.

To discuss, from users feedback:

- How should it be configured?
  1. [Preferred] Through a ConfigMap or a new resouce, similar to [LimitRange](https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/cpu-default-namespace/#create-a-limitrange-and-a-pod

[2020-12-04 15:22] adampl commented on #55713
@sculley Are there any events reported after `NodeNotReady`? Are you sure something isn't preventing the new pod from being scheduled (eg. affinity rules)?

[2020-12-04 15:26] alculquicondor commented on #97072
cc @ahg-g @Huang-Wei @thockin

[2020-12-04 16:20] mmbcn commented on #73480
Having same issue here. When deleting ingress ELB gets deleted but SG stay behind and that causes the VPC module in Terrafomr to fail ( not being able to delete VPC cause of X resources, SG from ELB,  that are not created by Terraform exist - dependency ).

Any ideas on how to fix this or get attention of the right people?

Thx!

[2020-12-04 16:25] liggitt commented on #96799
no worries, thanks for following up.

/close

[2020-12-04 16:25] #96799 closed

[2020-12-04 16:54] liggitt commented on #97061
cc @logicalhan

wouldn't the existing metrics let you see which resource/verb has the highest volume? adding dimensions to this doesn't seem that useful

[2020-12-04 17:26] willemm commented on #90271
We are having the same issue.  In our case, it's the istio-init container that is being restarted (and subsequently crashing).
All of our stuff is automated, we're not removing any init containers or anything.

Edit: Except there is a process running which does a 'docker system purge --filter age=48h' if the disk gets too full (DiskPressure taint).  I could imagine that process also deletes the in

[2020-12-04 17:30] NicolasT commented on #95188
@ghouscht We didn't manage to get the the fix in #95269 (and its backport to `release-1.19` in #96297) reviewed/LGTM'd before the code freeze deadline for 1.19.5 and 1.20.0, but they should get merged after code thaw next week and be included in 1.19.6 and 1.20.1.

[2020-12-04 17:31] jackfrancis commented on #97060
@neolit123 thanks for the clarification

That certainly changes things, as readiness and startup defaults *have* been working for a long time, so changing the default for them amounts to an equivalent surprise for users.

I'll think on it (and continue to engage sig-node); does this still belong in the sig-node area given the expanded blast radius? (not just liveness but readiness and startup as w

[2020-12-04 17:33] mattcary commented on #97071
Could this be a dup of #94108?

[2020-12-04 17:33] Michael-Sinz commented on #97060
I would claim that a breaking change is something that needs to be very carefully considered.  I do think that forcing everyone to have some timeout for liveness probes is a good thing.  However, the fact that they were not acting like that for so long means that there are many (all?) liveness probes that have not been tested with such a default 1 second timeout and that some (many?) will end up f

[2020-12-04 18:26] robertoalcantara opened #97073 "kube-proxy ignores source address preservation with external-traffic-policy: Local and externalIP address"
**What happened**:
On service with externalTrafficPolicy: Local and type: LoadBalancer or NodePort, ipvs rules (MASQ) are installed on all workers, loadbalacing across all pods IPs, even to PODs that are not running locally on this worker.

**What you expected to happen**:
As iptables modes does, the IPVS rules should to balance only to PODs running on the same worker, avoiding an extra hop and ke

[2020-12-04 18:30] ssup2 commented on #56903
Hello. To solve DNS issue, I developed the network-node-manager. The network-node-manager solves this issue by not tracking DNS packets. Please use this and give me feedbacks. Thanks

https://github.com/kakao/network-node-manager

[2020-12-04 18:53] sculley commented on #55713
@adampl - I re-ran my tests, this time with ```1.19.4``` after stoping the _kubelet_ service on _node1_ the instance goes into the _NotReady_ state after a short while.

#### Nodes
[code]

The pod on node1 stays _Running_

#### Pods
[code]

After nearly 4mins the events show only ```Node is not ready``` with no other events

[code]

After 10mins the events show the same as before no updates.

[cod

[2020-12-04 19:07] lavalamp commented on #81285
I do not think it is realistic to change the existing deletion sequence, too hard to maintain backwards compatibility. AFAICT there's essentially no chance we would attempt a modification to this.

I described how to build a system using the finalizer mechanism to capture the final state of pods and store it wherever you wish.

IMO the way forward here is to build a system that solves your needs u

[2020-12-04 19:12] robertoalcantara commented on #97073
/sig network

[2020-12-04 19:15] kireledan commented on #86881
Just nudging to let you know I haven't abandoned the PR. I've just been really caught up in work 😅
Planning to wrap up this weekend since I'll have a lot of time.

[2020-12-04 19:16] adtac commented on #96710
We believe the failure is due to extremely high request latency, which could be due to any number of factors (high load on the e2e API server, for example). These are harder to debug because of unreproducability in dev machines. We're disabling the two tests temporarily.

The problem is with the test environment / test parameters, not with the API server itself. The failing test was added as a nic

[2020-12-04 20:02] tallclair opened #97076 "CVE-2020-8554: Man in the middle using LoadBalancer or ExternalIPs"
CVSS Rating: **Medium** ([CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:L/I:L/A:L](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:L/I:L/A:L))

This issue affects multitenant clusters. If a potential attacker can already create or edit services and pods, then they may be able to intercept traffic from other pods (or nodes) in the cluster.

An attacker that is able to create a Clu

[2020-12-04 20:14] wojtek-t commented on #97061
+1

[2020-12-04 21:32] rockholla opened #97077 "File 'repomd.xml' from repository https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64 is signed with an unknown key"
We started seeing this today on fresh installs using the https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64 package repo:

[code]

Let me know if there's a better place to report. Thank you.

[2020-12-04 21:37] rockholla commented on #97077
/sig release

all, apologies if I'm redirecting this to the wrong place. I'm happy to help direct this otherwise, just let me know. Thanks.

[2020-12-04 21:39] lavalamp commented on #60807
I recorded a 10 minute explanation of what is going on and presented it at [this SIG Deep Dive session](https://youtu.be/0VWNWJktcHk?list=PLj6h78yzYM2Pn8RxfLh2qrXBDftr6Qjut&t=62).

Here's a [correct comment with 65 upvotes](https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-524772920)

Mentioned several times above, this [medium post](https://medium.com/@cristi.posoiu/this-is-not-t

[2020-12-04 22:34] jingxu97 commented on #97071
I checked the kubelet log, looks like xfs format on new disk hung. I see the log it starts to format, but it never returns (not fail, not succeeded).

I1204 12:34:03.818217    2242 mount_linux.go:390] Disk "/dev/disk/by-id/google-gce-scale-cluster-ced40298-49d6-4213-9d55-c0247d079da3" appears to be unformatted, attempting to format as type: "xfs" with options: [/dev/disk/by-id/google-gce-scale-clu

[2020-12-04 22:35] jingxu97 commented on #97071
cc @msau42  @saad-ali

[2020-12-04 22:37] #96710 closed

[2020-12-04 22:47] msau42 commented on #89953
this is expected behavior. Instead of setting nodeName directly, set nodeSelector

[2020-12-04 22:47] msau42 commented on #95767
/help

[2020-12-04 22:47] msau42 commented on #89953
/close

[2020-12-04 22:48] #89953 closed

[2020-12-04 23:23] robertoalcantara commented on #97073
I found this:

[2020-12-04 23:38] lavalamp commented on #92157
/lifecycle frozen
/reopen

[2020-12-04 23:42] neolit123 commented on #97060
@jackfrancis

Yes.

[2020-12-04 23:52] #96988 closed

[2020-12-04 23:53] thockin commented on #96935
Why is this in kube-proxy and not whatever starts kube-proxy?  I'd prefer NOT to add flags if we can avoid it...

[2020-12-04 23:55] thockin commented on #96902
There isn't a weight primitive, but it has been discussed.  I would like to understand the ways people want to use it and the problems they are having.  What would you propose to use to set the weight values?

[2020-12-05 00:00] thockin commented on #96858
Just to be clear - was it correctly removed from Endpoints?  This sounds like an EKS issue not a k8s issue?

[2020-12-05 00:02] thockin commented on #95838
ping on this?

[2020-12-05 00:09] XanderStrike commented on #95838
I didn't feel like I had confirmation the other issue would not be closed without being resolved. Should I have gotten that from your message? I'm happy to close this as long as there will exist an issue that will not be closed until the outcome in this issue is possible.

The only reason I'm being a stickler about this is that other issue was closed until I made this one. I don't have the ability

[2020-12-05 01:29] thockin commented on #95838
I'm asking "Would #48528 actually solve your problem?"  If so, let's keep that open.  If not, what then?

[2020-12-05 01:33] XanderStrike commented on #95838
Yes it would solve my problem but it was closed before without being resolved, so there must be some problem with it... right? Why else would it be closed? Has the problem that resulted in it being closed been fixed?

If that issue will stay open until it's resolved then this issue can be closed. If it's going to be closed arbitrarily by a bot then I'll keep this one open. Seems straightforward to

[2020-12-05 01:43] thockin commented on #95838
There are bots that age out issues.  If nobody is working on it and nobody updates it and nobody freezes it, it will eventually be closed.  That doesn't meant there's something wrong, just that we have 2000+ issues and that "seems" dead.  The heuristic can be wrong.  I have frozen it now.

Thanks for the update!

[2020-12-05 01:43] #95838 closed

[2020-12-05 03:30] YaShanBoy opened #97079 "how to config devices of docker container by k8s?"
my docker run command:
    docker run  -u root
 --device=/dev/bm-tpu0:/dev/bm-tpu0
 --device=/dev/bmdev-ctl:/dev/bmdev-ctl
 --device=/dev/ion:/dev/ion
 --device=/dev/jpu:/dev/jpu
 --device=/dev/vpu:/dev/vpu
 --device=/dev/bm-vpp:/dev/bm-vpp
 -v /system/lib:/system/lib
 -itd
 --name='test'
 -p 9999:9999
 iotproject:1.0

what should i do with k8s？
Thank you for your attention

[2020-12-05 04:30] mc0 commented on #89936
/reopen

[2020-12-05 07:15] Shuanglu opened #97080 "Scheduler scheduled the pod with PV without zone enabled to a node with zone enabled"
**What happened**:
I have one cluster and there is one nodepool 'nodepool1' without zone enabled. I created a statefulset with PVC on the "nodepool1" and disks were created without zone enabled.
Then I added another nodepool 'nodepool2' with zone enabled. I deleted the pod in statefulset and it was scheduled to the new nodepool and failed to mount since the disk doesn't have the zone property but

[2020-12-05 07:16] Shuanglu commented on #97080
/sig Scheduling

[2020-12-05 09:49] uablrek commented on #97073
This is a basic function in K8s that is tested constantly, and works. So this is probably some problem with your setup.

Please provide your service manifest.

A possible fault is if you specify `externalIPs`, like;
[code]
`externalIPs` is not the same as a loadBalancerIP, it is a different function that _does not_ preserve remote address in K8s v1.18.x. My comment that you refer is about `externa

[2020-12-05 10:41] #92843 closed

[2020-12-05 11:31] aitescmgit commented on #76790
**Set the value and output it to sysctl.conf file**

echo “net.bridge.bridge-nf-call-iptables=1” | sudo tee -a /etc/sysctl.conf

[2020-12-05 13:16] victor-timofei commented on #96104
@sttts how would you suggest to proceed with reviewing the public projects on GitHub? Would it be enough to use the GitHub search?

[2020-12-05 14:45] #92299 closed

[2020-12-05 14:55] knight42 commented on #94301
Hi, I have filed #97083 to enable SPDY pings to address this issue.

[2020-12-05 15:38] yuanhuaiwang commented on #97061
but if some mutating requests are dropped, i want to know which resource caused it, may be there are many resource requests more

[2020-12-05 15:56] nielsbasjes commented on #94301
As I understand #97083 addresses the `exec` issue but not the `logs -f` issue.

[2020-12-05 17:05] knight42 commented on #94301
More precisely, #97083 should address `exec` and `portforward`.

As for the `logs -f`, I think this is a different problem because `logs -f` actually sends a HTTP request to the REST API, and the connection might be terminated if the kubectl client, or the apiserver, or the load balancer between the client and server thought the connection has been idle for a specific period.

IMHO I guess we need

[2020-12-05 17:10] aranmohyeddin opened #97085 "error: unknown command "restart deployment nginx""
[code]
[code]

[2020-12-05 17:18] aranmohyeddin commented on #97085
This is an issue with the version of the client in the archlinux package.

[2020-12-05 17:18] #97085 closed

[2020-12-05 17:48] #92451 closed

[2020-12-05 18:49] #89807 closed

[2020-12-05 18:50] cornfeedhobo commented on #1957
Just wow. I've been checking in on this issue, and it's related issues and PRs, for 6 years.

I guess I'll see you all in 2024 at my next check in! :joy:

![xkcd - time cost](https://imgs.xkcd.com/comics/efficiency.png)

[2020-12-05 19:58] jethrogillgren commented on #60140
/reopen

[2020-12-05 20:06] wmcnamee-tunein commented on #83230
why was this issue closed so quickly?

[2020-12-06 01:30] robertoalcantara commented on #97073
My problem was solved, let me talk a bit about it because may help someone else. @uablrek You are right about externalIP, I'm using it.

First of all, IMHO this topic (loadbalancer IP + external IP + externalTrafficPolicy) is a mess, because it is not intuitive to treat external-IP different from loadbalancer IP on the externalTrafficPolicy thing. Documentation also need improvement to explain it

[2020-12-06 01:33] #97073 closed

[2020-12-06 07:55] uablrek commented on #95565
I can't reproduce this problem on;
[code]
Nor with Proxy-mode:ipvs.

Can this problem be CNI-plugin related?

[2020-12-06 08:18] SataQiu commented on #97027
/cc

[2020-12-06 10:22] aojea commented on #95565
or kube-proxy iptables?

[2020-12-06 10:35] thulasikumar729 commented on #90345
I'm using centos getting the same issue ,everything follow same your documention but still getting the issue, please help me emergency

[WARNING FileExisting-tc]: tc not found in system path
error execution phase preflight: couldn't validate the identity of the API Server: Get "https://172.31.10.153:6443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s": net/http: request canceled

[2020-12-06 10:36] uablrek commented on #95565
No. I have tried with a daemonset and get replies from all server, including the local one. Both in a hostNetwor:true POD and from main netns on the node (which should be the same thing). And with ipvs and iptables.

It would be good if someone else can try it on calico so I havnt done some mistake.

[2020-12-06 10:55] o6uoq commented on #1957
@cornfeedhobo welcome to open source!

[2020-12-06 10:55] aojea commented on #95565
There is an e2e test for that, I' ve added an skip, but is just removing the skip and run it ... but it failed on KIND jobs and GCE jobs, don' t know which CNI use the GCE jobs though
https://github.com/kubernetes/kubernetes/blob/e1c617a88ec286f5f6cb2589d6ac562d095e1068/test/e2e/network/networking.go#L469-L485

[2020-12-06 12:44] zentale opened #97090 "Extended resource - resource quota bug"
**What happened**:
Created a resource quota, including Rudolph (extended resource).
Added 1 Rudolph resource onto a node. Created a pod with limit == 1 Rudolph.
The node reports correctly that Rudolph is allocated/used.
The resource quota doesn't reflect the actual usage of Rudolph.

**What you expected to happen**:
Using `kubectl describe quota` showing 1 used Rudolph.

**How to reproduce it (as

[2020-12-06 14:05] jayunit100 commented on #96935
/assign

[2020-12-06 14:43] andrewsykim commented on #96902
IPVS has an API for setting a weight value on backends. Today we only set it to 1 or 0. In theory, if there was an API that told us endpoint weights, we would translate that directly into IPVS weights.

I do think that on-going work with topology-aware subsetting + internalTrafficPolicy would address a large set of use-cases for needing weights on backends (aside from 1 or 0).

[2020-12-06 15:13] danwinship commented on #23864
There was actually a KEP for this feature before, but it was being specified in a way that wouldn't have worked for most of the users here (https://github.com/kubernetes/kubernetes/issues/23864#issuecomment-435957275). Indeed, [one of the +1 comments here](https://github.com/kubernetes/kubernetes/issues/23864#issuecomment-244723466) even notes "BTW exposing port range is not what most of us want",

[2020-12-06 15:44] jayunit100 commented on #23864
How would we deal with environment variables in the autoinjected services?  Right now, for example...  a single service creates all these entries:

[code]

If you supported a large range of say all ports, would that mean you'd inject like 4096 environment variables?

[2020-12-06 16:37] nodo commented on #89264
/assign

[2020-12-06 16:38] nodo commented on #94275
/unassign

[2020-12-06 17:17] jayunit100 commented on #96858
Hi @eddspencer  ... this is an interesting issue, have seen it before on different LBs as well, so I talked to  @mattfenwick some about it... I believe he has seen this on different clouds as well.

- So - your talking about, specifically , the elastic-load-balancer, which is https://github.com/kubernetes-sigs/aws-load-balancer-controller, right ?   

- I dug around and saw https://github.com/kub

[2020-12-06 17:56] jayunit100 commented on #96935
The important thing is that we bump the priority, bc kube-proxy running at low-priority on windows causes alot of problems.... wether done by a flag or not is probably less of a big deal, right @ravisantoshgudimetla

[2020-12-06 20:00] chentaoz commented on #96218
Hey, In my opinion,  "Updates are not affected" applies when all replicas are fully ready and running before rolling update. In your case, my-sts-0 is not ready, which is approximately same as the case a statefulset is still in middle of parall scaling, which will not prevent program from reaching  the point of rollupdate  https://github.com/kubernetes/kubernetes/blob/792b4b1e32394a13c27741f71f14d

[2020-12-06 20:01] agowa338 commented on #23864
The env var problem would be quite trivial to solve. As it is the application that would use them and applications needing a single port won't suddenly need a port range, we could just add to that standard to just have two ways. For single ports defined use the current env variables. But for the here requested feature of port ranges use something like:

[code]
This will indicate that there is also

[2020-12-06 20:14] thockin commented on #96902
What I mean is where do the relative weights come from?  Does a user
program a new selector-to-weight mapping?  Do we infer weight from pod
size (CPU and memory)?  Does a pod specify some annotation?

On Sun, Dec 6, 2020 at 6:44 AM Andrew Sy Kim <notifications@github.com> wrote:

[2020-12-06 20:16] behos commented on #96218
Hey 🙂 that code path can definitely be reached when the statefulset is in this state, but I think it should be prevented.

It's not quite the same as a parallel scale up even though it technically looks like one. For instance, it would be acceptable to add new pods while a pod is down, but terminating a second existing pod could violate disruption budgets and compromise quorums.

[2020-12-06 22:27] chentaoz commented on #96641
The Daemonset is not evicted by default. So your observation is the intention of k8. Please refer to https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-based-evictions

[2020-12-07 00:09] sabbox opened #97094 "staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/ panics if persister is nil"
**What happened**:
[code]
**What you expected to happen**:
no panicking

**How to reproduce it (as minimally and precisely as possible)**:
use azure or OIDC auth plugin with a `clientcmd.RESTConfigFromKubeConfig` or` DirectClientConfig` without a `ConfigAccess (nil)`

**Anything else we need to know?**:
a similar OIDC panic issue is registered here #90766

[2020-12-07 00:18] #92946 closed

[2020-12-07 00:42] yanghaichao12 commented on #94583
/remove-lifecycle stale

[2020-12-07 01:19] pacoxu commented on #97079
Fro vpu management, refer to https://intel.github.io/intel-device-plugins-for-kubernetes/README.html#plugins. Code in https://github.com/intel/intel-device-plugins-for-kubernetes.

[2020-12-07 01:19] #92947 closed

[2020-12-07 01:19] #92922 closed

[2020-12-07 01:57] nilo19 commented on #94590
I don't think the issue is in provider azure. Azure propagates the error to the service controller and it is the service controller that creates the warning event if there is an error during syncing load balancer. The log that @ialidzhikov provided shows my point as well:
[code]
So we should check why the service controller doesn't throw the event properly. But I couldn't see the issue in my envir

[2020-12-07 01:58] adampl commented on #55713
@sculley Seems like you've found a bug - unless we're unaware of some intended API changes.

I've found out that on k8s 1.19 the node is tainted only with the `NoSchedule` taint and the `NoExecute` taint is missing.

Just verified with [Kind](https://kind.sigs.k8s.io/). Luckily I already had an older version with k8s 1.18.2 - it worked. After upgrading to the latest Kind with k8s 1.19.1 - it didn'

[2020-12-07 03:01] longyang10208 commented on #95039
same for me on 1.19.4 / ubuntu 20.10 / 5.8.0-1006-raspi
![](https://gitee.com/ly10208/images/raw/master/img/20201207105849.png)

[2020-12-07 03:21] chymy opened #97097 "PVC and PV to become Bound, but PVC and PV Protection finalizer is set []"
**What happened**:
k8s version: v1.19.4
I create pv and pvc, PVC and PV to become Bound, but PVC and PV Protection finalizer is set []
[code]
describe the pvc result:
[code]

**What you expected to happen**:
Finalizers is set [kubernetes.io/pv-protection]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (

[2020-12-07 03:23] chymy commented on #97097
/sig api-machinery

[2020-12-07 03:55] pacoxu commented on #96986
/assign

[2020-12-07 05:50] nilo19 commented on #94994
Any update on this? This one is really flaky.

[2020-12-07 05:51] matthyx commented on #96731
@howardjohn this is a bug and your combination of startupProbe and readinessProbe should provide the expected behavior.
Can you please give me the k8s version of your cluster and ensure you have the startupProbe feature enabled?

/assign

[2020-12-07 06:51] nilo19 commented on #94994
logs from the server pod:
[code]

[2020-12-07 07:06] uablrek commented on #95565
I have investigated some more and I can't reproduce the problem but I _can_ provoke a similar one. I have now switched to a simple bridge CNI-plugin setup for more control and K8s "master", proxy-mode=ipvs. For udp traffic to a local POD packets are routed to the local `crb0` device. Example;
[code]
The request is NAT'ed by ipvs to the ip of the local POD, the reply is NAT'ed back to the VIP (12.0

[2020-12-07 07:21] uablrek commented on #95565
**Ooops**, I think I have missed the problem entirely here. The UDP servers are in `hostNetwork:True`, not the client as I assumed.

Sorry about that, please ignore my comments.

[2020-12-07 07:27] petrknap commented on #52345
Any idea how to solve this issue? It shuts down my production backend system.

The only solution which I have now is to "manually" (via CRON task) delete pod if it reach CrashLoopBackOff state.

[2020-12-07 07:43] uablrek commented on #95565
Now I got it. Trace from within a "normal" POD to a service with endpoints in hostNetwork;
[code]
The POD responds with "port unreachable", but the port exists. The src is not the VIP which is wrong, maybe that trigs the icmp.

[2020-12-07 07:51] pacoxu commented on #97097
I think this is expected.

According to https://kubernetes.io/docs/concepts/storage/persistent-volumes/#storage-object-in-use-protection ， the finalizer is added when it is terminating.

IMO, pvc deleting process:
1. send delete resource request to apiserver.
2. the pvc enters `Terminating` status and protection finalizer `kubernetes.io/pv-protection` is added
3. PVC removal is postponed until the

[2020-12-07 08:00] sabbox commented on #97094
/sig auth

[2020-12-07 08:05] chymy commented on #97097
e2e test:
PVC is become Bound.
`Checking that PVC Protection finalizer is set` is failed.
[code]

@pacoxu

[2020-12-07 08:44] nustiueudinastea commented on #23864
@danwinship Port ranges is what some of us want, even for doing SIP/WebRTC. Using host networking is an inferior solution compared to port ranges. Of course, having IPv6 or public cluster IPs could be better but its impossible to have that in most cloud setups, hence, port ranges could be a decent compromise until we get to full IPv6 connectivity.

[2020-12-07 08:51] MrAmbiG commented on #73570
As an rke user I echo this. This worked for me too.

[2020-12-07 09:02] pacoxu commented on #97097
After reading the logic, it is added by the admission controller `StorageObjectInUseProtection` which is enabled by default.
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#storageobjectinuseprotection

Another logic to add finalizer to old pvc is in
https://github.com/kubernetes/kubernetes/blob/ff3e5e06a79bc69ad3d7ccedd277542b6712514b/pkg/controller/volume/pvcprotec

[2020-12-07 09:36] sculley opened #97100 "Missing taint: node.kubernetes.io/unreachable:NoExecute when nodes enter NotReady state on new installs of 1.19+"
**What happened**:
I have been testing some _ansible_ roles to deploy _Kubernetes_ using _kubeadm_ on _Ubuntu_ virtual machines, when testing I noticed that pods were not being terminated + re-created on additional nodes when the existing node that the pod lived on went into a _NotReady_ state. The node that goes into a _NotReady_ state does not have the ```node.kubernetes.io/unreachable:NoExecute

[2020-12-07 09:39] nicolaferraro commented on #59343
/remove-lifecycle stale

[2020-12-07 09:39] sculley commented on #97100
/sig node
/sig scheduling

[2020-12-07 09:45] aojea commented on #95565
The CNIs I´ve been using use ptp interface not bridge.

My observation was that the packet from the testpod to the hostnetwork endpoint pod worked, is the answer that never get reverse natted, so I think that is something related to conntrack (the nat kernel code uses the conntrack table to know if it has to reverse the nat)

https://gist.github.com/aojea/72de8754bc20e7f8f930d0d6cf31b82b

[2020-12-07 10:05] pacoxu commented on #97100
Cannot reproduce it with
[code]

![image](https://user-images.githubusercontent.com/2010320/101337480-b235b680-38b6-11eb-8ccf-1b5b04080bd1.png)

[2020-12-07 10:24] sculley commented on #97100
I can still reproduce after deleting and re-creating my cluster using kind just now.

![kind-results](https://user-images.githubusercontent.com/3237705/101339439-54817a00-3876-11eb-88ad-f2da508e4aa6.png)

[2020-12-07 10:24] kifeo commented on #87491
ouch !
I moved the pv to nfs and got the same issue :(

[2020-12-07 10:30] kvp-cs commented on #40908
I had mentioned it as below in my use-case rainerfrey:
**"Even after 3 is done, K8 will restart each container because their liveness probe failed, but it cant (wont) re-run the init-container, right?"**

[2020-12-07 10:36] chymy commented on #97097
I've set  `--enable-admission-plugins=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota,DefaultStorageClass,Priority,EventRateLimit,NodeRestriction,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,StorageObjectInUseProtection`, but the `Finalizers` is still [].

[2020-12-07 10:43] sculley commented on #97100
I will run a couple more tests, kind on linux and on my macbook pro to see if can re-produce the same results.

[2020-12-07 11:09] YaShanBoy commented on #97079
thanks。My server is a customized edge box. I don't know what kind of device it belongs to。issue #5607 is what I need，But I don't get how to do it. I try the second method, mount the paths and set Privileged mode true, but it not work for me.

[2020-12-07 11:20] YaShanBoy commented on #97079
now I use fabric8 dependency，i find io.fabric8.kubernetes.api.model.VolumeDevice class。i guess this is what i need，but i don't know how to use it。

[2020-12-07 11:27] sorushsaghari commented on #96717
as a super beginner can I work on it ??

[2020-12-07 11:48] sculley commented on #97100
I just installed kind and ran on a CentOS 7 box of mine with the same results.

[code]

[2020-12-07 11:51] yili1992 opened #97103 "[enhancement] kubectl alpha debug add SYS_PTRACE for debug container"
[code]
**What would you like to be added**:
I hope that this debug feature can add "SYS_PTRACE" for container

**Why is this needed**:
We always to analysis  our process in POD , this PTRACE is very useful

[2020-12-07 11:56] yili1992 commented on #97103
/sig cli

[2020-12-07 12:27] eddspencer commented on #96858
Many thanks for your responses, let me try to answer all questions:

- Yes, we are talking about the interaction with elastic-load-balancer controller. New traffic is being directed from the load balancer to the terminating pod for over a minute after the pod state changed to `Terminating`.
- I am not sure if it is being correctly removed from the Endpoints, are there some steps I can run to check

[2020-12-07 12:36] wojtek-t commented on #90047
/remove-lifecycle stale

[2020-12-07 13:24] mpanchap-git commented on #96902
Our requirement is to be able to pass weights per Endpoint as
Usecases -
1) Bad Deployment - the problem we have with one of the app's - 2 nodes but it is a tight app that can run only one instance per node. The 2 nodes could have different Config's - node1=24 cores & node2=72 cores and as Pod size is always same for all Pods, we do not specify the resources for this tight Deployment. And so the i

[2020-12-07 13:32] madkiss commented on #75581
Folks, the pull request that would have fixed this just got closed as it was rotting away. This is an actual problem in production, can we please fix this?

[2020-12-07 13:51] adtac commented on #94601
/remove-lifecycle stale

[2020-12-07 14:11] adtac commented on #94404
/remove-lifecycle stale

[2020-12-07 14:21] wawa0210 commented on #97103
It seems reasonable, we can try to declare a flag to identify this parameter. If the community accepts this proposal, I can try to contribute

[2020-12-07 14:28] YaShanBoy commented on #5607
How to integrate with k8s？？？？

[2020-12-07 14:47] kim0 commented on #86064
Since this is seemingly not yet fixed on AWS side and I just hit it. Here's the workaround I had to do. Located which node the PV is attached to. SSH into the node (actually, `oc debug node/foo` for me). `lsblk` to locate the disk. `blkid` to confirm the atari partition issue. Then `dd if=/dev/zero of=/dev/foo bs=1M count=1024` to zero-out the first 1G of data. Ensure you're on the correct disk, o

[2020-12-07 15:19] #95958 closed

[2020-12-07 15:19] cmluciano commented on #86024
/remove-lifecycle stale

[2020-12-07 15:25] aojea commented on #96902
how do you deal with pods rescheduling in that setup?

[2020-12-07 15:32] adampl commented on #97100
FYI: my tests on Kind that confirmed the issue were run on Ubuntu 18.04.5 LTS with Docker 19.03.8

[2020-12-07 15:37] draeron commented on #86352
anti stale comment

[2020-12-07 15:51] filintod opened #97107 "Ingress ServicePort and Service Port Name are validated with different schemas"
**What happened**: Tried to create an ingress with a backend serviceport pointing to a service with a port name with length > 15 chars that is valid from the service point of view. But failed because the validation for Ingress does not match the one for service.

Service Validation (uses DNS Label):
- https://github.com/kubernetes/kubernetes/blob/e1c617a88ec286f5f6cb2589d6ac562d095e1068/pkg/apis/c

[2020-12-07 16:04] howardjohn commented on #96731
Exact reproducer:
[code]

[code]

[code]

[2020-12-07 16:09] mpanchap-git commented on #96902
Pods rescheduling - A controller that runs as DaemonSet to Watch on Node and Endpoints - Add|Update EP action only on specific Service.Annotation set, every IP in Endpoints.Subsets.Addresses also has a NodeName field and we get the Node Weights from the Node Label and set the ipvs Weight locally on every node accordingly, no action by this controller for Delete as kube-proxy takes care of this.

[2020-12-07 16:17] howardjohn commented on #96731
No, its not always 60s. I would agree that is likely the cause.

[2020-12-07 16:23] matthyx commented on #96731
Do you really need the readinessProbe? Its primary use case now that we have the startupProbe is to remove the pod from the pool if it fails...
If you don't specify one, the pod will be `Ready` just after the startupProbe succeeds and thus reachable through the service.

[2020-12-07 16:27] howardjohn commented on #96731
Yes, I do think we still need it, as its useful to know if the pod becomes not-ready later in life. We just want to probe this every ~60s or so, but probe every 1s at startup

[2020-12-07 16:30] matthyx commented on #96731
Sure, but what should be done if the probe fails later in life?
If you need to restart the container, better use a livenessProbe.
`Ready` state is also set to false when the pod is stopping... so IMHO you could do without the readinessProbe.
So, again, apart from a scenario where you need to give some breathing time to your container, readinessProbe has little use nowadays.

[2020-12-07 16:31] matthyx commented on #96731
If you just want to "monitor" your pod status, I suggest you use Prometheus for that...

[2020-12-07 16:33] alejandrox1 commented on #51017
/remove-lifecycle stale
/lifecycle frozen

[2020-12-07 16:36] filintod commented on #97107
/sig network

[2020-12-07 16:39] howardjohn commented on #96731
I think readiness probe is still pretty useful when a pod may temporarily be unable to serve traffic so we want to remove it from the pool. AFAIK that is the original use case:

[2020-12-07 16:41] howardjohn commented on #96731
Also, while I feel like this issue is widely applicable, my real use case is for service mesh sidecars, which have vastly different requirements from a normal app pod. Liveness probes are not really viable, as while the sidecar container is getting killed there will be a complete outage on the pod, and monitoring with prometheus does not fill the same niche

[2020-12-07 16:58] matthyx commented on #96731
Please be aware that pods not ready are still counting in the replicaset... So if all your pods have failed their readinessProbe nobody will answer your requests.
There are other (better) ways to provide real backpressure in your system.

[2020-12-07 16:59] howardjohn commented on #96731
@matthyx if using readiness probes is wrong, then should the documentation be updated to discourage their usage?

[2020-12-07 17:02] matthyx commented on #96731
Now that 1.20 is around the corner... Yes I should definitely consider rewriting this part of the documentation, correct.

[2020-12-07 17:07] Raffa50 opened #97109 "kubernates on prem 502 bad gateway"
Hi I have installed and configured kubernates
I have tried with both minikube and kubeadm
What I have installed:
flannel, nginx-ingress-controller, metalLB then setted ngix-ingress-controller service to be loadBalancer

I always get 502 bad gateway when trying to expose a simple wordpress app (using clusterIp or even with nodePort)

OS: ubuntu 20.04 LTS
installed docker-ce, kubeadm and kubelt (off

[2020-12-07 17:12] howardjohn commented on #96731
SGTM. I would agree for most use cases startup+liveness probe is probably better.

However, I feel that service mesh cases are in a unique position where liveness probes don't make much sense. If we kill the sidecar container, the main app container will experience downtime. In a normal app, it will terminate, so it will stop sending traffic (since its SIGTERM'd) and stop receiving traffic (due to

[2020-12-07 17:37] matthyx commented on #96731
Yes, side-cars are particular and there is currently a wip document circulating in sig-node about improvements in their lifetime cycles.

[2020-12-07 17:37] marosset commented on #96935
@thockin There are a few different ways to start processes with non-normal priority but all have some drawbacks (mostly due to how priority can only be set on running processes in Windows)
- `start { /abovenormal | /high | /realtime }` creates the process in a new shell Windows and makes it hard to capture / redirect stdout/stderr
- Using powershell to start the process and then set the priority h

[2020-12-07 17:38] jingxu97 commented on #87491
cc @Jiawei0227 https://github.com/kubernetes/kubernetes/issues/87491#issuecomment-738018226
we have seen similar broken mount dir in azurefile?

[2020-12-07 17:39] marosset commented on #96935
/milestone v1.21
/triage accepted
/priority important-soon

[2020-12-07 17:39] howardjohn commented on #96731
I am familiar with these designs, and I think this issue is actually even more important with the proposed changes, as any delay to the startup of the sidecar will slow the app from starting. So, for example, if we have a 30s readiness probe period, the application container is delayed by `rand * 30s`

[2020-12-07 17:47] tallclair opened #97110 "Figure out what to do about external IPs"
For CVE-2020-8554, https://github.com/kubernetes/kubernetes/issues/97076, we decided we couldn't patch it in-tree, and instead provided workarounds to disable (or allowlist) the feature through admission controls. Now that the issue is public, I'd like to open the conversation about a long-term fix.

Unless we missed something (entirely possible), I see a few possible paths forward:

1. Decide to

[2020-12-07 17:57] Jiawei0227 commented on #87491
Yeah we have seen similar issue for Azurefile on the stale cifs subpath dir.
https://github.com/kubernetes/kubernetes/issues/97031

Hey @kifeo Could you tell us more about how nfs get similar issue? What volume did you use? What version k8s and when does the issue happen? NFS has a stale mount file handler I think. If you still saw related issue, could you please create a ticket?

[2020-12-07 18:08] yuanchen8911 opened #97111 "Add a new metric to measure scheduling latency"
**What would you like to be added**:

kube-scheduler provides a metric `PodSchedulingDuration` to measure the duration from the time the pod was first observed by the scheduler (InitialAttemptTimestamp) to the time the binding request is successfully done.  However, the metrics can  only measure those pods that are finally successfully scheduled. If a pod is pending forever or deleted, its contrib

[2020-12-07 18:08] yuanchen8911 commented on #97111
/sig scheduling

[2020-12-07 18:09] yuanchen8911 commented on #97111
cc @ahg-g

[2020-12-07 18:15] jcrowthe commented on #97076
This ticket is sparse on details. May either more detail or a POC be provided?

[2020-12-07 18:21] msau42 commented on #85101
Note our csi mock tests are dependent on kubectl exec which is not part of conformance.

Also, we plan on adding a proxy mode for csi mock driver, which would add a dependency on port forwarding, which is also not part of conformance.

[2020-12-07 18:21] dharmab commented on #97076
I'm particularly confused by this line:

Is traffic intercepted if the client is using the service discovery name or another DNS name that resolves to the targeted IP? Or is this only intercepted if the client uses the IP address without DNS?

[2020-12-07 18:25] tallclair commented on #97076
If you create a service with an arbitrary external IP, then traffic to that external IP from within the cluster will be routed to that service. This lets an attacker that has permission to create a service with an external IP to intercept traffic to any target IP.

The routing happens at the IP layer, so I don't think it matters if they use DNS or not (once DNS resolves to the target IP, I think i

[2020-12-07 18:25] adtac commented on #97111
we append new metric samples but we cannot update old/existing metric samples. as a result, I'm not sure how feasible it is to include a metric measuring the time from pod submission to _current time_.

you probably already know this, but for the sake of completion, would a combination of `e2e_scheduling_duration_seconds` and `pending_pods` solve your needs? I know that the former metric doesn't i

[2020-12-07 18:28] pohly commented on #92664
How? I've asked about that before and the conclusion was that there is no portable way to do that (i.e. no official API). It seems to fall onto cluster admins to configure CSI driver deployments so that this particular aspect matches the cluster.

For the tests that means that there has to be a parameter for the kubelet data directory that users of e2e.test then have to set.

[2020-12-07 18:31] pohly commented on #85101
Another technical issue: some clusters may use a non-standard kubelet data directory, in which case the current driver deployments all fail because kubelet [doesn't find the driver](https://github.com/kubernetes-csi/csi-driver-host-path/issues/71). We need a parameter for that and then someone running conformance tests must set that parameter if necessary - tracked in https://github.com/kubernetes

[2020-12-07 18:32] dharmab commented on #97076
Ah, I see. So I could create a Service like this to intercept some or all UDP traffic from Pods in the cluster to Google DNS:

[code]

[2020-12-07 18:41] tallclair commented on #97076
I'm closing this issue, since https://github.com/kubernetes/kubernetes/issues/97110 captures the follow up items.

[2020-12-07 18:52] champtar commented on #97076
I'll try to finish my write up tonight, but when I did all my tests `externalIPs` were not working in some cases where `LoadBalancer` was working.
In the mean time a 3 acsiicast:
[![2](https://asciinema.org/a/fZriwcMLxIAhOPiTW4LSwB3rG.svg)](https://asciinema.org/a/fZriwcMLxIAhOPiTW4LSwB3rG)
[![3](https://asciinema.org/a/zJmluAW0RmnoGxSq1cX9dqxRE.svg)](https://asciinema.org/a/zJmluAW0RmnoGxSq1cX9dq

[2020-12-07 19:10] PushkarJ commented on #97110
@tallclair : Thanks for sharing the details. Commenting here, since the original issue is closed. This maybe a novice question, but does default deny CNI network policy and / or Mutual Auth (e.g. mTLS) act as a mitigating control?

[2020-12-07 19:20] danquack commented on #97076
Trying to reproduce this with TCP traffic, based off the comments. I created an nginx server and exposed external ip of cncf.io. I then tried to have see if it would call my service instead, and it looks like it went straight to the internet external. Maybe i'm misunderstanding the CVE?
[code]

[2020-12-07 19:24] jayunit100 commented on #90838
now that dockersim is *definetly* being moved out of tree, i think we can work with that will be owning it (mirantis)

[2020-12-07 19:25] jayunit100 commented on #93580
bump @ddebroy :)

[2020-12-07 19:29] thockin commented on #96858
So that seems like "clearly" an LB controller bug unless...

`kubectl get endpoints <svcname>`- the terminating endpoint should be gone (may need `-o yaml` to see a large list)

[2020-12-07 19:36] jayunit100 commented on #93791
i think we can close this.  im suspecting this issue went away, it was maybe just an infra issue  Also now we have a way to do breadth first data from the intra-pod tests, so it should be obvious which nodes are down if someone needs to test it again later

[2020-12-07 19:36] jayunit100 commented on #93791
/close

[2020-12-07 19:37] #93791 closed

[2020-12-07 19:40] jayunit100 commented on #96935
@marosset impl detail, can we do this via the kube-proxy config map api ?

kube-proxy flags, specifically, are not used at all anymore ... theyre in a zombie state and we're working to remove them

See https://github.com/kubernetes/enhancements/pull/2158 if interested in the specifics, but some history -- it looks like the **flags** in kube-proxy are largely "appendages of the past"

[2020-12-07 19:44] chadswen commented on #97110
Does this have the same root cause as the issue discussed in #22650 and fixed in openshift with an admission controller? (openshift issue: https://github.com/openshift/origin/issues/7808 and PR: https://github.com/openshift/origin/pull/7810) There is some existing discussion in the k/k thread if the added context helps form a strategy here.

I first encountered the issue a couple years ago when a

[2020-12-07 19:51] marosset commented on #96935
Setting this via the config map API would be fine - I think the important detail is to have the kube-proxy process set its own process priority. I don't have a preference on how kube-proxy is instructed to do so.

[2020-12-07 19:59] BenTheElder commented on #92664
We could add and respect a flag of course then all nodes have to be the same at least.

Reminder though @pohly https://github.com/kubernetes-sigs/kind/issues/1333 🙃

[2020-12-07 20:00] pohly commented on #92664
That's indeed another complication.

[2020-12-07 20:47] matthyx commented on #96731
@howardjohn do you think something like that could help?
https://github.com/kubernetes/kubernetes/compare/master...matthyx:96731

[2020-12-07 20:51] howardjohn commented on #96731
I may be misunderstanding, but I think it will end up looking like
[code]

So we would see the same behavior? I may be understanding it wrong though.

[2020-12-07 20:51] thockin commented on #96902
I think this is a problem.  If we added a concept of weight, it would
PROBABLY be proportional to pod size, not node size.

What you'd be introducing, I guess, is a new requirement to manually
override the weight in a "sticky" way (e.g. across endpoints updates).  I'm
not super keen on that unless it comes from the pod itself.

In other words, if you are going to explore this road, I would think o

[2020-12-07 20:53] matthyx commented on #96731
Yes, right, I wanted to put inside start the startup time of the kubelet, not the probeManager...

[2020-12-07 21:36] tiloso commented on #94301
Hey, for `logs -f` the issue has been addressed in https://github.com/kubernetes/kubernetes/pull/95981. (At least for environments that use HTTP/2.)

[2020-12-07 22:00] bowei commented on #97110
/cc @bowei

[2020-12-07 22:02] ajcann commented on #91913
@orirawlings @mikedanese I also see this when using `kubectl get` where there are a large number of objects returned
e.g.
[code]

[2020-12-07 22:50] tallclair commented on #97110
Thanks for the additional context @chadswen, this does in fact look like a duplicate of https://github.com/kubernetes/kubernetes/issues/22650. Since the conversation on that issue didn't go anywhere, hopefully the added visibility of having a CVE associated will help drive progress.

[2020-12-08 00:03] msau42 commented on #90868
/remove-lifecycle stale
/help

[2020-12-08 00:12] Red-C commented on #56341
Hi, any update on this?

[2020-12-08 02:23] danquack commented on #97076
For those looking to reproduce from the above ^
[code]

[2020-12-08 02:29] maplain commented on #97076
It seems kubectl doesn't support patching Service status so I couldn't verify `status.loadBalancer.ingress.ip` but `spec.loadBalancerIP` achieves the same result in my environment as `spec.externalIPs`.

[2020-12-08 02:40] champtar commented on #97076
@maplain just edited my message, with my write-up link, you will find in it how to patch the status easily
@danquack you are using `type: LoadBalancer` and `externalIPs`, never tried that, does it change anything compared to `type: ClusterIP`

[2020-12-08 02:42] howardjohn commented on #96731
Is that logic hit only after startup probe succeeds or in parallel?

If it's after startup probe then seems viable, as would define 1s startup probe and 30s readiness probe.

[2020-12-08 02:43] chymy commented on #97097
I know why, apiserver is set `--feature-gates=StorageObjectInUseProtection=false`. Thanks @pacoxu .

[2020-12-08 02:44] chymy commented on #97097
/close

[2020-12-08 02:44] #97097 closed

[2020-12-08 02:45] pacoxu commented on #97100
I can reproduce it on my Ubuntu server, but not on the Mac.

I use kind with docker 19.03.13
[code]

[2020-12-08 02:46] chenyw1990 commented on #97100
I also encountered the same problem. This bug has the same reason as #94183 and #96183. and there is an open PR to fixed it #96876

[2020-12-08 02:53] maplain commented on #97076
To clarify: kube-proxy actually sets up iptable rules based on `status.loadBalancer.ingress` so the IP has to exist in status.

`spec.loadBalancerIP` works in my setup because it ends up in the status eventually. But this behavior might depend on the LB provider, so patching the status is the correct way to trigger it.

[2020-12-08 02:55] tuapuikia commented on #75402
This is a common issue when your storage class is using multi-AZ while your node pool only configures to launch the new worker node in one / different zone than your EBS.

The quick hack is to configure ur minimum worker node in ASG to be the same as AZ count.

For the long term, you should consider using CSI solutions like ceph, EFS, storageOS to solve the volume mounting problem.

[2020-12-08 02:57] maplain commented on #97076
I actually tried to set `externalIP` and `loadBalancerIP` both using `type: loadBalancer`. As a result, I'm able to intercept traffic destined for both.
(I used Google's IP in externalIPs and one VIP for another application in `loadBalancerIP)

kube-proxy has similar parallel logic to handle them: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1088 and https://

[2020-12-08 03:00] danquack commented on #97076
@champtar `ClusterIP` seemed to work as well
[code]

[2020-12-08 03:00] champtar commented on #97076
@maplain what LoadBalancer are you using ? if just setting `loadBalancerIP` make the LB patch the status with this IP this is a problem

[2020-12-08 03:00] champtar commented on #97110
@chadswen thanks for digging those old tickets, now I'm not sure I even searched for related open issues before reporting ...
Also I have a similar story, crashed a cluster to find this bug :)

Here is my write up with 18 tests on 3 clusters: https://blog.champtar.fr/K8S_MITM_LoadBalancer_ExternalIPs/
In those tests (that are a bit old now) kube-proxy IPVS is the most affected, and patching the Lo

[2020-12-08 03:22] renyuntao opened #97112 "Endpoint update its state very slow when shutdown a node"
When I run `shutdown -h now` command to  shutdown a node in kubernetes cluster, endpoint update its state after about 40 seconds, but when I run command `kubectl delete pod POD-NAME`, endpoint update its state very quick. Can anyone explain why?

[2020-12-08 03:39] pacoxu commented on #97107
It's not friendly to users who create service with long service port name, to create ingress with port reference.

Maybe, we can add **warning for service creation and update** when the port name is not a valid ingress port name.

[2020-12-08 05:11] aidenhsy commented on #71647
Can you double check that you have started kubernetes in the first place?

[2020-12-08 05:34] mpanchap-git commented on #96902
Context setting -
What I'm trying to introduce is a workaround considering the current working of kube-proxy and so the primary intent of this bug was more documentation as the original Comment suggests - there was not sufficient documentation around wrr scheduler of kube-proxy ipvs mode and so this was merely an attempt to share with you'll - the experts - our understanding of it all and to know

[2020-12-08 05:43] MikeSpreitzer commented on #96648
@MikeSpreitzer

[2020-12-08 05:47] thockin commented on #96902
Remember that a Service can front multiple deployments or DaemonSets.  Also remember that Deployments can have NodeSelectors.  Also remember that admission-control con modify pods as they are created.  So you could have Deployment foo-small with 1 CPU requested on nodes labelled `size: small` and another Deployment foo-large with 16 CPUs requested  on nodes labelled `size: large`.  wrr could then

[2020-12-08 05:52] thockin commented on #97110
https://github.com/kubernetes/kubernetes/issues/97076 as a proposal for k/k

[2020-12-08 06:13] like-inspur opened #97116 "es statefulset run pod failed"
**What happened**:
I create es statefulset reference https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch

**What you expected to happen**:
elasticsearch-logging-0 is CrashLoopBackOff and elasticsearch-logging-1 is running
[code]

**Anything else we need to know?**:
[code]

[2020-12-08 06:16] like-inspur commented on #97116
/sig usability

[2020-12-08 06:35] nilo19 commented on #87232
a quick test in https://github.com/kubernetes/kubernetes/pull/97105, the azure disk tests still fail, with a similar error message:
[code]

[2020-12-08 06:38] andyzhangx commented on #87232
correct, there is issue with the above PR.

[2020-12-08 06:40] nilo19 commented on #87232
one possible walkaround: use GET for azure disk only and LIST for the rest

[2020-12-08 06:59] YaShanBoy commented on #97079
i find the question，ffmpeg use udp by default，so it can't read stream. use tcp. it's all right!

[2020-12-08 06:59] ravisantoshgudimetla commented on #96935
@marosset - Thank you for elaborating on why the kube-proxy process has to set it owns priority. I just want to add one more point related to having external entity set the priority, as community we need to give specification on how to set priority of the kube-proxy and kubelet if we're relying on external entities to do so.

I believe you're referring to recommending in the docs.

+1

[2020-12-08 06:59] #97079 closed

[2020-12-08 07:46] pacoxu commented on #97112
Do you configure readiness check on your pod?

Or please check the param below, it may be caused by that the node is marked as NotReady after a grace period. This is configurable. After that, pod will be terminating and rescheduled
[code]
refer to https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

[2020-12-08 07:55] andyzhangx commented on #92710
/reopen

[2020-12-08 08:07] kifeo commented on #87491
Hi @Jiawei0227 indeed this was a stale mount file handler. I just created a nfs pv/pvc and referenced it in my helm chart in replacement of the cephfs pv/pvc.
I use flux for deployment, it seems that when the helm chart is updated, the error rises.
k8s version is v1.19.4

[2020-12-08 08:36] LeslieRan opened #97117 "clusterinformations.crd.projectcalico.org "default" not found"
I used `kubectl create` to create a pod with the name "sidecar-verification", but then the containers in the pod were not running and the status of the pod is always `ContainerCreating`. So I used `kubectl describe` to check the status of the pod, as the following picture shows:
![pod-warning](https://user-images.githubusercontent.com/33219197/101459383-233aa400-3973-11eb-90c3-f3a5078c3f97.png)
I

[2020-12-08 09:15] guoh1988 opened #97118 "Kubernetes API server stuck on metrics server API service discovery failure when The machine power is off or the network is disconnected"
What happened:

When the metrics-server pod is running the worker node, the power is disconnected or the network is disconnected，the metrics-serve pod is started on other working nodes, and kube-apiserver cannot connect to the metrics-server

kube-apiserver log:
[code]

kubectl get pods -o wide -n kube-system

[code]

kubectl get apiservice | grep metrics

v1beta1.metrics.k8s.io                 ku

[2020-12-08 09:16] guoh1988 commented on #97118
/sig kube-apiserver

[2020-12-08 09:17] guoh1988 commented on #97118
/sig api-machinery

[2020-12-08 09:28] sculley commented on #97100
One thing I would like to re-mention, when I upgraded a kubeadm install from 1.18.12 to 1.19.4 on Ubuntu, the NoExecute taint is still added but as described here on new installs its not. That seems rather strange?

I would also assume this is quite a serious bug, I imagine most people are not impacted as they user 1.18 and versions provided by cloud providers but this sort of breaks HA in some wa

[2020-12-08 10:05] eddspencer commented on #96858
Thanks @thockin that seems pretty conclusive the me - the endpoints are updated as soon as the pod is changed to the terminated state.

Just so I am clear what does that mean exactly so I know who to contact on this? It is my understanding that the endpoints define which pods a service can connect to, and so is it guaranteed that if the endpoint list is correct we have sent the command to the actu

[2020-12-08 10:24] matthyx commented on #96731
@howardjohn that wasn't sufficient because the probe ticker starts with the prober... so we have to wait for the end of the cycle to run the readinessProbe.
I have updated my branch to include a manual run of the readinessProbe just after the `started` state, and it works!
Look at the result on my kind cluster (using exactly your deployment spec):
[code]

[2020-12-08 10:25] matthyx commented on #96731
If that LGTY I can submit a PR and we (hopefully) can see this in the 1.21 release... I am not sure it qualifies for a 1.20 cherrypick though.

[2020-12-08 11:41] borgerli commented on #97076
Thanks. But I could not reproduce the problem in my minikube 1.19 cluster following the steps. Here is what I got:
[code]

[2020-12-08 11:42] filintod commented on #97107
I'm fine with a doc change mentioning the restriction similar to the restriction in the doc for container port (https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#containerport-v1-core) where it explicitly says about the IANA_SVC_NAME constraint

[2020-12-08 11:47] mm4tt opened #97119 "Optimize rbac/bootstrap-roles post-startup-hook"
The [rbac/bootstrap-roles post startup-hook](https://github.com/kubernetes/kubernetes/blob/9bf7fcfc76eb809ac74ce1f5f36f95de5e3a06ba/pkg/registry/rbac/rest/storage_rbac.go#L141) is slooooow.

**Why:** It needs to reconcile ~100 roles/clusterroles/rolebings/clusterrolebindings, each of them requiring 1-2 api calls (get + optional update). It does all operations serially and in case of any error it s

[2020-12-08 11:47] mm4tt commented on #97119
/good-first-issue

[2020-12-08 12:35] champtar commented on #97110
I never understood why the data plane is different between LoadBalancer and ExternalIPs.
That being said, you can completely remove ExternalIP and replace it by a small static LoadBalancer controller with a simple mapping as config `namespace/servicename -> ip`, or have people run MetalLB controller without MetalLB speaker.

[2020-12-08 12:36] pacoxu commented on #97117
seems to be a calico issue

open issue in
https://github.com/projectcalico/calico/issues may help. similar to https://github.com/projectcalico/calico/issues/2485

you may check calico-node version and status on that node.

[2020-12-08 12:44] pacoxu commented on #97118
can you provide the metrics deployment and service yaml？let me try to reproduce.

[2020-12-08 12:53] champtar commented on #97076
@borgerli ExternalIP MITM doesn't work 100% depending on you kubespray mode / CNI, see more results in my writeup (link in previous message)

[2020-12-08 13:08] gavinfish commented on #97119
/assign
/remove-help

[2020-12-08 13:11] coderwangke opened #97120 "Scheduler's snapshot.nodeInfoList has data chaos"
**What happened**:
k8s cluster has for node (3 for master node, and one for worker node), basic info:
master-01: label[failure-domain.beta.kubernetes.io/region=sh,failure-domain.beta.kubernetes.io/zone=200002]
master-02: label[failure-domain.beta.kubernetes.io/region=sh,failure-domain.beta.kubernetes.io/zone=200002]
master-03: label[failure-domain.beta.kubernetes.io/region=sh,failure-domain.beta.k

[2020-12-08 13:17] coderwangke commented on #97120
/sig scheduling

[2020-12-08 13:22] danwinship commented on #96670
The kubelet node-ip autodetection in the "bare metal" / non-cloud-provider case is not great, and can't really be trusted if you have multiple interfaces. If you aren't using a cloud provider, it's best to always explicitly specify `--node-ip`.

Yes, one of the things that's talked about in https://github.com/kubernetes/enhancements/pull/1665 is making a new/better/saner/more-stable bare-metal-nod

[2020-12-08 13:35] tamalsaha opened #97121 "kubectl does not preserve YAML formatting"
**What happened**:

go-yaml library stopped preserving the textual YAML format. As a result, `kubectl label --local` command automatically reformats the yaml removing empty newlines and converting multiline strings into one line.

See:
- https://github.com/mikefarah/yq/issues/465
- https://github.com/go-yaml/yaml/issues/627

I was previously using kubectl 1.17.x where old version of go-yaml parser

[2020-12-08 13:36] tamalsaha commented on #97121
/sig cli

[2020-12-08 13:39] adampl commented on #97100
I never used kubeadm, but I guess it doesn't upgrade existing cluster components automatically.

[2020-12-08 13:43] ScrapCodes commented on #94998
Hi @robscott , any update on this?

[2020-12-08 13:50] danwinship commented on #23864
@nustiueudinastea so what is the complete architecture? Are you using load balancers? External IPs? Do you have a separate LB/external IP for each pod? If not, don't you have to worry about port conflicts between the different pods, who have no way to coordinate among each other which ports are in use and which aren't? Or do you only have a single (or very small number) of pods doing SIP/RTC so th

[2020-12-08 13:51] danwinship commented on #23864
Don't. Environment variables for services are bad anyway.

[2020-12-08 14:08] nustiueudinastea commented on #23864
@danwinship good questions. In my particular case, I have several pods on each node, deployed using daemonsets, which allows me to pre-define the port ranges for each daemonset so that they don't conflict. At the moment, I set the port ranges programatically via the K8s API so I don't have to embed 10s of thousands of ports in the daemonset definitions. Clients/applications talk directly to the da

[2020-12-08 14:34] tosi3k opened #97122 "[Flaky test] [sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Pre-provisioned PV (xfs)][Slow] volumes should allow exec of files on the volume"
**Which jobs are flaking**:
gce-master-scale-correctness

**Which test(s) are flaking**:
`[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Pre-provisioned PV (xfs)][Slow] volumes should allow exec of files on the volume`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
[code]

**Anything else we need

[2020-12-08 14:39] tosi3k commented on #97122
CC @jingxu97 @mattcary for visibility.

[2020-12-08 15:28] MicDeDuiwel opened #97125 "Error while proxying request: connection reset by peer"
**What happened**:
Deployed a new and working Kubernetes stack on bare-metal Ubuntu server VM's using kubeadm 1.19.3, using keepalived to and haproxy for the multi master cluster, all nodes connected fine, and after deploying the Flannel network it seemed that all pods was deploying fine.

But once we use `kubectl proxy` to look at the dashboard we start seeing this:
[code]
When we are using port-

[2020-12-08 15:40] jeremy-duckworth commented on #97077
Testing yesterday,  I found that there are two signatures in the repo.xml.asc file:

[code]

The 'missing' public key was found in the apt-key.gpg file

[code]
Stands to reason, base on the 'missing' key comment, that this issue may have started on/around 2020-12-03?

While conjecture (have not debugged further), it appears that yum may accept a repo with at least one publicly trusted signature, w

[2020-12-08 15:42] verb commented on #97103
I agree, this is super useful. For ephemeral containers this will be blocked on #53188, which I hope to address in 1.21.

@wawa0210 if you're interested, you could implement this for adding a debug container with `--copy-to` and then extend it to also work for ephemeral containers when #53188 is resolved. What do you think?

For the implementation, my impulse would be to allow an arbitrary list of

[2020-12-08 15:57] howardjohn commented on #96731
Looks great, that is exactly the behavior I was hoping for!

[2020-12-08 16:06] thockin commented on #97110
LoadBalancer controller

A user could.  We can't unilaterally rip out a feature.  We don't want to
pull the rug out from underneath the (relatively small) number of
legitimate users.

On Tue, Dec 8, 2020 at 4:35 AM Etienne Champetier <notifications@github.com>
wrote:

[2020-12-08 16:10] champtar commented on #97110
I mean make it configurable, then at some point disable it by default, then even later remove it.

[2020-12-08 16:13] thockin commented on #97110
I'm proposing to give users a choice - completely off, completely on
(default, legacy), or enabled subject to your own policy.  I haven't
seen enough use-cases with enough commonality to warrant trying to add
more standard APIs to control it.  Users are adopting more general
policy control, and I don't think we should swimp against that
current.

On Tue, Dec 8, 2020 at 8:10 AM Etienne Champetier
<

[2020-12-08 16:13] TheDiveO commented on #77142
/remove-lifecycle stale

[2020-12-08 16:19] matthyx commented on #96731
@howardjohn let's have it merged then 👍

[2020-12-08 16:27] danwinship commented on #97110
Note that externalip-webhook's `allowed-external-ip-cidrs` solves the problem from the CVE but is still insecure if there are mutually-untrusting users, because it doesn't stop one user from creating a Service using the same externalIP+port as another user's existing Service.

[2020-12-08 16:32] jingxu97 commented on #97122
I think the cause is the same as https://github.com/kubernetes/kubernetes/issues/97071

[2020-12-08 16:32] thockin commented on #97110
Right.  To *really* solve this we need a much more robust control API and I
am not (yet) convinced that is justified.

On Tue, Dec 8, 2020 at 8:28 AM Dan Winship <notifications@github.com> wrote:

[2020-12-08 16:33] mikebryant commented on #97090
The issue is with the definition of the `ResourceQuota`

See the following example (using the same Node / Pod definition as above):
[code]

[code]

The quota line for just `reindeers.santa/rudolph` is ignored - it needs to be specified using `requests.` and then it will understand it and show the usage

See the example here for the custom `nvidia.com/gpu` resource: https://kubernetes.io/docs/conce

[2020-12-08 16:39] apelisse commented on #94339
I think this bug specifically has been fixed. The modified event was triggered because we updated the timestamp of the managedfields. We don't do that now when this doesn't result in a change of ownership, which reduces the number of spurious events.

[2020-12-08 16:39] aakarshg opened #97129 "Connection between apiserver and kubelet unreliable when autoscaling is enabled"
**What happened**:

In a large active ( nodes getting spinned up and getting terminated often ) cluster ( a few thousands of pods ) with autoscaling enabled, an existing `kubectl exec` connection to the kubelet on a node that's not being terminated seems to be unreliable.

**What you expected to happen**:

I'd expect that a connection to a node that's not being terminated would be reliable even if

[2020-12-08 16:41] aakarshg commented on #97129
/sig autoscaling

[2020-12-08 16:56] Shuanglu commented on #97080
@andyzhangx  whether it's possible to add label "failure-domain.beta.kubernetes.io/zone:0" to the PV as well so that scheduler can compare the zone and region value between PV and node? I tested with aks-engine via adding the label and it can avoid the incorrect scheduling.

[2020-12-08 16:58] #89614 closed

[2020-12-08 17:26] Jiawei0227 commented on #87491
@kifeo , so the symptom is the pod cannot be terminated? Any events from the pod? If not events, could you help to create a ticket and attach the repro process and I can take a look. Thanks!

[2020-12-08 17:37] mmerkes opened #97130 "kubelet-NodeConformance test has continually failing test"
**Which jobs are failing**:

`kubelet-NodeConformance`

**Which test(s) are failing**:

`Pods should run through the lifecycle of Pods and PodStatus`

**Since when has it been failing**:

11/26/2020

**Testgrid link**:

https://testgrid.k8s.io/sig-node-critical#kubelet-NodeConformance

**Reason for failure**:

[The test was recently added to NodeConformance](https://github.com/kubernetes/kubernete

[2020-12-08 17:37] mmerkes commented on #97130
/assign
/sig node

[2020-12-08 17:52] rojinsafavi opened #97131 "UnexpectedAdmissionError"
My code was working fine last night, but this morning it started giving me this error when I created my YAML. I have to mention that the error was there last night as well, but I was able to get rid of the error by deleting and creating the job again. But this no longer works today.

the pod description gives this message:

`Message:        Pod Allocate failed due to device plugin GetPreferredAllo

[2020-12-08 17:56] cmluciano commented on #90047
@wojtek-t Does this issue need an owner? I got a little lost wading through all of the issues/PRs attached to this issue.

[2020-12-08 18:42] zentale commented on #97090
Cool, thanks @mikebryant ! I got it now.
https://kubernetes.io/docs/concepts/policy/resource-quotas/#resource-quota-for-extended-resources
This part explains some more details around extended resources. It explicitly mentions that `limits.<extended resource>` will not work, and implicitly `<extended resource>` won't either, as only `requests.<extended resource>` is supported. This part is inconsis

[2020-12-08 18:42] #97090 closed

[2020-12-08 18:55] cmluciano commented on #96922
@BentCoder Can you open this on https://github.com/kubernetes/ingress-nginx/issues ? I do not believe the API is affecting this from my testing. I think there is something funky with ingress-nginx updates.

[2020-12-08 19:11] sftim commented on #89094
/remove-lifecycle rotten

[2020-12-08 19:27] wojtek-t commented on #90047
The test is disabled.
I think the crucial part is done now - which is: https://github.com/kubernetes/kubernetes/pull/92163
I can't remember what else left to be done.

Unfortunately you can't do that from oss. We only have post-submits exposes as these are too expensive.
We can try running it internally to check if it now works...

[2020-12-08 19:36] jayunit100 commented on #23864
Env vars ... ok ... makes  sense if you all say we can break the env var model  to make progress I'm all for it :).  Probably we should have a KEP for that since some things like client go rely on this ?

[2020-12-08 19:59] M00nF1sh commented on #66306
@bnutt
It's an unsupported behavior for now. `service.beta.kubernetes.io/aws-load-balancer-type` should be treated as immutable. If you need to change it, you should delete the service and recreate.

[2020-12-08 20:02] srm09 opened #97133 "Pass a context to the kubectl PatchOrReplace calls"
**What would you like to be added**:
For `kubectl`, the `PatchOrReplace` method of the `CordonHelper` object should accept a user supplied context which is then used by the client to update the status of the node before cordon/uncordoning the node.

**Why is this needed**:
Currently [CAPI](https://github.com/kubernetes-sigs/cluster-api) uses a local copy of the drain/cordon code from the `kubectl`

[2020-12-08 20:02] srm09 commented on #97133
/sig cli

[2020-12-08 20:20] troy0820 commented on #97131
/remove-kind bug
/kind support
It's difficult to reproduce the issue @rojinsafavi.  Can you provide us with the version of Kubernetes, OS, what pods you are trying to run?

[2020-12-08 20:22] troy0820 commented on #97117
/sig networking

[2020-12-08 20:23] troy0820 commented on #97117
/sig network

[2020-12-08 20:24] troy0820 commented on #97109
/sig network

[2020-12-08 20:25] troy0820 commented on #97067
/sig api-machinery

[2020-12-08 20:33] Huang-Wei commented on #97120
@coderwangke this issue should have been fixed in releases >= **1.19** (by #93355), and backported to **1.18.8** and onwards (by #93387). Please let me know if you still see the issue on the latest 1.18 patches.

[2020-12-08 21:02] wojtek-viirtue commented on #60538
@fernando-villalba seeing the same thing on my cluster which is runninng v1.19.4 with argocd for the following CRDs: applications.argoproj.io, appprojects.argoproj.io. Looks like it resulted from a terminating namespace that was managed by argocd.

[2020-12-08 21:13] fedebongio commented on #92157
/triage accepted

[2020-12-08 21:13] fedebongio commented on #96842
/triage accepted

[2020-12-08 21:14] fedebongio commented on #97061
/assign @logicalhan @wojtek-t
/triage accepted

[2020-12-08 21:15] fedebongio commented on #97067
Hi @MarryZhang thank you for your issue. Could you help us better understand the question? Maybe providing more context to your use case and what would you like to be responded? Thank you!

[2020-12-08 21:16] fedebongio commented on #97072
/triage accepted

[2020-12-08 21:17] fedebongio commented on #97118
/cc @logicalhan
/triage accepted

[2020-12-08 21:19] logicalhan commented on #97118
/cc @serathius

[2020-12-08 21:19] deads2k commented on #97072
We allow custom admission plugins by using mutating admission webhooks.  There are also existing projects like OPA which provide admission webhooks and ways to configure them to set default fields.  I don't see us adding this option to the core product.

/close

[2020-12-08 21:20] #97072 closed

[2020-12-08 21:22] fedebongio commented on #97119
label:priority/longterm

[2020-12-08 21:22] fedebongio commented on #97119
/triage accepted

[2020-12-08 21:23] fedebongio commented on #97119
label:priority/important-longterm

[2020-12-08 22:01] victor-timofei commented on #96942
Hi, is someone working on this? If no, can I pick it up? Thanks.

[2020-12-08 22:05] agowa338 commented on #23864
Well in the "normal enterprise world" or in a "normal cdn" world one could simply use ECMP with an deterministic algo, like using the client IP. Same client IP goes to the same backend. If the backend is down the connection goes to to another one. That other one than sends a RST package and the connection gets reestablished by the client...
Or alternatively the connection state of open and closed

[2020-12-08 22:06] BentCoder commented on #96922
@cmluciano Done!

[2020-12-08 22:15] pabrahamusa commented on #70179
I have similar issue where docker stats reports
`  1.1GiB / 26GiB`
if i do a top in the node the app is only taking 26% of memory

However kubectl top shows 26 GB of memory usage

I am assuming there are some issues how kubernetes find memory details with Java apps.

[2020-12-08 22:38] kullu-ashish commented on #72759
This AMI version is recalled possibly due to issue with containerd 1.4.0 leak issue - https://github.com/containerd/containerd/issues/4297.

Check - https://github.com/awslabs/amazon-eks-ami/releases

Update the AMI version.

[2020-12-09 00:06] adampl commented on #72393
Answering myself - apparently it has been fixed in k8s 1.20: https://github.com/kubernetes/kubernetes/pull/92027

[2020-12-09 00:28] #92826 closed

[2020-12-09 00:28] #93312 closed

[2020-12-09 00:28] #93902 closed

[2020-12-09 00:29] #95188 closed

[2020-12-09 00:29] #95612 closed

[2020-12-09 00:29] #95779 closed

[2020-12-09 00:53] guoh1988 commented on #97118
helm version

[code]

install metrics-server
`helm upgrade --install metrics-server ./metrics-server  --namespace kube-system`

remove  metrics-server
`helm del --purge metrics-server`
metrics-server version 2.5.0

[2020-12-09 01:09] ramnar commented on #93100
@zhouya0  - create_service was already done by this https://github.com/kubernetes/kubernetes/pull/95256 . I have spent lot of time to implement it and test it and finally realised that someone has already done it. Not sure how I was having such a stale master copy . Can you mark this as complete. I would like to work on expose feature

[2020-12-09 01:14] briend opened #97138 "k8s 1.19.4 kubelet stops presenting kubelet_volume_stats_used_bytes metrics"
**What happened**:

After upgrading to k8s 1.19.4, kubelet metrics for `kubelet_volume_stats_used_bytes` and other `kubelet_volume_*` metrics are missing.  All other kubelet metrics seem to be fine.

**What you expected to happen**:

kubelet should continue providing these metrics

**How to reproduce it (as minimally and precisely as possible)**:

Perform a normal upgrade of k8s to 1.19.x and then

[2020-12-09 01:14] yuzhiquan commented on #96957
/remove-help

[2020-12-09 01:17] ramnar commented on #93100
@aubm - Can I work on configmap if you permit ? That will be relatively easy for me to get started

[2020-12-09 01:22] aubm commented on #93100
Sure @ramnar go ahead!

[2020-12-09 01:28] #95785 closed

[2020-12-09 01:29] #96513 closed

[2020-12-09 01:34] zhouya0 commented on #93100
Sorry for that. And by the way, if you have done the PR, please ask for cli approvers to get it merged.

[2020-12-09 01:58] vflong opened #97140 "CHANGELOG-1.20.md Some content is duplicated"
**What happened**:
[CHANGELOG-1.20.md](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md)
<https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#dependencies>
<https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#dependencies-1>
duplicated
**What you expected to happen**:

**How to reproduce it (as minimally and

[2020-12-09 02:01] vflong commented on #97140
/sig docs

[2020-12-09 02:06] qd19zzx opened #97142 "kube-apiserver v1.17.3 consume high memory until it is exhausted"
We have a kubernetes cluster with 3 masters, and it has running stable for almost 3 months. But from 2 days before, we found the api-server on each masters has consume high memory until the memory is exhausted.  It seems bytes.makeSlice has consumes a lot. But I am newer of k8s, I have no idea of how to resolve this situation. So could anyone provide some clues to solve this problem

[code]

[ppro

[2020-12-09 02:06] 842Mono opened #97143 "Need to be able to change the "Internal IP" of worker nodes."
Hi.

We have a master node and two worker nodes. (The master node and one of the worker nodes are on "GENI". The other worker node is an AWS node).

We are able to connect the GENI worker node to the GENI master node without issues. However, when we try to connect the AWS worker node to the GENI master node, the internal IP that is set needs to be changed.

The AWS node has a public IP address and

[2020-12-09 02:12] wawa0210 commented on #97103
@verb

Thanks for the reply, I am very interested. I might get to know it first, and then start to work. If there are new ideas, I am looking forward to knowing~

/assign

[2020-12-09 02:13] qd19zzx commented on #97142
/sig api-machinery

[2020-12-09 02:16] coderwangke commented on #97120
@Huang-Wei Thanks for your comment, i will merge #93387 to v1.18 and test again.

[2020-12-09 02:34] #96642 closed

[2020-12-09 02:34] #96658 closed

[2020-12-09 02:35] #96672 closed

[2020-12-09 03:06] pacoxu commented on #97138
/sig node
/assign

[2020-12-09 03:31] chrisliu1995 opened #97147 "cloud provider AWS NLB can't balance pods' load when externalTrafficPolicy is Local"
**What happened?**

When we used the aws cloud provider, we found that when a loadbalance type service was created and its externalTrafficPolicy was specified as Local, the backend pod traffic was unbalanced.

I did an experiment to reproduce this problem.

**Experiment description**

- Cluster description:

    - version: kubernetes 1.12.4

    - 2 computing nodes (node1 & node2)

    - service (

[2020-12-09 03:37] jianzhangbjz commented on #62504
/reopen

[2020-12-09 04:03] #96408 closed

[2020-12-09 04:20] frasertweedale opened #97149 "ServicePort -> DNS SRV does not allow services with same name but different protocol"
**What happened**:

Creating a service with two ports that have the same name, but different protocol, fails:
[code]

This is an important use case for some applications, and the limitation is surprising.  More information in my blog post: https://frasertweedale.github.io/blog-redhat/posts/2020-12-08-k8s-srv-limitation.html#kubernetes-srv-limitation

**What you expected to happen**:

Such Service

[2020-12-09 04:22] frasertweedale commented on #97149
/sig network

[2020-12-09 04:46] chrisliu1995 commented on #97147
/sig cloud-provider

[2020-12-09 04:50] chrisliu1995 commented on #97147
/area provider/aws

[2020-12-09 05:04] #96483 closed

[2020-12-09 05:05] #96950 closed

[2020-12-09 05:06] #97014 closed

[2020-12-09 05:06] pacoxu commented on #97138
After #84907, kubelet 1.17 mark volume stats metrics as ALPHA.

I can reproduce it in my cluster of 1.19.3. It works in 1.18.5.

[2020-12-09 05:31] TiDao commented on #24092
did you sovle the problem ? i meet same one at  kubernete 1.18.5 @andreikop

[2020-12-09 05:54] andyzhangx commented on #97080
/assign
/sig cloud-provider
/area provider/azure
/triage accepted

[2020-12-09 05:59] theunrealgeek commented on #96717
I'm currently working on `II. Simplify the core [Feature:SCTP] tests` and also trying to get my local setup working to run the integration tests. Not sure if I should be using `kubetest` as mentioned in the [e2e tests doc](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md) or `kubetest2` which is linked from the [deprecation warning on the `kubetest` r

[2020-12-09 06:45] Gefuxing opened #97152 "How do I get the status of a POD? Instead of using SSH, execute the Kubectl get POD command."
Could you please tell me how to get the running, Terminating, Pending and other states of POD? The state obtained by JavaAPI is not consistent with the actual running state of POD. I want to get a lot of pod states in namespace.Hope to get help.Thank you very much! Instead of using SSH, execute the Kubectl get POD command.
mq-rabbitmq-0                                    1/1     Running

[2020-12-09 07:26] pacoxu commented on #97152
/kind support

To get java kubernetes client, refer to https://github.com/kubernetes-client/java

To know pod status, read https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

[2020-12-09 07:28] pacoxu commented on #97152
Please try asking on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if there is a confirmed kubernetes bug, open a new issue with reproduction steps and good details.

thanks
/close

[2020-12-09 07:28] #97152 closed

[2020-12-09 07:34] pacoxu commented on #96847
/sig cloud-provider
/area provider/vsphere
?

[2020-12-09 07:35] pacoxu commented on #96847
/area provider/vmware

[2020-12-09 07:46] Teja1126 opened #97153 "Conflict. The container name "/k8s_kube-apiserver_kube-apiserver-master-3_kube-system_1d25fb42cda5d90beda502e06a30a585_4" is already in use by container "xxxxxxxxxxxxxxxxxxxxxxxxxxxx". You have to remove (or rename) that container to be able to reuse that name."
**ISSUE**:

while upgrading k8s version from 1.17.5 to 1.18.9 we continously obsorves issues with kube-apiserver, kube-controller and kube-scheduler docker images getting corrupted.

Tool we used for upgrade is kubespray.

ERROR:
--------
Warning Failed 3m48s (x4 over 5m51s) kubelet, master-3 Error: Error response from daemon: **Conflict. The container name "/k8s_kube-apiserver_kube-apiserver-mast

[2020-12-09 07:52] MicDeDuiwel commented on #97125
/sig api-machinery
/sig network

[2020-12-09 07:53] kshke opened #97154 "damonset pod age aren't changed when I upgrade the cluster/node version"
I have pod niginx which has pod's disruption budget. Then I upgrade the cluster from 1.7.11 to 1.18.10. As shown below, the pod age didn't change.
sarah@Azure:~$ kubectl get pods
NAME                     READY   STATUS    RESTARTS   AGE
nginx-86c57db685-22tpr   1/1     Running   0          14d
nginx-86c57db685-gmmrv   1/1     Running   0          14d

The damonset pod omsagent's also don't change.

[2020-12-09 08:07] pacoxu commented on #97154
`Age = now - createdTimeStamp`
If the pod is not recreated, the createdTimeStamp will not be changed.

[2020-12-09 08:09] kshke commented on #97154
@pacoxu  The createdTimestamp is not changed, too. but when I upgrade k8s cluster in azure, the node was restart so all the pods must have recreated.

For the other pods which are not ds or don't have pdb, the age of pod are changed.

[2020-12-09 08:14] pacoxu commented on #97154
You may compare the container inspect info(docker ps -a && docker inspect container-id) and pod status(kubectl get pod -o yaml) as well for detailed date time.

Read more in https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

[2020-12-09 08:25] pacoxu commented on #97147
Same as

There is a suggestions here in https://kubernetes.io/docs/concepts/services-networking/service/#aws-nlb-support

[2020-12-09 08:37] aojea opened #97156 "DualStack e2e Services TestJig"
The e2e testing framework uses the TestJib object for Services testing

https://github.com/kubernetes/kubernetes/blob/10744811f51cef741948676758563cfe04bb7ef2/test/e2e/framework/service/jig.go#L61-L68

With the new Dual Stack API changes in 1.20, the Services API has 3 new fields:

https://github.com/kubernetes/kubernetes/blob/10744811f51cef741948676758563cfe04bb7ef2/pkg/apis/core/types.go#L3605-L

[2020-12-09 08:38] aojea commented on #97156
dibs on @cmluciano :)
pinging @khenidak @aramase and @thockin

[2020-12-09 08:39] aojea commented on #97156
/sig testing
/sig network
/triage accepted
/kind feature

[2020-12-09 08:41] gjkim42 commented on #94892
@yehiyam are you working on this? else maybe I'd like to try this!

[2020-12-09 08:49] andyzhangx commented on #97080
now we would set `failure-domain.beta.kubernetes.io/zone` for zone disk, e.g. `failure-domain.beta.kubernetes.io/zone=eastus-1`, while we cannot set `failure-domain.beta.kubernetes.io/zone` for non-zone disk since for non-zone disk, there should be no restriction in scheduling.

Since user has both zone and non-zoned node pools in one cluster, workaround is set `nodeSelector` to schedule deploymen

[2020-12-09 09:15] KeithTt commented on #54918
I resolve the issue like this:
[code]

[2020-12-09 09:29] serathius commented on #97118
Please upgrade Metrics Server image to v0.4.1 and verify if it's affected by same problem.

[2020-12-09 09:30] toadjaune commented on #76957
/remove-lifecycle rotten

[2020-12-09 09:31] toadjaune commented on #76957
I just checked again on my local machine (kubectl `v1.19.3`, zsh `5.8`), the problem is not present anymore.

[2020-12-09 09:31] #76957 closed

[2020-12-09 09:37] pacoxu commented on #97121
Do you have a failed example?

[code]
Simple demo works for me

[2020-12-09 09:53] aojea commented on #97149
This is working as expected, names for ports must be unique

https://github.com/kubernetes/kubernetes/blob/f2fb77a6a00dc200d38fca4d72b5aeedced25374/staging/src/k8s.io/api/core/v1/types.go#L4256-L4264

what's the problem on using?
[code]

[code]

[2020-12-09 10:14] frasertweedale commented on #97149
@aojea doing that means you can create the service object.  But the resulting SRV records will be wrong.  They need to be `_kerberos._tcp.<the-rest>` and `_kerberos._udp.<the-rest>`.  This is how SRV records work - mapping IANA-registered service names and IANA-registered transport protocols to target host/port pairs.

So yes, "names for ports must be unique" - in the current Kubernetes implementa

[2020-12-09 10:27] qd19zzx commented on #97142
I got the root cause, some app has sync the ldap data and create a configmap for each account in k8s. So there is more than 100K+ configmap in one namespace. After delete these configmaps, the memory has decrease.

[2020-12-09 10:54] sttts commented on #94519
patternProperties allow the definition of schemas depending on field names. For my understanding this is an anti-pattern for Kube APIs because we aim at having complete and static knowledge of fields and of map keys.

With this feature one could e.g. define restrictions on labels, e.g. on `.*\.example.com/.*` versus all other map keys:
[code]

Do we want that rather than enforcing the schema on `f

[2020-12-09 10:54] sttts commented on #94519
/remove-lifecycle stale

[2020-12-09 10:56] aojea commented on #97149
I think that there is solutions to this problem, but they have to be backwards compatible
https://github.com/kubernetes/kubernetes/pull/97150#issuecomment-741602169

To be fair, this "technically" doesn´t obstruct Kerberos to work, AFAIK it only needs one protocol to work (not much into Kerberos so I can be wrong here) , it also seems that  TCP is not enabled by default in some kerberos implementa

[2020-12-09 11:01] cbcoutinho commented on #97077
This seems indeed to be something related to how zypper handles RPM repos and in this case those from Google.

I ran into this same issue when recently updating a package from the `google-cloud-sdk` repository on openSUSE. Based on @jeremy-duckworth and his tip about the missing gpg key, I was able to solve the problem by appending the URL to the key to my local repo file. With the updated repo co

[2020-12-09 11:03] chinmay22897 commented on #60957
/reopen

[2020-12-09 11:09] renyuntao commented on #97112
@pacoxu Thank you very much, it's  the problem of `--node-monitor-grace-period duration` option, when I change the value of `--node-monitor-grace-period` to `10s`, endpoint update its state more quick.

[2020-12-09 11:09] #97112 closed

[2020-12-09 11:11] renyuntao commented on #97112
Problem has been resolved.

[2020-12-09 11:12] tiran commented on #97149
FreeIPA (our use case) requires both TCP and UDP for Kerberos. UDP is used by default for simple authentication requests. In some cases the payload does not fit into an UDP package and KRB5 will automatically use TCP. We cannot just use TCP as some application assume UDP as primary protocol. TCP would also slow down Kerberos. We really need both.

Can you change the code to use a combination of po

[2020-12-09 11:14] frasertweedale commented on #97149
From my POV, though I have not tested it (I really have no idea how to build and test Kubernetes locally with my own changes), if you just relax the uniqueness constraint from ServicePort "name" to the pair of "name" and "protocol", then that might be enough, and it is backwards compatible, up to any other part of kubernetes, or third party programs, not handling the possibility of ServicePorts wi

[2020-12-09 11:15] #78416 closed

[2020-12-09 11:18] sttts commented on #96896
I can see this. PR welcome.

[2020-12-09 11:22] guoh1988 commented on #97118
kubectl describe pods metrics-server-897ffcfbf-ld4bm   -n kube-system
[code]
This bug still exists in 0.4.1，I think this is a kube-apisever tcp socket accept and accept problem
[code]

[2020-12-09 11:33] pacoxu commented on #97112
If you set it too small, there would be some **risks**. For instance, a temporary failure of network for a small period would result in pod scheduling frequently.

[2020-12-09 11:53] aojea commented on #97149
I´m just highlighting the fact that the API explicitly mentions that the name should be unique , let´s wait for @thockin , this requirement in the API comes from pre1.0 kubernetes versions, I think he can explain it better than anybody ...

right now the SRV record is built like
` _<port>._<proto>.<service>.<ns>.svc.<zone>. <ttl> IN SRV <weight> <priority> <port-number> <service>.<ns>.svc.<zone>`

[2020-12-09 12:00] frasertweedale commented on #97149
Based on what I have read about the purpose of `appProtocol`, it is more about signalling to the Kubernetes network ingress systems how requests should be transported through to the application.  To me it seems conceptually wrong to make SRV records based on it and may have unintended consequences.  I could be wrong about it - I love to see more concrete examples of how `appProtocol` is used, whic

[2020-12-09 12:04] danwinship commented on #23864
oh, `KUBERNETES_SERVICE_HOST` needs to stay. I just meant env vars for end-user services. See also https://github.com/kubernetes/enhancements/blob/master/keps/sig-apps/0028-20180925-optional-service-environment-variables.md

[2020-12-09 12:15] jayunit100 opened #97159 "Using Sig-net dialfromnode and other networking.go utils for Sig-Windows tests"
**What would you like to be added**:
		We have alot of hardened node/polling logic in "dialfromnode" based on agnost and so on.  We should be running these tests as the backbone for the sig-windows tests.

**Why is this needed**:

- Need retries: Right now our networking tests for sig-windows (i.e. https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/hybrid_network.go) are doing b

[2020-12-09 12:24] Aashrutisingh opened #97160 "error: no objects passed to create"
Was trying create an argo dag which shows `error: no objects passed to create  `while running the job. What can be the possible issue ?
PS: My parameters are in place also checked the apiVersion everything is in order
/sig apiserver

[2020-12-09 12:43] nauutilus commented on #23864
Guys, I follow this topic since 2016 and I need to remember you one thing. The whole point of using K8s is to EASLY automate fleet control plane. When automation itself became a bigger problem then the process itself you have to stop the madness of these crazy workarounds. K8s was not built as a data plane orchestration solution. Actually it's crazy inefficient to run data plane through K8s.

I ha

[2020-12-09 12:57] edwardstudy commented on #94515
@caesarxuchao @roycaihw  Thx for replying.

It was overridden by customized admission webhoook instead of a bug.

[2020-12-09 12:57] #94515 closed

[2020-12-09 14:04] yuanhuaiwang opened #97161 "list events --all-namespaces not hit apiserver cache and return by paged"
**What happened**:
when i get events in all-namespaces , i found the result is paged and not hit apiserver cache
kubectl get events --all-namespaces --v=6

I1209 21:48:36.424972   23288 loader.go:359] Config loaded from file /root/.kube/config
I1209 21:48:36.455227   23288 round_trippers.go:438] GET https://xx8:6443/api/v1/events?limit=500 200 OK in 18 milliseconds
I1209 21:48:36.479700   23288 ro

[2020-12-09 14:07] yuanhuaiwang commented on #97161
/sig api-machinery

[2020-12-09 14:08] danwinship commented on #96717
Sounds like `kubetest` still works but is just not getting new features, so I'd say use that.

like that

It should mostly test the same objects the current tests do, just all consolidated together

[2020-12-09 14:09] yuanhuaiwang commented on #97161
@wojtek-t @liggitt  please take a look , thanks a lot

[2020-12-09 14:17] wojtek-t commented on #97161
kubectl by design is listing from etcd - this is working as intended.

[2020-12-09 14:20] jrivers96 commented on #82987
The socket leak I was seeing was related to a containerd version. There is an issue for EKS. This was resolved for us by downgrading containerd.

https://github.com/awslabs/amazon-eks-ami/issues/563

[2020-12-09 14:25] renyuntao commented on #97112
I change the value of `--node-monitor-grace-period` just for test, thanks.

[2020-12-09 14:28] liggitt commented on #97161
Agreed, this is working as intended

[2020-12-09 14:28] #97161 closed

[2020-12-09 14:46] chrisohaver commented on #97149
For a for-now one-off workaround, I think you could use CoreDNS's [_rewrite_](https://coredns.io/plugins/rewrite/) plugin to add -tcp/-udp to the port name segment, based on the protocol segment. The rewrite plugin allows re-writing of incoming queries using regular expressions.  The rewrite could look something like the following **untested** snip ...

[code]

which essentially would rewrite, for

[2020-12-09 14:50] frasertweedale commented on #97149
@chrisohaver you have it backwards.  We require the service name in the SRV records to be `_kerberos`, but Kubernetes will not let us create the Service object that would yield those records.

Did you mean you could use a rewrite the *remove* the `-tcp`/`-udp` suffix?

[2020-12-09 14:51] MicDeDuiwel commented on #97125
After reading around a lot I'm starting to suspect that this might be an issue caused either by the kernel version of ubuntu 20.04 I'm using, or something to do with packets being dropped and then being invalidated causing connection resets.

See:
https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02
https://medium.com/swlh/fix-a-random-network-connec

[2020-12-09 14:59] chrisohaver commented on #97149
I think I got the direction correct...

0. Assume a service is defined with two ports named, `kerberos-tcp` and `kerberos-udp`
1. A dns query comes in to CoreDNS for `_kerberos._tcp.service.namespace.svc.cluster.local.`
2. The rewrite plugin changes it to `_kerberos-tcp._tcp.service.namespace.svc.cluster.local.`
3. kubernetes plugin looks up the modified query name `_kerberos-tcp._tcp.service.name

[2020-12-09 15:00] alculquicondor commented on #95445
Freeze is over,
@gavinfish any chance you can get a PR ready before #95308 is merged?

[2020-12-09 15:03] mihailgmihaylov commented on #57250
As far as I can see from the information in this issue and the other issues linked here, the roadmap is to move the NLB functionality away from the in-tree cloud integration and embed it in the aws-load-balancer-controller. That is perfect for us as we are already using this for ALBs. However, I see that it only supports NLB in IP mode and not in instance mode.

Is the plan to migrate the in-tree

[2020-12-09 15:36] jjainschigg-r commented on #95039
In 1.18.3, this error could be overcome by enabling the 'memory' cgroup, disabled by default in Pi 64-bit deb spins, but I'm told this doesn't work in 1.19.4?

[2020-12-09 16:30] drzdbd1 commented on #81723
+1 this is a must have feature

[2020-12-09 16:40] vllry commented on #87123
/reopen

[2020-12-09 16:41] vllry commented on #87123
/assign @adnxn

[2020-12-09 17:07] thockin commented on #97149
The problem here is compatibility.  I swear I opened this same issue years ago, but I can't find it.

The way service ports are defined sort of predates the strategic merge capabilities.  It ends up needing a compound key and we STILL have cases where various patch/merge cases do not work and can't really be fixed.

To allow this would be incompatible with all existing client-side merging (includi

[2020-12-09 17:16] eddspencer commented on #96858
So in case anyone stumbles across this and are having a similar problem - specifically the time taken to remove a pod from and AWS application load balancer being dependant on the `idle timeout` set - then we seem to have stumbled across the solution.

We had the ingress-controller `target-type` set to `instance` - which came from when we were using a classic load balancer. Setting the `target-typ

[2020-12-09 17:16] #96858 closed

[2020-12-09 17:17] eddiezane commented on #97133
/triage accepted
/priority backlog

[2020-12-09 17:23] thockin commented on #97149
https://github.com/kubernetes/kubernetes/issues/47249

[2020-12-09 17:23] thockin commented on #85020
I see this is still open.  Using the same NodePort across protocols is allowed within a Service as long as the service port is the same.

E.g.

Service port {53, TCP} and {53, UDP} can both use the same NodePort.  In fact we will now ENSURE that happens in the allocator.

Service port {80, TCP} and {53, UDP} CANNOT both use the same NodePort, even though it is technically feasible.  To allow this

[2020-12-09 17:23] #85020 closed

[2020-12-09 17:25] thockin commented on #73628
@uablrek We should fix this in the case of not allocating a NodePort for an LB.  Can you look into it under the umbrella of KEP 1864 ?

[2020-12-09 17:25] adeniyistephen commented on #95546
@eranreshef Oh, OK. so what about the documentation?

[2020-12-09 17:30] thockin commented on #39188
This seems fixed in 1.20 (maybe before but I have 20 at hand :):

[code]

Are there other aspects of this that are still pending?

[2020-12-09 17:32] adeniyistephen commented on #94091
@BenTheElder Hi, I would really love to work on this, please kindly provide input and pointers for the documentation. Thanks

[2020-12-09 17:32] thockin commented on #95893
Who can own this?  It's not clear to me who is making the gRPC call - is it the dialer work?  @cheftako ?

[2020-12-09 17:34] adeniyistephen commented on #93756
@jpbetz @liggitt Hi, I would really love to work on this, please kindly provide input and pointers for the documentation. Thanks

[2020-12-09 17:41] adeniyistephen commented on #89206
@lavalamp @liggitt Hi, I would really love to work on this, please kindly provide input and pointers for the documentation. Thanks

[2020-12-09 17:42] adeniyistephen commented on #77097
@lavalamp @liggitt Hi, I would really love to work on this, please kindly provide input and pointers for the documentation. Thanks

[2020-12-09 17:43] adeniyistephen commented on #73927
@liggitt Hi, I would really love to work on this, please kindly provide input and pointers for the documentation. Thanks

[2020-12-09 17:44] adeniyistephen commented on #20472
@bgrant0607 Hi, I would really love to work on this, please kindly provide input and pointers for the documentation. Thanks

[2020-12-09 17:46] adeniyistephen commented on #10506
@bgrant0607 @liggitt Hi, I would really love to work on this, please kindly provide input and pointers for the documentation. Thanks

[2020-12-09 18:31] jackfrancis commented on #97060
@neolit123 Can one make the argument that the inclusion of a default timeout value enforces operational hygiene? In other words, absent any timeout at all an `os.Exec` (or the equivalent http(s) connection) can be left hanging indefinitely, which negatively impacts the kubelet runtime stack.

If that makes sense, then it would be a sane argument in favor of enforcing an "arbitrary" (from the persp

[2020-12-09 18:43] sachinkumarsingh092 commented on #93100
@zhouya0 `pkg/cmd/create/create_secret.go` seems a little complex for a first issue since it has 3 parts for `secret docker-registry` , `secret generic` and `secret tls`. Can you instead assign me a simpler one? `pkg/cmd/create/create_pdb.go` seems to be relatively easier. Can I have a go @aubm?

[2020-12-09 18:58] liggitt commented on #10506
@adeniyistephen thanks for the interest. I think @jpbetz would be a good person to pair with to improve these docs. He did a lot of work adding info about docs around resourceVersion and watch behavior in the last couple releases.

[2020-12-09 18:59] liggitt commented on #73927
cc @msau42 for routing

[2020-12-09 19:18] micahhausler commented on #92535
/remove-lifecycle stale

[2020-12-09 19:35] msau42 commented on #73927
@kubernetes/sig-storage-misc
/assign @gnufied

This is very related to all the fsgroup enhancements we are making and considering in the future.

[2020-12-09 19:46] prameshj commented on #97149
+1 Using the rewrite plugin workaround as @chrisohaver suggested

As a longer term fix, introducing a new "ianaName" or "dnsName" in the ServicePort seems like the best solution, imo.

[2020-12-09 20:03] logicalhan commented on #76302
/remove-lifecycle rotten

[2020-12-09 20:04] logicalhan commented on #76302
/assign @yoyinzyc

[2020-12-09 20:14] ahg-g opened #97169 "Support ArrayJob semantics in the job api"
**What would you like to be added**:
ArrayJob semantics to the job api (like completions index). It is also worth considering having stable dns names for the pods (similar to StatefulSet).

**Why is this needed**:
The current k8s Job model supports a range of [patterns](https://kubernetes.io/docs/concepts/workloads/controllers/job/#job-patterns), but it still has some drawbacks:
- It supports emba

[2020-12-09 20:17] ahg-g commented on #97169
Related issues/PRs:

- https://github.com/kubernetes/community/issues/458
- https://github.com/kubernetes/kubernetes/issues/14186
- https://github.com/kubernetes/kubernetes/issues/14188
- https://github.com/kubernetes/kubernetes/pull/66105

[2020-12-09 20:18] ahg-g commented on #97169
/cc @alculquicondor

[2020-12-09 20:22] ahg-g opened #97170 "Add a suspend/stop flag to job api"
**What would you like to be added**:
A `suspended`/`stopped` flag to the job api.

**Why is this needed**:
To control when the Pods of a Job get created by controller-manager. When set to true, all pods of the Job should be deleted. If set to true at Job creation, controller-manager doesn’t create any pods.

We view this as a primitive that higher-level orchestrators can use to support job queuing

[2020-12-09 20:23] ahg-g commented on #97170
/cc @adtac

[2020-12-09 20:40] kargakis commented on #67070
@soltysh all the problems you mention are present in all workload resources, they are not unique to cronjobs. Parallel execution should not be a thing since there is already support for jobs. Also think of HA replica sets, deployments, etc. where they can even have different versions. Is there anyone complaining about the edge cases in these resources wrt `logs`?

I would always expect to see the

[2020-12-09 20:46] aojea commented on #97143
what is GENI and how it connects to the AWS node?

[2020-12-09 20:59] aojea commented on #97107
/triage accepted
/assign @filintod

[2020-12-09 21:22] robscott commented on #96909
Hey @tpoindessous, thanks for raising this issue! Like @aojea pointed out, it sure would be ideal if validation caught this. Unfortunately that's difficult/impossible to add in a backwards compatible way so we'll be stuck with a fix closer to #94107. AWS doesn't appear to support this field, but it looks like Azure may run into the same issue as GKE here. We'll get a fix out shortly, maybe @khenid

[2020-12-09 21:25] robscott commented on #96909
/area provider/gcp
/area provider/azure

[2020-12-09 21:32] 842Mono commented on #97143
GENI is a cloud provider for research.

[2020-12-09 21:41] aojea commented on #97143
and the AWS node has direct connectivity to the GENI master?

you need to use the aws cloud provider for the node IP autodetection https://theithollow.com/2020/01/13/deploy-kubernetes-on-aws/, but I honestly don't know which IP it takes

[code]

If you want to configure the IP manually you can pass it as a kubelet flag `--node-ip`, in kubeadm it will be something like this:

[code]

[2020-12-09 22:16] aubm commented on #93100
No problem @sachinkumarsingh092 go ahead 🙂

[2020-12-09 22:33] 842Mono commented on #97143
@aojea do I do this on the worker node? Do I add these to the config file that I pass to `kubeadm join`?

[2020-12-09 22:36] liggitt commented on #95587
The kubelet limiting its container comparison to specific fields it thinks are mutable (currently just `image`?) would certainly help the "simultaneous uncoordinated restart of all deployment containers in the cluster" scenario a lot.

It is interesting to consider what would happen when a kubelet's view of which container fields are mutable does not match the API server's. There's a current propo

[2020-12-09 22:41] logicalhan commented on #97061
Why not look at the request logs? These are high cardinality fields that you are proposing on adding to the inflight metrics and while it is probably fine for most clusters under a certain size, it will adversely affect the largest clusters (i.e. the ones with lots of resources, objects, traffic).

Some additional context: we've had a number of instances in the past where we've had to go and [dele

[2020-12-09 22:44] aojea commented on #97143
I gave you same options because I thought you were experimenting with multicluster  or something like that, but if you don't know how to use those options, I suggest you to start with something simpler, getting more familiar with Kubernets architecture and, in this case, networking is going to be important, since you have to provide connectivity end to end between all the pods in all the workers.

[2020-12-09 22:51] lavalamp commented on #95587
Yes, so such a field certainly should not be considered semantically meaningful by a component that won't act differently for the particular values!

Yes, they are safe if controllers behave correctly.

[2020-12-09 23:06] lavalamp commented on #95587
Indeed, it is everyone's, so it is no one's. Hence my theory of repeatedly breaking it until it gets fixed in the right place. (which works better with slightly lower stakes)

I think Jordan's test is hard to write generically because we don't generically understand the input/output of controllers. We could insert a fake new defaulted field in the schema to generalize part of it, rather than findi

[2020-12-09 23:19] thockin commented on #95587
On Wed, Dec 9, 2020 at 2:37 PM Jordan Liggitt <notifications@github.com>
wrote:

I'm not sure about that - it's a single pod, so any restart is equivalent
to any other, more or less.  But I am pressing for a more robust ACK
protocol in this specific case so ignoring changes to resources should be
correct and while it is a bit opaque as to whether/when kubelet will
actuate that change (it won't if

[2020-12-09 23:21] thockin commented on #95587
Are there open bugs against sig-node and sig-apps that they are broken
and are now impeding progress in the project?

On Wed, Dec 9, 2020 at 3:06 PM Daniel Smith <notifications@github.com> wrote:

[2020-12-09 23:44] BenTheElder commented on #94091
Hi, you can find some of the docs in [`./build`](https://github.com/kubernetes/kubernetes/tree/master/build), but I think it might be best to learn about the docs etc. before attempting this issue. [`CONTRIBUTING.md`](https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md) links to some helpful guides 😅

[2020-12-09 23:48] BenTheElder commented on #93530
/remove-lifecycle stale
what timing! discussed this a bit yesterday ...

[2020-12-09 23:48] BenTheElder commented on #93530
/remove-lifecycle rotten

[2020-12-10 00:10] bobbypage commented on #95727
Fix was made in https://github.com/google/cadvisor/pull/2749

Copying from https://github.com/google/cadvisor/pull/2749#issuecomment-742132107 to ensure we can capture it on the issue here:

I've cut new cAdvisor releases (v0.37.3 and v0.38.6) with this fix cherrypicked.

We should get this fix back into kubernetes. We'll need 3 PRs to k/k with following updates:

- [ ] k/k master to update cAdvis

[2020-12-10 00:14] qd19zzx commented on #97142
Is there a memory leak in kube-apiserver v1.17.3？Although we have 170K+ configmaps, the memory has never decreased. Why this memory cannot be gc.

[2020-12-10 00:14] qd19zzx commented on #97142
/kind bug

[2020-12-10 00:15] qd19zzx commented on #97142
/remove-kind support

[2020-12-10 01:03] liggitt commented on #97154
Restarting a node does not necessarily recreate all the Pod objects running on it.

[2020-12-10 01:56] kshke commented on #97154
@liggitt  we have recreated the node,  will all pods recreated in this scenario？

[2020-12-10 02:04] liggitt commented on #97154
If draining the node is part of the replacement process (which is recommended), then yes.

If the node is absent for long enough and you are running a cloud provider that notices the node is gone (takes ~15 minutes by default, I think), the original pods will be deleted.

 If you quickly delete and recreate the node without touching the Node or Pod API objects, I don't think the Pod objects are gu

[2020-12-10 02:35] travisgroth commented on #82468
In theory this could be solved using a non-standard separator and forcing the client to compile the header themselves.  `;` is a reasonable possibility.  But if _any_ change to the field semantics is considered breaking, that sounds like it isn't an option.

Is there a hard requirement for no breaking changes in the header spec?  The current behavior is in contradiction to [rfc2616](https://tools.

[2020-12-10 02:40] #93097 closed

[2020-12-10 02:59] hasheddan opened #97178 "Out of order tags across active branches are causing tests to fail"
_Note: this is the same issue we encountered in https://github.com/kubernetes/kubernetes/issues/86182._

For the `v1.20.0` release, as well as the subsequent patch releases for `v1.17.15` / `v1.18.13` / `v1.19.5`, the release version was tagged either on the same or a later commit than the `rc.0` tag, causing subsequent builds to fail the version regex check in `get-kube.sh`. As summarized in @jus

[2020-12-10 03:00] hasheddan commented on #97178
/sig release

[2020-12-10 03:22] justaugustus commented on #97178
/triage accepted

[2020-12-10 03:55] hasheddan commented on #97178
Was able to find root cause with @puerco here. If we look at the v1.20.0 [stage logs](https://console.cloud.google.com/cloud-build/builds/427a26e6-5056-4288-933e-c620b36dd15e?project=kubernetes-release-test):

[code]

We are skipping the logic to create the empty commit:

https://github.com/kubernetes/release/blob/46bf0f9c5aadf60abaac0e252611dbc6d8514958/pkg/anago/stage.go#L408

[code]

Due to the

[2020-12-10 04:05] brandond commented on #97178
I had pointed this out after 1.20 but before the rest of today's releases, was there a better way I could have called attention to it?
https://kubernetes.slack.com/archives/C2C40FMNF/p1607459733061600

[2020-12-10 04:32] vothanhbinhlt commented on #52757
+1

[2020-12-10 05:07] frasertweedale commented on #97149
OK, I suppose my next step is to write a KEP to add a new ServicePort field then?

[2020-12-10 05:20] jeff-knurek commented on #92382
I ran into the same issue, but like @n1koo updated comment, it was when using the `gcloud-sdk` provided `kubectl`

@m1o1 what version and provider are you using? `which kubectl` & `kubectl version --client`

[2020-12-10 06:08] chrisliu1995 opened #97180 "can't add my own tags on target group when I create a loadblancer type service"
AWS is my cloud provider. There is nowhere to specify my own target group tags in service yaml. Are there any related annotations that can be used? What should I do? Those tags are helpful to me.

[2020-12-10 06:09] chrisliu1995 commented on #97180
/area provider/aws

[2020-12-10 06:09] chrisliu1995 commented on #97180
/sig cloud-provider

[2020-12-10 06:25] puerco commented on #97178
Sorry for missing it @brandond . Speaking personally, I think it was right to surface the issue to the channel, only until @tpepper brought your message again today for discussion I noticed it :(

If you ever feel a notice like this gets lost in the chatter, please feel free to ping me directly as on other occasions. Thank you and apologies again :)

[2020-12-10 06:34] #87824 closed

[2020-12-10 06:39] lzhfromustc opened #97181 "How to prevent potential leaked goroutines in ProxyServer"
There are two places where we just block a goroutine and never let it proceed again:

https://github.com/kubernetes/kubernetes/blob/ccd29ea264535fa2ef36cf4dfb004fed99c99fbf/cmd/kube-proxy/app/server.go#L586-L606

https://github.com/kubernetes/kubernetes/blob/ccd29ea264535fa2ef36cf4dfb004fed99c99fbf/cmd/kube-proxy/app/server.go#L630-L643

This might bring unnecessary overhead to the runtime and mem

[2020-12-10 06:42] lzhfromustc commented on #97181
/sig network

[2020-12-10 07:10] chendave opened #97182 "Need more info on why the preemption failed - real failed plugins are hidden"
**What would you like to be added**:
I need more details on why a high priority pod cannot preempt other low priority pods to release room for scheduling.

**Why is this needed**:
The main scheduling can tell why a pod failed to schedule in the first place, but the status is silently ignored in the stage of preemption.

https://github.com/kubernetes/kubernetes/blob/ccd29ea264535fa2ef36cf4dfb004fed

[2020-12-10 07:34] yuanhuaiwang commented on #97161
but why list from a signle  namespace is not paged, while list from all-namespaces is paged

[2020-12-10 08:15] yangjinlogic opened #97185 "The Calico running failed"
I have a Kubernetes cluster deploy in Openstack ,the calico ip is belong to Openstack virtual network,such as 192.168.0.87,everything look perfect,but now I add a physical machine in the cluster,the calico ip belong to LAN,such as 172.16.2.110 ,the caclio cant running ,it show "Liveness probe failed: calico/node is not ready: Felix is not live: Get http://localhost:9099/liveness: dial tcp 127.0.0.

[2020-12-10 08:33] LeslieRan commented on #97117
Thank you very much! I have found out the exact reason. Calio just fits the network interfaces whose names start with `eno` and `ens` described in `YAML` file, but my network interface's name starts with `enp`. It could works normally after I added `enp` to the yaml file.

[2020-12-10 08:48] haiwfu opened #97186 "We need formmatted the result of exec the command of "kubectl get pod $POD_NAME -o yaml""
We need formmatted the result of exec the command of "kubectl get pod $POD_NAME -o yaml"

[2020-12-10 08:49] i2dcarrasco commented on #94682
/remove-lifecycle stale

[2020-12-10 08:51] haiwfu commented on #97186
Usually, the first we need show the pod name in the first line of spec section.

[2020-12-10 08:51] i2dcarrasco commented on #94682
Sorry, I was very busy and I forgot this report (we are avoiding to use headers for now). I'll retake this again and I'll report if issue persists.

Best regards.

[2020-12-10 09:08] pacoxu commented on #97117
@LeslieRan  👍

/close

[2020-12-10 09:09] #97117 closed

[2020-12-10 09:37] qiyuxin opened #97189 "pod access apiserver through http"
kubernetes cluster use insecure port  8080  to provide service，and It is successful to access the api server through http on the cluster node，but Containers started by kubelet access apiserver through https protocol，so it failed.
What do I need to do to make pod access apiserver through http?

kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c12

[2020-12-10 10:11] joshiste opened #97190 "Kubelet stops manually started containers when using containerd"
**What happened**:
Kubelet stops container started using crictl.

**What you expected to happen**:
The container to run normally and not being managed by the kubelet.
as the [Kubelet Docs](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/) propse:

When I stop the kubelet service everything works as expected.

**How to reproduce it (as minimally and precisely as possible)*

[2020-12-10 10:28] joshiste commented on #97190
/sig node

[2020-12-10 10:40] pires commented on #87770
/remove-lifecycle stale

[2020-12-10 12:03] adampl commented on #94183
It totally breaks production readiness of all recent releases, yet doesn't seem to be regarded as a top priority issue. WTF?

[2020-12-10 12:20] joshiste commented on #97190
I've no experience on this kubelet thingy.

But digging a bit through the code for me it looks like [HandlePodCleanups](https://github.com/kubernetes/kubernetes/blob/fb02a59a6a10623b971107231b3c823fed6c43a8/pkg/kubelet/kubelet_pods.go#L1062) compares all k8s pods and the ones running on the machine (wether or not it was created by the kubelet) and so it kills the one I've created with `crictl`.

[2020-12-10 12:34] justaugustus commented on #97178
Sorry for missing your note, @brandond!

A little contrary to what @puerco said, to make sure something doesn't get lost in Slack, please first file a bug in either kubernetes/kubernetes or kubernetes/release.

After that, the Release Managers group (which works on Release Engineering issues like this) can be contacted as follows: https://github.com/kubernetes/sig-release/blob/master/release-manag

[2020-12-10 12:50] endlesslight0 commented on #46232
@camilamacedo86 better use `kill -15 pid`

[2020-12-10 13:15] m1o1 commented on #92382
I'm using kubectl downloaded from its releases page on Github. Also I'm using Git Bash on Windows by the way.

I did notice that Docker would try to install its own version of kubectl and set its priority in the PATH to the top, but I disabled that in Docker a while back.

[code]

[2020-12-10 13:39] howieyuen commented on #97040
/assign

[2020-12-10 14:08] beiying-6282 opened #97195 "About CNTT tests，I want to know which test cases in k8s correspond to these use cases？"
**Which jobs are flaking**:  CNTT tests

**Which test(s) are flaking**:  Testsuit：cnf  cnf_conformance

**Testgrid link**:

**Reason for failure**:    I want to know which test cases in k8s correspond to these use cases？

- functest_kubernetes.cnf_conformance.conformance - INFO - |   |   |   |   |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | --
+-------------------------------------------

[2020-12-10 14:18] beiying-6282 opened #97196 "About CNTT test，I want to know which test cases in k8s correspond to these use cases"
**Which jobs are failing**:   CNTT test

**Which test(s) are failing**:  Testsuite：cnf -cnf_conformance

- functest_kubernetes.cnf_conformance.conformance - INFO - |   |   |   |   |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | --
+-------------------------------------------------------------+----------------+ |   |   |   |   |   |   |   |  
\|                             NAME             

[2020-12-10 14:21] jsravn commented on #52345
/reopen

Still an issue I think.

[2020-12-10 14:24] iamchuckss commented on #95042
I'd love to give this a try but I'm still getting familiar with the code in AWS cloud provider so it'll help a lot if you could clear out some of my doubts.

Are there any other ways to check if a load balancer is a NLB other than checking it through the annotations?
Otherwise would it be a good idea to just call `describeLoadBalancerv2` outside of the condition block to check if a NLB exists?

[2020-12-10 14:33] iamchuckss commented on #95042
/assign

[2020-12-10 14:43] jsafrane commented on #94128
/remove-lifecycle stale

[2020-12-10 14:50] jsafrane commented on #96888
/triage accepted

[2020-12-10 14:54] alculquicondor commented on #97170
cc @soltysh

[2020-12-10 14:57] alculquicondor commented on #97169
cc  @soltysh

[2020-12-10 15:15] ahg-g commented on #97170
@kubernetes/sig-apps-proposals

[2020-12-10 15:16] ahg-g commented on #97169
@kubernetes/sig-apps-proposals

[2020-12-10 15:30] tgraf commented on #97110
As a potential reference on how to fix this: We have fixed this in Cilium a while ago [0] by ignoring ExternalIP for any traffic from a pod unless the destination IP is mapped to a node IP (GCE case). It appears that this code [1] is trying to do something similar but is specific to bridge based network implementations.

[0] https://github.com/cilium/cilium/pull/12220/commits/1d8589a9877e348055b3a

[2020-12-10 15:50] thejoycekung opened #97200 "[Failing Test] k8s.io/kubernetes/test/integration/apiserver.TestMaxResourceSize"
**Which jobs are failing**:
`ci-kubernetes-integration-master`

**Which test(s) are failing**:

- `k8s.io/kubernetes/test/integration/apiserver.TestMaxResourceSize`
- `k8s.io/kubernetes/test/integration/apiserver.TestMaxResourceSize/MergePatchType_should_handle_a_patch_just_under_the_max_limit`
- `k8s.io/kubernetes/vendor/k8s.io/apiextensions-apiserver/test/integration.TestLimits`
- `k8s.io/kubern

[2020-12-10 15:54] thejoycekung commented on #97200
Looking at the PRs that were merged at the time, #97124 seems to be the culprit as it touches code related to `MergePatchType`.

/cc @gavinfish

[2020-12-10 15:58] thejoycekung commented on #97002
closing this one now since testgrid has been green for the past few days

/close

[2020-12-10 15:59] #97002 closed

[2020-12-10 16:10] eelkeblok commented on #25766
/reopen
/remove-lifecycle rotten

[2020-12-10 16:20] hpasapp commented on #76995
The incantation in @t-anil-kumar 's post above doesn't work for me. I only see total available GPUs, not how many GPUs are in use. Agree with @saifrahmed that presumably the information is available in k3s somehow, but seems unclear to me how to expose it from kubectl, or using kubernetes python client.

[2020-12-10 16:35] thejoycekung commented on #95366
@dashpole Following up on this (sorry, it's been a while!) - flake is still happening. Triage is a bit wonky right now but here's another Spyglass link example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1333147517344288768

[2020-12-10 16:42] bowei commented on #96909
/assign

[2020-12-10 16:43] bowei commented on #96909
@tpoindessous can you post what specific version you encountered the issue

[2020-12-10 16:44] alculquicondor commented on #97169
Design from erictune still available here https://github.com/kubernetes/community/blob/master/contributors/design-proposals/apps/indexed-job.md

AFAIK, it was never ported to the enhancements repo

[2020-12-10 17:09] #93894 closed

[2020-12-10 17:12] thockin commented on #97110
The problem is that the feature is too loosely defined.  Something like
that feels right but is, strictly, a breaking change *and* doesn't solve
the whole problem (i.e. I can still steal your IP address).

I just want to break it completely and let people who *need* it define
their own policies in their own ways...

On Thu, Dec 10, 2020 at 7:31 AM Thomas Graf <notifications@github.com>
wrote:

[2020-12-10 17:15] adeniyistephen commented on #94091
OK thanks, I will work on this. I hope to get help and guidance when I make a PR

[2020-12-10 17:18] adeniyistephen commented on #10506
@liggitt Thanks so much, @jpbetz Hi, please kindly provide inputs to work on this, or if there's a better place for communication.

[2020-12-10 17:19] adeniyistephen commented on #73927
OK, so it does not need documentation anymore? or you will be providing inputs sir?

[2020-12-10 17:24] smartaquarius10 opened #97202 "How to setup Kubernetes in an organization?"
Team,

From where should we start to setup kubernetes in the organization of more than 50K users.

Does it have any installer. What are the system requirements like number of vm’s to setup an on-premise cluster

Thank you

[2020-12-10 17:35] mmerkes commented on #97130
In the PR, [they reference the failing test as having flaked](https://github.com/kubernetes/kubernetes/pull/96485#issuecomment-732335344), and it's been proposed to [increase the timeout](https://github.com/kubernetes/kubernetes/pull/96691) to give the pods more time to get up and running. The `node-kubelet-conformance` job is run with only a single node, so it's possible that the reduced capacity

[2020-12-10 17:43] ahg-g opened #97203 "Add NamespaceSelector to pod affinity spec"
**What would you like to be added**:
Pod affinity is currently scoped to the pod namespace by default, but users could specify a list of [namespaces](https://github.com/kubernetes/kubernetes/blob/5a17c7ac7406689fc592d02ca2ffdb7097761ea5/staging/src/k8s.io/api/core/v1/types.go#L2780) as well.

We are proposing to add a `namespaceSelector *metav1.LabelSelector` so that it is easier for users to spec

[2020-12-10 17:45] #93007 closed

[2020-12-10 17:48] ahg-g commented on #68827
we could use selectors for namespaces similar to the proposal for [api-server](https://github.com/kubernetes/enhancements/pull/2162), I opened an issue for that https://github.com/kubernetes/kubernetes/issues/97203

[2020-12-10 17:50] ekhaydarov commented on #87615
getting these errors on 1.20 on a raspbian 10. where does even start with getting a fix for any of this? seems like the cost of running a cloud managed cluster is way more than worth it than trying to run it on your own cluster

[2020-12-10 18:00] tgraf commented on #97110
I'm not sure I understand how you can still steal the IP outside of what ExternalIP was intended for unless you are referring to a potential restriction for ExternalIPs to not cover PodIP and ServiceIP CIDR which would potentially be even better. I'm not sure what we can better at the k8s service implementation layer. I agree with your overall statement though. We often see users try and patch ove

[2020-12-10 18:02] yuanchen8911 commented on #97111
Thanks for the feedback, @adtac! By pending_pods, do you mean the number of pending pods or the waiting time of pending pods? I'm not sure we can get the latter. Thanks!

[2020-12-10 18:05] yuanchen8911 commented on #97111
A related question is per priority-class scheduling latency. In many cases, users want to provide guarantees or SLOs for pods in top priorities only. Per-priority class performance metrics would be useful. Is it something we should add?  Thanks.

[2020-12-10 18:06] champtar commented on #97110
You can have multiple Services with the same  EXTERNAL-IP:PORT
[code]

[2020-12-10 18:09] flyte commented on #70732
What if you need different `imagePullSecrets` for your initContainers and normal containers?

[2020-12-10 18:10] yuanchen8911 opened #97208 "Add per-priorityclass scheduling metrics"
**What would you like to be added**:

Add  per priority-class scheduling metrics, specifically per-priority PodSchedulingDuration

**Why is this needed**:

In may cases,  users want to provide guarantees or SLOs for pods in top priorities only. The current overall scheduling latency of  all pods  is insufficient. Per-priorityclass performance metrics would be useful.

[2020-12-10 18:10] yuanchen8911 commented on #97208
/sig scheduling

[2020-12-10 18:19] alculquicondor commented on #97208
In general, this is achieved through metric labels. However, since priority classes can be arbitrary, there might be performance concerns.

[2020-12-10 18:37] Nuru commented on #97178
FWIW, my check of `kubectl` suggests that 1.18.13 and 1.19.5 were released properly, and this bug only affects 1.17.15 and 1.20.0

[2020-12-10 18:46] #83679 closed

[2020-12-10 18:46] #92267 closed

[2020-12-10 18:48] cheftako commented on #95893
I assume that "unix://" is the url scheme for UDS. In that case I would assume this is likely the gRPC call dictated by the egress selector to the konnectivity server. Short of either setting env GRPC_GO_LOG_SEVERITY_LEVEL to error or making changes to the gRPC library, not sure how to cut down on this. @BenTheElder what are your thoughts on setting the env variable for the tests to start?

[2020-12-10 18:58] thockin commented on #97181
Both of those are in the "hardfail" path and will exit() the whole process imminently.  In the non-hardfail, we just log and exit the goroutine.

Working as intended, I think.

[2020-12-10 18:58] #97181 closed

[2020-12-10 18:59] thockin commented on #97149
I don't LIKE that idea, so I am eager to hear alternatives.

[2020-12-10 19:00] thockin commented on #97149
Can we take the conversation to https://github.com/kubernetes/kubernetes/issues/47249 to keep it all together?

[2020-12-10 19:09] lzhfromustc commented on #97181
Hi. I see there is no need to change anything and will close the issue later.
I am still really curious about why we block the goroutines here, instead of just return or kill the goroutine? Is there anything special to keep a goroutine blocked forever? This might update my knowledge of Golang

[2020-12-10 19:39] ahg-g commented on #96748
/cc @seanmalloy @damemi @soltysh

[2020-12-10 19:41] aojea commented on #97149
@thockin  I suggested one

why current field `appProtocol` field is not valid, it is already in the Service spec and the semantics are good IMHO

https://github.com/kubernetes/kubernetes/blob/94b17881fc1d67c39dfaaa741814c7e33063ba08/staging/src/k8s.io/api/core/v1/types.go#L4239-L4248

kerberos is already an IANA `Service Name and Transport Protocol Port Number Registry`

https://www.iana.org/assig

[2020-12-10 19:49] Huang-Wei commented on #94009
/assign

[2020-12-10 19:49] thockin commented on #97109
Please start with this: https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

It sounds like something pretty fundamental is misconfigured, rather than a bug in k8s.

[2020-12-10 19:49] #97109 closed

[2020-12-10 19:50] 2rs2ts commented on #85397
Bump. I'll make a duplicate issue if this isn't reopened

[2020-12-10 19:50] damemi commented on #96748
I will let @soltysh speak more on the controller implementation side, but for the selection algorithm I agree with @ahg-g that a best-effort case shouldn't need to differentiate between hard and soft constraints.

I also don't think considering MaxSkew would be too difficult, it could probably use the same algorithm we added for this in descheduler (or something similar).

It would be great to hav

[2020-12-10 19:50] gnufied commented on #73927
@adeniyistephen I would very much appreciate help in improving this area, but I am not sure what kind of input you are looking for. https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ page documents it to some degree but it is not complete and needs expansion.

If you are familiar with this area then some of this is also documented in openshift docs https://docs.openshift.co

[2020-12-10 19:51] Huang-Wei commented on #94009
/unassign

[2020-12-10 19:54] adeniyistephen commented on #94091
@BenTheElder I can only update the `build/readme.md` file tho.

[2020-12-10 19:57] Huang-Wei commented on #94009
/assign
/unassign @adtac

[2020-12-10 20:00] adeniyistephen commented on #73927
Yes i am familiar, but I just read the documentation, I think its fine for now, but like you said it needs expansion. so I was thinking if you have the input/pointers or explanation about what k8t would like to expand on it, then you can supply me so I do it for the team. thanks 😅

[2020-12-10 20:11] prameshj commented on #97149
Is this suggesting reuse of appProtocol to include values that need not be valid protocols? In this specific example, the appProtocol value will be"kerberos"?

Sorry for commenting on the closed issue. I am happy to re-comment in the other issue if we want to add this proposal there.

[2020-12-10 20:14] chentaoz commented on #97190
Hey @joshiste  I found this https://kubernetes.io/docs/tasks/debug-application-cluster/crictl/#example-crictl-commands, which  states what you observed.

[2020-12-10 20:24] #96922 closed

[2020-12-10 20:25] coderanger commented on #73434
At a minimum it would be good if the Kubelet would yell loudly about pods with a non-default value. Silently accepting config that is ignored is frustrating.

[2020-12-10 20:25] thockin commented on #96902
I'm going to close this.  We have other bugs open for the idea of weights and it sounds like OP has a workaround