[2017-09-08 02:16] quinton-hoole commented on #41253
@shashidharatd It seems that we can close this issue, as the one remaining item is tracked in #29335, #36657 ?  Re-open if necessary.

[2017-09-08 02:16] #41253 closed

[2017-09-08 02:19] quinton-hoole commented on #40536
Required for GA of federation.

[2017-09-08 02:21] quinton-hoole commented on #40323
Required for GA of federation.  I'm pretty sure that @mwielgus is not currently working on this, so unassigning.  Feel free to re-assign as necessary.

[2017-09-08 02:24] quinton-hoole commented on #39989
Required for federation GA.  Prioritized accordingly.

[2017-09-08 02:25] bowei commented on #29723
This should be easy to do, kube-dns already pulls configuration from a config map..

[2017-09-08 02:26] quinton-hoole commented on #39482
@henriquetruta No work on it that I am aware of.  But yes, it is still valid.  We will need to fix it soon.

[2017-09-08 02:26] quinton-hoole commented on #39482
Required for federation GA.

[2017-09-08 02:27] yujuhong opened #52140 "pull-kubernetes-e2e-gce-etcd3 failing: Quota 'SUBNETWORKS' exceeded"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52134/pull-kubernetes-e2e-gce-etcd3/53203/

[code]

/cc @kubernetes/sig-testing-bugs

[2017-09-08 02:29] quinton-hoole commented on #38897
Given the plan to create a federation-specific API soon, we should make sure that cascading deletion is not the default there (neither in the API, not in the default command-line tool).

Required for federation GA.  Prioritizing accordingly.

@nikhiljindal Are you still planning to work on this?  If not, please unassign yourself.  Thanks.

[2017-09-08 02:30] wzhliang opened #52141 "Multiple matchExpressions in nodeSelectorTerms works unexpectedly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Having a cluster of 4 nodes, I tried to schedule 2 pods with the following limitation:

[code]

`dev-1` has the `test` label.
However, the 2 pods are scheduled onto `dev-1` and `dev-4`.

**What you expected to happen**:

As the `matchExpressions` are supposed to be `Anded`, the pods should avoid those 2 nodes.

**How to

[2017-09-08 02:32] quinton-hoole commented on #38893
We can update this issue to track all of the remaining GA items.

[2017-09-08 02:34] #38133 closed

[2017-09-08 02:37] quinton-hoole commented on #36657
Pretty sure that this is resolved now, but we need to double-check, and ensure that there's a test for it.  Leaving open for now.  Required for federation GA.

[2017-09-08 02:39] quinton-hoole commented on #36657
@nikhiljindal Can you confirm whether this is resolved or not.  Are you still working on it?  If not, could you please unassign yourself.  Thanks.

[2017-09-08 02:41] wzhliang commented on #52141
/sig scheduling

[2017-09-08 02:43] quinton-hoole commented on #35254
@jianhuiz took this over - reassigned.
Required for federation GA.  Prioritized accordingly.

[2017-09-08 02:45] quinton-hoole commented on #34130
I'm not sure that this is still an issue, but leaving open until someone can confirm definitively.

[2017-09-08 02:45] quinton-hoole commented on #34130
@mwielgus is no longer working on this, as far as I know, so unassigning him.  Feel free to re-assign as necessary.

[2017-09-08 02:46] valentin2105 opened #52142 "Make current-context a shell variable"
Hi,

It's just a feature proposition,

It wouldn't be better to have the `current-context` in the current shell ? (like Environment variable)

And create for exemple a `default-context` in the `.kube/config` file.

Because is very annoying when switching between multi-clusters to have all your shell in the same context.

Thanks.

(Maybe the question is already discuss, sorry if it's the case).

[2017-09-08 02:47] vklonghml commented on #51924
@mattjmcnaughton sorry for late, i will try your method, thks a lot

[2017-09-08 02:47] valentin2105 commented on #52142
@k8s-sig-onprem-feature-requests

[2017-09-08 02:48] #51924 closed

[2017-09-08 02:48] quinton-hoole commented on #33667
@marun Was this resolved by your refactoring of the federation unit tests?  If not, could you take a look?

[2017-09-08 02:52] quinton-hoole commented on #33612
@nikhiljindal it doesn't look like we've addressed the second part of this issue, namely what happens when clusters are removed from the federation.  Can you confirm?  Are you still working on this?  If not, could you provide current status, and unassign yourself, so that we can find someone else to finish the required work please.  Thanks.

[2017-09-08 02:53] #52135 closed

[2017-09-08 02:53] quinton-hoole commented on #33612
Required for GA of federation.

[2017-09-08 02:58] sjenning commented on #52110
@Random-Liu I could not reproduce with the code above either.

[2017-09-08 03:01] quinton-hoole commented on #33312
Unassigning mwielgus, who I'm pretty sure is not working on this.
Sounds like we have both a missing test (addressed in #45840), and possibly a bug.
We'll need to resolve this to GA federation.

[2017-09-08 03:10] vishh commented on #51999
We can use this issue to possibly coordinate, but implementations of plugins have to reside out of tree. To begin with if someone can write up a document that summarizes the ecosystem around commonly used FPGAs, describe the use cases, usage patterns, application and orchestration requirements, that would be a good starting point.
I'm hoping with device plugins, these discussions can happen withou

[2017-09-08 03:18] vishh commented on #28272
#43823 still needs to be wrapped up. At this point, it should be fairly straightforward to install an initializer that will perform the actions in #43823 on clusters >= v1.7
If anyone has cycles to wrap up #43823 for upstream go ahead by all means.

[2017-09-08 03:29] mjaow opened #52143 "How to specify each pod with distinct config in replication controller?"
Current rc make all pods replicas homogeneous.
Can I specify each pod with distinct configuration?Or does k8s has support for this ?

Our sotuation is:
we create pod by using rc and we need each pod with different volume config.Each of them has its own lv partition(lvm volume)

[2017-09-08 03:33] helphi commented on #52068
I mean how to install `kubeadm` itself offline.

For example, i can download `minikube` from <https://github.com/kubernetes/minikube/releases>, and then put it in `/usr/local/bin`, but i can't download `kubeadm` from somewhere because it is in google cloud apt repository.

[2017-09-08 03:40] mjaow commented on #52143
area/controller-manager
area/apiserver
 sig/storage
@saad-ali
@childsb

[2017-09-08 03:40] dixudx commented on #50234
@liggitt Seems I gave a bad example.

Here is a new example.

[code]

**What we expect is to get the pods list or explicit bad request message like `field label not supported: status.hostIP`**, right?

***Current there is an inconsistent strategy on `fieldSelector`.***

https://github.com/kubernetes/kubernetes/blob/c16ff84e925ea56a8753bb0cd2650c8e9a71ff1c/pkg/api/v1/conversion.go#L156-L180

https:

[2017-09-08 04:06] xiangpengzhao commented on #52140
xref: https://github.com/kubernetes/kubernetes/issues/51646 https://github.com/kubernetes/kubernetes/issues/51136

[2017-09-08 04:55] tatsuhiro-t commented on #51000
I get the same error "E0908 04:47:47.692141       1 leaderelection.go:263] Failed to update lock: Operation cannot be fulfilled on endpoints "kube-controller-manager": the object has been modified; please apply your changes to the latest version and try again".

But my cluster has a single master.  In some point in the past, I created new master, and stopped old master if that matters.  I'm using

[2017-09-08 05:09] tatsuhiro-t commented on #51000
The log says that controller manager of new master node emitted this log from the beginning, and never recover.

[code]

As I write in the previous comment, at this point, I had another old master active, so temporarily my cluster was HA enabled.   I'm not sure why kube controller manager has not recovered from this state after old master stopped.  Does it forget to get a fresh Endpoints from apis

[2017-09-08 05:27] #52133 closed

[2017-09-08 05:37] caseydavenport commented on #52096
@manuperera where are those two packet captures being taken?  Is the first one inside the destination pod, and the second one on the source host?  If so, which interface on the source host?

Also, whose IP is `10.1.75.0`?  Sounds like someone is doing an SNAT somewhere, but not sure yet who it is :)

[2017-09-08 05:47] k82cn commented on #52143
for now, k8s did not support that :(.

/area controller-manager
/area apiserver
/sig storage

[2017-09-08 05:51] tatsuhiro-t commented on #51000
From the apiserver log, controller manager gets Endpoint from apiserver successfully, but its PUT operation fails:

[code]

Interestingly, the Endpoints annotation suggests that the current master successfully acquired lock.
Digging deeper, controller manager pod restarted once.  The log of initial run is lost, but from the timestamp, it looks like the controller manager acquired the log in its in

[2017-09-08 06:13] hiscal2015 commented on #26651
Hi, all
I defined with tag for image, but why Kubernetes pulled digest? I can't find the reason. (Kubernetes 1.7)

https://github.com/rancher/rancher/issues/9525

[2017-09-08 06:24] CsatariGergely commented on #28272
@twistedpair we use memory type emptyDir and map that to /dev/shm . I hope this helps.

[2017-09-08 06:59] janetkuo commented on #52128
The `wrapped_wrapped_..._kube-dns-config.deleting...` files are all under `/var/lib/kubelet/pods/5586a4ec-8dd8-11e7-9f87-64510658e388/volumes/kubernetes.io~configmap`. The timestamp is Aug 30 from `ls -l`, i.e. they were created before this HEAD cluster.

From offline discussion with @msau42, it could be that if you had "kube-dns-config.deleting" files from a previous version that were not cleaned

[2017-09-08 07:04] x13n commented on #50599
Right, with acceptance offset of 20% it should be 100+n*0.625 and 175+n*5 MB. I'll prepare a PR today.

[2017-09-08 07:16] mjaow commented on #52143
@k82cn Is there some better method to support volume isolation or disk isolation?Without limitation,some of pods will consume all disk resources

[2017-09-08 07:20] wojtek-t commented on #51825
Hmm - that seems pretty bad. I'm pretty sure it wasn't the case few releases back.

[2017-09-08 07:28] jsafrane commented on #52036
I agree with Saad. I think there is a possible race condition between A/D controller and kubelet.

1. A/D controller attaches a volume to a node
2. kubelet on the node is not responsive from some reason
3. kubelet wakes up (or is re-started) and sees the pod.
5. A/D controller finishes attaching the pod and writes "VolumesAttached"
6. kubelet writes VolumesInUse and starts mounting the volume
7. u

[2017-09-08 07:30] hcs129 commented on #50522
@wongma7
Thanks for you reply. I realized the missing of ceph-common.
Do you have any idea how to install it on the minikube virtual nodes?

[2017-09-08 07:31] wojtek-t commented on #51953
Yeah - if we could somehow expose it from etcd, that would be ideal solution (it's basically where this statistic should live).

[2017-09-08 07:34] lichuqiang commented on #51993
As discussed, the change has been broken into small PRs as follows:

Deviceplugin refactoring: cleanup some unnecessary functions #52147
Deviceplugin refactoring: merge func list and listwatch in endpoint into one #52149

And the PR to break Manager into DevicePluginHandler and endpoint will be posted later

[2017-09-08 07:39] karataliu commented on #51629
+1 for fixing this.

Verified against `v1.9.0-alpha.0`, standalone cloud controller manager built for any cloud will have to depend on aws/gce sdk, which does not make sense.

[2017-09-08 07:45] CaoShuFeng opened #52151 "Use glog.*f when a format string is passed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We need a test to forbidden errors like:
https://github.com/kubernetes/kubernetes/pull/52150
https://github.com/kubernetes/kubernetes/pull/47829

**What you expected to happen**:
When such code contained in workspace, a test should tell users.

[2017-09-08 07:46] CaoShuFeng commented on #52151
/assign charrywanganthony

[2017-09-08 07:47] krogon-dp commented on #35941
#### This procedure is valid unless kubernetes introduces full support for resizing PVs. The feature is being tracked at https://github.com/kubernetes/features/issues/284

# Resize Kubernetes Persistent Volume using Amazon Elastic Block Device

## Resize EBS with full OS on host (Centos/Debian/Ubuntu)

**WARNING Below instruction requires root access to host nodes with installed disk utilities (e2

[2017-09-08 07:47] CaoShuFeng commented on #52151
/assign

[2017-09-08 07:55] dixudx commented on #52142
/sig cli

[2017-09-08 08:00] dshulyak commented on #42995
@quinton-hoole yes, this change is ready to be merged https://github.com/kubernetes/kubernetes/pull/47049

[2017-09-08 08:19] piosz commented on #30999
closing as obsolete, please reopen if I'm wrong

[2017-09-08 08:19] #30999 closed

[2017-09-08 08:20] codrut51 commented on #52081
The role looks like this:
kubectl create role pod-reader \
    --verb=get \
    --verb=list \
    --verb=watch \
    --resource=pods \
    --namespace=ns-1

[2017-09-08 08:21] codrut51 commented on #52081
2. and 3. I created a user that has access to the cluster is not an admin or something like it.

[2017-09-08 08:31] andyzhangx commented on #51540
actually there is `/test pull-kubernetes-cross` which will do build test for linux/windows/darwin, but by default it's not open

[2017-09-08 08:35] shiywang commented on #52089
@liggitt @pwittrock Thanks for explain, to be clear, my concern is enable this new cache mechanism via discovery request implementation isn't fine grain enough.

My understanding is this openapi (swagger2.0) is introduced to replace old swagger schema and only cache `swagger-2.0.0.pb-v1` (instead of discovery information) from server so that we could do some openapi validation in commands likes: `

[2017-09-08 08:50] manuperera commented on #52096
I'm using Flannel + Calico.

The first packer has been captured in the POD (Docker container). The second packet has been captured in the CoreOS host where run Kubernetes master node:  coreos002.

IP 10.1.75.0 corresponds to coreos002 flannel interface:

[code]

[2017-09-08 08:57] codrut51 commented on #52081
@MHBauer what role should be assigned to a normal user just to have access to the cluster? (I want to make sure that I did that correctly)

[2017-09-08 09:14] grebois commented on #51933
Not sure this is related but after upgrading to v1.7.5+coreos.0

[code]

[2017-09-08 09:18] kevin-wangzefeng opened #52154 "Probers started in rapid succession after kubelet restarted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In large node cases, when kubelet started, probers of the pods started in rapid succession, which made peak CPU utilization high.

`probeTicker` starts ticking before sleep() is called, which turn out that only the first time of prober execution is affected.

Besides, time period between first and the second time prober e

[2017-09-08 09:23] orangemi commented on #41435
I think this issue should link to https://github.com/moby/moby/issues/31058

[2017-09-08 09:45] discordianfish commented on #48396
Sounds good! Thanks for the thorough investigations. Already suspected this won't be easy to reproduce/fix.

[2017-09-08 09:48] soltysh commented on #43512
This is solved in https://github.com/kubernetes/kubernetes/pull/48075 and https://github.com/kubernetes/kubernetes/pull/51153 which introduces job failure policy. Since cronjob contains jobtemplate, which in turns has a full jobspec you should be able to use it directly in a cronjob.

[2017-09-08 09:48] #43512 closed

[2017-09-08 09:56] Jan-M commented on #35941
As the question above is if anyone is doing it or has experience with it, we have automated this in our postgresql operator (https://github.com/zalando-incubator/postgres-operator) and users are somewhat regularly triggering resizes via a user interface.

As our pods/volumes are connected with stateful sets, we also delete those in the process and recreate to reflect the new size.

The resize2fs w

[2017-09-08 10:03] krogon-dp commented on #35941
you could use init-container to limit privilege flag, but this would require pod restart

[2017-09-08 10:03] gmarek opened #52159 "Field selectors should refer to external types"
Currently they work on internal types and this is very confusing (to put it lightly) for anyone who wants to use it. Consider example of nontrivial (i.e. non-identity) mapping:
[code]
Where `bar` is an internal representation for `foo`. Currently field selectors can refer only to `bar`, which is something that's normally completely invisible for clients.

@kubernetes/sig-api-machinery-bugs @deads2

[2017-09-08 10:11] crassirostris opened #52160 "[audit] Figure out timestamps in event objects"
Ref https://github.com/kubernetes/kubernetes/issues/48561

Currently, there's a [`Timestamp`](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/apis/audit/types.go#L88) field in the `audit.Event` object, which represents `Time the request reached the apiserver.`. There're several problems with it:

1. Since auditing process has several stages, each one generatin

[2017-09-08 10:18] soltysh commented on #52160
I thought during our discussion we agreed on `CreationTimestap` being what you call here `RequestStartTimestamp` (unless we get rid of `ObjectMeta` if that's possible), introducing a new `StageTimestamp` (or other name tbd), finally deprecating `Timestamp` since its name provides no information what kind of time it is.

[2017-09-08 10:20] zjj2wry commented on #52142
have a flag ```--context``` can checkout context

[2017-09-08 10:21] sttts commented on #52160
The opposite. `CreationTimestamp` is the event object creation time by definition of that field. The `Event.Timestamp` is the request time (also by definition, i.e. by our godoc).

[2017-09-08 10:22] sttts commented on #52160
That we re-use that event object throughout the handler chain is our optimization and an implementation detail. From the outside we create one event per stage.

[2017-09-08 10:25] jayunit100 commented on #50813
I've seen this as well in 1.6.6 on gce recently when a node went unhealthy .  Waited a very long time... 10
Minutes ....and the pod was just in a hung state.

- Is there something  that times out a pending pod after some period that would prevent this from being an issue ? Should there be ?

- Or maybe there's some logic  missing in the controllers for this corner case depending on the timing of t

[2017-09-08 10:35] CaoShuFeng commented on #52160
I vote for this option.
But I suggest to rename RequestStartTimestamp to RequestReceivedTimestamp.
And in the RequestReceivedStage:
ObjectMeta.CreationTimestamp is equal RequestReceivedTimestamp

[2017-09-08 10:56] soltysh commented on #41039
This is done. One last thing is to update the release notes which is what I'm doing right now. I'll go ahead and close this.
@janetkuo one final question wrt to deprecation notice, is release note sufficient, or should I also update comments in `types.go` to include that info there?

[2017-09-08 10:56] #41039 closed

[2017-09-08 10:57] #51813 closed

[2017-09-08 11:09] jsafrane commented on #51961
From mount propagation point of view, it will work on COS out of the box. I let someone else decide if it's better to fix wheezy by merging #44389 or move to COS.

It's quite surprising to me too and I am from sig storage. Is it just deprecation on GCE / GKE or whole Kubernetes stopped running on Debian? And which Debian?

[2017-09-08 11:09] dims commented on #49402
More work is being done in #51629

[2017-09-08 11:10] dims commented on #51629
Will help fix one of the problems mentioned in #49402

[2017-09-08 11:11] jsafrane commented on #40072
I am going to close it, blame Photon if there is no default storage class there.
/close

[2017-09-08 11:11] #40072 closed

[2017-09-08 11:16] CallMeFoxie commented on #48985
So it seems that github does not show >1MB files online so we've reached
[code]
stage

I'd say splitting is a good idea sooner rather than later :)

[2017-09-08 11:18] jsafrane commented on #51640
@rrati, would you mind fixing it since you wrote the controller?
/assign @rrati

[2017-09-08 11:27] crassirostris commented on #52160
@soltysh Yeah, sorry for confusion earlier, I meant what @sttts said

@CaoShuFeng I also prefer this option better, b/c removing ObjectMeta will require some testing and even after that something can break, and leaving CreationTimestamp empty doesn't look good

[2017-09-08 11:29] luxas commented on #40536
@quinton-hoole Any relevant design doc/proposal for this issue/feature request?

[2017-09-08 11:31] luxas commented on #51629
@dims can I assign you this and so we can get this bugfix into v1.8?
Otherwise all ccms will depend on GCE and AWS sdks as @karataliu said...

[2017-09-08 11:34] luxas commented on #49402
Also we should talk about if the SSH-to-nodes GCE thingy is really needed anymore with the latest auth features...
@kubernetes/sig-auth-feature-requests

[2017-09-08 11:37] crassirostris opened #52162 "Expose container's own identity to the container"
Container can be identified in the cluster at a given point of time by a tuple `(namespace, pod_name, container_name)`. Currently, the only guaranteed way to get this information is Downward API, which requires quite lengthy definition in the container's spec.

However, this information is extremely important for monitoing/logging client libraries. They would benefit from being able to out of the

[2017-09-08 11:37] dims commented on #51629
@luxas, am travelling all week next week (OpenStack meeting in Denver), so i won't be able to work this problem. If i get some time to look, i will assign it to myself.

[2017-09-08 12:01] luxas commented on #51629
ok, thanks anyway

[2017-09-08 12:16] hrishin opened #52163 "[openapi-spec] Circular dependencies in resource definitions"
Bug:
In Swagger API [spec](https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json) `io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1beta1.JSONSchemaProps` resource property has some circular dependencies

 e.g.
[code]

Is it expected one?

[2017-09-08 12:19] soltysh commented on #48388
Good catch, that part of docs is generated from `kubectl set image --help`. I've updated the necessary part of description in https://github.com/kubernetes/kubernetes/pull/52164

[2017-09-08 12:21] soltysh commented on #20255
@innovia `.spec.backoffLimit` introduced in https://github.com/kubernetes/kubernetes/pull/48075 and https://github.com/kubernetes/kubernetes/pull/51153 is what you'll be looking for.

[2017-09-08 12:40] AndreaGiardini commented on #50151
I didn't find anywhere the cherry-pick of this issue. Is it in progress? If not, what can we do to move it forward?

[2017-09-08 12:56] mattjmcnaughton commented on #49256
Wonderful! Working on it :)

[2017-09-08 13:02] abitrolly opened #52166 "No nodes are available that match all of the following predicates:: NodeUnderMemoryPressure (1)."
/kind bug
/sig scheduling

**What happened**:
Pod was Pending or in CrashLoopBackOff container state. Not clear why until `kubectl get pod -o yaml` revealed this status:

[code]
But the message is confusing.

**What you expected to happen**:
Expected message to say something like "failed to find nodes not under memory pressure. So maybe rename predicate to NodeNotUnderMemoryPressure (1) ?

**How t

[2017-09-08 13:15] olekzabl opened #52167 "Incomplete result of "kubectl get pods""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubectl get pods --all-namespaces -o yaml did not print anything about one of the pods in the cluster  (pod name is "pending", in namespace "default").
Screenshots:
![dmjcwwyqssd](https://user-images.githubusercontent.com/17475944/30213201-4aceba1a-94a8-11e7-8a89-6c5715e109ff.png)
![nr76qphn45f](https://user-images.githu

[2017-09-08 13:21] olekzabl commented on #52167
+ @janetkuo

[2017-09-08 13:23] olekzabl commented on #52167
Update: "--all-namespaces" doesn't matter, since the pod is in "default" namespace.
"kubectl get pods" is also missing it in the result.

[2017-09-08 13:25] wongma7 commented on #50522
no, I'm not sure what OS minikube is under the hood. You may have to use some kind of containerized ceph utilities https://github.com/rook/rook/blob/master/Documentation/k8s-pre-reqs.md#ceph-and-rbd-utilities-installed-on-the-nodes

[2017-09-08 13:45] dims commented on #51629
@luxas trying a tactical fix, dunno if it will work, please take a look

[2017-09-08 14:01] soltysh commented on #52160
Important requirement for this is that it should give very good precision, micro- or milisecond precision so we can measure actual time spent for processing requests.

[2017-09-08 14:01] arthur0 commented on #51591
@arun-gupta, your deployment is wrong.
[code]

[2017-09-08 14:02] crassirostris commented on #52160
+1, I'll add this to the issue description

[2017-09-08 14:06] deads2k commented on #52159
I've recently been digging into this in openshift.  There is a field selector key conversion function which can translate field keys and field selector values from external to internal.  I think it works, but I'm not completely sure how readable user errors are.

[2017-09-08 14:09] #47889 closed

[2017-09-08 14:10] xiangpengzhao commented on #48985
@CallMeFoxie yeah, seems like we do have to split the CHANGELOG ASAP, at least before we release 1.8. We may also need to modify the scripts I mentioned above accordingly.

@jdumars @kubernetes/sig-release-feature-requests any thoughts?

[2017-09-08 14:10] xiangpengzhao commented on #48985
/priority important-soon

[2017-09-08 14:16] jdumars commented on #48985
@abgworrall @calebamiles @ericchiang unfortunately, this work cannot wait, so we need to slot it into blocking items.

[2017-09-08 14:22] ironcladlou commented on #52093
Fixed by https://github.com/kubernetes/kubernetes/pull/52092

[2017-09-08 14:22] #52093 closed

[2017-09-08 14:22] pegerto opened #52172 "Kubelet is not creating the log symlink"
/kind bug

**What happened**:
Kubelet is not creating the log symlink for some containers at '/var/log/containers'

**What you expected to happen**:

The symlink is a requirement for fluentd, we expect to have a symlink for any running container inside a pod.

**How to reproduce it (as minimally and precisely as possible)**:

We run test with the following script and found many cases, but we could

[2017-09-08 14:23] pegerto commented on #52172
/sig node

[2017-09-08 14:42] micahhausler opened #52173 "Enable AWS Network Load Balancer for Services of type LoadBalancer"
/kind feature

I want to be able to create LoadBalancer services and use AWS's [Network Load Balancer](https://aws.amazon.com/blogs/aws/new-network-load-balancer-effortless-scaling-to-millions-of-requests-per-second/)

Going along with how AWS LB's are currently configured, it would be most convenient to have an annotation to specify an NLB.

**Environment**:

- Cloud provider: AWS

[2017-09-08 14:44] micahhausler commented on #52173
@kubernetes/sig-aws

[2017-09-08 14:45] micahhausler commented on #52173
/sig aws

[2017-09-08 14:48] smarterclayton commented on #48388
Yes, the bug isn't that it's wrong.  The bug is that the error message

[2017-09-08 14:56] smarterclayton commented on #51953
We have to map ranges to metrics though.

Another option is that we could gather this metric from the storage
periodically.  In etcd3 you can do a range count function this fairly
effective.  When watch caches are on, the size of the watch cache is
effectively this count.  If watch caches are off, you can measure LIST
length as it goes by or do periodic background list count checks.

On Fri, Sep 8

[2017-09-08 14:58] smarterclayton commented on #51825
It's one per api group resource - deployments are now in three (extensions,
apps/v1beta1, and apps/v2beta2).  Some attributes of those storage are
different between storage (the resource info reported on errors).  The
watch cache should be shared.

On Fri, Sep 8, 2017 at 3:20 AM, Wojciech Tyczynski <notifications@github.com

[2017-09-08 15:00] kargakis commented on #49637
/priority critical-urgent

[2017-09-08 15:02] smarterclayton commented on #26651
I'm pretty sure that rancher is printing the value of the container image
status field, which is "docker-pullable://pullspecbydigest".  You should
ask the rancher team which field they print in their UI.  Kubernetes
reports the effective digest id, because that's what allows you to know
what content is actually being run.

On Fri, Sep 8, 2017 at 2:13 AM, hiscal2015 <notifications@github.com> wrote

[2017-09-08 15:06] apelisse commented on #52089
Maybe we should truncate if the content is too big ...

[2017-09-08 15:08] bgrant0607 commented on #52159
Related: #3084

[2017-09-08 15:17] apelisse commented on #52089
True. Maybe we could have only cached the openapi requests/responses. I didn't find a good way to have a finer grain than the "discovery client".

On the other hand, HTTP cache is meant to be mostly transparent. We could also have decided to enable the cache for *every* requests in Kubernetes, and it shouldn't have made much difference (it would have saved secrets and potentially sensitive informa

[2017-09-08 15:33] bgrant0607 commented on #22368
@krmayankk Yes. In order to do a rolling update, both the previous and new versions of the configmap must simultaneously exist.

@kfox1111 I assume the "main configmap" would be embedded in Helm's representation of the chart. The live configmaps would be the configmap versions in use, and should be garbage collected with the replicasets generated by Deployment.

[2017-09-08 15:34] rrati commented on #51629
@luxas Sorry, I seem to have missed the updates to the this issue.  I agree with your proposed implementation.  That was along the lines I was thinking of too.

[2017-09-08 15:44] julia-stripe opened #52177 "Init container not removed when cronjob is updated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created a cronjob with an init container. This works correctly. I then updated that cronjob (with `kubectl apply`) to no longer have an init container. This doesn't work -- after updating the cronjob, the init container is still there. (also, there are no error messages)

Strangely, **updating** the init container work

[2017-09-08 15:48] julia-stripe commented on #52177
/sig apps
/area workload-api/cronjob

[2017-09-08 15:49] albertvaka commented on #47538
This would be also very useful for debugging: When I have to test a cronjob, either I change the schedule to be a few minutes from now and apply it, or I create new YAML file for a pod with the same configuration... both ways are pretty inconvenient.

[2017-09-08 15:58] abgworrall commented on #51961
To summarise a bit ...

Container-VM (CVM) was a debian-7 derived OS distro that Google developed and maintained. Google has deprecated that particular distro since ~April this year, with a 'no more updates' deadline of 'September 2017'.

The replacement for CVM is Container-Optimized OS (COS, aka GCI), a linux distro that has ongoing support and maintenance from Google, and a steady stream of upd

[2017-09-08 16:03] innovia commented on #20255
@soltysh
My use case is a gpu cluster when a user runs a script it creates a job on a gpu instance when theres a node fit failure because that gpu instnace is in a moddle of another job cluster autoscaler kicks in and adds another instance and until that node is up and running on kubernetes theres a chance that the actovedeadline seconds will breach before the pod even ran.

I read the links you p

[2017-09-08 16:06] david-mcmahon commented on #48985
Just seeing this now.  Yes, this idea was raised a few times back in 2016.  I have been a big proponent of doing this. I'm glad there's more interest now.  Subdirs is one option.  CHANGELOG-1.N (per branch) at the top level may also be desirable to keep it at the top level dir.

[2017-09-08 16:08] qingling128 commented on #50845
b/65481001 has been created to track the internal work for the underlying transport layer change ("Deeply nested JSON messages should raise a 400 error instead of 500").

[2017-09-08 16:13] rpothier opened #52179 "Update Kubenet with CNI v0.6.x for IPv6"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubenet does not support the latest CNI version which is required for IPv6.
IPv6 addresses cannot be assigned.

**What you expected to happen**:
IPv6 addressing.

**How to reproduce it (as minimally and precisely as possible)**:
use an IPv6 address with Kubenet

**Anything else we need to know?**:

**Environment**:
- Kube

[2017-09-08 16:28] gyliu513 commented on #51883
+1 to Amending `describe`.

[2017-09-08 16:29] yujuhong commented on #52136
You don't need an issue for typo fix. Please submit the PR directly.

[2017-09-08 16:31] ericchiang commented on #49402
@luxas is that involved with the cloud provider? I was under the impression it was just flags on the API server that didn't interact with an external service.

[code]

[2017-09-08 16:34] jhorwit2 commented on #48690
What's the plan with [`alpha.kubernetes.io/provided-node-ip`](https://github.com/kubernetes/kubernetes/blob/822e29dd3ce90421c099f6bec7f476c419c3211e/pkg/kubelet/apis/well_known_annotations.go#L24) annotation for beta? Is the plan to just keep it an annotation and promote it? If so, I can create a ticket to track that as well.

[2017-09-08 16:43] ericchiang opened #52181 "[e2e tests] gke-serial and gci-gke-serial startup failures"
/kind e2e-test-failure
@kubernetes/test-infra-maintainers
@kubernetes/kubernetes-release-managers

The GKE serial and GCI CKE serial e2e tests are experiencing startup failures:

https://k8s-testgrid.appspot.com/release-master-blocking#gke-serial
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gke-serial

Sorry if this is already being tracked.

[2017-09-08 16:44] yujuhong commented on #52140
The job is fine now so I assume that the janitor kicked in and reclaimed the resources (unless someone manually did that).
Might still be worth looking into whether the quota is sufficient and/or why the network leaked.

/cc @krzyzacy @MrHohn based on their past activity on similar bugs.

[2017-09-08 16:46] #50661 closed

[2017-09-08 16:49] ericchiang commented on #51565
Closing since #51782 merged.

[2017-09-08 16:49] #51565 closed

[2017-09-08 16:56] krzyzacy commented on #52181
it timed out basically, I can bump the timeout, but is it normal?

[2017-09-08 16:57] krzyzacy commented on #52140
I think to solve the root issue, manual subnetwork will be the solution, or else everytime gcp add a new region we'll have to bump the quota again :-(

/assign @MrHohn

[2017-09-08 16:59] ericchiang commented on #52181
bumping the timeout might be a reasonable place to start at least.

[2017-09-08 17:07] mbohlool commented on #50793
@caesarxuchao Can you take a look at this?

[2017-09-08 17:08] dims commented on #51640
Agree @rrati

[2017-09-08 17:08] krzyzacy commented on #52181
/assign

[2017-09-08 17:09] abgworrall commented on #48985
@dchen1107 suggested moving the 1.2 work into a separate (temporary) `CHANGELOG-1.2.md` file, rather than delete it outright, if we're after a temporary change today. SGTM.

[2017-09-08 17:17] krzyzacy commented on #52140
(maybe we should open a separate issue for this)

[2017-09-08 17:17] pwittrock commented on #47976
@adohe Looks like you are the author of the referenced commit.  Is this something you would be able to own?

[2017-09-08 17:19] mml commented on #25625
One new compelling reason to do this is:

1. We expect the operational definition of drain and cordon to change.  E.g., #44944, but N.B. that at the moment, there is not a clear roadmap nor timeline.
2. This logic is embedded in `kubectl` right now (mea culpa).
3. Authors of other clients (reasonably) want to treat drain and cordon as cluster primitives.  https://github.com/kubernetes-client/pytho

[2017-09-08 17:20] pwittrock commented on #49637
/remove-sig cli

[2017-09-08 17:21] yujuhong commented on #52140
Yep. Let's close this one now that the tests are not failing.

[2017-09-08 17:21] #52140 closed

[2017-09-08 17:21] jingxu97 commented on #52036
@jsafrane I dont think step 7 will happen because VolumeInUse is already updated before mounting. In step 5 Before kubelet tries to mount, it makes sure that VolumeInUse is updated. The code is https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/operationexecutor/operation_generator.go#L656

There are four main events involves here
At Master
m1. Before detaching, mark volume not a

[2017-09-08 17:22] bgeesaman opened #52184 "Improving the Default Security Posture Through Defense in Depth"
## Assumptions

The external attack surface of most kubernetes clusters is typically limited to the API server, SSH to the nodes, and any exposed service.  However, there are at least two conditions where a malicious user can gain access inside the cluster:

1. Insert malicious code into a container that gets run by an authorized user as a part of a deployment or Helm chart.  e.g. A working image

[2017-09-08 17:26] bgeesaman commented on #52184
/sig cluster-lifecycle

[2017-09-08 17:29] lavalamp opened #52185 "Storage upgrade mechanism"
Before we remove an API object version, we need to be certain that all stored objects have been upgraded to a version that will be readable in the future. The old plan for that was to run the cluster/upgrade-storage-objects.sh script after each upgrade. Unfortunately, there are a number of problems with this:

* The script is old and incomplete, as api authors haven't been consistently adding thei

[2017-09-08 17:31] caesarxuchao commented on #50793
Taking a look now.

[2017-09-08 17:31] kfox1111 commented on #22368
@bgrant0607 ok cool. I think we're on the same page then. Thanks. :)

[2017-09-08 17:32] msau42 commented on #52128
Thanks Janet!  That confirms my theory of what happened:

1. Local K8s cluster < 1.7 built with go 1.8 hit bug #43534, which created tens of thousands of directories.
2. The kubelet volume directories were leftover when the cluster was brought down.
3. Local K8s cluster on HEAD was brought up.
4. After 3 minutes, the volume reconstruction loop runs, and finds all the leftover directories from 1).

[2017-09-08 17:34] caesarxuchao commented on #50793
It seems to be somehow fixed recently: https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new

[2017-09-08 17:35] tmjd commented on #39823
I think a solution for this issue or #39658 (which is closer to what I feel like a proper solution is) should be considered for inclusion for K8s 1.8 since it will officially support docker 1.13.

The problem as I see it is that kube-proxy sets up rules to forward traffic for services (specifically I have seen the problem with NodePorts) yet does not ensure or have any requirement (to my knowledge

[2017-09-08 17:39] #49637 closed

[2017-09-08 17:41] msau42 commented on #52128
/priority important-longterm

[2017-09-08 17:49] jingxu97 commented on #52032
hostpath is by definition is persistent volume which has different lifecyle of pod. The docker volumes also exist outside the lifecycle of a given container, so I think they are like hostpath volumes. For our current local ephemeral storage isolation feature, we do not management hostpath persistent volumes.
For persistent volume, we suggest to use new feature of local volume which is normally set

[2017-09-08 17:49] msau42 commented on #51961
So IIUC, we're going to be converting this test suite to use COS images soon, so we do not need #44389 to fix the failing tests.

However, we still may want to consider merging #44389 to support users that use Debian-based images (but not CVM).  But we won't have CI test coverage for it anymore.

[2017-09-08 17:55] luxas commented on #52184
/sig auth

[2017-09-08 18:00] thockin commented on #52185
Thanks, Daniel.  Good summary.  To echo:

Emphasis on *removal*.  It sucks to carry old APIs forward, but this is a liability I think we can't ignore.  We've gotten lucky this far.

@kubernetes/sig-network-api-reviews @cmluciano @dcbw @danwinship

@kubernetes/api-approvers @kubernetes/api-reviewers

[2017-09-08 18:01] yujuhong commented on #52032
Today we practically treat them as private volumes of the container -- there is no sharing and the volume gets removed along with the container. As mentioned https://github.com/kubernetes/kubernetes/issues/52032#issuecomment-327618068, there is no way for pods/containers to share these volumes using kubernetes API.

Whether we want to support these volumes and how to support them is a separate que

[2017-09-08 18:02] JacobSanford opened #52187 "kubectl set image does not accept image SHA hash, only tags"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Deployment YML spec allows ```owner/image@SHA``` in the image element but ```kubectl set image``` does not parse this format.

Running:
[code]

Result (kubectl):
[code]

Result (Dashboard):
Deployment shows as failed with error:
[code]

**What you expected to happen**:
```kubectl set image``` parses this format.

**How to

[2017-09-08 18:05] smarterclayton commented on #52185
For context the openshift approach is we force a migration before every upgrade starts, and the migration has to complete.  Migration is a kubectl cmd that reads all objects and writes a no-op change (which forces storage turn over).  We use this for protobuf migration, field defaulting, new versions, storage versions conversion, self link fixup, etc.

It's basically a production version of upgrad

[2017-09-08 18:09] thockin commented on #52185
Is this blocking the removal of Alpha APIs, too?

[2017-09-08 18:11] arthur0 commented on #39482
I would like work on this.

[2017-09-08 18:11] jsafrane commented on #52036
I talked to @gnufied and my race is indeed not possible. Both ADC and kubelet synchronously check that volume is safe for detach or mount and I did not find a way how **both** of them could detach and mount at the same time. One of them will end up with error and will either not detach or not mount.

It's really hard to spot it in the controller / volume manager though.

[2017-09-08 18:18] timothysc commented on #52184
/cc @liggitt @mattmoyer @smarterclayton
/sig node

[2017-09-08 18:21] caseydavenport commented on #52184
Except for say, `kube-dns` :)

[2017-09-08 18:23] cmluciano commented on #52040
Update: I'm working to try to enable these new features in a few CNI plug-ins so the tests can run locally.

[2017-09-08 18:23] cmluciano commented on #52039
Update: I'm working to try to enable these new features in a few CNI plug-ins so the tests can run locally.

[2017-09-08 18:23] thockin commented on #39823
If we can be more precise about which traffic we require to ALLOW, I'm OK
with adding rules to open that.

On Fri, Sep 8, 2017 at 10:36 AM, Erik Stidham <notifications@github.com>
wrote:

[2017-09-08 18:24] mml commented on #52050
/kind feature

[2017-09-08 18:25] luxas commented on #52184
@kubernetes/sig-cluster-lifecycle-feature-requests

[2017-09-08 18:26] caesarxuchao commented on #50793
The diff when the test started to pass in https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new. They don't seem to be related to GC or CRD.

Diff in test-infra: doesn't seem to be related
[code]

Diff in the master: doesn't seem to be related either.
v1.9.0-alpha.0.391+440884be9ae54a..v1.9.0-alpha.0.395+50c633182ecf18
[code]

commit dc9859754a29e4477c7798f04d0

[2017-09-08 18:29] paolomainardi commented on #36499
@msau42 please can you add me in the whitelist ?

[2017-09-08 18:29] jiayingz opened #52189 "Add e2e test to exercise device plugin failure handling upon kubelet restarts, device plugin restarts, and device failure"
/kind feature

We would like to make sure the device plugin framework we added in 1.8 has proper handling upon the following failure scenario:

- Kubelet restarts: An e2e test we may add is to allocate a gpu device to a pod and then restart kubelet. After kubelet becomes ready again, verify that device plugin has correctly re-registered with the new kubelet instance. Then checks that we can alloca

[2017-09-08 18:30] jiayingz commented on #52189
/sig node

[2017-09-08 18:30] jiayingz commented on #52189
/cc @vishh @mindprince @dchen1107

[2017-09-08 18:30] luxas commented on #48690
@wlan0 @thockin ^

@jhorwit2 I don't remember the history there exactly, only vaguely

[2017-09-08 18:31] msau42 commented on #36499
Hi @paolomainardi please send me an email.  There are some forms to fill out.

[2017-09-08 18:32] lavalamp commented on #52185
@smarterclayton Is that an upstream command?

[2017-09-08 18:33] lavalamp commented on #52185
@thockin I think it depends on how the alpha API is storing its objects.

[2017-09-08 18:33] caesarxuchao commented on #50793
The logs are still missing in these tests, so it's very difficult to debug. I'll stop spending time on them before https://github.com/kubernetes/test-infra/issues/4323 is fixed.

My hunch is this is not a release blocker, since it's only failing in one particular upgrade test setup. Let's review the test results again next week.

[2017-09-08 18:36] luxas commented on #49402
@ericchiang Now remember, I was thinking about the node dialer talking to the cloud provider re: installing SSH keys: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L212-L241

Only provider that implements this `AddSSHKeyToAllInstances` function in the cloudprovider interface is GCE. I'm asking whether this is _actually_ required anymore or if we can deprecat

[2017-09-08 18:42] jeremyeder commented on #36222
This still happens on kube 1.7 :-(

I'm not 100% sure how to reproduce, but what I did was:
- have an existing configmap
- ```kubectl edit configmap ...``` and edit a few lines
- exit the editor
- ```kubectl edit configmap``` ... now I see the ```\n``` characters instead of actual newlines.
- even ```kubectl get configmap ... -o yaml``` shows the ```\n``` characters

[2017-09-08 18:55] wojtek-t commented on #51825
OK - got it. So that's probably not a regression then - I think we were never sharing watch case between api groups.

[2017-09-08 18:55] jiayingz opened #52190 "Better handling on duplicate registrations from a device plugin in Kubelet"
/kind feature

In the current Kubelet device plugin implementation, we always accept the newest device plugin upon duplicate registrations. We took this policy so that if device plugin DaemonSet restarts, new connection can be re-established. However, this policy may not yield the desired behavior in certain cases, e.g., when the old device plugin is still correctly running and the new device plug

[2017-09-08 18:56] jiayingz commented on #52190
/sig node

[2017-09-08 19:02] liyinan926 opened #52191 "Revamp DaemonSet controller tests"
Ref: [Workload Controllers Test Plan](https://docs.google.com/document/d/1e2M3KD2wTfhISyyuqyX0pcUGZyzcyKoWo4CIlUojAdM/edit) by @enisoc

Unit tests
- [ ] Refactor sync call tree so we can unit test decisions (on this sync pass, create this, delete that) without needing a test fixture with mocks.
- [ ] Remove unit tests made redundant by new integration tests below (especially ones that need reactor

[2017-09-08 19:03] liyinan926 commented on #52191
/sig apps
/area test
/kind enhancement

[2017-09-08 19:09] wojtek-t commented on #52107
As we discussed offline with @shyamjvs - the "watch latencies" is misleading there, because it can also mean, things like "slow kubelet, "throttled client in kubelet" and a couple other things.

I suggested to take a look into few particular pods that were responsible for this long latency and track what exactly was happening with them in apiserver, scheduler and kubelet logs.

[2017-09-08 19:23] cmluciano commented on #15656
@ixdy @jayunit100 Think this issue is still relevant?

[2017-09-08 19:25] smarterclayton commented on #51825
No, although as a side effect of promoting APIs some memory hungry ones got
worse.  And I'm not convinced we didn't refactor something since 1.6 that
made it start happening.  I think it's important to fix (some clusters will
have lots of these) but not critical.

On Fri, Sep 8, 2017 at 2:55 PM, Wojciech Tyczynski <notifications@github.com

[2017-09-08 19:26] #15656 closed

[2017-09-08 19:27] smarterclayton commented on #52185
Downstream, it is a bunch of utility code for a migration framework (we have other migrators for things like RBAC, alpha annotations to beta fields, image references) and then a set of simple commands.  I don't know that I think of this as `kubectl` as much as `kubeadm` or a separate command for admins (in openshift, `oc adm` is all admin focused commands and `oc` is all end user focused, but we d

[2017-09-08 19:32] #51537 closed

[2017-09-08 19:37] smarterclayton commented on #52184
If you don't have pod security policy on AND namespace placement control policy, you can schedule onto the masters and get the master keys and access to etcd.  If you can schedule onto nodes, you can jump around until you find one of the kube-system pods and steal its service account token.  Any pod that is using a service account that allows creation of pods in kube-system allows trivial compromi

[2017-09-08 19:38] smarterclayton commented on #52184
Also, I would recommend folks read through https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/ which isn't well publicized, but could use some supporting detail and flushing out from the people who care about this topic.

[2017-09-08 19:44] smarterclayton commented on #52162
The downward API design is specifically that we will not automatically inject these values, and they must be specified in the pod spec.  Explicit specification allows us to version them over time, whereas implicit injection creates an infinite API (we can never safely remove the feature).

For this reason I don't think we would ever have any plans to do this automatically without explicit action i

[2017-09-08 19:54] RenaudWasTaken commented on #51993
Hi!
Sorry for the late answers...

Right, as you mentioned, it's in charge of handling `endpoints` and the
gRPC server. Furthermore it exposes a clean, readable and logical
interface.

Which seems reason enough for me to keep it as a separate module as it
would not make sense to expose this interface elsewhere.

@lichuqiang oh this is what you meant! This was the shape of the original
function.
Ho

[2017-09-08 20:04] cmluciano commented on #48240
@renewooller Can you add a bit more information about the LB you are using. Is this an ELB?

Also why do your containers open up a hostPort. Is this necessary for ELB k8s loadbalancer functionality?

cc @kubernetes/sig-aws-misc

[2017-09-08 20:04] mml commented on #25625
@davidopp or @timothysc per my last message, is there any chance this could be prioritized for 1.9 or maybe next year?

[2017-09-08 20:05] smarterclayton commented on #52124
It would also simplify intra-cluster firewall configuration if there was a well known range.

[2017-09-08 20:08] luxas commented on #51525
Please move this issue to https://github.com/kubernetes/kubeadm

[2017-09-08 20:08] #51525 closed

[2017-09-08 20:11] cmluciano commented on #34125
I think this issue has since been resolved in kube-proxy. Do we think this is stale now @piosz ?

[2017-09-08 20:12] cmluciano commented on #34125
/assign

[2017-09-08 20:21] msau42 commented on #49529
Just spoke to @dashpole and he said that it's normal for a Pod to go to Failed state during the termination sequence.  In between Failed state and Pod object deletion is when we unmount the volumes.  So I think the issue here is that the WaitForPodTerminated function needs to wait only for the Pod object to be deleted, and not return early if Pod state is Failed.

[2017-09-08 20:28] lavalamp commented on #52185
@smarterclayton Gotcha. I will take a look at it but that still doesn't sound like an ideal way to solve the problem. Like, it's good if you're going to run one or two of these things with super-well-trained humans doing the upgrade, but Kubernetes isn't installed like that :)

[2017-09-08 20:38] jiayingz commented on #51993
On Fri, Sep 8, 2017 at 12:55 PM, Renaud Gaubert <notifications@github.com>
wrote:

So I can see pros and cons on either side. I think the major motivation for
dropping to two layers is to simplify the code, especially locking.

it in type.go which I think should only contain public interfaces.

am not a big fan of having too many small files.
After we move podDevices functions out, the file is onl

[2017-09-08 20:38] ReSearchITEng commented on #39701
I am facing the same, cannot connect to api-server on the exported:
KUBERNETES_PORT=tcp://10.96.0.1:443

[2017-09-08 21:00] gnufied commented on #52122
closing this in favour of https://github.com/kubernetes/kubernetes/issues/52138

[2017-09-08 21:02] yujuhong commented on #52172
Kubelet creates a infra container for every pod with name prefix: `k8s_POD_`. These are not user containers and will not have log symlinks. Please check the names of those containers with missing symlinks to make sure they are not infra containers.

[2017-09-08 21:19] #48646 closed

[2017-09-08 22:00] ahmetb opened #52202 "UX issue with updating objects with empty pending initializers list"
**(SEE UPDATE at https://github.com/kubernetes/kubernetes/issues/52202#issuecomment-329888449)**

Currently, if you're writing an initializer controller, you're most likely using it to initialize a `Pod` and deploying the controller with `Deployment`. Therefore you're likely using the following trick to avoid the chicken and egg problem:

[code]

This bypasses the initializers for the pods and let

[2017-09-08 22:01] ahmetb commented on #52202
/cc @smarterclayton

[2017-09-08 22:11] #52154 closed

[2017-09-08 22:21] dashpole opened #52203 "E2E_Node flaky suite is not showing results"
https://k8s-testgrid.appspot.com/sig-node#kubelet-flaky-gce-e2e

Has been in this state since some recent tests were added.  Most likely an issue with the suite timing out.

[2017-09-08 22:23] dashpole commented on #52203
/sig node

[2017-09-08 22:24] fejta-bot opened #52204 "Failure cluster [76edb2...] failed 645 builds, 104 jobs, and 1 tests over 1 days"
### Failure cluster [76edb205d929c5fe8d14](https://go.k8s.io/triage#76edb205d929c5fe8d14)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    104 jobs failed,    645 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 104

[2017-09-08 22:24] fejta-bot opened #52205 "Failure cluster [8eb9f1...] failed 567 builds, 87 jobs, and 1 tests over 1 days"
### Failure cluster [8eb9f14149d80c9af17d](https://go.k8s.io/triage#8eb9f14149d80c9af17d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    87 jobs failed,    567 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 87 |

[2017-09-08 22:24] fejta-bot opened #52206 "Failure cluster [9ad229...] failed 375 builds, 54 jobs, and 1 tests over 1 days"
### Failure cluster [9ad2299367357dd09133](https://go.k8s.io/triage#9ad2299367357dd09133)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    54 jobs failed,    375 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 54 |

##### Top

[2017-09-08 22:24] fejta-bot opened #52207 "Failure cluster [16db33...] failed 229 builds, 38 jobs, and 1 tests over 1 days"
### Failure cluster [16db33bf31b447d62f2d](https://go.k8s.io/triage#16db33bf31b447d62f2d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    38 jobs failed,    229 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| UpgradeTest | 38 |

###

[2017-09-08 22:24] fejta-bot opened #52208 "Failure cluster [e530b5...] failed 228 builds, 37 jobs, and 1 tests over 1 days"
### Failure cluster [e530b51eb8281d9374e4](https://go.k8s.io/triage#e530b51eb8281d9374e4)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    37 jobs failed,    228 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| list nodes | 37 |

####

[2017-09-08 22:24] fejta-bot opened #52209 "Failure cluster [401aef...] failed 227 builds, 36 jobs, and 2 tests over 1 days"
### Failure cluster [401aef29d43e16d527de](https://go.k8s.io/triage#401aef29d43e16d527de)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    36 jobs failed,    227 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Check APIReachability |

[2017-09-08 22:24] fejta-bot opened #52210 "Failure cluster [b74137...] failed 227 builds, 56 jobs, and 1 tests over 1 days"
### Failure cluster [b741375f10a0c2e1e477](https://go.k8s.io/triage#b741375f10a0c2e1e477)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    56 jobs failed,    227 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 56 |

[2017-09-08 22:24] fejta-bot opened #52211 "Failure cluster [63a364...] failed 225 builds, 62 jobs, and 26 tests over 1 days"
### Failure cluster [63a36434077ff31ae29e](https://go.k8s.io/triage#63a36434077ff31ae29e)
##### Error text:
[code]
##### Failure cluster statistics:
26 tests failed,    62 jobs failed,    225 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-apps] Job should

[2017-09-08 22:24] fejta-bot opened #52212 "Failure cluster [7494e2...] failed 183 builds, 30 jobs, and 2 tests over 1 days"
### Failure cluster [7494e24d94a92b84dbc1](https://go.k8s.io/triage#7494e24d94a92b84dbc1)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    30 jobs failed,    183 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Upgrade [Featu

[2017-09-08 22:24] fejta-bot opened #52213 "Failure cluster [eac695...] failed 162 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [eac695523adae581eaa0](https://go.k8s.io/triage#eac695523adae581eaa0)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    162 builds failed.
Failure stats cover 1 day time range '7 Sep 2017 10:43 UTC' to '8 Sep 2017 10:43 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 12 |

##### Top

[2017-09-08 22:24] fejta-bot opened #52214 "pr:pull-kubernetes-e2e-kops-aws flaked 131 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-kops-aws
 Flakes in the past week: **131**
 Consistency: **85.30%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| DumpClusterLogs | 159 |
| Up | 148 |
| [sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should not deadlock when a pod's predecessor fails | 48 |

/assign @rkouj

<details><summary>Rat

[2017-09-08 22:24] fejta-bot opened #52215 "pr:pull-kubernetes-e2e-gce-etcd3 flaked 122 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-etcd3
 Flakes in the past week: **122**
 Consistency: **85.90%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should provide basic identity | 44 |
| [sig-cli] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [

[2017-09-08 22:24] fejta-bot opened #52216 "pr:pull-kubernetes-e2e-gce-bazel flaked 107 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-bazel
 Flakes in the past week: **107**
 Consistency: **87.30%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should provide basic identity | 27 |
| TearDown | 22 |
| [sig-cli] Kubectl client [k8s.io] Simple pod should return command exit codes

[2017-09-08 22:29] ash211 commented on #50110
@vishh the goal here is to support running minikube with `--vm-driver=none` in integration tests in e.g. TravisCI and CircleCI, where in those environments root can't modify `/proc/sys/*`.  Exposing a flag on `kubelet` was mentioned as a followup TODO in the original PR introducing the config options at https://github.com/kubernetes/kubernetes/commit/0ec36ae2104c342ec3a68d7f138f069911227e20#diff-b

[2017-09-08 22:34] luxas commented on #52212
cc @roberthbailey @krousey known issue?
cc @jdumars @ericchiang FYI

[2017-09-08 22:40] vishh commented on #50110
Ok. If it's test only, then I'm fine with exposing a config knob and
prefixing that with `test` string to make that clear.

On Fri, Sep 8, 2017 at 3:30 PM, Andrew Ash <notifications@github.com> wrote:

[2017-09-08 23:00] krousey commented on #52212
I think the error originates here: https://github.com/kubernetes/kubernetes/blob/60e967f4b964d66236170d64fde6e05ce91112a8/test/e2e/framework/nodes_util.go#L190 and the -1 I think is happening because a flag is no longer being correctly provided: https://github.com/kubernetes/kubernetes/blob/60e967f4b964d66236170d64fde6e05ce91112a8/test/e2e/framework/test_context.go#L190

[2017-09-08 23:02] mml opened #52218 "kubectl logs is kafkaesque"
Seriously, I need it to draw some kind of truth table or something about what's allowed.

Why do we have so many restrictions?

[code]

And this works just fine, so it really strike me as strange that kubectl won't do it for me.

[code]

/kind feature
@kubernetes/sig-cli-feature-requests

[2017-09-08 23:20] krousey commented on #52212
@zmerlynn Did https://github.com/kubernetes/test-infra/pull/4418 perhaps cause this?

[2017-09-08 23:33] mengqiy opened #52219 "kubectl cronjob e2e test is failing in skew test"
https://k8s-testgrid.appspot.com/sig-cli#skew-cluster1.8-kubectl1.7-gce
/kind bug

[2017-09-08 23:33] mengqiy commented on #52219
/assign

[2017-09-08 23:41] mengqiy commented on #52219
/sig cli

[2017-09-09 00:37] liggitt commented on #52177
Probably a dupe of https://github.com/kubernetes/kubernetes/issues/47264

Fixed by #51816

[2017-09-09 00:37] yujuhong commented on #51540
Does kubernetes even build natively on windows?

[2017-09-09 00:45] liggitt commented on #52177
Do you see the alpha/beta initcontainer annotations on the API object? If so, unless you also change the annotations, changes to the API field will be ignored (see discussion in https://github.com/kubernetes/kubernetes/issues/47264#issuecomment-327541429 for how we ended up with that behavior)

To remove initcontainers from the cronjob with apply, I think you would need to explicitly null out the

[2017-09-09 01:17] JiangtianLi commented on #51540
@yujuhong  We build kubernetes windows binary on linux. This issue is about be able to run unit test that requires windows. @andyzhangx  is working on Azure file/Azure disk and the ask here is to have unit test pass besides build pass.

[2017-09-09 01:18] smarterclayton commented on #52185
It's just part of general cluster upgrade operations.  Someone has to roll
the masters. Someone has to lay down new config.

I agree there can be magic involved.  But magic may have higher cost in
some scenarios.

On Sep 8, 2017, at 4:28 PM, Daniel Smith <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> Gotcha. I will take a
look at it but that still doesn't so

[2017-09-09 01:22] mtaufen opened #52222 "Must fsync dynamic kubelet config checkpoint files to protect against hard restarts"
@yujuhong brought up that it's possible for a hard reboot to result in empty checkpoint files, if they haven't been synced to disk yet.

[2017-09-09 01:25] caarlos0 commented on #42164
BTW: this seems to happen together with https://github.com/weaveworks/weave/issues/2797

(at least happened to me 3 times)

[2017-09-09 01:32] vikaschoudhary16 opened #52224 "'kubectl attach' does not return output from the pod container"
/kind bug
**What happened**:
`kubectl attach <pod-name>` was not showing the output "Started, serving at 8080"
But  `kubectl logs <pod-name>` shows "Started, serving at 8080"

**What you expected to happen**:
`kubectl attach <pod-name>`  to show the output "Started, serving at 8080"

**How to reproduce it (as minimally and precisely as possible)**:
1. kubectl create -f https://raw.githubuserconten

[2017-09-09 01:46] MrHohn opened #52226 "kube-proxy downgrade job applies 1.8 `ADMISSION_CONTROL` env on 1.7 master causes apiserver crashes looping"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
From kube-proxy downgrade test suite: https://k8s-testgrid.appspot.com/sig-network#gci-gce-latest-downgrade-kube-proxy-ds&width=20.

After downgrade, test always fails on "Waiting for new master to respond to API requests".

Checked apiserver's log, found below error ([sample log](https://storage.googleapis.com/kubernetes

[2017-09-09 01:49] k82cn commented on #51246
/cc @gmarek

[2017-09-09 02:29] sjenning commented on #52224
/ok-to-test
/sig node
/release-note-none

[2017-09-09 03:13] liggitt commented on #49536
@sttts @caesarxuchao as fixed are made to release branches, we need to ensure those are propagated. is there a plan to get branches for the child repos that track maintenance branches in the main repo?

[2017-09-09 03:15] caarlos0 commented on #42164
(probably due to pods restarting too much, because networking isn't right)

[2017-09-09 03:32] smarterclayton commented on #52202
We silently ignore some metadata updates, which is one option.  Potentially we shouldn't require empty initializers pending, but simply empty initializers (which means - init directly), and only ignore that.  Are there any examples of use of SMP for similar?

I'm not sure this meets the bar for 1.8 but if we can find an example of something consistent already in the API I'd be willing to review.

[2017-09-09 03:57] hzxuzhonghu opened #52229 "when create a secret for service account, can not get secret from service account secret list"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
when I create a secret for service account by hand. secret is created, but I can not get from service accrount, int other way, it is not referenced by sa.

**What you expected to happen**:
secret create by hand, should be referenced by service account.
**How to reproduce it (as minimally and precisely as possible)**:

1. create serv

[2017-09-09 03:58] hzxuzhonghu commented on #52229
/sig auth
/area controller-manager

[2017-09-09 04:03] liggitt commented on #52229
that is working as designed. the list of secrets in the service account is the set that can be auto-mounted into pods. manually created tokens are separate, and should be able to be deleted by the creator without concern that they were also auto-mounted

[2017-09-09 04:03] #52229 closed

[2017-09-09 04:18] gwind commented on #51881
Use calico make this work
https://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/hosted

[2017-09-09 05:02] liggitt commented on #52226
@kubernetes/sig-scheduling-bugs

[2017-09-09 05:02] julia-stripe commented on #52177
thanks so much, that workaround works!

[2017-09-09 05:02] #52177 closed

[2017-09-09 05:03] liggitt commented on #52226
Is the priority admission plugin enabled by default or just in test configurations?

[2017-09-09 05:03] liggitt commented on #52226
cc @bsalamat

[2017-09-09 06:21] abitrolly commented on #51850
I mean that running this code leaves POD_NAME empty:

    kubectl run kubermarkets --image=cybernode/cm-app --port=80
    POD_NAME=$(kubectl get pods -o go-template --template '{{range .items}}{{.metadata.name}}{{"\n"}}{{end}}')

Because `kubectl run` exists immediately without waiting for Pod resource to be created.

[2017-09-09 06:35] hzxuzhonghu commented on #52229
Then why design a list of secret, if only one secret can be referenced.

[2017-09-09 07:29] pci commented on #49673
Wonderful. Sorry we missed that one.

[2017-09-09 07:35] odacremolbap commented on #50745
Can you make sure the plugin script has permissions to be executed by the account kubelet is running under?

[2017-09-09 07:49] 3792274 commented on #51934
@prateek2408 thankyou!  i'm new one in  kubernetes world ,i will accept your proposal to try 1.7.4.
by the way is there have any short guide  to deploy kubernetes ?

[2017-09-09 07:55] mkumatag opened #52232 "Port Guestbook tests to mutiarch"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Part of https://github.com/kubernetes/examples/pull/43 guestbook application has been ported for multiarch, so this workitem to use those images and make tests multi architectures to run on different architectures like amd64, arm, arm64, ppc64le etc..
**What you expected to happen**:

**How to reproduce it (as minimal

[2017-09-09 07:55] mkumatag commented on #52232
/assign

[2017-09-09 07:56] mkumatag commented on #52232
/sig testing

[2017-09-09 08:44] crassirostris commented on #52162
@smarterclayton

Thanks a lot for your attention! One thing I don't understand is how implicit injection prohibits the use of a versioned API. It's possible to have it versioned, e.g. mount all versions (smth like  `/run/kubernetes.io/(v1alpha1|v1beta1|v1)/identity`) with a versioned K8s object in each file. It can also conform to the same deprecation policies as any other API.

That is great to h

[2017-09-09 09:04] lichuqiang commented on #51993
@RenaudWasTaken Thanks for the comment.
Most of the objectives you put forward sound reasonable. In fact some of the them have been contained in existing PRs, say

Since some of us still have doubts about the idea of `dropping to two layers` and `the merge of list & listwatch`, I will extract refactoring options for sure to separate PRs, and keep PR #52149 #52158 for further discussion

[2017-09-09 09:49] xiangpengzhao commented on #52166
/sig scheduling
cc @guangxuli

[2017-09-09 09:50] xiangpengzhao commented on #52136
/kind cleanup

[2017-09-09 12:15] shiywang commented on #39434
@smarterclayton so you have any ideas on where is the ideal place we could move those kubectl validation code to ?  export in client-go ?

[2017-09-09 13:23] kargakis commented on #51540
This job will run for every PR that touches any file with a name that satisfies [this regexp](https://github.com/kubernetes/test-infra/blob/0fd217c911778a681f2217b6119415bbc33766a3/prow/config.yaml#L236).

[2017-09-09 14:44] dixudx commented on #51883
@caesarxuchao Yes, we still have printers on `kubectl` client side.

How about adding a new column named `Initialization` for all resources, such as `deploy`, `rs`, `sts`.

[2017-09-09 15:05] prateek2408 commented on #51934
@3792274 -- What kind of deployment you want to do ?.. if you just want to try kubernetes use kubeadm to do that , try to run the following commands :-1:

apt-get update && apt-get install -y apt-transport-https
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
cat <<EOF >/etc/apt/sources.list.d/kubernetes.list
deb http://apt.kubernetes.io/ kubernetes-xenial main
EOF
ap

[2017-09-09 15:30] xiangpengzhao commented on #49548
/assign

[2017-09-09 16:01] xiangpengzhao commented on #25582
@erictune createdBy annotation has been deprecated (#44407), so I think this issue is no longer relevant. I'm going to close it. Feel free to correct me if I'm wrong :)

[2017-09-09 16:01] xiangpengzhao commented on #25582
/close

[2017-09-09 16:01] #25582 closed

[2017-09-09 16:32] sttts commented on #49536
@liggitt we always have tracked release branches in the published repos. Though we forgot to keep the branch list up to date for some repos. release-1.8 will come with the next manual push (before we enable the nightly run again).

[2017-09-09 16:43] bsalamat commented on #52226
@liggit priority admission plugin is enabled by default:
https://github.com/kubernetes/kubernetes/pull/49322/files

Doesn't downgrading remove it from the list?

[2017-09-09 17:06] rtyler opened #52236 "Rolling update not possible with a Persistent Volume on Azure."
/kind bug

**What happened**:

With an existing cluster, with existing workloads, I used the Azure command line tool (`az`) to add a new agent machine to the cluster. And some time later performed a `rolling-update` on a pod, which failed to ever complete.

**What you expected to happen**:

I expected the `rolling-update` to complete (obviously) and appropriately/successfully move the containers f

[2017-09-09 17:09] smarterclayton commented on #39434
This would be on the server side, and would probably be generic code that is part of the rest.Storage interface.  There would have to be a generic implementation that deals with open api for CRD, and we'd probably want to ensure that generic code can also be run when a type does have an implementation in code in order to verify they are in sync (unfortunately that means that we can't be more restr

[2017-09-09 17:11] rtyler commented on #52236
For what it's worth, I'm not sure what kind of clean fix can be accomplished here.

An outage is effectively required in order to detach the Page Blob from one VM, and allow it to be re-attached to a new VM in Azure.

Perhaps the ideal fix would be for Azure to fix their crusty old Storage system :smiling_imp:

[2017-09-09 17:23] smarterclayton commented on #52162
It doesn't.  What I said was `implicit injection creates an infinite API (we can never safely remove the feature)`.  Explicit *helps* versioning, because you can identify and migrate consumers of that API.  For implicit as an administrator you cannot identify who is consuming the injection, nor can you write a policy to notify the consumers of the injection in preparation for a migration.  As a ge

[2017-09-09 17:39] rtyler commented on #52236
Honing in on this a bit more, I believe this isn't limited to *only* when a new agent VM is added to the cluster. I believe that **any** `rolling-update` command which would lead Kubernetes to relocate the Replication Controller from one agent VM to another VM in the cluster will fail on Azure, if that Replication Controller has an associated Persistent Volume.

[2017-09-09 18:09] wongma7 commented on #52016
you may use mount options https://kubernetes.io/docs/concepts/storage/persistent-volumes/#mount-options

in 1.8 there will be
[code]

[2017-09-09 18:09] mattjmcnaughton commented on #45525
I'm not sure if this is still a problem for you, but if so, it could be helpful to see the [Horizontal Pod Autoscaler Status Conditions](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/). My understanding is these became available in [1.7](https://github.com/kubernetes/kubernetes/blob/0d6f18287014412450f8810db1d147aa79980fdc/CHANGELOG.md#horizontal-pod-autosca

[2017-09-09 18:19] mattjmcnaughton commented on #47511
Just housekeeping - can this issue be closed since https://github.com/kubernetes/autoscaler/pull/229 is merged? Because the pr is in a different issue, Github couldn't automatically close the issue.

[2017-09-09 18:31] mattjmcnaughton commented on #39090
@andrewsykim - I believe this behavior was added in https://github.com/kubernetes/kubernetes/pull/34955, and was included in the 1.4 release.

Can this be closed?

[2017-09-09 21:17] hongchaodeng commented on #7856
Well.. The current status in EtcdCluster type in etcd operator was hacked for UI.. There still needs some improvement..

I can share our lessons in building operators. I couldn't speak highly enough of [Tim's comment](https://github.com/kubernetes/kubernetes/issues/7856#issuecomment-326047348). Over time, conditions are very useful for human debugging/troubleshooting rather than composing automati

[2017-09-09 23:29] justinsb opened #52239 "kubectl exec echoes characters typed to output (?)"
(Not entirely sure if this is standard behaviour)

I was trying to get the nginx.conf from the ingress pod (and yes, I should have used `kubectl cp`).  While doing that I typed some keys, and some of the keys were included in the output:
[code]

[2017-09-10 00:44] greenboxal commented on #23130
I have the same problem.

As a temporary workaround of some sort, I wrote this small utility: https://github.com/greenboxal/dns-heaven

It servers as a DNS proxy that answers requests based on macOS name resolution stack config. Basically, anything that uses /etc/resolv.conf will work with the rest of macOS DNS config.

[2017-09-10 02:00] 3792274 commented on #51934
@prateek2408 thank you

[2017-09-10 02:53] bzub commented on #42125
Some e2e tests require NodeExternalIP. I take it there's still no way to set this for bare-metal cluster nodes?

https://github.com/kubernetes/kubernetes/blob/2dcf54ed6478f896cd98ef64520f9618fecd7edc/test/e2e/framework/util.go#L3699

[2017-09-10 03:39] greenboxal opened #52241 "Add alternative to PrivateDnsName on AWS cloud provider"
/kind feature

AWS cloud provider forces the hostname, or at least the node name, to be the same as AWS' PrivateDnsName, this leads to the node being removed if a different node name is used.

It should be allowed to use any name as the node name and map it to a tag.

Is there any problem with this? I can provide a PR. It's really cumbersome to use ip-x-x-x-x.region.compute.internal as it doesn't

[2017-09-10 03:40] greenboxal commented on #52241
@kubernetes/sig-aws-feature-requests

[2017-09-10 08:00] #14897 closed

[2017-09-10 08:03] xcompass commented on #19405
In my case, I got a few thousands errors like below per second from fluentd container, a few nodes together took down my ES cluster.
[code]
My k8s was in non-stable status because of the multi master setup. (something related to https://github.com/kubernetes/kubernetes/issues/48865). Even after I reduced my master node to 1, I still got the same error above. The workaround I did is to remove the l

[2017-09-10 08:56] crassirostris commented on #19405
@xcompass This is expected, this means that fluentd is not able to process all logs it's reading. You can either make it block instead of throwing exceptions or increase the amount of resources/threads dedicated to processing logs so that fluentd never hits the limit

[2017-09-10 10:32] luxas opened #52242 "kubelet built from master panics: "invalid memory address or nil pointer dereference""
/kind bug

**What happened**:

I ran kubelet from HEAD and tried to make a normal cluster using kubeadm. I saw errors like these in the kubelet's log:

(I think [this line](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go#L996) is the cause)

[code]

**What you expected to happen**:

No panic

**How to reproduce it (as minimally and precisely as possible)**:

1

[2017-09-10 11:22] zjj2wry opened #52244 "kubectl describe serviceaccount have redundance null line, we should keep accordance for kubectl describe command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):

[2017-09-10 11:23] zjj2wry commented on #52244
/kind bug
/sig cli

[2017-09-10 11:24] zjj2wry commented on #52244
who can help remove the ```feature``` label

[2017-09-10 11:24] zjj2wry commented on #52244
/assign

[2017-09-10 11:36] luxas commented on #52242
cc @dixudx @thockin

I think the only thing we have to do here is to check for nil before trying to dereference the pointer

Adding the v1.8 milestone to this bug to make we track it in a release-blocking sense, this is probably a release blocker. cc @kubernetes/kubernetes-release-managers

[2017-09-10 12:17] dixudx commented on #52242
@luxas Since we've already set default value for `HostPathType`, the value is a non-nil pointer.

https://github.com/kubernetes/kubernetes/blob/e821e531db24ddd4897a166b67af8c863d93edc2/pkg/api/v1/defaults.go#L386-L391

No obvious errors found in [kubeadm build-log.txt](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-7-on-1-8/4/build-log.txt) are related to `H

[2017-09-10 12:38] luxas commented on #52242
Yeah, but somehow it seems to be nil here... otherwise it wouldn't have paniced

[2017-09-10 12:52] Scukerman commented on #51014
Ran into the same issue

[2017-09-10 13:48] luxas commented on #51246
The PR here isn't merged yet. Can we make that happen please?
We're still in alpha, so should be ok

[2017-09-10 13:49] luxas commented on #51246
Should I add the v1.8 milestone to this issue?

[2017-09-10 13:57] resouer commented on #51246
@luxas Hope so. We are pending in #51266, need approve from @lavalamp

[2017-09-10 14:24] mattjmcnaughton commented on #18155
Is this still a feature of interest? I see the `TODO:` still exists. If so - I'd love to take a stab. I've been looking for a starter project for the auto-scaling code base, and it seems like this could be a good fit.

[2017-09-10 14:40] RenaudWasTaken commented on #51993
Hi !

dropping to two layers is to simplify the code, especially locking.

In the existing PRs, I don't see a code simplification. Actually IMHO dropping an interface
is more the reverse of improving readability.

I'd rather we keep the code separated, which achieves at least separation of concern and modular
code on which we can build.

Readability is an objective but merging the layers is not ac

[2017-09-10 15:14] RenaudWasTaken commented on #52189
Does it have to be GPUs ? Or rather should we have both ?

[2017-09-10 15:57] husseincoder commented on #30558
Guys I would like to try working on this one .. it will be my first contribution and I think I have sometime for it .. please let me know.

[2017-09-10 18:10] hogepodge opened #52249 "Tracking: OpenStack Test Cloud for OpenStack Provider Testing"
This tracking issue, created at the request of @jamiehannaford (Issue #50246), will follow the enablement of K8s e2e testing on stable OpenStack clusters, using the upstream OpenStack Provider.

Currently changes to the OpenStack provider are not gate tested, which can result in uncaught regressions. This issue will track:

1. Deployment of one or more stable release OpenStack clusters.
  a. Initi

[2017-09-10 18:12] hogepodge commented on #52249
@kubernetes/sig-openstack-misc @kubernetes/sig-testing-misc

[2017-09-10 18:18] hogepodge commented on #52249
The OpenStack Foundation is currently negotiating with two vendors to provide permanent stable clouds for e2e testing. More information will be provided after the Denver Project Team Gathering on the availability of the first test cloud. Our expectation is a late September or early October delivery on the initial cloud.

[2017-09-10 19:25] xsgordon commented on #50461
@ArchiFleKs unfortunately just updating the check isn't enough for v3, as we need gophercloud support for it. I had filed https://github.com/gophercloud/gophercloud/issues/305 tracking this request a while back, which it looks like https://github.com/gophercloud/gophercloud/pull/415 would resolve. Once *that* merges we can then need to pick that version of gophercloud up and can use this check.

N

[2017-09-10 22:26] mengqiy opened #52252 "Smarter openapi generator"
Our openapi generator works like the following at the moment.
[code]
the generated openapi `.go` file will contain all types from target, dep1 and dep2. It will include some types not referenced in target. This will increase the weight of a user apiserver if the openapi spec contains a lot of unnecessary stuff.

A smarter openapi generator should be
[code]
The generated spec should be contains all

[2017-09-10 22:43] kargakis commented on #51907
/area stateful-apps

cc @kow3ns

[2017-09-10 22:45] kargakis commented on #51901
/remove-sig apps
/sig node

@kubernetes/sig-node-bugs

[2017-09-10 22:46] kargakis commented on #11505
/assign tnozicka

[2017-09-10 22:51] kargakis commented on #51581
/assign @soltysh
/kind bug

[2017-09-10 22:55] kargakis commented on #51671
You run a single pod but your strategy allows for 2 pods to be unavailable (maxUnavailable=2), iow you allow maximum unavailability. If you want minReadySeconds to have effect and only scale down pods after the new pods are up for 120, you need to use maxUnavailable=0.

[2017-09-10 22:55] #51671 closed

[2017-09-10 22:57] kargakis commented on #51454
/sig node

[2017-09-10 23:04] kargakis commented on #51315
We could possibly use the revision history annotation to determine to what RS to rollback to but I don't feel really strong about it.

[2017-09-10 23:04] kargakis commented on #51306
cc @kow3ns

[2017-09-10 23:05] kargakis commented on #51713
Or a status field.

cc: @janetkuo @tnozicka

[2017-09-10 23:11] kargakis commented on #51259
Yeah, not worth fixing if we are removing the endpoint.

[2017-09-10 23:12] #51259 closed

[2017-09-10 23:12] Frank-auckland commented on #51671
Get it, thank you

[2017-09-10 23:12] itowlson commented on #52236
/sig azure

[2017-09-10 23:15] kargakis commented on #50850
cc @soltysh

[2017-09-10 23:22] kargakis commented on #50686
Dupe of https://github.com/kubernetes/kubernetes/issues/33650

[2017-09-10 23:22] #50686 closed

[2017-09-10 23:24] kargakis commented on #50055
/remove-sg apps
/sig auth

[2017-09-10 23:24] kargakis commented on #50055
/remove-sig apps

[2017-09-10 23:29] kargakis commented on #50340
The reason we are pausing first is to use the controller's GC policy wrt the old ReplicaSets. RevisionHistoryLimit=0 means that all old RSs will be GC'ed

[2017-09-10 23:30] kargakis commented on #50363
cc @kow3ns

[2017-09-10 23:34] kargakis commented on #49918
cc @soltysh

[2017-09-10 23:35] kargakis commented on #49756
cc @kow3ns

[2017-09-10 23:36] kargakis commented on #50340
related: https://github.com/kubernetes/kubernetes/issues/49504

[2017-09-10 23:36] valentin2105 commented on #49918
I'm now in 1.7.4 and this bug seem to be fixed !

Thanks.

[2017-09-10 23:36] #49918 closed

[2017-09-10 23:38] kargakis commented on #47969
Dupe of https://github.com/kubernetes/kubernetes/issues/28610

[2017-09-10 23:38] #47969 closed

[2017-09-10 23:44] kargakis commented on #46934
@janetkuo I guess this falls through to 1.9?

[2017-09-11 00:05] seh commented on #33650
Related, for _Deployments_: #23360.

[2017-09-11 00:05] mrbobbytables commented on #25908
I too, have a need for this. In our case it's a job that makes use of the cloudsql-proxy container as a sidecar service.

What about possibly adding an annotation that maps to the name of the 'primary' container in the pod? That way the pod spec does not need to be modified in anyway.

[2017-09-11 01:39] k82cn opened #52254 "Enhance multi-scheduler to use schedulerName selector."
**Is this a BUG REPORT or FEATURE REQUEST?**:
After https://github.com/kubernetes/kubernetes/pull/50582 , we can select pods for multi-scheduler. PS: if pod did not set schedulerName, 'default' will be set as default value.

/kind cleanup

@kubernetes/sig-scheduling-misc

[2017-09-11 02:09] smarterclayton commented on #49756
Yes, the design of stateful sets today does not cover "applications that cannot lose any instance".  The design discussions occurring around daemonsets may result in some precedent for that sort of feature in the future (as well as highlighting how that might be achieved while preserving other system guarantees).

[2017-09-11 02:18] davecheney opened #52255 "util.sh missing when trying to run quickstart instructions"
/kind bug

**What happened**:

Followed the quick start guide here https://github.com/kubernetes/kubernetes#to-start-developing-kubernetes

**What you expected to happen**:

make completed sucessfully

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): n/a
- Cloud provider or h

[2017-09-11 02:21] smarterclayton commented on #36821
@kubernetes/sig-api-machinery-bugs the test is disabled but needs to be reenabled and fixed.  I believe this is the "don't use the list observer' issue.

[2017-09-11 02:34] dixudx commented on #52224
@vikaschoudhary16 I don't think this is a bug, or *at least not a `Kubernetes` bug*. You will find the same behavior with `docker attach xxx`.

If you want to get the logs, please use `kubectl logs -f doublecontainers -c hello-openshift` and `kubectl logs -f doublecontainers -c hello-openshift-fedora`, where you will find the expected log message.

[2017-09-11 02:56] zjj2wry commented on #51939
ref #50890 i have add fallback for cronjob, if you don't have ```batch/v2alpha1```, will fallback to lower version cronjob

[2017-09-11 02:57] zjj2wry commented on #51939
/assign

[2017-09-11 03:04] zjj2wry commented on #51882
can not reproduce this, mind add some version info for this issue.（kubectl version）

[2017-09-11 03:23] feiskyer commented on #52255
@davecheney The file does exist in kubernetes codebase, maybe it is removed in your local repo?

[2017-09-11 03:24] karataliu commented on #51710
Fixed by 51588

[2017-09-11 03:24] #51710 closed

[2017-09-11 03:25] tangzhankun commented on #51999
@vishh Yeah, agree that the plugin code should be out of tree and a summary document is a good start.
We'll provide a draft.
@ConnorDoyle Could you elaborate the idea of plugin ecosystem?

[2017-09-11 03:35] davecheney commented on #52255
Thanks for your reply. This is a clean checkout following the instructions
in the README (see issue report) so I don't think I removed the file --
most likely it's not part of the repo.

On Mon, Sep 11, 2017 at 1:24 PM, Pengfei Ni <notifications@github.com>
wrote:

[2017-09-11 03:41] feiskyer commented on #52255
See <https://github.com/kubernetes/kubernetes/blob/master/hack/lib/util.sh>

[2017-09-11 03:51] davecheney commented on #52255
@feiskyer thank you for your reply. Please see the instructions in the project README whichdo no mention this file. https://github.com/kubernetes/kubernetes#to-start-developing-kubernetes

[2017-09-11 03:56] lichuqiang commented on #52190
Yes, the protection of plugin registration is necessary.
So, How should we define "still alive"?  It seems currently, manager would automaticly remove an endpoint if its listAndWatch exit.

[2017-09-11 03:57] ConnorDoyle commented on #51999
@tangzhankun yeah, it was a topic that was discussed informally during Resource Management Workgroup meetings a few months ago.

The main idea is to provide good user experience for consumers of device plugins. Here you can imagine a continuum of scenarios. On the extremely-decentralized end users would search the web for "Kubernetes + my-device" and try to figure out which one is the best fit bas

[2017-09-11 04:29] thockin commented on #52242
Before we merge, we need to understand how it got to be nil.  It's supposed to be defaulted.

[2017-09-11 04:32] jiayingz commented on #52189
I think testing with a real device plugin implementation is necessary and currently gpu device plugin is the only one implemented. Tests with emulated device plugins would be extra bonus.

[2017-09-11 04:55] saad-ali opened #52258 "Change `GCEDiskAlphaAPI` to `DiskAlphaAPI` in comments"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In a number of comments in https://github.com/kubernetes/kubernetes/pkg/cloudprovider/providers/gce/gce.go mentions `GCEDiskAlphaAPI`.

**What you expected to happen**:

That flag is actually `DiskAlphaAPI` not `GCEDiskAlphaAPI`.

**How to reproduce it (as minimally and precisely as possible)**:
N/A

[2017-09-11 05:21] feiskyer commented on #47723
Maybe explain how this works? e.g. whether the service's externalIP is also set on host interfaces. If so, then I think it is an expected behavior because NodePort is serving on all IPs of the host.

[2017-09-11 05:22] ahmetb commented on #52202
I don't have any concrete examples, there's an example initializer at [kelseyhightower/kubernetes-initializer-tutorial](https://github.com/kelseyhightower/kubernetes-initializer-tutorial/blob/2645c93e05f281c251ae7d835c7bb93dfdded0b8/deployments/envoy-initializer.yaml#L5) making use the `pending: []` trick, I use it myself, and I suspect many more initializers to come will use this, too.

I'm not s

[2017-09-11 05:25] xingzhou commented on #52187
Can not reproduce in the latest master branch code, can you please paste the image you used in your environment?
I tried with the following busy box image:
[code]

[2017-09-11 05:26] xingzhou commented on #52136
sure, let me close it.

[2017-09-11 05:26] #52136 closed

[2017-09-11 05:55] andyzhangx opened #52261 "azureDisk - Not a mounting point for disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
There will be error when kubelet restarts on a agent if pod in that agent has an azure disk mounted, the error would be like following:
azureDisk - No
t a mounting point for disk andykubewin175-dynamic-pvc-7a0cdeb9-92c7-11e7-b86b-000d3a36d70c on \var\lib\kubelet\pods\d146c023-92c7-11e7-b86b-000d3a36d70c\volumes\kubernetes.

[2017-09-11 06:03] andyzhangx commented on #52261
/sig azure

[2017-09-11 06:41] wojtek-t commented on #51825
Sure - I'm not saying we should fix that. I just think it's not a regression.

[2017-09-11 06:47] guangxuli commented on #52166
@abitrolly  `NodeUnderMemoryPressure  ` means whether a pod can be scheduled on the node reporting memory pressure condition. So looks like reasonable.

[2017-09-11 07:58] nikhita commented on #49504
What must be done here? The proposal for subresources for CustomResources (https://github.com/kubernetes/community/pull/913) is blocked on where a unified `Scale` object should live.

cc @deads2k @liggitt @enisoc

[2017-09-11 08:08] erkules commented on #51882
Thx zjj2wry.
The version is v1.7.4. The full output is the first point under Environment in the initial Post.

[2017-09-11 08:22] tengqm commented on #52255
possibly due to go get incompleteness?

[2017-09-11 08:23] gmarek commented on #51246
I opened #52264 with safe changes.

"not-ready" change needs to be discussed more, as it's a breaking change. I believe it's best with fixing that to the time we'll be moving to beta, as we'll need to do another breaking change, i.e. remove 'alpha' from the key.

[2017-09-11 08:25] davecheney commented on #52255
Go get returned no error, and I tried the steps twice.

On Mon, Sep 11, 2017 at 6:23 PM, Qiming <notifications@github.com> wrote:

[2017-09-11 08:36] gmarek commented on #51704
This is a known issue with tests. It will go away once we migrate to taint based evictions, but the move is not high enough priority for anyone to work on it.

[2017-09-11 08:40] crassirostris opened #52265 "GCE audit policy has an obsolete list of resources"
Currently, GCE audit policy is v1alpha1 and doesn't match the list of resources in 1.8. It has to be updated before the release and e2e should check that it's correct.

[2017-09-11 08:44] gmarek commented on #52107
Controller manager's resource usage seems suspiciously high as well, which suggests it's the component either emitting additional Events or is responding to them. Either way it's logs may tell us what's wrong.

[2017-09-11 08:54] minhdanh commented on #49461
I'm having this issue and I'm using kubernetes version 1.7.3

Here's my deployment config:

[code]

[2017-09-11 08:57] kyrias opened #52266 "Clarify ExternalNames are hostnames not DNS names"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The documentation claims that `ExternalNames` should be DNS names, but stricter RFC-1123 hostname validation is enforced.

**What you expected to happen**:
The documentation should either specify that they need to be valid RFC-1123 hostnames, or the code should not reject valid DNS names.

**How to reproduce it (as minima

[2017-09-11 08:58] pegerto commented on #52172
Helo @yujuhong

As far I can see in `1.5.7` where I have the issue with the missing symlinks, infra pod have a link. For instance

[code]

But I can see missing links for other pods, especially for pods that are restarted, I can see that the symlink for the previous container is maintained.

Example
[code]

[2017-09-11 08:59] kyrias commented on #52266
@kubernetes/sig-docs
@kubernetes/sig-api-machinery

[2017-09-11 08:59] tengqm commented on #52255
Tried but failed to reproduce the problem you reported.

[2017-09-11 09:22] luxas commented on #52242
@thockin Absolutely. @dixudx has a prototype of how it could be nil now in https://github.com/kubernetes/kubernetes/pull/52246, let's verify if it fixes the issue...

[2017-09-11 09:34] crassirostris commented on #52162
@smarterclayton OK, I'll rephrase. When you're on a vm in a cloud, you can get the metadata about this vm (like location, vm name, etc.) using an endpoint that will not be removed ever (metadata server). In Kubneretes, it's not possible at all, that's the problem

Mounting these values is one way to solve the problem. If the Kubernetes API will allow for the pod to get its own identity, that's als

[2017-09-11 09:52] gwind commented on #51881
# This is not a bug !

deploy k8s with flannel network, conflict with newest docker's policy

1. ping some pod's ip from on node
2. in the targe node, run `tcpdump -i any -n icmp`, could not saw ICMP reply msg

**Fix this**, you should run following command in every node:

[code]

ref:

- https://github.com/coreos/flannel/issues/609
- https://github.com/moby/moby/pull/28257

[2017-09-11 09:52] #51881 closed

[2017-09-11 10:07] dixudx commented on #52254
/cc

[2017-09-11 11:11] bmwiedemann opened #52269 "man pages do not build reproducibly"
/kind bug

**What happened**:
When building kubernetes-1.7.0 packages for openSUSE, results differ for each build in `/usr/share/man/man1/kubectl.1` and other man pages.

coming from `pkg/cloudprovider/providers/gce/gce_loadbalancer.go`
that uses `netsets.ParseIPNets([]string{"130.211.0.0/22", "35.191.0.0/16", "209.85.152.0/22", "209.85.204.0/22"}...)`
and probably sets do not have any specific or

[2017-09-11 11:13] bmwiedemann commented on #52269
/sig release

[2017-09-11 11:19] crassirostris commented on #52265
@jdumars @calebamiles Are you OK with fixing this bug in 1.8?

[2017-09-11 12:00] piosz commented on #34125
@cmluciano metrics are exposed by kube-proxy in Prometheus format, so I'd close this. Feel free to open if I'm anything else needs to be done here.

[2017-09-11 12:00] #34125 closed

[2017-09-11 12:12] guangxuli opened #52270 "[e2e test]: pull-kubernetes-federation-e2e-gce test always fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Tests about https://github.com/kubernetes/kubernetes/pull/51889 always generate pull-kubernetes-federation-e2e-gce failure. Seems not relevant to the PR https://github.com/kubernetes/kubernetes/pull/51889 after checking the details.

**log:**
I0911 10:09:03.239] process 22525 exited with code 0 after 0.5m
I0911 10:09:03.2

[2017-09-11 12:12] andor44 commented on #52218
Presumably `-l` and `-c` don't work together because `-l` can match both pods that have a container specified by `-c` and also ones that don't. What do you do in that case? I've been using https://github.com/wercker/stern to augment `kubectl logs` that takes the more liberal approach to matching pods and containers, e.g. it shows all containers in a pod, etc. `kubectl logs` could learn a thing or

[2017-09-11 12:14] guangxuli commented on #52270
/sig testing

[2017-09-11 12:21] zjj2wry commented on #21648
@mengqiy can you help add my name in `port` , i add ```kubectl set port``` command in pr #51947 ,thank you very much

[2017-09-11 12:26] rootfs commented on #52249
cc @kubernetes/sig-storage-misc

[2017-09-11 12:28] zjj2wry commented on #29679
@mengqiy i open a PR in #51428 implement ```kubectl set image```, i'd like that can became first ```kubectl view command```. and i will continue add other command in 1.9 milestone ~.~, are you mind continue maintain your table，it will help avoid same work for contributor. 🙏

[2017-09-11 12:30] mattjmcnaughton opened #52271 "`make clean` deleting unexpected files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
After setting up an IntelliJ project files for the Kubernetes repo, I had IntelliJ related project files in the directory. Wanting to clean up some generated `bazel-*` files, I ran `make clean`. I was surprised to see that my IntelliJ project files were deleted as well.

**What you expected to happen**:

I would have

[2017-09-11 12:32] mattjmcnaughton commented on #52271
/sig contributor-experience

[2017-09-11 12:39] wheestermans commented on #43800
Same issue on **Oracle Linux Server 7.3**

# kubeadm version

kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean", BuildDate:"2017-08-31T08:56:23Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

# docker version

Client:
 Version:      17.06.1-ee-2
 API version:  1.30
 Go version:   go1.

[2017-09-11 12:42] kargakis commented on #21648
@zjj2wry done

[2017-09-11 12:56] mfaizanse opened #52273 "Unable to use specified CA cert C:/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
I am trying to run prometheus server on kubernetes cluster (Windows nodes using Azure Container Service). I have created a prometheus service windows container image with kubernetes configurations and deployed it in a pod. When I start the prometheus server in powershell inside that pod, I get following errors:

[2017-09-11 12:57] addisonbair commented on #45726
I am seeing the same issue trying to stand up a postgres pod within a deployment using dynamic EBS provisioning.

The initial provisioning and attachment appears to work without issue, but when the pod is removed (and automatically recreated within the deployment), the storage class does not appear to re-attach the same EBS volume successfully.

[2017-09-11 13:09] mfaizanse opened #52274 "Unable to access file in the volume populated with data stored in a ConfigMap"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
I am working with windows containers. I created a configmap from file using the --from-file flag and then I populate a volume with data stored in a ConfigMap in a pod. The yaml file for this pod is:
[code]

Then I exec powershell into that pod to verify the volume. I can see the file in that volume but I cannot

[2017-09-11 13:48] abitrolly commented on #52166
@guangxuli the error message is still confusing - even if "No nodes are available that match all of the following predicates:: NodeUnderMemoryPressure" means that there are no nodes under memory pressure, it doesn't explain why pod in unscheduled. It could be because all nodes are under memory pressure and pod can not be scheduled on such node (interesting to know how it is determined), or it coul

[2017-09-11 14:03] wheestermans commented on #43800
I have alligned the cgroup docker and kubelet

docker info |grep -i cgroup
cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Update KUBELET_CGROUP_ARGS=--cgroup-driver=systemd to KUBELET_CGROUP_ARGS=--cgroup-driver=cgroupfs

Now the docker images are downloaded, and containers are started:

**docker images**
REPOSITORY                                               TAG                 IMAGE

[2017-09-11 14:08] henriquetruta opened #52276 "openstack cloud provider not working as `external`"
I have clonned the rancher-cloud-controller-manager repo and changed the main to point to `openstack`. Then, I executed `glide` and built the binary. I ran it in the same machine of my master cluster with:
`/openstack-cloud-controller-manager --cloud-config cloud.conf --kubeconfig /etc/kubernetes/admin.conf -v=3`
I was able to execute it and the cloud provider seemed to work fine in verstion 1.7.

[2017-09-11 14:08] henriquetruta commented on #52276
/label sig/openstack

[2017-09-11 14:09] wieslaw-gat commented on #47057
@chapati23 Yes, that was the fix for me as well
@roffe Well, I think the point of the container offering on GCE is that you don't have to manually tweak the settings of VMs that were created automatically

[2017-09-11 14:09] henriquetruta commented on #52276
/sig openstack

[2017-09-11 14:11] timothysc commented on #51950
@WIZARD-CXY feel free to PR and tag the scheduling sig.

[2017-09-11 14:22] yastij commented on #52173
@justinb - do we plan to support this ?

[2017-09-11 14:24] timothysc commented on #51246
Aren't we doing this at the 11th hour?  Is this going to hit 1.8?

[2017-09-11 14:31] Maellooou opened #52277 "Grafana can't connect service influxdb datasource"
/kind bug
/sig  area/monitoring

**What happened**:

Hello all,

I try to deploy grafana/influxdb/heapster on my kubernetes 1.6.6 from this offical files  https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-monitoring/influxdb

I have issue link to the service monitoring-influxdb.

My grafana container can't access to service influxdb. I have the following error :

[code]

[2017-09-11 14:36] ss22ever commented on #52276
@henriquetruta Thanks, I would like to take that.

[2017-09-11 14:38] jfpucheu commented on #52277
+1 same pb in 1.7.5

[2017-09-11 14:39] gunboe opened #52278 "KubeDNS : Headless Service - Records are overwrited when using deployment replicas"
/area dns

**What happened**:

KubeDNS overwrite the last replica records (IP/Host) in subdomain, instead of appending the records in KubeDNS.

**What you expected to happen**:

I'm trying to make a DNS "loadbalance" with Headless Service (https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/) with replicas from a deployment.
Trying to resolve a $hostname.$subdomain.$namespace.s

[2017-09-11 15:13] discordianfish opened #52279 "Return correct/all errors from rbac authorization"
Depends but would say it's

/kind bug

**What happened**:
Running GKE, configured rbac and had wrong resource name specified (see https://github.com/kubernetes/kubernetes.github.io/pull/5389). Unfortunately Kubernetes returned the misleading error `Unknown user "system:serviceaccount:default:latency-bot"`.

Fortunately @liggitt pointed me in the right direction explaining:

So it seems in my case

[2017-09-11 15:16] discordianfish commented on #52279
/sig cluster-ops

[2017-09-11 15:30] thockin commented on #52270
@kubernetes/sig-federation-bugs

[2017-09-11 15:31] ArunSambandam opened #52280 "'systemctl enable kubelet' fails with 'Unit name kubelet is not valid' error on Linux machine"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I am facing below error when I tried to enable kubelet, before setting up the master cluster

bash-4.2$ /usr/local/packages/aime/install/run_as_root "systemctl enable /scratch/athirugn/kubernetes/_output/dockerized/bin/linux/amd64/kubelet"
Failed to execute operation: Unit name kubelet is not valid.

**What you expected to happen**

[2017-09-11 15:47] sjenning commented on #52270
This test has failed across all PRs since the last successful run on 9/9 @ 9:39CDT.  It is a blocking test.  The submit queue is blocked.

[2017-09-11 15:47] pwittrock commented on #30558
@seans3

[2017-09-11 15:51] smarterclayton commented on #1615
From an API compatibility perspective, given that shared PID is a change that can break applications, it needs to be opt in at the Kube API level, not at the kubelet level.  We have balked at changing things like DNS (breaks apps silently) so I don't know why shared Pid would be any different.

[2017-09-11 15:53] guillaumerose commented on #52278
This issue is due to the dns. See https://github.com/kubernetes/dns/issues/116.

[2017-09-11 15:54] smarterclayton commented on #1615
I don't see how the default can be changed without the app signaling its desire for shared PID.  And even then, given the security implications of shared PID, it seems more correct that someone has to opt in to sharing PID across all containers (which is another API change).

Concrete example: I have a script in my container that iterates through all PIDs and sends sigterm.  Today, that only kills

[2017-09-11 16:05] timothysc commented on #25625
It's entirely based on resources and folks willing to show up and do the work.

[2017-09-11 16:08] jbeda commented on #51246
Strings like this that are part of the core API should be part of a design doc that is formally reviewed by an API group.  We need to find ways to catch this stuff earlier.

We should also have an evolving API style guide that lists stuff like this.

/cc @kubernetes/api-approvers

[2017-09-11 16:10] zmerlynn commented on #52212
It's not clear how this *ever* worked. `skewTest` doesn't pass the correct `--num-nodes`, and the env variable isn't always set. The latter might be the problem (one of the env variable migrations, possible mine).

[2017-09-11 16:11] yujuhong commented on #52242
I think volume manager reconstructs the specs from reading the directories on the disk and these specs do not have the defaults applied.
@kubernetes/sig-storage-bugs would know better

[2017-09-11 16:15] resouer commented on #51246
Thanks @jbeda , let me make some summary:

1. A quick fix for 1.8 is #52264, will be merged soon.

2. The final fix is  #51266, we are collaborating to reach a final solution and it's not target 1.8

[2017-09-11 16:18] zmerlynn commented on #52212
cc @fejta / @krzyzacy: Yeah, I think the `NUM_NODES` transition bit us here, but on a design level, I'm not sure how to handle the env -> flag migration for anything where we're just communicating the cluster configuration to e2e. I almost think the `skewTest` function should just pass a proto of the `kubetest` args, or just bite the bullet and not recurse into `kubetest` here.

[2017-09-11 16:28] dstreby commented on #42164
Throwing some more information in the ring here:

We've been experiencing this issue intermittently for a few months now.

[code]
Cluster is running on CoreOS, in AWS. We have _not_ seen issues with IOPS / Burst Balance on EBS

The only "workaround" we have to this is a small program running to check if `docker ps` returns within a given timeout, and if it doesn't, the docker service gets restarte

[2017-09-11 16:30] ericchiang opened #52282 "[e2e failure] Pods should cap back-off at MaxContainerBackOff"
@kubernetes/kubernetes-release-managers
@kubernetes/sig-node-test-failures
@ihmccreery ref https://github.com/kubernetes/kubernetes/issues/19027

Test is failing on GCE slow and GCI GCE slow:

https://k8s-testgrid.appspot.com/release-master-blocking#gce-slow
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-slow

Example failure

https://k8s-gubernator.appspot.com/build/kubernetes-j

[2017-09-11 16:33] krzyzacy commented on #52212
hummm, I thought I have once fixed gke explicitly, I'll take a look later

[2017-09-11 16:38] aleksandra-malinowska opened #52283 "Setting annotation with prefix fails"
`kubectl annotate` fails to set annotation containing prefix:

[code]

kubectl version:

[code]

This has been replicated on head (v1.9.0-alpha.0.408+ea017719e52138-dirty) and with different kubectl versions (1.7.0, 1.7.5). Same command succeeds in GKE running 1.7.4.

Running with v=10, kubectl reports sending the request to API server:

`Request Body: {"metadata":{"annotations":{"cluster-autoscal

[2017-09-11 16:45] shyamjvs opened #52284 "CIDR allocation slow with IP aliases"
Recently while starting a large cluster with IP aliases enabled, I observed that the CIDR allocation was too slow. This leads to cluster startup failing the validation step with some nodes unready.
There seem to be no issues on the GCE side as the nodes already have the alias IP range assigned. The issue is with cloud-CIDR-controller (range allocator is fine). It's slow because of at least 2 reaso

[2017-09-11 16:46] shyamjvs commented on #52284
Adding 1.8 milestone as I think this is pretty important for large clusters. Feel free to change if you feel otherwise.

[2017-09-11 16:48] cjyar commented on #42164
I've run into this when I had many hundreds or thousands of images in `docker images`. I assume there was an I/O slowdown at the same time.

[2017-09-11 16:51] ericchiang opened #52286 "[e2e failure] GCE serial and GCI GCE serial are failing to come up"
@kubernetes/kubernetes-release-managers
@kubernetes/test-infra-maintainers
@kubernetes/sig-testing-bugs
/kind e2e-test-failure

GCE serial and GCI GCE serial started failing last evening

https://k8s-testgrid.appspot.com/release-master-blocking#gce-serial
https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce-serial

[2017-09-11 16:52] eedugon commented on #47775
Hello,

I agree with @tuminoid comments.
If "IfNotPresent" policy is set for an image, and that image is using the "latest" tag, then it will never be updated, and that doesn't have any sense, right? The main purpose of `latest` is actually to fetch updates as soon as they are available.

I think the consistent behavior here would be to do always the same no matter if "IfNotPresent" is explicitly

[2017-09-11 16:56] edevil commented on #50150
I also encountered this problem. What is the official fix? Adding the udev rules seems like a temporary solution. Is it something that needs to be fixed on CoreOS or on Kubernetes itself?

[2017-09-11 16:56] shyamjvs commented on #52284
Rate at which nodes are getting CIDRs assigned with and without this change (actually it's about nodes getting ready, but for large clusters it's currently bottle-necked by cidr-allocation):

[code]

[code]

[2017-09-11 16:57] ArunSambandam commented on #52280
/area kubelet
/area kubelet-api
/sig testing

[2017-09-11 16:59] sjenning commented on #52224
@ncdc you've been following this for longer.  Is this a valid issue? Is https://github.com/kubernetes/kubernetes/pull/52225 as valid fix?

[2017-09-11 17:03] ncdc commented on #52224
We need to resolve the discussion in https://github.com/kubernetes/kubernetes/issues/24070 first.

[2017-09-11 17:07] ravisantoshgudimetla commented on #46387
@enj I have tried reproducing this couple of times today with master and didn't happen. Are you still seeing the issue or is this a flake? This doesn't seem to be scheduling bug to me.

+ autoscaling.
/cc @kubernetes/sig-autoscaling-test-failures

[2017-09-11 17:10] liggitt commented on #31292
@xilabao @ericchiang can this be closed now that https://github.com/kubernetes/kubernetes/pull/48051 is in?

[2017-09-11 17:12] ericchiang commented on #31292
Yep!

/close

[2017-09-11 17:12] #31292 closed

[2017-09-11 17:15] jingxu97 commented on #50645
kind/bug
priority/critical-urgent

[2017-09-11 17:18] krzyzacy commented on #52286
https://k8s-testgrid.appspot.com/release-1.7-all#gci-gce-serial-release-1-7 is still green, I would suspect something ~last Friday afternoon gets merged

[2017-09-11 17:27] shyamjvs opened #52292 "Performance improvements to CIDR allocator"
Off-shoot of https://github.com/kubernetes/kubernetes/issues/52284. While going through the code today I found some potential improvements that can be made to cidr-allocator:

- [x] add concurrency to cloud-cidr-allocator queue processing
- [x] move node updates out of the main control loop to a separate channel
- [x] ~list instances from cloud provider periodically to find alias ranges of nodes,

[2017-09-11 17:29] sjenning commented on #52282
The test nodes appear to lose their authorization for accessing resources about 26m into the test.

One of many "Unauthorized" errors starting at
[code]

[2017-09-11 17:29] shyamjvs commented on #52292
I'm taking up this issue. IMO, the first 3 are most important and will try to get them in this release.
Suggestions/comments?

[2017-09-11 17:30] gunboe commented on #52278
So, will be nice to be implemented...
/kind feature

[2017-09-11 17:34] shyamjvs commented on #52292
cc @gmarek (because node-controller :)

[2017-09-11 17:35] verb commented on #1615
@smarterclayton are you interested in how we got here or where we're going now? (real question, it might be worth a retrospective.)

How we got here: the different thing about this change is sharing namespaces between containers in a pod is fundamental to the concept of a pod and I suspect the only reason the PID namespace wasn't shared previously is that docker didn't support it. Other runtimes d

[2017-09-11 17:37] piosz commented on #51643
Re-opening the issue, to have more visibility here than in https://github.com/kubernetes/test-infra/issues/4499.

We should have manual syncs until the automated bot is fixed. This blocks a lot of efforts having  dependencies on Kubernetes like metrics-server https://github.com/kubernetes/features/issues/271.

[2017-09-11 17:38] enj commented on #46387
@ravisantoshgudimetla I have not seen it since.

[2017-09-11 17:40] smarterclayton commented on #51246
Agree with Joe, can someone open a PR to https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#label-selector-and-annotation-conventions that documents that taint names should follow the naming conventions for annotations?

[2017-09-11 17:40] bowei commented on #52292
lgtm, btw -- I'm trying to move all of the logic into imap/... controllers in the future that are parallelized

[2017-09-11 17:42] krzyzacy commented on #52212
/assign
/assign @zmerlynn
/unassign @luxas

[2017-09-11 17:42] piosz commented on #51643
cc @jdumars @calebamiles @idvoretskyi

[2017-09-11 17:48] smarterclayton commented on #1615
I don't think so.  It's implicit, but our goal is not "we must allow all sharing".  And even if that were the case, we have 8 releases under our belt where we have explicitly run workloads as unique PID, and so any philosophical justification is weighted much less than the compatibility of those workloads in real environments.

My example is real - I'm aware of at least 3 production workloads runn

[2017-09-11 17:55] abgworrall commented on #52282
@krzyzacy , does this ring any bells ?

[2017-09-11 17:58] wojtek-t commented on #52284
@shyamjvs - how frequently this is putting this information - without this information is mostly useless.

BTW - it still seems pretty slow - I would expect the bottleneck for that to be QPS limits on the client side. If not, what is bottleneck there?

[2017-09-11 18:01] ericchiang commented on #52282
The certificates are all expiring:

[code]

[2017-09-11 18:10] fejta commented on #52270
Please fix the tests, which look to be either a federation and/or auth issue.
@kubernetes/sig-federation-test-failures
@kubernetes/sig-auth-test-failures

I'd recommend reaching out to these teams on Google Groups as well as slack.

From a sig-testing point of view everything is working as intended. Testing starting failing, we're reporting the failures and holding merges until tests pass.
/remove

[2017-09-11 18:12] gnufied opened #52298 "Glusterfs ExpandVolumeDevice calculates size to expand to incorrectly"
Glusterfs+Heketi use GB units for expanding volume. Using GiB incorrectly leads to expanding the volume to smaller size than user requested.

/sig storage

cc @humblec

[2017-09-11 18:14] nikhiljindal commented on #52270
cc @marun The current federation on call.

federation tests started failing as we ran out of quota.
We are manually deleting the leaked resources to get quota back so that tests start running, while we debug why are we leaking resources.

[2017-09-11 18:22] dchen1107 commented on #52282
I believe this is the regression introduced https://github.com/kubernetes/kubernetes/pull/51844

cc/ @jcbsmpsn @mikedanese @ericchiang Can you guys take a look?

[2017-09-11 18:24] ericchiang commented on #52282
@dchen1107 thanks. I'll open a PR to revert that.

[2017-09-11 18:27] dchen1107 commented on #52286
Here is what I found, after a while, the node lost their authorization to connect to API server. I believe this has the same root cause as

https://github.com/kubernetes/kubernetes/issues/52282#issuecomment-328615038

[2017-09-11 18:29] dchen1107 commented on #52286
I am going to revert offending pr (#51844) to see if it helps.

[2017-09-11 18:34] ericchiang commented on #52282
Revert here https://github.com/kubernetes/kubernetes/pull/52299

[2017-09-11 18:38] csbell commented on #52270
Quota is an issue on the CI tests (leaking health checks and firewall rules) but not the PR builder.

Still investigating.

[2017-09-11 18:38] gjcarneiro commented on #1615
FWIW, I kind of agree with @smarterclayton wrt stability and backward compatibility.  But I disagree on security.  For isolating containers in different security contexts you should at least put them in separate pods. Expecting two containers in the same pod to have good security isolation is not a reasonable requirement IMHO.

For backward compatibility, it is safest to have this turned off by de

[2017-09-11 18:42] cblecker commented on #52271
@mattjmcnaughton I'd be interested if you have any suggestions of what to do here. There's a few file system workarounds (such as having your `.idea/` dir outside of the project and symlinking it in.. then you'd just have to restore the symlink after a `make clean`. I think it's more the assumption that it would only remove build artifacts, rather than removing all temp/.gitignored files.

[2017-09-11 18:42] dchen1107 commented on #19027
We should mark it as slow-by-design, instead of removing it.

[2017-09-11 18:50] qrevel commented on #42616
Same here, spend half the day searching where the problem came from. I activated PROXY Protocol but OpenSSH doesn't support it.

[2017-09-11 18:51] tallclair opened #52300 "Cannot allow all seccomp profiles with PodSecurityPolicy"
It should be possible to create a PodSecurityPolicy with zero restrictions. This was the intent with the `*` (a.k.a. "AllowAny") allowed seccomp profile, but it is rejected during the validation phase.

/kind bug

[2017-09-11 18:52] smarterclayton commented on #1615
We've designed for this at various points in Kube lifecycle.  We have never said that "sub pod container security is our highest priority" but there are many legitimate reasons to isolate two roles within the same pod.  I'd say right now we have very good isolation, so I'm loathe to simply regress to "ha no security" without some discussion.

I think we cannot enable this globally without breaking

[2017-09-11 18:58] jeffvance commented on #28367
kind/cleanup

[2017-09-11 19:03] MrHohn opened #52303 "GCE controller leaks firewall & health check resources if cluster UID is changed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

GCE controller leaks firewall & health check resources if cluster UID is changed.

**What you expected to happen**:

GCE controller should cleanup resources with old cluster UID.

**How to reproduce it (as minimally and precisely as possible)**:

1. Bring up a 1.7+ cluster on GCE.
2. Create a service with `type=LoadBalan

[2017-09-11 19:04] pipejakob commented on #51571
@ixdy, as a heads-up, @enisoc is targeting releasing 1.6.10 on September 13th. To make sure we take the appropriate measures, is there any chance that the `release-1.6` bazel build will be fixed by then so we can use the normal kubeadm e2e tests as our health signal? Or should we be preparing for manually QAing kubeadm for that release? Thanks!

[2017-09-11 19:04] YannickFricke commented on #20367
Still no merge 👎

[2017-09-11 19:05] MrHohn commented on #52303
/sig network
/area platform/gce

[2017-09-11 19:05] ravisantoshgudimetla commented on #46387
Thanks @enj. Can you please close the issue?

[2017-09-11 19:20] #46387 closed

[2017-09-11 19:27] #46142 closed

[2017-09-11 19:37] luxas commented on #43800
@sedatkestepe If you open a new issue in kubernetes/kubeadm, there is a chance one of the kubeadm devs will look at it.
Basically, most devs don't watch kubernetes/kubernetes so it's extremely hard to notice any comment here due to the massive notification load.

So please open a new issue in that repo instead. Also, a lot of this will improve in v1.8
The underlying problem when this happens is pr

[2017-09-11 19:40] mengqiy commented on #30558
@husseincoder Please go ahead. If you need some help feel free to ping me on slack :)

[2017-09-11 20:34] ravisantoshgudimetla commented on #48147
/assign

[2017-09-11 20:49] ericchiang opened #52307 "bazel build failure: SHA of remote archive changed"
I don't see an existing issue, so opening one for tracking.

PR builds are currently failing due to the SHA of a remote archive changing.

https://github.com/kubernetes/kubernetes/pull/52299#issuecomment-328623722

...
$ sha256sum 82483596ec203eb9c1849937636f4cbed83733eb.tar.gz
27a13726ff8621cfa4592fbef116b253043c2b093c8814265dc4489a0e67d229  82483596ec203eb9c1849937636f4cbed83733eb.tar.gz

cc @ku

[2017-09-11 20:52] spxtr commented on #52307
cc @ixdy

[2017-09-11 20:54] yujuhong commented on #52303
If cluster ID is mutable, won't we need something else to indicate that the resource is managed by this particular instance of controller OR getting a list of valid cluster IDs to perform garbage collection?

[2017-09-11 20:59] ixdy commented on #52307
/assign

We can probably just bump the sha, but I'm trying to figure out what changed...

[2017-09-11 21:03] csbell commented on #52270
Waiting on https://github.com/kubernetes/kubernetes/pull/52299

[2017-09-11 21:16] lavalamp commented on #51965
cc @cheftako

[2017-09-11 21:17] lavalamp commented on #51989
cc @mml

[2017-09-11 21:17] lavalamp commented on #51989
(I owe a response here)

[2017-09-11 21:18] lavalamp commented on #51994
SGTM!

[2017-09-11 21:19] ixdy commented on #52307
I found a copy of the .tar.gz which matched the sha256sum (thanks @spxtr!)

There's no diff when I compare the extracted trees. There's also no diff if I compare the `tar tzvf` output on each.

The new and old gzip'd tarballs are slightly different sizes (old 135520 bytes, new 135557 bytes). If I ungzip them, they are the same size (921600 bytes) but they still have different sha256sums.

My best

[2017-09-11 21:20] ncdc commented on #52307
go 1.8 vs 1.9 maybe?

[2017-09-11 21:21] lavalamp commented on #52107
cc @mml

We're not convinced this is API machinery?

[2017-09-11 21:24] lavalamp commented on #52121
...are we storing the resource version in the metric *name*?

[2017-09-11 21:24] lavalamp commented on #52121
cc @mml

[2017-09-11 21:25] lavalamp commented on #52159
I don't believe this is true. The selectors are applied on the internal types, but the definition--the line that invokes them--ought to match the external types or it would be unusable.

[2017-09-11 21:25] nicksardo commented on #52303
In the normal use case, changing this value isn't something normally done after service and ingress objects have been created. Ingress has long documented that orphaning resources is the expected behavior: https://github.com/kubernetes/ingress/blob/master/controllers/gce/BETA_LIMITATIONS.md#changing-the-cluster-uid

It would be nice to handle this, but I'm more concerned about orphaning resources

[2017-09-11 21:29] MrHohn commented on #52303
cc @bowei

[2017-09-11 21:36] shyamjvs commented on #52107
Even I'm not yet sure about it. Will dig into it tomorrow.

@wojtek-t @gmarek Thanks for those useful leads.

[2017-09-11 21:43] csbell commented on #52303
Since changing the UID is central to multicluster operation, I'd argue that the controller (or at least the multicluster portion of the controller) should handle cases where the value changes as part of its lifecycle. cc @nikhiljindal

[2017-09-11 21:46] nicksardo commented on #52303
Why does multicluster operation change UIDs when ingresses and services exist?  Shouldn't it only change the UID at the start of the cluster before anything has been created?

[2017-09-11 22:13] ixdy commented on #52307
It seems like the order of some files in the tarball may have changed.

[2017-09-11 22:19] ixdy commented on #52307
Yeah, we're not alone:
https://github.com/bazelbuild/rules_go/issues/820
https://github.com/google/protobuf/issues/3619
https://github.com/bazelbuild/bazel/issues/3722
https://github.com/tensorflow/tensorflow/issues/12979

[2017-09-11 22:22] ixdy commented on #52307
I guess we should start mirroring these archives somewhere rather than depending on GitHub.

[2017-09-11 22:26] fejta-bot opened #52309 "Failure cluster [145704...] failed 196 builds, 28 jobs, and 1 tests over 1 days"
### Failure cluster [145704857a138152b65b](https://go.k8s.io/triage#145704857a138152b65b)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    28 jobs failed,    196 builds failed.
Failure stats cover 1 day time range '10 Sep 2017 21:22 UTC' to '11 Sep 2017 21:22 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 28 |

##### To

[2017-09-11 22:26] fejta-bot opened #52310 "Failure cluster [c2ae97...] failed 167 builds, 16 jobs, and 2 tests over 1 days"
### Failure cluster [c2ae972d5e26e6171fdd](https://go.k8s.io/triage#c2ae972d5e26e6171fdd)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    16 jobs failed,    167 builds failed.
Failure stats cover 1 day time range '10 Sep 2017 21:22 UTC' to '11 Sep 2017 21:22 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Pods should

[2017-09-11 22:27] MrHohn commented on #52303
Per discussion offline, we think it is reasonable for gce controller to have the expectation that cluster UID won't change (as documented). Making change on UID may result in unexpected leakage.

I'm closing this issue.

[2017-09-11 22:27] #52303 closed

[2017-09-11 22:34] yujuhong commented on #51275
That's correct. These flags do not apply to stats collection.

[2017-09-11 23:17] pnovotnak commented on #4301
I have a use case just like this one. I have a number of scientific programs that I've wrapped with code to talk to a message broker that *do not* checkpoint state. The cost of deleting the resource increases over time (some of these tasks take hours), until it completes the current unit of work. It would be fairly straightforward to add an HTTP stats server to these pods.

Choosing a pod by most

[2017-09-11 23:18] ravisantoshgudimetla commented on #51333
@jayunit100 Have you tried forceful deletion?

`kubectl delete pod <pod_name> --grace-period=0 --force`

[2017-09-11 23:24] #52307 closed

[2017-09-11 23:34] nikhiljindal opened #52315 "federation: Creating a Type LoadBalancer federated service and federated ingress can lead to resource leak"
Steps to repro:
Create a federated service of type LoadBalancer and a federated ingress and then delete them.
Expected:
All GCP resources (health checks, firewall rules, instance groups, backend service, etc) should be deleted when service and ingress are deleted.
Actual:
GCP Health check and firewall rules are leaked sometimes.

Explanation:
In kubernetes release 1.7, we [updated the service cont

[2017-09-11 23:44] nikhiljindal commented on #52315
cc @marun (current on call)
This is one of the reason why some our e2e tests are failing.
We have been leaking the resources for a long time. We ran out of quota now and hence the tests started failing.

As a short term fix, @madhusudancs is going to update his "clean leaked resources" script to clean health checks and firewall rules so that our tests dont run out of quota, but we need a proper fi

[2017-09-12 00:03] Random-Liu commented on #52032
That is not the case for image specified volumes. For image specified volume, docker creates it when creating the container, and delete it when deleting the container (Kubelet chooses to do that specifying [`RemoveVolumes`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/docker_container.go#L273))

So I believe the image volumes are still in the scope of `Local Ephemera

[2017-09-12 00:26] #52282 closed

[2017-09-12 00:26] #52286 closed

[2017-09-12 01:04] Random-Liu opened #52318 "CRI: Define the mount behavior when host path does not exist."
Currently, Docker create the host directory if the host path does not exist.

For host path, Kubelet doesn't check the host directory existence, and pass the mount to docker directly. @msau42

Given so, we should:
1) Either clearly define the expectation in CRI;
2) Or create the host directory ourselves when it doesn't exist.

/cc @yujuhong @feiskyer

[2017-09-12 01:07] smarterclayton commented on #51994
What about waiting for uninitialized resources?

[2017-09-12 01:12] smarterclayton commented on #51989
Yeah I was thinking more about the behavior of removing an initializer and cleanup.  I really expect cleaning up an initializer config to happen for me, and to furthermore cleanup any pending initializations.  It doesn't seem unreasonable for that controller to enforce a liveness guarantee on pending initializations, but to do so in a controlled manner.

We had talked about the API servers handlin

[2017-09-12 01:16] smarterclayton commented on #51989
Also, if we do want to fail open for fail closed, the hypothetical controller can perform both actions.  Alternatively, if the apiservers track this for us, the cluster is not at risk of failure if the initializations controller goes down.

[2017-09-12 01:38] dixudx commented on #51994
Just as @caesarxuchao said above, with appending `?includeUninitialized=true` as query parameter, clients can use the http Client's Timeout field if they want the behavior. Also the apiserver can safely timeout these verbs after a fixed number of seconds (currently the default is 30s).

[2017-09-12 01:38] feiskyer commented on #52318
I think kubelet should create the host directory if it is not exist.

[2017-09-12 01:42] nikhiljindal commented on #52270
Resource leak root cause: https://github.com/kubernetes/kubernetes/issues/52315

[2017-09-12 01:55] mattjmcnaughton commented on #52271
@cblecker  I'm not super unfamiliar with idiomatic `make` files, so part of this may be my misunderstanding. My assumption was `make clean` would remove artifacts that could've been created by some make command (i.e. `make bazel-build`). I wouldn't have assumed it would remove all files.

What about having a `make clean` which only removes files generated by `make` and then a `make git-clean` (or

[2017-09-12 02:02] feiskyer commented on #52318
Hmm, another problem is how to known whether hostPath is (expected) file or directory? Since it doesn't exist, we can only assume it is a directory?

[2017-09-12 02:06] msau42 commented on #52318
There is a new field in the hostpath spec, that may help:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L629

[2017-09-12 02:12] msau42 commented on #52143
Use statefulsets to have each pod use a different volume.

[2017-09-12 02:36] colemickens commented on #50150
@szarkos Are these udev rules present upstream or were they specifically only slipped into debian/ubuntu images?

Are they present in other images already? RHEL/Atomic/CentOS/etc (aka other distros that folks may want to use with Kubernetes on Azure)

I personally think it might make sense to write some Go and remove the dependency on the udev rules.

[2017-09-12 02:39] xiangpengzhao commented on #52271
Agree on `make clean` should only remove those things it created by itself (can be any make sub-commands in Makefile). It'd better not remove other files (even if they're untracked) which may be created by users or user tools. Maybe we can create a blacklist file which includes those things created by `make` and should be removed by `make clean`.

[2017-09-12 03:05] andyzhangx commented on #48395
Hi, this feature is not supported by windows container now, it depends on windows 2016 RS3 release, a PR is here: https://github.com/kubernetes/kubernetes/pull/50233

[2017-09-12 03:06] mengqiy commented on #21648
Done.

[2017-09-12 03:16] janetkuo commented on #52167
/sig cli

[2017-09-12 03:24] luckyfengyong commented on #51746
@Random-Liu Thanks for raising the issue. It also confused me.
The application I deployed requires AppArmorProfile specified as "unconfined" together with few extra capabilities. I could run "docker run --security-opt apparmor=unconfined --cap-add=SYS_ADMIN --cap-add=SYS_RESOURCE --cap-add=IPC_OWNER ..." to launch the application. However in Kuberentes, according to following doc, I have to run th

[2017-09-12 03:27] pineking opened #52323 "rpc error: code = 2 desc = failed to start sandbox container for pod "xxx": operation timeout: context deadline exceeded"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The status of pod is always  in "ContainerCreating"

[code]

**What you expected to happen**:
the pod can be created and the status should to be "Running"

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
the log of docker:

[code]
**Output of `docker info`:**
[code]

[2017-09-12 03:53] nikhiljindal commented on #52303
Yes, federation controller tries to set up the provider and cluster UIDs as soon as it starts. There is a race condition between the controller having sufficient time to set them and the user creating the resources.
For ingress, federation ingress controller has special code for waiting for provider and cluster UIDs to be setup before processing ingresses. We could do the same for federation servi

[2017-09-12 04:20] thockin commented on #4301
I still like a Probe for this.

On Mon, Sep 11, 2017 at 4:17 PM, Peter Novotnak <notifications@github.com>
wrote:

[2017-09-12 04:30] thockin commented on #20367
No merge of what?

[2017-09-12 04:45] mfaizanse commented on #52274
/sig sig/azure

[2017-09-12 04:46] mfaizanse commented on #52274
/sig scalability

[2017-09-12 04:46] mfaizanse commented on #52274
/sig azure

[2017-09-12 04:48] mfaizanse commented on #52274
/remove-sig scalability

[2017-09-12 04:49] mfaizanse commented on #52273
/sig azure

[2017-09-12 05:04] Random-Liu commented on #52318
Another thing we may want to clearly define is: If when the host path is a symlink, what is the expected behavior.

[2017-09-12 05:07] pineking commented on #45911
any updates? experiencing the same issue
[code]

[2017-09-12 05:09] msau42 commented on #52318
@Random-Liu can you clarify, when you say "host path", are you referring specifically to hostPath volumes, or to any volume plugin's host-side path that gets passed into CRI?

[2017-09-12 05:21] Miyurz opened #52326 "Specify multiple namespaces while querying the cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

**What happened**:
I want to be able to query multiple namespaces while querying the cluster just like we have the flexibility to add multiple labels to kubectl.

**What you expected to happen**:
Return resource list running in multiple namespaces

**How to reproduce it (as minimally and precisely as possible)**:

`error: invalid names

[2017-09-12 05:33] Miyurz commented on #52326
/sig kubectl

[2017-09-12 05:42] saad-ali commented on #52036
PR https://github.com/kubernetes/kubernetes/pull/52221 is also removing safety checks in order to speed up attach detach operations in edge cases. I would rather we operate slower and lean towards preventing data corruption. Optimizing this case seems counter productive to me. We should not be reducing this pain for users (we can never reduce the attach/detach to zero, and it can always take a ver

[2017-09-12 06:19] wojtek-t commented on #52107
@lavalamp - I'm not convinced. But didn't dig into that. @shyamjvs is looking into it, but based on what we told me offline, my hypothesis would be something different.

[2017-09-12 06:46] pineking commented on #52277
@Maellooou if you change the url on grafana GUI "http://monitoring-influxdb:8086" to "http://127.0.0.1:8086", and run "Save and Test", does it work?

[2017-09-12 06:48] zjj2wry commented on #43769
/assign i will take a look for this

[2017-09-12 06:57] nilsher commented on #39198
Agreed, running a ceph cluster and the ceph traffic is picked up by the pods running on the hostnetwork so get really incorrect info on how much traffic is produced by pod themself.

[2017-09-12 07:13] Random-Liu commented on #52318
I believe it's `any volume plugin's host-side path that gets passed into CRI`.

[2017-09-12 07:20] jingxu97 commented on #52036
@saad-ali The safety check removed by PR #52221 is that volume must be marked as mounted by kubelet at least once before it can be seen as unmounted by attach_detach controller. If the volume is never been marked by kubelet, attach_detach controller assumes that volume is still mounted even if node status shows that it is not. My understanding for the purpose of this check is that when the pod is

[2017-09-12 07:28] wieslaw-gat commented on #52173
This would be very useful, since the NLB docs state that:

[2017-09-12 07:36] zjj2wry commented on #38053
/assign seems we should have a flag ```--inherit``` can inherit current-context config

[2017-09-12 07:39] odacremolbap commented on #52082
closing

probably the right thing to do is not implementing `GetVolumeName` at the Flex plugin to avoid the message appearing at logs.

[2017-09-12 07:39] #52082 closed

[2017-09-12 07:49] gmarek commented on #52159
When I was playing with Events this is exactly what I found. I'll ping you PR when you can see this (when I'll get back to playing with Events).

[2017-09-12 07:54] gmarek commented on #52292
I assumed that Networking team takes over CIDR allocator. Your changes look fine. You need to be careful with parallelization, as IIRC CIDR map is not thread safe (it might have changed though).

[2017-09-12 07:58] Maellooou commented on #52277
@pineking Yes it is.

On localhost, as containers are in the same pods, it's work. But I don't clearly understand why with the service is not...

[2017-09-12 08:09] #52219 closed

[2017-09-12 08:27] jboero commented on #43400
Certified or not, if you want to play with this at your own risk the workaround is below.  Make sure to satisfy any missing dependencies manually first:

sudo dnf download kubernetes-node kubernetes
sudo rpm -ivh --nodeps kube*

Works for me.

[2017-09-12 08:33] jsravn commented on #50915
@lpabon Probably. In addition, I think nodecontroller should be using `node-startup-grace-period` here, which it isn't. The behaviour is inconsistent and confusing. It should give new nodes a chance to go ready before considering them for deletion, even if the cloudprovider says they don't exist. It's pretty edge case, but it took a while to figure out what was causing this problem.

[2017-09-12 08:45] WIZARD-CXY commented on #51950
cool

[2017-09-12 09:10] #51293 closed

[2017-09-12 09:25] pineking commented on #52277
@Maellooou experiencing the same issue. But I don't know the reason ...

[2017-09-12 09:32] chrissound commented on #33777
How do you restart the nodes? I'm using Google Cloud platform... Would I SSH into the compute instances and restart?

[2017-09-12 09:53] choury opened #52331 "kubelet failed to teardown pod network"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I get an Error log when deleting a pod:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
It seems kubelet does not think that the first deletion is successful ?

**Environment**:
- Kubernetes version (use `kubectl version`):
[cod

[2017-09-12 09:55] zjj2wry commented on #7804
relative with #38053
user want use current-context config, and just update namespace. i think this flag should be added.

[2017-09-12 09:55] zjj2wry commented on #38053
relate with #7804

[2017-09-12 10:02] choury commented on #52331
/sig node

[2017-09-12 10:04] banchee commented on #25241
So I have run into this issue, and needing to use circleCI to apply new changes to our cluster. How I got around the clusterIP issue is as follows

[code]
[code]

Then in the k8s/deployments/nginx-ingress.template.yaml I have the following - **see clusterIP key**

[code]

Then after the new files has been created from the template file, I run apply and dont get the clusterIP is immutable error.

H

[2017-09-12 10:09] choury commented on #52331
I think change [](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/cni/cni.go#L318} to

[2017-09-12 10:19] shyamjvs commented on #52284
It's once every 15s.

Yes, it's still slow. The bottleneck is not qps, but `get instance` calls to cloud-provider. I've explained it in greater detail here - https://github.com/kubernetes/kubernetes/pull/52285#issuecomment-328808398
We need to use lists instead of gets.

[2017-09-12 10:22] linhbombk commented on #40920
It is still in 1.6.9

[2017-09-12 10:44] #51791 closed

[2017-09-12 11:00] goblain commented on #52283
works fine for me on "from scratch" 1.5.2/1.6.6 1.6.6/1.6.6 also just tested on locally started v1.9.0-alpha.0.508+753e01f8f12a40

    request.go:836] Request Body: {"metadata":{"annotations":{"cluster-autoscaler.kubernetes.io/scale-down-disabled":"true"}}}

wonder how that `~1` got into your Request Body. Forgive the question but, are you certain your `/` in in fact backslash and not some differe

[2017-09-12 11:05] pegerto commented on #52172
I have observe that the issue is not in the creation, but we have, from time deletion of the symlinks.

For example, when auditing the directory we see a deletion of a log file:

[code]

When the container in the pod is running without issues:
[code]

Is possible that there is a race condition between the log rotation and the kubelet GC implementing a clean up on the symlinks:

https://github.com/

[2017-09-12 11:08] goblain commented on #52239
can it be that this was just the local echo of terminal ? avoiding `-it` could be the solution for that.

[2017-09-12 12:15] aleksandra-malinowska commented on #52283
@goblain I think so. It seems kubectl 1.7.* changes this to ~1 (which worked fine with 1.7.4, as described above.) Setting the same string as annotation key using kubectl from repo works fine. Closing it as it was probably due mismatched client/server versions.

[2017-09-12 12:15] #52283 closed

[2017-09-12 12:15] felipejfc opened #52336 "Nodes with DiskPressure=True while using low disk space/inodes"
/kind bug

**What happened**:
Kubernetes getting into state DiskPressure=True and evicting pods but I can't identify high usage of nodefs, neither disk space or inodes:

[code]

[code]

node had ~30 pods on it, 25 of them using the same image that has approximately 2GB.

**What you expected to happen**:
Node stop evicting pods.

**How to reproduce it (as minimally and precisely as possible)**:
I'v

[2017-09-12 12:17] ArunSambandam commented on #52280
I came across below link to install and configure kubelet
https://github.com/kelseyhightower/intro-to-kubernetes-workshop/blob/master/labs/install-and-configure-kubelet.md

=============================================================
bash-4.2# pwd
/scratch/athirugn/kubernetes
bash-4.2# curl -O https://storage.googleapis.com/configs.kuar.io/kubelet.service
  % Total    % Received % Xferd  Average

[2017-09-12 12:41] #52222 closed

[2017-09-12 12:49] PiotrProkop opened #52337 "Bad mount option when using emptyDir volume plugin with HugePages medium."
/kind bug

**What happened**:
When using emptyDir with hugepages medium:
[code]

I got following error in dmesg:
[code]

**What you expected to happen**:
I expected Kubernetes to mount a hugetlbfs backed volume inside pod.

**How to reproduce it (as minimally and precisely as possible)**:
Run above manifest `kube-apiserver` has to be launched with `--feature-gates="HugePages=true"` and k8s node ha

[2017-09-12 12:52] PiotrProkop commented on #52337
/sig storage

[2017-09-12 12:58] pegerto commented on #52172
This functionality is deprecated in the new versions
https://github.com/kubernetes/kubernetes/blob/9ac30e2c280f61a9629f3334f7e6e6424b7fb5f8/pkg/kubelet/kuberuntime/kuberuntime_gc.go#L337-L348

[2017-09-12 13:02] abitrolly commented on #48985
Could all [phased out milestones](https://github.com/kubernetes/kubernetes/milestones) be archived into `CHANGELOG-1.x.md` automatically during release process?

[2017-09-12 13:12] gnufied commented on #52036
Just to add my 2 cents. I have more than once gone through the code flow and again discussed same with @jsafrane and race against which the `if` check protects doesn't exist.  I wouldn't mind waiting for 6 minutes, if the check helped but as @jingxu97 points out - it doesn't.

The first thing I had to convince myself about is, a mount on node can not proceed without marking the `VolumeInUse` in `n

[2017-09-12 13:23] verb commented on #41938
/assign @verb

likely to be addressed in 1.9

[2017-09-12 13:25] aga20 commented on #46331
Hello.
As I see this is an old thread but I have a workaround for this. I want to know the root cause but in an another thread no one try to find/solve it.
Before you stop the kubelet container check the ps axuf | grep gluster command output. As you can see there are some gluster client processes. This issue can happen because when you stop the kubelet container these processes stopped but the glu

[2017-09-12 13:28] verb commented on #37838
After discussing the goals of SIG Node, the clear consensus is that the containers list in the pod spec should remain immutable. #27140 will be better addressed by kubernetes/community#649, which allows running an ephemeral debugging container in an existing pod. This will not be implemented.

[2017-09-12 13:28] #37838 closed

[2017-09-12 13:30] verb commented on #27140
/assign @verb

[2017-09-12 13:59] dixudx commented on #52326
@Miyurz Currently this is not supported, since all the resources are namspaced.

I don't think we really need this feature. @liggitt WDYT?

[2017-09-12 14:14] erikgrinaker opened #52341 "Federation: API server does not allow privileged containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Attempting to deploy a DaemonSet with `securityContext.privileged: true` in a federated cluster gives an error: `Forbidden: disallowed by cluster policy`

**What you expected to happen**:

The DaemonSet to be created.

**How to reproduce it (as minimally and precisely as possible)**:

Create a federated cluster using `ku

[2017-09-12 14:15] erikgrinaker commented on #52341
/sig federation

[2017-09-12 14:38] erikgrinaker commented on #52341
I should add that kube-apiserver has a flag `--allow-privileged`, which the federation-apiserver lacks.

[2017-09-12 14:52] dims commented on #52337
@derekwaynecarr - Could this be a differece between how page sizes are specified in RedHat vs Ubuntu?

[2017-09-12 14:56] aisengard opened #52345 "Re-run initContainers in a Deployment when containers exit on error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: Container in a Deployment exits on error, container is restarted without first re-running the initContainer.

**What you expected to happen**: Container in a Deployment exits on error, initContainer is re-run before restarting the container.

**How to reproduce it (as minimally and precisely as possible)**:

Sample sp

[2017-09-12 14:57] derekwaynecarr commented on #52337
@dims -- the mount options should be lower case per https://www.kernel.org/doc/Documentation/vm/hugetlbpage.txt

[2017-09-12 14:58] olegch opened #52346 "E2e conformance test `validates that NodeSelector is respected if matching` fails on an 1.7.5 AWS cluster with Ubuntu nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig aws testing

**What happened**:
E2e conformance test `validates that NodeSelector is respected if matching` fails on an 1.7.5 AWS cluster with a reasonable configuration.

In more details:

When kubelet registers a node on AWS (with `--provider=aws` switch) it sets node name to full private DNS name of the instance (for example `ip-172-1

[2017-09-12 14:59] derekwaynecarr commented on #52337
kind/bug
priority/important-soon

[2017-09-12 14:59] aisengard commented on #52345
/sig node

[2017-09-12 15:03] micahhausler commented on #52173
Yea I'm current working on this feature, should have a PR soon. It'll be against the 1.9 release branch/master

[2017-09-12 15:08] uthark commented on #52346
Looks like we need to add another label:

/kind e2e-test-failure

[2017-09-12 15:10] bgrant0607 commented on #17333
Declarative defaulting is relevant: #25460

The current open-coded version-specific defaults are a problem when converting the configured state, since defaults are deliberately not set in the configured state.

[2017-09-12 15:12] shyamjvs opened #52347 "Leaking node-healthcheck firewall rule"
A couple of gce-scale-performance runs failed due to failing to delete the network, which in turn was due to a couple of leaked firewall-rules (I manually deleted the network later to fix it):

[code]

Ref: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/31

cc @kubernetes/sig-network-bugs @bowei (assigning to you, feel free to reassign as a

[2017-09-12 15:16] minherz commented on #48395
thank you,

[2017-09-12 15:16] #48395 closed

[2017-09-12 15:21] #45791 closed

[2017-09-12 15:29] liggitt commented on #52326
getting individual items across multiple namespaces is unusual, and the impact of making the namespace flag inconsistent across kubectl commands doesn't seem worth it to me

cc @kubernetes/sig-cli-feature-requests

[2017-09-12 15:32] rpothier opened #52348 "NewCIDRSet should return an error when subnet size is too large"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
NewCIDRSet was updated for IPv6, and will return 0 CIDRs when the subnet mask size
minus the cluster size is greater that 16. This case should return an error

**What you expected to happen**:
NewCIDRSet should error
**How to reproduce it (as minimally and precisely as possible)**:
This can be done easily with IPv6, pass

[2017-09-12 15:32] shyamjvs commented on #52347
I digged up a bit and seems like the firewall is created by the service-controller as part of `EnsureLoadBalancer()`, which should've been deleted in `EnsureLoadBalancerDeleted()` but wasn't.
Feel free to close the bug if you think it's just a one-off failure.

[2017-09-12 15:32] rpothier commented on #52348
/assign rpother
/sig network
/area ipv6

[2017-09-12 15:33] rpothier commented on #52348
/assign rpothier

[2017-09-12 15:35] manuperera commented on #52096
@caseydavenport  ,  I think that SNAT has been made by Flannel. What do yo think?.

[2017-09-12 15:45] lindsaylandry commented on #51275
is there a way to turn this off for large images? Also is cadvisor subject to running as often as `--volume-stats-agg-period` is set?

[2017-09-12 15:46] #51629 closed

[2017-09-12 15:49] PiotrProkop commented on #52337
/kind bug
/priority important-soon

[2017-09-12 16:10] roberthbailey commented on #52068
@helphi - please reopen this issue in the [kubeadm repository](https://github.com/kubernetes/kubeadm).

[2017-09-12 16:10] #52068 closed

[2017-09-12 16:51] jfpucheu commented on #52277
Hello,
this is the solution :

https://github.com/containernetworking/cni/issues/320

if you use flannel add "hairpinMode": true in flannel config

This issue can be closed.

[2017-09-12 17:19] ConnorDoyle opened #52351 "Static CPU manager policy should release allocated CPUs when container enters "completed" phase."
/kind bug
/sig node

When the `restartStrategy` is set to `Never` and a container that was granted exclusive CPUs terminates with a normal exit status, the CPU Manager never receives a `RemoveContainer` call. Kuberuntime should be updated to invoke the container manager's `PostStopContainer` hook on detecting normal termination for these containers. This method is already idempotent since it is cu

[2017-09-12 17:19] ConnorDoyle commented on #52351
/assign @balajismaniam

[2017-09-12 17:22] brendandburns commented on #35176
Closing this as obsolete. Please re-open if it re-occurs.

[2017-09-12 17:22] #35176 closed

[2017-09-12 17:24] MrHohn commented on #52347
Took a quick look, both [32th](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/32) and [31th](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/31) runs have these firewall rules initially but [29th](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-s

[2017-09-12 17:38] AleiHanami commented on #44103
@kylefransham
got this error in k8s 1.6.4, using the [k8s-kubectl](https://hub.docker.com/r/lachlanevenson/k8s-kubectl/) image:
[code]
and I solved this by changing command to
[code]
then it works like a charm, Thank you for the solution!

[2017-09-12 17:39] ericchiang opened #52353 "[upgrade tests] GCE 1.7 upgrade tests aren't coming up"
The following upgrade tests aren't coming up and/or timing out.

https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-master
https://k8s-testgrid.appspot.com/master-upgrade#gce-1.7-master-upgrade-cluster

cc @kubernetes/sig-cluster-lifecycle-test-failures
cc @kubernetes/test-infra-maintainers
cc @kubernetes/kubernetes-release-managers
cc @mbohlool

Anyone know who owns these test

[2017-09-12 17:48] sjenning commented on #52351
Yikes, that's a fun issue.  I guess we need to listen for PLEG events?

[2017-09-12 17:50] ConnorDoyle commented on #52351
There's a spot in the kuberuntime sync where we think we can make the call.

[2017-09-12 18:06] david-mcmahon commented on #48985
@abitrolly The simpler implementation would be to just maintain CHANGELOG-1.x.md per minor release.  Less moving parts.

[2017-09-12 18:10] #52298 closed

[2017-09-12 18:10] #52337 closed

[2017-09-12 18:27] krzyzacy commented on #52181
The serial suites looks fine now.
/close

[2017-09-12 18:27] #52181 closed

[2017-09-12 18:45] lavalamp commented on #51989
@smarterclayton it sounds like you're totally on board with there *being* a limit and a clean-up controller. I guess the only disagreement is what the default value for the limit ought to be?

I think it should be short, or cluster users will have a bad experience. I'm totally fine with it being flag-controllable, so the cluster admin can increase it if they know they have a slow initializer.

I c

[2017-09-12 19:04] #47496 closed

[2017-09-12 19:32] yastij opened #52356 "clean node controller from code that supports version prior to 1.5"
As discussed on slack with @gmarek, we might want to clean the node controller from code that ensures backward compatibility for version 1.4 and earlier ones.

/sig node

[2017-09-12 19:32] yastij commented on #52356
/assign

[2017-09-12 19:59] dims commented on #20367
@YannickFricke - Just use `KUBE_BUILD_PLATFORMS="linux/amd64 linux/arm64" hack/build-cross.sh` as implemented in #46862

[2017-09-12 20:11] ixdy commented on #49673
Everything is terrible.

Now we're getting warning messages like
[code]

[2017-09-12 20:17] xrl opened #52357 "Using taints/tolerations, statefulset volume created in wrong AWS AZ"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**: I used Kops to create an instance group of size 3 with node-labels for itsecmon.purpose/itsecmon.role so I could have some dedicated resources for Elasticsearch. I created a statefulset of size 3 set to use those labels. Only 1 of the 3 pods is created, the 2nd is pending because the storage volume has been created in

[2017-09-12 20:34] xrl commented on #52357
@kubernetes/sig-storage

[2017-09-12 20:36] xrl commented on #52357
This is a known problem, but I didn't quite get what the fix would be. Since I know I am using us-west-2c, I can just create dedicated storage classes pinned there. Until this scheduling/storage bug is worked out.

My volumeClaimTemplate for the statefulset:

[code]

Then the storage class:

[code]

Hope this helps someone.

[2017-09-12 20:36] xrl commented on #52357
Admins, please feel free to close the ticket. I think this overlaps with #39178. Thanks!

[2017-09-12 20:37] derekwaynecarr commented on #52351
well, i knew i would miss something ;-)  good catch.

[2017-09-12 21:20] ConnorDoyle commented on #52351
All thanks to @balajismaniam's workload perf testing

[2017-09-12 21:34] dhawal55 commented on #50767
ok, I tested and confirm that I don't need access to `/status` subresources.

Any update on the `poddisruptionbudgets` permission? Are we adding it to built-in roles? If so, I will update the built-in roles on my cluster for now.

[2017-09-12 21:44] bsalamat commented on #52226
@MrHohn Are we passing the same set of flags that we used to pass to 1.8, to 1.7 after downgrading? This seems incorrect to me.

[2017-09-12 21:44] bowei commented on #52292
There is an internal lock on the CIDR bitmap I noticed.

[2017-09-12 21:46] xrl commented on #52357
/sig storage
/sig scheduler

[2017-09-12 21:56] MrHohn commented on #52226
@bsalamat I'm not sure how flags are being handled during downgrade, this CI job uses the build-in e2e upgrade/downgrade framework. I logged on current running instance (https://prow.k8s.io/log?job=ci-kubernetes-e2e-gci-gce-latest-downgrade-kube-proxy-ds&id=156) and will post what I observe here soon.

[2017-09-12 22:05] grebois commented on #50463
Same issue with glusterfs 3.12;

[code]

and kube 1.7.5;

[code]

Output;

[code]

[2017-09-12 22:13] MrHohn commented on #52226
Humm, seems like the flags changed a bit, but `Priority` was still passed in via `--admission-control` after downgrading master to 1.7.

On 1.8 master (note that `--advertise-address` is new):
[code]

On 1.7 master:
[code]

[2017-09-12 22:16] liggitt commented on #52226
Do admission plugins get saved in a metadata var and persisted?

[2017-09-12 22:22] mml commented on #25625
@timothysc Can I extrapolate that as of right now, no one has shown and indicate they wish to do this work?

[2017-09-12 22:28] MrHohn commented on #52226
Checked a bit, this parameter is generated based on the `ADMISSION_CONTROL` env, which is stored on gce metadata server as part of kube-envs:
https://github.com/kubernetes/kubernetes/blob/6737f505de1926fea162557fd5e38e3186e4e3e1/cluster/gce/gci/configure-helper.sh#L1341-L1342

Since we don't explicitly change `ADMISSION_CONTROL` during downgrade, the same set of admission controllers are passed in

[2017-09-12 22:29] caesarxuchao opened #52366 "Webhook admission plugin should set ServerName in its tls config"
Otherwise it's impossible for the webhook author to pre-generate a server cert. The webhook admission plugin should set the `ServerName` like the aggregator [does](https://github.com/kubernetes/kubernetes/blob/v1.9.0-alpha.0/staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go#L200).

More details: The webhook's server cert requires a SAN or a CN. It has to be a stable name so that we

[2017-09-12 22:29] caesarxuchao commented on #52366
/sig api-machinery
/kind bug

[2017-09-12 22:32] liggitt commented on #52226
Does the e2e test framework install 1.7, then upgrade, then downgrade? Or does it install 1.8, then downgrade?

[2017-09-12 22:33] MrHohn commented on #52226
It installs 1.8, then downgrade.

[2017-09-12 22:36] liggitt commented on #52226
Is that even supported? I wouldn't expect it to be.

In a real scenario, metadata should have been locked to the 1.7-set vars and the priority admission plugin would not be enabled in 1.8

Seems like the e2e upgrade tests should resemble reality more

[2017-09-12 22:37] MrHohn commented on #52226
cc @krousey

[2017-09-12 22:45] caesarxuchao opened #52368 "Adding e2e test for the admission webhook"
As a followup of https://github.com/kubernetes/kubernetes/pull/50476.

We need to test:
* the feature works
* it works in gke enviroment

[2017-09-12 22:46] cheftako opened #52369 "kube-controller-manager --cloud-provider conflates loops and plugins"
/kind bug

**What happened**: The --cloud-provider flag controls both which control loops are run and which plugin is loaded. However the volume controller loop is still being run in the kube-controller-manager. The volume controller manager needs the appropriate plugin initialized if it is going to control things like GCE Persistent Disk or AWS Elastic Block Store.

**What you expected to happen*

[2017-09-12 22:46] tallclair opened #52370 "Should be able to specific `unconfined` AppArmor profile"
**What happened**:

There is no way to disable AppArmor, short of requesting `privileged`.

**What you expected to happen**:

Specifying a profile of `unconfined` should be allowed, and disable AppArmor on the container.

**How to reproduce it (as minimally and precisely as possible)**:

Create a pod with the annotation:

[code]

[2017-09-12 22:47] tallclair commented on #51746
@luckyfengyong - Thanks for the report, that's a bug. I filed https://github.com/kubernetes/kubernetes/issues/52370 to track it.

[2017-09-12 22:47] MrHohn commented on #52226
I think It makes sense to reconstruct this downgrade job into 1.7->1.8->1.7 model. Retitled a bit.

/assign
/unassign @bsalamat

[2017-09-12 22:49] MrHohn commented on #52226
/sig testing
/remove-sig scheduling

[2017-09-12 22:51] tallclair commented on #43538
@bgrant0607 - A counter argument is that creating the PSP objects before enabling the controller can smooth the transition. Turning on the controller without creating any PSPs & bindings will prevent the creation of all pods, so we're going to recommend creating the necessary bindings first.

[2017-09-12 23:14] caesarxuchao commented on #52368
/sig apimachinery

[2017-09-12 23:31] krzyzacy commented on #52212
should be fixed after https://github.com/kubernetes/test-infra/pull/4502
/close

[2017-09-12 23:31] #52212 closed

[2017-09-13 00:14] ash2k commented on #51639
Probably caused by #49948.

[2017-09-13 00:49] yujuhong commented on #50304
This is being addressed by #52176

[2017-09-13 00:56] Techwolfy commented on #51349
I was able to work around the issue by creating the pod transparent network with `-o com.docker.network.windowsshim.dnsservers="$ClusterDNS"`. I get warnings when creating pods if I remove the `--cluster-dns` option from kubelet, but cluster DNS works fine regardless.

[2017-09-13 01:38] lichuqiang commented on #52331
I failed to see relationship between the problem and the change you mentioned above.
the log tells `cni.go:326] Got netns path /proc/16933/ns/net`, the podNetnsPath seems not empty

[2017-09-13 01:38] bgrant0607 commented on #11505
I am less keen to support autopause than I once was.

A simple alternative is to just create a separate Deployment:
https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#canary-deployments

which can be updated, checked for success or lack of progress, and rolled back independently.

As we found when trying to implement proportional scaling, it's hard to distinguish scaling

[2017-09-13 01:41] bgrant0607 commented on #49135
@kow3ns Has it been figured out how PodDisruptionBudget will be taken into account by controllers other than StatefulSet, and how its maxUnvailable specification would relate to that specified by the controller's update strategy?

[2017-09-13 01:49] choury commented on #52331
@lichuqiang  It seems that you've not read the full log.

[2017-09-13 01:54] richardalberto opened #52378 "Openstack config drive as source of truth for instance metadata"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST
/kind feature

**What happened**:
Openstack's config drive is used as source of truth for instance metadata. Config drive gets out of date pretty quick (as soon as the instance name is updated for example), this will result in an error when trying to start the kubelet service cause the name on the metadata (outdated now) won't match the

[2017-09-13 02:00] richardalberto commented on #52378
/sig openstack

[2017-09-13 02:29] liggitt commented on #52370
is a profile named "unconfined" an actual profile, or a magic value?

[2017-09-13 02:38] hzxuzhonghu commented on #52345
Good catch, When use init container to acquire certificate or token, containers may remove it after read to cache. Then containers may re-run repeatedly after once panic.

[2017-09-13 02:39] #51516 closed

[2017-09-13 02:40] #52232 closed

[2017-09-13 02:49] spiffxp commented on #52270
https://github.com/kubernetes/test-infra/pull/4533 removed pull-kubernetes-federation-e2e-gce from the list of blocking presubmits; it will still run on presubmit, but it won't block

[2017-09-13 03:02] lichuqiang commented on #52351
By the way, where is `RemoveContainer` of CPU manager called if `restartStrategy` is set to `Always` or `OnFailure`?
invoked by GC?

[2017-09-13 03:14] lichuqiang commented on #52331
Oh, I see

[2017-09-13 03:29] spiffxp commented on #51253
By the looks of test grid, it's looks like it's been failing consistently in both presubmit and postsubmit builds:
- https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-unit&sort-by-failures=&include-filter-by-regex=TestApps&include-filter-by-regex=TestApps%24
- https://k8s-testgrid.appspot.com/release-master-blocking#test-go&include-filter-by-regex=TestApps%24&width=10

The log

[2017-09-13 03:31] liuzhen9327 opened #52381 "1.7.4 version can not be used in environment variables ".""
### Environment:
[code]
### Error message：
[code]
[is not it fixed here?](https://github.com/kubernetes/kubernetes/pull/48986)

[2017-09-13 03:40] caesarxuchao commented on #51643
@sttts the master branches of each repo look good.

The release-1.8 branches have a problem. I checkout f4e3462c39a82d71201fe25287f6bb22a94e5312, (the tip of the release-1.8 branch) of sample-apiserver, then `godep restore`, then `go build ./...`, I got:

[code]
It's because the Godeps.json tracks 6e25fca7b1b23f38f8c8fc3a67c5d39d5700d9d4 of apiserver library,
![image](https://user-images.githubuse

[2017-09-13 03:46] jianglingxia commented on #51306
Does this issue refer to a scenario where if you manually create a PVC and PV beforehand, and the PVC definition is different from some of the fields in the Volumeclaimtemplate, is this a hint of error?for example:
I manually create pv  pvc
kubectl get pv
![image](https://user-images.githubusercontent.com/25783555/30358680-a3ce71c2-9878-11e7-9538-e292fc311358.png)
kubectl get pvc
![image](https://

[2017-09-13 04:46] #52300 closed

[2017-09-13 04:54] surajssd commented on #12428
@bgrant0607 @kargakis is anyone working on this? If no-one is working can I take up this one?

[2017-09-13 05:05] saiwl opened #52386 "Kubelet under MemoryPressure but there are much memory left on the node"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubectl describe node shows:
[code]
But the allocated resources show:
[code]
And some pods are evicted because of memory reclaiming.
The top shows that there is much free memory. So I can not understand why the node is under `MemoryPressure`.

I saw the following logs in kubelet's log:
[code]

**What you expected to happen

[2017-09-13 05:30] caesarxuchao commented on #51643
@piosz what are you depending on? A master branch or a release branch?

[2017-09-13 05:51] jiulongzaitian opened #52387 "whether the kube-scheduler add healthz check feature?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kube-controller-manager has default healthz check feature.  the code is:
[code]
and whether the kube-scheduler add healthz check feature?
**What you expected to happen**:
kube-scheduler add healthz check feature

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2017-09-13 05:53] jiulongzaitian commented on #52387
/sig  scheduling

[2017-09-13 06:12] thockin commented on #40920
Can you provide more repro details?

@mixia @dcbw

On Tue, Sep 12, 2017 at 3:23 AM, linhbom <notifications@github.com> wrote:

[2017-09-13 06:19] hzxuzhonghu commented on #51306
@jianglingxia Not that scenario. Here just validate pvc as creating validation

[2017-09-13 06:21] caesarxuchao commented on #51643
kube-aggregator master branch doesn't build (commit 5e91202a8adcbdc240c9f48cbf10a3c29e0acfb5)

[code]

In the Godeps.json:
[code]
The commit is from Aug.1. ([link](https://github.com/kubernetes/kube-openapi/commits/master) to kube-openapi commits). It is a bug.

[2017-09-13 06:22] liuzhen9327 commented on #52381
@k8s-merge-robot sorry，I won't add label.. can you help me?

[2017-09-13 06:27] justlooks opened #52389 ""No networks found in /etc/cni/net.d" cause master in NotReady status"
[code]
 /kind bug

hi, i build 2-node k8s cluster with kubeadm,and add network plugin "calico" on my cluster
due to kubeadm start etcd on 127.0.0.1:2379 ,calico on another node can not talk with master's etcd ,so i modified the file "/etc/kubernetes/manifests/etcd.yaml" ,it seems calico pods run no problem on cluster,but i find master on NotReady status,and "/etc/cni/net.d" is empty,is it a bug?

[2017-09-13 06:33] gyliu513 opened #52390 "Clean up history jobs for cronjob"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig apps

**What happened**:

Currently, if I was running a cronjob, then there will be quite a lot of completed jobs in my environment, and the completed jobs may impact the performance of API server.

**What you expected to happen**:
Add some parameters or annotations to define how many completed jobs can be kept in cronjob history.

[2017-09-13 06:39] caesarxuchao commented on #51643
apiserver master branch doesn't build (commit 19667a1afc13cc13930c40a20f2c12bbdcaaa246)

From a clean gopath
[code]

[code]

[2017-09-13 06:41] jianglingxia commented on #51306
thanks for your reply,and I'd like to ask you a few questions：
1、事先手动创建好pv、pvc，其中pvc的名称符合statefulset的名称匹配规则，为什么volumeclaimtemplate不再创建了呢？是不是因为存在同名的pvc？这部分代码我找了很久不清楚在哪里？
2、场景二，如果事先定义的pv pvc中capacity与volumeclaimtemplate中定义的不同，为什么也不再自动创建额外的pvc呢？还是因为重名的原因吗？谢谢您的答复！ @hzxuzhonghu

[2017-09-13 06:47] caesarxuchao commented on #51643
apiserver master branch does't build

Download every k8s.io repo, run godep restore in k8s.io/apsierver, then
[code]

It's because k8s.io/apiserver and k8s.io/kube-openapi share `github.com/emicklei/go-restful`.

After removing k8s.io/apiserver/vendor, it builds.

[2017-09-13 07:05] gnavgire opened #52391 "Kubernetes Extended Scheduler Json example incorrectly mentioned"
**BUG REPORT**:

@kubernetes/sig-scheduling
@kubernetes/sig-docs
 /kind bug

K8S Extended scheduler example provides incorrect Key for configuring Extenders:
https://github.com/kubernetes/kubernetes/blob/master/examples/scheduler-policy-config-with-extender.json mentions to configure extender by using "extenders" keyword however when configured this way the scheduler skips the extender configurati

[2017-09-13 07:07] not-dream commented on #41127
how can a cluster join in the Fedration. The cluster don't know the the ip address of the fedration.

[2017-09-13 07:16] hzxuzhonghu commented on #51306
I think u can find some clue in `pkg/controller/statefulset/stateful_pod_control.go`

By the way, better use English instead of  Chinese., Kubernetes contributors are from all over the world.

[2017-09-13 07:16] m1093782566 opened #52393 "IPVS proxier keeps updating virtual server even if no service changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

IPVS proxier keep logging the following message, that is, IPVS proxier keeps updating virtual servers even if no service changes.

[code]

PS. I added some logs to print the IPVS virtual server information.

**What you expected to happen**:

IPVS proxier should NOT update virtual server when no service changes.

**How to

[2017-09-13 07:19] m1093782566 commented on #52393
/cc @choury @Lion-Wei

[2017-09-13 07:22] hzxuzhonghu commented on #51306
Actually, It only checks name here. As you say, storage capacity and some other important fields should also be checked here.

[2017-09-13 07:29] jianglingxia commented on #51306
but another problem occurred，user maybe want Different app has different capacity,but dynamic create pvc can not Achieve，for example，log Component maybe need more capacity。

[2017-09-13 07:30] danielqsj commented on #49108
+1

[2017-09-13 07:32] dixudx commented on #52370
@liggitt Not an actual profile. It is a special profile name ( or a magic value) that means do not have AppArmor profiles loaded.

[2017-09-13 07:33] dixudx commented on #52370
@tallclair `"unconfined"` is widely used by `apparmor` and `seccomp`, shall we make it a const var?

[2017-09-13 07:33] andyzhangx opened #52396 "azuredisk CreateVolume should search storage account if no account specified"
I found there is behavior change on CreateVolume func, the original design would search storage account if not provided, while from 1.7.2 it would not, see below:
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_blobDiskController.go#L83-L128
      comments from @rootfs:
If an invalid account name is provided, this line always hits and new storage accoun

[2017-09-13 07:34] andyzhangx commented on #52396
/sig azure

[2017-09-13 07:40] ailusazh opened #52397 "Enable to remount attachable volumes after reboot the node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

/sig storage

**What happened**:
For pods that with attachable volumes on a node, after reboot the node, and if the pods are not terminated, these volumes will be in the unmounted state because the fstab information doesn't update, and the kubelet will not try to remount these volumes.

**What you expected to happen**:
After reboot the nod

[2017-09-13 07:43] saiwl commented on #52386
/sig kubelet

[2017-09-13 07:46] saiwl commented on #52386
/sig node

[2017-09-13 07:47] ailusazh commented on #52397
@kubernetes/sig-storage-bugs

[2017-09-13 07:50] bstick12 opened #52398 "Routecontroller continuously deletes and created routes"
/kind bug

**What happened**:

The `routecontroller` in the `kube-controller-manager` enters an endless cycle of creating and destroying routes.

[code]

**What you expected to happen**:

The routes are created once

**How to reproduce it (as minimally and precisely as possible)**:

Using the GCE cloud provider deploy a cluster with a number of nodes.

**Anything else we need to know?**:

**Enviro

[2017-09-13 07:59] #50818 closed

[2017-09-13 08:01] andyzhangx commented on #52396
/assign andyzhangx

[2017-09-13 08:02] andyzhangx commented on #52261
/assign andyzhangx

[2017-09-13 08:02] dixudx commented on #52397
@ailusazh Duplicate of #51982?

[2017-09-13 08:03] du2016 opened #52400 "a pod have tolerate everything can't running on the node with Noschedule taint"
**What happened**:
a pod have tolerate everything can't running on the node with Noschedule taint

**What you expected to happen**:
pod have tolerate everything can running on the  Noschedule taint
**How to reproduce it (as minimally and precisely as possible)**:
create cluster with kubeadm, default the master have a taint:
taints:
    - effect: NoSchedule
      key: node-role.kubernetes.io/master

[2017-09-13 08:05] #42289 closed

[2017-09-13 08:10] #52397 closed

[2017-09-13 08:18] hzxuzhonghu commented on #51306
If want use dynamic pvc, I think must assign PersistentVolumeClaim.Spec.Resources.Requests
you can assign storage request just as below.  But also I have never try this yet.
[code]

[2017-09-13 08:19] bstick12 commented on #52398
/area platform/gce
/sig cluster-lifecycle-bugs

[2017-09-13 08:27] pineking commented on #52323
/sig node

[2017-09-13 08:48] dixudx commented on #52381
/sig apps

@liuzhen9327 This fix is not included in `v1.7.4`, nor `v1.7.5` . Please use `master` branch for now.

[2017-09-13 08:49] wackxu opened #52405 "controller-manager can remove the healthz.DefaultHealthz()"
**Is this a BUG REPORT or FEATURE REQUEST?**:

The health endpoint is already registered in https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L204. And we can safely remove it.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[2017-09-13 08:52] pegerto commented on #50304
Really nice in deep

[2017-09-13 08:52] #50304 closed

[2017-09-13 08:54] liuzhen9327 commented on #52381
@dixudx thx! will the next version be included?

[2017-09-13 08:56] MatMaul commented on #49867
up @anguslees @dims @FengyunPan
Any feedback on that ? Shoulfd I send my PR for caching the metadatas ?

[2017-09-13 08:58] dixudx commented on #52381
Yes, will be included in release `v1.8`. You can have a try in current released `v1.8.0-beta.1`.

[2017-09-13 09:16] pci commented on #49673
Had a quick look, the change was introduced in 168.0.0.0 (although there's nothing in the release notes!). [Here are the new docs](https://cloud.google.com/sdk/gcloud/reference/topic/filters) and `:` is now only allowed an optional _trailing_ `*`. Switching to `--filter=(metadata.created-by~'.*zones(..)'` should fix it, but I won't get a chance to test until the weekend.

[2017-09-13 09:20] wackxu commented on #52405
/sig cluster-ops

[2017-09-13 09:28] RahulG115 opened #52409 "how to use variables in yaml file of kubernetes ?"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature
/app kubectl
/sig cli

[2017-09-13 09:34] liuzhen9327 commented on #52381
thx

[2017-09-13 09:41] verb commented on #50865
/assign @verb

[2017-09-13 09:43] zjj2wry opened #52410 "enhance kubectl attach command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
[code]
 First ```--pod-running-timeout```  flag work not as description, this timeout just work for have pod added or pod modify. if i use ```kubectl run test --image=unknow pod-running-timeout=20s --attach```, my pod phase will is pendding status, because my pod created, so procedure will not timeout,this is not work

[2017-09-13 09:45] zjj2wry commented on #52410
/kind bug
feature is add a flag ```pod-ready-timeout```
bug is ```--pod-running-timeout``` not work as description

[2017-09-13 10:02] gyliu513 commented on #52390
/cc @janetkuo

[2017-09-13 10:21] saiwl commented on #52386
Seems there is something wrong with kernel.
[code]

[2017-09-13 10:25] dixudx commented on #52390
@gyliu513 @janetkuo I would like to implement this.

Simply changing current `GarbageCollectionPolicy` is not working, since the cronjob is still running. And the pods are not orphan.

https://github.com/kubernetes/kubernetes/blob/be78d113b1fa40cfa17e4973d3aa1b1c2e709edd/pkg/registry/batch/cronjob/strategy.go#L40-L44

I think we could follow current [`ImageGC`](https://github.com/kubernetes/kubern

[2017-09-13 10:30] wackxu commented on #52400
@du2016 There is a superfluous words "key" in your yaml. The right yaml is as below:
[code]

[2017-09-13 10:31] verb commented on #1615
That's understandable. I was just surprised by a script that iterates and sends TERM to every pid (relevant xkcd: https://xkcd.com/1172/).

We discussed this in yesterday's sig-node meeting and agreed to implement first class support for configurable PID namespace in both v1.Pod and the CRI. I'm planning to propose a per-pod boolean setting (i.e. this pod either has a shared PID namespace or doesn

[2017-09-13 10:55] zjj2wry commented on #52410
/sig cli
assign

[2017-09-13 10:57] zjj2wry commented on #52410
@k8s-sig-cli-matainer

[2017-09-13 10:58] zjj2wry commented on #52410
cc @kubernetes/sig-cli-feature-matainer

[2017-09-13 11:02] zjj2wry commented on #52410
@kubernetes/sig-cli-feature-requests

[2017-09-13 11:02] zjj2wry commented on #52410
self /assign

[2017-09-13 11:16] pineking opened #52412 "support GPU Resource reserved for each user/namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What you expected to happen**:
Support GPU reserved for each user/namespace, for example, if we can reserve 2 GPUs for each user, the user can use 2 GPUs at any time without pending or waiting for the GPU resources to free.

[2017-09-13 11:17] pineking commented on #52412
/sig node

[2017-09-13 11:17] pineking commented on #52412
@vishh @cmluciano

[2017-09-13 11:50] mfaizanse opened #52419 "Symlink for ca.crt & token files are broken on windows containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
I am trying to deploy prometheus on windows container inside a pod. I was getting the error that it cannot read the ca.crt and token files placed by kubernetes at 'C:\var\run\secrets\kubernetes.io\serviceaccount'. Detailed error is:
![image](https://user-images.githubusercontent.com/9897945/30375086-b5b269a2-98

[2017-09-13 11:52] mfaizanse commented on #52274
closing in favor of #52419 .
https://github.com/kubernetes/kubernetes/issues/52419

[2017-09-13 11:52] #52274 closed

[2017-09-13 11:52] mfaizanse commented on #52273
closing in favor of https://github.com/kubernetes/kubernetes/issues/52419

[2017-09-13 11:52] #52273 closed

[2017-09-13 11:56] mfaizanse commented on #52419
/sig azure
/area platform/azure
@colemickens See if this issue is due in azure container service.

[2017-09-13 12:04] piosz commented on #51643
@caesarxuchao master branch is fine. Anything that includes https://github.com/kubernetes/kubernetes/pull/51653

[2017-09-13 12:07] ibotty commented on #1615
I have an application that needs ephemeral host local storage (it uses emptyDir) with that need.

There are three containers in the pod that would like to communicate via signals to each other (but don't, because of that issue here) (running as random uid) and one container running openssh (as uid=0). openssh and the other containers only share a mount point, nothing else. It would be a security r

[2017-09-13 12:15] koko990 opened #52423 ""cannot join network of a non running container""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
after setup CNI plugins calico, kubelet could create pods, it is shown
[code]
the pod of caclico is run  and logs has no error, The routing looks no wrong
[code]
[code]
the kubelet logs have some error
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2017-09-13 12:17] rootfs commented on #52396
/sig storage

[2017-09-13 12:21] dims commented on #49867
@MatMaul yes, please send the PR for caching the metadata, will help with the discussion i think

[2017-09-13 12:21] aleksandra-malinowska opened #52425 "Remove Stackdriver logging test from presubmits"
This test is running as part of pull-kubernetes-e2e-gce-bazel suite and flaking:
https://github.com/kubernetes/kubernetes/blob/991afb24367d9aeaf4f1dbfc15a6d5422cda6786/test/e2e/instrumentation/logging/stackdrvier/basic.go#L39
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-bazel

Can we please remove it from presubmits? It depends on Stackdriv

[2017-09-13 12:25] darktall commented on #44518
I am facing same issue.

kubernetes version 1.5.6

docker info
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 49
Server Version: 1.12.6
Storage Driver: overlay
 Backing Filesystem: extfs
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host null overlay
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Security Options: seccomp selinux
Kernel

[2017-09-13 12:27] crassirostris commented on #52425
Could you please provide examples? Most of the flakes I know of are due to the test infra not applying correct permissions in all projects. Stackdriver endpoints are pretty available, especially considering the retry logic

/cc @krzyzacy

[2017-09-13 12:40] aleksandra-malinowska commented on #52425
You're right, I'm not certain if it's due to Stackdriver not being available. It looks like a flake as the pr was unrelated, but all recent runs fail with the same error:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-bazel/16048/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-e2e-gce-bazel/1606

[2017-09-13 12:41] verb commented on #1615
@ibotty maybe it is, let's see what the others thing. Would it be sufficient for security to drop CAP_KILL in the openssh container so sshd could see the processes but not signal them?

The only prior art I see is host pid namespace, which is configurable per-pod rather than per-container.

[2017-09-13 12:44] crassirostris commented on #52425
Hm, that's interesting, 100k chars line is split into smaller chunks on export. That is something broken in the logging mechanism, I'll take a look later. Meanwhile, pull-kubernetes-e2e-gce-bazel is non-blocking, so you can merge PRs even when it's failing

/cc @Random-Liu @dashpole

[2017-09-13 12:44] flaviamissi commented on #33777
I had the same problem today (on GKE), restarted my nodes from the console interface, when they came back online I re-deployed everything and it works now.

[2017-09-13 12:51] piosz commented on #52425
@crassirostris I think we should not run this test in any non SD specific suites.

[2017-09-13 12:56] seh commented on #50767
I have not yet posted a patch that would do so. My intention with filing this issue first was to judge the likelihood of such a patch being accepted. @liggitt, can you share your opinion on the goal? Obviously it's possible to implement it poorly, but we can work through that in code review.

[2017-09-13 12:59] crassirostris commented on #52425
@piosz I will move several most risky tests to a separate suite later, but for now it's a real bug that has to be addressed

[2017-09-13 13:04] roffe commented on #48924
Same phenomen as @chen-anders using image gcr.io/google_containers/hyperkube-amd64:v1.7.5

[2017-09-13 13:04] piosz commented on #52425
@crassirostris thanks

[2017-09-13 13:06] smarterclayton commented on #1615
We're right in the middle on "per container vs per pod" and
historically leaned slightly towards per pod.

However, I think sophisticated pod users *have* leveraged the
distinctions we allow per container (and in my mind, correctly).  We
created pods to decomplicate single machine scheduling and to address
usecases that required close, but not tight coupling between them.
Anyone who needs tight co

[2017-09-13 13:17] crassirostris commented on #49653
@loburm will help with this, thanks!

[2017-09-13 13:41] andrewsykim commented on #25908
By nature of how Pods are designed this seems like a very common use-case. @soltysh @erictune any plans to work on this soon? Glad to help where possible :)

[2017-09-13 13:43] ibotty commented on #1615
@verb I guess so, but that still has to be per-container (because the others need it). I don't care for the information leak in _that_ case (`ps e` will contain any environment secrets!), but I can't claim I understand every attack vector that pid sharing allows.

[2017-09-13 13:52] dcbw commented on #47265
FWIW, the linked PR does not use the suggested approach, because events are not persistent and get cleared after a while, meaning the historical pod IP would be lost.

[2017-09-13 13:52] #52122 closed

[2017-09-13 14:04] chrissound commented on #33777
@flaviamissi I've found the high cpu instances to work better.

[2017-09-13 14:12] phsiao commented on #42542
Would love to see the options passing supported.   It is important in our environment to be able to configure timeout, attempts, and rotate in addition to ndots so our redundant resolvers can be used properly.

[2017-09-13 14:33] koko990 commented on #52423
/sig network

[2017-09-13 14:40] shyamjvs commented on #52347
I think it wasn't caused by this job. We're running this one ([gce-scale-performance](https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-performance)) and [gce-scale-correctness](https://k8s-testgrid.appspot.com/google-gce-scale#gce-scale-correctness) on alternating days in the project. And they both create clusters (network, etc) with the same name. And I think [run-12](https://k8s-guber

[2017-09-13 15:07] ironcladlou opened #52428 "Refactor kube-scheduler configuration"
The kube-scheduler configuration API and CLI should be refactored according to the guidelines established in https://github.com/kubernetes/kubernetes/issues/32215 and as part of the broader goals outlined in https://github.com/kubernetes/features/issues/115.

The scope of this issue is to deprecate all kube-scheduler flags except one new flag, `--config`, which specifies the location of a serializ

[2017-09-13 15:30] verb commented on #45922
/assign @aaron-prindle

[2017-09-13 15:31] ncdc commented on #52428
Since you're working on it...
/assign @ironcladlou

[2017-09-13 15:32] verb commented on #45922
@aaron-prindle is interested in working on this.

/assign @verb

[2017-09-13 15:36] xiangpengzhao commented on #52391
cc @guangxuli

[2017-09-13 15:37] xiangpengzhao commented on #52391
/sig scheduling

[2017-09-13 15:41] timothysc commented on #52428
/cc @bsalamat

[2017-09-13 15:49] luxas commented on #20367
I think we should close this (and should have long ago)
The default build is the "fastbuild" which is only for amd64 or host platform.
If you do `make release`, then it indeeds builds everything, as should be

[2017-09-13 15:58] shyamjvs commented on #52107
To experiment I increased the node size and the resource usage seems much better now:

With g1-small:

[code]

With n1-standard-1:

[code]

Increasing the node memory reduced kubelet's oom-killings (we were earlier seeing them e.g for event-exporter and kube-proxy (https://github.com/kubernetes/kubernetes/issues/52107#issuecomment-327916932)). And oom-killings on nodes generate a tremendous amount

[2017-09-13 16:09] tvalentyn commented on #5607
Is it right that we will be able to mount nvidia devices to containers in 1.8 with
https://github.com/kubernetes/kubernetes/pull/46597 ? If not what is the status?

[2017-09-13 16:16] danehans opened #52429 "Add Conntrack Unit Test Coverage"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

See https://github.com/kubernetes/kubernetes/pull/52028 for details of what is required.

/area ipv6
/sig network

[2017-09-13 16:17] danehans commented on #52429
xref: https://github.com/kubernetes/kubernetes/pull/48551

[2017-09-13 16:22] heckj opened #52430 "Broken link in kubernetes/kubernetes github wiki page"
/kind bug

**What happened**:

Under the subject *Why can't my containers find the service they need to connect to?*, on the wiki page on github at https://github.com/kubernetes/kubernetes/wiki/User-FAQ there's a link that reads *environment variable names* that points to the old location for Kubernetes on github: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md#how-d

[2017-09-13 16:35] nicksardo commented on #51714
I see the last test on 09/09 failed, but I can't see the build log due to exceeding memory. Any other way I can see the log, @shyamjvs?

/reopen

[2017-09-13 16:40] nicksardo commented on #51714
nevermind - went directly to raw log.

[2017-09-13 16:54] lichuqiang commented on #52351
Hi, @ConnorDoyle Besides, I wonder do we have a mechanism to recover things in state of CPU manager when kubelet restarts?
Here I have a trial, seems it doesn't work as expected, that is:
1. I added a few logs before and after the action of addcontainer and removecontainer in policy, to see the content of state:
2. created a pod that declares an exclusive CPU, and saw logs:
`I0913 16:26:13.006154

[2017-09-13 17:02] ericchiang opened #52433 "[e2e failure] Cluster level logging implemented by Stackdriver should ingest logs"
@kubernetes/sig-instrumentation-test-failures
@kubernetes/kubernetes-release-managers

test has started to fail on a several e2e tests:

https://k8s-testgrid.appspot.com/release-master-blocking#gci-gce
https://k8s-testgrid.appspot.com/release-master-blocking#gke

Example failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/14136

[code]

https://github

[2017-09-13 17:05] adrianchifor opened #52434 "kubectl 1.7+ fails to get rollout history for any deployment on older clusters."
kubectl 1.7+ fails to get the rollout history for any deployment on our 1.5.7 cluster. However kubectl 1.5.7 works just fine.

We are using kubectl 1.7+ because any version below 1.7 appears to not preserve the order of environment variables when applying templates (issue #47248).

/kind bug

**What happened**:
`kubectl rollout history deployment/x` (Using 1.7.5)

[code]

**What you expected to ha

[2017-09-13 17:09] adrianchifor commented on #52434
/sig cli

[2017-09-13 17:10] yujuhong commented on #44518
Check the task limit for the kubelet service. They may not be sufficient.
[code]

[2017-09-13 17:17] msau42 commented on #51982
/cc @kubernetes/sig-storage-bugs

[2017-09-13 17:20] crassirostris commented on #52425
Closing in favor of https://github.com/kubernetes/kubernetes/issues/52433

[2017-09-13 17:20] #52425 closed

[2017-09-13 17:20] crassirostris commented on #52433
100k chars line is split into smaller chunks on export. There's something broken in the logging mechanism

/cc @Random-Liu @dashpole

[2017-09-13 17:24] mengqiy commented on #29679
@zjj2wry Great! Thank you!
I updated the table :)

[2017-09-13 17:25] dchen1107 commented on #52107
OOM events from node generated by NPD: https://github.com/kubernetes/kubernetes/issues/47899#issuecomment-310468114

[2017-09-13 17:33] heckj commented on #52430
@kubernetes/sig-docs - found this while traversing from the kubernetes.io docs to the "User FAQ", which is apparently in the github wiki pages for kubernetes/kubernetes.

[2017-09-13 17:34] jingxu97 commented on #51835
@igorleao As the log shows that the volume manager failed to remove the secrete directory because device is busy.
Could you please check whether the directory  /var/lib/kubelet/pods/GUID/volumes/kubernetes.io~secret/token-key is still mounted or not? Thanks!