[2017-04-22 18:23] davidopp commented on #4301
Copying a comment from @jbeda :

[code]

[2017-04-22 18:27] fejta commented on #44647
See previous reply about ownership.

[2017-04-22 19:08] vsimon opened #44802 "kube-up.sh broken in v1.7.0-alpha.2 release?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):   kube-up-.sh

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG RE

[2017-04-22 19:17] todd-dsm opened #44803 "Update Documentation: include bash-completion@2"
The web and `kubectl completion -h` instructions for [Installing and Setting Up kubectl] need a slight tuneup. The homebrew instructions should reflect a few different options for Bash on macOS.
1. **bash-completion** is for Bash 3.2 (macOS default), and
2. **bash-completion@2** is for Bash 4.1+ (upgraded GNU Bash)

I lost an hour of my life to this; I hope this helps others.

**What happened**:
B

[2017-04-22 19:54] chrislovecnm commented on #30338
@freehan that url does not exist :(

[2017-04-22 20:17] murali-reddy commented on #17470
I have been testing IPVS based service proxy solution in Kube-router [1] for Kubernetes last couple of days. Here are my observations.

There are couple of conflicting requirements. First, it seems hard to use direct routing. We need assign VIP (cluster IP/node IP) to the pods and pods across the nodes and nodes should be same L2 domain, as MAC rewrite is done and need to be sent directly to the p

[2017-04-22 20:29] madhusudancs commented on #44749
Fixed in #44751.

[2017-04-22 20:29] #44749 closed

[2017-04-22 20:31] murali-reddy commented on #44063
@haibinxie How is the reverse path traffic from pod to client is handled? Do you use SNAT? I had some challenges to getting IPVS service proxy to work with network policies. Pleasee see my observations in #17470

[2017-04-22 21:01] xiangpengzhao commented on #44759
Follow this: https://kubernetes.io/docs/concepts/configuration/secret/

[2017-04-22 21:43] aespinosa commented on #42735
Thanks for the help @freehan . I figured out that my problem from the controller-manager's logs. It was saying it can't update route tables because of duplicate matching route tables when querying AWS.

[2017-04-22 21:57] smarterclayton commented on #4301
Should cost be on the pod or on the disruption budget?  Is this
something that scales better not on pod?

[2017-04-22 22:22] davidopp commented on #4301
I think it needs to be on pod, because the point is to say which pod of the set should be removed when there is a scale-down. All pods of a set would usually have the same PDB, so I don't think setting it in the PDB would work. (Unless you were planning to distinguish the pods somehow within the PDB?)

BTW some examples of this feature:

* Run-to-completion computation composed of multiple workers

[2017-04-22 23:15] vsimon commented on #44802
From the looks of it, a fix https://github.com/kubernetes/kubernetes/pull/44687 went in after alpha.2 was cut.

[2017-04-22 23:39] shiywang commented on #44800
/assign

[2017-04-23 00:29] f-w commented on #43350
@smarterclayton, customizing terminationGracePeriodSeconds  and preStop works like a charm.

[2017-04-23 00:31] quinton-hoole commented on #44647
I think you misunderstood my question about OWNERS. The main kubernetes
repo has an OWNERS file in every directory, which specifies who has to
review and approve changes to files in that directory. You are saying that
people have added redundant, useless and otherwise bad test suites. If so,
who reviewed and approved those additions.  If you follow my suggestion
above, and e.g. add yourself as a r

[2017-04-23 01:08] xiangpengzhao commented on #43119
Since `Controllers:` has already been modified to `Controlled By:`, it's okay to close this issue.
cc @zouyee @adohe

[2017-04-23 01:55] xiangpengzhao commented on #43046
A preStop hook might help for scaling down.

[2017-04-23 02:28] gyliu513 commented on #43046
Does there are any reference that I can take for the `preStop` hook? @xiangpengzhao

[2017-04-23 02:58] frankgreco commented on #38117
@adohe Does the project need/want help implementing this or is it actively being worked on?

[2017-04-23 03:08] shiywang commented on #44800
For `allowEmptySelector == true` like  `get` `describe` it will never goes that `resource(s) were provided, but... ` prompt.
For `allowEmptySeclector == o.all` or `allowEmptySeclector == flase` or similair, we add a new builder function to check if this command support `--all` flag, then add a bool var `selectAllFlagEnable`
@kargakis @kubernetes/sig-cli-feature-requests wdyt ?

[2017-04-23 03:24] frankgreco commented on #28007
@maciaszczykm any update on this

[2017-04-23 03:43] xiangpengzhao commented on #43046
@gyliu513 See https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-details

[2017-04-23 04:11] thockin commented on #44063
If you pass the existing e2e tests, you're doing pretty well.

[2017-04-23 05:18] thockin commented on #36770
I have been having a chat with @caesarxuchao about this - you simply can not `godep restore` and expect it to work reliably unless GOPATH is empty.  I think we should kick the staging scripts out of the update-all...

[2017-04-23 05:19] caesarxuchao opened #44807 "Deprecate NodeLegacyHostIP in 1.7"
Finish the remaining work of https://github.com/kubernetes/kubernetes/pull/36095.

#36095 made sure all cloudproviders set at least one of NodeInternalIP or NodeExternalIP, so none of them rely on NodeLegacyHostIP. Because we only support version skew less than 2 minor between master and node, we can remove the NodeLegacyHostIP field now.

@NickrenREN is interested to work on this.

cc @liggitt wh

[2017-04-23 05:24] thockin commented on #43319
Agree - we must not infer a default scalar (NB it's not "units" per se, it's just an exponent).

[2017-04-23 05:24] #43319 closed

[2017-04-23 05:29] caesarxuchao commented on #36770
I don't have a good solution to make `godep restore` work reliably in every environment. I think as a compromise, we can remove the two staging scripts out of the update-all, and only notify people to run them if verify-all fails. We can put more detailed instruction in the verify-all failure messages.

`hack/update-staging-client-go.sh` and `hack/update-staging-godeps.sh` are the two scripts that

[2017-04-23 05:32] gytisgreitai commented on #43516
Happens to me also. Just launched a test cluster on GKE with three nodes, and nodes just stop responding in random order. It seems that node machines are down, cause I cannot ssh ino them.

So yeasterday around 22:37 node ,gke-dev-default-pool-efca0068-4qq1 went away
[code]
[code]

So i left it as is to see if it will recover (this is the second time in 24 hours that this same node goes down).

An

[2017-04-23 05:42] rata commented on #43046
@gyliu513 you might be failing to answer in flight requests. Using a pre-stop hook, as @xialonglee suggested, can help. For example, in pods that have nginx I have:

[code]

That command tells nginx to stop accepting new requests and finish in-flight request procesing and then just stop.

Something like this might do the trick

[2017-04-23 06:16] gyliu513 commented on #43046
Thanks @rata and @xiangpengzhao , this can help for my question.

[2017-04-23 06:16] #43046 closed

[2017-04-23 07:12] hayesgm commented on #26508
Just as a note, I wanted to have both a headless service and a `NodePort` service (for an ingress). The obvious answer here was to create two services with the same selector and different types.

[2017-04-23 07:21] ppawiggers commented on #38075
+1

Removing `users[].user.auth-provider.config` helped, thanks.

[2017-04-23 07:56] zjleon commented on #16836
in my case, update the kubernetes node to 1.6.1 resolve this issue

[2017-04-23 08:20] alikhajeh1 commented on #28454
@humblec / @wattsteve just trying to understand how the flow would work... so that would enable users to create a PVC with their own encryption key (stored in a secret?) and have the PV dynamically create the encrypted volume? Would the secret then need to be mounted in the deploymentconfig to enable the PVC to be used?

[2017-04-23 09:17] greatbsky commented on #44723
In my environment v1.6.2, any hosts can not be resolved after kube-dns is up successfully until execute command

`kubectl config set-credentials admin --client-certificate=/var/run/kubernetes/kubelet.crt --embed-certs=true --client-key=/var/run/kubernetes/kubelet.key`

[2017-04-23 09:21] mohamed-eldafrawi opened #44811 "kernel panic when building etcd docker image."
**BUG REPORT**

**Kubernetes version**:

Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**: Linux
- **Cloud provider or hardware configuration**: libvirt VM
- **OS** : Ubuntu 16.04.2 LTS
- **

[2017-04-23 09:52] likunbyl commented on #44758
Ok, since my node has been registered before, taint can't be registered again. After I deleted this node from cluster, then restarted the node, taint added successfully. thank everyone.

[2017-04-23 09:52] #44758 closed

[2017-04-23 11:03] drora commented on #24862
Hi guys,
adding reload_connections true to td-agent.conf didn't help.
fluentd stopped shipping logs to aws-es-service via aws-proxy after a day, restarted fluentd and logs came back in. it will stop logging again soon enough.
IMHO this problem is still very much alive.

[2017-04-23 11:33] NickrenREN commented on #44807
Thanks @caesarxuchao , i will send a pr to do it

[2017-04-23 11:52] nvartolomei opened #44812 "Print pod name in kubectl logs when using label selector"
Add `kubectl logs` flag to include pod name on each line in log output. Similar to `docker-compose logs`. Ideally behind a flag.

<img width="1130" src="https://cloud.githubusercontent.com/assets/543193/25313290/5dc6c3e6-2834-11e7-880e-3e0bf902a533.png">

[2017-04-23 13:25] pmcgrath opened #44815 "configmap file mount path results in command not found error"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): command not found configmap kubernetes

---

**Is this a BUG REPORT or FEATURE REQUES

[2017-04-23 14:38] fanhaozzu opened #44816 "firewalld.service is dead, but the iptables rules work，that's why?"
os:  centos7

systemctl status firewalld：
 ●firewalld.service - firewalld - dynamic firewall daemon
Loaded: loaded (/usr/lib/systemd/system/firewalld.service; disabled; vendor preset: enabled)
Active: inactive (dead)
systemctl status iptables:
 ●iptables.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)

But I find the iptables rules works, That's why? who

[2017-04-23 15:08] kargakis commented on #36770
+1 - please kick it out otherwise it will be broken for most devs.

On Sun, Apr 23, 2017 at 7:18 AM, Tim Hockin <notifications@github.com>
wrote:

[2017-04-23 15:18] thockin commented on #36770
Chao, can you send a PR?

On Apr 23, 2017 8:08 AM, "Michail Kargakis" <notifications@github.com>
wrote:

[2017-04-23 15:19] kargakis commented on #43350
It would  be great to get this documented:
https://github.com/kubernetes/kubernetes.github.io/issues/3502

On Sun, Apr 23, 2017 at 2:29 AM, Fred <notifications@github.com> wrote:

[2017-04-23 15:41] xiangpengzhao commented on #42377
This is not a k8s bug. Your container `ubuntu-14.04-oracle-java-1.7` `exited (1) about a minute ago` means it exited with failure. You should check `docker logs b708ebc0ebcb` to find out the reason why it failed.

[2017-04-23 15:45] kargakis commented on #41898
@fejta https://github.com/kubernetes/kubernetes/pull/44688 should fix this issue

[2017-04-23 15:50] kargakis commented on #16871
Shouldn't be a problem anymore - all of the controllers are using shared
informers and the node informer should relist every 12h-24h

On Sat, Apr 22, 2017 at 1:12 AM, David Oppenheimer <notifications@github.com

[2017-04-23 16:10] kargakis commented on #14512
@dhilipkumars deferContainers are executed in the pod level and are equivalent to post-hooks. This issue is about hooks at the deployment level and it includes other types of hooks too (pre, mid).

[2017-04-23 16:12] k8s-merge-robot opened #44819 "TestTokenCreation {serviceaccount}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5034/
Failed: TestTokenCreation {serviceaccount}

[code]

[2017-04-23 16:15] kargakis commented on #44812
@kubernetes/sig-cli-feature-requests @kubernetes/sig-api-machinery-misc

[2017-04-23 16:17] kargakis commented on #38075
@kubernetes/sig-cli-bugs

[2017-04-23 16:19] #43119 closed

[2017-04-23 16:20] kargakis commented on #44144
Still needs to be fixed for ReplicaSets and Jobs

[2017-04-23 17:18] lukaszo commented on #44144
@kargakis I added check to method `claimObject` which is used by `claimPods` and `ClaimReplicaSets` so I think only jobs are left

[2017-04-23 17:22] lukaszo commented on #44144
Hmm, job controller is also using `ClaimPods` am I missing something?

[2017-04-23 18:16] foxish commented on #42433
I observed the same issue with a daemonset that requested too many resources; which wasn't a critical/system/static pod. This was on Kubernetes 1.7.0-alpha.1.

[code]

[code]

[2017-04-23 18:18] multi-io opened #44820 "ability to schedule resource installations without a running cluster"
I'd like to have a documented way to schedule the installation or configuration of arbitrary  resources in a K8s cluster without the API being available, conceptually similar to the kubelet `--pod-manifest-path` (`/etc/kubernetes/manifests`), but not restricted to just pods or just a specific node.

This would useful e.g. during an automated/CM cluster setup, where the API comes up asynchronously

[2017-04-23 18:47] davidopp commented on #42433
@foxish can you paste the full DaemonSet YAML (I didn't see any resource request in what you pasted) and if possible "kubectl describe node xxx" from one of the nodes that it tried scheduling this onto?

[2017-04-23 18:50] davidopp commented on #42433
Also, anything from controllermanager logs coming from daemoncontroller

[2017-04-23 18:56] davidopp commented on #42433
If the bug is easily reproducible and we can't get enough info from the existing logs we can add some additional logging to nodeShouldRunDaemonPod() and Predicates() in daemoncontroller.go to figure out what's going on.

[2017-04-23 19:04] liggitt commented on #44820
I don't think we want to increase the number of paths speaking directly to etcd. Looping and waiting for the API seems like a reasonable approach.

[2017-04-23 19:22] smarterclayton commented on #44812
Is there a capsule design for label selected pods for logs?

[2017-04-23 19:29] Dm3Ch opened #44821 "Error volumeclaim is not bound, but it actually bound (rbd storageclass)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
 volumeclaim is not bound

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2017-04-23 20:22] thockin commented on #34982
@kubernetes/sig-storage-bugs because volume

@kubernetes/sig-node-bugs because kubelet

This is probably straight-forward, just needs someone to look at it.

[2017-04-23 20:48] thockin commented on #44791
Is there a "reasonable" amount of time to wait for an NS?  Default is 5 minutes.

[2017-04-23 20:51] liggitt commented on #44791
For everything but pods (which can hang waiting for graceful deletion), cleanup should be *very* quick (limited only by load and API QPS throttling by the namespace controller). I'd expect on the order of single digit seconds. Do we know what non-pod resources still exist in these namespaces the test is complaining about?

[2017-04-23 20:59] thockin commented on #43799
There's simply not enough information here to even start to debug.

Clearly, it's not systemic since it works in e2e and ~everywhere else that is established.  So it must be some local configuration issue.  I don't know what cloud you're on, what sort of network you are using, overlays, underlays, CNI, kubenet, etc.

Can you confirm that any pod on machineA can ping any pod on machineB?  That's th

[2017-04-23 20:59] #43799 closed

[2017-04-23 21:13] benjigoldberg opened #44822 "x.509 Issues with kube-apiserver with saltbase installation on v1.6.2"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-23 21:14] pires commented on #32543
What's the status of this proposal?

[2017-04-23 21:32] remonlam commented on #44816
Because iptables can run without firewalld.
`systemctl status iptables`

[2017-04-23 23:13] smarterclayton commented on #43112
Long delay in responding (sorry), but we don't do anything today - it's
possible to crib something together, but I think we do need more glue out
there.  Changing config still feels too hard.

On Tue, Mar 21, 2017 at 2:37 AM, Brian Grant <notifications@github.com>
wrote:

[2017-04-23 23:14] smarterclayton commented on #40968
I think config `use-ns` is pretty clearly consistent with our other config commands.

[2017-04-23 23:17] smarterclayton commented on #34363
My point on observedGeneration was that something like "activeGeneration"
or "realizedGeneration" is something that most controllers actually know,
but users have to create their own logic.  In a sense - a deployment being
"at" a certain state is the level driven behavior that clients are
attempting to achieve.  observedGeneration is useful, but not sufficient.

On Mon, Nov 28, 2016 at 1:10 PM, Br

[2017-04-23 23:51] kargakis commented on #44144
What is the cronjob controller using?

[2017-04-24 01:02] smarterclayton commented on #39434
We'd need to get a proposal together quickly for 1.7, but it may be
possible.  To do this we'll need a backwards compatible way that a client
can request a more strict validation on create, update, and patch, and it
will need to be opt-in.

On Tue, Apr 18, 2017 at 8:48 AM, TonyAdo <notifications@github.com> wrote:

[2017-04-24 01:07] shiywang commented on #40968
/assign

[2017-04-24 02:00] dunjut commented on #44702
@freehan `kube-proxy-k8s-2` runs on node with two NICs, `eth0` for NAT (which is where ip 10.0.2.15 come from) and `eth1` for host-only network.

[2017-04-24 03:02] cblecker commented on #36770
cc: @kubernetes/sig-contributor-experience-misc

[2017-04-24 03:13] fanhaozzu commented on #44816
systemctl status iptables:

 iptables.service
   Loaded: not-found (Reason: No such file or directory)
   Active: inactive (dead)
@remonlam

[2017-04-24 04:00] pmorie opened #44832 "kubectl get -o name doesn't show resource name information for generic resources"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`kubectl get`
`-o name`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one)

[2017-04-24 04:14] ajayapte opened #44833 "nslookup not working with flannel as network: nameserver 10.96.0.10"
My issue is that nslookup via busybox always shows nameserver as 10.96.0.10.  That's what busybox resolve.conf has.  I am not even running my pods on 10.* cidr.  The 10.* range is used by my kub nodes provisioned in the cloud.  Any nslookup from busybox fails and as expected any nslookup from any pod fails with same error.  I'm wondering where this 10.96.0.10 is coming from.

root@2kub-0:~/install

[2017-04-24 04:33] davidopp commented on #39982
ref/ https://github.com/kubernetes/community/pull/344

[2017-04-24 04:37] #33884 closed

[2017-04-24 06:01] weiwei04 opened #44834 "k8s v1.6 GPU not isolated"
I use k8s v1.6 try to run some GPU workloads, my test yaml file request 1 GPU device, but in the container, I can see all 8 GPU devices.

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"g

[2017-04-24 06:23] nikhiljindal commented on #44743
Yes you are right. I still need to grant access to the service account after creating it. I assumed creating an SA in a namespace gives that SA access to the namespace it is in by default. But as you said thats not true.

[2017-04-24 06:43] anguslees opened #44835 "In-cluster namespace for kubectl cannot be overridden by metadata.namespace in JSON"
This is similar to #43662, but that report (and fix) focussed on the in-cluster namespace vs configured .kube/config context namespace.  I have a similar issue with the in-cluster namespace vs an explicit `metadata.namespace` in the JSON/YAML file I'm passing to `kubectl create -f`

When run in-cluster, `kubectl` 1.5+ (including 1.6.0) refuses to allow me to create a resource in another namespace

[2017-04-24 06:44] NickrenREN commented on #44792
Seems 5 min is not enough.

I0421 01:37:23.020] Apr 21 01:36:20.788: INFO: Waiting for pod pvc-tester-j4vvg in namespace 'e2e-tests-pv-9ts71' status to be 'success or failure'(found phase: "Pending", readiness: false) (4m55.833391946s elapsed)
I0421 01:37:23.020] Apr 21 01:36:22.813: INFO: Waiting for pod pvc-tester-j4vvg in namespace 'e2e-tests-pv-9ts71' status to be 'success or failure'(found ph

[2017-04-24 07:15] jingxu97 commented on #43977
After checking the log, there is something wrong at the node side when reconciler tries to unmount the device (global mount path) because there are still some references to the mount. But unmounting local mount point is successfully. Need to investigate more about this issue.

[2017-04-24 07:19] shashidharatd commented on #44402
The difference between a `regular build job` and a `federation build job` is that federation additionally pushes the hyperkube image to registry after the release tar is uploaded to GCS.
Now if we introduce pushing the image to registry in all regular build, it would be an overhead for those builds. all the problems associated with building hyperkube image will start showing up in all build jobs.

[2017-04-24 07:21] shashidharatd commented on #44402
please refer to the comments in #44751

[2017-04-24 07:31] shashidharatd commented on #44402
@madhusudancs, alternatively is it possible to build and push the hyperkube image to registry in `federation deploy` job? and then go for deploying federation control plane. we can eliminate the need for `federation build` jobs.

[2017-04-24 07:45] k82cn commented on #44820
Agree with @liggitt , it's better to only access ETCD by apiserver; looping and waiting for the API seems reasonable to me. Other components in k8s does like this (looping & waiting).

[2017-04-24 08:26] danielqsj commented on #44646
Hi all, I think we could use `responsewriters.WriteObjectNegotiated()` write Content-type correctly.
I have made a PR for fix this.

[2017-04-24 08:38] pompomJuice commented on #43924
You would think that this is solved by now.

**CA Certificates**

Actual recorded cases of preventing unauthorized access : **ZERO**
Amount of countless of developer time wasted because of noobs that don't integrate CA certs into their systems properly: **millions of man hours.**

Morel of the story. Ditch CA certs. Such a ballache every time you have try to get tooling to work together. Nobody kn

[2017-04-24 08:39] ajit-drag opened #44841 "cluster/ubuntu not available"
Hi,
I am following https://kubernetes.io/docs/getting-started-guides/ubuntu/manual/. So I took the latest git pull from `git clone --depth 1 https://github.com/kubernetes/kubernetes.git`. The problem is I am not able to find `cluster/ubuntu/`.

[2017-04-24 08:56] komalkshah opened #44843 "Pod antiaffinity not working with Deployment/Replication Controller"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4", GitCommit:"7243c69eb523aa4377bce883e7c0dd76b84709a1", GitTreeState:"clean", BuildDate:"2017-03-07T23:53:09Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}

Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452

[2017-04-24 09:04] kargakis commented on #34363
And another one: https://github.com/atlassian/smith

[2017-04-24 09:08] maciaszczykm commented on #28007
@frankgreco No, as far as I know this will not be done as it was described here, but in more generic way. Instead of adding option to open Dashboard community wants to improve discoverability of all services. You can check #32073 and #36819 to get more details as there were a few discussions about it. Also, if you have any specific questions just ask them :-)

[2017-04-24 09:41] ankon commented on #23013
For people ending here with a 1.5 cluster and dreading to replace nodes: it might help to just recreate the daemonset itself by using something like

[code]

This worked for me to bring back a missing kube2iam pod on a node. Unfortunately I don't have the logs any more to see why it got lost in the first place.

[2017-04-24 09:43] nabeelamjad commented on #42438
Same controller log here using k8s 1.5. I deleted one of the nodes which ran out of resources and became stuck, something I'm still trying to pinpoint the cause of but it appears to be related to volumes.

[2017-04-24 09:45] Pensu commented on #44750
Hi,

Here is my kubernetes version:

[code]

I have got 3 containers running:

[code]

The first container, that recently restarted, give me this:

[code]

But the second, kube-dns container gives me this error:

[code]
Here are my firewall rules:

[code]

[2017-04-24 10:00] remonlam commented on #44816
Just run "iptables -L" to display the iptables rules.

[2017-04-24 10:00] pizzarabe commented on #33777
We got the same problem.
Unable to create more pods `Insufficient cpu` while all nodes are on ~5 - 10% cpu load

[2017-04-24 10:01] swladyka commented on #28241
This seems to work now when policy per repo is set according to the docs: http://docs.aws.amazon.com/AmazonECR/latest/userguide/RepositoryPolicyExamples.html#IAM_allow_other_accounts

[2017-04-24 10:29] Pensu commented on #43989
@ixdy Thanks for that. I understand I need to buy a gcs storage. Any idea how much storage would be optimal?

[2017-04-24 10:36] xiangpengzhao commented on #44841
This deployment is deprecated and the guide has not been updated. See: #44344

@mikedanese @resouer

[2017-04-24 10:53] jszczepkowski commented on #43579
The test was re-enabled.

[2017-04-24 10:54] #43579 closed

[2017-04-24 10:57] k8s-merge-robot opened #44846 "TestSchedulerCreationInLegacyMode {scheduler}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/5059/
Failed: TestSchedulerCreationInLegacyMode {scheduler}

[code]

[2017-04-24 11:03] m1093782566 commented on #44063
@quinton-hoole @haibinxie Do you have plan to support Full NAT mode?

[2017-04-24 11:22] crassirostris commented on #24862
@drora You can try to adapt a liveness probe similar to the one in [fluentd-gcp](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-ds.yaml#L66)

[2017-04-24 11:23] crassirostris commented on #24862
@drora And create an issue in fluentd or in https://github.com/uken/fluent-plugin-elasticsearch or in https://github.com/fluent/fluentd

[2017-04-24 11:29] pmichali opened #44848 "IPv6 support for setNodeAddress()"
**Is this a request for help?** : No

**What keywords did you search in Kubernetes issues before filing this one?** : node status

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): latest on master

**Environment**:
- **Cloud provider or hardware configuration**: Bare-metal, 3 node config using KubeAdm
- **OS** (e.g. from /e

[2017-04-24 11:40] pkid commented on #41469
I have also the same issue, I have a brand new k8s cluster on 1.6 and if I deploy fluentd, in the pod logs, there is an error:
2017-04-24T11:39:11.968424879Z /opt/td-agent/embedded/lib/ruby/gems/2.1.0/gems/json-1.8.1/lib/json/common.rb:128: warning: already initialized constant JSON::UnparserError
2017-04-24T11:39:11.968440261Z /opt/td-agent/embedded/lib/ruby/2.1.0/json/common.rb:128: warning: pre

[2017-04-24 11:43] drora commented on #24862
hi @crassirostris,
thanks a lot for responding..
loved the liveness-probe idea. trying that now. hopefully, this will be the end of it.

[2017-04-24 11:59] crassirostris commented on #41469
@pkid Those are just warning, they don't indicate anything valuable, e.g. https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/123

[2017-04-24 12:16] deads2k commented on #44778
It's a nicely scoped role.  I think you should choose a serviceaccount other than `default` though.  You can explicitly set the SA name in your podtemplatespec and that way if another pod is mistakenly created in your namespace, it won't accidentally get the permissions you've granted.

Also, `ClusterRoles` and `ClusterRoleBindings` shouldn't have namespaces.

[2017-04-24 12:17] k82cn opened #44851 "client-go enhancement for kube-scheduler."
**Kubernetes version** (use `kubectl version`):
master branch

**What happened**:
When creating PR for #44188 , it found some required packages/funcs are missed; open this issues to trace/handle related issues.

**What you expected to happen**:
All required packages/funcs by kube-scheduler are here in client-go.

[2017-04-24 12:25] k82cn commented on #44851
- [ ] "features " is missed:
In https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/schedulercache/reconcile_affinity.go#L23 , it use `features. AffinityInAnnotations`; but client-go seems not update features accordingly.

- [ ] "v1.helper" missed: there's ` ./staging/src/k8s.io/client-go/pkg/api/helper` which return `api.*`; in kube-scheduler, we're using `v1.*`.

[2017-04-24 12:26] k82cn commented on #44851
/cc @deads2k @caesarxuchao

[2017-04-24 12:32] bbeaudreault commented on #29972
What's the status on this? It seems like a major bug, I'm not sure how it has gone on for so long. When impacted by this bug, scaling, restarting, etc of pods with higher ordinals do not work on StatefulSet. That is, if you have 3 pods for your StatefulSet, and they go into `Init: 0/1` state and you lose mypod-2, kubernetes will never replace it until you manually kill/restart mypod-0 and mypod-1

[2017-04-24 12:37] deads2k commented on #44851
I think the feature flag should be set by the command line options, not by something in the client.

Can you provide a link to where the helper functions are currently used?  We have had to duplicate some in the past.

[2017-04-24 13:40] crassirostris commented on #44609
It seems that DNS does not allow fluentd to be scheduled on the node

@piosz @dchen1107 @davidopp Can we use critical pod annotation on fluentd to fix this problem? I remember @dchen1107 was against it. Or should we wait for the proper priorities?

[2017-04-24 13:42] benjigoldberg commented on #44822
Ok, I did more digging on this issue and I think I've found the problem. The salt definition for kube-apiserver.manifest mounts a number of cert directories from the host into the container, but does not mount `/etc/pki/ca-trust/extracted/pem/` which is where the ca certs are stored on CentOS 7. [Golang defines the directories in which it looks for certificates in the linked file](https://golang.o

[2017-04-24 13:48] k82cn commented on #44851
The name of features is used; e.g. `features.AffinityInAnnotations` at https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L75

`IsOpaqueIntResourceName` is used; https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/helper/helpers.go#L34

[2017-04-24 14:06] eparis commented on #36770
@sttts they are talking about scripts you've done a lot of work on ^^^^

[2017-04-24 14:14] benjigoldberg opened #44852 "Wrong cgroup-driver set on kubelet with centos SaltBase installation"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-24 14:14] #44646 closed

[2017-04-24 14:19] benjigoldberg opened #44854 "Saltbase installer doesn't generate certificates for kube-apiserver"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-24 14:22] lukaszo commented on #44144
ah, cronjob controller is using it's own mechanism. Patch is on the way

[2017-04-24 14:23] benjigoldberg opened #44855 "Saltbase installer does not generate a ca.crt for the kubelet"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-24 14:25] sttts commented on #36770
@eparis thanks for CC'ing me.

I don't have to say much more than @caesarxuchao already did. As long as we depend on godep, we will have a bad and unreliable dev experience.

And about runtime: watch how godep-restore hits https://k8s.io for every single package in k8s.io/kubernetes. This is insane.

+1 to remove it from update-all and keep it in verify-all.

[2017-04-24 14:28] benjigoldberg opened #44856 "SaltBase installer tries to enable the wrong NTP service on CentOS 7"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-24 14:49] timothysc opened #44857 "RFE: Option allow components(sched+cm) to lock on ConfigMaps on startup"
**FEATURE REQUEST**:
Provide an input option to controller manager and scheduler to lock on user specified ConfigMaps vs. Endpoints to remove the known scalability, and security issues that exist.

**Kubernetes version** :
1.7+

**Environment**:
All

/cc @kubernetes/sig-cluster-lifecycle-feature-requests @kubernetes/sig-scheduling-feature-requests

[2017-04-24 14:59] jsafrane opened #44858 "Attach/detach controller does not track "attaching" volumes persistently"
When attach/detach controller restarts it can miss volumes that were attaching but not fully attached when it died.

Steps to reproduce:

1. User creates a pod with a volume.
2. Attach/detach controller asks the storage subsystem to attach the volume (e.g. calls volume plugin.`Attach()`).
3. The controller crashes.
4. User deletes the pod.
5. New controller starts.
6. The storage subsystem finishe

[2017-04-24 15:05] jsafrane commented on #44858
I'm brainstorming here... We probably need to add a field into `VolumesAttached` that would tell if the volume is really attached (and kubelet can start mounting it) or the volume is being attached (and the controller should re-try waiting for attachment after restart and/or re-try attaching it or detach it if it's not needed any longer). The actual state of the world should be updated in the simi

[2017-04-24 15:15] soltysh commented on #44407
/cc

[2017-04-24 15:36] mbentley commented on #40182
If I am understanding this issue fully, instead of doing as recommended [here](https://github.com/kubernetes/kubernetes/issues/40182#issuecomment-276392353) which wouldn't persist, then you can set `net.ipv4.ip_forward=1` in `/etc/sysctl.conf` prior to Docker starting and that should give the desired result.  That should give you the default behavior of `ACCEPT` instead of `DROP` as https://github

[2017-04-24 15:39] pgopina1 commented on #23726
update the entry in /etc/kubernetes/apiserver  ( on master server)
 KUBE_API_PORT="--port=8080"
then do a systemctl restart kube-apiserver

[2017-04-24 15:50] liggitt commented on #44835
Fixed in https://github.com/kubernetes/kubernetes/pull/44862

[2017-04-24 16:23] henriquetruta commented on #39984
@nikhiljindal looks like the problem here is that there are no clusters attached to the federation, i.e. we don't join a cluster. Then, the replicaset is never ready, because there is no cluster to put the pods. I ran `kubectl get clusters` and it gave me `No resources found.`

[2017-04-24 16:30] kow3ns commented on #44215
@krousey
The master never recovers as in https://github.com/kubernetes/kubernetes/issues/44632 which I opened to track the failure with upgrade tests.
/close

[2017-04-24 16:30] #44215 closed

[2017-04-24 16:32] jingxu97 commented on #44858
I think to solve the this and related problems, we need to add more
information into node status. Also currently, volumesAttached only has
uniqueVolumeName which is a concatenation of plugin name and volume name.
In order to reconstruct volume spec, PR #39732 uses a hacky way to split
the string to get the plugin and volume name. So I am thinking the
following new list []VolumeInAttaching in node

[2017-04-24 16:34] haibinxie commented on #44063
@murali-reddy @m1093782566 there is a patch to apply for enabling full NAT mode. that will impact the network policy if you rely on source ip.

[2017-04-24 16:35] ichekrygin commented on #25238
@kargakis - which is expected, however, it does not help with the HPA.`min` and Deployment.`replicas` conflict issue. I assume this is not a trivial issue to figure out what is the source of truth when applying changes to `deployment`. Perhaps, we could leverage Strategy section to preserve current scale settings:
[code]

[2017-04-24 16:43] dchen1107 commented on #44561
@jayunit100 Thanks for the pr. We discussed this at sig-node, and I agreed that introducing the exponentially backing off to Kubelet updating the node status is a good idea. The only concern IMHO is making sure the new policy introduced to Kubelet is align with the logic of the node controller. cc / @gmarek @wojtek-t

[2017-04-24 16:47] dchen1107 commented on #44561
@jayunit100 I will move the rest discussion to pr #44557

[2017-04-24 16:47] brusMX commented on #43683
cc @colemickens @khenidak

[2017-04-24 16:48] cmluciano commented on #44834
This is a bug, but one that I would expect. Since we do not isolate per /dev mount, we end up adding permissions for all mounts. I am working on the fix as part of #43240

[2017-04-24 16:52] ahmetb commented on #44521
@riturajtiwari I don't think GCLB API provides any information on whether routing/forwarding rules are propagated to all its edge locations across the world. This probably makes Kubernetes not able to tell the readiness of the Ingress.

Keep in mind that GCLB is not regional and any configuration applied to it has to propagate all Google locations worldwide. More info at https://cloud.google.com/l

[2017-04-24 16:58] pmichali commented on #44848
In setNodeAddress(), it sets the Legacy Host IP (not sure what this is), and internal IP, based on an IP address that is obtained. For non-cloud providers, it uses the first working of four methods, in order:

- Node IP
- IP from hostname (if IP vs name provided)
- DNS lookup of IP
- IP of network interface that is used for default GW

For the last two items, they are using logic that is designed

[2017-04-24 16:59] thockin commented on #36770
The problem is more than just run time.  It simply is not viable to ask
contributors to blow away their GOPATH in order to satisfy godep's brain
damage.  The script needs to handle it, or we can not expect contributors
to care about it at all.

On Mon, Apr 24, 2017 at 7:25 AM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2017-04-24 17:00] jingxu97 commented on #44858
I think to solve the this and related problems, we need to add more
information into node status. Also currently, volumesAttached only has
uniqueVolumeName which is a concatenation of plugin name and volume name.
In order to reconstruct volume spec, PR #39732 uses a hacky way to split
the string to get the plugin and volume name. So I am thinking the
following new list []VolumeInAttaching in node

[2017-04-24 17:12] perotinus opened #44867 "Federated ConfigMaps: known issues to fix before beta"
Remaining works item for beta-ization:

- [x] convert to new controller framework, and thereby improve testing
- [x] fix flaky unit test
- [x] appropriate e2e test coverage

We've agreed that cluster selection is separable and not necessary to call ConfigMaps beta.

I'll be taking this on.

[2017-04-24 17:22] jswoods commented on #41916
We've seen this issue again even after setting the flags as mentioned earlier. We're now looking for alternative ways to deploy H/A masters. Are there any suggestions on how to do that while avoiding a load balancer?

[2017-04-24 17:26] jayunit100 commented on #42002
- The dependencies are spread around, like #40573 (gauranteed admission issue), #22212 (preemption priority scheme), and the highly active google doc https://docs.google.com/document/d/1-H2hnZap7gQivcSU-9j4ZrJ8wE_WwcfOkTeAGjzUyLA/edit# ("Resource scheduling architecture for batch and serving workloads in Kubernetes").
- These don't seem to be solidified yet.
- To make a simple and unambiguous, hig

[2017-04-24 17:31] foxish commented on #29972
/cc @kow3ns

[2017-04-24 17:31] willmore commented on #41916
I believe one solution is to use DNS based routing to the masters (round-robin resolution for example).

[2017-04-24 17:33] jsravn commented on #41916
I've swapped to DNS, our problems seem to have been solved so far. Will update if I see an issue again.

[2017-04-24 17:34] #44395 closed

[2017-04-24 17:39] tslater commented on #39363
@smarterclayton @hongchaodeng Just to clarify, `service.alpha.kubernetes.io/tolerate-unready-endpoints` is only for services, right? I'm using that on my headless service, but I'm not able to use it with my StatefulSet, right? There's no way to do that yet?

[2017-04-24 17:48] Random-Liu commented on #44777
@zhouhaibing089 The behavior was changed. Now even you delete pod with `--grace-period=0`, it's still kubelet's responsibility to delete the pod after cleanup. If kubelet is not running, the pod will not be deleted.

If you want to forcibly delete that pod, you can use `--force` introduced in https://github.com/kubernetes/kubernetes/pull/35484.

However, it is recommended to let kubelet delete the

[2017-04-24 17:49] glesage commented on #41916
For any whom this might help; I we ended up getting it to work by optimizing our pods to take a whole lot less memory. Not sure if this is related to you guys' issues but our app was taking over 1 gig of memory at peak... getting that down to 200MB or less fixed the issue for us.

The Node the pods resided on had plenty of memory to go though so I'm still curious to see what was happening but at l

[2017-04-24 17:58] eviloop commented on #44187
Hello,
 I believe this issue is currently affecting the use K8S Addon for monitoring on 1.6.x

https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-monitoring

This is due to Grafana using a Service to contact Influx which is running on the same Pod on a different port

Changing the Grafana connection to localhost solves the issue.
All other applications have no issue connec

[2017-04-24 18:08] smarterclayton commented on #39363
Correct.  I was going to open a PR for the bursting if I get a chance in the next few days.

[2017-04-24 18:11] tslater commented on #39363
That's awesome. After getting started with StatefulSets, I can definitely
see why this feature is important. I really appreciate all this great work
from the community. Everytime I need something, it is is either already in
K8s, or being worked on. It's amazing!

On Mon, Apr 24, 2017 at 12:09 PM, Clayton Coleman <notifications@github.com>
wrote:

[2017-04-24 18:12] saad-ali commented on #44790
CC @kubernetes/sig-storage-bugs

[2017-04-24 18:15] saad-ali commented on #44790
Took a quick look at a failed test:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/7562#undefined

The [log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/7562/build-log.txt) indicates:
[code]

`GCE persistent disk not found`. @jingxu97 or @msau42 and @jeffvance can you help investigate.

[2017-04-24 18:16] perotinus commented on #39986
I'm not sure the analogy between clusters and nodes holds here: I think a federation user is more likely to care about scheduling into  clusters than a Kubernetes user is to care about scheduling onto nodes. I guess this is a specific instance of the more general question of "Does a user know/care that a federation is a federation?" We could consider having simple status responses for users who do

[2017-04-24 18:17] saad-ali commented on #44790
CC @copejon

[2017-04-24 18:17] saad-ali commented on #44792
CC @jingxu97 @kubernetes/sig-storage-bugs

[2017-04-24 18:18] jayunit100 commented on #44561
@dchen1107 thanks ! oops i think you meant #44577 :) not (`44557` which is related :).  i made the original typo, my fault :)  fixing it now .

[2017-04-24 18:21] kargakis commented on #44144
https://github.com/kubernetes/kubernetes/pull/44150#issuecomment-296759646

@enisoc thanks for the clarification

[2017-04-24 18:21] #44144 closed

[2017-04-24 18:24] lukaszo commented on #44144
OK :)

[2017-04-24 18:24] saad-ali commented on #44227
Related to https://github.com/kubernetes/kubernetes/issues/29633?

@yifan-gu or @ivan4th can you take a look.

[2017-04-24 18:27] ncdc commented on #44227
xref #44226, these will most likely have the same root cause, I would think

[2017-04-24 18:28] ncdc commented on #44226
xref #44227, these will most likely have the same root cause, I would think

[2017-04-24 18:35] msau42 commented on #44790
The failure in the GKE multizone test suite is probably due to the GKE issue I fixed last week.

[2017-04-24 18:43] DocValerian commented on #44187
Also this issue: #42314 may be related to this topic

[2017-04-24 18:45] MrHohn commented on #44187
cc @dnardo

[2017-04-24 18:49] ivan4th commented on #29633
Below is the original report updated for the current master for the sake of convenience.

I believe these two flakes have the same root cause:

When there's a pod UPDATE event to kubelet, kubelet will invoke the volume manager to update the pod state to introduce the updated annotation:
https://github.com/kubernetes/kubernetes/blob/130a56ce598851e061e6bee06a5707cf00bd8621/pkg/kubelet/volumemanager

[2017-04-24 18:50] ivan4th commented on #44227
From quick glance the problem described in #29633 did not go away, so it may be indeed the reason. I've posted an updated description as a comment for #29633 (made it point to proper lines in current master)

[2017-04-24 18:51] ncdc commented on #44227
I don't think 29633 is related to this. The current failures are device or
resource busy errors failing to unmount the old volume, if I'm not
mistaken.

On Mon, Apr 24, 2017 at 2:25 PM Saad Ali <notifications@github.com> wrote:

[2017-04-24 19:07] ncdc commented on #44227
@ivan4th hmm maybe you're right. I just checked one failure at random and couldn't find a device or resource busy error in the log.

[2017-04-24 19:09] aveshagarwal commented on #12140
@timothysc you mean a new sub repo in kubernetes or in kube-incubator?

[2017-04-24 19:14] pmorie commented on #44832
cc @pwittrock @fabianofranz @kubernetes/sig-cli-bugs

[2017-04-24 19:25] cblecker opened #44873 "Improving or replacing godep for dependency vendoring"
There are a number of issues with godep for dependency management including but not limited to:
- godep requires packages in your GOPATH to match the version in your Godeps file
- godep doesn't cache specific versions of the dependencies -- again they have to match what you have in your path
- there isn't a built in way to verify the deps are up to date -- you need to restore and download and then

[2017-04-24 19:26] cblecker commented on #44873
/area build-release
/sig-contributor-experience

[2017-04-24 19:28] cblecker commented on #44873
/sig contributor-experience

[2017-04-24 19:31] jpoon opened #44874 "Feature Ask: Azure Cloud DNS Provider"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Kube

[2017-04-24 19:33] k8s-merge-robot opened #44875 "ci-kubernetes-e2e-gci-gke-ingress: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-ingress/7691/
Multiple broken tests:

Failed: [k8s.io] Loadbalancing: L7 [k8s.io] GCE [Slow] [Feature:Ingress] should create ingress with given static-ip {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Loadbalancing: L7 [k8s.io] GCE [Slow] [Feature:Ingress] should conform to Ingress spec {Kubernetes e2e sui

[2017-04-24 19:33] bsalamat commented on #44857
Could you please provide a bit more details about the existing issues or reference them?

[2017-04-24 19:41] mml commented on #38336
I will take a whack at this.  I would like test coverage too, in the form of one of those fancy e2e upgrade tests.

[2017-04-24 19:41] k8s-merge-robot opened #44876 "ci-kubernetes-e2e-gci-gke-alpha-features: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/8585/
Multiple broken tests:

Failed: [k8s.io] Kubectl alpha client [k8s.io] Kubectl run ScheduledJob should create a ScheduledJob {Kubernetes e2e suite}

[code]

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668 #

[2017-04-24 19:42] gnufied commented on #44858
Somewhat related, since we want to get rid of hack introduced in #39732, wouldn't it make sense to have `volumeName` and `plugin` name in `VolumesAttached` list too?

If `VolumeInAttaching` information is gone after attach is successful, in case of of pod being deleted while controller was down - the information in `VolumeInAttaching` will not be useful to reconstruct the volume spec.

[2017-04-24 19:52] timothysc commented on #12140
Doesn't matter to me, so long is it's not in the main or contrib repos.

[2017-04-24 19:52] huggsboson commented on #39900
#29972 is affecting us.

[2017-04-24 19:58] jingxu97 commented on #44858
I am thinking keep volumes in VolumesInAttaching until it is detached
successfully. Maybe the name is confusing, it is hard for me to find a good
name...

On Mon, Apr 24, 2017 at 12:43 PM, Hemant Kumar <notifications@github.com>
wrote:

--
- Jing

[2017-04-24 20:03] copejon commented on #44377
@mappedinn Do you know why exporting `/` works instead of `/exports`?

[2017-04-24 20:06] rata opened #44879 "kubectl get nodes -w output is updated every few seconds instead of only on changes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubectl node watch

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): B

[2017-04-24 20:06] MrHohn commented on #43668
cc @bowei

[2017-04-24 20:07] MrHohn commented on #44772
/area dns
cc @bowei

[2017-04-24 20:11] copejon commented on #44790
@saad-ali Will dig into this.

[2017-04-24 20:28] cblecker commented on #44803
So were you running bash 3.2 or bash 4 prior to this? It looks like the instructions are for bash-completion which should be for the bash installed by default in macOS.
/assign

[2017-04-24 20:35] thockin commented on #44873
I looked at moving to Glide about a year ago.  It fell over for our repo.
A bunch of bugs were filed, and as far as I can tell, glide is EOL'ed in
favor of `go dep`, which isn't ready yet.

On Mon, Apr 24, 2017 at 12:28 PM, Christoph Blecker <
notifications@github.com> wrote:

[2017-04-24 20:39] MrHohn commented on #44203
/sig-network

[2017-04-24 20:44] cblecker commented on #44873
I don't think it's EOL'd, but perhaps @technosophos (who is also involved with kubernetes/helm) can help us out.

[2017-04-24 20:49] jayunit100 commented on #43992
@ravisantoshgudimetla Can you update `options.go` "register-node", to describe wether or not data (like taints) may get erased when using `--register` ?  Its not clear on wether or not its gauranteed to be idempotent  WRT to taints and labels ?

[2017-04-24 20:51] spxtr commented on #44873
I'm not a fan of moving to glide if we're planning on moving to dep one or two years later once it's stable.

[2017-04-24 20:52] jayunit100 commented on #43678
we should clear up the flags on this #43992

[2017-04-24 20:53] mml commented on #38336
I spoke with @krousey about how to add the tests.  Basically, we'll add this to the existing list of tests in `test/e2e/cluster_upgrade.go`.  Either modifying, say, the `ServiceUpgradeTest` to verify it works through a node upgrade, or adding a separate test, which we'll probably do as we want to test several apps with native APIs.

Kris asked the question whether or not this should live in `clust

[2017-04-24 20:56] grodrigues3 commented on #44203
@kubernetes/sig-network-misc

[2017-04-24 20:58] cblecker commented on #44873
@spxtr I guess it depends on the effort involved. If it's a low bar to move to glide and some of the bugs Tim saw last year are fixed, then it may significantly improve the experience for new contributors even if it's just for the 1-3 years until the first-party dep tool is released (which may not even end up working for us initially, because of the way kubernetes does things like staging/)

Right

[2017-04-24 21:20] spxtr commented on #44873
Things that use godep in a nontrivial way:

1. `hack/verify-godeps.sh` will need to be replaced with an equivalent script.
1. `hack/update-godep-licenses.sh` ditto.
1. `hack/update-staging-godeps.sh`
1. `staging/copy.sh`
1. `staging/godeps-json-updater.go`
1. [Community docs](https://github.com/kubernetes/community/blob/c27e08787960411142f974ce9224182381854f7b/contributors/devel/godep.md), and oth

[2017-04-24 21:40] jeffvance commented on #44792
I'll look into this problem (I wrote the test that's failing) but the links above all fail. Which suite did these tests fail in?

[2017-04-24 21:49] caesarxuchao commented on #44873
If we can get rid of staging/ and develop in the repos directly, 3,4,5 will go away, though it probably requires more effort than switching to glide.

[2017-04-24 21:56] eparis commented on #44873
I tried to use `dep` a couple of months ago and it fell over for our repo. I filed some bugs and they seem to have fixed everything I found. Haven't gone back to try again...

[2017-04-24 22:06] enisoc commented on #24946
ControllerRef is now implemented across all workload controllers:

* [ReplicationController/ReplicaSet](https://github.com/kubernetes/kubernetes/pull/41984)
* [StatefulSet](https://github.com/kubernetes/kubernetes/pull/42080)
* [DaemonSet](https://github.com/kubernetes/kubernetes/pull/42173)
* [Deployment](https://github.com/kubernetes/kubernetes/pull/42175)
* [Job](https://github.com/kubernetes/k

[2017-04-24 22:06] #24946 closed

[2017-04-24 22:23] MrHohn commented on #44750
From your logs:
[code]
It seems like you were hitting underlying networking issue instead of firewall issue (otherwise traffic should be backholed). In the logs kubedns was trying to contact k8s apiserver on master but got `no route to host`.

BTW, didn't see kube-proxy pod was running in your first post. Are kube-proxy and k8s service working properly?

[2017-04-24 22:26] liggitt commented on #44879
Nodes actually do change every few seconds. They report status back and update their status timestamp, which results in watch events coming back

[2017-04-24 22:26] #44879 closed

[2017-04-24 22:58] chakri-nelluri commented on #32543
@pires  this is getting superseded by CSI.

[2017-04-24 22:58] #32543 closed

[2017-04-24 23:03] MrHohn commented on #44833
DNS nameserver for Pods with "dnsPolicy=ClusterFirst" is inserted through `--cluster-dns` flag on kubelet:
[code]

[2017-04-24 23:25] Random-Liu opened #44885 "CRI: Different behavior for ContainerStatus, PodSandboxStatus and ImageStatus."
The behavior when requested id doesn't exist is not defined clearly in CRI.

Currently, we define that `ImageStatus` should return `nil, nil` when requested image doesn't exist ([see](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L83-L86)), and kubelet is relying on this behavior now ([see](https://github.com/kubernetes/kubernetes/blob/master/pkg/k

[2017-04-24 23:28] marun commented on #44186
Closing in favor of #37622.

[2017-04-24 23:28] #44186 closed

[2017-04-24 23:56] bgrant0607 commented on #44718
Dupe of #18282

[2017-04-24 23:56] #44718 closed

[2017-04-24 23:57] bgrant0607 commented on #18282
Same issues also apply to `kubectl delete --all-namespaces=true`

[2017-04-25 00:33] madhusudancs commented on #44402
@shashidharatd it should be possible. We do this in PR tests already. However, we are going to spend time running these builds in the test job which makes them slower and I am not sure about that.

Shouldn't things like #44749 happening in all the builds a good thing? Federation should not be the only victim of such issues.

I wonder if we should merge the build + deploy job only for soak tests wh

[2017-04-25 00:45] madhusudancs commented on #39986
In the case of cluster replicasets users don't provide node preferences and thus don't control the distribution of replicas across nodes (node/pod affinity/anti-affinity aside). In the case of federation they do. I think that's a  stronger reason to report cluster-level distribution in a federated replicasets status.

[2017-04-25 01:43] shenlanse opened #44887 "[Bug] Leader election : not exit at once after renew failed, instead renew again"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version**
k8s 1.3. ~~This bug still exist in k8s1.6~~

**What happened**:

[code]
As shown above, the leader failed to renew lease. Then it did not exist and renewed again and get successful response.

**What you expected to happen**:
when fail to renew, it should't renew again and should exit as soon as possible.

[2017-04-25 01:45] crimsonfaith91 commented on #16871
With @foxish help, we are able to verify that the node listing happens every 20 seconds.
Feel free to check the log message copied below:

I0425 01:28:14.634759       5 wrap.go:75] GET /api/v1/nodes: (2.052114ms) 200 [[kube-controller-manager/v1.6.2 (linux/amd64) kubernetes/477efc3/system:serviceaccount:kube-sys
tem:pod-garbage-collector] [::1]:34544]

I0425 01:28:34.638494       5 wrap.go:75] GET

[2017-04-25 01:48] shenlanse commented on #44887
@mikedanese

[2017-04-25 02:02] xwisen commented on #43292
When use `kubelet` alone, I got the same problem. My steps are as follows:
[code]
kubelet/docker/os version:
[code]

[2017-04-25 02:09] weiwei04 commented on #44834
Thanks @cmluciano , I will follow #43240. BTW I have a running GPU test cluster, I can help to test the bug fix when your pr is ready.

[2017-04-25 02:10] frankgreco opened #44889 "Add service labels to iptables rule comment"
this is a **FEATURE REQUEST**

currently, when the kube-proxy creates an iptables rule, it write a `proxyServiceMap` in the comments. An example of this is as follows (where `proxyServiceMap` is "default/kanali:app-port"):

[code]

It would be nice if, as part of the `proxyServiceMap` or as another comment that is written with an iptables rule, the service labels were written out as comments (perh

[2017-04-25 02:11] pfremm commented on #44889
I would also like this change.

[2017-04-25 02:22] #44835 closed

[2017-04-25 02:26] frankgreco commented on #44889
thinking about this some more, if a service is updated (the labels change), the iptables rule would have to be updated

[2017-04-25 02:43] chesterlai opened #44890 "kube-dns can't failed smoothly after kube-dns replacing to new pod"
Hi, all
**Kubernetes version:**
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"5cb86ee022267586db386f62781338b0483733b3", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"5cb86ee022267586db386f62781338b0483733b3", GitTreeState:"clean"}

**Environment:**

- **Kernel**(e.g. uname -a):
   Linux ip-10-74-33-147

[2017-04-25 02:50] xiaoxi1989 opened #44894 "[RBAC] got a message: User "" cannot list pods at the cluster scope."
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.3", GitCommit:"5802799e56c7fcd1638e5848a13c5f3b0b1479ab", GitTreeState:"clean", BuildDate:"2017-04-24T09:32:46Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.3", GitCommit:"5802799e5

[2017-04-25 02:53] fanhaozzu commented on #44816
iptables -L:

Chain INPUT (policy ACCEPT)
target     prot opt source               destination
felix-INPUT  all  --  anywhere             anywhere
KUBE-FIREWALL  all  --  anywhere             anywhere

Chain FORWARD (policy ACCEPT)
target     prot opt source               destination
felix-FORWARD  all  --  anywhere             anywhere
DOCKER-ISOLATION  all  --  anywhere             anywhere
DOCK

[2017-04-25 02:54] fanhaozzu commented on #44816
it confused me that the rules can work when iptables.service is dead and firewalld.service is dead.

[2017-04-25 02:55] fanhaozzu commented on #44816
@remonlam

[2017-04-25 02:58] ajayapte commented on #44833
How do I pass this information when I am using kumeadm?  I already have deployed single node master.  I see that /etc/systemd/system/kubelet.service.d/10-kubeadm.conf has
Environment="KUBELET_DNS_ARGS=--cluster-dns=10.96.0.10 --cluster-domain=cluster.local"

I suppose that's the one that needs to be changed to the ip of kube-dns pod.  At what point does this need to happen in the kubeadm based dep

[2017-04-25 03:01] fanhaozzu commented on #44816
@danwinship
@thockin
@nebril

[2017-04-25 03:09] danielqsj commented on #44894
You can follow this guide [RBAC](https://kubernetes.io/docs/admin/authorization/rbac/).

**Example**:
Grant the admin ClusterRole to a user named “bob” in the namespace “acme”:
`kubectl create rolebinding bob-admin-binding --clusterrole=admin --user=bob --namespace=acme`

[2017-04-25 03:19] xiaoxi1989 commented on #44894
@danielqsj
this command:kubectl create rolebinding bob-admin-binding --clusterrole=admin --user=bob --namespace=acme only can exec not in  RBAC mode?

kubectl create rolebinding cxxtest-admin-binding --clusterrole=admin --user=cxxtest --namespace=kube-system
Error from server (Forbidden): User "cxxtest" cannot create rolebindings.rbac.authorization.k8s.io in the namespace "kube-system". (post role

[2017-04-25 03:25] #44195 closed

[2017-04-25 03:28] MrHohn commented on #44833
/area kubeadm

[2017-04-25 03:32] danielqsj commented on #44894
Notice this:  [Privilege Escalation Prevention and Bootstrapping](https://kubernetes.io/docs/admin/authorization/rbac/#privilege-escalation-prevention-and-bootstrapping)

[2017-04-25 03:33] MrHohn commented on #44833
I think [#33881-comment](https://github.com/kubernetes/kubernetes/issues/33881#issuecomment-251065019) answered your question :)

[2017-04-25 03:36] sjenning commented on #43856
/assign

[2017-04-25 03:51] liggitt commented on #44894
What user does your `/root/ssl/kubeconfig` file identify you as to the api server?

You can create the initial clusterrolebindings against the unsecured port (`kubectl create clusterrolebinding ... --server=http://localhost:8080`) or with a user in the `system:masters` group.

[2017-04-25 03:52] komalkshah commented on #44843
@ xiangpengzhao DaemonSet does not suit my requirement. Nginx is just an example I am trying. I am actually running a Cassandra cluster and hence need StatefulSets.
WRT the ticket you mentioned, I am not running 1.5.4 version of Kubernetes, will it still apply to my setup?

[2017-04-25 04:00] roberthbailey commented on #38336
Matt -- we'd love to delete the `cluster/` directory, but we still don't have a replacement. So for now `cluster/gce/upgrade.sh` is the only place where I know that we have upgrade test coverage (other than the GKE upgrade test suites).

[2017-04-25 04:01] roberthbailey commented on #16871
Thanks for confirming; I'm going to mark this as fixed.

[2017-04-25 04:01] #16871 closed

[2017-04-25 04:05] xiangpengzhao commented on #38933
`:` is allowed in directory name in linux. I didn't run the full build script on my server which has the same OS & Kernel with yours, but I manually ran `mkdir -p /opt/data/kubernetes-1.4.1-beta.2/_output/images/kube-build:build-769ef22c22` as the script does and the directory could be created successfully.

I'm afraid there might be filesystem corruption on your env. Try `fsck` and then `reboot`

[2017-04-25 04:29] thockin commented on #44816
I don't understand - is something not working?

[2017-04-25 04:41] ajayapte commented on #33881
The workaround in [comment](https://github.com/kubernetes/kubernetes/issues/33881#issuecomment-251065019) works.  I was a bit lazy and just changed the 10-kubeadm.conf.  Then I did daemon-reload and restart kubelet.service as mentioned above.  Now my busybox has the right dns and I can do nslookup fine.  Thanks for the tip.

As mentioned above if someone can apply the fix to kubeadm to do this as

[2017-04-25 04:42] ajayapte commented on #44833
Perfect.  Thanks a bunch.  Comment in 33881 solved the problem.  I am going to close this one.  I have already added comments in 33881 about this and have asked that the proposed fix be put in kubeadm.  Thanks again for your help.

[2017-04-25 04:42] #44833 closed

[2017-04-25 05:05] SanjanaTailor commented on #26822
Hello, I am also facing a same problem can you guide me how does this issue resolved using GitHub SSH authentication ?

[2017-04-25 05:12] xiangpengzhao commented on #44816
@fanhaozzu Did you mean that the iptables rules still take effect even when both iptables.service and firewalld.service are dead? I wonder how you confirmed that the iptables rules still work in this case. But anyway, this is not a bug of K8S. Asking this question on StackOverflow might be a better way.

[2017-04-25 05:42] feiskyer commented on #44885
/assign

[2017-04-25 05:43] feiskyer commented on #44885
Added #44904 for clarifying the behavior.

[2017-04-25 06:03] roberthbailey commented on #20486
Closing as obsolete since this hasn't been updated in over a year. Please re-open or file a new issue if you still see this with Kubernetes 1.6.

[2017-04-25 06:03] #20486 closed

[2017-04-25 06:06] roberthbailey commented on #20576
Closing since this hasn't been updated in almost a year. Please re-open or file a new issue if we are still seeing e2e flakes due to the lack of gcloud retries.

[2017-04-25 06:06] #20576 closed

[2017-04-25 06:08] roberthbailey commented on #21067
@ShadySQL / @colemickens -- I'm going to close this issue since it hasn't been updated in over a year. Please re-open if this is still a problem with Kubernetes 1.6.

[2017-04-25 06:08] #21067 closed

[2017-04-25 06:09] roberthbailey commented on #21171
`cluster/ubuntu` was removed in https://github.com/kubernetes/kubernetes/pull/44344 so I'm marking this issue as obsolete.

[2017-04-25 06:09] #21171 closed

[2017-04-25 06:11] roberthbailey commented on #21901
I'm closing this issue since it's been inactive for almost a year.

[2017-04-25 06:11] #21901 closed

[2017-04-25 06:13] roberthbailey commented on #22012
The flags to pass to each binary on the nodes varies based on the install method, so there isn't a single "right" way that we could or should document this.

Since kubeadm is designed specifically to address this use case, I'm going to close this as obsolete.

[2017-04-25 06:13] #22012 closed

[2017-04-25 06:15] roberthbailey commented on #22896
Hi @vhosakot. I'm sorry that no one responded promptly to your issue, but since it's been unanswered for almost a year I'm going to close it as obsolete. If you are still having this problem with Kubernetes 1.6, please reopen this issue or create a new issue. Thanks.

[2017-04-25 06:15] #22896 closed

[2017-04-25 06:17] vhosakot commented on #22896
Yep, thanks for closing this.  http://kubernetes.io/docs/getting-started-guides/vagrant/ does not even exist anymore.. lol 😄.

[2017-04-25 06:17] roberthbailey commented on #23225
Based on some offline discussions it sounds like this is a stretch goal for 1.7 and if it misses we will try to prioritize for 1.8.

@matchstick / @dchen1107 - does that sound right to you?

[2017-04-25 06:21] roberthbailey commented on #23229
@gmarek / @Q-Lee - is this still an issue with our current addon configs? Should we prioritize fixing it?

[2017-04-25 06:22] roberthbailey commented on #23247
@justinsb - can we close as obsolete?

[2017-04-25 06:23] komalkshah commented on #44843
@xiangpengzhao I changed the syntax to include affinity in the pod spec as per #44128   and it worked. Hence closing this bug.
Just to summarise the following yaml for deployment with anti-affinity works:
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: nginx
    spec:
      affinity:
        podAntiAffinity:

[2017-04-25 06:23] #44843 closed

[2017-04-25 06:25] roberthbailey commented on #23264
@mikedanese -- didn't we fix this?

[2017-04-25 06:26] roberthbailey commented on #23478
@justinsb - is this feature request describing kops?

[2017-04-25 06:27] matchstick commented on #23225
That is the plan for now.

[2017-04-25 06:27] roberthbailey commented on #23620
@justinsb

[2017-04-25 06:28] roberthbailey commented on #18112
Since #25764 merged (almost a year ago), I'm going to mark this as fixed.

[2017-04-25 06:28] #18112 closed

[2017-04-25 06:29] roberthbailey commented on #19041
@cjcullen @liggitt

[2017-04-25 06:30] roberthbailey commented on #23779
Marking as obsolete.

[2017-04-25 06:30] #23779 closed

[2017-04-25 06:32] roberthbailey commented on #24084
Closing as https://github.com/kubernetes/kubernetes/pull/42196 removed AWS support from kube-up.

[2017-04-25 06:32] #24084 closed

[2017-04-25 06:32] roberthbailey commented on #24114
Closing as we are removing the docker multi-node setup guide.

[2017-04-25 06:32] #24114 closed

[2017-04-25 06:33] thockin commented on #44203
We're always willing to look at code, but if you're making the Service
controller handle Endpoints, I think it may be the wrong direction.

On Mon, Apr 24, 2017 at 1:56 PM, grodrigues3 <notifications@github.com>
wrote:

[2017-04-25 06:33] roberthbailey commented on #24116
Closing since the referenced guide no longer exists and azure support in kube up was removed in https://github.com/kubernetes/kubernetes/pull/41672.

[2017-04-25 06:33] #24116 closed

[2017-04-25 06:34] roberthbailey commented on #24123
This is still an issue, and we now side-load more images than when @dchen1107 originally filed this issue. :/

[2017-04-25 06:34] roberthbailey commented on #24141
Marking as obsolete as kube-up no longer supports aws (https://github.com/kubernetes/kubernetes/pull/42196).

[2017-04-25 06:34] #24141 closed

[2017-04-25 06:36] mengqiy opened #44905 "Clean up edit and refactor edit"
Fix comments left in https://github.com/kubernetes/kubernetes/pull/39404.
Make other necessary refactor changes to `edit` to make it easier for `edit last-applied`.

[2017-04-25 06:36] roberthbailey commented on #25079
Hi @rakesh-k. I'm sorry that no one was able to answer your question, but since it's been almost a year I'm going to close this issue as obsolete. Please re-open if you are still having this problem with Kubernetes 1.6.

[2017-04-25 06:36] #25079 closed

[2017-04-25 06:36] mengqiy commented on #44905
/assign @shiywang

[2017-04-25 06:38] roberthbailey commented on #25111
Hi @kjnsn. I'm sorry that no one was able to help you with this issue. Since it hasn't been updated for almost a year, I'm going to close it as obsolete. Please re-open or create a new issue if you are still experiencing this problem using Kubernetes 1.6.

[2017-04-25 06:38] #25111 closed

[2017-04-25 06:39] roberthbailey commented on #25183
Hi @wangyumi. I'm sorry that no one was able to help you with this issue. Since it hasn't been updated for almost a year, I'm going to close it as obsolete. Please re-open or create a new issue if you are still experiencing this problem using Kubernetes 1.6.

[2017-04-25 06:39] #25183 closed

[2017-04-25 06:40] roberthbailey commented on #25186
Support for ubuntu was removed from kube-up in https://github.com/kubernetes/kubernetes/pull/44344 so I'm going to close this as obsolete.

[2017-04-25 06:40] #25186 closed

[2017-04-25 06:42] roberthbailey commented on #26707
@thockin - if there's another bug can you de-dupe this? Otherwise, I'm going to consider it on the networking sig's backlog, since while cluster lifecycle is responsible for the mechanics of deploying addons, the networking sig should determine the policy of how the DNS addon is run in a cluster.

[2017-04-25 06:42] roberthbailey commented on #25367
The docker single node guide has been superseded by Minikube, so I'm going to mark this issue as obsolete.

[2017-04-25 06:42] #25367 closed

[2017-04-25 06:44] roberthbailey commented on #26713
Support for ubuntu in kube-up was removed in https://github.com/kubernetes/kubernetes/pull/44344 so I'm going to mark this as obsolete.

[2017-04-25 06:44] #26713 closed

[2017-04-25 06:45] roberthbailey commented on #27339
Support for ubuntu in kube-up was removed in #44344 so I'm going to mark this as obsolete.

[2017-04-25 06:45] #27339 closed

[2017-04-25 06:47] roberthbailey commented on #27629
At this point I don't see us implementing this feature request for GCE's kube-up scripts since we haven't done it in the past year.

[2017-04-25 06:47] #27629 closed

[2017-04-25 06:48] thockin commented on #26707
@mdelio

On Mon, Apr 24, 2017 at 11:42 PM, Robert Bailey <notifications@github.com>
wrote:

[2017-04-25 06:50] roberthbailey commented on #29977
Support for ubuntu in kube-up was removed in #44344 so I'm going to mark this as obsolete.

[2017-04-25 06:50] #29977 closed

[2017-04-25 06:52] roberthbailey commented on #31168
@mikedanese do we have e2e tests for this yet?

[2017-04-25 06:53] roberthbailey commented on #31273
@fejta has been bugging us about cluster creation failures with his recent test flake reports, so I think we can safely close this issue (which hasn't been updated this calendar year).

[2017-04-25 06:53] #31273 closed

[2017-04-25 06:55] roberthbailey commented on #32538
@Amey-D - are we still planning on fixing this?

[2017-04-25 06:55] bobobo1618 commented on #25186
As I said in my last update, this isn't at all unique to Ubuntu, this is still a real and serious issue.

For example:

- CentOS, no security: https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/
- CoreOS on Rackspace, as far as I can tell, no security: https://kubernetes.io/docs/getting-started-guides/rackspace/
- kops on AWS, as far as I can tell, no security: https://k

[2017-04-25 06:56] roberthbailey commented on #33037
@wlan0 - this seems related to factoring out the cloud providers (in particular, if we finish that effort we should be able to close this as obsolete).

[2017-04-25 06:56] roberthbailey commented on #33881
@luxas - can we migrate this issue to the kubeadm repo?

[2017-04-25 06:58] roberthbailey commented on #34374
Support for ubuntu was removed from kube-up in #44344 so I'm going to close this as obsolete.

[2017-04-25 06:58] #34374 closed

[2017-04-25 07:00] roberthbailey commented on #34423
Hi @yu-yang2. I'm sorry that your issue didn't get any responses. If this is still an issue with Kubernetes 1.6 please re-open this issue or file a new issue. Thanks.

[2017-04-25 07:00] #34423 closed

[2017-04-25 07:03] roberthbailey commented on #35569
@mtaufen - based on your report, you didn't actually set `KUBE_GCE_NODE_PROJECT` and have it get overridden. You set a new default for `NODE_IMAGE_PROJECT` which is explicitly overridden later in the scripts (which still respect changes you may have made to `KUBE_GCE_NODE_PROJECT`).

I think this should work as expected if you run `export KUBE_GCE_NODE_PROJECT=mtaufen-cvm-build` in your shell prio

[2017-04-25 07:04] roberthbailey commented on #36578
I'm going to mark this as obsolete since the referenced issues is already closed and there haven't been any updates this calendar year.

[2017-04-25 07:04] #36578 closed

[2017-04-25 07:05] roberthbailey commented on #36701
I think this is a documentation issue.

[2017-04-25 07:08] roberthbailey commented on #37348
Hi @dragon9783. I'm sorry that no one was able to help you with this issue. It looks like a node issue, so I'm going to cc @kubernetes/sig-node-bugs but I'm not sure there is enough information in your bug report to help you.

[2017-04-25 07:09] roberthbailey commented on #40110
@krousey - is this issue still relevant? Or can we close as obsolete?

[2017-04-25 07:12] roberthbailey commented on #43496
Looks like this was fixed by #42617. Please re-open if there is more to do.

[2017-04-25 07:12] #43496 closed

[2017-04-25 07:18] xiangpengzhao commented on #44843
@komalkshah Cool!

But I'm still a bit confused about why affinity in annotations works with StatefulSets as you mentioned. I don't think the affinity feature versions are different for different controllers.

@davidopp Would you please provide some explanation? Thanks!

[2017-04-25 07:25] jingxu97 commented on #44172
There are a few questions have been discussed related to snapshot API design including whether the API object should be in user namespace or not, whether there should be two objects such as Request and snapshot (also snapshotSet). The following is a summary of the points.

**Namespace discussion**
1. Unlike PVs that are created by admins only, snapshots could be initiated by users or admins. Clear

[2017-04-25 07:25] roberthbailey commented on #25186
@bobobo1618 - We are actively trying to remove getting started guides that no longer work or lead users into a dead end (e.g. not upgradeable) and I think security is another angle on which we can evaluate whether we should keep guides. https://github.com/kubernetes/kubernetes/pull/40050 also locks down some of the remaining insecure deployments (thanks @mtaufen!).

We are also working hard to mak

[2017-04-25 07:28] madhusudancs opened #44907 "Federated Ingress fails at high loads"
I filed an issue with some debugging information and details in the Ingress repo -  https://github.com/kubernetes/ingress/issues/645. I am also filing it to here to track federated ingress flakiness. This is critical and is blocking us from making federation presubmits "required" for all PRs.

@csbell assigning it to you for triaging.

/assign @csbell

/priority failing-test

/sig federation

cc @

[2017-04-25 07:51] sachindj commented on #26822
Even we are facing same problem. Can someone help us?
ERROR: Error fetching remote repo 'origin'
hudson.plugins.git.GitException: Failed to fetch from git@github.com:testuser/testrepo.git
	at hudson.plugins.git.GitSCM.fetchFrom(GitSCM.java:809)
	at hudson.plugins.git.GitSCM.retrieveChanges(GitSCM.java:1076)
	at hudson.plugins.git.GitSCM.checkout(GitSCM.java:1107)
	at hudson.scm.SCM.checkout(SCM.ja

[2017-04-25 07:59] danielqsj commented on #37266
Fixed in #44909

[2017-04-25 08:19] komalkshah commented on #44843
@xiangpengzhao it so happened that the Nginx deployment with Statefulset was showing the expected behaviour (one pod per node) even without the anti-affinity rule (I verified this after Deployment anti-affinity rule worked). So the anti-affinity rule was actually not getting applied by placing it in annotation even for statefulsets but I didnt realised that as the results were as expected.
So it w

[2017-04-25 08:24] sttts commented on #36770
With a "prepared" GOPATH with our dependencies checked out at least it is acceptably fast to verify that godeps are up to date (we do not even call godep anymore for that, but have a 5 second bash loop doing that). A temporary directory on every run is a nogo because of the runtime to create it. We could have our separate GOPATH cache, e.g. in _output. Yet another hack to work around godeps defici

[2017-04-25 08:48] jsafrane commented on #44858
Can we just 'Attached bool'  to `VolumesAttached`? When it's true, kubelet can start mounting, when it's false then the controller must observe the actual state:

1. it's not attached and a pod wants it: attach it and mark it as fully attached
2. it's attached and a pod wants it: mark it fully attached
3. it's attached and nobody wants it: detach it and delete it from `VolumesAttached`
4. it's not

[2017-04-25 08:48] xiaoxi1989 commented on #44894
@danielqsj  @liggitt
I've solved it,thanks a lot。

[2017-04-25 08:49] #44894 closed

[2017-04-25 08:52] xiangpengzhao commented on #44843
@komalkshah Great! :smile:

[2017-04-25 08:55] bboreham opened #44911 "Hook for "remove for good" on DaemonSet"
**FEATURE REQUEST**

Some software, designed to work with Kubernetes, installs itself on every node via a DaemonSet, creating some side-effects on each node that a user would like to clear down when finished using that software.
An example is [Weave Net](https://www.weave.works/documentation/net-latest-kube-addon/), which I work on, but there are several others.

When it comes to uninstalling, I c

[2017-04-25 08:56] #44436 closed

[2017-04-25 08:57] timchenxiaoyu commented on #43799
sorry to response later, after I set  --cluster-cidr= to kube-proxy ,this problem solve . I use flannel vxlan network.

[2017-04-25 09:08] SanjanaTailor commented on #26822
yes, it's resolved now. Check first your repository is private ?
If that's the case go to your github where your project is uploaded. Now go to settings and under Personal settings there's an option says Personal access token and click on it it will asked your github password enter it and it will generate your access token copy it and save it in some file.
Now, if you are working with Jenkins go t

[2017-04-25 09:09] #23229 closed

[2017-04-25 09:18] alkar commented on #44348
Seeing this in `1.6.2` as well

[2017-04-25 09:33] dunjut commented on #44911
Maybe install a script on host node which periodically watches if the CNI pod is still there, after some reasonable continuous times of CNI pod lost, the script does the clean-up work.

[2017-04-25 09:35] bboreham commented on #44911
@dunjut how are you suggesting that script gets onto each node?

[2017-04-25 09:35] Miyurz commented on #23380
Not sure why would this happen in 1.5.2 but I can't see annotation for the pod when I describe the pod

[code]

[2017-04-25 09:42] sachindj commented on #26822
seems still issue persists, please suggest further

Fetching changes from the remote Git repository

Fetching upstream changes from https://cd5dba78a5dfccaae1b5574b09b1ff155a89da49@cto-github.cisco.com/hkona/vmsauto.git

using GIT_ASKPASS to set credentials

ERROR: Error fetching remote repo 'origin'
hudson.plugins.git.GitException: Failed to fetch from https://cd5dba78a5dfccaae1b5574b09b1ff155a89

[2017-04-25 09:44] Miyurz opened #44914 "kubectl describe doesn't show annotations"
**What keywords did you search in Kubernetes issues before filing this one?**
kubectl annotation

---

**BUG REPORT:**
 I did a `kubectl describe aws-cli` to check the annotations but it didn't show any.
My pod definition, aws-cli.yml is as follows:
[code]
I researched through a couple of bugs including https://github.com/kubernetes/kubernetes/issues/23380 to look for a probable fix.

**Kubernetes

[2017-04-25 09:46] SanjanaTailor commented on #26822
Are you facing an issue for running application or building for Jenkins? have you added credentials under SCM ?

[2017-04-25 09:46] dunjut commented on #44911
@bboreham Perhaps mounting the host's cron-job scripts directory into CNI pod, then we can put a job there. Just like `Calico` utilizes a dedicated installation container which mounts necessary host paths.

[2017-04-25 09:47] lukaszo commented on #44911
There is a proposal for running a defer pods https://github.com/kubernetes/community/pull/483 It may help here.

[2017-04-25 09:47] sachindj commented on #26822
yes, I have added credentials for SCM. I am struggling while building for jenkins

[2017-04-25 09:50] SanjanaTailor commented on #26822
https://cd5dba78a5dfccaae1b5574b09b1ff155a89da49@cto-github.cisco.com/hkona/vmsauto.git/ did you append '/' end of the file ?

[2017-04-25 09:53] sachindj commented on #26822
After append '/' I got like this

Building in workspace /var/lib/jenkins/workspace/GUI testsuite

Fetching changes from the remote Git repository

Fetching upstream changes from https://cd5dba78a5dfccaae1b5574b09b1ff155a89da49@cto-github.cisco.com/hkona/vmsauto.git/

using GIT_ASKPASS to set credentials

ERROR: Couldn't find any revision to build. Verify the repository and branch configuration for

[2017-04-25 09:56] SanjanaTailor commented on #26822
are you using skype ? give me asap

[2017-04-25 09:58] xiangpengzhao commented on #40503
/assign

[2017-04-25 10:00] sachindj commented on #26822
No. we are not using skype.

[2017-04-25 10:02] SanjanaTailor commented on #26822
![crdentials](https://cloud.githubusercontent.com/assets/4736998/25379946/2aa91dc6-29cc-11e7-8547-6d81bc411f66.PNG)

my url format is as below : https://0da6daa7b1c3ad688381e17b2f42c1b90b1ebefa@github.com/git_hub_reponame.git
make sure you followed correct path

[2017-04-25 10:09] sachindj commented on #26822
skype name: nagesh.cherukuri2

[2017-04-25 10:28] murali-reddy opened #44916 "kube-proxy "--cluster-cidr" does not result in SNAT when pod A on node A accessing node port service on node B"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kube-proxy, masquerade, SNAT --cluster-cidr

**Is this a BUG REPORT or FEATURE REQUES

[2017-04-25 10:52] bboreham commented on #35183
I have basically the same requirement, but for DaemonSet: I work on [Weave Net](https://www.weave.works/documentation/net-latest-kube-addon/) which installs itself on every node via a DaemonSet.  The install creates some side-effects on each node - network virtual devices, etc. - that a user would like to clear down if they decide to uninstall.

Users variously expect this to happen via `kubectl d

[2017-04-25 10:53] bboreham commented on #44911
Thanks; after following the links I think this issue is really a duplicate of #35183 so will close this.

[2017-04-25 10:53] #44911 closed

[2017-04-25 11:45] SanjanaTailor commented on #26822
Make sure in Jenkins credentials your password must be access token, that's a problem at your end, run Jenkins again after update it

[2017-04-25 12:28] Dm3Ch opened #44917 "[Question] Write to secret volume from pod"
Hello!
Is it possible to write to the secret volume from pod?

 I'd like to store my ssl certs in secret, but I'm using Let's Encrypt certs and I need to re-issue them every 3 month, I thought I can make a cronjob, to update certs with certbot, but i can't find how could I mount secret volume for write.

[2017-04-25 12:54] wjkohnen commented on #44581
cc @jayme-github @tback

[2017-04-25 12:58] xiangpengzhao commented on #44914
You can run `kubectl get pod aws-cli -o json` to view almost all the info of your pod `aws-cli`

[2017-04-25 13:10] #43712 closed

[2017-04-25 13:10] andrewsykim commented on #44450
I'm seeing a similar problem except I never edited the file, might be fit for a separate issue

[2017-04-25 13:12] dwradcliffe commented on #44450
Yes I was using vim, and this explanation makes sense. Would be nice if it was smart about it. Would a PR to ignore the vim temp file be acceptable @yujuhong?

[2017-04-25 13:22] rpothier opened #44918 "cidr_set bitmap should be compressed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-04-25 13:35] xiangpengzhao commented on #44914
v1.5.2 doesn't display annotations yet, see code:
https://github.com/kubernetes/kubernetes/blob/v1.5.2/pkg/kubectl/describe.go#L472

#35094 implemented it and it's in v1.6.

[2017-04-25 13:40] xiangpengzhao commented on #23380
@Miyurz See https://github.com/kubernetes/kubernetes/issues/44914#issuecomment-297031844 please.

[2017-04-25 14:02] chuckbutler commented on #44392
@fghaas Good find on this one. I had taken a stab at this before but i've since lost the PR and didn't track it to completion.

I'll circle back on this one this week and add a force option to pass --delete-local-data for the immediate resolve, and evaluate the suggestions for a more robust solution moving forward.

[2017-04-25 14:06] fghaas commented on #44392
@chuckbutler Got it, thanks for the update!

[2017-04-25 14:09] danwinship commented on #44816
iptables is built into the kernel. firewalld is a daemon for managing iptables rules, and iptables.service is a set of shell script for storing iptables rules in a fixed location on disk and reloading them as needed. Neither service is actually necessary to the functioning of iptables, they're just higher-level abstractions on top of it.

[2017-04-25 14:12] jchauncey commented on #44732
No when my migration is running no other pods have a claim on that PVC.

[2017-04-25 14:15] justinsb commented on #23478
If you say so @roberthbailey ;-)  I believe kops (powered by kubeadm) is closest to closing it.

There's a great list of requirements here, and I think we're really close to covering _everything_ here.  But not _quite_ e.g. KMS and custom authn.

[2017-04-25 14:42] alexey-medvedchikov commented on #41033
:+1:

[2017-04-25 14:53] pmichali commented on #44848
Two more questions...

The code currently directly accesses /net/proc/route and to do IPv6 we'd need to parse /net/proc/ipv6_route, which has a different format. Is there any reason we cannot use "ip [-6] route", which seems to output in the same format (other than IP addresses themselves)?

To support v6, it means collecting both IPv4 and IPv6 routes (two files, or two commands). My thought was t

[2017-04-25 15:07] liggitt commented on #44917
writing to the local volume won't persist the changes... you'd probably want to write the updated cert back to the secret.

[2017-04-25 15:07] #44917 closed

[2017-04-25 15:12] roberthbailey commented on #23478
I guess my question is whether we should close this issue and file issues for the remaining pieces in the kops repo or if this issue is still worth tracking.

[2017-04-25 15:19] timothysc commented on #44857
@bsalamat https://docs.google.com/document/d/1lH9OKkFZMSqXCApmSXemEDuy9qlINdm5MfWWGrK3JYc/edit#

[2017-04-25 15:27] jacekn opened #44920 "kubernetes-master juju layer registry action breaks nginx configmap"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): nginx-load-balancer-conf

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2017-04-25 15:30] ConnorDoyle commented on #44181
@davidopp / @timothysc - please add to 1.7 milestone

[2017-04-25 15:56] shiywang commented on #38761
/assign

[2017-04-25 15:57] todd-dsm commented on #44803
I always install the latest Bash, currently 4.4.12(1)-release. Apple's is too old and I'm not going live in their cave; most people won't - that's why homebrew is a huge project.

Correct, the instructions are for the stock version of Bash (presently 3.2.57(1)-release). My suggestion is to include instructions for both versions. Mostly to keep others from wasting the same time.

I've already done

[2017-04-25 15:57] zhouhaibing089 commented on #44815
@pmcgrath

Checkout [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1237).

it seems I understand your issue. I have the same question before, but there is an answer actually in your situation.

To brief your case, you have a configmap(`settings.json: blahblah`), and want to mount into a folder `/app`. The below is what you need to know:

1.  Once you mount a volume(n

[2017-04-25 15:59] #44599 closed

[2017-04-25 16:14] roberthbailey commented on #22299
Closing as obsolete as discussed during the SIG meeting.

[2017-04-25 16:14] roberthbailey commented on #22301
Closing as obsolete as discussed during the SIG meeting.

[2017-04-25 16:15] #22299 closed

[2017-04-25 16:15] #22301 closed

[2017-04-25 16:17] roberthbailey commented on #38465
Closing as obsolete.

[2017-04-25 16:17] #38465 closed

[2017-04-25 16:17] roberthbailey commented on #38477
Closing as obsolete.

[2017-04-25 16:17] #38477 closed

[2017-04-25 16:18] roberthbailey commented on #38513
Closing as obsolete.

[2017-04-25 16:18] #38513 closed

[2017-04-25 16:20] roberthbailey commented on #38482
Closing as obsolete.

[2017-04-25 16:20] #38482 closed

[2017-04-25 16:20] roberthbailey commented on #38483
Closing as obsolete.

[2017-04-25 16:20] #38483 closed

[2017-04-25 16:20] roberthbailey commented on #38489
Closing as obsolete.

[2017-04-25 16:20] #38489 closed

[2017-04-25 16:21] roberthbailey commented on #39167
Closing as obsolete.

[2017-04-25 16:21] #39167 closed

[2017-04-25 16:21] roberthbailey commented on #38530
Closing as obsolete.

[2017-04-25 16:21] #38530 closed

[2017-04-25 16:22] kekoav commented on #40044
@vishh can you elaborate on how we can ensure container logs are not cleaned up before fluentd has a chance to see them? The specific use case I'm concerned about is for short-lived Jobs or containers that failed/completed quickly. I don't see a viable replacement for `minimum-container-ttl-duration` (yet).

[2017-04-25 16:27] shyamjvs commented on #44701
Sorry it took me some time to get to this. So here's the result of running 100-node real cluster test with image prepulling disabled:

[code]

Seems like image data is indeed doing much mischief.

[2017-04-25 16:32] #44816 closed

[2017-04-25 16:35] pmichali commented on #44848
IOW, could I rely on using exec.Command() and provide it with "ip route && ip -6 route | grep default", instead of reading a file?

If so, should I use full path to ip and grep? Will it be consistent across OSes?

[2017-04-25 16:46] gmarek commented on #44701
CPU usage look a lot better, but it seems that memory didn't dropped too much. So there's something else going on.

[2017-04-25 16:53] shyamjvs commented on #44701
So the new size of the node object is 5.5kB, which is much better than 13.6kB. However there is still some difference with the kubemark node size i.e. 3.6kB. I'll look into why we see this difference. But the part that seems the most likely to cause this difference is still the images field:
[code]

[2017-04-25 16:58] MrHohn commented on #44890
/area dns
/assign

I believe this is already addressed since k8s v1.4. Please update your cluster :)

See #31807, #33050, #31894, kubernetes/contrib#1756.

[2017-04-25 16:59] MrHohn commented on #44890
/close

[2017-04-25 16:59] #44890 closed

[2017-04-25 16:59] kevin-wangzefeng commented on #23211
Any updates or plan on this? We are interested in this feature and would like to start writing a proposal if no one else is working on it.

[2017-04-25 17:05] Dm3Ch commented on #44917
@liggitt Thank you for answer. How could I write updated cert back to the secret(from pod)?

[2017-04-25 17:06] kargakis commented on #23211
@kevin-wangzefeng nobody is working on it currently, feel free to open a proposal.

[2017-04-25 17:18] liggitt commented on #44917
the process responsible for renewing the certificate would need write access to the API. How you grant that depends on the authorization mode your cluster is using. With RBAC authorization, granting the `edit` or `admin` role in the namespace would give sufficient permission to read/write secrets

[2017-04-25 17:20] MrHohn commented on #34602
/assign

[2017-04-25 17:20] MrHohn commented on #34602
/close

[2017-04-25 17:20] #34602 closed

[2017-04-25 17:20] msau42 commented on #44732
If you still see this issue, can you get the following logs:

Master: kube-controller.log
Node that it still thinks the disk is attached to: kubelet logs (you may have to use journalctl)

[2017-04-25 17:25] #37622 closed

[2017-04-25 17:41] smarterclayton commented on #44918
We should also support the same compression on other bit masks at the same time.  We use random allocation for many of the spaces which leads to sparse masks.

[2017-04-25 17:41] kargakis commented on #17441
This is fixed, the DS controller is enqueueing only the DSs it has to on every node ADD/UPDATE event.

[2017-04-25 17:41] #17441 closed

[2017-04-25 17:43] smarterclayton commented on #44914
Fixed in the latest release.

[2017-04-25 17:43] #44914 closed

[2017-04-25 17:43] vishh commented on #40044
@kekoav that would be a question for @crassirostris. The fact that `minimum-container-ttl-duration` was used for that is an interesting side-effect. Now that kubelet supports evictions, minimum ttl duration is no longer supported. Deprecating it and eventually removing it will better reflect the current state of the system.
If we need an interface between logging agents and kubelet, then that's a

[2017-04-25 17:44] kargakis commented on #17130
All of these controllers are using shared informers today. Only the cronjob controller is still using clients. @soltysh @janetkuo is there an issue for switching the CJ controller to use shared informers? If not, we can keep track of that change here.

[2017-04-25 17:46] kargakis commented on #11505
This is important for us since it can enable custom processes to programmatically drive Deployments. @mfojtik we should work on a proposal for 1.8.

[2017-04-25 17:48] MrHohn commented on #44916
/area kube-proxy

[2017-04-25 17:52] kargakis commented on #7242
Also, the resource handlers are avoiding update events when the resource version is the same. Essentially we are not syncing controllers when there are no events on them. I think this is not an issue anymore.

[2017-04-25 17:52] #7242 closed

[2017-04-25 17:55] kevin-wangzefeng commented on #23211
Thanks. Assigning to myself, as I'm going to work on this.

[2017-04-25 18:01] crassirostris commented on #40044
@vishh Thanks for a heads up on this topic

A solution for the problems is yet to be discussed and agreed in the SIG Intrumentation. Hopefully we'll be able to come with with a decision, aligned with all SIGs involved (at least SIG Intrumentation, SIG Node and SIG Storage) in Q2. Anyways, it seems to be an important topic that will be addressed at least in Q3.

@kekoav There are many problems with

[2017-04-25 18:02] crimsonfaith91 commented on #16871
You are very welcome. :)

[2017-04-25 18:08] roberthbailey commented on #19041
@jszczepkowski fyi

[2017-04-25 18:13] ericchiang commented on #43433
A note from the auth side. The credentials that federation uses to talk to the underlying cluster with will need the powers that encompass the roles and bindings it creates. E.g. you want to create a rolebinding that grants a user "admin", the federation control plane will need at least "admin" in that context. Setups will either need to give federation a lot of power on the underlying cluster, or

[2017-04-25 18:13] kargakis commented on #14894
What is described in the initial post is already implemented - once a Deployment is not matching a set of ReplicaSets because it has a different selector, those ReplicaSets are released (owner refs are removed). If there is anything else we need to do on this issue, please reopen it.

[2017-04-25 18:13] #14894 closed

[2017-04-25 18:13] eviloop commented on #44187
Additional notes:

hairping mode is reporting 0 - the wrong value
I see no nsenter errors - it does fallback to hairpin-veth

I have tried with default weave-net 1.9.4  and i have tried adding
[code]
Maybe i have a typo or the cni config wrong ? I kubectl exec into weave and double checked that the file is there

[2017-04-25 18:16] smarterclayton commented on #44172
Can you discuss why we need more than a single object?  Argument 1 (that
admins want to do their own backups) isn't enough of a reason to have two
objects.

On Tue, Apr 25, 2017 at 3:25 AM, Jing Xu <notifications@github.com> wrote:

[2017-04-25 18:16] kargakis commented on #44046
@caesarxuchao lets come up with a fix for 1.7. This should work from the first time we introduced cascading deletion in Deployments.

[2017-04-25 18:17] smarterclayton commented on #44172
For instance - every user requesting a snapshot is requesting that
independently.  Unless the user sets preconditions, the system can very
well coalesce multiple snapshot requests at the same time.  The snapshot
should be suitable for creating new PVCs from via dynamic provisioning.
But I still don't see the requirement for two objects.

On Tue, Apr 25, 2017 at 2:16 PM, Clayton Coleman <ccoleman@r

[2017-04-25 18:21] deads2k commented on #43433
We also check the `bind` verb on the role or clusterrole being bound to allow more narrow permissions.  Obviously it would allow an escalation path, but it helps limit some classes of bugs.

[2017-04-25 18:22] caesarxuchao commented on #44046
@kargakis Yes, we should. Do you have any comments on https://github.com/kubernetes/kubernetes/pull/44058#issuecomment-292682540?

[2017-04-25 18:22] spxtr commented on #26822
@sachindj, your error is unrelated to the original error in this issue, and also unrelated to kubernetes. Please open an issue in a more relevant repository, perhaps [jenkinsci/git-plugin](https://github.com/jenkinsci/git-plugin)'s [JIRA](https://issues.jenkins-ci.org/secure/Dashboard.jspa).

[2017-04-25 18:33] Amey-D commented on #32538
Sorry this fell off radar.  I won't have cycles to work on this in the next few days.  Happy to help with code reviews though.

[2017-04-25 18:43] rickypai commented on #43873
it seems like I misread my own graph... the call volume to `DescribeInstances` was about 1.6M/week and 200k/day before the upgrade.

After the upgrade, it's about 1.5k/day.

sorry for the delay.

[2017-04-25 18:49] Random-Liu commented on #44003
Is this fixed? Both performance dashboards are still not working.

[2017-04-25 19:12] timothysc commented on #9207
@tartavull what version are you running?  1.6 should have a more concise rollup.

[2017-04-25 19:34] kargakis commented on #44046
@caesarxuchao replied. Let's move this forward. If the fix is small, I am going to backport it to 1.6.

[2017-04-25 19:37] wojtek-t commented on #44609
so it seems that the problem is scheduling too many dns-es on a single node so that then fluentd doesn't fit the resources there

I think that doing for fluentd what we are currently doing with dns or heapster anyway sounds good to me (it's not introducing the new mechanism, it's reusing the existing one, though we all agree it's far from perfect - but the change will be extremely minimal and loca

[2017-04-25 19:49] vinayagg opened #44927 "Deleting a namespace does not delete any service ELB (aws) and security groups"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No, this is a bug

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): searched for "namespace ELB"

---

**Is this a BUG REPORT or FEATURE R

[2017-04-25 20:01] thockin commented on #36770
I could maybe get behind temporarily forking godep and hacking it just to
handle our particular workload and nothing more...

On Tue, Apr 25, 2017 at 1:24 AM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2017-04-25 20:09] caesarxuchao commented on #44065
Updated "What's included in k8s.io/api" and "What's not included" after talking with @thockin

[2017-04-25 20:10] gmarek commented on #44003
Oh sorry - the storing data part is done (at least on our side). At least for our data. Perf-dash was broken consciously, as we didn't redirect it to read dedicated files (we don't have people to do it sadly:/). I'm reopening the bug with a different title.

@wojtek-t @shyamjvs

[2017-04-25 20:17] shyamjvs commented on #44701
Ok, so I verified that it is indeed the "images" field which is creating the difference. There is no field for it in the kubemark node object, which is not surprising.
All other fields are pretty much the same (except some heartbeat conditions, but they hardly create much difference in size). We can either let this difference be or try to tweak hollow-kubelet to fake these images for the node.

[2017-04-25 20:32] sttts commented on #44065
@caesarxuchao what about register.go (with scheme as parameter, i.e. public `AddToScheme`)? Should be included IMO. In contrast to install.go which is not needed by a client.

[2017-04-25 20:42] kevin-wangzefeng commented on #28082
addressed in #39469, closing.

[2017-04-25 20:42] #28082 closed

[2017-04-25 20:43] kevin-wangzefeng commented on #23803
Closing since it has been addressed.

[2017-04-25 20:43] #23803 closed

[2017-04-25 20:46] shyamjvs commented on #44701
My experience here is minimal, but here are some views I have (could be wrong) about this:
- We should consider disabling image-prepuller for our scalability tests (until we come up with a good solution in the long term, like the heuristics/cacher). This might hurt us by causing some extra test flakiness, but that is the cost we pay for making our tests standardized i.e. not making node size vary.

[2017-04-25 20:55] caesarxuchao commented on #44065
@sttts good point. My thought is a little different regarding the register.go.
Global variable and helper functions (https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/register.go#L26-L32) should be move to the types repo, just for convenience.

SchemeBuilder and AddToScheme should NOT be moved to the types repo. Because the addDefaultingFuncs, addConversionFuncs in this line are not

[2017-04-25 21:03] sttts commented on #44065
@caesarxuchao was actually looking at `addKnownTypes`. Agree with what you wrote: make `addKnownTypes` public and move it to k8s.io/api. The `SchemeBuilder` will stay in kube.

`GroupName`, `SchemeGroupVersion` and `Resource` should also move I guess.

[2017-04-25 21:12] shyamjvs commented on #44701
Here are the results of running the [performance comparison tool](https://github.com/kubernetes/perf-tests/tree/master/benchmark) we recently built, against runs from the last 24 hours of our 100-node kubemark vs real cluster test. We essentially compare the averages (taken across the runs) of various api calls' latencies across the 2 tests, and deem the ones with the ratio of the averages far awa

[2017-04-25 21:34] derekwaynecarr commented on #41033
@dashpole - the intent was to deprecate the old behavior in favor of the eviction manager itself.  i would like to understand if the eviction support around nodefsInodes or imageFsInodes is insufficient and understand how to further improve eviction manager if need be than add capability to a deprecated component.

@MrHohn -- is there a inode usage target you are looking to achieve?

[2017-04-25 21:47] #44501 closed

[2017-04-25 21:54] MrHohn commented on #44916
This isn't correct. Response should come from node B.

And I couldn't reproduce the behavior you described, logs as below (replaced IPs with names).
[code]

Could you do similar tcpdump and see what happen on your end?

[2017-04-25 21:58] MrHohn commented on #44916
And I don't think `--cluster-cidr` would affect this behavior.

[2017-04-25 22:15] MrHohn commented on #41033
@derekwaynecarr Thanks for the response, I think a threshold like 90% inode usage looks reasonable?

Also, given the plan is deprecating the old feature in favor of eviction manager, I should close this issue.

[2017-04-25 22:15] #41033 closed

[2017-04-25 22:16] derekwaynecarr commented on #43856
I debugged this further today.

I apologize for being dense on this issue.

I had previously fixed this in opencontainers/runc here:
see: https://github.com/opencontainers/runc/pull/1124

But the code we vendor in kube is missing this fix:
https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/apply_systemd.go#L285

It should be a si

[2017-04-25 22:37] murali-reddy commented on #44916
You are right. --cluster-cidr would not affect this behavior For pod B, default gateway would be the node B anyway. Sorry about confusion. Closing the bug. thanks for yourtime @MrHohn

[2017-04-25 22:37] #44916 closed

[2017-04-25 22:51] murali-reddy commented on #44916
Ok, i though about it more. Here is my scenario.

Pod A on node A accessing the node port service on node B. service on node B, picks pod C on node C. Now here node B wont SNAT the traffic as pod A is in cluster CIDR. Pod C will see traffic from Pod A and traffic get routed back from node C in the reverse path.

I will re-verify the scenario and get back with tcpdump and re-open.

[2017-04-25 22:52] montanaflynn commented on #32273
We also need this, even when our backend deployments are fine we get 502 errors when the request  takes over 30 seconds. After a lot of debugging I've wound up here.

@tsloughter did you ever find a way to increase the timeout permanently? Also how did you increase the 30s timeout manually through google console? When I look at the load balancer I see the 30s timeout but can't figure out how to in

[2017-04-25 22:57] derekwaynecarr commented on #43856
@sjenning -- i started a pr locally to bump the dep, but ran out of time today.  if you can bump today, that is fine, otherwise i will finish tomorrow.

[2017-04-25 23:00] quinton-hoole commented on #39986
@perotinus I agree.  We should stick to the status fields exposed by the Kubernetes API (which do not include the underlying cluster ReplicaSets, or Pods, or Nodes).

Right now the common thread between the cluster replicasets and the federated replicaset is the namespace+name.  This was mainly to aid human cognition, as opposed to being a good API design.
 @nikhiljindal we were also planning to a

[2017-04-25 23:03] derekwaynecarr commented on #43856
for reference, pulling master from opencontainer/runc does not merge cleanly, so when i wrap this tomorrow, i am going to try and pull https://github.com/opencontainers/runc/tree/v1.0.0-rc3 which appears to map cleaner.

[2017-04-25 23:03] tsloughter commented on #32273
@montanaflynn nope, still can't increase it permanently. Click `Edit` on your load balancer, then go to each backend configuration and you can edit the timeout to it. It won't stay changed for that long though.

[2017-04-25 23:04] smarterclayton commented on #43433
The current thought is that federation should be able to grant roles on the underlying cluster, but that's still being discussed.

[2017-04-25 23:08] emaildanwilson opened #44932 "apimachinery - Support for Float comparisons in selector.go for Gt Lt operations"
FEATURE REQUEST
Provide support for label selector comparisons of Float values. One use case is for targeted selection to nodes with a label greater than a specific major version number of some component. There may be other use cases.

[code]
The current [NewRequirement](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/labels/selector.go#L135) and [Matches](

[2017-04-25 23:14] slavakl commented on #33483
+ 1 for separate intLB and extLB services, totally agree on with @jlaham.

@thockin Do you have any update or ETA on this?

[2017-04-25 23:14] rhetzler commented on #20086
troubleshooting guide you linked to is a 404

[2017-04-25 23:20] nicksardo commented on #33483
ILB setup via service controller is under development and should be shipped in 1.7

[2017-04-25 23:31] jgoldsmith613 commented on #34715
any status on this.  I am seeing the same issue and I have no volumes too?

[2017-04-25 23:39] vllry commented on #36327
I am also experiencing this issue, but the firewall workaround mentioned by @madhusudancs does not solve the problem. Health checks and backends are continuing to be swapped out every few seconds, and `kubectl describe ingress <name>` shows a stream of UpdateInCluster notifications.

[2017-04-25 23:43] quinton-hoole commented on #36327
What version of K8s are you running @vllry ?  I believe that the underlying bug in the GLBC is fixed in Kubernetes v1.6.

[2017-04-25 23:45] cheburakshu commented on #35183
@bboreham `kubeadm reset` can be run individually on nodes. It is a common cleanup command for both as per [this](https://github.com/kubernetes/kubeadm/issues/42), but this does not delete the network interfaces as one would expect. One thing I observed is even after doing the `kubeadm reset` on the node, the master listed it as running. I don't know if it was because of the un-deleted network.

[2017-04-25 23:47] vllry commented on #36327
I'm using 1.6.1, via GKE.
On Tue, Apr 25, 2017 at 4:44 PM, Quinton Hoole <notifications@github.com>
wrote:

[2017-04-25 23:55] fejta commented on #44243
/unassign @mikedanese
/assign @lukemarsden

This is a top source of failure this week, failing 72 builds per hour
https://storage.googleapis.com/k8s-gubernator/triage/index.html#10593569f958de2147a5

[2017-04-26 00:05] fejta commented on #44650
This remains a top source of failure. It failed 2700 tests this past week.

Cluster lifecycle:
/assign @lukemarsden
Network:
/assign @thockin @dcbw @caseydavenport

PS: @dchen1107 @derekwaynecarr @quinton-hoole please `/unassign` yourselves when you are no longer fixing a failure.

[2017-04-26 00:07] nicksardo commented on #44203
I agree with Tim's sentiment. I believe the current view on cloud providers is that they should be working towards removing vendor specific code from the kubernetes main repo. https://github.com/wlan0/community/blob/9715bc1e5ec85a656bebc892d534f8f9940bdb40/contributors/design-proposals/cloud-provider-refactoring.md  Your end goal seems to be to add a cloud, right? Is there a reason why you can't k

[2017-04-26 00:08] perotinus commented on #44631
Will this get in for 1.7? The current design for federated deployments requires being able to have ReplicaSets in the control plane that aren't propagated.

[2017-04-26 00:11] fejta opened #44933 "Node failed to enter NotReady state during flaky suites"
/assign @saad-ali @childsb

This is a top source of failure for this week.

Triage failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#eba1ba01921bf541729e

Example failure text:
[code]

Example job: https://k8s-testgrid.appspot.com/google-gce#gci-gce-flaky

Expectations: as a top source of failure this issue should interrupt assignees until the issue is closed. sig le

[2017-04-26 00:24] fejta commented on #44684
This remains unresolved. Expectations:
* This work should interrupt and take priority over other activity while it is assigned to you.
* Expectation for sig leads is to identify someone to fix the issue, `/assign` them and `/unassign` yourself.
* Expectation for assignees are to investigate the issue and either a) resolve it or b) `/assign` it to a more appropriate person and b) `/unassign` yourse

[2017-04-26 00:30] fejta commented on #44514
This remains unresolved. Expectations:
* This work should interrupt and take priority over other activity while it is assigned to you.
* Expectation for sig leads is to identify someone to fix the issue, `/assign` them and `/unassign` yourself.
* Expectation for assignees are to investigate the issue and either a) resolve it or b) `/assign` it to a more appropriate person and b) `/unassign` yourse

[2017-04-26 00:31] enisoc commented on #44684
Sending to one of the owners of StatefulSet.

/assign @kow3ns
/unassign

[2017-04-26 00:35] fejta commented on #44410
Reducing this to just the V1Job problem, migrating the other parts to other issues:
* networking: https://github.com/kubernetes/kubernetes/issues/44695
* storage: https://github.com/kubernetes/kubernetes/issues/44514

[2017-04-26 00:35] fejta commented on #44410
This remains unresolved. Expectations:
* This work should interrupt and take priority over other activity while it is assigned to you.
* Expectation for sig leads is to identify someone to fix the issue, `/assign` them and `/unassign` yourself.
* Expectation for assignees are to investigate the issue and either a) resolve it or b) `/assign` it to a more appropriate person and b) `/unassign` yourse

[2017-04-26 00:37] fejta commented on #44410
FYI looks like this is stuck in code review https://github.com/kubernetes/kubernetes/pull/44602

[2017-04-26 00:54] fanhaozzu commented on #44816
@danwinship
thank you

[2017-04-26 00:58] kargakis commented on #23211
@kevin-wangzefeng my thoughts and not something set in stone while I have been thinking about this for the past months:
* this can be layered on top of `spec.progressDeadlineSeconds`. I think a timeout-based approach is simple and works because you can only know that you failed when you decide that you have waited more than you should - most if not all of the possible failures afaik are transient

[2017-04-26 01:00] davidopp commented on #28082
The funny/sad part is that in the end, we used the name NoExecute but the behavior is NoScheduleNoAdmitNoExecute. :-/

[2017-04-26 01:02] smarterclayton commented on #44684
@kargakis @foxish in case one of us gets to it tomorrow

[2017-04-26 01:05] msau42 commented on #44514
The NFSv3 failures and GCEPD multizone failures should be resolved by now.

[2017-04-26 01:08] adohe commented on #38761
@shiywang I just open a PR to fix this, so just re-assign this to me. you may want to take a look.

[2017-04-26 01:10] adohe commented on #25382
I have open #44936 to move all create commands to a separate package, ptal.

[2017-04-26 01:16] slavakl commented on #33483
thank you, @nicksardo.

[2017-04-26 01:21] jayunit100 opened #44937 "Kubelet should roll up Orphaned pod errors"
What we see in kubelet.log if any mismatches for volumes are around:

[code]

The Problem:

Obviously this can get pretty large.  Since theres not much variability, it seems like rolling up all the orphanXYZ messages would be more useful and readable.

Note this runs in the sync loop, so it happens every few (2) seconds for me. Obviously we see this worse on larger nodes (100 * n) /  before but ,

[2017-04-26 01:22] shiywang commented on #38761
/unassign shiywang

[2017-04-26 01:24] montanaflynn commented on #32273
@tsloughter thanks, that did the trick at least temporarily. I think this would be great as an annotation in the ingress config as suggested in the quote @mark9white shared.

[2017-04-26 01:30] shiywang commented on #38761
/assign @adohe

[2017-04-26 01:30] shiywang commented on #38761
/unassign @shiywang

[2017-04-26 01:32] sjenning commented on #43856
@derekwaynecarr attempting now

[2017-04-26 01:45] zihaoyu commented on #41916
We hit the same issue twice in our production cluster in aws us-west-2 vpc. The last occurrence was March 8. Each time it caused a brief period of disruption to the cluster since some pods of production services were rescheduled.

On March 8, from `kubelet` logs we saw a lot of messages like the following:

[code]

Note the ELB IP `10.72.2.91` that `kubelet` was trying to connect to. We then opene

[2017-04-26 01:55] pmorie commented on #44161
@liggit, I like where you and @derekwaynecarr landed on this while I was out.

[2017-04-26 02:00] msau42 commented on #44514
I opened test-infra#2579 to fix the issue of slow, flaky, feature tests not being skipped after I disabled the nfsv3 tests.

[2017-04-26 02:27] sjenning commented on #43856
Why you do this to me?!! :disappointed:
https://github.com/opencontainers/runc/pull/1375

[code]

[2017-04-26 03:05] quinton-hoole commented on #44631
Ooh, apologies for not paying attention.

1. I think we may need two types cluster different types of cluster
selectors, one to target the primary object(s), and another to specify the
targets and weights if the primary object is federated.

2. I think I favor federated deployments which create deployments in each
cluster (not replica sets). I thought I mentioned that in the design doc a
while ago

[2017-04-26 03:12] jshearer commented on #44581
@roberthbailey Any update on this?

[2017-04-26 03:50] xiangpengzhao commented on #40466
#44577 might fix this.

[2017-04-26 03:57] quinton-hoole commented on #36327
Oh dear.  Here are the relevant bug fixes:

https://github.com/kubernetes/kubernetes/issues/37306
https://github.com/kubernetes/kubernetes/pull/41942
https://github.com/kubernetes/ingress/pull/278

@csbell perhaps you can help @vllry to debug.  I'm OOTO for a few weeks.

[2017-04-26 03:58] sampowers commented on #40224
I'm getting this periodically when running my kubectl connection across a stateful firewall, where the connection may be periodically reset if idle for a period.  I don't know what the idle period is.  But I'm getting ready to make a bandaid shell script for our usage of kubectl rollout status.  Just in case that motivates anyone to make watch.Until more robust.

I hope this was useful feedback.

[2017-04-26 04:04] csbell commented on #36327
@vllry  Are you sure it's not an initial problem from https://github.com/kubernetes/ingress/pull/251 with a proposed fix in https://github.com/kubernetes/ingress/pull/652 ?
Please provide output from describe cluster if possible.

[2017-04-26 04:09] shenshouer opened #44941 "Pod cannot get IP in PodCIDR, get the docker ip"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c2

[2017-04-26 04:46] spradeepv commented on #44203
If I write a watcher for service and endpoints outside kubernetes, will I be able to update the External IP of a service? Is it possible to update the service object from a watcher outside k8s cluster?

[2017-04-26 05:06] thockin commented on #44203
yes!  There's nothing special about the built-in controlle-rmanager

On Tue, Apr 25, 2017 at 9:46 PM, Pradeep Sathasivam <
notifications@github.com> wrote:

[2017-04-26 05:19] spradeepv commented on #44203
I was working with Kubernetes python client, I was not able to update the
external IP of a service. Is it a limitation with Python client? Will I not
fave the same issue, since external IP is inside 'status' of a request
body, which is ignored in POST/PUT?

On Wed 26 Apr, 2017, 10:36 AM Tim Hockin, <notifications@github.com> wrote:

--
Regards,
Pradeep. S

[2017-04-26 05:40] gosharplite commented on #40745
Same with v1.5.1

Apr 25 12:36:50 worker-5 kubelet[16724]: I0425 12:36:50.930938   16724 operation_executor.go:917] MountVolume.SetUp succeeded for volume
Apr 25 12:36:51 worker-5 kubelet[16724]: fatal error: scan missed a g
Apr 25 12:36:51 worker-5 kubelet[16724]: goroutine 64 [running]:
Apr 25 12:36:51 worker-5 kubelet[16724]: runtime.throw(0x2954e6c, 0xf)
Apr 25 12:36:51 worker-5 kubelet[16724]

[2017-04-26 05:40] loutian commented on #23864
+1

[2017-04-26 05:55] davidopp commented on #44609
fluentd already runs as a critical pod
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-ds.yaml#L23
so I thought kubelet preemption for DaemonSet (#42028 / #40952) should ensure it gets scheduled?

Of course if the node can't fit all of the critical pods then you're out of luck.

[2017-04-26 06:25] thockin commented on #44203
you need to PUT to the /status subresource

On Tue, Apr 25, 2017 at 10:20 PM, Pradeep Sathasivam <
notifications@github.com> wrote:

[2017-04-26 06:38] bgrant0607 commented on #15627
This use case is addressed by PodPreset:
https://kubernetes.io/docs/tasks/run-application/podpreset/

cc @pwittrock @pmorie

[2017-04-26 06:38] #15627 closed

[2017-04-26 06:42] bgrant0607 commented on #13241
Closing as out of scope for kubectl.

cc @kubernetes/sig-cli-feature-requests

[2017-04-26 06:42] #13241 closed

[2017-04-26 06:44] bgrant0607 commented on #21566
Closing since #30302 was merged.

[2017-04-26 06:44] #21566 closed

[2017-04-26 06:56] bgrant0607 commented on #44161
@pmorie Please categorize every issue you file under an appropriate SIG.

[2017-04-26 07:03] davidopp opened #44944 "Make "kubectl drain" use taint instead of Unschedulable"
kubectl drain: Place NoSchedule taint, then do evictions as today
kubectl uncordon: Remove the taint

ref/ #25320

@kubernetes/sig-scheduling-feature-requests
cc/ @mml

[2017-04-26 07:18] jonathan-kosgei commented on #34091
Hi @liggitt

I'm testing the following clusterrole
[code]
with the following error on create
[code]

[2017-04-26 07:32] gjw0317 commented on #42561
Can 'ETCDCTL_API=3 etcdctl migrate' solve this question?

[2017-04-26 07:56] kargakis commented on #40224
@sampowers would you be interested in working on fixing `rollout status` rather than writting that script? :) Most people (myself included) seem to be fairly busy but we would love to spare review time.

[2017-04-26 08:15] pkutishch commented on #44610
Yeah, bug solved. Many thank you guys for working on this.

[2017-04-26 08:30] jsravn commented on #41916
Of course, kubelet uses http/1.1. With long polling kubelet keeps the connection open for a long time. I always regarded this behaviour of ELBs breaking all connections at scale up/down to be broken. It doesnt just affect kubelet, it's any traffic going through an ELB. They should at least honour configured idle times on the ELB but they don't - it's hard coded to 60s. I'm not quite sure though wh

[2017-04-26 08:45] kargakis commented on #44172
I think snapshots for data replication will be very useful for StatefulSets and that means that data stays in the same namespace. I am not sure of the security implications of cross-namespace snapshots and the proposed mechanism needs to be vetted by @kubernetes/sig-auth-api-reviews folks.

I share Clayton's thoughts, why can't the flow simply include a single object and as a user I create such an

[2017-04-26 08:55] bboreham commented on #35183
No.  It is because the code to remove a node was removed in #42713, @cheburakshu

[2017-04-26 09:05] crassirostris commented on #44609
Whoops, sorry, forgot that it was re-instantiated

Then it's a valid problem: in large clusters logs from some nodes can be not exported. I ofc can always remove this constraint from the tests, but are there any ideas how to tackle this?

/cc @fgrzadkowski

[2017-04-26 09:06] xiangpengzhao opened #44948 "Make conditions displaying of different object consistent in 'kubectl describe' command"
Found that many objects in the current [describe.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/internalversion/describe.go) don't have consistent fields of their conditions be printed.  e.g.

pod:
[code]

node:
[code]

deployment:
[code]

We should make them display consistent fields. Either printing all of the fields of each object conditions , or printing some same select

[2017-04-26 09:06] xiangpengzhao commented on #44948
/assign

[2017-04-26 09:58] feiskyer commented on #44503
Frakti and cri-o is depending on this to choose an alternative runtime, e.g. running them in docker while other regular containers in hypervisors.

[2017-04-26 10:07] edevil opened #44951 "Unneeded eviction triggered when reclaiming imagefs"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

unexpected error when attempting to reduce imagefs pressure

---

**Is this a BUG R

[2017-04-26 10:14] soltysh commented on #30243
I've created this proposal to address the issue: https://github.com/kubernetes/community/issues/583

[2017-04-26 10:22] soltysh commented on #44410
@fejta I'm willing to say we should just merge this as is, this is a straight cherry-pick of a fix applied already to a latter version.

[2017-04-26 10:44] pmcgrath commented on #44815
@zhouhaibing089
Thanks for the reply, works based on your suggestion, I appreciate the explanation

I am happy to close this issue
Pat

[2017-04-26 10:44] #44815 closed

[2017-04-26 10:54] soltysh commented on #17130
There is none, let's keep thus one in. I have a plan how to switch to
informers, but I doubt I will manage to make it happen for 1.7.

On Apr 25, 2017 7:44 PM, "Michail Kargakis" <notifications@github.com>
wrote:

All of these controllers are using shared informers today. Only the cronjob
controller is still using clients. @soltysh <https://github.com/soltysh>
@janetkuo <https://github.com/janetku

[2017-04-26 11:27] kargakis commented on #23211
We can make progressDeadlineSeconds optional for the failurePolicy and allow infant mortality (https://github.com/kubernetes/kubernetes/issues/18568) but I think users would have to opt in.

[2017-04-26 11:45] discordianfish commented on #21478
I just ran into the same issue. Looks like restartPolicy isn't working at least when using plain pods.

[2017-04-26 11:49] wojtek-t commented on #44609
@crassirostris - I wouldn't say this is a problem of large cluster. This is a problem of number of critical pods in the system (which is currently correlated with the cluster size, but doesn't necessary have to be).

But the root cause of this issue is that once the node is created, in large clusters it may take quite a long time before this node is actually schedulable, because the node is not sc

[2017-04-26 12:00] wojtek-t commented on #44701
It's not apiserver who populates it - it's kubelet. See https://github.com/kubernetes/kubernetes/issues/44701#issuecomment-295797219

+1 - this is useless in our tests

-1 - let's not do any artificial things. If we believe the images are the main difference (and disabling image puller is not enough), we should change hollow-node to make the data the same between real cluster and kubemark (by cach

[2017-04-26 12:00] wojtek-t commented on #44701
@shyamjvs ^^

[2017-04-26 12:04] wojtek-t commented on #16871
Yes - as @kargakis wrote we are using shared informers.
The only controller that is really listing nodes is node-controller and this is for the purpose of detecting nodes that are down and avoid stale data. @gmarek

but I agree this is an obsolete issue.

[2017-04-26 12:25] roobert commented on #33483
@nicksardo: any word on whether ILBs will be accessible via GCP VPNs?

[2017-04-26 12:39] gmarek commented on #16871
It's not NodeController - NC lists from Informer as we're not too concerned about being late by few(hundred) milliseconds.

This report shows that pod-gc is making those calls and this is (sadly) expected. It's responsible for removing Pods from non-existing Nodes, and we want to avoid errors in this logic as much as possible. As this is just a cleanup job it's safe to do it even less often, if th

[2017-04-26 12:40] ravisantoshgudimetla opened #44953 "kubectl taints unit testing framework rewrite to include a mock builder"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
Feature

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

When working on #44740, we noticed

[2017-04-26 12:41] ravisantoshgudimetla commented on #44953
/cc @jayunit100 @derekwaynecarr

[2017-04-26 12:48] shyamjvs commented on #44701
@wojtek-t I guess you are right that the default namespace would be empty in both cases. But the perf comparison shows a super high ratio of "list pods" latency in the case of density test, which is no where close to deviations for any other api call.
[code]

I want to understand the reason behind this. Maybe doing a `kubectl list pods` while the e2e test is happening could help? Also, there is on

[2017-04-26 12:48] #44392 closed

[2017-04-26 12:48] #43402 closed

[2017-04-26 13:04] jayunit100 commented on #40466
Yeah it will @ least give clear continuous backoff status and avoid unpredictable behaviour on large cluster.

[2017-04-26 13:31] resouer commented on #23233
I think https://github.com/kubernetes/kubeadm/issues/247 also related to this, it will be fixed after addon can be updated easily.

[2017-04-26 13:36] tsmetana commented on #44858
I'd go even further... Not sure if it's possible (since it looks like an invasive change) but wouldn't it be cleaner to maintain just a `Volumes` list in the node's status that would keep all the information (name, device path, in use, attach state, plugin name, etc.) required to recover from various disasters? I find it rather complicated to have `VolumesInUse`, `VolumesAttached`, now perhaps eve

[2017-04-26 13:41] tback opened #44954 "Feature Request: API should return cluster name"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
api cluster name, api get cluster name, cluster name programatically

---

**Is this

[2017-04-26 13:49] discordianfish opened #44955 "Pod on standalone kubelet never enters "Running", even though containers are up"
**Kubernetes version** (use `kubectl version`):
- v1.7.0-alpha.2

**Environment**:
- **OS** (e.g. from /etc/os-release): ubuntu 17.04
- **Kernel** (e.g. `uname -a`): 4.10.0-19-generic

**What happened**:
I want to use a standalone kubelet to bring up a pod from a static manifest. Specifically I'm trying to use kubelet to replace docker-compose in my tests.

**What you expected to happen**:
After s

[2017-04-26 13:49] wojtek-t commented on #44701
Which test are you looking at?

if this is for density, it's possible that there won't be any list pods, because pretty much everything in our system is using reflector/informer framework, so we are listing only after watch was broken and we can't really start it from the previous point (which should happen relatively rarely).

If this is about load, then the test itself is doing a lot of "LISTs o

[2017-04-26 14:04] timothysc commented on #4301
Cost could be an expression based on admin policy per pod, there is no way you can blanket cost without making some people upset.

[2017-04-26 14:08] michalmedvecky commented on #43389
+1 :(

[2017-04-26 14:56] kirs opened #44956 "Network becomes unavailable on terminating pods"
**What keywords did you search in Kubernetes issues before filing this one?**: terminationGracePeriodSeconds, termination, network.

---

**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

**Kubernetes version**: 1.6.0

**Environment**:
- **Cloud provider or hardware configuration**: GCP and minikube
- **OS**: `Alpine Linux v3.4`
- **Kernel**: Linux 4.7.2

**What happened**:

Pod in "Termin

[2017-04-26 15:09] soltysh commented on #44948
@kubernetes/sig-cli-bugs fyi

[2017-04-26 15:09] soltysh commented on #44948
@xiangpengzhao go ahead and open a PR and ping me in it.

[2017-04-26 15:19] smarterclayton opened #44957 "API discovery docs do not provide ETag information for clients"
We implemented "re-discovery" if the resource name doesn't match one we know:

[code]

1. Unfortunately, this means that having a typo here will now always take >2-5s to resolve (if you're on a slow connection, it could be minutes).
2. If you typo twice in a row, you download all discovery docs twice (the odds of this actually helping are almost zero)
3. We don't have etag or "if not modified" che

[2017-04-26 15:20] smarterclayton commented on #44957
@kubernetes/sig-cli-bugs

[2017-04-26 15:24] marun commented on #39986
@quinton-hoole How would you suggest that 'parentrefs' be implemented?  Is there an existing meta field that could be used, or would it be a field addition?

I was thinking that meta.OwnerReferences could be used, but realized that it is intended as a mechanism to prevent garbage collection before processing by the owner (a resource wouldn't be collected if any OwnerReferences was not empty).  Tha

[2017-04-26 15:26] rcoup commented on #8876
[code]
_almost_ works. With kubectl 1.6.0, you currently get:

[code]
Because `-o name` now consistently returns the resource type. `kubectl exec` should ignore a leading `pod/` if it's present.

[2017-04-26 15:36] SimenB commented on #8876
`sed 's/pod\///'` should work

[2017-04-26 15:40] rcoup commented on #8876
@SimenB oh, sure -- the shell has infinite hackability :) But making `-o name` output consistently able to be used seems like a good goal.

For other readers, incorporating @SimenB's command means this will work:

[code]

[2017-04-26 16:05] timothysc opened #44958 "RFE: Enumerate the list of issues with shadow pooling (kubernetes all the way down)"
I've harped on the fact that most other systems allow you to run the multiple deployments under them.

Think running 1...N kubernetes clusters on kubernetes, which could in turn host their own kubernetes clusters. (Turtles all the way down).   In grids of yore, we called this shadow pooling, and it was the primary way we vetted deployments before rolling them into production.  It has an assortment

[2017-04-26 16:20] SimenB commented on #8876
I definitely agree it should be usable to `exec` without preprocessing, just pointing out a workaround

[2017-04-26 16:36] chuckbutler commented on #44392
@fghaas fix is committed and will go with our next release, projected next Thursday. It won't succeed by default as wildly deleting data is something the user should be concerned about and make the call. But the charm action now has the appropriate flags and better-documented action description.

[code]

[2017-04-26 16:39] replicant0wnz commented on #33483
@roobert I like this question. Currently internal LB's can't be accessed via VPN's or other projects :-( We currently have to roll our own HAProxy deployments for this very reason ..

[2017-04-26 17:08] xiangpengzhao commented on #44948
OK. Will do.

[2017-04-26 17:10] #40386 closed

[2017-04-26 17:14] fghaas commented on #44392
@chuckbutler Thanks! And I do agree about the cautious default.

[2017-04-26 17:19] ravisantoshgudimetla commented on #44944
@davidopp I can work on this, if no one else has started.

[2017-04-26 17:22] liggitt commented on #44954
what cluster name are you referring to?

[2017-04-26 17:25] kirs commented on #44956
When trying to inspect the terminating pod that's gracefully shutting down:

[code]

At the same time I can see the container when I run `docker ps` on the kubelet host. It looks like kubelet tries to tear down the container ignoring that it can be still within graceful termination period.

[2017-04-26 17:30] kkurzhal commented on #41598
I wasn't sure if this was mentioned anywhere else, or if anyone else had thought about/discussed this, but this issue seemed to be the best place to put it.

There is an implied problem regarding resource requests due to the way that statefulsets are scheduled.  If the pvc is "blindly allocated" to a zone without first checking the node resources that are available to the statefulset then it is po

[2017-04-26 17:41] luxas commented on #38228
Announcement here: https://groups.google.com/forum/#!topic/kubernetes-dev/0XRRz6UhhTM

[2017-04-26 17:42] Random-Liu commented on #44503
Does cri-o also need this?

[2017-04-26 18:03] quinton-hoole commented on #44631
OK, I reread the design doc and code for Federated Deployments to make sure I was not confused:

https://docs.google.com/document/d/1Vi_CKah8oR5ByPp8BlgUD0SoINMD1SE0iMQf_2BKlpw/edit#
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_federation/deployment.go#L84

They do create Deployments in the underlying clusters, and not ReplicaSets in the federation or the underlying clusters direc

[2017-04-26 18:09] tomte76 opened #44963 "Unexpected behaviour using "OnlyLocal" annotation on NodePort with 1.6.1 and Weave-Net 1.6"
- Cluster is runnning on on-premises Openstack
- Custer consists of 6 VMs
- 1 master and 5 slaves
- OS is Debian Jessie x64 (8.7)
- Installation on top of OS is mostly done with ansible
- Docker version is

`ii  docker-engine 1.12.6-0~debian-jessie amd64`

- Kubernetes is

[code]
- Installation as follows
- Init the master

`kubeadm init`

- wait for the procecss to complete
- init and join the sl

[2017-04-26 18:10] msau42 commented on #43504
Here is my rough idea about how to make the scheduler storage-topology aware.  It is similar to the topologyKey for pod affinity/anti-affinity, except you specify it in the storageclass instead of the pod.  The sequence could look something like:

1. PVC-PV binding has to be delayed until there is a pod associated with the PVC.
2. The scheduler has to look into the storageclass of the PVC, pull ou

[2017-04-26 18:12] Random-Liu commented on #44956
This is a regression in CRI integration in 1.6.

We have a 2 minutes timeout for `StopContainer` in CRI client. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/remote/remote_runtime.go#L212
This causes `StopContainer` to exceed timeout if the grace period specified by user is longer than 2 minutes.

In our kube docker client, we changed the timeout based on the timeout specified b

[2017-04-26 18:16] vllry commented on #36327
I'm not sure if it's the same problem as kubernetes/ingress#251 - backends are being created and deleted like crazy which makes them hard to query. When I check whichever one is set in the load balancer, it's always in rate mode.

`$ kubectl describe cluster
Name:	asia-southeast1-a
Labels:	<none>
ServerAddressByClientCIDRs:
  ClientCIDR	ServerAddress
  ----		----
  0.0.0.0/0 	https://ip1

Conditio

[2017-04-26 18:17] mrunalp commented on #44503
@Random-Liu Yes, we do.

[2017-04-26 18:20] MrHohn commented on #44963
/assign

[2017-04-26 18:20] dchen1107 commented on #44956
@kirs thanks for reporting the issue, and we are going to include the fix in 1.6.3.

cc/ @kubernetes/kubernetes-release-managers

[2017-04-26 18:24] perotinus commented on #44631
Apologies I wasn't clear! @mwielgus has a design proposal in-flight that he intends to merge into the community repo that describes how to allow federated Deployments to support updates and rollbacks. That proposal describes a "shadow ReplicaSet" that lives only in the control plane and is used to keep track of that state necessary to roll back a federated Deployment, used as a repository for info

[2017-04-26 18:25] kirs commented on #44956
Thanks for a quick reply!

[2017-04-26 18:26] Random-Liu commented on #44955
I think this is expected behavior.

http://localhost:10255/pods gets all the pods from a kubelet internal pod cache. The cache reflects the pod status from corresponding source (apiserver, file, http etc.).

For pods from apiserver, pod status is updated to Running by kubelet, so the cache will reflect the Running state.
For pods from file, no one will actually update it, so it is always the defau

[2017-04-26 18:27] mikedanese commented on #38228
Are we sure that all CI images are using 1.8? I'm seeing compile failures for features added in 1.8 still, e.g. https://github.com/kubernetes/kubernetes/pull/44961.

[2017-04-26 18:27] quinton-hoole commented on #44631
And further, regarding the [cluster selector proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/federation-clusterselector.md) that got merged recently, I have some pretty serious concerns about it (Wow! I was really not paying attention for the first couple of months of this year, and I apologise for that).

My concerns are primarily:

1. How are cluster w

[2017-04-26 18:28] quinton-hoole commented on #44631
@perotinus Aah, thanks.  That clarifies my confusion.  I'll take a look at the design regarding rollbacks.  cc @kevin-wangzefeng who is also looking into that right now.

[2017-04-26 18:30] ixdy commented on #38228
yeah, we need a new `kubekins-test` image - https://github.com/kubernetes/test-infra/pull/2521.

[2017-04-26 18:33] vllry commented on #36327
It *looks* as though each cluster is fighting for control of the 1 ingress/LB, based on the constant rotation of backends and the constant cluster updates.

`Rules:
  Host	Path	Backends
  ----	----	--------
  *	* 	sitebuilder-production:80 (<none>)
Annotations:
  first-cluster:	asia-southeast1-a
Events:
  FirstSeen	LastSeen	Count	From				SubObjectPath	Type		Reason			Message
  ---------	--------	--

[2017-04-26 18:35] msau42 commented on #44514
I checked all the gke-staging and gke-prod suites, there are no more storage failures.

But gke-staging and gke-prod still seem to have some unrelated issues.

[2017-04-26 19:00] smarterclayton commented on #41598
That problem is definitely important - it sits at the overlap between
sig-scheduling (who need to be able to enable the correct choices) and both
sig-apps and sig-storage.

On Wed, Apr 26, 2017 at 1:30 PM, kkurzhal <notifications@github.com> wrote:

[2017-04-26 19:05] nikhiljindal commented on #29887
Documented the list of open questions related to this at https://docs.google.com/document/d/19FiXgHjylk-sbGvLuQjWPKFWctGuiQ75b-HCgYK6zq0/edit.

[2017-04-26 19:08] nikhiljindal commented on #29887
Note that the decision about in which cluster to place resources usually depends on the placement of dependent resources.

One possible solution is to put dependent objects in the same namespace and then put cluster selector on the namespace. Then all resources in that namespace will go to clusters where the namespace exists.

[2017-04-26 19:25] msau42 commented on #41598
I had an idea for how to integrate storage topology into the scheduler.  I outlined it in #43504

[2017-04-26 19:26] justinsb commented on #41598
Something that has occurred to me ... autoscaling turns this on its head.  On the cloud, we should probably optimize for spreading, and then launch additional instances as needed.  i.e. if we're configured to run in zones A,B and C but happen only to have instances in A & B, we should still create a volume in zone C, and then spin up an instance in zone C.

[2017-04-26 19:29] jingxu97 commented on #44172
Hi Michall,

Could you please elaborate about "get back a PVC bound to the data I asked
a snapshot for"? When user requests to create a snapshot (I assume the
snapshot request specifies a PVC to indicate which volume the snapshot
should be taken), does it mean it also create a volume and PVC bound this
this volume, or PVC bound to this snapshot?

On Wed, Apr 26, 2017 at 1:46 AM, Michail Kargakis <

[2017-04-26 19:34] timothysc commented on #44956
/cc @kubernetes/sig-network-bugs @k8s-mirror-cluster-lifecycle-bugs

[2017-04-26 19:42] kargakis commented on #44172
The outcome of the snapshotRequest is a new PV ("the data") bound to a new PVC. The new PVC is what I get back in the namespace I did the snapshoting.

[2017-04-26 19:57] wongma7 commented on #44933
`I0426 11:55:31.106] Apr 26 11:55:31.105: INFO: ssh jenkins@104.198.176.115:22: stderr:    "sudo: /etc/init.d/kubelet: command not found\n"`\\

kubelet never gets restarted and so never enters NotReady. Are we not installing the salt stuff on test clusters anymore? I'm not familiar with how that works at all. What's the proper way to restart kubelet here?

[2017-04-26 20:02] mikedanese commented on #31168
Yes. Not for gce kube up, but kubeadm e2es do this. There's this that runs in kube-up:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/certificates.go

I'd say leave this open until we are running tls bootstrap with kube-up in gce

[2017-04-26 20:04] tback commented on #44954
The one that is shown in `gcloud container clusters list`. Maybe this name isn't currently known inside the cluster, but it'd great if it was.

[2017-04-26 20:08] liggitt commented on #44954
It is not.

[2017-04-26 20:23] Random-Liu commented on #44941
@shenshouer What network plugin are you using in your new nodes?

[2017-04-26 20:26] thiagodasilva commented on #43815
@sjenning @ReSearchITEng
Hi, I have a vagrant+ansible playbook [0] very similar to what you have created, but I'm still unable to get it working, altought for me it is failing on the networking setup. I have tried with calico, weave and flannel, and all three fail (although with different symptoms).

I'm running these versions:
[vagrant@master ~]$ docker --version
Docker version 1.12.6, build 3a09

[2017-04-26 20:27] quinton-hoole commented on #39986
@marun Yes, meta.OwnerReferences was my idea (although I'm not expert on those, I must stress).

I don't think it makes any sense to be able to easily delete federated resources on member clusters (as replacements would simply be created by the federation controller).

How would this be any different from meta.OwnerRefs in Kubernetes?  For example would it not be analogous to manually deleting a P

[2017-04-26 20:28] pmorie opened #44971 "settings API group should have a PodPresetTemplate type"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

---

In SIG service-catalog, we have plans for controllers to create `PodPreset` resources as part of their work.  Currently, there is no `PodPresetTemplateSpec` resource that would allow APIs to be constructed that express requirements for a pod preset spec to be created as well as `ObjectMeta` fields like labels and anno

[2017-04-26 20:33] baldwinSPC commented on #39326
@calebamiles  @leshik we're looking at this now.  Ping me on slack if you have questions - 'baldwin' in #kubernetes.

[2017-04-26 20:33] derekwaynecarr commented on #44971
I would clarify that the "We" in this scenario is the service-catalog.

[2017-04-26 20:35] tback commented on #44954
Drats. Did that happen by choice or by accident? Is there a different name or unique identifier available for a cluster? Is there any chance this'll get implemented?

[2017-04-26 20:38] copejon commented on #44933
@fejta I've got a PR for submitted and going through review iterations.

[2017-04-26 20:42] tpetracca commented on #26030
#25957 was closed due to security/permissions concerns around exposing node information to a pod in an unchecked way.

For pods being ran in a statefulset, I would argue that it is super reasonable to at least be able to expose the zone a pod is running in via the downward API (even if the rest of the node information is not made available).

In my particular use case I'm trying to design a Kubern

[2017-04-26 20:42] Random-Liu opened #44972 "CRI: Why do we need PodSandboxStatus.Linux.Namespaces.Network?"
Now, in CRI we expose the network namespace in `PodSandboxStatus`, but kubelet is not using it.

Actually, now only network plugin needs the network namespace, but the network logic is moved down to runtime.

There seems to be no reason to keep this field except for debugging

@yujuhong @feiskyer
@kubernetes/sig-node-api-reviews

[2017-04-26 20:46] 8enmann commented on #44190
Ping

[2017-04-26 20:50] xuwang commented on #42438
This happens on k8s 1.6.1 as well, that replaced old nodes won't get cleaned up, generating large error logs. On CoreOS installation, I did  systemctl restart kube-controller-manager. That fixed it.

[2017-04-26 20:51] gmarek commented on #44701
We can start by dropping metrics with count smaller than, say, 10.

[2017-04-26 20:56] cheburakshu commented on #35183
@bboreham Will the master still schedule the node since it sees it? In my experience it did and the pod was in a pending state. Is it a correct behaviour?

[2017-04-26 21:04] quinton-hoole commented on #29887
@bgrant0607 @nikhiljindal I think that we should use affinity to express that.  I really don't like overloading namespaces even more than they already are.  They've become the kitchen sink for a whole bunch of grouping concepts from spaces for names, to security domains to now placement groups.  Lets stay away from them if at all possible please.

[2017-04-26 21:08] kargakis commented on #29651
Fixed by https://github.com/kubernetes/kubernetes/pull/42283

[2017-04-26 21:08] #29651 closed

[2017-04-26 21:10] kargakis commented on #30206
@Hokutosei this shouldn't be an issue anymore, please reopen if otherwise.

[2017-04-26 21:10] #30206 closed

[2017-04-26 21:11] klausenbusk commented on #39326
One option until there is "native" support is using a flexvolume plugin. I use [rexray](http://rexray.readthedocs.io/en/stable/) and I haven't noticed any major issues.

BTW: Isn't this issue a duplicate of https://github.com/kubernetes/kubernetes/issues/32334 ?

[2017-04-26 21:12] kargakis commented on #29463
@Deepak1100 please reopen if this still an issue.

[2017-04-26 21:12] #29463 closed

[2017-04-26 21:16] kargakis commented on #29453
@pigmej @nebril do we need this issue anymore?

[2017-04-26 21:18] kargakis commented on #29738
@kubernetes/sig-apps-bugs @kubernetes/sig-scheduling-bugs did we fix DSs to respect taints and tolerations or is this still an issue?

[2017-04-26 21:20] kargakis commented on #29097
I am against doing this because tag is not unique in an image spec, eg. I can use the sha hash of the image instead - moreover I think it's more sane to use hashes vs tags but that's another discussion.

[2017-04-26 21:21] justinsb commented on #29738
We can close this; this was implemented in 1.6

[2017-04-26 21:21] #29738 closed

[2017-04-26 21:23] kargakis commented on #28373
@janetkuo the user comment you are linking to doesn't seem specific to the RS garbage collection but is fundamentally wrong in assuming that 0 replicas == terminated. There is no such thing as a terminated RS. Maybe it's fine to filter out these RSs in the dashboard but I would not do it for plain kubectl.

[2017-04-26 21:24] kargakis commented on #31553
@soltysh this is fixed now, right?

[2017-04-26 21:24] #31553 closed

[2017-04-26 21:25] kargakis commented on #30657
@pmorie which SIG ends up owning ConfigMaps?

[2017-04-26 21:27] kargakis commented on #29972
@kubernetes/sig-apps-bugs

[2017-04-26 21:29] #42905 closed

[2017-04-26 21:30] #27658 closed

[2017-04-26 21:30] vishh commented on #43504
I have an alternate idea for dealing with topology.
I think we can use labels for expressing topology. Here is the algorithm that we discussed:

1. PVs expose a single topology label based on the storage they represent
[code]
or
[code]

2. PVCs can already select using this topology label. Storage Classes should include a Label Selector that can specify topology constaints.

[code]
or

[code]
3. N

[2017-04-26 21:33] vishh commented on #43504
Kubelet is already exposing a failure domain label that indicates the zone and region. Here is an example from GKE:
[code]

We can consider re-purposing the existing labels too.

[2017-04-26 21:37] kargakis commented on #23885
Just reread the initial post, @joshk0 if you want more guarantees during scale down because there is some sort of state your app needs to maintain/rebalance, then you should be using StatefulSet which is optimized for these sorts of consistency guarantees as opposed to the Deployment api which is optimized for availability.

[2017-04-26 21:37] #23885 closed

[2017-04-26 21:40] wlan0 opened #44975 "e2e tests for cloud-controller-manager"
The cloud-controller-manager is almost complete now, but does not have e2e tests for it to go to beta.

[2017-04-26 21:40] wlan0 commented on #44975
@luxas, can you assign this to me pls?

[2017-04-26 21:42] kargakis commented on #17130
Updated the title of the issue

[2017-04-26 21:42] kargakis commented on #22388
Shouldn't be an issue anymore

[2017-04-26 21:42] #22388 closed

[2017-04-26 21:47] janetkuo commented on #32149
We could enqueue after a certain amount of time (use delaying queue) based on `activeDeadlineSeconds`.

[2017-04-26 21:49] kargakis commented on #41697
Please reopen if it's still an issue.

[2017-04-26 21:49] #41697 closed

[2017-04-26 21:49] janetkuo commented on #44410
Just LGTM'ed the PR. It needs approval from 1.4 release manager

[2017-04-26 21:53] huggsboson commented on #40754
yes.  We have 3 etcd servers and 2 masters (behind a keepalived'd vip).

[2017-04-26 21:54] huggsboson commented on #40754
The apiservers were crashing due to a known bug in the cache.

[2017-04-26 21:54] timothysc commented on #42718
/cc @kensimon

[2017-04-26 21:55] Random-Liu opened #44976 "CRI: Define CRI log format better"
Current [cri logging format](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubelet-cri-logging.md) doesn't mention how to handle new line in the log.

Currently, it seems that we assume that each cri log line corresponds to a container output line. In this way, we don't need to handle newline specially.

However, there are 2 problems:
1) If the container only ou

[2017-04-26 21:57] zytek commented on #44954
In our use case (clusters in AWS managed by kops) you could 'guess' the cluster name from DNS endpoint (like api.NAME.kubernetes.example.com)

[2017-04-26 21:57] mrunalp commented on #44976
cc: @cyphar @runcom

[2017-04-26 21:57] nikhiljindal commented on #29887
@quinton-hoole namespace is just one grouping mechanism we have been able to come up with for now. Open to other suggestions.

Trying to summarize the discussion we had (meeting notes: https://docs.google.com/document/d/1pryndmGBnQ93hmR_kJu5j7Y440xL4AO8AvOrHWOTOwM):
* There are 3 use cases for specifying cluster selectors:
1. Developer specifying cluster selector for his individual resource (which

[2017-04-26 22:00] fejta commented on #44410
Thanks so much @soltysh and @janetkuo. The go.k8s.io/oncall page shows a link to the release managers.

[2017-04-26 22:00] mrunalp commented on #44976
We hit this because there is no newline in this test:
[code]

Adding `&& echo hi` passes the test for cri-o.

Another simple option is to just not look for \n in the kubelet code for the last line in the log file.

[2017-04-26 22:11] ixdy commented on #43989
Storage usage will probably vary based on how frequently you run tests and how long you keep test results around.

I think we have a 90d TTL on the `gs://kubernetes-jenkins` bucket; looking at one test job:
[code]

I'm not sure about usage patterns, so I'm not sure if nearline would actually cost less than regular. I would avoid coldline storage.

[2017-04-26 22:19] shyamjvs commented on #44701
@wojtek-t That sounds reasonable. I was talking about the density test. However I just looked up into the load capacity runs and it turns out that the case is same even for it. There are "list pods" only in some runs. On checking the count of list pods requests for [run#2026](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/2026/artifacts/MetricsForE2E2017-0

[2017-04-26 22:32] nikhiljindal commented on #38223
We updated `kubectl delete` to perform cascading deletion by default so deleting federation replicaset deletes replicasets from underlying clusters as well. So that works fine.

The same problem however now exists for `kubectl delete --cascade=false` which we need to fix.

[2017-04-26 22:35] MrHohn commented on #44963
Thanks for the detailed info. It seems that the source address indeed got masqueraded from 212.9.183.78 to 10.40.0.0 when packages reached the wordpress pod (10.40.0.2).

I couldn't find suspicious rules in iptables-save output. The weave masquerade rules happen in POSTROUTING chain so I think it shouldn't affect local packets.
[code]

Pinging more folks @bowei @kubernetes/sig-network-bugs

[2017-04-26 22:41] #43461 closed

[2017-04-26 22:43] timothysc commented on #44857
/cc @mikedanese

[2017-04-26 22:45] dchen1107 commented on #44951
@vishh and @dashpole  There is another issue for aggressive eviction from 1.6.2 release. But I thought we introduced a fix to make disk eviction less aggressive. Please take a look. Thanks!

cc/ @kubernetes/sig-storage-bugs

[2017-04-26 22:47] mikedanese commented on #44857
I'm ok with this.

[2017-04-26 22:48] mikedanese commented on #44857
I'm ok with this but not sure if it's considered a breaking change if we do this by default.

[2017-04-26 22:50] emalloy commented on #44951
experienced this same issue on v1.5.5 also

[2017-04-26 22:50] msau42 opened #44977 "gke-staging suite is failing during logging soak test"
Here's one instance.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging/2498

I0426 10:41:36.139] [k8s.io] Rescheduler [Serial]
I0426 10:41:36.140] [90m/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:826[0m
I0426 10:41:36.140]   should ensure that critical pod is scheduled in case there is no resou

[2017-04-26 22:51] ericchiang opened #44978 "Resource name is not part of request attributes available to the authorizer for create operations"
Authorization doesn't have access to the request body, so it can't know the name of the resource being created. For example, the following role doesn't work as expected.

[code]

At the worst we need to document this. At best we can plead with API machinery to let us do something to make it work.

cc @kubernetes/sig-auth-misc

[2017-04-26 22:54] caesarxuchao commented on #44819
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44974/pull-kubernetes-unit/27904/

[2017-04-26 22:54] vishh commented on #44951
@dashpole kubelet should be collecting the overall usage of `imagefs` much more frequently (`10s`). Is that not the case?

[2017-04-26 22:55] liggitt commented on #44819
Looking at this tonight

[2017-04-26 22:56] dashpole commented on #44951
The important line is:
`Apr 26 09:13:09 node-2-vm kubelet-wrapper[1064]: E0426 09:13:09.518904    1064 eviction_manager.go:390] eviction manager: unexpected error when attempting to reduce imagefs pressure: wanted to free 9223372036854775807, but freed 13832984265 space with errors in image deletion: [...a bunch of errors...]`

[from image_gc_manager.go](https://github.com/kubernetes/kubernetes/bl

[2017-04-26 22:56] #39733 closed

[2017-04-26 22:56] dchen1107 commented on #44951
@emalloy Yes, it is known issue existing in previous releases since disk-based eviction was introduced to Kubelet. But we expected the issue was resolved in 1.6 release.

[2017-04-26 22:59] liggitt commented on #44978
The issue applies to all authorizers, including the webhook authorizer

Fixing it would require decoding requests enough to pull out the name prior to calling authorization, which can be expensive for the core API server and might be impossible for aggregated APIs

Cc @kubernetes/sig-api-machinery-feature-requests

[2017-04-26 23:02] dchen1107 commented on #44951
@dashpole thanks for the prompt response. Based on the analysis, I think the fix is pretty straight-forward, and let's patch 1.6 with it.

[2017-04-26 23:02] shyamjvs commented on #44701
@gmarek Which count are you talking about? The count of the runs or the count of the api requests (within a run)?

[2017-04-26 23:02] dchen1107 commented on #44951
cc/ @kubernetes/kubernetes-release-managers

[2017-04-26 23:11] timothysc commented on #44857
@mikedanese I was going to opt-in at 1st.

[2017-04-26 23:27] csbell commented on #36327
Unfortunately, I doubt you'll be able to gather more information that you already have. Can you file a support ticket for your project with GKE?

[2017-04-26 23:30] Random-Liu commented on #44503
@mrunalp So cri-o does something special with `Previleged`? What special thing does cri-o do could not be expressed in CRI?

[2017-04-26 23:34] vllry commented on #36327
Sure, @csbell.

[2017-04-26 23:41] edouardKaiser commented on #43576
There is no orchestration between sending SIGTERM and removing a pod from a service.
You need to implement a proper healthcheck/readyness probe, and handle SIGTERM to start being unhealthy. Meanwhile, with a big `terminationGracePeriodSeconds`, the app can finish processing its requests.

[2017-04-27 00:11] olalonde commented on #34337
Would be nice if elasticsearch host could be configurable through an environment variable (e.g. `ELASTICSEARCH_HOST`) in https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image

I'd be ready to do a pull request.

[2017-04-27 00:20] timstclair commented on #44503
If we removed privileged from the API, Frakti could instead make the decision on security options that it cannot support.  That said, we do need to think about what level of abstraction we want here. How do you handle other SecurityContext options, like seccomp, AppArmor, and capabilities in Frakti?

[2017-04-27 00:20] msau42 opened #44982 "PodSecurityPolicy and PersistentVolumes"
In today's implementation, PodSecurityPolicy only limits volume types are directly specified in the pod.  Do we also want to support PersistentVolumeSource types?

If the main purpose is to just limit HostPath volumes, then it is mostly ok as HostPath cannot be used as a PV for in a cluster with more than one node.  But if want to limit other types, then it may be worth expanding the policy to PVs

[2017-04-27 00:23] cjcullen commented on #44978
I vote for documenting it rather than trying to make the name available.

I think having resourceNames in the Role/ClusterRole object is a little confusing in general. A role should be independent of the specific resources it applies to. A binding should be the only thing that ties it to a specific place in the resource hierarchy. Unfortunately, we don't have an "objectRoleBinding" to grant permis

[2017-04-27 00:25] liggitt commented on #44978
It also wouldn't work for generateNames

[2017-04-27 00:26] bgrant0607 commented on #24343
We also need multiple orgs.

Github provides exactly 2 levels of hierarchy: orgs and repos. We need to start to use both levels effectively.

My current thinking is that groups of repos belong together in an org. Even a small project needs several repos on github: core, client, user docs, community docs, issues, tooling.

We need at least a dozen client repos, so I'd like to move them to their own

[2017-04-27 00:46] ericchiang commented on #44978
documentation it is https://github.com/kubernetes/kubernetes.github.io/pull/3555

[2017-04-27 00:46] olalonde opened #44985 "Does fluentd-elasticsearch grow disk space forever?"
I was wondering if `fluentd-elasticsearch` would keep using disk space and if so, how do I clear old logs in order to reclaim disk space. Is there any setting to delete logs older than X days?

[2017-04-27 00:52] tpetracca commented on #40610
This was previously explored in #25957

[2017-04-27 00:53] #44514 closed

[2017-04-27 00:53] mrunalp commented on #44503
@Random-Liu cri-o supports mixed mode where regular containers use clear containers but privileged are run using runc. cc: @sameo

[2017-04-27 00:58] dashpole commented on #44951
@edevil, The logs were extremely helpful.  As this generally doesn't happen every time, it would have taken us quite a while to find this bug...  Thanks.

[2017-04-27 01:04] k82cn commented on #42002
no objection to move to 1.8 :).

[2017-04-27 01:30] fejta commented on #24343
Dozens of client repos sounds... incredibly painful.

Is there a design doc for this proposal? I would like this design doc to:
a) be written by people with skin in the game
  * people who will make changes that span dozens of repos
  * people who will build the tooling that supports this baroque system
b) demonstrate an awareness of both the costs of the associated change, costs associated with

[2017-04-27 01:35] feiskyer commented on #44503
Seccomp and AppArmor are not supported in frakti and containers in hypercontainer have full access to system operations (it is ok since they are inside hypervisors).

Yep, that's the general idea.

[2017-04-27 01:35] fejta commented on #44514
FYI Michelle if something is assigned to you then you should be able to close it with a `/close` command. Thanks Saad for closing this one!

[2017-04-27 01:37] feiskyer commented on #44503
I think CRI could also translate in same way.

@timstclair @Random-Liu @mrunalp Do you have any ideas on this?

[2017-04-27 01:47] BaluDontu commented on #42690
@dchen1107 : When vsphere drops all IPV6 addresses and only allow IPV4 addresses when returning from NodeAddresses() inside cloud Provider, it is working perfectly fine and I don't see this problem at all.

So, I think its the problem with Kubernetes core, to handle the IPV6 addresses. Hence we see this issue. Please check my prototype PR where I drop IPV6 addresses in NodeAddresses() - https://gi

[2017-04-27 02:00] mtaufen commented on #25186
@roberthbailey Thanks, but I'm not going to make any security promises about #40050, it's just trying to rip out an old flag. We did, however, see some potential problems being tracked with follow-up issues (https://github.com/kubernetes/kubernetes/issues/44542 https://github.com/kubernetes/kubernetes/issues/43932 https://github.com/kubernetes/kubernetes/issues/43931).

[2017-04-27 02:11] smarterclayton commented on #44982
We deliberately don't limit PVC because admins / admin processes are
assumed to vet those.  A namespace user can't lie about being able to
reference a PV if they don't have access to them.  PSP defends against
namespace users escalating their level of access.

[2017-04-27 02:12] mtaufen commented on #44248
Additionally, can we do something to make the use of deprecated flags more obvious, even when people use automation that makes the logged warnings silent errors? Like put "components using deprecated flags" in Prometheus or the node status or something....

[2017-04-27 02:25] shenshouer commented on #44941
@Random-Liu calico

[2017-04-27 02:31] 4admin2root opened #44990 "it is unnecessary to process config files which starting with ."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubelet manifests
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG

[2017-04-27 02:33] shenshouer commented on #44941
And I got the log as follow when the pod schedule to this node:

[code]

[2017-04-27 02:38] smarterclayton commented on #24343
It seems incredibly unlikely to me that a ruby, python, and Java
client library would share the same repo.  The ecosystem tooling for
those heavily biases to solo repo setups.  I'm trying to think of
significant examples where they are colocated in the wild.

Don't disagree there's a tooling cost - but there is little overlap
between them in terms of end user audience.

[2017-04-27 02:39] smarterclayton commented on #42002
We already have rbac for /bind - the admission controller in openshift
that protects nodeName from being settable by people who can't /bind
is fairly easy to upstream.

[2017-04-27 03:09] #43856 closed

[2017-04-27 03:10] olalonde opened #44992 "Kubernetes incorrectly warns about DEPRECATED flag"
I was running the following command:

[code]

And kept getting the following errors:

[code]

I guess kubectl has a generic routine that checks for args which have `_` and emits this warning. That said, it shouldn't give this warning for arguments after `--` in `kubectl run`.

[2017-04-27 03:14] feiskyer commented on #44976
2 looks more reasonable to me. There is usually no newline at the end of log files.

[2017-04-27 03:18] msau42 commented on #44982
How do admins restrict what namespaces can bind to non-namespaced PVs?

[2017-04-27 03:26] gastzars opened #44994 "An error occured when I get pods"
I'm not sure what happened with my Kubectl. When I ran command ```kubectl get pods```, it returns error below:

[code]

My Kubectl version is
[code]

By the way, ```kubectl create``` and ```kubectl exec``` is still working well. I have no idea what happened.

If there are any more information I can provide to help you investigate this case, please tell me.

[2017-04-27 03:28] pmorie commented on #39434
It would be great to be able to do this for all API types, not just API resources.  For example, I am writing an API in an [external API server](https://github.com/kubernetes-incubator/service-catalog) and would like to be able to validate a [`PodPresetTemplateSpec`](#44973) at the API server, since we do not currently export any validations in client-go.

[2017-04-27 03:34] 4admin2root commented on #38923
Is there any plan to add ceph rbd to google_containers docker image (e.g, gcr.io/google_containers/kube-controller-manager-amd64) ?

[2017-04-27 03:52] #44951 closed

[2017-04-27 04:13] pmorie opened #44995 "API Machinery: Validating core types in external API groups"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`client-go validation`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2017-04-27 04:27] thockin commented on #44944
Does this deprecate the Unschedulable field?

[2017-04-27 04:34] fejta commented on #24343
Agree with that example. Things that do not reference each other are easier to separate.

It still will be useful to have a plan. I would also like my test-infra team involved in (and sign off on) that plan before anyone expects us to support it.

PS: not that we need/should/can do the same here but inside Google we put everything (regardless of language/product/etc) inside a single repository: ht

[2017-04-27 04:37] liggitt commented on #44819
Fixed in #44996

[2017-04-27 04:37] thockin opened #44997 "Service controller removes unschedulable nodes from LB pools"
This is not obviously correct.  It's subtle - a cordon is usually part of a draining operation, so it kind of makes sense to remove things from it.  The service controller removes cordoned nodes from LB pools, but the pods themselves seem to remain in service endpoint lists.  But in the case of an OnlyLocal service, the pods on a cordoned node are cut off.

The GCE L7 LB controller seems to do the

[2017-04-27 05:04] roberthbailey commented on #37915
I took a look and there are a few GCP projects in which we can't delete a network resource, causing the test to fail repeatedly during cluster "creation" (but really the step that verifies that the project in ready to be used for a test run).

Since I'm going to be unavailable for a few days, @fejta kindly volunteered to follow up on this for me.

[2017-04-27 05:08] nikhiljindal commented on #33622
If we set the performance target of one cluster to "as big as we can fit in memory" doesn't that mean that you can't then federate that cluster if you choose 2b?

I think @quinton-hoole had some back of the envelope calculations for this.

I was expecting kubernetes will just ignore that field.

[2017-04-27 05:08] roberthbailey commented on #44243
The root cause of the failures is a GCP issue with our projects, so @lukemarsden isn't going to be able to do much to fix it. I've re-assigned to @fejta to track our fix since I won't have time to follow up on it for the next few days.

[2017-04-27 05:09] nikhiljindal commented on #33622
https://docs.google.com/document/d/1kvVP9GFop6XQiG7H7uvkMLl16TAX9WIolNrsKZXCu5Q is the design doc I had sent some time back for option 1a from my [comment above](https://github.com/kubernetes/kubernetes/issues/33622#issuecomment-251242404).

@CindyXing is planning to write an updated doc.

Documenting some points that came up in discussions with @lavalamp:
Supporting watch is going to get tricky w

[2017-04-27 05:15] liggitt commented on #44954
Not one that is provided to, known, or used by the kubernetes processes that make up the cluster, no.

[2017-04-27 05:21] justinsb commented on #44248
@mtaufen have you opened a PR or issue against kops?

I like the idea of surfacing the deprecation warnings in e2e though.  We could have a test mode where a deprecation warning is considered a failure, for example.

[2017-04-27 05:24] gmarek commented on #44701
API request count within a run.

[2017-04-27 05:34] justinsb commented on #44248
Also the example that you chose is _highly_ instructive.  `--babysit-daemons` is an odd kettle of fish; it was deprecated in the same commit as it was introduces.  The `--babysit-daemons` flag is still set in kube-up, including GCE and GCI.

kops generally tries to follow the kube-up configuration, because for better or worse it is the most tested configuration.  I propose therefore that you first

[2017-04-27 05:47] qwe5456 opened #44999 "ReplicaSet Controller not aware of annotation changes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): deployment, replicaset, cache, annotation
---

**Is this a BUG REPORT or FEATURE REQ

[2017-04-27 05:47] SpamapS commented on #24343
The monorepo has definite pros and cons, there's no "right" way to organize software VCS IMO. However, ultimately it tends to follow Conway's law. As Kubernetes becomes less of a monolithic culture, so should its software, and that includes organization of repos.

In OpenStack, we had this exact problem, and our test infra team developed Zuul. Cross-Repo dependencies and efficient shared integrati

[2017-04-27 05:58] #44956 closed

[2017-04-27 05:58] #40440 closed

[2017-04-27 06:09] cyphar commented on #44976
Personally I'd prefer if we didn't have this silly newline-separation logic (each newline having to be prefixed with a timestamp)_ in `cri-o` (runtimes should be able to just dump the contents of the buffers they read from a container's stdio and kubelet should be able to handle that) but there are a few complications this raises (generating JSON or similar within C is not fun especially if the ru

[2017-04-27 06:10] ashernevins opened #45000 "Mount ConfigMap with Volumes as File"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Currently, it is possible to mount a single file from a host volume as a single file in a container.

[code]

However, when using a ConfigMap, this isn't possible. ConfigMaps must be mounted as directories
[code]

If `mountPath: /etc/nginx/nginx.conf` is specified, the following errors occurs:
```Error response from daemon

[2017-04-27 06:14] feiskyer commented on #41552
This PR is not required now. CNI has already been updated to latest version at #42202 and network plugins has been moved to runtimes.

[2017-04-27 06:14] feiskyer commented on #41552
/close

[2017-04-27 06:14] #41552 closed

[2017-04-27 06:22] jfpucheu opened #45001 "PodCIDR different than Flanned subnets"
Hello,

i don't know if it is normal the PodCIDR display on nodes are different than Flanneld subnets.
This is not blocking pods takes IP in flanneld CIDR.

**Kubernetes version** (use `kubectl version`):
v1.5.5 & v1.6.*

**Environment**:
- **Cloud provider or hardware configuration**: openstack
- **OS** (e.g. from /etc/os-release): Centos 7.3
- **Kernel** (e.g. `uname -a`):  3.10.0-514.el7.x86_64

[2017-04-27 06:31] fejta commented on #24343
Would you be willing to give a demo of Zuul to sig-testing?

[2017-04-27 06:46] redbaron commented on #41916
@jsravn , I am trying to understand, how it is different from ELB changing IP addresses? You roll your controllers ASG, DNS record changes, kubelets which started before you ASG roll continue to use old Apiservers which are down by that time. I see below you say ELB-less DNS-only approach helped you, can you confirm that you can trigger controller nodes ASG roll and things continue to work please?

[2017-04-27 07:21] tsmetana commented on #44172
My understanding was that even though there is no hard requirement for the two-object model it is more convenient and extensible. There were several discussions about this in the storage-sig:

* The analogy to PV+PVC seems to be more user friendly -- we would provide similar model to dynamic provisioning with snapshotting
* It might be a better abstraction for the case of external snapshots (not c

[2017-04-27 07:22] fabiand commented on #44001
Alright, with OIR kubernetes/features#76 this makes much more sense.

[2017-04-27 07:27] tsmetana commented on #44172
Snapshot is much cheaper than PV. PV should be created from the snapshot only on user's demand (e.g., recovering data from the backup) that's why snapshotRequest only creates the snapshot itself not the PV+PVC which requires a separate operation.

[2017-04-27 07:51] fejta commented on #43989
You typically pay for the amount of gcs you use each month.

You say you can run unit, integration and conformance tests. How large are the resulting junit.xml files? What other data do you want to include with each run?

How many times per day do you want to run these tests?

How many days of historical results do you want to maintain (I think testgrid defaults to showing one week)?

This should

[2017-04-27 07:52] fejta commented on #43989
PS: please `/assign` issues that require attention.
/assign

[2017-04-27 07:59] wojtek-t commented on #44701
@shyamjvs this sounds definitely like a bug, because load test itself is doing LISTs:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/perf/load.go#L506

Can you please try to look deeper into it and understand why we don't have those metrics?
This definitely seems like a bug in metrics itself, not in test infrastructure...

[2017-04-27 08:04] gmarek commented on #42438
Ping @saad-ali

[2017-04-27 08:07] fejta commented on #43989
PPS: this is very exciting and will love to add your results to testgrid asap!!!

[2017-04-27 08:16] shenshouer commented on #44941
This problem has been solved, and I close this issue.
The problem is I comment the cni config flag in kubelet.service at the nodes which I add to cluster at a later

[2017-04-27 08:16] #44941 closed

[2017-04-27 08:16] xiangpengzhao commented on #40504
/assign

[2017-04-27 08:17] xiangpengzhao commented on #40504
PR is on the way :)

[2017-04-27 08:18] foxylion commented on #43576
@edouardKaiser Is the pod being removed from the service directly after sending the SIGTERM to the pod (and switching to terminating state) or after the pod is marked as unhealthy during the shutdown.

In case of the former wouldn't it be a good thing to remove the endpoint (pod) first from the service and then terminating it? When I use a normal load balancer this is the default workflow I would

[2017-04-27 08:26] jsafrane commented on #43504
@vishh, matching existing PVs is IMO not the issue here, problem is the dynamic provisioning. You *must* know before the provisioning in what zone / region / host / arbitrary topology item you want to provision the volume. And @msau42 proposes that this decision should be made during pod scheduling.

@msau42, technically, this could work, however it will break external provisioners. You can't ask

[2017-04-27 08:29] discordianfish commented on #44955
Couldn't the kubelet in stalone mode update it to Running, once all containers are up? I suspected it's somehow related to the cluster being authoritative for the pod states. But without a cluster, just setting it to Running seems reasonable? Guess it depends on how hard implementation would be.. I agree that it should not be done if it introduces significant complexity.

[2017-04-27 08:34] emperorcezar opened #45009 "initContainers ignored with mixed versions of kubectl and server"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
initContainers

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG R

[2017-04-27 08:34] neith00 opened #45010 "Upgrade rbd client in hyperkube image"
## Feature Request ##

### Environment ###
official  hyperkube image
### Desired Feature ###

Current version of rbd client embedded in the image is:
$ root@dd1f6792540c:/# rbd --version
ceph version 0.80.7 (6c0127fcb58008793d3c8b62d925bc91963672a3)

It would be great to update the client to support ceph servers in jewel version.
It provides image-type 2 compatibility, note that image-type 1 are a

[2017-04-27 08:39] fejta commented on #44933
Thanks for the update!

[2017-04-27 08:40] lukaszo commented on #29738
It was implemented in 1.5 then reverted and implemented again in 1.6 :)

[2017-04-27 08:40] soltysh commented on #44410
I've added cherry-pick approval label, @pwittrock was ok with the fix (stated that in one of earlier comments in the PR). So we can get this out of list.

[2017-04-27 08:41] davidopp commented on #44944
Define "deprecate"...

I don't think we can get rid of Unschedulable until we do a v2 of the API. Too many people are using it. Marking it "deprecated" seems fine though, to try to push people towards using NoSchedule taints instead.

[2017-04-27 08:45] olalonde opened #45011 "invalid field failedJobsHistoryLimit"
Getting the following error when trying to create the resource below:

[code]

[code]

[code]

[2017-04-27 08:47] davidopp commented on #44944
@ravisantoshgudimetla I don't have the bandwidth to review it for 1.7, but if @mml has time to review it then it's fine for you to implement it.

[2017-04-27 08:50] sameo commented on #44503
@Random-Liu cri-o switches to a configured "privileged" runtime (typically `runc`) when either the sandbox security context `Privileged` field is on or the sandbox requires access to any host namespace (network, pid or ipc). Just for the record, it does not make sense for hypervisor based runtimes to support those options (You can't and you don't want to give a VM based container access to your ho

[2017-04-27 08:50] olalonde commented on #45011
Oops, looks like this was introduced in v1.6.

[2017-04-27 08:50] #45011 closed

[2017-04-27 09:14] xiangpengzhao commented on #39830
`Pod Disruption Budget` is a kind of policy. It's a namespace admin level resource, so it will not be displayed in `kubectl get all` output.

See: [Rules for extending special resource alias - "all"](https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all)

@bgrant0607 Brian might confirm this and close the issu

[2017-04-27 09:19] tomte76 commented on #44963
I reinstalled the whole cluster to be sure there is nothing left from old installations and testings. Kubernetes is now 1.6.2. All other versions remain the same. The problem still persists except the MASQ adress now moved to 10.32.0.1.

[code]
Pods and services are deployed as follows

[code]

As I can see on dt-kube-test-2 the NodePort 31062 is opened by kube-proxy

[code]

I identified the kube

[2017-04-27 09:24] jsravn commented on #41916
@redbaron My ASG IPs don't change. Even if they did, I could shut down apiserver before taking it out, this would let kubelet properly disconnect. For rolling update of ASG, I shutdown apiserver as well which lets kubelet properly disconnect and then try to reconnect.

[2017-04-27 09:34] szuecs commented on #26670
We are running again into this issue for all non http traffic. We use ingress for http traffic, but for Postgres it is not an option.

[2017-04-27 10:00] edevil commented on #44951
That was fast. :) Will this be backported to 1.6 now that it is closed?

[2017-04-27 10:12] tomte76 commented on #44963
This message went away if I create a service of "Type: LoadBalancer" (even not having a cloudprovider in place). I can see the healthcheck-nodeport annotation now:

[code]

If I access the nodePort I still have the MASQ IP:

[code]
If I curl the healthcheck-nodeport from external, I get

[code]
This looks good so far from my point of view.

Putting it all together I assume that kube-proxy takes th

[2017-04-27 10:12] danielqsj commented on #45001
+1
Why PodCIDR is allocated by controller-manager instead of being reported by kubelet periodically?

[2017-04-27 11:07] soltysh commented on #32149
Yup, that's the plan, basically.

[2017-04-27 11:22] zhangxiaoyu-zidif opened #45016 "daemonset: when node lost, the pod's "READY" is incorrect"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-27 11:35] spradeepv commented on #44203
@thockin if this has to move out of servicecontroller, where do you think it fits. Endpoint controller already updates services whenever there is a change in endpoints. But we don't have endpoints in service spec to compare with the old service.

[2017-04-27 11:36] edouardKaiser commented on #43576
I agree @foxylion, that how I thought it would work too. But it doesn't, so we adapted our applications to handle SIGTERM and do a graceful shutdown.

[2017-04-27 12:00] xiangpengzhao commented on #43556
@deads2k Would you help please? Thanks!

[2017-04-27 12:22] supereagle commented on #44190
@8enmann  Sorry for late response, I'm a little busy recently. I will take a look at this issue tomorrow.

[2017-04-27 12:31] crassirostris commented on #44976
/cc @piosz

[2017-04-27 12:40] piosz commented on #44977
cc @jayunit100

[2017-04-27 12:43] kirs commented on #44956
🎉 🎉 🎉

[2017-04-27 12:45] databus23 commented on #34043
@koubas Did you manage do figure it out. Its a mystery to me too.

[2017-04-27 12:45] mayurch commented on #40253
@andrewrynhard How did you find the right port number?

[2017-04-27 12:47] andrewrynhard commented on #40253
@mayurch default port is 6443.

[2017-04-27 12:54] adohe commented on #45009
another version-skew issue. @kubernetes/sig-cli-bugs

[2017-04-27 13:01] sean11 commented on #43576
I've implemented a similar solution to @foxylion with a preStop hook that will cause the readinessProbe to fail and take the pod out of service before the SIGTERM is sent so that I don't have to build SIGTERM handling into all of my applications. I do feel like this should be a bit more straightforward/built-in though. Any time I have to add a 'sleep 30' into a script I question whether or not the

[2017-04-27 13:04] kirs commented on #44956
What's the timeline for 1.6.3 release?

[2017-04-27 13:15] gmarek opened #45019 "Multiple ways to create REST client"
client-go is a mess. Not that it's very surprising or revealing, but I was playing with adding traces to K8s and had to modify client. When you try to do that you end up with looking at numerous functions like `RESTClientFor`, `NewRESTClient`, `UnversionedRESTClientFor` and who knows what else. Do we really need all of them? Can't we just have one that takes (maybe modified) config and does everyt

[2017-04-27 13:33] shyamjvs commented on #44701
@gmarek I've sent out PR https://github.com/kubernetes/kubernetes/pull/45021 for also including request count for each metric. Will follow it up with a change in the performance comparison tool for filtering metrics from runs with <10 request count.

[2017-04-27 13:36] colinmorelli opened #45022 "Pods have no network access on new 1.6.2 cluster"
**Is this a request for help?** Yes and no. See below.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report / Possible request for improved documentation. Almost certainly this is a problem with how I've set something up, but at the least there's an opportunity for k8s to help explain what's going on here.

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

[2017-04-27 13:45] foxylion commented on #43576
@sean11 For me it is still unclear if it is only necessary to add a `["sleep", "5"]`, or we have to explicitly fail the readiness probe to remove the pod from the service.

[2017-04-27 13:51] eveny commented on #41916
I see similar behaviour.  The physical cluster with 3 nodes, multi-master setup.
**Environment:**
K8S: 1.6.2
OS: Container Linux by CoreOS 1353.6.0 (Ladybug)
Kernel: 4.9.24-coreos
h1: 144.76.41.106
h2: 144.76.62.71
h3: 136.243.71.6
load balancer: 148.251.206.80

**Steps to reproduce:**

1. Stable cluster, Load balancer IP is on h2 and it behaves as master.

Kubernetes master is running at https://

[2017-04-27 13:51] clenimar commented on #33292
is anyone working on this issue? @nikhiljindal

[2017-04-27 13:54] piosz commented on #13048
Yes, there is [addon-resizer](https://github.com/kubernetes/contrib/tree/master/addon-resizer) implemented by @Q-Lee.

[2017-04-27 13:54] #13048 closed

[2017-04-27 14:01] piosz commented on #44581
This is already fixed and being rolled out. ETA early next week. This already works in some zones, for example `us-east1-d`.  You can verify this by:
[code]

[2017-04-27 14:01] #44581 closed

[2017-04-27 14:06] danielfm commented on #41916
@eveny thanks for the information! 🎉

Since you already have a test environment, can you do a quick test and use an ALB instead of a classic ELB, to see if this changes anything?

[2017-04-27 14:11] cmluciano commented on #45022
/label network

[2017-04-27 14:11] cmluciano commented on #45022
Will try to reproduce this

[2017-04-27 14:11] liggitt opened #45023 "TestRoundTripAndNewConnection flake"
seen in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44996/pull-kubernetes-bazel/14985/
[code]

[2017-04-27 14:14] sean11 commented on #43576
Just adding a preStop hook that sleeps will only delay the SIGTERM from being sent to the pod. According to the [latest kube Pod docs](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods), after the preStop hook completes, a pod is marked as "Terminating" at the same time the SIGTERM is sent, meaning the pod will still be in service during the preStop hook unless the readin

[2017-04-27 14:16] danielfm commented on #41916
Already linked my kube-aws issue to this one, but just for the record I'd like to report that I've run into this issue twice in 3 days, and in both occasions ~50% of the nodes transitioned to `NotReady` at roughly the same time causing ~10m downtime in some critical services running in my production cluster.

Just like @zihaoyu reported, I also contacted the AWS support requesting information abou

[2017-04-27 14:17] piosz commented on #44609
There are also 2 other possible (future) solutions for the problem:
- rescheduler migrates some DNS pods to optimize its spread
- priority/preemptions features takes into account kind of the creator of pods and a critical ds (which can run only on one particular node) has higher priority than a critical deployment (which can run on any node).

[2017-04-27 14:17] colinmorelli commented on #45022
@cmluciano Let me know if there's anything else you need from me. If it'll be helpful I can probably get you access to the instances.

[2017-04-27 14:20] piosz commented on #42718
@coffeepac @stevesloka the best spot to discuss it is sig-instrumentation. I added this to the agenda on 5/11.

[2017-04-27 14:25] atombender commented on #44581
@piosz Out of interest, will there ever be a `gcloud container clusters update --logging-service=none` for clusters that have already been created with logging enabled?

[2017-04-27 14:30] nealef opened #45024 "LUN specification for FC Persistent Volumes"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0+776c994", GitCommit:"a9e9cf3",
GitTreeState:"clean", BuildDate:"2017-02-17T20:57:29Z", GoVersion:"go1.7.3", Compiler:"gc", Platform:"linux/s390x"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0+776c994", GitCommit:"a9e9cf3",
GitTreeState:"clean", BuildDate:"2