[2016-02-27 01:43] bprashanth commented on #21820
I referenced a specific comment and it closed the issue.
But I actually think this is fixed. I think the real problem was that all addons were landing on one node (https://github.com/kubernetes/kubernetes/issues/21947) and kube-proxy was getting as much cpu as pause (https://github.com/kubernetes/kubernetes/pull/22022, see the timing stats above, it was taking 1m to run through a relatively simple

[2016-02-27 01:43] yujuhong commented on #21751
From docker.log:
[code]

[2016-02-27 01:52] arun-gupta opened #22106 "Cannot run Kubernetes on Amazon"
Downloaded Kubernetes 1.1.8 from:

https://github.com/kubernetes/kubernetes/releases/download/v1.1.8/kubernetes.tar.gz

Followed the instructions at:

https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/aws.md

And got the following error:

[code]

AWS Console showed that the bucket was created but was empty.

[2016-02-27 01:53] yujuhong commented on #21751
My theory is that `docker exec` during `docker stop` may cause docker to leave the container in a unrecoverable state (yep, a bug). I can consistently reproduce this by simply creating [pods with the frequent, exec liveness checks]( https://gist.github.com/yujuhong/d1d2da004c1b796350c0) (which always fails), and leave the cluster for < 10 min. The restart counts of some of the pods will stop incre

[2016-02-27 01:55] yujuhong commented on #21751
FWIW, I also tested it with docker 1.8.3, which has the same problem.

[2016-02-27 01:57] thockin-cc commented on #22102
It should be checked in somewhere already.  Not in contrib?
On Feb 26, 2016 7:10 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-02-27 02:07] Calpicow opened #22109 "[v1.2.0-alpha.8] --hostname-override with kubectl logs"
Running in AWS with an environment where the given hostname does not resolve. So I set --hostname-override to the raw IP for kubectl logs to work. This no longer works after upgrading to v1.2.0-alpha.8 from v1.1.4.

[2016-02-27 02:09] mikedanese opened #22111 "Flake in ./hack/test-cmd.sh, extra cassandra label"
[code]

[2016-02-27 02:10] AdoHe commented on #13719
@bgrant0607 ok I will work on this.

[2016-02-27 02:14] pwittrock opened #22112 "node node summary metrics missing pods on systemd"
When running on a systemd host, pod metrics don't show up in the summary api.  Can be tested on ubuntu wily.

[2016-02-27 02:15] bprashanth commented on #22102
Haha, it's under "for-demos": https://github.com/kubernetes/contrib/tree/master/for-demos/serve_hostname

[2016-02-27 02:15] #22102 closed

[2016-02-27 02:22] justinsb commented on #22106
Sorry this is still happening.  We believe it is because S3 is eventually consistent.  If you try again, it should work because it will now have created the bucket.

Thanks for the bug report though - will help with identifying the timeout that needs boosting!

[2016-02-27 02:25] mqliang commented on #22054
@davidopp Sounds fascinating. Expecting your manuscript and hoping they could be complementary.

[2016-02-27 02:31] justinsb commented on #21526
Marking as P1 for next-candidate as it is a very common question, and @aronchick wants it :-)

[2016-02-27 03:05] smarterclayton commented on #20497
Re: setting TTL we saw significant impact to end to end cluster
latency when using it for delete, so I'd be hesitant.

The node controller should delete a node that stops checking in and
should eventually force delete the pods on that node, so there is
already a mechanism to recover from this that should be in play.  If
the node controller thinks the node is healthy, that's probably a
bigger issue

[2016-02-27 03:13] justinsb opened #22118 "AWS: Make sure created ELBs have cluster & service tags"
I'm pretty sure we do now tag ELBs with the service name now with a recent PR, but we should verify that we have a service tag & a cluster tag.  See request here:
https://github.com/kubernetes/kubernetes/issues/15203#issuecomment-189316080

Note this is the ELB, not just the security groups.

cc @guoshimin and @davidopp

[2016-02-27 03:14] justinsb commented on #15203
@davidopp @guoshimin tagging of ELBs is a good request.  We recently added some tagging; it should be easy to add any missing tagging.  Tracking as #22118

[2016-02-27 03:15] justinsb commented on #21731
This might be as simple as creating a script mirroring the GCE workarounds, and then adding it to the docker systemd manifest with ExecStartPre=.  We already replace the Docker manifest...

[2016-02-27 03:17] mikedanese commented on #20497
@smarterclayton The node controller did not think the node was healthy. The problem was that the kubelet was not healthy enough to gracefully terminate pods and the eviction path does not handle that.

[2016-02-27 03:35] bgrant0607 commented on #22070
Cc @janetkuo @madhusudancs @kargakis @mqliang

[2016-02-27 03:36] justinsb commented on #15203
Oh ... and related: on AWS we already reserved some tags.  I screwed up originally and called the primary tag "KubernetesCluster", but otherwise we're now claiming the whole "*.kubernetes.io/..." namespace for our own purposes.  Nobody's complained yet, but then these are only tags (not names) and I haven't exactly been broadcasting the fact that you shouldn't allow your tags to collide.  But on t

[2016-02-27 03:44] bgrant0607 commented on #22070
Thanks, Jay. Even with this change, the test would have failed, so we should still debug the cause.

[2016-02-27 03:51] ghodss commented on #13719
I like:

[code]

[2016-02-27 03:54] mqliang commented on #22070
It seems we don't check err here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/replica_set.go#L97

[code]

if `podsCreated` return an error, `pods` will be nil.

[2016-02-27 04:22] MikeSpreitzer opened #22120 "cluster/ubuntu to support proxy (tunnel) from kubectl to apiserver"
I have realized that I am in the unenviable position of needing to use a tunneling proxy between (a) the machine running `kubectl` as part of `kube-up.sh` and (b) the apiserver just installed.  That is, the machine running kubectl is not allowed to open a TCP connection to port 8080 on the apiserver machine.  But, of course, it _can_ open a TCP connection to port 22 (otherwise `kube-up.sh` would n

[2016-02-27 04:31] MikeSpreitzer commented on #22120
This may or may not bear some relationship with issue #19452.

[2016-02-27 04:40] mqliang commented on #22054
### Preemption: allow a high-priority pending pod been scheduled

Copy from Brog paper:

What happens when more work shows up than can be accommodated? Our solutions for this are priority and quota.
Every job has a priority, a small positive integer. A high-priority task can obtain resources at the expense of a lower-priority one, even if that involves preempting (killing) the latter. Borg defines

[2016-02-27 04:54] bgrant0607 commented on #21753
If the problem is with reaping RS-controlled pods, it could be the use of expectations in the RS controller. Expectation timeouts were eliminated from RS and RC controllers, also. Like with Deployment, we may want to expire them to workaround problems with deletion notification.

We should look at the controller-manager logs to see whether that could be the problem.

[2016-02-27 05:14] bgrant0607 commented on #20497
I don't know if this is related, but I just noticed this:
[code]
kubernetes-jenkins/pr-logs/pull/22078/kubernetes-pull-build-test-e2e-gce/30722

[2016-02-27 05:15] bgrant0607 commented on #22088
I don't know if this is related, but I just noticed this:
[code]
kubernetes-jenkins/pr-logs/pull/22078/kubernetes-pull-build-test-e2e-gce/30722

[2016-02-27 05:16] bgrant0607 commented on #22045
I don't know if this is related, but I just noticed this:
[code]
kubernetes-jenkins/pr-logs/pull/22078/kubernetes-pull-build-test-e2e-gce/30722

[2016-02-27 05:48] caesarxuchao commented on #15915
I checked the subtask that we've finished and we still have two issues left. I assigned #16049 to myself. #15910 seems to be intrinsic to htmlpreview and is unsolvable.

I think the api-references docs have covered most functionalities of swagger-ui, so we can remove swagger-ui if it still has its problems.

[2016-02-27 05:48] bgrant0607 commented on #13719
What @ghodss proposes facilitates cut&paste.

C++-style comments are blatantly wrong.

Prompts ('$') aren't needed, because we don't show output.

[2016-02-27 05:57] bgrant0607 commented on #22063
This has come up many times (see #2462).

Yes, we shouldn't try to resolve nodeName. Addresses are intended to be used. We've talked about adding more information to that array, to better indicate which address should be used by apiserver.

[2016-02-27 05:58] jonhoo commented on #19330
I believe this should be re-opened and renamed to add an option to customize the value of `max_pods` used during cluster creation.

[2016-02-27 06:16] davidopp commented on #20497
Nice debugging @mikedanese . One thing I always wondered about the graceful deletion implementation is why we do the final deletion of the pod from Kubelet rather than from the master (in the normal case). It seems like this bug wouldn't have happened if we hadn't been relying on kubelet to delete pods when their grace period expires. Also the code would probably be easier to reason about if it we

[2016-02-27 06:31] smarterclayton commented on #20497
The master doesn't know without the kubelet telling it via some path.
The kubelet always has to write the status of "yes, this has stopped"
before anything on the master can react.  If the kubelet can write
status, it can trigger delete.  If the kubelet is partitioned, you
don't know whether the pod is done or not.

Node controller manages deletion of pods on unhealthy nodes, kubelet
manages delet

[2016-02-27 06:39] bgrant0607 commented on #22054
Queue sort order and preemption are separable.

Borg's preemption mechanism was not designed with disruption budgets (#12611) in mind, and wasn't designed to decouple user specification from operational intent (https://github.com/docker/docker/issues/11187). We shouldn't follow Borg's example in this case.

@davidopp and I have discussed this topic, too, and should be in his notes.

[2016-02-27 07:54] davidopp commented on #20497
Not trying to redesign the feature, just understand the current design...

Why couldn't it be
1. Server sets DeletionTimestamp
2. Kubelet sends SIGTERM
3. Server deletes pod from etcd when DeletionTimestamp time arrives on server
4. Kubelet sends SIGKILL / removes pod on node when it sees pod has been deleted

IIUC you're saying the way it actually works is
1. Server sets DeletionTimestamp
2. Kube

[2016-02-27 09:14] liangchenye commented on #21244
@davidopp I can still see this problem. https://github.com/kubernetes/kubernetes/pull/20415

[2016-02-27 10:03] #20962 closed

[2016-02-27 10:22] sebgoa opened #22121 "kubectl container not available with latest version"
Hi,

This is probably a documentation issue.
When checking the docs for how to use service accounts we have this page:

http://kubernetes.io/v1.1/docs/user-guide/service-accounts.html

it points to "accessing the cluster":

http://kubernetes.io/v1.1/docs/user-guide/accessing-the-cluster.html#accessing-the-api-from-a-pod

Which if we don't use a client library points to using a kubectl container de

[2016-02-27 11:37] #17561 closed

[2016-02-27 12:43] jayunit100 commented on #22070
Yup....  that is fixed in the PR, right?

[2016-02-27 13:10] luxas commented on #20514
I think this is fixed at HEAD: #21486
What do `findmnt --version` output for you?

[2016-02-27 13:12] #22070 closed

[2016-02-27 13:16] bgrant0607 opened #22122 "e2e flake: deployment should support rollback [status not updated]"
kubernetes-jenkins/logs/kubernetes-e2e-gce/12369

[code]

cc @janetkuo @nikhiljindal @kargakis @mqliang @ironcladlou

[2016-02-27 13:40] bgrant0607 commented on #22122
[code]

This test should wait for status to become equal rather than checking it immediately after pods are observed. The test is racing the controllers. ReplicaSet needs to observe the pods and then Deployment needs to observe the ReplicaSet.

Note: verifyPods and related routines should be moved from resize_nodes.go to util.go.

[2016-02-27 14:49] AdoHe commented on #21353
@nikhiljindal I will open a PR this weekend.

[2016-02-27 14:53] #21938 closed

[2016-02-27 15:09] justinsb commented on #20955
Thanks for the fix!

I'm going to reopen while I verify that it works with Ubernetes-Lite...

Also note to self... make sure that the created PV has a fully qualified volume name ("aws://az/vol-123456", not just "vol-123456"

[2016-02-27 15:45] smarterclayton commented on #20497
The current design is:

1. Server records deletion timestamp and user provided grace period
seconds (or the default).
2. Kubelet observes the change, sends SIGTERM and Docker applies
sigkill after grace period
3. Caller may shorten grace period at server
4. kubelet observes shortened grace period and applies shorter
TERM-KILL window to docker
5. Kubelet observes container stopped, deletes pod.

Th

[2016-02-27 16:01] thockin-cc commented on #22102
We should just get rid of the for-demos directory and move everything IP to
the same root.
On Feb 26, 2016 6:16 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-02-27 16:02] smarterclayton commented on #22025
Reopening while we discuss the change in #22100 - I think it's likely that there is a logic bug in the node controller that allows termination watches to drop out.  We tested this pretty significantly throughout 1.1 - we have not observed this scenario until more recently, which leads me to believe we regressed in how we handle termination notice (there have been a number of performance related ch

[2016-02-27 17:14] ericchiang commented on #19828
closing now that #20347 is in

[2016-02-27 17:14] #19828 closed

[2016-02-27 18:18] wojtek-t commented on #21313
@gmarek - it seems that what you did helped to solve this problem.
However - there is one more from exactly the same category of failures:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4887/console

Can you please take a look?

[2016-02-27 19:12] bgrant0607 commented on #22122
Another failure mode:
[code]
This is the revision annotation check:
[code]
kubernetes-jenkins/logs/kubernetes-e2e-gce/12379

[2016-02-27 19:15] bgrant0607 commented on #21753
kubernetes-jenkins/logs/kubernetes-e2e-gce/12384

[code]

[2016-02-27 19:21] bgrant0607 commented on #21753
Scale up and down in the right order has a similar failure:

kubernetes-jenkins/logs/kubernetes-e2e-gce/12378

[code]

[2016-02-27 19:44] jonhoo opened #22127 "Allow specifying max-pods when bringing up clusters"
Currently, there is now way to specify the maximum number of pods per kubelet when bringing up a cluster through `cluster/kube-up.sh`. While raising the number of pods is not currently all that useful (#16943), being able to lower it may be. In the extreme case, one may even want to enforce that any given node runs at most one pod (I believe this can be achieved through a combination of labels and

[2016-02-27 19:56] Calpicow commented on #22063
+1 #22109

[2016-02-27 20:06] wojtek-t opened #22128 "integration flake: casandra failure"
test-cmd.sh failed with the following:

    12:01:47 service "cassandra" created
    12:01:47
    12:01:47 FAIL!
    12:01:47 Get all -l'app=cassandra' {{range.items}}{{range .metadata.labels}}{{.}}:{{end}}{{end}}
    12:01:47   Expected: cassandra:cassandra:cassandra:
    12:01:47   Got:      cassandra:cassandra:cassandra:cassandra:
    12:01:47 (B
    12:01:47 1535 ./hack/test-cmd.sh

https://s

[2016-02-27 20:15] ixdy commented on #21451
It came back. From kubernetes-test-go/8942:
[code]

Looks like docker 1.10.2 is unusably broken. I guess the next step is trying to figure out how to turn this into a smaller repro case?

[2016-02-27 20:50] aknuds1 opened #22130 "Cannot start apiserver as pod on CoreOS"
Using CoreOS alpha (962.0.0), I am unable to start apiserver as a pod, as described in the [CoreOS Kubernetes guide](https://coreos.com/kubernetes/docs/latest/deploy-master.html#set-up-the-kube-apiserver-pod). The problem appears to be that my certificate file can't be opened, although I don't understand why because it's perfectly accessible from the command line. This is how I find the error mess

[2016-02-27 21:07] bprashanth commented on #21451
why not always the test infra with docker from kube release n-1?

[2016-02-27 21:28] bgrant0607 commented on #22128
Also:
kubernetes-jenkins/pr-logs/pull/22129/kubernetes-pull-test-unit-integration/16607

https://github.com/kubernetes/kubernetes/blob/master/hack/test-cmd.sh#L1535

Looks like there should be 1 RC, 1 Pod, 1 Service -- 3 objects. But there are 4. Probably an extra pod.

We've been seeing a lot of suspect behavior from ReplicationController and ReplicaSet (which is basically identical code). Deploy

[2016-02-27 21:32] goltermann commented on #22128
https://github.com/kubernetes/kubernetes/pull/21639 was merged yesterday.  Possibly related @jayunit100?

[2016-02-27 21:34] goltermann commented on #22128
That was intended to fix the e2e casssandra example, but the yaml is reused here.

[2016-02-27 21:38] luxas commented on #21629
Ah, I think the root cause was that sometimes the laptop got suspended, and therefore the nodecontroller check got out of sync.

I'm really glad it doesn't seem to be a real issue (I'm reopening if I can reproduce again with no suspensions)

[2016-02-27 21:38] #21629 closed

[2016-02-27 21:39] bgrant0607 commented on #22128
Good catch @goltermann. Previously the replicas count was 1 initially, whereas now it is being reduced from 2 to 1. That reduction races with the check in test-cmd.sh.

[2016-02-27 21:58] jayunit100 commented on #22128
This was broken before
It's still broken now

The difference is that now it has a chance of passing when the containers are updated :).

[2016-02-27 22:07] jayunit100 commented on #22128
By the way, part of this tests changes were to completely decouple scaling behaviour (which is finicky) from the testing of the cassandra example   If integration.sh is relying on dynamic scaling behaviour to test cassandra, we might want to modify that as well, as that is a highly coupled test.

[2016-02-27 22:11] bgrant0607 commented on #22128
@jayunit100 The e2e test was broken. Now test-cmd.sh is also broken.

[2016-02-27 22:17] bprashanth commented on #22128
That test is racy unless you pass a timeout. If you do, scale should poll on generation number.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/scale.go#L143
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/scale.go#L187
https://github.com/kubernetes/kubernetes/blob/e827c1cba35b70467751c92889a25c9f73b06980/pkg/client/unversioned/conditions.go#L89

Maybe scale s

[2016-02-27 22:21] bgrant0607 commented on #22128
This particular test isn't the main scale test. I'll just create a pod instead of an RC.

[2016-02-27 22:21] bgrant0607 commented on #22128
Yes, all of test-cmd.sh is a flake waiting to happen.

[2016-02-27 22:30] jayunit100 commented on #22128
The service end points in the Cassandra containers jar was broken anyway, so I'm surprised this test passed to begin with at all, ((unless it skips pod validation entirely))

[2016-02-27 22:44] bgrant0607 commented on #22128
@bprashanth Yes, I'm seeing extremely delayed and/or duplicate deletions.

[2016-02-27 22:44] bgrant0607 commented on #22128
@bprashanth I suspect the store.

[2016-02-27 23:20] liggitt commented on #22063
Is there a way to indicate a resolveable DNS name, for TLS purposes?

[2016-02-27 23:29] bgrant0607 commented on #1899
Without this, test-cmd.sh will require a lot of scripted wait loops to make it robust.

[2016-02-27 23:36] mkulke commented on #22063
Summary of what I gathered so far:

- The kubelet server is addressed by `pod.Spec.NodeName` property in `pkg/registry/pod` for apiserver => kubelet operations.
- Via `--hostname-override` you can specify the node name, otherwise the hostname is used.
- Cloud providers may populate `node.Status.Addresses` with a Node's available IP addresses.
- API spec currently allows those of type: `Hostname, E

[2016-02-27 23:50] stepanstipl commented on #20497
@ncdc I believe this issue happened when I killed the AWS EC2 instance that was hosting the pods, so #22100 should fix this

[2016-02-28 00:04] bgrant0607 commented on #22128
Yet another RC-related flake occurred in the PR I created to eliminate this flake.

kubernetes-jenkins/pr-logs/pull/22133/kubernetes-pull-build-test-e2e-gce/30818
[code]

[2016-02-28 00:06] Calpicow commented on #22063
As far as AWS goes, `--hostname-override` only overrides the `kubernetes.io/hostname` node label. `NodeName` remains unchanged.

[2016-02-28 00:07] bgrant0607 opened #22134 "e2e flake: Clean up pods on node"
Encountered in PR #22133

kubernetes-jenkins/pr-logs/pull/22133/kubernetes-pull-build-test-e2e-gce/30818
[code]

See also all the Deployment flakes.

[2016-02-28 00:07] bgrant0607 commented on #22128
Filed #22134 for the new flake.

[2016-02-28 00:16] mkulke commented on #22063
@Calpicow: good point. The node name is actually gathered from the cloud-provider:

https://github.com/kubernetes/kubernetes/blob/f0c0af256110bc75447ce8997522ca1a08f58e20/cmd/kubelet/app/server.go#L578

however the cert is using `s.HostnameOverride`:

https://github.com/kubernetes/kubernetes/blob/f0c0af256110bc75447ce8997522ca1a08f58e20/cmd/kubelet/app/server.go#L379

[2016-02-28 00:23] Calpicow commented on #22063
That looks good to me. I would think the easiest fix would be to replace all `nodeHost` references to the host (or host override value):

https://github.com/kubernetes/kubernetes/blob/f0c0af256110bc75447ce8997522ca1a08f58e20/pkg/registry/pod/strategy.go#L277

[2016-02-28 00:28] pjebs commented on #21925
@fabioy Do you have any suggestions for a work-around?

[2016-02-28 00:30] mkulke commented on #22063
you mean replace them the `kubernetes.io/hostname` label?

[2016-02-28 00:31] aknuds1 opened #22135 "Kubelet on master unable to write to TLS secured apiserver"
Running kubelet on a master node on CoreOS alpha (970.1.0), I've got the problem that the kubelet is unable to write to the TLS secured apiserver, because the certificate is signed by an unknown authority:
```Feb 28 00:28:23 ip-172-31-28-248.eu-central-1.compute.internal kubelet[2941]: E0228 00:28:23.526855    2941 event.go:197] Unable to write event: 'Post https://127.0.0.1:443/api/v1/namespaces/

[2016-02-28 00:33] Calpicow commented on #22063
Yes, since the certs will match up. `--hostname-override` used to alter `NodeName`, but now this logic needs to be updated since it's no longer the case.

[2016-02-28 00:33] justinsb opened #22136 "I accidentally ran the munger locally & it touched real-github"
Going to link affected issues to this and add commentary as I figure out what happened.

Here are the logs:

[code]

[2016-02-28 00:35] bgrant0607 commented on #22134
The log shows the pod was deleted while pending with no node assigned, but events show it was scheduled and the container was started.

[2016-02-28 00:40] bprashanth commented on #22134
Was this checked in by mistake? https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_utils.go#L156

TTL on the expectations is a failsafe because we can't solve the halting problem. Setting it to 10s is guaranteed to cause an overshoot. This appears to be what's happening:
[code]

[2016-02-28 00:42] mkulke commented on #22063
sounds like a workable solution (still need to tackle the problem with cloud-providers having discovery issues due to `--hostname-override`, but i'm pretty certain now the problem is in their domain), maybe a bit "untyped". let's gather some more input... (also: what are NodeAddresses for then?)

[2016-02-28 00:48] justinsb commented on #22136
Issues affected:

#20273 ... just comment spam.
#20415 ... incorrectly removed LGTM.  I re-added it.
#20446 ... my munger set the state of the Github CI tests.  However, the integration tests do appear to have failed, so the state is correct, just the wrong account.
#20628... opened & closed an issue to trigger CI.  Looks benign if not actively helpful.

(I will edit as I go through the list)

[2016-02-28 01:16] justinsb commented on #20497
Not entirely sure if this is related, but we do have a known/reported issue where docker stops responding, but the node remains healthy.  See recent comments on #13305 . Apparently `docker ps` will hang, but `docker info` will still return.  Apparently we have recently debated whether to use `ps` or `info` (#20509 and #21347) for the health check.

[2016-02-28 01:48] #22128 closed

[2016-02-28 01:51] bgrant0607 commented on #22134
@bprashanth Your concern is that 10s is too long or too short?

[2016-02-28 01:52] bprashanth commented on #22134
Too short as the logs seem to indicate

[2016-02-28 01:57] bgrant0607 commented on #22134
@bprashanth How long would you suggest? My observation was that expectations were never satisfied after not that long, and the controllers would be unable to make progress until the timeout.

[2016-02-28 02:03] bgrant0607 commented on #22134
I could change it back to 3 minutes, I guess, but that seems excessive. There's some problem this is papering over.

[2016-02-28 02:05] bprashanth commented on #22134
Previously it was 3m with this rationale: https://github.com/kubernetes/kubernetes/pull/21856/files#diff-44bba2c68a6ea2b4ca0dbb7f4465828eL47. They should actually be ok at infinity given that we've fixed our old watch problems.

In the current logs I see a stead stream of adds coming in at a rate of 6 a second:
[code]

Is is kind of slower than I'd expect, but we set the expectaions before firing

[2016-02-28 02:28] rideswitch commented on #20475
Sounds good.  Meanwhile I'll try on a vagrant/coreos/k8s setup w/the master.yaml cloud-config from your getting-started-guide and see if it works better.

[2016-02-28 02:34] mikedanese commented on #20497
That would definitely cause this. When I saw this I had run into the kernel panic in #20096 but I think I remember the node was NotReady (well verify when I have time to reproduce). kube-controller-manager logs in this https://github.com/kubernetes/kubernetes/issues/22025#issuecomment-189521361 seem to indicate that the node controller was trying to evict the node but failing which would indicate

[2016-02-28 02:40] therc commented on #21925
I think this sounds like #484. I also remember a similar discussion on another issue.

[2016-02-28 02:46] therc commented on #21925
No concrete solutions today, but also see https://github.com/kubernetes/kubernetes/issues/18623

[2016-02-28 03:24] liggitt commented on #22063
Not sure I'm comfortable making an annotation the main way to determine the node's hostname. Seems like it should be more explicit, like bringing back the Hostname status address.

[2016-02-28 03:27] liggitt commented on #22063
Also, do we envision targeting 1.2 or after with a change here?

[2016-02-28 03:31] MikeSpreitzer opened #22139 "cluster/ubuntu/download-release.sh has old k8s release - 1.1.7 instead of 1.1.8"
The default Kubernetes release number in cluster/ubuntu/download-release.sh is 1.1.7 but 1.1.8 is out now.

[2016-02-28 03:56] markturansky commented on #20955
@jsafrane see Justin's note above about fully qualified volume name.

[2016-02-28 04:17] bgrant0607 commented on #22134
Thanks. I'm going to increase the timeout and look at the feasibility of eliminating expectations from the Deployment controller. It should be possible to make Deployment idempotent.

[2016-02-28 04:36] Calpicow commented on #22063
+1 for 1.2. This is a hard breaking change for us. It is unusable in our environment until it is fixed.

[2016-02-28 04:54] bprashanth commented on #22134
@bgrant0607 I noticed a couple of strange things. First we can't requeue because we need to pass a prt to deployment to the KeyFunction:
[code]

Second, I *think* (just by staring at code I'm new to, so I could be wrong) that we can get wedged between:
* Lower expectations in preperation for delete: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controlle

[2016-02-28 04:59] bgrant0607 commented on #22134
Thanks @bprashanth! I'll take a look.

[2016-02-28 07:22] g0194776 commented on #21643
Okay, thanks a lot.
I am going to try it on the next Monday.

[2016-02-28 08:19] bgrant0607 commented on #22061
I effectively added expiration to RS and RC. However, pod creation appears to be fairly slow, so the timeout needs to be long.

#22138 sets the timeout to 5 minutes.

It also eliminates expectations from Deployment.

[2016-02-28 08:20] levmichael3 opened #22142 "Documentation shows different kubectl client output"
I am not sure that I'm right here but my kubectl client shows different output. this might be confusing for new learners like me.

http://snag.gy/fKpam.jpg

my output shows only 'IP'. Is this correct?

![image](https://cloud.githubusercontent.com/assets/2282643/13378192/debe355e-de04-11e5-8018-8000dafadcc8.png)

[2016-02-28 08:24] bgrant0607 commented on #22134
PR #22138 should address these issues.

Graceful deletion is certainly one thing that could cause deletions to be observed later.

[2016-02-28 09:17] wojtek-t commented on #22128
@bgrant0607 - thanks a lot for debugging and fixing!

[2016-02-28 09:57] AdoHe commented on #22142
@levmichael3 can you provide your kubernetes version? use `kubectl version` can get this.

[2016-02-28 10:00] #22134 closed

[2016-02-28 10:04] AdoHe commented on #22109
@Calpicow I will take a look at this asap.

[2016-02-28 11:42] wernight commented on #10732
[**Alpine**](https://hub.docker.com/_/alpine/) is one of the most used/loved tiny base image and may well be [officially supported by **Nginx**](https://github.com/docker-library/official-images/pull/1462) for example. The main thing [blocking it to run on **Kubernetes** seems the be the **DNS lookup**](https://hub.docker.com/r/janeczku/alpine-kubernetes/) especially the `search` argument.

[2016-02-28 13:34] justinsb commented on #20955
I'm actually not sure whether we do not a fully qualified volume name after all.  I just don't want to close until I've has a chance to test it out with Ubernetes-Lite.  Thanks for the fixes on volume autoprovisioning & sorry for the conflict!

[2016-02-28 15:05] pjebs commented on #21925
Is there any way I can use kubernetes to make a scalable iperf3 server?
If not, then k8s has a serious limitation

[2016-02-28 15:10] pjebs opened #22145 "Scalable iperf3 server"
Is there any way I can use k8s to make a scalable iperf3 server?

Iperf3 is used to measure internet connection speed between server and client.
I need all clients connecting using single unified endpoint.
The server program can only deal with 1 client at a time hence need to run it a container. It a second client tries to connect whilst it is busy with first client, the second client gets error m

[2016-02-28 15:10] pjebs commented on #22145
https://github.com/kubernetes/kubernetes/issues/21925

[2016-02-28 15:45] txomon opened #22147 "Avoid supposing a default python version"
I have found many `python -c` calls, and submitted a PR #22144, but speaking with @justinsb , doesn't seem the best option to use python3, as OS X for example doesn't have any python3 installed by default.

Also, we are assuming python 2.6 onwards on some of the python calls. I can think on the following options:
- Make python 2.7 a default and check for >python2.6
- Get rid of python for yaml/jso

[2016-02-28 15:52] AdoHe opened #22148 "update deployments.md to use the correct flag when enable depolyment feature"
Just from other discussion #19515, the `deployments.md` use wrong flag when instruct how to enable deployment using `kube-up.sh`, and we should update this.

[2016-02-28 15:54] txomon commented on #22147
The issue is that I am running python3 by default, and during AWS cluster creation:

[code]

[2016-02-28 17:08] liggitt commented on #22063
Is the behavior different than 1.1? Not disagreeing something is needed, just trying to determine if the issue is a regression from the previous release.

[2016-02-28 17:15] eparis commented on #21451
I'd argue we should be using our CI to find problems across the entire system (including docker 1.10) instead of only in our code. If we didn't do things like this in the CI how would we know what version of docker to use in kube n+1?

I'd hope that @runcom and @rhatdan will help fix docker if @ixdy can help us find a reasonable reproducer for the `Error deleting container: Error response from dae

[2016-02-28 17:19] eparis commented on #22136
`--dry-run` probably should be the default....

[2016-02-28 18:18] bprashanth commented on #21451
When CI breaks release is halted. Release is using 1.9. CI is broken because of bugs in 1.10. Release is not using 1.10 because of those very bugs. Vicious cycle?

Also we're duplicating effort. The node team is currently hammering on docker 1.9, and there will be a list of documented known issues with the relese. If we were using 1.8 in CI, we'd have this list.

[2016-02-28 18:31] jaohaohsuan commented on #19332
thanks it works

[2016-02-28 18:35] Calpicow commented on #22063
My mistake--I've reviewed the relevant parts from v1.1 and v1.2 and their behavior is similar.

I also forgot about the modified AWS cloudprovider that we use, which uses `PrivateIpAddress` as `NodeName` instead of `PrivateDnsName`. Good news is that I could sustain with this hack for now.

A brief review of the code and some PRs/issues shows that a fix isn't as trivial as I thought, and has poten

[2016-02-28 18:40] bprashanth opened #22150 "Informer should abstract graceful deletion"
Graceful deletion is the default now. We should apply a consistent policy to all controllers about how this is handled. A possible outline:
1. When a pod with a deletion timestamp is noticed, it should count as a delete instead of an update.
2. The same pod should not show up as another delete notification when the kubelet wacks it.
3. delete with --grace-period=0 should continue to work as it cur

[2016-02-28 19:11] spxtr commented on #21995
This may have been caused by 6f8a951 (#20446). Both `kubernetes-e2e-gce` and `kubernetes-e2e-gke` failed this test for the first time on that commit and have been flaky ever since. Hard to say with flakes, though.

[2016-02-28 19:15] bprashanth commented on #22061
Is this about the need for refcounting in the RC manager, or something larger? The issues hint at a unified theory of controllers *much* larger than the adhoc implementation of expectations that has been cargo culted around.

The RCs need to be precise, so they need to refcount. Not all controllers have the same requirements. Fwiw in the controllers I've written (ingress/service) I've just invente

[2016-02-28 19:32] bgrant0607 commented on #22122
Latest failure:

[code]
kubernetes-jenkins/logs/kubernetes-e2e-gce/12453

[2016-02-28 19:49] aknuds1 opened #22151 "Log reason for failure to launch pod"
Kubelet should not only log that it failed to launch a pod, but also the reason for this. Currently I have to dig in (inactive) container logs in order to get at this. Using version v1.1.2+3085895.

[2016-02-28 21:02] clubanderson commented on #8019
worked for me - replaced the salt bootstrap with the gist.

when is this going to be committed to a branch?

[2016-02-29 01:00] bprashanth commented on #20552
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-slow/1186/
I updated https://github.com/kubernetes/kubernetes/pull/18672, and I'm also spacing out the hit endpoints calls which currently runs in a tight loop ~10 times. I would still recommend that instead of trying to wc -l we try hitting one endpoint for a while, the try hitting the next.

[2016-02-29 01:46] jumpkick commented on #22098
Once a second is not bad as log spam goes...  I'm running 1.2.0a7 and there hundreds of messages being spammed to the API server log regarding missing daemonset config (404)...  Literally 75% of the log is that message [ docker logs $(docker ps | grep k8s_apiserver | cut -d" " -f1) 2>&1 | tail -20 | grep daemonset |wc  -l == 14 ]

[2016-02-29 03:04] caesarxuchao commented on #22111
Duplication of #22128. Fixed by #22133. Closing.

[2016-02-29 03:04] #22111 closed

[2016-02-29 03:22] AdoHe opened #22157 "update git ignore file to just ignore untracked yaml files."
FYI. I used the latest master code to setup a local cluster by running `hack/local-up-cluster.sh`, now this will create three yaml files: `namespace.yaml`, `skydns-rc.yaml` and `skydns-svc.yaml` under your `$GOPATH/k8s.io/kubernetes/`, I don't know whether we should put these files on other directory like `/tmp` but at least we should update `.gitignore` to just ignore this file, or if someone use

[2016-02-29 03:46] amygdala opened #22158 "can't delete a daemonset if an existing rc (with > 0 replicas) uses the same label for its pods"
Not sure if this will be considered a bug.
Suppose you create a RC with a given label selector for its pods (and > 0 replicas), then create a daemonset that uses the same label for its pods.

Then, if you try to delete that daemonset, the deletion will never terminate, since the termination process is waiting for the associated pods to shut down before it exits.  Things will just thrash back and f

[2016-02-29 03:47] liangchenye commented on #18738
@jlowdermilk  Hi, I can still reproduce this on #20415

[2016-02-29 04:17] bgrant0607 commented on #21995
This failed at least 15 times in the last day or so. It needs to be fixed or moved back to the flaky suite.

[2016-02-29 04:24] AdoHe commented on #21353
@nikhiljindal First I use the latest master branch code to test this:
[code]
The result is ok, I can create a deployment named `nginx-deployment` even though I just have `v1.1.2` scheam under `~/.kube/schema` before I create the deployment. And I just noticed that after I run this command, a new schema version will be downloaded into the schema directory.

[2016-02-29 04:49] thockin opened #22159 "Add apparmor and seccomp to PodSecurityPolicy"
I was speaking with a customer this week who has a fairly established app stack using apparmor.  As we explored how to make it work in Kubernetes it dawned on me that, even if the config of an apparmor profile is opaque, the existence of it can be exposed in the API and carried all the way down to container runtime (e.g. Docker).

We could do something like:

[code]

Just jotting notes for future

[2016-02-29 04:50] thockin commented on #22159
@pmorie @smarterclayton @erictune

[2016-02-29 05:02] liggitt commented on #21995
It's a relatively new test (about a week old), but I'm having a hard time seeing what made it flaky in the last couple days, and I can't reproduce locally (of course). Testing a possible fix in https://github.com/kubernetes/kubernetes/issues/22160

[2016-02-29 05:06] HackToday commented on #13382
@suzukihi724  do you mean you would not hit this issue with more memory case ?

How many memory do you use ?

[2016-02-29 05:15] smarterclayton commented on #22159
With SELinux we made the assumption that your policy across the cluster was either homogenous, or that you were responsible for defining a pattern and applying it and controlling access to nodes.  Does the indirection from pod to profile have any particular benefit or disadvantages?  For selinux it's been a fairly mechanical range / enforcement usage, although we're starting to ask how to propagat

[2016-02-29 05:48] eknkc opened #22161 "skydns stops working randomly"
Hi,

Recenly, one of our clusters on GCE (1.1.7) started having intermittent connection issues. It turned out to be dns resolver issues. Here are my findings during a recent occurance:
- Pods can not resolve anything.
- If I remove skydns ip from /etc/resolv.conf, they work fine. (secondary ip is 169.254.169.254)
- skydns logs `2016/02/29 04:54:22 skydns: failure to forward request "read udp 169.2

[2016-02-29 05:57] caesarxuchao commented on #20916
FWIW, another occurrence: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22156/kubernetes-pull-build-test-e2e-gce/30907/

[2016-02-29 06:03] thockin commented on #22161
This is not something we have seen before - even running DNS benchmarks.
Is it something you can trigger?

If it happens again, can you `tcpdump -i cbr0  port 53` and capture some
failures?  I would also like to see you `kubectl exec` into the skydns
container `kubectl --namespace=kube-system exec -ti kube-dns-v10-di5zy -c
skydns sh` (sub in your own DNS pod name) and `nslookup google.com`.

On Su

[2016-02-29 06:16] thockin commented on #21735
We should probably audit the master components, the kubelet, and the kube-proxy for assumptions of "listening on all interfaces" and find a consistent way to express what interfaces the user really wants.  This has come up a few times and we tend to forget that nodes with one NIC on public internet are not that uncommon.

[2016-02-29 06:26] nikhiljindal commented on #21353
deployments is now enabled by default on HEAD.

To test it, you can first bring up a server with deployments turned off and use kubectl so that it fetches a schema without deployments.
Then restart the server with deployments turned on and then you will see this issue.

[2016-02-29 06:32] piosz commented on #20925
It seems #21924 helped here. HPA e2e tests are passing in upgrade suite, so closing the issue.

[2016-02-29 06:32] #20925 closed

[2016-02-29 06:58] bgrant0607 commented on #22122
The problem above may be related to #20497.

A bunch of changes have been made to ReplicaSet and Deployment. We should wait to see whether this recurs or not.

[2016-02-29 06:58] bgrant0607 commented on #21753
A bunch of changes have been made to ReplicaSet and Deployment. We should wait to see whether this recurs or not.

[2016-02-29 06:59] bgrant0607 commented on #22088
The problem above may be related to #20497.

A bunch of changes have been made to ReplicaSet and Deployment. We should wait to see whether this recurs or not.

[2016-02-29 07:00] AdoHe commented on #19515
@kargakis in kubernetes 1.1.7 the schema-cache-dir will be `/tmp/kubectl.schema`, so you need to delete this.

[2016-02-29 07:13] bgrant0607 commented on #22122
Oops, comment moved to #22088.

This appears to be the most common Deployment flake. We need to resolve it ASAP. See my comment here:
https://github.com/kubernetes/kubernetes/issues/22122#issuecomment-189642102

Please also search the controller-manager logs for MISSING, and fix them. For example, line 746 in deployment_controller.go presumably was intended to print the Deployment:
[code]

Additio

[2016-02-29 07:19] AdoHe commented on #21353
I did another test under kubernetes 1.1.7
First bring up a cluster with deployment turned off:
[code]
Then use kubectl to verify deployment disable:
[code]
Also kubectl will fetch `v1.1.7` version schema and put it in `/tmp/kubectl.schema/`.
Next I bring up a cluster with deployment turned on:
[code]
And the result of kubectl:
[code]
It seems it's ok, the schema cache dir get updated if you check

[2016-02-29 07:28] wojtek-t commented on #22072
Looking into it now.

[2016-02-29 08:17] wojtek-t commented on #22072
@fabioy - those 3 are completely different issue:
- the second one was fixed by #22051
- the third one (kubemark) was cause by a PR in kubelet that was reverted

The only real issue is the first one. And what is happening there is:
- we are starting N pods in N-node cluster to check the pods startup time
- however, if few of them with close numbers (we are creating one pod per 200ms) are scheduled

[2016-02-29 08:23] wojtek-t commented on #22072
So in the following case - we basically scheduled 3 pods to the same node within 1.4s. According to what @yujuhong wrote in some other PR, it's more than supported by Kubelet now ( @yujuhong - can you confirm?)

So what we should do is to debug, why scheduler is scheduling those pods to a single kubelet in that phase. @gmarek

[2016-02-29 08:29] bgrant0607 commented on #22088
Failed again, on ubernetes-lite for some reason: kubernetes-e2e-gce-ubernetes-lite/580/
[code]

[2016-02-29 09:02] gmarek opened #22165 "Master proxy sometimes hangs when Node becomes unresponsive"
When proxying to the Node that is not responsive proxy hangs indefinitely, comment: https://github.com/kubernetes/kubernetes/issues/21313#issuecomment-189173573

ResourceGatherer uses some fancy tooling together with proxy, but MetricsGrabber don't - it's just plain proxy call, which also hangs.

@kubernetes/sig-api-machinery

[2016-02-29 09:17] nikhiljindal commented on #21353
cc @brendandburns

[2016-02-29 09:22] piosz commented on #21995
Yet another fail
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12482/

cc @mwielgus @fgrzadkowski

[2016-02-29 09:38] wojtek-t opened #22166 "e2e flake: Kubelet didn't started system pods"
The following run of scalability suite failed, because system pods didn't start on one of the nodes:
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4911/build-log.txt

However, when looking into logs, it wasn't problem with node itself - it was ready all the time.
The problem is with this Kubelet:
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-j

[2016-02-29 09:38] davidopp commented on #3945
Oh and the design doc for it is here
https://github.com/kubernetes/kubernetes/blob/master/docs/design/podaffinity.md

[2016-02-29 10:16] wojtek-t commented on #22165
Just to give more context - it seems it's not always when just node is unresponsive, because @gmarek wasn't able to reproduce it locally. See this comment for details:
https://github.com/kubernetes/kubernetes/issues/21313#issuecomment-189258894

[2016-02-29 10:21] gmarek commented on #21753
It does: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12485/

[2016-02-29 10:43] wojtek-t commented on #22072
@gmarek is adding some more logging in #22168 that would allow us to say something more about scheduler`s decision.

[2016-02-29 10:48] magicwang-cn commented on #20750
@kubernetes/huawei

[2016-02-29 11:20] maclof commented on #22161
I experience the same issue quite a lot, although I use bare metal servers and not GCE.

I used to default all of the pods on my cluster to use ClusterFirst for DNS, but due to this issue I had to change it to use a local dnsmasq server instead.

This is the log from yesterday:
[code]

I'll also try to get some tcpdump data for this.

[2016-02-29 11:29] #21313 closed

[2016-02-29 11:43] kargakis commented on #20497
Deleting a deployment is hitting this now @bgrant0607 @janetkuo
[code]
https://github.com/kubernetes/kubernetes/issues/22088 is most probably related to this.

[2016-02-29 11:43] kargakis commented on #22065
Fixed by https://github.com/kubernetes/kubernetes/pull/22078

[2016-02-29 12:06] wojtek-t commented on #20403
@pmorie @ncdc - what's the status of this?

[2016-02-29 12:31] andrejvanderzee opened #22173 "Not able to run DaemonSet Pods"
Hi,

Since today we are running Kube 1.1.8 and I am testing DaemonSets now. I can create a simple daemonset with "kubectl create -f nginx-ds.yaml --valudate=false" (it seems I have to set validate to false):

[code]

Then "kubectl get daemonsets" gives me:

[code]
But "kubectl get pods" gives me an empty list.

Also, I had to add the following option to the kube-apiserver command:
`
--runtime-conf

[2016-02-29 12:52] piosz opened #22174 "Improve HPA decisions understability by exporting better described events"
As a follow up from our offline discussion, we want to let users know that:
- why decision was made (ie. increased CPU usage)
- HPA uses the default autoscaling policy

ref #22171

[2016-02-29 12:53] piosz commented on #22174
cc @mwielgus

[2016-02-29 13:02] gmarek commented on #21767
@mml @mikedanese - I looked at this flake and it actually looks like a real-ish problem somewhere (in system or in test logic). What this test does, to my understanding, is that it schedules one daemon on every Node, then lists daemons and expects that they will be one running daemon per Node. This implicitly assumes that daemon has a 'higher priority' than other pods running on Nodes, which turns

[2016-02-29 13:17] brunoqc commented on #20514
"findmnt from util-linux 2.27.1"

[2016-02-29 13:37] wojtek-t commented on #20552
This happened again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/2727/

[2016-02-29 13:39] gmarek commented on #21767
I looked at the kubelet-logs and they confirm my theory - in the same time when daemon was scheduled on `poqh` node there were at least a couple of other tests running. Around that time I noticed Kubelet logs about `nginx`, `redis master`, `cleanup` (from kubelet cleanup test), `liveness-http` and I probably missed a couple. It's quite possible that all those pods were fully saturating the Node an

[2016-02-29 13:40] wojtek-t commented on #21451
IIUC, we updated our machines back to 1.10, right? If so, can we downgrade them back to 1.9 ASAP - this is causing a bunch of failures of test-go Jenkins suite, which in turn is blocking merge-bot (which is obviously annoying). @ixdy

[2016-02-29 13:40] fgrzadkowski commented on #22174
This is more complicated then expected. Currently we re-list all HPA objects in a loop. This makes it hard to find out about new autoscalers. We should switch to controller framework, which will make it trivial and has the benefit that it'll reduce load on apiserver (uses watch instead of relisting everything).

[2016-02-29 13:47] piosz opened #22176 "e2e flake: Cluster size autoscaling"
Cluster autoscaling tests fail with because Heapster can't detect that it runs on GCE:
[code]

[2016-02-29 13:55] woodbor commented on #8262
@yifan-gu : Can you tell, what's the current status of `e2e tests` with rkt, or is there any PR related with it ? I see only https://github.com/kubernetes/kubernetes/issues/7205

[2016-02-29 14:04] chengyli commented on #7562
@davidopp
Current hostpath PersistentVolume doesn't support multiple nodes, is there any plan to enhance the kube-scheduler to make sure that pods which request same PersistentVolumeClaim shall not be scheduled on the same node? e.g. similar function as isVolumeConflict() in predicates.
Then cluster admin can label the nodes which shall provides the local storage, and create the PersistentVolume r

[2016-02-29 14:12] piosz commented on #22176
cc @mwielgus @fgrzadkowski @kubernetes/autoscaling

[2016-02-29 14:23] piosz commented on #21995
And same for GKE:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1951/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1952/

[2016-02-29 14:29] wojtek-t commented on #21769
This just happened to me again:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/22175/kubernetes-pull-build-test-e2e-gce/30948/build-log.txt

[2016-02-29 14:36] pjebs commented on #21925
Would I be able to use kubernetes with AWS lambda to kick start a pod for a request and route request to iperf container?

[2016-02-29 14:37] pjebs commented on #22145
Would I be able to use kubernetes with AWS lambda to kick start a pod for a request and route request to iperf container?

[2016-02-29 14:55] jdef commented on #21843
what would be the new way to run the conformance or smoke tests?

[2016-02-29 14:57] jdef commented on #21843
#21818

[2016-02-29 14:59] geoHeil opened #22178 "docker multiple nodes flannel container not found"
Following the (head) https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.md documentation
I set these variables:

[code]

executing:

[code]

results in

[code]

using it without the last options

[code]

like this results in no error message being displayed.
Is this a problem? e.g. would I need these options?

Running the `mster.sh`

[code]

Do

[2016-02-29 15:07] mikedanese commented on #20497
@kargakis Were the nodes not ready? Can you post a kubelet.log on a machine with a terminating pod and a controller-manager.log?

[2016-02-29 15:16] jdef commented on #22081
Yes, it's overloaded. Probably not ideal if we ever want to use different configs in the scheduler vs the kubelet. In general I'd say that configuration in k8sm needs an overhaul.

Semi-related:
* https://github.com/mesosphere/kubernetes-mesos/issues/516
* https://github.com/mesosphere/kubernetes-mesos/issues/758

[2016-02-29 15:18] timothysc commented on #13944
imho we should be moving "examples" out of the core.  They are better suited to live in helm or contrib.

[2016-02-29 15:21] jdef commented on #22085
code doesn't support your intent, at least in it's current form. I could perhaps see justification for an `--executor-api-servers` flag, whose value defaults to that of `--api-servers` and is never allowed to be empty. The value of which is passed along as `--api-servers` in the scheduler's `prepareExecutorInfo` func.

[2016-02-29 15:22] vpal opened #22179 "Provide possibility to specify the group a container is run as"
I have seen this mentioned regarding volumes in separate issues but I wanted to open a new issue that is not related to volumes to clarify how important this is despite that no volumes are mounted.

Please support the option to specify both the user and group the container is run as like docker does with the following option of the "docker run" command:
`-u, --user=                     Username or

[2016-02-29 15:23] kargakis commented on #20497
@mikedanese nope, the node was up and running. Unfortunately I have brought the cluster down since, will report back with those logs once I hit it again.

[2016-02-29 15:25] pmorie commented on #22157
I made a PR to use /tmp instead of the working directory: #22131

[2016-02-29 15:26] pmorie opened #22180 "local-up-cluster: SkyDNS sometimes leaks etcd processes"
Sometimes when you're running a local cluster with `hack/local-up-cluster.sh`, and you hit control-C, the skydns etcd remains running.

[2016-02-29 15:28] gmarek opened #22181 "e2e flake: SchedulerPredicates tests timeout waiting for system pods to become ready"
[code]

Something strange happened in this test. At first there were 16 system pods listed by:
[code]
but after while there were only 14:
[code]

No nodes were created/deleted before this test, so it's not caused by this. OTOH one Node became unready not long before this test and NC started terminating Pods. There's also quite strange log line:
[code]
Where `30s` is a set GracePeriod, despite Dele

[2016-02-29 15:31] AdoHe commented on #22157
Ok, just close this.

[2016-02-29 15:31] #22157 closed

[2016-02-29 15:33] cassiussa commented on #21913
I could use some assistance with how to go about tracking down the origin point of this problem, be that either with logs to check or commands to run on the server. :)

Unsure if this is the result of a bug or not.

[2016-02-29 15:36] AdoHe commented on #22180
I meet the same problem today, hit control-C twice, `hack/local-up-cluster.sh` exit, but the etcd process remains running.

[2016-02-29 15:54] pmorie commented on #20403
@wojtek-t I'm working on an e2e that captures the existing failure, hope to have a PR in the next day or so.

[2016-02-29 15:57] timothysc commented on #21817
FWIW - I think examples should be moved out of kubernetes core repository, and is more suited to live in contrib/helm/etc.  As of today, most are not "examples", they're apps, which should live outside the core.

[2016-02-29 16:20] thockin commented on #22161
Interesting.  Thanks.  Data will help.

On Mon, Feb 29, 2016 at 3:20 AM, Marc Lough <notifications@github.com>
wrote:

[2016-02-29 16:32] timothysc commented on #21081
@rrati I believe there was metrics hacks that allowed us to track per-host connection counts+endpoints on the master.

/cc @jayunit100

[2016-02-29 16:33] pmorie commented on #18455
@yvespp that's weird -- i'll look into it.

@davidopp if you don't mind i'd like to keep it open to track and follow-up tasks that shake out over the next day or two.

[2016-02-29 16:34] ArtfulCoder commented on #22161
Are you using user space kubeproxy ?

Sent from my iPhone

[2016-02-29 16:36] maclof commented on #22161
I'm using iptables proxy with v1.2.0-alpha.3

[2016-02-29 16:40] pmorie opened #22182 "Example API server test always fails if local cluster is running"
...because they both use http://127.0.0.1:8080

The example API server should use another port like 8081 that isn't likely to be used by something already running on a dev machine.

[2016-02-29 16:46] ArtfulCoder commented on #22161
You are probably using an older version of skydns too. It would help a bit to try upgrading it to the version that we now use on HEAD. Also, we have moved to a configuration where skydns is the only DNS in /etc:resolv.conf
It seems you are on a version where you have 3 name servers in /etc/resolv.conf ?

Sent from my iPhone

[2016-02-29 16:51] maclof commented on #22161
Sorry actually my master is v1.2.0-alpha.3 but my kubelets run v1.2.0-alpha.7.

Inside /etc/resolv.conf there is for example:
[code]

Afaik I'm running the latest version of the skydns rc which uses the image gcr.io/google_containers/skydns:2015-10-13-8c72f8c

[2016-02-29 17:01] ArtfulCoder commented on #22161
Why is skydns trying 8.8.8.8. Is that a name server on the node's etc/resolv ?

Sent from my iPhone

[2016-02-29 17:05] maclof commented on #22161
Yes that's one of the nameservers in the node's /etc/resolv.conf. I've actually recently had to switch all of the nodes to use a local dnsmasq server because of some requests to Google DNS taking 5~ seconds to complete.

[2016-02-29 17:13] huang195 commented on #22081
@jdef In the Kubernetes documentation on authorization, there are some examples:

[code]

So, I think it would be prudent to have scheduler and kubelet having different authorization capabilities (defined by different kubeconfig files). While I completely agree that k8sm configuration needs an overhaul, in the mean time, do you think we can separate scheduler-kubeconfig from kubelet-kubeconfig so

[2016-02-29 17:15] jayunit100 opened #22184 "Annotate Upstream tests"
*Background*

Ginkgo skip and focus are not good at filtering tests at a high level, rather, they are built to focus on the tests' hierarchichal data model (Describe/By/It) themselves.

*Our goal*

We want to run upstream tests from a binary which
- has both downstream and
- also has upstream tests in it.

*Implementation Details*

Wrap `It()` in the kube e2e framework as `KIt`, such that `KIt` au

[2016-02-29 17:15] jayunit100 commented on #22184
Can we assign this to @timothysc ?  cc @kubernetes/sig-testing

[2016-02-29 17:17] huang195 commented on #22085
@jdef: I like that approach as it minimizes the change. I can add this flag per your suggestion.

[2016-02-29 17:21] huang195 commented on #22081
Similar to #22085, can we add a `--executor-kubeconfig` flag to make this more clear. The idea is:

* `--kubeconfig` specifiies kubeconfig file the km scheduler will use for itself
* `--executor-kubeconfig` specifies kubeconfig scheduler will host and executor can download for the kubelet to use

Both flags are optional. What do you think?

[2016-02-29 17:26] timothysc commented on #22184
The motivation here is to use leverage ginkgo.focus easily to execute upstream only tests for folks who extend downstream.

[2016-02-29 17:39] ArtfulCoder commented on #22161
One possibility is that skydns is experiencing slowdown because google DNS is slow (or the path to it from your cluster is slow), holding up skydns threads..

1. What is the etc/resolv file on the node ?
2. what are the command line params for your skydns container ? I am looking for timeout flag, if any.
3. Could you try having 8.8.8.8 as the last name server on your node's etc/resolv?

Sent from

[2016-02-29 17:41] derekwaynecarr opened #22187 "e2e flake: Services [It] should be able to up and down services"
[code]

https://github.com/kubernetes/kubernetes/pull/21400#issuecomment-190287586

[2016-02-29 17:43] maclof commented on #22161
I'm using this rc: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.in

I'm using a local dnsmasq server now to fix the issue with Google DNS so I'll only have a single 192.168.0.x resolver in /etc/resolv.conf for now and I'll see how it goes.

[2016-02-29 17:46] erictune commented on #21817
Agree with Timothy.
The contrib repository should have its own e2e that makes sure the examples
work against a kubernetes cluster tht is kube-up-ed from the latest stable
release of kubernetes.

On Mon, Feb 29, 2016 at 7:58 AM, Timothy St. Clair <notifications@github.com

[2016-02-29 17:46] roberthbailey commented on #12647
Tagging 1.2 since there is an outstanding PR that will fix this. Leaving at P2 since that PR won't block cutting a release.

[2016-02-29 17:46] ArtfulCoder commented on #22161
Is the dnsmasq server on the same node as skydns ?

Sent from my iPhone

[2016-02-29 17:46] ch-acctg opened #22188 "Workqueue Jobs for long running processes in continuous deployment"
Hi, we have been trying to implement a reliable continuous deployment on top of Kubernetes.  We originally looked in to replication controllers, but our services are streams that cannot be reconnected once started and the version of graceful termination for an rc is much less than what we need.

What we need is a way to keep an older service alive until the clients have disconnected from the strea

[2016-02-29 17:52] erictune commented on #21817
This statement:
"The whole idea behind creating the examples e2e tests in the first place
was to verify that the documented examples actually worked"

I take to mean that the examples e2e test are testing two things at once:
detecting incorrect examples, and detecting regressions of kubernetes code
against examples that used to work.

While it was initially a clever trick to test both things at on

[2016-02-29 17:52] spxtr commented on #21843
I'm not sure what it'll look like in the end, but it might be worth adding `--conformance`, `--feature=bla`, or `--focus=Guestbook` flags to `hack/e2e.go`. It's already pretty easy to get this behavior by using a current flag, but it's ugly.

[2016-02-29 17:55] jayunit100 commented on #21817
Yea, we all agree the examples need to move on to a new place :)

[2016-02-29 17:55] erictune commented on #22159
We have this.  It is called [PodSecurityPolicy]( https://github.com/kubernetes/kubernetes/blob/f5a92cc13cddb6f2fed2c8412216dd912524ac37/pkg/apis/extensions/v1beta1/types.go#L908
).

The type is checked in.  Enforcement code is not in yet.
@pweil- what is timeline for upstreaming more of this?

[2016-02-29 17:56] erictune commented on #22159
@pweil- any plans to add seccomp support?

[2016-02-29 17:59] mikedanese commented on #21767
@gmarek nice work. That would explain why it's not flaky in the non-parallel suites.

It should be.

Daemonset pod's bypass the scheduler as DSC writes node name directly. It's possible it could race with scheduled pods but rather than solving with complicated locking, we should just account for that. We have the same problem with multiple schedulers and other controllers that create pods. Kubelet

[2016-02-29 18:00] erictune commented on #10732
@ArtfulCoder @thockin See above DNS related question.

[2016-02-29 18:05] yujuhong commented on #22181
The node controller decided to evict the pods:
[code]

The node controller sets the eviction timestamp to delete the pods:
[code]

The final 14 pods:
[code]

I think this is because the pods on the NotReady node got marked to be deleted, and the corresponding RCs has created new pods. There is a window of time before the old pods got deleted from etcd, `kubectl get pods` will see more pods.

Nothi

[2016-02-29 18:07] ihmccreery commented on #22181
I'm seeing this in upgrade tests, starting somewhere in the morning of February 27th.

http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step7-e2e-new/453/testReport/(root)/Kubernetes%20e2e%20suite/SchedulerPredicates__Serial__validates_resource_limits_of_pods_that_are_allowed_to_run__Conformance_/history/

[2016-02-29 18:07] gmarek commented on #22181
In the line `Feb 29 04:19:43.042: INFO: fluentd-elasticsearch-jenkins-e2e-minion-5urf  jenkins-e2e-minion-5urf  Running  30s    [{Ready True 0001-01-01 00:00:00 +0000 UTC 2016-02-29 03:46:33 -0800 PST  }]` DeletionTimestamp is still 0001-01-01.

[2016-02-29 18:10] lavalamp commented on #22150
This is a good point, but I won't agree it belongs in the informer until it applies to all objects. You can make a filter for the DeltaFIFO, I suggest fixing this by providing a filter for pods.

[2016-02-29 18:10] yujuhong commented on #22181
That's not the DeletionTimestamp. It's one of the timstamps in the pod ready condition, and it should be the LastProbeTime (which unused now).

[2016-02-29 18:11] brendandburns commented on #18037
Assigning to @justinsb since I believe he is fixing this stuff.  Ping back if not true.

[2016-02-29 18:13] bprashanth commented on #22150
DeletionTimestamp is part of ObjectMeta, so in theory it applies to everything? you can always go the opposite way in your handlers (i.e check if deletion timestamp is set, and invoke another handler), but I think the common case is to treat an update with deletion timestamp as a delete.

[2016-02-29 18:14] gmarek commented on #22181
Oh, OK - my mistake;)

[2016-02-29 18:16] lavalamp commented on #22165
Someone must not be setting a timeout somewhere.

Ref #22164, which might be revertable once this is fixed.

[2016-02-29 18:16] yujuhong commented on #22181
No worries.

[2016-02-29 18:17] bprashanth commented on #20552
The last failure is different, looks like a manifestation of https://github.com/kubernetes/kubernetes/issues/20550. A netserver-2 pod failed to come online. From the logs, it was stuck in image pull backoff:
[code]

And it went into backoff because of:
[code]

and docker logs are full of:
[code]
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce-slow/272

[2016-02-29 18:17] ihmccreery opened #22189 "SchedulerPredicates tests flaking regularly"
See

  - http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step7-e2e-new/
  - http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-serial/
  - http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/

Or

  - http://ci-test.k8s.io/kubernetes-upgrade-gke-1.1-master-step7-e2e-new
  - http://ci-test.k8s.io/kubernetes-e2e-gke-serial

[2016-02-29 18:18] pweil- commented on #22159
@erictune I'll be able to focus more on this when we close out 1.2 (which mostly corresponds to our 3.2) so likely in after the next sprint.

I'd like to add the seccomp support somewhere in the PSP.  I haven't thought through where the actual profile lives and how it makes its way to the node if we're not expecting it to be there already.

[2016-02-29 18:19] yujuhong commented on #22072
The pod startup latency is affected by the number of concurrent requests. If we don't test the behavior (startup latency of N pods on a node, where N > 1), we probably don't support it :)

[2016-02-29 18:19] jlowdermilk opened #22190 "e2e flake: Error building GCE/GKE provider"
Test failure in start of `e2e.go`:
[code]

[kubernetes-pull-build-test-e2e-gce/30906](https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/20415/kubernetes-pull-build-test-e2e-gce/30906)

It's possible this was just a connectivity loss with metadataserver on the pr-builder vm, not sure if the failure time lines up with restart/upgrades. cc @ixdy, @spxtr

[2016-02-29 18:20] ihmccreery commented on #22189
cc @kubernetes/goog-node

More specifically, see for example

 - http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step7-e2e-new/453

[2016-02-29 18:20] thockin commented on #20552
if #20550 is fixed, why are we still seeing it here?  I've been away for a few days - what more do we need to do on this issue?

[2016-02-29 18:20] jlowdermilk commented on #18738
@liangchenye that failure is actually something new, the test runner failed to get an oath token. I opened #22190 to look into it.

[2016-02-29 18:22] bprashanth commented on #20552
I believe there have been a few threads/issues about a potential gcr.io issue (the 404s are really weird and out of our control). I haven't parsed the logs to know if we were too aggressive in backing off, but it looks like with the number of 404s backing off might've been the right thing.

[2016-02-29 18:23] quinton-hoole commented on #21753
@bgrant0607 @nikhiljindal @gmarek yes, it's also still occurring regularly in ubernetes-lite:

* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/604/ (Deployment deployment should delete old replica sets)
* http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/603/ (Deployment RecreateDeployment should delete old pods and create new ones)
* http://kube

[2016-02-29 18:24] bprashanth commented on #20552
@mattmoor for the gcr.io weirdness

[2016-02-29 18:27] thockin commented on #21512
I'm going to lower this to P2 since it is not something we expect to wrap soon.

[2016-02-29 18:28] lavalamp commented on #22150
In practice, it doesn't, though. Maybe it will in the future, in which case I think a default filter function may be useful.

However we should nail down whether a Delete event means the object is leaving the system, or if it means a delete has been initiated. Right now these two events are conflated by the system. And now that I think about this, I think this proposal is actually not the right wa

[2016-02-29 18:31] bprashanth commented on #22150
A new handler for "deleting" would work too

[2016-02-29 18:32] lavalamp commented on #21767
There is a race between scheduler & dc by design. This should always be resolved in DC's favor (probably?) but we have no eviction mechanism right now. So I think this is a legit system problem and we can paper it over for the moment by moving this test to be serial :/

[2016-02-29 18:34] wojtek-t commented on #22165
@lavalamp - actually I took a look before @gmarek filed this bug, and from what I've seen it seem that "timeout" is not supported for proxy calls at all. So it's not just not setting it, IIUC.

[2016-02-29 18:36] bprashanth opened #22191 "Kube proxy/endpoints controller should handle graceful delete ASAP"
When a graceful delete is initiated the deletion timestamp on an endpoint is set. This usually means the webserver will refuse new connections and start draining existing connections, the database has been sigtermed and is checkpointing to disk, follower is leaving quorum etc.

When kube-proxy notices a deletion timestamp it should stop routing traffic to the endpoint immidiately, or at least I th

[2016-02-29 18:36] wojtek-t commented on #22072
@yujuhong - yeah, this was basically my question. It's probably fine that we don't support it now - I just wanted to ensure that I'm not missing anything.

I (at least partially) know what is happening there, and should send out a fix to it tomorrow or so.

[2016-02-29 18:37] wojtek-t commented on #21767
That should be pretty simple fix :)

[2016-02-29 18:37] quinton-hoole commented on #21995
@liggitt quite a few flakes against ubernetes-lite too.  Perhaps you should label these tests as flaky until they're stable, as they're blurring our regression signals.

In case it helps, we started to notice the errors at the following time, when the following PR's were merged:

Build #8739 (Feb 27, 2016 7:48:08 PM)
	Changes

* Modify ResourceQuota API to support requests/limits; scope filtering

[2016-02-29 18:39] lavalamp commented on #22150
Not really, how would you represent the opposite transition, if the
deletion is canceled? I think "deleting" really is just an update.

On Mon, Feb 29, 2016 at 10:31 AM, Prashanth B <notifications@github.com>
wrote:

[2016-02-29 18:40] quinton-hoole commented on #21995
@derekwaynecarr your ResourceQuota changes appear to be the smoking gun at this point.

[2016-02-29 18:40] lavalamp commented on #22165
Well, I mean, the request by the server should be setting a timeout even if it doesn't use the ?timeout= query parameter.

[2016-02-29 18:41] bprashanth commented on #22150
Currently you can't cancel it. it's irreversible, you can only lower it.

[2016-02-29 18:42] bprashanth commented on #22150
Deleting *is* just an update but i think the common case is to handle deleting like you don't care about the pod anymore (and this should be the default) and for the uncommon case there should be an escape hatch.

[2016-02-29 18:42] saad-ali commented on #21995
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12508/

[2016-02-29 18:42] liggitt commented on #21995
I don't see a direct connection between the quota bits and this test.

Unrelated note... the PR to fix this has had 7 clean test runs in a row, two of which were started by the merge bot, but it's not getting merged. Any idea why?

[2016-02-29 18:43] timstclair commented on #21751
Thanks @yujuhong !

[2016-02-29 18:44] spxtr commented on #21995
Mergebot doesn't want to merge anything when e2e tests are failing. Message oncall to merge a flake fix by hand.

[2016-02-29 18:45] wojtek-t commented on #22165
Yeah - but the problem is whether we have something like "default" timeout.
What if proxy call is streaming? Then setting timeout is probably wrong?

So unless I'm not missing anything, we should only set timeout of it is set in the original request (which is not supported now, i.e. proxy call is not even trying to read it from the request).

[2016-02-29 18:45] lavalamp commented on #22165
How urgent is this?

[2016-02-29 18:46] wojtek-t commented on #22165
For our usecases in scalability tests, we have an workarounds. So from my perspective it's not a 1.2 blocker.

[2016-02-29 18:48] quinton-hoole commented on #21995
@liggitt Are you referring to #22160 ?  If so, it only got an LGTM 3 hours ago, and bas verified as good by merge-bot a few minutes ago.  merge-bot is a bit backed up at the moment.

If you're referring to some other PR, let me know which, and I can dig into it for you.

[2016-02-29 18:49] liggitt commented on #21995
yes, #22160. the merge bot has attempted to merge it twice, got clean test runs both times, and not merged it.

[2016-02-29 18:50] saad-ali commented on #21995
I'm on-call. I'll manually merge #22160

[2016-02-29 18:51] #21995 closed

[2016-02-29 18:51] dchen1107 commented on #22189
This is not node team issue. I discussed with @davidopp offline on this very test. SchedulerPredicates test requires a very deterministic testing environment, for example, number of test nodes, number of kube-systm pods, and each kube-system pod's resource requirement, etc. Unfortunately, e2e environment cannot meet this requirement all the time. It shouldn't written for e2e test since it only ver

[2016-02-29 18:51] lavalamp commented on #22165
OK, great, thanks.

[2016-02-29 18:52] dchen1107 commented on #22189
@davidopp I am assigning this to you for delegating or dup to other issue. Thanks!

[2016-02-29 18:53] bprashanth commented on #20916
Looks like the master kubelet was just stalling trying to read `instance/attributes/google-container-manifest`. From startup logs:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22156/kubernetes-pull-build-test-e2e-gce/30907/artifacts/
[code]
This step usually takes seconds. From kubelet logs, there's a 5m lapse:
[code]

The apiserver only comes up 6m after the st

[2016-02-29 18:55] pwittrock commented on #22096
@thockin Is there a current owner for gcr.io/google_containers/serve_hostname?  It looks like the Makefile in your repo doesn't build the gcr.io image, so I am hesitant to use it as the canonical repo.  If it has been orphaned I probably can pull the current source out of the image itself and check it into the k8s project.

[2016-02-29 18:56] yujuhong commented on #22098
@jumpkick, yon can file a separate issue to have this fixed :)

[2016-02-29 18:58] bgrant0607 commented on #21753
12485's failure:
[code]

[2016-02-29 19:09] yifan-gu commented on #8262
@woodbor  Here is the brief result
FAIL! -- 65 Passed | 103 Failed | 0 Pending | 69 Skipped
Run last week
logs here: https://gist.github.com/yifan-gu/f970a0b3748543ee919f

FAIL! -- 109 Passed | 59 Failed | 0 Pending | 69 Skipped
Run yesterday with a hacked rkt that supports hostname /etc/hosts
logs here: https://gist.github.com/yifan-gu/51e29ef92428e4272d04

We are tracking more status in this goo

[2016-02-29 19:15] yujuhong commented on #21629
@luxas, I'm glad that you figured out the root cause, and thanks for the update!

[2016-02-29 19:18] therc commented on #21925
I'm not sure that this is limitation is "serious", since it's an unusual scenario. (And I speak as someone who's trying to overcommit GPUs...)
How many servers will you run concurrently at peak? how often are you spawning them? is anything else going to run on the cluster?
Perhaps Kubernetes is overkill for what you're trying to do. You could try being creative with readiness probes (http://kubern

[2016-02-29 19:18] chrisleck commented on #21480
Still not fixed.  Looks like some logs are parsed properly (for example, Kibana FE logs come through with sub-second timestamps), but the ones coming from docker are not.

[2016-02-29 19:19] bgrant0607 commented on #17463
Is this resolved @jayunit100 ?

[2016-02-29 19:23] bgrant0607 commented on #18937
This is working in HEAD, so closing.

[2016-02-29 19:23] #18937 closed

[2016-02-29 19:30] justinsb commented on #18037
Thank you.  I'm pretty sure this is fixed (I'm running the e2e tests locally using a simulate-Jenkins hack), and they are currently all green.  But once we get the pending PRs merged I will verify / investigate whether there is something wrong with Jenkins!

[2016-02-29 19:32] jayunit100 commented on #17463
Yup, resolve this please, thanks guys.  The updated spark stuff works via dns.  The e2e tests can be run to verify.

[2016-02-29 19:38] zmerlynn commented on #17463
Thanks, @jayunit100!

[2016-02-29 19:38] #17463 closed

[2016-02-29 19:40] yujuhong commented on #21451
We are adding docker validation test suite to validate new docker releases, before upgrading docker in k8s (@liangchenye is in charge or this new test suite). The test suite should help us detect docker issues without breaking our CI.

Also, if how the CI/test-infra uses docker is very different from how k8s uses it, the testing may not be as meaningful as they should be. I'd vote for using at mos

[2016-02-29 19:44] bgrant0607 commented on #22187
cc @bprashanth

[2016-02-29 19:47] roberthbailey commented on #21690
I think this is the same issue as https://github.com/kubernetes/kubernetes/issues/17851 but has moved into common.sh with the refactoring of the cluster creation scripts.

[2016-02-29 19:48] therc opened #22193 "Document new 1.2 liveness/readiness probe options"
See #15967

[2016-02-29 19:49] ixdy commented on #21451
@wojtek-t yes, sorry, I did not get a chance over the weekend to revert. I'll do that now.

@ others - we aren't really testing Docker in CI per se - we're only using it as a tool to run the kubekins-test image or do cross builds. It's not clear to me that Kubernetes validation would catch the issues we're seeing here, though I'd be pretty happy if it does, since that makes a more compelling test

[2016-02-29 19:54] bgrant0607 commented on #22173
@andrejvanderzee The controller-manager needs a flag to enable it, also.

And remove spec.template.metadata.name.

If you'd be willing to try at HEAD, DaemonSet is enabled by default.

[2016-02-29 19:54] #22173 closed

[2016-02-29 19:55] bbigras opened #22196 "chmod /bin/mount: permission denied on Alpine Linux 3.3"
docker 1.9.1

[code]

[2016-02-29 19:57] bprashanth commented on #21451
Are you asking for a list of 1.10 bugs in docker? https://github.com/docker/docker/issues?utf8=%E2%9C%93&q=is%3Aissue+milestone%3A1.10.0

[2016-02-29 19:57] yujuhong commented on #21640
I am unsure why it didn't show that, but even in the passing round we see a 10 second gap, which almost maxed out the timeout.

I think adding a timeout is reasonable, but I am not sure what value is reasonable given that the previous request took 10s. @aveshagarwal, do you have any idea?

[2016-02-29 19:57] spxtr commented on #21722
I'm going to close this as a dupe of #10423.

[2016-02-29 19:57] #21722 closed

[2016-02-29 19:58] dchen1107 commented on #19720
FYI: https://github.com/docker/docker/issues/19950 and the fix is expected in docker 1.10.3 release.

[2016-02-29 20:03] freehan commented on #22187
[code]

Well, this should be a easy fix

[2016-02-29 20:07] yujuhong commented on #21451
Should probably check the 1.10.2 milestone since you upgraded to 1.10.1: https://github.com/docker/docker/issues?utf8=%E2%9C%93&q=is%3Aissue+milestone%3A1.10.2

[2016-02-29 20:08] pwittrock opened #22198 "System container stats ["kubelet", "runtime"] not visible to kubelet"
System container stats are not visible to kubelet

kubelet_test is failing stats collection test when checking for system container stats:

/var/lib/jenkins/workspace/node-pull-build-e2e-test/go/src/k8s.io/kubernetes/test/e2e_node/kubelet_test.go:255
12:05:09
12:05:09       Expected
12:05:09           <[]string | len:0, cap:0>: []
12:05:09       to consist of
12:05:09           <[]interface {} | l

[2016-02-29 20:10] aveshagarwal commented on #21640
Even I am not sure exactly what should be a reasonable value. My guess would be that if in normal cases, average response time is x seconds (perhaps a guestimate could be computed based on "normal" successful tests), then x could be a starting point, or otherwise another option is choosing something randomly (like 5s). And I think that if at some point, the server is responding in 10s, and even th

[2016-02-29 20:11] ixdy commented on #21451
That's not very interesting. 1.9.1 has a lot of bugs, too: https://github.com/docker/docker/issues?utf8=%E2%9C%93&q=is%3Aissue+milestone%3A1.9.1

[2016-02-29 20:14] bprashanth commented on #21451
Yeah like every release of docker, but we mostly understand them (or at least hope we do) and have plugs for workaround you can probably duplicate (eg: removing /var/lib/network on restart to prevent wedging, or the other issues referenced in the release notes https://github.com/kubernetes/kubernetes/issues/21000)

[2016-02-29 20:14] andrejvanderzee commented on #22173
@bgrant0607 thanks!

Can I somewhere download the 1.2.0-alphaX binaries directly like for the official releases? Or do I have to build them from source?

[2016-02-29 20:17] bprashanth commented on #22187
we should be running with -q

[2016-02-29 20:17] ixdy commented on #21451
Yes, sorry, that was unnecessarily snarky. I keep seeing issues for 1.10 that smell of some behavior with `--rm` changing, so there probably is something there.

Concrete suggestion: do we have a well-documented source of truth for our blessed version of Docker? Can we link it in the documentation somewhere obvious? I think some developers have upgraded their local installation of Docker already,

[2016-02-29 20:17] bprashanth commented on #22187
And it's weird if a wget timed out randomly, after the endpoint was supposed to be ready

[2016-02-29 20:20] bgrant0607 commented on #22173
The 1.2.0-alpha releases are available from the same place as 1.1.x releases:
https://github.com/kubernetes/kubernetes/releases

The latest is 1.2.0-alpha.8.

[2016-02-29 20:22] saad-ali opened #22199 "e2e flake: `ServiceAccounts should ensure a single API token exists`"
`ServiceAccounts should ensure a single API token exists` E2E tests fails with:

[code]

Example: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1968/

Logs:
[code]

Looks like it might be related to https://github.com/kubernetes/kubernetes/issues/21995/https://github.com/kubernetes/kubernetes/pull/22160? Assigning to @liggitt

CC @derekwaynecarr

[2016-02-29 20:25] andrejvanderzee commented on #22173
Yeah I know but these binary links do not seem to work for alpha releases:
https://storage.googleapis.com/kubernetes-release/release/v1.1.8/bin/linux/amd64/kube-proxy

[2016-02-29 20:29] dchen1107 commented on #21451
@ixdy For every docker release, we, node team, carefully validated it, for example, you can see all the details related docker 1.9.X release at: https://github.com/kubernetes/kubernetes/issues/16110 and docker 1.10.X at: https://github.com/kubernetes/kubernetes/issues/19720 We tried to validate each docker release as early as possible so that we can capture the issues before docker cut the real re

[2016-02-29 20:31] mml commented on #20916
There is bound to be a long tail of startup latencies.

One way to minimize the noise from it is to always retry a suite *once* if the failure is due to a timeout waiting on an async process.

[2016-02-29 20:34] timothysc commented on #19720
/cc @rhatdan

[2016-02-29 20:34] mml commented on #21767
Exccelent work, @gmarek.

We should move it to serial, and we should add a comment above the test explaining that its assumptions will not hold if anything else is going on, unless/until we get eviction.

I'll send a PR.

[2016-02-29 20:41] vishh commented on #22198
Is this happening only on a few distros? #21337 should have fixed the only known issue on ContainerVM.

[2016-02-29 20:42] pwittrock commented on #22198
No, it is happening on all tested distros - containervm, coreos, ubuntu

[2016-02-29 20:42] bprashanth commented on #20916
I agree with that if it's really something like 99%ile and the reason is not something lame that we can fix. https://github.com/kubernetes/kubernetes/pull/22192 adds some logging and actually fixes an unrelated slow http client/connection leak.

[2016-02-29 20:43] ixdy commented on #21451
@dchen1107 should we include this issue in the list of issues in #19720? I'm not sure if it would happen inside Kubernetes, but it's worrying.

I still think it might be a good idea to have a place in the documentation (or somewhere else?) where we list the versions of dependencies we've validated + links to issues which discussed the validation process. Docker is one; similarly etcd, as I was rem

[2016-02-29 20:44] ixdy commented on #21451
side note: post-commit Jenkins builder VM has been downgraded to Docker 1.9.1.

[2016-02-29 20:45] yujuhong commented on #21451
Just FYI, k8s/kubelet doesn't support using the `--rm` flag with docker, so it was my initial suspect when this issue came up.

[2016-02-29 20:45] wojtek-t commented on #10423
FYI - we also need logs from timed-out runs (not only the failed ones).

[2016-02-29 20:47] ixdy commented on #21451
Another note re: Jenkins using the same Docker release as Kubernetes: we will need to update the Docker validation process to make sure that the testing team is informed when a new release has been validated, since we can't easily automate tracking this on Jenkins.

[2016-02-29 20:48] ixdy commented on #10423
@wojtek-t moving `test/e2e/core.go` out into its own binary should help accomplish this.

[2016-02-29 20:52] bgrant0607 commented on #22173
@david-mcmahon, do you know where the binaries can be found for 1.2.0-alpha.8?

[2016-02-29 20:54] bgrant0607 commented on #22188
cc @erictune

[2016-02-29 20:57] yujuhong commented on #21640
#22192 uses a 10 second timeout, but the request will be retried. Given that we don't retry this request, a short timeout is worrisome. Maybe we should add both retry and timeout in this case.

[2016-02-29 20:57] rhatdan commented on #19720
@timothysc We will be shipping 1.10.3 is that what you meant?

[2016-02-29 20:58] timothysc commented on #19720
@rhatdan - yup.

[2016-02-29 20:58] erimatnor commented on #19029
Running into this issue with pretty serious consequences for DNS resolution. Some nodes in our cluster needed a reboot to update to a newer CoreOS version. One of the nodes was running a DNS pod. To minimize the effect on services, I first scaled the DNS replication controller to two instances. Then I rebooted the nodes one by one. After the update, I noticed that some services on nodes that didn'

[2016-02-29 21:00] bgrant0607 commented on #22182
@pmorie Which test specifically?

[2016-02-29 21:00] yujuhong commented on #19720
@timothysc, do you have a list of issues you encountered with docker 1.10.3? It'll help us validate it for k8s.

[2016-02-29 21:02] goltermann commented on #21563
Everything looks merged on #21561.  Anything remaining there or here?

[2016-02-29 21:03] goltermann commented on #17851
Adding v1.2-candidate - #21690 is in v1.2 milestone.

[2016-02-29 21:05] pmorie commented on #22180
@thibserot It looks to me like you added this functionality to me, would you please take a look?

[2016-02-29 21:06] liggitt commented on #22199
this is distinct from #21995... that was a reference not getting cleaned up, this is a token+reference not getting added.

This is the same operation that happens when a namespace is created. I'm not sure how the timeout for that operation was chosen, but this is waiting for the same thing, so I suppose it should use the same timeout. Opened https://github.com/kubernetes/kubernetes/pull/22201 just

[2016-02-29 21:08] bgrant0607 commented on #22179
Release 1.2 will support pod.spec.securityContext.fsGroup, pod.spec.securityContext.supplementalGroups, and pod.spec.securityContext.runAsUser.

I think these are described in proposals (docs/proposals), but may not have user-guide docs yet.

[2016-02-29 21:08] spxtr commented on #10423
I'm worried that the best way to do this is to write a bash script that grabs IPs from `cluster/{provider}/util.sh`'s `detect-master` and `detect-nodes` functions and just does an ssh and cats the logs. Then we could point `test/e2e/core.go` at that.

It's sorta difficult to make `test/e2e/core.go` work on its own.

[2016-02-29 21:10] bgrant0607 commented on #22158
Known issue: #2210. Hopefully we'll be able to make time in 1.3 to address it.

[2016-02-29 21:10] #22158 closed

[2016-02-29 21:11] mml commented on #1899
In reading the old discussion, it's unclear to me if we want to implement waiting logic in the API server or if an implementation in kubectl (optionally linkable by other users if they want it) is adequate.

[2016-02-29 21:11] bgrant0607 commented on #22151
cc @yujuhong

[2016-02-29 21:13] bgrant0607 commented on #22150
cc @janetkuo @madhusudancs

[2016-02-29 21:13] bprashanth commented on #22187
Looked through kubelet/docker/proxy logs, nothing stands out. I have https://github.com/kubernetes/kubernetes/pull/22203, and we should do a better job tracking network flake, but currently we don't have the setup to do so in the 1.2 timeframe.

[2016-02-29 21:14] bprashanth commented on #22187
For the record the nodes on which the service pods landed on are:
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21400/kubernetes-pull-build-test-e2e-gce/30968/artifacts/130.211.166.52%3A22-kubelet.log
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21400/kubernetes-pull-build-test-e2e-gce/30968/artifacts/130.211.125.235%3A22

[2016-02-29 21:15] bgrant0607 commented on #22148
@AdoHe Deployment is enabled by default in 1.2 and won't need the flag. We plan to update the doc soon.
Thanks.

[2016-02-29 21:15] #22148 closed

[2016-02-29 21:16] bgrant0607 commented on #22121
cc @david-mcmahon

[2016-02-29 21:20] derekwaynecarr commented on #21995
@liggitt @quinton-hoole - i guess anything is possible, but i am not sure the underlying reason... if anything i would have expected quota e2es fail..

[2016-02-29 21:20] yujuhong commented on #22151
@aknuds1, did kubelet fail to create/start your container, or your container die quickly after starting. For the former, I believe we surface the error in both events and the pod status. If it wasn't the case in your cluster, could you provide more information on the failure so that we could fix it? For the latter, kubelet doesn't doesn't show logs of the container. There is an open issue to add s

[2016-02-29 21:28] bgrant0607 opened #22205 "DaemonSet should respect new scheduling constraints"
Node affinity / anti-affinity, at least.

It already respects nodeSelector.

See also https://github.com/kubernetes/kubernetes/issues/12744#issuecomment-154912461

cc @davidopp @kevin-wangzefeng

[2016-02-29 21:28] david-mcmahon commented on #22173
There are a couple of ways you could get the alpha release kube-proxy and alter the URL as needed:
https://storage.googleapis.com/kubernetes-release/release/v1.2.0-alpha.8/bin/linux/amd64/kube-proxy.tar
https://storage.googleapis.com/kubernetes-release/release/v1.2.0-alpha.8/bin/linux/amd64/kube-proxy

Also you can use gsutil:
gsutil ls gs://kubernetes-release/release/v1.2.0-alpha.8/bin/linux/amd6

[2016-02-29 21:32] andrejvanderzee commented on #22173
Greatly appreciated, thanks!

[2016-02-29 21:32] bgrant0607 commented on #20961
Thread that suggests the example may not be running cassandra as recommended: https://groups.google.com/forum/#!topic/google-containers/87xj2CFMd2Y

[2016-02-29 21:33] davidopp commented on #21767
Yeah, very nice work @gmarek .

As others have said, once we have priority, the regular pod would get accepted by kubelet admission and the daemon would get rejected, but then the daemon controller would try again and that time it would succeed since it would explicit evict the regular pod.

[2016-02-29 21:35] bgrant0607 commented on #20961
http://stackoverflow.com/questions/21776152/how-seed-node-works-in-cassandra-cluster

[2016-02-29 21:39] david-mcmahon commented on #22121
The answer to #2 comes from https://github.com/kubernetes/kubernetes/tree/4ca66d2aefa20c27b670b2fa890052daadc05294/examples/kubectl-container:

_It's not currently automated as part of a release process, so for the moment this is an example of what to do if you want to package kubectl into a container/your pod._

[2016-02-29 21:40] nikhiljindal commented on #22182
Yes.
I assume its for https://github.com/kubernetes/kubernetes/tree/master/examples/apiserver
I can fix it once other 1.2 items are done.

[2016-02-29 21:40] bgrant0607 commented on #20961
Maybe it's ok, but perhaps we need to explain why in the example.

[2016-02-29 21:42] nikhiljindal commented on #19273
Closing this since we have `pkg/apimachinery` now.

[2016-02-29 21:42] #19273 closed

[2016-02-29 21:44] dchen1107 commented on #18969
@davidopp, Yes,  I mean #10423 or #21722. Sorry!

[2016-02-29 21:44] erictune opened #22207 "Notification of failed CronJobs"
Chronos can notify users of failures of scheduled jobs via email.  In a discussion with a potential K8s user, the question came up whether K8s will have an email-notification feature.

About the Chronos Feature:
- [Chronos flags documentation](https://mesos.github.io/chronos/docs/configuration.html)
- option 1: HTTP notification on failure
  -  uses these flags: `--http_notification_credentials` a

[2016-02-29 21:44] erictune commented on #22207
@soltysh

[2016-02-29 21:44] alex-mohr commented on #21563
I'm doing one last test to verify now that  #21561 merged, but I'll mark closed and re-open if any other issues come up.

[2016-02-29 21:45] janetkuo opened #22208 "Type assertion error in DeleteFunc of deployment controller"
Found this when debugging #22122

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/12453/artifacts/?debugUI=CLOUD
[code]

@kubernetes/sig-config @bgrant0607 @soltysh @kargakis

[2016-02-29 21:45] dchen1107 commented on #22198
This is a regression and we should fix it for 1.2 release.

[2016-02-29 21:51] alex-mohr commented on #21563
Oops, for posterity, it was PR #22094 together with PR #22044 that seems to have fixed both issues.

[2016-02-29 21:52] alex-mohr commented on #21561
With PR #22094 together with PR #22044 this seems fixed -- thanks!

[2016-02-29 21:52] #21561 closed

[2016-02-29 21:52] erictune commented on #22207
@mml @mikedanese @janetkuo @bgrant0607

[2016-02-29 21:53] erictune commented on #22207
related to #1899

[2016-02-29 21:53] dchen1107 commented on #21451
@ixdy I included docker/docker#19950 to #19720. If that is not sufficient, please do include this one there with some information related to issue. It is hard to re-parse the entire issue and all comments here.

[2016-02-29 21:54] thockin commented on #21819
I am removing this from the milestone.  The patch is being reviewed upstream for uclibc, and docker is willing to carry it until then: https://github.com/docker-library/busybox/pull/10

[2016-02-29 21:54] thockin commented on #21819
in fact I am going to close this - it is not a Kube bug in any way.  If you need search paths and busybox, use busybox-glibc.

[2016-02-29 21:54] #21819 closed

[2016-02-29 21:58] thockin commented on #21692
I can confirm this.  @vishh

[2016-02-29 22:00] thockin commented on #21692
Wild-guessing at P1

[2016-02-29 22:03] runseb commented on #22121
@david-mcmahon yes, I found the source, but the doc page created from this source:
http://kubernetes.io/v1.1/examples/kubectl-container/

Does not link to the Dockerfile.

Happy to make a simple PR for it.

[2016-02-29 22:07] david-mcmahon commented on #22121
I see.  Yes, please do.

[2016-02-29 22:10] dchen1107 opened #22212 "Preemption priority / scheme"
We expect Kubelet to make more and more decision on which pods should run on a given node. For example,

* Reject pods on port conflict
* Reject incoming / evict existing pods when node constraints are violated.
* Reject incoming / evict existing pods in response to resource starvation, such as OOD, OOM, etc. (#147, #18724)
* ...

To really do that, Kubelet needs to know preemption priority / sche

[2016-02-29 22:11] dchen1107 commented on #22212
cc/ @kubernetes/goog-node

[2016-02-29 22:14] vishh commented on #22198
How is the kubelet being run for these tests? We set a few flags using salt? Do we have to update configuration elsewhere in addition to salt?

[2016-02-29 22:15] aveshagarwal commented on #21640
@yujuhong SGTM.

[2016-02-29 22:16] mml commented on #22207
This treads closely into real life monitoring and alert management.  You usually want to attempt/re-attempt for reliable delivery in that case, and you quickly realize that alerting on edges (impulses, events) is hard to make reliable without it being noisy.  But then you also have a language where you can specify "only alert on this condition once every 60 minutes", for example, and you have sile

[2016-02-29 22:17] vishh commented on #21692
Heapster was refactored quite a bit recently. InfluxDB naming schema must have changed. I'm assigning this to @mwielgus who is maintaining heapster now.

[2016-02-29 22:17] quinton-hoole commented on #21995
FYI, 10 clean runs so far on http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/ since #22160 merged.

[2016-02-29 22:20] davidopp commented on #22212
I think there are three separate issues
1. During scheduling, how does scheduler decide preemptions
2. During runtime, how does Kubelet decide which pod(s) to kill if it needs to kill pod(s), e.g. due to OOM
3. How does Kubelet admission work

My assumption was that (1) would use priority, (2) would use QoS, and (3) doesn't really need to take priority into account (unless we want Kubelet to be re

[2016-02-29 22:21] lavalamp commented on #15915
I would vote for removal at this point.

[2016-02-29 22:22] liggitt commented on #22199
I expect #22201 to resolve this. @quinton-hoole would you like this left open with lower priority for monitoring, or close and we'll reopen/open a new one if it resurfaces?

[2016-02-29 22:22] lavalamp commented on #21353
What's the PR that fixes this?

[2016-02-29 22:23] liggitt commented on #21995
great... that one did fix a legitimate issue

[2016-02-29 22:23] quinton-hoole commented on #22199
Yup, closing.  Thanks @liggitt !

[2016-02-29 22:23] #22199 closed

[2016-02-29 22:28] aknuds1 commented on #22151
@yujuhong Looks as if the (apiserver) container died quickly after starting due to the inability to find a certificate.

[2016-02-29 22:28] janetkuo commented on #22122
...naming the controllers and pods to something unique to each test would be super-helpful.

Filed #22202 for both.

Please also search the controller-manager logs for MISSING, and fix them.

Filed #22210 for both.

[2016-02-29 22:28] aknuds1 commented on #15826
I have been struggling with not being able to see the reason for pods failing to launch. It would be a big help if the actual reason were logged.

[2016-02-29 22:29] aknuds1 commented on #22151
I've commented in #15826.

[2016-02-29 22:30] gmarek commented on #10423
I think at this point we're happy with anything that usually works. We can work on making in nice and shiny later.

[2016-02-29 22:31] yujuhong commented on #22151
Let's move the discussion there. Closing this issue.

[2016-02-29 22:31] #22151 closed

[2016-02-29 22:32] quinton-hoole commented on #21846
Fixed! #21800 (comment)

[2016-02-29 22:32] #21846 closed

[2016-02-29 22:32] vishh commented on #22212
If kubelet takes into account availability in the future for the purposes of admission, does this mean that a Guaranteed Pod scheduled onto a node directly (or DaemonSet) will remain pending until sufficient resources are available, even if the resources are held by BestEffort pods?
Why do we not want the kubelet to understand priority and evict pods or wait for resources based on priority?

[2016-02-29 22:33] pjebs commented on #21925
Could someone at Kubernetes lobby Docker team to implement a timeout option for `docker run` which will destroy a container after some period of time. I have a solution but this feature would be very handy:

https://github.com/docker/docker/issues/1905

[2016-02-29 22:33] quinton-hoole commented on #15294
Unassigning myself, and leaving to the @kubernetes/goog-testing to triage.

[2016-02-29 22:36] ixdy commented on #22184
Why do you need upstream and downstream tests in the same binary? It'd simplify things a lot to keep them separate.

[2016-02-29 22:36] quinton-hoole commented on #14370
I did the e2e testing doc in #20041.
I'll leave it to @kubernetes/goog-testing to decide what to do with integration and unit tests,as they've fallen somewhat into disrepair, and, I believe, are under review for a refresh.

[2016-02-29 22:40] runcom commented on #19720
@yujuhong 1.10.3 isn't yet out

[2016-02-29 22:41] janetkuo commented on #22122
Adding this to other deployment e2e tests as well.

[2016-02-29 22:43] yujuhong commented on #19720
Any 1.10+ issues will help :-)  It can save us time discovering docker issues during upgrade.

[2016-02-29 22:43] janetkuo opened #22218 "Deployment e2e tests should wait for async actions to happen rather than checking it immediately."
https://github.com/kubernetes/kubernetes/issues/22122#issuecomment-189642102

For example, rollback test should wait for status to become equal rather than checking it immediately after pods are observed.
[code]

cc @kubernetes/sig-config

[2016-02-29 22:51] yujuhong commented on #21940
FYI, this happened in a per-PR build.

http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/30868/consoleFull
https://cloud.google.com/console/storage/kubernetes-jenkins/pr-logs/pull/21785/kubernetes-pull-build-test-e2e-gce/30868/

[code]

[2016-02-29 22:52] timstclair commented on #21803
I believe I saw this again on a run 3 days ago: https://github.com/kubernetes/kubernetes/pull/22105#issuecomment-189555644

[2016-02-29 22:55] nikhiljindal commented on #22088
The check that the old RC redis-deployment is gone passes, but the check that all its pods are gone as well is failing.

[2016-02-29 22:59] ixdy commented on #21991
Docker changed the format of ids in 1.10 to include the `sha256:`, so it's possible some of our infra doesn't work with the new format. (See https://issues.jenkins-ci.org/browse/JENKINS-32792 and https://github.com/docker/docker/pull/17924.)

We've since reverted to Docker 1.9.1 on Jenkins, so this shouldn't recur for now. We'll probably need to figure out if something in the build infra needs to

[2016-02-29 22:59] dchen1107 commented on #19720
I marked this issue with help-wanted. Yes, we want community help on validating every docker release under kubernetes runtime environment. Thanks!

[2016-02-29 23:00] erictune commented on #22207
User asking about alerting on Kubernetes events on stack overflow: http://stackoverflow.com/questions/34138765/how-to-send-alerts-based-on-kubernetes-docker-events/34139082

[2016-02-29 23:05] vishh commented on #15826
@bgrant0607 We can still fetch the last few lines from container logs and expose it as termination message, if the container hasn't populated the termination message files.

[2016-02-29 23:06] davidopp commented on #22065
@janetkuo @bgrant0607 Can we move this out of the 1.2 milestone now that #22078 has been merged? If so, please do it.

[2016-02-29 23:08] davidopp commented on #21806
ping @ncdc - do you think you can take care of this, as it is a 1.2 blocker?

[2016-02-29 23:09] davidopp commented on #21549
Can someone give a status update on this issue?

[2016-02-29 23:10] bgrant0607 commented on #22065
@davidopp Yes, done.

[2016-02-29 23:11] bgrant0607 commented on #22065
Actually, I'm going to close this, since #4301 is still open.

[2016-02-29 23:11] #22065 closed

[2016-02-29 23:11] davidopp commented on #20638
@wojtek-t please close this issue if you think it's finished.

[2016-02-29 23:16] wkharold opened #22221 "Can't create pods with multiple gitRepo volumes in 1.1.8"
When preparing to upgrade from 1.0.x to 1.1.x we discovered that some of our pods would not instantiate properly in 1.1.8. They work fine in 1.0.x. The issue appears to involve gitRepo volumes. We were able to get some of the pods in question to instantiate by moving the gitRepo volume declaration to the beginning of the volumes: section. Some of our pods, however, use multiple gitRepo volumes; we

[2016-02-29 23:16] davidopp commented on #11557
This is marked P1, i.e. release blocker. Should it be?

[2016-02-29 23:17] dchen1107 commented on #22212
@davidopp re: https://github.com/kubernetes/kubernetes/issues/22212#issuecomment-190424363

Shouldn't kubelet, (re)scheduler and other control components should follow the same policy under all three issues you listed? For example, assuming the scheduler decide to preempt A to schedule B to a node if the resource is not abundant. Then a given node which have both A and B being allocated, when the

[2016-02-29 23:18] therc opened #22222 "fluentd images don't send the cluster name"
Is the expectation that there will be one elasticsearch cluster per Kubernetes cluster? That might not always be the case.

[2016-02-29 23:18] nikhiljindal commented on #22088
Found the bug in our controller code.
https://github.com/kubernetes/kubernetes/pull/22223 should fix it.

[2016-02-29 23:20] #19620 closed

[2016-02-29 23:20] pmorie commented on #19620
@davidopp yep, this is done from #19782

[2016-02-29 23:25] dchen1107 commented on #18969
#22071 were closed with fix. I checked scalability tests since last Friday. It failed occasionally due to other reasons, but not #22071 anymore. Punt this to next release again.

[2016-02-29 23:28] smugcloud opened #22224 "Unable to utilize existing routing table on AWS"
Hello,

We are looking to utilize Kubernetes on AWS within an existing VPC, Subnet, and Routing Table.  These items are configured to work within a larger VPN, but provide full access to internal services, as well as the public Internet.

Currently, I have modified the `kube-up.sh` script to utilize these components, and not create any of the resources as `kube-up` currently does, including the ro

[2016-02-29 23:29] arun-gupta opened #22225 "Cluster fail to start on AWS"
Tried starting 1.1.8 cluster on Amazon and got the following error:

[code]

[2016-02-29 23:38] mml commented on #22207
To that user's point, it'd be great if we also shipped with a standard set of templates for things like flapping, upness, shard strength, finished in failure.

[2016-02-29 23:38] nikhiljindal commented on #21753
Sent a fix for "Deployment deployment should delete old replica sets": https://github.com/kubernetes/kubernetes/pull/22223.
Looking at "RollingUpdateDeployment should delete old pods and create new ones" now.

[2016-02-29 23:43] saad-ali commented on #21753
@nikhiljindal Can you check if the `Deployment RollingUpdateDeployment should delete old pods and create new ones` failures in the builds below are the same issue:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1976/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12521/

[2016-02-29 23:47] jdef commented on #22081
sounds good to me. in this case there would be no fallback, the flags are
completely independent, correct?

On Mon, Feb 29, 2016 at 12:21 PM, Hai Huang <notifications@github.com>
wrote:

[2016-02-29 23:49] nikhiljindal commented on #21753
The error message in both those failures is different. All of these are timeouts tough.

[2016-02-29 23:51] thockin commented on #20930
@bprashanth what do you think.  Should we revert this PR, now that we decided on promiscuous?  Is there any chance we might want to be non-promiscuous with this disabled?

[2016-02-29 23:51] saad-ali opened #22226 "e2e flake: `Deployment deployment should label adopted RSs and pods` [gave up waiting for pod]"
E2E tests `Deployment deployment should label adopted RSs and pods` fails with:
[code]

Log from http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1976/:
[code]

Assigning to @bgrant0607 for triage.

[2016-02-29 23:58] saad-ali commented on #21753
Worth opening a separate issue to track these failures?

[2016-02-29 23:59] dchen1107 commented on #15826
shouldn't kubectl logs --previous already give you the information? Of course, you have to run another command to retrieve the information.

[2016-03-01 00:01] thockin commented on #20567
@bprashanth It sounds like the most pressing problems are fixed.  I'd still like to leave this open to investigate what the right value for CPU is.  Will retitle.

[2016-03-01 00:03] thockin commented on #20567
It would be nice to get memory and CPU profiles of kube-proxy, and make sure we understand the top items, and see if we can reduce our footprint any.

[2016-03-01 00:03] thockin commented on #20567
This would be a cool intern or community project.

[2016-03-01 00:09] saad-ali opened #22228 "e2e flake: `Kubectl client Kubectl describe should check if kubectl describe prints relevant information for rc and pods` [gave up waiting for pod]"
The E2E test `Kubectl client Kubectl describe should check if kubectl describe prints relevant information for rc and pods` failed with:
[code]

Log from http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12521/:
[code]

Assigning to @bgrant0607 for triage.

[2016-03-01 00:11] bgrant0607 commented on #22226
cc @janetkuo @nikhiljindal @kargakis @mqliang @ironcladlou

[2016-03-01 00:12] bgrant0607 commented on #22226
Previous issue for this test was #21809.

[2016-03-01 00:14] bgrant0607 commented on #22228
cc @janetkuo @nikhiljindal @kargakis @ironcladlou @mqliang

[2016-03-01 00:18] saad-ali opened #22229 "e2e flake: `Kubectl client Guestbook application should create and stop a working application` [Cannot added new entry in 180 seconds]"
The E2E test `Kubectl client Guestbook application should create and stop a working application` failed with:
[code]

Log from http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1976:
[code]

Assigning to @bgrant0607 for triage.

[2016-03-01 00:19] therc commented on #21702
This is similar to running kube-apiserver & co. on CoreOS. They all store their logs in journald, while the fluentd image looks for /var/log/kube-apiserver.log, etc. So you end up with no logs at all. One way to solve this would be to stream the output of journalctl from everything and retain only entries with either kube-* or rkt container logs. Otherwise you need to run one plugin per log type,

[2016-03-01 00:25] #21767 closed

[2016-03-01 00:26] alex-mohr commented on #20594
In doing 1000 node tests, I also see such panics.  Should they concern us?  @lavalamp did you triage this?

e.g.
[code]

[2016-03-01 00:28] saad-ali commented on #18281
New failure http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1977/

[code]

[2016-03-01 00:28] alex-mohr commented on #20594
FWIW, these appear to be part of daemonsets.  I assume deletePod is being passed a nil.

[2016-03-01 00:30] mikedanese commented on #16623
Fixed by #22219

[2016-03-01 00:30] #16623 closed

[2016-03-01 00:33] huang195 commented on #22081
@jdef yes, there should be no dependencies between the flags.

[2016-03-01 00:35] smarterclayton commented on #15826
You don't even need --previous anymore.

In general I think the use case here is to make client support for this
trivial - if we can keep the total size down per container (maybe only log
failures, maybe only last termination state), this becomes something that
immediately enriches all clients for a large percentage of failures (I
think most crash looping containers I've seen write the relevant er

[2016-03-01 00:36] thockin commented on #18281
I am making this P0

[2016-03-01 00:36] smarterclayton commented on #1899
My preference is a good client library function first, a good kubectl
implementation second, and maybe a wait later in the api server.  We
probably do not want to have the API server have to deal with conditions
that never complete and the attack angles there.

On Mon, Feb 29, 2016 at 3:11 PM, Matt Liggett <notifications@github.com>
wrote:

[2016-03-01 00:37] bgrant0607 commented on #22229
Hit this in PR #22210.

kubernetes-jenkins/pr-logs/pull/22210/kubernetes-pull-build-test-e2e-gce/31033

cc @janetkuo

[2016-03-01 00:37] ntquyen opened #22232 "ApiServer drop requests from a pod causing dial error"
I've upgraded kubernetes to version 1.1.7 and got this error from one of my pod, which was calling the k8s ApiServer frequently to check liveness status of every other pods.

[code]

The requests were being sent at the rate of ~80 requests/second. While having that error, I was still able to call that API from my local. Restart the pod solved the issue but the next day, it happened again. It seems

[2016-03-01 00:38] bprashanth commented on #21803
@nikhiljindal I took a brief look at a more recent failure https://github.com/kubernetes/kubernetes/pull/22156#issuecomment-190426182

The test failed because of an orphaned pod.

* first there are 2 nginx pods and 1 redis pod created
[code]

* Out of the 2 nginx pods, nginx-controller-e651s nginx-controller-28gyl, nginx-controller-e651s had labels:
[code]

* The controller was updated with a labe

[2016-03-01 00:41] thockin commented on #19619
Justin - odds of this wrapping up in O(2 weeks)?

[2016-03-01 00:42] thockin commented on #18021
Can we get confirmation or refute on this issue?

[2016-03-01 00:46] yujuhong commented on #22166
I checked the logs and besides the obvious "no such image" errors, pleg (the component which lists containers periodically) was completely silent after the docker restart.
[code]

It stopped complaining about "cannot connect to Docker endpoint", but also never sent any events to the kubelet syncloop beyond that point.
I can only assume that its docker request hung and never returned. Since PLEG is

[2016-03-01 00:49] thockin commented on #15103
nobody is assigned to this - @erictune can you suggest where to go with it?  Docs update (which docs?) or close?

[2016-03-01 00:50] thockin commented on #15077
I'm going to close this, but I'd love a confirmation if anyone can spare the time.

[2016-03-01 00:50] lavalamp commented on #21484
Huh, it worked through the service but not through the pod directly.

[2016-03-01 00:52] huang195 commented on #22081
Would it be better to call this flag `--kubelet-kubeconfig` following the existing naming convention since this is a parameter that the executor will eventually pass it to the kubelet?

[2016-03-01 00:53] therc commented on #21925
I doubt Docker will bother, but you can set ActiveDeadlineSeconds on a Kubernetes pod.

[2016-03-01 00:53] mikedanese commented on #20497
Okay I've found three things:

1. Pods controlled by daemonsets will remain terminating forever on nodes that can't run a sync loop making the cascading daemonset delete timeout always.
2. AFAICT, pods that fail to be killed (docker returns an error) will log an error in the kubelet but will not be retried unless the kubelet spec changes. cc @dchen1107
3. If the process cannot be killed (probably

[2016-03-01 00:55] bprashanth commented on #21803
I *think* the problem is the pod we get here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/deployment/deployment.go#L301
doesn't have the pod-template-hash key:
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/deployment/deployment.go#L250

But this from staring at code, so i could be wrong.

[2016-03-01 00:56] freehan commented on #18281
[code]
It took more than 4 minutes for a nettest pod to come up.

The nettest container is waiting for the all endpoints to be ready for 2 minutes plus 15 attempts (5 sec interval) to contact its peers. This happens in less than 4 minutes. Hence the first 2 nettest pods finished contacting peers and declared failure.

[2016-03-01 00:58] jeremyeder commented on #20567
@ofthecurerh

[2016-03-01 01:00] Random-Liu commented on #20497
@mikedanese If a pod fails to be killed, kubelet will retry to kill it again after 10s. However, there is also backoff mechanics when SyncPod returns error, which may lead the period longer.

[2016-03-01 01:03] caesarxuchao opened #22235 "client-gen: add unit test against testoutput/clientset_generated"
Currently we don't have unit test against cmd/libs/go2idl/client-gen/testoutput/clientset_generated/test_internalclientset. We should add a unit test for it, or at least make it a build target that compiles it.

ref: https://github.com/kubernetes/kubernetes/pull/22016#issuecomment-190448463

[2016-03-01 01:03] bprashanth commented on #18281
The node you want is:
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gke/1977/artifacts/173.255.112.50%3A22-kubelet.log

I see:
[code]

that's too much silence ...

[2016-03-01 01:04] saad-ali opened #22236 "e2e flake: `Deployment RollingUpdateDeployment should delete old pods and create new ones` [gave up waiting for pod]"
E2E test `Deployment RollingUpdateDeployment should delete old pods and create new ones` failed with:
[code]

Log from http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1976/:
[code]

This appears to be a different error then the one tracked in issue #21753, hence I'm opening a separate issue to track it. Feel free to resolve as duplicate if that is not the case.

A

[2016-03-01 01:05] saad-ali commented on #21753
Looks like http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12521/ failed with the same error tracked by this issue `timed out waiting for the condition`.

But http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/1976/ failed with `gave up waiting for pod`. To ensure it doesn't slip through the cracks, I opened up a separate issue https

[2016-03-01 01:07] bgrant0607 commented on #13288
This appears to be at least one current source of flakes. Can we at least monitor how often this occurs? Maybe grep test logs for `Error pulling image (.*) from docker.io`.

[2016-03-01 01:08] bgrant0607 commented on #13288
nginx and redis still come from docker hub.

[2016-03-01 01:08] bgrant0607 commented on #13288
cc @janetkuo @nikhiljindal

[2016-03-01 01:11] bgrant0607 commented on #21517
See also #13288 (wrt docker hub, not gcr)

[2016-03-01 01:12] bgrant0607 commented on #22229
I'm guessing this was a Docker hub outage.

[2016-03-01 01:12] mikedanese commented on #20497
Ok thanks for info. Scratch two then. Here's another interesting one:

In https://github.com/kubernetes/kubernetes/issues/22025#issuecomment-189521361 it also looks like the node is fluctuating between ready and not ready, which causes evictions to be canceled and started again. It looks like this can happen when the container runtime is down. Here's the process:

1. kubelet starts and the contain

[2016-03-01 01:12] janetkuo commented on #21484
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22202/kubernetes-pull-build-test-e2e-gce/31071/artifacts/?debugUI=CLOUD
[code]

[2016-03-01 01:14] bgrant0607 commented on #22229
Yep: `ErrImagePull: "Error pulling image (latest) from docker.io/library/redis`

Dupe of #13288

[2016-03-01 01:14] #22229 closed

[2016-03-01 01:14] bgrant0607 commented on #13288
Also hit this in GKE e2e: #22229

[2016-03-01 01:15] bprashanth commented on #13288
Both nginx and redis have gcr.io images we can use, we should repush them with tags so we don't hammer docker with pulls because of default "latest". @fejta who has already re-pushed a couple of images for https://github.com/kubernetes/kubernetes/issues/20836

[2016-03-01 01:15] bgrant0607 commented on #22229
@saad-ali It's possible several test failure in build 1976 to be due to this cause.

[2016-03-01 01:16] mikedanese commented on #22025
It looks like the node is fluctuating between Ready and NotReady causing evictions to be started and cancelled repeatedly. This might indicate the container runtime is down.

[2016-03-01 01:18] dchen1107 commented on #20497
Then looks like there is an issue between 1 and 2, Kubelet shouldn't report healthy at the initial state.

[2016-03-01 01:21] huang195 opened #22237 "MESOS: K8sm build problem"
Using HEAD of master branch
[code]

Compiling Kubernetes without Mesos works fine. Did something change here?

[2016-03-01 01:21] huang195 commented on #22237
cc: @jdef @sttts @karlkfi

[2016-03-01 01:26] saad-ali opened #22238 "e2e flake: `Proxy version v1 should proxy to cadvisor` [expected time.Duration]"
e2e test `Proxy version v1 should proxy to cadvisor [Conformance]` failed with `/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/proxy.go:57 Expected : 15419323453 to be < : 15000000000`

Log from http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12526:
[code]

Assigning to @lavalamp for triage

[2016-03-01 01:28] saad-ali commented on #22229
I'll double-check the other failures to verify.

[2016-03-01 01:28] alex-mohr opened #22239 "kube-up.sh should use reasonable master size based on NUM_NODES"
[code]
That results in an n1-standard-2 master, which is clearly undersized.  kube-up.sh should use a reasonable master instance type based on NUM_NODES.

We should also clarify https://github.com/kubernetes/kubernetes/blob/master/docs/admin/cluster-large.md to document reasonable master sizes for various numbers of nodes/cores.

[2016-03-01 01:28] mikedanese commented on #20497
Ok I will try to reproduce. I'm looking for a reason why a kubelet can fluctuate from ready to not ready. We saw this in https://github.com/kubernetes/kubernetes/issues/19118 due to the unregister_netdevice bug

[2016-03-01 01:30] saad-ali commented on #22236
Looks like this failure was due to Docker hub outage:
[code]

Resolving as duplicate of #13288

[2016-03-01 01:30] #22236 closed

[2016-03-01 01:32] saad-ali commented on #22228
Looks like this failure was due to Docker hub outage:
[code]

Resolving as duplicate of #13288

[2016-03-01 01:32] #22228 closed

[2016-03-01 01:33] bprashanth commented on #19500
Reopening because of https://github.com/kubernetes/kubernetes/pull/18672#issuecomment-189987689

[2016-03-01 01:34] saad-ali commented on #22226
Looks like this failure was due to Docker hub outage:
[code]

Resolving as duplicate of #13288

[2016-03-01 01:34] #22226 closed

[2016-03-01 01:34] Random-Liu opened #22240 "Kubelet: Backoff Restart For Containers With Liveness Probing Failure"
Now in [`doBackOff()`]() we use the finished time of _latest exited container_ as the start point of backoff delay.

**Case 1:** If the container exited itself, this works well:
`latest exited container A finished --> (backoff delay) --> new container B started`

**Case 2:** However, if a container is just killed in the same SyncPod loop, for example container with liveness probing failure, becaus

[2016-03-01 01:36] saad-ali commented on #22229
Yep, looks like they were. Closed them as dupe of #13288

[2016-03-01 01:43] mikedanese commented on #20497
It seemed likely since the base sync period for kubelet runtime is 5 minutes (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/runtime.go#L28) which corresponds to the period we were seeing in #19118 but there may be other causes for kubelet to flap ready notready. I'm grasping at straws here until i have a reasonable repro to debug.

[2016-03-01 01:44] yujuhong commented on #18281
From the build.log:
[code]

It looks like kubelet is slow to start the container. Due to the lower logging level in the gke, it's hard to guess what could've slowed down the goroutine...

[2016-03-01 01:56] lavalamp commented on #20594
Yeah, crash in daemon controller. @mikedanese to fix or distribute :)

[2016-03-01 02:07] mikedanese commented on #1899
It would be nice to be able to infer causality and have a reasonable halting condition that is not timeout based.

[2016-03-01 02:10] mikedanese commented on #20594
This should be fixed on head.

That line is now a comment https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/controller.go#L298

[2016-03-01 02:11] mikedanese commented on #20594
https://github.com/kubernetes/kubernetes/pull/22030

[2016-03-01 02:12] justinsb commented on #18021
I believe this will be fixed by #22069.

Do we want to backport to 1.1  @a-robinson ?

[2016-03-01 02:13] feihujiang commented on #21969
AS @lavalamp and @davidopp recommend, all schedulers have their component name prefixed with
"scheduler-".

[2016-03-01 02:13] #21969 closed

[2016-03-01 02:15] bprashanth commented on #19500
'pologies, it was something else

[2016-03-01 02:15] #19500 closed

[2016-03-01 02:23] AdoHe commented on #20930
@thockin you mean that we will enable promiscuous mode on the container side interface?

[2016-03-01 02:28] janetkuo opened #22244 "e2e flake: Failed to create static ip"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22242/kubernetes-pull-build-test-e2e-gce/31096/?debugUI=CLOUD

[code]

@ixdy

[2016-03-01 02:29] yujuhong commented on #22189
FWIW, I looked at http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/709.
[code]
The scheduler claimed that all three nodes were at its max capacity, but at the end of the test, the test dumped all the pods on the nodes.

[code]
You can see that there are 330 pods in total and the --max-pods of each node is 110, but not all pods could be scheduled. Note that this test runs in the "S

[2016-03-01 02:30] yujuhong commented on #22189
/cc @wojtek-t, who has more knowledge about the PR #20669

[2016-03-01 02:32] ixdy commented on #22244
cc @kubernetes/goog-testing

Looks like a slightly different version of #22029. This is something that should really be fixed in gcloud. x-ref internal bugs 27367941 and 27371889.

[2016-03-01 02:34] ixdy commented on #22244
We can update all of our cluster scripts to delete the resource before trying again, but this is not really something I want to have to do everywhere.

[2016-03-01 02:39] nikhiljindal commented on #21753
Thanks @saad-ali

Not sure why  adding a label to pods is failing.
Sent https://github.com/kubernetes/kubernetes/pull/22243 and https://github.com/kubernetes/kubernetes/pull/22245 which should help in debugging.

[2016-03-01 02:49] mikedanese commented on #20497
at this point pretty certain there are multiple casues of this symptom. I'm considering adding a new loop in node controller that forcefully deletes pods that have been terminating for much much longer (5x or 10x) than their termination grace period.

Pros:
* "Fixes" all possible cases where pods fail to terminate.
Cons:
* could leak processes and resources on nodes that are unable to kill pods.

[2016-03-01 02:50] mfanjie commented on #22042
@ArtfulCoder skydns doesn't use ip addr, so the segment fault does not impact the function.
I finally found the image of skydns is not sync with gcr.io, after we synced the image, the crash problem was gone.
I am going to close the issue, except the segment fault in busybox might be addressed in the further.

[2016-03-01 02:50] #22042 closed

[2016-03-01 02:53] nikhiljindal commented on #21803
@bprashanth That failure is same as https://github.com/kubernetes/kubernetes/issues/22088 which should be fixed by https://github.com/kubernetes/kubernetes/pull/22223

[2016-03-01 02:56] huang195 commented on #22237
I'm not sure what happened, but seems to have resolved by itself.

[2016-03-01 02:56] bprashanth commented on #21803
@nikhiljindal so the failure to update labels is unrelated? without digging too deep into the test it looks like we updated the rc selector but didn't update the orphaned pod. Am I wrong?

[2016-03-01 03:02] ethernetdan opened #22247 "Services no longer support "export""
It appears that ability to export services no longer works in recent builds of Kubernetes. This problem surfaced in redspread/spread#67.

The error is produced in [/pkg/apiserver/resthandler.go:137](https://github.com/kubernetes/kubernetes/blob/a608cc9/pkg/apiserver/resthandler.go#L137)

### kubectl
[code]

### API
`curl -v "localhost:9000/api/v1/namespaces/default/services/example-service?export=

[2016-03-01 03:05] jayunit100 commented on #22184
Tests should be easy to run and filter.. This tagging makes them so.  The debate around simplicity is worth having, but I think the debate here is more around the fact that the tests, for intrinsic reasons, should have a unified namespace that is understood by the test framework we are using.

[2016-03-01 03:05] bprashanth commented on #20930
no on the container bridge.

@thockin yes they can set hairpin-mode and the recommended sysctl setting by themselves if they don't want promiscuous mode and don't mind a reboot on hung task. I think we're stuck with the flag for now, because it now has promiscous-mode, hairpin-veth and none, the last one meaning do nothing (eg non bridge networks).

[2016-03-01 03:12] timothysc commented on #22184
B/c openshift is a strict super-set of kubernetes.

Building multiple artifacts is also not tenable.  Extending via suites would be the ideal solution, but ginkgo is sadly crippled in this regard.  Adding a prefix for filtering is a low cost alternative, which will allow for "easi-er" consumption.

[2016-03-01 03:13] AdoHe commented on #21353
@nikhiljindal I did test again with kubernetes 1.1.4&1.1.7, I can create deployment. So could you provide your test environment that I can reproduce this issue?

[2016-03-01 03:29] ixdy commented on #22184
I still don't understand why you're trying to put these all in the same namespace. Ginkgo works fine for this as long as you keep the suites in separate packages, as it recommends.

Adding this tag which changes based on the environment will make aggregating third-party test results more difficult, since the names will no longer match.

[2016-03-01 03:38] timothysc commented on #22184
Kubernetes is a godep for origin.  Building a potentially mutable set of binaries is less clean, then subsuming via library.   The multiple binaries approach works if it's in the same repository, and choose to launch via ginkgo mechanics.  However, when you span repos via Godeps, it's not clean at all.   Ideally I would like suite to correspond to library, but ginkgo does not have the capability y

[2016-03-01 03:43] ixdy commented on #22184
OK, thanks, that is a helpful explanation of the problem.

If we were to move e2e tests out of kubernetes/kubernetes (something we've vaguely been discussing), would this make things more, less, or the same level of painful?

[2016-03-01 03:46] AdoHe commented on #22247
I test this under `1.2.0-alpha8`, and meet the same problem.
@bgrant0607 I am afraid we should still support service export in latest builds. If this should be supported, I would like to take a look.

[2016-03-01 03:51] timothysc commented on #22184
I don't think you would want to do that, the deps are 1:1 with the code itself.  You would constantly need to godep kubernetes/kubernetes to keep them in sync just to run the tests.  If the tests were pushed to use only REST apis then that may be possible, but that is a lot of untangling.

[2016-03-01 03:56] justinsb commented on #22225
If you SSH in to the master (`ssh -i ~/.ssh/kube_aws_rsa ubuntu@52.37.82.25`), there should be an error in `/var/log/cloud-init-output.log` or `/var/log/salt/minion`.  Or maybe it was just unusually slow downloading and everything will be running there...

Can you post your findings here please?

[2016-03-01 03:59] ixdy commented on #22184
OK, since I haven't looked at your usage (since I'm not sure where to look), I'm just blindly speculating, but I'm guessing that you import kubernetes/test/e2e both to get the utility functions as well as the test cases. And because everything is in the same namespace, and because of the way Ginkgo sets up test specs, simply importing test/e2e pollutes everything into your Ginkgo test spec namespa

[2016-03-01 04:01] bgrant0607 commented on #22247
Yes, this is a bug

[2016-03-01 04:02] bgrant0607 commented on #22247
cc @kubernetes/sig-api-machinery

[2016-03-01 04:03] jdef commented on #22081
i'm fine with the kubelet prefix

On Mon, Feb 29, 2016 at 7:52 PM, Hai Huang <notifications@github.com> wrote:

[2016-03-01 04:08] a-robinson commented on #18021
Yes, #22069 should almost certainly this. I've opened #22251 to make it cherry-pickable. It's admittedly not a P0, but is something that it's tough for a user to fix on their own when the system messes up.

[2016-03-01 04:08] #18021 closed

[2016-03-01 04:10] kpatryk commented on #13585
+1

[2016-03-01 04:15] AdoHe commented on #22247
I would take a look today.

[2016-03-01 04:18] #7126 closed

[2016-03-01 04:18] #9677 closed

[2016-03-01 04:18] #11082 closed

[2016-03-01 04:20] #22088 closed

[2016-03-01 04:22] fejta commented on #14836
Given that this is a couple quarters old without any progress I think we should close this out for now (possibility revisiting at a later date). However I'm going to unassign and take off the test-infra label in case area/cluster-lifecycle wants to keep it open.

[2016-03-01 04:25] #21608 closed

[2016-03-01 04:43] thockin opened #22252 "DNS should store reverse records for service IPs."
Apparently it's a thing for some software to resolve a name to an IP and then reverse-resolve that IP to a name again.  I can't think of any reason not to add reverse records for kube services.  This will lighten the load on upstream DNS servers

@smarterclayton @ArtfulCoder

[2016-03-01 04:53] bprashanth commented on #21940
--previous only works on crashing containers, which in this case is skydns. But it's crashing because of an nslookup failure, which is most likely because of kube2sky, so I really should be logging the output of kube2sky (not --previous kube2sky, which doesn't exist because it never crashed).

Hrm.

I have https://github.com/kubernetes/kubernetes/pull/22253.

[2016-03-01 04:54] fejta commented on #20836
`$ grep -o -E -e 'gcr.io/[-a-z0-9/_:.]+' test/e2e/*.go | grep -v -E "gcr.io/.*:" | cut -d ":" -f 1 | sort | uniq`

shows nothing at head

[2016-03-01 05:14] fejta commented on #13288
Looks like maybe there are 5 examples used by tests?

[code]

And it seems there are a 8 example yamls that don't use gcr.io --

[code]

[2016-03-01 05:18] fejta commented on #22002
@ixdy looks like your PR is nearly merged, I'm assigning this back to you (and also added a P1 label to the PR).

[2016-03-01 05:32] thockin commented on #20930
What I meant is whether we can reduce this to (non-promisc+hairpin ||
promisc).  Do we really think anyone will want non-promis+non-hairpin (i.e.
partially broken)

On Mon, Feb 29, 2016 at 7:06 PM, Prashanth B <notifications@github.com>
wrote:

[2016-03-01 05:37] thockin commented on #19029
Yeah.  I'd love to get a patch to handle this.  I'm personally buried right now and there's no way I will get to this in the immediate future.

This is a great community project - someone out there must be interested in networking stuff and wants to contribute....

I'll also tag @freehan in case he has cycles, but this is not as high prio as the myriad other things I know you have going on, too.

[2016-03-01 05:41] fejta commented on #22076
I ran aws configure on the jenkins master, so hopefully this is resolved?

[2016-03-01 05:41] #22076 closed

[2016-03-01 05:57] hd51515 opened #22255 "failed to finish build-cross.sh on mac pro (yosemite)"
the issue seems to be "but available 0G < threshold 11G" and "/usr/src/go/pkg/tool/linux_amd64/6l: running gcc failed: Cannot allocate memory". this is with the code i checked out just last night

sudo ./build/run.sh hack/build-cross.sh
Password:
+++ [0229 21:52:03] Verifying Prerequisites....
+++ [0229 21:52:03] No docker host is set. Checking options for setting one...
+++ [0229 21:52:03] docker

[2016-03-01 06:24] wojtek-t commented on #20638
We have success rate of the test <50%, so I will keep it open. But this seems more like test issues (or stability issues) than performance issue. However, I will try to look into it a bit more.

[2016-03-01 07:06] geoHeil opened #22256 "launching flannel after stopping docker not working"
Hi,

following the instructions from: https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/docker-multinode/master.md

Please note I run on `docker.sock` as `docker-bootstrap.sock` does not seem to exist.

[code]

How can a docker-pull work if docker is shut down?

If I do not shut down docker I can pull the image:

[code]

However it stil fails as the `/run/flanne

[2016-03-01 07:40] gmarek commented on #22189
I'm looking into it. It's usually a problem with interaction with other tests.

[2016-03-01 07:46] gmarek commented on #18969
We failed cluster startup with 997 ready nodes: http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-enormous-cluster/76/

[2016-03-01 07:50] bgrant0607 commented on #22247
Thanks @AdoHe.

It looks like the last thing that touched this was https://github.com/smarterclayton/kubernetes/commit/125ef6fbc8cc70477071936cd93d064d71c773e6

cc @smarterclayton

[2016-03-01 07:53] bgrant0607 commented on #17576
@raffaelespazzoli Sorry for the delay. Did you ever resolve this problem? How did you authenticate to ssh before running Kubernetes? What security features do you have enabled?

[2016-03-01 08:00] fejta commented on #22190
https://github.com/golang/oauth2/blob/master/google/google.go#L118 == can't get a token line

https://github.com/GoogleCloudPlatform/gcloud-golang/blob/master/compute/metadata/metadata.go#L167 == the reason OnGCE() is failing

[2016-03-01 08:08] #22208 closed

[2016-03-01 08:14] davidopp commented on #3885
ref/ #22217

[2016-03-01 08:17] wojtek-t commented on #21359
One more failure:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-kubemark-gce/6082/consoleFull

Ant this time we have logs:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-kubemark-gce/6082/artifacts/?project=kubernetes-jenkins

I will look into it.

[2016-03-01 08:35] wojtek-t opened #22259 "e2e flake: Kubelet syncloop hangs"
In one of the the kubemark runs, one node of the base cluster (real Kubelet) became unready. However, this was preceded by a bunch of following logs:

    I0229 18:36:47.747404    3429 manager.go:451] Pod status is inconsistent with cached status for pod "fluentd-elasticsearch-jenkins-e2e-minion-a6cx_kube-system(b409980b-df12-11e5-9e22-42010af00002)", a reconciliation should be triggered:
     {"p

[2016-03-01 08:35] wojtek-t commented on #21359
The above failure was problem with Kubelet - I filed #22259 for it.

[2016-03-01 09:46] #22218 closed

[2016-03-01 10:03] gmarek commented on #21570
I'm waiting for quota increase to run 100pod/node kubemark.

[2016-03-01 10:03] wojtek-t opened #22262 "Long scheduling latency in large clusters"
After recent changes in scheduler done mainly by @hongchaodeng scheduling latency is much better, but we are still not where we would like to be.

Currently the problem is: SelectorSpread::CalculateSpreadPriority function
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/selector_spreading.go#L81

What is happening:
1. We first iterate over all services

[2016-03-01 10:09] wojtek-t commented on #22262
FYI - we are planning to support more generic indexing hopefully for 1.3: #4817
But I'm not entirely sure whether it will even help here. I will think about it more.
@lavalamp

[2016-03-01 10:12] vpal commented on #22179
Greeting @bgrant0607 and @pmorie.
Thanks for your quick response on this.
I don't know if this should already be working with
 `gcr.io/google_containers/hyperkube-amd64:v1.2.0-alpha.8`,
but I do not seem to be able get the results I would expect.

I'm running kubelet with the following command:
[code]

I'm using the following manifest to test this with etcd:
[code]
And it seems that SupplementalGr

[2016-03-01 10:21] #21236 closed

[2016-03-01 10:22] fgrzadkowski commented on #11557
I think it's a nice to have. Marking P2.

[2016-03-01 10:33] raffaelespazzoli commented on #17576
I never solved this nor understood what the cause was. I'm not managing the
sever where this used to happen and I'm not able to reproduce it anymore.
I'm good with closing this issue.

I was using a one node cluster with no authentication on red hat and
centos. I was using username and password as a mean of authentication for
ssh.

Thanks
Raffaele

On Tuesday, March 1, 2016, Brian Grant <notificat

[2016-03-01 10:53] seveillac commented on #22062
Now in http://stackoverflow.com/questions/35695058/kubernetes-readiness-probe-exec-ko-liveness-probe-same-exec-ok

[2016-03-01 10:55] pires opened #22266 "GKE L7 pod crashing a lot"
I'm running 1.1.7 and I see this:
[code]

Inspecting the pod:
[code]

What's going on?

Also, I'm not using L7 but only L3 load-balancing so why is this pod running at all?

[2016-03-01 11:34] wojtek-t opened #22270 "e2e flake: deployment should support rollback when there's replica set with no revision [waiting for rs expectation]"
Failure [86.606 seconds]
    Deployment
    /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:72
      deployment should support rollback when there's replica set with no revision [It]
      /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/deployment.go:68

      Expected error:
          <*errors.errorString | 0xc20850ee40>:

[2016-03-01 11:51] #21986 closed

[2016-03-01 12:03] AdoHe commented on #22247
The root cause is because this struct [REST](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/service/rest.go#L49) does not implement [Exporter](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/rest/rest.go#L76) interface. I have fixed this and will open a PR asap.

[2016-03-01 12:25] #21525 closed

[2016-03-01 12:31] piosz opened #22271 "integration flake: pods "cassandra" not found"
[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22268/kubernetes-pull-test-unit-integration/16926/

may be related to #22128 #22134

cc @bgrant0607 @wojtek-t

[2016-03-01 12:44] chiefy commented on #15103
@thockin @erictune I can probably take a stab this weekend.

[2016-03-01 12:46] wojtek-t opened #22272 "Priority function should return bigger values"
Currently in scheduler we assume that a priority function returns value from 0 to 10. This makes scoring quite flat, especially when we are getting to large clusters like 1000-nodes.
We should change it to support bigger values and/or float values.

@davidopp

[2016-03-01 12:55] wojtek-t commented on #22072
I have an explanation of it right now. The problem is in scheduler. The issue is generally in LeastRequestedPriority function:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/priorities.go#L81
In our tests, we are scheduling pods without setting request. So scheduler for priorities is assuming some default values:
https://github.com/kubernetes/kuberne

[2016-03-01 13:28] ncdc commented on #21806
@davidopp I had some minor surgery yesterday and am still recovering today. I expect to be back tomorrow and hopefully can finish it up then, if it can wait until then.

[2016-03-01 13:30] gmarek commented on #21523
I run into it on one of 3-cluster Nodes after running MaxPods test a couple of times (which seems consistent with repro scenario that @yujuhong suggested). I nuked the cluster, but I have all the logs if someone is interested.

[code]

[2016-03-01 13:41] wojtek-t commented on #22072
Actually - after discussing it offline with @gmarek we decided to:
- decrease request for regular pods a bit (so that at the cluster scale we are significantly below cluster capacity)
- do not set any requests on "latency" pods (to trigger "full scheduling")

Then adding a new latency pod (with 0.1cpu request) will trigger increasing its underlying score, so they should all be spread evenly betwee

[2016-03-01 13:50] wangkirin commented on #20514
+1
I met the same problem with @jonhoo ,I used 1.2.0.alph7

[2016-03-01 13:58] joshuacox commented on #21315
@janetkuo @a-robinson what version are you using?  v1.1.7 here

[2016-03-01 14:05] tspecht opened #22273 "Deployments: Cannot unmarshal objects"
Hey guys,

I just wanted to try out the new Deployments feature and therefore tried to use one of the example deployment specs I found in this repo and the user guides:

https://github.com/kubernetes/kubernetes/blob/533bc598dd451feabeff85eb1345bb9cf5265300/docs/user-guide/deployment.yaml

When I run that locally against my cluster which is running v1.2.0-alpha.8 I get the following error:

[code]

[2016-03-01 14:24] timothysc commented on #22184
Your suppositions are mostly correct, and I'm not opposed to the approach over time.  But as of today, #22206 is a easy fix, and honestly I think it's slightly cleaner then what was there originally, which was little/no uniformity...  In general, I believe wrapping the dependencies in an envelope letter idiom helps isolate the monolithic dependency graph we have created in the code-base.  We have

[2016-03-01 14:34] gmarek commented on #21523
What's worst in this, is that Kubelet keeps claiming that it's healthy when this happens, so more pods are scheduled on it.

[2016-03-01 14:39] runseb commented on #22121
FWIW, here is a blog I just wrote that explains how to setup a kubectl proxy sidecar to use a Python client. Since the kubectl container was not published for 1.1.8 and even much before that, I had to create my own image at gcr.io/skippbox/kubectl:v1.1.8

http://www.skippbox.com/using-a-kubernetes-api-python-client/

[2016-03-01 14:52] cassiussa commented on #21913
Unfortunately this issue appears to have resolved itself.  I never was able to track down why the OutOfDisk was being reported.  It was giving the error for the past week but yesterday afternoon, after multiple failed attempts to build, it suddenly started building again.

Sorry I wasn't able to troubleshoot this further for you guys but I'm going to go ahead and close this issue.

[2016-03-01 14:52] #21913 closed

[2016-03-01 14:56] soltysh commented on #22207
I'm voting for 1+3, since as @mml mentioned k8s should stay away from monitoring business here, there are already plenty tools available out there. As long as we provide with sane examples how to integrate ELK stack (or similar,  OpenShift already provides tight integration with ELK stack) users should be able to setup whatever they feel comfortable with. Especially that in most cases they would p

[2016-03-01 15:02] wojtek-t commented on #22189
@yujuhong @gmarek  #20669 is supposed to be a no-op, but sure, there may be a bug in the new cache
I'm happy to help investigating if you have any specific logs that I should look at

[2016-03-01 15:04] timothysc commented on #22025
@mikedanese details please.  How could it be fluctuating?

/cc @yujuhong

[2016-03-01 15:05] AdoHe commented on #22273
Seems like a bug, I will take a look.

[2016-03-01 15:06] DirectXMan12 commented on #21755
I've reproduced with Paul's branch as well, and the problem seems to go away when part of the change is undone, so it looks like that's the cause.

[2016-03-01 15:08] tspecht commented on #22273
Okay cool, thanks, thought I was going completely stupid ... Looking forward to what you'll find! :)

[2016-03-01 15:22] gmarek commented on #22189
I'll keep in mind that possibility. Currently it seems that some pods from daemon_restart test can be left over on Kubelet. I'll add a check in scheduler predicates to check if all namespaces from other tests are gone.

[2016-03-01 15:57] sparkprime opened #22283 "kubectl does not accept "flow style" YAML"
Not the kind of YAML people usually write but my understanding of the spec is that this is valid YAML and there are reasons to prefer it.

[code]

[code]

[code]

[code]

[2016-03-01 16:04] sparkprime commented on #22283
@bgrant0607 related to this thread https://groups.google.com/forum/#!topic/kubernetes-sig-config/Sp66O1HAr9I

[2016-03-01 16:18] AdoHe commented on #22247
Opened a PR to fix this #22285

[2016-03-01 16:22] justinsb opened #22287 "CI scripts broken by #22073"
Getting this error... looks like we are quoting `ci/release`:

[code]

Working on a hotfix...

[2016-03-01 16:25] justinsb commented on #22287
Linking to #22073

[2016-03-01 16:25] alex-mohr opened #22289 "kube-controller-manager: error [reflector.go:333] /usr/src/go/src/runtime/asm_amd64.s:2232: expected type *api.PersistentVolumeClaim, but watch event object had type *api.Secret"
A bunch of glog.Errorfs from a GCE cluster/kube-up.sh cluster.
[code]
Note I never ran anything against this cluster -- kube-up last night and it sat idle since.  I don't think we have any persistentVolumeClaims in the default services?

[2016-03-01 16:30] jsravn commented on #18463
@mqliang

This changes fundamental behaviour in rolling-update. If I'm upgrading a single replica, rolling update now succeeds immediately, even though the new replica isn't ready. It even deletes the old RC before the new one is ready.

With maxUnavailable set to 0, prior to this change, rolling-update would wait for the new replica to be ready before returning and deleting the old replica.

I do

[2016-03-01 16:34] justinsb commented on #22287
Fix is #22288

[2016-03-01 16:35] AdoHe commented on #22283
with doubt whether this is really necessary.

[2016-03-01 16:36] alex-mohr opened #22290 "kube2sky has too many restarts"
On a 1000 node cluster, kube-dns doesn't seem very stable.  Unclear if the underlying issue has anything to do with the 1k nodes or not.  @kubernetes/sig-network
[code]
% kubectl --namespace=kube-system describe pod kube-dns-v10-e2tnx
Name:                           kube-dns-v10-e2tnx
Namespace:                      kube-system
Image(s):                       gcr.io/google_containers/etcd-amd64:2.

[2016-03-01 16:36] yujuhong commented on #22189
Scheduler makes it decision (how many pods to create) by looking at the current node usage and capacity. Unless there are pods being created *during the middle of the tests*, it'd be strange that left over pods from another tests would cause problems. As one can see from the pods printed out at the end of the tests, these *extra* pods also need to be destroyed during the test to not show up in the

[2016-03-01 16:36] #22287 closed

[2016-03-01 16:41] justinsb commented on #22289
Check out `func (r *replenishmentControllerFactory) NewController(options *ReplenishmentControllerOptions) (*framework.Controller, error) {`

[2016-03-01 16:42] justinsb commented on #22289
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/resourcequota/replenishment_controller.go#L184

[2016-03-01 16:48] alex-mohr commented on #22289
Thanks Justin.  A bit of history found @derekwaynecarr 's PR and #22211 to fix.

[2016-03-01 16:48] #22289 closed

[2016-03-01 16:49] AdoHe commented on #22273
@tspecht can you provide your detailed kubernetes version? `kubectl version` can get this.
I test this feature with this yaml:
[code]
(copy from the link above)
And it is ok, I can create the deployment:
[code]
Of course, my version is:
[code]
And you can get more detailed log through setting log level higher like `--v=9`. Hope this can help you.

[2016-03-01 16:49] pmorie commented on #21755
Yep, this is due to a problem with my PR.  I'll close this issue out.

[2016-03-01 16:49] #21755 closed

[2016-03-01 16:56] alex-mohr opened #22291 "jenkins flake: Jenkins unit/integration reported "no data""
#21187 reported "no data" for Jenkins unit/integration and required a manual "@k8s-bot unit test this" to re-trigger.  PR had been idle for 8+ hours.

[2016-03-01 16:57] dchen1107 commented on #20497
What's your kubelet flags when running into unregister_netdevice issue?

[2016-03-01 17:20] tspecht commented on #22273
[code]

Mhm, might be that I also need to update my client version?

[code]

[2016-03-01 17:25] dchen1107 commented on #21921
I am closing the issue since  #21945 was merge a couple days ago. Please reopen if the issue happened again.

[2016-03-01 17:27] timstclair commented on #22112
Is it all pod metrics (network + volumes + starttime) or just network + starttime? If the latter, it's probably not identifying the pod infra container correctly ([summary.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/stats/summary.go#L202)). How are the pod infra containers labeled on systemd machines?

[2016-03-01 17:40] smarterclayton commented on #22252
I thought we already did this - I know in Openshift we implemented it
(since the backing service cache has an index for reverse records).

[2016-03-01 17:48] yujuhong commented on #22259
The cause seems to be that kubelet stops running syncloop. The reconciliation is just a red herring because kubelet is not updating pods anymore. The syncloop hang causes /healthz failure:
[code]

@Random-Liu, could you take a look, thanks? Let me know if you have too many things on your plate.

[2016-03-01 17:50] Random-Liu commented on #22259
Sure. I'll look into it.

[2016-03-01 17:52] yujuhong commented on #20836
[test/e2e/deployment.go](https://github.com/kubernetes/kubernetes/blob/9e5d1b61faaf23393a617a78620cf3153f0fb195/test/e2e/deployment.go) still uses the "nginx" image, among others. Maybe the @kubernetes/sig-config can help with this file?

[2016-03-01 18:00] arun-gupta opened #22294 "Exposing service on a public IP address not showing up"
Started a cluster on Amazon:

[code]

Created a new Couchbase pod:

[code]

Got details about the Pod:

[code]

More details about the node on which pod is running:

[code]

Pick the address from Addresses, and expose the Couchbase node as a Service:

[code]

Get more details about the service:

[code]

http://52.34.79.170:8091 is not accessible.

This worked on Vagrant: http://blog.couchbase.com/

[2016-03-01 18:02] justinsb commented on #22225
OK well I'll close for now, because vastly improved in 1.2.  Do reopen if it happens again and you get the logs!

[2016-03-01 18:02] #22225 closed

[2016-03-01 18:03] mikedanese commented on #22283
What does ... mean in yaml? Without it the example works.
[code]

[2016-03-01 18:14] sparkprime commented on #22283
It doesn't work for me but I'm not using HEAD.

... means the end of a document, see
http://www.yaml.org/spec/1.2/spec.html#id2760395

[2016-03-01 18:15] pwittrock commented on #22112
It is all pod metrics.  You can reproduce the issue by enabling e2e-node-ubuntu-wily-image against the PR builder and setting cleanup=false.  This will leave the instance around with the binaries.  The labels appear to be present in docker.

[2016-03-01 18:16] lavalamp commented on #22181
@davidopp to delegate

[2016-03-01 18:17] lavalamp commented on #22244
Looks like a startup script problem. "already exists" should count as a success.

[2016-03-01 18:18] lavalamp commented on #22244
Not sure who owns these. @thockin to delegate. I think @brendandburns added the retries?

[2016-03-01 18:20] sparkprime commented on #22283
Ah my bad, I managed to corrupt my .kube/config since making this test case and I didn't realize because the error messages were similar.  I can't seem to get it fail now even with the ... so I'm confused.  Perhaps it worked all along.

[2016-03-01 18:21] lavalamp commented on #22187
@thockin to delegate

[2016-03-01 18:22] wojtek-t commented on #22189
@yujuhong - we think that @gmarek already fixed itin #22278

[2016-03-01 18:22] bprashanth commented on #22187
There's already an LGTM'd pr

[2016-03-01 18:22] wojtek-t commented on #22189
ohh - actually it was running in serial suite - this is a good point

[2016-03-01 18:23] wojtek-t commented on #22189
but there potentially could be left-over pods from the previous test

[2016-03-01 18:27] dchen1107 commented on #22166
We can temporarily set docker logging level to INFO for most of jenkins projects except the soaking ones. Will send PR to do that shortly.

[2016-03-01 18:28] lavalamp commented on #22271
@caesarxuchao Looks like this is in test-cmd.sh, probably unrelated to the fix you made there but maybe you can still take a look.

@piosz copy-pasting an excerpt from the log makes it easier to route these things quickly.

[2016-03-01 18:29] mikedanese commented on #22283
Seems to work with the ... as well :) and the yaml parser knows about that syntax https://github.com/go-yaml/yaml/blob/53feefa2559fb8dfa8d81baad31be332c97d6c77/scannerc.go#L40
[code]

[2016-03-01 18:32] janetkuo commented on #22271
[code]

[2016-03-01 18:37] sparkprime commented on #22283
I went back to my original problem and that now works so I suspect I had a subtle syntax error there which I didn't reproduce in my test case, although the test case didn't work anyway because of the config yaml corruption and I didn't read that error carefully enough.  Anyway, closing.

[2016-03-01 18:37] #22283 closed

[2016-03-01 18:39] janetkuo commented on #22270
@wojtek-t having link to test artifacts would be super helpful.

[2016-03-01 18:39] janetkuo commented on #22270
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22267/kubernetes-pull-build-test-e2e-gce/31145/artifacts/?debugUI=CLOUD

[2016-03-01 18:40] bprashanth opened #22296 "kubectl edit pod fails with no such file error"
Unsure if this is something specific to my machine, but fairly often I see:
[code]
That's a strange path:
[code]
My workaround is to mkdir -p

[2016-03-01 18:44] caesarxuchao commented on #22271
The pods are deleted by a `kubectl delete all ...`, which always sets the --ignore-not-found flag. It looks like the flag it not take effect. I'll dig into it later today.

[2016-03-01 18:45] ArtfulCoder commented on #21949
Can kube2sky reach apiserver ?
You can try hitting apiserver from the kube2sky pod..

[2016-03-01 18:48] bprashanth commented on #22290
That looks like OOM, either from the system of because of our 50m limits. I'm just removing the limits in https://github.com/kubernetes/kubernetes/pull/22253

[2016-03-01 18:50] justinsb commented on #22294
I don't believe this is supported on AWS.  I don't think it is supported on GCE either.  You should be using Type=LoadBalancer.  @thockin can you confirm that's still right?

@arun-gupta presuming my understanding is correct, can you point to the docs that are misleading you so they can be fixed?

[2016-03-01 18:50] bprashanth commented on #22290
I'm assuming you don't really have any Services? in which case out dns pod shouldn't be doing anything proportional to the size of the cluster, so it's weird that we aren't seeing this in other cluster. Or this could be  https://github.com/kubernetes/kubernetes/issues/21940 and it has nothing to do with 1000 nodes.

[2016-03-01 18:59] bgrant0607 commented on #20497
Have the containers actually terminated in these cases?

Currently we allow pre-stop hooks to run indefinitely. Changing that would be a breaking behavioral change. Will Kubelet still provide that behavior if the pod has been deleted?

[2016-03-01 19:06] liggitt opened #22298 "Controllers should backoff when pod creation is denied"
Pod creation can fail for a variety of reasons (quota, authorization, other admission plugins, etc). If the daemonset controller attempts to create a pod for a DaemonSet-Node tuple and is denied (gets a 403, admission error, etc), it should back off attempting to create a pod for that particular tuple.

c.f. https://github.com/kubernetes/kubernetes/pull/22286#issuecomment-190852789

cc @erictune @

[2016-03-01 19:07] mikedanese commented on #11549
Pod master is deprecated to be removed. Please use the controller-manager and scheduler --leader-elect flags

[2016-03-01 19:07] #11549 closed

[2016-03-01 19:09] ihmccreery commented on #22104
cc @kubernetes/sig-testing

[2016-03-01 19:09] mikedanese opened #22299 "Implement controller-manager --run-once mode"

[2016-03-01 19:10] bgrant0607 opened #22300 "e2e flake: RecreateDeployment should delete old pods and create new ones [pods not running]"
[code]

kubernetes-jenkins/logs/kubernetes-e2e-gce-ubernetes-lite/645

cc @janetkuo @nikhiljindal @kargakis

[2016-03-01 19:10] mikedanese opened #22301 "Implement scheduler --run-once mode"

[2016-03-01 19:12] nikhiljindal commented on #21353
In both the referred issues #21042 and #19515, users tried it on HEAD when deployments was not enabled by default.

I will try it once more and let you know how it goes.

[2016-03-01 19:16] dchen1107 commented on #22112
cc/ @derekwaynecarr and @vishh

[2016-03-01 19:18] bgrant0607 opened #22302 "e2e flake: deployment should label adopted RSs and pods [pods not labeled]"
kubernetes-jenkins/logs/kubernetes-e2e-gce-ubernetes-lite/639

[code]

The error message is confusing, but that's expected to be > 0:
[code]
In the case of failure, it would be useful to print the pod that failed.

cc @janetkuo @nikhiljindal @kargakis

[2016-03-01 19:19] mikedanese commented on #18735
https://github.com/kubernetes/kubernetes/issues/246#issuecomment-64533959

[2016-03-01 19:19] nikhiljindal commented on #21803
Yes you are right @bprashanth.

I looked at the failures for https://github.com/kubernetes/kubernetes/issues/22088 again and there the remaining pods did have the pod template hash label, while here they dont. Thanks for pointing that out.

I will try to look at how we ended up with such a pod.
I am also trying to debug why adding a label to pod is timing out: https://github.com/kubernetes/kuberne

[2016-03-01 19:20] erictune commented on #12742
I may have someone to work on this.

I'm told @smarterclayton is working on code that (1) wraps all objects stored in etcd in a "wrapper" object, and (2) allows different "encodings" to be applied to the "inner" object stored in etcd, such as a protocol buffer binary wire format encoding, and (3) the outer or wrapper object can record what encoding(s) were applied to the inner object.

@smartercla

[2016-03-01 19:21] erictune commented on #12742
@lavalamp

[2016-03-01 19:22] bgrant0607 commented on #21753
Also failed in kubernetes-e2e-gce-ubernetes-lite/639:
[code]

[2016-03-01 19:26] bgrant0607 commented on #19299
Has been moved out of Flaky, and the same symptoms have not recurred.

[2016-03-01 19:26] #19299 closed

[2016-03-01 19:26] bgrant0607 commented on #22122
The above issues have been fixed. Closing.

[2016-03-01 19:26] #22122 closed

[2016-03-01 19:26] erictune commented on #12742
@pmoire if you know about serializers status

[2016-03-01 19:27] bgrant0607 commented on #22270
We should print the revision and image we are waiting for in the error message.

[2016-03-01 19:29] liggitt commented on #12742
cc @pmorie

[2016-03-01 19:39] piosz commented on #22271
@lavalamp you are right. Sorry for that.

[2016-03-01 19:41] quinton-hoole commented on #13056
I think that we can close this as a duplicate of the various Kubernetes Lite and Kubernetes Proper issues, PR's and the working group (http://tinyurl.com/ubernetes-wg-notes). See also #17059, #19313.

[2016-03-01 19:41] #13056 closed

[2016-03-01 19:42] vishh commented on #22198
cc @derekwaynecarr

[2016-03-01 19:42] quinton-hoole commented on #4235
I think that we can close this as a duplicate of the various Kubernetes Lite and Kubernetes Proper issues, PR's and the working group (http://tinyurl.com/ubernetes-wg-notes). See also #17059, #19313.

[2016-03-01 19:42] #4235 closed

[2016-03-01 19:42] vishh commented on #21173
cc @derekwaynecarr @ncdc

[2016-03-01 19:43] Morriz commented on #18161
Yes, please reopen this, as it is a provider=aws blocker. I see the same output.

[2016-03-01 19:45] lavalamp commented on #15915
Kicking out. This doesn't need to go into our release, it's just on our website.

[2016-03-01 19:54] colemickens commented on #19808
I'm hitting this as well. Should I send a PR to remove those dirs, or ?

I guess I'm also curious how more people / CI isn't hitting this?

[2016-03-01 19:59] derekwaynecarr commented on #22198
@vishh - I would think we fixed all this in: #20687

I will look to see if I can reproduce from HEAD using Salt on a RHEL distro...

[2016-03-01 20:03] derekwaynecarr commented on #21173
How is the kubelet configured when running these tests?  Is this via the salt config?  I can look to see if incorrect options are being passed to RHEL derived distros.

[2016-03-01 20:08] bgrant0607 commented on #20863
I think this is done.

[2016-03-01 20:08] #20863 closed

[2016-03-01 20:09] andrejvanderzee opened #22307 "Cassandra cannot reach apiserver"
Hi,

On kube v1.2.0-alpha8, I am trying the cassandra example with the image gcr.io/google_containers/cassandra:v6 but the apiserver fails to resolve DNS for the apiserver on kubernetes.default.cluster.local:

[code]

How can I override DNS and make the container use my local (insecure) apiserver?

This is the Pod spec I am using:

[code]

Thanks,
Andrej

[2016-03-01 20:10] bgrant0607 commented on #20381
Seems to be resolved.

Deployment is enabled by default in 1.2, and the implementation has evolved pretty significantly, so I'm going to close this as obsolete.

[2016-03-01 20:10] #20381 closed

[2016-03-01 20:10] bgrant0607 commented on #20291
Done.

[2016-03-01 20:10] #20291 closed

[2016-03-01 20:11] bgrant0607 commented on #19949
cc @johndmulhausen

[2016-03-01 20:12] bgrant0607 commented on #19217
This is done.

[2016-03-01 20:12] #19217 closed

[2016-03-01 20:22] #22002 closed

[2016-03-01 20:23] bgrant0607 commented on #15251
#13288 is about moving e2e docker images over to gcr.io

[2016-03-01 20:24] mikedanese commented on #489
cc @pwittrock @vishh

[2016-03-01 20:37] bgrant0607 commented on #14376
This is resolved by the redesign.

[2016-03-01 20:37] #14376 closed

[2016-03-01 20:44] jayunit100 commented on #22184
from @kubernetes/sig-testing i dont think theres much opposition to extending the upstream package anymore, but i think jeff still has some concerns.  We can tackle the concerns in the PR moving forward .. if thats ok with  @ixdy....

[2016-03-01 20:44] lavalamp commented on #18760
I am thinking about dropping this to p2, which would mean we wouldn't block the release for it, but we're still willing to take @AdoHe's change when it lands. How many people would be unhappy with that? We can always cherry-pick it in the future.

[2016-03-01 20:45] bgrant0607 commented on #15313
Just waiting on /scale.

[2016-03-01 20:47] maclof commented on #18760
If this isn't included in 1.2 then I unfortunately will have to wait on upgrading. :(

[2016-03-01 20:48] danderson commented on #18760
Likewise, running with cleartext traffic is not an option for me, so I'd be stuck on 1.1.

[2016-03-01 20:49] bgrant0607 commented on #20986
Punting to 1.3

[2016-03-01 20:49] mml commented on #1899
I think we should avoid asking users to write conditions in any template language.  If we provide waitrunning, waitsuccess, and waitfail, I believe that will cover almost all use cases and anything more complicated should probably be implemented in a monitoring system.  (Was just speaking to @erictune about this, and he's on the same page.)

[2016-03-01 20:49] davidopp commented on #22181
@wojtek-t @gmarek

[2016-03-01 20:51] bgrant0607 opened #22308 "kubectl scale should use scale subresource"
We reverted it to use Update (PUT) while scale was broken. We should revert back, for ReplicationController, ReplicaSet, and Deployment.

cc @janetkuo @madhusudancs @soltysh @kargakis

[2016-03-01 20:53] jumpkick commented on #21735
It looks like without something like guilhem's patch from #21070 to the way kube-proxy to add --bind-address were going to be stuck.

[2016-03-01 20:59] lavalamp commented on #20594
I left a comment on #22030, at first glance it looks like that function is totally unprepared to get a tombstone.

[2016-03-01 21:03] lavalamp commented on #22262
Selectors have a fast reverse-lookup procedure. We may need to actually
implement it. The number of matching RC, RS, services should be pretty low,
I assume the problem is that finding that currently involves looping over
all of them?

On Tue, Mar 1, 2016 at 2:09 AM, Wojciech Tyczynski <notifications@github.com

[2016-03-01 21:07] davidopp commented on #21367
cc/ @mikedanese

[2016-03-01 21:10] jayunit100 commented on #14913
@kubernetes/sig-testing we are rebooting this issue, i think; we can close the issue once the PR of the new minimal basis set is merged.

[2016-03-01 21:17] erictune commented on #1899
Everyone who uses kubernetes will use kubectl.  A majority will not write
code against the API.  We should do the common cases in kubectl in a really
easy-to-use way first.

On Tue, Mar 1, 2016 at 12:50 PM, Matt Liggett <notifications@github.com>
wrote:

[2016-03-01 21:30] nikhiljindal commented on #21803
Should be fixed by https://github.com/kubernetes/kubernetes/pull/22305

[2016-03-01 21:32] rideswitch commented on #20475
I combined the master.yaml and node.yaml from https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/ to come up with a standalone (and much more stripped down) version of virtualbox coreos k8s which doesn't have this problem!  Note that I don't have any service name resolution.  Isn't there a managed /etc/hosts solution that I could employ for just a

[2016-03-01 21:36] therc opened #22309 "Daemonset keeps getting killed if hostNetwork: true"
I just built from HEAD.

The DS works fine with pod networking. As soon as I run it with hostNetwork: true, though, the container gets created, then a second or two later, kubelet says "Killing unwanted pod X".

[2016-03-01 21:36] bprashanth commented on #10136
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22305/kubernetes-pull-build-test-e2e-gce/31209/?debugUI=CLOUD
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/31209/consoleFull
Looks like we just didn't create an addon service:

[code]

[2016-03-01 21:38] gmarek commented on #22189
Looking at the Kubelet logs that were the case. We'll see if waiting for namespace deletion will solve this problem.

[2016-03-01 21:50] markoshust commented on #13892
Is my issue (http://stackoverflow.com/questions/35322432/running-meteor-app-with-nginx-ssl-proxy-on-kubernetes) caused because the ClientIP session affinity isn't being properly set in k8s? I thought I can use the network-layer load balancing vs doing it within nginx config.

[2016-03-01 21:51] vishh commented on #22198
I doubt that salt has any issues. Our regular e2es are happy. That's why I suspect that the node e2e setup has to be updated to include recent flag updates.

[2016-03-01 21:51] mikedanese commented on #20594
I responded.

[2016-03-01 21:53] kelcecil commented on #17790
I talked to @justinsb about this on the #sig-aws Slack channel a little while ago. I'm going to look at generalizing this backoff for everything instead of just AWS. Should make things easier. I'm going to start hacking on it this week.

[2016-03-01 21:53] mikedanese commented on #20497
Maybe related to #21367.

[2016-03-01 21:55] mikedanese commented on #20497
@bgrant0607 In some cases the container has terminated, in some cases it has not.

@Random-Liu you know the answer?

[2016-03-01 22:00] janetkuo commented on #22270
Looking at the controller log:
[code]
So far so good, we've rolled back to revision 1, and update rs's revision to 3.

[code]
Then, there seem to be a conflict when we update the deployment's revision, and we will retry later.

[code]
Then rs revision is updated to 3 again.

[code]
Another update conflict.

[code]
Then we update rs revision to 1, which shouldn't happen. And now revisions of deploy

[2016-03-01 22:05] vishh commented on #22198
@derekwaynecarr: I think this [logic](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_service.go#L129) needs to include `--system-cgroups=/system`, `--runtime-cgroups=/docker-daemon`, `--kubelet-cgroups=/kubelet`.

[2016-03-01 22:06] joshuacox commented on #21315
Upgrading to v1.1.8 and rebuilding in a private cloud I got the liveness check to run without the httpHeaders, but not with:

[code]

in what version did httpHeaders become a valid field for the HTTPGetAction?

[2016-03-01 22:17] #21751 closed

[2016-03-01 22:23] yujuhong commented on #22189
IIUC, kubelet doesn't report how many pods are running on the node, so scheduler shouldn't relying on that for scheduling decisions anyway. Also, leftover pods should be visible either at the beginning or the end of the tests. I am a bit puzzled, but I don't understand the scheduler well enough to suggest that this is a test issue or not. Either way, I think we should fix it :-)

[2016-03-01 22:30] vishh commented on #22198
@pwittrock: Can you post a pointer to the test that needs to be re-enabled as part of fixing this issue?

[2016-03-01 22:32] krousey commented on #21862
Looking into this, there's not much info. Logs from the master and nodes are missing.

It seems there was a timeout during the EmptyDirVolume tests:

[code]

And that timed out after 5 minutes. Then there's the Kubectl client Update Demo error. It seems as though it was trying to query the pods to see if the update demo was running and failed to connect once. I don't know if it is an actual error

[2016-03-01 22:36] vishh commented on #22198
nvm found it. Updated #22311 to re-enable the tests.

[2016-03-01 22:41] gmarek commented on #22189
What I saw was logs about killing container (or sth like that) from the previous test, during the next one. If #22278 won't fix it I'll dig deeper.

[2016-03-01 22:52] pwittrock commented on #21320
Fixed in #22215

[2016-03-01 22:52] #21320 closed

[2016-03-01 22:56] jdef commented on #22301
can you elaborate on this?

[2016-03-01 22:57] jdef commented on #22299
can you elaborate on this?

[2016-03-01 23:02] mikedanese commented on #22309
Does this happen on all nodes?

[2016-03-01 23:03] #21811 closed

[2016-03-01 23:06] lavalamp commented on #12742
@wojtek-t wants the protobuf work to happen, too. 1.3 is a safe bet for this.

[2016-03-01 23:06] tanen01 commented on #20475
@rideswitch that's interesting. Can you spot what made the difference? Older k8s v1.1.2?

[2016-03-01 23:07] therc commented on #22309
Yes, on all of them, where by "all" I mean both in my crash cell. One of them is the master with an unschedulable=true kubelet, the other one is a regular node. This is running on CoreOS on AWS, with Docker 1.10.

[2016-03-01 23:07] lavalamp commented on #20863
Yeah I gave you the standard line from go's authors of "just write an if,
it's not that hard".

I guess it is that hard. This is tons better than people using the float
max/min functions, so I won't complain.

On Tue, Mar 1, 2016 at 12:11 PM, Prashanth B <notifications@github.com>
wrote:

[2016-03-01 23:09] tanen01 commented on #20475
Also, when you said combined master/node yaml, did you only have 1 node running in the cluster?

[2016-03-01 23:11] kargakis commented on #22308
@bgrant0607 is everything ok now with the scale subresource?

[2016-03-01 23:17] derailed opened #22315 "Container grafana dashboard busted 117, 118, 120a8..."
Hi,

   Seems one of the most useful dashboard to monitor our pods is seemingly non operational ie the "Containers" dash. I've seen issues posted but does not seem to be a good resolve. As best I can tell there are some issues with expecting a container name and it seems that some of the containers in kube-system ns are unamed. Also on 120a8 looks like the data source is pointing to influx 0.8 and

[2016-03-01 23:27] yujuhong commented on #22189
This is expected if you nuke the entire namespace without waiting for pods to be cleaned up properly, but I don't think I saw that in the log. Maybe I've missed it. I'd be happy to help if that's the case.
On the other hand, this should not affect how the predicate test's and scheduler's views of the pods.

Sure, thanks.

[2016-03-01 23:35] a-robinson opened #22317 "Issues with verify/update generated docs on OS X"
Running hack/update-generated-docs.sh on my macbook pro at OS X version 10.11.2 spits out the following error:

[code]

Running hack/verify-generated-docs.sh hits the same error indirectly:

[code]

It may be due to differing version of `find` than are on linux. For what it's worth, my docker version:

[code]

[2016-03-01 23:43] mikedanese commented on #22025
@timothysc in the logs it looks like an eviction was cancelled for the affected node which indicates that the pod had transitioned from ready to not ready to ready. It reminded me of https://github.com/kubernetes/kubernetes/issues/19118#issuecomment-172096623 where a similar issue was the root cause. I'm not absolutely sure of the cause here. Much more detail on the issue here #20497

[2016-03-01 23:44] rideswitch commented on #20475
Essentially I just added the kube-proxy and kube-kubelet sections from node.yaml into master.yaml.  Running in a single node.  The versions of the components is just what comes from those yaml files on the release-1.1 branch, I will enumerate them below:

[2016-03-01 23:44] a-robinson commented on #21480
As @jimmidyson mentioned in https://github.com/kubernetes/kubernetes/pull/22074#issuecomment-189636915, Fluentd doesn't support sub-second time resolution in version 0.12, which is what we're currently on. 0.14 will support it (https://github.com/fluent/fluentd/issues/461), but hasn't been fully released yet.

We're stuck with per-second time resolution from these system logs for now. Our configur

[2016-03-01 23:45] timstclair opened #22319 "Summary API should report network stats from `eth0`"
Currently the summary API reports network stats summed over all interfaces ([code](https://github.com/kubernetes/kubernetes/blob/bef2b8f1edd509c7bb209a5df8fae53ad0d7ea56/pkg/kubelet/server/stats/summary.go#L299-L304)), but this is not correct.

We should search for the [`DefaultInterface`](https://github.com/kubernetes/kubernetes/blob/bef2b8f1edd509c7bb209a5df8fae53ad0d7ea56/pkg/kubelet/network/ku

[2016-03-01 23:45] #18281 closed

[2016-03-01 23:45] smarterclayton commented on #20497
The hooks can run indefinitely but he container still gets SIGTERM and
kill which should end the container and cleanup children if pid1
exits.  A hanging pid1 prevents that of course.

[2016-03-01 23:54] yujuhong commented on #22259
@Random-Liu, sorry I misread the issue. Since this is a real kubelet, it's most likely caused by a hung docker request. What we really should do is adding timeout to the docker client in the long run. Don't spend time trying to reproduce this. Let's wait until @dchen1107's PR to properly shutdown/restart docker to see if that helps.

[2016-03-01 23:54] ArtfulCoder commented on #20475
I believe when the nc command fails to hit itself via a service, it is because hairpin mode is not enabled on veth devices. You can verify yourself.
cat /sys/devices/virtual/net/docker0/brif/veth*/hairpin_mode

It should be '1', not '0'..

For some reason, it is set to 0.

[2016-03-01 23:56] nikhiljindal commented on #21353
I was able to repro this with the following steps on HEAD:

[code]
This gave the expected error:
[code]
Also, I could see that there was `apis/extensions/v1beta1/schema.json` in `~/.kube/schema`.

Then, I restarted the server with deployments enabled:
[code]
Now, I still got the validation error, when I tried to create the deployment:
[code]
Also, I could see that there was no difference in `~/.ku

[2016-03-01 23:58] Random-Liu commented on #22259
Kubelet hangs since:
`I0229 18:31:53.756609    3429 kubelet.go:2421] SyncLoop (housekeeping)`

While, PLEG didn't report anything except several:
`E0229 18:31:47.064312    3429 generic.go:164] GenericPLEG: Unable to retrieve pods: cannot connect to Docker endpoint`
After that it becomes totally silent.

Then kubelet was detected not healthy and was restarted:
`I0229 18:36:57.348255    3429 server.

[2016-03-01 23:58] saad-ali commented on #21753
Another failure Mar 1, 2016 12:22:22 PM: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12581/

[code]

[2016-03-01 23:59] mikedanese commented on #20497
Ok, I had a meeting with @kubernetes/goog-control-plane and we came to consensus a pod should not be hard deleted until all cleanup is guaranteed to have occurred (e.g. processes have exited, disks unmounted, resource freed). Thus the only entity in the system that should hard delete a pod (or transition it to a failed/succeeded phase) should be the kubelet. If we agree that this is the issue, som

[2016-03-02 00:04] mml commented on #22302
I'd like to work on this, but as a n00b I may make slow progress.  If anyone cares to take this from me I won't be offended.

[2016-03-02 00:09] smarterclayton commented on #20497
We talked about this behavior during the initial design but walked
back from it - the compromise reflected in the current design is
intended to reflect a midpoint between the two extremes (master or
kubelet being final arbiter of lifecycle).

There will always be cases where pods with deterministic names are
"special" and need to be recreated, while callers wish to have a wait
representative of th

[2016-03-02 00:17] janetkuo commented on #22302
Filed #22312 for logging it

[2016-03-02 00:18] saad-ali commented on #22072
More occurrences of this failure:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4949/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4955/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4967/

[2016-03-02 00:18] janetkuo commented on #22270
Filed #22312 for logging it

[2016-03-02 00:22] bprashanth opened #22322 "Surface oom kills better"
Figuring out something was oom killed because of a draconian memory limit is too hard, or am i missing a trick? I simulated an oom and had to ssh into the node and grep logs. Events didn't tell me much.

[2016-03-02 00:23] joshuacox commented on #21315
without httpHeaders I seem to be getting along all right?

<script src="https://gist.github.com/joshuacox/c99d326454d3df7b941a.js"></script>

[2016-03-02 00:28] saad-ali opened #22324 "e2e flake: `Load capacity [Feature:Performance] should be able to handle 30 pods per node`"
The e2e test `Load capacity [Feature:Performance] should be able to handle 30 pods per node` fails frequently in the scalability test suite with the error: `/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/density.go:144 There should be no high-latency requests Expected : 1 not to be > : 0`

Recent failures:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds

[2016-03-02 00:30] bprashanth opened #22325 "Consider adding metadata.internal to /etc/hosts"
Sometimes DNS resolution of metadata.internal flakes. In pods, it flakes because eg: kube-dns is down, on the master it flakes for reasons unknown (https://groups.google.com/forum/#!topic/google-containers/SPDYR-MqVZo). We can probably get away with adding the well known ip of the metadata server to /etc/hosts. This will have to be cloud provider specific.

[2016-03-02 00:38] smarterclayton commented on #1899
I'm not against special case states for ease of use.  My point is that
they aren't enough, and real use cases we have today already exceed
what can be expressed with a few flags.  Monitoring systems are going
to be built using the primitives we provide - and there is a big
hurdle for most systems to integrate our API.  I can say with
certainty that not implementing reasonably flexible wait on the

[2016-03-02 00:41] yifan-gu commented on #20583
I think it's because we don't want a restarted container to override the old one's termination message.
What I did for rkt (as I can't get containerID when creating the pod) is to generate a random UID, and store this message as an annotation of the rkt pod.

[2016-03-02 00:44] erictune commented on #20497
Unless the Pod is completely deleted, then resources might still be held.

Examples:
- a process that could not be terminated might be holding and keeping alive
a lease on a lock from some remote system.
- the existence of the pod could mean that a PD is still mounted and cannot
be mounted elsewhere until the pod is deleted.
- a hostPort could still be in use

The name lock is a way that we allow

[2016-03-02 00:46] smarterclayton commented on #1899
More detail here - pod wait is the least interesting wait condition.
Service and deployment wait are all that really matter for most users,
and possibly claim wait.  There's also the generic wait - you run
create -f and want to wait until it's done.  What users actually want
is probably "all services with a label have at least one endpoint",
and if you had an ingress, it will be "the ingress point

[2016-03-02 00:49] smarterclayton commented on #20497
Very few of those can be strongly guaranteed, but in general locks
that can't be broken aren't very good locks.  Someone who wants to
guarantee infinite lock can set an infinite grace period today
(without changing the system).  Someone who wants to bound the wait
sets grace period and is ok with a termination from a node controller
at some multiple.  Making all locks potentially infinite and
unbr

[2016-03-02 00:49] ArtfulCoder commented on #20475
you can do the following:
`ip link set docker0 promisc on` and it should solve the issue..

[2016-03-02 00:49] ixdy commented on #22184
IMO having a custom `KDescribe`/`KIt` is not going to work. We'll likely end up with a mix of "regular" `Describe`/`It`, along with the custom version, and there's not really a good way to enforce it.

[2016-03-02 00:54] ArtfulCoder commented on #20475
@derekwaynecarr For vagrant, how do I access kubelet log ? I didnt find it under /var/log

[2016-03-02 01:02] mqliang commented on #18463
@nikhiljindal @janetkuo

I think @jsafrane points out an interesting issue here: how should we handle the case where a RC with a single replica. Keep the default as 1(or 0) for all rolling-update, or set it as 0 when we are updating a RC with a single replica.

[2016-03-02 01:05] mikedanese commented on #20497
There should be an explicit deletion option to hard delete a pod. GracePeriod = 0 is a valid grace period and the pod should not be hard deleted immediately in this case. It should be deleted once it has been cleaned up.

Two advantages I see:
1. A pod is removed from the api only if it's has been successfully cleaned up. Most users assume that this is the case today when it's not.
2. Termination

[2016-03-02 01:08] justinsb commented on #17790
@kelcecil  I've got a PR pending for backoff in the servicecontroller #21982 .  It isn't great (it uses a goroutine to defer), but it should be doable for 1.2, while a better implementation would probably be too invasive.

[2016-03-02 01:12] tanen01 commented on #20475
@rideswitch
I see the difference now. Its the kube-proxy mode. In your original issue report, the config uses --proxy-mode=iptables. See [here](https://github.com/coreos/coreos-kubernetes/blob/master/single-node/user-data#L113)
In the one that works for you, this mode is not specified and it default to userspace. See [here](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-

[2016-03-02 01:19] davidopp commented on #20497
+1 to all of the points Mike and Eric made. I particularly like Mike's observation that what we're proposing in (3) isn't getting rid of the ability of clients to force-delete a pod via some mechanism, just getting rid of the discontinuity we have today where we handle 0 very differently from all other values of grace period.

I think our experience so far with the hybrid approach has shown that i

[2016-03-02 01:20] Random-Liu commented on #20583
Yeah, I went similar way with you for this issue. Thanks a lot! :)

[2016-03-02 01:25] erictune commented on #1899
Let me take a step back.

I agree we need ways to wait for Services, deployments, ingresses, jobs,
petsets, and sets of those things.

And I agree we will need kind-specific go language code for waiting.

What I was hoping to avoid, and I thought you were suggesting, but I could
have misunderstood, was for users to have to type a jsonpath template or go
template to do any sort of waiting.

I agree

[2016-03-02 01:27] janetkuo commented on #22270
Attempting to fix this in #22326

[2016-03-02 02:03] saad-ali commented on #22324
Another one:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4969/

[2016-03-02 02:06] saad-ali commented on #22072
More failures:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4969/
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4967/

[2016-03-02 02:23] nikhiljindal commented on #18463
Yes I dont think that we want to change the behavior of kubectl rolling-update.

I think it is better to revert to keeping the default for maxUnavailable as 0 for all kubectl rolling-update (as it was in 1.1)

cc @bgrant0607

[2016-03-02 02:24] #21803 closed

[2016-03-02 02:26] saad-ali commented on #22072
More:
* http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4970/

[2016-03-02 02:30] bgrant0607 commented on #18463
maxSurge should be 1 and maxUnavailable should be 0 by default.

We need to ensure that rollback works, however, in the case that the newRC is unavailable.

cc @kargakis @ironcladlou

[2016-03-02 02:50] smarterclayton commented on #20497
Maybe I don't have the same perspective, but the confusion I've seen
is almost entirely that calling delete doesn't have any effect when
the node is "broken".  And when they do learn about --grace-period=0,
they invoke it with the explicit desire to make the pod go away *now*.
All of the confusion has resulted from bugs or node problems, not from
actual graceful termination itself.

I don't think

[2016-03-02 02:52] janetkuo commented on #13288
[hack/test-cmd.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/test-cmd.sh) is also using it

[2016-03-02 02:57] bgrant0607 commented on #22308
@kargakis No, not done yet.

[2016-03-02 03:02] justinsb commented on #21607
#21958 has merged; closing.

[2016-03-02 03:02] #21607 closed

[2016-03-02 03:05] justinsb commented on #21241
Believed fixed but will verify after #21904 merges

[2016-03-02 03:06] justinsb commented on #21214
Closing as we have a systemd working now via jessie.  And we'll have wily & vivid as well.

[2016-03-02 03:06] #21214 closed

[2016-03-02 03:08] smarterclayton commented on #20497
On Mar 1, 2016, at 8:06 PM, Mike Danese <notifications@github.com> wrote:

how do you propose to differentiate between kubelet delete at 0 and user

There should be an explicit deletion option to hard delete a pod.
GracePeriod = 0 is a valid grace period and the pod should not be hard
deleted immediately in this case. It should be deleted once it has been
cleaned up.

I'm fine with "force delete",

[2016-03-02 03:19] AdoHe commented on #22273
@tspecht seems your client version is mismatched with your server version.

[2016-03-02 03:22] AdoHe commented on #22299
would take this.

[2016-03-02 03:37] justinsb commented on #22325
FYI, on AWS there is no name; you just use 169.254.169.254.  At least as far as I know!

[2016-03-02 03:48] therc commented on #22322
I look for error code 137 in Docker logs or oom entries in syslog...

[2016-03-02 03:49] chrisleck commented on #21275
https://github.com/kubernetes/kubernetes/pull/22227

[2016-03-02 03:50] saad-ali opened #22334 "e2e gce-serial and gke-serial flaky"
[kubernetes-e2e-gke-serial](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-serial/) and [kubernetes-e2e-gce-serial](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/) have both been mostly yellow (indicating failed tests) since Feb 27.

Sample failure http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes

[2016-03-02 03:59] mikedanese commented on #18112
Ping. There is a proposal out for this here. https://github.com/kubernetes/kubernetes/pull/20439

[2016-03-02 04:20] saad-ali commented on #22307
https://github.com/kubernetes/kubernetes/issues/20961

[2016-03-02 04:22] bgrant0607 commented on #22302
#22300 shows another case where a pod doesn't have the pod-template-hash label added.

[2016-03-02 04:22] saad-ali commented on #22294
CC @bprashanth

[2016-03-02 04:31] rideswitch commented on #20475
@tanen01
I turned on --proxy-mode=iptables in the new working setup and now it NEVER works.  To get the echo service to return anything I have to talk directly to the pod, whereas before the service worked every time (in the new setup) and 2/3 of the times in the broken setup.

I am testing your theory on the old setup.

@ArtfulCoder
You can get initialization events by running: systemctl  status

[2016-03-02 04:32] thockin commented on #22294
No, this should work, if that IP is actually exposed to the internet, not
NAT'ed, etc.

Can you run `ip addr show` and `iptables-save` for this node?

On Tue, Mar 1, 2016 at 10:50 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2016-03-02 04:39] rideswitch commented on #20475
@ArtfulCoder
[code]

[2016-03-02 04:57] davidopp commented on #21367
@mikedanese assigning this one to you since you said you could take another flake and I agree it might be related to #20497

[2016-03-02 04:59] cheyang opened #22335 "Restarting kube proxy doesn't update iptables correctly"
version 1.1.2

1. Start kube-proxy as
[code]
2. The iptables add
[code]
I think it's for --masquerade-all=true

3. Stop the kube-proxy, and restart it with `--masquerade-all=false`
[code]
4. The expected result is that we don't have "MASQUERADE  all" in iptables

But the real result is that we are still able to see

[code]

Is it as design? Or I misunderstand?

[2016-03-02 05:04] rideswitch commented on #20475
@tanen01
I turned off --proxy-mode=iptables on the old broken setup and now it works.  So, you are right, it is related to this flag.  I am still confused by the fact that in the new setup I never get communication, but that could be some other issue.

[2016-03-02 05:09] bprashanth commented on #22322
Exactly. That's too hard. You can also look for the OOMKiled fieldl in docker inspect which probably won't work for sysoom, but we should get something that shows up in kubectl to display this.

[2016-03-02 05:44] davidopp commented on #22324
@wojtek-t

[2016-03-02 05:45] davidopp commented on #21244
ping @pmorie

[2016-03-02 05:54] davidopp commented on #22334
cc/ @mikedanese , who commented on #21374

[2016-03-02 06:06] roberthbailey commented on #21563
@alex-mohr did you mean to reopen this with your last comment?

[2016-03-02 06:08] bgrant0607 commented on #19264
cc @doublerr

[2016-03-02 06:19] thockin commented on #22252
Nope.  We don't.  We should.

On Tue, Mar 1, 2016 at 9:41 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-02 06:24] davidopp commented on #21563
I think he did, but I think the general opinion (not yet verified AFAIK) was that the more recent problem he was having was because his master size was too small. So maybe he can verify that and then close if it is the case.

We should probably add an optional flag to `kube-up` that asks it to pick `MASTER_SIZE` for you based on `NUM_NODES`. At the very least, we should add some recommended master

[2016-03-02 06:29] thockin commented on #22159
Awesome.  Since I clearly can't read every PR (sad face), I'll pick a
couple nits here:

The yaml is going to be pretty mouthy for SELinux:

[code]

Could we reduce it to:

[code]

In the next cycle we'll need to add apparmor here, and we can discuss the
details at that time.

Tim

On Mon, Feb 29, 2016 at 10:19 AM, Paul Weil <notifications@github.com>
wrote:

[2016-03-02 06:30] rideswitch commented on #20475
@tanen01
The "other issue" which was causing me to get no connections seems to be that /opt/bin/kube-proxy doesn't actually accept the argument --proxy-mode .  So, this actually brings to surface the fact that in the https://github.com/coreos/coreos-kubernetes.git version, they are running /hypercube  from gcr.io/google_containers/hyperkube:v1.1.2 while in the way I just tried ( https://github.com

[2016-03-02 06:30] cheyang commented on #22335
I think I need to add --cleanup-iptables, right? And what does --v=1 mean? I didn't see it from http://kubernetes.io/v1.0/docs/admin/kube-proxy.html

[code]

[2016-03-02 06:31] AdoHe commented on #18760
@liggitt so should we add the `--etcd-config` flag back for backward compatibility?

[2016-03-02 06:36] thockin commented on #22335
I think you're misunderstanding.  External traffic always is SNAT'ed for
now.

On Tue, Mar 1, 2016 at 10:31 PM, cheyang <notifications@github.com> wrote:

[2016-03-02 06:36] #22335 closed

[2016-03-02 06:38] mqliang commented on #12611
@davidopp

I was thinking there is no need to add such a pointer, we can just create a `DisruptionBudget`, and use Selector/Label to match Pods. So, in general, the design of DisruptionBudget looks like:

[code]

[2016-03-02 06:45] nikhiljindal commented on #22302
https://github.com/kubernetes/kubernetes/pull/22305 fixed a bug due to which template hash was not being added to pods.