[2016-04-27 09:24] kargakis opened #24855 "Implement export functionality server-side for all resources"
The machinery added in https://github.com/kubernetes/kubernetes/pull/17483 is currently used only by services. Not sure if I miss any other resource but most don't (and should since the client functionality is already in place: https://github.com/kubernetes/kubernetes/pull/18101).

issues/gaps with current implementation:

- [ ] export is not implemented for list (https://github.com/kubernetes/kub

[2016-04-27 10:44] AdoHe commented on #24198
@janetkuo I think after [Decode](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/mapper.go#L54) here, the null `rollingUpdate` field is just missed.

[2016-04-27 11:30] AdoHe commented on #24855
@kargakis in this PR #22285, I just add service export implementation. You may take a look. Besides do we really need to support export all resources?

[2016-04-27 11:31] kargakis opened #24857 "kubectl attach support for multiple types"
Similar to `kubectl logs`. Note that we already support attach on various types, exposing it only in `kubectl run --attach`. See https://github.com/kubernetes/kubernetes/blob/6b1e59e8c87f75772aad219ad47ccfe5377e8f30/pkg/kubectl/cmd/util/factory.go#L651-L684

Also that helper needs to support replica sets.

@kubernetes/kubectl

[2016-04-27 11:41] kargakis commented on #24855
@AdoHe yes, we need to support exporting of most if not all resources.

[2016-04-27 11:42] #24357 closed

[2016-04-27 11:54] hekike opened #24858 "kubectl patch --record doesn't show up at rollout history"
Hi,

Deployment patching with `--record` doesn't show up in the deployment rollout history:

first:
[code]

after:
[code]
[code]

Is it a bug? Should it show up?

Thanks,
Peter

[2016-04-27 11:59] dalanlan commented on #17205
@mmkonrad `--no-sync` is a flag for `etcdctl` indeed.

[2016-04-27 12:02] therc commented on #24657
The IP is not exposed, because it would e.g. prevent live migrations of pods one day, but perhaps daemonsets could be an exception, because of their very nature?

We have a monitoring daemon on every node and wanted pods to report to the local agent. We solved that by having them contact a static IP, whose traffic gets rerouted to the local agent through an iptables rule.

[2016-04-27 12:10] mmkonrad commented on #17205
@dalanlan thx for reply.

Unfortunately this leads to Case 1..
`etcd start/running, process 2252
Error:  dial tcp 127.0.0.1:2379: getsockopt: connection refused
{"Network":"172.16.0.0/16", "Backend": {"Type": "vxlan"}}`

There is another issue concerning that on github: https://github.com/kubernetes/kubernetes/issues/19235
But all three solutions seem to be intended for Case 2.

Any suggestions?

[2016-04-27 12:13] deads2k commented on #24815
You're not going to believe this, but it's not.

@derekwaynecarr just because you'll find it amusing.

[2016-04-27 12:21] smarterclayton commented on #24815
You've corrupted him!

[2016-04-27 12:32] soltysh commented on #24533
@bgrant0607 the other option is we could do conditionally only for newer jobs (iow. from `batch/v2alpha1` and old would support that with a knob, probably.

[2016-04-27 12:35] AdoHe commented on #24720
@davidopp I think we can check weight overflow in [getPriorityFunctionConfigs](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/plugins.go#L256) after we get all PriorityConfig. what do you think about this?

[2016-04-27 12:43] soltysh commented on #24855
/sub

[2016-04-27 12:43] saturnism commented on #24711
woohoo! thanks. it should also perhaps ignore .* files by default :)

[2016-04-27 12:46] saturnism commented on #24649
i should add, when using `kubectl create -f .`, it should ignore hidden files by default.

[2016-04-27 12:48] AdoHe commented on #24649
@saturnism sounds reasonable to me. @bgrant0607 ptal.

[2016-04-27 12:51] AdoHe commented on #24855
Also as what export suggests, we should stripped of cluster-specific information from exported resources.

[2016-04-27 12:53] AdoHe commented on #24720
As for "score" I think we can add `type Score int`

[2016-04-27 13:24] felipejfc commented on #17397
I also had the same error with a aws cluster

[code]

[2016-04-27 13:27] #24352 closed

[2016-04-27 13:42] felipejfc opened #24860 "Proper Upgrading AWS kubernetes cluster brought up with kube-up is not possible ATM"
My understanding is that there is no way currently to do that, right?

kube-push is broken (I'm on 1.2.3)

And even if it worked, it would not do a proper upgrade of the cluster, it would only affect the nodes that are currently up but if I scale up the minions auto-scaling group the new machines would not come updated, right?

AWS is a very important provider and I feel it needs more love...

[2016-04-27 13:52] kargakis commented on #24855
@AdoHe right, have a look in the way we currently do export in Openshift: https://github.com/openshift/origin/blob/ba78a93546bb876693276b44b2baf5b0b41f6910/pkg/cmd/cli/cmd/exporter.go#L60-L250

[2016-04-27 13:53] bgrant0607 commented on #24649
@saturnism @AdoHe Ignoring dot files by default makes sense. It could break existing usage, but an argument could be made on security grounds.

cc @smarterclayton

[2016-04-27 14:01] bgrant0607 commented on #12123
Go's filepath library has support for expanding globs:
https://golang.org/pkg/path/filepath/#Glob

@zhouhaibing089

kubectl obeys relatively standard flag conventions:
http://www.gnu.org/software/libc/manual/html_node/Argument-Syntax.html

kubectl already supports multiple `-f` flags.

Yes, we require filenames to be flags. Note that --filename/-f is supported by many commands, not just create. Mo

[2016-04-27 14:06] felipejfc opened #24862 "Elasticsearch stops logging on AWS cluster"
It is the second time this happens to me, after some time kibana stops showing new log messages from my pods:

![image](https://cloud.githubusercontent.com/assets/285782/14854882/de15b712-0c67-11e6-9ab6-8e9d9bc51f7b.png)

My pods continue to work normally and I can see the logs with logs -f. kube-system pods seems to be working well too:

[code]

The first time this happened I deleted the elastics

[2016-04-27 14:12] thockin commented on #12123
We could maybe support a --ff flag meaning "consume all remaining args as
files" if this is important enough....
On Apr 27, 2016 9:02 AM, "Brian Grant" <notifications@github.com> wrote:

[2016-04-27 14:21] kargakis commented on #24312
A update-all-no-failures-please-dont-make-me-think.sh script would be ideal.

[2016-04-27 14:23] cmoad opened #24864 "Attached PDE in GCE fails with FQDN as the node name"
Using v1.2.3 we are getting the following error with the default name of the node as registered by the kubelet.

[code]

We are able to get around the issue by explicitly running the kubelet with `--hostname-override=$(hostname -s)` but this issue could trip up others and it would be nice to avoid the workaround.

[2016-04-27 14:28] therc commented on #24473
Does it make a difference if you set GO15VENDOREXPERIMENT to 0? Yesterday I wasted a couple of hours on something like this and I tried so many things. I think #23749 has what fixed it for me.

[2016-04-27 14:28] cmoad opened #24865 "All nodes in specific GCE zone register then immediately disappear"
We have a fresh v1.2.3 cluster in an HA configuration. Masters are in us-east1-[b,c,d]. All the worker nodes in us-east1-b come up and work fine. However, all nodes in us-east1-[c,d] appear to register fine with the kubelet, but then immediately disappear. The logs show that these nodes successfully register but they appear to immediately re-register.

Here are the logs we are seeing which go into

[2016-04-27 14:29] cmoad commented on #24865
Attaching the logs for easier consumption.

[logs-kubelet.txt](https://github.com/kubernetes/kubernetes/files/238780/logs-kubelet.txt)

[2016-04-27 14:52] #24725 closed

[2016-04-27 14:54] bgrant0607 commented on #18166
cc @kubernetes/docs

[2016-04-27 14:56] bgrant0607 commented on #18166
I disagree about kubectl run vs. declarative.

Whatever we do will be covered by the doc overhaul:

https://docs.google.com/document/d/12Nfj2E8tZL-CMnnpkSH9m5k_oqd4qJh4qDwYDxPGJJI/edit?ts=5705b1fc#bookmark=id.hd0knav8aqkb

[2016-04-27 14:56] #18166 closed

[2016-04-27 15:00] mikebrow opened #24866 "Vagrant docs with invalid links"
Vagrant getting started guide:  kubernetes/docs/getting-started-guides/vagrant.md is an empty shell pointing to its new location on the web at http://releases.k8s.io/release-1.2/docs/getting-started-guides/vagrant.md with the source for said web page being located at kubernetes.github.io/docs/getting-started-guides/vagrant.md.  However, http://releases.k8s.io/release-1.2/docs/getting-started-guide

[2016-04-27 15:18] Aleishus commented on #24657
I know thanks

[2016-04-27 15:18] #24657 closed

[2016-04-27 15:32] zhouhaibing089 opened #24868 "failed to run update-swagger-spec.sh"
It failed like this:

[code]

and I think it happened due to https://github.com/kubernetes/kubernetes/blob/master/hack/after-build/update-swagger-spec.sh#L52, the `kube::etcd::start` is called while `kube::etcd::install` is not.

[2016-04-27 15:38] zhouhaibing089 commented on #24868
I am hoping add this line before the call to `kube::etcd::start` would solve this problem:

[code]

[2016-04-27 15:40] smarterclayton commented on #12123
we could support `--` for "everything after this is a file", at least for
create and a few other "filesystem xargs friendly".

On Wed, Apr 27, 2016 at 10:12 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-04-27 15:54] pwittrock commented on #24423
This is still happening and is the most frequent cause of flaky tests:

Connection to tmp-node-e2e-18a7a193-e2e-node-coreos-stable20160218-image closed by remote host.

[2016-04-27 15:57] streamnsight commented on #24842
I'm still having a similar issue...
What's the best way to troubleshoot this?
https://github.com/kubernetes/kubernetes/issues/24829

[2016-04-27 15:57] dchen1107 commented on #24423
@yifan-gu please triage or delegate. This causes a lot of flakes in node e2e test suite. Thanks!

[2016-04-27 16:06] pwittrock commented on #24423
Let me know if you need more logs

[2016-04-27 16:18] thockin commented on #12123
`-f --` could mean everything else, so it is clear that the intent is `-f`

On Wed, Apr 27, 2016 at 8:41 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-27 16:34] david-mcmahon commented on #24837
Let's try that again.  I'll get a chance today to look.

[2016-04-27 16:37] activeshadow commented on #24604
OK, so this ended up being user error... I was letting the API servers on my 3 HA masters generate their own TLS keys and certs, which inevitably screwed up the service accounts generated. I recreated the masters with specific keys and certs all signed by the same CA and all is working now.

[2016-04-27 16:37] #24604 closed

[2016-04-27 16:45] quinton-hoole commented on #24276
@yujuhong Anything remaining to be done here?  Can this be closed?

[2016-04-27 16:48] dcbw commented on #24672
@steveeJ yes, I see what you're saying here.  Currently, the rkt runtime will pass --net=io.kubernetes.rkt as the network and an existing CNI config for that is required, and there is no facility currently for the rkt runtime to do pause/network container setup at all.  So either we do a larger restructuring of the rkt kubelet runtime to more closely match the flow of the docker runtime (eg, creat

[2016-04-27 16:51] chrislovecnm commented on #24290
@bgrant0607 @bprashanth we have a comment in the Provider to update some code once the CA services are setup correctly.

Has this been done??

Here is the TODO note: https://github.com/kubernetes/kubernetes/blob/master/examples/cassandra/java/src/io/k8s/cassandra/KubernetesSeedProvider.java#L136

[2016-04-27 16:57] quinton-hoole commented on #22871
Agreed, good feature idea.  A detailed design proposal would be welcomed.
Probably more an API consideration than control plane, so I've relabelled accordingly.
@bgrant0607 FYI.

[2016-04-27 16:58] quinton-hoole commented on #23217
Assigning to @erictune to add priority label.

[2016-04-27 17:04] quinton-hoole commented on #22382
cc @gmarek @wojtek-t
@jchauncey You should be able to do that today by watching pod creation and state changes.  e.g. see https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L379

I'm not sure whether we yet have any concrete plans to expose that data in a more generic way.

[2016-04-27 17:07] quinton-hoole commented on #23926
I wonder why we're not seeing this in our continuous integration tests?

[2016-04-27 17:08] quinton-hoole commented on #22695
Assigning to @etune to add a priority label.

[2016-04-27 17:10] quinton-hoole commented on #23186
Assigning to @mikedanese to add a priority label.

[2016-04-27 17:11] dcbw commented on #24672
@bprashanth looking at the rkt implementation, it seems like the only pieces it would really use are the POD_CIDR_CHANGED event and the CNI config generation.  That's not a lot of kubenet that's actually used; even the shaper isn't used because that's handled through SetUpPod()/TearDownPod().  I'm not sure it's worth rkt really using kubenet given we'd have to special case stuff in kubenet to make

[2016-04-27 17:11] quinton-hoole commented on #23926
Downstream bug fixed: GoogleCloudPlatform/gsutil#348. Closing.

[2016-04-27 17:11] #23926 closed

[2016-04-27 17:21] dcowden opened #24873 "Is there a way to generate yml files that will produce the existing cluster?"
Given a kubernetes cluster that is running some number of pods, services, deployments, etc, I would like to generate one or more files ( yml format preferred) that would re-produce the current configuration, when applied to a new cluster.

My use case is a promotion system.  I have my 'stack files' as yml files in a git repo, but I need to allow humans to approve changes before they are applied to

[2016-04-27 17:23] mikedanese commented on #23186
What are you using to deploy the clusters? Are you using kube-push? This sounds like it could be a node issue.

[2016-04-27 17:25] dcowden commented on #11488
+1 for this. My use case is to understand the difference between a stack file and an existing cluster, but this command would be a substitute.

[2016-04-27 17:36] mikedanese commented on #23186
closing as a dup of #17397, kube-push is utterly broken. it should be disabled.

[2016-04-27 17:36] #23186 closed

[2016-04-27 17:36] mikedanese commented on #17397
Can we disable kube-push til this is fixed so people don't brick their clusters?

[2016-04-27 17:47] mikedanese opened #24874 "hyperkube should package cni plugins"
cc @freehan

[2016-04-27 17:56] roberthbailey commented on #17397
/cc @justinsb

[2016-04-27 17:57] cjcullen opened #24875 "Multi-port services w/ different backends for each port"
Assume I have Deployment A that exposes port 4444, and Deployment B that exposes port 5555. I'd like to create Service S, backed by A & B, that exposes both 4444 & 5555.

[2016-04-27 17:58] dcbw commented on #24672
@bprashanth might be easier than I thought to get rkt to put a pod into a different namespace; see https://github.com/coreos/rkt/pull/2525

[2016-04-27 18:05] gmarek commented on #22382
In some setups (like GCE) master is self-registered and both scheduler and controller-manager runs as pods. You can then use master-proxy to get to theirs /metrics endpoints.

[2016-04-27 18:11] leshik opened #24876 "Dependency on docker-proxy"
I'm not sure if this is correct repo to file this issue so please move it elsewhere if I'm wrong.
I played with nginx-ingress-lb resource and found that `hostPort` option depends on docker-proxy to do port forwarding. I had `--userland-proxy=false` option set and, since we also have to set `--iptables=false` to work with Kubernetes, therefore hairpin NAT is off, it took me awhile to figure out why

[2016-04-27 18:19] yissachar opened #24877 "AWS: kube-up configure kube-config context"
I've run `kube-up` to create a cluster, which resulted in a `aws_kubernetes` cluster and user being created in kube-config.

Now I want to run `kube-up` again with different parameters, to create a second cluster in a different AWS account. I would like to use a different name for the cluster and user for this cluster. From what I can see from the [script](https://github.com/kubernetes/kubernetes/

[2016-04-27 18:41] janetkuo commented on #19949
We need to adding `{% raw %}`; ref https://github.com/kubernetes/kubernetes.github.io/issues/85

[2016-04-27 18:56] vlyubin opened #24879 "Property mysteriously disappearing from config"
I have a kubernetes deployment, to which I want to add a couple of new parameters. Some of them were successfully added, but one of them is simply ignored - once you do `apply` again, you see the same diff (and it's missing from the deployment if you view it via `edit deployment`). The new property is:

[code]

The weirdest part is that we were able to fix this by rearranging the order of these pr

[2016-04-27 19:14] yifan-gu commented on #24672
@dcbw I didn't get it, the containers within a rkt pod shares the same network namespace today.

[2016-04-27 19:22] yifan-gu commented on #24672
@dcbw Briefly, rkt calls `nspawn --boot` to create a so called "rkt pod" which has different namespaces from the host.
Then each "rkt app" (which corresponds to the kubernetes' "container" notion) is started by the PID1 in that pod created by nspawn. The PID1 is a systemd process in this case.

And each app chroot to their own rootfs.

So all the apps (kubernetes' "container" notion) shares the sa

[2016-04-27 19:28] dcbw commented on #24672
@yifan-gu are you sure?  I could be wrong, but I don't see that being the case when --net is passed...

kubernetes' pkg/kubelet/rkt/rkt.go will pass --net=rkt.kubernetes.io to rkt whne launching a networked container.  That ends up in rkt's rkt/run.go which passes the list to the stage0 RunConfig.  That ends up in stage0/run.go which runs stage1 and passes --net=rkt.kubernetes.io.  Stage1 (in stag

[2016-04-27 19:47] yifan-gu commented on #24672
@dcbw The stage1 is invoked once per pod, each pod has one stage1. What did you mean by every time?

Ref https://github.com/coreos/rkt/blob/master/Documentation/devel/architecture.md#stage-1

[2016-04-27 19:53] yissachar commented on #24877
Manually overwriting `aws/util.sh` file to set CONTEXT to a different value works to achieve the effect that I want.

This value should be allowed to be set externally so that we don't have to resort to manually editing the file for each cluster.

[2016-04-27 20:03] steveeJ commented on #24672
@dcbw

Please see https://github.com/coreos/rkt/blob/master/Documentation/subcommands/run.md#host-networking, summarized `--net=host` will tell rkt to leave the networking alone which is what I suggested in my above comment.

Looking at https://github.com/coreos/rkt/pull/2525 I understand that you didn't pursue my suggestion of directly invoking CNI from kubernetes. I strongly advise against using

[2016-04-27 20:07] cmoad commented on #24865
Here are the logs from the apiserver during the launch:

[code]

[2016-04-27 20:13] nikhiljindal opened #24880 "e2e test for federated-apiserver"
Now that https://github.com/kubernetes/kubernetes/pull/23847 is merged, we should have an e2e test that verifies that POST, GET, DELETE cluster works as expected.

@colhom I believe you are working on this?

cc @kubernetes/sig-cluster-federation

[2016-04-27 20:14] ericchiang commented on #23396
My plans for the next few weeks before the 1.3 freeze:

1. Attempt to get some version of the Openshift RBAC types into upstream.
2. Add a simple Authorizer plugin implementation that uses those types.

As PRs are opened, I'll reference this issue for anyone tracking it.

Outside of the scope of 1.3 work:

* A "oadm policy" equivalent for kubectl.

[2016-04-27 20:15] yifan-gu commented on #24423
cc @euank

[2016-04-27 20:17] yifan-gu commented on #24423
cc @crawford

[2016-04-27 20:32] colhom commented on #24880
@nikhiljindal I am working on it, should have a WIP PR up soon.

I'm finishing up getting kube-up to provision a federated control plane. I believe the actual e2e tests will require kubectl, so I'm also blocking on #24016 (currently needs rebase :( )

[2016-04-27 20:36] bgrant0607 commented on #170
It looks like we're never going to do this. Security concerns will be addressed another way.

Pods created will need to match other policies (e.g., PodSecurityPolicy), but checking whether a pod "matches" a template is hard to do in general.

[2016-04-27 20:40] smarterclayton commented on #170
Sad.

On Wed, Apr 27, 2016 at 4:36 PM, Brian Grant <notifications@github.com>
wrote:

[2016-04-27 21:04] derekwaynecarr commented on #24815
@deads2k - you are not alone!

[2016-04-27 21:16] chrislovecnm commented on #24550
https://github.com/kubernetes/kubernetes/pull/24885 is a good start!

[2016-04-27 21:16] chrislovecnm commented on #24493
https://github.com/kubernetes/kubernetes/pull/24885 fixes all of this 😄

[2016-04-27 21:18] chrislovecnm commented on #20961
@bgrant0607 just put https://github.com/kubernetes/kubernetes/pull/24885 in ... Fixes a bunch of the open issues that I have.  Good start on a stable `SeedProvider` for PetSet 😄

[2016-04-27 21:29] yifan-gu commented on #24423
@pwittrock Did you turn off the automatic reboots on the coreos machine?

[2016-04-27 21:30] yifan-gu commented on #24423
@pwittrock Also, do you have the console output of the coreos machine?

[2016-04-27 21:31] lavalamp commented on #24652
@fejta why do you think there's a race? This looks like a test framework problem, at least from the copy-pasted logs.

[2016-04-27 21:32] lavalamp commented on #24652
(kubectl is more ux team than csi, for the record)

[2016-04-27 21:38] pwittrock commented on #24423
@yifan-gu No I didn't turn them off.  How should I do that?  The test deletes the instance after it completes so the console output is lost.  I can update the test to keep failed instances around so that we can get debug info.

[2016-04-27 21:49] yifan-gu commented on #24423
@pwittrock So you want to turn that off, otherwise the coreos will reboot after it automatically updates.(https://coreos.com/os/docs/latest/update-strategies.html#disable-automatic-updates-daemon)

If you are using cloud config, you can do by drop in these https://github.com/yifan-gu/kubernetes/blob/gce_coreos_rkt/cluster/gce/coreos/node.yaml#L4-L10

[2016-04-27 21:51] chrislovecnm commented on #24030
@bprashanth @bgrant0607 one other thing.  Will PetSet support exposing every Cassandra ip address and port to an external port?  A external client will need to see every C* server, not loadbalanced, but direct access.

[2016-04-27 21:58] dcbw commented on #24672
@steveeJ @yifan-gu yes, thanks for the pointers, I see what's going on now and I missed it first time around.

[2016-04-27 22:05] dcbw commented on #24672
@steveeJ If I understand you correctly, I think I came to the same conclusion earlier today, but not calling rkt's CNI directly would still require that Kubernetes have special-cased code for rkt to create the pod namespace, though that's not a ton of code and would probably be fairly easy to implement in kubelet.

[2016-04-27 22:06] ultimateboy commented on #19817
For anybody else running across this, I created myself a go-template query which lists all the annotations of services (easily adaptable to labels). It's not pretty, but it gets the job done:

```kubectl get svc -o 'go-template={{range .items}}{{.metadata.name}}{{"\n"}}{{range $key,$value := .metadata.annotations}}{{$key}}: {{$value}}{{"\n"}}{{end}}{{"\n"}}{{end}}'```

[2016-04-27 22:20] saturnism opened #24888 "`kubectl replace deployment` doesn't remove ReplicaSet from the old deployment"
I have a deployment resource named: `helloworld`, with labels `app=helloworld,version=1`
I want to replace the deployment with a new version of image, but with an updated label, `version=2`

This seem to be impossible to do. If I do: `kubectl apply -f deployment-v2.yaml`, it'll tell me selector doesn't match template labels.

If I do `kubectl replace deployment helloworld -f deployment-v2.yaml`, i

[2016-04-27 22:20] pires commented on #18549
AFAIK, K8S API server would be the relying-party (`RP`) and therefore, on `access token` invalidation/expiration would be the one responsible for either:
* Redirect client to OpenID Provider (`OP`) for re-authorization, or
* Having a `code` for a certain user, request new `authorization_code`

This would happen on `code-flow`.

[2016-04-27 22:24] pires commented on #18549
Also, using signed JTW assertions the `client secret` shouldn't be needed.

[2016-04-27 22:30] nikhiljindal commented on #24880
I was thinking that our first e2e test can be without kubectl.

It just brings up the federated-apiserver backed by etcd and calls direct HTTP POST, GET, and DELETE cluster requests on federated-apiserver.

[2016-04-27 22:32] pwittrock commented on #24423
I am just using a vanilla image off of gce.  [this page](https://coreos.com/os/docs/latest/booting-on-google-compute-engine.html) describes how to add a cloud config as metadata to an instance.  Do you know if this will also add it to an image I create from the instance?

[2016-04-27 22:43] smarterclayton opened #24890 "Flake in test-cmd on retrieving hpa object - the server doesn't have resource type horizontalpodautoscalers"
"the server doesn't have a resource type "horizontalpodautoscalers" in group "v1beta1.extensions""

[code]

[2016-04-27 22:52] bgrant0607 commented on #24888
Yeah, don't do that.

[2016-04-27 22:53] bgrant0607 commented on #24888
kubectl replace --force will do cascading delete.

[2016-04-27 22:53] nikhiljindal commented on #23653
Updated the task list based on recent discussions:

**APIServer:**
- [x] Add code for `federated-apiserver`
- [x] Add `federation/v1alpha1` group version and `cluster` resource
- [ ] Add `replicaset` resource to federated-apiserver
- [ ] Add an e2e test for federation apiserver

**Client:**
- [ ] Generate auto generated clients (to be used by controllers)
- [ ] kubectl: Add support for cluster obj

[2016-04-27 22:54] bgrant0607 commented on #24888
Oh, wait. This is not impossible if you just omit version when you specify the selector.

[2016-04-27 22:54] bgrant0607 commented on #24888
cc @janetkuo

[2016-04-27 22:55] bgrant0607 commented on #12226
cc @mikedanese

[2016-04-27 22:55] bgrant0607 commented on #12226
I think we're never going to do this, so closing.

[2016-04-27 22:55] #12226 closed

[2016-04-27 22:57] lavalamp opened #24891 "Clarify security philosophy around update & delete"
We had some vigorous discussion in the API machinery SIG earlier today about what a system administrator should expect when granting a user update rights on a given object or class of objects.

My own position is that update is strictly more powerful than delete and you shouldn't give anyone update powers over an object you don't want them to do destructive things to.

The opposing position is, as

[2016-04-27 22:58] lavalamp commented on #24891
Tagging discussion participants in case I have misrepresented views. @smarterclayton @erictune @liggitt @deads2k @caesarxuchao @nikhiljindal

[2016-04-27 23:03] saturnism commented on #24888
so I suppose don't use the default generated selector but specify it myself.

the premise is that I'd like to associate a new label or replace the value of a label to the new pods, since my service could be using this label as a selector.

[2016-04-27 23:03] smarterclayton commented on #24891
Other points:

1. We want to define "roles" that are logically consistent to admins and users, and within those roles we are relatively safe (we did this as part of the original authz design, and need to revisit)
2. Improve the process whereby we design API objects for security with the right checks and balances - being config driven (PUT / CREATE work cleanly) and mutable often conflicts with nor

[2016-04-27 23:26] brendandburns commented on #19975
@thockin while it seems unlikely that we'd be authoritative for an entire domain like `company.com` it seems quite possible that we would be authoritative for a subdomain, eg. `us-west.clusters.company.com`

[2016-04-27 23:29] crawford commented on #24423
@pwittrock it will not. What you _can_ do is just boot an instance and mask locksmith (`systemctl mask locksmithd.service`).

[2016-04-27 23:34] erictune commented on #23396
Sounds good.  My thought is to try to upstream it mostly verbatim, as an Alpha API group, and then have an extended alpha period, where we both discuss the changes that CoreOS wanted to make, and get wider feedback from Kubernetes users.  Then plan to refactor the types when we go to beta.

This is as opposed to trying to do a redesign at the same time as the upstream, which will inevitably take a

[2016-04-27 23:41] ericchiang commented on #23396
@erictune that sounds great.

[2016-04-27 23:57] pwittrock commented on #24423
@crawford Thanks.  I will update the e2e tests to do this.

[2016-04-28 00:02] erictune commented on #22695
Setting the priority low until we have a sense of how many users have this restriction (keystone only reachable over http).

[2016-04-28 00:06] erictune commented on #24533
@bgrant0607 restart=Never could be useful if you are running an image that for some reason expects a clean EmptyDir every time.  Maybe it writes temporary files, and would be confused if it crashes and then finds the temporary files in place?  Maybe?  This is a stretch.

[2016-04-28 00:06] erictune commented on #24533
I have had people ask for Pods that run at most once, rather than at-least-once.

[2016-04-28 00:08] therc commented on #24862
On mobile now, but it's basically https://forums.aws.amazon.com/thread.jspa?threadID=222600 and you need to set reload_connections to false. Store a custom config in a config map, then mount it in your pod. I can add more details later.

[2016-04-28 00:10] yujuhong commented on #24831
/cc @kubernetes/sig-node

[2016-04-28 00:12] erictune commented on #23389
Another example:  http://pr-test.k8s.io//24678/kubernetes-pull-build-test-e2e-gce/37164/

[2016-04-28 00:13] davidopp commented on #12226
For posterity: you can find an example of embedding JSON in the value of an annotation in #19758. It works, complete with validation.

[2016-04-28 00:17] devlina commented on #24812
@thockin
Here we are:
[code]
[code]
[code]
[code]
[code]
I tried few things and it worked:
Apparently I had some iptables rules which was dropping the connection on docker0. After clearing it skydns worked. However, once I setup a local docker registry the problem appears again with this error on kube2sky `I0427 20:30:45.183419       1 kube2sky.go:627] Ignoring error while waiting for service defa

[2016-04-28 00:23] colhom opened #24898 "kube-up.sh is broken due to expired SSL certificate"
The certificate for bootstrap.saltstack.com has expired, which has in turn broken kube-up.sh.

The immediate fix is to use `curl -k` in situations such as [this](https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/provision-utils.sh#L109).

In the future, the Kubernetes project should probably host it's own salt bootstrap endpoint. Besides preventing situations such as this, we ca

[2016-04-28 00:24] caesarxuchao opened #24899 "Conversion functions should not be generated if manual conversion functions exist"
For example, there is a [manual conversion function](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/conversion.go#L269) for PodSpec and a [generated conversion function](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/conversion_generated.go#L5287).

This doesn't cause any real issue because the generated function is not used. However, it confuses people when they

[2016-04-28 00:25] felipejfc commented on #24862
mount into which pod? kibana-logging? all this pods webe brought by default by kube-up

[2016-04-28 00:27] david-mcmahon commented on #24837
I assume these beta.0 releases are only used by the various internal testing frameworks as it's identical to the official version that accompanies it.  The issue is there was an extra _output* directory when this was built, nothing more, causing 'git status --porcelain' to complain and append -dirty.  Unless anyone objects, I'll just rebuild 1.2.4-beta.0 and upload it.

[2016-04-28 00:28] jdef commented on #23822
I think there's a potential race in which a goroutine is cond.Wait()'ing but never sees the cond.Broadcast because of how things get scheduled - and there's no retry if the cond.Broadcast is missed. i'm not able to reproduce this on my machine. i'm hacking on a fix. how reliably can this be reproduced on the k8s test infra?

[2016-04-28 00:30] pmorie commented on #24473
For the record i have had this problem many times before. It eventually goes away, but it always comes back :ghost:

[2016-04-28 00:31] streamnsight commented on #24829
I ended up deleting the secrets in `kube-system` namespace and kube2sky started working.

[2016-04-28 00:31] #24829 closed

[2016-04-28 00:36] virsox commented on #19930
@harryge00 for my case, I'm pretty sure the problem was caused by the bug #20391 - the bug refers exactly to my setup. For your case, you may need to answer @thockin questions first.

[2016-04-28 00:40] saturnism commented on #24888
omitting version from selector can also be problematic if I need to canary two versions (e.g., with 2 deployments).

it'll create a situation where the deployments will go into an infinite loop of deleting and creating pods...

[2016-04-28 00:56] hongchaodeng commented on #24815
Happened again: [log](https://00e9e64baca09fbe31405bf7162dfcf15b24c6a75deefeb824-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24455%2Fkubernetes-pull-test-unit-integration%2F23158%2Fartifacts%2Fjunit_v1,extensions-v1beta1,metrics-v1alpha1,federation-v1alpha1_20160427-164429.stdout?qk=AD5uMEuxt5tbb1eivL88UCDgQN5nJhyTXu-3izHjx6eN19jZgnBPNc0Uf5bWU

[2016-04-28 00:56] david-mcmahon commented on #24837
Uploaded corrected 1.2.4-beta.0 binaries.

[2016-04-28 00:56] #24837 closed

[2016-04-28 01:04] yujuhong commented on #24698
Not sure how cadvsior event stream works internally. After kubelet restarts, will it be able to get OOM events that happened in the past N minutes?

[2016-04-28 01:05] therc commented on #24862
I don't use kube-up, but yes, that's the idea. Maybe we should turn it off by default. @a-robinson

[2016-04-28 01:06] therc commented on #24862
I don't use kube-up, but yes, that's the idea. Maybe we should turn it off by default. @a-robins

[2016-04-28 01:09] timstclair commented on #24698
The event store is an in-memory data structure, so if kubelet restarts it would be lost anyway.

[2016-04-28 01:10] colhom commented on #24898
This problem has been rectified by the folks over at saltstack.

[2016-04-28 01:14] feiskyer commented on #24831
Will the pod with `hostNetwork: true` get correct podIP?

[2016-04-28 01:15] felipejfc commented on #24862
But in which pod should I turn it off? fluentd-elasticsearch ones?
regards

[2016-04-28 01:19] ghodss commented on #11816
Some sort of basic authentication that prevents access to the kubelet port from anyone but the master is critical for us to implement kubectl exec and kubectl logs. There's no way we can open up a port that allows arbitrary code execution without that port being secure. TLS would be perfect. Is there any chance that might be doable by 1.3?

[2016-04-28 01:20] yujuhong commented on #24698
I assume cadvisor parses the kernel log again during startup. Is that not correct?

[2016-04-28 01:30] bgrant0607 commented on #16326
Should be covered by the doc overhaul.

https://docs.google.com/document/d/12Nfj2E8tZL-CMnnpkSH9m5k_oqd4qJh4qDwYDxPGJJI/edit?ts=5705b1fc#

cc @kubernetes/docs

[2016-04-28 01:33] #15915 closed

[2016-04-28 01:33] #15699 closed

[2016-04-28 01:34] bgrant0607 commented on #15725
This should be addressed by the doc overhaul:

https://docs.google.com/document/d/12Nfj2E8tZL-CMnnpkSH9m5k_oqd4qJh4qDwYDxPGJJI/edit?ts=5705b1fc#

[2016-04-28 01:40] adezdl opened #24903 ""kubectl run xxxxxxxx" create pod,but got image not found error"
Failed to pull image "zdlzdltomcatimage": Error: image library/zdlzdltomcatimage not found.
"zdlzdltomcatimage" is my local image.

my question is: why k8s still pull images from docker hub ingoring the local one?

k8s:1.2.2, docker:1.10.3

[2016-04-28 01:47] bgrant0607 commented on #14961
For 1.3, we're working on:
* controllerRef
* cascading deletion
* finalizers
* generation/observedGeneration
* PetSet
* Templates

[2016-04-28 01:49] liangchenye opened #24904 "An image repoistory for testing"
Hi, when I write test cases for e2e_node,  a big problem I meet is it is difficult to find the stable testing images.
I wonder if we could have a repository like gcr.io/google_test_containers.

[2016-04-28 01:50] bgrant0607 commented on #14510
@jimmyjones2 I agree that's an issue. However, stateful apps will be run by a different controller, PetSet:
https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%2Fstateful-apps

[2016-04-28 01:51] bgrant0607 commented on #13157
This is obsolete.

[2016-04-28 01:51] #13157 closed

[2016-04-28 01:51] bgrant0607 commented on #13162
This is obsolete.

[2016-04-28 01:51] #13162 closed

[2016-04-28 01:52] bgrant0607 commented on #11557
This will be resolved by the minikube work.

cc @vishh @dlorenc

[2016-04-28 01:53] erictune commented on #18549
Response from my: OIDC contact:

I asked: Can the CLI and the K8s Server each have their own separate client IDs?  The server needs something to use as the client_id for the "aud" claim.  The CLI need to do the refreshing directly with the Id provider, as you said earlier.

He replied:

Yes they can both have client ids  and this is new. This is the thing that you and I discussed 2 quarters ago.

[2016-04-28 01:56] erictune commented on #18549
So, we need to have a client-id for kubectl (the `azp`).  And one for each kubernetes cluster (the `aud`).

 Dex needs to make sure it supports the azp claim.

[2016-04-28 01:57] bgrant0607 commented on #11468
We're going to totally change how API docs are presented. Closing.

[2016-04-28 01:57] #11468 closed

[2016-04-28 01:57] erictune commented on #18549
He explained that it does not matter that the kubectl client id is not really a secret.  He said "The secret is not really a secret but that does not matter too much since the security actually comes from the short lived authorization code that needs a user consent.".

[2016-04-28 01:57] njuicsgz commented on #13299
Could anyone comments on this? Or I need open another issue to trace this problem.
@thockin @bprashanth @bnadim

[2016-04-28 02:00] bgrant0607 commented on #11361
cc @kubernetes/examples @kubernetes/docs

[2016-04-28 02:03] cmoad commented on #24865
I was able to track this down to the controller-manager removing the nodes outside us-east1-b because it is assuming the nodes are in us-east1-b and can't find it. I then tracked it to this PR #17919

@justinsb @quinton-hoole How can we use multi zone if we aren't using kube-up to provision our clusters. Should the code not assume kube-up is being used?

[2016-04-28 02:33] caesarxuchao opened #24905 "e2e flake: 7 failed node test suite tests"
Not sure what's the root cause:
[code]

https://00e9e64baca6272d66ced2d80ba4f08e3bf7686aeaa82b3611-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F24826%2Fnode-pull-build-e2e-test%2F3110%2Fbuild-log.txt?qk=AD5uMEvIUmlH8o9i3I53dLfnElUqbi-rVVJ3a6HRhG08NuebVv-92GeXAg26LuZpa1tDz1Kl-e9RwgFkzp2_YaDhvYwWD9HQT8yfiaIx9gqEMQgx6ey_VcO2kORRMD1IIAavSzlP2XXcx_AkUXHK-Uty

[2016-04-28 02:38] dcbw commented on #24672
@steveeJ @yifan-gu Ok, how about this for a plan.  The kubelet rkt code locks the OS thread, creates a new permanent namespace for the pod (by mounting it to /var/run/netns) using the CNI code in https://github.com/appc/cni/pull/167, switches back to the host namespace, and then calls the network plugin's SetUpPod method.  After the network plugin has run, it locks the OS thread again, switches ba

[2016-04-28 02:40] roberthbailey commented on #11816
I don't think that it is something that anyone at Google is working on in the 1.3 timeframe (although we'd love to have it).

[2016-04-28 02:42] arenoir commented on #24687
@xidui, thanks for the info... I was not able to get the gcr.io/google_containers/volume-nfs to image to work. I ended up using the image [jsafrane/nfsexporter](https://hub.docker.com/r/jsafrane/nfsexporter/).  All is well that ends well.

[2016-04-28 02:42] AdoHe commented on #19720
@Random-Liu @yujuhong in the change log of kubernetes 1.2, we mentioned this:
[code]
As for Docker 1.10, I want to know whether we have done any cluster tests with kubernetes 1.2 against Docker 1.10, I can see that we have GCE cluster which runs Docker 1.9.

[2016-04-28 02:54] #24898 closed

[2016-04-28 03:00] zhouhaibing089 commented on #24788
@Random-Liu thank you.. does it matter with the node configuration(high mem or more CPU)?

[2016-04-28 03:07] Random-Liu commented on #24788
@zhouhaibing089 That test is bad, :(
I use the real clock in the unit test, so I could imagine that in some extreme situation the test may fail.

[2016-04-28 03:11] Random-Liu commented on #19720
@AdoHe We created a separate cluster and run all the e2e tests against docker v1.10 before when we validated docker v1.10, all the tests passed at that time.
However, we haven't run any soaking test yet.

[2016-04-28 03:12] yifan-gu commented on #24672
@dcbw We should be very careful when using `LockOSThread` in such case, because it does not prevent new threads from being forked from that locked thread, when there is not enough os threads available for goroutines. Then those threads are in the undesired network namespace, and there is no way to remove them.

See

[2016-04-28 03:16] dcbw commented on #24672
@yifan-gu Yeah, well aware of the dangers of threading and namespaces...  been dealing with that in CNI recently.  Other than spawning a helper process that does all of this, there's not a great way to ensure that the rkt process will be spawned in the right namespace.  That's why https://github.com/coreos/rkt/pull/2525 would be useful.

[2016-04-28 03:19] smarterclayton commented on #20309
Quantity is pretty ugly, and in Convert_v1_ResourceList_To_api_ResourceList we round up to milli (to maintain back compat) which causes a big nat to be allocated.  Possible opportunity to avoid.

[2016-04-28 03:20] zhouhaibing089 commented on #24788
@Random-Liu it does not happen frequently though. :)

[2016-04-28 03:23] zhouhaibing089 commented on #24784
This could be reproduced by running `godep go test k8s.io/kubernetes/pkg/kubelet -v` multiple times though, @yujuhong would you mind help a little bit here?

[2016-04-28 03:29] bgrant0607 commented on #20961
Thanks for all your work on this, @chrislovecnm

[2016-04-28 03:36] bgrant0607 commented on #24290
@chrislovecnm No idea, unfortunately. Perhaps @brendandburns knows?

[2016-04-28 03:36] zhouhaibing089 commented on #24784
FYI, I am running this test on a VM, if that matters.

[2016-04-28 03:39] bgrant0607 commented on #22871
cc @kubernetes/kube-api

[2016-04-28 03:52] zhouhaibing089 commented on #24788
@Random-Liu I see your point, The tests *always*(haven't see error until now) get passes when I run it on my local machine, it did happen on virtual machines, I think that's the problem what you said about the clock.

[2016-04-28 04:10] paralin commented on #24877
Fixed in #24910

[2016-04-28 04:54] bobbyrullo commented on #18549
@erictune Thanks for the detailed responses and suggestions!

What's interesting is that we are in the process of supporting the azp claim and the cross-client authentication stuff (see https://github.com/coreos/dex/issues/371, and the google implementation that inspired it [here](https://developers.google.com/identity/protocols/CrossClientAuth) )but I didn't think to use it for this particular ca

[2016-04-28 05:02] bobbyrullo commented on #18549
Is he implying that *all* CLIs for all users should get the same client? That makes me nervous because of the stuff I [mentioned here](https://github.com/kubernetes/kubernetes/issues/18549#issuecomment-173305783).

The attack is: someone malicious uses the not-so-secret client credentials to make a website with it that is sufficiently attractive (some game or something) that someone with will auth

[2016-04-28 05:23] thockin commented on #24891
Maybe the delete-related fields should not be updateable?

I'd be interested to see more finer-grained subresource "methods" as the
way of delegating control over various things.

On Wed, Apr 27, 2016 at 4:03 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-28 05:27] thockin commented on #24876
There's a very old bug on this - #15 in fact!  The problem is that Docker's
flags are/were too coarse and conflicted with our own use, which meant we
had to turn it off.  We could probably subsume that logic now, but it's a
bit of a weird factoring problem.

@dcbw @freehan wrt CNI

On Wed, Apr 27, 2016 at 11:12 AM, Alexey Zagarin <notifications@github.com>
wrote:

[2016-04-28 05:28] bgrant0607 commented on #24493
@chrislovecnm Re. alpine: We've had problems with DNS resolution in the past:
https://github.com/gliderlabs/docker-alpine/blob/master/docs/caveats.md

It looks like you decided not to use it, though.

[2016-04-28 05:29] thockin commented on #24875
Why?

This is not possible today, and it's pretty complex to describe, and some modes of proxies won't handle it well.

[2016-04-28 05:30] uruddarraju commented on #24591
Being worked as part of https://github.com/kubernetes/kubernetes/pull/24299. Can you verify this patch ?

[2016-04-28 06:16] AdoHe commented on #19720
@Random-Liu so I guess it's not that reliable to run kubernetes 1.2 cluster against docker v1.10, docker 1.9 is much more reliable, am I right?

[2016-04-28 06:19] wojtek-t commented on #24899
hmm - so do we know why the manual conversion exists? I think that if there were any incompatible fields, the generated one wouldn't exists. So maybe the manual one is not needed?

[2016-04-28 06:27] liuyang430068 opened #24913 "pod updates:how to change the fields of spec.containers[].resources.limits.cpu(memory)?"
I want to scale up live pod's spec.containers[].resources.limits.cpu(memory).
but:
kubectl patch pod valid-pod -p '{"spec":{"containers":[{"name": "kubernetes-serve-hostname","resources":{"limits":{"cpu":"2"}}}]}}'
stdout->
spec: Forbidden: pod updates may not change fields other than `containers[*].image` or `spec.activeDeadlineSeconds`

how to change the  fields of spec.containers[].resources.li

[2016-04-28 06:56] Random-Liu commented on #19720
@AdoHe yeah, so for kubernetes 1.2 docker 1.9.1 is recommended.

[2016-04-28 07:03] liuyang430068 opened #24914 "how to choose the PersistentVolume types when binding PVCs to PVs"
root@master:~/nfs/nfs-pv# kubectl get pv
NAME           CAPACITY   ACCESSMODES   STATUS      CLAIM             REASON    AGE
hostpathtest   50Mi            RWO                     Available                               4s
nfstest            50Mi            RWO                     Available
the PersistentVolume type of hostpathtest is "hostpath";the PersistentVolume type of nfstest   is "NFS"

now

[2016-04-28 07:06] AdoHe commented on #19720
@Random-Liu thanks very much :)

[2016-04-28 07:21] yogesh9391 commented on #15846
Hello,
I also faced the same issue. I solved it as -
$journalctl -xe command gives the full log. There I found that the .pem file was missing. somehow it was removed mistakenly. I created that and restrated the kube-apiserver service. Things are working for me. For creating .pem file and other related conf , I followed http://stackoverflow.com/questions/31891734/not-able-to-create-pod-in-kubernete

[2016-04-28 07:24] soltysh commented on #24533
Frankly I've got used to how jobs are working right now and the fact that the controller always tries hard to reached desired completions makes sense. In that case I'd say change run and leave jobs as is. So I totally agree with others in that regard.

[2016-04-28 07:59] gouyang opened #24917 "e2e all DNS testing failed on local cluster"
I run e2e test on local cluster and the 3 DNS testing failed because of

[code]

Checking the code, I think verifyDNSPodIsRunning(f) is called at the very beginning should be the cause, because the pod is not created yet.

[code]

Put this line `verifyDNSPodIsRunning(f)` after
`validateDNSResults(f, pod, append(wheezyFileNames, jessieFileNames...))`, I could see the pods were created, although it'

[2016-04-28 08:06] fejta commented on #24652
@lavalamp what test framework problem do you see?

It seems like the scenario is roughly as follows:

[code]

Now if we look through the [test logs](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/36553/consoleFull) and search for `e2e-tests-kubectl-7cj4h` we see that we:

* call `kubectl create` at 22:54:24.645
* get a `created` response at 22:54:24.760
* call `kub

[2016-04-28 08:41] #24546 closed

[2016-04-28 09:17] liangchenye commented on #24814
will be close after https://github.com/kubernetes/kubernetes/pull/24329 been merged.

[2016-04-28 09:40] microadam opened #24920 "GKE / GCE Network Isolation - Is it possible?"
Hello,

Just curious if it is possible to use the beta network isolation features which some of the overlay networks  (calico, Romana, OpenShift etc) are starting to support? Or if this is planned for the future? Not been able to find any documentation on it anywhere, or what the future plans for it might be.

Thanks a lot

[2016-04-28 10:52] Pensu opened #24922 "Upgrading to Go-1.6.2"
Hi all,

Go folks have released go-1.6.2. https://golang.org/doc/devel/release.html#go1.6.minor. Due to golang/go#15135, golang-1.6.0 is having issues with ppc64le arch. The issue is fixed in golang-1.6.2. I would like to propose to upgrade to go-1.6.2.

@luxas @zmerlynn @thockin

[2016-04-28 11:33] pditommaso commented on #24533
How do you handle Job that may have a permanent failure? This is quite common with computational tasks. For example, you can have application errors or broken input data or jobs that need more resources than the ones specified in the limits. In the current implementation Kubernetes continues to reschedule jobs with such failures even when the `restartPolicy` is set to `Never`.

[2016-04-28 11:38] #24530 closed

[2016-04-28 12:14] soltysh commented on #24533
If it's an app error, destroy and re-create an app. With the failure rate you should know there's something wrong with the task itself. On the other hand, if that error is just an intermittent error you still care about successfully finishing the task. And the current approach allows that, imho.

[2016-04-28 12:40] wernight opened #24925 "Document units in cpu limits"
http://kubernetes.io/docs/user-guide/compute-resources/ nor the references manual seem to document the accepted formats for `cpu`. It seems that at least two formats are possible:

  - `100m` meaning 10% cores
  - `0.1` meaning probably the same
  - any more?

[2016-04-28 13:01] tweakmy commented on #24002
Hi there, I have also found the problem to my issue as well. It is not quite because of configuration (http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/) but it was dodgy on my kvm switch. It was doing nat instead of forwarding.

I was using tcpdump port 9090 on both node01 and node02 and found out that node02 had nat request and response (from kvm switch) and my kvm switch got confu

[2016-04-28 13:10] deathtrix commented on #24714
+1

[2016-04-28 13:20] jayunit100 opened #24926 "[e2e] Add fast, simple a DNS `Before` hook."
There should be a good quick smoke test for DNS which we run in a `Before` hook which proceeds alot of the tests to speed them along (i.e. guestbook,liveness,....).

Otherwise, tests will just poll for several minutes with no chance of succeeding and send users with broken clusters on a wild good chase.

cc @rrati @timothysc @kubernetes/sig-testing

[2016-04-28 13:36] chrislovecnm commented on #24493
@bgrant0607 nope figured out Java 8 on Debian. Only really care that is is Linux and Java 8 ... Lol

[2016-04-28 13:58] pditommaso commented on #24533
Frankly this looks a bit crappy. Also I've seen computational tasks crashing after hours because, for example, a certain point of the computation they have a peak of resource usage. In this scenario it would be very difficult to apply the method you are suggesting.

Finally I'm still not understanding what's the difference in the current implementation of the Job spec between `restartPolicy: Never

[2016-04-28 14:02] streamnsight opened #24928 "Explain life cycle of automatically created secrets in ServiceAccount"
Hello,

I faced this issue: https://github.com/kubernetes/kubernetes/issues/24829 with DNS, and it ended up being a problem with my **ServiceAccount** `secret` token that was **invalid**.

I had 3 secrets in my `kube-system` **ServiceAccount** for some reason.

I understand that when `secrets` are deleted, a new token is generated and associated with the **ServiceAccount**.

I just don't understan

[2016-04-28 14:35] wernight opened #24930 "Improve Redis example"
A few points of improvement of the Redis example on https://github.com/kubernetes/kubernetes/tree/master/examples/redis:
- Configuration files should include only fields that deviate from the [default](http://download.redis.io/redis-stable/redis.conf) in order to clarify. For example for `redis-master.conf` it could probably be (excluding comments) using [CONFIG GET](http://redis.io/commands/confi

[2016-04-28 14:46] cmoad commented on #24865
We resolved this issue finally. We had to create `cloud-config` file and pass it in as a parameter to the kubelet, apiserver, and controller-manager.

File: `/etc/kubernetes/k8s.conf`
[code]

And added `--cloud-config=/etc/kubernetes/k8s.conf` to the kubelet, apiserver, and controller manager.

I'm leaving this issue open because I am unable to find any documentation on this outside of the "kube-u

[2016-04-28 14:50] kargakis commented on #24533
We are adding progressDeadlineSeconds in Deployments to guard against permanent failures in https://github.com/kubernetes/kubernetes/pull/19343. This could be added in Jobs as well.

[2016-04-28 14:56] soltysh commented on #24533
Above sounds like a good idea, @erictune wdyt?

[2016-04-28 15:02] dcbw commented on #24672
@yifan-gu actually it may not be quite as simple as I said above, since Kubernetes doesn't run rkt directly, but instead writes a systemd unit file for the pod and writes that.  So we'd need to instead write a systemd unit file with:

ExecStart=ip netns exec <nsname> rkt run-prepared --net=host ...

[2016-04-28 15:14] ye opened #24931 "When output format is empty string, kubectl panic: runtime error: invalid memory address or nil pointer dereference"
[code]

[2016-04-28 15:20] smarterclayton commented on #24890
Not really a problem, was caused by the code.

[2016-04-28 15:20] #24890 closed

[2016-04-28 15:24] rrati commented on #14207
+1 to this.  hack/local-up-cluster is the easiest way to test changes at the system level and imo should setup as much as is sensible.

[2016-04-28 15:38] wernight commented on #24930
One idea to simplify deployment and updates:

1. Have all yml into a single `redis.yml`, all using `Deployment` with:
      - `replicas: 0` for `redis-master`
      - `replicas: 3` for `redis-sentinel` and `redis-slave`
2. To upgrade, simply `kubectl apply -f redis.yml`
3. To (re-)bootstrap, scale down to 0 `redis-sentinel` and `redis-slave`, then to 1 the `redis-master`

Another option would be t

[2016-04-28 16:19] gmarek opened #24934 "Controllers don't take any actions except updating Status if deletionTimestamp != nil"
When controller is being deleted it shouldn't try to change state of the cluster (e.g. delete/create Pods in case of ReplicaSet).

cc @kubernetes/sig-api-machinery @bgrant0607 @caesarxuchao @lavalamp

[2016-04-28 16:21] gmarek opened #24935 "Setting deletionTimestamp in a Controller should bump its generation."
cc @kubernetes/sig-api-machinery @bgrant0607 @caesarxuchao @lavalamp

[2016-04-28 16:40] bgrant0607 commented on #22687
Doc mocks:
https://docs.google.com/presentation/d/14mJwJGlwBJHIpMRGR-nYMSyyNk-kRpabyz74-YYXeTo/edit#slide=id.g12d21f53ed_2_11

[2016-04-28 16:42] erictune commented on #18549
The kubectl client secret is not secret.   The K8s API server client secret is per-cluster and _is_ secret.
The angry birds site could not get the K8s API server client secret.  So, any token it gets you to issue will have claim `aud: $ANGRY_BIRDS`, not `aud: $REAL_K8S_APISERVER`.

[2016-04-28 16:44] erictune commented on #18549
The RP has to reject a toke for the wrong `aud`.

[2016-04-28 16:48] timothysc commented on #24926
"In general" we are missing a bunch of pre-condition checks for skipping, that are annoying when running local-cluster-up.

[2016-04-28 16:50] yujuhong commented on #24784
I looked at the code and the test compares the time when calling freeSpace and the time when scanning the images (i.e., detected time). See the code [here](https://github.com/kubernetes/kubernetes/blob/641ba92aa375b84fdfbc020e890aa961956b6e33/pkg/kubelet/image_manager.go#L270).

In your case, maybe the two timestamps are the same?

Change the line of code to
[code]
and see if the test still fails.

[2016-04-28 16:59] cjcullen commented on #24875
Came up on SO: http://stackoverflow.com/questions/36885886/wire-multiple-deployments-to-one-service-in-kubernetes

It would allow multiple pods (with different dev velocities) to back a single complex service with a single IP. I can't think of a real concrete case, but consider a service w/ both HTTP & HTTPS ports. I might have my HTTP endpoint doing a simple redirect, with my HTTPS endpoint doing

[2016-04-28 17:12] bgrant0607 commented on #19736
This would be especially useful in the case of an error.

A user reported:
 But "kubectl edit pod hello-node" always fails with error:
[code]

The error is clear IMO, but the user didn't know how to resolve the problem. They were trying to add a secret. We could have recommended to delete and recreate the pod, or update the controller instead (once we have controllerRef).

[2016-04-28 17:27] smarterclayton opened #24937 "Flake in node e2e: "Container Runtime Conformance Test container conformance blackbox test when running a container that terminates [It] it should be possible to delete [Conformance] ""
[code]

[2016-04-28 17:46] mikedanese opened #24938 "[Fail] MirrorPod when create a mirror pod [BeforeEach] should be updated when static pod updated"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubelet-gce-e2e-ci/2237
[code]

[2016-04-28 17:48] mikedanese commented on #24905
Large failure again here:
[code]
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubelet-gce-e2e-ci/2237/

[2016-04-28 17:48] mikedanese commented on #24905
cc @pwittrock

[2016-04-28 17:49] Random-Liu commented on #24938
That's my baby. I'll take care of it. :(

[2016-04-28 17:50] mikedanese commented on #24937
Again here:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubelet-gce-e2e-ci/2233

[code]
cc @pwittrock

[2016-04-28 17:50] MkhIr commented on #11684
Have the same issue with installation on RHEL 7.2

+ `cluster/addons/kube-ui/kube-ui-rc.yaml` is not present with the installation

`Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"b57e8bdc7c3871e3f6077b13c42d205ae1813fbd", GitTreeState:"clean"}`

`Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"b57e8bdc7c3871e3f6077b13c42d205ae

[2016-04-28 18:08] Random-Liu commented on #24938
The reason is the infra container failed to be started:
[code]

[2016-04-28 18:22] yujuhong commented on #24938
Should we prepull the pause image before the tests run in node e2e?

[2016-04-28 18:27] dlorenc commented on #11557
The minikube work is happening here: https://github.com/kubernetes/minikube

Feel free to follow along :) We're hoping to have something ready to document this quarter.

[2016-04-28 18:29] Random-Liu commented on #24938
@yujuhong Have you seen similar error before? Looks like this is because the registry is temporarily unavailable.

[2016-04-28 18:34] dbbernstein commented on #13776
+1 for working in a container without remote editing

[2016-04-28 18:53] a-robinson commented on #24862
@therc - that forum post talks about the issue being unique to AWS's hosted elasticsearch. If it's also an issue for our default ES config, shouldn't we just update our default config?

[2016-04-28 19:20] daveey opened #24944 "API calls from pod fail with "SecurityContext.SupplementalGroups is forbidden""
The pod does not define a securityContext, so it's probably getting set by kubernetes. From reading some other issues it looks like this might happen when there are multiple containers sharing a volume.

We are running kubernetes on aws (using core-os kube-aws tools)

The error we see on the pod is:

[code]

The apiserver runs with

[code]

and the pod (from `kubectl get pod -o json`) is

[code]

[2016-04-28 19:33] #24828 closed

[2016-04-28 19:49] chrislovecnm commented on #24286
PR is in updating example https://github.com/kubernetes/kubernetes/pull/24945

[2016-04-28 19:50] chrislovecnm commented on #24286
PR is in refactoring SeedProvider https://github.com/kubernetes/kubernetes/pull/24945

[2016-04-28 19:54] MartinPyka commented on #24824
Sorry to bring this up again, but is there really no way to start the binaries offline? The hyperkube docker container seems to need internet and the kube-apiserver as well. Can anyone point me to the lines in the code where any remote calls happen?

[2016-04-28 20:10] bgrant0607 commented on #18622
@lavalamp @smarterclayton

Does the discovery API have enough information to reduce this pain? It returns both the resource name (plural, lowercase) and the kind (singular, CamelCase), correct? Would it work to lowercase(kind)?

I've been wondering whether we should return short aliases (rc, svc) in discovery info, also. (ref #20293)

[2016-04-28 20:11] davidopp opened #24946 "Implement controllerRef"
Originally discussed in #14961, particularly https://github.com/kubernetes/kubernetes/issues/14961#issuecomment-183431648, but seems like it deserves a standalone issue.

More details to follow.

cc/ @bgrant0607 @wojtek-t @mml @jiangyaoguo @gmarek

[2016-04-28 20:12] bgrant0607 commented on #12143
List of resources in help should be populated from discovery API. (see also #18622, #20293).

[2016-04-28 20:22] Random-Liu commented on #24937
@liangchenye

[2016-04-28 20:52] timothysc commented on #23338
After some time I kind of like https://github.com/Sirupsen/logrus ...

[2016-04-28 20:59] timothysc commented on #6461
There are now multiple areas all saying similar things.  About time to resurrect?

[2016-04-28 22:13] dchen1107 commented on #23028
We already have Event, NodeCondition today to report some issues on the node. Also a Taint API object is proposed and under reviewed. I don't want to introduce another API object blindly here. Instead of we should consolidate those objects or have a clear definition for each of them.

@Random-Liu and I had API related discussion with @bgrant0607 and @davidopp. We settled down with:
* No new API ob

[2016-04-28 22:14] yifan-gu commented on #24672
@dcbw Where is the NETNS parameter? Does kubelet creates network namespace today?

[2016-04-28 22:15] dchen1107 commented on #23028
cc/ @jlowdermilk for our later discussion on GKE node health tracking.

[2016-04-28 23:15] bgrant0607 commented on #22368
For people who don't want progressive rollout of config changes, we need a notification mechanism for configmap volume updates since our atomic-update dance hides doesn't look like file mutations to the application. We have previously talked about:
* a sentinel file/pipe/socket that could be monitored (e.g., file change detection via inotify)
* HUP, which the user would need to ensure is correctly

[2016-04-28 23:23] bgrant0607 commented on #11505
Actually, I think we could implement this similarly to rollback.

[2016-04-28 23:32] dchen1107 commented on #18969
cc/ @jlowdermilk For GKE node health tracking.

[2016-04-28 23:39] bgrant0607 commented on #8132
FWIW: http://cbor.io/

[2016-04-28 23:51] caseydavenport opened #24951 "Go client uses localhost instead of 127.0.0.1"
The Kubernetes Go client uses `localhost` by default to access the apiserver.

On CoreOS, where it is common to not have an `/etc/hosts` file, this means apps using the client will often fail to lookup `localhost` and be unable to access the API.

Shouldn't the client be using `127.0.0.1` instead of `localhost` here?

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/clie

[2016-04-29 00:07] mikedanese opened #24952 "Flake: unit test federation/cmd/federated-apiserver/app.TestRun"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/11484/

Not much info on why or how it failed.

cc @quinton-hoole

[2016-04-29 00:07] freehan opened #24953 "kubenet flake: pod is ready but not serving traffic"
This can be reproduced by running `service up and down` test. Further debugging show that iptables rules were in place. And request to service did got routed to backend pods. But one of the backend pod was not ready to serve traffic even though podStatus was ready.  I kept the services and RCs, if test failed. When I revisit it, they were acting normally.
Network setup and container creation happe

[2016-04-29 00:09] lavalamp commented on #24652
Thanks for the investigation. After looking through the logs, this appears to be the namespace controller failing to delete all the pods, even though it's repeatedly trying. (The failure is happening in the framework's namespace teardown, which is why I called it a framework problem, but it appears to be the fault of the namespace controller and thus a system problem.) Unfortunately it's not clear

[2016-04-29 00:12] mshockwave commented on #24875
Hi, do you mean that the redirecting jobs are still done by the user server program, not kubernetes?

[2016-04-29 00:12] lavalamp opened #24954 "Some namespace controller actions have service account controller's user-agent?"
Observed in the logs from #24652.

[code]

[2016-04-29 00:19] lavalamp commented on #24652
I guess the pod has its status updated significantly later, so it's not a phantom after all.

[code]

[2016-04-29 00:19] bgrant0607 commented on #15698
Obsolete

[2016-04-29 00:19] #15698 closed

[2016-04-29 00:24] smarterclayton commented on #8132
I really like Ion - I hope it takes off.

On Apr 28, 2016, at 7:40 PM, Brian Grant <notifications@github.com> wrote:

FWIW: http://cbor.io/

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/8132#issuecomment-215593835>

[2016-04-29 00:26] lavalamp commented on #24652
So kubelet finally wrote a status, then deleted the pod, and then the namespace could be deleted.

So there must be a bug in the namespace deleter.

[2016-04-29 00:26] lavalamp commented on #24652
Or, actually, the bug must be in apiserver's mass-deletion endpoint?

[2016-04-29 00:31] thockin commented on #24875
This is something that L7 load balancers are better suited for.  While we
can probably do what you describe in our built-in balancer,I doubt if many
other implementations can do it.  It's much more expressive than most VIP
systems I have seen..
On Apr 28, 2016 12:00 PM, "CJ Cullen" <notifications@github.com> wrote:

[2016-04-29 00:33] lavalamp commented on #24652
The mass deletion endpoint just calls the ordinary delete function on every item in the collection.

I suspect it has something to do with either graceful termination or the pod being in a PENDING state, or both. Maybe the namespace deleter should be setting graceful termination seconds = 0 or something.

@liggitt or @derekwaynecarr, is this something one of you guys could take a look at and/or fi

[2016-04-29 01:22] thockin opened #24957 "Feature request: A way to signal pods"
This has come up a bunch of times in conversations.  The idea is that some external orchestration is being performed and the user needs to signal (SIGHUP usually, but arbitrary) pods.  Sometimes this is related to ConfigMap (#22368) and sometimes not.  This also can be used to "bounce" pods.

We can't currently signal across containers in a pod, so any sort of sidecar is out for now.

We can do it

[2016-04-29 01:24] thockin commented on #22368
The atomic update is inotify-able, you just have to watch the `..data` symlink.

I do think that some way to signal would still be useful.

[2016-04-29 01:30] liggitt commented on #24652
Looks like the disconnect is in the grace period not getting propagated to the namespace controller's cleanup. @derekwaynecarr and I talked briefly about graceful deletion on namespace teardown a while ago, and he convinced me the teardown should be graceful by default (we want the pods to not trash persistent storage they're attached to, etc), but if you pass --grace-period=0 to delete a namespac

[2016-04-29 01:41] pmorie commented on #22368
I also think it would be useful to many to be able signal

[2016-04-29 01:42] thockin commented on #6461
There are a bunch of log libraries that look attractive.  I have some notes
somewhere, but I am about to get on a plane.  Are you offering up sopme of
your own time? :)  Let's talk...

On Thu, Apr 28, 2016 at 2:01 PM, Timothy St. Clair <notifications@github.com

[2016-04-29 01:49] smarterclayton commented on #24652
That was the agreed design from before - namespace period caps graceful deletion of individual items.

[2016-04-29 01:55] mikedanese commented on #24930
cc @kubernetes/examples

[2016-04-29 01:57] mikedanese commented on #24925
cc @vishh

[2016-04-29 01:58] mikedanese commented on #24920
cc @cjcullen @bprashanth

[2016-04-29 02:00] dcbw commented on #24672
@yifan-gu kubelet does not create the net namespaces today, but that was my suggestion.  pkg/kubelet/rkt/rkt.go would create the namespace with 'ip netns add <uuid>' and then exec the rkt run-prepared with that namespace name.  Then when the pod was torn down it would 'ip netns del <uuid>'.

[2016-04-29 02:01] mikedanese commented on #24778
cc @johndmulhausen

[2016-04-29 02:09] mikedanese commented on #24809
@liggitt

[2016-04-29 02:13] timothysc commented on #6461
Yup, so long as there is an agreed upon path.

[2016-04-29 02:14] mikedanese commented on #24873
kubectl get po,deployment,rc,rs,ds,no,job -o yaml?

[2016-04-29 02:20] liangchenye commented on #24814
fix @jayunit100 @Random-Liu

[2016-04-29 02:22] mikedanese commented on #13038
This is closed but there is still no kubectl export. What's happening here?

[2016-04-29 02:26] liggitt commented on #24809
what versions are each cluster running? a couple relevant PR's that merged ~2 months ago:
https://github.com/kubernetes/kubernetes/pull/21706
https://github.com/kubernetes/kubernetes/pull/22160

[2016-04-29 02:27] liggitt commented on #24809
new tokens being generated shouldn't cause 403 errors from old tokens

[2016-04-29 02:36] smarterclayton commented on #24891
Sub resources unfortunately don't solve the "is CREATE safe for this" -
either you end up not giving CREATE to end users (because you want to set
those fields), or you can't set those fields on CREATE (in which case they
aren't sub resources, they are separate resources).  Since create is the
most common verb, I don't think it's a real solution except for system
actors that only react to objects,

[2016-04-29 02:58] hubt commented on #13585
This script doesn't understand SIGWINCH, but it will set terminal size correctly at startup on most systems.
[code]

[2016-04-29 03:02] ncdc commented on #13585
I've been busy with other items, but I do hope to submit the winch pull
next week. It's 100% functional and just needs some polishing up before
it's ready.

On Thursday, April 28, 2016, Hubert Chen <notifications@github.com> wrote:

[2016-04-29 03:07] smarterclayton opened #24960 "Conversion generator should create cross group conversions"
Most people are copying and pasting, which leads to lots of code that decays and has to be hand maintained.

Example: "extensions"

[2016-04-29 03:12] jmzwcn commented on #24951
#dibs

[2016-04-29 03:25] jmzwcn commented on #24951
Hi, I am a freshman, could I have a try for this issue?

[2016-04-29 03:56] bgrant0607 commented on #23804
https://cloudplatform.googleblog.com/2016/04/taming-the-herd-using-Zookeeper-and-Exhibitor-on-Google-Container-Engine.html

[2016-04-29 03:58] polvi opened #24963 "Watches fail on ThirdPartyResourceData objects"
[code]

The watch does not occur. Then the API server reports:

[code]

To reproduce:
1. Create a ThirdPartyResource
2. Create an object of your new Kind
3. kubectl get foos --watch

[2016-04-29 04:07] streamnsight commented on #7294
what's the proper way to handle this then? disable swap on the host?

[2016-04-29 04:13] jayunit100 commented on #24814
Thanks.!!!!!!!!

[2016-04-29 04:13] #24814 closed

[2016-04-29 04:16] liggitt commented on #24652
hrmm, that message is only returned from a namespace deletion when a second delete is attempted before the finalize has run. it looks like a namespace unrelated to the test is being deleted:

[code]

The test ran with namespace e2e-tests-kubectl-s5q6y
The cleanup is attempting to delete namespace "e2e-tests-kubectl-7cj4h", presumably for the second time while its finalize is still running?

[2016-04-29 04:18] liangchenye commented on #24937
Not sure how does this error come out. The 'Delete' test case only does two things: create a 'bin-false' pod and delete it immediately after that. Since there is no error comes out in pod creation, it means before the 'Delete' test case, there is no 'bin-false' pod (neither never been created nor has already been deleted). But this issue shows, after the creation, it is removed by another test cas

[2016-04-29 04:21] AdoHe commented on #24963
I will try to reproduce this and take a look.

[2016-04-29 04:24] liggitt commented on #24652
opened #24964 to fixup some things I found while investigating this, but I don't think those changes will fix the double-namespace-delete error we're seeing in this flake

[2016-04-29 04:28] quinton-hoole commented on #24952
Cc @nikhiljindal
On Apr 28, 2016 5:08 PM, "Mike Danese" <notifications@github.com> wrote:

[2016-04-29 04:36] AdoHe commented on #24963
Seems this can reproduced on HEAD, will take a look.

[2016-04-29 04:51] smarterclayton commented on #24652
I think we're seeing this in OpenShift as well in completely unrelated
tests - @ncdc and Jan (I think) had been looking into it.

On Fri, Apr 29, 2016 at 12:24 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-04-29 04:51] smarterclayton commented on #24652
#24937 might be the same problem.

On Fri, Apr 29, 2016 at 12:51 AM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-04-29 04:57] bgrant0607 commented on #18206
ImagePullBackOff is another one we need to document.

[2016-04-29 04:58] #24726 closed

[2016-04-29 05:30] nikhiljindal commented on #24952
cc @jianhuiz

[2016-04-29 06:16] wojtek-t commented on #24501
Fixed by #24539

[2016-04-29 06:16] #24501 closed

[2016-04-29 06:26] tingzhang opened #24967 "code coverage is failed at some cases"
[code]

[2016-04-29 06:33] erictune commented on #7294
Disabling swap is a good approach.  When you have multiple containers and multiple machines they could be scheduled on, it is better to kill one container, than to have all the containers on a machine operate at an unpredictable, probably slow, rate.

[2016-04-29 06:48] zhouhaibing089 commented on #24967
@kubernetes/sig-testing and @lavalamp

[2016-04-29 07:10] AdoHe commented on #24963
@brendandburns seems thirdparty resource data codec can't handle `versioned.InternalEvent` [https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/thirdpartyresourcedata/codec.go#L391](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/thirdpartyresourcedata/codec.go#L391)

[2016-04-29 07:20] erictune commented on #24533
Job has activeDeadlineSeconds.  Is that the same thing?

On Thu, Apr 28, 2016 at 7:57 AM, Maciej Szulik <notifications@github.com>
wrote:

[2016-04-29 07:33] zhouhaibing089 commented on #24784
Cool, now it show passes every(six times continuously). Unit test works normally on a bare metal while flakes on VMs, and it should be a clock issue as @Random-Liu pointed out at #24788

[2016-04-29 07:46] zhouhaibing089 commented on #24784
So curious about this phenomenon, we are running kubernetes on VMs managed by openstack, does it mean that we may encounter real issues related with clock even if the probability is extremely low?

/cc @ashw7n @chengyli

[2016-04-29 07:56] zhouhaibing089 commented on #24967
It show passes when doing this patch:

[code]

[2016-04-29 07:59] kargakis commented on #13038
@mikedanese there is `kubectl get --export`

[2016-04-29 08:01] tingzhang commented on #24967
thanks @zhouhaibing089 !
Another issue is:
pkg/master/master_test.go
[code]

[2016-04-29 08:02] kargakis commented on #11505
@bgrant0607 meaning users would need to explicitly ask for a canary check before rolling out?

[2016-04-29 08:03] jsafrane commented on #24937
This looks similar to the first comment, different to @mikedanese's  one: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/24861/node-pull-build-e2e-test/3451/build-log.txt

[code]

[2016-04-29 08:18] kargakis commented on #24533
Ah, totally forgot about this. You can achieve the same thing (ie. permanent failure so terminate this thing) but activeDeadlineSeconds is relative to the starting time of a job while progressDeadlineSeconds is relative to the last time any progress was made (scaled up or down pods).

[2016-04-29 08:49] soltysh commented on #24533
@erictune iiuc, progressDeadlineSeconds (like @kargakis explained) is targeted at times when you are getting failures, whereas ADS is the overall time given to a job, like maximum. PDS will start counting only upon getting some errors, thus would be applicable only to restart Never.

[2016-04-29 09:06] kargakis commented on #24533
PDS, once specified, is counting always and starts from the last time there was any progress (scaled up or down pods during a rollout).

[2016-04-29 09:30] mfanjie commented on #23848
@quinton-hoole some discussions
About CloudProvider:
In k8s the cloud provider info is loaded from configure file, in federation, as we are handling multiple clusters, cloud providers for each cluster might be different, is there a way to retrieve the cloud provider info outside the actual cluster? I did not see such code, maybe we need to add that.
An alternative is in current phase we do not sup

[2016-04-29 09:40] zhouhaibing089 opened #24971 "flake: TestDelNode failed"
Running `godep go test k8s.io/kubernetes/pkg/controller/node -v` show failures at times:

[code]

The expected queue is `[second third]` while got `[third second]`, see code here: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/rate_limited_queue_test.go#L76

I would give an idea that these cases have something similar, so referring #24784 and #24788

/cc @gmarek

[2016-04-29 10:29] liangchenye commented on #24937
will be fixed by https://github.com/kubernetes/kubernetes/pull/24191

[2016-04-29 11:12] dcowden commented on #24873
Ah yes, of course!  This works, but it is not what what I was looking for. It answers my question, but it doesnt give me files that match the ones I used.

I learned that the answer to this question is to read the 'last-applied-configuration' annotation that kubectl adds. this will give the files that were used to produce the config.

[2016-04-29 11:12] #24873 closed

[2016-04-29 12:12] ltagliamonte opened #24972 "kubernetes using rkt and flannel networking"
I'm having problem configuring flannel network, the created pods gets no default gateway i'm using vm on AWS with:
- CoreOs 899.15.0
- latest k8s stable release 1.2.3

i'm configuring the network as describe here [http://kubernetes.io/docs/getting-started-guides/rkt/](url)
To setup the VM i'm using the following script:
[code]
 entering the pod i got the following interfaces:
[code]
the following

[2016-04-29 12:41] bjoernwenzel-tommapps commented on #13892
+1

[2016-04-29 12:54] ingvagabund opened #24973 "Creating HPA using docs/user-guide/replicasets/hpa-rs.yaml fails validation"
[code]

from [1].

[code]

Caused by [2]. Docs needs to be updated.

[1] http://kubernetes.io/docs/user-guide/replicasets/
[2] https://github.com/kubernetes/kubernetes/commit/90c647eff94b5af85d6bb19154b472f73b7784c6

[2016-04-29 12:56] ingvagabund commented on #24973
cc @piosz @kubernetes/autoscaling @gouyang

[2016-04-29 12:59] ingvagabund commented on #24973
Simple docs update. Updating the yaml file to:

[code]

creates the ``HorizontalPodAutoscaler``.

[2016-04-29 13:21] openxxs opened #24974 "Kubelet image GC for docker "Data Space Total" instead of disk space"
Docker 1.10.2
Kubernetes 1.1.7

I start docker with parameter `--graph=/mydisk/mypath/`, and start Kubelet with parameters `--docker-root=/mydisk/mypath/ --image-gc-high-threshold=80 --images-gc-low-threshold=60`.
`docker info` shows me `Data Space Total: 107.4 GB`. And `mydisk` is 1.2T.
With a long time running, the total size of pulled docker images reaches 107.4GB. Then docker daemon crashes.
I

[2016-04-29 13:41] jayunit100 opened #24976 "Gobindata automation"
after #24867

**current status** Gobindata will be important moving forward for a lot of our tests that rely on things like guestbook, while retaining binary portability...  To generate the artifacts, currently a developer needs to do this.

[code]

**goal**

Maintaining gobindata is not a huge task,  since likely we don't need to update too often.  But we should automate for the sake of simplicit

[2016-04-29 13:42] jayunit100 commented on #24976
@timothysc @kubernetes/sig-testing

[2016-04-29 14:12] justinsb opened #24978 "AWS: Proposed set of annotations for ELB "advanced features""
There are a few PRs in flight to use annotations to add extra features to the ELBs that k8s sets up (DNS, SSL, Proxy Protocol), and I've written up here what I think a consistent set of those annotations would be.  I think the PRs that we have are pretty close to what we have here.
### Proxy protocol support:
- `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol=*`

This is required to ge

[2016-04-29 14:47] hanikesn opened #24981 "Apiserver, there's no option to completly disable insecure access"
Currently it's not possible to set `--insecure-bind-address` for the apiserver to a value that completely disables insecure access to the apiserver. The most secure option is to have it listen on localhost, but that means blocking access to localhost if you want to have other software running on the same host.

[2016-04-29 14:50] zhouhaibing089 commented on #24967
I do not know the detail, but it looks like the test actually report error at line 77.

[2016-04-29 15:00] mikebrow commented on #24036
So by POC runc do you mean POC containerd + runc?

At first, we pick out the commonds which are mainly about opareting the containers in k8s. And we find their corresponding command in containerd. According to the result, we draw this sheet.
<table>
    <tr>
        <td>k8s</td> <td>containers</td> <td>runc</td>
    </tr>
    <tr>
        <td>run</td> <td>run</td> <td>start</td>
    </tr>
    <tr>

[2016-04-29 15:11] kfox1111 opened #24982 "keystone token authentication"
Keystone supports many authentication systems (kerberos, k2k federation, etc) and in many of them they require many things other then just a username and password.

Once you get a keystone token though, you don't have to deal with any of that. So, we need a way to authenticate to keystone with a keystone token instead of a username/password combination.

[2016-04-29 15:13] zhouhaibing089 commented on #24982
token will expired at a given time, how would you like to handle this?

[2016-04-29 15:35] kfox1111 opened #24984 "keystone insecure certificate override/ca specification"
If you are deploying test OpenStack systems with self signed certs and want to test kubernetes/keystone authentication against it, it currently fails due to cert validation.

There needs to be two options to apiserver
 --keystone-insecure=true - Ignore certificate issues. Only for testing
 --certificate-authority=/path/to/ca.pem - Specify the certificate authority used to issue the keystone cert.

[2016-04-29 15:41] timothysc commented on #24976
It should be part of the build process.

[2016-04-29 15:44] xlgao-zju commented on #24036
@mikebrow yes, we gonna use containerd + runc. And at first, we will complete the POC of the command `run`. @Crazykev is studying on the image management.

[2016-04-29 15:46] jayunit100 commented on #24976
Yup that's what I mean,

[2016-04-29 15:49] philips commented on #18549
@erictune Can you contact explain why this solution is unsafe or bad? I am OK changing direction with the azp stuff but I want to internalize what was wrong with the original proposal.

[2016-04-29 15:52] rootfs opened #24985 "RFC: Adding test cases to e2e/volumes.go"
# RFC: Adding test cases to [e2e/volumes.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/volumes.go)
## Background

As we are developing features and new volume plugins, the e2e test cases are not catching up at the same pace. This proposal aims to cover the security context and more volume plugins.
## Existing test cases in [e2e/volumes.go](https://github.com/kubernetes/kubernet

[2016-04-29 15:55] thockin commented on #24951
not having a name lookup for `localhost` seems like a really really bad
idea to me...

On Thu, Apr 28, 2016 at 4:52 PM, Casey Davenport <notifications@github.com>
wrote:

[2016-04-29 15:57] zhouhaibing089 commented on #24984
/cc @uruddarraju

[2016-04-29 15:58] caseydavenport commented on #24951
@thockin - It seems odd to me as well (though this is apparently the norm for CoreOS, just discovered that).  I'm not sure what the reasoning is, but @aaronlevy might have more input.

[2016-04-29 15:59] jayunit100 commented on #24985
Thanks @rootfs this is a great outline.  these should be genericized.  we should also support the `--scale` option in these tests to for any volumes supporting N clients

[2016-04-29 16:21] aveshagarwal opened #24986 "Running update-all.sh on latest master fails"
[code]

[2016-04-29 16:33] jianhuiz commented on #24952
cant open the link, would you mind paste the content?

[2016-04-29 16:48] cjcullen commented on #24875
I'm fine with closing this if it isn't a good idea.

[2016-04-29 16:57] jberkus opened #24988 "Allow Kube-Proxy and kubelets to use etcd-based sevice discovery for HA"
This proposal is related to the following issues, but (I believe) not entirely duplicative of them:  #18623, #6363, #19443, #18174. If it is duplicative, then you know what to do ;-)

The way it is now:

The APIserver and supports leader election, allowing for nearly seamless failover of the kube-master with simple configurations.  However kube-proxy and the kubelets on the workers will not see th

[2016-04-29 17:04] anguslees commented on #23184
`provider.EnsureLoadBalancer` is supposed to return success if the loadbalancer already exists.  I gather from comments on #23185 that the bug here is the openstack provider doesn't do the right thing when the LB pool already exists.

[2016-04-29 17:11] mikedanese commented on #13038
@kargakis thanks!

[2016-04-29 17:12] mikedanese commented on #24873
@dcowden also see kubectl get --export

[2016-04-29 17:13] mikedanese commented on #24952
can you access http://ci-test.k8s.io/kubernetes-test-go/11484/ ?

[2016-04-29 17:15] bprashanth commented on #24920
I think this depends on the backend implementation. If a backend requires L2 connectivity, no, if it's just using iptables yes, for example. I believe calico should work (https://www.projectcalico.org/calico-network-policy-comes-to-kubernetes/), unsure about the others. Suggest inquiring on the net-sig: https://groups.google.com/forum/#!forum/kubernetes-sig-network

[2016-04-29 17:16] dcowden commented on #24873
ah thats even better! thanks!

[2016-04-29 17:17] smarterclayton commented on #24423
Seeing something like this almost continually now: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/24966/node-pull-build-e2e-test/3589/build-log.txt

[2016-04-29 17:23] rshriram commented on #24903
Same error here

[2016-04-29 17:33] bgrant0607 commented on #18450
@titilambert I still don't understand the reason why you want to stop all pods on a given node at the same time. However, this sounds like a fairly niche use case.

Maybe there is something we could do to make this easier to implement outside of Kubernetes?

[2016-04-29 17:36] bgrant0607 commented on #18450
Additionally, as I mentioned in the PR, we're trying to reduce the amount of logic in kubectl (#12143).

[2016-04-29 17:41] bgrant0607 commented on #15310
Re. GA:

* Update orchestration
* Coordination with node lifecycle (including node upgrades)
* Guaranteed scheduling

[2016-04-29 17:43] jianhuiz commented on #24952
It failed due to bind address already in use.
The same address were used in example/apiserver (which runs befor federated-apiserver) as well.
I wonder if the tests are run in parallel? If it is the case, I can change the port to other values (8082 for example)
Otherwise, it may indicate that the address:port was not proper released for some reason
http://stackoverflow.com/a/5106755/2259827

=== RU

[2016-04-29 17:54] therc commented on #24978
@justinsb what would the annotation for deciding whether to proxy SSL (L4, terminate at the pod) vs HTTPS (L7, terminate at the ELB, add X-Forwarded-For header)?

[2016-04-29 17:59] andyzheng0831 commented on #24661
Hit it again, here: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24987/kubernetes-pull-test-unit-integration/23448/

[2016-04-29 18:00] microadam commented on #24920
Thanks for the response! Apologies though, I don't think I worded my question that well.

If I was running directly on GKE (hosted Kubernetes), is it possible to use the network namespace isolation now? Or is it something that is planned for the future? Or something that is never on the roadmap?

If using just plain GCE, can I use the network namespace isolation without running something like cali

[2016-04-29 18:01] quinton-hoole commented on #24952
@jianhuiz Yes, tests run in parallel.   Can you perhaps use a random port number each time?  This will reduce the probability of collision to nearly zero (close enough to zero for practical purposes).

See https://github.com/kubernetes/kubernetes/blob/master/docs/devel/testing.md .

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/writing-good-e2e-tests.md also provides other backgr

[2016-04-29 18:02] bgrant0607 commented on #7402
controllerRef should make this change unnecessary.

cc @gmarek

[2016-04-29 18:02] #7402 closed

[2016-04-29 18:02] Random-Liu commented on #24784
@zhouhaibing089 At least for #24788, the flake should only happen when the clock goes very slow. :)

[2016-04-29 18:03] vishh commented on #24677
@dcowden

Since we are storing logs to the disk first before shipping off the node using fluentd, it is ok for fluentd to be temporarily offline. To be safe, we can keep fluentd running as it does today, where kubelet has the docker daemon sending logs to disk directly.

As of now containers log to stdout & stderr. Initially, we should redirect those fd's to files on the disk. Those files can be o

[2016-04-29 18:03] djsly commented on #18450
Hi Brian, let me try to explain in more details the use case here.

We have this single thread service that requires a log of RAM to be loaded
(loads a model into it)

Since the process is single threaded, we run multiple instances of the
service on the same machine, and we share the RAM across the different
services using /dev/shm.

Now in k8s, we have managed to migrate the service into a single

[2016-04-29 18:08] bgrant0607 commented on #22543
#15310 covers requirements for DaemonSet to graduate from beta to GA, including server-side update orchestration. I'd rather put effort into that, but it's tricky, and we don't plan to work on that in 1.3.

If you'd like to contribute a client-side solution, though that's not the long-term direction we have in mind (#12143), it shouldn't introduce a new command. Instead, we should make `kubectl ro

[2016-04-29 18:12] bgrant0607 commented on #7402
DaemonSet updates have a similar issue, which may be harder to resolve.

[2016-04-29 18:14] ihmccreery opened #24991 "SSH to node exits with 255"
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/24813/node-pull-build-e2e-test/3617/build-log.txt

I have no idea what's going on here, or what it's trying to do.  @pwittrock

[code]

[2016-04-29 18:17] vishh commented on #24677
@dcowden
https://github.com/kubernetes/kubernetes/issues/24677#issuecomment-214476467 surfaces one of the major flaws with logging to stdout/stderr.
#13010 was an attempt to define logging volumes as a first class feature. If we have pods express their logging configuration, files/directories & format, via a logging volumes, we can then have fluentd and other such agents parse the logs files using

[2016-04-29 18:17] bgrant0607 commented on #23402
@kubernetes/docs

[2016-04-29 18:19] bgrant0607 commented on #23402
We absolutely need something like this.

[2016-04-29 18:20] bgrant0607 commented on #23402
See also #7496

[2016-04-29 18:20] bgrant0607 commented on #7496
cc @kubernetes/kubectl @kubernetes/docs

[2016-04-29 18:26] pwittrock commented on #24991
Connection to tmp-node-e2e-aadc904d-e2e-node-coreos-stable20160218-image closed by remote host.

Will be fixed in #24990

[2016-04-29 18:29] pwittrock commented on #24905
cc @Random-Liu
@liangchenye would you take a look at this?

[2016-04-29 18:32] dcowden commented on #24677
@vishh
I skimmed #13010. Most of that discusses the implementation of the LogDir,

But the 'log format' question is a tougher one, that to some extend drives the implementation. Let's define a 'logging source' as a source of logs having a distinct format.  Lets also assume that each logging source is communicating a group of fields.

If we assume that a given pod ( or even a single container) can

[2016-04-29 18:39] bgrant0607 commented on #19721
Obsolete

[2016-04-29 18:39] #19721 closed

[2016-04-29 18:42] derekwaynecarr commented on #24991
@smarterclayton - this is the failure i was referencing.

[2016-04-29 18:42] jeffvance commented on #24985
@rootfs These look great. The focus here seems to be security/access of pod to volume, which is important to test.
I am looking at adding PV->PVC bind testing to test that  PVs / claims are bound to the correct target and released/recycled correctly, especially in cases where the PV or claim is pre-bound. I'll add the pr# here.

[2016-04-29 18:43] macb commented on #24809
Ya the 403's were unrelated and just lead us to find this issue, sorry about that. :)

Cluster A and B are on 1.2.0. Cluster C is on 1.2.1 (but was previously 1.2.0 and upgraded to 1.2.1).

[2016-04-29 18:46] vishh commented on #24677
From a design perspective, I'd prefer k8s not interpreting log data. k8s can (should) help manage logs and also provide means to add additional metadata around logs, like logging format, application type etc.

So altering your proposal a bit,

1. Containers should log to either stdout/stderr, or to logging volumes.
2. Logging volumes will include additional metadata that will help logging agents l

[2016-04-29 18:52] rootfs commented on #24985
@jeffvance yes, this is just for e2e/volumes.go. Will have another one for [e2e/persistent_volumes.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/persistent_volumes.go), which covers PV/PVC tests.

[2016-04-29 18:55] vishh commented on #24925
That document states the following - "CPU is specified in units of cores."
CPU is mentioned as an absolute value and not a relative (%) value. So `100m` translates to 100 milli cores or 1/10th of a single core.

[2016-04-29 18:56] vishh commented on #24925
If the fact that CPU values are not absolute is not clear, we can definitely make that explicit in the doc.

[2016-04-29 19:01] liggitt commented on #24809
yeah, based on age, it looks like the spurious tokens were created pre-1.2.0, and that definitely matches the symptoms those two pulls addressed. I'm going to call this fixed in 1.2.0, though please ping if you see it again

[2016-04-29 19:03] felipejfc commented on #19113
how is the status here? are there any integrations between ecr and kubernetes that automatically updates the ECR login information? (since it is valid for only 12 hours?) Currently I'm updating them manually in every deploy

[2016-04-29 19:07] therc commented on #19113
This has worked for months from HEAD (and is in 1.2) if the cluster and ECR are in the same region. There's another PR out for cross-region support.

[2016-04-29 19:07] felipejfc commented on #24862
Any quick fix for that in AWS cluster? It is very anoying to keep restarting my elasticsearch pods for making them work

[2016-04-29 19:17] jeffvance commented on #24985
@rootfs Should my new/updated pv bind tests be place in the test/e2e dir, or under controller/persistentvolume/?

[2016-04-29 19:18] davidopp commented on #18450
In 1.3 we're adding "pod affinity" which lets you say "when you're trying to schedule a pod from [service, RC, RS, Job, whatever] X, only do so on a node that is already running at least one pod from [service, RC, RS, Job, whatever] Y.

There is a variant of this (that we're not implementing in 1.3, but might later) that says "in addition, if the pod from Y stops running, then kill X"

If you real

[2016-04-29 19:21] therc commented on #24862
@felipejfc Are you running your own ES or AWS' hosted one?

I use a custom fluentd-logging YAML file, with these changes:

[code]

The configmap was created like this:

`kubectl create configmap --namespace kube-system td-agent-config --from-file=td-agent.conf`

It's important that your custom file that gets passed to kubectl be named `td-agent.conf`.

[2016-04-29 19:25] timothysc commented on #21081
We've got the new cluster up with latest and greatest + golang 1.6.  Initial findings show HTTP2 is enabled on the server by default w/golang 1.6, but the clients still showing many connections, and am digging in now.

[2016-04-29 19:26] felipejfc commented on #19113
I'm using 1.2.2 and I always have to update the ecr login... The cluster is in us-east-1 and also the ECR repos... Do I need some specific configuration to make it work?

[2016-04-29 19:27] ncdc commented on #24819
I'm actually seeing this happen frequently (the presence of the "Unknown device" errors during PLEG inspection), but it's not a problem because it's happening during the creation of a container, and a subsequent PLEG relist ends up with a successful inspection.

I wrote a sample go program to create a container in 1 goroutine and then inspect it as often and as fast as possible until it gets no er

[2016-04-29 19:29] chbatey commented on #24978
cc @jsravn

[2016-04-29 19:31] therc commented on #19113
Update? We never had to do it and it's been working for months, in multiple clusters. The kubelet does it if the AWS cloudprovider is on. If you're doing it in the deployment, it sounds like you are using your own set of ECR credentials.

[2016-04-29 19:32] felipejfc commented on #24862
@therc I brought up my Kubernetes AWS cluster with kube-up so It provisioned two ES pods automatically for me... So I think my own.
From what I read I think in this case I shouldn't be having this error, right?

All my config files are default ones that kube-up provisioned for me.

[2016-04-29 19:34] therc commented on #24862
Ah, then forget what I said, this looks like a different issue. No idea, sorry. :-(

[2016-04-29 19:36] davidopp opened #24995 "Fix the "first pod problem" for inter-controller/service pod affinity like we did for same-controller/service pod affinity"
In the pod affinity design we identified a problem (let's call it the "first pod problem") where the way you express the rule "run all the pods from service S in the same zone" is to say "each pod from service S should only run in a zone that is already running a pod from service S"; this works once there is one pod from S running, but the first pod from S will block forever if the rule is taken l

[2016-04-29 19:37] nikhiljindal commented on #24952
I think changing the Insecure Port at https://github.com/kubernetes/kubernetes/blob/11298d02e07ce9fe2329f2cc9d27b450dce104ce/federation/cmd/federated-apiserver/app/server_test.go#L77 from 8081 to some other value (say, 8082) should be fine.

[2016-04-29 19:38] fabianofranz commented on #23402
Correct. We hide global flags by default (but they can still be individually exposed if wanted, like we do with `--certificate-authority` in `oc login` for example) and we put them under a separate command called `oc options`, which [is referenced](https://github.com/openshift/origin/blob/master/pkg/cmd/templates/templates.go#L53) at the bottom of every command. The only caveat is that we don't au

[2016-04-29 19:39] macb commented on #24809
Sounds good, thanks for taking a look.

[2016-04-29 19:39] liggitt commented on #21081
go1.6 should have made the per-handshake TLS overhead better, but the "connection per CLI invocation" wouldn't have changed

[2016-04-29 19:41] fabianofranz commented on #10408
Also: https://github.com/kubernetes/kubernetes/issues/23402

[2016-04-29 19:41] #24809 closed

[2016-04-29 19:44] rootfs commented on #24985
e2e test goes to [e2e] (https://github.com/kubernetes/kubernetes/blob/master/test/e2e), unit test goes to controller/persistentvolume, integration test goes to [integration](https://github.com/kubernetes/kubernetes/tree/master/test/integration)

[2016-04-29 19:47] lavalamp commented on #24934
Does deletion implicitly set replicas to 0? Will orphaned pods count towards the number of replicas?

Clients that wait for generation == status.observedGeneration && spec.replicas == status.replicas may have issues.

[2016-04-29 19:48] lavalamp commented on #24935
No need to limit this to controller objects if generation is already implemented generically.

[2016-04-29 20:05] derekwaynecarr commented on #24935
I am confused by this issue.  Can you elaborate?

[2016-04-29 20:06] nikhiljindal opened #24996 "Refactor kubernetes scheduler and controller manager to enable code reuse"
Forked from https://github.com/kubernetes/kubernetes/pull/24038#issuecomment-215610094

We are adding federation scheduler and controller manager as per the plan in https://github.com/kubernetes/kubernetes/issues/23653.

There is obviously some common code that is shared with kubernetes controller manager and kubernetes scheduler.
We want to pull out that code into libraries to enable code reuse r

[2016-04-29 20:06] nikhiljindal commented on #24996
Note that there was same issue with kubernetes and federation apiserver. We now have a library `pkg/genericapiserver` that solves that problem.

[2016-04-29 20:07] mogthesprog opened #24997 "Making kerberos credentials available inside a container"
Note: I realise this is a very general question, but i specifically want to know if there's a feature of kubernetes or something that i can do to solve this in an easier way?

Hi Guys,

So i've been looking into how best to make a kerberos ticket-granting ticket available inside a container on behalf of a user. I'll give a bit of background below:

We have a self service portal, where users spawn

[2016-04-29 20:10] nikhiljindal commented on #24996
Marking this 1.3 since this is also required for cluster controller which is planned for 1.3.
Scheduler is not strictly required for 1.3

[2016-04-29 20:13] ncdc commented on #24819
It appears that remove the log message and continue statement from https://github.com/kubernetes/kubernetes/blob/34d4eaea08bbebbf34dac49ad41705852c1aa80f/pkg/kubelet/pleg/generic.go#L228 solves the problem. It does have the side effect that the pod worker will keep trying to create the container over and over again, and it will keep failing (in my example where we disallow images with Docker volum

[2016-04-29 20:21] pwittrock commented on #24991
#24990 Has been merged and should have provided a short term fix.  Reopen if necessary.

[2016-04-29 20:21] #24991 closed

[2016-04-29 20:24] dcowden commented on #24677
Yes, I like that.  I would  further propose several other small additions:

   1. The additional metadata described in step 2 should also be possible to associate with the stderr/stdout stream.  That way, you're not a second class citizen from a metadata viewpoint if stderr/stdout works well for you.

  2. I'd hazard a guess that anybody using a JVM, and anyone using even remotely complex containe

[2016-04-29 20:24] quinton-hoole commented on #23848
@mfanjie The service controller should only need to interact with the clusters via the Kubernetes API, so there should be no need to access the cloud provider directly.  For DNS we use a DNS provider API, which is actually independent of the cloud provider.

If we do find it necessary to handle clusters differently based on which cloud provider they're running on, then yes, we might need to expose

[2016-04-29 20:25] lavalamp commented on #24652
Yeah, multiple namespaces are being processed simultaneously.

[2016-04-29 20:27] quinton-hoole commented on #23848
@mfanjie Regarding heterogenous federation, I think that we need to support that from phase 1.

Regarding authentication, yes, the controller manager needs authenticated access to the cluster's API server.  Same as for the current Federated ReplicaSets.

[2016-04-29 20:28] liggitt commented on #24652
is it intentional for the AfterEach to be cleaning up namespaces from another test, or is that the bug?

[2016-04-29 20:37] philips commented on #24423
@pwittrock So, @vishh just disabled CoreOS instead of waiting for you to fix this. Do you need help fixing this or can @yifan-gu help?

[2016-04-29 20:38] philips commented on #24423
@vishh can you reopen this, your fix just disables the test instead of fixing the cause. https://github.com/kubernetes/kubernetes/pull/24990

[2016-04-29 20:41] davidopp commented on #23028
What is the daemon watching? It sounds like the daemon is write-only.

BTW an advantage of NodeCondition over Event is that NodeCondition can be piggybacked on existing NodeStatus updates (though of course it makes the NodeStatus object larger). But anyway, I agree events is reasonable if you are essentially just proxying kernel log messages.

[2016-04-29 20:52] nikhiljindal commented on #24996
For reference, cluster controller PR is https://github.com/kubernetes/kubernetes/pull/23430 and federation scheduler PR is https://github.com/kubernetes/kubernetes/pull/24038

[2016-04-29 20:55] vishh commented on #24677
@dcowden
+1 for associating metadata with stdout/stderr, in addition to log files & directories.
Option `2a` is what makes sense to me as well.
As for metadata specific to logging daemons, since core kube components will not be interpreting that data, we can pass them along using [Annotations](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/annotations.md) on log volumes.

I'd

[2016-04-29 20:57] vishh commented on #24677
@thockin

[2016-04-29 20:58] bgrant0607 commented on #831
@saad-ali I believe the proposals here are superior to init containers for the purpose of initializing volumes. See https://github.com/kubernetes/kubernetes/pull/23666#discussion_r59081733 and other comments in that PR for more details.

[2016-04-29 20:58] maisem commented on #24997
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-04-29 20:58] #24997 closed

[2016-04-29 21:03] dcowden commented on #24677
Excellent! Ok I think we have a good diagram of how to proceed then. There are details left, but this discussion definitely gives me a good idea of how i should proceed while being compatible with what is to come later.

How can I help? I'm afraid I will not be able to help much. I'm a complete Noob at Go, and i'm not very experienced with the codebase. But given that, if I can be of assistance, l

[2016-04-29 21:05] smarterclayton commented on #831
Volume types specifically for images can never be effectively implemented
with init containers (just prototyped), so this is still a valid need.

On Fri, Apr 29, 2016 at 4:58 PM, Brian Grant <notifications@github.com>
wrote:

[2016-04-29 21:09] yifan-gu commented on #24423
@pwittrock I don't know how you provision the machine, do you actually run [this script](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/environment/setup_host.sh) for each instance?

If you want to add cloud config when creating the instance, you can do `gcloud compute instances create ${node_name} --metadata-from-file "user-data=${path_to_cloud_config}"`

[2016-04-29 21:13] aaronlevy commented on #24951
You can do a localhost lookup, but this was brought up due to a container running with `hostNetwork=true` and I believe Docker's `--net=host` behavior is to copy the host `/etc/hosts` into the container fs (which on CoreOS doesn't exist).

I opened a related issue against CoreOS here: https://github.com/coreos/bugs/issues/1260

[2016-04-29 21:20] smarterclayton commented on #24652
Originally that was there to catch problems in cleanup from other tests
(defensive cleanup).

On Fri, Apr 29, 2016 at 4:29 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-04-29 21:22] ihmccreery commented on #8817
FWIW, the half-dozen or so ways we run `kubectl` from various parts of our repo is making is very difficult to work on testing version-skewed `kubectl`.  I might be forced to take this issue on.  Looking into it...

[2016-04-29 21:25] Random-Liu commented on #23028
@davidopp To update the NodeStatus, the daemon needs to know the newest NodeStatus. But of course, a simple `Get` before update should also works. :)

[2016-04-29 21:25] aanm commented on #24951
Also, why `127.0.0.1` and not `::1` for example?

[2016-04-29 21:27] davidopp commented on #23028
I am not suggesting to use NodeStatus here, I just wanted to mention it.

[2016-04-29 21:31] bprashanth commented on #24957
We can just use config map as the kube-event-bus. It's what I was going to do for petset.

I need to notify petset peers about changes in cluster membership. The idea is people will write "on-change" hook handlers, the petset will create a config map and write to it anytime it creates a new pet. The kubelet runs a handler exec/http-probe style, on every change to the config map.

I'd rather have a

[2016-04-29 21:34] pwittrock commented on #24423
@philips Yes, sorry.  I intended to fix the issue without disabling, but we started seeing a lot of failures so I asked @vishh just to disable until we could apply a fix, which is at the top of my list.  I have been OOO but will get back late tonight.  If @yifan-gu can update the [node test harness](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_node_suite_test.go) to preve

[2016-04-29 21:38] jeffvance commented on #24985
@rootfs Thanks for the pr above. There are a lot of tests there.

[2016-04-29 21:48] Random-Liu commented on #23028
@davidopp Updated the comment above to make it less ambiguous.

[2016-04-29 21:51] vishh commented on #24677
@dcowden : As for next steps, we need an owner for this feature. @edsiper is this something you are interested in tackling?

[2016-04-29 21:56] freehan commented on #24953
It is due to `arp` cache does not have valid mac address of the new pod immediately after the new pod becomes ready.

I think this is largely due to the ip allocation logic in CNI 'host-local' ipam. It tends to allocate ips which are recently used. It should do a round robin instead.

[2016-04-29 22:03] fejta commented on #24976
It should be part of the merge process.

[2016-04-29 22:07] caseydavenport commented on #24951
@aanm - Yes, the more I've thought about this the more I've realized assuming `127.0.0.1` is probably the wrong way to go.  Happy to close this with the understanding that you need to configure name lookups for "localhost"

[2016-04-29 22:07] #24951 closed

[2016-04-29 22:10] jayunit100 commented on #24976
Hmmm... I I feel like hack/verify is for things that aren't already automated, right?

[2016-04-29 22:19] thockin commented on #24951
@aaronlevy - how does a CoreOS node define "localhost" if not /etc/hosts?

On Fri, Apr 29, 2016 at 2:14 PM, Aaron Levy <notifications@github.com>
wrote:

[2016-04-29 22:23] thockin commented on #24957
I opened this as a separate PR because I have been asked several times for
literal signals.  Asking people to do something instead of signals,
especially something kube-centric is a non-starter for people who have apps
that need signals.  We could ask them to bundle sidecars as bridges, but
because we can not signal across containers, they have to bundle into their
own containers.  That is gross t

[2016-04-29 22:27] bprashanth commented on #24957
You won't need a sidecar, you'll need a shell script that sends `pkill -HUP nginx`, right? the kubelet will exec-probe that script. This will require modifcation of pod spec but is more flexible imo.

[2016-04-29 22:32] aaronlevy commented on #24951
@thockin via `/etc/nsswitch.conf` - which defines a hosts location at `/usr/share/baselayout/hosts`. The `/etc/hosts` location is still checked, just the "default" OS copy is in /usr/share/baselayout

[2016-04-29 22:38] ihmccreery commented on #8817
Notes for my own sanity on how tests decide what `kubectl` to run:

- [ ] `hack/e2e.go` overrides `KUBECTL` (it doesn't respect an already-set env variable) and then also manually calls `"cluster/kubectl.sh"` later. (https://github.com/kubernetes/kubernetes/blob/master/hack/e2e.go#L95, https://github.com/kubernetes/kubernetes/blob/master/hack/e2e.go#L123)
  - [ ] `hack/e2e.go` calls some number of

[2016-04-29 23:03] jianhuiz commented on #24952
Which should I use? 8082 or random?
Personally I wouldn't be so optimistic about using random port number since no matter how small the probability is, it will happen eventually, which would be a surprise to those who's not aware of this.

[2016-04-29 23:08] aanm commented on #20379
@AdoHe @yujuhong How are things going?

[2016-04-29 23:12] gmarek commented on #24971
cc @smarterclayton

[2016-04-29 23:15] thockin commented on #24951
Ahh, thanks

On Fri, Apr 29, 2016 at 3:33 PM, Aaron Levy <notifications@github.com>
wrote:

[2016-04-29 23:19] gmarek commented on #24934
For this I'd thing that it doesn't change anything it it's spec. Just don't try to take any actions.

Another option would be to set replicas to 0 and remove label selector, but I'm pretty sure that would break someone.

[2016-04-29 23:23] gmarek commented on #24935
AFAICT currently Generation is bumped only when Spec of a given object is changed. The idea behind the generation is that as long as the generation is the same, the behavior of the object doesn't change (i.e. update of Status generally doesn't change behavior of the object). deletionTimestamp will change the behavior of controllers, as they will stop "controlling" things (#24934).

This is needed

[2016-04-29 23:24] lavalamp commented on #24935
We need a way to tell if a controller has observed a deletion.

On Fri, Apr 29, 2016 at 1:05 PM, Derek Carr <notifications@github.com>
wrote:

[2016-04-29 23:24] gmarek commented on #23028
Events as `api.Events`? I thought that those are for human consumption only. cc @bgrant0607

[2016-04-29 23:29] djsly commented on #18450
Hi Daniel. Thanks for the feedback. 
I might have not explained it week the first time. 
In my case, service1 and service2 are in fact the same RC. It's just a different replica. I like to use the concept of instance number appended to the service name...   We can run up to 24 replicas of the same POD on one node. 
When we do a rolling upgrade, that's where we need that any new replica of the new

[2016-04-29 23:33] acmcelwee commented on #17620
Just for anyone who stumbles upon this trying to get internal elbs working on AWS, @pdbogen's suggestion needs a tiny substitition, and it works like a charm.

`s/services\.beta/service.beta/`

Obviously, the code referenced is correct, but I figured I'd save someone else the couple minutes I spent trying it the other way.

[2016-04-29 23:37] fejta commented on #24661
Verifying ./hack/../hack/verify-generated-protobuf.sh
/go/src/k8s.io/kubernetes/hack/after-build/verify-generated-protobuf.sh: line 42: sudo: command not found
+++ [0429 03:26:14] Verifying Prerequisites....
+++ [0429 03:26:14] Building Docker image kube-build:build-91dbedbcaf.
+++ [0429 03:26:15] Running build command....
Go version: go version go1.6 linux/amd64
+++ [0429 03:26:16] Building go ta

[2016-04-29 23:37] #21564 closed

[2016-04-29 23:37] motomux opened #25002 "Web interface error. ssh: rejected: connect failed (Connection refused)"
When I accessed to web interface (MASTER_END_POINT/ui), I got redirected to `/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/` and got the following error page.

[code]

platform: GKE
Master version: 1.2.2
Node version: 1.2.0

[2016-04-29 23:38] lavalamp commented on #18622
I think the discovery API is the canonical place for this info to go. Adding canonical short names at the same time makes sense.

Making people programmatically pluralize English nouns to use our API is sadistic.

[2016-04-29 23:44] hongchaodeng commented on #24405
closed via #24455

[2016-04-29 23:44] #24405 closed

[2016-04-29 23:44] motomux commented on #25002
After I tried several times, I got the other error page.

[code]

Then I finally could see web interface.

[2016-04-30 00:15] pwittrock commented on #24423
@yifan-gu We provision machines using images we configured with that script.  The script is just run once and then we save the instance to an image.

[2016-04-30 00:29] yifan-gu commented on #24423
@pwittrock OK, so does [this](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_node_suite_test.go#L56) run on the machine? How can I test if I added something here and it works?

[2016-04-30 00:40] pwittrock commented on #24423
Yes that run on the host being tested.  For testing we can use the PR builder `@k8s-bot node e2e test this`.  You can add the coreos in the same PR as the fix and it will be tested by the PR builder.  Alternatively, you can create your own image in another project and use that per the instructions [here](https://github.com/kubernetes/kubernetes/blob/dae5ac482861382e18b1e7b2943b1b7f333c6a2a/docs/de

[2016-04-30 01:37] felipejfc opened #25005 "Grafana metrics totally screwed in AWS Cluster brought up by Kube-Up in 1.2.2"
Images are worth more than a thousand words

![image](https://cloud.githubusercontent.com/assets/285782/14933112/ab7e5a94-0e5a-11e6-98ce-a5b0186b9b1d.png)

![image](https://cloud.githubusercontent.com/assets/285782/14933117/c587911c-0e5a-11e6-96a4-5b4e9f7e17e3.png)

In comparison with Kubedash reporting

![image](https://cloud.githubusercontent.com/assets/285782/14933123/e86db7e2-0e5a-11e6-986d-a9

[2016-04-30 01:48] #25005 closed

[2016-04-30 05:06] verdverm commented on #20786
@kaptryk thanks!!

Your steps worked for me, seems to be a bug in k8s somewhere with ~/.docker/config.json

[2016-04-30 05:10] thockin commented on #24831
It should get the field set to the host's IP

On Wed, Apr 27, 2016 at 6:14 PM, feisky <notifications@github.com> wrote:

[2016-04-30 05:11] thockin commented on #20391
@steveej ping?

[2016-04-30 05:13] thockin commented on #24812
Did you regenerate your master certs or something?

On Wed, Apr 27, 2016 at 5:17 PM, devlina <notifications@github.com> wrote:

[2016-04-30 05:28] thockin commented on #17406
Opening for reconsideration.

[2016-04-30 05:29] thockin commented on #24831
Dup of #17406 which I have reopened for discussion

[2016-04-30 05:29] #24831 closed

[2016-04-30 05:43] thockin commented on #24957
You're missing the point.  There are other things people want to do that
involve sending a signal and "create a config map, modify your container to
include bash and pkill, modify your pod to mount the config map, write a
script that runs your process and then watches the configmap and signals
your process, and then run that instead of your real app" is a crappy
solution.  It's a kludgey workaroun

[2016-04-30 05:48] saad-ali commented on #19071
A user on google-containers is running in to the cassendra "permission denied" issue with the latest image `gcr.io/google-samples/cassandra:v8`. See [https://groups.google.com/forum/#!topic/google-containers/MDSj8NCI6-k](https://groups.google.com/forum/#!topic/google-containers/MDSj8NCI6-k).

Anyone have any ideas what it might be?

[2016-04-30 05:51] liggitt commented on #22768
also need to add validation:
* make sure thirdpartyresource names are well-formed (can parse kind/group from name)
* ensure version is a valid URL path segment
* validate objectmeta and objectmeta updates for thirdpartyresourcedata

[2016-04-30 05:52] bprashanth commented on #24957
your process, and then run that instead of your real app"

That's not part of what i want. I explicitly *don't* want a long running process aware of the config map.

include bash and pkill, modify your pod to mount the config map,

I think this is trivial. Not bash, sh or ash. Or http. The same things you need for a probe, or a post start hook, or pre stop hook. concepts we already have.

In short

[2016-04-30 05:54] bprashanth commented on #24957
And I'm trying not to end up with 2 overlapping concepts when you can achieve one with the other. Somehow I dont think people will be against a probe like thing instead of a straight signal.

[2016-04-30 05:59] zhouhaibing089 commented on #24981
I once heard from @liangjinebaycom that you could disable insecure access by setting `--insecure-port=0`.

[2016-04-30 06:00] thockin commented on #24957
It feels like a hack to me.  I'd be fine with notifiers, and with notifiers
attached to configmap changes, and with notifiers that included "send a
signal".  None of that obviates the utility of "i want to signal my pods"

On Fri, Apr 29, 2016 at 10:55 PM, Prashanth B <notifications@github.com>
wrote:

[2016-04-30 06:24] bprashanth commented on #24957
Hmm, my feature request also doesn't require a config map, it's the common case. Maybe a notifier of type=probe,exec,signal?

[2016-04-30 06:30] davidopp commented on #17397
@mikedanese That sounds like a good idea. Leave the script as-is except add at the beginning echo some kind of "you really shouldn't use this" message and exit.

[2016-04-30 09:56] bweston92 commented on #22655
I don't know if this is related but brand new Google account and lastest pull of Kuberenetes, I get the following issue.

[code]

[2016-04-30 11:30] euprogramador commented on #22932
Personal 'm having this error also in version 1.2.3

[2016-04-30 14:15] dcowden commented on #24677
Ok I was thinking about this more, and I have a nagging 'detail' that I am worried could become a big deal.

### The problem: some apps generate messages that cannot be enriched without parsing them

Consider this JVM gc logging format:

`2015-05-26T14:45:59.690-0200: 172.829: [GC (Allocation Failure) 172.829: [DefNew: 629120K->629120K(629120K), 0.0000372 secs]172.829: [Tenured: 1203359K->755802K(

[2016-04-30 14:42] astrolox commented on #24654
Based on my own experience; I think this problem is caused by the two docker daemons running on the same host and using the same docker-containerd daemon which docker runs automatically now. The solution is to use the --exec-root option on the bootstrap docker daemon, so that it's containerd pipe can't be found by the main docker daemon.

[2016-04-30 14:44] astrolox commented on #24114
Another related issue #24714

[2016-04-30 15:10] edsiper commented on #24677
@vishh definitely!

[2016-04-30 15:22] zhouhaibing089 opened #25009 "follow-up for Re-enable http test server Close() calls"
The original issue: #24546

https://github.com/kubernetes/kubernetes/pull/24595 gave the first try, However there are still some leftover.

[2016-04-30 15:31] hongchaodeng commented on #22448
Have one final PR to deal with compaction in #25010.

Update:
I'm doing some work in parallel to ensure e2e tests passed.

[2016-04-30 15:42] AdoHe commented on #22448
Good job 👍 @hongchaodeng anything I can help?

[2016-04-30 17:02] smarterclayton commented on #24957
Regarding signals and restarts, is kill the right signal, or do users
want to restart the pod itself?  I fee like the granularity on signals
is processes (of which container is a relatively good proxy), but the
granularity on restart / exec actions is containers or pods.

[2016-04-30 17:05] smarterclayton commented on #24971
I think so as well.

[2016-04-30 17:05] smarterclayton commented on #24971
The debugging I added to the test is obviously not correct - I'll fix that separately.

[2016-04-30 17:06] smarterclayton commented on #24971
I wonder if on very short intervals we're not getting a goroutine schedule swap, which causes this race to manifest (based on comments in the other thread).

[2016-04-30 17:09] thockin commented on #24957
I could see an argument for "restart" as a verb on pods (albeit with he
same issues around imperatives), distinct from signal, though I assumed
signalling a pod meant to signal all containers or a self-nominated signal
receiver container.
On Apr 30, 2016 10:03 AM, "Clayton Coleman" <notifications@github.com>
wrote:

[2016-04-30 17:10] smarterclayton commented on #24971
Does heap insertion guarantee order if the heap value is equivalent?
I don't think so.

[2016-04-30 17:15] smarterclayton commented on #24971
This seems like it is that now() is not monotonically increasing, so we
violate the add ordering condition.  Since we already have a lock in most
cases, we may want to either wrap now() to make it monotonic inc, or have
the queue check for equality in the heap and add one nanosecond until there
is no matching heap item.

On Apr 29, 2016, at 7:12 PM, Marek Grabowski <notifications@github.com>
wrote

[2016-04-30 17:22] smarterclayton commented on #12123
I'm +1 to that, although I've never seen it used I can't think of a
reason it would fail.  The alternative is a more verbose flag
--files-as-args

[2016-04-30 17:23] smarterclayton commented on #24649
I agree that it is justifiable on security grounds.  Many other cli
commands avoid scanning . without explicit permission to do so.

[2016-04-30 17:35] smarterclayton commented on #24957
Is "restart" a synthetic signal then?  If we add exec it's a little
wierd because we would potentially have to secure exec differently
than signal (since it could be running with higher priviliges) - do
pods authors define signals the container supports (which is more like
invokable hooks), or are they arbitrary (can I find crazy posix signal
X that causes the machine to crash)?

[2016-04-30 18:08] jmhodges opened #25012 "shells made with exec or attach have wonky readline behavior"
When logging into a specific pod with kubernetes 1.2.2 client (into a 1.2.2 server pod) with a shell for interactive behavior like so:

    kubectl --namespace=prod exec -it godebug-534338858-5fxr2-2376885364-ip0ry /bin/bash

the shell has wonky behavior when a line gets too long.

The easiest and clearest way to reproduce the problem is to type in a command that goes longer than your terminal's w

[2016-04-30 18:09] jmhodges commented on #25012
(Interestingly, even if you resize the terminal and you hit "up" to get a command that was overlapping, that new instance of the command will also show up as overlapping the text on the same line.)

[2016-04-30 18:11] jmhodges commented on #25012
Ah, it's not even getting resize notifications. Maybe it's because I'm following the GKE instructions and running my kubectl commands in a docker instance and SIGWINCH isn't being forwarded from the wrapping docker process to the `kubectl exec` instance?

[2016-04-30 18:12] jmhodges commented on #25012
Ah, yep, this is https://github.com/kubernetes/kubernetes/issues/13585

[2016-04-30 18:12] #25012 closed

[2016-04-30 18:17] jmhodges commented on #25012
Actually, the text overlapping itself seems to be a bug separate from the SIGWINCH stuff, maybe?

[2016-04-30 18:23] jmhodges commented on #25012
Ah! That's because the PS1 in this container had `${debian_chroot:+($debian_chroot)}` at the beginning of it. It had been

    PS1="${debian_chroot:+($debian_chroot)}\u@\h:\w\$ "

and changing that to

    PS1="\u@\h:\w\$ "

fixed the issue.

This doesn't occur when I run the image with `docker run` on its own. So, probably another `kubectl exec` bug but I'm not sure what.

[2016-04-30 18:42] jmhodges opened #25013 "overlapping text due to common PS1s in `kubernetes exec`"
Related, but perhaps separately from https://github.com/kubernetes/kubernetes/issues/13585, `kubernetes exec` will cause long commands to overlap on their own text in shells with some PS1s.

The `golang` and `httpd` images, for instance, have

    PS1="${debian_chroot:+($debian_chroot)}\u@\h:\w\$ "

This PS1 will cause, inside a container shell run by `kubectl exec`, commands that run over the edg

[2016-04-30 18:43] jmhodges commented on #25012
I've made https://github.com/kubernetes/kubernetes/issues/25013 with just the overlapping text PS1 problem.

[2016-04-30 18:49] jmhodges commented on #25013
Ah, now, it's still just #13585, sorry. I thought I had adjusted the COLUMNS and LINES env variables when I made the new shell but had forgotten.

[2016-04-30 18:49] #25013 closed

[2016-04-30 19:11] bprashanth commented on #24957
I'm still kind of stuck at the point where we're special casing a specific form of linux IPC. I really want a cluster notification system, the last hop of which is some implementation of a node local ipc, i.e, say i have a pod with:

[code]

and I write "foo" to stdin, the kubelet will deliver that at least once, to the one container with the hook. I then observe generation number and know that my

[2016-04-30 19:15] smarterclayton commented on #24957
I kind of agree signal is a subset of "pod notification".  The security
aspects of exec make it something I'd prefer to require the pod author to
define, in which case it's a named hook / notification.

On Sat, Apr 30, 2016 at 3:11 PM, Prashanth B <notifications@github.com>
wrote:

[2016-04-30 19:18] euprogramador commented on #22932
this error not viewed in version 1.3.0-alpha.2.

[2016-04-30 19:30] smarterclayton commented on #18538
Ironically I came back to this while doing performance work, where rounding quantities in the API is incredibly inefficient.

I think flag gating is a good compromise for these sorts of significant bugs with incompatible API.  No one should (for example) be setting millisecond fields, and the longer we wait to discourage that behavior the harder it is to fix.  Likewise, breaking a cluster on an up

[2016-04-30 19:36] justinsb commented on #24978
@therc good question - I forgot about that axis!  I do think HTTP vs TCP should be a separate annotation.  Perhaps `service.beta.kubernetes.io/aws-load-balancer-mode` with values `tcp` or `http`?  What do you think?

[2016-04-30 20:00] jsfeutz opened #25016 "make-ca-cert.sh , easy-rsa download breaks when inside firewallproxy."
Was working on installing via kubernetes/docs/getting-started-guides/docker-multinode/

Tried different http_proxy/https_proxy env settings in both docker, and passing to the script. The initial container sets correctly.. but the containers kicked off by the initial container do not set proxy correctly. So  apiserver container starts up complains about missing ca.crt.

--> line in make-ca-cert.sh

[2016-04-30 20:10] roberthbailey commented on #22655
@bweston92 that looks like an issue creating the node VMs.

[2016-04-30 20:16] coryjamesfisher commented on #17981
@luxas Thanks so much for the work you and the others have put into this. I was smacking my head against the wall trying to get Kubernetes running on a rpi 3 last night using the guide... Then I saw your comment this morning so I changed the k8 version number to the latest alpha and everything just works :) Thank you thank you thank you :)

[2016-04-30 20:19] nikhiljindal commented on #24952
Yes I am fine with changing the port to 8082. Feel free to send me the PR for review.

[2016-04-30 20:51] mikedanese commented on #24952
If you specify port 0 when you bind, the kernel will hand you an available port so there won't be a conflict.

[2016-04-30 21:30] msaffitz commented on #19113
@felipejfc make sure your kublets are running with the cloud-provider set to AWS (`--cloud-provider=aws`).  You should be able to confirm this by doing a `kubectl describe nodes` and confirming that the instance type appears in the label.  For example:

`Labels:			beta.kubernetes.io/instance-type=m4.xlarge,...`

[2016-04-30 21:54] felipejfc commented on #19113
@msaffitz maybe I assumed I needed to include pullSecret into my RC's because it was needed in my staging cluster (in us-west-1), I'm using ECR in (us-east-1) where also is my production cluster... I'll try in the production cluster without adding the secret in my next deploy to see what happens...

Ty

[2016-04-30 23:27] bprashanth opened #25017 "Builders failing with no space error"
Since ~11:50 on april 29th (yesterday) some builders are failing with no space errors:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-serial/1187/console
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress-release-1.2/
[code]

@kubernetes/goog-testing

[2016-04-30 23:45] thockin commented on #12123
That's what I said before, but I said -ff.  :)

files" if this is important enough....

On Sat, Apr 30, 2016 at 10:22 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-04-30 23:52] thockin commented on #24891
I was mostly thinking of update - a lot of fields are sane to set but
awkward to update (or want to be access-controlled differently)  Creating
an object with a deletion time is valid (albeit weird, maybe).  Updating
the deletion time is a somewhat distinct action from updating the object
and unlikely to be done in tandem (I think).  So gating deletion by a
subresource seems 100% reasonable.  We s

[2016-04-30 23:52] thockin commented on #24875
It's interesting, I just don't think it is practical.

[2016-04-30 23:52] #24875 closed

[2016-05-01 00:30] smarterclayton commented on #24891
We should distinguish between fields that are safe within a resource
(creator is only hurting themselves) and safe outside a resource (field
allows creator to impact others).  The former is fine for create w/ update
subresources, the latter is not.

Another challenge to subresources - if a field is not dangerous until
someone starts using it in a piece of automation outside the core system,
and th

[2016-05-01 02:41] hongchaodeng commented on #22448
@AdoHe
We are a little behind timeline and have to move fast. I can think of a few things that would be helpful to us:
- Reviews on PRs. Anything that could make the code better would be welcome. If it's not blocking you can also write the code and raise it up in another PR.
- We are close to finishing initial code. But we need to run a lot of test (mostly e2e test) to ensure correctness and perfo

[2016-05-01 03:23] smarterclayton opened #25019 "resource.Quantity allocates too many objects in conversion and decoding"
Calling the .Round() operation to maintain compat with millisecond values is ~90% of the optimized node conversion/decode path in terms of allocations, and the more resources we have, the more expensive it gets.  In addition, quantities are rarely compared, but we do the decode of the value eagerly, which is expensive.  Quantity needs to get much more efficient.

Some areas to investigate:

1. Can

[2016-05-01 03:49] rboorgapally opened #25020 "DNS yaml.in templates assume salt, not sed friendly."
I get the following error when I try to deploy addons to my kubernetes cluster.
[code]

I am running a 5 node kubernetes cluster on Azure with Ubuntu 14.04.
The cluster itself is up and running.
I tried to debug this issue and the issue seems to be because of skydns-rc.yaml not being in the right format. When I look at deployAddons.sh, this yaml file is generated from a yaml.in file.
I did a diff

[2016-05-01 03:58] thockin commented on #25020
And what is at line 21?

On Sat, Apr 30, 2016 at 8:49 PM, Raghav Boorgapally <
notifications@github.com> wrote:

[2016-05-01 04:04] thockin commented on #24891
I don't know how to parse this.  I can't tell exactly what you're
arguing for (or against).

On Sat, Apr 30, 2016 at 5:31 PM, Clayton Coleman
<notifications@github.com> wrote:

It's not even about what is "safe" in my mind, it's whether things make sense.

core Kube as in "upstream" ?  That's all I am talking about.  And
anyway it's a little late for this discussion wrt v1, but if/when we
do v2 I

[2016-05-01 04:05] rboorgapally commented on #25020
[code]

[2016-05-01 04:08] thockin commented on #25020
The `{% if`atuff needs to be removed.  What instructions are you following
- this file has evidently changed and some doc or script is not handling it.

On Sat, Apr 30, 2016 at 9:05 PM, Raghav Boorgapally <
notifications@github.com> wrote:

[2016-05-01 04:24] rboorgapally commented on #25020
Following instructions provided at http://kubernetes.io/docs/getting-started-guides/ubuntu/

Looks like a code bug to me.

[2016-05-01 04:27] rboorgapally commented on #25020
I think the kubernetes/cluster/Ubuntu/deployAddons.sh needs to be updated to remove that block of if condition.

[2016-05-01 05:15] thockin commented on #25020
Yeah, HEAD is broken for this right now.  I have pinged the PR that broke
it for a fix.  Sorry.  Can you use the release-1.2 branch instead?

On Sat, Apr 30, 2016 at 9:28 PM, Raghav Boorgapally <
notifications@github.com> wrote:

[2016-05-01 05:15] rboorgapally commented on #25020
The commit fa9d79df75d0a5326fb6ca72308ebbaf5bde603e broke the DNS setup on platforms other than what the author of that commit addressed in his change. I think his idea was to support vcloud but it will broken for lot of other platforms.

Also, there should be a better way of adding platform specific logic. It might make sense to add that logic in the scripts or folders related to that platform.

[2016-05-01 09:43] miracle2k commented on #17950
FWIW I have the same error and also on 5.1, forcing the minimum version to that. It might be a versioning issue.

[2016-05-01 13:38] luxas commented on #24349
Can we close this then?
`kubectl` is built for all arches on every `make release`, and `hyperkube` supports everything the `kubectl` container can do.

Also, I think the `kubectl` image is made for testing/examples instead of something that have to be embedded in every release.

[2016-05-01 16:35] xhe opened #25023 ""Running Kubernetes Locally via Docker" Guide is not working at all for MacOS, ssh command just hanging"
I am following this Guide to start using Kubernetes on MacOS. Is this guide valid?

1. When I am doing this step:
[code]
They command is hanging, no repsponse at all;

2. Looking at docker ps -l, I have
`CONTAINER ID        IMAGE                                             COMMAND                  CREATED             STATUS              PORTS               NAMES
b1e95e26f46d        gcr.io/google_c

[2016-05-01 16:40] bgrant0607 commented on #16089
Using this issue as a broader umbrella issue.

In general, kubectl --help could use a lot of improvement.

* Out of date: RC help still refers to a v1beta1 field, which was removed almost a year ago.
* Best practices: Most help shows json rather than yaml.
* Consistency: The commands shown are inconsistent across commands.
* Relevant: Help doesn't necessarily reflect the most common scenarios.
* N

[2016-05-01 18:17] luxas commented on #25023
@vishh

[2016-05-01 19:04] chengyli opened #25025 "why securityContext is not in ServiceAccount?"
In Service Account design document, the securityContext is included in ServiceAccount struct,
But I saw that ServiceAccount struct doesn't include securityContext in the lastest code, is there any background for this change?

Without the namespace level securityContext, if I want to forbidden all pods in cluster to run as root user by default, how to handle then?

https://github.com/kubernetes/kub

[2016-05-01 19:35] davidopp commented on #17857
Actually, what we need is a doc about extensibility in general -- all the places where you can insert custom logic and/or replace the default logic. We could have one doc with an overview, that points to separate docs about each of the extensibility points.
- scheduler
- write your own controller
- ThirdPartyResource
- API server delegation
- admission controllers
- MetadataPolicy (when it exists)

[2016-05-01 20:11] luxas commented on #24922
@spxtr is already having a PR for it: #24266 :)

[2016-05-01 20:12] luxas commented on #24716
Fixed on HEAD

[2016-05-01 20:12] #24716 closed

[2016-05-01 20:26] vishh commented on #25023
@xhe
[code]
This command will start a ssh tunnel. This command will itself not generate any output. You should be able to use `kubectl` while this command is running.

You can also run this command in the background by adding `-f` option to `docker-machine ssh`. If you do that, you will have to manually identify the "ssh" tunnel process and kill it once you are done. More helpful info on ssh tunne

[2016-05-01 21:36] smarterclayton commented on #25019
@kubernetes/sig-scalability @kubernetes/sig-api-machinery

[2016-05-01 21:56] AlainRoy commented on #25020
Would the following pull request solve the problem?
https://github.com/kubernetes/kubernetes/pull/24883

[2016-05-01 23:44] bprashanth opened #25031 "Presubmit for sed -> jinja translators"
So we avoid situations like: https://github.com/kubernetes/kubernetes/pull/24124/commits/fa9d79df75d0a5326fb6ca72308ebbaf5bde603e#r61679635

Obviously this is not needed if we just get rid of the sed, salt, jinja, etc.
I don't know which team this belongs to, the team that cares about the sed stuff? If someones adding more jinja, it shouldn't break our non-jinja setup scripts.

[2016-05-02 00:21] hongchaodeng commented on #25019
The problem described here sounds very similar to what we have tackled in https://github.com/kubernetes/kubernetes/pull/18170.
We could extend that to more use cases.

[2016-05-02 01:02] smarterclayton commented on #25019
Yeah, round() is the big culprit, but String() and parse from string are also significant.  We'd need all three of those to make a dent - quantity protobuf representation should really be a string, but we'd need a path forward here to make it worthwhile.

[2016-05-02 01:35] idvoretskyi commented on #24984
@kfox1111 what kind of OpenStack/Kubernetes deployment are you speaking about?

Please, provide us with the more detailed use case.

[2016-05-02 02:04] metral commented on #24606
I'm hitting this issue when my [PR](https://github.com/kubernetes/kubernetes/pull/23673) is getting checked against the `Jenkins unit/integration` test: https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/23673/kubernetes-pull-test-unit-integration/23639/build-log.txt

[2016-05-02 03:28] stuartbassett commented on #19077
https://github.com/kubernetes/kubernetes/pull/25032

[2016-05-02 03:54] xhe commented on #25023
Thank you!
Now for this guide:
http://kubernetes.io/docs/user-guide/quick-start/
After I run:

kubectl run my-nginx --image=nginx --replicas=2 --port=80 --expose
--service-overrides='{ "spec": { "type": "LoadBalancer" } }'

I run:  kubectl get po

I do see:

my-nginx-3800858182-52as6   1/1       Running   0          6m

my-nginx-3800858182-mddua   1/1       Running   0          6m

And:

kubectl g

[2016-05-02 05:41] yujuhong commented on #24784
It's better for the tests to use a fake clock instead.

The unit tests use mocked out components (e.g., container runtime). In a real cluster, the operations will take much longer and it's very unlikely that the same error would happen. That said, we can fix the code to allow equality to ensure this wouldn't happen.

[2016-05-02 06:53] ixdy commented on #24140
@timothysc did you ever open a PR to update Ginkgo?

[2016-05-02 07:12] ixdy commented on #25017
At least on `jenkins-builder-3`, there are a lot of `ws-cleanup` directories in `/var/lib/jenkins` dating back to April 15, all of which were eating up most of the disk. Jenkins is not supposed to schedule jobs on machines with no disk, but it was reporting free space of "n/a" on `jenkins-builder-3`, so I guess it figured ¯\\\_(ツ)\_/¯ and decided to schedule things there anyway.

That VM should be

[2016-05-02 07:49] wernight commented on #24925
What's the difference between 1/10th of single core and noting is `10%`? The fact that it depends on the number of cores and doesn't care about frequency is pretty odd but that's not the main point. I was really asking about different valid ways to say 1/10th of single core, mostly because I find `100m` so misleading.

[2016-05-02 07:59] AdoHe commented on #24606
@rthellend since `observedGeneration < generation`, it seems that the deployment controller has not observed the deployment. It's hard to say what happened to deployment controller without more info. Besides I tried to reproduce this on HEAD, but failed. could you reproduce this one?

[2016-05-02 08:36] fmovlex commented on #24903
What do you mean "local" image? does it exist on every node's docker engine?

Having the image locally on one machine (on the master, for example) is meaningless, each node's docker instance tries to pull the image you asked for, doesn't find it locally, and goes to dockerhub by default.

[2016-05-02 08:41] kargakis commented on #24931
The panic is bad but I would expect the command to return to me valid outputs I could use and error out. @AdoHe we should also make sure the nil dereference in the resource printer gets handled. Your PR justs masks it.

[2016-05-02 08:49] davidopp commented on #18450
Hi @djsly. Thanks for the clarification. Now I understand -- you want to "roll" one node at a time rather than one replica at a time, and you want to ensure that no updated replica starts on the node until all of the old replicas on the node have been killed.

There's no automated way to do what you're asking. But here's an approach that might be good enough.

Let's say rc1 is the ReplicationContr

[2016-05-02 09:53] evmin commented on #17676
I'd be keen on getting this feature - there is a requirement for us not to have anything in the open, yet JIT deployment would cut the number of the images tenfold (custom batch processing).

Basic auth in the form "https://username:password@bitbucket.com" does not work with kubernetes (Erro 128). And I would prefer read only deployment key anyway.

In short: +1 here

[2016-05-02 10:31] kargakis opened #25037 "integration flake: resourcequotas "quota" not found"
Not sure about the update conflicts happening earlier:
[code]
After a while quota has gone missing
[code]
Resulting(?) to the integration tests failing

[2016-05-02 10:55] kargakis commented on #24619
Still there: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25034/kubernetes-pull-build-test-e2e-gce/37862/

[2016-05-02 11:30] rshriram commented on #24903
This is running on a single node installation (vagrant box). I followed the
tutorials to setup kubernetes on vagrant using docker (as outlined in the
docs).
I am consistently getting the error that the image is not found, when I use
a local image (one that isn't pushed to dockerhub or GCE). It seems to
automatically append a prefix "library/" and starts looking for images from
gcr.io (?) at librar

[2016-05-02 12:07] kargakis opened #25039 "Deprecate kubectl expose --container-port"
In favor of the already existing --target-port

[2016-05-02 12:54] adidenko commented on #23385
Same on Ubuntu-14.04:

I0502 12:42:29.202324   14562 proxier.go:205] missing br-netfilter module or unset br-nf-call-iptables; proxy may not work as intended

# ll /proc/sys/net/bridge/
total 0
dr-xr-xr-x 1 root root 0 Apr 26 11:03 .
dr-xr-xr-x 1 root root 0 Apr 26 11:03 ..
-rw-r--r-- 1 root root 0 May  2 12:41 bridge-nf-call-arptables
-rw-r--r-- 1 root root 0 May  2 12:41 bridge-nf-call-ip6tables

[2016-05-02 12:56] timothysc commented on #24140
whoops, I'll do that today.

[2016-05-02 13:16] zhouhaibing089 commented on #25025
/cc @liggitt

[2016-05-02 13:24] liggitt commented on #25025
security context policy was never part of the service account implementation, that design should be updated. The `PodSecurityPolicy` object (https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/security-context-constraints.md) is intended to allow control over pod security context. Granting API users or service accounts permission to use a particular PodSecurityPolicy is being track

[2016-05-02 13:35] pweil- commented on #25025
Right, this definitely needs to be updated if it still shows the SC as part of an SA.

@chengyli the ability to control settings is the SC is part of the PSP work that was mentioned.  The initial implementation is in the works (https://github.com/kubernetes/kubernetes/pull/24600).  The idea behind it is that an admin can define cluster level policies that can provide defaulting and validation for

[2016-05-02 13:45] jimmyjones2 commented on #25016
Fixed in #24218

[2016-05-02 13:54] timothysc commented on #24976
hack/verify is the last line of defense for manual processes.  If you do it as part of the build itself then you don't need hack/verify.  If you do it once in a while via human intervention then you should have a hack/verify script.

[2016-05-02 13:57] ye commented on #24931
Btw, I didn't make up the empty string on purpose. It was documented in the `kubectl config view -h` output and it was seen as the default setting of `--output`. So perhaps someone should also fix the help text so newbies like me don't cause crashes as easily? Thanks.

[code]

[2016-05-02 15:07] jayunit100 commented on #24976
Yup, agree

[2016-05-02 15:44] bacongobbler commented on #12463
hey @thockin, was there a particular reason this issue was closed? If there's help needed to be done for increasing the service name length limitation, I'd be more than happy to make a PR to research and figure out a way to bump that limit!

We're creating applications with services attached to each replication controller, but the application name can only be limited to 24 characters so they're di

[2016-05-02 15:44] JorritSalverda opened #25040 "downtime during deployment"
When running a deployment I get downtime. Requests failing after a variable amount of time (20-40 seconds).

The readiness check for the entry container fails when the preStop sends SIGUSR1, waits for 31 seconds, then sends SIGTERM. In that timeframe the pod should be removed from the service as the readiness check is set to fail after 2 failed attempts with 5 second intervals.

How can I see the

[2016-05-02 15:47] bacongobbler commented on #12463
Challenge accepted. :)

[2016-05-02 15:54] rthellend commented on #24606
I haven't tried to reproduce it, and I haven't seen it happen since I filed the issue.

[2016-05-02 15:54] thockin commented on #23385
`ls -l /sys/module/br_netfilter` - maybe it is built-in and therefore not
listed as a module?  This could perhaps just test for the sysctl and
recommend loading the module.

@freehan for convergence with CNI stuff...

Anyone have time to pitch in here, should be an easy change...

On Mon, May 2, 2016 at 5:55 AM, Alex Didenko <notifications@github.com>
wrote:

[2016-05-02 16:31] bprashanth commented on #25017
They're passing now, thanks

[2016-05-02 16:46] spxtr commented on #24538
The easiest solution here is to not delete the `.git` folder before each build starts. Do your tests leave around artifacts? Would it be fine to just turn off workspace cleanup for that job?

[2016-05-02 16:47] thockin commented on #25020
Let's turn this bug into the discussion of a solution.

Problem: The *.yaml.in  files in the DNS "addon" contain simple jinja/salt expressions.  Several scripts use `sed` to replace these with literals.  The fact that they exist is an attractive nuisance - it has drawn, and will continue to draw, more jinja/salt expressions, which make these files not useful for anything but jinja/salt.

Solutions

[2016-05-02 16:52] vishh commented on #1615
cc @kubernetes/sig-node

[2016-05-02 16:52] chengyli commented on #25025
@pweil- @liggitt Thanks for the clarification! I shall read PodSecurityPolicy releated doc and code.

[2016-05-02 16:53] #25025 closed

[2016-05-02 17:06] bgrant0607 commented on #1615
Pid 1 was discussed some in #23085.

https://github.com/Yelp/dumb-init
https://github.com/miekg/dinit
http://blog.dscpl.com.au/2015/12/issues-with-running-as-pid-1-in-docker.html?m=1

We need to ensure:
* Kubelet can get exit information (exit code, signal, OOM, etc.) from terminated containers/processes
* Kubelet can count container restarts
* postStart hooks can execute after every restart
* Sig

[2016-05-02 17:18] fabianofranz commented on #24931
I'd expect that we validate what's provided to `--output` and print the valid options if something unexpected was provided (including blank string).

But the way we print flags that expect strings (and defaults to empty) in help can lead to this kind of confusion and other issues (on Windows, for example).

A few ideas:

[code]

pflag could have a "select" type that takes a list of valid options (

[2016-05-02 17:24] ixdy commented on #24661
Neither of those builds happened at the same time as the cleanup job, so I don't think it's the cleanup race anymore. Not sure what is causing `docker` to exit with status 137.

[2016-05-02 17:59] swagiaal commented on #20262
@saad-ali if we are no longer persisting any state and polling the cloud providers for attachment information, is it now ok to expand this to include regular volumes and not just PV based volumes ?

[2016-05-02 17:59] rmuhic commented on #23796
I ran into this as well and think it's an issue with the centOS version.  Looks like it is based off an early 1.2 alpha commit (4c8e6f47ec23f390978e651232b375f5f9cde3c7): https://git.centos.org/blob/rpms!kubernetes/38ffc8b018faa981944ba2a20897f54512917e90/SPECS!kubernetes.spec#L35

[2016-05-02 18:03] kfox1111 commented on #24984
Ok, Say I deploy an OpenStack DevStack to do OpenStack development. I now have a Keystone running on a VM that I can test against. I then want to install Kubernetes on the same VM and point it at that development system with --experimental-keystone-url. There's no reason to create a properly secured SSL Keystone endpoint in this environment since it takes a lot of effort, and traffic won't ever le

[2016-05-02 18:15] wonderfly commented on #12689
Where was the fix? Was it ever cherry-picked to `release-1.1`?

[2016-05-02 18:15] devlina commented on #24812
I just deleted the existing secrets, and kubernetes created a new one automatically. Does that step regenerate master certs also?

[2016-05-02 18:18] saad-ali commented on #20262
The existing design already includes non-PV based volumes. See the "What about Pod Defined Volume Objects and Static Pods" section. The only difference was that PV volumes would persist to PV objects and now neither will since we'll poll the storage providers.

[2016-05-02 18:21] ncdc commented on #24819
@yujuhong what are the implications (if any) of removing that continue statement?

[2016-05-02 18:36] nikhiljindal commented on #24952
@mikedanese We also want to know the port to be able to curl it in the test.

[2016-05-02 18:41] zmerlynn commented on #24547
Blocking this issue on #19242.

[2016-05-02 18:45] mml commented on #25040
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-02 18:45] #25040 closed

[2016-05-02 18:47] vishh commented on #24925
Not normalizing across CPU types is an explicit choice as of now. In the future, we might support such normalizations.
The API requests number of core**s**, and so `10%` could also mean 10% of all the core**s** on the machine. Whereas, `100m` is explicit, where you are asking for 100 [milli](https://en.wikipedia.org/wiki/Milli-)cores.

[2016-05-02 18:48] yujuhong commented on #24819
Once you remove the `continue` statement, if a normal inspection fails due to some transient error, PLEG will send out the event and it won't retry in the next relist.
For example, if you create a container and it becomes running. PLEG sees this new container in the listing and tries to inspect it, but fails. It will then update the cache with the inspection error, and sends out the `ContainerStar

[2016-05-02 18:49] luxas commented on #24922
#24266 was merged. Closing as solved

[2016-05-02 18:49] #24922 closed

[2016-05-02 18:52] ncdc commented on #24819
So we need to add a new `podsToReinspect []*kubecontainer.Pod` to `GenericPLEG` and process that each time through `relist`, or something to that effect?

[2016-05-02 18:52] mml commented on #25037
I'm unsure where exactly the bug/flakiness lies here, so assigning to @lavalamp for triage.

[2016-05-02 18:52] lavalamp commented on #24967
What go version are you using?

[2016-05-02 18:53] yujuhong commented on #24819
Yes, in addition to detecting container changes via `docker ps -a`, PLEG will also inspect these pods.

[2016-05-02 18:53] ncdc commented on #24819
Ok, I can do that 😄

[2016-05-02 18:53] thockin commented on #24812
No, it does not regen master certs

On Mon, May 2, 2016 at 11:16 AM, devlina <notifications@github.com> wrote:

[2016-05-02 18:54] vishh commented on #25023
cc @pwittrock

This is a problem with our documentation. Services are not accessible directly while running on OSX. You need to ssh into docker-machine VM to access the service, or add `--type=NodePort` to `kubectl expose ...` and use the `NodeIP:Port` for the service.

[2016-05-02 18:59] mml commented on #25031
By presubmit I think we just mean a test.  @thockin since you commented on the original PR, can you say what the correct team label is?

[2016-05-02 19:02] bprashanth commented on #25031
like one of those verify-foo-bar.sh/py things that keeps failing when I try to upload a badly vetted go file

[2016-05-02 19:10] #25016 closed

[2016-05-02 19:13] vishh commented on #19077
@smarterclayton

for schedule and pull, which is a common state people get into.

The output of `kubectl describe pod` today includes events that provide the information you seek. Here is an example:

[code]

We can possibly add more events that include the progress, if an image pull were to take longer than expected.

@stuartbassett

I don't see why #25032 is needed yet.

[2016-05-02 19:13] mml commented on #25009
Assigning to @janetkuo since she's doing the review.

[2016-05-02 19:15] smarterclayton commented on #19077
Events aren't that useful to uis, because you have to read and parse
the event stream and correlate.  It would be much better to have a
container condition indicating that in the pod status.

[2016-05-02 19:15] mml commented on #25002
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-02 19:15] #25002 closed

[2016-05-02 19:16] mml commented on #24986
Please try running with -v and/or try running u-g-protobuf directly and post the output.

[2016-05-02 19:19] nikhiljindal commented on #24986
cc @smarterclayton

[2016-05-02 19:20] aveshagarwal commented on #24986
#./hack/update-all.sh -v
Running in short-circuit mode; run with -a to force all scripts to run.
Updating generated-protobuf
+++ [0502 15:19:27] Verifying Prerequisites....
+++ [0502 15:19:27] Building Docker image kube-build:build-cfba5e2a29.
+++ [0502 15:19:27] Running build command....
/bin/bash: hack/after-build/update-generated-protobuf.sh: Permission denied
!!! Error in ./hack/../hack/../bui

[2016-05-02 19:21] aveshagarwal commented on #24986
[code]

[2016-05-02 19:21] jchauncey commented on #24812
I am seeing something very similar trying to access the `/metrics` endpoints. With a valid service token and a fresh GKE cluster I get the following error:

[code]

[2016-05-02 19:21] aveshagarwal commented on #24986
permission denied? let me check why it says that

[2016-05-02 19:25] mml commented on #24982
@erictune

[2016-05-02 19:39] mml commented on #24974
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-02 19:39] #24974 closed

[2016-05-02 19:48] timbunce commented on #13585
Thanks @ncdc. Looking forward to it.

[2016-05-02 19:57] kargakis commented on #24931
Agreed with @fabianofranz that the current way of showing flags in the help is not optimal.

cc: @kubernetes/kubectl

[2016-05-02 20:01] kfox1111 commented on #24982
The user should be notified to get a new one in this case I believe. 401 token expired.
The client can either prompt the user to go fetch a new token with the keystone token-get command, or if it see's the OS_PASSWORD var set, just refresh it itself with keystone token-get.
I think Horizon might be used to talk to the api too, and Horizon has its own ways of keeping the token up to date.

I did lo

[2016-05-02 20:16] #24635 closed

[2016-05-02 20:21] zmerlynn commented on #24295
This is showing up very frequently on 1000 node clusters. Or at least, a symptom like it, in that `kube-proxy` isn't coming up:

[code]

It's enough that this needs to be considered a priority for scalability work.

[2016-05-02 20:22] lavalamp commented on #17857
I have a slides presentation on this that I should share. There's like 3x more things than in the above list.

[2016-05-02 20:23] lavalamp commented on #17857
This should go in its own doc though. The scheduler doc could link to it. Scheduler extensibility is a small part of our extensibility story.

[2016-05-02 20:31] MikeSpreitzer commented on #25020
I don't favor requiring jinja when simple `sed` will work.  I like doing (4) when possible otherwise (3).

Yes, I have this problem now.

[2016-05-02 20:33] pwittrock opened #25047 "Integration test failure: deployment/etcd"
[test artifacts](https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/24804/kubernetes-pull-test-unit-integration/23757/)

FAIL	k8s.io/kubernetes/pkg/registry/deployment/etcd	15.668s

[2016-05-02 20:35] vishh commented on #19077
@smarterclayton

for schedule and pull, which is a common state people get into.

[2016-05-02 20:39] vishh commented on #19077
Wouldn't UIs include events as well, at-least the critical ones?

[2016-05-02 20:41] swagiaal commented on #20262
Great!.. I think I misunderstood when I last read this

[2016-05-02 20:49] vishh commented on #24677
Parsing the log format of docker daemon is a general problem. For the longer term, we should work towards having containers log to disks directly, thereby not clobbering log lines.
Until that is possible, I'd prefer solving the parsing issue in fluentd or splunk.
Given that both docker and kubernetes are starting to get used extensively, it probably makes sense to have plugins that can interpret d

[2016-05-02 20:54] therc commented on #24978
I think `aws-load-balancer-layer` might be more descriptive than a vague 'mode'. But we need to support four values, since users might ask for communication between the ELB and the backend to be encrypted, too. So perhaps we could use `aws-load-balancer-backend-protocol` with values `https`, `http`, `ssl` and `tcp`. EC2 also lets you specify a public SSL key to authenticate backends, but that woul

[2016-05-02 21:00] lavalamp commented on #25037
@kargakis can you reproduce this? Or provide complete logs? This isn't enough to go off of.

[2016-05-02 21:02] mml commented on #24972
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-02 21:02] #24972 closed

[2016-05-02 21:08] mml commented on #24960
@lavalamp Seems pretty closely related to #18762.  Just fold it in?

[2016-05-02 21:21] mml commented on #24757
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-05-02 21:21] #24757 closed

[2016-05-02 21:25] vishh opened #25049 "Move pods.go e2e to the node suite"
[pods.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/pods.go) tests pod level features. It can be moved to the node e2e.
If there are parts of the test that are testing the API server and not the kubelet, then those parts can be retained and the rest can be moved.

The move might be as trivial as,

[code]

cc @kubernetes/sig-node

[2016-05-02 21:26] vishh commented on #25049
@dubstack do you want to try posting a PR for this?

[2016-05-02 21:28] lavalamp commented on #24960
I think this is sufficiently different, assuming I understand it.

[2016-05-02 21:29] mml commented on #24738
What do you mean "cause an error"?  The predicate you link to is used in scheduling to avoid making certain scheduling decisions, but it doesn't cause an error.

[2016-05-02 21:31] MartinPyka opened #25050 "Allow nodes with no internet connection to become master nodes"
Hi,

I am trying to get a kubernetes cluster running in offline mode (no internet connection in production). I ran into the same issue as reported here:

https://github.com/kubernetes/kubernetes/issues/23976

Following the code links in issue 23976 I found the following comment in
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/net/interface.go#L200

Is this correct? Do I really need

[2016-05-02 21:33] mml commented on #24737
@kargakis some context would really help here.

[2016-05-02 21:35] mml commented on #24735
@bgrant0607

[2016-05-02 21:36] ixdy commented on #24661
Ugh, it looks like builds are not properly isolated from each other.

Both kubernetes-pull-test-unit-integration/23398 and kubernetes-pull-test-unit-integration/23399 started at about the same time on Friday morning.

From 23398's build log:
[code]

From 23399's build log:
[code]

Note how the docker build for each started within seconds of each other, and they both used the same image name.

[2016-05-02 21:40] dlsniper commented on #24735
I've opened this: https://github.com/kubernetes/kubernetes.github.io/pull/454 as a first step for this.

[2016-05-02 21:47] mml commented on #24728
- [rbd.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd.go#L88)
 - [flexvolume.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/flexvolume/flexvolume.go#L120)

[2016-05-02 21:52] ixdy commented on #24661
Aha, I've figured it out. While the two jobs have separate workspaces on the actual Jenkins VM, they're running inside Docker, so `$KUBE_ROOT` is the same for both jobs. As a result, the computed hash is the same in https://github.com/kubernetes/kubernetes/blob/master/hack/update-generated-protobuf.sh#L34.

[2016-05-02 21:56] mml commented on #24691
IANAL.

I draw everyone's attention to https://en.wikipedia.org/wiki/Wikipedia:Conflict_of_interest

Maybe the right thing to do is visit https://en.wikipedia.org/wiki/Talk:Kubernetes and use https://en.wikipedia.org/wiki/Template:Request_edit

[2016-05-02 21:57] mml commented on #24691
@kubernetes/docs

[2016-05-02 21:57] bgrant0607 commented on #14519
Automatic rollback is #23211

[2016-05-02 21:59] mml commented on #24687
@arenoir it looks like you got things working, but I believe we should still correct our docs, at least.

[2016-05-02 22:01] mml commented on #24685
I don't believe we have hooks for this.  In general it seems dangerous because a user might make edits based on obfuscated information.

What you want sounds like something that should be implemented in a standalone proxy to me.

[2016-05-02 22:01] mml commented on #24685
@lavalamp @bgrant0607

[2016-05-02 22:04] bgrant0607 commented on #22368
cc @krmayank

[2016-05-02 22:04] mml commented on #25050
To be a little more specific, it's not just that you're not connected to the open internet (which shouldn't be required), but that you have no gateway at all.  The entire universe of machines you want to talk to or manage is on the local network with you.

This strikes me as a reasonable arrangement to make work in a lab setting or from within VMs all living together in an unrouted virtual network

[2016-05-02 22:04] kfox1111 commented on #24982
Oh, and we can use the nocatalog flag to the validateToken call to speed it up a bit too, since we won't need the catalog.

[2016-05-02 22:06] mml commented on #23976
@thockin a fresh occurence on #25050

[2016-05-02 22:08] mml commented on #24518
@madhusudancs I can't tell from your PR.  Will it fix this?

[2016-05-02 22:10] mml commented on #24440
@yujuhong looks like you're working on this already.  Feel free to unassign if that's incorrect.

[2016-05-02 22:15] mml commented on #24170
I'm @mml and I endorse this disambiguation.

[2016-05-02 22:18] lavalamp commented on #24685
There's no provision for this. As @mml mentioned, if you implemented it literally as described, users would be unable to update their pods, since the system would see such an update as an attempt to clear those fields. This could be fixed by using patch and/or also editing the update paths. But you'd be talking about a fork at that point, it's not clear that this is a general need.

I also think y

[2016-05-02 22:18] #24685 closed

[2016-05-02 22:20] yujuhong commented on #24440
I uploaded a PR to remove rc and service tests based on https://github.com/kubernetes/kubernetes/issues/24440#issuecomment-212229355

I'll let each team decide whether they want to migrate or delete the [tests](https://github.com/kubernetes/kubernetes/blob/f0c33d65b6fea84d791059d96c93a15e4b3de4ec/cmd/integration/integration.go#L1022).

[2016-05-02 22:21] mml commented on #24103
@mikedanese

[2016-05-02 22:23] smarterclayton commented on #24960
Yeah, this is more mechanical "no one should be writing cross group
conversions of identical types, because either conversion tooling is
limited, or we should be using go aliases"

[2016-05-02 22:28] smarterclayton commented on #24661
That's fun

[2016-05-02 22:30] smarterclayton commented on #19077
They should, but in large list views that correlation and setup is
complicated.  Both kubectl get pods and a naive UI should be able to
easily show "pulling" because 95% of the time that's what is actually
happening, but when it isn't, that's really important (after 10s of
pending without seeing pulling, you could infer something else is
wrong).

[2016-05-02 22:31] smarterclayton commented on #24986
That was the sudo check, before, or access to docker.

[2016-05-02 22:43] bgrant0607 commented on #11505
By "similar to rollback", I meant that the autopause specification would be cleared when the Deployment was paused, similar to how the rollback spec is cleared when the pod template is rolled back. Autopause implies higher-level (and potentially manual/imperative) orchestration, anyway.

I'm also thinking that `paused` should be a list (or map) of reasons why the deployment is paused, similar to f

[2016-05-02 22:46] caesarxuchao opened #25055 "Propagating grace period in a cascading deletion"
An example of "Propagating grace period" is in a cascading deletion of a Replica Set and its Pods, if a user deletes the Replica Set with 30s grace period, the Pods should be deleted with the same grace period. See https://github.com/kubernetes/kubernetes/pull/23656#issuecomment-215612461.

In the proposal for cascading deletion (#23656), we note that we will not propagate the grace period when im

[2016-05-02 22:49] aveshagarwal commented on #24986
I was running it as root.

[2016-05-02 23:00] mml commented on #24986
Yeah, that is weird.  Do the permissions look right on `hack/after-build/update-generated-protobuf.sh`?

[2016-05-02 23:02] yujuhong commented on #24576
The code was written so that it'd work in the absence of the pod specs (which we don't always have).

I agree with you, but adding the dependency today without some form of checkpointing (e.g., container annotations) of the pod specs may be problematic now. We can revisit this after we store pod specs in the annotations. What do you think? :)

[2016-05-02 23:05] kargakis commented on #24737
`make` is used for most of the development flow: build, test, verify. The only thing that seems missing is hooking up the update-all script which updates a bunch of generated code, docs, etc.

https://github.com/kubernetes/kubernetes/blob/master/Makefile

[2016-05-02 23:07] mml commented on #24986
Also, to rule out docker, can you do something simple like build inside docker?  I.e.,

[code]

[2016-05-02 23:16] yifan-gu commented on #24672
From https://github.com/kubernetes/kubernetes/pull/24688#issuecomment-216392378

Updates:
@euank did some POC last week with the idea of run rkt with --net=host in a given network namespace created by kubelet. He is now working on making that change to rktnetes code to see if it works.

[2016-05-02 23:20] apatil opened #25056 "Pod scheduling grinds to a halt on v1.2.3"
I'm running Kubernetes v1.2.3 using the single-node instructions here: http://kubernetes.io/docs/getting-started-guides/docker/ with Docker v1.10. Everything worked as expected for several hours, but now pods are not being scheduled or removed.

I've attempted to update a deployment several times over the last hour. Here is `kubectl get pods` for that deployment:

[code]

The ContainerCreating pod

[2016-05-02 23:22] dcbw commented on #24672
@yifan-gu I'll have a PR up tonight for Kubernetes that implements the idea...

[2016-05-02 23:30] david-mcmahon commented on #23611
I'm getting a travis timeout on release-1.2 #24897.  Maybe time to disable travis everywhere at this point?

[2016-05-02 23:41] euank commented on #24672
@dcbw I've got a kube-managed netns sorta working, though it needs a little more work before it's PR-worthy. What I've got is the rkt code creating a network namespace. calling the existing `kubenet.SetUpPod` code, and then execing in that namespace. What I've got is [here](https://github.com/euank/kubernetes/commit/b5e3deaa887b778f87c74a61b136375d37bcbf38) (it didn't really take that much for it

[2016-05-02 23:41] timstclair commented on #24713
@Jackong Are you able to reproduce this at HEAD anymore?

[2016-05-02 23:45] nikhiljindal commented on #24996
I discussed this with @davidopp and summarizing our discussion here:

controller-manager:
* Common code: Setting up the binary: command line arguments (adding flags, parsing them, setting defaults, validating values). Mostly the code in `cmd/` directory.
* Different code: Which controllers to run, business logic in each controller.

We do want to refactor common code, but dont necessarily want to

[2016-05-02 23:57] yujuhong opened #25057 "kubelet should cache image history"
ref: https://github.com/kubernetes/kubernetes/pull/23595#issuecomment-216306932

kubelet list images and get image history from each container runtime periodically. We should cache the history for the images, and only query the runtime when necessary (new images).

[2016-05-02 23:57] mml commented on #25056
At a glance, looks like some bug in state transitions at the kubelet.

@kubernetes/sig-node @dchen1107

[2016-05-03 00:02] rboorgapally commented on #25020
I prefer 3 as it is deployment-tool neutral.

Even using jinja would be fine but it shouldn't contain conditionals that forces me to understand how other deployment tools are using it. But then, people add logic if the tooling will permit. So, it makes sense to restrict by design.

[2016-05-03 00:05] mml opened #25058 "kubernetes-soak-continuous-e2e-gke failing continuously"
[code]

E.g.,

 - https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/6700
 - https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke/6699

[2016-05-03 00:06] mml commented on #25058
@kubernetes/goog-gke

[2016-05-03 00:12] yujuhong commented on #25056
@apatil, is there any message in the kubelet log related to image pulling? Without further information, it seems like kubelet could be stuck at pulling the images. It'd be helpful to see if there are related information.

[2016-05-03 00:13] tonymeng commented on #12337
I'm going to reopen this as editing `/etc/hosts` in a Dockerfile is essentially a no-op

[code]

[2016-05-03 00:15] dchen1107 commented on #25056
@apatil Can you run docker ps -a to check if docker failed to create / run containers? Could you please upload related Kubelet log somewhere so that we can access.

@yujuhong Based on the initial description, it looks like the image is successfully pulled.

[2016-05-03 00:16] davidopp commented on #24996
Yeah, it sounds like we don't have time to figure out and implement exactly the "right" way to do the refactoring. But we need to do it right after 1.3 ships. We can't leave this duplicated code around.

[2016-05-03 00:17] yifan-gu commented on #24672
@dcbw Are you in the kubernetes slack channel btw? Can't really figure out your handle :(  It would be nice if we can slack you :wink:

[2016-05-03 00:28] thockin commented on #12337
/etc/hosts is a managed file - you can't just edit it Dockerfile.  I don't
really understand the issue, though.  The kube master should already be
available as a DNS name...

On Mon, May 2, 2016 at 5:14 PM, Tony Meng <notifications@github.com> wrote:

[2016-05-03 00:35] bgrant0607 commented on #24913
@liuyang430068 Just as the message says, these fields cannot be updated on pods. You could delete and re-create the pod, though probably you should be creating a controller, such as a Deployment instead, which does allow these fields to be updated and can roll out the change for you.
http://kubernetes.io/docs/user-guide/deployments/

[2016-05-03 00:35] #24913 closed

[2016-05-03 00:36] thockin commented on #24295
Update the docker bug?

[2016-05-03 00:38] rca opened #25060 "Cannot launch cluster per Running Kubernetes on AWS EC2 docs"
Once having the `aws` command setup, I'm trying to get a Kubernetes cluster up and running on AWS.  I'm trying this from an EC2 machine running Debian.

It gets stuck on `Waiting for cluster initialization.` indefinitely, but I don't see any errors.

Per another issue, I tried both in `us-west-1a` and `us-east-1a` as the other issue reported problems starting a cluster in us-east.

The command I'm

[2016-05-03 00:40] yujuhong commented on #25056
I was just making a wild guess because image pulling is usually where the pod workers get stuck and become unresponsive for a long time :)

From the description, the "cluster" was working for a few hours, but the pods were newly created.

[2016-05-03 00:43] tonymeng commented on #12337
I'm trying to add an entry in `/etc/hosts` that will send all traffic to an internal ip on another box in the same network (application level purposes). the other service is not managed by kubernetes nor docker. I've tried adding it using dnsmasq (but can't edit `resolv.conf`) nor `/etc/hosts` as they are both "managed files"

[2016-05-03 00:43] tonymeng commented on #12337
I'm trying to add an entry in `/etc/hosts` that will send all traffic to an internal ip on another box in the same network (application level purposes). the other service is not managed by kubernetes nor docker. I've tried adding it using dnsmasq (but can't edit `resolv.conf`) nor `/etc/hosts` as they are both "managed files"

[2016-05-03 00:44] tonymeng commented on #12337
I'm trying to add an entry in `/etc/hosts` that will send all traffic to an internal ip on another box in the same network (application level purposes). the other service is not managed by kubernetes nor docker. I've tried adding it using dnsmasq (but can't edit `resolv.conf`) nor `/etc/hosts` as they are both "managed files"

[2016-05-03 00:55] aronchick opened #25063 "Kubernetes Masters should alert if they have different certs"
When you setup TLS assets, you need to make sure each master API server is using the same ones, unless you were running a single master. But this is a super common mistake, and it often breaks things.

Because the masters validating tokens using that key, the controller-manager also has this service-account key, and it’s responsible for creating tokens for service accounts. So, depending on which

[2016-05-03 00:57] dcbw commented on #24672
@euank I think we've got mostly the same approach.  Mine is https://github.com/kubernetes/kubernetes/pull/25062.  Note that if we're using "/sbin/ip netns", there's no point in using nsenter since 'ip netns exec' does the same thing.

[2016-05-03 00:57] madhusudancs commented on #24518
@mml sorry about that. Yes, my PR (#24850) fixes this issue.

[2016-05-03 01:02] timstclair commented on #24698
Ah, I understand your question. If it restarts, it will reparse the kernel log. The event stream is independent of the event store - so each event will be sent to the watchers and also (independently) added to the event store.

[2016-05-03 01:18] dcbw commented on #24672
@yifan-gu not on slack yet, but I probably should be... will figure that out.

[2016-05-03 01:35] apatil commented on #25056
@dchen1107 and @yujuhong , `docker ps -a` does not show any attempted containers of the relevant image. Here are the logs of the kubelet. I `kubectl delete`d the existing pod in the deployment, which was in the `ContainerCreating` state; and a new pod was immediately scheduled. These logs cover those events.

[code]

[2016-05-03 02:04] aveshagarwal commented on #24986
`build/run.sh hack/build-go.sh` runs fine.

[2016-05-03 02:29] yifan-gu commented on #24672
Closing in favor of @25062

[2016-05-03 02:29] #24672 closed

[2016-05-03 02:29] bgrant0607 commented on #24735
@dlsniper The biggest problem with Ubuntu (on bare metal?) is that nobody supports it. As an open-source project, we rely on the community to support what they contribute, but it doesn't always happen.

The matrix of support levels is here:
http://kubernetes.io/docs/getting-started-guides/#table-of-solutions
https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/getting-started-guides

[2016-05-03 02:32] bgrant0607 commented on #24735
The feature-tracking proposal is somewhat related:
https://github.com/kubernetes/features/pull/1/files

We're also working on overhauling the docs:
https://docs.google.com/document/d/12Nfj2E8tZL-CMnnpkSH9m5k_oqd4qJh4qDwYDxPGJJI/edit?ts=5705b1fc#

[2016-05-03 02:36] xulis commented on #23385
Configuration option is not m, this is not a module.
`#cat /etc/redhat-release
CentOS Linux release 7.1.1503 (Core)
#uname -r
3.10.0-229.el7.x86_64
#grep CONFIG_BRIDGE_NETFILTER /boot/config-3.10.0-229.el7.x86_64
CONFIG_BRIDGE_NETFILTER=y
·

[2016-05-03 02:48] zhouhaibing089 commented on #24967
If I remember correctly, it could be reproduced when running with go1.5.3 and go1.6.1. To be more specific, the go test passes, and this issue only happened when enabled with `export KUBE_COVER=y`.

[2016-05-03 02:54] jberkus commented on #260
... so where are we with PetSet?

I'm building HA database solutions on top of Kubernetes.  Some, particularly single-master databases, require having services with endpoints which map to particular pods based on events from those pods.  For example:

1. service "postgres" maps round-robin to all pods in the ReplicaSet, but service "postgres-master" maps to only one pod.

2. the master pod dies.

[2016-05-03 03:21] mfanjie commented on #23848
@quinton-hoole here is my understanding on responsibilities of each related component, please correct me if I have any misunderstanding. I am coding based on these understandings and assumptions.

controller manager
  - init federation clientset
  - init dns provider by reading config file
  - start controllers including cluster controller and service controller

cluster controller
  - init client

[2016-05-03 04:10] quinton-hoole commented on #23848
Yes, that's about right.
On May 2, 2016 8:22 PM, "Jesse Meng" <notifications@github.com> wrote:

[2016-05-03 04:26] AdoHe commented on #24931
@kargakis I did agree that panic is bad, we should avoid this. The problem is if a user did use an empty output, how to handle this more properly. In PR #24955 you commented that we should not override user settings, it seems we should error out directly in this situation. Besides, nil dereference in the resource printer should be handled, will add this.

[2016-05-03 04:32] roberthbailey commented on #25058
@spxtr -- is this related to the refactoring that you've been doing?

[2016-05-03 04:32] edsiper commented on #24677
@vishh I am not sure how Docker containers are launched but I think Kubernetes may add it metadata when starting it, e.g:

https://docs.docker.com/engine/admin/logging/overview/

If we always use the JSON file format, custom fields can be added as attributes, e.g:

[code]

generates:

[code]

then Fluentd can tail the JSON files in the old fashion way.

[2016-05-03 04:33] #24952 closed

[2016-05-03 04:58] cjcullen commented on #23389
Another one: https://github.com/kubernetes/kubernetes/pull/24304#issuecomment-216414081

[2016-05-03 05:06] chancez commented on #24260
I took some of @jimmidyson's existing dashboards and tidied them up a bit, to fix issues like orphaned grafana panels for pods long-gone, etc. I'd be glad to help get some of those initial dashboards working. I also worked through getting things working with grafana (v3.0.0-beta7 atm) with Prometheus 0.18.0.

Let me know if you guys want some of that, and I can get that stuff exported.

[2016-05-03 05:10] krmayankk commented on #22368
@bgrant0607 thanks appreciate it.

[2016-05-03 05:33] mkumatag opened #25066 "Keystone auth fails for v3"
Recently I've been trying to get keystone working with kubernetes and found a issue when I mentioned v3 of keystone for the apiserver:

[code]

With the help of additional logging into keystone.go file found following error

[code]

for keystone v3 auth for rackspace/gophercloud package we need to supply DomainID or DomainName in opts structure variable to openstack.AuthenticatedClient call.

IMO

[2016-05-03 06:02] mkumatag commented on #25066
@uruddarraju

[2016-05-03 06:04] mkumatag commented on #25066
@liggitt

[2016-05-03 06:26] davidopp opened #25067 "Easy deployment for workflow (and possibly other API objects in the future)"
There are a lot of workflow systems out there, which suggests that different people have different requirements and there is no perfect solution. As a result, there is reluctance to make [workflow](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/workflow.md) be a "core" API in Kubernetes. On the other hand, workflow (or at least simple job pipelines) is a very important feature

[2016-05-03 07:18] wernight commented on #24925
So on a dual core: `10%` = `0.1` = 10% of 2 cores = `200m`? And all those string are valid in Kubernetes?

[2016-05-03 07:26] thockin commented on #12337
And you don't have a real DNS server for it?  Can you add it as a Service
with `clusterIP: None` and and empty `selector` and a manually added
`Endpoints` object?  This is an "external service".

On Mon, May 2, 2016 at 5:44 PM, Tony Meng <notifications@github.com> wrote:

[2016-05-03 08:45] AdoHe commented on #24658
@0x777 I test this on HEAD, it seems work:
`route-resource.yaml`
[code]
`postgres-route.json`
[code]
The result:
[code]
Please pay attention to your yaml file format, also you may need to wait a second you create the new resource object.

[2016-05-03 09:00] #24661 closed

[2016-05-03 09:07] 0x777 commented on #24658
With `v1.2.3`, it does not work. If it works with the HEAD, can the changes be backported to v1.2?
[code]

However, this works.
[code]

[2016-05-03 09:39] peanutgyz opened #25070 "hyperkube apiserver exited (255)"
when start kubernetes cluster using docker, http://kubernetes.io/docs/getting-started-guides/docker/

[code]
apiserver always failed. with code 255.

logs
[code]

[2016-05-03 09:41] kargakis commented on #25037
@lavalamp you can find logs in the linked issues. Sorry for not providing them here.

See https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25036/kubernetes-pull-test-unit-integration/23713/?pli=1

[2016-05-03 10:09] webwurst commented on #24295
I get this error message always when i try starting `kube-proxy` on docker-in-docker although `--privileged` is used. As a workaround using `--conntrack-max=0` with `kube-proxy` helps.

[2016-05-03 10:18] peanutgyz commented on #25070
in document, there is nothing about start etcd server.

[2016-05-03 10:19] kargakis commented on #6376
@krousey @reiz is this still an issue?

[2016-05-03 10:44] kargakis commented on #9979
stop is deprecated. Is there an issue with delete?

[2016-05-03 11:08] zhouhaibing089 commented on #24784
@yujuhong thanks! we really really hope that tests could be running stable on VM.. if allow equality is reasonable, I will submit a fix for this.

[2016-05-03 11:19] zhouhaibing089 commented on #24971
@smarterclayton Thanks for clarification, so it looks like we need to give some time break between doing `evictor.Add("")`, I'll see whether that helps.

[2016-05-03 11:56] AdoHe commented on #24441
I think watch on third party resource will fail. I just came across this issue #24963 a few days ago.

[2016-05-03 12:30] cheld commented on #24714
hmm.. I can not fully reproduce this:

1. Create local cluster (http://kubernetes.io/docs/getting-started-guides/docker/)

2. Create kube-system namespace (kubectl create -f https://raw.githubusercontent.com/kubernetes/kubernetes/master/docs/getting-started-guides/docker-multinode/kube-system.yaml
)

3. Create dashboard as in readme (kubectl create -f https://rawgit.com/kubernetes/dashboard/master

[2016-05-03 13:55] sstarcher commented on #17620
[code]

[2016-05-03 13:56] rca opened #25075 "Spinning up AWS requires curl"
I tried running the command in the "Running Kubernetes on AWS EC2" docs with the `wget` version of the command since `curl` was not installed:

[code]

The `aws` flavor, however does require `curl` to be installed, for example `wait-master` in `util.sh`: https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/aws/util.sh#L1267

Is a test for `curl` valid for adding into the `verify-prere

[2016-05-03 14:14] ncdc commented on #260
@jberkus the initial alpha code to enable PetSets has either been merged or is pending merge. @ingvagabund from my team is going to start putting together examples that make use of PetSet to see what works well and what still needs improvement. I'd recommend you reach out to him if you've got some specific use cases you want to put together and test out.

[2016-05-03 14:19] rca commented on #25060
Tried again with fresh eyes, still unsuccessful cluster creation.  I read a bit more and found it's possible to store cluster environment variables in `cluster/env.sh`; mine looks like this:

[code]

Having that file in place, within the `kubernetes` directory I ran `./cluster/kube-up.sh`; full output is at the bottom.

With the unstarted cluster running I logged into the master and found the foll

[2016-05-03 14:30] rca commented on #25060
I decided to run node-user-data manually on the system with the command `sudo gunzip /tmp/kubernetes.fwe5LD/node-user-data.gz && bash -x /tmp/kubernetes.fwe5LD/node-user-data`.  That ran successfully to completion, but then `docker.service` would not start.

Checking `journalctl -xe -u docker.service` I found this error:

[code]

Reboot did not fix it either.

[2016-05-03 14:55] derekwaynecarr commented on #25037
@lavalamp - I can take a look.  This is a new test that went in from @deads2k so maybe timings are off.

[2016-05-03 15:19] derekwaynecarr commented on #25037
[code]

Seen while scaling up the number of pods in an rc under quota when this test flaked.

Still investigating logs.

[2016-05-03 15:25] thenayr commented on #23478
* Support private networks without allocating public IP's to master (minions already have the `KUBE_ENABLE_NODE_PUBLIC_IP` option)
* Support existing security groups for master / minion
* +1 for better AWS documentation, lots of the options are hidden in config-default

[2016-05-03 15:33] thenayr commented on #25060
What's the output of `aws --version` on the debian EC2 machine?

I've brought up a number of different clusters over the past couple of days in us-west and us-east with no issue.

[2016-05-03 15:36] rca commented on #25060
@thenayr:

[code]

[2016-05-03 15:41] rakesh-k opened #25079 "kube-addons installation is not proper"
Used the contrib ansible script to build and deploy kubernetes cluster. Most of the stuff seem to be working fine but for some reason the addons deployment does not seem right. I really appreciate any help to resolve this:

---

Any help to resolve this is highly appreciated:

[code]

The /var/log/messages file is getting filled with these messages:

[code]

[2016-05-03 15:56] kfox1111 commented on #25066
@mkumatag I've been trying the same thing, but realized that there's a bunch of options that are needed, and keystone supports authentication mechanisms other then just username/password. K2K Federation, Kerberos, Horizon, etc. So rather then add all those things to the Kubernetes client/server, I think we need to switch things around to just pass/use tokens in kubernetes and use the regular keyst

[2016-05-03 15:59] kfox1111 commented on #22695
I ran into this same issue with trying to deploy kubernetes with devstack in the same vm and wanted to test integration and do some development. I think there are a significant number of developers in this same boat. http is secure enough since it doesn't leave the developers vm and it isn't intended for production.

The use case is the same as:
https://github.com/kubernetes/kubernetes/issues/2498

[2016-05-03 16:01] liggitt commented on #22695
I'd vastly prefer allowing specifying the CA for the keystone server over allowing http auth calls carrying usernames and passwords

[2016-05-03 16:03] jlowdermilk opened #25082 "e2e flake: kube system pods never schedule on new cluster"
Couldn't find similar issue, please dedup if there is one.

Cluster came up successfully, but all 175 tests failed, because kube-system pods never scheduled:

[code]

IIRC, the e2e runner used to wait for kube-system pods before running tests, and bail if they were not all running within a timeout. @spxtr did we change that?

Logs at https://console.developers.google.com/storage/browser/kubernetes

[2016-05-03 16:04] thenayr commented on #25060
You may want to try updating the aws cli

`aws-cli/1.9.17 Python/2.7.10 Darwin/15.4.0 botocore/1.3.17`

[2016-05-03 16:06] dubstack commented on #25049
Yes I will take a stab at this.

[2016-05-03 16:10] kfox1111 commented on #22695
I don't disagree. :)

But, I also think Kubernetes shouldn't handle the usernames/passwords at all. In http mode, sending a token is much less risky then a username/password since they expire relatively quickly.

See this issue for details:
https://github.com/kubernetes/kubernetes/issues/24982

[2016-05-03 16:24] liggitt commented on #22695
I agree tokens would be preferable, but I wouldn't expect credentials of any kind sent over http to remote servers

[2016-05-03 16:31] bgrant0607 commented on #24453
Dupe of #24704

[2016-05-03 16:31] #24453 closed

[2016-05-03 16:32] bgrant0607 commented on #24704
@jayunit100 Yes, a PR would be appreciated.

[2016-05-03 16:34] therc commented on #23484
#23495 is close to the finishing line. We'll need another PR to allow a mix of HTTP and HTTPS ports, implementing #24978's `aws-load-balancer-ssl-ports=LIST`. With that, we should have enough to cover most v0.x cases and can focus on the v1 Ingress.

[2016-05-03 16:38] kfox1111 commented on #22695
Agreed. No one in their right mind should be passing creds or bearer tokens over http over a network. I'm just interested in being able to easily deploy a k8s in DevStack with a simple plugin, where that k8s is hooked into the deployed keystone so that we can start developing things in OpenStack that depend on k8s. This gives developers a smooth/easy experience to then focus on doing the developme

[2016-05-03 16:40] janetkuo opened #25083 "e2e flake: `Kubectl client Kubectl describe should check if kubectl describe prints relevant information for rc and pods`"
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/16103

[code]

this is by far the most flaky test

@bgrant0607 @kubernetes/kubectl

[2016-05-03 16:49] brendandburns opened #25084 "Adding a third party extension, then removing, then re-adding fails"
Repro:
[code]

apiserver panics.

This is caused by an underlying bug in go-restful:  https://github.com/emicklei/go-restful/issues/289

[2016-05-03 16:50] janetkuo commented on #25083
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L615-L714

Two problems in this test:

1. we shouldn't rely on docker hub in our test
2. we shouldn't wait for a short amount of time and expect an async thing to happen (in this test, we waited for 1s and expect the redis pods are running)

cc @mwielgus can you take a look?