[2020-03-20 08:04] zhouya0 commented on #89267
Ok, but all of it? Should I remove them all?

[2020-03-20 08:05] tanjunchen commented on #89267
jsut for pkg/volume/util/operationexecutor , you can pick up others , thanks.

[2020-03-20 08:16] zhouya0 commented on #89267
Great, I changed it but seems not work.
I try to make it again
/uassign

[2020-03-20 08:17] Shuanglu commented on #85881
hi, the issue reproduced intermittently.

[2020-03-20 08:23] xinxinzhao1212 opened #89288 "use snapshot create a new cluster ,the former one exist also"
In a exist cluster , i can get a snapshot ,and this cluster is created by custom method, i add the node to rancher  by running command in the vmware , and now i want to use this cluster's snapshot to create a new cluster , the old one which supply snapshot exist also , if i can create new cluster by this method and if i can do it ,how should i do ? than you .

/sig Usability

[2020-03-20 08:24] afirth commented on #65973
/remove-lifecycle-stale

Paging @apelisse :1st_place_medal:

[2020-03-20 08:43] RainbowMango commented on #89267
Just a reminder.
There are several methods in [testutil.go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/metrics/testutil/testutil.go), If you are removing the reference from a test, please try using these methods refactor the test case first.

[2020-03-20 09:04] lujinda opened #89290 "CSI inline volumes should support fsGroup"
**What happened**:
If gid is configured in Pod's securityContext.fsGroup, csi inline will panic.

log:

E0320 16:50:59.353506   53570 nestedpendingoperations.go:270] Operation for "\"kubernetes.io/csi/af0fca4f-ae1b-4b5c-be91-cc1079862285-dynamic-inline\" (\"af0fca4f-ae1b-4b5c-be91-cc1079862285\")" failed. No retries permitted until 2020-03-20 16:51:31.353427479 +0800 CST m=+601646.388978014 (durat

[2020-03-20 09:05] lujinda commented on #89290
/sig sig/storage

[2020-03-20 09:06] lujinda commented on #89290
/sig storage

[2020-03-20 09:14] gaocegege commented on #69831
Is there any progress here? Still have the problem.

[2020-03-20 09:15] deshui123 commented on #74340
When I use IPv4 only and CCM, still hit this issue.

[2020-03-20 09:32] uablrek commented on #87426
Here is a tcpdump for a DNS query from a POD when the DNS-server POD is on the same node with L2 networking (cni-bridge) and masquerade-all=false. The DNS ClusterIP is 12.0.0.5;
[code]
And the corresponding conntrack entry in main netns on the same node;
[code]

[2020-03-20 09:44] eraclitux commented on #87426
Exactly @uablrek, as showed by my `tcpdump` the response packet arrives BUT its source addres is not DNATed back so the receiver discards it.

Can you elaborate this @thockin? It seems that assigning a `/32` to pods is how AWS vpc cni works (https://github.com/aws/amazon-vpc-cni-k8s/blob/master/docs/cni-proposal.md) and this solves the problem to me.
Thank you.

[2020-03-20 09:44] uablrek commented on #87426
The same with masquerade-all=true;
[code]
Corresponding conntrack entry in main netns on the same node;
[code]
Where `11.0.0.1` is the address of the `cbr0` bridge device on the node and `11.0.0.2` is the address of the coredns POD.

[2020-03-20 09:52] gavinfish opened #89292 "Reduce duplication between integration tests and e2e tests"
**What would you like to be added**:

From https://github.com/kubernetes/kubernetes/pull/89223#discussion_r395181563

Duplicate code between integration tests and e2e tests should be well organized.

**Why is this needed**:

Integration tests and e2e tests share some common code. For now, we just duplicate it to make sure they have no dependency from other other. It is better to find a way to redu

[2020-03-20 09:56] uablrek commented on #87426
@eraclitux You can't assign a /32 address in an L2 network. Packets will likely go out from the POD if you set a detault route to eth0 which in this case is a veth i.e point-to-point. But nothing will find it's way back. You must then set correctponding routes in main netns to the "other side" of the veth. What you then have done is transform the L2 network (using arp) to your own version of an L3

[2020-03-20 10:14] uablrek commented on #87263
Please note that a main feature of `cilium` is that it takes over the service load-balancing from `kube-proxy` using eBPF. This may make this issue a `cilium` problem. IMHO you should make a cross-post to cilium.

[2020-03-20 10:43] droslean opened #89293 "[Failing Test] post-release-push-image-kube-cross (post-release-push-image-kube-cross)"
**Which jobs are failing**:
`post-release-push-image-kube-cross (post-release-push-image-kube-cross)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-releng-informing#post-release-push-image-kube-cross

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/release-managers
/sig release
/priority important-soon
/milestone v1.19

[2020-03-20 10:44] renatoviana12 commented on #89082
Can I pick this up?

[2020-03-20 10:45] JoelSpeed commented on #89082
If you have the time, yes please!

[2020-03-20 10:47] renatoviana12 commented on #89082
Deleted the comment by accident, would love to tackle it :)

[2020-03-20 10:52] #88901 closed

[2020-03-20 11:12] Abhishek1121-tech opened #89294 "(Dual Stack Env) Kube Proxy in IPVS Mode not removing scale down pods entries from ipvsdm list for ipv6 address."
Kernel Version:             3.10.0-957.el7.x86_64
  OS Image:                   Red Hat Enterprise Linux Server 7.6 (Maipo)
  Operating System:           linux
  Architecture:               amd64
  Container Runtime Version:  docker://19.3.6
  Kubelet Version:            v1.17.2
  Kube-Proxy Version:         v1.17.2
  Networking calico             v3.11.2
[
\
![Screenshot from 2020-03-20 16-36-22]

[2020-03-20 11:16] ghhenry commented on #86507
@davesargrad Yes. sudo ethtool --offload flannel.1 rx off tx off was be done on every node.

[2020-03-20 11:18] davesargrad commented on #86507
@ghhenry Ty.

[2020-03-20 11:58] sri-05 opened #89295 "epoll_wait() reported that client prematurely closed connection, so upstream connection is closed too while sending request to upstream"
I Have a web page and it is working fine. but for only one path /user/reg it is giving 502 error code since that path takes little more time to process, so i have added liveness and readiness probes to the container but still having same issue. I am using kubernetes ingress and complete stack deployed in GCP.

Below is my ingress config
[code]

Below is my deployment yaml
[code]

I have checked ot

[2020-03-20 12:35] neolit123 commented on #89294
/sig network

[2020-03-20 12:38] neolit123 commented on #89295
/triage support
/remove-kind bug

hi, this appears to be a request for support on cluster management. please try the kubernetes support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you have a bug report or feature request you can open a new ticket.
thanks
/close

[2020-03-20 12:38] #89295 closed

[2020-03-20 12:42] seh commented on #89267
Does this cover the _component-base_ library as well?

Oh, I see it's in the whitelist [here](https://github.com/kubernetes/component-base/blob/master/go.mod#L11-L14).

[2020-03-20 13:17] verb opened #89301 "Incorrect command suggestion in kubectl exec deprecation message"
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): `Client Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.0-alpha.0.960+ede025af1b54ee", GitCommit:"ede025af1b54ee20c0abbce553a5b15ef31225f8", GitTreeState:"

[2020-03-20 13:17] verb commented on #89301
/sig cli
/assign @verb

[2020-03-20 13:19] verb commented on #89233
/assign @verb

[2020-03-20 13:28] danwinship commented on #88253
Maybe I didn't think it through, but the type-embedding didn't seem especially tricky... (Oh, does protobuf API compatibility screw things up? I didn't think about that...)

LabelSelectors are great when the person doing the selecting also controls the things being selected.   So in an old-school everyone-can-do-everything cluster, LabelSelectors for Namespaces are fine. But in a cluster with RBAC

[2020-03-20 13:33] justaugustus commented on #89293
I'm aware of this one and already working on a fix.
/assign

[2020-03-20 13:35] alculquicondor commented on #89260
/assign @gavinfish

/remove-help

[2020-03-20 13:38] alculquicondor commented on #88027
Hello @skilxn-go are you still working on this?

[2020-03-20 13:41] alculquicondor commented on #89268
/close

We are no longer seeing problems related to this.

[2020-03-20 13:41] #89268 closed

[2020-03-20 14:15] UdayVishwakarma opened #89303 "apiserver accepts podsepc with duplicate keys"
**What happened**:
Kubernetes accepts deployments with duplicate keys within pod spec

deployment.yaml
[code]

I have name and image keys twice and apiserver simply accepts the last key. when I do `kubectl get deploy nginx-deployment -o yaml` I see `spec.template.spec.containers[0].image=nginx`

**What you expected to happen**:

apiserver/kubectl should through an error stating there are duplicate

[2020-03-20 14:31] UdayVishwakarma commented on #89303
/wg apply

[2020-03-20 14:38] lentzi90 commented on #43916
I think this is a separate problem, specifically this: https://github.com/kubernetes/kubernetes/issues/78621

[2020-03-20 14:52] Davidrjx commented on #84794
@thockin no, but avoid that by other method.

[2020-03-20 14:58] skilxn-go commented on #88027
@alculquicondor Ah, I'm so sorry that I'm so busy in the last few weeks, but I will send prs fot this issue in this weekend. Sorry for my delay again.

[2020-03-20 15:17] andrewsykim commented on #87263
I had thought this was an optional feature, @adamcooke can you confirm if you have Cillium's service proxy enabled?

[2020-03-20 15:28] ingvagabund commented on #84306
@Huang-Wei thanks, happy to participate!!!

/close

[2020-03-20 15:28] #84306 closed

[2020-03-20 15:33] verb commented on #89233
Seems it's docker itself that's not letting go of the exec. I created identical pods that differ only in `shareProcessNamespace` and ran a `docker exec` on the node. The `docker exec` with `shareProcessNamespace: true` never returns after the container is deleted.

[2020-03-20 15:40] verb commented on #89233
Here's how to reproduce it entirely with docker:

[code]

Running `docker kill ebdfa6db4b05abe3342e415ec00aa2167f973620799530cdc2893393c560bdec` does not cause the `docker exec` to terminate.

[2020-03-20 15:48] uablrek commented on #89294
This is a bug. It is fixed in v1.18. I will post a ref to the issue when I find it.

/kind bug

[2020-03-20 15:56] verb opened #89306 "Support debugging nodes with kubectl debug"
This issue tracks implementing node debugging with privileged containers for `kubectl debug`, as described in the [kubectl debug KEP](https://git.k8s.io/enhancements/keps/sig-cli/20190805-kubectl-debug.md#node-troubleshooting-with-privileged-containers)

This feature allows administrators to start a privileged container on a node in host namespaces rather than having to SSH to the node. For exampl

[2020-03-20 15:57] verb commented on #89306
/assign @verb

[2020-03-20 15:57] uablrek commented on #87263
@andrewsykim Yes I think so too, but don't know what is the default on installation (hence the "may" in "This may make this issue a cilium problem.")

If kube-proxy is used then my guess is that `cilium` provides L2 connectivity between PODs on the same node. Then you must use the `--masquerade-all` or `masqueradeAll` in the kube-proxy config. Please see  https://github.com/kubernetes/kubernetes/i

[2020-03-20 15:59] apelisse commented on #65973
We're not forgetting about that, I'm hoping we can do that in 1.19!

[2020-03-20 16:09] uablrek commented on #89294
Fixed by this PR https://github.com/kubernetes/kubernetes/pull/87695.

Since ipv6-only and dual-stack are in alpha this will not be back-ported to v1.17, please see comments in the PR above.

I try to close this issue
/close

[2020-03-20 16:09] #89294 closed

[2020-03-20 16:14] afirth commented on #65973
amazing :100:  I messed up the command
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-03-20 16:14] uablrek commented on #89294
I tested on 'v1.18.0-rc.1' btw.

[2020-03-20 16:19] stevelacy commented on #73297
Just upgraded to 1.15, the following works correctly:

[code]

[2020-03-20 16:20] #88909 closed

[2020-03-20 16:26] liggitt commented on #88933
according to the release notes, IPv6 is beta in 1.18... if so, isn't this bug release blocking?

/milestone v1.18

[2020-03-20 16:31] marosset commented on #89276
/milestone 1.18
/priority critical-urgent

[2020-03-20 16:32] marosset commented on #89276
/milestone v1.18

[2020-03-20 16:36] marosset commented on #89276
/cc @michmike @ddebroy from sig-windows as well

[2020-03-20 16:43] msau42 commented on #69699
/assign @gnufied

https://github.com/kubernetes/enhancements/issues/695
is available in alpha in 1.18

[2020-03-20 16:57] erictune commented on #82292
Here is some data on the sizes of CRDs in the wild.

|                            | Size in Bytes |
|----------------------------|---------------|
| count(distinct group_kind) | 5605          |
| mean                       | 7050          |
| min                        | 224           |
| 50%                        | 973           |
| 90%                        | 20765         |
| 95%

[2020-03-20 17:05] erictune commented on #82292
At the time I gathered that data, one of the largest CRDs was prometheus.monitoring.coreos.com, at a side of 199408 Bytes.  Today it has grown to 346389 Bytes.

[2020-03-20 17:13] alejandrox1 commented on #89276
Hi all, is there an existing issue to track the creation/addition of said tests?

[2020-03-20 17:28] marosset opened #89307 "Enable disk/mount e2e tests on Windows"
**What would you like to be added**:
Increase e2e test coverage for mounting disks on Windows nodes.

**Why is this needed**:
Currently e2e disk tests only test Linux.
We need this coverage to catch regressions like https://github.com/kubernetes/kubernetes/issues/89276

cc @kkmsft @jackfrancis @andyzhangx @chewong
/sig windows
/kind test

[2020-03-20 17:30] marosset commented on #89276
@alejandrox1 I just created a new issue for this.

[2020-03-20 17:33] erictune commented on #82292
Some other large CRDs are listed, and all use pod templates or parts of pod templates:

-  [seldondeployments.machinelearning.seldon.io](https://raw.githubusercontent.com/SeldonIO/seldon-core/master/helm-charts/seldon-core-operator/templates/customresourcedefinition_seldondeployments.machinelearning.seldon.io.yaml)
at 357214 bytes.
    -  Uses several kinds of object templates, including HPA and p

[2020-03-20 17:44] justaugustus commented on #89276
xref: https://github.com/kubernetes/kubernetes/issues/89307

[2020-03-20 17:45] liggitt commented on #85762
The test has been flaky for multiple releases, but it was marked flaky and completely removed mid-1.18, which is new. I'm wanting to make sure that absence of any test signal around this is known/acceptable to sig-node.

[2020-03-20 17:51] ehsanrocket commented on #87946
sorry for wrong information
our servers are hosted on cloud base on the openstack
we solve the problem by putting nginx inside the one of the Nodes and then sending the traffic to localhost:NodePort
I think the problem was openstack networking.

[2020-03-20 17:52] #87946 closed

[2020-03-20 17:55] ahg-g commented on #89036
That is not true, pods in the same priority class don't evict each other. So a pod with the lowest priority will never benefit from running the preemption logic.

Ideally, the scheduler will need a heap to track the lowest priority in the system, and for each priority we keep track of the number of pods so that we can remove it from the heap when the count reduces to zero.

However, one solution c

[2020-03-20 17:59] mikedanese commented on #75551
cc @happinesstaker @zshihang

[2020-03-20 18:20] alexanderConstantinescu commented on #86507
I could, but this problem does not seem to stem from the "cloud layer", so I don't think there's anything to do here, at least for the moment. It seems it's a kernel networking issue and we have a bug opened in Red Hat for that: https://bugzilla.redhat.com/show_bug.cgi?id=1794714. I could keep this issue updated on any progress we make there and notify/implement any possible fix, should such apply

[2020-03-20 18:23] #69844 closed

[2020-03-20 18:27] Huang-Wei commented on #89036
I suppose @hex108 meant that if a Pod can be determined to hold a (global) lowest priority, it even doesn't need to be compared with other available Pods across nodes.

[2020-03-20 18:32] erictune commented on #82292
Here is a possible workaround, which would be much simpler than introducing references, and could tide users over until SSA is widely available.

It would be a comment tag that controller-gen would recognize and it would  recursively strip comments from a message.  So you would do something like:

[code]

[2020-03-20 18:39] danmx opened #89310 "PodSecurityPolicies - More detailed error message"
**What would you like to be added**:
When Pod was created and it doesn't validate positively against any of the available policies the error message is the same as if there a no available pod security policies because of missing permissions or no Pod Security Policies being deployed.

**Why is this needed**:
More comprehensive and detailed error messages.

[2020-03-20 18:40] ahg-g commented on #89036
I agree, my comment was a reply to Aldo's comment which seemed to disagree with the statement "if a pod's priority is lowest it could not preempt any other pods"

[2020-03-20 18:47] thockin commented on #86507
If you think it's not a k8s issue, let's close this.  Thanks!

[2020-03-20 18:47] #86507 closed

[2020-03-20 18:48] alculquicondor commented on #89036
I don't disagree. I'm just saying that in that scenario preemption ends fast anyways. So we have to find the real bottlenecks.

[2020-03-20 18:49] danmx commented on #89310
/sig usability

[2020-03-20 18:50] danmx commented on #89310
/wg auth

[2020-03-20 19:05] ahg-g commented on #89036
agree with benchmarking, but the logic still iterates over all pods in the system and compares the priorities, and this is happening in the scheduling cycle, so in a large scale cluster with > 100k pods, this may be a problem.

[2020-03-20 19:05] thockin commented on #87426
@uablrek

I believe you that you're seeing this, but I am asserting that this is not what we want and not "acceptable".  As you said you are seeing it in some installs and not others, there's clearly SOMETHING misconfigured - it's taking a shortcut and bypassing conntrack, which is not what we need.

Looking at kubenet code, I see that we set /proc/sys/net/bridge/bridge-nf-call-iptables - can you

[2020-03-20 19:07] thockin commented on #85881
Is it reproducible? Does it resolve itself over time or persist?

I need more information, or there's just nothing we can do with this
report.  It's not something others are reporting.

On Fri, Mar 20, 2020 at 1:17 AM Shuanglu <notifications@github.com> wrote:

[2020-03-20 19:14] ahg-g opened #89312 "Provide simulation endpoints for local persistent/ephemeral volumes"
**What would you like to be added**:

The scheduler's [SharedLister](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/listers/listers.go#L49) interface defines APIs to retrieve listers for nodes and pods. The backing implementation used in the scheduler is based on the nodeinfo Snapshot. This scheduler.SharedLister interface is used by all plugins to retrieve and list nodes/pods,

[2020-03-20 19:14] ahg-g commented on #89312
/cc @Huang-Wei @alculquicondor @damemi

[2020-03-20 19:31] RaunakShah opened #89313 "Delay in attaching a volume because of 10s default kubelet syncNodeStatus interval"
**What would you like to be added**:
 Update `volumeToMount.ReportedInUse` asynchronously or out of band from the rest of the `Node.Status`.

**Why is this needed**:
As per the current code, there is a 10 second interval for syncNodeStatus() to be called. The large interval increases the latency of attaching a volume to a node. In `pkg/kubelet/volumemanager/reconciler/reconciler.go`, function `mou

[2020-03-20 19:31] RaunakShah commented on #89313
/sig storage

[2020-03-20 19:32] Huang-Wei commented on #89312
SG.

A side note: the [PodInformer](https://github.com/kubernetes/kubernetes/blob/aa07992a44186452de261ba0bdd3a4afb5dfe678/cmd/kube-scheduler/app/options/options.go#L278) which internal scheduling queue relies on is not originated from SharedInformerFactory either.

Maybe we could refactor that as well so that all internal informers are unified which should benefit both default scheduler and plugi

[2020-03-20 19:42] erictune commented on #82292
Here is a size distribution for CRDs that don't include pod templates or volume templates.
(Number of CRDs=5519)

[code]

Here is the largest of those ( 171823B in my dataset, has grown to 270142B since ):
https://github.com/cilium/cilium/blob/master/examples/crds/ciliumnetworkpolicies.yaml

[2020-03-20 20:17] smekkley commented on #79866
Wow, amazing work. Thank you guys, all.

[2020-03-20 20:17] #79866 closed

[2020-03-20 20:24] Huang-Wei commented on #88077
Missing scores may be due to some priority functions are using non-map-reduce style, so they didn't hit the printing logic.

https://github.com/kubernetes/kubernetes/blob/c8b135d0b49c44554ed5b78878f15f09cab350b6/pkg/scheduler/core/generic_scheduler.go#L715-L717

We can add a logging function there to help you better debugging it. However, the code gets refactored in recent releases, and 1.14 is ou

[2020-03-20 20:28] zach-robinson opened #89315 "Human-Readable Print Of HPA with Object-Metric TargetAverageValue is Wrong"
**What happened**:
Created an HPA against an Object Metric with a target AverageValue. HPA works as expected, but when printing in human readable format the current and target averageValue do not get printed.

[code]

For some reason the HPA controller seems to be inserting dummy values for the current value and targetValue (non-averaged).

[code]

The controller is correctly using the averageValu

[2020-03-20 20:29] zach-robinson commented on #89315
/sig autoscaling

[2020-03-20 20:47] rikatz commented on #88986
@davesargrad yes, the idea is to run the command on every node, at least so we can get a point into what's happening and if this solves the problem.

I though you were using flannel because of the issue description:

Was this some kind of migration from flannel to Calico?

[2020-03-20 20:56] seh commented on #84729
@mikedanese, that doesn't cover the case in `(*ConfigMapLock).Update` when the call to `ConfigMapsGetter.Update` fails, returning a non-nil `error` and an empty `*v1.ConfigMap`. At that point, `cml.cm` is non-nil, but `cml.cm.Annotations` **is** nil.

[2020-03-20 20:58] mikedanese commented on #68164
cc @happinesstaker

[2020-03-20 21:11] rikatz commented on #88986
@davesargrad also thanks for pointing into that issue, so it helped to have some light if this seems to be more a vxlan problem that flannel problem.

So it seems there's a bug privatelly opened in Red Hat, and we will need to wait the conclusion of this one.

Thanks

[2020-03-20 21:22] howardjohn opened #89322 "--force and --prune interactions accidentally prune newly created deployments"
**What happened**:

[code]

Results in:
* alpine being created
* alpine deployment force replaced with the new one.  The old pod gets killed, and a new one comes up
* Immediately after, the *newly created* deployment is pruned

**What you expected to happen**:

Newly created deployment is not pruned

**How to reproduce it (as minimally and precisely as possible)**:

Use commands above with:

first

[2020-03-20 21:25] azban commented on #71577
is this still not possible? presumably there is a concern about collisions. thoughts about being able to specify an optional prefix?

[2020-03-20 21:48] davesargrad commented on #88986
@rikatz Ty Much. I'm glad this has your focus. It seems critical.

[2020-03-20 21:56] nckturner commented on #84926
@gnieto Working on a repro for this issue (on 1.11 first, then I'll try on master) and I've not quite observed the same behavior yet.  Depending on the order of the security groups on the load balancer, I only see the ingress rule for the new LB security group added to the node security group if the new security group comes last.

Otherwise, if the NODE security group comes last, the ingress rule

[2020-03-20 22:02] freehan commented on #85741
Setup summary from the above:
0. On-prem environment (VMware)
1. K8s version 1.14.2
2.kube-proxy in ipvs mode.
3. Create a Service with ExternalIP.
4. The ExternalIP points to a worker node within the cluster.

[2020-03-20 22:27] #78227 closed

[2020-03-20 22:27] #84162 closed

[2020-03-20 22:29] freehan commented on #85741
I happened to have a ipvs setup at hand. BUT I was not able to repro this with kube-proxy ipvs HEAD.

[2020-03-20 22:30] freehan commented on #85741
如果又需要，我可以翻译成中文，谢谢！

[2020-03-20 23:06] tedyu commented on #84729
How about the following change ?
{code}
diff --git a/staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go b/staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
index 608f7524991..d8b96d20908 100644
--- a/staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go
+++ b/staging/src/k8s.io/client-go/tools/leaderelection/resou

[2020-03-20 23:18] tedyu commented on #84214
/remove-lifecycle rotten

[2020-03-20 23:19] tedyu commented on #84214
@byxorna
#88348 has been merged.

Do you want to try build from master ?

thanks

[2020-03-20 23:30] thockin commented on #88253
The patterns I have seen for namespace creation:

unmanaged, untrusted: App owners create and manage their own namespaces.  If you don't trust the people who have that ability, namespace selectors are a terrible idea.

unmanaged, trusted: App owners create and manage their own namespaces.  They all trust each other.

semi-managed: App owners request namespaces and can request labels be set on them

[2020-03-20 23:57] yliaog commented on #89156
i think it is intentional such that the date is always right-pad the microseconds to the fixed length. it is stricter than what golang RFC3339Nano requires.

does this cause any problem for your use case?

[2020-03-21 00:56] seh commented on #84729
That's one way to get there. Another way is to throw away the returned `ConfigMap` if `err` is non-nil:
[code]
Alternately, if you don't mind `else`:
[code]

Let's try this:
/reopen

[2020-03-21 00:58] gongguan commented on #89284
/assign

[2020-03-21 02:00] andyzhangx commented on #89307
related PR to fix this issue: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/320

[2020-03-21 02:00] andyzhangx commented on #89307
/assign @chewong
cc @ritazh @craiglpeters

[2020-03-21 02:11] Davidrjx commented on #72102
In my case, apiserver has been repeating warnings about connecting to external etcd cluster with tls,   log snippets as follows
[code]
My environment:
HA kubernetes 1.15.5 cluster made by kubeadm
Etcd 3.3.10 cluster with three members

but i am not sure whether my issue is releated with grpc.  any answer will be apprecicated

[2020-03-21 02:28] andyzhangx commented on #89276
Need to point out that azure disk and azure file drivers are the only two **in-tree** drivers supports disk and smb mount on windows, we need to add windows e2e tests for these two drivers now.
This will also benefit other CSI drivers which would support disk and smb mount on windows soon.
cc @jingxu97

[2020-03-21 03:32] #84213 closed

[2020-03-21 04:33] #83788 closed

[2020-03-21 05:01] pierreyves-lebrun commented on #82067
This! I can't thank you enough!

[2020-03-21 06:05] verb commented on #84353
I've been thinking about this in the context of allowing deletion of ephemeral containers. Right now I'm thinking that the kubelet should track whether a pod has had an ephemeral container and indicate it in a `PodCondition`.

This would be default behavior for every cluster, and it would be simple to write a controller that applied labels based on the condition, allowing this part to be configura

[2020-03-21 06:25] yuripastushenko commented on #62283
/reopen
We provide k8s cluster as a service.
Now we run an old version of kubernetes.
In a few weeks we plan to upgrade cluster version to latest 1.16.x.
We have a lot of users that deploys their applications from different CI.
Part of them uses actual version for deployments (apps/v1) and the other part is using apps/v1beta1,  that is absent in 1.16.1.
We, as cluster administrators, want to notif

[2020-03-21 06:28] verb commented on #53188
I'm pondering how to make this configurable via `PodSecurityPolicy`. The idea is that we'd allow ephemeral containers to set security context but allow the behavior to be constrained by policy.

It's not clear to me how configurable this should be. The simplest implementation would be a boolean controlling whether security context may be set for ephemeral containers and then applying the existing

[2020-03-21 06:48] verb commented on #84764
A lot of use cases have been discussed here, so I thought it would be useful to enumerate them:

1. **reclaim resources after compeletion**: We don't actually need to remove an ephemeral container from the spec for this. Resources could be reclaimed after the container exits.
2. **restarting debug containers**: I'm not sure there's a strong argument here vs just starting a container with a new nam

[2020-03-21 07:06] uablrek commented on #87426
@thockin Bullseye! Pretty good for shooting in the dark :smiley:

I removed "masquerade-all" and added;
[code]
on node start-up and both TCP to a local POD and DNS queries to a local server works perfectly.

I will raise an issue on https://github.com/kelseyhightower/kubernetes-the-hard-way refering to this issue.

@eraclitux Please try the sysctl above and forget all about "masquerade-all". If it

[2020-03-21 07:06] verb commented on #84764
One concern about allowing ephemeral containers to be removed is that it removes information that could have been used for policy decisions. For this reason it will need to be configurable.

[2020-03-21 07:17] skilxn-go commented on #84353
Yep, adding a `PodCondition` sounds good to me.
BTW, do we support adding ephemeral containers for static pods now?

[2020-03-21 07:36] #83038 closed

[2020-03-21 08:48] hien commented on #48798
Removing the cni plugin conf from /var/lib/kubelet/kubeadm-flags.env alson works on CentOS 7.6 with k8s 1.16.8

[2020-03-21 09:07] hprateek43 opened #89325 "VPA does not respect CPU lower bound for container"
**What happened**:
I created a VPA targeting a container in a pod, and set lower bounds for CPU and memory for the container. The lower bounds for CPU were not respected.

**What you expected to happen**:
The VPA recommendations should respect the lower bounds for the given container. However, only the lower bounds for memory are respected, not CPU. See the VPA output as under

[code]

**How to re

[2020-03-21 09:07] hprateek43 commented on #89325
/sig-autoscaling

[2020-03-21 09:33] aojea commented on #86516
@13567436138 the headless service creates a DNS record per pod, and per your description it's working correctly

I think that you are looking for DNS records for pods, and this is explained here
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods

[2020-03-21 09:35] pixxet commented on #23880
any update?

[2020-03-21 10:08] janosi commented on #23880
@pixxet  The KEP has been updated according to the latest comments. I am waiting for any other comments on the KEP, or merge, or rejection.

[2020-03-21 10:24] avarf commented on #85483
It is very easy to reproduce and I mentioned it:
How to reproduce it (as minimally and precisely as possible):
kill the running kube-proxy, use the port that kube-proxy is using so when it restarts it cannot bind to the port that it needs.

[2020-03-21 10:39] #78128 closed

[2020-03-21 10:39] serathius commented on #89267
Hey @seh, component-base/metrics is the intended wrapper for Prometheus. So it's intended to be using it there.

[2020-03-21 13:22] zoran3 commented on #14713
thank you for MY_POD_IP!!

[2020-03-21 13:39] tedyu opened #89329 "'subPath should support file as subpath [LinuxOnly]' is flaky"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
[sig-storage] In-tree Volumes [Driver: hostPathSymlink] [Testpattern: Inline-volume (default fs)] subPath should support file as subpath [LinuxOnly]

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89317/pull-kubernetes-e2e-gce/1241205884374224897/

**Reason for failure**:
[code]
**A

[2020-03-21 13:39] tedyu commented on #89329
/sig storage

[2020-03-21 13:40] alejandrox1 commented on #88933
Thank you everyone for working on this.
Figure i drop a quick comment for openness and transparency.
The planned release date for Kubernetes 1.18 is next Tuesday (March 24).
Since this seems to be related to IPv6 going to beta in 1.18 we (the release team) are considering this work release blocking and will keep on syncing with you all to ensure this gets into 1.18.0.
Right now it seems that the w

[2020-03-21 13:42] #19077 closed

[2020-03-21 13:44] alejandrox1 commented on #89276
Hi all, first off, thank you to everyone for working on this!

Figure I drop a quick comment for openness and transparency.
The planned release date for Kubernetes 1.18 is next Tuesday (March 24).
This issue is critical to the use of windows in 1.18 and we [the release team] are considering this work release blocking and will keep on syncing with you all to ensure this gets into 1.18.0.

Right now

[2020-03-21 13:56] princerachit opened #89330 "Kubelet refers to old device path and does not mount the volume from new device path"
**What happened**:
1. I created an EBS volume
1. I created a job which uses this ebs volume as `awsElasticBlockStore`
1. Job's pod ran to completion.
1. I created another deployment with above EBS volume reference (Utilizing PV/PVC this time and NOT awsElasticBlockStore ). This was done using a script therefore there was virtually no delay b/w the steps
1. The pod of the deployment does not transi

[2020-03-21 14:02] andyzhangx commented on #89276
@alejandrox1 here is the fix we need to get into v1.18.0:
https://github.com/kubernetes/kubernetes/pull/89319
cc @saad-ali

[2020-03-21 14:06] princerachit commented on #89330
/sig storage

[2020-03-21 14:29] metametadata commented on #19077
Is there a ticket where one could vote for disabling fejta-bot? It pollutes the long-standing issues and eventually closes the important issues where, I suspect, people simply got tired of interacting with the bot.

[2020-03-21 14:43] #84219 closed

[2020-03-21 15:28] #89276 closed

[2020-03-21 15:44] #80405 closed

[2020-03-21 16:01] Abhishek1121-tech commented on #89294
So, officially available on which version.

[2020-03-21 16:15] andy-wolf168 commented on #88964
I printed the memory address：
Address1：podManager#pod.Status.Conditions     -> 0xc000d928c0
func (kl *Kubelet) getPodsToSync() []*v1.Pod {
allPods := kl.podManager.GetPods()
...
for _, pod := range allPods {
klog.Infof("[###ANDY###]getPodsToSync 1: Pod %q, %p, status in podManager: %v", format.Pod(pod), pod.Status.Conditions, pod.Status.Conditions)
...
}

Address2： statusManager#status.status.Cond

[2020-03-21 16:29] tedyu commented on #88964
@andy-wolf168
Since the log snippet is quite long, it would be better if you can attach it to this issue and quote part of it which is most relevant to the discussion.

thanks

[2020-03-21 16:49] andy-wolf168 commented on #88964
Although the log is very long, it is printed repeatedly after 70L (i0321 14:19:00.872464) (from factory. go). I am worried about what information I have missed, so I put it all. You can copy the log to a text editing tool, such as nodepad + +, so it looks clearer.

I wonder why the memory address of pod.status.condition in podmanager points to the memory address of status.condition in statusmanage

[2020-03-21 17:25] alejandrox1 commented on #85296
wanna look into this
/remove-lifecycle rotten

[2020-03-21 17:46] #84240 closed

[2020-03-21 18:09] mohit5577 commented on #54918
Hello TangLi,

You have run this steps on master node or worked node or on both of them. ?? Have you restarted any services to bring the nodes in Ready condition.

-Regards
  Mohit

[2020-03-21 18:51] liggitt commented on #89303
Ironically, a duplicate of https://github.com/kubernetes/kubernetes/issues/14791

[2020-03-21 18:51] #89303 closed

[2020-03-21 20:02] MikeSchlosser16 commented on #87771
I also see similar output using `client-go`. There is no secret, the client makes a call to create secret, the call fails with `AlreadyExists` but the secret gets created as expected.

Like noted, it seems very racy. Sometimes it works fine, sometimes it fails. Hard to see a pattern from what I've noticed so far but there definitely appears to be a timing issue.

[2020-03-21 20:20] danwinship commented on #88253
The "managed" case is only solved *for the app owners* if the *administrators* use labels properly. (Where "properly" is defined by the app owners, not the administrators, and different app owners probably don't agree on what "properly" means.)

(And this is the default mode for OpenShift, and I believe any other cluster using RBAC.)

[2020-03-21 20:44] neolit123 commented on #89322
/sig cli
/triage needs-information

Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.9-gke.22", GitCommit:"9bae7fcacb520dfee658b26cc1a9643bf787dfc3", GitTreeState:"clean", BuildDate:"2020-02-27T18:43:37Z", GoVersion:"go1.12.12b4", Compiler:"gc", Platform:"linux/amd64"}

this is an unsupported skew:
https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl

please

[2020-03-21 21:50] #65180 closed

[2020-03-21 22:14] tedyu commented on #89329
From kubelet.log for 65r4 :
[code]
The e2epod.WaitForPodSuccessInNamespace() call failed due to the above error.
@msau42
What do you think the subpath test should do here ?
Maybe wait for a bit and retry when node has enough resources ?

[2020-03-21 23:16] thockin commented on #88253
Does openshift give users a way to add labels to their own namespaces?
Some self-service portal or something like that?  If not, shouldn't it?

Last I looked in depth OpenShift didn't really have a concept of a group of
namespaces - is that changed?

On Sat, Mar 21, 2020, 1:20 PM Dan Winship <notifications@github.com> wrote:

[2020-03-21 23:17] thockin commented on #85483
Sorry, yes I can repro the port conflict, but not the data-plane problems.
I don't see any dropped packets or anything.

On Sat, Mar 21, 2020, 3:24 AM avarf <notifications@github.com> wrote:

[2020-03-22 02:37] justaugustus commented on #89293
Fixed in https://github.com/kubernetes/release/pull/1202.

[2020-03-22 04:40] feiskyer opened #89336 "Azure VMSS is not added to internal SLB backend address pool"
**What happened**:

When using Internal Standard LoadBalancer on Azure, although VMSS instances have been added to LB backend address pools, the VMSS itself is not added. Hence, if customer upgrades these VMSS instances to latest model, the backend address pool would be lost and hence the LoadBalancer services would be broken.

**What you expected to happen**:

Azure VMSS is also added to internal

[2020-03-22 04:40] feiskyer commented on #89336
/area provider/azure

[2020-03-22 05:50] justaugustus commented on #89293
Moving this to k/release...

[2020-03-22 06:37] Shuanglu commented on #85881
it happens intermittently but we don't know exactly when it will come or what will trigger it so we say it cannot get reproduced.
We didn't wait to check if it will resolve itself since we need to restore the service so we directly restart the kube-proxy. Afaik it will persist for a long time like several days at least.

[2020-03-22 07:47] Devying commented on #68736
But is there anyway to limit the unequal capacity for each pod? @yinwenqin I have the same question

[2020-03-22 08:10] 372046933 commented on #87277
We do not have `flannel0` interface in our environment. Each `docker0` acquires  IP from config which is written by flanneld

[2020-03-22 08:37] serg060606 commented on #55051
the issue still opened, there no reply for @so0k commented on Feb 27, 2018

[2020-03-22 09:08] tdihp commented on #82776
/remove-lifecycle stale

[2020-03-22 09:10] mikael-vertikal commented on #73297
@mercantiandrea Try with

`service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "ssl"`

That fixed it for me.
From https://kubernetes.io/docs/concepts/services-networking/service/#ssl-support-on-aws: "TCP and SSL selects layer 4 proxying: the ELB forwards traffic without modifying the headers."

[2020-03-22 10:02] #83728 closed

[2020-03-22 11:18] avarf commented on #85483
The port conflict causes kube-proxy to not function properly and the pods located on that node will become unreachable which means DNS is working and it returns the IP of the service, service returns the eps but we can't reach that endpoint (via curl for example).

The main problem here as I said is usually the first thing that I do is `kubectl get pods` to see what pods are failing but in this ca

[2020-03-22 14:55] mingfang commented on #60807
The real problem is even after fixing the aggravated API, the namespace remains stuck.
This is still a problem is v1.17.
Please reopen this issue.

[2020-03-22 14:58] #89336 closed

[2020-03-22 16:31] howardjohn commented on #89322
Reproduced with
[code]

[2020-03-22 16:59] alejandrox1 commented on #88933
@aojea @SataQiu @thockin if i understand correctly, now that https://github.com/kubernetes/utils/pull/145 has merged.
The next step is to vendor that back into k/k and then cherry pick it into the release-1.18 branch in k/k?

Is there any more work that you know needs to happen?
And more importantly, how can we test whether this issue has been resolved? Is there a test in CI or a plane to add some

[2020-03-22 17:12] thockin commented on #85483
The problem is that I can't reproduce this, and from code inspection it isn't true.  So there's SOMETHING different about your environment than mine.

Th epacket data path is entirely in-kernel, so nothing userspace does could disrupt that unless your endpoints changed and kube-proxy failed to sync the endpoints.

But the metrics port is being used in a background thread.  It doesn't block new ser

[2020-03-22 18:44] vany0114 commented on #79224
+1 reopen it please.

[2020-03-22 19:11] #79913 closed

[2020-03-22 20:12] #84237 closed

[2020-03-22 20:12] #84278 closed

[2020-03-22 20:12] #84239 closed

[2020-03-22 20:12] #84247 closed

[2020-03-22 20:35] avarf commented on #85483
Thank you for your time and efforts for trying to repro this. Unfortunately, I don't have any more logs because this happened months ago and when I just killed the process that was using the port and restart the kube-proxy problem was solved.

I faced this at least two times and both times I can confirm that all the nodes were up, running and ready, all the pods were also up and ready but the traf

[2020-03-22 21:13] #58635 closed

[2020-03-22 21:17] thockin commented on #85483
First, you are very welcome.  I want to see people successful in their
usages of Kubernetes.

I'll leave this open for now, but there must have been some extra
circumstances that we don't know.  If someone else can repro this, we can
re-examine it.

On Sun, Mar 22, 2020, 1:35 PM avarf <notifications@github.com> wrote:

[2020-03-22 21:34] BobyMCbobs opened #89340 "Write AppsV1Deployment resource lifecycle test - +5 endpoint coverage"
# Identifying an untested feature Using APISnoop

According to this APIsnoop query, there are still some remaining Deployment endpoints which are untested.

[code]

[code]

# API Reference and feature documentation

-   [Kubernetes API Reference Docs](https://kubernetes.io/docs/reference/kubernetes-api/)
-   [client-go - Deployment](https://github.com/kubernetes/client-go/blob/master/kubernetes/ty

[2020-03-22 21:36] BobyMCbobs commented on #89340
I'm unsure if the endpoint replaceAppsV1NamespacedDeploymentStatus is able to be hit. When this endpoint is attempted to be updated the data after retrieving the update resource doesn't reflect the values in the update.

[2020-03-22 21:38] aojea commented on #88933
@alejandrox1 I think that the unit tests in the net/utils function should be enough for the moment, this is a corner case due to a possible mistake on the IPv6 address used, but completely legit bug IMHO.

Commonly the IPv6 address space has no leading zeroes in its representation
https://www.iana.org/assignments/ipv6-address-space/ipv6-address-space.xhtml , that should explain why we didn't hit t

[2020-03-22 22:14] #84242 closed

[2020-03-22 23:15] #83868 closed

[2020-03-22 23:33] renatoviana12 commented on #89082
Hey @JoelSpeed should I put you as a reviewer?

[2020-03-22 23:34] JoelSpeed commented on #89082
CC me and I'll take a look

[2020-03-22 23:41] alejandrox1 commented on #88933
@aojea dumb question: is there a place where we can see the unit tests run in CI?

[2020-03-23 00:04] aojea commented on #88933
You can't merge if the unit tests are not passing,
these are the ones running in the presubmit
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test

but the units tests here were added to the k8s.io/utils repo 😅

[2020-03-23 00:20] alejandrox1 commented on #88933
@aojea again, something dumb and please tell me if im wrong in any of this...

Since the bug is in k8s.io/utils, the only place where those unit tests run is in travel
(i.e., this run from https://github.com/kubernetes/utils/pull/145 https://travis-ci.org/github/kubernetes/utils/jobs/665545204?utm_medium=notification&utm_source=github_status).

So no unit tests in the k/k presubmits (or in postsub

[2020-03-23 00:55] vincent-pli commented on #88614
@alculquicondor
I think that's useful with `Reason` or `trigger controller`.  and I run my controller, thanks

[2020-03-23 01:01] vincent-pli opened #89344 "Get CRD resource in Plugin of Scheduler Framework"
I'm checking the [Scheduler Framework](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md) and try to implement based on that.

I wonder to know what should I do if I try to get CRD resource in a plugin. what's the best practice?
BTW, I notice this feature is still on alpha phase, what's the next plan?
and I think we need more example, docum

[2020-03-23 01:02] vincent-pli commented on #89344
/sig scheduling

[2020-03-23 01:11] RinckFox commented on #88077
Thank you, but I already solved my problem by creating an additional scheduler with a custom scheduling policies for my cronjob. However, it would be cool if you added the logging function in the supported versions :)

[2020-03-23 01:35] cofyc commented on #83323
/remove-lifecycle stale
I'll work on it after https://github.com/kubernetes/kubernetes/pull/83726 is done.

[2020-03-23 02:09] k2huang opened #89345 "Add namespace into Pod metadata.namespace when ReplicaSet/Job/Daemonset controller create Pods"
**What would you like to be added**:
Add namespace into Pod metadata.namespace when ReplicaSet/Job/Daemonset controller create Pods

**Why is this needed**:
In my [MutatingAdmissionWebhook](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook) server, I will create one PVC object and append it into Pod.Spec.Volumes after receiving Pod Creation Eve

[2020-03-23 02:10] k2huang commented on #89345
/sig app

[2020-03-23 02:26] #88933 closed

[2020-03-23 02:49] draveness commented on #85672
/remove-lifecycle stale
/lifecycle frozen

[2020-03-23 02:49] draveness commented on #84681
/remove-lifecycle stale
/lifecycle frozen

[2020-03-23 03:36] k2huang commented on #89345
/sig apps

[2020-03-23 04:07] hex108 commented on #89036
@Huang-Wei  It will be a incompatible change. And we need to check whether there are pods using the the pirority class and give a warning when users try to delete the priority class.  However it will make things simpler if it is acceptable.

@ahg-g Yes, I'd like to try this way. WDYT? @Huang-Wei

It could be a solution if prirotiy classes are static(no priroty classes are deleted or added), becaus

[2020-03-23 04:20] #84285 closed

[2020-03-23 05:14] bradmwalker opened #89349 "Job UUID accessible in pod containers"
**What would you like to be added**:

Job pods to be aware of their common identity. A job UUID could be populated automatically in the environment or injected explicitly with a Downward API extension.

**Why is this needed**:

This allows parallelized jobs to implement simple restart behavior. A job's pods race to elect a master and update a job ID key in stable storage. If the job ID is differen

[2020-03-23 05:21] #82756 closed

[2020-03-23 05:28] bashsiz commented on #61005
The same issue with kubernetes about the network. after investigating i found out that the problem is related to iptables rules.

k8s version : v1.17.4
iptables version : v1.8.4
OS : Centos 7

![Screenshot from 2020-03-23 09-49-47](https://user-images.githubusercontent.com/19620677/77284179-b059a200-6ceb-11ea-99cc-0133555d59d8.png)

Finally i forced to run iptables command manually and my problem

[2020-03-23 05:45] verb commented on #84353
@skilxn-go not intentionally. Earlier I thought we could take advantage of this for testing, but thinking about it more we should probably prevent it if we can.

[2020-03-23 06:03] ferried commented on #86715
![图片](https://user-images.githubusercontent.com/26159886/77286820-0d1a8400-6d0f-11ea-81d2-b3dbde7d76cc.png)
![图片](https://user-images.githubusercontent.com/26159886/77286830-1572bf00-6d0f-11ea-9005-35c87d0ef885.png)

i got the same error

[2020-03-23 06:11] zhangxiaoyu-zidif commented on #89281
/sig storage

[2020-03-23 06:29] ferried commented on #86715
Health check failed because other nodes are not configured. Please build a complete cluster and check again

[2020-03-23 06:30] ferried commented on #86715
and the issues can be closed

[2020-03-23 06:33] justaugustus commented on #88553
/priority critical-urgent
cc: @kubernetes/product-security-committee

While working on the [go1.13.9 upgrade](https://github.com/kubernetes/kubernetes/pull/89275), I found that the upgrade requires a `bazelbuild/rules_go` >= [`v0.21.5`](https://github.com/bazelbuild/rules_go/releases/tag/v0.21.5) (ideally [`v0.22.2`](https://github.com/bazelbuild/rules_go/releases/tag/v0.22.2)) bump, which in turn

[2020-03-23 07:03] uablrek commented on #88580
/remove-kind bug

[2020-03-23 07:04] uablrek commented on #88580
Closing this issue since it is not a bug. Please refer to the comment above https://github.com/kubernetes/kubernetes/issues/88580#issuecomment-595660682

Please re-open if you disagree.

/close

[2020-03-23 07:05] #88580 closed

[2020-03-23 07:22] zhangguanzhang commented on #86715
but the log doesn't print succeed

[2020-03-23 07:33] umangachapagain opened #89356 "Better comments for api specs"
**What happened**:
The comments are incomplete or unclear.

https://github.com/kubernetes/kubernetes/blob/0641e0c6d809fa6bdb23d6f76c86ab4b31009d94/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L138
" Namespace defines the space within each name must be unique" is unclear.

https://github.com/kubernetes/kubernetes/blob/0641e0c6d809fa6bdb23d6f76c86ab4b31009d94/staging/src/k8s.io/apimachi

[2020-03-23 07:34] umangachapagain commented on #89356
/sig api-machinery

[2020-03-23 07:46] mm4tt commented on #86547
/remove-lifecycle stale
/good-first-issue

I'll ask whether someone in SIG Scalability public meeting would like to take on this one

[2020-03-23 08:06] uablrek commented on #88212
About the bind of ClusterIP's to `kube-ipvs0`; It is possible to assign the entire ClusterIP range to `kube-ipvs0` one-and-for-all and be done with it;
[code]
I will make some experimenting on this.

[2020-03-23 08:24] #71863 closed

[2020-03-23 08:44] aojea commented on #88933
well, you can implement testing in k/k but these kind of failures can happen with every go module that we are vendoring, we depend on the module's testing itself.
In this case, seems that we didn't have enough testing in k/utils, maybe implementing some [fuzz testing](https://en.wikipedia.org/wiki/Fuzzing), but I don't think that we should fill the gap in testing of the other modules in k/k itself

[2020-03-23 08:52] Katharine commented on #88553
Removing bazel is not a viable immediate-term strategy: we have hard dependencies on it for CI, even if we disregard all developers who choose to use it. Turning it off now would either cause us to lose critical presubmit tests or make presubmits _even slower_. There’s potential for this in the medium/long term, but not today.

We’ve previously almost-successfully updated bazel - @bentheelder was

[2020-03-23 09:01] aojea opened #89358 "kube-proxy ipvs session affinity is always sticky and doesn't honor the timeout"
**Which jobs are failing**:

ci-kubernetes-e2e-gci-gce-ipvs

**Which test(s) are failing**:

`.*Services should have session affinity timeout work.*`

**Since when has it been failing**:

These tests were added recently in https://github.com/kubernetes/kubernetes/pull/88409/commits/64c4876ccd013b309777d594ed3b14bee8cabf6e

They test that the affinity timeout works and that once the timeout is reac

[2020-03-23 09:02] aojea commented on #89358
/sig network
/kind bug

[2020-03-23 09:22] k2huang commented on #89281
From my point of view, I suggest to directly return error if `saveVolumeData` failed, because it seems calling os.RemoveAll or os.Remove is meaningless. And more, in fact we don't really need save volume data file every time if there is no changed contents.

[2020-03-23 09:37] 1wpro2 opened #89360 "Kubectl proxy would strip out the parameter for websocket request"
**What happened**:
Create a deployment to run a websocket server. Use `kubectl proxy` for accessing the service outside of the cluster.

**What you expected to happen**:

Invoke the URL, for example as below, would pas in the token to the websocket server.
[code]

However, instead, the parameter is stripped out.

![image](https://user-images.githubusercontent.com/52658745/77302773-ce93c200-6d2c-11

[2020-03-23 09:38] TangLi-Xuke commented on #54918
just on master&nbsp;
&nbsp;
------------------&nbsp;Original&nbsp;------------------
From: "mohit5577";
Date: 2020年3月22日(星期天) 凌晨2:09
To: "kubernetes/kubernetes";
Cc: "TangLi-Xuke"; "Comment";
Subject: Re: [kubernetes/kubernetes] Unable to update cni config: No networks found in /etc/cni/net.d (#54918)

&nbsp;

I had the same problem, I don't know if it can help you, but it solve mine.
 1、use "jour

[2020-03-23 09:56] angao commented on #89344
You can create a CRD clientset and use the follows method to register plugin:
[code]

[2020-03-23 10:26] #84333 closed

[2020-03-23 10:36] eraclitux commented on #87426
@uablrek I can confirm that enabling `br-netfilter` and configuring it at startup fixes the `conntrack` table.
Thank you @uablrek and @thockin for helping on this! 🍺

[2020-03-23 10:36] #87426 closed

[2020-03-23 11:11] bartekzurawski commented on #86547
Hello,

Can I start work on this one as my first issue? :)

[2020-03-23 11:14] maikelvl commented on #82296
@liggitt Do you agree such change in a patch release should not happen? ⬆️

[2020-03-23 11:15] mm4tt commented on #87851
The test seems to be flaking quite a lot recently
![yLH4sEMtOQd](https://user-images.githubusercontent.com/2604887/77311161-e4d75900-6cff-11ea-9d80-0356adf87439.png)

Friendly ping, sig-cli, could you take a look?

[2020-03-23 11:17] mm4tt commented on #87851
FTR, these are really blocking tests and it's getting more urgent given the forthcoming 1.18 release

[2020-03-23 11:18] zhouya0 commented on #89267
I have a question:
`cluster/images/etcd-version-monitor` has deeply rely on `github.com/prometheus/client_model/go` with three structs :`dto.MetricFamili`, `dto.LabelPair`, `dto.Metric`. so it's not easy to move these fucntions to `staging/src/k8s.io/component-base/metrics`. What I'm going to do is simply wrap these structs like:
[code]
Is that suitable to do this? If yes, where should I put this

[2020-03-23 11:24] zzxwill opened #89362 "`localtime`, `rsyncd.password` and `rsyncd.sh` don't exist when building Kubernetes"
**What happened**:
Following instruction [Building Kubernetes](https://github.com/kubernetes/kubernetes/blob/0641e0c6d809fa6bdb23d6f76c86ab4b31009d94/build/README.md#basic-flow) to build docker image, it said `localtime`, `rsyncd.password` and `rsyncd.sh` don't exist.
[code]

**What you expected to happen**:
Successfully build an image which can use to build Kubernetes.

**How to reproduce it (as

[2020-03-23 11:30] zzxwill commented on #89362
/sig Instrumentation

[2020-03-23 11:39] oxddr commented on #86547
@bartekzurawski I don't see anyone else claiming it, so your contributions are welcome :)

[2020-03-23 11:43] maikelvl commented on #82296
As a workaround I use `sed -E 's|(\w+):\s+(\d+e\d+)$|\1: "\2"|g'`

<details>

<pre class="highlight highlight-source-shell">
$ cat << EOF > configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: test
data:
  test: 123456e78
EOF
</pre>

### Problem

<pre>
$ # kubectl v1.15.5
$ cat configmap.yaml | kubectl apply -f -

Error from server: error when applying patch:
{"data":{"test":1.23456e+83

[2020-03-23 12:02] zzxwill opened #89363 "Explain a little bit on how to prepare Dockerfile before building kube-build image, to avoid confusion."
**What would you like to be added**:
In Kubernetes build [instruction](https://github.com/kubernetes/kubernetes/blob/0641e0c6d809fa6bdb23d6f76c86ab4b31009d94/build/README.md#basic-flow), explain a little bit on how to prepare Dockerfile before building kube-build image, to avoid confusion.

**Why is this needed**:
As a new developer to build Kubernetes by the [instruction](https://github.com/kuber

[2020-03-23 12:05] zzxwill commented on #89363
/sig documentation

[2020-03-23 12:09] cheneyzhao commented on #88387
got same issue to list by
```clientset.StorageV1().VolumeAttachments().List() ```

[2020-03-23 12:17] zzxwill commented on #89362
/sig Usability

[2020-03-23 12:20] kvaps commented on #88387
@cheneyzhao this is my solution:

https://github.com/kvaps/kube-fencing/blob/fb47a2450227341fe32592a7fb3e2d82271bdb55/pkg/controller/job/job_controller.go#L157-L174

[2020-03-23 12:24] liggitt commented on #82296
@maikelvl that was a bug fix in 1.15.5, due to upgrading the yaml library kubernetes uses. That is allowed in a patch release. What was output in 1.15.4 would not work properly with kubectl create or replace. What was output in 1.15.5 would work properly.

[2020-03-23 12:42] jeanluclariviere opened #89366 "Updating imageRepository and kubeadm config upgrade does not update registry for etcd"
**What happened**:
I'm switching a kubeadm initialized cluster to use a private repo via the imageRepository key in the kubeadm-config.

**What you expected to happen**:
I expect all control plane images to use the new repo and for those pods to be re-created and pull down the images via the private repo.

After modifying the kubeadm-config.yaml file i've created, i run the command: `kubeadm upgra

[2020-03-23 12:47] jeanluclariviere commented on #89366
/sig cluster-lifecycle

[2020-03-23 12:49] neolit123 commented on #89366
/area kubeadm
/triage needs-information

please show the contents of:
- `kubectl get cm -n kube-system kubeadm-config -o yaml`
and also:
- kubeadm-config.yaml

note that adding `--config` to the `kubeadm upgrade *` commands is going to be deprecated in the future. you should let kubeadm upgrade without reconfiguring the cluster.

[2020-03-23 12:53] danwinship commented on #88253
no

That depends on who Namespace labels are supposed to be for (in a cluster containing multiple levels of privilege). `NetworkPolicy` assumes that Namespace labels are there for namespace-level admins or end users to use for their own purposes, but `ValidatingWebhook` and `MutatingWebhook` use `NamespaceSelector` in a way that would be completely thwarted if arbitrary users could relabel their o

[2020-03-23 12:59] jeanluclariviere commented on #89366
[code]

[code]

[2020-03-23 13:03] jeanluclariviere commented on #89366
What would be the recommended approach for updating the kubeadm config post initialization in this case?

[2020-03-23 13:04] neolit123 commented on #89366
your configuration looks fine.

if you have to customize the image / repository under the `etcd:` field in the CLusterConfiguration, then kubeadm will pick the `imageRepository: my.repo.com:9999` instead.

questions:
- have you previously upgraded this cluster from older versions e.g. 1.14->15->16?
- what happens if you don't pass `--config` to `upgrade plan`?

manually editing the `kubeadm-config

[2020-03-23 13:09] jeanluclariviere commented on #89366
I'll also add that if i look in the `/etc/kubernetes/manifest` directory, all of the files have been updated except etcd:

<pre>
$ sudo cat kube-*.yaml etcd.yaml | grep image:
    image: my.repo.com:9999/kube-apiserver:v1.16.4
    image: my.repo.com:9999/kube-controller-manager:v1.16.4
    image: my.repo.com:9999/kube-scheduler:v1.16.4
    <b>image: k8s.gcr.io/etcd:3.3.15-0</b>
</pre>

[2020-03-23 13:10] neolit123 commented on #89366
[code]

do you recall why the etcd image has a different registry in the existing Pod?

[2020-03-23 13:11] notpad commented on #89267
I am working on the `pkg/scheduler/framework/v1alpha1` part, and got a problem here:

This test needs to get the label names/values, sampleCount of a Histogram, I didn't find function to get these two values in `testutil.go`.

Also, I am trying to use `CollectAndCompare` to pass the expected metric string and compare, but the problem is `sampleSum` is not a constant value (it is a duration and wil

[2020-03-23 13:22] ingvagabund commented on #88195
The new suite already deployed:
http://perf-dash.k8s.io/#/?jobname=scheduler-perf-benchmark&metriccategoryname=Scheduler&metricname=BenchmarkPerfResults&Metric=scheduler_scheduling_algorithm_predicate_evaluation_seconds&Name=BenchmarkPerfScheduling%2FSchedulingBasic%2F500Nodes%2F500InitPods%2F1000PodsToSchedule

[2020-03-23 13:27] jeanluclariviere commented on #89366
to answer your questions:

That is correct

I'll try this now and update the new post - thanks for your assistance.

[2020-03-23 13:27] #89366 closed

[2020-03-23 13:58] alculquicondor commented on #88614
@vincent-pli to clarify my question: do you (or are you able to) run your own scheduler?

[2020-03-23 13:59] rally25rs commented on #50345
Any way that this issue can be reopened?
I ran into it with AWS EKS, and mounting a ConfigMap like

[code]

You can update the `ConfigMap`, then wait some time (I waited 30min).
Then `kubectl exec -ti {pod} -- bash` into the running pod, `cat /usr/src/app/site_config.yml` and still see the old ConfigMap value.

Deleting the pod to force recreation results in having the correct file contents mounte

[2020-03-23 14:02] alculquicondor commented on #89036
@hex108 would you mind adding a perf test case in `test/integration/scheduler_perf/config/performance-config.yaml`?

[2020-03-23 14:12] WillLennon commented on #45509
Chiming in that I too need a way to delete specific pods.  The pods are doing asymmetric work which may take several hours to complete.  As work is finished the pods pick up new work.  When there are many idle pods I want to scale down by deleting the idle pods.  So I need to be able to select which pods to delete.

[2020-03-23 14:19] ahg-g commented on #89036
As @alculquicondor suggested, we need a benchmark first to understand how big of a problem this really is.

[2020-03-23 14:20] alculquicondor commented on #84338
I think we can move the channel to `pkg/scheduler/internal/parallelize` if #89070 goes through

[2020-03-23 14:22] dnaeon opened #89368 "Creating a new v1.17.4 cluster and after node restart the kube-apiserver pod cannot be started"
**What happened**:

Initial reported here: https://github.com/kubernetes/kubeadm/issues/2068

Boostrapped a single-node Kubernetes cluster using `kubeadm` according to the official documentation [here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/)

[code]

The output from `kubeadm` command is below.

[code]

Executed the next steps as suggested from

[2020-03-23 14:22] dnaeon commented on #89368
/sig api-machinery
/kind bug

[2020-03-23 14:24] droslean opened #89369 "[Failing Test] skew-cluster-latest-kubectl-stable1-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew)"
**Which jobs are failing**:
`skew-cluster-latest-kubectl-stable1-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew)`

**Since when has it been failing**:
`23th March 06:03 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig cli
/cc

[2020-03-23 14:36] gavinfish commented on #81657
/reopen
for not all the PRs are merged.

[2020-03-23 14:36] gavinfish commented on #81657
/remove-lifecycle rotten

[2020-03-23 14:42] alculquicondor commented on #87526
We can proceed with the 2nd part of this after #89298 lands

[2020-03-23 14:43] alculquicondor commented on #87526
Actually, we still need to support the command line flag, don't we?

[2020-03-23 14:47] ixdy commented on #88553
It should be possible to manually use a different version of Go without updating rules_go (basically by explicitly specifying the go toolchain to use). I've done this before (usually on release branches), and I can write a change for it later today if someone else doesn't get to it first.

[2020-03-23 14:50] neolit123 commented on #89368
/area apiserver etcd

[2020-03-23 14:53] droslean commented on #89369
/sig testing

[2020-03-23 14:53] alculquicondor commented on #88028
/reopen

Could you add some tests for `--algorithm-provider`, `--policy-config-file` and related?

[2020-03-23 14:58] gavinfish commented on #88028
/cc

[2020-03-23 15:00] lavalamp commented on #72637
/reopen
/lifecycle frozen

[2020-03-23 15:05] gxm651182644 commented on #19317
Have you solved it?

[2020-03-23 15:08] gavinfish commented on #87526
/cc

[2020-03-23 15:23] droslean commented on #89369
it seems that the error was a temporary infrastructure problem. Closing...
/close

[2020-03-23 15:24] #89369 closed

[2020-03-23 15:30] notpad commented on #88028
@alculquicondor Sure

[2020-03-23 15:41] hasheddan opened #89372 "[Flaky Test] Conformance - GCE - master (ci-kubernetes-gce-conformance-latest)"
**Which jobs are flaking**:

`ci-kubernetes-gce-conformance-latest`

**Which test(s) are flaking**:

`Up`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/cc @kubernetes/sig-testing
/priority critical-urgent
/milestone v1.19

[2020-03-23 15:42] hasheddan commented on #89372
/sig testing

[2020-03-23 15:46] droslean commented on #89372
This job is running every 3 hours. We should consider increasing the interval.

[2020-03-23 15:48] droslean commented on #89372
@alejandrox1 @justaugustus Can you give drop some context regarding the importance of the job. Is this should be tested every 3 hours?

[2020-03-23 15:53] chewong commented on #89307
Fixed by https://github.com/kubernetes/test-infra/pull/16877.
/close

[2020-03-23 15:53] #89307 closed

[2020-03-23 15:56] mikedanese commented on #88553
This fixed push-build: https://github.com/kubernetes/repo-infra/commit/506b905b84c5ecd65a675b34aa53a9d63acfee10
We should be able to bump bazel to 2.2.0. I'm working on it in my free time but would be happy for someone else to take over as well.

[2020-03-23 15:58] julianvmodesto commented on #86525
This is done now, thank you @zhouya0!

[2020-03-23 15:58] #86525 closed

[2020-03-23 15:58] julianvmodesto commented on #68526
This is done!

Follow ups:
- https://github.com/kubernetes/kubernetes/issues/88905

/close

[2020-03-23 15:59] alculquicondor commented on #88919
https://github.com/ahmetb/gen-crd-api-reference-docs worked. However, I need to feed a proper template to the tool. Any suggestions?

[2020-03-23 15:59] #68526 closed

[2020-03-23 15:59] nmiculinic opened #89374 "[Docs] Improve documentation for CRD/Structured merge diff integration"
This is possible for the wrong place to open this issue. If so please direct me where to put it.

**Background**

Kubernetes API server supports apply-patch https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/0006-apply.md  feature where under the hood CRD spec is parsed, appropriate `proto.Models` interface is created, and in combination with https://github.com/kubernete

[2020-03-23 16:00] nmiculinic commented on #89374
/sig api-machinery

[2020-03-23 16:01] nmiculinic commented on #89374
/wg apply

[2020-03-23 16:02] marosset commented on #89307
Thanks @chewong!

[2020-03-23 16:14] apelisse commented on #89374
/cc @lavalamp @jennybuckley @kwiesmueller

[2020-03-23 16:46] vennb commented on #75114
I am attempting the same on s390x, same error

[2020-03-23 17:24] droslean commented on #89134
@adelina-t Any news?

[2020-03-23 17:27] msau42 commented on #85248
/lifecycle frozen

[2020-03-23 17:33] neolit123 commented on #89360
/sig cli

[2020-03-23 17:46] micahhausler commented on #86448
/remove-lifecycle stale

[2020-03-23 17:48] jeremywadsack commented on #63214
/remove-lifecycle stale

[2020-03-23 17:51] droslean commented on #89372
Also, it is worth checking if other jobs got affected by the same reason at the same time. If yes then the problem is infrastructure-related and we should investigate further.

[2020-03-23 18:17] droslean commented on #89177
It seems that this is being tracked in https://github.com/kubernetes/kubernetes/issues/87851

[2020-03-23 18:17] droslean commented on #89177
Closing...
/close

[2020-03-23 18:17] #89177 closed

[2020-03-23 18:18] palnabarun commented on #81657
/lifecycle frozen

[2020-03-23 18:34] tallclair opened #89377 "CVE-2020-8551: Kubelet DoS via API"
CVSS Rating: [CVSS:3.0/AV:A/AC:L/PR:N/UI:N/S:U/C:N/I:N/A:L](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:A/AC:L/PR:N/UI:N/S:U/C:N/I:N/A:L) (Medium)

The Kubelet has been found to be vulnerable to a denial of service attack via the kubelet API, including the unauthenticated HTTP read-only API typically served on port 10255, and the authenticated HTTPS API typically served on port 10250.

#

[2020-03-23 18:35] tallclair opened #89378 "CVE-2020-8552: apiserver DoS (oom)"
CVSS Rating: [CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:N/I:N/A:L](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:N/I:N/A:L) (Medium)

The Kubernetes API server has been found to be vulnerable to a denial of service attack via authorized API requests.

### Am I vulnerable?

If an attacker that can make an authorized resource request to an unpatched API server (see below), th

[2020-03-23 18:41] spiffxp commented on #89369
I suspect the cause was that `us-west1-b` was temporarily out of compute, showed up in:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1241966898770350084#1:build-log.txt%3A376
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1242074355769282562#1:build-log.txt%3A376
[code]

[2020-03-23 18:45] ixdy commented on #88553
https://github.com/ixdy/kubernetes/commit/2a189ad34ee611a02a4bc1cda12deddcf1c15a44 shows how you can update the version of go used for bazel builds without updating `rules_go`. (I copied the list of SDKs from [here](https://github.com/bazelbuild/rules_go/blob/master/go/private/sdk_list.bzl).)

[code]

[2020-03-23 18:48] liggitt commented on #85762
Links to the investigations I was able to do:
* https://github.com/kubernetes/kubernetes/issues/85762#issuecomment-567792763
* combined e2e/api/kubelet log from failure with extended timeout: https://github.com/kubernetes/kubernetes/pull/86468#issuecomment-568078585

[2020-03-23 18:48] derekwaynecarr commented on #85762
Added to agenda for 3/24 sig-node call

[2020-03-23 19:09] dharmab commented on #89377
Is v1.15.10 the affected version or the fixed version? It's listed under both.

[2020-03-23 19:44] abdennour commented on #72597
My use case is the following:
- fighting against silos to make it work
- accessing api-server (192.168.x.x) is thru simple tunnel :  `ssh -N -L 6443:localhost:6443 `192.168.x.x`
- check api-server hostname from kubeconfig, and force it to resolve to localhost thru my local /etc/hosts.

Now all kubectl requests works like a charm.
But when it comes to `kubectl port-forward`, it does not work even w

[2020-03-23 19:57] wfagan opened #89383 "kubernetes-cni 0.7.5 Source Code"
I'm looking for the source code for the kubernetes-cni (0.7.5) package provided in the ubuntu xenial APT repository. Either the full package source, or at least the source code that the package uses.

Thank you

[2020-03-23 20:35] apelisse commented on #89374
@jennybuckley is also working on a change to make things simpler, since it will convert schemas directly from structural to SMD: https://github.com/kubernetes/kubernetes/pull/87872.

[2020-03-23 20:39] george-angel commented on #58065
/remove-lifecycle stale

[2020-03-23 20:46] Huang-Wei commented on #88077
SG. I created #89384 to address this.

[2020-03-23 21:33] bartelsb commented on #82346
We are also experiencing this issue on 1.15.5. Hoping it's fixed in later versions.

[2020-03-23 21:33] bartelsb commented on #82346
/remove-lifecycle rotten

[2020-03-23 21:38] albertofem commented on #84926
@nckturner Hi Nicholas. I have a working patch for this specific issue: https://github.com/kubernetes/kubernetes/compare/master...albertofem:feature/fix_aws_sg

This bug was the subject of a talk for a local meetup I did recently. I also published a personal blog post talking about it: https://rustylerp.com/post/exercises-in-code-reading-kubernetes.html. There you can see more details about how it

[2020-03-23 22:08] tedyu commented on #82346
@bartelsb
See @89155

[2020-03-23 22:32] #85122 closed

[2020-03-23 22:49] wincus commented on #82378
I was trying to figure out why our Network Programming Latency had so many spikes and turns out this is the reason. Because of this the metric is of little use as there is no way to discriminate valid from invalid observations.

[2020-03-23 23:14] zshihang commented on #75551
system components:
- [x] metrics-server
...

[2020-03-23 23:19] oomichi commented on #77095
Fixed a typo in the title

/retitle Break up and Refactor test/e2e/framework/util.go

[2020-03-23 23:33] #89378 closed

[2020-03-23 23:34] tallclair commented on #89377
Sorry, 1.15.10 is fixed.

[2020-03-23 23:34] #89377 closed

[2020-03-23 23:47] vincent-pli commented on #88614
@alculquicondor
I do have my own scheduler(based on Scheduler Framework) but only for gang-schedule not preemption.

[2020-03-23 23:52] vincent-pli commented on #89344
@angao
Thanks, I saw your example for `Scheduler Framework` on github, very useful.
What do you think about `Scheduler Framework`, is that ready for adopt now?  any plan for supply more guide line?

[2020-03-23 23:56] freddGO commented on #85625
I am having the same problem,  @VHariharmath did you find the solution?

[2020-03-24 00:10] #86387 closed

[2020-03-24 00:15] marosset commented on #89134
#89376 is the cherry-pick PR to bring this change into 1.18 branches

[2020-03-24 00:40] #76731 closed

[2020-03-24 00:40] #82369 closed

[2020-03-24 00:43] spiffxp commented on #88553
@justaugustus The removal of bazel is far-reaching enough that it merits a KEP.  If this is about unblocking you immediately, I would not recommend going that route, and instead look to others' suggestions above.

[2020-03-24 00:48] davidstack opened #89392 "kube-proxy ipvs mode does not update service endpoint ip when node fail"
**What happened**:
when one master power off, kube-proxy on another master does not update the svc endpoint ip.for example. before the master power off , the ipvs rule for servcie (nodeport is 32001)
![image](https://user-images.githubusercontent.com/5036200/77377191-60431400-6dad-11ea-8b99-752804e0468b.png)

after the master poweroff,the pod on this master migrate to another master,but the ipvs r

[2020-03-24 01:24] mikedanese opened #89396 "v1.Extender.HTTPTimeout is a time.Duration"
https://github.com/kubernetes/kubernetes/blob/2ab6357df0a513593b425f8abde6578687d44034/staging/src/k8s.io/kube-scheduler/config/v1/types.go#L210-L212

This requires specification as int64 nanoseconds so a one second timeout would need to be specified as 1000000000. It should be a metav1.Duration like other durations in the API but it's been like this since 1.2. Is anyone actually using this field?

[2020-03-24 01:24] davidstack commented on #89392
/sig network

[2020-03-24 02:06] angao commented on #89344
v1.18 is coming soon, maybe that is a chance. The document is being planed.

[2020-03-24 02:14] lubinsz commented on #75114
cc @zhlhahaha

[2020-03-24 02:31] diandiankou opened #89403 "how to get these data,such as the sum of all pod resource requests and limit of nodes through the k8s rest api"
I want to get some data, such as the sum of all pod resource requests and limit of nodes, but there is no such data through the k8s node rest API.
so,how to get these data through the k8s rest api, tks。

kubectl describe node 192.168.104.40
...
Allocated resources:
  (Total limits may be over 100 percent, i.e., overcommitted.)
  Resource  Requests     Limits
  --------  --------     ------
  cpu

[2020-03-24 02:33] arvera opened #89404 "Chart requires kubernetesVersion: >=1.11.1 which is incompatible with Kubernetes v1.15.9-gke.9"
Error: Chart requires kubernetesVersion: >=1.11.1 which is incompatible with Kubernetes v1.15.9-gke.9

[code]
[code]
**What happened**:
As I was trying to use helm 3.1.2 or 2.16.4, I get the error on the subject line

**What you expected to happen**:
I am not expecting to have a problem, as the version v1.15.9-gke.9 is > than 1.11.1

**Anything else we need to know?**:

**Environment**:
- Kubernet

[2020-03-24 02:38] davidstack commented on #89392
kube-proxy connect to the vip of apiserver ,if the apiserver shutdown, and the vip change to use another apiserver , will the watch event loss at this moment?
![image](https://user-images.githubusercontent.com/5036200/77382542-9be4da80-6dbb-11ea-93c0-9345e7234ed3.png)

[2020-03-24 02:49] liggitt commented on #89345
xref https://github.com/kubernetes/kubernetes/issues/88282

the namespace should be read from the admission attributes in create requests

[2020-03-24 03:23] liupeng0518 commented on #89208
OK, thanks..

[2020-03-24 04:38] thockin commented on #88253
Labels are SPECIFICALLY designed to be shared for multiple purposes.
That's what the prefix segment is for.  You can allow users to mutate
labels to their heart's content, as long as they either a) stick to
the prefix you gave them (or have no prefix, which is set aside
specifically for this) or b) don't use the prefixes that you declare
reserved.

E.g., system-oriented selectors should ALWAYS be

[2020-03-24 05:06] xtroncode opened #89410 "kube-scheduler panic in NodesHaveSameTopologyKey"
**What happened**:
We are facing regular kube-scheduler panics
**What you expected to happen**:
kube-scheduler should not panic
**How to reproduce it (as minimally and precisely as possible)**:
Sorry. I haven't been able to reproduce it, it started happening after we upgraded to 1.16.6.
**Anything else we need to know?**:
panic logs
[code]
**Environment**:
- Kubernetes version (use `kubectl versio

[2020-03-24 05:10] xtroncode commented on #89410
/sig scheduling

[2020-03-24 05:26] 1wpro2 commented on #89360
looks like the same issue with:
https://github.com/kubernetes/kubernetes/issues/77142
https://github.com/kubernetes/kubernetes/issues/67878

[2020-03-24 05:35] gavinfish commented on #77095
It seems most node related work has been done. I will continue to follow up node related refactor. Share it here to avoid unnecessary conflicts.

[2020-03-24 05:48] 1wpro2 commented on #89360
actually, it looks like it's the same for apiserver proxy. for example, if accessing the apiserver directly:

[code]

![image](https://user-images.githubusercontent.com/52658745/77392510-16baef00-6dd6-11ea-8f75-f72460231aa8.png)

[2020-03-24 06:19] uablrek commented on #89294
It will be in v1.18 when it is released. I think it's soon since rc.1 is out;
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md

[2020-03-24 06:38] humblec commented on #88643
/assign @humblec

[2020-03-24 06:39] humblec commented on #88643
@huchengze can you please let me know whats the ceph cluster version being used in your setup ? I am working on the fix.

[2020-03-24 06:41] humblec commented on #86551
/assign @humblec

[2020-03-24 06:43] humblec commented on #85454
/assign @humblec

[2020-03-24 06:44] humblec commented on #85454
@valumar can we track this issue in `kubeadm` ? appreciated if you can open an issue for tracking the same.

[2020-03-24 06:44] angao commented on #89312
Any good way to get CRD resources in the scheduler framework?

[2020-03-24 06:46] humblec commented on #83786
Yeah, instead of `external-storage` provisioner, please use ceph-csi provisioner which support resize too. Please let me know if you have any question on this.

[2020-03-24 06:47] humblec commented on #83786
/assign @humblec

[2020-03-24 06:47] humblec commented on #86406
/assign @humblec

[2020-03-24 06:54] humblec commented on #9083
afaict, this is fixed for RBDVolumeSource @thockin , if thats the case, cant we close this issue?

[2020-03-24 07:06] ydcool commented on #88643
wait a minute

[2020-03-24 07:07] huchengze commented on #88643
@humblec I totally forgot this...
[code]

[2020-03-24 07:15] humblec commented on #88643
@huchengze by any chance you have a nautilus cluster or any plans to migrate? if thats the case I can directly check on nautilus.

[2020-03-24 07:16] justaugustus opened #89414 "Update bazel to v2.2.0"
**What would you like to be added**:
- Update bazel to v2.2.0: https://github.com/kubernetes/kubernetes/pull/89430
- Document how to update bazel in kubernetes/kubernetes

**Why is this needed**:
ref: https://github.com/kubernetes/kubernetes/issues/88553#issuecomment-602411809

/assign @justaugustus @ixdy @fejta @BenTheElder @Katharine
cc: @kubernetes/release-engineering
/sig testing release
/area

[2020-03-24 07:19] justaugustus commented on #89414
I've started something here: https://github.com/kubernetes/kubernetes/pull/89342

More than anything, we need to complete this issue with a transfer of some of the tribal knowledge around bazel.
The current maintenance experience leaves a lot to be desired.

[2020-03-24 07:21] alikhil commented on #83111
/remove-lifecycle stale

[2020-03-24 07:28] huchengze commented on #88643
@humblec I don't have a nautilus cluster,but I think you can check on nautilus.
By the way, I have fix this in https://github.com/kubernetes/kubernetes/pull/88753.
But I forgot to fix and add some testcase in [rbd_test.go](https://github.com/kubernetes/kubernetes/blob/25d241eda2358e616752751713437f9e9aa8e904/pkg/volume/rbd/rbd_test.go).

[2020-03-24 07:29] justaugustus commented on #89414
/assign @mikedanese

Looks like a few PRs were opened up to start moving in this direction: https://github.com/kubernetes/test-infra/pull/16908, https://github.com/kubernetes/test-infra/pull/16910, https://github.com/kubernetes/test-infra/pull/16912, https://github.com/kubernetes/test-infra/pull/16913, https://github.com/kubernetes/test-infra/pull/16916, https://github.com/kubernetes/test-infra/pu

[2020-03-24 07:32] justaugustus commented on #88742
Tracking bazel upgrade to v2.2.0 here: https://github.com/kubernetes/kubernetes/issues/89414

[2020-03-24 07:44] justaugustus commented on #88553
I've applied the fix that @ixdy suggested to https://github.com/kubernetes/kubernetes/pull/89275 (which is now merged) and https://github.com/kubernetes/kubernetes/pull/88638, so I think we're good to drop the priority level here:
/remove-priority critical-urgent
/priority important-soon

Given the suggestions here, we'll need to proceed with maintaining bazel in the near-term.
I've opened https:/

[2020-03-24 08:15] oke-py commented on #89130
I'm satisfied with [today's Security Advisory](https://groups.google.com/forum/m/#!msg/kubernetes-announce/jPiyJ1KL_FI/1bMtMyS7BQAJ) as a prompt report. Thanks!

It'll be perfect for me if there is a list of vulnerabilities.

[2020-03-24 08:32] nmiculinic commented on #89374
btw, what does SMD stands for?

[2020-03-24 08:39] justaugustus commented on #86267
Given the priority dip on this one, I think it's fine for someone in Releng other than Tim or I to pick this up.

/unassign @tpepper @justaugustus

@kubernetes/release-engineering -- This is a good one to work on.
/help

[2020-03-24 08:45] cpanato commented on #86267
I can look that, after the release 1.18, if is that fine @justaugustus

then can we have a short discussion about this one?

/remove-help
/assign

[2020-03-24 09:00] justaugustus commented on #86267
@cpanato -- SGTM

[2020-03-24 09:01] lanycrost commented on #89404
Hi @arvera

Your issue not relate to kubernetes it's helm issue.

Please review links:

https://github.com/helm/helm/issues/6190
https://github.com/helm/helm/issues/3810

[2020-03-24 09:08] paxal78 commented on #79365
work form me !! thanks

[2020-03-24 09:15] MelissaOS commented on #89143
/sig scheduling-misc

[2020-03-24 09:24] fisherxu commented on #89377
Do we have relevant PR here?

[2020-03-24 09:36] lanycrost commented on #89403
You can debug and achieve your need using `kubectl`. It also uses the Kubernetes API Server for doing actions. So you can request

[code]

and see resources in response. As you can see `kubectl` does the manipulations with data he just asks the API Server for Pods, the rest of manipulations do `kubectl` by itself (-v 9 increases the verbosity).

Also, you can check this [documentation](https://kub

[2020-03-24 09:38] zhouya0 commented on #89267
`pkg/master` has been fix by this PR, isn't it?
https://github.com/kubernetes/kubernetes/pull/76741/files

[2020-03-24 09:45] angao commented on #89410
can you show your pod info?

[2020-03-24 09:49] mm4tt commented on #87851
Full log of the failure:
[code]

It looks like the `kubectl run` finishes with `pod not found` error. Strange, I thought `kubectl run` is supposed to create a pod.
Would really appreciate if someone from sig-cli could take a look

[2020-03-24 09:52] josephburnett commented on #84142
I've cherry picked #85027 on top of 1.14.8 and it indeed fixes the bug.  I've approved the PR and requested to fix it in `calcPlainMetricReplicas` as well.

[2020-03-24 09:53] MelissaOS commented on #89143
@kubernetes/sig-scheduling-misc

[2020-03-24 09:57] diandiankou commented on #89403
@lanycrost  thank you,but I want to get these data through the k8s rest api, not kubectl command。 there is no such data through the k8s node rest api.

[2020-03-24 10:31] kwiesmueller commented on #89374
Structured Merge Diff :-)

[2020-03-24 11:05] jeluard commented on #74201
@fungiboletus Did you find a way to achieve that in the end?

[2020-03-24 11:18] serathius commented on #89267
@zhouya0 If so then please just remove it from "prometheus_import_allow_list" build target

[2020-03-24 11:39] heckad commented on #79224
+1 reopen it.

[2020-03-24 11:45] lanycrost commented on #89403
@diandiankou no you can do that through Kubernetes API Server. You should get information and do manipulation with other piece program.

[2020-03-24 11:50] #84142 closed

[2020-03-24 12:32] xtroncode commented on #89410
kubectl -n kube-system describe pod

[code]

[2020-03-24 12:51] ahg-g commented on #89143
/remove-sig scheduling

[2020-03-24 12:51] ahg-g commented on #89143
@MelissaOS this is a node related issue not a scheduling issue.

[2020-03-24 13:23] mohit5577 opened #89426 "Error while starting POD in a newly created kubernetes cluster (ContainerCreating)"
Hello All,

I am new to kubernetes i have created kubernetes cluster with one Master node and 2 worker nodes.I have installer helm for the deployment of apps. I am getting the following error while starting the tiller pod

tiller-deploy-5b4685ffbf-znbdc        0/1     ContainerCreating   0          23h

after describing the pod i got the following result
[root@master-node flannel]# kubectl --names

[2020-03-24 13:24] saiharshitachava opened #89427 "Help in redirect kubelet logs to a customised log file"
HI Team,

Im trying to redirect kubelet service logs to customized location rather than /var/log/messages..

I tried configuring --log-dir and log-file under kubelet service file but dint work..

Currently kubelet is a systemd service running on our machines

Please help..

[2020-03-24 13:29] saiharshitachava commented on #89427
/sig node

[2020-03-24 13:50] liggitt commented on #89404
agree this is either a helm or a gke issue, not a kubernetes issue

/close

[2020-03-24 13:50] #89404 closed

[2020-03-24 13:51] felixPG opened #89429 "Configmap does not have the right owner"
**What happened**:

I have my statefulset with a security context configured:

[code]
So the volumes have to be mounted and the owner should be this user too, but this is wrong:
My volume:

[code]
Instead this file has owned by root instead of the user with id 998

**What you expected to happen**:

The file has the right owner instead of root

**How to reproduce it (as minimally and precisely as p

[2020-03-24 13:53] felixPG commented on #89429
/sig storage

[2020-03-24 14:02] liggitt commented on #89130
http://kubernetes.io/cve links to an issue query listing all disclosed vulnerabilities. We are investigating using the github advisories capability as well in the future, and if we switch to that, will update http://kubernetes.io/cve to redirect there.

[2020-03-24 14:02] alculquicondor commented on #89344
It seems that the question was answered.

/close

[2020-03-24 14:02] #89130 closed

[2020-03-24 14:03] #89344 closed

[2020-03-24 14:03] alculquicondor commented on #89344
Btw, this repository is meant to have samples and common plugins, but it's still in construction
https://github.com/kubernetes-sigs/scheduler-plugins

[2020-03-24 14:04] abualy commented on #69697
/remove-lifecycle stale

[2020-03-24 14:04] alculquicondor commented on #89312
@angao your question seems off-topic for this thread. Please open a new issue if necessary.

[2020-03-24 14:05] alculquicondor commented on #82118
/close

[2020-03-24 14:06] #82118 closed

[2020-03-24 14:18] alculquicondor commented on #87784
Any further questions? I would like to get this fixed early in the development cycle of 1.19.

[2020-03-24 14:27] micmax93 commented on #24803
For `httpGet` hook try setting path without leading slash, so `v1/close` instead of `/v1/close` - worked for us.

[2020-03-24 14:42] mikedanese commented on #89414
Bazel build and test are fixed in https://github.com/kubernetes/kubernetes/pull/89430, just waiting on a kubekins version bump. It looks like this one: https://github.com/kubernetes/test-infra/pull/16904 doesn't have @fejta's fix: https://github.com/kubernetes/test-infra/pull/16910

[2020-03-24 14:42] gongguan opened #89431 "run e2e-node test locally failed"
**What happened**:
`make test-e2e-node` locally always failed (related to kubelet readiness check)
**What you expected to happen**:
run e2e-node tests locally successfully.
or leaves a clear failing reason(logs only told `e2e service "services" readiness check timeout 2m0s`).
**How to reproduce it (as minimally and precisely as possible)**:
run `make test-e2e-node FOCUS="xxx"` in kubernetes root d

[2020-03-24 14:43] gongguan commented on #89431
/sig testing

[2020-03-24 15:40] linehrr opened #89432 "finished cronjob does not have logs from stderr"
**What happened**:
After scheduled cron job finished, we can only get logs from stdout but there is no stderr.

**What you expected to happen**:
by doing `kubectl logs` on the finished pod, you will only see stdout, no stderr.

**How to reproduce it (as minimally and precisely as possible)**:
this is the cron template we've used.
[code]
after job finished, trying to do `kubectl logs` will only see

[2020-03-24 16:06] captain-kark commented on #82339
In my experience, the only time scripts seem to break is when the pod gets a second container and there was no `-c` set in the script.

If containers are a list, wouldn't that imply that every pod is "multi-container"? Seems like the current default behavior is already set to use the first container in the pod, there's just an unspoken condition that the pod is examined up front and checked that t

[2020-03-24 16:06] ahg-g opened #89433 "Graduate PodTopologySpread to GA"
Graduate PodTopologySpread to GA, the feature is currently in Beta, it was first introduced in 1.16 and since then no major changes happened to the feature.

/sig scheduling
/assign @Huang-Wei
/milestone v1.19

[2020-03-24 16:09] ahg-g opened #89434 "TestUnreservePlugin is flaky"
**Which jobs are flaking**:
pull-kubernetes-integration

**Which test(s) are flaking**:
TestUnreservePlugin

Example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89270/pull-kubernetes-integration/1242471529611005952

/sig scheduling
/help

[2020-03-24 16:10] ahg-g commented on #89259
@fengzixu any progress on this one?

[2020-03-24 16:17] fengzixu commented on #89259
@ahg-g  I was working on it and tried to find the root cause. I will give my solution within this week

[2020-03-24 16:21] ahg-g commented on #89410
It is possible the underlying issue is similar to https://github.com/kubernetes/kubernetes/issues/89006

/assign @alculquicondor

[2020-03-24 16:27] ahg-g commented on #89410
@xtroncode do you have a cluster where nodes are added/removed frequently?

[2020-03-24 16:34] xtroncode commented on #89410
@ahg-g yes, we use cluster-autoecaler , and scaling activity is frequent.

[2020-03-24 16:45] ahg-g commented on #89410
I think the problem is a consequence of changing listing the nodes from the informer cache to the scheduler cache (which in 1.17 changed again to list from the snapshot):

In 1.15: https://github.com/kubernetes/kubernetes/blob/release-1.15/pkg/scheduler/factory/factory.go#L567

In 1.16: https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/scheduler/factory/factory.go#L505

[2020-03-24 16:57] artisticcheese commented on #88942
Can you @gimlichael elaborate on solution? I have 1909 image which fails to run due to pause image incompatibility. There is no pause image available for 1909 by Microsoft? I see pause image which is used `--pod-infra-container-image=mcr.microsoft.com/k8s/core/pause:1.2.0` via kubelet parameter. I expected this image to be multiplatform and provided by Microsoft. It's not the case?

[2020-03-24 17:00] fungiboletus commented on #74201
I use Helm.

Le mar. 24 mars 2020 à 12:05, Julien Eluard <notifications@github.com> a
écrit :

[2020-03-24 17:06] ahg-g commented on #89410
[Here](https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/scheduler/algorithm/priorities/interpod_affinity.go#L186) we check that nodeinfo.Node is not nil, but by the time we get to [L115](https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/scheduler/algorithm/priorities/interpod_affinity.go#L186), the node inside nodeInfo gets deleted causing the panic.

in 1.15 this would

[2020-03-24 17:16] vpickard commented on #89087
You should be able to look at the cpuset as shown below to figure out the CPUs allocated.

[root@nfvsdn-20 ~]# kubectl exec testpod1 -- cat /sys/fs/cgroup/cpuset/cpuset.cpus
2,4,6,8,10,14,16,18,20,22

[2020-03-24 17:16] ahg-g commented on #89410
The same issue with the inter-pod affinity predicate: https://github.com/kubernetes/kubernetes/blob/release-1.16/pkg/scheduler/algorithm/predicates/predicates.go#L1307

[2020-03-24 17:18] ahg-g commented on #89410
looking at predicate and priority registry, it seems only interpod affinity uses the node lister, so I think the above two cases are the only ones, but we should double check.

[2020-03-24 17:27] jeluard commented on #74201
@fungiboletus Helm allows to store Ingress config as ConfigMap?

[2020-03-24 17:28] artisticcheese commented on #80032
This needs to be reoponed as issue is not fixed and shall  be using multiplatform image for pause image.

[2020-03-24 17:31] liggitt commented on #87784
Is the expectation that all plugins and their args will be compiled-in?

[2020-03-24 17:33] paalkr commented on #84142
@josephburnett , thx a lot! So in the next release of 1.14, 1.15, 1.16 and 1.17 this bug will be fixed?

[2020-03-24 17:41] gjtempleton commented on #84142
Unless I'm mistaken this won't be cherry-picked back to 1.14 as it's fallen out of support as of the GA release of 1.17 as per [the support policy](https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions).

At best it'll be getting back to 1.15.

[2020-03-24 18:01] dashpole commented on #88543
We discussed this in sig-node.  The conclusion was:

1. This is a bug
2. We should introduce a node e2e test which inspects the container runtime to ensure all resources are gone after the pod is deleted
3. No need for a KEP.  Feel free to open a PR to fix it, and an e2e test that demonstrates the fix.

Feel free to assign the PR to me for review.

[2020-03-24 18:04] hh commented on #85782
/close

[2020-03-24 18:05] #85782 closed

[2020-03-24 18:16] alculquicondor commented on #87784
Yes. But only in-tree plugins would have their types versioned in `k8s.io/kube-scheduler`

[2020-03-24 18:26] alculquicondor commented on #89259
Another one https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89070/pull-kubernetes-integration/1242466748452573184

[2020-03-24 18:41] tedyu opened #89439 "Promote CRIContainerLogRotation to GA"
**What would you like to be added**:
CRIContainerLogRotation is promoted to GA

**Why is this needed**:
CRIContainerLogRotation has been beta since 1.11

[2020-03-24 18:41] tedyu commented on #89439
/assign

[2020-03-24 18:41] tedyu commented on #89439
@Random-Liu
What do you think ?

[2020-03-24 18:42] tedyu commented on #89439
/sig node

[2020-03-24 18:43] GT16 commented on #23726
Thanks!!!
This reminded me that I didn't have a variable export in my ~/.bashrc for a KUBEKONFIG system variable.
Adding that fixed my issue!

E.g.:
`### ADD in ~/.bashrc
export KUBECONFIG=$HOME/.kube/eksctl/clusters/serv-eks-dev`

[2020-03-24 19:02] mikedanese commented on #89414
Friction log so far (tainted by my unfamiliarity with test and release infra):
* We've had a lot of drift with bazel and repo-infra because we've been putting this off for so long.
* There are so many test images that need to be updated and it's hard to know which for a new comer.
* We want this to tie the upgrade with a change in k/k. Because the  spans k/test-infra, k/repo-infra, k/release, ther

[2020-03-24 19:04] derekwaynecarr commented on #88543
/milestone v1.19

[2020-03-24 19:24] technosophos commented on #89156
Yes. As I noted in the issue, any platform that uses the API but does NOT right-pad dates will fail with a parse error. RFC3339 does not require padding dates (and, in fact, remains silent on the matter). Thus, Kubernetes is placing a requirement over and above the RFC, and one that does not match other implementations of the RFC.

[2020-03-24 19:57] hh commented on #88545
@johnbelamaric Should we look at existing tests that hit these and update the existing test in node that create pods sans controller. Could we check an status check on those pods.

@BobyMCbobs we have lifecycle tests that test primary the crud and direct (non artifacts)

@johnbelamaric Delete a collection might be a new feature...It's not critical either way we can do it this way. No objection fro

[2020-03-24 19:59] hh commented on #89071
@spiffxp  Fine with moving forward

@johnbelamaric You don't need to check the status of the secret as part of the test. In other places we check that the resource in question happens, we don't have to follow.

[2020-03-24 20:05] praseodym commented on #89426
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2020-03-24 20:19] praseodym commented on #89271
This could probably be implemented by writing a custom [Cluster Autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) provider, where scaling up is done by Wake-on-LAN and scaling down by putting a node to sleep.

[2020-03-24 20:23] fedebongio commented on #89274
/cc @apelisse

[2020-03-24 20:23] rata commented on #89378
Is it possible to include a link to the PR/commit that fixed this?

[2020-03-24 20:25] fedebongio commented on #89356
/assign @jpbetz

[2020-03-24 20:26] fedebongio commented on #89368
/assign @jpbetz

[2020-03-24 20:30] lavalamp commented on #89273
In the bug triage meeting we flagged this as worth a bigger discussion. Maybe to be hosted by WG Apply?

- a collection of cases for evaluating how well various rules (like the one I suggested) capture human intuition would be very helpful
- hopefully we don't need to make the API author declare the behavior, but maybe?
- @deads2k brought up the case of controllers that want to hand-off fields bet

[2020-03-24 20:40] apelisse commented on #89273
I'm happy to be wrong with the following, it's up for debate. It's describing how I've considered things so far, not how I'll consider them for the rest of time :-)

My understanding is that these are different because the set of possible "key" is not properly defined, which is different from other fields (including args, which you know exist by looking at the openapi).

The reality of your exampl

[2020-03-24 20:42] cji commented on #81135
/lifecycle frozen

[2020-03-24 20:42] cji commented on #81119
/lifecycle frozen

[2020-03-24 20:43] jpbetz commented on #89368
@dnaeon would you provide the etcd log? The kube-apiserver is clearly having trouble connecting to it and it looks like it might be crashlooping.

[2020-03-24 20:47] rajatchopra opened #89440 "Slow CNI cmdDel processing causes infra container to be deleted prematurely"
**What happened**: When a pod is deleted, it calls cmdDel on multus which in turn calls sriov-cni plugin multiple times for all the interfaces. This process takes time, but in the middle of it the infra container gets killed - and network namespace gets deleted.
The result of removing network namespace before cmdDel is done is that proper cleanup does not happen (and in sriov's case, the renaming

[2020-03-24 20:50] rajatchopra commented on #89440
/sig network

Attention: @dcbw @pmorie  (from git blame and general guidance)
cc @blackgold (for investigating the issue)
cc @kubernetes/sig-network-bugs (for help in triaging)

[2020-03-24 21:07] serathius commented on #89267
Personally I would be for focusing on removing dependencies in this issue. I have doubts that prometheus "CollectAndCompare" matches on how we currently do tests in k8s. Before refactoring we should agree on how metrics should be tested.

@RainbowMango WDYT?

[2020-03-24 21:09] #82776 closed

[2020-03-24 21:09] mattjmcnaughton opened #89443 "Parallelize prepulling all images in `e2e_node` tests"
**What would you like to be added**:
Unless disabled, the `test/e2e_node` tests will prepull all images when running. They do so using the [PrePullAllImages function](https://sourcegraph.com/github.com/kubernetes/kubernetes@master/-/blob/test/e2e_node/image_list.go#L138).

I think there's the opportunity to improve the runtime of the test suite by prepulling the images in parallel.

**Why is this

[2020-03-24 21:09] mattjmcnaughton commented on #89443
/sig node

[2020-03-24 21:12] mattjmcnaughton commented on #89443
I think this could be a good first issue for someone looking to get involved with contributing to sig-node :)

[2020-03-24 21:22] dnaeon commented on #89368
@jpbetz I have removed the VM I've used when initially reported this bug, but since this is easily reproduced I've deployed another one instead.

Here are the etcd logs.

[code]

This is how my pods look like after doing a node restart.

[code]

Also, note that `kube-apiserver` is actually running (and this is correctly reported by `kubectl describe pod kube-apiserver-k8s-apiserver-bug`).

[code]

[2020-03-24 21:25] lavalamp commented on #89273
Interesting take, but since the default is to have nothing there, it makes the live object depend on history-- should I also explicitly specify all the other features I don't want to use?

[2020-03-24 21:30] sam-gaylert commented on #89443
I'd be interested! I'm looking for a first issue and think this would be a good one

[2020-03-24 21:32] jpbetz commented on #89368
Hm. That etcd log doesn't have a crash. If you run `docker ps -a` do you see any etcd containers that have already terminated? Can we get a log from one of those?

[2020-03-24 21:37] apelisse commented on #89273
It does depend on history, I think we should fix that problem by making it obvious to people.

I want to say yes, but I see how it's neither doable nor desirable.

There's probably a spectrum "I don't care about this value", "I expect the default to do the right thing" "if something/someone changes this, I'm probably fine" and "if this field changes, my app is completely broken".

Some examples of

[2020-03-24 21:41] lavalamp commented on #89273
Quotas specifically I expect the system to magically figure out for me (eventually).

If I remove an env var, I definitely expect it to go away--that could break my app otherwise. If someone else adds one, though, that's fine (e.g. HTTPS_PROXY)

[2020-03-24 21:46] lavalamp commented on #88091
@deads2k is interested in this.

[2020-03-24 21:47] lavalamp commented on #88091
YAML is a superset of JSON, so we don't need both.

[2020-03-24 22:06] tedyu commented on #89440
/sig node

[2020-03-24 22:09] reylejano-rxm commented on #86882
Please add appropriate verbiage about the xfs filesystem bug that will be under the 1.18 Release Notes "Known Issues" section.
/cc @alejandrox1 @gnufied @saad-ali

[2020-03-24 22:12] dnaeon commented on #89368
Here's the output from `docker ps -a`:

[code]

Logs of `c5584f87db70`

[code]

Logs of `6a6156578ede`

[code]

The `etcd` pod.

[code]

Thanks!

[2020-03-24 22:18] michmike commented on #80032
@marosset PTAL

[2020-03-24 22:19] michmike commented on #80032
cc: @adelina-t

[2020-03-24 22:20] thockin commented on #87709
Sorry I lost this one.

I am generally in favor of the idea, but I have a few questions.

a) Do we need to distinguish logging policy for ingress vs egress?  E.g. log all failed egress attempts, but ignore failed ingress.

b) What does it mean if I have 2 policies selecting the same pod and one says to log and the other says not to?

c) Do we need per-rule policies (or per-peer) for Allow?  Or all

[2020-03-24 22:24] marosset commented on #80032
We a multiarch/multiplatform pause image for Windows published at mcr.microsoft.com/oss/kubernetes/pause:1.3.0

This image should contain imags for Windows versions 1803, 1809 / 2019, 1903, and 1909.

@artisticcheese can you take a look at this image and see if it meets your needs?

[2020-03-24 22:27] #89284 closed

[2020-03-24 22:27] #89261 closed

[2020-03-24 22:27] #85762 closed

[2020-03-24 22:32] jpbetz commented on #89368
The only thing I see from the logs of interest is `etcdmain: listen tcp 192.168.88.242:2380: bind: cannot assign requested address` from the crashed etcd. etcd deliberately crashes after printing this (which is why that log line is labeled with log severity `C`).

This could either be a temporary issue due to some startup ordering, in which case it might be red herring, or it could be persistent,

[2020-03-24 23:18] thockin commented on #88711
We have a new field called "startupProbe", which is what you want, I think.  None of the other probes will fire until the startup probe completes.  So you can set a large number of retries on that, and then once startup is complete, start a shorter sequence of liveness probes.

[2020-03-24 23:18] #88711 closed

[2020-03-24 23:19] #88101 closed

[2020-03-24 23:20] #88012 closed

[2020-03-24 23:22] thockin commented on #85881
I'll close this for now.  If this is real or widespread, it will come back.  Without a repro or further debug, there's just not much we can do.

[2020-03-24 23:22] #85881 closed

[2020-03-24 23:25] mattjmcnaughton commented on #89443
Wonderful! Want to reach out to me on Kubernetes slack? https://slack.k8s.io/

I'm @mattjmcnaughton on there too :)

[2020-03-24 23:27] thockin commented on #85020
What do you mean port allocation for workloads?

To fix this, we'd need to build a live migration from the older unified space to a split space, keyed by protocol.  This is not impossible, but it's tedious to think through.  Especially if we want to try to auto-allocate the same NodePort between protocols when the service port matches (e.g. I say 53 TCP and 53 UDP, and get allocated 30053 and 3005

[2020-03-24 23:29] thockin commented on #84794
@chrisohaver Should we leave this open here or close it?  Does it smell like kubeadm or CoreDNS?  We don't have any other matching reports as far as I can tell...

[2020-03-24 23:30] notpad commented on #89434
/assign
/remove-help

[2020-03-25 00:27] artisticcheese commented on #80032
So to make use of it I need to modify kubelet service start up parameter, correct? Because it's currently set to 1.2.0

[2020-03-25 00:29] robscott commented on #85643
I don't have much to add here, agree that it would likely take a new KEP to completely solve this. This KEP primarily has IPVS in mind, but the API changes could likely help solve this issue as well: https://github.com/kubernetes/enhancements/pull/1607.

[2020-03-25 00:40] marosset commented on #80032
The image name changed as well due to some new requirements on naming for mcr images.
mcr.microsoft.com/k8s/core/pause:1.2.0 to mcr.microsoft.com/oss/kubernetes/pause:1.3.0

Our goal moving forward is to publish new versions of mcr.microsoft.com/oss/kubernetes/pause which container support for new windows server releases as they happen.

[2020-03-25 00:42] marosset commented on #80032
Yes - you'll need to have the --pod-infra-countainer-image argument for the kubelet to point to the new pause image when running on Windows versions released after 1809/2019

[2020-03-25 00:50] artisticcheese commented on #80032
Yes, this works with `mcr.microsoft.com/oss/kubernetes/pause:1.3.0`. Docs needs to be updated and binaries, otherwise out of the box kubernetes installed on 1909 and using 1909 images would fail straight up.

[2020-03-25 01:15] Luffy110 commented on #89429
I have this issue too. i don't know how to fix it. and this issue will cause file always appear CHMOD event about 1 minute. and also i don't know why.

[2020-03-25 01:33] evillgenius75 commented on #86882
Ref #89440
PR#126 added an extra step to run xfs_repair before mounting a XFS file system. However instead of helping to automatically correct FS issues due to prior unclean shutdowns, it actually prevented auto recovery from happening, which led to complete unavailability of the corresponding volume and subsequently required manual human intervention

[2020-03-25 01:44] gnufied commented on #86882
Wait - aren't we holding 1.18.0 release so as we can merge https://github.com/kubernetes/kubernetes/pull/89444 and cherry-pick? Do we still need to capture this in "Known Issues"?

[2020-03-25 01:47] RainbowMango commented on #89267
The reference we need to remove mainly is `github.com/prometheus/client_golang/prometheus`, that we can ensure all components turn into component-base instead of using Prometheus directly.

For other references, actually we don't need to move them in a rush as they won't hurt anything.
The benefit when we move these references is we can provide a uniform style for metrics testing.

If current util

[2020-03-25 02:04] mikedanese commented on #89414
We broke 1.16 and 1.15 branch jobs because those branches did not have a .bazelversion files: https://github.com/kubernetes/test-infra/pull/16910#issuecomment-603540353

[2020-03-25 02:14] tdihp commented on #82776
Closing as #86481 merged

[2020-03-25 02:27] yqwang-ms commented on #83834
/remove-lifecycle rotten

[2020-03-25 02:38] neolit123 commented on #89432
/sig apps

[2020-03-25 02:47] fejta commented on #89414
/assign

[2020-03-25 02:59] lusterally opened #89455 "（Istio 1.5.0 ）No resources found in default namespace."
OS :CentOS 7.7
Product:
Docker 19.03.4-3
Kubernetes 1.16.0
Istio 1.5.0

I installed Istio with reference to the official website(https://istio.io/docs/setup/getting-started/), and deployed the bookinfo app.
 When executing "kubectl get pods", "No resources found in default namespace." is displayed.

[code]

[2020-03-25 03:07] xing-yang commented on #86882
Yeah, once #89444 is merged and the cherry-pick #89449 is merged, we should not need to have this as "Known Issues".

[2020-03-25 03:10] masterkain commented on #53059
same on scaleway kapsule

[2020-03-25 03:10] xing-yang commented on #86882
Also the referenced issue 89440 is a different one, not related to the xfs_repair issue.

[2020-03-25 03:22] antoninbas commented on #88947
It may have something to do with the emulation. I am in a similar situation:

1) I have built a custom Kind node image for arm64 using the K8s v1.17.4 source code, on a native arm64 machine
2) I can create a Kind cluster on that same arm64 machine using the custom Kind node image, without any issue
3) I cannot do the same thing when emulating an arm64 machine with qemu (on an amd64 system). Kind c

[2020-03-25 03:27] neolit123 commented on #88947
we've seen kubeadm failures on arm due to liveness probes:
https://github.com/kubernetes/kubeadm/issues/1380#issuecomment-459970197

[2020-03-25 03:36] antoninbas commented on #88947
@neolit123 so is it an issue with arm or with slow machines. Because if the RPI is slow, then that makes an emulated arm system very very slow...

[2020-03-25 03:38] tanjunchen commented on #86597
@hase1128  How about this now?
/help
Marking this tag so that others can easily access it.

[2020-03-25 03:46] terinjokes commented on #58065
For non-SPDY requests, `kubectl` uses the proxying support in Go's net/http without modification. This works correctly for SOCKS5 proxies.

For SPDY connections, there's a separate RoundTripper in the [k8s.io/apimachinery/pkg/util/httpstream/spdy](https://github.com/kubernetes/kubernetes/blob/044a4ce21de7e89308be6cedc59fbf1cbb6b30b9/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtri

[2020-03-25 03:49] RaunakShah commented on #89313
Closing this because i realise now i was looking at the wrong piece of code

[2020-03-25 03:59] MikeSpreitzer opened #89458 "Inaccurate logging when RBAC Authorizer returns DecisionNoOpinion"
**What happened**:
https://github.com/kubernetes/website/issues/19828

I tried reading the code to figure out what the true story is.  I discovered that the RBAC Authorizer never returns DecisionDeny, it uses DecisionNoOpinion instead.  But I noticed that it logs "RBAC DENY".

It appears that #53273 changed the decision from binary to three-way, but did not update the log message.

The user-facing

[2020-03-25 04:00] MikeSpreitzer commented on #89458
@kubernetes/sig-api-machinery-bugs

[2020-03-25 04:24] neolit123 commented on #88947
back when more users were reporting this (before the 1380 kubeadm ticket) it was reported as an issue on slow ARM machines and not slow machines in general.

[2020-03-25 04:45] hase1128 commented on #86597
I think we've finished adding simple explanations to the almost scripts.

It seems that several scripts of update-XXXX.sh does not complete yet.
I think we may able to close after that work.

[2020-03-25 05:06] Prasanna-sr commented on #70010
same bugs report with version v1.11.7

[2020-03-25 05:15] Shuanglu commented on #85881
understood. anything could help debug if we cannot reproduce it? like increasing verbosity level of kube-proxy?

[2020-03-25 05:55] uablrek commented on #89358
I get this locally when running e2e. But when I check it manually it seem to work. I theory I have is that the stickiness remains as long as ipvs has "inactive" connections. Meaning that a timeout lower than the TIME_WAIT (2 minutes) will not work as expected. I will try to find time to investigate further.

[2020-03-25 06:02] #85277 closed

[2020-03-25 06:39] dnaeon commented on #89368
Hey @jpbetz ,

I don't see `etcd` keep crashing.

[code]

Btw, this behaviour is easily reproduced. Almost every time I reboot the node I end up in this issue.

I can easily "fix" this by delete the pod and the already running container.

[code]

Then things look good.

[code]

However, I'd like to understand how to fix permanently, instead of doing this manually each time a node reboots.

[2020-03-25 06:46] mohit5577 commented on #89426
Ok .. will post on those forum. Thanks for the update Mark.

-Regards
  Mohit

On Wed, Mar 25, 2020 at 1:35 AM Mark Janssen <notifications@github.com>
wrote:

[2020-03-25 06:49] uablrek commented on #89440
Duplicate? https://github.com/kubernetes/kubernetes/issues/88543

[2020-03-25 07:02] gitbeyond commented on #88898
If a pod can access the resources on the node, such as the labels and annotations of the node.

Then the resource on it is accessed as a variable.

For example, set the label for
node1: `filebeat_run_args: -e -c /etc/filebeat/filebeat.yml`

node2: `filebeat_run_args: -e -c /etc/filebeat/filebeat_2.yml`

Then set the start parameter of pod in daemonset to use `$(filebeat_run_args)` like this.

[2020-03-25 07:30] tatsuhiro-t commented on #87756
I encountered this issue.  I think #83084 has the bug that o.namespace gets "default" if no namespace is given.  Then only a single namespace is visited with or without namespace.
If my observation is correct, it changes the bahaviour drastically.  In my work, pruning just stops working.

[2020-03-25 07:59] felixPG commented on #89429
@Luffy110 Configmaps are mounted always as readonly filesystem, so you can only read the file, never write, change owner, etc. My problem is that the volume when you apply a security context should be owned by the user specified in the security context, and this is not happend.

[2020-03-25 08:15] smileusd commented on #85476
@jsafrane Thanks a lot. Your comments very helpful.

[2020-03-25 08:15] angao commented on #89396
@alculquicondor WDYT? I can do this update if it is accepted.

[2020-03-25 09:03] #89247 closed

[2020-03-25 09:37] ganadara135 commented on #86776
this is related to option problem in my case.
I remove -v ... option
after that, the error message was gone.
docker run -p 80:80 **-v $(pwd)/default.conf:/etc/nginx/conf.d/default.conf** -d --name abbweb ganadara135/abbweb:latest

[2020-03-25 09:38] Waitfish commented on #88912
yes,the startupProbe not for me too.

my kubelet version is:
[code]

[2020-03-25 09:51] brb commented on #87263
@adamcooke Your failing case should work with Cilium v1.7.1 and `--kube-proxy-replacement=strict`.

[2020-03-25 10:00] rajeshg007 commented on #83348
/remove-lifecycle stale

[2020-03-25 10:00] fengzixu opened #89466 "Two controller-manager leader exist"
**What happened**:
In the cluster, two controller-manager work. Both of them acquire the leader lease successfully.

**What you expected to happen**:

Obviously, only one controller-manager

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):1.15.3
- Cloud provider or hardware configu

[2020-03-25 10:03] fengzixu commented on #89466
master1
[code]

master3
[code]

And I checked the endpoint of kube-controller-manager,holderIdentity shows the master1 is the leader.
[code]

[2020-03-25 10:03] fengzixu commented on #89466
/sig api-machinery

[2020-03-25 10:17] uablrek commented on #87263
I asked on the cilium slack https://cilium.slack.com/archives/C53TG4J4R/p1585126139004400 and got a link from @tgraf to https://github.com/cilium/cilium/issues/9784 which may be the cause.

In any way I conclude that this is a `cilium` issue refering to the above and https://github.com/kubernetes/kubernetes/issues/87263#issuecomment-603745779. Since this problem can't be solved by K8s I close this

[2020-03-25 10:17] #87263 closed

[2020-03-25 10:55] itshikanov opened #89468 "service ipvs mode. long request time."
**What happened**:
I have cluster with 3 master nodes. Master nodes tainted and can run pods.
service.conf.yml:

[code]
project_deployment.yml:

[code]

[code]
[code]

exec curl from console, on one server.  3 times to get all 3 pod.

[code]

3 seconds. When request go to another node.

**What you expected to happen**:
I am try to create my own ipvs rules with  another port on some server.
Command

[2020-03-25 10:59] ZLget commented on #85741
是的，其他node节点可以ping通节点X。

[2020-03-25 11:00] ZLget commented on #85741
是的，其他node节点可以ping通节点X

Yes, other nodes can ping node x

[2020-03-25 11:05] prary commented on #83313
/remove-lifecycle stale

[2020-03-25 11:08] ZLget commented on #85741
我发现问题出在kube-proxy上面，然后我尝试了跟多种kube-proxy版本。1.9.2、1.10.2、1.11.2、1.12.2...1.16.2。在这些版本的kube-proxy中，只有1.10.2的kube-proxy是可以用的。当然这也要使用对应的kube-proxy配置。但是这个时候会发生另外一个问题，就是这个节点X 无法访问 k8s 中的 service了。

I found that the problem was on the Kube proxy, and then I tried with several versions of Kube proxy. 1.9.2、1.10.2、1.11.2、1.12.2...1.16.2。 In these versions of Kube proxy, only 1.10.2 Kube proxy is available.

[2020-03-25 11:18] alemonmk opened #89469 "Defining container resources limit implies resource requests"
**What happened**:
Basically what happens here: https://github.com/piraeusdatastore/piraeus/issues/19
Their deployment yaml has `resources.limits` defined, `resources.requests` not defined in *Sets, but `resources.requests` is defined in the created pods and they request same amount of resources as the limits.

**What you expected to happen**:
Limiting the resources usage should not reserve any re

[2020-03-25 11:46] davidkarlsen commented on #67526
/remove-lifecycle stale

[2020-03-25 12:05] oxddr opened #89471 "ServerTimeout is returned when a pod has a conflicting name."
**What happened**:
`ServerTimeout` is returned when a pod has a conflicting name: https://github.com/kubernetes/kubernetes/blob/c441a1a7dcca81aa6bd7f9b0f5babe6e8a590c7b/staging/src/k8s.io/apiserver/pkg/registry/rest/create.go#L137
It's expected to retry calls ended with timeout, so creation of pod with already taken name will be retried, when clearly it won't be able to succeed.

Also `ServerTimeo

[2020-03-25 12:05] oxddr commented on #89471
/sig api-machinery

[2020-03-25 12:08] k2huang commented on #89345
Yes, we can get it from admission attributes. But I'm confused why ReplicaSet/Job/Daemonset controllers don't add namespace when creating Pod as StatefulSet Controller.

[2020-03-25 12:39] nvidhub opened #89472 "How to get pod exec api doc in apiserver"
hello every one, i have a question that how to get pod exec api doc in apiserver
Although I can get this information from the source code, it is not standard and inefficient
I think API server, kubectl and kubelet should have detailed API documentation. I read it carefully in the official document, but I didn't find the API information about pod exec
I hope someone who knows me can give me some ad

[2020-03-25 13:18] chrisohaver commented on #84794
This doesn't seem like CoreDNS or kubeadm.  It looks like a network issue.

[2020-03-25 13:19] josephburnett commented on #84142
I'll work on backporting this to 1.15 - 1.18.

[2020-03-25 13:21] chrisohaver commented on #84794
IMO, this can be closed.

[2020-03-25 13:36] alculquicondor commented on #83834
Feel free to send a PR to kubernetes/website. And perhaps introduce a plugin in kubernetes-sigs/scheduler-plugins

[2020-03-25 13:48] alculquicondor commented on #89396
Any updates in here requires a new API version.
@mikedanese wasn't there a related issues already opened for this?
Can anybody work on a KEP?

[2020-03-25 13:52] chrisohaver commented on #84794
Actually - I just noticed the "unknownuser.log.ERROR" error ... which may have evaded my notice before.

_That_ message is probably a known issue in CoreDNS 1.3.1.  The workaround was to mount an empty dir at /tmp. See https://github.com/coredns/deployment/pull/138.  In that version, CoreDNS will crash when client-go tries to write an error directly to a non-existent log (e.g. when API crashes, or

[2020-03-25 14:16] itshikanov commented on #89468
kube-proxy iptables mode the same problem. 3 second to pod on another node, if use service ip.

Try to install 1.16.3 - all Ok(iptables mode) - 0m0.004s to all pods if use service ip.

[2020-03-25 14:22] ubhide commented on #72226
Continued to experience this on a 1.16 cluster as well

[2020-03-25 14:24] pytimer opened #89476 "Daemonset doesn't properly respect nodeAffinity.requiredDuringSchedulingIgnoredDuringExecution.NodeSelectorTerms"
**What happened**:

I create `DaemonSet` in the Kubernetes v1.17.2 cluster, i use `NodeAffinity` make pods only running on the node that have specified labels, but it not work. I get the pod information and the affinity have been override.

**What you expected to happen**:

`DaemonSet` node affinity works.

**How to reproduce it (as minimally and precisely as possible)**:

1. write a `DaemonSet`
2

[2020-03-25 14:27] notpad commented on #89434
I can't reproduce this failure in local env. And does this only happen for release-1.16 branch?

[2020-03-25 14:31] wawa0210 commented on #89471
[code]
I just tested it in the latest k8s version and created a pod with the same name. The http status code does return 409. My test process is shown above

[2020-03-25 14:44] jorisdejosselin commented on #80472
@zgfh I also have this issue could this be reopend?

[2020-03-25 14:47] oxddr commented on #89471
/assign

In my case pods were created by custom controller. I will come back with more details and hopefully a reproduction steps.

[2020-03-25 14:50] wawa0210 commented on #89476
Can you provide the entire contents of your daemonset yaml? I just tested it and nodeAffinity works

[2020-03-25 14:51] candidature commented on #67526
@bboreham Thank you for the tip.

[2020-03-25 14:55] ahg-g commented on #89434
may be you are right, will close for now and monitor if this happens on master.

/close

[2020-03-25 14:56] #89434 closed

[2020-03-25 14:58] ahg-g commented on #89410
Thanks @xtroncode  for reporting, a fix will soon be patched to 1.16.

Note that 1.17 and above doesn't have this problem because they operate on the snapshot which makes a deep copy of the node object.

[2020-03-25 14:59] wawa0210 commented on #89469
https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-guaranteed

[2020-03-25 15:04] pravinyo commented on #78446
I am also facing similar issue
$ k port-forward service/reverseproxy 8080:8080
error: timed out waiting for the condition

Here is my Kubecli details:
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:20:10Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"windows/amd64"}
Se

[2020-03-25 15:07] wawa0210 opened #89477 "Stop applying the beta.kubernetes.io/os and beta.kubernetes.io/arch"
It seems that according to plan, kubenrnetes 1.18 will remove support for the `beta.kubernetes.io/os` and` beta.kubernetes.io/arch` labels. Will we still do this work?

---

https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/

[2020-03-25 15:08] xiangyu123 opened #89478 "Faile to set kube-reserved with Cgroup Driver: systemd on sles 15.1"
OS: SLES 15.1
Cgroup Driver: systemd
kubelet version: v1.17.3
Docker version:  19.03.7
Mem: 16Gi
vCPU: 8core

---
Error:
[code]

kubelet.service:
[code]

/etc/kubernetes/kubelet-config.yaml
[code]

Anyone could help ?

[2020-03-25 15:09] alemonmk commented on #89469
I'm new to k8s but is that mean there's nothing like "I don't keep a certain amount of resources for you and you can't get over certain limit", to do what I need is just specify a "minimal but more than zero" request?

[2020-03-25 15:12] wawa0210 commented on #89477
If it needs to be removed in 1.18, I can try to contribute this code

[2020-03-25 15:13] philipsparrow commented on #85020
Sorry, I meant that I think I've seen the same collision issue when updating StatefulSets which use the same port number for TCP and UDP - so I suspect the issue is more widespread than just on services.

I am not sure if this matters, if the NodePort port is auto-allocated then I shouldn't care about 53->30053, if I allocate a NodePort port manually, then I'd obviously prefer that the port remain

[2020-03-25 15:18] leexiaominghub opened #89480 "TokenRequestProjection gets errors"
**Which jobs are failing**:

**Which test(s) are failing**:
I want use the SDS of istio, and set the apiserver these flags:

    - --service-account-signing-key-file=/etc/kubernetes/pki/sa.key
    - --service-account-api-audiences=kubernetes.default.svc

however, after kubeamd init done, the contronller manager and scheduler get errors like this:
E0325 14:53:27.189015       1 leaderelection.go:331

[2020-03-25 15:24] rogperez commented on #73570
@WanLinghao I am having the same issue, and I tried this command:
`kubectl get pod -o wide -v=10`
and am seeing this output:
[code]
As you can see the first curl command takes a minute and a half. Is there some way to clear this network jam?

[2020-03-25 15:27] wawa0210 commented on #89477
@yujuhong  @liggitt

[2020-03-25 15:28] pytimer commented on #89476
I run my daemonset in other cluster, it works. I check the cluster that went wrong, i found a mutate admission webhook add `matchExpressions` in pod `NodeAffinity`, it maybe make nodeAffinity not work and have too many terminating pod in this namespace. I am not sure this problem because of admission webhook.

[2020-03-25 15:29] sftim commented on #89458
Feel free to add /sig docs if you think that makes sense here.

[2020-03-25 15:37] liggitt commented on #89477
I would expect the following things to be done in order:
1. sweep for uses of the beta labels (in all kubernetes/kubernetes-sigs projects and documentation) in controllers/manifests/nodeSelectors and update them to the GA labels
2. in 1.19: update the node lifecycle controller to treat the GA os/arch labels as the authoritative source and copy them to the beta labels (flip the source of truth)
3.

[2020-03-25 15:40] juliantaylor commented on #88643
isn't the problem simply the use of `CombinedOutput` in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/rbd/rbd_util.go#L711

that includes the stderr line of rbd info (which starts with -1) which is not json, the json is only on stdout

[2020-03-25 15:43] liggitt commented on #89480
Those flags don't seem related. Do you have more details about the content of the forbidden errors?

[2020-03-25 15:49] wawa0210 commented on #89477
Got it, I can try to do the first stage first～～

[2020-03-25 15:49] #88027 closed

[2020-03-25 15:49] jerry3k commented on #73570
did you install kubernetes natively or through rancher (rke)?

[2020-03-25 15:53] rogperez commented on #73570
According to my symlinks I used brew
[code]

[2020-03-25 15:59] tedyu commented on #88643
How about the following change ?
[code]

[2020-03-25 16:00] xtroncode commented on #89410
Thanks @ahg-g for a quick response in such difficult times. Please let me know if I can help in any way.

[2020-03-25 16:05] akchamps commented on #87470
kubectl delete pod <pod-name> --force --grace-period=0

[2020-03-25 16:06] jerry3k commented on #73570
@rogperez What worked for me was to clean up the host nodes and reinstalling kubernetes (but i was using rke). Here were the steps:

1. Clean up Docker
`docker rm -f $(docker ps -qa)
docker rmi -f $(docker images -q)
docker volume rm $(docker volume ls -q)`

2. Unmount Volumes (need su permission for it)
`for mount in $(mount | grep tmpfs | grep '/var/lib/kubelet' | awk '{ print $3 }') /var/lib/ku

[2020-03-25 16:07] evillgenius75 commented on #86882
No longer a known Issue with regression provided by #89444 and cherry pick #89449

[2020-03-25 16:08] nvidhub commented on #89472
/sig area/apiserver

[2020-03-25 16:17] tedyu opened #89481 "Run RotateLogs function when there is disk pressure"
**What would you like to be added**:
For ContainerLogManager, we can expose RotateLogs function and call it when there is disk pressure.

**Why is this needed**:
rotateLog() cleans up unused logs and removes excess logs.
This would free up disk space.

[2020-03-25 16:17] tedyu commented on #89481
/sig node

[2020-03-25 16:27] tedyu commented on #89481
Addresses:
[code]

[2020-03-25 16:42] juliantaylor commented on #88643
if the only stderr line being parsed on your cluster is `-1 did not load config file, using default settings. ` you can work around that by providing the controller-manager an empty `/etc/ceph/ceph.conf`

[2020-03-25 16:47] ckdarby commented on #82595
Experienced this with EKS 1.15 on EKS.

[code]

[2020-03-25 17:19] marosset commented on #80032
Yes, we should update docs for this.
Also I noticed that the Windows version support matrix at https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#compute is out of date.
We should update at the same time.
cc @michmike

[2020-03-25 17:43] tedyu commented on #87470
[code]
It seems uwsgi-exporter was the container name, from the snippet you gave.

[2020-03-25 18:07] kishore3us commented on #30148
I got this error when the dockerPull secret is not created for the namespace.

[2020-03-25 18:35] gnufied opened #89483 "Snapshots taken while a pod is using a PVC may result in inconsistent snapshot"
I was reading snapshot documentation and it is missing the caveat that currently if user takes a snapshot of PVC that is being used in a Pod, it could result in inconsistent snapshot.

/sig storage
cc @kubernetes/sig-storage-bugs

[2020-03-25 18:44] csb1582 opened #89484 "occasional "The process cannot access the file because it is being used by another process" on pod teardown on Windows 1.15.9"
**What happened**:
Windows Server 2019 running Kubernetes 1.15.9

Running deployment was updated, forcing creation of new pods. On pod teardown pod directory could not be deleted. As a result deployment rollout did not finish.

E0325 10:09:45.952766    5284 nestedpendingoperations.go:270] Operation for "\"kubernetes.io/secret/b84b370d-3439-41ed-9091-ec0d5cb70edb-default-token-lzg9s\" (\"b84b370d-3

[2020-03-25 18:53] csb1582 commented on #89484
/sig windows

[2020-03-25 19:02] droslean opened #89485 "[Failing Test] capa-conformance-stable-k8s-master && capg-conformance-stable-k8s-master"
**Which jobs are failing**:
capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)

and

capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)

**Since when has it been failing**:
`24th March 12:20 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-stab

[2020-03-25 19:03] droslean commented on #89485
/provider area/aws
/provider area/gcp

[2020-03-25 19:03] droslean commented on #89485
/area provider/gcp
/area provider/aws

[2020-03-25 19:06] jsolbrig commented on #44501
I completely agree with @bd here. To me this seems to be a solution that breaks the overall workflow.

[2020-03-25 19:22] xing-yang commented on #89483
/assign

[2020-03-25 19:33] danwinship commented on #88253
But there's no built-in support for doing that, is there? That would have to be implemented as an admission-controller or something?

And also, allowing all users to set all unprefixed labels is insufficient if you have mutually-untrusting users. If Alice wants to allow connections from one of Bob's namespaces, but not from any of Carol's namespaces, then there would need to be labels that Bob can

[2020-03-25 19:52] embano1 opened #89488 "Clarification on watch when server (or store) is partitioned"
After reading up on some corner cases with etcd client behavior (connections, streams, etc.) I came across the following option that has been introduced in etcd a while ago:

[code]
[(Source)](https://github.com/etcd-io/etcd/blob/67da93f739e33ee9b34792fccba2d0c100264ea4/clientv3/ctx.go#L28)

From the official etcd docs on client behavior:

Source: [clientv3-grpc1.23: Balancer Limitation](https://e

[2020-03-25 19:55] dims commented on #89488
@jpbetz was this something that was considered already?

[2020-03-25 20:12] #82008 closed

[2020-03-25 20:19] thockin commented on #85881
I can't even come up with a hypothetical reason this would fail in this way
and not also be a HUGE issue across the board.  what you're describing is
non-consistent API results.

On Tue, Mar 24, 2020 at 10:15 PM Shuanglu <notifications@github.com> wrote:

[2020-03-25 20:32] verult commented on #88355
This has been fixed by #88678

[2020-03-25 20:32] #88355 closed

[2020-03-25 20:32] AlmogCohen commented on #12905
@ab77 could you elaborate more with an example? I've tried `VOLUME /tmp/thumbnails/` in my dockerfile but it didn't solve anything. It would help very much if you can explain a bit further how you solved this issue! It's driving me nuts on EC2s that keep going read only...

[2020-03-25 20:44] tedyu opened #89489 "containerLogManager#compressLog may leave compressed log behind"
**What happened**:
If renaming tmpLog to compressedLog succeeds but log removal fails, the compressedLog may be left behind.

**What you expected to happen**:
compressedLog should be removed if deletion of the normal log file fails.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/o

[2020-03-25 20:49] tedyu commented on #89489
/sig node

[2020-03-25 20:55] wojtek-t commented on #89471
@kubernetes/sig-api-machinery-bugs

[2020-03-25 21:08] dnaeon commented on #89368
Btw, the following issues seem similar to what I'm experiencing as a problem as well.

* https://github.com/kubernetes/kubernetes/issues/88574
* https://github.com/kubernetes/kubernetes/issues/78068

[2020-03-25 21:18] ialidzhikov opened #89492 "go-to-protobuf: cannot use &v (type *int64) as type *int in assignment"
**What happened**:
go-to-protobuf cannot handle int/*int fields.

**What you expected to happen**:
I would expect go-to-protobuf to do not generate something that does not build.

**How to reproduce it (as minimally and precisely as possible)**:
1. Setup the following example

- go.mod
[code]
- hack/tools.go
[code]

- pkg/apis/core/v1alpha1
[code]

[code]

2. Run `go-to-protobuf`
[code]

3. Ensure

[2020-03-25 21:20] ialidzhikov commented on #89492
/sig api-machinery

[2020-03-25 21:20] ialidzhikov commented on #89492
/area code-generation

[2020-03-25 21:24] tedyu opened #89493 "Containers which are not to be kept should go through killContainer()"
**What happened**:
In kubeGenericRuntimeManager#SyncPod, step 3:
[code]
Currently we return from SyncPod once any killContainer call returns error.
This means some containers may have been killed while some other containers are not killed.

**What you expected to happen**:
All containers which are not to keep should go through killContainer() so that containers are cleaned up (with best effort).

[2020-03-25 21:25] tedyu commented on #89493
/sig node

[2020-03-25 21:40] ab77 commented on #12905
@AlmogCohen you'll need to define in [Dockerrun.aws.json v2](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker_v2config.html) the volume and host path. So in your case:

[code]

Then anything your container writes to `/tmp/thumbnails` will be on the host in `/opt/foo-bar-logs`.

Untested, from memory.

[2020-03-25 22:12] tibers opened #89495 "DNS labels should handle more than 63 chars"
**What would you like to be added**:
Allow DNS label entries to contain up to 255 chars.

Per [RFC1123](https://tools.ietf.org/html/rfc1123#page-13) on Page 13:

[K8s documentation](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names) states:

**Why is this needed**:
For private registries - I typically have `<FQDN>/<project>/<containername>:<tag>` and the FQDN

[2020-03-25 22:18] tibers commented on #89495
/sig api-machinery

[2020-03-25 23:24] #77873 closed

[2020-03-25 23:40] dims opened #89497 "Random SHA being used for github.com/storageos/go-api"
@croomes in kubernetes go.mod file, we are using a SHA (see snippet below). The closest tag seems to be `1.0.0-rc1` which seems to be a couple of commits behind https://github.com/storageos/go-api/compare/1.0.0-rc1...343b3eff91fc

Can you please tag 343b3eff91fc with a proper semver version say `v1.0.0` So we could then use that in our go.mod? Looks like you already have gotten started with a v2 A

[2020-03-25 23:40] dims commented on #89497
/sig storage

[2020-03-26 00:14] neolit123 commented on #89477
/sig node

[2020-03-26 00:15] neolit123 commented on #89478
this report reveals a panic.

/remove-triage support
/kind bug
/sig node

[2020-03-26 00:30] tedyu commented on #89478
[code]
The error seemed to be truncated.
Here is the code which logs the error:
[code]
Is it possible to retrieve the rest of the error ?

thanks

[2020-03-26 00:31] msau42 commented on #78130
/lifecycle frozen

[2020-03-26 01:17] Luffy110 commented on #89429
@felixPG  Thanks for your reply me. i will try your method. but i think for owner issue i think we are the same. because if i set runAsUser: 1000, i will have a same result with you. the owner of the file mounted by configmap still is root ,rather than 1000.

[2020-03-26 01:33] stv0g opened #89499 "kubeadm cannot join control plane node via --config flag"
**What happened**: kubeadm currently fails to join a control plane node in case all settings are provided via a kubeadm configuration file.

**What you expected to happen**: Joining a new control plane node should be possible without the `--control-plane` flag

**How to reproduce it (as minimally and precisely as possible)**:

Given is the following configuration file:
[code]

When joining a node

[2020-03-26 01:33] TBBle commented on #67761
@madari To try and find a common factor, does your namespace have resource quotas on the number of Services?

[2020-03-26 01:34] stv0g commented on #89499
/sig cluster-lifecycle

[2020-03-26 01:35] liggitt commented on #89495
The linked RFC defines DNS labels (individual segments of a hostname) to be limited to 63 characters:

Since some resource names (especially services and namespaces) are used as individual segments in constructed DNS names, the 63 character limit is applicable.

[2020-03-26 01:35] #89495 closed

[2020-03-26 01:35] stv0g commented on #89499
This seems like an easy fix. If nobody objects, I would remove the check here:

https://github.com/kubernetes/kubernetes/blob/06ad960bfd03b39c8310aaf92d1e7c12ce618213/cmd/kubeadm/app/cmd/join.go#L344

[2020-03-26 01:36] TBBle commented on #67761
@Nebulazhang Are you still around to reopen this issue? It aged-out, but clearly is still going on.

[2020-03-26 01:42] angao commented on #89396
@alculquicondor  I can write a KEP for this.

[2020-03-26 01:44] madari commented on #67761
Here's a snapshot of the spec and status for `gke-resource-quotas` in one of my clusters:

[code]

The only value changing is "used pods". That value changes continuously (due to high pod churn).

[2020-03-26 03:31] amit-uc commented on #79224
/reopen

[2020-03-26 04:29] #81009 closed

[2020-03-26 04:37] jpbetz commented on #89488
We should be using `WithRequireLeader` for watches. (see also the [etcd Watcher godoc](https://github.com/etcd-io/etcd/blob/3ac7a1151519af0816647d5f0757119c3f4a24ac/clientv3/watch.go#L65)).

It should just need to be added [here](https://github.com/kubernetes/kubernetes/blob/5d4553a90d110391d20324fe7f1890e48c8de659/staging/src/k8s.io/apiserver/pkg/storage/etcd3/watcher.go#L214).

It would also be

[2020-03-26 04:38] ajs11174 opened #89501 "Kubeadm join fails after upgrading cluster to version 1.18"
**What happened**:
After upgrading my cluster to 1.18 I cannot join a new worker node.

**What you expected to happen**:
Join a worker node after upgrading kubeadm/kubectl/kubelet to version 1.18

**How to reproduce it (as minimally and precisely as possible)**:
 sudo kubeadm join --config /etc/init/config.yaml --v=5
(I also tried joining with the default kubeadm token generate --print-join-comman

[2020-03-26 04:39] jpbetz commented on #89488
If anyone wants to own fixing this please self assign, else feel free to assign to me.

[2020-03-26 04:42] ajs11174 commented on #89501
/sig auth

[2020-03-26 04:47] tedyu commented on #89488
For this method:
[code]
It seems we should do:
[code]

[2020-03-26 04:56] thockin commented on #88253
That's true.

I presumed that you have administrative labels (company.com/tenant:
bob) and user labels.  Alice would allow based on the tenant and
labels, presuming she trusts Bob.  More commonly, people would select
on their own tenant && their custom labels.  As you describe:

The admission control system is becoming the place where such policies
are enforced.  I don't see that as a bad thing.

[2020-03-26 05:00] brenix commented on #88832
I currently maintain the Archlinux AUR packages for [kubeadm](https://aur.archlinux.org/packages/kubeadm-bin/) and [kubelet](https://aur.archlinux.org/packages/kubelet-bin/), which relied on the default kubelet.service and kubeadm drop-in in the repo. It would be preferred to keep these in-repo so that other distributions can source the upstream default, rather than having to create it out of band

[2020-03-26 06:11] fearlesschenc commented on #89392
The ipvs rule will be update when pod migrate, but they have to be alive. As you said, machine powered off, the process is gone, no way it could monitor changes and update the ipvs rule.

[2020-03-26 06:49] ks864148379 commented on #84891
/remove-lifecycle rotten

[2020-03-26 06:49] xiangyu123 commented on #89478
@tedyu  According to your tips,  I have solved  it. Many thanks

[2020-03-26 07:10] chrischdi commented on #87615
I can also confirm this issue, we are not yet on 1.17.3, currently running Ubuntu 19.10:
[code]

[2020-03-26 07:23] staugust opened #89503 "orphan finalizer is not property processed"
**What happened**: Delete pod with following  deleteOptions would add 'orphan' finalizer to pod's finalizers, at the mean time garbage collector will not remove this finalizer.
{"kind":"DeleteOptions","apiVersion":"v1","orphanDependents": true,"gracePeriodSeconds": 0}

**What you expected to happen**:
Either api-server should not add 'orphan' finalizer twice , or garbage collector controller suppo

[2020-03-26 07:26] staugust commented on #89503
/sig  api-machinery

[2020-03-26 07:26] staugust commented on #89503
/wg api-machinery

[2020-03-26 07:32] #63704 closed

[2020-03-26 07:48] jingyih commented on #89488
Thanks! This is a good question. I am not exactly sure what is the semantics on kubernetes watch. It is correct that without `WithRequireLeader`, etcd server will not cancel watch stream when itself is isolated from the cluster. However, when this happens, other requests to etcd (including health checks on etcd) will fail. So the control plane is already in a bad state and is likely to be replaced

[2020-03-26 07:51] jingyih commented on #89488
Oh I just saw Joe's earlier comment. If using `WithRequireLeader` aligns with k8s watch semantics, we should use it:)

[2020-03-26 08:14] #89154 closed

[2020-03-26 08:36] gavinfish commented on #89396
/cc

[2020-03-26 08:37] chendave opened #89507 "weight of Memory and CPU should be configurable"
**What would you like to be added**:
Default weight is configured as below, 

[code]

It's used in this way in LeastAllocated plugin,

[code]

**Why is this needed**:
How the weight defined should be configurable, there should be some usecases that cares more about the memory than CPU, or vice versa.

[2020-03-26 08:38] chendave commented on #89507
/sig scheduling

[2020-03-26 08:39] chendave commented on #89507
/assign

[2020-03-26 08:48] avnertzur commented on #79224
The request makes so much sense to me.
Please consider reopening it

[2020-03-26 09:09] tanjunchen commented on #74352
In addition to the above unmerged PR , it seems that  test/e2e/framework  depends on  k8s.io/kubernetes/pkg/ at the following list:

[code]

[2020-03-26 09:41] huchengze commented on #88643
@juliantaylor @tedyu
If you have time to make a PR for this bug, please just do it.
I'm too busy these days, and my network is so poor that I can't even clone the code.
Thanks a lot.

[2020-03-26 10:29] cheneyzhao commented on #88387
@kvaps, thanks.  I used similar workaround.  And I think the fix in cli side is still valid.

[2020-03-26 10:30] dnaeon commented on #89368
Another update - watching closely the `apiserver` and `etcd` containers it seems that `apiserver` is started much sooner than `etcd` itself, which results in `apiserver` dying before `etcd` is even started.

Also, looking at the code below, can we make the wait duration configurable, so we can wait longer if needed?

* https://github.com/kubernetes/kubernetes/blob/release-1.17/pkg/registry/core/se

[2020-03-26 10:33] kvaps commented on #89501
Same problem here:

[code]

[2020-03-26 10:53] kvaps commented on #89501
I found commit which affected this
https://github.com/kubernetes/kubernetes/commit/b117a928a6c3f650931bdac02a41fca6680548c4

[2020-03-26 11:05] davidstack commented on #89392
@fearlesschenc  the kube-proxy on other node should update ipvs rule?

[2020-03-26 11:20] kvaps opened #89512 "a Node with name and status "Ready" already exists in the cluster."
**What happened**:

After upgrading to v1.18.0 not possible to join existing node into cluster:

[code]

<details>
<summary>Full log</summary>

<pre>
W0326 11:57:39.322862   12149 join.go:346] [preflight] WARNING: JoinControlPane.controlPlane settings will be ignored when control-plane flag is not set.
I0326 11:57:39.322941   12149 join.go:371] [preflight] found NodeName empty; using OS hostname a

[2020-03-26 11:26] smileusd opened #89513 "pvc will lost when statefulset create volume but pvc is deleting"
Is this a bug?
/kind bug

**What happened**:
If pod and pvc deleted, new pod will be created when controller sync statefulset. But pvc is deleting with finalizer. Then statefulset controller will skip create pvc and only create pod. If pod recreate the pvc might be deleted.
**What you expected to happen**:
Statefulset controller will skip create this pod utill the pvc is deleted.
**How to reproduc

[2020-03-26 11:26] smileusd commented on #89513
/sig storage

[2020-03-26 11:32] kvaps commented on #89512
/sig cluster-lifecycle
/area kubeadm

[2020-03-26 11:36] josephburnett commented on #84142
Cherry pick process (for reference): https://github.com/kubernetes/community/blob/83af19fd21fe3af7cd88630e7239b974091645d2/contributors/devel/sig-release/cherry-picks.md#cherry-pick-review

1:15: https://github.com/kubernetes/kubernetes/pull/89514
1.16: https://github.com/kubernetes/kubernetes/pull/89515
1.17: https://github.com/kubernetes/kubernetes/pull/89516
1.18: https://github.com/kubernetes/

[2020-03-26 11:46] cji commented on #81121
/lifecycle frozen

[2020-03-26 11:53] mm4tt commented on #86547
@bartekzurawski, let me know if you need any explanations here

[2020-03-26 12:19] dims commented on #89488
@jingyih i'd support moving to 3.4.5 to pick this up!

[2020-03-26 12:36] embano1 commented on #89488
@jpbetz I am happy to contribute but want to do some more testing and validation on the current behavior of `Watch` and with the proposed fix. Please give me some days.

[2020-03-26 12:41] tibers commented on #89495
It's a bit of throwing the baby out with the bathwater, don't you think? If I have a _single_ resource which I am working with, I expect that resource to be able to use the entire 255 chars I am used to.

I completely agree with you that generated strings far down the line also need to be aware of this limitation, but then I would say the correct thing to do is surface them to the user to allow th

[2020-03-26 12:46] yosshy commented on #73084
We have some codes to be modified:
[code]

[2020-03-26 13:12] kevtaylor opened #89519 "Remove VolumeSubpathEnvExpansion feature gate"
/kind cleanup
/sig storage
/sig node

Description:
Feature gate VolumeSubpathEnvExpansion was GA in 1.17 and is marked for removal in 1.19

Related Issues:
GA Release: #82577

[2020-03-26 13:12] kevtaylor commented on #89519
/assign @kevtaylor

[2020-03-26 13:13] kevtaylor commented on #89519
/cc @msau42

[2020-03-26 13:28] duylong opened #89520 "DualStack / IPv6-only: parseIP error with IPVS proxy on CentOS 7"
Hi,

Since my upgrade to 1.18 version, I have errors in kube-proxy:

[code]

I have ipv4/ipv6 dualstack enable. No problem with cluster and IPVS works despite errors.

Do you have also this issue ?

- OS: RHEL7
- Kubernetes version (use `kubectl version`):
[code]

[2020-03-26 13:38] #84447 closed

[2020-03-26 13:40] jecacs commented on #50295
`cp: cannot stat '/etc/kubernetes/admin.conf': No such file or directory
`

[2020-03-26 13:53] ahg-g opened #89521 "Update perf-dash to use new scheduler metrics"
The scheduler latency metrics for predicate and priority evaluation used in [perf-dash](http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=Scheduler&metricname=SchedulingLatency&Operation=priority_evaluation) are deprecated. We need to migrate to use the [new extension point-based metric](https://github.com/kubernetes/kubernetes/blob/f8e62e33c920ccc86f8ca9ffb9b58a30634feeba/pkg/sc

[2020-03-26 13:56] Vorian-Atreides commented on #45509
I am just giving you an example on how it would works with the solution I was talking about. You workload would define an HTTP endpoint `/downscaling`, in your use case you could implement this endpoint by responding with: 100 - number of active jobs.

Now image that you have 4 healthy and running Pods, Pod1 has 4 active jobs, Pod2 has 4 active jobs, Pod3 has 2 active jobs and Pod4 has 0 active jo

[2020-03-26 14:02] john-mcgowan-wowza commented on #85643
I am also dealing with this same issue.

The approach I had in mind was another option for `externalTrafficPolicy`  My thought was...  What if in addition to `Local` and `Cluster` there was something like a `LocalBeforeCluster` or `ClusterButPreferLocal`  where the behavior would always prefer a local pod, and retain the ability to preserve client IP when the traffic is local.  But as a fallback,

[2020-03-26 14:03] praveenkumarKajla commented on #45509
@Vorian-Atreides this will surely help. The only thing is we are using EKS and I'm not sure how to achieve the scenario you mentioned.

[2020-03-26 14:08] tbonfort commented on #45509
@Vorian-Atreides I like the idea, and have a custom autoscaler that uses the same concept successfully. If you see your endpoint as /termination_cost you don't have to bound your return value to 0-100. and just choose to downscale the pods with the lowest termination_cost.
It is trivial with that to prevent the longest running jobs to be killed just before completion if your termination cost calcu

[2020-03-26 14:15] mikedanese commented on #89396
@alculquicondor, not sure if there is a releated issue. I noticed it working on openapi stuff.

[2020-03-26 14:35] aandryashin commented on #67761
We are also facing the same issue in our production cluster. I was able to reproduce it even on local minikube as described above, with a resourcequota and a deployment with 50 replicas. When deployment is deleting there are many errors in kube-controller-manager-minikube pod logs:
[code]
[code]
Is there any workaround?

[2020-03-26 14:53] frittentheke commented on #89310
@danmx  I just observed a similar issue with simply a missing PSP and as a result the Deployment / ReplicaSet not spawning any pods.

It took a bid of debugging to find an indication what is actually wrong with things ....

A `kubectl describe` on the deployment showed no events / errors at first though:

[code]

Only when doing a kubectl get -o yaml on the deployment the status revealed that the

[2020-03-26 14:56] #88077 closed

[2020-03-26 15:03] mysunshine92 commented on #85589
/close

[2020-03-26 15:04] #85589 closed

[2020-03-26 15:06] mysunshine92 commented on #77544
/open

[2020-03-26 15:06] MorrisLaw commented on #88820
/assign

[2020-03-26 15:09] duylong opened #89526 "No IPv4 on services with dualstack IPv6/IPv4"
Hi,

I don't understand why I can't get an IPv4 address on services in an IPv6/IPv4 dualstack configuration.

No problem with pods, I have an IPv6 and IPv4 address:
[code]

When I test the creation of my service with the following configuration file:
[code]
Unfortunately, I get this:
[code]
[code]

The ClusterIP assignment is not good, I have an address in IPv6 and not in IPv4. However I am in dua

[2020-03-26 15:24] ahg-g opened #89527 "Make PodI"
**What would you like to be added**:

**Why is this needed**:

[2020-03-26 15:25] thockin commented on #85643
The "gotcha" is that "Local" changes the way traffic is routed to endpoints
(removes SNAT) and so that behavior (which is very visible to the serving
Pod) would be conditional on whether endpoints exist.  That's kind of
unpleasant.

Rob's xref to https://github.com/kubernetes/enhancements/pull/1607 is
exactly right - I think these two together could work nicely.  I wonder if
we can link them up.

[2020-03-26 15:27] gavinfish commented on #74352
I will pick up
[code]

[2020-03-26 15:29] ahg-g opened #89528 "Make PodInfo (a v1.Pod wrapper) a first class type in scheduler framework"
**What would you like to be added**:
Currently we use a type named NodeInfo throughout the scheduler to represent a node type. This is simply a wrapper of v1.Node with some precomputed state (like pods currently scheduler on that node).

I am suggesting we add a similar type for pods named PodInfo that is returned by the scheduler's PodLister. PodInfo as a type already exist in https://github.com/

[2020-03-26 15:30] ahg-g commented on #89528
/cc @Huang-Wei @alculquicondor

[2020-03-26 15:33] ahg-g commented on #89527
created by mistake

[2020-03-26 15:33] #89527 closed

[2020-03-26 15:36] MorrisLaw commented on #88820
Assigned myself the ticket, but @timoreimann will be working on it.

[2020-03-26 15:42] thockin commented on #72511
I'm closing this - it has become too muddled to be useful.  If people are still experiencing one of the issues listed here, please open NEW bugs that are focused on one problem, with as much data as possible, and xref this one for contetx.

[2020-03-26 15:42] #72511 closed

[2020-03-26 16:00] kvaps opened #89529 "Invalid memory address or nil pointer dereference error after upgrade to v1.18.0"
**What happened**:

After upgrade to `v1.18.0`, kubelet can't  start on most of my nodes:

[code]

I've tried to restart `docker.service`, and cleanup `/var/lib/kubelet/` directory, also reset and rejoin to the cluster, all without success, kubelet is keeps dying.

**What you expected to happen**:

Kubelet is up and working

**How to reproduce it (as minimally and precisely as possible)**:

**Anyt

[2020-03-26 16:00] kvaps commented on #89529
/sig node

[2020-03-26 16:05] alculquicondor commented on #89396
Sorry, I confused you with @damemi who had done some work in 1.18 to make our API compliant.

[2020-03-26 16:09] damemi commented on #89396
@mikedanese should it be a `metav1.Duration`? Or an integer value? I've noticed in the API conventions that using `Duration` in the API isn't advised in order to keep compatibility with non-go clients (https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#units)

[2020-03-26 16:11] neolit123 commented on #82021
/remove-lifecycle rotten

[2020-03-26 16:20] neolit123 commented on #88832
currently these come from:
https://github.com/kubernetes/release/tree/master/cmd/kubepkg/templates/latest/deb/kubeadm

but matching the specs to a k8s tags/releases is probably better.

[2020-03-26 16:22] damemi commented on #88634
Cross-referencing https://github.com/kubernetes/kubernetes/issues/89396

[2020-03-26 16:23] damemi commented on #89396
(cross-ref to the open issue to improve the extender API: https://github.com/kubernetes/kubernetes/issues/88634)

[2020-03-26 16:39] gauravsofat commented on #89458
Hi, I'm new to Kubernetes and wish to contribute, can I take this up?

[2020-03-26 16:40] rikatz commented on #88986
@davesargrad did you got some time to take a look and check if disabling the tx and rx offload helps solving the problem?

[2020-03-26 16:45] MikeSpreitzer commented on #89458
@gauravsofat : sure!

[2020-03-26 16:51] bsquizz commented on #46861
Here's a way I handle this without creating an outage on a deployment:

1. Pause rollouts:
[code]
2. Edit your config -- remove all env vars on the "offending" container (e.g. set `env: []` on the container's configuration) -- you do this either via `kubectl edit`, or if you're using templates/configs and applying those configs -- then edit the file followed by `kubectl apply -f <file>`.
3. Now re

[2020-03-26 16:57] neolit123 commented on #89501
yes, this looks like i missed something that is quite important.
what happens if you run `kubeadm init phase bootstraptoken` and then try to join workers again?

/assign
/area kubeadm

[2020-03-26 17:10] neolit123 commented on #89512
we have to be clear that this approach was never officially supported by kubeadm.
simply restarting a node machine would make the kubelet and the CR bring that node back up.
but resetting the node and then re-joining without deleting the node object is problematic.

by preventing a node with the same name from joining the cluster we are solving a security issue, as otherwise an attacker knowing a

[2020-03-26 17:12] neolit123 commented on #89512
/assign

[2020-03-26 17:47] mudverma opened #89532 "Pod to Pod Bandwidth Reservation"
Proposal/Question:

For Bandwidth sensitive telco and or video/audio streaming applications we need to block bandwidth between pods. This is specially needed in service chaining scenarios.

Currently CNIs support local traffic shaping (bandwidth reservation) per pod. What we want is bandwidth reservation between pods.

Can this be achieved with current implementation? If not, we are considering ad

[2020-03-26 17:47] rtheis opened #89533 "1.18.0 kubectl apply -f no longer applies as many resources as possible"
**What happened**:

1.18.0 `kubectl apply -f` no longer applies as many resources as possible before exiting with an error.

**What you expected to happen**:

`kubectl apply -f` should apply as many resources as possible before exiting with an error to match the behavior in 1.17 and earlier

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?

[2020-03-26 17:49] mudverma commented on #89532
/sig Network

[2020-03-26 17:52] rtheis commented on #89533
Closed in favor of https://github.com/kubernetes/kubectl/issues/845.

[2020-03-26 17:52] #89533 closed

[2020-03-26 17:58] kvaps commented on #89512
OK, but this opportunity is supported by kubelet and api-server itself, it is working fine and I don't see the reason to stop using it.
We are using this approach since v1.9 and never faced with the problems described in #79779, every rejoin old node is just reuse old name and parameters with no any problems.

This is not fully truth, because:

* He can just use modified kubeadm binary, or other d

[2020-03-26 17:59] neolit123 commented on #89501
i verified that `kubeadm init phase bootstrap-token` works.
now i'm going to close this issue and move it to the k/kubeadm repository so that we can track it there. a fix will be available for 1.18.1 for mutable upgrades (`kubeadm upgrade apply...`)

https://github.com/kubernetes/kubeadm/issues/2079

/close

[2020-03-26 17:59] #89501 closed

[2020-03-26 18:00] neolit123 commented on #89520
/sig network

[2020-03-26 18:11] kvaps commented on #89501
@neolit123 I can confirm, regenerat bootstrap token solves the problem

[2020-03-26 18:19] redeagle84 commented on #59959
I was getting, for another package the error: _No apt package "kubectl", but there is a snap with that name._

It can be related with timezone too as you can see here : https://askubuntu.com/questions/1061675/apt-package-update-is-failing-for-ubuntu-18-04-lts/1061678#1061678

[2020-03-26 18:23] neolit123 commented on #89512
We are using this approach since v1.9 and never faced with the problems described in #79779, every rejoin operation of old node is just reuse name and parameters of existing resource with no any problems.

i've seen #79779 in the wild a number of times and users are shooting them self in the foot causing outage of the control-plane creating tickets for us.

this is absolutely true
i should have sa

[2020-03-26 18:27] neolit123 commented on #89501
`kubeadm token create/generate` should not fix it alone.
we set some extra RBAC in the `bootstrap-token` phase.

[2020-03-26 18:31] kvaps commented on #89512
OK, but I still do not understand how is it possible to create two nodes with the same name, is there any steps to reproduce? I was trying but Kuberentes API is not allowing that:

[code]

[2020-03-26 18:38] rlenglet commented on #89153
Is this a duplicate of https://github.com/kubernetes/kubernetes/issues/57923?

[2020-03-26 18:39] neolit123 commented on #89512
creating the Node object directly will not work. the TLS bootstrap in the kubelet for matching node names (hostnames) can still trigger the race condition in etcd.

[2020-03-26 18:41] tedyu commented on #89529
It seems the panic should have been fixed by:
[code]

[2020-03-26 18:43] tedyu commented on #89529
In the log snippet I see several warnings in the following form:
[code]
Did you see them in previous k8s release ?

[2020-03-26 18:52] john-mcgowan-wowza commented on #85643
@WillPlatnick

This is not a solution to the root cause, but I've been working on an approach that is proving to work out pretty nicely for me.    I have the same exact use case as you.  I want to be able to update my ingress controllers without experiencing any downtime due to load balancer health check lag.

In my case I'm using the nginx-ingress controller, and I'm using the stable/nginx-ingres

[2020-03-26 18:55] cjcullen opened #89535 "CVE-2019-11254: kube-apiserver Denial of Service vulnerability from malicious YAML payloads"
CVE-2019-11254 is a denial of service vulnerability in the kube-apiserver, allowing authorized users sending malicious YAML payloads to cause kube-apiserver to consume excessive CPU cycles while parsing YAML.

The issue was discovered via the fuzz test kubernetes/kubernetes#83750.

**Affected components:**
Kubernetes API server

**Affected versions:**
<= v1.15.9, resolved in 1.15.10 by https://git

[2020-03-26 19:00] john-mcgowan-wowza commented on #85643
Regarding that last statement I made above.  I do think the single helm chart is viable, because I think that a pod disruption policy that applies to both daemonsets simultaneously could be used to ensure that never more than one pod is out at a time.

[2020-03-26 19:01] thockin commented on #85643
Clever.  The proposal to keep "terminating" endpoints would give you the
same behavior, I think.

On Thu, Mar 26, 2020 at 11:52 AM john-mcgowan-wowza <
notifications@github.com> wrote:

[2020-03-26 19:26] neolit123 commented on #89499
the warning is false; your config will still be respected.
we are tracking the issue here:
https://github.com/kubernetes/kubeadm/issues/2065

and a fix will be available in 1.18.1, but cannot be backported to 1.17*

/close

[2020-03-26 19:26] #89499 closed

[2020-03-26 19:32] gnufied commented on #89330
This looks like similar to https://github.com/kubernetes/kubernetes/issues/77949 which we fixed. Unfortunately the fix is not available in 1.14. Can you try with 1.15 and let us know?

[2020-03-26 19:49] kvaps commented on #89529
Hi yes, some pods were forcefully killed due https://github.com/kubernetes/kubernetes/issues/89181

[2020-03-26 19:58] liggitt commented on #89396
As a config API, this isn't served anywhere, so the only consumer is the go scheduler binary. Other config APIs use metav1.Duration or a plain integer with `seconds` in the field name to clarify the units.

[2020-03-26 20:05] damemi commented on #89396
Thanks @liggitt, I've been confused on what the distinction was

[2020-03-26 20:08] fedebongio commented on #89466
/cc @lavalamp @cheftako

[2020-03-26 20:11] fedebongio commented on #89471
/triage unresolved

[2020-03-26 20:14] fedebongio commented on #89492
/assign @jpbetz

[2020-03-26 20:15] fedebongio commented on #89503
/assign @caesarxuchao

[2020-03-26 21:07] jpbetz commented on #89492
`int` is not supported, so the bug is that we don't report that clearly in the generator. `*int32` or `*int64` can be used.

[2020-03-26 21:34] julianvmodesto commented on #88905
There are some good references for conformance tests in the conformance meeting notes:
https://docs.google.com/document/d/1W31nXh9RYAb_VaYkwuPLd1hFxuRX3iU0DmaQ4lkCsX8/edit

- https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md
- https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/writing-good-e2e-tests.md

[2020-03-26 21:38] bartekzurawski commented on #86547
@mm4tt Thank you :) I've made some changes and assign you can you tell me is this will be good approach?

[2020-03-26 21:39] cheftako commented on #89466
Hi @fengzixu, I'm seeing a few odd things and would like to clarify.
You lease duration is set to 15 seconds but renew time appears to be a day later. Did you do your kubectl get the following day?

Can you give us the following flag values from both (all 3) kubernetes controller managers?
--leader-elect
--leader-elect-resource-lock
--leader-elect-resource-name
--leader-elect-resource-namespace

C

[2020-03-26 21:54] embano1 commented on #89488
Quick update: after some quick tests it seems that `WithRequireLeader()` does not solve the issue with an active `Watch()` after the connected etcd endpoint becomes partitioned.

I think we have the following scenarios to consider:

1) Single node API server/etcd
2) Quorum-based cluster (e.g. 3 nodes) where K8s control plane **is colocated** with the etcd nodes (e.g. one API server and one etcd in

[2020-03-26 22:49] davesargrad commented on #88986
Hi @rikatz

I've not yet looked at that. I've been juggling a number of architectural challenges, and the days I spent isolating this problem were more than I had allocated. I will get back to it however as soon as I have a breather.

As soon as I do, I will update with a comment.

Thanks.
Dave

[2020-03-26 22:58] #89171 closed

[2020-03-26 23:02] dims commented on #89488
@jpbetz @xiang90 @jingyih @gyuho Please see analysis above. should this work when the etcd + apiserver are on the same node or not?

[2020-03-26 23:10] RaunakShah commented on #89313
On looking into the code again, i think that it's still applicable. Let me further describe the issue:

`kubelet.Run()` starts  `volumeManager` in a go routine, which calls `mountAttachVolumes()`.

`kubelet.Run()` is also in charge of syncing node status (in a go routine), like below:
[code]
`kl.nodeStatusUpdateFrequency` defaults to 10 seconds.

`syncNodeStatus()` calls `updateNodeStatus()`,  whi

[2020-03-26 23:10] RaunakShah commented on #89313
/sig node

[2020-03-26 23:13] RaunakShah commented on #89313
/kind design

[2020-03-26 23:13] RaunakShah commented on #89313
/remove-kind feature

[2020-03-26 23:23] IkiM0no commented on #79523
Hello, as of now, I see [milestone v1.19](https://github.com/kubernetes/kubernetes/milestone/46) is 65% completed.
May we please have an update on estimated release date of UDP support for AWS NLB?

[2020-03-26 23:39] taleodor commented on #51017
we observe same issue

[2020-03-27 00:02] liggitt commented on #89529
Looks like a duplicate of #84214 , fixed in https://github.com/kubernetes/kubernetes/pull/88348

[2020-03-27 00:02] #89529 closed

[2020-03-27 00:18] jpbetz commented on #89488
Thanks for the careful analysis @embano1

My take on this is:

For case **(2)** where the apiserver and etcd are co-located (and the apiserver only talks to that etcd), I don't see any reason why dropping the watch would help. In this type of setup, when etcd becomes partitioned, the co-located apiserver becomes unavailable and apiserver clients should route away from that apiserver entirely until

[2020-03-27 00:46] neolit123 commented on #89426
/close

[2020-03-27 00:46] #89426 closed

[2020-03-27 01:01] thockin commented on #85483
I opened a new bug just for kube-proxy - #89265

There's a different bug with the same disposition - can't repro yet - regarding packet loss.

[2020-03-27 01:01] #85483 closed

[2020-03-27 01:05] ajs11174 commented on #89501
@neolit123 Thank you. This worked perfectly

[2020-03-27 01:07] liggitt commented on #89520
Related to https://github.com/kubernetes/kubernetes/pull/89343/files#diff-71a24186bd4c7e94c34819c55dfa89af

cc @aojea @thockin

[2020-03-27 01:24] thockin commented on #82163
At some point we talked about maybe sticking the IPVS dummy interface into a netns and routing service IPs into that -- worth exploring?

[2020-03-27 01:50] mYmNeo opened #89552 "Delete node causing scheduler crash"
**What happened**:
If we delete node first, then remove pods on this node, the scheduler will crash in `RemovePod` function

**What you expected to happen**:
Not crashed

**How to reproduce it (as minimally and precisely as possible)**:
1. Create some pods on node A
2. kubectl delete node A
3. kubectl delete pods on node A

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2020-03-27 01:53] mYmNeo commented on #89552
/sig scheduling

[2020-03-27 02:03] fearlesschenc commented on #89392
Yes, all the kube-proxy will monitor service changes, and change ipvs rule.
To be honest, if they're not, what's the point of kube-proxy?

[2020-03-27 02:05] erikwilson opened #89554 "Conformance image v1.18.0 fails on arm64"
**What happened**:
`gcr.io/google-containers/conformance:v1.18.0` produces an error:
[code]

**What you expected to happen**:
Conformance tests should be launched. Examining image contents indicates executables are of the correct architecture.

**How to reproduce it (as minimally and precisely as possible)**:
From aarch64 machine:
[code]

**Anything else we need to know?**:
Works with v1.17.4:
[co

[2020-03-27 02:12] erikwilson commented on #89554
/sig Architecture
/sig Testing

[2020-03-27 02:38] helios741 opened #89558 "MutatingAdmissionWebhook cannot modify the apiVersion"
i want to use MutatingAdmissionWebhook to modify the **apiVersion** of resource and find it is not feasible, but modify the content of **spec/metadata**.

my test code is as follows:
[code]
when submitting a resource, the output is:

[code]

MutatingWebhookConfiguration as follow:
[code]

i also looked at some source code because it is here but not sure：

is it because [NewVersionedAttributes](htt

[2020-03-27 02:40] helios741 commented on #89558
/sig api-machinery
/area apiserver

[2020-03-27 02:41] helios741 commented on #89558
sig/api-machinery
area/apiserver

[2020-03-27 02:51] #84490 closed

[2020-03-27 03:02] suvsap opened #89559 "Same pod id rather than new pod name everytime"
Hi,

We run a script which runs some pod but it has different name  everytime it runs. Can you give some idea how to set env variable to have the same name whenever the pod is run?

![image](https://user-images.githubusercontent.com/39982555/77716996-616e7e00-7005-11ea-9e5d-4e6e2a7a1e11.png)

[2020-03-27 03:06] suvsap commented on #89559
/sig NODES

[2020-03-27 03:08] suvsap commented on #89559
/sig Autoscaling

[2020-03-27 03:26] k8sre opened #89561 "upgrade to 1.18.0，ipvs do not sync endpoint error: parseIP Error"
**What happened**:

k8s
[code]
os
[code]
kernel
[code]

<img width="436" alt="1" src="https://user-images.githubusercontent.com/35365219/77718362-b5855c80-701d-11ea-9eef-c61bd0386ff3.png">

<img width="533" alt="2" src="https://user-images.githubusercontent.com/35365219/77718372-b918e380-701d-11ea-9212-18a2df0009ca.png">

<img width="317" alt="3" src="https://user-images.githubusercontent.com/3536

[2020-03-27 03:59] liggitt commented on #89561
This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/89520

[2020-03-27 03:59] #89561 closed

[2020-03-27 04:02] liggitt commented on #89558
An admission plugin may not modify the following attributes of objects being admitted: name, namespace, uid, kind, apiVersion

The patch returned by the admission webhook is applied to the incoming object, the incoming object is then converted to the internal version, validated, then serialized and stored in etcd.

[2020-03-27 04:02] #89558 closed

[2020-03-27 04:04] liggitt commented on #89554
/sig release
/remove-sig architecture

[2020-03-27 04:37] #87873 closed

[2020-03-27 04:44] willgleich commented on #72044
I've encountered this error with Argo Cron Workflows using k8s v1.17.4 and calico v3.13.1

[2020-03-27 05:24] pseonghoon commented on #80897
I experienced the same problem and found the cause with the similar issue.

See https://github.com/kubernetes/kubernetes/issues/80579

[2020-03-27 06:18] mysunshine92 opened #89564 "Conformance v1.17.2 failure"
**What happened**:
Conformance v1.17.2 fails，because of known bug
Summarizing 1 Failure:

[Fail] [sig-cli] Kubectl client Guestbook application [It] should create and stop a working application  [Conformance]
/workspace/anago-v1.17.2-beta.0.2+59603c6e503c87/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl/kubectl.go:2335

Ran 280 of 4843 Specs in 6342.641 seconds

[2020-03-27 06:20] mysunshine92 commented on #89564
ping @claudiubelu ,what should i do? if i want to pass theconformance
but now the test is failed on [sig-cli] Kubectl client Guestbook application [It] should create and stop a working application

[2020-03-27 06:35] helios741 commented on #89558
@liggitt

[2020-03-27 06:41] helios741 commented on #89558
@liggitt
is there any reason why  apiVersion cannot be modified?

Is there any way to modify the ApiVersion of the deployment? is [Webhook conversion](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#webhook-conversion) feasible?

[2020-03-27 06:46] SataQiu commented on #89520
/cc

[2020-03-27 06:50] AlexeyPerevalov commented on #65756
/reopen

[2020-03-27 06:57] #85667 closed

[2020-03-27 07:18] aojea commented on #89520
Taking one of the outputs it gives me the following addresses?
https://play.golang.org/p/K196eO64r5v

[code]

@duylong can you share more details about your environment,

* Is it possible that the CoreDNS pod has the address `fd00:10:245:0:c0bb:b693:aecf:6707`?

* what are your cluster-cidr and service-cidr?

Indeed that new net.Utils change looks suspicious , a quick grep in the repo gives me som

[2020-03-27 08:11] uablrek commented on #89520
A bit tricky to trace since libnetwork/ipvs is moving around at the moment. Problem seems to be in;
https://github.com/moby/ipvs/blob/8f137da6850a975020f4f739c589d293dd3a9d7b/netlink.go#L260-L274

The "family" must be wrong. It is called from;
https://github.com/moby/ipvs/blob/8f137da6850a975020f4f739c589d293dd3a9d7b/netlink.go#L463

[2020-03-27 08:16] uablrek commented on #89520
@duylong Please do a `ipvsadm -Ln` and attach the output.

[2020-03-27 08:18] claudiubelu commented on #89564
Is this a Windows environment?

[2020-03-27 08:27] duylong commented on #89520
Hi,

Some informations:
[code]
cluster-cidr and service-cidr:
* fd00:10:245:0:0:0:0:0/64,10.245.0.0/16
* fd00:10:96:0:0:0:0:0/112,10.96.0.0/12

[2020-03-27 08:37] yue9944882 commented on #89140
we used to fix this by https://github.com/kubernetes/kubernetes/pull/67586 but now we are addressing all the drawbacks from "strategic-merge-patch" in another feature named "server-side-apply". plz migrate to the latter approach.

[2020-03-27 08:49] yanghaichao12 commented on #89377
@tallclair would you tell where is the pr, thx

[2020-03-27 08:55] bluven commented on #65500
Have the same issue here

[2020-03-27 08:57] uablrek commented on #89468
What CNI-plugin (version) are you using?

[2020-03-27 08:57] #79299 closed

[2020-03-27 08:59] uablrek commented on #89468
I have seen that "vxlan" can be a problem. If possible, test without vxlan (if you are using it)

[2020-03-27 09:02] aojea commented on #89561
@k8sre can you provide more details?
has this happened after an upgrade?
have you dual-stack enable or only ipv4?

[2020-03-27 09:06] mysunshine92 commented on #89564
linux environment，centos

[2020-03-27 09:26] MartinForReal opened #89569 "Nodeipam and route controller should be disabled if pod network cidr is not specified."
**What would you like to be added**:
node ipam controller and route controller should not be started if pod network CIDR is not specified.

**Why is this needed**:
node ipam is managed by network plugin and network topology differs among one of the implementations. And one subnet for one node doesn't work well in the actual production environment. And it becomes worse when k8s is integrated with c

[2020-03-27 09:28] MartinForReal commented on #89569
/sig network

[2020-03-27 09:31] MartinForReal commented on #89569
/sig Network

[2020-03-27 09:46] uablrek commented on #89468
See also https://github.com/kubernetes/kubernetes/issues/86507#issuecomment-595227060

[2020-03-27 09:55] uablrek commented on #89569
I may have misunderstood the problem but there are options to `kube-controller-manager`;
[code]
Can you not just set "--allocate-node-cidrs=false"?

[2020-03-27 10:24] MartinForReal commented on #89569
Yes, Thanks!

[2020-03-27 10:24] #89569 closed

[2020-03-27 11:33] mm4tt commented on #86547
Thanks, @bartekzurawski!

I replied in the PR

[2020-03-27 11:33] droslean opened #89572 "[Failing Test] skew-cluster-latest-kubectl-stable1-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew )"
**Which jobs are failing**:
`skew-cluster-latest-kubectl-stable1-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew)`

**Since when has it been failing**:
`27th March 22:27 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/sig testing

[2020-03-27 11:34] droslean commented on #89485
/close

The job is green.

[2020-03-27 11:34] #89485 closed

[2020-03-27 11:35] droslean commented on #89134
/close

[2020-03-27 11:35] #89134 closed

[2020-03-27 11:42] droslean commented on #87807
/retitle [Flaky Test] verify-master (ci-kubernetes-verify-master)
/remove-kind failing-test
/kind flake

[2020-03-27 11:43] droslean commented on #89052
the job hasn't flake for more than a week. Closing
/close

[2020-03-27 11:43] #89052 closed

[2020-03-27 12:00] uablrek commented on #89532
K8s itself is not involved in traffic forwarding, this is an issue for the CNI-plugin.

I have actually not seen any CNI-plugin with this function. Which CNI-plugin are you using?

"traffic shaping" often means "bandwith limitation" rather that "bandwidth reservation" which is actually very hard. I would like to check this in more detail (I am working with telco).

[2020-03-27 12:25] claudiubelu commented on #89564
Then your environment might have an issue. That test is a Conformance test, which means that any change couldn't have merged if it would have broken it. Looking in testgrid, it looks like solid green: https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%201.17

You'll have to include more information in this issue report, including test logs. Pod logs are also very useful to track wha

[2020-03-27 12:34] mm4tt opened #89573 "[FailingTests] gce-cos-master-scalability-100 fails on "E2E: listResources After/Before""
The test is heavily flaking on listResources steps since the ~last day

![GPsVRXDk2o5](https://user-images.githubusercontent.com/2604887/77756547-ac9d8680-702f-11ea-81a2-cd97aa3c58f7.png)

/sig scalability
/assign

[2020-03-27 12:40] tnqn opened #89574 "NewSimpleClientset is very slow when it's called with a big number objects"
**What happened**:
I used `k8s.io/client-go/kubernetes/fake.NewSimpleClientset` to fake a clientset to test my code. I found that it became very slow to init the clientset with a big number of objects when I was trying to simulate a large scale cluster, and the time seemed exponential increasing. For example:
Initializing a clientset with:
- 5000 objects took 300ms
- 10000 objects took 2.58s
- 200

[2020-03-27 12:45] mm4tt commented on #89573
Example error:
[code]

For comparison, a good run:
[code]

[2020-03-27 12:46] tnqn commented on #89574
I had PR #89575 that uses map to store objects, which can reduce the init time to a reasonable value (tens of ms for 40000 objects).

/assign

[2020-03-27 12:51] MelissaOS commented on #89143
Hi there, Just wondering does anyone have more information on SIG-nodes?

[2020-03-27 12:52] mm4tt commented on #89573
I don't see such failures on older branches. But on the other hand the list-resources script hasn't changed recently (last change from 2019-04-25)

[2020-03-27 13:00] mm4tt commented on #89573
I was able to reproduce for this project. Here is the problematic gcloud call:
[code]

[2020-03-27 13:00] mm4tt commented on #89573
Let's clear this project with janitor and see whether it helps

[2020-03-27 13:13] mm4tt commented on #89573
Janitor failed with the same error, I tried setting the ZONE and re-running the list-resources.sh script, but it didn't help

[2020-03-27 13:14] mm4tt commented on #89573
Correction, 1.17 and 1.18 branches also started failing with the same error. I think we can rule out the code changes. Most likely it's caused by an issue on the gce side

[2020-03-27 13:22] liggitt commented on #89558
Admission does not convert object types (change apiVersion/kind) or modify object identity (name/namespace/uid). Can you describe why you want to modify the apiVersion of a request being made to the API server and what you are hoping to accomplish?

Webhook conversion applies only to custom resources. The API server knows how to convert all built-in API types already.

[2020-03-27 13:45] SataQiu commented on #89520
Ref: https://github.com/kubernetes/kubernetes/commit/8d7780d63581ef2ef9659ecb3ab5a6ff135c0332

[2020-03-27 13:45] tedyu commented on #89143
@MelissaOS
See #89155

[2020-03-27 13:53] helios741 commented on #89558
@liggitt
We are about to upgrade the version of k8s to 1.16.8, we use the deprecated apiVersion and not want every developer to modify it.So i want to dynamically modify apiVersion when submitting resources.
is this method feasible？(i know i can specify *--runtime-config*  to avoid this problem, but it will still be encountered in version 1.18)

[2020-03-27 13:54] uablrek commented on #89520
@SataQiu The commit in the ref above should be in v1.18.0 which is the version used in this issue. So the commit does not fix the problem.

[2020-03-27 13:57] liggitt commented on #89558
No, the API callers must change the API version submitted.

[2020-03-27 14:00] helios741 commented on #89558
@liggitt
why is this happening?
is there anything wrong with me doing this?

[2020-03-27 14:12] liggitt commented on #89558
The apiVersion determines the endpoint the client submits the request to. For example:
* An extensions/v1beta1 Deployment gets submitted to `/apis/extensions/v1beta1/namespaces/$namespace/deployments`
* An apps/v1 Deployment gets submitted to `/apis/apps/v1/namespaces/$namespace/deployments`

In 1.16, by default, the extensions/v1beta1 endpoint no longer exists. Clients that attempt to submit thin

[2020-03-27 14:18] EagleIJoe commented on #81938
flanneld 0.12.0 fixed it for me.

[2020-03-27 14:45] helios741 commented on #89558
@liggitt
ok, thanks.
Do you think my demand is reasonable?

[2020-03-27 14:46] liggitt commented on #89558
No, changing the apiVersion of a request in admission will not work.

[2020-03-27 15:03] #79228 closed

[2020-03-27 15:07] helios741 commented on #89558
@liggitt
Thank you very much for your patience, i have a few more question.
1. why can not apiVersion be modified after request has been deserialized into typed structs?
2. why is the admission designed after request has been deserialized into typed structs. Does not admission before request has been deserialized into typed structs provide better scalability?

[2020-03-27 15:11] artisticcheese commented on #80032
How do you guys build 1909 images since apparently none of K8s images are 1909 compatible since Github actions do not have 1909 runner (https://github.com/kubernetes-sigs/sig-windows-tools/issues/61)

[2020-03-27 15:17] SataQiu commented on #89520
@uablrek  Maybe something wrong around here https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/docker/libnetwork/ipvs/netlink.go#L463
Before [this commit](https://github.com/kubernetes/kubernetes/commit/8d7780d63581ef2ef9659ecb3ab5a6ff135c0332), it looks like this:
[code]
Now it looks like this:
[code]
However `d.AddressFamily` is not initialized，it is zero :(.

[2020-03-27 15:19] liggitt commented on #89558
Conversion between versions does not just change the apiVersion string... the structure and fields of two different versions can vary dramatically, renaming fields, relocating them, restructuring the object, etc. An example of what conversion can do is found at https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/autoscaling/v1/conversion.go#L258-L333

Unmarshaling an incoming request to

[2020-03-27 15:29] msau42 commented on #89513
Sounds like https://github.com/kubernetes/kubernetes/issues/74374

[2020-03-27 15:35] helios741 commented on #89558
@liggitt
I see, thank you😊

[2020-03-27 15:55] benmoss commented on #81938
/close

[2020-03-27 15:55] #81938 closed

[2020-03-27 16:07] imWildCat commented on #79224
+1 for reopen

[2020-03-27 16:10] gmorse-gd commented on #79224
+1

[2020-03-27 16:16] DarrienG commented on #76570
/remove-lifecycle stale

But I also don't work in Kubernetes anymore, so I don't care very much.

[2020-03-27 16:29] jingyih commented on #89488
It is correct that without WithRequireLeader, etcd server will not cancel watch stream when itself is isolated from the cluster

This is correct. Please refer to the following test which verifies this behavior. The server should close the watch channel when itself is isolated from the cluster.
https://github.com/etcd-io/etcd/blob/a04b74d4b4ebced2aca96dde08cb73b04bcdc484/clientv3/integration/watch_

[2020-03-27 16:44] oxddr opened #89586 "[Failing Test] pull-kubernetes-e2e-gce: failed to prepare test environment: --provider=gce boskos failed to acquire project: resources not found"
**Which jobs are failing**:
pull-kubernetes-e2e-gce

**Which test(s) are failing**:
kubetest

**Since when has it been failing**:
03/27 on https://github.com/kubernetes/kubernetes/pull/89571

**Testgrid link**:
https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce

**Reason for failure**:
[code]

**Anything else we need to know**:
I've tried to retest few times wi

[2020-03-27 16:45] oxddr commented on #89586
/sig testing

[2020-03-27 16:48] jpbetz commented on #89488
Thanks @jingyih, that means the documentation is correct then.

So while we haven't found any pressing issues that `WithRequireLeader` would fix, it does do what it should do, enabling it in the kube-apiserver won't make anything worse, and might make failover slightly faster?

[2020-03-27 17:07] spiffxp commented on #89586
issue is being tracked in https://github.com/kubernetes/test-infra/issues/16987

[2020-03-27 17:08] spiffxp commented on #89572
issue being tracked in https://github.com/kubernetes/test-infra/issues/16987

[2020-03-27 17:34] TJM commented on #71162
We just ran into this one as well. We currently have a web portal based login (gangway) and were trying to implement kubelogin, which requires a localhost redirect. So, the "less" secure shared client-id and secret for everyone to use with kubelogin has a different client-id than the portal. It would be nice if I could use both. I *know* I can put dex in front of it and make a single/shared client

[2020-03-27 17:39] jingyih commented on #89488
Make sense to me.

[2020-03-27 17:44] jingyih commented on #89488
BTW, I just did a quick test.

1. start an etcd cluster of 3 members: A, B and C.
2. run `etcdctl watch foo --endpoints={endpoint of member A}`
3. stop member B and C
4. after some time, the etcdctl command prints `watch was canceled (etcdserver: no leader)`

[2020-03-27 18:10] Huang-Wei commented on #85726
/remove-lifecycle stale

ping @renjian52 there is an unresolved comment in the PR, would you got a chance to take a look?

[2020-03-27 18:20] danmx opened #89591 "Default PSP for control plane components"
**What would you like to be added**:

I'd like to see official least privileged default Pod Security Policies tied to particular default components (etcd, controllers, api-server) running in kube-system namespace.

**Why is this needed**:

Right now each k8s provider is responsible for creation of those and they tend to have very open ones, e.g. [kops](https://github.com/kubernetes/kops/blob/9a06f

[2020-03-27 18:22] danmx commented on #89591
/sig auth

[2020-03-27 18:23] uablrek commented on #89520
I do not get these faults. Has the netlink API changed?

@duylong @k8sre What kernel version are you using?

[2020-03-27 18:47] andrewsykim commented on #85643
/assign

Working on a proposal that also aligns with https://github.com/kubernetes/enhancements/pull/1607

[2020-03-27 18:50] myidpt commented on #57923
As Istio is moving to SDS by default, which uses the projected volume with the "defaultMode" set, this issue breaks our customers. It would be great to get this resolved.

[2020-03-27 19:05] uablrek commented on #89520
d.AddressFamily is supposed to be set from the "NetlinkRouteAttr" slice;
https://github.com/kubernetes/kubernetes/blob/3842a92f5ffa7ceebf2058700c2494906f977800/vendor/github.com/docker/libnetwork/ipvs/netlink.go#L435

It should definitely not be hard-coded to ipv4.

[2020-03-27 19:07] fejta commented on #8830
/unassign

[2020-03-27 19:07] #80439 closed

[2020-03-27 19:07] fejta commented on #47920
/close

[2020-03-27 19:07] johnbelamaric commented on #80193
/remove-lifecycle rotten
/lifecycle freeze

[2020-03-27 19:07] #47920 closed

[2020-03-27 19:17] pjh commented on #88011
/reopen

@YangLu1031 in the [most recent passing run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2019/1241893161664516097) of our [tests](https://testgrid.k8s.io/google-windows#gce-windows-2019-master&width=20) on 03-22 I don't see `docker_images.log` in the artifacts for the Windows node. Can you check on this? Did we miss a step or is something failing?

[2020-03-27 19:42] spiffxp commented on #89573
I suspect it was caused by https://github.com/kubernetes/test-infra/issues/16987

[2020-03-27 19:51] ixdy commented on #89573
same root cause (in `gcloud compute instances list`), but the boskos janitor mitigation won't help with listResources.

[2020-03-27 19:54] kvaps commented on #89512
@neolit123, if we will not allow rejoining only new nodes, say, whose age is 1 minute, would it solve the problem with the race condition in etcd?

[2020-03-27 19:59] johnbelamaric commented on #80193
/lifecycle frozen

[2020-03-27 20:03] kvaps commented on #89512
Or even better idea, to not restrict the join if node having `Unknown` status.

[2020-03-27 20:06] daxmc99 commented on #58131
Current link is here https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md

[2020-03-27 20:23] rikatz commented on #87277
@372046933 indeed. I'll create a lab here with kubeadm + flannel in hostgw mode and check some scenarios

[2020-03-27 20:25] spiffxp commented on #89586
/close
Seeing green runs in https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce

[2020-03-27 20:25] #89586 closed

[2020-03-27 20:44] kcao3 opened #89595 "Restore HA multi control-planes once the external etcd cluster is restored from backup snapshots"
Hello,

I currently have a HA cluster with 3 masters/control-planes nodes and 2 worker nodes. The cluster is using an external 3-node etcd cluster.

I currently testing how to backup and restore the control-planes from a disaster. I was able to backup my etcd cluser by using ETCDCTL_API=3 etcdctl --endpoints $ENDPOINT snapshot save snapshot.db on each etcd member host and able to restore the etcd

[2020-03-27 20:47] neolit123 commented on #89595
/triage support
/remove-kind bug

hi, heave your read?
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md
https://docs.openshift.com/container-platform/3.11/admin_guide/assembly_restoring-cluster.html#restoring-etcd-data
https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#restoring-an-etcd-cluster

[2020-03-27 20:50] kcao3 commented on #89595
@neolit123 thank you for your quick response. Yes. as I mentioned, I believe my restored etcd cluster is HEALTHY.  It's the k8s components (controller-manager and scheduler) that are having the problem.

[2020-03-27 20:55] kcao3 commented on #89595
/sig api-machinery
/sig architecture

[2020-03-27 21:04] rikatz opened #89597 "Make IPVS errors more verbose"
So while digging into https://github.com/kubernetes/kubernetes/issues/89520 I've faced that the IPVS code isn't as verbose as the rest of the code, turning pretty hard to debug and identify where an error is ocurring.

The ``pkg/utils/ipvs`` package could contain a little bit more klog.Errorf in the `` if err !=nil as an example of a missing part here: https://github.com/kubernetes/kubernetes/blob

[2020-03-27 21:05] rikatz commented on #89597
/priority important-longterm

[2020-03-27 21:06] erick-thompson commented on #67974
I believe I am hitting the same issue. Was it closed due to a fix, or because there wasn't a way to repo?