[2015-09-16 22:30] ixdy commented on #14074
cc @adamtanner

The PR Jenkins runs
`git -c core.askpass=true fetch --tags --progress https://github.com/kubernetes/kubernetes +refs/heads/*:refs/remotes/origin/*`

for each change, which seems to check out all pull requests that have ever existed, even those that have merged. This is because it's using the refspec documented in the GitHub Pull Request Builder docs:
`+refs/pull/*:refs/remotes/orig

[2015-09-16 22:36] alex-mohr opened #14084 "flaky e2e: ExitError in Services should be able to create a functioning external load balancer with user-provided load balancer ip"
Only seen one instance in today's triage:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/8500/consoleFull
14:12:26 STEP: Destroying namespace "e2e-tests-services-trg37" for this suite.
14:12:31 [AfterEach] Services
14:12:31   /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:72
14:12:31 STEP: Destroying namespace e2e-tests-

[2015-09-16 22:37] yuvipanda commented on #13745
#13666 is a possible fix

[2015-09-16 22:38] spothanis commented on #14080
I think just . is the right way.
After changing
`find ./ -type f | cut -sd / -f 2- | LC_ALL=C sort > .generated_docs`
to
` find . -type f | cut -sd / -f 2- | LC_ALL=C sort > .generated_docs`
verify works fine
[code]

[2015-09-16 22:42] #13996 closed

[2015-09-16 22:53] bgrant0607 commented on #14062
Also relevant:
https://github.com/kubernetes/kubernetes/pull/2863#issuecomment-69701562
#1743
#1629

In the case of Deployment, the desired replicas needn't be stored in any of the underlying ReplicationControllers.

If one were to attach the desired replicas to a single RC, then one needs to deal with the case of creating a new RC with a new desired replicas while an existing rollout was in fligh

[2015-09-16 23:04] spothanis commented on #13565
The PR was merged in gopher cloud. I updated the godeps
https://github.com/spothanis/kubernetes/commit/9f3e02d12cd2da940d03bbcfb71b4d40cf847223, it looks like the test flags are now gone. However I still have some functionality testing (here is where I am missing e2e tests for openstack dearly :), cause godep update touched 88 files)

[2015-09-16 23:07] ixdy commented on #13485
I looked at 4 of the builds in kubernetes-e2e-gce-parallel, comparing the test cases marked "N/A" (i.e. no test result given) instead of their usual "PASSED" or "SKIPPED" report.

So far, there's been only one test case that's been consistently N/A in all four of the builds I looked at:
`Networking should function for intra-pod communication`

I'm not sure what might be happening, but I'm tempted

[2015-09-16 23:20] ixdy commented on #13485
OK, that test has been disabled. I'm hoping that the PR builds recover (along with some git fixes as referenced in #14074). Now on to figuring out why this is causing us problems...

[2015-09-16 23:20] pbkwee commented on #14020
Figuring I need skydns or something for this to work (tried this struggling to get it working)?  Or is there some recipe that someone has to get this working out of the box?

[2015-09-16 23:25] danielschonfeld commented on #14051
I'm confused now... i just set up a 'testbox' with ubuntu on it.  Installed strace and nslookup and nslookup alone takes like a fraction of a second.

Yet when I continue executing thru skydns it takes 20 seconds...

[2015-09-16 23:27] danielschonfeld commented on #14051
Another interesting thing to note is that we run a zookeeper 3 POD cluster on our kubernetes cluster.  When I use zkCli to connect and subsequently `ls /` it takes a good 5-10 seconds to respond when utilizing the service DNS name as the argument given to `-server`... so `zkCli -server zookeeper-1`

When using the `Service` IP tho, it connects in a fraction of a second and so does `ls /`

[2015-09-16 23:28] bakins commented on #14032
@pires and/or @kelseyhightower would probably be better equipped to handle this -- or at least point you to the right person.  My knowledge is pretty dated.

[2015-09-16 23:33] bgrant0607 commented on #14008
See also #14062

[2015-09-16 23:36] bgrant0607 commented on #14008
Old = 10, new = 20.
maxUnavailable = 50%, maxSurge = 0%

Immediately the new RC can be scaled up to 10. The original RC can then be scaled down when new replicas become available. I don't see a problem. 50% * 20 = 10.

[2015-09-16 23:39] bgrant0607 commented on #14008
Imagine what would happen if the user performed the scaling operation first.

If the user wants a different outcome, just done change the replicas count at the same time.

[2015-09-16 23:45] danielschonfeld commented on #14051
I think i have pinpointed something.  Whenever i run `nslookup` on a busy box based image (i.e. skydns,busy box itself etc) it takes 20 seconds.  Whenever I run `nslookup` inside a pod on an ubuntu based image, it takes a fraction of a second.  Exactly like the results you get on your GCE cluster.

cc @thockin

[2015-09-16 23:56] ixdy commented on #14074
OK, still having some issues; not a timeout, but still problematic:
From http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce/8887/console

[code]

I've found no useful information on what causes this, but this has also been happening with some regularity on PR Jenkins.

[2015-09-16 23:57] aanm opened #14088 "kubernetes fails against vagrant"
Hey, I was trying to try kubernetes with vagrant but I not able to do it. First because of the:
`Validating master
.....................................................................................................................................................................................................................................................................`
Then I cancel it and t

[2015-09-16 23:57] smarterclayton commented on #14008
As long as we have no gaps that was the only reason we (dan and I) based it
on the old value.

On Sep 16, 2015, at 7:36 PM, Brian Grant <notifications@github.com> wrote:

Old = 10, new = 20.
maxUnavailable = 50%, maxSurge = 0%

Immediately the new RC can be scaled up to 10. The original RC can then be
scaled down when new replicas become available. I don't see a problem. 50%
* 20 = 10.

—
Reply to

[2015-09-17 00:00] nikhiljindal opened #14089 "Surface versioned swagger-spec on gh-pages"
Right now, we surface the latest spec from HEAD on gh-pages at http://kubernetes.io/swagger-spec/, and the corresponding swagger-ui on http://kubernetes.io/third_party/swagger-ui/.

We should also surface the versioned spec: for ex: http://kubernetes.io/{kube-release-version}/swagger-spec and http://kubernetes.io/{kube-release-version}/swagger-ui.

Based on conversation: https://github.com/kuberne

[2015-09-17 00:02] ixdy commented on #14072
I do not have the bandwidth to investigate this right now. If it is truly a P0 someone else should take it over.

[2015-09-17 00:02] ixdy commented on #14072
cc @kubernetes/goog-testing

[2015-09-17 00:06] nikhiljindal commented on #14008
aah you are right @bgrant0607
That example will work fine.

[2015-09-17 00:24] oamasood commented on #10522
I'm running into a similar issue with a Kubernetes cluster on AWS. I set it up last week and now can't connect to the master node:

oamasood@ldmsdloan01:~/src/Talent-Web/web2py$ kubectl cluster-info
error: couldn't read version from server: Get https://11.11.111.111/api: dial tcp 11.11.111.111:443: connection refused

Any help would be appreciated.

[2015-09-17 00:27] danielschonfeld commented on #14051
cc @thockin - I apologize for bombarding but we are continuing to investigate here and we got some more insights that pretty much pin down all the different notes we've taken throughout the day.

1) zookeeper issues: are not really related to skydns, or kubernetes.  - when using hostname to connect to zookeeper, it does a reverse DNS lookup on the name.  Since kube2sky doesn't register arpa.in-add

[2015-09-17 00:33] bgrant0607 commented on #13984
I assume the kubelet will post the value to apiserver.

Would a Kubelet config file be easier for you to update than its flags? #12245 is in progress, and we also hope to wrap up #1627 in the 1.2 timeframe.

[2015-09-17 00:35] jtronson commented on #10522
I find that if you wait for the master and minion to calm down on activity after a bit (~5 minutes) the kubectl commands work, however the problem is I don't see any nodes running.

I have re-installed virtual box, made sure my .kube directory is clean and I am now pulling just the stock vagrant box cube fedora 21 and kubernetes 1.0.4 release. I do not see any docker processes running on my minion

[2015-09-17 00:37] tsl0922 commented on #11119
@arun-gupta Are you build it inside a vm? Try to increase your vm's memory to 3G or higher, this works for me, see #11852

[2015-09-17 00:43] karlkfi commented on #13984
As long as the config is settable for initial launch of a new kubelet and updatable at runtime, I'm not sure the method is super important.

[2015-09-17 01:06] jtronson commented on #10522
The only errors in my minion salt log are:

2015-09-16 23:40:22,049 [salt.loaded.int.module.cmdmod][ERROR   ][2668] Command 'systemctl status docker.service' failed with return code: 3

2015-09-16 23:40:22,049 [salt.loaded.int.module.cmdmod][ERROR   ][2668] output: * docker.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker.service; disabled)
   Active:

[2015-09-17 02:06] ixdy commented on #13485
Had a successful failure in build 8902.

Grepping out the Ginkgo node number shows this test being the problem:
[code]

So it looks like it got stuck in `getStatus`?
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/networking.go#L214

[code]

Is there anything in here that should hang without deadline?

[2015-09-17 02:56] feihujiang commented on #14030
@nikhiljindal  I got it, thanks.

[2015-09-17 03:06] apeeyush commented on #13761
Thanks @derekwaynecarr for the reply. I will try it again this Sunday and report my findings here (trying a different Virtualbox and Vagrant version, going through past issues on github etc.).

I will greatly appreciate any feedback which might help me identify where the issue is and what tweaks I should do to make it work.

[2015-09-17 03:11] resouer commented on #14029
@yujuhong  Thanks! I opened a issue to track this: https://github.com/fsouza/go-dockerclient/issues/381

[2015-09-17 03:39] feihujiang commented on #13038
/sub

[2015-09-17 04:12] kelseyhightower commented on #13424
@fgrzadkowski @resouer If the kubelet can run from a docker container that would be awesome, but it seems to require a hard dependance on Docker and ongoing support from the upstream docker project.

[2015-09-17 04:18] gosharplite commented on #11888
Since #11892 has been merged, shouldn't this issue be closed?

[2015-09-17 04:40] #13809 closed

[2015-09-17 04:52] thockin commented on #13748
I only took a quick look for now, but it seems to be going down a reasonable road.

[2015-09-17 05:19] roberthbailey commented on #11888
Looks like it.

[2015-09-17 05:19] #11888 closed

[2015-09-17 05:35] thockin commented on #14051
About reverse DNS - what is it reverse DNS'ing?  The IP of a client that
connected to it, or the IP of the Service?  I don't see what reversing the
IP of the Service would tell you, but I guess I would have no problem doing
PTR records for that.  We will soon have forward records for pods, but not
reverse.  There was a reson we chose not to do reverse for pods, but it
escapes me just now.

As for

[2015-09-17 05:43] thockin commented on #13913
The iptables proxy relies on a bunch of kernel features that are relatively
new (not that new but newer than CentOS 6 :) so we just attached to the
iptables version.  I forget if that also guarded some of the iptables flags
we used.

What distro and kernel are you on that has iptables 1.4.7?  If you say
CentOS 6 I'm going to tell you that you get to stay on the userspace
proxier.  That iptables ve

[2015-09-17 05:54] arun-gupta commented on #11119
@tsl0922 Building it on OSX with 16GB memory.

[2015-09-17 06:29] #14030 closed

[2015-09-17 06:49] bgrant0607 commented on #14089
It's not clear the swagger UI is needed since we have the autogenerated docs. Maybe we could eliminate it. WDYT?

Versioning the swagger spec seems useful, though.

[2015-09-17 06:53] resouer commented on #11490
/sub interesting

[2015-09-17 07:08] gosharplite opened #14097 "kubectl logs returns x509: certificate signed by unknown authority"
My v1.0.6 k8s cluster is working fine. My guestbook example is also working.
![screenshot from 2015-09-17 14 57 59](https://cloud.githubusercontent.com/assets/5064483/9926945/a9729914-5d4c-11e5-9598-9921c128b7bf.png)
<hr>
I can `kubectl get po`.
[code]
But I can't `kubectl logs`. My worker node ip is `192.168.122.143`.
[code]
I could use `curl -k` to get the logs though.
[code]
I read #3168 #3481

[2015-09-17 07:13] resouer commented on #14081
/sub Great work!

[2015-09-17 07:30] resouer commented on #1624
/sub

[2015-09-17 07:48] #14011 closed

[2015-09-17 08:05] runseb commented on #12722
why not using docker-compose...I have done it before. It gives you a single command to docker based Kubernetes deployment.

[2015-09-17 08:19] pires commented on #14032
Current CoreOS documentation doesn't provide DNS or UI integration. It's in the pipe but not ready for me to put up a PR. @ltagliamonte feel free to open a PR and tag me so I can review.

[2015-09-17 08:22] pires commented on #14032
Also, see https://github.com/kubernetes/kubernetes/issues/9178

[2015-09-17 08:33] nancykyo opened #14099 "iptables multiplying as services growing"
this is  not bug, just confused about the design of NodePort & service.

So the number of iptables rules for all Service Node will be several times the number of services (2 NAT + 2 REDIRECT at least).
However, in actual use, my use case is one of a web server just work as Front End Service for one BackEnd Service out of the cluster.
As a result, the unnecessary iptables and environment variables

[2015-09-17 08:35] nancykyo commented on #14099
@thockin

[2015-09-17 08:38] gosharplite commented on #14097
I set the kubelet tls file flags `--tls-cert-file` and `--tls-private-key-file` as shown below.
[code]
It doesn't work, because it doesn't contain any IP SANs.
[code]

[2015-09-17 08:43] razvip91 commented on #5706
If you are running behind a proxy, you must enter the proxy environment variables in the Dockerfiles of the image in question. It worked for me.

[2015-09-17 08:45] resouer commented on #11663
I assume this to be very helpful and easy to fix, but seems not progress?

I'd like to help if needed. @mbforbes @AnanyaKumar

[2015-09-17 08:52] #13869 closed

[2015-09-17 08:56] resouer commented on #10352
I try to fix example I proposed, but it seems I can not push to `gcr.io`

[code]

[2015-09-17 09:02] mwielgus commented on #10352
@resouer Which example are you talking about?

[2015-09-17 09:06] gosharplite commented on #14097
I have reverted my kubelet settings as shown below.
[code]
As expected, `x509: certificate signed by unknown authority` still exists.
[code]
Logs generated by the kube-apiserver are shown below.
[code]

[2015-09-17 09:56] dalanlan commented on #12455
Is there anyone working around this, if i may ask?

[2015-09-17 10:00] #8263 closed

[2015-09-17 10:14] resouer opened #14102 "API validation should specify which field is invalid"
Here's the cluster version:

[code]

I can make sure the only thing I want to replace in this Pod is update image from v2 to v3:

[code]

And error:

[code]

For anyone wants re-pro, all the images above are small and public for u to test.

[2015-09-17 10:27] davidopp commented on #12455
It's blocked on #12952

[2015-09-17 10:43] tsl0922 commented on #11119
@arun-gupta Building kubernetes release on OSX requires docker, If your docker vm is created by the build script, it's memory is 1G(docker-toolbox default) or 2G(boot2docker default), see [the script](https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L166).

You may want to create the vm yourself with more memory, and set environment(display it by `boot2docker shellinit` or `doc

[2015-09-17 10:53] arun-gupta opened #14104 "Building Kubernetes master fails"
Checked out a fresh copy of master and building it gives:

[code]

#11119 discusses this.

If more memory is required then `--virtualbox-memory "2048"` or whatever the required number is, should be used while creating the Docker Machine.

[2015-09-17 10:53] arun-gupta commented on #11119
@tsl0922 how much memory is required to run the build? I can change the script accordingly.

[2015-09-17 11:07] resouer commented on #12722
compose is perfect for single node, but for cluster, compose + swarm should be a overkill ...

[2015-09-17 11:26] aanm commented on #14088
To solve it I used https://github.com/kubernetes/kubernetes/releases/tag/v1.0.6 instead of `curl -sS https://get.k8s.io | bash`

[2015-09-17 11:26] #14088 closed

[2015-09-17 11:28] runseb commented on #12722
@resouer agreed, I thought you were only talking single node.

[2015-09-17 12:29] hurf commented on #14027
@feihujiang

[2015-09-17 12:30] hurf commented on #14099
@jiangyaoguo

[2015-09-17 12:33] barrettclark commented on #13997
Everything is still running this morning.  Here is the current dashboard:

![screen shot 2015-09-17 at 7 30 18 am](https://cloud.githubusercontent.com/assets/41442/9933082/072a3682-5d0e-11e5-8aa7-79456c8263ce.png)

I did pull the k8s source again (`wget -q -O - https://get.k8s.io | bash`) before spinning that cluster up in case there had been any updates.

[2015-09-17 12:43] groulot commented on #12853
I'm sorry, I forgot about this issue. We have moved onto another way to install Openshift in the meantime.

[2015-09-17 12:43] #12853 closed

[2015-09-17 13:00] jszczepkowski opened #14107 "persistent_volumes_test integration test flaky on shipable"
Test persistent_volumes_test.go is flaky on shipable. It fails on go 1.3 due to data race:

WARNING: DATA RACE
Read by goroutine 190:
  github.com/coreos/go-etcd/etcd.(*Client).getCancelable()
      /root/workspace/src/k8s.io/kubernetes/Godeps/_workspace/src/github.com/coreos/go-etcd/etcd/requests.go:41 +0xcc
  github.com/coreos/go-etcd/etcd.(*Client).get()
      /root/workspace/src/k8s.io/kuberne

[2015-09-17 13:01] jszczepkowski commented on #14107
I experienced this problem two times so far today. Logs can be found at (build 26377):

https://app.shippable.com/builds/55faafcae5b1f60c00919d3f

[2015-09-17 13:05] jszczepkowski commented on #14107
@markturansky
It seems that there is a problem with TestPersistentVolumeRecycler, which you added quite recently.

[2015-09-17 13:06] jszczepkowski opened #14108 "Cover horizontal pod autoscaler controller with tests"
- [x] add unittests for the controller #14034
- [x] add unittests for heapster metric client #14414
- [x] add e2e tests for autoscaling replication controllers #14811
- [ ] add e2e tests for autoscaling deployments

[2015-09-17 13:11] markturansky commented on #14107
I've noticed the same with Go 1.3.  I will attempt to recreate locally and debug it.

[2015-09-17 13:13] ironcladlou commented on #14008
Hmm, agree with @bgrant0607. I wasn't considering how the scale up would be attempted first.

[2015-09-17 13:33] alex-mohr commented on #14076
Flake again via #13765

Observation: test output is pretty crappy as far as pointing to what the actual issue is and what expected behavior is.

But appears from test output we're waiting < 1 second?

21:55:05 [It] with readiness probe should not be ready before initial delay and never restart
21:55:05   /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/container_probe

[2015-09-17 13:54] tsl0922 commented on #11119
@arun-gupta I can confirm 1GB is not enough, I built it with 2GB(running `make quick-release`).

[2015-09-17 13:58] ironcladlou commented on #14062
Looks like you're right; delta tracking would do the trick. Thanks for the thorough analysis.

[2015-09-17 14:12] derekwaynecarr opened #14111 "Event recorder should enfoce API conventions for Event names"
As code produces events, we are not always enforcing our own API conventions for EventNames

An example PR where we had to make a change:
https://github.com/kubernetes/kubernetes/pull/14110

We should enforce proper event naming conventions as defined here:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#events

The best way to stop this in the future is for the

[2015-09-17 14:13] derekwaynecarr commented on #14111
fyi @bgrant0607 - assume you are agreeable to code enforcing our api-conventions for events?

[2015-09-17 14:29] derekwaynecarr commented on #14111
The validation for an Event should also enforce the naming convention:

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/events.go#L26

[2015-09-17 14:57] eparis commented on #14080
fixed.

[2015-09-17 14:57] #14080 closed

[2015-09-17 15:10] jdef commented on #13956
closing this out since it's a duplicate of the aforementioned bug we're already tracking on our roadmap

[2015-09-17 15:10] #13956 closed

[2015-09-17 16:01] alfred-huangjian commented on #14099
We have also considered about the scenario when there are more than thousands of services. But we really did't formerly do real performance test and doesn't build such a large real environment.

#13500 Here is some discussion before.
@tsjsdbd @hw-qiaolei

[2015-09-17 16:08] barrettclark commented on #13997
I've lost access to the master. The EC2 instance is still running, but I can't SSH into it.  The app that I pushed yesterday is still responding. I can't get any info on it though. `kubectl` gets a `TLS handshake timeout`.

[2015-09-17 16:13] arun-gupta commented on #11119
@tsl0922 Changed Docker Machine memory to 2048 and now getting:

[code]

[2015-09-17 16:16] v1k0d3n opened #14116 "vagrant up for the HA example fails"
grabbed a fresh copy of the HA example directory and tried to vagrant up the example, but get the following:

[code]

i'm probably missing something basic, but I thought I would open an issue in case others are experiencing the same problem with starting the vagrant HA example.

[2015-09-17 16:17] zviadm opened #14117 "Docker aufs issues when running lots of `pull` and `run` commands in parallel"
I am running docker in a test environment, where there are multiple worker processes continuously pulling and running different containers.

After some point, some of the machines start throwing errors like this one:
[code]

Or, this one:
[code]

Restarting docker daemon makes the issues go away. Until it gets into this state again after few hours or days of running.

[code]

[code]

Running on EC

[2015-09-17 16:17] #14117 closed

[2015-09-17 16:19] justinsb commented on #13997
Ouch.  Can you see if there is anything in the EC2 console output: http://docs.aws.amazon.com/cli/latest/reference/ec2/get-console-output.html

I am surprising this is happening on the master - that would point away from disk space.  Are you using kube-up or something else?

[2015-09-17 16:35] thockin commented on #14099
Is this with the userspace proxy or the iptables proxy?

I created 1000 Services and here's what I see:

iptables proxy:
[code]
Memory usage is a little high (74 MB) but not out of line with expectations.

For the userspace proxier I had to set the `--iptables-sync-period` flag to `30s` or else it can not fill the table fast enough (yuck), but i see:

[code]

[2015-09-17 16:38] thockin opened #14118 "iptables kube-proxy memory usage is high"
I see about 74 MB RSS for 1000 services with 5 endpoints each (same 5).  We should try to drive this down quite a bit.

[2015-09-17 16:40] #13500 closed

[2015-09-17 16:40] simon3z commented on #14111
@derekwaynecarr given the description of `reason`:

I'd go with something more structured as:

    type EventReason string

    const (
        /* Some meaningful explanation about CIDRNotAvailable */
        CIDRNotAvailable EventReason = "CIDRNotAvailable"

        /* Some meaningful explanation about CIDRAssignmentFailed */
        CIDRAssignmentFailed EventReason = "CIDRAssignmentFailed"

[2015-09-17 16:41] kevin-wangzefeng commented on #12914
To review the guide, please refer to the PR #14119.

[2015-09-17 16:48] thockin opened #14122 "kube-proxy: change default resync period"
The default 5 second resync period is too low, especially on the userpsace proxier with lots of services - the mutex is held basically continuously.

Consider changing this to 30s for v1.1 - will probably impact e2e which tests this.

[2015-09-17 16:49] thockin commented on #14099
Also, can you see what ulimits are in your case?  Specifically the number of FDs - cat /proc/(pid)/limits.

[2015-09-17 16:50] bgrant0607 commented on #14040
Seems reasonable. In the api, PUT should have create-or-replace semantics #2114.

But `kubectl apply` #1702 is really a better solution and hopefully we'll have that soon.

[2015-09-17 16:51] quinton-hoole commented on #14076
@adamtanner this would be a good starter project to learn how the tests and the system work.  Let me know if you need a hand.

[2015-09-17 16:52] bgrant0607 commented on #14039
Dupe of #11492

[2015-09-17 16:54] quinton-hoole commented on #14076
I will in the mean time send a PR to demote this test to flaky so that it does not produce false regression signals in out continuous integration systems.

[2015-09-17 17:10] technosophos opened #14124 "Vagrant developer provisioning fails because of broken symlink"
Environment:

Host OS is Ubuntu 15.04, running latest Vagrant and using the Vagrant libvirt provisioner.

Issue:

When running a fresh `cluster/kube-up.sh`, I get to the point where Vagrant is rsyncing data. The process fails because the `testdata` in one of the dependency Go packages contains an (intentionally) broken symlink. Rsync with `--copy-links` does not handle this case well, and the buil

[2015-09-17 17:13] bgrant0607 commented on #13812
We need to make validation on List work. We should test multiple resources w/o List as well.

[2015-09-17 17:16] bgrant0607 commented on #13699
Ref #341

[2015-09-17 17:31] quinton-hoole commented on #14078
I'd suggest that we leave this one open to track debugging of the failures.  Declaring it flaky doesn't fix the problem :-)

[2015-09-17 17:34] jlowdermilk commented on #14078
Fair enough. Note that it's only flaky when run in parallel. The [non-parallel test runs](http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/8511/testReport/(root)/Kubernetes%20e2e%20suite/Kubectl_client_Kubectl_expose_should_create_services_for_rc/history/) are 100% green. Reprioritizing accordingly.

[2015-09-17 17:36] alex-mohr opened #14125 "kubernetes-soak-continuous-e2e-gce went yellow"
Last night kubernetes-soak-continuous-e2e-gce went yellow, first failing with node not ready:
Sep 16 21:06:18.783: All nodes should be ready after test, Not ready nodes: [{{ } {gce-soak-weekly-minion-xsmf
More recent builds have failed with eg:
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scheduler_predicates.go:162
Expected error:
    <*errors.errorString | 0xc20

[2015-09-17 17:39] barrettclark commented on #13997
The master ran out of memory.  Here is a section of the log from where we think the master tripped offline `cat /var/log/syslog | grep -v level.info | more`:

[code]

[2015-09-17 17:40] vishh opened #14126 "Events missing UIDs"
Certain events are missing UIDs. After a bit of investigation with @lavalamp and @saad-ali we realized that UIDs are not validated if existing events are updated. The api-server can populate UIDs for events if they are missing based on the Name.
Fixing the client side event generator may not work everywhere since it requires re-compiling all the clients.

[2015-09-17 17:42] bgrant0607 commented on #13599
cc @caesarxuchao

[2015-09-17 17:44] bgrant0607 commented on #13585
cc @kubernetes/kubectl

[2015-09-17 17:45] bgrant0607 commented on #13522
Previous attempt to fix this: #3894

[2015-09-17 17:48] bgrant0607 commented on #13899
Dupe of #12447
PR in flight: #13780

[2015-09-17 17:48] #13899 closed

[2015-09-17 17:49] bgrant0607 commented on #13239
Good idea.

[2015-09-17 17:51] quinton-hoole commented on #14125
Dupe of #13828

[2015-09-17 17:51] #14125 closed

[2015-09-17 17:51] #11310 closed

[2015-09-17 17:51] #11262 closed

[2015-09-17 18:04] jiangyaoguo commented on #14111
@derekparker Reason Should be in CamelCase. At most  we can  validate it's one word begin with capital letter. Is this enough for validate reason if we want  do this in event recorder?

[2015-09-17 18:10] technosophos commented on #14124
Update: This is actually the result of running Vagrant with libvirt and without NFS.

With the `rsync` agent, we could simply add the `rsync__exclude` directive and ignore the problematic test directory.

[2015-09-17 18:19] bgrant0607 opened #14127 "Update container-environment.md to reflect reality"
Forked from #12747.

We need to clean up https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/container-environment.md. It's confusing to users.

* Ensure the description reflects current implementation
* Remove unimplemented features. This isn't a design doc.

cc @smarterclayton

[2015-09-17 18:22] bgrant0607 commented on #12701
From #12747:

Should mention preStop hooks and link to https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/container-environment.md from pods.md

Should update the relevant section of https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/production-pods.md

[2015-09-17 18:37] RichieEscarez commented on #13599
Ive looked at this and am pretty sure that the javascript is lacking the logic to recognize those urls with anchors and then scroll down to the right position.

I think the fix is to:

Instead of 'always' scrolling the page up on load [see this code](https://github.com/kubernetes/kubernetes/blob/gh-pages/_layouts/docwithnav.html#L92), we should instead check for an anchor first (if anchor scroll t

[2015-09-17 18:48] alex-mohr commented on #14124
@derekwaynecarr are you still helping with Vagrant issues?

[2015-09-17 18:53] technosophos opened #14128 "Vagrant+libvert error installing Docker"
Host: Ubuntu 15.04 + Lastest Vagrant +libvert, Kubernetes `master`

Problem:

During `kube-up.sh`, during provisioning of master and minion, there is an error that appears to be a conflict over which version of Docker should be installed.

[code]

[2015-09-17 18:54] alex-mohr commented on #14116
I'm sorry you're having difficulty getting it to work.

Unfortunately, I'm not familiar with the Vagrant HA setup, but perhaps something in the troubleshooting guide might help?  https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/troubleshooting.md

Also, we're trying to move support-style questions to Stack Overflow (e.g. http://stackoverflow.com/questions/tagged/kubernetes) and limit

[2015-09-17 18:54] #14116 closed

[2015-09-17 18:56] alex-mohr commented on #14111
@lavalamp is this team/CSI?  or you as interested events guru?

[2015-09-17 18:58] mikedanese commented on #13847
This is pretty much GoogleCloudPlatform/container-agent#9

[2015-09-17 19:00] derekwaynecarr opened #14129 "Unable to use kubectl get with a fieldSelector"
I do not appear to be able to use kubectl to perform a field selector.

In particular, I wanted to select pods that were scheduled to a particular node.

Expected to be able to do:

[code]

But that only filters on labelSelectors, and there is no way to pass a fieldSelector.

[2015-09-17 19:01] alex-mohr commented on #14104
Thanks for the report.

Unfortunately, I don't think it has enough detail to be actionable.  We regularly build fresh copies of the master and it works, so perhaps you can include more details about your particular setup and provide exact repro steps?

See e.g. https://github.com/kubernetes/kubernetes/blob/master/docs/troubleshooting.md and the text ```If filing a bug, please include detailed info

[2015-09-17 19:01] #14104 closed

[2015-09-17 19:01] derekwaynecarr commented on #14129
@kubernetes/kubectl - its possible I am ignorant of a feature, but it looks like field selectors are not usable from kubectl.

[2015-09-17 19:02] alex-mohr commented on #14102
@kubernetes/goog-csi Seems like explicitly listing the supposedly-invalid field that was specified would help a lot in figuring out what's going on?

[2015-09-17 19:10] pmorie opened #14131 "There should be a cluster-level SELinux capability"
Forking from #12944

Currently, the SELinux support in kubernetes is essentially optional and is driven by whether
SELinux is enabled on any particular node.  It should be possible for cluster operators to enforce
that SELinux is enabled if SELinux integration is expected by the cluster.  If SELinux integration
is expected and SELinux is not enabled on a node, the node should have a `NotReady` sta

[2015-09-17 19:12] mikedanese commented on #13847
We should consider in the context of batch tasks as well as service tasks. @erictune

[2015-09-17 19:13] bgrant0607 commented on #14111
Strengthening validation would be a breaking API change. As much as I'd like to enforce the conventions, this can't be the way to do it. Or maybe the check could be enabled only during tests.

Could we write a code validator instead?

It is also true that it seems hard to make the check stronger than just capitalization, but not capitalizing the first letter is one of the most common inconsistenci

[2015-09-17 19:17] bgrant0607 commented on #14111
Defining constants as in @simon3z's example also SGTM.

[2015-09-17 19:25] bgrant0607 commented on #2838
And doc queries generally should:
a) Find relevant docs
b) Hit kubernetes.io

[2015-09-17 19:30] smarterclayton commented on #12701
Added a commit to that pull with both of these

On Sep 17, 2015, at 2:22 PM, Brian Grant <notifications@github.com> wrote:

From #12747 <https://github.com/kubernetes/kubernetes/pull/12747>:

Should mention preStop hooks and link to
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/container-environment.md
from pods.md

Should update the relevant section of
https://github.com/ku

[2015-09-17 19:31] smarterclayton commented on #14129
They are not

On Sep 17, 2015, at 3:01 PM, Derek Carr <notifications@github.com> wrote:

@kubernetes/kubectl <https://github.com/orgs/kubernetes/teams/kubectl> -
its possible I am ignorant of a feature, but it looks like field selectors
are not usable from kubectl.

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/14129#issuecomment-141190235>
.

[2015-09-17 19:32] #13198 closed

[2015-09-17 19:35] ae6rt commented on #13847
I want to make another observation, one not made yet, but surely I'm not the only one to think it:  the destroy-pod instruction should probably come from outside the pod based on an observable of some sort.  Contrast this with my adding an (N+1)^th container to monitor whether my "app" container has exited, then have that monitoring-container destroy its very own pod.  Having a pod destroyed by on

[2015-09-17 19:36] derekwaynecarr commented on #14129
Then consider this issue a feature request to make it easy for me to filter all pods by a node in kubectl using the current fieldSelector available in the API ```spec.nodeName``` ;-)

[2015-09-17 19:42] lavalamp commented on #14126
@saad-ali, do you have time to look at this?

[2015-09-17 19:43] smarterclayton commented on #14129
Agree, there are more uses for it and we now have jsonpath to formalize it

On Sep 17, 2015, at 3:37 PM, Derek Carr <notifications@github.com> wrote:

Then consider this issue a feature request to make it easy for me to filter
all pods by a node in kubectl using the current fieldSelector available in
the API spec.nodeName ;-)

—
Reply to this email directly or view it on GitHub
<https://github.com

[2015-09-17 19:48] bgrant0607 opened #14132 "Create user-guide doc about experimental APIs"
Should explain:
* What experimental APIs are
* How to enable the APIs
* User expectations re. API stability, or lack thereof, and what to do if there is a breaking change (delete all the changed resources before updating the cluster, probably)
* Pointers to docs for the experimental APIs we currently have

cc @caesarxuchao @lavalamp @RichieEscarez

[2015-09-17 19:49] caesarxuchao commented on #14102
@resouer please do it like the kubectl replace example does (kubectl replace -h),
[code]

Your config file doesn't work because it doesn't specify all fields, and the default value of those fields may be different from their current value.

I think we need to further improve the error message as this is not obvious.

[2015-09-17 19:50] bgrant0607 commented on #14132
cc @jszczepkowski @nikhiljindal @mikedanese @erictune @bprashanth

[2015-09-17 19:50] bgrant0607 commented on #14132
cc @brendandburns

[2015-09-17 19:52] lavalamp commented on #14132
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api_changes.md#making-a-new-api-group

Some preliminary stuff added there.

[2015-09-17 19:53] bgrant0607 commented on #14132
cc @vishh

[2015-09-17 19:53] bgrant0607 commented on #14132
@lavalamp We need user guide in addition to developer guide.

[2015-09-17 19:54] bgrant0607 commented on #14081
If we add metrics to existing kubectl commands, such as describe pods, we need them to fail gracefully/silently in the case that the experimental metrics API is not enabled/present.

[2015-09-17 19:56] lavalamp opened #14133 "pkg/client: api version to be set at high level, not low level."
Currently pkg/client has logically distinct low level RESTClient (Get, Put, Post...) and high level typed client (PodsNamespacer etc).

The API version (and implictly, group) is currently baked into the low level RESTClient, but this is wrong. We want to use the same low-level code for all API versions and groups, and supply a different high level client for each version.

The action item here is

[2015-09-17 19:57] lavalamp commented on #14132
Yeah, I agree. Just wanted what little documentation we have pointed out here.

[2015-09-17 19:59] danielschonfeld commented on #14051
@thockin I haven't delved into the ZK code deep enough but there are several bugs about it, here's an example of one (don't be fooled by it showing closed, or the version.... there's already a dupe in an up and current version) https://issues.apache.org/jira/browse/ZOOKEEPER-1652

As for busy box within ubuntu.... it works flawlessly.  And so does the busy box in which skydns is in now :8ball:

I

[2015-09-17 20:00] quinton-hoole commented on #14072
This is a bug in the test.  It needs to retry updates on version mismatch.  @mikedanese can you do?

[2015-09-17 20:03] JanetKuo commented on #14129
I tried to support that in an earlier PR, however in current development if you're specifying multiple resources with any fieldSelector that don't exist in all of the specified resources, it'd fail. See https://github.com/kubernetes/kubernetes/pull/12112#issuecomment-128532616

[2015-09-17 20:03] quinton-hoole commented on #14072
PS, there's another failure mode that we see in this test quite frequently.  It might make sense to fix it at the same time, or at least improve the logging:

[code]

[2015-09-17 20:04] bgrant0607 commented on #12048
cc @thockin for the immediate plan

[2015-09-17 20:10] nikhiljindal commented on #1743
Summarizing the tasks:

- [x] Check-in the API.
- [x] Implement the storage and REST interface to be able to register objects on API server
- [x] Update client library to support Deployment.
- [ ] Add Kubectl support. (Almost done: Describe is the only thing left)
- [ ] DeploymentController
- [ ] e2e test
- [ ] example and other docs.

[2015-09-17 20:13] nikhiljindal commented on #1743
Current status: Users can create deployment objects on the server, kubectl supports everything except describe.
@ghodss and I are working on the DeploymentController.
kubectl/rolling_updater is totally independent. It does not create a deployment object.

[2015-09-17 20:14] mikedanese commented on #14072
Looking into this now.

[2015-09-17 20:16] roberthbailey commented on #14131
@dchen1107

[2015-09-17 20:18] derekwaynecarr commented on #14129
I think its reasonable to error on a fieldSelector when supplying more than one resource type.

```kubectl get --field-selector=spec.nodeName=xyx pods``` works fine.

```kubectl get --field-selector spec.nodeName=xyz pods,services``` should error

[2015-09-17 20:19] derekwaynecarr commented on #14129
@smarterclayton - the problem with json path is its client filtered, right?  i want to filter on the server if possible.

[2015-09-17 20:21] pmorie commented on #13038
@kubernetes/rh-cluster-infra @kubernetes/rh-ux

Also, personally, DO WANT>

[2015-09-17 20:23] derekwaynecarr commented on #14124
I am supporting the Vagrant + VirtualBox combination.

I think @pronix added support for the Vagrant + libvirt combination in
https://github.com/kubernetes/kubernetes/pull/7617

It would be good for him to weigh in if he is still able to support.

On Thu, Sep 17, 2015 at 2:49 PM, Alex Mohr <notifications@github.com> wrote:

[2015-09-17 20:27] pmorie commented on #13748
@kubernetes/rh-cluster-infra @kubernetes/rh-networking

[2015-09-17 20:29] alex-mohr commented on #14097
@gosharplite you didn't mention which environment you're running in or how you set up the cluster -- details please?  Also, did you manually generate those cert files, and if so, what commands?

@roberthbailey more cert stuff.  Is this worth an explicit section in one of the (many) troubleshooting guides, such as http://kubernetes.io/v1.0/docs/admin/cluster-troubleshooting.html ?

[2015-09-17 20:36] alex-mohr commented on #14028
We updated the docs at head: https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/prereqs.md

[2015-09-17 20:36] #14028 closed

[2015-09-17 20:40] pmorie commented on #14111
@kubernetes/rh-cluster-infra @kubernetes/rh-ux

[2015-09-17 20:41] alex-mohr commented on #14023
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-17 20:41] #14023 closed

[2015-09-17 20:44] erik-farmer commented on #12768
Additionally [Docker deprecated boot2docker][1] in it's recent release.
This unfortunately puts the [kubernetes local docker documentation][2] out of date
[1]:https://docs.docker.com/installation/mac/
[2]:http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html

[2015-09-17 20:45] pmorie commented on #14118
@kubernetes/rh-scalability

[2015-09-17 20:47] pmorie commented on #13812
@kubernetes/rh-ux

[2015-09-17 20:49] kamalmarhubi commented on #13522
@bgrant0607 oh thanks for linking that! Unclear if issues were filed for the individual parts of that or not; do you know?

[2015-09-17 20:57] bgrant0607 commented on #13522
@jlowdermilk may remember what was done/filed. He closed the issue (#3894).

[2015-09-17 21:03] alex-mohr commented on #14072
Thanks @mikedanese for looking.  FWIW, I noticed it seemed to be instantly timing out at < 1 second, when the code appears to have a 5 second poll and 1 minute timeout passed in.  Something odd.

[2015-09-17 21:04] smarterclayton commented on #1743
Are you going to add a new generator so that kubectl run creates a
deployment instead of RC on restart=Always?

On Thu, Sep 17, 2015 at 4:13 PM, Nikhil Jindal <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-17 21:04] jmccarty3 commented on #12398
kubectl patch nodes $NODENAME -p '{"spec": {"unschedulable": true}}'

Works for me to mark the node as unschedulable.

[2015-09-17 21:05] kamalmarhubi commented on #13522
Makes sense :-)

[2015-09-17 21:07] alex-mohr commented on #12218
From http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/9063/console
12:35:19 +++ [0917 12:35:19] Starting Docker build for image: kube-controller-manager
12:35:19 +++ [0917 12:35:19] Starting Docker build for image: kube-scheduler
12:35:24 could not find image: no such id: 3d8ae8dfc7634dd80720b13cb87300b768bd58ccbcbf8c31dcc4d84b770357f1

[2015-09-17 21:15] creativeux commented on #12614
This problem still appears with VirtualBox 5.0.4 and Docker 1.8.

[2015-09-17 21:26] smarterclayton commented on #8190
Added item on possible rename of PersistentVolumeClaim -> PersistentVolume (created by end user) and PersistentVolume -> StorageVolume or PhysicalStorage or just Volume (created by admin) to more closely mirror Pod -> Node (it's not a PodClaim)

[2015-09-17 21:26] mikedanese opened #14138 "Flake in controller framework test"
[code]

@lavalamp @mvdan

[2015-09-17 21:34] mvdan commented on #14138
@mikedanese could you assign this to me? I can't assign to self.

[2015-09-17 21:40] thockin commented on #12048
Immediate plan is to switch this to "enabled" by default.  It's
 unfortunate that so many things need it, but they do.

@artfulcoder to close this with his PR

On Thu, Sep 17, 2015 at 1:04 PM, Brian Grant <notifications@github.com>
wrote:

[2015-09-17 21:47] simon3z commented on #14111
The advantage of that is that I suppose you can use reflection to validate the entries (list all the `EventReason` constants in the `record` package and check for no spaces, first capital letter, etc.)

Anyway having all the reasons in one place already would allow people to easily review that part of the code and spot inconsistencies.

[2015-09-17 21:48] smarterclayton opened #14139 "Add an e2e test that exercises readiness states interacting with the endpoints controller"
Spawned from #13778:

`e2e/services.go` is probably the right spot.

[2015-09-17 21:54] brendandburns commented on #13847
This seems reasonable, and seems like a restart policy of `TerminateOnFailure` or `TerminateOnExit`

Though of course, in this concrete case, this is achievable right now with a `RestartNever` and health checks for the support pods.

The first pod exits, doesn't get restarted, the health checks fail for the other support pods, the kubelet kills them, and then since restart policy is restart never,

[2015-09-17 22:03] bgrant0607 commented on #3585
Ref. https://github.com/docker/docker/issues/11187

[2015-09-17 22:07] ae6rt commented on #13847
@brendandburns The second sentence seems to say that if my support pods can return not-healthy, then the pod can be torn down.  And not-healthy in my use case means the "app" container has exited.  But I don't want these support pods to have to know the "app" container even exists.  My use case support pods are things like stock mysql, or stock redis.  They are unaware the app has exited, and don'

[2015-09-17 22:08] jcderr commented on #367
+1

[2015-09-17 22:09] dchen1107 opened #14140 "Prodswitch-off Kubelet should reject allocated pods from kube-apiserver (was: Unschedulable Kubelet should reject allocated pods from kube-apiserver)"
PR #14054 which registers master kubelet with the kube-apiserver, but mark such kubelet as unschedulable through NodeSpec. Such kubelet should operate the same as other kubelets, except rejecting any allocated pods from kube-apiserver.

cc/ @roberthbailey @mikedanese @bgrant0607 @davidopp

[2015-09-17 22:13] #13557 closed

[2015-09-17 22:15] dchen1107 commented on #14140
cc/ @kubernetes/goog-node

[2015-09-17 22:17] thockin commented on #14051
About reverse DNS:

I am trying to figure out what zk is going to DO with the information.  In other words, if I connect to it from 1.2.3.4 and it does a PTR lookup and gets back "1-2-3-4.ns.pod.cluster.local", what is it going to use "1-2-3-4.ns.pod.cluster.local" for?  Is it going to connect back to that?  Is it going to look it up in a list of allowed clients?  Is it going to regex it?

We coul

[2015-09-17 22:17] #14051 closed

[2015-09-17 22:18] liggitt commented on #14111
+1 for validation of whatever sort we can do in a compatible way

-1 for centralized reasons. I shouldn't have to change core event code to report new event reasons for a new component. Remember that event reporters might not even live in the kubernetes code base

[2015-09-17 22:24] nirving-versent commented on #11819
Found something interesting when starting from my home network. I get this when i run `cluster/kupe-up.sh`
[code]

[2015-09-17 22:28] bgrant0607 commented on #8379
cc @erictune

[2015-09-17 22:32] smarterclayton commented on #14129
Today.  No reason it can't be on the server.

On Sep 17, 2015, at 4:20 PM, Derek Carr <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> - the problem with json
path is its client filtered, right? i want to filter on the server if
possible.

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/14129#issuecomment-14

[2015-09-17 22:38] bgrant0607 commented on #12732
cc @kubernetes/goog-cluster

[2015-09-17 22:42] brendandburns commented on #13847
the health checks are kubernetes Pod concepts, not app level concepts, so your support containers know nothing about them.

[2015-09-17 22:45] smarterclayton commented on #13811
Do we know what the problem is?

[2015-09-17 23:02] bprashanth commented on #12732
Can we get this to reach out to letsencrypt CA (https://letsencrypt.org/howitworks/technology/) and produce real certs for domains that we get through cloudprovider dns? haven't thought this through, just putting it out there

[2015-09-17 23:03] dchen1107 commented on #367
cc/ @pwittrock

[2015-09-17 23:03] dchen1107 commented on #367
https://github.com/kubernetes/kubernetes/pull/13524

[2015-09-17 23:18] thockin commented on #12732
+1 to the idea - need it for docker registry SSL,

On Fri, Aug 14, 2015 at 7:53 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-09-17 23:23] aronchick commented on #1957
@jefferai To that end, you have the passion and knowledge, and work for Hashi, any chance we could get one of you or your colleagues to start the PR/review? Pretty please? We'll give you all the Google queries you want for free.

[2015-09-17 23:37] liggitt commented on #13811
Did https://github.com/kubernetes/kubernetes/issues/13864 not resolve it?

[2015-09-17 23:39] ixdy opened #14145 "integration test TestPersistentVolumeClaimBinder is flaky"
This test has failed in about 4 out of 50 runs on our new Jenkins build (kubernetes-test-go):
[code]

[2015-09-17 23:40] ixdy commented on #14145
Looks like a dupe of #14107, perhaps.

[2015-09-17 23:41] ixdy commented on #14145
cc @markturansky based on git blame

[2015-09-17 23:53] lavalamp commented on #14111
Agree.

On Thu, Sep 17, 2015 at 3:18 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-09-17 23:55] yujuhong commented on #5657
@thockin, I think you did implement this in https://github.com/kubernetes/kubernetes/commit/ca89aa6528c918985d3527f9b7aa76aa0c219696#diff-bf28da68f62a8df6e99e447c4351122dR1068
I don't think we use the pod directories as checkpoints at all in kubelet as of now.

[2015-09-17 23:56] pbkwee opened #14146 "Improve kube2sky command-line argument documentation"
The docs say:
-kube_master_url: URL of kubernetes master. Required if --kubecfg_file is not set.

Can you make that a little more explicit?
-kube_master_url: URL of kubernetes kube-apiserver master. Required if --kubecfg_file is not set.

To differentiate it from other things the master is running like etcd.

Or even:
-kube_master_url: URL of kubernetes kube-apiserver master. e.g. using the 'insec

[2015-09-18 00:09] yujuhong commented on #6804
@smarterclayton, can we close this now that #8641 has completed?

[2015-09-18 00:12] yujuhong commented on #9534
I am tentatively closing this issue since kubelet code has been through a lot of changes since then. Will reopen if it strikes again.

[2015-09-18 00:12] #9534 closed

[2015-09-18 00:16] yujuhong commented on #12380
Lowering the priority since the future of static/mirror pod is unclear (may be deprecated) for use cases beyond non-master components.

[2015-09-18 00:19] smarterclayton commented on #6804
Yes

[2015-09-18 00:19] #6804 closed

[2015-09-18 00:19] markturansky commented on #14145
Yes dupe of #14107.  I'm investigating.

[2015-09-18 00:19] #14145 closed

[2015-09-18 00:59] yujuhong commented on #12540
PRs for the event generator: #13571, #13990

[2015-09-18 01:26] jayunit100 commented on #11819
lets see.. first, is the apiserver actually running ? ssh into the master and `journalctl -f -u kube-apisever`?

[2015-09-18 01:36] nirving-versent commented on #11819
Let me check when I go home this evening.

[2015-09-18 01:56] pbkwee commented on #14020
got skydns working and that solved this problem.  seems like the guestbook howto should include the skydns steps if that dns is required to make the guestbook app functional.

[2015-09-18 02:09] huangyuqi opened #14150 "Validation about creating additional API tokens for a service account"
When i use  `kubectl create -f ./secret.json` to create additional API tokens for a service account, with the follow json file:(according to [Cluster Admin Guide to Service Accounts](https://github.com/kubernetes/kubernetes/blob/master/docs/admin/service-accounts-admin.md#to-create-additional-api-tokens))
[code]
Although there is no `Account-a` in the cluster, i can still get the right print `secr

[2015-09-18 02:13] Hokutosei commented on #12614
same here, no luck

[code]

kubernetes 1.0.6
virtualbox 5.0

[2015-09-18 03:32] ydhydhjanson opened #14153 "pods with nfs volume,the nfs mount point and the pod volume are synchronized,but the pod volume and container volume are not synchronized"
## my environment information
### docker info:

[code]

[code]
### kubernetes info:

[code]
### OS version:

[code]
## PersistentVolume and Pod config
### PersistentVolume:

[code]
### PersistentVolumeClaim:

[code]
### ReplicationController:

[code]
## nfs info
### nfs mount point:

[code]
### /var/lib/webapps ls:

[code]
## the results I received
### pod volume path:

[code]
### pod volume path

[2015-09-18 03:33] ydhydhjanson commented on #14153
@calfonso
can you help me?

[2015-09-18 03:34] ydhydhjanson commented on #14153
@swagiaal
can you help me?

[2015-09-18 03:35] #13960 closed

[2015-09-18 03:45] thockin commented on #5657
I don't think this is resolved, but I am somewhat removed from kubelet - it's pretty easy to test manually

[2015-09-18 03:48] bgrant0607 commented on #14140
cc @a-robinson

[2015-09-18 03:57] alex-mohr commented on #14076
@quinton-hoole Looks like it's still flaky as of an hour ago: #13852

[2015-09-18 04:08] gosharplite commented on #14097
@alex-mohr My cluster is created from scratch base on [Getting started from Scratch](http://kubernetes.io/v1.0/docs/getting-started-guides/scratch.html). [Fleet](https://coreos.com/using-coreos/clustering/) is used to deploy K8s on top of a CoreOS cluster. Cert files are generated base on [Security Models](http://kubernetes.io/v1.0/docs/getting-started-guides/scratch.html#security-models). Command

[2015-09-18 05:18] liggitt commented on #14150
In general, validation shouldn't make additional API calls to other objects. The tokens controller cleans up tokens that reference service accounts that don't exist

[2015-09-18 05:18] vyshane commented on #12273
+1

[2015-09-18 05:20] liggitt commented on #14133
/cc @deads2k - might be related to the negotiate rework you looked at

[2015-09-18 05:26] Dingshujie commented on #14150
I met the same problem, when i use ``` kubectl create -f ./secret.json```to create tokens, it also get right  print ```secrets/mysecretname```,but when i use ```kubectl get secrets/mysecretname -o yaml```to get detail information of mysecretname, it met an error,it print```Error from server: secrets "mysecretname" not found```.Does it means that lack of  specified service-account lead to mysecretn

[2015-09-18 05:30] liggitt commented on #14150
that likely means the tokens controller observed the creation of the secret, found the service account missing, and cleaned up the invalid token secret

[2015-09-18 06:21] pronix commented on #14124
Hello
can you provide step by step instruction how to repeat error, started on git clone kubernetes ?
also rsync working same way as on virtualbox, and you can use rsync__exclude
thank

[2015-09-18 06:28] #13875 closed

[2015-09-18 06:53] kgrvamsi commented on #10323
This Functionality should be for every cloud provider but not restricted only to GCE.

[2015-09-18 07:02] huangyuqi commented on #14150
Thanks, @liggitt. I got what you mean. But the cleaning up action is background, the user should not get any information of `kubectl create -f ./secret.json`.  Maybe,  some tips need add to doc.

[2015-09-18 07:04] Zolmeister commented on #2996
I ran into this as well (CoreOS cluster on DigitalOcean)
For me the issue was that I started Flannel with the wrong network range (`10.244.0.0/16`)

[code]

but my api server was on `10.100.0/16`

[code]

[2015-09-18 07:49] piosz opened #14159 "godep restore failing on HEAD"
The cause is prometheus/client_golang#173. It fails with the following error:
[code]

@eparis proposed one of:
1) fix e2e to not use prometheus/golang_client/extraction
2) fix godep to not die in this situation
3) turn of the verification

Follow up of #14113

[2015-09-18 08:15] ejemba commented on #10288
Here the related PR
https://github.com/kubernetes/kubernetes/pull/14115
Not a big fix, but was my first dive in the kube source.

[2015-09-18 08:28] gosharplite commented on #14097
It seems if I get rid of below parameters from kube-apiserver, `kubectl logs/exec` works.
[code]
I will create my k8s cluster from scratch and do more testing.

[2015-09-18 08:44] romanek-adam opened #14162 "Node in NotReady status after kernel upgrade and reboot on Ubuntu Vivid (15.04) due to Docker service failure (no aufs)"
Hi. I'm writing this partially because I want to start a discussion and to leave some trails for others potentially affected.

I started my journey with Kubernetes just a few days ago. I downloaded the 1.0.6 release (now I know this a only a pre-release and I should've downloaded the 1.0.4 release but this doesn't seem to be related to my particular issue).

I brought up a tiny k8s cluster with th

[2015-09-18 08:51] linzichang commented on #11361
@gmarek @bgrant0607 If no one is doing this now. I think I can help to fix some examples.

[2015-09-18 09:05] fgrzadkowski commented on #13424
@resouer Somehow I've ignored the fact that you are referring here only to bare metal setup. I'd like us to go into the direction where docker based setup is the default for most providers (bare metal, GCE, AWS and all OS distributions). I think there is not reason to limit this to bare metal.

[2015-09-18 09:09] fgrzadkowski commented on #12722
@resouer This issue is about single node k8s cluster. Scripts you have mentioned does not address problems I've mentioned. I think this will be fixed once we run something like ```curl -sSL https://k8s.io/run-locally/ | sh``` and it will do all the needed things (including installing kubectl, configuring it etc)

[2015-09-18 09:27] qwang1 opened #14163 "Creating kube-controller-manager pod fails when following steps in scratch.md"
I'm trying to create a kube-controller-manager pod according to the template ( https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/scratch.md#controller-manager-template). I found if hostNetwork=true, with/without host specified localhost on livenessProbe, the pod is always in ContainerCreating status and logs "specified host networking, but is disallowed". If I set "h

[2015-09-18 10:13] gosharplite commented on #14097
I have re-created my cluster and everything is working fine :100:
FYR, below are the configurations.
[code]
[code]
[code]
[code]
[code]

[2015-09-18 10:13] #14097 closed

[2015-09-18 10:27] piosz commented on #14159
cc @timstclair who introduced the mentioned deps

[2015-09-18 10:30] juliusv commented on #14159
On the Prometheus side, this functionality has moved to `github.com/prometheus/common/model` and `github.com/prometheus/common/expfmt`, respectively. Let us know if we can help with the conversion.

@fabxc, does the note in the README.md of https://github.com/prometheus/common still apply, or is it fine for external users to use packages from this repo now?

[2015-09-18 10:33] piosz commented on #14159
@juliusv thank you so much for quick update. This should be sufficient for us.

[2015-09-18 10:38] fabxc commented on #14159
Removed the notice – this repo is now in use across our repositories. It may still change as as required by our components.

[2015-09-18 10:58] piosz commented on #14159
@fabxc thanks for the info!

[2015-09-18 11:44] BugRoger commented on #13212
The manual provisioning of volumes is already tedious. Even more so if the volumes need to be partitioned before they can be used.

Imo this defeats the point of the automatic mounting/formatting. At least I am just using whole devices without partitions to easy my life.

[2015-09-18 11:56] theresiasnow opened #14170 "Better documentation for deploying cluster add on fluentd-elasticsearch wanted"
Trying to set it up with pod definitions in /etc/kubernetes/manifests/ (bare metal ubuntu cluster). Note I'm using my own docker image (modifed the provided one). Restarting kubelet and then trying:

[code]

Can't figure out what ip to use.. Localhost? Where do I find the port?

[code]

[2015-09-18 12:13] deads2k commented on #14133
Once all the surrounding code can handle a late-binding `apiVersion`, it ought to make it easier to avoid excessive negotiation.  It won't eliminate the problem of getting the correct codec down to the lower level `RESTClient`, but presumably that would happen at the same time the `apiVersion` is set.

[2015-09-18 12:26] jszczepkowski commented on #14107
Similar problem occurs in TestPersistentVolumeDeleter:
https://app.shippable.com/builds/55fbfc0f9b216d0d00d23883

[2015-09-18 12:32] perljedi commented on #12398
That works for me also... though the documentation at
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/node.md#manual-node-administration
should probably be updated to reflect that syntax.

[2015-09-18 13:03] aveshagarwal commented on #14163
@qwang1 Could you check if you have --allow_privileged set to true in your setup?

[2015-09-18 13:15] aveshagarwal commented on #14163
If "hostNetwork" is set to true and the controller and scheduler are listening on 127.0.0.1 then, "host" : "127.0.0.1" should be set so that probe can reach to them.

However, if "hostNetwork" is false, then it does not make much sense that they listen on 127.0.0.1. In this case, they should listen on container's ip address and then there is no need to specify "host"  because by default, the probe

[2015-09-18 13:20] aveshagarwal commented on #14163
Also If "hostNetwork" is set to true and the controller and scheduler are listening on container's ip, then no need to specify "host", as by default, the probe is sent to container's ip address.

[2015-09-18 13:46] swagiaal commented on #13212
@BugRoger this is not adding a partitioning requirement. Partitions are already supported and you can use them in your pods. This is just saying that if you specify /dev/sdb and the format function finds that this disk has partitions then assume that the user made a mistake. ie they meant /dev/sdb1 or something. Otherwise we will format the entire drive and lose partitions. Come to think of it 'fi

[2015-09-18 14:03] swagiaal commented on #14153
@ydhydhjanson what are the permissions on the volume and if you are running with  SELinux enabled what are the labels
`ls -lZ /var/lib/kubelet/pods/7ce29f78-5b58-11e5-b96c-000c29accf26/volumes/kubernetes.io~nfs/nfs-pv`

[2015-09-18 14:20] bgrant0607 commented on #11361
That would be great. Thanks, @linzichang.

I suggest starting with just one example first and go through the whole review process on it before working on others.

Note that:
* We have automated enforcement of some documentation conventions, so run the presubmit checks.
* Some examples are used in our end-to-end tests, so search the codebase for use of their json/yaml files.
* Many examples run thr

[2015-09-18 14:50] Rio commented on #13797
@rootfs, sorry for some reason logs were lost. I've been trying to recreate the situation on a test node for a while now but I can't manage it. Just to give you a picture we have a 4 node replicated distributed gluster setup with client versions ```3.6.4-1.fc22``` on the kubernetes nodes running fedora server 22.

We're migrating from our old nfs storage to the nodes so usage should increase and m

[2015-09-18 14:53] rootfs commented on #13797
@Rio thanks, looking forward to your update.
i cannot close it, only you can :)

[2015-09-18 14:55] #13797 closed

[2015-09-18 15:12] piosz commented on #14159
@juliusv, @fabxc we are using in out code extraction.Processor004. Where can I find a new version of this once it was removed? See https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubelet_stats.go#L116 for references.

[2015-09-18 15:14] wstrange commented on #12722
The DNS add on is also essential. It would be nice to have this integrated into the local Docker command.

[2015-09-18 15:14] eparis commented on #14159
I think it is supposed to be NewDecoder() and the decoder is supposed to end up doing text/plain decoding based on the http header.  I haven't a clue how to get the header in there where we need it...

[2015-09-18 15:17] linzichang commented on #11361
@bgrant0607 OK, thanks for your advice. I will pick one example and focus on it first. And create a PR
 ASAP.

[2015-09-18 15:17] fabxc commented on #14159
Seems like making `textDecoder` and `protoDecoder` public might be helpful for those purposes. The initial version was kept minimal but we can certainly do this.

[2015-09-18 15:23] fgrzadkowski commented on #12722
@wstrange I agree! Tomorrow I'll create some umbrella bugs for missing features/bugs etc for docker based setups (both multi and single node).

[2015-09-18 15:26] eparis commented on #14159
/me has NO idea what he's doing, but I'm trying something like:
[code]

[2015-09-18 15:26] fabxc commented on #14159
That will work with the current version.

[2015-09-18 15:26] piosz commented on #14159
@eparis are somewhat familiarized with prometheus? Would you like to take a look into this issue?

[2015-09-18 15:28] eparis commented on #14159
god no.  I'm TOTALLY clueless and am just hitting random keys hoping it will compile...

[2015-09-18 15:36] fabxc commented on #14159
What do you think of a solution like prometheus/common#3?

[2015-09-18 15:36] piosz opened #14178 "Cover Initial Resources with tests"
- [x] unit tests of admission part #13132
- [ ] unit tests for gcm source
- [x] e2e test #15145

[2015-09-18 15:39] piosz commented on #13873
Any progress? On Monday we should be feature complete for 1.1.

[2015-09-18 15:44] piosz commented on #14178
follow up of #14113

[2015-09-18 15:55] mwringe commented on #13873
I have not had any time to even look at this yet

[2015-09-18 16:14] thockin commented on #14170
If you want docker to find it, you probably should set fluentd to use host networking or at least a host port.

[2015-09-18 16:17] thockin commented on #14163
What is the kubelet's `--host-network-sources` field set to?

[2015-09-18 16:19] erictune opened #14181 "Add Conditions alongside Phases."
We have PodPhaseSucceeded.
 #7856 says we should use Conditions in place of phases.
If that is the case, then we should add Conditions which mirror andy existing Phases, such as  PodPhaseSucceeded, and mark the Conditions as preferred to Phases.

[2015-09-18 16:19] thockin commented on #14159
Who is owning this on our side?  The bleeding should have stopped now, but we need a real fix.  I want #14179 neutered ASAP

[2015-09-18 16:30] timstclair commented on #14159
I can take this since I introduced the original dependency, unless @eparis already has a working fix.

[2015-09-18 16:30] sigmundlundgren commented on #14170
Trying with nodeport and hostport

[2015-09-18 16:31] thockin opened #14184 "kube-proxy userspace should set it's file handle rlimit to 64K"
Currently it's up to distros to set this - we should just do it.

@ArtfulCoder

[2015-09-18 16:36] smarterclayton commented on #14107
The data race is in the etcd client - so mark, are you using a registry and a fake etcd client and reading from one of those objects in a different goroutine?

[2015-09-18 16:37] smarterclayton commented on #14107
[code]

The integration test is starting a master?  That's not safe from our integration structure today unless the integration test harness runs each test in a unique process.  What other code is using a master in integration tests?

[2015-09-18 16:38] markturansky commented on #14107
I think most of them work that way.  I copied the format for my test from others.

[2015-09-18 16:39] barrettclark commented on #13997
I spun up a new cluster using larger instances.  Interesting that the fs on one of minions is now full:

![screen shot 2015-09-18 at 11 34 49 am](https://cloud.githubusercontent.com/assets/41442/9965042/72f782e8-5df9-11e5-8634-0930820e7937.png)

[code]

Everything is still responsive (as far as I can tell).

[2015-09-18 16:41] eparis commented on #14159
I do not have it working.  @fabx sent me https://gist.github.com/fabxc/e95dfccb3e69ff991903  which I was about to play with.

[2015-09-18 16:47] timstclair commented on #14159
Either way... but I think the client model has changed to the protobuf message "MetricFamily" - I'm not sure what model.Vector is.

[2015-09-18 16:51] erictune opened #14186 "Possible future improvements for Job object"
1. set a deadline and kill the job after that deadline . This was called ActiveDeadlineSeconds in the original proposal.  I argued for removing it for now and it was dropped during review.  @bgrant0607 argues that we have tried (on Borg) offering users many options for managing/throttling failures, and none of them worked well for users except deadlines for non-serving jobs.
1. automatically throt

[2015-09-18 16:56] erictune opened #14188 "Nominal Jobs"
Allow a Job to optionally be a  _Nominal_ Jobs by setting `.spec.nominal = true`.

If `nominal` is true, when each Pod is created, manager decides which "completion index" that pod is going to work on.  Manager ensures that there is one completion for each index from 0 to `completions - 1`.  We make it possible to expose that index via the downward API.  Pods can specialize themselves based on the

[2015-09-18 16:58] smarterclayton commented on #14107
What happens when you do that is that goroutines are running in the
background from previous executions.  Are you reusing an etcd client from
them?

On Fri, Sep 18, 2015 at 12:38 PM, Mark Turansky <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-18 16:58] erictune commented on #14188
Things to consider:

**Do we promise to never run two pods which are working on the same completion number at the same time?**
I don't think so.  In the case of network partitions, and the like, we would have to wait for the partitioned
pods to be confirmed dead before starting new pods to work on the same completion number.  That would hurt latency a lot in failures cases, I think.  This means th

[2015-09-18 16:59] caesarxuchao opened #14189 "Remove "Required" and "Optional" from comments in types.go"
Forked from #14077

In the types.go:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L594

And there are other occurances of "Required:" in the comments in types.go, which shouldn't be there.

We will also need to re-run scripts to generate html files after the comments are fixed.

@nikhiljindal

[2015-09-18 17:00] markturansky commented on #14107
No.

Each TestWhateverFoo that uses a master all follow this pattern:

[code]

But if each TestWhateverFoo is running concurrently, then there are many masters?

[2015-09-18 17:01] markturansky commented on #14107
I added an integration test for the Recycler and Deleter.  I already had one testing the binder.

That's 3 concurrently running integration tests (if they run in parallel) that have a binder running within.  The other two have a binder and a recycler controller running within.

[2015-09-18 17:02] smarterclayton commented on #14107
Is someone changing the etcd in the background after each integration test?

[2015-09-18 17:02] markturansky commented on #14107
After each test?  No.  All modifications happening with TestWhateverFoo func.

[2015-09-18 17:09] cjellick opened #14190 "ServicePort's API schema doesnt match actual response for TargetPort field"
The API schema for ServicePort says that the TargetPort field is a string, but the api actually returns an integer.

This breaks clients generated from the schema for statically type languages.

Here is the relevant bit of api schema for ServicePort:

[code]

And here is an actual example response:

[code]

As you can see _targetPort_ is returned as an integer when the API schema declares that thi

[2015-09-18 17:16] sigmundlundgren commented on #14170
Got it working! Didn't set --log-driver to fluentd yet

[code]

[2015-09-18 17:27] markturansky commented on #14107
I have an open PR that is related to my integration tests.  I gave each of the 3 callers their own instance of client.

If the client is not internally synchronized and I fix the flake with more client instances, then kube controller manager is inherently not thread safe.  All controllers, to my knowledge, share the same client.

Perhaps this is not an issue for most controllers, but I have a few

[2015-09-18 17:29] smarterclayton commented on #14107
I would expect every test case in integration that uses runAMaster to hit this.  etcd client is not thread safe, and while the thread safety problem doesn't cause failures, it means race detector will catch it.

Solutions:

1. Switch to thread safe etcd client (@tstclair was working on this elsewhere)
2. Disable race detection on some integration tests

That's it.

[2015-09-18 18:39] erictune commented on #14186
may be of interest to you @mikedanese.

[2015-09-18 18:55] mwringe opened #14193 "The API proxy cannot handle encoded slashes"
When using the proxy, we cannot send URLs which contain an encoded /

This can cause problems when the service behind the proxy is expecting a URL path which does contain an encoded /

Eg a URL like this cannot be used:
https://localhost:8443/api/v1/proxy/namespaces/metrics/services/hawkular-metrics:http-endpoint/hawkular/metrics/gauges/hawkular-metrics%2Fc8ac3234-5659-11e5-8de0-3c970e88a56f%2Fmem

[2015-09-18 18:58] mwringe opened #14194 "The API proxy cannot handle https endpoints"
It looks like when you use the API proxy, it will always try to connect to the endpoint using an http protocol instead of an https protocol. This means we cannot secured services via the proxy.

[2015-09-18 19:31] erictune commented on #13306
I'm also worried that Is knowing a creator valuable without knowing the updaters?  Even knowing lastUpdater is not enough.  Any updater could have made the change that the auditor wishes to detect.

@smarterclayton I'm not sure how to reconcile your comment that the audit log can be reconstructed with your comment that finding the last updater is hard because time is hard.  Doesn't that imply that

[2015-09-18 20:09] thockin commented on #14190
targetPort is an int or string - we accept either.  There are other fields in the API that are similar, and the generated schema seems broken.

@nikhiljindal what can we do?

[2015-09-18 20:19] smarterclayton commented on #13306
Audit is one facet of this - knowing that Bob created service DB is often
important if I'm Alice looking at a namespace - she knows who to ask about
"db".

As far as inference, I agree that more data would be important, and I
wasn't proposing creationUserName solves all of the problems.  However, it
is the start of the solution and also provides valuable interaction data
with the rest of the syste

[2015-09-18 20:24] sethp-jive opened #14197 "Controller never healed from data loss, exceeded AWS API rate limit"
Admittedly this one is an edge case, but we had an issue that nearly locked us out of our AWS account following data loss on the kubernetes master. Specifically:
1. We turned up a k8s cluster integrated with AWS
2. An issue in our infrastructure caused us to lose the master's etcd storage (since resolved)
3. The new master came up, we recreated some of the lost state (i.e. kubectl create -f servic

[2015-09-18 20:27] dchen1107 commented on #14140
Yu-Ju Hong Brian Grant Mike Danese and I discussed earlier. We don't want Kubelet take action upon unschedulable, instead, introducing another node condition (name is TBD). The main reason is we don't want to overload schedulable / unschedulable concept here.

[2015-09-18 20:52] ncdc commented on #8766
@liggitt

[2015-09-18 21:05] erictune commented on #13881
#12717 should close this issue.

[2015-09-18 21:10] smarterclayton commented on #14193
This is go being stupid.  @liggitt @csrwng we need to parse requestURI and then pass on the version by splitting the string ourself.

[2015-09-18 21:10] smarterclayton commented on #14193
I don't know if this is only in upgradeawareproxy or other places

[2015-09-18 21:13] csrwng commented on #14193
@smarterclayton related issue: https://github.com/openshift/origin/pull/4697. I'll work on a fix.

[2015-09-18 21:16] dchen1107 commented on #13881
Yes, #12717 should close this issue, and @mattmoor and @erictune are reviewing it for us. Thanks!

[2015-09-18 21:20] dchen1107 commented on #14009
Discussed offline, here is the latest updates:

1) For 1.1, we upgrade influxdb to v0.8.9, which still have memory leakage issue, but have new interfaces / endpoints and new data format.
2) post 1.1, we upgrade influxdb to v0.9 to enable the new data format and interface.

I move this one out of 1.1 scope.

[2015-09-18 21:22] dchen1107 commented on #12090
@pwittrock is on leave for now. Will pick up the work once he is back. Retarget this one to 1.2

[2015-09-18 21:23] vishh commented on #14009
To clarify, InfluxDB does not support upgrading from v0.8 to v0.9
off-the-box. It requires upgrading to v0.8.9, then manually exporting all
the metrics, upgrading to v0.9.4, and then importing the old metrics.
In Kubernetes v1.1, we will upgrade InfluxDB to v0.8.9.
We can try upgrading to InfluxDB v0.9.4 in a patch release of Kubernetes
v1.1.

On Fri, Sep 18, 2015 at 2:20 PM, Dawn Chen <notificati

[2015-09-18 21:30] jjw27 commented on #7954
I noticed "docker login" wraps this "auths" json tag around the output in /root/.docker/config.json
When I copied it into  /.dockercfg  I had to remove it:

Did not work:
{
	"auths": {
                    "hub.example.com:1024": {
                     "auth": "asdf=",
                     "email": "example@example.com"
                      }
}

Worked:
{
       "hub.example.com:1024": {
        "

[2015-09-18 21:32] bgrant0607 commented on #14140
I suggest "Accepting" for the condition name. I also considered "Admitting", but that sounds like only an admission-time behavior. However, we also plan to kill pods that are already running if this option is changed. "Accepting" implies continued tolerance in addition to "consent to receive".

[2015-09-18 21:33] ixdy commented on #13485
I had another run get stuck in exactly the same place:

[code]

What's worrying is that another parallel build (http://go/k8s-test/job/kubernetes-e2e-gce-parallel/7960/) timed out again early this morning, but this networking test was not enabled. This suggests that there's still something else triggering the problem.

[2015-09-18 21:43] #12626 closed

[2015-09-18 21:44] #12155 closed

[2015-09-18 21:58] ixdy opened #14204 ""KubeProxy should test kube-proxy" is extremely slow"
Recent test results show it taking ~15m to run.

We should remove this from the regular test runs until it can be made faster.

@kubernetes/goog-testing @ArtfulCoder

[2015-09-18 22:00] robszumski opened #14205 "Plan for maintaining CoreOS getting started"
CoreOS recently released [coreos-kubernetes](https://github.com/coreos/coreos-kubernetes) ([blog post](https://coreos.com/blog/official-kubernetes-on-coreos/)), which is a maintained set of guides and Vagrant examples for running single and multi-node Kubernetes clusters.

I wanted to start a discussion on how we (CoreOS) can best incorporate these guides into upstream Kubernetes. Brainstorming a

[2015-09-18 22:04] bgrant0607 commented on #14050
@derekwaynecarr Did you have any other questions about this issue? Do you have time to work on it?

[2015-09-18 22:09] jayunit100 opened #14207 "add hack/local-up-cluster to CI"
**Problem**

Local up cluster has tons of permutations now, and not all of them are gauranteed to work.
- DNS?
- Auth strategy?
- Docker version?
- Containerized?
- Selinux?

**Solution**

_Lets run hack/local-up-cluster in the CI !_

**thoughts**

I don't think it needs to be in the continuous PR builds, but at least in the intermittent ones it should run.

It will catch certificates errors, netw

[2015-09-18 22:12] jayunit100 commented on #14207
This issue came up in #13978 , where we realized the value of having this continuously preventing bitrot from happening, without having to mess with the cluster/salt deployments.

[2015-09-18 22:25] eparis commented on #14159
#14198 is another needed godep fix.  But we will need to fix the Prometheus stuff.

[2015-09-18 22:33] bgrant0607 commented on #13812
Naive question: Could we just call Schema() after Flatten() but before Do()?

[2015-09-18 22:36] roberthbailey commented on #14097
@gosharplite - sorry for the delay in responding. For GCE we don't enable certificate checks between the master and the nodes because they are running within the same private network (which is assumed to be secured). For GKE we use the ssh tunnels to connect the master to the nodes across public IPs. RedHat uses certificate checks to secure this code (as mentioned in https://github.com/kubernetes/

[2015-09-18 22:38] bgrant0607 commented on #13812
Hmm. No, validation isn't actually called there.

[2015-09-18 22:44] bgrant0607 commented on #13812
Each input-source visitor (URLVisitor, FileVisitor, StreamVisitor) has its own call to ValidateSchema.

We need to validate before decoding, but we don't unpack the list until after decoding.

[2015-09-18 22:49] bgrant0607 commented on #13812
We could do something similar to FlattenListVisitor in ValidateSchema:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/visitor.go#L338
https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/helper.go#L62

But that's pretty ugly.

[2015-09-18 22:59] bgrant0607 commented on #13812
@jlowdermilk Do you have time to take a look at what the most straightforward solution/workaround is for this?

Longer-term we should maybe push this into the json decoder, as proposed here: https://github.com/kubernetes/kubernetes/issues/13806#issuecomment-139306570

[2015-09-18 23:07] quinton-hoole commented on #14042
Many thanks to @ixdy for getting there before me.

job/kubernetes-e2e-gce-slow/

[2015-09-18 23:07] #14042 closed

[2015-09-18 23:15] liggitt commented on #13812
The simplest thing might be to add List to the swaggerapi models list… I was looking into that yesterday and got sidetracked

[2015-09-18 23:22] dchen1107 commented on #14162
Thanks for reporting the issue to kick out more discussion. You just opened a can of worms here :-)

You can upgrade your docker version through salt, or update docker flag to use devicemapper through salt.

We should do better job on defining support metrics, specifying minimal system requirements, running integration tests / end-to-end tests through something like version manager which controls

[2015-09-18 23:47] quinton-hoole opened #14211 "e2e flaky tests: Multiple tests failing with "Kubelet stopped posting node status.""
For example:

/job/kubernetes-e2e-gce-parallel/7979

 Node e2e-test-parallel-minion-5mr3 condition 1/1: type: Ready, status: Unknown, reason: "NodeStatusUnknown", message: "Kubelet stopped posting node status.", last transition time: 2015-09-18 15:10:00 -0700 PDT

[2015-09-18 23:53] quinton-hoole commented on #14211
In the above case it was a single node that went AWOL after about 18 successful tests:

e2e-test-parallel-minion-5mr3

[2015-09-19 00:04] hjfreyer opened #14212 "kubectl logs doesn't work with journalctl logs backend"
CoreOS 808 just changed to use journalctl as their logs backend (for some reason). This means that `docker logs` and `kubectl logs` no longer work. Which is sad.

[2015-09-19 00:07] leonfs opened #14214 "Kubernetes imagePullSecrets not working; getting “image not found”"
Hi,

Following the discussion from StackOverflow:
http://stackoverflow.com/questions/32510310/kubernetes-imagepullsecrets-not-working-getting-image-not-found/32662719#32662719

I think the documentation http://kubernetes.io/v1.0/docs/user-guide/images.html#specifying-imagepullsecrets-on-a-pod,  should be updated regarding the encoding of dockercfg secret.

Or there might be a possibility that the

[2015-09-19 00:15] thockin commented on #14204
Abhi - do we know why it's 15 minutes?  I though it was 3 or 4..

On Fri, Sep 18, 2015 at 2:58 PM, Jeff Grafton <notifications@github.com>
wrote:

[2015-09-19 00:20] ArtfulCoder commented on #14204
I will take a look at the historical runs.

If need be/worst-case, we can move the external load balancer testing into a different test run (other than GCE-e2e)

Sent from my iPhone

[2015-09-19 00:21] ArtfulCoder commented on #14204
I will work this out over the weekend.

Sent from my iPhone

[2015-09-19 00:25] spiffxp opened #14216 "Stair-stepping in pods going from Pending to Running"
We'd like to get this to a more reproducable state with e2e-generated load and some consensus on what a "correct" cluster looks like.  In the meantime, here's what we've been seeing so far.

Provision a cluster in AWS using terraform + ansible
- used https://github.com/Samsung-AG/kraken with terraform.tfvars
[code]
- master is nginx + controller-manager + scheduler
- apiserver talks directly to et

[2015-09-19 00:42] mattma commented on #10265
Hi @thockin, I have updated everything to **1.0.6**. The problem is still existed.

I am using latest `coreos` alpha image, it does not have `netcat` binary built in. so that I could not test `nc` on master.

I really do not think it is the network problem. I am almost certain it is something related with the certificate and key setup.

On my MacOS, I could access `kubectl cluster-info` because I

[2015-09-19 00:44] saad-ali opened #14217 "Refactor Volume Code"
The `Volume` interface defined in `pkg/volume/volume.go` defines methods that are used for mounting/unmounting/attaching/detaching but also volume creation/deletion. The former is used by the kubelet binary on the node, and the later by the persistent volume controller on the master.

While we should keep all volume related code in the same directory, we should consider refactoring to separate kub

[2015-09-19 00:50] lavalamp commented on #14216
I'd like to get #8261 added back in, to see if it makes a difference.

To nail down this further, I'd like to see scheduler logs with these three things:
* time pod enters queue
* time bind call is initiated
* time bind call completes

At least some of these things should already be logged.

[2015-09-19 00:51] quinton-hoole commented on #14211
Looks like #13417 might be the culprit.

[2015-09-19 00:56] quinton-hoole commented on #14211
Before job/kubernetes-e2e-gce-parallel/7957 we didn't see this.  After that, the problem occurs frequently.  #13417 changes the way we do node status reporting, and merged precisely at  job/kubernetes-e2e-gce-parallel/7957

[2015-09-19 01:41] derekwaynecarr commented on #14050
Assign to me and I will take a look Monday.

On Friday, September 18, 2015, Brian Grant <notifications@github.com> wrote:

[2015-09-19 01:59] #12615 closed

[2015-09-19 03:14] thockin commented on #14217
I like this idea.

On Fri, Sep 18, 2015 at 5:45 PM, Saad Ali <notifications@github.com> wrote:

[2015-09-19 03:16] thockin commented on #10265
I'll put a hundred bucks on it being a network level error, not a cert
error.  try `docker run -d --net=host ubuntu netcat -l -p 6444` for the
test above

On Fri, Sep 18, 2015 at 5:42 PM, Matt Ma <notifications@github.com> wrote:

[2015-09-19 03:52] thockin commented on #10323
It works for GCE and OpenStack.  AWS doesn't support it.

On Thu, Sep 17, 2015 at 11:53 PM, kgrvamsi <notifications@github.com> wrote:

[2015-09-19 05:20] mattma commented on #10265
1. Run 1st `netcat` to listen on port 6444. No logs, waiting for new connection (I have let it run for 19 mins without doing anything. :) )

[code]

2. Run second `netcat` on the same master machine, master ip is `172.17.8.100`. Once the `netcat` starts, it output nothing. No logs. And both listening `netcat` and trying to connect `netcat` process killed. Both containers exited.

[code]

## second

[2015-09-19 05:26] mvdan commented on #14138
@mikedanese I'm having a hard time reproducing this crash. What Go version is this? Did it run with or without `-race`? I assume this was on your machine - have you been able to reproduce it?

[2015-09-19 06:05] davidopp commented on #9849
It looks like the stuff alluded to earlier in the thread is released now?
https://coreos.com/blog/official-kubernetes-on-coreos/

We should link to this from
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos.md
I would think.

[2015-09-19 07:44] yifan-gu commented on #9849
cc @robszumski

[2015-09-19 09:34] huangyuqi commented on #13077
Hi, @dalanlan , with https://github.com/kubernetes/kubernetes/issues/13491 , i met two issues.

1. If the api-server is down of not working, the kube-down.sh script will exit.
1. The function `tear_down_alive_resources` should copy to the master node to execute. Not in the local machine.
[code]
In this case, `kubectl.sh` and scripts included should copy to the master.

[2015-09-19 09:53] devurandom commented on #10265
@mattma: Try running "toolbox". That's CoreOS' command to start a container containing a Fedora with all the tools you need.

[2015-09-19 10:21] alfred-huangjian commented on #341
/cc @kevin-wangzefeng

[2015-09-19 10:40] dalanlan commented on #13077
1. It's somewhat an odd case. I' ve send a follow-up pr to fix this anyway.
2. Definitely not.

[2015-09-19 10:53] bliss commented on #12746
@rootfs There's one more issue. When I use RBD Persistent Storage, that rbd volume gets mapped to all of my nodes, though mounted to only one, which runs the pod itself. Does it correct?

[2015-09-19 12:33] HardikDR commented on #12455
#12952   has to be merged first.

[2015-09-19 15:06] #14159 closed

[2015-09-19 15:56] markt-gh commented on #14217
All provisioning stuff is only marginally related to volumes. They act more
on API objects than volume behavior (mounting, attaching, whatever).

Considering we want to encourage swapping out controllers and provisioning
by users, should all that kind of code be packaged more like the scheduler
plugin in the /plugins?  We can focus on making them easier to change and
configure.

On Friday, Septemb

[2015-09-19 16:09] pmorie commented on #12746
@rootfs

What?

[2015-09-19 16:27] justinsb opened #14226 "We should make it possible to extends IAM permissions"
If we are to take ownership of the IAM permission for k8s (so that we can update it as we add/remove permissions), we also need to give users a way to add their own permissions specific to their installation.

My current plan is to create two IAM permission sets, one that k8s owns and one for the user that k8s will not alter.

[2015-09-19 18:03] gmarek opened #14228 "Integration tests are failing on head:"
[code]

[2015-09-19 18:19] mattma commented on #10265
@devurandom thanks. Does it include HTTPs access to the K8S api server? The base line of linux should not be matter here, if I have network issue in my setup, that must be flannel overlay mapping which does not saved in IPTable, or could not be retrieved by `components` from Node machine.

[2015-09-19 19:04] jimmidyson commented on #12732
@bprashanth Absolutely, although that will only work for services hosted on an owned domain obviously. I'm thinking we need this for internal services which would require an internal CA. Thinking of [cfssl](https://github.com/cloudflare/cfssl) for this, even better that it's the base of letsencrypt.

I would like to try to implement this, but would really like some pointers on how to implement. My

[2015-09-19 19:11] robszumski commented on #9849
@davidopp discussing this in https://github.com/kubernetes/kubernetes/issues/14205

[2015-09-19 19:19] amygdala opened #14230 "GCE kube-down script should get zone from cluster context"
I noticed that the kube-down.sh script apparently gets the zone from the config file.
After launching a cluster I'd changed the zone in cluster/gce/config-default.sh.  This caused the takedown  process to break.
It would be more robust to get the zone info from the cluster context instead.

[2015-09-19 19:28] pires commented on #14205
I believe it makes sense for you guys to maintain this. After all, you're CoreOS! But, I'm against removing **all** previous stuff, unless you provide equivalent support, namely for AWS, GCE and Azure.

[2015-09-19 19:30] pires commented on #14205
Refs #9178 #1472

[2015-09-19 20:07] justinsb opened #14232 "kubectl cluster-info lists services that are not reachable"
kubectl cluster-info shows e.g.

[code]

But kube-dns is not (meaningfully) reachable over HTTP; it gives this error:

[code]

A user reported this, along with a similar error for monitoring-influxdb which I suspect might be the same problem.

I think the problem here is that we show services as running, and suggest an HTTP endpoint, but that HTTP endpoint is invalid for some services (_I think_).

[2015-09-19 20:15] sdminonne commented on #13699
@bgrant0607 sorry I see this only now.

@gmarek I'm ok to better explain the difference between set-based and equality based but I would need of some example of questions on IRC. May you have some of them?

Otherwise we may clearly write that kubectl <command> -l <selector> supports set-based and equality based selector while API resources supports only equality-based.

[2015-09-19 20:26] fd opened #14234 "The image inspector seems to returns an non-nil error"
I'm getting the following error on GKE:

    Failed to inspect image "my-image": <nil>

I traced it back to [this code][1]. The problem seems to be that `IsImagePresent` returns a nil-interface not a nil-pointer. nil-interfaces have a nil-value but a non-nil type. nil-pointers are just what you would expect (not an interface can be can alos be a nil-pointer).

  [1]: https://github.com/kubernetes/

[2015-09-19 20:37] #14228 closed

[2015-09-19 20:53] gmarek commented on #13699
I was thinking of making the difference between selectors in kubectl and in API clear.

[2015-09-19 23:04] kelbongoo commented on #13073
I am getting this problem when I launch the cluster via gcloud container clusters create my-cluster.
Then following the tutorial here (https://github.com/GoogleCloudPlatform/kube-jenkins-imager/blob/master/cluster_up.sh) I get this error

[code]

[2015-09-19 23:25] devurandom commented on #10265
OT: @mattma: Use `dnf install ...` to install whatever package you want inside the `toolbox`. For checking HTTPS I recommend `gnutls-cli` ("gnutls-utils" package in Fedora). You'll figure it out by reading the manpage.

[2015-09-19 23:38] kelbongoo opened #14237 "GKE cluster running nginx seems to break nodePort"
Setting up a cluster on GKE via the gcloud cli tool, and then following this tutorial https://cloud.google.com/container-engine/docs/tutorials/http-balancer, I came across two issues - the first is here https://github.com/kubernetes/kubernetes/issues/13073.

In the tutorial we set up the nginx service with a nodePort like so
[code]
Of all the nodes in the cluster (I tried 3 and 4 node clusters), t

[2015-09-19 23:39] thockin commented on #14212
@kelseyhightower FYI

[2015-09-19 23:39] thockin commented on #14211
Still happening.  #14090 is the next suspect

[2015-09-19 23:44] thockin commented on #14237
Is the firewall open for the node port?  It should absolutely work, and we have e2e tests over this...

[2015-09-20 00:37] kelbongoo commented on #14237
Firewall is totally open (all sources and all targets)

[2015-09-20 00:46] thockin commented on #14237
on the node port or on the service port?

On Sat, Sep 19, 2015 at 5:37 PM, kelbongoo <notifications@github.com> wrote:

[2015-09-20 02:48] justinsb opened #14238 "salt-master using a lot of memory"
We've had some reports of the master running out of memory; I reproduced by running with AWS with a t2.micro (1GB RAM).

Turns out the salt-master is using a lot of RSS, and I suspect would use even more RSS if the machine wasn't so memory constrained.

This may be limited to AWS, because I believe e.g. GCE manages to run salt in a masterless mode.

Summary lines from `top`:

[code]

Biggest RSS p

[2015-09-20 02:51] justinsb commented on #13997
Thanks for confirming ... the full disk is fixed in #13803 but I need to cherry pick it to 1.0.

I was also able to reproduce the memory problems on the master by launching with t2.micros.  I think it might be the salt-master, or at least the salt-master isn't helping things: #14238

[2015-09-20 03:01] roberthbailey commented on #12732
@jimmidyson - While designing the system to generate signed certs for services we should also consider that at some point the master components will need to handle CSRs from nodes wanting to join the cluster (in [dynamic clustering](https://github.com/kubernetes/kubernetes/blob/master/docs/design/clustering.md#dynamic-clustering)). It would be useful to work towards a solution that will support bo

[2015-09-20 03:03] roberthbailey commented on #14238
@zmerlynn switched GCE's use of salt away from a master/minion relationship. Now each node just runs in standalone mode.

[2015-09-20 03:14] justinsb commented on #14238
Thanks for confirming; so I guess that means that this isn't the cause of the similar reports on GCE.

I am thinking that maybe I'm still not accounting for shared memory segments correctly (though I think I am), so if anyone can suggest a better command or further diagnostics please do let me know!

I guess changing to use standalone mode would get round this problem.  Although I'm not convinced

[2015-09-20 05:08] qwang1 commented on #14163
I need to set the flag because of using AWS? I used "hack/local-up-cluster.sh" to set up my local cluster and added flag "--allow_privileged=true" to kubelet and apiserver. Then these services are started with the flag. I updated my pod config as following,
[code]
But I still get the error "specified host networking, but is disallowed". Here is a similar issue https://github.com/kubernetes/kuberne

[2015-09-20 06:31] nikhiljindal commented on #13994
Fixed by https://github.com/kubernetes/kubernetes/pull/12507

[2015-09-20 06:31] #13994 closed

[2015-09-20 06:43] nikhiljindal commented on #14069
To add to the confusion, there is already a hack/verify-generated-swagger-docs which verifies that ```types_swagger_doc_generated.go``` is updated.

[2015-09-20 06:58] jimmidyson commented on #12732
@roberthbailey Thanks for pointing that out. I can see cfssl helping hugely with that, handling multiple CAs to separate cluster CA trust chain from service CA trust chain, potentially even multiple service CAs in action. And it's handily written in go... Is this dynamic clustering going to be part of core binary or an add-on?

[2015-09-20 07:00] kelbongoo opened #14241 "Error creating external load balancer with GKE via gcloud/kubectl"
I am getting this problem indicated here (https://github.com/kubernetes/kubernetes/issues/13073) when I launch the cluster on GKE via
[code]
Then following the tutorial here (https://cloud.google.com/container-engine/docs/tutorials/http-balancer) to set up nginx ssl proxy I get this error

[code]
and gcloud version gives
[code]

[2015-09-20 07:04] kelbongoo commented on #14237
![screen shot 2015-09-20 at 09 03 36](https://cloud.githubusercontent.com/assets/6676305/9979631/924a082c-5f76-11e5-9c7a-83b1cc75615a.png)

[2015-09-20 07:18] nirving-versent commented on #11819
The `apiserver` is not running.
The following is
[code]

—
Nicholas Irving
Versent
Level 4, 145 Russell Street, Melbourne VIC 3000

Mob: +61 4 0007 0562
Email: nicholas.irving@versent.com.au
Web: versent.com.au<http://www.versent.com.au/>

[cid:image001.png@01D0B3EC.43F3CF90]

From: jay vyas
Reply-To: kubernetes/kubernetes
Date: Friday, 18 September 2015 11:27 am
To: kubernetes/kubernetes
Cc: Nich

[2015-09-20 07:31] nirving-versent commented on #11819
The `apiserver` is not running.
The following is
[code]
when i issue `systemctl status kube-apiserver` i get
[code]

[2015-09-20 07:46] kelbongoo commented on #14237
OK i deleted that entire project and cluster and started with a fresh one, and no longer having the issue. I wonder if it's related to the fact that my project name had a colon in it ? I filed a parallel issue where I was getting error messages like below, where legoutdufrais.com:api-project-728797969216' was the project name
[code]
a new project name without colon is now working fine

[2015-09-20 07:58] kelbongoo commented on #14241
On scrapping the old cluster and project, and creating a new one, this problem seems to have disappeared.

[2015-09-20 07:58] #14241 closed

[2015-09-20 07:58] #14237 closed

[2015-09-20 16:35] HaiyangDING commented on #14050
CC @HaiyangDING

[2015-09-20 17:12] sdminonne commented on #13699
@gmarek cool, I can work on this if you've not already started.

[2015-09-20 17:33] gmarek commented on #13699
By all means - please do:)

[2015-09-20 18:54] pmorie opened #14244 "Refactor to distinguish between volume lifecycle on node and within cluster for persistent volumes"
Forking from #13650

Currently the volume package has a couple different concerns floating around in it:
1.  The `Builder` and `Cleaner` interfaces deal with setting up and tearing down a volume in a _pod_ and are used by the Kubelet when setting up and tearing down pods
2.  The `Recycler`, `Deleter` and `Creator` interfaces deal with the life cycle phases of persistent volumes that are orthogonal

[2015-09-20 19:44] sdminonne commented on #13699
:)

[2015-09-20 20:18] nirving-versent commented on #11819
Just tried again on a 3rd network and the same issue.
[code]

[2015-09-20 20:27] jayunit100 commented on #11819
Let me test all this now... I'll see how it's working for me.  I haven't ran the vagrant stuff in a couple of weeks.

[2015-09-20 21:16] davidopp commented on #3024
ReplicaSet is much better than ReplicationController. I'm definitely in favor of this change.

I'd like to see us also standardize on the naming scheme for the other thing @lavalamp brought up: "the thing that makes the changes to the system." (Note that this thing is not an API object.) I think "controller" is fine here. Renaming ReplicaController to ReplicaSet will let us start using "controller

[2015-09-20 21:31] markturansky commented on #14244
Overall, I agree and like what you propose, though I think #3 is not needed.  As implemented today, a persistent volume plugin can choose to implement N of Deleter/Recycler/Creater.  Not each PV would need to implement all of them.  Plain NFS, for example, wouldn't have a dynamic provisioner, so it uses a Recycler but doesn't need a Creater.  Adding to the PV interface would force no-op implementa

[2015-09-20 23:09] rootfs commented on #12746
@bliss that's odd, the rbd image should be unmapped (though with some delay) after pod is deleted.

There is a rbd image locking, so there is only one node that can mounts the image.

[2015-09-20 23:13] rootfs commented on #12746
@pmorie we need to check chchon also works for rbd (i think it should).

[2015-09-21 00:07] jbeda commented on #3024
*sigh*  I yield :)

[2015-09-21 01:33] feiskyer commented on #14099
@thockin Could kubernetes add something like "this pod consumed services A and B"? So kube-proxy only needs to create rules of consumed services, not all rules of all services.

[2015-09-21 02:07] gosharplite commented on #14097
@roberthbailey Thanks for the security hint! I see now it's better to protect kubelet api endpoints with certificate checks. Below are the extra certificate plumbing and configurations.

Base on `create-certs` in `cluster/gce/util.sh`, generate server keypair with correct `--subject-alt-name`  for each kubelet node.
[code]
`kubelet-0.crt` and `kubelet-0.key` will be created for the kubelet server

[2015-09-21 02:20] thockin commented on #14099
This is something we have considered for a long time, and it has some nice
properties,and some downsides.  That said, I don't think it optimized the
way you want because it has to be opt-in - anything else would be a
seriously breaking change and would also make valid cases (where we dont
actually know the deps ahead of time) impossible.
On Sep 20, 2015 6:34 PM, "feisky" <notifications@github.com>

[2015-09-21 03:05] davidopp commented on #7660
Yikes, I totally missed this.

Can someone summarize the absolute minimum we need to do to prevent the original problem? Many  ideas were suggested here, but would it be sufficient to just have node controller delete pods that meet any of the criteria that @nikhiljindal mentioned, namely
* Pods scheduled on a deleted node.
* Pods that have been gracefully deleted. (Ideally, kubelet will delete the

[2015-09-21 03:06] davidopp commented on #13110
@erictune This is marked as v1.1 -- should we move it to v1.2 ?

[2015-09-21 03:09] davidopp commented on #13102
1.1 deadline is upon us -- what is the status of this issue?

[2015-09-21 03:22] thockin commented on #14163
hostNetwork is governed by `--host-network-sources` not `--allow-privileged`

On Sat, Sep 19, 2015 at 10:08 PM, Qixuan Wang <notifications@github.com>
wrote:

[2015-09-21 04:03] timothysc commented on #11962
Working through the tests... Should have PR early next week. https://github.com/timothysc/kubernetes/tree/new-etcd-client

[2015-09-21 04:26] erictune commented on #2890
CoreOS now has official support for Kubernetes.  Discussion about what to do with existing getting-started guides is in #14205.  Closing this.

[2015-09-21 04:26] #2890 closed

[2015-09-21 05:39] thockin commented on #14217
I think there's value to having all of the per-volume-kind code in one
place, even if some of it is orchestration-related and some of it is
node-related.  But breaking into multiple pkgs doesn't sound terrible.

On Sat, Sep 19, 2015 at 8:56 AM, markt-gh <notifications@github.com> wrote:

[2015-09-21 05:44] davidopp commented on #13430
@quinton-hoole I agree that initially the feature was intended for (1), and using it for (2) might require different timeout parameters and thus not work well. But I'm don't think we have relevant data to pick a value for case (1) or to know if the same value can be used for case (2) yet. Until then we probably just have to make something up and let the user tune it if they don't like it. Certainl

[2015-09-21 06:39] apeeyush commented on #13761
I downgraded virtualbox to 4.3.28r100309 and everything is working fine now! I guess Virtualbox 5.0.4 has some breaking changes. Should the issue be closed?

[2015-09-21 06:42] #13761 closed

[2015-09-21 07:04] ydhydhjanson commented on #14153
@swagiaal
[code]
[code]
In addition，I change the value of SELINUX enforcing to disabled,reboot os ,the results I received is the same，the pod volume and container volume are not synchronized！

[2015-09-21 07:29] gmarek commented on #7660
It doesn't seem natural to me for NodeController to be responsible for GC-ing Pods - it currently doesn't loop through them and I don't think it should. To be fair, I don't know if there's any component that does, so we might as well put it in the NodeController, but I believe that a separate controller might give a 'cleaner' architecture.

That being said, I think that the list @davidopp gave is

[2015-09-21 07:36] davidopp commented on #7660
Yeah I think there were some suggestions to do a new generic "garbage collection" controller. I'm fine with that, just trying to figure out what we can do before the 1.1 deadline that doesn't require time travel. We could put it into node controller for now and move it out later, I guess (it's not an API change).

[2015-09-21 07:37] romanek-adam commented on #13174
I also encountered this issue. The questions is:

1. does this issue affect core k8s or end-user services or it is "just" logging?
2. depending on the answer to the question above... how serious is it? (for me it looks like a show-stopper for production use of k8s)
3. how is influxdb's persistent storage going to be managed in the long run?
4. is the data kept in it going to be erased periodically

[2015-09-21 07:50] gmarek commented on #13430
Somehow I missed this thread...

I think that we believe that it's enough to require multiple "probe failures" (it's not a probe, nor failure, but semantically can be seen as such) to start evicting the Node, to distinguish short brownouts from long blackouts. This is for half of the (1). Original reason was to limit the damage if the master machine is the one with network problems.

Unlike @david

[2015-09-21 08:02] gmarek opened #14261 "Temporarily add Pod Garbage Collection to NodeController"
Spin off from #7660

We need to add a loop through Pods in NC that will periodically remove:
- Pods that are scheduled on non-existent Nodes,
- Pods that have their deletion grace period passed,
- terminated Pods (#12055 (comment))

[2015-09-21 08:02] gmarek commented on #7660
I opened #14261 for it.

[2015-09-21 08:11] davidopp commented on #14261
I don't think this needs a new issue. Can't #7660 cover this? Implementing in NodeController won't fully solve it (later we probably want to move it out, etc.) but it just feels like too many issues to start a new one. Also, #7660 is marked P0 and I don't think we want more P0 issues. :)

Feel free to reopen if you disagree.

[2015-09-21 08:11] #14261 closed

[2015-09-21 09:14] gmarek opened #14262 "Kubelet calls dockerManager.ListContainers multiple times per Pod during the single 'Sync' round."
[code]
it's a head with added logging.

It's from the Pod that had 4 running Pods

[2015-09-21 09:17] gmarek commented on #14262
cc @dchen1107 @yujuhong @wojtek-t

[2015-09-21 09:39] qwang1 opened #14263 "Fail to update a pod that consumes its pod info via the downward API volume"
After creating a pod with the following config, I tried to change its data (e.g. modify the value of annotation or delete the label).
1) Use "kubectl edit pod $podname", it can't be edited and always get the error "unable to find api field in struct VolumeSource for the json field "items""
2) Use "kubectl label pod/$podname rack-" and "kubectl describe pod $podname" to verify, the rack label is re

[2015-09-21 09:56] fzu-huang opened #14264 "how to inprove pods-capacity of a node？"
i want to run  a big cluster which has 60 pods(only 1 slaver-node). but it is impossible because one node can only run 40 pods.
we can see that in json file:

"status": {
        "capacity": {
            "cpu": "32",
            "memory": "65681124Ki",
            "pods": "40"
        },
.....
Is there any way to change this limit?

[2015-09-21 10:05] jsafrane commented on #13479
There is a performance penalty, but IMO it's not _that_ bad. Perhaps 1-5%? Of course, it depends on the filesystem.

[2015-09-21 10:18] bliss commented on #12746
@rootfs: oddly but I can no more reproduce the issue with rbd volume being mapped to all nodes. Now it's being mapped to a node of the pod.

Do we say of 'mount' or 'map' ? The volume was mapped to all nodes while mounted to the node of the pod. Moreover as far as I know CEPH doesn't care how many clients map its RBD volumes.
Thank you!

[2015-09-21 10:36] apeeyush opened #14265 "Inaccurate Vagrant developer guide"
I have been trying to setup the Vagrant dev environment on Ubuntu 14.04 since past few days.

I was using the latest version of Virtual Box as mentioned in the [guide](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/developer-guides/vagrant.md) and couldn't setup the environment successfuly. However, it worked well after I downgraded Virtual Box to 4.3 .

I think we should hint to

[2015-09-21 10:45] jhou1 opened #14266 "Pods are not gracefully terminated when their namespace is deleted."
Given a namespace has several pods, and the pods have `spec.terminationGracePeriodSeconds` greater than 0, when the namespace is deleted, the pods are terminated with 0 second grace period, the namespace status is always `Terminating`.

While I was testing, I made a container that has a process which is always sleeping, so that the pod can be killed when it reached the grace period. There are 5 po

[2015-09-21 11:32] romanek-adam commented on #14162
It looks like the fix is to change `linux-image-extra-$(uname -r)` to `linux-image-extra-virtual` in [cluster/aws/templates/format-disks.sh#L175](https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/templates/format-disks.sh#L175), which will pick the right `linux-image-extra-XXX` on each kernel upgrade. I could provide a pull-request but my company hasn't signed the CLA yet.

[2015-09-21 12:05] qwang1 commented on #14163
I set kubelet's "--host-network-sources="*" " and the above host networking problem is solved, but the pod always restarts with the message "Back-off restarting failed docker container". I have no idea why the container fail to start.

[2015-09-21 12:12] fgrzadkowski opened #14269 "Containerized Kubelet does not export stats for container "/docker-daemon""
I'm experimenting with pure docker base setup. Some e2e tests are failing because kubelet is not exporting stats for ```/docker-daemon```. I checked the logs and I've noticed this line:
[code]
AFAIU this means that the proper cgroup is created. However for some reason it's not visible afterwards.

Example output from e2e tests:
[code]

@kubernetes/goog-node

Ref #4869

[2015-09-21 13:09] feiskyer commented on #13811
#13864 has fixed `kubectl logs --follow` broken problem.

[2015-09-21 13:10] rootfs commented on #13479
@dchen1107 @jsafrane sparse file penalty is not a huge issue if cache works right. I have [some test results](https://huaminchen.wordpress.com/2015/09/17/a-very-rough-performance-comparison-file-vs-tcm-loop-vs-loopback/) on this topic. loopback incurs double page cache and gets most penalty. tcm_loop is not subject to this problem and performs closely to filesystem.

[2015-09-21 13:13] smarterclayton commented on #14266
Interesting, that should not happen.  Looks like the deletion timestamp for the node is no longer in the future like it was before.  We should always do one graceful round, and subsequent late comers may get force terminated.  I'll have to look into what changed in the namespace controller.

[2015-09-21 13:15] rootfs commented on #13479
@smarterclayton @jsafrane Is `fallocate(1)` able to avoid OOD problem?

[2015-09-21 13:41] derekwaynecarr commented on #13828
I am investigating this more today, I think we have may have some issues dealing with stale resources in the namespace_controller that I am debugging today to see if its the cause.

[2015-09-21 13:53] derekwaynecarr commented on #13828
See related discussion: https://github.com/openshift/origin/issues/4731

[2015-09-21 13:59] rootfs commented on #12746
rbd is mounted on just one node. i used `rbd lock`, each time rbd image is to be mounted, the node checks if an exclusive lock can be held. The node exit without mounting rbd image if it fails to hold the lock. The lock is released during pod deletion.

[2015-09-21 14:03] aveshagarwal commented on #6596
if nobody is working on this, I would be happy to look into it.

[2015-09-21 14:42] gmarek opened #14273 "Scalability tests are failing since Sep 17th."
cc @wojtek-t @quinton-hoole

[2015-09-21 14:44] justinsb opened #14274 "Storage for elasticsearch & influxdb is on ephemeral storage"
ElasticSearch and InfluxDB are currently backed by host-volume mounts.  This means that this data is not reliably persisted in case of e.g. machine failure.

This also caused us some problems due to a mistake I made with a very small size of the disk that backs these on AWS, but that is a separate issue (hopefully now fixed & cherry-picked).

(Splitting out some issues out of #13174)

[2015-09-21 14:48] justinsb opened #14276 "AWS: Need a better story around ephemeral storage"
Instance storage is dependent on the instance type, and this is tricky for users:
- some types include adequate free instance storage (m3.large is 32GB)
- some types include small free instance storage (m3.medium is 4GB)
- some types automatically deploy a backing EBS volume (t2.micro has a 32GB EBS volume)
- some types do not include any instance storage by default (m4 family)

(at least I think

[2015-09-21 14:49] smarterclayton commented on #7660
There would be other loops on pods that are relevant (pods with an
activeDeadlineTimeout >>>> their value) so I would much prefer a pod
deletion controller for the core policy.

On Mon, Sep 21, 2015 at 4:02 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-09-21 14:50] quinton-hoole commented on #14273
Some of the recent errors you're seeing are:
Multiple e2e tests fail with "Namespace x is active" #13828
... and possibly openshift/origin#4731

[2015-09-21 14:51] justinsb commented on #14274
Also presumably as part of this we should figure out how we will stop this data out-growing the backing volume.

[2015-09-21 14:54] justinsb commented on #13174
We have a problem specific to AWS with AUFS, which is that I (erroneously) created a very small partition backing this, because I thought it was just k8s logs.

I fixed that in #13803 and just proposed a cherry-pick to 1.0 as #14272.

This will fix the fact that it runs out of disk almost immediately on AWS.

There are still some other issues, but I'd like to split them out into focused tickets:

[2015-09-21 14:54] #13174 closed

[2015-09-21 14:56] derekwaynecarr commented on #13828
@quinton-hoole - can you confirm that you see this error when not running concurrent tests?  The tests in question all make use of https://github.com/kubernetes/kubernetes/blob/master/test/e2e/util.go#L495 so its inherent in that environment that their will be active namespaces.

[2015-09-21 14:56] justinsb commented on #13508
I think we should put influx & elasticsearch on a persistent volume (#14274), but I believe I fixed my mistake which was creating a very small volume which filled up very quickly.  Closing, but feel free to reopen/comment if not fixed.

[2015-09-21 14:56] #13508 closed

[2015-09-21 15:03] quinton-hoole commented on #13828
@derekwaynecarr Our soak test cluster (the one originally reported above) runs tests in serial, not parallel.

[2015-09-21 15:08] derekwaynecarr commented on #13828
@quinton-hoole - i think the tests in question have a bug.  they call ```deleteTestingNs``` but you can see that that method never actually does a delete.  What is the expected behavior?  I see other tests that call ```deleteNs``` then ```deleteTestingNs``` in the AfterEach clause which makes more sense.  Should ```deleteTestingNs``` actually update to try and delete?

I am in the process of makin

[2015-09-21 15:08] liggitt opened #14277 "Authz interfaces/implementations don't support API groups"
API group support was added without updating the corresponding pieces needed for authorization.

Because resource names are no longer unique across API groups, authorization must have the group information from the request in order to make a authz decision. Changes needed:
- The `authorizer.Attributes` interface needs a way to get the API group (e.g. `GetAPIGroup`)
- `apiserver.requestAttributeGet

[2015-09-21 15:09] mudrion opened #14278 "Issue creating kubernetes cluster in AWS Asia regeoon"
Case. create kubernetes cluster in Amazon AWS ap-southeast-1

Variable used
export KUBE_AWS_ZONE="ap-southeast-1"
export AWS_S3_REGION="ap-southeast-1"
export KUBE_OS_DISTRIBUTION="vivid"
export KUBERNETES_PROVIDER=aws

Error 1st
*********************************************************************************************************
./kube-up.sh
Starting cluster using provider: aws
... calling ve

[2015-09-21 15:15] liggitt commented on #14277
cc @erictune @deads2k

[2015-09-21 15:16] liggitt commented on #14277
Relevant to https://github.com/kubernetes/kubernetes/pull/12209 and https://github.com/kubernetes/kubernetes/pull/13667

[2015-09-21 15:24] gmarek commented on #14273
I'm still seeing:
[code]

[2015-09-21 15:37] quinton-hoole commented on #13828
@derekwaynecarr you may well be right.  Fortunately https://github.com/kubernetes/kubernetes/pull/14055#discussion_r39684912
should merge today to sort out the naming abomination upon which we all seem to agree.
But it still seems completely wrong that it checks that all testing namespaces are deleted, rather than the namespace specific to the current test.

@gmarek want to take a hack at fixing t

[2015-09-21 15:44] quinton-hoole commented on #13828
Actually @gmarek has just headed out.  I'll try to do this today.

[2015-09-21 15:47] quinton-hoole commented on #13828
Oh, I see that github munged my link above.  To be clear, this is what I was referring to:

quinton-hoole added a note 5 days ago
I really really really don't like this function, for the following reasons:

1. It's called deleteTestingNS, but it doesn't actually delete anything. All it does is do some checks.
2. It takes a namespace as a parameter, and given the name of the function, callers could

[2015-09-21 15:48] lavalamp opened #14280 "Client: golang: Consider auto-retrying failed calls"
Or offer a setting to do so.

From google-containers:

I think we do retry if the server specifically says to retry later; perhaps we should consider expanding the set of failure cases that trigger a retry.

@krousey

[2015-09-21 16:13] quinton-hoole commented on #13430
@davidopp @gmarek makes sense to me.

* Alerting on percentage of nodes not ready in a cluster (e.g. something like 5% by default)  with an optional absolute lower bound of about 3 nodes, to squash noisy single-node and double-node failure alerts in small clusters makes lots of sense.
* Limiting the minimum cluster drain duration to something like 30-60 minutes (by default) should give humans time

[2015-09-21 16:16] smarterclayton commented on #3024
I thought we settled on "controller" being that name a long time ago :)  So
I completely agree that things that act on the system in response to state
change (via the API or in external systems) are controllers.

[2015-09-21 16:22] thockin commented on #14163
Nothing in the container logs?  You might have to look at kubelet logs.

On Mon, Sep 21, 2015 at 5:06 AM, Qixuan Wang <notifications@github.com>
wrote:

[2015-09-21 16:31] gmarek commented on #13430
Agreed. IIUC we need another implementation of rate limiter...

[2015-09-21 16:34] evanphx opened #14281 "`rolling-update` requires a unique name when specifying a manifest"
Per a conversation in slack with @jimmidyson, `rolling-update` should be able to do the same rename dance when a manifest is specified as when `--image` is used.

Right now, it errors out with a message like: `error: pods/catalog.yml cannot have the same name as the existing ReplicationController catalog`

[2015-09-21 16:46] dchen1107 commented on #14211
Asked @yujuhong to prepare reverting #13417 if required. Meanwhile, I am debugging the issue.

[2015-09-21 16:48] jayunit100 opened #14282 "Update vagrant/salt so that they support testing of HA tooling"
Currently the salt recipes support a default config.

We'd like to test #13978 in vagrant using automation where possible.

So lets automate vagrant and salt so that we can use them to test an HA implementation (specifically, so that they test the NodePort api-server binding option).  This will include

- turning on the option introduced in #13978 `apiserver-node-port`.
- generating certificates t

[2015-09-21 16:49] jayunit100 commented on #14207
As part of this, hack/local-up should be modified to take more command line options, for example, to support the above HA nodeport apiserver patch.

[2015-09-21 16:55] ngbinh commented on #14274
Is there a way for me to point kubernetes to external existing Influxdb and elastic search instead?

[2015-09-21 16:57] thockin opened #14283 "User confused why container is in crash loop backoff"
it took way more sleuthing than it should to find his container is exiting with particular status code.  Should that be an event?  How does a user see that?

[2015-09-21 17:03] liggitt opened #14284 "TestPersistentVolumeClaimBinder flake"
Seen in https://app.shippable.com/builds/56001b051a22100c00d15f6e running against https://github.com/kubernetes/kubernetes/pull/13835 (which had no API server changes)
[code]

cc @markturansky

[2015-09-21 17:06] jayunit100 commented on #14280
cc maybe a tangential relation to your work on the etcd round-robining @timothysc

[2015-09-21 17:07] mikedanese commented on #13102
This is in progress but will require API changes (see https://github.com/kubernetes/kubernetes/issues/14140#issuecomment-141574219).

[2015-09-21 17:20] joshm1 opened #14285 "AWS rebooted spot-instance failed to launch pods because of aufs mount errors"
I have an auto-scaling group that's a duplicate of the one created by `kube-up` for AWS using Ubuntu 15.04 minions, the only difference being it requests spot instances. When a spot instances is rebooted for whatever reason (they aren't stable), it fails to launch any pods because of an aufs error.  I don't know if this only happens with spot instances, but this was the case for me this time, so i

[2015-09-21 17:24] thockin commented on #6406
This solution needs more detail.  Is the only way to make this work to set that scope at cluster birth time?  The example needs to say that very clearly.  Is there a runtime fix?  This issue is months old - issues are not docs.

[2015-09-21 17:34] rootfs commented on #13138
replaced by https://github.com/kubernetes/kubernetes/pull/14288

[2015-09-21 17:34] #13138 closed

[2015-09-21 17:36] jimmidyson opened #14289 "Cannot watch individual non-namespaced resources (node, namespace, etc) using query param"
e.g.

[code]

Returns a 200 with the node detail & completes.

You also cannot upgrade to websocket due to the 200 response.

[2015-09-21 17:38] bgrant0607 commented on #13812
@liggitt I thought about adding List, but it didn't look like the validator would recurse into the individual resource models, hence the need to special-case List.

[2015-09-21 17:43] mikedanese commented on #14140
Should node controller evict pods on this condition?

[2015-09-21 17:46] jayunit100 commented on #14282
FYI, here's the source needed to run apiserver-nodeport option locally in `local-up-cluster.sh`, we can use this as a reference for how to setup the salt/vagrant recipe HA options.

[code]

[2015-09-21 17:49] yujuhong commented on #14211
I will get the revert PR up soon.

In the meantime, I mapped the timestamps on the jenkins e2e log to a kubelet.log of a failed run. Here is a snippet around when kubelet stopped posting node status:
[code]

Around the same time, apiserver.log was full of errros:

[code]

[2015-09-21 18:13] liggitt opened #14293 "API returns misleading error for creates in non-existent namespace"
Attempting to create in a namespace that doesn't exist gives a misleading error:

[code]

If the error is caused by the admission controller rejecting creates in namespaces that do not exist, the message should indicate that

[2015-09-21 18:17] alex-mohr commented on #3024
My bikeshed contribution: as the number of other types have proliferated (job, task, deployment, etc) -- and my reading of the tea lives says we'll only see more going forward -- perhaps with a rename it's time to make the Pod part of the replica set explicit?

That is, call it a PodSet.

I'm sure to all of us it's amazingly clear that of course it's pods that are replicas, but for someone coming

[2015-09-21 18:23] alex-mohr commented on #7660
The issue we saw in production was accumulating an unbounded and growing number of pods such that etcd and apiserver ran out of memory with 100+k pods.

I'd propose we use some flavor of that as an exit criteria: how well does the proposed strategy/implementation meet that goal?  Bonus points for fewer crossed fingers required.

[2015-09-21 18:36] nikhiljindal commented on #14062
How are we keeping track of the deltas? Annotations on the RCs?

[2015-09-21 18:36] diranged commented on #14097
It seems like the real problem here is the strict-ness that `kube-apiserver` has with regards to the SSL validity. Requiring every single host in our environment that runs `kubelet` to have a properly generated SSL cert with the IP SAN and/or the fully qualified hostname in it is pretty arduous.

If `kube-apiserver` provided an `--tls-skip-host-verify` type option, that would make it easy enough f

[2015-09-21 18:39] dchen1107 commented on #14211
I saw the same issue as @yujuhong when looking at job/kubernetes-e2e-gce/8521/ which is the first e2e flaky reported by @thockin:

From all Kubelets' logs, I noticed the error message to update node status through kube-apiserver:
[code]

At the same time, I observed kube-apiserver failure:
[code]

After a couple of minutes, kube-apiserver is back to normal, and most nodes are back to normal. Did w

[2015-09-21 18:46] derekwaynecarr commented on #13828
@quinton-hoole - thanks for the update, in the interim, i am also trying to make improvements to namespace controller to better handle resource conflicts, so between the 2 efforts we should knock this out.

[2015-09-21 18:50] dchen1107 commented on #14211
cc/ @davidopp @lavalamp

[2015-09-21 18:51] chrissnell commented on #14280
Thanks for filing this, @lavalamp.

[2015-09-21 19:15] #9610 closed

[2015-09-21 19:17] caesarxuchao commented on #6596
I'm not working on this. Go for it @aveshagarwal!

[2015-09-21 19:18] yujuhong commented on #14211
The etcd failure turned out to be a red herring. There was an "etcd failure" test running before kubelet stopped posting node status. Still digging...

[2015-09-21 19:19] DirectXMan12 commented on #10495
@smarterclayton since the Swagger idea won't work in the short term, what do you think of either of the two methods proposed in the above PR (#14294) -- either generating an example based on tags on the API objects, or just registering examples with the API `Scheme` (so instead of calling `New`, you'd call `NewExample`).

[2015-09-21 19:31] smarterclayton commented on #10495
I don't think examples belong as part of swagger tags - one short term
option is to define an interface in the Kube code that provides an example
for a resource (similar to RESTMapper, but not part of that interface).
You can then do a static implementation behind that interface and pass the
interface down into the "New" command.  In the future, we can replace the
static implementation with one th

[2015-09-21 19:41] ixdy commented on #13485
I may have a partial fix for this in #14295.

[2015-09-21 19:45] yujuhong commented on #14211
I checked two failed builds. In both builds, the kubelet in question failed /healthz and was restarted. I only use one build for example below, but the observations apply to both.
[code]
* The id changed after 16:10:44 because the kubelet was restarted for failing a health check (corroborated by supervisord.log).
* The SyncLoop was not active for more than 5 minutes, which was the potential cause

[2015-09-21 19:49] soltysh commented on #14186
I think this is already implemented with current describer (see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/describe.go#L872) and [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/describe.go#L894-L896)) unless you're talking about something more sophisticated.

There are also three quite important imho future improvements mentioned in the [proposa

[2015-09-21 19:52] diranged commented on #14097
Ok -- my previous comment was a bit uninformed. I havn't disabled SSL _entirely_ (as thats not possible), but by removing the `--kubelet-tls...` settings from our `kube-apiserver`, we have effectively disabled SSL verification when the apiserver is reaching out to the kubelets. For the short term this is OK,  but ultimately it would be nice to be able to only disable *host name* verification, and

[2015-09-21 19:53] soltysh commented on #14186
Additionally there's the question I've raised in [here](https://github.com/kubernetes/kubernetes/pull/14142/files#r39969955) regarding treating pod's `RestartPolicy` differently for `OnFailure` and `Never`. In my opinion the latter should never restart pods counting both successful and unsuccessful executions, exactly the way it's specified in [this comment](https://github.com/kubernetes/kubernete

[2015-09-21 20:05] dchen1107 commented on #14244
cc/ @saad-ali

[2015-09-21 20:06] davidopp commented on #7660
@mikedanese is going to work on this, as a new controller (with no coresponding API object). The intention is to get it in for 1.1 though obviously it will have to be a cherrypick.

[2015-09-21 20:08] davidopp commented on #3024
I think the problem with PodSet is lots of controllers manage sets of pods (daemon, job, RC, etc.). ReplicaSet is no better on this front, but PodSet doesn't seem any better and thus not easy to justify renaming.

[2015-09-21 20:16] vishh opened #14299 "apiserver is not initializing on GCE"
A cluster built from HEAD fails to come up on GCE. apiserver fails with the following error:

[code]

cc @dchen1107 @lavalamp

[2015-09-21 20:18] vishh commented on #14299
Attempting cluster build again. Ignore this issue until another update.

[2015-09-21 20:19] #14299 closed

[2015-09-21 20:19] dchen1107 commented on #14299
PR https://github.com/kubernetes/kubernetes/pull/13447 was merged last week, and it introduced DenyEscalatingExec plugin to our system. Surprisingly it doesn't cause any jerkin test failure. Might due to your own branch?

[2015-09-21 20:25] dchen1107 commented on #14283
Kubelet does report a Backoff event.

[2015-09-21 20:33] dchen1107 commented on #14274
Yes, this is known issue since 1.0 release. We documented somewhere to have persistent storage for both influxDB and ElasticSearch, but I couldn't find them now.

cc/ @vishh

[2015-09-21 20:34] dchen1107 commented on #14274
cc/ @saad-ali on volume plugin.

[2015-09-21 20:36] DirectXMan12 commented on #10495
Not Swagger tags -- tags on the actual go objects (e.g.

[code]
).

Similar to what I have in the commit that uses `api.Scheme.NewExample()`, just with a new interface to match?

[2015-09-21 20:36] DamodarSojka commented on #3685
Hi
I am a student at University of Edinburgh currently involved in undergraduate research project concerned with configuring large systems. I am faced with prototype of new configuration language, and my task is to understand common problems that exist in area of configuring large systems. I want to track down problems that existing solutions are not solving and hopefully make useful proposals to

[2015-09-21 20:36] vishh commented on #14274
I'm thinking of not running InfluxDB by default since we can now use
[kubedash](https://github.com/kubernetes/kubedash) for basic cluster
monitoring. Running InfluxDB requires setting up a persistent volume, which
is currently a manual deployment specific operation.

On Mon, Sep 21, 2015 at 1:34 PM, Dawn Chen <notifications@github.com> wrote:

[2015-09-21 20:37] thockin opened #14300 "bad printf in dbus"
I0921 20:36:33.954701   28805 iptables.go:173] Could not connect to D-Bus system bus: %sdial unix /var/run/dbus/system_bus_socket: connect: no such file or directory

@danwinship

[2015-09-21 20:38] zviadm commented on #10959
Fyi I think I was running into very similar issues with docker directly (i.e. without kubernetes). Here is an issue I opened with docker directly: https://github.com/docker/docker/issues/16376

You can try same thing with synchronizing all calls to `docker pull` application side if possible and see if that makes the issue go away.

[2015-09-21 20:39] erictune opened #14301 "Experimental: Job: Incorrect parallelism/completions"
In master branch at 843134885e7e0b360eb5441e85b1410a8b1a7a0c (was head today).

Created a job with unspecified `.spec.parallelism` and `.spec.completions`.  Kubectl described it.
Saw
[code]
which are a bit higher than I wanted.

[2015-09-21 20:40] erictune commented on #14301
Example job number 1:
[code]

Example job 2:
[code]

[2015-09-21 20:40] erictune commented on #14301
@mikedanese

[2015-09-21 20:40] erictune commented on #14301
@soltysh

[2015-09-21 20:40] dchen1107 commented on #14265
cc/ @derekwaynecarr

Thanks for playing Kubernetes with Vagrant, and please send us PR to improve our doc.

[2015-09-21 20:42] erictune commented on #14301
Getting the yaml back from apiserver, I see correct values in both cases.  Seems to be a kubectl describe issue.

[2015-09-21 20:42] vishh commented on #14274
It is possible to update the deployment configs to not run elastic search
and influxdb by default. You can simply delete those files from your
branch. After that, you can create a kubernetes service for InfluxDB named
`monitoring-influxdb` in the `kube-system` namespace and add the IP of your
existing InfluxDB deployment as an endpoint in the service. Similarly, you
can create a service for elasti

[2015-09-21 20:43] dchen1107 commented on #14284
cc/ @saad-ali

[2015-09-21 20:44] erictune opened #14303 "Need Docs for Experimental API use and stability"
Put in a doc:

- How to enable experimental (--runtime-config=experimental/v1)
- Whether to expect it to work on GKE
- That we might change the API while it is experimental
- That we might change it when we move out of experimental
- That your clients might break.
- That we might stop supporting the experimental one when it graduates.

Link to that doc from pages that describe experimental feature

[2015-09-21 20:48] soltysh commented on #14301
You can assign that to me, I'll take care of that first thing in the morning.

[2015-09-21 20:49] erictune opened #14304 "Kubectl describe of pod does not mention job or daemonset"
`kubectl describe pods/foo` says, among other things:
`Replication Controllers:	<none>`

There are other types of controllers now, so this should probably be something like:
`Controlled-by: jobs/myjob`
etc..

[2015-09-21 20:50] erictune commented on #14304
Could wait until jobs/daemonset are out of experimental, or not.

[2015-09-21 20:53] erictune commented on #14304
Use the `.metadata.annotations` item with key `kubernetes.io/created-by`.

[2015-09-21 20:54] smarterclayton commented on #10495
Sorry, I meant on the go tags.  Go tags It doesn't lend itself to
inspection by a human, and is very labor intensive (vs crafting sets of
examples).

I would try to keep this code separate from Scheme (which already does too
much).  If the interface implementation is a big switch on a resource name
with examples inlined I think that's a great start (all one place), and
it's simpler and less invasi

[2015-09-21 21:03] erictune opened #14307 "Confusing status for successful pod"
[code]

It is confusing to call the container "Terminated with Reason Error" when Exit Code was 0, and when the Pod status is "Succeeded".

It is also confusing that there are so many events for the Pod, but not one saying that a successful Container exited 0 and was cleaned up.

[2015-09-21 21:12] erictune commented on #14303
@bgrant0607

[2015-09-21 21:13] erictune commented on #14307
Would be nice to sneak a fix into v1.1 since it makes Job easier to use, but may be too late for that.

[2015-09-21 21:16] yujuhong commented on #14262
Some components that I know of which calls ListContainers (I may have missed some):

1. Each pod worker relies on listing the docker containers to generate the pod status (at least twice a sync) because they need to bypass the runtime cache because they expect the most up-to-date container statuses after performing creation, etc.
2. Housekeeping also does this after killing containers.
3. RunInCon

[2015-09-21 21:20] erictune opened #14308 "Experimental: Job status not being updated"
We need code in the job controller to update the status of the job.  That isn't happening right now.

@mikedanese @soltysh

[2015-09-21 21:20] erictune commented on #14308
Job is useable without this but kinda confusing.

[2015-09-21 21:20] liggitt commented on #13811
@stefwalter closing as fixed in master

[2015-09-21 21:20] #13811 closed

[2015-09-21 21:21] dchen1107 opened #14309 "TestSyncLoopAbort-2 is flaky"
W0921 21:05:38.642280   11417 docker.go:265] found a container with the "k8s" prefix, but too few fields (2): "k8s_unidentified"
I0921 21:05:38.642486   11417 container_gc.go:140] Removing unidentified dead container "/k8s_unidentified" with ID "2876"
I0921 21:05:38.642860   11417 disk_manager.go:114] Running out of space on disk for "root": available 0 MB, threshold 250 MB
I0921 21:05:38.642971

[2015-09-21 21:22] dchen1107 commented on #14309
cc/ @kubernetes/goog-node

[2015-09-21 21:24] soltysh commented on #14308
I kinda experienced that today, while working with e2e tests, but wasn't sure about the source of the problem, I'm quite positive it was implemented in such a way that the status was updated. Right now I'm getting lots of update failures because of job being updated in the mean time. Getting fresh version before doing the update didn't help. I'm working on it right now, this brakes my e2e tests ri

[2015-09-21 21:24] erictune commented on #14308
@mikedanese can you invite @soltysh so I can assign stuff to him

[2015-09-21 21:26] quinton-hoole commented on #14107
@markturansky ping?  This issue is holding up all merges, as integration tests are not passing consistently.  Are you still actively working on this?

[2015-09-21 21:30] dchen1107 commented on #14284
I saw a lot of shippable failure caused by this one. Another example:

https://app.shippable.com/builds/56006ef0b88a390c009e4e52

[2015-09-21 21:35] DirectXMan12 commented on #10495
Fair enough.  If/when we do eventually go with the Swagger version, we'll have to have the examples somehow be associated with the corresponding API types (so that we can actually insert them into the swagger spec), though.

[2015-09-21 21:37] dchen1107 commented on #14285
Thanks for reporting the issue, and close it as dup of #10959. Please re-open it if you think they are different. Thanks!

[2015-09-21 21:37] #14285 closed

[2015-09-21 21:39] dchen1107 commented on #14264
Here is the flag defining maximum number of pods can run on a Kubelet:
https://github.com/kubernetes/kubernetes/blob/843134885e7e0b360eb5441e85b1410a8b1a7a0c/cmd/kubelet/app/server.go#L269

[2015-09-21 21:39] #14264 closed

[2015-09-21 21:42] smarterclayton commented on #10408
The authn/z parts of this are blocked on https://github.com/kubernetes/kubernetes/pull/12209

[2015-09-21 21:44] smarterclayton commented on #10408
For 1.2 we should discuss what parts of deployments we try to directly upstream (hooks, triggers, custom deployments, extra strategies) and how we manage extension of that object.  Porting routes to ingress and moving the ha proxy and f5 full featured implementation upstream (or simply API compatible) are also top concerns.

[2015-09-21 21:49] derekwaynecarr commented on #14265
What was the error?

On Monday, September 21, 2015, Dawn Chen <notifications@github.com> wrote:

[2015-09-21 21:50] derekwaynecarr commented on #14050
I had to get an unexpected knee xray today.  Will look tomorrow when I have
more time.

On Monday, September 21, 2015, Brian Grant <notifications@github.com> wrote:

[2015-09-21 21:52] saad-ali commented on #13565
@spothanis any update?

[2015-09-21 22:00] saad-ali commented on #14145
I believe this is a dupe of #14284 not #14107

[2015-09-21 22:01] erictune opened #14312 "Experimental: DaemonSet: selector should default from template labels"
I tried to create this DaemonSet:
[code]
and got this error:
`The DaemonSet "prometheus-node-exporter" is invalid. spec.selector: required value`

This should have been defaulted from the node label.

[2015-09-21 22:02] erictune commented on #14312
@AnanyaKumar @mikedanese

[2015-09-21 22:03] erictune commented on #14312
Never mind.

[2015-09-21 22:03] #14312 closed

[2015-09-21 22:05] smarterclayton commented on #10495
That would be the responsibility of the RESTStorage classes and their
interfaces.

On Mon, Sep 21, 2015 at 5:36 PM, Solly <notifications@github.com> wrote:

[2015-09-21 22:07] erictune opened #14313 "Experimental: DaemonSet: describe not implemented."
@AnanyaKumar

[2015-09-21 22:08] markturansky commented on #14107
@quinton-hoole yes.  attempting to reproduce.

[2015-09-21 22:09] saad-ali commented on #14107
Mark, here is another example of this failure, if that helps:

https://app.shippable.com/builds/56006ef0b88a390c009e4e52

[code]

Note that this is a different issue then #14284.

[2015-09-21 22:10] dchen1107 commented on #14263
cc/ @sdminonne, @thockin

[2015-09-21 22:16] yujuhong commented on #14140
From the comments above, it sounds like that kubelet is *not* going to reject any pods when it becomes unschedulable. Instead, kubelet would report that a node condition "Accepting" if it sees itself as schedulable. Node controller, after observing a node condition changes to not accepting, will then evict all the pods.

This effectively disallows pods to be run on an unschedulable node, which I t

[2015-09-21 22:17] bgrant0607 commented on #14303
See also #14132, #13883

[2015-09-21 22:18] vishh commented on #14140
I assume as part of this new feature, the scheduler will avoid assigning
pods to a kubelet that is not accepting any pods.

On Mon, Sep 21, 2015 at 3:16 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-09-21 22:21] davidopp opened #14314 "Create daemon set test where a new node is added with a matching label"
and verify the daemon is started on it.

[2015-09-21 22:25] dchen1107 commented on #14140
@yujuhong We plan to leave schedulable / unschedulable as is today. Instead we plan to introduce a new condition whose name is to be defined to our API. Let's assume the name is ProdSwitch. When such condition is off:

1) scheduler should avoid schedule pods to that kubelet
2) kubelet should stop accepting any pods from kube-apiserver
3) node-controller should evict all running pods on that node.

[2015-09-21 22:30] yujuhong commented on #14140
If you create a pod with PodSpec.NodeName written, scheduler would ignore this pod while the kubelet will run the pod.

[2015-09-21 22:31] yujuhong commented on #14140
I see. This is very different from what the title of this issue suggests. Time to change the title? :)

[2015-09-21 22:46] dchen1107 commented on #14140
I didn't change the title because the new condition is not named. :-)

[2015-09-21 22:47] dchen1107 commented on #14140
But I changed the title anyway by giving prodswitch

[2015-09-21 22:48] JeanMertz opened #14315 "latency issues inside pod (in GCE)"
We're running a Kubernetes cluster on top of GCE, and notice a very high latency of TCP packets. We tested this in multiple (Debian-based) running containers, each consistently giving these kind of results.

I am unsure if this is Kubernetes related, or Google Container Engine related, but this is causing us major headaches right now, any thoughts?

[code]

[code]

[code]

[code]

From what I can

[2015-09-21 23:01] thockin commented on #14315
It looks like all the time is going into DNS?  @artfulcoder  We've had a
few such reports and no easy repro.

On Mon, Sep 21, 2015 at 3:49 PM, Jean Mertz <notifications@github.com>
wrote:

[2015-09-21 23:28] yujuhong commented on #14211
@thockin, you were right. It is my PR, reverting soon. In summary, there might be a deadlock caused by lock grabbing in syncNodeStatus and syncNetworkStatus.

[2015-09-21 23:33] lavalamp opened #14318 "Deprecate apiversion field in kubeconfig file"
https://github.com/kubernetes/kubernetes/blob/80775b44d1187805119bbbbb8c3f3242d1279bb1/pkg/client/unversioned/clientcmd/api/v1/types.go#L58

It doesn't make sense to have this field in the config file. I don't think we even need to replace it with a list of preferred versions, either, I think we should just remove it. (Well, deprecate & stop using it.)

Note that this affects every binary we have

[2015-09-21 23:34] lavalamp commented on #14318
@JanetKuo This is the field I was talking about.

[2015-09-21 23:38] lavalamp opened #14321 "Add MetaRESTClient between RESTClient and (high-level) Client"
The request here is basically to keep a collection of RESTClients around, one for each group/version.

This code should then be replaced; both the experimental-group client and the regular-group client should be gotten from this pool of clients. https://github.com/kubernetes/kubernetes/blob/bdfd469a85f734468525b5ab53e99034e7061e09/pkg/kubectl/cmd/util/factory.go#L141

[2015-09-21 23:42] spiffxp commented on #14216
Anecdotally, this appears to be a regression in the 1.1.x codebase.

Using the exact same set of command line flags, I've been unable to reproduce stair-stepping behavior with server versions:
- v1.0.3 release
- v1.0.6 release
- v1.0.6 built locally

I've reproduced it with server versions:
- v1.1.0-alpha.1.1007+cad5f03311afff-dirty built by ci
- v1.1.0-alpha.1.1007+cad5f03311afff-dirty built loca

[2015-09-21 23:44] lavalamp commented on #14321
@smarterclayton @JanetKuo - Filing this based on our discussions.

[2015-09-21 23:53] lavalamp commented on #14133
I filed #14321; the high level client still needs to select the right group/version, but @smarterclayton has convinced me it should do so by choosing a particular rest client.

[2015-09-21 23:55] mikedanese commented on #14313
bug https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/describe.go#L72

[2015-09-21 23:55] amygdala opened #14324 "GCE kube-up script should surface instance manager errors"
If some issue is preventing the instance manager from starting its VMs, the creation part of kube-up will just loop indefinitely.
(E.g., a typo when changing the MINION_SCOPES list in `cluster/gce/config-default.sh` will cause this, something I've observed happen multiple times).

If the user goes into the 'Instance Groups' panel in the dev console they can get more info, but they won't necessaril

[2015-09-21 23:57] mikedanese commented on #14188
@soltysh

[2015-09-21 23:57] Symmetric commented on #13459
@smarterclayton in the SIG-network we've been talking about attaching richer policy to Services (or creating a Policy object that selects pods as Services do), and I think that would be the way to implement the sort of LB policy you're talking about. I think that's the next iteration though, and I don't think this proposal closes the door on the sort of richer policy that you want.

In the next it

[2015-09-21 23:57] liggitt commented on #14133
Hmm, that makes it tough to do lazy/just-in-time version negotiation, which @smarterclayton also wants

[2015-09-22 00:02] #12447 closed

[2015-09-22 00:09] pmorie commented on #12746
@rootfs I expect that it will -- can you do a simple manual test to verify?

On Mon, Sep 21, 2015 at 9:59 AM, Huamin Chen <notifications@github.com>
wrote:

[2015-09-22 00:17] smarterclayton commented on #14133
We agreed we need a higher level client - aka metarestclient to negotiate.
Dan is going to dive into that.

On Sep 21, 2015, at 7:58 PM, Jordan Liggitt <notifications@github.com>
wrote:

Hmm, that makes it tough to do lazy/just-in-time version negotiation, which
@smarterclayton <https://github.com/smarterclayton> also wants

—
Reply to this email directly or view it on GitHub
<https://github.com/k

[2015-09-22 00:20] pmorie commented on #14188
@kubernetes/rh-cluster-infra

On Mon, Sep 21, 2015 at 7:57 PM, Mike Danese <notifications@github.com>
wrote:

[2015-09-22 00:23] pmorie commented on #14263
The E2E test should cover this case.

[2015-09-22 00:38] smarterclayton commented on #13459
As long as we can come up with good justifications.  My concern is that policy growth leads to rules that are not quite NamespaceIP or ClusterIP - for instance, I doubt any user wants a service that is purely namespaced scope forever, or at creation time, is not sure.  A cluster scoped IP is required to do some forms of inter-cluster communication and has the benefit that it is future proof when a

[2015-09-22 00:47] pmorie commented on #14244
@markturansky I'm all about renaming the other 'Creater' too.

[2015-09-22 01:02] thockin commented on #14211
thanks for the update

On Mon, Sep 21, 2015 at 4:29 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-09-22 01:04] mattbates opened #14327 "Flocker volume plugin"
[Flocker] [1] is an open-source container data volume manager for Dockerized applications.

This [PR adds a volume plugin for Flocker] [2].
The plugin interfaces the [Flocker Control Service REST API] [3] to request volume creation and attachment.

Each kubelet host should run Flocker agents (Container Agent and Dataset Agent).

The kubelet will also require environment variables that contain the

[2015-09-22 01:06] mattbates commented on #14327
/cc @agonzalezro @lukemarsden

[2015-09-22 01:17] timothysc commented on #14276
/cc @markturansky

[2015-09-22 01:17] markturansky commented on #14244
Damn those latin-derived words!

I much prefer "Creater", but I can't argue against Merriam-Webster.  English is a quirky language.

[2015-09-22 01:18] #14283 closed

[2015-09-22 01:19] thockin commented on #14283
nevermind, I see we DO have exitCode.

On Mon, Sep 21, 2015 at 1:27 PM, Dawn Chen <notifications@github.com> wrote:

[2015-09-22 01:20] saad-ali commented on #14284
Dug into this. Looks like this happens because the test is not waiting for `claim02` become bound.

The test currently uses this code to determine if the claims are bound (`test/integration/persistent_volumes_test.go:89`):

[code]

It receives two events for `claim01` with `claim.Spec.VolumeName != ""`:
[code]

It then incorrectly assumes that both `claim01` and `claim02` are bound (`claim02` is s

[2015-09-22 01:39] spiffxp commented on #14216
Two runs
- patch for #8261 applied (
https://github.com/kubernetes/kubernetes/compare/master...spiffxp:reapply-8261)
- v1.0.6 release

Raised two settings:
- apiserver max-requests-inflight x100 (from 400 to 40000)
- kubelet max-pods x5 (from 40 to 200)

The patch smooths out stair steps, but doesn't really reduce overall duration.  The release has no stair steps.

<img width="958" alt="reapply-82

[2015-09-22 01:52] pmorie commented on #14244
@markturansky we should split this into multiple PRs, it's too much to do
at one time.

On Mon, Sep 21, 2015 at 9:18 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-09-22 02:09] markturansky commented on #14284
@saad-ali I thought about re-writing the waits, too, to be more like the newer integration tests I added recently.

I'll fix this up promptly and submit new tests for basic binding.

[2015-09-22 02:13] resouer commented on #13424
@fgrzadkowski  can't agree more!

[2015-09-22 02:13] liggitt commented on #14280
There are a couple scenarios where retry could make sense:
* rate limiting errors with retry-after header responses (which I don't think are being set right now)... this could be a lower-level retry
* 409 conflict errors - this would probably have to be a higher level retry at the command level where refetching/retrying when a 409 error was encountered would still fulfill the user's intent (e.g. f

[2015-09-22 02:15] resouer commented on #14102
Thanks ... I also noticed there're TODOs about specifying what's wrong indeed ...

[2015-09-22 02:26] mikedanese commented on #14304
This is tricky since kubectl has no way of knowing whether experimental is enabled yet. I guess that's not entirely necessary.

[2015-09-22 02:37] liggitt commented on #14190
wonder if it also breaks swagger validation in `kubectl create`

[2015-09-22 02:41] liggitt commented on #14102
I wonder if patch would be a better fit for updating a single field...

[2015-09-22 02:44] resouer commented on #14102
@liggitt Well, patch & update seems confusing in some cases ... Could u explain the main difference?

[2015-09-22 02:46] liggitt commented on #14053
did your docker version recently change?

[2015-09-22 02:53] liggitt commented on #13929
as we think about this, we should also consider whether subresources (which kubectl doesn't support today) should be addressable, and how

[2015-09-22 04:00] tombenner opened #14335 "Setting credentials in 1.1.0-alpha.1 on AWS"
We're working on upgrading from 1.0 to 1.1.0-alpha.1. Before spinning up a cluster with kube-up, we set the credentials:

[code]

This works as expected on 1.0. With 1.1.0-alpha.1, though, we saw that these credentials (myusername:mypassword) are overwritten with values created in `gen-kube-basicauth` (admin:randomstring). These credentials from `gen-kube-basicauth` are stored in `.kube/config` an

[2015-09-22 04:09] #14300 closed

[2015-09-22 04:36] chrissnell commented on #14280
For what it's worth, my intent in submitting the original request was to have an automatic way of handling network failures--timeouts, connection refused, etc.--in the rare event that they occur when using the client library.

[2015-09-22 04:42] #14301 closed

[2015-09-22 05:04] liggitt commented on #14335
the setup scripts probably shouldn't be overwriting existing values in shared config files

[2015-09-22 05:06] liggitt commented on #14318
I'm pretty sure there is defaulting code in place if that field is missing or unspecified, so removing it may have minimal impact on older clients...

[2015-09-22 05:11] JeanMertz commented on #14315
I can confirm that this *only* happens inside pods, not on the GCE nodes itself:

[code]

[2015-09-22 05:18] JeanMertz commented on #14315
Here's the top three processes on one of the nodes. I find the CPU consumption relatively high (for a relatively empty cluster of three `n1-standard-4` nodes), but perhaps this is as expected and unrelated

[code]

[2015-09-22 05:22] thockin commented on #14315
That's REALLY high CPU usage.  What's going on?  Can you look at the logs
for kubelet and / or kube-proxy?

On Mon, Sep 21, 2015 at 10:18 PM, Jean Mertz <notifications@github.com>
wrote:

[2015-09-22 05:32] dchen1107 commented on #14107
Another failure: https://app.shippable.com/builds/5600d606f4951e0c00e841a1

[2015-09-22 05:38] JeanMertz commented on #14315
For `kube-proxy`, this might be related to the original cause of this ticket:

[code]

One of our RC's has a `readinessProbe` attached to its pods, but due to the high latency, every ~10 seconds a pod gets removed (and later added back) from the LB. The above log appears instantly every ~10 seconds for different IPs.

We already increased the timeout period to 5, but it doesn't help.

[2015-09-22 05:39] #13327 closed

[2015-09-22 05:39] worldsense-tms commented on #10623
using docker-1.9.0-dev I managed to get one such pull finished, while it failed consistently with 1.8.2. I downloaded it from https://master.dockerproject.org/, stopped the service and ran manually with sudo docker -d -D.

[2015-09-22 05:45] thockin commented on #14315
Those are just UDP connections being made through the proxy.  It shouldn't
be a big issue.  That said, we have received a lot of similar bug reports -
DNS taking multiple seconds.  But I can not repro it...

On Mon, Sep 21, 2015 at 10:38 PM, Jean Mertz <notifications@github.com>
wrote:

[2015-09-22 05:54] erictune opened #14337 "Excessively verbose backoff logs."
My kubelet logs say stuff like this for the last 5 hours at least.

[code]

Why is it telling me about the backoff every 5 seconds if the backoff is for 5 minutes?

[2015-09-22 05:56] saad-ali commented on #14284
Re-opening. The test is flaky in a slightly different way now: See https://app.shippable.com/builds/5600dc6f28357b0c00e875d3

[code]

This indicates that the test `TestPersistentVolumeClaimBinder` timed-out waiting for `event := <-watch.ResultChan()` to return:
[code]

1. This test is depending on watch `resourceVersion==0` behavior that will change with #13969.
2. We need to understand and fix th

[2015-09-22 06:08] JeanMertz commented on #14315
With the probe disabled, I still see these loads (fluctuating highly):

[code]

Some more observations:

* using `apt-get update` on a pod, I can see it hanging a long time on `Connecting to httpredir.debian.org` (again confirming initial dns issue)
* looking at the k8s web ui, I can see the CPU chart highly fluctuating between 30% and 100% on all three nodes, memory is consistently at ~75%
* on t

[2015-09-22 06:13] #14211 closed

[2015-09-22 06:15] yujuhong commented on #10623
@worldsense-tms, that's good news! Thanks for letting us know.

@dchen1107, do you still want to get the short-term fix in for v1.1?

[2015-09-22 06:19] thockin commented on #14315
I am out of office tomorrow, but I wouldn't mind poking around later in the
week.  If nobody has better ideas, of course.

On Mon, Sep 21, 2015 at 11:09 PM, Jean Mertz <notifications@github.com>
wrote:

[2015-09-22 06:45] JeanMertz opened #14338 "GKE Release Notes possibly outdated"
Looking at this page: https://cloud.google.com/container-engine/release-notes#supported_kubernetes_api_versions

It seems that:

1. GCE is running a Kubernetes master version (`1.0.3`) that was released a month and a half ago
2. the Release Notes itself are almost a month old, while updates where more frequent before

Granted, 1,5 month is not that long, but in Kubernetes-development time that's s

[2015-09-22 07:18] JeanMertz opened #14339 "GKE: Kubernetes semi-manual upgrades"
Currently, upgrading involves something like:

[code]

which will re-create all nodes one by one.

While this is a great feature to have, we are running [Vault](https://vaultproject.io) on top of our cluster, which requires a manual *unseal* of each running Vault instance after it restarts, for enhanced security.

This means that, for truely zero-downtime upgrades, we'd need a way to:

1. mark a n

[2015-09-22 07:29] davidopp commented on #14278
@justinsb

[2015-09-22 07:38] davidopp commented on #14205
(1) seems quite reasonable to me.

[2015-09-22 07:38] samsabed commented on #14337
@erictune if a container hasn't being restarted for a few mins, the back-off msg may not be easily noticed, if it's not near other relevant timestamps (or at least that could be a plausible retroactive explanation). I suppose a person is more likely to grep for the name anyway.
I can change it you think otherwise.

[2015-09-22 07:39] sdminonne commented on #14263
@qwang1 thanks for reporting these.
I managed to reproduce both problems. I'm investigating.

[2015-09-22 07:57] davidopp commented on #14216
@kubernetes/sig-scalability

[2015-09-22 07:59] chao007 opened #14340 "NFS: PVC can get all the PV's accessmode instead of what PVC asked for"
Description:
After PVC is bond to PV, check the pvc info, can get all the pv's accessmode
there is a problem that the pvc can get all the pv's accessmode, not only the ROX, bug also RWO.
this is not security for the PV because users can change the pvc to get more access right.

Steps to Reproduce:
1, create pv
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs1
spec:
  capacity:
    stora

[2015-09-22 08:12] jiangyaoguo opened #14342 "kubeproxy e2e test is flaky"
[code]
[code]
More detail can be seen in #13632  e2e test

[2015-09-22 08:16] erictune opened #14344 "Experimental: DaemonSet: needs Status Update"
daemonset is not installing a status endpoint.
It should.
Just copy what was done in #14343 since Job had the exact same issue.

[2015-09-22 08:17] erictune commented on #14344
The primary daemonset endpoint should disallow updates of status.

[2015-09-22 08:19] erictune commented on #14308
I know this was assigned to you, but I was playing around and got curious.

[2015-09-22 08:21] erictune commented on #14344
@AnanyaKumar @mikedanese

[2015-09-22 08:26] erictune commented on #14313
Oh.  that line needs to be under expDescriberMap

[2015-09-22 08:48] davidopp commented on #14186
@erictune

Just a note, IIUC this is already the plan for vertical autoscaler + ReplicationController

@soltysh

IIUC that's exactly what 8 is trying to do.

[2015-09-22 09:10] kyzh commented on #13212
@swagiaal could the behaviour beerroring out instead of making the decision to use /dev/sdb1.
Fixing the root cause will make it safer in the long run.

[2015-09-22 09:16] dpkshetty opened #14346 "docs/user-guide/walkthrough/README.md : Fix the get pod command"
Wrt section
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/walkthrough/README.md#pod-management
[code]
is incorrect

It should rather be

[code]

I can send a doc patch if the issue reported above is correct ?

[2015-09-22 09:49] erictune commented on #13610
Yes, I want this.  It would be like this:
[code]

[2015-09-22 09:59] soltysh commented on #14308
n/p I can pick this up and focus on e2e :smile:

[2015-09-22 10:00] soltysh commented on #14186
@davidopp right, for some reason I missed it, thx.

[2015-09-22 10:26] chao007 opened #14349 "Cephfs: "Permission denied" when read or write in dir of the cephfs mounted with selinux is enforced"
when set selinux is Enforce, got "Permission denied" when read or write in the dir ceph volume mounted , after setenforce 0,  could read or write to the dir

Steps to Reproduce:
1.create a pod with cephfs , the pod is running
[root@dhcp-128-79 kubernetes]# cluster/kubectl.sh get pods -o yaml
apiVersion: v1
items:
- apiVersion: v1
  kind: Pod
  metadata:
    creationTimestamp: 2015-09-22T03:36:58Z

[2015-09-22 11:34] feihujiang commented on #14293
@liggitt  Is there anyone to work on this? If not, I'd like to fix.

[2015-09-22 11:40] fgrzadkowski commented on #14269
I checked the logs I think it's because it has a different process namespaces and can't find pid for docker daemon:
[code]
I'll rerun it with ```--pid=host``` flag to see if this helps.

[2015-09-22 11:59] maklemenz opened #14352 "kubelet: unknown cloud provider "openstack""
kubelet can't find the cloud provider for openstack, logs `unknown cloud provider "openstack"` and exits.

$ sudo /usr/bin/kubelet --api_servers=https://localhost:6443 --address=0.0.0.0 --  hostname_override=192.168.100.76 --cluster-dns=10.100.0.10 --cluster-domain=cluster.local --kubeconfig=/etc/kubernetes/kubelet.kubeconfig --config=/etc/kubernetes/manifests --cloud-provider=openstack --cloud-co

[2015-09-22 12:03] gmarek commented on #14273
It's still failing though with different error:
[code]

I'm seeing in on my clusters as well. It's actually quite strange, as it seems that it depends on the number of scheduled pods: it reliably time outs on 100 node cluster, and it *kind of* succeeds on 3 node one. *Kind of* because e2e startup is just crazy:
[code]

Another thing is that it's triggered only for additional 'latency' pods that ar

[2015-09-22 12:19] gmarek commented on #14273
cc @smarterclayton @timothysc

[2015-09-22 12:44] feihujiang commented on #14307
Yes, and when use
[code]
The STATUS result is Error, it is confusing too.

[2015-09-22 12:45] bliss commented on #10368
Good day!
In spite of the problem has been marked as fixed on kubernetes at least 1.0.3 it's still persist. Just simple KVM setup, master and two nodes. After a node reboot it's never gets back and has NotReady status. Node kubelet status is OK. To bring a node back to cluster I have to restart node kubelet.

[2015-09-22 12:58] timothysc commented on #14307
/cc @kubernetes/rh-cluster-infra

[2015-09-22 13:14] markturansky commented on #14284
@saad-ali the 2 newer integration tests I added (for Recycler and Deleter) both perform binding between a PV and PVC.   The original integration test (that one that's failing) only tests binding.

We've got tons of unit tests that cover complex binding scenarios.  The simple scenario in the original integration test isn't that useful, IMHO, considering the newer ones also test the same thing.

Unl

[2015-09-22 13:25] timothysc commented on #14273
So there are several orthogonal issues being discussed at once here, so lets break them down:

IMHO this is an annoyance that someone created when they started putting NS-deletes in front of the tests, the > the number of nodes + events the longer your NS delete (It is extremely slow) /cc @derekwaynecarr

Typically we've seen this if pods start failing, this can sometimes be caused by kubelet issu

[2015-09-22 13:39] jsafrane commented on #13125
I cannot reproduce the bug. I tried with a two-machine gluster cluster and Kubernetes (current master) tries both endpoints if one of them fails to mount.

Still, the order in which they are tried is not random at all, pr #13807 seem to have broken the algorithm. If the endpoints are constant (and they are), iterating map[] gives its items always in the same (pseudo-random) sequence at https://git

[2015-09-22 13:40] jsafrane commented on #13125
@bodgit, @hchen, do I miss something ^ ?

[2015-09-22 13:42] gmarek commented on #14273
@timothysc I can provide you with logs, but it fails reliably for me on the head, when run on GCE. Actually I'm curious if it also happens with other setups. I suggest moving discussion to slack scalability channel.

As for active namespaces - noone is actually deleting NSs in front of the tests. It was a really, really, really bad name of a function.

Inability to start 30 pods/node was indeed mo

[2015-09-22 13:49] swagiaal commented on #13212
@kyzh Yeah that's the idea

[2015-09-22 13:57] pmorie commented on #13212
@kubernetes/rh-storage

[2015-09-22 14:04] rootfs commented on #13212
Or we make partition part of the API like [gce pd does](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L434).

[2015-09-22 14:14] gmarek commented on #14327
cc @thockin @bgrant0607

[2015-09-22 14:15] gmarek commented on #14339
cc @bgrant0607 @fgrzadkowski

[2015-09-22 14:16] gmarek commented on #14340
cc @thockin

[2015-09-22 14:17] gmarek commented on #14342
cc @thockin

[2015-09-22 14:17] gmarek commented on #14346
cc @bgrant0607

[2015-09-22 14:17] gmarek commented on #14349
cc @thockin

[2015-09-22 14:37] pmorie commented on #6596
@aveshagarwal tag me in when you have a PR please

[2015-09-22 14:38] aveshagarwal commented on #6596
@pmorie sure.

[2015-09-22 14:38] gizmonicus commented on #13125
It appears the current master does not have the issue with trying both
endpoints. I started to work on patching it myself but after building the
latest master, I also could not reproduce the error, even though it still
did not start with a random endpoint. The version that ships with CentOS 7
was, and as far as I am aware, still is affected. I'll take that up with
the RHEL/CentOS maintainers.

--

[2015-09-22 14:42] jayunit100 opened #14355 "Modify local-up-cluster to create a simple kubeconfig file for cluster authentication."
The e2e tests need a kubeconfig file to run, which can be empty.

Should we just allow them to run optionally **without** a kubeconfig file?

Seems like an unnecessary distraction to running them.

[2015-09-22 14:58] pmorie commented on #14327
#14328

[2015-09-22 15:00] soltysh commented on #10257
I'm getting constant failures from integration, see https://app.shippable.com/builds/560159cea94e1a0c0080e42b the last failure is:
[code]

[2015-09-22 15:02] derekwaynecarr commented on #14050
I think an option to do this is to move the defaulting code logic into a defaulting function for a Pod instead of what we have right now is a defaulting function for a ResourceRequirement.  In this manner, the ReplicationController pod template would not be affected.

I will hack something together to see if it works.

[2015-09-22 15:12] gmarek opened #14357 "Kubelet fails to create kubernetes/pause image."
I noticed this while testing:
[code]

cc @dchen1107 @yujuhong

[2015-09-22 15:43] soltysh commented on #14284
One more here https://app.shippable.com/builds/56016eaf767f881200442642

[2015-09-22 16:05] mattjay commented on #10351
Just reiterating that using a cookie for a CSRF token is not a viable protection mechanism. The randomized token should be part of the POST body and not header based at all. Preferably the tokens would be changed every request but at the bare minimum they should be tied to an authenticated session so after a logout/session expiration they are no longer valid.

Just a note in case it comes up as a

[2015-09-22 16:07] tedstirm opened #14361 "Vagrant can't download virtualbox image"
I was going through the getting started guide and tried to bring up kubernetes using vagrant. However, it can't seem to find the vagrant images.

http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html

$ ./cluster/kube-up.sh
Starting cluster using provider: vagrant
... calling verify-prereqs
... calling kube-up
Using credentials: vagrant:vagrant
Bringing machine 'master' up with 'virtu

[2015-09-22 16:10] #14361 closed

[2015-09-22 16:11] tedstirm commented on #14361
I can download image from link, so issue must be on my end.

[2015-09-22 16:11] smarterclayton commented on #10351
The three laws of CSRF:

1. You can't win
2. You can't break even
3. You can't quit

The only winning move is not to play.

On Tue, Sep 22, 2015 at 12:05 PM, Matt Johansen <notifications@github.com>
wrote:

[2015-09-22 16:15] mattjay commented on #2799
This is more important now as Apple just upped its TLS game with iOS 9's new ATS requirements.
https://developer.apple.com/library/prerelease/ios/technotes/App-Transport-Security-Technote/

[code]

[2015-09-22 16:24] mattjay opened #14362 "Two Factor Authentication"
I'd like a way to implement a 2nd factor of authentication into the kubectl workflow as it is a very powerful tool.

My idea would be to support an integration with Duo Mobile (https://www.duosecurity.com/) in order to have a push notification or tie to a YubiKey to the account for when somebody wants to use kubectl to jump into a container or perform some administrative tasks.

[2015-09-22 16:24] bodgit commented on #13125
@jsafrane I based the change on http://blog.golang.org/go-maps-in-action#TOC_7 which states:

@gizmonicus The trying of other endpoints is something else I fixed at the same time as I noticed the same behaviour when I was testing with one GlusterFS node down. I think it was something to do with the endpoints API changing. See the comments in #13807 near the end when I discovered it.

[2015-09-22 16:32] robszumski commented on #14205
I'll start working on a PR for 1. This should fix everything in #9178 #14032 other than the AWS issues, which I believe are being worked on separately.

[2015-09-22 16:33] timothysc commented on #11962
@wojtek-t fwiw there are a series of follow on-s around this.  In part b/c I'm not a fan of some of the abstractions in the code, and I believe we should try to push all dependencies behind the storage interface.

In general, I think pImpl/envelop-letter idioms need to be applied more thoroughly in the code to prevent dependency sprawl.

[2015-09-22 16:35] timothysc commented on #14273
For completeness:

We see a similar issue on test cleanup timing out.
http://fpaste.org/270182/44293929/

[2015-09-22 16:38] dchen1107 commented on #14357
The issue reported here is not a real bug. Kubelet pulls the image, then start create container without checking if the image is present or not. Container creation is failed due to NoImage error, and return earlier. Next syncloop, Kubelet will reconcile the state again. Eventually, the image puller is done, container is created and run.

[2015-09-22 16:43] dchen1107 commented on #14234
cc/ @yifan-gu

[2015-09-22 16:45] vishh commented on #14244
@pmorie: +1 for refactoring.

[2015-09-22 16:54] smarterclayton commented on #14321
ClientCache is filling some of this role today - it should be possible to initialize this meta-client via what we call "discovery" or via direct calls to populate it, and then ClientForMapping in kubectl should become a thin wrapper, as well as the Client() call being another thin wrapper.

[2015-09-22 16:59] bprashanth commented on #14284
https://app.shippable.com/builds/5601782585b6590c00f9a53f

[2015-09-22 17:00] Symmetric opened #14363 "vspere cloud provider fails if multiple ESX networks are present"
When attempting to create a Kubernetes cluster using KUBERNETES_PROVIDER=vsphere, I get the following error:

[code]

Following the thread a bit, this is because the instructions don't mention that you need to set the `GOVC_NETWORK` flag if your vcenter manages multiple networks (similarly, it omits the GOVC_DATACENTER flag which was also necessary in my case to upload the kube.vmdk file).

Settin

[2015-09-22 17:01] lavalamp commented on #14280
409 conflicts need to be explicitly retried by a higher level, the client can't automagically deal with that.

I don't think there's harm in retrying on a network-level error.

[2015-09-22 17:03] vishh commented on #13627
@dalanlan: Since you have already identified specific issues, can you file separate issue for them? one more thing to consider is that the node team at google does not test kubelet with SE Linux at all. So any context you provide on that front will be useful.

[2015-09-22 17:14] mikedanese commented on #7660
Initial implementation in #14325

[2015-09-22 17:16] mikedanese commented on #14188
To me this name means the order that task pods completed.

[2015-09-22 17:23] bgrant0607 commented on #14050
Thanks.

[2015-09-22 17:28] spothanis commented on #13565
@saad-ali Sorry for the delay, I tested the cinder and instance operations after the update, however I was not able to test LB side of things, cause our internal OpenStack deployment and the way we use it with Kube is significantly different from generic implementations.

[2015-09-22 17:31] Symmetric opened #14366 "vsphere cloud provider fails with error message 'ServerFaultCode: The guest authentication being used does not have sufficient permissions to perform the operation.`"
Using the vsphere provider to provision a cluster, and following the [guide](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/vsphere.md), I get the following error:
[code]

Poking around a bit, the command works if I run `govc guest.mkdir -l kube:kube -vm=kubernetes-master -p /home/kube/.ssh` (note the `-l kube:kube` added, since the kube.vmdk linked in the guide h

[2015-09-22 17:32] #14313 closed

[2015-09-22 17:33] jfoy opened #14367 "Error re-launching pod after bouncing Docker daemon"
Kubernetes 1.0.1, Docker 1.7.1, CoreOS 766.3.0, Openstack Kilo

We bounced docker across all of our Kubernetes clusters to apply a configuration change (--log-opt=max-size=1g). The clusters started in a healthy state. Two of the three clusters came up cleanly, but the DNS pod repeatedly failed to start on the third. All other pods on this cluster started cleanly. The problem persisted even after w

[2015-09-22 17:39] Symmetric opened #14368 "vsphere provider 'kube-down.sh' deletes .vmdk"
When using the vsphere provider, and following the [guide](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/vsphere.md), if I run `cluster/kube-down.sh`, then `cluster/kube-up.sh`, I get the following error:

[code]

I then have to re-run the step from the guide `govc import.vmdk kube.vmdk ./kube/` to get things working again.

I expect to be able to run `kube-down`

[2015-09-22 17:41] liggitt commented on #14280
Depends on the operation... read operations could be retried, idempotent write ones might be able to be

[2015-09-22 17:42] lavalamp commented on #14280
Yes, all of our writes should be idempotent, and thus definitionally safe
to retry/reexecute.

On Tue, Sep 22, 2015 at 10:41 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-09-22 17:54] bgrant0607 opened #14370 "Document how to write good tests"
* Unit tests (table driven, etc.)
* Integration tests (including dealing with issues like multiple tests running concurrently)
* e2e tests

We have a few testing conventions here:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/coding-conventions.md

We want more tests, but not flaky tests.

cc @quinton-hoole @saad-ali @thockin @lavalamp

[2015-09-22 18:20] jayunit100 opened #14371 "Build a Endpoints / modification E2E test."
I've been hacking around with the `master.go` implementation in #13978 ,  and stumbled on the fact that I think we don't have an E2E test which modifies a service endpoint IP address.

If we can create such a test, i.e., one which runs this in an e2e fashion, continually modifying services and confirming that they continue to stay functional.  We will be putting a good regression of the api behavi

[2015-09-22 18:23] dchen1107 commented on #14367
@jfoy This is a crazy issue from docker. We did investigation last time for 1.0 release, and at the end, we concluded there is nothing related to the order of docker daemon and kubelet. There were some misleading message in #9822 because back then, we do have some other issues caused by the ordering of docker daemon and kubelet on master node. Instead, the root issue of #9822 is somehow related to

[2015-09-22 18:27] smarterclayton commented on #14107
This is blocked by the go-etcd client - all we can do is disable race detection on integration.

[2015-09-22 18:38] erictune commented on #14368
@pietern

[2015-09-22 18:40] erictune commented on #14366
@pietern

[2015-09-22 18:41] erictune commented on #14363
@pietern

[2015-09-22 18:44] erictune commented on #14355
@jayunit100 how would the test learn what credentials to use and what URL to reach the master on?

[2015-09-22 18:49] Symmetric commented on #13459
I see your point regarding API clarity. I'd note, though, that in the linked PR these fields are marked 'experimental', to attempt to get something in users' hands before trying to build the final policy API.

As an endgame, I tend to agree that it would be clearer to put all policy in a 'policy' attribute, rather than having both 'policy' and 'type=NamespaceIP', since 'Policy' can describe a supe

[2015-09-22 18:59] cjcullen commented on #11235
This was fixed by #11250

[2015-09-22 19:00] cjcullen commented on #11235
This was fixed by #11250

[2015-09-22 19:00] #11235 closed

[2015-09-22 19:01] liggitt commented on #10351
Sending the token as an Authorization Bearer token is ok, it just can't be something the browser sends automatically along with any request to the domain (e.g. basic auth header, client cert, cookie, etc)

[2015-09-22 19:06] erictune commented on #14352
I can't repro this.  Works in my build from today.

Finding cloud provider and reading the config file are intertwined, so I thought maybe this error is a cryptic way of saying that it doesn't like your cloud-config, or some other error happened when connecting to the cloud provider.  However, I spent 10 minutes tracing the code paths to see if that could happen and could not find a way.

[2015-09-22 19:08] erictune commented on #14352
Can you report what error you get if you change the flag to ` --cloud-config=/etc/kubernetes/cloud_config`

I see `could not init cloud provider "openstack": Get /: unsupported protocol scheme ""`

[2015-09-22 19:13] erictune commented on #14349
@kubernetes/rh-cluster-infra

[2015-09-22 19:14] erictune commented on #14349
@rootfs

[2015-09-22 19:15] pmorie commented on #14349
@chao007 could you send the output of:

`sudo ausearch -m AVC -ts recent`

?

[2015-09-22 19:18] smarterclayton commented on #13459
I didn't have a concrete use case for a namespace scoped IP, but
naming-wise I think it could be construed ambiguously.

Regarding fields that only apply to certain types, technically we have
those already with loadBalancerIP.  I lean slightly towards introducing a
simple policy object with one field than adding a type because it's easier
for older clients to ignore a field they don't understand v

[2015-09-22 19:20] erictune commented on #14346
You are looking at docs for HEAD.  They are correct for code built at HEAD.

If you are using a released binary, v1.0.x, then you should read the docs here:
http://kubernetes.io/v1.0/docs/user-guide/walkthrough/README.html
which say:
`curl http://$(kubectl get pod nginx -o=template -t={{.status.podIP}})`, which should work with a v1.0 kubectl.

[2015-09-22 19:20] #14346 closed

[2015-09-22 19:48] rootfs commented on #12746
I believe chcon should work, my rbd volume is already labeled `system_u:object_r:svirt_sandbox_file_t:s0`, that is what @swagiaal suggested. I am able to read and create files on rbd volume inside container.

@bliss can you get the output of `mount |grep rbd|awk '{printf "%s/../\n", $3}' |xargs ls -Zd` on your k8s node, after you create pod with rbd volume?

[2015-09-22 19:51] yifan-gu commented on #14234
@fd Do you have any idea where does this nil-interface come from? Nothing seems wrong in [go-dockerclient](https://github.com/fsouza/go-dockerclient/blob/master/image.go#L184) I am confused.

[2015-09-22 19:56] mikedanese commented on #14140
How is this different than standalone? Why not publish "NodeStandalone" mode as a condition and enforce it in the kubelet admission?

[2015-09-22 20:02] mansoorj opened #14376 "Kubernetes.io website has insufficient visual indication that there's content if the user scrolls down"
I myself didn't know for the longest time that there's more content below the fold, and I can bet you many other users would completely miss most of the content on the main page as well.

I've seen other websites with a similar design (e.g. Google Drive) have a conspicuous down-arrow. Alternately have some of the content that's down below peak a little above the fold. There should be some indicati

[2015-09-22 20:32] mvdan opened #14378 "_output/ partially owned by root"
After running `build/release.sh`, the `_output/` directory is partially owned by root:

[code]

None of the scripts in `build/` seem to use `sudo` for any involved commands, so I'm not sure what could be causing this. Perhaps the resulting binaries obtained from the build in the Go 1.4 container are just copied over, and the container runs the build as root?

For what it's worth, the regular user

[2015-09-22 20:36] #14309 closed

[2015-09-22 20:43] caesarxuchao commented on #14102
`kubectl replace` expects the user to submit a full spec of the resource,
`kubectl patch` expects the user to sbumit the diff,
you may also try the `kubectl edit` in the HEAD (https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl_edit.md)

[2015-09-22 21:33] dchen1107 commented on #14140
I wished we never have such mode called standalone ...

Ok, today's standalone is for running kubelet without API server, and currently the only use case is ContainerVM instances. Those Kubelets are not part of any cluster.

[2015-09-22 21:41] mmarcant opened #14380 "AWS Cluster Creation Fails when checking if API is reachable (1.0.6)"
When trying to spin up a new cluster on AWS with these variables:
[code]
and running this command:
[code]
 I keep running into this error:
[code]

This was working for me quite well over the past week, but I starting running into this today.
Any suggestions?

[2015-09-22 21:42] yujuhong commented on #14273
Disclaimer: I haven't looked into the failures yet.

My past experience with the pod startup latency is that as the #pods increases, the apiserver QPS limit becomes the major bottleneck since we started triggering pod worker independently (#13003). The pods would be ready long before kubelet can send out status updates. Any change that would increase #requests kubelet sends to the apiserver may in

[2015-09-22 21:51] lavalamp commented on #14273
I will look through the logs of a recent run and see if anything stands out.

[2015-09-22 21:57] lavalamp opened #14382 "Investigate Jenkins log file upload"
This run appears to have uploaded only about 1/3rd of the available logs. http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-scalability/2511/gcsObjects/

I checked another run and it was fine, so I'll do my debugging on that one. But we should figure out what happened to this run.

[2015-09-22 22:02] dchen1107 commented on #13997
@justinsb I don't think there is memory issue on the node, instead, we are hitting NOFILE limit for kubelet process. I have a pending pr https://github.com/kubernetes/kubernetes/pull/14381 to resolve the issue.

[2015-09-22 22:12] lavalamp commented on #14273
Scheduler log has a lot of lines like:

[code]

Which is troubling-- are we scheduling stuff in some biased manner? Existing pods on a node shouldn't have resource sums higher than the capacity?

[2015-09-22 22:19] lavalamp opened #14384 "apiserver: too old resource version error reported with wrong type"
[code]

[2015-09-22 22:20] lavalamp commented on #14273
Filed #14384 - currently don't think it's the root cause.

[2015-09-22 22:36] erictune opened #14385 "Default Job Parallelism from Completions"
Currently a job's `.spec.parallelism` defaults to 2.  @bgrant0607 suggested defaulting `.spec.parallelism` to `.spec.completions`.  This will allow users to leave it unspecified in most cases, and it will do something intuitive. (Maybe this was how it was in @soltysh original PR, can't recall if it was that or 1).

The current default of 2 I liked because it encourages users to think about making

[2015-09-22 22:37] erictune commented on #14385
@soltysh @erictune or @mikedanese might do this, whoever gets to it first.

[2015-09-22 22:43] erictune commented on #703
I don't think we need to go this far anymore.  Closing

[2015-09-22 22:43] #703 closed

[2015-09-22 22:46] lavalamp commented on #14273
BTW, I'm examining logs from http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-scalability/2507/

The specific failure is `gave up waiting for pod 'density-latency-pod-13a751c5-6114-11e5-9c0e-42010af01555-4' to be 'running' after 5m0s`

That pod is on node `e2e-scalability-minion-rrnh`. Here's some logs in the midst of the problematic behavior.

[code]

Note that the stack trace and the e

[2015-09-22 22:49] lavalamp opened #14386 "Integration test: watches scale to 100's-1000's of watchers without dropping"
Branched from #14273.

I'm examining logs from http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-scalability/2507/

The specific failure is `gave up waiting for pod 'density-latency-pod-13a751c5-6114-11e5-9c0e-42010af01555-4' to be 'running' after 5m0s`

That pod is on node `e2e-scalability-minion-rrnh`. Here's some logs in the midst of the problematic behavior.

[code]

Note that the sta

[2015-09-22 22:50] lavalamp commented on #14386
(And the idea is that in the process of writing this test we would find and fix this bug.)

[2015-09-22 22:55] markt-gh commented on #14340
This is a feature, not a bug.

A PVC can request just RWX but it will get RWO+ROX because NFS, for
example, has all of them.

The user can expect the *minimum* to be what was requested (size & access
modes) but they may get more. This is by design.

On Tuesday, September 22, 2015, Marek Grabowski <notifications@github.com>
wrote:

[2015-09-22 23:05] dchen1107 commented on #13627
@fgrzadkowski I am re-assigning this one to you since you are working on containerized kubelet at this moment. Thanks!

[2015-09-22 23:13] AnanyaKumar commented on #14313
@erictune Thanks! I looked a bit into it, but couldn't figure out the issue - I'm not too familiar with experimental.

[2015-09-22 23:14] AnanyaKumar commented on #14344
Thanks @mikedanese !

[2015-09-22 23:24] ichekrygin opened #14388 "kube-controller-manager is stuck on creating external loadbalancer"
k8s build: 1.0.5
platform: aws-ec2
specifics: provisioning kubernetes cluster onto existing VPC

* create service

steps: create service with external loadbalancer option
expected: ec2 elb is create
actual: ec2 elb is not create and kube-controller is looping (as it appears infinitely) and reports:

[code]

* delete service

steps: delete service (created above)
expected: service removed and kube-

[2015-09-22 23:26] yujuhong commented on #14273
It's probably caused by #12894. kubelet only sends pod status update when there is any change (status diff). #12894 added a new field "LastProbeTime", which changes whenever kubelet generates a status. This could cause significantly more status updates being sent to the apiserver.

e.g., pod status update for a single pod over the period of the time. You can see that the status was updated ~10 to

[2015-09-22 23:33] ichekrygin opened #14389 "kube-ui does not show components form namespaces other than "default""
It appears that kube-ui supports only 'default' namespace.
Any pod,rc,service created in namespaces other than 'default' are not shown/accessible via kube-ui.

[2015-09-22 23:35] bgrant0607 commented on #14327
Thanks. Yesterday was our 1.1 feature-complete deadline and we're now focused on fixing tests and otherwise stabilizing the release, so it may be a few days before we can take a look.

[2015-09-22 23:36] lavalamp commented on #14273
@yujuhong that makes a bunch of sense. This is a good candidate for a root cause.

[2015-09-22 23:48] dchen1107 commented on #13385
@lavalamp We can detect out-of-FDs and mark the node is not ready.

@vishh I don't think we can impose fd limits on containers today yet given the current implementation from docker. I will explain it in #3595.

[2015-09-22 23:52] lavalamp commented on #14273
IRL discussion: @yujuhong is going to make a PR to make kubelet stop setting lastProbeTime to get the tests green. We can figure out what to do about this (and whether to keep it in the API) in parallel.

@bgrant0607 @nikhiljindal - do you guys have objections to this plan?

[2015-09-23 00:02] lavalamp opened #14391 "kubelet: test steady-state pod status update rate"
It should do zero updates in steady-state!

Split off from #14273

[2015-09-23 00:03] lavalamp commented on #14273
Thanks for #14390, @yujuhong-- Since no good deed goes unpunished, I gave you #14391 to catch the general class of errors, since I think this has happened before.

[2015-09-23 00:23] lavalamp opened #14393 "Figure out what to do with lastProbeTime"
We're disabling it due to sending too many status updates (#14390).

We need to figure out if it should be in the API at all, and if so, how we can put useful information in it without sending the # of status updates through the roof.

[2015-09-23 00:27] bgrant0607 commented on #14339
Related: #3885

[2015-09-23 00:35] yujuhong commented on #14391
Lowered the priority, pending discussion of the pod status update frequency and more in #14393.

[2015-09-23 00:35] dchen1107 commented on #3595
Docker rlimit feature is process-based, not cgroup based (of course, upstream kernel doesn't have rlimit cgroup yet). This means
* The limit is applied to container's root process, and all children processes inherit it
* There is no control on how many children processes
* Processes for docker exec are not inheriting the same limit

Based on above, I don't think there is a very useful feature, or

[2015-09-23 00:36] ArtfulCoder opened #14394 "Kubernetes SkyDNS Load Test"
Opened issue to track SkyDNS performance under load.

I have a docker image artfulcoder/dnsperf:1.0 which has dnsperf installed along with dnsutils.
The dnsperf container also has a generic load file that can be used (/queryfile-example-current)
Created a 4-node cluster and created 4 pods with this image (one per node).

### Ran DNSPerf
`/dnsperf -s 10.0.0.10 -d /kube-svcs -l 3600 -c 1000 -Q 60000

[2015-09-23 00:36] ArtfulCoder commented on #14394
@thockin

[2015-09-23 00:44] lavalamp commented on #14386
Downgrading to P1 because this probably isn't the root cause of #14273

[2015-09-23 00:45] lavalamp commented on #14386
@wojtek-t maybe you can look at this when you get back from vacation in a few days?

[2015-09-23 01:00] emmanuel commented on #14389
Duplicate of https://github.com/kubernetes/kube-ui/issues/5

[2015-09-23 01:49] resouer commented on #14102
@caesarxuchao  thanks, I changed title to `kubectl replace should specify which filed is invalid`

[2015-09-23 02:05] fzu-huang opened #14396 "how does controller-manager select pods when we reduce replicas of a cluster?"
I have a cluster with 5 pods, but two of them were created failed because of incapacity,the others were running normally.
so I reduce the replicas of cluster from 5 to 3 ,   I hope  that the controller-manager will delete the two failed pods, but it didn't.(sometimes it will delete 1 or 2 of the failed pods. Maybe it select pods randomly???)

another question.

I run a cluster with 3 replicas:
[ro

[2015-09-23 02:11] bgrant0607 commented on #14393
Ideas to improve performance, most of which aren't specific to this field:
* We can rate limit uninteresting updates.
* Unlike desired state, status doesn't need to be 100% persistent. Like Events and Metrics, we should support high-throughput updates to status, such as by caching in memory with async. replication.
* Use PATCH rather than PUT to communicate deltas
* Binary encoding
* Bulk updates

[2015-09-23 03:12] mikedanese commented on #1518
I think this is done and we can close this now. Thanks @AnanyaKumar! Still todo (and discuss) is:

* handle daemonset podtemplate update
* integrate into nodecontroller

[2015-09-23 03:12] #1518 closed

[2015-09-23 04:06] thockin commented on #14388
@justinsb @a-robinson

On Tue, Sep 22, 2015 at 4:25 PM, Illya Chekrygin <notifications@github.com>
wrote:

[2015-09-23 04:07] roberthbailey commented on #12768
/cc @brendandburns since this affects both the build process and the local docker getting started guide.

[2015-09-23 04:14] roberthbailey commented on #11813
@mbabker - If this is working at head but not in the released versions of kubernetes for Vagrant (maybe try 1.0.6 now?) then it would be nice to identify what changed and cherry pick the fixes back into the release branch.

[2015-09-23 04:18] roberthbailey commented on #11549
@brendandburns Can you take a look at this issue and see if it is still relevant? The HA docs appear to have changed quite a bit since mid-July.

[2015-09-23 04:20] roberthbailey commented on #9925
/cc @ixdy @quinton-hoole since this issue is really about modifying the behavior of our e2e tests.

[2015-09-23 04:21] roberthbailey commented on #9733
@fahadpolash - I'm going to close this as obsolete since it's been idle for a few months. Please re-open if you are still having this issue so that we can help get to the bottom of it. Thanks!

[2015-09-23 04:21] #9733 closed

[2015-09-23 04:23] roberthbailey commented on #9199
Fixed by https://github.com/kubernetes/kubernetes/pull/12384