[2017-06-01 17:51] smarterclayton commented on #9953
Closing due to age, reopen if this is important.

[2017-06-01 17:51] #9953 closed

[2017-06-01 17:51] smarterclayton commented on #11307
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:51] #11307 closed

[2017-06-01 17:52] smarterclayton commented on #11446
Closing due to age, reopen if this is important.

[2017-06-01 17:52] #11446 closed

[2017-06-01 17:52] smarterclayton commented on #11476
Closing due to age, reopen if this is important.

[2017-06-01 17:52] #11476 closed

[2017-06-01 17:52] smarterclayton commented on #11567
Closing due to age, reopen if this is important.

[2017-06-01 17:52] #11567 closed

[2017-06-01 17:53] #45277 closed

[2017-06-01 17:54] smarterclayton commented on #11606
I think this has been improved enough to close the issue.  Please open more targeted issues as they come up.

[2017-06-01 17:54] #11606 closed

[2017-06-01 17:55] dashpole commented on #46789
/sig node

[2017-06-01 17:56] smarterclayton commented on #11907
Closing due to age, reopen if this is re-creatable.  (it probably is, this issue just has no activity)

[2017-06-01 17:56] #11907 closed

[2017-06-01 17:56] smarterclayton commented on #11933
Closing due to age, reopen if this is important.

[2017-06-01 17:56] #11933 closed

[2017-06-01 17:57] smarterclayton commented on #11965
Closing due to age.  We did something here, can be solved other ways, reopen if disagree.

[2017-06-01 17:57] #11965 closed

[2017-06-01 17:57] liggitt commented on #46788
it's important because we want kubectl to continue to prefer extensions networkpolicies, since that's what previous versions know how to pretty-print. should be addressed with the fix to #46322

[2017-06-01 17:58] smarterclayton commented on #12002
Including cluster lifecycle.

[2017-06-01 17:58] liggitt commented on #46322
The priority assigned to API services in https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/aggregator.go#L187 also loses relative group priority in discovery order. At least `apps` and `networking.k8s.io` are affected by this.

[2017-06-01 17:58] smarterclayton commented on #12272
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:58] #12272 closed

[2017-06-01 17:58] smarterclayton commented on #13495
Closing due to age, reopen if this is re-creatable.

[2017-06-01 17:58] #13495 closed

[2017-06-01 17:59] smarterclayton commented on #13579
Or our preferred option, which was to do nothing.  I don't see folks clamoring for this, and the impact is not severe.  Server should error if it's not empty.

[2017-06-01 17:59] #13579 closed

[2017-06-01 18:00] cblecker commented on #44232
I think this is still happening, so adding a comment to keep open.

[2017-06-01 18:00] smarterclayton commented on #13631
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:00] #13631 closed

[2017-06-01 18:00] smarterclayton commented on #13772
The move to external APIs will cover this.  Closing because it's already tracked there.

[2017-06-01 18:00] #13772 closed

[2017-06-01 18:00] smarterclayton commented on #13814
Closing due to age, reopen if this is important (we may have fixed this).

[2017-06-01 18:00] #13814 closed

[2017-06-01 18:01] smarterclayton commented on #13854
We have no plans to perform per field filtering, but now that we have alternate representations we could potentially do this.  Closing as it's not a short term thing, and pagination is more important.

[2017-06-01 18:01] #13854 closed

[2017-06-01 18:02] smarterclayton commented on #14089
Closing due to age, reopen if this is not covered by other issues.

[2017-06-01 18:02] #14089 closed

[2017-06-01 18:02] smarterclayton commented on #14102
Closing due to age, reopen if this is still re-creatable.

[2017-06-01 18:02] #14102 closed

[2017-06-01 18:03] smarterclayton commented on #14321
This was not high priority :)

Closing due to age, reopen if we have concrete steps here.

[2017-06-01 18:03] #14321 closed

[2017-06-01 18:03] smarterclayton commented on #14386
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:03] #14386 closed

[2017-06-01 18:03] sunilkumarmohanty opened #46790 "Running kubernetes on Intel Edison"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-01 18:03] enisoc commented on #23792
StatefulSet works for Vitess: https://github.com/youtube/vitess/tree/master/helm/vitess

[2017-06-01 18:03] #23792 closed

[2017-06-01 18:04] smarterclayton commented on #14541
David tackled some of this recently.  We are keeping constants local to the components that use them in general.

[2017-06-01 18:04] #14541 closed

[2017-06-01 18:04] smarterclayton commented on #14497
Closing due to no intent to fix.

[2017-06-01 18:04] #14497 closed

[2017-06-01 18:09] smarterclayton commented on #15266
This is incorrect :)  It needs to deal with things that have never been seen.

[2017-06-01 18:09] #15266 closed

[2017-06-01 18:09] smarterclayton commented on #15523
Closing due to age, reopen if this is important.

[2017-06-01 18:09] #15523 closed

[2017-06-01 18:10] MrHohn commented on #41817
Check the logs a bit and we did hit validation error in the second case:

In the first case: https://github.com/kubernetes/kubernetes/pull/41587#issue-208221299
[code]

In the second case: https://github.com/kubernetes/kubernetes/pull/38957#issuecomment-281175270:
[code]

Spoke with @mengqiy, got the answer that: For apply, validation will happen once on the client side with the compiled in types.

[2017-06-01 18:10] smarterclayton commented on #16310
Fixed now.

[2017-06-01 18:10] #16310 closed

[2017-06-01 18:10] smarterclayton commented on #16429
Closing due to age, reopen if the doc issue doesn't resolve.

[2017-06-01 18:10] #16429 closed

[2017-06-01 18:11] smarterclayton commented on #16500
Closing due to age, reopen if this is still needed.

[2017-06-01 18:11] #16500 closed

[2017-06-01 18:11] smarterclayton commented on #16560
Out of date.

[2017-06-01 18:11] #16560 closed

[2017-06-01 18:11] smarterclayton commented on #17468
This is done.

[2017-06-01 18:11] #17468 closed

[2017-06-01 18:12] smarterclayton commented on #16764
Implemented.

[2017-06-01 18:12] #16764 closed

[2017-06-01 18:12] smarterclayton commented on #16768
We did this.

[2017-06-01 18:12] #16768 closed

[2017-06-01 18:12] deads2k commented on #46788
I will address the discovery order problem before 1.7 ships.

[2017-06-01 18:13] smarterclayton commented on #17199
I thought this was implemented?

[2017-06-01 18:13] MrHohn commented on #41817
Labeling sig as bot asked. Free feel to re-label it.

/sig cluster-lifecycle

[2017-06-01 18:13] smarterclayton commented on #17120
Closing due to age, reopen if this is important.

[2017-06-01 18:13] #17120 closed

[2017-06-01 18:14] smarterclayton commented on #17218
I have it to control meta server API versioning.

[2017-06-01 18:14] #17218 closed

[2017-06-01 18:14] wongma7 commented on #46540
Implementation question: validation code would need to `Get` a PVC's StorageClass every time a PVC comes in. Is that even "allowed"? If not, would this validation be better implemented as some sort of admission plugin? The issue with that is then it must run *after* the existing `DefaultStorageClass` admission plugin. :/ Any thoughts on this?

I don't suppose there's any other example of validatio

[2017-06-01 18:15] smarterclayton commented on #17384
Done

[2017-06-01 18:15] #17384 closed

[2017-06-01 18:15] MrHohn commented on #34457
/sig cli

[2017-06-01 18:15] smarterclayton commented on #17412
Mostly done by the 1.6 refactors.

[2017-06-01 18:15] #17412 closed

[2017-06-01 18:16] MrHohn commented on #35991
/sig cli

[2017-06-01 18:16] smarterclayton commented on #17440
This is effectively done.

[2017-06-01 18:16] #17440 closed

[2017-06-01 18:17] smarterclayton commented on #18977
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:17] #18977 closed

[2017-06-01 18:17] smarterclayton commented on #18991
Ship has sailed.

[2017-06-01 18:17] #18991 closed

[2017-06-01 18:17] smarterclayton commented on #19018
Done in 1.6

[2017-06-01 18:17] #19018 closed

[2017-06-01 18:17] smarterclayton commented on #19084
Fixed.

[2017-06-01 18:17] #19084 closed

[2017-06-01 18:18] smarterclayton commented on #19085
Fixed.

[2017-06-01 18:18] #19085 closed

[2017-06-01 18:18] #19434 closed

[2017-06-01 18:18] smarterclayton commented on #19501
Ship: sailed.

[2017-06-01 18:18] #19501 closed

[2017-06-01 18:19] pravisankar commented on #46664
cc: @knobunc @dcbw @danwinship @rajatchopra

[2017-06-01 18:19] smarterclayton commented on #20193
Done.

[2017-06-01 18:19] #20193 closed

[2017-06-01 18:19] smarterclayton commented on #20443
We have other issues to track this.

[2017-06-01 18:19] #20443 closed

[2017-06-01 18:20] smarterclayton commented on #20530
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:20] #20530 closed

[2017-06-01 18:20] smarterclayton commented on #20549
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:20] #20549 closed

[2017-06-01 18:20] ianchakeres opened #46791 "Avoid copying tars from local machine to gce during kube-up if the same tars already exist"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?** : copy-to-staging

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request / Refactoring.

**Environment**:
- **Cloud provider or hardware configuration**: Google Cloud (gce)

**What happened**:

Whenever I execute cluster/kube-up.sh it copies my tar files to g

[2017-06-01 18:20] smarterclayton commented on #20572
We have UID as a precondition for DELETE, but not for GET.

[2017-06-01 18:21] smarterclayton commented on #20582
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:21] #20582 closed

[2017-06-01 18:21] ianchakeres commented on #46791
@pwittrock - PR coming...

[2017-06-01 18:21] dchen1107 commented on #46370
@justinsb @krzyzacy is going to help you looking into test-infra related issues. Thanks!

[2017-06-01 18:22] smarterclayton commented on #21402
Ugh, I agree.  I just hit this.  It's dumb.

[2017-06-01 18:22] #22093 closed

[2017-06-01 18:22] #22103 closed

[2017-06-01 18:22] smarterclayton commented on #22130
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:22] #22130 closed

[2017-06-01 18:23] smarterclayton commented on #22150
In practice this hasn't been an issue for controllers.

[2017-06-01 18:23] #22150 closed

[2017-06-01 18:23] smarterclayton commented on #22558
I think this is better now.  Might only be 100k.

[2017-06-01 18:23] #22558 closed

[2017-06-01 18:24] smarterclayton commented on #22988
RBAC has supplanted this.

[2017-06-01 18:24] #22988 closed

[2017-06-01 18:24] smarterclayton commented on #23034
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:24] #23034 closed

[2017-06-01 18:24] smarterclayton commented on #23036
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:24] #23036 closed

[2017-06-01 18:24] smarterclayton commented on #23172
Covered by other issues and proposals.

[2017-06-01 18:24] #23172 closed

[2017-06-01 18:25] smarterclayton commented on #23187
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:25] smarterclayton commented on #23242
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:25] #23242 closed

[2017-06-01 18:25] smarterclayton commented on #23284
Resolved.

[2017-06-01 18:25] #23284 closed

[2017-06-01 18:25] smarterclayton commented on #23297
We can't really break old clients, but agree mismatched UID should fail update.  Moving to 1.7 as a bug.

[2017-06-01 18:26] smarterclayton commented on #23363
We have other issues to cover this.

[2017-06-01 18:26] #23363 closed

[2017-06-01 18:26] smarterclayton commented on #23367
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:26] #23367 closed

[2017-06-01 18:27] smarterclayton commented on #23438
I think this was resolved.

[2017-06-01 18:27] #23438 closed

[2017-06-01 18:27] smarterclayton commented on #23458
Closing due to age, reopen if this is important.

[2017-06-01 18:27] #23458 closed

[2017-06-01 18:27] smarterclayton commented on #23475
Closing due to age, reopen if this is important.

[2017-06-01 18:27] #23475 closed

[2017-06-01 18:27] smarterclayton commented on #23522
We plan to nuke ugorji.

[2017-06-01 18:27] #23522 closed

[2017-06-01 18:27] smarterclayton commented on #23569
Fixed in 1.6

[2017-06-01 18:27] #23569 closed

[2017-06-01 18:28] smarterclayton commented on #24312
Update all is pretty good now.

[2017-06-01 18:28] #24312 closed

[2017-06-01 18:28] smarterclayton commented on #24381
Not that important.

[2017-06-01 18:28] #24381 closed

[2017-06-01 18:28] smarterclayton commented on #24433
Covered by owner refs.

[2017-06-01 18:28] #24433 closed

[2017-06-01 18:28] smarterclayton commented on #24441
CRD replaces TPR.

[2017-06-01 18:28] #24441 closed

[2017-06-01 18:29] smarterclayton commented on #24482
Closing, moving focus to #25126

[2017-06-01 18:29] #24482 closed

[2017-06-01 18:29] smarterclayton commented on #24610
Plan is to nuke ugorji.

[2017-06-01 18:29] #24610 closed

[2017-06-01 18:30] smarterclayton commented on #24967
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:30] #24967 closed

[2017-06-01 18:32] smarterclayton commented on #26763
I think this was fixed?

[2017-06-01 18:32] #26763 closed

[2017-06-01 18:32] smarterclayton commented on #27519
Closing due to age, reopen if this is important.

[2017-06-01 18:32] #27519 closed

[2017-06-01 18:33] smarterclayton commented on #27667
Closing, has fulfilled purpose.

[2017-06-01 18:33] #27667 closed

[2017-06-01 18:33] smarterclayton commented on #28218
This was fixed.

[2017-06-01 18:33] #28218 closed

[2017-06-01 18:33] smarterclayton commented on #28280
Closing.

[2017-06-01 18:33] #28280 closed

[2017-06-01 18:34] smarterclayton commented on #28577
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:34] #28577 closed

[2017-06-01 18:34] smarterclayton commented on #28582
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:34] #28582 closed

[2017-06-01 18:35] smarterclayton commented on #28598
Closing due to age and general lack of interest.  Proposals and serious plans welcome!

[2017-06-01 18:35] #28598 closed

[2017-06-01 18:35] smarterclayton commented on #28888
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:35] #28888 closed

[2017-06-01 18:35] smarterclayton commented on #29472
Is almost merged!

[2017-06-01 18:35] #29472 closed

[2017-06-01 18:36] smarterclayton commented on #29578
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:36] #29578 closed

[2017-06-01 18:36] smarterclayton commented on #30158
Is this still an issue?  We should look for 1.7

[2017-06-01 18:37] #30220 closed

[2017-06-01 18:38] smarterclayton commented on #31012
Resolved now.

[2017-06-01 18:38] #31012 closed

[2017-06-01 18:38] smarterclayton commented on #31124
This has been resolved.

[2017-06-01 18:38] #31124 closed

[2017-06-01 18:38] smarterclayton commented on #31304
Closing due to age, reopen if this needs discussion.

[2017-06-01 18:38] #31304 closed

[2017-06-01 18:39] smarterclayton commented on #31440
Nothing actionable right now.

[2017-06-01 18:39] #31440 closed

[2017-06-01 18:39] smarterclayton commented on #31737
I don't even think this is possible.

[2017-06-01 18:40] caesarxuchao opened #46793 "ci-kubernetes-cross-build has been failing since May. 31 afternoon"
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-cross-build?

[code]

[2017-06-01 18:40] smarterclayton commented on #31914
Closing due to age, reopen if this is re-creatable.

Pretty sure this is fixed.

[2017-06-01 18:40] #31914 closed

[2017-06-01 18:41] smarterclayton commented on #31924
Smart objects will happen at some point.  Just not breaking the bank today.  Moving to sig-scalability.

[2017-06-01 18:41] smarterclayton commented on #32226
Was this not resolved?

[2017-06-01 18:41] #32226 closed

[2017-06-01 18:41] reza-ebrahimi commented on #42040
@Random-Liu No, I think my problem is docker images context that is located inside VM not the host system.

Thanks...

[2017-06-01 18:41] smarterclayton commented on #32288
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:41] #32288 closed

[2017-06-01 18:42] smarterclayton commented on #32411
Fixed.

[2017-06-01 18:42] #32411 closed

[2017-06-01 18:42] smarterclayton commented on #33360
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:42] #33360 closed

[2017-06-01 18:42] mengqiy commented on #41817
To clarify it.
In 1.7 and earlier verion, Kubectl does validation using swagger schema which is returned by the server.
But `apply` need some metadata (mergeKey and patchStrategy) that swagger doesn't provide, so it lookup in baked-in types. This will cause the version skew issue sometimes.
We plan to move to use OpenAPI in 1.8. With OpenAPI, kubectl no longer relies on baked-in types.

[2017-06-01 18:43] smarterclayton commented on #33648
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:44] smarterclayton commented on #33748
Closing due to age, reopen if you have a chance to look at it.

[2017-06-01 18:44] #33748 closed

[2017-06-01 18:44] smarterclayton commented on #33825
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:44] #33825 closed

[2017-06-01 18:45] smarterclayton commented on #33969
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:45] #33969 closed

[2017-06-01 18:45] smarterclayton commented on #34219
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:45] #34219 closed

[2017-06-01 18:46] smarterclayton commented on #34232
Fixed with Go 1.7

[2017-06-01 18:46] #34232 closed

[2017-06-01 18:46] smarterclayton commented on #34265
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:46] #34265 closed

[2017-06-01 18:46] smarterclayton commented on #34702
Kube is now built with 1.8.

[2017-06-01 18:46] #34702 closed

[2017-06-01 18:47] smarterclayton commented on #34916
Please reopen as a PR - this got lost in the shuffle.

[2017-06-01 18:47] #34916 closed

[2017-06-01 18:47] smarterclayton commented on #34924
Moving to sig scheduling.

[2017-06-01 18:48] smarterclayton commented on #34930
Fixed.

[2017-06-01 18:48] #34930 closed

[2017-06-01 18:48] madhusudancs commented on #46690
This issue is due to https://github.com/kubernetes/kubernetes/issues/46380.

[2017-06-01 18:48] #34936 closed

[2017-06-01 18:48] #34953 closed

[2017-06-01 18:49] smarterclayton commented on #35229
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:49] #35229 closed

[2017-06-01 18:49] madhusudancs commented on #46690
@dchen1107 this happens once in 200 times or something. It is due to the issue linked above. I don't think it is that critical or urgent to remove the suite from the submit queue.

[2017-06-01 18:49] smarterclayton commented on #35391
Closing due to age, reopen if this is re-creatable.

[2017-06-01 18:51] smarterclayton commented on #36091
I think in practice this is something that is going to have to be done on your end.

[2017-06-01 18:51] #36091 closed

[2017-06-01 18:51] smarterclayton commented on #36104
Closing.

[2017-06-01 18:51] #36104 closed

[2017-06-01 18:52] #17448 closed

[2017-06-01 18:52] smarterclayton commented on #36998
Handled by CRD

[2017-06-01 18:52] #36998 closed

[2017-06-01 18:55] carsonoid commented on #33805
/sig AWS

[2017-06-01 18:56] carsonoid commented on #33805
@kubernetes/sig-aws-misc

[2017-06-01 18:59] kewu1992 opened #46794 "Soak test is failing due to 'kubectl version'"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-01 19:05] #41047 closed

[2017-06-01 19:14] smarterclayton commented on #46540
It isn't.  The dynamic provisioner should write status to an invalid
pvc.  Not at pvc create time.

[2017-06-01 19:21] cjwagner commented on #46740
/assign @rkouj

[2017-06-01 19:25] wirehead commented on #45419
I am experiencing something like this issue with this config...

Kubernetes version (use kubectl version): 1.6.4

Environment:
    Cloud provider or hardware configuration: single System76 server
    OS (e.g. from /etc/os-release): Ubuntu 16.04.2 LTS
    Kernel (e.g. uname -a): Linux system76-server 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
    Ins

[2017-06-01 19:38] caesarxuchao commented on #46793
These are the violations, it overflows on arm
[code]
[code]

[2017-06-01 19:39] caesarxuchao commented on #46793
Introduced in https://github.com/kubernetes/kubernetes/pull/46640.

[2017-06-01 19:40] mikkeloscar commented on #46355
So it turns out we were still running the old [daemonupgrader](https://github.com/Mirantis/k8s-daemonupgradecontroller) in some clusters which was conflicting with the core daemon controller. After deleting the daemonupgrader and restarting the old daemonset pods it's no longer happening.

[2017-06-01 19:40] #46355 closed

[2017-06-01 19:41] yujuhong commented on #46692
Deleting kubelet-managed containers is not encouraged because kubelet (still) relies on the information provided by them. Why do you want to remove them manually?

[2017-06-01 19:43] caesarxuchao commented on #46793
Probably this is the reason:
InclusiveRange takes int as input parameter, i thought passing math.MaxUint32 would overflow. But it seems only the cross build arm compiler catches it.

[2017-06-01 19:45] #9207 closed

[2017-06-01 19:59] bowei commented on #44609
It seems reasonable (ready nodes), but how does that help with the pathological case of all kube-dns pods being placed on a single node and crowding out another critical pod?

[2017-06-01 20:00] mryan43 commented on #46692
My cluster is used mostly for CI, that means Jenkins masters and fungible slaves.

I'm sharing the docker hosts with my cluster users (not secure at all I know... but it's just too practical to let CI builds use docker that way...)

So I have a nightly cleanup script that deletes all containers on my docker hosts to cleanup any eventual container leaked by build jobs. This also helps us reduce the

[2017-06-01 20:12] bowei commented on #46776
Can you update the issue title to "Failed pods with restart policy=Never should not be in the Endpoints.NotReadyAddresses"

[2017-06-01 20:23] dchen1107 opened #46797 "pr:pull-kubernetes-node-e2e becomes flaky recently"
From https://storage.googleapis.com/k8s-metrics/flakes-latest.json, pull-kubernetes-node-e2e failed more often than before, especially Summary API tests:

  "pr:pull-kubernetes-node-e2e": {
    "consistency": 0.972,
    "flakes": 35,
    "flakiest": {
      "[k8s.io] Summary API when querying /stats/summary should report resource usage through the stats api": 26,
      "[k8s.io] Security Context w

[2017-06-01 20:23] dcbw commented on #46651
@freehan fun, looking into this...

[2017-06-01 20:28] #25868 closed

[2017-06-01 20:32] cmluciano commented on #28526
/assign

[2017-06-01 20:32] cmluciano commented on #28526
/close

please open on the [kube-on-mesos repo](https://github.com/kubernetes-incubator/kube-mesos-framework)

[2017-06-01 20:32] #28526 closed

[2017-06-01 20:36] roberthbailey commented on #12002
It isn't difficult for the cluster lifecycle tooling to set limits on the apiserver and etcd pods if we know what those limits should be. Defining the limits should be done by the api-machinery team as they own those components.

[2017-06-01 20:46] janetkuo commented on #46690
@madhusudancs All (~15) recent builds failed https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-federation-e2e-gce

[2017-06-01 20:48] cmluciano commented on #6828
/assign

[2017-06-01 20:48] shyamjvs commented on #44701
With the above PR object size of pod should be almost same in both cases. For node object, we still see ~2kB size difference (real node - 5.5kB, hollow node - 3.5kB). Here's a breakup of the difference:
- 330B due to KernelDeadlock node condition which kubemark's npd doesn't post. Will send out a PR to change this.
- 330B due to NetworkUnavailable node condition created by routecontroller, which i

[2017-06-01 20:48] cmluciano commented on #6828
/close please reopen on [kube-on-mesos](https://github.com/kubernetes-incubator/kube-mesos-framework)

[2017-06-01 20:50] cmluciano commented on #43549
/assign /close

many of these seem related to Mesos failures. I think we can close this.

[2017-06-01 20:52] #6828 closed

[2017-06-01 20:52] #43549 closed

[2017-06-01 20:53] cmluciano commented on #43283
latest failure seems to be related to a fixed issue, closing

[2017-06-01 20:53] cmluciano commented on #43283
/assign

[2017-06-01 20:53] cmluciano commented on #43283
/close

[2017-06-01 20:53] #43283 closed

[2017-06-01 20:53] cmluciano commented on #42816
/assign

[2017-06-01 20:54] cmluciano commented on #42816
/close

closing since issue has not be active for a long time

[2017-06-01 20:55] cmluciano commented on #42670
Is this still an issue?

[2017-06-01 20:55] cmluciano commented on #41235
Is this still an issue?

[2017-06-01 20:58] sttts commented on #46702
Renaming PR is here: https://github.com/kubernetes/kubernetes/pull/46775

This will be rebased when the other apiextensions-apiserver PRs are merged.

[2017-06-01 20:58] carsonoid commented on #33805
This issue can actually be closed since the inclusion of the `--controllers` option which allows me to disable the `route` controller and leave the rest on. Related Commit: https://github.com/kubernetes/kubernetes/commit/d9b75ed82bf5b80716d9d1c4682a725b165314b3

[2017-06-01 20:58] #33805 closed

[2017-06-01 21:01] cmluciano commented on #34600
/assign

[2017-06-01 21:01] cmluciano commented on #34600
/close

closing since issue has not be active for a long time

[2017-06-01 21:01] #34600 closed

[2017-06-01 21:02] cmluciano commented on #34924
@k82cn Do you still need this?

[2017-06-01 21:02] cmluciano commented on #34924
/assign

[2017-06-01 21:03] cmluciano commented on #34978
/assign

[2017-06-01 21:03] cmluciano commented on #34978
/close

closing since issue has not be active for a long time

[2017-06-01 21:03] #34978 closed

[2017-06-01 21:08] pmichali commented on #43340
/assign @justinsb

[2017-06-01 21:08] madhusudancs commented on #46690
@janetkuo recent test-infra issue. Fixed in https://github.com/kubernetes/test-infra/pull/2932

[2017-06-01 21:09] cmluciano commented on #37970
@caseydavenport I took a look at a few of these linked issues and many were closed related to UDP

[2017-06-01 21:10] kewu1992 commented on #46794
@kubernetes/sig-testing-misc

[2017-06-01 21:10] cmluciano commented on #36858
/assign

Is this still an issue?

[2017-06-01 21:10] madhusudancs commented on #46690
Oops. Fix is in https://github.com/kubernetes/test-infra/pull/2931.

[2017-06-01 21:22] dcbw commented on #44307
https://github.com/kubernetes/kubernetes/pull/43879 got reverted, so this issue will be a problem again.

[2017-06-01 21:23] dcbw commented on #42735
https://github.com/kubernetes/kubernetes/pull/43879 may help this, though it has been reverted and needs some fixups.

[2017-06-01 21:23] thockin commented on #45126
@cmluciano

[2017-06-01 21:28] gnufied commented on #39642
@madhusudancs lets close this issue for now. I will reopen this, when I retry federation pieces in awhile.

What sounds like is - the kube-proxy was not routing the request to correct node . I don't know why that would happen. I started this environment via "./cluster/kube-up.sh` .

[2017-06-01 21:34] janetkuo commented on #33245
@zhan849 the hang you observed is because somehow all controller pod cache stores failed to sync (i.e. unrelated to DaemonSet controller or kubectl delete). @caesarxuchao @deads2k any idea why this would happen?

[2017-06-01 21:37] thockin commented on #37414
@mspreitzer

[2017-06-01 21:40] thockin commented on #34625
needs repro

@prateek

[2017-06-01 21:41] thockin commented on #32796
Any progress here?

[2017-06-01 21:41] bowei commented on #31813
/assign @tgraf

[2017-06-01 21:42] dcbw commented on #34625
Hmm, might be fixed already?  Should repro anyway.

[code]

[2017-06-01 21:44] mml commented on #27744
#46047 will handle flags for everything that uses `k8s.io/apiserver/pkg/util/flag`.

[2017-06-01 21:51] cmluciano commented on #28610
/sig network

[2017-06-01 21:52] cmluciano commented on #37386
/sig network

[2017-06-01 21:53] cmluciano commented on #37518
/sig network

[2017-06-01 21:53] cmluciano commented on #37518
Is this still an issue?

[2017-06-01 21:54] cmluciano commented on #37614
/assign

/close

closing since issue has not be active for a long time

[2017-06-01 22:08] dcbw commented on #46651
@freehan so, the log messages from https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305077524 will only be printed *before* #43879 was merged.  So for that reason,  this flake occurred before, at least if we think @MrHohn problem is the same.

[2017-06-01 22:12] ravigadde commented on #41235
Yes, #44883 is in final stages of approval. I can close this issue one #44883 is merged.

[2017-06-01 22:13] curtisallen opened #46806 "[OIDC] Email Verified"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

**Kubernetes version** (use `kubectl version`): 1.6.2

The API server will reject OIDC tokens with a claim `email_verf

[2017-06-01 22:16] curtisallen commented on #46806
cc: @kubernetes/sig-auth-pr-reviews

[2017-06-01 22:20] aronchick commented on #17150
@kubernetes/sig-docs-maintainers

[2017-06-01 22:25] MrHohn commented on #46651
Just checked, that's true. I reproduced the issue with commit e0a6cde6f43e5c628395f8f9b5589c5d6298ec8e, #43879 is not included.

[2017-06-01 22:28] smarterclayton commented on #12002
The limits are proportional to workload and sig scalability owns that determination (and has been publishing it).

[2017-06-01 22:28] caesarxuchao commented on #46651
Does it mean reverting #43879 is not going to fix the issue? Do we need to wait for another fix?

[2017-06-01 22:40] ericchiang commented on #46806
I'm against this. Can you elaborate on why this would ever be something you'd want to enable? Does Okta never return email_verified = true?

[2017-06-01 22:45] saad-ali commented on #45143
Nope see comment [above](https://github.com/kubernetes/kubernetes/issues/45143#issuecomment-305361544).

Maybe maintaining an in-memory cache? Not sure it would be worth optimizing considering infrequency of PVC delete operations.

Would be a pain keeping labels up to date.

2 way pointers are very difficult to manage in a transaction-less system (see PVC/PV).

[2017-06-01 22:46] liggitt commented on #46806
Agree, if the provider explicitly has not verified the user has control of that email address, it is not an appropriate claim to use as the username

[2017-06-01 22:51] curtisallen commented on #46806
@ericchiang My current client uses Active Directory to provision users and email address, [Okta](https://www.okta.com/) is setup as downstream sync of AD data, therefore every user provisioned in Okta has `email_verfied = false` claims. I suspect this is true with any OP that isn't the system of record. Reading the OIDC spec https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

Eve

[2017-06-01 22:57] freehan commented on #46651
To clarify, the symptom I have observed on https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305339470 is on HEAD at the time, which includes #43879. I believe #43879 makes things worse.

For https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305077524, @MrHohn is running a cluster slightly older than HEAD, which did not include #43879

So reverting #43879 solved h

[2017-06-01 23:09] mtanino commented on #46768
Hi,

Which version of kubernetes are you using?
I tried with latest master and it worked as we expected shown in below.

[code]

[2017-06-01 23:10] mtanino commented on #46768
/sig storage

[2017-06-01 23:10] MikeSpreitzer commented on #37414
/assign

[2017-06-01 23:16] Random-Liu commented on #44003
/cc @vishh

[2017-06-01 23:18] #46218 closed

[2017-06-01 23:20] madhusudancs commented on #39642
@gnufied I see. Not entirely sure how that would happen. Closing this for now. Please feel free to re-open it if you run into this issue again.

[2017-06-01 23:20] #39642 closed

[2017-06-01 23:32] MikeSpreitzer commented on #37414
/assign

[2017-06-01 23:41] bowei commented on #45934
@someword Some of this could be integrated into the node problem detector? (https://github.com/kubernetes/node-problem-detector)

[2017-06-01 23:44] ahmetb commented on #17150
Do you mind opening the issue on kubernetes.github.io repo instead?

[2017-06-01 23:54] vishh commented on #44003
cc @derekwaynecarr

[2017-06-01 23:58] yujuhong commented on #5538
Can we close this issue? This is marked as a node issue, and we already have a pretty comprehensive node e2e test suite. I don't know if it makes sense to port them to be integration tests, but a long-standing issue like this doesn't help.

[2017-06-02 00:06] yujuhong commented on #7607
This is obsolete. We switched to CRI (which also needs more documentation), but the abstraction in this issue is unlikely be used for any new integration.

[2017-06-02 00:06] #7607 closed

[2017-06-02 00:07] yujuhong commented on #7606
I'm going to close this issue. The dependency between kubelet packages remains a problem, but a 4-digit issue really doesn't help.

[2017-06-02 00:07] #7606 closed

[2017-06-02 00:10] yujuhong commented on #7440
I believe we've drastically reduced the number of docker calls, and docker logging level has also been adjusted in (at least) non-test clusters. Closing the obsolete issue.

[2017-06-02 00:10] #7440 closed

[2017-06-02 00:14] k82cn commented on #45237
slack with Spindel@, it seems OK after update ETCD to 3.0.17 :).

[2017-06-02 00:14] k82cn commented on #45237
/close

[2017-06-02 00:14] #45237 closed

[2017-06-02 00:15] k82cn commented on #45237
@Spindel , I closed this firstly as it seems OK with ETCD 3.0.17; if there is still issue, please free feel to re-open this and ping me :).

[2017-06-02 00:16] caesarxuchao commented on #46793
Will be fixed by https://github.com/kubernetes/kubernetes/pull/46711

[2017-06-02 00:23] yujuhong commented on #6664
I believe this is obsolete. Closing.

[2017-06-02 00:23] #6664 closed

[2017-06-02 00:23] caseydavenport commented on #37970
@cmluciano Yeah, it looks like the linked issues have all been closed for one reason or another.

I'll close this one and we'll see if anything pops up.

/close

[2017-06-02 00:23] #37970 closed

[2017-06-02 00:26] yujuhong commented on #8225
Closing in favor of #23338, which has a wide scope and a longer discussion.

[2017-06-02 00:26] #8225 closed

[2017-06-02 00:27] #8215 closed

[2017-06-02 00:33] yujuhong commented on #8365
We have the ongoing work on docker validation test framework, and also a more generic CRI validation suite. Closing this.

[2017-06-02 00:33] #8365 closed

[2017-06-02 00:38] ddysher commented on #17484
@derekwaynecarr what's the status for quota scoping?  can we close this?

[2017-06-02 00:38] yujuhong commented on #8878
No one is working on this. Lower the priority to reflect the status.

[2017-06-02 00:42] yujuhong commented on #9742
@caesarxuchao can we close this or are you still experiencing the bug after two years?

[2017-06-02 00:42] thockin opened #46814 "docs/api-reference/*/*.html contains a timestamp"
This means any 2 PRs that touch this fine CAN'T POSSIBLY not conflict.  We should just strip the timestamp.

`sed 's/Last updated ....-..-.. ..:..:.. ...//'`

easy change, I hope, just needs to find the right back-and-forth in `hack/lib/swagger.sh` `kube::swagger::gen_api_ref_docs`

[2017-06-02 00:43] ash2k commented on #45939
@ncdc @deads2k updated the first comment with more details.

[2017-06-02 00:47] bowei commented on #46753
The current behavior is intentional to allow for existing sessions to terminate as some clients do not handle mid-session termination of TCP connections very gracefully. Do you want the option to have kube-proxy to drop existing connections immediately after service update?

We do something like this for UDP by wiping out the conntrack entry so the old packets are rejected.

[2017-06-02 00:47] yujuhong commented on #10075
We check every 10s on CVM now.

[2017-06-02 00:47] #10075 closed

[2017-06-02 00:48] yujuhong commented on #9430
I think this is already done in various performance tests.

[2017-06-02 00:48] #9430 closed

[2017-06-02 00:52] bowei commented on #46737
It looks to be passing now with the exception of: `[k8s.io] Firewall rule should have correct firewall rules for e2e cluster`

Does anyone know what was changed? @dchen1107

[2017-06-02 00:53] ivan-section-io commented on #46753
We've got clients that will not self-release connections, but can handle mid-session termination of TCP connections gracefully.
I think the option (at a service level?) would be very helpful.

[2017-06-02 00:55] thockin commented on #46753
This is working as intended.  I'm not sure we want to offer a knob to
change this.  Every knob has to justify itself, and nobody else has asked
for this.  Happy to leave it open and collect feedback...

On Thu, Jun 1, 2017 at 5:47 PM, Bowei Du <notifications@github.com> wrote:

[2017-06-02 00:59] bowei commented on #46753
@glennslaven: It would be good to retitle the issue "kube-proxy: add option to forcibly disconnect existing TCP clients on service updates" or something to effect so the issue is more discoverable.

[2017-06-02 00:59] yujuhong commented on #10822
Closing the issue since it's ~2-year old, and a test issue.

[2017-06-02 00:59] #10822 closed

[2017-06-02 01:01] thockin commented on #45934
I think it would be interesting to have a long running DNS prober that did
lookups every couple seconds.  It could be a Job that runs for 3 hours and
then exits with failure, so the Job controller restarts it possibly
elsewhere.  Need to collect useful results, rotate them, serve them, and
defeat the DNS caches.

On Thu, Jun 1, 2017 at 4:41 PM, Bowei Du <notifications@github.com> wrote:

[2017-06-02 01:01] yujuhong commented on #10807
Obsolete.

[2017-06-02 01:01] #10807 closed

[2017-06-02 01:04] yujuhong commented on #14053
Given how old this issue is, I am going to close it. Please open a new issue if the problem remains.

[2017-06-02 01:04] #14053 closed

[2017-06-02 01:05] k82cn commented on #34924
@cmluciano , yes, we still need this; but this is more complex than I think :(. For now, cloud provider still need to embed into upstream (there's a proposal for external cloud provider, ).

But kube-mesos is using k8s 1.4 as vendor, it's ok to remove related code for higher version. I'm working kube-mesos refactor to avoid dependency to upstream.

[2017-06-02 01:06] yujuhong commented on #14047
Fixed by #33014. Closing the issue. We should revisit *what* should be exposed in the pod status in a separate issue:
 * Image config digest
 * Arbitrary image ID generated by the container runtime
 * A (normalized) pullable reference such as RepoDigest or RepoTags.
 * ...

[2017-06-02 01:06] #14047 closed

[2017-06-02 01:08] yujuhong commented on #13768
We already implemented CRI and using it by default in 1.6. Closing.

[2017-06-02 01:08] #13768 closed

[2017-06-02 01:08] ash2k opened #46817 "Unstructured.OwnerReferences are not round-tripped properly"
**Kubernetes version**
Code from master.

**What happened**:
`Unstructured.GetOwnerReferences()` does not return `Controller` and `BlockOwnerDeletion` fields after they are set to non-nil values using `Unstructured.SetOwnerReferences()`.

**How to reproduce it** (as minimally and precisely as possible):
See PR #46683

[2017-06-02 01:09] jstangroome commented on #46753
A common example would be an `nginx` Pod using an `upstream foo { server my-service.my-namespace; keepalive 1; }` configuration.

Nginx will hold that TCP connection to its upstream service open indefinitely, even if completely idle. It depends on the remote server to close the connection. If the remote server closes the connection mid-request, nginx will recover/retry in a large number of cases.

[2017-06-02 01:09] glennslaven commented on #46753
@thockin I appreciate that, and I agree there needs to be a good reason to add options.

Just to state the reason we'd like it clearly: to effect a blue/green style deployment with a proxy like nginx that will hang on to a keepalive connection until the upstream service tells it to let go (or it dies) we can't just update the k8s service. We also must implement some container level messaging eithe

[2017-06-02 01:11] yujuhong commented on #13573
Actually, kubelet simply treats non-apiserver source pod updates as new pods. My comment (https://github.com/kubernetes/kubernetes/issues/13573#issuecomment-139059857) doesn't make sense at all. Let's close this.

[2017-06-02 01:11] #13573 closed

[2017-06-02 01:13] yujuhong commented on #13703
@zhengguoyong please file a new issue if the problem is reproducible.

[2017-06-02 01:13] #13703 closed

[2017-06-02 01:14] caseydavenport commented on #39113
So I added some additional debug logging and I think I'm seeing the pod status channel start to back up due to more incoming status updates than are being pulled off.

For example, I see one update get queued behind 55 other pod status updates.  It eventually gets synced as part of a batch 30s later.

Then, the sync thread _finally_ starts pulling all the updates off the channel and notices that t

[2017-06-02 01:14] ash2k commented on #46817
/sig api-machinery

[2017-06-02 01:17] #15103 closed

[2017-06-02 01:18] yujuhong commented on #15644
@ssergiienko please file a new issue if that's the case. Thank you.

[2017-06-02 01:18] #15644 closed

[2017-06-02 01:20] yujuhong commented on #14768
I believe we have consistent labels on all containers now, if that still matters :-)

[2017-06-02 01:20] #14768 closed

[2017-06-02 01:23] yujuhong commented on #14337
We now sync only every minute for each pod, unless triggered by state/spec changes. I believe this makes the log more tolerable. Closing.

[2017-06-02 01:23] #14337 closed

[2017-06-02 01:24] yujuhong commented on #14754
We have http://node-perf-dash.k8s.io now.

[2017-06-02 01:24] #14754 closed

[2017-06-02 01:27] yujuhong commented on #14212
Docker supports journald logging driver and kubelet unfortunately still calls `docker logs` to support journald for the time being. If you're still experience the problem, please file a new issue with more information (k8s/docker version, etc).

[2017-06-02 01:27] #14212 closed

[2017-06-02 01:28] yujuhong commented on #17251
Unassign @Random-Liu since he's not actually working on this :)

[2017-06-02 01:29] yujuhong commented on #8756
Closing in favor of #16831

[2017-06-02 01:31] yujuhong commented on #17196
This is done.

[2017-06-02 01:31] #17196 closed

[2017-06-02 01:34] #16289 closed

[2017-06-02 01:36] #16045 closed

[2017-06-02 01:41] MrHohn commented on #46651
Finally we figured out the cause for the kube-dns crashlooping case, thanks @dnardo and @freehan!

It turned out after resetting the instance, there are certain chances the iptables rule that masquerades the outbound traffic is gone, specifically this rule:
[code]
Without this masquerade rule, packet sent from kube-dns pod to apiserver would have its pod IP as the source IP, instead of the node IP

[2017-06-02 01:46] MrHohn commented on #46651
@thockin If we have https://github.com/kubernetes-incubator/ip-masq-agent running by default, it will exactly fix this case?

[2017-06-02 01:49] yujuhong commented on #39113
Most likely caused by the QPS limit I mentioned in https://github.com/kubernetes/kubernetes/issues/39113#issuecomment-270520710
(ref: #14955)

[2017-06-02 01:51] yujuhong commented on #22485
Closing based on https://github.com/kubernetes/kubernetes/pull/22488#issuecomment-228206183

[2017-06-02 01:51] #22485 closed

[2017-06-02 02:13] k82cn commented on #9260
/close

Please open an issue in [kube-mesos](https://github.com/kubernetes-incubator/kube-mesos-framework) if it's still necessary.

[2017-06-02 02:13] k82cn commented on #9260
/assign

[2017-06-02 02:13] k82cn commented on #9260
/close

[2017-06-02 02:13] #9260 closed

[2017-06-02 02:13] k82cn commented on #19529
/assign

[2017-06-02 02:15] k82cn commented on #19529
/close

One of kube-mesos roadmap; tracing in kube-mesos

[2017-06-02 02:15] #19529 closed

[2017-06-02 02:19] michmike commented on #34327
@mfaizanse  yes that is correct. the current container stats are not supported or exposed by windows containers yet. we are looking into this for beta or GA release.

there is no workaround offered by k8s, unless you run a process inside your container and get statistics from windows perf counters and use that data to control scaling your replica set

[2017-06-02 02:23] k82cn commented on #10043
According to https://github.com/kubernetes/kubernetes/pull/44883 , kube-mesos refactor will use HTTPExtender, so it's a not big issue to kube-mesos.

But for k8s, I think scheduler is using `pods/binding` API  now (https://github.com/kubernetes/kubernetes/pull/44482).

[2017-06-02 02:23] k82cn commented on #10043
/assign

[2017-06-02 02:24] k82cn commented on #10043
/close

I'm going to close this; if any comments, please let me know.

[2017-06-02 02:24] dchen1107 commented on #46651
Re: https://github.com/kubernetes/kubernetes/issues/46651#issuecomment-305666083

Wow, we found two release blocker issues here and one test related problem. Thanks @MrHohn, @freehan and @dnardo for network related production issues, and @verult for storage related test issue.

Before we introduce another agent to resolve this issue, can we

* Root cause why that iptable rule was dropped
* Instead

[2017-06-02 02:25] k82cn commented on #12281
/assign

[2017-06-02 02:25] k82cn commented on #12281
/close

[2017-06-02 02:25] #12281 closed

[2017-06-02 02:25] k82cn commented on #16410
/assign

[2017-06-02 02:26] k82cn commented on #16410
/close

[2017-06-02 02:26] #16410 closed

[2017-06-02 02:26] k82cn commented on #15529
/assign

[2017-06-02 02:27] k82cn commented on #15529
/close

[2017-06-02 02:27] #15529 closed

[2017-06-02 02:28] shiywang commented on #40632
@calebamiles met the same problem, do we have some ideas how to fix that ? like merge this commit https://github.com/kad/kubernetes/commit/550b4cd13d4d0231e00b3fb1381d457a25d57481?

[2017-06-02 02:34] liggitt commented on #46446
still flaking
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/6169/
ran on b9e8d2aee6d59330306cb458c1241f5e2578c40b (two commits after #46536 merged)

[2017-06-02 02:43] k82cn commented on #15412
/close

old issue, close it directly.

[2017-06-02 02:43] k82cn commented on #15412
/assign

[2017-06-02 02:43] k82cn commented on #15412
/close

[2017-06-02 02:43] #15412 closed

[2017-06-02 02:51] pwittrock commented on #46250
@foxish I don't think we need to label this in the v1.7 milestone, since it doesn't need to be tracked by the release team.

[2017-06-02 02:52] k82cn commented on #21954
/assign

[2017-06-02 02:52] k82cn commented on #21954
/close

[2017-06-02 02:52] #21954 closed

[2017-06-02 02:52] smarterclayton commented on #10043
We need to actually mark the endpoint deprecated so we can remove it.

[2017-06-02 02:52] k82cn commented on #15413
/assign

[2017-06-02 02:52] k82cn commented on #15413
/close

[2017-06-02 02:52] #15413 closed

[2017-06-02 02:53] pwittrock commented on #26050
@nikhita Sorry no one ever responded.  If you are still interested in this @apelisse may be able to help you

[2017-06-02 02:56] pwittrock commented on #39188
There is a PR out to make fixing this possible, but will not land in 1.7

[2017-06-02 02:56] k82cn commented on #10043
OK, got that; need to deprecate it for other user. I think k8s can handle it to use `pods/binding`.

[2017-06-02 02:57] pwittrock commented on #42057
@apelisse related to validation

[2017-06-02 02:58] pwittrock commented on #44476
@cjcullen Is this a regression or why 1.7?

[2017-06-02 02:59] pwittrock commented on #46250
Removed from the milestone.  Feel free to add back if there is a compelling reason to do so.

[2017-06-02 02:59] #34378 closed

[2017-06-02 03:00] bgrant0607 commented on #23233
We also need a way to shut down addons during cluster teardown. #4630 #10179 #16337

[2017-06-02 03:00] pwittrock commented on #36818
@saad-ali Removing this from the milestone since code freeze is today

[2017-06-02 03:01] xiangpengzhao opened #46822 "Make "--feature-gates" flag component-related"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-02 03:07] takama commented on #43753
But why it going into `stderr` output?

[2017-06-02 03:08] liggitt commented on #46793
green again (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/1980/)

[2017-06-02 03:08] #46793 closed

[2017-06-02 03:09] dcbw commented on #46651
@freehan see https://github.com/kubernetes/kubernetes/pull/46823 for an update to the GetNetNS issue.

[2017-06-02 03:10] k82cn commented on #10043
/label cancel area/platform/mesos

[2017-06-02 03:16] dcbw commented on #44307
I'm of the opinion that kubelet should do the right thing and not call DEL when either (a) DEL is already in progress, or (b) DEL has already been called.  Kubelet has to be responsible for it's own operations, it can't punt this off to network plugins that really have nothing to do with kubelet.

*something* has to keep state.  Either that's kubelet, through the apiserver or the checkpoints, or i

[2017-06-02 03:17] k82cn commented on #18066
/assign

[2017-06-02 03:17] k82cn commented on #18066
/close

moved to https://github.com/kubernetes-incubator/kube-mesos-framework/issues/73

[2017-06-02 03:17] ianchakeres commented on #45143
@saad-ali - I prefer option 1. I agree it covers most common case, its easy to understand, and its fairly simple to implement.

[2017-06-02 03:18] k82cn commented on #18066
/close

[2017-06-02 03:18] #18066 closed

[2017-06-02 03:19] k82cn commented on #24378
/close

[2017-06-02 03:19] k82cn commented on #24378
/assign
/close

[2017-06-02 03:19] k82cn commented on #24378
/close

[2017-06-02 03:19] #24378 closed

[2017-06-02 03:20] k82cn commented on #28457
/assign

[2017-06-02 03:20] k82cn commented on #28457
/close

[2017-06-02 03:20] #28457 closed

[2017-06-02 03:22] k82cn commented on #10043
@smarterclayton , can you help to remove `area/platform/mesos`? it's not related with Mesos anymore. I'll create a PR to deprecate `/binding`.

[2017-06-02 03:25] k82cn commented on #31062
/assign

[2017-06-02 03:26] mtanino commented on #33602
I made a PR. #3967

https://github.com/kubernetes/kubernetes.github.io/pull/3967

[2017-06-02 03:26] k82cn commented on #31062
/close

Traced in kubernetes-incubator/kube-mesos-framework#48

[2017-06-02 03:26] #31062 closed

[2017-06-02 03:27] k82cn commented on #17404
/assign

[2017-06-02 03:27] k82cn commented on #17404
/close

[2017-06-02 03:27] #17404 closed

[2017-06-02 03:28] k82cn commented on #20436
/assign

[2017-06-02 03:28] k82cn commented on #20436
/close

[2017-06-02 03:28] #20436 closed

[2017-06-02 03:28] k82cn commented on #24848
/assign

[2017-06-02 03:28] k82cn commented on #24848
/close

[2017-06-02 03:28] #24848 closed

[2017-06-02 03:28] k82cn commented on #26419
/close

[2017-06-02 03:28] #26419 closed

[2017-06-02 03:33] caesarxuchao commented on #9742
close due to age

[2017-06-02 03:33] #9742 closed

[2017-06-02 03:44] caesarxuchao commented on #45978
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45184/pull-kubernetes-federation-e2e-gce/8189/

[2017-06-02 03:54] cblecker commented on #46814
/sig contributor-experience

[2017-06-02 04:32] smarterclayton commented on #45143
Before you go much further, can you concretely describe how this is
*not* graceful deletion as we define it today?

Ie how is this different than graceful deletion of pods, namespaces,
or the GC workflow?

[2017-06-02 04:33] thockin commented on #46753
Another consideration is whether we believe that every implementation of
services could actually support such a change.  Our iptables is just one.
There's an IPVS one out for review, an nftables one in devel, and an ebpf
one coming eventually.  There is/was one in Contiv and in OpenContrail.

On Thu, Jun 1, 2017 at 6:10 PM, Glenn Slaven <notifications@github.com>
wrote:

[2017-06-02 04:39] thockin commented on #34625
Maybe this is an easy one to slash-close :)  Prateek will tell us :)

On Thu, Jun 1, 2017 at 2:43 PM, Dan Williams <notifications@github.com>
wrote:

[2017-06-02 04:44] igoratencompass opened #46826 "Found invalid field name for v1.EnvFromSource when using envFrom in Pod"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): v1.EnvFromSource, envFrom

---

**Is this a BUG REPO

[2017-06-02 04:44] xiangpengzhao commented on #44331
/sig api-machinery

[2017-06-02 04:46] xiangpengzhao commented on #44271
/sig cli

[2017-06-02 04:46] xiangpengzhao commented on #44269
/sig cli

[2017-06-02 04:53] snarayanank2 commented on #46641
We just ran into a similar problem - this has happened twice in the last 2 days. We are on aws, use kube-aws 0.9.4. AFAICT, the sequence of events is:

* Netfilter messages appear
* Node gets marked unhealthy
* We see connection timed out messages like the following:
[code]
* Also see messages like this:
[code]
* After about 25 mins everything is back to normal

Any help would be greatly appreciat

[2017-06-02 04:54] shiywang commented on #40973
met same problem,  do we have a workaround here ?
[code]

[2017-06-02 04:55] igoratencompass commented on #46826
@kubernetes/sig-cli

[2017-06-02 05:09] fejta opened #46827 "pull-kubernetes-federation-e2e-gce is failing"
This blocking presubmit has been failing since ~5p pst.
sig-federation is debugging.

See https://kubernetes.slack.com/archives/C09QZ4DQB/p1496378395296515 for more details

@kubernetes/sig-federation-test-failures
/assign @csbell @shashidharatd

[2017-06-02 05:10] fejta commented on #46827
fyi @mbohlool

[2017-06-02 05:11] fejta commented on #46827
/priority failing-test
(is that a command? yes!)

[2017-06-02 05:19] gyliu513 commented on #43564
/sig network

[2017-06-02 05:51] zhan849 commented on #33245
@janetkuo Thanks for pointing out. I replied here because similar phenomenon is described by other people. Please let me know if I need to open new bug for it.

[2017-06-02 06:13] wanghaoran1988 commented on #38756
@soltysh @kargakis I am try to add the scale endpoint for the Job,  but I have a problem now, I am using the scale struct in the [api extentions pkg](https://github.com/wanghaoran1988/kubernetes/blob/8c1f45953b7c678f16ccd25bc0c6c8e4a5ea53d1/staging/src/k8s.io/client-go/pkg/apis/extensions/types.go#L68)，I am not sure whether it's correct, or should I create a new one in batch pkg ?
Also I found the

[2017-06-02 06:19] k82cn commented on #34924
/assign

I will trace this.

[2017-06-02 06:29] cesartl commented on #46693
Thanks @gyliu513. should we close this issue if we have another one open in kops?

[2017-06-02 06:38] #41741 closed

[2017-06-02 06:38] wojtek-t commented on #46776
@bowei done

Do you agree that this is a reasonable request?

[2017-06-02 06:41] stormltf commented on #45288
i also has this problem. @wojtek-t @shyamjvs
after read this the kumark guide，can not run kubemark at local.
https://github.com/kubernetes/community/blob/master/contributors/devel/kubemark-guide.md

as @shyamjvs 's step, cluster/kubemark/local/config-default.sh this file what was must be set?

[2017-06-02 06:43] wojtek-t commented on #44609
@bowei - it won't help with all the cases.
But I think it should solve the problem we are observing here. The problem here is that we are spinning up 2000-node cluster (or any other large one). And initially all nodes are registered, but only few of them are schedulable, because other don't yet have routes created. So we are creating all DNS replicas, but squeezing them only on those schedulable n

[2017-06-02 06:43] gyliu513 commented on #46693
yes, just close this directly ;-) @cesartl

[2017-06-02 06:44] stormltf commented on #45288
@xiechengsheng your email or weixin or qq?

[2017-06-02 07:03] xiangpengzhao opened #46832 "Add a label "sig/ui""
We have [SIG UI](https://github.com/kubernetes/community/blob/master/sig-ui/README.md), but there isn't a label `sig/ui` in the k/k repo. There is only `area/ui`. Do we need to add a label `sig/ui` or rename `area/ui` to `sig/ui`?

@spiffxp @bryk @danielromlein

[2017-06-02 07:04] xiangpengzhao commented on #46832
/sig ui
:smiley:

[2017-06-02 07:05] bowei commented on #44609
Ah right, makes sense.

[2017-06-02 07:12] mengqiy commented on #39188
PR for supporting multifields MergeKey in new APIs: https://github.com/kubernetes/kubernetes/pull/46161
Proposal for fixing existing APIs: https://github.com/kubernetes/community/pull/476
The second one depends on the first one.

[2017-06-02 07:13] wojtek-t commented on #44609
So actually, I shouldn't say that based on number "Ready" nodes, but instead based on number of "Schedulable" nodes.

[2017-06-02 07:15] bowei commented on #44609
hmm -- it seems like that is already the case?

see https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/blob/master/pkg/autoscaler/k8sclient/k8sclient.go

[code]

[2017-06-02 07:28] soltysh commented on #46497
Your fix provided in #46499 will only partially solve your use case. Unfortunately, we still need to solve the problem of short ADS, see https://github.com/kubernetes/kubernetes/issues/32149 for more details. If you're interested in fixing the other one, I'd be more than happy to review your PR :)

[2017-06-02 07:43] wojtek-t commented on #44609
There is one issue with this (we are suffering this in many different place, e.g. autoscaler).
The problem is that "schedulable" field doesn't really mean that the Node is really schedulable - it only means that it sometime can be schedulable.

In scheduler we additionally check if:
- node is ready:
- node doesn't have "NodeOutOfDisk" condition
- node doesn't have "NodeNetworkUnavailable" conditio

[2017-06-02 07:49] wojtek-t commented on #44701
We definitely do NOT want to enable route controller. We can try artificially setting this condition somewhere.

Let's do.

No - this will impact e.g. processing selectors. We don't want this.

Actually, I'm not wondering why we don't have images? Are we mocking something that is tracking them? Or do they come from docker client? Or what?
Maybe it's possible to just track images that we are "using

[2017-06-02 07:52] Spindel commented on #45237
I'll reinstate some more limits and get this tested more thoroughly. Until
then, keep it closed. Thank you for your assistance.

On Fri, 2 Jun 2017, 02:16 Klaus Ma, <notifications@github.com> wrote:

[2017-06-02 08:00] jmzwcn opened #46837 "[Feature Request] spread pods of a deployment by custom node label(e.g IDC/Carrier/Operator)"
Add a deploymentAntiAffinity(similar to [ServiceAntiAffinity](https://github.com/kubernetes/kubernetes/blob/749ac27e9a608296a169a62b158181440cbddb19/plugin/pkg/scheduler/algorithm/priorities/selector_spreading.go#L194)), so that we could spread pods of a deployment by custom node label(e.g IDC/Carrier/Operator).

For more detail, please refer to #46568

[2017-06-02 08:02] jmzwcn commented on #46837
/sig scheduler

[2017-06-02 08:09] jmzwcn commented on #46837
/sig scheduling

[2017-06-02 08:15] samiaben88 commented on #45613
ok thank u

[2017-06-02 08:15] k82cn commented on #46837
@jmzwcn , can you share why PodAntiAffinity can not meet your requirements?
If it's similar or the same requirement, prefer to continue the discussion at #46568. I have @ kubernetes/sig-scheduling-feature-requests in that issue to get scheduling sig's awareness :).

[2017-06-02 08:15] lukaszo commented on #46355
@mikkeloscar ah, thx for pointing this out. I will close the daemonupgrader project.

[2017-06-02 08:24] samiaben88 opened #46839 "subPath = file bug version 1.5.2"
Hi,
I deploy kubernetes using ansible on two nodes (1 master and one slave), it brings : version 1.5.2

everything working fine except when I use subpath:

The issue is, I have subPath set to a file in a configmap to map it into the right place in my container. But kubernetes assumes subPath is a directory and always does a mkdir over it. This causes things to fail.

I already see this issue in (h

[2017-06-02 08:25] jmzwcn commented on #46568
Find a new problem, our requirement is we want to deploy pod into selected IDC(not all IDC), "podAntiAffinity" and "topologyKey"(even if modify the admission controller) seems not meet.

[2017-06-02 08:28] yastij opened #46840 "Pod type should use runtimeapi.PodSandbox for sandoxing environment instead of container slice"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Podsandbox
runtime
sandbox

---

**Is this a BUG R

[2017-06-02 08:29] yastij commented on #46840
/area kubelet

[2017-06-02 08:29] yastij commented on #46840
/assign

[2017-06-02 08:32] jmzwcn commented on #46837
Maybe it could resolve our issue, But I feel it is not a best solution.

[2017-06-02 08:35] nikhita commented on #26050
@pwittrock thanks for the response. I am currently busy with my Google Summer of Code project (with kubernetes) so won't be able to work on it now. I'll come back to this later if it's still open.

Meanwhile, if anyone is interested in taking this, please feel free to do so.

[2017-06-02 08:36] k82cn commented on #46826
just check example with master branch, it works; I'm going to check 1.6.x.

[2017-06-02 08:36] yastij commented on #46839
/sig storage

[2017-06-02 08:37] samiaben88 commented on #46839
@kubernetes/sig-storage-bugs

[2017-06-02 08:39] irisdingbj opened #46841 "can not get the privateIP of a node when it has both public ip and private IP"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-02 08:46] k82cn commented on #46826
@igoratencompass , I think you missed two space before `configMapRef.name`, it should be the following format:

[code]

[2017-06-02 08:49] k82cn commented on #46826
/assign

[2017-06-02 08:54] xiangpengzhao commented on #43556
/sig testing

[2017-06-02 08:58] xiangpengzhao commented on #43556
@MikeSpreitzer

[2017-06-02 09:01] xiangpengzhao commented on #46832
/sig contributor-experience

[2017-06-02 09:02] xiangpengzhao commented on #46840
/sig node

[2017-06-02 09:20] irisdingbj commented on #46841
/sig node

[2017-06-02 09:35] xiechengsheng commented on #45288
@stormltf
1. According to this blog [Kubemark: Performance Test Tool for Your Kubernetes Cluster](https://supereagle.github.io/2017/03/09/kubemark/), the author solved the problem by generating cert file for apiserver and controller-manager. And I have tried this, and it took me about **an hour** to simulate the scheduling process, then the timeout error occurred, and the log showed the scheduler

[2017-06-02 09:38] weiwei04 commented on #46497
@soltysh  Thanks for the reply, I'd like to take a try to fix #32149.

[2017-06-02 10:04] ged15 commented on #37518
Sorry for the lack of responsiveness. I've not worked with GKE and K8s Ingress integration with Google load balancer for a while so do not know whether this is still an issue. Will close.

[2017-06-02 10:09] gmarek commented on #31966
We should be more specific, but I don't know if anyone knows that. It depends on the setup I guess. It's possible that it'll do the correct thing, but no someone should investigate.

[2017-06-02 10:14] gmarek commented on #41269
I think that recommended procedure for working with godeps now is:
- create a brand new, empty directory for your kubernetes code and set the GOPATH accordingly (e.g. `mkdir -p ~/godep_go/src/k8s.io/kuberenetes && export GOPATH=~/godep_go`)
- copy your kubernetes code there
- run `hack/godep-restore.sh`
- do whatever you need.

It worked for me twice recently, so I believe we can close this bug wi

[2017-06-02 10:14] #41269 closed

[2017-06-02 10:16] wasylkowski opened #46847 "Add an e2e test measuring the time it takes for HPA and CA to scale up after load increase"
Currently the time it takes for HPA and CA to scale up after load increase is not measured at all, and this can lead to regressions that will be missed. This issue is about adding an e2e test that will prevent such regressions.

@wojtek-t @fgrzadkowski

[2017-06-02 10:26] gmarek commented on #5538
Closing due to age.

[2017-06-02 10:26] #5538 closed

[2017-06-02 10:38] dims commented on #46814
/assign

[2017-06-02 10:40] #46693 closed

[2017-06-02 10:45] k82cn commented on #46568
wow, according to the admission, Pod AntiAffinity is node level at the beginning, @kevin-wangzefeng , any background to share?

You can leverage nodeSelector, NodeAffinity to work together with PodAntiAffinity.

[2017-06-02 10:59] yastij commented on #46840
@yujuhong - auditing code right now, spotted around 13 usages that needs refactoring with this one.

[2017-06-02 11:08] shyamjvs commented on #45288
Hi @stormltf , I guess you are asking what are the variables that must be provided through the config-default.sh file. I don't know the exact set of the variables that need to be defined, but pretty much any variable that is for identifying the kubemark master and size of cluster (used for e2e tests). IMO shouldn't be too many such variables (maybe 5-6). To begin with, I'd say the following:
[code

[2017-06-02 11:54] wojtek-t opened #46851 "Millions of conflicts on Nodes in kubemark-scale tests"
Kubemark-scale is currently constantly failing. There are different reasons of it:
- too high metrics
- some nodes becoming unready
- some pods not starting
- some requests getting "429" error

However, I looked into logs, and it seems there is one common underlying root cause of all of them. And the problem is:
__millions of conflicts on Node objects__

Those conflicts result in:
- some nodes not

[2017-06-02 12:03] kargakis commented on #38756
Yeah, I have thought about this before and I think it deserves its own issue. Can you please open one and discuss that there?

[2017-06-02 12:04] deads2k commented on #46322
/approve-for-milestone

[2017-06-02 12:04] deads2k commented on #46322
/sig-approved

[2017-06-02 12:06] wojtek-t commented on #46851
It seems to me that the main problem is the "Cacher" for nodes objects lagging far behind the reality.

The big unknown to me is why other Cachers seem to not lag that much. In particular, I'm looking into currently running tests.

In particular, looking into HWM marks for different resources:
1. Pods:
[code]
2. Services
[code]
3. Endpoints
[code]
4. Nodes:
[code]

Node that we created the cluster

[2017-06-02 12:08] wojtek-t commented on #46851
Also note, that this HWM=100 for nodes, happened significantly before we started any test on the cluster.
The first test started at: `05:56:28`

[2017-06-02 12:10] deads2k commented on #45728
@enisoc I'm approving this.  I think a guide and an announcement on kubernetes dev are requirements before closure.

[2017-06-02 12:11] tnozicka opened #46853 "kops cannot test v1.8.x kubernetes builds"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46500/pull-kubernetes-e2e-kops-aws/28678/

[2017-06-02 12:22] deads2k commented on #36891
Oh wow.  That was *you*?!

[2017-06-02 12:23] deads2k commented on #30158
This is important.  If we can fix it we should, I wouldn't call it a blocker.

[2017-06-02 12:25] wojtek-t commented on #46851
In other words - we seem to have problems even in the empty cluster without any user pods.

[2017-06-02 12:26] deads2k commented on #23297
So specifying a UID instead of specifying a resourceVersion and wanting an unconditional update of your particular object?  I could probably see it as an API choice, but I suspect its impractical for 1.7.

[2017-06-02 12:29] deads2k commented on #7328
This is out for CRD in 1.7.  I recommend a specific issue to add it to make it easier to schedule.

@kargakis specific types should have specific issues.  It's special for each one at the moment, so I think its a type owner activity, not general machinery.

Removing milestone.

[2017-06-02 12:31] liggitt commented on #36891
You were there too, you've just blocked it out.

[2017-06-02 12:35] mabondano commented on #33729
Please Help. I am taking the same Problem
Environment
Docker: 1.12.6, build build 1398f24/1.12.6
Linux: CentOS 7.3.1611
kubeadm: 1.5.4
Proxy config setted in http_proxy, https_proxy and no_proxy environment variables

[2017-06-02 12:41] luxas commented on #33729
@mabondano Please file a new issue in the kubeadm repo

[2017-06-02 12:42] deads2k commented on #46817
This is a good find and I don't think I saw the notification come through :(

[2017-06-02 12:52] chrismcv commented on #46188
Might not be any use, but in case it it. I got mine working. Issue turned out that in the worker config, I needed the `https` argument in the proxy manifest.

[code]

[2017-06-02 12:52] deads2k commented on #45939
I'm not opposed per-se, but I think that resolving the, "show me foos in the namespaces I can see" is more like what you want.

[2017-06-02 12:55] wojtek-t commented on #46851
My hypothesis is that we have some slow watchers that are not able to consume nodes fast enough. But looking into logs, I'm not seeing any watchers that were forced to break, so it seems none of these are terribly slow.
However, I looked into logs and for any given node update, there are exactly 6 watchers interested in that event:
- one from scheduler component
- one from controller manager compo

[2017-06-02 12:56] kargakis commented on #7328
The reality is that it's the same for all controller-type objects (or at least all handled cases are doing it in the same way) but we are left with handling it on a case-by-case basis. One issue we should solve with ObservedGeneration that warrants case-by-case handling is https://github.com/kubernetes/kubernetes/issues/25170 (but still I suspect the solution to it will need to be applied holistic

[2017-06-02 12:57] ash2k commented on #45939
@deads2k is there a way to do this already? i.e. can a client watch only a list of specific/allowed namespaces? The list of allowed namespaces my change over time.

[2017-06-02 12:58] deads2k commented on #45939
No.  It's a "someday" idea.  Something that everybody wants, but no one has stepped up to solve in an efficient way.

[2017-06-02 13:04] deads2k commented on #7328
It seems like each one ends up as a snowflake, "bump my generation when spec changes unless its one of *these* field".  It ends up looking like a strategy and that ends up back where we are today.

[2017-06-02 13:07] kargakis commented on #7328
For special spec fields, we need special Observed* status fields. ObservedGeneration is meant to cover the whole Spec AFAIK.

[2017-06-02 13:10] tsn77130 commented on #45350
Same problem for me, timeout messages from kubectl events

`2017-06-02 15:02:10 +0200 CEST   2017-06-02 14:26:35 +0200 CEST   17        mysql     Pod                 Warning   FailedSync   kubelet, test-worker3   Error syncing pod, skipping: timeout expired waiting for volumes to attach/mount for pod "default"/"mysql". list of unattached/unmounted volumes=[mysql-persistent-storage]
2017-06-02 15:0

[2017-06-02 13:11] xiechengsheng commented on #45288
@shyamjvs Yes, the e2e tests run well in my cluster. But when I used kubemark, a timeout error occurred.

[2017-06-02 13:13] kargakis commented on #44538
@akostadinov ReplicaSets owned by Deployments have owner references in their metadata since 1.6 I think.

[2017-06-02 13:14] kargakis commented on #44538
The only way you can identify an orphaned ReplicaSet at the moment is to observe that it 1. has no owner reference, 2. has a pod-template-hash label.

[2017-06-02 13:18] rootfs commented on #45350
@tsn77130
Anything in kube-controller-master log about openstack and cinder?

[2017-06-02 13:24] gnufied commented on #46839
@wongma7 does 1.5.x also suffers from https://github.com/kubernetes/kubernetes/issues/45613 ?

[2017-06-02 13:25] dims commented on #24868
/assign

[2017-06-02 13:26] dims commented on #24868
/close

@zhouhaibing089 since the command fails with a clear message on what to do, we don't have to get super smart about this here :)

[2017-06-02 13:26] #24868 closed

[2017-06-02 13:27] dims commented on #24840
/assign
/close

[2017-06-02 13:27] kargakis commented on #42002
3 seems like the most correct approach - can you elaborate on why perf is a concern?

[2017-06-02 13:27] Q-Lee commented on #46853
Is this sig aws or cluster life-cycle?
/sig aws

[2017-06-02 13:28] dims commented on #24840
/close

please reopen if necessary. not sure if there's anything we need to do here.

[2017-06-02 13:28] #24840 closed

[2017-06-02 13:28] dims commented on #23839
Do we still need this @david-mcmahon ?

[2017-06-02 13:30] kargakis commented on #37566
/sig apps

[2017-06-02 13:30] wongma7 commented on #46839
No, I thankfully 😅 did not backport my defective patch to 1.5.x.

I'll look into this later today. If the file exists there should be no problem... If for whatever reason it looks like it doesn't, then *docker* will auto create a directory.

[2017-06-02 13:31] kargakis commented on #37566
Although I think this issue is obsolete - DaemonSets support rolling upgrades since 1.6 and StatefulSets are going to get them in 1.7; both server-side.

[2017-06-02 13:40] wojtek-t commented on #46851
A very good news is that it is extremely easy to reproduce - you just start 5000-node kubemark and you're done (you don't even need to run any tests).

[2017-06-02 13:47] kargakis commented on #34776
FYI, we recently moved ownership of PDB under sig-apps

[2017-06-02 13:48] hollowimage commented on #45419
The issue with security groups would make sense if you're just starting up the cluster. But these issues we're seeing are on clusters that have been running for months, with security groups in place.

[2017-06-02 14:02] kargakis commented on #46237
@adohe what if we have two generators for the same GVK but with different defaults?

[2017-06-02 14:05] tsn77130 commented on #45350
@rootfs thanks for reply.
I hadn't look in controller-manager, indeed there is log

`E0602 13:44:00.087320       1 reconciler.go:220] operationExecutor.AttachVolume failed to start for volume "kubernetes.io/cinder/d9f65f54-5b6f-4a8b-96cb-444d9d491365" (spec.Name: "mysql-persistent-storage") to node "test-worker3" with err: AttachVolume.NewAttacher failed for volume "kubernetes.io/cinder/d9f65f54-5

[2017-06-02 14:07] bradbeam commented on #45350
Might be worthwhile to check the other components ( like controller-manager ) to make sure they have cloud provider set as well.

[2017-06-02 14:10] ianchakeres commented on #43640
/sig storage

[2017-06-02 14:12] wojtek-t commented on #46851
Another evidence that this is a regression is that in empty cluster apiserver is using ~24cores.
When I was bumping Go to 1.8.3, it was the previous time I was running it manually and it was at least 2x smaller then...
So the regression is somewhere in the meantime...

[2017-06-02 14:21] tsn77130 commented on #45350
This log is from controller-manager.

[2017-06-02 14:23] wojtek-t commented on #46851
BTW - we seem to be accumulating lag pretty fast. I added the following diff to the code:
[code]
and started kubemark-5000 with it.

Then I ssh-ed to kubemark master and run those:
[code]
[the first are logs of successful POST/PUT/PATCH operation on nodes, the second, when we are dispatching event].

And what I'm seeing is
- out.txt (line: time)
[code]
- xxx.txt (processed x events):
[code]

So af

[2017-06-02 14:24] bradbeam commented on #45350
Sorry I'm meaning the manifest file for controller-manager.

[2017-06-02 14:26] shashidharatd opened #46859 "flake: pull-kubernetes-federation-e2e-gce dial tcp ./federation/cluster/federation-up.sh failed"
In federation pre-submit tests `pull-kubernetes-federation-e2e-gce`, we are seeing a class of failures in which the k8s cluster api server is failing to respond and timing out.
[code]
Once the k8s cluster reaches this condition all builds starts to fail and we need to recycle the k8s clusters to restore.
Also its interesting that it has links to load balancer service.

The first failure we see act

[2017-06-02 14:28] tsn77130 commented on #45350
Indeed, I have ne references to openstack in controller-manager manifest file, I haven't see any references including it in there (but maybe i am wrong) ?

`apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: quay.io/coreos/hyperkube:v1.6.2_coreos.0
    command:
    - /hyper

[2017-06-02 14:30] bradbeam commented on #45350
Yeah, those two flags you posted earlier ( cloud-provider, cloud-config ) are required for the controller manager as well.

[2017-06-02 14:31] floriankammermann opened #46860 "NetworkPolicy doesn't work as documented"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **OS** Ubuntu Xenial
- **Kernel** (`uname -a`): `Linux kube2 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
installed docker according to https://docs.docker.com/engine/installation/linux/ubuntu/ `docker -v` `Docker version 17.03.1-ce, build

[2017-06-02 14:34] joemiller commented on #23291
@thockin Yes, we are willing to give up source-ip. We're looking at this mainly for mTLS connections and in those cases we care much more about authenticating the client cert than the source-IP.

[2017-06-02 14:36] shashidharatd commented on #44232
This seems to be the reason for failure recently.
[code]
Whenever we are about to cross the milestone we see this issue arising. can we permanently fix this issue, somehow?

[2017-06-02 14:36] therc commented on #43874
Another use case: I want a PodPreset to add optionally an init container that fetches gdb/pprof and/or symbols before running the main container (which of course will have hooks to detect if the additional binaries/directories are present and act accordingly).

[2017-06-02 14:38] wojtek-t commented on #46851
Well - I've just checked this run:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/427/artifacts/kubemark-2000-kubemark-master/
[from ~2 weeks ago]

There were `4449` patch conflicts on nodes there (comparing to millions happening today).

This is 3-4 __orders of magnitude__ more.

Looking into test logs should make it possible to find roughly when it happened.
[c

[2017-06-02 14:40] ferrandinand opened #46861 "ENV invalid: spec.template.spec.containers[0].env[14].valueFrom: Invalid value: "": may not be specified when `value` is not empty"
When applying a deploy with some env vars kubernetes accepts the deployment but when doing a var change gives an error with an invalid var value(which is not empty)

Removing some random vars can make it work or not but if you remove the deploy and apply it again makes that the deployment is deployed again successfully

**Similar issues:**
https://github.com/kubernetes/kubernetes/issues/35134
http

[2017-06-02 14:43] floriankammermann commented on #46860
/sig Network

[2017-06-02 14:44] jacekn commented on #46781
@chuckbutler it's impossible, from what I found I need to set those options:
`--cloud-provider=openstack --cloud-config=<creds_file> options`

[2017-06-02 14:45] shashidharatd commented on #46859
/kind flake

[2017-06-02 14:46] tsn77130 commented on #45350
Ok, thanks !

I now have a new issue about path of cloud.conf file. I have tried different paths, but I still got the error.
I guess container can't see files on node...

`Couldn't open cloud provider configuration /etc/cloud.conf: &os.PathError{Op:"open", Path:"/etc/cloud.conf", Err:0x2}`

[2017-06-02 14:55] MikeSpreitzer commented on #43556
I have not investigated the concurrency question in my own flailing yet.  I will see what I can see.  I do not even know where to find the logs from the apiservers under test.

BTW, https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#go says that master requires go 1.8.1, if I understand correctly.  I myself have tried with go 1.8.1 on my Mac and go 1.8.3 in an Ub

[2017-06-02 15:03] liggitt commented on #46853
kops is failing because it doesn't recognize kubernetes tags 1.8.x, which exist since the 1.7 branch was cut last night

see https://github.com/kubernetes/kops/blob/master/pkg/apis/kops/util/versions.go#L27

[2017-06-02 15:05] justinsb commented on #46853
Thanks for the heads up @liggitt - on it now!

[2017-06-02 15:09] kargakis commented on #40063
/sig cluster-lifecycle

[2017-06-02 15:18] #46853 closed

[2017-06-02 15:19] MikeSpreitzer commented on #43556
My first attempt with an Ubuntu VM gave it 5 GB of memory and 4 CPUs, and there were a lot of failures.  I am trying again with 6 GB of memory and 2 CPUs; so far all the tests are passing, but there are error messages even so.

Where does one hack in that `-p 1`?

[2017-06-02 15:34] mtanino commented on #46768
In this case, you don't need to specify items.

[code]
Without items, you could see prometheus-kubernetes.yml under /etc/prometheus/.
[code]

[2017-06-02 15:40] tsn77130 commented on #45350
Hum, OK, I restarded cluster and error no more appears.

Registration to openstack works great, and disk is now mounted with pod definition
@bradbeam Thanks a lot, I can go on weekend with smile thanks to you ;)

[2017-06-02 15:54] burdiyan commented on #44254
This is a huge blocker for us right now. I'm building Kubernetes cluster in GCE with CoreOS and Weave Net as CNI plugin. And there is no way to start kubelet with `--cloud-provider=gce`, because pods cannot be scheduled this way.

[2017-06-02 16:03] fgrzadkowski commented on #6284
@kubernetes/sig-cli-feature-requests

[2017-06-02 16:03] zoltrain commented on #45419
I had something similar just happen to me running kubelet version 1.6.2 on GKE.

One of our nodes got shifted into a not ready state, the kubelet logs on that node had two complaints, one that the PLEG status check failed, and two interestingly, that the image listing operations failed.

Some examples of which image function calls failed.
image_gc_manager.go:176
kuberuntime_image.go:106
remote_ima

[2017-06-02 16:07] fgrzadkowski commented on #34126
@kubernetes/sig-autoscaling-bugs

[2017-06-02 16:17] fgrzadkowski commented on #42485
@kubernetes/sig-release-feature-requests

[2017-06-02 16:17] therc commented on #45935
I have a 1.5 backport of #43878, if that helps. I had found it after @msau42's helpful pointer.

[2017-06-02 16:20] bowei commented on #40063
/sig network

[2017-06-02 16:21] shiywang commented on #6284
I'm work on a new command `kubectl apply diff-last-applied` here https://github.com/kubernetes/kubernetes/pull/46560, I think part of the code could be reuse, if there any one already taken this yet ? if not, I would like to do that

[2017-06-02 16:25] ahume commented on #37666
Is it possible to achieve the above using `kubectl annotate` command?

[2017-06-02 16:35] mkumatag commented on #43556
Now with the latest upstream code you can invoke by `make test-integration GOFLAGS="-p 1"`

[2017-06-02 16:42] dchen1107 opened #46867 "ci-kubernetes-verify-master failed since 00:37am today"
https://k8s-testgrid.appspot.com/google-unit#verify-master

I0602 00:51:43.045] +++ /go/src/k8s.io/kubernetes/_tmp_federation/openapi-spec/swagger.json	2017-06-02 00:38:17.595732994 -0700
I0602 00:51:43.045] @@ -2,7 +2,7 @@
I0602 00:51:43.045]    "swagger": "2.0",
I0602 00:51:43.045]    "info": {
I0602 00:51:43.045]     "title": "Generic API Server",
I0602 00:51:43.045] -   "version": "v1.8.0"
I06

[2017-06-02 16:46] cblecker commented on #46867
It's also failing on PRs: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-verify

[2017-06-02 16:52] mml commented on #43520
/sig apps

[2017-06-02 16:52] yujuhong commented on #23220
Closing due to age. Please open a new issue if the problem persists.

[2017-06-02 16:52] #23220 closed

[2017-06-02 16:54] justinsb commented on #46867
Fix in https://github.com/kubernetes/kubernetes/pull/46869

[2017-06-02 16:54] fgrzadkowski commented on #46847
@kubernetes/sig-autoscaling-feature-requests

[2017-06-02 16:54] mml commented on #38275
This seems flaky specifically for pull-kubernetes-e2e-gce-etcd3.

[2017-06-02 16:56] mikedanese commented on #46867
https://github.com/kubernetes/kubernetes/pull/46863 is merged

[2017-06-02 16:56] #46867 closed

[2017-06-02 16:58] dchen1107 commented on #46867
Thanks! But do we know what is the root cause? Can this step automated in the future for each release, at least have a clear document for such process?

[2017-06-02 17:05] kargakis commented on #38275
@fejta how can I use the triage tool to track this down?

[2017-06-02 17:10] MikeSpreitzer commented on #43556
Can I mix `GOFLAGS` and `KUBE_FLAGS` or do I have to put all in one?

[2017-06-02 17:14] nicksardo commented on #40778
/close

[2017-06-02 17:14] #40778 closed

[2017-06-02 17:15] freehan commented on #46651
@dchen1107

The ip-masq-agent is scheduled to be added in 1.7 anyway. It is currently not enabled in e2e test config but in the default config.

iptables rule is not persistent across reboots. And the SNAT rule for outbound traffic is added by kubenet, which is triggered per pod start up and tear down.

Yes. There should be a network connectivity test after reboot case.

[2017-06-02 17:17] bowei commented on #42451
/assign

[2017-06-02 17:17] bowei commented on #42451
/close

[2017-06-02 17:17] #42451 closed

[2017-06-02 17:18] wongma7 commented on #46540
Yes that's the only way provisioners can bubble up errors now (leave PVC pending and write an e.g. 'ProvisioningFailed' event on the PVC), but I have to consider the possibility of introducing create time validation

Because it would be nice to have + because it was the original RFE behind this issue... and also because we have other features that might benefit from getting this pattern done: e.g.

[2017-06-02 17:20] nicksardo commented on #29075
I believe we have this level of logging now for LB creation, but at V=2 and the default being V=4.  Is it satisfactory to up the verbosity to see these milestones?

[2017-06-02 17:22] nicksardo commented on #29075
/assign
/sig network
/area platform/gce
/remove-area kubectl
/remove-area test-infra

[2017-06-02 17:30] ompraash commented on #11382
executing top node command fails as below

[code]
kubectl version is : 1.5

[2017-06-02 17:31] msau42 commented on #42867
/sig storage

[2017-06-02 17:31] justinsb opened #46871 "kube-controller-manager controllers are skipped"
Edit: see next comment ( https://github.com/kubernetes/kubernetes/issues/46871#issuecomment-305866515) for kube-controller-manager likely root-cause

We're seeing some e2e failures where the scheduler gets the lock, but then stops logging.

Bad: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/46700/pull-kubernetes-e2e-kops-aws/28741/artifacts/ec2-54-183-154-56.us-west-1.compute.amaz

[2017-06-02 17:31] nicksardo commented on #28784
@phutchins I don't know what the code was for this old version, but I believe the GCE ingress controller should be resyncing all ingresses at a configurable period. Have you seen this with a more recent version?

[2017-06-02 17:32] nicksardo commented on #28784
/assign

[2017-06-02 17:33] curtisallen commented on #46806
Thanks for taking a look @ericchiang and @liggitt
This issue seems like an analog to the `insecure-skip-tls-verify`option, OPs may or may not provide the `email_verfied = true` claim. I would think the k8s cluster administrator should have to option of disabling this check. I agree that the default functionality should check for the existence of `email_verfied == true`.
The OIDC spec states

Witho

[2017-06-02 17:33] nicksardo commented on #28784
/remove-area kubectl
/area platform/gce

[2017-06-02 17:34] justinsb commented on #46370
Dug into two tests, one successful, one failing, and compared them.  Opened #46871 with what I have found.  kube-scheduler stops logging.

Going to see if I can reproduce locally testing 1.7 / 1.8.  I haven't seen this with 1.6, so it might be something in 1.7, but then I don't understand why it wouldn't affect all tests.

[2017-06-02 17:36] mml commented on #3885
I am closing this as fixed.  We can easily search for and refer to this issue for ideas later.

[2017-06-02 17:36] #3885 closed

[2017-06-02 17:37] mml commented on #6080
I am closing this as fixed as well.  Same rationale as #3885.

[2017-06-02 17:37] #6080 closed

[2017-06-02 17:38] piosz commented on #46763
@mwielgus, @x13n  this is something we discussed recently.

[2017-06-02 17:40] rrati commented on #43516
Does anyone see this issue outside of cloud provider nodes?

[2017-06-02 17:41] kevin-wangzefeng commented on #46568
@k82cn the admission controller only restricts hard pod AntiAffinity to node level for DoS concern, soft pod AntiAffinity is OK.

[2017-06-02 17:51] janetkuo commented on #37666
You can only annotate a resource (update a resource's `.metadata.annotations` field), such as a pod or a deployment, but not a deployment's pod template.

[2017-06-02 17:56] jayunit100 commented on #43516
We've seen nodeflapping in openshift as well ; the higher the scale, the higher the likeliehood - reason simply being that API server i guess drops or misses some queries once in a while.

[2017-06-02 17:59] justinsb commented on #46871
OK, it looks like actually kube-controller-manager is not creating pods (AFAICT).  I saw this in the log:

[code]

`W0602 16:59:42.277435       5 controllermanager.go:449] Skipping "deployment"` looks like root cause, and does not appear in the "good" run.

[2017-06-02 17:59] dchen1107 commented on #46651
This is weird to me. Why enabled it in 1.7 by default, but not test in e2e even now? Are we talking about a new agent to every node by default? For OSS K8S? Or Only GKE? Do we understand the impact to the users yet? What is the extra resource overhead? Is the agent running as a native daemon? Or daemonset? If that agent failed, who should recover it?

[2017-06-02 18:00] justinsb commented on #46871
The two test runs, as much for my records:

Good: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46866/pull-kubernetes-e2e-kops-aws/28742/
Bad: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46700/pull-kubernetes-e2e-kops-aws/28741/

[2017-06-02 18:04] smarterclayton commented on #46540
Anything that can reasonably change over the lifetime must be represented
in status (pod state).  Anything that never should change over lifetime can
be done at create (service ip).  Dynamic provisioning is in a weird spot in
the middle, in that

A) there can be multiple provisioners competing for a class (although not
always)
B) a storage class can change over the lifetime of a cluster, although

[2017-06-02 18:04] justinsb commented on #46871
Looking at the code, I'm wondering if this could be a race with resource registration:

[code]

That's the only way this can return false, which is when "Skipping" is logged:

[code]

Is that even possible cc @k8s-mirror-api-machinery-bugs ?  Any hints / other ideas if not?

cc @dchen1107 as I know you want to be kept in the loop on this investigation.

[2017-06-02 18:05] justinsb commented on #46871
Ah ... it is definitely _something_ to do with registration, because this also appears:

[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/46700/pull-kubernetes-e2e-kops-aws/28741/artifacts/ec2-54-183-154-56.us-west-1.compute.amazonaws.com/kube-controller-manager.log

[2017-06-02 18:06] smarterclayton commented on #30158
Writing self link to etcd is bad because it's wrong data and could potentially leak.

[2017-06-02 18:12] dchen1107 commented on #46871
cc/ @erictune I don't know the deployment belongs to which sig (marked with sig/apps for now), I guess you are interested in this issue.

@janetkuo

[2017-06-02 18:34] ericchiang commented on #46806
@curtisallen we intentionally do not provide an insecure-skip-tls-verify and this discussion parallels that thinking.

I think there are a ton of nobs that users would like to see for this plugin. Multiple audiences, customizable prefixing, and dealing with difference concepts of groups are common ones. I don't know how much of that lives in core kube.

[2017-06-02 18:41] MrHohn commented on #46737
Logs from the failing firewall test:
[code]

[2017-06-02 18:43] coresolve commented on #22469
looks like https://github.com/kubernetes/kubernetes/pull/26720 closed due to inactivity. Are folks still working on it?

[2017-06-02 18:47] #46357 closed

[2017-06-02 18:48] bowei commented on #46651
The issue with kube-dns is that it is failing the health check which tests for health of the entire DNS pipeline. This means when there is a network disruption, the DNS pod will be killed and restarted. I don't see that we have much of a choice there -- either we allow the DNS pod to live even though it is not working (has network connectivity to the API server) or we have it stay alive but not be

[2017-06-02 18:51] ericchiang commented on #31380
fyi this is now documented https://github.com/kubernetes/kubernetes.github.io/pull/2894 which was what this original issue was about.

/close

[2017-06-02 18:51] #31380 closed

[2017-06-02 18:53] rrati commented on #43516
Looking through various cloud providers it appears that there isn't a timeout problem so much as an error handling problem.  I think what happens is the node is attempting to put together a node status update, and for a cloud provider node that includes querying the metadata service.  If that query fails, because the api is unresponsive for example, then the node update is aborted.  So, if there i

[2017-06-02 18:56] cblecker commented on #46832
/cc @bryk @danielromlein

[2017-06-02 18:58] curtisallen commented on #46806
Yeah, I'd agree, would be nice If I could apply my own OIDC module configuration, without having to change k8s core source.

[2017-06-02 19:15] kargakis commented on #46871
cc: @deads2k

[2017-06-02 19:16] nicksardo commented on #46645
Hmm, I don't think it's that easy. From my understanding, setting MaxRate or MaxRatePerInstance to MaxInt64 would result in overloading a zone or specific instance, respectively.  @dgpc, what do your clusters look like? Are they running in multiple zones in the same region?

Agreed, the ideal solution would be to have a meaningful RPS value. I'm not sure if the long term goal is to have this autom

[2017-06-02 19:17] fejta commented on #42897
/remove-sig testing

[2017-06-02 19:17] kargakis commented on #45706
Dupe of https://github.com/kubernetes/kubernetes/issues/46871?

[2017-06-02 19:18] fejta commented on #6699
/close

[2017-06-02 19:18] #6699 closed

[2017-06-02 19:20] fejta commented on #44690
/remove-sig testing
Looks like these are pkg/proxy, which I believe is @kubernetes/sig-network-misc

[2017-06-02 19:20] Q-Lee opened #46877 "RBAC DENY messages are spammy with podsecuritypolicies"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Kubernetes version** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: the psp admission controller iterates through applicable psps for both the user and t

[2017-06-02 19:22] bryk commented on #46832
I just added it. Fixed?

[2017-06-02 19:22] #46832 closed

[2017-06-02 19:29] deads2k commented on #46871
@justinsb Do you have an interlock between seeing `/healthz` report "ok" before pointing the `kube-controller-manager` at it?  I'd kind of expect something like the readiness checks for a service.  This incomplete discovery information could be the result of incomplete autoregistration.

[2017-06-02 19:32] smarterclayton commented on #44690
These are actually caused by the unit tests (go unit tests) starting an http server.  We launch an etcd server in some of them, although that typically uses the unix domain socket.

[2017-06-02 19:33] justinsb commented on #45706
Not sure if a dup.  #46871 is a flake though - i.e. sometimes the controllers are skipped, sometimes they are not.  My knee-jerk reaction was some sort of race between API registration and controller startup.

I'm not clear whether this is a flake or not?  If it's a flake, I don't think it's about whether flags are enabled (unless we have deeper problems ;-) )

What is doubly weird is that when I

[2017-06-02 19:33] dchen1107 commented on #45368
@kubernetes/goog-image resolved the kernel panic reported at  #45368 (comment) for COS image. Thanks!

commit 43966ab2563e2df7cd0434350ee01d26ecaa615c
Author: Konstantin Khlebnikov <khlebnikov@yandex-team.ru>
Date:   Thu Jun 16 15:57:01 2016

    UPSTREAM: sched/fair: Initialize throttle_count for new task-groups lazily

    Cgroup created inside throttled group must inherit current throttle_count

[2017-06-02 19:36] rrati commented on #46442
I also think the GCE behavior is what make sense.  I know @justinsb has had some reservations with that approach.

[2017-06-02 19:37] justinsb commented on #46871
I don't believe we do, no.  apiserver will come up on localhost and k-c-m talks to it directly.  There's no kube-proxy (hence no health checks) involved, for example.

Do you have an example of how such an interlock is implemented elsewhere?  I'm happy to implement it in kops, though I'm not sure whether this would affect others also.

[2017-06-02 19:42] nicksardo commented on #46645
@dgpc, overloading a zone or instance would be subtle because it's only ingress traffic overloading a zone/backend. Kube proxy round robins traffic to all the pods in the cluster. I haven't tried this, but theoretically, if you set the service's externalTrafficPolicy flag to OnlyLocal, and you're running a few pods on several machines across a few zones, you should see a load disparity between the

[2017-06-02 19:44] PaulFurtado commented on #39178
It looks like PVC logic will also create the volume in the wrong availability zone if you specify a nodeSelector on the pod to attach it to.

There must be a better way to select the availability zone than querying the AWS API for the KubernetesCluster tag so that kubernetes pod placement logic is actually considered in the process.

[2017-06-02 19:45] deads2k commented on #46871
local-up-cluster does a simple check: https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L534 .  I'm not necessarily opposed to adding a check in the kube-controller-manager, but it seems like a more general problem.  `/healthz` is how the API server indicates health.  I don't think it should deny requests by default because that could make debugging bad conditions reall

[2017-06-02 19:51] rrati commented on #46442
Some more comments from #45986

I would agree with this statement.  If you lose all local data then the node isn't the same when it comes back.  In my testing on AWS, GCE, and Openstack though a stopped node doesn't lose local state.  When the instance is started it is able to rejoin the kube pool without any issues.

I would need to verify, but I believe some pods running on the nodes may have ha

[2017-06-02 19:52] mengqiy commented on #46826
/sig cli

[2017-06-02 19:53] MattMencel commented on #42026
https://github.com/coreos/tectonic-installer/pull/639

[2017-06-02 19:53] #42026 closed

[2017-06-02 19:54] #37614 closed

[2017-06-02 20:09] rrati commented on #46442
Let me clarify.  A stopped node wouldn't lose any local disk information, but obviously would lose anything in memory just as a rebooted node would.

[2017-06-02 20:13] dgpc commented on #46645
@nicksardo at the moment, for the service where we are having this issue, we are running clusters in a single zone of each of multiple regions, but at some point we might move to 2 zones per region.

My understanding from experimenting with the maxRPS setting is that setting it to a large value causes traffic to go to the cluster in the correct region, and round-robin across nodes within the clust

[2017-06-02 20:19] xiangpengzhao commented on #46832
Yeah. BTW, the page https://github.com/kubernetes/community/blob/master/sig-ui/README.md has a bad md format. It also should be fixed.

[2017-06-02 20:21] cblecker commented on #46832
@xiangpengzhao Feel free to send a PR to fix :)

[2017-06-02 20:27] dims commented on #45350
/assign

[2017-06-02 20:28] dims commented on #45350
/close

Looks like there's nothing to fix in this issue. Please reopen if needed

[2017-06-02 20:28] #45350 closed

[2017-06-02 20:29] dims commented on #19264
/assign

[2017-06-02 20:29] dims commented on #19264
/close

[2017-06-02 20:29] #19264 closed

[2017-06-02 20:31] dims commented on #31646
/assign

[2017-06-02 20:31] dims commented on #31646
/close

#31321 has merged already

[2017-06-02 20:31] #31646 closed

[2017-06-02 20:31] xiangpengzhao commented on #46832
@cblecker As Piotr is the owner, I thought let him fix:) If it's Okay, I will do. Thanks Christoph!

[2017-06-02 20:33] dims commented on #26527
/assign

[2017-06-02 20:35] dims commented on #26527
/close

Looks like this is a wont-fix as there is no way to recreate the DB2 environment easily. please free to reopen if you have an environment to recreate the problem.

[2017-06-02 20:35] #26527 closed

[2017-06-02 20:36] dims commented on #38671
/assign

[2017-06-02 20:37] dims commented on #38671
/close

Let's mark this as closed with @NickrenREN 's #39468 PR

[2017-06-02 20:37] #38671 closed

[2017-06-02 20:38] dims commented on #36632
/assign

[2017-06-02 20:38] justinsb commented on #46871
I guess we could add it as an initializer in the kcm pod.  I am a little lost as to how gce isn't hitting this also, because I don't see that readiness check.  One gotcha is that apiserver could crash in between /healthz and the resource scan.

Which makes me wonder: Is kcm is making an assumption that the set of resources is fixed, and is that assumption no longer valid?   So if kcm sees that a r

[2017-06-02 20:38] dims commented on #36632
/close

[2017-06-02 20:38] #36632 closed

[2017-06-02 20:38] verult opened #46882 "FlexVolume unable to mount plugins that do not require an attach."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "flexVolume", "flex volume"

---
Kubernetes version:

[2017-06-02 20:39] xiangpengzhao commented on #46861
/sig cli

[2017-06-02 20:40] cblecker commented on #46832
anyone can contribute to the kubernetes/community repo too :) the PR would be reviewed like any other (usually the sig-lead for that sig would review)

[2017-06-02 20:44] dims commented on #45502
I'd say failing early is a feature and reduces heart burn trying to hunt for a warning in the logs later. no? :)

[2017-06-02 20:44] dims commented on #45502
/assign

[2017-06-02 20:44] dims commented on #45502
/close

[2017-06-02 20:44] #45502 closed

[2017-06-02 20:45] xiangpengzhao commented on #46832
Okay:)

[2017-06-02 20:47] verult commented on #46882
When "attach" is not implemented by the plugin, the FlexVolume default attach method returns an empty devicePath (signaling an attach didn't occur) and nil error.
https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/volume/flexvolume/attacher-defaults.go#L37

But inside OperationGenerator's attach function, when there is no error and devicePath is empty, the volume doesn't get marked as a

[2017-06-02 20:48] verult commented on #46882
/sig storage

[2017-06-02 20:49] dims commented on #36983
Should have been fixed already in master (example #43878)

[2017-06-02 20:49] dims commented on #36983
/assign

[2017-06-02 20:49] dims commented on #36983
/close

please reopen if needed.

[2017-06-02 20:49] #36983 closed

[2017-06-02 20:51] justinsb commented on #46871
One possible explanation\: we always run kcm with leader election, even in single master configurations, and my guess is that means we get to the apiserver faster (no kubelet backoff).  Which I guess would imply we would see this more in HA configurations also, if that is the significant difference.

[2017-06-02 20:59] ahmetb commented on #44690
We can close this if it's not high priority enough to support `make test` on macOS. It's unfortunate macOS doesn't allow suppressing these pop-ups (and they're per-binary based to whitelist, which is nearly impossible with test binaries).

[2017-06-02 21:00] prabhakm commented on #42150
I have this issue as well and salt provisioning gets into infinite loop
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-12T04:57:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}

[2017-06-02 21:16] caesarxuchao commented on #45978
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46500/pull-kubernetes-federation-e2e-gce/8463/

[2017-06-02 21:17] caesarxuchao commented on #45978
I'm reopening the issue. @madhusudancs could you take a look? Since the error message is `error during ./federation/cluster/federation-up.sh: exit status 255`, so it might be a test-infra issue.

[2017-06-02 21:29] verult commented on #46882
/cc @chakri-nelluri

[2017-06-02 21:31] madhusudancs commented on #45978
@caesarxuchao this test ran when we had just fixed the test infra issue and redeploying things. You shouldn't see this problem if you re-run the test now.

[2017-06-02 21:42] mwielgus commented on #46763
I will take this.

[2017-06-02 21:45] janetkuo commented on #33245
@zhan849 yes, please open a new bug with reproduce steps, K8s version, mention that all controllers keep waiting for pod store to sync, and cc sig api-machinery.

[2017-06-02 21:50] caseydavenport commented on #22469
I think we'l re-open or open another if/when that becomes active again.  For now, no one is actively working on it so it's probably right to close.

[2017-06-02 21:58] janetkuo commented on #33245
@vnandha when the node is unreachable, the decision to delete the pods cannot be communicated to the kubelet until it re-establishes communication with the apiserver. In the meantime, the pods which are scheduled for deletion may continue to run on the partitioned node. https://kubernetes.io/docs/concepts/architecture/nodes/#condition

If you want to delete a DaemonSet cascadingly, all its pods ne

[2017-06-02 22:00] caseydavenport commented on #39113
I thought this as well, but I'm seeing this behavior even when I set the `--event-qps=0` option on the kubelet which I would expect to disable the rate limiting.

[2017-06-02 22:04] yujuhong commented on #39113
You need to set the `kube-api-qps` and the `kube-api-burst`, in addition to `event-qps` and `event-burst`
https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.0/cmd/kubelet/app/options/options.go#L267-L268
https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.0/cmd/kubelet/app/options/options.go#L199-L200

[2017-06-02 22:05] k8s-merge-robot opened #46886 "Failure cluster [7d7095...] failed 154 builds, 57 jobs, and 1 tests over 1 days"
### Failure cluster [7d709533623982a1223f](https://go.k8s.io/triage#7d709533623982a1223f)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    57 jobs failed,    154 builds failed.
Failure stats cover 1 day time range '1 Jun 2017 19:54 UTC' to '2 Jun 2017 19:54 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| DumpClusterLogs | 57 |

[2017-06-02 22:05] k8s-merge-robot opened #46887 "pr:pull-kubernetes-federation-e2e-gce flaked 126 times in the past week"
### Flaky Job: pr:pull-kubernetes-federation-e2e-gce
 Flakes in the past week: **126**
 Consistency: **91.10%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Federation Up | 101 |
| FederationTest | 47 |
| [k8s.io] Federated Services [Feature:Federation] with clusters Federated Service should recreate service shard in underlying clusters when service shard is deleted

[2017-06-02 22:06] smarterclayton commented on #44690
I haven't seen this happen locally.  Is this the latest patch release?

On Fri, Jun 2, 2017 at 5:00 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2017-06-02 22:07] caseydavenport commented on #39113
d'oh, thanks.  I totally missed those options...  I'll give it another run and see if that makes things better.

[2017-06-02 22:10] yastij opened #46888 "Audit false sharing on structs"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No.

---

We should audit code to explore any false sharing on our structs.

Solution on extreme cases is to use padding to avoid false sharing.

[2017-06-02 22:10] yastij commented on #46888
/kind enhancement

[2017-06-02 22:13] ericchiang commented on #46702
I'm a little confused with the client story. Will the CRD client be pre-generated or will users have to generate those clients? I understand that's the long term goal for client-go, but wasn't aware that that had materialized yet.

[2017-06-02 22:19] mindprince opened #46889 "e2e_node tests on cos-beta-59-9460-20-0 image are failing"
e2e_node tests on cos-beta-59-9460-20-0 image use GPUs. To install the NVIDIA drivers, we have to disable loadpin which requires a restart. This results in the runner losing connection with the instance which results in the tests failing/erroring.

One way to fix this is to make sure that cloud-init has finished before starting the tests.

Something like:
[code]

We need to make sure that we only

[2017-06-02 22:20] ahmetb commented on #44690
It was `master` branch at the time of opening the issue.

[2017-06-02 22:20] #46631 closed

[2017-06-02 22:22] mindprince commented on #46889
Example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/1426?log#log

[code]

[2017-06-02 22:25] piosz commented on #11382
@ompraash please create an issue with more details and cc me there.

[2017-06-02 22:36] jimmycuadra commented on #39178
I think using the information the API server has about the nodes is a more resilient approach. See my previous comment: https://github.com/kubernetes/kubernetes/issues/39178#issuecomment-273660193

[2017-06-02 22:40] bryk commented on #46832
Yep @xiangpengzhao, just fix things when you can. That's just faster :)

[2017-06-02 22:47] dims commented on #46790
Looks like a dup of question on stack overflow - https://stackoverflow.com/questions/44314054/how-to-run-kubernetes-on-intel-edison

We regularly see messages posted in multiple forums, with the full response thread only in one place or, worse, spread across multiple forums. Also, the large volume of support issues on github is making it difficult for us to use issues to identify real bugs.

Thank

[2017-06-02 22:47] dims commented on #46790
/assign

[2017-06-02 22:47] dims commented on #46790
/close

[2017-06-02 22:47] #46790 closed

[2017-06-02 22:54] dims commented on #46882
@verult So what's the suggestion here on how to handle this situation?

[2017-06-02 22:54] vishh commented on #46889
@dchen1107 @mindprince is working on a fix for node e2es. It's currently failing serial tests on COS.

[2017-06-02 22:54] piosz commented on #44609
cc @mwielgus

[2017-06-02 23:05] kargakis commented on #40140
@yujuhong assigning this to you since the only place left to use adler is in [kubelet](https://github.com/kubernetes/kubernetes/blob/310ea94b6e0694ab08e3aa6185919be92419e932/pkg/kubelet/container/helpers.go#L111) and it's a legacy helper.

[2017-06-02 23:06] kargakis commented on #40140
/assign @yujuhong

[2017-06-02 23:07] kargakis commented on #38383
@kubernetes/sig-release-misc

[2017-06-02 23:10] kargakis commented on #30770
/sig api-machinery

[2017-06-02 23:13] kargakis commented on #25146
@derekwaynecarr not sure which sig owns quota, can you relabel this issue accordignly?

[2017-06-02 23:16] liggitt commented on #33002
There are tests under https://github.com/kubernetes/kubernetes/tree/master/pkg/controller/certificates now… @mikedanese, you see gaps you want to keep this open to track?

[2017-06-02 23:16] kargakis commented on #1801
/sig testing ?

[2017-06-02 23:17] kargakis commented on #2133
/sig release

[2017-06-02 23:18] chakri-nelluri commented on #46882
@verult @dims.. It seems to work fine with 1.6 code base. Nothing changed AFAIK in this area for 1.7. Checking with @verult on slack to get more details

[2017-06-02 23:19] kargakis commented on #2643
/sig node

[2017-06-02 23:19] smarterclayton commented on #44690
I mean the latest patch release of Mac

On Fri, Jun 2, 2017 at 6:20 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2017-06-02 23:21] kargakis commented on #2707
@kubernetes/sig-node-proposals

[2017-06-02 23:22] zhan849 opened #46890 "All controllers keep on waiting for Pod store to sync"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): followed discussion  in #33245 , and @janetkuo thoug

[2017-06-02 23:22] kargakis commented on #3399
@kubernetes/sig-storage-misc

[2017-06-02 23:22] zhan849 commented on #33245
@janetkuo filed #46890, cannot find the sig api-machinery group. could you pls add it?

[2017-06-02 23:23] kargakis commented on #3606
@kubernetes/sig-docs-maintainers

[2017-06-02 23:24] kargakis commented on #3606
/sig docs

[2017-06-02 23:24] zhan849 commented on #46890
/sig api-machinery

[2017-06-02 23:26] kargakis commented on #3676
I think owner references are covering this issue now, please reopen if this does not hold true.

[2017-06-02 23:27] kargakis commented on #2644
@kubernetes/sig-api-machinery-misc

[2017-06-02 23:27] yguo0905 opened #46891 "Support validating GKE images"
This issue tracks the support of validating images used on GKE.

- [x] https://github.com/kubernetes/kubernetes/pull/46238: Support validating package versions in node conformance test.
- [x] https://github.com/kubernetes/kubernetes/pull/46893: Support customized system spec in the node conformance test and create the GKE system spec.
- [x] https://github.com/kubernetes/kubernetes/pull/49064: Test

[2017-06-02 23:28] kargakis commented on #3515
@kubernetes/sig-testing-misc

[2017-06-02 23:29] ahmetb commented on #3606
Although I'm not clear what this issue particularly requests, many API fields now link to kubernetes.io for relevant concepts/docs. Take a look at `kubectl explain` for various fields/resources and you'll see many links to kubernetes.io.

I'm not closing as I am not certain if this is what's requested.

[2017-06-02 23:30] kargakis commented on #3698
@kubernetes/sig-apps-misc

[2017-06-02 23:31] yguo0905 commented on #46891
/sig node
/area node-e2e
/assign

[2017-06-02 23:31] kargakis commented on #3687
/sig release

[2017-06-02 23:33] kargakis commented on #3669
@abonas @kubernetes/sig-node-feature-requests  is this an issue anymore?

[2017-06-02 23:34] kargakis commented on #4447
@kubernetes/sig-network-misc

[2017-06-02 23:35] kargakis commented on #5190
@kubernetes/sig-cluster-lifecycle-feature-requests

[2017-06-02 23:35] montanaflynn opened #46892 "Cannot access kubernetes dashboard UI"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-02 23:36] ahmetb commented on #45249
Just in `pkg/api/types.go`, there are 15 fields of type `ResourceList` (=`map[ResourceName]resource.Quantity`). The ones I described above (ResourceRequirements.{Limits,Requests}) are only 2 of them.

Which of the following routes is more preferable?

1. document what fields are accepted to all 15 fields (and possibly to all usages of ResourceList type fields in other types.go files)
2. document w

[2017-06-02 23:36] kargakis commented on #5281
@kubernetes/sig-cli-feature-requests

[2017-06-02 23:38] kargakis commented on #6181
/sig release

[2017-06-02 23:38] kargakis commented on #6132
@kubernetes/sig-cli-misc

[2017-06-02 23:39] kargakis commented on #5820
@kubernetes/sig-cli-proposals

[2017-06-02 23:40] kargakis commented on #9879
@kubernetes/sig-api-machinery-misc

[2017-06-02 23:41] kargakis commented on #9072
/sig networking

[2017-06-02 23:41] kargakis commented on #9072
/sig network

[2017-06-02 23:45] kargakis commented on #46781
/sig openstack

[2017-06-02 23:46] kargakis commented on #46722
/sig api-machinery
/sig cli

[2017-06-02 23:47] kargakis commented on #46712
/sig network

[2017-06-02 23:47] kargakis commented on #46705
@kubernetes/sig-api-machinery-misc

[2017-06-02 23:48] kargakis commented on #46791
/sig cluster-lifecycle

[2017-06-02 23:48] montanaflynn commented on #46892
Made an issue on the dashboard repo as well in case it belonged there: https://github.com/kubernetes/dashboard/issues/2011

[2017-06-02 23:49] kargakis commented on #46670
/sig node

[2017-06-02 23:50] kargakis commented on #46641
/sig scalability

[2017-06-02 23:50] kargakis commented on #46679
@kubernetes/sig-api-machinery-misc

[2017-06-02 23:50] bckcntryskr commented on #46712
a newby hack here, the following is the IPv6 equivalent:
testKubeletHostname = "::1"
testKubeletHostIP   = "::1"

[2017-06-02 23:51] kargakis commented on #46629
@kubernetes/sig-apps-misc

[2017-06-02 23:51] freehan commented on #46651
Okay. After a debugging session with @MrHohn and @dnardo , we finally figure out why the SNAT rule disappeared. The outbound SNAT rule is ensured during kubelet initialization and every pod setup/teardown.

After reboot, kubelet restarted and tried to recreate all the pods, during which the SNAT rule gets added. Meanwhile, salt reruns the bootstrap scripts after reboot. In the bootstrap script, it

[2017-06-02 23:52] smarterclayton commented on #46705
The etcd folks were the ones who set up this compaction in Kubernetes when we moved to v3.  @xiang90 @hongchaodeng

[2017-06-02 23:53] kargakis commented on #46569
Closing in favor of the stackoverflow question

[2017-06-02 23:53] #46569 closed

[2017-06-02 23:53] kargakis commented on #46244
@kubernetes/sig-storage-test-failures

[2017-06-02 23:54] kargakis commented on #7881
@kubernetes/sig-release-misc

[2017-06-02 23:54] kargakis commented on #7239
/sig storage

[2017-06-02 23:55] kargakis commented on #6487
@kubernetes/sig-api-machinery-misc this seems fixed now?

[2017-06-02 23:56] kargakis commented on #6450
/sig testing

[2017-06-02 23:56] verult commented on #46882
The devicePath == "" check in operation generator was introduced in this PR post 1.6:
https://github.com/kubernetes/kubernetes/pull/44537

I'm trying to understand the intention of this change and thinking about a good way to get around it for FlexVolume, but one possibility is to have FlexVolume's default attacher return a special error, which is then caught by the Attach method in operation gene

[2017-06-02 23:56] kargakis commented on #6808
@kubernetes/sig-cli-misc

[2017-06-02 23:57] kargakis commented on #6979
/sig node

[2017-06-02 23:58] kargakis commented on #7642
@kubernetes/sig-api-machinery-misc

[2017-06-02 23:58] kargakis commented on #8003
/sig apps
/sig network

[2017-06-02 23:59] kargakis commented on #8202
/sig network

[2017-06-03 00:00] kargakis commented on #8271
/sig api-machinery

[2017-06-03 00:01] kargakis commented on #8313
/sig cluster-lifecycle
/sig release

[2017-06-03 00:02] kargakis commented on #8520
/sig node
/sig docs

[2017-06-03 00:02] verult commented on #46882
I can take a look and propose a PR fix.

/assign @verult

[2017-06-03 00:02] kargakis commented on #8879
/sig testing

[2017-06-03 00:03] kargakis commented on #8876
/sig cli

[2017-06-03 00:04] kargakis commented on #8910
@kubernetes/sig-storage-feature-requests

[2017-06-03 00:05] kargakis commented on #10308
hack/local-up-cluster is using 4 now and I think the same stands for our test jobs

[2017-06-03 00:05] #10308 closed

[2017-06-03 00:06] kargakis commented on #10516
@kubernetes/sig-cli-misc

[2017-06-03 00:07] kargakis commented on #10527
@kubernetes/sig-cli-misc

[2017-06-03 00:07] kargakis commented on #10603
@kubernetes/sig-storage-misc

[2017-06-03 00:08] kargakis commented on #10630
/sig cli

[2017-06-03 00:08] mikedanese commented on #33002
This is fine

[2017-06-03 00:08] #33002 closed

[2017-06-03 00:09] kargakis commented on #10669
@kubernetes/sig-network-misc @kubernetes/sig-testing-misc

[2017-06-03 00:10] kargakis commented on #10710
@kubernetes/sig-api-machinery-misc

[2017-06-03 00:11] kargakis commented on #10626
/sig federation
/sig api-machinery

[2017-06-03 00:12] kargakis commented on #10396
/sig node

[2017-06-03 00:12] msau42 commented on #3399
We have a bunch of volume tests now under the storage/ directory.  I think this can be closed, unless there's any other specifics that we want here?

[2017-06-03 00:13] kargakis commented on #10387
/sig auth

[2017-06-03 00:14] kargakis commented on #11384
@kubernetes/sig-cli-misc

[2017-06-03 00:14] kargakis commented on #11497
/sig release

[2017-06-03 00:15] kargakis commented on #11557
/sig docs

[2017-06-03 00:15] kargakis commented on #11212
/sig cli
/sig apps

[2017-06-03 00:16] kargakis commented on #11233
/sig cli

[2017-06-03 00:17] kargakis commented on #11331
/sig ui

[2017-06-03 00:18] kargakis commented on #11209
/sig apps

[2017-06-03 00:18] kargakis commented on #11148
/sig cli

[2017-06-03 00:19] kargakis commented on #11040
@kubernetes/sig-docs-maintainers

[2017-06-03 00:19] kargakis commented on #11040
/sig docs

[2017-06-03 00:20] kargakis commented on #11046
/sig node

[2017-06-03 00:20] kargakis commented on #11140
/sig api-machinery

[2017-06-03 00:20] kargakis commented on #11332
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-03 00:21] kargakis commented on #11173
@caesarxuchao is this still an issue?

[2017-06-03 00:22] kargakis commented on #10975
Can't find a @kubernetes/sig-node-misc team @kubernetes/sig-node-feature-requests

[2017-06-03 00:23] kargakis commented on #10781
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-03 00:23] kargakis commented on #10748
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-03 00:23] kargakis commented on #10726
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-03 00:24] kargakis commented on #10586
@caesarxuchao still an issue?

[2017-06-03 00:25] kargakis commented on #10377
@kubernetes/sig-node-feature-requests

[2017-06-03 00:25] xiangpengzhao commented on #25579
This has been fixed in #38866. We can close it.

cc @thockin @dchen1107

[2017-06-03 00:25] kargakis commented on #10194
@kubernetes/sig-cluster-lifecycle-misc

[2017-06-03 00:26] kargakis commented on #10956
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-03 00:28] xiangpengzhao commented on #25803
/sig docs
/ area cloudprovider

[2017-06-03 00:35] xiangpengzhao commented on #25754
/sig node
/sig network

[2017-06-03 00:36] jeffvance commented on #3399
_test/e2e/storage/*_

[2017-06-03 00:37] msau42 commented on #46882
Is `--enable-controller-attach-detach=false` the default setting?

[2017-06-03 00:40] kargakis commented on #46776
Geniunely interested: in what case do you want a service and a job?

cc: @soltysh

[2017-06-03 00:44] verult commented on #46882
@msau42 No it defaults to true.
https://github.com/kubernetes/kubernetes/blob/62435edeff9076829ecc2cfe8aa783a89a31700f/pkg/apis/componentconfig/v1alpha1/defaults.go#L244

I haven't verified if this is an issue with `--enable-controller-attach-detach=true`

[2017-06-03 00:45] msau42 commented on #46882
Why do we need to set it to false?

[2017-06-03 00:49] caesarxuchao commented on #10586
[code]

It looks like we never deprecate the commands, so the problem stated by the issue is still true. But i don't think we need keep an issue to track the TODO, whoever deprecates the command will notice the required changes. So closing.

[2017-06-03 00:49] #10586 closed

[2017-06-03 00:57] kargakis commented on #11907
Likely the error reported in this issue is mitigated by the ratelimiting queue now but we still have other issues where we need to do more work on ratelimiting.

[2017-06-03 01:01] caesarxuchao commented on #45978
Thanks. Closing.

[2017-06-03 01:03] MrHohn opened #46894 "Firewall e2e test is failing frequently in gce-multizone CI"
From #46737.

_[k8s.io] Firewall rule should have correct firewall rules for e2e cluster_ is failing frequently in gce-multizone CI with below error:
[code]

The firewall e2e test isn't well written --- it doesn't expect instances to run in multiple zones so it always tries to get instances in the zone passed in by flag `--gce-zone` through ginko. But `--gce-zone` only passes in one of the zones,

[2017-06-03 01:04] MrHohn commented on #46737
Opened #46894 to track the failing firewall test separately.

[2017-06-03 01:05] MrHohn commented on #46894
CI link: https://k8s-testgrid.appspot.com/google-gce#gce-multizone&width=5

[2017-06-03 01:08] verult commented on #46882
I use this to simplify FlexVolume testing by dropping the plugin into a single node rather than multiple. If it were set to true, the drivers need to be dropped in master as well.

Since the operation generator code is shared between VolumeManager and AttachDetachController, I suspect this would also be an issue if it were set to true.

[2017-06-03 01:11] liggitt commented on #46892
yes, the dashboard repo is the correct place

[2017-06-03 01:11] #46892 closed

[2017-06-03 01:12] xiangpengzhao commented on #25650
Already solved, right?

/ sig cluster-ops

@thockin

[2017-06-03 01:14] xiangpengzhao commented on #25650
Oops
/sig cluster-ops

[2017-06-03 01:16] smarterclayton opened #46895 "406 unacceptable error for POSTing without a content type to the LIST endpoint is wrong"
When you POST to /resources, if you don't specify ContentType you get an error message that is incorrect (only suggests stream types).

[2017-06-03 01:17] smarterclayton commented on #46895
Regression and also confusing.

[2017-06-03 01:20] MrHohn commented on #10669
We already removed the infinite loop and added a timeout: https://github.com/kubernetes/kubernetes/blob/310ea94b6e0694ab08e3aa6185919be92419e932/test/e2e/framework/service_util.go#L1023-L1059.

Closing this issue.

/assign

[2017-06-03 01:21] MrHohn commented on #10669
/close

[2017-06-03 01:21] #10669 closed

[2017-06-03 01:25] smarterclayton opened #46898 "InitializerConfigurations are not returned via LIST call"
Creating a valid IC is accessible in etcd, but isn't returned via the list call.  It's accessible via GET directly.

Not clear what is wrong.

[2017-06-03 01:26] smarterclayton commented on #46898
/sig api-machinery

[2017-06-03 01:32] verult commented on #46882
The main issue is that when Attacher.Attach() returns "", nil, it's very ambiguous. Not only does this carry no information about the intention, it also means different things for different volume plugins. For Cinder, it means the attach is pending. For FlexVolume, it means the user plugin doesn't implement attach.

Two potential solutions:
1) Add a "status" return value.
2) Enforce that we can't

[2017-06-03 01:48] k82cn commented on #42002
sure, I'll elaborate perf of `NodeAffinity` firstly; regarding PodAntiAffinity, there maybe several Pods in a node, and we need to check both scheduling Pod and existing Pods which maybe a perf concern.

[2017-06-03 01:57] k82cn commented on #46826
@igoratencompass , is that OK now?

[2017-06-03 02:22] shiywang commented on #11384
/assign

[2017-06-03 02:34] shiywang commented on #11384
@kargakis is this issues already solved or we can close it ?

[2017-06-03 02:41] igoratencompass commented on #46826
@k82cn yep that worked, any idea why are those 2 spaces needed though? The yaml should be valid without them too.

[2017-06-03 02:45] jmzwcn commented on #46568
@k82cn, NodeAffinity(nodeSelector) only guarantee nodes are correct within IDCs. PodAntiAffinity only have a high priority when pod of deployment don't exist in those nodes. The both are together still not able to guarantee each IDC have pod at least.

[2017-06-03 02:50] bruj0 opened #46901 "Statefulset first pod is orphaned and doesnt scale past it"
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
- **Cloud provider or hardware configuration**:
AWS

- **OS** (e.g. from /etc/os-release):
v1.6.2+coreos.0
- **Kernel** (e.g. `uname -a`):
Linu 4.9.24-coreos  SMP Tue May 30 23:12:01 UTC 2017 x86_64 Intel(R) Xeon(R) CPU E5-2676 v3 @ 2.40GHz GenuineIntel GNU/Linux

- **Install tools**:
https://github.com/kz8s/tack
- **Others**:

[2017-06-03 02:53] #38779 closed

[2017-06-03 03:13] arun-gupta commented on #16989
This is for @kubernetes/sig-docs-maintainers

[2017-06-03 03:17] jmzwcn commented on #46568
@kevin-wangzefeng, any more advice please?

[2017-06-03 03:22] jayunit100 commented on #43516
Yes but this is seen in scale situations where the cloud provider isn't a problem as well, right ?  So it's a general problem that it's hard to reason about the heartbeat ; and definetly error handing for cloud providers is part of that

[2017-06-03 03:31] suyogbarve commented on #46861
@ferrandinand this issue is already fixed in v1.6.2 + can you upgrade your kubernetes cluster to new version?

[2017-06-03 04:00] xiangpengzhao commented on #43556
Successful at last! The way @mkumatag provided works for me. Thanks Manjunath ! :+1:

[code]

It costs more than half an hour to complete the tests. I think it must be more than that w/o `GOFLAGS="-p 1"`. I still don't know what causes the flake. It might has something to do with the memory as is shown in Mike's attempt.

@MikeSpreitzer Mike, do you try this way?

[2017-06-03 04:02] xiangpengzhao commented on #46901
/sig apps

[2017-06-03 04:42] #45971 closed

[2017-06-03 05:39] hongchaodeng commented on #46705
Hi @oikomi
What's the etcd version? How did you find this? Is it reproducible?

[2017-06-03 05:50] hongchaodeng commented on #46705
Some context layout for the problem:
On 1.6.0 codebase:

It first do a get and set `initialRev`
[code]

Then it watch from `initialRev + 1`:
[code]

From watch API's view, it could return "revision compacted" error.

Some questions:
- If compaction happened, will a running watcher be cut?
- Is the watcher supposed to never stop?

[2017-06-03 06:14] hongchaodeng commented on #46705
Note: etcd client dep of v1.6.0 is "v3.0.17"

[2017-06-03 06:16] jimmycuadra commented on #44518
Anyone have any ideas about this? @luxas maybe?

[2017-06-03 06:24] wanghaoran1988 opened #46905 "Add parallelism field in JobStatus to reflect the real running pods of a Job"
**Is this a request for help?** : Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): job

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 FEATURE REQUEST

**Detail**:

The Job resource can set `parallelism` to  specifies the maximum desired number of pods the job should run at any

[2017-06-03 06:27] #45394 closed

[2017-06-03 06:27] wanghaoran1988 commented on #46905
/sig app

[2017-06-03 06:27] hongchaodeng commented on #46705
So my guess is that between sync() and Watch(), it took too long to process those events from sync():
[code]

[2017-06-03 06:28] wanghaoran1988 commented on #46905
/cc @kargakis @janetkuo @soltysh

[2017-06-03 06:33] xiangpengzhao commented on #46905
/sig apps

[2017-06-03 06:49] roberthbailey commented on #10194
@cjcullen @lavalamp - do either of you know if this issue still exists?

[2017-06-03 07:05] mtanino commented on #33602
@zaa @rootfs @msau42
Document was added. I think we can close this issue.

[2017-06-03 07:05] mtanino commented on #33602
/assign

[2017-06-03 08:03] xiangpengzhao commented on #43556
After viewing the build/test scripts, I think `GOFLAGS` is exposed for developers and `KUBE_GOFLAGS` is used inside the scripts. So we'd better only use `GOFLAGS` when we run `make foo`, IMO.

@thockin Could you please confirm this? Thanks!

[2017-06-03 08:38] xiangpengzhao commented on #46886
/sig testing

[2017-06-03 08:41] xiangpengzhao commented on #46778
/sig cluster-ops

[2017-06-03 10:41] kargakis commented on #46901
@kubernetes/sig-apps-bugs

[2017-06-03 11:09] kargakis commented on #44070
Shouldn't be a problem in >=1.5.4 and later versions. Minreadyseconds will be solidified once we have stable pods (kubernetes/community#478).

[2017-06-03 11:09] #44070 closed

[2017-06-03 11:13] kargakis commented on #46659
cc: @mfojtik @tnozicka @fabianofranz

[2017-06-03 11:17] bjoernhaeuser commented on #39872
This issue can be closed, its not happening with 1.6 anymore.

[2017-06-03 11:24] xiangpengzhao commented on #46778
As a workaround, you can manually set `--runtime-config=batch/v2alpha1=true` on apiserver after the cluster is deployed and then restart apiserver. Note that you also need to restart controller-manager. See:https://kubernetes.io/docs/concepts/overview/kubernetes-api/ "Enabling API groups"

[2017-06-03 11:28] #39872 closed

[2017-06-03 11:34] xiangpengzhao commented on #46740
/sig api-machinery
/sig auth

[2017-06-03 11:42] kargakis commented on #21657
@kubernetes/sig-scheduling-feature-requests is this something that should be handled by the rescheduler?

[2017-06-03 11:43] kargakis commented on #29323
@kubernetes/sig-apps-feature-requests

[2017-06-03 11:43] TerraTech commented on #42946
@dcbw After upgrading to CoreOS 1353.8.0 and hyperkube-1.6.4_coreos.0, kube-proxy failed to start with the above read-only failure.

Upgraded from: 1353.7.0 and hyperkube-1.6.2_coreos.0

I added the volume mounts:
[code]
however kube-proxy is still complaining that _/proc/sys_ is read-only.  Also, the pod spec does have _privileged: true_

Is there any other workaround you might suggest?

[2017-06-03 12:16] smarterclayton commented on #46898
Was a bug caused by a paired failure in initialization.

[2017-06-03 12:16] #46898 closed

[2017-06-03 12:23] b0rey commented on #45486
The same problem

[2017-06-03 12:35] TerraTech commented on #42946
@ErwanMAS @dcbw
I fixed it by adding the following to the kube-proxy pod spec
[code]

[2017-06-03 12:37] k82cn commented on #46826
/close

The `name` is an sub-item of `configMapRef`, so 2 spaces is necessary :).

[2017-06-03 12:37] #46826 closed

[2017-06-03 12:41] k82cn commented on #46905
Does it `Job.Status.Active`?

[2017-06-03 13:26] rootfs commented on #33602
/close

[2017-06-03 13:26] rootfs commented on #33602
/assign

[2017-06-03 13:27] rootfs commented on #33602
/close

[2017-06-03 13:27] #33602 closed

[2017-06-03 13:47] nathanwelch commented on #44676
Does anyone know of a workaround for this?

[2017-06-03 13:48] hanikesn commented on #44676
Using the old annotation syntax still works as expected.

[2017-06-03 15:17] ilackarms commented on #44164
#45666 adds this feature

[2017-06-03 15:48] derekwaynecarr opened #46908 "No validation of envFrom in pod.spec.containers"
Scenario:

[code]

Expected results:

pod would not be created as pod.spec.containers[0].envFrom.configMapRef.name is invalid

Actual results:

pod is created.

Turns out we are not doing any validation of envFrom in container spec today.

[2017-06-03 15:54] derekwaynecarr commented on #46908
@kubernetes/sig-api-machinery-misc

[2017-06-03 16:13] nathanwelch commented on #44676
Thanks for the quick reply @hanikesn . I tried the old annotation syntax but I'm using helm (helm 2.4.2, kubernetes 1.6.4) and the upgrade wouldn't correctly change the ReplicaSet unless I also changed the version on the helm chart. If I don't change the helm chart version, it will create new pods with updated labels but without an update to the initContainer annotation's image. Seems like in that

[2017-06-03 16:19] xiangpengzhao opened #46910 "[Flake]Local 'make test-e2e-node' fails due to "[It] should report resource usage through the stats api""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-03 16:54] xiangpengzhao opened #46911 ""make help" should update help info."
These two places should update:

- BUILD is not a valid target
[code]

- help info is incorrect
[code]

BTW, `make help` was introduced in #29683. I don't know how many contributors know this. For me, whenever I forget the detail of some target, I just run `make help` and get what I want. It would be good to document it somewhere, e.g. https://github.com/kubernetes/community/blob/master/contributo

[2017-06-03 17:48] ompraash opened #46915 "kubectl top node fails with heapster issue"
We have a custom kube cluster. There is 1 Master and 2 Worker Node.

kubectl version is 1.5

`Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:52:01Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}`

Referred to : https://github.com/kubernetes/kubernetes/issues/

[2017-06-03 17:53] xiangpengzhao commented on #46915
/sig cli

[2017-06-03 18:02] smarterclayton commented on #46908
I don't know that we can tighten without failing pods.

[2017-06-03 18:04] xiangpengzhao commented on #46915
Since your heapster is not in `kube-system` namespace, try `kubectl top node --heapster-namespace='default'`, please.

FYI: #44540

[2017-06-03 18:14] ompraash commented on #46915
the option is not supported with kubectl

[code]

[2017-06-03 18:27] xiangpengzhao commented on #46915
can you see heapster related flags in `kubectl top node -h`? I'm not sure about which version introduced these flags.

[2017-06-03 18:27] suyogbarve commented on #46915
@ompraash --heapster-namespace is available only after 1.6, I will recommend you to upgrade your client and server

[2017-06-03 18:39] #46767 closed

[2017-06-03 18:40] xiangpengzhao commented on #46915
@suyogbarve :+1:

@ompraash maybe you can try to deploy your heapster in `kube-system` namespace if you don't want to upgrade.

[2017-06-03 18:42] suyogbarve commented on #46915
@ompraash You would always run heapster service and deployment in kube-system namespace, I believe even dashboard will not be able to display metrics if you run it in different namespace

[2017-06-03 18:59] therc commented on #44107
I have a change for kubectl to show GPU resources in the `describe nodes` output. Any chance it will get accepted? I'd rather not carry it in our fork, plus other users must be frustrated without it, but I also understand that this is an alpha resource.

[2017-06-03 19:25] ianchakeres commented on #46791
/assign @ianchakeres

[2017-06-03 19:30] fraenkel commented on #46908
The validation code exists, but there was no wiring done from validateContainers.

[2017-06-03 19:32] #46493 closed

[2017-06-03 19:49] #25579 closed

[2017-06-03 20:03] caseydavenport commented on #39113
I re-tested with all the above flags set to 1000, results look significantly better but I'm still seeing this take a while.

In my tests, the 99th percentile time drops from ~50 seconds to ~10 seconds by adjusting the QPS.  A quick look at the logs seems to indicate that the channel is no longer filling up and we're not relying on the batch sync anymore, which is good, but it's still taking almost

[2017-06-03 20:36] ompraash commented on #46915
Thanks. @suyogbarve @xiangpengzhao
Yes dashboard wasn't displaying stats. Now after changing the namespace to kube-system the commands work and stats are generated.

[code]
Is there any documentation which states heapster, dashboard, grafana & influxdb should always be in "kube-system" namespace. Examples from https://github.com/kubernetes/heapster/tree/master/deploy/kube-config shows in kube-syst

[2017-06-03 20:43] devonbarrett commented on #40452
Encounter the same thing while trying to statically edit the apiserver manifest with vim.

[code]

Fixed by removing the swap files and restarting kubelet.

[2017-06-03 20:44] suyogbarve commented on #46915
@ompraash please close the issue , feel free to check back if you need anything.

[2017-06-03 20:44] ahmetb commented on #10726
This doc does not seem to exist anymore.
/close

[2017-06-03 20:45] #46915 closed

[2017-06-03 22:05] mengqiy commented on #37592
/sig cli

[2017-06-03 22:05] k8s-merge-robot opened #46917 "Failure cluster [dde1f7...] failed 152 builds, 6 jobs, and 1 tests over 1 days"
### Failure cluster [dde1f7a290618383f484](https://go.k8s.io/triage#dde1f7a290618383f484)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    6 jobs failed,    152 builds failed.
Failure stats cover 1 day time range '2 Jun 2017 20:57 UTC' to '3 Jun 2017 20:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services should

[2017-06-03 22:05] k8s-merge-robot opened #46918 "Failure cluster [be986b...] failed 151 builds, 6 jobs, and 5 tests over 1 days"
### Failure cluster [be986b1e2cf1af1a5777](https://go.k8s.io/triage#be986b1e2cf1af1a5777)
##### Error text:
[code]
##### Failure cluster statistics:
5 tests failed,    6 jobs failed,    151 builds failed.
Failure stats cover 1 day time range '2 Jun 2017 20:57 UTC' to '3 Jun 2017 20:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services should

[2017-06-03 22:05] k8s-merge-robot opened #46919 "Failure cluster [f06eea...] failed 127 builds, 63 jobs, and 1 tests over 1 days"
### Failure cluster [f06eea19da5bba917654](https://go.k8s.io/triage#f06eea19da5bba917654)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    63 jobs failed,    127 builds failed.
Failure stats cover 1 day time range '2 Jun 2017 20:57 UTC' to '3 Jun 2017 20:57 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services shoul

[2017-06-03 22:22] thockin commented on #39113
Do we have any sort of priority queue for Kubelet -> API ops?

On Sat, Jun 3, 2017 at 1:03 PM, Casey Davenport <notifications@github.com>
wrote:

[2017-06-03 22:24] thockin commented on #43556
Truth: I have no idea why KUBE_GLOFLAGS exists.  I have a TODO to remove
it, one day when I get enough time.

On Sat, Jun 3, 2017 at 1:04 AM, Peter Zhao <notifications@github.com> wrote:

[2017-06-03 22:25] thockin commented on #46776
I can imagine a map-reduce-like thing that serves status from each worker,
and uses a headless Service for discovery.

On Fri, Jun 2, 2017 at 5:40 PM, Michail Kargakis <notifications@github.com>
wrote:

[2017-06-03 22:30] #25650 closed

[2017-06-03 22:33] thockin commented on #10710
This is a good opportunity for someone to score some cleanup points.  I expect this could be a series of relatively simple PRs that incrementally make life better.

Also can apply to ints and other fields where semantics are intrinsic to the content of the field (e.g. UnixUID was done).

[2017-06-03 22:34] #10516 closed

[2017-06-03 22:34] #8910 closed

[2017-06-03 22:35] thockin commented on #8202
Reasonably easy for someone to contribute!

[2017-06-03 22:36] thockin commented on #7881
@timstclair in case this wasn't in your inbox - up to you when to close it :)

[2017-06-03 22:36] #9072 closed

[2017-06-03 22:38] thockin commented on #3606
@ahmetb The point was to make API docs richer by including relevant links.  Up to you and docs-people when this is "done"

[2017-06-03 22:54] thockin commented on #2643
This would be a strictly breaking change.  I am not sure we can safely make this change.

[2017-06-03 23:36] paterlinimatias commented on #33664
Another way to do it (in QA environment) is by setting the replicaset to 0, that basically drops the pod and generates a new pod pulling the image again, like this: kubectl scale --replicas=0 replicaset [REPLICASET_NAME].

[2017-06-04 00:05] ahmetb commented on #16989
@arun-gupta We decided to maintain a minimum set of examples in kubernetes/examples repository. We have a Cassandra example there to highlight the StatefulSet and PersistentVolume features, and we're not planning to add more examples overlapping with this. I assume Couchbase falls in the same category.

I see you [blogged about this](http://blog.kubernetes.io/2016/08/create-couchbase-cluster-using

[2017-06-04 00:10] kargakis commented on #8202
cc: @shiywang @wanghaoran1988

[2017-06-04 00:26] arun-gupta commented on #16989
@ahmetb Happy to close as do not plan to blog further about this topic at this time.

[2017-06-04 00:26] #16989 closed

[2017-06-04 00:40] jfoy opened #46920 "When apiserver is unavailable, kubelet cannot restart containers that set env using configMapKeyRef"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?**: configmap environment kubelet

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`): 1.5.2

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS 1235.9.0

[2017-06-04 00:42] jfoy commented on #46920
@kubernetes/sig-node-misc

[2017-06-04 01:01] janetkuo commented on #46890
@kubernetes/sig-api-machinery-misc

[2017-06-04 01:05] kow3ns opened #46922 "Update controllers/statefulset and controllers/history to use AppsV1Beta vs Apps client."
The statefulset controller and controller history implementations should be migrated off of the Apps client (deprecated) and onto the AppsV1BetaClient. Currently there is no user facing issue caused by the use of the deprecated resource, but we should maintain good code hygiene.

[2017-06-04 01:05] kow3ns commented on #46922
\assign kow3ns

[2017-06-04 01:06] kow3ns commented on #46922
@kubernetes/sig-apps-misc
/assign kow3ns

[2017-06-04 01:07] kow3ns commented on #46922
/assign kow3ns

[2017-06-04 01:30] #31168 closed

[2017-06-04 01:39] philipbjorge commented on #26299
I believe the syntax is actually...

[code]

[2017-06-04 01:40] vishh commented on #44107
@therc I'm planning on swapping the `alpha` resource with a non alpha one that will be forwards compatible. `kubectl` has a stricter deprecation policy. So can we hold off from merging your kubectl changes until I get around to defining a new alpha+ resource name?

[2017-06-04 01:45] shiywang commented on #8202
/assign

[2017-06-04 03:22] k82cn opened #46924 "Add helper funcs for schedulercache.Resource"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
code enhancement

**Kubernetes version** (use `kubectl version`):
master branch

**Description**:
There're some duplicated code slice about building/adding `v1.ResourceList` into `schedulercache.Resource`, it's better to have helper funcs to avoid duplication.

[2017-06-04 03:28] madhusudancs commented on #46918
/unassign

I am probably not the right owner for these tests. Leaving this to @MrHohn to triage it.

[2017-06-04 03:34] k82cn commented on #46924
/sig scheduling

[2017-06-04 03:48] madhusudancs opened #46925 "Flake: [Federation] Daemonset history CRUD verification failures in e2e"
This started happening today evening. I don't think I have enough expertise to debug this test this quickly. This is blocking the queue right now. @csbell @marun @perotinus could one of you please take a look?

Could this be related to PR #45924 which merged around the same time we started seeing this flake?

/sig federation

/assign @csbell @marun @perotinus

cc @shashidharatd @janetkuo

[2017-06-04 03:51] madhusudancs commented on #46925
Also cc @dchen1107 for the updates on this issue.

[2017-06-04 04:07] thockin commented on #46645
As per LB experts, setting it too low results in what you're seeing (the LB
thinks your region is swamped and spills over into the next).  Setting it
too high means you will never spill over unless you have a total outage of
a region.

If we want this to be automagic, we need to get to true utilization-based
balancing, which is tricky with containers (how do we report per-container
utilization?) a

[2017-06-04 04:08] MikeSpreitzer commented on #43556
So, getting back to the original point, I too am able to make the integration test suite claim complete success by using `-v -p 1`.  But I see many errors reported.  Should I be alarmed by them?  There is a complete typescript in https://gist.github.com/MikeSpreitzer/31e2855c714246a21c543b09f1cec3fc .  This was from a VM with 6 GB of memory and 2 vCPUs running Ubuntu 16.04 and go 1.8.3.  It took h

[2017-06-04 06:05] krzyzacy commented on #46794
/assign

[2017-06-04 06:05] krzyzacy commented on #46794
/close

[2017-06-04 06:05] #46794 closed

[2017-06-04 06:54] xiangpengzhao commented on #43556
@kubernetes/sig-testing-misc

[2017-06-04 07:00] xiangpengzhao commented on #46359
@kubernetes/sig-testing-misc
This is a test, sorry for bothering.

[2017-06-04 07:02] xiangpengzhao commented on #43556
@kubernetes/sig-testing-misc
Oops, seems like the bot doesn't want to trigger a notification for me here. It works OK at https://github.com/kubernetes/kubernetes/issues/46359#issuecomment-306022569.

[2017-06-04 08:12] whitecolor commented on #6080
@mml

What in what version should it be, how the feature will be called?

[2017-06-04 08:57] ngtuna commented on #44507
Same question with @krmayankk This would be really helpful if GC can support TPR :-)

[2017-06-04 09:01] nikhita commented on #44507
There is a PR (in progress) with a fix here: https://github.com/kubernetes/kubernetes/pull/46000.

[2017-06-04 09:05] ngtuna commented on #44507
Thanks @nikhita

[2017-06-04 10:11] wojtek-t commented on #46776
Yes - this is the example I've heard during discussions on last Kubecon.

[2017-06-04 10:13] wojtek-t commented on #46776
Well - I don't know if it was map-reduce-like-thing, but it was about headless Service for discovery (and also reporting status from workers).

[2017-06-04 10:20] kargakis commented on #46689
@kubernetes/sig-scalability-test-failures

[2017-06-04 10:22] kargakis commented on #46618
/sig scheduling

[2017-06-04 10:23] kargakis commented on #46549
/sig storage

[2017-06-04 10:23] kargakis commented on #46567
/sig api-machinery

[2017-06-04 10:24] kargakis commented on #45399
@kubernetes/sig-storage-bugs

[2017-06-04 10:25] kargakis commented on #45400
@kubernetes/sig-api-machinery-misc
/kind support

[2017-06-04 10:26] kargakis commented on #44995
/sig api-machinery

[2017-06-04 10:26] kargakis commented on #45010
/sig storage

[2017-06-04 10:26] kargakis commented on #45043
/sig scalability

[2017-06-04 10:27] kargakis commented on #45102
@kubernetes/sig-docs-maintainers
/sig docs

[2017-06-04 10:27] kargakis commented on #45128
/sig release

[2017-06-04 10:28] kargakis commented on #45128
@kubernetes/sig-release-misc

[2017-06-04 10:29] kargakis commented on #44807
Fixed by https://github.com/kubernetes/kubernetes/pull/44830

[2017-06-04 10:29] #44807 closed

[2017-06-04 10:30] kargakis commented on #44811
@kubernetes/sig-release-misc

[2017-06-04 10:30] kargakis commented on #44846
@kubernetes/sig-scheduling-test-failures

[2017-06-04 10:30] kargakis commented on #44851
/sig scheduling

[2017-06-04 10:31] yastij commented on #46567
Thanks, forgot the sig, will submit PR on monday.

[2017-06-04 10:31] kargakis commented on #44971
/sig service-catalog

[2017-06-04 10:32] #44994 closed

[2017-06-04 10:32] #44802 closed

[2017-06-04 10:33] kargakis commented on #44533
/sig release

[2017-06-04 10:33] kargakis commented on #44433
@kubernetes/sig-api-machinery-misc

[2017-06-04 10:33] kargakis commented on #44460
/sig storage

[2017-06-04 10:34] kargakis commented on #44430
@kubernetes/sig-network-misc

[2017-06-04 10:35] kargakis commented on #44400
@kubernetes/sig-release-misc

[2017-06-04 10:35] kargakis commented on #44393
@kubernetes/sig-testing-feature-requests

[2017-06-04 10:36] kargakis commented on #44383
/sig scalability
/sig scheduling

[2017-06-04 10:36] kargakis commented on #44372
/sig storage

[2017-06-04 10:36] kargakis commented on #44370
/sig storage
/kind support

[2017-06-04 10:37] kargakis commented on #44329
@kubernetes/sig-api-machinery-misc

[2017-06-04 10:38] kargakis commented on #44524
Please move kubeadm issues in the kubeadm repo.

cc: @kubernetes/sig-cluster-lifecycle-misc

[2017-06-04 10:39] kargakis commented on #44328
/sig node

[2017-06-04 10:39] kargakis commented on #44301
/sig node

[2017-06-04 10:39] kargakis commented on #44283
/sig federation

[2017-06-04 10:40] kargakis commented on #44263
/sig api-machinery

[2017-06-04 10:42] kargakis commented on #44233
@kubernetes/sig-node-bugs

[2017-06-04 10:42] kargakis commented on #44231
@kubernetes/sig-network-misc

[2017-06-04 10:44] kargakis commented on #44218
@marcoceppi

[2017-06-04 10:44] kargakis commented on #44214
/sig node
/sig storage

[2017-06-04 10:48] kargakis commented on #8527
/sig docs

[2017-06-04 10:49] kargakis commented on #10725
/sig docs

[2017-06-04 10:50] kargakis commented on #11173
/sig cli

[2017-06-04 10:50] kargakis commented on #11578
/sig docs

[2017-06-04 10:51] kargakis commented on #11579
/sig docs

[2017-06-04 10:51] kargakis commented on #11678
/sig api-machinery

[2017-06-04 10:52] kargakis commented on #7514
/sig docs

[2017-06-04 10:52] kargakis commented on #7554
/sig node

[2017-06-04 10:53] kargakis commented on #10934
/sig testing

[2017-06-04 10:55] kargakis commented on #11730
/sig docs

[2017-06-04 10:55] kargakis commented on #11767
/sig release

[2017-06-04 10:55] kargakis commented on #11774
/sig scheduling

[2017-06-04 10:56] kargakis commented on #11808
/sig release

[2017-06-04 10:56] kargakis commented on #11815
/sig docs

[2017-06-04 10:56] kargakis commented on #12758
Has been removed ever since

[2017-06-04 10:56] #12758 closed

[2017-06-04 10:57] kargakis commented on #12572
/sig cli

[2017-06-04 10:58] kargakis commented on #12428
/sig cli

[2017-06-04 11:09] k82cn commented on #44846
Still happened with latest code?

[2017-06-04 11:14] mikkeloscar commented on #44329
As a follow up, we consistently see that the metrics are there for the first hour when the APIserver comes up, but after that they are gone.

I imagine it's similar with a minikube setup, but I haven't gotten around to test it yet.

This has happened from 1.6.1 (when first reported) and through every update to 1.6.4.

[2017-06-04 11:16] kargakis commented on #42917
I think that for OnDelete to be a truly passive strategy ("spin up the same pod that got killed on a node"), we need this issue fixed.

[2017-06-04 11:18] kargakis commented on #44846
Not sure - was this supposedly fixed? Can we link the corresponding fix and close then?

[2017-06-04 11:22] kargakis commented on #42917
I can imagine this being a mapping of ControllerRevisions to NodeSelectors.

[2017-06-04 11:34] kargakis opened #46932 "Move Deployment cleanup at the end of a rollout"
We moved the RS cleanup at the start of a rollout to unblock users who were getting blocked by hash collisions. Now that the hashing collision avoidance mechanism is in place, we can restore the cleanup to run at the end of a rollout.

Essentially, we need to revert https://github.com/kubernetes/kubernetes/pull/40081.

[2017-06-04 11:39] kargakis opened #46933 "deletePod handler in the deployment controller should not set owner refs"
IMO it feels like a bad practice to have mutating resource handlers. The deletePod handler is used for queueing a Recreate deployment once it has no pods running. It should merely look at the ReplicaSets that have owner refs as opposed to using dc.getReplicaSetsForDeployment. The orphaning/adoption dance is already happening inside the reconcilation loop.

@kubernetes/sig-apps-misc

[2017-06-04 11:57] kargakis opened #46934 "Consider moving rollback out of the Deployment controller"
Currently, in order for a Deployment to rollback:
i. a user needs to set `d.spec.rollbackTo.revision`
ii. the controller notices the populated rollback spec and it updates the pod template of the deployment plus it cleans up the `rollbackTo` field.

Step ii. is breaking the declarative model for the Deployment API. We should consider dropping `rollbackTo` from the spec and instead either 1. make t

[2017-06-04 11:58] kargakis commented on #46932
@kubernetes/sig-apps-misc

[2017-06-04 12:07] k82cn opened #46935 "DaemonsetController can't feel it when node has more resources, e.g. other Pod exits"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
master branch

**What happened**:
This's a follow up of #45628, there's a case that: a node does not have enough cpu or memory resource to create the pod of ds, later I delete pods on it, and it satisfy the request now, but the ds controller could not feel it.

[2017-06-04 12:07] k82cn commented on #46935
/sig app

[2017-06-04 12:08] k82cn commented on #46935
/sig sig-apps

[2017-06-04 12:09] k82cn commented on #46935
/sig apps

[2017-06-04 12:17] k82cn commented on #46935
One option is similar with `addNode`, get all DS and check it; the performance is a concern: pod deletion is more frequent than node addition.

I'm thinking to handle it by #42002; let scheduler help to place the Pod when there's enough resource.

[2017-06-04 12:30] kargakis commented on #46935
@kubernetes/sig-apps-bugs @kubernetes/sig-scheduling-bugs

[2017-06-04 12:41] kargakis commented on #38275
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45748/pull-kubernetes-e2e-gce-etcd3/33767/

Seems like an issue with pods not transitioning to ready or it may also be due to watch.Until breaking (WaitForReadyReplicaSet is using watch.Until under the hood). Nothing specific to Deployments.

[2017-06-04 12:44] kargakis commented on #10826
/sig testing

[2017-06-04 12:45] kargakis commented on #45387
@kubernetes/sig-storage-misc

[2017-06-04 12:47] kargakis commented on #44420
/sig contrib-ex

[2017-06-04 12:48] kargakis commented on #44325
@kubernetes/sig-testing-misc

[2017-06-04 12:49] kargakis commented on #44317
/sig docs

[2017-06-04 12:49] kargakis commented on #44272
@kubernetes/sig-api-machinery-feature-requests

[2017-06-04 12:50] kargakis commented on #44177
@kubernetes/sig-api-machinery-bugs @mikedanese

[2017-06-04 12:51] kargakis commented on #44175
@kubernetes/sig-api-machinery-misc

[2017-06-04 12:51] kargakis commented on #44164
/sig api-machinery

[2017-06-04 12:52] kargakis commented on #44157
/sig aws

[2017-06-04 12:52] k82cn commented on #46935
/assign

[2017-06-04 12:53] kargakis commented on #44154
@kubernetes/sig-api-machinery-bugs

[2017-06-04 12:53] kargakis commented on #44123
@kubernetes/sig-api-machinery-feature-requests

[2017-06-04 12:54] kargakis commented on #44085
/sig storage

[2017-06-04 12:55] kargakis commented on #44059
@kubernetes/sig-node-bugs

[2017-06-04 12:55] kargakis commented on #44065
/sig api-machinery

[2017-06-04 12:56] kargakis commented on #44045
@kubernetes/sig-api-machinery-feature-requests

[2017-06-04 12:58] k82cn commented on #42002
/assign

I assign to myself to investigate option 3; if any other suggestion, please let me know :).

[2017-06-04 13:11] #38336 closed

[2017-06-04 13:25] rootfs commented on #45387
@paralin PR welcome

[2017-06-04 13:26] rootfs commented on #45399
@vladimirvivien

[2017-06-04 14:44] vladimirvivien commented on #45399
@James-Dao
It appears your node does not have required SDC software installed (or at least the `drv_cfg` binary is not placed in the standard expected location) as indicated by the error log:

[code]
Because the SDC binary is not found on your node, it's causing many other errors

[code]

I would recommend `closing` this issue since it is related to ScaleIO environment setup and not Kubernetes.

@

[2017-06-04 14:46] vladimirvivien commented on #45399
@rootfs please close issue as I am unable to do so.  This is a ScaleIO setup issue by the user.

[2017-06-04 15:58] derekwaynecarr commented on #46908
Pods fail on kubelet already.  So those pods were not doing much already.  We had a BZ on this.

[2017-06-04 16:07] mikedanese commented on #44177
This doesn't have to do with bazel:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41950/pull-kubernetes-unit/25417/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/41950/pull-kubernetes-bazel/12522/

Same error for both.

This is a common obstacle that people hit when writing conversion tests. When adding defaults, you need to add a custom fuzze

[2017-06-04 16:10] mikedanese commented on #45128
This is fixed now.

[2017-06-04 16:10] #45128 closed

[2017-06-04 16:46] caseydavenport commented on #46703
/sig network

[2017-06-04 17:03] shashidharatd commented on #46859
The root cause for this type of failures was that there was a janitor process which used to cleanup k8s clusters every few hours. This was rectified in test-infra by excluding the `k8s-jkns-pr-bldr-e2e-gce-fdrtn` project which host the k8s clusters for federation pre-submits.

Ref: https://github.com/kubernetes/test-infra/pull/2947

/cc @madhusudancs @krzyzacy @csbell
/close

[2017-06-04 17:03] #46859 closed

[2017-06-04 17:11] shashidharatd opened #46937 "flake: pull-kubernetes-federation-e2e-gce federation-up.sh fails"
Occasionally we see that the pre-submit tests of federation `pull-kubernetes-federation-e2e-gce` fails in `./federation/cluster/federation-up.sh`. Here is the excerpts from one such failure
[code]

It looks like the service account representing the k8s cluster which is to be joined to federation already exist. maybe the uniqueness of service account names is not that unique in the cases where it i

[2017-06-04 18:18] shyamjvs commented on #45288
@xiechengsheng Could you give some more information about what exactly timed out and provide some logs?

[2017-06-04 18:28] kargakis commented on #39701
Reopened on the kubeadm repo: https://github.com/kubernetes/kubeadm/issues/287

[2017-06-04 18:32] timothysc commented on #43197
I'm inclined to close this, and aim to rip out the feature gated alpha work in 1.8

[2017-06-04 18:42] ibkrm11 opened #46939 "ar"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-04 18:43] #46939 closed

[2017-06-04 19:01] thockin commented on #23291
Ok, we can certainly explore this after 1.7, but we need to be careful with
expansion and overall surface area.

On Jun 2, 2017 7:34 AM, "joe miller" <notifications@github.com> wrote:

[2017-06-04 19:14] therc commented on #44107
@vishh what's the timeframe for that change? 1.7? I can wait and even start to rework it when your first PR is out.

[2017-06-04 19:36] liggitt commented on #46851
a couple changes to strategic patching happened recently: #44597 and #45980

I'm not sure those increased the likelihood of patch conflicts or not

[2017-06-04 19:45] #21506 closed

[2017-06-04 20:03] kow3ns opened #46942 "Additional StatefulSet update e2e testing"
StatefulSet requires additional e2e testing

1. Rollback to a specific version
2. Kill Pods during update and rollback and ensure they are created at the correct revision
3. The above, but in the partitioned case

[2017-06-04 20:03] kow3ns commented on #46942
@kubernetes/sig-apps-misc

[2017-06-04 20:04] kow3ns commented on #46942
\assign kow3ns

[2017-06-04 20:51] timothysc commented on #3125
I don't this specific issue applies any more we have so many varied tests and change and monitor qps limits... closing.

[2017-06-04 20:51] #3125 closed

[2017-06-04 20:54] timothysc commented on #42670
@cmluciano Yes, but not as bad.  Some tests have migrated in 1.7.

[2017-06-04 20:55] smarterclayton commented on #46908
Fail how - fail to even start, or fail to get the input?

On Sun, Jun 4, 2017 at 11:58 AM, Derek Carr <notifications@github.com>
wrote:

[2017-06-04 22:06] madhusudancs commented on #46380
@jsafrane @wongma7 you were right. We were running `kubectl delete pvc,pv,pods,... --namespace=${FEDERATION_NAME} --all` without paying close attention to what was going on there. Fix sent in #46945.

[2017-06-04 22:06] madhusudancs commented on #46380
/assign

[2017-06-04 22:08] thockin commented on #44430
Can you write a proposal about what you want to do?  Just a short
explanation of how it fits into the system?

On Wed, Apr 12, 2017 at 8:04 PM, Scott McGillivray <notifications@github.com

[2017-06-04 22:27] danehans commented on #46712
@bckcntryskr that is correct. However, the kubelet unit tests need to cover v4 and v6 instances of a kubelet. I am finalizing a PR that implements the approach I described above.

[2017-06-04 23:20] spxtr commented on #10826
Fixed forever ago.
/close

[2017-06-04 23:20] #10826 closed

[2017-06-05 01:14] xiechengsheng commented on #45288
The timeout error has been solved, it occurred because of my wrong config... But another error occurred, here is the log:
[code]
It seems that the fake pod's startup latency is too high, I'll try it in the physical machine cluster.

[2017-06-05 01:23] xiangpengzhao commented on #25659
I run `hack/test-go.sh`/`make test` at HEAD with GO 1.5, but it doesn't reproduce. We're going to close this issue. Feel free to re-open if you still face it.

/sig testing

cc @thockin

[2017-06-05 02:06] bqluan commented on #41188
@kubernetes/sig-cluster-ops-misc

[2017-06-05 02:15] k82cn commented on #42002
Create a benchmark for NodeAffinity at #46948 , the Pod number is number of DS * number of node.

For 10 DS on 5000 nodes, we still can not get output after 10m :(.

[code]

[2017-06-05 02:37] oikomi commented on #46705
@hongchaodeng hi my etcd version is

[code]

we found it in our production env, we're looking for reasons, too

we suggest provide an option to k8s to enable 'compact' and 'set compact interval‘

[2017-06-05 02:42] #25659 closed

[2017-06-05 02:44] xiang90 commented on #46705
@oikomi

I do not think this issue has anything to do with who control the compaction interval. Even if you let etcd itself do compaction, you will hit the same issue.

The warning means that your watcher tries to watch from a compacted revision for some reason. it probably should not mark as error. The control should do a relist and resync from the current revision.

Also by looking through the l

[2017-06-05 03:00] wanghaoran1988 commented on #42002
@k82cn @kargakis
Maybe we can bring the multiple scheduler logic here, my generic thought is different app can be scheduled by it's own scheduler, we can startup another customized  scheduler for DaemonSet, and have a admission controller set the schedulerName for DaemonSet pods, this will decouple the different requirement for scheduling different kind of app/pods.

[2017-06-05 03:15] chrislovecnm commented on #23794
@foxish / @smaterclayton - can we close this?

[2017-06-05 03:16] chrislovecnm commented on #39590
@kubernetes/sig-release-misc

[2017-06-05 03:48] xiangpengzhao opened #46950 "Not specifying volumes defaults to emptyDir"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
NO

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ---------------------------

[2017-06-05 04:07] boingram commented on #46933
I'd like to work on this

[2017-06-05 04:07] smarterclayton commented on #46950
It is indeed the default behavior - primarily because it aligns with how
docker behaves and is the simplest of the storage options.  It should
definitely be documented.

On Sun, Jun 4, 2017 at 11:48 PM, Peter Zhao <notifications@github.com>
wrote:

[2017-06-05 05:25] k82cn commented on #42002
Did some enhancement that moving out key/value validation in "selector.NewRequirement", for Pod, it should be validated when creating. With the enhancement, it'll take ~160s for 50k Pods on 5k nodes.

[code]

[2017-06-05 05:30] krzyzacy commented on #46859
Hummm, it's merged Friday afternoon, but how did this affect federation job afterwards?

[2017-06-05 05:41] shashidharatd commented on #46859
@krzyzacy, i think this issue is older than Friday afternoon. `2017-06-02 15:07 IST`, probably PDT time is `2017-06-02 02:37 PDT`

[2017-06-05 05:44] krzyzacy commented on #46859
Oh nvm, I saw the presubmit is screwed again, thought some damage was done over the weekend again :-)

[2017-06-05 05:44] #44702 closed

[2017-06-05 05:57] k82cn commented on #42002
Here's profile without enhancement, that's helpful :).

[code]

[2017-06-05 06:00] mbohlool commented on #46827
failing again for #46734

[2017-06-05 06:00] mbohlool commented on #46370
this is failing for #46734 not sure if it is the same issue.

[2017-06-05 06:01] mbohlool commented on #46937
fails #46734

[2017-06-05 06:09] nikhiljindal commented on #35588
We have them under control now. All are green :)

[2017-06-05 06:09] #35588 closed

[2017-06-05 06:35] #35253 closed

[2017-06-05 07:15] dixudx commented on #46950
echo @smarterclayton, You're right.

In volume spec, if the `obj.VolumeSource` (i.e., the location and the type of mounted volume) is not set,

[code]

[2017-06-05 07:40] fejta commented on #46827
Going to remove this from the blocking list until we clear the 1.7 PRs

[2017-06-05 07:52] #38047 closed

[2017-06-05 07:57] #43103 closed

[2017-06-05 08:23] kargakis commented on #46933
@boingram feel free to grab it. I can't assign the issue to you so I'll add myself; ping me on the PR when you have one.

[2017-06-05 08:35] jsafrane commented on #45399
/close

[2017-06-05 08:35] jsafrane commented on #45399
/assign
/close

[2017-06-05 08:36] jsafrane commented on #45399
/close
stupid bot...

[2017-06-05 08:36] #45399 closed

[2017-06-05 08:37] lithint commented on #44665
on trying the command
kubectl run --image=nginx nginx-app --port=80 --env="DOMAIN=cluster"

I am getting the following error.. what will be the reason

_The connection to the server localhost:8080 was refused - did you specify the right host or port?_

[2017-06-05 08:39] wanghaoran1988 commented on #46905
@k82cn Thanks, I must missed that.

[2017-06-05 08:39] #46905 closed

[2017-06-05 08:44] gyliu513 opened #46957 "Remove checking for unintentional errors for daemoncontroller"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**Note:** Please file issues for subcomponents under the appropriate repo

| Component | Repo                                                               |
| --------- | ------------------------------

[2017-06-05 08:45] kargakis commented on #46905
Cool

On Mon, Jun 5, 2017 at 10:39 AM, Haoran Wang <notifications@github.com>
wrote:

[2017-06-05 08:46] wanghaoran1988 commented on #38756
After I go through the logic, I find that actual parallelism (number of pods running at any instant) may be more or less than requested parallelism,[docs](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#controlling-parallelism). So I think to align with the doc, we need have it's own Scale struct, here is the spec in my mind, the `Completions` field is immutable,

[2017-06-05 08:46] #42867 closed

[2017-06-05 08:47] jsafrane commented on #10603
IMO, the volume API is now set in stone with all its little quirks and oddities. We could reconsider this in any 2.0 API version, however I am closing it for now.

/close

[2017-06-05 08:47] #10603 closed

[2017-06-05 08:54] gyliu513 commented on #46957
/sig apps

[2017-06-05 08:59] ligc commented on #37471
@kubernetes/sig-cli-misc

[2017-06-05 09:25] redbaron opened #46958 "Master branch cannot be cloned on Windows due to '*' in file names"
[code]

[2017-06-05 09:29] redbaron commented on #46958
No idea which sig to add, so CC'ing commit author @liggitt

[2017-06-05 09:47] madhuri-rai07 commented on #6487
FYI, [1] is swagger generated python client. But it hardly worked so we had to manually correct those issues and even we posted some fixes to swagger codegen.

[1] https://github.com/openstack/python-k8sclient/tree/master/k8sclient

[2017-06-05 10:07] wanghaoran1988 commented on #46934
/cc

[2017-06-05 10:09] wanghaoran1988 commented on #46932
/cc

[2017-06-05 10:18] wanghaoran1988 commented on #46504
/cc

[2017-06-05 10:22] wanghaoran1988 commented on #46922
/cc

[2017-06-05 11:52] deads2k commented on #44164
@ilackarms link your pull and tag me when have it open so we can be sure it makes 1.7

[2017-06-05 12:15] rrati commented on #43516
I'll log another issue about the cloud provider issue and reference this issue.  I'm not sure about the load issue, but the cloud provider issue is something we can start to address.

[2017-06-05 12:23] deads2k commented on #10710
@liggitt @smarterclayton are type changes going to do anything funky with protobuf?

[2017-06-05 12:32] wojtek-t commented on #46705
Watches are generally solved from apiserver and we have per-resource-types history cached in apiserver (in cacher.go). That said, assuming that you are not starting the watch from very old resource version, this should very very rarely affect the end client (though those logs are visible in apiserver).

That said, I think we can try improving it. Basically, currently when we are doing compaction,

[2017-06-05 12:43] deads2k commented on #9879
Resolved with plugin initializers

[2017-06-05 12:43] #9879 closed

[2017-06-05 12:47] deads2k commented on #46871
The list hasn't been fixed since TPRs were introduced many releases ago.  The code that does the resource checks has comments about updating to handle changing lists of resources, but the work was never done.

I would propose a slightly different fix.  If we separated controllers into binaries associated with an API group, the absence of the group could simply crashloop a pod running the controlle

[2017-06-05 13:08] ncdc commented on #46958
@kubernetes/sig-api-machinery-bugs

[2017-06-05 13:16] 4a4c commented on #43634
thanks for posting; was having the same issue on a cluster that I upgraded to 1.6.x on but had not rev'd etcd to v3 yet.

[2017-06-05 13:19] timothysc commented on #42002
There is no way we're going to land this for 1.7, we're past feature freeze at this point.

[2017-06-05 13:26] luxas commented on #42002
@timothysc I don't think this is planned for v1.7 either...

[2017-06-05 13:32] ilackarms opened #46963 "Add gating to API Compression handler"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

PR #45666 adds gzip and flate compression to GET and LIST requests on API Objects. This issue is a feature request to add a feature gate to opt out of compression. (https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L117)

[2017-06-05 13:32] ilackarms commented on #44164
gating issue #46963

[2017-06-05 13:39] macpoint opened #46964 "apiserver etcd v3 client does not close connections to dead etcd node"
Hi,

running 1.6.4 on etcd 3.0.17 in the following setup:

- 3 etcd nodes (bootstrapped according to the [clustering guide](https://coreos.com/etcd/docs/latest/op-guide/clustering.html))
- 9 kubernetes cluster nodes all of them running kube-apiserver (--apiserver-count=9) with --bind-address to local kube-apiserver instance. All instances pointing to the same etcd cluster (--etcd-servers=http://IP

[2017-06-05 13:41] ivanjaros opened #46965 "Projected volume does not support configMap"
According to the documentation in here https://kubernetes.io/docs/concepts/storage/volumes/#projected the configMap should be supported in the projected volume, yet only secrets work.

Using Kubernetes 1.6.4 on GKE.

(I have a bunch of configmaps that I want to mount into a single directory so this is very important for me.)

[2017-06-05 13:48] vladimirvivien commented on #45399
@jsafrane lol... thanks for fighting with bot and getting this closed!

[2017-06-05 13:49] macpoint commented on #46964
/area etcd

[2017-06-05 13:51] #43717 closed

[2017-06-05 13:51] #46770 closed

[2017-06-05 13:54] wojtek-t commented on #46851
So unfortunately due to these problems, we are also missing logs from most of kubemark-scale runs.
That said, I checked a bit more and:

- it seems it was still good in 442 run:
[code]

It was worse in runs 446 and 447, but still not that bad as it is now:
[code]

So there might have been two separate regressions. And the PRs that @liggitt mentioned above might be probable. We should verify this.

[2017-06-05 13:59] wojtek-t commented on #46851
I just checked that when I was reproducing it on Friday, I was reproducing it from commit:
[code]
That means, that the second PR https://github.com/kubernetes/kubernetes/pull/45980 was even not yet merged then.

[2017-06-05 14:03] k82cn commented on #42002
me too :). It's not for 1.7 :).

[2017-06-05 14:16] wojtek-t commented on #46851
BTW - I think it's not clear from anything below, but a huge number of conflicts, may also be consequence, not the root cause. E.g. slow watch event processing may be root cause (though I don't really have hypothesis why it could have regressed...)

[2017-06-05 14:20] gyliu513 commented on #46957
/assign

[2017-06-05 14:20] gyliu513 commented on #46629
/assign

[2017-06-05 14:20] justinsb commented on #46871
I don't disagree that splitting up k-c-m is a good long-term fix.  We do also need a fix for 1.7, because it is much more likely than it was in 1.6, at least according to the flake rate for the kops e2e (*).  I agree that waiting for /healthz would be adequate, but we should decide an approach asap and get it into testing.

* I am assuming that the majority of the increase in the kops flakes are d

[2017-06-05 14:23] justinsb commented on #46871
The "moral equivalent" of separating into separate binaries which kubelet would restart is presumably that k-c-m would not skip controllers, but would rather have them in separate goroutines that loop (with backoff) until they were registered (which might never happen).

[2017-06-05 14:24] wojtek-t commented on #46851
OK  - so I reverted the second PR that @liggitt mentioned (on top of the same commit as on Friday), and I still have 100.000 conflicts after 5 minutes of running cluster (not even running tests). So it seems, those PRs are unrelated to the regression...

[2017-06-05 14:24] ferrandinand commented on #46861
Hi @suyogbarve already updated but still getting random failures.
[code]

But still getting
[code]
[code]
[code]

[2017-06-05 14:26] justinsb commented on #46370
I am treating this as blocked on #46871 ; it appears that the majority of the flakes are a real issue with a k-c-m / resource race, which kops is more likely to encounter than kube-up for some reason.  (I suspect the reason is that kops bringup is more parallel)

[2017-06-05 14:30] xiangpengzhao commented on #46965
@kubernetes/sig-storage-misc

[2017-06-05 14:34] xiangpengzhao commented on #46964
@kubernetes/sig-api-machinery-misc

[2017-06-05 14:35] deads2k commented on #46871
This change happened in 1.6. When did you start seeing the increase?

[2017-06-05 14:37] lumjjb commented on #22888
@krmayankk, @ecordell

I have implemented the image rewriting on the admission controller: https://github.com/kubernetes/kubernetes/compare/master...lumjjb:img-webhook-con-rewrite?expand=1

Do you think we should have this be merged? Or should we discuss this more?

This addresses the problem in the documentation (https://github.com/kubernetes/community/blob/master/contributors/design-proposals/im

[2017-06-05 14:39] justinsb commented on #46871
Anecdotally, post-1.6, or the past month; see e.g. https://github.com/kubernetes/kubernetes/issues/46370.

A more precise answer would require some of that test-infra grep magic.

[2017-06-05 14:42] sheerun commented on #39622
@kubernetes/sig-network-misc

[2017-06-05 14:42] ericchiang commented on #40331
[code]

The kubelet should be ignoring files prefixed with a dot. Seems like this might be a bug? cc @kubernetes/sig-node-bugs

[2017-06-05 14:43] ericchiang commented on #40452
Seems like this bug is converging to address the same issues as https://github.com/kubernetes/kubernetes/issues/40331. That the kubelet isn't ignoring dot files.

[2017-06-05 14:45] deads2k commented on #46871
Hmmm... That actually got added here: https://github.com/kubernetes/kubernetes/pull/15427

[2017-06-05 14:49] justinsb commented on #46871
Right, but I believe we accept that we have a race here without something like the interlock (?).  I suspect the reason that we're hitting the race will be subtle - e.g. we've made k-c-m a little faster after acquiring the lock, or the apiserver starts the http listener sooner, or resource registration takes a little longer.

[2017-06-05 14:52] suyogbarve commented on #46861
@ferrandinand
I just changed following at it works fine
- name: KEEN_PROJECT_ID
            value: '3232333433243432131'

[2017-06-05 14:55] xiangpengzhao commented on #40331
I remember there was a PR fixed this. Let me find it.

[2017-06-05 15:03] xiangpengzhao commented on #40331
similar issue #44450. fixed in #45111 which has 1.7 milestone.

[2017-06-05 15:05] rrati opened #46969 "Cloud provider api issues can prevent kubelet from reporting node status"
There have been a number of reported instances of cloud provider services becoming unresponsive and this causing adverse affects in kubernetes.  If the cloud provider api is unresponsive, it could prevent the node from reporting node/pod status to the apiserver.  If this happens for too long, the node will be marked NotReady even though the kubelet is actually running without any issues.

I don't

[2017-06-05 15:06] xiangpengzhao commented on #40331
another related issue #46171

[2017-06-05 15:07] ericchiang commented on #40452
Fixed in 1.7 https://github.com/kubernetes/kubernetes/pull/45111

/close

[2017-06-05 15:09] m-burst commented on #43516
Seeing the same on GKE -- happened on 1.4 (don't remember the exact version) and persists after upgrade to 1.6.2

[2017-06-05 15:21] liggitt opened #46971 "TestNodeAuthorizer flake"
When a node is deleting a pod, the NodeRestriction admission plugin ensures the pod is bound to the node. It first checks the server cache for the pod.

In the case where a pod was created and immediately deleted, it may not yet exist in the server cache. Before forbidding, we should do a live lookup.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46945/pull-kubernetes-u

[2017-06-05 15:30] wojtek-t commented on #46851
I did:
[code]
and run 5000-kubemark from there, and still millions of conflicts (after 30minutes)
[code]

[2017-06-05 15:31] suyogbarve commented on #46736
@hongchaodeng @deads2k @xingzhou Root Cause of this is the fact that Namespace on ThirdPartyResources is getting ignored (both passed as command --namespace, or the one present in yaml)
ThirdPartyResources always end up in default namespace (which is causing confusion reported in bug)

[2017-06-05 15:33] wojtek-t commented on #46851
hmm - but maybe I did it wrong...

[2017-06-05 15:38] deads2k commented on #46736
How long has that bug existed?  @enisoc might related to your other findings.

We know that bug doesn't exist in CRDs (we have tests specifically checking namespace handling), so I'd suggest converting to those as soon as possible.

[2017-06-05 15:38] timothysc commented on #44846
/me closing this is too old and not enough data on repros...

[2017-06-05 15:38] #44846 closed

[2017-06-05 15:39] kow3ns opened #46975 "StatefulSet Partitioned strategy vs parameterized Roll out strategy"
Prior to 1.7 release we should decide on keeping the PartitionedStatefulSetStrategy documented in the design for StatefulSet update, or, instead, adding an optional ordinal parameter to the RollingUpdateStatefulSetStrategy. The deviation is described below.

[code]

[2017-06-05 15:39] wojtek-t commented on #46851
@dchen1107 - FYI (as a release blocker)

[2017-06-05 15:40] kow3ns commented on #46975
@kubernetes/sig-apps-api-reviews
@kargakis
@smarterclayton
@janetkuo

[2017-06-05 15:41] yujuhong commented on #40331
#45111 fixed the bug where kubelet did not ignore the "." files properly. This PR was not cherry picked to 1.6.

By the way, kubelet does not include filename or source when generating the pod UID, so the temporary file generated by the editor can have the same UID as original pod. Removing the temp file causes the pod to be removed as well. This is part of what causes the confusion. I have a fix

[2017-06-05 15:45] shashidharatd opened #46976 "federation: errors in cleaning the load balancers in federation e2e tests."
In federation tests, if we observe the build logs. we see cleaning up LoadBalancer from cloud provider seems not working.
[code]
It has 2 effects:
- delays the tests by waiting to delete but always returns error. so we waste like 5 minutes.
- maybe we are leaking the LoadBalancer in the project.

@madhusudancs @kubernetes/sig-federation-bugs

[2017-06-05 15:48] shashidharatd commented on #46976
we can see these errors in every build. but just for reference here are some build logs
- https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/4195/build-log.txt
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/45666/pull-kubernetes-federation-e2e-gce/8943/?log#log

[2017-06-05 15:50] thockin commented on #12732
I've been looking at this problem from the Service side.  It seems useful for kube to optionally generate a CA and serving cert for a Service, so clients can trust that the Service they are talking to is the service they expect.

[2017-06-05 15:51] gnufied commented on #46882
I have proposed in past to remove/deprecate `--enable-controller-attach-detach` flag, because master-controller has been default for awhile now.

Moreover, there are many  other issues that exist if user chooses to set this flag to false (for example - no error events get logged to pod on attach/detach failure IIRC).  kubelet side attach/detach receives little to no testing.

[2017-06-05 15:51] rrati commented on #43516
@m-burst @rgomesf @jfoy @edevil How large are the clusters that you run in the cloud provider?

[2017-06-05 15:54] m-burst commented on #43516
@rrati Pretty small: 5 nodes, 1 deployment with 10 pods, with 2 containers in each pod

[2017-06-05 16:02] xiang90 commented on #46705
@wojtek-t

it is reasonable (this is what we do for internally and suggested for other projects). we can do this in a time based manner or number based manner.

/cc @hongchaodeng can you take a look? or i can take a look later this week.

[2017-06-05 16:03] jcbsmpsn commented on #42089
/sig auth

[2017-06-05 16:04] jcbsmpsn commented on #42089
Fixed by https://github.com/kubernetes/kubernetes/pull/46154

[2017-06-05 16:04] jcbsmpsn commented on #42089
/assign @jcbsmpsn

[2017-06-05 16:05] smarterclayton commented on #12732
Yeah, had planned to fold this into the container / service identity working group discussion, that email will go out in the next day or two.

[2017-06-05 16:06] smarterclayton commented on #12732
This is fully implemented in openshift and is going to move into GA as soon as we figure out what the istio / SPIFFEE alignment will be (spiffee has an analogue, as does istio)

[2017-06-05 16:06] ericchiang commented on #44476
@pwittrock bug is pretty self contained in the GCP client auth plugin and the fix is short https://github.com/kubernetes/kubernetes/pull/45575

Not strictly a regression, but something that popped up over this cycle as a bug impacting users. Is that reason enough to get it in during the 1.7 freeze?

[2017-06-05 16:08] jpoon commented on #45827
Hmm, I just deployed a cluster and attached an AFS without issues. The only difference is I did:

`echo -n <my-storage-account> | base64`  and the same for the account key.

[2017-06-05 16:09] jcbsmpsn commented on #46603
Mostly a duplicate of https://github.com/kubernetes/kubernetes/issues/40252

[2017-06-05 16:24] yujuhong commented on #39113
@caseydavenport, how many pods did you create in one shot? kubelet/docker is known to slow down during batch pod creation/deletion.

No, but we have a separate client for events.

May I ask why this is a 1.7 issue? I am not sure what we want to achieve here for 1.7...

[2017-06-05 16:25] liggitt commented on #10710
a type alias shouldn't. only the tag name and bytes hit the wire. the type info is part of the schema you bring to the encoder/decoder

[2017-06-05 16:40] rgomesf commented on #43516
@rrati Pretty small also: +/- 20 pods and 3 nodes

[2017-06-05 16:44] chrismcv commented on #45827
I'm using the following `sh` script to generate my secret.... That would be doing the same thing as you?

[code]

[2017-06-05 16:45] andrewhowdencom commented on #19953
Also seeing this. In my case, it's being attached to a pod run by a job, and when that job runs to completion, the disk isn't being detached.

Resource is here: https://github.com/andrewhowdencom/m2onk8s/blob/master/deploy/helm/charts/magento/templates/install.job.yaml

It's being consumed by the deployment in that same folder.

[code]

@bbhoss @shimizuf perhaps we should open a new issue rather t

[2017-06-05 16:45] hongchaodeng commented on #46736
@deads2k
Isn't CRD available in 1.7+ ?

[2017-06-05 16:47] cmluciano commented on #46103
i think this should not be marked as complete until the kubeadm fixes are in.

[2017-06-05 16:48] jpoon commented on #45827
I mean, the `-n` flag is the difference in my case. Can you try with that? `echo -n $storage`.

[2017-06-05 16:49] dashpole commented on #37118
/sig node

[2017-06-05 16:50] hongchaodeng commented on #46705
Some tradeoff:
- time-based (current option) might have issue that there could be no change (really?) between 5 minutes.
- number based could have issue that there could be too many changes (unlikely 1000?) in a short period.

It depends on the use case. I'm not sure about which is better so it is up to you @wojtek-t .

I still have questions why the watcher connection cut off? Because of resync?

[2017-06-05 16:50] chrismcv commented on #45827
sorry - pasted wrong script in... yes, tried `-n` no luck.

[2017-06-05 16:51] deads2k commented on #46736
Yes.  If the bug has existed for multiple releases (not a regression), I don't think this is a blocker for 1.7.  It could still be patched, just not a blocker for the current release.

[2017-06-05 16:52] gytisgreitai commented on #43516
In our case it was the problem of overloaded nodes and pod without limits:

- Nodes are working near full capacity
- A pod gets launched which has a heavy cpu usage and with no cpu limits
- Node is busy serving that particular pod, and does have enough cpu cycles for kubernetes health checks
- Eventually OS kills the docker process associated with heavy usage, and all goes back to normal.

So what

[2017-06-05 16:57] #42816 closed

[2017-06-05 16:57] cmluciano commented on #46078
/assign @m1093782566

[2017-06-05 16:58] hongchaodeng commented on #46736
Migration to CRD still is not automated and will still take some time. Have you considered that?

[2017-06-05 16:58] xiangpengzhao commented on #45371
/sig cluster-ops

[2017-06-05 17:00] xiangpengzhao commented on #44841
/sig cluster-ops

[2017-06-05 17:04] MrHohn commented on #43755
Since kubectl apply --prune is still in alpha, we may not guarantee its compatibility during version skew.

Closing this issue for now.

/sig cli

/close

[2017-06-05 17:06] deads2k commented on #46736
Yes, but if the behavior is not a regression, then this does not block the release.  The fact that we have a clear path forward to a working resource is gravy.

[2017-06-05 17:06] spiffxp commented on #42670
Yes, we're limping along with test_owners.csv and test_owners.json, but I would really like to see things restructured to also take advantage of OWNERS better

[2017-06-05 17:07] MrHohn commented on #42832
/sig network

[2017-06-05 17:08] wongma7 commented on #46839
@samiaben88 can you post your pod spec please? It worked for me with the following pod and configmap (adapted from the doc example):
[code]
[code]

[2017-06-05 17:10] janetkuo commented on #46942
/assign @kow3ns

[2017-06-05 17:22] caseydavenport commented on #39113
I essentially am scaling up a Deployment from 0->300 when I see this happen.

I similar results scaling 0->30 on a single node cluster.

[2017-06-05 17:27] spiffxp commented on #46832
FWIW this lead me to open #46978

[2017-06-05 17:29] thockin commented on #39113
Its not surprising in batch updates (0->30 on one node is very much batch)
and that's not a realistic case.   Perhaps the SLO here should include
number of new replicas per node per second (churn)?

In other words, yeah, it's bad, and we should try to fix it, but it is a
somewhat bogus yardstick. :)

On Jun 5, 2017 10:22 AM, "Casey Davenport" <notifications@github.com> wrote:

I'm starting about 3

[2017-06-05 17:32] edevil commented on #43516
@rrati 5 nodes. It doesn't seem to be a node load problem.

[2017-06-05 17:32] msau42 commented on #3399
/assign

[2017-06-05 17:32] msau42 commented on #3399
/close

[2017-06-05 17:32] #3399 closed

[2017-06-05 17:35] nikhiljindal commented on #33312
Updated the issue title to be generic to add tests for replica set preferences.
@henriquetruta is taking a first cut at https://github.com/kubernetes/kubernetes/pull/45840

[2017-06-05 17:38] msau42 commented on #46882
Can you try with the default settings, so that we can eliminate some variables?  Even for GKE, where you can't drop plugins in the master, flex still should work as long as the plugin doesn't need to attach/detach.

[2017-06-05 17:49] janetkuo commented on #46922
/assign @kow3ns

[2017-06-05 17:51] mengqiy commented on #30558
/sig cli

[2017-06-05 17:52] yujuhong commented on #39113
+1.

I believe so far we've only measured a single pod startup time in a steady node (w/ N pods running) in our [e2e perf tests](https://github.com/kubernetes/kubernetes/tree/v1.8.0-alpha.0/test/e2e/perf), so it's not surprising if kubelet can't meet your latency goal. If we want to new objectives, they should probably be discussed and included in the k8s SLO doc (http://go/k8s-slo) @wojtek-t draf

[2017-06-05 17:53] shyamjvs opened #46980 "Losing kubemark master logs if failing in e2e tests"
We've been losing the kubemark master logs for almost all the last few runs of kubemark-scale in case of failure during `run-e2e-tests.sh` step.
For eg:
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/455/artifacts/
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/454/artifacts/
http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-k

[2017-06-05 17:55] shyamjvs commented on #46980
@kubernetes/sig-testing-bugs

[2017-06-05 17:57] hongchaodeng commented on #46736
This bug existed in 1.4 (https://github.com/kubernetes/kubernetes/issues/32306), got fixed in 1.5, but appears again in 1.6 .

[2017-06-05 17:57] wojtek-t commented on #39113
I also agree that it's not very realistic scenario. You can indeed try starting a lot of pods at the same time, but not necessarily on the same node. And yes - we should definitely discuss it in the context of new/revisted upcoming SLIs/SLOs.

[2017-06-05 18:00] mengqiy commented on #39500
/sig cli

[2017-06-05 18:00] mengqiy commented on #39775
/sig cli

[2017-06-05 18:00] janetkuo opened #46981 "Additional tests and bug fixes for DaemonSet history"
Follow up #45924:

- [x] e2e test: **(PR #47387)**
  1. create DS
  1. update template - rollout proceeds only a little ways
  1. roll back by updating template to be the same as the original template. existing pods not yet updated in step 2 should not be restarted
- [x] https://github.com/kubernetes/kubernetes/pull/45924#discussion_r119913915: wait for the history cache to be synced **(PR #47084)