[2021-04-19 16:17] evertrain commented on #101249
/assign

[2021-04-19 16:19] evertrain commented on #101249
/sig  apps

[2021-04-19 16:25] neolit123 commented on #101231
the problem is in the test-infra spec.
planned to send PR fix for it during the weekend, but didn't get to it.

the errors are the result of a manual update to the same spec that should be mitigated by the new tooling here:
https://github.com/kubernetes/kubeadm/issues/2430

[2021-04-19 16:34] neolit123 commented on #101231
fix: https://github.com/kubernetes/test-infra/pull/21853

[2021-04-19 16:53] lavalamp commented on #94907
/reopen
/lifecycle frozen

I think it's probably still important that exempt requests reduce the available concurrency for non-exempt requests.

@wojtek-t in case you haven't seen this one.

[2021-04-19 16:57] walec51 commented on #83094
this is still a very needed feature

[2021-04-19 17:01] vaibhav2107 commented on #94404
@adtac Thanks for the information.
By assigning, I just meant that whether we can assign createNodes directly like ( createNodes: $initNodes ).

[2021-04-19 17:01] Huang-Wei commented on #101237
@chendave it's built in PreFilter, and used in the preemption logic:

https://github.com/kubernetes/kubernetes/blob/fd8128d7d65cd650c0ecb60e6b1845f7d1844ff2/pkg/scheduler/framework/plugins/podtopologyspread/filtering.go#L92

Basically, we built a map keyed with topologyKey, and valued with [2]criticalPaths in PreFitler phase. This records top2 valid tpPairs with minimum matching number. E.g., {zon

[2021-04-19 17:06] nicomitchell commented on #94404
@vaibhav2107 I don't think that's possible since there can potentially be other parameters besides the countParam. For example:
[code]

Different operations could potentially have different parameters.

[2021-04-19 17:14] pohly commented on #101130
Don't you need a KEP for a change of this scope?

[2021-04-19 17:42] celestehorgan commented on #94900
@spiffxp – is there still work to be done here?

[2021-04-19 18:08] MartinKanters commented on #101137
/assign

[2021-04-19 18:12] Jiawei0227 commented on #100900
Gentle ping.

[2021-04-19 18:21] tallclair commented on #99425
Not to sound like a broken record, but all 3 of the points @thockin made are tackled by the PSP replacement KEP mentioned above.

[2021-04-19 18:30] Jiawei0227 commented on #101153
Thanks for reporting this! This is a known issue and it is in our fix list. The csi spec change has been merged here: https://github.com/container-storage-interface/spec/pull/464
From k8s side, a preparation change in 1.21 is here: https://github.com/kubernetes/kubernetes/pull/98753
We are planning to completely relax the constraint in 1.22.

[2021-04-19 18:48] CharlieReitzel commented on #71305
Updated link:
https://docs.oracle.com/en/operating-systems/oracle-linux/kubernetes/kube_admin_config.html#kube_admin_config_iptables

[2021-04-19 18:52] neolit123 commented on #101227
/sig node

[2021-04-19 19:24] rikatz commented on #100434
hum this is really strange. But as far as this seems something related to the CNI or your install and not with kubernetes, I guess this can be closed right? :)

[2021-04-19 19:50] eddiezane commented on #93346
@danielhass if you're interested in owning this a good place to start would be a [KEP](https://github.com/kubernetes/enhancements). That way the proposal can be fully fleshed out and thought through.

[2021-04-19 20:13] divyenpatel commented on #101153
We have a workaround for this issue - https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/801/files

cc: @chethanv28

[2021-04-19 20:23] BenTheElder commented on #100918
@ehashman we should probably stage that package then or move it to https://github.com/kubernetes/utils.

k8s.io/kubernetes imports are unsupported.

Importing test-infra is not a great idea either, it's another monorepo with heavy dependencies and it isn't versioned.

[2021-04-19 20:28] ehashman commented on #100918
/cc @dims

[2021-04-19 20:30] bowei commented on #100846
Given the fragility of the API contracts and N provider implementations, it's probably better for the implementations to implement handling for the looser contract rather than try to give stricter guarantees at this level.

[2021-04-19 20:41] jayanta5050 opened #101258 "Not able to create kube-proxy pod"
I had create 3 node kubernetes cluster
1 Master
2 Worker Nodes
By mistake kube-proxy dockers and pod got deleted in one worker node, How to create kube-proxy docker and pod in one node again.

In first worker node below dockers are running...
![image](https://user-images.githubusercontent.com/79866150/115300779-60d3e880-a12e-11eb-8f67-f1236187f6d1.png)

In second worker node below dockers are runn

[2021-04-19 21:13] jsturtevant commented on #101062
correct but it will be supported once HostProcess containers are merged in 1.22: https://github.com/kubernetes/kubernetes/pull/99576

Only in Overlay networks (ie Flannel where these tests are flaking) does the pod have to be on the same node.  It doesn't require host network mode and these tests are [not flaky on l2bridge setup](https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-contai

[2021-04-19 21:14] dims commented on #100918
@ehashman other than NPD, all others are either tests or vendor, So i'd recommend NPD pick up a copy and maintain it.

[2021-04-19 21:19] liggitt commented on #75551
@ruiwen-zhao, please confirm the current version of gcr.io/gke-release/nvidia-gpu-device-plugin used in master either 1) does not contact the kubernetes API or 2) does so using a version of client-go at 1.14+

[2021-04-19 21:30] ruiwen-zhao commented on #75551
The device plugin talks to kubelet on the node using kubelet's [DevicePlugin API](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/pkg/apis/deviceplugin/v1alpha/api.proto).

It uses [client-go 0.19.2](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/vendor/modules.txt#L152) and [kubernetes 1.19.3 ].(https://github.com/GoogleCloudPlatfo

[2021-04-19 21:46] zshihang commented on #75551
- gcr.io/projectcalico-org/cni:v3.16.2: https://github.com/projectcalico/cni-plugin/blob/4c440351e94c89a39f64dfa701f45414a319b1e8/go.mod#L42
- gcr.io/projectcalico-org/node:v3.16.2: https://github.com/projectcalico/node/blob/540bae1729bff3fd201e78bac6a7e83a4ac0ae7e/go.mod#L21
- gcr.io/projectcalico-org/typha:v3.16.2: https://github.com/projectcalico/typha/blob/b31b460cbc273d82d3debdf222b7898a3683a

[2021-04-19 21:51] ehashman commented on #93480
Still failing: https://testgrid.k8s.io/sig-instrumentation-tests#gci-gce-es-logging

/remove-lifecycle stale

[2021-04-19 21:57] robscott commented on #99824
Follow up - this has transitioned to a PR on Gateway API: https://github.com/kubernetes-sigs/gateway-api/pull/614.

[2021-04-19 22:05] zshihang commented on #75551
@coffeepac, @monotek could you check if quay.io/fluentd_elasticsearch/elasticsearch:v7.4.3 and quay.io/fluentd_elasticsearch/fluentd:v3.1.0 talk to API server? if they do, are they using client-go 1.14+

[2021-04-19 22:19] mkimuram commented on #101130
@pohly

Thank you for your suggestion. I will work on creating a KEP.

[2021-04-19 22:55] #96766 closed

[2021-04-19 23:26] voutcn commented on #100871
/assign

[2021-04-20 00:08] varunmar opened #101263 "Prevent kubelet from spewing errors about CNI initialization into the log before the CNI configs are written"
#### What would you like to be added:
Turn down or change kubelet logging about temporary CNI initialization errors.

#### Why is this needed:
CNI plugins write their configurations into /etc/cni/net.d/ when initialized. Often, this happens by a host networking daemonset initializing the node.

When kubelet is asked to create pods and does not see an initialized CNI config, it writes log lines of

[2021-04-20 00:10] varunmar commented on #101263
/sig network
/sig node
/assign bowei

[2021-04-20 00:48] neolit123 commented on #101258
please use the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/remove-kind bug
/kind support

[2021-04-20 00:49] #101258 closed

[2021-04-20 00:50] neolit123 commented on #101222
use the support forums and #sig-scheduling on k8s slack for more questions about this:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2021-04-20 00:50] #101222 closed

[2021-04-20 01:25] thejoycekung commented on #98184
/close

[2021-04-20 01:25] #98184 closed

[2021-04-20 03:39] chewong commented on #93276
/remove-lifecycle stale

[2021-04-20 04:52] mauriciopoppe commented on #101172
/sig windows

[2021-04-20 05:42] Cheers-am commented on #101227
/sig kubernetes

[2021-04-20 05:44] Cheers-am commented on #101227
/sig/kubernetes

[2021-04-20 06:07] andyxning opened #101270 "Express "schedule my deployment pods on at least two nodes""
How to express "schedule my deployment pods on at least two nodes" with current schedule primitives.

If my deployment can have 10 pods, i want all of them to be scheduled on at least two nodes instead of only one node. I know this may result in Pending pods when there are no additional node is available. We need to distributed pods on at least two nodes to keep a high availability incase on node

[2021-04-20 06:29] fedebongio commented on #100982
/triage accepted

[2021-04-20 06:29] fedebongio commented on #100933
/triage accepted

[2021-04-20 06:30] fedebongio commented on #100798
/triage accepted

[2021-04-20 06:30] fedebongio commented on #100751
/triage accepted

[2021-04-20 06:30] fedebongio commented on #100595
/triage accepted

[2021-04-20 06:30] fedebongio commented on #100581
/triage accepted

[2021-04-20 06:30] fedebongio commented on #100577
/triage accepted

[2021-04-20 06:30] fedebongio commented on #100572
/triage accepted

[2021-04-20 06:30] fedebongio commented on #100471
/triage accepted

[2021-04-20 06:30] fedebongio commented on #100453
/triage accepted

[2021-04-20 06:34] andyxning commented on #101270
/sig schedule

[2021-04-20 06:52] andyxning commented on #101270
/sig Scheduling

[2021-04-20 07:13] chendave commented on #101237
Thanks @Huang-Wei for the excellent explanation!

There is not need to maintain two critical paths for the normal scheduling process,  but I missed the case of preemption, and also the case where the node has some nominated pods associated already, both these cases have the possibility to update the initial `preFilterState` and then call the `Filter` extension points to check the feasibility of th

[2021-04-20 07:13] chendave commented on #101237
/close

[2021-04-20 07:13] #101237 closed

[2021-04-20 07:14] Jiawei0227 commented on #100474
/triage accepted

[2021-04-20 07:23] jonathanheilmann commented on #45419
I'm not able to downgrade runC. Can you post a small how to, please?

[2021-04-20 07:23] Jiawei0227 commented on #91246
Gentle ping. Any updates on this?

[2021-04-20 08:46] bbroniewski commented on #45419
What I did:

Before doing it you should stop the docker.

Check if it was installed via ```apt``` (should appear on the list):
```apt list --installed```

if yes then remove it:
```sudo apt-get purge runc```

If not listed, then run:
```which runc```

it will show you where it is installed, then remove that folder:
```rm -R <folder_name>```

Then I installed specific version using blog:
[https://d

[2021-04-20 08:49] okgolove commented on #54482
I have a similar problem. There are multiple domains in DHCP option (like `"example.com test.com contoso.com"`). When kubelet tries to start it obtains hostname using ec2 metadata endpoint `http://169.254.169.254/latest/meta-data/hostname`. Hostname in metadata looks like `ip-10-11-39-89.example.com test.com contoso.com`. This string can't be use a node name of course and I get

[code]

[2021-04-20 09:48] kradalby commented on #96067
I agree with @andy-v-h  that the blanket statement "it does not make sense" for ReplicaSet. There is multiple usecases for this, in additional to the original post, we have one were we are fitting an off the shelf app into our auth system, requiring it to fetch the token every 12h, were cycling the pods would make complete sense.

[2021-04-20 10:02] mengjiao-liu commented on #99453
/unassign

[2021-04-20 10:04] pacoxu commented on #101270
podAntiAffinity with preferredDuringSchedulingIgnoredDuringExecution may help
https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity-beta-feature

[2021-04-20 10:24] renan commented on #45419
We are running some nodes on version `1.0.1-dev` (nodes were created ~24 hours ago) and others on `1.0.2-dev` (nodes were created ~6 hours ago).

The former doesn't seem to have any issue. While the latter is experiencing the issues highlighted in this issue.

[2021-04-20 10:34] andyxning commented on #101270
@pacoxu `SelectorSpreadPriority` is trying to minimize the number of pods on the same node not try to enforce it which is what i desire

[2021-04-20 10:40] renan commented on #45419
I've installed the `docker.io` package which then installs `containerd` and `runc` (`1.0.0~rc93-0ubuntu1~20.04.1`). Running on Ubuntu 20.04.2 LTS.

[code]

How is this version mismatch even possible?

[2021-04-20 11:14] humblec commented on #91246
@Jiawei0227 would like to discuss few things on this. Can we sync up in slack please ?

[2021-04-20 11:24] danielhass commented on #93346
@eddiezane - thank you for your reply. I will read trough the KEP process and see if I manage to start one in the near future.

[2021-04-20 11:29] wojtek-t commented on #94907
Thanks for cc-ing Daniel. I was aware of the problem, but not about this issue.

[2021-04-20 11:58] gautierdelorme opened #101275 "flaky pull-kubernetes-e2e-kind tests due to timeout"
#### Which jobs are flaking:

`pull-kubernetes-e2e-kind`

#### Which test(s) are flaking:

Different tests seem to randomly fail. Some examples:

- `[sig-network] KubeProxy should set TCP CLOSE_WAIT timeout [Privileged]` : `timed out waiting for the condition`
- `[sig-network] HostPort validates that there is no conflict between pods with same hostPort but different hostIP and protocol [LinuxOnly]

[2021-04-20 12:31] giskou commented on #45419
If you are using ubuntu and the **_docker apt repository_**, you need to downgrade containerd.io to version 1.4.3-1

[2021-04-20 12:32] liggitt commented on #75551
took a stab at categorizing remaining images by sig

[2021-04-20 12:40] suvsap opened #101278 "Increase in response time for the client"

[2021-04-20 12:42] suvsap commented on #101278
/sig autoscaling

[2021-04-20 12:44] suvsap commented on #101278
Response time:-

![image](https://user-images.githubusercontent.com/39982555/115397904-35233200-a204-11eb-937c-949c46db52c2.png)

[2021-04-20 13:01] felschr commented on #76570
It's still closed.

[2021-04-20 13:07] DarrienG commented on #76570
Ah apologies then. The GitHub app acts like you can reopen even if you can't. Looks like I don't have permissions then.

[2021-04-20 13:16] aojea commented on #101275
/assign
 is not failing always https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind , but it seems affects only to #100490

[2021-04-20 13:35] venkatsc commented on #100900
@Jiawei0227 Please deprecate the in-tree plugin and updated any old references to our [Quobyte CSI](https://github.com/quobyte/quobyte-csi#quobyte-csi) repo.

Thank you.

[2021-04-20 13:43] huffmanca opened #101279 "Data caching issue for snapshot tests"
#### What happened:
The volume snapshot controller tests can result in an empty VolumeSnapshot being taken if NodeUnstageVolume occurs after the VolumeSnapshot is taken. Previously there was a change made in Windows to ensure that NodeUnstageVolume finishes before continuing with the test; however, this needs to also to be included in other distros as well. NodeUnpublish, which removes the bind mo

[2021-04-20 13:45] huffmanca commented on #101279
/sig storage

[2021-04-20 13:50] alculquicondor commented on #101270
There is no such primitive.

You can use required topology spreading to force the scheduler to keep a balanced number of pods in between all nodes that qualify to host the pod  https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/ (see the usage of `whenUnsatisfiable: DoNotSchedule`).

However, I would recommend to stick with `whenUnsatisfiable: ScheduleAnyway` and le

[2021-04-20 13:51] adtac commented on #94404
@vaibhav2107 createNodes and createPods aren't the only operations. Other operations (e.g. churn and barrier), including future ones, may not fit that format. It's also easier to parse and more explicit this way.

[2021-04-20 13:53] alculquicondor commented on #101270
/close

Github is not the appropriate venue to ask for support. You can consider asking in stackoverflow or the slack channel for https://kubernetes.slack.com/messages/kubernetes-users

[2021-04-20 13:54] #101270 closed

[2021-04-20 14:05] VigneshSP94 commented on #99299
@juliantaylor @thockin @aojea

I tried to reproduce this issue -

- Spun a 6 node k8s cluster, 1 master and 5 worker.
- Created an app with LoadBalancer to expose service and set the external traffic policy to local.
- Started logging available endpoints on all worker nodes, iptables rules for this service, kube-proxy logging at level 4.
- Using haproxy as my load balancer.

Started sending traffi

[2021-04-20 14:10] liggitt commented on #75551
@kubernetes/sig-instrumentation-members, please sweep the listed images to determine:

1. whether they use the mounted service account token to contact the API server
2. if so, whether they are using a 1.14+ level of client-go

Images that use mounted service account tokens should use client-go 1.14+ in 1.22+ in order to pick up auto-rotated tokens correctly.

[2021-04-20 14:45] jayunit100 commented on #98302
The above PR will get us going in the right direction here

[2021-04-20 15:22] liggitt commented on #98302
given that, does adding in flag/config merging capability make sense? warning when unused flags are specified along with config seems simpler and makes the config file able to be inspected/validated without knowing the full command line

[2021-04-20 15:28] jsafrane opened #101281 "NodeUnpublish is called *after* a pod is deleted from API server"
#### What happened:
Issue #101279 revealed interesting behavior of kubelet - NodeUnpublish is called few hundred milliseconds **after** a pod is deleted from the API server.

The test:

1. It [writes some data to a PV/PVC](https://github.com/kubernetes/kubernetes/blob/c555b23f1c84bcdd1d87a7ae831675281f5c0c94/test/e2e/storage/testsuites/snapshottable.go#L146-L148) and inside `RunInPodWithVolume` it

[2021-04-20 15:31] jsafrane commented on #101281
/sig storage

[2021-04-20 15:33] jsafrane commented on #101279
/triage accepted
/priority important-soon
all snapshot tests with real CSI drivers are quite flaky, I saw it at least in AWS, Azure and GCE in a downstream CI job

[2021-04-20 15:57] jsturtevant commented on #98499
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1384425538617085952

[2021-04-20 15:59] jsturtevant commented on #98574
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/1384379987431264256

[2021-04-20 16:06] gnufied commented on #100474
@dobsonj is going to take a stab at it.

[2021-04-20 16:06] #101185 closed

[2021-04-20 16:08] jsturtevant commented on #98499
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-20h2-1-21/1384276803606024192

[code]

[2021-04-20 16:10] jsturtevant commented on #95226
another failure here: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-2019/1384388796144947200

[2021-04-20 16:17] Random-Liu commented on #99624
IIRC, `kubelet_running_pods` is not intended to reflect the pod phase in the API server.

It is used to expose the kubelet internal state: how many pods have running containers in the container runtime, and mainly for debugging purpose.

[2021-04-20 16:23] zshihang opened #101283 "[sig-network] update client-go to 1.14+ in images"
#### What happened:

the following images are using old client-go that would not work correctly starting 1.22+ if those images use in-cluster config(mounted service account token) to talk to kube-apiserver:
- ~k8s.gcr.io/k8s-dns-dnsmasq-nanny~
- ~k8s.gcr.io/k8s-dns-kube-dns~
- ~k8s.gcr.io/k8s-dns-sidecar~
- k8s.gcr.io/networking/ip-masq-agent-amd64

#### What you expected to happen:

if the above

[2021-04-20 16:24] jsturtevant commented on #98499
/cc @claudiubelu

[2021-04-20 16:25] zshihang commented on #101283
/sig network
/triage accepted
/priority important-soon

[2021-04-20 16:26] liggitt commented on #101283
I'd suggest leaving off the triage label so it shows up in the sig's issue workflow

[2021-04-20 16:28] jeremyje opened #101284 "GCE Windows with fluent-bit logging produces low quality structured logs to stackdriver."
#### What happened:
The default fluent-bit configuration for GCE Windows nodes produces unparsed JSON logs and does not forward container logs.

#### What you expected to happen:
Container log output is produced.

#### How to reproduce it (as minimally and precisely as possible):

1. Preinstall fluent-bit on a given windows image.
1. Start a GCE Windows e2e cluster and view the stackdriver output

[2021-04-20 16:30] jeremyje commented on #101284
/sig windows

[2021-04-20 16:35] zshihang opened #101285 "[sig-node] update client-go to 1.14+ in images"
#### What happened:

the following images are using old client-go that would not work correctly starting 1.22+ if those images use in-cluster config(mounted service account token) to talk to kube-apiserver:
- k8s.gcr.io/gke-node-termination-handler

#### What you expected to happen:

if the above images use in-cluster config, they should use client-go 1.14+.

xref: https://github.com/kubernetes/ku

[2021-04-20 16:36] bowei commented on #101283
/assign @prameshj

Seems like all that's needed is to update and rebuild.

[2021-04-20 16:40] zshihang opened #101286 "[sig-autoscaling] update client-go to 1.14+ in images"
#### What happened:

the following images are using old client-go that would not work correctly starting 1.22+ if those images use in-cluster config(mounted service account token) to talk to kube-apiserver:
- k8s.gcr.io/addon-resizer

#### What you expected to happen:

if the above images use in-cluster config, they should use client-go 1.14+.

xref: https://github.com/kubernetes/kubernetes/issues

[2021-04-20 16:44] prameshj commented on #101283
Will update the dns images.

/assign @varunmar for ipmasq-agent image.

[2021-04-20 16:51] zshihang commented on #101285
/assign @SergeyKanzhelev

[2021-04-20 16:59] msau42 commented on #101281
That's very surprising. We check mountedvolumes from ASW first, it should have found it there: https://github.com/kubernetes/kubernetes/blob/6ede5ca95f78478fa627ecfea8136e0dff34436b/pkg/kubelet/kubelet_volumes.go#L55

But even assuming that, once it's unpublished, the pod can be deleted. We don't wait for unstage which is where the flush is done.

[2021-04-20 17:00] #96782 closed

[2021-04-20 17:05] SergeyKanzhelev commented on #101285
notes:

image defined here: https://github.com/GoogleCloudPlatform/k8s-node-termination-handler/blob/master/Dockerfile.build
and referenced here: https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/cluster/gce/addons/node-termination-handler/daemonset.yaml#L49

[2021-04-20 17:11] gnufied commented on #101281
yeah this is very surprising indeed. Can we rule out minor timing issue in timestamps logged in those log files?

[2021-04-20 17:20] SergeyKanzhelev commented on #101285
I think the right fix will be to remove this addon in 1.22 in favor of graceful termination feature: https://github.com/kubernetes/enhancements/issues/2000

[2021-04-20 17:24] #93480 closed

[2021-04-20 17:49] neolit123 commented on #101064
it was fixed in master (1.22) but not for 1.21, does it need a backport?
/reopen

[2021-04-20 17:49] neolit123 commented on #101064
/close

never mind i just saw the backports.

[2021-04-20 17:49] #101064 closed

[2021-04-20 17:53] idealtech-i3dlabs opened #101288 "kubectl commands don't respect timeout values on non-existent cluster"
#### What happened:
kubectl --request-timeout=4 get nodes or cluster-info doesn't wait for 4 seconds before timing out. (Tried many values, same thing)
It waits for at least 20 seconds. Not sure why 20, or where it's configured.

#### What you expected to happen:
kubectl exiting with an error after 4 seconds.

#### How to reproduce it (as minimally and precisely as possible):
time kubectl cluster-

[2021-04-20 18:02] SergeyKanzhelev commented on #101285
/cc: @vishh

[2021-04-20 18:20] jsafrane commented on #101281
For AWS I ran everything on a single node, therefore `klog.Infof` should add correct timestamp to logs. They may be buffered and flushed later, but the timestamp on the log line should be accurate.

[2021-04-20 18:22] jsafrane commented on #101281
(Not to derail this conversation, I noticed for AWS EBS it's not enough to unmount / unstage, the volume must be detached to get everything really written to the backend. But it's very rare, I saw it only once in ~100 attempts).

[2021-04-20 18:24] jsafrane commented on #101281
I think it could be caused by `RestartPolicy: v1.RestartPolicyNever` and the write command to finish quickly - maybe a finished pod is deleted quicker than a pod that still runs.

[2021-04-20 18:24] Craftoncu opened #101289 "Connection with Kubectl does not work over LoadBalancer"
#### What happened:
Connection with Kubectl does not work over LoadBalancer

#### How to reproduce it (as minimally and precisely as possible):
Setup clean cluster, add all server to a vnet, create loadbalancer service out of k8s, connect to public load balancer ip:6443

#### Anything else we need to know?:
HetznerCloud & If I target a single server, its working.

#### Environment:
- Kubernetes ve

[2021-04-20 18:27] danwinship commented on #100643
Oh, hm, I don't think I answered quite what you meant when you asked about "the CNI equivalent" before.

There are three possibilities, not two:

1. dockershim
2. CRI with an implementation that implements HostPorts natively (eg, cri-o)
3. CRI with an implementation that does not implement HostPorts natively, but converts the CRI HostPort data to the form used by [the CNI portmap plugin](https://g

[2021-04-20 18:39] aws-sidhartha opened #101291 "Required claims does not support arrays and failing kubernetes auth with oidc - EKS"
We have added an IDP called "lmiprod" to the EKS cluster with the following command and it has requiredClaims which specifies roles as a list and everyone in the list who has access prod role should be able to access the cluster and currently they are receiving the unauthorized error with requiredClaims but without that everyone in the OIDC app is able to access the cluster.

----
aws eks associat

[2021-04-20 18:52] neolit123 commented on #101291
/sig auth
cc @micahhausler

[2021-04-20 18:52] neolit123 commented on #101288
/sig cli

[2021-04-20 18:53] neolit123 commented on #101289
please try the support forums for this first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support
/sig cli

[2021-04-20 18:53] #101289 closed

[2021-04-20 18:54] Jiawei0227 commented on #57923
For anyone who is following this thread: we are planning to resolve this by issue in 1.22 release. Here is the enhancement: https://github.com/kubernetes/enhancements/pull/2606. Feel free to take a look if you are interested. Thanks!

[2021-04-20 18:59] zshihang commented on #97256
to migrate secret-based token volume to projected volume:
1. when BoundServiceAccountTokenVolume is enabled (1.21+), updates to the pod should have the projected volume added by sa admission controller
2. when BoundServiceAccountTokenVolume is not enabled, we need `RootCAConfigMap` to be enabled to manually add the projected volume
[code]

[2021-04-20 19:13] liggitt commented on #98854
this is failing in 5% of e2e runs - https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2021-04-13&pr=1&job=pull-kubernetes-e2e-kind&test=should%20return%20command%20exit%20codes#464986d09bc22437562b

[2021-04-20 19:13] liggitt commented on #98854
and is the top flake per http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2021-04-20 19:31] rikatz commented on #98854
/assign

Will take a look with Eddie :)

[2021-04-20 20:15] fedebongio commented on #94907
/triage accepted

[2021-04-20 20:17] fedebongio commented on #101137
/remove-sig api-machinery
/sig node

[2021-04-20 20:18] fedebongio commented on #101220
/assign @apelisse
/triage accepted

[2021-04-20 20:29] pdabrowski-it-solutions commented on #86499
I have similar problem:
[code]

kubectl describe node secondary-pool-dqiqzzikb5
[code]

kubectl get --raw /apis/metrics.k8s.io/v1beta1/nodes/secondary-pool-dqiqzzikb5
[code]

I have no idea what's causing it or how to fix :/

[2021-04-20 20:30] pdabrowski-it-solutions commented on #86499
/reopen

[2021-04-20 20:41] aojea commented on #101275
@BenTheElder this is not looking good https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&sort-by-flakiness=20 , lots of timeouts, are you aware of any issue that can be causing it?
You and @spiffxp have some graphs with trends, is there anything unusual?

[2021-04-20 20:56] wainersm commented on #100710
Hi @BenTheElder , first of all, thanks for the prompt reply.

I don't know how it would change the fact that some tests break if kata containers is used. Could you please expand on that topic?

Taking the problem described on https://github.com/kubernetes/kubernetes/pull/100712 as an example. Kata Containers is failing the expectation of the test, yes, but such as expectation cannot be met given t

[2021-04-20 21:32] #101231 closed

[2021-04-20 22:08] mattcary commented on #80712
/remove-lifecycle stale

[2021-04-20 22:19] BenTheElder commented on #100710
This is in response to this comment from the original post:

The "fix" here is to not essentially not run the test in certain circumstances. This kind of "skip" is banned from comformance tests and therefore discouraged in our tests because then we will not be able to conformance test in the future.

You could also accomplish this by not running the test.

I don't think the conformance wg has nece

[2021-04-20 22:22] BenTheElder commented on #101275
It's looking worse but timeouts plague presubmit in general. We could reduce the test load as the ipv6 job looks healthier.

I'm not aware of anything specific but you should have access to the same data as me and aaron.

https://github.com/kubernetes/k8s.io/issues/1187#issuecomment-823551595 is what I'd prefer to pursue for now, though if flakiness concerns become excessive I'd suggest bringing t

[2021-04-20 23:53] tallclair commented on #97795
/remove-lifecycle stale

IMO this is working as intended. I definitely want to know the full set of arguments that are being passed to exec. Where there's a problem is that exec arguments are passed through query params. https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1898-hardened-exec proposes requiring a POST request for exec, and moving the exec params into the request bod

[2021-04-21 00:21] lojies commented on #101288
@idealtech-i3dlabs, this param should have a time unit.
You can try `kubectl get nodes --request-timeout=4s`, i tried and it work.

`--request-timeout='0': The length of time to wait before giving up on a single server request. Non-zero values
should contain a corresponding time unit (e.g. 1s, 2m, 3h). A value of zero means don't timeout requests.`

[2021-04-21 00:44] cosmo0920 commented on #92852
/remove-lifecycle stale

[2021-04-21 01:35] NovaHe commented on #101220
I got it, I'm so sorry, the `validatingwebhookconfiguration` named `config.webhook.serving.knative.dev` will be reconciled by knative webhook and ownerReferences will be deleted

code: https://github.com/knative/pkg/blob/1afd049936225f9f16d126b2bf1764b61a7dfac0/webhook/configmaps/configmaps.go#L142

[2021-04-21 01:36] NovaHe commented on #101220
I will close the issue，thank you very much

/close

[2021-04-21 01:36] #101220 closed

[2021-04-21 01:36] NovaHe commented on #101220
/close

[2021-04-21 02:30] jihoon-seo opened #101298 "'Source Code' heading is missing in CHANGELOG-1.xx.md"
- Related issue: https://github.com/kubernetes/sig-release/issues/1528
- Related issue: https://github.com/kubernetes/website/issues/27606

#### What happened:
'Source Code' heading is missing in CHANGELOG-1.xx.md.

In https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md,

[As-is]

[code]

#### What you expected to happen:

[To-be]

[code]

#### How to see it:
- Visit h

[2021-04-21 02:34] jihoon-seo commented on #101298
/kind documentation
/sig release

[2021-04-21 02:46] thdrnsdk opened #101300 "Change constants CoreDNSImageName"
#### What happened:

When installing using kubeadm, only the image of coredns has a different depth.
This is very inconvenient when installing using a private registry.

#### What you expected to happen:

$ kubeadm config images list
`
k8s.gcr.io/coredns/coredns:v1.8.0
`

change to

`
k8s.gcr.io/coredns:v1.8.0
`

#### How to reproduce it (as minimally and precisely as possible):

replace constants

[2021-04-21 02:49] thdrnsdk commented on #101300
/sig cluster-lifecycle

[2021-04-21 03:08] pacoxu commented on #101300
https://github.com/kubernetes/kubernetes/issues/99321#issuecomment-783649010

[2021-04-21 03:09] pacoxu commented on #101300
/area dns

[2021-04-21 03:23] pacoxu commented on #101288
@justinsb tried to add a timeout for `cluster-info dump`  in  https://github.com/kubernetes/kubernetes/pull/99107/files.
The PR was reverted in #99450. A command timeout would be added like the PR. I'm not sure if we need add a `--timeout` for `cluster dump`.

[2021-04-21 03:47] humblec commented on #91246
[Status update] we had some discussions about this internally. The conclusion is that, supporting and maintaining the migration path may not be a worth effort . That said, eventhough we can get the basic operations work ( mount, unmount...etc),  supporting volumes advanced operations ( snapshot, clone, resize..etc) on migrated volumes would be difficult or iow, need some extra design and effort. A

[2021-04-21 03:51] vg250156 commented on #93346
It's just not reasonable to rely on process substitution for something so basic. You cannot assign process substitution to an environment variable.

[2021-04-21 03:58] niulechuan commented on #101008
/assign
i will take pkg/apis/core/types.go

[2021-04-21 04:03] #96352 closed

[2021-04-21 04:23] dprotaso commented on #67761
Just encountered this - seems like a lot of clients are building in their own retry logic 🤷‍♂️

Unsure if this is something that can be generalized on the API server - ie. when creating objects and you hit a conflict with a dependent resource quota - retry

[2021-04-21 05:26] thdrnsdk commented on #101300
The image depth only changes when using coredns images.
In case of building and using private Image Registry, it is strange to have subpath repository level for only coredns.

k8s.gcr.io/kube-apiserver:v1.21.0
k8s.gcr.io/kube-controller-manager:v1.21.0
k8s.gcr.io/kube-scheduler:v1.21.0
k8s.gcr.io/kube-proxy:v1.21.0
k8s.gcr.io/pause:3.4.1
k8s.gcr.io/etcd:3.4.13-0
k8s.gcr.io/coredns/coredns:v1.8.0

[2021-04-21 05:32] dotkrnl commented on #97230
/remove-lifecycle stale

still relative

[2021-04-21 05:37] vermaa31 commented on #97230
We are still facing this issue. Logs are attached in the above comments.

[2021-04-21 05:41] srhb commented on #91246
Does this mean that operators of clusters that use the in-tree plugin need to design their own migration path?

[2021-04-21 05:42] akafazov commented on #88820
/remove-lifecycle stale

[2021-04-21 05:43] pacoxu commented on #101300
/cc @rajansandeep

[2021-04-21 05:46] Jiawei0227 commented on #91246
I dont think migrated volume supports snapshot. But resizing should be handled automatically by the translation logic.

I have no objection to deprecate the ceph rbd/ cephfs in-tree plugins. Here is our plan on deprecating the unsupported plugins, I think the most important thing to do here is communication. As long as we are sure all intree ceph plugin users are aware of the change and are switch

[2021-04-21 06:09] uablrek commented on #98465
/area ipvs

[2021-04-21 06:25] timoreimann commented on #88902
/remove-lifecycle stale

[2021-04-21 06:32] jprzychodzen commented on #101078
It might share root cause - informer sync in case of GC should non-block on CRDs (and possibly on other resources?)

I guess we would need some metrics about unsynced informers to handle this properly.

[2021-04-21 07:00] saltbo commented on #71765
Please reopen.

[2021-04-21 07:26] wolfleave commented on #45419
why use  'component "runC" (1.0.0-rc93) of "containerd.io"  ' cause 'node flapping between ready and not ready' ?

[2021-04-21 07:45] pacoxu commented on #99624
To make it more clear:

`Number of pods currently running`
to
`Number of pods currently in running phase`

A pod is in `Running` phase when kubelet tries to create init container after pause container started.
https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase

[2021-04-21 08:33] bbroniewski commented on #45419
There is some bug in the code, which is causing containers to be stuck in "Created" status and commands like “docker inspect" on those stucked containers hungs for a long time. Pleg is using this command to store status of containers and beacuse of that very delayed response it is crosing the timeout which is 3 minutes and node becomes not healthy. If you are looking for code related explanation y

[2021-04-21 08:41] sftim opened #101309 "Misnamed feature gate in API server help"
#### What happened:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#list-deployment-v1-apps (which is generated automatically) mentions a feature gate named `WatchBookmarks`. This is not the correct name; that feature gate is / was `WatchBookmark`. Also, the feature has graduated.

So what happened was I saw an incorrect feature gate name.

#### What you expected to happen:
Th

[2021-04-21 08:42] sftim commented on #101309
This issue replaces https://github.com/kubernetes/website/issues/27623

[2021-04-21 09:17] harche commented on #99624
Thanks @pacoxu @Random-Liu

Closing this because we have more clarity on what that metric is supposed to mean.

[2021-04-21 09:17] harche commented on #99624
/reopen

[2021-04-21 09:18] harche commented on #99624
Sorry @pacoxu closed it before noticing https://github.com/kubernetes/kubernetes/pull/101308. Reopened this bug.

[2021-04-21 09:43] harche opened #101311 "ContainerLogPath test fails on SELinux based system"
#### Which jobs are failing:
ci-crio-cgroupv1-node-e2e-conformance

#### Which test(s) are failing:
ContainerLogPath

#### Since when has it been failing:
It was failing last week, then I disabled the SELinux while we investigated the issue https://github.com/kubernetes/test-infra/pull/21846. Once this PR merges, I will enable the SELinux again for CRIO jobs.

#### Testgrid link:
https://testgrid.

[2021-04-21 09:55] harche commented on #101311
/sig node

[2021-04-21 10:45] aandryashin commented on #67761
IHMO it should be fixed on Kubernetes side, there is issue we have already
created.

ср, 21 апр. 2021 г., 07:24 Dave Protasowski ***@***.***>:

[2021-04-21 10:48] wangyysde commented on #101300
@thdrnsdk
Yes, I am agree with you. It is very strange that only the path of coredns is /coredns/xxxx ,the others is /xxx. @fabriziopandini @SataQiu  Can we change the  path of coredns to /xxx too?

[2021-04-21 10:49] elkbullwinkle commented on #69774
Bumped into this as well on EKS 1.19, container exited, the pod is stuck in the running state, has to be killed manually, otherwise new one is triggered. Issue is intermittent, but did happen twice already in the last couple of weeks. Job runs every five minutes.

[2021-04-21 10:59] dims commented on #101309
cc @ykakarap @palnabarun

[2021-04-21 11:11] sftim commented on #101309
This could count as a good-first-issue?

[2021-04-21 11:13] wojtek-t commented on #94256
This is really stable recently (we didn't have any flake for the last 2 months or so). Closing.

[2021-04-21 11:13] #94256 closed

[2021-04-21 11:16] aojea commented on #18174
@p0lyn0mial can we say that your work is going to fix "eventually" this ?

[2021-04-21 11:44] palnabarun commented on #101309
I saw that the feature gate and the comment were added in https://github.com/kubernetes/kubernetes/commit/2a76b82394a8853298f64bfe83df1015a05259e6. I agree that the sentence about the feature gate can be removed from the description since the feature moved to GA.

I think it can.

/good-first-issue
/help-wanted

(Applying the labels for now. Leaving the triage bit for the recurring triage sessions

[2021-04-21 12:02] fabriziopandini commented on #101300
This is not really up to Kubeadm.
kubeadm simply adapts to change that happens somewhere else, so changing the constant in kubeadm won't fix the image name; instead, it will make v1.21 clusters to fail.

Please refert to https://github.com/kubernetes-sigs/cluster-api/issues/4463#issuecomment-819208692 for a detailed analysis of available images for CoreDNS; Also, please note that changes to the im

[2021-04-21 12:06] #96148 closed

[2021-04-21 12:27] dims commented on #101300
+1 to what @fabriziopandini said.

In all honesty, more things will go to the format that coredns is following over time. So we better get used to it.

[2021-04-21 12:31] mathisve commented on #81289
/reopen issue still present in 1.21.0

[2021-04-21 12:40] amanchourasiya commented on #101309
/assign @amanchourasiya

[2021-04-21 12:45] rafaellima opened #101319 "Field `minReadySeconds` forces some replicas to wait more than predefined threshold"
#### What happened:

According to the official [kubernetes deployment docs][], the field `.spec.minReadySeconds` has the following definition:

When I create a new deployment with `minReadySeconds` set (let's say 60 seconds), and this deployment has more than one replica and a readiness probe configured, I expect a POD to be available 60 seconds after the Readiness probe is successful. However, th

[2021-04-21 12:53] fasaxc opened #101321 "Subdomain validation doesn't validate length of DNS labels"
#### What happened:

User noticed that they could create a very long service account name without any dots.  However, it looks like service account name is _supposed_ to be a DNS subdomain.  If I'm reading RFC 1123 correctly, a DNS subdomain is supposed to consist of a series of DNS labels, separated by dots.  DNS labels are supposed to be limited to 63 chars (and Kubernetes enforces that elsewher

[2021-04-21 12:54] fasaxc commented on #101321
/sig api-machinery

[2021-04-21 13:14] goudai opened #101322 "The Ingress "test-ffff" is invalid: spec.rules[0].http.paths[0].path: Invalid value: "^~/*.txt$": must be an absolute path"
# Create ingress
[code]
# Error Msg
The Ingress "test-ffff" is invalid: spec.rules[0].http.paths[0].path: Invalid value: "^~/*.txt$": must be an absolute path

- Kubernetes version (use `kubectl version`): V1.14.2

[2021-04-21 13:18] #96303 closed

[2021-04-21 13:24] squeed commented on #100707
@Random-Liu Why do you need to template in the PodCIDR? It should be valid to pass IP ranges as a CNI capablity arg - see https://github.com/containernetworking/cni/blob/master/CONVENTIONS.md#well-known-capabilities

[2021-04-21 13:34] ssup2 commented on #100925
@uablrek Sorry for the late reply. https://github.com/kubernetes/kubernetes/pull/97081
If I apply this PR, How are the rules of iptables/IPVS changed? And I think this PR could be applied by only changing kube-proxy. If my opinion is correct, could you offer kube-proxy container image to apply to my cluster?

@thockin I think that the REJECT rule is required. Now I'm developing my project(https://

[2021-04-21 14:10] zhanshen8D opened #101323 "The traffic is not routed correctly after the network interface on worker node is restarted"
#### What happened:
We have a statefulset with 2 replicas, on each pod there is Postgres instance. One acts as master while the other acts as replica.
There are 2 services exposed, one is PG master service and the other is PG replica service. Both services are without selector, and there are 2 endpoints sharing the name of it related service.
The IP of the Postgres pod will be patched into endpoin

[2021-04-21 14:18] unbreakabl3 commented on #70601
Helped me as well.

[2021-04-21 14:25] aravindhp commented on #98704
/close

Fixes are in https://github.com/prometheus-operator/kube-prometheus/pull/1058 and https://github.com/openshift/cluster-monitoring-operator/pull/1127. Nice work @mansikulkarni96

[2021-04-21 14:25] #98704 closed

[2021-04-21 14:30] taxilian commented on #81675
Could someone post an updated link to the KEP? that one seems to be broken and I am having the same issue, trying to figure out how to solve it.

[2021-04-21 14:33] taxilian commented on #81675
Here is a google cache version; not sure if it'll still work for the next person following up on this or not:

https://webcache.googleusercontent.com/search?q=cache:cDI55ekeu0YJ:https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20191104-iptables-no-cluster-cidr.md+&cd=1&hl=en&ct=clnk&gl=us

[2021-04-21 14:38] uablrek commented on #100925
The iptables rules are not changed, but you _do_ have real servers defined on all nodes, not just the ones where server pods are running. That will prevent the loggings.

[2021-04-21 14:39] emike922 opened #101324 "Pod readiness probe cannot be directed at specific IP family"
#### What happened:
When trying to deploy an **IPv6-only** application in a IPv4-first dual-stack cluster, I noticed that the following readiness probe will fail because it is trying to probe the first pod IP, which is IPv4.

[code]

#### What you expected to happen:
It should be configurable which of the pod IPs should be probed

#### How to reproduce it (as minimally and precisely as possible):

[2021-04-21 14:54] sellers commented on #74099
I see questions about this being resolved or closed, is it possible that this can be confirmed as open/closed or an updated related issue linked.  This issue is linked from other 3rd parties who are challenged with this issue (such as ArgoCD)

[2021-04-21 15:30] vaibhav2107 commented on #94404
Thanks @adtac , @nicomitchell
Having a doubt more, in performance-config.yaml under the name:SchedulingPodAntiAffinity,
![values](https://user-images.githubusercontent.com/79974025/115578268-c4067c00-a2e2-11eb-8e14-a129b9d91046.png)

why are we giving the same values in 5000Nodes as given in 500Nodes, or this is an error.

[2021-04-21 15:48] prakashmirji commented on #60538
having same issue while deleting crd of splunk of operator.  Patching crd with empty finalizers throws error linke invalid json.  Any pointers to troubleshoot.

[2021-04-21 15:49] daenney opened #101328 "NodeLocal DNSCache ARM64 images have Architecture amd64"
#### What happened:
Image reports as `amd64`

#### What you expected to happen:
Image should report as `arm64`

#### How to reproduce it (as minimally and precisely as possible):
`docker inspect k8s.gcr.io/dns/k8s-dns-node-cache-arm64:1.17.0 | jq -r '.[0].Architecture'`

#### Anything else we need to know?:

#### Environment:
- Docker version:
[code]

[2021-04-21 15:49] daenney commented on #101328
/sig release

[2021-04-21 15:53] lavalamp commented on #18174
Strong agree. :)

Is this a problem that many people actually have? Making the client understand multiple backends instead of just one would make the client significantly more complex. Compare today where you would make multiple clients, one for each backend; the latter has setup and usage difficulties, the former likely still has usage difficulties -- how do we know when to use which backend?

I'

[2021-04-21 16:23] ehashman commented on #101285
/triage accepted

[2021-04-21 16:31] #101311 closed

[2021-04-21 16:32] aojea commented on #100707
https://github.com/kubernetes/kubernetes/issues/77682

[2021-04-21 16:34] aojea commented on #81675
those were reorganized to use the new format, here is the new link
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2450-Remove-knowledge-of-pod-cluster-CIDR-from-iptables-rules

[2021-04-21 16:36] BenTheElder commented on #81675
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2450-Remove-knowledge-of-pod-cluster-CIDR-from-iptables-rules

[2021-04-21 16:48] SergeyKanzhelev commented on #100786
/triage accepted

[2021-04-21 16:51] SergeyKanzhelev commented on #100788
/triage accepted

[2021-04-21 16:54] SergeyKanzhelev commented on #101062
@fromanirh is looking at test PRs from SIG Node. I will let sig-net triage this issue

[2021-04-21 16:56] msau42 commented on #91246
I think we need to get more community data on this. Unlike other plugins that have decided to go with the deprecation route, I believe in-tree ceph still has signficant usage in the community, so the impact to users would be significant.

[2021-04-21 16:58] msau42 commented on #91246
Also note that csi migration is about feature parity with in-tree, but not feature parity with CSI. CSI-only features like snapshots, cloning out of scope.

[2021-04-21 17:03] ssup2 commented on #100925
what're real servers?? And could you provide kube-proxy image?? Thanks :)

[2021-04-21 17:10] SergeyKanzhelev commented on #101275
Is there anything we can do from the test authoring perspective? Or this is purely infra issue?

[2021-04-21 17:10] #96791 closed

[2021-04-21 17:12] SergeyKanzhelev commented on #100788
/assign @cynepco3hahue

[2021-04-21 17:13] SergeyKanzhelev commented on #100786
/assign @matthyx

can you take a look?

/cc @jackfrancis @wzshiming

[2021-04-21 17:15] mattcary opened #101331 "gce pd csi driver flaking subpath test"
#### Which jobs are flaking:
pull-gcp-compute-persistent-disk-csi-driver-kubernetes-integration, the presubmit for kubernetes-sigs/gcp-compute-persistent-disk-csi-driver which runs the k8s e2e test, eg [this job](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/759/pull-gcp-compute-persistent-disk-csi-driver-kubernetes-integration/13846

[2021-04-21 17:20] jackfrancis commented on #100786
I see only one flake in the last ~25 days:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1383544572180697088

(that test run has a bunch of other failures too)

Definitely wanna make sure these tests are rock solid, lemme know if I can help.

[2021-04-21 17:20] neolit123 commented on #101300
the depth cannot be changed and you must adapt your local registry.

cc @chrisohaver @rajansandeep
since the change of path for the image and introduction of `v` created similar complains from users.

/close

[2021-04-21 17:20] LappleApple commented on #89648
/assign @puerco

[2021-04-21 17:20] #101300 closed

[2021-04-21 17:21] LappleApple commented on #89648
@pmmalinov01 might be interested

[2021-04-21 17:23] neolit123 commented on #101322
this version is out of support. you need to upgrade to 1.19+.

please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

i think the problem here is the `~`.

/remove-kind bug
/kind support

[2021-04-21 17:23] neolit123 commented on #101322
/close

[2021-04-21 17:23] #101322 closed

[2021-04-21 17:23] neolit123 commented on #101319
/sig apps

[2021-04-21 17:25] neolit123 commented on #101323
this seems like a request of support, please try:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you have proof that this is an actual bug in core k8s you can reopen the issue or a new one.

/remove-kind bug
/kind support
/sig network
/close

[2021-04-21 17:25] #101323 closed

[2021-04-21 17:25] neolit123 commented on #101331
/sig storage

[2021-04-21 17:26] neolit123 commented on #101331
/sig cloud-provider
/area provider/gcp

[2021-04-21 17:26] neolit123 commented on #101324
/sig node

[2021-04-21 17:26] neolit123 commented on #101324
/sig network

[2021-04-21 17:27] mattcary commented on #101331
/triage accepted

[2021-04-21 17:28] LappleApple commented on #95279
Hi @striver619, we're having a triage session and reviewed this issue. We'd like to help you find a way to solve this. Are you still interested? If so, @Verolop is happy to work with you. Please let us know, and sorry for the delay in response.

/priority important-long-term

[2021-04-21 17:29] LappleApple commented on #95279
/priority important-longterm

[2021-04-21 17:29] LappleApple commented on #95279
/remove needs-triage

[2021-04-21 17:30] LappleApple commented on #95279
/triage accepted

[2021-04-21 17:31] jeremyrickard commented on #95279
/milestone v1.22

[2021-04-21 17:31] pmmalinov01 commented on #95279
Have a look at : https://github.com/kubernetes/kubernetes/issues/92242 It seems it is close but not a similar issue.

[2021-04-21 17:41] LappleApple commented on #8830
/remove-area release-eng

[2021-04-21 17:42] gnufied opened #101332 "Deprecate and remove behaviour of kubelet removing CSI nodepublish path"
This came out from discussion in https://github.com/kubernetes/kubernetes/pull/101305#discussion_r617708905

The kubelet should not be removing node-publish directory (or file for block volumes). Kubelet should only be responsible for removing parent directory and corresponding json files. It is the storage provider which should remove the node-publish directory.

/sig storage

[2021-04-21 17:52] puerco commented on #95279
It looks like there is not much to do here. The CentOS variant for `aarch64` does not have the `socat` and `conntrack` packages ([not even in the latest 8 release](http://mirror.jaleco.com/centos/8.3.2011/BaseOS/aarch64/os/Packages/) ) so this dependency cannot be satisfied with just the packages in the base repo.

[2021-04-21 17:55] uablrek commented on #100925
"no destination available" means no servers or "real servers".

I will check how to build a kube-proxy image, but I have never done it so it may take some time.

[2021-04-21 17:57] ehashman commented on #101212
Note that it is set as info level in the log above:

However, this is definitely confusing.

/remove-kind bug
/kind cleanup
/triage accepted
/sig node

[2021-04-21 18:10] msau42 opened #101333 "Add online snapshot e2e"
#### What would you like to be added:
Ref: https://github.com/kubernetes/kubernetes/pull/101280/files#r616971565

Currently our snapshot tests only test offline snapshots, taken when after the volume is unmounted. We are missing coverage for online snapshots, taken when the volume is mounted.

#### Why is this needed:
I think online snapshots is the more common scenario

[2021-04-21 18:11] msau42 commented on #101333
@kubernetes/sig-storage-feature-requests
cc @xing-yang @yuxiangqian

[2021-04-21 18:21] SergeyKanzhelev commented on #101044
/triage accepted

[2021-04-21 18:25] SergeyKanzhelev commented on #101044
@ns-rwong I understand this is the bug. Are you trying to troubleshoot the container failure? Are you following https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/ or some other flow? Have you been able to get the exit code from logs as a workaround?

Also related PR that will make things easier: https://github.com/kubernetes/kubernetes/pull/99880

[2021-04-21 18:27] msau42 opened #101334 "Reduce secret rbacs for csi mock e2e tests"
#### What happened:
Followup to https://github.com/kubernetes/kubernetes/pull/100637/files#r604424461

#### What you expected to happen:
Reduce the rbac to the e2e test namesapce

@kubernetes/sig-storage-bugs

[2021-04-21 18:33] ns-rwong commented on #101044
hey @SergeyKanzhelev, we have a controller that is trying to perform an action based on the exit code.  i'll look at https://github.com/kubernetes/kubernetes/pull/99880 but is the container status field meant to be reliable?

[2021-04-21 18:50] arkrishnan commented on #87327
@bartelsb  can you please elaborate "The problem was resolved by mounting a volume containing the root certs to the kube-controller-manager pod." I am facing the same issue. Not knowing what to do!!!. Please help

[2021-04-21 19:00] dashpole commented on #75551
`kubernetesui/metrics-scraper` is owned by sig-UI.

`gcr.io/k8s-testimages/logexporter` is part of test-infra: https://github.com/kubernetes/test-infra/tree/master/logexporter.

For the gcp-related images,

* k8s.gcr.io/prometheus-to-sd:v0.5.0 Uses client-go 1.12: https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/1e4b1f90ac378f25770c8a60e2c83ca1484752ca/prometheus-to-sd/Gopkg.lock#L450
*

[2021-04-21 19:04] pohly opened #101336 "e2e storage: re-enable health check sidecars"
#### What would you like to be added:

https://github.com/kubernetes/kubernetes/pull/100637 added newer hostpath deployments but removed the csi-external-health-monitor-agent because it seemed to cause overhead without being needed for the tests.

#### Why is this needed:

We should re-enable it and check whether that really causes tests to fail because of the extra load.

[2021-04-21 19:05] coffeepac commented on #75551
kibana:  no
fluentd: no
elasticsearch:  maybe, will edit comment after I check.

[2021-04-21 19:23] yashbhutwala commented on #65706
According to this, https://groups.google.com/g/kubernetes-dev/c/H6RvnjiRkW8, it seems everything under `status` should be deleted under `volumeClaimTemplate` for a statefulset.

[2021-04-21 20:12] superbiche opened #101339 "NodeLocal DNSCache docs create invalid nodelocaldns.yaml when using IPVS"
#### What happened:
This is probably just a documentation / `sed` example issue. I'm a real `sed` noob so I can just tell this is an issue, but I can't fix the docs through a PR, otherwise I'd do it happily. Hope it's not a dupe.

Following the guide at https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/ with IPVS.

Using the following script:
[code]
This generates the following YAML

[2021-04-21 20:15] superbiche commented on #101339
/sig docs

[2021-04-21 20:31] SergeyKanzhelev commented on #93925
/cc

[2021-04-21 20:43] gnufied opened #101340 "Allow Node Only expansion of Local Volumes"
There are use cases where users want to expand the local volume (may be managed by LVM or something similar), but even though they can edit underlying PV (and expand the underlying device) -  the reported size in pvc.Status keeps reporting older value because in-tree local volumes are non-expandable.

We could make this easier for users by - implementing `NodeExpandableVolumePlugin` interface for

[2021-04-21 21:06] bartelsb commented on #87327
@arkrishnan it's been a while, but if I remember correctly, this problem occurred for us because we did not have the [AWS Root CAs](https://www.amazontrust.com/repository/) available either on our hosts or in the kube-controller-manager containers. Those CAs are required in order for the EC2 instances to retrieve information about themselves. We resolved the issue by making those certificates avai

[2021-04-21 21:29] aojea commented on #101324
This was discussed here https://github.com/kubernetes/enhancements/pull/1975 and the decision was to avoid  complicating the kubelet probe logic until there was more evidence ...

If host is empty it uses the PodIP, and in this case it seems to be the IPv4
https://github.com/kubernetes/kubernetes/blob/9e8506eb1f8724a2dda4fa8178528c8dce4f05b3/pkg/kubelet/prober/prober.go#L162-L167

IIRC kubelet is

[2021-04-21 21:33] davejhahn commented on #47202
Looks like the new version is in 1.21 but no mention of time zone support.

[2021-04-21 21:42] aojea commented on #101263
Dockershim was deprecated in 1.20 https://kubernetes.io/blog/2020/12/02/dockershim-faq/ , CNI is a CRI responsability (crio, containerd, ...) and not kubelet one since then ...

[2021-04-21 21:43] mitar commented on #69816
/remove-lifecycle stale

[2021-04-21 22:17] knabben commented on #86024
/assign

[2021-04-21 22:27] BenTheElder commented on #101182
/sig storage
/triage accepted

[2021-04-21 22:30] gnufied commented on #101340
/triage accepted

[2021-04-21 22:36] zshihang opened #101341 "[sig-instrumentation] update client-go to 1.14+ in images"
#### What happened:

the following images are using old client-go that would not work correctly starting 1.22+ if those images use in-cluster config(mounted service account token) to talk to kube-apiserver:
- k8s.gcr.io/prometheus-to-sd
- k8s.gcr.io/event-exporter

#### What you expected to happen:

if the above images use in-cluster config, they should use client-go 1.14+.

xref: https://github.c

[2021-04-21 23:13] #96380 closed

[2021-04-22 00:08] verult commented on #100194
I got a repro on a GKE cluster backed by COS. After the test failed the container ends up in Running state eventually, and the configmap file outputs the expected modified value.

The fix is to increase the test timeout. PR coming up.

[2021-04-22 00:37] lojies commented on #101339
@superbiche , it seems like that `KUBEDNS=$(kubectl --context=byzantium get svc kube-dns -n kube-system -o jsonpath={.spec.clusterIP})`  don't get a value return.
i saw command in  https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/
`kubedns=kubectl get svc kube-dns -n kube-system -o jsonpath={.spec.clusterIP}`
Can you try this again and check if can kubedns get a value?

[2021-04-22 00:44] matusf opened #101348 "Reading nonexistent component status via API causes internal server error"
#### What happened:
Hello @viralpoetry and I were fuzzing the k8s (via [openapi-fuzzer](https://github.com/matusf/openapi-fuzzer)) and found out following bug. Reading nonexistent component status via API causes internal server error. The endpoint is `/api/v1/componentstatuses/{name}`

#### What you expected to happen:
Response with non-500 HTTP status code

#### How to reproduce it (as minimally

[2021-04-22 00:53] brunzefb opened #101349 "When more than one config map is mounted as a volume in a pod, updating the configmap content does not update the mounted volume in the pod"
#### What happened:
Normally, when one mounts a configmap as a volume in a pod, updating the content of the configmap updates the volume content in the pod.  This works fine with a single configmap.  When two configmaps are mounted as volumes on separate mountpoints, updating the configmap contents does not update the mounted volume content in the pod.

#### What you expected to happen:
Mounting m

[2021-04-22 01:10] matusf opened #101350 "Querying several resources via API with invalid `resourceVersion` query parameter causes internal server error"
#### What happened:
Hello @viralpoetry and I were fuzzing the k8s (via [openapi-fuzzer](https://github.com/matusf/openapi-fuzzer)) and found out following bug. Querying several resources via API with invalid `resourceVersion` query parameter causes internal server error. Affected resources:
- `api-v1-namespaces-{namespace}-configmaps/`
- `api-v1-namespaces-{namespace}-endpoints/`
- `api-v1-namespa

[2021-04-22 01:57] mbrancato opened #101351 "Respect immutable fields while allowing changes to be deployed thru recreate strategy"
#### What would you like to be added:
Currently, there are some immutable fields in controller like a Deployment - see https://github.com/kubernetes/kubernetes/issues/50808

Attempting to do things like `kubectl diff` or `kubectl apply` results in an error like this:

`The Deployment "myapp" is invalid: spec.selector: Invalid value: v1.LabelSelector{MatchLabels:map[string]string{"app":"myapp", "se

[2021-04-22 02:00] lecgts commented on #101349
/sig storage

[2021-04-22 02:48] yqwang-ms commented on #87850
/remove-lifecycle stale

[2021-04-22 02:59] humblec commented on #91246
Agree that we need some data from the community for final call. I was discussing the same and around with @Jiawei0227. Planning to carry out some more discussions on this with different groups and will conclude.

[2021-04-22 03:06] matusf opened #101355 "Getting logs from unicode logpath via API causes internal server error"
#### What happened:
Hello @viralpoetry and I were fuzzing the k8s (via [openapi-fuzzer](https://github.com/matusf/openapi-fuzzer)) and found out following bug. Getting logs from unicode logpath via API causes internal server error. The API endpoint is `/logs/{logpath}`.

#### What you expected to happen:
Response with non-500 HTTP status code

#### How to reproduce it (as minimally and precisely a

[2021-04-22 03:40] matusf commented on #101348
/sig API Machinery

[2021-04-22 03:42] matusf commented on #101348
/sig api-machinery

[2021-04-22 03:42] matusf commented on #101350
/sig api-machinery

[2021-04-22 03:43] matusf commented on #101355
/sig api-machinery

[2021-04-22 04:12] #100194 closed

[2021-04-22 05:52] #101298 closed

[2021-04-22 06:14] matthyx commented on #100786
Agreed with @jackfrancis this is not flacky...
Unlike https://github.com/kubernetes/kubernetes/pull/99998 which is really having a hard time.

[2021-04-22 06:36] nilo19 commented on #99470
Our ipv6 test is still failing:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-azure-conformance-ipv6/1385049259778248704

The service issuer has been set to `https://kubernetes.default.svc.cluster.local`.

[2021-04-22 07:05] pacoxu commented on #101349
/assign mengjiao-liu
Would you help to confirm this bug and send a fix?

[2021-04-22 07:07] mengjiao-liu commented on #101349
Okay, let me try to reproduce it first.

[2021-04-22 07:14] wzshiming commented on #100786
Agreed with @jackfrancis @matthyx.

[2021-04-22 07:14] CaoDonghui123 commented on #101349
Need to wait，maybe 1min

[2021-04-22 07:16] pacoxu commented on #101339
/area dns
/sig network
/assign
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/cluster/addons/dns/nodelocaldns/README.md#nodelocaldns-addon-template

Documentation here is not changed since Sep 2019 and needs to be updated as well.  Dual-stack and ipv6 are used widely.

[2021-04-22 07:34] mengjiao-liu commented on #101349
On my environment, wait about a minute to see the modified value.

Here is my environment:

[code]

[2021-04-22 08:06] pacoxu commented on #101328
`exec user process caused "exec format error"` means running image on a wrong/different arch.

[code]
If you can login to k8s.gcr.io,
`docker manifest  inspect --verbose --insecure k8s.gcr.io/dns/k8s-dns-node-cache-arm64:1.17.0` would show similar message like `curl -s https://k8s.gcr.io/v2/dns/k8s-dns-node-cache-arm64/manifests/1.17.0`

[2021-04-22 08:07] nielsavonds commented on #66775
We are currently running in to the same issue. Did you find a way to fix this?

[2021-04-22 08:24] pacoxu commented on #101321
Per https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-subdomain-names, DNS subdomain names contain no more than 253 characters. Meanwhile, DNS Label Names contain at most 63 characters

[2021-04-22 08:28] #82046 closed

[2021-04-22 08:28] #94585 closed

[2021-04-22 08:44] mrpre commented on #55045
It seems to have been discussed for a long time...
I'm using `controllerutil.SetControllerReference` to set the PVC's reference after STS and PVC are created, which is a pretty ugly workaround

[2021-04-22 08:47] fasaxc commented on #101321
Right, but a DNS subdomain is supposed to be constructed from one or more DNS labels. So, my point is that capping the length at 253 chars is necessary but not sufficient.  Imagine the requirement was that a DNS label had at most 8 chars, then:
[code]
is valid DNS subdomain beause, splitting it at `.` you get 3 valid DNS labels. However,
[code]
is not a valid DNS subdomain because, when you split

[2021-04-22 08:52] pacoxu commented on #94626
Per https://github.com/kubernetes/kubernetes/issues/101321#issuecomment-824660580,  is the long name(more than 63 and without `.`) known bad value? should we add a warning for this case?

[2021-04-22 09:09] simonweil commented on #27308
This would be very useful for me too...

[2021-04-22 09:17] superbiche commented on #101339
@lojies
[code]
I do get a value, but `__PILLAR__LOCAL__DNS__,__PILLAR__DNS__SERVER__` is replaced with `169.254.0.10,` as the extra comma doesn't seem to be replaced.

[2021-04-22 09:27] pacoxu commented on #101348
[code]
As ComponentStatus is deprecated in v1.19+ since #93570 and will be removed in future release, I am not sure whether we need to fix it in 1.22?

[2021-04-22 09:28] daenney commented on #101328
I can't login to gcr.io unfortunately.

I'm aware I'm not supposed to run arm64 images on amd64. But unless I'm misunderstanding something I would expect the Architecture to report arm64 when I explicitly pull the arm64 image?

[2021-04-22 09:32] #101279 closed

[2021-04-22 09:36] pacoxu commented on #101328
Please use the `curl` above. The result is almost the same.

[2021-04-22 09:37] kannanvr opened #101362 "Daemonset controller is not updating the Available Pods correctly"
#### What happened:
    In our kubernetes environment , we observed that some of the daemonset Available and Ready count is less than the Desired count.

We have 3 Master and 4 worker node cluster. Total we have 7 nodes.  We deployed the daemonset which should present on all the node. We have validated that all the pod health is fine But Available and Ready count is 6. But desired count is 7
[code

[2021-04-22 09:37] daenney commented on #101328
I did. And I see your point, no architecture appears to be set in the image. So I guess Docker fills in a default based on the architecture of the platform you're running the tools from? This is somewhat confusing.

[2021-04-22 09:39] pacoxu commented on #101339
https://github.com/kubernetes/kubernetes/blob/a55bd631728590045b51a4f65bba31aed1415571/hack/local-up-cluster.sh#L72

https://github.com/kubernetes/kubernetes/blob/6aa683e9cf9bfa9069a0085eb8a1756fc0678e07/cluster/gce/gci/configure-helper.sh#L2596-L2598

[2021-04-22 09:41] jsafrane commented on #94929
/reopen

[2021-04-22 09:43] navist2020 commented on #101199
Hi @Sabyasachi2k ,I found this error is becaz of that your `resource.yaml` and `patches.yaml` belong to different namespace，one is default and the other is reloader. But in the code it seems not allow to transform NS attribute.
https://github.com/kubernetes/kubernetes/blob/f1e51ceb3c58da272bc0fc68e200db6fd12121dd/vendor/sigs.k8s.io/kustomize/api/resid/resid.go#L95-L97
As you can see, you must ensu

[2021-04-22 09:45] pacoxu commented on #101362
/sig apps

[2021-04-22 09:57] pacoxu commented on #101350
It should return something like
[code]

/assign

[2021-04-22 10:44] pacoxu commented on #101350
per #46844 which fixed #39730, cc @sttts

[2021-04-22 10:44] grahamhayes commented on #18174
Yes - this otherwise offloads the work on to:

1.  pre-existing load balancers (might be OK in a cloud environment, but more bare metal setups are now difficult to do)
2. tell kublet to talk to an LB on the host (haproxy etc) which then proxies to the API servers. This works, but you now need to orchestrate this list
3. have some sort of floating VIP that gets moved from api node to api node as li

[2021-04-22 10:52] saschagrunert commented on #70131
May I ask why?

[2021-04-22 10:58] hanamantagoudvk commented on #85572
/assign @hanamantagoudvk

[2021-04-22 10:59] hanamantagoudvk commented on #85572
I want to take this issue

[2021-04-22 11:25] Haleygo commented on #101355
/assign
I will look into it.

[2021-04-22 11:30] dims commented on #70131
@saschagrunert apparently there are fixes in golang compiler itself to better compute the buildid, so we should check it out when we have time.

[2021-04-22 12:33] liggitt commented on #75551
thanks, moved those to the right sig groupings and tracked those down

[2021-04-22 13:25] uablrek commented on #90186
Still reproducible on K8s v1.18.18.

But since it works on later versions v1.19.x and beyond I close this issue since v1.18 is no longer a supported version.

/close

[2021-04-22 13:25] #90186 closed

[2021-04-22 13:29] Sabyasachi2k commented on #101199
Hi @navist2020 ,
OK so that means we cannot patch the ns along with the other elements? Would this allow patching the ns in case of ClusterBinding? If so then I guess we can live with that.
we could do kubectl kustomize -n reloader > test.yaml

[2021-04-22 13:42] hui-maker opened #101371 "The field stabilizationWindowSeconds in HPA does to follow the fixed time specifications"
#### What happened:
Per my understanding the field `stabilizationWindowSeconds` in HPA, indicates the amount of time the HPA controller should consider previous recommendations to prevent flapping of the number of replicas.
For example: If I set `stabilizationWindowSeconds: 300` against Pods scaling down policy under behavior section, it indicates the HPA controller will waiting for at latest 5 mi

[2021-04-22 13:43] hui-maker commented on #101371
/sig autoscaling

[2021-04-22 14:11] hexfusion commented on #81042
/reopen
/remove-lifecycle rotten

[2021-04-22 15:19] neolit123 commented on #101199
+

i don't know why this behavior changed.

can you pass `target` for a patch?

[code]

https://github.com/kubernetes-sigs/kustomize/blob/master/examples/patchMultipleObjects.md

[2021-04-22 15:26] amarjothi commented on #100719
hi, An update got to the bottom of this, we are using containerd runtime, and cni calico plugin. So to get containerd runtime started, had to create config file in /etc/cni/net.d as 10-calico.conf - once this config was created, crictl info -> showed OK. there was something wrong with containerd, that it didnt recognise 10-calico.conflist as filename.

The .conflist extension is supported for use

[2021-04-22 15:32] tabbysable commented on #90311
IMO, there's value in building as PIE on the platforms where that is possible, but this is a low priority / nice-to-have. [A recently released paper](https://arxiv.org/pdf/2003.05503.pdf) shows one way that building a PIE to enable ASLR can make attacks harder even though Go is memory-safe. It could also be a mitigation against a hypothetical memory-unsafety bug in the Go runtime.

[2021-04-22 15:33] khenidak commented on #101324
We are trying to liberate PodIPs from family specific. e.g Multi IPs assigned by CNI to allow complex logic such as multi nics per pod etc. If we are to discuss this, then we need to look at the bigger picture beyond IPFamilies. Right now we are forcing users to always use default Cluster IP family for probes even if their pods are not necessarily interested in listening to them. This is not exact

[2021-04-22 15:35] amarjothi commented on #100719
Happy to close.

[2021-04-22 15:35] #100719 closed

[2021-04-22 15:40] khenidak commented on #100846
Hi @kishorj, Thanks for this  -- Exactly which node reconciler that calls into cloud provider's `*LoadBalancer*()` funcs?

[2021-04-22 15:42] khenidak commented on #99425
@tallclair -- I would love to have this as part of opa, saves a lot of the code and agony around getting a configuration that works for all people. But to my understanding, it is not a default component, **right**? (i.e. not part of core)

[2021-04-22 15:46] jsturtevant commented on #99470
@nilo19 that seems to be a different issue than Windows. could you open a new issue and tag @chewong and me?

[2021-04-22 15:49] pietrodimaggio commented on #43916
@AurelioBelletti
Same problem on AKS and no workarounds. Any help?

[2021-04-22 15:50] liggitt opened #101375 "eliminate generated openapi files use of github.com/go-openapi/spec"
#### What happened:

https://github.com/kubernetes/kubernetes/pull/101234 dropped some use of github.com/go-openapi/spec, but generated files (zz_generated.openapi.go) still reference it.

Because some of those files are not committed, this makes go.mod content generated by update-vendor.sh unstable depending on whether you are running it in a clean checkout or in a built tree.

#### What you expe

[2021-04-22 15:57] liggitt commented on #101375
grr, nevermind... had a stale zz_generated.openapi.go locally

[2021-04-22 15:57] #101375 closed

[2021-04-22 16:17] neolit123 commented on #100719
there was not so long ago an open issue in kubernetes/kubernetes for letting users pick *what* config file the kubelet should use from `/etc/cni/net.d` the issue was closed. https://github.com/kubernetes/kubernetes/issues/100309

as a rule of thumb, try keeping only the configuration that you need in there, or even better - just delete the contents of the folder before cluster creation. calico wil

[2021-04-22 16:23] NasAmin commented on #83094
I need this too.
I have a slightly different requirement.
I have FluxCD deploying from a git repositories.
I want to do something like

`kubectl wait kustomization/nginx --for=jsonpath={.items.status.lastAttemptedRevision == "main/<gitsha>"} -n flux-system`

This is so when I push flux config to git, I want to wait for it to reconcile and then promote changes to other environments.

[2021-04-22 16:28] Huang-Wei commented on #95709
/remove-lifecycle stale

[2021-04-22 16:38] rficcaglia commented on #90311
not sure if it moves the discussion forward but ASLR is one mechanism to address NIST 800-53 control requirements for memory integrity/protection (ie SI-16). CIS mapped this in one of their [docs](https://www.cisecurity.org/wp-content/uploads/2019/12/CIS-Controls-and-Sub-Controls-Mapping-to-NIST-Special-Publication-800-53-Rev-4-Low-Final-v1.1.xlsx). Note that is an older mapping and rev 5 is comin

[2021-04-22 16:42] aojea commented on #101324
I really don't like that approach, where something that has to probe my app is allowed to fail and retry with other IP, is a house of bugs and corner cases, flakiness, ... probing should be simple ... I still have nightmares due "smart" monitoring systems

multiNics doesn't report status, so if we don't specify the host, we only have status.PodIPs, that is or ipv4 or ipv6

My suggestion is "I have

[2021-04-22 16:45] liggitt commented on #100556
this continues to be the flakiest test in http://storage.googleapis.com/k8s-metrics/flakes-latest.json by a wide margin

[2021-04-22 16:46] jsturtevant commented on #100946
fixed by: https://github.com/kubernetes/website/pull/27467
/close

[2021-04-22 16:46] #100946 closed

[2021-04-22 16:49] kwiesmueller commented on #100556
So sorry for letting this slip for so long :-/
I'll work on it right when I get back home in an hour.

[2021-04-22 16:54] pavilalopes opened #101378 "kubelet fails to unmount CSI volumes, floods log with errors and has to be restarted"
#### What happened:

On pod termination, kubelet sometimes fails to unmount CSI volumes with the following error:
[code]

Once this bug is triggered the Pod is stuck in Terminating state and the above error message starts repeating hundreds of times per minute in the log.
The os-level mounts themselves are not removed, as reported by `mount` on the host:
[code]

Only solution after this point seem

[2021-04-22 16:56] pavilalopes commented on #101378
/sig storage

[2021-04-22 16:56] altenx commented on #90311
ROP mitigation is probably the most valuable aspect of this since Kubelet is always running in memory.  Its binary may be a rich source of gadgets, of which their offsets in the binary need to be well known to an attacker.

[2021-04-22 17:02] NavindrenBaskaran commented on #101219
This has got to do with AWS Classic Load Balancers, due to its persistent connection with the servers. Once we switch to AWS Network Load Balancers we do not see this issue.

[2021-04-22 17:03] #101219 closed

[2021-04-22 17:03] NavindrenBaskaran commented on #101165
Hey @infa-anisrini for us this was the issue, refer here please: https://github.com/kubernetes/kubernetes/issues/101219#issuecomment-825027685.

[2021-04-22 17:10] CecileRobertMichon commented on #99305
We're able to repro this nearly 100% of the time with Cluster API Provider Azure + k8s 1.20.x + Ubuntu 18.04 + default template, which makes k8s 1.20 pretty much unusable at this point. Trying to see if this repros with other non-Azure cluster-api providers with kubeadm 1.20.

[2021-04-22 17:16] SergeyKanzhelev commented on #100786
/close

[2021-04-22 17:16] #100786 closed

[2021-04-22 17:17] drawn4427 commented on #92928
We are still having this issue within AKS.  When releasing a new service as the pods come up we get this Enpoint slice error and would like to know what the fix is for it?

[2021-04-22 17:18] diranged commented on #24725
I feel like a broken record.. but this is a really pretty big issue. There are _tons_ of cases where you do not want to restart a broken pod, but replace it. I am really surprised at how little movement there is here. :/

[2021-04-22 17:19] Sabyasachi2k commented on #101199
Wonder if that is even possible using patchesStrategicMerge option. I am not sure it is though but could be wrong

[2021-04-22 17:26] jsturtevant commented on #100962
@JocelynBerrendonner   There is an issue open to fix this in kube-proxy: https://github.com/kubernetes/kubernetes/issues/96996

@djboris9 Changing the sourcevip to .2 isn't enough, you also need to reserve the IP via IPAM or it is possible flannel will will assign that .2 address to a pod.  Reserving the sourcevip in ipam is what this function does: https://github.com/microsoft/SDN/blob/b189fc96bc

[2021-04-22 17:27] 2PacIsAlive commented on #24725
Just use a pod then, you don't need a deployment

[2021-04-22 17:31] diranged commented on #24725
That is not what we are saying.. we are saying that there are deployment-like models where you cannot or do not want the pod to restart in a failure, you want a replacement pod that has a new identity.

[2021-04-22 17:32] j-land commented on #96701
@veera2019 Did you find a solution for this issue?

[2021-04-22 17:33] jsturtevant commented on #101172
Does sync only need to be in Agnhost or also on the Windows node?  I don't think there is any issue with adding to the agnhost for this tests.  Has it been tested that it works?

/cc @claudiubelu in case you have thoughts

[2021-04-22 17:47] mauriciopoppe commented on #101172
In the README of sync it says:

Initially I thought it could be added to agnhost however @jingxu97 told me that Windows containers cannot run in privileged mode as of today.

cc @msau42 @jingxu97

[2021-04-22 17:50] robscott commented on #92928
@drawn4427 what version of Kubernetes are you using? For reference, the oldest version of Kubernetes that got this patch was v1.19.9.

[2021-04-22 18:29] neolit123 commented on #101351
/sig apps

[2021-04-22 18:30] neolit123 commented on #101336
/sig storage
/area test

[2021-04-22 18:49] jsturtevant commented on #101172
Since we run the Windows Test containers as `ContainerAdministrator` they should have full access to modify the host files if the host path is mapped in.

[2021-04-22 19:13] BenTheElder commented on #99425
@khenidak The PSP replacement KEP is an in-tree validating admission controller. It's good stuff :-)
Unlike PSP today it would be enabled by default as well. But like today it is not a replacement for OPA / arbitrarily complex user policies.

[2021-04-22 19:22] eddiezane commented on #98854
Will continue to monitor this one. We started with a slightly higher grace period (2 mins from 1 min) for pods to start. If it still flakes we can adjust.

https://github.com/kubernetes/kubernetes/pull/101295/files#r618594831

[2021-04-22 19:31] neolit123 commented on #99305
i can see this failing for any static pod with ephemeral storage.
that is, unless there is proof that this is somehow specific to the kubeadm static pod for etcd that kubeadm deploys.

[2021-04-22 19:40] jackfrancis commented on #99305
@neolit123 I agree that the specific kubeadm-delivered etcd pod is not interesting. (In fact it's very permissive, it's only asking for 100Mi.)

What definitely seems to be happening (in Azure) is that kubelet takes a long time to know about its underlying node's ephemeral-storage availability.

Kubelet starts:

[code]

~2 mins later, it complains that it can't schedule etcd:

[code]

Again, why d

[2021-04-22 19:42] MadhavJivrajani commented on #83094
Hi!

I'd like to take this up 😄
/assign

Just to clarify, would something such as this that was suggested earlier be required:
[code]

Or, would a simplified version such as this as mentioned earlier be required:
[code]

If the latter is what would be preferred, a decision on whether it should be an implied OR or an implied AND would need to be taken.

[2021-04-22 19:49] neolit123 commented on #99305
it's also seems to be an even more scoped problems because it's not reproducible for me locally (i create a number of clusters every day, usually), the kubeadm CI or in other high level projects that use kubeadm (e.g. kind, minikube, etc).

[2021-04-22 20:05] deavid commented on #53533
I'm new to Kubernetes and just learned about this issue; I think swap should get at least a very minimal support for swap.
I mostly understand why swap is a problem to implement and why is seen as something that doesn't add much value: Linux doesn't provide much tooling around swap to properly control it (although possible) and as Kubernetes is expected to run many pods then one would run it in a

[2021-04-22 20:11] fedebongio commented on #101309
/triage accepted

[2021-04-22 20:13] fedebongio commented on #101321
/sig auth
/remove-sig api-machinery

[2021-04-22 20:16] fedebongio commented on #101350
/triage accepted

[2021-04-22 20:17] fedebongio commented on #101355
thank you @Haleygo , please keep us posted!
/triage accepted

[2021-04-22 20:17] caesarxuchao commented on #101348
I agree with @pacoxu that we don't need to fix it immediately. Let's wait for more evidence if it's urgent to fix.

[2021-04-22 20:17] yiqigao217 commented on #92157
+1 We ([HNC](https://github.com/kubernetes-sigs/multi-tenancy/tree/master/incubator/hnc)) have the similar issue.

We have a fail-close webhook configuraiton on all objects except those in namespaces labeled as [excluded](https://github.com/kubernetes-sigs/multi-tenancy/blob/master/incubator/hnc/docs/user-guide/concepts.md#hncx-k8sioexcluded-namespace-label-on-namespaces). If `kube-system` namespa

[2021-04-22 20:19] #101212 closed

[2021-04-22 20:25] liggitt commented on #92157
as of 1.21, namespaces have a default `kubernetes.io/metadata.name` label on them matching their name.

if you want to exclude specifically named namespaces in addition to namespaces with your excluded-namespace label, in 1.21+ you can do this:

[code]

[2021-04-22 20:28] lavalamp commented on #18174
Sounds reasonable, I'm open to a proposal / KEP / PR.

[2021-04-22 20:30] yiqigao217 commented on #92157
Wow this is really cool! Yes, default labels on all namespaces could also make it work for us! Thank you for the info @liggitt !

[2021-04-22 20:49] prameshj commented on #101283
@zshihang can you clarify which versions are ok to use?
From https://github.com/kubernetes/client-go/releases, I see new releases 0.19, 0.20, 1.5.7 -- but no versions above 1.14. Are these versions ok to use?

DNS repo currently overrides to [v0.0.0-20190620085101-78d2af792bab](https://github.com/kubernetes/dns/blob/05a4cd0f5d3b0e7a2925ff10995eb821a683103d/go.mod#L57)

[2021-04-22 20:51] liggitt commented on #101283
client-go v0.x.y versions >= v0.14.0+

[2021-04-22 20:52] liggitt commented on #101283
v0.0.0-20190620085101-78d2af792bab corresponds to kubernetes-1.15: https://github.com/kubernetes/client-go/commit/78d2af792bab

[2021-04-22 21:08] prameshj commented on #101283
Thanks Jordan! Looks like no action needed for DNS images then.

/unassign

[2021-04-22 21:08] prameshj commented on #101283
/assign @varunmar

[2021-04-22 21:37] pohly commented on #99957
/reopen

https://github.com/kubernetes/kubernetes/pull/100637 dealt with the hostpath driver sidecars, but the mock driver still uses older sidecars (https://github.com/kubernetes/kubernetes/pull/99840#issuecomment-825166188).

/assign @msau42

[2021-04-22 21:40] liggitt commented on #101283
Yes, but the current revisions of the DNS images are not being used in https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/kube-dns. The 1.15.10 images are built on client-go v3.0.0, which corresponds to Kubernetes versions prior to 1.14 (https://github.com/kubernetes/dns/blob/1.15.10/Gopkg.toml#L70)

/assign @prameshj

[2021-04-22 21:53] maxsmythe commented on #92157
Making namespace names available as a label helps diligent users address known problems, but we're still left with the core issue cited in this comment:

https://github.com/kubernetes/kubernetes/issues/92157#issuecomment-655096749

[2021-04-22 21:55] maxsmythe commented on #92157
To be clear, @liggit's answer addresses @yiqigao217's concern, mainly I wanted to keep focus on the core issue.

[2021-04-22 22:04] bitti commented on #27308
In my mind the usecase is covered. It's just that instead of additional `KUBECTL_CONTEXT` and `KUBECTL_NAMESPACE` env vars, only `KUBECONFIG` is adhered, but that is flexible enough since it allows to combine configs. E.g. if you have a namespace `nsname` and a context `ctxname` your can set up appropriate `nsname-ns` and `ctxname-context` configs and set `KUBECONFIG` to something like

[code]

I

[2021-04-22 22:06] apelisse commented on #101029
Clients that are aware of that change will always replace the list, which is what we want, that sounds safe.
Clients (if they exist) that still think they can send partial elements may fail, but since we have 0 documentation for SMP, the only way to know is to test.

[2021-04-22 22:20] Zikoel commented on #52386
Same problem here, any news?

[2021-04-22 22:24] howardjohn opened #101384 "client-go: Binary size regression in 1.21+"
#### What happened:

I upgraded to client-go 1.21 and our binaries increased:

[code]

#### What you expected to happen:

Binary sizes do not get bloated, especially when just importing Kubernetes libraries already adds ~30mb prior to this version.

#### How to reproduce it (as minimally and precisely as possible):
Upgrade to 1.21. Example PR where I pulled the numbers https://github.com/istio/ist

[2021-04-22 22:24] howardjohn commented on #101384
/sig api-machinery

[2021-04-22 22:24] BenTheElder commented on #70131
the buildid is a cache key, and the buildid should be reproducible now I think. but we need to confirm. I thought we'd checked that in KIND but it seems we're still zero-ing it.

[2021-04-22 22:44] #97488 closed

[2021-04-22 22:50] mauriciopoppe commented on #101172
I downloaded the zip file and I checked that it has an EULA, @jsturtevant do you know which sig would help with the license?

[2021-04-22 22:52] mikebrow commented on #92211
On the opt out feature: I still have a concern with option A's device auth behavior change, by default.   Forcing admins/users to provide a new annotation to opt out of a behavior change to return to the prior release behavior, seems odd.

[2021-04-22 23:39] caesarxuchao opened #101388 "LoopbackClientConfig is not created when the main cert is empty"
https://github.com/kubernetes/kubernetes/blob/fe88bdc1ab7957d2e546f602f42d240af2adbcec/staging/src/k8s.io/apiserver/pkg/server/options/serving_with_loopback.go#L52-L76

The code block does these actions:
1. creating the self-signed cert for loopback connection
2. creating the loopbackClientConfig
3. adding the self-signed cert to the `secureServingInfo.SNICerts`

If the main cert (`secureServingIn

[2021-04-22 23:53] ibeckermayer commented on #48180
Giving this a bump since I also just ran into a situation where this feature would be quite useful.

[2021-04-23 00:14] Craftoncu opened #101391 "Pods are not evicted if node is in NotReady state"
#### What happened:
If I stop the kubelet of one on my node server the pods on it arent evicted after 24 hours.

#### How to reproduce it (as minimally and precisely as possible):
Clean install Kubernetes v1.21.0 with kubespray

My pod keeps in Terminating state. But theres a warning on it "Node is not ready".

My pod configuration:

apiVersion: v1
metadata:
  name: prometheus-0
  generateName: pr

[2021-04-23 00:20] thockin opened #101393 "Consider changing service.spec.Ports to "atomic""
The strategic merge patch support for service ports is broken (insufficiently unique key) and has been a problem for a long time.  In #101029 we discussed a little whether we could just change it to "atomic".

It might be simple, but strategic merge patch is too poorly documented to know for sure.  E.g. a quick test:

Given this initial Service:
[code]

...use `kubectl apply` on this:
[code]

...a

[2021-04-23 00:39] liggitt commented on #101393
sometimes kubectl will use published schema info in openapi to construct the strategic merge patch, but sometimes it doesn't (https://github.com/kubernetes/kubernetes/issues/100012)

I'm not sure when this was added to kubectl, or how disastrous the result would be if a kubectl that predated that addition was used to apply a service with a port change. I think it would send the delta additions/del

[2021-04-23 00:44] #101336 closed

[2021-04-23 00:44] #100556 closed

[2021-04-23 01:06] zouyee commented on #81042
/reopen
/remove-lifecycle rotten

[2021-04-23 01:23] #92044 closed

[2021-04-23 01:44] wzshiming commented on #101008
/reopen

[2021-04-23 01:45] niulechuan commented on #101378
looks like the vol_data.json file was missing in /var/lib/kubelet/pods/..., did it deleted by mistaken?

[2021-04-23 01:54] CaoDonghui123 commented on #101371
/assign
I will try to reproduce it first

[2021-04-23 01:57] pacoxu commented on #101350
https://github.com/kubernetes/kubernetes/pull/101368#discussion_r618729303

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/types.go#L47-L50

https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions

[2021-04-23 01:57] pacoxu commented on #101350
https://github.com/kubernetes/kubernetes/pull/101368#discussion_r618729303

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/staging/src/k8s.io/apimachinery/pkg/apis/meta/internalversion/types.go#L47-L50

https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions

[2021-04-23 02:15] nilo19 opened #101396 "ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance] keeps failing"
#### Which jobs are failing:

 ci-kubernetes-azure-conformance-ipv6

#### Which test(s) are failing:

ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]

#### Since when has it been failing:

#### Testgrid link:

https://testgrid.k8s.io/provider-azure-cloud-provider-azure#ci-kubernetes-azure-conformance-ipv6

#### Reason for failure:

[2021-04-23 02:43] ahg-g commented on #94009
@Huang-Wei did we have PRs for number 2 and number 3?

[2021-04-23 02:46] chrishenzie opened #101397 "Enable e2e volume stress test to work with pre-provisioned PV"
The e2e volume stress test suite currently supports [dynamically provisioned file systems and block devices](https://github.com/kubernetes/kubernetes/blob/v1.21.0/test/e2e/storage/testsuites/volume_stress.go#L74-L80).

It would be nice to extend this test to support pre-provisioned PVs. This would be helpful for testing storage systems that either don't support dynamic provisioning, or whose provi

[2021-04-23 02:47] yuzhiquan commented on #94009
@ahg-g  Number3 `podtopologyspread` already merged in #100853

[2021-04-23 03:15] renyuntao commented on #55713
same issue on 1.186

[2021-04-23 03:24] ahg-g commented on #94009
I am asking about the two points from the four mentioned in the description of this issue: https://github.com/kubernetes/kubernetes/issues/94009#issue-679258867

[2021-04-23 03:28] yuzhiquan commented on #94009
Oops, misunderstanding, ignore me.

[2021-04-23 03:35] apelisse commented on #101393
Since it is the correct semantic for this list, I would keep `listType=map` and `listMapKey=port/protocol`, which would still work properly with server-side apply/tracking. Client-side apply might be better just replacing than do what it currently does.

[2021-04-23 03:36] apelisse commented on #101393
/sig api-machinery
/triage accepted

[2021-04-23 04:21] Vaccano commented on #65798
Note that this particular Krew plugin does not work on a Windows machine.  It gives the following error:

[2021-04-23 05:18] chalcrow commented on #33777
In this scenario AWS/Azure/whatever can report incorrect CPU usage. Use `kubectl describe node xxxx` to check each node. You'll probably find that the CPU usage on the node is too high (see image below - this is showing a healthy state, but you may see that this is e.g. 80% in your own case). You may need to delete some resources from the node (e.g. any unused pods that aren't required) in order t

[2021-04-23 05:45] Huang-Wei commented on #94009
- number 2: #100357 mitigated the problem. In short, what #100357 did includes two parts: one part is to remove Service event from default list so that **only Pods failed by a plugin** (e.g., ServiceAffinity) which explicitly are interested in Service events **can be moved**; the other part is to implement EventsToRegister() in ServcieAfffinity plugin. But that doesn't prevent the internal process

[2021-04-23 05:58] navist2020 commented on #101199
Yes,if you modify the `kustomization.yaml` as follow:
[code]
This can run normally in my cluster.

[2021-04-23 06:03] uxth opened #101406 "kubelet won't start after reboot with swap off already"
#### What happened:
server rebooted, kubelet is not started
#### What you expected to happen:
it should started
#### How to reproduce it (as minimally and precisely as possible):
just reboot the server
#### Anything else we need to know?:
The connection to the server 192.168.0.190:6443 was refused - did you specify the right host or port?

[log.txt](https://github.com/kubernetes/kubernetes/files/6

[2021-04-23 06:05] uxth commented on #101406
free -m

              total        used        free      shared  buff/cache   available
Mem:           1992         303         920          10         769        1537
Swap:             0           0           0

I think the most common case is that swap is on, so kubelet won't be able to start.
but in my case the swap is already turned off from /etc/fstab.
# /etc/fstab: static file system inform

[2021-04-23 06:12] ialidzhikov commented on #89492
/remove-lifecycle stale

[2021-04-23 06:21] CaoDonghui123 commented on #101371
It works fine in my version

[code]

[2021-04-23 07:03] pacoxu commented on #98108
/remove-lifecycle stale
/sig api-machinery

[2021-04-23 07:19] lunhuijie commented on #101406
It looks like there is a problem with the apiserver，mybe the logs of apiserver is useable.

[2021-04-23 07:21] bronger commented on #24725
It’s part of the nature of the deployment that it keeps things alive. If this is unfortunate for you, then deployment is not what you should use.

In interesting use case mentioned here that some people need to tear down and recreate the whole pod. @diranged You may want that, too? But note that this could not be achieved with restartPolicy anyway. It would need a wholly new top-level setting in t

[2021-04-23 07:26] #93719 closed

[2021-04-23 07:34] vsevel commented on #3312
@gordonbondon what is your feedback on this approach? what are the challenges you have had in deploying this? are you still using it? if not, what direction did you take?
/cc @matthyx

[2021-04-23 07:56] pavilalopes commented on #101378
Yes, I know that is the problem from the log message. We checked and the file was indeed missing.
If you are asking if the file was deleted by some external process, then no.

[2021-04-23 08:15] uablrek commented on #93858
/remove-lifecycle stale

I will fix this by using the go net library as @aojea suggested above.

[2021-04-23 08:16] niulechuan commented on #101378
@pavilalopes Could you find any error msg like `failed to delete volume path` in kubelet logs?

[2021-04-23 08:24] niulechuan commented on #101378
/assign

[2021-04-23 08:25] saschagrunert commented on #70131
Got it, did some research and proposed the change: https://github.com/kubernetes/kubernetes/pull/101411

[2021-04-23 08:26] #82346 closed

[2021-04-23 08:29] hui-maker commented on #101371
Hi @CaoDonghui123 : Thanks for your feedback. As I understanding based on your results above, you are set the target CPU utilization is `50%`, but seems no one of recommendations will reach up `50%`.  Would you please try to add stress to make CPU utilization higher than 50%, and check if HPA controller will not scaling up pods within the time specifications where set in `stabilizationWindowSecond

[2021-04-23 08:37] pavilalopes commented on #101378
Searching verbatim for "failed to delete" does not find anything in the logs.

I'm going to try to collect a set of log messages for the case where the unmount succeeded, and one where it failed. I'll post it here shortly.

[2021-04-23 08:37] gjkim42 commented on #61937
This issue is still reproduced in the following environment without kernel parameter `cgroup.memory=nokmem`
[code]

xref: https://github.com/docker/for-linux/issues/841

/remove-lifecycle rotten

[2021-04-23 08:38] gjkim42 commented on #61937
/reopen

[2021-04-23 08:48] pohly commented on #99957
Mock driver updated in https://github.com/kubernetes/kubernetes/pull/101383

/assign

Let's keep this open until https://github.com/kubernetes/kubernetes/pull/99840 passes.

[2021-04-23 08:53] niulechuan commented on #101378
Okay, thank you!

[2021-04-23 09:12] pacoxu commented on #94900
@celestehorgan  feel free to take this.

I have summarized what to do next in https://github.com/kubernetes/kubernetes/pull/100181.
As https://github.com/kubernetes/kubernetes/pull/100181#issuecomment-805017091 commented,  can you change less than 50 lines at a time? It would be friendly to review.

[2021-04-23 09:12] CaoDonghui123 commented on #101371
@hui-maker this is my log
[code]
Maybe some PR fixed it, but I couldn't find it

[2021-04-23 09:16] pacoxu commented on #97545
/close
since not active.
feel free to reopen if you still have further questiosn.

[2021-04-23 09:17] #97545 closed

[2021-04-23 09:20] renejahn commented on #40413
Has there been a solution to what @natanielmendes mentioned?

[2021-04-23 09:24] pacoxu commented on #51430
/remove-lifecycle frozen
/priority important-longterm
as it will be fixed by #98295

[2021-04-23 09:25] pacoxu commented on #51430
/remove-sig scheduling
/sig node

[2021-04-23 09:30] pacoxu commented on #99151
https://github.com/kubernetes/kubernetes/pull/99176#issuecomment-791492499
2 clusters of 7 failures (1 in last day) out of 134208 builds from 2021/4/9上午8:00:14 to 2021/4/23下午3:38:55.

/close
The solution is just making the toleration larger as there is still no proper solution to solve it and it failed only 7 times in 14 days/

[2021-04-23 09:30] #99151 closed

[2021-04-23 09:38] TvdW commented on #61937
CentOS 7.6 went EOL in 2019. Since the main fix for this problem was in CentOS 7.8, please check with a more recent version.

[2021-04-23 09:39] pacoxu opened #101419 "Failure of e2e/storage/testsuites/subpath.go for "error dialing backend: dial timeout""
### Failure cluster [f16d25c7f46df2481995](https://go.k8s.io/triage#f16d25c7f46df2481995)

##### Error text:
[code]
#### Recent failures:
[2021/4/23下午12:06:12 ci-kubernetes-e2e-gci-gce-network-proxy-grpc](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-network-proxy-grpc/1385444855169159168)
[2021/4/23上午10:05:12 ci-kubernetes-e2e-gci-gce-network-proxy-grpc](https://pr

[2021-04-23 09:42] pacoxu commented on #99252
![image](https://user-images.githubusercontent.com/2010320/115852767-05ba3280-a45b-11eb-9b0b-99da61ee10ce.png)
I will take a look next week if I have some time then.

[2021-04-23 09:43] pacoxu commented on #101419
[76 test failures (53 today) look like](https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=storage&test=One%20pod%20requesting%20one%20prebound%20PVC%20should%20be%20able%20to%20mount%20volume%20and%20read%20from%20pod1#f16d25c7f46df2481995)

[2021-04-23 09:44] gjkim42 commented on #61937
@TvdW

Also reproduced in the following environment.
After we make a pod and delete it, 3 cgroups memory directories are leaked.

[code]

[2021-04-23 09:48] pavilalopes commented on #101378
Ok, here are the logs from 2 pods form the same run, executing on the same node.

First a success case:
[code]

Then a failure case:
[code]

The extra "MountVolume.WaitForAttach" operations after the volume has already been unmounted seem strange to me.

I grepped for references to the CSI UniqueName. Obviously there are more messages for these pods in the log, let me know if you would like a more

[2021-04-23 09:49] gjkim42 commented on #61937
There may be other bugs.

[2021-04-23 09:52] hui-maker commented on #101371
@CaoDonghui123 : Thanks for the response. If some PR fixed it, what we should upgrade? Is HPA apiVersion or kubernetes version?

We now using following versions

**API version:**
[code]
**kubernetes version**
[code]

[2021-04-23 09:57] JoshuaAndrew commented on #61937
this problem caused by  OS and Docker
(1) this problem was fixed in  RHEL/CentOS 7.8
(2) Disable kmem accounting in runc on RHEL/CentOS (docker/escalation#614, docker/escalation#692) [docker/engine#121](https://github.com/docker/engine/pull/121) in Docker CE 18.09.1

so you should upgrade centos and docker

[2021-04-23 10:01] gjkim42 commented on #61937
@JoshuaAndrew
Do you mean that either of them addresses the issue? or do we need both of them?

[2021-04-23 10:02] TvdW commented on #61937
Ancient kernel. Please always reboot after updating

[2021-04-23 10:03] JoshuaAndrew commented on #61937
@gjkim42
need both of them

[2021-04-23 10:08] niulechuan commented on #101378
I will dig into, for now the log is enough.

[2021-04-23 10:13] mioyui88 commented on #98006
so how to resolve coredns failed when use systemd as cgroup drivers?
i use kubeadm-1.15.7 and kubelet also is 1.15.7

[2021-04-23 10:19] hui-maker commented on #101371
The below will show our HPA actions. I monitoring the HPA for 4 mins, you can see the replicas will keep scaling  between 2-3 during 4 mins running, even if I already set `stabilizationWindowSeconds: 3000`
[code]

The full HPA configuration like:
[code]

[2021-04-23 10:59] gjkim42 commented on #61937
Actually, i am using containerd directly.
[code]

[2021-04-23 11:02] #93360 closed

[2021-04-23 11:12] gordonbondon commented on #3312
@vsevel it effectively solved our issue at that period of time. I'd say there were no challenges. Unfortunately, I'm no longer in that company so not sure if it's still used.

[2021-04-23 11:19] gjkim42 commented on #61937
Also reproduced in the following environment.
[code]

[2021-04-23 11:27] #96361 closed

[2021-04-23 11:27] #96769 closed

[2021-04-23 11:42] thuzhf commented on #81001
I encountered the similar problem too. Files created under /dev/shm take too much space even when the job/pod is deleted. I cannot find those files created in the destroyed container under /dev/shm from the host, but it takes up the host's shm space. Is this a memory leak of k8s?

[2021-04-23 11:44] MadhavJivrajani commented on #83094
Unassigning myself, @rahulchheda will be continuing work on this through #92277

[2021-04-23 11:50] gjkim42 commented on #61937
https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-526057604

I am not sure what they fixed at CentOS 7.8, but it didn't solve the problem.

According to https://github.com/docker/engine/pull/121/commits/8486ea11ae800a1e6d634b741dfb007ba29f6003,
I think CentOS 7 gave up solving this problem at the kernel level.

[2021-04-23 12:35] brsolomon-deloitte opened #101425 "--log-file only works if --logtostderr=false"
As originally filed at https://github.com/kubernetes/kubeadm/issues/2455.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Description

Passing `--log-file` to both `kubeadm init` and `kubeadm join` never actually creates or writes a log file whatever the level of `--v` and regardless of whether the enclosing directory exists. **`--log-file` _only_ works if the undocumented `--logtostd

[2021-04-23 12:36] brsolomon commented on #101425
/sig instrumentation

[2021-04-23 12:48] mandala23 commented on #100434
It can be closed. But even if i move all HA et LB conf to another server. Results are still the same.

It is maybe the version used in the CNI that can be involved in such bugs. I don't know.

For flannel i had to downgrade CNI version to 0.2.0 for effective pod-to-pod communication and north-south communications.

[2021-04-23 13:34] ahg-g commented on #94009
ah, yeah, I knew we worked on that in the previous release, lol. Thanks.

[2021-04-23 13:59] jglick commented on #91459
I am probably missing some subtlety here, but as in https://github.com/helm/helm/issues/7956#issuecomment-640912141 I suspect that Helm is behaving properly and the problem is in way Kubernetes handles `Service`s: the `spec` of a resource should never be rewritten with variable environmental information; that is what `status` is for. In other words `.spec.clusterIP` could be set in the unusual cas

[2021-04-23 14:16] chrischdi commented on #99751
Hi,

I hope I don't disturb on this issue but maybe I have relevant information.

We already planned to make use of coredns 1.8.3. However we found an issue regarding headless services.

Beginning with coredns 1.8.3 (I did not find any images for 1.8.1 or 1.8.2 to test), coredns does still resolve names of headless services, while the pods itself is **not yet** marked as **ready**.

Am I missing s

[2021-04-23 14:21] pacoxu commented on #99751
@chrischdi
I will confirm/test it.
Not in upgrade coredns yet. We may have to move to a stable version laer if so.

[2021-04-23 14:44] #97256 closed

[2021-04-23 14:44] liggitt commented on #100994
that's correct... by granting access to all service accounts, that binding made authorization checks against any service account username return yes

/close

[2021-04-23 14:45] #100994 closed

[2021-04-23 14:50] chilicat commented on #61937
We do not see the issue anymore since Centos 7.7. We set the kernel options: `cgroup.memory=nokmem`

Our current environment is as following:
[code]

[2021-04-23 15:24] gjkim42 commented on #61937
Thanks @chilicat
I also confirmed that setting the kernel parameter can resolve the issue.

**HOWEVER**, I am wondering if it is safe to set kernel parameter `cgroup.memory=nokmem` or if there is any other way than to set the kernel parameter.

[2021-04-23 15:26] chrisohaver commented on #99751
Thanks for identifying it!, Yes, it's a bug, introduced with the move from the Endpoints API to EndpointSlices API.

I opened a PR to fix it. https://github.com/coredns/coredns/pull/4580

[2021-04-23 15:46] diranged commented on #24725
Ok, so I think its clear from the community that there is a desire to have a way of saying "If Pod-XYZABC exits for any reason, do not _restart_ it. Let it die and go away." I think beyond that, the mechanics of how we accomplish such a thing is up to the experts in the community who understand the tooling the most.

As a _non_ expert, my mental model is that a `Deployment` handles replacing Pods

[2021-04-23 15:51] nixpanic opened #101431 "Add support for gathering BlockVolume metrics from in-tree storage drivers"
#### What would you like to be added:

#97972 adds support for metrics from BlocMode volumes provided by CSI-drivers.

In-tree drivers can provide these metrics as well. At least the Capacity (size) of the block-device can be fetched with standard tools.

#### Why is this needed:

This makes it easier to test the changes from #97972 and can provide standard utilities that CSI-drivers can consume a

[2021-04-23 15:54] tommyjcarpenter commented on #24725
Yes; honestly that was the most frustrating part of this issue for me. If I can't change it, remove it as a parameter. Having a parameter that can only be set to a single value is a frustrating UX experience. It's like that South Park episode where Cartman buys an amusement park but no one is allowed to buy tickets to enter.

[2021-04-23 15:58] bronger commented on #24725
Deployment templates are pod specs, and this is good because you specify a pod after all. And a pod may have an arbitrary restartPolicy. But as part of a deployment spec, there is the additional constraint that restartPolicy can only be “always”.

The alternative would be to have pod-spec and pod-within-deployment-template-spec, which I would find even more confusing.

[2021-04-23 16:00] tommyjcarpenter commented on #24725
I understand how it became to be - but that does not make it less frustrating (as evidenced by this thread, which would be 1/10th  the size if the parameter was not exposed at all)

[2021-04-23 16:07] bronger commented on #24725
Well, frankly, such a thread is hardly representative.

FWIW, I prefer a documentation that says “A is [long spec], and B is like A, but with some little changes” instead of “A is [long spec], and B is [long spec]”.

[2021-04-23 16:09] bronger commented on #24725
But back on topic, I want to point out that restartPolicy refers to single containers, not to the pod as a whole. This, the use case that you need to replace the whole pod (as mentioned by https://github.com/kubernetes/kubernetes/issues/24725#issuecomment-365758473 and I think also by https://github.com/kubernetes/kubernetes/issues/24725#issuecomment-825047795) needs to be addressed in a different

[2021-04-23 16:41] chewong commented on #101396
[code]

@aramase, do you know if what the correct service account issuer is for ipv6 clusters?

[2021-04-23 16:59] yliaog commented on #101350
the error should come from here: https://github.com/kubernetes/kubernetes/blob/2115852220cc11ed26dcdf936472b2cf6bfe0a15/staging/src/k8s.io/apiserver/pkg/storage/etcd3/api_object_versioner.go#L91

which is correct, as it is converting/validating the resourceVersion for etcd.

I think the question is whether it should return 500 or 400.

[2021-04-23 17:05] kppullin commented on #3312
We've taken a similar approach to the `pod-startup-lock` project and it works quite well.  The main challenge is dealing with pods that are crash looping, as their `init` containers are not re-run upon restart, which results in any restarts bypassing the startup locking controls (https://github.com/kubernetes/kubernetes/issues/52345).  This hasn't been enough of an issue for us in practice to worr

[2021-04-23 18:07] joelsmith opened #101435 "CVE-2021-3121: Processes may panic upon receipt of malicious protobuf messages"
### Issue Details

A security issue was discovered in code generated by the gogo protobuf compiler used by Kubernetes. The gogo protobuf compiler issue has been assigned CVE-2021-3121 and is also known as the “skippy peanut butter bug”.

A program which uses affected code to handle a malicious protobuf message could panic.
The Kubernetes Product Security Committee has tested the API server using a

[2021-04-23 18:07] joelsmith commented on #101435
/area security
/close

[2021-04-23 18:08] #101435 closed

[2021-04-23 18:08] joelsmith commented on #101435
/sig security
/sig api-machinery

[2021-04-23 18:21] #99152 closed

[2021-04-23 18:52] idealtech-i3dlabs commented on #101288
Hmmm. Still doesn't work for me... weird
Just tried on another test environment with 1.20.4 pointing to a non-existing cluster.

Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-18T16:12:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}

$ time kubectl get nodes

[2021-04-23 18:57] brunzefb commented on #101349
Hi -- we are seeing this problem with a large # of mounted configmaps -- in our case we have 20+ configmaps attached to a pod.  Is there a setting that allows for a higher refresh cycle or an api call to force the refresh to happen?

Our scenario is one where 20+ microservices each have a config, that gets created when the CI/CD pipeline does a helm deploy.  Another microservice needs to know abou

[2021-04-23 20:10] uxth commented on #101406
What do I need to do to collect the api server log?

[2021-04-24 00:33] wmealing commented on #61937
@gjkim42 , are you after a runtime solution to the problem ?

[2021-04-24 00:46] hixichen commented on #14362
@rubensayshi  hi, ruben, any specific requirement to enable this experimental feature?

[2021-04-24 00:55] nchetan commented on #99966
@minbaev Can you please close this if the PR is merged. I was looking for good-first-issue and came across this. I am sure there will be others who will discover it as well :)

[2021-04-24 00:56] nchetan commented on #101309
@fedebongio Is this still needing help? I am trying to identify a good-first-issue to contribute to.

[2021-04-24 01:23] #99094 closed

[2021-04-24 02:34] niulechuan commented on #101378
Sorry to disturb you on the weekend, I have to need the complete log of kubelet, or 11:25:00-11:35:00, yesterday I checked the code, I need more details to locate the root cause. You can get it to me on weekdays.

[2021-04-24 03:01] liupeng0518 commented on #92214
1.18/1.19 no such problem.

[2021-04-24 03:35] uablrek commented on #93858
/assign

[2021-04-24 04:12] oldthreefeng commented on #98006
any logs @mioyui88 ?

[2021-04-24 09:32] #96734 closed

[2021-04-24 09:58] luigi-riefolo commented on #100888
@liggitt @howardjohn I can start working on it, if that's fine with you

[2021-04-24 12:33] akloss-cibo commented on #86064
Mostly for posterity, I can report this also happens for smaller GP2 volumes.  I've seen it happen as small as 200 GiB.

[2021-04-24 14:57] #98121 closed

[2021-04-24 17:49] #101406 closed

[2021-04-24 18:10] raphaelauv commented on #94517
/close

[2021-04-24 18:10] #94517 closed

[2021-04-24 18:12] Huang-Wei commented on #99966
This has been fixed by #100322

[2021-04-24 18:12] #99966 closed

[2021-04-24 19:24] kaykhancheckpoint opened #101444 "wrong fs type, bad option, bad superblock on /dev/nvme1n1, missing codepage or helper program, or other error."
Hi friends,

I am trying to deploy [mongodb](https://github.com/bitnami/charts/tree/master/bitnami/mongodb) to my kubernetes cluster. It automatically creates a pvc and pv based on the storage class name i specify. However the pod is stuck on `ContainerCreating` because of the following error:

I'm not sure what to do as this is pretty consistant no matter how many times i uninstall and resinstall

[2021-04-24 19:33] #93399 closed

[2021-04-24 22:20] aojea opened #101446 "The e2e conformance tests "should serve multiport endpoints from pods" doesn't check connectivity"
The test only validates that the API objects are created
https://github.com/kubernetes/kubernetes/blob/113f828553462a6e086a2bd0ba044c5ae20f61a5/test/e2e/network/service.go#L823-L901

E2e tests must verify the behaviour, i.e. that the Service and Endpoints actually work sending traffic.

The file is not well organized and there is a lot of duplicate code, one possibility is to use current Services

[2021-04-24 22:21] aojea commented on #101446
/help wanted
/sig network
/priority important-soon

[2021-04-24 22:22] aojea commented on #101446
I think that there are more tests that doesn't verify the reachability , those should be modified too

[2021-04-24 22:24] aojea commented on #101446
/help-wanted

[2021-04-25 01:49] CaoDonghui123 commented on #101425
/assign
I will try to reproduce it first

[2021-04-25 01:51] mioyui88 commented on #98006
the same log like yours:

kubectl describe pod coredns-xxx -n kube-system
...
OCI message: "process_linux.go:264: applying cgroup configuration for process caused \"No such device or address\""
...

When i choose "cgroupfs" ,the coredns pod is OK

[2021-04-25 01:52] mioyui88 commented on #98006
ps: my linux kernel is 4.19

[2021-04-25 02:14] jomenxiao commented on #101446
/assign

[2021-04-25 03:01] shyung commented on #97309
/remove-lifecycle rotten

[2021-04-25 03:44] pacoxu commented on #101444
/sig storage node

[2021-04-25 07:12] gleichda commented on #92090
@neolit123 following the discussions of #93357 I think this issue can be closed also?

[2021-04-25 07:24] chestack commented on #81364
k8s v1.16.6, came into same problem

[2021-04-25 08:51] pacoxu commented on #101350
I updated #101368.

[2021-04-25 09:16] sftim commented on #101309
It looks like https://github.com/kubernetes/kubernetes/pull/101320 is a good fix for this issue.

[2021-04-25 09:21] kaykhancheckpoint commented on #101444
I found what the problem was, once i removed the mount options from the storage class and recreated it, it mounted properly.

[code]

[code]

[2021-04-25 09:24] sftim commented on #101355
For clarity @matusf: are you saying that the fuzzed URL is valid or invalid UTF-8 (URL-encoded)?

[2021-04-25 09:30] sftim commented on #101216
/kind support
I think

[2021-04-25 09:35] sftim commented on #101091
@Wenshiqi222: GitHub is not the right place for Kubernetes support requests.

You could ask your question on the [Kubernetes Slack](http://slack.k8s.io/) (try the `#kubernetes-users` channel), or via the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

You could also try [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes).

[2021-04-25 10:38] #96755 closed

[2021-04-25 10:48] odinuge commented on #84426
/reopen

[2021-04-25 11:02] cynepco3hahue opened #101458 "[Feature:MemoryManager] fails because race condition between kubelet restart by e2e service and kubelet stop by memory manager"
#### Which jobs are flaking:

kubelet-serial-gce-e2e-memory-manager

#### Which test(s) are flaking:

no specific test, because the failure happens during waiting for the kubelet to come back after the restart

#### Testgrid link:

https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-memory-manager

#### Reason for failure:

- the memory manager under the teardown, updates the kubelet c

[2021-04-25 11:43] uptownaravi opened #101459 "Pod not scheduling in different az with failure-domain.beta.kubernetes.io/zone as topologyKey"
#### What happened:
We have noticed an issue using the failure-domain.beta.kubernetes.io/zone as topology key in the
podAntiAffinity ( requiredDuringSchedulingIgnoredDuringExecution )

expected the pods to be scheduled in different availability zones, but they got created in the same az.
although there is a new GA label topology.kubernetes.io/zone the deprecated one should also be supported in v1.

[2021-04-25 12:34] Garrybest opened #101463 "Why apiserver does not return remainingItemCount when labelSelector or filedSelector is not nil"
What happened:
I found remainingItemCount would not return when we use labelSelector or filedSelector to list objects. I can’t understand. Now I need remainingItemCount attribute to know how many objects remained.

Here is the source code.
https://github.com/kubernetes/kubernetes/blob/7e9fe39cd7c3ee67fcc29e6ca0836917c5a4e9e1/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L770-L776

[2021-04-25 13:18] uablrek commented on #100925
I have built a `kube-proxy` image from the "release-1.20" branch and applied PR #97081 at
[code]
I have tested the `kube-proxy` binary but not the full image. I hope it works.

[2021-04-25 13:30] stephen-dexda commented on #80435
/remove-lifecycle stale

[2021-04-25 13:31] stephen-dexda commented on #82525
/remove-lifecycle stale

[2021-04-25 14:14] uablrek commented on #100925
And BTW `loopback:node-port` have never worked with ipvs, will never work, and will be removed; https://github.com/kubernetes/kubernetes/issues/96879

[2021-04-25 14:32] rikatz commented on #100434
/close

[2021-04-25 14:32] #100434 closed

[2021-04-25 15:10] zxh326 commented on #100237
/close

[2021-04-25 15:10] #100237 closed

[2021-04-25 15:34] knabben commented on #86024
` --cleanup-ipvs` was deprecated and removed from the kube-proxy, working on `--cleanup` and `--write-config-to`.

[2021-04-25 17:17] rikatz commented on #97052
/remove-lifecycle rotten

[2021-04-25 17:38] #96871 closed

[2021-04-25 18:16] neolit123 commented on #92090
once a solution is found https://github.com/kubernetes/security/issues/56#issuecomment-758518519
all related issues can be closed:
https://github.com/kubernetes/kubernetes/issues?q=is%3Aopen+label%3Aarea%2Fsecurity+security+contacts

[2021-04-25 18:17] matusf commented on #101355
It's valid UTF-8

[2021-04-25 18:25] ialidzhikov commented on #101459
/sig scheduling

[2021-04-25 18:47] neolit123 commented on #101391
duplicate of:
https://github.com/kubernetes/kubernetes/issues/55713

/close
/kind duplicate

[2021-04-25 18:47] #101391 closed

[2021-04-25 18:47] neolit123 commented on #101396
/sig auth

[2021-04-25 18:48] neolit123 commented on #101458
/sig node

[2021-04-25 18:48] neolit123 commented on #101463
/kind support
/sig api-machinery

[2021-04-25 19:05] nikhita commented on #94976
/remove-lifecycle stale

[2021-04-25 20:53] howardjohn commented on #101384
For reference on the potential impact of this, at our current rate of image pulls of our project this would cost hundreds of thousands of dollars in GCR network traffic costs, and we are of course far from the only importer of Kubernetes libraries. So I think it's fairly important that a library that is central to a large ecosystem is as lean as possible, as it has a major impact on all consumers.

[2021-04-25 20:53] avoidik commented on #93342
apparently, with removed "--port=0" line you've been enabling insecure ports

[2021-04-25 23:43] howardjohn opened #101468 "Expose `defaults` in k8s.io/api"
#### What would you like to be added:
Defaulting logic (`zz_generated.defaults.go`) to be exported to k8s.io/api.

#### Why is this needed:

Any logic that depends on defaults needs to import kubernetes/kubernetes, which is hard to do/not recommended.

This also leads to confusion where `scheme.Default()` on k8s.io/api types seems like it would work, but it ends up doing nothing.

Example of a pro

[2021-04-26 01:41] niulechuan commented on #101468
/sig api-machinery

[2021-04-26 01:57] thejoycekung opened #101471 "[Failing Test] ci-kubernetes-e2e-gce-device-plugin-gpu"
#### Which jobs are failing:
ci-kubernetes-e2e-gce-device-plugin-gpu

#### Which test(s) are failing:
Cluster up

#### Since when has it been failing:
Apr 23 8:30PM PDT

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master

#### Reason for failure:
Taken from: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu

[2021-04-26 02:16] dims commented on #101384
/area code-organization

[2021-04-26 02:21] lq08025107 commented on #43916
some problem, still no solutions about this topic?

[2021-04-26 02:40] #95945 closed

[2021-04-26 04:13] gujiwork commented on #72196
Expect to add regular filter conditions

[2021-04-26 04:55] pacoxu commented on #101471
### The problem is in the 4.9.2_cos_gg_4.9.2

4.9.2_cos_gg_4.9.2-r193-ac6128e0a17a52f011797f33ac3e7d6273a9368d_4.9.2-r193)

### The  kubekins-e2e image has python3.
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml#L47
[code]

- kubekins-e2e image is built from https://github.com/kubernetes/test-infra/blob/master/images/kubekins-e2e

[2021-04-26 05:02] chrischdi commented on #99751
@pacoxu : we are also running the e2e conformance tests. Shouldn't there be a test for this (something like `not ready headless service should not resolve when pod is not ready`)? I'd be happy to contribute :-)

[2021-04-26 05:47] yuanchen8911 opened #101476 "kube-scheduler fatal error: concurrent map read and map write in volumebinding plugin"
#### What happened:

kube-scheduler (v1.19.10 ) crashes and restarts due to `fatal error: concurrent map read and map write` in`volumebinding` plugin.

[code]

The race condition happens in volumebinding plugin (`volume_binding.go`). It shouldn't happen because state is written in `PreFitler`  and read in `Filter`.

[code]

[code]

#### What you expected to happen:

The scheduler works well withou

[2021-04-26 05:47] yuanchen8911 commented on #101476
/sig Scheduling

[2021-04-26 06:23] pacoxu commented on #101471
@spiffxp @vpickard
https://github.com/kubernetes/test-infra/pull/11876/files#r465380327

😂
The node image gke-1134-gke-rc5-cos-69-10895-138-0-v190320-pre-nvda-gpu has no python3.
We need upgrade it.

[2021-04-26 06:30] #101476 closed

[2021-04-26 06:40] pietrodimaggio commented on #43916
It may be an issue on version 1.18.10 but we haven't got a real evidence. We upgraded the cluster and the  issue is not happening ... keep monitoring.

[2021-04-26 06:57] mythi commented on #92211
@mikebrow  We can discuss this as well in the next COD call. One could argue if the annotation is needed at all because the new functionality must be opted in anyway (by making the change to run containers that use devices as non-root users).

What would be the real world scenario that changes its behavior because of this change?

[2021-04-26 07:13] Haleygo commented on #101355
Actually, according to my test,this bug comes from http.ServeFile which replies to the request with the contents of the named file or directory.
When giving too long(On Linux: The maximum length for a file name is 255 bytes. The maximum combined length of both the file name and path name is 4096 bytes.) filename or pathname to http.ServeFile,it will return code 500(file name too long) rather than

[2021-04-26 07:18] liupeng0518 commented on #75811
--docker tcp://127.0.0.1:2376

[2021-04-26 07:36] invidian commented on #88046
/remove-lifecycle stale

[2021-04-26 08:40] pavilalopes commented on #101378
Here is the unabridged log for those 10 min:
[20210422_1125.log.gz](https://github.com/kubernetes/kubernetes/files/6375502/20210422_1125.log.gz)

[2021-04-26 09:17] pohly commented on #95497
/remove-lifecycle stale
/lifecycle-frozen

[2021-04-26 09:42] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2021-04-26 09:44] pierluigilenoci commented on #69461
@rikatz could you please take a look?

[2021-04-26 10:08] chendave commented on #88093
I guess we can close this now? @alculquicondor

[2021-04-26 10:35] qingshanyinyin opened #101481 "If i limits the CPU cores but Memory for the Pod, the Topomanager will not use the static policy, why? Benefit?"
**_First i set the kubelet as bellow:_**
–cpu-manager-policy=static –topology-manager-policy=best-effort

**_Second i create the pod as bellow:_**
![image](https://user-images.githubusercontent.com/35218255/116066852-1963d400-a6bb-11eb-8917-2a16799cbff8.png)
Then i check the cgroup of this container, and find that the  CPU core is bindded to the container. That means that the static-manager works.

[2021-04-26 13:44] alculquicondor commented on #88093
Yes, thanks

/close

[2021-04-26 13:44] #88093 closed

[2021-04-26 13:48] Moumouls commented on #45419
Okay so it seems that here it's "just" a version combination issue.
On our production system we have many Ubuntu 18.04 and `runc version 1.0.0-rc93`, everything works fine.

Runc version:

[code]

So here it seems that 2 solutions exists:
- Downgrade/Update runc version and avoid the rc93 runc version
- Use an old Ubuntu 18.04 with runc rc 93

[2021-04-26 13:50] dashpole commented on #101341
/triage accepted

[2021-04-26 13:56] claudiubelu commented on #101172
Hm, if the sysinternal sync.exe is problematic, what about the GNU one?

[code]

It seems to come from coreutils, which can easily be downloaded and extracted from. Hopefully, they are 64-bit binaries.

Anyways, I think adding ``sync.exe`` is a good idea, there are a few other non-conformance tests that are calling sync.

[2021-04-26 14:40] toabctl opened #101485 "No conformance image available for 1.16.15"
There is a 1.16.15 kubernetes release but there is no conformance image available:

[code]

Longer output (listing all 1.16.* images):
[code]

Expected result. There is a 1.16.15 image that can be used for e2e testing (eg. with sonobuoy)

[2021-04-26 14:41] toabctl commented on #101485
/sig Testing

[2021-04-26 14:45] #96916 closed

[2021-04-26 14:46] gnufied commented on #98186
/remove-lifecycle stale

[2021-04-26 15:02] ssup2 commented on #100925
@uablrek I tested and it works well. The logs disappear. Thanks :)

But this method generates unnecessary packet transmission.
I think the ideal way is to use the drop rule in iptables.
Is there a plan to support the drop rule??

[2021-04-26 15:13] uablrek commented on #100925
Great! Thanks for testing :+1:  (and verify that I got the build right :smile: )

To add/remove iptables rules should _not_ be taken lightly. There is plenty of room for mistakes in cases that are hard to test like interferrence with other actors that uses iptables like CNI-plugins, rapid updates, and restarts (upgrade).

I have not got https://github.com/kubernetes/kubernetes/pull/97081 accepted

[2021-04-26 15:31] ssup2 commented on #100925
@uablrek Thanks :)

[2021-04-26 15:42] DennisGlindhart commented on #99305
Experiencing same problem on openSuSE Kubic/Tumbletweed snapshot 20210423 with kubeadm/kubelet 1.20.2, kernel 5.11.15 running on Xen, 2 CPU, 4GB ram 30GB disk (BRTFS)

[2021-04-26 15:49] thockin commented on #101137
For posterity, copying comment from the PR:

I disagree that this is a bug (or at worst is a docs bug).

The behavior and syntax was modelled after `make` and is mostly consistent with that:

[code]

`$$` -> `$`

The only place we are different, I think, is that we don't eat the V in `$V` (I think, can't run a test right now).

Worse, "fixing" this is a breaking change.  Someone out there is depen

[2021-04-26 15:53] jsturtevant commented on #101172
@mauriciopoppe I believe that would be sig-contributor-experience.  I thought we were using other sys-internal tools as well but it is a good idea to double check.

[2021-04-26 16:15] aramase commented on #101396
/area provider/azure
/assign

[2021-04-26 16:33] SofianeLamrous commented on #81976
+1
Any update on this please?

[2021-04-26 16:45] sknaumov opened #101491 "Inconsistent behavior while trying to access service by External IP from within a cluster"
#### What happened:
I have 2 services, and the first one (let's call it client) internally uses the other to operate, and issues HTTP request to External-IP of the second service. Sometimes response content is expected, but sometimes, say, after client's pod restart, I receive just empty response as if request is filtered by iptables. The same is if I manually use curl - from some pods it consiste

[2021-04-26 16:46] matusf commented on #101355
Maybe 400 - bad request would be more suitable response code. But I'm not a maintainer so it's not up to me to decide.

[2021-04-26 16:59] neolit123 commented on #101491
/kind support
/sig network

[2021-04-26 16:59] neolit123 commented on #101481
/sig node
/kind support

[2021-04-26 16:59] neolit123 commented on #101481
/remove-kind failing-test

[2021-04-26 17:03] gnufied commented on #101332
/triage accepted

[2021-04-26 17:25] #100855 closed

[2021-04-26 17:43] liggitt commented on #98182
history looks good: https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness&include-filter-by-regex=Metadata%20Concealment&width=5

[2021-04-26 18:00] pehlert commented on #45419
We had runc 1.0.0-rc93 on Ubuntu 18.04 (first), then on Ubuntu 20.04 and it did cause issues. Downgrading via Docker's own apt repositories to `containerd=1.4.3-1*` that comes with `runc rc92` apparently solved it for us.

We had a strong suspicion that it was caused by CSI drivers at first as we had recently upgraded those and disabled CSI entirely. When the cluster was running without CSI volume

[2021-04-26 18:32] DimaMTR commented on #92460
Started to see this error  in 1.20.5 (1.20.5-gke.1300) while using **Jenkins Kubernetes plugin.**
I can see this errors in the API server logs:
[code]

[2021-04-26 18:45] #96899 closed

[2021-04-26 19:04] mkorbi commented on #88974
Hi @marosset I think we have to introduce a new issue for this one, what do you think?

[2021-04-26 19:05] DennisGlindhart commented on #99305
Problem consistently appear/disappear when switching between snapshots 20210401 (Working) and 20210423, so a package update in that period has probably triggered this.

Following files contains changes between those two snapshots.

http://mirrors.dotsrc.org/opensuse/tumbleweed/iso/Changes.Kubic.20210406.txt
http://mirrors.dotsrc.org/opensuse/tumbleweed/iso/Changes.Kubic.20210408.txt
http://mirrors

[2021-04-26 19:18] micahhausler opened #101493 "CVE-2020-8562: Bypass of Kubernetes API Server proxy TOCTOU"
CVSS Rating: **Low** ([CVSS:3.1/AV:N/AC:H/PR:H/UI:N/S:U/C:L/I:N/A:N](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:H/PR:H/UI:N/S:U/C:L/I:N/A:N))

A security issue was discovered in Kubernetes where an authorized user may be able to access private networks on the Kubernetes control plane components. Kubernetes clusters are only affected if an untrusted user can create or modify Node ob

[2021-04-26 19:20] mkorbi commented on #99437
/milestone v1.22

[2021-04-26 19:21] mkorbi commented on #99979
/milestone v1.22

[2021-04-26 19:21] mkorbi commented on #98180
/milestone v1.22

[2021-04-26 19:21] mkorbi commented on #98501
/milestone v1.22

[2021-04-26 19:22] mkorbi commented on #98499
/milestone v1.22

[2021-04-26 19:22] mkorbi commented on #97071
/milestone v1.22

[2021-04-26 19:25] mkorbi commented on #96803
/milestone v1.22
/remove-lifecycle stale
still flaking

[2021-04-26 19:26] mkorbi commented on #95226
/milestone v1.22

[2021-04-26 19:30] #95366 closed

[2021-04-26 19:30] DennisGlindhart commented on #99305
A bit of luck combined with 6th sense i got it narrowed down to systemd update here http://mirrors.dotsrc.org/opensuse/tumbleweed/iso/Changes.Kubic.20210408.txt

Looking at the changelog, one item sticks out:

[code]

Anyone else enabled cgroupsv2 on i.e. the CentOS cases (it needs to be enabled explicitly for that AFAIK)?

[2021-04-26 19:35] jackfrancis commented on #99305
@DennisGlindhart ACK on your latest respond regarding unified cgroup hierarchy.

Is there a quick, cross-distro way to verify that any folks who are repro'ing have a similar systemd config?

[2021-04-26 19:35] mkorbi commented on #99801
/milestone v1.22

[2021-04-26 19:36] bobbypage commented on #101471
Thanks @pacoxu for catching the revert. Separately, we should definitely upgrade that image, cos-69 is super old and not supported anymore: https://cloud.google.com/container-optimized-os/docs/release-notes#current_active_releases

[2021-04-26 19:37] mkorbi commented on #98856
past weeks looks good to me, can we move it to observe? @jpbetz

[2021-04-26 19:39] mkorbi commented on #95600
/milestone v1.22

[2021-04-26 19:51] ahg-g commented on #97203
/close

[2021-04-26 19:51] #97203 closed

[2021-04-26 19:54] #101471 closed

[2021-04-26 20:00] adtac commented on #94404
that sounds like a typo indeed

[2021-04-26 20:41] DennisGlindhart commented on #99305
The precence of file/dir /sys/fs/cgroup/cgroup.controllers should mean you are using cgroupsv2 ( Ref: https://github.com/opencontainers/runc/blob/master/docs/cgroup-v2.md#am-i-using-cgroup-v2 )

I can confirm that the file is present on the kubic snapshot which is **not** working. It is not present on the one that **does** work.

( I'm using cri-o as runtime which should support cgroupsv2 )

cgrou

[2021-04-26 20:42] cheftako commented on #88820
https://github.com/kubernetes/kubernetes/blob/release-1.21/staging/src/k8s.io/cloud-provider/app/controllermanager.go#L219 is where the leader election configuration is used to determine if this CCM is the primary or a hot backup. The simple version of this (using the defaults) assumes that all the CCMs are running the same set of controllers. You can then run as many instances of the CCM as you w

[2021-04-26 20:44] jackfrancis commented on #99305
Thanks. So tl;dr your working theory is that cgroupsv2 + kubelet ephemeral-storage admission has some pathologies. I'll post quickly with what my repro containerd + Ubuntu 18.04-LTS OS surface area looks like.

[2021-04-26 20:52] jasons42 commented on #99305
I ran into this issue consistently on Ubuntu 20.04.2 LTS using cri-o but `/sys/fs/cgroup/cgroup.controllers` is not present on my systems.

[2021-04-26 20:55] jackfrancis commented on #99305
I can also confirm that cgroupsv2 is not a factor in my repro'ing environment:

[code]

[2021-04-26 20:56] jackfrancis commented on #99305
Also, I'm not using cri-o, containerd here:

[code]

[2021-04-26 21:06] DennisGlindhart commented on #99305
Ok - so much for that theory.

But still: What I did to narrow it to systemd-update was taking the working kubic snapshot (20210401) and run *zypper update systemd* which updates systemd (along with systemd-sysvinit and udev packages to same version). That consistently made it fail.

So I think a pointer to the root-cause might still be hiding somewhere around this changelog - even if it is not cg

[2021-04-26 21:06] jaroli commented on #74551
Same problem for Grafana on AWS EKS.
[code]
[code]

[2021-04-26 21:09] SergeyKanzhelev commented on #99979
commented on PR with the suggested fix

[2021-04-26 21:11] dims commented on #101384
Looking at what changed between the versions of client-go that @howardjohn mentions:
https://github.com/kubernetes/client-go/compare/v0.20.5...v0.21.0

everything under is brand new:
https://github.com/kubernetes/client-go/tree/master/applyconfigurations

Starting with the commit here:
https://github.com/kubernetes/kubernetes/pull/99759

@howardjohn this is part of the work under this KEP:
https:/

[2021-04-26 21:11] dims commented on #101384
/remove-area code-organization

[2021-04-26 21:20] lavalamp commented on #101384
client-go doesn't make any binary size promises.

FWIW, I don't foresee adding another feature of this magnitude probably ever again.

If we're incredibly lucky, go2 will let us phrase the client without (as much) code generation. (although that may not help the binary size.)

@jpbetz can speak to whether these packages should be included if they aren't directly used.

[2021-04-26 21:31] unixfox commented on #42649
/remove-lifecycle stale

[2021-04-26 22:22] liggitt commented on #101468
I'm strongly opposed to exposing this. Conversion and defaulting should generally only be done by the kube-apiserver, and occasionally depend on configuration or feature enablement known only to the API server.

Taking a dependency on a specific version of a library exporting this capability encourages components outside the kube-apiserver to do this, grow stale in the default logic they embed, an

[2021-04-26 22:23] liggitt commented on #101463
Because the filtering is applied in the kube-apiserver, and knowing the remaining count would require the API server to fully list all items and filter them, which is potentially very expensive.

[2021-04-26 22:23] #101463 closed

[2021-04-26 22:23] howardjohn commented on #101468
That seems reasonable. Feel free to close this

[2021-04-26 22:23] liggitt commented on #101396
cc @mtaufen

[2021-04-26 22:30] jingxu97 commented on #100047
After increasing pod timeout to 5mins https://github.com/kubernetes/kubernetes/pull/100785, I still see pod sandbox fail to create within 5mins in kind cluster.

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/101496/pull-kubernetes-e2e-kind/1386771175945801728

[2021-04-26 22:38] liggitt commented on #101468
One alternative for https://github.com/itaysk/kubectl-neat in k8s 1.18+ would be to trim fields not owned by the original applier

[2021-04-26 22:38] #101468 closed

[2021-04-27 00:07] antoninbas opened #101500 "Userspace kube-proxy 1.21.0 does not work on Windows"
#### What happened:

When using the latest version of the userspace kube-proxy (v1.21.0) on Windows, ClusterIP load-balancing will not work.

Trying to curl a Service (in this case the Kubernetes Service) directly from a Windows Node running userspace kube-proxy will give you this:
[code]

If you look at the kube-proxy logs, you may see logs such as this one:
[code]

#### What you expected to happ

[2021-04-27 00:07] aramase commented on #101396
The issue is with the certificate being used for OIDC issuer url not being valid for the IPv6 IP. I'm working on a fix for it in aks-engine.

[2021-04-27 00:10] antoninbas commented on #101500
/sig network

[2021-04-27 00:10] antoninbas commented on #101500
/sig windows

[2021-04-27 00:12] jvanz commented on #98422
/remove-lifecycle stale

[2021-04-27 00:39] ahg-g commented on #68827
/close

see https://github.com/kubernetes/enhancements/issues/2249

[2021-04-27 00:39] #68827 closed

[2021-04-27 01:52] ITonyLi commented on #98914
How to reproduce the problem？

[2021-04-27 01:58] niulechuan commented on #101378
👌

[2021-04-27 02:53] ian-fox commented on #96647
Is anybody working on this? Seems like a good first issue and I'd like to contribute.

[2021-04-27 03:00] hanxiaolong891128 opened #101506 "IPv4/IPv6 dual-stack kube-proxy Failed to add destination: [fd00::1:c90a]:80, error: file exists"
#### What happened:
kubernetes with IPv4/IPv6 have a problem with kube-proxy,

#### ERROR log
[root@k8s-master-1 ~]# service kube-proxy status -l
Redirecting to /bin/systemctl status  -l kube-proxy.service
● kube-proxy.service - Kubernetes Proxy
   Loaded: loaded (/usr/lib/systemd/system/kube-proxy.service; enabled; vendor preset: disabled)
   Active: active (running) since Tue 2021-04-27 10:21:04

[2021-04-27 03:39] msau42 commented on #99957
hostpath and mock csi tests are passing
/close

[2021-04-27 03:39] #99957 closed

[2021-04-27 04:06] wangyanghack commented on #98746
[https://github.com/kubernetes/kubernetes/issues/98746#issue-800877111](url)
sry,I don't understand what is difference in (LeastAllocatable and BestFit) or (MostAllocatable and WorstFit)?

[2021-04-27 04:07] mioyui88 commented on #98006
Update runc version, it works!!
I  think 4.19 kernel use cgroup2, so the older runc can't work.

[2021-04-27 04:54] vsxen commented on #100328
https://github.com/opencontainers/runc/issues/1959
https://bugs.centos.org/view.php?id=15695

[2021-04-27 05:23] SergeyKanzhelev commented on #98422
@jvanz is the issue that it logs the same status over and over? Or that status being changed very often?

[2021-04-27 05:41] oldthreefeng commented on #98006
sloved by Update runc version

[2021-04-27 05:41] #98006 closed

[2021-04-27 06:21] cmssczy commented on #101362
[code]
Same problem with you.
This problem is similar with issue https://github.com/kubernetes/kubernetes/issues/95958 and https://github.com/kubernetes/kubernetes/issues/84430.  But I cann't find any useful solution.

[2021-04-27 08:04] pacoxu commented on #101506
/sig network

[2021-04-27 08:32] adabuleanu commented on #100182
Is there a workaround in kubernetes 1.20 for this issue? I see that the fix is addressed for kubernetes 1.21.

Thanks,
Adrian

[2021-04-27 08:35] mengjiao-liu commented on #101349
You can take a look at  the documentation [Mounted ConfigMaps are updated automatically](https://kubernetes.io/docs/concepts/configuration/configmap/#mounted-configmaps-are-updated-automatically)

You can change this field `ConfigMapAndSecretChangeDetectionStrategy` setting,
[mode](https://github.com/kubernetes/kubernetes/blob/3f98b98c6944d0d2a9c945ffe547103151c0619f/staging/src/k8s.io/kubelet/con

[2021-04-27 09:57] Corgi-Google commented on #71647
helpful for me, thx (*^▽^*)

[2021-04-27 10:13] D1abloRUS commented on #88662
/remove-lifecycle stale

[2021-04-27 10:43] lwsanty commented on #100467
issue is still reproduced in GKE `1.19.8-gke.1600`

[2021-04-27 10:49] SAAMalusare commented on #98914
*Thank you Toni for your response,*

*Kindly find details below, also I have attached the behaviour logs.*

*Problem statement:*

Multiple PODs were spinned up during deployment where hpa had already
scaled up my application's older verions.

*AWS-EKS: K8s Version:*

kubectl version --short

Client Version: v1.18.0

Server Version: v1.16.15-eks-ad4801

*How to reproduce:*

Deploy app with Original

[2021-04-27 11:26] j-zimnowoda opened #101521 "kube-api crash on admission-control-config-file argument set"
#### What happened:
Added `- --admission-control-config-file=/etc/kubernetes/admission.yaml` argument to `/etc/kubernetes/manifests/kube-apiserver.yaml`

The Kube-api crashes claiming that configuration file does not exist.
But the file exists:
[code]

The following error is reported by kube-api:
[code]

#### What you expected to happen:
Kube-api is able to read the file and start without crashing

[2021-04-27 11:39] cynepco3hahue opened #101522 "Pod resources reports no ID for the NUMA node 0"
#### What happened:

During access to pod resources API, it reports devices from NUMA node 0 without NUMA ID.
For example

The device from NUMA node 0
[code]
The device from NUMA node 1
[code]

#### What you expected to happen:

Topology for the device on the NUMA node 0 should be reported correctly
[code]

#### How to reproduce it (as minimally and precisely as possible):

1. Be sure that you hav

[2021-04-27 11:39] cynepco3hahue commented on #101522
/sig node

[2021-04-27 11:39] cynepco3hahue commented on #101522
/triage accepted

[2021-04-27 11:40] cynepco3hahue commented on #101522
/priority important-longterm

[2021-04-27 11:54] jlsan92 commented on #87733
Hitting this issue was well. There are workaround tho

[code]

Then spot every `spec.metrics.*.object` that uses `AverageValue`. Remove the `.value` ( that in my case is always `"0"`).

After that, you can freely edit w/e you want from the rest of the document. The bad news, the `.value: "0"` returns after saving, so you need to delete it every time you want to edit again.

[2021-04-27 11:55] mickours commented on #81026
We have the same need for experiments around Kubernetes scheduling. It would be great to have milliseconds on all events timestamps.

[2021-04-27 12:04] jlsan92 commented on #87733
Btw hitting this on both K8s `v1.17.9` and `v1.18.18`

[2021-04-27 12:13] fromanirh commented on #101522
I wonder if device plugins have the same issue; additionally: does the go de-serialization do the right thing? IOW, is the value of the go structs initialized to the right value?

The podresources API - most notably the relevant types - are already stable now, so change them is hard.

[2021-04-27 12:19] jai commented on #94892
seems like this issue has made the rounds 🤣  @BLasan you putting time into this currently?

[2021-04-27 12:22] BLasan commented on #94892
/unassign
No. You can pickup this issue 👍

On Tue, 27 Apr 2021, 17:49 Jai Govindani, ***@***.***> wrote:

[2021-04-27 12:53] uablrek commented on #101506
0xfd = 253 makes me supect a ipv6 address is interpreted as ipv4.

But the important here is that K8s v1.17 is not supported and `EndpointSlice=true` is still in alpha in v1.17. I think the problem may be EndpointSlice related. EndpointSlice is beta in v1.19 and is enabled by default and is tested e2e.

Please try to reproduce the problem on K8s v1.19 or later.

Waiting for that the issue remains

[2021-04-27 12:56] uablrek commented on #101506
Preferably use K8s v1.21 where also IPv6DualStack is beta. Otherwise a fix is likely rejected since the issue is about an alpha feature.

[2021-04-27 12:58] cynepco3hahue commented on #101522
In the end, it was a problem with the JSON serialization, the pod resource API returns all relevant data, but some data missed during the encoding.

[2021-04-27 12:58] #101522 closed

[2021-04-27 13:02] zhangguanzhang opened #101525 "TopologyAwareHints not work"
#### What happened:
`TopologyAwareHints` not work
#### What you expected to happen:
`TopologyAwareHints` will work
#### How to reproduce it (as minimally and precisely as possible):

[code]
create 3 nginx pods in three nodes
and create the svc use `topologyKeys`
[code]

[code]

I `curl 172.26.70.8` on node `10.93.86.124`,  through the nginx pods logs, Every nginx pod log can see the requested。
 th

[2021-04-27 13:02] uablrek commented on #101491
Short answer; sometimes.

The beavior is not consistent between environments. Please complete the "Environment" section of the issue template. E.g. the used cloud-provider.

Also what kind of "external-ip"? LoadBalancer? Include the service manifest would help.

[2021-04-27 13:04] zhangguanzhang commented on #101525
/sig network

[2021-04-27 13:05] zhangguanzhang commented on #101525
/area kube-proxy

[2021-04-27 13:11] zhangguanzhang commented on #101525
@robscott PTAL 😢

[2021-04-27 13:28] brunzefb commented on #101349
@mengjiao-liu  Thanks for the information.  I will try to replicate the issue with a larger number of configmap/volumes mounted (and wait much longer to see the changes reflected in the pod). I have a very strong suspicion that there may be an issue with a larger # of volumes, from what I saw the configmap did not update even after > 10 min.

 If I am successful in replicating the issue in a minim

[2021-04-27 13:31] Frankkkkk commented on #96891
/remove-lifecycle stale

[2021-04-27 13:39] neolit123 commented on #98006
well, runc is definitely part of the equation, but we currently don't document anything about it at k/website.
PRs for this page are welcome https://kubernetes.io/docs/setup/production-environment/container-runtimes/

[2021-04-27 13:57] atze234 opened #101526 "Terminated Node not deleted (AWS)"
#### What happened:
We have a Cluster running Kops in AWS. As its a dev Cluster we're shutting down all the Nodes (and Master), setting Autoscaling Group to 0.

After few days, or weeks, we switch it back on and a new Master is coming up.
State is then for example:
[code]

Having a look at the kube-controller-manager Logs at the recently started Master it states in a loop all the time:
[code]
So i

[2021-04-27 13:59] gsusI commented on #67014
Seems like the issue was introduced into Google Cloud Platform on the 2020-04-20 (🌈 420). [Source](https://serverfault.com/questions/1060925/gke-fails-to-mount-volumes-to-deployments-pods-timed-out-waiting-for-the-condit/1060936#1060936).

It's difficult to establish causality here, but I started facing this issue after updating to from `1.17.17-gke.3700` to `1.18.16-gke.502`, and got fixed when u

[2021-04-27 14:07] UnrealCraig commented on #101419
We are seeing failures with same pattern on our production clusters on GKE when using exec & port-forward. The times when we get the most failures exactly match the times when the linked automated tests are failing.

[2021-04-27 15:11] fengzixu opened #101527 "Support sending recovery event when the volume back to healthy"
#### What would you like to be added:

kubelet should support sending recovery event when the corresponding volume back to healthy

https://github.com/kubernetes/kubernetes/pull/99284/files#diff-29b95d3e0972ccf0fe5a9fc814db80cf3b39465008c13db8f0ececf231e840b2R138

#### Why is this needed:

1. From user's perspective: If we just send the abnormal event to indicate volume in unhealthy, but not infor

[2021-04-27 15:11] fengzixu commented on #101527
/sig storage

[2021-04-27 15:11] fengzixu commented on #101527
/assign @fengzixu

[2021-04-27 15:12] fengzixu commented on #101527
cc @xing-yang @NickrenREN

[2021-04-27 15:13] navidshaikh opened #101528 "POC for vulnerability scanning using snyk"
#### What would you like to be added:
A prow CI job to do vulnerability scanning for k/k dependencies using [snyk](snyk.io).

#### Why is this needed:

ref https://github.com/kubernetes/community/issues/2992

<hr>

This issue is to track doing a PoC for vulnerability scanning of k/k dependencies using snyk CLI.

The proposal is to create an optional prow CI job which runs snyk scan against k/k mas

[2021-04-27 15:14] xing-yang commented on #101527
/triage accepted

[2021-04-27 15:14] navidshaikh commented on #101528
/area code-organization
/sig architecture

[2021-04-27 15:20] AlexanderYastrebov commented on #54247
`/dev/stdout` is a symlink to `/proc/self/fd/1` which would be `sh` stdout.

Redirect into PID 1 stdout ends up in the application logs:
[code]

[2021-04-27 15:47] zshihang commented on #101286
any updates here?

/cc @kubernetes/sig-autoscaling-bugs

[2021-04-27 16:06] robscott commented on #101525
Thanks for reporting this! @aojea actually discovered this in the 1.21 release cycle but unfortunately we couldn't get the fix into 1.21.0. We should have a fix in 1.21.1: https://github.com/kubernetes/kubernetes/pull/101054.

[2021-04-27 16:10] ikeeip commented on #95750
AFAIK there are two issues related with PLEG:
- when `broken pipe` was occurs while `relist`.
- when total response time from container manager greater then `relistTreshhold`.

Is it reasonable add some stream endpoint into `conteinerd` CRI plugin and design new PLEG implementation to fix second problem?

[2021-04-27 16:16] rdxmb commented on #61117
Can this be opened or is there a new issue for that? The problem can actually be found on several systems like aws, rancher  etc
https://github.com/rancher/rancher/issues/31793

[2021-04-27 16:24] axelczk opened #101529 "All healthcheck failed when using NLB and externalTrafficPolicy Local"
I'm trying to use an AWS NLB for UDP traffic on a EKS cluster with kubernetes 1.19.8 with an externalTrafficPolicy sets to local in order to keep the client sourceIP.
With this configuration, all the node's healthcheck in the target group are failed.

If I'm correct, the node that have one pod of the application should be considered as healthy and the healthcheck on the path /healthz is handled by

[2021-04-27 16:26] axelczk commented on #101529
/sig network

[2021-04-27 17:10] robscott commented on #101525
One tiny bit of clarification here. The topologyKeys field is tied to an older/deprecated feature. The annotation you have commented out is for TopologyAwareHints. Both the old and new functionality should be fixed by the PR I referenced above.

[2021-04-27 17:10] lavalamp commented on #81026
first time I saw this, sorry--

The time code is here: https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/time.go

There is a micro_time.go file right next to it.

One could attempt to either: change time.go to store milliseconds, or add a milli_time.go and then change the desired uses in the API.

Either way, there's a significant backwards compatibility problem-- you have to

[2021-04-27 17:11] lavalamp commented on #81026
(reopening this only because it should get a yes/no decision rather than aging out)

(It's looking like a 'no' IMO)

[2021-04-27 17:15] liggitt commented on #81026
Agreed, changing the serialized format of that field is not backwards compatible.

[2021-04-27 17:25] alculquicondor commented on #81026
is there a v2 backlog? :)
In the meantime, what about adding a parallel field in v1? Something like `creationTimestampMs`?

[2021-04-27 17:39] neolit123 commented on #101526
/sig cloud-provider
/area provider/aws

[2021-04-27 17:41] neolit123 commented on #101521
you must mount the file. see the manifest existing mounts on how to do that.

for more questions use #kubeadm on k8s slack or:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/remove-kind bug
/kind support
/sig cluster-lifecycle
/close

[2021-04-27 17:41] #101521 closed

[2021-04-27 17:49] supriya-premkumar commented on #80481
/remove-lifecycle stale
/assign

[2021-04-27 17:54] supriya-premkumar commented on #80481
/reopen
/remove-lifecycle rotten

[2021-04-27 17:56] Keramblock commented on #100467
same

[2021-04-27 18:22] neolit123 commented on #100467
GKE builds are proprietary.

for upstream Kubernetes once these cherry picks merge you should check the latest respective PATCH releases:
https://github.com/kubernetes/kubernetes/pull/99336#issuecomment-824441152

[2021-04-27 18:23] giovannirco commented on #69041
How is it going @dav3ydoo ? Did you have any progress on this?

I would love to have this working as well

[2021-04-27 18:42] rdxmb commented on #101056
Is this caused by https://github.com/moby/moby/issues/40817 ?

[2021-04-27 18:53] vidyadharreddy18 opened #101533 "'kubectl get psp' output showing privileges column wrongly."

[2021-04-27 18:58] #101533 closed

[2021-04-27 18:58] vidyadharreddy18 commented on #101533
wrong report

[2021-04-27 19:42] liggitt commented on #101064
can you summarize the impacted patch releases (looks like the regression was backported to 1.18-1.20 as well)

[2021-04-27 20:18] jpbetz commented on #101384
/assign
/triage accepted

[2021-04-27 20:18] jpbetz commented on #101384
/cc @yliaog

[2021-04-27 20:18] jpbetz commented on #101348
/triage accepted

[2021-04-27 20:19] jpbetz commented on #81026
/triage accepted

[2021-04-27 20:19] ialidzhikov commented on #99827
@pohly , @msau42 what would be next steps for this issue?

I see that #99641 adds proper `k8s:prerelease-lifecycle-gen` tags for the types.

I was wondering what we mean exactly by `removal in 1.22`? Is it `stop serving the v1alpha1.storage.k8s.io API` (if it was not already done)?

I think the `v1alpha1` is not served since longtime. Against v1.18.18 cluster:

[code]

Then I think we rather mean

[2021-04-27 20:20] jpbetz commented on #98108
+ @apelisse

Is this any better when using server side apply?

[2021-04-27 20:20] jpbetz commented on #98108
/triage accepted

[2021-04-27 20:24] jpbetz commented on #101384
`k8s.io/client-go/applyconfigurations` really is needed now that we're supporting server side apply in the client. I don't forsee any other additions like this in the future. See the [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2155-clientgo-apply) for more details on what exactly this does.

[2021-04-27 20:26] lavalamp commented on #101384
Oh, it's absolutely needed and we won't be removing it. But the question is if a binary links some part of client-go, but doesn't happen to use that package, should it really be showing up in binary size?

[2021-04-27 21:07] apelisse commented on #98108
Yeah, I think in general that's what we get for trying to be smart :-(.

I would argue that if you want to be declarative and you have a strong opinion about the value of the `ImagePullPolicy`, you should specify it in your config file?

Unfortunately, no.

[2021-04-27 21:11] caboteria commented on #82756
For posterity's sake (because this issue is both unhelpful and a top search result) this reddit thread has some relevant info: https://www.reddit.com/r/kubernetes/comments/7ruq0f/kubelet_nameserver_limits_were_exceeded/

[2021-04-27 21:14] ialidzhikov commented on #101525
/triage accepted

[2021-04-27 21:17] ialidzhikov commented on #101525
@robscott , can you add triage/accepted label? Thanks in advance!

[2021-04-27 21:22] Keramblock commented on #100467
@neolit123 Still, they based on open source, or aren't they?

[2021-04-27 21:25] aojea commented on #101525
/triage accepted

[2021-04-27 21:32] howardjohn commented on #98108
That is fair, it does become tricky when you are taking arbitrary images (from helm, kustomize, mutating webhooks, etc) and want the default behavior of setting ImagePullPolicy based on the image. Of course the tooling might take on the complexity but it is not always feasible in some cases

[2021-04-27 21:32] neolit123 commented on #100467
my point is that i cannot give you a timeline of when the GKE builds will be available and you should consult with GKE support.

k8s patch releases should be up on 12th of May:
https://groups.google.com/g/kubernetes-dev/c/H06vjjSzX44/m/rZcBO0_rAAAJ

[2021-04-27 22:10] dav3ydoo commented on #69041
Hi @giovannirco , I did not make any progress.  Well just enough progress to determine we weren't going to invest the time to implement this.  After looking into this there are some nasty edge cases that required significant thought, work, and collaboration with the storage SIG.  Something that wasn't worthwhile for our use case unfortunately

[2021-04-27 22:28] masap commented on #100880
Thanks.

[2021-04-27 22:28] #100880 closed

[2021-04-27 22:45] solarmosaic-kflorence commented on #33766
@yalegria I have successfully worked around this issue using `nodePort: null` with Kustomize

[2021-04-27 22:46] madarez opened #101538 "kubectl logs --follow exits too soon/returns empty/doesn't follow the stream"
#### What happened:
We used `--follow` switch of `kubectl logs` and it exited with 0 and returned nothing. However, if we rerun the command, we get the following logs correctly.

#### What you expected to happen:
I expected that it would be streamed all the way through the logs.

#### How to reproduce it (as minimally and precisely as possible):
Container:
[code]

[code]

And have the `main.py` ju

[2021-04-27 22:52] #95106 closed

[2021-04-27 23:05] thockin commented on #33766
FTR: This is fixed is v1.20.x

[2021-04-28 00:04] Dragoncell opened #101541 "cgroupv2 test for node e2e cos containerd"
#### What would you like to be added:
1. add cgoupv2 enablement logic in containerd init script (controlled by an env flag)
2. add test grid for running node e2e containerd related tests in cgroupv2

#### Why is this needed:
This helps us gain confidence on enabling cgroupv2 on containerd cos images

[2021-04-28 00:04] Dragoncell commented on #101541
/sig node

[2021-04-28 01:40] wzshiming commented on #101064
These 4 patch releases are impacted, 1.18.18, 1.19.10, 1.20.6, 1.21.0
#101226
#101225
#101224
#101223

[2021-04-28 02:06] #101284 closed

[2021-04-28 02:09] yuanchen8911 opened #101548 "kube-scheduler crashes and restarts with panics in DefaultPreemption plugin"
#### What happened:

Kubernetes 1.19 (confirmed with 1.19.7 and 1.19.10)

kube-scheduler crashes and restarts with the following errors in `default_preemption.go`.

1. **panic: runtime error: index out of range [0] with length 0**

The problem code is line 389.  When `victims` is nil or `victims.Pods` is empty, the error happens.  If we skip `GetPodPriority ` when it's nil or empty, the error is g

[2021-04-28 02:09] yuanchen8911 commented on #101548
/sig scheduling

[2021-04-28 02:09] yuanchen8911 commented on #101548
/cc @Huang-Wei  @ahg-g

[2021-04-28 02:27] niulechuan commented on #101548
/assign

[2021-04-28 02:28] Huang-Wei commented on #101548
@yuanchen8911 Are you running the vanilla scheduler? or a customized one that leverages the utilities in default_preemption.go?

[2021-04-28 02:38] zhangguanzhang opened #101553 "GracefulNodeShutdown not work on CentOS 7.4"
#### What happened:
kubelet config :
[code]
kubelet log this
[code]
[code]

#### What you expected to happen:
[code]
#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`): `CentOS Linux release 7.4.1

[2021-04-28 02:39] yuanchen8911 commented on #101548
It's a custom scheduler with some internal out-of-tree plugins, but it doesn't have any custom postFilter plugins.

Which utility functions are you referring to?  Thanks.

[2021-04-28 02:43] ahg-g commented on #101548
are those custom plugins filter plugins? do they maintain state?

If yes, then one hypothesis is that those custom filters filter the node in the filter phase, but not when executed in the preemption phase, and so this will result in a candidate node with no victims?

[2021-04-28 02:44] yuanchen8911 commented on #101548
Yes, it includes filter plugins and uses cycle state.

[2021-04-28 02:46] ahg-g commented on #101548
you need to make sure that those filter plugins play nicely when executed again in the preemption phase.

[2021-04-28 02:48] yuanchen8911 commented on #101548
@ahg-g Thanks  What do you mean by performing filter in the preemption phase? would you mind elaborating it a little?

[2021-04-28 02:49] yuanchen8911 commented on #101548
What additional logic is needed to handle the preemption case?

[2021-04-28 02:58] ahg-g commented on #101548
in the preemption phase we run the filters again to check if removing lower priority pods make the node schedulable: https://github.com/kubernetes/kubernetes/blob/d9839a30c78c55f4cda8edb8effa249e9bb42884/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L543

we later add them one by one to reduce the set of victim pods to the absolute minimum: https://github.com/kubernetes/k

[2021-04-28 02:59] pacoxu commented on #101553
/sig node
/cc @wzshiming @bobbypage

[2021-04-28 03:00] yuanchen8911 commented on #101548
Disabled the filter plugin, but still see the same issues.

[2021-04-28 03:05] ahg-g commented on #101548
are you able to change the scheduler code and run the test again? I can send a patch tomorrow to add some debugging messages to help us root cause the issue.

[2021-04-28 03:06] yuanchen8911 commented on #101548
yes, thanks a lot!  really appreciate it!

[2021-04-28 03:18] wzshiming commented on #101553
This feature depends on dbus, It seems that the dbus on your server is not turned on.
Start dbus `systemctl start dbus` and restart kubelet `systemctl restart dbus`

[2021-04-28 03:18] yuanchen8911 commented on #101548
@ahg-g  You are right.  We still use a deprecated Predicate extender, which causes the problem. After disabling it, it's working fine.  It used to work with 1.18 though. We are retiring it.  Thank you so much!!!

[2021-04-28 03:21] yuanchen8911 commented on #101548
If the test cases can help debug scheduler extender Webhook (Predicate) too, I'd like to try it. Thanks again!

[2021-04-28 03:44] zhangguanzhang commented on #101553
still not work

[code]

[2021-04-28 03:44] zhangguanzhang commented on #101553
still not work
[code]

[2021-04-28 03:44] yuanchen8911 commented on #101548
How can we improve the preemption logic to prevent such thing happening?

[2021-04-28 03:45] BSWANG commented on #66607
/reopen

[2021-04-28 03:45] BSWANG commented on #66607
reopen due this pr #96454 reverted

[2021-04-28 03:55] zhangguanzhang commented on #101553
oops, use the wrong config file, It works ,thanks @wzshiming

[2021-04-28 03:55] #101553 closed

[2021-04-28 03:57] calmkart opened #101557 "DrainNode failed with Kruise advanced daemonSet"
[screenShots](http://www.calmkart.com/wp-content/uploads/2021/04/1-5.png)

When using the drain command of kubectl, all DaemonSets will be filtered. But the way to judge that workloadRef is DaemonSet in Filter only considers the Kind of workloadRef and ignores the APIVersion of workloadRef.

https://github.com/kubernetes/kubernetes/blob/f631c0e520774494cb37dca709943adaf63b2951/staging/src/k8s.io/k

[2021-04-28 04:00] calmkart commented on #101557
/sig CLI

[2021-04-28 04:04] bobbypage commented on #101553
just curious, what do you mean by "use the wrong config file"?

[2021-04-28 04:22] ahg-g commented on #101548
for starter, we should check the list len, the scheduler should not panic in all cases.

Other than that, I think we need to clearly document what the preemption logic does (that it executes the prefilter extensions points and the filter plugins multiple times) and the expectations from filter plugins (that they may get executed more than once in the same cycle)

[2021-04-28 04:32] yuanchen8911 commented on #101548
I can file a PR for additional checks.

[2021-04-28 04:34] zhangguanzhang commented on #101553
kubelet's config file not update

[2021-04-28 04:59] bobbypage opened #101558 "Move off gce-device-plugin-gpu job from deprecated OS image"
xref: https://github.com/kubernetes/kubernetes/issues/101471#issuecomment-826499568

`ci-kubernetes-e2e-gce-device-plugin-gpu` job is currently using image [`gke-1134-gke-rc5-cos-69-10895-138-0-v190320-pre-nvda-gpu`](https://github.com/kubernetes/test-infra/blob/518ab2b454a502af06d74f7e54a712be7a7abf8b/config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml#L5-L6).

This image is super old

[2021-04-28 05:04] zhangguanzhang commented on #101525
this change just use for the kube-proxy? So I need compile the kube-proxy not the full?

[2021-04-28 05:09] Huang-Wei commented on #101548
Is it a **predicate** extender or **preemption** extender? If it's a predicate extender, I don't quite think we found the root cause - b/c predicate extenders are not invoked during preemption (https://github.com/kubernetes/kubernetes/issues/86942#issuecomment-650436328).

It makes more sense if it's a preemption extender - if the preemption extender mutates the `candidates` to make it invalid. If

[2021-04-28 05:09] Huang-Wei commented on #101548
That's always true :)

[2021-04-28 05:21] robscott commented on #101525
@zhangguanzhang Yep, this fix just applies to kube-proxy. If you are able to compile it, can you confirm that it fixed your issue?

[2021-04-28 05:33] pacoxu commented on #101558
I opened https://github.com/kubernetes/test-infra/pull/21994 to use a general node image. I cannot find a special image with gpu preloaded.

[2021-04-28 05:33] pacoxu commented on #101558
I opened https://github.com/kubernetes/test-infra/pull/21994 to use a general node image. I cannot find a special image with gpu preloaded.

[2021-04-28 05:34] yuanchen8911 commented on #101548
filed a PR to mitigate it. https://github.com/kubernetes/kubernetes/pull/101560

[2021-04-28 06:16] zhangguanzhang commented on #101525
I will try this

[2021-04-28 06:26] pohly commented on #99827
My understanding is that in 1.22, we can and should remove all code for these three types under v1alpha1:
https://github.com/kubernetes/kubernetes/blob/50e319767cc4aad5c6ff56a8d002c406cdcc3e0e/staging/src/k8s.io/api/storage/v1alpha1/types.go#L25-L143

[2021-04-28 06:41] carlory opened #101564 "Deprecate and Remove apiserver.k8s.io/v1[alpha|beta]1 Versions"
#### Why is this needed:

All the supported resources with `apiserver.config.k8s.io/v1`,`apiserver.k8s.io/v1alpha1` and `apiserver.k8s.io/v1beta1`:

- `version=v1alpha1, kind=AdmissionConfiguration`  was added in v1.6 and promoted to GA in v1.17.  ref #85098
- `version=v1alpha1, kind=EgressSelectorConfiguration` was added in 1.16 and promoted to Beta in v1.18. ref #88502

The `v1.21` was released,

[2021-04-28 07:23] wzshiming opened #101565 "[Feature request] Field `status.hostIPs` added for Pod"
#### What would you like to be added:

- Field `status.hostIPs` added for Pod
- Downward API support for status.hostIPs

#### Why is this needed:

If the Pod runs on an enabled IPv6 dual stack node, hope to get the IPv6 address of node

[code]

[code]

#### Want happen:

Add environment value from field `status.hostIPs`, which contains ipv6.
[code]

[code]

https://github.com/kubernetes/kubernetes

[2021-04-28 07:24] wzshiming commented on #101565
/assign

[2021-04-28 07:58] tamalsaha opened #101567 "conversion-gen is broken in 1.20 and 1.21 release"
#### What happened:
conversion-gen tool is broken in 1.20 and 1.21 release. This is blocking us and projects like [cert-manager](https://github.com/jetstack/cert-manager/pull/3926) from migrating to the latest k8s tool chain.

As for context, everything was ok in k8s 1.18. In k8s 1.18.9, the auto generated code will look like the following:

![resource-metadata-zz_generated-conversion-go-at-master

[2021-04-28 08:00] tamalsaha commented on #101567
/sig api-machinery

[2021-04-28 08:11] hui-maker commented on #101371
@CaoDonghui123 : Do you any updates for this?
Thanks!

[2021-04-28 08:23] wzshiming opened #101570 "[flake] [sig-node] [GracefulNodeShutdown] when gracefully shutting down should be able to handle a cancelled shutdown"
Testgrid link:

https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-graceful-node-shutdown
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-graceful-node-shutdown/1387152775078481920

Reason for failure:

[code]

[2021-04-28 08:25] wzshiming commented on #101570
/assign
/sig node

[2021-04-28 08:33] hui-maker commented on #101371
@CaoDonghui123 : Based on your logs below, I notice that at the time ` 5m58s` the current metric value above target, it will scaling up the Pods at `11m`, the number of replicas will be updated from **2** to **3**. This behavior is make sense to me. Later, at the time `12m` it will adjusting replicas number to **4**. The interval time between two updates only **1m**.  As I understanding, the inter

[2021-04-28 09:08] zhangguanzhang commented on #101525
I test the ServiceTopology will work
[code]
, but `TopologyAwareHints` still not work,
[code]
I lable all nodes:
[code]
and creat the svc with annotaion:
[code]
the kube-proxy logs this:
[code]
the `EndpointSlice` status is:
[code]

[2021-04-28 09:33] aojea commented on #101525
@zhangguanzhang are your nodes labeled with the topology zone information?
otherwise it will not work
You can see an e2e test example here https://github.com/kubernetes/kubernetes/pull/100807/files#diff-01b7ace09b00e5b162a43775939eaccc12feda0494c0241cf669a30295f204a4

[2021-04-28 09:34] aojea commented on #101525
/kind support
This has been fixed by https://github.com/kubernetes/kubernetes/pull/101054
/remove kind-bug

[2021-04-28 09:51] zhangguanzhang commented on #101525
[code]

[2021-04-28 09:59] klibr007 commented on #86762
I have the same issue but with  this line [ERROR] plugin/errors: 2 zipkin.istio-system.zz3d.fr. A: read udp 192.168.188.69:50820->192.168.200.10:53: i/o timeout I have no idea how to fix it

[2021-04-28 10:08] CaoDonghui123 commented on #101371
#97348 this pr fixed

[2021-04-28 10:55] mingfang commented on #93900
-1000
Removing PodPreset is terrible. Shame on you!

[2021-04-28 11:17] aojea commented on #101525
ups, sorry, didn't realise you already pasted them, however, all of them are using the same zone, you need different zones, use at least 2 zones: zone1, zone2 :)

[code]
check that the entpoint slices have the hints then

[2021-04-28 11:53] kolomenkin opened #101584 "BackoffLimit does not work for pods in Jobs (Kubernetes 1.19)"
#### What happened:

1. I deployed CronJob with non-existing docker image,
2. Job was created in time, Pod was created and got pull problems
3. Pod stay in the state "ImagePullBackOff" for 10 and more hours
4. If I deploy new version of CronJob with correct docker image tag it will never start.

#### What you expected to happen:

I expect Pod to use default BackoffLimit like in documentation:
Defa

[2021-04-28 12:12] zhangguanzhang commented on #101525
I will try later

[2021-04-28 12:16] liggitt commented on #100888
There's no guarantee that will always be the only query parameter client-go uses in requests (propagating audit IDs comes to mind as a possible future addition). I would tend to avoid introducing situations that lead to ambiguity or confusing between user data and system data.

I'm not completely opposed to the idea, but I haven't seen much demand for it either. A proposal to add this would need t

[2021-04-28 12:24] kolomenkin commented on #101584
/sig architecture
/wg Reliability
/committee steering

[2021-04-28 12:25] kolomenkin commented on #101584
/committee -steering

[2021-04-28 12:48] VigneshSP94 commented on #101529
the /healthz endpoint of kube-proxy is actually to check the health of your worker node, not your application. I am not understanding how `--healthz-bind-address ipport` will ensure the health of your application.

Can you curl your worker on port 10256 and see if it gives a 200? if your node is not listening on 10256, please run this `kubectl get daemonset kube-proxy -n kube-system -o json | jq '

[2021-04-28 12:58] kolomenkin commented on #101584
/sig apps

[2021-04-28 12:59] axelczk commented on #101529
Here is the result of your command:

[code]

After further test, I think the problem is on EKS side and not on kubernetes.

[2021-04-28 13:04] aojea commented on #101529
I'm not familiar but the docs here say you should open some network rules too
https://kubernetes.io/docs/concepts/services-networking/service/#aws-nlb-support

Anyway, this doesn't seem sig-network or kubernetes

/kind support
Please close it if you discard is kubernetes related or retag it as /sig cloud-provider if you feel is cloud-provider specific

[2021-04-28 13:18] axelczk commented on #101529
/sig cloud-provider

[2021-04-28 13:32] lauchokyip commented on #92402
If anyone wants to do `vendor/k8s.io/apiserver/pkg/server/httplog ` please go ahead and submit a PR 👍🏼  You can refer to this PR (https://github.com/kubernetes/kubernetes/pull/97867)

[2021-04-28 13:32] dims commented on #101567
cc @palnabarun @nikhita

[2021-04-28 13:44] liggitt commented on #101567
cc @wojtek-t

likely related to https://github.com/kubernetes/kubernetes/pull/90018 in 1.19, which intentionally removed the fallback to  reflect-based conversion, because it is not known to be correct and masks conversion bugs

based on what was generated previously, is it possible you weren't actually picking up the generated conversions before and were using the reflective conversion path?

[2021-04-28 13:53] chaodaiG opened #101585 "Init container is running but not ready"
Reference https://github.com/kubernetes/test-infra/issues/21985

#### What happened:

Saw multiple pods with states:

[code]

Notice that the init pod is running but not ready.

#### What you expected to happen:

Should this happen at all?

#### How to reproduce it (as minimally and precisely as possible):

See https://github.com/kubernetes/test-infra/issues/21985

[2021-04-28 14:16] tamalsaha commented on #101567
Yes. It was using reflective conversions. As you can see here with k8s 1.18.9

https://github.com/kmodules/resource-metadata/blob/78a10662e33585c6b06d7e0c07c8c70e111ab4d3/apis/meta/v1alpha1/zz_generated.conversion.go#L1140-L1149

[2021-04-28 14:24] Keramblock commented on #100467
Oh, ok. Thank you =)

[2021-04-28 15:38] yuanchen8911 commented on #101548
It's a predicate extender. I'll debug it more.

[2021-04-28 15:55] mcandre opened #101588 "Automate image builds"
#### What would you like to be added:

A resource which regularly builds and pushes images on behalf of the user. In the OpenShift extension to Kubernetes, this resource is known as an ImageStream.

#### Why is this needed:

So that more common tasks can be managed by the cluster. After all, computers exist to automate.

[2021-04-28 15:57] #75601 closed

[2021-04-28 16:08] rdxmb commented on #101056
I've changed my `drei`s container runtime to containerd 1.4.4 with cgroup-driver `systemd`. Actually, I could drain another node and run about 124 pods on `drei` - without flapping the node status.

I wonder if this issue has something to do with running cgroup-driver `cgroupfs` and docker on a systemd-managed OS (Ubuntu) - when there is high workload.

My actual cluster looks like that:

[code]
A

[2021-04-28 17:15] BenTheElder commented on #101588
A feature of this scope almost certainly requires a detailed KEP https://github.com/kubernetes/enhancements

[2021-04-28 17:23] BenTheElder commented on #101485
/remove-sig testing
/sig release
sig release is responsible for releasing.

But also this is not a bug, this is expected. You need to start using k8s.gcr.io, not gcr.io/google-containers.

gcr.io/google-containers is well, owned by google, and was used early in the project. The new registry is behind a regionalized alias and is backed by CNCF controlled accounts (though still funded entirely by Go

[2021-04-28 17:23] #101485 closed

[2021-04-28 17:26] r10r commented on #94825
hi @saschagrunert do you know when the fixes will be released ? Thanks!

[2021-04-28 17:34] BenTheElder commented on #101565
/sig network
/sig node

[2021-04-28 18:14] gnufied commented on #101332
/reopen

[2021-04-28 18:15] gnufied commented on #101332
I am keeping it open until new behaviour is implemented.

[2021-04-28 19:52] thockin commented on #101393
Flipping this back to needs-triage so sig-net can take a look

[2021-04-28 19:57] andrewsykim commented on #100846
This makes a lot of sense and should be fairly easy change to make in service controller

[2021-04-28 20:01] bowei commented on #100846
Putting it on the queue does not mean operations are linearized -- it's possible to have multiple queue threads that are operating in concurrently.

[2021-04-28 20:09] liggitt commented on #101393
/unassign

feel free to assign back to me if there's something I should be doing with this

[2021-04-28 20:20] andrewsykim commented on #100846
I feel like `UpdateLoadBalancer` should just call `EnsureLoadBalancerDeleted` whenever the deletion timestamp is set? Would that simplify things here?

[2021-04-28 20:24] andrewsykim commented on #92783
/assign @kishorj

[2021-04-28 20:24] andrewsykim commented on #92783
/triage accepted

[2021-04-28 20:25] andrewsykim commented on #94764
/triage accepted

[2021-04-28 20:25] andrewsykim commented on #95693
/assign @kishorj

[2021-04-28 20:25] andrewsykim commented on #96395
/assign @cheftako

[2021-04-28 20:26] andrewsykim commented on #96395
cc @leilajal

[2021-04-28 20:26] andrewsykim commented on #96764
/assign @kishorj

[2021-04-28 20:26] andrewsykim commented on #96764
/triage accepted

[2021-04-28 20:27] andrewsykim commented on #96840
/assign @kishorj
/triage accepted

[2021-04-28 20:28] andrewsykim commented on #96847
/assign @divyenpatel
/triage accepted

[2021-04-28 20:29] andrewsykim commented on #96965
/triage accepted

[2021-04-28 20:29] andrewsykim commented on #96971
/assign @kishorj
/triage accepted

[2021-04-28 20:30] andrewsykim commented on #97147
/assign @kishorj
/triage accepted

[2021-04-28 20:30] andrewsykim commented on #97316
/assign @cheftako
/triage accepted

[2021-04-28 20:30] andrewsykim commented on #98097
/assign @kishorj
/triage accepted

[2021-04-28 20:31] andrewsykim commented on #98242
/triage accepted

[2021-04-28 20:31] andrewsykim commented on #98242
cc @jpbetz

[2021-04-28 20:32] andrewsykim commented on #98242
cc @leilajal

[2021-04-28 20:32] jiahuif commented on #98242
/cc

[2021-04-28 20:33] andrewsykim commented on #98278
/assign @kishorj
/triage accepted

[2021-04-28 20:33] andrewsykim commented on #98666
/assign @kendallnelson
/triage accepted

[2021-04-28 20:34] andrewsykim commented on #98826
/assign @kishorj
/triage accepted

[2021-04-28 20:34] andrewsykim commented on #100846
/triage accepted

[2021-04-28 20:38] kishorj commented on #92783
/assign @nckturner

[2021-04-28 20:38] ehashman commented on #100799
/assign @SergeyKanzhelev
/triage accepted
/kind deprecation

[2021-04-28 20:41] andrewsykim commented on #100846
Alternatively, [nodeSyncService](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cloud-provider/controllers/service/controller.go#L741-L759) should check `needsCleanup` [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cloud-provider/controllers/service/controller.go#L743-L745)

[2021-04-28 20:48] kishorj commented on #95693
/triage accepted

[2021-04-28 20:58] caleb15 opened #101594 "networking.k8s.io/v1 fails with default path"
#### What happened:
When I tried to use the default path I got `Ingress.extensions "nginx" is invalid: spec.rules[0].http.paths[0].path: Invalid value: "": must be an absolute path`.

#### What you expected to happen:
No error. According to https://docs.openshift.com/container-platform/4.6/rest_api/network_apis/ingress-networking-k8s-io-v1.html the path is not needed. "When unspecified, all paths

[2021-04-28 21:13] kishorj commented on #97147
@chrisliu1995 when externalTrafficPolicy is set to Local, there is a potential for uneven distribution of traffic to the pods. pod anti-affinity is one option. There is an excellent blog on this topic -  https://www.asykim.com/blog/deep-dive-into-kubernetes-external-traffic-policies.

/close

[2021-04-28 21:13] #97147 closed

[2021-04-28 21:39] rikatz commented on #99897
/close

Both PRs are merged

[2021-04-28 21:39] #99897 closed

[2021-04-28 23:52] thockin commented on #95587
If we made most of the validation declarative, then maybe deep-cloning (near-complete unsharing) isn't so bad?

E.g. let's look at probes (since it is smaller).  We find this in `Container`:

[code]

Then `Probe` is defined as:

[code]

I want to emphasize:

`Must be 1 for liveness and startup.`

Suppose we changed it to (whitespace added):

[code]

and

[code]

We can generate 100% of the validat

[2021-04-29 00:09] uthark commented on #92799
/reopen

[2021-04-29 00:19] tallclair opened #101597 "Audit ID Chain"
#### What would you like to be added:

1. Add an `AuditIDChain` field to the audit event API
2. When API server receives a request with a `Audit-ID` header, set the audit ID chain to the audit-ID header, but still generate a unique ID for that request
3. In the response, set the `Audit-ID` header to the full audit ID chain (request chain + new ID)
4. When delegating a request to an aggregate apise

[2021-04-29 00:20] tallclair commented on #95306
I filed a separate issue, https://github.com/kubernetes/kubernetes/issues/101597 to track the work from https://github.com/kubernetes/kubernetes/issues/95306#issuecomment-718140341

[2021-04-29 00:23] tallclair commented on #84571
/remove-lifecycle rotten

[2021-04-29 01:40] bobbypage commented on #101541
+1

for background: SIG-Node is targeting alpha for [cgroupv2](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2254-cgroup-v2/README.md) in 1.22 release timeline.

As as part of that, we would like to add new jobs for node e2e using COS/containerd on cgroupv2 so we can have more test coverage and validation around cgroupv2.

We'll likely need some changes in the containerd nod

[2021-04-29 01:43] dims commented on #101541
sounds like a plan @bobbypage :)

[2021-04-29 01:58] h4ghhh opened #101599 "taints are set with effect of NoExecute too late when the node is not ready"
#### What happened:
When the node is down, the taint unschedulable:NoExecute is always set in the next cycle. This is not friendly for pods that want to migrate immediately. I don't understand why it is designed like this.
I do a test:
When the tolerationSeconds is 1s, pods are deleted after 10s actually.
[code]
[code]

#### What you expected to happen:
Pods with short tolerationSeconds on the nod

[2021-04-29 01:58] h4ghhh commented on #101599
/sig node
/sig apps

[2021-04-29 02:05] carlory commented on #101597
/assign

[2021-04-29 02:41] pacoxu commented on #101594
/sig network
/area ingress
It seems to be a problem of ingress and I suggest creating an issue in https://github.com/kubernetes/ingress-nginx/issues.
I find a similar one which is a little different there https://github.com/kubernetes/ingress-nginx/issues/4696.

[2021-04-29 02:59] #91667 closed

[2021-04-29 03:13] jjfeiler commented on #53459
+1 for this

[2021-04-29 03:54] caleb15 commented on #101594
We use https://github.com/kubernetes-sigs/aws-load-balancer-controller - would this be a problem with the aws repo then?

[2021-04-29 07:08] saschagrunert commented on #94825
I don't, unfortunately.

[2021-04-29 08:53] MSSedusch commented on #94764
I believe this issue is fixed with https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/797

[2021-04-29 08:56] andyzhangx commented on #94764
that means the node with problem is actually in `failed` state, disk attach return succeed while actually that disk is not attached?

[2021-04-29 08:59] #96945 closed

[2021-04-29 08:59] aviorma commented on #101378
[csi-cephfsplugin.log](https://github.com/kubernetes/kubernetes/files/6397402/csi-cephfsplugin.log)

[kubelet.log](https://github.com/kubernetes/kubernetes/files/6397404/kubelet.log)
Having the same issues with ROOK + CEPHFS
adding logs for investigation

[2021-04-29 10:22] aojea commented on #101565
Also https://github.com/kubernetes/kubernetes/issues/85443

[2021-04-29 10:51] MatthieuSarter opened #101606 "Connection to http://localhost:10248/healthz refused when initializing"
#### What happened:

kubeadm init fails with the following output:

[code]

#### How to reproduce it (as minimally and precisely as possible):

Running kubeadm init --config with the following conf:

[code]

#### Anything else we need to know?:

kubelet logs in journalctl:
[code]

#### Environment:

- Kubernetes version (use `kubectl version`): {Major:"1", Minor:"18", GitVersion:"v1.18.9", GitComm

[2021-04-29 11:01] cynepco3hahue commented on #101458
/triage accepted

[2021-04-29 11:07] MatthieuSarter commented on #101606
Sorry, I should have posted this in the kubeadm repo.

[2021-04-29 11:07] #101606 closed

[2021-04-29 11:12] hanxiaolong891128 commented on #101506
Hi ~ Thanks for your reply! I have remove  `EndpointSlice=true`, and still the same error ……  I still don't understand Why a ipv6 address is interpreted as ipv4!   Can you give me the solve the direction?

[2021-04-29 11:26] kashifest opened #101607 "TCP Conntrack entries remain in stale"
We have a service with type as LoadBalancer. The service external-IP is allocated by a controller and the this IP is known in advance even before the service is deployed. The service external IP is configured on the client machines located outside the Kubernetes cluster and they are trying to reach the service all the time. The adjacent routers are configured to forward the traffic matching the se

[2021-04-29 11:27] kashifest commented on #101607
/sig network

[2021-04-29 11:27] MSSedusch commented on #94764
basically yes. The disk attach does not return success but fails, the second attach attempt from cloud controller is not attempted because the disk is already part of the goal state of the VM. With your fix, the second attempt is executed because now the cloud controller also looks at the VM state. @jakob-kr is from the same team I was working with to analyze the issue.

[2021-04-29 12:04] rkubik-hostersi opened #101608 "Proxy protocol annotation is not working for AWS NLB"
#### What happened:
I'm trying to setup AWS NLB for nginx-ingress-controller via following annotations set:
[code]
However, the proxy protocol setting is not being applied to the target groups.
I've verified using CloudWatch Events, that the API call to the AWS during LB creation does not specify any attributes regarding target group proxy protocol setting as below:
[code]

I've tried to change th

[2021-04-29 12:06] KlavsKlavsen opened #101609 "ephemeralContainers: don't add new debug container if one already exists"
#### What happened:
With featureGate: ephemeralContainer enabled, I ran:
kubectl debug -q -n graylog -i graylog-0 --image=nicolaka/netshoot --image-pull-policy=Always --target=graylog-server -- tcpdump -i eth0 -U -nn

#### What you expected to happen:
to add a debug container.. and if one already existed.. re-use it.. OR atleast when above command exits.. remove the patched in container.

#### How

[2021-04-29 12:06] rkubik-hostersi commented on #101608
/sig cloud-provider

[2021-04-29 12:11] rkubik-hostersi commented on #101608
/area provider/aws

[2021-04-29 12:19] xieydd commented on #96361
@zizon Is some progress?

[2021-04-29 12:39] liggitt commented on #101285
Sounds good to me. Who has the ball to do that?

[2021-04-29 12:46] iliul commented on #43916
/cc

[2021-04-29 12:49] aojea commented on #101607
/area kube-proxy

[2021-04-29 13:14] KlavsKlavsen commented on #101609
/sig node

[2021-04-29 13:20] aojea commented on #101607
Just for clarification, UDP and SCTP are stateless and there is no possibility from the client to understand if the server is still present or has left, so clients keeps sending traffic with same (src ip/src port) renewing the conntrack entry.
Kube-proxy "knows" if the UDP/SCTP server has gone or has been replaced with other IP (new endpoints created or changed), so it clears the "stale" conntrack

[2021-04-29 13:51] wangyysde opened #101614 "Should we remove GAed feature gate ServiceNodeExclusion"
In the pkg/features/kube_features.go file, comment says that feature gate ServiceNodeExclusion  remove in 1.22. Should we remove this GAed feature gate in 1.22?
Additional, I saw a few of feature gates marked remove in 1.22. Can I remove them too?

[2021-04-29 14:09] nunodsfernandes commented on #50375
+1 ... This would be a HUGELY appreciated.

[2021-04-29 14:09] zizon commented on #96361
It seems not.
Maybe because the fix require a bunch code involved(recognize fuse and non-fuse mounter) but brings litter benefit.

Your can walk around this issue by a simple crontab check or better, a daemonset/agent.

[2021-04-29 14:19] rwin-novo commented on #92460
We experience the same issue on v1.20.6. Exactly as @mkreidenweis-schulmngr mentioned, 3 lines of "invalid bearer token" and then a lots of "context canceled" errors. But not in every case we see the bearer lines, though.

Any hints are appreciated :)

[2021-04-29 14:23] alanrainer commented on #100096
@tallclair Found this: https://sysdig.com/blog/cve-2021-25735-kubernetes-admission-bypass/
Is this actually bypassing the authorization, or still need to have some privileged access?

[2021-04-29 15:00] aojea commented on #101393
/cc

[2021-04-29 15:03] nurhun commented on #58908
Any updates here ?

[2021-04-29 15:17] xieydd commented on #96361
I am thinking, if we can do some work in csi, control the volume remount while pod is running.

[2021-04-29 15:18] Elbehery opened #101616 "[sig-stroage] [csi-hostpath-driver][e2e test] csi-hostpathplugin-pod always in CrashLoopBackOff"
#### Which jobs are flaking:
*pull-kubernetes-e2e-gce-ubuntu-containerd*
#### Which test(s) are flaking:
*_sig-storage_CSI_Volumes/_Driver_csi-hostpath_/*
#### Testgrid link:
https://testgrid.k8s.io/google-gce#pull-kubernetes-e2e-gce-ubuntu-containerd
#### Reason for failure:
`csi-hostpathplugin-0` pod contains five containers.
Two of these containers  are `csi-external-health-monitor-agent` and `

[2021-04-29 15:20] Elbehery commented on #101616
/sig storage

[2021-04-29 15:20] Elbehery commented on #101616
@jsafrane  as we discussed today

[2021-04-29 15:44] ehashman commented on #98422
/triage accepted

I agree V(2) seems a bit high for this. Feel free to submit a PR to drop to 3.

[2021-04-29 16:00] #100995 closed

[2021-04-29 16:01] #101570 closed

[2021-04-29 16:05] uablrek commented on #101506
There have been numerous bugs in that direction that has been weeded out. So this may be one of them.

But even if a bug is found in K8s <v1.21 it will not be fixed since it is a bug in an alpha feature (dual-stack).

So, please upgrade to K8s v1.21. If the problem still exists it it will be analyzed and fixed.

[2021-04-29 16:06] SergeyKanzhelev commented on #98422
what is the reason for rapid status change?

[2021-04-29 16:35] jpbetz commented on #101384
Oh right. I'd have to defer to golang experts in this but the newly generated code doesn't do anything tricky, so I wouldn't expect the linker to have any trouble with it.

[2021-04-29 16:40] #101278 closed

[2021-04-29 16:49] tnqn opened #101622 "kubelet SyncLoop hangs on "os.Stat" forever if there is an unresponsive NFS volume"
#### What happened:
We saw this several times: after restarting kubelet, kubelet didn't creating new Pods. The healthz endpoint showed that the `syncloop` was stuck:
[code]
From the stack trace, the goroutine was stuck in the call of `os.Stat` when doing `HandlePodCleanups`, so no other updates can be processed:
[code]
Listing the volumes of orphaned Pods on this Node, there was an unresponsive NF