[2020-09-25 04:24] #95050 closed

[2020-09-25 05:48] yurmuki commented on #44665
May be we need to run: minikube start
I had the same error "The connection to the server localhost:8080 was refused - did you specify the right host or port?"

<pre>root@book:/home/user# su - user
<font color="#4E9A06"><b>user@book</b></font>:<font color="#3465A4"><b>~</b></font>$ kubectl version -o json
{
  &quot;clientVersion&quot;: {
    &quot;major&quot;: &quot;1&quot;,
    &quot;minor&quot;:

[2020-09-25 05:53] ialidzhikov commented on #95042
/area provider/aws

[2020-09-25 06:55] llhuii commented on #88574
Same here with single node cluster with `etcd:3.3.10, k8s:v1.15.2`.

[2020-09-25 06:55] jiraguha commented on #69687
Sorry, it is quite hard to follow, why this issue is closed. A solution is still ongoing?

[2020-09-25 07:11] 0xtyls opened #95060 "Add a kubectl restart ... command"
**What would you like to be added**:

A kubectl restart ... command which can restart pod container

**Why is this needed**:

Kubectl cp ... command is extremely useful for debugging, but sometimes we need a docker restart command to make whatever copied into the container to take effect.  So why not implement a kubectl restart command?

[2020-09-25 07:26] huychau commented on #67014
Fixed by update `securityContext` on Alibaba cloud, Kubernetes version 1.9.3:

[code]

[2020-09-25 07:32] pingping95 opened #95061 "In Command 'oc get clusteroperators', several clusteroperators does not have the 'True' State..."
**Which jobs are failing**:

Hi. first, It is Disconnected Environment...
and i am setting up ocp cluster using 1 Bastion, 3 Master, 2 Infra, 1 Router, 2 Service Nodes.
 i am planning to route external request -> Bastion (HA Proxy) -> Router Node -> Service Node..

But... Clustering does not success. below is some commands...

[code]

[code]
service2 node is temporarily donw because of Resource pr

[2020-09-25 08:12] shakthi-manai commented on #61207
I have a similar issue. I am able to access mongo db from the browser but inside the Kubernetes cluster my springboot application pod is not able to connect to the mongodb pod

[2020-09-25 08:13] bibinphilip opened #95062 "Alpine Linux _ Kubernetes source code build fail"
Hi,

After installing "go", I had cloned the Kubernetes source code and tried to build it locally by 'root' user on Alpine Linux. However, it is failing at the initial step. Please find attached error image. Please guide how to move further.
![error](https://user-images.githubusercontent.com/35682900/94243374-f1e63680-ff34-11ea-8427-c81b46578c23.png)

[2020-09-25 08:15] bibinphilip commented on #95062
/sig architecture

[2020-09-25 08:25] tanjunchen commented on #94900
/cc

[2020-09-25 08:27] dvonessen commented on #94335
I am encounter the same issue. @lyind thank you for your workaround. It seems to work.

[2020-09-25 08:29] gjtempleton commented on #69687
The solution exists, but currently only as an alpha feature, which needs to be explicitly enabled via a feature flag passed to a cluster.

As mentioned above, most managed service providers have a policy of only allowing GA features, so it's not available in a number of managed services currently. As mentioned in the discussions on the original PR to make it alpha mentioned above, it'll need to go

[2020-09-25 09:25] lsambolino commented on #69697
Solved the issue of PVC and PV stucked in "terminating" state by deleting the pod using it.

[2020-09-25 09:56] DMXGuru commented on #69697
No, when this happens to my PV, the pod no longer exists.

    On Friday, September 25, 2020, 04:26:04 AM CDT, lsambolino <notifications@github.com> wrote:

Solved the issue of PVC and PV stucked in "terminating" state by deleting the pod using it.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-25 10:03] Lanpice commented on #72811
It’s been almost two years, using resource limit for calculation is still not supported...

[2020-09-25 10:09] lllamnyp commented on #16707
I think it's a misconception to call jsonpath an output format. It's a form of query. I should be able to do something like
[code]

[2020-09-25 10:12] benjick commented on #43633
@AndreKoepke thank you for this. It worked somewhat for me but after adding `domain.com` to spec.rules[0].host and `www.domain.com,domain.se,www.domain.se` to `nginx.ingress.kubernetes.io/server-alias` I get the following error: `controller.go:1155] Conflicting hostname (domain.com) and alias (www.domain.se). Removing alias to avoid conflicts.`

Any suggestions?

[2020-09-25 10:43] MountainAndSea commented on #68703
it works to me.
install ipset and kube-proxy not add /etc/services and /etc/protocols

[2020-09-25 11:09] ScrapCodes opened #95064 "[Flaky Test] //staging/src/k8s.io/apiserver/pkg/storage/tests/go_default_test:run_1_of_2 - TestWatchBookmarksWithCorrectResourceVersion"
**Which jobs are flaking**:
bazel-test-master

**Which test(s) are flaking**:
//staging/src/k8s.io/apiserver/pkg/storage/tests/go_default_test:run_1_of_2 - TestWatchBookmarksWithCorrectResourceVersion

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master

**Reason for failure**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test

[2020-09-25 11:37] wojtek-t commented on #94098
/assign @mborsz

As you're looking into this as-we-speak anyway...

[2020-09-25 12:07] knight42 commented on #94806
I think this is a dup of https://github.com/kubernetes/kubernetes/issues/93693#issuecomment-696576483, and should have been resolved by #95025.

/remove-triage unresolved
/close

[2020-09-25 12:07] #94806 closed

[2020-09-25 13:25] jsafrane commented on #95049
The pods mount PVC, not a hostpath. I tested with AWS EBS, with the same result. What happens from the host point of view:

1. Kubernetes mounts /dev/xvdck to global mount dir, `/var/lib/kubelet/plugins/kubernetes.io/aws-ebs/mounts/aws/us-east-1d/vol-0bcc0774302141385` (it's a different directory on GCE, but the idea is the same)
2. Kubernetes bind-mounts the blobal dir to pod local dir `/var/lib/

[2020-09-25 13:38] gaulzhw commented on #92460
same in v1.16.8

[2020-09-25 13:53] spiffxp commented on #94900
Renamed pkg/controlplane.Master to pkg/controlplane.Instance https://github.com/kubernetes/kubernetes/pull/95044

[2020-09-25 14:01] #90327 closed

[2020-09-25 14:09] pjbgf commented on #82647
remove-lifecycle stale

[2020-09-25 14:10] pjbgf commented on #82647
/remove-lifecycle stale

[2020-09-25 14:36] Narayami opened #95067 "mysql local persistent volume not working on windows - MountVolume.NewMounter initialization failed for volume "mysql-pv-volume" : path "c:\\mysql-volume" does not exist"
Hello!

I'm having some problems trying to create a local persistent volume in windows 10.

I was seeing this: https://github.com/kubernetes/kubernetes/issues/73332
And found this: https://github.com/andyzhangx/demo/blob/master/windows/local/pv-local.yaml

But 1-I don't know what is the meaning of "after path translation", and 2-if I try using <``> in the path, I get an error: error parsing .\mysq

[2020-09-25 15:02] wawa0210 commented on #91414
/close

[2020-09-25 15:02] #91414 closed

[2020-09-25 15:16] thejoycekung opened #95068 "[Flaky Test] DumpClusterLogs can't ssh (invalid format)"
**Which jobs are flaking**:
[gce-cos-master-default](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1309495593508278272)
[gce-cos-master-reboot](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/1309496346633310208)

**Which test(s) are flaking**:
DumpClusterLogs

**Testgrid link**:
- https://testgrid.k8s.io/sig-release-master-blo

[2020-09-25 15:17] pmhahn commented on #64924
Correct my if I'm wrong, but this I would have to do manually for *each* pod.
I would like to configure this globally and make it the default: I'm experiencing random DNS failures with my GitLab-Runner, which starts multiple new temporary pods for running the individual jobs: They seem to inherit the default `ndots:5` and fail to resolve the external DNS entry. I'm still investigating the underlyi

[2020-09-25 15:20] thejoycekung commented on #95068
/sig testing

[2020-09-25 15:29] xtreme-sameer-vohra commented on #95049
We also observed that if the `overlay mount` in pod1 is executed after pod2 is running, then the mount is propagated to pod2, so the order operations does matter.

From the flow above, is it possible to obtain the global path `/var/lib/kubelet/plugins/kubernetes.io/aws-ebs/mounts/aws/us-east-1d/vol-0bcc0774302141385` and mount that as a `hostPath` mount ?

[2020-09-25 15:46] jsafrane commented on #95049
There is nothing that would stop you to do that, however, it makes your application not portable. The paths depend on used volume plugin.

[2020-09-25 15:58] aistein commented on #94892
@kevtheappdev are y'all working on this issue already?  If so please self-assign.   Otherwise I'd quite like to tackle this issue.

[2020-09-25 15:59] aistein commented on #95052
/assign

[2020-09-25 16:06] brkykan commented on #94240
Hi @andyzhangx @dims, I'd like to give this one a go, if no one is currently working on it.

[2020-09-25 16:08] tosi3k commented on #93932
Another flaky run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1309463127863070720.

[2020-09-25 16:49] xtreme-sameer-vohra commented on #95049
Right, I meant is there a programatic way of obtaining the path and can it be done prior to the creation of the deployment/pod as it would be used to populate the pod spec ?

[2020-09-25 16:50] Narayami commented on #95067
Finally found the problem... omg I cant even believe it...

well, the correct local path is:
[code]

[2020-09-25 16:50] #95067 closed

[2020-09-25 16:57] thockin commented on #33766
NodePort *can* be set by the user.  It's rarely useful but I know people *do* use it.

So TL;DR:

a) we clear ports[*].nodePort whenever they are not needed (even if the user set them)
b) we clear ports[*].nodePort on any update to a state when they are no longer needed (need a good hook)
c) we force users to do it
d) we leave the values allocated but don't use them (confusing!)

@khenidak because

[2020-09-25 17:00] msau42 commented on #95049
Is there a way to set mount propagation between the global mount and pod bind mount?

[2020-09-25 17:04] #90464 closed

[2020-09-25 17:34] apelisse commented on #94887
I agree it's a bug, I don't have a lot of time to work on this, but here are some minimal steps to reproduce:
[code]

The interesting part is that if you try the same thing with a JSON Merge Patch, this works:
[code]

So that's definitely a bug in our strategic merge patch path. If anybody wants to look at it.

[2020-09-25 17:52] BenTheElder commented on #95062
You need GNU userspace. The shell scripts do not target BusyBox.

[2020-09-25 17:52] BenTheElder commented on #95062
/remove sig-architecture
/sig release

[2020-09-25 17:54] BenTheElder commented on #95061
OpenShift is not part of Kubernetes. Please file a bug with https://github.com/openshift
/close
/remove-kind failing-test

[2020-09-25 17:54] #95061 closed

[2020-09-25 17:56] BenTheElder commented on #95026
/sig release
This is primarily SIG release.

[2020-09-25 18:33] xtreme-sameer-vohra commented on #95049
We also observed this issue with vSphere volumes as well
[code]

[2020-09-25 18:48] moustaphasene opened #95070 "Kubernetes : container “kubedns” in pod “kube-dns-86f4d74b45-whjqd” is waiting to start: trying and failing to pull image"
I am new on kubernetes and i am running in this issue.

**What happened**:
Kubernetes cannot pull kube-dns (k8s.gcr.io/k8s-dns-kube-dns-amd64:1.14.8) image from our private registry, but pulling other images works fine (image like k8s.gcr.io/k8s-dns-sidecar-amd64:1.14.8).

$ kubectl -n kube-system get pods
NAME                                        READY   STATUS             RESTARTS   AGE
dashbo

[2020-09-25 18:59] moustaphasene commented on #95070
Slack

[2020-09-25 19:25] thejoycekung opened #95072 "[Flaky Test] [sig-network] EndpointSliceMirroring should mirror a custom Endpoints resource through create update and delete"
**Which jobs are flaking**:
[kind-ipv6-master-parallel / ci-kubernetes-kind-ipv6-e2e-parallel](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1309544797467316224)

**Which test(s) are flaking**:
`EndpointSliceMirroring should mirror a custom Endpoints resource through create update and delete`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master

[2020-09-25 19:29] jayunit100 opened #95073 "Log more url metadata in requestinfo.go when failures happen"
**What would you like to be added**:

requestinfo.go should log the url , as well as the parameters that are failing in a request:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo.go#L214

However only logs

[code]

**Why is this needed**:

otherwise, its not easy to know what component is failing due to label selectors,

[code]

[2020-09-25 19:32] jayunit100 commented on #95073
/sig api-machinery

[2020-09-25 19:47] utkarsh2102 opened #95074 "Support autocomplete more intensively?"
Hello all,

First of all, really thanks for all the hard work that you put into this! ❤️

Whilst trying to get a hang of kubernetes (more specifically, `kubectl`), I noticed that it doesn't support autocomplete.
For example, I have to write `kubectl describe deployment` completely.

(yeah, I have gotten lazy there, that's on me 🙈)
But I think it'd really help all if it could provide autocompletion

[2020-09-25 19:49] utkarsh2102 commented on #95074
My best guess is:

/sig cli

[2020-09-25 19:58] khenidak commented on #33766
It is a ux issue really. If `NodePorts` are to be treated like `ClusterIP; e.g. allocated by system or set by user then we must expect the same user to clear them as they change services to types that do not require NodePorts. a la setting `None` for headless or clearing ClusterIP when using `ExternalName`. What i am trying to say is same argument can be made for ClusterIP. But argument is not mad

[2020-09-25 21:28] tabbysable commented on #95038
Agreed that this doesn’t seem like a meaningful security improvement, but it does seem like an opportunity to set a good example of not using root when it isn’t needed.

Adding ‘USER 65534:65534’ to the existing dockerfile (or some similar fix) “should” be harmless... but in the past pause image changes have been fraught. @justaugustus do you feel like y’all have good arrangements in place to test

[2020-09-25 21:39] rikatz commented on #94640
Will take a look this weekend, sorry for the long delay

[2020-09-25 22:08] #90438 closed

[2020-09-25 23:30] andyzhangx commented on #94240
@brkykan  sure, go ahead, thanks

[2020-09-25 23:31] pzou1974 opened #95079 "Multi-containers pod status remain running if there is one of container statue in Error/crashloopbackoff status"
**What would you like to be added**:
We found our app container is an error (crashloopbackoff)  state  but pod is still in a running state which is really confused.
I'd like to suggest we can have Pod status policy:
Failed if One of the container error
or default (current behavior)

**Why is this needed**:
Our monitor displays the pod status. WE think pod running is health but the container is at

[2020-09-26 00:01] milieu commented on #25456
We are experiencing this bug on Kubernetes 1.17.8

Can this issue please be reopened?

[code]

[2020-09-26 00:36] #94882 closed

[2020-09-26 04:53] thockin commented on #33766
Was thinking more on this today.  What we really want to express is the
idea that we can auto-clear fields IF and ONLY IF we set them in the first
place.  In other words, what is we tracked which fields were auto-assigned
and do our best to auto-clear them.

Most users (99.9% or more) do NOT set clusterIP or nodePort values.  So in
those corner-cases where those need to be cleared, we CAN clear th

[2020-09-26 05:04] apelisse commented on #33766
idea that we can auto-clear fields IF and ONLY IF we set them in the first
place.  In other words, what is we tracked which fields were auto-assigned
and do our best to auto-clear them.

I don't know if I agree with that. I understand that this problem
is real, but I don't know if we need to generalize a category of
problem from this one specifically. Here, if we had a proper
union mechanism and t

[2020-09-26 06:25] bibinphilip commented on #95062
Thank you @BenTheElder for the response.
Is there any way I can have kubelet on Alpine Linux machine?

[2020-09-26 06:38] wawa0210 commented on #95073
/assign

[2020-09-26 09:24] tobias-huebner commented on #43867
#google where everything is possible

[2020-09-26 10:07] nevetS commented on #65903
This popped up in my google search about the error and I wanted to provide a little more information for the next guy.

For EBS volumes, the documentation is here:  https://kubernetes.io/docs/concepts/storage/volumes/#awselasticblockstore

In order to use an EBS volume as a PV, you have to create it first, either using the console or `aws ec2 create-volume`.  Then at the very minimum, your spec ne

[2020-09-26 11:17] ArseniiPetrovich commented on #79610
Why?

[2020-09-26 11:21] #90291 closed

[2020-09-26 12:58] seh opened #95083 "Disruption controller handles PodDisruptionBudget with empty selector incorrectly"
**What happened**:

[The disruption controller](https://sourcegraph.com/github.com/kubernetes/kubernetes@0f39af90ed39794ceea426aa0f77de67b1392308/-/blob/pkg/controller/disruption/disruption.go#L69-L101) that enforces _PodDisruptionBudgets_ interprets an empty label selector incorrectly—in conflict with how the API machinery treats such an empty selector—defeating attempts to cover all pods in a na

[2020-09-26 13:00] seh commented on #95083
/sig apps

[2020-09-26 15:25] #89110 closed

[2020-09-26 15:28] Mackiovello commented on #95074
This already exists, take a look at https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-autocomplete 🙂

[2020-09-26 16:35] neolit123 commented on #95079
/sig apps

[2020-09-26 17:28] grosser commented on #47368
/lifecycle frozen

[2020-09-26 18:03] tabbysable opened #95086 "Create E2E test for CVE-2020-8559 and similar"
@tabbysable Any interest in turning your POC into a Kubernetes E2E test? I was intending to use the overridden redirect feature added in https://github.com/kubernetes/kubernetes/pull/92850 as the basis for the E2E.

_Originally posted by @tallclair in https://github.com/kubernetes/kubernetes/issues/92914#issuecomment-663230309_

[2020-09-26 18:03] tabbysable commented on #95086
/assign @tabbysable

[2020-09-26 18:04] tabbysable commented on #95086
/sig api-machinery
/sig security

[2020-09-26 19:30] NicklasWallgren commented on #55713
I have a similar issue with a longhorn pvc stateful pod.

[code]

[code]

[code]

[2020-09-26 19:38] johanneswuerbach commented on #69687
I started the official propose here https://github.com/kubernetes/enhancements/issues/2021. Looking forward to any of your comments or feedback on the KEP itself here https://github.com/kubernetes/enhancements/pull/2022.

[2020-09-26 21:03] rektide commented on #9995
This seems to be the only resistance I've heard to this & I don't understand the complaint.

This issue seems like a straightforward way to host a range of services easily that currently are a huge pain to deal with (like http) while maintaining current functionality for most. This should be re-opened. I don't understand why hosting HTTP or DNS is so very very difficult for small operators right n

[2020-09-26 21:23] igor9silva commented on #74551
I'm facing it constantly with a MongoDB pod. Seems to happen more often with concurrent connections (I'm doing a `mongodump`).

[code]

[2020-09-26 23:33] #90614 closed

[2020-09-27 00:02] gabrielbcn commented on #81289
issue still present in 1.19.2

[2020-09-27 00:33] brianpursley opened #95089 "Failure cluster [1ee05d1b...] - Requesting container logs with --tail=1 sometimes returns 2 rows"
### Failure cluster [1ee05d1b916d42b09ecd](https://go.k8s.io/triage#1ee05d1b916d42b09ecd)

##### Error text:
[code]
#### Recent failures:
[9/20/2020, 6:54:21 PM ci-kubernetes-e2e-ubuntu-gce](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce/1307815322513838080)
[9/20/2020, 12:09:20 PM ci-containerd-e2e-gci-gce](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci

[2020-09-27 02:16] hwdef commented on #94695
/cc

[2020-09-27 02:19] yqwang-ms commented on #81285
/remove-lifecycle rotten

[2020-09-27 02:39] hwdef commented on #95070
what is the result if you use docker pull directly

[2020-09-27 02:57] arghya88 commented on #94695
@SataQiu I have submitted PRs for volume-zone, taint-toleration, service-affinity, podtoplogyspread, selectorspread plugins

[2020-09-27 03:37] changshuchao commented on #95047
I'd like to give a try too

[2020-09-27 03:51] yashvardhan-kukreja commented on #94790
sig/api-machinery

[2020-09-27 03:54] zhouya0 commented on #95089
I had a PR https://github.com/kubernetes/kubernetes/pull/93920 before. But stuck with unit test. If someone has figured out a better way. I'll closed my PR.

[2020-09-27 03:57] yashvardhan-kukreja commented on #94790
/sig cli

[2020-09-27 03:57] yashvardhan-kukreja commented on #94790
/sig scheduling

[2020-09-27 03:58] yashvardhan-kukreja commented on #94790
/sig api-machinery

[2020-09-27 04:15] yashvardhan-kukreja commented on #94790
So, let me give a heads up regarding the solution...

_(@xujihui1985 you might want to look at this because it clearly shows how would this functionality be used. So, you can confirm if you like it or not)._

So, the problem here is to propagate Node Labels as a part of downwards api.
Now, if we look at the documentation of it, we can clearly see that the data which can be propagated from pod to c

[2020-09-27 04:26] yashvardhan-kukreja commented on #94790
Now, clearly, this is a much big of a task.
Because here, we are legit updating the schema of Pod Spec.
Meaning, I suspect that we'd have to deal with the following things:
- Updating the api-machinery's code so as to make sure that it even considers the `ExposedNodeLabelsSelectors` also while orchestrating the Pod Creation's mechanism.
- Updating the `kubelet`'s (or maybe `scheduling`'s too altho

[2020-09-27 04:26] yashvardhan-kukreja commented on #94790
/sig kubelet

[2020-09-27 04:28] yashvardhan-kukreja commented on #94790
/area kubelet

[2020-09-27 04:28] yashvardhan-kukreja commented on #94790
/area kubelet-api

[2020-09-27 04:29] yashvardhan-kukreja commented on #94790
So, let me give a heads up regarding the solution...

_(@xujihui1985 you might want to look at this because it clearly shows how would this functionality be used. So, you can confirm if you like it or not)._

So, the problem here is to propagate Node Labels as a part of downwards api.
Now, if we look at the documentation of it, we can clearly see that the data which can be propagated from pod to c

[2020-09-27 04:29] yashvardhan-kukreja commented on #94790
Now, clearly, this is a much big of a task.
Because here, we are legit updating the schema of Pod Spec.
Meaning, I suspect that we'd have to deal with the following things:
- Updating the api-machinery's code so as to make sure that it even considers the `ExposedNodeLabelsSelectors` also while orchestrating the Pod Creation's mechanism.
- Updating the `kubelet`'s (or maybe `scheduling`'s too altho

[2020-09-27 08:17] ngocson2vn commented on #81289
/reopen issue still present in 1.19.2

[2020-09-27 09:50] snirbenyosef opened #95096 "Kubernetes logs split in kibana"
**What happened**:
I have Kubernetes system in Azure and used the following instrustions to install fluent, elasticsearch and kibana: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch I am able to see my pods logs in kibana but when i send logs more then 16k chars its just split.

if i send 35k chars . its split into 3 logs.

how can i increase the limit of

[2020-09-27 09:56] moustaphasene commented on #95070
Thanx @hwdef for replying : Here's that you asked

$ docker pull hub.valentine.private.sfr.com/nso/k8s.gcr.io/k8s-dns-kube-dns-amd64:1.14.8
Trying to pull repository hub.valentine.private.sfr.com/nso/k8s.gcr.io/k8s-dns-kube-dns-amd64 ...
1.14.8: Pulling from hub.valentine.private.sfr.com/nso/k8s.gcr.io/k8s-dns-kube-dns-amd64
Digest: sha256:6d8e0da4fb46e9ea2034a3f4cab0e095618a2ead78720c12e791342738

[2020-09-27 13:40] knight42 commented on #91506
/remove-lifecycle stale

[2020-09-27 13:40] knight42 commented on #91506
/remove-lifecycle rotten

[2020-09-27 13:42] knight42 commented on #91506
Currently this is being blocked by #94658, and the fix is ongoing at #94723 .

[2020-09-27 14:12] DavidSpek commented on #80818
@tarjintor I'm not sure, but this seems to be what Rok from Arrikto is doing. https://www.arrikto.com/features/data-management/

[2020-09-27 15:48] neolit123 commented on #76206
/remove lifecycle-stale

[2020-09-27 15:49] neolit123 commented on #76206
/remove-lifecycle stale

[2020-09-27 17:50] rikatz commented on #94883
OK, so my first though here is to update flannel :)

Also, if possible, can you run some iperf tests outside Kubernetes installation (pure Debian and pure CentOS) to eliminate the possibility of this be an OS issue and not a Kubernetes issue?

Thanks!

[2020-09-27 17:51] rikatz commented on #94883
/assign

[2020-09-27 17:57] rikatz commented on #95070
It seems that the image you're pulling as example ``hub.valentine.private.sfr.com/nso/k8s.gcr.io/k8s-dns-kube-dns-amd64:1.14.8``

is different from the one you're pulling in your cluster: ``k8s.gcr.io/k8s-dns-kube-dns-amd64:1.14.8``

Do you have any firewall that is blocking your cluster from downloading images from the public k8s.gcr.io mirror?

/remove-kind bug
/kind support

[2020-09-27 17:57] rikatz commented on #95070
/kind support

[2020-09-27 19:03] fjammes opened #95100 "apiVersion "networking.k8s.io/v1" not supported for "ingress" object in k8s 1.19.1"
**What happened**:

On k8s v1.19.1, I created an ingress using yaml below:
[code]
And it created an ingress object based on deprecated apiVersion `extensions/v1beta1`

**What you expected to happen**:

The ingress object should be based on apiVersion `networking.k8s.io/v1`

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

My cluster is

[2020-09-27 19:07] yliaog commented on #94990
what is your ValidatingWebhookConfiguration or MutatingWebhookConfiguration? what is the IP: 10.0.28.36, is it a cluster IP? Could you manually connect to 10.0.28.36:443 from the node that the k8s API server is deployed?

======================================================
    Message:               failing or missing response from https://10.0.28.36:443/apis/webhook.certmanager.k8s.io/v1beta1:

[2020-09-27 20:30] moustaphasene commented on #95070
I have no firewall configured.
As you can see, others images are pulled by kubernetes.

  Normal   **Pulled**                 73m                  kubelet, myhostname  Container image **"k8s.gcr.io/k8s-dns-sidecar-amd64:1.14.8"** already present on machine
  Normal   **Pulled**                 73m                  kubelet, myhostname  Container image **"k8s.gcr.io/k8s-dns-dnsmasq-nanny-amd64:1.14.

[2020-09-27 20:54] neolit123 commented on #95096
/remove-kind bug
/triage support
/sig instrumentation

[2020-09-27 21:55] #90597 closed

[2020-09-27 23:01] kevtheappdev commented on #94892
@aistein Go ahead, my team and I have decided to pursue other issues.

[2020-09-27 23:19] aistein commented on #94892
/assign

[2020-09-27 23:57] Riaankl commented on #90877
/remove-lifecycle stale

[2020-09-27 23:58] Riaankl commented on #90881
/remove-lifecycle stale

[2020-09-28 00:23] Riaankl commented on #94867
@johnbelamaric @spiffxp
Can you please review the proposed test and advise if we could go ahead with a PR

[2020-09-28 00:24] Riaankl commented on #94867
/assign @johnbelamaric @spiffxp

[2020-09-28 00:29] vishsangale commented on #94901
@dims I have added PR for the changes, I have some questions, about the changes. With current attached PR I have not changed in command line parameters, I guess we need to retire them and provide new ones. is that right? I would like create a different PR reieiw for those changes. Another question, you also talked about changing jobs? Can you please explain more which jobs need to be changed? Are

[2020-09-28 00:58] #88028 closed

[2020-09-28 01:20] jsonmp-k8 commented on #76146
We see this error while we are having PLEG issues with kubelet. The below document says how to fix the PLEG issue.
https://www.ibm.com/support/knowledgecenter/en/SSBS6K_3.1.1/troubleshoot/docker_pods_overload.html
However, KOPS doesn't support `housekeeping-interval` in kubelet. There is already an issue open for this
https://github.com/kubernetes/kops/issues/6356

[2020-09-28 01:33] utkarsh2811 commented on #65797
can anyone confirm if this feature has been implemented cuz I dont see any word regarding this on official documentation of kubernetes. If its not implemented then I request the owners to kindly look into implementing this.

[2020-09-28 02:42] lixiaobing1 opened #95104 "Could not resolve host: github.com"
When I download code from github.com, it appears : "Could not resolve host: github.com", I add ip and github.com in /etc/hosts, but failure continue, is there other method to solve?

git clone https://github.com/xxx/xxx
Cloning into '/go/src/github.com/xxx/xxx'...
fatal: unable to access 'https://github.com/xxx/xxx/': Could not resolve host: github.com
package github.com/xxx/xxx: exit status 128

[2020-09-28 03:30] knight42 commented on #95100
https://github.com/kubernetes/kubernetes/issues/94981#issuecomment-696988355

You could run `kubectl get ingress.networking.k8s.io minimal-ingress -o yaml` to specify your desired apiVersion.

/close
/remove-triage unresolved

[2020-09-28 03:31] #95100 closed

[2020-09-28 03:31] knight42 commented on #95100
/remove-kind bug

[2020-09-28 04:52] zm274310577 opened #95105 "All the pods are in the master node and not allocated to other slave nodes"
Centos7, three servers are installed with k8s cluster, one master, other slave1 and slave2. The three nodes are installed with CEPH for data persistence.

the cephfs on master /mnt/cephfs directroy
master:6789,slave1:6789,slave2:6789:/ /mnt/cephfs ceph name=cephfs,secretfile=/etc/ceph/cephfskey,_netdev,noatime 0 0

Create deployment through the python API of kubernetes client, and mount three dire

[2020-09-28 05:02] #85338 closed

[2020-09-28 05:02] #89212 closed

[2020-09-28 06:50] hiroyuki-kamei opened #95106 "Adding tag annotations on service manifest for NLB does not trigger update on AWS"
**BUG REPORT**:

/kind bug
/sig cloud-provider
/area provider/aws

**What happened**:

_Similar to https://github.com/kubernetes/kubernetes/issues/54642_

Adding this annotation to an existing service: {"metadata":{"annotations":{"service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags":"env=dev"}}} did not trigger an update on AWS NLB (no new tags).

Here is the manifest.
[code]

**

[2020-09-28 06:53] hiroyuki-kamei commented on #95106
/sig cloud-provider
/area provider/aws

[2020-09-28 08:09] lixiaobing1 commented on #95104
/sig Usability

[2020-09-28 08:36] aservera opened #95107 "Anti-affinity using Pod Annotations doesn't work"
**What happened**:
When I try to apply pod antiaffinity configuration using Pod Annotations in a Replica Set it doesn't be applied
The purpose is to ensure that any new pod created is deployed in a different node than the existing ones.

**What you expected to happen**:
New Pods are created in different nodes
app1-5vwdh   0/1     Running   0          56s   xxx.xxx.35.22    aks-pool-vmss00009c   <n

[2020-09-28 08:37] ScrapCodes opened #95108 "[Flaky Test][sig-node] NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]"
**Which jobs are flaking**:
ci-kubernetes-gce-conformance-latest #1310314113888423936

**Which test(s) are flaking**:
[sig-node] NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]

**Testgrid link**:
https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%20master

**Reason for failure**:

[code]

https://prow.k8s.io/view/gcs/kub

[2020-09-28 08:57] ScrapCodes opened #95109 "[Flaky Test][sig-cli] Kubectl client Kubectl logs should be able to retrieve and filter logs [Conformance]"
**Which jobs are flaking**:
ci-kubernetes-conformance-kind-ga-only #1309146359319760896 / sig-release-master-blocking#conformance-ga-only

**Which test(s) are flaking**:
[sig-cli] Kubectl client Kubectl logs should be able to retrieve and filter logs [Conformance]

**Testgrid link**:
https://testgrid.k8s.io/conformance-all#conformance-ga-only

**Reason for failure**:
https://prow.k8s.io/view/gcs/k

[2020-09-28 08:57] ScrapCodes commented on #95109
/sig cli

[2020-09-28 09:42] DavidSpek commented on #80818
Another thing that might be of interest is `docker checkpoint`, which uses [CRIU](https://www.criu.org/Main_Page).

[2020-09-28 09:54] bart0sh commented on #95043
Considering [previous attempt](https://github.com/kubernetes/kubernetes/pull/91813) to fix this, should we consider reducing amount of pods to 80?

This issue possibly started when [COS changed the way of running containerd](https://github.com/kubernetes/test-infra/pull/17743#issuecomment-638270139), so help from containerd or COS maintainers would really help here.

[2020-09-28 10:20] ScrapCodes commented on #94520
Looks like this flaky test, has not flaked for a while now. Closing this now.

/close

[2020-09-28 10:20] #94520 closed

[2020-09-28 10:21] mans0954 commented on #77662
:+1:

[2020-09-28 10:34] Jeeppler commented on #49937
Is there any possibility that the HTTP HEAD check will be implemented for the liveliness probe? What would be necessary to implement the HTTP HEAD?

[2020-09-28 10:37] neolit123 commented on #95107
/sig scheduling

[2020-09-28 10:41] chinazj commented on #94990
hi  @yliaog
1.  it's ValidatingWebhookConfiguration.

[code]

[code]

2. This is a bug caused by cert-manager and apiserver.
The describe of the bug:  Apiserver `curl` the service of apiservice at regular intervals. After the error of `write: broken pipe`. When apiserver accesses the service again, it will remain unsuccessful.

Let's show this bug through the timeline

1.   APIService needs to be

[2020-09-28 10:43] chinazj commented on #94990
https://github.com/kubernetes/kubernetes/issues/94963

[2020-09-28 10:48] neolit123 commented on #95104
Please try the support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-09-28 10:48] #95104 closed

[2020-09-28 10:51] neolit123 commented on #95105
Please try the support channels

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/triage support
/close

[2020-09-28 10:51] #95105 closed

[2020-09-28 10:53] neolit123 commented on #95096
/kind feature

[2020-09-28 11:13] ScrapCodes commented on #95109
Worth noting `kubectl logs --tail=1` has produced different output than expected.

[code]

[2020-09-28 11:46] ticpu commented on #70047
/remove-lifecycle rotten
/remove-lifecycle stale

I'll try a pull request since I didn't get any feedback.

[2020-09-28 11:47] wojtek-t opened #95110 "Collapse parameters passed down to storage implementations"
As discussed in this comment thread: https://github.com/kubernetes/kubernetes/pull/94364/files#r493818602
it will be useful to avoid passing newFunc() to storage factory explicitly and rather make it part of storagebackend config.

Unfortunately it's not trivial currently - see the comment thread mentioned above for more details.

/assign

[2020-09-28 11:59] papiveron opened #95112 "Kubernetes kubelet-certificate-authority on premise with kubespray causes certificate validation error for master node"
I'm setting up a k8s cluster on premise using kubespray.

I'm trying to harden the kubernetes cluster using CIS Benchmark documentation.

For the `--kubelet-certificate-authority` argument I set up the TLS connection between the apiserver and kubelets. Then, I edited the API server pod specification file `/etc/kubernetes/manifests/kube-apiserver.yaml` on the master node and set the `--kubelet-cert

[2020-09-28 12:09] jprzychodzen commented on #94997
This test is permanently failing from 09-23 in  ci-kubernetes-e2e-gce-scale-correctness

[2020-09-28 12:33] antcs commented on #94240
@andyzhangx I pushed some first tests for `getStorageAccounts`

[2020-09-28 13:11] RobertKielty commented on #95064
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1

is still only reporting up to Sept 21

* Other instances of this non-deterministic test result

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-master/1308961389162795008

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-master/1308546209534709760

[2020-09-28 13:22] RobertKielty commented on #95064
@hasheddan @alejandrox1

Can you review please this issue and provide any guidance on this test's NDR.

There's a DATA race reported on https://github.com/kubernetes/apiserver/blob/master/pkg/storage/tests/cacher_test.go#L923

/sig api

[2020-09-28 13:37] dgrisonnet opened #95115 "MetricVec constructors do not initialize the underlying prometheus metrics"
**What happened**:

When creating a counter with component-base NewCounterVec and calling metric.Describe(ch), an unexpected segfault occurs.

[code]

**What you expected to happen**:

I was expecting the metric to be describable as when I create it with client_golang NewCounterVec.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

Thi

[2020-09-28 13:45] RobertKielty commented on #94224
/close

[2020-09-28 13:45] #94224 closed

[2020-09-28 13:55] jakepaw opened #95116 "Kubernetes cluster unavailable Unable to connect to the server: EOF"
Hello all,

Over the weekend two of our master servers were bounced for updates. One of the servers' kubelet services did not start up which was causing our access to the cluster to fail (see below with EOF error). We have gone with the stacked HA topology as it works best for our use case and we had assumed that with an issue of a master being bounced we would still be able to communicate with ou

[2020-09-28 14:05] RobertKielty commented on #95017
Additional notes

This failure spans multiple tests that seem to be targeting different images

The error message seems to indicate that there is issue contacting the Boskos allocated resources

More instances of the test producing non-deterministic results on

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1308774969034936320
https://prow.k8s.io/view/gcs/kubernete

[2020-09-28 14:23] alculquicondor commented on #95047
/remove-help

@changshuchao this issue has already people working on it. Keep an eye on open issues :)

[2020-09-28 14:37] thejoycekung commented on #95109
Looks like duplicate of #92468 - moving this info there

[2020-09-28 14:42] thejoycekung commented on #92468
Still flaking as of the 24th: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1309146359319760896

[2020-09-28 14:45] RobertKielty commented on #95109
/close

[2020-09-28 14:45] #95109 closed

[2020-09-28 14:45] kaleocheng commented on #94428
Hi @soltysh  are you working on this issue already? If not I'd like to tackle this issue :)

[2020-09-28 14:47] thejoycekung commented on #95108
Duplicate of #94931, #94753 ; hopefully resolved by #94931

[2020-09-28 15:03] thejoycekung commented on #95108
/close

[2020-09-28 15:04] #95108 closed

[2020-09-28 15:20] prometherion commented on #89723
/reopen

[2020-09-28 15:35] spiffxp commented on #74375
/remove-lifecycle rotten
Having a sane timeout on presubmits and sticking to it should be part of this project's CI policy

[2020-09-28 15:36] hjkatz commented on #3030
For those of us still looking for a concise way to add TypeMeta information to runtime objects, here you go!

[code]

[2020-09-28 15:38] gnufied opened #95121 "Detaching a statically provisioned vSphere PV with folder name in path does not work"
When user creates a static PV using folder name in path:

[code]

on vSAN backed datastore then detach disk does not work because `DiskIsAttached` check fails - https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go#L1007

The code expects folder name to be UUID but it does not and hence it determines disk is *not* attached to the node and

[2020-09-28 15:42] spiffxp commented on #74375
99th percentile of duration of pull-kubernetes-e2e-gce and its replacement pull-kubernetes-e2e-gce-ubuntu-containerd
![Screen Shot 2020-09-28 at 11 37 32 AM](https://user-images.githubusercontent.com/49258/94453996-585e9500-017f-11eb-8dcd-1a69d13405e4.png)

We are doing better at this.  I'm tempted to suggest we tune the timeout for the job as a whole down to 75m and hold the line there.

[2020-09-28 15:45] gdraganic commented on #34549
Same here:

[code]

When a new storage class is created, both are marked as default :

[code]

Creating a PVC yields the following error: `forbidden: Internal error occurred: 2 default StorageClasses were found`

[2020-09-28 15:58] ahg-g opened #95122 "the start time for pod_scheduling_duration_seconds metric should be pod creation time"
We currently have a metric named `pod_scheduling_duration_seconds` that measures the time it takes to schedule a pod, specifically from the time the pod was first observed by the scheduler (InitialAttemptTimestamp) to the time the binding request is successfully done: https://github.com/kubernetes/kubernetes/blob/44cd4fcedccbf35c2b674f9d53faa6fc3230b8fa/pkg/scheduler/scheduler.go#L587

The current

[2020-09-28 16:01] SaiHarshaK commented on #92402
I would like to work on the vendor/k8s.io/kubectl pkg related ones from the list.

[2020-09-28 16:07] papiveron commented on #95112
`/sig cluster-lifecycle`

[2020-09-28 16:11] draveness commented on #95037
I think we should also expose `internal/cache` package or provider helper to test the customize scheduling framework plugin.

https://github.com/kubernetes/kubernetes/blob/db9f1e91d977c45fe7df8e1e1bd415a3292995e1/pkg/scheduler/framework/plugins/noderesources/least_allocated_test.go#L289

[2020-09-28 16:50] msau42 commented on #94929
From latest discussion last week, I believe the conclusion was to have external-provisioner set `PV.Spec.Capacity` to the smaller size. Then we just let the rest of the normal resize flow continue. No need to have provisioner set the conditions.

@kubernetes/sig-storage-bugs

[2020-09-28 16:53] tallclair commented on #89163
Related: "hardened exec" - https://github.com/kubernetes/enhancements/pull/1899

@mlbiam I'd appreciate your input on that, particularly the section on websockets.

[2020-09-28 16:56] gnufied commented on #94929
@msau42 we agreed to set conditions too because we want to be as close as possible to external-resizer. If there is some tooling that depends on condition for resizing pending on node, we don't want to break any such tooling. currently kubelet does not depend on condition for node expansion though.

[2020-09-28 16:58] ahg-g commented on #92388
/remove-lifecycle stale

@adtac I am guessing this is mostly done?

[2020-09-28 16:58] msau42 commented on #94929
Why can't we let resize controller set the condition when it sees pvc size != pv size?

[2020-09-28 17:04] gnufied commented on #94929
@msau42 hmm good point. I think that should work but we may have to verify that flow.

[2020-09-28 17:10] papiveron commented on #95112
Hello,

Please I don't know to apply labels to my issue as indicated above. Can you let me know how? Or it's a matter of rights?

[2020-09-28 17:14] #89737 closed

[2020-09-28 17:28] adtac commented on #92388
6/8 are done. Mixed scheduling and Node affinity aren't.

[2020-09-28 17:34] lavalamp commented on #95064
/sig scalability
/remove-sig storage

[2020-09-28 17:36] msoisalo commented on #81101
/remove-lifecycle stale

[2020-09-28 17:41] Huang-Wei commented on #94695
@alculquicondor could you help to negotiate to assign the tasks?

[2020-09-28 17:43] MHBauer commented on #94493
Edit in upstream issue says "needs to be marked serial" https://github.com/kubernetes/node-problem-detector/issues/467#issuecomment-698660424

I'll make a PR

[2020-09-28 17:48] lavalamp commented on #95064
I'm sending a fix

[2020-09-28 17:51] timoreimann commented on #74352
Sorry for the late response @alejandrox1, things have been busy (like everywhere and always :) ).

I work almost exclusively out-of-tree (because my employer DigitalOcean only jumped onto the Kubernetes wagon after new in-tree provider introductions had already been eschewed). My primary motivation is to be able to use a solid, battle-tested, and comprehensive e2e test suite that serves a variety

[2020-09-28 17:53] lavalamp commented on #95064
t.Fatal was getting called long after the test had exited, because the test was shutting down the framework before the goroutine had exited.

[2020-09-28 17:56] yliaog commented on #94990
i'm wondering why pod ip 10.0.28.36 is given directly to kube-apiserver, instead of a service ip?

instead of restarting the apiserver, could you try the following three steps?
1. "kubectl delete apiservice  v1beta1.webhook.certmanager.k8s.io"
2. after that, recreate the apiservice,
3.  kubectl get apiservice  v1beta1.webhook.certmanager.k8s.io

[2020-09-28 17:58] kishorj commented on #82595
/repoen

[2020-09-28 18:02] kishorj commented on #82595
The health check fix merged in #94546 does not address this annotation when NLB is created
  service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"
The annotation is applied only during edits. This needs to be fixed, please reopen this issue.

[2020-09-28 18:04] alculquicondor commented on #94695
/remove-help

My bad for making this so open ended.

But as general guidance, please leave some time for the contributor already assigned to start the work. Specially given that we are so far from code freeze and this work is low priority.

In this particular case, I would like to give @krishchow and @SataQiu to work on this, as they were the first ones to offer help.

[2020-09-28 18:05] alculquicondor commented on #94695
Also please try to coordinate in slack before sending PRs.

[2020-09-28 18:08] alculquicondor commented on #94695
I closed some PRs that haven't been reviewed yet. I left the others open to avoid losing the work done.

[2020-09-28 18:10] alculquicondor commented on #94696
/remove-help

Removing tag because it is already assigned.

@HaonanFeng do you have any progress to share?

[2020-09-28 18:15] alculquicondor commented on #95037
But we already have an interface for it. Maybe we can provide a `testing` package with an implementation of the interface, but the cache itself should remain internal.

[2020-09-28 18:17] aojea commented on #85443
/remove-lifecycle stale

[2020-09-28 18:56] danfromtitan commented on #40908
IMO if you find the whole POD should be restarted at a container failure, then you should revisit the design of the solution.

There is no need to restart a healthy process when a different process is unhealthy, similar to how you do not restart a whole UNIX system for one process failure.

[2020-09-28 18:56] alculquicondor opened #95124 "Node Snapshot can become out-of-sync when Node is deleted before its Pods"
/sig scheduling

**What happened**:

#93938 reverted an old behavior to ensure Pod information is not lost when Nodes are recreated without its Pods getting recreated. A ghost Pod is kep in `cache.nodes`

The problem is that we rely in this map for determining deleted Nodes when updating the snapshot in `cache.UpdateSnapshot`.

The good thing is that the nodeinfo's are cloned into the snapshot, so

[2020-09-28 18:57] alculquicondor commented on #95124
/assign

[2020-09-28 18:58] bhakiyakalimuthu commented on #7923
Hello, I'm a first time contributor.like to take up this one.

[2020-09-28 19:13] tallclair commented on #95038
/cc @verb

[2020-09-28 19:25] ahg-g commented on #95107
Annotations is not something the scheduler current supports, see https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity on how node affinity can be used.

[2020-09-28 19:36] neolit123 commented on #76714
the related kubeadm change:
https://github.com/kubernetes/kubernetes/pull/94504
is merging and it will be in 1.20, but we have no plans to backport it to older releases.

/remove-sig cluster-lifecycle

[2020-09-28 19:42] Riaankl opened #95127 "Extend Agnhost Image: Support Conformance testing of PodProxy Endpoints"
The following query from [SnoopDB](https://github.com/cncf/apisnoop/tree/master/apps/snoopdb) confirms the untested PodProxy endpoints for the apiserver.

[code]

[code]

When the [blanket redirect](https://github.com/kubernetes/kubernetes/blob/4b24dca228d61f4d13dcd57b46465b0df74571f6/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go#L210) of all proxy apiserver endpoints is removed,

[2020-09-28 19:48] ahmsb8884 commented on #81523
Can anyone please clarify to me, what is the behavior now, am running k8s 1.13.5 In production and observing pod evictions due to pods writing too many logs and pods are getting evicted. Here, I thought we could bypass this pod evictions by making pods write to some other partition but seems like we cannot?

[2020-09-28 19:51] vllry commented on #80354
/reopen

[2020-09-28 19:56] neolit123 commented on #95116
/remove-kind bug
/triage support

hi, i'm going to assume kubeadm's stacked topology concept.

/area kubeadm
/sig cluster-lifecycle

this sounds like a stale kubeconfig file, e.g see:
https://stackoverflow.com/questions/48928330/how-to-fix-issue-of-unable-to-connect-to-the-server-eof-kubernetes-kubectl

to regenerate a new `/etc/kubernetes/admin.conf` execute `kubeadm init phase kubeconfig admin`

[2020-09-28 19:57] #95116 closed

[2020-09-28 19:58] neolit123 commented on #95112
hi, kubespray issues should be logged in:
https://github.com/kubernetes-sigs/kubespray

this repository is for core k8s.

thanks
/close
/triage support

[2020-09-28 19:58] #95112 closed

[2020-09-28 20:06] Riaankl opened #95129 "Bug: Limit Apiserver Proxy Redirects"
**What happened**:

As part of creating an e2e test for [Pod ProxyOptions endpoints](https://github.com/kubernetes/kubernetes/pull/94786), it was found that the apiserver proxy server is processing a blank redirect for any [method call](https://github.com/kubernetes/kubernetes/blob/4b24dca228d61f4d13dcd57b46465b0df74571f6/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go#L210) for 21

[2020-09-28 20:15] alculquicondor commented on #95124
It actually produces the error:

[code]

which would cause failed scheduling cycles (the map is not recreated, only the lists).

[2020-09-28 20:38] spiffxp commented on #95068
Are you sure this is the actual error?   Do you have links to specific occurrences?

FWIW this doesn't seem to be a new behavior that started recently (e.g. was present as far
 back as 2020-02-11 https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2020-02-11&pr=1&test=dumpclusterlogs)

[2020-09-28 21:16] heyste commented on #95129
@liggitt Does this issue and PR address your concerns about the apiserver proxy server doing a blanket direct of any http call to the root proxy endpoints?

[2020-09-28 21:30] Riaankl commented on #94954
@ahg-g I remembered about this PR. Last week a few lines of code was added to cover the last of the "Lease" endpoint group for conformance. The one file contain the Conformance tests for the complete life cycle of Lease endpoints.
https://github.com/kubernetes/kubernetes/pull/94969/files#

[2020-09-28 22:12] adtac opened #95131 "defaultpreemption: refactor out support for out-of-tree plugins"
**What would you like to be added**: defaultpreemption plugin has some exported functions that are designed to be reused by out-of-tree plugins. Refactor these out of default_preemption.go. Also, refactor the functions themselves to be cleaner, they're kinda ugly right now.

**Why is this needed**: default_preemption.go is very confusing right now.

/sig scheduling
/kind cleanup
/cc @Huang-Wei @ah

[2020-09-28 22:37] thejoycekung commented on #95068
Sorry it wasn't more clear in the ticket itself - I included two prow links that both flaked on commit `3a7d7101c`:
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/1309496346633310208
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1309495593508278272

Looking back in triage it looks like this specific ssh-related error doesn

[2020-09-29 00:43] thejoycekung opened #95133 "[Flaky Test] [sig-network] Loadbalancing: L7 GCE [Slow] [Feature:NEG] should sync endpoints to NEG"
**Which jobs are flaking**:
`gci-gce-ingress`

**Which test(s) are flaking**:
`Loadbalancing: L7 GCE [Slow] [Feature:NEG] should sync endpoints to NEG`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress&sort-by-flakiness=&width=20&include-filter-by-regex=.*%20should%20sync%20endpoints%20to%20NEG

**Reason for failure**:
Timeout while [waiting for ingress to sta

[2020-09-29 00:49] krmayankk commented on #72253
@tallclair  ping ?

[2020-09-29 01:22] #90514 closed

[2020-09-29 01:29] #92041 closed

[2020-09-29 01:31] Huang-Wei commented on #95131
@adtac do you want to incorporate this into #94814, or in a separate PR?

[2020-09-29 01:39] Huang-Wei commented on #94954
/assign

I will work on it.

[2020-09-29 02:15] kaychu2013 commented on #60987
Same issue in kubernetes v1.14.2
[code]
Checked the orphaned pod still holds the configmap under volume-subpaths/

[2020-09-29 02:32] JihadMotii-REISys commented on #80897
I also confirm that this solution doesn't work with Kubernetes v1.17. Looking forward to a better solution with ```externalTrafficPolicy: "Local"```

[2020-09-29 02:52] draveness commented on #95037
Yes, provide helper function is also an option.

[2020-09-29 03:20] chinazj commented on #94990
hi @yliaog

1. This is my mistake，10.0.28.36:443 is  service ip.

[code]

2. I tried to reinstall apiservice , but it was unsuccessful. The creation time is different. But I try to reproduce it

![image](https://user-images.githubusercontent.com/15140157/94508906-9e7e2c00-0245-11eb-85fe-c35e1d89fa52.png)

[2020-09-29 03:31] chinazj commented on #94990
Thanks for taking the time to read my question

[2020-09-29 04:03] smerkerg commented on #40908
I'd say there is a clear need, as evidenced by this issue and its comments. I would not disagree that it suggests the system design is less than ideal... but as stated earlier, sometimes redesign is not possible or not practical. And the most obvious redesign would involve setting some flag in one container that can be read by all other containers to force them to restart or reload in some way...

[2020-09-29 04:05] yliaog commented on #94990
it is likely caused by the http2 golang client, the issue has been fixed in golang 1.15, but k8s 1.17 does not have it yet.

see
https://github.com/kubernetes/client-go/issues/374#issuecomment-632457187
https://github.com/kubernetes/kubernetes/issues/80313#issuecomment-526451664
https://github.com/kubernetes/kubernetes/issues/75791#issuecomment-521719857

[2020-09-29 04:12] ahg-g commented on #95131
I think we could just simplify things in #94814 to not assume that the functions it modifies are stateless (and so no need for the With pattern etc.), then in a followup PR we move those to a type named `PreemptionEvaluator`.

[2020-09-29 04:23] Huang-Wei commented on #95131
SGTM, so far no consumer is vendoring the 1.20 codebase, so we have enough time finishing the refactoring in a followup.

@adtac apologize for the comments back and forth.

[2020-09-29 04:31] #94240 closed

[2020-09-29 04:31] #95124 closed

[2020-09-29 05:48] harche opened #95136 "unable to run node e2e tests"
**What happened**:
I am trying to run node e2e tests using, `make test-e2e-node`

[code]

**What you expected to happen**:
Compile the code and run the node e2e tests

**How to reproduce it (as minimally and precisely as possible)**:
`make test-e2e-node`

**Anything else we need to know?**:
I ran `go mod tidy` but that didn't help either.

**Environment**:
- Kubernetes version (use `kubectl versio

[2020-09-29 05:48] harche commented on #95136
/sig node

[2020-09-29 06:01] kmangla9 commented on #60164
/reopen
/lifecycle-frozen

I am facing this same issue with 1.15.
I need this on production for my project, I do not want any manual intervention. It is super annoying to manually delete pods/statefulsets and redeploy them.

[2020-09-29 06:24] FUDCo commented on #60164
Your wish is my command...

/reopen

[2020-09-29 06:31] linbingdouzhe commented on #74071
issue here

[2020-09-29 06:51] BenTheElder commented on #74352
I strongly disagree with "battle-tested". "battle-scarred" maybe. The upstream tests are flaky and full of problematic behavior. It's been expensive to deal with. I would not hold e2e.test up as a great example of how to do ... anything?

The upstream tests are difficult to invoke, difficult to debug, flaky, and full of awkward coupling to things like cloud providers or multiple concepts of node l

[2020-09-29 06:54] BenTheElder commented on #94997
@RobertKielty what about this is sig-testing related? 😅
This appears to be a sig-network issue.

I don't currently see many failures in your link, but at least one of them the job timed out so...

[2020-09-29 06:57] BenTheElder commented on #95062
You can compile from another machine or use pre-compiled upstream binaries?

`hack/local-up-cluster.sh` is not intended for serious usage, it's a tool for developing kubernetes itself.

you should take a look at the installation docs if you're not trying to develop kubernetes changes.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

[2020-09-29 06:57] BenTheElder commented on #95062
https://kind.sigs.k8s.io/ is also an alternative to local-up-cluster.

[2020-09-29 07:05] chymy commented on #71907
/reopen  I have same issue.

[2020-09-29 07:19] SomtochiAma commented on #94567
Some update as I have been unable to pinpoint the cause. The failing test isn't calling this function https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volumemanager/reconciler/reconciler.go#L255 before detaching the volume, Putting a little sleep after the reconciler starts seems to resolve it.
I am still looking into it and any help would be appreciated

[2020-09-29 07:35] stevenshuang opened #95137 "Should the function `AreLabelsInWhiteList` return false when the whitelist is empty?"
**What happened**:
The function `AreLabelsInWhiteList` return `false` when whitelist is empty.
The function is implemented as follows:
https://github.com/kubernetes/apimachinery/blob/829ed199f4e0454344a5bc5ef7859a01ef9b8e22/pkg/labels/labels.go#L146
[code]

**What you expected to happen**:
When the whitelist is empty, any key of labels can not in it. Should the function return `false` when whiteli

[2020-09-29 07:36] stevenshuang commented on #95137
/sig api-machinery

[2020-09-29 07:48] lindhe commented on #58512
/remove-lifecycle stale

[2020-09-29 08:02] arghya88 commented on #95122
@ahg-g I can work on it..if this is okay to be picked up.

[2020-09-29 08:22] xuchuan-666 opened #95138 "kubeadm install 1.18.9 tls: bad certificate"
hello:
Kubeadm is used to install Kubernetes1.18.9. After KubeADM init, Kube-Apiserver is already reporting errors. I suspect it is a bug, because SSL certificates are automatically generated by initialization, the error message is as follows:

I0929 08:16:48.557536 1 log.go:172] HTTP: TLS error from 10.136.102.40:5567: remote error: TLS: bad certificate

605792 1 log.go:172] HTTP: TLS handshake e

[2020-09-29 08:24] xuchuan-666 commented on #95138
I0929 08:20:18.766043       1 trace.go:116] Trace[2105260184]: "Get" url:/apis/coordination.k8s.io/v1/namespaces/kube-system/leases/kube-controller-manager,user-agent:kube-controller-manager/v1.18.9 (linux/amd64) kubernetes/94f372e/leader-election,client:10.136.102.40 (started: 2020-09-29 08:20:13.690865786 +0000 UTC m=+1191.165099290) (total time: 5.075121794s):
Trace[2105260184]: [5.075075791s]

[2020-09-29 08:39] #95064 closed

[2020-09-29 08:42] balboah opened #95139 "DualStack: kube-proxy no longer forwards to closest pod by service topology"
**What happened**:

Whenever I add the flag *IPv6DualStack=true* to the kube-proxy feature gates, IPv4 services will no longer forward connections to the closest pod, instead it will be round robin to all.

I did not change the service spec or roll out new pods after enabling dual stack in the rest of the cluster, toggling this flag on the kube proxy will enable and disable the "closest pod" funct

[2020-09-29 08:43] balboah commented on #95139
/sig Network

[2020-09-29 08:55] Haar opened #95140 "startupProbe readiness state update issues"
**What happened**:

Creating a pod that has a startupProbe and no readinessProbe does not report as `ready` on entering a `running` state, it instead seems to wait for a separate event loop to trigger updating to a `ready` state.

**What you expected to happen**:

Creating a pod that has no readinessProbe should report as `ready` as soon as it is `running`.

**How to reproduce it (as minimally and

[2020-09-29 09:08] Haar commented on #95140
/sig node

[2020-09-29 09:23] windayski opened #95141 "Svc with specific name affects the running of a pod"
**What happened**:
I created a svc named ckeadm-wait, and a pod run ckeadm (a binary file) with its sub command 'wait'.

service:
[code]

deployment:
[code]

The creation of svc is successful but the deploy failed.
[code]

[code]

See the log of the pod
[code]

It's quite strange. It seems to be kubernetes add an invalid args `port=tcp://100.105.61.240:2376` which is the svc ClusterIP and port to

[2020-09-29 10:33] yacinelazaar commented on #66844
@mikedanese I'm getting this error on a fresh token associated with a new namespace's default service account.
`kubectl create namespace test2
namespace/test2 created`
`kubectl get secrets -n test2
NAME                  TYPE                                  DATA   AGE
default-token-ld8xm   kubernetes.io/service-account-token   3      0s`
Sometimes it works, sometimes not (in alternance):
`kubectl

[2020-09-29 10:36] harche commented on #95136
Running with `Remote=true` also fails,

[code]

[2020-09-29 10:37] harche commented on #95136
Reducing the number of args,

[code]

[2020-09-29 10:59] ahg-g commented on #95122
@wojtek-t since this might be in the millisecond granularity, I am concerned about the the api-server clock and the scheduler clock not being in sync (e.g., in a regional cluster, the active scheduler may be running on a different master instance than the api-server that created the pod), what are you thoughts on this?

[2020-09-29 11:01] aservera commented on #95107
Thanks we are using Spinnaker and based on some articles that was the way to apply it.
Best

[2020-09-29 11:01] #95107 closed

[2020-09-29 11:39] thomas-riccardi commented on #34146
/reopen

[2020-09-29 11:40] harche commented on #94825
Sorry this is taking slightly longer. Currently held up in something little urgent, but as soon as that's over I will look into this one.

[2020-09-29 11:42] AnthonyRuffinoDH commented on #47862
This feature would be very helpful for testing statsd integrations locally.
Currently it seems the only workaround would be to expose the statsd agents via ingress.

[2020-09-29 11:50] prco5 opened #95147 "Kubernetes metrics endpoints"
Hello, how to find the endpoints to get metrics.

I always see like **metrics/resource/v1alpha1**  and also like  **/api/v1/nodes/<nodename>/proxy/metrics** but what is the port? Where do you connect?
Can you get them in browser or curl them from the cluster.

Thank you!

[2020-09-29 11:51] prco5 commented on #95147
/sig triage/support

[2020-09-29 11:52] prco5 commented on #95147
/sig Network

[2020-09-29 11:54] wojtek-t commented on #95122
1. I wouldn't worry about clock skew. There are already other SLOs where we face this same problem, e.g. pod-startup time to not look to far from here (https://github.com/kubernetes/community/blob/master/sig-scalability/slos/pod_startup_latency.md)
All large cloud providers (like GCE) have some mechanisms to eliminate clock skew too.

2. There is a bigger problem that we have though (we have this

[2020-09-29 12:03] waisbrot commented on #34146
/reopen

[2020-09-29 12:18] SerialVelocity commented on #90042
This might be a kernel issue rather than k8s issue

/remove-lifecycle rotten

[2020-09-29 13:03] janegilring commented on #89226
@rgarcia89 Hi! Did you ever get to the bottom of this? We are seeing the same and currently running a support case with both RedHat and Microsoft. Since a custom RHEL image is being used rather than one from the Azure Marketplace, one possible issue might be disk-related settings in the image which is one of the things being investigated. Anyway, I was wondering what your conclusion was.

[2020-09-29 13:17] fkpwolf opened #95149 "kube-proxy generate empty endpoint rule"
**What happened**:
After upgraded my cluster, kube-proxy didn't work.
dmesg has lots of error: `[79049.987562] IPVS: rr: UDP 10.96.0.10:53 - no destination available`
[code]
Here we can see all endpoint/realserver list are empty. But `kubectl get endpoints my-nginx` can return correct endpoint list. When I create a service with 2 backend pods for testing, the `ipvsadm -Ln` will show new entry but

[2020-09-29 13:18] fkpwolf commented on #95149
/sig network

[2020-09-29 13:20] ahg-g commented on #95122
Thanks, I guess then we can't pursue this until the pod creation timestamp is fixed.

[2020-09-29 14:07] aojea commented on #95149
It seems you don't have the clusterCIDR configured in kube-proxy
[code]

[2020-09-29 14:10] ivanangelov commented on #92639
Hello @robscott,

I would kindly ask you to answer my previous question so we could decide how to proceed forward with the issue.

[2020-09-29 15:10] zgfh commented on #54923
any update?

[2020-09-29 15:25] Gauravjaitly commented on #71647
i am having the same issue
` kubectl apply -f aws-iam-authenticator.yaml`
` Error from server (InternalError): an error on the server ("") has prevented the request from succeeding`

[2020-09-29 15:30] jiamine opened #95151 "K8S 容器无法识别JAVA_OPTS参数"
kubenetes version:1.18.6    jdk:1.8.0_231
我的configmap里配置如下：
apiVersion: v1
kind: ConfigMap
metadata:
  name: cpb-user-map
data:
  JAVA_OPTS: |-
     -XX:InitialHeapSize=1024M -XX:MaxHeapSize=1024m -XX:MetaspaceSize=84m -XX:MaxMetaspaceSize=240m -XX:-OmitStackTraceInFastThrow -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=logs/java_heapdump.hprof -Xloggc:logs/cbp_user_gc.log -verbose:gc -XX:+Prin

[2020-09-29 15:33] gnufied commented on #89281
/assign @huffmanca

[2020-09-29 15:34] adtac commented on #95131
np, update the PR -- FindCandidates now uses state from `DefaultPreemption`. I'll refactor that out in a followup.

[2020-09-29 15:34] adtac commented on #95131
/assign

[2020-09-29 16:13] jiamine commented on #95151
改变configmap下的JAVA_OPTS参数，kubect apply -f后，启动POD又报如下错误：
[root@master01 ~]# kubectl logs cbp-user-deployment-57cdd68487-cwxrk
Invalid initial heap size: -Xms1024m -Xmx1024m -XX:MetaspaceSize=84m -XX:MaxMetaspaceSize=240m -XX:+HeapDumpOnOutOfMemoryError
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

[2020-09-29 16:44] dougsland commented on #95074
@utkarsh2102 agree with comment from @Mackiovello. Please consider closing this issue.

[2020-09-29 17:03] mattysweeps commented on #60832
Please reopen this ticket. There's not enough justification to allow setting node labels in kubelet but not allow setting node annotations. The security differences between these two should be moot.

@liggitt if you provided @shenlanse with more information for why node annotations are roblematic, can you reiterate those reasons here?

As a last note: per [the API conventions](https://github.com/k

[2020-09-29 17:22] Jiawei0227 opened #95152 "Add ProcessCollectorMetrics into componet_base"
**What would you like to be added**:
https://github.com/prometheus/client_golang/blob/6007b2b5cae01203111de55f753e76d8dac1f529/prometheus/process_collector.go#L63

There are some handy metrics in the default registry of prometheus. I am looking at the KubeRegistry in component_base repo here:
https://github.com/kubernetes/component-base/blob/c985e940ef8ffde448c517479bf260be98ce596b/metrics/registr

[2020-09-29 17:24] Jiawei0227 commented on #95152
/wg component-standard
/sig api-machinery

[2020-09-29 17:24] cheftako commented on #74379
/remove-lifecycle stale

[2020-09-29 17:24] cheftako commented on #74379
/lifecycle frozen

[2020-09-29 17:32] yacinelazaar commented on #66844
Alright, found the culprit.
Etcd was slow because i was writing data to a slow disk (qcow2).
I mounted a seperate disk for etcd data and all went fine.

[2020-09-29 18:37] harche commented on #95136
I just tried this on Fedora and it worked, so looks like it's limited only on FCOS.

[2020-09-29 19:04] robscott commented on #92639
Hey @ivanangelov, that will depend on which Ingress controller you're using. At this point I'm not aware of any Ingress controllers that support targeting additional resource types yet. You could ask the maintainers of the controller if they have any plans for that. As an example, for [ingress-nginx](https://github.com/kubernetes/ingress-nginx) you might want to ask in the `#ingress-nginx` channel

[2020-09-29 19:04] #92639 closed

[2020-09-29 19:25] adtac opened #95156 "scheduler framework plugins: document how to create a new in-tree plugin"
I'm creating a pull request with docs on how to add arguments to existing in-tree plugins and leaving this as a TODO for now as I don't have any experience with adding a plugin.

/sig scheduling
/kind documentation
/cc @alculquicondor

[2020-09-29 19:30] alculquicondor commented on #94011
/assign @hprateek43

[2020-09-29 19:31] alculquicondor commented on #93067
/assign

[2020-09-29 19:33] alculquicondor commented on #93718
/help

[2020-09-29 20:14] fedebongio commented on #95052
/cc @roycaihw
assigning to not lose visibility, let's see if someone picks it up

[2020-09-29 20:14] fedebongio commented on #95073
/cc @lavalamp

[2020-09-29 20:14] alculquicondor opened #95158 "Make Profile an interface"
/sig scheduling
/kind cleanup

pkg/scheduler/profile.Profile is no longer necessary as a struct. All its fields are now part of the framework implementation (pkg/scheduler/framework/runtime). Then, Profile can be converted into an interface that the framework implements.

[2020-09-29 20:15] alculquicondor commented on #95158
/help

[2020-09-29 20:16] fedebongio commented on #95086
/sig auth
/cc @deads2k

[2020-09-29 20:17] fedebongio commented on #95110
thanks for raising it, let us know if you need help on this one.

[2020-09-29 20:19] lavalamp commented on #95073
Actually, we should not spam the logs for invalid requests, the sender of the request should get an error.

[2020-09-29 20:19] fedebongio commented on #95137
/assign @lavalamp
/cc @liggitt
(we think you might have opinions on fixing this)

[2020-09-29 20:20] fedebongio commented on #95152
/assign @DirectXMan12 @logicalhan @LogicalShark

[2020-09-29 20:20] deads2k commented on #95137
I only see one consumer.  Rather than change the semantic, I would suggest moving it to the point of use and renaming it.

[2020-09-29 20:21] lavalamp commented on #95073
Additionally, this looks like it shouldn't be a parse error, instead it should be a validation error later on.

P.S. just search for that string fragment in the logs, the url is already printed in the regular per-request message, if you have it on (V(3)).

[2020-09-29 20:36] tallclair commented on #72253
The best way to handle this might be to add it to the CRI validation suite: https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/validation.md

I'm not sure how those are tracked with respect to containerd and cri-o though.

[2020-09-29 20:38] lavalamp commented on #95137
Yes, this function is wrong, I agree with David.

P.S. we don't advertise interface stability for this library so this is OK. But even if we did, I think callers of this function are probably not expecting this behavior and should be examined.)

P.P.S. The way it should work is via set difference, the labels should be a subset of the list.

P.P.P.S. These are sets and not lists, and the names shou

[2020-09-29 21:08] adammw opened #95159 "Configuration of allowed taint/label keys for NodeRestriction admission controller"
**What would you like to be added**:
AdmissionConfiguration for NodeRestriction admission controller, adding configuration for:
* explicitly allowed taint keys (currently all taints are denied from modification)
* explicitly denied label keys (currently only kubernetes.io labels are prevented from modification)

**Why is this needed**:
Custom node conditions that are used to taint a node based on

[2020-09-29 22:11] hanlins commented on #92620
Hey team, would like to help on this if you need.

[2020-09-29 22:12] andrewsykim commented on #92620
Thanks @hanlins

/assign @hanlins

[2020-09-29 22:29] jayunit100 opened #95161 "Federation tests can bring down coredns"
**What happened**:

So, when you run the federation test, it modifies coredns in a pretty significant way.

[code]
**What you expected to happen**:

This test would either be flagged as disruptive, or not mutate the coredns file

**Environment**:
1.20 and up

[2020-09-29 23:06] jayunit100 commented on #95161
@marun can we delete the configmap federation tests ?

[2020-09-29 23:09] fkpwolf commented on #95149
@aojea how to find the value of `clusterCIDR`? I use weave network so didn't pass pod-network-cidr parameter when run command `kubeadm init` to setup cluster. I tried to set value to `clusterCIDR: "10.40.0.0/13"` which is calculated by myself based on pod ip range. It didn't work.

[2020-09-29 23:57] lavalamp opened #95162 "client-go (and/or api-machinery): given an object with managed fields metadata, make it easy to look up a field's owner"
**What would you like to be added**

Given an object with managed fields metadata, make it easy to look up a field's owner.

**Why is this needed**:

It's not obvious how to access the managed fields metadata, which makes it hard for people to see how useful it is / build on it.

[2020-09-29 23:57] lavalamp commented on #95162
/sig api-machinery
/wg api-expression

[2020-09-30 00:04] hyc3z opened #95163 "Unable to ping pod from a pod inside different node."
Hi guys,  could you help me on this problem?
## Expected Behavior

Pods running on cu05 should be able to reach pod on cu03.
## Current Behavior

I'm currently running a kubernetes with 1 master and 3 followers, using the latest flannel cni.
[code]
pods:
[code]
It doesn't seem anything wrong to me. Here are the services:
[code]
Endpoints:
[code]
As you can see, I have a mysql-5.7 pod running in th

[2020-09-30 00:10] hyc3z commented on #95163
/sig sig/network

[2020-09-30 00:11] hyc3z commented on #95163
/sig/network

[2020-09-30 00:12] hyc3z commented on #95163
/sig network

[2020-09-30 00:40] hyc3z commented on #95163
It turns out that the iptable is poisoned. When I flushed the iptables using `iptable --flush`, the connectivity gets back again. Closing the issue here.

[2020-09-30 00:40] #95163 closed

[2020-09-30 00:41] neolit123 commented on #95151
hi, please try the support forums, like slack / discuss:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-09-30 00:41] #95151 closed

[2020-09-30 00:44] neolit123 commented on #95141
hi, this version is no longer supported, please re-open the issue if you can confirm the problem with kubectl / server 1.17+.

in the meantime you can also discuss with other users on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-09-30 00:44] #95141 closed

[2020-09-30 00:45] neolit123 commented on #95141
/remove-kind bug
/triage support

until this is confirmed as a bug.

[2020-09-30 00:45] #88090 closed

[2020-09-30 01:32] stevenshuang commented on #95137
Okay,  I will submit a pr.

[2020-09-30 02:19] andyzhangx commented on #90986
I happened to find this issue in one customer case, this issue is caused by obsolete cache in kube-controller-manager, should skip attach/detach retry when it's 400, below are the details, following two instances were deleted 3min ago before kube-controller-manager trying to attach/detach:
[code]

 - workaround
restart kube-controller-manager should work

[2020-09-30 02:19] andyzhangx commented on #90986
/assign

[2020-09-30 02:24] apelisse commented on #95162
Right, this is mostly a question of providing the right API, which I don't think is challenging and makes a lot of sense, thanks!

[2020-09-30 02:37] yuanyiran opened #95164 "Error For Kubernetes Log "Path "/var/lib/kubelet/pods/xxxx/volumes" does not exist""
**What happened**:

My kubelet log has been outputting this alarm. I have checked that there is no pod container and folder. How should I check this error?

![image](https://user-images.githubusercontent.com/64528937/94636694-3f352000-0308-11eb-947f-68c3065f6cf7.png)

**What you expected to happen**:

I hope to solve this alarm problem

**How to reproduce it (as minimally and precisely as possible

[2020-09-30 02:46] yuanyiran commented on #95164
/sig/storage

[2020-09-30 03:00] andyzhangx commented on #92737
/remove-lifecycle stale

[2020-09-30 03:16] liggitt commented on #95129
commented on the associated PR, thanks

[2020-09-30 03:20] winds6206 opened #95165 "Liveness/Readiness Health Check sometimes failed"
## What happened:

I have a deployment(replica 6) with Nginx container, then I use Liveness/Readiness Probe, it's working fine.
But sometimes, 6 pods will Liveness/Readiness get unhealth at the same time.

I have encounter this problem on GKE1.14 & 1.15

[code]

How to fix?  I try to deleted the pod, the pod will be fine.
This problem is like this issue [#89898](https://github.com/kubernetes/kuber

[2020-09-30 03:31] winds6206 commented on #89898
Hi !
I  am facing the same issue, I have ever happened the problem on GKE 1.14&1.15 .
My cluster have two deployment with nginx container , these deployment have set liveness/readiness probe. Only one deployment(six replica) sometimes all pods get unhealth at the same time.

[code]

Is possible the issue happened on nginx container with liveness/readiness probe?

[2020-09-30 03:35] Novex commented on #82440
/remove-lifecycle stale

[2020-09-30 03:38] axot commented on #82440
I think this may related to `mount` syscall as I mentioned above.  opencontainers/runc#2532

[2020-09-30 04:01] axot commented on #82440
@Nowaker Could you share the result of `cat /proc/1/mountinfo | wc -l` on these problematic Pods?

[2020-09-30 04:09] Nowaker commented on #82440
@axot Unfortunately, our infrastructure for this project is gone, as Kubernetes wasn't able to offer any reasonable capacity increase for our workloads compared to KVM VMs due to how much CPU was wasted on exec probes.

However, if you really think it's going to be a big help in figuring this issue out, I can look into redeploying it elsewhere and checking this for you.

[2020-09-30 04:19] cyphar commented on #82440
Taking a quick look, https://github.com/kubernetes/kubernetes/issues/82440#issuecomment-534332237 is describing Kubernetes effectively spamming `runc status` (the output of which is the JSON blob described). I don't think it's directly related to opencontainers/runc#2532 (we don't do any mounts in `runc status`), but I'm also not sure why Kubernetes (or I guess containerd) is requesting the status

[2020-09-30 04:20] axot commented on #82440
@Nowaker I just want to confirm is this a same situation against your case. I can reproduce in my environment.

[2020-09-30 04:32] Nowaker commented on #82440
Thanks for clarifying, @cyphar. Sounds like this one is solely on Kubernetes. And yeah, I now recall it's `runc status` specifically that gets spammed - instead of being executed according to the probe period.

@axot Do you see the same behavior as me, that is, runc spam regardless of probe period?

[2020-09-30 05:16] BenTheElder commented on #94311
Lacking evidence of this happening again, I'm going to close for now
/close

[2020-09-30 05:16] #94311 closed

[2020-09-30 05:35] tangwz commented on #95158
I will give a try.But what should we do about `type Map map[string]*Profile` if we remove `pkg/scheduler/profile.Profile`.

[2020-09-30 05:44] yuanyiran commented on #95164
@k8s-ci-robot

[2020-09-30 06:01] axot commented on #82440
@Nowaker I can see many runc state process. Here is the output.

[code]

[2020-09-30 06:27] aojea commented on #95149
Sorry I'm not familiar with weave and I'm not sure if I gave you the right answer based on https://github.com/weaveworks/weave/blob/master/site/kubernetes/kube-addon.md#-things-to-watch-out-for

maybe you should reach out to weave folks, the `DetectLocalMode` was added recently so it maybe possible weave needs to adapt something?

[2020-09-30 06:34] ScrapCodes commented on #95026
One more recent failure. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build/1310989366012678144

[2020-09-30 06:35] ScrapCodes commented on #95026
Hi @BenTheElder — where can we find more information regarding this issue? Or whom can we approach?

[2020-09-30 06:39] Nowaker commented on #82440
Thanks a ton, @axot. We finally have a second person to confirm the `runc status` spam that is way too frequent for a given exec probe period.

Dear @kubernetes/sig-node-bugs team, may I ask you to reevaluate this issue? There's strong evidence the issue is not about inefficiencies in runc for exec even though these were suggested multiple times.

[2020-09-30 06:52] kiemlicz opened #95170 "Static IP for PODs with stable network identifier"
**What would you like to be added**:
For PODs that already have a 'stable network identifier' guarantee (e.g. STS PODs) is it possible to enforce static IP?
After all you guarantee the 'stable network identifier', e.g. pod-0 will reserve IP=192.168.5.1, pod-1 = 192.168.5.2 etc.

**Why is this needed**:
This will help with deployment of applications that by design doesn't support DNS (like Redis)

[2020-09-30 06:54] saschagrunert opened #95171 "Remove version skew and annotation support for seccomp (v1.23)"
This is a placeholder issue to remove support for the version skew handling as well as the deprecated seccomp annotations.

The [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190717-seccomp-ga.md) states:

…

Beside that, the kubelet `--seccomp-profile-root` has to be removed in v1.23, too:

/milestone v1.23
/sig node

cc @tallclair @pjbgf

[2020-09-30 06:55] saschagrunert commented on #95171
/priority important-longterm

_TODO: Add the milestone once it exists_

[2020-09-30 06:57] cofyc commented on #92141
/remove-lifecycle stale

[2020-09-30 07:00] jiamine commented on #95151
ok，thank you!

[2020-09-30 07:29] #92557 closed

[2020-09-30 08:04] llhuii commented on #88574
Can we recover part of data?  I don't want to reinstall the environments including other k8s-related projects which took me many weeks.

[2020-09-30 08:50] ncopa opened #95172 "kubelet does not work with busybox `du` command"
**What happened**:
Running `sonobouy` test suite on a cluster with workers on Alpine Linux, which uses busybox instead of GNU coreutils fails. The log shows that it fails to execute the `du` command.
[code]
**What you expected to happen**:
I expected the `du` call to exit with success.

**How to reproduce it (as minimally and precisely as possible)**:
Install and run kublet on Alpine Linux without

[2020-09-30 09:04] ScrapCodes opened #95173 "[Flaky Test] job ci-kubernetes-build-fast flaking due to build timeout."
**Which jobs are flaking**:
ci-kubernetes-build-fast #1311141874039263232

**Which test(s) are flaking**:
BUILD FAIL

**Testgrid link**:
https://testgrid.k8s.io/google-unit#build-master-fast

**Reason for failure**:
Build timeout.

ECG Report:

![g2](https://user-images.githubusercontent.com/992952/94665458-cc3ca100-0329-11eb-84af-41cdf7f31bf1.png)

Wonder why the build time varies so much? Is it

[2020-09-30 09:04] ScrapCodes commented on #95173
/sig release

[2020-09-30 09:06] ncopa commented on #95172
/sig Storage

[2020-09-30 09:34] pacoxu commented on #95161
As federation is removed in coredns 1.7.0.

https://github.com/coredns/coredns/blob/ec906fe37f652924c056b967de38b3c5d926ee92/notes/coredns-1.7.0.md

[2020-09-30 10:32] yue-wen opened #95182 "Allow proxy protocol to be set only on certain AWS ELB backends"
**What would you like to be added**:

Enhance the service annotation `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol` to allow proxy protocol to be set only on certain AWS ELB backends.

**Why is this needed**:

The value for annotation `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol` currently only supported is `'*'`.
This annotation will enable the proxy protocol on all

[2020-09-30 10:40] jlarriba opened #95183 "Kubelet does not adequately detected unformatted disk"
**What happened**:
We are using baremetal nodes connected to SAN disks via Fiberchannel. As they are remote, sometimes (as happens with remotely connected systems), the disks stop being available. This causes naturally issues with the pods, and it is not he subject of this issue. The issue is that in this situation, after a failed mount, the kubelet tries to detect if the disk has a correct filesy

[2020-09-30 10:43] jlarriba commented on #95183
/sig node

[2020-09-30 12:33] jayunit100 commented on #95161
updated PR to delete the test per consensus in the other issue.  I see this PR actually modifies the test, but it seems like even so it shouldn't be a `sig-network` test, so ill keep my delete PR open.
Maybe its worth re-adding the test in a better place later on?  Not sure what sig owns federation at this point

[2020-09-30 12:40] r4f4 opened #95185 ""[sig-network] Networking should provide Internet connection for containers" fails on s390x"
**Which jobs are failing**: e2e-remote-libvirt-s390x

**Which test(s) are failing**: "[sig-network] Networking should provide Internet connection for containers [Feature:Networking-IPv4] [Skipped:azure] [Suite:openshift/conformance/parallel] [Suite:k8s]"

**Since when has it been failing**: since OCP 4.3 when the test was first excluded from CI

**Testgrid link**: test excluded, so no link

**Reas

[2020-09-30 12:41] r4f4 commented on #95185
/sig network

[2020-09-30 13:21] #94914 closed

[2020-09-30 13:36] alculquicondor commented on #95158
`type Map map[string]Profile`

where `Profile` is now an interface.

[2020-09-30 13:49] ncopa opened #95186 "kubelet does not work with busybox `find` command"
**What happened**:
kubelet fails to run pods on Alpine Linux with busybox find.
[code]

**What you expected to happen**:
I expected the `find` call to exit with success, not failure.

**How to reproduce it (as minimally and precisely as possible)**:
Install and run kublet on Alpine Linux without installing GNU findutils, so busybox implementation of `find` is used.

**Anything else we need to know

[2020-09-30 13:50] ncopa commented on #95186
/sig Storage

[2020-09-30 13:53] thejoycekung commented on #95068
It looks like there was [a huge spike with DumpClusterLogs failures/flakes](https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=DumpClusterLogs#9752ffe9b750fef3c11b) a few days ago (when this issue was logged) but it seems to have been resolved now.

![image](https://user-images.githubusercontent.com/13409103/94694134-81f3f980-0302-11eb-9134-9e13b0f54fc6.png)

I do want to dig int

[2020-09-30 14:04] Gabisonfire commented on #88574
I ended up doing a scheduled job as a workaround in the meantime with something like this to back up every 6 hours:

[code]

[2020-09-30 14:33] TeddyAndrieux opened #95188 "Kubelet register fail if a node object already exists with no "Status.Capacity""
**What happened**:

Kubelet not able to register on ApiServer if a node object already exists and has no "capacity" in "status"

[code]

**What you expected to happen**:

Kubelet well registered, even if the node already exists and do not have any "status.capacity" filled.

**How to reproduce it (as minimally and precisely as possible)**:

- Create a simple cluster `kubeadm init`
- Stop kubelet
-

[2020-09-30 14:34] tangwz commented on #95158
/assign

[2020-09-30 14:39] TeddyAndrieux commented on #95188
/sig node

[2020-09-30 14:52] arghya88 commented on #94696
/cc

[2020-09-30 15:00] jayunit100 commented on #88253
Seems like we've kinda lost track of the original issue, which is in and of itself, about **API Usability**.  That in and of itself is a user-story which probably stands on its own, irrespective of the myriad workarounds mentioned here.

- case for operator-ish meta-functionality that doesnt require API changes
  - virtual or synthetic labels in upstream
  - case for a generic network policy opera

[2020-09-30 15:43] alculquicondor opened #95190 "config.Plugins should not be composed of pointers"
There is no benefit of having `pkg/scheduler/apis/config.Plugins` be composed of Pointers rather than concrete `PluginSet`s

We require configurations to explicitly set `disabled: ["*"]` if they want to indicate that they don't want the default plugins. We even create an empty `PluginSet` when we are merging plugin configurations

https://github.com/kubernetes/kubernetes/blob/aa1f91286838d373a6d92

[2020-09-30 15:43] alculquicondor commented on #95190
/help

[2020-09-30 16:14] arghya88 commented on #95190
I am interested to work on this.

[2020-09-30 16:19] arghya88 commented on #95190
/assign

[2020-09-30 16:24] bbyrne5 commented on #94498
Hey, just a quick update. I have been fairly busy and am going on vacation next week. I AM still planning on working on this, however since I am obviously very slow if someone comes along and wants to work on this feel free. Just please comment that you will work on it so I know :).

[2020-09-30 16:32] tanjunchen opened #95192 "go mod tidy: warning: ignoring symlink"
**What happened**:

it will produce warning: ignoring symlink when you  go mod tidy in k8s.
[code]

**What you expected to happen**:

No warning should be displayed.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

go version

[code]

- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
-

[2020-09-30 16:37] nodo commented on #82046
/assign

[2020-09-30 16:39] BenTheElder commented on #95192
This project used various symlinks. I don't think we should remove them because go dislikes symlinks. These aren't even in a go part of the project.

[2020-09-30 16:43] rishabh625 commented on #94575
Hi,

Problem is with kube-proxy, lube-proxy is broken
It is failing to list ipv6 ip

[code]

[code]

[2020-09-30 16:43] BenTheElder commented on #95185
It's not testing for an internet connection (which is not something k8s guarantees), it's testing for the upstream resolver functionality with the in cluster DNS.

IIRC in the kind IPv6 job where we don't have connectivity we just configure coreDNS to NXDOMAIN. cc @aojea

[2020-09-30 16:51] Nethminiromina commented on #53180
Life saver. Thank you @seemacalibrecode

[2020-09-30 17:22] asobti opened #95193 "Failing non-critical containers should not cause pod to be marked NotReady"
**What would you like to be added**:
The ability to mark a sidecar container as being non-critical such that if that container fails its liveness probe, Kubernetes restarts the container but does not mark the entire pod as NotReady. Similarly, if the container fails its ReadinessProbe, it should not affect the readiness status of the pod.

**Why is this needed**:
Our pods typically contain several

[2020-09-30 17:29] dbenoit17 commented on #95185
Would it be feasible to allow an override for this, to allow the upstream DNS to be specified by the user in an environment variable?

[2020-09-30 17:32] asobti commented on #95193
/sig api-machinery

[2020-09-30 17:35] aojea commented on #95185
/assign

[2020-09-30 17:37] alculquicondor commented on #95190
/remove-help

[2020-09-30 17:46] Huang-Wei commented on #95131
@adtac A data point FYI on how out-of-tree plugin uses the utilities in `DefaultPreemption`: https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/crossnodepreemption

[2020-09-30 18:57] cnmcavoy commented on #94861
I took a stab at implementing what I think is the correct behavior for kube-proxy in #95197.

[2020-09-30 20:02] adtac commented on #95131
@Huang-Wei ack. IIRC scheduler-plugins's release cycle is synced with k/k? So if this is the first out-of-tree plugin making use of defaultpreemption methods, we should be fine, yes?

[2020-09-30 20:03] jingxu97 opened #95199 "Unix domain socket cause crashes in Windows certain versions"
While testing GCE PD CSI driver for Windows, we noticed that it randomly crashes. The root cause is related to Windows unix domain socket. Based on information from Microsoft, the fix is release at this patch https://support.microsoft.com/en-us/help/4559004/windows-10-update-kb4559004. Need to update test Windows image version.

[2020-09-30 20:19] Huang-Wei commented on #95131
@adtac, it's one release behind, i.e., currently `master` branch of scheduler-plugins is vendoring k/k 1.19.x.

Yes, it should be good. scheduler-plugin will update the deps once 1.20 is cut.

[2020-09-30 22:05] erikwilson opened #95204 "Missing cadvisor machine metrics (v1.19)"
**What happened**:
prometheus cadvisor machine metrics from kubelet are missing
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
install k8s 1.19, compare behavior to k8s <1.19

**Anything else we need to know?**:
Looks like missing call to `NewPrometheusMachineCollector` in `pkg/kubelet/server/server.go`, machine metrics collection

[2020-09-30 22:11] erikwilson commented on #95204
/sig node
(hope that's the correct sig :)

[2020-09-30 22:23] yzhao1012 opened #95205 "No relevant error message when extra mounts failed"
**What would you like to be added**:

* Error message when mount extramounts should be more relevant

[code]

**Why is this needed**:

* Otherwise there is no clue on how to learn the root cause.

[2020-09-30 22:46] bergeron commented on #84081
In case it's useful for others, here are the swagger 2.0 specs I generated from k8s.io/api/admission.  I used these swagger specs to generate models for my controller's webhook callbacks:

- [k8s.io.api.admission.v1beta1.swagger.json](https://gist.github.com/bergeron/d6ec3d061e29f2289f4a2a6fa801bcc0)
- [k8s.io.api.admission.v1.swagger.json](https://gist.github.com/bergeron/70ca86cf31762e16f18b2be3

[2020-09-30 23:27] weinong opened #95211 "[1.19.0] Failed to make webhook authenticator request: converting (v1.TokenReview) to (v1beta1.TokenReview): unknown conversion"
**What happened**:
in [1.19](https://kubernetes.io/docs/setup/release/notes/#deprecation), `authentication.k8s.io/v1beta1` and `authorization.k8s.io/v1beta1` are deprecated in favor of `v1` levels. But the conversion should continue to work I suppose? Instead, when configured with authentication webhook, I see this error
[code]
this error goes away when I set `--authentication-token-webhook-versio

[2020-09-30 23:27] weinong commented on #95211
/sig auth

[2020-09-30 23:34] RobertKielty commented on #95068
Will close this for now and place this in the observing col on the [board](https://github.com/orgs/kubernetes/projects/11).

/close

[2020-09-30 23:35] #95068 closed

[2020-09-30 23:35] grosser commented on #94907
@yue9944882 / @lavalamp  this is about "loopback" requests (kube-controller-manager running on the same node and connecting via localhost)
the issue we saw was that traffic alone overloaded the api server and then it stopped doing etcd compaction and then the cluster fell over, so having the excempt request also count into the global rate-limit should have prevented that

the requests are caused b

[2020-09-30 23:35] RobertKielty commented on #95068
/close

[2020-09-30 23:39] grosser opened #95212 "controller-manager is throttled by the api-server even when it is excempt via flowcontrol"
in the controller-manager logs I can see lots of:
[code]
I checked the audit logs to make sure it has group `system:masters` and that also matches the `excempt` flowschema
[code]

so I don't understand why it is being throttled (flowschemas works fine for other things in our clusters)

also idk how I would even start debugging that since I cannot see which flowschema (if any) it ends up using

[2020-09-30 23:39] grosser commented on #95212
/sig api-machinery

[2020-09-30 23:40] grosser commented on #95212
... also label is more "support" and not bug (at least idk if that's a bug)

[2020-09-30 23:56] oomichi commented on #26895
I tried to reproduce this issue on Kubernetes v1.18.2 but the issue seems solved on the version.

The test sample YAML is
[code]
And the readinessProbe timeout works without being ignored:
[code]

[2020-10-01 00:17] bingbing8 opened #95213 "Error FailedGetResourceMetric is logged in events for test "Kubernetes e2e suite.[sig-autoscaling] [Feature:HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] ReplicationController light Should scale from 1 pod to 2 pods" on windows docker, process containerd, hyperv containerd server 2019 and server 2004"
**What happened**:
When upstream test (Kubernetes e2e suite.[sig-autoscaling] [Feature:HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] ReplicationController light Should scale from 1 pod to 2 pods) on windows, no matter on docker server 2019, process isolation on server 2019, 2004,hyperv isolation on server 2019, 2004. no matter tests passed or failed, most time there are e

[2020-10-01 00:21] bingbing8 commented on #95213
/sig Windows

[2020-10-01 00:30] bingbing8 opened #95214 "[Flaky] "pod not found" error in kubelet logs when trying the killing a pod in preemption and eviction scenarios in upstream tests. It randomly failed on docker, process isolation containerd, and hyperv isolation containerd runtime"
**What happened**:
Different preemption and eviction scenarios started failing on different platform and runtime classes on windows.
hyperv containerd on 2004: https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-2004-containerd-hyperv-serial-slow
process containerd on 2004: https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-2004-containerd-ser

[2020-10-01 00:35] bingbing8 commented on #95214
/sig Windows

[2020-10-01 00:48] bingbing8 opened #95215 ""Kubernetes e2e suite.[sig-windows] DNS should support configurable pod DNS servers" tests failed on docker, process isolated, hyperv isolated containerd environment"
**What happened**:
"Kubernetes e2e suite.[sig-windows] DNS should support configurable pod DNS servers" on different platforms, different runtime classes:
hyperv isolated containerd on 2019: https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-master-containerd-hyperv
process isolatedcontainerd on 2004: https://testgrid.k8s.io/sig-windows-containerd#aks-engine-azure-windows-2004

[2020-10-01 00:49] bingbing8 commented on #95215
/sig Windows

[2020-10-01 01:23] msau42 commented on #85624
/remove-lifecycle rotten

[2020-10-01 01:38] jayunit100 opened #95216 "weird output, Networking Granular Checks: Services should update nodePort: udp [Slow]"
**What happened**:

final passing output:
[code]

**What you expected to happen**:

Probably if this test passes, it should be showing several real endpoints.  I don't know exactly what it does, but im assuming that the output could be clarified a little.

**How to reproduce it (as minimally and precisely as possible)**:

run `sonobuoy run --e2e-focus="Services should update nodePort: udp"` and lo

[2020-10-01 01:39] jayunit100 commented on #95216
/sig-network

[2020-10-01 01:39] jayunit100 commented on #95216
/assign

[2020-10-01 01:39] jayunit100 commented on #95216
/triage accepted

[2020-10-01 01:39] Mr-Howard-Roark opened #95217 "Kubernetes 1.16 Ingress apiVersion networking.k8s.io/v1beta does not persist when resource is created"
**What happened**:
The 1.16 [deprecation doc](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/) advises to start using the apiVersion `networking.k8s.io/v1beta1` in place of `extensions/v1beta1`.  However, when I apply a basic ingress yaml file that uses that apiVersion and then output the subsequently created resource's yaml I see that the apiVersion switches back to `extensions/v1

[2020-10-01 01:48] Mr-Howard-Roark commented on #95217
/sig  usability
/committee @kubernetes/sig-usability-api-reviews

[2020-10-01 02:01] alexsandro-xpt commented on #44540
I have same issue in Digital Ocean.

[2020-10-01 03:31] neolit123 commented on #95205
hi, this appears to be a kind configuration feature request.
please open this issue in the kubernetes-sigs/kind repository.

/close

[2020-10-01 03:31] #95205 closed

[2020-10-01 03:34] neolit123 commented on #95216
^ @nikhita @justaugustus @mrbobbytables
an interesting case here was that `triage/accepted` was added but there was no SIG (typo in the `sig` command that @jayunit100 did). should the label `triage/accepted` be added only if there is `sig` label on the ticket?

/sig network

[2020-10-01 03:39] oomichi commented on #26895
Oops, my previous comment was wrong based on kind(Kubernetes in Docker) test.
This issue still happens on v1.18.9 of actual Kubernetes cluster.

Now https://github.com/kubernetes/kubernetes/issues/94080 is active issue and please see the issue instead of this.

[2020-10-01 03:40] nikhita commented on #95216
@neolit123 the PR that adds triage/accepeted automation (https://github.com/kubernetes/test-infra/pull/19272) was merged 3 hours ago, but it'll "actually" get rolled out in the next prow bump. Mostly when https://github.com/kubernetes/test-infra/pull/19412 merges.

Thanks for flagging though, appreciate it! :)

[2020-10-01 03:41] nikhita commented on #95216
sorry, missed the actual question! :woman_facepalming:

I don't think we should require a `sig/*` label for adding the `triage/accepted` label. In case someone comments with the following, we'd still want it to be valid.

[code]

[2020-10-01 05:36] knight42 commented on #95217
dup of https://github.com/kubernetes/kubernetes/issues/95100
/remove-kind bug api-change
/close

[2020-10-01 05:36] #95217 closed

[2020-10-01 06:14] ScrapCodes commented on #95173
Hello All, Last three consecutive builds have failed for this job, I wanted to learn or be coached on how to debug/deflake it.

[2020-10-01 06:58] yanivroz opened #95223 "PV size doesn't exactly match the actual disk size"
**What happened**:
local-static-provisioner generate a 975MiB capacity PV from a 1GiB disk (1024^3)

**What you expected to happen**:
local-static-provisioner generate a 1GiB capacity PV from a 1GiB disk (1024^3)

**How to reproduce it (as minimally and precisely as possible)**:
`root@node1:~# fallocate -l 1G /root/mydisk

root@node1:~# ls -l /root/mydisk
-rw-r--r-- 1 root root 1073741824 Oct  1 0

[2020-10-01 07:00] #95223 closed

[2020-10-01 07:21] aojea commented on #95185
This test verifies that there is connectivity against internet from a pod @BenTheElder , but I admit that, at first sight, I was thinking in the cluster DNS thing too

https://github.com/kubernetes/kubernetes/blob/89fdf5e7d3769aa9b826fba90fa08c414ef79d39/test/e2e/network/networking.go#L108-L112

@r4f4 The Azure problem was fixed by https://github.com/kubernetes/kubernetes/pull/77794

I do not thin

[2020-10-01 07:21] aojea commented on #95185
/remove-triage unresolved

[2020-10-01 07:43] MikeSpreitzer commented on #86862
/remove-lifecycle rotten

[2020-10-01 08:00] r4f4 commented on #95185
I guess if there is no Internet connection other tests will fail as a result. In that case, I think it's OK to skip.

[2020-10-01 08:17] jprzychodzen opened #95225 "[Failing][sig-network] Services should only allow access from service loadbalancer source ranges [Slow]"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-correctness

**Which test(s) are failing**:
[sig-network] Services should only allow access from service loadbalancer source ranges [Slow]

**Since when has it been failing**:
Constant failure from 2020-09-23

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness

**Reason for failure**:
From https://prow

[2020-10-01 08:18] jprzychodzen commented on #95225
/sig network

[2020-10-01 08:39] makkes commented on #95161
/sig network
/remove-sig multicluster

[2020-10-01 08:54] ScrapCodes opened #95226 "[Flaky Test] [sig-storage] Downward API volume should provide container's memory limit [NodeConformance] [Conformance]"
**Which jobs are flaking**:
node-kubelet-master
**Which test(s) are flaking**:
[sig-storage] Downward API volume should provide container's memory limit [NodeConformance] [Conformance] [cos-stable1]
[sig-storage] Downward API volume should provide container's cpu limit [NodeConformance] [Conformance] [ubuntu]

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#node-kub

[2020-10-01 08:56] ScrapCodes commented on #95226
/sig storage

[2020-10-01 09:00] aojea commented on #95185
Thanks for your understanding

/close

[2020-10-01 09:01] #95185 closed

[2020-10-01 09:10] aojea commented on #95225
/assign

[2020-10-01 09:36] gavinshark commented on #88091
Hi @julianvmodesto ,

Glad to see the server-side apply capability in client-go. This is just what our team is looking for right now.
Could you tell me if the feature has been added in current version(v0.19.0)?
If not, is there any ETA?

Thank you!

Best Regards,
Gavin

[2020-10-01 09:44] jprzychodzen commented on #95225
/priority critical

[2020-10-01 09:45] jprzychodzen commented on #95225
/priority critical-urgent

[2020-10-01 09:46] #92895 closed

[2020-10-01 09:49] adamtulinius commented on #93784
I can confirm 100% (not 200%) CPU core usage for each `kubectl drain` process.

[code]

[code]

Currently I'm draining four nodes in parallel (4x `kubectl drain ${host} --delete-local-data`), all four are waiting due to PDB's, and all are at 100% CPU most of the time.

I'll try with a newer kubectl next time.

[2020-10-01 09:57] aojea commented on #94997
let's aggregate all on https://github.com/kubernetes/kubernetes/issues/95225
, it is hard to track them otherwise
/close
as duplicate

[2020-10-01 09:57] #94997 closed

[2020-10-01 09:57] aojea commented on #94356
/close
as duplicate of https://github.com/kubernetes/kubernetes/issues/95225

[2020-10-01 10:16] aojea commented on #95225
ok, I think I got it,

[2020-10-01 10:24] kwiesmueller commented on #88091
Hey @gavinshark
we are still investigating the best approach to build a typed client.
If you want to look at the options we're considering, you can take a look at this document: https://docs.google.com/document/d/1K5rdbS-4tPgQezIy-M8ATo0yl_QXnYEWbHDfsI_QkKI/edit#heading=h.45j5nkz9or5v

Feel free to leave feedback on it or stop by on [our Slack Channel](https://kubernetes.slack.com/archives/C0123CN

[2020-10-01 10:31] ranand20 opened #95228 "k8s periodics-kubernetes-bazel unit test failing"
**Which jobs are flaking**:
periodics-kubernetes-bazel-test

**Which test(s) are flaking**:
 TestDevicePluginReRegistrationProbeMode (2.02s)

**Testgrid link**:

**Reason for failure**:
Unit test is failing for pkg/kubelet/cm/devicemanager/TestDevicePluginReRegistrationProbeMode with below error.
[code]
**Anything else we need to know**:
Test is flaking, so I have generated the same scenario be ru

[2020-10-01 10:36] aojea commented on #95225
so, it seems the 500 error is generated because it is using GenerateName, but ti has the pod.Name hardcoded

[2020-10-01 10:43] djha736 opened #95231 "Deployment failing due to ImagePullBackOff"
We have setup private registery using nexus on kubernetes cluster. we expose our registery on cluster ip for dedicated ip and we are able to pull push using docker. when i setup docker credentials for private registery using secrets, i am getting error as below
[code]

I have setup service account and again i am getting same error.
What's wrong i am doing here.
below is my deployment code
[code]

[2020-10-01 10:48] ranand20 commented on #95228
/sig testing

[2020-10-01 10:48] djha736 commented on #95231
/sig auth

[2020-10-01 10:54] TBBle commented on #82595
Since (looking at the [AWS SDK docs](https://docs.aws.amazon.com/sdk-for-go/api/service/elbv2/)) there is nowhere to include attributes in the [`c.elb.CreateLoadBalancer`](https://github.com/kubernetes/kubernetes/blob/ef33126cc7a60da6799821a49cc9772479e86cf7/staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go#L178)'s [`CreateLoadBalancerInput`](https://docs.aws.amazon.com/sdk-for-go/

[2020-10-01 10:57] TBBle commented on #81584
#82595 is this issue. It was accidentally closed by a related MR that didn't resolve the issue (it was fixing _health check_ annotation issues) and will hopefully be reopened soon.

[2020-10-01 10:59] jayunit100 commented on #39980
so, i just saw this and it was i. think because my kubeconfig was corrupted / incomplete. ...

[2020-10-01 11:28] rikatz commented on #93784
OK, so it seems to be related to PDB and Drain. I'll try to take a look into it, try to reproduce with the last supported clients.

Thank you for reportint!

/assign

[2020-10-01 11:33] jayunit100 opened #95232 "6KB log messages during networking Granular checks"
**What happened**:

We print out massive go structs during the granular network checks

**What you expected to happen**:

not print 7K log messages :)

**How to reproduce it (as minimally and precisely as possible)**:

run sonobuoy with
[code]

and you'll get this

[code]
in the logs :) !

**Anything else we need to know?**:
easy fix, will print out the pod json which is much more concise.

[2020-10-01 11:50] irfanurrehman commented on #95161
@jayunit100 given that the plugin which resolved the federated dns names has been removed from coredns (as pointed out by @pacoxu above). IMO there is no need for this test to exist here. I think you can please go ahead with this.
cc @pmorie @shashidharatd

[2020-10-01 12:08] adamtulinius commented on #93784
Thanks for looking into it!

And my apologies, I forgot to comment on this before:

Our cluster is deployed on bare metal on premise, so it's probably not EKS og GKE related.

[2020-10-01 12:23] Git-Jiro commented on #95052
Hi!
Did I understand the bug correctly?
For example 'NodeProxyOptions' is mentioned in swagger.json as "kind" but their rust generator complains, because 'NodeProxyOptions' is not mentioned in the definitions-section of swagger.json. Correct?

I have not yet found out how the OpenAPI generator code (vendor/k8s.io/kube-openapi/pkg/generators/ ?)
) decides which definitions go into swagger.json and

[2020-10-01 12:42] ricktbaker commented on #61486
This patch also works on EKS 1.14 as well

[2020-10-01 12:51] jayunit100 commented on #95232
/triage accepted

[2020-10-01 12:51] jayunit100 commented on #95232
/assign

[2020-10-01 12:51] jayunit100 commented on #95232
/sig network

[2020-10-01 12:58] rikatz commented on #93784
Is that possible you try draining with "disable-eviction" just to make sure PDB or eviction control is causing this?

Thanks!

[2020-10-01 13:28] adamtulinius commented on #93784
I found a newer kubectl lying around, so it's now v1.18.8 (1.17 didn't include `--disable-eviction` it seems)
[code]

I couldn't test on the same cluster, but I just drained a host from our staging env with a similar amount of pods to what we run in prod (~85 vs ~100), and _I think you're right_. CPU usage certainly didn't go above 20% at any point on any core, and that's basically background nois

[2020-10-01 13:49] andrewsykim commented on #88698
/remove-lifecycle rotten

I think this is being fixed in https://github.com/kubernetes/kubernetes/issues/95225

[2020-10-01 13:49] andrewsykim commented on #95225
So do we know if this is related to any single proxy mode or applies for all? Trying to figure out how it relates to https://github.com/kubernetes/kubernetes/issues/88698 & https://github.com/kubernetes/kubernetes/issues/94356 since those were only pertaining to IPVS.

[2020-10-01 13:59] rikatz commented on #93784
So my theory here is that kubectl keeps waiting for the node to drain and this is causing a high CPU usage. I'm also creating a cluster here to reproduce the behavior, and see what part of the code is this being caused

[2020-10-01 14:00] aojea commented on #95225
This is a new problem that affected the same test in all modes, it was not a network problem at the end
The ipvs one was flaky before this, I'll reopen it

[2020-10-01 14:00] #95225 closed

[2020-10-01 14:01] aojea commented on #94356
/reopen
this was affecting ipvs only before #95225, let's keep it open until we verify is not failing anymore

[2020-10-01 14:11] Mr-Howard-Roark commented on #95217
Ok, I think that is strange that the doc says to use that apiVersion for 1.16 even though apparently you cannot, and it is unexpected that the apiVersion gets swapped out without notifying the user that the apiVersion they're using isn't supported.

[2020-10-01 14:23] jsaguiar commented on #94429
same

[2020-10-01 14:33] rikatz commented on #93784
Confirmed here  :) Even in last kubectl v1.19.2 the problem happens. It seems also it's putting some pressure in API Server because of the amount of nodes vs PDB.

disable-eviction is a "workaround" not desired if using PDB

/remove-priority awaiting-more-evidence
/priority important-soon

[2020-10-01 14:58] jonasdebeukelaer commented on #88406
/remove-lifecycle stale

I still think this is an unintuitive behaviour and should be addressed

[2020-10-01 15:20] mpkonmbk opened #95237 "HPA won't work: FailedGetResourceMetric, confused by having two different deployments sharing the same name of a container"
**What happened**: I have added a Horizontal Pod Autoscaler to a Deployment, which had correctly specified resource requests, but the HPA did not work, issuing a message: `missing request for cpu`.

**What you expected to happen**: HPA to correctly read resource metrics and scale pods.

**How to reproduce it (as minimally and precisely as possible)**: Create two deployments - A and B, each with a

[2020-10-01 15:28] arghya88 commented on #95190
It seems if we change all of the fields from pointer to non pointer in kubernetes/pkg/scheduler/apis/config/types.go we also have do same change in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go#L158.

Otherwise the conversion fails

[2020-10-01 15:48] #95232 closed

[2020-10-01 15:49] alculquicondor commented on #95190
You have to call `make generated_files`

[2020-10-01 16:00] WLun001 commented on #95060
How about rollout command?

`kubectl rollout restart deployment [deployment_name]`

[2020-10-01 16:07] zshihang opened #95238 "plumb pod's service account token down to CSI drivers"
**What would you like to be added**:
plumb pod's service account token down to CSI drivers

**Why is this needed**:
see the `Motivation` and `User Stories` sections in https://github.com/kubernetes/enhancements/pull/1855

[2020-10-01 16:07] cbf123 commented on #93691
Did you happen to get anywhere with this?

[2020-10-01 16:16] zshihang commented on #95238
closing this in favor of https://github.com/kubernetes/enhancements/issues/2047

[2020-10-01 16:16] #95238 closed

[2020-10-01 16:58] aojea commented on #95149
Also, this is a big leap

do not know if that is supported

[2020-10-01 17:03] marosset commented on #95213
/area test

[2020-10-01 17:03] marosset commented on #95213
/area kubelet

[2020-10-01 17:21] Toasterson commented on #91570
/remove-lifecycle

[2020-10-01 17:23] Toasterson commented on #91570
/remove-lifecycle stale

[2020-10-01 17:25] oblogic7 commented on #77396
I think that some mechanism for reusing jobs would be very beneficial.  I have a use case where I need to execute a job each time a specific pipeline is executed.  Currently, the spec for this job must be customized for each environment since config maps and other dependent resources are changed by kustomize prefixing.  The job config cannot be included with kustomized configuration because I need

[2020-10-01 18:24] bingbing8 commented on #95215
This will be addressed by PR: https://github.com/kubernetes/kubernetes/pull/95150. close the issue.

[2020-10-01 18:24] #95215 closed

[2020-10-01 18:29] bingbing8 commented on #95213
@marosset , this seems a product issue instead of test issue. It is just easy repro by running a tests.

[2020-10-01 18:33] adtac commented on #92037
Unassigning myself as I don't think I'll have the time to work on this.

/unassign
/help

[2020-10-01 19:15] spiffxp commented on #94901
/reopen
Please don't "Fixes:" this issue via PR's

[2020-10-01 19:17] spiffxp commented on #94901
/triage accepted

/remove-good-first-issue
We are lacking a guide to ensure we consistently rename things, and I'm seeing a lot of blind s/master/instance which I believe is inappropriate

[2020-10-01 19:51] rikatz commented on #93784
I'm hitting my head in the wall here trying to figure out why the goroutine causes the peak of CPU usage, so anyone with better skills then me in Go, feel free to join :)

https://github.com/kubernetes/kubernetes/blob/v1.19.2/staging/src/k8s.io/kubectl/pkg/drain/drain.go#L244 is the function taking the whole CPU apparently

Will keep digging what part of this function is taking the whole CPU. When

[2020-10-01 20:14] fedebongio commented on #95193
/sig node

[2020-10-01 20:15] fedebongio commented on #95212
/assign @cheftako @cici37 @jiahuif
/cc @lavalamp @rngy @yliaog

[2020-10-01 20:19] lavalamp commented on #95212
That's client-side throttling -- you need to adjust the client side qps limit. Should be possible either via flag or kubeconfig file.

[2020-10-01 20:20] grosser commented on #95212
awesome, thx!

[2020-10-01 20:20] #95212 closed

[2020-10-01 20:43] #92731 closed

[2020-10-01 21:05] bridgetkromhout commented on #95170
/assign @caseydavenport

[2020-10-01 21:06] bridgetkromhout commented on #95161
/assign @jayunit100

[2020-10-01 21:06] bridgetkromhout commented on #95149
/assign @aojea

[2020-10-01 21:10] robscott commented on #95149
Kubernetes requires upgrading one minor version at a time. Upgrading from 1.16 to 1.19 directly can cause a number of issues. One key problem could be that EndpointSlices were alpha/not on by default in 1.16 and gradually enabled over the next few releases. https://kubernetes.io/docs/setup/release/version-skew-policy/#kube-apiserver

[2020-10-01 21:11] bridgetkromhout commented on #95147
/assign @lachie83

[2020-10-01 21:12] bridgetkromhout commented on #95139
/assign @thockin

[2020-10-01 21:13] bridgetkromhout commented on #95133
/assign @bowei

[2020-10-01 21:13] lachie83 commented on #95147
Hi @prco5 - please take a look at the following document that should point you in the right directions. https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#manually-constructing-apiserver-proxy-urls

[2020-10-01 21:13] bridgetkromhout commented on #95072
/assign @robscott

[2020-10-01 21:13] lachie83 commented on #95147
/close

[2020-10-01 21:13] #95147 closed

[2020-10-01 21:14] bridgetkromhout commented on #95070
/assign @rikatz

[2020-10-01 21:15] bridgetkromhout commented on #94940
/assign @robscott

[2020-10-01 21:16] bridgetkromhout commented on #94861
/assign @thockin

[2020-10-01 21:35] rcny commented on #38532
Is it possible to get events for a pod when it becomes ready or not ready? Liveness probe has it's `Killing` event in case of reaching probe's `failureThreshold`, but what about readiness probe?

[2020-10-01 22:02] 2rs2ts commented on #20165
What about rotating the CA for the signing keys? Has that been thought through?

[2020-10-01 22:08] lavalamp commented on #95212
Let us know if that doesn't fix it :)

(this was super hard to find at all before we added the log message :) :) )

[2020-10-01 22:09] thockin commented on #95139
I am not surprised that the intersection of 2 alpha features breaks.  The good news (?) is that topology is going to get more automatic, so the API parts will matter less.

The bad news is that this issue is unlikely to get fixed in the near term, unless someone steps up to debug it,

I'll leave this open as a bug

/kind bug
/triage accepted

[2020-10-01 22:10] robscott commented on #94940
Hey @mehdihadeli, Ingress is a bit unique here as it's a Kubernetes API without a core/standard implementation. So on an issue like this we can only answer what the field is supposed to be used for, not what a specific controller is actually using it for. With that said, the IP field comments state that `IP is set for load-balancer ingress points that are IP based`. (https://github.com/kubernetes/

[2020-10-01 22:11] #94940 closed

[2020-10-01 22:21] grosser commented on #95212
I'll just leave it alone for now, I thought we had flowcontrol
misconfigured, so I wanted to track that down ... but if the
controller-manager decides that it should back-off then I'm ok with that :)

On Thu, Oct 1, 2020 at 3:09 PM Daniel Smith <notifications@github.com>
wrote:

[2020-10-01 22:36] lavalamp commented on #95212
Yeah, the end goal of this is to make controller manager stop backing off, it can't really make a good decision about that. :)

[2020-10-01 23:12] painhardcore commented on #91552
@caesarxuchao any comments about this issue?

[2020-10-01 23:20] liggitt commented on #20165
the service account keys are simple JWTs, verified by a set of public keys; there's no CA involved

[2020-10-01 23:40] lavalamp commented on #94907
Oh... You have controller manager using the insecure port?

I recommend stopping that as soon as possible, it's being removed soon (actually I thought it was already).

In general you don't want controller manager, scheduler, etc sending exempt requests-- protecting the system from them is a large part of this feature's purpose :)

It's specifically re-entrant webhook requests (i.e., 3 in this cha

[2020-10-01 23:50] kfox1111 commented on #20165
True, but still could be useful to allow updating the signing keys?

[2020-10-02 00:13] grosser commented on #94907
We plan to switch that to the scure loopback (avoid going over the network
/ stay local)
... that's correct or is there some other guidance on that ?

On Thu, Oct 1, 2020 at 4:40 PM Daniel Smith <notifications@github.com>
wrote:

[2020-10-02 00:16] lavalamp commented on #94907
Yeah, that's fine.

On Thu, Oct 1, 2020 at 5:13 PM Michael Grosser <notifications@github.com>
wrote:

[2020-10-02 00:37] #94168 closed

[2020-10-02 00:52] knabben commented on #94918
/assign

[2020-10-02 00:52] knabben commented on #94918
/close

[2020-10-02 00:53] #94918 closed

[2020-10-02 01:33] liggitt commented on #95211
token webhooks must respond with the same version they were sent. is your webhook responding with v1?

[2020-10-02 01:35] liggitt commented on #95211
Fallback to reflect-based conversions was removed in 1.19 because they are lossy and mask missing field conversions. There is no defined conversion directly from v1beta1 to v1 TokenReview objects

[2020-10-02 01:39] liggitt commented on #95192
Agreed, this is a pretty harmless warning

[2020-10-02 01:39] #95192 closed

[2020-10-02 01:44] weinong commented on #95211
yes. it used to work.

is it documented in release note? besides, should `--authentication-token-webhook-version` default to `v1`?

[2020-10-02 01:46] fkpwolf commented on #95149
@aojea @robscott I upgraded from 1.16->1.17>1.18->1.19 in one day. Mabye something wrong in this fast upgarde. I am curious that kube-proxy has synced Service successflly but failed on Endpoint. And there is no error in it's log.

[2020-10-02 02:05] stefanlasiewski commented on #94754
Just FTR: This is happening to me as well with Ubuntu 18.04 and Kubernetes 16.13.

Unfortunately, I can't just upgrade from Ubuntu 18 -> 20 to fix one bug.

[2020-10-02 02:18] Shuanglu commented on #94754
you may add the source list of ubuntu 20.04 focal to your repo list and upgrade the iptable i think

[2020-10-02 02:31] stefanlasiewski commented on #94754
Right, and that workaround might be okay for some people. Mixing OS versions isn't a good idea generally, especially for something as critical as `iptables`. We want to stick with something solid and tested.

If I find the cause on my system, I'll post here FTR.

Seems that Docker itself also has this problem: https://github.com/moby/moby/issues/40428

[2020-10-02 02:45] sakaia commented on #52757
I hope  sharing GPU to multiple container is supported.
Currently NVIDIA A100 (MIG) is support spliting to 7 for kubernetes device plutin, but more granular is not supported.
Also other GPU does not support sharing GPU for kubernetes device plugin.

Ref.
https://github.com/NVIDIA/k8s-device-plugin/issues/180

[2020-10-02 03:58] liggitt commented on #95211
Then configuring the API server to send/expect v1 is the correct change to make.

The 1.19 release notes called out removal of reflect-based conversions:

No, it remains at v1beta1 for backwards compatibility with webhooks configured before v1 was an option

[2020-10-02 03:58] #95211 closed

[2020-10-02 06:37] #90986 closed

[2020-10-02 06:50] silenceper commented on #95237
@mpkonmbk  What version of metrics-server are you using?

The metrics-server version I use is 0.3.3 and the Kubernetes version is 1.13, which works fine for me .

[2020-10-02 06:55] silenceper commented on #95237
@mpkonmbk  What version of metrics-server are you using?

The metrics-server version I use is 0.3.3 and the Kubernetes version is 1.13, which works fine for me .

[2020-10-02 06:56] mpkonmbk commented on #95237
@silenceper it's 0.3.6 on both

[2020-10-02 07:00] silenceper commented on #95237
Can you post your two Deployment  and hpa yamls ?

[2020-10-02 07:08] aojea commented on #94967
This keeps failing
https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs

[2020-10-02 07:24] a-b-v opened #95249 "Wrong psp assigned to single pod"
**What happened:**
During add a pod from manifest or with "kubectl run" in cluster with psp enabled, pod assigned to wrong psp with allowPrivilegeEscalation: true.

**What you expected to happen:**
Will be assigned psp for system:authenticated group

**How to reproduce it (as minimally and precisely as possible):**
- Enable psp in cluster
- assign psp with next spec to system:authenticated group
[

[2020-10-02 07:24] mpkonmbk commented on #95237
I am posting the YAMLs I have used to reproduce the issue locally in a minikube cluster:

`nginx.yaml`
[code]

`nginx-with-requests.yaml`
[code]

[code]

[2020-10-02 07:27] silenceper commented on #95237
try
[code]
what the error message?

[2020-10-02 07:30] mpkonmbk commented on #95237
[code]

[2020-10-02 07:38] a-b-v commented on #95249
label:kind/bug

[2020-10-02 07:39] a-b-v commented on #95249
/sig kind/bug

[2020-10-02 07:51] silenceper commented on #95237
In fact, when hpa obtains pod resource data, it is selected through labels.Selector, so although you have created two deployments with different names, the labels are the same.

https://github.com/kubernetes/kubernetes/blob/75250ebeee8724887454f2a1c84fdd32832da8c2/pkg/controller/podautoscaler/metrics/interfaces.go#L42

You need to use different labels to distinguish the two deployments

[2020-10-02 07:55] a-b-v commented on #95249
/sig bug

[2020-10-02 07:57] silenceper commented on #95231
try this:
[code]

and can docker pull manual？
[code]

[2020-10-02 08:49] tamalsaha opened #95250 "CRD: bad map key type: map keys must be strings"
**What would you like to be added**:

We are using Kubebuilder/controller-tools to generate YAMLs for CRDs. We see that it does not allow any maps without string as key.

https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/markers/parse.go#L609-L613

**Why is this needed**:
I am trying to use kubebuilder to generate CRD YAML for VPA. But it uses `map[int]uint32` as seen here:
https

[2020-10-02 08:50] tamalsaha commented on #95250
/sig apimachinery
/area custom-resources

cc: @sttts @@bskiba

[2020-10-02 08:50] tamalsaha commented on #95250
/sig api-machinery

[2020-10-02 09:00] mpkonmbk commented on #95237
After adding distinct labeling to both `metadata` and `spec`, the metrics has been picked up

[2020-10-02 09:00] #95237 closed

[2020-10-02 09:09] yves-vogl commented on #75402
The solution is to use multiple ASGs 👍

[2020-10-02 09:13] tamalsaha commented on #95250
This seems like a restriction of CRD structural schema

https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190425-structural-openapi.md

[2020-10-02 09:22] a-b-v commented on #95249
/sig apps

[2020-10-02 09:27] nodo commented on #94168
@liggitt I think that we don't need to change https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#request anymore now.

Do you know if there are other places where I should look?

[2020-10-02 10:49] liggitt commented on #95250
Yes, map keys must be strings. It is also a restriction of JSON serialization, which only supports strings as map keys

[2020-10-02 10:49] #95250 closed

[2020-10-02 11:00] uablrek opened #95251 "DualStack: Ip family of status.podIP can be wrong depending on CNI-plugin"
### Ip family of status.podIP can be wrong depending on CNI-plugin

**What happened**:

The `status.podIP` is taken from `status.podIPs[0]` without regard for the main family of the cluster. No warning or error is given if `status.podIP` gets the wrong family.

**What you expected to happen**:

That `status.podIP` is taken from the "main" ip family, or at the very least the POD is not started and

[2020-10-02 11:01] uablrek commented on #95251
/sig network

[2020-10-02 12:40] sylr commented on #87137
This seems to be resolved.

[2020-10-02 12:40] #87137 closed

[2020-10-02 13:16] uablrek commented on #95251
For the record;
all communication via services works perfectly fine even if the order in `podIPs` is "faulty" with `podIPs[0]` _not_ belonging to the main family in k8s > v1.18.8.

[2020-10-02 13:51] derekwaynecarr commented on #95188
@TeddyAndrieux thanks for the report.  I suspect the `reconcileExtendedResource` function possibly has the same bug.  I suspect this was introduced when we added support to handle dynamically allocated hugepages rather than pre-allocated.  If you can open a PR, and ping when ready, I would be happy to help get a fix and we can backport.

[2020-10-02 14:23] #95122 closed

[2020-10-02 14:36] aojea commented on #95251
because the endpoint checks that the ips matches the service ip family,
https://github.com/kubernetes/kubernetes/blob/112dbd55860e600af525cedc255f2664e3f286aa/pkg/controller/endpoint/endpoints_controller.go#L217-L235

[2020-10-02 14:48] viniciusd commented on #24725
Jobs are immutable, I need a run-to-completion that can be shot again and again whenever I want.

[2020-10-02 15:18] fasaxc opened #95255 "New Fields machinery makes kubectl unusable"
**What happened**:

Since the Fields API was added, now every object inherits a huge blob of JSON-encoded data . This make `kubectl` really hard to use; if I try to examine the YAML of a small resource, it's completely dwarfed by all the new metadata and the content is lost.

**What you expected to happen**:

Fields should be a separate, optional resource that only tools should care about.  `kubec

[2020-10-02 15:18] fasaxc commented on #95255
/sig cli

[2020-10-02 16:06] liggitt commented on #95211
clarified docs in https://github.com/kubernetes/website/pull/24349

[2020-10-02 16:07] liggitt commented on #94168
yeah, I think we're good now. thanks for helping identify and clean this up

[2020-10-02 16:14] YiannisGkoufas commented on #70505
Hi everyone, apologies if I am missing some of the context. While implementing a CSI plugin, I noticed that the readonly value of
[code]
is false, even though the PVC is mounted as readonly in the pod
[code]
I am missing something? apologies if I am commenting on the wrong issue

[2020-10-02 16:15] YiannisGkoufas commented on #70505
Maybe this one? https://github.com/kubernetes/kubernetes/issues/61008 ?

[2020-10-02 17:03] adambkaplan opened #95257 "code-generator: Generation fails if --go-header-file flag is not set"
**What happened**:

When running the code generator (version v0.18.9), not providing the `--go-header-file` flag results in the following error:

[code]

**What you expected to happen**:

Code generation succeeds without providing a header file.

**How to reproduce it (as minimally and precisely as possible)**:

Run the code generator against the CRD example [1], without providing the `--go-header

[2020-10-02 17:04] adambkaplan commented on #95257
/sig api-machinery

[2020-10-02 17:04] adambkaplan commented on #95257
/area code-generation

[2020-10-02 17:14] #93209 closed

[2020-10-02 17:15] ZhiFeng1993 commented on #94901
/cc

[2020-10-02 17:48] #87554 closed

[2020-10-02 17:48] #89362 closed

[2020-10-02 17:48] #90765 closed

[2020-10-02 17:54] kinghrothgar opened #95258 "Conntrack table not flushed for UDP hostPort when pod deleted"
**What happened**:
Restart daemonset with UDP hostPort. All UDP traffic to new ds pods from existing pods fails. Flushing conntrack table fixes it. I saw this issue with 1.14 and it seems to be the exact same issue as here https://github.com/kubernetes/kubernetes/issues/66651. It was fixed in 1.15 and now I'm seeing it again in 1.16.

**What you expected to happen**:
hostPorts to work across Pod r

[2020-10-02 18:41] njam commented on #74414
I assume the problem is that "Namespace" is a non-namespaced resource, and therefore is not filtered by namespace, so gets deleted by "prune".

As a workaround it's possible to manually pass a `--prune-whitelist` (whitelist of resources allowed to be deleted), and _not_ include "Namespace" in it:
[code]
The list of resources is taken from [here](https://github.com/kubernetes/kubectl/blob/release-1

[2020-10-02 18:48] roycaihw commented on #95052
Trying to break down https://github.com/Arnavion/k8s-openapi/blob/master/k8s-openapi-codegen/src/fixups/upstream_bugs.rs

### [connect_options_gvk](https://github.com/Arnavion/k8s-openapi/blob/0b986e156511f5d4dcf7577cf3905aaa8641cf0c/k8s-openapi-codegen/src/fixups/upstream_bugs.rs#L5-L9):

Path operation annotated with a "x-kubernetes-group-version-kind" that references a type that doesn't exist i

[2020-10-02 19:26] Git-Jiro commented on #95052
Hi!
The nice thing about the Rust issue is that they also referenced the PR that introduced the change they try to fix: https://github.com/kubernetes/kubernetes/pull/66807

Maybe this helps in deciding how to properly address this issue?

[2020-10-02 19:40] SergeyKanzhelev commented on #94256
Some investigation results so far:

Looked at the failure [from 9/18](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1306926364007337984).

Error is the same from the stdout output. So it failed to create NetProxy pods [here](https://github.com/kubernetes/kubernetes/blob/3536a488e62a345b000a9c0ec5011ed853620703/test/e2e/framework/network/utils.go#L734)

[2020-10-02 19:43] MikeSpreitzer commented on #94123
I recently had some instances where this would have helped.  I was getting mysterious connection closures and mysterious EOFs.  It would have helped a lot to be able to look at the http/2 layer of the traffic.

[2020-10-02 19:47] bswartz commented on #94929
I think we can do that, but only with a change to the CSI spec wording, because the current implication is that should not be necessary.

[2020-10-02 20:07] vinayvenkat commented on #94301
/assign

[2020-10-02 20:27] #94121 closed

[2020-10-02 20:28] howardjohn opened #95262 "informers: allow some way to tweak syncedPollPeriod"
**What would you like to be added**:

Currently our tests call this code very often:
[code]

where the informer is backed by a fake client.

While the informer gets synced super quick (under 1ms), it is virtually never synced on the first call to WaitForCacheSync. This triggers a 100ms backoff. This adds up significantly in our testing as we call this 100s of times.

What I would like is **some**

[2020-10-02 20:29] howardjohn commented on #95262
/sig api-machinery

[2020-10-02 20:33] howardjohn commented on #95262
I realize this is not a super important problem, but it has a non trivial impact. By simply adding a 5ms delay before we wait for the sync, we sped up our test times from 25s to 2s.

[2020-10-02 20:37] JonathanRRogers commented on #81089
I should have replied earlier that I adopted your idea and wrote a shell script which syncs files from one volume mount to another, getting gid, uid and mode: https://gist.github.com/JonathanRRogers/85ded108d92297cf44f2be58c2ba0f7b

[2020-10-02 20:56] Git-Jiro commented on #95052
Hi!
After reading this part of the documentation: https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#manually-constructing-apiserver-proxy-urls, my current theory is that PR #66807 contained changes that were not necessary to make PR #66807 work, but those changes broke the API spec.

[2020-10-02 21:29] MarioAllegro opened #95264 "Single master does not get ready"
**What happened**:
The master node does not show ready anymore. Maybe that happend after an failed update (downloaded kubeadm and kubelet in a way too high version)

`s-rtk8s01     Ready                         Node     2y120d   v1.14.1
s-rtk8s02     Ready                         Node     2y173d   v1.14.1
s-rtk8s03     Ready                         Node     2y174d   v1.14.1
s-rtk8s04     Ready

[2020-10-02 21:53] aojea commented on #94861
@cnmcavoy I think that another option is to set `nf_conntrack_tcp_be_liberal`

[code]

[2020-10-02 22:46] roycaihw commented on #95052
Reading [getRequestOptions](https://github.com/kubernetes/kubernetes/blob/f5743093fd1c663cb0cbc89748f730662345d44d/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/rest.go#L160-L161), these proxy options are query parameters only (not body parameters), so they are not consumed. It's unlikely for them to be produced as well.

@Git-Jiro Thanks. I didn't notice the linked PRs. Reading https://gith

[2020-10-02 22:47] bingbing8 commented on #95214
/area test

[2020-10-02 22:49] valentin2105 commented on #94335
I got the same issue with latest stable Docker on Debian (btrfs) and k8s v1.19.2.

[2020-10-02 22:53] #90766 closed

[2020-10-02 23:18] bingbing8 commented on #95214
/area kubelet

[2020-10-02 23:38] neolit123 commented on #95264
hi, this version is no longer support. please try 1.17+.
also this seems like a request for support, please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind triage
/close

[2020-10-02 23:39] #95264 closed

[2020-10-02 23:39] neolit123 commented on #95264
/kind support

[2020-10-02 23:41] neolit123 commented on #95258
/sig network

[2020-10-03 00:00] thockin commented on #88253
I'd entertain a KEP to add namespace names list

On Wed, Sep 30, 2020 at 8:01 AM jay vyas <notifications@github.com> wrote:

[2020-10-03 00:12] rikatz commented on #88253
We're on it Tim :)

The subproj will submit the issue and the Kep on monday!

Thank you!

[2020-10-03 00:13] 2rs2ts commented on #88293
/remove-lifecycle stale

[2020-10-03 01:29] verult opened #95268 "Specific error status codes for volume operation metrics"
Tracking issue for the TODO below:

https://github.com/kubernetes/kubernetes/blob/ca5babc1da4f02998ceab90e3d2de57614069c45/pkg/volume/util/metrics.go#L99-L103

/sig storage
/cc @msau42

[2020-10-03 06:01] #84040 closed

[2020-10-03 06:16] bharath-123 commented on #95262
Hi @howardjohn. I would like to pick this issue up and submit a PR. As a first time contributes to k8s, this seems like a reasonable place for me to start! :)

[2020-10-03 06:45] mitar commented on #69637
/remove-lifecycle stale

[2020-10-03 07:03] mamiu commented on #9995
@liggitt @wojtek-t @dims @justaugustus (Sorry for mentioning you all, I just randomly picked still active contributors.)

1. Who is able to reopen this issue?
2. If this is not intended, who is able to give us a solid explanation why this won't be changed/"fixed"? (As requested in the comment above)

If you're not responsible for this part of k8s, but know who is, please include that person in thi

[2020-10-03 07:57] wendaotao commented on #60807
# sudo kubectl get ns
NAME                   STATUS        AGE
cattle-global-data     Terminating   8d
cattle-global-nt       Terminating   8d
cattle-system          Terminating   8d
cert-manager           Active        8d
default                Active        10d
ingress-nginx          Terminating   9d
kube-node-lease        Active        10d
kube-public            Active        10d
kube-system

[2020-10-03 09:02] fujitatomoya commented on #86539
/lifecycle stale

[2020-10-03 10:04] #90589 closed

[2020-10-03 14:08] #80633 closed

[2020-10-03 14:18] xing-yang commented on #91702
This is fixed.

[2020-10-03 14:18] xing-yang commented on #91702
/close

[2020-10-03 14:18] #91702 closed

[2020-10-03 15:15] liggitt commented on #9995
@thockin can reopen it if desired and has good context on why it would be a good or bad idea to do so. Adding this topic to the next sig-network agenda would be a good way to discuss it

[2020-10-03 15:24] liggitt commented on #95249
/remove-sig apps
/sig auth

Your cluster admin user is authorized to use both PSP policies. When multiple PSP policies are allowed, ones that do not require changing the pod being created are preferred.

The pod spec you are applying does not run as non-root. That means that using the PSP that does not allow escalation would require mutating the pod spec during creation.

That is why the privilege

[2020-10-03 15:24] #95249 closed

[2020-10-03 15:25] liggitt commented on #95255
Thanks for the report. Closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/90066

[2020-10-03 15:25] #95255 closed

[2020-10-03 15:29] liggitt commented on #95251
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/94505

CNI plugins must report multiple IPs in the order expected by the cluster. The podIPs[0] == podIP requirement is for backwards compatibility with clients that do not read podIPs. Server-side reordering causes problems with clients that continually write/reconcile until the server list exactly matches their local

[2020-10-03 15:33] mamiu commented on #9995
@liggitt Thanks for your quick response!

Can you include it to the sig-network agenda (or if I am able to do that too, how can I add this topic to it)?

[2020-10-03 15:43] liggitt commented on #9995
The time and agenda info is at https://github.com/kubernetes/community/tree/master/sig-network

Joining the kubernetes-dev or kubernetes-sig-network mailing lists should get you access to those

[2020-10-03 15:46] mamiu commented on #9995
Thanks, I'll do that.

[2020-10-03 16:43] uablrek commented on #95251
The problem exist in single-stack K8s clusters when PODs has dual addresses (supported since K8s v1.9, i.e way before K8s dual-stack which came in v1.16)

And this issue is not a duplicate of #94505. That issue is about a problem when the CNI-plugin uses the "correct" order. This issue is about the fact that K8s puts undocumented requirements on the CNI-plugins. There is no requirement on order in

[2020-10-03 16:54] liggitt commented on #95251
The reason podIP must match podIPs[0] is related to **updates** to an existing object by an old client. See https://github.com/kubernetes/kubernetes/pull/88505 for a related problem when this was not done.

* An old client updated an existing object, setting only the podIP field (which is the only one it was aware of).
* The API server needed to detect that and populate the podIPs field correctly

[2020-10-03 16:54] jayunit100 commented on #95216
The above test cleans up the By directives and so on,

After reading through the test more its clear that every test

- sets up a scaffold
- measures a property of that scaffold
- sometimes deletes something that is recovered in that scaffold (i.e. a pod that is behind a UDP service)

So, the thing that was confusing I guess to me is that we validate empty conditions (i.e. no pods available) once

[2020-10-03 17:08] striver619 opened #95279 "Error: Package: kubelet-1.19.2-0.aarch64 (kubernetes)"
[code]

[code]

## I'd like to know how to solve the Error, could you please help me?

[2020-10-03 17:26] striver619 commented on #95279
@k8s-ci-robot  thank you!

[2020-10-03 17:28] liggitt commented on #95279
/sig release

[2020-10-03 17:32] striver619 commented on #95279
@liggitt  what do you mean? could you please help me?

[code]

[2020-10-03 17:41] liggitt commented on #95279
[sig-release](https://github.com/kubernetes/community/tree/master/sig-release) is responsible for packaging and artifacts, I'm routing it to the responsible owners

[2020-10-03 17:45] striver619 commented on #95279
thank you!

[2020-10-03 18:01] liggitt commented on #95262
You can pass in a closed channel and get an immediate return value with the list of synced informers and poll at your own desired interval like this:

[code]

[2020-10-03 18:47] mattmoor opened #95280 "Create a "group" for accessing webhooks via kubectl"
**What would you like to be added**:

Adding a "webhooks" group to kubectl to show mutating/validating webhooks would be super useful

[code]

**Why is this needed**:

There are a few reasons this is useful (to me):
1. I often cannot remember the right names for these resources,
2. They are very long and I often have a typo
3. I often want to enumerate all of them on the system.

cc @soltysh

[2020-10-03 18:47] mattmoor commented on #95280
/sig cli

[2020-10-03 19:50] joonas commented on #95280
I think this is a great idea, definitely something I could've used in the past.

I'd be interested in taking a pass at implementing this if the proposal gets accepted.

[2020-10-03 20:07] #92383 closed

[2020-10-03 20:15] LookImHigh commented on #94602
Yes

[2020-10-03 20:31] george-angel commented on #85643
/remove-lifecycle stale

[2020-10-03 22:02] yashvardhan-kukreja commented on #95193
This seems like a really sensible enhancement. I would like to implement this if this gets approved to be worked upon :)

[2020-10-03 22:03] yashvardhan-kukreja commented on #95193
/assign

[2020-10-03 22:28] jingxu97 commented on #81690
In in-tree gce pd driver, run Write-VolumeCache to flush data before unmountdevice.
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/util.go#L654

[2020-10-03 22:31] dnoland1 commented on #90770
/remove-lifecycle stale

[2020-10-03 22:53] #92913 closed

[2020-10-04 01:35] segevfiner commented on #84210
/remove-lifecycle stale

[2020-10-04 02:05] #91425 closed

[2020-10-04 02:26] liggitt commented on #95228
is this a duplicate of https://github.com/kubernetes/kubernetes/issues/94528 and https://github.com/kubernetes/kubernetes/issues/94547 ?

[2020-10-04 02:28] liggitt commented on #95231
how did you create the `myregistrykey` secret?

[2020-10-04 03:40] sadortun commented on #75065
@everyone, is it possible to have an update on this ? Its causing us headaches!

[2020-10-04 03:59] coffeepac commented on #94429
I've pushed a change to the stateful set that should unblock people as there was a 1.18 compatibility problem.

however, please make sure you are also creating the service via `kubectl apply -f es-service.yaml`, the discovery program finds the other elasticsearch nodes via service registration.

[2020-10-04 07:55] Kyle-Cooley commented on #88097
I'm noticing that the garbage collection code has an `absentOwnerCache` that does not appear to be namespace scoped. I was running into this same issue, and had a couple of owners references on cluster scoped resources that were invalid (pointed at a namespace scoped resources). I observed the namespace scoped resources with valid owners references were also being deleted even though the owner sti

[2020-10-04 08:24] Shahard2 commented on #79610
@liggitt
Joining the question...
It's flooding the kube-controller logs

[2020-10-04 09:19] bpineau opened #95288 "Failed nodes checks when their Azure VMSS was deleted"
**What happened**:

We saw several occurrences of kube-controller-manager failing to check a k8s node existence after we deleted that node's parent VMSS (and by extension, cloud instance). The leaked `NotReady` k8s nodes remained present in the cluster until manually deleted. Cloud provider retries caused a VMSS VMs API call surge, degenerating in hard throttling for the whole subscription.

In th

[2020-10-04 09:27] #90829 closed

[2020-10-04 09:37] #94429 closed

[2020-10-04 10:28] #87797 closed

[2020-10-04 10:52] ahg-g commented on #94008
@hprateek43 are you still interested in doing this one? for this release we need to

- PR1: introduce v1beta2
  - copy `https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kube-scheduler/config/v1beta1` to `https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/kube-scheduler/config/v1beta2` and modify the package name to v1beta2 and update the [SchemeGroupVers

[2020-10-04 10:54] ahg-g commented on #94008
actually you can do the two steps above in one PR.

[2020-10-04 10:55] hprateek43 commented on #94008
I can pick this up

[2020-10-04 11:04] ahg-g commented on #94008
Sg, let's do it in separate PRs so that the second one include the deprecation notice in the release notes.

[2020-10-04 11:33] ialidzhikov commented on #86753
/remove-lifecycle stale

[2020-10-04 12:24] ialidzhikov commented on #88613
/remove-lifecycle stale

[2020-10-04 12:47] alexykot commented on #57291
/remove-lifecycle stale

[2020-10-04 13:21] liggitt commented on #88097
That fix is in progress in https://github.com/kubernetes/kubernetes/pull/92743

[2020-10-04 13:36] huang-jy commented on #90519
Still active

[2020-10-04 14:25] gavinshark commented on #88091
Hi @kwiesmueller

Thank you for your quick reply.
Kind to see a unstructured types' example in your convenience.

(We want a simple way to upgrade from agent-v1 version to agent-v2 version.
We have namespace-v1.yaml, cluster-role-v1.yaml, deployment-A-v1.yaml and configuremap-v1.yaml now.
And we **may** have namespace-v2.yaml, cluster-role-v2.yaml, deploymet-A-v2.yaml, configuremap-v2.yaml and dep

[2020-10-04 14:34] surajrana93 commented on #93100
Need help on one of those?

[2020-10-04 15:34] #87738 closed

[2020-10-04 16:23] filipre commented on #65797
I believe it is already implemented and all but the PR can't be merged because the KEP (?) is still missing?

[2020-10-04 17:06] boddumanohar commented on #92299
@pawanpraka1 which cloud provider are you using? I am trying to reproduce this. A little knowledge about would be helpful. Can you also please point me to the driver I should use to reproduce?

[2020-10-04 19:31] seanho00 commented on #94335
I confirm the same issue shows up with `/var/lib/kubelet` on btrfs (on LVM on LUKS, Debian buster), running k3s.  No btrfs subvols.

The workaround works for me; for k3s I also need to bind mount `/var/lib/rancher`.  I did not experience this issue with 1.18.

[2020-10-04 20:01] EvgenyKhaliper opened #95290 "How to get client ip in Kubernetes hosted application?"
Hi,

I have an application made of a few microservices. UI has is served via Nginx and accesses the API via reverse proxy. This is a local Kubernetes deployed with Rancher.

UI service is NodePort so I can access it outside of the cluster and API can be either NodePort or ClusterIP. In API microservice there is an IP logger that always shows the IP of the Node on which the UI is deployed, no matte

[2020-10-04 20:38] #74265 closed

[2020-10-05 00:43] #90866 closed

[2020-10-05 01:17] #95288 closed

[2020-10-05 01:22] dnoland1 commented on #22650
/reopen

[2020-10-05 02:41] mortent commented on #95083
/assign
@seh I agree with your analysis here. Are you interested in making a PR to fix it?

[2020-10-05 04:26] jeisen commented on #85643
This issue also causes a problem just using HPA for ingress-nginx with externalTrafficPolicy: Local and the GCP Load Balancer. If there is a spike in traffic that causes the deployment to scale up, it means we will very often see traffic timing out once the traffic dies down and HPA scales down those pods, assuming it happened to be the last pod on a node. The healthCheckNodePort response correctl

[2020-10-05 05:43] yqwang-ms commented on #83725
/remove-lifecycle stale

[2020-10-05 06:26] nilanjan-samajdar commented on #92460
/sig testing
/wg wg-k8s-infra

[2020-10-05 06:30] nilanjan-samajdar commented on #92460
@spiffxp , Didn't know which wg / where to pin this issue, any help appreciated

[2020-10-05 06:33] krmayankk commented on #72253
@kubernetes/sig-node-pr-reviews can someone advice on the question of how to ensure RunAsGroup tests are present in cri-o validation suite @feiskyer  @saschagrunert  @jterry75 ?

[2020-10-05 06:36] krmayankk commented on #72253
I see https://github.com/kubernetes-sigs/cri-tools/blob/16911795a3c33833fa0ec83dac1ade3172f6989e/pkg/validate/security_context_linux.go#L357 has a RunAsGroup test, does this mean it is present in CRI validation suite and is somehow ensuring that all Runtimes must pass this test ? Where are this results logged ?

[2020-10-05 06:44] dable-mj111 commented on #64002
FYI, this document explained well how to manually delete stuck namespace.
https://www.ibm.com/support/knowledgecenter/SSBS6K_3.2.0/troubleshoot/ns_terminating.html

[2020-10-05 07:19] zeromsi opened #95293 "Need a way to set default container"
Need an attribute that holds the name of default container or a flag that states which container is default.

[2020-10-05 07:20] zeromsi commented on #95293
/sig cli
/kind feature

[2020-10-05 08:25] nikhita commented on #95257
@adambkaplan By any chance, did you run the code-generator from the staging directory in k/k? Can you elaborate more on how to reproduce this issue?

When `--go-header-file` is not set, the code-generator defaults the boilerplate to https://github.com/kubernetes/code-generator/blob/master/hack/boilerplate.go.txt. It calculates the path of this file by calculating the relative path to `k8s.io/code-

[2020-10-05 08:42] dostalradim commented on #95023
I post it to out-tree repository. Sorry for spam.

[2020-10-05 08:42] #95023 closed

[2020-10-05 09:16] YuikoTakada commented on #76873
/close

[2020-10-05 09:16] #76873 closed

[2020-10-05 09:17] sleekweasel opened #95294 "Page refresh makes the nodes page hard to operate."
/sig ui

**What happened**:

Every time I try to update a machine on the nodes page: scrolling to find it, clicking to open the menu, moving to choose the menu item... and then the page refreshes before I click on the menu item.

Similarly, trying to read labels from the 'show all' dynamic link: before I can read all the node labels, and then the page refreshes with its 5 second march.

It's like

[2020-10-05 09:29] fasaxc commented on #90066
The fields information sounds like it's mainly for the tool to help me when I'm editing, +1 for hiding it by default in `kubectl edit` (and have some option to show it in case it is the fields that I want to edit.  Could even go so far as `kubectl edit --spec` so that only the spec is shown; I think that's the 99% use case for `kubectl edit`

[2020-10-05 09:30] rmohr opened #95296 "`--cpu-manager-policy=static` leads sometimes to `/dev/null` permission denied"
**What happened**:

We discover in kubevirts CI k8s-cluster jobs sporadic permission errors on container startup where we can't access `/dev/null` [1] or /dev/kvm` (provided via device plugin) [2].

@Fefer-Ivan discovered the same problem in another project and could trace it down to the cpu manager flags [3].

[1] https://github.com/kubevirt/kubevirt/issues/2566
[2] https://github.com/kubevirt/ku

[2020-10-05 10:10] djha736 commented on #95231
I created using below documents.

https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

I have created my deployments into another namespace and secrets was in default namespace.

i have to create secrets in that particular namespace and it's workout like charm.

[2020-10-05 10:10] #95231 closed

[2020-10-05 10:22] stuartpb opened #95297 "e2e kubectl version check (and internal API test) should check that all version values are not empty"
[The e2e tests for `kubectl version`](https://github.com/kubernetes/kubernetes/blob/16bc6c1d02fc8e4d40ee937ce0fdf7313ce2f233/test/e2e/kubectl/kubectl.go#L1398-L1413) only check that the output includes the correct *keys* - they don't confirm that it has appropriate *values*. Doing full validation on the version data, or at least enough to catch null-string values, would guard against failures like

[2020-10-05 10:23] stuartpb commented on #95297
/sig testing

[2020-10-05 11:23] asoltesz commented on #88272
This is an important feature because it allows a cleaner separation of concerns between operations teams and development teams.

Namespace attributes could be managed by operations who know what affinities are needed.

As it is, development teams need to make affinities configurable and very often, these get hard-coded into descriptors.

[2020-10-05 11:28] bart0sh commented on #95043
/cc @bsdnet @derekwaynecarr @mikebrow

[2020-10-05 12:20] seh commented on #95083
Yes, though I have several questions in advance:
- Is such a change tolerable, given that it breaks backward compatibility?
  There's nothing in the current API documentation that prescribes or guarantees the current behavior, but it _is_ a detectable change: _PodDisruptionBudgets_ that used to ignore all pods would now include all pods in the namespace.
- Are we talking about changing the interpr

[2020-10-05 12:58] adambkaplan commented on #95257
The project I'm working on (github.com/shipwright-io/build) vendors `k8s.io/code-generator`, then calls `generate-groups.sh` in the vendor directory to generate clientsets and deep copies. We are on `v0.17` right now, which doesn't explicitly require the flag. I noticed this issue upgrading the code generator to `v0.18.8`.

With no flag set the `v0.17.x` version generates the k8s copyright boilerp

[2020-10-05 13:15] liggitt commented on #95083
Probably not.

Doing so for v1beta1 doesn't isn't backwards-compatible. I'm trying to think how that could be compatibly adjusted in v1 to allow the "select all pods" scenario.

If we intend to allow full power in the selector field (select no pods, select all pods, select some pods), allowing no selector to mean "select no pods" would make sense, which means it could not be made required.

[2020-10-05 13:23] #94602 closed

[2020-10-05 13:32] seh commented on #95083
I'll hold on proposing any changes until we can agree on a plan.

I had noticed that in one of the abandoned PRs to introduce the _policy/v1_ version of _PodDisruptionBudget_, there was no change in the treatment of the "selector" field. I don't think we should push too quickly forward with that new version without some change on this front, even if it's only documenting this unusual treatment of

[2020-10-05 13:33] liggitt commented on #95083
Agreed. It wasn't an intentional decision, but an oversight on treatment of this field. Added to the list of issues to resolve for GA

[2020-10-05 13:40] MOZGIII commented on #90835
/reopen

[2020-10-05 13:40] MOZGIII commented on #90835
/remove-lifecycle rotten

[2020-10-05 14:29] liggitt commented on #90835
Thanks for the feature request, but this would have many of the same problems as the removed dynamic audit capability (combining API-driven access to audit events with static policy configuration produces unpredictable results). See https://groups.google.com/g/kubernetes-sig-auth/c/aV_nXpa5uWU for the reasons the dynamic audit feature was removed before graduating from alpha.

Additionally, this w

[2020-10-05 14:29] #90835 closed

[2020-10-05 14:47] alculquicondor commented on #94008
This is what will happen if someone using v1beta2 tries to use one of the removed plugins, with the plan above.

1. During conversion, there are 2 possibilities:
  1. if there's a PluginConfig for it, it will be treated as out-of-tree and converted into runtime.Unknown.
  1. if there's no PluginConfig for it, `getPluginArgsOrDefault` returns nil.
1. The plugin instantiation would fail here: https:

[2020-10-05 14:52] thejoycekung commented on #95004
This test hasn't flaked again since this issue was reported 12 days ago, so we'll be moving it to "Observing" on the CI Signal board. https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=each%20node%20by%20dropping%20all%20inbound%20packets%20for%20a%20while%20and%20ensure%20they%20function%20afterwards

I'm also going to leave this issue open in case there's any want for further d

[2020-10-05 14:54] tosi3k commented on #93932
Another one: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1312724549531340800. Flakiness frequency of this test has increased pretty much recently (with the same failure reason).

/priority important-soon

[2020-10-05 14:58] thejoycekung commented on #95000
Still flaking as recently as Friday for `ci-kubernetes-node-kubelet` - prow job link here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/1311936840755843072

[2020-10-05 15:00] staebler opened #95300 "mutating requests time out when apiserver has not received any mutating requests in a long time"
**What happened**:
I am running an admission webhook using https://github.com/openshift/generic-admission-server. If there it has been hours since the last mutating request to the webhook, then the next mutating request will take many seconds to be processed. This may even take long enough to have the request time out.

**What you expected to happen**:
A request takes approximately the same amount

[2020-10-05 15:12] advancedwebdeveloper opened #95302 "Rewriting json-iterator package, to allow compiling k8s with gollvm/llvm-goc and detach from unmaintained reflect2 package"
Hi. @estesp sent me here.

**What happened**:
Everything was fine - until my build process, in which I used [gollvm](https://go.googlesource.com/gollvm/) compiler, was terminated with such critical errors:

**What you expected to happen**:
Probably some bugs - but surely not those which originate from such a core feature, like reflection.

**How to reproduce it (as minimally and precisely as possi

[2020-10-05 15:14] coffeepac commented on #94429
@qq282485068 @DesistDaydream @jsaguiar please feel free to re-open this issue if the latest version doesn't work for you.

[2020-10-05 15:16] MOZGIII commented on #90835
Thanks for the response! Great, we'll just focus on other methods of gathering the audit data then!

[2020-10-05 15:35] neolit123 commented on #95004
@thejoycekung hi, best to ask in #sig-cloud-provider
these tests are maintained by the GCP subproject of SIG Cloud Provider.

[2020-10-05 15:36] neolit123 commented on #81756
/remove-lifecycle stale

[2020-10-05 15:38] neolit123 commented on #81756
@zouyee did you manage to get PR / fix for this?
if not, probably best to notify #sig-node or their mailing list about it for more visibility.
https://github.com/kubernetes/community/tree/master/sig-node#contact

[2020-10-05 15:39] apelisse commented on #88252
That's probably not super hard to solve if someone wants to try.

[2020-10-05 15:51] thejoycekung opened #95304 "[Failing Test] ci-cloud-provider-openstack-acceptance-test-e2e-conformance keeps timing out"
**Which jobs are failing**:
`ci-cloud-provider-openstack-acceptance-test-e2e-conformance` (Conformance - OpenStack in sig-release-master-informing TestGrid)

**Which test(s) are failing**:
- [sig-network] Services should be able to switch session affinity for NodePort service [LinuxOnly] [Conformance] 
- [sig-network] Services should have session affinity work for NodePort service [LinuxOnly] [Con

[2020-10-05 15:53] apelisse commented on #88252
A good way to start would be to solve all the TODOs in https://github.com/kubernetes/kube-openapi/blob/master/pkg/util/proto/document.go.

Or possibly, to address this bug specifically:
This is the function that validates the "kind" (i.e. structures): https://github.com/kubernetes/kube-openapi/blob/master/pkg/util/proto/validation/types.go#L103-L128

When I initially wrote this code, we assumed th

[2020-10-05 15:53] lavalamp commented on #95300
I thought we'd already merged a fix for this from @MikeSpreitzer before the release?

[2020-10-05 15:55] apelisse commented on #88252
Actually, the problem also is that it doesn't know how to handle null. This one is a little tricky.

[2020-10-05 15:55] liggitt commented on #95083
one possible way to make v1 behave the way we want while preserving compatibility with v1beta1 (label names are just placeholders):

to make sure a v1beta1 `{}` selector continues to match no pods, we could convert it to/from this internally and in v1:
* v1beta1: `{}`
* internal, v1: `{"matchExpressions":[{"key":"pdb.kubernetes.io/deprecated-v1beta1-empty-selector-match","operator":"Exists"}]}`

t

[2020-10-05 16:04] staebler commented on #95300
I assume that the fix was supposed to be https://github.com/kubernetes/kubernetes/pull/94146. From my understanding, those changes only are in effect if the apiserver is running with priority and fairness enabled. In my situation, I do not have that enabled.

[2020-10-05 16:20] lavalamp commented on #95300
Ack, if we have the problem in both places we need the fix in both places :)

[2020-10-05 16:30] casret commented on #92464
Any workarounds?  This is causing one of my pods to fail thousands of checks but stay up `Warning  Unhealthy  2m59s (x11089 over 15h)`

[2020-10-05 16:30] #95137 closed

[2020-10-05 16:38] liggitt commented on #95302
The gollvm project appears to be in a pre-release state, and has various statements in its FAQ that suggest that incompatibilities with the go compiler are expected. I would suggest opening an issue against the gollvm project instead.

/close

[2020-10-05 16:38] #95302 closed

[2020-10-05 16:52] johnbelamaric commented on #94867
It looks like it's patching metadata and spec but not status?

[2020-10-05 17:00] johnbelamaric commented on #46508
For DNS, it would allow construction of the correct reverse zones in the cluster DNS without the possibility of accidental mismatch.

[2020-10-05 17:05] #91038 closed

[2020-10-05 17:09] mohamadnikan2013 commented on #89903
I have same issue
i use containerd as my container runtime and when I want to access cadvisor metrics using kubelet some of metrics missing pod or namespace lable and all of them misses conatiner name

[code]

any help?

[2020-10-05 17:31] admilazz commented on #89899
/remove-lifecycle stale

[2020-10-05 17:31] seh commented on #95083
I was immediately thinking of the threat that your last parenthetical remark might address: What if users wind up applying that _pdb.kubernetes.io/..._ label to their pods?

Are you saying that we would restrict users including those labels in their _PDBs_ such that they only matched either of these two constraints (that it is, either it exists, or it doesn't exist)? Would we try to prohibit users

[2020-10-05 17:32] howardjohn commented on #95262
@liggitt thank you! That works great. I would be happy with closing this, but will let you decide if a more first class solution would be useful for others.

[2020-10-05 17:48] tallclair opened #95306 "Forward audit-id when following redirects"
When following redirects, Kubernetes clients should forward the `audit-id` from the original response in the redirected request. This will make it easier to trace requests that were redirected across servers, and detect malicious redirect attacks. This change is superseded by https://github.com/kubernetes/enhancements/issues/1906, if that enhancement moves forward.

/cc @cjcullen @pwittrock

/sig

[2020-10-05 18:08] mikebrow commented on #95043
Not familiar with this bucket. First thing that caught my eye:
[code]
resource request of 1Gi memory for the pod container but default namespace limit?

Second thing I noted... appears to run the bucket a number of times (killing some node processes, e.g. kubelet) Don't see any attempt at restarting containerd.. is it there and I missed it? is that intentional? was the idea to test a complete rese

[2020-10-05 18:09] mikebrow commented on #95043
Not familiar with this bucket. First thing that caught my eye:
[code]
resource request of 1Gi memory for the pod container but default namespace limit?

Second thing I noted... appears to run the bucket a number of times (killing some node processes, e.g. kubelet) Don't see any attempt at restarting containerd.. is it there and I missed it? is that intentional? was the idea to test a complete rese

[2020-10-05 18:17] tallclair opened #95307 "Add Kubelet server metrics for response status"
The kubelet exposes some metrics HTTP server metrics: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/metrics/metrics.go

However, none of the metrics include response status. Response status metrics are useful for identifying authorization problems, or malformed client requests.

/sig instrumentation
/sig node
/help

[2020-10-05 18:25] ahg-g commented on #95037
https://github.com/kubernetes/enhancements/pull/2054

[2020-10-05 18:25] #95037 closed

[2020-10-05 18:31] liggitt commented on #95083
I was saying we would validate the PDBs to make sure the label was only used in exactly those two constructions

[2020-10-05 19:11] cmluciano commented on #88698
@andrewsykim Do we still think that #925225 is related to this? I was also looking at a CI failure here https://github.com/kubernetes/kubernetes/issues/94356 . I'm guessing that this issue may be a direct cause of the failing test issue.

[2020-10-05 19:38] aojea opened #95309 "Update Ingress references on Kubernetes repo from v1beta1 to v1"
Ingress graduated to GA in 1.19, however, some of the code in the kubernetes repo (mostly tests) are still referencing the v1beta1 API.

[code]

[2020-10-05 19:39] aojea commented on #95309
/cc @cmluciano

[2020-10-05 19:39] aojea commented on #95309
/sig network

[2020-10-05 19:42] trtt opened #95310 "Pod stuck Terminating after adding new mount on the host path"
/kind bug

**What happened**:
Pod is stuck on Terminating.

**What you expected to happen**:
Pod to terminate cleanly.

**How to reproduce it (as minimally and precisely as possible)**:
1. Make dir to be mounted into container (on the node):
[code]

2. pod.yaml (image is not important, volume/mounts are):
[code]
```kubectl create -f pod.yaml```

3. When the pod is started, mount additional fs on t

[2020-10-05 19:51] cmluciano commented on #95309
@aojea Thank I'll fix these!

/assign

[2020-10-05 19:58] rdxmb commented on #71887
/remove-lifecycle stale

[2020-10-05 20:03] immortalize commented on #46861
For me, removing the dash (-) before the "image" word solved the problem... Yay!

I think it was because I created with kubectl create and tried to update with kubectl apply, as mentioned above. So, I guess those two have a little different data structure...

[2020-10-05 20:12] cmluciano commented on #95309
@kubernetes/api-reviewers Can you comment on how long we should keep these sort of upgrade tests around? I imagine it would not be until 1.21 or 1.22 since Ingress went v1 in 1.19.

[2020-10-05 20:30] neolit123 commented on #95165
please try contacting the GKE support.
if this is a problem in core k8s, they will log a ticket here.

alternatively try the community support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-10-05 20:30] #95165 closed

[2020-10-05 20:30] aojea commented on #95258
@kinghrothgar just to confirm, you are referring to container hostPort only, right? no Service NodePorts.

[code]

[2020-10-05 20:31] neolit123 commented on #95165
also feels like this is a duplicate to the above ticket, so your problem could be resolved with it.

[2020-10-05 20:32] rdxmb commented on #71887
Can somebody test with me if this is fixed with newer Docker-Versions?

https://bugzilla.redhat.com/show_bug.cgi?id=1584759

In my nodes with docker 18.06.3-ce I have the problem, on a nodes with docker 19.03.13  I do not have the problem.

[2020-10-05 20:33] neolit123 commented on #95164
you'd have to provide a detailed guide on how to reproduce the error.

but also, 1.14.x is no longer in support.
please try reproducing with a newer version (1.17+).

/close

[2020-10-05 20:34] #95164 closed

[2020-10-05 20:34] neolit123 commented on #95164
/sig node

[2020-10-05 20:34] neolit123 commented on #95164
/sig storage

[2020-10-05 20:35] neolit123 commented on #95294
hi, dashboard tickets should be logged here:
https://github.com/kubernetes/dashboard

/close

[2020-10-05 20:35] #95294 closed

[2020-10-05 20:36] neolit123 commented on #95294
/sig ui

[2020-10-05 20:37] neolit123 commented on #95296
/sig node

[2020-10-05 20:37] aojea commented on #95149
just check if you are generating the endpoints and endpointslices for the services
[code]

if you don't have endpoint slices  is possible that the upgrade didn't work well

[2020-10-05 20:37] neolit123 commented on #95310
/sig storage

[2020-10-05 20:39] liggitt commented on #95309
the integration tests should stay in place as long as we can serve those API versions/groups (until 1.22)

[2020-10-05 21:21] alculquicondor commented on #87905
/assign

I'm working on the scheduler side git.k8s.io/enhancements/keps/sig-scheduling/1258-default-pod-topology-spread

[2020-10-05 22:03] #88859 closed

[2020-10-05 22:41] kinghrothgar commented on #95258
Correct, there is no service in the mix here.

[2020-10-05 23:28] jayunit100 opened #95315 "missing a non-Slow, targetted UDP NodePort test in the sig-network testing suite"
**What happened**:

In CAPA clusters, NodePorts are disabled for UDP but not for TCP, so when testing, we see a small hole in coverage that was luckily caught by the `Conntrack` tests....   So, I noticed that we thus don't have a targetted ginkgo test for UDP + nodeports, but we do seem to have the Contract one, which I guess tests two things at once:

- UDP NodePort service works
- Conntrack can

[2020-10-05 23:28] jayunit100 commented on #95315
/sig network

[2020-10-05 23:29] jayunit100 commented on #95315
/assign

[2020-10-05 23:31] DesistDaydream commented on #94429
Why was this PR added to v1.20?

[2020-10-05 23:40] Drugoy commented on #64168
/remove-lifecycle stale

[2020-10-05 23:45] kinghrothgar commented on #95258
I have not been able to reproduce this issue in an isolated cluster using `nc`. The current behavior I am seeing is occurring between Datadog agents and code clients. I will continue to debugging and update as I find more information.

[2020-10-06 00:00] liggitt commented on #95306
Do we allow clients to dictate the audit id today or surface it to them?

[2020-10-06 00:00] apratina commented on #95021
Is there any update on this issue?

[2020-10-06 00:06] jdamata commented on #93346
I would find this feature useful for: https://github.com/jdamata/k8vault

[2020-10-06 00:08] dougsland commented on #95293
Looks like dup request: https://github.com/kubernetes/kubernetes/issues/61333

[2020-10-06 00:56] howardjohn commented on #88508
Can this be reopened? I am working on a fix for this

[2020-10-06 01:04] howardjohn commented on #88508
I think there is a race in the real `ListAndWatch` between HasSynced returning true and the watch being initiated. I think the fact its a fake client is just because its faster, it might impact real clients as well

[2020-10-06 01:20] jayunit100 commented on #95161
/close

[2020-10-06 01:20] #95161 closed

[2020-10-06 02:04] howardjohn commented on #88508
I think the real client avoids this because it uses the resourceVersion in the Watch call, so it gets the Create that happens between the initial List and Watch, while the fake client doesn't

[2020-10-06 03:00] #89082 closed

[2020-10-06 03:11] roycaihw commented on #93409
/assign

[2020-10-06 03:40] coffeepac commented on #94429
@DesistDaydream probably because that is the next release.  most people who use this addon do so from master.  Do you need this packaged in some other way?

[2020-10-06 05:10] #90624 closed

[2020-10-06 06:25] aojea commented on #95315
There is already one testing NodePort UDP in `Service Granular Checks` https://github.com/kubernetes/kubernetes/blob/9646d5998c49cb2ab8a6be96925ca992b1d2b1b3/test/e2e/network/networking.go#L347-L357

[2020-10-06 06:34] aojea commented on #95315
However, the more tests the better :+1:

[2020-10-06 06:36] aojea commented on #95258
hmm, this is tricky, because the hostport on containers is managed differently depending on the runtime. The dockershim host port manager seems to clear stale udp entries at first sight

https://github.com/kubernetes/kubernetes/blob/19064f47389429f8360e1d6684bef3d770db9368/pkg/kubelet/dockershim/network/hostport/hostport_manager.go#L180-L187

@thockin how are hostports managed in `Vanilla GCE`?

[2020-10-06 07:26] venkateshreddy1388 opened #95317 "The connection to the server localhost:8080 was refused - did you specify the right host or port?"

[2020-10-06 08:02] pawelan commented on #93462
I had identical symptoms. In our deployment (hosted on vSphere 6.5) we are using dedicated edge node (2vCPU 4GB RAM) and when in /etc/kubernetes/kubelet-config.yml the configuration was:
[code]
It was giving exact results (truncated for clarity):
[code]
This was causing pod allocations to this node fail due to insufficient CPU:
`Warning  FailedScheduling  <unknown>  default-scheduler  0/7 nodes ar

[2020-10-06 08:04] harche opened #95320 "Summary API [NodeConformance] test breaks on CRIO"
**Which jobs are failing**:
While trying to run the node conformance tests with CRIO, the test `Summary API [NodeConformance]` I noticed failures like
`ping: permission denied (are you root?)` on the logs of the test containers. This happens because CRIO doesn't ship with `CAP_NEW_RAW` capability enabled by default. Since only this test in `NodeConformance` requires it, we should add this capabili

[2020-10-06 08:05] pravin-singhal commented on #85397
any closure on the above issue - I am running into the same issue.  I have agent outside of k8s on the same host node making a call to pod using nodeIp:nodeport .. and have set externalTrafficPolicy to Local ..

See the behavioral difference depending from which node the call is made ..
I have a deployment with replica 2 running in leader mode - at any time only one pod is active.

If the call is

[2020-10-06 08:09] kamsz opened #95322 "cAdvisor metrics are missing Kubernetes labels"
**What happened**:

cAdvisor metrics are missing Kubernetes labels e.g. namespace

[code]

**What you expected to happen**:

cAdvisor metrics to have Kubernetes labels.

**How to reproduce it (as minimally and precisely as possible)**:

* Deploy a cluster with kubeadm
* Deploy Calico as CNI
* Deploy Prometheus using prometheus-operator Helm chart
* Take a look at gathered metrics

**Anything else

[2020-10-06 08:10] errordeveloper commented on #46508
In Cluster API and multiple installers this is one of the key input parameters, it would generally make sense to make it accessible at runtime, so that it can be checked uniformly in various environments. I am pretty sure there are service mesh use-cases also.

[2020-10-06 08:11] kamsz commented on #95322
/sig node

[2020-10-06 08:12] errordeveloper commented on #46508
/reopen

[2020-10-06 08:12] errordeveloper commented on #46508
/remove-lifecycle rotten

[2020-10-06 08:13] harche commented on #95320
/sig node

[2020-10-06 08:48] justaugustus commented on #95279
@kubernetes/release-engineering -- can you look into this?
/area release-eng

[2020-10-06 08:51] justaugustus commented on #95173
@kubernetes/release-engineering -- can you look into this?

[2020-10-06 08:52] justaugustus commented on #95026
@kubernetes/release-engineering -- can you look into this?

[2020-10-06 09:06] cpanato commented on #95026
I will take a look at this job and try to see what is happening
/assign

[2020-10-06 09:17] nadworny commented on #86762
@orondon same problem here... were you able to resolve it somehow?

[2020-10-06 09:40] rdxmb commented on #71887
Can reproduce: Problem seems solved with docker 19.03.13

So can this issue be closed?

[2020-10-06 09:41] jordips commented on #89898
Hi!

Same issue here:

- Kubernetes v1.16.8
- On-Premise deployment (VMware) via Kubespray
- CNI: Canal
- Nodes: Ubuntu 18.04
- Using metallb with BGP implementation for LoadBalancer IPs.

I'm getting "_Liveness probe failed: Get XXX net/http: request canceled_" randomly every 3h o 4h for some of our deployments (not readiness problems). In our case, we check that:

- Pods are not reaching to reso

[2020-10-06 09:47] ftvkyo commented on #94335
This also reproduces with Docker runtime.
Workaround with bind mount helps, however `kubeadm reset` automatically unmounts it so don't get confused.

`/var/lib/kubelet` is on root that is mounted like this: `/dev/nvme0n1p2 on / type btrfs (rw,relatime,ssd,space_cache,subvolid=256,subvol=/root)`,
and docker is configured to use `overlay2`.

[2020-10-06 09:48] yaroze commented on #94883
Hi @rikatz ,

thanks for the update. Apologies for the late reply.

We just finished deploying a DEV cluster with fewer nodes but with the same OS/HW configurations.
In this case, we're using a more recent version of Kubespray, which has a more up-to-date flannel.

We'll run the same iperf's between the nodes and will let you know the results when we have them.
If everything runs as expected in th

[2020-10-06 11:29] ahg-g commented on #93757
@MikeSpreitzer is this really possible? I am likely missing something, but my understanding from the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md) is that each level is limited to the concurrency shares assigned to it.

[2020-10-06 11:36] jayunit100 commented on #95315
Hiya Antonio.

I think the one your talking about in granular checks is also tagged as "Slow".....

Is there a Fast one? If so I'll close this issue don't want to make a redundant test .

[2020-10-06 11:51] rikatz commented on #94640
Hey @LalexH just for the sake of reproducing the issue, are you running this in some cloud provider or on-prem?

Also, I'll try to reproduce here but I also think this should be opened in Calico repo

[2020-10-06 12:05] rikatz commented on #94640
Well, it took some time but after doing the same steps and rebooting all the cluster nodes, everything went fine:

* Created a cluster with kubeadm
* Replaced the CALICO_IPV4POOL_IPIP to Never before applying
* ``kubectl delete -f calico.yaml && kubectl apply -f calico.yaml``
* Reboot

The node take some time to reconcile all the IPs, but then everything is just working fine:

[code]

I'm using Ca

[2020-10-06 12:05] #94640 closed

[2020-10-06 12:14] rikatz commented on #94883
Right, let me know and I can also start digging here :)

[2020-10-06 12:27] shapeofarchitect commented on #50715
I also saw this issue just now - I used the cluserrole `edit` and created the binding with the and used the group (IAM) to be able to access the commands clusterwide. but I still can't access the cluster.

[2020-10-06 13:07] gaurav-gupta-gtm commented on #95317
Check issue #44665. Issue already solved.

[2020-10-06 13:14] ensonic commented on #87126
We're also getting this together with lots of warnings from prometheus about api server failing with 504 (timeout). The is almost no load on the machine though (72 cores!).

[2020-10-06 13:18] #87056 closed

[2020-10-06 13:27] aojea commented on #95315
I honestly don't know the history of the Slow tag and I don't see it consistently applied, but if you think that you can improve the Granular check and have an additional faster test, then just go for it :muscle:

[2020-10-06 13:29] rikatz commented on #95070
OK, so just to make a note, this is a really old unsupported k8s version: ``Kubernetes version (use kubectl version): 1.10.5``

I've been successful downloading the image here, so can you please post the whole dns manifest (yaml) here so I can take a look.

Thank you

[2020-10-06 13:29] pawanpraka1 commented on #92299
@boddumanohar I am using on-prem cluster. One thing to note here is in my case mounts are managed by the system and once CSI drivers mounts it at the particular path, the system takes care of mounting that at the same path on reboot. For example putting the entry at /etc/fstab will automatically mount it.

so here, For few pods I was not getting unublish call on node reboot so the driver was unabl

[2020-10-06 13:54] orondon commented on #86762
@nadworny in the end our ingress nodes for the k8s cluster were limited by nf_conntrack_max and increasing it fixed the issue
Ref https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts

[2020-10-06 14:07] jayunit100 commented on #95315
ok cool

[2020-10-06 14:32] der-eismann commented on #94155
@yehaifeng We have the same problem here with k8s 1.19.2 and etcd 3.3.12. Were you able to fix the problem?
[code]

However the cluster itself is healthy:
[code]

[2020-10-06 14:58] alculquicondor commented on #87703
/reopen

/unassign @fengzixu

/help

[2020-10-06 14:59] alculquicondor commented on #87703
/remove lifecycle rotten
/triage accepted

/help

[2020-10-06 15:10] der-eismann opened #95334 "1.19.2 kube-apiserver can't write to etcd - "transport is closing""
**What happened**: We run a self-hosted kubernetes v1.18.2 cluster on Flatcar Container Linux and are testing an upgrade to v1.19.2. While doing this on a separate staging cluster we noticed that the kube-apiserver has problems writing to etcd (meaning etcd is empty) without any obvious reason.

**What you expected to happen**: kube-apiserver running as smoothly as always without any errors.

**Ho

[2020-10-06 15:11] der-eismann commented on #95334
/sig api-machinery

[2020-10-06 15:21] howardjohn commented on #88508
Specifically, There is a race between

https://github.com/kubernetes/client-go/blob/866e6a7e3cf35d16a6d3d5175e36d05dfe4b0797/tools/cache/reflector.go#L302 and https://github.com/kubernetes/client-go/blob/866e6a7e3cf35d16a6d3d5175e36d05dfe4b0797/tools/cache/reflector.go#L414.

Any creates/updates between those two are dropped.

[2020-10-06 15:29] alculquicondor commented on #94008
Should we take this opportunity to deprecate "NodePreferAvoidPods"? Taints should cover this too.

[2020-10-06 15:52] dharmab commented on #86064
Our AWS support has suggested creating PVCs from volume snapshots as a workaround (https://kubernetes.io/docs/concepts/storage/volume-snapshots/) until they fix the issue.

[2020-10-06 15:52] cmluciano commented on #41881
@deitch Please take a look at the recent wildcard support that we added in 1.18 & 1.19 and let us know if this helps your use-case.

https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#support-for-hostname-wildcards
https://opensource.googleblog.com/2020/09/kubernetes-ingress-goes-ga.html

[2020-10-06 15:53] cmluciano commented on #41881
/assign

[2020-10-06 16:00] knabben commented on #87703
/assign

[2020-10-06 16:05] adelina-t commented on #95214
/assign @adelina-t

[2020-10-06 16:13] howardjohn commented on #88508
The official example, https://github.com/kubernetes/kubernetes/blob/25651408aeadf38c3df7ea8c760e7519fd37d625/staging/src/k8s.io/client-go/examples/fake-client/main_test.go#L33, also has this flake issue

[2020-10-06 16:23] wojtek-t commented on #78481
/remove-lifecycle stale

[2020-10-06 16:33] blind3dd commented on #22368
how about adding a hash to a deployment and having configMaps being referenced by it
something like:
-> spec.template.annotations.configMaphash

The configMaphash could be created of a ConfigMap somewhere.

Hash only changes when configuration changes, so perhaps actual configMap update would mean a re-deploy of a Deployment, and because the spec.template changes, kubernetes should detect it and r

[2020-10-06 16:37] oomichi commented on #94901
Really nice to have guideline to explain how to fix this issue.
I am checking whole PRs for this issue and those points with priority order are
- Replace `master` with actual component name like `etcd`, `apiserver`, `scheduler`, `controller-manager` etc. if possible
- Even if `node` is not added after `master`, we need to replace the `master` with `control plane node`
- Replace `nodes excluding ma

[2020-10-06 16:38] oomichi commented on #94901
/cc @oomichi

[2020-10-06 16:44] conrallendale commented on #22368
Aren't this exactly what kustomize does?

[2020-10-06 16:45] chrisjohnson commented on #41881
Checking the description it seems to imply that it's not a full wildcard, only a suffix match

```Precise matches require that the http host header matches the Host setting. Wildcard matches require the http host header is equal to the suffix of the wildcard rule.```

For my use case, where it's the domain itself that I want to be wildcarded (i.e. `service-name.*` will match `service-name.dev.mysi

[2020-10-06 16:49] pentago commented on #22368
@conrallendale it does but that's not the point.
A user should not need to learn additional technology and introduce an additional layer of complexity on top of what already appears to be a mess of various tools and specifications.

Let's separate concerns and make core handle this.

[2020-10-06 16:49] blind3dd commented on #22368
I think I only heard kustomize once or twice, always have been working with helm so that would explain it, but thanks, perhaps it's worth checking it out for secrets and such I suppose too.

On the other hand, the feature request is regarding kubernetes native functionality, because most certainly not everybody works with these deploying tools.

[2020-10-06 16:59] kfox1111 commented on #22368
Yeah, thats how kustomize and helm both try and workaround the issue. Its an implementation detail though, and doesn't actually handle rollbacks.

[2020-10-06 17:06] conrallendale commented on #22368
I think the reluctance by kubernetes core team to implement this is that kustomize is a tool already integrated on kubectl (kubectl kustomize or kubectl apply -k). Beside this, kustomize has many great feature that deserves a try. Initially I avoided adopting kustomize too, but when I tried it and realized the advantages of using it (environment separation mainly), I started adopting it for all my

[2020-10-06 17:07] blind3dd commented on #22368
good point on rollbacks though. would be by design ..

[2020-10-06 17:13] kfox1111 commented on #22368
I don't think the reluctance is kustomize related. I suspect its just due to lack of resources.

kustomize is good at some things and bad at others. helm is good at some things bad at others. helm and kustomize are good at different things. Many users don't use either. Then there is operators, and other tools as well.

Teaching users about the weird secret/configmap gotchas with deployments is rea

[2020-10-06 17:14] conrallendale commented on #22368
Why not? With configMapGenerator, each change generates a new configmap, and old ones continue to exist. You can rollback normally.

[2020-10-06 17:24] neolit123 commented on #95317
this can be caused by a stale kubeconfig file.
for general support questions please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-10-06 17:24] #95317 closed

[2020-10-06 17:26] blind3dd commented on #22368
@conrallendale Wouldn't that be a rollback without config? You know, because of reversing of a hash?

[2020-10-06 17:29] bart0sh commented on #95043
@mikebrow I don't see resource request of 1Gi memory and killing in the logs. Can you point me out where did you see it?

[2020-10-06 17:32] kfox1111 commented on #22368
@conrallendale see the kep. Thats basically what the proposed solution is. Just natively supported by k8s.

[2020-10-06 17:48] conrallendale commented on #22368
ConfigMap A and B coexist. A rollback would only change the pointer from B to A.

Yes @kfox1111, it's the proposed solution, but without the garbage collector

[2020-10-06 17:51] oxr463 commented on #94754
@stefanlasiewski perhaps one could file a ticket on launchpad to backport the newer iptables version since 18.04 is an LTS release?

[2020-10-06 17:54] kfox1111 commented on #22368
Why have k8s garbage collect a Deployments ReplicaSets but not the relevant configmap/secret snapshots? Its confusing to users.

[2020-10-06 18:00] conrallendale commented on #22368
Hey, I'm not telling that this change isn't necessary, only that kustomize is a very good warkaround (a solution in my case).

[2020-10-06 18:06] kfox1111 commented on #22368
Yes, we understand. its just a bit of a sore topic as it doesn't work for everyone and there's been pushback from folks "why don't you just use kustomize". Its a great tool, don't get me wrong. But its not the solution to the greater problem. So lets not keep talking about kustomize. It doesn't help make progress towards a general solution.

[2020-10-06 18:14] mikebrow commented on #95043
that was in the test case..

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-benchmark/1313122421460439040/podinfo.json

[2020-10-06 18:27] conrallendale commented on #22368
Particularly I don't think a ConfigMap template on deploy is a good solution (and daemon sets, statefulsets, etc?). I think that transforming the ConfigMap object on a higher level "provider of configs" is a better solution. It would be necessary to create another intermediary object that "couple" to the pods on a replicaset, living while the replicaset exists. This way the config map could be sha

[2020-10-06 18:46] kfox1111 commented on #22368
Thats essentially what the KEP says I think. snapshot the ConfigMap to an immutable copy(now that they are a thing) that is lifecycled with the Deployment/Statefulset/Daemonset's versions so it doesn't change for the lifecycle of the particular version. The configmap isn't marked as snapshotted, the Deployment/Statefulset/Daemonset marks it that way for its own use. Another Deployment/Statefulset/

[2020-10-06 18:48] moustaphasene commented on #95070
@rikatz : thank you for replying again.
I solved my issue.
The root cause was that when I prepulled and tagged the image I didn't use the right tag.
I used k8s-dns-kube-dns-amd64:1.14.8 instead of k8s.gcr.io/k8s-dns-kube-dns-amd64:1.14.8.
I forgot the prefix.
Since, I added it in the tag, it works fine.

We can close the case and mark it as resolved.

Thank you a lot for your help and thank to eac

[2020-10-06 18:53] conrallendale commented on #22368
No, the config is one. I want to create only one object, a ConfigMap or a ConfigMapGenerator (why not?), and use on many objects. If it creates one or many objects that couple with a replicaset (would work with deploy, ds and sts) doesn't matter.

[2020-10-06 18:55] Bessonov commented on #79606
/remove-lifecycle stale

[2020-10-06 18:58] kfox1111 commented on #22368
Thats what the KEP proposes. You create a configmap and you mark your deployment as wanting to snapshot it and watch it.

Then if the configmap ever changes, the deployment gets a new version kick off automatically just like when you change the deployment.

[2020-10-06 19:06] zerkms commented on #92851
/remove-lifecycle stale

[2020-10-06 19:10] conrallendale commented on #22368
Humm, sincerely I don't follow the KEP, but are you saying that modifying the configmap would create another replica set? I don't think is a good idea. My idea was only to have a "ConfigMapGenerator "object that wokrs only as a "provider". On deploy (or DS, or STS), instead of using a ConfigMap you'd use the ConfigMapGenerator. Only when you change the deploy the replicaset would be created (and t

[2020-10-06 19:28] rikatz commented on #95070
ah ok, it happens :)

closing the issue here

/close

[2020-10-06 19:28] #95070 closed

[2020-10-06 19:49] stefanlasiewski commented on #94754
@oxr463 Yes perhaps. I'll see if a ticket is out there already.

I think the bigger issue is that Kubernetes needs to maintain solid support for Ubuntu 18.04 LTS which I'm sure is still one the top 2 OS's used for servers. It's going to take a year for 20.04 LTS to hit that milestone.

[2020-10-06 19:58] cnmcavoy commented on #94861
@aojea I don't understand how that will help me here. The packets with a ctstate INVALID are not generated due to conntrack saturation ([as described here](https://technology.lastminute.com/chasing-k8s-connection-reset-issue/)), but due to asymmetric routing in our network. See [the blog post I linked earlier](https://www.growse.com/2020/01/23/adventures-with-asymmetric-routing-and-firewalls.html)

[2020-10-06 20:09] kfox1111 commented on #22368
Hmm... If the KEP is unreadable thats a problem. We should figure out how to fix it.

Lets walk through what the KEP says with a more concrete example (Or at least what I attempted to say). Say I upload a configmap:
[code]
and a Deployment:
[code]
----
I'd get a second configmap:
[code]
and I'd get a ReplicaSet with:
[code]

If I then updated the foo configmap to have mysetting: v2,
then the deplo

[2020-10-06 20:16] caesarxuchao commented on #95257
cc @DirectXMan12 @sttts
/triage accepted

[2020-10-06 20:18] caesarxuchao commented on #95262
/triage accepted

[2020-10-06 20:19] caesarxuchao commented on #95300
/triage accepted

[2020-10-06 20:21] caesarxuchao commented on #95304
cc @cheftako
/remove-sig api-machinery
/sig cloud-provider

[2020-10-06 20:22] caesarxuchao commented on #95334
/assign @jingyih
/triage accepted

[2020-10-06 20:23] caesarxuchao commented on #95334
cc @cheftako

[2020-10-06 20:25] cheftako commented on #95334
cc @nckturner

[2020-10-06 20:30] aojea commented on #94861
are the packets on your assymetric runing marked as invalid if you set `nf_conntrack_tcp_be_liberal=1`? it should only mark he ones that are out of window pre the description

[2020-10-06 20:31] hasheddan commented on #75378
@kfox1111 @msau42 did anyone ever get started on this?