[2019-08-07 00:37] jacobg commented on #81051
/sig GCP

[2019-08-07 00:38] sjgiri commented on #77903
@lbernail @andrewsykim are

@lbernail @andrewsykim Any update on this? I'm hitting exactly problem. Packets from client are blackholed. Appreciate any suggestions to resolve this.

[2019-08-07 00:42] jacobg commented on #81051
/sig gcp

[2019-08-07 00:46] roycaihw commented on #80663
/unassign

[2019-08-07 00:49] oomichi commented on #77197
@jiatongw

The above one seems to be solved with https://github.com/kubernetes/kubernetes/pull/79879
So can we close this issue now?

[2019-08-07 00:49] cblecker commented on #79912
It's tricky because it's somewhere between the two IMO. I don't care so much about the labels, but I'm clear that we need to move forward. If anyone has any strong objections, please raise them now!

- `master` (1.16) is on 1.12.7
- I've just approved the PR for `release-1.15` to move to 1.12.7
- `release-1.14` needs to move to 1.12.7
- `release-1.13` needs to move to 1.11.12

If anyone wants to p

[2019-08-07 00:49] oomichi commented on #77197
/cc @oomichi

[2019-08-07 01:08] spiffxp opened #81052 "Conformance tests should not require access to kubelet API"
**What happened**:
In reviewing  a test for promotion to conformance I noticed the kubelet API was being accessed via the API server's node proxy endpoint (ref: https://github.com/kubernetes/kubernetes/pull/80731#discussion_r310836102).  This seemed off, so I reviewed [our conformance test requirements doc](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/con

[2019-08-07 01:09] oomichi commented on #80177
@neolit123
This issue seems interesting for me, because I am facing a conformance test issue which seems related to this on my local environment.
Even if a node is master, the node can host workload if the taint is removed from the node.
So do we want to use some function which checks a node is tainted instead of current  IsMasterNode()?

[2019-08-07 01:11] PatrickLang commented on #75934
So I guess https://github.com/kubernetes/kubernetes/pull/73659 added container/pod but not node

[2019-08-07 01:23] andyzhangx commented on #75934
https://github.com/kubernetes/kubernetes/pull/80176 fixed this, need confirm

[2019-08-07 01:33] zhiweiv commented on #75934
Close this since it is fixed in 1.16.

[2019-08-07 01:33] #75934 closed

[2019-08-07 01:42] oomichi commented on #80177
Some investigation related to this issue:
Now all 7 callers of `IsMasterNode()` are
[code]
1. `e2e/framework/metrics/metrics_grabber.go:               if system.IsMasterNode(node.Name) {`
This is for knowing a master node is registered or not for grabbing metrics.
So I think we can keep this code as current one because it is not related to workload.
2. `e2e/framework/metrics/latencies.go:

[2019-08-07 01:44] spiffxp commented on #81052
Look for anything that ends up calling `ProxyRequest`
https://github.com/kubernetes/kubernetes/blob/6049253aae49f87985a59ba45bedded94023b093/test/e2e/framework/node/resource.go#L254

----

`framework.AfterEach` may end up calling it if the test fails, via:
https://github.com/kubernetes/kubernetes/blob/6049253aae49f87985a59ba45bedded94023b093/test/e2e/framework/framework.go#L345
https://github.com/

[2019-08-07 01:48] spiffxp commented on #81052
Looking for `ports.KubeletPort` doesn't turn up any additional conformance tests, and I don't feel compelled to link the two other tests that use it as they are unlikely to ever be eligible.

[2019-08-07 01:50] bdowling opened #81055 "kubectl exec hangs immediately with no output and must be killed"
**What happened**:

`kubectl exec -it pod -c foo sh`
is hanging hard immediately, with no output, and Control-C does not kill it, the process must be killed.  Same thing happens if `-it` is not used, but Control-C does also kill it in that case.

I'm looking for recommendations on how to troubleshoot this, as I know this is rather vague issue report.  Sometimes it works, but most of the time it is

[2019-08-07 01:51] spiffxp commented on #81052
The examples pointed out by @liggitt on slack, the kubelet's `/logs` endpoints is required to be available for these to pass

https://github.com/kubernetes/kubernetes/blob/7f1ae0e32d2d42efc243b0b3d69a95797ce67046/test/e2e/network/proxy.go#L70

https://github.com/kubernetes/kubernetes/blob/7f1ae0e32d2d42efc243b0b3d69a95797ce67046/test/e2e/network/proxy.go#L77

[2019-08-07 01:56] zq-david-wang commented on #81021
cpulimit = cpu_quota / cpu_period
As for cpu share, it is not what you think it is.....

    contains an integer value that specifies a relative share of CPU time available to the tasks in a cgroup. For example, tasks in two cgroups that have cpu.shares set to 100 will receive equal CPU time, but tasks in a cgroup that has cpu.shares set to 200 receive twice the CPU time of tasks in a cgroup where

[2019-08-07 01:56] zouyee commented on #81042
/area kubelet

[2019-08-07 01:58] bdowling commented on #81055
/sig CLI

[2019-08-07 02:04] zouyee commented on #81001
/area docker

[2019-08-07 02:07] neolit123 commented on #80177
So do we want to use some function which checks a node is tainted instead of current IsMasterNode()?

in some cases yes.

system.IsMasterNode will be removed and the idea is not have a function in the framework (or k8s as a whole) that makes node-role assumptions based on node names or labels.

but quite frankly it think the usage of the function is bogus and outdated:
https://github.com/kubernete

[2019-08-07 02:14] oomichi commented on #80177
@neolit123

OMG, I never see the internal code of the function.
Yeah I agree with you here. The function seems fake according to the code.
Usually I am naming master node which include "master" but I didn't know the naming way is mandatory on this function..

[2019-08-07 02:18] neolit123 commented on #80177
yeah, the function has to be removed, one way or another.
by making node name assumptions part of the tests may or may not work depending on the user setup.

[2019-08-07 02:56] zhangguanzhang commented on #21692
[code]
just domain name `alertmanager-main-0.alertmanager-operated.monitoring.svc` cannot
[code]

[2019-08-07 03:33] wenlxie commented on #52032
@Random-Liu @saad-ali
Seems this feature is still not include into ephemeral-storage feature. Any plan to enhance this?
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-ephemeral-storage-limits-run

[2019-08-07 03:39] abdennour commented on #34583
I am using EKS , and I designed not only my pods to be Cattle, but also my nodes are Cattle as well :

- I have Pod created statefulset.
- This statefulset defines a PVC.
- The PVC triggers the creation of new EBS in the same AZ of the Node (i don't have pb here)
- Because Nodes are Cattle, it happen that there is no Node exist in   the AZ of EBS (PVC)
=> Pod of statefulset remains in "Pending" st

[2019-08-07 04:05] #80357 closed

[2019-08-07 04:05] #80216 closed

[2019-08-07 04:07] warmchang commented on #79912
@cblecker Please pay attention to this issue (https://github.com/golang/go/issues/33405 cause fd escape to child process) with go1.12.7.

It's fixed by go team on [release-branch.go1.12](https://go-review.googlesource.com/c/go/+/188538/), but still need to wait the v1.12.8 release.

[2019-08-07 04:11] PaulFurtado opened #81060 "Kube-proxy should not watch endpoints from headless services"
**What happened**:
With several large headless services in the cluster providing DNS records for statefulset pods, we see about 1TB of watch traffic for Endpoints per day! Some of these Endpoints objects approach 1MB in size and we have thousands of nodes, so a single update to the Endpoints object results in gigabytes of broadcast.

**What you expected to happen**:
kube-proxy does not need to rec

[2019-08-07 04:11] PaulFurtado commented on #81060
/sig network

[2019-08-07 04:26] draveness commented on #79234
/reopen

Close by mistake through #80321

[2019-08-07 04:49] willzhang commented on #77575
[code]

[2019-08-07 05:18] zigmund commented on #71162
/remove-lifecycle stale

[2019-08-07 05:32] qiuhui opened #81062 "How to specify container's runtime,eg. nvidia-docker or runC?"
I can not see anything related to container's runtime in the API Object。Can anyone help me?

[2019-08-07 05:42] k-toyoda-pi commented on #72956
I created PRs fix the following script files. Could someone review PRs?
- ./cluster/gce/gci/flexvolume_node_setup.sh #81061
- ./cluster/test-e2e.sh #80971
- ./test/images/image-util.sh #80742

[2019-08-07 05:51] thangbn commented on #34583
from my experience, EFS performance is not that great. better avoid it.

[2019-08-07 06:09] tdmalone commented on #34583
It depends how you use it. It's not great for lots of little files (don't check out a git repo on it, for instance 😅). It's been working great for us in production for almost a year so far, mainly on larger PDF files etc. But, like anything, definitely test it for your use case.

[2019-08-07 06:19] mgdevstack commented on #79127
/assign

[2019-08-07 06:39] zouyee commented on #81062
https://kubernetes.io/docs/concepts/containers/runtime-class/#upgrading-runtimeclass-from-alpha-to-beta
we could use `runtimeclass` feature.

[2019-08-07 06:42] zouyee commented on #81045
/sig cli

[2019-08-07 06:47] wu0407 commented on #76531
+1 same problem
docker: 18.09.8
kuberentes: 1.14.4
OS: Ubuntu 18.04

[2019-08-07 06:55] wojtek-t commented on #56138
/remove-lifecycle rotten
/lifecycle frozen

[2019-08-07 07:03] feiskyer commented on #80980
Could you describe more about the scenarios?

@andyzhangx Have you noticed such issues? I wonder adding etags to the API call could help to prevent this?

[2019-08-07 07:35] MSSedusch commented on #80980
If you have an application that maintains your K8s clusters, e.g. takes care of OS update/patching. If the application wants to patch the OS of a worker node, it would drain the node first. If draining times out, it will go ahead and delete the VM anyway. But K8s might still be detaching disks. These detach operations, because they use CreateOrUpdate, will recreate the VM.

Is there a reason why y

[2019-08-07 07:35] bg-chun commented on #80716
Regarding Memory Manager, I file an issue and open a new KEP for it.

[Memory Manager]
Issue: Support isolating memory to single NUMA node
https://github.com/kubernetes/kubernetes/issues/81009

KEP: Propose Memory Manager for NUMA awareness
https://github.com/kubernetes/enhancements/pull/1203

[Hugepages]
Issue: Support Container Isolation of Hugepages
https://github.com/kubernetes/kubernetes/issu

[2019-08-07 07:36] andyzhangx commented on #80980
that sounds reasonable, thanks @MSSedusch change to use `Update` function would be safer since it's only detach/attach disk operation. I will do that.

[2019-08-07 07:40] feiskyer commented on #80980
@MSSedusch thanks for the information. Reasonable enough.

/assign @andyzhangx

[2019-08-07 07:40] feiskyer commented on #80980
/milestone v1.16

[2019-08-07 07:44] andyzhangx commented on #80980
BTW, the reason why we only use `CreateOrUpdate` func in the beginning is that Azure Compute go sdk did not provide a `Create` func at that time...

[2019-08-07 07:45] valentinomiazzo-tba commented on #42544
/remove-lifecycle stale

[2019-08-07 07:52] MSSedusch commented on #80980
Great. Thanks!

[2019-08-07 07:57] Enelar commented on #76861
Have the same issue with regular nginx deployment on gke.
Few minutes before everything was fine. Now for one pod I have this issue.

[2019-08-07 08:17] adisky commented on #80041
for reference: https://github.com/kubernetes/kubernetes/pull/80027

[2019-08-07 08:36] #80510 closed

[2019-08-07 08:51] vegemitecheesetoast commented on #75485
Hi! I'd like to take this. I've spoken with thockin and I think it would be a good way for me to start gaining confidence as a first contributor!

[2019-08-07 09:07] JoshVanL commented on #80574
Hi @mikedanese, that does make sense. I'm going to go ahead continue with the following approach using token review that you've posted.

Thanks for looking into things, I'd consider this resolved for me now and so will close the issue.

/close

[2019-08-07 09:07] #80574 closed

[2019-08-07 09:10] mpucholblasco commented on #78164
Thanks a lot @anamika-avinash for your comment.

I'm not sure that will be the same case. In the linked issue, the nil pointer reference exception cames from `github.com/projectcalico/cni-plugin/pkg/upgrade.Migrate`, but in our case it cames from `k8s.io/kubernetes/pkg/credentialprovider/aws.(*ecrProvider).Provide`.

I tried to analyse the problem from the [source code](https://github.com/kubernet

[2019-08-07 09:14] kstiehl commented on #81021
cpu limits have nothing to do with this discussion. I am talking about resource requests in kubernetes which are realised by cpu.shares, which work exactly like you say.
This issue is not about that what kubernetes is doing with cpu.shares is not working. It is about that it is not going by the convention that 1024 cpu.shares is equal to 100% of the available resources. Which leads to various side

[2019-08-07 09:28] zq-david-wang commented on #81021
the number of core could be used by container  = cpu limit = cpu_quota / cpu_period

Strange to see JVM  would use cpu share to determine the number of core that it can use.

[2019-08-07 09:30] jfbai opened #81070 "Kubeadm upload component configuration from file to configmap"
**What would you like to be added**:

Upload kubelet configs from file to configmap, something like,

`kubeadm config upload from-file --component-configs KubeletConfiguration --config kubeadm-kubelet.yaml`

[code]

**Why is this needed**:

In order to maintain kubelet config in a consistent way by kubeadm, from upload to download.

[2019-08-07 09:30] jfbai commented on #81070
/sig kubeadm

[2019-08-07 10:07] PierreBeucher commented on #20352
Same issue here with expression:
[code]

[2019-08-07 10:14] oaudry opened #81071 "Control plain won't join"
**What happened**:

I got 3 masters. I try to replace them with new hardware. One by one.

I removed the first.  gra3-k8s001

[code]

I probably should use kubeadm reset -f. But I found that I need to update the kubeadm init config map. What I did : (perhaps something else to do)

[code]

But on the new installed device the join command failed on etcd health check. The device got the same hostname

[2019-08-07 10:35] SKPuthumana commented on #20753
Awesome!!
Worked for me as well.
Jus added and namespace as well as claim ref.
kubectl patch pv nfs2 -p '{"spec":{"claimRef": {"namespace":"dev","name":"my-claim"}}}'

[2019-08-07 10:35] danwinship commented on #15636
Both Fedora-based and Debian-based distros have firewall-managing packages that assume that they are allowed to delete any iptables rules that they didn't create themselves. (I assume SUSE does as well but haven't looked.) Kubernetes has code to poll iptables and try to notice when this has happened; in theory the firewalld-listener code could just be dropped and we could use the polling code alwa

[2019-08-07 10:46] mcortinas commented on #66560
/remove-lifecycle stale

[2019-08-07 10:50] oaudry commented on #81071
@kubernetes/sig-cluster-lifecycle-bugs

[2019-08-07 11:16] anamika-avinash commented on #78164
Thank you @mpucholblasco for the very detailed response.
I do agree with everything in it.

Could you please confirm the cni version and the AMI ID on the worker nodes?
Also, on the worker nodes system log, can you see any OOM killers or Memory leaks?
It would be very helpful if you could paste the Kubelet log snippet.

[2019-08-07 11:19] iky commented on #81055
Experiencing the very same thing.

[code]

[code]

also *GKE*

[2019-08-07 11:35] zakkg3 commented on #2289
Someone did add the NET_ADMIN capability and changing the MAC to an environment variable with "ip link" in the entrypoint.sh ..
https://www.reddit.com/r/kubernetes/comments/8a36jw/set_mac_address_possible_with_k8s/

[2019-08-07 11:43] lbernail commented on #75238
@praseodym: `ip_forward` should be set by kube-proxy: https://github.com/kubernetes/kubernetes/blob/59142b231cbdad2e7ec021a5bf9bc7e769e3add4/pkg/proxy/ipvs/proxier.go#L361

Same for the bridge sysctl: https://github.com/kubernetes/kubernetes/blob/59142b231cbdad2e7ec021a5bf9bc7e769e3add4/pkg/proxy/ipvs/proxier.go#L328

The fact that you have issues with other sysctls point to a permission issue wit

[2019-08-07 11:46] #74353 closed

[2019-08-07 11:53] pdutta777 commented on #67342
Yes - I just verified yesterday on our EKS cluster that you need to upgrade the nodes as well. If all of the nodes were created in an autoscaling group then the process is pretty simple

1. kubectl get nodes
2. kubectl drain _node name_--ignore-daemonsets
3. aws autoscaling terminate-instance-in-auto-scaling-group --instance-id _instance_id_ --no-should-decrement-desired-capacity

Make sure that y

[2019-08-07 11:59] lbernail commented on #72236
So far the simplest solution is to add an iptables rule to drop offending traffic. It's not ideal as IPVS was designed to limit iptables usage but it's too bad because it should a single simple rule using an already existing ipset.

We still need to only match traffic from pods which is not easy because CNI plugins use different naming conventions for pod veths (cali+, veth+, lxc+ for instance). I

[2019-08-07 12:05] lbernail commented on #77903
@sjgiri : if you have this issue when a node dies without a clean shutdown (kernel panic for instance) then the only solution I see is to decrease `net.ipv4.tcp_retries2` so the TCP connection dies faster (any application level healthcheck would work too)

[2019-08-07 12:11] brianloss commented on #79147
Ah, good point--the actual pod does appear to remain running. That makes it less important than I was initially thinking. However, it is a bit disconcerting for someone who happens to be looking at the state of the cluster (or for monitoring) to see the pod appear to be stuck in a restart loop. If it were just a few iterations, it might not matter too much. However, I'm seeing this happen for minu

[2019-08-07 12:27] puthi commented on #72395
@venkatalolla,
I'm running into the same problem here, running kubernetes 1.14.3
I think your configuration works because you set --authorization-mode=RBAC,**AlwaysAllow**, the AlwaysAllow, allow everything as long as the authentication pass. For production environment i think it might not be a good idea, a better approach to your problem maybe to create the ClusterRole as a workaround here(https:

[2019-08-07 12:40] xformerfhs commented on #73514
See [Kubernetes Security Audit](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf), finding ID TOB-K8S-029 and appendix H.

[2019-08-07 12:51] mariantalla commented on #20352
Working to get the first part of the implementation merged over at #79227

[2019-08-07 13:04] neolit123 commented on #81071
`reset` should be enough to remove members from the ClusterStatus list.

this sounds to me like etcd lost quorum
https://blog.containership.io/etcd/

unfortunately once the etcd cluster becomes unhealthy it's not so user-friendly to recover.
to debug this you can use etcdctl. open the file /etc/kubernetes/manifests/etcd.yaml and find a line that has etcdct with certificates as flags. you can eithe

[2019-08-07 13:07] dims commented on #73514
/reopen

[2019-08-07 13:10] Duboix opened #81077 "Can't access my mongodb with Robot3t"
I'm trying to connect to one of my mongodb pods with Robo3t using SSH but when i try to do so
![failed to connect](https://user-images.githubusercontent.com/48476977/62625040-55ba3400-b91c-11e9-84f3-77a91b2fb9d8.PNG)

- Here's my Headless service
![headless](https://user-images.githubusercontent.com/48476977/62625321-daa54d80-b91c-11e9-8f2b-0a02ac4c47c1.PNG)

- The statefulset i used to deploy mon

[2019-08-07 13:12] squeed commented on #75485
Hi there, @vegemitecheesetoast . Welcome to the (wonderful?) world of CNI and kubernetes.

There are two loosely coupled CNI artifacts consumed by Kubernetes:

- `libcni`, the go library (which is only used by dockershim's CNI and Kubenet drivers) that executes CNI plugins),
- the CNI plugin binaries, which are installed directly on disk and *may* be used, or may not be, depending on the user conf

[2019-08-07 13:16] mape90 opened #81078 "Duplicate volume attachment"
**What happened**:
There are two volumeattachments for same PV. (RWO + only one pod uses it)

Events:
1) Pod gets scheduled to node1. (attacherDetacher.AttachVolume called at 15:50:50.839912)
2) The volume gets attached to node1 in 10sec. (AttachVolume.Attach succeeded 15:51:00.487786)
3) Immediately after it reconciler.go starts to reschedule it to node 2. (attacherDetacher.AttachVolume called at

[2019-08-07 13:19] manishbansal8843 commented on #3949
I am also quite interested in this feature for lowering my pod start-up time. I have a service which receives un-scheduled requests in burst mode. At that time, HPA does scale up my application. However, since it takes 2-3 minutes to get my pod ready, meanwhile my requests gets timed out. Had k8s been able to load the pre-initialized pods, start up time would come down by considerable amount of ti

[2019-08-07 13:27] thomas-riccardi commented on #61051
We got this on GCP GKE for nodes with GPUs: it happens when GCP terminates the instance for host maintenance:

You can check GCP logs with this filter:
[code]

It seems the node is abruptly shut down, and kubernetes marks the pod as failed after ~1min with status:
[code]

This is not a kubernetes issues.
GKE could properly shutdown such nodes on host maintenance notice, but not much more...

[2019-08-07 13:30] MSSedusch opened #81079 "Disks are not detached on Azure"
**What happened**:
Pods with PVs could not be moved from one node to another. According to the controller-manager logs, K8s tried to detach to Azure disks from the same node. One of the detach operation waited for this lock (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_controller_common.go#L136). While it waited for the lock, the contro

[2019-08-07 13:30] MSSedusch commented on #81079
/sig azure

[2019-08-07 13:32] MSSedusch commented on #81079
/sig cloud-provider

[2019-08-07 13:38] bclau opened #81080 "DNS tests fail on Windows due to getent usage"
**Which jobs are failing**:

    sig-windows#flannel-overlay-windows-master

**Which test(s) are failing**:

    [sig-network] DNS should provide DNS for the cluster [Conformance]
    [sig-network] DNS should provide DNS for services [Conformance]

**Since when has it been failing**:

Since this PR merged: https://github.com/kubernetes/kubernetes/pull/75243

**Testgrid link**:

    https://testgri

[2019-08-07 13:38] bclau commented on #81080
/cc @aojea

[2019-08-07 13:46] axot commented on #56903
Hi @szuecs, thank you for sharing how to build a solid DNS in infrastructure in Zalando. I'm testing a similar thing based on official node-cache these days and found (https://github.com/kubernetes/dns/issues/318)

1. Run CoreDNS per node may take a lot of pressure on the API server, especially in a large cluster.
2. If pod is config with `hostNetwork: true` and `dnsPolicy: ClusterFirstWithHostNet

[2019-08-07 13:54] andyzhangx commented on #81079
/area provider/azure
@MSSedusch that's expected behavior, k8s controller won't continue detach volume if controller manager restarted, user needs to detach that disk volume manually.

[2019-08-07 14:02] #81077 closed

[2019-08-07 14:12] Sanjanare commented on #44273
@geekflyer any luck ?

[2019-08-07 14:14] dkistner commented on #81079
@andyzhangx Could you please elaborate why this behaviour is expected. I would assume that the controller manager tries to reach the desired state after a restart? Then it would need to detect that the volume is still attached to the wrong node and should try to detach it once more, before it continuing to attach the (still attached) volume? This leads to many `ConflictingUserInputs` ...

Why is i

[2019-08-07 14:30] vlerenc commented on #81079
I can't imagine that "manual intervention" is "desired behaviour" (yes, you wrote "expected", but that doesn't matter, if you make no proposal, how to improve this).

If this isn't fixed, we can't use Azure, period. We can't have clusters that need to be babysitted / you cannot expect people running workloads on Azure clusters and babysit them and manually fixing what should/can fix itself. Level-

[2019-08-07 14:32] jacobg commented on #81051
I figured out the problem. When the node app spawns the Java process, it needs to configure the Java process to inherit the parent's stdio, like this:

[code]

[2019-08-07 14:32] #81051 closed

[2019-08-07 14:38] neolit123 commented on #79779
btw, back in the k8s ~1.8 days i was doing the same mistake of adding workers with the same name as the control-plane node (clone VMs), but observing the control-plane i do not remember the constant restart of control-plane components that is happening right now with.

so possibly a lot has changed since then, but @PauloASilva, i wanted to ask if you have experimented with older versions outside o

[2019-08-07 14:45] fasaxc commented on #72236
Why is that?  Lot of users use routes to expose their cluster IPs on the wider network.

[2019-08-07 14:47] bclau commented on #76342
Right. IMO, making sure that the image actually changes on rolling updates, etc. is pretty important, So I would still keep them as separate images. Ofc, if we merge ``test-webserver`` into ``agnhost``, then ``kitten`` and ``nautilus`` will have to be based on ``agnhost``.

One thing that we could still do: update the tests to upgrade from ``agnhost`` to ``kitten`` or ``nautilus`` and remove the o

[2019-08-07 14:56] PauloASilva commented on #79779
Hi @neolit123,

Please, note that components restart depends on the created work load.
As many conflicting nodes you join to the cluster, faster it will become unstable.

Nop, I did not test 1.11 nor 1.12, but If required, I can do it. As long as those versions are available in the official repo it should be straightforward.

[2019-08-07 15:04] neolit123 commented on #81070
hi @jfbai thanks for logging this.

this seems like a feature that should be tracked the kubernetes/kubeadm repository.
please create the issue in that repository.

/area kubeadm
/close

[2019-08-07 15:04] #81070 closed

[2019-08-07 15:10] alculquicondor commented on #80812
Shouldn't we generalize this to every filter (predicate)? Otherwise, what's the use case?

[2019-08-07 15:18] oaudry commented on #81071
@neolit123 you save my day !! So many thx.

For the record here the command to run on one of the remaining etcd pod :

Find the id of the member to remove

[code]
I want to remove 740381e3c57ef823

[code]

Checking

[code]

Now I can join my new master.

[2019-08-07 15:18] #81071 closed

[2019-08-07 15:20] RobertKrawitz commented on #79147
I opened a cherrypick against 1.15 for this.

[2019-08-07 15:32] liu-cong commented on #80812
I have a few clarification questions.
1. What's the use case?
Do we want to record the number of pods rejected for each pod? What insights can we get from this info? Since the number of rejected nodes heavily depends on the pod itself, I don't see how useful it is to have an overall metric for all pods.

Or maybe we want to record the number of pods rejected by the "taint" predicate. But again, wh

[2019-08-07 15:35] jingxu97 opened #81088 "EmptyDir disk usage reports the whole file system used bytes for windows"
For emptyDir volume, it uses metricsDu package to report the disk used bytes. However, the fs utility used by metricsDu reports the whole file system usage instead of the specific dir usage for windows https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/fs/fs_windows.go.

Due to this wrong information, set a sizeLimit for emptyDir will trigger an eviction action wrongly.

[2019-08-07 15:35] jingxu97 commented on #81088
cc @yujuhong @andyzhangx

[2019-08-07 15:38] aojea commented on #81080
/assign

[2019-08-07 15:38] lbernail commented on #72236
True, we can actually just drop all traffic to cluster IPs that are not sent to service ports

[2019-08-07 15:44] aojea commented on #81080
@bclau a little help here :sweat_smile: , how can I test this to come up with a fix?
I can't see how is the output of getent in windows

[2019-08-07 15:45] kfox1111 commented on #56440
I hadn't bumped into the service topology feature before and missed your email thockin. I'll take a closer look. At a glance, it looks like it could indeed solve the issue. Thanks.

/reopen
/remove-lifecycle rotten

[2019-08-07 15:45] neolit123 commented on #81078
/sig storage

[2019-08-07 15:46] neolit123 commented on #81026
/sig api-machinery

[2019-08-07 15:47] neolit123 commented on #80013
/sig apps

[2019-08-07 15:47] neolit123 commented on #79805
/sig api-machinery

[2019-08-07 15:52] khenidak commented on #80298
@AnjanaAK the `5xx` is returned from your pods. The fact that you got `5xx` means that the request reached your service and iptables/ipvs setup is in fact working as intended. Can you please double check?

One of the easy way to check is to run a tcpdump in your pod while you are sending requests. You should see packets coming in for each request including the failed one.

[2019-08-07 15:52] khenidak commented on #80298
/triage resolved

[2019-08-07 15:54] khenidak commented on #79597
/cc

[2019-08-07 15:55] khenidak commented on #80078
/remove-triage unresolved

[2019-08-07 15:57] brianloss commented on #79147
Appreciated. Thanks!

[2019-08-07 15:59] gjmzj commented on #80152
@prameshj thanks for your advice, here is more testing
[code]
and check by
[code]

[2019-08-07 16:10] aali28 commented on #40244
Any update on this issue?

[2019-08-07 16:15] mpucholblasco commented on #78164
Sure @anamika-avinash , the CNI version we are using is 1.5.0 (container used by `aws-node` pods is `602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon-k8s-cni:v1.5.0`). The AMI ID we are using on our workers is `amazon-eks-node-1.13-v20190701 (ami-00ac2e6b3cb38a9b9)`.

There is no information about processes killed by out of memory or memory leaks. In fact, the kubelet is just starting and the i

[2019-08-07 16:18] khenidak commented on #80297
/remove-triage unresolved
@uablrek we can not do ipv6-> `ipv4:node-port` because the packet itself is `IPv6` not `IPv4`. The above behavior is indeed intended. The cluster has to be `IPv4` all the way (including external addresses) or `IPv6` all the way (again including external addresses). Running `6to4` nat gateways is the only way to expose `IPv6` addresses on `IPv4` clusters or `dualstack`.

[2019-08-07 16:18] khenidak commented on #80297
/remove-triage unresolved

[2019-08-07 16:20] saschagrunert commented on #80760
Hey, @mgdevstack, I did some local tests and was able to reproduce the failure.

I started the cluster via (check that the `IP` variable is correct and does not point to `127.0.0.1`):
[code]

Executed the tests by (again, watch out for the `IP` variable to be correct):
[code]

Error output:
[code]

Since I'm now able to reproduce the issue I can go further in debugging and find out how to fix this

[2019-08-07 16:22] maxneaga opened #81089 "Allow setting ownership on mounted secrets"
**What would you like to be added**:
Currently, you can set secret file permissions, but not ownership: (see the "Secret files permissions" section)
https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets

It would be good to add a `defaultOwner`, and possible `defaultGroup` field that would allow setting the default ownership of the secret files.

**Why is this needed**:
It is pos

[2019-08-07 16:25] maxneaga commented on #81089
/sig auth

[2019-08-07 16:42] MrHohn commented on #80760
@saschagrunert Thanks for reproducing this. FYI we've seem similar failure on https://github.com/kubernetes/kubernetes/issues/81000, but I haven't reproduced the problem locally yet.

We are looking to at least turn on verbose on the test command for debugging: https://github.com/kubernetes/kubernetes/pull/81049.

[2019-08-07 16:52] hanoisteve opened #81090 "Preseed --conntrack-max-per-core 0 on kubeadm init/join"
**What would you like to be added**:
kube-proxy doesn't start inside a container, because it is unallowed to change conntrack hashsize. there is a workaround in adding `--conntrack-max-per-core 0` to it's command line parameters, but all solutions that I found are like "start the cluster, wait kube-proxy to crash, edit it's daemon set and delete it's pod". All I want is to have it that parameter f

[2019-08-07 16:53] #71843 closed

[2019-08-07 17:03] kstiehl commented on #81021
It's actually quite logical to use the cpu.shares instead of the cpu_limit. Because  cpu_quota / cpu_period is just the max limit the JVM can use if no other pod is using the cpu right now. cpu.shares are guaranteed.
The JVM needs to know the number of guaranteed cores because almost every Java framework and all java servers align their thread pools to the number of available cores.

[2019-08-07 17:09] cblecker commented on #79912
@warmchang Thanks for the heads up. I don't want that to block our move. We should be moving on these a little more rapidly. Until 1.12.8 is out, we should update things to 1.12.7, and then can push forward to 1.12.8 when it is released.

[2019-08-07 17:11] prameshj commented on #56903
please note - this issue happens only if reusing kube-dns service VIP as the nodelocaldns listen IP. When using the link-local ip address, this issue does not seem to occur.

[2019-08-07 17:28] smekkley commented on #79866
I guess this is impossible from kube-proxy side?

By setting --cluster-cidr=0.0.0.0/0, you can see the original IP from the pod, but because it doesn't do SNAT, network plugin doesn't know anything about Cluster IP, so there is no way to SNAT with ClusterIP on return traffic from the network plugin side.

Kube-proxy needs to somehow forward the traffic to a pod without SNATing, then with the retur

[2019-08-07 17:32] cksassy commented on #78446
Same error when port-forwarding to AWS EKS pod:

`E0806 17:04:44.805492   78962 portforward.go:385] error copying from local connection to remote stream: read tcp6 [::1]:3000->[::1]:61216: read: connection reset by peer`

kubectl version:

`Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2", GitCommit:"f6278300bebbb750328ac16ee6dd3aa7d3549568", GitTreeState:"clean", BuildDate

[2019-08-07 17:40] ramnes commented on #59031
/remove-lifecycle stale

[2019-08-07 17:40] johnSchnake commented on #76617
I have no real problem with the ones that are making up image names like `foo` or `fake-not-scheduled`

I will take a look at the ones actually referring to real images and update them.

[2019-08-07 17:48] mohibkhan-nedian commented on #20555
@goodhoko does that mean that tcp probes wont work at all for ingress?

[2019-08-07 17:58] mohibkhan-nedian opened #81092 "Kubernetes - GCE ingress shows UNHEALTH backend service with readiness probe"
Hi,

I am using [this ](https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing) tutorial ingress on GCE. The tutorial works fine with docker image in it but with my docker image, I always get UNHEALTHY state of backend service. I added liveness and readiness TCP probes as my application does not respond to '/' with 200.
The deployment yaml look like below
[code]
The

[2019-08-07 18:05] nick-pap commented on #37471
Use winpty kubectl exec -it <pod-name> bash

[2019-08-07 18:09] thockin commented on #33766
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-08-07 18:10] jiatongw commented on #77197
Hi @oomichi , there is still one method that not be cleaned up. This issue will be closed by a `Fixes` in the next PR. Thanks!

[2019-08-07 18:17] uablrek commented on #80297
@khenidak I mentioned that;

But the main problem as I understand it is that for k8s systems with an external LB that NAT's the LB address and do load-balancing to NodePort the LB-ip packets to the LB-ip originating from *within* the cluster (node or pod) take different route than packets to the LB-ip originating from outside the cluster. The packets originating from within the cluster are "hijack

[2019-08-07 18:33] thockin commented on #79866
I think this is plain-old conntrack.

The setup is this:

1) Traffic from pods on "this" node to a service ClusterIP never needs MASQ, because return path comes to the same place, so the DNAT connection tracking is reversed correctly.

2) Traffic from "other" machines to a service ClusterIP routed "through" this node *might* need MASQ.

2a) Traffic from "other" machines to a service ClusterIP rout

[2019-08-07 18:39] johnSchnake commented on #76342
There are a few tests like this it seems but as far as I know that is also the reason for having "nginx" and "nginxNew". We can probably decide on just one approach to validate the "ensure image gets updated" logic get rid of `nginxNew` then.

That would be great; I didn't even consider that really since I was just thinking about what could be "rolled into" agnhost. You're probably right that agnh

[2019-08-07 18:43] andrewsykim commented on #80510
@ricky1993 I'm curious how exactly you are setting the `--controllers` flags, cause in some scenarios if we add new controllers in `kube-controller-manager` you could miss it.

[2019-08-07 18:46] tallclair commented on #81089
/cc @jingxu97

[2019-08-07 18:53] bclau commented on #81080
Yeah, so, ``getent hosts`` basically outputs things from the ``/etc/hosts`` file (or on Windows, ``C:/Windows/System32/drivers/etc/hosts``). From what I see in the Windows containers, every single line in the ``hosts`` file is commented. Keep in mind that that file is not managed by Kubelet because we cannot mount individual files in Windows containers at the moment (that's how it's done on Linux)

[2019-08-07 18:58] Huang-Wei commented on #80372
`pkg/scheduler/internal/<pkgname>` sounds better.. - if we have to make changes. Again, my concern is that we're not following the semantics of Golang `internal` package. But it seems we don't have other alternatives, so I'm fine with creating a new internal pkg.

[2019-08-07 18:58] thockin commented on #56440
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-08-07 19:13] liggitt commented on #81089
see also https://github.com/kubernetes/kubernetes/issues/57923 (specifically https://github.com/kubernetes/kubernetes/issues/57923#issuecomment-489007035)

[2019-08-07 19:14] liggitt commented on #81089
I think this is what the fsGroup setting was intended to accomodate

[2019-08-07 19:14] prameshj commented on #80152
interesting, does the "getent hosts test-hostname" command work too?
If it does, then I am not sure why the test is failing.

Can you try running just the one test by specifying --ginkgo.Focus="should provide \/etc\/hosts entries for the cluster"

You can also add a sleep inside the test so that you can inspect the setup to make sure the host entries are there.

[2019-08-07 19:49] rakeshvanga opened #81095 "Not able to change the permission of a directory mounted as subPath to use with a non-root container"
**What happened**:
Mounting an Azure file share along with subPath to mount only a particular directory under that share and changing the permissions of that mounted path (using an initContainer) for a non-root container. The non-root container is still seeing the owner as root and the owner set by initContainer.

**What you expected to happen**:
The owner of the mounted path should be the one set

[2019-08-07 20:20] smarterclayton commented on #60807
Namespace controller should report conditions to the namespace status and clients should report that.  Needs a KEP, but should be pretty straightforward if someone can take and validate it.

[2019-08-07 20:22] smekkley commented on #79866
Oh, yes. I was only thinking in terms of SNAT.

Now I see the problem as well. I thank you very much for the detailed explanation.

In this case I have to agree that if we had a holistic network plugin would be better because of the assumption we might be forced to make to solve this issue.

[2019-08-07 20:24] thockin commented on #80278
If someone has localhost aliased to ::1 in ./etc/hosts but then has IPv6 turned off, are we expected to work around it properly?  Or is that a bug in the node setup?

WRT net.JoinHostPort(), I don't understand what you mean about not being used.  That will procude a valid "host:port" string for use in many contexts..

[2019-08-07 20:30] hh commented on #76345
@timothysc results will look something like this unless you suggest otherwise:

[code]

[code]

[2019-08-07 20:32] thockin commented on #80122
I'm saying the answer _might_ be to adapt StatefulSet or might be to make a new Controller that is like StatefulSet but different.

Ahh yes.  This is hard.  I know some users have a daemonset on each node that establishes SNAT rules in iptables for each pod on that machine.  It's hacky, but it mostly works.

I will close for now.  I don't think we have anything to do here, short of retooling how I

[2019-08-07 20:32] #80122 closed

[2019-08-07 20:37] thockin commented on #49239
@freehan - are we happy with new API wrt this?

[2019-08-07 20:41] mml commented on #73791
Hmmm.. this happened to me today on a 1.13 cluster, using kubectl.1.13.

[2019-08-07 20:47] mikedanese commented on #73791
Thanks, I'll push on this then since it's showing up.

[2019-08-07 20:49] smekkley commented on #80807
For what it's worth, it's probably due to the fact that coreos runs kubelet in a container (rkt).
I get a similar log when I run kubelet in podman.

[2019-08-07 20:50] destijl commented on #80983
@kbruner GKE customers will have patched versions to upgrade to, please see this bulletin:
https://cloud.google.com/kubernetes-engine/docs/security-bulletins#august-05-2019

[2019-08-07 20:52] msau42 commented on #76044
/remove-lifecycle rotten
/assign @jsafrane

[2019-08-07 20:57] khenidak opened #81097 "Volume controller detach behavior"
**What happened**:
Does volume controller handles the situation where controller manager restart during a failed detach call?

The code here https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L206 - understandably - updates the node `attached volumes` before it actually performs the detach.

**What you expected to happen**:
The reconcil

[2019-08-07 21:02] lavalamp commented on #60807
@timothysc there is (or was) a PR in flight (somewhere) doing exactly what @smarterclayton says.

I am pretty sure there is another github issue about this, too?

[2019-08-07 21:05] lavalamp commented on #60807
Yeah the PR is here: https://github.com/kubernetes/kubernetes/pull/73405

The issue I consider canonical is here: https://github.com/kubernetes/kubernetes/issues/70916

[2019-08-07 21:06] lavalamp commented on #64002
Please take future reports of this to: #70916

[2019-08-07 21:07] lavalamp commented on #66735
Please take future reports of this to: #70916

[2019-08-07 21:08] thockin commented on #80770
I think we really want disabled fields to not appear in discovery schemas right?  To do that, we'd need to get to a more declarative and dynamic way of decorating the API IDL with flag gates that govern field availability, right?

[2019-08-07 21:11] liu-cong commented on #80372
I am not a big fan of refactoring without adding much business value and with potential risks to break other things. Unless this current structure blocks anything that I'm not aware of.

I am going to unassign myself for now. But I am willing to help again if there is a good reason to refactor.

[2019-08-07 21:16] thockin commented on #79866
I'm really hoping for a great "why not do this, you moron" sort of
solution, but I am trying to be sanguine :)

I might be open to a set of configs, e.g.
`--detect-external-traffic=netdev-prefix=<nic-prefix>` vs
`--detect-external-traffic=cluster-cidr=<cluster-cidr>` or something that
specifies different ways of testing traffic locality.

On Wed, Aug 7, 2019 at 1:23 PM smekkley <notifications@gith

[2019-08-07 21:41] msau42 commented on #81097
cc @jingxu97

[2019-08-07 21:43] maxneaga commented on #81089
Correct, multiple processes in a single container running as different users not have access to another or portions of the same secret.

[2019-08-07 21:48] oomichi commented on #77197
@jiatongw Sounds good for me, happy to review it for closing this issue when proposing :-)

[2019-08-07 21:55] #79597 closed

[2019-08-07 22:03] thockin opened #81098 "pkg/util/interrupt/interrupt.go has big bad bugs"
Discovered in the context of https://github.com/kubernetes/utils/pull/87, I will duplicate some of the thoughts here.  If someone takes this, please go read that PR (unless it gets fixed up and merged, in which case close this)

https://github.com/kubernetes/utils/pull/87#pullrequestreview-220631325

1) Is it allowed to call Chain() and then Run() from within a higher-level Run() ?

[code]

So out

[2019-08-07 22:07] alculquicondor commented on #80921
We should think of this more generally: do we want filtered nodes (by other filters) to influence the skews calculation? I believe that every filter should be independent of each other. It is my understanding that this is the pattern that the new framework promotes too.

In this case, the simplest solution is to count all the pods, only considering the spreading selectors.

We should keep in mind

[2019-08-07 22:13] dpandhi-git commented on #55722
found a similar discussion https://github.com/stretchr/testify/issues/535

[2019-08-07 22:24] MikeSpreitzer opened #81100 "flake: pull-kubernetes-bazel-test //cmd/kubelet/app:go_default_test"
**Which jobs are failing**:
pull-kubernetes-bazel-test

**Which test(s) are failing**:
//cmd/kubelet/app:go_default_test

**Since when has it been failing**:
Flaky since Aug 6, 2019.

**Testgrid link**:
https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test

PR with varying results: https://github.com/kubernetes/kubernetes/pull/81003
PR with consistent failure:

[2019-08-07 22:24] MikeSpreitzer commented on #81100
/kind flake

[2019-08-07 22:26] tallclair commented on #81089
This does not sound like a very common use case. Different processes running under different users are typically separated to different containers.

There are a handful of ways you could implement a custom solution within  a container, but this doesn't sound like a use case we're likely to support in Kubernetes.
/priority awaiting-more-evidence

[2019-08-07 22:27] MikeSpreitzer commented on #81100
@kubernetes/sig-node-bugs

[2019-08-07 22:27] MikeSpreitzer commented on #81100
/unkind failing-test

[2019-08-07 22:42] nodesocket opened #81101 "EKS delete pv hung on `Terminating`"
Running on Amazon EKS. I created a few services using Helm which create persistent volumes.

When I run `helm delete` it does not delete the persistent volumes. So, I tried manually removing them using:

[code]

The command shows `persistentvolume "pvc-08e65270-b7ce-11e9-ba0b-0a1e280502e2" deleted`, but the delete command does not exist, it just hangs. So, I CONTROL+C and ran:

[code]

And it show

[2019-08-07 22:44] nodesocket commented on #81101
/sig storage

[2019-08-07 22:47] neolit123 opened #81102 "import-boss ignores import in a _test.go file"
**What happened**:

if a _test.go file contains a certain import, and even if this import is forbidden by `.import-restrictions`, ./hack/verify-import-boss.sh will pass.

if the same import is moved to a regular .go (non-"_test".go) file import-boss fails and says the import is not allowed, as expected.

**What you expected to happen**:

import-boss to not allow a _test.go file to have a forbidden

[2019-08-07 22:48] andrewsykim commented on #74383
Similar to https://github.com/kubernetes/kubernetes/pull/77523, if we know the source is internal to the cluster (by checking cluster CIDR or --src-type=LOCAL) this seems reasonable to me as long as we're not changing source IP preservation rules from external traffic.

[2019-08-07 22:48] neolit123 commented on #81102
/sig testing

[2019-08-07 22:52] nodesocket commented on #81101
After running the following command, the persistent volume successfully deleted.

[code]

Is there a way to prevent having to manually run that command every time I want to delete a pv?

[2019-08-07 23:07] Huang-Wei commented on #80921
In the scheduler's history, it's always like this until this feature :) In the alpha implementation, it respects nodeSelector and hard nodeAffinity.

This is the current behavior. But we're open to make changes if this doesn't fit the _majority_ usage.

[2019-08-07 23:23] neolit123 commented on #81092
/sig cloud-provider

[2019-08-07 23:23] neolit123 commented on #81090
/sig node

[2019-08-07 23:24] neolit123 commented on #81095
/sig node

[2019-08-07 23:25] oomichi opened #81103 "A conformance test is failed if master node doesn't have taints"
**What happened**:

The conformance test "validates resource limits of pods that are allowed to run" is failed if master node doesn't have taints.

**What you expected to happen**:

All conformance tests should pass even if a master node doesn't have taints.

**How to reproduce it (as minimally and precisely as possible)**:

If a master node has taints like many cases, the test can pass like the f

[2019-08-07 23:26] oomichi commented on #81103
/sig scheduling

[2019-08-07 23:31] neolit123 commented on #81090
/remove-sig node
/area kubeadm
/sig cluster-lifecycle

hi, kubeadm currently does not allow customizing the kube-proxy DaemonSet and it's template Pod spec:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/proxy/manifests.go#L79-L81

we have a tracking issue to support such kustomizations, but the first phase of this support (that will happen in 1.16) will only be

[2019-08-07 23:31] #81090 closed

[2019-08-07 23:47] kevinkim9264 commented on #70674
I resolved this problem by editing the svc and removing the resourceVersion and clusterIP from Annotation section.
kubectl edit svc svc-name
(remove resourceVersion and clusterIP from annotation)
kubectl apply -f svc.yaml

[2019-08-07 23:53] vegemitecheesetoast commented on #75485
Hi @squeed! Thanks for the background here. Let me reach out to @justaugustus and see how I can help here. Given it's my first time, working with someone would be ideal to get my head around everything.

[2019-08-07 23:59] wgliang commented on #79805
@yue9944882 Thank you for your reply.
IMO, Adaptive retry-after interval on rate limiting does not conflict with the server-side rate-limit you said. Instead it is a friendly addition. Server-side rate-limit is concerned with the priority of request processing but does not solve the problem I raised, that is, when the request is too much, this situation will still occur.

What I would expect is th

[2019-08-08 00:00] wgliang commented on #79805
/assign

[2019-08-08 00:07] grosser commented on #70674
that works for services, but some resources require a resourceVersion is sent in

[2019-08-08 00:10] oomichi commented on #81103
The test log contains `Creating a pod which consumes cpu=1330m on Node k8s-node01` only, that means the test doesn't create a pod on the master node which doesn't have any taints when this issue happens.
The following log is the part of when the issue happened.
Important line is `[Successfully assigned sched-pred-9574/additional-pod to k8s-master]` which says additional-pod which was expected to b

[2019-08-08 00:20] oomichi commented on #81103
nodeList is gotten from `GetMasterAndWorkerNodes()` as `masterNodes, nodeList, err = e2enode.GetMasterAndWorkerNodes(cs)` in BeforeEach() step.
And as I said on https://github.com/kubernetes/kubernetes/issues/80177#issuecomment-518905432  the function is problematic now.

[2019-08-08 00:40] andyzhangx commented on #81079
@dkistner do you know why controller manager is restarted, it's not a common scenario, we cannot guarantee disk attach/detach functionality works if  controller manager restarted at that time.

[2019-08-08 00:59] liyanhui1228 commented on #77310
[Here](https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/cp/cp.go#L125) is code where kubectl treats the windows path `C:` as a pod name. I'll prepare a PR to fix that.

[2019-08-08 01:35] ricky1993 commented on #80510
@andrewsykim We set --controllers=*,-foo,-bar at main kcm. And --controllers=foo,bar at the seperated kcms. I think it would not miss new controllers because * is a wildcard to match it.

[2019-08-08 01:44] zhangguanzhang commented on #63900
same issue
first svc could telnet
[code]
now, test the dns pod ip
[code]
now , ssh the node and test
[code]

[2019-08-08 01:45] andrewsykim commented on #80510
Thanks for clarifying!

[2019-08-08 01:47] soohoon commented on #80452
"Imo. this should be supported, and it would only require removing an if statement in order to implement it. I see no reason to limit the node from allocating huge pages with more than one size."

Could you fix this one as well?
We use 2M pages only for pods but we need 1G pages for system processes.
So it was little surprising when k8s doesn't start because two different pages were configured no

[2019-08-08 02:02] cji opened #81110 "TOB-K8S-038: hostPath PersistentVolumes enable PodSecurityPolicy bypass"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
A PodSecurityPolicy allows a cluster administrator to specify what settings a given service account should be able to provide when creating a Pod on a cluster. If a cluster operator attempts to create a Po

[2019-08-08 02:02] cji opened #81111 "TOB-K8S-028: Kubernetes does not facilitate certificate revocation"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes uses certificates for authentication, authorization, and transport security. However, in its current state Kubernetes does not support certificate revocation. Therefore, users must regenerate th

[2019-08-08 02:02] cji opened #81112 "HTTPS connections are not authenticated"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
The Kubernetes system allows users to set up Public Key Infrastructure (PKI), but often fails to authenticate connections using Transport Layer Security (TLS) between components, negating any benefit to us

[2019-08-08 02:03] cji opened #81113 "TOCTOU when moving PID to manager’s cgroup via kubelet"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
PIDs are not process handles. A given PID may be reused in two dependent operations leading to a “Time Of Check vs Time Of Use” (TOCTOU) attack. This occurs in the Linux container manager ensureProcessInCo

[2019-08-08 02:03] cji opened #81114 "CVE-2019-11250: TOB-K8S-001: Bearer tokens are revealed in logs"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes requires an authentication mechanism to enforce users’ privileges. One method of authentication, bearer tokens, are opaque strings used to associate a user with their having successfully authent

[2019-08-08 02:03] cji opened #81115 "TOB-K8S-002: Seccomp is disabled by default"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Seccomp is disabled by default for containers configured by kubelet since 1.10.0. This allows configured containers to interact directly with the host kernel. Depending on container privileges, this could

[2019-08-08 02:03] cji opened #81116 "TOB-K8S-004: Pervasive world-accessible file permissions"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes uses files and directories to store information ranging from key-value data to certificate data to logs. However, a number of locations have world-writable directories:

[code]
Figure 7.1: World

[2019-08-08 02:03] cji opened #81117 "TOB-K8S-005: Environment variables expose sensitive data"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
When configuring components of infrastructure, environment variables allow a trivial method of gathering settings. However, not all settings should be derived from these variables. For example, the pkg/con

[2019-08-08 02:03] cji opened #81118 "Use of InsecureIgnoreHostKey in SSH connections"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes uses Secure Shell (SSH) to connect from masters to nodes under certain, deprecated, configuration settings. As part of this connection, masters must open an SSH connection using NewSSHTunnel, wh

[2019-08-08 02:03] cji opened #81119 "Use of InsecureSkipVerify and other TLS weaknesses"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes uses Transport Layer Security (TLS) throughout the system to connect disparate components. These include kube-proxy, kubelets, and other core, fundamental components of a working cluster. Howeve

[2019-08-08 02:03] cji opened #81120 "Kubeadm performs potentially-dangerous reset operations"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Within the kubeadm CLI, there is a command that will search for mounted directories within the static kubeadmconstants.kubeletRunDirectory. If any are found, they will be subsequently unmounted by umount.

[2019-08-08 02:03] cji opened #81121 "Port parsing can overflow (TOB-K8S-015: Overflows when using strconv.Atoi and downcasting the result)"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
The strconv.Atoi function parses an int - a machine dependent integer type, which, for 64-bit targets will be int64. There are places throughout the codebase where the result returned from strconv.Atoi is

[2019-08-08 02:03] cji opened #81122 "TOB-K8S-019: kubelet can cause an Out of Memory error with a malicious manifest"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
When kubelet attempts to load a Pod manifest, it will read the manifest entirely into memory in an attempt to parse and validate the manifest. Due to this behavior, if a large manifest is provided to kubel

[2019-08-08 02:03] cji opened #81123 "Kubectl can cause an Out Of Memory error with a malicious Pod specification"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
When attempting to apply a Pod to the cluster, kubectl will read in the entire Pod spec in an attempt to perform validation. This results in the entire Pod spec being loaded into memory when loading from e

[2019-08-08 02:03] cji opened #81124 "TOB-K8S-021: Improper fetching of PIDs allows incorrect cgroup movement"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubelet fetches a process’s PID by checking the process name when the pidfile file doesn’t exist. This fallback mechanism doesn’t validate the target process allowing an attacker to spoof it.

Kubelet’s co

[2019-08-08 02:03] cji opened #81125 "TOB-K8S-026: Directory traversal of host logs running kube-apiserver and kubelet"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
The kube-apiserver runs within the Control Plane of a Kubernetes cluster, acting as the central authority on cluster state. Part of its functionality is serving files from /var/log on the /logs[/{logpath:*

[2019-08-08 02:03] cji opened #81126 "ATR-K8S-002: Non-constant time password comparison"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
The kube-apiserver includes multiple authentication backends for client request processing. These range in strength from client certificate authentication to simple HTTP Basic Authentication. When using a

[2019-08-08 02:03] cji opened #81127 "Encryption recommendations not in accordance with best practices"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
The cryptographic recommendations in the official documentation are not accurate, and may lead users to make unsafe choices with their Kubernetes encryption configuration.

https://kubernetes.io/docs/tasks

[2019-08-08 02:03] cji opened #81128 "TOB-K8S-031: Adding credentials to containers by default is unsafe"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes uses secrets for multiple aspects of the system. In order to provide containers with these secrets, a directory is created and secrets are effectively mounted on the container within this direct

[2019-08-08 02:04] cji opened #81129 "kubelet liveness probes can be used to enumerate host network"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes supports both readiness and liveness probes to detect when a Pod is operating correctly, and when to begin or stop directing traffic to a Pod. Three methods are available to facilitate these pro

[2019-08-08 02:04] cji opened #81130 "ATR-K8S-003: iSCSI volume storage cleartext secrets in logs"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes can be configured to use iSCSI volumes. When using CHAP authentication, CHAP secrets are stored using the Secrets API, such as in this [example configuration](https://github.com/kubernetes/examp

[2019-08-08 02:04] cji opened #81131 "TOB-K8S-006: Hard coded credential paths"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Credential paths should not be hardcoded within the source code of an application. Paths should be configurable through a standard configuration interface to allow an operator to specify file paths.

[code

[2019-08-08 02:04] cji opened #81132 "Log rotation is not atomic"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
kubelets use a log to store metadata about the container system, such as readiness status. As is normal for logging, kubelets will rotate their logs under certain conditions:

[code]
Figure 22.1: One of th

[2019-08-08 02:04] cji opened #81133 "Arbitrary file paths without bounding"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes as a whole accesses files across the system, including: logs, configuration files, and container descriptions. However, the system does not include a whitelist of safe file locations, nor does i

[2019-08-08 02:04] cji opened #81134 "Unsafe JSON construction"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes uses JavaScript Object Notation (JSON) and similarly structured data sources throughout the codebase. This supports inter-component communications, both internally and externally to the cluster.

[2019-08-08 02:04] cji opened #81135 "TOB-K8S-023: kubelet crash due to improperly handled errors"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
The kubelet will periodically poll a directory for its disk usage with the GetDirDiskUsage function. To do this, it parses the STDOUT of the ionice command. If there is an error when reading from STDOUT, t

[2019-08-08 02:04] cji opened #81136 "TOB-K8S-036: Legacy tokens do not expire"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Legacy tokens have no expiration date.

[code]
Figure 36.1 LegacyClaims do not have an expiration date

If a Pod is compromised, an attacker can acquire the token and obtain access to the service account i

[2019-08-08 02:04] cji opened #81137 "TOB-K8S-032: CoreDNS leaks internal cluster information across namespaces"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes can use DNS for service discovery. This allows both cluster components and containers alike to retrieve service and other information from a single source. However, CoreDNS does not distinguish

[2019-08-08 02:04] cji opened #81138 "TOB-K8S-033: Services use questionable default functions"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Many services in Kubernetes use questionable default functions, such as insecure random number generation or dangerous temporary file creation.

In regards to random number generation, many services, inclu

[2019-08-08 02:04] cji opened #81139 "TOB-K8S-025: Incorrect docker daemon process name in container manager"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
The container manager used in kubelet checks for docker daemon process either via pidfile or process name. While the pidfile points to the docker daemon process PID, the dockerProcessName constant stores a

[2019-08-08 02:04] cji opened #81140 "Use standard formats everywhere"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes supports multiple backends for authentication and authorization, one of which is the Attribute-Based Access Control (ABAC) backend. This backend uses a format consisting of a single-line JSON ob

[2019-08-08 02:04] cji opened #81141 "TOB-K8S-009: Superficial health check provides false sense of safety"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes includes many components that can fail for a multitude of reasons. Health checks are an important tool in mitigating unnoticed component failures. However, the kubeadm health checks are superfic

[2019-08-08 02:04] cji opened #81142 "Hardcoded use of insecure gRPC transport"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes’ gRPC client uses a hardcoded WithInsecure() transport setting when dialing a remote:
[code]

[2019-08-08 02:04] cji opened #81143 "TOB-K8S-003: Incorrect handling of Retry-After"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubernetes includes a linkcheck command, intended to check the correctness of links within Kubernetes documentation. The command uses the strconv.Atoi function to parse the Retry-After response header. How

[2019-08-08 02:04] cji opened #81144 "TOB-K8S-027: Incorrect isKernelPid check"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
The isKernelPid function (Figure 1) checks if a given PID is a kernel PID by checking whether readlink of /proc/<pid>/exe returns an error. This check is used to filter out kernel processes and move all ot

[2019-08-08 02:04] cji opened #81145 "TOB-K8S-037: Kubelet supports insecure TLS ciphersuites"
This issue was reported in the [Kubernetes Security Audit Report](https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf)

**Description**
Kubelet allows administrators to configure TLS connections to use a variety of insecure cipher suites. In particular it supports the use of RC4 and 3DES in its symmetric suites. RC4 has known bias in its o

[2019-08-08 02:09] cji opened #81146 "Kubernetes 3rd Party Security Audit Findings"
This issue is to track the findings from the recent 3rd party security audit of Kubernetes performed by Trail of Bits and Atredis on behalf of the CNCF. The intent is to have a place to track the community's response and remediation to these issues now that they've been made public.

The full output of the assessment is available on the [Security Audit Working Group](https://github.com/kubernetes/

[2019-08-08 02:09] levimm commented on #67813
i'm working on it.

[2019-08-08 02:12] qiaolb commented on #74340
I have same issue, kubernetes 1.14~1.15.0~1.15.2, I used Calico network.
[code]

[2019-08-08 02:17] alculquicondor commented on #80921
I missed the fact that when a node doesn't satisfy affinity or taints, then it's likely to have 0 pods with that match the spreading constraint labels. Then the minimum count would be 0 for that node, messing up the skew.

That said, simply excluding nodes that doesn't satisfy taints wouldn't solve the general issue. We are considering taints here, but potentially other filters could affect the sk

[2019-08-08 02:22] gnufied commented on #81097
That is the main reason we introduced - dangling volume errors (https://github.com/kubernetes/kubernetes/issues/80488) . It is currently implemented only for EBS and Cinder but even if controller-manager was restarted during a detach and detach failed and next time some other pod tried to use same volume then plugin will throw `DanglingAttachError` which will cause the volume to be marked as attac

[2019-08-08 02:25] gnufied commented on #81097
This also applies to controller-manager crash before attach could finish but attach was started. In that case - the volume state may not be recorded in the node and hence even though volume is attached to a node, it may not be detached.

[2019-08-08 02:26] gnufied commented on #80488
@leakingtapan see linked issue above.

[2019-08-08 02:29] alculquicondor commented on #80372
/kind cleanup
/remove-kind feature

I believe it's important to increase the separation of concerns of our packages and/or structures. I don't think this cleanup in particular is a risk, as we are only moving structs from one place to another. But we don't need to do it now.

A short term solution I can think of is to move `NodeInfo` back to `algorithm` so that Cache can embed the interface. The p

[2019-08-08 02:31] zq-david-wang commented on #81021
If you run two or more JVMs on the same non-container environment, what the available core used by each JVM? Could JVM calculate correctly the "need to know number of guaranteed cores"?
I am no java expert, but my guess is that each JVM would use total number of cores on host without considering other process.  So what JVM needs is the upper limit of CPU resource  it can use, not the minimum/guara

[2019-08-08 02:44] neolit123 commented on #81120
we track this in k/kubeadm already:
https://github.com/kubernetes/kubeadm/issues/1715

please use the following commands:
/remove-kind feature
/kind bug

as these are not features.

[2019-08-08 02:46] neolit123 commented on #81116
the kubeadm parts of this finding are tracked at:
https://github.com/kubernetes/kubeadm/issues/1716

[2019-08-08 02:47] neolit123 commented on #81141
/remove-kind feature
/kind bug

tracked at https://github.com/kubernetes/kubeadm/issues/1717

[2019-08-08 02:49] neolit123 commented on #81137
i do not see a coredns version in this report.
possibly the one kubespray->kubeadm uses (as per the summary of the audit) which is 1.3.1

cc @chrisohaver @rajansandeep

[2019-08-08 02:50] neolit123 commented on #81146
thanks for logging these tickets, that's some heavy duty!

/remove-kind feature
/kind bug
/priority important-longterm
(on the average)

[2019-08-08 02:58] liggitt commented on #81110
/sig auth

[2019-08-08 02:59] liggitt commented on #81111
/sig auth
/sig api-machinery

[2019-08-08 02:59] liggitt commented on #81112
/sig auth
/sig api-machinery
/sig node

[2019-08-08 02:59] liggitt commented on #81113
/sig node

[2019-08-08 03:00] liggitt commented on #81114
/sig auth
/sig api-machinery

[2019-08-08 03:02] liggitt commented on #81115
/sig auth
/sig node
/assign @tallclair

[2019-08-08 03:02] Lion-Wei opened #81147 "statefulset don't have podSpec validation"
**What happened**:

Currently statefulset don't have podSpec validation, which might result in we can create statefulset with invalid podSpec, but this statefulset can't create any pod.

[code]

**What you expected to happen**:

Statefulset validation should cover PodTemplateSpec validation.

**How to reproduce it (as minimally and precisely as possible)**:

Create a statefulset with invalid podSp

[2019-08-08 03:03] liggitt commented on #81122
/sig node

[2019-08-08 03:03] liggitt commented on #81123
/sig cli

[2019-08-08 03:04] liggitt commented on #81126
/sig auth

[2019-08-08 03:05] yue9944882 commented on #79805
thank you for volunteering. we don't feel like split a pass from the coming `flowcontrol.apiserver.k8s.io` models. different priorities should be retried w/ different strategies, systems or workloads. we did discuss that before, and we decided to put that into the beta stage. feel free to place that debate to the table of apimachinery meeting. cc @MikeSpreitzer

[2019-08-08 03:08] andyzhangx commented on #67813
/assign @levimm

[2019-08-08 03:09] #78940 closed

[2019-08-08 03:32] andrewsykim commented on #72236
As many people have already mentioned, I think doing ^ with iptables seems like the worse case scenario (not a bad worse case scenario IMO). I would like to spend a bit more time thinking through the problem though before resorting to that given how hard it would be to undo those rules in the future.

[2019-08-08 03:53] Lion-Wei commented on #81147
@kubernetes/sig-apps-bugs

[2019-08-08 03:57] dixudx opened #81149 "LabelSelectorRequirement should not matched if the label key does not exist"
**What happened**:

We have a below config MutatingWebhookConfiguration.

[code]

After deploying to the cluster, we found the webhook did mutate pods from other namespaces. But those namespaces did not contain such label `someLabelKey`.

**What you expected to happen**:

Indeed we could add extra `Exists`,

[code]
 or match exact key.
[code]

But using matchLabels is quite inconveniecent if we go

[2019-08-08 04:00] dixudx commented on #81149
/sig api-machinery

@kubernetes/sig-api-machinery-pr-reviews

[2019-08-08 04:09] liggitt commented on #81149
This is working as designed, and matches the behavior of label selectors everywhere else in kubernetes. See https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#set-based-requirement for details:

/close

[2019-08-08 04:09] #81149 closed

[2019-08-08 04:12] liggitt commented on #81147
see https://github.com/kubernetes/kubernetes/issues/64841 for issues with tightening validation

[2019-08-08 04:13] liggitt commented on #81134
not sure about the other locations, but pkg/apis/rbac/helpers.go:109 is not producing JSON

[2019-08-08 04:14] liggitt commented on #81123
clarified it is kubectl that crashes with an OOM

[2019-08-08 04:44] tedyu commented on #81131
By 'another location', I think you meant location different from hard coded path.
Would Alice be able to control the cluster ? If not, she would discover misconfiguration.

[2019-08-08 04:45] montanaflynn commented on #74551
I also get this, especially when using kubectl port-forward for redis or postgres or haproxy.

[code]

[2019-08-08 04:51] liggitt commented on #81134
nor is pkg/kubectl/cmd/taint/taint.go

[2019-08-08 04:51] liggitt commented on #81134
both of those locations are logging human-readable messages, not parseable output

[2019-08-08 04:57] liggitt commented on #81134
more compelling examples:
https://github.com/kubernetes/kubernetes/blob/19e85a9092399b065309aa5b4aec71a5b8101bab/pkg/controller/controller_ref_manager.go#L214-L219

https://github.com/kubernetes/kubernetes/blob/19e85a9092399b065309aa5b4aec71a5b8101bab/pkg/controller/controller_ref_manager.go#L228

https://github.com/kubernetes/kubernetes/blob/19e85a9092399b065309aa5b4aec71a5b8101bab/pkg/controller

[2019-08-08 04:59] liggitt commented on #81134
initial sigs:

/sig apps
controller utilities

/sig api-machinery
garbage collector

/sig node
kubelet patching

[2019-08-08 05:04] tedyu commented on #81123
[code]
The above implies a threshold beyond which notification is sent.
What would be a reasonable threshold in this case ?

Thanks

[2019-08-08 05:22] tedyu commented on #81135
The referenced code seems to come from certain vendor.

[2019-08-08 05:30] yue9944882 commented on #81136
/sig auth

ref #70679

[2019-08-08 05:36] joelsmith commented on #81110
/remove-kind feature
/kind bug

[2019-08-08 05:36] joelsmith commented on #81111
/remove-kind feature
/kind bug

[2019-08-08 05:36] joelsmith commented on #81112
/remove-kind feature
/kind bug

[2019-08-08 05:36] joelsmith commented on #81113
/remove-kind feature
/kind bug

[2019-08-08 05:37] joelsmith commented on #81114
/remove-kind feature
/kind bug

[2019-08-08 05:37] joelsmith commented on #81116
/remove-kind feature
/kind bug

[2019-08-08 05:42] joelsmith commented on #81116
/sig storage
/sig node
/area security

[2019-08-08 05:42] liggitt commented on #81110
This one actually is a feature. PSP only governs pod API content. Persistent volumes are a more privileged resource to have create power over, and are out of scope for PSP

This is currently working as designed.

/remove-kind bug
/kind feature

[2019-08-08 05:43] joelsmith commented on #81117
/sig auth
/sig cloud-provider
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:43] liggitt commented on #81110
Control over resources other than the pod itself is out of scope for PodSecurityPolicy

[2019-08-08 05:43] yue9944882 commented on #81143
/cc

[2019-08-08 05:44] joelsmith commented on #81118
/sig api-machinery
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:44] joelsmith commented on #81119
/sig auth
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:45] joelsmith commented on #81120
/sig cli
/area security

[2019-08-08 05:45] joelsmith commented on #81121
/sig network
/sig cli
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:45] joelsmith commented on #81122
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:46] joelsmith commented on #81123
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:46] joelsmith commented on #81124
/sig node
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:47] joelsmith commented on #81126
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:47] joelsmith commented on #81127
/sig doc
/sig storage
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:47] joelsmith commented on #81129
/sig node
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:48] joelsmith commented on #81130
/sig storage
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:48] joelsmith commented on #81131
/sig api-machinery
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:48] joelsmith commented on #81132
/sig node
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:49] vladwa commented on #52902
I have seen this happening when the "nodeName" value is different from the "nodeSelector".

[2019-08-08 05:49] joelsmith commented on #81133
/sig node
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:49] joelsmith commented on #81134
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:49] joelsmith commented on #81135
/sig node
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:50] joelsmith commented on #81136
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:50] joelsmith commented on #81139
/sig node
/kind bug
/remove-kind feature

[2019-08-08 05:51] joelsmith commented on #81141
/sig cluster-lifecycle
/area security

[2019-08-08 05:51] joelsmith commented on #81142
/sig node
/sig api-machinery
/sig storage
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:52] joelsmith commented on #81143
/sig release
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:56] joelsmith commented on #81125
/sig node
/sig api-machinery
/area securityz
/kind bug
/remove-kind feature

[2019-08-08 05:56] joelsmith commented on #81128
/sig auth
/sig architecture
/area security
/kind bug
/remove-kind feature

[2019-08-08 05:57] joelsmith commented on #81137
/sig api-machinery
/sig architecture
/area security
/kind bug
/remove-kind feature

[2019-08-08 06:06] joelsmith commented on #81137
I don't think this is an issue with CoreDNS. Rather, because our use of CoreDNS conforms to the Kubernetes DNS spec, this discovery is possible.

https://github.com/kubernetes/dns/blob/master/docs/specification.md

Any DNS implementation that serves SRV records as described would have the same behavior.

As long as we have ways to disable DNS-based service discovery and as long as we document the

[2019-08-08 06:06] joelsmith commented on #81138
/sig node
/sig api-machinery
/area security
/kind bug
/remove-kind feature

[2019-08-08 06:07] joelsmith commented on #81140
/sig auth
/kind bug
/remove-kind feature

[2019-08-08 06:08] joelsmith commented on #81144
/sig node
/area security
/kind bug
/remove-kind feature

[2019-08-08 06:08] joelsmith commented on #81145
/sig auth
/area security
/kind bug
/remove-kind feature

[2019-08-08 06:09] RocMe commented on #72395
hi I face a problem like this"disabled by feature gate NodeLease".How did you solve it ?

[2019-08-08 06:30] sjgiri commented on #77903
Thanks @lbernail. decreasing tcp_retries2 helped!

[2019-08-08 06:42] Huang-Wei commented on #80372
Agree.

[2019-08-08 06:52] ParadiseDS commented on #55618
Exact same issue here.

[code]

[2019-08-08 07:06] #75249 closed

[2019-08-08 07:25] tingweiwu opened #81155 "Taints not working as expected with policy-config-file"
**What happened**:
I've added taint to one worker node
[code]
when I create pod without tolerations it is sheduled to node1.

I have try to remove policy-config-file in kube-scheduler.yaml. the taints worker well.

[code]

do i have some wrong with `scheduler-policy-config.json`? here is my `scheduler-policy-config.json`
[code]
I have search previous issue #62100  but not solved with its config

*

[2019-08-08 07:26] tingweiwu commented on #81155
/sig scheduling

[2019-08-08 07:28] c2c-engg-20181012 commented on #68712
@smarterclayton @janetkuo
Hi, if nobody has been working on it, can I take this one?
I have gone through the issue which is mentioned here and I would like to work on this. Can you please help me to get started as I am beginner to the project.

[2019-08-08 07:37] zouyee commented on #81135
/area kubelet

[2019-08-08 07:46] MSSedusch commented on #81079
related to #81097

[2019-08-08 07:49] #80092 closed

[2019-08-08 07:54] wanghaoran1988 commented on #81114
Should remote the "Authorization" header here? https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/transport/round_trippers.go#L424

[2019-08-08 08:20] dkistner commented on #81079
@andyzhangx I think there can be many reasons why the controller-manager is restarted during running detach or attach operations e. g. the hosting machine turn into error state, if you run the controller-manager in k8s -> vertical pod autoscaling,... etc.

I understand you can't guarantee that attach/detach works when the controller-manager is restarted, but I don't understand why the controller-m

[2019-08-08 08:32] AnjanaAK commented on #80298
Yes, I did that. Each time I send a request to a rest service after 15 minutes of idle time, that service sends an RST packet to the sender pod. That is when a 503 error is returned. The same happens with other services that come after rest service in the chain. When those inner services return RST as a response to [PSH, ACK] packet, rest service returns "500 internal server error".

[2019-08-08 08:32] andyzhangx commented on #80488
@gnufied could you point out where is the fix for Cinder and EBS drivers? is it possible for cloud provider driver to use the same fix? Thanks.

[2019-08-08 08:34] andyzhangx commented on #81079
This is an upstream issue, and there is a discussion in #81097, let's check whether we can fix it in cloud provider driver in that thread. Thanks.

[2019-08-08 08:34] krmayankk commented on #80921
How are tainted nodes currently implemented ?  I assume they are yet another predicate like `PodSelectorMatches` . I agree with this general comment from @alculquicondor

In case a tainted node has existing pods, then probably the right behavior is to consider them while spreading new pods

In case a tainted node has no existing pods(more likely case), then the right behavior is to ignore this nod

[2019-08-08 08:43] saschagrunert commented on #80760
The issue is that we try to automatically discover the node IP by obtaining its status here:

https://github.com/mgdevstack/kubernetes/blob/1438a3c8fc88d6422b716326dc8f9b19921743f5/test/e2e/framework/service/jig.go#L772-L781

In our setup the node has IP `127.0.0.1` which for sure does not work if we try to access it within the pod. I'm thinking about a proper solution and will propose it as a PR.

[2019-08-08 08:57] nikhita commented on #81146
/wg security-audit

[2019-08-08 09:03] zonArt commented on #74986
same on 1.9

[2019-08-08 09:23] draveness commented on #81155
Thanks for raising the issue, but kubernetes 1.11 has no longer maintained by the community after 1.14 released. Please upgrade to the latest version.

[2019-08-08 09:40] tingweiwu commented on #81155
@draveness we have no plans to upgrade as it is running online. but taints works well in issue #62100  with kubernetes 1.8. where can I get help if I should running with kubernetes 1.11?

[2019-08-08 10:05] mpucholblasco commented on #78164
In fact, previous error generates the following CSR requests:
[code]

And connections from this instance to masters became in the following error on our Jenkins instances being executed on k8s:
[code]

I'm not sure if this could be helpful, but I guess it's better to have all information.

[2019-08-08 10:07] zouyee commented on #81134
/assign

[2019-08-08 10:09] #64164 closed

[2019-08-08 10:15] aojea commented on #80278
honestly, I think is a bug in the node setup but this is part of the dual-stack craziness :man_shrugging:  . My opinion is that is shouldn`t be work around in kubernetes, however, thinking in the longterm, with dual-stack support in mind, localhost should resolve to `::1` and `127.0.0.1` and you should be listening on both, right?

because net.JoinHostPort() is not resolving localhost, in this cas

[2019-08-08 10:22] aojea commented on #81080
@bclau one way to solve this is using the new feature added to e2e tests with https://github.com/kubernetes/kubernetes/pull/80398 to autodetect the IP family of the cluster.

That will imply reverting https://github.com/kubernetes/kubernetes/pull/75243 and rewriting the DNS tests leveraging that new functionality.

[2019-08-08 10:50] mrostecki commented on #15636
Yes, openSUSE and SUSE use firewalld by default and we are cool with the direction of using firewalld instead of direct iptables calls.

[2019-08-08 11:04] mohibkhan-nedian commented on #20555
Hi,

I am getting into similar issue. Can someone please tell what is the alternative way for setting readiness probe if my application does not respond to '/' . I have set readiness probe with TCP on the port of my applicaton, but still readiness probes failed. Details [here ](https://github.com/kubernetes/kubernetes/issues/81092)

`describe pods `looks like below
[code]

[2019-08-08 11:05] cann0nf0dder commented on #80982
FYI this has occurred when only one controller was being upgraded - NotReady, the remaining 4 controllers were available.

[2019-08-08 11:10] #75257 closed

[2019-08-08 12:09] cleverlzc commented on #58010
good

[2019-08-08 12:11] hurdonkey opened #81160 "I can't install old version kubelet with yum repo"
[code]

[code]

[code]

[2019-08-08 12:25] johscheuer opened #81161 "kubectl patch should return error for non existing keys"
**What happened**:

I used the `kubectl patch` command and made a little typo:

[code]

note the `S` which should be a `s` in `serviceAccount`. The return value of the command was `0` with `deployment.extensions/nginx patched (no change)`. In general it seems like if I miss-spell something the patch won't be applied but the return code of the command will be still `0`.

**What you expected to happ

[2019-08-08 12:26] johscheuer commented on #81161
/sig cli

[2019-08-08 13:27] #78767 closed

[2019-08-08 13:27] #81011 closed

[2019-08-08 13:54] chiluk commented on #67577
The patch landed on tip this morning.
https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?id=de53fd7aedb100f03e5d2231cfce0e4993282425

Once it hits Torvald's tree, I'll submit it for linux-stable inclusion, and subsequently major distros (Redhat/Ubuntu).  If you care about something else, and they aren't following linux-stable patches you might want to submit it directly.

[2019-08-08 13:57] chrisohaver commented on #81137
I don't think this is behavior that is within spec, but I could be misunderstanding.  Per the report, this is performed in a K8s 1.13.1 cluster.

I _can_ replicate this issue in CoreDNS 1.2.6 (released with k8s 1.13).
I _cannot_ replicate it in CoreDNS 1.3.1 (released with k8s 1.14 and 1.15).

In CoreDNS 1.2.6, it appears that the NS query triggers a zone transfer to the client.
In CoreDNS 1.13, t

[2019-08-08 14:11] tingweiwu commented on #81155
I add `TaintTolerationPriority` and `PodToleratesNodeTaints` into `scheduler-policy-config.json`
and restart kube-scheduler pod.
but the `scheduler-policy-config.json` in the pod didn't update as expect.

thus,solved this issue by edit the config in the pod and restart.

I don't know why it doesn't update as the config is mounted into pod

[code]

[code]

[2019-08-08 14:13] #62061 closed

[2019-08-08 14:18] joelsmith commented on #81137
@chrisohaver you're right. I didn't read the finding carefully enough and I thought it was referring to the SRV records used for DNS-SD.

[2019-08-08 14:48] neolit123 commented on #81120
/remove-sig cli
/sig cluster-lifecycle

[2019-08-08 14:57] gnufied opened #81166 "Move CSI Volume expansion feature gate to beta"
We need to make sure that all the tests are enabled and make sure that we test more than just mock CSI volume plugin.

[2019-08-08 14:57] gnufied commented on #81166
/sig storage

[2019-08-08 15:14] #75259 closed

[2019-08-08 15:20] lewalt000 commented on #28746
I have also observed that `--pod-running-timeout=30s` has no effect. Does anyone know why this is the case or if there is another issue tracking that?

[2019-08-08 15:22] RiceBowlJr commented on #80897
Actually, I found some logs, some errors came in few days after the deployment. I deleted those pods but just came back with new pods without the errors and stilll no healthy TG instances:
[code]

[2019-08-08 15:37] derekrprice commented on #64137
@reaperes's systemd code seemed the cleanest and most surgical of all the workarounds that I've found documented for this and the related issues, so I've converted it into a DaemonSet that runs the fix hourly on every node in a cluster.  You could set any interval that you like, of course, but the script isn't very resource intensive and hourly seemed reasonable.  It actually takes about a day or

[2019-08-08 15:39] derekrprice commented on #70324
@reaperes's systemd cgroup cleanup code from #64137 seemed the cleanest and most surgical of all the workarounds that I've found documented for this and the related issues, so I've converted it into a DaemonSet that runs the fix hourly on every node in a cluster.  You could set any interval that you like, of course, but the script isn't very resource intensive and hourly seemed reasonable.  It act

[2019-08-08 15:39] chrisohaver commented on #81137
Update:

I verified that in 1.2.6, there was a bug in the kubernetes plugin zone transfer feature, that always enabled zone transfers to all clients by default.  This was fixed in 1.3.1 with coredns/coredns#2292.  As of 1.3.1, zone transfers are only permitted if enabled, and client permitted in the Corefile.

I just opened coredns/coredns#3098 to fix the issue where _if zone transfers are enabled

[2019-08-08 15:59] michaelgugino commented on #80389
I have run into this too, today.  I agree with the assessment of the situation and the proposed remedy.

[2019-08-08 16:05] liggitt commented on #81161
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/5889

/close

[2019-08-08 16:05] #81161 closed

[2019-08-08 16:18] dims commented on #80374
/priority important-soon

[2019-08-08 16:24] liggitt commented on #81114
for authorization headers, everything after the type should be masked

[code]

[2019-08-08 16:30] mohibkhan-nedian commented on #20555
@saturnism Can you please tell how did you add firewall rule for lb? as you referenced above

[2019-08-08 16:49] draveness commented on #80667
Per discussion in https://github.com/kubernetes/kubernetes/pull/80901#issuecomment-519316908, I could give an implementation of refactoring interpod-affinity for review after #80901 gets merged.

[2019-08-08 16:51] bclau commented on #76342
I've started working on those items + resource-consumer and resource-consumer-controller. Will send a WIP PR soon, and I'm expecting to finish it by tomorrow.

Sure, that would be greatly appreciated. You can simply go ahead with the following items:

Those items do not require a new ``agnhost`` image to be built, it should work with the current version too. Just a fair warning, the ``busybox`` im

[2019-08-08 16:52] Huang-Wei commented on #80921
Yes.

This is the current behavior. No matter the tainted node has matching pods or not.

I don't think this is the right way to go. _If_ we want to customize some special case, it should base on taints (esp. some "permanent" ones like "unschedulable" caused by `kubectl drain`) instead of the existing pods.

It's b/c either the taint can be taken off (automatically/manually), or the workload can b

[2019-08-08 16:53] johnSchnake opened #81169 "Automation needed to lock down E2E test images"
**What would you like to be added**:
Some sort of automation to ensure that we do not pull images that are not listed in the imageutils package (`imageutils "k8s.io/kubernetes/test/utils/image"`)

**Why is this needed**:
When cleaning up some references which were hardcoded instead of going through the imageutils, we found that a PR had introduced an image from a private registry. This should not

[2019-08-08 16:54] johnSchnake commented on #81169
/sig testing
/area e2e-test-framework

[2019-08-08 16:57] johnSchnake commented on #81169
Can we simply do some sort of hook when images are pulled and we can record/report on it?

It seems like it might be difficult to do static analysis in such a way as to guarantee we're getting all hardcoded images.

Open to ideas; just wanted to raise/track the issue

[2019-08-08 16:58] Huang-Wei commented on #80921
@alculquicondor Today we run the (ordered) predicates among N nodes in parallel. So it's not practical to **_continuously_** communicate the result of current predicate on current node to other N-1 nodes.

[2019-08-08 17:03] #50564 closed

[2019-08-08 17:03] #80073 closed

[2019-08-08 17:05] andrewsykim opened #81172 "Move cloud controllers to k8s.io/cloud-provider/controllers"
**What would you like to be added**:
More cloud providers are adopting/using the out-of-tree cloud providers. One of the various issues / complaints we get is that cmd/cloud-controller-manager is difficult to consume because of the way it pulls in a bunch of other dependencies.

**Why is this needed**:
I would like to see `cmd/cloud-controller-manager` in staging so it's easier to consume for exte

[2019-08-08 17:05] andrewsykim commented on #81172
/sig cloudprovider
/area codeorganization

[2019-08-08 17:05] andrewsykim commented on #81172
/area code-organization

[2019-08-08 17:06] andrewsykim commented on #81172
/sig cloud-provider

[2019-08-08 17:14] andrewsykim commented on #81172
Here's the current state of internal deps for cloud controllers:

- pkg/controller/cloud:
[code]

- pkg/controller/service
[code]

- pkg/controller/route
[code]

[2019-08-08 17:14] andrewsykim commented on #81172
xref: https://github.com/kubernetes/cloud-provider/issues/29

cc @timoreimann

[2019-08-08 17:22] Random-Liu commented on #52032
/reopen
/remove-lifecycle rotten

[2019-08-08 17:27] johnbelamaric commented on #63900
Telnet and curl use TCP. dig is using UDP. Try +tcp option with dig. That will tell you if it's some UDP transport issue in your network.

[2019-08-08 18:09] AndrienkoAleksandr commented on #71350
/remove-lifecycle rotten

[2019-08-08 18:24] liu-cong commented on #80372
This might be the refactoring issue: https://github.com/kubernetes/kubernetes/issues/68951

[2019-08-08 18:27] edernucci commented on #64137
@derekrprice I have three clusters on AKS running this issue for a year. I have used the trick from @bjhaid on one node today and can confirm that it works. I'll run your DaemonSet on the first cluster and post here the results asap.

[2019-08-08 18:34] andrewsykim commented on #80311
Worth noting that applying the `NoRouteCreated` condition for AWS was also proposed https://github.com/kubernetes/kubernetes/pull/33573. I agree that checks like this should be removed, the GCE check in the kubelet is only there for legacy reasons.

The problem with doing this from the cloud provider is that the node can be scheduled pods prior to the provider setting the condition. I proposed a g

[2019-08-08 18:36] andrewsykim commented on #80250
cc @timoreimann this came up in https://github.com/kubernetes/cloud-provider/issues/38 as well.

[2019-08-08 18:36] liu-cong commented on #80921
@alculquicondor, I guess you meant "nodes" instead of "pods" since filters filter out nodes, not pods.
@Huang-Wei , why do we need to communicate the result on current node to other nodes? When we reach even pod spreading filter, my understanding is that it currently apply against all nodes. Cannot we just change to the remaining nodes after previous filters?

Forgive me if my questions are dumb.

[2019-08-08 18:38] thockin opened #81178 "Intersection of exclude-balancer and externalTrafficPolicy: needs semantic definition"
In https://github.com/kubernetes/enhancements/pull/1144 and https://github.com/kubernetes/kubernetes/pull/80238 @smarterclayton is refining the definition of the exclude-balancer label and moving to EOL the node-role=master label as a service LB exclusion criterion.

We have a weird intersection of 2 features, and I'd like to get agreement on the expected semantics before documenting this.

Assume

[2019-08-08 18:45] johscheuer commented on #81161
Thanks @liggitt didn't find this issue !

[2019-08-08 18:54] johnSchnake opened #81181 "pull-kubernetes-e2e-gce-csi-serial Flaky"
**Which jobs are failing**:
pull-kubernetes-e2e-gce-csi-serial

**Which test(s) are failing**:
TearDown
Timeout

**Since when has it been failing**:
I've seen failures over the past few days (6Aug or so)

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80247/pull-kubernetes-e2e-gce-csi-serial/1159435482896011265
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-log

[2019-08-08 19:01] alculquicondor commented on #80667
Please consider drafting the proposal in a doc before starting the implementation, so that we can get to some level of agreement before getting any code done.

[2019-08-08 19:01] danielmotaleite commented on #44954
@irfanurrehman  There is something wrong here, we are told that the kubernetes cluster do not have the cluster info, yet my aws load balancers have a tag named `KubernetesCluster` with the cluster name... that was created by kubernetes!

so the info is there... so how can we get that?

[2019-08-08 19:04] johnSchnake commented on #81181
/sig testing

[2019-08-08 19:08] MikeSpreitzer commented on #81100
This test finally passed for PR #81066 --- without any change to that PR.

[2019-08-08 19:09] alculquicondor commented on #71859
/remove-lifecycle frozen

[2019-08-08 19:09] alculquicondor commented on #71859
@draveness what's the pending work on this?

[2019-08-08 19:10] alculquicondor commented on #72547
/remove-lifecycle frozen

[2019-08-08 19:10] alculquicondor commented on #71863
I understand that no one is working on this now?

[2019-08-08 19:11] alculquicondor commented on #80372
It looks like this one specifically #71863

[2019-08-08 19:12] liggitt commented on #44954
That is aws-specific, and is provided in the aws cloud provider config file. It is not inherent to the kubernetes cluster.

[2019-08-08 19:12] whereisaaron commented on #44954
@danielmotaleite sadly that name is known only and used by to the AWS cloud-provider code (which creates the load balancers), so a cloud-specific plug-in, not k8s itself.

[2019-08-08 19:13] alculquicondor commented on #72547
This might be easier to perform after #80590

[2019-08-08 19:13] smekkley commented on #79866
I've been trying to read the code.
There is even a nice comment in `pkg/proxy/iptables/proxier.go`
`#867				// If/when we support "Local" policy for VIPs, we should update this.`

[2019-08-08 19:18] alculquicondor commented on #80921
Indeed, I meant nodes, sorry.
@Huang-Wei, there shouldn't be need to communicate the results of the current predicate (EvenPodSpread in this case), but rather previous ones. I believe this information should be available in the cache.

[2019-08-08 19:21] mattjmcnaughton commented on #81122
/assign

happy to tackle this :)

[2019-08-08 19:27] mattjmcnaughton commented on #81122
Actually, this was fixed in https://github.com/kubernetes/kubernetes/commit/1f270ef4e29fe699300a67eb096b80590dfc877e#diff-950f824b35e7510183b4a0c23de66065.

@liggitt is the plan with these security findings to cherry-pick them back to earlier releases?
If not, I think we can consider this one addressed :) If it is, happy to create the cherry-picks.

Great work @haiyanmeng.

[2019-08-08 19:28] bowei commented on #80250
Removing triage label as we have a pretty good grip on what the problem is.
ServiceController needs to be parallelized for all of its operations, support queuing discipline etc.

/remove-triage unresolved

[2019-08-08 19:36] #81126 closed

[2019-08-08 19:40] liggitt commented on #81122
Backports depend on the severity of the issue. In this case, an attacker with write access to the static pod manifest directory already effectively has root access to the machine (they can place a privileged pod manifest the kubelet will run). Limiting the size of the read manifest to avoid OOM is nice to have, but not critical.

/close

Will be fixed in v1.16.0 by #76518

[2019-08-08 19:40] #81122 closed

[2019-08-08 19:48] irfanurrehman commented on #44954
For the record, there is some traction on [a proposal](https://docs.google.com/document/d/1F__vEKeI41P7PPUCMM9PVPYY34pyrvQI5rbTJVnS5c4) in SIG Multicluster, which addresses this concern.

[2019-08-08 19:52] andrewsykim commented on #80250
I think https://github.com/kubernetes/kubernetes/pull/81185 is the simplest way to do this today without introducing too many other changes in service controller.

[2019-08-08 19:52] gnufied commented on #80488
@andyzhangx here is the code for returning `DanglingError` from AWS - https://github.com/kubernetes/kubernetes/blob/f4e39afea082afac7bf6f6936c34e012b7cb3c25/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L2550

Here is Openstack/Cinder implementation - https://github.com/kubernetes/kubernetes/blob/f4e39afea082afac7bf6f6936c34e012b7cb3c25/pkg/cloudprovider/providers/openstack/openstack_volume

[2019-08-08 20:10] alculquicondor commented on #68951
/remove-lifecycle frozen
/assign

I had a chat with @misterikkit to take the lead of this cleanup

[2019-08-08 20:17] rehevkor5 commented on #67662
I think I ran into this situation as well. It was caused by a similar situation as described by @seeruk . A change to a Terraform module resulted in ASG replacement. The change was supposed to be deployed by hand on each ASG individually, which though not as graceful as using taints to drain the nodes in the old ASG, would have probably allowed Kubernetes to reschedule the unexpectedly terminated

[2019-08-08 20:17] MrHohn commented on #78952
Haven't got time to follow-up on this, I plan to generalize this issue a bit to see if the same can be apply to some other types of resource as well and whether it is worth to have a more common mechanism, while keeping the scope smaller than https://github.com/kubernetes/kubernetes/issues/77135.

Removing the unresolved tag and I will try to get back to this soon.
/remove-triage unresolved

[2019-08-08 20:18] distortedsignal opened #81188 "Enhance Logs around unauthenticated proxy users"
**What would you like to be added**:
I'm writing an authenticating proxy for Kubernetes, and I feel like the logs could be enhanced to make the reasons behind user refusal more clear.

Local client (this gets repeated a few times, because of retries, repeat symbolized by '...'):
[code]

What I see in the kube-apiserver when tailing the logs with a local version of kubectl (logs again redacted for

[2019-08-08 20:20] distortedsignal commented on #81188
@kuberentes/sig-auth-feature-requests

[2019-08-08 20:27] fedebongio commented on #81026
/cc @lavalamp

[2019-08-08 20:48] logicalhan commented on #80623
The reason it isn't in client-go is because there was a rather large-ish previous effort to extract out all explicit prometheus references from client-go, so that it wouldn't automatically drag in a bunch of prometheus stuff. Currently, all metrics which are instrumented in client-go use a dependency injection pattern (we inject our prometheus metrics through a provider if we care to do so), which

[2019-08-08 21:05] vllry commented on #81178
/remove-triage unresolved

[2019-08-08 21:06] vllry commented on #81121
/assign @thockin

[2019-08-08 21:07] liyanhui1228 commented on #77310
Just noticed #78622 is fixing this issue, would be better to wait for it to be merged.

[2019-08-08 21:07] alejandrox1 opened #81191 "[Failing Test] CSI volume tests failing in ci-kubernetes-e2e-gci-gce-alpha-features"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-alpha-features

**Which test(s) are failing**:
* [sig-storage] CSI mock volume CSI Volume expansion [Feature:ExpandCSIVolumes] should expand volume by restarting pod if attach=off, nodeExpansion=on
* [sig-storage] CSI mock volume CSI online volume expansion [Feature:ExpandCSIVolumes][Feature:ExpandInUseVolumes] should expand volume without rest

[2019-08-08 21:07] vllry commented on #80977
/assign @andrewsykim

[2019-08-08 21:08] vllry commented on #80897
/sig cloud-provider
/remove-sig network

[2019-08-08 21:08] prameshj commented on #80152
/remove-triage unresolved

[2019-08-08 21:09] vllry commented on #80760
/assign @MrHohn

[2019-08-08 21:10] vllry commented on #80407
/assign @andrewsykim

[2019-08-08 21:11] vllry commented on #80288
CC @saiyan86

[2019-08-08 21:11] andrewsykim commented on #80407
Looks like this will be fixed with https://github.com/kubernetes/kubernetes/pull/80942

[2019-08-08 21:12] jpbetz opened #81192 "Conformance Tests for CRDs"
- [x] write e2e tests for all CRD operations
  - [x] https://github.com/kubernetes/kubernetes/pull/81240
  - [x] https://github.com/kubernetes/kubernetes/pull/82036 - discovery
  - 5 Untested beta Operations:
        - list ApiextensionsV1beta1 CustomResourceDefinition
        - deletecollection ApiextensionsV1beta1 CustomResourceDefinition
        - replace ApiextensionsV1beta1 CustomResourceDefi

[2019-08-08 21:13] M00nF1sh commented on #80897
@RiceBowlJr Would you help share your EKS cluster arn to me(yyyng@amazon.com), that would help debug 🤣

[2019-08-08 21:13] vllry commented on #80061
/help-wanted

[2019-08-08 21:13] vllry commented on #80061
/assign @figo

[2019-08-08 21:14] vllry commented on #78994
/assign @thockin

[2019-08-08 21:14] frittentheke commented on #69845
/remove-lifecycle stale

[2019-08-08 21:15] vllry commented on #78949
/remove-triage unresolved

[2019-08-08 21:18] liggitt commented on #81110
https://kubernetes.io/docs/concepts/policy/pod-security-policy/#volumes-and-file-systems should be updated to indicate that PersistentVolumes are not limited by PodSecurityPolicy, and that only trusted volume administrators should be granted permission to create PersistentVolume objects.

[2019-08-08 21:19] vllry commented on #72511
/assign @prameshj

[2019-08-08 21:20] #29582 closed

[2019-08-08 21:23] andrewsykim commented on #72511
Maybe related https://github.com/kubernetes/kubernetes/issues/74383

[2019-08-08 21:27] alejandrox1 opened #81193 "[Failing Test] Network granular checks tests failing in ci-kubernetes-e2e-gci-gce-alpha-features"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-alpha-features

**Which test(s) are failing**:
* [sig-network] Networking Granular Checks: Pods should function for node-pod communication: http [LinuxOnly] [NodeConformance] [Conformance]
* [sig-network] Networking Granular Checks: Services should function for client IP based session affinity: udp
* [sig-network] Networking should provide Inte

[2019-08-08 21:30] ahmad-diaa commented on #71860
/assign

[2019-08-08 21:30] ahmad-diaa commented on #72547
/assign

[2019-08-08 21:30] freehan commented on #49239
I am leaning towards the 1st proposal in https://github.com/kubernetes/kubernetes/issues/49239#issuecomment-319501404

That means the new EndpointSlice controller will just ignore the `tolerate-unready-endpoint` annotation. Essentially, this decouples the DNS and endpoints.

However, I am not sure if there is use case for `tolerate-unready-endpoint` on the endpoint side.

[2019-08-08 21:31] alejandrox1 commented on #81193
This may be possibly related to https://github.com/kubernetes/kubernetes/issues/81191

[2019-08-08 21:32] tpepper commented on #71436
#78459 only landed in master for 1.16.  To see if this fixes things more we'd need to cherry pick it back to 1.15 at least since that is now "k8sbeta".  Across the life of this issue "k8sbeta" was  earlier releases, places to which the patch has also not been cherry picked.

[2019-08-08 21:46] ashleykasim commented on #77700
@villytiger did a little digging, https://github.com/kubernetes/kubernetes/issues/74310 would _not_ patch this for cri-o because kubernetes uses `cadvisor_stats_provider` rather than `cri_stats_provider` for cri-o. The reason for this is https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/helpers_linux.go#L42. This patch should fix it for us https://github.com/kubernetes/kube

[2019-08-08 21:48] mkimuram commented on #71748
Reopening this issue, for it can be improved.
/reopen

[2019-08-08 21:50] alejandrox1 opened #81197 "[Failing Test] ci-kubernetes-e2e-gci-gce-serial is timing out"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
Job is timing out.

**Since when has it been failing**:
The timeouts started around 8/6 at 13:00 PDT
k/k diff for context https://github.com/kubernetes/kubernetes/compare/16d9a659d...6049253aa

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial

**Reason for failur

[2019-08-08 21:52] MikeSpreitzer commented on #80623
The complaint here is that a client wanting to inject a dependency on Prometheus has to drag in all of k/k.  Perhaps the linkage should be separate from client-go, but it should also be separate from k/k.

[2019-08-08 21:54] davidz627 commented on #81197
Looks like some sort of test teardown failure? @krzyzacy

[2019-08-08 21:56] johnbelamaric commented on #49239
I don't see how that proposal works for non-DNS related consumers of these addresses. For example, won't unready addresses be programmed for cluster IP services when the field/annotation is used? This means kube-proxy or any other consumer will now have to re-implement the "tolerate unready" logic.

[2019-08-08 21:58] alejandrox1 opened #81198 "[Flaky Test] diffResources test failling in ci-kubernetes-e2e-gci-gce-ingress"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-ingress

**Which test(s) are failing**:
diffResources

**Since when has it been failing**:
Failing since 8/8 at around 3pm PDT.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

**Reason for failure**:
[code]

pinging /cc @kubernetes/sig-network-test-failures
The tests performed seem to all be related to i

[2019-08-08 22:01] thockin commented on #81121
Is there any static checker that can find such cases, ideally with a way to decorate audited sites?  Something a la `use taint`in perl?

[2019-08-08 22:03] logicalhan commented on #80623
Any user of client-go is free to re-implement these metric providers so they aren't necessarily bound to all of k/k. The existing adaptors exist, as I understand it, mostly for the benefit of internally configuring these client-go metrics for the various control-plane binaries.

[2019-08-08 22:04] kmala commented on #69882
Do we have a priority for this? and i can work on this if needed

[2019-08-08 22:09] vaughnkoch commented on #7307
Note for people who stumble on this thread and are just trying to develop in localhost:
Firefox can allow exceptions to cert compliance.
For chrome and localhost (e.g. using docker's k8s and a nodePort), you can use this flag:
chrome://flags/#allow-insecure-localhost

[2019-08-08 22:09] thockin commented on #81121
We should maybe move ParsePort() to k/utils/net and then use that everywhere.

[2019-08-08 22:10] logicalhan commented on #80623
Would moving these into component-base be sufficient to address your concerns?

[2019-08-08 22:10] alejandrox1 opened #81200 "[Failing Test] Services should be able to create a functioning NodePort service conformance test is failing"
**Which jobs are failing**:
ci-kubernetes-gce-conformance-latest

**Which test(s) are failing**:
[sig-network] Services should be able to create a functioning NodePort service [Conformance]

**Since when has it been failing**:
It has been failing since 8/7 at around 2pm PDT

Test was promoted to the conformance suite in https://github.com/kubernetes/kubernetes/pull/80655
See k/k diff https://githu

[2019-08-08 22:12] tedyu commented on #81140
It seems before calling decoder.Decode(), we should check the length of the line for JSON object

[2019-08-08 22:20] tedyu commented on #81138
What do people think of the suggestion of using crypto/rand.Read mentioned in the post from John Leidegren ?

https://stackoverflow.com/questions/12321133/golang-random-number-generator-how-to-seed-properly

[2019-08-08 22:21] alejandrox1 commented on #81200
Tracked down this test to https://testgrid.k8s.io/sig-network-gce#gce-lb-finalizer where it seems to have been flaking since it was added.
/cc @kubernetes/cncf-conformance-wg does this test meet the criteria for being in conformance?

[2019-08-08 22:29] thockin commented on #81121
I have re-titled this.  I started the ball rolling.  This is a great bug for someone who isn't super familiar with the codebase and wants to explore a bit.

The only hard part is re-vendoring k/utils and that is not hard.

[2019-08-08 22:36] davidz627 commented on #67972
/reopen
/remove-lifecycle rotten
/cc @misterikkit

[2019-08-08 22:38] NicoForce commented on #45509
I'd like to do blue-green deployment.

By scaling 2 pods, I get the ones with newer images, since the latest tag its being used.
After their deployment, I would need to downscale the pods which were older, since they have previous versions of the app.

I think being able to remove by some kind of filter would be handy as well.

[2019-08-08 22:38] vegemitecheesetoast commented on #81121
I'd like to work on this. I'm someone who isn't super familiar with the codebase and wants to explore a bit.

[2019-08-08 22:40] johnbelamaric commented on #81200
Yeah, we should have waited to make sure it wasn't flaking before promoting.

Fix is here: https://github.com/kubernetes/kubernetes/pull/81157

Also duplicate https://github.com/kubernetes/kubernetes/issues/81000

[2019-08-08 22:43] sjenning commented on #81139
/lgtm

[2019-08-08 22:46] oomichi opened #81202 "printOnce() makes debugging difficult in a conformance test"
**What happened**:

When an issue happens at the following check in the conformance test "validates resource limits of pods that are allowed to run":
[code]

the debugging message ("Scheduled Pods: %#v") doesn't appear in the log at all like the following:
[code]
and that makes debugging difficult actually.

**What you expected to happen**:

The debugging message should appear in the log if an iss

[2019-08-08 22:47] oomichi commented on #81202
/sig testing
/sig scheduling

[2019-08-08 22:53] alexodle commented on #80968
@tedyu I tried reproing this using @ryanmcnamara 's repro steps (using the eviction toleration version), and I can say for sure we enter the if statement you reference when I restore the connection, as I see "Node %s is healthy again, removing all taints" in the logs. Even so, I can confirm the pods on that node are never marked as Ready.

[2019-08-08 23:01] freehan commented on #49239
It looks like the new `PublishNotReadyAddresses` field is explicitly for DNS. https://github.com/kubernetes/kubernetes/blob/v1.16.0-alpha.3/pkg/apis/core/types.go#L3432

Please correct me if I am wrong, the proposal is NOT to support "tolerate unready" on the kube-proxy side. Unless there is real use cases.

[2019-08-08 23:03] sjenning commented on #81139
lol, this is the issue. my bad!

[2019-08-08 23:11] #80489 closed

[2019-08-08 23:11] #80733 closed

[2019-08-08 23:12] #81139 closed

[2019-08-08 23:22] #75227 closed

[2019-08-08 23:35] johnbelamaric commented on #49239
It already is supported in kube-proxy. It's done by the endpoints controller. By the time it gets to kube-proxy, the decision is already made and so kube-proxy doesn't do anything special (neither does CoreDNS for that matter):

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go#L614

[2019-08-08 23:40] johnbelamaric commented on #49239
That said, it doesn't mean we *have* to support it the same way in endpoint slide - it's a different API after all. But we need consciously decide to not support it, if that's the case.

[2019-08-08 23:43] saiyan86 commented on #80288
Could you please share kube-proxy logs?

[2019-08-08 23:57] johnbelamaric commented on #49239
The stateful set use case is one, but I at least also used this feature at one point for pods that had a control port and a data port (https://github.com/kubernetes/kubernetes/issues/49239#issuecomment-351087689).

I wonder if the implicit "a pod is ready means the endpoint is ready" is just not the right model. Something more akin to the pod readiness gates but for service endpoints would be more

[2019-08-09 00:19] #81110 closed

[2019-08-09 00:22] thockin commented on #78994
Reproduced.  Traffic makes it to filter.FORWARD.  That jumps to cali-FORWARD.  That eventually ACCEPTS the packet with `-A cali-FORWARD -m comment --comment "cali:MH9kMp5aNICL-Olv" -m comment --comment "Policy explicitly accepted packet." -m mark --mark 0x10000/0x10000 -j ACCEPT`

Removing that rule makes it fail as expected.

@caseydavenport what does the 0x10000 mark represent?  Can it be more n

[2019-08-09 00:28] msau42 commented on #81191
Yes #80978 is very related.  We will need to pick up a new client-go from master with the fix in our csi sidecars, release new sidecars, and then update the images used in the test.

/assign
/cc @wojtek-t

[2019-08-09 00:46] thockin commented on #80278
How do?  This is kubelet, right, so the /etc/hosts file is the node's own file, not something we generate.

Uggh, pkg/kubelet/kubelet_pods.go generates hosts with ::1 - this has not been a problem for pods for 4+ years, so I am disinclined to believe it is a problem now.

Back to kubelet.  I don't think I understand the root of the problem.

As long as everyone resolves "localhost" the same way, y

[2019-08-09 00:48] thockin commented on #80278
@leiyazhen is this running kubelet in a container?

[2019-08-09 00:49] thockin commented on #80278
@aojea have you actually reproduced this?

[2019-08-09 00:50] thockin commented on #80078
Dup of https://github.com/kubernetes/kubernetes/issues/80278

[2019-08-09 00:50] #80078 closed

[2019-08-09 00:55] oomichi commented on #81103
The discussion on the slack: https://kubernetes.slack.com/archives/C78F00H99/p1565312069118600

[2019-08-09 00:57] #80808 closed

[2019-08-09 00:58] #81144 closed

[2019-08-09 01:01] Huang-Wei commented on #80921
@liu-cong That was just a hypothetical idea. We don't do that atm, and I don't think we will do that in the future :)

@alculquicondor I haven't checked current filter plugins flow. For current predicates flow, the predicates chain was running **in parallel**, so you have no chance to know the results of "previous" ones on other nodes. The term "previous" makes no sense here - some nodes may even

[2019-08-09 01:37] joelsmith commented on #81111
Product Security Committee response:
This is a known issue (see #18982) and we agree that it should be addressed.

[2019-08-09 01:38] zhangguanzhang commented on #63900
I rebuild my work environment，I will try the method you said when I encounter it later.

[2019-08-09 01:47] zouyee commented on #81160
/triage needs-information

[2019-08-09 01:51] #81155 closed

[2019-08-09 02:21] feiskyer commented on #73235
@nilo19 would work on this feature

/assign @nilo19

[2019-08-09 02:25] joelsmith commented on #81112
/priority important-longterm

I believe this is in reference to this:
https://kubernetes.io/docs/concepts/architecture/master-node-communication/#apiserver-to-kubelet

Clusters wanting to validate should use `--kubelet-certificate-authority` to valide TLS connections between the API server the kubelet.

We would like to fix the default such that we can always validate the kubelet, but this will ta

[2019-08-09 02:33] joelsmith commented on #81113
/priority important-longterm

Just to be clear, this requires a non-containerized, untrusted process running on a node to exploit. That will be a concern for some clusters, but many (most?) clusters dedicate their nodes to running Kubernetes workloads and don't allow non-administrator users access to nodes except via runnng pods.

In my opinion, this is worth fixing from a defense-in-depth standpo

[2019-08-09 02:35] joelsmith commented on #81114
I think people would be unpleasantly surprised to see credentials in a logfile after turning up logging to debug an issue.
/priority important-soon

[2019-08-09 02:36] #81202 closed

[2019-08-09 02:41] joelsmith commented on #81116
/priority important-longterm
I reviewed most occurrences. The ones I reviewed fell into 2 categories:
1. Test code
2. Files or directories which themselves live in a directory with restricted access

I’m most familiar with the emptydir one (which also applies to secrets and CMs) and that one might be tricky to fix without breaking existing workloads.

Tricky or not, it would be nice if we could ex

[2019-08-09 03:04] HongkaiWen commented on #67180
same issue now, why no solution and just closed.

[2019-08-09 03:21] andyzhangx commented on #80488
@gnufied thanks a lot, I will try to do the same fix in azure disk driver.

[2019-08-09 03:21] paulgmiller commented on #73235
Need any help?

[2019-08-09 03:22] andyzhangx commented on #81079
I will try to fix this issue in azure disk driver, thanks all for the discussion.
details: https://github.com/kubernetes/kubernetes/issues/80488#issuecomment-519663496
/assign

[2019-08-09 03:26] #74669 closed

[2019-08-09 03:51] tedyu commented on #80968
[code]

[2019-08-09 04:13] msau42 commented on #81191
Fix part 1 is at https://github.com/kubernetes-csi/external-provisioner/pull/323

[2019-08-09 05:03] liggitt commented on #81136
/remove-kind bug
/kind feature

The bound service account token feature will replace these legacy tokens with time and pod-bound tokens. See https://github.com/kubernetes/enhancements/issues/542 and https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/bound-service-account-tokens.md

[2019-08-09 05:43] liggitt commented on #68787
/assign

[2019-08-09 05:57] hprateek43 commented on #71863
I have the PR almost merged.

[2019-08-09 06:30] wojtek-t commented on #81191
I completely forgot about the existence of alpha-features test suite (we were aware that CSI storage features will stop passing).

https://github.com/kubernetes/kubernetes/pull/81211 is a mitigation if we need more time to fix those tests (we know what we should do, just requires some time).

@msau42 - thanks a lot for working on that

[2019-08-09 06:46] leiyazhen commented on #80278
no! I install it manually.At last,i reinstall the os,and everythings  seems to te ok.

[2019-08-09 06:53] brancz commented on #80623
I understand and agree with the desire to have this be part of client go. If the experience with component base is close or the same I think I’d be fine with that as well.

[2019-08-09 07:10] NickrenREN opened #81214 "Increase scheduling backoff queue max duration and attach specific error message to unschedulable pods"
**What would you like to be added**:

Increase backoff queue max duration and attach specific error message to unschedulable pods

**Why is this needed**:

Now the scheduling backoff queue max duration is 10 seconds. We find that some pods in our cluster(5K nodes and 10w+ pods) will wait a very long time to be scheduled.  These pods are in the active queue with lower priority.
If some higher prior

[2019-08-09 07:10] NickrenREN commented on #81214
/sig scheduling

[2019-08-09 07:11] NickrenREN commented on #81214
assign it to myself first

/assign

[2019-08-09 07:14] zouyee commented on #81113
/area kubelet

[2019-08-09 07:30] SWBSanjeewa commented on #71502
This issue was encounter when you add cloud provider to vsphere for an already configured cluster with worker nodes. You should first create kubernetes  master with vsphere cloud provider and add worker nodes after that with vsphere cloud provider, node resource will be created with correct node.Spec.ProviderID starting with vsphere://<UUID> as expected

[2019-08-09 07:31] savek-cc commented on #81111
The referenced issue is almost 4 years old (and still unresolved). The "interesting take" is on general OCSP-problems in large infrastructures with independent actors - not really applicable to the attack scenario given in the security analysis.

[2019-08-09 07:40] NanXuejiao commented on #80977
I try to upgrade kubernetes version to v1.14.0 to solve this issue, but it also occurs when upgrade done.
[code]

[2019-08-09 07:55] #78843 closed

[2019-08-09 08:01] anguslees commented on #81116
I want to point out somewhere here also that it is normal (and secure) Unix practice to (eg) create a regular file with 0644 and then rely on the inherited external `umask` to apply the desired group/other restrictions.  The `mkdir` command, for example, also calls `mkdir(path, 0777)`.  This is desirable and good.

I appreciate that kubelet/containers are a special case here because we're often ru

[2019-08-09 08:08] cpu100 commented on #60987
[code]

[2019-08-09 08:10] draveness commented on #81214
/cc

[2019-08-09 08:27] draveness commented on #71859
I'm working on #80697

[2019-08-09 08:27] hollywater opened #81216 "Headless Service IP Problem"
**Environment**:
- Kubernetes version: **"v1.15.1",**
- OS : **ubuntu 16.04**
- Others:
**6 machine(m1-m6) in 1VM and 1 physical machine(m0), totally 7.
m2 is k8s master node, m1 install ceph version 10.2.11  ,the others is k8s work nodes**

### 1. Follow this page to build MySQL cluster:
https://kubernetes.io/docs/tasks/run-application/run-replicated-stateful-application/

### 2. Result:
_**Pod:

[2019-08-09 08:38] yrobla commented on #80452
I am hitting the same, I used tuned to change the default size from 2Mi to 1Gi, i hit the same problem, after the reboot node is NotReady and it cannot rejoin , giving the error:
 Node "test-worker-0" is invalid: [status.capacity.hugepages-2Mi: Invalid value: resource.Quantity{i:resource.int64Amount{value:20971520, scale:0}, d:resource.infDecAmount{Dec:(*inf.Dec)(nil)}, s:"20Mi", Format:"BinarySI"

[2019-08-09 08:53] cameronbraid commented on #60987
This is a *really bad idea* since sometimes the volumes are still mounted
and this will wipe the volumes.

On Fri, 9 Aug 2019 at 18:11, cpu100 <notifications@github.com> wrote:

[2019-08-09 09:20] plumcraft commented on #80313
Hello, we're facing the same issue and can not custom EKS at runtime. Any updates on it ?
Thanks a lot

[2019-08-09 10:01] #80980 closed

[2019-08-09 10:01] cann0nf0dder commented on #80982
I'm wondering if this could be because calico is potentially not ready before coredns pod? is there a restart priority that could be set to help? I'm using another cluster as example but this is the only log i see for the pod that gets in this state.

`Aug 05 08:40:20 c8r001 kubelet-wrapper[91558]: W0805 08:40:20.329939   91558 docker_sandbox.go:384] failed to read pod IP from plugin/docker: Netwo

[2019-08-09 10:17] dixudx commented on #80203
dup of #80489
and this has been fixed in #80491

close it now. please reopen if needed.

/close

[2019-08-09 10:17] #80203 closed

[2019-08-09 11:24] tedyu commented on #81214
For lower priority pods getting behind high priority pods, what value are you thinking for the backoff queue max duration ?

Thanks

[2019-08-09 11:34] krmayankk commented on #73648
This is good to know, I thought the RV based update/delete worked and would always result in conflict if RV changed. I wonder where do these kinds of changes get documented . May be worth an entry in the api conventions doc?

[2019-08-09 12:11] avarf opened #81220 "Metrics-server goes out of storage"
**What happened**:
After launching my application on k8s for around 24h the metrics-server went out of storage and it is not able to read any metrics. I think there is a memory leak in metrics-server.
**What you expected to happen**:
First of all I expect that metrics-server doesn't consume all its memory (becuase even if we give it more memory at one point it will use all its memory).
If for any

[2019-08-09 12:43] avarf commented on #81220
After deleting the pod and even editing the metrics-server and increasing the memory for metrics-server I still get the same error from the newly created pod and hpa just shows the last reading before this error appears the first time:

Edited spec:
[code]
Logs of the new pod:
kubectl logs -n kube-system metrics-server-v0.2.1-68957d7cfb-pzqpk -c metrics-server-nanny
[code]

[2019-08-09 12:44] alculquicondor commented on #80921
You were right. My memory was vague. The filters will run sequentially for all nodes in parallel.
Sounds like we can only use the metadata (today) or prefilter plugins (in the framework).

But, apart from implementation details, my opinion is that unsatisfied taints should take the node out from the calculations, regardless of the type of taint (for simplicity).

[2019-08-09 13:21] vlerenc commented on #81079
Thank you very much @andyzhangx. It means a lot to us, that there are no manual operations. I wonder how you guys deal with it in AKS, since Azure uses the same controllers, right? Anyway, it helps tremendously, that the clusters are self-healing.

[2019-08-09 13:33] andyzhangx commented on #81079
@vlerenc AKS use same kube-controller-manager, while it won't be restarted easily.

[2019-08-09 13:41] vegemitecheesetoast commented on #73360
I found another issue to start - feel free to give to someone else

[2019-08-09 13:45] vlerenc commented on #81079
OK, but how? I understand that AKS only supports 100 nodes. So, I guess you have some upper limit and just hope, nobody stresses it, because if this happens, you it either restarts or you need to scale it up and then it gets restarted as well. Also, regular maintenance, low-level as well as Kubernetes updates, all must impact it. Considering the probably thousands over thousands of clusters (I don

[2019-08-09 13:51] andyzhangx commented on #81079
@vlerenc Yes, that's reasonable, I will try to fix it as my top priority.

[2019-08-09 13:53] FOSquare opened #81222 "How to distinguish flows in K8s world"
i run one media-streaming applicaiton in K8s, but when I use tcpflow i find hundreds of flow. The usual way by distinguishing the 5 tuple (ethernet type, Source & destination IP, source and destination port) do not work any more.

Then how can I distinguish the flows from K8s efficiently？ Thanks a lot.

[2019-08-09 13:55] joelsmith commented on #81111
@savek-cc Thanks for your participation in the Kubernetes project.

I'd like to see this solved too. I don't claim to know what the right solution is. It may be that OCSP turns out to be the right solution, or it may be that its drawbacks cause us to go in a different direction. That was my reason for referencing the blog post. I'm not sure what the connection to public wifi is... as I see it, mos

[2019-08-09 14:20] FOSquare commented on #81222
/sig network

[2019-08-09 14:22] zouyee commented on #81222
`kubectl krew install sniff`

[2019-08-09 14:34] zouyee commented on #81062
/close

[2019-08-09 14:34] #81062 closed

[2019-08-09 14:35] Kanshiroron commented on #65304
/remove-lifecycle stale

[2019-08-09 15:23] aojea commented on #80278
@thockin let me start over, so I can try to articulate better my thoughts and explain some of my comments since is clear to me that there are terrible misunderstandings and I mixed lot of topics in the same issue 😅

When I said `dual-stack craziness` I was talking in the context of my experience back in the days of the [IPv6 brokenness](https://en.wikipedia.org/wiki/IPv6_brokenness_and_DNS_whiteli

[2019-08-09 15:24] draveness opened #81223 "Remove factory.Config from the scheduler package"
**What would you like to be added**:

All the fields in `factory.Config` is being moved to the scheduler struct, after we solve the following issues, we could consider removing `factory.Config`.

1.  https://github.com/kubernetes/kubernetes/issues/71860 [scheduler cleanup phase 2]: Flatten Top Level Scheduler Struct
2. https://github.com/kubernetes/kubernetes/issues/72547 [scheduler cleanup phase

[2019-08-09 15:28] mattjmcnaughton commented on #81122
On Thu, Aug 08, 2019 at 12:41:39PM -0700, Jordan Liggitt wrote:

Makes sense to me - thanks for closing :)

[2019-08-09 15:38] #75286 closed

[2019-08-09 15:38] alexodle commented on #80968
Yeah, it enters that condition after you cut off heartbeats (the ./break-network.sh step above). The problem I think is that if the heartbeats start up again and the pod isn't deleted, then nothing will go and reevaluate whether or not the pod should be marked as ready again.

[2019-08-09 15:58] hermanbanken commented on #70674
In our case it turned out to be a different problem: the kubectl last applied configuration annotation contained the resourceVersion, which it should not. Simply running `kubectl apply edit-last-applied-configuration` to remove the resourceVersion was enough to make it work again.

[2019-08-09 16:10] szuecs commented on #56903
@axot no I don’t have this problem AFAIK.

We have only one ip as nameserver in resolv.conf. We bypass service ip and use a prepared iptables rule to pass to the node ip. Hostnetwork will just use the node ip, because it gets the resolv.conf prepared by kubelet AFAIK. Do you have the iptables rule present without service ip?

Kubelet flag https://github.com/zalando-incubator/kubernetes-on-aws/blob

[2019-08-09 16:12] danielzhanghl commented on #80969
thanks to look into this!

[2019-08-09 16:17] msau42 commented on #80967
/assign @gnufied @leakingtapan @jsafrane

[2019-08-09 16:18] msau42 commented on #80967
@kubernetes/sig-storage-feature-requests

[2019-08-09 16:20] Kent-H opened #81225 "Service Continues Forwarding to Old Nodes after Selector Patched"
**What I did**:
Patched the spec.selector field of a service, using:
[code]

**What happened**:
The service continues to forward new tcp connections to previously selected pods, no traffic is sent to newly selected pods.

**What you expected to happen**:
After patching the spec.selector field, service should forward new tcp connections to newly selected pods.

**How to reproduce**:
1. Create a ser

[2019-08-09 16:51] gnufied commented on #80967
Can this function https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/awsebs/aws_ebs.go#L107 here be used to detect dynamic nature of the node and return appropriate limits?

In the long run this has to be moved to CSI and it should be possible to configure a driver to lower limits when driver is started on the node.

[2019-08-09 16:52] andrewsykim commented on #81178
Because the current implementation of the exclude-balancer label is a catch-all for all Services (a node with the exclude-balancer label is excluded for all Services with Type=LoadBalancer regardless of it's external traffic policy), I think allowing S2 LB traffic to P2 on node N would be an unexpected change for a lot of users using exclude-balancer. In general I think we should keep externalTraf

[2019-08-09 17:08] Kent-H commented on #81225
/sig network

[2019-08-09 17:15] Huang-Wei commented on #80921
Yup, this is aligned with what we discussed in the sig-meeting. Before making any changes, let's roll this feature out first and see how users think.

[2019-08-09 17:18] yastij commented on #81172
/assign

[2019-08-09 17:54] bsalamat commented on #81214
Unfortunately, increasing the max back-off increases scheduling latency in some other scenarios:
1. It raises scheduling latency in auto-scaled clusters: the scheduler retries scheduling pods in a cluster that has run out of resources. Many of such retried pods get max back-off. When auto-scaler adds a new node, the pending pods will have to wait a long time for their back-off to expire before the

[2019-08-09 17:58] ncarr031 commented on #64330
@danielsetreus This helped me. Bonus points for defining it on a deployment instead of a pod.
https://itnext.io/simple-redis-cache-on-kubernetes-with-prometheus-metrics-8667baceab6b

[2019-08-09 18:08] yuha0 opened #81227 "Job controller should remember number of completion"
**What happened**:
When a `Completed` pod is deleted, `Job` controller decreases the number of completions and schedule new pods.

[code]

**What you expected to happen**:
Completed is completed for good. Logically speaking, a completed task cannot be "uncompleted".
So, when a `Completed` pod is deleted, `Job` controller should not decrease the number of completions.

**How to reproduce it (as min

[2019-08-09 18:12] yuha0 commented on #81227
/sig scheduling

[2019-08-09 18:17] liggitt commented on #70890
is this resolved by https://github.com/kubernetes/kubernetes/pull/76518?

[2019-08-09 18:17] dashpole opened #81228 "Cut and vendor cAdvisor release for 1.16"
For each kubernetes release, we cut a new cadvisor release, and vendor it in.  This issue tracks this for the 1.16 release.

[2019-08-09 18:18] dashpole commented on #81228
/sig node
/priority important-soon
/kind process

[2019-08-09 18:19] dashpole commented on #81228
/kind bug
since there are many bug-fixes included in this release
cc @sjenning

@dchen1107 can you add this to the 1.16 release?

[2019-08-09 18:21] jdelta-RBS commented on #81146
As far as the affected versions / branches, I know 1.13.4 was tested. Which versions / branches are affected?

[2019-08-09 18:26] dchen1107 commented on #81228
@dashpole I cannot see v1.16 milestone here. Maybe the permission for me to update the milestone is removed now?

[2019-08-09 18:31] riking commented on #81146
Consider also filing tracking bugs for the Threat Modeling findings (up to TOB-K8S-TM17).

[2019-08-09 18:35] dchen1107 commented on #81228
/milestone v1.16

[2019-08-09 18:38] whipit commented on #16935
What is the status of this feature request?   I know it is "closed", but it was also added to sig/multicluster.   Not sure what that means.

[2019-08-09 18:41] #67728 closed

[2019-08-09 18:44] prameshj commented on #72511
Tried this example, I am able to see all the logs in the listener pods. I traced the packet to see which iptables rule got hit, I see this:
iptables -t filter -nvL FORWARD
Chain FORWARD (policy DROP 0 packets, 0 bytes)
 pkts bytes target     prot opt in     out     source               destination
 721K  361M KUBE-FORWARD  all  --  *      *       0.0.0.0/0            0.0.0.0/0            /* kubern

[2019-08-09 18:45] prameshj commented on #72511
/assign @skbly7

[2019-08-09 19:27] oomichi opened #81232 "Make sub e2e framework independent as possible"
**What happened**:

To provide necessary e2e functionality for consumers instead of a single giant e2e framework, we are separating core e2e framework (`test/e2e/framework`) into sub e2e frameworks(e.g. `test/e2e/framework/auth`).
Now sub e2e frameworks have multiple dependencies and sometime we are facing circular dependency issues.
So it is better to make sub framework independent as possible fo

[2019-08-09 19:28] oomichi commented on #81232
/sig testing
/kind cleanup
/kind-remove bug

[2019-08-09 19:42] #75297 closed

[2019-08-09 19:49] mathisub commented on #77575
In my case "kubectl top po" was working and HPA was unable to get the metrics data. The recycling of the metrics-server resolved the HPA authentication issue with k8s API server.

[2019-08-09 20:04] freehan commented on #49239
Yes. Agreed.

I was thinking extending Pod ReadinessGate to allow user to specify if a pod readiness gate can block endpoint readiness or not. That would allow user to achieve something like "endpoint is ready" but "pod is not ready" when "all containers are ready" but "pod readiness gate is not ready but not blocking endpoint readiness".

I feel like the readiness life cycle has to anchor on pods

[2019-08-09 20:15] liggitt commented on #80528
fixed by https://github.com/kubernetes/kubernetes/pull/81050

/close

[2019-08-09 20:15] #80528 closed

[2019-08-09 20:17] d3v2null commented on #76531
Having the same issue here `
VERSION
v1.15.1
OS-IMAGE
Ubuntu 18.04.2 LTS
KERNEL-VERSION
4.15.0-55-generic
CONTAINER-RUNTIME
docker://18.9.8
`

[2019-08-09 20:33] Huang-Wei opened #81238 "TestPreemptWithPermitPlugin flakes"
**Which jobs are failing**:

pull-kubernetes-integration

**Which test(s) are failing**:

TestPreemptWithPermitPlugin

**Since when has it been failing**:

13:30 PST, Sep 9, 2019

**Testgrid link**:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/81229/pull-kubernetes-integration/1159912162789953536/
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/81068/pull-kubernet

[2019-08-09 20:55] #68839 closed

[2019-08-09 21:48] liggitt commented on #71218
this is related to server restart, not to etcd being down. I can recreate simply by restarting the apiserver while making hotloop requests to the custom resource endpoint.

the custom resource handler should return a 503 response to requests that are sent to it before it has filled its cache with active CRDs

[2019-08-09 21:57] Seljuke commented on #58908
Tried it with flannel and used `--pod-network-cidr=10.244.10.0/16` as cidr pool but didn't work.
Suspected from iptables rules and run `iptables -P FORWARD ACCEPT` but still didn't work. Tried to install a new cluster with kubespray and used `ipvs`, this didn't work either. So I think the bug fixed at Kubernetes v1.9 came back.

[2019-08-09 21:59] thockin commented on #40244
I'm going to re-title this since it is not ELB specific

[2019-08-09 22:02] oomichi commented on #81232
/remove-kind bug

[2019-08-09 22:02] oomichi commented on #79686
/remove-kind bug
/kind cleanup

[2019-08-09 22:13] thockin commented on #80278
Great, we agree on that.

I agree that could be hardcoded.  Use of that function is sort of a pattern - when I see it I trust that it is not going to mis-cast an int into a string or anything dumb.  So I don't object to using it.

I do not think that was the intention.  Now that the issue is raised, though, I admit that I do not know what the common usage pattern is for things that bind and listen

[2019-08-09 22:16] #80278 closed

[2019-08-09 23:04] hollywater commented on #81216
Why do the pods in sts have same pod-ip? And request time out while ping  each other when they r in the same ip segment.

[code]

Something Wrong?
It cause redis-trib failure while I deploy redis cluster.

[2019-08-09 23:06] oomichi opened #81245 "Core e2e test framework should not import sub e2e test frameworks"
**What happened**:

As https://kubernetes.slack.com/archives/C9NK9KFFW/p1565372337078100 Core e2e test framework(`test/e2e/framework`) should not import sub e2e test frameworks (e.g. `test/e2e/framework/auth`) for avoiding circular dependency.
This issue is for managing such issues.

The following files are in e2e core framework:
- [x] cleanup.go (no dependency to sub packages)
- [x] exec_util.go

[2019-08-09 23:26] andrewsykim commented on #80977
So @vllry specifcially fixed this issue in v1.14.1 (not in v1.14.0 though) - see https://github.com/kubernetes/kubernetes/pull/76109 and https://github.com/kubernetes/kubernetes/pull/76179.

The error:
[code]
is because the `KUBE-SEP*` chains (created by iptables proxy) have `-j KUBE-MARK-MASQ` which aren't being cleaned up and so when the IPVS proxy tries delete `KUBE-MARK-MASQ` it can't because

[2019-08-09 23:27] andrewsykim commented on #80977
/close

Please re-open if you run into issues after v1.14.1 though

[2019-08-09 23:33] #80061 closed

[2019-08-09 23:33] andrewsykim commented on #80407
@ProdanLabs can you share your iptable rules when that error occured (`sudo iptables-save`). I think https://github.com/kubernetes/kubernetes/pull/80942 will fix this but can't say for sure until I see the iptables you have there.

[2019-08-09 23:38] msau42 commented on #50898
Discussed this a bit with @saad-ali some more.  The main recommendations we have to address this are:

* Specify tags through StorageClass.Parameters. This is currently where all provider-specific configuration for provisioning exists. This requires the underlying storage provider to expose the option.
* A new feature to pass specific Kubernetes metadata to the storage driver, namely PVC name and

[2019-08-10 00:03] distortedsignal commented on #81188
/sig auth

[2019-08-10 00:39] astripei70 commented on #80819
Hi,
Our research indicates that in-tree ScaleIO volume plugin has no active users at this time. Hence we recommend marking the in-tree ScaleIO volume plugin “Deprecated” as early as practically possible. It is worth noting that the CSI Driver for ScaleIO has been published for over two years. Also, Dell EMC has released an updated version of this driver [here ](https://github.com/dell/csi-vxflexos

[2019-08-10 01:48] dims commented on #81001
@Novex the `/dev/shm` is mounted on the `pause` docker container (not the `gateway` container which is crash looping)

dims@bigbox:~/go/src/k8s.io/kubernetes$ docker ps | grep shm
ed3662a68a88        k8s.gcr.io/pause:3.1   "/pause"                 14 minutes ago      Up 14 minutes                           k8s_POD_shm-test-b6d6c47cc-7dpbz_default_7c8155e6-4159-421a-af4a-36c810325702_0
dims@bigbox:

[2019-08-10 02:31] Huang-Wei commented on #68957
Aha, #80144 happen to implement using the exact same idea.

[2019-08-10 02:47] #37414 closed

[2019-08-10 02:54] sroskelley commented on #79718
@luksa may I suggest stern as a better alternative?
https://github.com/wercker/stern/releases

[2019-08-10 02:57] tedyu commented on #81214
SchedulingQueue is created by NewConfigFactory.
If we make max back-off duration configurable, does it mean we need to add field to ConfigFactoryArgs ?

[2019-08-10 03:05] YunWang commented on #69767
@wgliang I have made a PR [#15777](https://github.com/kubernetes/website/pull/15777#issuecomment-520112007). Could you have it a look and give me some suggestions to do my job better?

[2019-08-10 03:11] dfang commented on #49926
same issue here.

on microk8s, enabled default storage addon,

then install helm-consul got this issue, all pv and pvc are bound. but consul-server pods still got "pod has unbound immediate PersistentVolumeClaims",  recreate these pods didn't help

[2019-08-10 03:33] draveness commented on #81238
Another flaky [here](https://github.com/kubernetes/kubernetes/pull/81006#pullrequestreview-271138457) https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/81006/pull-kubernetes-integration/1158614573872320512/

[code]

[2019-08-10 03:34] tedyu commented on #81238
[code]
I think you meant Aug 9, 2019

[2019-08-10 03:46] andyzhangx commented on #80836
hi @rmweir, do you want ot cherry pick to old k8s release?

[2019-08-10 04:26] tedyu commented on #81238
[code]
The above repeated for 30 seconds.

[2019-08-10 05:05] hollywater commented on #81216
Nobody answer me ?

[2019-08-10 05:46] hollywater commented on #81216
always the same ip, and failed to ping each using ping redis-x.redis.
[code]

[2019-08-10 05:47] hollywater commented on #81216
/sig node

[2019-08-10 05:51] hollywater commented on #81216
journal log

Aug 10 01:49:23 m2 kubelet[2018]: W0810 01:49:23.439550    2018 watcher.go:87] Error while processing event ("/sys/fs/cgroup/devices/libcontainer_27587_systemd_test_default.slice": 0x40000100 == IN_CREATE|IN_ISDIR): inotify_add_watch /sys/fs/cgroup/devices/libcontainer_27587_systemd_test_default.slice: no such file or directory
Aug 10 01:49:43 m2 kubelet[2018]: W0810 01:49:43.442208

[2019-08-10 06:57] #68787 closed

[2019-08-10 07:48] krmayankk commented on #80921
Sorry I could not attend the meeting. So this means a node is taken out of consideration for EvenPodSpread if the incoming pod is not tolerating the taint on the node. How does this happen if all predicates are processed in parallel ? Does EvenPodSpread also apply the taint predicate again ?

In general I agree for simplicity this is the right behavior of taking a node out from calculations if it

[2019-08-10 08:03] Constantin07 commented on #76531
I'm also experiencing these issues with v1.15.2 on Ubuntu Bionic  18.04 despite in both kubelet & docker runtime having setup `systemd` as cgroup driver.

[2019-08-10 08:21] like-inspur opened #81253 "fluentd can't collect kubernetes container log"
I use fluentd to collect kubernetes container log,  although I found that there are logs under /var/log/containers/ directory, but fluentd output erros like this and there are no logs be collected:
2019-08-09 16:32:01 +0000 [warn]: /var/log/containers/kube-proxy-slave2_kube-system_kube-proxy-72f058979f2b5b90667d5176aecc5c0320cde46a21f2a770567f55990c7b7a94.log unreadable. It is excluded and would b

[2019-08-10 11:19] #80760 closed

[2019-08-10 11:32] levimm commented on #34300
I also encounter this issue and it's because docker for mac reverses 64G disk size for all images and containers. And mine is already using 60G so rsync container cannot get started. Run this command to free up space.
"docker system prune -a --volumes"

[2019-08-10 13:02] mattjmcnaughton commented on #81160
/remove-sig node

Kubernetes only supports the 3 latest minor releases. Since we released 1.15, that means we support 1.13, 1.14, and 1.15. My guess is that that is why 1.12.x isn't available via the yum repo.

Is upgrading to a supported option a possibility for you? Outside of being available in the yum repo, it will also receive security patches, etc.

[2019-08-10 14:04] loqutus commented on #81121
/assign

[2019-08-10 15:46] tedyu commented on #81220
[code]
pod_nanny.go doesn't seem to be in k8s codebase

[2019-08-10 15:59] #79577 closed

[2019-08-10 15:59] bluebeach opened #81256 "k8s GPU cannot not be isolated when privileged is set true?"
**What happened**:
for some reason , my pod need to be root. so privileged is set true in yaml.
but when I set resources request `nvidia.com/gpu: "1"`, I can see all two GPU cards in the container using nvidia-smi.
![image](https://user-images.githubusercontent.com/4569903/62824062-241ac480-bbcb-11e9-8640-44e36c221362.png)

when I remove `privileged: true`, as expected I can see only one GPU card

[2019-08-10 16:02] #72025 closed

[2019-08-10 16:10] bluebeach commented on #81256
in other word, can GPU be isolated while `dmidecode` work in the container ??

[2019-08-10 16:34] raesene commented on #81112
On this one, would I be right in saying that it should be possible to address by making sure that all the k8s components use the correct flags to ensure that TLS is used for authentication and a CA is used for each connection, or are there places where there's a gap in coverage? (for background I'm trying to make sure that all recommendations from the audit are covered in the CIS benchmark, where

[2019-08-10 16:34] smarterclayton commented on #81129
Preventing pods without hostNetwork from probing other hosts should be sufficient.  Pods with hostNetwork can already probe the host.  PSP controls hostNetwork.

[2019-08-10 16:40] raesene commented on #81111
One thing to note about the blog post on imperial violet is that it (as far as I can see) looks at the problem of certificate revocation at Internet scale where there are a large number of certificate authorities and therefore the problem of not being able to access the revocation list is more serious.  Also it looks at the Internet scale case, which has problems which may not be present at k8s cl

[2019-08-10 17:11] elieser1101 commented on #81121
i would like to work on this, let me know if you still need help!

[2019-08-10 17:29] tedyu commented on #81132
Do we need to consider the duration the copy takes when moving to a copy-then-rename approach ?

[2019-08-10 17:43] tedyu commented on #81132
Was thinking about the following where log is copied to rotated :
[code]
Since container_log_manager_test.go needs to be modified, I post the change to get some feedback.

[2019-08-10 17:53] bluebeach commented on #5607
+1
I need access /dev/mem in my unprivileged container .
any help!!!

[2019-08-10 17:57] zigmund commented on #67577
I've tested patch (ubuntu 18.04, 5.2.7 kernel) with our cpu-heavy image processing golang microservice and got pretty impressive results. Performance like if I disable CFS on node completelly.

I've got 5-35% less latency and 5-55% more RPS depending on concurrency / CPU utilization at near zero throttling rate.

Thanks, @chiluk !

As said @jhohertz , cfs quota should be reverted to 100ms, I've te

[2019-08-10 18:08] bluebeach commented on #5607
I Just find a plugin that can support add device /dev/mem without privileged !!!
https://github.com/honkiko/k8s-hostdev-plugin

[2019-08-10 18:29] thockin commented on #81121
It looks like @vegemitecheesetoast poked first, so please give them a while
to have first crack at it.

Thanks!

Who knew there was so much pent up demand to contribute!  I will make it my
personal mission to file more good-first-issue issues.

Tim

On Sat, Aug 10, 2019, 10:12 AM elieser1101 <notifications@github.com> wrote:

[2019-08-10 18:38] alejandrox1 commented on #80715
@justaugustus could you give an update on these dashboards?

[2019-08-10 18:40] alejandrox1 commented on #75563
/cc

[2019-08-10 18:43] elieser1101 commented on #81121
@thockin got it. So thanks, i am able to start contributing but would like to take some `good-first-issues` as im not to familiar with the code base!! any recommendation on simple issues would be great!

[2019-08-10 18:49] alejandrox1 commented on #74893
Info in this issue is a bit stale as there have been a ton of changes.
Work related to the ci jobs mentioned in this issue can be tracked in https://github.com/kubernetes/kubernetes/issues/78995

/close

[2019-08-10 18:49] #74893 closed

[2019-08-10 18:53] alejandrox1 commented on #78901
This one is relevant to keep around just as a "it has always been happening" but the priority with these tests is very low.
/lifecycle frozen

[2019-08-10 19:38] saiyan86 opened #81258 "Initialize all images as exported variables in test initialization."
**What would you like to be added**:

Initialize all images as exported variables in test initialization.

**Why is this needed**:

We have a number of ```imageutils.GetE2EImage()``` calls scattered around in the test files. We should just initialize all images as exported variables during test initialization.

[2019-08-10 19:38] saiyan86 commented on #81258
kind/cleanup

[2019-08-10 19:39] saiyan86 commented on #81258
/sig testing

[2019-08-10 20:16] alejandrox1 commented on #81193
I guess these were flakes. Will continue watching
/remove-kind failing-test
/kind flake

[2019-08-10 21:07] #67059 closed

[2019-08-10 21:13] alejandrox1 commented on #81197
Forgot to mention... I ping sig-storage because it seems that the timeouts started with changes to csi e2e tests but not sure if that is a problem or the timeouts just need to be increased.
/cc @kubernetes/sig-storage-test-failures

[2019-08-10 21:15] alejandrox1 commented on #81197
Forgot to mention... I ping sig-storage because it seems that the timeouts started with changes to csi e2e tests but not sure if that is a problem or the timeouts just need to be increased.

/sig sig-testing

[2019-08-10 21:17] alejandrox1 commented on #81198
Last runs have been green. Will continue to watch.
/remove-kind failing-test
/kind flake

[2019-08-10 21:21] alejandrox1 commented on #81200
Thank you @johnbelamaric for the response!

[2019-08-10 21:26] tedyu commented on #81114
@wanghaoran1988 @liggitt
Does either of you intend to createe PR to remove the "Authorization" header ?

[2019-08-10 21:32] Seljuke commented on #61005
I deployed two Kubernetes cluster with Kubespray, one with iptables and one with ipvs. The ipvs one worked as expected but at the iptables cluster it didn't work.

[2019-08-10 22:30] andrewsykim commented on #80977
FYI I was wrong earlier, the error is because of this iptables rule.
[code]

https://github.com/kubernetes/kubernetes/pull/80514 should fix this.

[2019-08-10 22:33] benmoss commented on #74674
I don't think so, I know I didn't look at any docs before trying to get it to work.

[2019-08-10 22:35] andrewsykim commented on #80977
/reopen

[2019-08-10 23:09] ArtemAvramenko commented on #76436
/close

[2019-08-10 23:09] #76436 closed

[2019-08-10 23:41] glasser commented on #77058
We just ran into this in production and it was very surprising.

[2019-08-11 00:13] liggitt commented on #81258
A function is less susceptible to accidental modification. Is there a reason the function is problematic?

[2019-08-11 00:45] seanturner83 commented on #27362
Seeing this on 1.14.3 too - AWS hardware went bad and stuff was in terminating (but still running) and our stateful singleton was brought back up alongside

[2019-08-11 01:18] MikeSpreitzer commented on #80623
I understand that a client of client-go is free to re-implement the code that injects the Prometheus dependency, and have in fact done so.  My complaint is that it seems silly to have to do so.  Now that the client-go code has been organized around dependency injection, and Kubernetes is using go modules, would there be a problem with putting the code that injects Prometheus in a new client-go pac

[2019-08-11 02:48] NickrenREN commented on #81214
@bsalamat Thanks for your reply.
Actually, it is hard for scheduler to schedule 100 pods/s because of bottlenecks of many components(apiserver, controller(informer), scheduler itself...).  If we do not make any optimizations, scheduler can usually only schedule 10 pods/s in 5k node clusters.  10s max duration is not enough in this case.
I do agree that we can make max back-off duration configurabl

[2019-08-11 03:08] tedyu commented on #81214
What is described in last paragraph is more than attaching error message to Pods.
It implies type information that distinguishes the Pods.

[2019-08-11 03:13] #67546 closed

[2019-08-11 03:13] #74600 closed

[2019-08-11 03:36] vegemitecheesetoast commented on #81121
https://github.com/vegemitecheesetoast/kubernetes/commit/a058bf931cdb28596f126846badc555199348b5e

This is my commit with just a few files just to see if I'm on the right track. Would greatly appreciate if someone can check this out and steer me in the right direction if need be.

[2019-08-11 05:00] ddebroy commented on #74674
Long term, this should be taken care of by: [1] the CSI migration effort which paves the path for removal of in-tree plugin code and directing references to in-tree plugins to their CSI counterparts and  [2] enablement of CSI plugins in Windows using a "CSI-proxy" which will incorporate support for querying SCSI Page 83 IDs.

[2019-08-11 07:17] #71733 closed

[2019-08-11 08:23] draveness commented on #81214
We could start with making the scheduling backoff queue max duration configurable.

/assign

Regards,
Draven
On Aug 11, 2019, 11:11 AM +0800, Ted Yu <notifications@github.com>, wrote:

[2019-08-11 10:20] #70238 closed

[2019-08-11 13:23] #75239 closed

[2019-08-11 13:54] aojea commented on #76342
@johnSchnake @bclau , I´d like to sync with you because I´m touching some tests so they are able to run on both IPv4 and IPv6 without any code change.
One of the changes I`ve introduced is switching the nginx images by httpd images because the later listen on both IPv4 and IPv6 by default.

[2019-08-11 14:03] loqutus commented on #81253
maybe something wrong with permissions on /var/log/containers?

[2019-08-11 14:31] tedyu commented on #72320
Looking at EvictionREST#checkAndDecrement, there are two places where the "Cannot evict pod as it would violate" would be given:
[code]
[code]
I think it would be better if the error messages carry slightly different wording.

[2019-08-11 15:47] Code2Life commented on #62421
+1

[2019-08-11 16:15] tedyu commented on #65816
Currently controllermanager registers controller starters, e.g.
[code]
Each starter may return error:
[code]
One solution along the lines of @liggitt comment is to extract the condition checking from each starter into separate (checker) func.
This would give us NewServiceAccountsChecker, etc.
In parallel to controllers map, we can have controllerCheckers map:
[code]
Before starting controllers, we

[2019-08-11 16:26] #75028 closed

[2019-08-11 17:50] neolit123 commented on #70916
/lifecycle frozen

[2019-08-11 18:15] neolit123 commented on #81256
please ask in the #sig-node channel if you are not getting a response here. thanks.
/sig node

[2019-08-11 18:17] neolit123 commented on #81253
/sig instrumentation

[2019-08-11 18:27] neolit123 commented on #80839
/triage support
/sig api-machinery

[2019-08-11 18:50] praseodym commented on #75238
:100: it turns out that AppArmor is to blame here. I'm running [a PSP with `runtime/default` as the default AppArmor profile](https://gist.github.com/praseodym/88ea84fef721f0da5ecf6b1f42ba77d7#file-psp-yaml-L10) that also gets applied to kube-proxy. Adding the `container.apparmor.security.beta.kubernetes.io/kube-proxy: unconfined` annotation to the pod template fixes the problem and lets kube-prox

[2019-08-11 19:15] jethrogb commented on #62366
/remove-lifecycle stale

[2019-08-11 19:17] k-vishwa opened #81270 "`kubectl top --sort-by` is not sorting correctly"
The --sort-by option to kubectl top was introduced from v1.15.2 and it accepts only 2 params i.e. cpu and memory.

e.g.
kubectl top po --all-namespaces --sort-by=cpu
kubectl top po --all-namespaces --sort-by=memory

The output is not in a sorted manner.

**Environment**:
- Kubernetes version (use `kubectl version`): v1.15.2
- Cloud provider: GCP/GKE

[2019-08-11 19:19] k-vishwa commented on #81270
@kubernetes/sig-cli

[2019-08-11 20:54] tedyu commented on #81270
Do you have sample output with incorrect order ?

[2019-08-11 21:25] pathcl commented on #81145
I was able to disable 3DES using this:

      tls-cipher-suites: "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_ECDSA_WITH_AES

[2019-08-11 21:31] #75382 closed

[2019-08-11 21:31] #74918 closed

[2019-08-11 22:08] Reinkaos commented on #2630
Hey,

I am encountering this as well, I'd appreciate some news :).

[2019-08-12 00:12] Huang-Wei commented on #80921
Oh it's just a possible solution. We won't roll it out until we see compelling usecases.

No at the moment. Pods in tainted node are considered as matching candidates during EvenPodsSpread predicate/priority.

It can. And things are more tricky when combining with the "NoExecute" taint - which will apply a tolerationSeconds=300 to each existingPod, and evict them after 300 seconds.

So this issue

[2019-08-12 00:19] ernestomedina17 commented on #17088
There is a misunderstanding here, the kube-proxy process running in all nodes in the cluster (including the master) will open the EndPoint port in the "-host:" that you defined in your config.yml, and from there it will redirect you to the ingress proxy using the NodePort automatically( or magically) and the ingress proxy will redirect you to the final service which is expected to be in the same n

[2019-08-12 01:44] hughobrien commented on #2630
this has been my workaround so far:
`      initContainers:
      - name: init
        image: busybox:latest
        command: ['/bin/chown', 'nobody:nogroup', '/<my dir>']
        volumeMounts:
        - name: data
          mountPath: /<my dir>`

[2019-08-12 02:01] zouyee commented on #81256
https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2019-08-12 02:02] zouyee commented on #81270
/sig cli
@kubernetes/sig-cli-bugs

[2019-08-12 02:08] k-vishwa commented on #81270
Here is the output
`
bash ~ $ kubectl version --short
Client Version: v1.15.2
Server Version: v1.11.10-gke.5
bash ~ $

bash ~ $ k top po -n kube-system --sort-by=cpu
NAME                                                             CPU(cores)   MEMORY(bytes)
kube-proxy-gke-walletservices-prd-u-default-pool-1319e1cf-44wh   7m           21Mi
fluentd-gcp-v3.2.0-vsnkz

[2019-08-12 03:16] cwdsuzhou opened #81273 "Error not well handled in checkpoint.go"
/kind bug

During reading the codes of pkg/kubelet/checkpoint/checkpoint.go
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/checkpoint/checkpoint.go#L98
I find we missed the error returned since https://github.com/kubernetes/kubernetes/pull/56040.
See https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/config.go#L125 , we would alway send `PodUpdate` to `update

[2019-08-12 03:16] cwdsuzhou commented on #81273
/sig node

[2019-08-12 04:11] liggitt commented on #17088
I don't think that's accurate. The kube-proxy role don't even include Ingress read permissions:

https://github.com/kubernetes/kubernetes/blob/0610bf0c7ed73a8e8204cb870e20c724b24c0600/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml#L1099-L1123

I think the open node port probably comes from the Nginx service config

[2019-08-12 04:59] sfowl commented on #81114
@joelsmith  This issue seems CVE-worthy to me: loss of confidentiality (bearer tokens) + cross of privilege boundary (debug log level could be set by admin, then logs read later by low privileged user).

My draft cvss would be: CVSS:3.0/AV:N/AC:H/PR:L/UI:N/S:U/C:H/I:N/A:N (5.3)

[2019-08-12 06:30] k82cn commented on #81227
/sig apps

[2019-08-12 06:41] mrwonkerz commented on #80288
@PatrickLang  The pod status is running, the condition type ready is false though.

I'll provide the kube-proxy as soon as the services are loosing theire endpoints the next time.

[2019-08-12 06:53] dinhanhhuy commented on #56148
This work for me. But is this a bug?

[2019-08-12 07:06] avarf commented on #81220
I installed the metrics-server from the Microk8s addons so maybe they added it to the metrics-server. I will check.

[2019-08-12 07:06] warmchang commented on #76504
[code]

Check all the generated ".a" files (by size sort):

1. Large files are almost always related to cloud provider library.
2. Some package include diffrent version (alpha/beta/GA).
    - 14M     ./k8s.io/kubernetes/vendor/google.golang.org/api/compute/v1.a
    - 16M     ./k8s.io/kubernetes/vendor/google.golang.org/api/compute/v0.beta.a
    - 20M     ./k8s.io/kubernetes/vendor/google.golang.or

[2019-08-12 07:33] avarf commented on #81220
I found the pod_nanny.go, it is on a branch:
https://github.com/kubernetes/autoscaler/blob/addon-resizer-release-1/addon-resizer/nanny/main/pod_nanny.go#L45

And this is the yaml file:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/metrics-server/metrics-server-deployment.yaml

[2019-08-12 08:28] draveness opened #81281 "[Scheduler] Expand the internal range of score to [0, 100]"
/sig scheduling
/priority important-soon
/assign

**What would you like to be added**:

We plan to update the internal score range to [0, 100].

**Why is this needed**:

[The [0, 10] range is not differentiating](https://github.com/kubernetes/enhancements/pull/1178#discussion_r311312001) enough. Now that we are transitioning to the framework, we can consider expanding the range.

We'll add two con

[2019-08-12 08:34] warmchang commented on #77182
Mentioned by https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf

[code]

[2019-08-12 08:57] venthur commented on #68457
/remove-lifecycle stale

hmpf

[2019-08-12 09:10] wojtek-t commented on #77808
This has been fixed in the meantime. Closing.

[2019-08-12 09:10] #77808 closed

[2019-08-12 09:12] warmchang commented on #81125
FYI: https://github.com/kubernetes/kubernetes/issues/77182 :smiley:

[2019-08-12 09:37] zjj2wry opened #81284 "rs keeps creating pods until there is a pod ready"
**What happened**:
Rs keeps creating pods until there is a pod ready and it doesn't clean up the invalid pods for me. I see that there is a parameter .spec.minReadySeconds defaults to 0. If readiness initialDelaySeconds is not empty, it may be can used as the default.
In addition, if the service has not been able to run successfully, the pod will be created continuously.
[code]
**What you expected

[2019-08-12 09:37] zjj2wry commented on #81284
/sig Apps

[2019-08-12 09:38] aermakov-zalando commented on #77603
/remove-lifecycle stale

[2019-08-12 09:40] hurdonkey commented on #81160
/sig api-machinery
Is this usage?

[2019-08-12 09:57] hurdonkey commented on #81160
Thank you. I can find the version: `1.12.6` in the `--showduplicates` option, and My master(running  `1.12.6`) was installed it with yum repo about one month ago, this node running `kubelet-1.15.2` can't join the old version culster... The current situation is i can install kubeadm and kubectl in `1.12.6` except kubelet.

[code]

[2019-08-12 10:07] yqwang-ms opened #81285 "Need a reliable way to determine if a Pod is preempted (evicted/garbageCollected) [A.K.A. Stop Pod API]"
**What would you like to be added**:
Need a reliable way to determine if a Pod is preempted (evicted/garbageCollected)

**Why is this needed**:
Seems currently, we can only determine this by searching the Pod UID in all events in the namespace. See https://github.com/kubernetes/kubernetes/pull/50949.

However, seems **K8S events are not relaible** in many aspects, such as deleted after a while (TT

[2019-08-12 10:10] yqwang-ms commented on #81285
/sig scheduling
/sig api-machinery

[2019-08-12 10:26] cpu100 commented on #75777
/reopen

[2019-08-12 10:33] k-vishwa commented on #81270
Also MEMORY sorting is not correct. Please fix that too along with CPU sort.

[2019-08-12 10:33] cpu100 commented on #75777
`$ kubectl -n kube-system logs -f kube-apiserver-minikube`

Kube-apiserver outputs the same log every second and takes up 10% more CPU than normal
[code]

[2019-08-12 10:33] yue9944882 commented on #81192
/cc

[2019-08-12 11:02] kharunsamuel1 commented on #80541
I've learned that in the case of a fake entry, kubectl stops sending API get requests altogether. Learned by running kubectl get -f search.yaml --ignore-not-found --v=10, the result is shown below. Till now I've been looking into the cobra command framework but now I'm trying to find out where kubectl is making these API calls from(pretty blocked on finding out where this connection is happening).

[2019-08-12 11:05] cann0nf0dder opened #81286 "1.14 masters flapping until all are upgraded"
**What happened**:
 Master nodes upgraded from 1.13.7 to 1.14.4 flapping by going to NotReady every 50 sec until all the masters are upgraded.

All the pods running fine, no errors in kubelet on the upgraded master.
Kubelet remains running when I see NotReady in the logs and via `watch kubectl get nodes`

Upgraded master01 kube-controller-manager log

[code]

Not upgraded master02 kube-controller-

[2019-08-12 11:33] yqwang-ms commented on #81285
@bsalamat @wojtek-t @davidopp Could you please take a look at this? Thanks!!!

[2019-08-12 11:44] hex108 commented on #81238
I checked the code and log again. I think the reason is as following:

When scheduler preempted `waiting-pod`, it failed to delete the pod(same as the case for `signaling-pod`, there might be something wrong with etcd), so it could not schedule `preemptor-pod` because `waiting-pod` had not been deleted successfully.

[2019-08-12 11:54] danwinship commented on #69882
I mean, we're surviving just fine without this feature, so I guess
/priority backlog
but it would be nice to have

[2019-08-12 12:07] yqwang-ms commented on #81285
Also cc @gmarek in case the K8S event plans to also cover this issue.

[2019-08-12 12:31] lbernail commented on #75238
@praseodym Thank you for the update, this is good news
It's probably worth opening an issue on the containerd repository just to make sure that this behavior is intended

AppArmor errors are sent to the audit subsystem (even if audit is not enabled). By default (`failure-node=1` => `printk`) they will only show in dmesg if you have no listener on the audit socket (such as auditd). So these logs ar

[2019-08-12 12:36] lbernail commented on #77903
@sjgiri thanks you for the feedback! What did you set it to?
I think we could change this default value or provide a tunable to set it in kube-proxy (blackholing traffic during 15min after a node failure is a very long time).

Since it's a global parameter it could have consequences so a tunable is probably safer (even if we want to avoid adding more parameters...)

@andrewsykim do you have an opi

[2019-08-12 12:52] mattjmcnaughton commented on #81216
/remove-sig node
/sig network

I think the folks at sig-network may be best equipped to answer this. Alternatively, you could also try asking on the k8s slack, Stack Overflow, or the k8s mailing list :)

[2019-08-12 12:53] mattjmcnaughton commented on #81273
Thanks for taking such a careful look at the code @cwdsuzhou :)

I responded in your pr - I'm not actually convinced that `LoadPods` ignoring the error is a bad thing. Let's chat more on the pr :)

[2019-08-12 12:54] serefacet opened #81289 "unknown flag: --record for "kubectl create" command"
**What happened**
I am not able to pass `--record=true` parameter while using `kubectl create` command. Hence, I can't register change cause seen in `kubectl rollout history` output when I use `kubectl create`

[code]

**What you expected to happen:**
I should record the command while using `kubectl create` command. The ambigious thing is that I'm able to pass `--record` parameter with deprecated

[2019-08-12 12:55] mattjmcnaughton commented on #81256
@bluebeach I'm definitely not an expert in this area of the code, but to be honest, it doesn't surprise me that a privleged container can see all the resources available on the machine.

Another way to address this would be to make your container not need to run in privileged mode (which has other advantages as well). Is that an option?

[2019-08-12 12:57] mattjmcnaughton commented on #81286
Hi @cann0nf0dder !

Is the information here helpful at all: https://kubernetes.io/docs/setup/release/version-skew-policy/?

I'm not positive the exact order in which you upgraded your nodes, but I'm wondering if some of the version skew policies may have been violated?

[2019-08-12 12:57] serefacet commented on #81289
/sig cli

[2019-08-12 13:38] cann0nf0dder commented on #81286
thanks @mattjmcnaughton
We have used the same process upgrading from 1.10 -> 1.11 -> 1.12 -1.13 ->1.14 and this is the first time i see this behaviour.

The process is quite simple:
We update the image on the repo and do a rolling upgrade through each nodes, starting with masters:

[code]
Currently all 4 masters are on 1.13.7 and the one flapping on 1.14
I may add, I upgraded around 10 clusters of

[2019-08-12 13:42] uty commented on #79723
We're also having this issue. `EnsureLoadBalancer()` shouldn't ensure permissions if an SG is a custom one here https://github.com/kubernetes/kubernetes/blob/release-1.13/pkg/cloudprovider/providers/aws/aws.go#L3579 .

@Raffo could you please take a look?

[2019-08-12 13:44] ajouve opened #81290 "Node pass to NotReady"
**What happened**:

From time to time I have a node which pass to `NotReady` state, I do not know really why.

Running `kubectl describe nodes` I have the following error:

[code]

and

[code]

The condition seems good

[code]

This is what I have in my `/var/log/daemon.log` on one fo the node

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

- Cloud provider or hard

[2019-08-12 13:48] ajouve commented on #81290
@kubernetes/sig-contributor-experience-bugs

[2019-08-12 13:49] axot commented on #56903
@szuecs What I tested is based on official node-cache is which using similar iptables bypassing [rules](https://github.com/kubernetes/dns/blob/master/cmd/node-cache/main.go#L93). One different thing is we can not change `--cluster-dns` in GKE so we have to use kube-dns’ service ip.

[2019-08-12 14:17] nikhita commented on #81290
/remove-sig contributor-experience
/sig node
/remove-kind bug
/triage support

[2019-08-12 14:45] damemi commented on #80541
@kharunsamuel1 that's an interesting find, definitely helpful. When I looked into this I got to the `ResourceBuilder` section of get's main run function, and it seems like it *should* be continuing on any errors (see https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/get/get.go#L475) but maybe the ResourceBuilder is actually stopping when it hits a 404?

[2019-08-12 14:50] dims commented on #81114
@sfowl the cvss score even with the abnormal `at high verbosity levels (--v 10)` settings?

[2019-08-12 14:55] DarrienG commented on #76570
/remove-lifecycle-stale

This is assigned. I'm surprised the bot decided to mark it as stale.

[2019-08-12 14:58] frittentheke commented on #73628
/remove-lifecycle rotten

[2019-08-12 15:02] liggitt commented on #81114
Two potential vectors:
* local user with access to system logs (local access, low privilege) https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:L/AC:H/PR:L/UI:N/S:U/C:H/I:N/A:N (4.7)
* remote user with access to system logs (network access, high privilege): https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:H/PR:H/UI:N/S:U/C:H/I:N/A:N (4.4)

CVE-2019-11250 has been assigned to this issu

[2019-08-12 15:15] brabia commented on #66013
If you are using any kind of proxy try to disable it, that was the solution for my case

[2019-08-12 15:28] DarrienG commented on #76570
/remove-lifecycle-stale

[2019-08-12 15:33] nikhita commented on #65180
/remove-help

I believe this still need consensus

[2019-08-12 15:41] tpepper commented on #71719
/lifecycle frozen
/area release-eng

[2019-08-12 15:44] tpepper commented on #73286
We have a steady series of PRs updating golang.  Can we insure a process for when/how to do this gets documented and then close out this issue?

Otherwise there's almost always a new Go that needs enabled on some branch and this issue never gets closed.

[2019-08-12 15:56] justinsb commented on #80967
Probably - I think the challenge is that for users running the AWS VPC CNI, ENIs are also dynamic and thus:

* we'd need a mechanism for the AWS VPC CNI to also indicate its usage
* we'd need not to assume the volume limit is constant, which I believe we currently do.

I've also realized it is not just volumes ... volume attachment reduces our ability to attach ENIs, and thus we might not be able

[2019-08-12 16:11] liggitt commented on #81112
That is generally correct.

There is a one gap I'm aware of, which is the kube-apiserver's proxying of `{nodes,services,pods}/https:$name:$port/proxy` subresources to backing nodes/services/pods (xref https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#manually-constructing-apiserver-proxy-urls). When proxying to the kubelet port, the `--kubelet-certificate-authority` is us

[2019-08-12 16:13] rschmidtz commented on #51376
Still experiencing the same issue.

Removing `kubernetes.io/cluster-service: "true"` didn't help

GCP Version: **1.12.8-gke.10**

Trying to install  [ELK](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch)

[2019-08-12 16:13] liggitt commented on #81112
It's possible the pod spec hostname/subdomain API fields (which were added after the proxy subresources were set up) could be used to determine an appropriate servername for TLS validation.

[2019-08-12 16:47] msau42 commented on #81191
Part 2 of fix: https://github.com/kubernetes/kubernetes/pull/81296

This should solve the release blocking failures.  Remaining failures in [alpha non-blocking job](https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-alpha-enabled-default) are:

* hostpath-v0: This is testing CSI 0.3 driver, which we deprecated in 1.13, so should be removed by 1.17/18.  We don't intend to backport the fix

[2019-08-12 16:50] #65097 closed

[2019-08-12 16:54] lachie83 commented on #81193
I've pinged @wojtek-t from sig-scalability on slack to see if he can assist with triage

[2019-08-12 17:01] yujuhong commented on #81088
@kubernetes/sig-windows-bugs
@PatrickLang @benmoss is this a known issue/limitation?

[2019-08-12 17:01] luisdavim commented on #16707
/remove-lifecycle stale

[2019-08-12 17:01] yujuhong commented on #81088
/cc @pjh @liyanhui1228 @YangLu1031 FYI

[2019-08-12 17:04] aojea commented on #80278
That' s a great question that I don't know the answer either. I was looking at how other projects are doing and asking around and seem that the common practice is to open one listener per IP family `127.0.0.1` and `::1`

(this is a note to me to not start to speculate on the issues before checking the code I was doing a lot of false assumptions here :sweat:)

Golang already solves this problem giv

[2019-08-12 17:06] MrHohn commented on #81000
Error from the latest run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-lb-finalizer/1160916144257765376
[code]
and
[code]

[2019-08-12 17:14] yujuhong opened #81298 "Windows pause image (mcr.microsoft.com/k8s/core/pause) should not output logs"
**What happened**:
The image (`mcr.microsoft.com/k8s/core/pause:1.0.0`) used to run the per-pod infra/pause container logs to stdout.
[code]
**What you expected to happen**:

Pause container not logging anything.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Kubelet does not expose, nor manage these logs. Writing the logs wastes resources

[2019-08-12 17:42] andrewsykim commented on #75502
/remove-lifecycle rotten

[2019-08-12 17:54] eloyekunle commented on #63267
I'll like to take a stab at some packages here.

[2019-08-12 17:58] liyanhui1228 opened #81299 "InstallAndStart-LoggingAgent should be based on whether logging is enabled for the cluster"
**What happened**:

The stackdriver logging agent is installed and start running no matter logging is enabled/disabled in the cluster or not.

**What you expected to happen**:

Do not install and start the logging agent if logging is disabled.

[2019-08-12 17:58] liyanhui1228 commented on #81299
/sig windows

[2019-08-12 17:58] liyanhui1228 commented on #81299
cc @yujuhong

[2019-08-12 17:59] kmala commented on #69882
@danwinship Thanks for confirming my assumption
This is kind of important for us as there is a usecase to write custom CNI plugins similar to existing meta plugins and it requires more information from POD than just the name and  namespace.
Is it okay if i can implement this feature and create PR or do you think i should start discussion on the feature before implementation?

[2019-08-12 18:14] thockin opened #81301 "Probe.SuccessThreshold validation is contextual (bad)"
Comments for this field (staging/src/k8s.io/api/core/v1/types.go) say "Must be 1 for liveness" and #77807 is adding startup in the same way.

This is kind of gross API.  It would be nice if we could just make that field work normally for those contexts (I am not sure why we don't want it to work, even if it is odd).

/kind bug
/sig node

[2019-08-12 18:14] thockin commented on #8190
https://github.com/kubernetes/kubernetes/issues/81301

Probe.SuccessThreshold validation is contextual and ugly.  "must be 1" in an API field is silly.

[2019-08-12 18:21] wojtek-t commented on #81193
Those are unrelated to #81191 - I don't know these tests - those issues doesn't seem to be scalability related.

[2019-08-12 18:36] nicowaisman commented on #81121
I run a little variant analysis of this bug class on kubernetes and all their staging packages and I thought you might find the result useful:

"call to Atoi","Atoi() used in combination of a int wrapper could cause overflow - ","/home/nico/Semmle/Projects/Kubernetes/staging/apimachinery/revision-2019-August-10--09-40-29/src/pkg/util/intstr/intstr.go@63:46-63:48"
"call to Atoi","Atoi() used in com

[2019-08-12 18:43] richardmarshall commented on #80541
This behavior comes from where the not found errors are being ignored and where the input list is flattened.

Errors are ignored here:

https://github.com/kubernetes/kubernetes/blob/ca6290538b91ebd6fa65408a5d4030efa8c15918/staging/src/k8s.io/cli-runtime/pkg/resource/result.go#L113

While flattening occurs here:

https://github.com/kubernetes/kubernetes/blob/ca6290538b91ebd6fa65408a5d4030efa8c15918

[2019-08-12 18:50] tallclair commented on #81115
Previous discussion: https://github.com/kubernetes/kubernetes/issues/39845

I would love to see this happen, but previous efforts to make this change have resulted in requests to:

1. Make seccomp GA (https://github.com/kubernetes/enhancements/pull/1148)
2. Define the default profile in Kubernetes (requires profile representation in k8s)
3. Implement a "complain mode" so issues can be detected bef

[2019-08-12 18:53] lachie83 commented on #81193
Thanks for reviewing @wojtek-t. I understand that the CSI failing tests aren’t in your domain but the [sig-network] tests that are failing in this run are all exhibiting the same error (as listed in reason for failure) - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/1160930238318776320. Could those specific failures be related to #80978?

[2019-08-12 18:58] wojtek-t commented on #81193
They don't seem to be - they are failing on namespace deletion, which is happening for every single test. This seems like something networking-related.
[Also - I was running e2e tests with my PR (and feature enabled) and CSI tests were failing for me and we all understood the reason, I didn't see any networking tests failures - I just forgot that we have alpha-features suite - that's why I broke i

[2019-08-12 19:01] j-griffith opened #81303 "Update hostpathplugin to include clone fixes"
**What happened**:

The vresion of the hostpathplugin specified in the kubernetes e2e tests had a bug in cloning causing storageclass compare checks to always fail.  As a result e2e tests could not pass for cloning in kubernetes.

**What you expected to happen**:

The version referencedin e2e tests should have a working hostpathplugin image to enable e2e testing of clone functinoality.

**How to r

[2019-08-12 19:01] gnufied commented on #66687
It looks like Cinder can not support online volume expansion - https://bugzilla.redhat.com/show_bug.cgi?id=1184786 which is what is happening here. Even if online expansion is enabled, I think to actually perform resizing of Cinder volumes - you must bring the pod down.

[2019-08-12 19:11] #79720 closed

[2019-08-12 19:19] lachie83 commented on #81197
I pinged @krzyzacy in the testing-ops channel today to see if we can get this issue triaged.

[2019-08-12 19:22] j-griffith commented on #81303
/sig storage
/assign @j-griffith

[2019-08-12 19:51] andrewsykim opened #81308 "Should IPVS graceful termination ignore "inactive" connections?"
**What would you like to be added**:
Currently the IPVS proxier considers both active and inactive connections when deciding if an IPVS real server should be deleted or not. For many TCP based applications, this results in the real server not being deleted until the graceful termination timeout is met (15m). I think it's worth re-evaluating if IPVS graceful termination should just ignore inactive

[2019-08-12 19:51] andrewsykim commented on #81308
/sig network
/assign @andrewsykim @m1093782566 @lbernail

[2019-08-12 19:53] #75409 closed

[2019-08-12 20:12] tallclair commented on #81124
Note that we already have a safety measure of requiring the process to be in the HostPID namespace: https://github.com/kubernetes/kubernetes/blob/f3a03f71af11e7ac10e74db5b94c9597d7cbe946/pkg/kubelet/cm/container_manager_linux.go#L750-L757

[2019-08-12 20:14] daschott commented on #78565
Do you have the DNS capabilities config parameter set in the cni.conf? https://github.com/containernetworking/plugins/tree/master/plugins/main/windows/win-overlay

[2019-08-12 20:15] cuzzo333 commented on #69362
@bradhoekstra I had hoped this issue was quietly resolved but we had one of our GKE clusters (v1.12.7-gke.25) experience this last week.  Previously we had experienced this issue with much greater frequency though it was still intermittent.  Some weeks we'd have multiple clusters with this issue and other weeks it might just happen once or not at all.  Sometimes I'd notice that a load balancer had

[2019-08-12 20:18] tallclair commented on #81128
@joelsmith I think the categorization of feature was correct. Why did you relabel this as a bug?

Isn't this covered by only mounting secret volume into some containers? Or is this just asking for changes / new defaults for `automountServiceAccountToken`?

[2019-08-12 20:18] msau42 commented on #81197
@alejandrox1 can you point to which PRs you are referring to?

[2019-08-12 20:20] praseodym commented on #42649
After hitting #77475, I needed to re-create cronjobs due to this issue. I find this very counter-intuitive: regular Unix cron implementations never try to catch up with missed schedules (vixie-cron) or catch up after a restart with a single run (anacron, fcron).

I would propose that we change the controller to only ever immediately start _one_ job if there is a missed schedule in the last `starti

[2019-08-12 20:20] lbernail commented on #81308
Inactive Connections are connections that are not `Established` any longer so they map to TCP connections that are closing (a FIN has been seen). By default they time out after 2 minutes. It's the tcpfin timeout parameter:
[code]
This timer maps to the CLOSE_WAIT / TIME_WAIT TCP connection status so I think we should keep this behavior.

However there is a pathological situation where a node crash

[2019-08-12 20:22] tamalsaha opened #81310 "kube-aggregator fails to proxy for HTTP/2 enabled EAS"
I am running an EAS server here: https://api.crd.builders . This server is using trusted cert and has not authN and authZ (public). This is hosted on Google appengine and serves via HTTP/2 & HTTP/1.1 .

[code]

Now, I am trying to expose this as an EAS inside a minikube 1.15.0 cluster using the following YAMLs.

[code]

But this is not working by default. I added some logging commands to kube-apis

[2019-08-12 20:23] tamalsaha commented on #81310
/sig apimachinery

[2019-08-12 20:24] tallclair commented on #81129
In a previous discussion, we had discussed marking the `Host` fields of `HTTPGetAction` and `TCPSocketAction` as deprecated. It looks like that never actually happened.

/cc @thockin

[2019-08-12 20:25] tamalsaha commented on #81310
cc: @sttts @deads2k

[2019-08-12 20:28] tallclair commented on #81135
/cc @dashpole

[2019-08-12 20:36] dashpole commented on #81135
This is no longer relevant since we now walk the filesystem directly: https://github.com/google/cadvisor/blob/master/fs/fs.go#L552

[2019-08-12 20:38] dashpole commented on #81135
We should make sure this same problem doesn't exist with the kubelet's empty-dir monitoring code, which still uses du: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/fs/fs.go#L59

[2019-08-12 20:38] andrewsykim commented on #81308
Ah, this makes more sense, was originally confused by the `rsGracefulDeletePeriod` constant (constant is not used, deleted it here https://github.com/kubernetes/kubernetes/pull/81312).

^ going to do some research on this option as well and report back here.

[2019-08-12 20:43] lbernail commented on #81308
There is some background here: https://github.com/kubernetes/kubernetes/issues/77903
As well as here: https://github.com/kubernetes/kubernetes/issues/71358

[2019-08-12 20:54] maxneaga commented on #81089
Let's say there is only _one_ process running in the container, and the container's security context has
[code]
Currently, the secret file would still be owned by `root`. Unless the file is world-readable, the main container process will not be able to read it. So in this scenario (which is not uncommon I would guess), there is little to no use for the `defaultMode`. Either the secret file needs t

[2019-08-12 21:10] tedyu commented on #81135
@dashpole
Code from cadvisor calculates bytes and inodes.
For kubelet, would int64Amount of the quantity store the value for bytes ?

thanks

[2019-08-12 21:22] thockin opened #81315 "DefaultServiceIPCIDR should not exist"
API server defaults the service CIDR.  We should instead just fail if it is not specified.  Defaulting is a wild guess and very likely to be wrong.

/sig network
/kind bug

[2019-08-12 21:23] fedebongio commented on #81160
/remove-sig api-machinery
/sig cluster-lifecycle

[2019-08-12 21:24] lavalamp commented on #81310
Why do you think it's HTTP/2 related?

[2019-08-12 21:26] fedebongio commented on #81285
/remove-sig api-machinery
/sig node

[2019-08-12 21:29] chiluk commented on #67577
For more performance with golang set GOMAXPROCS to ceil(quota)+2.  The plus 2 is to guarantee some concurrency.

[2019-08-12 21:43] joelsmith commented on #81128
Hi @tallclair, originally when all the issues were opened, they were opened as features. I knee-jerk changed them all to bug since most of them were bugs, not paying attention to the fact that some were features. If you see any others that you consider features, feel free to flip them back.
/remove-kind bug
/kind feature

[2019-08-12 21:43] liggitt commented on #81310
this doesn't seem http/2 related, but related to the aggregator configuration of your apiserver.

do you have your full apiserver invocation, including all flags?

I'm looking for:
* whether you are using `--ssh-user`
* whether you are using `--enable-aggregator-routing`

[2019-08-12 21:55] soggiest opened #81316 "[Failing Test] [sig-scheduling] SchedulerPriorities [Serial] Pod should be preferably scheduled to nodes pod can tolerate"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
[sig-scheduling] SchedulerPriorities [Serial] Pod should be preferably scheduled to nodes pod can tolerate

**Since when has it been failing**:
2019-08-10

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial

**Reason for failure**:
[code]

**Anything else we need t