[2020-01-20 14:22] droslean opened #87387 "[Failing Test] gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:
`gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)`

**Which test(s) are failing**:
[code]
[code]

**Since when has it been failing**:
`20th Jan 00:50 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial

**Reason for failure**:
[code]

**Anything else we need to know**:
/sig storage
/priority critical-urgent
/milest

[2020-01-20 14:30] droslean opened #87388 "[Failing Test] aks-engine-azure-1-17-windows (ci-kubernetes-e2e-aks-engine-azure-1-17-windows)"
**Which jobs are failing**:
`aks-engine-azure-1-17-windows  (ci-kubernetes-e2e-aks-engine-azure-1-17-windows)`

**Which test(s) are failing**:
`[k8s.io] Pods should be updated [NodeConformance] [Conformance]`

**Since when has it been failing**:
`19th Jan 23:47 PST `

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-1-17-windows

**Reason for failure**:
[cod

[2020-01-20 14:30] droslean commented on #87388
There is also an issue opened for flakiness: #86878

[2020-01-20 14:33] droslean opened #87389 "[Failing Test] gce-windows-1.17 (ci-kubernetes-e2e-windows-gce-1-17)"
**Which jobs are failing**:
`gce-windows-1.17 (ci-kubernetes-e2e-windows-gce-1-17)`

**Which test(s) are failing**:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

**Since when has it been failing**:
`20th Jan 04:22 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-informing#gce-windows-1.17

**Reason for failure**:
see https://prow.k8s.io/view/gcs/kubernetes

[2020-01-20 14:39] droslean commented on #87321
/close

The job stopped flaking after https://github.com/kubernetes/kubernetes/compare/2cb90fc65...c1b696d67

Closing...

[2020-01-20 14:39] #87321 closed

[2020-01-20 14:41] mkumatag commented on #87325
Most of the build scripts are now using docker client but I'm open for using other tools if they are serving the purpose! wdys @dims

[2020-01-20 14:43] droslean commented on #87142
this test stopped flaking..

/close

[2020-01-20 14:43] #87142 closed

[2020-01-20 14:46] droslean commented on #87110
this should have been a testing infrastructure outage. The job stopped flaking.
/close

[2020-01-20 14:46] #87110 closed

[2020-01-20 14:50] chrisohaver commented on #82889
Thanks, Just to summarize, there are two issues raised here:
1. There is a [bug](https://github.com/kubernetes/kubernetes/issues/82889#issuecomment-573717746) in kubeadm's CoreDNS configuration migration preflight check. When the _proxy_ plugin is in use, the preflight check falsely alerts that the _proxy_ plugin is not supported by the configuration migration _when in fact it is_ - the migration

[2020-01-20 14:55] #81717 closed

[2020-01-20 14:59] ipuustin commented on #86539
@bart0sh might have a pointer to the last time this subject was last brought up, and he also could have some ideas about how to deal with the current state of affairs.

There are currently ongoing proposals for improving the device plugin state (see https://docs.google.com/document/d/1Tc0Kc4GDWx1gFvGQbBUizudSuND6Kq8GiH7KVm_X5eg/edit and https://docs.google.com/document/d/1wPlJL8DsVpHnbVbTaad35ILB-

[2020-01-20 15:07] alculquicondor commented on #86909
It was actually not in the KEP, but the config PR https://github.com/kubernetes/kubernetes/pull/77501#discussion_r282078897
although the conversation is difficult to follow. But it seems that the main rationale is that it should be easy to override one or a few default plugins without having to copy the default list (which would be more error prone)

[2020-01-20 15:10] dims commented on #87325
@saschagrunert @mkumatag as long as someone signs up to do the work and handle follow ups (AND cover all the scenarios that we do currently - like windows!)

cc @claudiubelu

[2020-01-20 15:11] draveness commented on #86909
And we could close this issue since we reached a consensus on this.

/close

[2020-01-20 15:11] #86909 closed

[2020-01-20 15:16] MikeSpreitzer commented on #81817
You can see the swagger for the timestamp field at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#objectmeta-v1-meta
/remove-lifecycle rotten

[2020-01-20 15:25] #84703 closed

[2020-01-20 15:38] KannanThiru opened #87391 "K8s 1.15.8 shows different version in node status"
[code]

/sig api-machinery
/sig node

[2020-01-20 15:59] drewwells commented on #70674
Is there a fix for this? It's only happening on CRs we have defined. A CRD specification would be helpful.

[2020-01-20 16:08] 928234269 commented on #81657
@palnabarun I'll assign test/integration/etcd to myself.thinks.

[2020-01-20 16:10] ramseydsilva commented on #78795
This is indeed a bug. The name `Cronjob` itself is misleading since it does not follow the Cron specification. Most kubernetes users will assume Time Zone support comes out of the box. It is dissapointing that the core developers chose not to include this. This issue should affect > 90% of the users who don't operate on UTC time.

[2020-01-20 16:10] ramseydsilva commented on #47202
This is indeed a bug. The name `Cronjob` itself is misleading since it does not follow the Cron specification. Most kubernetes users will assume Time Zone support comes out of the box. It is dissapointing that the core developers chose not to include this. This issue should affect > 90% of the users who don't operate on UTC time.

[2020-01-20 16:31] smarterclayton commented on #86666
Aggregated APIs *MUST* correctly support content type negotiation (it is a part of their contract) but in this case we had a bug in the sample.  The bug in sample apiserver was that it lied about supporting protobuf to the internal interfaces.

Any code in kube for an aggregated API Server needs to correctly test for this case (and either generate protobuf or fallback).  We need to document this f

[2020-01-20 16:46] mfoliveira commented on #64137
On Ubuntu 16.04 (Xenial) with the 4.15 (HWE) kernel this issue should have been fixed on systemd packages version `229-4ubuntu21.23` (LP bugs #[1847512](https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1847512) and #[1846787](https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1846787)) with this systemd [commit](https://github.com/systemd/systemd/commit/d8fdc62037b5) `d8fdc62037b5 (core:

[2020-01-20 16:46] rofra commented on #23880
Yes, really needed

[2020-01-20 16:46] kfox1111 commented on #22368
Not everyone using kubernetes uses kustomize. That solves it at the wrong level.

[2020-01-20 16:50] soltysh commented on #86779
I don't think SIG-CLI has anything to say wrt kubelet flags, I'll leave it entirely to kubelet maintainers.

[2020-01-20 17:08] dhawal55 commented on #76146
@tedyu Apiserver logs:
[code]

[2020-01-20 17:16] andrewsykim commented on #85422
Thanks for the update @zh168654

/close

[2020-01-20 17:17] #85422 closed

[2020-01-20 17:19] ahg-g commented on #85515
Thanks Wei

[2020-01-20 17:19] #85515 closed

[2020-01-20 17:20] ahg-g commented on #85399
This is moved to kubernetes-sigs

[2020-01-20 17:20] #85399 closed

[2020-01-20 17:24] Huang-Wei commented on #87328
Nope. We should prevent using global variables.

I meant that "plugins" doesn't need to be instantiated and then passed to function `RegisterPluginFunc`; instead, it can be an empty point object, and then inside `RegisterXYZPlugin` function, in particular in `getPluginSetByExtension()`, it then instantiates the proper `PluginSet` if it's not instantiated.

[2020-01-20 17:27] mkumatag commented on #87325
ah! windows will be challenging I feel at the moment with buildah, will find a workaround for that!

[2020-01-20 17:29] ialidzhikov commented on #86666
How we can configure the sample-apiserver to do not `lie` that it supports protobuf?

Is it hard-coded in the `CodecFactory`?

https://github.com/kubernetes/apimachinery/blob/f69eda767ee8601f65e8966e702f25a344dd2698/pkg/runtime/serializer/codec_factory.go#L51-L106

[2020-01-20 17:54] ahg-g commented on #87364
/cc @alculquicondor

Aldo also suggested that the binding call to the extenders should move to a plugin. The whole approach of moving the extenders calls to plugins sounds good to me. We can do the Filter and Bind now and wait for preemption to be resolved later.

[2020-01-20 17:58] tedyu commented on #76146
Considering 'StorageError: key not found', the endpoint might not exist.
The subsequent "Create" seemed to succeed.
Was there other symptom you noticed after 17:07:01 ?

Thanks

[2020-01-20 18:05] csehra commented on #86094
@jayaddison : Thanks Man, You are a champ..

[2020-01-20 18:11] ahg-g opened #87395 "Deprecate scheduler's framework.plugins.RegistryArgs"
The only parameter that is used is the ```VolumeBinder```, which is now available in the FrameworkHandler.

So we can delete [RegistryArgs](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/registry.go#L44-L46) and update

and change ```NewFromVolumeBinder``` to be like all other plugins New function: ```func New(_ *runtime.Unknown, fh framework.FrameworkHandle)

[2020-01-20 18:19] ahg-g opened #87396 "Move scheduler's SchedulerExtender interface to core/extenders.go"
```scheduler/algorithm``` is deprecated, and ```SchedulerExtender``` must move somewhere else, and the best place is in ```core/extenders.go```.

/sig scheduling
/help
/good-first-issue

[2020-01-20 18:20] haosdent commented on #87396
/assign

[2020-01-20 18:20] haosdent commented on #87395
/assign

[2020-01-20 18:21] jkaniuk commented on #87200
Fixed
/close

[2020-01-20 18:33] alculquicondor commented on #87364
I had already opened an issue for this #87159

[2020-01-20 18:34] modevops commented on #25382
I am frustrated with kubectl create because there are very little options.  Why when kubectl create deployments  was created did not have the same features added and kubectl run.  --replicas at the very least should have been added. I found the kubectl create command very limited.  It would be nice to be able to do more the create a deployment and add an image.  Another good options to set values

[2020-01-20 18:34] alculquicondor commented on #87364
/close

[2020-01-20 18:34] #87364 closed

[2020-01-20 18:35] justaugustus commented on #87200
@jkaniuk -- There is no information whatsoever on how this was fixed. I'd expect that for a failing test issue.

/reopen

[2020-01-20 18:35] justaugustus commented on #87200
cc: @kubernetes/ci-signal

[2020-01-20 18:37] haosdent commented on #87159
+1

[2020-01-20 18:42] jkaniuk commented on #87200
Older perf-tests branches (1.14, 1.15) have some problems with setting up Prometheus stack in kubemark tests.
Kubemark periodic tests were changed to use release-1.16 perf-tests branch - PR was linked above.

This solution takes less time than debugging all issues on those branches but in the same time it does not invalidate the promise/reason for creation of perf-tests branches - so that changes

[2020-01-20 19:13] dhawal55 commented on #76146
@tedyu No, it just crashes and restarts after that

[2020-01-20 19:16] tedyu commented on #76146
Was there panic after 0120 17:07:10.934810 ?

Please share more log beyond 0120 17:07:10.934810 if you have it.

Thanks

[2020-01-20 19:20] dhawal55 commented on #76146
Yes, the container panics and stops so no more logs after it.

I tried querying etcd and there is no keys under `registry`, hence the key not found error but the question is why is it trying to remove a key that does not exist. Maybe, I have some old artifact remaining on my machine. I did `kubeadm reset` to cleanup my old kubeadm setup

[2020-01-20 19:22] ialidzhikov commented on #86666
Will #86274 also fix this issue?

[2020-01-20 19:29] dhawal55 commented on #76146
I take it back, there are more logs. Give me few mins, I will paste it here

[2020-01-20 20:07] pjryan93 commented on #79523
I don't mind updating a the PR, seems like a good first issue for me.

[2020-01-20 20:07] pjryan93 commented on #79523
/assign

[2020-01-20 20:13] neolit123 commented on #87391
/close

this is a k8s wide issue. please watch this ticket:
https://github.com/kubernetes/release/issues/1020

[2020-01-20 20:13] #87391 closed

[2020-01-20 20:28] tankakatan commented on #60134
@drakedevel @anthonyserious @ankidwiv – guys thanks – switching to centOS gpg works for me on AMI2.

[2020-01-20 21:01] huegelc commented on #85866
nobody has this issue?

[2020-01-20 21:18] DeanPH opened #87398 "Kubectl Expose --type ExternalName"
**What happened**:
Running `kubectl expose pod mypod --port 80 --type ExternalName` returns the error:

Running `kubectl expose pod mypod --port 80 --type ExternalName="xxx"` returns the error:

Running `kubectl expose --help` returns:

**What you expected to happen**:
There is no support for --ExternalName when using kubectl expose so it should not appear in the help page for --expose or in the e

[2020-01-20 21:20] DeanPH commented on #87398
/sig cli

[2020-01-21 01:02] zhouya0 commented on #87398
/assign

[2020-01-21 01:28] timyinshi commented on #85261
ok,i resove it by deleting pause container or deleting pod

[2020-01-21 01:28] #85261 closed

[2020-01-21 01:54] mmiara opened #87402 "kubeadm created etcd ha external cluster"
The documentation goes over how to create an etcd cluster, which runs in containers managed by kubelet on three external nodes in a cluster. After it is created, there is no documentation that follows the setup. There are tons of blogs about how to operate them using etcdctl, but this is not possible (or easily translated) with the way that the recommended documentation presents. How are you able

[2020-01-21 02:37] tedyu commented on #84213
I should have some time if you need help, @msau42

[2020-01-21 02:48] haosdent commented on #87395
/remove-help

[2020-01-21 02:48] haosdent commented on #87396
/remove-help

[2020-01-21 03:16] haosdent commented on #87396
@zouyee seems you have submitted the pull request, let me transfer the ticket to you. I go through your pull request and it looks awesome, thanks your contribution!

[2020-01-21 03:16] haosdent commented on #87396
/assign @zouyee

[2020-01-21 03:23] haosdent commented on #87396
BTW, I think we could remove `scheduler/algorithm` totally once https://github.com/kubernetes/kubernetes/pull/87342/files is merged. OK for you? @ahg-g @zouyee

[2020-01-21 04:08] #81813 closed

[2020-01-21 05:09] #72294 closed

[2020-01-21 05:16] andrewsykim opened #87408 "Latest k8s.io/utils/mount breaks pkg/volume/rbd tests"
**Which jobs are failing**:
bazel-test

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
Test fails when updating to latest k8s.io/utils version. Tested in https://github.com/kubernetes/kubernetes/pull/85617.

**Anything else we need to know**:
I think the commit causing the breaking test is https://github.com/kubernetes/utils/pull/127

[2020-01-21 05:17] andrewsykim commented on #87408
/sig storage
/assign @jingxu97 @jsafrane
cc @mvisonneau

[2020-01-21 05:28] nickchappell commented on #85794
I'm running into the same issue, though with kube-router as the CNI plugin (proxy and pod networking on, firewall off). `firewalld` is disabled, SELinux set to permissive. Nodes and temporary pods I spin up can ping/curl the service IP of the API server, but for some reason the CoreDNS containers can't.

[2020-01-21 05:34] henryon commented on #87402
@mmiara If you are using external etcd cluster, pls refer https://etcd.io/docs/v3.4.0/op-guide/clustering/ for how to deploy etcd cluster. if you using etcd cluster with k8s. pls check https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/.

well from the description, you are using kubelet to manage etcd container. if so, the later one might be helpful in your case?

[2020-01-21 05:47] pcj commented on #78879
This is the first example where I found the kubectl cli to be sub-par (otherwise the experience has been excellent).  Is anyone looking at this?

[2020-01-21 05:58] udit249 commented on #87220
Hi,
I am looking into this issue.
Can you please share the pv and pvc config file.

[2020-01-21 07:02] fujitatomoya commented on #86539
@ipuustin

i do not have access the following, already request the access permission though.
https://docs.google.com/document/d/1Tc0Kc4GDWx1gFvGQbBUizudSuND6Kq8GiH7KVm_X5eg/edit

totally agreed, will do that.

[2020-01-21 07:20] ialidzhikov commented on #86666
@liggitt mentioned that his #86274 is a potential fix for this issue.

[2020-01-21 07:26] s1061123 opened #87412 "Add well-known label for custom endpoint controller as well as "service.kubernetes.io/service-proxy-name""
**What would you like to be added**:

Add well-known label at endpoint/endpointslice controller to delegate endpoint/endpointslice control to custom endpoint/endpointslice controllers.

**Why is this needed**:

kube-proxy has well-known label for custom proxy, ["service.kubernetes.io/service-proxy-name"](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/apis/well_known_labels.go#L22)

[2020-01-21 07:27] s1061123 commented on #87412
/sig network

[2020-01-21 07:49] Antiarchitect commented on #70082
@tedyu 3.4.3 here. Same errors sometimes. Probably because of my slow virtual disks.

[2020-01-21 07:56] zhouya0 commented on #87398
I think it's better to just delete the `ExternalName` from  the help info. I tried to add support for `ExternalName` in  `kubectl expose`. But I realized that `kubectl expose ` actually will create the `service` with `lable selector` with the lables in your given object. But `ExternalName` doesn't need `lable selector` and should not rely on any given object.

[2020-01-21 07:57] zhouya0 commented on #87398
If you really want's to create `ExternalName` service, you'd better to write a yaml file or something else.

[2020-01-21 09:29] ipuustin commented on #87249
It appears that `Exists()` function in the cgroup manager logs the missing path on verbosity level 4 before it returns false, see https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/cgroup_manager_linux.go#L276.

Could you check what the log message says? Possibly you have some of the paths missing.

[2020-01-21 09:31] ipuustin commented on #85764
I think `--reserved-cpus` might help you here, because it actually takes a cpuset (such as `0-2`). You could then manually assign that same cpuset to `/system.slice`.

[2020-01-21 10:06] oxddr opened #87416 "[Failing Test] kubemark-{master, 1.1.6, 1.17) fail to start"
**Which jobs are failing**:
kubemark-1.16-500
kubemark-1.17-500
kubemark-100

**Which test(s) are failing**:
Kubemark Up

**Since when has it been failing**:

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-1.16-500
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-1.17-500
https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-100

[2020-01-21 10:09] avarf commented on #86666
I am also facing this issue. The issue started after a power failure and some network problems caused by it and now I can't delete any of the namespaces.
[code]
We are using K8s 1.16 and our cluster has 1 master and 5 workers.

@ialidzhikov have you found a solution for this or we have to tear down the cluster and set it up again? (since the links that you mentioned are WIP)

[2020-01-21 10:15] ialidzhikov commented on #86666
@avarf, you can finalize the namespace. See https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-408599873.

And I don't think that your issue is related to this one. Your namespace cannot be deleted most probably because your apiservice is down. This issue is about apiserver that cannot negotiate the content-type.

[2020-01-21 10:15] DXist commented on #69687
@numbsafari , I've asked on [the PR page](https://github.com/kubernetes/kubernetes/pull/74526)

[2020-01-21 10:21] avarf commented on #86666
Thanks for your quick answer. I don't think it is related to apiserver because it is up:
[code]
But the thing that I can see in many logs is:
[code]
I will restart the `kube-apiserver` and `metrics-server` and see what will happen.

[2020-01-21 10:26] ialidzhikov commented on #86666
Please open a new issue for your problems. Thank you!

[2020-01-21 10:50] vfrans commented on #87247
Ok thanks a lot, I would have excepted that sharing storage would have been achieved using RWX (which i didn't test yet) rather than creating multiple PV in RWO targeting the same path.

Is RWX functional using local PVs?

[2020-01-21 11:21] marqc commented on #86485
I wrote script that can help reproduce issue
https://gist.github.com/marqc/9afe03c240d5caa8a3ce84a202dc02ef
Before running set correct apiserver address and create namespace in k8s cluster

Script will create pod within loop and change its readiness gate condition. When left for a while it finally catches situation where pod stays in not ready status.
During tests all changes to pod are recorded w

[2020-01-21 11:24] klueska commented on #59110
This issue has been raised once again in the form of a PR: https://github.com/kubernetes/kubernetes/pull/87223

[2020-01-21 11:28] klueska commented on #83478
/close
Completed

[2020-01-21 11:29] #83478 closed

[2020-01-21 11:38] benceszikora commented on #69811
@thockin The problem is that calico doesn't advertise `status.loadBalancer.ingress.ip`. It does advertise our entire external service IP range (by default), but not a `/32` for the nodes that the corresponding pods are running on.
This results in requests getting round robined across all the nodes, not just the ones having the service on them. When the requests hit a node that the service *is* run

[2020-01-21 11:53] benceszikora commented on #69811
This entire setup also works fine with using the cluster `clusterIP` of  the service (as described here https://www.projectcalico.org/kubernetes-service-ip-route-advertisement/), but kube-proxy seems to treat `externalIPs` differently.

[2020-01-21 11:56] jkaniuk commented on #87416
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce-stable1/1219545266021994499
[code]

Few projects were added to boskos pool recently:
https://github.com/kubernetes/test-infra/pull/15927
seems that not all needed permissions were set on them

[2020-01-21 11:57] dims opened #87420 "hcsshim has recursive dependency on kubernetes"
Please see:
- https://github.com/microsoft/hcsshim/blob/master/go.mod#L42
- https://github.com/kubernetes/kubernetes/blob/master/go.mod#L190

Leads to weird stuff:
- https://github.com/microsoft/hcsshim/pull/700
- https://github.com/microsoft/hcsshim/issues/642

Please break the loop. We can't have it both ways!

/sig windows
/assign @PatrickLang

[2020-01-21 12:00] jkaniuk commented on #87416
I have enabled Google Container Registry API in new projects:
- k8s-periodic-scale-1
- k8s-periodic-scale-2
- k8s-periodic-scale-3
- k8s-periodic-scale-4
- k8s-periodic-scale-5
- k8s-presubmit-scale-31
- k8s-presubmit-scale-32
- k8s-presubmit-scale-33
- k8s-presubmit-scale-34
- k8s-presubmit-scale-35

Waiting for next runs results to verify.

[2020-01-21 12:00] dims commented on #87420
please see https://github.com/microsoft/hcsshim/issues/760

[2020-01-21 12:06] johanbrandhorst opened #87421 "Expose gRPC client API"
**What would you like to be added**:

I would like to be able to use a gRPC client to talk to the Kubernetes API.

**Why is this needed**:

The OpenAPI definition is great, and the existing language clients help, but JSON/HTTP is not perfect, and there are better alternatives. gRPC is becoming more popular every day, and it would make sense to expose a gRPC API. In the short term, there are well k

[2020-01-21 12:08] johanbrandhorst commented on #87421
/sig api-machinery

[2020-01-21 12:37] mattjmcnaughton commented on #86420
@neolit123 @dims curious for your thoughts here?

In my mind, its actually a bit of an anti-pattern that kubelet is setting the `OomAdj` for docker - and reflects the undesired coupling between Docker and the kubelet. So I'm a bit hesitant to extent this coupling to containerd.

In particular, using containerd as the container runtime requires the cluster administrator to be running containerd out

[2020-01-21 13:16] dims commented on #86420
@mattjmcnaughton i'd leave this OomAdj for docker as-is, until we just drop dockershim totally. We should document somewhere though that folks using `remote` should ensure this in their environments to reduce surprise.

example here's how did set this in image-builder : https://github.com/kubernetes-sigs/image-builder/pull/113/files#diff-8fce943161a0c079a7b0836e8e8a0b03R8

[2020-01-21 13:38] floryut opened #87424 "Kubernetes 1.16.5 image wrongly package with 1.16.6-beta.0"
**What happened**:
I've installed a cluster using Kubespray and chose to deploy Kubernetes 1.16.5.
But after the install with success I got a running 1.16.6-beta.0 cluster.

**What you expected to happen**:
Having a cluster up & running under version 1.16.5

**How to reproduce it (as minimally and precisely as possible)**:
Install a cluster using Kubespray 2.12 branch and Kubernetes 1.16.5 version

[2020-01-21 13:40] floryut commented on #87424
/sig release

[2020-01-21 14:20] mmiara commented on #87402
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/

Above link is exactly how the cluster was/is recommended for deployment. I followed this guide, and it seems that it is not very well supported (shockingly). @henryon

[2020-01-21 14:23] mmiara commented on #87402
It looks like the above links are both referring to configuration that is running etcd as a systemd service, rather than in a container as the kubernetes documentation sets up for HA external configuration. @henryon

[2020-01-21 14:24] haosdent commented on #44328
@andyxning I submit a draft pull request. No sure if it match your requirements or not. Could you help to try it?

[2020-01-21 14:28] haosdent commented on #86194
@zhucan I think this problem is resolved. You could close the ticket now. :)

[2020-01-21 14:29] neolit123 commented on #86420
^ +1

[2020-01-21 14:54] chrisohaver commented on #85794
@nickchappell, in your case is the error indicating "timeout"? Or are you seeing "unauthorized" or some other error.

[2020-01-21 15:04] liggitt commented on #86666
the `unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1: the server is currently unable to handle the request` is a separate issue, and is working as expected (namespaces can only be removed if all API groups are available to verify no resources from that group remain in the namespace)

[2020-01-21 15:27] oxddr commented on #75541
/remove-lifecycle stale

On Tue, Jan 21, 2020 at 4:19 PM fejta-bot <notifications@github.com> wrote:

[2020-01-21 15:28] stevebail commented on #68522
Is it possible to get an update for 1.17?
Which kubelet endpoint should I use for collecting cAdvisor metrics by Prometheus Server?
Which other kubelet endpoints are supported for direct access to additional metrics?

[2020-01-21 15:31] bg-chun commented on #84601
@cbf123
I have configured dual-socket server with DPDK compatible nic on each socket and it seems multus pod and sriov-dp pod doesnt fail with topology error.

At the moment, I didnt configure PF/VF and bind PF driver yet, it means above pods are just depoloyed. I dont have time to check it now, later i will try it soon.
(As i know there wasn' any issue when i tried before)

See here:

NAMESPACE

[2020-01-21 15:45] phil9909 commented on #86491
`should create a ResourceQuota and capture the life of a secret.` failed with a timeout for PR #85846. see:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/85846/pull-kubernetes-e2e-gce/1219630328654598144/

[2020-01-21 15:47] alculquicondor commented on #83514
/remove-lifecycle stale

/unassign @ahmad-diaa

/assign @zouyee

[2020-01-21 16:00] gnufied commented on #86194
@haosdent thanks for identifying the problem. We might have to surface this back into CSI driver documentation or somewhere else. cc @msau42 @jsafrane

[2020-01-21 16:10] avhvr commented on #68712
@rkc007 Are you still working on this?

[2020-01-21 16:29] eraclitux opened #87426 "Pod service endpoint unreachable from same host"
**What happened**:
Establishing TCP/UDP traffic to a ClusterIP fails when connection is load balanced via iptables to a pod on the same host.

**What you expected to happen**:
`conntrack` shows that the udp datagram is DNATted to `10.200.1.37` from `10.200.1.36` (the host has `podCIDR: "10.200.1.0/24"`).
[code]
From my understanding, because pods have /24 mask, the reply from `.37` doesn't get thr

[2020-01-21 16:31] eraclitux commented on #87426
/sig network

[2020-01-21 16:50] stevebail commented on #68522
I think I got now.
This is what I have understood from https://github.com/kubernetes/kubernetes/pull/59827:
If one needs to collect *all* cAdvisor metrics with Prometheus, don't scrape kubelet but rather scrape a separate/standalone cAdvisor instance running as daemonset.
I hope this is right :)

[2020-01-21 17:02] damemi opened #87427 "[TaintBasedEvictions] Ensure test coverage is complete and up-to-date"
As part of promoting TaintBasedEvictions to GA in 1.18 (https://github.com/kubernetes/kubernetes/issues/87161), we need to make sure that the test coverage is sufficient. There are some tests mentioned in the KEP, and as mentioned in https://github.com/kubernetes/enhancements/pull/1450#discussion_r366899543, those that are still under scheduling should be moved to the appropriate SIGs (sig-node or

[2020-01-21 17:03] damemi commented on #87427
/sig scheduling
/sig node
/sig cloud-provider

[2020-01-21 17:04] damemi opened #87428 "[TaintBasedEvictions] Clean up featuregate logic"
As part of moving TaintBasedEvictions to GA in 1.18 (https://github.com/kubernetes/kubernetes/issues/87161), we need to clean up the logic around featuregating for this feature. Since it will be GA, it should not require a featuregate anymore.

/kind cleanup
/sig scheduling

[2020-01-21 17:06] damemi opened #87429 "[TaintBasedEvictions] Update docs to reflect GA status"
As part of promoting TaintBasedEvictions to GA (https://github.com/kubernetes/kubernetes/issues/87161), the docs around it will need to be updated to reflect the new status.

/kind cleanup
/sig scheduling

[2020-01-21 17:07] damemi commented on #87427
@fengzixu would you like to take this? It should mostly only be moving the tests from scheduling to an appropriate sig

[2020-01-21 17:21] #87396 closed

[2020-01-21 17:26] oomichi commented on #78605
This is already done by @liggitt

/close

[2020-01-21 17:26] #78605 closed

[2020-01-21 17:32] phil9909 commented on #86312
Also affects `[sig-storage] In-tree Volumes [Driver: emptydir] [Testpattern: Inline-volume (default fs)] subPath should support non-existent path` (I guess)
 https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/85846/pull-kubernetes-e2e-gce/1219654116133834752/

[2020-01-21 18:08] mikeparker commented on #76714
Sounds good to me too!

[2020-01-21 18:18] avhvr commented on #80272
@SomtochiAma Have you started working on this issue? If not, can I pick it up?

[2020-01-21 18:27] tallclair commented on #84165
/sig auth

Can you elaborate on the justification?

Why doesn't the administrator want to solely rely on RBAC? Is it because it's hard to block access to someone with cluster-admin privileges? Would a custom authorizer that denied access to this path cover this use case (along with finer-grained authorization, https://github.com/kubernetes/kubernetes/issues/83465)? Or is this more of a defense-in-

[2020-01-21 18:28] tallclair commented on #87252
/sig auth

See comment on https://github.com/kubernetes/kubernetes/issues/84165#issuecomment-576815295. I'd prefer to consolidate the conversation there until we determine that fine-grained endpoint control on the kubelet is something we want.

[2020-01-21 18:54] lavalamp commented on #86491
FYI I figured out the problem by looking at the audit logs and seeing the "orphan" finalizer. We looked there due to observing successful PUTs to the RC's status after it was supposedly deleted.

[2020-01-21 18:57] Random-Liu commented on #86788
@droslean Hey! That test is still WIP. :)

I'll work on a fix soon.

[2020-01-21 19:19] mcandre opened #87433 "Expiration field for role bindings"
**What would you like to be added**:

An optional expiration date for role bindings

**Why is this needed**:

To help administrators manage temporary work situations in a more automated, reliant fashion.

[2020-01-21 19:25] neolit123 commented on #87433
/sig auth

[2020-01-21 19:34] thockin commented on #69811
I am confused now. Are you trying to use a VIP or a cluster IP?  Calico should not be advertising anything for a VIP AFAIK

[2020-01-21 20:04] apelisse commented on #6284
/wg apply

[2020-01-21 20:13] travisghansen opened #87434 "bad/missing data in Event involvedObject"
**What happened**:

I'm attempting to use an `Events` watcher to better re-act to cluster modifications. I've got an `CRD` resource that looks like this using a standard `get`:

[code]
The `involvedObject` for respective `Event`s however is represented as such:

[code]

Of note is the discrepancy and loss of information in the `involvedObject`.

**What you expected to happen**:

I would expect the

[2020-01-21 20:18] travisghansen commented on #87434
/sig api-machinery

[2020-01-21 20:55] lavalamp commented on #70679
(Drive by idle thought: the suggestions to provide visibility are very similar to what we'd need for ratcheting validation.)

[2020-01-21 20:59] apelisse commented on #87343
I think it'd make more sense to document here: https://kubectl.docs.kubernetes.io/pages/app_composition_and_deployment/diffing_local_and_remote_resources.html

Which you can change by looking at this:
https://github.com/kubernetes/kubectl/blob/master/docs/book/CONTRIBUTING.md

Would you mind taking care of this @zhouya0 ?

[2020-01-21 21:00] davidz627 commented on #70013
/remove-lifecycle stale

[2020-01-21 21:02] mitar commented on #80346
/remove-lifecycle stale

[2020-01-21 21:07] BenTheElder commented on #86312
Still waiting for https://github.com/opencontainers/runc/pull/2207#issuecomment-576755368 but there's recent activity :crossed_fingers:

On the KIND side:
When this goes in and there is a runc release, next up after containerd bumping to it we'll (I'll) ensure kind picks up the new containerd release and builds new images with it.
Right now we consume the 1.3.X / release-1.3 branch, but we are goo

[2020-01-21 21:08] BenTheElder commented on #86312
On the GCE side:
I'm still not sure who handles COS etc. currently, but someone from node on our end (=Google) will need to get this ported into COS and into our CI.. I'm going to poke @cheftako as a starting point

[2020-01-21 21:13] cji commented on #81146
@fduthilleul Thank you! I've attempted to clarify the wording one those two rows. Does that look better?

[2020-01-21 21:15] fedebongio commented on #87367
/assign @jpbetz

[2020-01-21 21:16] fedebongio commented on #87389
/cc @yliaog

[2020-01-21 21:18] fedebongio commented on #87421
/assign @lavalamp @deads2k
hoping one of you can comment on the feasibility of this one

[2020-01-21 21:20] fedebongio commented on #87434
/cc @logicalhan
who volunteered to dig more to understand the use case

[2020-01-21 21:20] caesarxuchao commented on #87421
This was indeed discussed in the past: https://docs.google.com/document/d/13yn2Xgg5EBA3ytvs7b4x2fNE3iBxlFzYLpz-g1nENuI/edit#

[2020-01-21 21:22] lavalamp commented on #76794
There was a dynamic audit configuration API in the works that would probably serve this use case, but I'm not sure what the status is. hm I think this is the latest: https://github.com/kubernetes/enhancements/pull/1259

[2020-01-21 21:42] lavalamp commented on #87421
You can use the proto content type to get the performance wins [*]. There's no way to make an unmodified gRPC client work against an unmodified kube-apiserver, and we've currently no plans to make a proxy or anything like that.

[*] doesn't work on CRDs yet.

[2020-01-21 21:42] #87421 closed

[2020-01-21 22:22] ialidzhikov commented on #87424
@floryut , see https://github.com/kubernetes/release/issues/1020 and https://groups.google.com/forum/#!topic/kubernetes-dev/Mhpx-loSBns.

@neolit123 , @justaugustus , could you please close this one as duplicate of https://github.com/kubernetes/release/issues/1020?

[2020-01-21 22:28] justaugustus commented on #87424
Closed as duplicate of https://github.com/kubernetes/release/issues/1020.
/close

(You can also close with the `/close` bot command.)

[2020-01-21 22:28] #87424 closed

[2020-01-21 22:28] tariq1890 commented on #51641
/reopen
/remove-lifecycle stale

[2020-01-21 22:34] bartelsb commented on #87327
We found that the kube-controller-manager image we were using did not have the AWS root certs installed. We are just using the stock image from the Kubernetes gcr repo and we have not had this problem before, so we don't know why it just started now. The problem was resolved by mounting a volume containing the root certs to the kube-controller-manager pod.

[2020-01-21 22:34] #87327 closed

[2020-01-21 22:41] spiffxp opened #87441 "[Flaky Test] Stage"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce
pull-kubernetes-e2e-gce-rbe

**Which test(s) are flaking**:
Stage

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-rbe&include-filter-by-regex=Overall%7CBuild%7CStage
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Overall%7CBuild%7CStage

[2020-01-21 22:43] spiffxp commented on #87441
/sig testing
Top flake according to http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2020-01-21 22:52] fengzixu commented on #87427
/assign @fengzixu

Of course. Thank you @damemi

[2020-01-21 23:20] biblesyme commented on #24255
It still exists nowdays, why is there no one to fix it?

[2020-01-21 23:25] yujuhong commented on #87420
hcsshim should import the the [cri-api](https://github.com/kubernetes/cri-api) instead

[2020-01-21 23:29] andrewsykim commented on #87318
/assign

[2020-01-21 23:31] johanbrandhorst commented on #87421
FYI this link is not public.

Thanks for the explanation. Is the possibility of using the proto content type documented somewhere? I didn't know about it until today.

[2020-01-21 23:34] lavalamp commented on #87421
It's viewable to members of the kubernetes-announce, kubernetes-dev, and kubernetes-sig-api-machinery mailing lists, sorry, my employer makes it impossible to make docs world-readable.

Search for "application/vnd.kubernetes.protobuf"...

[2020-01-21 23:35] lavalamp commented on #87421
E.g.: https://kubernetes.io/docs/reference/using-api/api-concepts/#alternate-representations-of-resources

[2020-01-21 23:41] vanyans commented on #48107
Hello,

I am seeing this issue in my proxy pods:
E0117 08:12:44.604344       1 proxier.go:1402] Failed to execute iptables-restore: failed to acquire new iptables lock: timed out waiting for the condition
kube-proxy v1.15.4

Any solutions on this? Let me know if you need more info
Thank you!

[kube-proxy-fail-log.txt](https://github.com/kubernetes/kubernetes/files/4094412/kube-proxy-fail-log.txt)

[2020-01-21 23:44] liggitt commented on #87420
That's easy to do (see https://github.com/liggitt/hcsshim/commits/bump-k8s), but means we could not then update our vendored copy of hcsshim in kube (we do not allow k8s.io/kubernetes -> vendor -> staging dependencies because it can gridlock the repo). The only real solutions I see are 1) for the cri-api component to graduate to a stand-alone component or 2) for kube to stop vendoring hcsshim.

[2020-01-22 00:07] spiffxp commented on #87441
With https://github.com/kubernetes/test-infra/pull/15980 merged we'll wait and see if the Stage flakes on pull-kubernetes-e2e-gce go down.  If they do, there are other presubmit jobs that could benefit from that.  If they don't, we should revert.

[2020-01-22 00:27] #87395 closed

[2020-01-22 00:27] #86491 closed

[2020-01-22 00:38] ahg-g commented on #85986
This is now possible.

/close

[2020-01-22 00:38] #85986 closed

[2020-01-22 00:44] spiffxp commented on #87441
/priority important-soon

[2020-01-22 01:20] EronWright commented on #65785
@wsongI believe the issue is due to how the OIDC authenticator within the apiserver is initialized; it seems to wait 10 seconds before initializing its internal verifier.   Reference: [plugin/pkg/authenticator/token/oidc/oidc.go](https://github.com/kubernetes/apiserver/blob/kubernetes-1.17.0/plugin/pkg/authenticator/token/oidc/oidc.go#L226)

I imagine the fix would be to call `wait.PollImmediately

[2020-01-22 01:42] spiffxp commented on #83182
/close
Something happened around mid november that dramatically reduced failures for this test. No failures in past two weeks as of today, considering this closed.

- https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-11-01&pr=1&job=integration&test=TaintBasedEviction
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2019-11-15&pr=1&job=integration&test=

[2020-01-22 01:42] #83182 closed

[2020-01-22 01:52] spiffxp commented on #83509
https://github.com/kubernetes/kubernetes/pull/86397 addressed the specific failure laid out in the description

/close
This triage link isn't spotless but it's much better than it used to be https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=gce&test=CSI%20mock%20volume%20CSI%20workload&xjob=beta%7Cstable%7Cmin-node
- exclude beta/stableN jobs since they don't have fixes cher

[2020-01-22 01:52] #83509 closed

[2020-01-22 01:57] spiffxp commented on #83590
Based on where discussion landed in https://github.com/container-storage-interface/spec/issues/388 it seems like there is consensus to make no guarantee of data actually persisting on windows.  In which case I feel like this test should either be tagged as [Flaky] or removed if we can't make that guarantee?

[2020-01-22 02:24] spiffxp commented on #78064
/close
Agree with @hvaara, I'm unable to reproduce locally.

It's not showing up in our CI https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestPendingPodsMetric

Please /reopen if you believe this is still an issue

[2020-01-22 02:24] #78064 closed

[2020-01-22 02:39] skilxn-go opened #87444 "Show ReadinessGate Status in kubectl."
**What would you like to be added**:
Display the reason of ReadinessGate fail when use `kubectl get pods -o wide`

**Why is this needed**:
Now we can only get how many ReadinessGate fails, and pods's status will keep in Running.
I think it can display more information when a ReadinessGate failed, (eg. displace the reason of it's failing, like container's CrashLoopBackOff.)

[2020-01-22 02:40] skilxn-go commented on #87444
/assign
/sig api-machinery
/sig node

[2020-01-22 03:08] YuikoTakada opened #87445 "REQUEST: New membership for YuikoTakada"
## GitHub Username

@YuikoTakada

## Organization you are requesting membership in

@kubernetes

## Requirements

- [x]  I have reviewed the community membership guidelines (https://git.k8s.io/community/community-membership.md)
- [x]  I have enabled 2FA on my GitHub account (https://github.com/settings/security)
- [x]  I have subscribed to the kubernetes-dev e-mail list (https://groups.google.com/

[2020-01-22 03:13] liggitt commented on #87434
How was the event created?

[2020-01-22 03:17] haosdent commented on #87445
May need to raise this at https://github.com/kubernetes/org

[2020-01-22 03:19] YuikoTakada commented on #87445
thanks. I'll close this PR.

[2020-01-22 03:19] #87445 closed

[2020-01-22 03:32] travisghansen commented on #87434
That's a good question. I never considered the producer of the event would be responsible for how that data is structured/created. Let me dig through the code and ask the Argo folks I guess.

Does the interface to creating events not simply take a reference for the `involvedObject`?

[2020-01-22 03:38] luisdavim commented on #53459
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-01-22 03:38] travisghansen commented on #87434
Looks like it's here: https://github.com/argoproj/argo-cd/blob/0675ff2fb25fe97856171230f150e6ba5a2563d5/util/argo/audit_logger.go#L75

[2020-01-22 03:39] liggitt commented on #87434
Events are just API objects, which don't do cross object validation at the API level, so someone is free to record an event with an API version or group that does not exist. That said, if the event was created using the client-go helpers, I would have expected the apiVersion to be extracted correctly from the provided object and recorded in the event.

[2020-01-22 03:43] travisghansen commented on #87434
Go is not my strength so I'm not sure how to read whether it's using the client or not. I'd assume so.

What's the likelyhood  of getting `selfLink` added to the struct?

[2020-01-22 03:47] tuananh170489 commented on #87198
Same issue with @jeffdesc

[2020-01-22 04:05] liggitt commented on #87434
It is constructing the event itself, not using the helper that populates the fields from an object instance.

Not likely, given https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190711-remove-selflink.md

Since this issue appears to have been caused by an external client's use of the API, I'll go ahead and close this issue and recommend filing an issue against that pr

[2020-01-22 04:05] #87434 closed

[2020-01-22 04:18] travisghansen commented on #87434
@liggitt ouch, I really don't like that kep :( unless there's some alternative API endpoint that can be used to generate the link given the standard data from kind/version/etc. Is there some forum/discussion on that or is it a done deal?

Regardless, can you point to a valid example that I can share with the Argo folks for the 'correct' way to generate the event data using the helpers?

[2020-01-22 04:46] KobayashiD27 commented on #86597
I will pick up these scripts.

kubernetes/hack/build-cross.sh
kubernetes/hack/build-go.sh
kubernetes/hack/cherry_pick_pull.sh
kubernetes/hack/dev-build-and-push.sh
kubernetes/hack/dev-build-and-up.sh
kubernetes/hack/dev-push-conformance.sh
kubernetes/hack/e2e-node-test.sh
kubernetes/hack/generate-docs.sh

[2020-01-22 05:42] astleychen commented on #65502
if `global.outboundTrafficPolicy.mode` is `ALLOW_ANY ` which is the default, you may try to add below annotation to pod or deployment pod spec so that there is no transient traffic blocking for your containers.

`traffic.sidecar.istio.io/excludeOutboundIPRanges: "0.0.0.0/0"`

[2020-01-22 06:04] prameshj opened #87447 "Use service patch methods from cloud-provider repo"
PR #87217 added service patch methods to k8s.io/cloud-provider.
Once there is a release with that PR included, the code in service-controller and legacy-cloud-providers/gce can be updated to use those.

/area platform/gce
/assign

[2020-01-22 06:07] prameshj commented on #87447
/sig network

[2020-01-22 07:04] prameshj commented on #87447
/remove-triage unresolved

[2020-01-22 07:29] jpbetz commented on #87367
Please include a YAML file demonstrating the issue and more details about the actual and expected results

[2020-01-22 08:00] prksu commented on #87441
/cc

[2020-01-22 08:17] johanbrandhorst commented on #87421
Thank you!

[2020-01-22 08:24] zhouya0 commented on #87343
Ok. No problem,  I'll try to do it :)

[2020-01-22 08:29] fduthilleul commented on #81146
@cji LGTM thanks for considering my comment.

[2020-01-22 08:59] adamcooke commented on #87263
Absolutely.

https://gist.github.com/adamcooke/696ccad10559ab6650cbefc0113a5f9e

[2020-01-22 09:16] salvob commented on #86299
I'm starting to suspect Istio is the culprit.

Number of connections to apiserver with Istio: 291
After removing Istio: 37

Now kube-apiserver consumes ~1.2GB of RAM

[2020-01-22 09:18] benceszikora commented on #69811
Sorry for confusing things. I was just mentioning that hitting the service on its `clusterIP` works fine with `X-Forwarded-For` (provided that `clusterCIDR` is not set in the kube-proxy config, due to this: https://github.com/kubernetes/kubernetes/blob/0e224ad3f38d9ab0ffa34bcd0774458f5834b7fa/pkg/proxy/iptables/proxier.go#L862-L869).

We use the `externalIPs` on our ingress service to get traffic

[2020-01-22 09:53] alenkacz commented on #72637
/reopen

[2020-01-22 09:54] jkaniuk commented on #87416
New runs works fine:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce-beta/1219817144749920259
*20/20 Tests Passed!*

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce-stable1/1219907740399308800

[code]

[2020-01-22 09:58] walterdolce opened #87454 "Wrong API documentation references: 1.16 shows 1.17"
**What happened**:
Went to check API docs for 1.16, but saw it was for 1.17

**What you expected to happen**:
Read API docs for 1.16

**How to reproduce it (as minimally and precisely as possible)**:
Go to https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/

**Anything else we need to know?**:
Please screenshot:
<img width="1303" alt="Screenshot_2020-01-22_at_09_50_56" src="https:

[2020-01-22 09:58] jkaniuk commented on #87416
/close

[2020-01-22 09:58] #87416 closed

[2020-01-22 10:09] jkaniuk commented on #87200
Tests are green for last few days
/close

[2020-01-22 10:09] #87200 closed

[2020-01-22 10:15] digitalronin commented on #77383
How about setting a PDB on a cronjob to ensure that the job runs to completion in the event that another process tries to drain the node on which it's running?

[2020-01-22 10:48] haosdent commented on #80272
/remove-help

[2020-01-22 10:50] haosdent commented on #80272
/assign @SomtochiAma

[2020-01-22 11:01] walterdolce commented on #87454
/sig docs

[2020-01-22 12:40] ipuustin commented on #86255
I tried your yaml file, and your pod is in QoS class Burstable. It means that cpu manager won't give it exclusive CPUs. In order to make your pod Guaranteed, you need to assign matching limit-request pairs to all containers in the pod, for example like this:

[code]

The cpu manager will then give your container dedicated cores.

[2020-01-22 13:09] ipuustin commented on #75212
I think this doesn't work very well with the current cpu manager logic. The problem is that a pod can't now have QoS class Guaranteed if it has init containers which don't have matching requests/limits. This means that normal containers in such a pod don't then get dedicated cpus even though the init containers are long gone when the app containers (with matching requests/limits) are finally start

[2020-01-22 13:49] liggitt commented on #87434
You can use information from the discovery API to determine the API endpoint for a particular group/version/kind. That's what the discovery-based implementations of the RESTMapper interface do:

[code]

The selfLink field has been fairly problematic and has had minimal use. Since the information needed to construct URLs is available via discovery, I wouldn't anticipate that use case motivating kee

[2020-01-22 14:47] sbrs3 commented on #87249
Increased the log level of kubelet and it was missing following two paths: `[/sys/fs/cgroup/pids/systemreserved /sys/fs/cgroup/systemd/systemreserved]`. The first one (pids) I added by specifying pids controller with cgcreate. Not sure about the second one though (`/sys/fs/cgroup/systemd/...`). How would that get created? And why is kubelet looking for it even though I started it with `--cgroup-dr

[2020-01-22 14:58] SomtochiAma commented on #80272
Sorry, I have

[2020-01-22 15:22] #83136 closed

[2020-01-22 15:50] anapsix commented on #84244
check your `kube-proxy-token-xxxxx`, it might be using expired token and/or cert
try deleting it (it will be recreated), and delete kube-proxy pods, and see if anything changes when those are recreated

[2020-01-22 15:52] tedyu commented on #85499
@danwinship
Please provide your comment about the next step

[2020-01-22 15:52] andrewsykim commented on #87263
I tested this on the latest v1.17.0 version using Kind and  it seems to work as expected. My test:
[code]

[code]

[code]

I'm curious if there's a conflicting rule from Cilium that could be causing this. Can you try v1.17.0 with another CNI plugin and see if you can reproduce the same issue?

[2020-01-22 16:01] travisghansen commented on #87434
@liggitt fair enough, thanks for sharing all the detail and the help!

[2020-01-22 16:06] IngussNeilands commented on #81584
/reopen

[2020-01-22 16:07] IngussNeilands commented on #81584
Unresolved and Closed - any plans to reopen this issue?

[2020-01-22 16:13] skilxn-go commented on #87428
Does this issue need help? I can do this, if help is needed, please just assign it to me. THX~

[2020-01-22 16:23] ndarilek commented on #74551
I've got a slightly different error, and am wondering if it is this issue or another:

[code]

I.e. connection reset, not broken pipe. The pods in question continue to run just fine. Happens when I try serving a ~70 MB file from a local Minikube cluster. Accessing the ingress directly via `minikube ip` works perfectly.

If this is another issue, please point me to it so I can a) see if it is fixed

[2020-01-22 16:28] alculquicondor commented on #84922
Is there a parent issue for this? I would like to know what are the semantics of precedence.

The [CC KEP](
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/wgs/0032-create-a-k8s-io-component-repo.md#flag-precedence-over-config-file) only talks about general precedence of flags over component config, which we don't support in kube-scheduler for most flags.

https:/

[2020-01-22 16:30] alculquicondor commented on #84922
/wg component-standard

[2020-01-22 16:52] ddudnik commented on #67761
We are experiencing this issue, specifically with `Service` resources for some reason, although we do have resource quota on many other types of resources.

Our cluster info:
`version.Info{
  Major:"1", Minor:"15", GitVersion:"v1.15.6",
  GitCommit:"7015f71e75f670eb9e7ebd4b5749639d42e20079", GitTreeState:"clean",
  BuildDate:"2019-11-13T11:11:50Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"l

[2020-01-22 16:55] liggitt commented on #87454
Thanks for the issue. This probably belongs in https://github.com/kubernetes/website/issues

[2020-01-22 17:04] haosdent commented on #87429
/assign

[2020-01-22 17:07] vanhaxl commented on #51096
hi rockysingh, Not yet.

[2020-01-22 17:09] vanhaxl commented on #51096
I tried to increase (twice) the time in Restemplate while calling API in unhealthy pods, but I still received some time out exception. Still finding the root cause of this

[2020-01-22 17:16] ereslibre commented on #86843
/cc

[2020-01-22 17:20] arjunrn commented on #83878
/remove-lifecycle stale

[2020-01-22 17:28] lavalamp commented on #86299
https://github.com/istio/istio/issues/19481

[2020-01-22 18:34] dimm0 commented on #86281
@gnufied we're stuck with jobs in the cluster.. anything I can do to help debugging this?

[2020-01-22 18:45] damemi commented on #87428
Sure, thank you for offering to help

/assign @skilxn-go

[2020-01-22 18:45] invidian commented on #26093
I'm not sure if that's the right place to drop that (perhaps new issue should be created?), but for people running `kubelet` as a container while deploying Kubernetes, it would be super useful to have a list of capabilities, host directories etc where `kubelet` needs to have access **on host** in order to function properly.

For my project, I run `kubelet` as a Docker container. I've tried looking

[2020-01-22 18:49] neolit123 commented on #26093
this type of documentation improvement is nice to have.
you can get feedback on this in the #sig-node slack channel on k8s slack or if you join their meeting:
https://github.com/kubernetes/community/tree/master/sig-node

[2020-01-22 18:59] jcrowthe opened #87464 "Azure AD: Migration path from 1.17.0 to 1.17.1"
**What happened**:
Kubernetes 1.17.1 included a breaking change to how Azure AD may be used for OIDC authentication in Kubernetes: https://github.com/kubernetes/kubernetes/pull/86412 For all teams which were successfully using Azure AD's implementation of OIDC in Kubernetes previously, this change means:
- `>=1.17.1 clusters are only compatible with >=1.17.1 kubectl versions and client libraries`

[2020-01-22 18:59] davesargrad opened #87465 "Pod fails to connect to volume github due to proxy"
I am following the examples in Kubernetes in Action.

I am currently trying to create the following pod:

[code]

The pod fails to connect to github:
![image](https://user-images.githubusercontent.com/48793689/72924491-037c9c00-3d1f-11ea-9f21-29d911c8da0c.png)

I am reasonably sure that this is because of our corporate proxy.

Docker is configured to use our proxy propertly: see following snippet

[2020-01-22 19:15] jennybuckley opened #87466 "Bump structured merge diff dependency to v3.0.0"
This issue is to make sure we bump the structured merge diff dependency to non pre-release version of v3.0.0 prior to release of 1.18, as a follow up to https://github.com/kubernetes/kubernetes/pull/87442

/wg apply
/sig api-machinery
/milestone 1.18
/assign
/cc @liggitt @apelisse

[2020-01-22 19:16] liggitt commented on #87466
/milestone v1.18
/priority important-soon

[2020-01-22 19:18] JAlonsoHdz commented on #43279
In our case, the pod was running on a node in an aws EC2 instance, the solution was to restart the node and that did the trick.

[2020-01-22 19:39] dattim commented on #71869
This is happening for me too. I have 8 nodes in an EKS cluster, and for some reason only one node is having this GC issue.   This has happened twice, and the below steps are what I've done to fix the issue.  Does anyone know of a better / supported method for doing this? https://kubernetes.io/docs/tasks/administer-cluster/cluster-management/#maintenance-on-a-node

1. Increase autoscaling group for

[2020-01-22 19:47] #79337 closed

[2020-01-22 19:56] tamalsaha commented on #81310
/remove-lifecycle rotten

[2020-01-22 20:04] fejta-bot opened #87468 "pr:pull-kubernetes-e2e-gce-100-performance flaked 32 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **32**
 Consistency: **92.30%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Stage | 16 |
| ClusterLoaderV2 | 11 |
| Timeout | 10 |
| testing/density/config.yaml | 9 |

#### Previously closed issues for this job flaking:
#86562 #83529 #67295 #62592 #73884 #83870 #81890

[Flakiest Jobs

[2020-01-22 20:33] john-delivuk opened #87469 "Length restrictions on HPA External Metrics"
**What happened**:
[code]

**What you expected to happen**:
Autoscaling to work effectively if it had had a shorter length.

**How to reproduce it (as minimally and precisely as possible)**:
Create a match on your external metric hpa that has a value longer then 63 characters.

**Anything else we need to know?**:
It appears that using the generic label in `MetricIdentifier.Selector` comes with the

[2020-01-22 20:35] lavalamp commented on #81310
Did you try turning that on?

I still don't understand why you called out http/2 specifically, I think that may be throwing everyone off.

[2020-01-22 20:40] #87157 closed

[2020-01-22 20:47] machine424 opened #87470 "ContainerCannotRun pod cannot be deleted."
**What happened**:
Cannot remove a pod that is in a `ContainerCannotRun` status.
I din't check if the pod's related data is removed from etcd.

**What you expected to happen**:
After deleting the pod, it shouldn't stick to `Terminating` state for hours and should disappear from `kubectl get pods` list.

**How to reproduce it (as minimally and precisely as possible)**:
Trying to `kubectl apply -`
[

[2020-01-22 20:48] invidian commented on #84298
Not stale.

[2020-01-22 20:49] machine424 commented on #87470
\sig Node

[2020-01-22 20:59] lavalamp commented on #53459
/lifecycle frozen

We don't currently have plans, and it should work for all resources, not just CRDs. But this shouldn't be auto-closed.

[2020-01-22 21:18] justaugustus commented on #86182
Kubernetes 1.17.2, 1.16.6, and 1.15.9 have been released as of yesterday and multiple announcements were sent out to the community [re: status](https://groups.google.com/d/topic/kubernetes-dev/Mhpx-loSBns/discussion).

The incorrect release versioning issue has been closed: https://github.com/kubernetes/release/issues/1020

Release branch jobs have long since recovered, so I'm closing this issue o

[2020-01-22 21:18] #86182 closed

[2020-01-22 21:30] ahg-g commented on #85822
Congrats all, we are done with phase 2 of the migration.

[2020-01-22 21:30] #85822 closed

[2020-01-22 21:43] lavalamp commented on #60463
This was never actually fixed, looks like.

[2020-01-22 22:08] vtereso opened #87472 "Fake client watch + informer dropping events"
I have been running into testing inconsistencies when using informers. With a high enough test count, the informer is presumably not called since the channel hangs to receive forever. To reproduce, try running the code below with `go test -v --count=1000000 <pkg>`:
[code]
I have tried to set different values for the resync period (`time.Duration(0)`, `time.Second`, etc.), but the same hanging occu

[2020-01-22 22:12] vtereso commented on #87472
/sig api-machinery

[2020-01-22 22:27] andrewsykim commented on #87408
cc @codenrhoden @msau42

[2020-01-22 22:29] Jefftree commented on #83076
/close

[2020-01-22 22:29] #83076 closed

[2020-01-22 22:31] lavalamp opened #87473 "E2E: [sig-api-machinery] Garbage collector should support cascading deletion of custom resources"
This is near the top of the flakiness list: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&sort-by-flakiness=

I looked at the most recent flake, it looks like the GC legit just did not delete the expected thing at all. 60 seconds seems plenty generous.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1219764546487455746

On

[2020-01-22 22:32] lavalamp commented on #87473
/assign @caesarxuchao

[2020-01-22 22:32] alculquicondor opened #87474 "PluginConfig for InterPodAffinity not respected"
/sig scheduling
/kind feature

Now that framework migration phase 2 is done and Plugins are first class citizens of kube-scheduler, I think we should honor PluginConfig for the default plugins (today just InterPodAffinity).

We have most of the machinery to do so, but since we have `KubeSchedulerConfiguration.HardPodAffinitySymmetricWeight`, we use this value to override whatever is set in `Plugin

[2020-01-22 22:32] alculquicondor commented on #87474
cc @ahg-g @Huang-Wei

[2020-01-22 22:45] msau42 commented on #87408
@kubernetes/sig-storage-bugs

[2020-01-22 22:48] gWOLF3 opened #87476 "dynamic resizing of persistent volume claim storage request based on predefined conditions"
**What would you like to be added**:

Similarly to how we set requests and limits of CPU, memory, and storage per container, it would be nice if we could set not only a storage 'request' but also a 'limit' for a PVC.

This would enable some pretty nice, and very basic functionality, to allow PVCs to auto increase storage requests based on some predefined condition -> this would be a huge boon for

[2020-01-22 22:48] #87264 closed

[2020-01-22 22:49] selmanj opened #87477 "k8s.io/apimachinery/pkg/util/yaml/#YAMLDecoder.Read behaves inconsistently when parsing empty documents"
**What happened**:

While working on #85459 I found that https://godoc.org/k8s.io/apimachinery/pkg/util/yaml#YAMLDecoder.Read produces inconsistent results when splitting yaml files with multiple contents.

**Example 1**
In:
[code]

Out:
[code]
[code]

But inserting empty docs in the middle results in strange results.

**Example 2**

In:
[code]

Out:

[code]
[code]

Inserting another empty doc now

[2020-01-22 22:56] selmanj commented on #87477
/sig api-machinery

[2020-01-22 22:57] ahg-g commented on #87474
Since we are bumping the ComponentConfig API version, I suggest we just remove the CC parameter.

[2020-01-22 23:08] alculquicondor commented on #87474
Actually, we will remove it from `v1alpha2` as detailed in the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20200114-multi-scheduling-profiles.md)

However, I assume we still need to keep `v1alpha1`, parse it and configure the scheduler with it? Although, if we simply convert it to the `v1alpha2`, then we would create a PluginConfig for this parameter. However,

[2020-01-22 23:12] aojea commented on #48107
are you using the CNI portmap plugin?

[2020-01-22 23:28] ahg-g commented on #87474
Yeah, we need to convert it to the [internal type](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/types.go#L46), which will not have that field.

A v1alpha1 config can be validated such that setting the field in both places is rejected.

[2020-01-22 23:33] caesarxuchao commented on #87473
The GC processed the dependent 12 times, e.g.,

[code]
The last attempt was at 00:32:25.183915.

I don't know why the GC didn't delete the dependent.

In the apiserver log, the GC got the 404 when GET the owner:
[code]
So even if the GC hasn't observed the delete event of the owner, it should know the owner was gone by now.

As a side note, the GC observed the deletion of the owner:
[code]
IIRC th

[2020-01-22 23:40] lavalamp commented on #87473
Yeah, that's what I saw, too. So it sounds like this might be an actual system bug?

/kind bug
/priority important-soon

[2020-01-23 00:17] micahhausler commented on #84165
Yes, this is about defense-in-depth, particularly in our case (Fargate) where the customer doesn't manage the kubelet or compute.

[2020-01-23 00:20] Huang-Wei commented on #87474
I see some cases that promote an alpha version while eliminating the preceding one - e.g., just keep v1lapha2 in the codebase.

+1 on this as that field doesn't make sense to apply globally to CC. We should enforce the customized symmetric weight to be provided in podaffinity pluginConfig. Otherwise, just use the default symmetric weight.

[2020-01-23 00:27] caesarxuchao commented on #87473
Yes, this can be an actual bug.

After printing the "processing xxx" log, GC will GET the object from the apiserver, unless the object has a non-nil deletion timestamp ([code](https://github.com/kubernetes/kubernetes/blob/f409793eb6574f1ab92afd910dbbf0ed90e6bcbb/pkg/controller/garbagecollector/garbagecollector.go#L406-L413)). The apiserver log showed that the GC never tried to GET the dependent, s

[2020-01-23 00:39] lavalamp commented on #87473
Maybe a deletecollection request caused this? Due to the test framework deleting the namespace after the test failed?

[2020-01-23 00:46] tallclair commented on #58211
/remove-lifecycle stale

[2020-01-23 00:52] tedyu commented on #87473
[code]
If owner was deleted around 00:26:11.408661, there didn't seem to be enough time till the next GC run (00:26:41 which was after 00:26:19 when the test failed)

[2020-01-23 01:27] cheftako opened #87481 "Kubectl not working on GCE master"
**What happened**:
Used kube-up.sh to bring up a GCE cluster and then logged on to the master.
Run kubectl on the master, is hangs for a while (30 seconds) and then returns an error.

$ kubectl get nodes
Error from server (InternalError): an error on the server ("") has prevented the request from succeeding

**What you expected to happen**:
I expected to get the node list.
If I use one of the syst

[2020-01-23 01:27] cheftako commented on #87481
/sig cli

[2020-01-23 01:28] cheftako commented on #87481
/assign @seans3

[2020-01-23 01:41] MorrisLaw commented on #77095
/remove-lifecycle stale

[2020-01-23 01:42] MorrisLaw commented on #84615
/assign

[2020-01-23 01:51] cheftako opened #87482 "gce cluster-up does not work with OS images which default to Python3"
**What happened**:
Pick an OS image where python is python3 and the cluster will not come up.

**What you expected to happen**:
Cluster should come up.

**How to reproduce it (as minimally and precisely as possible)**:
Switch the default OS image to use an OS which has python3 as the default python.
Run cluster/kube-up.sh for GCE.

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2020-01-23 01:51] cheftako commented on #87482
/sig cloud-provider

[2020-01-23 01:51] cheftako commented on #87482
/assign @cheftako

[2020-01-23 01:59] liggitt commented on #87481
I also would not have expected a hang, but an immediate error

[2020-01-23 02:05] zetas commented on #72220
Same here. Just been banging my head against this for hours. It really should at least say on the json path kubectl docs that it isn't fully supported.

[2020-01-23 02:06] shawnweeks opened #87484 "Port Forwarding Does Not Work If App is Bound to Pod IP Address"
**What happened**:

`E0122 19:58:23.513876   17023 portforward.go:400] an error occurred forwarding 8080 -> 8080: error forwarding port 8080 to pod 718c10d29931044bc5eace4bb2eafc32c522e523e0fe12423996c84ae98156cb, uid : exit status 1: 2020/01/23 01:58:23 socat[38589] E connect(16, AF=2 127.0.0.1:8080, 16): Connection refused`

**What you expected to happen**:

Port forwarding to work and for me to

[2020-01-23 02:08] liggitt commented on #87472
fake client tries to simulate watches with reasonable fidelity, but the implementation is completely different than the real apiserver watch implementation, it would not surprise me if there are bugs or race conditions present in the fake client mock. are you only seeing this in informers used in combination with the fake client?

[2020-01-23 02:11] wu105 commented on #30603
/remove-lifecycle stale

[2020-01-23 02:15] liggitt commented on #87433
Something similar was proposed in https://github.com/kubernetes/kubernetes/issues/2204. As noted there, this could be accomplished out of tree with a binding-removing controller.

/priority awaiting-more-evidence

[2020-01-23 02:15] botjaeger commented on #87220
Please check my update

[2020-01-23 02:25] segevfiner commented on #84210
/remove-lifecycle stale

[2020-01-23 02:35] wmealing commented on #61937
released on:    2019-10-15

For reference:
https://access.redhat.com/errata/RHSA-2019:3055

[2020-01-23 02:38] andyzhangx commented on #87464
@jcrowthe do you mean we should revert this change?
cc @weinong @karataliu
currently it's only in k8s v1.17.1 release

[2020-01-23 02:43] justaugustus commented on #87468
/sig scalability
ping @kubernetes/sig-scalability-bugs @kubernetes/ci-signal

[2020-01-23 03:32] lyveng commented on #86944
We are also facing the same issue. The issue is caused by a race condition between the container GC goroutine and the pod sandbox creation goroutine. We can reproduce it by adding an artificial delay in the cni plugin's cmdAdd(which gets called as part of pod sandbox creation) so that the container GC goroutine gets invoked during the pod sandbox creation and deletes the pod sandbox that is being

[2020-01-23 03:38] jcrowthe commented on #87464
@andyzhangx To help in determining that, I'd suggest the following:
- This is a major functionality change which was introduced in a patch release. It would be more appropriate for such a change to be introduced in a major Kubernetes release version.
- This is a breaking change with high impact to both operations teams and end users of Kubernetes. Such a change should be introduced with a clear mi

[2020-01-23 03:53] rishimallik1 commented on #23273
same error for me too.Could anyone help me in sorting out this

[2020-01-23 03:55] #81773 closed

[2020-01-23 03:56] andyzhangx commented on #87464
@jcrowthe thanks, that's the case, if there is one AAD enabled cluster with both 1.17.0 and 1.17.1 agent nodes , there is no way to use one kubectl verison to operate on these two clusters.

[2020-01-23 04:06] andyzhangx commented on #87464
Since there is already a breaking change on 1.17.1, revert means the change can only be done in 1.17.2, that would make the situation more complex. I would suggest we add a doc:
[code]
Need to check whether this will break sth, e.g. upgrade AKS cluster from 1.17.0 to 1.17.1

[2020-01-23 04:37] #86292 closed

[2020-01-23 04:37] #82042 closed

[2020-01-23 04:38] #60463 closed

[2020-01-23 05:36] rezagh commented on #70147
This will not be easy/clean if the private registry is token based e.g. ECR.

[2020-01-23 05:56] ahoehma commented on #48575
this doesn't do anything

[2020-01-23 05:59] karataliu commented on #87464
it's not related to server side version, but apiserver configuration:
Current situation is
[code]

A workable fix should be allow multiple '--oidc-client-id' to be passed in, while the server switch to
[code]

[2020-01-23 06:29] BenTheElder commented on #58512
/remove-lifecycle rotten
(no `-` after `/remove-lifecycle`)
this is going to need a few things to be viable:
- ephemeral containers need to be stable, they're still alpha / not enabled by default
- someone probably needs to design this and write a KEP
- someone will need to follow through on implementing it

an alternative approach would be a kubectl plugin or plugins once at least the first point

[2020-01-23 07:00] jnaulty commented on #58007
/reopen
/remove-lifecycle rotten

[2020-01-23 07:34] haosdent commented on #71863
@ahg-g do we still need this?

[2020-01-23 07:44] skilxn-go commented on #87161
/cc

[2020-01-23 07:59] TBBle commented on #67761
Interestingly, we tried setting `--concurrent-resource-quota-syncs` to 1 to avoid this issue, and it apparently still happened as I posted above. We tried that based my understanding of on https://github.com/kubernetes/kubernetes/issues/67761#issuecomment-444061087 above.

[2020-01-23 08:03] pkaramol opened #87486 "CronJob creation fails when using AWS Secret Access key as config key"
**What happened**:

Creation of `CronJob` resource failed

**What you expected to happen**:

Creation of `CronJob` to succeed.

**How to reproduce it (as minimally and precisely as possible)**:

Try to apply the following resource

(the AWS credentials have been scrambled of course, but I think it is the presence of the `+` character causing the issue)

[code]

The process fails with the following

[2020-01-23 08:05] gdankov commented on #82234
/remove-lifecycle rotten

[2020-01-23 08:05] Fleuri commented on #72811
/remove-lifecycle rotten

[2020-01-23 08:06] pkaramol commented on #87486
/sig api-machinery

[2020-01-23 08:09] pkaramol commented on #87486
I can confirm that it is the `+` character breaking the above process.

[2020-01-23 08:25] sheerun commented on #70147
In this case cluster secret would be user/password, not a token.
Authenticating ECR isn’t easy in general

On Thu, 23 Jan 2020 at 06:36, Reza Ghafari <notifications@github.com> wrote:

[2020-01-23 08:47] skilxn-go commented on #87428
Hi @damemi , I have a little question about it.
What's the expectation of this feature gate? Do we just move this feature gate to GA, or totally remove this feature gate?

[2020-01-23 08:50] skilxn-go commented on #87428
And if we just move this feature to GA, do we need to Lock it to true?

[2020-01-23 08:55] pre commented on #66430
Was this issue created before the label selector `-l my=something` was available to `--prune` ?

Is there a reason why the label selector could not be used in this case?

[2020-01-23 08:58] marqc commented on #86485
Analyzing tcpdumps shows that kubelet receives notifications of ReadinessGate pod condition change to True from apiserver on pods watch. But does not change pods Ready status. Unfortunately kubelet logs does not provide usable information on processing pods changes from received on watch.

Any hint how to debug what is going on inside kubelet will be appreciated.

[2020-01-23 09:03] skilxn-go commented on #87428
So I send a pr with minimum modify. If there is anything wrong, please let me know, and I will fix it ASAP.

[2020-01-23 09:33] ipuustin commented on #87249
The second path would be the systemd cgroup. Systemd uses that for process tracking. It's not optional in kubelet: see https://github.com/kubernetes/kubernetes/blame/50fa183d51d92b6abd9e7d146f0d38aca59ea4b1/pkg/kubelet/cm/cgroup_manager_linux.go#L256

I would have thought that systemd in your node would have mounted the cgroup. It also wonder if the systemd check might be removed based on the firs

[2020-01-23 09:38] montanaflynn commented on #65502
I want this for adding a [fluentd](https://docs.fluentd.org/deployment/high-availability#network-topology) sidecar container alongside my web servers. The web servers will connect to fluentd upon startup and if it cannot connect exit. Right now I just get a bunch of restarts on the server, which isn't terrible but it does mess with our logging and shows restarts that shouldn't happen in my opinion

[2020-01-23 09:42] skilxn-go commented on #87159
Hi, sorry I didn't see this issue before, and create a same one  #87364.
So, I'm free recently, and I can help with this issue if you need. 😃

[2020-01-23 10:01] #81646 closed

[2020-01-23 10:17] arjunrn commented on #83878
I ran into this issue recently. Basically the assumption that the label selector on a `Deployment will select only pods from that target is not true. The `deployment-controller` relies on `ownerReference` to manage the pods and circumvents the issue where multiple deployment with the same label selector. However other controller which rely on the label selector will select pods of all the `Deploym

[2020-01-23 10:18] arjunrn commented on #83878
/assign @josephburnett

[2020-01-23 10:57] jkaniuk commented on #87468
Based on:
https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce-100-performance
I've calculated rough stats from last 2 days:
- 4 failed performance tests
- 15 problems with building or pushing kubernetes
- ~100 successful runs
- ~30 aborted presubmits

So only 25% of failures are related to actual tests.

Details:

build problem:
- https://prow.k8s.io/view/gcs/ku

[2020-01-23 10:57] jkaniuk commented on #87468
/assign

[2020-01-23 10:59] vickyvikas7988 opened #87490 "Do we have any option for adding egress rules in security group for the AWS Load Balancer?"
Do we have any option for adding egress rules in security group for the AWS Load Balancer (like classic load balancer)?

We have "loadBalancerSourceRanges" for the ingress rules and do we have any other option to add the egress rules for the security group?

[2020-01-23 11:02] adelina-t commented on #83739
/remove-lifecycle stale

This issue is still affecting K8s on Windows. It is being looked at.

[2020-01-23 11:21] achernev commented on #56934
I am having the same problem with Kubernetes 1.17.2. A pod with `hostNetwork: true` and `dnsPolicy: ClusterFirstWithHostNet` cannot reach the service net.

/reopen
/remove-lifecycle rotten

[2020-01-23 11:26] mblaschke commented on #87464
When you're running a shared cluster this situation is really bad. Many people/teams are now complaining not being able to login to the clusters anymore so they now have to keep multiple versions of kubectl which is breaking a lot of scripts.

Please create a migration path for companies which have to run multiple clusters in different versions or roll back the change.

[2020-01-23 11:26] satwant commented on #26375
Correct, Worked for me.

[2020-01-23 12:19] 928234269 commented on #81657
@palnabarun  I will pick up  pkg/util/coverage.

[2020-01-23 12:24] suvl opened #87491 "CEPHFS: File exists"
We're experiencing recurring problems with cephfs mounts on cronjobs. A lot of them result in the following kind of errors:
[code]
The volume is declared as
[code]
and the fact is that sometimes this works.

We've ruled out node issues (it works and fails on the same nodes), kubernetes versions (this problem holds in 1.14, 1.15 and 1.16) and ceph versions (holds for v12, v13 and v14). Also happens

[2020-01-23 12:26] suvl commented on #87491
/sig storage

[2020-01-23 12:49] vanyans commented on #48107
Hi. We are using NSX-T CNI.

[2020-01-23 13:07] 928234269 commented on #81657
@palnabarun I will pick up  vendor/k8s.io/apimachinery/pkg/api/resource

[2020-01-23 13:23] droslean commented on #86787
@andrewsykim @cheftako Can you please take a look?

[2020-01-23 13:25] liggitt commented on #87486
The key refers to the key in the `data` map of the referenced Secret object. `+` is not a valid character in that field.

/close

[2020-01-23 13:25] #87486 closed

[2020-01-23 13:28] liggitt commented on #65835
As noted in https://github.com/kubernetes/kubernetes/issues/65835#issuecomment-411399356, secrets are mounted as readonly. A mount location must be selected that will not cause problems if it is readonly, or subPath mounts can be used to inject particular files from a secret into an otherwise writeable directory

/close

[2020-01-23 13:28] #65835 closed

[2020-01-23 13:30] liggitt commented on #65835
Kubernetes does not automatically mount a secret to the /var/run/secrets directory, the issue occurs when a deployment attempts to mount a single secret directly to `/var/run/secrets` or `/run/secrets`, which turns that location read-only

[2020-01-23 13:43] jsafrane commented on #86281
From the attacher logs it seems that it took the CSI driver itself ~2 minutes to detach the volume:

[code]
The same for volume attachment:
[code]
There is very little that Kubernetes can do. Check with rook.

[2020-01-23 14:02] kvaps commented on #86281
@jsafrane volume attachment is working fine with **controller-manager v1.16.4** and very slow **controller-manager v1.17.0**, what the difference?

No, CSI driver is detaching volume almost immediately if do `kubectl delete volumeattachment` manually.
The same about the attaching, driver is handling new volumeattachment requests quite fast.

The problem is that controller-manager does not creating

[2020-01-23 14:16] aojea commented on #48107
I think that there can be multiple reasons, I can share what I did to find a problem with the portmap plugin holding the lock.

I just patched the kubelet https://github.com/kubernetes/kubernetes/pull/85727/commits/22665fc8dd93f5623c6a00af9b834f803eaf295a to log the pid of the process and monotir kube-proxy for the error message

One it find the message you dump the processes so you  can check "wh

[2020-01-23 14:30] vtereso commented on #87472
I am experiencing this in unit tests with the fake client, which is giving us test flakes. I couldn't say for sure whether this is happening with the regular client.

[2020-01-23 14:37] Joseph-Irving commented on #65502
You can track progress on this feature here https://github.com/kubernetes/enhancements/issues/753

[2020-01-23 14:37] shawnweeks commented on #87484
/sig networkin

[2020-01-23 14:37] vanyans commented on #48107
Thank you! I will try this.
When you say portmap plugin, are you referring to this one: https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap

[2020-01-23 14:40] dimm0 commented on #86281
@jsafrane Same here as what @kvaps wrote.

Also I found that it's not only for rook volumes, we also use CVMFS CSI driver from CERN, same thing. And in our cluster the problem appears when the number of volumes attached (or requested to attach) is in hundreds (CVMFS needs 5-6 volumes per pod attached, but it worked fine in 16.3)

[2020-01-23 14:42] AmazingTurtle commented on #81270
I can confirm

[code]

[2020-01-23 14:45] kvaps commented on #86281
I'm using Linstor not Rook

[2020-01-23 14:56] verb commented on #45922
Working on this for 1.18.

/remove-lifecycle stale

[2020-01-23 14:56] verb commented on #84359
working on this for 1.18

/remove-lifecycle stale

[2020-01-23 14:57] verb commented on #53188
Haven't scheduled work here yet, but this is still relevant.

/remove-lifecycle stale

[2020-01-23 14:59] yuzhiquan commented on #86944
@lyveng  Impressive！

[2020-01-23 15:19] vpickard commented on #86925
Kevin pushed these PRs to address this issue:

https://github.com/kubernetes/kubernetes/pull/87397
https://github.com/kubernetes/kubernetes/pull/87255
https://github.com/kubernetes/kubernetes/pull/84300

Ran the CPUManager test on GCE on 1/23/2020 with updated master. All tests pass! Thanks Kevin for the above PRs.

The test is still failing on the upstream CI. I believe it is because of preflight

[2020-01-23 15:21] vpickard commented on #86925
Snippet of successful test run on GCE:

<<snip>>

make test-e2e-node PARALLELISM=1 FOCUS="Feature:CPUManager" SKIP="" REMOTE=true

JUnit report was created: /tmp/node-e2e-20200123T095143/results/junit_test-cos-beta-80-12739-37-0_01.xml

Ran 1 of 316 Specs in 538.705 seconds
SUCCESS! -- 1 Passed | 0 Failed | 0 Pending | 315 Skipped
PASS

Ginkgo ran 1 suite in 8m59.485218177s
Test Suite Passed

Succ

[2020-01-23 15:26] liggitt commented on #82451
/cc @msau42

[2020-01-23 15:27] bboreham commented on #56934
This issue has an answer at https://github.com/kubernetes/kubernetes/issues/56934#issuecomment-350243730 that was accepted by the reporter.  If you are indeed having the same problem, you have an answer: you don't need to re-open.

If your problem is not exactly the same please click the "New issue" button.

[2020-01-23 15:27] oxddr commented on #87324
CoreDNS failed to respond to readiness probe (503 code was returned), so I
assume this it the former.

On Fri, Jan 17, 2020 at 5:46 PM chrisohaver <notifications@github.com>
wrote:

[2020-01-23 15:40] eladm26 commented on #75191
First time contributor, taking this one
/assign

[2020-01-23 15:51] dharmab commented on #87464
This isn't a feasible solution for users. As it stands, users using Azure AD OIDC have **no upgrade path from 1.17.0**.

- Users operating a single high-availability cluster will have a window where both 1.17.1 and 1.17.0 apiservers are running and either version of kubectl will randomly fail depending on which apiserver responds.
- For users operating a single cluster, asking thousands of clients

[2020-01-23 15:52] dharmab commented on #87464
/sig auth

[2020-01-23 15:52] dharmab commented on #87464
/sig cli

[2020-01-23 15:56] dharmab commented on #87464
Note that this change also invalidates the [kubectl version skew policy](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubelet)

i.e. 1.17.X clusters must support kubelet 1.15.X and 1.16.X. So the OIDC change would have to support a total of three minor versions, instead of a single patch version as it stands.

[2020-01-23 16:04] oliverisaac commented on #24657
I needed to solve the same problem and was able to do so using the below daemonset. This daemonset adds an iptables rule to every node which causes all traffic sent to the Magic IP `192.168.168.168` to be re-routed back onto the node. I then exposed the node-local agent (apm-server in my case) as a NodePort and my clients can talk to their sibling DaemonSet pod/agent (running on the same node) by

[2020-01-23 16:09] dims commented on #87420
/area code-organization

option #1 looks like this
- https://github.com/kubernetes/kubernetes/pull/87493
- https://github.com/kubernetes/cri-api/pull/3

[2020-01-23 16:19] alculquicondor commented on #87159
Well, as you can see, we have 2 blockers for this around the framework interfaces.
So we would need to work on the changes to the KEP first. We can always leave Preemption (see open PR) for later, but there is not much point on only moving `Score` and `Bind`.

[2020-01-23 16:25] skilxn-go commented on #87159
Yep, but I think filter, bind, and score can be implemented with scheduler plugin now. And the preempt KEP seems will not be implemented in short term.
As discussed in #87364 , I think maybe implement them first will be a good start.

[2020-01-23 16:27] skilxn-go commented on #87159
Our implementation will not change alot even with the possible change of postFilter interface.

[2020-01-23 16:27] neolit123 commented on #87402
the way to manage the HA etcd cluster after it is deployed is using the `etcdctl` tool from a container.

the etcdctl documentation is here:
https://github.com/etcd-io/etcd/tree/master/etcdctl

the kubeadm HA etcd docs already give an example about that under "Optional: Check the cluster health"

[code]

this assumes you have `k8s.gcr.io/etcd:${ETCD_TAG}` downloaded on the host.

i don't see an is

[2020-01-23 16:27] #87402 closed

[2020-01-23 16:34] prksu opened #87496 "[Flaky Test] kubeadm-kinder-master (ci-kubernetes-e2e-kubeadm-kinder-master)"
**Which jobs are flaking**:

`kubeadm-kinder-master (ci-kubernetes-e2e-kubeadm-kinder-master)`

**Which test(s) are flaking**:

`task-02-create-cluster`

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master

**Reason for failure**:

[code]

**Anything else we need to know**:
- https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes

[2020-01-23 16:38] droslean commented on #87496
It seems that it failed only once with the specific error. I don't consider this job as a flaky one. Let's try to observe it in the next days.

[2020-01-23 16:47] ejweber commented on #75191
@eladm26, you are, of course, welcome to work on this issue. However, I wanted to let you know that I made code changes back in November that (I believe) address my previous comments. I only received approval from my employer in the last couple of days to make the contributions, or I would have submitted them already. I plan to clean things up and get a PR in sometime this afternoon.

I am also a

[2020-01-23 16:51] mikedanese commented on #70679
Thanks for writing this up. This approach can probably be implemented entirely inside the kube-apiserver.

I'm happy to tackle this portion of the problem independently but we'll need a decision on what to do about file permissions as well before we can turn this on by default.

[2020-01-23 16:57] droslean opened #87497 "[Stale Job] kind-ipv6-master-parallel (ci-kubernetes-kind-ipv6-e2e-parallel)"
Job kind-ipv6-master-parallel (ci-kubernetes-kind-ipv6-e2e-parallel) stuck in progress since the 6th of Jan 2020.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel

**Prow link**:
https://prow.k8s.io/?job=ci-kubernetes-kind-ipv6-e2e-parallel

**Anything else we need to know**:
/sig testing
/cc @BenTheElder
/cc @kubernetes/ci-signal
/milestone v1.18
/

[2020-01-23 17:01] eladm26 commented on #75191
No problem at all dude.
You take this one since you already made the changes.

On Thu, 23 Jan 2020 at 18:47 Eric Weber <notifications@github.com> wrote:

[2020-01-23 17:03] elrok123 commented on #51835
FYI I resolved this with a force delete using:

[code]

And I believe this successfully managed to terminate the pod. Since then I have not experienced the issue again. I have possibly updated since then, so could be a version issue, but not 100% since it's been so long since I've seen the issue.

[2020-01-23 17:14] oomichi commented on #78613
https://github.com/kubernetes/enhancements/pull/1332 is done, so this issue becomes unnecessary today.

/close

[2020-01-23 17:18] liggitt commented on #78613
That is not done, the proposal has just been merged.

/reopen

[2020-01-23 17:18] ahmadnurus commented on #87496
@droslean after digging this issue, seems this flaky already opened in kubernetes/kubeadm#1918. should we close this one?

[2020-01-23 17:21] julianvmodesto commented on #84530
To re-summarize the current solution for this issue:
- add the field `includeSubresources` to `MutatingWebhookConfiguration` and `ValidatingWebhookConfiguration` to call the webhook on subresources
- where we call webhooks twice, call them in the following order: `Mutating(/x/scale) -------> Mutating(/x) -----> Validating(/x/scale) + Validating(/x)`

Decide:
- Do we fail a webhook on a subresource

[2020-01-23 17:21] prksu commented on #87496
@droslean after digging this issue seems this flaky already opened in https://github.com/kubernetes/kubeadm/issues/1918. should we close this one?

[2020-01-23 18:15] spiffxp commented on #87441
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=gce%24&test=Stage

Still seeing flakes, so I don't think just bumping memory request helped.

---

@BenTheElder

ref: https://github.com/kubernetes/test-infra/pull/15980#issuecomment-576932189

This happened via https://github.com/kubernetes/test-infra/pull/12140 around 2019-04-11
- https://storage.googleapis.com/k8s-gubernat

[2020-01-23 18:17] BenTheElder commented on #87441
Idea 3: switch build modes and see how expensive / flaky that is. Including:
- use RBE
- use the dockerized build instead

[2020-01-23 18:27] aojea commented on #48107
yeah, that one
This is the issue explaining the problem
https://github.com/containernetworking/plugins/issues/418

[2020-01-23 18:30] lavalamp commented on #84530
Option 1: silently drop such changes; if that would leave the object in an inconsistent or bad state, a validating webhook can fail the entire operation.
Option 2: fail any mutating webhook attempting to modify fields not included in the subresource.
Option 3: permit such changes when done by webhooks, even though the subresource caller can't make them.

Option 1 and 2 both have the con that user

[2020-01-23 18:55] alculquicondor commented on #87159
There are 2 problems with using the Filter endpoint:

- it doesn't match the format of the extenders (they accept a list of nodes)
- we can't guarantee that extenders would run after all the other filters, which is the current behavior we should preserve.

[2020-01-23 18:57] liggitt commented on #84530
Option 1:
* does the least violence to the REST handling stack
* is the most consistent with current behavior and expectations
* is nicest for the end user

Option 2:
* requires plumbing knowledge about which fields are not writeable via which endpoints (currently held in each REST strategy) to the admission webhook (not just for subresources... a similar issue exists if an admission webhook tries

[2020-01-23 19:00] weinong commented on #87464
sorry about that my change caused such problem. originally i thought a configuration change is an acceptable migration path. I will submit PR to revert it.

[2020-01-23 19:00] lavalamp commented on #84530
Let me modify option 3-- the status/spec distinction is solid enough that it should probably always be handled via option 1 or 2; no existing webhook should be attempting to set both.

I had in mind things like /scale, not status, for option 3.

[2020-01-23 19:00] BenTheElder commented on #87497
/assign

[2020-01-23 19:02] lavalamp commented on #84530
Since this is still in the beta period and we have plenty to do, I will vote for option 1 for the purpose of expediency. Option 2 and 3 will be more work, therefore we should wait until we have evidence that option 1 isn't sufficient.

[2020-01-23 19:08] weinong commented on #87464
another thought:
* revert the change in #86412 and keep the azure auth module as before
* add `azure2` auth module which supports new oidc behavior

thoughts? this would prevent breaking change and allow new scenario to be enabled immediately

[2020-01-23 19:09] #81942 closed

[2020-01-23 19:10] BenTheElder commented on #87497
deleted the stuck prowjob, new job triggered with current config.

[2020-01-23 19:10] BenTheElder commented on #87497
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1220423385759092739/
/close

[2020-01-23 19:10] #87497 closed

[2020-01-23 19:20] marosset commented on #87339
@PatrickLang should we include 1903 too?

[2020-01-23 19:21] weinong commented on #87464
@karataliu I'm not sure if proposed `'--oidc-client-id=spn:<guid>,<guid>'` is helpful or not. As indicated in the comments, people would need to update their clusters as soon as kubectl is updated. That's not much different than what currently is right now. Right?

[2020-01-23 19:39] tallclair commented on #83465
/remove-lifecycle stale

[2020-01-23 19:44] tallclair commented on #84165
OK, that makes sense. I'm convinced this (and https://github.com/kubernetes/kubernetes/issues/87252) would be useful.

[2020-01-23 20:10] walterdolce commented on #87454
Someone already spotted it. Thanks for the redirection @liggitt

[2020-01-23 20:10] #87454 closed

[2020-01-23 20:32] dharmab commented on #87464
While this migration path is also technically out of compliance with the kubectl version skew policy, it is at least technically possible if users upgrade apiserver prior to upgrading kubectl.

The separate auth module for AAD v2 is an interesting thought. Is it possible for an apiserver to use multiple auth modules simultaneously? If both auth modules could be accepted at the same time, there wou

[2020-01-23 20:53] ktrOpenSource commented on #53777
Can resource quota be used to apply Hard limits on number of objects - across the cluster - irrespective of namespace.

Eg: Can I say max 10k objects of CRD type "example.com/toys" across namespace a,b,c,d,e ?

[2020-01-23 20:53] neolit123 commented on #87496
we don't know how to solve https://github.com/kubernetes/kubeadm/issues/1918
i'm suspecting a `docker cp` bug.

i suggest you close this issue and watch https://github.com/kubernetes/kubeadm/issues/1918

[2020-01-23 20:55] neolit123 commented on #87496
i will include the node-settings in there too.

[2020-01-23 20:55] yliaog commented on #53777
that is not supported today

[2020-01-23 21:14] fedebongio commented on #87444
/remove-sig api-machinery
/sig cli

[2020-01-23 21:15] fedebongio commented on #87444
/assign @seans3

[2020-01-23 21:17] fedebongio commented on #87472
/cc @caesarxuchao @jpbetz

[2020-01-23 21:19] fedebongio commented on #87477
/assign @jktomer

[2020-01-23 21:21] demisx commented on #41881
IMHO, this is should be reopened. We need support at least for listing multiple hosts or specifying glob-like wildcards, if regex is not feasible.

[2020-01-23 21:29] andrewsykim commented on #87318
/remove-triage unresolved

[2020-01-23 21:29] andrewsykim commented on #87263
/remove-triage unresolved

[2020-01-23 21:30] eladm26 commented on #86436
/assign

[2020-01-23 21:33] dims commented on #67721
/reopen

[2020-01-23 21:37] caesarxuchao commented on #87473
@tedyu I checked the timeline, GC had ~7 seconds to delete the dependent.

**apiserver log**

I0122 00:25:17.212776       1 httplog.go:90] verb="DELETE" URI="/apis/mygroup.example.com/v1beta1/foo8hxrkas/ownerg6bb4" latency=298.740317ms resp=200 UserAgent="e2e.test/v0.0.0 (linux/amd64) kubernetes/$Format -- [sig-api-machinery] Garbage collector should support cascading deletion of custom resources"

[2020-01-23 21:39] tedyu commented on #87473
Logs which would give us clue are at level 5.

I have run gce-e2e a few times but this test passed in those runs.

[2020-01-23 21:41] markyjackson-taulia commented on #73084
@yujuhong Is this issue ok to close? All associated work look completed

[2020-01-23 21:49] deitch commented on #41881
/reopen

[2020-01-23 21:52] weinong commented on #87464
This is technically not true. As people have commented here, there will be a window of time where older kubectl is unable to talk to api-server with newer configuration.

I think it's possible. we will need to 1) implement two auth modules in kubectl, and 2) enable multiple `--oidc-client-id` in api server like what @karataliu proposed. 3) migrate kubeconfig to use new auth module.

[2020-01-23 22:11] spiffxp commented on #87441
I opened https://github.com/kubernetes/test-infra/pull/16004 to try and constrain the JVM's memory.  Jobs that use RBE behave the same way, so try doing the same to them for comparison's sake.

[2020-01-23 22:18] weinong commented on #87464
@dharmab does that sound like a plausible path? Should I just open issues to track these tasks while I'm preparing to revert?

[2020-01-23 22:35] mmiara commented on #87402
This displays info but does not explain OPERATING the cluster (restore, backup, upgrade, etc.)

[2020-01-23 22:41] davidz627 commented on #84169
In `v2.1.0` of the `external-attacher` I implemented a check that will actually reconcile backend volume attach state with the expected state in the `VolumeAttachment` object.

I considered removing the csi `VerifyVolumesAttached` check in the in-tree plugin entirely but it continues to serve one purpose of recreating the `VolumeAttachment` object itself if it was accidentally deleted. It's open f

[2020-01-23 22:42] davidz627 commented on #77237
resolved with `CSIMigrationComplete` flags

[2020-01-23 22:42] #77237 closed

[2020-01-23 22:51] neolit123 commented on #87402
while the document https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/ uses kubeadm to create the members, after that kubeadm has no role in managing the external etcd cluster. all operations are manual and should be performed by the operator.

to upgrade each etcd member this is the process you can follow:
- backup /var/lib/etcd
- edit /etc/kubernetes/manifests to change t

[2020-01-23 23:18] tedyu commented on #76718
/remove-lifecycle stale

[2020-01-23 23:18] #81683 closed

[2020-01-23 23:18] tedyu commented on #76718
@freehan
See PR #76737

[2020-01-23 23:22] rhockenbury commented on #87339
1903 will definitely be needed by end users running clusters with windows server 1903 nodes, even if it's not required for any of the test suites.

[2020-01-23 23:40] skilxn-go commented on #87159
We can use postfilter point, not filter.

[2020-01-23 23:41] Elgarni commented on #77666
@liggitt @juanvallejo any thoughts on this? I'm thinking to open a PR to further discuss this with more details.

[2020-01-23 23:46] yliaog commented on #87389
it's flaky, no test is consistently failing.

[2020-01-23 23:48] yliaog commented on #87389
the one test below fails the most lately, but it also passes sometimes.
[k8s.io] [sig-node] Pods Extended [k8s.io] Delete Grace Period should be submitted and removed [Conformance]

[2020-01-24 00:02] liggitt commented on #77666
I don't see anything to counter the points raised earlier. Opaque pass through of options to kubectl plugins is a fundamental part of the current design, and I'm not eager to trade that for ambiguous relocation of flags and associated arguments.

[2020-01-24 00:06] jcrowthe commented on #87464
@weinong We've identified a lot of use cases here, each with differing requirements. I believe to entirely remove impact, it's a requirement for _both_ a server-side solution and a client-side solution to be provided.

Of these two sides -- client and server -- a solution in one means that the "other doesn't need to change". ie. If we change the apiserver to support multiple ID's, no clients will

[2020-01-24 00:22] Elgarni commented on #77666
I see your point. Can't we though have both? Here is how I see the problem.
[code]
The `beforeOptions` should be one of kubectl global options. Then the whole command should be perceived as follows:
[code]
Moving forward with this implementation, I don't see any conflict with the [plugin design](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/0024-kubectl-plugins.md)

What do y

[2020-01-24 00:23] weinong commented on #87464
@jcrowthe I was referring to this paragraph. this is aligned to your thought: we need both server side and client side change to have proper migration

[2020-01-24 00:32] mihyonq commented on #79523
+1

[2020-01-24 00:39] travisghansen opened #87506 "node Event missing apiVersion in the involvedObject"
**What happened**:

I'm attempting to use an `Events` watcher to better re-act to cluster modifications. I've received the below event:

[code]

**What you expected to happen**:

I would expect the `involvedObject` to include `apiVersion` attribute. Not sure if it's all node events or just this particular one.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we n

[2020-01-24 00:40] travisghansen commented on #87506
/sig api-machinery

[2020-01-24 00:41] neolit123 commented on #73108
in august 2019 we had security audit (by humans) sponsored by the CNCF:
https://github.com/kubernetes/kubernetes/issues/81146

AFAIK these are going to happen occasionally.

in the meantime this feels like something that:
/wg security-audit
should comment on. they also have a slack channel `#wg-security-audit`.

i'm going to unassign myself as i clear don't have the bandwidth to tackle the feature

[2020-01-24 00:46] travisghansen commented on #87506
Just got another from kubelet..

[code]

[2020-01-24 00:53] neolit123 commented on #83929
/close

@Davidrjx please reopen if needed.

[2020-01-24 00:53] #83929 closed

[2020-01-24 01:00] neolit123 commented on #87496
given this is not failing consistently i'm dropping the priority
/remove-priority critical-urgent
/priority important-longterm
/sig cluster-lifecycle

but you might as well:

[2020-01-24 01:01] msau42 commented on #83129
/remove-lifecycle rotten
cc @jingxu97

[2020-01-24 01:07] cheftako commented on #87481
I believe the internal error is due to it defaulting to port 8080. Nothing is listening on that port.
This used to work but I would guess it stopped working when we stopped listening on the insecure port.

[2020-01-24 01:15] liggitt commented on #77666
Given the following plugins:
[code]
and the invocation
[code]
which of the following should be invoked?
[code]

Given that kubectl plugins are not required to handle all kubectl global options, and the ambiguity introduced by trying to relocate flags and associated values in the invocation, this doesn't seem like a good idea.

[2020-01-24 01:24] liggitt commented on #87481
https://github.com/kubernetes/kubernetes/pull/75368#issuecomment-577953647 changed behavior of client-go on connection refused errors, which changed a short wait and an "invalid host/port" error into a long retry wait and a confusing "internal server" error

/assign @deads2k @mfojtik

[2020-01-24 01:25] liggitt commented on #87481
@cheftako if kubectl is intended to work automatically against the local API server, then a kubeconfig file should be set up, but the 30 second delay and incorrect error are a bug that should be fixed in client-go

/sig api-machinery

[2020-01-24 01:26] liggitt opened #87510 "connection refused errors retry slowly and ultimately return incorrect error"
/kind bug

https://github.com/kubernetes/kubernetes/pull/75368#issuecomment-577953647 changed behavior of client-go on connection refused errors, which changed a short wait and an "invalid host/port" error into a long retry wait and a confusing "internal server" error

/assign @deads2k @mfojtik

_Originally posted by @liggitt in https://github.com/kubernetes/kubernetes/issues/87481#issuecomment-57

[2020-01-24 01:26] liggitt commented on #87510
/sig api-machinery

[2020-01-24 01:26] liggitt commented on #87510
/milestone v1.18

[2020-01-24 01:27] liggitt commented on #87481
/remove-sig api-machinery
/unassign @deads2k @mfojtik

actually, moved the client-go issue to https://github.com/kubernetes/kubernetes/issues/87510

will keep this one for the GCE $KUBECONFIG resolution

[2020-01-24 01:33] Elgarni commented on #77666
Let me clarify. The issue is not about handling global options _anywhere_, but rather handling only global options that come before the plugin command.

In the implementation [here]():
[code]
The execution stops once it sees a dash. So a simple `kubectl -n somespace foo` will not work, while there is no reason why it should not work.

is my concern clear to you?

[2020-01-24 01:36] liggitt commented on #77666
As described in https://github.com/juanvallejo/kubernetes/pull/9#discussion_r191944024 and https://github.com/juanvallejo/kubernetes/pull/9#discussion_r192124982, we don't have sufficient information to know if we should handle all flags and values as if they matched kubectl global flags, in order to relocate them after the plugin command

[2020-01-24 01:38] cheftako commented on #87481
I agree that seems like the right fix.

[2020-01-24 01:40] liggitt commented on #87481
I'm not sure this belong to sig-cli... looks like https://github.com/kubernetes/kubernetes/pull/76792 made this change
/sig cluster-lifecycle
/cc @dekkagaijin

[2020-01-24 01:51] liggitt commented on #87464
/sig windows

[2020-01-24 01:56] liggitt commented on #87464
The first priority should be to restore compatibility with existing releases. I would expect the breaking change to be reverted on 1.15/1.16/1.17 branches.

[2020-01-24 01:58] liggitt commented on #87464
/assign @andyzhangx @feiskyer

[2020-01-24 02:02] Elgarni commented on #77666
I am not sure exactly what you mean by sufficient information, can you elaborate a bit on that?

I see three scenarios:

&1:
[code]
This should work.

&2:
[code]
This should work too.

&3:
[code]
This should fail: `Error: unknown flag: --madeupflag`

are there other scenarios that could be confusing to decide on?

[2020-01-24 02:03] liggitt commented on #87506
/remove-sig api-machinery
/sig node

[2020-01-24 02:04] liggitt commented on #87506
recording code is here:

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/util/node/controller_utils.go#L159-L183

[2020-01-24 02:06] liggitt commented on #77666
yes, the one mentioned in https://github.com/kubernetes/kubernetes/issues/77666#issuecomment-577951716

[2020-01-24 02:14] weinong commented on #87464
@liggitt yes. will cherry pick once it's merged. thank you!

[2020-01-24 02:26] Elgarni commented on #77666
Well, the current implementation combines non-flag args to form the list of plugin names to search. The enhancement I am thinking to add is, read the args from left to right. If a flag is known (.e.g a kubectl global option) then we know how to interpret it. Then we go to the next. If we encounter a flag that is not known, we can stop and raise a failure, since we don't know how it should be proce

[2020-01-24 02:44] gavinfish commented on #81803
I think issue should be fixed by #87265.

[2020-01-24 03:10] liggitt commented on #86312
runc rc10 is cut. containerd and docker are up next?

[2020-01-24 03:29] BenTheElder commented on #86312
https://github.com/containerd/containerd/pull/3973

On Thu, Jan 23, 2020, 19:10 Jordan Liggitt <notifications@github.com> wrote:

[2020-01-24 05:38] skilxn-go commented on #87159
As I say in my issue:
extender.Filter -> scheduler framework.PostFilter
extender.Bind -> scheduler framework.Bind
extender.Priority -> scheduler framework.Score

[2020-01-24 06:03] fujitatomoya commented on #86539
@ipuustin

i have been through the documents, i see it is well considered and defined, appreciate it.

since we are with Sony, we have edge devices / robotics use cases, so that maybe it is better to sync up what we are trying to do once in a while. if any online discussion is there, i would like to participate in that.

[2020-01-24 07:41] prksu commented on #87496
thanks, @neolit123
will put eyes on https://github.com/kubernetes/kubeadm/issues/1918 and closing this one

/close

[2020-01-24 07:41] #87496 closed

[2020-01-24 09:21] aermakov-zalando commented on #77666
@liggitt The design results in pretty bad UX, though, with the plugins effectively unable to work like first-class commands.

In https://github.com/kubernetes/kubernetes/issues/77666#issuecomment-577951716, I think that `kubectl-foo-bar` is the only logical choice. Removing an argument shouldn't suddenly change the command that will be executed, and built-in `kubectl` commands support passing the

[2020-01-24 09:23] #81981 closed

[2020-01-24 09:27] kireledan commented on #77557
@arangamani
I wasnt able to replicate this in the following version branches either.

` Version: v1.17`
` Version: v1.16`
` Version: v1.15`
` Version: v.1.14`

[2020-01-24 11:03] #87482 closed

[2020-01-24 11:16] serathius commented on #85544
Please look at still ongoing effort on Events API v2, which migration is still ongoing. https://github.com/kubernetes/enhancements/issues/383
I looked through design doc and found interesting note that "Events are supposed to be consumed only by humans.". If this would change we should prepare a good argument on it.

Changing events would require a lot of work through whole k8s repository. Similar

[2020-01-24 11:16] serathius commented on #85544
/cc @wojtek-t @mm4tt

[2020-01-24 11:25] #70421 closed

[2020-01-24 11:38] akuscu-smartpulse commented on #69774
Same issue here.It finishes its work bu its still is stuck in Running state and the new job is not starting.

[2020-01-24 11:53] itsecforu commented on #85818
Did u solve it?

[2020-01-24 12:29] scottlackey commented on #73297
On version 1.15 I'm still getting `* spec.ports[1].protocol: Unsupported value: "TLS": supported values: "SCTP", "TCP", "UDP"`

[code]

[2020-01-24 13:22] mm4tt commented on #83375
@jprzychodzen has taken it over and is actively working on this.
Unfortunately, I cannot assign this issue to him as he's not a k8s member yet

[2020-01-24 13:33] tanjunchen commented on #87184
Agree

[2020-01-24 13:46] bayucandra commented on #52173
@micahhausler , is NLB on Kubernetes support annotation `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"`? Because, when I have it then checking at my NLB attributes, I can't see proxy protocol enabled. Looks like I have to enable it manually. That annotation works well with ELB tough.

[2020-01-24 13:46] tomkerkhove commented on #85544
I think it's an interesting find as it shows that the current eventing API is valuable but just needs a bit more structure around it.

However, "Events are supposed to be consumed only by humans." is a bridge too far where machines will still process them as well, but I think the point is more that now it's a firehose which is not ideal for humans.

[2020-01-24 13:47] tomkerkhove commented on #85544
It depends how you approach it I think. If you provide the current eventing API next to a newer one you can very easily run them side by side and slowly support newer events on the new approach.

By doing that you don't do big bang changes and you'll hear from the community which events are most important and it's up to the SIG then to provide them

[2020-01-24 13:53] VGerris commented on #23562
True. Options are for on-premise:
 - https://metallb.universe.tf/ to implement the loadbalancer
 - use NodePort instead of LoadBalancer which will expose it to a port on the cluster ip
 - use the externalIPs option like so (where the IP is the cluster main ip for eth0 for example):
  type: LoadBalancer
  externalIPs:
    - 10.12.11.30

[2020-01-24 14:01] skilxn-go commented on #87159
I can send a pr which implement extender.Filter with framework.PostFilter, if you are not doing the same work. 🌵

[2020-01-24 14:08] Aracki commented on #81270
Just a little hack until this is fixed:
`kubectl top pod --all-namespaces | sort --reverse --key 4 --numeric`

[2020-01-24 14:28] #76539 closed

[2020-01-24 14:33] ahg-g opened #87521 "Skip default spreading scoring plugin for pods that define TopologySpreadConstraints"
Currently the scheduler by default spreads the pods of a deployment based on a hard-coded [criteria](https://github.com/kubernetes/kubernetes/blob/90da466221c14e76b4509ddc310e7a7bd4e0039c/pkg/scheduler/framework/plugins/defaultpodtopologyspread/default_pod_topology_spread.go#L73).

We recently added a pod object api (pod.Spec.TopologySpreadConstraints) that allows specifying spread behavior at the

[2020-01-24 14:37] skilxn-go commented on #87521
I can fix this behavior, can you assign it to me?

[2020-01-24 14:38] superseb commented on #83679
I see the same result on the test above on v1.17.2

[code]

[2020-01-24 14:40] ahg-g commented on #87521
/assign @skilxn-go

sure, lets wait for feedback first.

[2020-01-24 14:40] skilxn-go commented on #87521
sure

[2020-01-24 15:00] alculquicondor commented on #87159
PostFilter doesn't return a list of Nodes, which wouldn't allow to implement extenders' filters.

[2020-01-24 15:01] detiber commented on #78995
/lifecycle frozen

[2020-01-24 15:04] zonArt commented on #67261
Thank you soooooo much for this !!!

[2020-01-24 15:05] skilxn-go commented on #87159
Why do you care about the return value of PostFilter?
We can wrap extender.Filter verb into a PostFilter, and use the extender.Filter's return value to modify the `filteredNodesStatuses` that used in PostFilter.
Please let me know if I'm making some mistakes.

[2020-01-24 15:07] alculquicondor opened #87523 "Scheduler Framework: Rename `PostFilter` to `PreScore`"
Our current plugins use the `PostFilter` score to do pre-processing for `Score`. It makes more sense for the endpoint to be renamed to `PreScore`. We can do so as we move to `v1alpha2` for the Component Config API (#85737). `PreScore` would no longer need to accept `NodeToStatusMap`.

This opens the possibility of more easily adding a *new* `PostFilter` endpoint which would accept and return a lis

[2020-01-24 15:09] skilxn-go commented on #87523
/cc

[2020-01-24 15:09] Chest1 commented on #85737
Don't merge

[2020-01-24 15:15] alculquicondor commented on #87521
I agree. Having the default spreading run would just water down the score given by the constraints.

Other than that, this would just be a temporary fix until #80639 is finalized

[2020-01-24 15:20] ahg-g opened #87524 "Add logging to scheduler's event handlers"
This helps debugging scheduler's behavior, currently we don't have logs that indicate when the scheduler first saw a pod or a node. The log level should be v=3.

/sig scheduling
/cc @Huang-Wei @alculquicondor

[2020-01-24 15:20] Chest1 commented on #85737
//cc

[2020-01-24 15:24] skilxn-go commented on #87524
Do you mean add logging for callbacks in
`pkg/scheduler/eventhandlers.go`?

[2020-01-24 15:25] ahg-g commented on #87524
yes, at least for add and delete events

[2020-01-24 15:26] skilxn-go commented on #87524
Sure, I can also give this pr, before tomorrow

[2020-01-24 15:27] ahg-g commented on #87524
/assign @skilxn-go

[2020-01-24 15:28] tedyu commented on #87184
@tanjunchen
Are you going to send a PR ?

thanks

[2020-01-24 15:30] alculquicondor commented on #87159
That would be a hack and undocumented behavior (https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#post-filter). Also, we only use the statues for reporting, not to proceed with scheduling.

We should, in fact, be creating a copy of that map before passing it to the plugins, which we haven't done.

[2020-01-24 15:33] skilxn-go commented on #87159
Yep, you are right. I just think the doc is out-dated and the interface support not only reporting, but also filtering works before.
I agree that modify the `filteredNodesStatuses` is somehow hack. A more clear interface or a new filter point will make it semantically clear.

[2020-01-24 15:37] neolit123 commented on #84922
similarly to kubelet, kubeadm already has feature gates both on the CLI and ClusterConfiguration:
IIRC, CLI feature gates are merged with ClusterConfigugration feature gates, but take precedence.

it feels the safest route is to phase out the CLI feature gates at some point.

[2020-01-24 15:41] skilxn-go commented on #87523
As I discussed with @Huang-Wei in slack before. If PostFilter is going to keep as an reporting point, can we add a new point like batch-filter? Which accept a list of nodes and returns a list of filtered nodes.
It's useful when we want to do some rpc-calls in filter plugin because we can send all nodes to a remote components in one HTTP request instead of one-by-one using filter-plugin, which is e

[2020-01-24 15:48] alculquicondor commented on #87524
3 would be the most appropriate level.

[2020-01-24 15:50] superdave commented on #53533
I'd be happy to start looking into this when I have time, which is in short supply right now, but it would be good to have a canonical case or two which exacerbate the problem so it can be more fully characterized (beyond "it starts thrashing and everything goes to hell") and the ultimate approach and fix validated.

[2020-01-24 15:53] superdave commented on #53533
Any prospective solution should also consider the security implications of swap. This, obviously, is true of anything running in a Unix environment, but if folks have gotten used to running k8s pods with a pseudo-guarantee of no swap and gotten lazy about memory discipline, this could be a pretty rude surprise if it's enabled by default.

[2020-01-24 15:53] alculquicondor commented on #87524
We actually have one v=2 log line for a Node being added to the cache's tree:

https://github.com/kubernetes/kubernetes/blob/63d7733e988776355306e21947c43cb2f4fb8896/pkg/scheduler/internal/cache/node_tree.go#L86

But it's probably good to keep this one.

[2020-01-24 15:56] alculquicondor commented on #84922
@zouyee could you include this in your PR?

[2020-01-24 15:59] ahg-g opened #87526 "Deprecate AlgorithmSource from scheduler ComponentConfig"
AlgorithmSource was meant to be a bridge to allow specifying a Policy file in ComponentConfig. Now that all Policy configuration is available through ComponentConfig directly, AlgorithmSource is not needed. This is the first step towards deprecating scheduler Policy file.

/assign @alculquicondor
/cc @ravisantoshgudimetla @Huang-Wei @damemi

/sig scheduling

[2020-01-24 15:59] tanjunchen commented on #87184
Sure

[2020-01-24 16:06] alculquicondor commented on #87526
If agreed, we can do this as part of https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20200114-multi-scheduling-profiles.md, which is adding v1alpha2

Ref #85737

[2020-01-24 17:01] johnbelamaric commented on #85544
If we change "Events are supposed to be consumed only by humans", then events become part of the API surface and become subject to API review and deprecation policies. @liggitt

[2020-01-24 17:03] micahhausler commented on #52173
@bayucandra That isn't yet supported. See #57250

[2020-01-24 17:18] davidxjohnson commented on #73297
The current values for the annotation are thus (according to the k8s documentation):
`service.beta.kubernetes.io/aws-load-balancer-backend-protocol (http|https|ssl|tcp)`

I recall in the back-channel conversations for this feature that `ssl` was going to be used in the annotation, even though the NLB itself uses the value `TLS`. I recall that there was no desire to create a new value for the annot

[2020-01-24 17:22] liggitt commented on #86312
As I understand it, this is what we need to get the fix into our CI environments:

Containerd stream (for kind):
- [ ] https://github.com/containerd/cri/pull/1383
- [ ] https://github.com/containerd/containerd/pull/3973
- [ ] containerd release
- [ ] k8s CI pickup new containerd release

Docker stream (for GCE / kube-up):
- [ ] https://github.com/containerd/cri/pull/1383
- [ ] https://github.com/c

[2020-01-24 17:35] inoam commented on #87288
@liggitt :

1. Could you please elaborate what is the tag you added?
2. Is there any information I can add here?

[2020-01-24 17:35] liggitt commented on #77666
That is exactly the problem. We don't know how `kubectl-foo` treats the `--namespace` flag, so we can't assume the token following `--namespace` on the command line should be consumed as part of consuming that flag.

[2020-01-24 17:35] TeoGoddet opened #87530 "Consider allowing DNS-1123 labels for service names"
**What would you like to be added**:

Services names are restricted to DNS-1035 labels (no leading digit).
Most other API Objects have names that are DNS-1123 labels (allowed leading digit).

Can we change service names to DNS-1123 labels ?
If we do this, we will need to handle leading digits in env-vars. Maybe a prefixed underscore?

See #3752

**Why is this needed**:
Unification of names validat

[2020-01-24 17:37] liggitt commented on #87288
That tag is added to feature requests that have not yet been accepted by the owning sig, usually due to insufficient evidence that the use cases it would solve are high enough priority or apply broadly to many uses. If you want this to make progress, I would recommend engaging with sig-node to get feedback on the idea, and participate in proposing the idea officially in a [Kubernetes Enhancement P

[2020-01-24 17:41] TeoGoddet commented on #87530
/sig sig/api-machinery

[2020-01-24 17:57] MikeSpreitzer commented on #79805
I still think this is a good idea.

/remove-lifecycle rotten
/reopen

[2020-01-24 18:19] skonjarla commented on #79523
+1

[2020-01-24 18:36] BenTheElder commented on #86312
KIND won't actually need a containerd release, just a build of the commit with updated runc.

Additionally though: per discussion we've noted that the runc bump is mostly information to downstream packaging of containerd, there are no code changes. So we're tentatively forging ahead with bumping runc in our "nightly" build ahead of that landing in containerd.

[2020-01-24 18:44] jingxu97 commented on #75396
/reopen

[2020-01-24 19:34] #82030 closed

[2020-01-24 19:40] Huang-Wei commented on #87526
+1 on adding this as part of v1alpha2.

And in the KEP, we should point out that if a deprecated option (--algorithm-provider) is provided, how we'd honor the precedence. This is needed as the deprecated option is documented in the [official doc].(https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/)

[2020-01-24 19:43] alculquicondor commented on #87526
Our current behavior is that when using component config, command line flags are ignored, except for `--address` and `--port`

[2020-01-24 19:46] Huang-Wei commented on #87523
How about:

- Define `PreScore` extension point, and move current in-tree `PostFilter` plugins as `PreScore` ones. It's fine to adjust the signature like removing `NodeToStatusMap`.
- On the other hand, as @skilxn-go mentioned, I'm leaning towards keeping current `PostFilter` extension point and its signature. IMO we might not want to close the door for consumers to hack (sometimes it can be innov

[2020-01-24 19:51] alculquicondor commented on #87523
The current signature for `PostFilter` doesn't allow to implement either of #87159 and #86630. We need to add `filteredNodes` to the return values.

[2020-01-24 20:03] Huang-Wei commented on #87523
That sounds good. In that case, we don't need to "hack" to modify the object in place, right?

[2020-01-24 20:12] riking commented on #5774
KEP updated recently: https://github.com/kubernetes/enhancements/pull/686

/remove-lifecycle rotten
/reopen

[2020-01-24 20:16] alculquicondor commented on #87523
Exactly

So, both changes (new `PreScore`, and new return value in `PreFilter`) for 1.18?

[2020-01-24 20:22] ahg-g commented on #87523
renaming the current ```PostFilter``` extension point to ```PreScore``` sounds good to me, and that should be part of updating CC to v1alpha2.

[2020-01-24 20:32] alculquicondor commented on #87523
It looks like we have agreement on `PreScore` for 1.18.

I don't see any reason to hold on adding the changes for `PostFilter`. @ahg-g ?

[2020-01-24 20:34] ahg-g commented on #87523
Yeah, we can add that as well, PreScore is more critical to do in this cycle because we are doing a v1alpha2 anyway. PostFilter is only critical if we want to use it in this cycle (e.g., plan to move extenders to run as a PostFilter).

[2020-01-24 20:35] #74732 closed

[2020-01-24 20:42] Huang-Wei commented on #87523
We can do either way - adjust the signature if we want to get #87159 done, otherwise, leave its signature as-is.

[2020-01-24 20:44] ahg-g commented on #87523
I think a safe way is to first rename, and make sure we properly convert v1alpha1 PostFilter plugin to a v1alpha2 PreScore plugin. And then we adding PostFilter back.

[2020-01-24 20:47] alculquicondor commented on #87523
I agree, but these are implementation details.

The most urgent thing is updating the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md). @skilxn-go can you take it?

[2020-01-24 21:01] kireledan commented on #85669
What version are you running into this on? I'm not able to replicate this on the current master branch. This seems like similar reported behavior from #82369 which was reported for v1.10

[2020-01-24 21:12] fabidick22 commented on #40908
any news?

[2020-01-24 21:17] nishedcob commented on #40908
Do we have any news on whether or not this new feature might be implemented?

It would be helpful for our use case as well, we have a custom health check CLI tool that we want to inject into our Pods as a sidecar without needing to modify the original microservice images.

[2020-01-24 21:45] php-coder commented on #40908
@kubernetes/sig-node-feature-requests PTAL

[2020-01-24 21:48] robscott commented on #87412
/remove-triage unresolved
/assign

[2020-01-24 22:13] dimm0 commented on #86773
Also hit this, trying to migrate 17.1 to dual-stack
From reading the thread it's not clear if there's a fix yet

[2020-01-24 22:14] jackfrancis commented on #85506
I'm able to repro this in regular E2E tests that we do, but only for k8s versions < 1.16. Our repro scenario looks like this:

- we attach HPA configuration to a web listener
- add enough load so that HPA scales up beyond the max pod per node settings, creating a bunch of Pending pods
- validate that cluster-autoscaler scales up
- remove load
- validate that HPA pod count back down to one
- valida

[2020-01-24 22:21] aojea commented on #86773
@dimm0 please check that you have dualstack enabled in the apiserver as explained in the following comment

https://github.com/kubernetes/kubernetes/issues/86773#issuecomment-571241233

[2020-01-24 22:23] dimm0 commented on #86773
Nope.. It's not in the documentation as far as I can see

[2020-01-24 22:30] aojea commented on #86773
yeah, this is in alpha  and is ongoing effort, all feedback will be appreciated, is clear that upgrade documentation is necessary based on this issue 😅

[2020-01-24 22:32] kireledan commented on #80996
/assign

[2020-01-24 22:33] kireledan commented on #77557
/assign

[2020-01-24 22:36] dimm0 commented on #86773
Same error

[2020-01-24 22:48] julianvmodesto commented on #68514
Doc tasks:
- https://github.com/kubernetes/kubernetes/issues/83562
-https://github.com/kubernetes/kubernetes/issues/68514

[2020-01-24 23:00] kireledan commented on #80996
I was able to replicate this in the master branch. I'll investigate a fix for this.

[2020-01-24 23:07] davidz627 opened #87536 "Test panic in "AfterEach" for skipped tests during "AllNodesReady""
**What happened**:
When running external CSI Driver tests with the Kubernetes E2E: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/sigs.k8s.io_gcp-compute-persistent-disk-csi-driver/458/pull-gcp-compute-persistent-disk-csi-driver-kubernetes-integration/1220789322400141312/

We seem to be getting the following error.

[code]

From initial investigation it looks like this happens in the

[2020-01-24 23:10] liggitt commented on #87530
That's not realistic, given differing uses and constraints for object names. The ship has probably sailed on changing name validation for core resource types. Are there more compelling reasons to expand the valid set of names?

[2020-01-24 23:19] caesarxuchao commented on #85250
@Jefftree "PR (#85870) Authentication, Authorization and Audit Webhooks", that PR only affects the static Audit Webhooks.

Your #85168 affected the dynamic Audit Webhooks (which works very similar to the admission webhook).

Can you update? Thanks.

[2020-01-24 23:26] Bessonov commented on #67702
Usage of `kubelet-insecure-tls` or `insecure=true` doesn't seems like a solution. Can you please open the issue again? @hechuan73

[2020-01-24 23:35] neolit123 commented on #87536
see https://github.com/kubernetes/kubernetes/pull/87511

[2020-01-24 23:37] msau42 commented on #87536
I think https://github.com/kubernetes/kubernetes/pull/87511 should address this

[2020-01-24 23:50] riking commented on #24057
It looks like the PRs were closed with a decision not to do this. Additionally, this seems like a multi-repository issue and should be discussed somewhere more appropriate for that.

[2020-01-24 23:51] corneliusweig commented on #58512
I wonder how this could work with `EphemeralContainers`. I was experimenting with https://github.com/verb/kubectl-debug and https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190212-ephemeral-containers.md#debugging.

Ephemeral containers are just simple containers which may be added later on to a running pod. Thus they have the same isolation from each other. Look into the sib

[2020-01-24 23:54] Jefftree commented on #85250
@caesarxuchao Updated. Was waiting for the new aggregator PR and it looks like we have everything covered again now.

[2020-01-24 23:57] dekkagaijin commented on #87481
@cheftako Re: set up a kubeconfig
That's what we do for GKE: create an authenticated kubeconfig and set the `KUBECONFIG` env var.
E.g. if you have an authenticated kubeconfig at `/mnt/disks/master-pd/srv/kubernetes/kube-bootstrap/kubeconfig`:
[code]

[2020-01-25 00:04] #87464 closed

[2020-01-25 00:08] BenTheElder commented on #58512
cc @verb

I do think at the CRI level would probably be cleaner. Either way it needs dedicated developer time and probably a KEP first.

[2020-01-25 00:15] corneliusweig commented on #58512
Big :+1: for the KEP. And if somebody has a POC, we can get some user feedback by distributing as a krew.dev plugin.

[2020-01-25 00:27] cheftako commented on #87481
Yes, GKE sets up an admin system account for the master(s) as part of the internal-configure-helper.
I believe we should do the same thing for GCE.

[2020-01-25 00:50] weinong opened #87541 "Update Azure auth module in kubectl to obtain proper audience claim in AAD token"
**What would you like to be added**:
add a flag in Azure auth module in kubectl to get AAD token with audience claim in proper (most commonly accepted) format.

**Why is this needed**:
The original issue is explained very well in #86410. In sort, the current `azure` auth module will get a token whose `audience` claim has `spn:` prefix. This prefix is not documented in most Azure AD documentation w

[2020-01-25 00:51] weinong commented on #87541
/sig cloud-provider
/area provider/azure
/sig cli
/sig auth

[2020-01-25 01:03] weinong opened #87542 "Enable multiple oidc-client support in api-server to support kubectl migration"
**What would you like to be added**:
kubectl's azure auth module would obtain an AAD token whose `audience` claim has undesired `spn:` prefix. This claim is used in kube-apiserver for oidc client ID verification. To support migration of kubectl to get token without `spn:` prefix, kube-apiserver needs to support multiple `oidc-client-id`

**Why is this needed**:
The original issue about Azure AD to

[2020-01-25 01:05] weinong commented on #87542
/sig auth

[2020-01-25 01:26] skilxn-go commented on #87523
@alculquicondor Yes, I'm glad to take it, just assign it to me. I will send pr of details to the framework KEP.

[2020-01-25 01:33] ahg-g commented on #87523
/assign @skilxn-go

Please send the kep update ASAP because the enhancement deadline is mid next week

[2020-01-25 01:35] skilxn-go commented on #87523
Got it, thianks!

[2020-01-25 01:39] #81690 closed

[2020-01-25 02:46] xing-yang commented on #74359
/remove-lifecycle stale

KEP is review in progress.  We are trying to get it in 1.18.

[2020-01-25 02:46] xing-yang commented on #74359
/remove-lifecycle rotten

[2020-01-25 03:37] khyveasna11111908 opened #87545 "I'm back at the house now and I have"
Cool

[2020-01-25 03:51] ge90toga opened #87546 "vim cheat"
~/vimrc

set tabstop=2 shiftwidth=2 expandtab

[2020-01-25 03:52] #87546 closed

[2020-01-25 05:27] khyveasna11111908 opened #87547 "Cool"
Haha

[2020-01-25 07:15] verb commented on #58512
@corneliusweig @BenTheElder In 1.18 we'll add the ability to target a container namespace with an ephemeral container so that setting `shareProcessNamespace` in advance will no longer be necessary. With Linux containers you can use the `/proc/$pid/root` magic symlink so that you don't need `CAP_SYS_ADMIN`, but I'm not sure how you'd make a container name to $pid.

Just because it's possible doesn'

[2020-01-25 08:10] skilxn-go commented on #87523
I'm now working on updating this KEP, but for this figure:
![image](https://user-images.githubusercontent.com/8231208/73118279-e947f580-3f8c-11ea-9c8a-b6d78e2280d6.png)
I don't have the original file of it. So, can I just draw a new one to replace this figure, and replace the post-filter endpoint with pre-score?

[2020-01-25 09:20] tuminoid commented on #47775
/remove-lifecycle stale

[2020-01-25 09:23] #87086 closed

[2020-01-25 13:24] tongchao199 commented on #17130
@soltysh @janetkuo @kargakis I have this problem now.
The cronjob controller queries the jobs in all namespaces through the client, which causes a slow log alarm for the etcd cluster。

* Print etcd cluster slow log alarm
[code]

* View etcd connection on kube-apiserver
[code]

* Capture packets on the kube-apiserver
[code]

* Capture packets on the etcd
[code]

* Analyze packet log url information

[2020-01-25 14:52] #82075 closed

[2020-01-25 14:52] #82001 closed

[2020-01-25 14:52] #82071 closed

[2020-01-25 15:46] neolit123 commented on #87547
/close

[2020-01-25 15:46] #87547 closed

[2020-01-25 15:46] neolit123 commented on #87545
/close

[2020-01-25 15:46] #87545 closed

[2020-01-25 15:53] #80602 closed

[2020-01-25 16:04] fengzixu commented on #87427
After I detected related tests, I want to ask

1. Where I need to move for integration test `TestTaintBasedEvictions ` ?  It seems like related to sig-node. But I didn't find the `node` directory under integration director.https://github.com/kubernetes/kubernetes/blob/47d5c3ef8df2b1b26da739aec0ada15d41f20cf3/test/integration/scheduler/taint_test.go#L580

@damemi @Huang-Wei

[2020-01-25 16:12] cyphar commented on #58512
I would not suggest using this unless you have something like [`libpathrs`](https://github.com/openSUSE/libpathrs) because one stray symlink inside the container and you're resolving host files. You'd have to most likely `pivot_root` before operating on the root (in which case you've started creating a primordial container).

[2020-01-25 17:28] alculquicondor commented on #87523
@misterikkit, could you provide some help?

However, I would say just send the PR as is for now.

[2020-01-25 17:28] alculquicondor commented on #87523
Also, feel free to redo the picture too. It shouldn't be that hard with Inkscape or something like that :)

[2020-01-25 17:31] skilxn-go commented on #87523
Thanks, I have redo this picture using powerpoint. 😃

[2020-01-25 19:09] danielsand commented on #60987
same on baremetal rook and Kubernetes v1.15.6

[2020-01-25 19:57] #73730 closed

[2020-01-25 22:06] #86153 closed

[2020-01-25 22:09] mikedanese commented on #87542
duplicate of https://github.com/kubernetes/kubernetes/issues/71162

[2020-01-25 22:48] mitar commented on #69816
/remove-lifecycle stale

[2020-01-26 07:21] MikeSpreitzer opened #87552 "The AddEventHandlerWithResyncPeriod of SharedInformer has an error condition but can not report it"
**What happened**:
While studying the implementation, I noticed that a SharedInformer constructed with a defaultEventHandlerResyncPeriod of zero logs warnings (from the determineResyncPeriod func) after AddEventHandlerWithResyncPeriod is called with a non-zero resyncPeriod --- and the informer does no resyncs.  In short: such an informer does not honor the contract of such a call to its AddEventHa

[2020-01-26 07:22] MikeSpreitzer commented on #87552
/sig api-machinery

[2020-01-26 07:51] fengzixu commented on #87328
I think this issue has been resolved by another person.
https://github.com/kubernetes/kubernetes/commit/4a5ab84dccc2d6b899a5c1d49b2478ec355071c9#diff-718c5036402a4013245b26f23dc1d824L786
https://github.com/kubernetes/kubernetes/pull/87261#discussion_r368742257

[2020-01-26 10:11] #81334 closed

[2020-01-26 13:09] tedyu commented on #87552
It seems resyncCheckPeriod value of 0 disables the resync.
I assume this is by design.

[2020-01-26 13:26] vvelikodny opened #87554 "[client-go] Can't override config values"
original issue kubernetes/client-go#735

**What happened**:

I am loading my local kubeconfig which contains multiple clusters and contexts. The default context is "prod" and one of the config values I want to override is the `CurrentContext`

[code]

**What you expected to happen**:
CurrentContext="stage"
[code]
**How to reproduce it (as minimally and precisely as possible)**:
use code above

**A

[2020-01-26 13:30] vvelikodny commented on #87554
/sig api-machinery

[2020-01-26 13:31] vvelikodny commented on #87554
/wg Apply

[2020-01-26 14:14] sbezverk commented on #62720
Implemented here: https://github.com/sbezverk/nfproxy

[2020-01-26 14:18] savitharaghunathan opened #87556 "Flaking test: "[sig-cli] Kubectl client Kubectl apply should apply a new configuration to an existing RC""
**Which jobs are flaking**:
ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew

**Which test(s) are flaking**:
Overall
SkewTest
[sig-cli] Kubectl client Kubectl apply should apply a new configuration to an existing RC

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce

**Reason for failure**:

**Anything else we need to know**:
https://pr

[2020-01-26 14:43] redbaron commented on #74415
@liggitt , client-side code has to revert to quite ugly hacks on resourceVersion (https://github.com/coreos/prometheus-operator/blob/6fb6a3422bdc4ab80afaf14d97f59e45a59af76a/pkg/listwatch/listwatch.go#L156-L158) to transparently implement multi namespace watcher.

[2020-01-26 15:59] MikeSpreitzer commented on #87552
Yes, I would say that is clearly by design.  IMO, an informer that does not do resyncs should not be accepting a call that specifies resyncs.

[2020-01-26 16:12] PaulAnnekov commented on #80586
/remove-lifecycle stale

[2020-01-26 17:46] tedyu commented on #87554
With the following change, the example passes:
[code]
I am open to suggestion for better fix.

[2020-01-26 17:46] eladm26 commented on #86436
ok made the changes and now I'm getting this as the YAML manifest for the job:
[code]
also `kubectl get jobs` returns:
[code]

[2020-01-26 17:49] tedyu commented on #87554
/assign

[2020-01-26 17:49] MikeSpreitzer commented on #87552
In a similar vein: The constructors for shared informers take a default resync period but will not necessarily honor it and these constructors can not return an `error`.  This one is a little less serious --- it is a matter of quantity not quality.

[2020-01-26 17:51] simonswine commented on #83679
I can confirm the release binaries are not build correctly I have opened this issue in the release repo: https://github.com/kubernetes/release/issues/1037

/reopen

Workaround is building the binaries yourself using bazel and the release tag

[2020-01-26 18:13] tedyu commented on #83221
@gitzl
Can you provide more information?

[2020-01-26 18:39] vvelikodny commented on #87554
@tedyu thanks for the answer, look at the my patch please, if it good
https://github.com/vvelikodny/kubernetes-client-go/commit/8c99132f9960bc61d3fceb0bd20ad3e5964f8203

[2020-01-26 19:13] #87536 closed

[2020-01-26 19:18] neolit123 commented on #87556
changing the title to include the failing test in the test job.
/retitle Flaking test: "[sig-cli] Kubectl client Kubectl apply should apply a new configuration to an existing RC"

[2020-01-26 20:53] mvisonneau commented on #87408
I assume this is due to the fact that before my change, a device configured in read-only mode which would not be formatted would then be formatted 🤔

[2020-01-26 21:22] #80872 closed

[2020-01-26 22:47] renukamanavalan opened #87558 "Standalone kubelet demands pki/kubelet.key"
**What happened**:
Goal: To run kubelet as standalone, watching a local dir for manifests update.

What I did:
1) Installed kubelet per instructions [here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/)
2) Created config file as below
[code]
3) Ran kubelet as
` kubelet  --config ./kube.conf.json `

**What you expected to happen**:
Expected kubelet process t

[2020-01-26 22:57] renukamanavalan commented on #87558
I am still at loss on how I run the suggested commands to add "sig" labels.
Can you please provide some tips ?

Where do I run these commands ?

[2020-01-26 23:24] #65442 closed

[2020-01-26 23:33] neolit123 commented on #87558
/sig node

[2020-01-26 23:38] ge90toga commented on #87546
Volume:

Configure a Pod to Use a Volume for Storage

Configure a Pod to Use a PersistentVolume for Storage

[2020-01-26 23:49] renukamanavalan commented on #87558
I retried it as a simple service `"ExecStart=/usr/bin/kubelet --config /home/localadmin/try/kubernetes/kube.conf.json --v 7"`

It failed as below, with nothing much to go on, as there are no additional logs to throw any hint. Neither syslog nor `"journalctl -u kubelet.service" has any spew from kubelet"` has any verbose logs from kubelet.

`vm0:/var/log$ sudo systemctl status kubelet.service
â— ku

[2020-01-27 00:00] vkuznet commented on #80963
/remove-lifecycle stale

[2020-01-27 02:30] hase1128 commented on #86597
I will pick up these scripts

get-build.sh
ginkgo-e2e.sh
grab-profiles.sh
install-etcd.sh
lint-dependencies.sh
list-feature-tests.sh
local-up-cluster.sh
pin-dependency.sh
print-workspace-status.sh
run-in-gopath.sh
test-go.sh
test-integration.sh

[2020-01-27 04:50] nikhita commented on #72638
/remove-lifecycle stale

[2020-01-27 06:55] zouyee commented on #84922
Ok

[2020-01-27 07:34] mikkeloscar commented on #83107
/remove-lifecycle stale

[2020-01-27 08:03] f9777 opened #87560 "In high load Kubernetes containers doesn't use /etc/resolv.conf file."
**What happened**:
Container can't append search names from resolv.conf file for looked service in high load.Instead it sends the naked hostname as a questions to core-dns.

**What you expected to happen**:
For example , if I want to look for 'ms-hostname' service, I want it to send question like 'ms-hostname.default.svc.cluster.local.But instead in 100 requests, one of the requests is sent like '

[2020-01-27 08:59] skilxn-go commented on #87523
@alculquicondor The kep is already merged, btw, is there any issue tracking the progress of v1alpha2? I didn't find things about it.

[2020-01-27 09:55] wojtek-t commented on #80289
/remove-lifecycle stale

[2020-01-27 10:06] justaugustus commented on #87056
/sig network
/area release-eng
cc: @kubernetes/release-engineering

[2020-01-27 10:07] rmt commented on #72236
/reopen

We shouldn't let security issues be swept under the rug, especially not by upstart bots. ;-)

[2020-01-27 10:15] justaugustus commented on #87228
@dims -- I've opened https://github.com/kubernetes/kubernetes/pull/87562 to pull CNI downloads from GitHub releases instead of this GCS bucket with unclear ownership.

[2020-01-27 10:21] f9777 commented on #87560
/sig network

[2020-01-27 11:04] benceszikora commented on #69811
FWIW, we have rolled out a fork of `kube-proxy` last weekend with @ahg-g's suggested patch and that seems to work perfectly. Are there any downsides to those changes?

[2020-01-27 11:10] DennisR73 commented on #79523
+1

[2020-01-27 11:16] skilxn-go commented on #87523
And do I need to add the new definitation of post-filter to this KEP?
Now I just rename post-filter to pre-score in the KEP.

For clearify:
- In v1alpha1:
The post-filter should keep current behavior and it's name is not changed.

- In v1alpha2:
    - A pre-score plugin will do things that is done in **v1apha1.postfilter**
    - The post-filter plugin will return a filtered node list. And it's sem

[2020-01-27 11:44] lee-b-sk commented on #25382
@squall0gd I would think `create pods` would be where many users would want to start, right after crate namespace.  So yes; absolutely.

[2020-01-27 13:03] aermakov-zalando commented on #77666
I still don't understand what problems do you see arising out of this. If I have `kubectl-foo` and `kubectl-foo-bar` on my $PATH, currently `kubectl foo -n test bar` invokes `kubectl-foo`, `kubectl foo bar -n test` invokes `kubectl-foo-bar`, and `kubectl -n test foo bar` **fails**. With my proposal, `kubectl -n test foo bar` will invoke `kubectl-foo-bar`, passing `-n test` to it, allowing it to wo

[2020-01-27 13:16] liggitt commented on #74415
That example is not how I expected to accomplish this goal. Rather than constructing a union lister/watcher that munged resource versions, I would recommend a union informer that maintains per-namespace informers and simply routes the resulting AddFunc/UpdateFunc/DeleteFunc calls to a single cross-namespace handler.

[2020-01-27 14:28] sincerywaing opened #87570 "a job to pull image"
is it possible to setup a job to only pull image?

We have a use case that our image is so large that it takes 30+min to pull. this causes the deployment time unmanageable as the pull may even fail.

Can we have a job to only pull the image then we can do deployment at a later stage?

Thanks!

[2020-01-27 14:31] #87524 closed

[2020-01-27 14:42] sincerywaing commented on #87570
found a solution. close for now.

[2020-01-27 14:42] #87570 closed

[2020-01-27 14:43] nevola commented on #62720
/remove-lifecycle stale

[2020-01-27 14:49] nevola commented on #62720
/reopen

Although this project has been paused in order to fully implement nftlb, we're currently working in the integration.

[2020-01-27 14:51] confiq commented on #77396
yes, we know that we can delete and create a new job. However, if we want k8s to be perfect, maybe it would be cool to have an API for rerun the jobs...

[2020-01-27 14:56] chrisohaver commented on #87560
A client will send the naked domain to the DNS server if it gets negative responses for all the domains in `/etc/resolv.conf`.  If there is a timeout for a domain, I _think_ that clients fail the look up (continuing on to other domains in the list would result in erratic behavior on a flaky network).

In your test, is the naked request preceded by a series of lookups with the search domains append

[2020-01-27 14:57] alculquicondor commented on #87523
Yes, please work on the KEP for adding PostFilter. Note that this needs to be merged by tomorrow EOD. But better have it today.

I'll create a tracking bug for all the `v1alpha2` efforts.

[2020-01-27 15:18] LucianaMarques commented on #86526
Hey there! Has any PR been opened on this? Can I also help?

[2020-01-27 15:33] skilxn-go commented on #87523
Sure, working on it now

[2020-01-27 16:01] hoizo opened #87573 "Help me"
Hello
they commissioned me to do this test:
1)installing docker-desktop and enabling kubernetes
2)Deployment of a minimal nginx in the kubernetes environment created
3)deployment of prometheus-graphana-node-exporter in the kube environment created
4) Access to graphana and create a simple dashboard that monitors the CPU used by the nginx pod
I installed docker-desktop and enabled kubernetes , then

[2020-01-27 16:35] jayunit100 opened #87574 "Replace "success/failure" nouns with the actual pod adjective phases (succeeded or failed)."
**What would you like to be added**:

The E2E tests evaluate Pod Phases  adjectives, describing the state of a pod, i.e. Succeeded, Failed, and so on.   But, they log nouns (success or failure).

[code]

**Why is this needed**:

Right now when reading tests, it takes a tiny leap of faith to correlate "success or failure" with the pod phase "failure", and one wonders wether 'failed' literally means

[2020-01-27 16:35] jayunit100 commented on #87574
/sig testing

[2020-01-27 16:39] andrewsykim commented on #87408
Would it be possible to get a fix in soon? It's blocking other updates to k8s.io/utils

[2020-01-27 16:39] andrewsykim commented on #72236
/reopen

[2020-01-27 16:58] LucianaMarques commented on #87574
Hi there!

I want to help with this issue, I'll come back when I have a PR open :)

Is it ok if you assign this to me?

Thanks!

[2020-01-27 17:08] msau42 commented on #87408
@mvisonneau are you saying that the rbd test is not correct because it was trying to format a read-only volume?

[2020-01-27 17:20] jpreese commented on #86787
Follow up from today's release meeting: If the test has been broken for as long as we know it, theres value in just removing it. If the test owners don't have capacity to look into it, CI Signal can investigate.

[2020-01-27 17:27] chendotjs commented on #67730
After a little dig into the kernel, failing to connect `localhost:<nodeport>` can be explained.

Assume we are visiting `http://127.0.0.1:<nodeport>`, every packet will first pass through [`ip_vs_nat_xmit`](https://github.com/torvalds/linux/blob/v4.18/net/netfilter/ipvs/ip_vs_xmit.c#L735-L820). Then after some check, it runs to https://github.com/torvalds/linux/blob/v4.18/net/netfilter/ipvs/ip_vs_

[2020-01-27 17:29] dsu-igeek commented on #55045
Discuession with SIG Apps, there's enough controversy here to merit putting together a KEP for this.  I will work on a KEP and then link back here.

[2020-01-27 17:32] sureshpalemoni commented on #87574
/assign

[2020-01-27 17:48] claudiubelu commented on #77268
/open

[2020-01-27 17:49] claudiubelu commented on #77268
/reopen

[2020-01-27 17:49] lavalamp commented on #74415
Right. I'm open to making this easy in client-go.

I actually do anticipate eventually having the server permitting watching multiple but not all namespaces; but this is a huge change and I'm not at all convinced we'd do it by actually specifying namespaces individual instead of e.g. adding a shard concept.

[2020-01-27 17:54] claudiubelu commented on #77268
Currently, the Image Promoter is working for the k/k test images. We also have a couple of dedicated Windows Server nodes that can be used as build nodes for the Kubernetes Windows test images.

What we have left to do:

- I have to pass the certificates required by the Windows nodes to *someone* that will store those into a secret, which will be then used by the Image Promoter.
- we have to send

[2020-01-27 18:40] nilsonsfj commented on #72597
This would be really useful for me right now. Hope the referenced MR ever goes through...

[2020-01-27 19:03] apelisse commented on #86526
Hi @LucianaMarques , I'm not aware of any activity going on right now on this task, we'd really appreciate your help! feel free to ask questions too if anything needs to be clarified, thank you!

[2020-01-27 19:14] bharaththiruveedula commented on #86526
@LucianaMarques , sorry, I am working on it

[2020-01-27 19:21] nezoic commented on #75955
I'm not sure what this means. Do you need a .kube folder created in the same location you're running kubectl in, along with the config file?

[2020-01-27 19:21] apelisse commented on #86526
@bharaththiruveedula any update on the progress? We have 0 visibility here! :-)

[2020-01-27 19:22] apelisse commented on #86526
Also, feel free to join and talk on #wg-apply, I suspect there is enough work for the two of you, but we need to be able to know who's doing what.

[2020-01-27 19:29] bharaththiruveedula commented on #86526
@apelisse sorry for the late... will share the details by tomorrow in the slack

[2020-01-27 19:29] apelisse commented on #86526
Thanks, no problem!

[2020-01-27 19:38] tam7t commented on #86186
The first 2 options require the application to perform decryption.

A kubelet-provided link local http service in `169.254.0.0/16` with access to secret values (or a k8s service account token). This would need server side request forgery protections, but may be a more familiar interface for developers.

[2020-01-27 19:52] #85015 closed

[2020-01-27 20:00] shahzzzam opened #87579 "[Azure] UseManagedIdentityExtension is broken for Auth with Azure container registry"
**What happened**:
Using the Managed Identity feature from `az` cli, I created a cluster. I see that the Managed Identity credentials were baked into the agent like so:

[code]

I grabbed the Identity, and assigned it an `AcrPull` role for a registry.

[code]

Kubernetes version on the cluster:
v1.14.8

There are no Level 4 logs from this method:

https://github.com/kubernetes/kubernetes/blob/fa6b

[2020-01-27 20:01] shahzzzam commented on #87579
cc: @andyzhangx

[2020-01-27 20:05] shahzzzam commented on #87579
/sig cloud-provider

[2020-01-27 21:11] alculquicondor commented on #86943
What do you mean by "properly arranged cluster"?

If you want pods that don't require GPU to avoid running on nodes that have GPU, you can set node labels and add node affinity

https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#node-affinity

[2020-01-27 21:13] alculquicondor commented on #85792
/close

Let's dedup onto #86373

[2020-01-27 21:13] #85792 closed

[2020-01-27 21:19] alculquicondor commented on #81214
/close

#81263 should be enough for what this issue was asking.

I'm deduping the rest of the discussion into #86373

[2020-01-27 21:19] #81214 closed

[2020-01-27 21:46] alculquicondor commented on #86942
What is the memory request of your Pod?

[2020-01-27 21:47] pgier opened #87583 "unable to reapply statefulset with volumeClaimTemplate/apiVersion"
**What happened**:
I tried to apply the same statefulset twice and on the second apply, the api reported a validation error.

**What you expected to happen**:
I would expect that the same statefulset should apply successfully or fail consistently any number of times.

**How to reproduce it (as minimally and precisely as possible)**:
Apply this stateful set twice.
[code]

The second attempt with fa

[2020-01-27 21:51] pgier commented on #87583
/sig api-machinery

[2020-01-27 21:57] jterry75 commented on #87420
@liggitt - For *2.* we actually only use cri-api for test code. This is to produce a binary under */test* that can be run against cri containerd. We have no part of hcsshim that requires kube

[2020-01-27 22:46] #82154 closed

[2020-01-27 23:07] davidz627 commented on #80333
@tsmetana did your PR resolve this issue?
/remove-lifecycle stale

[2020-01-27 23:08] Huang-Wei commented on #87427
It makes sense to me.

@ahg-g Have we got an agreement with sig-node? Technically speaking, it's more belong to sig-apps as the primary code exists under `pkg/controller/nodelifecycle`.

[2020-01-27 23:11] Huang-Wei commented on #87328
@fengzixu exactly.

We can close it.

[2020-01-27 23:11] #87328 closed

[2020-01-27 23:12] weinong opened #87586 "Azure Cloud Provider should stop using AAD endpoint with apiVersion specified"
**What happened**:
Due to the adal SDK implementation, the AAD token obtained by cloud provider from AzureAD token endpoint would have audience `spn:` prefix. There is an extensive documentation in #86410. The original fix #86412 contains fixes to kubectl as well as cloud provider. This issue will be targeted just to azure cloud provider. This wouldn't have the same impact as #87464

**What you ex

[2020-01-27 23:13] weinong commented on #87586
/area provider/azure
/sig cloud-provider

[2020-01-27 23:17] weinong opened #87587 "support non-interactive (service principal) authentication with AzureAD in kubectl"
**What would you like to be added**:
Enable service principal (with password credential) in kubectl to authenticate with AzureAD

**Why is this needed**:
Current implementation always uses device code flow which requires user interaction. This disallows automation using service principal.

[2020-01-27 23:18] weinong commented on #87587
/area provider/azure
/sig auth
/sig cli

[2020-01-27 23:47] #79735 closed

[2020-01-27 23:48] LucianaMarques commented on #87574
/assign

[2020-01-27 23:49] LucianaMarques commented on #87574
@sureshpalemoni I was already working on it, do you want to share any ideas?

[2020-01-27 23:55] LucianaMarques commented on #86526
@apelisse thank you so much for the heads up, I will join #wg-apply!

[2020-01-27 23:58] jennybuckley opened #87594 "Invalid listTypes in FlowSchema cause errors in apiserver logs"
In the kind `flowcontrol.apiserver.k8s.io/v1alpha1.FlowSchema`, the fields [`.spec.rules`](https://github.com/kubernetes/kubernetes/blob/ec5321c6a9f23e5ad26cf88a41fda9dba0c5ce89/staging/src/k8s.io/api/flowcontrol/v1alpha1/types.go#L110), [`.spec.rules[].subjects`](https://github.com/kubernetes/kubernetes/blob/ec5321c6a9f23e5ad26cf88a41fda9dba0c5ce89/staging/src/k8s.io/api/flowcontrol/v1alpha1/type

[2020-01-28 00:00] jennybuckley commented on #87594
/sig api-machinery

[2020-01-28 00:01] jennybuckley commented on #87594
/priority important-longterm

[2020-01-28 00:02] lavalamp commented on #87594
@MikeSpreitzer @yue9944882 @jktomer for P&F types

@jennybuckley, @apelisse: is it possible to have e.g. an integration test that fails in this condition, to surface it earlier?

Also, this is an alpha feature and thus off by default, are the types still somehow getting registered?

[2020-01-28 00:34] weinong commented on #87541
it seems a better approach to add a flag in cfg so that the auth modules dont become bloated

[2020-01-28 00:38] Huang-Wei commented on #84155
@hex108 we're able to answer some of the questions now:

It's derived from the legacy predictes/priorities, now ordered at `Config.FrameworkPlugins.<extension point>.Enabled`:

https://github.com/kubernetes/kubernetes/blob/4a5ab84dccc2d6b899a5c1d49b2478ec355071c9/pkg/scheduler/algorithmprovider/registry.go#L85

They are [inserted to a map](https://github.com/kubernetes/kubernetes/blob/4a5ab84dccc2

[2020-01-28 02:02] liggitt commented on #87420
Ah, that's helpful to know. Unfortunately, all dependencies (test or otherwise) are included in the dependency graph when go modules choose required versions.

[2020-01-28 02:07] inductor commented on #72044
We've encountered this issue with CronJob on 1.15.7-gke.23

[2020-01-28 02:18] liggitt commented on #87594
based on the description, it sounds like this is only happening when the feature is explicitly enabled

[2020-01-28 02:36] brightzheng100 commented on #84417
Obviously, maybe no one really feels that pain yet or we're okay to suck it up.

/close

[2020-01-28 02:36] #84417 closed

[2020-01-28 02:45] julianvmodesto commented on #34292
/wg apply

[2020-01-28 03:26] andyzhangx commented on #87579
/kind bug
/assign
/priority important-soon
/sig cloud-provider
/area provider/azure

[2020-01-28 03:28] JonasAnastacio commented on #24669
**I'm using GKE and none of these worked for me**

I think that's because gcloud doesn't acually use the certificate uploaded on the secret with kubectl. Instead it creates another one based on it, as it seems when I run:
`gcloud compute ssl-certificates list`

The output was an auto-generated certificate that didn't have the entire chain, as I figured with:
`gcloud compute ssl-certificates descri

[2020-01-28 03:35] sureshpalemoni commented on #87574
@LucianaMarques I didn't see your comment. Kindly review my PR if it has similar ideas or comment to make any additional changes. Thank you.

[2020-01-28 04:37] TBBle commented on #86220
It'd be great if this was documented more clearly. I was just about to open the same thing as a bug report, having just found that a pod that *should* have been rejected was being accepted with a different UID than it was built with, due to using `MustRunAs[1-65535]` instead of `RunAsNonRoot`.

It's definitely not clear from the [docs](https://kubernetes.io/docs/concepts/policy/pod-security-policy

[2020-01-28 04:58] apelisse commented on #87594
We probably shouldn't be able to generate the openapi for these types. I think that's where we should detect it. That code can be challenging to update to do exactly this, but we need to look, it might be worth it.

[2020-01-28 06:15] hatotaka opened #87600 "`kubectl diff --server-side` fails"
**What happened**:

`kubectl diff --server-side` fails.

[code]

**What you expected to happen**:

I would expect the PatchOptions to not include FieldManager.

The following fix will eliminate the problem.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.16 and 1.17
- C

[2020-01-28 06:17] hatotaka commented on #87600
/sig cli

[2020-01-28 06:32] humblec commented on #86281
@kvaps ooc, do you observe the problem for other "deployment" kinds too ? or specific to "sts" ?

[2020-01-28 07:25] 928234269 commented on #87573
You can give more useful information like #87600.

[2020-01-28 07:54] george-angel commented on #61486
We too have faced similar issue. But in our case we *are* using the default DHCP options.

Kubelet registering a node, uses the full name: `ip-10-66-23-111.eu-west-1.compute.internal`, presumably using something like:

[code]

But kube-proxy uses `os.Hostname()` as nodeName: https://github.com/kubernetes/kubernetes/blob/master/pkg/util/node/node.go#L52

Which it then uses to try and get the IP: ht

[2020-01-28 08:30] chrischdi opened #87603 "service IPs and ports are not released when deleting a service via a finalizer-removing update"
**What happened**:

* Created a service including a finalizer
* Triggered deletion of the service
* Removed finalizer
* Service got deleted by apiserver (not visible anymore via kubectl)
* Tried to create service again
* Creation got denied: `The Service "foo" is invalid: spec.ports[0].nodePort: Invalid value: 30003: provided port is already allocated`
  The apiserver logs the following lines prio

[2020-01-28 08:30] MikeSpreitzer commented on #87594
Odd, I thought I did some testing and did not get that error message.  I concluded that on the other occasions when I _did_ see that error, it was about some other type.  Would it be possible to make that error message name the type it is complaining about?

[2020-01-28 08:31] MikeSpreitzer commented on #87594
Also, where are the available choices for listType documented?

[2020-01-28 08:34] chrischdi commented on #87603
/sig api-machinery

[2020-01-28 08:39] chrischdi commented on #87603
Maybe also helpful: the output of kubectl events:
[code]
When these events get emmitted the problem does occur - so the repair breaks things in this case.

[2020-01-28 08:56] #79440 closed

[2020-01-28 09:04] mvisonneau commented on #87408
Indeed, one solution could be to pre-format it before attempting to mount it in read-only mode.

[2020-01-28 09:32] etavene opened #87604 "Nodeport issues with ipv6-only Cluster"
**What happened**:
I have an running ipv6-only cluster using IPVS.  The pod to pod and pod to service communication is working fine. But I am not able to access the pod externally using nodeport.

 sudo kubectl get svc
NAME            TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)                         AGE
elasticsearch   NodePort    fd20::91c1   <none>        9200:32140/TCP,9300:30866/TCP   15s

[2020-01-28 10:35] tomjohnburton commented on #60807
Has it been established whether this is a fixable issue? Seems to be a lot hacky solutions here but nothing addressing the underlying issue which is that none of us can delete our namespaces....

[2020-01-28 10:39] aojea commented on #87604
/sig network

[2020-01-28 10:40] aojea commented on #87604
I'm not very familiar with IPVS but it seems that is trying to map an IPv6 address to an IPv4

@etavene do you know what IP is `253.32.0.0:9200` ?

[2020-01-28 11:18] TomaszKlosinski commented on #68251
Any news on this?

[2020-01-28 11:43] etavene commented on #87604
@aojea

I am not sure from where it is getting that ipv4 address. I created one more pod, still same issue.

kubectl get pods

nginx2-deployment-564b5ff565-cdgcq   1/1     Running   0          18m     fd20::7044   demo1

kubectl get svc
nginx2          NodePort    fd20::5818   <none>        80:32550/TCP                    15m

Kube-Proxy logs as follows:

E0128 11:12:43.558948       1 proxier.go:1

[2020-01-28 11:46] vikpck commented on #56453
/reopen still a problem, started happening to us recently

[2020-01-28 12:16] wojtek-t commented on #87292
Yes - progress notify was design exactly to solve this case.

We're looking into the progress notify a bit deeper and try to use it solve more problems than this one - you may want to follow this KEP if you're interested:
https://github.com/kubernetes/enhancements/pull/1404

So yes - I agree with Jordan - this is not a bug. At the same time, we're looking into it.

[2020-01-28 12:33] kvaps commented on #86281
Yes I have two clusters, one is small and it does not having this problem, it is containing: 12 nodes and 145 PV

And I have larger one, where this problem persist, it is containing: 543 node and 673 PV

[2020-01-28 12:50] mvisonneau commented on #87408
The easiest one seems to be removing the _ReadOnly_ attribute (which would set it to false) on the the first **TestPlugin** case. I have submitted a PR that does it: https://github.com/kubernetes/kubernetes/pull/87609 ☝️

[2020-01-28 12:57] mvisonneau commented on #87408
This behaviour seems to be older than my recent changes though 🤔 https://github.com/kubernetes/utils/pull/127/files#diff-532e7b8579a9b13f176219cc79712ee3L303-L306

[2020-01-28 13:00] kayrus commented on #82405
fixed in k8s 1.15.8 (1.15.9)

[2020-01-28 13:00] #82405 closed

[2020-01-28 13:20] liggitt commented on #60807
The fundamental issue is that an aggregated API group is unavailable. It is intentional that the namespace cleanup controller blocks until all APIs are available, so that it can verify all resources from all API groups are cleaned up for that namespace.

[2020-01-28 13:45] andyzhangx commented on #87579
hi @shahzzzam, I have checked, this issue should be fixed by https://github.com/kubernetes/kubernetes/pull/77245 from k8s v1.15.0, and also verified that on AKS 1.15.7, MSI auth on ACR works well. And also share the MSI auth logs in 1.15.7 kubelet logs:
[code]

[2020-01-28 13:56] lukasz-madon commented on #15180
I use

[code]

[2020-01-28 14:07] verb commented on #84353
@skilxn-go I agree, and it could be useful for automatically removing a tainted pod from a service, but I'm not aware of other instances of controllers automatically adding labels. I'm not sure how it would be received. It might be worth floating the idea at a SIG meeting.

[2020-01-28 14:14] wojtek-t commented on #85544
The "Events are supposed to be consumed only by humans" is fairly crucial - events are not guaranteed for example, and we don't want to make them guaranteed. I'm opposed to making them consumable by machines.

I'm actually also opposed to unifying k8s events to be conformant with CloudEvents - I just looked into the spec and it is fairly generic (which is great in general). For k8s, events have a

[2020-01-28 14:23] verb commented on #27140
/remove-lifecycle sta

[2020-01-28 14:23] verb commented on #27140
/remove-lifecycle stale

[2020-01-28 14:26] tomkerkhove commented on #85544
Can you elaborate on this please because I'm not sure if I get your point?

The only thing that CloudEvents enforces is the highlevel metadata concerning the event itself, such as event type, all the rest is still up to the publisher and can contain any structure as side of the body.

Personally I don't see why Kubernetes should not support it.

With CloudEvents conformance you'll improve it so th

[2020-01-28 14:36] jayunit100 commented on #85908
I see this in Calico 3.10 as well confirming that its definitely an issue.

[2020-01-28 14:37] pre commented on #36304
The grouping of Events causes sort by `creationTimestamp` list events in invalid order. The creationTimestamp is when Event was seen first, but the same event might also have occurred afterwards.

For example, an event might have the following attributess:
* `firstTimestamp: "2020-01-28T13:13:27Z"`
* `lastTimestamp: "2020-01-28T14:18:30Z"`
* `metadata.creationTimestamp: "2020-01-28T13:13:27Z"`

As

[2020-01-28 14:41] aojea commented on #87604
I have to admit that I'm not very familiar with kube-proxy IPVS implementation, running on iptables mode is a possibility?

[2020-01-28 16:04] jnicholls commented on #61921
It seems like getting the `local-ipv4` metadata was the correct approach for the use case of API server communication, with `--node-ip` as the override...while `network/interfaces/macs/<mac>/local-ipv4s` is fine for the overall NodeAddresses() use case. Rather than just choosing one of the IPs from that list blindly, since the order of interfaces can switch in some circumstances (the assigned MAC

[2020-01-28 16:10] jnicholls commented on #61921
I think this option (particularly the part of using `local-ipv4` by default) would have been a good approach for avoiding the out-of-order issue when MACs flip around, and avoids the need to script up a solution for specifying `--node-ip` that would ultimately (in this case at least) reference `local-ipv4`.

[2020-01-28 16:12] jnicholls commented on #61921
/reopen
/remove-lifecycle rotten

[2020-01-28 16:18] mazzy89 commented on #72533
I had the chance to debug and dig deeper such kind of issue.

We have noticed in our cluster that the issue occur when a workload with certain memory limits set is killed by the system.

In fact, checking `dmesg|tail` we always get a message like:

[code]

My assumption here is the mentioned Docker version is affected by a bug and does not behave well when some pods are killed after an OOM event.

[2020-01-28 16:33] #73972 closed

[2020-01-28 17:29] marosset commented on #74991
I tracked the down to this dockershim call to ContainerStats https://github.com/kubernetes/kubernetes/blob/15c3f1b119ff4b4073c86df05c819a9672b80d68/pkg/kubelet/dockershim/docker_stats_windows.go#L34 taking ~2 seconds per container on a system with low cpu utilization.

This gets called as part of ListContainerStats https://github.com/kubernetes/kubernetes/blob/15c3f1b119ff4b4073c86df05c819a9672b80

[2020-01-28 17:32] alejandrox1 commented on #87574
/priority backlog
/lifecycle active

[2020-01-28 17:33] alejandrox1 commented on #87574
This looks like something that could go in this release
/milestone v1.18

[2020-01-28 17:38] LucianaMarques commented on #87574
@sureshpalemoni that's ok, but please be more careful, I was a little bit frustrated :(

[2020-01-28 17:48] costimuraru commented on #29789
We're trying to auto scale our pods running in Kubernetes, based on an external (ELB) metric coming from Cloudwatch via HorizontalPodAutoscaling [1].

For that, we need to create an `ExternalMetric` resource and provide the ELB name. However, because the ELB is created automatically through Kubernetes, we have no way of determining the ELB name (see below). Having a way to provide the ELB name thr

[2020-01-28 17:53] andrewsykim commented on #29789
The name of the ELB should still be predictable, it's "a" + "Service UID". See https://github.com/kubernetes/cloud-provider/blob/master/cloud.go#L77-L91 for how the name is generated.

[2020-01-28 18:05] smourapina commented on #74379
Hello @dims, @andrewsykim!
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18? Thanks in advance!

[2020-01-28 18:08] timothysc opened #87613 "Update etcd server + client libraries to latest etcd 3.4 release."
**What would you like to be added**:
From looking at our gomod deps we seem to have drifted out of date again and we should update - https://github.com/etcd-io/etcd/releases/tag/v3.4.3

**Why is this needed**:
Bug fixes, feature adds, validation.

/cc @jpbetz @kubernetes/sig-api-machinery-misc @dlipovetsky

[2020-01-28 18:09] timothysc commented on #87613
Also cc: @wojtek-t @kubernetes/sig-release @dims

[2020-01-28 18:10] smourapina commented on #82532
Hello @neolit123!
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-01-28 18:10] marosset commented on #74991
I will check if we can get the same metrics quicker through hcsshim (and that we have enough information to do so where these calls are being made) and if there is a way to batch the ContainerStats call to the docker api.
Either one of these may bring latency down to an acceptable level without needing to introduce caching.

[2020-01-28 18:11] liggitt commented on #87613
we currently use `go.etcd.io/etcd v0.0.0-20191023171146-3cf2f69b5738` which is the same as `v3.4.3`

go does not allow referring to a module using a v2+ semver tag unless the module name ends with `/v<N>`

[2020-01-28 18:17] liggitt commented on #87613
opened https://github.com/kubernetes/kubernetes/pull/87614 to add an explanatory comment in our go.mod file, which is the best we can do until etcd renames its module to follow semantic import versioning, which requires changing every package import reference

[2020-01-28 18:20] mrrandrade opened #87615 "(1.17) Kubelet won't reconnect to Apiserver after NIC failure (use of closed network connection)"
We've just upgrade our production cluster to 1.17.2.

Since the update on saturday, we've had this strange outage: Kubelet, after a NIC bond fail (that recovers not long after), will have all of its connections broken and won't retry to restablish them unless manually restarted.

Here is the timeline of last time it occured:

01:31:16: Kernel recognizes a fail on the bond interface. It goes for a

[2020-01-28 18:23] vincepri commented on #82532
Probably should be expended to the next one, @detiber thoughts?

[2020-01-28 18:26] rikatz commented on #87615
/sig node
/sig api-machinery

Taking a look into the code the error happens [here](https://github.com/kubernetes/kubernetes/blob/f442b6ef320140730f544527597a140e535f1e1d/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L81)

The explanation of the code is that it assumes its probably EOF (IsProbableEOF) while in this case this doesn't seems to be.

[2020-01-28 18:51] bowei commented on #61921
/reopen
/remove-lifecycle rotten

[2020-01-28 18:54] bowei commented on #61921
/sig aws

[2020-01-28 18:54] gertcuykens commented on #66994
/remove-lifecycle stale

[2020-01-28 18:55] bowei commented on #61921
/sig provider-aws

[2020-01-28 18:57] neolit123 commented on #82532
hi, yes this work will continue in the next cycle(s).
/milestone v1.19

[2020-01-28 19:04] alculquicondor opened #87617 "Scheduler Component Config v1alpha2"
This is a tracking issue for the changes we plan to have in `kubescheduler.config.k8s.io/v1alpha2`

- [x] Blocking: new `pkg/scheduler/apis/config/v1alpha2` folder
- [x] Deprecate AlgorithmSource #87526
- [x] Move HardPodAffinitySymmetricWeight to PluginConfig #87657
- [x] Multi Scheduling Profiles #85737
- [x] Rename PostFilter to PreScore #87523
- [x] Update docs in kubernetes/website kubernetes

[2020-01-28 19:04] alculquicondor commented on #87617
/assign

[2020-01-28 19:06] alculquicondor commented on #87523
Tracking #87617

[2020-01-28 19:09] liggitt commented on #66994
External provisioners are not required to prefix with "pvc-" (the canonical example provisioner allows deployers to choose a prefix they want, see https://github.com/kubernetes-csi/external-provisioner/blob/master/README.md#other-recognized-arguments)

The current default for in-tree provisioned volumes will remain "pvc-" for backwards compatibility.

/close

[2020-01-28 19:09] #66994 closed

[2020-01-28 19:47] #87613 closed

[2020-01-28 19:50] rdxmb commented on #51475
/reopen
/remove-lifecycle rotten

[2020-01-28 19:52] rdxmb commented on #51475
could somebody reopen this ticket, please?

[2020-01-28 19:54] timothysc commented on #87613
what about github.com/coreos/etcd => github.com/coreos/etcd v3.3.10+incompatible

+ the other older etcd deps?

[2020-01-28 19:56] liggitt commented on #87613
not vendored/linked/used (can verify no code from that dependency is even present in [vendor](https://github.com/kubernetes/kubernetes/tree/master/vendor/github.com/coreos)), just in our graph, so included in replace / go.sum directives

[code]

[2020-01-28 20:02] rdxmb commented on #51475
I think this could be fixed with https://github.com/kubernetes/enhancements/issues/576

[2020-01-28 20:11] Huang-Wei opened #87621 "Unexpected scheduling of replacement Pod upon Pod deletion"
## Background

As you may have known, internally, the Kubernetes scheduler handles "unassignedPod" (nil `.spec.nodeName`) and "assignedPod" (non-nil `.spec.nodeName`) simultaneously.

- one to be handled in the internal cache:
    https://github.com/kubernetes/kubernetes/blob/15c3f1b119ff4b4073c86df05c819a9672b80d68/pkg/scheduler/eventhandlers.go#L348-L349

- while the other to be dealt with in in

[2020-01-28 20:12] Huang-Wei commented on #87621
/cc @ahg-g @alculquicondor

FYI @eranreshef

[2020-01-28 20:21] pascalstindt commented on #87441
#87588

[2020-01-28 20:36] liggitt commented on #87603
the service registry overrides the Delete implementation to free allocated ip/ports after a Delete API request:
https://github.com/kubernetes/kubernetes/blob/2cd90fb58a9d3bc8d7719f7fd9195dcb66efa2ab/pkg/registry/core/service/storage/rest.go#L249-L268

but it does not implement an AfterDelete hook in its strategy, so it does not participate in object deletion in response to removing a finalizer:

h

[2020-01-28 21:05] borissnd commented on #81999
+1

[2020-01-28 21:10] alculquicondor commented on #87621
My thinking is that this not about a "Delete" event arriving after the "Add" event for the pods.
This is about the scheduler not accounting for "terminating" pods.

For example, if I delete a pod and this takes a while, the pod spec will have `.metadata.deletionTimestamp` set and `.status.Phase = "Running"`. And deployments react to terminating pods, rather that *terminated*

For example, if I set

[2020-01-28 21:11] bowei commented on #61921
/sig cloud-provider-aws

[2020-01-28 21:13] bowei commented on #61921
/area provider/aws

[2020-01-28 21:13] bowei commented on #61921
:sigh:

[2020-01-28 21:18] fedebongio commented on #87552
/assign @jktomer

[2020-01-28 21:19] fedebongio commented on #87554
/cc @deads2k
who is already looking at the PR

[2020-01-28 21:20] fedebongio commented on #87583
/assign @apelisse

[2020-01-28 21:20] vvelikodny commented on #87554
@fedebongio thanks

[2020-01-28 21:21] fedebongio commented on #87594
Who would like to be assigned on this one?
@MikeSpreitzer @lavalamp

[2020-01-28 21:22] fedebongio commented on #87615
/assign @caesarxuchao

[2020-01-28 21:44] caesarxuchao commented on #87615
@rikatz can you elaborate how did you track down to the code you pasted?

My thought is that the reflector would have restarted the watch no matter how it handles the error ([code](https://github.com/kubernetes/kubernetes/blob/53376cdf12b31c3c2405758c97e2ebca442ea7ea/staging/src/k8s.io/client-go/tools/cache/reflector.go#L299)), so it doesn't explain the failure to recover.

[2020-01-28 21:57] Huang-Wei commented on #87621
@alculquicondor It's true that at the same point, there are 2 Pods existing - one Running and one Terminating. So when it comes to scheduler, should we schedule the new one excluding the terminating one or not? This is the point of this issue.

BTW: the context we should discuss is the Pods belong to the same controllerRef.

[2020-01-28 22:09] timothysc commented on #87613
uhhh that's weird, we need to dump viper for component config, but no one wanted todo that work.

[2020-01-28 22:21] tbarrella commented on #3595
/remove-lifecycle stale

[2020-01-28 22:31] alculquicondor commented on #87621
I think there are points that can be made for excluding or counting terminating pods. Then the decision might come to each (filter) plugin to decide what's best for them.

But even then, I think there might always be some use case that goes against our decision. At least in #86037, I would say the user should use pod antiaffinity to enforce the distribution they want.

My stance then is to keep cu

[2020-01-28 22:35] skilxn-go commented on #87617
/cc

[2020-01-28 22:52] ahg-g commented on #87621
I agree with https://github.com/kubernetes/kubernetes/issues/86037#issuecomment-563096452, I think excluding terminating pods for pod spread (and perhaps affinity) makes sense, and it should be done inside the filter. A terminating pod will eventually be deleted, and so the system will be back to a good state eventually.

I don't agree with solutions that block the scheduling of a pod to force spe

[2020-01-28 22:55] apelisse commented on #87594
We have a lot of things going on for this, some are complete, some are not, this list is not exhaustive:
On-going, feel free to comment: https://github.com/kubernetes/community/pull/4218
Done, but feel free to comment too: https://github.com/kubernetes/kube-openapi/blob/master/pkg/idl/doc.go

[2020-01-28 22:56] apelisse commented on #87594
Yeah, this is not easy to "trigger", we'll on work on making this more obvious, that's great feedback.

[2020-01-28 23:16] cheftako commented on #74379
Hi @smourapina, SIG Cloud-Provider is aiming for an alpha implementation in 1.18.

[2020-01-28 23:17] cheftako commented on #74379
https://github.com/kubernetes/enhancements/pull/1406

[2020-01-28 23:18] cheftako commented on #74379
/assign @nckturner

[2020-01-29 00:11] #82117 closed

[2020-01-29 00:43] shahzzzam commented on #87579
@andyzhangx Does the current `az aks` use 1.15? how do I upgrade that?
What steps should I take to make this work?

[2020-01-29 01:05] Jeffwan commented on #78429
@tan-tan-kanarek  How do you resolve this issue?

[2020-01-29 02:04] ZimbiX commented on #27264
This issue is such a pain! A real shame it's so old too =(

I spent ages trying to find a way to get my script that runs in the pod to wait until the attach happens, but I can't work out where to get that signal from. The least worst option I've had to go with is prefixing the command with what's effectively a skippable sleep:

[code]

`kubectl run` tends to take about 5 seconds to start showing t

[2020-01-29 02:36] jtagcat commented on #35421
link is now 404, still an issue

[2020-01-29 03:44] mleonhard opened #87634 "Document kubectl config file format"
**What would you like to be added**:

Documentation of `kubectl` YAML config files

**Why is this needed**:

So I can understand, write, and maintain kubectl config files.

**Expressing frustration**:

I'm learning Kubernetes.  I went through the tutorials - thanks.  Now I'm trying to set up services to run on minikube and my hosting provider.  The kubectl command apparently takes a YAML config fi

[2020-01-29 03:48] mleonhard commented on #87634
/sig docs

[2020-01-29 03:49] mleonhard commented on #87634
Terraform's kubernetes provider has some [usable documentation](https://www.terraform.io/docs/providers/kubernetes/r/deployment.html).  Presumably its config keys and values have the same meanings as those used by kubectl, although the file format is different.

[2020-01-29 03:55] alejandrox1 commented on #83683
@evillgenius75 can we close this one?

[2020-01-29 04:17] haosdent commented on #87621
We could continue to process other pods if it doesn't have dependencies? And for the pod has hard depdencies, we just check if the requirements match, if not match, we skip it and would check at next scheduling cycle?

[2020-01-29 04:22] andyzhangx commented on #87579
You could specify aks version in az aks create
[code]

and also could specify version in upgrade:
[code]

I will close this issue, let me know if you have any question.

[2020-01-29 04:22] andyzhangx commented on #87579
/close

[2020-01-29 04:22] #87579 closed

[2020-01-29 04:27] haosdent commented on #80611
I think could put it in https://github.com/kubernetes-sigs/scheduler-plugins  @hex108

[2020-01-29 05:11] neolit123 commented on #87634
this blog post mentions `kubectl explain`, which is the dynamic way of obtaining documentation.

https://kubernetes.io/docs/reference/kubectl/overview/#resource-types
also you can use `kubectl api-resources` and then based on the APIGroup column you can find fields in the go docs at:
https://godoc.org/k8s.io/api

i think the documentation you are asking for is examples based, and it's missing beca

[2020-01-29 05:15] skilxn-go commented on #87621
I think it seems to be a tradeoff between consistency and availability. And it's different for pod spread and pod affinity.
- For pod anti-affinity, I think we may not exclude terminating pods, it may cause some consistency problems as we don't know the status of the terminating process.
- For pod spread and pod affinity, I think it's ok to exclude terminating pods, which guarantee us an eventuall

[2020-01-29 05:36] MikeSpreitzer commented on #87594
/assign @MikeSpreitzer

[2020-01-29 06:26] Huang-Wei commented on #87621
I did some further debugging, and found that the "delete" event we were talking about comes everytime before the "add" event. But one thing worth noting is that the "delete" event is more an "update" event which sets the Pod's `.spec.deletionTimestamp` to a non-nil value.

For example, I have a Deployment with 2 Pods running, using topology spread containts to ensure they're running in 2 nodes:

[

[2020-01-29 06:29] skilxn-go commented on #87621
yes, after the pod terminated, it will be actually deleted by kubelet, in my memory.

[2020-01-29 06:45] Huang-Wei commented on #87621
@haosdent it seems I complicated the case - the "update" event happens ahead to "add" event everytime.

@ahg-g @alculquicondor @skilxn-go Can we verify the "update" case at:

https://github.com/kubernetes/kubernetes/blob/1590c7b31cb40259397ccef602b6d6dc2a9f9d72/pkg/scheduler/internal/cache/cache.go#L430-L436

to check if newPod has non-nil deletionTimestamp, if yes, remove it from cache rather tha

[2020-01-29 06:49] YuikoTakada commented on #87047
could you please put a check mark on `e2e/common/` ? because #87270 has been merged, thanks.

[2020-01-29 07:02] skilxn-go commented on #87621
In most cases, I think this works well. But just for pod anti-affinity, I think users who use it will expect a more strong consistency when scheduling pods.
We can't make sure if a pod has terminated before the delete event received.

[2020-01-29 07:07] skilxn-go commented on #87621
But as @ahg-g said:

So, I'm not sure if eventual consistency is acceptable for pod anti-affinity.

[2020-01-29 07:14] skilxn-go commented on #87621
I think there may be a case like this:
Say there is a deployment:
1. Pods in the deployment use host-path volume.
2. A user wants to keep on host-path can only be used by one pod, so he uses pod anti-affinity to achieve this.
3. The pod's terminating behavior is clean up the host-path.
4. Once a pod is stuck at terminating (for any reason). We may schedule a new pod to this node as we exclude the

[2020-01-29 07:20] skilxn-go commented on #87621
There may be some same cases when we use pod spread. (use the hostname as topo-key,  and maxskew = 1)

[2020-01-29 07:22] kvaps commented on #84322
/remove-lifecycle stale

[2020-01-29 07:35] tan-tan-kanarek commented on #78429
I changed the namespace to the default.

[2020-01-29 07:51] mihyonq commented on #47862
+1

[2020-01-29 07:59] yp28 commented on #87244
Misleading indeed.

Then they're probably deployed using different configuration anyway, so they'll need a different JoinConfiguration anyway.

My use-case is this: I deploy machines using Terraform, and only having the node-ip option forces me to generate a new configfile for each and every node, bloating the output of Terraform plans. Having to specify an interface will allow me to only generate

[2020-01-29 08:02] ganga1980 commented on #57005
Hi, @derekwaynecarr

I am hitting the same error in this thread on my Openshift4.2 cluster which has configured CRIO on the kubelet. I would like to hit /var/run/crio/crio.sock to get inventory of the containers.  Any body has any insights why I am hitting this error?

[root@myocp42-pdqlw-worker-eastus3-lgsrx /]# curl -v --unix-socket /var/run/crio/crio.sock http://localhost/info
*   Trying /var/r

[2020-01-29 09:11] s-urbaniak commented on #87583
/cc @soltysh

[2020-01-29 09:28] bertinatto commented on #84585
/remove-lifecycle stale

[2020-01-29 10:02] nzoueidi commented on #87552
/cc

[2020-01-29 10:13] RobertoDonPedro commented on #17088
Is there currently a solution or workaround availble that works on GKE?
I tried the `externalName` approach with both gce-ingress as well as nginx-ingress, but in any case I end up with

[2020-01-29 10:19] iamcryptoki opened #87643 "Getting invalid Azure Active Directory token after upgrading kubectl to 1.17.2"
**What happened**:

I have a Highly Available Kubernetes cluster (v1.17.0) living in a private Cloud, and API server is configured to authenticate users with Azure Active Directory.

Kubectl is installed on 3 computers with differents systems : macOS, Linux, and Windows.

1. After upgrading kubectl to 1.17.2 on my macOS computer, I am now getting `error: You must be logged in to the server (Unauth

[2020-01-29 10:28] nzoueidi commented on #14924
Raising this issue again, I would like to help also if there is anything needed here.

[2020-01-29 12:42] jethrogb commented on #63906
/remove-lifecycle stale

[2020-01-29 12:46] #87296 closed

[2020-01-29 13:03] costimuraru commented on #29789
Thanks, @andrewsykim. This is useful information, thanks for sharing!
It does not solve the whole issue though, because the UID is randomly generated so we still need to wait for the LoadBalancer resource to be created first.
This means we can't create the `LoadBalancer` resource alongside the `ExternalMetric`, in one step. We still have to first create the LoadBalancer, retrieve the Service UID s

[2020-01-29 13:10] Ejdamm commented on #51835
This happens me when a pod is running out of memory. It doesn't terminate until the memory usage goes down again.

[2020-01-29 13:16] salvob commented on #86299
Exactly!
I confirm that the problem was related to [istio/istio#19481](https://github.com/istio/istio/issues/19481)

[2020-01-29 13:16] #86299 closed

[2020-01-29 13:31] mrobson commented on #84595
/remove-lifecycle stale

[2020-01-29 14:00] deads2k commented on #87510
I linked @mfojtik

[2020-01-29 14:03] bg-chun commented on #83476
@abel-von
Here is related discussion for the topic what you mentioned.
https://docs.google.com/document/d/1YTUvezTLGmVtEF3KyLOX3FzfSDw9w0zB-s2Tj6PNzLA/edit?disco=AAAADdeMnZA

[2020-01-29 14:25] #82218 closed

[2020-01-29 14:37] FWirtz commented on #22368
This seems like a promising workaround for now: https://github.com/pusher/wave.
(Basically what @scottrobertson is suggesting, adds the CM hash automatically to the pods, then cycles pods if outdated CM loaded.)

I also think this should be solved by kubernetes directly though.

[2020-01-29 14:41] jayunit100 commented on #87574
oh   i already did this :) https://github.com/kubernetes/kubernetes/pull/87576

[2020-01-29 14:50] gmjjatin commented on #23726
Here is how I resolved it:

1. Make sure kubectl is installed. Check it using:
`gcloud components list`
If no install kubectl first.

2. Go to your project's Kubernetes engine console on gcloud platform.

3. There connect with the cluster in which your project resides. It will give you a command that you have run in your local command prompt/terminal. For example, it will look like:

`gcloud conta

[2020-01-29 15:01] krish7919 commented on #81469
Is there an update on this?

[2020-01-29 15:15] alculquicondor commented on #87621
I disagree in general terms. We don't know how long deletion is going to take and there could be several pods terminating at the same time. While it might be beneficial for pod spreading filter to not consider terminating pods, for filters that involve resource usage, it's incorrect to not consider them. They are still using resources and, again, we don't know for how much longer.

For simplicity,

[2020-01-29 15:18] skilxn-go commented on #87621
Agreed with @alculquicondor , the resource limit is another important issue.

[2020-01-29 15:26] ahg-g commented on #87621
Agreed with the previous two comments, we can't make a blanket decision to exclude terminating pods because resources assigned to those pods may have not be reclaimed yet. I think it makes sense to exclude them for spreading.

[2020-01-29 15:32] #80716 closed

[2020-01-29 15:32] #87521 closed

[2020-01-29 15:33] #86590 closed

[2020-01-29 15:52] neolit123 commented on #87244
i have no historic context of why this separation of external-ip vs internal-ip exists, but as i explained above external-ip is set by cloud provider integration with the kubelet. to get more feedback on this topic you must ask the owners of the kubelet - sig-node, `#sig-node` on the k8s slack.

[2020-01-29 16:00] yxzking opened #87649 "v1.17 Can you customize the version information?"
I have a k8s cluster. I want to add some custom names after this VERSION. What do I need to do?

[code]
For example **VERSION** display:
v1.13.10-aliyuncloud

[2020-01-29 16:03] alculquicondor commented on #87523
https://github.com/kubernetes/enhancements/pull/1511#issuecomment-579820681

Here is a problem with how to convert a v1alpha1.PostFilter to v1alpha2.PreScore plugin if we remove NodeToStatusMap? My suggest is passing an empty map to previous post-filter interface.
Can we reach this agreement?

This shouldn't be a problem, as no in-tree plugin uses that map.

[2020-01-29 16:03] skilxn-go commented on #87523
As we discussed, here is some base opinion for pre-score:
## interface
[code]
## some details
As we removed `filteredNodesStatuses NodeToStatusMap` from the interface, and v1alpha1.postfilter need it, when converting v1alpha1.postfilter to prescore, we will pass an empty `NodeToStatusMap` to it.

[2020-01-29 16:05] skilxn-go commented on #87523
Yes, just searched, so it's safe for internal-plugins, and for user-custom plugins, it will cause some compatible problems.
I think we should notice that at release node?

[2020-01-29 16:06] alculquicondor commented on #87523
Yes, we should add the change to the release notes.

[2020-01-29 16:08] skilxn-go commented on #87523
Sure, I will start working on it after #87628 merged 😆

[2020-01-29 16:11] hasheddan commented on #87473
xref: https://github.com/kubernetes/kubernetes/pull/78819

@caesarxuchao any updates here?

[2020-01-29 16:15] dims opened #87651 "cos-77-12371-89-0 is deprecated"
Example from a recent [pull-kubernetes-e2e-gce job](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/87606/pull-kubernetes-e2e-gce/1222164302757105664/build-log.txt)
[code]

[2020-01-29 16:22] dims commented on #87651
/sig testing

[2020-01-29 16:22] dims commented on #87651
/assign

[2020-01-29 16:30] hasheddan commented on #86334
@liggitt @oomichi I took a look at the original link and don't see any recent flakes. Do you know if we are still experiencing the issue described here?

[2020-01-29 16:37] sftim commented on #53533
That sounds like a [KEP](https://github.com/kubernetes/enhancements#is-my-thing-an-enhancement).

[2020-01-29 16:42] alculquicondor commented on #87083
@tedyu did you find anything?

[2020-01-29 16:42] enragedginger opened #87655 "Rename "taint" to something less vulgar"
**What would you like to be added**:
Rename "taint" to something less vulgar.

**Why is this needed**:
In common English, a taint is an area in the nether regions of the human body. This makes discussing Kubernetes "taints" very difficult in a professional or public setting, especially if anyone who doesn't already know of Kubernetes "taints" is present.

We should rename "taint" to be either "per