[2015-09-23 04:23] #9199 closed

[2015-09-23 04:33] roberthbailey commented on #6106
I'm going to close this and move the discussion to https://github.com/kubernetes/kubernetes/issues/7459, where @lavalamp proposes a cluster controller that runs on the master and drives node upgrades.

[2015-09-23 04:33] #6106 closed

[2015-09-23 04:36] dalanlan commented on #13627
I'll take care of this later.

[2015-09-23 04:43] roberthbailey commented on #3979
We are now quite a bit further out of date, as the current release is 2015.8.0 (https://docs.saltstack.com/en/latest/topics/releases/2015.8.0.html). However, there are quite a few efforts underway to reduce / eliminate our dependencies on salt, and we know the bugs in the version that we are currently using. I don't see this being high enough priority for someone to work on it any time soon.

[2015-09-23 04:43] #3979 closed

[2015-09-23 04:44] roberthbailey commented on #3885
This issue has quite a bit of overlap with https://github.com/kubernetes/kubernetes/issues/5511 and https://github.com/kubernetes/kubernetes/issues/6080.

[2015-09-23 04:46] roberthbailey commented on #3579
@zmerlynn Can you provide an update on where we are at and where we are likely to go with this? I think that with the Deployment API and `kubectl apply` we may have a satisfactory answer for addons at cluster initialization time and during upgrades.

[2015-09-23 04:58] bgrant0607 commented on #11808
cc @timstclair @davidopp

[2015-09-23 05:04] roberthbailey commented on #10368
I just rebooted a node in a GCE cluster and it properly transitioned back to the Ready state. Can you file a new issue so that we can tag it with the appropriate environment (bare metal / local cluster up / etc)?

[2015-09-23 05:07] roberthbailey commented on #12768
/cc @fgrzadkowski

[2015-09-23 05:16] roberthbailey commented on #2799
/cc @lavalamp

[2015-09-23 05:27] thockin opened #14398 "iptables kube-proxy could handle empty endpoints better"
Rather than just hanging trying to connect, we should find a way to terminate the connection.

[2015-09-23 05:28] roberthbailey commented on #14097
@diranged I agree it would be nice to just disable host name verification -- do you know of any easy way to do this with the Go SSL libraries? Using `InsecureSkipVerify` is a pretty big hammer (effective for getting things up and running, but not good for trying to run a production system) but I don't see anything more precise that is an easy knob to configure using the default libraries.

[2015-09-23 05:28] thockin opened #14399 "iptables kube-proxy could maybe remove dead endpoints faster"
It's tricky because it is all in-kernel, but maybe we can find a way to recognize failed connections to endpoints an "penalty-box" flaky endpoints.

[2015-09-23 05:29] roberthbailey commented on #12732
The plan is for the core system to support both static and dynamic clustering. Dynamic clustering would be the default for the "kick the tires" use case because it would require minimal initial work to get the cluster set up. Static cluster might still be preferred for deployments where you wanted to have tighter control over the certificates used in the cluster.

[2015-09-23 05:34] thockin commented on #14342
@artfulcoder

On Tue, Sep 22, 2015 at 7:17 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-09-23 06:08] mikedanese commented on #3885
Is this satisfied by switching a kubelet to OperatorSwitchedOff=true or Accepting=false if the node controller per #14140

[2015-09-23 06:52] wb14123 opened #14400 "Stop old pods after new pods are successful deployed while do rolling update"
I'm using rolling update a resource controller with kubernetes. But I find it stops old pods after new pods are scheduled, instead the new pods are successful deployed.

For example, the new pod uses a new image, which need time to pull from registry. But the old pods are stopped before the new image is pulled, though new pods are scheduled.

I'd like to know is this a bug or by design?

[2015-09-23 07:07] dalanlan commented on #14269
/cc @dalanlan

[2015-09-23 07:12] dalanlan opened #14402 "Containerized kubelet cannot open /proc/<pid>/cgroup when syncing pods"
Part of #13627
[code]
Also showed in the events
[code]

The syncing pod problem is caused by namespace isolation. kubelet cannot access pause process of infra container locates on the host.
In this case, it could turn to /rootfs (host filesystem as a volume) --- try /rootfs/proc/< pid >/cgroup instead.

Related to #4869
Attempted to fix via #13663

/cc @fgrzadkowski

[2015-09-23 07:15] dalanlan opened #14403 "Containerized kubelet cannot manage image garbage collection properly"
Part of #13627
[code]

The gc problem of cadvisor is because it cannot check the mount point of /var/lib/docker.
[code]
Hence it wont add the required label.

Yet we do have this in the containerized kubelet
[code]
It's deprecated by https://github.com/google/cadvisor/blob/master/fs/fs.go#L88
'cause we have following already
[code]
Related to #4869
/cc @fgrzadkowski

[2015-09-23 07:21] zhengguoyong commented on #1111
/sub

[2015-09-23 07:24] maklemenz commented on #14352
Thank you @erictune, I appreciate the time you spend.

The cloud_config file contained an entry `project-name` which I saw in a stackoverflow post. I added it while troubleshooting.

Removing it gave me this error:

	I0923 07:14:33.315311   23743 manager.go:127] cAdvisor running in container: "/user.slice"
	I0923 07:14:33.316263   23743 fs.go:93] Filesystem partitions: map[/dev/vda1:{mountpoint:/

[2015-09-23 07:24] #14352 closed

[2015-09-23 07:36] chao007 commented on #14349
@pmorie
----
time->Tue Sep 22 13:15:53 2015
type=SYSCALL msg=audit(1442898953.429:169649): arch=c000003e syscall=2 success=yes exit=3 a0=7ffe95a08e01 a1=941 a2=1b6 a3=7ffe95a07b20 items=0 ppid=31413 pid=31461 auid=4294967295 uid=0 gid=0 euid=0 suid=0 fsuid=0 egid=0 sgid=0 fsgid=0 tty=pts0 ses=4294967295 comm="touch" exe="/usr/bin/touch" subj=system_u:system_r:svirt_lxc_net_t:s0:c331,c740 key=(null

[2015-09-23 07:39] zhengguoyong commented on #9729
@RichieEscarez
hi Richie, i think i can make some fix for this issues  :)

[2015-09-23 07:42] slintes opened #14404 "pod status not updated after recovering from error"
Hi,

I have a strange situation where a pod status is GenerelError, but the pod is running (after recovering from that error by starting another docker conatiner):
[code]

The corresponding containers are running fine and doing their work:
[code]

I'm running k8s 1.0.6
[code]

Greetings, Marc

[2015-09-23 07:46] slintes commented on #14404
oh, if that is of interest: I'm running on CoreOS 808.0.0 with docker 1.8.2

[2015-09-23 08:14] gmarek commented on #14273
@yujuhong - It's probably too late for this answer, but yes - Kubelet eventually reports those pods as running.

[2015-09-23 08:35] bliss commented on #10368
@roberthbailey: surely. Thank you.

[2015-09-23 08:47] bliss opened #14408 "Node never gets back to cluster after reboot"
Good day!
After a node reboot it never gets back and has NotReady status. Node kubelet status is OK. To bring a node back to cluster I have to restart node kubelet.
Could it be systemd services start order problem? I had similar problem with standalone cAdvisor: when it started not after docker it worked but sent no data.
[code]
[code]
[code]
minimal CentOS 7, KVM setup, bridge networking, master

[2015-09-23 09:11] jonaz commented on #7891
Is'nt this solved in PR #8011?

[2015-09-23 09:40] fgrzadkowski opened #14409 "Overlay network doesn't work for docker-multinode setup"
I have a cluster based on "docker-multinode" getting started guide with some changes that adapts it to systemd OS (i.e. Ubuntu 15.04). I have a problem with flannel-based overlay network:

I have a pod with IP ```10.1.75.2``` (our porter image). I can ping/curl it from a node it runs it:
[code]
The same thing does not work on other nodes (master and other nodes):
[code]
I checked entries in etcd a

[2015-09-23 10:11] gmarek commented on #14273
I went through Jenkins logs and I found a run with "good" -the latest I found was scalability run 2465, which was started ~6pm 18th. It may be an extreme luck, but I haven't seen a 'fast run' since. I'll start looking for culprit from weekend... (which can mean it can be #12894, which was merged on 19th, but for some reason revert is not enough...)

[2015-09-23 10:17] ArtfulCoder commented on #14342
@jiangyaoguo you are running an older version of the test. can you get the latest and try again ?
This test had not failed at all yesterday in our automated test runs yesterday.
Closing issue for now.

[2015-09-23 11:24] qwang1 opened #14416 "Pod failed scheduling but the quota usage increased if pod requirements exceed the node available resources"
Apply quota to a namespace, set requests and limits to a pod and then create it. The resource requirement within quota limitation and exceed the node available resources. The pod failed scheduling with the log  "Failed for reason PodExceedsFreeCPU and possibly others", but the quota  usage increased.
[code]

[2015-09-23 11:58] soltysh commented on #14416
@derekwaynecarr

[2015-09-23 12:08] jvkisy opened #14420 "aws region in Beijing, China is not in the aws.go"
The name of region in Beijing is `cn-north-1` ,but it does not be included. I can no use k8s's volumes to mount ebs to my container.
[code]

[2015-09-23 12:31] soltysh opened #14421 "runSchedulerNoPhantomPodsTest integration flake"
Yet again [shippable](https://app.shippable.com/builds/56028d3347225d0e0098e50f) failure:
[code]

[2015-09-23 12:51] jiangyaoguo commented on #14342
@ArtfulCoder This failure depends on if the pod be really deleted  and  kube-proxy (the test container on) catch that the endpoint is deleted in 5s . After sending "delete pod" request for 5s, if the pod was still there and kube-proxy still contains  this endpoints(this may happen under pressure), hit test can still detect 5 endpoints.  At least we should ensure the pod was deleted. Anyway,  I thi

[2015-09-23 13:15] gmarek opened #14424 "Some service e2e tests are timing out."
I marked this test as *skip*, to unbreak the build.

cc @quinton-hoole @thockin @wojtek-t

[2015-09-23 13:16] fgrzadkowski commented on #14402
Updated also in PR, but pasting here for reference:

@dalanlan Isn't it that it's enough to pass ```--pid=host``` option when starting kubelet? See https://docs.docker.com/reference/commandline/run/

[2015-09-23 13:40] fgrzadkowski opened #14426 "Upgrade flannel to 0.5.3 version as 0.5.0 has a bug that may hang flannel"
See details https://github.com/coreos/flannel/issues/325#issuecomment-142464502

[2015-09-23 13:51] derekwaynecarr commented on #14416
This is working as designed.  The quota charge happens at creation, and not at schedule of the pod.

[2015-09-23 13:51] #14416 closed

[2015-09-23 13:55] sdminonne commented on #14263
@thockin  @pmorie  the `*api.Pod` stored in the volume is not updated anymore by the kubelet synch loop gathering the information directly from the apiserver correctly updates the labels in the volume. Are you aware of any changes that could bring to this?

[2015-09-23 14:07] dserodio commented on #8773
What about zsh completion, should I file another enhancement request?

[2015-09-23 14:48] fgrzadkowski opened #14429 "docker-multinode does not work on Ubuntu 15.04"
The problem is that docker is managed by systemd and so the configuration files which are written in master.sh and worker.sh are ignored.

I have a change locally that fixes this, but need to polish it.

@resouer @dalanlan @brendandburns

[2015-09-23 14:51] fgrzadkowski commented on #13627
@dchen1107 I'll sync with @dalanlan on the fix.

[2015-09-23 14:53] fgrzadkowski commented on #14403
Assigning to myself because I'm working on containerized kubelet. Will reassign if needed.

[2015-09-23 15:02] jonbaierCTP commented on #13865
Sorry for leaving this open, it's been an intense 2 weeks for my day job.

I tried your example and also went back to my app and I am successfully get affinity working. I did upgrade and redeploy my cluster, so I'm guessing maybe it was an old bug?? In any case, it's working great now. Thanks so much for helping me troubleshoot!

[2015-09-23 15:12] mikedanese commented on #8773
completions are generated by https://github.com/spf13/cobra. once they have it, we get it for free.Maybe file it there

[2015-09-23 15:27] kshelton commented on #13035
Implemented without a cache because forwarding rules, etc. are already being retrieved without caching.

I think as a next improvement there should probably be a more generic GCE level cache like the kubernetes cache in the service controller.  I looked at using that implementation, but it is specific to the format of the kubernetes api.  Perhaps it would be best to generalize that component, as i

[2015-09-23 15:33] pkriens commented on #260
The discussion is all about IP numbers and Pods but in my experience with Mongo & Zookeeper the IP the Pods should stay irrelevant (not become pets). The persistent _volume_ needs a nominal number since this volume records the IP number of the other 'volumes'.  Whatever Pod that mounts that volume should be able to use that recorded IP number somehow. The volume is the pet ...

A DNS name that is

[2015-09-23 15:48] thockin commented on #14263
Ah, I knew that attaching to the syncLoop would bite us.  I think you'll
have to set up some sort of loop or timer.  This is something kubelet or
the volume.Host should help with.

@yujuhong

On Wed, Sep 23, 2015 at 6:55 AM, Dario Minonne <notifications@github.com>
wrote:

[2015-09-23 15:50] thockin commented on #14409
From the other thread it sounds like this is fixed?

On Wed, Sep 23, 2015 at 2:40 AM, Filip Grzadkowski <notifications@github.com

[2015-09-23 15:51] deads2k opened #14433 "APIGroupVersion smashes discrete fields"
https://github.com/kubernetes/kubernetes/pull/13945 made `APIGroupVersion.Root` (https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/apiserver.go#L81) a combined field when called from https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L988.

This ends up making the field ambiguous, since `APIPrefixes` are allowed to contain slashes (at least my knowledge).  E

[2015-09-23 15:58] thockin opened #14434 ""Oom" should be "OOM" or "oom""
We have a number of symbols that use the "Oom" denotation and others that use "OOM".   This is an acronym, not a word, and as per Go style rules should be consistent-case, not first-letter-caps.

e.g.

`type OomAdjuster`, `ApplyOomScoreAdj`, `NewOomAdjuster`

[2015-09-23 16:13] zmerlynn commented on #3579
* Someone needs to do the work to transition all the addons to deployments
* There still needs to be an addon reconciler of sorts (i.e. desired list for cluster config vs current list of deployments)

Otherwise, yes, it looks like things got drastically simpler here.

[2015-09-23 16:35] yujuhong commented on #14273
@gmarek, could you grep kubelet log and see if the pod status updates are back to normal after your revert?

[2015-09-23 16:44] gmarek commented on #14273
I can't - my cluster is already down. Plus I don't really know what 'normal' means:)

[2015-09-23 16:47] yujuhong commented on #10288
Discussed with @ejemba on #14115, and we decided to wait until the pod lifecycle event generator (#12802) is completed, so that we could extend that to throw an event.

Lowering the priority since the change will not be done anytime soon.

[2015-09-23 16:50] yujuhong commented on #14273
Too bad. "Normal" means that it should not send any update if there is no change :)

[2015-09-23 16:55] sdminonne commented on #14263
@thockin hmm not exactly the update is invoked regulary (5 secs) but the pod does not contain the update

[2015-09-23 16:58] ichekrygin commented on #14389
missed the original, thx.

[2015-09-23 16:58] #14389 closed

[2015-09-23 16:59] pmorie commented on #14349
@rootfs Is there an selinux boolean for ceph that needs to be enabled?

[2015-09-23 17:06] yujuhong commented on #14263
@sdminonne, could you point me to the code where the "pod" is supposed to be updated? I am not aware that syncLoop is responsible for updating the pods for this, nor do I know that it has been changed.

[2015-09-23 17:17] vishh commented on #14408
Can you post the events from the kubelet soon after it comes up after a
node restart?

On Wed, Sep 23, 2015 at 1:47 AM, bliss <notifications@github.com> wrote:

[2015-09-23 17:26] dchen1107 commented on #14263
Comment at https://github.com/kubernetes/kubernetes/issues/14263#issuecomment-142608947 is very hard for me to parse. Can you provide more detail information on this?

[2015-09-23 17:31] quinton-hoole commented on #13323
Done

[2015-09-23 17:31] #13323 closed

[2015-09-23 17:36] ArtfulCoder commented on #14394
[Timeout] Query timed out: msg id 14054
[Timeout] Query timed out: msg id 13828
[Timeout] Query timed out: msg id 14136
[Timeout] Query timed out: msg id 14316
[Status] Testing complete (time limit)

Statistics:

  Queries sent:         21315743
  Queries completed:    21304437 (99.95%)
  Queries lost:         11306 (0.05%)

  Response codes:       NOERROR 21303038 (99.99%), SERVFAIL 1209 (0.01%),

[2015-09-23 17:49] brendandburns opened #14437 "TestServiceAccountAuthentication in test-integration.sh is flaky"
https://app.shippable.com/builds/5601bbcf85b6590c000dd482

[code]

[2015-09-23 17:51] bliss commented on #14408
Surely
[code]

[2015-09-23 17:57] RichieEscarez commented on #9729
Thanks @zhengguoyong!
FYI: That file and graphic as since moved to here: https://github.com/kubernetes/kubernetes/blob/master/docs/admin/ovs-networking.md

[2015-09-23 18:05] vishh commented on #14408
I dont see any issues from the logs. Can you post the output of `kubectl
get events` ?

On Wed, Sep 23, 2015 at 10:52 AM, bliss <notifications@github.com> wrote:

[2015-09-23 18:10] RichieEscarez commented on #2838
I found some guidance here that ill try to digest and take action on: https://support.google.com/webmasters/answer/35291?hl=en

[2015-09-23 18:11] saad-ali commented on #11042
This should be fixed with #8530 and #14109

[2015-09-23 18:11] #11042 closed

[2015-09-23 18:11] brendandburns commented on #12312
This just flaked again.  Raising to P0

[2015-09-23 18:11] bliss commented on #14408
Surely
[code]

[2015-09-23 18:12] brendandburns commented on #12312
https://app.shippable.com/builds/5602e5d74c57620b003f441f

[code]

[2015-09-23 18:22] roberthbailey commented on #14338
Sorry @JeanMertz -- those release notes have gotten a bit out of date. We have new release notes that have just been published showing that `1.0.6` is currently the default version for new clusters and also the version to which you can upgrade your nodes.

[2015-09-23 18:22] #14338 closed

[2015-09-23 18:26] #13647 closed

[2015-09-23 18:30] thockin commented on #14394
It's good that we start to get repro.  It's different than what some
reports have been (DNS taking 5-8 seconds and then succeeding), but we
should keep digging.

On Wed, Sep 23, 2015 at 10:37 AM, Abhi Shah <notifications@github.com>
wrote:

[2015-09-23 18:30] #14340 closed

[2015-09-23 18:33] karlkfi commented on #12281
Just to set expectations here, we don't have any automated tests to validate multi-master k8s on mesos setups and it's not high on the priority list yet. Passing conformance test, validating dependence on etcd-mesos, and component registration all take precedence. Once those key pieces are in place we hope to focus more on HA modes.

We're definitely willing to take PRs to improve multi-master set

[2015-09-23 18:37] yujuhong commented on #14404
@slintes, do you by any chance still have the kubelet.log of the relevant time period?

[2015-09-23 19:00] karlkfi commented on #13896
@mikedanese Did I convince you?

[2015-09-23 19:08] smarterclayton commented on #260
Yes, pod IP is more of a short term hack.

Where this proposal is going is something above DNS and volume that both
can leverage to stay coupled.  The concern is that volume defining DNS name
is the reverse of the coupling we have already established, and we also
want to let other parts of the pod spec leverage that higher concept
(identity) like the downward API on environment.  That makes adapti

[2015-09-23 19:19] fgrzadkowski commented on #14409
Oh, sorry. I forgot to update this bug. It's not fixed yet, but we know the root cause. flannel 0.5.0 has a bug which can break overlay network (see details https://github.com/coreos/flannel/issues/325). I created a separate bug to upgrade version in kubernetes (https://github.com/kubernetes/kubernetes/issues/14426)

[2015-09-23 19:19] #14409 closed

[2015-09-23 19:44] diranged commented on #11543
Just to add to this.. we've setup K8S 1.0.6 inside our VPC and just added `--cloud-provider=aws` (_and the accompanying IAM profiles to our nodes_). While things like `kubectl` work fine, we noticed that the `kubelet` processes are now registering themselves in the `kube-apiserver` with their EC2 name rather than the hostnames we use internally.

Now, we "allow" use of the `.internal` domain name

[2015-09-23 19:46] markturansky opened #14443 "Persistent Volume health checks / reconciliation with provider"
The introduction of volume.Creater allows new volumes to be created dynamically in the storage provider.  PVs are then created that point to the volume.

Errors can occur in between creation of the resource (say an EBS volume in AWS) and the creation of the PV pointing to that resource.  This leaves the EBS volume orphaned and without a PV.

Each volume created in the infrastructure requires, at a

[2015-09-23 19:56] #14059 closed

[2015-09-23 20:19] mikedanese commented on #14138
I am running this with g1.5.1

[2015-09-23 20:26] bgrant0607 commented on #13812
@linzichang Nobody is working on this at the moment, if you'd like to take a look.

[2015-09-23 20:46] ArtfulCoder commented on #14394
#14315
#14051

[2015-09-23 20:51] slintes commented on #14404
no, but I could reproduce it (I left out other running pods from the logs):

[code]

[2015-09-23 20:51] roberthbailey commented on #14339
Also see https://github.com/kubernetes/kubernetes/issues/6080 and https://github.com/kubernetes/kubernetes/issues/5511.

[2015-09-23 20:52] roberthbailey commented on #14335
/cc @jlowdermilk (who solved a similar issue related to kubeconfigs recently)

[2015-09-23 20:57] roberthbailey commented on #11869
Bump

[2015-09-23 20:57] mvdan commented on #14081
Updated progress since the bridge between heapster and apiserver is now done, as well as the rc config. I'm pushing all of those to https://github.com/kubernetes/heapster/pull/549 too.

[2015-09-23 21:03] yujuhong commented on #14404
Kubelet can't generate correct status because it encountered error inspecting one of the dead containers. We should improve that.

On the other hand, I am curious why the container creation/inspect continues to fail.
@slintes, does `f9c8bdc7c0b669364c68b83e9a` show up in `docker ps -a`, and could you inspect it?

/cc @kubernetes/goog-node to see if anyone's familiar with the creation error:
`API e

[2015-09-23 21:03] roberthbailey commented on #9771
/cc @brendandburns - should we try curl before wget in the install script?

[2015-09-23 21:04] roberthbailey commented on #9771
(This seems to be a problem with the script rather than something specific to vagrant)

[2015-09-23 21:05] roberthbailey commented on #8962
Closing since this issue is a few months old and it isn't possible to debug any longer.

[2015-09-23 21:05] #8962 closed

[2015-09-23 21:15] jlowdermilk commented on #14335
We explicitly stopped loading existing credentials in the startup scripts so they are not accidentally reused across providers/clusters. It would be reasonable to re-add the ability to load existing credentials from kubeconfig, so long as we explicitly define a context, not use whatever context happened to be the current one.

[2015-09-23 21:16] slintes commented on #14404
will try to reproduce again ;)
if relevant: the container has a memory resource limit set
you can find the complete setup on github, e.g.
- fleet-units that start the k8s binaries: https://github.com/INAETICS/kubernetes-demo-cluster/tree/elkAndMore/Controller/fleet-units
- the replication controller / pod: https://github.com/INAETICS/kubernetes-demo-cluster/blob/elkAndMore/Controller/inaetics-demo

[2015-09-23 21:30] iameli opened #14447 "unable to `kubectl patch` change to a secret name"
Hello,

I'd like to switch a secret being used in the podspec of a replicationcontroller using `kubectl patch`. The error:

Mayhaps I'm doing something wrong, and it's just a cryptic error message as referenced in #3338?

**command output**

[code]

**nginx-terminator.rc.json**
[code]

**patch.json**
[code]

[code]

[2015-09-23 21:36] saad-ali commented on #11391
@hernanliendo I tried to repro this issue but was not able to.

Specifically, I created two GCE PDs. I mounted both to the same container/pod at the same time in different mount locations. I wrote data to both PD mount locations (from inside the container) and read it back (also from inside the container) to verify that it is working as intended. For good, measure, I also deleted the pod and recre

[2015-09-23 21:47] vishh commented on #14408
Hmm. From the events it looks like node was marked as not ready and then the node restarted. After the restart, the node never registered successfully with the apiserver?

cc @kubernetes/goog-node

[2015-09-23 21:54] slintes commented on #14404
can't reproduce it atm, sorry

[2015-09-23 21:56] jlowdermilk commented on #14335
I don't think we ever formalized/documented what the expected flow should be for setting/reusing credentials with `kube-up.sh`. Reusing a kubeconfig credential entry in its entirety isn't possible; you can specify user,password (and I think token?) at cluster creation time, but the certs are generated on the master and have to be copied down. To my knowledge, there isn't yet support for providing

[2015-09-23 21:58] dchen1107 commented on #14408
Which version are you running? I haven't read your issue carefully, but If it is from HEAD, we do have an issue on posting node status from Kubelet caused by a recent refactory code. The buggy code was reverted two days ago.

[2015-09-23 21:59] yujuhong commented on #14408
From the previous comment, the version is Kubernetes 1.0.3-0.1.git61c6ac5, so the refactoring should not be relevant.

[2015-09-23 22:02] brendandburns commented on #13117
Another one today:

https://app.shippable.com/builds/5602e5d74c57620b003f441f

[code]

[2015-09-23 22:02] yujuhong commented on #14408
@bliss, could you post the output of `kubectl describe node`? That would at least help us understand whether kubelet is posting node status messages at all.

From the LASTSEEN timestamp (` Wed, 23 Sep 2015 20:43:08 +0300`), kubelet transitioned to NodeNotReady after the reboot. I would like to know whether kubelet reported itself as NotReady after restarting, and if so, why did it do that.

Node w

[2015-09-23 22:03] gmarek commented on #14424
Actually after removing this test it turned out that other ones also time out. Because the timeout is 20 minutes it causes entire suite to fail. From the recent run:
`should correctly serve identically named services in different namespaces on different external IP addresses`
`should be able to create a functioning external load balancer`
`should be able to create a functioning external load balan

[2015-09-23 22:04] brendandburns opened #14449 "Data race in backoff"
[code]

[2015-09-23 22:10] yujuhong commented on #14404
No problem. Thanks for trying.

I don't see any problem with the resource limit.

The creation error seems transient, as the second attempt eventually succeeded. Was docker using a lot of file descriptors?

It seems to me that after the creation failure, the container was lying around in `docker ps -a`, but kubelet couldn't inspect it. I wonder why it'd be in such a state.

[2015-09-23 22:10] vishh commented on #14408
@yujuhong: The reboot happened at `Wed, 23 Sep 2015 23:42:26 +0300` whereas the node went to `NotReady` condition prior to that, at `Wed, 23 Sep 2015 20:43:08 +0300`.

[2015-09-23 22:16] yujuhong commented on #14408
You're right. I misread one number. It'd still be good to confirm whether kubelet was posting any node status. It could be posting itself as not ready :)
The "rebooted" event was sent when kubelet was composing the node status.

[2015-09-23 22:23] dchen1107 commented on #14404
Error message
[code]
is from docker's graph driver. Docker daemon might hit max open file limit on your system. What's the output of /proc/$(pidof docker)/limits?

[2015-09-23 22:25] bliss commented on #14408
Thank you for your feedback!
[code]

[2015-09-23 22:28] derekwaynecarr opened #14452 "Node becomes unstable when overcommit on memory qos, does not always recover"
I can reproduce a situation where the node can become unstable and never recover from a NotReady status using either the Vagrant or GCE based Kubernetes setups.

[code]

Assuming you are using GCE, let's spin up the following:

[code]

At this point, the Node is stable, and we have 2 guaranteed memory containers allocating 500MB of memory and writing to it repeatedly.  We also have 2 burstable mem

[2015-09-23 22:28] dchen1107 commented on #14404
But no matter what is the initial reason causing first creation failure, there is an issue in Kubelet on podStatus generation: the only user container is running, and pod status should be running, instead of, pending.

[2015-09-23 22:28] derekwaynecarr commented on #14452
cc @kubernetes/rh-cluster-infra

[2015-09-23 22:29] derekwaynecarr commented on #14452
@timothysc - do you do any tests on clusters overcommited on memory in your work?

[2015-09-23 22:31] vishh commented on #14452
#13006 is very relevant here.

On Wed, Sep 23, 2015 at 3:28 PM, Derek Carr <notifications@github.com>
wrote:

[2015-09-23 22:33] vishh commented on #14452
The kernel can get really slow in the event of a system OOM. In general, it
is better to reduce the likelihood of system OOMs.

On Wed, Sep 23, 2015 at 3:31 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2015-09-23 22:35] vishh commented on #14408
Have you configured the kernel to panic on system OOM?

On Wed, Sep 23, 2015 at 3:26 PM, bliss <notifications@github.com> wrote:

[2015-09-23 22:37] bliss commented on #14408
System OOM (out of memory)?
[code]

[2015-09-23 22:41] bliss commented on #14408
Now nodes basically do nothing, there are a couple of failed elasticsearch containers. Do not know where that OOM came from.

[2015-09-23 22:45] vishh commented on #14408
Can you post the output of `cat /proc/sys/vm/panic_on_oom` ?

On Wed, Sep 23, 2015 at 3:42 PM, bliss <notifications@github.com> wrote:

[2015-09-23 22:50] bliss commented on #14408
[code]

[2015-09-23 22:52] vishh commented on #14408
Hmm. I wonder why the machine reboots in a loop. Can you post the kernel
logs `dmesg` ?

On Wed, Sep 23, 2015 at 3:50 PM, bliss <notifications@github.com> wrote:

[2015-09-23 22:53] yujuhong commented on #14452
Node status is updated by a separate goroutine (unrelated to sync loop of pods or CrashLoopBackOff), but overall slowness may have affected status reporting.

[2015-09-23 22:55] ixdy commented on #13548
@quinton-hoole did we ever follow up with the GCS folks?

I'm working on a PR to upload test artifacts/logs all within e2e.sh itself.

[2015-09-23 22:57] bliss commented on #14408
@vishh:
not in a loop. All reboots are intentional. Basically when we install our kernel to a node and after installing kubernetes-node it goes rebooted because of necessity to apply the new kernel. after such reboot kubelet never recover on its own. Other reboots are just attemps to make kubelet to start posting correct status. Nodes aren't in production that's why reboots.

[2015-09-23 23:01] thockin commented on #14443
Do you ever plan to keep a free pool of PVs ready for use?  What happens to
those tags?

On Wed, Sep 23, 2015 at 12:46 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-09-23 23:08] markturansky commented on #14443
A pre-provisioned pool of PVs is necessarily known by the admin.  However they script those PVs into Kube, they have to know about all of them.

When the cluster creates a volume, we need some means to let the admin know about it, hence tagging.

If we require a PersistentVolumeSet (or something similar), we'd need to tag those volumes somehow.  There wouldn't be a PVC available at that time.   We

[2015-09-23 23:12] thockin commented on #14443
I meant that you might have, by policy, no less than 3 and no more than 5
PVs always read for use.  If you have more than 5, de-provision some.  If
you drop below 3 add some.  Those are not on demand for any one claim.

On Wed, Sep 23, 2015 at 4:09 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-09-23 23:13] derekwaynecarr commented on #14452
@vishh - I get that it can get slow, but I thought by 5 minutes the CrashLoopBackoff for the offending containers would have kicked in, which is why I wondered what the reasonable expectation should be.  Thanks for the pointer to doc in progress.

[2015-09-23 23:15] markturansky commented on #14443
I understand.  That's what we wrote in https://github.com/kubernetes/kubernetes/pull/6773.   There would not be a PVC available at the time of creation, so those volumes would have to be tagged in some other way.

But, unless I'm very mistaken, we're not pursuing that approach at this time.  If we do in the future, I understand that tagging will be a requirement.

[2015-09-23 23:18] markturansky commented on #14443
The PersistentVolumeSet in #6773 as an API object would have a unique name just as the claim's namespace/name is unique.  PVS.Name would make an equally good tag as PVC.Namespace/Name.

[2015-09-23 23:19] dchen1107 commented on #14452
@derekwaynecarr what you observed is expected. I mentioned in many occasions / meetings that we are not ready for overcommit on memory qos, and we should treat it as experimental feature only. One example is https://github.com/kubernetes/kubernetes/issues/12422#issuecomment-129545970

 Here are some of reasons:

1. At node level, the only improvement was introduced is OOM score based on the resour

[2015-09-23 23:20] thockin commented on #14443
We don't need to accomodate everythign now, I just want to make sure we
agree that there's mor ethan just claimed volumes being provisioned.

On Wed, Sep 23, 2015 at 4:18 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-09-23 23:21] dchen1107 commented on #14452
cc/ @bgrant0607 we talked about only advertise QoS feature as an experimental one for 1.0 with detail known issues.

[2015-09-23 23:23] markturansky commented on #14443
yep, we're singing from the same hymnal.

[2015-09-23 23:28] vishh commented on #14408
I saw system OOMs and we have noticed in the past that system OOMs end up
slowing down the kubelet. If your node has reached a steady state, without
any OOMs, can you check whether the kubelet recovers now?

On Wed, Sep 23, 2015 at 3:58 PM, bliss <notifications@github.com> wrote:

[2015-09-23 23:37] #13699 closed

[2015-09-23 23:49] lavalamp commented on #2799
This should be relatively easy for someone to jump in and do if we confine it to just exposing the TLS options as flags/config file settings.

[2015-09-23 23:59] erictune commented on #14452
Great summary of issues @dchen1107

[2015-09-24 00:02] dchen1107 commented on #14408
I think system OOM in events might misleading here. I suspect there is an issue cadvisor parse kernel logs for OOM information based on the timestamp.

@bliss Is there any kubelet flag changed? Can you manually restart kubelet service to see if node status changed?

[2015-09-24 00:09] erictune commented on #14447
We'll take a look at this.  In the meantime, you can delete the rc with  `kubectl delete --cascade=false ...` and make a new one.  The pods will keep running and the new one will adopt them.

[2015-09-24 00:22] iameli commented on #14447
Thanks! I ended up doing the opposite -- just changed the secret and restarted the pods.

[2015-09-24 00:52] derekwaynecarr commented on #14452
@dchen1107 - as always thanks for the summary.  I was trying to see just how bad things were, and if given enough time, would node stabilize in a bad actor scenario using normal crash loop back-off.  Sounds like 5 minutes was an insufficient time period to wait, but I had to disconnect.  I would like to assist in these issues moving forward so once again the summary very helpful.

As for 1.1, I th

[2015-09-24 00:56] thockin opened #14460 "Fuzz() method on IntOrString causes gofuzz linked into prod code"
Sigh.  Not a huge deal but need a better answer.

[2015-09-24 01:09] mikedanese commented on #13896
@karlkfi:

Here's my opinion:

Should we add experimental api e2e tests as part of the conformance test? Probably not but don't feel strongly.

Do we need a special mechanism to skip experimental api e2e tests? No. Just use `--ginkgo.skip=Experimental` and wrap experimental e2e's in `Describe("Experimental")` block

[2015-09-24 01:09] linzichang commented on #13812
@bgrant0607 OK, I will take a look.

[2015-09-24 01:09] yujuhong commented on #13931
@gmarek, FYI, I am adding a long (~1hr) resource monitoring test in #14453. It's mainly to track kubelet/docker resource usage in the soak cluster for v1.1. We want some numbers to gauge whether kubelet consumes unreasonable amount of resources even in a relatively stable cluster.

[2015-09-24 01:11] dchen1107 commented on #14452
You are combining 2 different issues together:

* system daemons like kubelet, docker, kube-proxy and other daemons not running as pod: We should reserve some resource upfront for them, and let Kubelet reports Allocable resource to upstream layers, and scheduler should schedule work based on allocable, not capacity. Otherwise, you just simply limit daemons' resource consumption without proper prov

[2015-09-24 01:23] quinton-hoole commented on #13548
@ixdy, sorry, no.

[2015-09-24 01:28] karlkfi commented on #13896
Putting the experimental tests in their own ignorable context is kinda what I was suggesting, yeah. Then skip them in the conformance tests.

[2015-09-24 01:31] yujuhong commented on #14452
@dchen1107, I think @derekwaynecarr meant that we could create place-holders (i.e., do-nothing file-based pods) to reserve some system resources, so scheduler can subtract these reserved resources from the total node resources to prevent overcommitting. The notion of allocable resources introduced in #13984 would achieve the same effect though.

[2015-09-24 01:36] ixdy opened #14462 ""Spark should start spark master, driver and workers" e2e test continuously failing"
This test hasn't passed a single time in the last week on GCE.

The failure typically looks like the following:
[code]

@mwielgus @gurvindersingh not sure which of you want to take this

cc @kubernetes/goog-testing for good measure too

[2015-09-24 01:37] derekwaynecarr commented on #14452
@yujuhong - your understanding was correct.

[2015-09-24 02:14] resouer commented on #12722
@fgrzadkowski  I have updated the description

[2015-09-24 03:41] chrisleck opened #14466 "AWS VPC lookup should not use tag filtering"
In the AWS cloud provider's VPC lookup - given the vpc_id is being read directly from metadata from the local instance, there's no need to additionally filter on the KubernetesCluster tag.  Not only is this superfluous, but it prevents sharing a single regional VPC with multiple per-AZ Kubernetes clusters (per best practices).

[2015-09-24 03:50] mikedanese commented on #14466
@justinsb

[2015-09-24 03:58] brendandburns opened #14467 "test-cmd.sh is racy"
@smarterclayton @deads2k @kubernetes/kubectl

[code]

My guess as to what is happening:
   * we do a GET for the node status
   * separately, the node status is updated, resource version changes
   * we compute the new node state with unschedulable = true using what we got from the GET
   * we try to POST with the old resource version and it fails.

The simplest solution is just to wrap the update

[2015-09-24 04:17] smarterclayton commented on #14467
There's an open issue for this - we need a precondition patch for the API
in a long run (apply changes Y if object has X currently).  The cheaper
option is to compare spec and metadata for diffs (what's what edit did)
since most edits are status today.  The blind overwrite on retry is fine
for replace and patch, but not for commands that mutate an initial state
and then submit.

On Sep 23, 2015, a

[2015-09-24 04:19] brendandburns commented on #14467
@smarterclayton I looked, I couldn't find the issue, can you reference it here and I'll close this one?

[2015-09-24 04:19] brendandburns commented on #14467
(and concretely, I meant add retry in test-cmd.sh, not kubectl)

[2015-09-24 04:23] brendandburns opened #14468 "reenable race detection for integration tests"
Due to lack of thread safety in the etcd client libraries (https://github.com/kubernetes/kubernetes/issues/13117) we've disabled race detection for some integration tests

(https://github.com/kubernetes/kubernetes/pull/14456)

Once we move to the new etcd client library: (https://github.com/kubernetes/kubernetes/issues/11962)

We need to re-enable race detection.

[2015-09-24 04:39] roberthbailey commented on #14335
This is no longer true (at least on GCE). We [generate the certs on the client](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L517-L550) and push them up to the master via the metadata server.

[2015-09-24 06:11] thockin opened #14470 "log screwup in kube-proxy rlimits"
Unable to create proxier: failed to set open file handler limit%!(EXTRA syscall.Errno=operation not permitted)

@ArtfulCoder

[2015-09-24 06:58] JeanMertz commented on #14315
@thockin that would be great, as I have yet to solve this.

I've got a Kubernetes cluster in which networking is truely acting weird, it's set up from scratch only a couple of days ago, using Google Container Engine, without any manual tweaking.

[2015-09-24 06:59] marekbiskup commented on #3579
Are deployments ready yet (sorry, I haven't followed kubernetes for some time)?
I may be able to find some time to work on it.
Do we still want to rewrite the add-on updater to go?

[2015-09-24 07:12] bliss commented on #14408
@dchen1107: Yes, manual kubelet restart make node to be shown as Ready

[2015-09-24 07:41] dalanlan opened #14474 "deployment for ubuntu fails for unknown admission plugin"
api-server fails to start with admission control DenyEscalatingExec on ubuntu 14.04
[code]
Once I deprecate the plugin DenyEscalatingExec, everything works fine again.

Related to #13447
/cc @pweil- @derekwaynecarr
/cc @resouer  @WIZARD-CXY

[2015-09-24 07:48] sdminonne commented on #14263
@yujuhong @dchen1107
In this use-case @qwang1 is removing a key/value pair using `kubectl label pod/$podname rack-`

My understanding is that the _update_   is  launched [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1276) during the `kubelet.syncPod` which invokes the `kubelet.mountExternalVolumes`
For some reasons the `pod` does not contain updated info (the

[2015-09-24 07:56] samsong8610 opened #14475 "Service catalog and service broker"
Today, many cloud provider provide some kind of services, such as RDS in AWS, and they also provide API to create service instances on demand. Also, these services may be more robust (high availability), have  better performance or even have special features than that deployed in some pods.
According to [this document](http://kubernetes.io/v1.0/docs/user-guide/services.html#services-without-select

[2015-09-24 08:13] piosz opened #14477 "Problems with accessing service with proxy"
In [autoscaling.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/autoscaling.go) e2e test service is created and then using API server proxy a request is sent to it. Quite often the request (>30% times) fails and in kube-apiserver logs I can find:
[code]

Also in our standard gce-e2e suite I can find similar problem (in run 8188):
[code]

Both errors are silently ignored in e2e te

[2015-09-24 08:16] piosz commented on #14477
cc @lavalamp @kubernetes/goog-csi @jszczepkowski

[2015-09-24 08:22] dalanlan commented on #14474
The main reason is that this pr is not cherry picked into a formal release. The admission control supported for 1.0.6 is
[code]
Hence the change for config-default.sh would break the deployment definitely.
Other platforms may suffer as well if they use a formal release (which i assume is the most cases) other than HEAD.

[2015-09-24 09:17] mdshuai opened #14480 "Resource quota value should not be negative"
[code]

[2015-09-24 09:19] mdshuai commented on #14480
@derekwaynecarr

[2015-09-24 09:45] gmarek commented on #14424
Jenkins is green again, but those tests need to get back to the GCE suite ASAP.

cc @davidopp

[2015-09-24 10:10] wojtek-t commented on #14386
So my request here is an integration (or unit) test that directly tests that watches do not drop under these circumstances. It should be possible to write this test given @wojtek-t's new cacher.

Can you please clarify a bit? I'm happy to write more advanced unit/integration tests but I don't understand what did you mean by that.

BTW, it seems that those 18s lists were due to some other issues in

[2015-09-24 11:21] wojtek-t commented on #14216
@spiffxp - did you managed to confirm that the scheduler is guilty for stair-stepping? Maybe it's Kubelet? Or watch propagation? Or sth else (like etcd?)

[2015-09-24 11:24] #13865 closed

[2015-09-24 11:40] kevin-wangzefeng opened #14484 "Proposal: Affinity Priority for pods of different RC/services"
When deploying a multi-layer application, a typical model is to spread the pods of same layer while placing pods of different layers together.
Currently the scheduler can spread pods from the same RC and/or Service, but cannot affiliate a pod to another.

This proposal is to support the affinity priority between pods of different RC/services.

As a first step, we use label selector to implement. W

[2015-09-24 11:44] deads2k commented on #14467
To my knowledge, `kubectl patch` doesn't allow the user to specify a resource version.  In light of that, why not have `PatchResource` detect a conflict failure, build patch (call it changes) between old and current, check for conflicts between changes and user patch, if there are no conflicts, re-apply the user patch and issue the update?

That behavior is identical to what would happen if the us

[2015-09-24 11:46] kevin-wangzefeng commented on #14484
To review the initial version of this feature please refer to **WIP: affinity priority for pods #14485**

[2015-09-24 11:59] kevin-wangzefeng commented on #14484
cc @bgrant0607 @davidopp @erictune PTAL

[2015-09-24 12:03] derekwaynecarr commented on #14480
Will submit fix today

[2015-09-24 12:48] derekwaynecarr commented on #14474
I am a little confused.  If you are using a specific release, shouldn't you use a config-default file from that release branch?

[2015-09-24 12:48] JeanMertz commented on #14315
We just removed one of the nodes that had networking issues, things seem to work better now, but I'll continue to review what happens.

This was a GKE-provided node, without any manual modifications.

[2015-09-24 13:09] dalanlan commented on #14474
Not really. It starts from the HEAD instead.
My guess is the main concern could be some important patches are not cherry picked into some formal releases, which could lead to failure and consistency.  (i could be wrong though)

[2015-09-24 13:34] pweil- commented on #14474
Sorry, I'm still a little confused as to the actual run time environment here

1. if you're running 1.0.6 then your start up scripts should not contain the DenyEscalatingExec admission plugin
1. if you're running 1.0.6 but using a startup config that references the DenyEscalatingExec plugin I would expect it to fail
1. if you're running HEAD you shouldn't have a problem using the new plugin or the

[2015-09-24 13:34] lhuard1A commented on #14128
I had exactly the same problem with `Vagrant+libvirt`.
It appears that `Vagrant+libvirt` still uses a Fedora 20 box whereas `Vagrant+VirtualBox` uses a Fedora 21 one.

I tried to convert the Fedora 21 VirtualBox box to libvirt format and it solved that issue.

I opened PR #14490 to re-align the `libvirt` box with the `VirtualBox` one.

@technosophos Could you check that this new box solves your is

[2015-09-24 13:35] jsafrane commented on #13125
@bogdit With golang 1.5 as available in Fedora 23 Beta and a map with two items, `for hostIP := range addr` returns the first one first in around 85% of cases. With 5 items in the map, the first one is returned first in ~50% of cases. It's doesn't look _that_ random to me.

Anyway, it will just make the first endpoint more busy, IMO there is no serious bug.

[2015-09-24 13:37] pweil- commented on #14474
Ah, found the related PR https://github.com/kubernetes/kubernetes/pull/14478/files

@derekwaynecarr - the build.sh for Ubuntu is looking for 1.0.6.

[2015-09-24 13:38] dalanlan commented on #14474
If you take a close look at the [deployment doc of ubuntu](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md), you'll figure it out easily.
The step for deployment mainly includes following steps:
1. git clone the repo (from the HEAD)
2. download the binaries needed, which is a specific formal release
3. use the config-default.sh from the HEAD repo instead

[2015-09-24 13:48] dalanlan commented on #14474
I cannot tell the original idea of this consistency for sure, yet we cannot use the config files in some specific release as it did have problems due to late cherry-pick, which i can tell for sure.

[2015-09-24 13:56] ncdc opened #14491 "Container failing to start isn't governed by pod's restart policy"
If you create a pod with a restart policy of never, and you have a container that fails to start (e.g. you set its command to a nonexistent file), the Kubelet currently tries to restart it infinitely because the container never started successfully, and therefore never received an exit code. You end up with something like this from Docker:

[code]

Is it worth modifying the code to consider a cont

[2015-09-24 13:57] pweil- commented on #14474
After seeing your PR it's clear.  Thanks!  Looks like it would've also been an issue for Centos which is using 1.0.4 with HEAD scripts but it was not using the old plugin so it did not show up in my search when I was replacing it.

[2015-09-24 14:02] timothysc commented on #14452
@derekwaynecarr I've not tested, but happy to share cluster is fairly idle atm working on other changes.

[2015-09-24 14:03] jdef commented on #6828
perhaps if we had a mesos e2e test that ran the petstore example we'd meet the test-for-containment goals of this ticket

[2015-09-24 14:10] wojtek-t commented on #14273
I hope that it's finally fixed now (although latency metrics seems a bit worse than they used to be).

[2015-09-24 14:23] sttts commented on #6828
I still don't see what we need in addition to the mentioned test above. How does the petstore help?

What we really would need in addition would be a real OOM triggering test.

[2015-09-24 14:25] sttts commented on #6828
I still don't see what we need in addition to the mentioned test above. How does the petstore help?

What we really would need in addition would be a real OOM triggering test.

[2015-09-24 14:34] gmarek commented on #14273
It seems that the revert was enough to unbreak the tests, and latency I observed in test clusters was somehow skewed.

[2015-09-24 14:41] markturansky commented on #14443
@jsafrane pointed out to me that we probably also want cluster ID as part of the tag.   There is a metadata equivalent in Cinder that he'll use for tagging volumes.

[2015-09-24 14:42] verb commented on #14241
I'm having this problem when creating a new LoadBalancer service on an existing cluster in a project. This must have broken at some point since 1.0 because I have one service in this cluster already (and therefore in this project).

[code]

This is in a project that I don't want to just scrap and create anew. At one point it was very common for projects in Google Apps domains to be created with a

[2015-09-24 14:42] ncdc commented on #11046
FYI, I'm seeing this behavior when running on Fedora 21 with `hack/local-up-cluster.sh` and *no* log rotation.

[2015-09-24 14:43] derekwaynecarr commented on #14474
Thanks for the clarification, will need to keep this in mind when updating
config scripts.  Seems like its only safe to touch the ansible or salt
based setups for now that work against HEAD instead of formal release
packages.

On Thu, Sep 24, 2015 at 9:58 AM, Paul Weil <notifications@github.com> wrote:

[2015-09-24 14:45] rootfs commented on #14349
@pmorie @chao007 looking now

[2015-09-24 14:47] smarterclayton commented on #14467
Examples are:
https://github.com/openshift/origin/blob/master/test/cmd/deployments.sh#L41
and https://github.com/openshift/origin/blob/master/hack/util.sh#L178

The open issue was raised about precondition patch, not test-cmd retry.
It's probably a much bigger fix than what david suggested - this could
potentially address that.

On Thu, Sep 24, 2015 at 7:45 AM, David Eads <notifications@github.com

[2015-09-24 15:20] thockin commented on #3760
AFAIK the only part of this left to do is make it the default which can happen (assuming no blow-ups) some time after v1.1 and this has some miles on it.

[2015-09-24 15:22] BenTheElder commented on #3760
Whoo!

On Thu, Sep 24, 2015 at 11:21 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-09-24 15:25] PhilibertDugas commented on #10451
I'm seeing a similar issue here on a bare-metal Ubuntu 14.04 installation,

Kubelet takes high memory/cpu:

![image](https://cloud.githubusercontent.com/assets/5460957/10077535/a74c4c4a-62ae-11e5-9ff6-4a48563f81d0.png)

Memory ~ 4GB
![image](https://cloud.githubusercontent.com/assets/5460957/10077521/95f99970-62ae-11e5-986b-855a9981f91e.png)

CPU seems mostly used by Kernel
![image](https://cloud.

[2015-09-24 15:27] bgrieder commented on #3760
Ouch. We were really counting on it for 1.1....
https://github.com/kubernetes/kubernetes/blob/master/docs/roadmap.md

[2015-09-24 15:28] thockin commented on #10451
Is this a node that is running DNS?  There's a "bug" in older dockers that
caused kubelet CPU usage to go up and up over time, and it you're on 0.19
you probably have the bug

On Thu, Sep 24, 2015 at 8:26 AM, Philibert Dugas <notifications@github.com>
wrote:

[2015-09-24 15:30] bnprss commented on #3760
@bgrieder you still can enable it through parameter.

[2015-09-24 15:32] stevekuznetsov opened #14497 "go lint does not like generated deep copy code"
Running `go lint` on our generated deep copies, we see issues. We might as well clean the generation code up in order to remove these as they clog up `go lint` output and make it hard to use the tool.

For example, from OpenShift:

[code]

Results in:

[code]

@kargakis fyi

[2015-09-24 15:36] PhilibertDugas commented on #10451
Sorry for not writing those info!

It's running 1.0.1 and not running the DNS.

The node itself is running 8 pods. 1 being a redis pod, 1 being fluentd pushing to elastic search

The other pods are java applications

[2015-09-24 15:52] roberthbailey commented on #14355
In #14112 it was mentioned that the kubeconfig file isn't needed when creating a local cluster, so presumably you might want to run e2e tests on a local cluster without a kubeconfig? Even so, it seems like part of creating a local cluster would be to create a kubeconfig file so that kubectl knows to hit the local apiserver. You could rely on the fact that the default url is localhost, but that see

[2015-09-24 15:57] smarterclayton opened #14498 "kubectl logs sometimes returns no output during e2e runs"
Port Forward and websocket testing independently exposed that occasionally some pods return empty logs after they become "running", but inconsistently.  It's unlikely to be related to https://github.com/kubernetes/kubernetes/issues/11046 as it is very consistent in e2e tests on pods that are newly "running".

[2015-09-24 15:57] smarterclayton commented on #14498
@ncdc tracking here

[2015-09-24 16:14] jayunit100 commented on #14355
+1 makes sense I have a similar patch I can retool for this

[2015-09-24 16:14] ArtfulCoder commented on #14394
resolv.conf behavior:

* The nameservers are tried in the order they are listed.
The caveat being that, the next nameserver will be tried only if the query to the previous nameserver times out. ie. if the previous nameserver returns a response (even if empty), the next nameserver will not be tried.

* The search paths (if specified), will only be tried with the first nameserver. If the first names

[2015-09-24 16:24] brendandburns opened #14500 "TestControllerSyncJob is flaky"
https://app.shippable.com/builds/5603ab81110cc60b00ab0dcb

[code]

[2015-09-24 16:28] bgrant0607 commented on #14433
cc @kubernetes/goog-csi

[2015-09-24 16:31] ArtfulCoder commented on #14342
It doesn't matter if the pod is actually deleted or not. We just care that kube-proxy thinks that it should not be part of the service endpoint.
Having said that, it still doesn't hurt to do the check that you are doing.
I will assign your PR to myself and review it.
In the meantime, can you rebase your PR ?

[2015-09-24 16:35] bgrant0607 commented on #14484
Prior discussion: #367, https://github.com/kubernetes/kubernetes/issues/4301#issuecomment-74355529, #9560

[2015-09-24 16:36] bgrant0607 commented on #14484
And #341

[2015-09-24 16:37] bgrant0607 commented on #14500
cc @erictune @mikedanese

[2015-09-24 16:42] thockin commented on #14484
Just taking a quick glance, two things pop into mind:

1) selectors are generally hard constraints, not requests

2) If this is unidirectional, then nothing stops that redis pod from
getting moved to a different node over time (e.g. by a rolling update)

On Thu, Sep 24, 2015 at 5:00 AM, Kevin <notifications@github.com> wrote:

[2015-09-24 16:46] mikedanese commented on #14500
cc @soltysh

[2015-09-24 16:57] thockin commented on #14497
Can we turn lint off for this?  I think the _ is appropriate in
auto-generated code to be very clear what is happening

On Thu, Sep 24, 2015 at 8:33 AM, Steve Kuznetsov <notifications@github.com>
wrote:

[2015-09-24 16:59] chrisleck commented on #14466
https://github.com/kubernetes/kubernetes/pull/14503

[2015-09-24 17:14] chrisleck opened #14504 "AWS plugin should not modify existing, non-Kubernetes created security groups on instances."
When a new ELB is created, the code in aws.go attempts to modify an existing security group on the target instance(s) to include ingress traffic from the ELB's security group, without understanding the purpose of the security group it picks (which just appears to be the first one the API returns).

Instead, we should consider simply creating a new, Kubernetes-owned security group for that service/

[2015-09-24 17:16] chrisleck opened #14505 "FR: Allow specifying the allowed source IPs for a service exposed as a Load Balancer"
By default, the AWS cloud provider enables all source IPs to access a service exposed through a cloud load balancer with the LoadBalancer type.  We should allow the source range(s) to be specified.

[2015-09-24 17:20] ArtfulCoder commented on #14394
strace running nslookup kubernetes on dns server 10.244.1.4 (dns pod ip), running from a pod on the same host as the dns pod.

brk(0x7fce1d9bf000Process 5239 attached
 <unfinished ...>
[pid  5239] set_robust_list(0x7fce17b7a9e0, 24) = 0 <0.000004>
[pid  5239] epoll_wait(5, Process 5238 attached
 <unfinished ...>
[pid  5238] set_robust_list(0x7fce1837b9e0, 24) = 0 <0.000003>
[pid  5238] gettimeofda

[2015-09-24 17:23] yujuhong commented on #14263
@sdminonne, kubelet checks whether a pod has been changed [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/config.go#L401), and label changes don't seem to trigger an update. We should fix this because we rely on the update to trigger syncPod (besides periodic sync, which we will eventually rely less on. see #12802). This would also eliminate the need to retrieve pods

[2015-09-24 17:25] jiangyaoguo commented on #14111
What about add a optional  validation in apiserver and open it during tests？

[2015-09-24 17:25] luxas commented on #9778
Yeah, I got k8s up and running for half a month ago! :smile:
It works with my own-built hyperkube, etcd and flannel images.
Kubernetes is v1.0.1 and Docker is v1.7.1

Please get in touch if you are interested in running Kubernetes on ARM.
Maybe one could upload some instructions about that to  `/contrib` some day?

[2015-09-24 17:36] gizmonicus commented on #13125
@jsafrane I agree that it isn't a serious bug since @bodgit fixed the "try other endpoints" logic; that was the biggest problem. I'm not terribly concerned with a mount storm because of the size of my cluster, but others might.

[2015-09-24 17:44] alex-mohr commented on #14111
Re: centralized reasons, there's a strong benefit to people building automated systems that are clients of k8s to have a reasonably-explicit list of such things, rather than having to discover them at runtime in production when a new one starts being reported.

Re: event reporters outside the codebase, presumably some form of namespacing could allow them to report common established errors but def

[2015-09-24 17:50] vishh commented on #14491
+1. Also, I'm not sure why we would even apply a restart policy, since the
container never started.

On Thu, Sep 24, 2015 at 6:57 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-09-24 17:52] lavalamp commented on #14477
This is a pretty easy one-- I sent a change that also rolls back the workaround.

[2015-09-24 18:00] derekwaynecarr commented on #14491
One issue that comes up with marking it failed is if its governed by a
Replication Controller, a consequence of marking it Failed is a
proliferation of Pods being rapidly created and then failed.  I know pod
garbage collection would help that, but it would be good if we can update
the dependent controller to recognize in common cases to back-off if pods
keep failing because of failure to start sce

[2015-09-24 18:01] jiangyaoguo commented on #14342
@ArtfulCoder Thanks for your review. The PR is up to date.

[2015-09-24 18:32] ArtfulCoder commented on #14394
With ndots = 5, almost every single dns lookup that is a non-cluster DNS name (e.g. google.com), will result in 6 queries.

[2015-09-24 18:34] ironcladlou opened #14510 "RFC: Support user defined and extensible deployment strategies"
The new deployment API (#1743) specifies some out of the box strategies (recreate, rolling) which will be implemented inside the deployment controller. It's possible these strategies may not cover all deployment needs for end users, or for downstream users (such as OpenShift). The deployment system should enable:

1. Users to define their own deployment strategy logic in a custom Docker image.
2.

[2015-09-24 18:34] ironcladlou commented on #14510
cc @smarterclayton @nikhiljindal @ghodss @bgrant0607

[2015-09-24 18:37] brendandburns commented on #14500
I have a fix in flight...  PR shortly.

[2015-09-24 18:47] ironcladlou opened #14512 "RFC: Deployment hooks"
Users often need a means to inject custom behavior into the lifecycle of a deployment process. The deployment API (#1743) could be expanded to support the execution user-specified Docker images which are given an opportunity to complete at various points during the recon process for a deployment.

Use cases and various design approaches were discussed previously in an [OpenShift deployment hooks p

[2015-09-24 18:47] ironcladlou commented on #14512
cc @smarterclayton @nikhiljindal @ghodss @bgrant0607

[2015-09-24 18:55] ArtfulCoder commented on #14394
http://lxr.free-electrons.com/source/net/dns_resolver/

dns resolver source code..

[2015-09-24 19:05] sdminonne commented on #14263
@yujuhong thanks for the info I'm going to investigate. starting from this info. Keep you posted.

[2015-09-24 19:17] yujuhong commented on #10451
@PhilibertDugas, I'd like to know more about your cluster. Thanks!
 * Was the cluster in a relative steady state (no constant pod add/delete/update)?
 * Do you have the default monitoring service enabled so that you can track cpu usage of kubelet and docker separately? (e.g. `kubectl proxy` and then open http://localhost:8001/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana).
 * Do

[2015-09-24 19:21] rootfs commented on #14349
@pmorie @chao007 I opened an issue with ceph
http://tracker.ceph.com/issues/13231

[2015-09-24 19:57] #14477 closed

[2015-09-24 19:57] PhilibertDugas commented on #10451
@yujuhong

- The cluster has no add/delete/update actions on it, only usage of the 8 pods on it
- There is no monitoring service enabled such as grafana, is there another way to track kubelet vs docker usage?
- This is a cluster containing 1 master node + 6 minion nodes. All of them running on Ubuntu 14.04
- There is no livenessProbe or readinessProbe defined for our pods

From our monitoring syst

[2015-09-24 20:09] ironcladlou opened #14516 "RFC: Inert deployments"
The deployment design (#1743) implicitly supports a deployment triggering use case known as "config change triggering" in OpenShift: when a new deployment state is observed, the cluster works to realize the new state as soon as possible. There is one functional gap in this design: users sometimes need to temporarily disable a deployment. This could be accomplished by allowing deployments to be "in

[2015-09-24 20:09] ironcladlou commented on #14516
cc @smarterclayton @nikhiljindal @ghodss @bgrant0607

[2015-09-24 20:12] smarterclayton commented on #14516
If a deployment is inert, it would be desirable to do exactly one rev of the controller loop for that deployment - i.e. "PUT /deployments/foo/instantiate".   That covers the use case of "I don't want automatic deployments, I want them automatic when I trigger"

[2015-09-24 20:14] derekwaynecarr commented on #14344
@mikedanese - I can add this if you are blocked on time.

[2015-09-24 20:17] davidopp commented on #3579
No deployment is not done yet.

[2015-09-24 20:29] ironcladlou opened #14519 "RFC: Allow perm-failed deployments"
There are times when the deployment system can infer that the latest deployment state has no reasonable chance of being realized (e.g. a bad or unpullable image). The current deployment controller design will continue to try reconciling indefinitely regardless of the possibly of success. If based on inference or user constraints (e.g. timeout conditions specified in an enhancement to the deploymen

[2015-09-24 20:29] ironcladlou commented on #14519
cc @smarterclayton @nikhiljindal @ghodss @bgrant0607

[2015-09-24 20:43] derekwaynecarr opened #14520 "Experimental: HorizontalPodAutoscaler: needs Status Update"
I have been evaluating many of the experimental items in more detail to evaluate for OpenShift and came across this resource not properly separating Update from UpdateStatus which is important for a locked down environment.

https://github.com/kubernetes/kubernetes/issues/14308

The setting of status needs to be handled separately from update.

Corresponding controller code needs to be updated to

[2015-09-24 20:43] #14050 closed

[2015-09-24 20:44] derekwaynecarr commented on #14520
I will look to submit a PR to address this before end of week.

[2015-09-24 20:45] derekwaynecarr commented on #14520
cc @kubernetes/rh-cluster-infra @kubernetes/rh-platform-management

[2015-09-24 20:45] dchen1107 commented on #14491
I thought Kubelet already surfaces both creation and start failure from docker. Let me find the old issue I filed.

[2015-09-24 20:45] derekwaynecarr opened #14521 "Experimental: Deployments: needs Status Update"
Update and UpdateStatus need to be separated in order to properly secure spec changes from status changes.

Related: https://github.com/kubernetes/kubernetes/issues/14344

Corresponding controller code needs to be updated to call the proper endpoint.

[2015-09-24 20:48] derekwaynecarr commented on #14521
cc @kubernetes/rh-cluster-infra @kubernetes/rh-platform-management

[2015-09-24 20:48] dchen1107 commented on #14491
Here is the issue https://github.com/kubernetes/kubernetes/issues/6321 and the initial fix is PR: #6711

This is a bug we should fix anyway.

[2015-09-24 20:50] dchen1107 commented on #14491
@ncdc what is the output of kubectl describe pods? Are container at waiting state with proper error message from docker?

[2015-09-24 20:53] bgrant0607 commented on #14521
cc @nikhiljindal @ironcladlou @ghodss

[2015-09-24 20:53] thockin commented on #3760
It's IN but not on by default.  You can opt-in with a single annotation per
node (and a kube-proxy restart)

On Thu, Sep 24, 2015 at 8:27 AM, Bruno G. <notifications@github.com> wrote:

[2015-09-24 20:54] bgrant0607 commented on #14344
That is, a status subresource

[2015-09-24 20:54] ArtfulCoder commented on #14394
skydns seems to return SERVFAIL if the query has 0 dots, but returns NXDOMAIN if the query has non-zero dots, and has not answer to provider.

root@abhi2:/# nslookup kubernetes
;; Got SERVFAIL reply from 10.0.0.10, trying next server

root@abhi2:/# nslookup kubernetes.default
Server:		10.0.0.10
Address:	10.0.0.10#53

** server can't find kubernetes.default: NXDOMAIN

[2015-09-24 20:54] bgrant0607 commented on #14521
That is, a status subresource

[2015-09-24 20:54] bgrant0607 commented on #14520
That is, a status subresource

[2015-09-24 20:54] #14308 closed

[2015-09-24 20:55] bgrant0607 commented on #14520
cc @jszczepkowski

[2015-09-24 21:03] bgrant0607-nocc commented on #14504
cc @justinsb

[2015-09-24 21:03] bgrant0607-nocc commented on #14505
cc @justinsb

[2015-09-24 21:03] bgrant0607-nocc commented on #14497
cc @wojtek-t

[2015-09-24 21:07] bgrant0607-nocc commented on #14491
With respect to replication controller, see also #2529. It should back off.

[2015-09-24 21:08] bgrant0607-nocc commented on #14480
cc @erictune

[2015-09-24 21:09] mikedanese commented on #14344
Feel free to knock it out @derekwaynecarr otherwise I will get to it tonight or tomorrow

[2015-09-24 21:12] derekwaynecarr commented on #14344
Taking this over.  I am almost done, will submit PR tomorrow.

[2015-09-24 21:12] bgrant0607-nocc commented on #14475
Related: #13748

[2015-09-24 21:16] bgrant0607-nocc commented on #14475
No immediate plans for a generic provisioning mechanism, but we have discussed more specialized mechanisms for storage and networking.

[2015-09-24 21:19] bgrant0607-nocc commented on #14474
Using HEAD scripts against a binary release doesn't make sense. Use scripts from a matching release tag.

cc @erictune

[2015-09-24 21:25] #14385 closed

[2015-09-24 21:25] thockin commented on #14394
I can not substantiate the "search paths don't apply to second nameserver"
part.  I ran tcpdump for port 53, added 127.0.0.1 as the first nameserver,
and then did `nslookup foo.bas`

[code]

On Thu, Sep 24, 2015 at 1:54 PM, Abhi Shah <notifications@github.com> wrote:

[2015-09-24 21:30] jdef commented on #13768
+1 for this. The mesos team is thinking of implementing a runtime for better integration with the mesos-native containerizer.

[2015-09-24 21:33] bgrant0607-nocc commented on #14470
Team label?

[2015-09-24 21:34] bgrant0607-nocc commented on #14462
cc @timstclair

[2015-09-24 21:38] lavalamp commented on #14497
Yeah I think the _ is WAI. The if statement could be fixed, but is low priority compared to other tooling changes.

[2015-09-24 21:39] smarterclayton commented on #13768
I see some significant downsides to client/server, including more hops into the container for exec/attach/portforward scenarios.  I do think that we should support a client/server containerizer, but for the foreseeable future I would want my containerizer compiled in if I was shipping a deployment.

Conditionally compiled Kubelets provided with a particular host type (mesos, rocket, systemd+docker

[2015-09-24 21:42] bgrant0607-nocc commented on #14437
cc @liggitt

[2015-09-24 21:42] cjellick commented on #7104
@quinton-hoole I got this failure for the same reason. The thing is, the URL returns a 200 response code and a non-empty body. So, I think `util.ReadConfigDataFromReader()`, it is doing its job. Would switching the URL to something on localhost that _shouldnt_ be listening be reasonable? Maybe `http://localhost:9999/foobar`

[2015-09-24 21:45] bgrant0607-nocc commented on #14467
Patch preconditions mentioned here: https://github.com/kubernetes/kubernetes/issues/13576#issuecomment-137647830

[2015-09-24 21:46] lavalamp commented on #13360
Yes, this is a dup of #12179. I will bump that priority and close this.

[2015-09-24 21:46] #13360 closed

[2015-09-24 21:47] lavalamp commented on #12179
Combining w/ #13360, bumping priority.

[2015-09-24 21:49] yujuhong commented on #14491
kubelet does surface the error (see the status below). The problem is that it doesn't categorize the container as dead/terminated, which affects the restart policy.

[code]
A container would be considered "terminated" in kubelet if its state is not Running and the [FinishedAt time is not zero](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L349). In the cas

[2015-09-24 21:50] ArtfulCoder commented on #14394
root@abhi2:/# cat /etc/resolv.conf
nameserver 127.0.0.1
nameserver 10.0.0.10
nameserver 169.254.169.254
nameserver 10.240.0.1
search default.svc.cluster.local svc.cluster.local cluster.local c.abshah-kubernetes-001.internal. 808746819879.google.internal. google.internal.
options ndots:5

------------------------

root@abhi2:/# nslookup kubernetes.default
Server:		10.0.0.10
Address:	10.0.0.10#53

*

[2015-09-24 21:53] liggitt commented on #14437
Has this test failed more than once, or did the two-minute timeout just happen to occur in the middle of it?

[2015-09-24 22:05] dchen1107 commented on #14491
Ok, I reproduced the issue easily. Here are the current situation:

When container cannot start by docker due to various reasons, Kubelet marked the container as Waiting state with proper reason (**RunContainerError**) and detail message for docker, so Pod will stuck at Pending state. I copied & pasted a PodStatus example below:

[code]

When above situation occurs, Kubelet will **retry** in next

[2015-09-24 22:15] brendandburns commented on #14500
Ok, consensus is that my fix isn't correct, I'm assigning back to @soltysh but I'll keep looking.  If I can find something else, I will re-acquire the lock on this issue.

[2015-09-24 22:28] cjellick commented on #12762
Dupe of #7104

[2015-09-24 22:29] yujuhong commented on #10451
@PhilibertDugas, thanks for the information and the graph. It'd be great if you can get the cpu profile on a node where kubelet has high cpu usage.

You can get a 30-second cpu profile by running `kubectl proxy` and then
`go tool pprof http://localhost:8001/api/v1/proxy/nodes/<node_name>/debug/pprof/profile`

[2015-09-24 22:31] thockin commented on #14315
If you can provide more details maybe we can look into what's going on.  You can email me (my GH name @google.com) with your project name and ... what else @roberthbailey ?

[2015-09-24 22:35] yujuhong commented on #14491
I think kubelet should not rely on the reason (which is best-effort), and simply stops relying solely on `FinishedAt` to categorize "terminated" containers.

[2015-09-24 22:41] lavalamp commented on #13463
This seems to be fixed now. Presumably something @ixdy tweaked?

[2015-09-24 22:41] #13463 closed

[2015-09-24 22:43] ixdy commented on #13463
Yeah, #14298 probably fixed this.

[2015-09-24 22:46] lavalamp commented on #14321
Yeah, @caesarxuchao and I discussed this some today. ClientCache should be moved into the client library, it should become a layer between RESTClient & the high-level client, and version negotiation needs to be fixed up a bit.

I think additionally RESTClient should be turned into an interface.

[2015-09-24 22:54] lavalamp commented on #14216
Thoughts:
* kubelet_docker_ops_latency_seconds shows a noticeable difference between the two runs. Is the same version of docker running in both configurations? 'inspect container' and 'list containers' specifically seem to take a lot more time. @dchen1107 any thoughts on this?
* patch for #8261 smooths out stairsteps without fixing the problem, indicating that the stairsteps are at best a symptom

[2015-09-24 22:59] lavalamp commented on #14386
Basically, I'm looking for a test, probably in integration, that:
1. Sets up N watchers
2. Writes X things (pods?), and does Y updates to each of them.
3. Verifies that all of the items were delivered, and that no watches closed unexpectedly.

Then I'd like to see a run with a big value for N, and one with a big value for Y, at the same time if it doesn't make shippable fall over.

Basically, if o

[2015-09-24 23:00] lavalamp commented on #13775
IIRC golang.org/x/types does type checking (type name resolution), which will be useful for this.

We definitely want to switch to using an AST method instead of reflection.

[2015-09-24 23:03] lavalamp commented on #13794
@caesarxuchao - we discussed this earlier today. We should do one negotiation request per invocation of kubectl.

(in the future, we could reduce that to 0 if we started caching the server's response, although I don't know if that's really a huge performance win.)

[2015-09-24 23:05] lavalamp commented on #13883
@nikhiljindal is this documentation something you can do? It's just pointing the existing scripts at new locations, right? If you're crushed for time, then maybe @caesarxuchao can take this up.

[2015-09-24 23:08] lavalamp commented on #8229
Yeah, I think this can be closed as implemented.

[2015-09-24 23:08] #8229 closed

[2015-09-24 23:09] lavalamp commented on #8493
Assigning to @eparis, since he has a PR out to fix it.

[2015-09-24 23:11] lavalamp commented on #9473
This is a P1 issue-- what is the status? If no one is working on it, I will demote to P2.

[2015-09-24 23:17] erictune opened #14528 "Too many daemons created by DaemonSet"
I created a DaemonSet a few days ago on my 4 node cluster.  I noticed today that I have 6596 Pending pods, and 4 running pods.

This is not expected.

The running pods are on nodes that have existed for 3 or 4 days.

The pending pods all have unset nodeName.  I would not have expected the DaemonSet controller to ever create a pod with this value unset.  I assume they are pending due to port confli

[2015-09-24 23:31] erictune commented on #14528
Looking at the creation timestamps of the pods, creation of the pending pods is bursty.
It made 196, about 30 minutes passed, it made 147 of them, then an hour, then another 163 of them.
There will be gaps of several hours with no problem.

[2015-09-24 23:31] roman-shuhov commented on #13226
Is it really P2? I think this issue may seriously affect running services...

[2015-09-24 23:35] erictune commented on #14528
@AnanyaKumar @mikedanese

[2015-09-24 23:35] erictune commented on #14528
Also wondering why node controller didn't recognize these pods and clean them up.

[2015-09-24 23:41] smarterclayton commented on #13794
It's a big latency hit for every single Cli command everyone makes.  David
has a todo to come back with a better approach.  We've already had
complaints from people working remotely that it pushes the cli from seeming
fast to seeming slow

On Sep 24, 2015, at 7:03 PM, Daniel Smith <notifications@github.com> wrote:

@caesarxuchao <https://github.com/caesarxuchao> - we discussed this earlier
today.

[2015-09-24 23:41] mikedanese commented on #14528
Can you paste a daemonset config yaml?

[2015-09-24 23:42] bcwaldon commented on #11011
I just run into this on CoreOS w/ AWS myself. Today, CoreOS ships the kubelet directly in the root filesystem, but no safe_format_and_mount. Does it make sense for CoreOS to ship this script as well, or are there plans for this script to be implemented natively in golang? Alternatively, would it be better to move away from vendoring the kubelet in the image and run the kubelet using the hyperkube

[2015-09-24 23:50] dchen1107 commented on #13768
@smarterclayton inefficiency caused by client/server runtime is known. But please note that we didn't plan to make all container runtimes to use this model, and we do plan to continue supporting docker and rocket as Container Runtime as today, just with a better API.

The only candidate we have today for this client / server model is hyper:
https://github.com/kubernetes/kubernetes/pull/13079#issue

[2015-09-24 23:50] erictune commented on #14528
Possible problem in the code, file pkg/controller/daemon/controller.go

[code]

note that the code uses nodeList even when there is an error.

[2015-09-24 23:51] erictune commented on #14528
My spec:
[code]

[2015-09-24 23:52] lavalamp commented on #14393
The problem is write load, so currently only rate-limiting helps.

[2015-09-24 23:53] saad-ali commented on #13565
#14364 merged

[2015-09-24 23:53] #13565 closed

[2015-09-24 23:54] thockin commented on #13226
I don't think that is what the `host` field was meant to do, but it's an interesting interpretation.  The host field was meant to allow you to proxy health through a different Service or something that had higher-level visibility into the overall health.

[2015-09-24 23:54] v1k0d3n opened #14530 "issues with creating additional vagrant nodes"
are you guys experiencing issues with bringing up local vagrant nodes (more than 2)? seems like previous ticket refer to something broken with jenkins...i have no idea if this is even really the case. seems like something changed from yesterday to today though.

````Waiting for 3 ready nodes. 2 ready nodes, 3 registered. Retrying.````

[2015-09-24 23:55] lavalamp commented on #13485
Have we seen this since #14295 merged? Can we close this bug?

[2015-09-24 23:55] v1k0d3n commented on #14530
[code]

[2015-09-24 23:56] dchen1107 commented on #14393
Yeah, that is my understanding here too. One small improvement is that we don't need to update lastProbeTime if there is no ReadyProber specified.

[2015-09-24 23:59] #14205 closed

[2015-09-25 00:02] brendandburns opened #14531 "runSchedulerNoPhantomPodsTest is flaky"
[code]

[2015-09-25 00:03] roberthbailey commented on #14315
Project name is sufficient if you only have one cluster. If you have more than one, then zone and/or cluster name (enough that it makes this cluster unique within your project).

[2015-09-25 00:06] yujuhong commented on #14393
I assume `LastProbeTime` in this context (pod ready condition) means the last time we probe/check the readiness and liveness. This could potentially be handled by the new prober with defined probing periods for each container (#12866).

@bgrant0607, do we expect to add any other pod conditions that may rely on kubelet to periodically send status update, even when there is no change? I was hoping k

[2015-09-25 00:06] dchen1107 opened #14532 "Better memory manager at node to guarantee QoS"
Forked from https://github.com/kubernetes/kubernetes/issues/14452...

We introduced QoS concept and API to Kubernetes 1.1 release, but lack of the support on node side to ensure QoS. Filed this umbrella issue for memory management for current known issues:
1. At node level, the only improvement was introduced is OOM score based on the resource class. This means we fully rely on Kernel sys OOM to r

[2015-09-25 00:18] v1k0d3n commented on #14530
closing. pulled latest changes and rebuilt fine.

[2015-09-25 00:18] #14530 closed

[2015-09-25 00:27] dchen1107 commented on #13881
This one should be fixed.

[2015-09-25 00:27] #13881 closed

[2015-09-25 01:04] feiskyer commented on #13768
@dchen1107 @brendandburns I'm sorry, I thought client/server runtime is for all container runtimes.

[2015-09-25 01:09] pmorie commented on #9473
I haven't had time to work on this further, we should bump down to p2

On Thursday, September 24, 2015, Daniel Smith <notifications@github.com>
wrote:

[2015-09-25 01:10] ntquyen opened #14533 "DNS does't work properly from different namespaces"
I have only one DNS server running in namespace `default`, and it works correctly from the same namespace
[code]

I don't have any DNS server in other namespace. And now, from namespace `development`, resolving service name doesn't work: (I have `curlpod` running in both namespaces)

[code]

Even more, it is so weird that I'm sure it worked before, until today. I'm having some application still up

[2015-09-25 01:21] dalanlan commented on #14474
Assuming we use the scripts from a formal release,
- User: "oh the v1.0.6 suffers unbound variable error again!"
- Dev: "Don't worry dear, you can manually patch #11358 to fix this."
- User: "It's not cool. When would this pr be picked into a formal release?"
- Dev: "I cannot make a guarantee. You'd better pray:-/"
- User: "What about kube-push?"
- Dev: "Forget it. You might need to wait for a who

[2015-09-25 01:22] aanm opened #14534 "Vagrant with NUM_MINIONS=2 doesn't work"
I was trying to run kubernetes with the vagrant example and the `NUM_MINIONS=2`. I saw that there was 3 VMs created, `master`, `minion-1` and `minion-2` but not all of them are displayed with `vagrant status` nor I can access the `minion-2` with `vagrant ssh minion-2`:

[code]

[2015-09-25 01:25] tsl0922 commented on #14534
You need to run `NUM_MINIONS=2 vagrant status`, or export it before run any vagrant command.

[2015-09-25 01:28] #14021 closed

[2015-09-25 01:30] #14466 closed

[2015-09-25 01:32] derekwaynecarr commented on #14534
Thanks for the quick response. This is correct you must export the value in your terminal or specify on each command.  Or edit the config-default.sh file directly in your local stash.

[2015-09-25 01:32] #14534 closed

[2015-09-25 01:34] eparis commented on #8493
and I think my PR got unblocked since we fixed openstack.  I'll try to resurrect it tomorrow.

[2015-09-25 01:59] aanm commented on #14534
@tsl0922 Thanks, I was using 2 terminals and only one of them had `NUM_MINIONS=2`.

[2015-09-25 02:03] bgrant0607 commented on #4874
What about:
* experimental client
* pkg/client/cache
* pkg/client/metrics
* pkg/client/record
* pkg/kubectl/resource
* #5660
* #7584

[2015-09-25 02:43] philk commented on #11011
I'm pretty sure #8530 is the fix for it (so yes, golang directly in the kubelet)

[2015-09-25 03:31] pmorie commented on #14516
It's not obvious to me what this has to do specifically with config change triggering.

[2015-09-25 04:28] pmorie commented on #14533
@kubernetes/rh-networking

[2015-09-25 04:29] pmorie commented on #14532
@kubernetes/rh-cluster-infra

[2015-09-25 04:31] pmorie commented on #14512
Hooks be like

:arrow_right_hook:
:leftwards_arrow_with_hook:

[2015-09-25 05:22] dalanlan opened #14539 "docker-multinode does not work on CentOS"
- CentOS does not accept `DOCKER_OPTS` for its configuration file
- typically CentOS does not have built-in `ifconfig` cmd
- `yum` requires `-y` or manual input "yes" to continue installation

i'll send a pr later today to fix this.

/cc @fgrzadkowski @resouer @brendandburns

[2015-09-25 05:43] davidopp opened #14541 "We need some kind of global "constants" file"
Example: It's useful to have a single place where we define what it means for a Pod to be in a terminated state (and conversely a non-terminated state). Once we have controllers responsible for GCing their Pods, this is something we want all controllers to have the same definition of, and if for some reason we change/add/delete Phases, we want to only have to change the definition in one place.

T

[2015-09-25 05:44] davidopp commented on #14541
@mikedanese @bgrant0607

[2015-09-25 05:57] thockin commented on #14533
What is the resolv.conf in the pod that is not working?

On Thu, Sep 24, 2015 at 9:29 PM, Paul Morie <notifications@github.com>
wrote:

[2015-09-25 06:06] pmorie commented on #4822
Full disclosure: I haven't made progress on this yet.  Someone else may pick it up.

[2015-09-25 06:13] ntquyen commented on #14533
The file is the same as the one that works

[code]
The only difference between those two pods is that the working one has the `KUBE_DNS*` environment variables, the other doesn't

[2015-09-25 06:23] wojtek-t commented on #13485
@lavalamp - I think we had a lot of other problems during that time. I would suggest leaving it open during the weekend and close it on Monday if we don't see any problems.

[2015-09-25 06:37] wojtek-t commented on #14497
I agree that "_" is WAI. Regarding the other error - I can fix it in my free cycles.

[2015-09-25 06:38] marekbiskup commented on #9470
@davidopp

Is it still needed to rewrite the addon updater in Go?

[2015-09-25 06:44] thockin commented on #13775
I can't find any such pkg...

On Thu, Sep 24, 2015 at 4:01 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-09-25 07:40] rvrignaud opened #14545 "Access to private services from outside kubernetes cluster"
Hello,
Following discussion started here : https://groups.google.com/forum/#!topic/google-containers/vpm1nmpHMNs.

We currently need a way to access, within the same private network but outside of Kubernetes cluster, to services defined in the cluster. Use case vary from private internal services accessed from VPN users to communication from "regular" instances to services running in cluster on th

[2015-09-25 07:49] pires commented on #9178
Fixed by https://github.com/kubernetes/kubernetes/pull/14387

[2015-09-25 07:49] #9178 closed

[2015-09-25 07:49] pires commented on #14032
Fixed by https://github.com/kubernetes/kubernetes/pull/14387.

[2015-09-25 08:20] fgrzadkowski commented on #14539
Assigning myself, but @dalanlan will be working on this.

[2015-09-25 08:41] jszczepkowski commented on #14520
cc @mwielgus

[2015-09-25 10:12] linzichang commented on #13812
@bgrant0607 @liggitt If add List to the swaggerapi, it need to add a new api v1.List. I think it might be a little strange. Please correct me.

[2015-09-25 11:40] shenshouer opened #14549 "kubelet[2680]: failed to create kubelet: cAdvisor is unsupported in this build"
I use the latest version of the code which I just updated from master. And I build kubelet from source code for test. Can not start up kubelet service. the err:
<pre>
Sep 25 11:23:30 cc1 systemd[1]: kubelet.service: Service hold-off time over, scheduling restart.
Sep 25 11:23:30 cc1 systemd[1]: Stopped kubelet.service.
Sep 25 11:23:30 cc1 systemd[1]: Starting kubelet.service...
Sep 25 11:23:30 cc1

[2015-09-25 11:53] wojtek-t opened #14552 "API call latency regression"
Looking at the scalability tests running on Jenkins we can observer a huge regression in the latency metrics (this happened over a week ago).
In particular (metrics from Density test):

run 2441:

    Sep 16 10:50:28.615: INFO: Top latency metric: {Verb:LIST Resource:pods Quantile:0.99 Latency:1.691713s}
    Sep 16 10:50:28.615: INFO: Top latency metric: {Verb:LIST Resource:pods Quantile:0.9 Laten

[2015-09-25 11:58] sttts commented on #13896
Here is the fix to get daemonsets working on Mesos: https://github.com/kubernetes/kubernetes/pull/14553

In addition some bugfixes in daemonset code are necessary: https://github.com/kubernetes/kubernetes/pull/14550

[2015-09-25 12:39] wojtek-t commented on #14552
hmm - on the other hand, the last scalability runs seem to be ok (only the first green one was bad

run 2527:

    04:12:33 Sep 24 04:12:33.050: INFO: Top latency metric: {Verb:LIST Resource:pods Quantile:0.99 Latency:1.38289s}
    04:12:33 Sep 24 04:12:33.050: INFO: Top latency metric: {Verb:LIST Resource:pods Quantile:0.9 Latency:1.317718s}
    04:12:33 Sep 24 04:12:33.050: INFO: Top latency met

[2015-09-25 12:46] ironcladlou commented on #14516
Inert deployments combined with the inherent design of the deployment controller seem to provide config change trigger functionality without needing to introduce the concept of a "config change trigger" as defined in OpenShift.

[2015-09-25 12:46] gmarek opened #14554 "Regression in performance of small clusters on GCE"
We managed to fix scalability on big clusters, but I'm still observing pretty bad behavior on small (default: 2-core master and 3 2-core nodes) clusters.
[code]

[code]

What's surprising is that for 100 node cluster I'm observing way lower e2e startup latency (around 3-4 seconds on 99th percentile). I've seen this on my clusters multiple times, I also checked different project with the same effec

[2015-09-25 12:47] wojtek-t commented on #14552
... and again 2 significantly worse runs now:

run 2535:

    01:48:36 Sep 25 01:48:36.933: INFO: Top latency metric: {Verb:LIST Resource:pods Quantile:0.99 Latency:2.296337s}
    01:48:36 Sep 25 01:48:36.933: INFO: Top latency metric: {Verb:LIST Resource:pods Quantile:0.9 Latency:1.931939s}
    01:48:36 Sep 25 01:48:36.933: INFO: Top latency metric: {Verb:LIST Resource:pods Quantile:0.5 Latency:6

[2015-09-25 13:41] sdminonne commented on #14263
@qwang1 Just submitted the fix for the lack of update of labels. Having a look to the problem with `edit` command.

[2015-09-25 13:46] timothysc commented on #14552
@wojtek-t we discussed failing the tests on the histogram data but we felt it would it could be too flakey.

Perhaps we can use alerts instead.

[2015-09-25 13:51] timothysc commented on #14554
@gmarek I'll post results later today.

[2015-09-25 13:52] timothysc commented on #14216
@wojtek-t we've pretty much eliminated etcd as a culprit.

[2015-09-25 13:56] wojtek-t commented on #14552
@timothysc I though that it doesn't even have to be histogram - we can e.g. just have two limits: one for listing pods (which is way longer than any other operation) and one for other operations.

But anyway - I would just like to understand what is happening here...

[2015-09-25 14:00] wojtek-t commented on #14554
BTW - we observed a single big result also in 100-node cluster:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/2535/consoleFull

01:45:26 Sep 25 01:45:26.466: INFO: perc50: 1.470002711s, perc90: 2.098192042s, perc99: 9.647201782s

[2015-09-25 14:19] ironcladlou commented on #14519
Could permafail be represented as a condition on the deployment?

[2015-09-25 14:32] linzichang opened #14558 "example https-nginx make fail."
I follow [https-nginx](https://github.com/kubernetes/kubernetes/tree/master/examples/https-nginx) to create a nginx example. And I got stuck at the beginning.
[code]
@bprashanth @caesarxuchao

[2015-09-25 14:37] gmarek commented on #14554
I run tests on head from the beginning of September, and observed the same behavior. Checking 1.0 branch now.

[2015-09-25 14:45] gmarek commented on #14554
Branch 1.0.X seems to be healthy:
[code]

[2015-09-25 14:50] derekwaynecarr commented on #14532
@dchen1107

Is 3 specific to QoS situations, or just a general problem in Docker?  non-root processes could die outside of a OOM and result in the same situation today.

For 5, I assume we want a cgroup per memory qos only.  Do you anticipate that the Kubelet would define the groups for you (besteffort, burstable, guaranteed) as it does for the system cgroup or is it a manual task for administrato

[2015-09-25 14:53] ironcladlou commented on #14510
Spoke with @smarterclayton a little more about downstream extensibility, and it seems that as long as the kube deployment controller is scoped to just the strategies supported upstream, adding new downstream strategies could be as simple as just making new controllers which handle other strategy types. If downstream wanted to replace or augment the upstream strategies, the deployment controller co

[2015-09-25 15:01] #14032 closed

[2015-09-25 15:04] smarterclayton commented on #14519
There are two targets:

1. The deployment is completely invalid and will never be deployable
2. The *latest state* of the deployment cannot be deployed

In 2, the user reasonably expects that changing the deployment would result in a new attempt to deploy.  So inert isn't really the right knob - the user should expect to know that "state XYZ did not complete within the constraints indicated", but

[2015-09-25 15:06] derekwaynecarr opened #14561 "Additional pod life-cycle hook to support commit+push after container exits"
I would like the ability to define a hook to commit a container, and push its resulting image to a registry after its completed execution on the local node via a new policy on the Pod.

The use case is for a run-once pod whose result represents an image that should be pushed to a registry for consumption by other actors in the system.  To do this today, your container needs access to the docker so

[2015-09-25 15:13] derekwaynecarr opened #14562 "Remove experimentalMode from namespace_controller"
From https://github.com/openshift/origin/issues/4799#issuecomment-143233276

I agree.

cc @deads2k @kubernetes/rh-cluster-infra
cc @kubernetes/goog-control-plane

[2015-09-25 15:14] bgrieder commented on #3760
@thockin @bnprss  ok but we expect version 1.1 to run on the Google Container Engine after release. I wonder what sort of flexibility we will have to 'opt-in with a single annotation per node'. Could you please give us some details on what the process will be or point us to some documentation ?

[2015-09-25 15:20] sivi commented on #7581
I cannot recall properly now, yet it seems to me that the reason was one thing, so obvious for seasoned users, and entirely occluded for new:

**docker software runs as service which has to be started:** *$ sudo systemctl start docker*

The getting-started-guides do not mention that!!! It would save quite a bit of frustrations if it were mentioned.

[2015-09-25 15:23] deads2k commented on #14562
@derekwaynecarr Yes please.

[2015-09-25 15:25] mikedanese commented on #14562
@caesarxuchao any recommendation on how to do this?

[2015-09-25 15:26] gmarek commented on #14554
I wonder if it's not the same but that causes stairstepping in Samsung's setup. If it is so, it might actually be good, as this problem is reproducible very easily, and it's straightforward to automate PR bisection.

cc @spiffxp @quinton-hoole

[2015-09-25 15:33] ArtfulCoder commented on #14394
resolve libc source code: https://sourceware.org/git/?p=glibc.git;a=blob;f=resolv/res_query.c;h=4a9b3b3f27288f1c6926082ba5aadcd0427b142e;hb=HEAD

[2015-09-25 15:37] ArtfulCoder commented on #14394
https://github.com/skynetservices/skydns1/issues/20

[2015-09-25 15:40] PhilibertDugas commented on #10451
@yujuhong

Here is the cpu profile:

First part
![kubelet-leak-1](https://cloud.githubusercontent.com/assets/5460957/10104919/2ba51dac-637a-11e5-9f0d-b4138ffe9547.JPG)

Second Part
![kubelet-leak-5](https://cloud.githubusercontent.com/assets/5460957/10104922/2e800834-637a-11e5-9c63-bf8b6144349d.JPG)

I tried it on other node and it looked completely different! Something looks way off with this one

[2015-09-25 16:08] quinton-hoole commented on #14554
@gmarek I was about to suggest the same. Will let Bob White at Samsung know.

[2015-09-25 16:19] bgrant0607 commented on #14554
Where is the code for this test?

[2015-09-25 16:25] thockin commented on #14545
You need to "promote" an in-cluster Service to a higher order.  You can do this by running kube-proxy as you figured out, but that's a pretty clumsy answer overall, for reasons you have discovered and more.

You can elect a machine in your private network to act as an "external" load-balancer (https://github.com/kubernetes/contrib/tree/master/service-loadbalancer) or you can set Services as NodePo

[2015-09-25 16:26] gmarek commented on #14554
test/e2e/density.go

[2015-09-25 16:35] thockin commented on #14394
Note that this is skydns1 - old old.

Most important prio - find a culprit for periodic 5 second hangs

On Fri, Sep 25, 2015 at 8:38 AM, Abhi Shah <notifications@github.com> wrote:

[2015-09-25 16:40] mikedanese commented on #14528
fixed by #14550

[2015-09-25 16:47] cjcullen commented on #12179
Simpler idea:

Don't TTL tunnels at all. Have the tunnel management code query the kubelet healthz on the node it's tunneling into. This should stop the tunnel from being dropped, and if we can't reach healthz, we can assume we need to reopen the tunnel.

[2015-09-25 16:52] sttts commented on #14528
6596 pending pods??? I thought my setup was unlucky with around 50.

[2015-09-25 16:56] thockin commented on #3760
Once upgraded to 1.1:

[code]

Then SSH to each node and restart kube-proxy (or reboot each node).

If you want to be more cautious, do one or two nodes and then try it out :)

On Fri, Sep 25, 2015 at 8:15 AM, Bruno G. <notifications@github.com> wrote:

[2015-09-25 16:56] caesarxuchao commented on #14562
This [line](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L277) seems wrong:
[code]
It should deduce if experimental group is registered by checking if latest.Group("experimental") returns an error.

I think we should remove experimentalMode, keep s.EnableHorizontalPodAutoscaler and s.EnableDeploymentController, and checks these two flags

[2015-09-25 16:57] caesarxuchao commented on #14562
@nikhiljindal @lavalamp

[2015-09-25 17:00] deads2k commented on #14562
Checking if the group is registered is not the same as knowing whether the resources are being served.  It's possible to have the schemes and codecs present, but not serve the resources to be cleaned up.

[2015-09-25 17:07] nelsonenzo commented on #11237
kubectl apply isn't a valid command. Any other suggestions to fix this?

[2015-09-25 17:10] thockin commented on #11237
I think it's been renamed to 'patch'

[2015-09-25 17:12] caesarxuchao commented on #14562
By "being served", do you mean if there are endpoints exposed on API server? If so, the controller manager can use the API discovery mechanism introduced in #13955, i.e., it needs to check if these two controllers exist in the APIReourceList returned at /apis/experimental/version

[2015-09-25 17:17] caesarxuchao commented on #14558
@bprashanth, I'll send a fix which will supersede #14359.

[2015-09-25 17:19] deads2k commented on #14562
I think that would be more appropriate.  Find the exposed, namespaced resources and delete them.  That fulfills the intent.

[2015-09-25 17:22] bgrant0607 commented on #14554
Neither RunRC nor createRunningPod appear to specify any resources nor terminationGracePeriodSeconds. Is a LimitRange created for the namespace used by the tests, or are all the pods really relying on default behavior?

[2015-09-25 17:22] bprashanth commented on #14558
@caesarxuchao that would be great! thanks, I just got lost handling other 1.1 stuff and forgot about that pr

[2015-09-25 17:27] gmarek commented on #14554
They run in namespace created by the framework without LimitRanger and depend on default behavior.

[2015-09-25 17:28] caesarxuchao commented on #14558
Sent #14565, PTAL. Thank you.

[2015-09-25 17:35] vishh commented on #10451
IIUC, it looks like cadvisor's `du` calls are proving to be expensive.

On Fri, Sep 25, 2015 at 8:41 AM, Philibert Dugas <notifications@github.com>
wrote:

[2015-09-25 17:37] bgrant0607 commented on #13812
I recommended not adding List to the swagger. I don't think it would help. I think we need to detect the case of a List and extract the resources within, similar to FlattenListVisitor.

[2015-09-25 17:38] lavalamp commented on #14554
Ah, that might explain why so many of them get assigned to the same node? Which I observed here: https://github.com/kubernetes/kubernetes/issues/14273#issuecomment-142436818

[2015-09-25 17:42] gmarek commented on #14554
I looked at the distribution, and it was reasonable. The first 30/node should be spreaded roughly equally, as they come from one replication controller. With last hundred anything can happen.

[2015-09-25 17:43] gmarek commented on #14273
We add number of pods times something to the resource usage. @davidopp

[2015-09-25 17:51] bgrant0607 commented on #14263
cc @JanetKuo @kubernetes/kubectl

[2015-09-25 17:52] lavalamp commented on #14562
namespace controller runs in controller manager, not apiserver, right? (please say yes)

It should deduce whether experimental is on by querying apiserver, not by what is compiled into it.

Future: In fact it should not use the high level client at all. It should use raw RESTClients (like kubectl builder). And it should discover the entire list of namespaced resources by querying apiserver, which

[2015-09-25 17:59] chrisleck commented on #5472
FWIW, I think the use of most scripting here is a mistake.

I've been trying to wade through this stuff for a few weeks now, and I've come to the conclusion that the only sane, sustainable, and maintainable option is a pure declarative config for the cluster setup itself.

I would argue that for GCP & AWS, the IaaS provisioning system should use DeploymentManager & CloudFormation.  For other syste

[2015-09-25 18:00] #14480 closed

[2015-09-25 18:00] #14449 closed

[2015-09-25 18:09] yujuhong commented on #10451
@PhilibertDugas, thanks a lot for the profile! Does other nodes exhibit high cpu usage as well?

It certainly looks like that's the case here. If the cadvisor hasn't changed that much since kubernetes v1.0.1, this call is [checking the aufs directory for the container](https://github.com/google/cadvisor/blob/master/container/docker/handler.go#L128). @PhilibertDugas, perhaps you can manually check

[2015-09-25 18:10] derekwaynecarr opened #14567 "HorizontalPodAutoscaler.Status is a pointer?"
This seems inconsistent with every other type in the system.

[code]

It should not be a pointer.

@piosz @jszczepkowski

cc @kubernetes/rh-cluster-infra @kubernetes/kube-api

[2015-09-25 18:16] derekwaynecarr commented on #14562
@lavalamp - its in controller manager.

[2015-09-25 18:20] derekwaynecarr commented on #14562
@caesarxuchao - are there client libraries for dealing with the API discovery mechanism you can direct me towards?

[2015-09-25 18:21] lavalamp commented on #14562
We are still building them :(

On Fri, Sep 25, 2015 at 11:20 AM, Derek Carr <notifications@github.com>
wrote:

[2015-09-25 18:22] derekwaynecarr commented on #14562
@lavalamp - is there a PR i can track?

[2015-09-25 18:28] lavalamp commented on #14562
The issue #14321 is the closest thing I can give you at the moment.

On Fri, Sep 25, 2015 at 11:22 AM, Derek Carr <notifications@github.com>
wrote:

[2015-09-25 18:36] brendandburns opened #14570 "TestProcWithExceededActionQueueDepth is flaky"
@jdef @karlkfi @davidopp

Can we get this fixed ASAP?

Thanks!

[code]

https://app.shippable.com/builds/56048e527291610b002dea79

[2015-09-25 18:38] brendandburns opened #14571 "TestCNIPlugin is flaky"
@thockin

[code]

https://app.shippable.com/builds/5604defed7130e0b00462d60

[2015-09-25 18:39] vishh commented on #14549
cadvisor only works on linux as of now and in-order to build it, CGO needs
to be enabled.

On Fri, Sep 25, 2015 at 4:40 AM, sope <notifications@github.com> wrote:

[2015-09-25 18:39] #14549 closed

[2015-09-25 18:40] thockin commented on #14571
That PR got reverted

[2015-09-25 18:40] #14571 closed

[2015-09-25 18:41] brendandburns commented on #14571
Sorry for the noise, I searched for the test, but didn't see the reverted PR until after the fact.

[2015-09-25 18:44] brendandburns opened #14572 "hack/test-integration.sh is flaky, running too close to timeout"
[code]

https://app.shippable.com/builds/5604defed7130e0b00462d60

[2015-09-25 18:45] brendandburns commented on #14572
@liggitt @erictune

[2015-09-25 18:47] erimatnor opened #14573 "Restrict/prefer what pods schedule on particular nodes"
So, pods can have node selectors, which allows pods to be scheduled only on specific nodes. However, I can find no way to do the reverse; namely to say a node can only host pods that have certain labels.

The above would be useful in case one would like to limit which types of pods get scheduled on a node. For instance, there's an AWS machine with an instance disk and you'd like it to run an HDFS

[2015-09-25 18:50] soltysh commented on #14567
Grepping through the sources I see this is the only Status object being a pointer. Big fat :+1: on changing this.

[2015-09-25 19:17] PhilibertDugas commented on #10451
@yujuhong

The other nodes with different graphs do not exhibit any high cpu usage,

I ran the `du -s` command as asked

[code]
Took around 1 minute,

If I run it again,
[code]

Seem much quicker, but that might be due to caching

[2015-09-25 19:26] smarterclayton commented on #14561
What credentials are used for the push?  Is this generalizable to commit
and not push?  Is this specific to a certain container runtime?  Is this a
pod lifecycle behavior that could potentially be described in extensible
terms?  Also, doesn't this assume that the container may need to be set up
with inputs by another container first (stdin via attach or volume mounts)?

On Fri, Sep 25, 2015 at 11:

[2015-09-25 19:26] derekwaynecarr opened #14577 "Flake in gc_controller_test"
https://app.shippable.com/builds/56058e60cf4a140b00239779

@mikedanese

[2015-09-25 19:26] derekwaynecarr commented on #14577
[code]

[2015-09-25 19:28] liggitt commented on #14572
The first line logged from the integration test is
[code]
the last line from the service account token test is
[code]
then the test panics with:
[code]

I think the tests are just running too close the the timeout. On successful runs, the tests take ~115 seconds, which is ridiculously close the the threshold

[2015-09-25 19:29] liggitt commented on #14437
I think 2 minutes is not sufficient for the integration tests. See comment at https://github.com/kubernetes/kubernetes/issues/14572#issuecomment-143331513

[2015-09-25 19:31] stevekuznetsov commented on #11869
cc: @derekwaynecarr

[2015-09-25 19:33] derekwaynecarr commented on #14577
It was an easy flake, opening fix now.

[2015-09-25 19:40] smarterclayton commented on #14510
Don't strongly validate the strategy.  We need a general pattern for
allowing new fields to be specified that aren't lost on round tripping but
are not strongly versioned by kube.  In the short term, we can allow
arbitrary types and only validate recognized ones, set annotations to
parameterize the types.  In the medium term we should be able to add
extensions.  In the long run we should be able t

[2015-09-25 19:49] jdef commented on #14570
yep, thanks for reporting

On Fri, Sep 25, 2015 at 2:36 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-09-25 20:02] derekwaynecarr commented on #11869
I need to verify there has been no drift in the documentation on Monday.

[2015-09-25 20:08] brendandburns commented on #14572
ok, @liggitt do you want to send a PR to increase the timeout to 3 or 4 minutes?

[2015-09-25 20:09] bgrant0607 commented on #14344
Would be great to do this for ReplicationController, also: #4909

[2015-09-25 20:12] bgrant0607 commented on #4909
cc @erictune @mikedanese @derekwaynecarr

[2015-09-25 20:15] bgrant0607 commented on #2726
Using more specific issues for the remainder of the work.

[2015-09-25 20:15] #2726 closed

[2015-09-25 20:17] liggitt commented on #14572
Sure, I can do that tonight

[2015-09-25 20:30] #14344 closed

[2015-09-25 20:34] derekwaynecarr commented on #14561
@smarterclayton

I assume this would work similar to ```ImagePullSecrets```, we would have a ```ImagePushSecret``` required or something similar if you ran with this hook.

I want to prevent the user from pushing an image from the node that was not the output of their own commit.  I am not sure I see a use case for commit no-push.  Did you have one in mind?

I thought it was timely to raise this g

[2015-09-25 20:48] pmorie opened #14581 "Downward API volume E2E should check for label/annotation updates"
We should have a test that verifies that #14263 stays fixed.

[2015-09-25 20:55] bgrant0607 opened #14582 "TestGC is flaky"
Passed on kubernetes-test-go 3-4 times, and then failed:
[code]

cc @brendandburns

[2015-09-25 21:13] roberthbailey commented on #3760
I've marked this issue as "release-note" so that we don't forget to include that magic loop in our 1.1 documentation.

@RichieEscarez

[2015-09-25 21:15] smarterclayton commented on #13306
More comments on this?

[2015-09-25 21:22] caesarxuchao opened #14584 "merge pkg/api/unversioned.go and pkg/api/unversioned/types.go"
I assume we should merge them to pkg/api**s**/unversioned/types.go?

@kubernetes/goog-csi

[2015-09-25 21:37] dchen1107 opened #14585 "E2E: KubeProxy should test kube-proxy is flaky"
One instance of failure can be found with build kubernetes-e2e-gce/8619

KubeProxy should test kube-proxy

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubeproxy.go:96
Response was:map[errors:[reading from udp connection failed. err:'read udp 104.197.20.71:32081: i/o timeout']]
Expected
    <int>: 0
to be ==
    <int>: 2

cc/ @ArtfulCoder

[2015-09-25 21:38] jackgr commented on #1702
A new method to compute a strategic merge patch from an original configuration, a modified configuration and the current (live) configuration using delete decorator semantics has been submitted as #13820. Remaining steps are to store user supplied configurations as annotations on the affected objects, then add the apply verb to kubectl, using the new method to compute the patch to be applied using

[2015-09-25 21:44] emaildanwilson opened #14586 "Failed for reason PodFitsPorts and possibly others"
Since there is a separate IP address for each pod why do we need this check? The port at the pod level should be irrelevant to scheduling and able to be run on any node with a free address. If I have a 4 node cluster and try to launch 5 pods on the same port it fails to schedule even though there are 255 ip addresses available on each node.

Am I missing something?

[2015-09-25 21:48] quinton-hoole commented on #14582
Duplicate of #14577

[2015-09-25 21:48] #14582 closed

[2015-09-25 21:51] dchen1107 commented on #14140
I am re-target this one for 1.2 since it is blocked by #14054. Also since we decided to introduce a new Condition, instead of using existing Unschedulable condition, this issue is less critical.

[2015-09-25 21:55] dchen1107 commented on #2903
Allocatable is filed separately. Capacity  are handled, and usage is returned through different mechanism too. Close this.

[2015-09-25 21:55] #2903 closed

[2015-09-25 21:59] sdminonne commented on #14581
@pmorie I can work on this

[2015-09-25 22:02] jdef commented on #14570
how reproduceable is this? I have some changes that I think will resolve it but I couldn't reproduce locally even when all my cpu's were pretty tied up and using a high GOMAXPROCS.

[2015-09-25 22:07] philk commented on #13513
A good example would be tools that use docker labels but aren't aware of k8s labels yet (or may never).

One specific example:
https://sysdig.com/sysdig-cloud-adds-support-for-docker-labels/

[2015-09-25 22:08] quinton-hoole opened #14588 "Flaky unit test: kubelet.TestFreeSpaceImagesAlsoDoesLookupByRepoTags flakes on Jenkins"
job/kubernetes-pull-build-test-e2e-gce/10158/testReport/junit/(root)/kubelet/TestFreeSpaceImagesAlsoDoesLookupByRepoTags/

[code]

[2015-09-25 22:08] brendandburns commented on #14588
Flaked in Shippable too:

https://app.shippable.com/builds/5605aea47d8ec70c00fd19a7

@dchen1107 @kubernetes/goog-node

[2015-09-25 22:12] brendandburns opened #14589 "TestWatchJobs is flaky"
[code]

https://app.shippable.com/builds/5605ac2df06a390d0055d8aa

@soltysh @mikedanese

[2015-09-25 22:14] #14577 closed

[2015-09-25 22:17] jdef commented on #14570
flakey label process?

[2015-09-25 22:22] bgrant0607 commented on #14588
My guess: #14035

@feiskyer

[2015-09-25 22:23] quinton-hoole commented on #14588
This just looks like a plain bug to me. Not clear how it ever passed.

[code]

[2015-09-25 22:24] bgrant0607 commented on #14588
I'm going to revert it.

[2015-09-25 22:25] bgrant0607 commented on #14588
PR #14590

[2015-09-25 22:25] linzichang commented on #13812
@bgrant0607 I agree.  I think doing something similar to FlattenListVisitor in ValidateSchema maybe a little ugly. But it's straightforward.

[2015-09-25 22:53] yujuhong commented on #10451
@PhilibertDugas, yes, the second attempt is probably due to disk buffering. cadvisor does `du -s` pretty frequently (1s?) for each container though, so if it's taking long, that'd definitely be a problem.

Is there anything i/o heavy running on the node or is there any difference in the machine spec for this node?

[2015-09-25 22:59] derekwaynecarr commented on #4909
@bgrant0607 - is it a backward incompatible change in your view to restrict update of RC.Status when doing an update and instead requiring to put to a /status endpoint like the rest?  I began to look at that this afternoon, but worried it may be viewed as an incompatible change.

[2015-09-25 23:33] jackgr commented on #1702
To finish implementing kubectl apply, I need a way to reference the previous configuration of an object, as supplied by the user (i.e., specifically not including changes made to the configuration by automated processes).

One avenue that has been suggested is to store the configuration in an annotation. I've been somewhat naively assuming that we'd go this route, as noted in the previous comment.

[2015-09-25 23:33] yujuhong commented on #14588
@quinton-hoole, the test is mostly correct but the it should've updated the fakeRuntime.PodList (not the ContainerList). It was flaky because sometimes the image manager would remove the the correct image. I'll comment on the original PR.

[2015-09-25 23:44] spiffxp commented on #14216
Ran density 30 pod test case against the cluster configuration described above.  The only difference between each run is the hyperkube binary used.

Unfortunately the latencies don't really reflect the difference in performance, was hoping this could be tied / related to #14554
[code]

v1.0.6
<img width="1911" alt="100-m3medium-kube-v106-density-30" src="https://cloud.githubusercontent.com/assets/

[2015-09-25 23:44] yujuhong commented on #14588
[Commented on PR](https://github.com/kubernetes/kubernetes/pull/14035/files#r40485200) about the fix. Also uploaded #14595 to remove unused code to prevent accidental use. The tests could also be improved since there is some chance that the test may just remove the right image, rendering the test meaningless.

[2015-09-25 23:54] dchen1107 commented on #14588
Yeah, in @feisky's PR all other places are using PodList, except this one.

[2015-09-26 00:03] bgrant0607 opened #14597 "E2E soak test leaks static IPs sometimes"
Perhaps when failing to create a forwarding rule or target pool, or when the test times out? Or maybe not test time out since kubernetes-soak-continuous-e2e-gke was timing out for 4 days without hitting this problem.

The symptom: E2e tests in the same project start to fail due to hitting quota limits on static ips. Sure enough, there are several unused static ips with names like a76b185ff63d711e5

[2015-09-26 00:08] spiffxp commented on #14216
Added a resource block to https://github.com/Samsung-AG/kraken-services/blob/master/pause/controller.yaml
[code]

Manually scaled to 3030 replicas for parity with density test, immediate stair stepping

<img width="1910" alt="100-m3medium-kube-master-scale-resource-request" src="https://cloud.githubusercontent.com/assets/49258/10114560/89000d7c-63a7-11e5-9a52-91e078c3f020.png">

[2015-09-26 00:20] spiffxp commented on #14216
These are the kubernetes flags / constants used during these runs https://github.com/Samsung-AG/kraken/blob/master/ansible/roles/kubernetes/defaults/main.yaml#L10-L78

Most of them should be the defaults, just made explicit.  Tweaks have the default commented out above.

[2015-09-26 00:27] bgrant0607 commented on #4909
By "restrict", I assume you mean just dropping status on POST, PUT, and PATCH to the regular endpoint and only applying updates performed using the /status subresource.

It is technically a breaking change, but the RC manager isn't very pluggable at the moment, and a user would need to upgrade the apiserver and controller-manager at different times to expose a problem. A user posting to status is

[2015-09-26 00:30] lavalamp opened #14598 "kubectl proxy: --api-prefix flag to allow /apis/"
Now that we've moved the experimental api to /apis/experimental... it's inaccessible from `kubectl proxy` by default. We should fix that.

@erictune who stepped on this earlier

[2015-09-26 00:30] dchen1107 commented on #14216
cc/

[2015-09-26 00:48] philk commented on #13513
This issue could be considered a dupe of #3764 and/or #12451

[2015-09-26 00:49] smarterclayton commented on #14131
I'm not sure that we want to prevent pods that have SELinux contexts set from being copied across clusters.  That seems inherently fragile.  What's the benefit to the end user?  If someone writes an example that sets selinux context to a label that is well known across a set of systems, why would we reject the example on systems that don't have SELinux enabled?  If someone uses a Pod feature that

[2015-09-26 00:58] derekwaynecarr commented on #4909
Ok.  Will send PR Monday.

On Friday, September 25, 2015, Brian Grant <notifications@github.com> wrote:

[2015-09-26 01:19] davidopp opened #14602 "Have an option to keep Pod around for debugging"
We received an interesting suggestion today which has multiple layers to it but basically the use case was that they would like us to keep Pod state around for debugging in the case where a Pod is "moved" to another machine. This would presumably be an option in the Pod, rather than default behavior, since in the normal case people probably only care about the logs and not the full state.

[Please

[2015-09-26 01:40] feiskyer commented on #14588
Fix is at #14599

[2015-09-26 01:52] ArtfulCoder commented on #14394
Unable to reproduce errors with the newer skydns. will try to revert to older skydns one last time and see if the errors occur..

[2015-09-26 02:46] derekwaynecarr commented on #14602
@bparees - this struck me as something you would find of interest and want
to weigh in on.

I also think it's related to this as one potential means to support
debugging of the container state:

https://github.com/kubernetes/kubernetes/issues/14561

On Friday, September 25, 2015, David Oppenheimer <notifications@github.com>
wrote:

[2015-09-26 02:53] jayunit100 opened #14605 "Kubelets should fail fast if the kubeconfig is broken."
Since Almost any  production deployments wouldn't want to run a kubelet when it was sent a configuration file that couldn't be properly parsed.... The following snippet

[code]

Should be incorporated into Kubelets so that, on startup, they fail rather than proceed with a broken configuration input.  Its an easy patch I'll put it in if someone else doesn't beat me to it :)

[2015-09-26 03:05] #14437 closed

[2015-09-26 03:05] #14572 closed

[2015-09-26 03:17] brendandburns commented on #14570
the labelling is due to me failing @ github's label interface.  Bulk editing labels removes them if any of the selected things have the label *sigh*

Thanks for the quick fix.

[2015-09-26 03:25] smarterclayton commented on #1702
The user can shoot themselves in the foot many ways.  Deleting an
annotation is probably pretty far down that list.  They're more likely to
delete the resource, the namespace, or accidentally restore a config they
didn't want.

On Sep 25, 2015, at 7:33 PM, Jack Greenfield <notifications@github.com>
wrote:

To finish implementing kubectl apply, I need a way to reference the
previous configuration o

[2015-09-26 04:03] lvlv commented on #14573
Is it the same as add label to node and apply selectors in pods? If yes,
this is already supported.

On Sat, Sep 26, 2015 at 2:48 AM, Erik Nordström <notifications@github.com>
wrote:

[2015-09-26 05:06] bgrant0607 commented on #14597
It's not just this test.

I reverted #14569 to see if that would help.

@a-robinson

[2015-09-26 06:34] chrisleck-old-personal commented on #3906
FWIW, I setup a series of CF templates to configure my environment including Kube master and nodes using https://google.github.io/jsonnet/doc/.  They're not yet in shape to share, but I would encourage taking a look at this config language as a way to get things like #include, loops, and substitutions working for CF.

[2015-09-26 06:39] chrisleck-old-personal commented on #12381
Tagging really isn't sufficient here, though is a place to start.  We really want the ability to create both "public" LoadBalancers (for Internet facing services) and "private" LoadBalancers for use only within the VPC by other non-Kubernetes instances.  I think that requires subtyping of the LoadBalancer so an appropriate subnet can be chosen - perhaps allow a subnet tag to be passed into the Ser

[2015-09-26 06:55] feihujiang commented on #14586
The Ports in PodFitsPorts function is host ports which is specifed in ContainerPort, and expose on the host.

[2015-09-26 07:02] davidopp commented on #14573
This is not currently supported. I agree it would be useful. It is related to anti-affinity but not exactly the same. As always, PRs are welcome.

There are two paths to this:

(1) Continue to use node selectors. First we'd implement generalized node selectors (#341/#7053) so you can say "not \<label(s)\>". As you observed, this is hacky in that you'd have to put a node selector on every pod that

[2015-09-26 07:04] davidopp commented on #14586
Right, what @feihujiang said.

[2015-09-26 07:06] feihujiang commented on #14586
@bgrant0607 @HaiyangDing Maybe we should rename this function to PodFitsHostPorts to avoid confusing.

[2015-09-26 07:07] davidopp commented on #14586
Yes, that's a valid point.

[2015-09-26 07:07] davidopp commented on #14586
Feel free to send a PR. :)

[2015-09-26 07:46] davidopp commented on #13513
Yeah, definitely a dupe of #3764. Please follow up there.

[2015-09-26 07:46] #13513 closed

[2015-09-26 13:23] emaildanwilson commented on #14586
Thank you, it all makes sense now. In my mind it was working like "docker run -p $hostPort:$containerPort" which I understand now from reading the spec is not the case. Simply removing hostPort from the yaml would fix this issue for most folks.

Just so I understand, what is the use case for hostPort? Would it be like using nodePort but without a service?

[2015-09-26 14:43] bliss commented on #14408
@vishh As I suspected after I have asked systemd to start kubelet last with 'Type=idle' the problem disappeared. Thank you!

[2015-09-26 16:06] JeanMertz commented on #13382
@lavalamp we're running into the same problem, unfortunately, it doesn't seem [any SO post has been created](http://stackoverflow.com/search?q=%5Bkubernetes%5D+TLS+handshake+timeout) for this issue.

We're running on GKE without any manual modifications, should it still be considered a "question" on SO, or is this an issue related to Kubernetes?

In our case, we had a script use a service-account

[2015-09-26 16:33] JeanMertz commented on #13382
In fact, I am now quite positive this is a bug or something is going wrong on GKE:

[code]

the entire DNS resolution system on our cluster is non-functional because of this issue.

[2015-09-26 16:58] carlskii commented on #10906
Hmm, the last work around doesn't work for vmware_fusion and vagrant. "vagrant package" is not supported.

[2015-09-26 18:35] mvdan commented on #14138
So the issue is that sometimes, `Done()` gets called 13 times instead of 12. `DeleteFunc` is called an extra time, I haven't found out why yet.

[2015-09-26 18:57] mvdan commented on #14138
See #14616.

[2015-09-26 19:03] mvdan opened #14617 "Flake in pkg/controller/framework test under Go 1.5"
Happens a few times every 100 runs.

[code]

[code]

[code]

As you can see, there seems to be some kind of race which results in unwanted transitions.

[2015-09-26 19:03] mvdan commented on #14138
I ran the tests a few hundred times to make sure it was gone - and it was - but that uncovered a less frequent flake. Opened #14617 for it.

[2015-09-26 19:49] vishh commented on #14408
Glad to hear the issue has been fixed. In general, kubelet attempts to
manipulate the network that docker daemon uses and in that process, it
restarts docker. I hope that kubelet attempting to restart docker doesn't
cause any confusion on systemd systems.

On Sat, Sep 26, 2015 at 7:44 AM, bliss <notifications@github.com> wrote:

[2015-09-26 22:10] bgrant0607 commented on #14597
After reverting #14569, e2e tests have been passing.

[2015-09-26 22:13] #5275 closed

[2015-09-26 22:28] bgrant0607 commented on #13241
Using "make" doesn't seem so bad.

Rather than support jsonnet specifically, I suggest that we add a general way for users to specify transformation passes. That's compatible with the "plugin" idea I suggested in #13606.

Deployment manager #3685 will also provide another framework for invoking such transformations.

I do agree that we need to support parameterization #11492 and scoping #1698.

cc

[2015-09-26 22:43] roberthbailey commented on #13382
What version of kubernetes are you running on GKE (`gcloud container clusters list`)?

[2015-09-27 00:37] davidopp commented on #14586
It's for when you need to expose your application on the node's IP rather than the pod's IP.

[2015-09-27 01:01] eliaslevy commented on #4235
Allow me to second this requirement. Availability zones within AWS are often used as the equivalent of racks within a DC for purposes of availability.  The inter-AZ latencies are low enough for many applications. A federated model, while valuable for cross region clusters, would likely be too complex tightly coupled cross-AZ applications.  E.g. service discovery is likely to be more complicated an

[2015-09-27 01:10] mvdan commented on #14617
Could someone with an understanding of this code/test tell me if these transitions are definitely unwanted?

[2015-09-27 01:25] mvdan commented on #14589
Ran a test executable with `-race` more than 20,000 times and no failures. Any hints as to how to get it to show up? I'm running 100 jobs at a time, so my system is stressed already.

[2015-09-27 01:35] mvdan commented on #12377
Practically fixed in 77fd38848584 - undoing the timeout change, I got the error three times out of 10k runs. With the timeout bump to 30s, it seems to never happen.

I guess bumping the timeout isn't the correct way to fix this, though.

@wojtek-t it won't happen if you run one test at a time. Easy to reproduce if you run the test 200 times in parallel, which makes the scheduler be less predictabl

[2015-09-27 01:43] mvdan commented on #9121
Built a race test executable and ran it 10,000 times as follows:

    stress -p 200 ./test -test.run '^TestUpgradeResponse$'

I'm positive that the flake is now gone, most probably solved by c83786979c6fa.

[2015-09-27 02:31] brendandburns commented on #14605
@kubernetes/goog-node

[2015-09-27 03:10] brendandburns opened #14620 "Kubelet resource usage tracking broken in GKE"
For example:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/8552/

I'm disabling the test in https://github.com/kubernetes/kubernetes/pull/14619

But we need to re-enable it, or roll-back the test.

@yujuhong @dchen1107 @kubernetes/goog-node

[2015-09-27 03:10] brendandburns commented on #14620
@roberthbailey fyi

[2015-09-27 04:20] streamnsight commented on #499
got this working when:
1) I remove the 'auths' wrapping on the object in the config.json
2) add 'https://' in front of the URL
3) make it one line (not sure this is so critical but it seems to cause issues (invalid json) if not in one line

-> base64 encode and make sure it is still one line when listin as entry for .dockercfg

[2015-09-27 04:21] JeanMertz commented on #13382
@roberthbailey 1.0.6

Having said that, this *might* be related to one of our services on Kubernetes not closing http connections properly on one of the health endpoints, causing tens of thousands of `CLOSE_WAIT` connections to stay open on the nodes.

We've since patched this up, so we'll see how things behave now.

[2015-09-27 12:27] bronger opened #14622 "HTTP 500 errors with some label selectors"
When polling a k8s master with

    https://xx.xx.xx.xx/api/v1/namespaces/default/replicationcontrollers?labelSelector=environment%3D

the response is an HTTP 500.  But even if this selector is invalid, it should return a 4xx code instead.

[2015-09-27 14:10] ArtfulCoder commented on #14394
With the old skydns

root@abhi2:/# time nslookup kube-registry.default.svc.cluster.local 10.244.0.5
Server:         10.244.0.5
Address:        10.244.0.5#53

** server can't find kube-registry.default.svc.cluster.local: NXDOMAIN

real    0m4.243s
user    0m0.000s
sys     0m0.004s

------------------------

14:06:43.039320 IP 10.244.1.4.36951 > 10.244.0.5.53: 60763+ A? kube-registry.default.svc.clu

[2015-09-27 14:13] ArtfulCoder commented on #14394
root@abhi2:/# time nslookup kube-registry.kube-system.svc.cluster.local 10.244>
Server:         10.244.0.5
Address:        10.244.0.5#53

Name:   kube-registry.kube-system.svc.cluster.local
Address: 10.0.94.9

real    0m8.162s
user    0m0.004s
sys     0m0.000s

---------------

14:12:00.355051 IP 10.244.1.4.42997 > 10.244.0.5.53: 24143+ A? kube-registry.kube-system.svc.cluster.local.default.svc.cl

[2015-09-27 14:20] ArtfulCoder commented on #14394
With the old skydns, I am quite convinced that the problem is ndots.

The query is tried as FQDN only after trying it with all 6 search domains.
search domains which are non cluster-specific, get forwarded.
Each  forwarded request takes upto 4 seconds to fail.
We have 3 search domains, which are external to cluster.
(c.abshah-kubernetes-001.internal. 808746819879.google.internal. google.internal.)

[2015-09-27 14:26] ArtfulCoder commented on #14394
Will try one last time with the newer skydns

[2015-09-27 14:27] ArtfulCoder commented on #14394
Client-side timeouts happen too, but if they happen they dont result in 5 second responses. the timeout is immediate. With the iptables-kubeproxy, client side timeouts dont happen.
This is not the reason of the 5-second slowness that users experience.

[2015-09-27 15:21] ArtfulCoder commented on #14394
@thockin
The culprit : Log in SkyDNS

;; QUESTION SECTION:
;kube-registry.kube-system.svc.cluster.local.808746819879.google.internal.      IN       A

Abhi: ServeDNSForward Request at: 1443366957374328618
Abhi: exchange request at:1443366957374410659
Abhi: ReadMsg err:read udp 10.240.0.1:53: i/o timeout
Abhi: exchange response in:4001276207
Abhi: exchange request at:1443366961375767744
Abhi: excha

[2015-09-27 15:29] a-robinson commented on #14597
Yeah, that PR will undoubtedly both
1. Use more static IP addresses, since every externally load balanced service now gets one
2. Cause static IPs to leak at the same rate or worse as target pools, because we delete them after we delete target pools.

We could somewhat alleviate the second point by deleting static IPs before target pools (but after forwarding rules), but we'll definitely need more

[2015-09-27 15:30] a-robinson commented on #14597
But as @thockin mentioned on #14569, this change is quite important for ensuring that service's externally load balanced IPs don't get changed out from under them.

[2015-09-27 15:31] ArtfulCoder commented on #14394
https://github.com/miekg/dns/blob/master/client.go#L152

[2015-09-27 15:33] ArtfulCoder commented on #14394
I believe that if we adjust the readtimeout, our dns issues will be fixed easily.
should be an easy change.

I have not verified this, but the timeout is probably set around 5 seconds.
As a result, users see the 5 second delay.

[2015-09-27 16:31] chrisleck opened #14624 "Grafana addon no longer loads through apiserver proxy"
With the latest change to the grafana/heapster/influxdb addon, the grafana UI no longer appears to work properly through the apiserver proxy.  The UI loads, but attempting to login just spits out a 404.

Appears to be due to PR #14210 .

I suspect something changed in grafana to make it hostile to the URL paths that kubectl local proxy through the API server uses.

@vishh Could you please take a l

[2015-09-27 17:09] justinsb commented on #14505
I agree this would be useful.  I don't think this is specific to AWS though - I believe it applies to all clouds (?).

One simple option would be to have this be a configuration parameter, where instead of opening to 0.0.0.0 we would open all services to the same CIDR.  This would be useful for a "private k8s", but not useful for a mixed-public/private k8s where some services are private and some

[2015-09-27 17:15] justinsb commented on #14504
This seems accurate.  Normally there is only a single security group (when created by kube-up), so the decision is indeed arbitrary currently.

I think we should probably do what we do generally - tag the security group with our cluster id, and consider that security group to be "k8s managed".

@chrisleck I take it you aren't using kube-up and/or are adding additional security groups?  Can you des

[2015-09-27 18:14] bgrant0607-nocc commented on #13610
Do we really need this if we have ConfigData #1553?

[2015-09-27 18:15] bgrant0607-nocc commented on #13610
To clarify: Imagine something like Secret, but for non-secret data.

[2015-09-27 18:15] bgrant0607-nocc commented on #13718
cc @derekwaynecarr

[2015-09-27 18:24] bgrant0607-nocc commented on #14380
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-27 18:24] #14380 closed

[2015-09-27 18:25] bgrant0607-nocc commented on #14394
@ArtfulCoder Please add priority and team labels when filing issues.

[2015-09-27 18:29] bgrant0607-nocc commented on #14420
cc @justinsb @pires

[2015-09-27 18:30] bgrant0607-nocc commented on #14533
cc @ArtfulCoder

[2015-09-27 18:38] bgrant0607-nocc commented on #14622
Do you get 500 without the label selector?

cc @kubernetes/goog-csi

[2015-09-27 18:39] bgrant0607-nocc commented on #14624
cc @kubernetes/goog-csi

[2015-09-27 18:44] bgrant0607 commented on #14400
On 1.0.x, you can specify --update-period to set a time to wait between updates.
http://kubernetes.io/v1.0/docs/user-guide/kubectl/kubectl_rolling-update.html

On 1.1-alpha, rolling update monitors pod readiness, and an additional waiting period.

[2015-09-27 18:44] #14400 closed

[2015-09-27 18:47] bronger commented on #14622
No, and not with a value like "environment%3Dfoobar".  But if I remove "foobar" or replace it with an url-encoded space, i.e. "environment%3D%20" or "environment%3D+" I get a 500.

I suspect that the value (after the colon) is stripped of whitespace, and if the result is the empty string, this error happens.

[2015-09-27 19:02] ArtfulCoder commented on #14394
#14625

[2015-09-27 19:08] ArtfulCoder commented on #14533
@ntquyen

Can you run "tcpdump -n port 53"  on development /curlpod,
while you run "nslookup svc-rethinkdb-driver.development"

Once you give me the output of tcpdump, we can figure out what happened..

[2015-09-27 19:16] jackgr commented on #1702
That's certainly true, but doesn't make it sit much easier in my mind. I'm looking forward to having a first class Configuration resource, and to rewiring apply to take advantage of it.

[2015-09-27 19:20] jackgr commented on #1702
I've submitted #14621 and #14626, which implement the kubectl apply command, and add calls to automatically set the annotation it uses to most call paths used to update configuration. See #14626 for details regarding the exceptions. With these pull requests, this issue should now be addressed, except for conflict detection in kubectl/pkg/util/strategicmergepatch/patch.go, which has a TODO and clea

[2015-09-27 19:22] bparees commented on #14602
thanks @derekwaynecarr, definitely the ability to get the pod logs seems extremely useful.

in relation to #14561, the ability to do more than what is described here and actually commit the containers of the failed/moved pod and push it to a registry so i can pull the image (basically a snapshot at that point) and do some investigation of the ephemeral filesystem/attempt to start the process, etc

[2015-09-27 19:43] quorak opened #14627 ""Kubernetes Deployment On Bare-metal Ubuntu Nodes" Tutorial doesn't work right away"
after running through the tutorial the "kube-apiserver" could not start and giving me
```Unknown admission plugin: DenyEscalatingExec```
after removing it from 'admission-control' in '/etc/default/kube-apiserver' I goudl start the kube-apiserver

[2015-09-27 19:50] kamalmarhubi commented on #13610
@thockin sorry I've been traveling and only got to look at this now. Something like @erictune's example is what I had in mind, though with the ability to specify it as base64 encoded compressed data or something else like that.

@bgrant0607-nocc I think that would work for my imagined use cases. The ConfigData could be specified in the same file for easy reference. Similarity with Secret would be

[2015-09-27 19:51] davidopp commented on #10891
ref #14054

[2015-09-27 19:59] davidopp commented on #13774
This issue is related to pod GC, see #7660. This is not the same as a normal quota problem because in principle you can put "pressure" on the controllers that created pods to clean up dead ones, to free up space to create new ones. See for example this comment
https://github.com/kubernetes/kubernetes/pull/14325#issuecomment-142498925

Same is true for any object type we want to limit the number of

[2015-09-27 20:01] ArtfulCoder commented on #14533
If it is inconvenient to run tcpdump on the pod, run it on the host of the pod, and capture packets on docker interface

[2015-09-27 20:24] ArtfulCoder commented on #14394
The PR does seems to mitigate the problem significantly.

I believe we have to source of the problem:

### Consider how google.com gets resolved by kubernetes:

#### Client-side:
Each non-cluster dns query (e.g. google.com) results in the following sub-queries from the client to skydns nameserver (the first nameserver in /etc/resolv.conf):

google.com.default.svc.cluster.local.
google.com.svc.clus

[2015-09-27 20:40] ArtfulCoder opened #14628 "Configure skydns to not forward "cluster.local." (configureable suffix) requests"
Skydns should not forward requests that end in "cluster.local." and must consider itself as the ONLY source of truth.
This should be configurable via a command-line flag.

[2015-09-27 20:40] ArtfulCoder commented on #14628
#14394

[2015-09-27 21:03] ArtfulCoder commented on #14628
Skydns forwarded a cluster.local request that ultimately time out after 4 seconds.

;; QUESTION SECTION:
;kube-registry.kube-system.svc.cluster.local.808746819879.google.internal.      IN       A

Abhi: ServeDNSForward Request at: 1443366957374328618
Abhi: exchange request at:1443366957374410659
Abhi: ReadMsg err:read udp 10.240.0.1:53: i/o timeout
Abhi: exchange response in:4001276207
Abhi: excha

[2015-09-27 21:05] ArtfulCoder commented on #14628
150ms might be too aggressive per this article:
https://technet.microsoft.com/en-us/library/ff807396(v=ws.10).aspx

[2015-09-27 21:06] ArtfulCoder commented on #14628
#14625

[2015-09-27 21:11] ArtfulCoder opened #14629 "Reduce the number of search domains for dns lookups"
We have 3 kubernetes-specific search domains.
We should consider just having fewer

[2015-09-27 21:21] bgrant0607 commented on #14400
Dupe of #11484

[2015-09-27 21:32] bgrant0607 commented on #14396
Priority function is here:
https://github.com/kubernetes/kubernetes/blob/2da7e8d41fb32e00557f95c1bcd4419b96cd19b7/pkg/controller/controller_utils.go#L369

Unscheduled, pending, and not-ready pods are killed in preference to "running" pods, which includes pods with containers that have been or can be restarted. Failed pods are not counted against the replica count.

What do you mean by "failed beca

[2015-09-27 21:37] bgrant0607 commented on #14396
Using a similar health/availability notion as #11484 would make sense. Maybe prioritize by time since last restart and/or number of restarts.

Also related: #11234.

[2015-09-27 21:38] bgrant0607-nocc commented on #14627
Dupe of #14474

[2015-09-27 21:38] #14627 closed

[2015-09-27 22:26] bgrant0607 commented on #1702
@jackgr Original discussion was in #1178.

I'm looking for a "good enough" solution, not a perfect one.

I don't think we need to update the annotation in any code path other than apply. I consider out-of-band updates to fields covered by the annotation to be conflicts: #13576.

[2015-09-27 22:27] nikhiljindal commented on #14519
Yes we can add a "Failed" condition to indicate permfail.
Agreed that inert and permfail are different. An inert deployment will never be tried, but a failed deployment will be retried, if the user updates the deployment.

We need to way for user to be able to retry a failed deployment, without updating it (for ex: after adding a missing image).

[2015-09-27 22:29] thockin-cc commented on #14629
Why?  The DNS load?  I think all three are very useful.  I could see MAYBE
dropping svc.cluster.local, but it was there for compat and dropping it
will be nigh impossible.  I don't think this is feasible.
On Sep 27, 2015 2:12 PM, "Abhi Shah" <notifications@github.com> wrote:

[2015-09-28 01:26] ntquyen commented on #14533
This is the tcpdump when running on host of the pod
[code]

[2015-09-28 02:07] ArtfulCoder commented on #14533
We can confirm the tcpdump, that the dns client never hits skydns.
Some how, the dns client tries  10.0.2.3 first.
We need to somehow enforce the client to use the first nameserver first...
Will check if there is any such option to set in resolv.conf

[2015-09-28 02:09] jayunit100 commented on #5472
Terraform is a possibility here also.

[2015-09-28 02:15] activeshadow opened #14630 "Headless service still uses service cluster IP address"
When defining a service with name `abc` who's `clusterIP` setting is set to `None` (ie. a **headless service**), I expected the environment variable `ABC_SERVICE_HOST` in a container to be set to the container pod's IP address. However, it's still being set to a service cluster IP address. When I get the service details via `kubectl get services`, the IP address listed for the headless service is

[2015-09-28 02:17] ArtfulCoder commented on #14533
@ntquyen
Can you confirm that the lookup works from the development pod if the 10.0.2.3 nameserver is removed from /etc/resolv.conf on that pod.
you can do the following:
1.  kubectl exec -ti curlpod --namespace=development   /bin/bash
2. run nslookup svc-rethinkdb-driver.development. confirm that it fails
2. edit /etc/resolv.conf and remove the nameserver 10.0.2.3
3.nslookup svc-rethinkdb-driver.

[2015-09-28 02:22] ArtfulCoder commented on #14533
Also, it is interesting that the dnsclient tries the query as FQDN first, which is what the resolv.conf documentation says, but I have not seen that happen on ubuntu container.

[2015-09-28 02:30] ArtfulCoder commented on #14533
Actually, can you run tcpdump -i any -n port 53

I suspect that your dns pod is running on the same host as your development pod, and as a result, your tcpdump query did not capture those packets on eth0

Also, it would be useful to compare the tcpdumps that happens for the happy and the un-happy case..

(Further, I think if your pods are FROM ubuntu or something other than busybox, this problem s

[2015-09-28 02:36] ArtfulCoder commented on #14533
I think I know the root cause:
are you using iptables mode for kube-proxy ?
Somehow, the udp packets dont hit the dns pod, since the packets are considered martian..

Your development pod and the dns pod are on the same host, most likely.

If you use iptables in userspace mode, this should work.

[2015-09-28 02:43] brendandburns commented on #14629
Assigning to @thockin for triage or closing

[2015-09-28 02:44] brendandburns commented on #14622
Bumping priority to P1 since this is definitely a bug and we should fix it.

[2015-09-28 02:56] ntquyen commented on #14533
My curlpod is the one from kubernetes example, it based on `radial/busyboxplus:curl`. But curlpod is just the one I use for my test after having the same problem with my project's container which is base on ubuntu trusty.

I removed 10.0.2.3 nameserver, it still failed :(. This is the log running `tcpdump -i any -n port 53`
[code]
The kube-dns and the development curlpod is running the different h

[2015-09-28 03:06] zhengguoyong commented on #1111
hi, all
is there anynoe doing this, if no, i think i can make some PR, as i was doing this recently.
or you can make me assignee. thanks.
@jbeda  @bgrant0607 @thockin

[2015-09-28 03:08] ntquyen commented on #14533
Ah you're right, it the kube-dns and and the curlpod are running in different host, it will work!

[2015-09-28 03:36] ArtfulCoder commented on #14533
can you check what command-lines args is kube-proxy running with ?

[2015-09-28 03:37] ArtfulCoder commented on #14533
"ps -ef |grep kube-proxy" on host, or check the /etc/default/kube-proxy file

[2015-09-28 03:44] ntquyen commented on #14533
[code]

[2015-09-28 03:49] ArtfulCoder commented on #14533
Args got clipped.
Can you get the full args list ?

Sent from my iPhone

[2015-09-28 03:54] thockin commented on #14630
Sorry, this is not how it works.  A headless Service has an arbitrary
number of backends and those backends can change over time as pods
come and go.  Environment variables are utterly unsuited for this -
they can not be changed from outside a running process.

A headless service should not get any IP.  If it got assigned an IP,
it is (by definition) not headless.  I just tried it, and I don't see

[2015-09-28 03:58] ntquyen commented on #14533
Here the full `kube-proxy.service`:
[code]
and `kube-install.service`:

[code]

[2015-09-28 04:11] thockin opened #14633 "Docker /etc/hosts and DNS is not what we want"
I noticed this earlier and can not explain it:

[code]

but

[code]

What is happening here?  Is it docker?  The same doesn't seem to happen in ubuntu.

[code]

We need to understand this ASAP.  Docker is version 1.8.2

[2015-09-28 04:15] thockin commented on #14633
Oh sweet deity, docker is populating /etc/hosts

[code]

[2015-09-28 04:26] thockin commented on #14633
I can't find any docs on this except that Docker does it for links.  I did not expect it for all containers on a machine.  This is not as disastrous as intercepting DNS (phew), but it is really not something we want.

[2015-09-28 04:33] thockin commented on #14633
https://github.com/docker/docker/issues/16619

[2015-09-28 04:36] streamnsight commented on #14633
Docker populates the hosts file only with links as far as i know, but it may populate for all containers if the -net=host flag is set.

[2015-09-28 04:44] thockin commented on #14633
I think this has to do with libnetwork taking over inside docker and
muddling "services" with "networks".  My guess with very little evidence is
that someone figured it made sense to support DNS for containers in the
same Network, but DNS names are tied to container names.  Do Not Want.

On Sun, Sep 27, 2015 at 9:36 PM, streamnsight <notifications@github.com>
wrote:

[2015-09-28 04:45] thockin commented on #1111
There have been a few PRs in this direction, but mostly hitting the easy
stuff.  The big one will be when nodes stop coming up named as "minion"

On Wed, Sep 23, 2015 at 12:21 AM, zhengguoyong <notifications@github.com>
wrote:

[2015-09-28 04:45] thockin commented on #14629
Yeah, I'm closing this as infeasible.  It's part of our UX.  If we want to change this (and I don't know we do) it's a MAJOR change to come with deprecations and major releases.

[2015-09-28 04:45] #14629 closed

[2015-09-28 04:50] streamnsight opened #14635 "Access to TLS secured etcd: what does the config file look like?"
Talking to the CoreOS people, I'm told etcd doesn't take a config file, only command line flags.

However in setting up the api-server and associated pods for Kubernetes, the only way to pass those components the certificates seems to be to pass a config file.

in the flag list for api-server, there is:
`--etcd-config="": The config file for the etcd client. Mutually exclusive with -etcd-servers.`

[2015-09-28 05:01] thockin commented on #14394
Great sleuthing.  I don't think reducing search domains is viable, but it sounds very reasonable to tell skydns not to forward queries for the assigned domain (optionally).

@bketelsen @miekg - is it possible to tell skydns not to forward requests for the skydns-served domain?

[2015-09-28 05:02] thockin commented on #14628
@bketelsen @miekg - sorry for double @'ing you, this is finer grained :)

[2015-09-28 05:10] thockin commented on #13913
@nancykyo any updates here?  Can we close this?

[2015-09-28 05:14] thockin commented on #14505
#14545 is coming from the same place but is more generically worded.

As I said in the email on that one - I would support something like this but we need to be careful with cross-cloud compat (or go it ourselves with more iptables) or lump it into the budding network policy discussion

[2015-09-28 05:34] ghodss commented on #1702
If we don't find an appropriate annotation, `kubectl apply` shouldn't fail - it should still apply the provided patch to the server and store that patch as the annotation.

The only purpose of the annotation is to find fields that were formerly specified by config but have now been removed. If you don't have the annotation, you can simply assume that the only fields that you want to control with c

[2015-09-28 05:36] ArtfulCoder commented on #14628
@thockin
I was over-enthusiastic in opening this issue.

skydns is doing the right thing.
The client's request already had the suffix added
kube-registry.kube-system.svc.cluster.local.808746819879.google.internal.

As a result, it gets forwarded.

Still, the timeout happens on forwarded requests, as seen in the log.
This is the source of the problems that we have seen.

I will close this bug, but

[2015-09-28 05:36] #14628 closed

[2015-09-28 05:46] nancykyo commented on #13913
yes, we can close this. using pure iptables is acceptable, but kube-proxy seem have some performance problem.

[2015-09-28 05:52] ArtfulCoder commented on #14394
@thockin @bketelsen @miekg
Tim was right in that skydns works as documented. It doesn't  forward queries for the assigned domain.

The slowness is the combination of having 6 search domains, 3 nameservers.

Sometimes, the  skydns forwarding request times out in 4 seconds. This causes the delay.
If we could find a way to mitigate the forwarding request timeouts, we would be in a better state.

[2015-09-28 05:53] ArtfulCoder commented on #14628
My log above shows the client request had the google.internal. suffix to it already..

[2015-09-28 05:57] ArtfulCoder commented on #14533
one more thing: can you run "sudo iptables-save" on the host of the failing pod.
Also, can you double-check that this happens only if the dns pod and your dev pod are on the same host ?

[2015-09-28 06:09] thockin commented on #13913
We're investigating some other reports of slowness, too.

[2015-09-28 06:09] #13913 closed

[2015-09-28 06:26] HaiyangDING commented on #14586
CC @HaiyangDing, I will send a PR sooner.

[2015-09-28 06:33] HaiyangDING commented on #12744
I did not have time to do this PR in the past few days and will start working on this right away. @HaiyangDING

[2015-09-28 06:55] ntquyen commented on #14533
Yes, I retried and confirm that it failed only if the dns pod and curlpod are on the same host.

[code]

[2015-09-28 07:22] liguangbo commented on #14434
I think I have time to clean this. Is there anyone has worked on this?

[2015-09-28 07:27] davidopp commented on #12744
OK. Be aware of #13580 which may conflict a bit.

[2015-09-28 07:37] davidopp commented on #14635
There's some discussion of your question in this mailing list thread
https://groups.google.com/d/topic/google-containers/bTfEcRQ3N28/discussion

If that doesn't answer your question, please re-post it on StackOverflow
http://stackoverflow.com/questions/tagged/kubernetes
or reply to that mailing list thread. We're trying not to use Github for general Q&A.

Thanks!

[2015-09-28 07:37] #14635 closed

[2015-09-28 07:44] gmarek commented on #14424
I moved this test to flaky suite, to make GCE test actually run, but we're not 'green' yet. Some needs to investigate this. @thockin @smarterclayton @quinton-hoole

[2015-09-28 07:46] wojtek-t commented on #13671
@timothysc - my appologies (it seems that I didn't understand out build process). I was running it with 1.4 Go version (at that point). I can try to look into it with 1.5.1 Go version this week.

[2015-09-28 08:04] smarterclayton commented on #14424
Has anyone ever dug into the time it takes these containers to become ready?  I assumed a large part of it was delay due to other tests running at the same time (the containers themselves should start and report ready quickly).  It might be a good idea to set up a watch in one of these tests and report timings for various changes in status of the container (including the time the Kubelet reports)

[2015-09-28 08:06] kelbongoo opened #14638 "Unable to update/stop secrets volume"
I have setup a secrets volume as per this guide (https://github.com/GoogleCloudPlatform/kube-jenkins-imager), and it is working fine and is accessible from the other services where it is referenced. And I can see it via "kubectl get secrets"
[code]
However, on the man page, it says I should be able to update my-secrets via
[code]
but instead I get
[code]
Similarly, the man page seems to say I shou

[2015-09-28 08:11] wangzhezhe opened #14640 "Does k8s delete the events at intervals?"
Does k8s delete the events info at intervals ? could I set the parameter that how long the events info existing? Thank you!

[2015-09-28 08:23] kelbongoo commented on #14638
OK found at least the correct syntax to remove
[code]

[2015-09-28 08:33] miekg commented on #14394
Reading through the last messages, what do you mean with:

forwarding requests to external nameserver (i.e. outside the current served skydns domain)?

[2015-09-28 08:34] wojtek-t commented on #14216
These are the kubernetes flags / constants used during these runs https://github.com/Samsung-AG/kraken/blob/master/ansible/roles/kubernetes/defaults/main.yaml#L10-L78

@spiffxp - did you run exactly the same test with all default values? In particular I'm wondering whether this line:
"max-requests-inflight: 40000"
is causing some problems here.

[2015-09-28 08:50] jszczepkowski commented on #14567
@derekwaynecarr  Thanks for noticing this! I'll fix it.

[2015-09-28 08:51] JeanMertz opened #14641 "connections left in CLOSE_WAIT state by kube-proxy"
@brendandburns asked me to create an issue after mentioning this on Slack.

`lsof -i | grep CLOSE_WAIT | wc -l` keeps increasing gradually on our `1.0.6` clients on a GKE-hosted Kubernetes cluster.

[code]

issuing a `service kube-proxy restart` removes these stuck connections. Without this hotfix from time to time, things become cluttered and eventually the entire cluster grinds to a halt.

***

[2015-09-28 09:05] rvrignaud opened #14642 "Problem rescheduling POD with GCE PD disk attached"
Hello,

I'm using a GKE (1.0.6) cluster. Today, for a yet unknown reason, a node has rebooted. This node used to have a pod with a GCE PD attached. This pod is scheduled by a RC with only one replica.
When the node rebooted, the pod has been rescheduled on an other node. However for some reason, the PD has not been detached from the old node.
The result was that Kubernetes tried multiple time to a

[2015-09-28 11:00] JeanMertz opened #14647 "GCE PD: after RC removal, PD stays attached"
I've got five single-pod RCs, each having their own GCE PD attached. If I delete all five pods in one go, sometimes one or more pods don't come back online. The cause is this:

[code]

The only way I've been able to solve this is to manually ssh into the machine where the disk is still attached, and manually `umount` it, and the run `gcloud compute instances detach-disk`.

Possibly related to http

[2015-09-28 11:06] JeanMertz commented on #14647
Note: I can consistently reproduce this when deleting all five rcs at once, and can consistently reproduce the desired behaviour when deleting them one by one.

[2015-09-28 11:56] piosz opened #14649 "Panic in autoscaling_utils.go"
After autoscaling.go tests are ported to Resource Consumer #14275 the tests are flaky (with >70% of fails). Sample fail:
[code]

[2015-09-28 11:57] piosz commented on #14649
cc @jszczepkowski @mwielgus @socaa

[2015-09-28 11:59] piosz commented on #14649
added debug logs #14644

[2015-09-28 12:28] mwielgus opened #14652 "GCE - after autoscaler-initiated cluster resize the removed node is still present in kubectl get"
[code]

[code]

[2015-09-28 12:29] mwielgus commented on #14652
cc: @jszczepkowski @piosz @fgrzadkowski

[2015-09-28 12:34] piosz commented on #14652
@gmarek, it looks like a problem with Node Controller. Do you have any comments?

[2015-09-28 13:36] pires commented on #14420
@bgrant0607 me?

[2015-09-28 13:55] mwielgus commented on #14652
Node controller waits until pod eviction:

[code]

But the pods are in the `Terminating` state:

[code]

[2015-09-28 14:01] gmarek commented on #14554
With @wojtek-t, thanks the magic of bisection, we found the (probable) offending PR: #13003. We didn't dig deeply to understand why it's the case, but the test results are as follows (one from multiple runs on each revision):

With this PR:
[code]

One PR earlier:
[code]

Some observations that may help Node team (@dchen1107, @yujuhong, @vishh) with debugging this:
- we're seeing quite large metri

[2015-09-28 14:02] jszczepkowski opened #14656 "Updating of scale sub-resource for RC not working"
After #14156 was merged, updating of scale sub-resource for (experimental) replication controller stopped working. In affect, the whole horizontal pod autoscaler is not working now. The problem seems to be that experimental scale sub-resource is trying to update experimental replication controller (while it should update the stable one).

pkg/registry/experimental/controller/etcd/etcd.go:97 return

[2015-09-28 14:02] wojtek-t commented on #14554
@yujuhong - since that was your PR - can you please take a look?

[2015-09-28 14:03] jszczepkowski commented on #14656
CC @mwielgus @derekwaynecarr

[2015-09-28 14:03] mwielgus commented on #14652
And pods have the terminating status set despite expiration long gone (2h).

[code]

[2015-09-28 14:18] ArtfulCoder commented on #14533
@ntquyen
Ok, this seems to makes sense.
can you confirm that on the host, "sysctl net.ipv4.ip_forward" gives you 0.

If it gives 0, on the host, run  "sudo sysctl net.ipv4.ip_forward=1".

This should solve the problem.
I believe this is a flannel-kube-proxy interaction issue, where hair-pin traffic needs to be enabled.

[2015-09-28 14:26] ArtfulCoder commented on #14394
@miekg

Checkout the log below. ( I added a few custom log statements in skydns binary):
1. SkyDNS gets a request "kube-registry.kube-system.svc.cluster.local.808746819879.google.internal."
2. SkyDNS forwards this request to "10.240.0.1", which is one of the nameservers that skydns can forward to.
3. ServeDNSForward method is called.
4. ServeDNSForwards calls the dns.Exchange method for a synchron

[2015-09-28 14:40] mwielgus commented on #14652
Suprisingly yamls from kubectl get look ok:
[code]

[2015-09-28 14:41] aanm commented on #10451
I'm also getting kubelet with high CPU usage. I'm using the vagrant VMs and after a while the VM kills/freeze the ssh connection to the point I'm unable to reach the VM again.

[2015-09-28 14:44] mwielgus commented on #14652
And the huge value is introduced somwerhere in the message decoding, and is always different:
[code]

[2015-09-28 14:58] gmarek commented on #14652
It turned out that the value was a kubectl conversion bug.

[2015-09-28 15:05] mwielgus commented on #14652
But the main problem persists - why the nodes and pods are not deleted.

Nodecontroller attempts to delete the pods:
[code]

[2015-09-28 15:06] derekwaynecarr commented on #14656
Thanks for the heads-up, let me know if you need assistance.

[2015-09-28 15:13] derekwaynecarr commented on #14640
@wangzhezhe - each event record is assigned a TTL to auto-expire in etcd.  The default value is 1 hour.  You can change the value by modifying the ```event-ttl``` flag for the ```kube-apiserver``` component.

[2015-09-28 15:13] #14640 closed

[2015-09-28 15:15] miekg commented on #14394
[ Quoting <notifications@github.com> in "Re: [kubernetes] Kubernetes SkyDNS ..." ]

Is there any way to instrument the remote nameserver for this query? Is it an
actual timeout? Is go dns doing something whacky? If SkyDNS doing something
whacky?

[2015-09-28 15:21] roboll commented on #11543
Forgive me if I'm missing something obvious here, and for repeating much of what @philk and @bkeroackdsc have said already, but I'm confused by the above conclusions. Using an `instance-id` as a node name (as suggested in #11883) is _not_ ideal, non-default hostnames are that way for a reason and it's going to be much clearer to users / administrators if they see the hostname rather than an instan

[2015-09-28 15:34] chrisleck commented on #14504
Correct - I'm using a series of CloudFormation configs to bring up my infrastructure, including Kubernetes master & nodes.  Kube-up doesn't work for me, as it doesn't:
* follow AWS security best practices for public/private subnetting
* setup a robust multi-AZ ETCD cluster for storing flanneld routes
* allow me to use my own CA for cert generation

Using a Kubernetes-prefixed series of tags across

[2015-09-28 15:38] chrisleck commented on #14505
@justinsb - you are correct in that we'll want a mix of public & private services.

For example, I'll be exposing my service's frontends through a public LB.  However, I'll want to expose my internal services' debug endpoints via a LB only open to my corp's IPs or only open within a private subnet accessed via VPN to a remote site.

[2015-09-28 15:39] quinton-hoole commented on #14554
Wow!  Impressive sleuthing @wojtek-t , @gmarek.  Awesome. If I'm reading that code correctly (after a full 30 second glance :-) so I might well not be) it throttles pod termination rate to 1 per second, and will block on the channel when the backlog reaches 50.  It's not totally clear to me that that explains the scheduling latency increase, mind you.

[2015-09-28 15:42] gmarek commented on #14554
Scheduling latency has not increased. What's more - startup latency (as in: containers are running on the machine and Docker knows about it) also did not. What's lagging behind is reporting the state of the Pod (i.e. that it's already running, not pending).

[2015-09-28 15:50] PhilibertDugas commented on #10451
@yujuhong , from what I see, there is nothing that seems anormal,

The machine has 8 cores,

I/O is ~15 transfer/s, ~15 write/s

I compared the stats with another machine that is running the same configuration (Kubernetes 1.0.1, etc) which doesn't have high cpu issues and only 1 metric seemed different.

The context switching for the High CPU node was ~ 15K context switch/s while the other machine

[2015-09-28 16:08] quinton-hoole opened #14659 "Jenkins github integration cleanup: make description consistent and accurate"
The Jenkins automatic PR-builder currently runs not only e2e tests, but also unit, integration and validation tests too.  The messaging in github issues needs to reflect this to avoid confusion.

In the per-build message, it's approximately correct:
"Unit, integration and GCE e2e test build/test passed for commit"
But does it perform validation ("validate-all.sh") also?

For the PR status, the fol

[2015-09-28 16:13] ArtfulCoder commented on #14394
@miekg I am not sure I can instrument the remote nameserver. I will see if I can instrument skydns further and see if skydns can do anything better.

We could potentially mitigate this by configuring skydns to return SERVFAIL for queries that dont match its assigned domain. That way, skydns does not forward at all and SERVFAIL would ensure that the dns client retries the next nameserver..
I would

[2015-09-28 16:27] vishh commented on #14624
@chrisleck: Now that external services work in almost all deployments, I'm thinking of not attempting to support Grafana via the apiserver proxy. WDYT?

[2015-09-28 16:39] thockin opened #14661 "Cloud load-balancers should have health checks for nodes"
Given the state of cloud-LB today, most (GCE, AWS, Openstack) LB implementations target nodes indiscriminately.  We should ensure that the cloud-load-balancer is only targetting healthy nodes.

We should health-check to the nodes' kubelet or kube-proxy or add a new "do nothing but answer node health" daemon.

[2015-09-28 16:41] yujuhong commented on #14554
The PR didn't change the pod status reporting path, so there is no potential cause off the top of my head. Still digging and running tests though...

[2015-09-28 16:42] thockin commented on #13346
I think the 0th thing we can do here is to put a health-check on the cloud load-balancer.  #14661

The more difficult thing to convince ourselves of is whether the kubelet->pod healthcheck is good enough and propagates fast enough (kubelet -> apiserver -> other kube-proxies) or whether we need another lebvel of health-check.  The userspace kube-proxy will retry failed connections, but the iptables

[2015-09-28 16:43] thockin commented on #14099
@nancykyo any updates here?

[2015-09-28 16:44] mwielgus commented on #14652
There seem to be some kind of  race condition while deleting the pods - pods are first "deleted" then the controller waits for their termination.

[code]

[2015-09-28 17:01] fabioy commented on #14638
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-28 17:03] #14638 closed

[2015-09-28 17:07] fgrzadkowski opened #14662 "Boilerplate verification script fails"
In my recent PR I'm seeing the following errors from GCE e2e tests:
[code]

See https://github.com/kubernetes/kubernetes/pull/14653#issuecomment-143804533 for details

There are also some other strange failures for other verification scripts.

@quinton-hoole @thockin

[2015-09-28 17:10] bprashanth commented on #14661
Nodes will already flip to unhealthy after ~40s of kubelet silence, or immediately when something like docker death is observed by kubelet. You can probably fix it by swapping the nodelister: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L77 with the conditional node lister https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/list

[2015-09-28 17:11] bprashanth commented on #14661
I mean, swap those *and* remove unhealthy nodes from the target instance group

[2015-09-28 17:13] streamnsight commented on #14635
Thanks: I did post on SO before posting here, but didn't get very far. The google group post should help though. I will try asap. Thanks for your answer.

[2015-09-28 17:16] chrisleck commented on #14624
I see two problems with that...

1. It would make ```kubectl cluster-info``` report false information for this kube-system addon.  We need to change cluster-info to report the correct endpoint if the apiserver proxy won't work.
2. Given Kubernetes doesn't yet support "internal only" LoadBalancers, it would expose this endpoint to the world which is not appropriate.

I think until (2) is resolved,

[2015-09-28 17:16] quinton-hoole commented on #14662
cc @ixdy

[2015-09-28 17:17] jackgr commented on #1702
@bgrant0607 Given that we now can and do update the annotation in other code paths, it would seem a shame to back that out. Conflicts can be detected when the patch is computed, per the TODO in the CreateThreeWayMergePatch method.

[2015-09-28 17:18] jackgr commented on #1702
@ghodss That's how it behaves. It goes ahead and applies the patch, with no deletions.

[2015-09-28 17:21] thockin commented on #14661
That's a lot of propagation.  40s is an eternity

On Mon, Sep 28, 2015 at 10:12 AM, Prashanth B <notifications@github.com>
wrote:

[2015-09-28 17:22] vishh commented on #14624
Fair enough!

[2015-09-28 17:28] dchen1107 commented on #14624
I bumped the priority to P0 for 1.1 release, we can either figure out why after upgrading, the authentication failed via API server proxy, and fix the issue; or downgrade Grafana if we believe the issue is caused by incompatible of upgrading.

[2015-09-28 17:37] bprashanth commented on #14661
I mean your daemon could die too so you'll need a timeout. Avoiding the gce health checks suggestion because I'd rather do this in kube and have it work xplat.

[2015-09-28 17:40] ironcladlou commented on #14519
What if the deployment controller:

1. Sets a "failed" annotation on the new rc if the controller decides the state is unreachable.
2. Skips scaling of the current deployment if the new rc exists and has the annotation.
3. Sets a "failed" condition on the deployment if there exists a new rc which matches the current hash and has the annotation, and clears it otherwise.

Deleting the annotation fro

[2015-09-28 17:49] pmorie commented on #7925
Related proposals:

#12823
#12944

[2015-09-28 17:54] saad-ali commented on #14284
Closed with #14356

[2015-09-28 17:54] #14284 closed

[2015-09-28 17:54] saad-ali commented on #14107
Closed with #14356

[2015-09-28 17:54] #14107 closed

[2015-09-28 17:57] miekg commented on #14394
[ Quoting <notifications@github.com> in "Re: [kubernetes] Kubernetes SkyDNS ..." ]

Not sure if I completely follow: you don't want skydns to forward queries to
a recursive nameserver? I.e. the `-no-rec` option?

/Miek

--
Miek Gieben

[2015-09-28 18:00] ArtfulCoder commented on #14394
yes, that is correct. I will see if the -no-rec option works for us (as a last resort)

[2015-09-28 18:06] yujuhong commented on #14554
Update: I ran the tests using HEAD, and here is what I found.

- Confirmed that startup time of 30 pods per node for a default 3-node cluster is **~1 minute**.
- Bumped QPS of the apiserver client for kubelet from 5 to 20 (Burst: 30) consistently showed startup time of **15s**. In other words, the status report time seems to be completely dominated by the QPS.

The PR in question (#13003) actually

[2015-09-28 18:11] piosz opened #14667 "Horizontal pod autoscaling tests don't work"
[code]

[2015-09-28 18:17] nikhiljindal opened #14669 "RollingUpdate rollback broken for asymetric updates"
From https://github.com/kubernetes/kubernetes/pull/11942#issuecomment-136467907
Assymetric update ex: Replace an rc A with 5 replicas with an rc B with 7 replicas (old and new RCs have different replica sizes).
RollingUpdate rollback rolls back to old RC, but scales it up to the number of replicas, the new RC had (for ex it will rollback to rc A but with 7 replicas).

We need to fix that.
With htt

[2015-09-28 18:18] nikhiljindal commented on #14669
@ironcladlou let me know if you dont have cycles and want me to take this up.
We will need to cherrypick the fix in 1.1

[2015-09-28 18:19] ironcladlou commented on #14669
I think I can pick this up.

[2015-09-28 18:49] fd commented on #14234
@yifan-gu I tracked down the issue. Wercker builds invalid base images. which cause docker to fail.

[2015-09-28 18:59] roberthbailey commented on #13382
@JeanMertz - please let us know if you still see this.

[2015-09-28 19:06] ihmccreery opened #14674 "Fix 1.0-1.1 GCE upgrade tests, and get them into release critical builds"

[2015-09-28 19:34] jayunit100 opened #14676 "Add CloudProvider as alt. to NodePort for exposing internal services."
#13978 Added a node port option.  Once this merges, lets also add in a `--apiserver-cloud-provider` option as well.

This will give maximum flexibility for people wanting to reach into the cluster externally.

Maybe the `apiserver-cloud-provider` and `apiserver-node-port` options  could be mutally exclusive to simplify the UX (given that one implies another anyway) .

[code]

[2015-09-28 19:44] bparees commented on #14561
Is there a separate issue that covers being able to commit/push a running pod (ie not just when it exits)?  There is some desire to be able to modify a running container and then commit/push the change so you could, for example, make a debug change and then scale up the deployment to test it in a clustered mode, without having to start from scratch with building a new image.

if not, can we discus

[2015-09-28 19:45] jszczepkowski commented on #14667
Duplicate of #14656.

[2015-09-28 19:45] karlkfi opened #14677 "hack/verify-godeps.sh fails on master"
`hack/verify-godeps.sh` is run as part of Shippable and seems to be failing on any PRs that change Godeps.

[code]

I was able to reproduce on master by removing the early exit when no Godeps changes are shown by `git diff`: https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh#L44-L46

[2015-09-28 20:00] gmarek commented on #14554
@dchen1107 - I don't know what kind/flake label actually means, but it's ~100% reproducible (at least I'm yet to see a 'fast' run).

[2015-09-28 20:05] davidopp commented on #12041
@dchen1107 and @yujuhong both told me that OutOfDisk does not cause NodeReady==false; it only causes Pod to fail to start.

@lavalamp can you point me to the code that cause Kubelet to report NodeReady==false? Or maybe the original issue was due to something other than disk causing the NodeReady oscillation?

[2015-09-28 20:11] derekwaynecarr commented on #14561
@bparees - if you had an API to drive the commit and push, would you still want the hook to do it on container exit?

[2015-09-28 20:18] gmarek commented on #14554
@yujuhong pointed out that I was't clear on what's regressing. The problem I'm referring to is the one that starts here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L245 and the results are printed here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L375.

[2015-09-28 20:20] bparees commented on #14561
@derekwaynecarr I think it depends how the api was secured.  for builds we'd probably want to call the api via the user's project's build service account.  As long as we're ok giving that service account permission to invoke the commit/push api, that's probably the path we'd take over the post-hook approach.

assuming also that the api allowed the commit/push of a pod that had already exited (but

[2015-09-28 20:21] bparees commented on #14561
(the hook approach does offer the advantage of not having a timing window in which the pod gets purged after exiting and before we have a chance to invoke the commit/push api)

[2015-09-28 20:22] csrwng commented on #14561
I would think we could do something similar to what @smarterclayton  is proposing with https://github.com/openshift/origin/pull/4819. Another possibility would be to have an intermediary store for the source (internal gitserver) that can be mounted as a volume on the new container.

[2015-09-28 20:56] ncdc commented on #14677
I've stepped through verify-godeps.sh manually line by line. The first time `godep restore` is invoked, I can see the checked out commit for golang.org/x/net change from master to cbcac7b and then back to master by the time the restore finishes. If you run `godep restore` a second time, it ends up with the correct checkout (cbcac7b).

[2015-09-28 20:59] JeanMertz commented on #13382
@roberthbailey I havent. It seems to be related to https://github.com/kubernetes/kubernetes/issues/14641

[2015-09-28 21:01] karlkfi commented on #14677
The `golang.org/x` code is all in the same repo, but their revisions don't agree in our Godeps:

[code]

[2015-09-28 21:01] ArtfulCoder commented on #14394
@miekg
@thockin

I think there is a small bug in skydns, where timeout set by the flag is actually doubled incorrectly.
https://github.com/skynetservices/skydns/blob/master/server/server.go#L84
https://github.com/skynetservices/skydns/blob/master/server/server.go#L85

That is why we have these  4 second timeouts here (even though the default is 2 seconds): https://github.com/miekg/dns/blob/master/

[2015-09-28 21:04] ncdc commented on #14677
x/net is a different git repo from x/crypto and so on, so I don't think that's it.

[2015-09-28 21:08] brendandburns opened #14680 "testServiceTest is flaky on Shippable"
Taking > 1 minute on 4 of the past 6 runs.

Related to old issue:
https://github.com/kubernetes/kubernetes/issues/6045

?

[2015-09-28 21:09] miekg commented on #14394
Ack, yep, that's an easy fix.

Note: from a DNS perspective udp timeouts are the worst thing that can happen. I would still be really interested in why this is time outing. I *may* make some time to create some setup to replicate this locally.

[2015-09-28 21:14] brendandburns commented on #14585
@dchen1107 I think this is a dupe of https://github.com/kubernetes/kubernetes/issues/14342?

[2015-09-28 21:15] ArtfulCoder commented on #14394
@miekg I have an container that has dnsperf installed that you can use to generate load
https://github.com/kubernetes/kubernetes/issues/14394#issue-107830623

But since you wrote skydns, I am pretty sure you have many ways to simulate dns load :))

[2015-09-28 21:15] brendandburns commented on #13024
This was fixed by #13031, closing.

[2015-09-28 21:15] #13024 closed

[2015-09-28 21:18] erictune opened #14682 "Wrong Codec type when updating job"
Symptoms:
[code]
The latter step hangs forever.
So far, in debugging, I have found that:

- kubectl is waiting in the reaper loop
- it is trying to scale down the Job resource.
- it has successfully GETted it, and is trying to PUT (Update) it.
- it gets this error: `Scaling the controller failed with: no kind "Job" is registered for version "v1"; Current resource version 728999`
- this error is co

[2015-09-28 21:22] ArtfulCoder commented on #14394
I think beyond 2 seconds, the probability of success of the dns request is probably close to 0.
i.e. Wating longer than 2 seconds will not help. skydns seems to retry on timeout and I have seen it succeed generally on retries.

I think setting the timeout value, will help a lot of k8s users, who are seeing 4-5 second response times..

[2015-09-28 21:23] brendandburns commented on #4534
I believe this is obsolete, I can no longer find a test with that name.

[2015-09-28 21:23] #4534 closed

[2015-09-28 21:26] nikhiljindal commented on #14521
@bgrant0607 Do you think this required for 1.1 or not?

[2015-09-28 21:31] brendandburns commented on #6878
Closing as fixed since we haven't seen it in a while.

[2015-09-28 21:31] #6878 closed

[2015-09-28 21:31] brendandburns commented on #9818
I'm closing this as vague, and we've also lengthened some timeouts in Shippable + integration tests recently.

[2015-09-28 21:50] dchen1107 commented on #14585
Yes, it is dup. Close this one as dup of 14342. Thanks!

[2015-09-28 21:50] #14585 closed

[2015-09-28 21:53] aviau commented on #11119
I am still getting this exact error with v1.2.0-alpha. Does that make sense?

[2015-09-28 21:53] krousey commented on #4874
The above WIP PR #13098 is a mess. To directly address those issues, I would
like to put `RESTClient` and `Request` into their own package that has no
dependencies on a version or group. Currently `request.go` has some custom
field selector filtering logic that depends on the version that I need to
understand. I think this would still leave it dependent on `api.Status`, but
we don't change that ac

[2015-09-28 21:54] krousey commented on #4874
@bgrant0607

My opinions on your concerns...

 * **experimental client**:
   Should be it's own package separate from the versioned client.
 * **pkg/client/cache**:
   We probably need to version the top level interface of this package as well.
   Seems ripe for internal packages + code generation.
 * **pkg/client/metrics**:
   I don't see a problem with this one. Is it version dependent in some w

[2015-09-28 21:54] krousey commented on #4874
cc: @caesarxuchao

[2015-09-28 22:21] ArtfulCoder commented on #14394
@miekg I don't think you will gain much by trying your own local setup. the timeouts are caused by delays in response from other nameservers that skydns forwards to. skydns can't control that.

I think I can satisfactorily say that clients seeing 4-5 second times is because the other nameservers are timing out and skydns had the accidental 4 second read timeout.

[2015-09-28 22:24] ArtfulCoder commented on #14533
@ntquyen any updates ?

[2015-09-28 22:27] lavalamp commented on #12041
IRL conversation:
* It seems I misremembered what kubelets do. The point is to prevent recidivism. Kubelet needs to start making an out of disk condition, which it doesn't currently.
* Once it starts making that condition, THEN we will have the problem that this issue is filed about, where it will be out of disk only until it garbage collects the image from the failed pod, and it will oscillate.

[2015-09-28 22:27] timstclair commented on #14677
Possibly related? https://github.com/tools/godep/issues/279

[2015-09-28 22:29] lavalamp commented on #14598
@stephenR, security questions for you: this prefix was added apparently in response to a security review quite some time ago.
* I don't understand how this adds much security. Can we just remove it?
* If not, is it acceptable to change the default from "/api/" to "/api", which would match both api locations?

Otherwise we'll have to take a comma-separated list or something...

[2015-09-28 22:30] JanetKuo commented on #14598
Ref #4279

[2015-09-28 22:31] karlkfi commented on #14677
I doubt it. Otherwise we'd be getting those errors when godep delegates to `go get`.

[2015-09-28 22:38] ixdy commented on #14662
Yeah, I'm still tracking down all of the issues with the verification scripts. They should not be failing any builds, however.

[2015-09-28 22:44] roberthbailey commented on #13382
Thanks for the update.

[2015-09-28 22:54] dchen1107 commented on #14620
Shouldn't this is part slow test, and the fix should be either:

1) Increase Kubernetes-e2-gke-ci timeout value if decide to include slow to that project or
2) disable all slow tests on that project?

cc/ @roberthbailey Which one is required here?

[2015-09-28 23:05] bprashanth opened #14687 "Better defaulting of kubectl proxy api-prefix"
It isn't immediately clear why the proxy won't allow access to experimental resources, takes some digging to discover it's filtering on the /api/ prefix by default. Suggest either not adding the trailing / or just defaulting the api-prefix to /

[2015-09-28 23:08] yujuhong commented on #14554
@gmarek clarified that the regression was the latency for starting up extra pods *after* 90 pods are already running.

I think I've identified the root cause.

 - Density test checks whether 90 pods have become running; if the condition is true, it proceeds to start the additional pods.
 - The test assumes that the pods status will not be updated after this point, which is not true. The pod ready

[2015-09-28 23:09] yujuhong commented on #14554
Lowering the priority there is no actual performance regression -- what regressed is the "perceived" performance of the density test.

[2015-09-28 23:25] yujuhong commented on #14620
The test runs 50 pods per node, which is over the default --max-pod limit of kubelet. The test relies on the flag --max-pods=100 being set in cluster/gce/config-test.sh. I will disable it for all GKE tests in jenkins/e2e.sh.

On the other hand, it's not clear to me where the timeout is set for a specific build. /cc @ixdy @quinton-hoole

[2015-09-28 23:28] brendandburns commented on #10775
Closing this as there is a single flaky test left, and it is tracked in its own issue.

[2015-09-28 23:28] #10775 closed

[2015-09-28 23:30] ixdy commented on #14620
Timeouts for each Jenkins build are in the Jenkins project configurations themselves, which are not currently saved in version control anywhere. :\

[2015-09-28 23:38] bgrant0607 commented on #14521
No. It's required before the API graduates from experimental.

[2015-09-28 23:39] derekwaynecarr commented on #11119
There are multiple unrelated problems being discussed in this issue.

Can the discussion move to a new dedicated issue for each particular topic
(I.e building code, etc)?

On Monday, September 28, 2015, Alexandre Viau <notifications@github.com>
wrote:

[2015-09-28 23:43] derekwaynecarr commented on #14682
I hit this this morning but didn't have time to debug as far.  Thanks for
the write up.

On Monday, September 28, 2015, Eric Tune <notifications@github.com> wrote:

[2015-09-28 23:43] brendandburns commented on #14531
This is (hopefully) fixed by extending timeouts.

[2015-09-28 23:48] quinton-hoole commented on #14554
Nice debugging YuJu!  What is the current client QPS rate limit for kubelet?  Where is it set?  On what basis is it set to the current value (whatever that may be)?

[2015-09-28 23:52] mikedanese opened #14691 "oidc.TestOIDCDiscoverySecureConnection Flaky"
[code]

[2015-09-29 00:01] goltermann opened #14693 "flaky e2e: DaemonRestart Controller Manager should not create/delete replicas across restart"
DaemonRestart Controller Manager should not create/delete replicas across restart (Failed 7 times in the last 30 runs. Stability: 76 %)

[2015-09-29 00:03] goltermann opened #14694 "flaky e2e: Kubelet should not restart containers across restart"
DaemonRestart Kubelet should not restart containers across restart (Failed 3 times in the last 30 runs. Stability: 90 %)

[2015-09-29 00:03] aviau commented on #11119
In my case, it is the same symptoms as the original issue.

[2015-09-29 00:07] goltermann opened #14695 "flaky e2e: Network when a minion node becomes unreachable [replication controller] recreates pods scheduled on the unreachable minion node AND allows scheduling of pods on a minion after it rejoins the cluster"
Nodes Network when a minion node becomes unreachable [replication controller] recreates pods scheduled on the unreachable minion node AND allows scheduling of pods on a minion after it rejoins the cluster(Failed 17 times in the last 30 runs. Stability: 43 %)Failed with 0 retries

[2015-09-29 00:08] goltermann opened #14696 "flaky e2e: Scheduler should continue assigning pods to nodes across restart"
DaemonRestart Scheduler should continue assigning pods to nodes across restart (Failed 2 times in the last 30 runs. Stability: 93 %)

[2015-09-29 00:17] karlkfi commented on #14677
I looked at this most of the day today and am not any closer to figuring it out...

[2015-09-29 00:26] lavalamp commented on #12377
(Presumably) fixed by https://github.com/kubernetes/kubernetes/pull/14064

[2015-09-29 00:26] #12377 closed

[2015-09-29 00:27] derekwaynecarr commented on #11119
I can't check easily right now, but can you check if flannel is running in your
environment?

On Monday, September 28, 2015, Alexandre Viau <notifications@github.com>
wrote:

[2015-09-29 00:33] lavalamp commented on #5136
In what way exactly would the e2e test use `kubectl proxy`?

`kubectl proxy` should be tested in the hack/test-cmd.sh test suite (or replacement thereof).

[2015-09-29 00:38] ncdc commented on #14677
Ok, I've tracked this down. What happens in godep is that it runs a loop where, for each dependency, it does this:

- `go get -d <package>`
- `cd <package> && git checkout <ref>` (or other vcs as appropriate)

Unfortunately, if you have something like this:

- `go get -d golang.org/x/net`, checkout ref abcd1234
- `go get -d google.golang.org/api/compute/v1`

The 2nd get (of google.golang.org/api/c

[2015-09-29 00:47] derekwaynecarr commented on #13774
I would like cluster level settings like this that controls object counts for all resource types, but I do not want it to necessarily attempt to enforce a hard quota.  As an operator, I want to be able to query a resource to get stats on object counts for each resource, so some type of cluster object counter that runs at some interval and records to etcd seems ideal.  In addition, as an operator I

[2015-09-29 00:51] JanetKuo commented on #14263
Looks like the error is returned from [third_party/forked/json#LookupPatchMetadata](https://github.com/kubernetes/kubernetes/blob/master/third_party/forked/json/fields.go#L54) for type `v1.VolumeSource` and jsonField `items` when we try to create a patch from what user edited.

[2015-09-29 00:57] yujuhong commented on #14620
Discussed with @dchen1107 about the test offline. There are several issues:

- Do we want to run any kind of kubelet resource monitoring test on GKE? Is it useful? @brendandburns @roberthbailey
- We only override max-pods in GCE. Should the test itself figure out what platform it can run based on the #pods in the test (see #14698)
   * Per-test configuration allows greater flexibility (e.g., we ma

[2015-09-29 00:58] ncdc commented on #14677
I hacked up my local copy of godep to do all the downloads in 1 loop, followed by all the vcs checkouts in a 2nd loop, and it appears that the end result is the correct revision for the various repos.

[2015-09-29 01:01] yujuhong commented on #14554
The default QPS for any client is 5.0, which is what kubelet uses. I have no idea how this value was picked, but I assumed it was set based on the cluster/apiserver scalability. @wojtek-t may know more...

[2015-09-29 01:03] derekwaynecarr commented on #4822
I think I have some time this week to help close this out.

[2015-09-29 01:04] karlkfi commented on #14677
Yeah, that sounds about what I was expecting: a transitive dependency stomping on the revision in a primary dependency. This is pretty critical to correct dependency management. I think your approach is probably correct; the primary revision should override the transitive one. Tho it's probably a good idea to warn when this is the case, either when restoring or saving or both.

Have you made a God

[2015-09-29 01:05] ncdc commented on #14677
@karlkfi it's not even that there's a transitive revision. It looks like `go get` is always resetting the local ref to `master`.

[2015-09-29 01:05] ncdc commented on #14677
Godep PR: https://github.com/tools/godep/pull/285 ... not sure if this is the right approach, but it seemed to work on my system.

[2015-09-29 01:11] karlkfi commented on #14677
`go get -d` checks out transitive dependencies, is what I meant. It looks like it's (now) checking out master even when it's on a detached head.

[2015-09-29 01:17] ncdc commented on #14677
It looks like it only does it when it's downloading something (google.golang.org/api/compute/v1
 from the example above, which I manually removed prior to testing things). If I run `godep restore` two times in a row, after the first execution, the golang.org/x/net refs will be incorrect (master). After the second execution, they are correct.

[2015-09-29 01:17] ncdc commented on #14677
So we could modify hack/verify-godeps.sh to call `godep restore` two times in a row as a short term fix.

[2015-09-29 01:28] qq690388648 opened #14701 "Can kubernetes use basic auth to authenticate kubelet?"
The api doc shows:Kubernetes uses client certificates, tokens, or http basic auth to authenticate users for API calls.
So I tried to use basic auth to authenticate kubelet by set the --kubeconfig as config.yaml which generted by kubectl under ~/.kube/:
[code]
But it did not work, so I thought whether the kubelet can use basic auth?

[2015-09-29 01:37] pmorie commented on #14677
@ncdc lvl 999 digging :trophy:

[2015-09-29 01:43] yujuhong opened #14702 "Audit and evaluate apiserver client usage in kubelet"
The current apiserver client QPS for kubelet is the default 5.0, which is not high for kubelet. When batch creating pods, the startup latency is completely dominated by the QPS (e.g. see https://github.com/kubernetes/kubernetes/issues/14554#issuecomment-143829191, events consumed most of the bandwidth). Moreover, the *perceived* kubelet performance may be affected by slight change in kubelet's beh

[2015-09-29 01:46] timstclair opened #14703 "Race condition in `kubectl run --attach`"
`kubectl run foo --attach` runs foo and then waits for it to be ready or terminated. If the pod is terminated, it prints the log, and if it's not terminated, it attaches the output. However, it does not handle the case that the pod terminates between returning the ready status and attaching, as can be the case in the [kubectl e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/

[2015-09-29 02:16] qq690388648 commented on #14701
I also tried to set the --api_servers to <code>https://admin:admin_passwd@192.168.102.20:6443</code>, but the kubelet's logs shown:<code>Get https://admin:admin_passwd@master:6443/api/v1/services: x509: certificate is valid for kubernetes.default.svc, kubernetes.default, kubernetes, not master</code>.

[2015-09-29 02:17] HaiyangDING commented on #14484
CC @HaiyangDING

[2015-09-29 02:22] ntquyen commented on #14533
Sorry @ArtfulCoder I was not with my computer last night, I'm trying now

[2015-09-29 02:33] ntquyen commented on #14533
@ArtfulCoder It's already set to 1 before, both nodes: `net.ipv4.ip_forward = 1` :(

[2015-09-29 02:56] sghosh151 commented on #3885
FYI: Nomad is providing a draining = true/false status
https://nomadproject.io/intro/getting-started/running.html

[2015-09-29 03:03] brendandburns commented on #14703
@timstclair Thanks for debugging.

I think we should probably do both:
   * If attach fails and the container is now terminated, fall back to printing logs
   * Make the e2e more robust by not exiting for a while to ensure time to attach.

I'm happy to review PRs

[2015-09-29 03:04] brendandburns commented on #14696
Assigning to @davidopp for triage.

[2015-09-29 03:04] brendandburns commented on #14695
@davidopp for triage

[2015-09-29 03:05] brendandburns commented on #14694
@dchen1107 for triage

[2015-09-29 03:05] brendandburns commented on #14693
@davidopp for triage

[2015-09-29 03:06] brendandburns commented on #14691
@liggitt for triage

[2015-09-29 03:13] brendandburns commented on #14072
@mikedanese are you still looking at this one?  If not please un-assign yourself.

[2015-09-29 03:14] #9818 closed

[2015-09-29 03:18] brendandburns opened #14708 "usage of kubectl proxy in testing should use random ports"
[code]

[2015-09-29 03:18] mikedanese commented on #14072
This is hopefully fixed by #14550. I'm going to see if that helps after it's merged. If yes, I'll promote out of flaky. If not I will debug further.

[2015-09-29 03:58] liggitt commented on #14691
@mikedanese trying to recreate... was this on shippable, travis, or somewhere else?

[2015-09-29 04:05] mikedanese commented on #14691
This was on jenkins.

https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/9e4e30e8e8b571d69ba348de3a759e98906d8257/kubernetes-pull-build-test-e2e-gce/10408/build-log.txt

http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce//10408

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/9e4e30e8e8b571d69ba348de3a759e98906d8257/kubernetes-pull-bu