[2016-11-30 22:59] jingxu97 commented on #37253
@paul-symphony, do you still have problem for starting the pod? I think @rootfs mentioned in another thread to remove partition:1 in the yaml file

[2016-11-30 23:01] PI-Victor commented on #37682
i think this belongs in https://github.com/kubernetes/kubernetes.github.io
see also [related docs issues](
https://github.com/kubernetes/kubernetes.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20ubuntu)

[2016-11-30 23:01] jingxu97 commented on #37546
@workhardcc,  we have quite some bug fixes related to volume management since v1.3. New release 1.4.7 and 1.5 will be out soon. Could you please try the new version and let us know if you have any issue?

[2016-11-30 23:03] jingxu97 commented on #37060
cc @kubernetes/sig-storage

[2016-11-30 23:04] paul-symphony commented on #37253
yup, that was it!  removing partition:1 resolved the issue, thanks!

[2016-11-30 23:04] lavalamp opened #37722 "Test header removal"
#36769 Removes some headers. This should be tested.

[2016-11-30 23:05] jingxu97 commented on #36905
@rajeshwer could you please provide more details about the issue? Kubelet log will be very helpful for us to check the issue

[2016-11-30 23:07] jingxu97 commented on #36571
cc @kubernetes/sig-storage

[2016-11-30 23:07] zmerlynn commented on #37553
kubernetes/test-infra#1247 should be a good hacky fix, but not a great long-term solution, as @fejta points out.

[2016-11-30 23:07] dchen1107 commented on #33702
That is known kernel issue, and not GCI specific. All images and all kernel versions might run into that soft lockup issue. Once we run into such issue, the userspace cannot do anything except
1) rebooting to remedy
2) spot the problem and inform the user. Node Problem Detector is designed to serve such purpose, it should be deployed to the cluster.

[2016-11-30 23:08] jingxu97 commented on #36470
cc @kubernetes/sig-storage

[2016-11-30 23:08] dchen1107 commented on #33702
Again, soft lockup issue shouldn't be the release blocker.

[2016-11-30 23:12] jingxu97 commented on #37253
@paul-symphony thanks for confirming. close this issue.

[2016-11-30 23:12] #37253 closed

[2016-11-30 23:13] caesarxuchao commented on #37651
Also, how many pods did the rs have? How long had the rs stuck in that state before you manually ran `kubectl edit`?

[2016-11-30 23:16] krousey commented on #37715
Regarding my comment about this affecting automated upgrade tests, I realize I made a mistake. I was looking at a master upgrade only.

The automated tests are upgrading versions correctly. They are not swapping images correctly. Nodes will always upgrade to a CVM image because the current e2e framework doesn't support upgrading to different image types (and defaults to CVM). See https://github.co

[2016-11-30 23:16] davidopp commented on #37715
So IIUC, we just need to change the documentation to say to put the -o at the beginning (or more precisely, before the version number) and then it works?

[2016-11-30 23:17] mtaufen commented on #37715
https://github.com/kubernetes/kubernetes/pull/37723 adds an error to the script to catch this as well

[2016-11-30 23:20] bprashanth commented on #25283
They are somewhat orthogonal, but you presumably only want to discover healthy peers, unless you have a way to probe every peer you discover for health. Applying this policy based on endpoint info also feels a little weird, because it's harder to create overlapping Servics with different behavior.

I think doing the common thing always and by default is fine, as long as we can annotate our way bac

[2016-11-30 23:31] kvchampa commented on #29277
How to you resolve this issue, I am running kubectl 1.4.6 version.
My case - once the nodes register >120, then I had "open files" issue with KUBE-APISERVER.

[2016-11-30 23:31] lavalamp opened #37725 "Retry loops should only read from the cache the first iteration"
Specifically, this code https://github.com/kubernetes/kubernetes/blob/5e1adf91dfbe6ec9f96950e9b4e28523b8d3ccd8/pkg/kubelet/kubelet_node_status.go#L325 reads from the cache every time, so it will keep failing as long as the cache is stale, which could be arbitrarily long.

@wojtek-t

[2016-11-30 23:32] gmarek commented on #37715
I wrote a fix - someone should test it, but as @roberthbailey it's not a high priority.

[2016-11-30 23:33] rootfs commented on #36470
this looks a slow rbd map, @AncientRemember can you run rbd map manually and see how long it takes?

[2016-11-30 23:37] rootfs commented on #36571
Per message `There is currently a lease on the blob and no lease ID was specified in the request.` The disk is still being attached. As a result, PV cannot be deleted.

[2016-11-30 23:39] yujuhong commented on #37725
/cc @dchen1107 @kubernetes/sig-node

[2016-11-30 23:39] lavalamp commented on #37725
@saad-ali

[2016-11-30 23:42] rootfs commented on #37527
@abithap

[2016-11-30 23:42] rootfs commented on #37626
@chakri-nelluri

[2016-11-30 23:47] saad-ali commented on #36571
This condition is handled by the PV framework. See https://github.com/kubernetes/kubernetes/pull/31978. However the volume plugin must return `DeletedVolumeInUseError` which it looks like the Azure volume plugin is not doing.

[2016-11-30 23:55] mtaufen commented on #33882
In 307,306,303,300 and 299, on https://k8s-testgrid.appspot.com/google-gke#gci-gke-reboot, I see many "failed to register layer" messages in the build log. I do not see these in 305, which is also a failure of the reboot tests (rather than an up failure). 305 is the only test of that batch where all three nodes failed. Every test other than 305 and 306 had only one failed node; 306 had two.

[2016-12-01 00:00] mtaufen commented on #33882
So it seems that corrupt image layers are dominating these failures.

[2016-12-01 00:00] rajeshwer commented on #36905
Thanks for your response .
I am actually trying to mount ceph rbd volume mount to pods

but i was failing

let me share the logs with you

[2016-12-01 00:01] philips commented on #27796
@emsearcy I hit an issue as well https://github.com/kubernetes/kubernetes/pull/37640#issuecomment-263760417

Aside: I am looking at open source options for the CLA handling so we can dig into and fix these issues without being a SPOF on @emsearcy. Nothing off the shelf fits the mold ATM.

[2016-12-01 00:05] MrHohn opened #37728 "Unexpected Deployment rolling update behavior when replica number is 1"
From coreos/kube-aws/issues/111.

A user mentioned we need to set the number of replicas for kube-dns to at least 2 to prevent the service go down during rolling updates. Did a repro on local cluster and turns out when replica number is 1, the DNS service does have around 8 seconds outage during the rolling update. My guess is that the old kube-dns pod was terminated by the deployment controller b

[2016-12-01 00:05] rajeshwer commented on #36905
sudo kubectl describe pods|grep rbd
Name:		rbd
  rbd-rw:
      /var/ from rbdpd (rw)
  rbdpd:
  10s		10s		1	{default-scheduler }			Normal		Scheduled	Successfully assigned rbd to 10.10.191.16
  8s		1s		4	{kubelet 10.10.191.16}			Warning		FailedMount	MountVolume.SetUp failed for volume "kubernetes.io/rbd/cf3a3a6f-b759-11e6-aca7-2c600cbb02a8-rbdpd" (spec.Name: "rbdpd") pod "cf3a3a6f-b759-11e6-aca7-2c

[2016-12-01 00:07] rajeshwer commented on #36905
I am able to mount rbd to  a empty directory but if i want to mount it to /var/log or some other directory pod creation is failing

[2016-12-01 00:11] jingxu97 commented on #36905
Found two related PR https://github.com/coreos/bugs/issues/1579 and #23924

cc @kubernetes/sig-storage

[2016-12-01 00:17] krmayankk commented on #28660
Does public ip also mean here stable ip for a pet ie if a pet dies it comes up with the same ip it was already assigned. Is that being tracked in a different issue ? We internally have a use case for this

[2016-12-01 00:26] AdoHe commented on #30507
[code]
SGTM.

[2016-12-01 00:34] AdoHe commented on #37728
@kargakis ptal.

[2016-12-01 00:35] rootfs commented on #36905
@rajeshwer how is your kubelet running? is it running inside container? you need to bind mount /sbin/modprobe and /lib/module to resolve `modprobe rbd error:exit status 1`

[2016-12-01 00:39] #35070 closed

[2016-12-01 00:40] janetkuo commented on #37361
No, this is a flake. https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/ is consistently failing due to build timeouts, unrelated to this issue.

[2016-12-01 00:43] AdoHe commented on #37622
@AndyMoore111 fixed with #37686 , you may take a look.

[2016-12-01 00:46] MrHohn commented on #37728
It turns out we need to also set `maxUnavailable` to 0 to prevent outage. Closing this as there is already available option.

[2016-12-01 00:46] #37728 closed

[2016-12-01 00:51] AdoHe commented on #37471
@ligc could you provide your kubernetes version?

[2016-12-01 01:02] rootfs commented on #37705
resize semantics varies across cloud platforms. GCE PD and Azure disk can be resize online, while AWS EBS needs two steps: snapshot and migrate.

[2016-12-01 01:04] lavalamp commented on #37725
(release-blocker because we think this is a regression from 1.4 and it will be bad if someone hits it.)

[2016-12-01 01:08] thockin commented on #37626
@erictune this smells a lot like what we called "emptyHostDir" the other day

[2016-12-01 01:09] sarahnovotny commented on #27796
PTAL, @emsearcy or @caniszczyk --  another deis employee @michelleN is having [issues](https://github.com/kubernetes/community/pull/118) with CLAbot recognizing her CCLA.

[2016-12-01 01:10] thockin commented on #25283
How bad would it be to start without an annotation, assume that pet-names
== tolerate-unready, and see if anyone screams?  Who should we consult?

On Wed, Nov 30, 2016 at 3:20 PM, Prashanth B <notifications@github.com>
wrote:

[2016-12-01 01:11] saad-ali commented on #37554
Ack thanks @derekwaynecarr. Since the issue existed in 1.4, I'm going to mark it as non-release-blocker for 1.5

[2016-12-01 01:13] bprashanth commented on #25283
SGTM, that's also what I was prposing in the previous comment

[2016-12-01 01:18] saad-ali commented on #37267
Kube-proxy == @freehan for triage

[2016-12-01 01:19] thockin commented on #24343
submodules might be OK as long as we submodule code we own.  It does change
the git workflow, though, and may introduce new vectors for build skew.  Do
we have anyone who has expertise in submodules?

On Wed, Nov 30, 2016 at 9:55 AM, Brian Grant <notifications@github.com>
wrote:

[2016-12-01 01:19] saad-ali commented on #34223
@davidopp is there someone else who can triage this issue as blocker/non-blocker for 1.5?

[2016-12-01 01:20] saad-ali commented on #33702
Ack

[2016-12-01 01:22] bprashanth commented on #37267
the part that's failing is not kubeproxy but the BeforeEach pre test check, and it's failing to curl google.com because of what looks like an ipv6 lookup (so I'm guessing not a release-blocker, but that google.com curl failing is still weird and worthy of closer inspection)

[2016-12-01 01:23] saad-ali commented on #37060
@humblec This is functioning as designed. There's a bigger usability question here, whether these values should somehow be inferred, but at the moment the `AccessMode` in PVC and PV are used only for binding a PVC to available PVs. The `ReadOnly` field in the source is a volume specific designation that controls whether the volume should be attached readonly or not. As designed it is up to the use

[2016-12-01 01:28] philips commented on #24343
I worked on a project using submodules for a long time and it is really easy to blow your foot off. I would much rather do one of:

1) Try out [git subtrees](https://git-scm.com/book/en/v1/Git-Tools-Subtree-Merging), I hear it is OK but I haven't used it first hand
2) Use the [repo tool](https://source.android.com/source/developing.html) which is used by ChromeOS, CoreOS Linux, and others. It is a

[2016-12-01 01:31] kevin-wangzefeng commented on #34223
@calebamiles @saad-ali It's failing in the BeforeEach() step, I don't think it's a release blocker.

[2016-12-01 01:33] foxish commented on #37457
It looks like the node `bootstrap-e2e-minion-group-hj2w` is seeing 100% CPU usage since 2pm on Nov 29. Could this be related to the soft lockup bug? @dchen1107

[2016-12-01 01:43] dchen1107 commented on #37725
@wojtek-t I assigned this to you since it looks like a regression from https://github.com/kubernetes/kubernetes/pull/35294. Should we revert the pr?

[2016-12-01 01:44] krzyzacy commented on #37717
@k8s-bot close this

[2016-12-01 01:44] krzyzacy commented on #37717
@k8s-bot sudo close this

[2016-12-01 01:51] philips commented on #19345
Right so this can be closed. I guess @davidopp can you close this?

[2016-12-01 01:58] k8s-merge-robot opened #37731 "kubernetes-e2e-gce-1.4-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/65/

Multiple broken tests:

Failed: [k8s.io] ScheduledJob should not schedule jobs when suspended [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32035 #34472

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should return command exit codes {Kubernetes e2e su

[2016-12-01 01:58] k8s-merge-robot opened #37732 "kubernetes-e2e-gce-1.4-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-1.4-1.5-upgrade-cluster-new/60/

Multiple broken tests:

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27406 #27669 #29770 #32642

Fai

[2016-12-01 01:58] k8s-merge-robot opened #37733 "kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new/417/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27115 #28070 #30747 #31341 #35513 #37187

Failed: [k8s

[2016-12-01 01:58] k8s-merge-robot opened #37734 "kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-master/111/

Multiple broken tests:

Failed: [k8s.io] Pods should not start app containers and fail the pod if init containers fail on a RestartNever pod {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27465

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod s

[2016-12-01 01:58] k8s-merge-robot opened #37735 "kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master/112/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28523 #35741

Failed: [k8s.io] Job should fail a job {Kubernetes e2e s

[2016-12-01 01:58] k8s-merge-robot opened #37736 "ci-kubernetes-e2e-gce-federation-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation-release-1.5/141/

Run so broken it didn't make JUnit output!

[2016-12-01 01:58] k8s-merge-robot opened #37737 "ci-kubernetes-e2e-gce-serial-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1.5/90/

Run so broken it didn't make JUnit output!

[2016-12-01 01:58] k8s-merge-robot opened #37738 "ci-kubernetes-e2e-gke-serial-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial-release-1.5/82/

Run so broken it didn't make JUnit output!

[2016-12-01 01:58] k8s-merge-robot opened #37739 "ci-kubernetes-soak-gce-1.5-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-1.5-test/46/

Run so broken it didn't make JUnit output!

[2016-12-01 01:58] k8s-merge-robot opened #37740 "ci-kubernetes-soak-gci-gce-1.5-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-1.5-test/47/

Run so broken it didn't make JUnit output!

[2016-12-01 01:58] k8s-merge-robot opened #37741 "kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new/412/

Run so broken it didn't make JUnit output!

[2016-12-01 01:58] k8s-merge-robot opened #37742 "kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster/478/

Run so broken it didn't make JUnit output!

[2016-12-01 01:58] k8s-merge-robot opened #37743 "kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/164/

Run so broken it didn't make JUnit output!

[2016-12-01 01:58] inetkiller commented on #37421
@caesarxuchao can you give me some related bug urls?

[2016-12-01 02:00] inetkiller commented on #37421
@caesarxuchao I have not use 1.4 yet, will try soon.

[2016-12-01 02:02] k8s-merge-robot opened #37744 "kubernetes-e2e-gce-1.4-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-1.4-1.5-upgrade-master/66/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28565 #29072 #29390 #29659 #30072 #33941

Failed: [k8s.io] Addon update should p

[2016-12-01 02:03] k8s-merge-robot opened #37745 "UpgradeTest {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new/419/

Failed: UpgradeTest {e2e.go}

[code]

[2016-12-01 02:03] k8s-merge-robot opened #37746 "kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster-new/155/

Multiple broken tests:

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a RW PD, gracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28283

Failed: [k8s.io] Network Partition [Disrup

[2016-12-01 02:03] k8s-merge-robot opened #37747 "kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster/335/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26175 #26846 #27334 #28293 #29149 #31884 #33672 #34774

[2016-12-01 02:03] k8s-merge-robot opened #37748 "kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master/150/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27233 #36204

Failed: [k8s.io] Pods should not start app containers if init containers

[2016-12-01 02:03] k8s-merge-robot opened #37749 "kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster-new/422/

Multiple broken tests:

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28984 #33827 #36917

Failed: [k8s.io] [HPA] Horizontal p

[2016-12-01 02:03] k8s-merge-robot opened #37750 "ci-kubernetes-e2e-gce-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/765/

Multiple broken tests:

Failed: [k8s.io] Docker Containers should be able to override the image's default command and arguments [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29467

Failed: [k8s.io] InitContainer should not start app containers if init contai

[2016-12-01 02:03] k8s-merge-robot opened #37751 "ci-kubernetes-e2e-gke-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5/821/

Multiple broken tests:

Failed: [k8s.io] Services should preserve source pod IP for traffic thru service cluster IP {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31085 #34207 #37097

Failed: [k8s.io] Downward API should provide default limits.cpu/memory from node allocata

[2016-12-01 02:03] k8s-merge-robot opened #37752 "kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new/419/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27470 #30156 #34304 #37620

Failed: [k8s.io] Rescheduler [Serial] should ensure that

[2016-12-01 02:03] k8s-merge-robot opened #37753 "kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master/113/

Multiple broken tests:

Failed: [k8s.io] Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26960 #27235

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod w

[2016-12-01 02:04] k8s-merge-robot opened #37754 "kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew/1165/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28426 #32168 #33756 #34797

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support port-forwa

[2016-12-01 02:04] k8s-merge-robot opened #37755 "kubernetes-e2e-gce-latest-1.4-latest-1.5-gci-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-latest-1.4-latest-1.5-gci-kubectl-skew/1193/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support port-forward {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28371 #29604 #37496

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should scale a replicat

[2016-12-01 02:04] k8s-merge-robot opened #37756 "kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.4-1.5-cvm-kubectl-skew/1319/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl label should update the label on a resource [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28493 #29964

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support inl

[2016-12-01 02:04] k8s-merge-robot opened #37757 "kubernetes-e2e-gke-1.4-1.5-gci-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.4-1.5-gci-kubectl-skew/1312/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl logs should be able to retrieve and filter logs [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26139 #28342 #28439 #31574 #36576

Failed: [k8s.io] Kubectl client [k8s.io] Kube

[2016-12-01 02:04] k8s-merge-robot opened #37758 "kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master/122/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36914

Failed: [k8s.io] SchedulerPredicates [Serial] validates th

[2016-12-01 02:04] k8s-merge-robot opened #37759 "kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster/589/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28523 #35741

Failed: [k8s.io] Deployment overlapping deployment shou

[2016-12-01 02:04] k8s-merge-robot opened #37760 "kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster/506/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28426 #32168 #33756 #34797

Failed: [k8s.io] Deployment overlapping deployment should not fight with eac

[2016-12-01 02:04] k8s-merge-robot opened #37761 "kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-master/165/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAffinity and PodAntiAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl labe

[2016-12-01 02:05] k8s-merge-robot opened #37762 "kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster/533/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support port-forward {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28371 #29604 #37496

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]
Issue

[2016-12-01 02:05] k8s-merge-robot opened #37763 "kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-master/138/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27470 #30156 #34304 #37620

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAf

[2016-12-01 02:05] k8s-merge-robot opened #37764 "kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster/375/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28426 #32168 #33756 #34797

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec thro

[2016-12-01 02:12] rkouj commented on #37585
`WIP`
https://github.com/kubernetes/kubernetes/pull/37727

[2016-12-01 02:12] smarterclayton commented on #25283
I guess the question is why do we even want to do that?  Why make a change
that couples logic vs leaving as is with decoupled logic?  We have people
who want unready endpoints for deployments to form gossip pools - so I
guess that counts as a use case where pet names is not coupled to unready.

Is leaving the annotation on for another release really a problem?

On Wed, Nov 30, 2016 at 8:14 PM, Pra

[2016-12-01 02:14] smarterclayton commented on #37556
I'm not sure why "ok with people vendoring X" means vendor cycle is not a
big deal?  Vendor cycle blocks internal refactors.  People vendoring X does
not block refactors.

On Wed, Nov 30, 2016 at 4:54 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-12-01 02:19] k8s-merge-robot opened #37765 "kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster-new/158/

Run so broken it didn't make JUnit output!

[2016-12-01 02:20] k8s-merge-robot opened #37766 "kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster/397/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26175 #26846 #27334 #28293 #29149 #31884 #33672 #34774

Failed:

[2016-12-01 02:20] k8s-merge-robot opened #37767 "kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-master/147/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28565 #29072 #29390 #29659 #30072 #33941

Failed: [k8s.io] SchedulerPre

[2016-12-01 02:20] k8s-merge-robot opened #37768 "ci-kubernetes-e2e-gce-alpha-features-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-alpha-features-release-1.5/186/

Multiple broken tests:

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work for type=LoadBalancer [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36389

Failed: [k8s.io] ESIPP [Slow][Feature:Ext

[2016-12-01 02:20] k8s-merge-robot opened #37769 "ci-kubernetes-e2e-gke-alpha-features-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-alpha-features-release-1.5/177/

Multiple broken tests:

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should only target nodes with endpoints [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36481

Failed: [k8s.io] ESIPP [Slow][Featu

[2016-12-01 02:21] Random-Liu opened #37771 "Kubelet should use PATCH instead of PUT to update NodeStatus"
We have seen issues many times caused by race condition between kubelet and other components (node controller, route controller, node problem detector) when updating node object.

Currently, route controller and node problem detector have already changed to use `PATCH`. However, node controller and kubelet are still using `PUT`.

We should update both of them.

@yujuhong @dchen1107
/cc @kubernetes

[2016-12-01 02:23] bprashanth commented on #25283
That's exactly the kind of use case I was looking for, something that doesn't require pet names. I get the feeling there will be other apps but I couldn't produce an example.

[2016-12-01 02:26] bprashanth commented on #23291
@louiscryan

[2016-12-01 02:28] Random-Liu opened #37772 "Kubelet should not list images every time when generating node status."
Currently we get image list from runtime every time we update node status:
* https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L548
* https://github.com/kubernetes/kubernetes/blob/1dfd64f4378ad9dd974bbfbef8e90127dce6aafe/pkg/kubelet/images/image_gc_manager.go#L150

However, this may make node status update blocked by docker image operation. Especially when doc

[2016-12-01 02:36] k8s-merge-robot opened #37773 "ci-kubernetes-e2e-gci-gke-serial-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1.5/80/

Multiple broken tests:

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28257 #29159 #29449 #32447 #37508

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to de

[2016-12-01 02:36] k8s-merge-robot opened #37774 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.5/89/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [StatefulSet] should not reschedule pets if there is a network partition [Slow] [Disruptive] {Kubernetes e2e suite}

[code]

[2016-12-01 02:36] k8s-merge-robot opened #37775 "ci-kubernetes-e2e-gci-gce-slow-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow-release-1.5/425/

Multiple broken tests:

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29752 #36837

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonl

[2016-12-01 02:36] k8s-merge-robot opened #37776 "ci-kubernetes-e2e-gci-gke-reboot-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot-release-1.5/311/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33703 #36230

Failed: [k8s.io] Reboot [Disrupt

[2016-12-01 02:37] smarterclayton commented on #36010
The test is wrong - judging that the message is incorrect (it's looking at the first init container, not the second), it's possible it got refactored and started racing, or we fixed something else and now we race.  I'll add more debugging, it's almost certainly the case that the first container is waiting for pull (or similar) and we're erroring on that message.

[2016-12-01 02:40] smarterclayton commented on #35183
We've hit this when looking at how to do image builds using a container.  Ideally, we'd run a container in the pod to set the image state, then commit and push that image in a follow on.  But it requires a more complex lifecycle than our current flow.  We had concerns about adding post-containers or post stop hooks when we discussed init containers.

[2016-12-01 02:43] smarterclayton commented on #25283
JBoss EAP uses it to form initial quorum for jgroups, which isn't a strong
consensus system.  So they use deployments and a minimum set to form an
initial quorum and deal with split brain like jgroups normally does
(infinispan has multiple consistent modes, some of which might prefer loose
pools).  Arguably smaller sets and some infinispan quorums might prefer
statefulsets, but those use cases are

[2016-12-01 02:45] workhardcc commented on #37546
@jingxu97 sure, thanks!

[2016-12-01 02:51] workhardcc commented on #30991
@rootfs Did 1.4 resolve  this problem?

[2016-12-01 02:52] i0exception commented on #37632
We found that the value for net.ipv4.conf.eth0.forwarding was set to 0 on the machine. We're not sure what process unsets the value given that it is '1' on the other machines and given that the pods on this bad machine had network access at one point in time, should have been '1' there too.

[2016-12-01 03:00] feiskyer commented on #37683
+1

[2016-12-01 03:05] bprashanth commented on #28443
@louiscryan and I were discussing having a `Type` field on the Ingress, and adding more experessive routing for intra-cluster traffic. Just a brain dump so it doesn't get lost.

There are some core features that are synonymous with l7 proxies and I think it makes sense to keep them all in Ingress. This would move us closer to the Services model in some ways.

To contrast todays use case with what

[2016-12-01 03:24] rkouj opened #37777 "Investigate empty node name logged by node_status_updater"
**Kubernetes version** (use `kubectl version`): 1.5

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Node status updater is trying to look for a node name with empty string. Investigation is needed as to why this happens.
https://gist.github.com/rkouj/97

[2016-12-01 03:29] AncientRemember commented on #36470
i have fixed this isssu,by reinstall ceph,and make sure i can manually map the rbd image,thanks

At 2016-12-01 07:34:12, "Huamin Chen" <notifications@github.com> wrote:

this looks a slow rbd map, @AncientRemember can you run rbd map manually and see how long it takes?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-01 03:42] smarterclayton commented on #28443
In practice we find that people end up with multiple ingresses - usually
one per "network side" (internet vs intranet) but also sharded by business
unit and by authorization domain.

If your ingress controller is behind a Service Type=LoadBalancer (which
gets you cluster local DNS), why would you need the cloud provider ingress
rules modeled a different way?

On Wed, Nov 30, 2016 at 10:05 PM, Pras

[2016-12-01 04:19] mtaufen commented on #33882
Regarding that "failed to register layer" issue, there are several references:
- https://github.com/coreos/bugs/issues/1397
- https://github.com/kubernetes/kubernetes/issues/28826
- https://github.com/docker/docker/issues/23184 (this is the same issue @yujuhong mentioned above)

This is theorized to be the fix in Docker: https://github.com/docker/docker/pull/25523
That fix goes in with Docker 1.13

[2016-12-01 04:21] mtaufen commented on #33882
Additionally, it is worth clarifying that there is more than one problem behind these test failures; https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/277/, for example, does not exhibit the "failed to register layer" error.

[2016-12-01 04:23] anguslees commented on #27308
Building a convention around a "standard" environment variable for namespace would be super useful as people grow more complex client tools and wrapper scripts around kubectl.  I would go so far as to suggest that we should use `KUBE_CONTEXT` or similar and make it clear that we intend it to be useful beyond `kubectl` itself.

Trying to robustly add explicit `--context` args to *every* kubectl inv

[2016-12-01 04:42] saad-ali commented on #37777
CC @kubernetes/sig-storage @jingxu97

[2016-12-01 04:46] thockin commented on #37556
If we are OK with people vendoring something, then we are implictly
committing to keep a stable API (or we should be).  So we would have to at
least do a three-phase commit.  Commit new, deprecate old & fix callers,
delete old.  If we're doing that, a vendor-loop is a non-issue.

OBVIOUSLY it's better to avoid it, but I am wary of blanket bans on
anything, especially if we have needed it in the pa

[2016-12-01 04:50] saad-ali commented on #37750
Looks like GCE E2E tests will randomly all fail because nodes become not ready. @dchen1107 @yujuhong @kubernetes/sig-node could you please take a look.

[2016-12-01 04:50] thockin commented on #24343
I read the subtrees link and I am already confused.

On Wed, Nov 30, 2016 at 5:28 PM, Brandon Philips <notifications@github.com>
wrote:

[2016-12-01 04:51] saad-ali commented on #37750
This seems to only be happening on GCE ContainerVM:
* https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5
* https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-release-1.5
* https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5
* https://k8s-gubernator.appspot.com/b

[2016-12-01 05:04] smarterclayton commented on #37556
Ah.  I had a lower bar.  External consumers vendor because we might
change.  Because you vendor, you get to control rate of change.  I don't
see allowing people to vendor as a promise of a stable API.  I see the
value of letting people vendor useful packages as being greater (in a
pareto sense) than the value of forbidding vendoring.  But because we value
being able to refactor internal code for v

[2016-12-01 05:06] smarterclayton commented on #37556
I'm not aware of us needing a vendor cycle. The ones I've seen have been
accidents. Rkt was using quantity (but when vendored it should have been a
separate quantity that we copied in), and Heapster should have created its
own struct compatible types (or we should have put its api in kubernetes
tree).

On Thu, Dec 1, 2016 at 12:04 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-12-01 05:11] arya commented on #37632
The issue seems to be that systemd-networkd and systemd-sysctl both change sysctl values for IP forwarding. The former sets the per-interface bit while the latter sets the system-wide bit (both to zero). The docker daemon sets them both to 1 if and only if both are zero:

[code]

The GCI image should have systemd-networkd configured with `IPForward=true` and /etc/sysctl.conf should have `net.ipv4.

[2016-12-01 05:24] thockin commented on #37556
Most vendoring tools flatten recursively vendored packages, and I think
that is as close to correct as it can get.  In this case, if rkt vendors
Quantity and we vendor rkt, every vendoring tool I have used will try to
flatten that and choose the primary Quantity lib from our own repo.

On Wed, Nov 30, 2016 at 9:06 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-12-01 05:24] chrislovecnm commented on #24343
I think the best thing we can do is do a few POC's with this.  Let's not go nuts, but we need to do something to help with this project's velocity.  Let's engineer this; do a POC, iterate, learn and improve.  Change can be scary, but if we want to live in Github we need change.

@thockin / @bgrant0607 / @philips how many repos do we initially want to do this with?  How are we going to measure this

[2016-12-01 05:26] chrislovecnm commented on #24343
Oh and let's try to keep this simple.  Submodules, sub trees fancy git kungfu makes my head HURT.

[2016-12-01 05:34] JoshuaAndrew commented on #30367
@ctrlaltdel  @ultimatesolution

step 1
[code]
step 2
[code]

step 3

[code]

I got the same error  above!   perhaps   it is  not a user (or documentation) issue

[2016-12-01 05:34] wangkuiyi commented on #37265
Moved the question to https://groups.google.com/forum/#!topic/kubernetes-sig-cluster-lifecycle/dwfgyFkETNU

[2016-12-01 05:38] vishh commented on #32512
@jszczepkowski The pod startup failure you posted in https://github.com/kubernetes/kubernetes/issues/32512#issuecomment-263900772 is for release 1.4 branch. Why do you think it is a release blocker? We need to triage other failures on HEAD and/or 1.5 branch which could be release blockers.

@zmerlynn @roberthbailey If the intent is to keep prod and test in sync, then let's up the logging level in

[2016-12-01 05:40] ligc commented on #37471
HI, the kubernetes version is 1.4.7, running on an OpenPOWER box, ppc64le arch.

[code]

[2016-12-01 05:46] vishh commented on #33882
@adityakali @Amey-D Would it be possible to cherry-pick https://github.com/docker/docker/pull/25523 into GCI?

@mtaufen Nice work! I'm taking a look at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/277/. Let me know if you are already on it.

[2016-12-01 05:51] smarterclayton commented on #37556
But it shouldn't.  :)

[2016-12-01 05:53] brendandburns commented on #24343
I'd like to (once again) register my resistance to breaking up the repo.  How are we going to migrate existing PRs? existing issues? existing instructions on how to build the thing?

How are we going to do the equivalent of vendor updating?  We are guaranteed to come into a situation where two components depend on different versions of the third component (diamond dependencies) how are we going to

[2016-12-01 05:56] roberthbailey commented on #32512
Why is the argument to increase the log level rather than making sure that all logs necessary for debugging production issues are at level 2 or above? Levels 3/4 shouldn't be necessary to figure out why a key control loop isn't behaving correctly.

[2016-12-01 05:57] roberthbailey commented on #16779
@diclophis - we all agree, but also want to keep our backwards compatibility guarantees.

[2016-12-01 05:59] chrislovecnm commented on #24343
@brendandburns removing which pain points can effectively highly increase project velocity.  What due diligence do we need to do?

We need to do this smart, but we need more data to do this smart.  I would recommend a POC to get some data.

[2016-12-01 05:59] #37079 closed

[2016-12-01 05:59] #37658 closed

[2016-12-01 05:59] #37385 closed

[2016-12-01 06:00] vishh commented on #33882
To debug failures similar to https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/277/ we need #37671.

For now, I recommend marking docker/docker#23184 as a known issue in v1.5+docker v1.11 and attempt to include the fix docker/docker#25523 in GCI.

Meanwhile, we can continue debugging any newer restart test failures.

[2016-12-01 06:05] vishh commented on #32512
@roberthbailey What you suggest is a good fix for the future. We need to reexamine logging levels across kubelet. However, that might not happen in the next few days. How do we make progress now?

[2016-12-01 06:08] vishh commented on #32512
@roberthbailey Would isolating logging level changes to specific test suites be acceptable? That way, most of our tests would match production setup.

[2016-12-01 06:09] roberthbailey commented on #32512
That's what I'd suggested on the other (internal) code review.

[2016-12-01 06:29] bgrant0607 commented on #16873
cc @thockin

[2016-12-01 06:36] chrislovecnm commented on #37567
@MrHohn probably something we can include in kops. Thoughts?

[2016-12-01 06:46] k8s-merge-robot opened #37782 "ci-kubernetes-e2e-gci-gce-serial-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.5/92/

Run so broken it didn't make JUnit output!

[2016-12-01 06:53] mootezbessifi commented on #37352
@MrHohn thank you very much for your support.
The next are files content with their path in my master machine:

`# vi /etc/kubernetes/addons/namespace.yaml`

[namespace.yaml](https://github.com/kubernetes/contrib/blob/master/ansible/roles/kubernetes-addons/files/common/namespace.yaml)

`# vi /etc/kubernetes/addons/skydns-rc.yaml`
`# vi /etc/kubernetes/addons/skydns-svc.yaml`
[skydns-rc.txt](https:

[2016-12-01 07:35] thockin commented on #16873
I am working on a draft deprecation policy doc, and when that is ready I'll
fix up some or all of this in the same PR.  OK?

On Wed, Nov 30, 2016 at 10:29 PM, Brian Grant <notifications@github.com>
wrote:

[2016-12-01 07:36] ravilr commented on #25283
we are using tolerate-unready-endpoints annotation in our zookeeper deployments (not using pet/stateful set). Without unready endpoints, it is impossible to define a meaningful pod readiness check for zk, and without a readiness check, it is hard to do rolling updates (one ensemble member at a time).

[2016-12-01 07:38] thockin commented on #25283
The question is whether there's a need to have StatefulSets *without*
tolerate-unready-endpoints.

It sounds like maybe yes, which makes me grumpy, but I'll acquiesce if
Clayton and Prashanth say so.

On Wed, Nov 30, 2016 at 11:36 PM, ravilr <notifications@github.com> wrote:

[2016-12-01 07:41] wojtek-t commented on #37725
This PR significantly improved performance. I will prepare a quick fix to do exactly what Daniel said.

[2016-12-01 07:44] thockin commented on #37556
Shouldn't flatten?  I disagree.  I tried to write a tool that didn't
flatten and I just kept running into logistical problems.  Flattening is
the only sane answer

On Wed, Nov 30, 2016 at 9:51 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-12-01 07:59] bprashanth commented on #25283
isn't it enough to establish a need to tolerate-unready without statefulsets?

[2016-12-01 08:02] ferdi-bedag commented on #34698
@eviloop I don't think so, because the attach/detach controller succeeds on my setup and kubelet is able to mount the attached volume at some point

[2016-12-01 08:04] k8s-merge-robot opened #37787 "kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew/1273/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run deployment should create a deployment from an image [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27532 #34567

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --rm

[2016-12-01 08:13] wojtek-t commented on #37725
https://github.com/kubernetes/kubernetes/pull/37788 is out for review (it's 6-line fix)

[2016-12-01 08:16] wojtek-t commented on #37421
We fixed at least one such issue in 1.4 release. If you could try 1.4 and see if it still happens it would be great.

[2016-12-01 08:18] IanLewis commented on #32026
I'm having issues with this developing an exec into pod feature for the UI as well since our local development environment depends on `kubectl proxy`. I'd like to see this implemented soonish as it is pretty annoying to work around.

[2016-12-01 08:19] bprashanth commented on #28443
Are you asking why we even need an L7 construct at the cloudprovider level vs a simple type=LB? 3 reasons come to mind:
* TLS offload (secrets never hit kube)
* Features not available in type=lb (eg CDN, basic DOS protection, cross region loadbalancing etc)
* you could just stick with the cloudprovider's L7 feature set and go straight to your endpoints, preserving cross platform portability

[2016-12-01 08:25] Pensu opened #37790 "Building binaries with only external linking"
Hi,

In regards to issue #33719, we have been able to build kubernetes on ppc64le. Now, there are two types of patches required to be put in golang to achieve that, for internal linking and external linking. Both the patches are there in upstream golang. Since in corss-image Dockerfile https://github.com/kubernetes/kubernetes/blob/master/build-tools/build-image/cross/Dockerfile, we are still using

[2016-12-01 08:25] bprashanth commented on #28443
But yeah, you can create a Service over the "Type=Internal" controller pods to get a cluster local DNS name, it's just another step.

To me the more important part is that we ack and include more complex features in the basic Ingress api, because it doesn't make sense to limit an *internal* proxy to whatever features amazon or gce supports in the external, internet facing lb. It also doesn't make

[2016-12-01 08:31] k8s-merge-robot opened #37791 "[k8s.io] GCP Volumes [k8s.io] NFSv3 should be mountable for NFSv3 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/757/

Failed: [k8s.io] GCP Volumes [k8s.io] NFSv3 should be mountable for NFSv3 {Kubernetes e2e suite}

[code]

[2016-12-01 08:34] rahul8590 commented on #34396
I actually have the same problem . I installed weave and problem still seems to persist.

[code]

I am not sure, how to resolve this.

[2016-12-01 08:35] wojtek-t commented on #37553
I have a feeling that this fix didn't help. E.g. this failure still doesn't have logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/2157/

Which mean it is still P0 in my opinion.

@fejta - I think there isn't anything more urgent that this. This is blocking tens of engineers in the team from effectively debug anything. Migrating something to a diffe

[2016-12-01 08:39] #35834 closed

[2016-12-01 08:40] wojtek-t opened #37792 "DiscruptionController is failing in larger clusters"
DiscruptionController test is failing regularly in large clusters:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/1
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/2

[2016-12-01 08:51] k8s-merge-robot opened #37794 "ci-kubernetes-e2e-gci-gke-prod: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod/47/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27115 #28070 #30747 #31341 #35513 #37187

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] N

[2016-12-01 09:05] k8s-merge-robot opened #37795 "ci-kubernetes-e2e-gke-slow-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-slow-release-1.5/436/

Run so broken it didn't make JUnit output!

[2016-12-01 09:05] k8s-merge-robot opened #37796 "kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster/358/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27233 #36204

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[2016-12-01 09:08] weherdh opened #37797 "Fail to run nfs-provisioner pod on Azure clound provider env"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.1011+42d5a1a9cd4aca", GitCommit:"42d5a1a9cd4acae9c7b258c21bfc4fb4955d7be3", GitTreeState:"clean", BuildDate:"2016-11-30T07:19:12Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.10

[2016-12-01 09:21] #19345 closed

[2016-12-01 09:23] colachg opened #37798 "App pods in k8s cluster can not resolve external address like: google.com"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes version** (use `kubectl version`):v1.4.0

**Environment**:
- **Cloud provider or hardware configuration**: kvm
- **OS** (e.g. from /etc/os-release): ubuntu 16.04.1 LTS
- **Kernel** (e.g. `uname -a`): 4.4.0-49-generic
- **Install tools**: [kubeadm](http://kubernetes.io/docs/getting-started-guides/kubeadm/)
- **Others

[2016-12-01 09:27] wernight commented on #37621
`-n` for namespace is really a huge improvement (the biggest), thanks for find that out.

[2016-12-01 09:37] brlbil opened #37799 "Missing number of comments on PRs for previous month, consideration of active contributors"
In documentation,
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/community-expectations.md

In active contributors section,
* Commented on **more than pull requests** in the previous month, or more than 50 pull requests in the previous 12 months.

It does not specify exact number for comments for previous month

[2016-12-01 09:37] k82cn opened #37800 "[kube-mesos] Support Mesos Container in Kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request.

**Kubernetes version** (use `kubectl version`):
master

**What you expected to happen**:
In Mesos 1.x, [Mesos container](http://mesos.apache.org/documentation/latest/mesos-containerizer/) is the default container runtime of tasks; when running Kubernetes on Mesos ([kube-mesos](https://github.com/kubernetes-incubator/kube-

[2016-12-01 09:38] k82cn commented on #37800
/cc @kubernetes/sig-node ,  @dchen1107, @vishh, @yujuhong

[2016-12-01 10:14] codablock opened #37801 "Allow to set FSType for dynamically provisioned volumes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
I searched in the issues and asked for help multiple times on Slack.

---

**Is this

[2016-12-01 10:15] jsafrane opened #37802 "Error compiling locally: cannot find GOROOT directory: /usr/local/go"
PR #37665 has broken my local build (`make`, `hack/local-up-cluster.sh`). It unsets GOROOT and go build then looks into `/usr/local/go` which does not exist.

[code]

@ixdy, PTAL, it's really annoying regression.

[2016-12-01 10:23] hex108 commented on #23607
We just saw this in kubernetes 1.4.1 with docker 1.9.1.

<pre>
...
I1130 10:02:51.966816    5569 oom_linux.go:110] pid 6075 needs to be set
I1130 10:02:51.966823    5569 oom_linux.go:69] attempting to set "/proc/6075/oom_score_adj" to "992"
I1130 10:02:51.966842    5569 oom_linux.go:79] write /proc/6075/oom_score_adj: invalid argument
I1130 10:02:51.966859    5569 oom_linux.go:79] write /proc/6075

[2016-12-01 10:33] codablock opened #37804 "Allow to specify global default FSType for volumes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Curren

[2016-12-01 10:44] micheleorsi opened #37805 "Kubernetes postStart hook blocks all the containers startup"
**Kubernetes version**:

- Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56", GitTreeState:"clean", BuildDate:"2016-10-21T02:48:38Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"darwin/amd64"}
- Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.6", GitCommit:"ae4550cc9c89a593bcda6678df201db1b208133b", Gi

[2016-12-01 10:45] vishh commented on #23607
Docker v1.10+ should not have this issue. Can you upgrade your docker version?

[2016-12-01 11:15] k8s-merge-robot opened #37806 "ci-kubernetes-e2e-gke-reboot-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-reboot-release-1.5/329/

Run so broken it didn't make JUnit output!

[2016-12-01 11:24] vishh commented on #37800
Kubelet typically expects to manage the entire node. It assumes that it has exclusive access to all the resources, both HW and non-HW, and to the runtime.
I hope the intention is not to share the Mesos Containerizer between Kubelet and Mesos itself...

[2016-12-01 11:31] sttts commented on #37802
same here

[2016-12-01 11:33] hex108 commented on #23607
Thanks, v.1.10+ looks fine. It will take some time to upgrade to v1.10+. It might be better if we could handle it well in kubelet, the small patch is at https://github.com/hex108/kubernetes/commit/3e856756687863cf033804dae5d30cd7536f63e0.

[2016-12-01 11:37] mdshuai opened #37807 "seLinuxOptions in pod need format for different docker version"
**Kubernetes version** (use `kubectl version`):
v1.6.0-alpha.0.1063+39e64fde8ca42e-dirty

**Environment**:
[code]

**What happened**:
There are two issue for seLinuxOptions:
1. Currently when set Seccomp and AppArmor for container we use different format for docker version, ref: [dm.fmtDockerOpts](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L1108-

[2016-12-01 11:38] mdshuai commented on #37807
@pmorie @derekwaynecarr Help check, thanks

[2016-12-01 11:39] vishh commented on #23607
Patch looks benign to me. Why don't you post it upstream?

On Thu, Dec 1, 2016 at 3:33 AM, Jun Gong <notifications@github.com> wrote:

[2016-12-01 11:47] hex108 commented on #23607
Add a PR https://github.com/kubernetes/kubernetes/pull/37808 for it.

[2016-12-01 11:56] mdshuai opened #37809 "seLinuxOptions in pod level and container level has different result"
**Kubernetes version** (use `kubectl version`):
v1.6.0-alpha.0.1063+39e64fde8ca42e-dirty

**Environment**:
[code]

**What happened**:
Create pod with same seLinuxOptions in pod level and container level, then check selinux context label in container, it has different result, I don't know it's a bug or it's correct.

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anythi

[2016-12-01 11:56] mdshuai commented on #37809
@pmorie @derekwaynecarr Help check, thanks.

[2016-12-01 12:12] k8s-merge-robot opened #37811 "ci-kubernetes-e2e-gce-reboot-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-reboot-release-1.5/646/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33703 #36230

Failed: [k8s.io] Reboot [Disruptive]

[2016-12-01 12:29] bogdando commented on #19634
@fluxrad the `adress=/foo/` doesn't work for me (tried with Centos7). But that http://lists.thekelleys.org.uk/pipermail/dnsmasq-discuss/2011q3/005137.html worked well, so perhaps `local=/foo/` should be used.

[2016-12-01 12:35] deads2k commented on #37556
I think this has kind of de-railed into, "how do I wish you could vendor", but having been on the receiving end for a while I do have some opinions.  You need compatibility of interfaces, but internal implementations of a particular interface that you're vendoring should be allowed to use any level of a prereq that they choose.  OSGi does this with explicit exports and recommending services to get

[2016-12-01 12:48] fgrzadkowski commented on #37447
Thank you so much for investigating this issue! You rock :)

[2016-12-01 12:55] k82cn commented on #37800
@vishh , in kube-mesos, k8sm-scheduler launch Pods in kubelete according to Mesos's offer. In C++ or Java, I'd like to implement this feature in kube-mesos project and load by `jar` or `.so`, but it seems Go did not support that.

[2016-12-01 13:03] feiskyer commented on #37800
@k82cn If pods are still launched by kubelet, [CRI](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/container-runtime-interface.md) for Mesos container runtime is a better choice.

[2016-12-01 13:29] k82cn commented on #37800
@feiskyer , thanks for your input; `CRI` seems the right option to me. Let's check the related doc and back to you if any question :).

[2016-12-01 13:53] dims commented on #37393
One of @dchen1107 's PR needs a rebase (https://github.com/kubernetes/kubernetes/pull/37398) all set otherwise AFAICT

[2016-12-01 13:53] dims commented on #37657
@matchstick p0 release-blocker with no movement at all PTAL

[2016-12-01 13:56] dims commented on #36054
I don't see how we can make any progress here, we don't have a specific list of failures or jobs that needs to be looked at. So this cannot be a release-blocker

[2016-12-01 13:56] dims commented on #33405
@MrHohn Any update on this one?

[2016-12-01 13:57] dims commented on #37605
retry logic with PR https://github.com/kubernetes/kubernetes/pull/37668 needs reviews/lgtm

[2016-12-01 13:58] dims commented on #37586
@rkouj : is https://github.com/kubernetes/kubernetes/pull/37727 expected to fix this problem?

[2016-12-01 13:59] dims commented on #36230
Looks like the debug PR https://github.com/kubernetes/kubernetes/pull/37639 has not merged yet since it does not have a 1.5 milestone. adding that now

[2016-12-01 14:00] dims commented on #37715
So, per the emails and pr(s) there's a work around and updates to docs. Marking this as a non-release-blocker

[2016-12-01 14:02] dims commented on #37457
Looks like we are waiting on @dchen1107 for analysis

[2016-12-01 14:03] dims commented on #33882
@vishh Can we please remove the release-blocker tag then?

[2016-12-01 14:05] dims commented on #34060
@ixdy @bprashanth @justinsb Do we still think we need to block the release for this one?

[2016-12-01 14:07] k8s-merge-robot opened #37814 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.4/589/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313 #35444

[2016-12-01 14:07] k8s-merge-robot opened #37815 "ci-kubernetes-e2e-gci-gke-prod-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-parallel/839/

Run so broken it didn't make JUnit output!

[2016-12-01 14:07] k8s-merge-robot opened #37816 "ci-kubernetes-e2e-gci-gke-prod-smoke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/1130/

Run so broken it didn't make JUnit output!

[2016-12-01 14:07] k8s-merge-robot opened #37817 "ci-kubernetes-e2e-gci-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/879/

Run so broken it didn't make JUnit output!

[2016-12-01 14:07] k8s-merge-robot opened #37818 "ci-kubernetes-e2e-gce-alpha-features-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-alpha-features-release-1.5/199/

Multiple broken tests:

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should handle updates to source ip annotation [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #35225 #35347

Failed: [k8s.io] ESIPP

[2016-12-01 14:07] k8s-merge-robot opened #37819 "ci-kubernetes-e2e-gke-alpha-features-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-alpha-features-release-1.5/190/

Multiple broken tests:

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work for type=LoadBalancer [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work from pods

[2016-12-01 14:07] k8s-merge-robot opened #37820 "[k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-latest-1.4-latest-1.5-cvm-kubectl-skew/1201/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}

[code]

Previous issues for this test: #28523

[2016-12-01 14:07] dims commented on #32512
@roberthbailey @vishh @jszczepkowski Do we have consensus on how to get past this as a release-blocker?

[2016-12-01 14:22] #37815 closed

[2016-12-01 14:22] #37817 closed

[2016-12-01 14:22] k8s-merge-robot opened #37821 "ci-kubernetes-e2e-gce-slow-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow-release-1.5/428/

Multiple broken tests:

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28297 #37101

Failed: [k8s.io] StatefulSet [Slow] [k8s.io] Basic StatefulSet func

[2016-12-01 14:22] #37820 closed

[2016-12-01 14:28] deads2k commented on #27308
The "don't use a global file" argument doesn't seem very strong.  Just set `KUBECONFIG` for your script and use existing flows with existing tools and existing capabilities (since 1.0).

[2016-12-01 14:31] #36043 closed

[2016-12-01 14:32] hsyed commented on #34594
The spam is overwhelming please move it to an appropriate log level.

[2016-12-01 14:41] gmarek commented on #36054
This is exactly the reason why this needs to be addressed - it causes failures in many different suites and because in any single one it happens rarely, no one is looking into it, even though on higher level it's pretty common failure reason.

[2016-12-01 14:42] #37814 closed

[2016-12-01 14:46] justinsb opened #37822 "Is it safe to share the OAuth/OIDC client-secret?"
Kubernetes advertises support for OAuth / OIDC, but it requires putting the client-secret into the kubecfg file.  i.e. it shares the OAuth client-secret with end users.  This seems (on the surface) to be unsafe - I have not yet found any indication that the client secret is in fact _not_ a secret.

Some providers (e.g. tremolo) will generate a per-auth client-secret, so that the client-secret is n

[2016-12-01 14:57] mlbiam commented on #37822
More specifically instead of using the id_token, the kubernetes config file should use the access_token and then check it against the OP (OpenID Connect Identity Provider) to make sure its valid.

The problem with this approach is that there's no standard way to do this (I'm pretty sure in discussions with @ericchiang this was one of the main reasons that the current approach is taken).  Neither t

[2016-12-01 15:05] mlbiam commented on #37822
And for those that weren't in the @kubernetes/sig-auth channel the argument for why a shared client secret is insecure are based on that most enterprises have policies around both service accounts and privileges access accounts that include:

1.  The credential needs to be rotated periodically
2.  If a member of the team leaves the project/team/company the credential needs to change

These policie

[2016-12-01 15:09] wongma7 commented on #37797
Kube should handle mounting of the secret there. It looks this is same issue as https://github.com/kubernetes/kubernetes/issues/27973 and you can try to pass additional flags to apiserver and controller-manager at cluster start. Can you provide controller-manager logs next time this happens? thanks

[2016-12-01 15:12] jayunit100 commented on #20064
We explictly are NOT planning to do a follow on w/ node specific details, its not necessary.  the above bullets will close this issue out

[2016-12-01 15:14] liggitt commented on #37822
This was discussed extensively when the OIDC feature was added to kubectl. Some highlights:

* Because the token is granted by some third party, using the access_token against kubernetes is not appropriate (there's no telling what that access_token allows access to, and kubernetes can't verify it... access tokens are opaque, even in OIDC)
* There are two valid modes of operation:
  * the client_id

[2016-12-01 15:19] sajal commented on #37146
I just evaluated [service-loadbalancer](https://github.com/kubernetes/contrib/tree/master/service-loadbalancer), whats missing is that the loadbalancer itself cant see the actual client ip, it only sees a NAT IP. IP based affinity is useless in this case it sees all traffic coming from a single IP and directs everything to a single pod.

I am trying to figure out load balancing within kubernetes t

[2016-12-01 15:19] akantak commented on #27758
It is standard in creating secrets for k8s:
http://kubernetes.io/docs/user-guide/secrets/#creating-a-secret-manually
but mention about it there can save time to newbies.

[2016-12-01 15:27] michelleN opened #37827 "Move docs: design, proposals, devel to community repo"
- [x] Move docs/design, docs/design, and docs/proposals to the community repo under [`contributors/`.](https://github.com/kubernetes/community/tree/master/contributors) and combine design and proposals docs under design-proposals directory

- [x] Freeze PRs on the moved directories (cc/ @grodrigues3)

- [x] Make announcement about freeze

- [x] Update the files in those directories in this repo to

[2016-12-01 15:35] michelleN opened #37828 "Delete docs/user-guide"
docs/user-guide has been moved to kubernetes.github.io and should be deleted

I believe there are some tests that need to be updated according to @bgrant0607

[2016-12-01 15:40] vishh commented on #32512
@dims We are waiting on @jszczepkowski to give a go ahead from the release perspective. The kubelet failures that @roberthbailey and I have been discussing about have not been on v1.5 AFAIK.

[2016-12-01 15:42] vishh commented on #33882
@dims I'll let @mtaufen make that call since he has been driving this issue for the past few days.

[2016-12-01 15:43] smarterclayton commented on #37556
Yeah, this has diverged from my original point.  I'm not arguing
against diamond resolution.  I'm arguing that cycles are needlessly
wasteful to the core tree.

Allowing vendored code to reference packages in our tree directly
makes refactors more expensive on the in tree refactor for no actual
reason.  The downstream vendorer already will be paying a cost to
adapt to refactors (the refactor is in

[2016-12-01 15:47] bonovoxly commented on #22770
@mkulke minor correction (because I just ran into it), use `--kubelet-preferred-address-types`.

[2016-12-01 15:49] #37819 closed

[2016-12-01 15:52] timothysc commented on #34508
Could we end this issue with a single succinct comment on how we want to do this, and also PR update to the docs.

It's not entirely clear to me from the conversations what is the convention we are going to follow...

[2016-12-01 15:53] smarterclayton commented on #28443
Are you saying those forwarding rules are created outside Kube, rather than by a hypothetical controller in kube?  If so I agree, it just seemed that the implication was ingress *resulted* in those being created via external.  Why not just use the existing GCE API in that case?

I agree ingress should grow for internal use cases and features where the cloud providers are insufficient.

[2016-12-01 15:59] smarterclayton commented on #28443
on rereading i now understand.

The internal vs external distinction seems less portable - part of the value of ingress is that the end user doesn't control the mechanism for that ingress and thus their app works in multiple environments.  If I run a metal environment and want to reuse an app that has ingress, my ingress impl has to honor internal and external.

This feels more like "support level

[2016-12-01 16:13] jszczepkowski commented on #32512
Sorry, I didn't notice that this problem is on 1.4 branch. If so, the issue is not release-blocker. So, I'm remove the label

[2016-12-01 16:14] smarterclayton commented on #25283
I have two services pointing to my etcd stateful set - one that is
endpoints (peers) and tolerates unready.  I have one that is for naive
clients that uses readiness.

On Dec 1, 2016, at 2:59 AM, Prashanth B <notifications@github.com> wrote:

isn't it enough to establish a need to tolerate-unready without
statefulsets?

—
You are receiving this because you commented.
Reply to this email directly,

[2016-12-01 16:25] smarterclayton commented on #34508
beta fields going to GA need to:

1. Become a field
2. Continue to honor the beta annotation *over* the field (presence of
annotation means old client that doesn't know about new field).  That has
to either happen on decode, or in client code (now that we're using
versioned clients) and in conversion on the server side.

Annotations suck.

On Dec 1, 2016, at 10:53 AM, Timothy St. Clair <notificati

[2016-12-01 16:29] danrjohnson opened #37829 "Cannot assign service ip address manually"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d96

[2016-12-01 16:37] timothysc commented on #34508
And if it's alpha, just convert?

[2016-12-01 16:41] dims commented on #37585
@rkouj - reasonably sure that we unblock this issue with #37727 right?

[2016-12-01 16:43] dims commented on #37725
Looks like good news on this one thanks @lavalamp @wojtek-t

[2016-12-01 16:44] dims commented on #37447
@yujuhong @fgrzadkowski looks like https://github.com/kubernetes/kubernetes/pull/37661 merged, so can we close out this issue?

[2016-12-01 16:45] #37615 closed

[2016-12-01 17:20] #37818 closed

[2016-12-01 17:20] k8s-merge-robot opened #37832 "ci-kubernetes-e2e-gci-gce-autoscaling-migs: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling-migs/443/

Run so broken it didn't make JUnit output!

[2016-12-01 17:40] ericchiang commented on #37822
@mlbiam and I actually had this exact conversation on the keycloak mailing list. Going to post my thoughts directly from there:

(The keycloak guy replied that he'd advocate for using a keycloak "public client")

Different providers have different capabilities to avoid a public secret or restrictions on public secrets. Those differences and how you setup your Kubernetes API server determine when i

[2016-12-01 17:43] ericchiang commented on #37822
So I it depends. I think part of the maturing of the OIDC plugins will be documenting these caveats and trying to proposed recommended setups.

[2016-12-01 17:44] elsonrodriguez commented on #27758
I have a pending PR to make this more clear: https://github.com/kubernetes/kubernetes/pull/34042/files

Will also send another PR for the new `--type=kubernetes.io/rbd` requirement.

[2016-12-01 17:47] mtaufen commented on #33882
@saad-ali @dims @vishh I am marking this a non-blocker. It seems that everyone is in agreement that this makes sense.

It is still a P0 and deserves continued investigation.

[2016-12-01 17:48] MrHohn commented on #36230
@dims Thanks for helping out!

[2016-12-01 17:49] hubt commented on #7433
Another thing to consider in this area is that it may make sense to generalize a solution so that kube-proxy supports other routing preferences. We are talking about node local, but I could easily see AZ local and cluster local(in federated clusters). More dynamically, someone could even build support in kube-proxy for latency based service routing, which might take care of all of the solutions at

[2016-12-01 18:02] thockin commented on #37556
I agree that cycles are not good.  Full stop.  That said, Go was designed
to emulate a monorepo, and vendoring just makes that more stable.  Cycles
like this in a monorepo just happen.  We should spend the time to factor
the codebase such that it is less likely to be a pain, and we should strive
to avoid cycles.

WRT vendoring and flattening: David is right - it means we have to get all
packages t

[2016-12-01 18:06] mlbiam commented on #37822
@ericchiang @liggitt why couldn't k8s accept the access_token and call the user_token endpoint of the idp?  user_token is part of the oidc core standard and the endpoint would be documented in the oidc metadata url.  From a performance standpoint its no different then a webhook and its the same concepts.  I wouldn't replace the existing oidc, just add it as an option.

[2016-12-01 18:06] krousey commented on #37553
Piling on to this, automated upgrade tests are now in a similar situation: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster/481?log

(we fixed some things so now all the tests are actually running and timing out)

[2016-12-01 18:10] BruceZu opened #37833 "pod state: CrashLoopBackOff; logs: java.net.UnknownHostException <pod name>. k8s-dns error"
k8s-dns error, this make it failed to deploy SonarQube on k8s
I need help to fix it

[root@k8s-09 ~]# kubectl version
[code]

**Environment**:
[root@k8s-09 ~]# cat /etc/os-release
[code]

[root@k8s-09 ~]# kubectl cluster-info
[code]
**What happened**:
I deploy SonarQube and find the pod status is  CrashLoopBackOff
and from the logs I find it is caused by  java.net.UnknownHostException <pod name>
I

[2016-12-01 18:13] deads2k commented on #37556
That's just an example of bad code which can be fixed without too much pain.  Obviously I haven't developed in a Go project that has proper plugin linking and isolation, but my experiences in Java, even in poorly controlled projects, were far superior to my vendoring experiences in Go.  You end up vendoring a few black sheep and adding some patches, but nothing compared to the pain I have now.

[2016-12-01 18:16] thockin commented on #37556
We have a LOT of work to do to make non-flattened vendoring work.  I am in
favor of that work being done (passive voice).

On Thu, Dec 1, 2016 at 10:13 AM, David Eads <notifications@github.com>
wrote:

[2016-12-01 18:16] danrjohnson commented on #37829
It looks like this might be a problem with the network size.  A `/16` address works fine

[2016-12-01 18:19] bprashanth commented on #28443
Yes I think the problem boils down to: how do we expose nested scoping?

* events from the backend (bad ux, more than 50% of the internal rules will get vetoed by the cloud lb)
* another 2 phase system to ack, like initializers (ux is a little better, 50% problem still exists)
* apply synchronous validation keyed off `Type`

I also considered splitting routing rules out from the allocation of IP/D

[2016-12-01 18:20] ericchiang commented on #37822
[code]

Do you mean user_info (which is recommended btw)? I'm confused what that busy us. You still need an access_token which expires and needs refreshing. You just added another call that the k8s cluster needs to make instead of parsing a signed id_token.

[2016-12-01 18:25] BruceZu commented on #37833
Add more information
[ root@curl-2421989462-9xhbw:/ ]$ cat /etc/resolv.conf
search default.svc.cluster.local svc.cluster.local cluster.local huaweilab.com
nameserver 10.96.0.10
options ndots:5

# kubectl get svc
NAME          CLUSTER-IP      EXTERNAL-IP   PORT(S)                 AGE
gitlab        10.108.63.168   <nodes>       443/TCP,22/TCP,80/TCP   9d
jenkins       10.106.147.38   <nodes>       8

[2016-12-01 18:30] mlbiam commented on #37822
@ericchiang argh you're right user_info.  It would let you use the access_token which can be longer lived then the id_token since it can be revoked and authorizations changed on the backend but you wouldn't need kubectl to do the refresh.  If the token is still active would be up to the IdP.  It would give you a similar user experience as what we did with OpenUnison (having a per session shared se

[2016-12-01 18:33] #23026 closed

[2016-12-01 18:34] rkouj commented on #37586
@dims : Yes

[2016-12-01 18:34] bgrant0607 commented on #37828
and docs/admin, docs/getting-started-guides

cc @grodrigues3

[2016-12-01 18:35] ixdy commented on #37802
ugh, sorry. too many supported ways of building kubernetes. will fix.

[2016-12-01 18:36] foxish commented on #27796
User question:
Can I sign the CNCF CLA as an employee and as an individual?

I'll aggregate questions like this and update the FAQ so that we don't have to intervene manually so often.

[2016-12-01 18:39] BruceZu commented on #37833
provide more information

# kubectl  run busybox  --image=busybox -it nslookup gitlab
# kubectl get pods
NAME                           READY     STATUS             RESTARTS   AGE
busybox-3604520811-5ma4w       0/1       CrashLoopBackOff   3          1m
curl-2421989462-9xhbw          1/1       Running            0          1h
gitlab-1983252133-tlaum        1/1       Running            1          1

[2016-12-01 18:39] jingxu97 commented on #37657
In our current code path, volume unmount will fail if the directories are already deleted. Reconciler just keep trying to unmount periodically. The scenario might happen with the following sequence of events
1. volume reconciler tries to unmount the volume first,
2. cleanupOrphanedPod process tries to remove the pod directory after checking all volumes are unmounted.
3. volume reconciler tries to

[2016-12-01 18:41] foxish commented on #37361
Investigating this today.

[2016-12-01 18:41] liggitt commented on #37822
I don't think using a third-party access_token as a bearer token to kubernetes is appropriate. There is no telling what power that access_token holds in the third-party system that the user is not intending to give to the kubernetes API server.

[2016-12-01 18:43] mlbiam commented on #37822
@liggitt shouldn't that be up to the deployer and the idp?  Hows that any different then using a webhook for authentication?  Its still an opaque token to k8s that tells k8s who the user is and what groups the user has.  This is no different except its using documented standards.

[2016-12-01 18:45] dchen1107 commented on #37457
Ahh, sorry for not updating this. There are too many issues (internal buganizer and github etc.) being opened for the same problem. Let me copy & paste what I updated in one of internal bug with a slight updates:

[code]

[2016-12-01 18:48] MrHohn commented on #37352
Both the files and paths look correct. One more trivial suggestion is try to put `skydns-rc.yaml` and `skydnssvc.yaml` in to a sub-folder, like `/etc/kubernetes/addons/dns/`. But I don't think it will solve the problem you have.

Since the Kubernetes version you are using is relatively old --- including kube-dns and Add-on Manager, I might need more time to dig in later, and probably do a repro. B

[2016-12-01 18:50] foxish commented on #37457
The quick fix here would be to reboot the stuck node then.
@krousey, I'll do that for the release-1.5 soak test, but keep this one around, in case we want to poke at this issue.

[2016-12-01 18:51] ixdy commented on #37790
Two quick thoughts:
1. it's definitely too late to do anything for k8s v1.5.
2. depending on when go1.8 gets released, we might be able to upgrade to it for k8s v1.6.

[2016-12-01 18:51] jingxu97 commented on #37585
@rkouj yes, we think so.

[2016-12-01 18:52] krousey commented on #37457
@foxish they're rebooted weekly. So this will go away. However, I'm starting to see the same symptoms in upgrade tests. This is worrying.

[2016-12-01 18:54] jingxu97 commented on #36470
@AncientRemember great! close this issue now and please let us know if you have any other issue.

[2016-12-01 18:54] #36470 closed

[2016-12-01 18:54] dchen1107 commented on #37457
@krousey just pointed me another bad instance. It ran into the same Soft lockup issues in kernel:

[16234.418266] BUG: soft lockup - CPU#0 stuck for 22s! [kube-proxy:3723]
[16234.424852] Modules linked in: sg nf_conntrack_netlink nfnetlink xt_statistic ipt_REJECT sch_htb[16234.434264] BUG: soft lockup - CPU#1 stuck for 22s! [kube-proxy:3720]
[16234.434264] Modules linked in: sg nf_conntrack_netlin

[2016-12-01 18:56] foxish commented on #37457
@dchen1107 Any luck debugging this using the serial port connection and Magic SysRq keys?

[2016-12-01 18:57] philips commented on #35462
dev docs PR is up https://github.com/kubernetes/kubernetes/pull/37836

[2016-12-01 19:02] MrHohn commented on #37567
cc @bowei

[2016-12-01 19:05] MrHohn commented on #37567
@chrislovecnm I notice that kops has its own dns-controller implementation and is not using kube-dns as part of the addon resources. What is the plan for dns service in kops and how is it different from the main kubenetes branch?

[2016-12-01 19:07] BruceZu commented on #37833
provide more information
[root@k8s-09 ~]# kubectl get ep --namespace=kube-system
NAME                      ENDPOINTS                   AGE
kube-controller-manager   <none>                      20d
kube-dns                  10.35.0.0:53,10.35.0.0:53   20d
kube-scheduler            <none>                      20d
kubernetes-dashboard      <none>                      19d
[root@k8s-09 ~]# kubectl get

[2016-12-01 19:08] liggitt commented on #37822
Not if claiming to use the OIDC standard

You could implement this as a webhook if you wanted, but that doesn't claim to be standards-based. The proposed use of a third-party-issued access_token and user_info endpoint confuses the actors in the OIDC standard.

The actor using the access_token to get additional information from the user_info endpoint is supposed to be the actor that obtained the ac

[2016-12-01 19:12] yissachar commented on #27796
To elaborate on the previous comment:

I've already signed the CLA as an individual using this Github account and my personal email. Now my employer has signed the CLA and I want to be able to contribute using the same Github account, which also has my employee email registered.

When I click through to sign up as an employee, I get the following message:

My Linux Foundation profile has my person

[2016-12-01 19:14] verb opened #37838 "Allow containers to be added to a running pod"
**Is this a request for help?**: no

**What keywords did you search in Kubernetes issues before filing this one?**: "add container"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

While exploring solutions to allow troubleshooting of running pods (#27140) it's becoming clear that the most straightforward solution for adding a container to a running pod will to all

[2016-12-01 19:15] verb commented on #37838
I'll put together a proposal for this.

[2016-12-01 19:18] yujuhong commented on #37447
Will close once the cherrypick (#37840) is merged

[2016-12-01 19:19] caesarxuchao commented on #37421
@inetkiller, https://github.com/kubernetes/kubernetes/pull/30839 updated the RLock you mentioned to Lock. It has more followup PRs like #30948. (I didn't follow these PRs closely)

[2016-12-01 19:19] madhusudancs opened #37841 "`kubefed init` should verify that the API server is up before printing a success message"
`kubefed init` deploys a new federation control plane and prints a success message that says `Federation API server is running at: 1.2.3.4` as soon as all the operations it is expected to perform is successful. It doesn't really check if the API server is actually up and running. We need to verify that the API server is running before printing this message.

cc @kubernetes/sig-cluster-federation @

[2016-12-01 19:19] BruceZu commented on #37833
[root@k8s-09 ~]# kubectl cluster-info
[code]
To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.
[root@k8s-09 ~]# curl http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/kube-dns
[code]
}[root@k8s-09 ~]#

Seems this is the root reason. But need help about how to fix it?

[2016-12-01 19:20] philips commented on #35462
dev docs PR moved to community repo https://github.com/kubernetes/community/pull/126

[2016-12-01 19:23] #37405 closed

[2016-12-01 19:23] #37514 closed

[2016-12-01 19:25] euank commented on #22147
I think that using `python -c` and then ensuring all code run is python 2.7 + 3.x compatible is the best option.

The `./cluster/gce` code right now works that way, and that certainly is the most future-proof option for once the world finally uses python3 (any decade now...)

[2016-12-01 19:26] BruceZu commented on #37833
# sudo ps -ef |grep kubelet
[code]
[root@k8s-09 ~]# kubectl get pod --namespace=kube-system
[code]
[root@k8s-09 ~]#

[2016-12-01 19:26] fejta commented on #37553
Moving to kubernetes/test-infra#1250

[2016-12-01 19:28] #37717 closed

[2016-12-01 19:28] fejta commented on #37553
@krousey if you want better debugging on upgrade logs we need to go forward with https://github.com/kubernetes/test-infra/issues/1030

[2016-12-01 19:29] madhusudancs opened #37842 "kubectl get clusters -w doesn't work as expected"
Quoting a user:

`kubectl get services -w`

displays updates to the state of services differentially i.e. I have 10 services, and only the one that changed is displayed incrementally.

`kubectl get clusters -w`

displays all records everytime something has changed in any of them. "get clusters" behaves differently.

[code]

cc @kubernetes/sig-cluster-federation

[2016-12-01 19:29] spxtr commented on #37161
Doesn't look like test-infra, assigning to oncall.

[2016-12-01 19:30] chrislovecnm opened #37843 "AWS EBS volume issue with Storageclass and Petset"
Description

A K8s cluster got into a state where a Petset would create in one namespace but not another.  Multiple issues with EBS volumes not mounting or unmounting.  Multiple issues with EBS volumes not being destroyed.

Deleted petset and pv correctly, and the same issue occurred.  Every time we deployed the PetSet went into Pending stuck with the following error:

[code]

And the PVC would li

[2016-12-01 19:30] lavalamp commented on #37101
This test is currently clogging up the merge queue...

[2016-12-01 19:31] krousey commented on #37765
[code]

[2016-12-01 19:33] BruceZu commented on #37833
# kubectl describe pod kube-dns-654381707-e5x6z
`Error from server: pods "kube-dns-654381707-e5x6z" not found`

[2016-12-01 19:33] #37811 closed

[2016-12-01 19:34] BruceZu commented on #37833
# kubectl logs  kube-dns-654381707-e5x6z
`Error from server: pods "kube-dns-654381707-e5x6z" not found`

[2016-12-01 19:35] saad-ali commented on #37843
Needs triage as blocking or non-blocking for 1.5

[2016-12-01 19:35] chrislovecnm commented on #37843
@saad-ali how can I assist with triage.  I run into some of the exact same issues with GCE and the 1.3 release.

[2016-12-01 19:37] BruceZu commented on #37833
# kubectl get deployment  --namespace=kube-system
[code]

[2016-12-01 19:37] mtaufen commented on #37101
Grid makes it look like this is GCI-specific:
[GCI-GKE](https://k8s-testgrid.appspot.com/google-gke#gci-gke-slow&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Pod%5C%20Disks%5C%20Should%5C%20schedule%5C%20a%5C%20pod%5C%20w%5C/%5C%20a%5C%20readonly%5C%20PD%5C%20on%5C%20two%5C%20hosts%5C%2C%5C%20then%5C%20remove%5C%20both%5C%20gracefully%5C.%5C%20%5C%5BSlow%5C%5D)
[GCI-GCE](http

[2016-12-01 19:37] chrislovecnm commented on #37843
Can anyone comment if we are seeing the same type of behavior on GCE?

[2016-12-01 19:38] druidsbane opened #37844 "AWS Cluster Unable to Mount PersistentVolumeClaims in Pods"
**Is this a request for help?**: No

**What keywords did you search in Kubernetes issues before filing this one?**: AWS PersistentVolumeClaim kubeadm kubectl EBS

---

**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **

[2016-12-01 19:39] rootfs commented on #37843
do we have a controller log to look?

[2016-12-01 19:39] saad-ali commented on #37101
Yep, looks like it is GCI specific.

As an aside, the artifacts are missing node and master logs making it difficult to debug (see artifacts in http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/445, for example). <-- @kubernetes/test-infra-maintainers any idea why?

Wondering if https://github.com/kubernetes/kubernetes/pull/37582 might be the cause. Though, it doesn't

[2016-12-01 19:43] BruceZu commented on #37833
[root@k8s-09 ~]# kubectl logs -c kube-dns kube-dns-654381707-e5x6z --namespace=kube-system
[code]
[root@k8s-09 ~]# kubectl logs -c healthz kube-dns-654381707-e5x6z --namespace=kube-system
2016/11/27 19:55:24 Healthz probe error: Result of last exec: nslookup: can't resolve ```
'kubernetes.default.svc.cluster.local'
, at 2016-11-27 19:55:24.738844452 +0000 UTC, error exit status 1
2016/11/27 21:15:

[2016-12-01 19:44] chrislovecnm commented on #37843
@rootfs log name?

[2016-12-01 19:45] BruceZu commented on #37833
[root@k8s-09 ~]# kubectl describe pod kube-dns-654381707-e5x6z  --namespace=kube-system
[code]
[root@k8s-09 ~]#

[2016-12-01 19:46] smarterclayton commented on #34508
If it's alpha, ignore.

On Thu, Dec 1, 2016 at 11:37 AM, Timothy St. Clair <notifications@github.com

[2016-12-01 19:47] rootfs commented on #37843
@chrislovecnm either `/var/log/kube-controller-manager.log` or if you are using systemd unit, `journalctl -u   kube-controller-manager`

[2016-12-01 19:52] chrislovecnm commented on #37843
posting logs to s3 shortly ...

[2016-12-01 19:53] chrislovecnm commented on #37843
Updated issue with the fact this is an HA install.

[2016-12-01 19:55] smarterclayton commented on #28443
Separate rules into two categories:

1. Fundamental (absence is broken)
2. Advisory (system works better with them)

We're really only talking about fundamental (all advisory by definition can
be ignored).  Your gut is that cloud LB is one small grouping of
fundamental fields, and internal have infinite variants (I would agree)?

Is a controller that rejects any ingress that has rules it doesn't
r

[2016-12-01 19:59] prg3 commented on #34698
I also have the same issue, The cluster runs nicely on 1.3.7, however upgrading to 1.4.6 causes this behaviour. It appears that the pod/node never completely releases the storage, so the attach is unable to function.

Manually releasing the volumes via Openstack and then restarting the pod often, but not always corrects this issue.

[2016-12-01 20:00] chrislovecnm commented on #37843
Logs .. http://kubernetes-bugs-logs.s3-website-us-west-2.amazonaws.com/kubernetes-issues-37843/kube-controller-manager.log.tar

Lead master controller logs.

[2016-12-01 20:02] k8s-merge-robot opened #37848 "ci-kubernetes-e2e-gci-gke-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1.5/907/

Run so broken it didn't make JUnit output!

[2016-12-01 20:08] rootfs commented on #37843
@chrislovecnm got it, which kube release you are using?

[2016-12-01 20:12] derekwaynecarr commented on #37554
@saad-ali -- its a non-recoverable error.  I think the PR for 1.5 is must have.  The users must go to etcd to actually remove the pod when this happens.

[2016-12-01 20:13] chrislovecnm commented on #37843
@rootfs - it is in the bug :)

[code]

[2016-12-01 20:15] prg3 commented on #36983
Does lsof give you any indication of what files may remain open after the pod is down?

[2016-12-01 20:16] rootfs commented on #37843
@chrislovecnm can you get kubelet logs from one or more of these nodes?

i-026cba9a
i-9f161b0c
i-f8ba92f6
i-ffba92f1

[2016-12-01 20:19] chrislovecnm commented on #37843
yah let me take a look at those logs ...

[2016-12-01 20:20] rootfs commented on #37843
@chrislovecnm you can also reach me via hchen@redhat.com

[2016-12-01 20:20] chrislovecnm commented on #37843
I would rather document this in a bug rather than email.  Do you want to talk on a zoom session?

[2016-12-01 20:21] rootfs commented on #37843
sure, send me the zoom link

[2016-12-01 20:23] chrislovecnm commented on #37843
that I will send by email :)

[2016-12-01 20:28] rootfs commented on #37843
@chrislovecnm do you see any similarity to #36269?

[2016-12-01 20:28] chrislovecnm commented on #37843
I cannot send you the kubelet logs, as they have private urls in them.  What data are you looking for @rootfs?

[2016-12-01 20:29] chrislovecnm commented on #37843
Similar, but not quite.

[2016-12-01 20:32] BaluDontu commented on #37712
@saad-ali : Can't we provide a fix for this in 1.5 release itself? There a 2 options:

1. I can provide a fix in getDeviceNameFromMount.
2. I can provide a fix to vSphere cloud provider to fix it after the call to getDeviceNameFromMount.

For option 1, we have to make sure it works for all cloud providers where as for option 2 its not needed. Let me know which option you think is feasible. I am ok

[2016-12-01 20:48] ixdy commented on #37553
Looking at the Jenkins build log for kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster/481:
[code]

IMO a far less risky change (than converting all upgrade jobs to bootstrap) would be to add a single `sudo chmod o+r` before we call `upload-to-gcs.sh` for legacy jobs.

[2016-12-01 20:54] ixdy commented on #37553
https://github.com/kubernetes/test-infra/pull/1264 for your consideration

[2016-12-01 20:58] lavalamp commented on #37361
This test is really flaky and is blocking the merge queue.

[2016-12-01 20:58] k8s-merge-robot opened #37852 "ci-kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/773/

Run so broken it didn't make JUnit output!

[2016-12-01 21:02] bprashanth opened #37853 "root cause kernel soft lockups"
We're seeing an abnormal number of soft lockups, pegged cpus and unusable nodes recently. The last repros were from @bowei and @freehan.

**Symptoms**
Kernel logs showed ebtables related traces, CPU was pegged at 100% and remained there, no ssh, basically no clarity till the node was reset. Looking back through older test logs, there are several failures that had NotReady nodes that MIGHT be the s

[2016-12-01 21:03] foxish commented on #37361
@lavalamp Prioritizing this now. It is running in more jobs because of https://github.com/kubernetes/kubernetes/pull/37412. We can revert that, fix this issue and un-revert it.

[2016-12-01 21:09] tomdee commented on #20391
@thockin sounds good. I'd need to go and check but yes, I think flannel is still installing POSTROUTING rules unilaterally.

[2016-12-01 21:25] bonovoxly opened #37854 "EBS detach fails and volume remains busy - v1.5.0-beta.2"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

- No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

- ebs
- ebs detach

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one

[2016-12-01 21:48] krousey opened #37855 "Automated upgrades should support different node images for GCE upgrades"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

Currently, the e2e framework for automated upgrade testing doesn't support specifying a node or master image. `nodeUpgradeGCE` and `masterUpgradeGCE` s

[2016-12-01 21:54] timothysc commented on #37802
Yup, I hit this too.

[2016-12-01 21:59] jlowdermilk commented on #33625
FYI, the ESIPP alpha feature tests are currently broken on the 1.5 branch. See #37768, #37769. Is that something you're looking at?

[2016-12-01 22:01] timothysc commented on #37802
Pretty much every red hatter will hit this.

[2016-12-01 22:04] ixdy commented on #34060
The gci-gce-slow leaks appear to correlate with PD e2e test failures.

I think the default-route leaks are due the janitor now cleaning up the default routes between test runs.

Not sure about the leak during upgrade.

[2016-12-01 22:10] saad-ali commented on #33882
Ack thanks for the investigation guys. Will stop tracking this for 1.5 release.

[2016-12-01 22:12] bprashanth commented on #33625
I just pick a few suites and pay attention to them, in this case the head suite and gci-1.5
https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features
https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features-release-1.5
https://k8s-testgrid.appspot.com/google-gke#gke-alpha-features

there was a leak at one point which I fixed and manually deleted resources in a bunch of projects,

[2016-12-01 22:13] bprashanth commented on #33625
we know it's a leak because the logs say
[code]
And im basically going to lookup the projet in the same logs and delete ips/bump quota.
I think test infra is working on some janitor job that auto ttls leaks.

[2016-12-01 22:17] #37175 closed

[2016-12-01 22:17] #37344 closed

[2016-12-01 22:17] #37360 closed

[2016-12-01 22:17] dakoner opened #37859 "Sort order out many kubectl commands are not stable"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

'sort output' produced pages of irrelevant bugs.
---

**Is this a BUG REPORT or FEA

[2016-12-01 22:18] saad-ali commented on #37457
The `BUG: soft lockup - CPU#0 stuck for 22s! [kubelet:12130]` issue is being tracked in issue https://github.com/kubernetes/kubernetes/issues/37853

[2016-12-01 22:18] #37519 closed

[2016-12-01 22:18] #37522 closed

[2016-12-01 22:18] #37577 closed

[2016-12-01 22:19] #37732 closed

[2016-12-01 22:22] ixdy commented on #37553
Looks like the same issue affects bootstrap'd jobs, and kubernetes/test-infra#1264 didn't address them:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1.5/90/
[code]

[2016-12-01 22:23] saad-ali commented on #33702
The `BUG: soft lockup - CPU#0 stuck for 22s! [kubelet:12130]` issue is being tracked in issue https://github.com/kubernetes/kubernetes/issues/37853

[2016-12-01 22:25] ixdy commented on #37737
Timeout. Logs missing due to https://github.com/kubernetes/kubernetes/issues/37553.

[2016-12-01 22:25] #37747 closed

[2016-12-01 22:25] #37748 closed

[2016-12-01 22:26] #37749 closed

[2016-12-01 22:26] #37751 closed

[2016-12-01 22:26] #37773 closed

[2016-12-01 22:26] bprashanth commented on #37768
Suite has been failing due to leaks since before https://github.com/kubernetes/kubernetes/pull/36608, cleaned up quota, watching test

[2016-12-01 22:26] #37795 closed

[2016-12-01 22:26] bprashanth commented on #37769
Suite has been failing due to leaks since before #36608, cleaned up quota, watching test

[2016-12-01 22:27] #27367 closed

[2016-12-01 22:28] ixdy commented on #27367
Closing because I still don't understand what this issue is requesting.

[2016-12-01 22:28] #37737 closed

[2016-12-01 22:28] #37173 closed

[2016-12-01 22:29] derekwaynecarr commented on #31362
@davidopp - we had discussed doing eviction on cpu load, but i also think the rescheduler could take on that responsibility as well... we can discuss more in resource management group.

[2016-12-01 22:57] k8s-merge-robot opened #37861 "ci-kubernetes-e2e-gci-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/910/

Run so broken it didn't make JUnit output!

[2016-12-01 23:00] saad-ali commented on #37821
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow-release-1.5/428/ hit the "soft lockup" bug: `[  706.014032] BUG: soft lockup - CPU#0 stuck for 22s! [kubelet:5697]`

Which is being tracked in issue https://github.com/kubernetes/kubernetes/issues/37853

[2016-12-01 23:02] enisoc opened #37862 "Can't list PodDisruptionBudgets after upgrade if v1alpha1 PDBs exist"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* poddisruptionbudget
* pod disruption budget
* pdb

---

**Is this a BUG REPORT or FEA

[2016-12-01 23:06] #37725 closed

[2016-12-01 23:06] #37087 closed

[2016-12-01 23:11] davidopp commented on #37862
Thanks for the thorough report, @enisoc

@caesarxuchao Do you have any thoughts on this? I guess we can tell people that they must delete all of their alpha PDB's before upgrading, but that seems sub-optimal if there's anything we can do to avoid it.

[2016-12-01 23:13] caesarxuchao commented on #37862
I think we should update PDB in https://github.com/kubernetes/kubernetes/blob/master/cluster/update-storage-objects.sh, and run this script as part of the upgrade process.

[2016-12-01 23:17] ravilr commented on #11816
@liggitt to disable anonymous-auth in kubelet, heapster and related metric clients need to be thought to talk to kubelet with auth right? Do you know, if heapster is enabled to do that. Thanks.

[2016-12-01 23:19] liggitt commented on #11816
I know heapster is capable of it, since it runs that way in openshift.  Not sure if it defaults to that in kube

[2016-12-01 23:24] BruceZu commented on #37833
Any hint and help to fix it?

[2016-12-01 23:25] huggsboson commented on #11816
At Box we've been exploiting the fact that you can bind the insecure port to 127.0.0.1 and run those utilities as daemonset with hostnetwork set to true.

[2016-12-01 23:25] timstclair commented on #11816
@ravilr in Kubernetes Heapster defaults to using the readonly port (10255), which is not authenticated. If you disable the readonly port, Heapster would need to be configured to use 10250 with the right certs (which should be possible today).

[2016-12-01 23:31] k8s-merge-robot opened #37869 "kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master/154/

Multiple broken tests:

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26509 #26834 #29780 #35355

Failed: [k8s.io] Pods should invoke init containers on a RestartAlways pod {Kubernetes

[2016-12-01 23:44] foxish commented on #37862
That script uses kubectl get, which implies that it couldn't be used as is.
We don't currently recommend a single method of doing a [cluster upgrade](http://kubernetes.io/docs/admin/cluster-management/#cluster-autoscaling).

If a script must be invoked prior to an upgrade, we should document that in the manual.
But such a script would have to either:

* manipulate etcd directly
* notify the user a

[2016-12-01 23:45] lattwood commented on #1443
Looks like IPv6 is available in Ohio now.

https://aws.amazon.com/blogs/aws/new-ipv6-support-for-ec2-instances-in-virtual-private-clouds/

[2016-12-01 23:45] davidopp commented on #37862
Yeah I was going to say exactly what @foxish said. That script just does `get` followed by `replace` but I don't understand how that will help here?

[2016-12-01 23:49] BruceZu commented on #37833
[root@k8s-08 ~]# ip addr show
[code]

The IP of this node is 10.145.101.81

[2016-12-01 23:52] davidopp commented on #37862
BTW I am fine with making a very very very prominent release note telling people they must delete their alpha PDBs before upgrade, but if there is anything else we can do to make this less painful, we should try that. At least making it possible to delete alpha PDBs after the upgrade would be good, but I don't know how much work that is.

[2016-12-01 23:56] dims commented on #37862
/me sees "release note" and pings @spiffxp !

[2016-12-02 00:02] #31983 closed

[2016-12-02 00:09] tonglil commented on #33586
I would like to present a use case for this here.

We are running in GKE, and the way to have K8s manage firewall rules is to use `loadBalancerSourceRanges`, which is only available with `type: LoadBalancer`.

However, because we want to use an Ingress resource as well, this means 2 "load balancers" (in GCP, they are just rules and targets) get created in GCP, and traffic only actually "uses" the

[2016-12-02 00:16] saad-ali commented on #37712
1 is the right answer. But we're very close to 1.5.0 release (<1 week). I'd also like whoever addresses this to ensure the entire system works end-to-end for volumes with spaces, not just patch one little corner. I'm afraid it would be a large change and we're not going to have enough time to validate it in 1.5. You can certainly start working on it. If you get a PR in time, we can consider it for

[2016-12-02 00:29] louiscryan commented on #28443
I'm not sure we can usefully have such a simplistic split between fundamental and advisory.

For example regex path matching is pretty standard in nginx but absent in ALB[1] which supports simple globs and Google[2] which only supports prefix matching with wildcards.The IngressRule is already allowing RegEx[3] (or at least the type doc is) so there's already some inherent conflict today.

Is there

[2016-12-02 00:29] k8s-merge-robot opened #37872 "ci-kubernetes-e2e-gke-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5/877/

Multiple broken tests:

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a persistent volume claim. {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34212

Failed: [k8s.io] Docker Containers should be able to override the image's default c

[2016-12-02 00:31] chandu4b4 opened #37873 "Unable to hit Pod from Master"
Hi,
I have one Master and 2 Menions.
Master IP: 192.168.20.50
Menion1: 192.168.20.51
Menion2: 192.168.20.52

I am able to run replication containers and create Services in Master. I have a problem in accessing Application container by using Master IP.

I did port forwarding from master to menion with fallowing command.

[root@master ~]# kubectl port-forward nginx :80 &
[2] 2229
[root@master ~]# I1

[2016-12-02 00:37] jsloyer commented on #37822
So if you try to use an empty `client_secret` now `kubectl` rejects it and says its a required field.  Thoughts on accepting a PR that would make it optional?

[2016-12-02 00:45] ericchiang commented on #37822
@jsloyer sure, but wouldn't that just be equivalent to setting a bearer token?

[2016-12-02 00:47] liggitt commented on #37822
it would enable the "shared public client with no client_secret" use case

[2016-12-02 00:48] ericchiang commented on #37822
@liggitt yeah just realized that.

The "old" go-oidc client is extremely opinionated about refreshing. I rewrote it recently to just use golang.org/x/oauth2 so writing tests and updating to use the new client is probably a requirement here.

@jsloyer can you open a separate issue and ask for someone to assign me?

[2016-12-02 00:49] louiscryan commented on #28443
A little more fodder for thought...

Ingress already has to deal with an ordering problem over the matching rules. This works OK today as the matches are ordered by longest-common-prefix of host & path. This implicit ordering starts to fall over if you have greater dimensionality to your matching rules. e.g. match on path and a header.

For type='internal' the composition of multiple Ingress resou

[2016-12-02 00:50] jsloyer opened #37874 "shared public client with no client_secret"
Based on the conversation in #37822, there is a need to allow to a shared public client for openid connect with no client_secret.

Kubectl will need to be updated to allow no value to be set for client_secret.  Currently kubectl requires client_secret to be set.

[2016-12-02 00:50] jsloyer commented on #37822
Opened #37874. @liggitt can you assign to @ericchiang?

[2016-12-02 00:52] ericchiang opened #37875 "kubectl oidc auth provider: client shouldn't send scopes during refreshing"
Currently kubectl sends a "scope" field with its refresh request. It guesses the scopes used or the user is allowed to provide them.

However, omitting "scope" means "default to the original authorized scopes" which is probably more useful for a vast majority of cases.

If unspecified, the client shouldn't send a "scope" field.

Relevant RFC section: https://tools.ietf.org/html/rfc6749#section-6

[2016-12-02 00:57] ericchiang opened #37876 "kubectl auth providers are repeatedly reinitialized"
When enabling the OpenID Connect auth provider we found that auth providers are initialized almost every time kubectl needs to make a new request rather than reusing the initialized transport. @mlbiam noticed this as well as it causes kubectl to become excruciatingly slow.

Will follow up with a more detailed bug report.

cc @cjcullen @jlowdermilk (don't know who else to CC)

[2016-12-02 00:57] foxish commented on #37862
From our discussions, advising direct manipulation of etcd is not an option. The other options are:

* Changes on the server-side to make this work. @caesarxuchao can comment on how much effort this might be.
* An "check-upgrade.sh" script which we advise all users to run, so as to identify potential problems prior to upgrade, which would call out and advise users to delete their PDBs.
This could

[2016-12-02 00:57] k8s-merge-robot opened #37877 "ci-kubernetes-e2e-gci-gce-slow-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow-release-1.4/445/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32684 #36278

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow]

[2016-12-02 01:00] bprashanth commented on #33586
Hmm, Ingress doesn't actually have the right source ip. The l7 lb will terminate the connection and reopen another, so the source ip on the packet hitting the node port is the ip of the gce L7, not your client.

[2016-12-02 01:13] adityakali commented on #33882
@vishh the patch in docker/docker#25523 does not apply to our docker v1.11.2 cleanly. Basically the module `pkg/ioutils/fswriters.go` itself was introduced later.

[2016-12-02 01:28] k8s-merge-robot opened #37878 "kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster/339/

Multiple broken tests:

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26509 #26834 #29780 #35355

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]
Issues about

[2016-12-02 01:28] k8s-merge-robot opened #37879 "ci-kubernetes-e2e-gci-gke-reboot-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot-release-1.5/340/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33405

Failed: [k8s.io] Reboot [Disruptive] [Fe

[2016-12-02 01:42] chrislovecnm commented on #37843
@rootfs what am I looking for in the logs btw?  I can see if I can clean them up, but I need to sterilize them.

@saad-ali who are we assigning this to?

[2016-12-02 01:43] ncdc commented on #37876
cc @liggitt @deads2k @fabianofranz

[2016-12-02 01:43] ncdc commented on #37875
cc @liggitt @deads2k

[2016-12-02 01:45] ncdc commented on #37838
@smarterclayton re `oc debug` - are we considering upstreaming that from OpenShift?

[2016-12-02 01:50] saad-ali commented on #37843
@rootfs I'll assign it to you for triage, since you're already looking at it.

[2016-12-02 01:54] quasiben opened #37881 "Unable to fetch logs with Swagger generated code"
As of commit: `c758c00b1a597f4629d9f608598452fc3b2fb81b`

**Kubernetes version** (use `1.4.3`):

**Environment**:
- **Ubuntu 16.04**:

**What happened**:
Unable to fetch logs from a pod using the spec provided by [v1.json](https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json)

**How to reproduce it** (as minimally and precisely as possible):
[code]

calling `read_namespace

[2016-12-02 02:00] saad-ali commented on #37554
Ack. Marking as release-blocking then. Will keep an eye on it. Please keep this issue updated.

[2016-12-02 02:03] #37156 closed

[2016-12-02 02:03] #37165 closed

[2016-12-02 02:03] #37168 closed

[2016-12-02 02:03] #37172 closed

[2016-12-02 02:03] #37178 closed

[2016-12-02 02:03] #37179 closed

[2016-12-02 02:03] #37204 closed

[2016-12-02 02:03] #37229 closed

[2016-12-02 02:03] #37245 closed

[2016-12-02 02:03] #37406 closed

[2016-12-02 02:03] #37430 closed

[2016-12-02 02:03] #37437 closed

[2016-12-02 02:03] #37575 closed

[2016-12-02 02:03] #37579 closed

[2016-12-02 02:03] #37581 closed

[2016-12-02 02:03] #37584 closed

[2016-12-02 02:03] #37587 closed

[2016-12-02 02:03] #37588 closed

[2016-12-02 02:03] #37599 closed

[2016-12-02 02:03] #37600 closed

[2016-12-02 02:03] #37601 closed

[2016-12-02 02:03] #37602 closed

[2016-12-02 02:03] #37631 closed

[2016-12-02 02:03] #37660 closed

[2016-12-02 02:03] #37112 closed

[2016-12-02 02:03] #37159 closed

[2016-12-02 02:03] #37162 closed

[2016-12-02 02:03] #37329 closed

[2016-12-02 02:03] #37341 closed

[2016-12-02 02:03] #37395 closed

[2016-12-02 02:03] #37425 closed

[2016-12-02 02:03] #37574 closed

[2016-12-02 02:03] #37610 closed

[2016-12-02 02:03] #37733 closed

[2016-12-02 02:03] #37736 closed

[2016-12-02 02:03] #37740 closed

[2016-12-02 02:03] #37754 closed

[2016-12-02 02:03] #37755 closed

[2016-12-02 02:03] #37756 closed

[2016-12-02 02:03] #37757 closed

[2016-12-02 02:03] #37760 closed

[2016-12-02 02:03] #37775 closed

[2016-12-02 02:03] #37782 closed

[2016-12-02 02:03] #37787 closed

[2016-12-02 02:03] #37794 closed

[2016-12-02 02:03] #37806 closed

[2016-12-02 02:03] #37816 closed

[2016-12-02 02:03] #37832 closed

[2016-12-02 02:03] #37115 closed

[2016-12-02 02:03] #37160 closed

[2016-12-02 02:03] #37161 closed

[2016-12-02 02:03] #37170 closed

[2016-12-02 02:03] #37182 closed

[2016-12-02 02:03] #37457 closed

[2016-12-02 02:03] #37590 closed

[2016-12-02 02:03] #37731 closed

[2016-12-02 02:03] #37735 closed

[2016-12-02 02:03] #37738 closed

[2016-12-02 02:03] #37746 closed

[2016-12-02 02:03] #37750 closed

[2016-12-02 02:04] #37758 closed

[2016-12-02 02:04] #37762 closed

[2016-12-02 02:04] #37763 closed

[2016-12-02 02:04] #37764 closed

[2016-12-02 02:04] #37766 closed

[2016-12-02 02:04] #37767 closed

[2016-12-02 02:04] #37768 closed

[2016-12-02 02:04] #37769 closed

[2016-12-02 02:04] #37796 closed

[2016-12-02 02:04] #37848 closed

[2016-12-02 02:04] #37852 closed

[2016-12-02 02:04] #37185 closed

[2016-12-02 02:04] #37213 closed

[2016-12-02 02:04] #37256 closed

[2016-12-02 02:04] #37339 closed

[2016-12-02 02:04] #37734 closed

[2016-12-02 02:04] #37739 closed

[2016-12-02 02:04] #37741 closed

[2016-12-02 02:04] #37742 closed

[2016-12-02 02:04] #37743 closed

[2016-12-02 02:04] #37744 closed

[2016-12-02 02:04] #37752 closed

[2016-12-02 02:04] #37753 closed

[2016-12-02 02:04] #37759 closed

[2016-12-02 02:04] #37761 closed

[2016-12-02 02:04] #37821 closed

[2016-12-02 02:04] #37861 closed

[2016-12-02 02:04] #37869 closed

[2016-12-02 02:04] #37872 closed

[2016-12-02 02:04] #37877 closed

[2016-12-02 02:04] #37878 closed

[2016-12-02 02:04] #37879 closed

[2016-12-02 02:19] k8s-merge-robot opened #37882 "ci-kubernetes-e2e-gke-serial-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial-release-1.5/92/

Run so broken it didn't make JUnit output!

[2016-12-02 02:19] k8s-merge-robot opened #37883 "kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-master/153/

Multiple broken tests:

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26509 #26834 #29780 #35355

Failed: [k8s.io] Pods should *not* be restarted with a /healthz http liveness probe [Conformanc

[2016-12-02 02:21] #33033 closed

[2016-12-02 02:25] Random-Liu commented on #37881
/cc @mbohlool

[2016-12-02 02:36] vishh commented on #33882
@adityakali Would it help if we come up with a patch for docker v1.11.2?

[2016-12-02 03:11] mkhutornenko commented on #32227
@lcrisci could you please give a few more details on what kind of tagging helped in your case? A simple example would be ideal. We are facing a similar problem where neither SGs nor ELBs are removed when a service is deleted. AFAICT, all SGs are already tagged as `key: KubernetesCluster, value: kubernetes`.

[2016-12-02 03:46] mbohlool commented on #37881
Problem is the return type of a log is not json but text. using our new [python-client](https://github.com/kubernetes-incubator/client-python), you can do this to get output of a call in text:

[code]

You can even do something like the Watch class to follow the logs. I will think of a way to support this natively in the client.

[2016-12-02 04:08] smarterclayton commented on #37838
It could be done - it depends a little bit on niceties from openshift like rsh but in general solve this problem pretty well for getting a reproducible environment.

In practice, only a few problems have been insoluble with `oc debug` and were generally related to volume mounts and not remembering to stop other pods.

[2016-12-02 04:09] smarterclayton commented on #37838
oc debug doesn't help if you don't have a shell in your image, but could easily add that.

[2016-12-02 04:19] mkhutornenko commented on #32227
Actually, it was rather unusual AWS glitch in our case. It took a few hours for the SGs and ELBs to disappear but they were gone after all.

[2016-12-02 04:46] resouer commented on #37657
@jingxu97 Encountered this when using Cinder plugin. But I can see reconciler tried twice to `TearDown` the volume, while the second trail will fail due to directory has been removed. I am not quite sure why the second  `TearDown` occurs, because the first one has report success.

[2016-12-02 06:14] k8s-merge-robot opened #37889 "kubernetes-e2e-gce-1.4-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-1.4-1.5-upgrade-cluster/74/

Multiple broken tests:

Failed: [k8s.io] Addon update should propagate add-on file changes [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #35600

Failed: UpgradeTest {e2e.go}

[code]
Issues about this test specifically: #37745

Failed: DiffResources {e2e.go}

[2016-12-02 06:14] k8s-merge-robot opened #37890 "kubernetes-e2e-gce-1.4-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-1.4-1.5-upgrade-cluster-new/67/

Multiple broken tests:

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26134

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34

[2016-12-02 06:14] k8s-merge-robot opened #37891 "ci-kubernetes-e2e-kops-aws: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/157/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]
Issues about this test specifically: #33722 #37578

Failed: TearDown {e2e.go}

[code]
Issues about this test specifically: #34118 #34795 #37058

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should provide basic i

[2016-12-02 06:14] k8s-merge-robot opened #37892 "ci-kubernetes-e2e-gce-federation-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation-release-1.5/171/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37893 "ci-kubernetes-e2e-gce-reboot-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-reboot-release-1.5/670/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37894 "ci-kubernetes-e2e-gce-serial-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial-release-1.5/98/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37895 "ci-kubernetes-e2e-gci-gke-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1.5/929/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37896 "ci-kubernetes-e2e-gke-reboot-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-reboot-release-1.5/347/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37897 "ci-kubernetes-e2e-kops-aws-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-updown/233/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37898 "ci-kubernetes-soak-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gke-test/145/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37899 "kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new/420/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37900 "kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster-new/423/

Run so broken it didn't make JUnit output!

[2016-12-02 06:14] k8s-merge-robot opened #37901 "kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster/481/

Run so broken it didn't make JUnit output!

[2016-12-02 06:18] k8s-merge-robot opened #37902 "kubernetes-e2e-gce-1.4-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-1.4-1.5-upgrade-master/76/

Multiple broken tests:

Failed: [k8s.io] Deployment overlapping deployment should not fight with each other {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31502 #32947

Failed: [k8s.io] ScheduledJob should schedule multiple jobs concurrently {Kubernetes e2e suite}

[2016-12-02 06:18] k8s-merge-robot opened #37903 "ci-kubernetes-e2e-gce-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-release-1.5/824/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run deployment should create a deployment from an image [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27532 #34567

Failed: [k8s.io] Deployment scaled rollout deployment should not bloc

[2016-12-02 06:18] k8s-merge-robot opened #37904 "kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-cluster/382/

Multiple broken tests:

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]
Issues about th

[2016-12-02 06:18] foxish commented on #37361
This is a GCI issue.
It appears this was fixed by https://github.com/kubernetes/kubernetes/pull/37847
Moving to close this.

[2016-12-02 06:18] #37361 closed

[2016-12-02 06:18] k8s-merge-robot opened #37905 "kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-gci-1.5-upgrade-master/120/

Multiple broken tests:

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26509 #26834 #29780 #35355

Failed: [k8s.io] Pods should not start app containers if init containers fail on a Res

[2016-12-02 06:18] k8s-merge-robot opened #37906 "kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster/403/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28523 #35741 #37820

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular

[2016-12-02 06:18] k8s-merge-robot opened #37907 "kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-master/130/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27233 #36204

Failed: [k8s.io] Deployment overlapping deployment should not fi

[2016-12-02 06:18] k8s-merge-robot opened #37908 "kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-master/117/

Multiple broken tests:

Failed: [k8s.io] V1Job should fail a job [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37427

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e

[2016-12-02 06:18] k8s-merge-robot opened #37909 "kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-master/174/

Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585 #37177

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an ex

[2016-12-02 06:18] k8s-merge-robot opened #37910 "kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-cluster/538/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27233 #36204

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is schedule

[2016-12-02 06:18] k8s-merge-robot opened #37911 "kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-gci-1.5-upgrade-master/147/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29816 #30018 #33974

Failed: [k8s.io] Kubect

[2016-12-02 06:18] k8s-merge-robot opened #37912 "kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.5-1.4-cvm-kubectl-skew/1316/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28437 #29084 #29256 #29397 #36671

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl ex

[2016-12-02 06:19] k8s-merge-robot opened #37913 "ci-kubernetes-e2e-gci-gke-serial-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial-release-1.5/89/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAffinity and PodAntiAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource u

[2016-12-02 06:19] k8s-merge-robot opened #37914 "[k8s.io] Probing container should *not* be restarted with a exec "cat /tmp/health" liveness probe [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging/51/

Failed: [k8s.io] Probing container should *not* be restarted with a exec "cat /tmp/health" liveness probe [Conformance] {Kubernetes e2e suite}

[code]

[2016-12-02 06:19] k8s-merge-robot opened #37915 "ci-kubernetes-e2e-gci-gke-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/346/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33405

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot

[2016-12-02 06:19] k8s-merge-robot opened #37916 "ci-kubernetes-e2e-gci-gke-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot-release-1.4/337/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33882 #35316

Failed: [k8s.io] Reboot [Disruptive] [Feature:Re

[2016-12-02 06:32] k8s-merge-robot opened #37917 "kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-master/123/

Multiple broken tests:

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28773 #29506 #30699 #32734 #34585 #37177

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply

[2016-12-02 06:33] k8s-merge-robot opened #37918 "kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-master/155/

Multiple broken tests:

Failed: [k8s.io] Pods should invoke init containers on a RestartAlways pod {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recr

[2016-12-02 06:33] k8s-merge-robot opened #37919 "[k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should provide basic identity {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/794/

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should provide basic identity {Kubernetes e2e suite}

[code]

Previous issues for this test: #37361

[2016-12-02 06:46] k8s-merge-robot opened #37921 "ci-kubernetes-e2e-gci-gce-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.4/617/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33874

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] eac

[2016-12-02 06:54] DjangoPeng opened #37922 "[Installation Failure] Mirror unavailable when yum install"
OS: redhat 7.2
I followed the tutorials in [kubernetes.io](http://kubernetes.io/docs/getting-started-guides/kubeadm/), but failed when yum install.

[code]

After create `kubernetes.repo`, I get the info as below when I try `yum update` :

[code]

I'm not sure whether the mirrors are missing, could you give me some suggestions?

[2016-12-02 07:13] k8s-merge-robot opened #37923 "ci-kubernetes-e2e-gce-etcd3: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/2214/

Multiple broken tests:

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality should provide basic identity {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37361 #37919

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test

[2016-12-02 07:26] k8s-merge-robot opened #37924 "kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster/595/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28523 #35741 #37820

Failed: [k8s.io] SchedulerPredicates [Serial] va

[2016-12-02 07:33] thockin commented on #20391
Should we plan a slack meeting or hangout or something maybe next week or
week after?

On Thu, Dec 1, 2016 at 1:10 PM, Tom Denham <notifications@github.com> wrote:

[2016-12-02 07:48] wojtek-t commented on #37862
@lavalamp

It seems that no matter what decision we will make, user will need to take some actions (no matter if that will be deleting PDBs before upgrade or running some script or something else).
That said if he/she needs to do something anyway, and if https://github.com/kubernetes/kubernetes/blob/master/cluster/update-storage-objects.sh works (and I really think it should as we are testing is i

[2016-12-02 07:51] davidopp commented on #37862
@wojtek-t I don't think update-storage-objects.sh will work for this situation. It won't do the right thing if you run it before upgrade nor after upgrade.

[2016-12-02 07:52] wojtek-t commented on #37862
Aaah ok, right. The problem here is that we remove v1alpha1 (which is not what we are usually doing).

[2016-12-02 07:53] k8s-merge-robot opened #37925 "kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster/340/

Multiple broken tests:

Failed: [k8s.io] V1Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27704 #30127 #30602 #31070 #34383

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]
Issues about this test specifi

[2016-12-02 07:53] k8s-merge-robot opened #37926 "ci-kubernetes-e2e-gke-slow-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-slow-release-1.5/466/

Multiple broken tests:

Failed: [k8s.io] Services should be able to change the type and ports of a service [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26134

Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Ku

[2016-12-02 07:57] vishh commented on #33882
@adityakali They cherry-pick is pretty straight forward, even though there is a conflict. `pkg/ioutils/fswriters.go` is just a utility file and adding that file should not cause any other issues.

[2016-12-02 07:59] wojtek-t commented on #37792
Hmm - this test failed again after your workaround has been merged:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/3

So it's still not fixed.

[2016-12-02 08:17] caesarxuchao commented on #37862
The issue blocked us to enable both v1alph1 and v1beta1 was https://github.com/kubernetes/kubernetes/issues/35792. I don't know if there are more potential problems. On the bright side, the batch group has two versions enabled and works fine, so perhaps it's a low-hanging fruit.

[2016-12-02 08:17] ixdy commented on #37553
Oh, https://github.com/kubernetes/test-infra/pull/1247 doesn't work because we check out the kubernetes tarball inside the container, so `cluster/log-dump.sh` isn't going to exist after timeout. Looks like we really do need https://github.com/kubernetes/test-infra/pull/1270.

[2016-12-02 08:20] k8s-merge-robot opened #37928 "kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster/361/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should reuse nodePort when apply to an existing SVC {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28523 #35741 #37820

Failed: [k8s.io] Job should fail a job

[2016-12-02 08:34] k8s-merge-robot opened #37930 "ci-kubernetes-e2e-gci-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/863/

Run so broken it didn't make JUnit output!

[2016-12-02 08:48] k8s-merge-robot opened #37931 "ci-kubernetes-e2e-gke-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/140/

Run so broken it didn't make JUnit output!

[2016-12-02 08:55] JackTiger commented on #34321
Hi，@Bashton-MattBuckland It seems like that there is some problem in kube-proxy iptables rules.

[code]

In the code above, I find that the probability is not equal, and the total of the probability is above 1. For example:

I have 5 pod in one server, and I use the command iptables-save to see the chain of the iptables, the result is as below:

[code]

I find the probability is 1/5, 1/4, 1/3, 1/2

[2016-12-02 09:00] #37802 closed

[2016-12-02 09:03] JackTiger opened #37932 "kube-proxy iptables load-balancing probability is not equal"
Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.7", GitCommit:"a2cba278cba1f6881bb0a7704d9cac6fca6ed435", GitTreeState:"clean", BuildDate:"2016-09-12T23:15:30Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.7", GitCommit:"a2cba278cba1f6881bb0a7704d9cac6fc

[2016-12-02 09:27] Bashton-MattBuckland commented on #34321
Hi @JackTiger. This was exactly how I read the rules to begin with, but if you look closely you'll see that the probabilities need to be like that in order to match each target equally. Because the rules are evaluated sequentially for every tcp syn packet, and because you have 5 targets, the first one must match with a probability of 1/5 (0.2). Then think about the probability of matching the next

[2016-12-02 09:27] k8s-merge-robot opened #37935 "[k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work from pods [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features-release-1.5/317/

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should work from pods [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

[2016-12-02 09:27] k8s-merge-robot opened #37936 "kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster-new/429/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26982 #32214 #33994 #34035 #35399

Failed: [k8s.io] Service

[2016-12-02 09:27] k8s-merge-robot opened #37937 "ci-kubernetes-e2e-gci-gke-reboot-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot-release-1.5/348/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34123 #35398

Failed: [k8s.io] Reboot [Disruptive] [Feature:Re

[2016-12-02 10:11] kad commented on #37146
isn't it related to #37396 if all traffic SNAT'ed ?

[2016-12-02 10:13] k8s-merge-robot opened #37940 "ci-kubernetes-e2e-gke-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-release-1.5/902/

Run so broken it didn't make JUnit output!

[2016-12-02 10:17] #37605 closed

[2016-12-02 11:05] vishh commented on #33882
@mtaufen as for https://github.com/kubernetes/kubernetes/issues/33882#issuecomment-264325721, serial console says that the node was initialized successfully.
<details>
[[32m  OK  [0m] Started Google Compute Engine user startup scripts.
[    4.518309] cloud-init[623]: Cloud-init v. 0.7.6 running 'init-local' at Thu, 01 Dec 2016 22:50:59 +0000. Up 4.48 seconds.
[[32m  OK  [0m] Started Initial cl

[2016-12-02 11:09] k8s-merge-robot opened #37942 "ci-kubernetes-soak-gce-1.5-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-1.5-test/57/

Run so broken it didn't make JUnit output!

[2016-12-02 11:10] sandys commented on #37146
@sajal +1.
real client-ip is super critical for us. IP based affinity is not that critical to us, since our services can look up session ids anywhere.

But would love to know what you come up with.

Incidentally, are you doing kube-dns based service discovery or are you using nodeport and registering them in load balancer?

[2016-12-02 12:52] k8s-merge-robot opened #37947 "ci-kubernetes-e2e-gci-gke-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1.4/988/

Run so broken it didn't make JUnit output!

[2016-12-02 13:15] dims commented on #37058
Looks bad!  https://k8s-testgrid.appspot.com/google-aws#kops-aws&width=20&include-filter-by-regex=%5EOverall%24%7CUp

[2016-12-02 13:16] dims commented on #37058
@zmerlynn @gmarek @wojtek-t @deads2k : do we really want to jeopardize 1.5 release with this blocking job?

[2016-12-02 13:16] dims commented on #37058
cc @saad-ali

[2016-12-02 13:20] resouer commented on #37657
@jingxu97, here's some deep dive of my case:

1. reconciler decides to do UnmountVolume
2. unmount tasks are generated continually by every iterate, but all of them are considered invalid except the first one becomes running
3. the last task is generating
4. the valid unmount task succeed
5. the last task begin to run, but because the running task with same name has succeed, it is treated as valid

[2016-12-02 13:22] dims commented on #37058
Dear @k8s-oncall Can you please mark this job as non-blocking? Until we get 1.5 release out? (you can do the same as was done a couple of days ago - https://github.com/kubernetes/contrib/pull/2093)

[2016-12-02 13:22] k8s-merge-robot opened #37948 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow-release-1.4/461/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for node-Service: http {Kubernetes e2e suite}

[code]

Previous issues for this test: #32684 #36278

[2016-12-02 13:26] mlbiam commented on #37876
@ericchiang to be fair the only place I saw performance issues was on a
raspberry pi, on a vm or my workstation its not noticeable

[2016-12-02 13:41] sajal commented on #37146
@sandys Just did a PoC today where I was able to get real client ip and afinity. But I have no idea if im doing a hacky fragile work-around or proper way. The trick is to use `hostNetwork` - which bypasses SNAT/kube-proxy/whatever .

What I did.

Setup a cluster using the [tutorial by CoreOS](https://coreos.com/kubernetes/docs/latest/getting-started.html) version `v1.4.4_coreos.0`. Not using Calic

[2016-12-02 13:43] kiall commented on #33128
PR for this has merged.

[2016-12-02 13:43] #33128 closed

[2016-12-02 13:44] #37586 closed

[2016-12-02 14:01] k8s-merge-robot opened #37949 "kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster-new/176/

Run so broken it didn't make JUnit output!

[2016-12-02 14:04] mootezbessifi commented on #37352
Hi @MrHohn,
putting rc.yaml and svc.yaml under  /etc/kubernetes/addons/dns/ was not a solution because they were both there before you propose to me the two fixes.
I don't think also that the problem comes from kubernetes version because the official ansible repo was published with 1.2.X version.
thank you very much for your great effort.
@eparis @ingvagabund  your support please.This may be a bug

[2016-12-02 14:11] sandys commented on #37146
@sajal This was awesome! I just tried it.

what about trying this without using ingress. you can run kube-dns and create Cluster-IP for each Service and route the load balancer (I dont know what load balancer you are using) to the Cluster IP directly ?

have you tried this ? IMHO unless you have new Services popping up (not pod creation/scaling... but completely new Services being defined and popp

[2016-12-02 14:12] pacuna commented on #34447
so this issue is still present in v1.4.6? This is the commit for my version e569a27d02001e343cb68086bc06d47804f62af6

[2016-12-02 14:13] ramukima commented on #31071
@madhusudancs - I am very new to how Kubernetes Federation control is supposed to work. Is it possible for me to setup federation for the following scenario :

1. I have three Kubernetes Clusters using kubeadm on Ubuntu.
2. I want to setup federation control plane on one of these machines and the remaining two cluster would join the federation control.

What additional things I need in order to ha

[2016-12-02 14:22] jakub-d commented on #34447
@pacuna, yes - it is still present there. My fix was merged to 1.4 yesterday. You should wait for the next 1.4.x release.

[2016-12-02 14:27] sajal commented on #37146
I only tried 2 methods. service-loadbalancer which just tries to map all services, i guess it was created before Ingress was a thing, and the nginx ingress example. Both these methods use the kubernetes API to figure out which pods belong to a service and then direct traffic directly to the pods (i.e. use service for pod discovery but not use it for sending traffic eliminating one redundant hop).

[2016-12-02 14:27] k8s-merge-robot opened #37950 "kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-gci-1.5-upgrade-cluster-new/162/

Multiple broken tests:

Failed: [k8s.io] EmptyDir volumes should support (root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36183

Failed: [k8s.io] Downward API volume should set DefaultMode on files [Conformance] {

[2016-12-02 14:27] k8s-merge-robot opened #37951 "ci-kubernetes-e2e-gci-gke-prod-smoke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/1230/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for intra-pod communication: udp [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32830

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should fun

[2016-12-02 14:27] k8s-merge-robot opened #37952 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-slow-release-1.5/456/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28010 #28427 #33997

[2016-12-02 14:29] humblec commented on #37060
@saad-ali thansk for your comment! I completely agree on the usability question. Also see the `accessmodes` checks are only enforced while binding `pv->pvc`. What  I thought with this patch is that https://github.com/humblec/kubernetes/commit/3a89712553d8039a4c240ff51da074c882d2598a is that ,  the plugin do a `Readonly` mount based on the volume spec https://github.com/kubernetes/kubernetes/blob/m

[2016-12-02 14:32] sandys commented on #37146
@sajal not entirely true. you can work with SessionAffinity (http://kubernetes.io/docs/user-guide/services/). I have an inkling the kube-dns and SessionAffinity will be better performing.

[2016-12-02 14:36] pacuna commented on #34447
@jakub-d thanks!

[2016-12-02 14:41] rootfs commented on #37843
@chrislovecnm have you tried 1.5.beta.2 ?

[2016-12-02 14:55] liggitt commented on #16779
agree it could be an improvement, not sure it's a *huge* win if you have authorization in place, though

either way, opened https://github.com/kubernetes/kubernetes/pull/37953 as a possible implementation

[2016-12-02 15:10] mtaufen commented on #27980
@vishh as I am able to recall after digging through my notes, our discussion a few months ago focused on rollouts/rollbacks along these lines:
- Have a controller roll out config by annotating nodes
- Track Kubelet restarts over a period of time, if these exceed a (TBD) threshold, revert to the previous config
- Perhaps add something like a "LastRestartReason" to the Kubelet and track this as well

[2016-12-02 15:13] dims commented on #36054
Ack @gmarek

[2016-12-02 15:29] #34067 closed

[2016-12-02 15:33] mlbiam commented on #37822
@liggitt <https://github.com/liggitt> shouldn't that be up to the deployer
and the idp?

Not if claiming to use the OIDC standard

My first thought was for ouath2 not oidc but I looked back at the core doc
and while the authorization flow shouldn't expose the access token to the
user agent the hybrid flow, which is what I'd argue is what k8s is using,
makes no such requirement. The table in the au

[2016-12-02 15:34] sajal commented on #37146
@sandys yeah but the client IP visible to the service is the internal NAT's ip belonging to the load balancer and not the real external client IP. Doing SessionAffinity based on loadbalancer's IP is pointless IMHO. This affinity is targeted towards internal consumers.

The services work at L4 and can't peak into `X-Forwarded-For` header.

[2016-12-02 15:37] sandys commented on #37146
@sajal that is a super-useful comment ! You should really file a bug that allows session-affinity to be set based on clientip or a particular header. Makes total sense. You would not need to do the hostnetwork hack then.

you have my +1 for it.

[2016-12-02 15:44] brandoncole commented on #21317
A colleague just pointed this out to me, big change in previous policy.  Could we get http://kubernetes.io/docs/user-guide/downward-api/ updated with this feature so it's more discoverable?

[code]

[2016-12-02 15:45] soltysh commented on #34447
@pacuna @jakub-d which according to [yesterday's community meeting](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/muNCWWxaPiI/03ZOKMwICwAJ) should happen Dec 8th.

[2016-12-02 15:49] sandys commented on #37146
@sajal alternatively you can use nginx real-ip module or proxy protocol (https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#proxy-protocol) to enable this.

Probably that will be much simpler

[2016-12-02 15:53] k8s-merge-robot opened #37954 "kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.4-container_vm-1.5-upgrade-cluster/510/

Run so broken it didn't make JUnit output!

[2016-12-02 15:57] #37899 closed

[2016-12-02 16:02] #36851 closed

[2016-12-02 16:21] kargakis opened #37955 "Deployments and the rolling updater should ignore terminating pods"
From a user report:

Description of problem:
Rolling update does not perform as it described in documentation.

1. It was discovered that system does not wait for pod to terminate. as a result update finishes with less active pods then required.
When pods take long time to terminate rolling update scenario finished with this:

NAME           READY     STATUS        RESTARTS   AGE
pret-1-build   0/

[2016-12-02 16:23] tonglil commented on #33586
Let me do some testing and get back to you. Maybe I've got this wrong. Thanks.

[2016-12-02 16:25] kargakis commented on #35036
Opened https://github.com/kubernetes/community/issues/135

[2016-12-02 16:25] #35036 closed

[2016-12-02 16:29] philips commented on #37876
@mlbiam the roundtrips caused by this can be excruciating if you are dealing with a remote Kubernetes cluster somewhere on the internet.

[2016-12-02 16:38] k8s-merge-robot opened #37956 "ci-kubernetes-e2e-gce-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/101/

Run so broken it didn't make JUnit output!

[2016-12-02 16:40] peay opened #37957 "Scheduledjob stays blocked in ACTIVE when job is deleted"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`scheduledjob`, `cron`, `active`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2016-12-02 16:41] liggitt commented on #37876
is this the transport to kube or the transport to the oidc provider? kube transports build using [Transport#New](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/transport/transport.go#L29) should only build once per process for the same TLS options

[2016-12-02 16:41] peay commented on #37957
cc @soltysh since you seem to be working on scheduledjobs (now cronjob) a lot.

I am happy to prepare a quick MR for this if we can agree that this is desired behavior?

[2016-12-02 16:46] timothysc commented on #33935
I'm going to close this issue now that we've addressed a number of them and rally on #37104 to coordinate with others.

[2016-12-02 16:46] #33935 closed

[2016-12-02 16:47] liggitt commented on #37876
or is the issue that newOIDCAuthProvider (and therefore oidc.FetchProviderConfig) is called repeatedly and is rebuilding the oidc client repeatedly?

[2016-12-02 16:58] sajal commented on #37146
@sandys Doing it at service level is a bad idea IMHO. I believe currently kube-proxy just sets iptables rules and lets kernel do the NAT ... to look at headers and then route it you would need to do it within pods, not within kube-proxy...

I did consider using proxy protocol, one pod with hostNetwork uses proxy protocol to send traffic inside and then i apply affinity based on real-ip, but why no

[2016-12-02 17:02] k8s-merge-robot opened #37960 "ci-kubernetes-e2e-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/220/

Run so broken it didn't make JUnit output!

[2016-12-02 17:05] sttts opened #37961 "Mesos cloudprovider unit test fails locally"
When running `make test`, the mesos cloudprovider tests fail:

[code]

[2016-12-02 17:10] burnyd commented on #36575
Has anyone fixed this issue?  I tried to join the cluster using the network-cidr= and still receiving the following when I inspect the kube-dns pod

 1m		0s		106	{kubelet ubuntu-kub-1}			Warning		FailedSync	Error syncing pod, skipping: failed to "SetupNetwork" for "kube-dns-654381707-b3phy_kube-system" with SetupNetworkError: "Failed to setup network for pod \"kube-dns-654381707-b3phy_kube-system(

[2016-12-02 17:13] dchen1107 commented on #23397
Known issue of docker 1.11.X: https://github.com/kubernetes/kubernetes/issues/33882#issuecomment-264075001 by @mtaufen

This is theorized to be the fix in Docker: docker/docker#25523
That fix goes in with Docker 1.13.0.

[2016-12-02 17:21] DreadPirateShawn commented on #34265
Apologies for the delay, thought I replied.

We do have a loadbalancer in front of the apiservers, we use haproxy.

My mention of "active apiserver" was probably flawed. I was thinking of the logs from the podmaster on the same master node, which say "key already exists, we are the master" -- but looking again, I realize that only applies to the scheduler and controller manager. The apiserver is s

[2016-12-02 17:26] ericchiang commented on #37876
This one (code[0] for those interested). The only place I could find this called is when the client converts a kubeconfig into a transport config[1] which seems to imply that kubectl is constantly recreating transport configs. If there's a cache then kubectl might still be reusing connections and this issue might be limited to auth providers.

[0] https://github.com/kubernetes/kubernetes/blob/v1.4

[2016-12-02 17:33] timothysc commented on #37104
multiple assignee's here, signing jay and me up for 1.6.

[2016-12-02 17:43] piosz commented on #37104
Thanks! Once something is fixed please mark this in the issue description.

[2016-12-02 17:45] andrewsykim opened #37962 "Kubelet doesn't retry if failed to get ECR auth token"
---
AWS has a rate limit of 1 ECR auth token per second per account. For kubernetes cluster with many nodes and using ECR as its primary registry its not unlikely for the kubelet to get throttled.
[code]
After digging through some of the code in the [aws_credentials.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/aws/aws_credentials.go)  (and please correct me if I'

[2016-12-02 17:45] dashpole commented on #37118
The advantages of this change are as follows:

Simplicity:  As it currently stands, #37119 eliminates the need for ~250 lines of code that deals with the status manager keeping a cache of statuses.
Intuitive Design:  Having a single component that stores the state of a pod means that other components don't need to care about **which** status they need to fetch or update, since they both reference

[2016-12-02 17:49] kargakis commented on #29735
@smarterclayton so my understanding is that the migration of old replica sets will happen during the normal operation of the cluster, is that correct? We can migrate all replica sets with zero replicas in the background, and migrate running sets once a new rollout happens. We may not even need a separate queue. I am still not sure if we can notify admins somehow when all existing deployments have

[2016-12-02 17:51] k8s-merge-robot opened #37964 "[k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should handle updates to source ip annotation [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-alpha-features-release-1.5/244/

Failed: [k8s.io] ESIPP [Slow][Feature:ExternalTrafficLocalOnly] should handle updates to source ip annotation [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

Previous issues for this test: #35225 #35347

[2016-12-02 17:57] lavalamp commented on #37058
@dims neither aws nor kops-aws seems to be blocking right now?

[2016-12-02 17:59] sandys commented on #37146
@sajal - so you're conflating two things that I said. Let me elaborate.

Proxy Protocol - you can feed in the proxy protocol to your ingress. I
think the latest master of ingress supports proxy/L4 routing and SSL
passthrough. You will not have to resort to the hostnetwork and CIDR stuff
that you are doing.

Service proxy vs ingress - I agree a lot with what you are saying. I had a
conversation wit

[2016-12-02 18:02] enisoc commented on #37585
This seems to be fixed on master. I retried the upgrade, this time from `v1.4.6` to `v1.6.0-alpha.0.1228+2212c421f6e10e` (ci/latest). All pods that didn't get deleted progressed through ContainerCreating into Running this time.

There was one pod that got deleted and then after my controller recreated it on a different node, it got stuck in ContainerCreating with the messsage:

[code]

I checked C

[2016-12-02 18:18] juanvallejo opened #37965 "PROPOSAL: Subcommand for easier editing of configmap keys"
Using `kubectl edit` is not always ideal for updating the contents of `ConfigMap` object fields. If a field's value is too large, it can be non-intuitive from a user's perspective to replace such value with a file's contents, for example.

This proposal suggests the creation of a `new method for updating a single field in a config map`.

This could  be done either through a new sub-command:
- `kub

[2016-12-02 18:21] verb commented on #37838
The problem I want to solve in #27140 is debugging an application in situ, but it sounds like `oc debug` makes a copy of a pod. At the risk of generalizing, it sounds like `oc debug` is excellent for troubleshooting pod config but not application level troubleshooting.

There's clearly overlap here, though, and I wonder if we couldn't support both use cases.

[2016-12-02 18:37] bonovoxly commented on #37854
I've been repeatedly testing this one.  This might be a case of if there is a non-Kubernetes managed EBS volume mounted to the instance, it can cause issues. I have been testing with all the workers having ONLY a root volume (no `/mnt/ebs` as mentioned in the original issue).

Will continue to test.

[2016-12-02 18:51] jingxu97 commented on #37585
Hi @enisoc thanks a lot for trying out the fix. About the 8 min delay, could you please share your kube-controller-manager log so that we can check it? Thanks!

[2016-12-02 18:51] krzyzacy commented on #37157
/close

hummm I just see the index is -1

[2016-12-02 18:51] #37157 closed

[2016-12-02 18:52] BruceZu commented on #37833
Any help?

[2016-12-02 18:54] verb commented on #37838
Playing around with it a bit, it looks like adding a container could be some help in troubleshooting pod configuration/startup issues by adding a container to a pod in CrashLoopBackOff pod, for example:

[code]

Obviously we'd want a more user-friendly experience that `kubectl patch` (covered in #27140) and this is only useful if we do something useful with volumes-from/cross-container mounts (#83

[2016-12-02 18:55] madhusudancs commented on #31071
@ramukima

Assuming you meant "one of these clusters" instead of "one of these machines", yes it is possible to setup Federation on this setup. And that's the regular workflow now.

Do you have a local kubeconfig file, i.e. $HOME/.kube/config from where you are running these commands? If you don't, you will need one. See the documentation for [`kubectl config set-context`](http://kubernetes.io/doc

[2016-12-02 19:03] k8s-merge-robot opened #37969 "ci-kubernetes-e2e-gce-scalability-release-1.5: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability-release-1.5/48/

Run so broken it didn't make JUnit output!

[2016-12-02 19:04] k8s-merge-robot opened #37970 "ci-kubernetes-e2e-gci-gke-updown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-updown/1614/

Run so broken it didn't make JUnit output!

[2016-12-02 19:07] smarterclayton commented on #37965
What use cases beyond config map and secrets would apply?

On Fri, Dec 2, 2016 at 1:18 PM, Juan Vallejo <notifications@github.com>
wrote:

[2016-12-02 19:09] k8s-merge-robot opened #37971 "kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-container_vm-1.5-upgrade-cluster-new/428/

Multiple broken tests:

Failed: [k8s.io] ConfigMap should be consumable in multiple volumes in the same pod [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37515

Failed: [k8s.io] ConfigMap should be consumable from pods in volume

[2016-12-02 19:13] saad-ali commented on #36895
@zmerlynn @kubernetes/test-infra-admins Any idea why https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws-release-1.5 went red and how to fix it?

[2016-12-02 19:14] juanvallejo commented on #37965
@smarterclayton it would only be config maps and secrets for now. This stemmed out of this bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1396435

[2016-12-02 19:17] fejta commented on #36895
If you click the `Load build log` button it will show this interesting line:

`W1202 06:32:47.245] An error occurred (RequestLimitExceeded) when calling the DescribeVpcs operation (reached max retries: 4): Request limit exceeded.`

I do not know what this means nor how to resolve it though.

[2016-12-02 19:22] smarterclayton commented on #37838
I don't want to get people's hopes up - letting containers be mutable is a pretty big decision and it's unlikely to happen anytime in the next few releases.  If this is important, it's probably better to work with the existing API rather than proposing changes that are almost certainly going to lack review bandwidth to make them happen (review bandwidth is precious for existing problems).

[2016-12-02 19:23] vincipdx commented on #36575
Are you using flannel  and specifying --pod-network-cidr= flag to kubeadm or some other CNI add-on?

[2016-12-02 19:24] k8s-merge-robot opened #37974 "DumpClusterLogs {e2e.go} Broken on GKE"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/1075/

Failed: DumpClusterLogs {e2e.go}

[code]

Previous issues for this test: #33722 #37578

[2016-12-02 19:24] adam-power commented on #29177
I'm experiencing this same issue, but with ABAC rather than RBAC.  Was there ever a definitive solution to this problem?  Here is the output of my kubedns logs:

[code]

And here's what my ABAC file looks like:
[code]

As you can see, I've tried a few different combinations in there.

I'm also using a basic auth file and certificates, both of those methods seem to be working fine.  However I can't

[2016-12-02 19:25] k8s-merge-robot opened #37975 "ci-kubernetes-e2e-gci-gce-reboot-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.5/684/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33405

Failed: [k8s.io] Reboot [Disruptive] [Fe

[2016-12-02 19:25] euank commented on #33192
Can you capture the output of `mount` and `sudo rkt list` on an impacted node?

This could be related to https://github.com/coreos/bugs/issues/1612, whereby a crashlooping fly pod (such as flanneld or kubelet) is not gc'd quickly enough and creates a large number of mounts.

The change fixing that was included in CoreOS version 1214.0.0, so the versions mentioned above would be impacted if `flanne

[2016-12-02 19:29] krousey commented on #35741
@pwittrock Hey, the nature of this flake has changed to where it's no longer because of api server 500s. Something seems to have changed about the spec file it's using. This is also failing in the 1.5 upgrade tests consistently. Could you please take a look or hand off to someone who can?

[2016-12-02 19:29] fejta commented on #37553
Please leave this closed and send additional comments/feedback to https://github.com/kubernetes/test-infra/issues/1250

[2016-12-02 19:29] #37553 closed

[2016-12-02 19:38] rkouj commented on #37585
The cherry pick PR is out and should be merged soon ~O(hours).
https://github.com/kubernetes/kubernetes/pull/37973

@enisoc Would it make sense to create a separate issue for the 8 min delay ? This would help keeping things separate and I can close this. Also, is that issue a release blocker ?

[2016-12-02 19:44] fabianofranz commented on #37965
@kubernetes/kubectl

[2016-12-02 19:45] enisoc commented on #37585
@jingxu97 @rkouj Unfortunately I had torn down the cluster and didn't save the logs. I will try again and create a separate issue if I encounter the delay due to "already being used" again. It's not a release blocker for my use case (checking that PetSet->StatefulSet upgrades work) because it resolved itself, but others may consider the delay important. We can discuss on the separate issue if I'm

[2016-12-02 19:50] rkouj commented on #37585
Thanks for letting us know!

[2016-12-02 19:52] krousey commented on #35355
This is now failing in the upgrade tests. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster/405

[code]

cc @janetkuo @kargakis

[2016-12-02 19:57] freehan opened #37979 "kube-proxy nodeport opennings fail silently"
When kube-proxy fails to open a nodeport, it gives up setting up the rest of the iptables rules for the service. https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/proxy/iptables/proxier.go#L1105
Leaving the service not usable. Cannot even use it with clusterIP. Kube-proxy only logs this error in `kube-proxy.log`. No useful information can be retrieved with kubectl.

Need to record a ev

[2016-12-02 19:57] janetkuo commented on #35355
It has been consistently failing https://k8s-testgrid.appspot.com/google-1.3-1.5-upgrade#gke-gci-1.3-gci-1.5-upgrade-cluster

[2016-12-02 19:59] k8s-merge-robot opened #37980 "kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster-new/423/

Run so broken it didn't make JUnit output!

[2016-12-02 19:59] k8s-merge-robot opened #37981 "kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.4-container_vm-1.5-upgrade-cluster-new/172/

Run so broken it didn't make JUnit output!

[2016-12-02 19:59] k8s-merge-robot opened #37982 "TestServiceRegistryExternalTrafficBetaAnnotationHealthCheckNodePortUserAllocation {service}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/719/

Failed: TestServiceRegistryExternalTrafficBetaAnnotationHealthCheckNodePortUserAllocation {service}

[code]

[2016-12-02 20:00] krousey commented on #35355
@janetkuo Yes. It wasn't until recently that we worked out some major test issues with upgrades that we could eliminate noise to see what consistently fails.

[2016-12-02 20:08] alejandroEsc commented on #37827
Any recommendations to those who have proposals currently as a pull request? Should we just close them and open when changes have merged? Anyway to capture the discussions in the transition?

[2016-12-02 20:11] saad-ali commented on #37101
Resolved by reverting #37582

[2016-12-02 20:11] #37101 closed

[2016-12-02 20:12] saad-ali commented on #37267
Ack. Marking non-release-blocker

[2016-12-02 20:14] saad-ali commented on #32512
Ack. Marking as non-release-blocker

[2016-12-02 20:19] philk commented on #33192
rkt list (this node has only been up for a day):
[code]

Mounts:
[code]

lsof counts `sudo lsof | awk '{print $1}' | sort | uniq -c | sort -n`
[code]

[2016-12-02 20:28] k8s-merge-robot opened #37983 "[k8s.io] InodeEviction [Slow] [Serial] [Disruptive] when we run containers that should cause Disk Pressure due to Inodes should eventually see Disk Pressure due to Inodes, and then evict all of the correct pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/16/

Failed: [k8s.io] InodeEviction [Slow] [Serial] [Disruptive] when we run containers that should cause Disk Pressure due to Inodes should eventually see Disk Pressure due to Inodes, and then evict all of the correct pods {E2eNode Suite}

[code]

[2016-12-02 20:38] enisoc opened #37984 "GCE PD still in use after Pod deleted during rolling Node upgrade"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No,

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* "already being used"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2016-12-02 20:41] enisoc commented on #37984
@jingxu97 @rkouj This is the new issue forked from https://github.com/kubernetes/kubernetes/issues/37585#issuecomment-264519943. Can one of you set labels and assignee since I don't have access?

[2016-12-02 20:47] deads2k commented on #37965
This is a thing that I would find useful for iterating on a config file trapped inside of a configmap.

[2016-12-02 20:48] gmarek commented on #36054
This doesn't mean that it should be a release-blocker, only that it should be a P0:)

[2016-12-02 20:49] krousey commented on #34383
@soltysh These are now failing in upgrade tests. Could you take a look.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-gci-1.3-gci-1.5-upgrade-cluster/405

[2016-12-02 21:15] soltysh commented on #34383
Yup, I'll try to look over the weekend.

[2016-12-02 21:16] pwittrock commented on #35741
FYI: looking into this now

[2016-12-02 21:19] kargakis commented on #35355
Hm, this is probably because of https://github.com/kubernetes/kubernetes/pull/36439 (`WaitForAvailableReplicaSet` polls the replica set status and uses AvailableReplicas which was added in 1.4 IIUC.

[2016-12-02 21:26] cmluciano commented on #28695
With @duglin 's PR, the only output one receives is

[code]

Is this sufficient or would we still rather have quiet be the default with maybe the date shown?

[2016-12-02 21:31] mbohlool commented on #37827
I cannot find the announcement. Would you please add a link to the announcement here?

[2016-12-02 21:34] philips commented on #37827
Announcement here:
https://groups.google.com/d/msg/kubernetes-dev/XyGKDdqfjAE/IhpCYcvWCgAJ

On Fri, Dec 2, 2016 at 1:31 PM mbohlool <notifications@github.com> wrote:

[2016-12-02 21:41] euank commented on #33192
To be clear, that's the state after the problem manifested on that node, right?

[2016-12-02 21:42] saad-ali commented on #36895
Sounds like we might be hitting rate limiting?

CC @justinsb

[2016-12-02 22:02] pwittrock commented on #35741
This was caused by a change tot he test

[2016-12-02 22:08] pwittrock commented on #34746
#36085

specifying a -o jsonpath to a field that is not present in the returned resource will not cause a failure (exit code 1) and an error message `Error executing template: <field> is not found. ` instead of returning an empty value.

[2016-12-02 22:09] soltysh commented on #37957
Yes, feel free to open a PR and ping me there.

[2016-12-02 22:13] dims commented on #37058
@lavalamp yep. @gmarek helped with this PR https://github.com/kubernetes/contrib/pull/2112

[2016-12-02 22:18] janetkuo commented on #35355
The failed upgrade test was running 1.5 cluster against 1.3 e2e test. I can reproduce it locally.
@kargakis I don't think it's related to that PR, since it only touched e2e test code and the change was merged after 1.3

[2016-12-02 22:22] k8s-merge-robot opened #37987 "ci-kubernetes-e2e-gci-gke-pre-release: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/65/

Run so broken it didn't make JUnit output!

[2016-12-02 22:22] k8s-merge-robot opened #37988 "ci-kubernetes-e2e-gci-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/976/

Run so broken it didn't make JUnit output!

[2016-12-02 22:23] dims commented on #36054
good point @gmarek

[2016-12-02 22:32] kshafiee commented on #34519
@yarntime do you have any updates on this? I seem to have the same problem. Thx

[2016-12-02 22:51] janetkuo commented on #35355
Found that if I remove `minReadySeconds` from the 1.3 test (like what we did in 1.5 test), the test will pass. @kargakis would you investigate this? Did some changes on 1.5 deployment break `minReadySeconds`?

[2016-12-02 22:52] pwittrock opened #37991 "Kubectl -o jsonpath throws an error if field is not present in json"
Moving the discussion to an issue

cc @smarterclayton @bgrant0607

In 1.5, the kubectl -o jsonpath command was changed to throw an error if the field referred to by the path is not found.  Pre 1.4 the field might have been defaulted to a value and returned this value instead.

I am not sure if we consider this a api compatibility breaking change. The json path doc does NOT explicitly state what th

[2016-12-02 22:53] pwittrock commented on #37991
Release 1.5 known issues link: #37134

[2016-12-02 22:55] jingxu97 commented on #37984
@enisoc thank you for submitting the logs. I checked them and found the following events happen which cause the delay.

1. volume "pvc-61045ddc-b8c7-11e6-bee7-42010a800002" is attached and mounted on node "kubernetes-minion-group-c4x6"
2. node "kubernetes-minion-group-c4x6" is restarted for upgrading. Kubelet was stopped working for a few minutes.
3. controller tries to attach volume to another no

[2016-12-02 22:57] ymqytw commented on #34746
#34778 #35483 #37604
`kubectl drain`:
`kubectl drain` retries forever when PodDisruptionBudget doesn't allow the eviction.
`kubectl drain` now waits until all pods have been evicted or deleted before returning.
Adds support for StatefulSets in `kubectl drain`.
Drain will use the eviction sub-resource to evict the pods if the APIServer supports. Otherwise, use DELETE as in 1.4.

[2016-12-02 23:00] ymqytw commented on #34746
#33973
`kubectl edit`:
When encountering error, always go back to editor if possible. Always retain what user hand-edited.

[2016-12-02 23:03] duglin commented on #28695
Given the user asked for the pod to be removed (via the `--rm`) I would think it would be better to only show something if Kube didn't do what they ask for - meaning only print something if it didn't delete the pod.

Not a perfect analogy, but imagine this:
[code]

Seems unnecessarily verbose to me :-)

[2016-12-02 23:06] ymqytw commented on #34746
#34584
`kubectl apply --force`
Delete and re-create the resource when `apply` keeps failing after retry several times.

[2016-12-02 23:08] ymqytw commented on #34746
#33250
`kubectl create --edit`
Support editing before creating resource from files, urls and stdin, e.g. `kubectl create -f config.yaml --edit`. It won't create anything when edit make no change.

[2016-12-02 23:08] saad-ali commented on #37862
If the answer is:

Then make sure to add to https://github.com/kubernetes/kubernetes/issues/37134 ("v1.5.0 known issues / FAQ accumulator")

An automated solution if one exists would be *very* nicer.

[2016-12-02 23:13] saad-ali commented on #37853
Based on @dchen1107's assessment, downgrading this issue to non-release-blocker:

She indicates that they have not been able to reliably repro the issue, and that it appears to be in underlying infrastructure, not k8s (or any user space changes).

She also indicates that "The reason of why we observed such failure on CVM a lot, but not on GCI is identified. On GCI node, `kernel.softlockup_panic =

[2016-12-02 23:13] davidopp commented on #37862
@mwielgus / @caesarxuchao Do you think it is feasible to fix #35792 in the time remaining before the release (e.g. by end of Tuesday)? I'm assuming the answer is "no" but just wanted to check. Also I am not convinced it would be worth the effort since probably very few people are using PDB in alpha (we introduced it in the last release).

[2016-12-02 23:17] philk commented on #33192
Yup, that's on a non-functional node. The easiest way I've found to confirm that, or rather what I'm using as a check to alert me is `curl -s localhost:10255/stats/summary | jq -Mr '.pods | any'`. If that pods array is empty then restart the kubelet.

(`kubectl top pod [pod on that node]` also fails on that node)

[2016-12-02 23:21] k8s-merge-robot opened #37992 "ci-kubernetes-e2e-gci-gke-autoscaling: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-autoscaling/214/

Multiple broken tests:

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pods are pending due to host port conflict [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33793 #35108 #35744

Failed: [k8s.

[2016-12-02 23:21] davidopp commented on #37134
For #37862 we should write something like

**NOTE** If you used the PodDisruptionBudget feature in 1.4 (i.e. created `PodDisruptionBudget` objects) then **BEFORE**  upgrading from 1.4 to 1.5, you must delete all `PodDisruptionBudget` objects (`policy/v1alpha1/PodDisruptionBudget`) that you have created. It is not possible to delete these objects after you upgrade, and their presence will prevent y

[2016-12-02 23:24] enisoc commented on #37984
In the future, is the plan to drain nodes before upgrading them? That should detach the volume before the node goes down, right?

[2016-12-02 23:24] MHBauer commented on #28695
The date needs to be shown.

[2016-12-02 23:30] saad-ali commented on #36837
Assigning to @jingxu97 to investigate

[2016-12-02 23:30] saad-ali commented on #36837
Assigning to @jingxu97 to investigate

[2016-12-02 23:32] jingxu97 commented on #32323
@davidopp, is there some reason for not integrating the drain in upgrade? For example, controller is not sure where to reschedule the pods because all the nodes might be upgrading at the same time?

[2016-12-02 23:32] jingxu97 commented on #37984
There is a PR #32323 discussing this issue. I think drain the node before upgrading them is good, but where the pods are scheduled to might be a question.

[2016-12-02 23:34] k8s-merge-robot opened #37993 "ci-kubernetes-e2e-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/959/

Run so broken it didn't make JUnit output!

[2016-12-02 23:35] davidopp commented on #32323
No, there is no reason not to do it. cluster-lifecycle SIG owns upgrade.sh and if they have the cycles to add proper drain to upgrade.sh (perhaps by shelling out to "kubectl drain" or at least reusing the code from there), that would be great.

@roberthbailey

[2016-12-02 23:36] saad-ali commented on #37554
@derekwaynecarr any updates on this issue? We're rapidly approaching release day (Thursday).

[2016-12-02 23:36] caesarxuchao opened #37994 "API server with etcd v2 fails updating large object"
API server with etcd v2 supports creating a large object (n*100 KB) , but not updating it. The cause is:

k8s storage layer [sets](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd/etcd_helper.go#L528-L529) both PrevValue (the original value of the object as we know) and PrevIndex in the update request sent to etcd v2. They are set as query [paratemeters](https://github.com/cor

[2016-12-02 23:37] saad-ali commented on #37554
We'd have to get any fixes in ASAP and cherry picked to the 1.5 branch so that there is enough time for the fix to bake before release.

[2016-12-02 23:39] saad-ali commented on #37447
@yujuhong can you verify fix in release-1.5 and close issue?

[2016-12-02 23:40] cmluciano commented on #28695
@MHBauer apologies I forgot I was running the date command  in my test 😜

[2016-12-02 23:41] Random-Liu commented on #37333
Another occurence https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-cri/394.

However, it turned out that this is also caused by [soft lockup](#37853).

We added serial output collection yesterday, and from the serial output we can see that:
[code]

@jingxu97 @vishh This seems not related to gci-mounter and gci image then, because the soft lockup happened

[2016-12-02 23:42] #37447 closed

[2016-12-02 23:45] jeremywadsack opened #37995 "Nodes stuck in NotReady leaves pods in Pending state (does not autoscale)"
**Is this a request for help?**: No

(I submitted a help request through Google Support who did some of the research below but stated that "This is an issue that need to be address by Kubernetes engineers.")

**What keywords did you search in Kubernetes issues before filing this one?** "notready" "autoscale"

4135 discusses similar problems with out-of-disk errors, but ours were related to out-of-

[2016-12-02 23:45] krousey commented on #37981
cc @dchen1107

For some reason, the kubelet stops updating its status. I've verified that the node controller sets the node to "not ready" and the api server sees no further updates from kubelet. Since this is a GKE tests, I've pulled out the relevant master logs to [this spreadsheet](https://docs.google.com/a/google.com/spreadsheets/d/1jGNQ5yncHd9Tu4z2dpjpGDiGaq9V52SVORJB8sOtHRs/edit?usp=sharing)

[2016-12-02 23:46] krousey commented on #37981
This is blocking us from getting useful signals for GKE CVM upgrades.

[2016-12-02 23:47] k8s-merge-robot opened #37996 "ci-kubernetes-e2e-aws: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/1125/

Run so broken it didn't make JUnit output!

[2016-12-02 23:49] saad-ali commented on #36230
@MrHohn looks like that PR got merged yesterday. Any updates on this issue (and https://github.com/kubernetes/kubernetes/issues/33405 if the same root cause)?

[2016-12-02 23:49] saad-ali commented on #33405
@MrHohn @bprashanth Any update on this issue, if different from https://github.com/kubernetes/kubernetes/issues/36230#issuecomment-264593497?

[2016-12-02 23:55] MrHohn commented on #36230
@saad-ali That debug PR got merged, but I'm still waiting for a valid failure from gci-gce-reboot, gce-reboot, gci-gke-reboot and gke-reboot. The recent failures came from other branches hence they don't contain much clues...

[2016-12-02 23:57] saad-ali commented on #36230
Ack. Thank you

[2016-12-02 23:59] pwittrock commented on #37991
I think I figured out the issue.

**Correction: In 1.4 the default field value was returned, not just an empty string.**

My current best theory is that in 1.4 the responses were round-tripped through the unversioned golang structs objects and back to JSON.  At least some unversioned objects do not contain the omitempty tag that is present on the versioned objects (e.g. NodePort).  This would resu

[2016-12-02 23:59] MrHohn commented on #33405
Same response as this [comment](https://github.com/kubernetes/kubernetes/issues/36230#issuecomment-264594386) in #36230.

[2016-12-03 00:07] KingJ commented on #37527
After reading over vpshere.go, I saw that there's a [configuration setting for the SCSI Controller Type](https://github.com/kubernetes/kubernetes/blob/v1.4.6/pkg/cloudprovider/providers/vsphere/vsphere.go#L110). I added the following lines to my vsphere cloud provider configuration on the K8 master and worker and restarted the kubelet daemon;

[code]

Watching the kube-controller-manager log, it l

[2016-12-03 00:26] imkin commented on #37527
@abrarshivani

[2016-12-03 00:28] bprashanth commented on #28443
I really want to break this down into subproblems and I feel like there are at last 4 brought up till now:

1. More complex rules: we can ignore this for now. Lets pick *some* rule and plumb it through end to end, then iterate.
2. Handling platform divergence
3. Dealing with conflict
4. Intra cluster hostname DNS provisioning (i.e how do we route requests through the rule processing engine?)

1, 2

[2016-12-03 00:33] janetkuo commented on #35355
Just tried 1.3 e2e test against **1.4** cluster, and it passed. My theory is that something in 1.5 Deployment broke this.

[2016-12-03 00:36] bprashanth commented on #36230
We suspect that the issue is more with the test than with the product. As Zihong pointed out, the node fails to *go offline*:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.5/667/ has
[code]
So there's a good chance the iptables command that was supposed to take it offline failed to exec. I think it would be great if we got a root cause

[2016-12-03 00:38] rdtr commented on #29324
Is this issue already resolved?
I've been facing with very similar issue with v1.4.6+coreos0 for a prometheus pod.

[2016-12-03 00:38] bprashanth commented on #33405
Same as https://github.com/kubernetes/kubernetes/issues/36230#issuecomment-264599413
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot-release-1.4/355/
[code]

We should definitely clarify the failure message, lifting release-blocker

[2016-12-03 00:39] lavalamp commented on #37994
Delete fails on these objects since apiserver does an update first. So I think we need to fix this very soon.

Is it easy to omit setting the previous value? I don't think it provides extra benefit over just setting the index?

[2016-12-03 00:39] k8s-merge-robot opened #38002 "ci-kubernetes-soak-gce-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-test/60/

Run so broken it didn't make JUnit output!