[2021-01-26 02:45] #97889 closed

[2021-01-26 02:46] lyyao09 commented on #94970
/remove-lifecycle stale

[2021-01-26 02:48] lyyao09 commented on #94970
/remove-lifecycle rotten

[2021-01-26 02:56] njuptlzf opened #98396 "Does *VolumeSource need to be optimized?"
When I use nfs volume, **`volumes.nfs`**, I found that there are no more mount parameters defined, such as **`soft`**.
Use **`pv,pvc`** to solve.

**`pv pvc`** is very useful. Why are there so many volumeSources? Is it worth adding more parameters?

For example, **`NFSVolumeSource`** adds **`mountOptions`**

// Represents an NFS mount that lasts the lifetime of a pod.
// NFS volumes do not support

[2021-01-26 03:41] TBBle commented on #97739
@katiewasnothere: Thank you for those excellent clarifications, it didn't occur to me to go poking through hcsshim to see if there was more than was mentioned in the article, i.e. exposed via the Docker CLI in 2018.

That devices.def is interesting. Could I be reading that as a list of supported Device Interface Classes, or is the idea more that we expect that any Device Interface Class (or Device

[2021-01-26 03:43] chengzj12 opened #98397 "set limit on how much space an hostpath volume can consume"
I use a volume with hostPath, so I can share files between my local host and the pods. My question is: Is there a way to limit how much sapce an hostpath volume can consume by those pods, like ephemeral storage request/limit? What happens if the container consumed all space on host's local directory?
[code]

[2021-01-26 03:45] chengzj12 commented on #98397
/sig storage

[2021-01-26 04:05] oldthreefeng commented on #87615
@caesarxuchao thanks..... this helps me lot

[2021-01-26 04:24] oldthreefeng commented on #97685
ping  @neolit123  ,  On arm64 ，I got the same error like . and kube-api-server restart many times.
[code]

[2021-01-26 04:40] pmbibe opened #98399 "Endpoints of Headless Service disappear after 12 hours when deployed"
**What happened**:
When I deployed new Headless Services, which had Endpoints were external server, I mean Servers were not in Kubernetes Cluster. After a day I deployed. Endpoints of this Services became None. So I have to redeploy Endpoints.
**What you expected to happen**:
I do not want these Endpoints disappear and I do not need redeploy Endpoints
**How to reproduce it (as minimally and precis

[2021-01-26 05:06] pacoxu commented on #98368
A correct example would be
[code]
The expected support feature example is like `extra-columns` with default columns.
[code]

IMO, it is acceptable if custom-columns can support 'Ready & Age' with better user experiences.

The current workaround like below is not that good.
[code]
or
[code]

[2021-01-26 05:41] pacoxu commented on #97138
After reading the code, I think the metrics should appear only if there're volume mounts in that node.
I cannot reproduce it in 1.19.0-1.19.4.

The problem seems to be solved in 1.19.5.
https://github.com/kubernetes/kubernetes/compare/v1.19.4...v1.19.5

I suspect it is fixed in Cadvisor or in #96477

1. github.com/google/cadvisor v0.37.0 -> v0.37.2 #96695  & #96849
2.  #96477 is also change volume

[2021-01-26 05:45] D1abloRUS commented on #88662
/remove-lifecycle stale

[2021-01-26 06:57] borgerli commented on #98302
@aojea If I understand correctly, the deprecated flags would take effect if set, and take precedence over corresponding settings in the config file. Thank you.

[2021-01-26 07:01] manikantavasupalli commented on #98360
This doc making much sense with the ask.
Instead of zone labelling, you may just need to change topologyKey to "node" so as to distribute the Pods evenly across nodes.

[2021-01-26 07:24] pandaamanda commented on #97907
done
/close

[2021-01-26 07:24] #97907 closed

[2021-01-26 07:25] thomacos commented on #97739
In a hurry, but a short note nevertheless:
We are successfully using NVenc inside a container simply by using the DirectX device plugin.

[2021-01-26 07:33] RamLavi commented on #97367
yes I think I can close it for now.
If I have more problems regarding this I'll reopen.
Thanks!

[2021-01-26 07:33] #97367 closed

[2021-01-26 07:55] zionwu commented on #83332
I hit the same issue on my k8s cluster and its version is v1.14.3.
Due to calico network issue,  the API server can not access metrics server pod, there is timeout message in the log:
[code]

And the API server seems to stuck on it. Commands like `kubectl get node` will hung.

[2021-01-26 08:29] pohly commented on #95497
A description of a volume provisioning benchmark exercise is here: https://github.com/pohly/perf-tests/blob/83d4de1f553ef78714cfda67c444f717675c5aa5/adhoc/log/distributed-provisioning.md

[2021-01-26 08:30] hellogdc opened #98409 "fix the address of restful-serve-static.go in the comment of pkg/routes/logs.go"
**What would you like to be added**:
// See github.com/emicklei/go-restful/blob/master/examples/static/restful-serve-static.go
right address of restful-serve-static.go in the comment of  pkg/routes/logs.go

**Why is this needed**:
the address of restful-serve-static.go in the comment of  pkg/routes/logs.go is wrong now

[2021-01-26 08:30] hellogdc commented on #98409
/assign

[2021-01-26 08:33] hellogdc commented on #98409
/sig Docs

[2021-01-26 08:42] #97920 closed

[2021-01-26 08:45] pacoxu commented on #97460
/assign @mengjiao-liu

[2021-01-26 08:45] mengjiao-liu commented on #97460
/assign

[2021-01-26 09:11] borgerli opened #98410 "Enable profiling by default in kube-proxy"
**What would you like to be added**:

Enable profiling by default in kube-proxy.

**Why is this needed**:
Profiling is a very useful feature when debugging performance issues. Except kube-proxy, other k8s components all enable profile by default.

kube-apiserver, kubelet and kube-scheduler also support dynamically setting log level, which depends on enabling profiling.

[2021-01-26 09:21] nsoubelet commented on #93055
Hi @BenTheElder, I do not think that limiting pause container is actually unnecessary.
For example, when using gVisor sandboxing this becomes a real problem since sandbox "reads" reported resources from pause container and informs them within the sandbox, so resource management in container is impossible in this case. See https://github.com/google/gvisor/issues/190#issuecomment-765657423.

Maybe i

[2021-01-26 09:22] emike922 opened #98411 "DualStack: apiserver pod has only single IP address"
**What happened**:
Admission requests sent to IPv6 webhook services fail/time out in dual-stack cluster. Default (first) IP family in the cluster is IPv4.
Analysis has led me to the apiserver, which is making the requests to the webhook service. The apiserver pods have ONLY an IPv4 pod IP, no IPv6 pod IP, and thus presumably cannot make IPv6 requests.

`
$ k logs -n kube-system -lcomponent=kube-ap

[2021-01-26 09:28] emike922 commented on #98411
/sig network

[2021-01-26 09:31] almas33 commented on #91628
Hi @cheftako i am new here and needs some help while trying to resolve this bug please see if my above observations are correct

[2021-01-26 09:35] svenvanhees commented on #7890
Thanks for this! But after applying the configuration I still get the following error while mounting in the container.

`fuse: mount failed: Permission denied`

Any ideas?

[2021-01-26 09:41] pacoxu commented on #98409
/kind cleanup
/remove-kind feature

[2021-01-26 09:43] pacoxu commented on #98397
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#local-ephemeral-storage
Local ephemeral storage  may help your case.

[2021-01-26 09:43] pre commented on #7890
Run `ls -l /dev/fuse` in your container - you will need filesystem level permissions to write when your container user is non-root.

[2021-01-26 09:44] aojea commented on #98117
Fixed by https://github.com/kubernetes/kubernetes/pull/98124

/close

[2021-01-26 09:44] #98117 closed

[2021-01-26 10:23] borgerli commented on #98410
/sig network

[2021-01-26 11:02] Wenshiqi222 opened #98414 "How to implement the "RequestedToCapacityRatio" Priorities on the v1.16 k8s server?"
Since the k8s is v1.16,i cannot realize the RequestedToCapacityRatio Score Plugins instead of the LeastRequestedPriority by the Framework Plugins; So how can i deal with the problem in v1.16 environment?

[2021-01-26 11:04] kgtw commented on #60393
@jhorwit2 can this be re-opened, it is still an issue in 1.18.14

[2021-01-26 11:17] chengzj12 commented on #98397
Thanks for the reply, we thought about using local ephemeral storage like emptydir, but it's not suitable for some log collector cases..

[2021-01-26 11:20] wzshiming opened #98415 "SA has multiple secrets"
**What happened**:

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.20.1
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`): 7
- Kernel (e.g. `uname -a`):  Linux zsm-test-2 3.10.0-1160.11.1.el7.x86_64

[2021-01-26 11:33] wzshiming commented on #98415
/sig api-machinery

[2021-01-26 11:35] wzshiming commented on #98415
/triage accepted

[2021-01-26 11:37] wzshiming commented on #98004
/triage accepted

[2021-01-26 11:38] wzshiming commented on #98260
/triage accepted

[2021-01-26 12:00] svenvanhees commented on #7890
When running `ls -l /dev/fuse` I get this `crw-rw-rw- 1 root root 10, 229 Jan 26 09:56 /dev/fuse` The container is running as root and can't seem to figure out why I get the error.

It was working before when using the privileged flag.

[2021-01-26 12:09] chymy commented on #98253
ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/

you can add `-v` test, will print log:
[code]

You can see that pod has been scheduled to that node, then vist the pod from apiserver, but pod can't tolerate that node, so it will be deleted.
[code]

so print:
[code]

[2021-01-26 12:11] borgerli opened #98419 "Build failed due to the check of bash version to be 5.x+"
**What happened**:
On our Ubuntu 18.04 build machines(with bash 4.2), build failed with error: `ERROR: This script requires a minimum bash version of 5.0`

**What you expected to happen**:
build succeeds without error.

**How to reproduce it (as minimally and precisely as possible)**:

On a Ubuntu 18.04 machine with the latest bash installed from official repo, do make by `make kubelet`

**Anythin

[2021-01-26 12:12] borgerli commented on #98419
/sig release

[2021-01-26 12:43] rikatz commented on #92369
@aojea @uablrek @andrewsykim better late than never, I've started drafting a KEP to move pkg/proxy to staging, shameless copying and adapting from the kubectl move: https://docs.google.com/document/d/1EeaENzDJa0nDQMTWQdfuut-62YTDyMo5IKGZQXOFibo/edit?usp=sharing

I guess we can discuss what are and what aren't our goals there, and then move forward with this. Also, as we already have the k/kube-pro

[2021-01-26 12:46] sgc109 commented on #23726
You might have not done `minikube start` if you still see the same error message even after you enabled kubernetes in preferences of Docker Desktop

[2021-01-26 12:50] jvanz opened #98422 "Increase the log level for the message showing that static pod status has been updated."
**What would you like to be added**:

I would like to ask to increase the log level for this line:

https://github.com/kubernetes/kubernetes/blob/889cf714c17163e2a787db9c474652514a18d52f/pkg/kubelet/kubelet_getters.go#L176-L181

**Why is this needed**:

I do not see the necessity to show every time the static pod has the status updated. It can flood the logs with the message.

I do not know if the

[2021-01-26 12:51] jvanz commented on #98422
/sig node

[2021-01-26 12:52] jvanz commented on #98422
I'll be happy to send a merge request for this issue. But I just need to know if this make sense to the community or not.

[2021-01-26 12:58] xmudrii commented on #97294
I tried to bisect the changes to find the commit/PR that introduced the regression. I believe that #91824 introduced this regression.

I'm not exactly sure which part of the PR introduced it because the PR is squashed so I can't bisect through it, but there are a couple of commits changing the API server logic, so it might be that some of those commits introduced the regression.

I'm not sure how

[2021-01-26 13:39] neolit123 commented on #97685
@oldthreefeng the error you are getting looks like a connection problem, so not clear if related.

the bug discussed here is in golang. so if we update to the latest PATCH version golang in our k8s PATCH versions it will be resolved.

[2021-01-26 13:43] neolit123 commented on #97294
cc @khenidak @aojea

[2021-01-26 13:48] Jc2k commented on #72236
Any update on this behaviour? It's very surprising and not ideal. Is there some sort of security tag the issue should have? As suggested in by the original filer it seems like there is a security component to this too.

[2021-01-26 13:50] alexcristi opened #98423 "Kube-apiserver high memory usage on pending pods storm"
**What happened**:
The kube-apiserver consumed memory spiked to ~90G the moment we upscaled the cluster with +400 nodes while having thousands of pending pods.
![image](https://user-images.githubusercontent.com/2542264/105851679-1722a880-5fec-11eb-9517-081e77c029a2.png)
This resulted in OOM kill of the kube-apiserver pods causing outage. Example:
![image](https://user-images.githubusercontent.com/

[2021-01-26 13:54] alexcristi commented on #98423
/sig scalability

[2021-01-26 13:57] alexcristi commented on #98423
/sig scheduling

[2021-01-26 14:13] liggitt commented on #97294
Thanks for doing that. How confident are you that was when the issue was introduced?

That PR is all about adapting Service objects for dual-stack. There are three possible places I considered whether #91824 could have caused issues:

1. Disrupting watch cache <-> apiserver connectivity.
  * The watch cache goes directly to the internal API server listener and doesn't interact with or depend on Se

[2021-01-26 14:21] xmudrii commented on #97294
@liggitt Thank you for the response! I’ve double-checked and confirmed that once #91824 merged this started happening. I’m not using the external etcd, i.e. the kubeadm is managing it.

I have finished my day earlier because I have some university stuff to take care of, but I’ll try what you suggested tomorrow and will get back to you.

[2021-01-26 14:24] damemi commented on #98360
`topologyKey` can be any label on the node, for example `kubernetes.io/hostname`, or your custom zone key if you wish

[2021-01-26 14:32] fasaxc commented on #93925
Sorry, I can't _easily_ repro this.  To do so requires spinning up a 100+ node cluster and running churn for several hours.

[2021-01-26 14:32] wawa0210 commented on #98253
Even if the node is tainted by `NoExecute`, we should add tolerance to let the pod run normally. Therefore, I think your pr cannot fix this issue. I will try to submit pr to fix

[2021-01-26 14:41] oldthreefeng commented on #97685
@neolit123  thanks. but In my 3 masters kubernetse clusters. Only one master got this Error . others works well. this confused me.
this problem like connection working with ipv6 not ipv4?

[2021-01-26 14:44] neolit123 commented on #97685
you can try asking in the #sig-network channel on slack or log a new issue.

[2021-01-26 14:51] neolit123 commented on #97294
no, it does not.
@xmudrii can you please dump the contents of /etc/kubernetes/manifests/*.yaml of the problem machine in a pastebin?

[2021-01-26 14:54] thejoycekung opened #98427 "[Failing Test] [sig-network] LoadBalancers should be able to change the type and ports of a UDP service [Slow]"
**Which jobs are failing**:
- `ci-kubernetes-e2e-gci-gce-slow` (`gce-cos-master-slow`)

**Which test(s) are failing**:
- `[sig-network] LoadBalancers should be able to change the type and ports of a UDP service [Slow]`

**Since when has it been failing**:
https://github.com/kubernetes/kubernetes/commit/16ed85a6d55efc7af34f6d32e00066f7d9dc0b63
Jan 25 6:25AM PST was the first unsuccessful run

**Tes

[2021-01-26 14:55] oldthreefeng opened #98428 "unable to reconcile clusterrole.rbac.authorization.k8s.io/system:controller:ttl-after-finished-controller: Get https://[::1]:6443/apis/rbac.authorization.k8s.io/v1/clusterroles/system:controller:ttl-after-finished-controller: dial tcp [::1]:6443: connect: connection refused"
**What happened**:
kubernetes apiserver restart  by the error log like
[etcd.log](https://github.com/kubernetes/kubernetes/files/5872454/etcd.log)
[kube-apiserver-nra-master2-err.log](https://github.com/kubernetes/kubernetes/files/5872455/kube-apiserver-nra-master2-err.log)

**What you expected to happen**:

kubernetes perform well

**How to reproduce it (as minimally and precisely as possible)**:

[2021-01-26 15:38] pacoxu commented on #98428
According to etcd logs
[code]
is the time synced between etcd members ?

[code]
etcd raft i/o timeout may be caused by

1. disk speed
2. network speed

By the way, I think you may ask for support in etcd https://github.com/etcd-io/etcd/

[2021-01-26 15:49] pacoxu commented on #98423
We enable --profiling by default. So this should be possible via go tool pprof http://<apiserver>/debug/pprof/heap.

It would help for further investigation.

[2021-01-26 16:05] adampl commented on #96183
Isn't it fixed by https://github.com/kubernetes/kubernetes/pull/96876 and related cherrypicks?

[2021-01-26 16:20] pacoxu commented on #98422
According to my quick research, this log is added in #84951  during fixing a regression issue.
 I think it make sense to use low level log as the bug is already fixed.

[2021-01-26 16:28] alculquicondor opened #98434 "Metrics for job-controller"
**What would you like to be added**:

Metrics for the job controller operations, including:
- latency of a job sync `job_sync_duration_seconds`
- sync count `job_sync_total` (with a `result` label for `success`/`error`)
- TBD job finished count `job_finished_total`  (with a `result` label for `success`/`error`)

All metrics should include labels that allow to narrow delays or errors to features or

[2021-01-26 16:28] alculquicondor commented on #98434
cc @soltysh @ahg-g @erictune

[2021-01-26 16:35] oldthreefeng commented on #98428
time sync is already done.  so i will open another issue in etcd.io. Thanks @pacoxu

[2021-01-26 16:39] pacoxu commented on #98411
Usually, apiserver is run in hostNetwork, the IP of apiserver pod is the node ip.
Node ip dual stack is supported in 1.20 after PR #95239.

I need more investigation later.

[2021-01-26 16:42] pacoxu commented on #98414
/sig scheduling

[2021-01-26 16:52] lavalamp commented on #95587
I think we should not use a type alias. It breaks the tooling but doesn't get us the other thing that might be useful: distinct documentation between pod spec and template pod spec.

Instead, I think we should just literally copy the type. We (well, at least @bgrant0607) have talked about this for ages and just never done it.

I don't think it'd be too bad, I think the conversion generator can gen

[2021-01-26 16:58] neolit123 commented on #98419
version 5 was forced here:
https://github.com/kubernetes/kubernetes/pull/98309
https://github.com/kubernetes/kubernetes/issues/98294

[2021-01-26 17:03] thockin commented on #95587
I agree overall.  It seems obvious for small types.  For "big" types like
this, I worry about drift between them.  Maybe some metafile + a test to
list  which fields are allowed to differ between the types.  E.g.

[code]

On Tue, Jan 26, 2021 at 8:52 AM Daniel Smith <notifications@github.com>
wrote:

[2021-01-26 17:29] jayunit100 commented on #95226
FYI , during this @jsturtevant saw some of the issues w/ containerd leaks https://github.com/kubernetes/kubernetes/issues/98102

[2021-01-26 17:35] kow3ns commented on #95587
To clarify are we suggesting adding one additional type that does alias or aggregate PodSpec that all controllers will use? We are not suggesting a unique type (e.g. ReplicaSetPodTempate, StatefulSetPodTemplate, etc) for each resource that presently aggregates PodSpec into its .Spec.Template to represent the users declared desired state?

[2021-01-26 17:37] smarterclayton commented on #95587
Conversion of equivalent types is now done automatically by go (once they fixed the "structs with identical fields but different tags are still identical" spec issue).

Helpers are going to need an interface (like ObjectMeta, probably) of some form in order to work.  In general our helper functions are already ugly ducklings.

[2021-01-26 17:38] lavalamp commented on #95587
Yes, we should make a test. I don't think it's a hard test as long as we require that the fields be 1:1.

If we ever permit the fields to be different in the template and the pod spec, then we basically need to write a constructor and test that.

I was thinking of a single PodSpecTemplate type. There would be (can be) no wire difference. I'd need to see a really compelling reason to let different

[2021-01-26 17:40] #98427 closed

[2021-01-26 17:42] caseydavenport commented on #39113
/triage accepted

[2021-01-26 17:46] liggitt commented on #95587
I don't think you can easily get away with a shallow type clone... the defaulting methods are associated with deeply nested subtypes (e.g. container security context).

These are the areas we'd see impact:

* helper methods (e.g. DropDisabledPodFields / DropDisabledTemplateFields both use a shared method that operates on podspec)
* validation
  - all the workload types reuse the super-twisty podsp

[2021-01-26 17:55] lavalamp commented on #95587
Ugh,
- duplicate the validation functions? We would need to rearrange the tests such that they test both copies of the functions (e.g. by transforming the types first).
- copy the validation functions, but make them transform the input and call the original validation functions?
- make all callers transform the type first? (essentially what we do today)

[2021-01-26 18:00] smarterclayton commented on #95587
Validation is already a bit of a disaster w.r.t copy and paste, I don't want to make it worse (no one will keep the copies in sync unless we automate it, and if we automate it, we shouldn't need to duplicate).

Type transform if the types are identical should be cheap in go compiler but we might need to test for it.

There's an argument here w.r.t. docs is that our current approach for docs on go

[2021-01-26 18:03] jsturtevant commented on #95226
/sig windows

[2021-01-26 18:11] glenjamin opened #98440 "portforward audit logs do not include target port information"
**What happened**:

Check the audit log for a portforward event, it looks something like this:

[code]

Which doesn't include any information about the target port.

**What you expected to happen**:

The target port to be included in the audit event

**Anything else we need to know?**:

Based on some spelunking, this appears to be because although [the docs](https://kubernetes.io/docs/reference/ge

[2021-01-26 18:12] thockin commented on #95587
spec, then we basically need to write a constructor and test that.

This pattern will apply in other places (I'm thinking about probes, for
example) and there is value in saying "this is supposed to be the same
except missing one field".

no wire difference. I'd need to see a really compelling reason to let
different controllers have different template types

Agree, but it seems like a slippery sl

[2021-01-26 18:14] glenjamin commented on #98440
I'm not sure about this, but going to take a punt on API Machinery

/sig api machinery

[2021-01-26 18:14] glenjamin commented on #98440
/sig api-machinery

[2021-01-26 18:19] glenjamin commented on #98440
aha, i'm now reliably informed that audit is part of the auth group

/sig auth

[2021-01-26 18:23] lavalamp commented on #95587
Relying on type transform would still require a bunch of casts in many places, I think? Not sure it makes things significantly different.

In theory yes, but in practice it's extremely hard to be sure that an internal change won't cause an obscure behavior change.

[2021-01-26 18:24] kow3ns commented on #95587
If we are doing this for PodTemplate spec we should dig ourselves out of the hole early wrt StatefulSet .Spec.VolumeClaimsTemplate as well

[2021-01-26 18:29] kow3ns commented on #95587
all the workload types reuse the super-twisty podspec validation... would you envision those validation methods converting from PodTemplateSpec to PodSpec and then continuing to use the PodSpec validation?

If we have a drift between what a valid PodTemplateSpec and PodSpec are we will end up with wedged controllers that have a declared, desired state that is "valid" per admission control but that

[2021-01-26 18:37] bowei commented on #98410
Can you link in how this is done in the other components?

What impact does this have on kube-proxy?

Does this create any security concerns?

[2021-01-26 18:38] blitzd commented on #95916
@ehashman We opted to not use CronJob because of these issues, and I am no longer in a position where I can spend much time on it. The problem was easily re-created on any system that I attempted it on though, both by myself and AWS support.

[2021-01-26 18:39] alculquicondor commented on #42649
@Skybladev2 did you enable the `CronJobControllerV2` feature gate?

[2021-01-26 18:42] cdavidbrewer opened #98444 "Windows Container stuck in Initializing"
**What happened**: This is an AKS (Azure) Cluster. A windows pod has 2 containers. The first container initializes a volume and completes successfully. The second container is a IIS Website which sits in "Initializing" and never starts.
This happens roughly 4/10 times.
There are no logs from the container.
If we delete the pod, the ReplicaSet creates a new pod which also fails in this way roughly

[2021-01-26 18:52] liggitt commented on #98267
pushed a test repo at https://github.com/liggitt/retract20210126/tags containing identical pre-module tags / go.mod presence to k8s.io/client-go

[2021-01-26 18:56] SergeyKanzhelev commented on #84165
/remove-lifecycle rotten

since it was discussed today at SIG Node

[2021-01-26 19:05] alculquicondor commented on #98434
cc @yangkev

[2021-01-26 19:15] dchen1107 commented on #84165
@SaranBalaji90 Sorry for not capturing your question / request in detail earlier at SIG Node. Could you please elaborate a little bit more here or follow up through slack? Thanks!

[2021-01-26 19:23] derekwaynecarr commented on #63814
@liggitt I tend to think that all maintenance of the kubelet should warrant a drain (major/minor/patch).  I guess a cluster that is a single node is the potential outlier, need to reflect on that a little bit though.  @thockin what changes have we blocked?  I was not aware of the impact this was having across the project as the general concept of drain, update kubelet was basically the primary pat

[2021-01-26 19:24] liggitt commented on #98267
1. Consumed that test repo using go1.15 and verified the behavior matches what we currently see for client-go (selects v11.0.0+incompatible):

[code]

2. pushed a v1.5.2 tag to the test repo matching the proposed approach for k8s.io/client-go

[code]

The result: https://github.com/liggitt/retract20210126/blob/v1.5.2/go.mod

3. Checked version preference when consumed from go1.15 and go1.16beta1:

[2021-01-26 19:30] derekwaynecarr commented on #63814
caught up with @liggitt separately and now properly understand this.  the kubelet should hash on fields that it understands as mutable for the life of the container.  basically anything today that is editable in validate pod update.

[2021-01-26 19:31] SaranBalaji90 commented on #84165
np @dchen1107 thanks for following up. In the issue description we state that adding flag like `enableProfiling` to configure both `/debug/pprof/*` and `/debug/flags/v`.

But I was wondering if we have to block these endpoints, should we have separate flags for these endpoints. For eg `enableProfiling` for `/debug/pprof/*` and `enableDebuggingFlags` for `/debug/flags/v`.

So that  enableProfiling`

[2021-01-26 19:35] liggitt commented on #98267
explicitly requesting a retracted version with go1.16beta1 is allowed, but complains:

[code]

running the suggested command gets the latest unretracted version correctly:
[code]

explicitly requesting a retracted version with go1.15 works fine without complaint:
[code]

[2021-01-26 20:04] thockin commented on #95587
I think that's a given.  What isn't as clear to me is that every field that
is configurable in a Pod must be exposed in a pod template.  In fact, we
know that there are validations that are different between them, fields
that are N/A or must have particular values.

We can't retroactively change those (I think?  maybe some), but we should
not add more.

On Tue, Jan 26, 2021 at 10:29 AM Kenneth Owe

[2021-01-26 21:26] leilajal commented on #94906
cc @caesarxuchao

[2021-01-26 21:27] leilajal commented on #98380
assign @sttts

[2021-01-26 21:27] caesarxuchao commented on #94906
I think this is fixed by #95664.

Please reopen if it's not the case.

[2021-01-26 21:27] #94906 closed

[2021-01-26 21:27] leilajal commented on #98380
/assign @sttts

[2021-01-26 21:28] leilajal commented on #98440
/remove-sig api-machinery

[2021-01-26 21:37] liggitt commented on #98267
I'm happy with the results of the investigation, once go1.16 is released we can revisit this, verify the results still hold, and plan if we want to proceed

[2021-01-26 21:56] dchen1107 commented on #84165
@SaranBalaji90 Thanks for the updates. Like what we discussed and agreed at previous SIG Node, introducing a separate flag to enable profiling is reasonable.

To answer your above question on another separate flag to configure /debug/flags/v, I personally prefer to separate them for the cleanness. I don't have a strong opinion on this particular one. @derekwaynecarr

[2021-01-26 22:10] ehashman commented on #98084
AzureDisk  CSI Driver End-to-End Tests: Dynamic Provisioning [single-az] should  create a statefulset object, write and read to it, delete the pod and  write and read to it again [kubernetes.io/azure-disk]  [disk.csi.azure.com] [Windows] expand_less | 2m36s
-- | --
```/home/prow/go/src/sigs.k8s.io/azuredisk-csi-driver/test/e2e/dynamic_provisioning_test.go:684 Unexpected error:     <*errors.errorSt

[2021-01-26 22:12] liggitt commented on #97178
has this been resolved to the point where the priority can be dropped?

[2021-01-26 22:12] fredrickprashanth opened #98447 "ServiceTopology feature readiness"
What is the timeline for graduating ServiceTopology feature into beta and GA ?
cc @m1093782566 @andrewsykim @thockin

[2021-01-26 22:16] ehashman commented on #95916
@blitzd I'm guessing this is an instance of a race condition in the kubelet runtime (similar to #98142 but using containerd) but it's impossible to say for sure without logs. I don't have access to EKS clusters to attempt to reproduce this.

If anyone could provide full kubelet logs (v=4 would be great) from when this issue occurs, we should be able to say with more certainty.

[2021-01-26 22:16] ehashman commented on #95916
/triage accepted
/assign

[2021-01-26 22:33] agvaliente opened #98448 "LDAP Authentication for Kubernetes Cluster"
Hello

I have a kubernetes cluster on bare metal, and I need integrate the authentication with the LDAP server.

Please, I need help to identify the steps to the implementation.

Best regards.

[2021-01-26 23:15] #94005 closed

[2021-01-26 23:32] avarf commented on #69973
Now kubelet won't start at all:
[code]

[2021-01-26 23:35] hh opened #98449 "Adding alpha/beta/GA metadata to generated openapi swagger.json"
**What would you like to be added**:

Recording OpenAPI metadata as to the 'alpha', 'beta', or 'GA' state of every *operationId* in the generated swagger.json

**Why is this needed**:

A set of Alpha APIs were recently added that included `/api/v1/*` prefix in their path, and a lack of alpha or beta in the name of the operationId itself.

https://github.com/kubernetes/kubernetes/pull/97276

We've

[2021-01-26 23:36] hh commented on #98449
/sig api-machinery

[2021-01-26 23:36] hh commented on #98449
/area conformance

[2021-01-26 23:38] kfirfer opened #98450 "Limit the number of containers per pod"
Hello

Would be nice to see a configuration option on `kubelet`, that restrict the number of containers can be deployed per pod.
For security and stability.
What do you think ?

[2021-01-26 23:40] hh commented on #98449
@liggitt noted that the existing swagger.json is generated from an APIserver with all apis enabled. It might make sense to generate another one with only stable APIs enabled allowing a comparison, or shortcut without necessarily needing to add generate the metadata within the OpenAPI spec.

https://kubernetes.slack.com/archives/C0EG7JC6T/p1611614187033600

[2021-01-26 23:41] kfirfer commented on #98450
/sig node

[2021-01-26 23:42] kfirfer commented on #98450
/sig security

[2021-01-26 23:51] ehashman commented on #93925
@fasaxc it's okay if the repro isn't easy, we just can't do much to address this without kubelet logs to assist in debugging :( The next time it happens, would appreciate a log dump!

[2021-01-26 23:52] ehashman commented on #93925
/assign

[2021-01-27 00:04] blowfishpro opened #98451 ""exec" auth client plugin checks whether STDOUT is interactive to decide whether to forward STDIN"
**What happened**:

I use `aws-vault` with AWS EKS to authenticate access to clusters.  You don't need to worry about how `aws-vault` works, the key point is that it prompts the user to enter a 2FA code before running the AWS command that returns a token.

When a `kubectl` command is part of a larger shell script, it fails to promp for a 2FA code, and thus fails to authenticate with the cluster.

[2021-01-27 00:05] blowfishpro commented on #98451
/sig cli

[2021-01-27 00:56] katiewasnothere commented on #97739
This should be read as the list of supported devices that have been tested.

I'm not sure I follow " `idType: "Category", id: "Camera"" I think it would make more sense to say `idType: "Camera", id: "CAMERA_GUID"`

I should also note that while this file is available on the host, the api is not publicly documented. So there's no support guarantee when it comes to editing it manually. I'm working o

[2021-01-27 01:23] Jefftree opened #98452 "Network proxy logging http-connect mode in all cases"
**What happened**:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go#L229

egress selector logs HTTP Connect mode in all cases regardless of whether GRPC mode is used or not. This should be changed to look at the mode before logging.

[2021-01-27 01:24] Jefftree commented on #98452
/sig api-machinery

[2021-01-27 01:55] TBBle commented on #97739
Oh, device instance support was there from RS5? Excellent. The article only talked about whole-classes.

This was coming from
[code]
and I was thinking that `id: Camera` would be an alias for those listed interface classes. `idType: Category` came from this being a `device_category` element. I might have been mis-guessing the semantics here though: I assumed using any of those four GUIDs as the `i

[2021-01-27 02:10] Listson commented on #45234
/reopen please consider this feature.

[2021-01-27 02:11] blitzd commented on #95916
@ehashman this was not specific to EKS, I had no issues re-creating it with Kubernetes on docker-desktop. I've attached a slice of the kubelet log from that.

[CronJob-kubelet.log](https://github.com/kubernetes/kubernetes/files/5877309/CronJob-kubelet.log)

[2021-01-27 02:13] gavinfish commented on #86843
/remove-lifecycle stale

[2021-01-27 02:40] dougsland commented on #97907
I would wait the patch get merged before closing :)

[2021-01-27 03:00] katiewasnothere commented on #97739
Oh sorry, I thought you were referring to general device assignment (so Device interface class). Specifying a location path was added in 19H1.

I don't think we should be using the terminology this file uses. It's confusing and refers to low level platform things (such as the `requires_driverstore` or `RedirectionNode`), which I don't think the code should necessarily need to know about in order t

[2021-01-27 03:08] TBBle commented on #97739
Since I forgot to link it earlier, the `id`/`idType` pair of strings was [designed to be the extensible approach](https://github.com/opencontainers/runtime-spec/pull/976#discussion_r201488919), so I'd be surprised if there's a _better_ extensible API to be found at the CRI layer. It certainly seems in the 2.5 years since then, we haven't found a Windows use-case where it fails such that hcsshim ha

[2021-01-27 03:15] borgerli commented on #98419
#neolit123 The support of `-v` test was added in bash version 4.2.  It would be better to limit the mimimum verison to 4.2+, since some peple, like us, are using Ubuntu 18.04 with bash 4.x to do the build. Thanks.

[2021-01-27 03:32] liggitt commented on #98451
/sig auth
/cc @ankeesler

[2021-01-27 03:35] liggitt commented on #98448
An LDAP-aware authenticating proxy can be placed in front of the API server to deal with LDAP-based authentication, and forward identity info to the API server in request headers. Details of the support for an authenticating proxy are at https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authenticating-proxy

/sig auth
/close

[2021-01-27 03:35] #98448 closed

[2021-01-27 04:05] SataQiu commented on #98452
/assign

[2021-01-27 04:13] fredrickprashanth commented on #98447
From the conversation [here](https://github.com/kubernetes/kubernetes/pull/96528#discussion_r564923762) it does not look like ServiceTopology may see GA.

[2021-01-27 04:26] shahincsejnu opened #98457 "Changing the number of replicas create/delete pods immediately during paused deployment state"
**What happened**:
While I was reading [Pausing and Resuming a Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pausing-and-resuming-a-deployment) portion of kubernetes official docs. I paused a deployment and during deployment I changed the number of replicas in the deployment manifest file. After that when I applied that changes using `kubectl apply -f deployment

[2021-01-27 05:03] #93013 closed

[2021-01-27 05:18] PriyankaH21 opened #98459 "[Flaky Test] [sig-network] A set of valid responses are returned for both pod and service ProxyWithPath"
**Which jobs are flaking**: `ci-kubernetes-kind-e2e-parallel`

**Which test(s) are flaking**: `[sig-network] Proxy version v1 A set of valid responses are returned for both pod and service ProxyWithPath
`

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&include-filter-by-regex=A%20set%20of%20valid%20responses

**Reason for failure**:

[code]
[code]

**An

[2021-01-27 05:19] shahincsejnu commented on #98457
/sig api-machinery

[2021-01-27 05:53] #97320 closed

[2021-01-27 07:14] agvaliente commented on #98448
Hello

Could you send me a guide with the steps ?

[2021-01-27 07:31] almas33 commented on #92402
Hello I am new here is this  what i should do for eg :-

in

`groupVersions := metav1.ExtractGroupVersions(apiGroupList)
	if !reflect.DeepEqual(groupVersions, []string{"v1", "extensions/v1beta1"}) {
		t.Errorf("expected: %q, got: %q", []string{"v1", "extensions/v1beta1"}, groupVersions)
	}`

change to:-

`if groupVersions := metav1.ExtractGroupVersions(apiGroupList) ;
   !reflect.DeepEqual(groupVe

[2021-01-27 07:31] agvaliente opened #98463 "An LDAP-aware authenticating proxy can be placed in front of the API server to deal with LDAP-based authentication, and forward identity info to the API server in request headers. Details of the support for an authenticating proxy are at https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authenticating-proxy"
An LDAP-aware authenticating proxy can be placed in front of the API server to deal with LDAP-based authentication, and forward identity info to the API server in request headers. Details of the support for an authenticating proxy are at https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authenticating-proxy

/sig auth
/close

_Originally posted by @liggitt in https://github.c

[2021-01-27 07:32] #98463 closed

[2021-01-27 07:36] BenTheElder commented on #92402
that sounds like a potentially reasonable change.

aside: client-go sources are actually in `staging/` canonically, `vendor/` is a symlink to allow other parts of the repo to import it for :reasons:

[2021-01-27 07:45] hanlins opened #98465 "NodePort service in ipvs mode depends on INPUT chain policy to be accessible externally"
**What happened**:
Similar to https://github.com/kubernetes/kubernetes/issues/97225, when `INPUT` chain in `filter` table has policy `DROP`, node port service in `ipvs` mode is not working.

**What you expected to happen**:
`ipvs` mode for `kube-proxy` should have consistent behavior as `iptables` mode. For `iptables` mode, even if we change policy for `INPUT` chain to `DROP`, we can still access

[2021-01-27 07:45] hanlins commented on #98465
/sig network
/assign

[2021-01-27 07:48] almas33 commented on #92402
should I do that in `staging/`

[2021-01-27 07:55] hanlins commented on #98465
Currently working on https://github.com/kubernetes/kubernetes/pull/97824 which has similar symptoms for healthcheck node port. Will file a PR for the fix after that change got accepted to avoid conflicts.

[2021-01-27 08:01] hanlins commented on #98465
In https://github.com/kubernetes/kubernetes/pull/97824 I added a chain `KUBE-NODE-PORTS` in the `filter` table, and an ipset of bitmap:port type named `KUBE-HEALTH-CHECK-NODE-PORT`. If that change got accepted, to fix this issue I just need to add another ipset for node port services and one more rule in chain `KUBE-NODE-PORTS`.

[2021-01-27 08:18] #95814 closed

[2021-01-27 08:29] uablrek commented on #98419
Or better yet use another method like;
[code]

BTW I removed this flawed test and build happily on Ubuntu 18 without any problem.

[2021-01-27 08:30] aojea commented on #98099
With the split we moved from >60 mins to run the test, to run 2 tests in [30-40] mins each
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness&include-filter-by-regex=should%20be%20able&width=20&graph-metrics=test-duration-minutes
Seems a win :smile:

[2021-01-27 08:32] wojtek-t commented on #98099
Awesome - that's something I was silently counting for TBH :)
[I doubt it will fix flakiness, but maybe it will make it easier to debug...]

[2021-01-27 09:20] wzshiming commented on #98399
remove `selector`

[2021-01-27 09:21] wzshiming commented on #98399
/kind support

[2021-01-27 10:06] verb commented on #98253
@chymy That makes sense, thanks for debugging. So it looks like we need a better error message [here](https://github.com/kubernetes/kubernetes/blob/release-1.20/staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go#L669)

[2021-01-27 10:18] pmbibe commented on #98399
It's work but I do not understand why :) Can you explain to me why we must remove ```selector```.

[2021-01-27 10:22] wzshiming commented on #98399
`selector` Is to match the pod and write the pod's IP to the endpoint.

[2021-01-27 10:29] pmbibe commented on #98399
I will check it tomorrow. Thank you for helping. And the last question, how service can detect endpoint by itself ? By labels or name and namespace ?

[2021-01-27 10:32] wzshiming commented on #98399
Service and endpoint have the same name and namespace.

[2021-01-27 10:41] denisMihaylov opened #98471 "kube-controller-manager: Garbage Collector is removing Resources with owner reference to Custom Resource"
**What happened**:

We are having a CRD defining a custom kind. We are then having an operator that manages resources - Deployments and Services based on created CRs from this custom kind. All of the created resources have an owner reference pointing to the CR. We leave the cluster running 24/7 and at some point we notice that all resources with the owner reference pointing to the CR are gone. In

[2021-01-27 11:09] borgerli commented on #98410
@bowei Thanks for your reply.
1. scheduler: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/v1beta1/defaults.go#L154
  Other components: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/config/v1alpha1/defaults.go#L86

2. This will enable the /debug/pprof endpoint on kube-proxy metrics server: https://github.com/kubernetes/kubern

[2021-01-27 11:10] lorenz opened #98473 "Allow changing pod log directory"
**What would you like to be added**:
Kubelet currently hardcodes the path of pod log dirs here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L62

It would be nice if this was configurable.

**Why is this needed**:
Not having this configurable is quite annoying for locked-down systems with read-only filesystems where one needs tight controls ov

[2021-01-27 11:10] lorenz commented on #98473
/sig node

[2021-01-27 11:22] pacoxu commented on #98473
Two workarounds would be

- mount your path to /var/log/pods
-  or make a  symbolic link to your path

However this is still a nice feature request.

[2021-01-27 11:24] pacoxu commented on #98473
/area kubelet
will send a PR after feature approve.

[2021-01-27 11:24] zheng199512 commented on #92223
but i I shut down a master by 'poweroff' , i didnt see that  pods by marked notready at this bad nodes.becase renewed lease ???
[code]

[2021-01-27 11:29] unixfox commented on #94625
/remove-lifecycle rotten

[2021-01-27 11:33] lorenz commented on #98473
I just patched the hardcoded path as this project builds K8s itself anyways. But it would be nice if this wasn't necessary, that's why I opened this feature request.

[2021-01-27 11:41] sanwishe opened #98474 "secret was deleted due to failure of update serviceaccount.Secrets after is was used or referenced by pod"
**What happened**:

[code]

[code]

I found in the code of `tokenController` that a secret may be deleted due to various reasons, such as failed  updating the secret reference in service account:

[code]

But the are many scenes, kubeClient create a serviceaccount, and then it watches secrets until it find the first secret passes kube-apiserver's authentication(For example, the `SAControllerClient

[2021-01-27 12:05] dims commented on #96564
CVE in gogo-protobuf https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-3121

[2021-01-27 12:07] pacoxu commented on #98450
If there is a resource quota of CPU/memory for the namespace and min limit range for container level, the number of containers in the namespace would be limited.

BTW, why add the limit in kubelet , not in apiserver or an admission-controller like `limit ranger` or `resource quota`?

- what is the default limit, 5 or 10 or ?
- need we count init-containers or ephemeral containers?

[2021-01-27 12:19] pacoxu commented on #98471
Can you share a simple yaml of deployment with ownerReference to CR for me to reproduce it?

[2021-01-27 12:28] denisMihaylov commented on #98471
This is taken from our Cluster. You can see there is owner reference to EdgeMonitoring which is our custom CRD

apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    meta.helm.sh/release-name: edge-monitoring-servh48df
    meta.helm.sh/release-namespace: edgelm
  creationTimestamp: "2021-01-15T17:07:42Z"
  generation: 1
  labels:
    app.kuber

[2021-01-27 12:32] aaalex474 commented on #70231
There is one more reason to add this event.
Now I find no way to check when the pod gets ready. (It gets ready when the readiness probe passes for the first time)

[2021-01-27 12:35] pacoxu commented on #98471
I tested with a similar case with a crd like below. The crd's scope isNamespaced in my case.
[code]

Deployment yaml
[code]

[2021-01-27 12:39] denisMihaylov commented on #98471
Reproducing is hard on this one. It seems that it is some timing issue

[2021-01-27 12:40] uniemimu opened #98475 "statefulset pvc template annotation is missing from the created pvc"
**What happened**:
I created a statefulset with an annotated pvc template

**What you expected to happen**:
I expected the created pvc to have my annotation

**How to reproduce it (as minimally and precisely as possible)**:
Create statefulset with a pvc template that has an annotation. Deploy. Use kubectl to describe created pvc, check annotations.

**Anything else we need to know?**:
Copying of a

[2021-01-27 12:41] sunchill06 opened #98476 "kubelet_volume* / persistent volume metrics missing for ceph rbd"
**What happened**:

I am trying to get kubelet_volume_* metrics., but don't see any.

`k get sc
NAME                    PROVISIONER    RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
sc-rbd (default)     ceph.com/rbd   Delete          Immediate           false                  50d`

`curl -s http://localhost:9090/metrics -k|grep kubelet_volume|wc -L
0`

**What you expected to happen

[2021-01-27 12:52] pacoxu commented on #98459
I meet these failures several times.

For sig-network PR merged at Jan 21th, I find only #95503. I will test on this later.

[2021-01-27 12:54] pacoxu commented on #98471
I will try to do something like restarting or pause ` kube-controller-manager` or `apiserver` or `etcd`.

[2021-01-27 13:47] pacoxu commented on #98476
maybe similar with #97138 （1.19.0-1.19.4 not work）&（1.19.5+ work）

[2021-01-27 13:51] Thoro opened #98479 "apiserver logs error message when using /proxy to an unavailable endpoint"
**What happened**:
I upgraded from 1.15 and am using prometheus to scrape my pods via the proxy functionality. Previously no error message was being printed, now with 1.19.9 every try results in an error:

Example url: https://x.x.x.x:6443/api/v1/namespaces/staging/pods/proxy-app-588d688877-6sxfx:80/proxy/metrics

[code]

**What you expected to happen**:

No error message to be logged, since the a

[2021-01-27 13:53] jkemp101 commented on #45234
/reopen

[2021-01-27 13:54] neolit123 commented on #98419
i do not disagree with that. looks like the right people are already assigned to your PR.

[2021-01-27 13:55] Thoro commented on #98479
/sig api-machinery

[2021-01-27 13:58] ankeesler commented on #98451
/assign

[2021-01-27 14:12] liggitt commented on #98474
in 1.20+, SAControllerClientBuilder will use bound tokens rather than secret-based tokens. I think we should work to reduce use of the secret-based tokens rather than make significant changes to the token controller cleanups.

/assign @zshihang

[2021-01-27 14:12] liggitt commented on #98474
/sig auth

[2021-01-27 14:15] liggitt commented on #98471
Is the custom resource namespaced or cluster-scoped? if namespaced, does it exist in the same namespace as the created resources? An owner reference to a namespaced object that is not in the same namespace is not a valid reference. controller-manager treatment of these references was non-deterministic prior to 1.20 (https://github.com/kubernetes/kubernetes/issues/65200, fixed in https://github.com

[2021-01-27 14:16] liggitt commented on #98471
https://github.com/kubernetes-sigs/kubectl-check-ownerreferences is a tool you can run against your cluster to identify invalid ownerReferences that would trigger this non-deterministic behavior prior to 1.20

[2021-01-27 14:34] damemi opened #98480 "serviceSpreadPriority not properly scoring nodes after being mapped to podTopologySpread"
**What happened**:
`SelectorSpreadPriority` and `ServiceSpreadPriority` were mapped to `PodTopologySpread` in https://github.com/kubernetes/kubernetes/pull/95448. However, in some scheduling runs with `serviceSpreadPriority` enabled, the (newly mapped) topology spread plugin reports `score: 0` for all nodes, leading to pods being scheduled on the same node instead of being spread.

[code]

**What

[2021-01-27 14:35] damemi commented on #98480
/cc @alculquicondor @ingvagabund

[2021-01-27 15:00] wojtek-t commented on #98099
Actually - I think we're getting close thanks to the two changes (https://github.com/kubernetes/kubernetes/pull/98181 + this one).

Here is the run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1354036770185940992

This particular one filed on UDP (not sure if it's just UDP-related, or just manifested with UDP now).
And we have a clear failure now:

[2021-01-27 15:04] alculquicondor commented on #98480
Can you show the output of the component config?
Nice thing that you added it :)

[2021-01-27 15:05] wojtek-t commented on #98099
Actually - the full stacktrace:
[code]

So it's this line that failed:
https://github.com/kubernetes/kubernetes/blob/a38b7e5ecbf2aa3c960957235024ac7c3a444103/test/e2e/network/loadbalancer.go#L463

What is interesting is that something was changing during those 45 minutes:
[code]

[2021-01-27 15:06] wawa0210 opened #98482 "After kubectl taint node, taint time will not be recorded"
**What happened**:

When executing `kubectl taint node`, the taint time should not be added to the taints data structure, it is not actually recorded

as example
[code]
We can see that the taint time is not recorded

**What you expected to happen**:

taint should record the operating time

Normally it should be as follows

[code]

**How to reproduce it (as minimally and precisely as possible)**:
E

[2021-01-27 15:08] wawa0210 commented on #98482
/assign

I will try to fix this issue

[2021-01-27 15:10] wojtek-t commented on #98099
Note that it's 4th time we actually wait for LB in this test.

The failure happens after the pod were scaled down to 0 and then to 1.

So that makes me think, that's it's actually not LB-related, but rather something internally in k8s, becuase L4 LB doesn't depend on pods - it targets nodes...

[2021-01-27 15:10] ingvagabund commented on #98480
[code]

[2021-01-27 15:15] avarf opened #98483 "How to renew certificates on Kubernetes?"
**What happened**:
Yesterday I found out that kubectl commands are not working on our k8s cluster and after some digging, I found out that the reason is our certificates have been expired after 1 year. Based on K8s documentation (https://v1-16.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/) you can renew your certificates manually by running `kubeadm alpha certs renew` whi

[2021-01-27 15:27] alculquicondor commented on #98480
oh, I think I know why. Do your nodes have zone label?

This might be related to the Note here: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#internal-default-constraints

Unfortunately, that means that you cannot use policy API and configure default spreading, which is technically a regression.

[2021-01-27 15:30] alculquicondor commented on #98480
The workaround would be to add a zone to all the nodes.

But perhaps we can do something more in code (effectively lifting the note above). If `defaultingType: System`, ignore non-existing labels. @Huang-Wei WDYT?

[2021-01-27 15:32] ingvagabund commented on #98480
We have `failure-domain.beta.kubernetes.io/zone:` and `topology.kubernetes.io/zone:` label keys set. Any other labels missing?

[2021-01-27 15:41] alculquicondor commented on #98480
`topology.kubernetes.io/zone` and`kubernetes.io/hostname` are the correct ones.

Does this reproduce without the Policy API?

[2021-01-27 15:48] damemi commented on #98480
Is `ServiceSpreadPriority` available as a CC plugin? I thought the only way to set that was with policy API

[2021-01-27 15:55] alculquicondor commented on #98480
TopologySpreadConstraints with `defaultingType: System` is the ServiceSpreadPriority

[2021-01-27 15:57] jsturtevant commented on #98444
/sig windows

[2021-01-27 16:01] kfirfer commented on #98450
Hi @pacoxu
Yes, you right, limit on the resource quota seems more appropriate place instead kubelet config
And counting init/ephemeral containers as-well sounds good

I have setup resources limits of CPU/Ram, and also min limit-range,
But its harder to mitigate abuses if the min limit-range is small

[2021-01-27 16:03] wojtek-t commented on #97294
@thockin - FYI (especially Jordan`s comment above)

[2021-01-27 16:04] jsturtevant commented on #98444
Could you share some kubelet logs and what a sample pod spec looks like?  I've tried to reproduce this in a cluster with a pod spec like the following and was not able to.

[code]

[2021-01-27 16:15] cdavidbrewer commented on #98444
This is a spec for a deployment where the pod is stuck in "Initializing"

kind: Deployment
apiVersion: apps/v1
metadata:
  name: exp-app-site-4af58314-385c-eb11-a606-dc98402bf0f4
  namespace: exp-stage
  selfLink: >-
    /apis/apps/v1/namespaces/exp-stage/deployments/exp-app-site-4af58314-385c-eb11-a606-dc98402bf0f4
  uid: c24c4631-7e7c-469a-ab71-1fb26f03f192
  resourceVersion: '53582496'
  genera

[2021-01-27 16:21] cdavidbrewer commented on #98444
[aksnpwin1000000-20210107-123045_logs.zip](https://github.com/kubernetes/kubernetes/files/5881542/aksnpwin1000000-20210107-123045_logs.zip)

With the Verbose logging turned to 5, I was able to reproduce the problem with pod: exp-app-site-029836d6-7d50-eb11-a607-0004ffb07b92-7b87445fdgbmk

These are logs we collected with the help of Microsoft Support, following their instructions below.

1.	Downlo

[2021-01-27 16:23] thejoycekung commented on #98180
/cc @kubernetes/sig-apps-bugs

[2021-01-27 16:23] cdavidbrewer commented on #98444
[docker logs d3c4d3ab7b03a4275227853fbb3a4e554aa47f95e9974384076b64eaf454382c.txt](https://github.com/kubernetes/kubernetes/files/5881561/docker.logs.d3c4d3ab7b03a4275227853fbb3a4e554aa47f95e9974384076b64eaf454382c.txt)

These are logs we collected with the "Docker Logs" command on one of the nodes

[2021-01-27 16:28] liggitt opened #98486 "Umbrella issue: slow/timing-out unit tests"
running `make test KUBE_RACE=-race` locally, several packages have very slow unit tests, and some timed-out entirely

The default per-package timeout for `make test` is 120 seconds (which is already much longer than I would expect).

The following packages had tests that ran longer than 30 seconds on my workstation. Running tests on CI machines regularly takes 2-3x as long. Anything longer than 60

[2021-01-27 16:33] smarterclayton commented on #95587
I think this is impossible, because you can have people implementing workload controllers that mature at different rates and have different pod specs, kubelets, and pod template spec levels.  If you mean, just in Kube, it's trivial (and allowed) to create a webhook that breaks this assumption, so it's not as if the controllers can bypass it.  There are plenty of valid but non-working pod templates

[2021-01-27 16:35] city commented on #41025
[ERROR SystemVerification]: failed to parse kernel config: unable to load kernel module: "configs", output: "modprobe: FATAL: Module configs not found in directory /lib/modules/4.19.79-1.ph3-esx\\n",

basically you can see the mismatch here
root@photon-master [ ~ ]# ls /boot/config*
/boot/config-4.19.164-3.ph3-esx
root@photon-master [ ~ ]# uname -r
4.19.79-1.ph3-esx
root@photon-master [ ~ ]#
THEY

[2021-01-27 16:41] aojea commented on #97294
There is an interesting difference on the logs between the working and not working cluster, the failing one has a leader change error that doesn´t happen in the working

can you check in the etcd logs, in the nonworking apiserver, if it has been isolated from the cluster or is not in sync with the others, hence causing that the apiserver in that node can not get the data

[2021-01-27 16:45] liggitt commented on #98486
Tagging specific sigs/people

- @kubernetes/sig-cluster-lifecycle @neolit123 for cluster-lifecycle
- @kubernetes/sig-apps-bugs @soltysh for cronjob
- @kubernetes/sig-network-bugs @bowei for nodeipam
- @kubernetes/sig-node-bugs @kubernetes/sig-scheduling-bugs @ahg-g @SergeyKanzhelev for node lifecycle
- @kubernetes/sig-storage-bugs @msau42 for volumes
- @kubernetes/sig-api-machinery-bugs @lavalamp

[2021-01-27 16:47] denisMihaylov commented on #98471
Hi, The CRD is namespaces and the CR is in the same namespace. It is a valid reference and it has been working for days. I am not sure if the tool is going to work in our case, because for me it seems that for a split second kubernetes says there is not such CR, and after that in my investigation I can find the CR so it should not be possible. We are also observing this with other resources in dur

[2021-01-27 16:50] liggitt commented on #98471
Are there other invalid references to the CR instance from other items (either cluster-scoped items or items in another namespace)? The presence of invalid references can pollute the garbage collector controller's understanding of the relationships between objects.

[2021-01-27 16:54] fongrx7 commented on #90077
I have the same problem with 1.18, haven't found a solution yet

[2021-01-27 16:57] aojea commented on #95706
Sadly i am unaware of any part of the documentation that would be fitting for a short remark on this however i feel that more people might walk into this in the future and since it effectively shuts down the whole cluster if the change is performed live on all master nodes at once it might warrant a short word of advise somewhere.

Thanks for reporting and your comments, I´m going to close it to a

[2021-01-27 16:57] #95706 closed

[2021-01-27 16:58] carlory commented on #98035
/assign

[2021-01-27 17:00] dem4gus commented on #90077
@yanhuibin315  @fongrx7 the correct api version should be `networking.k8s.io/apps/v1beta1`. It appears your yaml is missing the final `1`.

[2021-01-27 17:01] aojea commented on #98099
If it is always UDP, I start to see ghosts between GCE and UDP ... we only have KIND to compare against, or do we have some other non gce enviroment?

[2021-01-27 17:07] lavalamp commented on #95587
It is clearly impossible in theory, even without splitting the types!

In practice, however, it might be possible. Splitting types would be increase slightly the chance of a template that can't instantiate triggering a hot-loop retry bug in a controller.

IMO the way controllers should address this is via webhook admission controller: when the template object is created, attempt a dry-run POST of

[2021-01-27 17:11] denisMihaylov commented on #98471
We do not have any invalid references. There might be some owner references from cluster wide resources like cluster role, but still I am more concerned about the deployments inside the same namespace. Could invalid reference on cluster wide resource affect other resources with the same owner?

[2021-01-27 17:13] neolit123 commented on #98486
some package just have a lot of code.
i'm sure there are things that can be optimized, but if not, does that mean we need to reduce coverage to be under 30 seconds for a package, or split the package to comply with this rule?

[2021-01-27 17:13] liggitt commented on #98471
Yes. Prior to 1.20, whichever child is observed first determines the namespace coordinate the GC controller uses to look up the parent. If the first observed child is invalid, the GC controller can get confused and consider the parent absent. This is one of the issues fixed in https://github.com/kubernetes/kubernetes/pull/92743

[2021-01-27 17:17] ehashman commented on #98356
I don't think we're going to do this but pulling in people with more context...

/cc @thockin @DirectXMan12
can you provide a little more context on how this will look in the logr world?

/priority awaiting-more-evidence

[2021-01-27 17:18] ehashman commented on #98356
/triage unresolved

[2021-01-27 17:19] ehashman commented on #98251
/kind support
/remove-kind bug
/triage accepted

[2021-01-27 17:20] liggitt commented on #98486
multi-minute-long unit tests are typically a symptom of one of the following:
* running benchmark-style tests in a unit test (e.g. https://github.com/kubernetes/kubernetes/issues/98322)
* exercising operations that involve time delays and waiting real clock times instead of using a fake clock (https://github.com/kubernetes/kubernetes/pull/93839#discussion_r468936718)
* something actually running i

[2021-01-27 17:30] #89360 closed

[2021-01-27 17:35] denisMihaylov commented on #98471
Hm, I will check the resources and if we have such invalid resource will close the issue

[2021-01-27 18:03] wojtek-t commented on #97846
It seems we're mostly understanding the issue - we're trying to confirm last remaining details.

But the bottomline is that it doesn't seem to be golang-related - golang seem to be fine.

We will update the issue once we confirm the remaining details.

[2021-01-27 18:04] justaugustus commented on #97846
Thanks for the update, @wojtek-t!

[2021-01-27 18:08] ailox commented on #54923
I don't get the point of this bot.

The bot will keep trying to close this issue, but I suspect as soon as it succeeds another Issue will take its place: There is clearly an Interest in this issue, so I'll keep "refreshing" this issue until someone tells me to stop.

I don't like doing this, since it just adds noise to this discussion, and will spam everyone observing or participating in this issu

[2021-01-27 18:09] smarterclayton commented on #95587
Slightly less user friendly, but FAR more broadly applicable, since that can happen for other reasons already (bad webhook, pod security, quota, etc etc etc) and getting really good at this closes off a whole class of problems (worse is better).  Although I think we're pretty good at this today because if we aren't it almost always brings down the controller manager (some worlkoads lack conditions

[2021-01-27 18:21] aojea commented on #98486
/cc

[2021-01-27 18:31] #86026 closed

[2021-01-27 18:31] #92198 closed

[2021-01-27 18:58] immanuelfodor commented on #54923
At least we are all reminded that this is still an issue and we need a solution 😃 (btw totally agree, a "ping-bot" should be fine for the same use case and it wouldn't close it mistakenly)

[2021-01-27 19:15] alculquicondor commented on #98480
I'm trying to reproduce while introducing a few log lines in scoring. However, my docker installation is somehow busted, so I can't run kind.

Earlier I noticed a log line in kube-scheduler indicating that it didn't have permission to list ReplicationControllers, so maybe that's related. However, the Service should cover for that. Have you tried creating the Service ahead of time?

And again, also

[2021-01-27 19:38] Bessonov commented on #65502
/remove-lifecycle stale

[2021-01-27 19:44] tallclair commented on #55435
I'm closing this since PSP is being deprecated in v1.21.

[2021-01-27 19:44] #55435 closed

[2021-01-27 19:45] abitrolly commented on #54923
I was about to unsubscribe, and then thought that maybe there is still something nice to do about this bottery, so I've created the issue in `test-infra`.

[2021-01-27 20:08] smarterclayton commented on #90179
I'll note here I was considering something that is maybe the logical inverse of this:

1. replace both live etcd read and watch cache with a single watch fed cache on all etcd objects that are part of the kube model
2. perform decode from storage exactly one time per object revision
3. allow logical indices on that cache (cluster, resource, multiple resources, namespaces) to support other types of

[2021-01-27 20:12] Huang-Wei commented on #98480
@damemi It's available as a plugin. And you have to enable it explicitly via CC, and also ensure the args.affinityLables is not nil.

[2021-01-27 20:21] Huang-Wei commented on #98480
So the root cause is that the cluster has both legacy topology labels (failure-domain.beta.kubernetes.io/*) and the up-to-date ones?

[2021-01-27 20:33] logicalhan commented on #90179
I'm not crazy about this approach. From my read, it sounds like you basically want an etcd-lite living inside apiserver, bringing along with it other things we'd have to be worried about, like compacting MVCC versions in the apiserver cache. Given the possibility that a user can have multiple etcds configured for different resource types, the complexity of this approach makes it considerably less

[2021-01-27 20:39] msau42 commented on #91834
/remove-lifecycle rotten

[2021-01-27 20:40] msau42 commented on #98486
https://github.com/kubernetes/kubernetes/issues/91834 was opened for k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler

[2021-01-27 20:43] alculquicondor commented on #98480
We haven't found the root cause. My guess was that the nodes didn't have the required labels, but that's not the case.

I think you are referring to the ServiceAffinity?

[2021-01-27 20:46] alculquicondor commented on #98480
@ingvagabund can you check the scheduler logs to see if it has any issues listing ReplicationControllers and Services?

[2021-01-27 20:48] ehashman commented on #95916
/remove-priority awaiting-more-evidence

/cc @rphillips @harche

[2021-01-27 20:51] thockin commented on #98099
@bowei @freehan - this does not look "normal".  Can we give some prio to helping track this flake?

[2021-01-27 20:57] ingvagabund commented on #98480
There are no issues though checking the nodes in this particular case I don't see any zone labels set :-| Looks like we don't see zone labels in every cloud provider instalation.

[2021-01-27 20:58] bowei commented on #98486
@robscott looks like endpointslice tests are pretty slow

[2021-01-27 20:59] bowei commented on #98486
@rahulkjoshi nodeipamcontroller

[2021-01-27 21:01] krystiannowak commented on #3595
/remove-lifecycle stale

[2021-01-27 21:02] bowei commented on #98099
hmm interesting. we will investigate.

[2021-01-27 21:02] bowei commented on #98099
/assign

[2021-01-27 21:03] alculquicondor commented on #98480
Awesome!

We can still think about https://github.com/kubernetes/kubernetes/issues/98480#issuecomment-768365650
as this is a breaking change.

[2021-01-27 21:03] cloudlady911 commented on #80897
i am using an ALB with ssl termination at the ALB.
I installed nginx-ingress using these instructions: https://kubernetes.github.io/ingress-nginx/deploy/#tls-termination-in-aws-load-balancer-elb

These are the config map settings:
[code]
I am wondering if the setting you out lined would contradict any of these settings.

[2021-01-27 21:04] logicalhan commented on #98270
In the SIG api-machinery meeting today, we agreed that the stable version of this metric should be named 'apiserver_storage_object_count'

[2021-01-27 21:06] cloudlady911 commented on #80897
And the externalTrafficPolicy is set to Local

[code]

[2021-01-27 21:28] lavalamp commented on #90179
How can this work when collections may be in distinct etcd clusters? (events commonly configured that way)

I don't want to write a database, do you? (actually that sounds really fun, I just don't think this is the place)

I think an etcd / watchcache layer that understood the object format and could do the right conversions (so that apiserver can pass through bytes rather than decoding watch even

[2021-01-27 21:43] lavalamp commented on #95587
I mean, why not both? :)

[2021-01-27 21:46] alexeldeib commented on #54923
/lifecycle frozen

[2021-01-27 21:47] smarterclayton commented on #90179
They can be configured that way but I'm not sure that's where the value is.  Sharding by namespace is out.  Sharding by resource is.... not that great.  In production across the clusters i have data on at least (post the event spam fixes) events are not even a plurality of the write rate of a cluster.

Watch cache is half a database.  Our informers are half a database.  I think tipping them over t

[2021-01-27 22:03] lavalamp commented on #90179
Are you trying to build memcached?

At least part of what you're saying overlaps with what I want, I think.

I think there's much easier solutions, like techniques that permit lists to be partially successful and latch in some progress, so the client can just keep trying and eventually successfully get everything. See this issue's sibling: https://github.com/kubernetes/kubernetes/issues/90339

I'm

[2021-01-27 22:05] Riaankl commented on #90877
Feedback from the Conformance meeting: 26 Jan 2021
Look like a good test to write once update as proposes around watch events.
Once update a PR will be created for the test.
@spiffxp  is a little concerned that this type of test might cause flakes, but will comment if more solid data become available.

[2021-01-27 22:06] Riaankl commented on #90877
/assign @heyste

[2021-01-27 22:19] Riaankl commented on #98459
@PriyankaH21 Thank you for noticing.
The flake has been addressed in PR #98345 by @heyste
The PR got an `/gltm' label, only need `/approve` to solve the flake as the timeout is now more in line with the rest of the related tests.

[2021-01-27 22:23] alculquicondor opened #98490 "[Flaky Test] //staging/src/k8s.io/apiserver/pkg/server/options:go_default_test"
**Which jobs are flaking**:

pull-kubernetes-bazel-test

**Which test(s) are flaking**:

 //staging/src/k8s.io/apiserver/pkg/server/options:go_default_test

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-bazel-test&include-filter-by-regex=apiserver%2Fpkg%2Fserver%2Foptions

**Reason for failure**:

[code]

Sample: https://prow.k8s.io/view/gcs/kubernetes-

[2021-01-27 22:36] Riaankl commented on #98459
@pacoxu , sorry missed you in my first comment.

[2021-01-27 23:02] liggitt commented on #91834
also, when run with `-race`, it can take even longer than shown above

[2021-01-27 23:06] jingxu97 opened #98492 "in-tree storage driver for Windows has issues when create container: mount point does not exist"
Starting from v1.20, many storage tests with in-tree driver start to flake. Checking the log, it shows that volume attach/mount all succeeded, but when creating container, get the error message

Failed: Error: Error response from daemon: invalid volume specification: 'c:\var\lib\kubelet\pods\7173f517-76c4-48e7-894d-bd9e6d92ca51\volumes\kubernetes.io~azure-disk\pvc-6ece396b-2beb-4fc2-8265-5deed43d9

[2021-01-27 23:06] jingxu97 commented on #98492
/sig storage
/sig windows

[2021-01-27 23:13] aojea commented on #92369
let me ping @danwinship, ^^^ his opening in this topic is really needed

[2021-01-27 23:29] erain commented on #98270
Thanks and will use `apiserver_storage_object_count` in the PR.

(And sorry for missing today's meeting - due to a conflict)

[2021-01-27 23:53] julianvmodesto commented on #98219
Ack my bad :( will cherry-pick for 1.19

[2021-01-28 00:00] ehashman commented on #98206
/triage accepted

[2021-01-28 00:09] aojea commented on #85443
/remove-lifecycle rotten
I don't remember if this is in one KEP yet

[2021-01-28 00:16] karan opened #98494 "Restarting containerd (and kubelet) does not impact "runtime" startTime in summary API"
**What happened**: Containerd (and optionally the kubelet) was restarted.

**What you expected to happen**: `runtime`'s `startTime` should be the restart time.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

I would expect the time to change. The reason why it does not is because cAdvisor is looking in the cgroup fs and finding the oldest modified time of `cgrou

[2021-01-28 00:17] karan commented on #98494
/sig node

[2021-01-28 00:21] apelisse commented on #10179
/cc @xiaobaitusi

[2021-01-28 00:24] SergeyKanzhelev opened #98495 "Try to speed up controller/nodelifecycle/scheduler unit tests"
`k8s.io/kubernetes/pkg/controller/nodelifecycle/scheduler` tests are using real time delays in `pkg/controller/nodelifecycle/scheduler/timed_workers_test.go`. Example: https://github.com/kubernetes/kubernetes/blob/4b3d6369dd204c38959d4f508c7a3a3d3d81eb35/pkg/controller/nodelifecycle/scheduler/timed_workers_test.go#L64-L75

Need to check whether they can be re-written to use fake clock instead.

Re

[2021-01-28 00:25] kow3ns commented on #95587
Now that we have a server side dry at stable (since 1.18 iirc) it seems reasonable to do a dry-run prior to creation.

We added conditions to all the workloads API Status types (for built ins) prior to v1 promotion but we don't universally populate them. We could (should) use them to communicate invalid desired state specification.

[2021-01-28 00:31] aojea commented on #18174
/cc

[2021-01-28 00:51] lavalamp commented on #98486
connrotation probably has something else wrong with it, but I can explain 50s of the 74s, sent #98496

[2021-01-28 00:53] heqg opened #98497 "Is it necessary to disable the container health check function for sanbox like the service container"
**What would you like to be added**:

Is it necessary to disable the container health check function  for sanbox like the service container in [docker_sandbox.go]。
related to：
https://github.com/kubernetes/kubernetes/issues/25829
https://github.com/kubernetes/kubernetes/pull/50796

**Why is this needed**:
[kubenetes]： As our sanbox container （pause）, it is generally not like the service container

[2021-01-28 00:56] SergeyKanzhelev commented on #98495
It looks like timeouts were increased to avoid flakes: https://github.com/kubernetes/kubernetes/pull/61730

[2021-01-28 00:59] heqg commented on #98497
sig/node

[2021-01-28 00:59] #98452 closed

[2021-01-28 01:13] PriyankaH21 commented on #98459
Thank you for updating this ticket with the related PR! @Riaankl @pacoxu
I'll close this as soon as the #95503 is merged!

[2021-01-28 01:14] PriyankaH21 opened #98498 "[Flaky Test] [sig-storage] PersistentVolumes-local [Volume type: dir-bindmounted] Two pods mounting a local volume one after the other should be able to write from pod1 and read from pod2"
**Which jobs are flaking**: `ci-kubernetes-kind-e2e-parallel`

**Which test(s) are flaking**: `PersistentVolumes-local [Volume type: dir-bindmounted] Two pods mounting a local volume one after the other should be able to write from pod1 and read from pod2`

**Testgrid link**:  https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&include-filter-by-regex=bindmounted%5D%20Two%20po

[2021-01-28 01:17] yangjunmyfm192085 commented on #98497
Is this reasonable?
If this change is reasonable, I will deal with it.
/assign @ehashman

[2021-01-28 01:17] SergeyKanzhelev commented on #98495
can easily shave off 20 seconds be decreasing timeouts back. I'll investigate though what it will take to just switch to fake clock

[2021-01-28 01:24] wawa0210 commented on #98482
/sig cli

[2021-01-28 01:30] Huang-Wei commented on #98480
oops, indeed. Nvm :)

[2021-01-28 01:35] PriyankaH21 opened #98499 "[Flaky Test] [sig-windows] Services should be able to create a functioning NodePort service for Windows"
**Which jobs are flaking**:

- `ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd`
- `ci-kubernetes-e2e-windows-gce-serial`
- `ci-kubernetes-e2e-windows-gce-1909`

**Which test(s) are flaking**:  `Services should be able to create a functioning NodePort service for Windows`

**Testgrid link**:   https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-windows-master-contain

[2021-01-28 01:50] PriyankaH21 opened #98501 "[Flaky Test] [sig-apps] CronJob should delete failed finished jobs with limit of one job"
**Which jobs are flaking**: `ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd`

**Which test(s) are flaking**: `CronJob should delete failed finished jobs with limit of one job`

**Testgrid link**:   https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-windows-master-containerd&include-filter-by-regex=CronJob%20should%20delete%20failed%20finished%20jobs%20with%20limit%

[2021-01-28 01:59] adammw commented on #95159
@mikedanese what should be the next steps here - are you awaiting more evidence from us or the rest of the community to see if its a wider issue?

[2021-01-28 02:22] Huang-Wei commented on #98480
@alculquicondor If users specify SelectorSpreadPriority, internally we set the defaulting type of PodTopologySpread to `System`, and that [pluginConfig](https://github.com/kubernetes/kubernetes/blob/2b38078de1c655221b16dfd8f953b628ea7abe93/pkg/scheduler/framework/plugins/legacy_registry.go#L340-L342) will be valid for [Filter](https://github.com/kubernetes/kubernetes/blob/d4418c1402188947cac992de9

[2021-01-28 02:59] sunchill06 commented on #98476
@pacoxu I don't think its related to 97138  as I can see the local PV stats but not the dynamic PVs created by ceph rbd storage class.

[2021-01-28 03:03] pacoxu commented on #98459
@Riaankl  I just do simple research according to date. Thanks for your information.

[2021-01-28 03:09] pmbibe commented on #98399
Thank you very much. It seem to work.

[2021-01-28 03:09] #98399 closed

[2021-01-28 03:12] jqmichael opened #98506 "Force deleting pods not working after deletionGracePeriodSeconds set to a negative value"
**What happened**:
Some k8s client tried to evict a pod by setting negative value for deletionGracePeriodSeconds. But all eventual delete calls (and force-delete calls) made by kubelet, pod-garbage-collector, etc were not able to delete that pod, because apiserver doesnt allow deletionGracePeriodSeconds to be increased once it is set. So force-delete (which set it to 0) doesn't take effect when it

[2021-01-28 03:12] smarterclayton commented on #90179
Nope.  Kube is a distributed system.  A core pattern we have is a consistent replicated state cache (not quite a viewstamped replicated state machine).  Controllers are trying to select sets and subsets of full cluster content efficiently, then offer the same efficiency to local consumers.  Kubelets, the namespace controller, and the gc controller are "mega watchers" that have to watch everything-

[2021-01-28 03:13] jqmichael commented on #98506
/sig  api-machinery
@smarterclayton

[2021-01-28 03:28] lavalamp commented on #90179
They do pretty different things, so I'm a little skeptical that there's a big win to be found here. If we were going to make a write-through cache of some sort then this would make more sense to me.

Yeah the cluster can fall off a cliff here. I think we should explore tactical fixes before architectural ones. You don't even have to get as fancy as #90339, honestly we could fix it client side with

[2021-01-28 03:31] BenTheElder commented on #93782
this is still flaking in the 1.20 branch : confused : https://github.com/kubernetes/kubernetes/pull/98462 https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98462/pull-kubernetes-e2e-kind/1354606943389356032 as of one hour ago

[2021-01-28 03:36] wzshiming commented on #98506
/assign

[2021-01-28 05:54] matti commented on #69696
/remove-lifecycle stale

[2021-01-28 06:34] juan-chan commented on #35183
Any update? I have the similar requirement now. I want a hook to do something when a job is deleted (or a pod is terminated). I tried to use the `preStop` hook, but it didn't work when I try to delete my jobs in a cron-job.

[2021-01-28 06:47] jsturtevant opened #98509 "Windows Kubelet stats/summary endpoint returns "Internal Error: failed to list pod stats: failed to list all container stats on Windows""
**What happened**:

When reviewing Windows kubelet logs noticed errors like:

[code]

[code]

**What you expected to happen**:
The stats should be returned

**How to reproduce it (as minimally and precisely as possible)**:
This occurs when the pods has just started or during termination. To simulate the issue:

[code]

Then deploy pod:

[code]

**Anything else we need to know?**:

The container is

[2021-01-28 06:51] jsturtevant commented on #98509
cc: @abelhu

[2021-01-28 06:57] CaoDonghui123 opened #98511 "Pod running on NotReady node all the time"
**What happened**:
I have three nodes. when I shutdown  `cdh-k8s-3.novalocal` ,pods running on it all the time
[code]
[code]

**What you expected to happen**:
Pod status change to Unknown

**How to reproduce it (as minimally and precisely as possible)**:
step:
[code]
**Anything else we need to know?**:
yaml
[code]

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Clo

[2021-01-28 07:03] pacoxu commented on #98486
I’m working on the ‘kubeadm cert’ package. @neolit123

[2021-01-28 07:13] mkorbi opened #98512 "[Failing Test] bazel-build-master process timeout"
**Which jobs are failing**:
* Overall
**Which test(s) are failing**:
The overall pipeline is failing 100%

**Since when has it been failing**:
Jan 27 3:28 PST
**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#bazel-build-master
https://testgrid.k8s.io/sig-release-master-informing#bazel-build-master

**Reason for failure**:
Process timeout

` {"component":"entrypoint","file":"p

[2021-01-28 07:19] lala123912 opened #98513 "If the value of Hugepage memory request is not integer multiple of page size, the memory allocated by system less than request"
**What happened**:
If the value of Hugepage memory request is not integer multiple of page size, the memory allocated by system less than request.

Example 1:
Request:
[code]
Pod was created successfully, and described the pod.
[code]
the actual value:
[code]
**What you expected to happen**:
Report error when the value of  Hugepage memory request is not integer multiple of page size.

**How to rep

[2021-01-28 07:22] lala123912 commented on #98513
/sig storage
/sig api-machinery

[2021-01-28 07:22] lala123912 commented on #98513
/assign

[2021-01-28 07:44] #94332 closed

[2021-01-28 08:01] lala123912 commented on #98513
/sig node

[2021-01-28 09:04] aojea commented on #98066
I see 2 possible solutions, label the Service with
https://github.com/kubernetes/kubernetes/blob/9f2f1b8c460b4b5ec8bfcd34490fb259ebad65b0/pkg/proxy/apis/well_known_labels.go#L20-L22

or set ClusterIP to None

[2021-01-28 09:09] mkorbi commented on #98512
just had a short chat with @saschagrunert seems like its part of the RelEng
/sig release

[2021-01-28 09:55] lingsamuel commented on #96149
@Treyone I am writing a KEP user-story, could you share moreinformation about your usecase?

When re-reading your description, I am confused why the scheduler couldn't re-schedule the crashed pod to the previous node.
If the node selector matches only 1 node, the crashed pod should also be scheduled to that node. If the node selector matches multiple nodes, AFAIK, there is no guarantee that these

[2021-01-28 09:57] chenyw1990 opened #98520 "kubelet don't cleanup duplicated running containers"
**What happened**:
In our cluster, a node's docker has some problem. after the node restarts, the docker response is very slow. after all pods become running, we find that a pod on this node has duplicated running containers.

**What you expected to happen**:
kubelet’s ContainerGC can cleanup duplicated running containers

**How to reproduce it (as minimally and precisely as possible)**:
I simulat

[2021-01-28 09:57] chenyw1990 commented on #98520
/sig node
/assign

[2021-01-28 09:59] dnzlde commented on #24873
In case someone still searches here for the answer, like me.
Currently there's an easier way to do it - actually get last applied yaml files, without added empty fields:
`kubectl apply view-last-applied <resource> <name>`
Like this:
`kubectl apply view-last-applied configmap nginx-config`

[2021-01-28 10:05] CaoDonghui123 commented on #98511
I find the [Doc](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#taint-nodes-by-condition)
[code]

I'm not sure if this needs to be fix

[2021-01-28 10:06] adriananeci commented on #90801
/remove-lifecycle stale

[2021-01-28 10:41] lunhuijie commented on #98511
there are two vars
one is --node-monitor-grace-period. it's used to change the status of node(ready to notready)
another is --pod-eviction-timeout. this para was used to change the pod status(means make this pod which in notready node drive out to others node). Also you can set it in pod's yaml by using such para(tolerationSeconds).
i tried it
wait 300s you will found the status of pod had been ch

[2021-01-28 12:18] aojea commented on #98419
This is breaking downstream CIs, I´ve found this today in one of thems
[code]

@BenTheElder @dims  is not possible to relax this to 4.2?

/sig-testing

[2021-01-28 12:22] ipatrykx commented on #98066
@aojea Thank you, well known label seems to work :)

[2021-01-28 12:30] kramerul opened #98525 "Updating ValidatingWebhookConfigurations doesn't work"
**What happened**:

We tried to update the following diff (helm template) to a cluster

[code]

This is what we saw before the update:

[code]

After this, we updated the resource

[code]

Afterwards it looked like this:

[code]

As you can see the v1alpha10 configuration is missing

**What you expected to happen**:

`kubectl` updates the resource correctly

**How to reproduce it (as minimally and

[2021-01-28 12:37] kramerul commented on #98525
/sig api-machinery

[2021-01-28 12:37] saschagrunert commented on #98512
Alright, so the job should usually not take longer than ~10min. There is not much useful information within the logs as far as I can see…

[2021-01-28 12:38] uablrek commented on #98419
Better to not use the "test -v" options at all since it is completely unnecessary, see https://github.com/kubernetes/kubernetes/issues/98419#issuecomment-768122324.

It is not very user-friendly to enforce a global upgrade when there is absolutely no need. Ubuntu 18 has 4.2 but others may not.

[2021-01-28 13:15] nikhita commented on #98419
@aojea https://github.com/kubernetes/kubernetes/pull/98420 :)

[2021-01-28 13:16] aojea commented on #98419
He , that was fast :)

[2021-01-28 13:19] xmudrii commented on #97294
Thank y'all for responses! Once again, sorry for the delay, the university is keeping me really busy these days.

I've created two clusters, one based on 6675eba3eff1c8 (#91824), and another based on d0e06cf3e02742 (one commit before #91824). The infrastructure was created in the same way for both clusters, and the clusters were provisioned in the same way.

The clusters were provisioned by follow

[2021-01-28 13:53] gavinfish commented on #97813
Hi @ahg-g after all these work, I am a little bit confused about your word ` nominated pods will need to be tracked as PodInfos rather than pods.`. I am afraid it will not help to reduce PodInfo construction now. Could you please explain more about it?

[2021-01-28 14:17] alculquicondor commented on #98480
No, because the System default doesn't have hard pod affinity.

[2021-01-28 14:22] SerialVelocity commented on #90042
/remove-lifecycle rotten

[2021-01-28 14:43] #98229 closed

[2021-01-28 14:51] #91465 closed

[2021-01-28 15:21] alexcristi commented on #98423
/sig api-machinery

[2021-01-28 15:27] liggitt commented on #97294
Just to double check, the `kubectl get` commands were run with kubectl talking to the first node (the non-working one), correct?

[2021-01-28 15:30] xmudrii commented on #97294
@liggitt Yes, that's right. I've explicitly modified the kubeconfig file to talk directly to the node instead of to the load balancer.

[2021-01-28 15:32] spiffxp commented on #98512
May be related to https://github.com/kubernetes/test-infra/issues/20628

[2021-01-28 15:59] anthcor commented on #74551
Just noticed this myself with a fresh single node installation.

[code]

Port forwarding didn't work at first

[code]

When I let kubectl decide the host port, port-forwarding worked!

[code]

Then forwarding to the same port on the host worked!

[code]

[2021-01-28 16:02] wojtek-t commented on #97846
To add a bit more details to it - there were some internal changes which resulted in some underlying machine architecture having much more predictible networking characteristics than others.

With our jobs requiring high predictability, the recommendation from Google networking engineers was to simply migrate the jobs to new enough architecture (Skylake+) which we did in: https://github.com/kubern

[2021-01-28 16:02] #97846 closed

[2021-01-28 17:16] jayaram250 opened #98534 "NodeAffinity issue for preemptible nodes"
This is the current configuration that is running in a GCP GKE-cluster,
kubernetes version: 1.18.12-gke.1205
Release channel: Regular channel
Master zone	: Asia-south1-c
node-version : 1.18.12-gke.1205
Pre-emptible nodes: Enabled

We are facing the below error for preemptible nodes whenever the node is restarted and this error is specific to all the pods running in that node. But we are not using

[2021-01-28 17:22] ehashman commented on #98497
/kind support
/remove-kind bug
/unassign

Going through the previous issues, I agree with Derek, it makes sense that we support health checks at a layer above the CRI (via readiness and liveness probes) rather than in the container runtimes themselves. https://github.com/kubernetes/kubernetes/issues/25829#issuecomment-220203223

The errors pasted above should have been fixed in Docker per https://

[2021-01-28 17:22] #98497 closed

[2021-01-28 17:25] ehashman commented on #98534
/sig node

Take a look at #92067 and https://github.com/kubernetes/kubernetes/pull/94087.

This was fixed in 1.21.

There are cherry-picks pending for 1.19 and 1.20 for the next patch release.

This has not been fixed in 1.18 because the backport doesn't merge cleanly and I don't have the time to get it working: https://github.com/kubernetes/kubernetes/pull/97997

/close

[2021-01-28 17:25] #98534 closed

[2021-01-28 17:26] spiffxp commented on #98512
/area release-eng
/sig testing
/triage accepted
FWIW I consider the ci bazel build jobs to be less critical (I'm not sure their output artifacts are consumed by anything) and was going to open a PR moving them to release-informing today.  WDYT @kubernetes/release-engineering ?

There is an open issue to move them off RBE and over to community-owned infra (ref: https://github.com/kubernetes/test-in

[2021-01-28 17:26] spiffxp commented on #98512
/priority important-soon

[2021-01-28 17:39] jsturtevant commented on #98499
/triage accepted

/assign
/cc @ravisantoshgudimetla

[2021-01-28 17:41] jsturtevant commented on #98501
/triage accepted

[2021-01-28 17:59] chris13524 commented on #18982
Alternative to revoking certificates, one could implement [Webhook access control](https://kubernetes.io/docs/reference/access-authn-authz/webhook/) in a higher priority than Node or RBAC which would enable immediate denial of access as well as denial of later certificate renewal.

So in affect one can disable authorization but not authentication.

Are there any security concerns with having a val

[2021-01-28 18:00] Huang-Wei commented on #98480
Thanks, I see `systemDefaultConstraints` is with WhenUnsatisfiable=ScheduleAnyway.

[2021-01-28 18:06] karan commented on #98494
/triage accepted

[2021-01-28 18:44] chaitanyabandi opened #98537 "Conformance tests should probably not Update annotations but Patch them with Merge"
In our Tanzu Supervisor Cluster k8s setup, we observe that the "should verify that a failing subpath expansion can be modified during the lifecycle of a container" conformance test fails. The root-cause seems to be that the test is updating the pod annotations, thereby resulting in removing the other annotations present in the pod object. Removing the custom annotations that we use causes the test

[2021-01-28 18:48] aojea commented on #98537
/sig storage
/sig conformance
I personally agree that it should not remove existing annotations, but better ask the test owners

[2021-01-28 18:52] damemi commented on #89930
I discussed this issue in the sig-scheduling meeting today, but here is a comprehensive update on the current status of this.

Taking a more targeted approach to this, we want to better define the goals:
1. Make plugins independently importable by external projects (eg, Descheduler) by decoupling them from internal k8s.io/kubernetes packages
2. Similarly decouple scheduling framework dependencies

[2021-01-28 18:53] ahg-g commented on #97813
I was referring to the possibility of removing this instantiation: https://github.com/kubernetes/kubernetes/blob/d54e4498fcd37ac96f215d13ea1306f1f219a68f/pkg/scheduler/framework/runtime/framework.go#L673

to do this, we will need to change the [nominatedPodMap](https://github.com/kubernetes/kubernetes/blob/d54e4498fcd37ac96f215d13ea1306f1f219a68f/pkg/scheduler/internal/queue/scheduling_queue.go#L7

[2021-01-28 19:26] Treyone commented on #96149
The affiinity rule I used is the following:
[code]
I need this pod to be co-located on the same host as the pod with this label. There's only one pod with this label, so I think only one node matched the rule, but maybe I'm missing something ?

[2021-01-28 19:31] PaulCharlton opened #98539 "need to keep the application running, but require the restart of an entire pod instead of just a container"
#24725

**What would you like to be added**:

.spec.template.spec.restartPolicy [pod spec] must allow values other than "Always"

**Why is this needed**:

see #24725

This requirement is especially true for single-container pods.   The pod state [volume mounts, networking] can get corrupted and cause a container restart.   If the pod does not restart, the stale/corrupted state is still present whe

[2021-01-28 19:38] spiffxp commented on #90277
/sig api-machinery
since this references generated api docs

I'm not sure exactly what the scope of work is here and so am reticent to tag it with /help

[2021-01-28 19:39] spiffxp commented on #94900
/priority important-longterm

[2021-01-28 19:41] #98419 closed

[2021-01-28 19:44] spiffxp commented on #94901
/priority important-longterm
I will circle back on the PR's I blocked now that https://github.com/kubernetes/community/pull/5243 is merged

[2021-01-28 19:46] spiffxp commented on #94901
/remove-help
Going to take off /help until I can provide clearer breakout/instructions

[2021-01-28 19:47] PaulCharlton commented on #98539
/sig architecture
/sig apps
/wg "k8s infra"

relationship of pod lifecycles to container lifecycles

[2021-01-28 19:47] spiffxp commented on #94901
/milestone v1.21
Would like to see if we can drive this completion in v1.21 timeframe

[2021-01-28 19:48] PaulCharlton commented on #98539
/wg k8sinfra

[2021-01-28 19:49] neolit123 commented on #98511
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-01-28 19:49] #98511 closed

[2021-01-28 19:50] neolit123 commented on #98483
hello, support questions should go on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

you can also try #kubeadm on k8s slack.

/kind support
/close

[2021-01-28 19:50] #98483 closed

[2021-01-28 19:51] neolit123 commented on #98476
/sig storage

[2021-01-28 19:51] neolit123 commented on #98475
/sig storage

[2021-01-28 19:53] #98447 closed

[2021-01-28 19:53] neolit123 commented on #98396
/sig storage

[2021-01-28 19:54] neolit123 commented on #98396
you can also ask in #sig-storage on k8s slack

[2021-01-28 19:54] jsturtevant commented on #98235
Looked into this alittle and found that there is cadvisor "shim" for Windows which is why we get some information like `kernel` number and such in the stats.

The Windows specific cadvisor overrides: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_windows.go

The "shim" that does the work: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/winstats/

[2021-01-28 19:56] #94336 closed

[2021-01-28 19:57] alculquicondor commented on #96149
There are 2 Pods, say A and B. The rule above sets a dependency B->A

If A gets removed, `requiredDuringSchedulingIgnoredDuringExecution` won't cause B to be rescheduled. If B gets removed, and a B2 replacement comes in, it should go into the same Node.

[2021-01-28 20:10] lavalamp opened #98541 "Reflector: always succeed when listing a collection that is too large."
Today, if a collection is too large, a LIST might not be able to finish in the 60s time out, and then it is impossible for a controller to start.

If the controller uses multiple paginated LIST requests, that is better, but it must be able to get through the entire collection before the next compaction event (every 2.5 minutes).

Fortunately this can be fixed client-side without any server changes

[2021-01-28 20:11] lavalamp commented on #90179
I wrote this up since it's probably not obvious: https://github.com/kubernetes/kubernetes/issues/98541

[2021-01-28 20:13] lavalamp commented on #90179
Yeah, that was my point, I don't think we do need a write-through cache (or anything in the category), and therefore I don't see the benefit of a big architectural change :)

[2021-01-28 20:13] lavalamp commented on #98541
/sig api-machinery

[2021-01-28 20:15] ialidzhikov commented on #88896
Ah, I now see https://github.com/kubernetes/kubernetes/issues/67250. Closing this issue as duplicate of https://github.com/kubernetes/kubernetes/issues/67250.

[2021-01-28 20:15] ialidzhikov commented on #88896
/close

[2021-01-28 20:15] #88896 closed

[2021-01-28 20:32] jsturtevant commented on #98444
Are you able to provide a reproduction with a deployment or pod that can be run outside your environment?  The spec here: https://github.com/kubernetes/kubernetes/issues/98444#issuecomment-768389492  looks pretty close to yours but not 100%.  I am not able to repo with the spec I built

[2021-01-28 20:52] cdavidbrewer commented on #98444
I am not able to reproduce this problem outside of our Dev cluster. I have created 10+ other clusters with the same deployments and can not reproduce the issue in any of them. Before re-creating the Dev cluster we wanted to try and understand why the problem occurred to avoid it happening in a Production scenario.

[2021-01-28 20:59] lavalamp commented on #98541
There are optimizations possible, e.g. step 5 can be done simultaneously. Also if we don't want the client to compare RV numbers, the client has to start a separate watch that corresponds with each new list start.

[2021-01-28 21:30] fredrickprashanth commented on #98447
For posterity, this is being built into kube-proxy as [Topology Aware proxying](https://github.com/kubernetes/enhancements/issues/2030#issuecomment-701056673)

[2021-01-28 21:44] jsturtevant commented on #98444
Makes sense.

Do you have a pod id that is stuck from the logs you shared? I tried searching for the deployment name and found nothing.

[2021-01-28 21:46] ccokee commented on #87491
I have this issue too.

[2021-01-28 21:48] willdeuschle opened #98548 "New resource versions in k8s upgrade can cause namespaces stuck in terminating"
**What happened**:
We operate clusters with 3 apiservers. We also run 3 kube-controller-managers, colocated on the same node as the apiserver, but only one of those is the leader. k-c-m only every communicates with the apiserver on its local node.

During upgrades, we roll one host at at a time (meaning there is a brief period of time < 1hr during which we're running apiservers/k-c-m on two differ

[2021-01-28 21:58] cdavidbrewer commented on #98444
The Pod id should be: exp-app-site-029836d6-7d50-eb11-a607-0004ffb07b92-7b87445fdgbmk

[2021-01-28 22:04] dims commented on #68026
thanks everyone for getting us this far. We essentially gave up on the existing structure/system for golint:
https://github.com/kubernetes/kubernetes/pull/98063

At some point we can look at adding golangci-lint, there's a WIP in progress in https://github.com/kubernetes/kubernetes/pull/93656

/close

[2021-01-28 22:04] #68026 closed

[2021-01-28 22:07] chaitanyabandi commented on #98537
May I request the original author @kevtaylor to weigh in on this? Thank you.

[2021-01-28 22:18] qiutongs commented on #94085
Sorry for not having a chance to work on this. I plan to work on this in the coming week.

[2021-01-28 22:29] kevtaylor commented on #98537
I dont have any issues with the code change to a merge but what would bother me is that conformance tests are being altered by outside influences which doesnt seem particularly right. I think this would be for the sig storage owners to decide

[2021-01-28 22:42] #94791 closed

[2021-01-28 22:56] jsturtevant commented on #98444
It looks like the main container started:

docker.txt
[code]

and hcs thinks it is running:

hcsdiag.txt
[code]

docker.csv
[code]

And the system shows it started and got attached to a network:

hyper-v-compute.csv
[code]

And kubelet PLEG got notified it started shortly after:

[code]

but there is no "generating status" or updates from the status manager which I would expect (this posts to api

[2021-01-28 23:36] jsturtevant commented on #98492
just had this fail in a pr: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/98510/pull-kubernetes-e2e-azure-disk-windows/1354911040021729280

[2021-01-28 23:36] gjkim42 commented on #98539
Could you give us your deployment.yaml ? :)

[2021-01-28 23:56] vazudew commented on #22294
Tried on "Ubuntu 16.04.7 Xenial LTS" and 1.20 K8S

	0. on master install weave Net add on

	   curl -o weave.yaml https://cloud.weave.works/k8s/v1.8/net.yaml
	   cat weave.yaml (inspect the content )
	   kubectl apply -f weave.yaml
	   however here daemonset did not get created (K8S version 1.20)

	1. As root, in all nodes (including Master) edit file /var/lib/kubelet/kubeadm-flags.env => remove t

[2021-01-29 00:03] PaulCharlton commented on #98539
@gjkim42

[code]

[2021-01-29 00:07] PaulCharlton commented on #98539
@gjkim42

we get the following if we insert the value `Never`

[code]

[2021-01-29 00:10] Antiarchitect commented on #98283
That's what I see (`tcpdump | grep kube`) on `kubectl get namespaces` as you can see all goes momentarily but these packets are coming with a noticeable delay. It seems to me that the network stack is not involved in this.

[code]

[2021-01-29 00:11] PaulCharlton commented on #98539
see also: https://stackoverflow.com/questions/59301413/set-pod-restart-limit

being able to automatically restart a "pod" is essential for many failure modes.   it happens automatically when a node is drained or goes out of service.    One major point of having N replicas where N is greater than 1 is so that the LB can continue routing to the good pods while something takes care of the bad pod.

[2021-01-29 00:26] yangjunmyfm192085 commented on #98497
Hi, @ehashman,thank you for reply,
But i have a question.
#50796 ,this  pr does not fix the check of the puase container.
we can fix it by add code in file docker_sandbox.go:
Healthcheck: &dockercontainer.HealthConfig{
Test: []string{"NONE"},
},

[2021-01-29 00:28] ehashman commented on #98497
@yangjunmyfm192085 feel free to open a PR with bugfix and tag me

[2021-01-29 00:30] verult commented on #97985
Adding another related task here: Once PD CSI driver installation is in kube-up, we should remove the separate installation in e2e tests.

https://github.com/kubernetes/kubernetes/blob/4a8b2d377ba51124c0277ed4e25afe2eeefda085/test/e2e/storage/drivers/csi.go#L480

[2021-01-29 00:34] heqg commented on #98497
@ehashman  @yangjunmyfm192085
thanks。

[2021-01-29 00:54] keke8273 commented on #36117
Same issue here. My deployment started to create new replicaSet after I set `revisionHistoryLimit` in the manifest file.

[2021-01-29 00:56] jsturtevant commented on #98492
fyi @andyzhangx @feiskyer

[2021-01-29 01:00] #98260 closed

[2021-01-29 01:01] #91345 closed

[2021-01-29 01:22] spikeburton commented on #67455
Any update on this issue? Automating the creation / removal of extended resources with Ansible is difficult at the moment

[2021-01-29 01:51] #98004 closed

[2021-01-29 02:23] wangkai1994 commented on #90042
Update:

[2021-01-29 02:42] Huang-Wei commented on #94009
/reopen

[2021-01-29 02:52] smileusd opened #98556 "kubectl describe node should show hugepage usages"
**What would you like to be added**:
[code]
Here should add HugePage Limits and Requests.
And here also should summarize these usages：
[code]
**Why is this needed**:
It can be more clear know how much nodes hugepage usages if pod was pending for hugepage exceed capacity

[2021-01-29 02:53] smileusd commented on #98556
/kind storage

[2021-01-29 02:53] smileusd commented on #98556
/sig storage

[2021-01-29 02:53] smileusd commented on #98556
/sig kubectl

[2021-01-29 02:54] smileusd commented on #98556
/area kubectl

[2021-01-29 03:03] #92906 closed

[2021-01-29 03:08] CaoDonghui123 commented on #98511
@lunhuijie  I think it has nothing to do with these two vars. I add this in YAML
[code]
it may fix it

[2021-01-29 03:08] yangjunmyfm192085 opened #98557 "Is it reasonable that apiserver sets the timeout period for etcd's health check to 2s?"
**What happened**:
kubelet use livenessProbe to probe the health status of kube-apiserver container.
When probe  kube-apiserver container,if etcd continues to respond to health requests very slowly
will cause detection failure.
Eventually the apiserver container will be restarted.
**What you expected to happen**:
kube-apiserver can tolerate slow response of etcd health check.
**How to reproduce it

[2021-01-29 03:09] yangjunmyfm192085 commented on #98557
If need to deal with,I will fix it.

[2021-01-29 03:11] yangjunmyfm192085 commented on #98557
/sig Storage
/sig Usability
/sig Node

[2021-01-29 03:20] lunhuijie commented on #98511
what 's my means is that's a normal scenes。
see https://www.qikqiak.com/post/kubelet-sync-node-status/ for more

[2021-01-29 03:37] lingsamuel commented on #96149
:thinking: well I misunderstanding the context. I thought we are talking about the NodeAffinity.
Personally, I don't think the runtime constraint of PodAffinity can be implemented due to algorithm complexity... The `RequiredDuringExecution` is also only mentioned in the node affinity section.

[2021-01-29 03:42] CaoDonghui123 commented on #98511
you mean if I wait for 5m0s, the status of pod had been changed?  I wait one-night pod Still running

[2021-01-29 03:54] dougsland commented on #98482
/cc

[2021-01-29 03:54] dougsland commented on #98482
/triage accepted
/priority backlog

[2021-01-29 04:00] pacoxu commented on #98525
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/admissionregistration/v1/types.go#L126-L130
The patchMergeKey for ValidatingWebhookConfiguration  webhooks array is name.

So for the patch on the resource, you should use different name
[code]

If you create with your yaml, I got errors like below:
[code]

My cluster version is 1.20.

[2021-01-29 04:23] smarterclayton commented on #90179
What I was describing is the watch cache but better integrated and more efficient.  The more efficient is the key point.

[2021-01-29 04:50] chymy commented on #98457
can you using  `kubectl resume pause deployment/nginx-deployment` eventually ?

[2021-01-29 05:37] shahincsejnu commented on #98457
when I `resume` the deployment by using `kubectl rollout resume deployment/nginx-deployment` then new replicaset created with creating 5 new pods applying the changes (updated the `image: nginx:1.16.1`).

[2021-01-29 06:17] lunhuijie commented on #98511
a mistake para of kubelet will cause it happen (i want to set nodeStatusUpdateFrequency = 4s but  set nodeStatusUpdateFrequency = "4s"), when i cat logs of kubelet, i found nothing, at this time, pod will not change its status. Check your paras again, if there are no more problem ,maybe you can propose another issue and remind me. thanks a lot!

[2021-01-29 07:19] johnhec opened #98564 "io.fabric8.kubernetes.client.KubernetesClientException: too old resource version"
Experiencing repeated "too old resource version" onClose() exceptions in a Watcher object. The resource being watched, a Job, runs for several hours but (typically) after 80-100 minutes I always encounter a "too old resource version" exception. I re-create the Watch object, but after another period (35 minutes in one case) I encounter another "too old resource version" exception.

I keep re-creati

[2021-01-29 07:37] BenTheElder commented on #98419
this is actually not an equivilant check, but it is possible to implement one without using -v

I left a comment on the original PR with how to do this.

[2021-01-29 07:42] BenTheElder commented on #98419
see: https://github.com/kubernetes/kubernetes/pull/97699#discussion_r562415136

`test -v` reports _if the variable was set_, which includes `FOO=""`

[code]

In this case I do think the intent was to check if the variable was set or not.

It's still possible to do without `test -v` but it's a big more ... arcane.

Kubernetes has long required a reasonably up to date bash FWIW, on macOS you cannot

[2021-01-29 07:47] CaoDonghui123 commented on #98457
I will try to fix it

[2021-01-29 08:02] chymy commented on #98457
No problem.

[2021-01-29 08:16] andyzhangx commented on #97304
fixed by https://github.com/kubernetes/test-infra/pull/20657
not always run in the beginning, should trigger manually:
[code]

[2021-01-29 08:16] andyzhangx commented on #97304
/close

[2021-01-29 08:16] #97304 closed

[2021-01-29 08:25] andyzhangx commented on #98492
it's an intermittent issue, happens more frequently in statefulset e2e test:
https://testgrid.k8s.io/provider-azure-windows#pr-k8s-azure-disk-e2e-master-windows

[2021-01-29 08:52] sxllwx commented on #97294
FYI, I think there is a key difference between the two logs provided by @xmudrii that in v1.19.2

The key log indicates that the cacher about the `*core.Service` has been `updated` to the latest, so the webhook call can be completed normally.

[2021-01-29 09:32] saschagrunert commented on #98512
Yeah we already have a `bazel-build-master` job on `sig-release-master-informing`: https://testgrid.k8s.io/sig-release-master-informing#bazel-build-master, so I'm in favor of that.

[2021-01-29 09:33] heqg commented on #55713
got same problem as @erkules

[root@node1:/tmp]$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"archive", BuildDate:"2021-01-28T14:12:24Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d36

[2021-01-29 09:41] Gui13 commented on #94359
Is there any way to help you guys regarding this?

If the bug bounces between stale & rotten & "fresh" I'm not sure that it will move much.

Are we the only ones impacted by this problem ?

[2021-01-29 10:57] Makesh-Gmak commented on #24669
Thanks @ptrovatelli for the detailed steps and @JonasAnastacio for the reference (https://medium.com/@superseb/get-your-certificate-chain-right-4b117a9c0fce)

I was facing chaining issue because I modified the start and end tag of the certs like mentioned in https://github.com/kubernetes/kubernetes/issues/24669#issuecomment-445858536 , ie. modified ```-----BEGIN CERTIFICATE-----``` of intermediate

[2021-01-29 11:10] CapOM opened #98570 "Service refuses traffic to endpoints after updating the selected pod label"
**What happened**:

When the pod label selector is "updated" right after creating the service, the Pod, through the service, is only accessible after the next iptables sync period, which can be between 10s and 1min in GKE.

During this period the client get a "connection refused" whereas when watching the endpoints for the given service it is shown that the endpoints 's "ready" ip address is alrea

[2021-01-29 11:16] CapOM commented on #98570
Here is a more detailed steps to reproduce:

You need 3 files:

busybox-pod.yaml:

[code]

nginx-pod.yaml:

[code]

nginx-service.yaml:

[code]

Then deploy the nginx pod and busybox pod:

[code]

Then exec into busybox:

`kubectl exec -ti busybox -- /bin/sh`

And run

`while true; do wget -O- http://nginx-service.default.svc.cluster.local:8080; sleep 0.5; done`

Then open a second terminal and ru

[2021-01-29 11:37] gjkim42 commented on #98539
How can we reproduce the case that restarting a container can't address the failure but restarting a corresponding pod can address the failure?
If there is a case, I want to address it.
/assign

[2021-01-29 11:59] kramerul commented on #98525
@pacoxu, Thank you for the fast response.

[2021-01-29 11:59] #98525 closed

[2021-01-29 12:28] matthyx commented on #52817
/assign

[2021-01-29 13:17] #98075 closed

[2021-01-29 14:05] alculquicondor commented on #94009
/triage accepted

[2021-01-29 14:08] rikatz commented on #20227
Hi :)

Does the kubectl debug command (https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container) with ephemeral containers solve this?

If so, this issue can be closed as the feature is already in Alpha, right?

cc @verb

[2021-01-29 14:09] rikatz commented on #20227
An additional thing, I understand that the idea is to open a local port that forwards the content to a side container, as an example so I actually don't know if you can create an ephemeral container and do a Port Forward into that.

Let me know if there's something else I'm missing here :)

[2021-01-29 14:14] rikatz commented on #23130
folks, is this still a problem on MacOS X? Or this issue can be closed?

As this is a Go problem, I don't know if this should remain open on Kubernetes repo or can be closed.

@liggitt when this ships into Go code, do you think we need to keep this issue opened and follow the compiler update (and provide this same update here?)

Thanks

[2021-01-29 14:15] wojtek-t commented on #90179
@smarterclayton

The former (watch scaling) is still a problem too. We just have this new problem of large lists.

So I actually think that the original part of watchcache (the serving watches part itself) is still needed. But I agree that it should be possible to put it very clearly on top of the cache you're proposing and it should also simplify this part (though I don't think we will be able to

[2021-01-29 14:19] PaulCharlton commented on #98539
@gjkim42 it will be fairly easy to produce a synthetic case that demonstrates the issue.   basically have the container exit with error when it sees a certain file in an ephemeral volume mount on the pod.    inject the file via kubectl exec into that container to trigger the test.   container restart will still see the file, pod restart will clear the file.

[2021-01-29 14:33] gavinfish opened #98573 "Scheduler: organize unit tests in subtests"
**What would you like to be added**:

Currently some unit tests in pkg/scheduler is not organized as https://golang.org/pkg/testing/#hdr-Subtests_and_Sub_benchmarks. Use subtests can make it easier to find out which case fails and leverage benefit of parallelism .

**Why is this needed**:

Follow Go test practice.

[2021-01-29 14:35] gavinfish commented on #98573
/remove-kind feature
/kind cleanup
/sig scheduling

/assign

[2021-01-29 14:53] pacoxu commented on #98548
/sig api-machinery
The failure message is added after #73405.

This is similar to https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-678704071.
Would you share the result of `kubectl get apiservice|grep False` from the upgraded apiserver as well as the old apiserver ?

Most likely, one of the kube-controller-manager is the leader, and you could find some error logs in that kube-con

[2021-01-29 14:56] pacoxu commented on #98548
/cc @caesarxuchao  @lavalamp as #96486 seems to be a dup issue.

[2021-01-29 15:22] pacoxu commented on #97577
Can you share the /version result json?
However, the kubectl is 1.20 and the server is 1.14 which is EoL.

[2021-01-29 15:53] damemi commented on #90136
/reopen
/remove-lifecycle rotten
reviving this to go with https://github.com/kubernetes/kubernetes/pull/98545, is it still viable to externalize feature gating logic like this?
cc @Huang-Wei

[2021-01-29 16:01] alculquicondor commented on #90136
What if instead we introduce an interface around feature gates in scheduler staging?

[2021-01-29 16:20] sxllwx commented on #97294
FYI. I compared logs, and personally feel that the problem may not be on the watchCache side. It can be seen from the log that the Cache of *core.Service has not been filled, and the resolve of `mutating webhook` is directly obtained from the lister corresponding to `svc-informer`, and the cache in the informer is still not synchronized. In the case of resolve,  `Not Found` error will indeed occur

[2021-01-29 16:53] sacheth003 commented on #94754
Hey @stefanlasiewski, I'm running into a similar issue and it's not feasible to simply upgrade to Ubuntu 20 to get around it. I couldn't fully make out whether there was a resolution from the bug that you filed. Was there a way to get around it, or was the resolution that the error wasn't "actually an error"?

[2021-01-29 17:26] jsturtevant commented on #98501
/sig windows

[2021-01-29 17:26] smarterclayton commented on #90179
Yeah, I think that's a key point.  We don't have a ton of tests that verify correctness at the storage level (conformance of specific behavior) and that complicates a bit of this, but an effort to grow those tests that LED to us then being able to go after some bigger wins / try out more options with confidence would be my desired state.  That can be separated from the short term tactical things w

[2021-01-29 17:26] jsturtevant commented on #98492
/triage accepted

[2021-01-29 17:30] jsturtevant opened #98574 "[Flaky Test] ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd CNI failed to parse json"
**Which jobs are flaking**:

ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd

**Which test(s) are flaking**:

several

**Testgrid link**:

https://testgrid.k8s.io/sig-windows-releases#aks-engine-azure-windows-master-containerd

**Reason for failure**:

CNI failed:

[code]

Containerd failed to create the pod:

[code]

**Anything else we need to know**:
- links to go.k8s.io/triage appr

[2021-01-29 18:17] aojea commented on #95570
This can be fixed with this approach https://github.com/kubernetes/enhancements/pull/1881

[2021-01-29 18:17] aojea commented on #95570
/remove-lifecycle stale

[2021-01-29 18:30] stefanlasiewski commented on #94754
@sacheth003

It's a bug within Ubuntu regarding the HWE kernel. When I uninstalled the HWE kernel, the problem went away.

I filed a bug report at https://bugs.launchpad.net/ubuntu/+source/linux-meta-hwe-5.4/+bug/1899690 . If you have the same problem, please add yourself as an "Affected User" to help raise the score.

It's also not feasible for us to simply upgrade to Ubuntu 20 to address one bug

[2021-01-29 18:30] stefanlasiewski commented on #94754
Also, this affects all versions that I've tried: Kubernetes 1.16, 1.17 & 1.18.

[2021-01-29 18:38] maplain opened #98577 "removal of service-proxy label on Endpoints is not reconciled"
**What happened**:
When the **service.kubernetes.io/service-proxy-name** label is removed from an Endpoints object, kube-proxy doesn't reconcile the service. Therefore, the Service stays unavailable.

**What you expected to happen**:
kube-proxy reconciles the Endpoints, removes the "no endpoints" iptable rule, and installs correct rules to enable accessbility.

**How to reproduce it (as minimally

[2021-01-29 18:39] maplain commented on #98577
/sig network

[2021-01-29 20:17] jsturtevant commented on #98235
There is now a kep for moving all of the stats to the cri: https://github.com/kubernetes/enhancements/pull/2364

[2021-01-29 20:36] welsh commented on #79365
I did the injection on the Namespaces level:
[code]
Alternatively you could apply on the Deployment level:
[code]

[2021-01-29 20:59] #96730 closed

[2021-01-29 21:07] mattfenwick opened #98581 "network policy warning message is misleading -- needs clarification"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Run the netpol test suite.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and versio

[2021-01-29 21:08] mattfenwick commented on #98581
/triage accepted

[2021-01-29 21:08] mattfenwick commented on #98581
/sig network

[2021-01-29 21:21] #89368 closed

[2021-01-29 22:10] Jiawei0227 commented on #75782
One more improvement is for CSI operations.
From the controller side we have the csi_sidecars that captures them. But from the node side we did not collect these metrics.

[2021-01-29 22:11] seadoherty commented on #90077
@fongrx7 sounds like we're in a similar spot.
Was able to get a little further but still wasn't 100% so if it helps...
Getting Version: 1.0.0 on http://172.17.0.3:31995/
Getting Version: 2.0.0 on posts.com/v2 (post.com is in etc/hosts as 172.17.0.3)
Was able to get there by creating a separate Service file

web-serv.yaml
[code]

example-ingress.yaml:
[code]

[2021-01-29 22:29] gjkim42 commented on #98539
@PaulCharlton
As you mentioned, we can reproduce the buggy case.

Here is the yaml file.
[code]

1. create deployment
2. `kubectl exec watch-file-xxx -- /bin/sh -c "touch /cache/init_file"`

then, the container inside of the pod will infinitely restart with error until manually restart the pod.
<img width="605" alt="Screen Shot 2021-01-30 at 7 28 45 AM" src="https://user-images.githubusercontent.c

[2021-01-29 22:30] sk-sharique commented on #46232
1. Get the list of running jobs.
[code]
2. Select the job that you want to stop using fg <process_id>. fg brings the job with the <process_id> into the foreground, resuming it if it was suspended.
[code]
3. Press Ctrl + C to end this process.

[2021-01-29 22:32] Huang-Wei commented on #90136
Another option the scheduler plugins are exercising is to leave the dependency (to pkg/features) in k/k, while providing a way to only rely on k8s.io/component-base/.../featuregate in the staging.

FYI: https://github.com/kubernetes/kubernetes/pull/98545#issuecomment-770028169 and https://github.com/kubernetes/kubernetes/pull/98583.

[2021-01-29 22:44] mtaufen opened #98585 "Add kube-apiserver metrics for non-resource URLs"
**What would you like to be added**:
Request metrics for non-resource-URL endpoints on kube-apiserver. AFAICT we don't have any (based on poking /metrics). Example endpoint: `$API_SERVER/.well-known/openid-configuration` wrt https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/1393-oidc-discovery.

Or I'm wrong and there's actually metrics for (some) of this stuff and there's somet

[2021-01-29 22:45] dougsland commented on #96919
/assign

[2021-01-29 22:45] mtaufen commented on #98585
/sig apimachinery

[2021-01-29 22:45] mtaufen commented on #98585
/sig api-machinery

[2021-01-29 22:50] liggitt commented on #98585
The issue with adding a metric for an arbitrary non-resource endpoint is that the labels you would have to add to the metric to make it identifiable would make the cardinality of the metric essentially unbounded (you could DOS the server by requesting  slight variants of an allowed prefix and make the API server create unbounded metric series labeled with all the paths you requested).

@logicalhan

[2021-01-29 23:00] lavalamp commented on #98585
We would have to canonicallize all paths to make that work.

Normally features add metrics for exactly the things they need to care about and aren't so interested in page hits. I recommend just making a metric that counts what you want to monitor rather than adding a general system.

[2021-01-29 23:24] logicalhan commented on #98585
Yeah, that's correct.

Yeah, this would probably be the easier approach..

[2021-01-30 00:36] mtaufen commented on #98585
Ok, thanks for the tips. I can see if I can add some feature-specific metrics.

If someone has a link to a kube-apiserver example, that'd be helpful.

[2021-01-30 00:51] BenTheElder commented on #79432
There is an established process for hosting images under the official kubernetes repository https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io

however, this sort of thing seems ripe for it's own subproject rather than having sources in kubernetes/kubernetes.

[2021-01-30 00:56] Huang-Wei commented on #96149
Indeed... What this issue is talking about is the "...RequiredDuringExecution" semantics of Pod(Anti)Affinity, which can be heavily relevant with performance - for any new pod and existing pod's update, you have to check if that breaks existing Pod(Anti)Affinity constraints.

[2021-01-30 01:17] SergeyKanzhelev commented on #79432
@coffeepac are you using this image? I wonder if anybody is using it and whether we can simply delete it.

[2021-01-30 01:21] SergeyKanzhelev commented on #79432
/remove-lifecycle stale

[2021-01-30 01:21] #98104 closed

[2021-01-30 01:21] #89264 closed

[2021-01-30 01:22] #98581 closed

[2021-01-30 02:09] monotek commented on #79432
The image is also used in the fluentd-elasticsearch helm chart:
https://github.com/kokuwaio/helm-charts/tree/main/charts/fluentd-elasticsearch

[2021-01-30 02:26] #72226 closed

[2021-01-30 02:38] shanemcd commented on #69028
/reopen

[2021-01-30 05:29] #91413 closed

[2021-01-30 05:29] #94412 closed

[2021-01-30 05:48] gjkim42 commented on #98570
I would like to address this.
/assign

[2021-01-30 09:03] #95707 closed

[2021-01-30 10:34] #92266 closed

[2021-01-30 10:34] #94366 closed

[2021-01-30 11:35] #94420 closed

[2021-01-30 12:10] kfirfer opened #98605 "[kube-controller-manager] Operation cannot be fulfilled, the object has been modified"
Kubernetes version: 1.20.2
Provisioned with kubeadm
Control plane nodes: 3
Worker nodes: 0

Im getting from `kube-controller-manager` component time-to-time this logs:

[code]

I also get those logs from different objects and different workloads

Don't know what is the root cause

[2021-01-30 12:11] kfirfer commented on #98605
/sig node

[2021-01-30 14:38] #90634 closed

[2021-01-30 15:47] mkorbi opened #98606 "[Flaky Test] integration-master: admissionwebhook.TestWebhookTimeoutWithoutWatchCache"
**Which jobs are flaking**:

- [integration-master](https://testgrid.k8s.io/sig-release-master-blocking#integration-master)

**Which test(s) are flaking**:
- k8s.io/kubernetes/test/integration/apiserver/admissionwebhook.TestWebhookTimeoutWithoutWatchCache
- k8s.io/kubernetes/test/integration/apiserver/admissionwebhook.TestWebhookTimeoutWithoutWatchCache/timed_out_client_requests_skip_later_mutatin

[2021-01-30 16:40] hasethuraman2 opened #98607 "Kubelet knob for housekeepingPeriod"
**What would you like to be added**:
Knob for housekeeping

**Why is this needed**:
https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/kubelet/kubelet.go#L145

When a node has 80-100 pods, and regularly the pod is being restarted for development purpose / crashloop/ other reasons for pod to get deleted and recreate; the housekeeping in syncloop takes between 15-45 seconds and sometimes

[2021-01-30 18:45] sftim commented on #98607
/sig node

[2021-01-30 18:56] sftim commented on #98411
Is this actually more of a SIG Cluster Lifecycle / documentation issue?

[2021-01-30 20:12] vorburger commented on #65204
see (open) #95826 and (closed) #94335- apparently this was recently fixed (but isn't released yet).

[2021-01-30 21:27] thejoycekung commented on #98606
/sig api-machinery
/area apiserver

[2021-01-30 21:35] gonssal commented on #25908
I just got hit by this issue when using the Cloud SQL Proxy and I'm in disbelief that there isn't a way to tell a (Cron)Job which containers to take into account to consider it completed. I was expecting something like:

[code]
But after reading the documentation, nothing. There's no way. Then I found this issue along with some others about sidecars in Jobs and also nothing except yet another side

[2021-01-30 22:00] magixus commented on #74249
same problem here with
**`ubuntu 18.04.5`** and **`kubeadm 18.6.0`**

[2021-01-30 23:18] szpak commented on #87840
/remove-lifecycle stale

[2021-01-30 23:19] kfirfer opened #98611 "Completed job and Running pod have the same IP Address"
Kubernetes version: 1.20.2
Provisioned with kubeadm
Control plane nodes: 3
Worker nodes: 0

I don't think this is expected behavior, but Completed pod and Running pod has the same IP Address

[code]

Even though completed job isnt running, would be nice to see a config flag that avoid such thing

[2021-01-30 23:19] kfirfer commented on #98611
/sig network

[2021-01-30 23:46] kfirfer opened #98612 "[kube-apiserver] Auditing failed of request: encoding failed"
Kubernetes version: 1.20.2
Provisioned with kubeadm
Control plane nodes: 3
Worker nodes: 0

Getting those logs from `kube-apiserver` component:

[code]

The auditing config yaml is:

[code]

[2021-01-30 23:47] kfirfer commented on #98612
/sig node

[2021-01-31 00:18] vnev commented on #98612
Hi I'd like to work on this issue if possible! Thanks

[2021-01-31 00:20] vnev commented on #98494
Hi, I'd like to take up this issue if possible. Thanks!

[2021-01-31 02:44] liggitt commented on #98612
It seems likely the type is not registered in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/register.go and https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/register.go

[2021-01-31 03:21] jayunit100 commented on #95073
/close

[2021-01-31 03:21] #95073 closed

[2021-01-31 03:33] jayunit100 commented on #96514
hiya folks, been wading through a huge backlog , havent gotten a chance to look at this.
anyone else want to take it?

[2021-01-31 03:35] jayunit100 commented on #94598
im going to close this - been a while since i originally created it, and things have changed since then

[2021-01-31 03:35] #94598 closed

[2021-01-31 04:59] gjkim42 commented on #98570
@CapOM
I have tested this at the k8s v1.20.0 however couldn't reproduce this.
(Launched kube-proxy with arguments `--iptables-min-sync-period=1m --iptables-sync-period=3m`)

[2021-01-31 05:53] #85499 closed

[2021-01-31 06:55] almas33 commented on #92402
Hi @BenTheElder I saw 3 declarations like that and corrected it ,unused variable declarations looks good; what else do I need to check

[2021-01-31 07:33] gjkim42 commented on #98611
I would love to address this.
/assign

[2021-01-31 08:56] #94400 closed

[2021-01-31 09:35] ns-jisorce commented on #98570
Hi @gjkim42 , thanks for trying, any chance you can try on 1.17 ? Just to make sure you can reproduce the problem and there is no other thing preventing the problem to happen.
Also can you share instructions to setup kube-proxy from scratch or any pointer ?

[2021-01-31 11:53] wzshiming opened #98628 "Fail pre-pulling images"
**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a networ

[2021-01-31 11:57] gjkim42 commented on #98611
Previous works:
https://github.com/kubernetes/kubernetes/issues/47265
https://github.com/kubernetes/kubernetes/pull/47806

According to the previous works, displaying the last available IP of that pod is intended. However, I think we should show blank IP to users if that pod's IP is not available.

/sig node

[2021-01-31 12:01] gjkim42 commented on #98539
/sig node

[2021-01-31 12:17] cofyc commented on #93297
Will this be implemented in 1.21?

[2021-01-31 12:38] gavinfish commented on #95952
/remove-lifecycle stale

[2021-01-31 14:12] wzshiming commented on #98628
/sig testing

[2021-01-31 14:17] jayunit100 commented on #98302
I also have a kep in place to clean up this stuff https://github.com/kubernetes/enhancements/pull/2158  , so that at least in the short term the ux is better @borgerli do you want to help me with that ?

[2021-01-31 14:17] jayunit100 commented on #98302
/assign

[2021-01-31 14:22] gjkim42 commented on #98570
Hi @ns-jisorce,
I've tested on 1.17.0 as well, but can't reproduce it. The nginx-service's endpoint appears less than 1s after updating label.

<img width="1680" alt="Screen Shot 2021-01-31 at 11 13 35 PM" src="https://user-images.githubusercontent.com/19814047/106386777-f9a17480-6419-11eb-8b1c-a73705dca7b2.png">

My environment,
[code]

[code]

[code]

[2021-01-31 14:27] jayunit100 commented on #98459
/assign @Riaankl

[2021-01-31 14:28] jayunit100 commented on #98459
^ Im just assuming @Riaankl is handling this issue, if not plz assign one of the sig-network folks (me or @rikatz)

[2021-01-31 14:29] rikatz commented on #98570
/sig network

[2021-01-31 14:31] aojea commented on #98611
ping @dcbw since he is the author of https://github.com/kubernetes/kubernetes/pull/47806 and may have a better understanding and more context

[2021-01-31 14:32] jayunit100 commented on #98577
I'll attempt to reproduce this today , especially since your using tanzu :) (we noticed the photon in your bug report)
/assign

[2021-01-31 14:32] ns-jisorce commented on #98570
Thanks @gjkim42 I am going to try your setup.

In the mean time here is how kube-proxy is configured in GKE:

[code]

[2021-01-31 14:37] jayunit100 commented on #98410
Amim is working w/ the component standard folks, so he volunteered to help look at this.
/assign @knabben

[2021-01-31 14:40] jayunit100 commented on #95879
i finished updating the docs page, so closing this

[2021-01-31 14:40] #95879 closed

[2021-01-31 14:40] jayunit100 commented on #95879
https://kubernetes.io/docs/concepts/services-networking/network-policies/

[2021-01-31 16:40] neolit123 commented on #98564
please try the support channels or the repository of the Java client:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
https://github.com/kubernetes-client/java

/close

[2021-01-31 16:40] #98564 closed

[2021-01-31 17:08] Ankita5892 commented on #93390
I generated an EKS cluster and deployed an app with a load balancer service to it (as a K8s primitive). After some testing, I ran `terraform destroy` to remove the cluster. I didn't delete the service load balancer before I destroyed the cluster. Now, my terraform destroy cannot complete because the ELB generated by AWS/EKS is attached to my public subnet and VPC via a network interface. My `tf-us

[2021-01-31 19:17] Isan-Rivkin commented on #87844
/remove-lifecycle stale

[2021-01-31 21:30] AndrewSav commented on #78564
/remove-lifecycle stale

[2021-01-31 21:43] lauchokyip commented on #93100
will take `expose.go` next :)

[2021-01-31 22:09] #66572 closed

[2021-01-31 22:09] #84903 closed

[2021-01-31 22:46] dustinmoris commented on #89898
Same here, I've noticed the same issue in my GKE cluster. Don't know when it started, but it happens for many containers which I haven't updated in more than a year and now they have a lot of probes failing whereas before they never did, so it's certainly not the container.

[2021-01-31 23:07] Riaankl opened #98640 "Umbrella Issue: Apps Endpoints without Conformance test"
### Purpose of the issue:
This issue is created to collect and share information about apps endpoints without Conformance test.
It also serves to group endpoints by family and indicates what work is underway to prevent duplicate effort.
More information will be added as it becomes available or is discovered during test writing.

### The Endpoints groups:
DaemonSet
StatefulSet
Deployment
Replicaset

[2021-01-31 23:08] Riaankl commented on #98640
/sig apps

[2021-01-31 23:26] Riaankl commented on #98640
/assign @mattfarina @soltysh
Some feedback:
After the last SIG Apps meeting we attended, we discussed the topic in the Conformance meeting and SIG Architecture meetings.

The direction given by SIG Arch is that all  GA endpoints that are not disqualified due to the [rules](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-

[2021-02-01 00:11] #84214 closed

[2021-02-01 00:59] PaulCharlton commented on #98539
@gjkim42 is there any issue back-porting this to k8s 1.19.x ?

[2021-02-01 01:05] Jerry-Ge commented on #97303
/assign

[2021-02-01 01:47] dims commented on #30656
/close

please see the last comment from Clayton here: https://github.com/kubernetes/kubernetes/issues/30656#issuecomment-559280978

[2021-02-01 01:47] #30656 closed

[2021-02-01 01:50] pandaamanda commented on #98556
/sig cli

[2021-02-01 02:18] pacoxu commented on #95183
/cc @mengjiao-liu

[2021-02-01 03:29] borgerli commented on #98302
Sure, glad to help.

[2021-02-01 03:39] #95049 closed

[2021-02-01 03:41] thejoycekung opened #98646 "[Failing Test] ci-kubernetes-build-canary does not understand "--platform""
**Which jobs are failing**:
- `ci-kubernetes-build-canary`

**Which test(s) are failing**:
The overall job

**Since when has it been failing**:

- Sometime between Jan 29 07:00 PST (commit aaadd731f ) and 16:13 PST (commit b184272e2)
- There are some runs that could not be scheduled on a node between these two runs, so it's not clear exactly when it started failing

**Testgrid link**:
https://k8s-

[2021-02-01 03:42] iamruhua commented on #97851
Same here, my current project requires to store Root certificate in system like HSM.
It's acceptable to ask for a middleware like KMS or other https program to adapt with k8s infrastructure to create Root of Trust mechanism.

[2021-02-01 04:02] PriyankaH21 opened #98647 "[Flaky Test] [sig-cloud-provider-gcp] each node by ordering clean reboot and ensure they function upon restart"
**Which jobs are flaking**: `ci-kubernetes-e2e-gci-gce-reboot`

**Which test(s) are flaking**:  `Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-reboot&include-filter-by-regex=each%20node%20by%20ordering%20clean%20reboot%20and%20ensure%20they%20func

[2021-02-01 04:02] PriyankaH21 commented on #98647
/sig cloud-provider

[2021-02-01 04:03] sxllwx commented on #97294
I would like to ask, during the time when watchCache is invalid, besides `Service`, other objects such as `Pod` and `ConfigMap` can be obtained normally? @xmudrii

[2021-02-01 04:08] thejoycekung opened #98648 "[Failing Test] [sig-network] HostPort validates that there is no conflict between pods with same hostPort but different hostIP and protocol"
**Which jobs are failing**:
- `ci-kubernetes-e2e-ubuntu-gce`

**Which test(s) are failing**:
- `[sig-network] HostPort validates that there is no conflict between pods with same hostPort but different hostIP and protocol [LinuxOnly] [Conformance]`

**Since when has it been failing**:
952e6f445

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-ubuntu-master-defau

[2021-02-01 04:10] PriyankaH21 opened #98649 "[Flaky Test] [NodeConformance] when querying /stats/summary should report resource usage through the stats api [ubuntu]"
**Which jobs are flaking**: `ci-kubernetes-node-kubelet`

**Which test(s) are flaking**: `Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api`

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master&include-filter-by-regex=%20should%20report%20resource%20usage%20through%20the%20stats%20api

**Reason for f

[2021-02-01 04:11] immanuelfodor commented on #30656
When there is a KEP opened, please link it back here to let us follow it :)

[2021-02-01 04:31] nikhita commented on #78534
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2021-02-01 04:32] nikhita commented on #78534
/triage accepted

[2021-02-01 06:09] alikhil commented on #83111
/remove-lifecycle stale

[2021-02-01 06:52] uablrek commented on #95251
/remove-lifecycle stale

[2021-02-01 07:07] lovejoy commented on #96919
@bl-ue  yes ,should be Age

[2021-02-01 07:20] BenTheElder commented on #98611
Complete pods don't become running again, they can't actually use the IP..? Why would we exhaust the IP pool by letting complete pods continue to hold IPs?

[2021-02-01 07:43] pacoxu commented on #90764
In some user scenarios, the external ip nodeport is for access from APPs outside this cluster/zone.
- However, in most scenarios, external IP is just for SSH or special use(Ingress Gateway, etc.)

Different users have different proposals.

Why not disable e2e tests checking on external IP with a flag?
[code]
Will add a PR for this.

[2021-02-01 07:43] AndrienkoAleksandr commented on #71350
/remove-lifecycle stale

[2021-02-01 08:00] aojea commented on #98611
Those IPs are provided by CNI, and is an Status field, there is no exhaustion since those IPs are not hold by any Kubernetes components, are informative from the CRI/CNI subsystem.

[2021-02-01 08:04] aojea commented on #98648
/assign
So, this job is different that the one that we have in presubmit?
ping @BenTheElder

[2021-02-01 08:07] gjkim42 commented on #98611
As @BenTheElder did, I think the users can misunderstand that the IPs are actually assigned if k8s shows the last available IP.

[2021-02-01 08:16] aojea commented on #98611
... or others will want to know which IP was using that pod to check in the logs of other pod what happened ... I see this can go both ways :smile: , it seems easy to justify one or the other

[2021-02-01 08:19] hantmac commented on #89898
We too are facing the same issue in our cluster.

Kubernetes Version - 1.16.8
kernel version: 3.10.0-957.5.1.el7.x86_64
OS - Centos 7

[2021-02-01 08:19] BenTheElder commented on #98611
Er no, I'm aware of the distinction between status of a completed pod an an in-use IP.

I did misunderstand this however:

A reader might think this suggests that we want to avoid a new pod to have the IP of a completed pod, which would I read as implying that completed pod IPs should continue to be reserved, which I do not think we should do.

I missed https://github.com/kubernetes/kubernetes/iss

[2021-02-01 08:25] dustinmoris commented on #89898
Also I suggest to rename the topic of this issue from "Sometimes" to "VERY frequently" which a) reflects reality better and b) might move this issue up the priority list because I find it kind of annoying that Kubernetes probes have been so flaky and unreliable for such a long time now without anyone making any real progress here.

[2021-02-01 08:26] kfirfer commented on #98611
In my opinion is better giving the cluster administrator the ability to choose if the IPs will reserve or not will

[2021-02-01 09:05] aojea commented on #98611
there is no IP reservation, take that as a logfile, it is just informative

[2021-02-01 09:09] aojea commented on #98646
I confirm that I hit the same issue in a CI that builds kubernetes using `make quick-release`

[code]

[2021-02-01 09:25] kfirfer commented on #98611
now there is no capability to reserve , but would be nice to see a flag config (kubelet?) that holds them until the job object in etcd is deleted

[2021-02-01 09:29] zepatrik commented on #93686
/remove-lifecycle stale

[2021-02-01 09:35] dnwake opened #98656 "During a rolling update, replica start gets caught in exponential backoff, causing unnecessary delay of up to 16 minutes."
**TL;DR**

Rolling update gets stuck in an exponential backoff when the app being deployed uses quotas and has a significant termination grace period.

**What happened**:

Define a deployment with the following parameters:

Strategy: RollingUpdate
replicas: 2
maxSurge: 0
maxUnavailable: 1
terminationGracePeriodSeconds: 90
the liveness and readiness probes should both have initialDelaySeconds: 0
ea

[2021-02-01 09:36] pacoxu commented on #98646
`docker build --platform ` is removed in docker 20.10?
[code]

[code]

[2021-02-01 09:41] kfirfer commented on #98611
nevermind , it does not do important , closing , if anyone want to have the ability to choose comment and ill reopen

thanks

[2021-02-01 09:41] #98611 closed

[2021-02-01 09:45] xmudrii commented on #97294
@sxllwx As far as I've observed, only Services are affected. For example, creating pods and mounting ConfigMaps/Secrets into pods works fine.

[2021-02-01 10:10] dnwake commented on #98656
/sig apps

[2021-02-01 10:16] dnwake commented on #98656
/sig scheduling

[2021-02-01 10:18] aojea commented on #98648
I see , this is in informing, the problem is that HostPort implementation in dockershim has a known bug, but since we started the deprecation is not worth the effort to fix it https://github.com/kubernetes/kubernetes/pull/94382

[2021-02-01 10:34] Raffo commented on #95759
Can we reuse some of the great work done in https://github.com/kubernetes-sigs/cli-utils/tree/master/pkg/kstatus ?

[2021-02-01 10:41] zorro786 opened #98659 "Missing performance tests setup information"
**What would you like to be added**: Currently there is no page/section which provides information on K8s cluster configuration for 5000 nodes [support claim](https://kubernetes.io/docs/setup/best-practices/cluster-large/) in v1.20.
Some things which are important but not limited to these:

1. Control plane network topology, node resources configuration
2. HA topology setup (external or stacked et

[2021-02-01 10:42] liabio commented on #60987
same issue
Kubernetes v1.18.14
Docker 19.03.8
Kernel: 3.10.0-1127.13.1.el7.x86_64

[2021-02-01 10:42] zorro786 commented on #98659
/sig scalability

[2021-02-01 11:22] #91844 closed

[2021-02-01 11:22] bcorijn commented on #97445
I'm seeing similar behaviour on `5.4.0-1031-azure` on AKS for what it's worth. I have a ASP.NET Core application with a 2 CPU limit, yet see throttling occurring with only 0.2 CPU usage. I've been trying to find what would be the cause of this, your issue seems suspiciously similar.

[2021-02-01 12:02] sftim commented on #98659
/kind feature
/language en

[2021-02-01 12:03] sftim commented on #98659
/kind documentation

[2021-02-01 12:32] tanjing2020 opened #98660 "Can kubelet stop monitoring configMaps which are only used as environment variables？"
**What would you like to be added**:
A watch will be created for each ConfigMap of the pod. In some scenarios, we cannot configure configMap as Immutable.
It is not necessary to monitor configMaps used as environment variables because these configMaps will not take effect until the pod is restarted.
Can kubelet stop monitoring this type of configMaps after pod starts?

**Why is this needed**:
To r

[2021-02-01 12:33] tanjing2020 commented on #98660
/sig kubelet

[2021-02-01 12:35] gavinfish commented on #95190
/assign

[2021-02-01 12:36] zionwu opened #98661 "Pod already created and exited but its status remains ContainerCreating"
**What happened**:
We have a k8s cluster for deep learning training.
Recently,  We find that sometimes there is pod stuck on `ContainerCreating` status.
However, the events indicates the pod is created successfully:
[code]
The containers of pod is already created on the host:
[code]
The app container already exited, `docker logs` can show the training program already started but exited with error.

[2021-02-01 12:39] zionwu commented on #98661
/sig node

[2021-02-01 13:01] kargakis commented on #72479
@wojtek-t what is the status of this issue?

We are currently using anti-affinity to spread pods across failure domains, it would be a pity to see this go away. Eventually, we would also like to use pod affinity to group specific deployments on the same nodes, but for now spreading across failure domains is the most important feature (it is actually a regulator requirement).

[2021-02-01 13:43] gjkim42 commented on #98539
@PaulCharlton Not to my knowledge. There isn't any specific issue with k8s 1.19.x, if sig-apps approves the https://github.com/kubernetes/kubernetes/pull/98618.

[2021-02-01 14:04] hasheddan commented on #98646
Looking into this 👍
/assign
xref https://github.com/kubernetes/test-infra/pull/20663

[2021-02-01 14:16] hasheddan commented on #98646
xref https://github.com/kubernetes/kubernetes/pull/98569#discussion_r567856005

/cc @saschagrunert

[2021-02-01 14:23] gjkim42 commented on #98539
Related issue https://github.com/kubernetes/kubernetes/issues/40908

[2021-02-01 14:23] mattmattox commented on #90770
/remove-lifecycle rotten

[2021-02-01 14:31] luigi-riefolo commented on #60295
@StevenACoffman done

[2021-02-01 14:38] yangjunmyfm192085 opened #98662 "Why need kube-apiserver to check etcd health when using kubernetes livenessProbe to detect kube-apiserver container"
Why need kube-apiserver to check etcd health when using kubernetes livenessProbe to detect kube-apiserver container and
Why Set the timeout time to 2s？

	return func() error {
		if errMsg := clientErrMsg.Load().(string); len(errMsg) > 0 {
			return fmt.Errorf(errMsg)
		}
		client := clientValue.Load().(*clientv3.Client)
		ctx, cancel := context.WithTimeout(context.Background(), 2*time.Second)
		de

[2021-02-01 14:39] yangjunmyfm192085 commented on #98662
/sig node

[2021-02-01 15:02] cwsolee commented on #93621
We've been monitoring the s390x test result for quite some time now, pretty stable, I think this issue could be closed but it's not removing support for s390x, more along the line of adding conformance test to make sure s390x is stable for anyone to consume.

[2021-02-01 15:18] gavinfish commented on #95190
@alculquicondor I think it should be fine to get rid of the pointers in staging for v1beta2? If so, could you please add this to the umbrella issue?

The PR is a little rough(UT all pass), will wait v1beta2 api getting merged first and polish it.

[2021-02-01 15:28] alculquicondor commented on #95190
The request is to this only for internal

[2021-02-01 15:29] alculquicondor commented on #95190
Actually, v1beta2 should be fine too

[2021-02-01 15:42] saschagrunert commented on #98646
Yeah docker buildx is not initialized within this job. Like @aojea mentioned, we probably broke other CI's too. I'm wondering if a `docker buildx` init script would help us here, but I'm just trying to find out what the technical differences between the `ci-kubernetes-build-canary` and `ci-kubernetes-build` are.

[2021-02-01 15:45] saschagrunert commented on #98646
/assign

[2021-02-01 15:47] mikebrow opened #98665 "ensure secret pulled images"
**What would you like to be added**:
Support for ensuring images pulled with pod imagePullSecrets are always authenticated even if cached. With this feature always pull would not be required to ensure authentication for images pulled with secrets based auth. Instead kublet will check if the image was pulled with an image pull secret and if so would force a pull of the image to ensure the image pul

[2021-02-01 15:48] mikebrow commented on #98665
/sig node

[2021-02-01 16:00] striver619 commented on #95279
I'm looking forward to it!

[2021-02-01 16:03] n3wscott opened #98666 "[Failing Test] ci-cloud-provider-openstack-acceptance-test-e2e-conformance Overall reporting fails"
**Which jobs are failing**:

`Overall` on ci-cloud-provider-openstack-acceptance-test-e2e-conformance

**Which test(s) are failing**:

The tests pass but the end of the script fails to report correctly. Maybe out of date? See this message:

[code]

**Since when has it been failing**:

Jan 18, 2021

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#Conformance%20-%20OpenStack

[2021-02-01 16:07] manoj-devops commented on #24873
The script looks good, but for cloud maintained cluster seems to have slight issue in connecting to api. It sometimes times out and then reconnect. May be need to slow down the connections to export from cluster. May be some tweaks will do.

Unable to connect to the server: dial tcp 20.143.169.19:443: i/o timeout
Unable to connect to the server: dial tcp 20.143.169.19:443: i/o timeout
Unable to co

[2021-02-01 16:07] thejoycekung commented on #98666
cc @michelle192837 you might know something about this?
I remember we had an opposite issue here: https://github.com/GoogleCloudPlatform/testgrid/issues/248

[2021-02-01 16:14] dims commented on #93621
thanks @cwsolee

cc @saschagrunert @hasheddan

/close

[2021-02-01 16:14] #93621 closed

[2021-02-01 16:33] gnufied opened #98667 "Separate mount metrics and `volume_fsgroup_recursive_apply` metric to indicate how volume permission intent was full filled"
Currently there are three or 4 ways a pod's `fsGroup` intent can be full filled:

1. It can be recursively chown/chmoded (super expensive)
2. We can check permissions of root folder and if necessary go to full recursive mode.
3. We could apply `fsGroup` as a mount option.

I am thinking we should clean this up and emit a single metric that captures this. We have two related metric for this stuff:

[2021-02-01 16:58] everpeace commented on #93671
/remove-lifecycle stale.

[2021-02-01 17:11] neolit123 commented on #98666
/sig cloud-provider
/area provider/openstack

[2021-02-01 17:11] neolit123 commented on #98660
/sig node
/area kubelet

[2021-02-01 17:19] kfox1111 commented on #69608
/reopen
/remove-lifecycle rotten

[2021-02-01 17:46] msau42 commented on #70505
@YiannisGkoufas the NodePublishVolume readonly field is toggled by 'Pod.spec.volumes.persistentVolumeClaim.readOnly'.

/remove-lifecycle rotten

[2021-02-01 17:50] msau42 commented on #94929
@jsafrane can you summarize the current conclusion/state of this?

/remove-lifecycle rotten

[2021-02-01 17:54] YiannisGkoufas commented on #70505
thanks @msau42 ! will try it out

[2021-02-01 18:22] neolit123 commented on #98662
/remove-sig node
/sig api-machinery

[2021-02-01 18:23] neolit123 commented on #98662
https://github.com/kubernetes/kubernetes/blob/e9dba7a627520f89778b367fc0d955776f220638/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go#L90

[2021-02-01 18:47] pohly commented on #69608
@kfox1111 should be a collaborator, right?

/reopen

[2021-02-01 20:13] djschny commented on #40846
/reopen

[2021-02-01 20:27] casidiablo commented on #27404
I'm not even surprised anymore

[2021-02-01 20:46] Huang-Wei commented on #72479
@kargakis The behavior of pod anti-affinity remains the same actually - unless you proactively enable [LimitPodHardAntiAffinityTopology] admisson plugin. ([default admission plugins])

[default admission plugins]: https://github.com/kubernetes/kubernetes/blob/f3849258474de296bacd47c02cd5465f73da6c72/pkg/kubeapiserver/options/plugins.go#L146
[LimitPodHardAntiAffinityTopology]: https://github.com/ku

[2021-02-01 20:51] kargakis commented on #72479
Thanks for the response @Huang-Wei, PodTopologySpread should suffice for our needs.

[2021-02-01 20:57] liggitt commented on #91834
`Test_UncertainDeviceGlobalMounts` and `Test_UncertainVolumeMountState` each have six subtests that have 10-second sleeps...

[code]

is there a condition we could poll to see if the reconciler has caught up so we can avoid sleeping longer than we need to?

Also, can we parallelize these tests so we don't have to wait for no-op sleeps in parallel

[2021-02-01 21:10] liggitt commented on #91834
also, `Test_Run_Positive_VolumeAttachMountUnmountDetach` still appears to be flaking.

Skipping the two slow tests mentioned above (Test_UncertainDeviceGlobalMounts and Test_UncertainVolumeMountState) and stressing the resulting test in race mode:

[code]

the following flakes showed up:

[code]

[code]

[code]

[2021-02-01 21:22] AndrewSav commented on #30656
@dims I'm confused, why is this closed? It is not fixed, and it also stated at https://github.com/kubernetes/kubernetes/issues/30656#issuecomment-559280978 that this is not a case of "won't fix", so why has it been closed?

[2021-02-01 21:42] #98646 closed

[2021-02-01 21:45] smarterclayton commented on #78946
Recognizers should only be applied when it is impossible to know the content type (storage, random files on disk and user is a jerk).  We'd need to assuage jordan's concerns about correctness (mine too) before we switch to be all YAML.  YAML has more unbounded processing bugs too which means there may be states in storage that are not great.

Switching decoder of CRD to allowing YAML is not someth

[2021-02-01 21:46] smarterclayton commented on #78946
Trying to think if there is any way flipping this for disk reads of files would break someone's automation.

[2021-02-01 22:04] SergeyKanzhelev commented on #98495
/assign

[2021-02-01 22:22] derekwaynecarr commented on #84165
@SaranBalaji90 +1 to a dedicated flags for each variant of profiling.

[2021-02-01 22:50] ns-jisorce commented on #98570
Hi @gjkim42 I have been able to reproduce it with running 2 VM in virtual box, both VMs are Ubuntu 20.04.
One is the master and I installer docker.io with apt-get and kubeadm using usual tutorials.
Then I simply installed the master on the first VM with `sudo kubeadm init` and in the second VM I have run `sudo kubeadm join ...`
I have only tried `flannel` for the virtual network.
Then from the hos

[2021-02-01 23:15] DangerOnTheRanger commented on #86245
When GCP moves over to a credential provider plugin (via the framework implemented by https://github.com/kubernetes/kubernetes/pull/94196 and outlined in https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/2133-out-of-tree-credential-provider) this problem ought to go away. The reason being, the code that causes the infinite loop is only run when figuring out whether the

[2021-02-01 23:22] Huang-Wei commented on #93552
/remove-lifecycle stale

In 1.21, we're going to provide an optional interface in scheduler framework for plugins to claim the events they're interested in, so that when a Pod failed by this plugin (e.g., VolumeBinding), this Pod can only moved inside scheduler queues when the "interested" event happens

cc #94009

[2021-02-01 23:32] nckturner commented on #83070
Yeah let's close it, we can move it to the cloud provider repo if necessary

[2021-02-01 23:32] nckturner commented on #83070
/close

[2021-02-01 23:32] #83070 closed

[2021-02-01 23:34] nckturner commented on #83070
@jmickey let's move this to github.com/kubernetes/cloud-provider-aws if you're still working on it.

[2021-02-01 23:49] jmickey commented on #83070
@nckturner Sure! Apologies for the delay on following up on this, things have been a little crazy lately. I have some time this week to get around to this. I will open a new PR in `kubernetes/cloud-provider-aws`

[2021-02-01 23:51] gjkim42 commented on #98570
@ns-jisorce

I executed `date` command and here is my output. The delay is less than 1s in my case.

<img width="1676" alt="Screen Shot 2021-02-02 at 8 40 15 AM" src="https://user-images.githubusercontent.com/19814047/106531805-48423200-6532-11eb-964c-fa9639227d33.png">

It might be better to unassign myself to find someone else who can help with this. I will ping [sig-network](https://kubernetes.

[2021-02-01 23:51] gjkim42 commented on #98570
/unassign

[2021-02-01 23:59] thatInfrastructureGuy commented on #20255
I was still confused on why `restartPolicy: Never` restarts the job and I wanted to know the difference between `OnFailure` and `Never`.  I found [openshift documentation page](https://docs.openshift.com/container-platform/4.1/nodes/jobs/nodes-nodes-jobs.html#jobs-limits_nodes-nodes-jobs) which helped me understand better. Hopefully this helps someone.

[code]

[2021-02-02 00:54] lalwanin2020 opened #98680 "Windows nodes behind Loadbalancer going OutOfService when the no. of pods is 65 or more"
**What happened**:
When the number of windows pods in the Kubernetes cluster are scaled to a number of 65 or more, then the Windows nodes behind a classic loadbalancer service are going OutOfService. A kube-proxy error was reported in the logs which is as follows: "E1208 04:52:16.756196 4268 proxier.go:1212] Policy creation failed: hcnCreateLoadBalancer failed in Win32: The parameter is incorrect.

[2021-02-02 00:57] k82cn commented on #79384
just share one case from [Volcano](http://github.com/volcano-sh/volcano): we're going to use algorithm of scheduler from upstream to make keep backward compatibility :)

[2021-02-02 01:02] dims commented on #30656
@AndrewSav there is no one working on it and no one willing to work on it. So closing this to reflect reality as by default it is "won't fix". This has gone one for 4 years and don't want to continue giving the impression that this is on anyone's radar since it's not clearly.

[2021-02-02 01:06] zerkms commented on #55045
/remove-lifecycle stale

[2021-02-02 01:08] lalwanin2020 commented on #98680
/sig windows

[2021-02-02 02:38] zhangguanzhang commented on #18174
Is this still the case in january 2021 ?

[2021-02-02 03:24] #67526 closed

[2021-02-02 03:29] andyxning commented on #85761
@stephan2012 @davejrt

It is actually a pointer to an integer. It has been fixed in latest `kubectl`.  So, it is not an error.

[2021-02-02 03:29] nitishm opened #98683 "Custom Resource Object field, of type object (map), not reflecting in the retrieved resource"
**What happened**:
Custom resource type has an embedded field `Values` of golang type `map[string]interface{}` or `object` in OAS3.
On applying an object with the field set to a valid YAML block, the objects gets submitted successfully but on retrieving the object back, the `values` field is set to an empty object.

**What you expected to happen**:
Fields should be reflected/set in the applied obj

[2021-02-02 04:07] asobti commented on #95193
/remove-lifecycle rotten

[2021-02-02 04:39] #70010 closed

[2021-02-02 04:40] #98409 closed

[2021-02-02 06:13] bronger commented on #30656
Anyone willing to push this forward would have to address the “security implications” Clayton mentions. This might make contributors reluctant, so what is meant with that?

I would have thought that if I am allowed to `kubectl exec` to a pod, I am the full-fledged master of that pod anyway.

[2021-02-02 06:38] chymy commented on #98079
Hi, @caseydavenport, I can not reproduce it(k8s version 1.20)
[code]

Is it related to this PR #95423?

[2021-02-02 07:01] eldada commented on #89898
Seeing a similar behavior in an AKS cluster (Azure).
Kubernetes `v1.16.13`
OS and Kernel  `Ubuntu 16.04.7 LTS   4.15.0-1103-azure`

Since this is a managed Kubernetes, we don't have much visibility into the managed part, but I can say we are trying to utilise the nodes well, so we pack them up with a lot of pods (up to about 50), that have many containers, so I might have ~200 containers running i

[2021-02-02 07:22] #91281 closed

[2021-02-02 07:23] wzshiming commented on #83916
/assign

[2021-02-02 07:23] wzshiming commented on #87039
/assign

[2021-02-02 07:32] gavinfish commented on #89267
@tanjunchen still working this? If not, I want to pick up the left ones and drive to close this issue.

[2021-02-02 07:37] bunyk commented on #56764
[Link there](https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all) is broken

[2021-02-02 07:46] palladius commented on #61058
I have the same problem on Mac (works like a charm on Ubuntu).

$ docker -v
Docker version 20.10.2, build 2291f61

ricc@macbookpro:~/prometheus-node-exporter$🐼  docker run -it   --net="host"   --pid="host"   -v "/:/host:ro,rslave"   prom/node-exporter:latest   --path.rootfs=/host
docker: Error response from daemon: path / is mounted on / but it is not a shared or slave mount.
ERRO[0000] error wait

[2021-02-02 08:14] #96543 closed

[2021-02-02 08:28] aojea commented on #98570
you are testing using the dns name, that is another factor to take into consideration.
Can you test using both the service dns name and the clusterIP, so we can compare ?

[2021-02-02 08:44] odinuge commented on #70585
I just thought it would be nice to gather some information about how people are experiencing this issues, and see if we are talking about the same thing. I agree that we should make it possible to deactivate cfs for pods bound to a given set of cpus, even tho. the reason for the throttling of theses pods is imo. a bug in the kernel/a feature not necessary intended. Pods may have a high `nr_throttl

[2021-02-02 08:48] brandond commented on #85330
Hey @liggitt I think this might be golang/go#43570 / #97685 again.

[2021-02-02 08:57] ivan-cai opened #98687 "In CSI Migration, volumes attached before migration will be re-attach（detached by in-tree plugin and then attached by csi driver）and re-mount when upgrading kubelet to migration version"
**What would you like to be added**:
When upgrading kcm and kubelet to migration version，the volumes those attached before migration will not be re-attach(detached by in-tree plugin and then attached by csi driver) and re-mount(unmounted by in-tree plugin and then mounted by csi driver) .

**Why is this needed**:
We also have a in-tree volume plugin，we want to support csi migration，and volumes att

[2021-02-02 09:46] 2ZZ opened #98689 "After a container is restarted docker ps shows the image ID instead of the repository name"
**What happened**:
When a container is terminated due to error the replacement container shows the docker image id instead of the repository name in the image field of docker ps. This behaviour changed after moving from Amazon EKS 1.15 to Amazon EKS 1.18.

[code]

**What you expected to happen**:
The container retains the same information in column 2

**How to reproduce it (as minimally and precis

[2021-02-02 10:30] ivan-cai commented on #98687
/sig storage

[2021-02-02 10:40] ivan-cai commented on #98687
kind/bug

[2021-02-02 10:41] ivan-cai commented on #98687
/kind bug

[2021-02-02 10:53] ivan-cai commented on #98687
/sig storage

[2021-02-02 10:58] pacoxu commented on #98486
pkiutil: optimized in #98682 by @neolit123 (which is merged)
I opened #98691 for cronjob UT.

[2021-02-02 11:09] snowplayfire opened #98692 "client-go watch delays almost 20 seconds"
**What happened**:

Problem: client-go watch delays almost 20 seconds.

I have a crd named `combinator` and a controller watchs `combinator`, the controller framework is generated by kubebuilder v2.3.1.

I changes the field `enabled` from `true` to `false` for object `r100023509-71003727` at 2021-02-02T03:58:17Z. Some logs of controller as follows:

[code]
According to the logs,  `enabled` changes

[2021-02-02 11:13] gjkim42 commented on #98570
As @aojea said, we will probably need to look at coredns(or kube-dns) settings.

[2021-02-02 11:15] snowplayfire commented on #98692
/sig api-machinery

[2021-02-02 13:20] ns-jisorce commented on #98570
Same result with `while true; do wget -O- http://$(nslookup nginx-service | tail -1 | awk '{ print $3 }'):8080/; sleep 0.5; done`
The nslookup succeeds right away and so the http call can be done with the cluster ip of the service. But then the http call succeeds much later (between 5 and 10s).
I also tried setting the clusterIP field in the yaml file of the service re-using the IP it was using be

[2021-02-02 13:22] calexandre commented on #75581
Wow...I was not expecting this to work @yangyuw ... but it did ;)
Any insights on why is it working with just the presence of the file? This is very strange...

Appreciate any comments...

[2021-02-02 13:28] aojea commented on #98570
you need to add a flag to

you need to add a flag to the kube-proxy command `--v4`

[2021-02-02 13:54] venkatsc opened #98695 "Cannot delete service account"
**What happened**:
1. kubectl get shows service account but not able to delete with kubectl delete
[code]

[code]
**What you expected to happen**:
delete should succeed

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[2021-02-02 13:58] neolit123 commented on #98695
what is the output of the delete command if you add `--v=10`?

/sig auth cli

[2021-02-02 14:00] neolit123 commented on #98689
please communicate this with the EKS support team first.
if they confirm this as an upstream k8s bug, you can reopen this ticket.

/close

[2021-02-02 14:00] #98689 closed

[2021-02-02 14:01] neolit123 commented on #98683
/sig api-machinery

[2021-02-02 14:01] neolit123 commented on #98471
@denisMihaylov any updates?

/sig api-machinery

[2021-02-02 15:11] denisMihaylov commented on #98471
Yes. We found the resources with broken owner references and we believe this is causing the issue. We are still testing and waiting to see if it is going to happen again. I will close the issue, because I think all will be fine. Thanks

[2021-02-02 15:11] #98471 closed

[2021-02-02 15:56] alculquicondor opened #98697 "[Flaky] k8s.io/apiserver/pkg/server/filters - TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter"
**Which jobs are flaking**:

* ci-kubernetes-cached-make-test
* ci-kubernetes-generate-make-test-count10
* pull-kubernetes-unit

**Which test(s) are flaking**:

* TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter

**Testgrid link**:

* https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-generate-make-test-count10&include-filter-by-regex=TestPriorityAndFairnessWithPanicRecoveryAndTime

[2021-02-02 15:58] adtac commented on #98697
cc @MikeSpreitzer @lavalamp @yue9944882

[2021-02-02 16:43] adtac commented on #98697
The test is timing out after 300 seconds, but I couldn't reproduce this over 1000 runs (with and without `-race`)

[2021-02-02 16:56] dims commented on #98659
@zorro786 the support claim link says "No more than 5000 nodes" :) you can read more about the activities of sig-scalability here:
https://github.com/kubernetes/community/tree/master/sig-scalability#details-about-sig-scalability-sub-projects

Currently there is no plan to update the main documentation. Interested folks can reach out to the SIG. thanks! yes, we need more hands in this SIGs, if you

[2021-02-02 16:56] #98659 closed

[2021-02-02 17:13] liggitt commented on #98267
/cc @sttts

would like a second set of eyes on the approach and test I ran. if you approve, I'd like to do this once go1.16 is released and we re-verify the test with the final go behavior.

[2021-02-02 17:15] liggitt commented on #98267
I'd also be curious if you think we should base the v1.5.2 containing retractions (including retracting itself) on v1.5.1 or v11.0.0.

Basing on v11.0.0 would preserve existing behavior for go versions prior to 1.16 (which currently fetch `v11.0.0+incompatible`) if an unqualified `go get k8s.io/client-go` is run

[2021-02-02 17:27] jsturtevant commented on #98492
/cc @marosset

[2021-02-02 17:27] jsturtevant commented on #98492
/assign @marosset

[2021-02-02 17:50] rikatz commented on #67526
Implemented :D

[2021-02-02 17:52] #73480 closed

[2021-02-02 18:17] apelisse commented on #98079
#95423 is a server-side change, this bug is because of a client-side bug. I don't think it can be related. Are you sure you're reproducing the exact same bug?

[2021-02-02 18:38] MarcPow commented on #68397
@krmayankk Has this feature been slotted into a release?

[2021-02-02 18:39] Jiawei0227 commented on #92237
/reopen

[2021-02-02 18:50] xmudrii commented on #97294
@liggitt @sxllwx @wojtek-t Is there anything I can do to help this move forward? I have some time for debugging and testing, but I'm not really sure where to look into and where to start. It's definitely a strange and very annoying issue.

[2021-02-02 19:12] dims opened #98698 "Tools for evaluating dependency updates to Kubernetes"
NOTE: This is part of the [LFX mentorship program](https://www.cncf.io/blog/2021/02/03/cncf-lfx-projects-are-open-for-spring-term-2021-apply-now-for-a-mentorship-opportunity/)

Implement command line utilities that can help Kubernetes developers evaluate new dependencies by capturing statistics/metrics and estimating cost of adding something new. This will involve diving deep into golang dependenc

[2021-02-02 19:30] guzmonne commented on #97100
Is there anything I can do to help merge (#98168)?

[2021-02-02 19:32] venkatsc commented on #98695
@neolit123 unfortunately, I deleted the test cluster. Will try some time tomorrow and see if it can be reproducible.

[2021-02-02 19:36] maplain commented on #91306
@andrewsykim This PR: https://github.com/kubernetes/kubernetes/pull/98277 is missing the milestone label. Could you please add it?

[2021-02-02 19:41] ns-jisorce commented on #98570
* Log for the not working case ("add service" then "update pod label to match the service selector"):

[code]

You can notice the `OnServiceAdd` then empty `handler.OnEndpointSliceAdd` then `handler.OnEndpointSliceUpdate`
-> After the above logs the wget fails for 5 seconds. (using a static ip for the service)

* Logs for the working case: ("just add the service" (pods has already the right label

[2021-02-02 19:47] neolit123 commented on #98695
ok, please reopen the ticket once this is reproduced again.
/close

[2021-02-02 19:47] #98695 closed

[2021-02-02 19:58] msau42 commented on #75535
/close

Fix was made in #88759 in 1.20 with deprecation notice sent out in 1.18.

[2021-02-02 20:46] bitglue commented on #23130
As far as I know, nothing has changed to fix the issue. By default, Go behaves fine. Disabling cgo is what makes it fail. So arguably, it's a kubernetes build problem, not a go problem. Which is probably why there's been nearly zero traction on fixing this issue on either end: the go team and the teams that release go binaries are just pointing at each other.

[2021-02-02 20:55] #94452 closed

[2021-02-02 21:27] fedebongio commented on #94906
/triage accepted

[2021-02-02 21:27] fedebongio commented on #98289
/triage accepted

[2021-02-02 21:27] fedebongio commented on #98452
/triage accepted

[2021-02-02 21:27] fedebongio commented on #98471
/triage accepted

[2021-02-02 21:27] fedebongio commented on #98525
/triage accepted

[2021-02-02 22:05] jakerobb commented on #83242
Here's the thing I use in the meantime:

    while : ; do
      kubectl get [your thing] && break
      sleep 5
    done

Adjust the sleep duration if you like. Redirect stdout/stderr if you like. And, of course, add a timeout if you like.

[2021-02-02 22:06] #98573 closed

[2021-02-02 22:41] avrittrohwer opened #98702 "DisruptionController nil pointer dereference"
**What happened**:

`k8s.io/kubernetes/pkg/controller/disruption.(*DisruptionController).getPodsForPdb()` panicked with "invalid memory address or nil pointer dereference", resulting in `kube-controller-manager` crash-looping.

**What you expected to happen**:

`k8s.io/kubernetes/pkg/controller/disruption.(*DisruptionController).getPodsForPdb()` to gracefully handle nil-valued variables.

**How to

[2021-02-02 22:45] avrittrohwer commented on #98702
/sig apps

[2021-02-02 22:45] avrittrohwer commented on #98702
@mortent

[2021-02-02 22:46] liggitt commented on #98702
/cc @mortent
/triage accepted

[2021-02-02 22:53] mortent commented on #98702
/assign

[2021-02-03 00:00] lavalamp commented on #98697
(In case it's not clear from @adtac's comments: the actual failure is the timeout, not the panic as stated in the OP.)

[2021-02-03 00:14] neolit123 commented on #98698
/sig architecture
/area code-organization

[2021-02-03 00:14] neolit123 commented on #98698
/triage accepted

[2021-02-03 00:33] aravindhp opened #98704 ""kubectl top node" does not return resource usage for Windows nodes"
**What happened**: `kubectl top node` does not return resource usage for Windows nodes

**What you expected to happen**: `kubectl top node` should return CPU/Memory/Storage resource usage for Windows nodes also.

**How to reproduce it (as minimally and precisely as possible)**: Add a Windows node to a cluster and execute `kubectl top node`
[code]
Here `ip-10-0-156-117.us-east-2.compute.internal` i

[2021-02-03 00:33] aravindhp commented on #98704
/sig windows
/sig cli

[2021-02-03 00:43] baburdick commented on #82534
We're seeing this issue, too. @ThomasCassimon: How did you resolve your issue?

[2021-02-03 00:45] jsturtevant commented on #98704
Can share the logs from the metric server and the kubelet?

There could be a couple things going on.  This is similiar to https://github.com/kubernetes/kubernetes/issues/95735 which can be reduced via https://github.com/kubernetes/kubernetes/issues/95735 and setting reserves for kubelet.

I also found https://github.com/kubernetes/kubernetes/issues/98509 happens and metric server fails to scrape m

[2021-02-03 00:49] chymy commented on #98079
I reproduce it in the way given in `How to reproduce it (as minimally and precisely as possible):`, but I didn't reproduce it.

[2021-02-03 00:52] jsturtevant commented on #98680
@lalwanin2020 Is this using docker?

@daschott are you aware of this?

[2021-02-03 01:22] ehashman opened #98707 ""BeforeSuite" test is frequently flaking"
**Which jobs are flaking**:

Looks like many according to triage link, but certainly pull-kubernetes-e2e-gce-ubuntu-containerd (e.g. in #97968)

**Which test(s) are flaking**:

BeforeSuite

**Testgrid link**:

There's going to be a lot of testgrid links/jobs, see triage link instead: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=BeforeSuite%20on%20Node%201%20failed

**R

[2021-02-03 01:23] ehashman commented on #98707
/sig testing

I'm not sure what's causing the failure but I haven't looked very hard

[2021-02-03 01:29] tanjunchen commented on #89267
@gavinfish  no,welcome to close this issue.thanks

[2021-02-03 01:59] gavinfish commented on #89267
/assign
/remove-help

[2021-02-03 02:18] PriyankaH21 opened #98709 "[Flaky Test] [sig-network] DNS should resolve DNS of partial qualified names for the cluster [LinuxOnly]"
**Which jobs are flaking**: `ci-kubernetes-e2e-ubuntu-gce-containerd`

**Which test(s) are flaking**: `DNS should resolve DNS of partial qualified names for the cluster [LinuxOnly]`

**Testgrid link**:  https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd&include-filter-by-regex=DNS%20should%20resolve%20DNS%20of%20partial%20qualified%20names%20for%20the%20cluster%20

**

[2021-02-03 02:27] Huang-Wei opened #98710 "`SkipWaitToCompletion` semantics in scheduler performance test framework"
`SkipWaitToCompletion` is a very useful option in scheduler perf test framework to define an operation without waiting for it to finish. However, the current testing logic still waits for all the pods in this operation to be schedulable, in the last step:

- [Record](https://github.com/kubernetes/kubernetes/blob/5144e2ec78ccd1ae6ab77075d88604159b957bfa/test/integration/scheduler_perf/scheduler_per

[2021-02-03 02:29] Huang-Wei commented on #98710
/assign @adtac

WDYT?

[2021-02-03 02:42] pacoxu commented on #98709
[code]

k8s.gcr.io/e2e-test-images/jessie-dnsutils:1.4 is promoted in https://github.com/kubernetes/k8s.io/pull/1558 19 days ago.

[code]

Not sure why the image pulling failed.

[2021-02-03 02:49] chentaoz commented on #98661
hey @zionwu , can you share any log in kubelet and scheduler for this issue?

[2021-02-03 02:56] jayunit100 commented on #98577
ok so i didnt get to fully repro but,
- great bug report , mostly makes sense.  I got stuck on the `Loadbalancer` part though because i was testing in Kind.  To reproduce this - do you need like an NSX loadbalancer (i see that 100 IP address)... or does this happen w/ literally any cloud loadbalancer?
- gotta get rid of those `heredocs` i think they were accidental pastes ?

Thanks again ! Sorry i

[2021-02-03 03:37] carlory commented on #98175
/assign

[2021-02-03 04:00] almas33 commented on #93100
Hi @lauchokyip are you working on `expose.go` ?

[2021-02-03 04:06] chenyw1990 commented on #98660
/assign

[2021-02-03 04:37] lauchokyip commented on #93100
@almas33 , you can take it if you want 👍🏼

[2021-02-03 05:28] wzshiming commented on #98692
Do you know how to reproduce it?

[2021-02-03 05:30] pacoxu commented on #98709
Cannot reproduce it with

- crictl  -D  pull k8s.gcr.io/e2e-test-images/jessie-dnsutils:1.4
- docker pull k8s.gcr.io/e2e-test-images/jessie-dnsutils:1.4
- ctr image pull --platform linux/arm64 k8s.gcr.io/e2e-test-images/jessie-dnsutils:1.4

[code]

Failed on ubuntu/amd64. Can someone try to reproduce it? Or this is temperory failure ?
[code]

[2021-02-03 06:02] cocofish commented on #40651
Hiya Zetanova, I have the same requirement, want to append the statefulset ordinal index to pod name tail, as a label, aim to match PV which I labeled the same label. would you tell me how can I append the ordinal index into the _**volumeClaimTemplates.spec.selector.matchLabels**_? I appreciate you can review it, thanks so much in advance.

data-postgresql-0 PV yaml
`apiVersion: v1
kind: Persisten

[2021-02-03 06:13] zionwu commented on #98661
The log of kubelet:
[code]

[2021-02-03 06:31] aimuz opened #98714 "Kubectl get pod cannot be displayed. Client go can get it correctly"
**What happened**:

I have a problem. I don't know if this description is correct. I use `informers`, and I get the data by calling it

This is an a'p `informers` based on information

![image](https://user-images.githubusercontent.com/17666471/106706033-f7156980-6629-11eb-9ac2-27e4fad2a9bd.png)

Until I got the data through kubectl, I found that their data were not consistent

[code]
![image](htt

[2021-02-03 06:32] aimuz commented on #98714
/sig apiserver

[2021-02-03 06:33] aimuz commented on #98714
/sig api-machinery

[2021-02-03 06:34] pacoxu commented on #98707
I find the error is

I think we should run

[code]
but I don’t have the access permission to run this.

[2021-02-03 06:43] sxllwx commented on #97294
No clue yet :( what about the others?

[2021-02-03 06:46] iTaybb commented on #73480
/remove-lifecycle rotten

[2021-02-03 06:46] iTaybb commented on #73480
/reopen

[2021-02-03 07:14] mengjiao-liu commented on #60987
Same issue in kubernetes v1.20.2

[2021-02-03 07:38] snowplayfire commented on #98692
I write another easy controller watching one object,  the problem can not be reproduced.

But my combinator controller always has the problem with 400 combinator objects.

[2021-02-03 07:42] snowplayfire commented on #98692
My controller using client-go v0.18.6 has some warnings:

[code]

But controller using client-go v0.17.8 also has these warnings:

[code]

[2021-02-03 07:45] aojea commented on #98570
this is how it goes: kube-proxy installs rules to forward all the traffic send to the ClusterIP to the generated Endpoints/EndpointSlices, if there are no Endpoints on that Service the traffic will be rejected by kube proxy.

The endpoints are "auto-generated" by the endpoint/endpoint-slices controllers, this is an asynchronous operations. When you create a service, if there are pods matching the

[2021-02-03 08:20] wzshiming commented on #98692
The log given I can only see that a certain type is not registered and it is not helpful, but as far as I know, a bad admission may cause a relatively high delay, you can check it.

[2021-02-03 08:27] snowplayfire commented on #98692
What is the meaning of " a bad Admission" and How to check it?  Is there any relevant issue？

[2021-02-03 08:36] snowplayfire commented on #98605
Maybe the reason is watch delay. https://github.com/kubernetes/kubernetes/issues/98692

[2021-02-03 08:44] iTaybb commented on #73480
/reopen

[2021-02-03 08:45] iTaybb commented on #73480
Can someone please open this issue? This is still relevant

[2021-02-03 08:45] xujyan commented on #97983
Circling back on the naming of the metric and whether to reuse the metric `preemption_victims` (continuing with the discussion in [here](https://kubernetes.slack.com/archives/C09TP78DV/p1610474506378100):

https://github.com/kubernetes/kubernetes/blob/074a5177209c3605daf11cfe6f477fddce0d55c0/pkg/scheduler/metrics/metrics.go#L67

I think it's problematic to reuse these metrics and just add priority

[2021-02-03 08:51] ns-jisorce commented on #98570
Hi @aojea , thanks for the explanation. But your conclusion "so you can reach your endpoint" is actually not effective, i.e. the test shows that it is actually not reachable for a quite noticeable delay (above 5seconds).
See my previous comment: "-> After the above logs the wget fails for 5 seconds."

Where I am surprise is that then there is no log, I would have expected a few traces when that 5

[2021-02-03 09:03] aojea commented on #98570
service added without endpoints, traffic will now work, is not forwarded to anyplace

rules added with the endpoint, traffic will work from here, is being forwarded to a pod

does that gap match your observations?

[2021-02-03 09:05] harche opened #98718 "Incorrect container status when pod exceeds activeDeadlineSeconds"
**What happened**:
When pod exceeds `activeDeadlineSeconds` we find that,

[code]
The pod `phase` is correctly states `Failed` with the reason `DeadlineExceeded` but as you can see above the container state is still reported as `running`

**What you expected to happen**:
Container state should be `Terminated` not `running` because pod has exceeded `activeDeadlineSeconds`

**How to reproduce it (as

[2021-02-03 09:06] harche commented on #98718
/sig node

[2021-02-03 09:07] ns-jisorce commented on #98570
Yes the 2/3 seconds gaps matches my observations because I added a sleep in between the create service and the label change:
`kubectl create -f nginx-service.yaml; sleep 2; kubectl label pod nginx --overwrite app=nginx`
I added the sleep so I could go back in the other terminal, press enter to separate so I better see.
But still then the pod is not reachable for 5 seconds after that. Sorry about t

[2021-02-03 09:13] wilmardo commented on #75482
/remove-lifecycle stale

[2021-02-03 09:17] aojea commented on #98570
ahh, so you say the pod is not reachable until 5 seconds later than the iptables rules are installed?

[2021-02-03 09:19] ns-jisorce commented on #98570
Correct

[2021-02-03 09:22] Zetanova commented on #40651
@cocofish   u dont need to matchLabel the volumeClaimTemplate
The name of the PVC is used to create or use an existent one.

The name pattern is `{volumeName}-{statefullSetNam}-{ordinal}`

If u need a custom defined claim with a special volume
you can create the volume and/or the claim before the statefullset
[code]

The problem is that currently is no oridinal placeholder / replacement in the yam

[2021-02-03 09:23] aojea commented on #98570
:thinking: can you try adding `--timeout` to wget?
[code]

[2021-02-03 09:26] BenTheElder commented on #98707
That's not the error, that's just a warning that this dependency wasn't found in our mirror, so it will download from the original source and the mirror is not available to mitigate flakes / downtime in the original host.
https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/build/workspace_mirror.bzl

basically we tell bazel `urls = mirror("https://original.url/fo

[2021-02-03 09:28] bcorijn opened #98719 "Occasional OCI runtime create failed - "no such file or directory: unknown" when mounting multiple subpath volumes"
**What happened**:
From time to time, some of my statefulset pods will end up in a crashloop that can only be resolved by deleting the pod so a new one is spawned. I'm not 100% sure at this time what triggers the very first crash, but once it starts restarting it fails to create the container with the following error:
[code]

**What you expected to happen**:
Pods to be able to start as normal

**H

[2021-02-03 09:31] BenTheElder commented on #98707
also adding: this happens due to actual bugs in tested code sometimes, but if we're seeing it frequently across PRs, probably something else is afoot with pods readying in this test configuration ...

from that particular run in the test log we can see:

---
I0202 12:13:58.982] Feb  2 12:13:57.216: FAIL: Error waiting for all pods to be running and ready: 5 / 22 pods in namespace "kube-system" are

[2021-02-03 09:36] akshayubale1 commented on #74071
same here please help me as well what can be the issue with elasticsearch

[2021-02-03 09:36] akshayubale1 commented on #74071
same here please help me as well what can be the issue with elasticsearch

[2021-02-03 09:46] BenTheElder commented on #98707
We spent:
- build (build sources): 4.3053109074 minutes
- stage (upload the build for pulling to the cloudy nodes): 3.119139199766666 minutes (slower than you might hope?? but not surprising, the builds are pretty large)
- extract (prepping build output for local usage or downloading it): 14.577866452 seconds
- TearDown Previous (ensure no previous leaked resources in GCP test project): 33.6838396

[2021-02-03 09:49] BenTheElder commented on #98647
/area provider/gcp
cc @cheftako

[2021-02-03 09:51] BenTheElder commented on #98512
this sort of build timeout is usually resource starvation in CI, I'm guessing these aren't in the guaranteed QOS cluster?

[2021-02-03 09:55] zorro786 commented on #98659
@dims More appropriately "up to 5000 nodes" :). I can help out to update the documentation if you can provide details/pointers on where I can find the requested information. [Here](https://kubernetes.slack.com/archives/C09QZTRH7/p1612168294019100) is the thread I posted in #sig-scalability

[2021-02-03 10:04] aelmanaa commented on #89898
same issue on AKS . can we have some feedback from kubernetes maintainers?

[2021-02-03 10:13] rikatz commented on #93100
@almas33 thanks for taking this

Once ready please mark me in the PR for review :)

[2021-02-03 10:14] ns-jisorce commented on #98570
Sure:

[code]
I0203 10:07:24.895586       1 config.go:334] Calling handler.OnServiceAdd
I0203 10:07:24.895623       1 service.go:275] Service default/nginx-service updated: 1 ports
I0203 10:07:24.895991       1 service.go:390] Adding new service port "default/nginx-service" at 10.110.48.148:8080/TCP
I0203 10:07:24.896026       1 proxier.go:861] Syncing iptables rules
I0203 10:07:24.928459       1

[2021-02-03 10:18] BenTheElder commented on #98267
tiny note: I expect a pretty strong push to ship go 1.16 in kubernetes immediately following release, for darwin/arm64 support, if nothing else 🙃
It looks like 1.16 is expected to release this month, so we probably will get 1.21 with 1.16, this looks like a very nice change to ship along with that.

[2021-02-03 10:27] bcorijn commented on #98719
/sig storage

[2021-02-03 10:28] wzshiming commented on #98692
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

[2021-02-03 10:38] aojea commented on #98570
soo, it is dns, right?

[2021-02-03 10:39] BenTheElder commented on #98268
currently this sort of thing is usually done at the node level in the container runtime configuration.
for example in containerd/CRI you can configure registry endpoints with a list of hosts. I think cri-o has something similar.

[2021-02-03 10:43] BenTheElder commented on #98213
Thanks for filing this, it seems theres a lot more of this in the repo than I would have hoped.

I think to reliably prevent this in the future we'd definitely need a linter, it's too hard to ensure every contributor / reviewer is aware of something like this otherwise.

Even without that though, attempts at cleaning this up would be appreciated.
I'm going to drop a pointer to this in the kubernet

[2021-02-03 10:44] gjkim42 commented on #98718
I would like to address this :)
/assign

[2021-02-03 11:03] zetaab opened #98720 "apiserver making unnecessary log rows"
**What happened**: we are running apiserver with loglevel 1. However, we are seeing still quite much logs coming from apiserver. ~1800 rows/hour in empty cluster (3 masters, so one apiserver making ~600 rows/hour)

Example:
[code]

**What you expected to happen**: I expect that if we run apiserver with loglevel 1 we should only see log rows that we are interested of and are important. As I see it,

[2021-02-03 11:09] zetaab commented on #98720
/sig api-machinery

[2021-02-03 11:59] milazzog commented on #55713
I'm having a problem with kubernetes: I created a HA cluster with 3 masters (`eg0`, `km01`, `km02`: the first is a physical server the other VMs on an Esxi host) and 4 workers (`kc101`, `kc201`, `kc202`, `kc203`: all VMs on another Esxi host) with haproxy active and running on machine `eg01`. For testing purposes I made the following deployments:

[code]

After making sure that all the pods were r

[2021-02-03 12:19] harche commented on #98718
@gjkim42 thanks.

[2021-02-03 13:22] roizentner commented on #98215
@Huang-Wei just a quick update: after changing all of our services to use the values you suggested for maxSurge and maxUnavailable, we are still encountering this issue. It is less frequent, but is still there. Any other suggestions?

[2021-02-03 13:26] roizentner commented on #98214
@Huang-Wei you helped me in the other issue I've created, maybe you can shed some light here as well?

[2021-02-03 13:51] dims commented on #98707
/assign

[2021-02-03 13:56] ribbybibby commented on #89903
/remove-lifecycle stale

[2021-02-03 13:58] ahg-g commented on #97983
I am not certain that changing the metric to HistogramVector (basically add labels) is a breaking change. @logicalhan can you advice if it is safe to change to HistogramVector and start adding labels (are framework like prometheus and stackdriver able to handle this automatically)?

I think we should have one metric long term, so I would avoid adding "per_priority" to the name. So, if we can't mak

[2021-02-03 13:59] adtac commented on #98697
Finally reproduced the issue locally after many runs:

[code]

[2021-02-03 14:32] liggitt opened #98723 "Addon manager defaults prune whitelist to extensions/v1beta1 Ingress"
**What happened**:

Sweeping uses of extensions/v1beta1 in preparation for [stopping serving this API group in 1.22](https://github.com/kubernetes/kubernetes/issues/43214), the addon manager stood out as using extensions/v1beta1 Ingress by default:

[code]

[code]

**What you expected to happen**:

All components shipped in 1.21 must use networking.k8s.io/v1 Ingress in order to work properly again

[2021-02-03 14:33] liggitt commented on #98723
/sig network

[2021-02-03 14:39] lalwanin2020 commented on #98680
@jsturtevant Yes the windows worker nodes are using Docker.

[2021-02-03 14:40] alculquicondor commented on #98175
/unassign @gitirabassi

[2021-02-03 14:51] neolit123 commented on #97294
@xmudrii

is this reproducible on a local HA kind cluster?
https://kind.sigs.k8s.io/docs/user/configuration/

[code]

you might need a beefy machine to run this. e.g. 10GB ram / 4 cores.

[2021-02-03 14:59] dabaooline commented on #50909
Thanks, your answer inspired me . I meet the same question at Ubuntu. Finally, I find the git config cause this symlink error.
symlinks = true

[2021-02-03 15:00] liggitt commented on #43214
@robscott, were the items for 1.20 completed? Anything remaining to do in 1.21 ahead of removal in 1.22?

[2021-02-03 15:06] liggitt commented on #98683
your schema does not define any properties in the `values` field:

[code]

By default, unknown fields are pruned. To preserve them, specify `x-kubernetes-preserve-unknown-fields: true`, per https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#controlling-pruning

[code]

[2021-02-03 15:06] #98683 closed

[2021-02-03 15:17] xmudrii commented on #97294
@neolit123 I've tested it once with kind but I wasn't able to reproduce the issue. Also, the API server logs in the kind cluster are a bit different, for example, there are no logs about terminating watchers, or losing etcd connection. I'll try again tomorrow and I'll also share logs from a kind cluster.

In the meanwhile, can you point me to some code, references, or something similar, about how

[2021-02-03 15:22] aojea commented on #97294
you need to increase the loglevel

[code]

[2021-02-03 15:26] christianh814 commented on #90066
I think this is the best approach. Fine, give me `managedFields`, but also give me a way to toggle them off.