[2015-10-21 22:27] lavalamp commented on #16041
@ihmccreery I think it doesn't matter much.

[2015-10-21 22:30] lavalamp commented on #15726
[code]

[code]

[2015-10-21 22:32] #16030 closed

[2015-10-21 22:38] jlowdermilk commented on #16046
cc @erictune

[2015-10-21 22:39] bgrant0607 opened #16070 "kubectl should support ingresses"
Forked from #15578

kubectl uses "ingress" for both singular and plural for the ingress resources, whereas it uses plural forms for everything except endpoints AFAIK.

kubectl should support both ingress (singular) and ingresses (plural). At least the following places need to be updated:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/kubectl.go#L111
https://github.com/kubernetes

[2015-10-21 22:42] bgrant0607 commented on #16070
I believe we should special-case endpoints here instead of status:
[code]

cc @kubernetes/kubectl

[2015-10-21 22:43] bgrant0607 commented on #16070
@derekwaynecarr Does OpenShift have any resource types ending with `s`?

[2015-10-21 22:47] erictune commented on #16046
Does this work: `kubectl delete --namespace optymyze serviceAccounts/optymyze`

[2015-10-21 22:50] mikedanese commented on #16055
Known issue. I think we are waiting for https://github.com/docker/docker/pull/16773 and the issue https://github.com/docker/docker/issues/10088 to converge before we can support this. I think we are tracking this yet though...

@fgrzadkowski

[2015-10-21 22:52] dchen1107 opened #16075 "mesos/pkg/scheduler failed"
I1021 15:43:53.875253    3557 ha.go:132] scheduler process entered standby stage
I1021 15:43:53.878146    3557 ha.go:154] scheduler process entered master stage
I1021 15:43:53.878208    3557 ha.go:164] driver started successfully and is running
I1021 15:43:53.878236    3557 scheduler.go:260] Scheduler registered with the master: &MasterInfo{Id:*master-id,Ip:*3232235521,Port:*5050,Pid:nil,Hostname:

[2015-10-21 22:53] dchen1107 commented on #16075
cc/ @davidopp

[2015-10-21 22:54] davidopp commented on #16075
@karlkfi @jdef @sttts

[2015-10-21 23:04] lavalamp commented on #15960
Yeah, my suggestion is fixing defaulting/conversion/validation as needed to make exceptions for mirror pods.

[2015-10-21 23:06] yujuhong commented on #16045
[code]
I think the events are sorted by the LastSeen time based on your output, and events are compressed (see `Count`) for efficiency. The health-check event last happened at `15:06:09 -0400` and has happened 90 times in total. I am not sure whether the out-of-order created/started/killing events are the artifact of event compression. /cc @saad-ali who knows more on compression.

[2015-10-21 23:07] lavalamp commented on #15960
I'm not 100% sure it's needed, but if necessary we can turn the defaulting fix on in apiserver, and leave it off in scheduler, so that it gets the defaults it expects.

[2015-10-21 23:12] justinsb commented on #16045
Thanks @yujuhong - that makes a lot of sense on the FirstSeen / LastSeen / Count explanation.  To be honest, there were so many events that the column labels were well off my screen, and I didn't even notice the 90 count.  I don't know to what extent this was just me not paying enough attention or whether we could do something to make this more obvious, but thank you for the explanation.

[2015-10-21 23:18] jdef commented on #16075
is this a test flake? or is it happening consistently?

[2015-10-21 23:20] bgrant0607 commented on #15355
@mudrion Please read the user-guide walkthrough instead: https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide#thorough-walkthrough

@feihujiang @hw-qiaolei An overhaul to guestbook is underway: #14256

We have lots of examples. With so many redundant examples, it's hard to keep them all up to date, as you can see from this issue. simple-yaml.md is entirely subsumed by https://githu

[2015-10-21 23:33] smarterclayton opened #16076 "Regression: identical writes to storage interface are not ignored"
Historically, a write to etcd that did not change content (existing content == new content on CAS) would not result in a watch event.  At some point between last year and now, that changed, and identical object writes via the etcd storage result in multiple watch events.  This is bad for several reasons - bad controller loops can flood the event logs trying to write the same data, clients are unne

[2015-10-21 23:33] smarterclayton commented on #16076
Seeing this on etcd 2.1.2 and latest master.

[2015-10-21 23:35] #15887 closed

[2015-10-21 23:53] dchen1107 commented on #15960
Yeah, it is way more frequent than 10s. I pointed this out to @yujuhong earlier.

We had a meeting with @alex-mohr, and looks like:
* Providing a scripts to convert fluentd yaml file and asking the user to run is not a solution. Our users are very slow on such maintenance work.
* Piggyback such conversion work on master updating might not a solution for GKE clusters. We do have access to GKE nodes

[2015-10-22 00:00] bgrant0607 commented on #14924
We also need to standardize the form of the documentation: complete sentences vs. not, etc.

Since the type and field documentation is extracted, exported via swagger, and converted to user documentation, none of it should be in terms of Go field names nor types. As discussed in [another PR](https://github.com/kubernetes/kubernetes/pull/15350#discussion_r41797383), we should convert to json field

[2015-10-22 00:08] thockin commented on #16070
Agree ingresses is as correct as ingress.

On Wed, Oct 21, 2015 at 3:43 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-22 00:08] #8683 closed

[2015-10-22 00:13] yujuhong commented on #15960
In order to not break the v1.1+ kubelet (which applies newer defaults), we should only skip defaulting for pods from pre-v1.1 kubelets.

An easy way to do this is to reuse #15983, which changes the mirror key annotation value from "mirror" to the hash of the pod manifest file. In short, if the key exists, it's a mirror pod. If the value is "mirror", it is sent by a pre-v1.1 kubelet. Otherwise, it'

[2015-10-22 00:22] sethp-jive opened #16079 "kube-proxy never recovers if the nofiles limit is hit"
This issue has been [discussed](13709) [before](5461) and the [current behavior](https://github.com/kubernetes/kubernetes/commit/4b299476521d80c7e071d5551b22555638d6d7f3) is presently [desired](6716), but I am here to offer my experience and present a novel approach for discussion.
#### Our Experience

DNS resolution across our cluster was failing, despite being able to successfully dig the pod IP

[2015-10-22 00:37] thockin commented on #14870
hmm,  should we close this, then?

Thanks for the update :)

On Tue, Oct 20, 2015 at 5:28 AM, AdrianAbraham <notifications@github.com>
wrote:

[2015-10-22 00:39] DirectXMan12 commented on #16018
@mdshuai I'd also reccomend double checking the controller-manager logs to make sure that the controller-manager is actually able to talk to heapster.

If you want to confirm whether or not there are actually metrics present, you can talk to heapster using cURL.  For example:

[code]

[2015-10-22 00:44] yujuhong commented on #16045
@justinsb, I think the main problem is that kubelet tried to restart the container way too often. Kubelet now backs off restarting crashlooping containers (#12648), so you should not be swamped by so many events after v1.1.

[2015-10-22 00:46] bgrant0607 commented on #15960
Just this morning, we discussed providing a script/tool to update static pod configs for people with large clusters. Why have we changed that plan?

Any hack in apiserver is going to be confusing and fragile. For instance, a LimitRange installed for kube-system would defeat the hack.

If we were to add a hack in apiserver, we'd need to remove it in 1.2.

[2015-10-22 00:54] yujuhong commented on #15960
@bgrant0607, we talked to @alex-mohr and the conclusion was that node update may not be feasible as @dchen1107 [summarized above] (https://github.com/kubernetes/kubernetes/issues/15960#issuecomment-150056622).

I agree that any apiserver fix is hacky and fragile, but it seems the most viable option right now.

We would need to carry this fix in apiserver as long as GKE supports v1.N master + v1.0

[2015-10-22 01:01] justinsb opened #16083 "AWS: Follow security best practices for public/private subnetting"
Pulling this out of @chrisleck 's comments here: https://github.com/kubernetes/kubernetes/issues/14504#issuecomment-143780488

*We should consider splitting services into public & private subnets.*

@chrisleck can you explain a bit more about what you're doing here?  Are you running k8s in both your public & private subnets?  (And is it a single cluster?)   Hopefully we can support your scenario,

[2015-10-22 01:02] nikhiljindal commented on #15916
@timstclair You are right. I just found out the same https://github.com/kubernetes/kubernetes/pull/15788#issuecomment-150067838
cc @caesarxuchao

[2015-10-22 01:11] jijun2 commented on #15527
@thockin ,My main task change to  linux kernel now, but I want fix this in night and this weekend if it is simple, How about ?  Is it urgent ?

[2015-10-22 01:11] bgrant0607 commented on #15960
Ah. These fields are problems because they existed in 1.0, but weren't used nor populated. Entirely new fields are silently dropped during decoding.

We should cherrypick the solution into 1.0.7, since it appears there will be one.

[2015-10-22 01:12] ntquyen commented on #16022
Deleting data in mounted folder may be the way rethinkdb instance does to initialize a clean directory. However, I'm not 100% sure whether the data is deleted or not, I just read from the rethinkdb console log about initilizing metadata and tmp directory as it starts. When the newly instance is up, it has new server name, new server id. So it mean that, whether or not the old data is deleted, it c

[2015-10-22 01:16] bgrant0607 commented on #15960
That is, we should cherrypick  #15983 into the 1.0 branch.

[2015-10-22 01:20] #15609 closed

[2015-10-22 01:25] JanetKuo commented on #16070
If we're changing the plural of "ingress" to "ingresses" we need to change its resource name from "ingress" to "ingresses" too.
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/ingress.go (and many other places)

It's because we use plural as resource name. See
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/meta/restmapper.go#L130
https://github.com/kuberne

[2015-10-22 01:34] bgrant0607 commented on #15960
Ref.  https://github.com/kubernetes/kubernetes/issues/4855#issuecomment-99565465

[2015-10-22 01:45] paralin commented on #16083
I think this is an interesting problem. Isn't the "private" IP technically it's own internal subnet? Through the default VPC on AWS

[2015-10-22 01:58] bgrant0607 commented on #15960
If the hack is going to remain indefinitely, I'm not comfortable circumventing defaulting, conversion, and validation.

[2015-10-22 01:59] bgrant0607 commented on #15960
Just not performing the defaulting for these specific fields on just mirror pods seems safer.

[2015-10-22 02:03] bgrant0607 commented on #15960
In particular, I could easily imagine a new version of the pod API in 1.2 or 1.3, which will require defaulting and conversion to be applied, in general.

[2015-10-22 02:22] smarterclayton commented on #16070
We don't have any today.  RESTMapper exists to serve generic clients, however, that predates API discovery, at which point resources should be provided by the server and pluralization should be rule driven (and as Janet notes we can simply use heuristics on user input to locate resources based on rules - if "ingress" isn't found, "ingresses" could be).

[2015-10-22 02:36] ArtfulCoder commented on #15527
i think you will be able to find the bug quickly and mostly likely it will be a simple fix.
Maybe you could take a quick look ?

[2015-10-22 02:42] ncdc commented on #15726
@lavalamp I'm beat for the night. I will take a look at this e2e scenario tomorrow morning.

[2015-10-22 03:14] jijun2 commented on #15527
@ArtfulCoder , @thockin  , OK.

[2015-10-22 03:17] feihujiang opened #16085 "How do I get to know the config context (default (preference) namespace etc)"
I found that kubectl namespace has been forbidden: and if I use `kubectl namespace`, there is a clue that  "See 'kubectl config set-context --help' for more details"
But `kubectl config set-context` couldn't view the default (preference) namespace.
Then I use  `kubectl config view`, but the result is:

[code]

I couldn't found any contexts there.
So I see, If we don't specify any context,  The cur

[2015-10-22 03:20] mdshuai commented on #16018
@piosz @jszczepkowski  @DirectXMan12
[code]
1. My env is local, the heapster is created from: cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml

2. The hpa CURRENT always <waiting>, I have wait more than 5m. It seem that in kube-controller-manager.log  the metrics is empty and can't get pod cpu usage.

3. kube-controller-manager.log :  http://pastebin.test.redhat.com/321734

[2015-10-22 03:24] mikedanese commented on #16079
@kubernetes/goog-cluster

[2015-10-22 03:28] thockin commented on #16070
From a consistency pov, you're right.  The URL path should be in
ingresses.  @bprashanth objections?
On Oct 21, 2015 6:26 PM, "Janet Kuo" <notifications@github.com> wrote:

[2015-10-22 03:44] roberthbailey opened #16087 "Published local docker getting started guide is quite out of date"
http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html

References using kubernetes 0.21.2. The version at head (https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md) shows 1.0.6. The published docs for 1.0 should show 1.0.6 because that is that latest supported release version on the 1.0 release branch.

I think we can fix this by cherry picking th

[2015-10-22 03:55] nVitius commented on #16055
All right, thanks for linking to those. That helps.

[2015-10-22 04:16] legdba commented on #15795
K8S is using https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter already which support JSON merging. Looking at it it looks like adding a "merge_json_log true" would do the trick. I'll work on a patch and PR then. I'm not sure how to add automated tests for this though, any guidance on this?

[2015-10-22 04:36] chrisleck commented on #16083
I'm hosting a single region-wide VPC per region, where each AZ in the region contains two subnets in that VPC.  One public and one private.

Each public subnet plays host to public ELBs (e.g., what gets exposed today out of a Service with type:"LoadBalancer") and a few NAT hosts used for patching software in the private subnet.
Each private subnet is where all of the instances hosting Kubernetes s

[2015-10-22 04:51] RichieEscarez opened #16089 "Overhaul kubectl help"
The new "[kubectl overview](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl-overview.md)" document has been created and contains edits of all the kubectl descriptions (all technically reviewed/accurate).

We should push these updated/improved descriptions into the individual commands so that they also show up in the terminal and the topics generated for the commands.

[2015-10-22 05:00] erictune commented on #14500
I reviewed the controller code, but I haven't seen a way yet that it would be creating too many pods.

Since this tests are based on the Replication Controller tests, and since the RC tests are not flaky, then the problem must be in either the small amount of code that is different between the RC manager and the job manager, or else it must have to do with the fact that the pods terminate for a jo

[2015-10-22 05:10] caesarxuchao commented on #15916
@nikhiljindal, I sent #16073 to fix the problem @timstclair reported.

[2015-10-22 05:35] eliaslevy opened #16090 "Allow tagging of nodes by passing labels to kubelet via the command line"
A cluster may be comprised of heterogenous nodes.  To aid targeting of nodes through labels and `nodeSelector` it would be useful if we could pass labels to `kubelet` on the command line that it would apply to the node during self-registration.  Thus, we could tag a node with a instance-type, ami-id, or availability zone.

Alternatively or in addition, the cloud providers should be applying tags t

[2015-10-22 05:36] jlowdermilk commented on #15795
There is [an e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/es_cluster_logging.go) for cluster logging with elastic search. You could adapt the [logger pods](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/es_cluster_logging.go#L212) created to output json, and verify the log lines are correctly parsed.

[2015-10-22 05:38] caesarxuchao commented on #15916
aha, I sent #11726 to check links. (hack/verify-linkcheck.sh). I'll take a closer look tmr.

[2015-10-22 06:16] thockin commented on #15527
It is a little bit urgent - we're trying to close down changes for our 1.1
release, and this is flagged P0.  I can demote it if we need to, but that
means we're shipping 1.1.0 with this as a known defect.  Not the end of the
world, but not what I want to do.

If you can't pin this down in a few hours, let us know and we can take it
over.

On Wed, Oct 21, 2015 at 8:14 PM, jijun2 <notifications@gith

[2015-10-22 06:19] jijun2 commented on #15527
@thockin, Thank you for your help,  please take it over.

[2015-10-22 06:24] nikhiljindal commented on #15916
ah yes. I had forgotten about that.
Looks like it ignores links that do not have http://releases.k8s.io/HEAD prefix.

[2015-10-22 06:30] erictune commented on #15389
I've been working on this today.
Saw 1 e2e failure in 50 runs.
Logs suggest the problem is that half of kubelet's brain thinks it started a pod, and the other half of it thinks it didn't.  In fact it didn't.  So the test times out waiting for the not-started pod to complete.

[2015-10-22 06:35] wojtek-t commented on #16050
@davidopp - you meant the threshold for usage, right?

[2015-10-22 06:37] thockin commented on #16079
It might be possible to delay callers when we can't get backends, but I
think that would be miserable in really low-ulimit situations.  The panic()
is supposed to panic the app - is it not?

The real answer, I hope, is to ditch userspace proxying and instead use the
new iptables proxy mode (beta in kube v1.1, not on by default but easily
enabled).  My plan was to tell anyone who is suffering to tr

[2015-10-22 07:04] davidopp commented on #16050
Yes

[2015-10-22 07:14] wojtek-t commented on #15716
Only at cluster creation time. It does not solve the full problem but we don't think many people dynamically resize their cluster. Full fix is punted to 1.2, issue #13048.

+1

[2015-10-22 07:21] erictune opened #16091 "Don't log/event when killing the pause container"
When a pod exits, the pause container is killed, which generates an event like
`Killing with docker id ba4f4f254103` which serves only to confuse when viewing event logs.

the killContainer function should be modified to not generate an event or other logs (except at high verbosity, maybe) when killing a pause container.  pause containers are a detail that users should not be exposed to.

[2015-10-22 07:51] erictune commented on #15389
Update: the kubelet did start all the pods, and they all terminated, and then the job controller somehow didn't notice that they were done until 40+ minutes later.

[2015-10-22 07:53] piosz commented on #16018
So the problem is with missing metrics. Which version of the Heapster do you use? 0.18.2? Could you please provide logs from the Heapster?

Did you configured source correctly in Heapster? I'm not sure how to do it in local environment. @vishh any thoughts?

[2015-10-22 07:53] linzichang commented on #140
@bgrant0607 @dalanlan I would like to do PreStart hook too. I have implemented PreStart, PostStop and PostRm with an `agent`, outside kubernetes and docker. PostStop and PostRm are easy to achieve using docker events. Assuming what I want to do in PreStart is running `prestart.sh` and the real cmd is `mycmd`. There are two method to implement PreStart.
1. `docker run sh -c prestart.sh;mycmd`
2. `d

[2015-10-22 08:09] mdshuai commented on #16018
@piosz  The version is v0.18.2. I don't configure heapster. just using the yaml file directly. https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml
How to Heapster configure for local kube env ?
[code]

[2015-10-22 08:15] erictune commented on #15389
This is interesting.   There were 3 apiserver 500's around the time of the test failure, and no 500's any other time in the 8 hours the cluster was up, and many other test runs occurred.

500s:
[code]
[code]
[code]

[2015-10-22 08:26] erictune commented on #15389
The code that is failing is this in `pkg/apiserver/resthandler.go` at line 271
[code]
the `rw.Watch` gets an error, and then `errorJSON()` decides the error is a 500.

[2015-10-22 08:27] erictune commented on #15389
@lavalamp can you say anything about the above mentioned apiserver internal error which occurs immediately on receiving a watch request?

[2015-10-22 09:40] jiangyaoguo commented on #16091
If we remove killing event of pause container, do we should remove creating event also?

[2015-10-22 10:04] geoah commented on #15160
@romanek-adam & @stemau98 what version/s are you on?

[2015-10-22 10:05] piosz commented on #16018
Could you please run Heapster with more verbose logging (see [debugging.md](https://github.com/kubernetes/heapster/blob/master/docs/debugging.md#extra-logging)).

[2015-10-22 10:39] soupdiver commented on #4825
@thockin I want to give an example where the hostname is important.

I have **sendmail** installed in a container to forward emails to a relay mail server. sendmail takes something between 30 and 60 seconds to process my mail because it expects the hostname to be a FQDN. I tested with a container where I added **-h foo.localdomain** and processing was done immediately.

So it would be cool to have

[2015-10-22 11:42] tiran opened #16093 "kube-apiserver HTTP proxy removes Content-Length header"
Kubernetes' HTTP proxy removes the headers Content-Length and Transfer-Encoding from proxied requests. This breaks PUT and POST requests that require the Content-Length header and use chunked transfer encoding. I've created a producer for the problem with k8s configuration, Dockerfile and outputs at https://github.com/tiran/k8n-contentlength

In the reproducer example I'm making a curl POST reques

[2015-10-22 11:47] ihmccreery commented on #15960
We'll be discussing this soon after 1.1 lands, I expect.  My proposal would be for v1.N masters to support v1.N-1 and v1.N-2 (and maybe v1.N-3) nodes.  That gives users 6-9 months to lag their nodes behind their masters.  But it warrants much further discussion.

This isn't a viable solution either, because we can't depend on users updating their nodes to the latest 1.0 rev.  We expect arbitrary 1

[2015-10-22 11:50] stemau98 commented on #15160
on kuberntes version 1.1 but i compiled it by my self

[2015-10-22 11:52] ihmccreery opened #16094 "e2e.Framework should be private in a separate package to avoid afterEach method not being called"
Per @ixdy's [comment](https://github.com/kubernetes/kubernetes/pull/16008#issuecomment-149981815) to avoid #16008.

[2015-10-22 11:56] feihujiang opened #16095 "Improve API documentation of pod subresources"
Some API objects about the proxy subresource of pod as follows:
connect DELETE requests to proxy of Pod
`delete /api/v1/namespaces/{namespace}/pods/{name}/proxy/{path:*}`

But I don't know what's the function of the proxy subresource of pod. I tried to search in the doc directory,  but couldn't find them.
Is there any document about the proxy subresource of pod?

[2015-10-22 11:57] fgrzadkowski opened #16096 "E2e tests fail around "flock" command"
Today I've seen multiple e2e failures due to a problem around ```flock``` command in https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh. AFAIU current code will fail (```-n``` flag) if another job is trying to update ```gcloud```. This means that an e2e test will be red until next scheduled run, which can be even 1h later. This blocks submit queue for a long time.

I think we

[2015-10-22 12:25] romanek-adam commented on #15160
@geoah 1.0.6

[2015-10-22 12:31] markturansky commented on #16022
Is rethinkdb a "nominal service" per the discussion in #260?

That issue is about identity, naming, etc. in a clustered service.  Some of those problems are not solved yet.

[2015-10-22 12:34] jijun2 commented on #15527
@thockin, I've done my best. Maybe because these isn't a endpoint to use, I only start up a service.
// We tolerate this, it happens if we are cleaning up a failed allocation

Oct 22 20:16:19 centos-2.localdomain kube-proxy[26855]: I1022 20:16:19.584304   26855 proxier.go:587] Ignoring release on unowned port: {<nil> 48000 TCP}

// Release a claim on a port.  Returns an error if the owner does not

[2015-10-22 12:42] geoah commented on #15160
FYI: Restarting minions works fine on m4 instances.

[2015-10-22 13:18] wpc009 commented on #6440
I got the same `NotReady` forever situation. But it seems the reason is different.
First. The `kubelet` fail to listen on port `10250`, after checking the log in `/var/log/upstart/kubelet.log`
[code]

It seems something wrong with the docker daemon.
`ps aux | grep docker` shows there's no docker daemon running.
Then a `service docker start`, it still can not running.
checking `/var/log/upstart/doc

[2015-10-22 13:19] wpc009 commented on #6440
By the way, I'm using the `v1.2.0-alpha.2` release

[2015-10-22 13:19] cristifalcas commented on #16046
I can't reproduce this anymore :). Magic works.

If I will encounter the error again I will come with more data.

Thank you

[2015-10-22 13:19] #16046 closed

[2015-10-22 13:20] wpc009 opened #16098 "Node in `NotReady` state forever, (Ubuntu multiple VM)"
I got the same `NotReady` forever situation. But it seems the reason is different.
First. The `kubelet` fail to listen on port `10250`, after checking the log in `/var/log/upstart/kubelet.log`

[code]

It seems something wrong with the docker daemon.
`ps aux | grep docker` shows there's no docker daemon running.
Then a `service docker start`, it still can not running.
checking `/var/log/upstart/do

[2015-10-22 13:23] jayunit100 commented on #12208
Update on this.   We've noticed that the  `type Client struct {   *RESTClient }`, by definition has a RESTClient.  The RESTClient itself uses a `throttle`.   I'm digging into adding push metrics to the RESTClient metrics, so that *all* metrics can be gathered rather than just those from apiserver and controllermanager clients.

[2015-10-22 13:32] jayunit100 opened #16100 "Add Metrics for RESTClients to kuberentes for all clients to optionally use via standard scrape (WAS: pushgateway but that is overkill)"
Recently @timothysc has suggested the idea of using backpressure for managing client connect storms through a LB endpoint.

As a corallary to that end, we've dug in and saw that the RESTClient implementation has a mixture of timed backoff/throttle logic.

As a way **to quantify requests and backoffs for requests into the apiserver, and also to determine what the real hotspots are, we can use a pro

[2015-10-22 13:41] wpc009 commented on #16098
only the 'ai' node fail to start, the other 'i' nodes are fine.

[2015-10-22 14:30] derekwaynecarr commented on #16093
@lavalamp - if i recall, you have a good memory on proxy related problems, is this something that jogs your memory?

[2015-10-22 14:44] timothysc commented on #16100
s/Add pushgateway to kuberentes/Add metrics for RESTClients.

[2015-10-22 14:55] yichengq commented on #16076
@smarterclayton I think this is not the problem of etcd part.

I have tried to do this in etcd 0.4, which is the first minor version that k8s uses, and it always results in one watch event as etcd 2.1.2 does for `existing content == new content on CAS` request.

[2015-10-22 15:02] timothysc commented on #11962
For update, code needed to replace fakeClient is now I'm in...
Currently in flight on replacement, and will remove /tool dependencies and shift to storage as we go.

[2015-10-22 15:03] smarterclayton commented on #16076
Ok - then we may have broken this during the refactor of storage.

On Thu, Oct 22, 2015 at 10:55 AM, Yicheng Qin <notifications@github.com>
wrote:

[2015-10-22 15:05] smarterclayton commented on #16076
The check

[code]

should omit changes.  It's possible we no longer output in a deterministic
order? @wojtek-t would ugorji serialization have resulted in
non-deterministic body output?

On Thu, Oct 22, 2015 at 11:03 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-22 15:09] erictune commented on #16091
yes

[2015-10-22 15:14] derekwaynecarr commented on #16093
Version information gathered in background discussion:

[code]

We would need to test the scenario on head to see if issue is resolved.

[2015-10-22 15:19] wojtek-t commented on #16076
@smarterclayton - we are still using ugorji only for unmarshaling - marshaling is still done using encoding/json. So this can't be serialization.
Regarding deserialization, I think it is deterministic (i.e. I didn't observe problems), but we may want to double check it.

[2015-10-22 15:25] stevesloka commented on #4135
I've been running into a similar issue for a while now, the disk fills up, but the node status is still "Ready", work hangs trying to get scheduled.

If I can help contribute back would love to and assist solving. Seems like from the comments above a few people already have wip.

[2015-10-22 15:26] smarterclayton commented on #16076
I'll try to add a test in the next few days.  I fixed this very early on in
Kube development (specifically) but the test's for it may have atrophied,
or we have whitespace variation, or something.

On Thu, Oct 22, 2015 at 11:19 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2015-10-22 15:32] jayunit100 commented on #16100
Ok.  I've added a first pass.  Heres what they look like from client's perspective.
![screenshot from 2015-10-22 11 31 11](https://cloud.githubusercontent.com/assets/826111/10669828/80f8f54e-78b0-11e5-818a-6b43c0933c82.png)

[2015-10-22 15:35] jayunit100 commented on #16100
Now I'll start bucketing these guys to see what URLs are hit the most/least.  have to think some about the right way to do it

[2015-10-22 15:48] lavalamp commented on #15389
Look in the relevant kubelet logs to see how they interpreted the error.
It's a bit silly that we printed a stack trace but not the error text :(

On Thu, Oct 22, 2015 at 1:27 AM, Eric Tune <notifications@github.com> wrote:

[2015-10-22 15:56] lavalamp commented on #16093
It removes the header because it does rewriting, which changes the length,
but the go response mechanism was supposed to add back a header with the
new length.

The report's a bit unclear, since proxying involves two requests. Which
step of `client -> proxy -> downstream -> proxy -> client` is the header
being removed? I think it should be removed/readded in the last step, but
no other step. OP so

[2015-10-22 15:59] lavalamp commented on #16096
Failing is not OK there. It needs to retry. @jlowdermilk @brendandburns please fix!

[2015-10-22 16:02] erictune commented on #15389
`E1022 04:13:24.490216    3622 reflector.go:206] pkg/kubelet/config/apiserver.go:43: Failed to watch *api.Pod: Internal error occurred: too old resource version: 171 (13595)
`

[2015-10-22 16:08] jlowdermilk commented on #16096
It uses `-n` to exit because it runs in a subshell. If the command fails it will exit the subshell and skip gcloud update calls, which is the desired result. It was failing last night because the lock file temporarily had the wrong permissions on it, but from e2e history, it looks like all runs are back to green/yellow.

[2015-10-22 16:12] rvrignaud opened #16103 "Worrying memory usage of kube-proxy since cluster upgrade to 1.0.6"
Hello,

I just upgraded yesterday the nodes of my production cluster from 1.0.3 to 1.0.6 hosted on GKE (master was already in 1.0.6).
I'm seeing a worrying memory usage of some of the kube-proxy. One of the kube-proxy grew up to 520 MB of RAM in 22H and seems to leak memory nearly linearly.
See picture attached.
<img width="1267" alt="screen shot 2015-10-22 at 17 00 46" src="https://cloud.githubus

[2015-10-22 16:21] zmerlynn opened #16104 "NFS volume plugin may need to force unmount if it's stuck"
I just had a pod that I tried to `kubectl delete`. It didn't work. I left it overnight and checked the logs and found it full of:

[code]

Looks like the joys of NFS mount stability on Linux have struck again again. I did a `umount -f` on the node and the pod evaporated quickly.

[2015-10-22 16:25] liggitt commented on #16093
it doesn't rewrite content on the way in... I wouldn't expect Content-Length on the request to change

[2015-10-22 16:41] erictune commented on #15389
This is happening at line 269 of pkg/storage/watch_cache.go.
Is this an unexpected condition?  If not, why is it a 500?

[2015-10-22 16:48] jlowdermilk commented on #16085
#8593

[2015-10-22 16:50] thockin commented on #16103
What sort of load is this under?  How willing to participate in the debug
are you?  if we provided instructions, would you capture a memory profile?
Would you be willing to try a new kube-proxy binary?

On Thu, Oct 22, 2015 at 9:13 AM, Romain Vrignaud <notifications@github.com>
wrote:

[2015-10-22 16:50] tiran commented on #16093
The bug occurs on the way in. Both headers are removed in the step proxy -> downstream. The original curl request on the master has both Content-Length and Transfer-Encoding headers. I have verified it with tcpdump on the master. The service (downstream) inside my Kubernetes pod doesn't see the headers.

The problem only occurs when I'm using the apiserver HTTP proxy. With type: NodePort and a por

[2015-10-22 17:00] tiran commented on #16093
I found some code in Go's net/http package that removes Content-Length and Transfer-Encoding.

https://golang.org/src/net/http/request.go#L60
https://golang.org/src/net/http/request.go#L444

 Perhaps you have to copy the fields Request.ContentLength and Request.TransferEncoding from the req to newReq?

https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/proxy.go#L153

[2015-10-22 17:04] liggitt commented on #16093
we're already copying the entire header map... if go is removing those headers, not sure how we can set them more emphatically than we already are

[2015-10-22 17:16] paralin opened #16105 "DaemonSet should not schedule pods on NotReady nodes"
It appears in my cluster that DaemonSet is scheduling pods on NotReady nodes.

To reproduce:

  1. Spin up a 6 node cluster on AWS
  2. Create a DaemonSet
  3. Scale back down to 3 nodes on AWS
  4. DaemonSet will continue to schedule and reschedule pods on the NotReady nodes.

Sample node list output:

[code]

Sample pods output:

[code]

Sample DaemonSet output:

[code]

[2015-10-22 17:20] tiran commented on #16093
The go request library ignores some fields from the header map. For Content-Length and Transfer-Encoding it sends the value of the request's struct members instead of the fields from the header map.

https://golang.org/src/net/http/transfer.go#L49
https://golang.org/src/net/http/transfer.go#L170

This small modification to https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/proxy.go

[2015-10-22 17:20] lavalamp commented on #16093
OK, sounds like a legit bug if we're removing the headers on the way in.

On Thu, Oct 22, 2015 at 10:04 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-22 17:22] lavalamp commented on #16093
That fix looks reasonable. @caesarxuchao can you make a PR if you're out of things to do for the 1.1 release?

[2015-10-22 17:23] lavalamp commented on #15389
Oh, I thought that was fixed. It shouldn't be an internal error, you're out
of the watch window and need to re-list.

On Thu, Oct 22, 2015 at 9:41 AM, Eric Tune <notifications@github.com> wrote:

[2015-10-22 17:23] jlowdermilk commented on #16096
Hmmm. The `-n` in subshell is still triggering failure of parent shell. Whatever magic made it work before is now failing. Working on fix.

[2015-10-22 17:23] tiran commented on #16093
@lavalamp I haven't tested if the fix actually works. It's just a wild guess. :)

[2015-10-22 17:25] liggitt commented on #16093
we'd need to be super-careful to make sure we were using the same transfer encoding (both gzip or neither gzip) to make sure we don't change the content length

[2015-10-22 17:26] thockin opened #16106 "Cleanup: pkg/volume/testing.go -> pkg/volume/testing/fakes.go"
This is a trivial cleanup, but we should be following this pattern all over.

[2015-10-22 17:26] liggitt commented on #16093
hmm... in fact, we might be broken today if there's a mismatch, since we're copying the request body verbatim without setting transfer encoding

[2015-10-22 17:26] bliss commented on #12746
@rootfs: I can confirm: I made a fresh kubernetes install and while there was a replica with one pod on one node rbd volume is mounted to all nodes. After replica deleted the rbd volume gets removed from the node it has been but stays mapped to all other nodes. Sad but true.
kubernetes 1.0.3

[2015-10-22 17:27] lavalamp commented on #14384
We sorta fixed this-- now it's a real status error, but we left the status code 500, so it still produces stack traces and potentially confuses clients. @erictune @caesarxuchao we should figure out the correct status code.

[2015-10-22 17:27] rvrignaud commented on #16103
Hello @thockin,
I don't seem to have exotic workload except one of my logstash aggregator that should receive a lot of UDP packets.

I can spend as much time to help debugging this problem as needed. My main concern is that I need to ensure reliability and performance of the node. Is there any way to prevent pods from a specific namespace to be scheduled in this node ? This would allow me to be su

[2015-10-22 17:28] lavalamp commented on #15389
OK I reopened #14384.

@erictune did the kubelets involved re-list soon after getting these 500s?
If so, then this is coincidence and not your problem.

On Thu, Oct 22, 2015 at 10:23 AM, Daniel Smith <dbsmith@google.com> wrote:

[2015-10-22 17:29] lavalamp commented on #16093
Yes, I recall this being tricky, I think we might actually re-encode with a
different transfer encoding unless we take steps to defeat the go library.

On Thu, Oct 22, 2015 at 10:26 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-22 17:35] pmorie opened #16108 "Make it easier to rebase API changes"
Currently, when you rebase API changes, you have to merge or otherwise make compilable the generated schema files, which are impossible for me personally (and I'm guessing just about everyone else) to merge.  There should be a script that you can use to 'blank out' generated files after rebase and reset them to the minimal buildable state so that all regenerations can be applied easily.

@wojtek-t

[2015-10-22 17:36] ncdc commented on #16108
:+1:

[2015-10-22 17:39] dchen1107 commented on #16091
Removing event when killing the pause container is good because pause one is a hidden container, and shouldn't be user visible. But we should introduce a new event upon network configure is changed, and kubelet restart the entire pod by killing pause container here for introspection. Otherwise the user will confuse why kubelet restart pause container and trigger all user containers are restarted.

[2015-10-22 17:44] wojtek-t commented on #16108
If we migrate our generator to use Daniel`s framework - https://github.com/kubernetes/kubernetes/pull/15714 this should be mostly solved.
I'm started working on deep-copy generation, convertions will be the next step.

[2015-10-22 17:50] lavalamp commented on #15960
@bgrant0607 As Ike noted, cherrypicking into 1.0 kubelets is not feasible for solving this, because the whole reason for the problem is that people aren't updating their nodes.

The conversion fix in #16080 is much preferable to the defaulting fix: it's less brittle, and components that need the defaulting (e.g. scheduler) will see the defaulting (because they run the conversion stack themselves),

[2015-10-22 17:52] rootfs commented on #12746
@bliss very likely the following fixed your problem. You have to get at least 1.2.0-alpha.2 though

https://github.com/kubernetes/kubernetes/commit/8dbbcefdec541308616cface9c9ee4212d84bc9c#diff-36f18e327f36d95eb1333c4a18781184R266

[2015-10-22 17:55] bliss commented on #12746
@rootfs Thank you very much. I'll try to update.

[2015-10-22 18:09] dchen1107 opened #16110 "Validate docker v1.9.0-rc1 release"
.

[2015-10-22 18:09] dchen1107 commented on #16110
@vishh is this your turn?

[2015-10-22 18:19] ncdc commented on #15726
@lavalamp I *think* that the reason the pseudo-interactive test passes above is because of a timing issue. It passes for me locally (kubectl from master, cluster from 1.0.6). However, if I make it so there is a delay before the stdin data is actually supplied to the kubectlCommand, the expected output is missing. I don't know of any reasonable way to simulate this behavior other than to put in an

[2015-10-22 18:19] ixdy commented on #16094
cc @smarterclayton (#16084) and @mfojtik (#12221)

[2015-10-22 18:21] erictune opened #16113 "Remove ContainersNotReady conditions from a terminated Pod?"
When a Pod without a readiness probe is running, we show a Condition like `status: "True" type: Ready`.
We document this behavior in `docs/user-guide/introspection-and-debugging.md`.
This seems reasonable.

However when a Pod without a readiness probe terminates in Phase Succeeded, we show it as not Ready.  Showing it as not-ready is confusing and noisy.   It looks like this:
[code]

It is confusi

[2015-10-22 18:21] #15804 closed

[2015-10-22 18:40] sethp-jive commented on #16079
think that would be miserable in really low-ulimit situations.

I don't disagree – to me, there's two issues: the capacity ceiling for the proxy is absurdly low with the default ulimit settings ([which has been addressed](https://github.com/kubernetes/kubernetes/commit/6945cb050caa91dbc16b4fca452061c959b94b11)) and that hitting the ceiling causes a nonobvious failure. A throttle that reports (e.g.

[2015-10-22 18:45] smarterclayton commented on #16094
Agreed - we're able to reuse most of e2e.Framework but minor things like this trip us up

[2015-10-22 18:48] erictune commented on #16113
Option 3:

When pod has succeeded, update Condition to:
[code]

[2015-10-22 19:07] jayunit100 commented on #16100
As per conv. w/ tim, **pushgateway is not needed** for the majority of requests which we're assuming (in a  normal system) will come from servers which host scrapable endpoints...

[2015-10-22 19:16] fgrzadkowski commented on #16096
@jlowdermilk The parent script fails because we run with an option that every command should be successful or we exit 1. I think there are two options:
 - don't use ```-n``` flag
 - add ``` || true``` to the subshell command

[2015-10-22 19:18] nikhiljindal commented on #15313
IIUC. these are requirements for enabling deployments by default on HEAD as well, right?
cc @lavalamp

[2015-10-22 19:23] jlowdermilk commented on #16096
#16114 removes `-n`, if you want to review. I wanted to make sure it wouldn't cause weird behavior, particularly with local gcloud installs, and I think it's fine.

[2015-10-22 19:23] nikhiljindal opened #16117 "Support enabling all extension resources"
Forked from https://github.com/kubernetes/kubernetes/pull/15981

Right now, we need to list all resources that we need to enable, for ex: to enable deployments and daemonsets, I will have to set `--runtime-config=extensions/v1beta1/deployments=true,extensions/v1beta1/daemonsets=true`

from https://github.com/kubernetes/kubernetes/pull/15981#issuecomment-150010027

from https://github.com/kubernete

[2015-10-22 19:32] bgrant0607 commented on #15960
I didn't say cherrypicking into 1.0 would solve the problem for everything. The behavior in 1.0 is pretty broken, even when not considering upgrade. We have a fix. We should cherrypick it into 1.0.

[2015-10-22 19:43] ncdc opened #16119 "Add integration test with mock kubelet 1.0 backend to verify exec subprotocol fallback"
PR #13322 fixed a variety of bugs with exec/attach, but unfortunately introduced some backwards incompatibility when a newer kubectl that included the fixes attempted to exec against a 1.0.x kubelet.

#15961 adds support for subprotocol negotiation for exec, attach, and portfoward, and restores the ability for the latest kubectl to talk to 1.0.x kubelets for exec.

We need a way to test that the r

[2015-10-22 19:52] nikhiljindal opened #16121 "Do not update api-reference docs if last updated timestamp is the only change"
Right now, rerunning, update-api-reference-docs, keeps updating the docs with new last updated timestamp.
Similar to other generated docs, we should detect that case and not update the doc.

Note that verify-api-reference-docs works fine. (It ignores last update line change)

cc @caesarxuchao

[2015-10-22 19:56] vishh commented on #16110
Sure :) I will work on this!

On Thu, Oct 22, 2015 at 11:10 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-10-22 19:56] thockin commented on #16079
On Thu, Oct 22, 2015 at 11:41 AM, sethp-jive <notifications@github.com> wrote:

I also think it would be really hard to implement :)  What if we just
backport the rlimit change to 1.0.x and encourage you to upgrade? :)

dammit!  How did I miss that.

[2015-10-22 20:01] caesarxuchao commented on #16121
I'll take a look :)

[2015-10-22 20:03] bgrant0607 commented on #15960
@lavalamp I don't see how different components would see different values for these fields, assuming they are all updated to the new code.

As discussed offline, the scheduler and node controller need to handle cases of empty requests and pod termination for 1.0 kubelets, anyway, so I think the conversion approach is fine. Please put the explanation in code comments, though, not just in issue/PR c

[2015-10-22 20:07] davidopp opened #16122 "Increase AWS default VM size to t2.medium, or at least add release note about it"
With #16071 we're finally setting proper memory limit for Heapster, but it can be as big as 3G on 250-node cluster (which is the scaling limit we're advertising for 1.2).

Currently we use t2.micro default VM size for AWS, which only has 1G of memory. I think our choices (from easiest to hardest for us) are
* add a release note (and update docs/getting-started-guides/aws.md and ./cluster/aws/optio

[2015-10-22 20:18] jayunit100 commented on #16100
Update, as part of this work we've been logging some of the urls, to put them into a hashmap for backoffs.  Separate issue, but in any case, I've pasted the keys acquired below as a sample of how backoff times will be
mapped.

http://127.0.0.1:8080/api/v1/persistentvolumeclaims
http://127.0.0.1:8080/api/v1/persistentvolumes
http://127.0.0.1:8080/api/v1/persistentvolumes
http://127.0.0.1:8080/api/v

[2015-10-22 20:23] brendandburns commented on #11793
@cameronbrunner I'd like to add an annotation `experimental.kubernetes.io/scheduler` that you can put on both a namespace and a pod.

If it's on a namespace, and not set to `default` all pods in that namespace will be ignored by the default scheduler.  If it is on a pod and not set to `default` that pod will be ignored by the default scheduler.

I'm planning on putting together two PRs to do this,

[2015-10-22 20:25] timothysc commented on #16100
You only really need to bin on 'http://host:port' for backoff, but I find the breakout informative.

[2015-10-22 20:27] nikhiljindal opened #16124 "Add a user guide readme for deployments"

[2015-10-22 20:36] erictune commented on #15389
In all 3 cases, they relist immediately, but in 2 of 3 cases, they don't re-watch for about an hour.  That seems wrong, no?

Relist at 3:56 and rewatch at 4:53
[code]

Relist at 4:07 and rewatch at 5:00
[code]

Working correctly.
[code]

[2015-10-22 20:40] erictune commented on #14384
I think there is a lot more going on related to this in #15389.  Clients are re-listing after the error but not rewatching.

[2015-10-22 20:47] lavalamp commented on #15389
The time reported is the *end* of the watch, not the beginning. The last
one it seems you actually didn't get the log line for the watch, actually.

But the first two look WAI.

On Thu, Oct 22, 2015 at 1:36 PM, Eric Tune <notifications@github.com> wrote:

[2015-10-22 20:48] erictune commented on #15389
Oh, duh.

[2015-10-22 20:48] lavalamp commented on #15726
Not sure what to tell you... What if you make the test send a lot more data?

On Thu, Oct 22, 2015 at 11:19 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-22 20:50] ncdc commented on #15726
I can try that

[2015-10-22 20:51] jimmidyson commented on #15615
Fixed by #15707

[2015-10-22 20:51] #15615 closed

[2015-10-22 20:51] liggitt opened #16128 "types.generated.go results in massive diffs"
The package and variable allocation used in types.generated.go mean that any regenerate easily touches the whole file, which means conflicts between any commits that result in generated changes. The local name allocations should restart at the beginning of every function to minimize conflicts.

[2015-10-22 20:51] liggitt commented on #16128
cc @wojtek-t

[2015-10-22 20:52] lavalamp commented on #15313
@nikhiljindal No-- IMO we can and should turn it on on HEAD as long as it's not destabilizing anything.

[2015-10-22 20:53] lavalamp commented on #15313
Also the e2e tests need to auto-discover whether the API is on and short-circuit if not, so that there's only one knob to flip.

[2015-10-22 20:58] lavalamp commented on #15960
@bgrant0607 Since the conversion stack does the defaulting at the end and runs in every component, and scheduler, node-controller, etc all consume *api.Pod objects (instead of *v1.Pod objects), they will have a view of the object with the fields defaulted. The conversion based fix essentially retains the defaulting in *api.Pod objects, but undoes it in any serialized representation of the object.

[2015-10-22 21:31] RichieEscarez opened #16130 "Some "Examples" do not map to the navigation menu in k8s.io"
I searched and found that the following examples are only found in the master branch and are not exposed out on [kubernetes.io](http://kubernetes.io/).

These file are (or will be for v1.1) most likely copied over into the gh-pages branch but are currently not listed in the navigation menu.

It not clear if these are only drafts and are currently being written or if they are complete and should be

[2015-10-22 22:06] bgrant0607 commented on #16095
Yes, we need better documentation of this part of the API. It's used to implement HTTP proxy functionality, proxying to the specified port on the pod, potentially from outside the network:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/connecting-to-applications-proxy.md

[2015-10-22 22:09] bgrant0607 commented on #15960
Defaulting is run first:
[code]

[2015-10-22 22:17] DreadPirateShawn opened #16132 "documentation: upgrade without downtime"
What is the recommended approach for upgrading the kubernetes system without downtime?

For instance, we have two etcd hosts, a kubernetes master host, and N kubernetes node hosts.

When we step through each host and restart the relevant services, we see a lot of noise in the error logs, eg:

**When restarting services on an etcd host:**

[code]

**When restarting services on kubernetes master hos

[2015-10-22 22:19] erictune opened #16133 "Scalability: watch out for excessive 409s"
In logs from an e2e test run on my own cluster,  over a 1 hour period, about 6% of requests to the apiserver were resulting in 409s.  I have not inspected logs from a scalability test, but it would be worth doing so to see if 409s are a significant waste of time.

I just did something like this:
[code]

[2015-10-22 22:21] erictune commented on #16133
@wojtek-t

[2015-10-22 22:22] erictune opened #16134 "Excessive 409s. Self-conflict in controller manager."
A controller (job controller in this example, but this probably affects RCs too, since they share much code) is trying to update its corresponding object, and getting many conflicts.  This is a waste of apiserver time and polluting the logs.   About 6% of requests are resulting in conflicts during a busy hour.
I filed #16133 to investigate the general scaling impact of 409s.  This issue is about a

[2015-10-22 22:30] paralin commented on #16117
If the plan is to enable all on default we can completely merge my other commit removing the old EXPERIMENTAL vars. If not, I can revise to add ENABLE_* flags to make it easier to build the KUBE_RUNTIME_CONFIG variable. Either way the EXPERIMENTAL flags should be removed.

[2015-10-22 23:03] lavalamp commented on #15960
Oh, you're right, I somehow had that backwards in my head. Sorry, everyone. I think that tilts me back in favor of #16078.

This means that defaulting is part of the versioned structs and therefore changing the defaulting is an API breaking change, which we claimed we wouldn't do. Can we change our minds about the defaulting? How about moving this particular defaulting into conversion functions, w

[2015-10-22 23:03] JanetKuo commented on #14952
Fixed by #15921. Closing this.

[2015-10-22 23:03] #14952 closed

[2015-10-22 23:05] #14263 closed

[2015-10-22 23:09] thockin commented on #16103
Grabbing a profile should cause no problems.  Let's try it.

Pick a node on which this is happening.  Let's call that "nodeX" for these
instructions.

1) SSH to nodeX: gcloud compute ssh nodeX

2) become root: sudo bash

3) edit the flags for kube-proxy: vi /etc/default/kube-proxy

4) expose healthz: add "--healthz-port=80 --healthz-bind-address=0.0.0.0"
to the flags

5) save file

6) restart: /et

[2015-10-22 23:12] erictune commented on #16134
In `pkg/controller/job/controller.go` around line 350, when a job update fails with a conflict, we would re-enqueue the controller with `enqueueController`.

There are 5 worker threads that are  trying to pull things off the work queue (around line 323 in cmd/kube-controller-manager/app/controllermanager.go).

There doesn't seem to be any multi-threading below the level of a worker thread (syncHan

[2015-10-22 23:13] ArtfulCoder commented on #15527
I1022 23:11:48.670612   18689 proxier.go:567] Claimed local port 10.240.0.5:443/TCP

I1022 23:12:19.492592   18689 proxier.go:587] Ignoring release on unowned port: {<nil> 443 TCP}

[2015-10-22 23:14] erictune commented on #16134
There appear to be two goroutines in `syncJob` at the same time.
The `syncJob` comments say not to do this.
So, this issue might be corrupting data which causes the timeout seen in #15389.

[2015-10-22 23:17] erictune commented on #14500
I'm working on the e2e flakes, #15389.  It may be related to this unittest flake.

[2015-10-22 23:19] erictune commented on #15389
Working on #16134 which I suspect may fix this.

[2015-10-22 23:27] paralin commented on #16122
You can also install the apt package "swapspace" to ensure that the memory limit is never hit. I recommend this particularly on the master.

[2015-10-22 23:30] paralin commented on #16134
I'm also seeing this in my test clusters on AWS.

[2015-10-22 23:31] paralin commented on #16133
+1

[2015-10-22 23:32] paralin commented on #16105
Confirming this is a pretty major bug. It still seems to even try to schedule pods on nodes after I delete them.

Pods seem to also be stuck in the "Terminating" state even when I manually delete them. What gives?

[2015-10-22 23:34] sethp-jive commented on #16079
I'm not too worried about us – we don't have a heavily loaded cluster yet, and bumping the ulimit external to the kube-proxy process is fairly straightforward. If that weren't enough, we're anxious to get on v1.1.0 anyway, iptables proxying is just another log on that particular fire.

More the concern is for the hypothetical future user who will find themselves in our spot – propagating the crash

[2015-10-22 23:35] yujuhong commented on #15960
In #16080, we only reset the defaults when converting api.Pod to v1.Pod. Shouldn't all components still see the defaulting values?

Agreed that this is an API breaking change.

Perhaps we should not change the defaults at all?

@bgrant0607 mentioned in https://github.com/kubernetes/kubernetes/issues/15960#issuecomment-150340063 that scheduler already deals with empty requests. It's true in [priori

[2015-10-22 23:41] thockin commented on #16079
It's more careful than that.  we have general policy of catching panics and
retrying things, but in this case that's totally wrong.  That doesn't mean
it is wrong in every case though, and we can only remove that after careful
consideration...

On Thu, Oct 22, 2015 at 4:35 PM, sethp-jive <notifications@github.com>
wrote:

[2015-10-22 23:45] vishh commented on #16122
FYI: Swap will interfere with "Quality of Service" feature.

On Thu, Oct 22, 2015 at 4:28 PM, Christian Stewart <notifications@github.com

[2015-10-22 23:47] paralin commented on #16122
@vishh is there some way to get Kubernetes to ignore the swap? the purpose of the swapspace daemon is to just expand the available memory a bit when it gets to critical levels so things don't lock up.

[2015-10-22 23:49] #16096 closed

[2015-10-22 23:51] ntquyen commented on #16022
Yes, The problem on varied hostname might be the problem why we cannot use rethinkdb cluster in kube.

[2015-10-22 23:52] vishh commented on #16018
@mdshuai: The configs you used should work as-is. Ther errors in the logs are benign. (As a side note, @piosz we should consider suppressing those model update errors)
Can you run heapster with an additional command? Add `- --vmodule=*=4` to the command section. This should make heapster spit out additional debugging logs.

[2015-10-22 23:54] yujuhong commented on #15800
cc the right @samsabed

[2015-10-22 23:54] vishh commented on #16122
@paralin: Enabling swap on the master node might not be an issue.

[2015-10-22 23:57] cameronbrunner commented on #11793
@brendandburns I don't have an implementation that does exactly what you are describing as mine simply updated the unassigned pods listwatch in the scheduler factory to only look at one namespace.  It sounds like your implementation will still require a watch on all namespaces and then filter out ones that match specific labels.

It sounds like your implementation will fully meet my needs though!

[2015-10-23 00:11] yujuhong commented on #14702
For measurement, I think we can instrument and/or stub out the rest client in the apiserver client to monitor the usage, similar to what we do with Docker.

[2015-10-23 00:15] bgrant0607 commented on #15960
resources.requests and terminationGracePeriodSeconds are effectively newly added fields, so setting defaults is not a breaking change for most clients. If Kubelet were comparing the pre-decoded pods returned by apisever, it would barf on every new field we've added. It's an accident of the implementation that it broke on exactly these fields.

[2015-10-23 00:19] thockin commented on #4825
You mean that sendmail expects `hostname` to return "foo.bar.com" or that
it expects to be able to DNS-lookup it's own IP address?

On Thu, Oct 22, 2015 at 3:40 AM, Felix Gläske <notifications@github.com>
wrote:

[2015-10-23 00:22] bgrant0607 commented on #15960
Actually, neither priorities nor predicates takes values from limits any longer. That code is rely on the defaulting pass to copy limits to requests in the case that the requests field is absent. We would need to change that, yes, if we were to not set requests for the 1.0 mirror pods.

[2015-10-23 00:29] bgrant0607 commented on #15960
This Kubelet behavior was known to be broken back in May:
https://github.com/kubernetes/kubernetes/issues/8642#issuecomment-104670009

What we're trying to do now is figure out a workaround for this broken behavior.

My recommended solution is:
1. Do not set resources.requests and terminationGracePeriodSeconds to non-nil values for just 1.0 mirror pods. All other fields and all other pods, includi

[2015-10-23 00:34] lavalamp commented on #15960
Just for comparison, an alternative:

1. Remove this default setting from the defaulting function.
2. Add it to the conversion function instead.
3. For mirror pods from 1.0 kubelets (MPF1K), store the original value in an annotation.
4. For MPF1K, when converting *to* v1, restore the original value & remove the annotation.

No changes needed anywhere else in the system, maintenance cost is very lo

[2015-10-23 00:37] bgrant0607 commented on #15960
@lavalamp I don't see how that keeps the default values off the wire.

[2015-10-23 00:40] davidopp commented on #16122
The issue isn't the master node -- Heapster runs on one of the minions. It's unfortunate that we need to increase the size of all minions just to support Heapster, but I don't know any other way that is feasible in the 1.1 timeframe. In the future we could support heterogeneous minions, or allow system pods to run on the master by default, or try to reduce memory consumption of Heapster (we should

[2015-10-23 00:41] bgrant0607 commented on #15960
Actually, I think I see. Yes, I think that could work.

[2015-10-23 00:42] lavalamp commented on #15960
The defaults are added on the v1->internal transition, and removed on the internal->v1 transition.

[2015-10-23 00:42] bgrant0607 commented on #15960
(3) is converting v1 to IR, and (4) is converting IR to v1, either for storing to etcd or to communicate to another component, such as Kubelet.

[2015-10-23 00:42] lavalamp commented on #15960
I'm saying stop using the default setting code for setting these "breaking" defaults.

[2015-10-23 00:43] lavalamp commented on #15960
Right.

[2015-10-23 00:43] bgrant0607 commented on #15960
I don't think we want to do this for pods in general, though, just for MPF1K

[2015-10-23 00:44] lavalamp commented on #15960
So I think we can actually just add a few more changes to @yujuhong's PR and it should work. (Just move the defaulting.)

[2015-10-23 00:45] lavalamp commented on #15960
Yes, I agree. Just for MPF1K. We can easily broaden it if needed.

[2015-10-23 00:46] bgrant0607 commented on #15960
SGTM

[2015-10-23 00:46] bgrant0607 commented on #15960
We're going to want to do something similar for new fields added to alpha API versions that we don't want to expose in the stable, serialized version of the API.

[2015-10-23 00:47] bgrant0607 commented on #15960
So if this works, we should add it to api_changes.md.

[2015-10-23 00:50] lavalamp commented on #15960
Yes. *Changing defaults* is a breaking change and therefore needs to happen in conversion. Adding new fields with new defaults is fine, just not changing the behavior of existing fields.

...of course I do think kubelet is being a very inflexible client here, but we can't fix the stuff that's already out there.

[2015-10-23 00:58] yujuhong commented on #15960
+1 to both points. We should've patched kubelet sooner to avoid this, but it's out there and kubelet 1.0 remains a stubborn client. Sorry for that.

@lavalamp, @bgrant0607, thanks for coming up with the solution! Since both of you agreed on https://github.com/kubernetes/kubernetes/issues/15960#issuecomment-150395303, I will change my PR acoordingly.

[2015-10-23 01:26] HaiyangDING commented on #11793
@bgrant0607 @brendandburns

We are working on an implementation on multiple-scheduler. One of our plans is to separating pods based on namespace, which I think is same as @brendandburns has mentioned earlier.

However, I do not fully understand "on a pod". Does this mean the pods are separated according to its types (labels and/or other properties)?

CC @hurf

[2015-10-23 01:30] jayunit100 commented on #16100
I was thinking maybe, for example, if `/namespaces/` queries were failing or were slow, maybe those would need more backoff than, say, `/nodes`... after all, won't all queries generally be going into a constant balanced endpoint anyway ?

[2015-10-23 01:32] erictune commented on #16134
I reviewed the k8s.io/kubernetes/pkg/util/workqueue package and could not see a way that the same key got enqueued twice.

I reviewed the pkg/controller/job/controller.go to see if it was using aliased keys.   It didn't seem to be, though the code is definitely twisty.

[2015-10-23 01:40] saad-ali commented on #15526
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-23 01:40] #15526 closed

[2015-10-23 01:49] saad-ali commented on #15448
The logic to attach/detach volumes from nodes (pkg/volume/...) is independent of the logic to create the master PD (which I believe is done in the salt scripts that setup the master).

CC @justinsb

[2015-10-23 01:56] bgrant0607 commented on #11793
We're planning to support this properly in 1.2. However, I'm not opposed to starting with such an annotation provided:
* We should not cherrypick it into 1.1.
* We're free to remove support for the annotation at any time.
* The scheduler only looks at pod annotations, not namespaces.
* If you want to implement the namespace annotation, it would be consumed by an optional admission-control plugin,

[2015-10-23 02:22] mdshuai commented on #16018
@piosz @vishh
Heapster detail log http://pastebin.test.redhat.com/322035

[2015-10-23 02:32] ravilr opened #16139 "Support advertise-port flag in apiserver for use in kubernetes master service endpoint"
there is already --advertise-address which when set, is used as the public address in default `kubernetes` service endpoint. Can --advertise-port setting also be exposed ?
Currently, the secure port is passed along to master controller as the publicServicePort to be used in `kubernetes` endpoint. this will be helpful in multi apiserver setups using external loadbalancer for both external and inter

[2015-10-23 02:51] zhengguoyong commented on #16091
Dose anybody start working on this?

[2015-10-23 03:22] zhengguoyong commented on #16113
Do you need some help?
I would happy to do this.
:)

[2015-10-23 05:01] jijun2 commented on #15527
Can you give me more details and idea about this bug ? I need to read source code and understand it. If this isn't fixed, I will debug tomorrow!

[2015-10-23 05:14] thockin commented on #15527
I think Abhi found it.

On Thu, Oct 22, 2015 at 10:02 PM, jijun2 <notifications@github.com> wrote:

[2015-10-23 05:23] bgrant0607 commented on #11793
Also, annotation conventions are documented here:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#label-selector-and-annotation-conventions

The annotation would be the form scheduler.alpha.kubernetes.io/foo-bar or scheduling.... Specifying a scheduler "name" would be the simplest approach and a reasonable starting point, though we'll likely want to augment that

[2015-10-23 05:25] HaiyangDING commented on #11793
@bgrant0607

That is of great help, I will look into that.

Thanks.

[2015-10-23 05:33] roberthbailey commented on #16090
We are trying to reduce the amount of command line configuration passed into the kubelet. @mikedanese is working on replacing most of the command line flags with a configuration object instead, so you should connect with him about getting a field added for this.

[2015-10-23 05:57] jiangyaoguo commented on #16091
@zhengguoyong I'm working on a event change pr refer to this.

[2015-10-23 05:57] feihujiang commented on #16036
I'd like to fix this.

[2015-10-23 06:10] jiangyaoguo opened #16147 "get successfully pulled event when pull non-exist image"
I set a non-exist image in rc and watch event.
[code]
kubelet is supposed to throw failed pull event and actually we get failed pull event. But I noticed there is an "successfully pulled image" event.
[code]

[2015-10-23 06:19] jijun2 commented on #15527
OK!

[2015-10-23 06:25] thockin commented on #15527
Thanks though! :)  You can get the next one.

On Thu, Oct 22, 2015 at 11:19 PM, jijun2 <notifications@github.com> wrote:

[2015-10-23 06:38] wojtek-t commented on #16128
@liggitt - I agree but that's a request for the library maintainers not for us

[2015-10-23 07:33] gouyang opened #16151 "service-account-private-key-file seems no need to verify the signature"
[code]

run controller-manager with a key file which is created temporarily, the service can be running and the service account default will be created successfully. I supposed it should be verified by CA or by `apiserver --service-account-key-file`.

[2015-10-23 07:52] #9045 closed

[2015-10-23 09:00] soupdiver commented on #4825
It somehow expects a hostname with a domain. So **foo** would be problematic but **foo.localdomain** would be good

[2015-10-23 09:52] josefkarasek opened #16155 "Shouldn't Persistent Volume config file define key 'spec.type' ?"
Why Persistent Volume configuration doesn't define a 'spec.type' key, which would contain the specific config values of the PV type. Including the actual type of the volume as a value of some key. Similarly to an example:

[code]

Currently the PV configuration defines a key for [every possible type](https://github.com/kubernetes/kubernetes/blob/v1.2.0-alpha.2/docs/user-guide/volumes.md#types-of-v

[2015-10-23 10:53] justingrayston commented on #12534
I have tried all sorts of things now. Using kubernetes/kube2sky instead of cr.io/google_containers/kube2sky:1.11 but then it seems to try and hit v1beta1 api instead of v1, then falls over with a YAML error.

[code]

So, everything I have read seems to suggest some sort of restriction accessing the API, either IP related or [security/firewall related] (https://github.com/kubernetes/kubernetes/issu

[2015-10-23 11:18] ppalucki commented on #8262
there a additional rather minor issues, I found related to rkt driver:
- [ ] cannot start new pod with "runonce"
- [ ] better error handling eg. "ppid file not found" message for not-defined but required volume scenario
- [ ] "container runtime" (describe node) always says "docker" regardless `--container-runtime`
- [ ] (feature) rkt support for /cluster/* deployment scripts (we have that for libv

[2015-10-23 12:07] #16019 closed

[2015-10-23 12:15] beni05 commented on #16019
sikertelen a elkövetni ,!

[2015-10-23 12:26] markt-gh commented on #16155
Adding a type to a generic struct wouldn't take advantage of Go's strong
typing.  Instead, all volume sources are inlined on the same "volumeSource"
struct and only one (like nfs) will be set. As a result, all volumes are
now strongly typed.

On Friday, October 23, 2015, josefkarasek <notifications@github.com> wrote:

[2015-10-23 13:23] gmarek commented on #15551
None of the experiments above yet, but master on freshly created 1785 cluster saturates 8-9 cores.

[2015-10-23 13:24] piosz opened #16158 "Parallelize kubernetes-e2e-gce-autoscaling"
Currently in the suite we run:
- horizontal pod autoscaling tests which can be run in parallel.
- cluster size autoscaling tests which can't be run in parallel

I'd imagine that we will run parallel tests first and then switch to sequential mode.

@ixdy is it possible to have such hybrid suite in Jenkins?

cc @fgrzadkowski @jszczepkowski @mwielgus

[2015-10-23 14:06] bgrant0607 commented on #15960
So that there is no misunderstanding that leads to future such problems: Whether fields are new or pre-existing, it is an invalid assumption that unset fields may not be changed, whether by defaulting or by some other process, such as admission control.

[2015-10-23 14:13] gmarek commented on #15551
Bad news - it doesn't look like 1785 will be working, no matter how big master machine we'll have.
What happens is this:
[code]
and so on. Basically cluster ceases to do anything. API-server is saturated (~30 CPUs) by handling handshakes (see profile), main etcd goes crazy (event etcd behaves correctly). What we observed is that it saturates it's CPU and constantly generates roughly 1GB of data pe

[2015-10-23 14:17] justingrayston commented on #12534
UPDATE: Building the latest kube2sky from head, solved the issue with the invalid character. kube2sky no longer throws errors, using the latest skydns, I now get a return on kubernetes.default, but it is not correct, and has incorrect IP.

[code]

[2015-10-23 14:17] gmarek commented on #15551
cc @quinton-hoole @smarterclayton @wojtek-t @fgrzadkowski @davidopp @lavalamp

[2015-10-23 14:54] rvrignaud commented on #16103
Hello,

I found that I had a misconfiguration in my logstash configuration that provoked a log endless loop. Fixing that ended the memory growing usage and a few hours later, memory seemed to be garbage collected.

<img width="1274" alt="screen shot 2015-10-23 at 16 27 57" src="https://cloud.githubusercontent.com/assets/525763/10695258/1db6fc94-79a3-11e5-842b-8168a66adc40.png">

Here is the profil

[2015-10-23 15:12] ArtfulCoder commented on #15527
fixed by https://github.com/kubernetes/kubernetes/pull/16137

[2015-10-23 15:14] smarterclayton commented on #15551
We probably really need the Watch timeout.

On Fri, Oct 23, 2015 at 10:18 AM, Marek Grabowski <notifications@github.com>
wrote:

[2015-10-23 15:15] smarterclayton commented on #15551
Also, you can try switching to a different cipher (RSA instead of elliptic)
- RSA is I think two orders of magnitude faster in Go 1.5.

On Fri, Oct 23, 2015 at 11:14 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-23 15:19] gmarek commented on #15551
:) That's pretty much exactly what I said to @wojtek-t, with exactly the same examples. For fair comparison we're generally building binaries in 1.4 (plus we didn't knew that RSA is already implemented in go at all). I'll try RSA next week.

[2015-10-23 15:28] mikedanese commented on #16090
Flag based approach proposed in #13524 and we decided it wasn't a good idea. There are plenty of ways to add node labels already. You can do this with a pod during cluster bootstrap (although we should document how).

[2015-10-23 15:44] erictune commented on #16134
So, the other possibility is that there is only one thread, but that it is getting a conflict because it does an update, and then does another update without getting the latest resource.

[2015-10-23 15:45] erictune commented on #16134
It keeps conflicting at a high rate until the cache sees the update.

[2015-10-23 15:48] DirectXMan12 commented on #16018
Do you have the read-only port enabled on the kubelet?

[2015-10-23 15:51] jszczepkowski commented on #16158
Paralyzing hpa tests is reasonable. Maybe we should just have two suits: one for hpa (parallel) and one for cluster autoscale.

[2015-10-23 15:52] erictune commented on #16134
Some possible fixes that come to mind:

1. after processing a job, don't come back to it again until after some time
1. when attempting an update, detect a conflict, and re-get that resource and retry once.  Need to think about whether it is necessary to update the cache with the re-gotten value.

[2015-10-23 16:10] zmerlynn opened #16161 "k8s-bot seems to have wandered off"
I see several PRs now where @k8s-merge-robot is trying to get the attention of @k8s-bot and failing. (See #15946, #12393, #16127, etc.) I've also tried to manually kick. (See #13109).

Whiter has @k8s-bot wandered, and can we get it back soon?

cc @ixdy @quinton-hoole

[2015-10-23 16:11] eliaslevy commented on #16090
@mikedanese thanks for pointing out the #13524 proposal.  That would fill our needs nicely.  Closing this issue.

[2015-10-23 16:11] #16090 closed

[2015-10-23 16:11] zmerlynn commented on #16161
@k8s-oncall probably cares, too.

[2015-10-23 16:13] erictune opened #16162 "Frequent logs about exceeded maxTries"
I am seeing frequent kubelet logs like this:

[code]

I am running a cluster built from head on Oct 19th.

I trigger the logs by running this e2e test repeatedly:

[code]

Then I look at the kubelet logs on my kubelets.

The `exceeded maxTries` string is from `pkg/util/oom/oom_linux.go`.

I think the problem is that the container run by this test exits very quickly, and so by the time we get to ru

[2015-10-23 16:15] dchen1107 commented on #15563
https://github.com/kubernetes/kubernetes/pull/16052 as a workaround for docker/docker#17190. Closing this issue.

[2015-10-23 16:15] #15563 closed

[2015-10-23 16:16] erictune commented on #16162
I also see these error messages, which I think may also be related to quickly-exiting containers:
[code]

[2015-10-23 16:27] dchen1107 commented on #15917
@thockin I am assigning the issue to you since you are already talking care it. Please let me know if you need help from node side. Thanks!

[2015-10-23 16:31] thockin commented on #12534
Is that name (barefruit.co.uk) one of yours or is it totally random?

can you show me `iptables-save` from the node where this resolution is
happening and the /etc/hosts file from your `busybox` where you ran that
exec?

On Fri, Oct 23, 2015 at 7:17 AM, Justin Grayston <notifications@github.com>
wrote:

[2015-10-23 16:38] mdshuai commented on #16018
@DirectXMan12 port 10255 should be enabled as default when run hack/local-up-cluster.sh
kubelet listen on local host 127.0.0.1:10255
Heapster run in container, connect to 127.0.0.1:10255 is container inner ip not host ,Is the problem? Thanks

[2015-10-23 16:45] erictune commented on #16134
Next step is to do a trial implementation of option 2 and see if it reduces 409s.

[2015-10-23 16:58] joshm1 commented on #15528
high CPU on kubelet as well, except for me it's isolated to 1 of out of the 2 nodes in my cluster.  I was able to get only `kube-system` pods running on 1 node and my internal pods on the other.

below are the pods running on the node that has consistently high kubelet & docker CPU:

This is running kubernetes 1.0.3 on AWS with Ubuntu 15.04 minions.

[code]

![image](https://cloud.githubuserconten

[2015-10-23 17:03] #15187 closed

[2015-10-23 17:05] thockin commented on #16103
It sounds like the fire is out, and the cause was what I suspected - large
numbers of UDP connections.  We've reduced the idle timeout significantly
in v1.1, and we have another issue to investigate memory on kube-proxy.

If I am understanding correctly, this reduces the urgency of this.  We can
close this issue and use  #14118 to track memory usage

On Fri, Oct 23, 2015 at 7:54 AM, Romain Vrignau

[2015-10-23 17:06] zmerlynn opened #16164 "kube-up / kube-down cycle not cleaning up well enough"
Something is leaving a PD around and causing `kube-up` on GCE to block partway up (which is disruptive when you're trying to just create a cluster while grabbing coffee):

[code]

I've had this happen pretty consistently on a clean project, clean build, `kube-down` / `kube-up`. Seems like an easy bug to fix.

[2015-10-23 17:10] ihmccreery opened #16165 "Remove handling of old non-capitalized event reason in scheduler-predicates test"
This issue should not be pursued until we want to break compatibility with `v1.0` components.

This test behavior was added in #15948 as part of the `1.1` rollout to maintain backwards compatibility with `1.0` (issue #15806).

See [@gmarek's comment](https://github.com/kubernetes/kubernetes/issues/15806#issuecomment-149569269) and below for further explanation.

[2015-10-23 17:19] janetkuo opened #16166 "Add tests for kubectl apply"
Follow-up #16086

cc @jackgr

[2015-10-23 17:20] thockin commented on #15680
Main PR is in.  Abhi is out, I'll do a CP today.

[2015-10-23 17:32] DirectXMan12 commented on #16018
@mdshuai yeah, that could be it.  Try editing the heapster config to actually specify the kube IP instead of just relying on the default.

[2015-10-23 17:44] rvrignaud commented on #16103
Hello,
Yes there is no more production urgency on my side.
Closing this one.

[2015-10-23 17:44] #16103 closed

[2015-10-23 17:47] erictune commented on #16134
option 3 suggested by @mikedanese is to patch.
This should be safe because job status is not dependent on previous values of job status.

[2015-10-23 17:49] ixdy commented on #16161
It last triggered around 2:30am PDT. I'm not sure why it stopped triggering after that.

One thought is that the new unit test/integration build that @jlowdermilk was working on used up our API quota, but I haven't verified if that's the case or not.

[2015-10-23 17:50] erictune commented on #16134
This would be a patch type of JSONPatchType, of which there do not appear to be any examples.

[2015-10-23 17:50] jlowdermilk commented on #16161
@ixdy, the new build isn't enabled yet, so that seems unlikely.

[2015-10-23 17:52] smarterclayton commented on #13306
@erictune @lavalamp I have one for, one no-response.  I'd like to push forward on this and get closure so I can plan for it our audit control stories.  Strong disagreement is welcome, as long as it's prompt.

[2015-10-23 17:53] ixdy commented on #16161
Well, it was enabled when I just looked at Jenkins. And it tried to run two builds a few minutes ago.

[2015-10-23 17:53] thockin commented on #16103
Thanks for grabbing the profile - it confirmed what I expected.

On Fri, Oct 23, 2015 at 10:44 AM, Romain Vrignaud <notifications@github.com>
wrote:

[2015-10-23 17:54] ixdy commented on #16161
oh, I see, the GitHub pull request plugin is disabled there now. Still looking.

[2015-10-23 17:55] thockin commented on #561
I'm closing this in favor of the more detailed bugs, now that we have something.  Yay!

[2015-10-23 17:55] #561 closed

[2015-10-23 17:59] bgrant0607 commented on #16070
@JanetKuo will fix the URL path and kubectl.

[2015-10-23 18:01] erictune opened #16168 "heapster polling stats for long-dead pods"
EDITED: the thing getting the stats is heapster, not fluentd (duh).

heapster is asking kubelet for stats for long-dead pods, and getting 404.

On my kubelet, 64% of all kubelet log lines are 404s of stats requests by heapster.

Example log lines:
[code]

10.244.2.3 is the heapster pod:
[code]

[2015-10-23 18:01] ixdy commented on #16161
I restarted Jenkins and it's started running everything now. I'm not really sure what happened - my best guess is that there's some bug in the latest version of the pull request plugin we pulled in. We'll have to watch to see if it happens again...

[2015-10-23 18:02] erictune commented on #16168
P1 to examine whether this is happening on other clusters.  If not, then P2.  If so, then P1 to cut logging lines of kubelet in half, and reduce stats load.

[2015-10-23 18:08] erictune opened #16171 "Unable to get logs of mirror pod"
Trying to get logs fails saying `pod is not in 'Running'`:
[code]

But desribing the pod shows Pod Status and Container State are both `Running`:
[code]

[2015-10-23 18:09] erictune commented on #16171
Not sure how severe this is for the case of fluentd since it in fact logs to /var/logs, not to stdout.  But it seems like a bug.

[2015-10-23 18:12] ixdy commented on #16161
Last bit of the log from when it last was working. Nothing particularly notable here:
[code]

I guess one weird thing (beside the NPEs which seem to happen regularly without causing issues?) is the "Stopping the ghprb trigger for project null" - maybe that was causing some sort of issues? Not sure how it happened, though. And I'm not sure what would've happened around 2:30 or 3am to break everythi

[2015-10-23 18:12] ihmccreery commented on #16041
Assigning to @lavalamp for full audit of test results.  Run 3 of `kubernetes-client-skew-1.0-1.1-gke-step2-e2e-new` has the full results.

[2015-10-23 18:21] crawshaw opened #16172 "self-contained Quantity type"
The api package uses a Quantity type to represent MB/GB/MiB/GiB/etc quantities. Right now it depends on an old version of a third-party infinite-precision decimal arithmetic package.

I believe it's possible to get the same effect with a type like:

[code]

...which would remove a lot of the sharp edges from inside its implementation. (And, one less dependency.) Would you accept a patch to do this

[2015-10-23 18:27] thockin commented on #16172
We're certainly open to simplifications...

On Fri, Oct 23, 2015 at 11:21 AM, David Crawshaw <notifications@github.com>
wrote:

[2015-10-23 18:30] erictune commented on #16171
This happens with another mirror pod I created, so it isn't just fluentd.

[2015-10-23 18:30] erictune commented on #16171
does not seem to be related to #8642

[2015-10-23 18:32] erictune commented on #16168
The pods are still present on the apiserver, but in state Completed.

[2015-10-23 18:38] yujuhong commented on #16168
Heapster should stop polling the stats of terminated pods --  their stats won't change and the containers have probably already been GC'd.  @vishh, I think we talked about this before but I couldn't find the issue.

[2015-10-23 18:43] deads2k opened #16173 "APIGroups are hard to deal with in the code"
APIGroups are a really useful features, but there are several areas of the code that need improvement to make their usage easier to understand.  These are few things I found while trying to reliably activate and configure the `extensions` group downstream
1. We need a `GroupVersion` object to make it very obvious in the code when a bit of code relies on that.  Right now, sometimes its two strings,

[2015-10-23 18:44] dchen1107 commented on #16168
@erictune and I just double checked it. It is not fluentd, it is heapster.

[2015-10-23 18:48] vishh commented on #16168
This is a known issue. How do we want to deal with this? Fix it in heapster
right away or supress logs in kubelet for now?

On Fri, Oct 23, 2015 at 11:45 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-10-23 18:49] dchen1107 commented on #16168
Now back to @yujuhong's above comment. There is always a race window given today's metrics API, heapster might query /stats on terminated pods. @timstclair's current work on metrics API should remove / mitigate such issue.

Lower the priority to P2.

[2015-10-23 18:54] yifan-gu commented on #8262
@ppalucki I am setting gce e2e test environments for rkt/k8s, so will get to these later, but feel free to take them, thanks :)

[2015-10-23 18:56] ncdc commented on #15726
It still passes, even with 16KB of data.

[2015-10-23 18:58] ncdc commented on #15726
But now the non interactive stdin test is failing for me locally, which is expected, since my branch restores the behavior pre-13322, which has this issue.

[2015-10-23 19:02] dchen1107 commented on #16168
Talked to @vishh: we are going to fix this in Heapster and cut a new release. But for 1.1 release, we are going to leave it as is.

[2015-10-23 19:04] dchen1107 commented on #15835
Should we close this one? cc/ @erictune this is the one I mentioned to you yesterday, but looks like it is a red herring.

[2015-10-23 19:10] mikedanese commented on #16173
@kubernetes/goog-csi

[2015-10-23 19:14] justingrayston commented on #12534
That domain is I think from the ISP. Nothing to do with me.

Not currently near my laptop, but I will get the info next time I am back
banging my head against this wall.

Will post back here soon, and thanks for responding!

On Fri, 23 Oct 2015, 17:32 Tim Hockin <notifications@github.com> wrote:

[2015-10-23 19:15] yujuhong commented on #15528
@joshm1, The docker daemon cpu usage is also abnormally high. I don't think yours is related to memory leakage or any of the possibility we discussed above since restarting doesn't help. This might be an issue specific to your cluster setup.

- What's the machine type of your node?
- Did you see any error messages in `/var/log/kubelet.log`?
- Other than the high cpu usage, does the node function c

[2015-10-23 19:15] pmorie commented on #15805
@dchen1107 I would like to have SupplementalGroups for use in 1.1, yeah.

[2015-10-23 19:18] erictune commented on #16168
SGTM.

[2015-10-23 19:21] davidopp commented on #14500
@erictune Could you update this by the end of the day, just so we can get a sense of the status?

[2015-10-23 19:21] crawshaw commented on #16172
Oh, I just realized I can't go get/test this package. And there are a lot of docs, but I can't find the ones that tell me how to run the tests. Can you point me at the instructions?

[2015-10-23 19:24] vishh commented on #16168
@dchen1107: I thought we agreed that fixing this in heapster is racy and the new metrics APIs once implemented in kubelet will mitigate this issue. Let me know if you still want me to update heapster?

[2015-10-23 19:25] davidopp commented on #16134
Bumping priority to P0 and adding 1.1 milestone, please comment if you disagree.

[2015-10-23 19:42] deads2k opened #16177 "HPA needs to handle discovery, controller credentials, privilege escalation protection"
When integrating the HPA controller, we've hit a couple issues.

1. The HPA controller takes an APIGroup, APIVersion, Kind (this should probably have been resource) and attempts to call a `scale` operation on it.  Right now, that's based on a client building a URL.  That client needs to be able to perform API discovery operations in order to locate where the particular (group, version, resource) t

[2015-10-23 20:08] ashcrow commented on #15713
PR #15875 has been merged and should fix this issue.

[2015-10-23 20:11] jlowdermilk commented on #15713
Shiny and [green](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/lastCompletedBuild/testReport/(root)/Kubernetes%20e2e%20suite/Kubectl_client_Simple_pod_should_support_exec_through_an_HTTP_proxy/history/). Fixed by #15875

[2015-10-23 20:11] #15713 closed

[2015-10-23 20:11] erictune commented on #15389
Okay, looking at a new test failure I see that there are expected failures, and the test just times out due to backoff by the kubelet.  The following things happen:

1. container runs and fails (1)
1. container runs and fails (2)
1. kubelet backs off for 10s
1. container runs and fails (3rd failure)
1. kubelet backoff 20s
1. container runs and fails (4th failure)
1. kubelet backoff 40s
1. containe

[2015-10-23 20:25] erictune commented on #16134
I don't see how this is P0.  Things still work.

[2015-10-23 20:29] ixdy commented on #16158
The only way to have a hybrid suite like that is to break up the test into separate specs so we can focus on each, and then run e2e tests twice, once focusing on the parallel test, once focusing on the sequential test.

I'm not sure how much value we'd get from running e2e tests twice in a single run like that (the intent of using parallel mode is to make the tests run quickly), but splitting up t

[2015-10-23 20:38] #15912 closed

[2015-10-23 20:46] ihmccreery commented on #15806
I'll prepare a cherry pick.

[2015-10-23 20:48] ihmccreery commented on #15806
Reopening until cherry pick is merged.

[2015-10-23 20:51] ihmccreery commented on #15806
Cherry pick is #16186.

[2015-10-23 21:00] bgrant0607 commented on #8270
cc @bryk

[2015-10-23 21:03] emmanuel commented on #14226
@justinsb - I'm guessing you're already aware of this, but for the record, EC2 instances can only be associated with a single IAM instance profile (and therefore a single IAM role).

Perhaps you're suggesting maintaining two sets of *policies* within a single IAM *role* (not quite sure how to parse your comment), but be aware that two *roles* is going to be a non-starter, assuming that you intend

[2015-10-23 21:12] jvalencia opened #16188 "Master node will not restart on AWS"
If you create a cluster in AWS using kube-up.sh it uses cloud init to set the box up.  On a restart of the node the script fails.  This is true for 1.0.6 and 1.2.0-alpha.2 From the system log:

[code]

[2015-10-23 21:13] bgrant0607 commented on #8270
Copied to https://github.com/kubernetes/console/issues/21

[2015-10-23 21:13] #8270 closed

[2015-10-23 21:13] jvalencia commented on #15160
I see an issue with the master which is related:
https://github.com/kubernetes/kubernetes/issues/16188

[2015-10-23 21:35] #15591 closed

[2015-10-23 21:36] yifan-gu commented on #15591
Fixed by #15749

[2015-10-23 21:37] brendandburns opened #16192 "kubernetes-e2e-gce-slow test suite leaking resources"
[code]

[2015-10-23 21:41] yifan-gu commented on #8351
@runningwild I am not able to go back to this in a week or two. Feel free to take the work :)

[2015-10-23 21:43] brendandburns opened #16194 "GCE e2e leaks PD"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel-flaky/7676/

[code]

[2015-10-23 21:53] yujuhong opened #16195 "Find alternative mechanism to resend pod status in kubelet"
The pod status manager, when fails to update, [deletes the cached value to trigger the next update]
(https://github.com/kubernetes/kubernetes/blob/165169ab1c18f0a6df60505a1bdc7783e56b303e/pkg/kubelet/status/manager.go#L262). This is not preferable because for the following reasons:

-  kubelet has grown organically to rely on the statuses in this cache. E.g., `git grep -n statusManager.GetPodStatu

[2015-10-23 21:58] dhawal55 commented on #7042
+1

[2015-10-23 22:02] jvalencia commented on #16188
It's relevant that the cloud init scripts passed in through the kube-up.sh only run on first boot, not subsequent ones.

[2015-10-23 22:13] erictune commented on #14500
No progress yet.  Have been working on different P0 (#15389)

[2015-10-23 22:17] mikedanese opened #16201 "Heapster crash looping in version skewed cluster (v1.1 master, v1.0 node)"
Heapster pod:
[code]

And logs:

[code]

cc @vishh @davidopp @ihmccreery

p0 for triage

[2015-10-23 22:19] #15895 closed

[2015-10-23 22:19] Random-Liu commented on #13562
I just put restart count into docker label, although the commit is still blocked by shippable test...

For this problem, I have several questions:
  1. How could garbage collector get the "GC-eligible mark"? The garbage collector directly get container information from docker client now. It seems that now we can't make some mark on a started docker container, right?

  2. Now we retain restart cou

[2015-10-23 22:23] mikedanese commented on #16201
Did the required node scope change?

[2015-10-23 22:25] vishh commented on #16201
Its either the API on the console or monitoring write scopes on the node.

On Fri, Oct 23, 2015 at 3:24 PM, Mike Danese <notifications@github.com>
wrote:

[2015-10-23 22:28] jlowdermilk opened #16205 "jenkins pr builder needs to lock parallel calls to `gcloud components update`"
Parallel runs of `gcloud components update` can blind overwrite the `.last_update_check.json`, making it invalid json. Subsequent calls will crash with
[code]

We get around this with other builds by wrapping the call to components update in a subshell with `flock`, but the pr builder skips that step and runs `kube-up.sh` from the built binaries, so updates occassionally break the job.

cc @ixdy

[2015-10-23 22:32] ixdy commented on #16205
Is there a reason we should just set `KUBE_SKIP_UPDATE=y` for all builds with or without `KUBE_RUN_FROM_OUTPUT`?

[2015-10-23 22:34] Random-Liu commented on #13562
Some humble thoughts for the first question:
    * Let garbage collector have a reference of status manager?
    * Save some shared data in garbage collector?
    * Create a channel, and send updates to garbage collector?

[2015-10-23 22:36] jlowdermilk commented on #16205
Actually, yeah, that should work.

[2015-10-23 22:50] mikedanese commented on #16201
I think this affects only GCE

[2015-10-23 23:09] erictune commented on #16168
IMO, you should still update heapster.

It is fine if it occasionally queries a pod after it has terminated, but it should eventually notice that a pod is gone, such as by periodically relisting.

In the example I gave, Heapster was still querying pods 17 hours after they had terminated.

[2015-10-23 23:12] vishh commented on #10959
@derekwaynecarr: That was not the intention either. We currently use Aufs in GCE and GKE. My comment was that we will evaluate overlayfs as an alternative to Aufs on those deployments.

[2015-10-23 23:13] vishh commented on #10959
I'm marking this issue as resolved for now. Serializing images as part of #15914 should hopefully solve this issue. If it happens even after serialization feel free to re-open this issue.

[2015-10-23 23:13] #10959 closed

[2015-10-23 23:15] vishh commented on #16201
I will fix this issue since @mwielgus is on vacation.

[2015-10-23 23:19] erictune commented on #15835
I thought I was seeing a similar issue, but never found a smoking gun.  No objection to closing this.

[2015-10-23 23:21] yujuhong commented on #13562
Good points.

The discussions in this thread are still at the early stage. We don't have a good way to mark a container GC-eligible now and some investigation is needed.
 - In the long run, we are moving to the client-server architecture for container runtimes (#13768), so it's good to keep in mind about compatibility. I'd avoid sharing data directly with the garbage collector in the container run

[2015-10-23 23:21] jvalencia commented on #16188
Apparently, the LVM for kubernetes is not getting created correctly, so on a restart it can't find the volume.
This is from the LVM creation scripts on first boot:

update-initramfs: Generating /boot/initrd.img-3.13.0-46-generic
  Physical volume "/dev/xvdc" successfully created
  No physical volume label read from /dev/xvdd
  Physical volume "/dev/xvdd" successfully created
  Volume group "vg-eph

[2015-10-23 23:24] jvalencia commented on #16188
Some relevant debug info:
[code]

[2015-10-23 23:30] erictune commented on #14500
Started looking at this.  Fails about 1 in 100 runs for me.

[2015-10-23 23:32] saad-ali opened #16215 "Jenkins kubernetes-e2e-gce-slow test suite fails with "Google Cloud Platform resources leaked while running tests""
Jenkins `kubernetes-e2e-gce-slow` test suite failed two times in a row with `Google Cloud Platform resources leaked while running tests`

[code]

See:
* kubernetes-e2e-gce-slow/668
* kubernetes-e2e-gce-slow/669

[2015-10-23 23:33] saad-ali commented on #16215
Looks like this is related to #16192

[2015-10-23 23:34] saad-ali commented on #16215
Closing this as dupe of #16192

[2015-10-23 23:34] #16215 closed

[2015-10-23 23:34] saad-ali commented on #16192
Jenkins `kubernetes-e2e-gce-slow` test suite failed two times in a row with `Google Cloud Platform resources leaked while running tests` because `e2e-slow-minion-template` wasn't deleted.

[code]

See:
* kubernetes-e2e-gce-slow/668
* kubernetes-e2e-gce-slow/669

[2015-10-23 23:39] vishh commented on #16168
Fair point. If the pods are not garbage collected from the API server
automatically, this will be an issue. Heapster fix underway!

On Fri, Oct 23, 2015 at 4:09 PM, Eric Tune <notifications@github.com> wrote:

[2015-10-23 23:41] smarterclayton commented on #16177
@lavalamp - this is essentially federation of cluster API groups that
aren't provided in the Kube code base, part of the reason I've been pushing
discovery use cases so hard.  The client discovers groups - some of those
groups are disconnected from the master, the HPA should be able to
autoscale them, etc.  I'll try to make sure there are relevant comments on
the appropriate design docs for this.

[2015-10-23 23:47] jvalencia commented on #16188
In stepping through the code in format-disks.sh, the error starts here (on non-wheezy versions of Ubuntu... it looks like wheezy is fine):

[code]
Then checking the details:
[code]

[2015-10-23 23:58] tristanz opened #16218 "Add 1.2 to roadmap"
Currently the releases are ahead of the roadmap, unless there's a better place to get big picture roadmap from now:

https://github.com/kubernetes/kubernetes/blob/master/docs/roadmap.md

@brendandburns

[2015-10-24 00:01] jvalencia commented on #16188
As a test, I ran the wheezy version of lvcreate (no thin provisioning) manually and restarted.  It worked, and master came back up.

[2015-10-24 00:09] FestivalBobcats commented on #3760
Apologies for a potentially dumb question, but regarding the preservation of client IPs:

@thockin I saw in another issue on Sep. 2 that "only intra-cluster traffic retains the client IP" -- is this still true for the 1.2 alpha?

We launched a fresh 1.2 cluster, applied the node annotation, restarted, and still see 10.244.0.1 as the source address for all requests made to a pod running HAProxy.

A

[2015-10-24 00:11] erictune commented on #14500
Looks like sometimes `manager.updateHandler` is not called, and then the test case fails, in a way specific to the test case.

[2015-10-24 00:13] thockin opened #16220 "flaky unit test in pkg/util/wsstream/"
@smarterclayton

[code]

[2015-10-24 01:05] jayunit100 commented on #16100
Plan from conversation today.

1. Measure: (What do we want to measure and why?)  [C1]

    We want to measure kubernetes internal RestClients to a

    Counts for 'host:port'/ connections

    label=responseCode(404,200,...)

     label=action(GET,POST,..).

2 Analyze:

    Start graphing against density monitoring both nodes and controllers while purposefully triggering failure conditions. (rest

[2015-10-24 01:06] thockin opened #16222 "api-reference is not automatically regenerated"
This really needs to run automatically, or it gets stale.  release-1.0 branch is a great example of this.  The current process for generating them is WAAY too slow and heavy.  The docker build is pulling data at < 100K/sec.  This si not good enough.

[2015-10-24 02:17] activeshadow opened #16224 "Incorrect --to-destination iptables flag being set for services by kube-proxy when using Vagrant"
I'm using Vagrant to deploy a small, multi-node cluster on my local machine for development/testing. I've been banging my head against the wall trying to figure out why I can't get a couple of my containers running in different pods to talk to one another via services, and I finally realized that the iptables `--to-destination` flag for my KUBE-PORTALS-HOST rules on the service node is pointing to

[2015-10-24 02:31] activeshadow commented on #16224
Here's some output I should have included in the original post. The service is named `foobar` and the port names are `a` and `b`. The service's cluster IP address is `10.3.99.48`.

[code]

[2015-10-24 02:35] mikedanese opened #16225 "After master upgrade (v1.0->HEAD) DNS doesn't work because default service doesn't work"
Looks like we added a name to the kubernetes service port, but we only update the endpoints with the new port name and not the service. This trips up the kube-proxy because it can't find a svcportname mapping from the service to the endpoints.

cc @davidopp @thockin @ArtfulCoder @ihmccreery

[2015-10-24 02:37] thockin commented on #3760
The default still uses userspace mode.  You have to set an annotation on
the node (net.beta.kubernetes. io/proxy-mode=iptables) and restart the
proxy.  But that will not expose external client IPs, just intra cluster
IPs.
On Oct 23, 2015 5:09 PM, "Ben Hundley" <notifications@github.com> wrote:

[2015-10-24 02:56] bgrant0607 commented on #15624
Enums can't be extended, so we need to carefully think about what severity levels we might want.

[2015-10-24 02:56] bgrant0607 commented on #15624
We should also fight event spam by getting rid of useless events.

[2015-10-24 03:00] bgrant0607 commented on #15624
People have also asked for distinguishing between user-initiated and system-initiated actions, and between normal and abnormal. I guess in this proposal "Info" would be considered normal. If so, we should ensure that the other severity levels aren't improperly applied to any normal occurrences.

[2015-10-24 03:06] mikedanese commented on #16225
I think this is caused by  #14871

[2015-10-24 03:11] MikaelCluseau commented on #3760
I'm able to keep the external client IP by DNAT'ing external traffic + routing through a kube-proxy. For instance, if your service network is 10.42.0.0/16 and you have a highly available kube-proxy on the IP 10.10.1.1, you can have the following iptable rule:
[code]
and the following route:
[code]

The pod behind then sees the real IP:
[code]

You have to have the right the packet's return path of

[2015-10-24 03:15] bgrant0607 commented on #15624
I could see a case for a 4th: Critical.

[2015-10-24 03:23] bgrant0607 commented on #15624
Ah, we could add a User EventSource.

We should revisit #13925.

[2015-10-24 03:24] bgrant0607 commented on #15624
Related: #1462, #6532, #15464

[2015-10-24 03:32] bgrant0607 commented on #15624
Probably anything not actionable by the user should be Warn at best.

[2015-10-24 03:34] mikedanese commented on #16201
Need to cherry pick so leave open

[2015-10-24 03:44] thockin commented on #3760
Yeah, if this DNATs to an off-machine backend, you form a triangle without
SNAT.  This is the fundamental problem.

On Fri, Oct 23, 2015 at 8:12 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2015-10-24 03:48] thockin commented on #16225
Ahh, great catch.  How is it working from head?

[2015-10-24 04:02] thockin commented on #16224
No, that's the correct config.  It is redirecting to the local kube-proxy, which is (supposedly) listening on the node.  You should see the same pattern in any install.

The open question for me is what is really failing?  What is your node's podCIDR and what is the IP space set aside for Services (`--service-cluster-ip-range` on kube-apiserver)?

[2015-10-24 04:11] mikedanese commented on #16225
Because it is creating the endpoints correctly initially. What is happening is when the endpoints are incorrect (e.g. they don't have the port name) the controller is not detecting that it needs to fix the endpoints.

[2015-10-24 04:24] thockin commented on #16225
Aha!  Excellent find.

On Fri, Oct 23, 2015 at 9:11 PM, Mike Danese <notifications@github.com>
wrote:

[2015-10-24 04:31] MikaelCluseau commented on #3760
Sound interesting, any link? :-) I'm trying to find a way to be sure the packet will go through the right conntrack rule. I was thinking about replicating conntrack state through the cluster.

[2015-10-24 05:40] #10463 closed

[2015-10-24 06:19] #16122 closed

[2015-10-24 06:29] thockin commented on #16222
I guess this is only on release-1.0

[2015-10-24 06:29] #16222 closed

[2015-10-24 06:31] mikedanese commented on #16225
You can reproduce this bad state on HEAD by running
[code]

The kubernetes service will become unavailable and will not recover. Proposed fix in #16227

[2015-10-24 06:41] thockin opened #16229 "release-1.0 branch does not compile with go-1.5.1"
The issue is that bytes.Reader grew a Size() method, which makes a multi-embed ambiguous.  The fix is easy if we're willing to take a patch into Godeps.  Otherwise we can demand go-1.4.x ?

@brendandburns

[code]

[2015-10-24 06:43] eliaslevy opened #16230 "How to access Kubernetes service from pods started via /etc/kubernetes/manifests?"
It appears that pods started by dropping a pod spec into `/etc/kubernetes/manifests` are not associated with the default service account, and don't have `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt` and `/var/run/secrets/kubernetes.io/serviceaccount/token` mounted within their container.  Adding `{spec: {serviceAccount: guest}}` appears to have had no effect on this.

How is a pod started

[2015-10-24 07:05] caesarxuchao opened #16233 "Update the hack/after-build/verify-linkcheck.sh"
https://github.com/kubernetes/kubernetes/blob/master/hack/after-build/verify-linkcheck.sh
This tool checks the link in types.go is valid.
1. It needs to be updated since we have multiple groups and unversioned types.go;
2. Its regexp also needs to be adapted when cherry-picked to release branch to prevent problems like #16228.

[2015-10-24 07:21] mikedanese commented on #16230
May I ask what your usecase is? Will a DaemonSet work?

[2015-10-24 08:11] erictune commented on #14500
will be fixed by #16234

[2015-10-24 08:13] davidopp commented on #14500
Nice debugging! Thanks!

[2015-10-24 08:32] davidopp opened #16235 "Add documentation for bringing up cluster addons to "scratch" getting started guide"
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/scratch.md
has TODOs for how to bring up cluster addons like monitoring and logging. We should fill these in.

requested by user: https://groups.google.com/d/topic/google-containers/Y7iCrSPSC1Y/discussion

[2015-10-24 08:49] ravilr commented on #16225
@mikedanese https://github.com/kubernetes/kubernetes/pull/14871 is only on master. wondering how could it break v1.1.

[2015-10-24 09:42] gmarek commented on #15835
Yup, I failed to replicate it.

[2015-10-24 09:42] #15835 closed

[2015-10-24 09:48] #15907 closed

[2015-10-24 12:55] activeshadow commented on #16224
Dang... I thought I had tracked down the issue. :-(

When I get the details of the node running my service, it doesn't show the `podCIDR` config as part of the spec for some reason...

[code]

However, here's the IP configuration details for that particular node. The `192.168.0.102/24` interface address is the Vagrant/VirtualBox private network I have setup for all the CoreOS/Kubernetes nodes to c

[2015-10-24 13:03] willmore commented on #15932
I believe I have worked out a solution.
1. I had to change all Kube "virtual IPs" in the kube-up config to be in the `172.0.0.0/8` range.
[code]
2. I had to correct the hardcoded IP range defined in [container_bridge.go](https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/pkg/kubelet/container_bridge.go#L122-L142).
The code assumes the IP range `10.0.0.0/8` will

[2015-10-24 15:11] eliaslevy commented on #16230
Use case is to execute a command on node registration to update node tags with provider metadata so that nodes in a heterogenous cluster can be targeted.  Specifically, adding AWS metadata to tags.  A pod is only needed until the #13524 proposal is implemented.

I have not dug into DaemonSet as I am using v1.0.6.  Looking it over, DaemonSet could work, if it respects the restart policy (i.e. don't

[2015-10-24 15:17] mikedanese commented on #16230
Ya DaemonSet won't work. You can create a RestartOnFailure pod and write the spec.nodeName field to be a node name of a node you want to bootstrap. This will bypass the scheduler and place the pod directly on that node. It would be a normal pod so volumes/service accounts would work. Have it do whatever it needs to do and exit zero. Run that same pod to success on every node in the cluster.

[2015-10-24 16:03] mikedanese commented on #16225
@ravilr hmm you are right. Fixed title.

[2015-10-24 16:11] eliaslevy commented on #16230
I could do that, but it would defeat the purpose of nodes self-registering their metadata labels without requiring some external process that iterates over the nodes.  If that were the only choice, then I might as well run a script that iterates over the node instances, use the AWS CLI to fetch the instance metadata and use kubectl to update the labels, which saves me the trouble of having to defi

[2015-10-24 16:38] mikedanese commented on #16225
Lowering priority and moving out of v1. As @ravilr pointed out, this incompatibility was introduced after v1.1 was cut.

[2015-10-24 17:09] justinsb opened #16238 "godep restore failing due to Godep issue"
The aws-sdk-go library just renamed a package from internal -> private to work around Go's vendoring experiment changes:
https://github.com/aws/aws-sdk-go/commit/c09f1bb2f2270137bd1708d4668dc6beb2fb52f2

But we have a Godep dependency on some of these internal packages (we don't use them directly, but Godeps saves them anyway)

The problem is that godep ignores the branch when first pulling the co

[2015-10-24 18:19] smarterclayton commented on #16220
Yeah, started seeing this recently.

[2015-10-24 18:19] smarterclayton commented on #16220
Very rare race, seeing it ~5% at most.

[2015-10-24 18:38] abevoelker opened #16239 "Tutorial says `kubectl expose` will return assigned IP address of service, but actually doesn't"
I'm a noob following [the tutorial](http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html), and when I get to the "Expose it as a service" section, the output of `kubectl expose` doesn't output the IP address like the tutorial says it will.

I figured out how to get the assigned IP address by doing `kubectl get services` afterward, but I'm thinking either the tutorial needs to get upda

[2015-10-24 18:41] eliaslevy commented on #16230
For the record, dropping a pod into the manifest directory and using kubelet's client cert worked.  Closing.

[2015-10-24 18:41] #16230 closed

[2015-10-24 18:59] MalteJ commented on #15932
@willmore it would be interesting how your VPC route tables look like.
My first guess was that you are using different route tables for your subnets.

[2015-10-24 19:04] MalteJ commented on #15932
With your change I think your kubernetes node will do NAT to connect the containers to the other subnets.
Do you want to reach the containers from the other subnets' hosts, too? Or is a NAT fine that only allows connecting from the containers to the other hosts?

[2015-10-24 19:11] stapelberg opened #16240 "feature request: read-only containers"
Docker 1.5 [introduced read-only containers](https://blog.docker.com/2015/02/docker-1-5-ipv6-support-read-only-containers-stats-named-dockerfiles-and-more/). I’ll quote from their release notes:

I’d like to have kubernetes start all of my containers using `--read-only`, just so that I know there is no data which is stored in temporary storage and then lost when the container is restarted/reschedu

[2015-10-24 19:27] bgrant0607 commented on #16218
Still under discussion, but see:
https://github.com/kubernetes/kubernetes/milestones
https://github.com/kubernetes/kubernetes/wiki/Release-1.2

[2015-10-24 19:57] justinsb commented on #16238
I didn't realize this was actually affecting people other than me.

Pasting the error message from Shippable in, for search purposes:

[code]

[2015-10-24 20:03] justinsb commented on #16238
@dchen1107 @jimmidyson : Should I propose a PR with my above workaround in the shippable.yml file?   Or do you have a different solution in mind?

[2015-10-24 20:05] erictune commented on #15389
Ugh.  My fix for local breaks non-local restarts.

[2015-10-24 20:16] jimmidyson commented on #16238
I'm surprised it's not affecting every kubernetes PR & therefore getting more attention...

[2015-10-24 20:43] justinsb commented on #16238
I think it maybe only affects PRs that change Godeps (?).   My reading is that `hack/verify-godeps.sh` exits almost immediately if there are no changes in a PR to the Godeps dir: https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh#L42-L46

An alternative to the workaround I posted would be to fork aws-sdk-go and go back to the version where they didn't rename.  Or we could a

[2015-10-24 20:49] jimmidyson commented on #16238
@justinsb Ah yeah good spot.

[2015-10-24 21:22] tleyden opened #16243 "skydns container in reboot loop on minion"
## Steps to reproduce

* Install Kubernetes via `KUBERNETES_PROVIDER=vagrant curl -sS https://get.k8s.io | bash`
* ssh into kubernetes minion
* run `docker ps` a few times
* See that the container is [only up a few seconds](https://gist.github.com/tleyden/807aee9c4daa64973425#file-gistfile1-txt-L3) and then [later restarts](https://gist.github.com/tleyden/807aee9c4daa64973425#file-gistfile1-txt-L1

[2015-10-24 21:23] zaa commented on #16188
+1. We have experienced the issue on AWS too. The nodes (Ubuntu) did not come back after reboot.

[2015-10-24 21:27] pmorie commented on #16238
I think what will be needed here is to bump the affected package (`aws-sdk-go` in this case).  That is what we have had to do before with Godeps issues like this.  @ncdc, does my memory serve me?

[2015-10-24 21:33] justinsb commented on #16238
@pmorie that should work - good idea.  It does involve going to an unreleased revision, as this change was made in the last 24 hours so there hasn't been a release with this change.  But it's probably no worse than the alternatives.  Shall I submit a PR?

[2015-10-24 21:33] tleyden opened #16244 "Container cannot perform dns lookups"
## Steps to reproduce

* Install Kubernetes via `KUBERNETES_PROVIDER=vagrant curl -sS https://get.k8s.io | bash`
* ssh into kubernetes minion
* Run `docker run -ti --rm centos:7 bash -c 'ping google.com'`
* Get error `ping: unknown host google.com`

Note: I also tried the above by creating a [pod](https://gist.github.com/tleyden/58281e277e932a27863c), but got the same result.

## Setup

* OSX Yose

[2015-10-24 21:47] tristanz commented on #16218
Thanks, this looks great.

[2015-10-24 23:48] justinsb commented on #16238
#16245 has the fix using @pmorie 's suggestion.  It passes shippable (and it looks like shippable did run verify-godeps).  The downside is it isn't using an official release of aws-sdk-go, but it is only 3 commits ahead: one doc change, one comment change, and one huge commit which looks like a straight rename.

[2015-10-25 00:02] eparis commented on #16238
check out https://github.com/kubernetes/kubernetes/blob/master/hack/verify-godeps.sh#L24 use it around line 64 (right before `godep restore`) to solve this with 1 line in the safest possible way.  Although I think #16238 is the right 'long term' fix. If we need something on a release branch, using godep-restore is safer.

[2015-10-25 00:08] #15701 closed

[2015-10-25 00:11] thockin commented on #16243
Can you try disabling the kube-dns pod's healthcheck for skydns?  Assuming
that stops t from crashing, try to manually do hat health check (kubectl
exec ... Nslookup ...).
On Oct 24, 2015 2:22 PM, "Traun Leyden" <notifications@github.com> wrote:

[2015-10-25 00:28] ArtfulCoder commented on #16243
It might be helpful to see kube2sky logs if you could check that as well..

Sent from my iPhone

[2015-10-25 02:02] activeshadow commented on #16224
As another data point, when I show the hit count for the `iptables` rules (via `iptables-save -c | grep foobar`) created by the `kube-proxy`, I only see hits for the `KUBE-PORTALS-CONTAINER` chain on the node running the *client* application. The relevant hit counts on the node running the *server* application (and thus the application the service is supposed to proxy to) are `0`.

[2015-10-25 02:36] eliaslevy commented on #16090
@mikedanese [This is how](https://github.com/coreos/coreos-kubernetes/pull/125) I ended up implementing it using a [pod](https://github.com/eliaslevy/docker-aws-node-labels).

[2015-10-25 03:13] ntquyen commented on #15751
@so0k Sorry for being late reply. I hadn't got time to go back to kube-ui until recently. I realized that the cAdvisor port wasn't open yet  (`--cAdvisor-port=0` which should be `cAdvisor-port=4194`) and that caused the issue!

[2015-10-25 03:37] activeshadow commented on #16224
Yep... I *definitely* missed something obvious here. I hate to admit it, but I had originally configured my application to listen on `localhost` when I was developing it and never changed it when I migrated into Kubernetes.

Ugh... sorry. Thank you for wanting to help me out.

[2015-10-25 03:37] #16224 closed

[2015-10-25 04:02] thockin commented on #16240
This sounds reasonable to me, though we need to make clear - does that
include things like /tmp?

On Sat, Oct 24, 2015 at 12:11 PM, Michael Stapelberg <
notifications@github.com> wrote:

[2015-10-25 04:12] ntquyen commented on #16022
I found out the cause. I realized that I used the same persistentVolume for every nodes in cluster which is wrong even they are scheduled on different nodes. Is that the behavior of k8s persistent Volume, specifically HostPath? However, I don't think it should be that way.

[2015-10-25 05:19] resouer opened #16247 "Find out a way to use git-sync sidecar to replace gitRepo"
Related issue:  #15421 related PR: #15533

The original discussion is caused by we want to improve gitRepo to support more options like "git clone src target".  Tim @thockin  believes sidecar mode is more suitable for this case, see https://github.com/kubernetes/kubernetes/pull/15533#issuecomment-150880681. Actually, I agree with him, if we can work out something easier to use.

For now, git-sync

[2015-10-25 05:48] roberthbailey commented on #16134
I think this was a P0 because it was in the 1.1 milestone (pretty much everything else in there is P0). If it needs to be fixed before the 1.1 release, it should be a P0; if it isn't going to be part of the release, it should be removed from the milestone.

[2015-10-25 05:54] erictune commented on #16134
I've removed it from the milestone.

My reasoning is that if it affects RCs then we have been living with it for a long time, so it isn't serious, and if it just affects performance when using Jobs, that is also not so serious.

[2015-10-25 06:02] rwehner commented on #15847
There is work in progress toward TLS capable podmaster in https://github.com/kubernetes/contrib/pull/130. Might be worth tracking.

[2015-10-25 07:52] mdshuai commented on #16018
Thanks all the help, I have resolve the problem, it can autoscale correctly. But it seem that, the autoscale isn't stable. anyway close this issue.

[2015-10-25 07:52] #16018 closed

[2015-10-25 10:01] willmore commented on #15932
@MalteJ
[code]
Yes, the route tables are different.

Route table for subnet A (non-Kube hosts)
Destination | Target | Status | Propagated
-------------------------------------------------------
10.0.0.0/16 | local    |   Active | No
0.0.0.0/0     |   igw-44ad6e21	| Active | No

Route table for subnet B (Kube hosts)
Destination | Target | Status | Propagated
----------------------------------------

[2015-10-25 10:08] willmore commented on #15932
[code]
No, connection from other subnet hosts to the containers is not a requirement. I believe this is inline with how Kubernetes networking is meant to work. I.e., the containers don't need to be reachable from outside the cluster.
We only need to be able to connect to the nodes in the cluster from other subnets. All connection to the containers from outside the subnet should be done via service

[2015-10-25 10:09] MalteJ commented on #15932
OK. Which IP addresses do your containers have? Can they reach each other across different nodes?

[2015-10-25 12:21] jimmidyson commented on #16168
I think this has been discussed in other issues, but heapster shouldn't poll kubelets for individual pod metrics but rather request all pod metrics from kubelets & correlate back to pod resources as necessary. This would create much less load on the kubelet as well as providing consistent timings for pod metrics. This is how we do the metric collection when using Prometheus discovery btw.

[2015-10-25 14:01] resouer commented on #16247
@thockin Could you please put your thoughts here?

[2015-10-25 14:26] #15702 closed

[2015-10-25 14:39] jayunit100 commented on #16134
Related to #16100

[2015-10-25 15:29] erictune opened #16248 "E2E flake: Pods should have their auto-restart back-off timer reset on image update"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/14168/#

[code]

[2015-10-25 15:29] stapelberg commented on #16240
By default, `--read-only` does make `/tmp` read-only as well, yes:
[code]

This is how I run nginx (outside of kubernetes, just with docker):

[code]

When not specifying a host path, a temporary volume will be created. I.e., if you wanted to have /tmp writeable, you’d need to specify `--volume /tmp`. I’m not 100% sure if Kubernetes’ emptyDir volume type is equivalent to that…?

[2015-10-25 18:11] vishh commented on #16168
FYI: The new [kubelet metrics APIs](15862) should help address this issue.

On Sun, Oct 25, 2015 at 5:22 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-10-25 19:34] tleyden commented on #16243
@ArtfulCoder:

Here are the kube2sky container logs:

[code]

(The last two lines are repeated hundreds of times)

Also here are the skydns container logs:

[code]

[2015-10-25 19:35] tleyden commented on #16243
@thockin

Sure, how do I do that?

Can you give me the exact command?

[2015-10-25 19:36] activeshadow commented on #16224
Just so it's noted in case anyone lands on this page when debugging, [this Flannel issue](https://github.com/coreos/flannel/issues/98) also caused me grief here. It was a combination of this and me only listening on `localhost` that kept me from being able to talk between nodes via a service when deploying Kubernetes on CoreOS using Vagrant.

[2015-10-25 19:57] ArtfulCoder commented on #16243
The issue seems to be that kube2sky can't reach API server.
Our health check is slightly simplistic and assumes that skydns container is the problem and restarts that.

Sent from my iPhone

[2015-10-25 19:57] tleyden commented on #16243
@ArtfulCoder I just noticed in the logs it seems to be connecting to a different IP than what `kubectl cluster-info` returns.  Could that be an issue?

[code]

[2015-10-25 20:05] ArtfulCoder commented on #16243
You should check the service ip of Kubernetes.
Can you also run sudo iptables-save on the minion.

Sent from my iPhone

[2015-10-25 20:07] tleyden commented on #16243
[code]

But if I ssh into the minion, I'm not able to ping `10.247.0.1`, whereas I am able to ping `10.245.1.2` (the ip listed in cluster-info)

[2015-10-25 20:08] tleyden commented on #16243
Here's the output from [iptables-save](https://gist.github.com/tleyden/61576f574a26686618cd)

[2015-10-25 20:18] ArtfulCoder commented on #16243
so you have service-ip entry in iptables.
Can you run kubectl get ep and see if you see the kubernetes endpoint ?

[2015-10-25 20:24] tleyden commented on #16243
[code]

[2015-10-25 20:28] tleyden commented on #16243
From the minion, I'm able to telnet to both `10.247.0.1 443` and `10.245.1.2 443`, so I don't get why it wouldn't be reachable from the container.

[2015-10-25 21:48] ArtfulCoder commented on #16243
instead of the minion,can you telnet from the healthcheck/kube2sky/etcd pod on the minion ? (whichever of those 3 have telnet on it)

[2015-10-25 23:38] acaire commented on #16090
@eliaslevy exactly what I was after, thanks!

[2015-10-26 01:25] #16070 closed

[2015-10-26 05:52] thockin commented on #16243
FWIW service IPs don't ping.  But Abhi has you on the right path.

On Sun, Oct 25, 2015 at 2:48 PM, Abhi Shah <notifications@github.com> wrote:

[2015-10-26 05:54] Pensu opened #16252 "Kubelet shows error while the pod is run successfully"
Hi all,

I am running a single node kubernetes cluster. When I try to run a simple hello-world pod, it is run successfully, I see the status as completed (not exit code:0) and I can using docker command that the container has run successfully. But the kubelet shows error in running pod. Here is the kubelet status:

[code]

Now, here is the pod status:

[code]

It even shows up in docker logs of th

[2015-10-26 05:55] thockin commented on #16240
It sounds like a reasonable enough feature.

On Sun, Oct 25, 2015 at 8:30 AM, Michael Stapelberg <
notifications@github.com> wrote:

[2015-10-26 05:57] thockin commented on #16244
Can the VM itself ping google.com?  What is the VM's /etc/resolv.conf ?  What is the container's /etc/resolv.conf?

[2015-10-26 06:07] thockin commented on #3760
I'm a bit lost with what you are trying to achieve.

The way the current iptables proxy is supposed to work is that a packet
arrives at a node, we detect that it is not locally generated, flag it for
SNAT, choose a backend, forward to the backend with SNAT, backend responds
to us, we un-SNAT, un-DNAT, and respond to external user.

On Fri, Oct 23, 2015 at 9:32 PM, Mikaël Cluseau <notifications@git

[2015-10-26 06:19] MikaelCluseau commented on #3760
Oh, sorry if I'm not clear. I was talking about the SNAT-less case. If every kube-proxy has the same conntrack list, any of them should be able to un-DNAT correctly when the container replies to the customer.

I couldn't see a was without replication that doesn't involve HA to keep a line-shaped structure like this:
[code]

But if a triangle-shaped thing can work, it should open more possibilities

[2015-10-26 06:28] mdshuai opened #16254 "[infrastructure_public_197]When get jobs the output has invalid blank line"
[code]

[2015-10-26 06:29] mdshuai commented on #16254
@soltysh

[2015-10-26 06:30] mdshuai opened #16255 "[infrastructure_public_197]Delete a Job can't cleanup the completed pods it created"
Description of problem:
As the [job doc](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/jobs.md#what-is-a-job) description "Deleting a Job will cleanup the pods it created."
Now when delete a job, the completed pod it created still exist.
[code]

[2015-10-26 06:31] mdshuai commented on #16255
@soltysh

[2015-10-26 06:47] thockin commented on #3760
That would be cute but seems crazy complicated

On Sun, Oct 25, 2015 at 11:20 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2015-10-26 06:55] MikaelCluseau commented on #3760
The way I have to explore (I haven't and don't like to ask before proper research but since the subjet is now open...) is the "Asymmetric multi-path routing" you can see here: http://conntrack-tools.netfilter.org/manual.html#sync-aa . And yes, that would be really really nice :-)

[2015-10-26 07:01] liqinghua188 commented on #16243
I installed kubernetes On Bare-metal Ubuntu Nodes， following [http://kubernetes.io/v1.0/docs/getting-started-guides/ubuntu.html](http://kubernetes.io/v1.0/docs/getting-started-guides/ubuntu.html)

My kubectl version is :

	kubernetes-master@kubernetes-master:/srv/kubernetes$ kubectl version
	Client Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.6", GitCommit:"388061f00f0d9e4d641f9ed4

[2015-10-26 07:24] MikaelCluseau commented on #3760
The simplest thing that could possibly work...

1. proxy1 receives a new connection through an iptables hook (I think I've seen that somewhere), and its LB assigns it to the proxy2's node.
2. proxy1 sends a request like "setup a conntrack entry for <src-ip>:<src-port> -> <pod-ip>:<pod-port>"
3. proxy2 receives the request, setup the conntrack entry, and ACK it to proxy1
4. proxy1 let the packet go

[2015-10-26 07:42] mikedanese commented on #16254
@kubernetes/goog-ux

[2015-10-26 08:11] chenfisher opened #16257 "NotReady node keeps getting requests"
I've seen this in two, unrelated clusters:
1. Node becomes NotReady (for no apparent reason)
2. Requests to a service (of type LoadBalancer) are still routed to that node

**Cluster 1**
Two nodes, one became NotReady
A service of type LoadBalancer
Every second request to the service times out
Termination of the node resolves the issue

**Custer 2**
7 nodes, one became NotReady
Every 7th request to

[2015-10-26 08:13] GuoHui89757 commented on #16243
@liqinghua188
      - name: kube2sky
        image: gcr.io/google_containers/kube2sky:1.11
        resources:
          limits:
            cpu: 100m
            memory: 50Mi
        args:
        # command = "/kube2sky"
        - -domain={{ pillar['dns_domain'] }}
        - -kube_master_url=http://k8s-master-ip:8080
        - -etcd-server=http://127.0.0.1:4001
        - -logtostderr
        - -v=

[2015-10-26 08:34] zhengguoyong commented on #16252
completed means pod is running, exit code:0 meas pod terminate success ?
maybe not true.

[2015-10-26 08:39] hurf commented on #16240
So we need a new field in the template? Should the flag work only for containers of for the pod?

[2015-10-26 09:03] jszczepkowski commented on #16018
@mdshuai Can you explain what caused the problem and how it was solved? Someone may encounter it  in future.

[2015-10-26 09:29] stemau98 commented on #16188
+1

[2015-10-26 09:41] mdshuai commented on #16018
For my env is local all-in-one. I setup the env just run command "hack/local-up-cluster.sh". Then create heapster by json "cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml" and hpa. Because kubelet listen on localhost 127.0.0.1 and heapster in container connect to 127.0.0.1, it will never connect to the master.
At first, I don't know how hpa works with heapster. Honestly after

[2015-10-26 09:54] #16220 closed

[2015-10-26 10:02] #15816 closed

[2015-10-26 10:23] antoineco opened #16263 "Controller Manager extremely verbose about Sync deltas"
On the default log level (--v=2) `kube-controller-manager` keeps throwing informational messages about received Sync deltas:

[code]

These events are logged every 5 minutes for each service, making it hard to find relevant messages when browsing the logs/journal within a timespan of several hours on busy clusters.

I believe the default log level should not, at least in this case, output messages

[2015-10-26 10:40] genti-t commented on #15847
Thank You

[2015-10-26 11:54] willmore commented on #15932
I made a mistake in the routes listed in my previous comment. The routes listed were for a previous deployment. As I mentioned, as part of the fix I moved all kube virtual ips into `172.`. Updating the comment now to reflect this.
@MalteJ I think this should make more sense now.

[2015-10-26 11:57] geoah commented on #15932
@willmore could you please provide a complete diff please to check out the changes you have made in various parts of the code/scripts?

[2015-10-26 12:07] willmore commented on #15932
@geoah here is a diff of the `cluster/aws` changes I made:
https://github.com/salemove/kubernetes/compare/release-1.1...salemove:sm-master
They essentially expose some settings that were previously hardcoded.

Here are the relevant env vars I used for the first, unsuccessful setup:
(irrelevant settings omitted and some values redacted)
[code]

Here are the env vars that got me a working set up, co

[2015-10-26 12:52] piosz opened #16268 "Cluster size autoscaling doesn't work with master 1.1 and nodes 1.0"
In 1.0 nodes don't have specified monitoring scope in GCE. In 1.1 we added cluster size autoscaling feature for GCE which requires utilization/reservation metrics to be exported to GCM by Heapster. Heapster requires monitoring scope to be able to communicate with GCM.

So that cluster size autoscaling feature doesn't work on cluster with master in version 1.1 and nodes in version 1.0.

Ref #16201,

[2015-10-26 12:53] piosz commented on #16268
cc @aronchick @davidopp @fgrzadkowski @jszczepkowski @mikedanese @mwielgus @vishh

[2015-10-26 13:05] fgrzadkowski commented on #16268
I think this is a more general problem. There might be some parts of node configuration which are required for system pods to work. Scopes are one examples and especially tricky as they can be created only upon creation. At the same time when we update master we also update all of the add-ons (e.g. heapster). This means that new version of add-ons will work on old nodes.

@bgrant0607

[2015-10-26 13:08] fgrzadkowski commented on #16268
Some more details:
 - we will not have this problem on GKE as it uses a different mechanism to push metrics to GCM
 - for GCE the question is how do we expect that people will perform cluster upgrades. If the time with different versions is short we might be ok with heapster not exporting metrics to GCM

[2015-10-26 13:11] liqinghua188 commented on #16243
@GuoHui89757
Great! it works for me. thank you

[2015-10-26 14:28] jszczepkowski opened #16275 "Horizontal pod autoscaler is not stable"
Horizontal pod autoscaler makes decision to scale down after 1 minute from the previous scale down, although downscaleForbiddenWindow is 5 minutes. This causes flakiness of hpa e2e tests with stability checks:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/1496/consoleFull

[2015-10-26 14:29] jszczepkowski commented on #16275
CC @piosz

[2015-10-26 14:33] yujuhong commented on #16252
@Pensu, the pod has run and terminated successfully as `kubectl get pods` shows.

The errors in the log are misleading and not harmful. Kubelet checks a couple of things after starting the container to make sure the container is running as desired. Because your "hello world" container terminated too quickly, kubelet wasn't able to finish those checks before it died.

[2015-10-26 14:37] jayunit100 commented on #9084
Hi @derekwaynecarr , shall we upend this? Do you think NS cleanup will be 100% now?

[2015-10-26 14:45] piosz commented on #16268
After talk with @fgrzadkowski we ended up with the solution:
* cluster size autoscaling will work only when both master and nodes are in version 1.1
* we will add to the Heapster logic to try to create a sink until it will succeed
* googleinfluxdb monitoring option will remain default (so effectively we will revert #16214)

So in case of update when a master is updated and nodes are not updated ye

[2015-10-26 14:48] thockin commented on #16240
This is certainly a per-container option.  Interested to see the f t just
works, or if there are wrinkled...
On Oct 26, 2015 1:40 AM, "Victor HU" <notifications@github.com> wrote:

[2015-10-26 15:19] yujuhong commented on #14076
I've seen quite a few flaky failures. E.g., https://github.com/kubernetes/kubernetes/pull/16276#issuecomment-151168981

Re-opening this issue.

[2015-10-26 15:35] jimmidyson commented on #15554
@yujuhong Here's a first attempt at a perf dashboard similar to what you had but using Grafana (master branch to get Prometheus integration).
![selection_016](https://cloud.githubusercontent.com/assets/464659/10733486/f2d60ee2-7bf6-11e5-8e03-65275a343053.png)

Dashboards available at https://github.com/jimmidyson/prometheus-grafana-dashboards

[2015-10-26 15:40] jszczepkowski commented on #16275
Found root cause: HPA was incorrectly resetting last scale time during status update when there was no rescale.

[2015-10-26 15:41] runningwild opened #16278 "Services load balance to all nodes, not just minion nodes"
At least on GCE, a load balanced service will get a target pool that includes the master node, which causes a constant fraction of requests to fail because the master node doesn't forward anything.

Easy to reproduce:
[code]

-- simple-service.yaml --
[code]

[code]

kubernetes-master is in there (you might need to scroll to the right a bit to see it), but shouldn't be.  See https://groups.google.

[2015-10-26 15:47] jszczepkowski commented on #16275
CC @derekwaynecarr @mdshuai

[2015-10-26 15:52] FestivalBobcats commented on #3760
In my case, I was aiming to establish firewall rules, per NodePort service.

It looks like I can add simple ALLOW IP / DROP everything else rules in the INPUT chain, like so:

[code]

To apply these rules, what I was envisioning was using annotations on the NodePort services. The annotations would hold whitelisted IPs.

Since I can wait a bit for these rules to apply, I imagined a minutely cron ta

[2015-10-26 15:58] luxas commented on #13424
@fgrzadkowski Is any progress made on this topic?
I'm very interested in running everything in docker.
That is mostly because I run things on ARM, see my [project](https://github.com/luxas/kubernetesonarm)

Things are working, but e.g. the default serviceAccount isn't automatically made.

[2015-10-26 16:05] ltagliamonte opened #16280 "[hyperkube:v1.0.6] cAdvisor is unsupported in this build"
I'm trying to use kubedash with heapster and influxdb, I was able to successfully deploy the apps but the kubedash doesn't have any info in it (except the created namespaces).
Digging into the logs I discovered that kubedash is receiving 500 from heapster, and in the heapster logs i can see:
[code]
looking into the github issues and in hyperkube logs i see that cAdvisor is still not in the build.

[2015-10-26 16:11] quinton-hoole commented on #14076
FYI, this e2e test "never" fails when run in serial with other tests:

 http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/9131/testReport/(root)/Kubernetes%20e2e%20suite/Probing_container_with_readiness_probe_should_not_be_ready_before_initial_delay_and_never_restart__Conformance_/history/

Similarly it "never" fails in our normal parallel e2e test run (which is, in theory, identical to t

[2015-10-26 16:31] #16171 closed

[2015-10-26 16:32] #15527 closed

[2015-10-26 16:32] #15680 closed

[2015-10-26 16:33] #13593 closed

[2015-10-26 16:39] #15903 closed

[2015-10-26 16:50] thockin commented on #15978
status update please?

[2015-10-26 16:50] fgrzadkowski commented on #13424
We are now discussing (with @roberthbailey and @mikedanese and others) how we want to refactor kube-up scripts to make them more pluggable. Once we have this we will combine it with docker based setup. This should make it quite easy to run it wherever by just overriding certain parts of the scripts.

This however is going quite slow as our main focus now is shipping 1.1.

[2015-10-26 16:55] Random-Liu commented on #15089
I just put restart count into docker label last week in #15965.
Next step, I'll try to move pod name and namespace into docker label, and use label filter to simplify GetPodStatus().
Just report my progress here, :)

[2015-10-26 16:59] vishh commented on #16268
I assume this requires upgrading the entire cluster (`kube-push`), which is hopefully not a big issue in GCE.

In general, the sink should keep trying to store data without failing hard. AFAIK setting scopes requires creation of new nodes, which will result in heapster being re-started on a new node. From that perspective, this change is not that critical. This will be useful when the monitoring A

[2015-10-26 17:00] jimmidyson opened #16282 "API server instrumentation only works for successful responses"
API server request instrumentation is right the way down the filter chain. This means that only `200`s are actually reported in metrics.

Need to find the appropriate place to instrument requests to ensure consistent metrics for all requests regardless of response codes or other filters such as authn/authz.

/cc @jayunit100

[2015-10-26 17:01] vishh commented on #16268
How about this: If a GCE user wants to test cluster auto-scaling, they will have to perform a complete upgrade.
#16214 already updates the heapster configs (to `googleinfluxdb`) when cluster auto-scaling is turned on.
I hope kube-push will pick up the config change and update heapster controller appropriately.

[2015-10-26 17:02] runningwild commented on #16164
Since bug is fairly general I figured that I'd throw in that kube-down on GCE is also leaking forwarding rules and target pools.  I built kubernetes today and this problem is still happening.

GCE charges for forwarding rules, I had a bunch of them lying around this month and got charged $35 for them :-P

[2015-10-26 17:13] vishh commented on #16280
I believe this was fixed in HEAD #11727. v1.1 should fix this.

On Mon, Oct 26, 2015 at 9:06 AM, Luigi Tagliamonte <notifications@github.com

[2015-10-26 17:14] vishh commented on #15089
@Random-Liu: Thanks for working on this! Looking forward to those patches.

[2015-10-26 17:27] saad-ali commented on #15978
Fix is LGTM'd awaiting merge and cherry pick to 1.1

[2015-10-26 17:30] jayunit100 commented on #16282
Yup as discussed. Will patch this today

[2015-10-26 17:32] jimmidyson commented on #16282
This isn't as simple as it appears... discussed with @liggitt & has to be carefully thought about due to multiple filter layers both in go-restful container & standard `http.HandlerFunc`s wrapping the requests at different points.

[2015-10-26 17:36] jsafrane commented on #15073
I can reliably reproduce similar issue, I am not sure it's the same:
* create a AWS EBS, let's say it has ID `vol-a37f5d43`
* Create a pod that uses this EBS:

[code]
* Create the pod. It succeeds eventually:

[code]
* Delete the pod

[code]

* Create the pod again. It will be `pending` forever

[code]

IMO, it's caused by `AWSCloud.DetachDisk` not removing the detached volume from internal map of

[2015-10-26 17:38] jvalencia commented on #16188
Apparently, the metadata is written into the pool and thin provisioning will not work with 100%FREE:
https://wiki.gentoo.org/wiki/LVM
https://bugzilla.redhat.com/show_bug.cgi?id=812726

[2015-10-26 17:40] #14327 closed

[2015-10-26 17:40] #14630 closed

[2015-10-26 17:40] jayunit100 commented on #16282
yup, by patch I really should have said "will take a look" :).

[2015-10-26 17:41] thockin commented on #14633
Worked around in kube v1.1

[2015-10-26 17:41] #14633 closed

[2015-10-26 17:41] #14870 closed

[2015-10-26 17:44] #12261 closed

[2015-10-26 17:49] cloudmode opened #16284 "DNS SRV port lookup fails"
The explorer example the DNS look up fails. Even the README.md shows an error:

LookupTXT(elasticsearch-logging):
Result: ([]string)<nil>
Error: &lt;*&gt;lookup elasticsearch-logging: no such host

I've had the same experience in two other installations (one useing Vagrant, the other on DigitalOcean/coreos). In one instance (Vagrant/Mac OSX) the hostname resolved, the port number was always zero i

[2015-10-26 17:53] thockin commented on #12289
We don't, in general support changes to the `--service-cluster-ip-range` except expansions (e.g. 10.0.0.0/18 -> /16).  Service IPs are supposed to be reliably stable.  Now, if you have totally drained the cluster, MAYBE we could justify the master service itself handling this, but I think it's pretty fringe so this should be a doc, not a code change.

[2015-10-26 17:58] lavalamp commented on #14737
[code]

blocking merges; raising to P0

[2015-10-26 18:01] thockin commented on #12588
Are you still able to repro this?  We don't have a repro internally..

[2015-10-26 18:03] lavalamp opened #16285 "Flake: Services should serve identically named services in different namespaces on different load-balancers"
Blocking merges, P0

[code]

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/10319/

[code]

[2015-10-26 18:03] #12998 closed

[2015-10-26 18:04] #12459 closed

[2015-10-26 18:06] lavalamp commented on #15800
Hit this again. Blocking merges, so P0. Dawn, please find an owner, or I'll start arguing about whether exponential backoff makes sense at all for this application. ;)

[2015-10-26 18:11] lavalamp commented on #14737
looks like https://github.com/kubernetes/kubernetes/pull/16274 was merged to hopefully address this. Lowering to p1.

[2015-10-26 18:16] ashcrow commented on #16285
Looks like this e2e code hasn't changed since ```2015-10-01```.

[2015-10-26 18:19] vishh commented on #16201
@mikedanese: #16214 is out for review.

[2015-10-26 18:21] thockin commented on #12361
This should be more obvious now that --validate is on by default.

[2015-10-26 18:21] #12361 closed

[2015-10-26 18:23] erictune commented on #16248
xref #15800

[2015-10-26 18:25] yifan-gu opened #16289 "e2e tests fail on coreos/gce"
Run the [kubernetes-pull-build-test-e2e-gce](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L262) against a gce cluster that uses coreos image at node. See several failures.

artifacts here:
https://console.developers.google.com/project/coreos-gce-testing/storage/browser/kubernetes-coreos-jenkin/pr-log/kubernetes-pull-build-test-e2e-gce/73/?pli=1

[2015-10-26 18:28] tleyden commented on #16244
Yep

[code]

[code]

where 10.0.2.3 is pingable from the VM.

[code]

where 10.0.2.3 is *not* pingable from the VM.

[2015-10-26 18:30] tleyden commented on #16243
@GuoHui89757 what is the full path to that file?  Also, can you post the diff of what you changed?

[2015-10-26 18:32] tleyden commented on #16243
@ArtfulCoder

Sorry, not exactly sure what you mean.  Do you want me to `docker exec` into those three containers and then try to run telnet assuming it is installed?

[2015-10-26 18:35] tleyden commented on #16243
@ArtfulCoder if that's what you meant, I need some help .. how do I get a bash shell on those containers?

[code]

[2015-10-26 18:35] bkeroackdsc commented on #12588
I'm no longer trying to synchronize data between containers in this manner anymore--it wasn't reliable enough. Therefore I can't confirm whether this bug still exists.

[2015-10-26 18:38] dchen1107 commented on #15716
I am closing this issue since #16185 was merged.

[2015-10-26 18:40] #15716 closed

[2015-10-26 18:47] sethp-jive commented on #16079
In this case, a "retry" would be very helpful – the issue seems to be that once the socket's goproc pancis, there's nothing that re-associates that listening address with a new receiver (or closes the socket, which would introduce some TCP back-pressure).

Allowing the whole process to panic would bubble the error up to the level of a potential retrier (systemd configured to Restart Always, in our

[2015-10-26 18:49] dchen1107 commented on #16238
cc/ @lavalamp this is the issue which blocks us to merge @jimmidyson's pr (#16193) for cAdvisor and libcontainer for 1.1 release.

[2015-10-26 18:51] eparis commented on #16238
#16259 is the right fix for release-1.1    #16193 is not.....

[2015-10-26 18:52] piosz commented on #14737
Yep, #16274 disabled the test, tracking issue #16275 and there is fix in flight #16277

[2015-10-26 18:53] eparis commented on #16238
[deleted last comment, but this issue is fixed for release-1.1 in #16259, just can't get clean shippable]

[2015-10-26 18:58] caesarxuchao commented on #16093
@tiran, I'm going to test if your proposed fix actually works. Please let me know if you've already done so. Thanks.

[2015-10-26 19:03] tiran commented on #16093
@caesarxuchao No, I haven't tested it yet. Thanks!

[2015-10-26 19:05] bgrant0607 commented on #12680
In progress:
https://github.com/kubernetes/kubernetes/pull/16138/files

cc @nikhiljindal @ironcladlou

[2015-10-26 19:11] erictune opened #16292 "Kubelet Image Makefile out of date"
Are reported on kubernetes-dev, cluster/images/kubelet/Makefile says `VERSION=v0.16`.

Suggested deleting this file since clearly it has not been used recently and is confusing to people.

[2015-10-26 19:16] lavalamp commented on #15389
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/

Happened again.

[2015-10-26 19:20] jonbaierCTP opened #16293 "Update services.md"
Cannot create service without selector as described here: http://kubernetes.io/v1.0/docs/user-guide/services.html#services-without-selectors

first created service with this YAML:

    apiVersion: v1
    kind: Service
    metadata:
      name: custom-service
    spec:
      type: LoadBalancer
      ports:
      - name: http
        protocol: TCP
        port: 80

Second created this endpoint YAML

[2015-10-26 19:24] sethp-jive commented on #16079
Ah, just to clarify – when you say "retrying is totally wrong" do you mean that "a retrier is wrong because that would just cause us to keep running up against the filehandle limit"? I think I've been misunderstanding you to say that "a retrier wouldn't be useful at all."

[2015-10-26 19:40] erictune commented on #16134
@lavalamp do you have a recommended approach for this bug?

Summary is that a "framework" controller manager updates status once, then soon after tries to updateStatus again, but it has not seen resourceVersion change from first update yet, so it gets a 409 conflict, ignores the conflict then quickly retries, again, and again.

Options include:

1. detect conflict when PUTing status, pull status a

[2015-10-26 19:44] huang195 opened #16296 "Provide an option to disable/mock cadvisor in kubelet"
Is there a way to disable cadvisor when kubelet starts? I see there's an option to disable cadvisor network port so it doesn't leak certain information, but is there a way to disable cadvisor all together?

[2015-10-26 19:44] lavalamp commented on #16041
@quinton-hoole or @ixdy Do either of you guys have bandwidth to do this audit today or tomorrow?

[2015-10-26 19:50] errordeveloper commented on #13588
There had been a few updates since this issue had been filed, could you please test once #16129 is merged?

[2015-10-26 19:52] errordeveloper commented on #9242
@Snesha have you had a chance to take a look at this?

[2015-10-26 19:53] bgrant0607 commented on #16268
This feature isn't beta. Can we tell users not to enable cluster autoscaling until after upgrading nodes to 1.1?

[2015-10-26 19:58] cloudmode commented on #16244
Just tried same thing, only with manual setup:download Kubernetes release and extract the archive

OSX Yosemite
VirtualBox 5.0.8
Vagrant 1.7.4
Client Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.6", GitCommit:"388061f00f0d9e4d641f9ed4971c775e1654579d", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.6", GitCommit:"388061f00f0d9e4d641f9ed497

[2015-10-26 20:03] davidopp commented on #16268
+1 to @bgrant0607 's suggestion, I was just about to suggest the same thing.

[2015-10-26 20:07] tleyden commented on #16244
@cloudmode thanks, that's useful.  Looks like your client version is on v1.0.6 and mine is on v1.0.1.

[2015-10-26 20:12] saad-ali commented on #15978
Reopening until fix is cherry-picked to v1.1

[2015-10-26 20:16] dchen1107 commented on #15800
@samsabed has a pending pr #16253 for this.

[2015-10-26 20:22] brendandburns commented on #15917
This should now be fixed in GKE.  GCE + OSS users need to reboot their nodes.

We're also working on software fixes so that we see this in the future.

[2015-10-26 20:24] lavalamp commented on #15800
That won't fix it:

[code]

[2015-10-26 20:28] jonbaierCTP commented on #16293
Solved, endpoint needs port name specified like so:

    apiVersion: v1
    kind: Service
    metadata:
      name: custom-service
    spec:
      type: LoadBalancer
      ports:
      - name: http
        protocol: TCP
        port: 80

Example on documentation page just needs an update

[2015-10-26 20:37] brendandburns opened #16304 "Tests to detect dropped search domains"
In containers we add 3 new search domains to /etc/resolv.conf

If there are already 4 or more search domains in /etc/resolv.conf, one of those domains need to be dropped.

We should issue a Pod event when this happens, and log, and otherwise scream loudly.

We should also have an e2e test that detects if this happens.

[2015-10-26 20:37] saad-ali opened #16305 "keymutex map should do garbage collection"
GCE PD attach/detach logic uses the `pkg/util/keymutex/keymutex.go` package to keep track of which PD attach/detaches are in progress. The underlying map grows indefinitely as the kubelet encounters more and more unique PDs (until kubelet binary is restarted).

Although in practice this is unlikely to be an issue unless someone is attaching/detaching millions of unique PDs (which is unlikely since

[2015-10-26 20:40] brendandburns opened #16307 "e2e test for GCE "metadata" being resolvable"
We need to validate that we can resolve the "metadata" host on GCE/GKE (and possibly AWS?) from inside a container.

[2015-10-26 20:49] saad-ali opened #16308 "PD E2E Tests could leak PDs in some failure scenarios"
This is based on @ixdy's comment in PR https://github.com/kubernetes/kubernetes/issues/15382#issuecomment-147554697.

If a PD test fails and a PD is still attached to a node, the cleanup logic will fail because it simply tries to delete the disk, not detach it first.

Suggestion: PD cleanup should make sure that a PD is detached first, before trying to delete it. (Also it might be worth waiting un

[2015-10-26 20:50] thockin commented on #12194
I just tried this and it works for me.  Given the age of this, I am going to close it.  If you can repro against head or something near it, please please re-open.

[2015-10-26 20:50] #12194 closed

[2015-10-26 20:52] bgrant0607 commented on #15893
@RichieEscarez Is the drop-down version selector going to happen?

All the other changes appear to be fairly mechanical, and we could have PRs in place, ready to flip to v1.1.

[2015-10-26 21:01] lavalamp opened #16310 "Some paths through conversion call defaulting functions twice"
Not a correctness problem until you start doing unusual things with conversion/defaulting functions.

Compare:

https://github.com/kubernetes/kubernetes/blob/master/pkg/conversion/converter.go#L499

And:

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/conversion_generated.go#L4897

Mostly I think it's just confusing that both the converter and the auto-generated functions call def

[2015-10-26 21:15] bgrant0607 commented on #15893
Most page titles are broken. They are specified like this:
[code]
which either appears as `</strong>` in the browser tab title, or as the file name.

Only a handful are useful page descriptions:
[code]

I assume some munger mis-munged these?

[2015-10-26 21:21] quinton-hoole commented on #16188
/sub @quinton-hoole

[2015-10-26 21:24] thockin commented on #16079
That's what I meant, yeah

On Mon, Oct 26, 2015 at 12:25 PM, sethp-jive <notifications@github.com>
wrote:

[2015-10-26 21:25] #12588 closed

[2015-10-26 21:26] thockin commented on #16285
Ugh.  What changed is that we moved it off teh flaky list.  Perhaps wrongly
so.

On Mon, Oct 26, 2015 at 11:17 AM, Stephen Milner <notifications@github.com>
wrote:

[2015-10-26 21:30] bgrant0607 commented on #15893
Looks like #16170 added the bad titles. @krousey

[2015-10-26 21:34] krousey commented on #15893
This might be a side effect of populating those test pages from master instead of a release branch. I think the release mungers usually remove something before it gets to the gh-pages import tool.

[2015-10-26 21:43] yujuhong commented on #16310
FYI, I removed the defaulting in the converter in #16080.

[2015-10-26 22:08] paralin commented on #15805
Is this what causes my Kubelets to use a massive amount of memory?

[2015-10-26 22:22] caesarxuchao opened #16321 "Adding TypeMeta to top-level unversioned types"
Forked from the discussion in #16082.

Currently most top-level types in pkg/api/unversioned/ do not have TypeMeta, we made them so because we don't want the unversioned types to have an `APIVersion` field. However, it would be beneficial to let these types have the `Kind` field, (quoting @liggitt's https://github.com/kubernetes/kubernetes/pull/16082#issuecomment-151233217), because the `Kind` fie

[2015-10-26 22:23] ArtfulCoder commented on #16243
just try sudo docker exec -ti 048610bdd04f telnet ....

also, if you want to get to a shell, and bash is not present, try "sh"

[2015-10-26 22:25] liggitt commented on #16321
The ones that are top level response objects (Status) already have typemeta. Not all the types need them, only the top level ones.

[2015-10-26 22:27] dchen1107 commented on #15805
@paralin If you are running kubelet from HEAD, you might hit by this issue caused by misuse of new go-dockerclient library by cAdvisor. But if you are running 1.0 release, that should be a different issue.

[2015-10-26 22:29] liggitt commented on #16321
The API should not return untyped responses. Currently, the 1.1 branch is for APIVersion responses. We should add the kind to these asap to prevent clients from having to jump through hoops to handle these responses.

[2015-10-26 22:30] lavalamp commented on #15800
Another one:

[code]

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/10331/

[2015-10-26 22:30] paralin commented on #15805
@dchen1107 It's on Head. Odd.

[2015-10-26 22:42] lavalamp commented on #16119
I think we should require this testing be in place before we take any more changes to exec & friends, otherwise it won't get done...

[2015-10-26 22:43] lavalamp commented on #15726
We can take up the test issue in #16119.

I'm reopening until #15961 is cherrypicked. (we want to CP it, right?)

[2015-10-26 22:44] tleyden commented on #16243
I just tried it on the kube2sky container:

[code]

Also, tried spawning a new container and got the same result:

[code]

[2015-10-26 22:45] caesarxuchao commented on #16321
@liggitt thanks, I added the word "top-level" as appropriate. And you are right that Status already has TypeMeta.

[2015-10-26 22:48] yujuhong commented on #15805
@paralin: The fix #16127 (cadvisor version bump) should be merged soon.

[2015-10-26 22:51] lavalamp commented on #14076
Raising to P0

[code]

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/10332/

[2015-10-26 22:54] lavalamp commented on #14076
Log output, for convenience:

[code]

[2015-10-26 22:54] ncdc commented on #16119
@smarterclayton you mentioned you wanted this as an "integration" test. Do you have an inkling on how to put this together? If all the code in HEAD is the same, how do we mock a 1.0 kubelet?

[2015-10-26 22:56] ihmccreery commented on #15864
We run `versionize-docs` in the release branch when cutting a new official version, so these *should* all get corrected.

As part of #15483 I plan on running versionize-docs on beta releases as well.

[2015-10-26 22:57] dhawal55 commented on #14549
Vish, I tried enabling CGO but getting compilation error:
KUBE_BUILD_PLATFORMS=linux/amd64 CGO_ENABLED=1 make WHAT=cmd/kubelet

hack/build-go.sh cmd/kubelet
+++ [1026 15:57:04] Building go targets for linux/amd64:
    cmd/kubelet
# runtime/cgo
ld: unknown option: --build-id=none
clang: error: linker command failed with exit code 1 (use -v to see invocation)
!!! Error in /Users/xacj/go/src/github.c

[2015-10-26 22:57] ihmccreery commented on #15864
Run in [mark-new-version](https://github.com/kubernetes/kubernetes/blob/master/build/mark-new-version.sh#L99).

[2015-10-26 23:08] erictune opened #16326 "Logging Docs Dedup"
Merge docs/getting-started-guides/logging.md into other documents.
- We already tell the admin that logging is a cluster component in docs/admin/cluster-components.md
- We tell users how to access logs in docs/user-guide/logging.md
- We tell people who are setting up a cluster from scratch that they should setup logging in docs/getting-started-guides/scratch.md.
- We automatically start logging no

[2015-10-26 23:15] lavalamp commented on #16172
@crawshaw Why not just update the dec.Inf package dep?

Are you trying to use this package outside of Kubernetes?

You'll need to use the hack/test-go.sh script or `godep go test` to test the package.

IIRC, replacing inf.Dec with int64 is not OK for entire-cluster resource sizes, or we wouldn't have done it this way in the first place.

I am open to changes that improve it while not changing the

[2015-10-26 23:15] erictune commented on #16326
The content in
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/logging.md
is out of date since it does not even mention  https://cloud.google.com/logging/docs/, and should.

@MikeJeffrey is there any cloud.google.com documentation for logging which is specific to the GKE use case?

[2015-10-26 23:30] #16275 closed

[2015-10-26 23:33] caesarxuchao commented on #16093
@tiran, I think the patch is valid. I tried the patch on master with your testing image (thanks! it's very easy to use), the output of `kubectl logs contentlength` contains the correct content length.

I'm checking if there is any lurks in the TransferEncoding.

[2015-10-26 23:44] smarterclayton commented on #16119
I think we'd benefit from splitting the exec / attach / logs wrappers out
of Kubelet server into their own types.  We can then test the end to end
with the different backends.  Goal being to have test that covers the code
paths in Kubelet server to the client.  We can then emulate a legacy
server, and require new changes to work with that old server.  That'll also
help us test our tolerance to doc

[2015-10-26 23:49] liggitt commented on #16093
We need to test cases where the client uses transfer encoding of gzip, chunk, and none

[2015-10-26 23:54] thockin commented on #15893
Kris - are you on this?

On Mon, Oct 26, 2015 at 2:34 PM, krousey <notifications@github.com> wrote:

[2015-10-27 00:21] MikaelCluseau commented on #3760
@thockin have a better view than me, but I wouldn't use an annotation for this. I think security is orthogonal and should be put in a system aside, or maybe a network/proxy plugin. If you have Kubernetes, you have etcd, so you could simply store a rule set in a key and update etcdctl watch-exec:

[code]

[2015-10-27 00:21] saad-ali commented on #14642
While we work on a permanent fix, for folks running into this issue, here are a couple workarounds:

1. Do nothing, wait for the downed node to come back up.
  * Once the original node is rebooted and kubelet comes up on it, it will realize that the pod/volume are no longer scheduled on it and will detach the PD. Then the other node will then be able to attach it.
  * This assumes that the origina

[2015-10-27 00:29] janetkuo commented on #10836
Closing this since it's fixed by #13187

[2015-10-27 00:29] #10836 closed

[2015-10-27 00:31] waprin opened #16333 "BUG: Replication Controllers Break when Created With Already Used Template Config"
Created a replication controller.

Then I created another one, using the same "name" and "label" in the spec template metadata. kubectl did not prevent this or warn/error, but the newly created RC does not have its pods come up, and can't be deleted directly (kubectl hangs). In general, the cluster starts behaving badly and breaks.

Easily reproduced.

kubectl version
Client Version: version.Info{

[2015-10-27 00:31] janetkuo commented on #16239
Thanks for submitting this issue. It's a known issue (refer to #10836) and the output of `kubectl expose` has been changed by its fix. We'll update the tutorial.

[2015-10-27 00:35] krousey commented on #15893
@thockin Sorry I was just suggesting that that might be the case. If it is, then it's not a problem as we shouldn't never really release docs from the master branch. They should always come from a release branch, right?

[2015-10-27 00:39] thockin commented on #15893
If that is really the case, then I can buy it (though it would be nice to
a) prove it and b) be smarter :)

On Mon, Oct 26, 2015 at 5:36 PM, krousey <notifications@github.com> wrote:

[2015-10-27 00:45] krousey commented on #15893
a) I'm looking into it now to be sure
b) i'll file an issue if part a goes as expected

[2015-10-27 00:45] yujuhong commented on #16289
@yifan-gu, I don't have permission to view the artifact :\

[2015-10-27 00:45] krousey commented on #15893
Also worth noting that every file imported has this issue. The ones in @bgrant0607's list aren't imported.

[2015-10-27 00:53] krousey commented on #15893
a) confirmed. the `</strong>` comes from

[code]

in file. The -- fools the importer into thing that the first header is `</strong>` and should be the title. The import.sh script in gh-pages strips this after importing them. They're already stripped in the release branch, so it shouldn't be an issue.

I guess the fix would be to somehow change import.sh to strip the release information before impo

[2015-10-27 00:53] yujuhong commented on #16296
@huang195, kubelet relies on cadvisor for machine and container information, and it cannot be turned off as of now. If you are willing to compile kubelet yourself, you can potentially create a [mock](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_fake.go) to stub out cadvisor. Note that you'll have to supply valid fake data too (e.g., https://github.com/kubernet

[2015-10-27 00:55] krousey opened #16334 "gh-pages importer gets wrong title when importing from master"
Our markdown files have

[code]

that is stripped out in release branches. When importing from master, this is still there and -- fools the importer into thing that the first header is `</strong>` and should be the title. The import.sh script in gh-pages strips this after importing them.

This may not be a major issue as we shouldn't really import docs from master.

[2015-10-27 01:06] bprashanth opened #16337 "Cluster shutdown "events""
I'd like to delete certain external resources (loadbalancers) only when the cluster is being torn down. Not when the user deletes the pod, or the scheduler preempts it. Currently scripts like kube-down aren't kubernetes aware, they just start nuking cluster resources using gcloud, meaning the following happens:

[code]

Having at least the following guarantees when there's a pending shutdown will

[2015-10-27 01:07] vishh commented on #16296
`--cadvisor-port=0` should disable cadvisor from exposing its REST APIs.

On Mon, Oct 26, 2015 at 5:53 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-10-27 01:09] samsabed commented on #15800
@dchen1107 , @lavalamp
yes, which PR is the above from so I can see the entire log, in the mean time #16339 removes the test, it was always going to be tricky to do timing tests. apologies for the disruption.

#16339 superseeds #16253

[2015-10-27 01:12] GuoHui89757 commented on #16243
@tleyden
The file path is kubernetes/cluster/addons/dns/skydns-rc.yaml.in
@@ -48,8 +48,12 @@ spec:
         args:
         # command = "/kube2sky"
         - -domain={{ pillar['dns_domain'] }}
+        - -kube_master_url=http://192.168.129.111:8080
+        - -etcd-server=http://127.0.0.1:4001
+        - -logtostderr
+        - -v=4
"http://192.168.129.111:8080" is my k8s master addr.

[2015-10-27 01:12] thesandlord commented on #16333
Additional Info:

The new rc behaves very strangely. It creates successfully, but it can't create pods. If you try to scale it, kubectl hangs but the rc reports that it has that many replicas running (which is not true). If you try to delete it, it scales to zero but just hangs and does not delete.

We were able to workaround by doing a ```kubectl delete rc --all``` to wipe the system and then rec

[2015-10-27 01:14] timstclair commented on #14076
This is (sort of) a legitimate failure, not a fault of the test infrastructure. The issue is that we use a `time.After(10s)` in a loop to sync pod status after 10 seconds IF AND ONLY IF no other pod syncs (add, update, delete, etc.) have occurred in that time. When the tests run in parallel and hit just right, other pod changes keep resetting that 10 second timer so the pod sync never occurs. Insi

[2015-10-27 01:38] xfye commented on #15937
@jlowdermilk Thanks. It is resolved by adding the following line into /etc/hosts
[code]

[2015-10-27 01:38] #15937 closed

[2015-10-27 01:47] resouer commented on #13424
@luxas you can follow the progress of #13901, I guess ...

[2015-10-27 01:48] roboll commented on #11543
@dhawal55 last I checked, even with custom dhcp options, amazon metadata service _does not_ change the `private-hostname` attribute. the default private hostname isn't used on the box, but is still resolvable via amazon dns. using custom dhcp options, amazon dns _does not_ resolve the custom hostname either, so it's up to you to use a private hosted route53 zone or your own dns.

aside from all th

[2015-10-27 02:28] bgrant0607 commented on #15893
Why can't we just import from the release branch, as intended?

[2015-10-27 03:11] lavalamp commented on #16321
@bgrant0607

@caesarxuchao if we do this, we want the apiVersion field to be absent, I think (instead of present and set to "", for example).

@liggitt The whole point of at least some of these types is that they will remain constant across versions, so that old clients & new clients will both work against old and new servers. So I guess I'm not convinced this is really urgent.

[2015-10-27 03:13] dalanlan commented on #16333
/sub

[2015-10-27 03:16] mikedanese commented on #16333
This is expected behavior and we consider the case of overlapping controllers user error. The first created rc takes precedence. You can delete the second RC by running `kubectl delete rc --cascade=false test2`. What did you expect to happen?

cc @bprashanth @davidopp

[2015-10-27 03:16] liqinghua188 commented on #16243
@GuoHui89757

i am very sorry to tell you my dns still can not work correctly. the skydns logs :

	kubernetes-master@kubernetes-master:~$ kubectl logs -f kube-dns-v9-mwrc1 -c skydns --namespace=kube-system
	2015/10/14 08:29:10 skydns: falling back to default configuration, could not read from etcd: 100: Key not found (/skydns) [1]
	2015/10/14 08:29:10 skydns: ready for queries on cluster.local. fo

[2015-10-27 03:17] lavalamp commented on #13306
@smarterclayton Sorry I missed your response.

I think eventually this clearly has to go in object meta. But object meta is hard to change later, and I don't know that we know how exactly we want to refer to users. I think in this case having an annotation first is probably the way to go. When we know it's right, we can move it to object meta. That has its own pitfalls, though.

[2015-10-27 03:19] caesarxuchao commented on #16321
One thing that may be annoying is the jsonCodec may have to stay there forever if we don't make the discovery API typed in v1.1. On the other hand, APIVersions is not typed in v1 release, so we need special handling for that anyway.

[2015-10-27 03:20] liggitt commented on #16321
/apis isn't in a released version yet, right (1.1 will be the first)? If so, it would make the discovery process far cleaner if we could actually use normal client/codec paths to decode that response. `/api` has to handle untyped responses for compatibility with 1.0, but given that foreseeable future versions will be building under /apis, don't we want to shape it like we want it from the beginnin

[2015-10-27 03:24] mikedanese commented on #16333
Also see #2210, specifically https://github.com/kubernetes/kubernetes/issues/2210#issuecomment-135588169

[2015-10-27 03:26] GuoHui89757 commented on #16243
@liqinghua188
E1014 08:46:53.648723       1 reflector.go:136] Failed to list *api.Service: Get http://10.10.103.250:8080/api/v1/services: dial tcp 10.10.103.250:8080: connection refused
E1014 08:46:53.668124       1 reflector.go:136] Failed to list *api.Endpoints: Get http://10.10.103.250:8080/api/v1/endpoints: dial tcp 10.10.103.250:8080: connection refused

Please check kube-apiserver is running

[2015-10-27 03:26] lavalamp commented on #16134
The (very) hard but correct fix is to make our cache write-through, which
is the eventual desired state.

The easier fix is to just the last resource version at which you changed a
thing, and not re-evaluate it until that changes. (sleep & re-enqueue if it
hasn't changed)

Maybe the easiest thing to do is just sleep for a while after making a
change before marking the item done.

On Mon, Oct 26, 2

[2015-10-27 03:34] lavalamp commented on #15800
@samsabed here's the relevant logs:

[code]

[2015-10-27 03:40] lavalamp commented on #16177
@deads2k @smarterclayton There is now a discovery client. I can't promise
it's final, but is there more that you need for point #1?

(my canonical example has been namespace controller until now, so now I
have two canonical examples.)

On Fri, Oct 23, 2015 at 4:41 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-27 03:59] lavalamp commented on #16093
Actually we need to test the cross-product of all those encodings @liggitt
mentioned on the client x same on the downstream server-- it had problems
with this at one point.

On Mon, Oct 26, 2015 at 4:49 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-27 04:03] liggitt commented on #16093
mentioned on the client x same on the downstream server-- it had problems
with this at one point.

+1. If possible, automated tests for those combinations would be best before we do clever things here. It's too easy to break scenarios like that without realizing.

[2015-10-27 04:43] caesarxuchao commented on #16093
@lavalamp, Is it this line you are talking about? https://golang.org/src/net/http/transport.go?#L1143

[2015-10-27 04:47] dhawal55 commented on #11543
@roboll Yes, using instanceId is the ideal solution. I was looking for a workaround but it didn't work. It seems like a small change but i was running into issues cross-compiling for linux on a mac. Compilation succeeds but when i run the kubelet binary, i get error: "failed to create kubelet: cAdvisor is unsupported in this build"

[2015-10-27 05:03] thockin commented on #16337
@bgrant0607 @brendandburns @smarterclayton

On Mon, Oct 26, 2015 at 6:06 PM, Prashanth B <notifications@github.com>
wrote:

[2015-10-27 05:15] bgrant0607 commented on #15624
I agree with @erictune that severity would be perceived differently by the cluster administrator and the user.

[2015-10-27 06:03] thockin commented on #3760
I think you want #14505

On Mon, Oct 26, 2015 at 8:53 AM, Ben Hundley <notifications@github.com>
wrote:

[2015-10-27 06:19] FestivalBobcats commented on #3760
That was the initial approach, with security groups attached to load balancers. I just hit the limit for listeners per network interface pretty fast on AWS, and ran into some hairy logic trying to spread firewall rules across multiple SGs and multiple ELBs for a single kube cluster.

Fortunately we're on to a better solution that doesn't involve screwing around with iptables.

[2015-10-27 06:25] thockin commented on #16244
If you can't ping from within the container, I bet the VM itself does not
have proper ip-masquerades set up.

Run `iptables-save` on the VM ?

or if you want to go big, run `iptables -t nat -A POSTROUTING -j
MASQUERADE` and try it again

On Mon, Oct 26, 2015 at 1:07 PM, Traun Leyden <notifications@github.com>
wrote:

[2015-10-27 06:26] davidopp commented on #15806
The test mentioned in the first entry in this thread is still failing but not due to the error message related to this issue. Since the cherrypick has been merged, can we close this issue, and followup with additional debugging in #13602?

[2015-10-27 06:27] bgrant0607 commented on #15624
We do need to do something to help users distinguish signal from noise.

These levels of severity are common in logging systems, such as glog. However, in my experience, severity levels defined at the origin of the signal produce an arms race and require constant vigilance in order to fight log/event spam and to maintain the desired signal to noise ratio. Frequently triggering events need to eithe

[2015-10-27 06:27] davidopp commented on #15123
We closed #15895 so I'm going to close this one. If this turns out to have been caused by something else ,we can reopen.

[2015-10-27 06:27] #15123 closed

[2015-10-27 06:29] davidopp commented on #14500
I guess we need a cherrypick for #16234 and then we can close this issue?

[2015-10-27 06:30] liqinghua188 commented on #16243
@GuoHui89757

yes , there are some errors in kube-apiServer logs :

	E1014 16:38:31.706002    7456 reflector.go:183] watch of *api.ResourceQuota ended with: EOF
	E1014 16:38:31.710670    7456 reflector.go:183] watch of *api.Secret ended with: EOF
	E1014 16:38:31.712201    7456 reflector.go:183] watch of *api.LimitRange ended with: EOF
	E1014 16:38:31.713032    7456 reflector.go:183] watch of *api.

[2015-10-27 06:31] bgrant0607 commented on #15624
I'll also point out the similarity to phase vs. conditions: #7856.

[2015-10-27 06:40] bgrant0607 commented on #16337
Related #4630

cc @davidopp @fgrzadkowski @roberthbailey @zmerlynn

[2015-10-27 06:42] bgrant0607 commented on #16337
It's the pod (LB plugin?) that creates the forwarding rule?

[2015-10-27 06:48] jlowdermilk commented on #15243
Unassigning, as I'm not actively working on this now.

[2015-10-27 07:17] dalanlan commented on #16293
The doc is kinda out of date, indeed. Yet i cannot reproduce your issue.
Following manifest works fine for me. I cannot really see the necessity of `port name specification`. Am i missing anything?
[code]

[code]

[2015-10-27 07:39] resouer commented on #15634
What pkg name should we give to [backoff](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/backoff.go#L30) ?

p.s. now the caller is like `imageBackOff := util.NewBackOff(resyncInterval, MaxContainerBackOff)`

[2015-10-27 07:53] resouer commented on #15634
Actually, most of the files shares this problem, for example:
[code]
If we refactor it to `package boolflag`, the caller will do `bootflag.Boolflag`. It's so wired.

How to give them a proper package name in these cases? @thockin

[2015-10-27 07:54] luxas commented on #13424
Thanks for the link. Do anyone know why serviceAccounts doesn't work by default when apiserver is run in a pod?

[2015-10-27 08:00] ltagliamonte commented on #16280
@vishh on the 1st of August @mikedanese merged the PR and on the 11th of September there was the stable release 1.0.6 that i'm running, but as I wrote it seems not fixed.

[2015-10-27 08:08] davidopp commented on #12041
@madhusudancs I almost forgot about this one. You can do it in a seprate PR after the one you are working on. I think the simplest thing to do is to add some trivial rule like Kubelet will only transition OOD in NodeStatus from true to false if kl.isOutOfDisk() has been returning false for, say, 5 minutes.

@lavalamp what do you think?

[2015-10-27 08:08] wojtek-t commented on #16310
There was some reason why I added defaulting functions to auto-generated stuff, but to be honest I can't remember why (but I think it didn't work without them).

[2015-10-27 08:08] dalanlan commented on #13424
Some param of apiserver should be properly set to enable SA, `--service-account-key-file` or `--tls-private-key-file` for instance.
Yet you'd better turn to stackoverflow for this.

[2015-10-27 08:12] resouer commented on #13424
@luxas api-server in pod load a [master-multi.json](https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/master-multi.json) from hyperkube image, which, is not service-account configured by default.

That's why in #13901 we proposed a way to load user provided master-multi.json, so you can configure that freely. See: [this doc](https://github.com/kubernetes/kubernetes/pull

[2015-10-27 08:20] WIZARD-CXY commented on #13424
hmm，good point

May the force be with you

[2015-10-27 09:36] #15664 closed

[2015-10-27 10:05] mdshuai opened #16352 "[storage_public_178]No validation info when create pod with invalid Supplemental Groups and FSGroup"
[code]

[2015-10-27 10:16] gmarek commented on #15800
And again:
[code]

[2015-10-27 10:20] Pensu commented on #16252
@yujuhong Oh, okay, that makes sense. Thank a lot, will close the issue.

[2015-10-27 10:20] #16252 closed

[2015-10-27 10:22] Pensu commented on #16252
Though it would be nice to have kubelet print better messages or logs in these cases.

[2015-10-27 10:25] jszczepkowski commented on #15052
The same problem occurred on GCE. Suit kubernetes-e2e-gce failed due to it:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9143/

[2015-10-27 10:26] Pensu opened #16353 "kubelet not able to update status"
Hi all,

I am trying to run kubernetes cluster with docker. I am building everything from scratch. I built kubernetes and then ran the services one by one. Now, when I run kubelet, it runs properly, I am able to spawn a pod, it goes into running state, but after some time, kubelet dies and pod goes into pending state. I get this from kubelet logs:

[code]

Now, in this case I restart kubelet and e

[2015-10-27 10:33] jszczepkowski commented on #14737
Closing as #16275 is resolved.

[2015-10-27 10:46] mdshuai commented on #16352
@pmorie

[2015-10-27 10:50] mreferre opened #16355 "Failed Units: 2 (docker.service weave-create-bridge.service)"
This issue is related to this provisioning workflow: https://github.com/kubernetes/kubernetes/tree/master/docs/getting-started-guides/coreos/azure

The provisioning works fine but as soon as I login into the kube nodes (e.g. "ssh -F  ./output/kube_7d10e66148c601_ssh_conf kube-00") I constantly see this message:

CoreOS stable (647.2.0)
Update Strategy: No Reboots
Failed Units: 2
  docker.service

[2015-10-27 11:44] deads2k commented on #16177
Yes.  The current implementation doesn't allow for composing API groups from different sources.  If I'm hosting my resources in another location and I want one of my resources to be auto-scaled, I can't do it because the HPA controller (more precisely the contained client) has no way to determine where to submit the request.

[2015-10-27 11:53] willmore opened #16357 "Kubelet container bridge creates iptable NAT masq rule with hardcoded IP range"
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container_bridge.go#L122-L143
container_bridge.go assumes that the virtual IP of services & pods will be in the `10.` space.
I propose there is no reason to make this assumption.

As outlined in #15932, cluster admins may need to deploy to hosts in which `10.` is reserved for the nodes. In such a case, Kubelets must support an altern

[2015-10-27 11:54] willmore commented on #15932
Closing this issue as we have a healthy cluster working, albeit it with hacking `container_bridge.go` to use an alternative masq.
I've filed #16357 for a proper fix.

[2015-10-27 11:54] #15932 closed

[2015-10-27 12:34] jszczepkowski commented on #15382
This test is still flaky:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/9144/

[2015-10-27 12:36] jszczepkowski commented on #15382
Another occurrence:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/9175/

[2015-10-27 13:14] peterbourgon opened #16361 "pkg/api doesn't compile with latest ugorji/go/codec"
[code]

What I expected to happen: the package is fetched, compiled, and made available for use.

What actually happened:

[code]

type.generated.go needs to be regenerated with the latest codec.

It is insufficient to say this is handled by Godeps, as third-party packages directly `import "k8s.io/kumernetes/pkg/api"`, and you don't rewrite your import paths.

[2015-10-27 13:20] brandoncole commented on #16361
Our team is also affected by this.  We're implementing a workaround for the time being, of pinning github.com/ugorji/go/codec to 8a2a3a8c488c3ebd98f422a965260278267a0551.

[2015-10-27 13:23] ashcrow commented on #16285
Ah, I see. 6600fbcf7d428af07ac26f044c894dae5791c928 removed a number of e2e service items from ```FLAKY``` variables. Relevant here:
[code]

[2015-10-27 13:24] markturansky commented on #16022
HostPath is not in any way supported in production as a Persistent Volume.  It was created for development and testing only.  There is no local storage in Kube at this time that is supported.

[2015-10-27 13:39] aveshagarwal commented on #15624
@bgrant0607 Thanks, your proposal sounds good to me.

[2015-10-27 14:07] vyshane commented on #11902
Can we have a push for `gcr.io/google_containers/hyperkube:v1.0.7`?

[2015-10-27 14:13] jcderr opened #16365 "kubectl logs should permit number of lines to be specified"
Tools like `tail` allow one to pass `-n N` to specify that only the last N log lines should be displayed. kubectl logs should support this.

My use case is that I have a very, very long running batch process that has output 10s of millions of lines of logs, but I'm only interested in the last few hundred at any one point in time. However, when I run `kubectl logs ...`, my terminal must spew the fu

[2015-10-27 14:24] bgrant0607 commented on #16337
Ideally there would be some Kubernetes resources that represented the underlying infrastructure resources, such that deleting the former would cause the latter to be deleted.

[2015-10-27 14:25] bgrant0607 commented on #16337
See also #13515

[2015-10-27 14:34] cloudmode commented on #16244
Is this related to #16225? Because the port never shows up on the SRV request.

[2015-10-27 14:35] asim commented on #16361
Agree with Peter here. Facing same issue building kubernetes/contrib/service-loadbalancer and myodc/go-micro. I'm a believe in master always building especially when others can utilise this code.

[2015-10-27 14:37] piosz commented on #16268
SGTM, closing the issue

[2015-10-27 14:37] #16268 closed

[2015-10-27 14:41] ddysher opened #16367 "Pods keeps in ContainerCreating status due to volume mount error"
We've seen some API unavailability issues on our cloudprovider, which results in kubelet unable to post node status, as it tries to get node address from cloudprovider.  The outage went about 20min: enough for nodecontroller to mark node as not ready and evit all pods.

When kubelet sees pod deletion, it starts tearing down volume, the way I see how it works in current volume plugins is:
1. check

[2015-10-27 14:43] huang195 commented on #16296
@yujuhong thanks, that's what I was afraid of to be the only way to achieve this :)
@vishh I'm looking to disable cadvisor from running as opposed to disabling its REST APIs.

The reason I want to disable cadvisor is that cadvisor seems to take a lot of cpu within the kubelet process when running say 100 pods on a node, with each pod having nothing more than 2 pause containers (1 is the infrastruc

[2015-10-27 14:49] huang195 commented on #16296
One other thing to worth noting is with a 100 pods per node, kubernetes seems to be very unstable with its persistent state. After creating 100 pods, I tried to delete them, and some were removed when I ran `kubectl get pods`, but a lot of them just get stuck in Terminating state forever.

Kubelet's log showed the following error message:
kubelet.go:1761] Failed to cleanup terminated pods: not all

[2015-10-27 14:50] wojtek-t commented on #15382
It seems to be a different problem this time - it seems to be my fault this time.
Hopefully this should be fixed by #16369

[2015-10-27 14:50] yujuhong commented on #16296
@huang195, FYI, we are working on scaling #pods on the node by improving kubelet and docker cpu usage (#12540).

There is a known cadvisor goroutine leak in kubernetes HEAD, the fix is already in cadvisor and we are updating our godeps to include the new cadvisor (#15805). It's quite likely that your cluster also has this leak if it's from a few days ago.

[2015-10-27 14:51] huang195 commented on #16296
@yujuhong that's great to hear! Will track these issues and pull them when they're merged.

[2015-10-27 14:54] ntquyen commented on #16022
The problem of using HostPath is that "There is no guarantee your pod ends up on the correct node where the HostPath resides." according to this docs https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/persistent-volumes
However, I think I can use `label` on specific node to make sure of that, isn't that right?

[2015-10-27 14:58] huang195 commented on #16296
@yujuhong I saw the other issue you pointed to earlier, and it seems this cadvisor behavior was only introduced recently. Instead of waiting things to be merged in the head, is there an older release that is free of this problem? release-1.0 or release-1.1? Thanks!

[2015-10-27 15:01] yujuhong commented on #16296
I suspect this is due to the low QPS limit of apiserver client in kubelet. In order not to overwhelm the apiserver, the QPS is set to a conservative value (5.0) for now. If you have many apiserver requests and the sending rate is too low, the channel might be full and starts dropping requests. Eventually all the requests will be resent, but it may take a long while for them to complete. We are pla

[2015-10-27 15:02] yujuhong commented on #16296
Yes, both release-1.0 and 1.1 do not have this problem.

[2015-10-27 15:04] theo01 commented on #16361
Faced the same issue here.

Pinning github.com/ugorji/go/codec to 8a2a3a8c488c3ebd98f422a965260278267a0551 mentioned by @brandoncole work as a quick solution.

[2015-10-27 15:07] huang195 commented on #16296
@yujuhong thanks. I will try 1.1 out first and report back if there's any problem.

[2015-10-27 15:08] jsafrane commented on #15073
@antoineco, can you please confirm that your bugs is the same as I can reproduce? Or do you see different bug, only with similar symptoms?

[2015-10-27 15:13] krousey commented on #15893
Richie specifically requested a pull from master to test something. I guess
something the release branch doesn't have.
On Oct 26, 2015 7:28 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-10-27 15:17] markturansky commented on #15524
@kubernetes/rh-storage

[2015-10-27 15:21] erictune opened #16371 "Update DNS documentation"
In file: docs/admin/dns.md

Reword to say that it is required not optional.

Remove text about issues which are resolved at head.

Mention new record types, if any.

Consider whether user-guide is a better place for this content.

[2015-10-27 15:22] antoineco commented on #15073
It is

[2015-10-27 15:24] markturansky commented on #16022
Couple of things...

1. Are you using a ReplicationController for your pods?  That explains why each has the same PV.
2. NodeSelectors on pods can probably work for approximately local storage using HostPath PV, but that turns your nodes into pets instead of treating them (and the pods) like cattle.

The intent of HostPath as a PV was development and testing only.  So, while what you are doing may

[2015-10-27 15:36] erictune commented on #15583
fixed by #15899

[2015-10-27 15:36] #15583 closed

[2015-10-27 15:43] tleyden commented on #16244
@cloudmode I just tried it using the binary release instead as you suggested, and couldn't reproduce the problem!

I'll go back and try the original steps and try to reproduce with those again, which I think I can because I tried it twice and got the same result each time.

[2015-10-27 15:43] yujuhong commented on #14076
Thanks for digging! Option 2 seems fine. The fix was actually included in my larger PR, which was sitting in the queue for a long time. Let's fix this first since it's a relatively small change.

[2015-10-27 15:45] ncdc opened #16373 "Exec/attach should create all streams before copying data"
We create the stdin stream and immediately start copying local stdin to the container. We do the same for stdout and stderr (create stream, start copying immediately). In the kubelet, we wait to receive all the streams before we start the exec and copy between the streams and the container.

The spdy connection frame handling code has 5 frame workers, each with a queue of up to 50 frames. In the e

[2015-10-27 15:45] ncdc commented on #16373
FYI @lavalamp @liggitt @smarterclayton @csrwng @kubernetes/rh-cluster-infra

[2015-10-27 15:46] rootfs commented on #15524
+1 the proposed solution.

More broadly, since the proposed controller essentially determines volume affinity,  we should not just limit ourselves to detachment/attachment. Other policies are also manageable by this controller. For example, since networking storage consume the same underlying network fabric, it is ideal for the volume affinity controller to spread out Pods to different hosts/subne

[2015-10-27 15:51] smarterclayton commented on #16373
This seems pretty high priority.

[2015-10-27 15:53] ncdc commented on #16373
It's an easy fix. @csrwng has already tested the patch for OpenShift and it works. Are we willing to pull it in before #16119 is resolved, as that will take longer to put in place?

[2015-10-27 15:54] ncdc commented on #16373
Here's the patch, for reference: https://gist.github.com/ncdc/c48645fff8c651ad08d0

[2015-10-27 15:59] jonbaierCTP commented on #16293
Is it possible that it's a version issue? I am using 1.0 and not 1.1.

I also was using YAML for the most part. Although I did recreate the endpoint with JSON as a test once and still had the issue.

[2015-10-27 16:00] jiangyaoguo opened #16374 "make a centralized event manager in kubelet"
-  Make a centralized event Reason declaration, just as @vishh suggested in #15464. This will be helpful to #14111 and can provide more details about Reason define.
-  Use method like EventManager.Event to replace record.Event in kubelet, which actually calls  record.Event with some hook function, like reason field validation(CamelCase), hide infra container event.
-  Add some component level even

[2015-10-27 16:00] quinton-hoole commented on #11902
Yes, my apologies for this having dragged on. @ihmccreery can you push this as part of the 1.0.7 release please?

[2015-10-27 16:05] mettjus commented on #12273
+1

[2015-10-27 16:06] four43 commented on #12273
Just ran into this issue still on 1.0.7 "production"

[2015-10-27 16:08] ihmccreery commented on #11751
Agreed @philik.  I'm reopening this to be part of our release process, which it currently is not.

[2015-10-27 16:17] huang195 commented on #16296
@yujuhong You're right on both accounts. I switched from head to release-1.1. By putting a `sleep 1` in between `kubectl delete pod`, I no longer need to manually clean up data in etcd, so it most likely have been the QPS parameter being set too low.

However, I'm still having a problem with the cadvisor taking so much cpu. After `pprof`, I see cadvisor is still taking 33% cpu time in the kubelet

[2015-10-27 16:29] fgrzadkowski commented on #13424
@luxas @resouer Actually it's not about the configuration, but it's because secrets doesn't work in the released version of hyperkube. I have fixed at HEAD, but didn't have time to release it.

[2015-10-27 16:45] bprashanth commented on #16337
My example was with a HEAD kube cluster, so it's the service controller (that runs as part of kube-controller-manager) that creates the forwarding rule for service Type=LoadBalancer, not the L7 LB plugin pod.

[2015-10-27 16:46] bgrant0607 commented on #15624
Update: I suggest `Warning` rather than `Warn` (noun vs. verb).

[2015-10-27 16:51] yujuhong commented on #16296
Could you post the cpu profile graph here? Thanks!

[2015-10-27 16:52] lavalamp opened #16376 "VersionedParams & API Groups"
Right now, we have the concept packing api query parameters into a struct, converting that to the versioned (serialized wire) format struct, then packing that into URL query parameters. This needs some slight adjustment for API groups.

Options:
1. Change nothing; every group needs its own e.g. ListOptions struct in the internal and external versions.
2. Move common options (e.g. ListOptions) to u

[2015-10-27 16:53] zmerlynn commented on #16337
Yes, GKE still really wants this. It's a pretty big wart.

[2015-10-27 16:53] bprashanth commented on #16337
Just receiving a delete is insufficient, I need to differentiate that SIGTERM from a preemption in the case of a pod controller. A new field as suggested in some of the other issues might help, because I can use the grace period to check it in the apiserver.

[2015-10-27 16:54] RichieEscarez commented on #15893
In chatting with caesarxuchao, we found that the alpha/beta extensions (new features for v1.1) are not in the release branch so we decided to import from master. Im not sure what the work around should be to pick up all the late incoming v1.1 docs (can those be pushed back into the v1.1 release?)?

The version selector button is in progress, will open the PR today along with a "flip the switch to

[2015-10-27 16:55] bprashanth commented on #16337
Another possible solution would be to map the "Steps" in the simple cluster setup proposal (https://docs.google.com/document/d/1v68yStV2O6aHuRuT3AlWnbe6vkUCtzyC5I7Elhgik3o/edit?ts=561ee618) to runlevels persisted through the apiserver, and add a shutdown level just like init systems, hence the title.

[2015-10-27 16:57] thockin commented on #16337
Naively, deleting the Ingress object should trigger the controller Pod to
clean up the backend resources.  But that requires some heuristic like
"pods are deleted last" and even then it has to be across namespaces.

On Tue, Oct 27, 2015 at 9:53 AM, Prashanth B <notifications@github.com>
wrote:

[2015-10-27 16:57] ihmccreery commented on #11902
Should be good to go!  Reopening #11751 to make this part of our release process.

[2015-10-27 16:57] #11902 closed

[2015-10-27 16:57] RichieEscarez commented on #15893
The following files are in gh-pages only (they have no use in master and act as landing pages that dynamically pull in and display the TOC from the nav menu) which is why the munger doesnt touch them:

[code]