[2020-10-26 10:24] dims commented on #95859
It's not ok. But you can try to convince :)

[2020-10-26 10:27] dims commented on #95846
@arash-bizcover please work with folks doing this KEP https://github.com/kubernetes/enhancements/pull/1996

[2020-10-26 11:15] liggitt commented on #95819
kubectl uses information from the rest api. What is the full node object (fetched with `get node -o yaml`)

[2020-10-26 11:24] chymy commented on #95819
`rest api` result: Unknow
`kubectl get no` result: NotReady

[2020-10-26 11:28] #94305 closed

[2020-10-26 12:04] saadlu commented on #81089
Having a similar problem when using MongoDB Replica set.

To secure communication between the replicas, we can use keyFile

https://docs.mongodb.com/manual/tutorial/enforce-keyfile-access-control-in-existing-replica-set/

but this keyFile need to be owned by the mongo user *and* not have any group or world permission.

Mounting the key file from a secret is not an option as the owner is set to roo

[2020-10-26 12:17] kvaps commented on #90593
/remove-lifecycle stale
this problem still present

[2020-10-26 12:26] mkorbi commented on #82296
I think than we can move it to 1.21?

[2020-10-26 12:28] lentzi90 commented on #63371
Does setting `startingDeadlineSeconds` mitigate this issue ([docs](https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#starting-deadline))? I.e. if the starting deadline is tight enough...

For example, I would normally set the `startingDeadlineSeconds` to something like a few minutes since I don't want my CronJobs to run at some random time later if they fail to start. In this ca

[2020-10-26 12:34] audunsolemdal commented on #89672
This issue has now reappeared for me

AKS 1.19.0

Authentication works, but it spams frequently.

[code]

[2020-10-26 12:50] neolit123 commented on #82532
Moving to .21
/milestone v1.21

[2020-10-26 12:56] dims commented on #93621
very cool @cwsolee !

[2020-10-26 13:06] k82cn commented on #95859
maybe not; IMO, it's not ready on stability & performance.

[2020-10-26 13:06] k82cn commented on #95859
Aha, ok, I'll start with a KEP for that.

[2020-10-26 13:16] liggitt commented on #95752
That is no longer planned.

Additional conditions can be added to pods, so that is not a problem. However, I would caution against using conditions as the system of record for pod states in such a way that they could not be recreated from scratch. Conditions are intended to reflect observations of the system.

From https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architec

[2020-10-26 13:18] liggitt commented on #65200
Yes, work on this is in progress for 1.20

[2020-10-26 13:47] dprotaso commented on #92615
/remove-lifecycle stale

[2020-10-26 14:07] neolit123 commented on #95862
this feels like the responsibility of higher level infrastructure (that manages the nodes) than the core components such as the kubelet.

[2020-10-26 14:11] neolit123 commented on #95846
/remove-sig architecture
/sig apps

[2020-10-26 14:12] segevfiner commented on #95712
Plain Docker supports this via [`--network-alias`](https://docs.docker.com/engine/reference/run/#network-settings) or [`aliases`](https://docs.docker.com/compose/compose-file/compose-file-v2/#aliases) in `docker-compose`. It simply allows dotted names there.

[2020-10-26 14:21] jekakm commented on #63371
I'm also having this issue on 1.18.9.
I just change schedule from 9 UTC to to 10 UTC at 10:50 UTC and gets job execution, that caused some mess in my application. I think this should not happens by default.

[2020-10-26 14:26] aistein commented on #94892
@kspviswa @yehiyam please accept my apologies for the unacceptable delay.   You may assume work on this.

/unassign

[2020-10-26 14:29] alculquicondor commented on #89312
There is not much point on adding PV/PVC simulation capabilities to scheduler/cluster-autoscaler if it's not going to be useful for capacity tracking.

However, I agree in that simulating PVCs might not be useful at all, as opposed to PVs.

In any case, we need to collaborate in the next version of the kep.

Rephrasing title to remove implementation details

/retitle Provide simulation endpoints f

[2020-10-26 14:32] yehiyam commented on #94892
/assign

[2020-10-26 14:38] verb commented on #53188
Hi @mradmila,

That's correct, there is currently no way to set CAP_SYS_PTRACE. We're hoping to add the ability to configure capabilities for Ephemeral Containers in the 1.21 cycle and take the feature to beta.

[2020-10-26 15:34] liggitt commented on #93699
no, it is not

/milestone clear

[2020-10-26 15:36] jsafrane commented on #95497
For the record, in a local-up-cluster + mock driver, I was able to get ~5 PVs/s.  With bumped in kube-controller-manager `--kube-api-qps` and `--kube-api-burst` to very high values, I was able to get ~200 PVs/s. I did not see any conflicts updating PVs/PVCs.

So yes, it's about PV controller throttling. Not sure who can approve such a change.

[2020-10-26 15:56] cmluciano commented on #72236
/remove-lifecycle stale
/assign @cmluciano

[2020-10-26 16:03] ali-raza-tariq commented on #95860
Hi @hanlins, thank you for the quick response. I did try Calico which improved the performance a little (was able to hit 6GBits/s) but was again unable to saturate the link. Also, while I was looking into this issue I found a related benchmark article that showed how these CNI are capable to saturating the 10GBit/s link (https://itnext.io/benchmark-results-of-kubernetes-network-plugins-cni-over-10

[2020-10-26 16:07] wojtek-t opened #95875 "timeBudget shouldn't depend on the real clock"
Instead of relying on the clock:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/time_budget.go#L60

 we should do something similar to the golang rate-limitter is doing:
https://github.com/kubernetes/kubernetes/blob/master/vendor/golang.org/x/time/rate/rate.go#L306-L331

[2020-10-26 16:08] wojtek-t commented on #95875
/sig api-machinery
/priority important-longterm

[2020-10-26 16:18] Crayeth commented on #93476
this. I don't want to have to run two copies of everything just so KureD can do its thing that is mighty expensive. I understand that in case of unplanned disruption my single instance will still go down but that is within my acceptable risk and a tradeoff im willing to make. But planned disruptions should not make it go down, or, prevent KureD from doing node reboots (because it would violate the

[2020-10-26 16:24] hanlins commented on #95860
Hi @ali-raza-tariq , thanks for the feedback! From this [doc](https://github.com/coreos/flannel/blob/master/Documentation/running.md#running-manually) seems flannel's MTU is 1450 within container, can you do the same thing and report the MTU in your setup? Also please share the MTU of the interface on your bare metal machine, that would be helpful. Also you can try tune MTU according to [flannel d

[2020-10-26 16:38] MonzElmasry commented on #95279
Hey :wave: Bug Triage here. Wanted to follow up on the status of this issue as we're approaching code freeze on 12.11.2020. This issue is tagged for 1.20, is it still planned for this release?

[2020-10-26 16:48] ehashman commented on #85544
@tomkerkhove this needs a KEP, it can't be implemented in the scope of an issue so we can ensure this gets the necessarily visibility.

[2020-10-26 16:48] Jeffwan commented on #87917
/unassign

[2020-10-26 16:49] Jeffwan commented on #87917
Sorry I don't have enough capacity to help on this issue. Anyone who is interested in it please help on it.

[2020-10-26 16:52] ali-raza-tariq commented on #95860
I have tried changing the MTU for both physical and virtual interfaces with `ip link set` (again without any benefit). Please find attached below the network interfaces of master node & worker node. Let me know it you want me to set MTU to some specific value.
`master`
[code]
`worker node`
[code]

[2020-10-26 17:07] alculquicondor commented on #87905
/close

grid looking pretty good now: https://testgrid.k8s.io/google-gce#gce-multizone&include-filter-by-regex=Multi-AZ%20Clusters%20should%20spread&width=20

[2020-10-26 17:07] #87905 closed

[2020-10-26 17:10] #89679 closed

[2020-10-26 17:15] hanlins commented on #95860
Hi @ali-raza-tariq I found [this doc](https://elkano.org/blog/testing-10g-network-iperf/) useful, in that setup the author increased the MTU to something way larger than default 1500 and saturated the network. I was trying to check if there was a difference between MTU values for your physical interface and the ones used in containers. If your original physical interface MTU is something larger th

[2020-10-26 17:18] sreekanthadari commented on #44665
Thanks a lot, it worked for me aswell.

[2020-10-26 17:20] mmerkes opened #95877 "Investigate node-kubelet-conformance test failures"
**Which jobs are failing**:

[node-kubelet-conformance suite](https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-conformance&show-stale-tests=)

**Which test(s) are failing**:

The tests are failing in the `BeforeSuite`.

**Since when has it been failing**:

10/23/2020

**Testgrid link**:

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-conformance

**Reason for failure**:

It started fai

[2020-10-26 17:20] mmerkes commented on #95877
/assign

[2020-10-26 17:21] mmerkes commented on #95877
/sig node

[2020-10-26 17:25] #92033 closed

[2020-10-26 17:25] #95680 closed

[2020-10-26 17:50] ali-raza-tariq commented on #95860
The original physical interfaces have an MTU of 1500. All other interfaces (veth, cni0, flannel) had a default value of 1450 except docker0 which also had a default value of 1500 MTU. I have tried out various combinations including what you suggested (increased all virtual interfaces MTU to 9000) again without any performance difference. For some reason, I couldn't increase the MTU for docker0 bey

[2020-10-26 17:59] hanlins commented on #95860
I see. Btw have you tried deploying multiple pods simutaneouslly and check the sum of the total bandwidth? If your pods are sharing the bandwidth and reached 10G in total then it should be fine right? If you only want to achieve maximum bandwidth for a dedicated pod then you might simply set `hostNetwork` to true in your pod spec so it will directly use your node's network.

[2020-10-26 18:10] nickamuchwatt commented on #90801
@soltysh do you anticipate to be the fix to be such that a large number of jobs (say 1000) would be kicked off within a few (2 or 3) seconds of their desired start time, or is it more likely the case that the start time would still be on the order of 10's or 100's of seconds late?
Also any guess as to when this new controller might be released?

Thanks for your insight!

[2020-10-26 18:11] #90677 closed

[2020-10-26 18:11] #91091 closed

[2020-10-26 18:24] jayunit100 opened #95879 "Missing definitions for loopback networkpolicies"
**What happened**:

In https://github.com/kubernetes/kubernetes/pull/91592 , we found that actually different CNIs apply loopback policys differently.

When you apply a policy to a pod:
- is an ALLOW rule required to access itself over a service IP ?
- is an ALLOW rule required to access itself over locally ?

As of now, it seems like EITHER is ok (calico does it one way, cillim does it another, e

[2020-10-26 18:26] jayunit100 commented on #95879
See https://jenkins.cilium.io/job/Cilium-PR-Kubernetes-Upstream/2621/consoleFull

[2020-10-26 18:27] tjkirch commented on #89554
/remove-lifecycle rotten

This is still blocking conformance testing on arm64, so I hope it can be considered open.

[2020-10-26 18:30] jayunit100 commented on #95879
/sig network

[2020-10-26 18:30] jayunit100 commented on #95879
/assign

[2020-10-26 18:31] jayunit100 commented on #95879
/triage accepted

[2020-10-26 18:31] ali-raza-tariq commented on #95860
interesting! ... I did not think of that previously. This seems to be a pod-to-pod bandwidth limit. Having two different pairs of pods sharing the same physical link, I get 3.5GBits/s each.

 ```If your pods are sharing the bandwidth and reached 10G in total then it should be fine right?```

yes it would make sense but the question remains why? I am working with distributed ML jobs and for some re

[2020-10-26 18:35] mattfenwick commented on #95879
Would it be worth expanding the "When you apply a policy to a pod:" section to include a couple more cases, such as:

 - request to service dns
 - request to service IP
 - request to Pod IP
 - request to localhost (not sure if this one is useful)

[2020-10-26 18:48] dims commented on #74741
There's work in progress, please follow along in https://github.com/kubernetes/kubernetes/issues/74741 and help test it to ensure the same problem does not occur there as well.

https://github.com/kubernetes/kubernetes/issues/74741

/close

-- Dims

[2020-10-26 18:49] #74741 closed

[2020-10-26 18:52] Huang-Wei commented on #95752
It's "already preempted".

Yes, scheduler sends a delete event to API server.

No. After the pod gets preempted, the last state it went through is just "terminating".

Two possible cases here:

- The preempted pod stays in "terminated" status, if the condition gets erased (which I don't quite think is possible, who would change overwrite conditions of a "deleted" pod?), the worse case is the preem

[2020-10-26 18:53] lavalamp commented on #48528
/reopen

This is up to SIG Network, not me. Added the triage-needed label.

[2020-10-26 18:54] Huang-Wei commented on #95752
Sure, I just gave a rough idea. We can talk about the concise formula later.

[2020-10-26 18:58] IdanAdar commented on #74741
You’re linking to this very ticket @dims what is the correct ticket to follow?

[2020-10-26 18:59] Huang-Wei commented on #95752
Good question. I think it depends on how we perform the preemption. Current behavior is to just sends a delete request to API server, and then API server actually **update** the Pod's deletetionTimstamp, and wait for kubelet the confirm the physical deletion of related containers, and then the API object gets deleted physically.

So, I'm not 100% sure, is it possible to use one action to (1) delet

[2020-10-26 19:01] dims commented on #63371
Please see the new controller being worked on here - https://github.com/kubernetes/kubernetes/pull/93370

[2020-10-26 19:03] dims commented on #74741
Fixed @IdanAdar

[2020-10-26 19:06] dims commented on #95846
https://github.com/kubernetes/kubernetes/pull/93370

/close

[2020-10-26 19:06] #95846 closed

[2020-10-26 19:09] ephesused commented on #39188
There's an aspect here that adds some complication. The discussion has been centered around definitions that are the same port but vary by protocol. However, the current behavior accepts yaml that has definitions that vary only by name. It won't function as one might expect, but the yaml is accepted.

Conceptually, there's an argument in support of multiple names for a single port: Ports have port

[2020-10-26 19:12] #87083 closed

[2020-10-26 19:22] rakshit-simha opened #95882 "JSONpath support: change in behaviour over versions"
**What happened**: `kubectl get pods -o=jsonpath='{range .items[*]}.....{end}'` throws errors if no pods are found in v1.19.3, but returns success with empty response in v1.16.8

**What you expected to happen**: If there are no pods that return, no error should be thrown as the range should evaluate to "no op".

**How to reproduce it (as minimally and precisely as possible)**:  Adapt the example f

[2020-10-26 19:23] rakshit-simha commented on #95882
/sig-cli

[2020-10-26 19:26] hanlins commented on #95860
Routing to existing issue: https://github.com/kubernetes/kubernetes/pull/90839 for more context
@jayunit100

[2020-10-26 19:27] rakshit-simha commented on #95882
/sig cli

[2020-10-26 19:54] marosset commented on #95735
The differences in behavior between 1.17.* and 1.18.* clusters looks like it is caused by https://github.com/kubernetes/kubernetes/pull/86101 (which was NOT backported to any prior releases)

**K8s version >= 1.17 behavior**
Prior to these changes CPU weights for containers were inferred based on limit values set in the pod specs.

The observed behavior on Windows system when CPU weights were used

[2020-10-26 19:59] deads2k commented on #95496
I'm not excited about the idea of picking up a chain of "create special case X for developer tool Y".  Like @lavalamp, I suspect that you'll hit many of these and special-casing each one will quickly become tedious and reactive over time.

Do you have a way to try to gather all the special cases we need to debug the kube-controller-manager as a whole?  That full list would be more compelling to me

[2020-10-26 20:01] lavalamp commented on #95496
Yeah, if this is literally the only thing needed, then it is small enough that it's hard to say no to.

[2020-10-26 20:13] #89797 closed

[2020-10-26 20:30] ryanc-me commented on #81089
@saadlu Baking a keyfile into the Docker image sounds dangerous. You can still use the `initContainer` approach for your use case:

[code]

and:

[code]

Then, you can mount the `keyfile-data` volume to your MongoDB container. The keyfile(s) will be stored in that volume, with the correct permissions and ownership.

You can change the `chown` and `chmod` lines to suit. The files will be copied to

[2020-10-26 20:35] cheftako commented on #95537
Which resource are you trying to delete?
So I believe the underlying HTTP method does as your suggesting. As far as I can tell the API Server is returning a 404 for an already deleted object.
kubectl -v 9 delete pod junk
I1026 20:25:02.778470 4055864 round_trippers.go:423] curl -k -v -XDELETE  -H "User-Agent: kubectl/v1.19.0 (linux/amd64) kubernetes/****" -H "Authorization: Bearer ***************"

[2020-10-26 20:55] msau42 commented on #94567
/assign @gnufied
can you help investigate this test flake for uncertain state?

[2020-10-26 21:14] #43688 closed

[2020-10-26 21:14] #53213 closed

[2020-10-26 21:44] saadlu commented on #81089
Thanks that's exactly what we did finally :)

On Mon, 26 Oct 2020 at 20:30, Ryan Cole <notifications@github.com> wrote:

[2020-10-26 22:25] khenidak commented on #95803
@liggitt I tried again on head.
[code]

If a user committed these files they will break CI ..

[2020-10-26 22:33] khenidak commented on #95803
On a clean clone (delete all local file and reclone) the issue does not appear to happen. might be a modified untracked file that is used in gen?

[code]

[2020-10-26 22:37] khenidak commented on #95555
Ack..

[2020-10-26 22:58] msau42 commented on #95588
Thanks @JornShen for working on this so quickly! I had a few followup comments, can you take a look?
https://github.com/kubernetes/kubernetes/pull/95866#pullrequestreview-517225836

[2020-10-26 23:33] justenwalker commented on #95496
While I suppose it is technically a tool-specific problem, unless there is another practical way to debug Go programs on Mac OS: all developers are using Delve (via LLDB).  So they will all invariably experience this -- there is no obvious alternative tool or work-around.

I've tried my hand at [Semgrep](https://semgrep.dev/) but either it is not yet powerful enough to find what I need, or I'm sim

[2020-10-27 00:00] msau42 commented on #92145
cc @gnufied @yuga711 @jingxu97
/remove-lifecycle stale

This may be related to the dangling attach race but on the detach path?

[2020-10-27 00:03] apelisse commented on #87840
@loozhengyuan Can I do something to help you get this through?

[2020-10-27 00:06] seans3 commented on #93432
/remove-lifecycle stale
/lifecycle frozen

[2020-10-27 00:17] #91556 closed

[2020-10-27 01:12] fabiokung opened #95887 "sched: concurrent map read/write when scheduler plugins write to `CycleState` during the Filter phase"
**What happened**:

kube-scheduler (`v1.18.8`) crashes due to a panic while running `FilterPlugins`:

[code]

The race condition is triggered when an out-of-tree plugin, that writes to `CycleState` during its Filter phase, is registered through `PluginFramework`. Access to `cycleState` in general happens from a single goroutine and there are no practical concurrency issues, with the exception of t

[2020-10-27 01:13] fabiokung commented on #95887
/sig scheduling

[2020-10-27 01:27] msau42 commented on #57923
I think the next step in investigating a solution for this issue is to see if we can generalize the work done for [projected service account tokens](https://github.com/kubernetes/enhancements/pull/1598) to other volume types.

[2020-10-27 01:43] msau42 opened #95888 "Move disallow volume expansion test ouside of storage driver testsuite"
**What would you like to be added**:
Move [this testcase](https://github.com/kubernetes/kubernetes/blob/87cc9bca0fcbbdf1b8232c9c71e50023d62667c3/test/e2e/storage/testsuites/volume_expand.go#L153) outside of driver testsuite, perhaps using csi mock driver.

**Why is this needed**:
See comments [here](https://github.com/kubernetes/kubernetes/pull/95780#discussion_r512365244)

[2020-10-27 01:44] msau42 commented on #95888
/kind cleanup
/remove-kind feature
/triage accepted
@kubernetes/sig-storage-misc

/assign @gnufied

[2020-10-27 02:54] medyagh opened #95891 "klog flags such "log_dir" doesn't do anything on kubectl"
while `kubectl options` advertises that these flags are available but when I try to use it doesn't work, in minikube we have simmilar problem since we use kubectl's templates for grouping the cobra library.

[code]

using --log_dir flag
[code]
the log dir is empty. but if I pass same flag to any other go app using klog it works.
[code]

[2020-10-27 02:55] medyagh commented on #95891
I will move this issue to kubectl

[2020-10-27 02:55] #95891 closed

[2020-10-27 03:12] fkpwolf commented on #95149
Check the log and I found my kube-controller-manager version is still `1.16.2`. Recreate the static pod and now everything ok. Thanks for your tips, @aojea

[2020-10-27 03:12] #95149 closed

[2020-10-27 04:20] hoyho commented on #95859
Not sure what interface backend storage have. IMO, If there's a more common interface for generic backend storage can be better(not only KV storage) .
For example. Other Kubernetes distribution like Rancher K3s can use MySQL or even SQLite as the backend.

[2020-10-27 04:39] yqwang-ms commented on #81285
/remove-lifecycle rotten

[2020-10-27 04:49] thockin opened #95893 "test logs FILLED with garbage noise"
Any failed test has thousands of lines of:

[code]

- Kubernetes version (use `kubectl version`): HEAD
- Cloud provider or hardware configuration: kind

/sig testing

[2020-10-27 05:25] hanlins commented on #95727
Reproduce:
1. I can reproduce the issue by restarting `containerd` when `containerd` is the container runtime
2. In another setup where `docker` was used used as container runtime, didn't experience the issue by restarting `docker`, but restarted the underlying `containerd`, same issue shown up again and had to restart `kubelet` to resolve the issue.

Will continue with the investigation, might ne

[2020-10-27 06:22] zhouya0 commented on #95882
/cc @brianpursley

[2020-10-27 06:38] tomkerkhove commented on #85544
Please ignore my ignorance but how does one write a KEP and do I need to understand the Kubernetes codebase?

[2020-10-27 08:14] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2020-10-27 08:44] D1abloRUS commented on #88662
/remove-lifecycle stale

[2020-10-27 08:44] izmailoff commented on #52963
Perhaps the watch option could keep connection open avoiding overhead of establishing a new connection every second.

[2020-10-27 08:56] dgrisonnet commented on #92671
I am also hitting this issue. Upon an aggregated apiservice deletion, the `aggregator_unavailable_apiservice` gauge is not set to 0.

/remove-lifecycle stale

[2020-10-27 09:03] myonlyzzy commented on #63128
thank you !

[2020-10-27 09:16] slinkydeveloper opened #95902 "Make correlator in event broadcaster optional"
We have a use case where we use the event broadcaster to send test events to kubernetes events and we cannot lose events because they are correlated with other ones. We would love to have a way to disable such event correlator.

Is there a way to make it optional? If not, are you interested in such feature? I can take care of it.

Dup of https://github.com/kubernetes/client-go/issues/885

[2020-10-27 09:17] slinkydeveloper opened #95903 "Add method to record.EventRecorder to define the event name"
Today the `record.EventRecorder` generates a name for each event generated through it. The problem with the generated name is that it uses the target name + the timestamp, hence there are some situations where there could be 2 events generated with the same name (for more details on our use case, look at https://github.com/knative/eventing/pull/4393).

I propose to add some options to customize th

[2020-10-27 09:27] zoux86 opened #95904 "support container based scaling to HPA with custom-metrics server"
I have a demand in hpa. for example:

I want to use custom metricName: container_cpu_used_1m with https://github.com/kubernetes-sigs/custom-metrics-apiserver, which mean 1min avage cpu usage of container, to decide scaled up or down？

I can get the value container_cpu_used_1m.

I see a new metric type ContainerResource is add by  https://github.com/kubernetes/kubernetes/pull/90691/files
but from t

[2020-10-27 09:32] harche opened #95905 "node e2e: incorrect iptables settings during starting the tests"
**Which jobs are failing**:
Before node e2e tests are started, iptables rules are applied. The rules aren't correctly applied for some OSes like, Fedora CoreOS.

**Which test(s) are failing**:
node e2e tests that depend on communication between the containers tend to fail on Fedora CoreOS where the iptable rules don't get applied properly before starting the tests.

**Since when has it been failin

[2020-10-27 09:32] harche commented on #95905
/sig node

[2020-10-27 09:32] harche commented on #95905
/assign @harche

[2020-10-27 09:36] povsister commented on #87615
Another good news: Kubernetes do not use the bundled http2 in standard net/http package, so we do not need to wait for the next Go release. We can directly use https://github.com/golang/net/commit/08b38378de702b893ee869b94b32f833e2933bd2 to fix this issue.

Proposed a fix here.  https://github.com/kubernetes/kubernetes/pull/95898
It updates dependency to required version and enables http2 Transpor

[2020-10-27 10:43] aojea commented on #95879
/cc @danwinship

[2020-10-27 10:59] dims commented on #85544
@tomkerkhove please see https://github.com/kubernetes/enhancements#table-of-contents

[2020-10-27 10:59] aloisio31 commented on #76619
You can inspect the source code and check the function [printPod](https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/internalversion/printers.go#L734). And we can find the `STATUS` showed by `kubectl get pods` is defined by the variable `reason`.

[2020-10-27 11:01] aloisio31 commented on #49387
see [here](https://github.com/kubernetes/kubernetes/issues/76619#issuecomment-717161258)

[2020-10-27 11:06] stephen-dexda commented on #80435
/remove-lifecycle stale

[2020-10-27 11:07] stephen-dexda commented on #82525
/remove-lifecycle stale

[2020-10-27 11:28] dims commented on #95859
@hoyho we have talked about this quite a few times in sig-architecture calls and consistently ended with the opposite result. So let's not waste time in debating this in an issue. If you want to do this, then please write a KEP and argue for it.

[2020-10-27 11:31] es1o commented on #78761
I have similar issue with v2beta2. AverageUtilization is below target but it scales to maximum:
[code]

[2020-10-27 11:42] yarinm opened #95911 "When a new node joins the cluster - scheduler doesn't respect CSI volume limit"
**What happened**:
I'm using the [aws-ebs-csi-driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver) for attaching *pre-provisioned* EBS disks to my pods. I've also customized the max attach limit to 1 (for testing purposes) but I intend to use a low value (around 5-8) in production.
The attach limit value is respected by the scheduler and pods usually are pending until volumes are detache

[2020-10-27 11:45] yarinm commented on #95911
/sig scheduling
/sig storage

[2020-10-27 11:57] liggitt commented on #95882
/sig api-machinery

[2020-10-27 12:02] rikatz commented on #67526
/triage accepted

[2020-10-27 12:29] slinkydeveloper opened #95913 "When creating a new Event, setting EventTime triggers an undocumented validation"
**What happened**:
I'm trying to send a new `Event` to the api server manually creating the event and pushing it with client-go. Setting `EventTime` triggers a validation undocumented nor in api docs nor in struct definition: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/validation/events.go#L122 . This validation blocks events without `ReportingController`, `ReportingInstance

[2020-10-27 12:38] neolit123 commented on #95727
To me it seems there are a couple of problems here. 1. kubelet does not reconnect to the containerd socket. 2. The reconnect is agressive and consumes a lot if cpu.

I don't know the cause for 1, but for 2 this might be an indication that the retry interval should be relaxed.

[2020-10-27 13:13] Bghd34 opened #95914 "failed to try resolving symlinks in path "/var/log/pods/default_polling-app-mysql-7f5ffd48b7-xrbpz_d704241f-2953-4dba-9b99-02c43f178039/mysql/3.log": lstat /var/log/pods/default_polling-app-mysql-7f5ffd48b7-xrbpz_d704241f-2953-4dba-9 b99-02c43f178039/mysql/3.log: no such file"
bonjour, de l'aide SVP !
j'ai cette erreur quand j'essaie de déployer 'mysql' sur GKE .

" failed to try resolving symlinks in path "/var/log/pods/default_polling-app-mysql-7f5ffd48b7-xrbpz_d704241f-2953-4dba-9b99-02c43f178039/mysql/3.log": lstat /var/log/pods/default_polling-app-mysql-7f5ffd48b7-xrbpz_d704241f-2953-4dba-9 b99-02c43f178039/mysql/3.log: no such file "

-----------------------------

[2020-10-27 13:43] slinkydeveloper commented on #95913
Not sure it's the right wg

/wg api-expression

[2020-10-27 13:46] slinkydeveloper commented on #95903
Not sure it's the right sig

/sig api-machinery

[2020-10-27 13:46] slinkydeveloper commented on #95902
Not sure it's the right sig

/sig api-machinery

[2020-10-27 13:46] blitzd opened #95916 "CronJob produces seemingly random warnings for sandbox creation failures"
**What happened**:
CronJob produces seemingly random warnings relating to sandbox creation issues

**What you expected to happen**:
No random warnings

**How to reproduce it (as minimally and precisely as possible)**:
Deploy the sample cronjob, within 10 runs on a 1-minute schedule you should see a warning about sandbox creation.

**Anything else we need to know?**:
Does not appear to be related t

[2020-10-27 14:22] wojtek-t commented on #95394
It seems the PR didn't address that fully. Looking.

[2020-10-27 14:27] wojtek-t commented on #95394
#95918 out for review

[2020-10-27 14:41] pjastrzabek commented on #91652
Randomizing execution would be awesome. +1 for 'H' support (Hashed) https://en.wikipedia.org/wiki/Cron#Non-standard_characters

[2020-10-27 14:42] fisherxu opened #95919 "Return duplicate events in Apiserver cache when relist"
**What happened**:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/reflector.go#L293
As comments said here, result is at least as fresh as provided RV, doesn't lead to going back in time, but watch cache in apiserver doesn't do filter in the scenario below, it maybe caused going back:

**when client do the relist with lastSyncResourceVersion(!=0), at

[2020-10-27 14:43] fisherxu commented on #95919
/sig api-machinery

[2020-10-27 14:45] wojtek-t commented on #95919
Sorry - I don't really understand what you're saying. Maybe you can try to provide an example?

[2020-10-27 14:59] thejoycekung opened #95920 "[Failing Test] ReplicationController should test the lifecycle of a ReplicationController [Conformance]"
**Which jobs are failing**:
- `gce-windows-1909-master`
- `gce-windows-2019-master`

Triage link for more jobs that are affected: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5C%5Bsig%5C-apps%5C%5D%5C%20ReplicationController%5C%20should%5C%20test%5C%20the%5C%20lifecycle%5C%20of%5C%20a%5C%20ReplicationController%5C%20%5C%5BConformance%5C%5D

**Which test(s) are failing**:
`

[2020-10-27 15:00] VGerris commented on #74551
hi,

I have something that might be related:

E1027 15:47:19.719563   26356 portforward.go:400] an error occurred forwarding 8082 -> 8080: error forwarding port 8080 to pod , uid : Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

This happens when we stress test over a tunnel towards a service deployed in GKE.
From 2000 request sent by a node.js sc

[2020-10-27 15:17] max-rocket-internet commented on #78761
Yeah we also have dashboards to detect this issue. Here's an obvious example (grey band shows HPA min/max pods):

![Screenshot 2020-10-27 at 16 16 50](https://user-images.githubusercontent.com/8859277/97322223-de015d80-186f-11eb-935a-eb72819540d2.png)

[2020-10-27 15:18] #95394 closed

[2020-10-27 15:27] adtac commented on #95887
AFAICT all in-tree plugins write to the cycle state in PreFilter and then *only* read from cycle state in Filter. So this shouldn't be a problem with in-tree plugins as concurrent read access should be fine during RunFilterPlugins. But since your out-of-tree plugin writes in Filter, I can see why this can be a problem.

Aside from adding Lock/Unlock in in-tree plugin, offering mutual exclusion on

[2020-10-27 15:34] fisherxu commented on #95919
Sorry for the confusing..

I mean when client does relist with `ResourceVersion A`(!=""&&!="0"), in apiserver [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/cacher/watch_cache.go#L437), we only compare `w.resourceVersion`(latest in cache) with `ResourceVersion A`, if  `ResourceVersion A` < `w.resourceVersion`, we will return all the cached even

[2020-10-27 15:42] neolit123 commented on #95904
/sig autoscaling

[2020-10-27 15:43] neolit123 commented on #95914
hi, please try the #fr-users channel (French users) on k8s slack or any of the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-10-27 15:43] #95914 closed

[2020-10-27 15:43] neolit123 commented on #95914
/triage support
/remove-kind bug

[2020-10-27 15:44] neolit123 commented on #95914
/kind support

[2020-10-27 15:44] neolit123 commented on #95916
/sig apps

[2020-10-27 15:57] adtac commented on #95887
cc @ahg-g

[2020-10-27 16:00] salanki commented on #72502
We just had this happen, anyone has any clarity?

[2020-10-27 16:19] leilajal commented on #95636
/assign

[2020-10-27 16:20] mmerkes commented on #95877
[Commit when it started failing looks benign.](https://github.com/kubernetes/kubernetes/commit/237dae5a5)

[2020-10-27 16:23] pohly commented on #95497
One trivial change that saves one object update per volume would be to state "Status: Bound" in the PV directly when creating it. However, that is currently impossible because the apiserver prevents setting status together with the rest of the PV and discards any status values on create.

IMHO it should be possible to change that in the apiserver, but more discussions of the implications are neede

[2020-10-27 16:33] jjulien commented on #49343
I've tracked this down to the go-client not attempting to pull the in-cluster config if it finds any configuration present, which includes overrides provided as command line arguments.  This is regardless if the overrides conflict with a cluster config.  The mere presence of any configuration or CLI overrides causes it to just stop and return the current config.

https://github.com/kubernetes/kube

[2020-10-27 16:38] msau42 commented on #95911
/assign @bertinatto
can you help take a look if there's an issue with volume attach limit and multiple pods being scheduled at the same time?
@kubernetes/sig-storage-bugs

[2020-10-27 16:40] ejsuncy commented on #84876
For anyone else that comes across this, I tried the test case linked above, but compiling with openjdk 11 and running FROM openjdk:11 and couldn't reproduce. 1000m cpu request is reported in-app as 1 CPU as expected.

[2020-10-27 16:48] fisherxu commented on #95919
We hope that in scenarios like edge computing, the bandwidth is limited and the connection will be disconnected frequently, so
 hope to avoid sending duplicate data.
But I am not very sure if APIServer will send duplicate data, as described in my last comment https://github.com/kubernetes/kubernetes/issues/95919#issuecomment-717327815, and want to confirm it @wojtek-t  :)

[2020-10-27 17:07] bertinatto commented on #95911
@yarinm: Interesting issue. The scheduler takes the volume limit value from the `CSINode` object, and the limit is populated by the kubelet when the CSI driver is registered in the node [1]. So it seems like your diagnosis is correct, the scheduler is assigning the node to the pod before the `CSINode` object has been created/populated.

The problem is that currently there's no way in the scheduler

[2020-10-27 17:16] paulgmiller commented on #95555
We're doing some work in this area to make azure cni a bit more flexible. Stay tuned to the below for more details.
https://github.com/Azure/azure-container-networking/issues/707

[2020-10-27 17:48] nightmareze1 commented on #61486
This patch also works on EKS 1.17 as well overwriting the hostname perfect in kube-proxy.

[2020-10-27 17:59] dims opened #95922 "Eliminate dependency on asaskevich/govalidator (used with go-openapi)"
Notes from @sttts in https://kubernetes.slack.com/archives/C0EG7JC6T/p1592312250277400?thread_ts=1592287631.273100&cid=C0EG7JC6T
[code]

Quote from @sttts in https://kubernetes.slack.com/archives/C0EG7JC6T/p1592312565278100?thread_ts=1592287631.273100&cid=C0EG7JC6T
[code]

[2020-10-27 17:59] dims commented on #95922
/sig api-machinery

[2020-10-27 18:01] dims commented on #95922
```the goal is to fork, but strip it down, like stripping 80% we don't need. The remaining part is the validator and the types for the OpenAPI spec. We will not re-join.```

[2020-10-27 18:05] dims commented on #95922
/area code-organization

[2020-10-27 18:08] yarinm commented on #95911
Hey @bertinatto thanks for the quick reply!

The affinity approach was the first thing I've tried, sadly the issue still occurred. I think it's because the node label was updated before the CSINode configuration was loaded in the scheduler.

My current workaround was using node affinity using a custom label I created which is populated 15 seconds AFTER the csi node pod is starting up - that mitiga

[2020-10-27 18:38] ncri commented on #95703
I was able now to catch the issue within one hour as it happened and got these events:

[code]

So unfortunately no clue on why this new deployment got created. We didn't do anything manually from our side.

[2020-10-27 18:38] msau42 commented on #95911
The main challenge we had for having the scheduler only schedule pods to nodes with the csi driver installed, is that it would break autoscaling from zero. We would need to add some configuration to the autoscaler to understand every csi driver that is expected to be installed on the nodes. It may work for managed cloud csi drivers, but I'm not sure how non managed csi drivers could be configured.

[2020-10-27 18:41] #95158 closed

[2020-10-27 18:48] liggitt commented on #95919
Listing returns all objects, not watch events. That is working as designed.

Reflectors will try to reestablish a watch before falling back to a full re-list to avoid needing to retrieve all objects. That is where the optimization takes place.

[2020-10-27 19:02] mmerkes commented on #95877
Investigation notes:

1. Compared `docker.log` between successful and unsuccessful runs and found no notable differences.
2. `cloud-init.log`, `kern.log` and `serial-1.log`
3. `kubelet-launcher.log` had a couple of failed health checks on initialization, which doesn't happen in the successful test runs, though there's only 2 seconds between starting readiness checks and an eventual successful chec

[2020-10-27 19:17] alculquicondor commented on #93718
/assign @damemi

[2020-10-27 19:59] troy0820 commented on #95703
This looks like something is triggering the new replicaset and by that I mean it may be sidekiq. With the preStop condition, it looks like the preStop condition works and then kicks off a new replicaset to restart sidekiq.

What will change the replicaset hash is a new image that will create a new replicaset and downscale the old one.  Do you have any pipelines that are running that may be trigger

[2020-10-27 20:14] ncri commented on #95703
I copied the pre stop condition from somewhere, not sure if it is actually needed. It is there to properly stop sidekiq before a pod is killed. I don't see how it should start anything new?

And no, we don't have any pipeline running triggering this event, as I mentioned earlier.

I will upgrade kubernetes tonight on all nodes and see if that helps.

[2020-10-27 20:17] fedebongio commented on #95636
/triage accepted

[2020-10-27 20:18] fedebongio commented on #95706
We passed again on this one, nothing yet from sig network

[2020-10-27 20:19] fedebongio commented on #95733
/triage accepted

[2020-10-27 20:19] fedebongio commented on #95733
Thank you @victor-timofei !

[2020-10-27 20:19] fedebongio commented on #95803
/triage accepted

[2020-10-27 20:20] fedebongio commented on #95859
/assign @deads2k
/triage accepted

[2020-10-27 20:21] fedebongio commented on #95875
/help

[2020-10-27 20:23] fedebongio commented on #95902
/assign @deads2k
/triage accepted

[2020-10-27 20:23] fedebongio commented on #95903
/assign @deads2k
/triage accepted

[2020-10-27 20:25] fedebongio commented on #95919
/assign @liggitt @wojtek-t
Will let you decide if this needs further discussion or can be closed! thank you
/triage accepted

[2020-10-27 20:26] fedebongio commented on #95922
/assign @sttts
/triage accepted

[2020-10-27 20:32] aojea opened #95929 "[Flake] [sig-cli] Kubectl client Kubectl server-side dry-run should check if kubectl can dry-run update Pods [Conformance]"
Started to fail continuosly on 10/22

![image](https://user-images.githubusercontent.com/6450081/97358734-f8513080-189b-11eb-9847-ec801f0baf36.png)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=%5C%5Bsig%5C-cli%5C%5D%5C%20Kubectl%5C%20client%5C%20Kubectl%5C%20server%5C-side%5C%20dry%5C-run%5C%20should%5C%20check%5C%20if%5C%20kubectl%5C%20can%5C%20dry%5C-run%5C%20update%5C%2

[2020-10-27 20:46] obeyda commented on #95875
Hi, I would like to help on this.

[2020-10-27 21:17] Riaankl opened #95930 "NodeProxy endpoints can not be Conformance tested in their current state"
# Conformance tests for NodeProxy

These endpoints which are tracked by [APIsnoop Conformance Progress](https://apisnoop.cncf.io/conformance-progress) and need to have conformance tests that meet the [currrent conformance requirements](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements)

The [NodeProxy endpoint

[2020-10-27 21:35] karan opened #95932 "Add container exit error code between ADD and ContainerDied"
**What would you like to be added**:

Between

[code]

and

[code]

and

[code]

We can't tell if container died with a status error (we can by looking at containerd logs though).

**Why is this needed**:

It would make debugging dying containers much easier.

[2020-10-27 21:35] karan commented on #95932
/sig node

[2020-10-27 21:45] Riaankl commented on #95930
/sig node
/sig architecture
/area conformance

[2020-10-27 21:51] yarinm commented on #95911
@msau42 this isn't related to autoscaling at all! The issue occurs even if you add new nodes yourself. It is true that a cluster with autoscaler installed is more likely to encounter this issue (that's how I found it)

[2020-10-27 23:27] Jiawei0227 commented on #57923
/cc

[2020-10-27 23:36] #94954 closed

[2020-10-27 23:39] msau42 commented on #95911
I mean that adding a check in the scheduler to only schedule pods on nodes with the csi driver installed on them will break autoscaler's simulation and cause autoscaling to not be triggered at all. Maybe a possible solution could be to have different logic between the scheduler and autoscaler, where autoscaler has a custom version of this predicate that doesn't do the csinode check. We would need

[2020-10-27 23:43] mrajashree commented on #94183
I see the same, that is an Unreachable taint with NoExecute effect is not set on a node which has NodeReady set to Unknown. However I only see this on 1.19, works fine till 1.18.10
Till 1.18.10, such a node gets two Unreachable taints, one with effect NoExecute and one with effect NoSchedule.
But on 1.19.3 it only gets the NoSchedule taint. I see that this is the only commit made in that area betw

[2020-10-28 00:01] mmerkes commented on #95877
Both new and old test runs have a bunch of logs like this, implying that it's been having issues for a while:

[code]

The failed one has this additional line:

[code]

However, the `node-kubelet-master` doesn't have the same issues. I don't see the connection timeouts at all. I also don't see anything else in the kubelet logs that appears different between successful and failed runs. Unfortunatel

[2020-10-28 00:34] csschwe commented on #95365
Is there a fix or any additional information about this Marvell Qlogic Fastlinq ethernet controller issue?  Seeing the same or similar issue on some servers with this ethernet controller.

[2020-10-28 01:58] msau42 commented on #93802
Right now fsgroup support is implemented and decided on per plugin. So exactly for the reasons you specify, fsgroup is ignored for shared filesystems like nfs but enabled for rwo volume types like cloud block disks.

Questions about your scenario:
- Do all the containers across the different teams and environments need shared access to the entire share, or can it be constrained by subdirectories?

[2020-10-28 02:00] msau42 commented on #89776
@kubernetes/sig-storage-bugs
/remove-lifecycle stale

[2020-10-28 02:07] thejoycekung commented on #95929
dupe of #95832

/close

[2020-10-28 02:07] #95929 closed

[2020-10-28 02:20] thejoycekung opened #95936 "[Failing Test] build-canary fails on push-build.sh (exit status 2) due to lack of permissions"
**Which jobs are flaking**:
`ci-kubernetes-build-canary`

**Which test(s) are flaking**:
`Overall`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#build-master-canary

**Reason for failure**:
[code]

**Anything else we need to know**:
Example spyglass link: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-canary/1321213714057138176
What the pass loo

[2020-10-28 02:24] caleb15 commented on #43487
@kubernetes/sig-multicluster-misc why was this issue labeled only for multicluster? It seems like it would also apply to just a single cluster.

[2020-10-28 02:45] coffeepac opened #95937 "es-image as part of fluent-elasticsearch cluster addon does not build"
**What happened**:

es-image as part of fluent-elasticsearch cluster addon does not build

**What you expected to happen**:

`docker build .` in the es-image folder should work

**How to reproduce it (as minimally and precisely as possible)**:

`cd cluster/addons/fluentd-elasticsearch/es-image
make`

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)

[2020-10-28 02:45] coffeepac commented on #95937
/assign @coffeepac
/triage accepted

[2020-10-28 02:46] coffeepac commented on #95937
/sig instrumentation

[2020-10-28 02:50] k82cn commented on #95859
/assign k82cn

I'm going to write a KEP and argue for it :)

@deads2k , @dims , would you share some history about this discussion?

[2020-10-28 03:01] dprotaso commented on #90952
The PR https://github.com/kubernetes/kubernetes/pull/87899 removed the extra go routines causing the race - so this is fixed in the 1.18 client libs

[2020-10-28 04:08] DemonsLu commented on #95861
I will reopen this, because I think 1.18 v2beta2 just provide a config to limit scale down rate, but I want to set the metrics resource's downscaleAverageUtilization or downscaleAverageValue.

for example:
I want to upscale my pods when currentCPUAverageValue is greater than 2 core, and downscale when currentCPUAverageValue is less than 1.7 core. This 0.3 core can be used as a buffer for work load

[2020-10-28 04:47] junneyang opened #95940 "Job should add waiting/pending status"
at present, when a job is createed, it's status is active...
but, if the pod is waiting to schedule, the pod's status is containercreating, the job is pending therefor
so, i suggest add waiting/pending status for the job, when the job's pod are all running, the job's status should be active
thanks~~

[2020-10-28 05:44] talonx commented on #79365
Setting explicit resource requests for each container in the pod worked for me.

[2020-10-28 06:22] ScrapCodes commented on #95226
Hi @kubernetes/sig-storage-bugs this issue needs your attention.

[2020-10-28 06:25] ScrapCodes commented on #95133
Hi @bowei and @bridgetkromhout, any update on this ?

[2020-10-28 06:26] ScrapCodes commented on #95000
@kubernetes/sig-node-bugs ping !

[2020-10-28 06:27] ScrapCodes commented on #95595
@kubernetes/sig-cloud-provider ping !

[2020-10-28 06:28] ScrapCodes commented on #95600
@kubernetes/sig-storage-bugs  ping !

[2020-10-28 06:30] ScrapCodes commented on #94718
@kubernetes/sig-windows-bugs ping !

[2020-10-28 06:32] ScrapCodes commented on #95173
@spiffxp and @cpanato It appears, this build is all green now. I am going to move it to close soon.

[2020-10-28 06:34] ScrapCodes commented on #95173
/close

[2020-10-28 06:34] #95173 closed

[2020-10-28 06:44] lastboy1228 commented on #23255
set volume-stats-agg-period to 0

[2020-10-28 06:46] yaminisridaran opened #95941 "role associated with user via rolebinding per pod in same namespace"
**What would you like to be added**:
Currently K8S authentication user looks like a User can be associated to per namespace using rolebinding and role. We require multiple User associated with multiple roles associated with per pod (or) group of pods in same namespace.

**Why is this needed**:
We have multiple user Eg: User A and User B in a k8s cluster and we have deployed pod X,Y,Z in Namespace

[2020-10-28 06:51] aojea commented on #95929
Ups, sorry, didn't notice there was one already open
Thanks

[2020-10-28 07:02] aojea commented on #95706
/assign

[2020-10-28 07:04] bowei commented on #95133
/assign @freehan

[2020-10-28 07:04] bowei commented on #95133
Minhan -- can you take a look?

[2020-10-28 07:07] MG2R opened #95942 "How can I correctly set Kubernetes pod eviction limits, to avoid system OOM killer"
I read the issue template. I posted this question before, both on [StackOverflow](https://stackoverflow.com/questions/64374779/how-can-i-correctly-set-kubernetes-pod-eviction-limits-to-avoid-system-oom-kill) and on the [Kubernetes forums](https://discuss.kubernetes.io/t/how-can-i-correctly-set-kubernetes-pod-eviction-limits-to-avoid-system-oom-killer/13353), neither of these places gave me an answ

[2020-10-28 07:35] JornShen commented on #94568
solved at https://github.com/kubernetes/kubernetes/pull/94676.

[2020-10-28 08:25] fisherxu commented on #95919
Get it, I think we can close it
/close

[2020-10-28 08:25] #95919 closed

[2020-10-28 08:29] chbois commented on #89181
Thanks for your feedback @kvaps. I will discuss using tmpfs with the team but I'm not sure this could be an option in our case.

[2020-10-28 08:40] MG2R commented on #95942
/sig node

[2020-10-28 09:00] yongjie-gong opened #95945 "subPath owner/group should be set to runAsUser/fsGroup instead of root"
**What happened**:
1) on NFS server(**nfs1.test.com**), setup one share like below
/no_root/var/vols/test1 *(rw,sync,no_root_squash)

2) Create PV( pv1/pvc1) with this nfs path
3) Create the pod with this pvc and setup subPath
apiVersion: v1
kind: Pod
metadata:
  name: test1
spec:
  containers:
  - name: test1
     image: busybox
     volumeMounts:
     - name: log-dir
       mountPath: /shared

[2020-10-28 09:03] riffling commented on #95945
/sig Node
/sg K8s Infra

[2020-10-28 09:03] riffling commented on #95945
/wg K8s Infra

[2020-10-28 09:04] riffling commented on #95945
/sg K8s-Infra

[2020-10-28 09:10] dgrisonnet commented on #92671
I don't think setting the gauge to 0 is the best option we have here. A zero value would mean that the aggregated apiservice is available, which is wrong since it will not exist anymore. This solution would indeed fix the problem we have with the alert firing, but having incorrect information here might be problematic in the future.

To me, the `aggregator_unavailable_apiservice` metric is like a

[2020-10-28 09:17] aojea commented on #95706
There are several things in place here, let's take a simple example with this golang server:

[code]

if we run the server `go run server.go`, we can see that it binds an IPv6 socket

[code]

An IPv6 socket is able to handle both IPv4 and IPv6 families, more details https://man7.org/linux/man-pages/man7/ipv6.7.html.

  v4-mapped-on-v6 address type; thus a program needs to support only
  this API t

[2020-10-28 09:20] aojea commented on #95706
/triage accepted

[2020-10-28 09:24] aojea commented on #95706
/remove-kind bug
/kind feature

[2020-10-28 09:26] DesistDaydream commented on #92671
I agree think that after deleting the specified API,the metric should not exist anymore.It is more elegant to let the API delete the series.

[2020-10-28 09:39] danielhass commented on #53533
Beside the discussion about "swap or not to swap" it makes me curious that the behavior described by @pai911 was not further addressed by the k8s team.

I can confirm that kubelet seems to behave differently (and on some OS not according to the code snipped mentioned above) with regard to the docker deamon memory settings. Our clusters runs on SUSE linux and we are experiencing the same unlimited

[2020-10-28 11:01] gaobinzhan opened #95946 "Error from server (InternalError): an error on the server ("") has prevented the request from succeeding"

[2020-10-28 11:03] #95946 closed

[2020-10-28 12:06] samtoi commented on #71647
Had the same issue, found myself a solution from [https://github.com/docker/for-mac/issues/2990](https://github.com/docker/for-mac/issues/2990).
In short, deleting the following folders + restarting docker did the thing for me:
`rm -rf ~/Library/Group\ Containers/group.com.docker/pki/`
`rm -rf ~/.kube`
From what I understood, the pki folder holds the kubernetes cert/key info and removing them resu

[2020-10-28 12:08] wojtek-t commented on #94098
/assign

After internal discussions and number of experiments we decided to change the function that defined control-plane node sizes.

[2020-10-28 12:21] wojtek-t commented on #93716
Looking into this dashboard:
https://testgrid.k8s.io/sig-scalability-gce#gce-cos-master-scalability-100

There were exactly 3 failed runs over the last 2 weeks - all 3 failed on setting up the cluster.

No single test-related flake in the last 2 weeks. I'm closing this one.
/close

[2020-10-28 12:21] #93716 closed

[2020-10-28 12:27] wojtek-t commented on #94098
Once #95947 merges, we can clean-up test-infra and close this issue.

[2020-10-28 12:36] kvaps commented on #89181
@chbois could you mention which kernel and OS version do you have?

[2020-10-28 12:47] wojtek-t commented on #94528
I marked cacher one as fixed - please reopen/ping me if this happens again.

[2020-10-28 12:53] jayunit100 opened #95948 "range_allocator.go crashes the entire KCM if CIDRs are incorrect for a single node"
**What happened**:

In cases where  asingle rogue node has the wrong CIDR, the entire KCM can go down .  it seems like this type of problem shouldnt cause a KCM to go down.  The best example here is, if you have a 50 node linux cluster and then experimentally add a new experimental node , and modify its podCIDR.  In such a situation, you probably are expecting that the point modifications you made

[2020-10-28 12:57] danwinship commented on #95879
I'm pretty sure this is not well-specified. (Most of kube networking isn't.) But it is generally vaguely assumed that service proxying and NetworkPolicy enforcement both happen outside of the pod's network namespace. So, a pod would always be able to connect directly to its pod IP regardless of policy (since that connection would never leave its own network namespace and hit the NetworkPolicy engi

[2020-10-28 12:58] jayunit100 commented on #95948
/sig network

[2020-10-28 13:03] jayunit100 commented on #95948
So it seems as though this type of crashing violates the basic premise that a "single" bad actor in a cluster shouldn't be able to bring down the whole cluster.    Since a Node CIDR is an  inherently recoverable and mutable field , we should be more forviging here and log this error as opposed to failing.
[code]

[2020-10-28 13:10] jayunit100 commented on #95948
/sig node

[2020-10-28 13:23] thejoycekung commented on #95936
- Service account for `push-build.sh` doesn't have the proper permissions to upload the build to `gcr.io/k8s-staging-ci-images` so that's why it's failing
- The intermittent passes are from builds that 'already exist', so they don't need to be uploaded

/kind failing-test
/assign @ameukam

[2020-10-28 13:27] thejoycekung commented on #95936
/remove-kind flake

[2020-10-28 13:35] thejoycekung commented on #95795
Closing because I think kubernetes/test-infra#19662 explains it all a bit better, and it's now resolved

/close

[2020-10-28 13:36] #95795 closed

[2020-10-28 13:36] thejoycekung commented on #95072
@robscott any updates on this?

[2020-10-28 13:44] thejoycekung commented on #94278
@kubernetes/sig-api-machinery-bugs looks like this test still periodically times out, would be great if someone could take a look

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=ResourceQuota%20should%20create%20a%20ResourceQuota%20and%20capture%20the%20life%20of%20a%20persistent%20volume%20claim

[2020-10-28 13:47] thejoycekung commented on #95026
closing this one too since #95173 got closed as well

/close

[2020-10-28 13:47] #95026 closed

[2020-10-28 14:10] andrewsykim commented on #95595
Interestingly the expected test string `storage: service returned error: StatusCode=403, ErrorCode=AccountIsDisabled, ErrorMessage=The specified account is disabled.` was logged:
[code]

Test:

https://github.com/kubernetes/kubernetes/blob/53d63fb748168f18396eee29cabd62815d30da95/staging/src/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController_test.go#L393-L395

[2020-10-28 14:11] andrewsykim commented on #95595
Also unable to reproduce this, ran it a few thousand times:
[code]

[2020-10-28 14:31] alculquicondor commented on #90962
Hi @cofyc is there any progress on this?

[2020-10-28 15:30] neolit123 commented on #95940
/remove-kind support
/kind feature
/sig apps

[2020-10-28 15:30] neolit123 commented on #95941
/sig auth

[2020-10-28 15:55] #89723 closed

[2020-10-28 16:16] yarinm commented on #95911
I am building a system that is continuously attaching a detaching disks and performing some operations on those disks. From our experience when we were doing that with EC2 instances, having more than 5-8 disks attached caused degrading issues on the VM. It's not set in stone but I'm not optimistic with running more than about 10 disks attached per node for our system.

[2020-10-28 16:16] deads2k commented on #95859
We (@lavalamp, myself, and a few others) wrote a position paper about storage extensions: https://docs.google.com/document/d/1i0xzRFB-uGLmLYueLMBTpHrOot9ScFxpkkcVcZHVbyA/edit# .  The bit that most concerns a different storage implementation is that we are not looking to merge "implementations of the existing interface that merely target a different storage vendor (i.e., anything not etcd3)".  We a

[2020-10-28 16:16] #95859 closed

[2020-10-28 16:18] lavalamp commented on #95859
A few additional thoughts:

Please use the approach of https://github.com/rancher/kine to solve this problem.

API Machinery doesn't have review bandwidth to tackle this right now, even if we were convinced it was necessary. And I really don't think you can convince us with the reasons given in the OP, "improve the performance and support DR" -- I don't see etcd as a barrier to either of those thi

[2020-10-28 16:36] tangweihua163 commented on #71647
retry several times and then failed:
[code]

success:
[code]

[code]

so, you may need to set your proxy to pass 192.168.0.0/16 directly

[2020-10-28 16:39] BenTheElder commented on #95893
Is this locally or CI? If the latter do you have a link or if the former can you say more about how you're running the tests?
/assign

[2020-10-28 16:57] soltysh commented on #95759
/kind feature
/priority backlog
/sig cli
/area kubectl
/triage accepted

[2020-10-28 17:07] hprateek43 opened #95952 "Refactor schedulerOptions to prevent global setters in parallelism"
**What would you like to be added**:
Refactor schedulerOptions to prevent global setters in parallelism

**Why is this needed**:
#94636 adds a global setter for Parallelism. The current implementation does not prevent modification of parallelism after scheduler initialisation. For a long term solution, we need to move this to framework and drop the package var, so that this should only be called o

[2020-10-28 17:09] hprateek43 commented on #95952
/sig scheduling

[2020-10-28 17:10] ginni-gidwani commented on #44273
/remove-lifecycle rotten

[2020-10-28 17:11] ginni-gidwani commented on #44273
/reopen

[2020-10-28 17:14] Mr-Howard-Roark commented on #93802
Thanks for your response!  That is such a relief that fsgroup ignores nfs.  Based on the behavior I see, I think it may not ignore the [smb flex volume plugin](https://github.com/Azure/kubernetes-volume-drivers/blob/a4386b750afd32685e6cc353c206a8c0e583148c/flexvolume/smb/deployment/smb-flexvol-installer/smb) we use to mount CIFS shares.  Whenever a developer includes fsGroup in conjunction with a

[2020-10-28 17:37] thedevilsvoice commented on #95039
Same issue here:

[code]

[2020-10-28 17:53] MaciekPytel commented on #95911
It will actually completely break cluster autoscaler, not just scale from 0. CA works by creating in-memory node object and feeding it to embedded scheduler code to see if adding a new node would help pending pod. Currently CA can't create an in-memory CSINode and so if scheduler started enforcing its presence all CA simulations would always fail.

I'd imagine we could probably easily add some glo

[2020-10-28 17:56] tosi3k opened #95955 "[Failing test] SystemLogMonitor should generate node condition and events for corresponding errors"
**Which jobs are failing**:
`ci-npd-e2e-node`

**Which test(s) are failing**:
`SystemLogMonitor should generate node condition and events for corresponding errors`

**Since when has it been failing**:
Last successful run (23 Oct 2020, 10:07 PDT): https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-npd-e2e-node/1319686617375444992
First unsuccessful run (23 Oct 2020, 12:08 PDT): https://prow.k8

[2020-10-28 18:00] creydr opened #95956 "Fake client does not update a secrets Data field, when StringData field was used"
**What happened**:

When creating a secret using the fake client and storing data in a secrets `StringData` field, these values do not get populated to the secrets `Data` field after the secret was stored. Running the same test with the normal client (against a local cluster (e.g. minikube)), the secrets `Data` field gets populated.

I wrote a simple test, which reproduces this issue:

[code]

Whi

[2020-10-28 18:01] tosi3k commented on #95955
Opened https://github.com/kubernetes/test-infra/pull/19735 for a mitigation that would make those jobs stop failing.

[2020-10-28 18:08] creydr commented on #95956
/sig api-machinery

[2020-10-28 18:16] msau42 commented on #95911
The other downside of this is if the actual volume limit is very low, CA doesn't know about that limit, and pending pods require volumes exceeding the limit, then CA could create new nodes that are actually unschedulable. But that's also an issue today so we're not making it worse.

We recommend that CSI drivers get deployed on all nodes with a DaemonSet, but it's possible that the deployer could

[2020-10-28 18:26] johan1252 commented on #92557
@liggitt @verb I had a chance to re-test this flow with `v1.20.0-alpha3` which contains the fix to https://github.com/kubernetes/kubernetes/pull/94685. Although the original issue appears to be fixed, I am hoping to understand what the end goal is for ephemeral containers and their webhook behaviour.

In my test, I enabled my `ValidatingWebhookConfiguration` to forward all resources `*/*`. When ru

[2020-10-28 18:53] mikedanese commented on #95159
What would be modifying these taints? Kubelet? Some other node agent?

[2020-10-28 18:54] tallclair commented on #95306
- Needs a KEP.
- Add an `AuditIDChain` field to the audit event API
- When API server receives request w/ Audit-ID header, set the audit ID chain to the audit-ID header, but still generate a unique ID for that request
- Response contains full audit ID chain (request chain + new ID)
- When following a redirect, forward the response chain.

[2020-10-28 18:54] cjcullen commented on #95941
To do this through RBAC, your approach is the correct one: Use `resourceName` in the role to specify the pod names you want to allow exec to. For example, your Role might have a rule like:
[code]

In the case of exec, you can also restrict access through dynamic admission. For example, a ValidatingWebhookConfiguration with a rule like:
[code]
would allow you to implement more fine-grained policy i

[2020-10-28 18:54] #95941 closed

[2020-10-28 18:57] tallclair commented on #95817
/assign @pjbgf @saschagrunert

I think this was a regression with the seccomp graduation to GA. Since we auto-convert 'docker/default' to the runtime default in fields, but PSPs that only allow 'docker/default' aren't accepting 'runtime/default'. I think the easiest fix is to just add both `docker/default` and `runtime/default` to the allowed profiles map whenever either is set (here: https://gith

[2020-10-28 18:59] saschagrunert commented on #95817
I'm happy to work on this one tomorrow if @pjbgf is not tackling the issue earlier :upside_down_face:
/assign

[2020-10-28 19:04] mattmoyer commented on #95815
I think you could also tackle this problem using a [credential plugin](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins). It's a little bit cumbersome because you need to output valid JSON from a shell script, but that isn't too hard with [`jq`](https://stedolan.github.io/jq/manual/):

[code]

Using this kubeconfig file would result in `kubectl`

[2020-10-28 19:18] weinong opened #95958 "Controller manager stuck in "the object has been modified; please apply your changes to the latest version and try again" even after restart"
**What happened**:
In controller manager we sometimes observed logs such as below. This happens to many resource type such as endpoints and replicasets. We thought it's staled informer cache, but after bouncing controller manager we still see the same logs. The only way to mitigate this is to bounce api-server.

[code]

`kubectl get hpa` returns resources with proper resource versions, though.

**

[2020-10-28 19:31] sreenigaddam77 opened #95959 "minikube not starting - 81476 server.go:154] unknown flag: --allow-privileged"
I1028 12:25:46.008388   81186 config.go:125] Using kubeconfig:  /scratch/sreegadd/.kube/config
-   Pulling images required by Kubernetes v1.16.8 ...
I1028 12:25:46.054352   81186 exec_runner.go:39] Run: sudo kubeadm config images pull --config /var/lib/kubeadm.yaml
X   Unable to pull images, which may be OK: running cmd: sudo kubeadm config images pull --config /var/lib/kubeadm.yaml: running comma

[2020-10-28 19:40] verb commented on #92557
Hi @johan1252,

Your admission controller should receive a review request for resource `pods` subresource `ephemeralcontainers` with a kind `EphemeralContainers`.

When I run a test on `v1.20.0-alpha.2.105+56833a63c902e8` using the `agnhost` test webhook and the config:

[code]

I see this request

[code]

[2020-10-28 19:55] gnufied commented on #93802
@Mr-Howard-Roark for flexvolume plugins - a plugin can opt-out of fsgroup based permission change by returning `FSGroup: false`. We have similar mechanism to opt-out of recursive permission change for csi plugins.

[2020-10-28 19:55] ahg-g commented on #95887
@adtac @alculquicondor @Huang-Wei should we change the Read/Write CycleState methods to be thread safe?

[2020-10-28 19:59] #91609 closed

[2020-10-28 20:00] alculquicondor commented on #95887
Adding locks without a proper reason would just increase the latency.

@fabiokung could you clarify your use case? Why do you need to write anything during Filter?

[2020-10-28 20:10] MHBauer commented on #95877
Diff there suggests three merges from k/k https://github.com/kubernetes/kubernetes/compare/1fcd02cc2...237dae5a5
Only merge in test-infra is an image bump https://github.com/kubernetes/test-infra/compare/dcfd6f385...18bef7827
<img width="215" alt="image" src="https://user-images.githubusercontent.com/13337345/97486687-0729f880-1919-11eb-961d-d3edc233df82.png">

Interesting that a similar ci versio

[2020-10-28 20:12] ahg-g commented on #95887
yeah, we should measure it, but I don't expect it to have significant effect...

[2020-10-28 20:17] adtac commented on #95887
Without contention (which is the case with in-tree plugins), I don't think this is a concern.

[2020-10-28 20:23] adtac commented on #95887
Adapting source from [here](https://stackoverflow.com/questions/57562606/why-does-sync-mutex-largely-drop-performance-when-goroutine-contention-is-more-t):

[code]

source: http://ix.io/2Ckx

[2020-10-28 20:43] adammw commented on #95159
In our setup, we have our bootstrap logic (ie a shell script on boot) running and verifying all checks are passing before sending a request to the API to untaint the node using the node/kubelet identity. While we could use a separate service account/user to allow the request via RBAC, that leaves a larger attack surface where if any node is compromised arbitrary taints can be modified on any node,

[2020-10-28 20:54] troy0820 commented on #95959
/kind support
/sig cluster-lifecycle
@sreenigaddam77 I would try upgrading to a newer version of minikube.  Minikube is on 1.14.2 now.

[2020-10-28 20:57] mmerkes commented on #95877
@MHBauer It is interesting that one passes and one does not. Primary differences are the number of nodes, resource settings, and the fact that the conformance tests use Docker.

[2020-10-28 21:42] alculquicondor commented on #95887
I remember locks showing up in profiling for PreScore/Score for certain plugins. Although I have to admit that the accesses were not properly implemented.

I'd like to hear an answer for https://github.com/kubernetes/kubernetes/issues/95887#issuecomment-718175135 before doing any experiments.

[2020-10-28 21:43] khenidak commented on #95958
/sig api-machinery

[2020-10-28 21:54] Riaankl commented on #95930
/assign @dchen1107 @derekwaynecarr

[2020-10-28 22:05] brasmith-ms commented on #95682
Hi all, this issue has been resolved in [https://github.com/microsoft/Windows-Containers/issues/68](https://github.com/microsoft/Windows-Containers/issues/68). If there are no further issues, I believe this ticket can be closed.

[2020-10-28 22:16] prometherion commented on #89723
/remove-lifecycle rotten

[2020-10-28 22:26] liggitt commented on #95956
This is expected. The stringData->data transformation is done server-side in conversion, which is not included in the fake client.

If you want to model/test a client that depends on this, you can prepend a reactor to the fake client to do this transformation

[2020-10-28 22:26] #95956 closed

[2020-10-28 22:40] estahn commented on #79610
We had to do this for all kube-control-managers.

[2020-10-28 22:41] Riaankl opened #95966 "HEAD & OPTIONS http verbs don’t seem to show up in the apiserver audit logs when we hit proxy endpoints."
### Description:
In the process of conformance testing of the '[PodProxyWithPath](https://github.com/kubernetes/kubernetes/pull/95503)' Endpoints we have ran into issue with testing `HEAD' and `OPTION` endpoints.

**Affected endpoints:**
- connectCoreV1OptionsNamespacedPodProxyWithPath
- connectCoreV1HeadNamespacedPodProxyWithPath
- connectCoreV1OptionsNamespacedServiceProxyWithPath
- connectCoreV

[2020-10-28 22:45] Riaankl commented on #95966
/assign @smarterclayton
/cc @hh @heyste

[2020-10-28 22:52] Riaankl commented on #95966
/sig network

[2020-10-28 23:05] hh commented on #95966
/sig apimachinery

[2020-10-28 23:06] hh commented on #95966
/sig api-machinery

[2020-10-28 23:19] MHBauer commented on #95877
In addition to the services log missing, the overall system run logs are also missing.

May be related to any decision we make for https://github.com/kubernetes/test-infra/issues/18973

[2020-10-28 23:20] liggitt commented on #95945
/sig storage
/remove-sig node

[2020-10-28 23:34] Huang-Wei commented on #95887
+1 to @alculquicondor that I'd also like to understand the motivations / requirements of mutating CycleState in Filter().

[2020-10-29 00:10] ezimanyi opened #95968 "Pod status.containerStatuses[].imageId depends on container runtime"
**What happened**:

The `status.containerStatuses[].imageId` for a `Pod` is different depending on whether the pod is running on a node with the `docker` runtime vs. the `containerd` runtime.

In particular, the docker runtime prefixes the repo digest with `docker-pullable://` whereas the containerd runtime does not.

For example, using `marketplace.gcr.io/google/nginx1:latest` as an example, the

[2020-10-29 00:12] ezimanyi commented on #95968
/sig node

[2020-10-29 00:50] chrishenzie opened #95969 "Create an E2E stress test suite for creation / deletion of VolumeSnapshot resources"
**What would you like to be added**:
I would like an E2E storage test that creates and deletes many VolumeSnapshots simultaneously, similarly to [stress.go](https://github.com/kubernetes/kubernetes/blob/1a37266208f00eaac02f818703dd6e128b1ca979/test/e2e/storage/testsuites/stress.go).

**Why is this needed**:
This kind of stress test would be useful in load testing various storage plugins.

/sig sto

[2020-10-29 00:51] BedivereZero opened #95970 "kubelet log: Could not get instat cpu stats: cumulative stats decrease"
**What happened**:

kubelet log

**What you expected to happen**:

kubelet not log this

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.16.3
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`): centos 7
- Kernel (e.g. `uname -a`):
- Install tools:
- N

[2020-10-29 00:55] BedivereZero commented on #95970
/sig node

[2020-10-29 01:22] brianpursley opened #95972 "Failure cluster [f7be2b34...]"
### Failure cluster [f7be2b3498ba4b22e50d](https://go.k8s.io/triage#f7be2b3498ba4b22e50d)

##### Error text:
[code]
#### Recent failures:
[10/23/2020, 3:34:41 PM ci-kubernetes-e2e-gci-gce-containerd](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-containerd/1319723868742488064)
[10/23/2020, 3:22:41 PM ci-cri-containerd-e2e-gci-gce](https://prow.k8s.io/view/gcs/kuber

[2020-10-29 01:22] brianpursley commented on #95972
/assign

[2020-10-29 01:23] chrishenzie commented on #95969
/assign

[2020-10-29 01:23] brianpursley commented on #95972
Sorry, this is a duplicate of https://github.com/kubernetes/kubernetes/issues/95832
/unassign
/close

[2020-10-29 01:23] #95972 closed

[2020-10-29 01:47] k82cn commented on #95859
kine is not acceptable which reduce the stability of our system.

I'm going to go through the doc to see what we can do on that.

[2020-10-29 02:26] chowmean opened #95974 "Api upgrading automatically when moving from k8s 1.14 to 1.16"
While upgrading we had a yaml with deployment `apps/v1` api. When we checked in 1.14 the deployment api is converted to `extensions/v1beta1`. Now when we run the same yaml in 1.16 the api used in `apps/v1`.
Is there any conversion that kubernetes does for backward compatibility in 1.14 for `apps/v1` but since `apps/v1` is available from 1.10 why it does so?

Kubernetes: Amazon EKS 1.14 -> Amazon E

[2020-10-29 03:33] liggitt commented on #95974
If you checked using something like `kubectl get deployment $name -o yaml`, that is an ambiguous request, since it does not indicate which API group or version of deployments you want to fetch.

When faced with an ambiguous request, kubectl resolves to the first API group/version listed in discovery which includes the specified resource.

Prior to 1.16, extensions/v1beta1 was the first API group l

[2020-10-29 03:33] #95974 closed

[2020-10-29 04:29] grosser commented on #70674
/lifecycle frozen

[2020-10-29 05:14] GraysonCAdams opened #95976 "Deployment with node selector / tolerations has NodePorts pointing to wrong node IP?"
**What happened**: My deployment has the following selector/toleration:
[code]

The workload is running on the correct node...
[code]

[code]

.... but the NodePorts resolve to the wrong Node IP. `[{"addresses":["10.0.0.16"]...`
[code]

**What you expected to happen**: NodePort service would resolve to the correct and only node running this deployment.

**Environment**:
- Kubernetes version (use `

[2020-10-29 05:16] GraysonCAdams commented on #95976
/sig network

[2020-10-29 05:19] robscott commented on #95072
Thanks for the reminder, filed https://github.com/kubernetes/kubernetes/pull/95977 to fix this.

[2020-10-29 06:42] yarinm commented on #95911
Node selector was still not enough as it take a few seconds for the value to register AFTER the label is already set on the nodes

[2020-10-29 07:03] JonathanRRogers commented on #81089
I have created a container image for use in a sidecar container that periodically syncs files from one directory to another. https://hub.docker.com/repository/docker/jonathanrrogers/secret-syncer/general

[2020-10-29 07:05] zhhray commented on #84764
I want to know if anyone is working on this issue now? Is there a pr about this issue？

[2020-10-29 07:07] MikeSpreitzer opened #95979 "API Priority and Fairness aims for even allocation rather than min-max fairness"
**What happened**:
@yue9944882 noticed that when the demand is uneven, the QueueSet implementation builds up an ever-increasing imbalance.  See the problem statement in #91567 (which does not have a correct fix, but identifies the problem).  https://github.com/kubernetes/enhancements/pull/1857 fixes the design; you can see the old design in https://github.com/kubernetes/enhancements/blob/f2af06bea

[2020-10-29 07:07] MikeSpreitzer commented on #95979
@kubernetes/sig-api-machinery-bugs

[2020-10-29 07:07] MikeSpreitzer commented on #95979
/cc @MikeSpreitzer

[2020-10-29 07:08] MikeSpreitzer commented on #95979
@yue9944882
@ahg-g
@lavalamp
@deads2k
@tkashem
@adtac

[2020-10-29 07:22] #94098 closed

[2020-10-29 07:52] ravisantoshgudimetla commented on #95682
Closing this issue as @brasmith-ms suggested

[2020-10-29 07:52] ravisantoshgudimetla commented on #95682
/close

[2020-10-29 07:52] #95682 closed

[2020-10-29 08:25] yue9944882 commented on #95979
and there's also a test proves the existence of the bug: https://github.com/kubernetes/kubernetes/blob/ecfcd5fe596b2683d5419b8ce2460272889f2d94/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go#L526-L559
and additionally i think that our current implementation can also be considered as a variation form of fair-queuing which also defined in the original paper n

[2020-10-29 09:55] verb commented on #84764
@zhhray  I have a goal to land this in 1.21. It needs KEP modification. PR is kubernetes/enhancements#1690

[2020-10-29 10:08] aermakov-zalando commented on #83107
/remove-lifecycle stale

[2020-10-29 10:41] dfang opened #95983 "delete ingress object hangs"
**What happened**:

delete ingress object hangs even with --force and --grace-period=0

[code]

no events in game-2048 namespace
[code]

**What you expected to happen**:
deleted

**How to reproduce it (as minimally and precisely as possible)**:
it might be hard to reproduce

**Anything else we need to know?**:

on a eks cluster,  the ingress is created from [this doc](https://docs.aws.amazon.com/e

[2020-10-29 10:50] saschagrunert commented on #95817
Fix is incoming in https://github.com/kubernetes/kubernetes/pull/95985

[2020-10-29 11:08] uablrek commented on #95976
Setting the "field.cattle.io/" is not done by K8s and can therefore not be fixed in K8s.

The service uses the default;
[code]
which means that the service can be reached from any node. You _may_ try;
[code]
and see if it helps. It might not because, as mentioned, the annotation setting is not done by K8s.

What kind of address is "10.0.0.16"? It should be a node address, but before a node seem to

[2020-10-29 11:30] liggitt commented on #95983
Does the load balancer add a finalizer to the ingress object? (you can check with `kubectl get ingress $name -o yaml`). If so, the object will not be removed until that finalizer is removed.

You can make delete return without waiting by adding `-wait false`, but for the object to actually be deleted the finalizer must be removed.

[2020-10-29 11:35] sindrepm commented on #54514
/reopen
/remove-lifecycle rotten

Any reason why this issue was closed? This "bug" is still present and cause unexpected behavior. In my opinion a ConfigMap volume marked as Optional should not mount an empty directory if the key does not exist.

[2020-10-29 11:40] ScrapCodes commented on #94753
This has more recently turned, even more flaky. https://testgrid.k8s.io/sig-release-master-blocking#conformance-ga-only

[2020-10-29 11:45] antoineco commented on #54514
/reopen

[2020-10-29 11:50] wojtek-t commented on #94691
It seems that this one isn't yet fully fixed.
I have updated the https://github.com/kubernetes/kubernetes/pull/94480#issuecomment-718619842 based on the comments on it and faced a similar issue on that (which I think has a very similar root cause).

However, now "govet" and "staticcheck" are failing:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/94480/pull-kubernetes-verify/132175349

[2020-10-29 11:52] wojtek-t commented on #94691
As previously, I can reproduce it by:
[code]

[2020-10-29 12:00] wojtek-t commented on #94691
I'm fairly sure at this point that the inputdirs param here is too restrictive:
https://github.com/kubernetes/kubernetes/blob/master/build/code_generation.bzl#L86

[2020-10-29 12:09] didil commented on #46381
as a note for others who are looking for an option to do this, there is now a tool to achieve this, also available as a krew plugin https://github.com/corneliusweig/konfig

[2020-10-29 13:29] deads2k commented on #95902
Try using `NewBroadcasterWithCorrelatorOptions`.  by setting a `KeyFunc` with message in the key or even just creating a UID, you can ensure that your events are never correlated and you have control over burst and qps settings.  I would recommend using care, if your app has a bug, you can create so many events that etcd struggles to keep up.  That's actually what drove us to create the correlator

[2020-10-29 13:29] #95902 closed

[2020-10-29 13:32] slinkydeveloper commented on #95902
@deads2k can we document this somewhere? If you point me in the right direction, I can take care of documenting it :smile:

[2020-10-29 13:37] deads2k commented on #95902
You can godoc the new methods in here https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/record/event.go#L170 .  To create any broadcaster, you first had to find that package, so I think that's probably sufficient.

[2020-10-29 13:49] deads2k commented on #95903
So a few preliminary comments about the situation. The code currently does

[code]

This means that enough events were created in a short enough time frame that multiple events managed to be created for the same object in the same nanosecond (or close enough that the system returned the same nano).  Now our default broadcaster limits events about a single object to one every 600 seconds.  That mea

[2020-10-29 13:53] neolit123 commented on #70679
https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/1205-bound-service-account-tokens/README.md#scalability

do we have scale testing plans for this upstream?
my understanding is that if a lot of pods are spawned at once, the rotation would be scheduled for them all at once at the api server.

[2020-10-29 14:04] liggitt commented on #70679
the normal scale tests will exercise this, both in the density and load tests

@mikedanese, do you remember if the renewal time was jittered at all? @msau42, do you know if volume remount operations for multiple pods on the same node happen in parallel or serially?

[2020-10-29 14:11] ryanberger-az commented on #90077
networking.k8s.io/v1beta1 == 1.14 to 1.18

networking.k8s.io/v1 = 1.19+

[2020-10-29 14:26] slinkydeveloper commented on #95903
In our use case we're not using k8s events in production, just in our test-infra. Every time we receive a request in our test-images, we log it to k8s events. What I think happened here is that we received 2 requests more or less at the same time, causing the name to be the same.

[2020-10-29 14:29] deads2k commented on #95903
Spoke on slack. This is being used to back an event load during testing that is intended to be unlimited throughput, without event correlation.  These objectives work against the goal of the event broadcaster, so I recommend not using it for this.  I would also caution against using events as a datastore in general.  They are intended as best-effort, human speed messages in a namespace.  We expect

[2020-10-29 14:29] #95903 closed

[2020-10-29 14:33] deads2k commented on #95913
EventTime is a field added in events.k8s.io/v1beta1.  Since the field is new, we know that the caller is aware of the new API and is subject to the rules documented in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/events/v1/types.go#L28 .

If you don't use the new field associated with events.k8s.io, then the tighter validation rules do not apply to the request.

/clo

[2020-10-29 14:33] #95913 closed

[2020-10-29 14:35] dfang commented on #95983
yes, there is a finalizer, after read some docs and know what exactly finalizer is.

[code]

i remember i deleted the alb resource in aws management console before,  so it always failed.  after `kubectl edit` and remove finalizers, i can delete it

so i'll close it.

thanks for your help !

[2020-10-29 14:35] #95983 closed

[2020-10-29 14:39] gnufied commented on #95911
When a new node is added can be add a dummy `CSINode` object to that node with "0" attach limit or something similar (but we might have to modify scheduler to consider 0 limits) and when driver actually starts up it will populate correct limit or if the driver does not support limits then the "0" limit can be removed.

[2020-10-29 14:39] wojtek-t commented on #94691
It seems that this commit might be addressing this:
https://github.com/kubernetes/kubernetes/pull/94480/commits/8004ccea28137084001e1bc3d019a07c28410619

[2020-10-29 14:43] jpbetz opened #95989 "Typed client support for Server Side Apply"
**What would you like to be added**:

There should be a typesafe, programmatic way to construct server side apply configurations and apply them via the typed client in client-go.

KEP: [Client-go Apply](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2155-clientgo-apply)

- [ ] Generated builders - https://github.com/kubernetes/kubernetes/pull/99012
- [ ] Generated Ap

[2020-10-29 14:48] ibotty commented on #67019
That's not yet fixed, afaict.

[2020-10-29 15:12] johan1252 commented on #92557
@verb I see it now...must have had a misconfiguration on my previous test. Sorry about that. Thanks for your work on this! Having ephemeral container support is very useful!

[2020-10-29 15:18] wojtek-t commented on #94691
Heh - I think it helped me locally, but it doesn't help for #94480 - I probably did something wrong.
But I'm fairly sure it's something along those lines that we need to do.

@roycaihw - will you be able to help with it?

[2020-10-29 15:22] GraysonCAdams commented on #95976
I tried setting to local but did not observe any difference.

If I access the node port over the correct IP, it does in fact pull up as it should. However the service references in the UI of Rancher are incorrect.  Could this be a Rancher bug? Such a simple use case should be achievable, right? Am I approaching this wrong?

10.0.0.16 is on my 10.0.0.0/24 subnet for my VLAN. I have a couple nodes o

[2020-10-29 15:37] ZaphodB commented on #95706
I think that is a fair assessment and basically i wanted to let you know of this issue so it is documented as i was not able to find any previous reports or information on the issue on my search for it.
Sadly i am unaware of any part of the documentation that would be fitting for a short remark on this however i feel that more people might walk into this in the future and since it effectively shut

[2020-10-29 15:46] dionysius commented on #67019
Correct, this is not yet fixed. But I think there are not enough voices for kubernetes to care... :disappointed:

[2020-10-29 15:49] #93203 closed

[2020-10-29 15:56] immanuelfodor commented on #54923
/remove-lifecycle rotten

[2020-10-29 16:06] craiglpeters commented on #95595
Looks like a true flake. Does this need attention?

[2020-10-29 16:42] zshihang commented on #70679
no, i didn't see we are adding any jittering.

serially. https://github.com/kubernetes/kubernetes/blob/2729b8e375143434fc4977fe49eaea572567dac3/pkg/kubelet/volumemanager/reconciler/reconciler.go#L204

[2020-10-29 17:01] liggitt commented on #70679
Probably worth adding to a list to consider while in beta. If there are issues, I'd expect them to also appear in the "lots of pods startup" phase of scale tests.

that's good, it means we won't get a thundering herd from a single node

[2020-10-29 17:26] lavalamp commented on #95859
What is wrong with kine? And why can it not be fixed?

[2020-10-29 17:32] jingxu97 commented on #58347
I wonder this is actually solved in upstream. See #56355, it seems only fixed an openshift.

[2020-10-29 17:33] jwm commented on #65502
/lifecycle stale

[2020-10-29 17:33] #58347 closed

[2020-10-29 17:33] jwm commented on #65502
/remove-lifecycle stale

[2020-10-29 17:47] hanlins commented on #95727
Spent a few hours on the investigation, it's likely to be some internal `ClientConn` states being messed up in `grpc`.

[2020-10-29 17:57] wojtek-t commented on #94691
So yeah - I was completely wrong.
Basically, running with with DBG it clearly is a problem with gen-conversion.
And the problem is that we pass only limited input to it:
https://github.com/kubernetes/kubernetes/blob/master/build/root/Makefile.generated_files#L445

I think we should always pass all inputs - but we should look a bit deeper into it.

[2020-10-29 18:21] #91276 closed

[2020-10-29 18:21] #87736 closed

[2020-10-29 18:24] geerlingguy commented on #95492
I just wanted to mention this ticket was featured over in [Coffee and Cloud Native - E54](https://www.youtube.com/watch?v=7yWbxqwRMCU), and one potential workaround to running insane quantities of Jobs in K8s would be a separate tool like [armada by G-Research](https://github.com/G-Research/armada/).

I haven't had time to really dig into this yet, mostly because I'm super distracted right now by

[2020-10-29 18:31] Huang-Wei commented on #95492
Thanks @geerlingguy . Good to know that all Pods are completed, so it seems more a scalability issue in controller manager side.

[2020-10-29 18:32] ravisantoshgudimetla commented on #95735
Kubelet can do this itself though golang.org/x/sys/window calls (GetCurrentProcess() and Get/SetPriorityClass())

I can work on this, I am wondering if we should do the same for CRI(like docker) and CNI processes.

[2020-10-29 18:44] marosset commented on #95735
@ravisantoshgudimetla Sure, if you want to work on this go ahead.
I think we should probably try to make this be toggleable via a kubelet flag.
I believe there are other windows specific flags already implemented in the kubelet (like one to run as a windows service IIRC)

[2020-10-29 18:44] kinghrothgar commented on #95258
Alright, my current theory is maybe there's a race condition in the clearing of conntrack entries and creation of the iptables rules pointing at the new IP. Here's the setup and steps I took.

Pod IP info:
[code]

Output of conntrack while in working state:
[code]

I then delete the server pod and the replacement's IP is `10.16.32.57`

It is now in the broken state. This is the output for the conn

[2020-10-29 18:48] wojtek-t commented on #94691
OK - so this is the problematic part:
https://github.com/kubernetes/gengo/blob/master/parser/parse.go#L465-L470

We basically process only packages that are explicitly requested by the user and ignore ones that are imported.
So in order to have the conversion func imported by the generator, the package where it lives has to be explicitly imported.

So we should basically always pass all input pack

[2020-10-29 19:00] tallclair commented on #95817
Thanks for the quick fix @saschagrunert ! Can you open a cherry-pick for v1.19 too? (see https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md#initiate-a-cherry-pick)

[2020-10-29 19:03] robscott commented on #95072
/triage accepted

[2020-10-29 19:04] tallclair commented on #82295
Unfortunately I think @immutableT is no longer working on Kubernetes, and I won't be able to get to this.

@mikedanese would anyone from your team be able to pick this up? Or maybe @micahhausler (I can't remember why this was assigned to you)?

/unassign @immutableT

[2020-10-29 19:09] saschagrunert commented on #95817
Forgot to link it, but this is already done: https://github.com/kubernetes/kubernetes/pull/95990 :)

[2020-10-29 19:22] #91545 closed

[2020-10-29 19:23] wojtek-t opened #96015 "Conversion generator doesn't correctly regenerate conversions if only some directories changed"
In the codegenerator we have:
https://github.com/kubernetes/gengo/blob/master/parser/parse.go#L465-L470

So basically we process only packages that are explicitly requested by the user and ignore ones that are imported.
So in order to have the conversion func imported by the generator, the package where it lives has to be explicitly imported.

So we should basically always pass all input packages

[2020-10-29 19:23] wojtek-t commented on #94691
I actually created a new one, as it seems to be a different thing. Closing in favor of https://github.com/kubernetes/kubernetes/issues/96015

[2020-10-29 19:23] #94691 closed

[2020-10-29 19:25] dcbw commented on #92125
/close

[2020-10-29 19:25] #92125 closed

[2020-10-29 19:27] dcbw commented on #95552
Given the PR merged, should we close this issue?

[2020-10-29 19:27] msau42 commented on #70679
For every mount operation, we spawn a go routine per unique volume, so the same volume will remount serially, but different volumes will happen in parallel

[2020-10-29 19:37] harsh4870 commented on #69696
@benvdh Can you please share the example **PDB** command you used for your configuration or YAML config ?

Also how about the **metrics-server**? i am running it inside **kube-system** single replicas. i don't mind setting PDB for it also if it goes down for 1 min.

i have 4 pools 3 are **non-scalable** and only **1** is scalable i was thinking to fix the **metrics-server** using **node selector**

[2020-10-29 19:37] rikatz opened #96017 "No kubectl profile when a sigterm occurs"
**What happened**: While investigating #93784 I've found that kubectl doesn't handle sigterm with profiling.

This way, when profiling a long run command (as wait, drain, etc) and interrupting the command in the middle (ctrl-c, as an example) the profile file is not available.

**What you expected to happen**:

Profiling file exists if the command exists correctly or if the command is interrupted

[2020-10-29 19:37] rikatz commented on #96017
/sig cli
/assign

[2020-10-29 19:45] Mr-Howard-Roark commented on #93802
Ok thanks for sharing.  I was not aware of that and will try to make the adjustment to the plugin we're using.

[2020-10-29 19:50] mskrocki opened #96018 "nftables do not scale for services"
**What happened**:
Can only scale up to ~500 services on a nftables based cluster (CentOS 8+, Debian 10+) with kube-proxy.
With 1000 services, around half fails to work.

**What you expected to happen**:
Tested with same cluster deployment, but on Ubuntu 18.04 (that uses legacy iptables) and managed to reach 2500 services.

**How to reproduce it (as minimally and precisely as possible)**:
* create

[2020-10-29 20:02] gnufied commented on #93802
I am marking this as closed, hoping that k8s has enough hooks in place to ensure shared filesystems don't accidently get chwoned.

/close

[2020-10-29 20:02] #93802 closed

[2020-10-29 20:06] aceqbaceq commented on #3595
+1

[2020-10-29 20:10] marcelo-devsres commented on #87491
Just happened in our production cluster as well.

[2020-10-29 20:19] kinghrothgar commented on #95258
I trying to debug this further and logs that should be getting printed out are not and I'm not sure what I'm doing wrong. I set my log level to 4 and restarted kubelet. I verified that kubelet correctly printed out `FLAG: --v="4"`. However when I delete the server pod, I see neither of these logs:
https://github.com/kubernetes/kubernetes/blob/v1.16.13/pkg/kubelet/dockershim/network/hostport/hostpo

[2020-10-29 20:21] chrishenzie opened #96022 "Cleanup non-namespaced objects in interrupted e2e tests"
/sig storage

**What happened**:
When you interrupt the e2e storage stress test, namespaced objects are cleaned up, but non-namespaced objects like StorageClasses are not cleaned up.

**What you expected to happen**:
Non-namespaced objects like StorageClasses are cleaned up so long as the user doesn't interrupt a second time.

**How to reproduce it (as minimally and precisely as possible)**:
[code

[2020-10-29 20:23] R-omk commented on #81775
/remove-lifecycle stale

[2020-10-29 20:24] roycaihw commented on #95875
/assign @obeyda
Thanks!
/triage accepted

[2020-10-29 20:26] roycaihw commented on #95882
/assign @brianpursley
cc @caesarxuchao
/triage accepted

[2020-10-29 20:30] roycaihw commented on #95966
/sig auth
/sig security
/remove-sig network
/help

[2020-10-29 20:36] liggitt commented on #70679
ok, good to know. @zshihang, let's add jittering the node renewal to the list for 1.21

[2020-10-29 20:38] cmluciano opened #96024 "IPv6 Conntrack UDP NodePort kind tests failing"
**Which jobs are failing**:
sig-network-kind-ipvs,dual,master
sig-network-kind-ipvs,IPv6,master

**Which test(s) are failing**:

- [ ] KubeProxy should set TCP CLOSE_WAIT timeout
- [ ] Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort Service
- [x] KubeProxy should resorve connection reset issue (tracking in  #93281)

**Since when has it been failing**:
Oct 28

[2020-10-29 20:39] cmluciano commented on #96024
/sig network
/cc @aojea @andrewsykim
/assign @cmluciano

[2020-10-29 20:40] cmluciano commented on #96024
I'm spinning up a kind cluster with ipv6+ipvs to see if I can replicate this test locally

[2020-10-29 20:45] deads2k commented on #94528
@rphillips can you have a look at the sig-node failure in https://github.com/kubernetes/kubernetes/issues/94528#issuecomment-687208028 ?

[2020-10-29 20:51] manderson23 commented on #78759
/remove-lifecycle stale

[2020-10-29 21:08] cmluciano commented on #96024
/triage accepted

[2020-10-29 21:09] bridgetkromhout commented on #96018
Discussion of newer OS version. (At least 1.8.4 of iptables)
/assign @dcbw

[2020-10-29 21:10] bridgetkromhout commented on #95976
/assign @aojea

[2020-10-29 21:15] bridgetkromhout commented on #95948
/assign @jayunit100

[2020-10-29 21:15] aojea commented on #95948
/cc

[2020-10-29 21:16] rikatz commented on #94883
/close

Closing due to lack of information, feel free to reopen the issue if the problem persists.

[2020-10-29 21:16] #94883 closed

[2020-10-29 21:27] alculquicondor commented on #93547
/close

A implementation was done in kubernetes-sigs/scheduler-plugins#36

[2020-10-29 21:27] #93547 closed

[2020-10-29 21:35] aojea commented on #96024
heh, the job was not running it, it started to run when we changed the tag

[2020-10-29 21:38] roycaihw commented on #95958
/sig autoscaling
/sig apps

@weinong Was the controller keep sending requests with the same resource version or different ones? I wonder if it can be some other clients in your cluster racing updating the objects.

IIRC the informer lists from watch cache after restart, while kubectl lists from etcd. cc @wojtek-t @jpbetz

I think we need more evidence and a way to reproduce to better triage this i

[2020-10-29 21:38] aojea commented on #96024
this one has an issue already open, and I have a PR for fixing it
`KubeProxy should resorve connection reset issue #74839`
https://github.com/kubernetes/kubernetes/issues/93281

[2020-10-29 21:39] bridgetkromhout commented on #95860
/assign @dcbw

[2020-10-29 21:41] bridgetkromhout commented on #95838
/assign @danwinship

[2020-10-29 21:41] jayunit100 commented on #95633
@cmluciano iirc you were working on this right ? i saw a flyby pr

[2020-10-29 21:42] roycaihw commented on #96015
I think this caused https://github.com/kubernetes/kubernetes/issues/95803. Not sure if https://github.com/kubernetes/kubernetes/issues/78499 was related yet.

[2020-10-29 21:43] bridgetkromhout commented on #95712
/assign @aojea

[2020-10-29 21:43] benvdh commented on #69696
@harsh4870 From the [Autoscaler FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-to-set-pdbs-to-enable-ca-to-move-kube-system-pods):
[code]

So to implement the fluentd-gcp pod disruption above you would use:
[code]
To discover the available labels you need for the selector parameter above, you can just do a `kubectl describe` on the running pods in the kube-

[2020-10-29 21:43] bridgetkromhout commented on #95633
/assign @cmluciano

[2020-10-29 21:45] bridgetkromhout commented on #95555
/triage accepted

[2020-10-29 21:46] bridgetkromhout commented on #95552
/triage accepted

[2020-10-29 21:46] kinghrothgar commented on #95258
Also, to add more info, I do not have network policy enabled (so I shouldn't be using calico) but I do have VPC native enabled. I am seeing these logs which implies to me I am using a CNI plugin though:
[code]
I believe I have found the CNI binary and running `gke --version` prints out: `CNI ptp plugin v0.8.5-gke.1`

[2020-10-29 21:48] bridgetkromhout commented on #95501
/assign @jayunit100

(Intermittent failures that can't be reproduced)

[2020-10-29 21:49] bridgetkromhout commented on #95493
/assign @jayunit100

[2020-10-29 21:49] jayunit100 commented on #95493
/close

[2020-10-29 21:49] #95493 closed

[2020-10-29 21:50] bridgetkromhout commented on #95486
/triage accepted

[2020-10-29 21:53] bridgetkromhout commented on #95339
@danwinship says: should always probe from a different node

/assign @danwinship

[2020-10-29 21:55] bridgetkromhout commented on #95258
/assign @aojea @bowei

[2020-10-29 21:56] bridgetkromhout commented on #95251
/triage accepted
/assign @khenidak

[2020-10-29 21:57] bridgetkromhout commented on #95133
/triage accepted

[2020-10-29 21:58] bridgetkromhout commented on #94861
/triage accepted

[2020-10-29 22:05] fabiokung commented on #95887
My particular use-case, is that we have resources being dynamically added/removed from Nodes, and those resources need to be allocated (and tracked) in the scheduling loop.

Technically I could pre-compute all the available dynamic resources for all Nodes at the `PreFilter` phase, and snapshot it, but that would require me to pre-compute everything for all Nodes on all scheduling cycles.

Instead,

[2020-10-29 22:06] bridgetkromhout commented on #94598
/triage resolved

[2020-10-29 22:07] bridgetkromhout commented on #94598
/triage accepted

[2020-10-29 22:18] aojea commented on #95712
@chrisohaver is this something you can help us here?

[2020-10-29 22:28] aojea commented on #95976
Lars is totally right in his comment, and the issue was acknoledged in rancher
https://github.com/rancher/rancher/issues/29833#issuecomment-718985143

Thanks for the detailed explanation ,though :smile:
/close

[2020-10-29 22:28] #95976 closed

[2020-10-29 22:30] aojea commented on #95486
kindly ping @hulucc , can you provide the information requested in
https://github.com/kubernetes/kubernetes/issues/95486#issuecomment-709613975
and
https://github.com/kubernetes/kubernetes/issues/95486#issuecomment-709613590

[2020-10-29 22:44] SergeyKanzhelev commented on #95552
@lala123912 do you want to keep the issue to track cherry-picks? I don't think we can cherry pick to 1.15, do you have plans to upgrade to one of the supported versions? I think the best solution would be to fix the bug on callsite, but shouldn't be a problem to backport.

[2020-10-29 23:03] freehan commented on #95133
Looks like the LB did not stabilize before timeout. Still looking.

We are considering disabling some of the tests here

[2020-10-29 23:26] #91117 closed

[2020-10-29 23:37] jsturtevant commented on #95735
docker/containerd should probably have a flag that allows them to run as high priory as well but would likely be different issues in the respective projects

[2020-10-29 23:40] qiutongs commented on #93988
I am happy to take over this.

/assign

[2020-10-29 23:52] weinong commented on #95958
From audit log, I really don't see any "list" from informer (is it expected?). but the watch always has the same resource version even after controller-manager is restarted.

[2020-10-30 00:27] kinghrothgar commented on #95258
Alright, I don't believe this is a race condition, it's a matter of the old entries just aren't removed. I deleted the pod with this command running: `conntrack -E -p udp --dport 8125` which monitors all changes to the conntrack table. This was the output:
[code]
All the NEW events contain the correct `src=10.16.32.76` which is the new pod's IP. However as shown in previous messages conntrack entr

[2020-10-30 00:40] #33766 closed

[2020-10-30 00:47] weinong commented on #95958
[code]
@roycaihw what does it mean?

[2020-10-30 02:20] herbguo commented on #94575
Hello,

I have encountered this problem, and I have solved it.

First，Enter the node where the CoreDNS running, and execute the command : `iptables-save` ;
Second, View the CoreDNS NAT filter，whether the source ip changed when the CoreDNS Pod restart. If the ip is different , you can clear the iptables and restart the kube-proxy in the node to make the kube-proxy reflush the iptables.

[2020-10-30 02:32] lala123912 commented on #95552
OK

[2020-10-30 02:32] feiskyer commented on #95595
/assign @andyzhangx  @ZeroMagic

[2020-10-30 02:35] dims commented on #90952
excellent thanks for tracking this down @dprotaso

/close

[2020-10-30 02:35] #90952 closed

[2020-10-30 02:35] lala123912 commented on #95552
sorry，I have been busy with other affairs, not notice that the pr has merged,I will close this issue.

[2020-10-30 02:35] #95552 closed

[2020-10-30 02:44] SingularBunny commented on #50375
+1

[2020-10-30 02:59] andyzhangx commented on #95595
I cannot repro this failure either, while if it's really flacky, I could remove this ut since that's really legacy code, since it's azure blob disk code which is deprecated long time ago, remove ut is quite safe.

[2020-10-30 03:14] jpepin commented on #68522
@dashpole What's the best way to get involved with this KEP discussing the deprecation?

[2020-10-30 03:30] andyzhangx commented on #95595
here is the PR to remove this flacky ut: https://github.com/kubernetes/kubernetes/pull/96031

[2020-10-30 03:30] #91610 closed

[2020-10-30 03:30] andyzhangx commented on #95595
/assign

[2020-10-30 04:04] #94011 closed

[2020-10-30 04:16] harsh4870 commented on #69696
Thanks for the quick response, got it. i got confused due to **Max unavailable NA**.

[2020-10-30 05:37] maaoBit opened #96034 "kube-proxy --cleanup don‘t clean ipvs rules"
**What happened**:
kube-proxy don’t clean ipvs rules with `--cleanup `.

**What you expected to happen**:
kube-proxy clean ipvs rules with `--cleanup ` by default.

**How to reproduce it (as minimally and precisely as possible)**:
Run kube-proxy in ipvs mode, and clean rules with `kube-proxy --cleanup`.

**Anything else we need to know?**:
 Based on https://github.com/kubernetes/kubernetes/pull/76

[2020-10-30 05:49] maaoBit commented on #96034
/sig network

[2020-10-30 06:14] dxGuan opened #96035 "Unable to use local persistent volume to persist data if mounting a host path volume into statefulset"
**What happened**:
Unable to persist(write) data to local persistent volume from statefulset if  declaring a volume from hostpath.
**What you expected to happen**:
The data can be persisted(written) to local persistent volume.
**How to reproduce it (as minimally and precisely as possible)**:
* Base on the [ZK-sample](https://kubernetes.io/zh/docs/tutorials/stateful-application/basic-stateful-set/)

[2020-10-30 06:23] dxGuan commented on #96035
/sig Storage

[2020-10-30 06:45] virendrasuryavanshi commented on #40973
Getting the same issue:
Kubernetes v1.18.10

[2020-10-30 06:46] wojtek-t commented on #95803
It wouldn't be the big problem by itself without this bug: https://github.com/kubernetes/kubernetes/issues/96015

[2020-10-30 06:46] wojtek-t commented on #96015
It's the other way around - this is the main bug and root cause and the other that you linked is a consequence.

[2020-10-30 06:47] wojtek-t commented on #96015
Also @thockin - FYI

[2020-10-30 06:49] wojtek-t commented on #95803
Basically the problem is that we pass different set of arguments to the generator, which is resulting in a different output. See the issue I linked for better description.

[2020-10-30 07:13] YueHonghui commented on #96035
[code]
dup `volumeMounts`?

[2020-10-30 07:20] wojtek-t commented on #96015
I actually already started looking into it - so let me assign this.

[2020-10-30 07:42] dxGuan commented on #96035
Oh, my bad! Closing it, thx!

[2020-10-30 07:42] #96035 closed

[2020-10-30 08:03] mborsz opened #96038 "[Flaky Test] gce-master-scale-performance flakes"
**Which jobs are failing**:
ci-kubernetes-e2e-gce-scale-performance
**Which test(s) are failing**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1321950252458053632

[code]

**Since when has it been failing**:
Single test failure on 10-29.
**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance
**

[2020-10-30 08:03] jicki commented on #89898
We too are facing the same issue in our cluster.

[2020-10-30 08:04] mborsz commented on #96038
/sig scalability

[2020-10-30 08:06] mborsz commented on #96038
/priority critical-urgent

[2020-10-30 08:14] mborsz commented on #96038
Logs for test-9dedmf-11/big-job-0

[code]

so it looks like big-job-0 is being deleted instead of scaling down from 250 to 218. For comparison, logs for another big-job-0:

[code]

[2020-10-30 08:22] mborsz commented on #96038
In kube-controller-manager logs I see:

[code]

this means that we must have entered this code path: https://github.com/kubernetes/kubernetes/blob/24010022ef53f58455a32a5e081eabc2943092fa/pkg/controller/job/job_controller.go#L520-L535

This can happen only if jobFailed is true, which can be true only if `exceedsBackoffLimit` (`pastBackoffLimitOnFailure` must be false as we use RestartPolicy: Never

[2020-10-30 08:25] evgmoskalenko commented on #68737
* AWS EKS 1.18

Example work for me:

1. Backup sts (StatefulSet)

[code]

Edit storage to the new value from 30Gi to 40Gi (for example) in vm-victoria-metrics-cluster-vmstorage.yaml

2. Delete sts (StatefulSet)

[code]

3. Look PVC CAPACITY

[code]

[code]

4. Define SC allowVolumeExpansion to true

[code]

[code]

[code]

5. Edit PVC

[code]

change PVC storage requests:

[code]

waiting for the

[2020-10-30 08:34] #95937 closed

[2020-10-30 08:35] #91565 closed

[2020-10-30 08:59] petr-motejlek commented on #81089
Any more through the hoop jumping that people are willing to do? This is a simple thing.

Postgres, OpenSSH, ... think that if they can constrain the ownership and permission bits of an item, they will somehow make that item secure. Seems like people are OK with that, so ... why isn't there a simple feature in k8s, that would allow one to just say: here is a volume, populate it with this secret/co

[2020-10-30 09:05] raz3k opened #96040 "HSTS Header Missing From HTTPS apiserver"
**What would you like to be added**:
Add the "Strict-Transport-Security" header to the API server responses.

**Why is this needed**:
Nessus scanner treats this as a Medium Risk in kubernetes 1.18.10.

[2020-10-30 09:16] mborsz commented on #96038
kube-apiserver logs for pod deletions in given job from job-controller:

[code]

There are 264 deletions in total. They are grouped in two groups: 32 calls at at 01:08:09, ~3 second break and 232 calls between  01:08:13 and 01:08:14.

So it looks like job controller has been running two iterations on the given job. The first one scaled down from 250 to 218 by deleting 32 pods which is correct. The

[2020-10-30 09:23] wojtek-t commented on #96015
https://github.com/kubernetes/kubernetes/pull/96041 is out for review

[2020-10-30 09:30] soltysh commented on #82905
We're tracking this in https://github.com/kubernetes/kubectl/issues/818.
/close

[2020-10-30 09:30] bboreham commented on #95204
Suggest `kube_node_status_capacity{resource="cpu"}` from [kube-state-metrics](https://github.com/kubernetes/kube-state-metrics/blob/master/docs/node-metrics.md) as an alternative (declared as "stable").

[2020-10-30 09:30] #82905 closed

[2020-10-30 09:32] knight42 commented on #91506
Now #95856 has been merged and apiserver no longer listen on insecure port 🎉 .

I am going to disable the insecure port in controller-manager and scheduler, but found that apiserver would access their insecure ports for health checks: https://github.com/kubernetes/kubernetes/blob/8b59fe9612ac36e0de8603aa6ca7a9b47eb122a5/pkg/registry/core/rest/storage_core.go#L344-L347 and it looks like we still gr

[2020-10-30 09:36] raz3k commented on #96040
/sig api-machinery

[2020-10-30 09:43] JonathanRRogers commented on #81089
This issue exists to point out that there is a feature missing in Kubernetes. Of course the workarounds shouldn't be necessary.

[2020-10-30 09:45] wojtek-t commented on #95958
THe fact that those two are different is expected:
- when listing from cache return RV that can be from objects of that type (so in this case it can be RV of the last even of any HPA object)
- whe listing from etcd we get the higher RV across the whole etcd

[The first one will change once https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1904-efficient-watch-resumption

[2020-10-30 09:48] wojtek-t commented on #95958
No wait...

71905040 > 71902025

So that seems super strange - it suggests that the watchcache is in front of kube-apiserver.
That generally can't happen, because we update watchcache only based on list/watch from etcd...

Did you do something strange to the etcd? Like restore its state or something?

[2020-10-30 09:54] mborsz commented on #96038
In jobFailed code path:
* we first list pods for a given job to `pods` variable
* then set activePods to `pods` that has status not in {Succeeded, Failed} and DeletionTimestamp is not set.
* then set failed to count pods in `pods` that has status Failed (regardless if they have DeletionTimestamp set or not)
Later we delete only pods in `activePods`.

1. This looks weird as there are some pods (e.g

[2020-10-30 10:18] ikropotov opened #96043 "Add option to use alternative docker runtime"
**What would you like to be added**:

It would be great to have option for *running alternative OCI runtime for docker CRI*. I am looking for running more isolated\hardened containers for DIND(docker-in-docker) and KIND(kubernetes-in-docker) jobs on scale

This project is very promising for it: https://github.com/nestybox/sysbox#using-sysbox
They provide a significantly hardened runtime, based o

[2020-10-30 10:39] bboreham commented on #68522
Seems relevant to this discussion: apparently a set of metrics like `machine_memory_bytes` and `machine_cpu_cores` stopped being generated by kubelet in 1.19, due to some reorganisation inside cAdvisor #95204.

[2020-10-30 10:46] frbimo opened #96044 "Statefulset can't have QoS Guaranteed"
I found that pod QoS isn't `Guaranteed` when i set resources limit and request equal.
Moreover, under kubernetes configuration with `cpuManagerPolicy: static`, seeing from overall cpu usage, there is no _cpu isolation_ as i expected.

Did i miss something or this is by design?

**What happened**:
QoS Class is `Burstable` when` limits is equal requests` on `Statefulset`
**What you expected to happe

[2020-10-30 10:48] frbimo commented on #96044
/sig node

[2020-10-30 11:00] petr-motejlek commented on #81089
Agreed, Jonathan. :)

[2020-10-30 11:09] Skitionek commented on #73692
Problem persists
/reopen

[2020-10-30 11:33] leilajal commented on #95636
cc @logicalhan

[2020-10-30 12:17] tosi3k commented on #95955
This won't work, unfortunately. Copying @knight42's response:

[2020-10-30 12:27] ASAPHAANING opened #96046 "Secret resources claim created but doesn't exist"
**What happened**: Tried to modify this secret. Didn't get reflected. Deleted it, recreaed it. Then the following happens:

[code]

**What you expected to happen**: Create the secret.

**How to reproduce it (as minimally and precisely as possible)**: Not sure.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware co

[2020-10-30 12:53] chrisohaver commented on #95712
Sure. I think a good solution could be to define a CRD that holds alias names for Services, and a new plugin in CoreDNS that monitors the Custom Resource. I can propose something in more detail if that sounds reasonable. Should this be in the form of a KEP?

[2020-10-30 13:55] rphillips commented on #94528
@liggitt https://github.com/kubernetes/kubernetes/pull/96048

For the TestDevicePluginReRegistrationProbeMode test.

[2020-10-30 14:21] aojea commented on #95712
let me summon @thockin , there was another request recently in [sig-network about DNS (unrelated to this)](https://groups.google.com/g/kubernetes-sig-network/c/JjonaXdWAr4/m/oydqaPS5AQAJ) and maybe is interesting explore this CRD via with DNS (ala service-api maybe?)

[2020-10-30 14:28] wojtek-t opened #96049 "Watchcache is enabled for events even though it shouldn't be"
While debugging some scalability issues, I found that watchcache seems to be enabled for events.

More can be found in this issue:
https://github.com/kubernetes/perf-tests/issues/561#issuecomment-719583086

/sig api-machinery
/kind bug
/priority important-soon

[2020-10-30 14:29] wojtek-t commented on #96049
I will look into it on Monday if noone will get to this before then.

[2020-10-30 14:40] knight42 commented on #95955
@tosi3k I have filed #96050 to address this issue, but it seems I could not run the test in advance to verify my patch, did you know how to manually trigger the presubmit job?

[2020-10-30 14:59] wojtek-t commented on #96049
Broken by https://github.com/kubernetes/kubernetes/pull/91818 in 1.19 release - once fixed should be cherrypicked.

[2020-10-30 15:02] soltysh commented on #47202
It mentions this as a consideration/possible improvement. It doesn't guarantee if nor when this will be approached. I can say with 100% guarantee it's not going to happen before CronJob GA, which will take this and another 2 releases.

[2020-10-30 15:05] soltysh commented on #36304
The problems with sorting events were fixed recently, so it should not fail and complain about reflection any more. For the long-term better support for events, we're trying to implement https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/20191008-kubectl-events.md

[2020-10-30 15:05] benlangfeld commented on #47202
@soltysh It can still be properly discussed. It has been widely demonstrated that this is a necessary feature. The insistence on kicking the ball down the road on this shows an enormous disconnect between the maintainers and users.

[2020-10-30 15:15] tosi3k commented on #95955
Unfortunately I don't :/. My PR was also a wild guess. @Random-Liu could you take a look at the proposed fix?

Thanks once again for your help - really appreciated :).

[2020-10-30 15:17] orlakwahr opened #96053 "invalid bearer token, square/go-jose: error in cryptographic primitive"
this is a fresh install with kubeadm init.
all by https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/
the only addition I had to do was mount --bind /var/lib/kubelet /var/lib/kubelet because of btrfs

I have a lot of

Oct 30 18:12:14 lhost kubelet[5451]: W1030 18:12:14.385578    5451 container.go:549] Failed to update stats for container "/kubepods.slice/k

[2020-10-30 15:29] soltysh commented on #47202
@benlangfeld I'm very open to this, but time is the main limiting factor here :disappointed:

[2020-10-30 15:49] thejoycekung opened #96055 "[Failing Test] Services should be able to change the type from {ClusterIP, NodePort} to ExternalName [Conformance]"
**Which jobs are failing**:
`ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts`

**Which test(s) are failing**:
`[sig-network] Services should be able to change the type from ClusterIP to ExternalName [Conformance]`
`[sig-network] Services should be able to change the type from NodePort to ExternalName [Conformance]`

**Since when has it been failing**:
Oct 29

**Testgrid link

[2020-10-30 15:49] perezjasonr commented on #70411
This appears to have worked for me. Thank you.

well to clarify, by "fixed" we mean its going to trace level so it doesn't flood right? but technically the issue is still happening it just wont fill up kube-api logs it seems.

[2020-10-30 15:51] invidian commented on #70411
Yeah, it won't flood by default. But given that the reason for this log message heavily depends on the environment you run on, there is nothing to fix in kube-apiserver itself.

[2020-10-30 15:53] benlangfeld commented on #47202
There is already a proposed fix. What input do you need in order to get this accepted?

[2020-10-30 15:55] soltysh commented on #47202
The controller is being re-written, that's the primary focus right now. The change will be possible only with the new controller. It's pointless to change the old one which is meant to be replaced.

[2020-10-30 16:11] liggitt commented on #91506
for the health checks, see comment on https://github.com/kubernetes/kubernetes/pull/95522#issuecomment-708633054

[2020-10-30 16:14] Culip commented on #43750
I agree, that minor feature would be great. An obvious workaround is to use `kubectl version | tr ',' '\n'`.  You can also make an alias for your shells.

[2020-10-30 16:45] mmerkes commented on #95750
PLEG issues are definitely a challenge. However, I have some concerns about updating the pod cache in max parallel. [One goal of the PLEG design was to reduce the overhead of getting the pod status](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/pod-lifecycle-event-generator.md), as there used to be one go routine per pod. If we update the pod cache in max p

[2020-10-30 16:54] rtheis opened #96057 "Upgrades to v1.20.0-beta.0 causes service updates to fail with "spec.clusterIPs: Required value""
**What happened**:

`kubectl label service --overwrite -n kube-system kube-dns kubernetes.io/name=CoreDNS` fails with `The Service "kube-dns" is invalid: spec.clusterIPs: Required value` on Kubernetes v1.20.0-beta.0 cluster after it has been upgraded from v1.20.0-alpha.3.

**What you expected to happen**:

Command is successful.

**How to reproduce it (as minimally and precisely as possible)**:

C

[2020-10-30 16:55] rtheis commented on #96057
/sig network

[2020-10-30 16:55] knight42 commented on #91506
@liggitt Thanks! looks like we could migrate the health checks first.

[2020-10-30 16:55] aojea commented on #96057
/assign @khenidak @thockin
/cc @aojea

[2020-10-30 18:00] msau42 commented on #92237
Currently volume provisioners will still provision new PVs with beta labels in the NodeAffinity. At the time of implementation, we didn't want to change to v1 because not all nodes had v1 labels and it would add complexity to the csi migration translation layer to parse a nodeaffinity that had a (v1 or v1beta) rule.

But now that we can expect all nodes to have v1 topology on them, I think the tra

[2020-10-30 18:14] #91029 closed

[2020-10-30 18:14] #96022 closed

[2020-10-30 18:16] mmerkes commented on #95877
@MHBauer Would we be able to kick off a Prow job with custom configuration? In other words, to rule in or rule out something in the image change, can we kick off a job with the latest everything else but use the older image?

In reference to the decision on https://github.com/kubernetes/test-infra/issues/18973, are you suggesting we pause investigation and see if we decide to just move or change t

[2020-10-30 18:29] Huang-Wei commented on #94230
Ready to work on this, got another DP [here](https://github.com/kubernetes/kubernetes/pull/82222#issuecomment-719699190).

[2020-10-30 18:37] richardwxn opened #96060 "Server Side Apply Caused some fields of Custom Resources to be pruned"
**What happened**:
We are from Istio team, we recently integrate server side apply into Istio Operator. We have a CRD called Envoyfilter: [Definition](https://github.com/istio/istio/blob/master/manifests/charts/base/crds/crd-all.gen.yaml#L1183-L1427), [API](https://github.com/istio/api/blob/master/networking/v1alpha3/envoy_filter.proto). However we found out that during istio upgrade, the `value`

[2020-10-30 18:38] richardwxn commented on #96060
/wg api-expression
/sig api-machinery

[2020-10-30 18:39] cmluciano commented on #96024
@aojea reached out to me on Slack and we identified `Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort Service` as the high priority. I have tested this locally and it fails on both IPTables and IPVS kind clusters locally. I'm digging through the cluster logs now.

[2020-10-30 18:42] richardwxn commented on #96060
Added audit logs from GKE, can see the difference between request/response, in the response the value field of CR was pruned to empty. But what's more weird is that how does the existing CRs also affected, there were no other operations updating them during upgrade, but their value fields were silently removed as well.
[patch_operation.txt](https://github.com/kubernetes/kubernetes/files/5466972/pa

[2020-10-30 18:45] #86209 closed

[2020-10-30 18:50] YuraHrunyk commented on #90764
I'm seeing the same issue, though I noticed that it happens only on one node in the whole cluster. Even after re-creating a cluster from scratch, the test always fails only on one specific node. However this node is identical to others, but the test succeed on rest of the nodes.

[2020-10-30 19:16] janetkuo commented on #88896
This behavior is documented here: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#forced-rollback:

[2020-10-30 19:39] thejoycekung commented on #94931
@zhouya0 Any news on this? The test is still flaking:

- triage: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=evicts%20pods%20with%20minTolerationSeconds
- spyglass: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1321664634117165056

[2020-10-30 19:43] illegalnumbers commented on #50375
+1

[2020-10-30 19:48] aramase commented on #96057
I tried testing this with an Azure cluster and was able to repro

Steps taken -

1. Created cluster with v1.20.0-alpha.3
[code]

2. Tried labelling the service for kube-dns and custom service. No errors.
[code]

3. Upgraded the cluster manually -
- Updated api server to `v1.20.0-beta.0`
- Updated controller manager to `v1.20.0-beta.0`
- Updated scheduler to `v1.20.0-beta.0`
- Updated kubelet and r

[2020-10-30 19:52] aramase commented on #96057
`kubectl get svc <svc name> -o json` doesn't contain the `clusterIPs` field

[code]

New service created after upgrade has the `clusterIPs` field as expected

[code]

[2020-10-30 19:56] adtac commented on #93757
FYI: I'm working on the second test.

[2020-10-30 20:12] aramase commented on #96057
Tried an upgrade with https://github.com/kubernetes/kubernetes/pull/95894 included in the build and don't see any errors. The `ClusterIPs` field is populated on the read - https://github.com/kubernetes/kubernetes/pull/95894/files#diff-c5577c2f53301f4aa1efc47e52b01514c96642dd26d140aac54b956f99adb0ccR172-R175

[2020-10-30 20:55] weinong commented on #95958
@wojtek-t does resource version imply the age of a resource like timestamp? etcd restore may be the culprit. but can api-server recover from such event?

[2020-10-30 21:12] victor-timofei commented on #95733
@fedebongio @rapatchi I made the pull requests to backport the bug.
Happy Halloween 🎃🍬
/trick-or-treat

[2020-10-30 21:47] #63022 closed

[2020-10-30 21:57] vedantdave77 commented on #53881
Hello, I have windows 10 and I also had the same problem, by resetting the kubernetes cluster, now I solved problem.
I was using the docker- desktop and also have the minikube setup. so first I deleted the minikube from the programs and disable the kubernetes from docker desktop.

Then I restart my computer to make sure that the other files removed properly from the file system as well.

For, new

[2020-10-30 21:59] aojea commented on #96024
I' ve added logging to conntrack with level v4 recently https://github.com/kubernetes/kubernetes/pull/95694 just for these problems, try to bump your kube-proxy logging to v4

[2020-10-30 22:31] khenidak commented on #96057
Thank you @aramase - I will keep this open until @rtheis confirms from his end.

[2020-10-30 22:31] khenidak commented on #96057
/triage accepted

[2020-10-30 22:46] #95072 closed

[2020-10-30 23:00] TheMisir commented on #53059
The lesson learned here: Don't use kubernetes for database.

[2020-10-30 23:16] andy-v-h commented on #38684
Sorta late to the party, but this behavior stops us from being able to use a Deployment to mitigate a production memory leak. Our application can handle a `SIGTERM`, but a `OOM` `SIGKILL` leaves items in a pending state for our customers. Killing pods on a regular basis through kubernetes would allow us to induce known behavior of a graceful termination versus deploying new code to handle a timer

[2020-10-30 23:22] roycaihw opened #96065 "apiserver lacks validation for duplicate owner reference entries"
**What happened**:
apiserver allows objects being created/updated with duplicate owner reference entries, which may lead to huge objects being created in the system.
[code]

**What you expected to happen**:
The apiserver either rejects the request, or silently removes the duplicates.

Rejecting the requests is going to break the clients that is doing this, plus people won't be able to write to the

[2020-10-30 23:30] Huang-Wei commented on #85031
It's still flaky on both master and PR testing:

- master: https://k8s-testgrid.appspot.com/sig-release-master-blocking#integration-master&include-filter-by-regex=TestPreemptionRaces ([log](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1322220788899647488))
- PR testing:  #96062 ([log](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/96062/pull-ku

[2020-10-30 23:31] alena1108 opened #96066 "A single resource cache sync failure shouldn't break the entire ResourceQuota controller logic"
**What happened**:

1. Had a failing conversion webhook for one of the CRDs
2. ResourceQuota controller started throwing errors "timed out waiting for quota monitor sync", and the resource subtraction logic stopped working: https://github.com/kubernetes/kubernetes/blob/f2ed1b55803177c9b02b0acf134a011a5fb20544/pkg/controller/resourcequota/resource_quota_controller.go#L448

**What you expected to ha

[2020-10-30 23:36] andy-v-h opened #96067 "Allowing activeDeadlineSeconds to be set for deployments"
**What would you like to be added**:

I would like to be able to set a `deployment.spec.template.spec.activeDeadlineSeconds`.

**Why is this needed**:

One of the teams on the k8s platform I manage is having a memory leak. Which is an issue they are working on, however in the mean time a `SIGTERM` to the pod triggers a graceful shut down. However when the memory limit is reached we get a `SIGKILL`

[2020-10-30 23:48] fejta-bot opened #96068 "[Flaky Test] [sig-node] querying /stats/summary is timing out"
### Flaky Job: pr:pull-kubernetes-node-e2e
 Flakes in the past week: **11**
 Consistency: **97.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Node Tests | 11 |
| [k8s.io] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api | 6 |

#### Previously closed issues for this job flaking:
#64948 #85303 #91369 #735

[2020-10-31 00:05] Huang-Wei commented on #85031
From the above two logs, I'm feeling that there is a "phantom" event (very likely of type Update by enforced resync) triggering the `preemptor` pod in the completed N<sub>th</sub> test, to be still alive in the N+1<sub>th</sub> test.

[code]

[2020-10-31 00:05] andy-v-h commented on #40157
What makes this really interesting is sometimes you want the kernel to do the OOMKill when the node is under memory pressure, other times it woul dbe nice if kubernetes would preemptively SIGTERM as a OOMKill because the container is approaching a set limit

[2020-10-31 00:13] hanlins commented on #95727
**TL;DR**: It should be related to gRPC.

Hacked the vendored gRPC mod and changed its [internal dial](https://github.com/kubernetes/kubernetes/blob/v1.19.3/vendor/google.golang.org/grpc/internal/transport/http2_client.go#L138-L143) to something like this:
[code]
Then CPU only spike for a few seconds after `containerd` restart then comes back to normal instead of failing the `dial` all the time.

[2020-10-31 02:47] Ark-kun commented on #70013
/reopen

[2020-10-31 03:14] #95595 closed

[2020-10-31 05:09] Huang-Wei commented on #85031
/triage accepted
working on a fix.

[2020-10-31 05:14] virendrasuryavanshi opened #96070 "unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined"
**What happened**:
I'm using `kubeCfg,err := rest.InClusterConfig()` for getting the cluster config inside of minikube for the dynamic informer.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
- export GO111MODULE=on

- go mod init ([go.mod file](https://codeshare.io/5wm9LP))

- Run the [dynamic informer](https://codeshare.io/GAPpLl)

**Anything else we need to know?**:

[2020-10-31 05:27] virendrasuryavanshi commented on #96070
/sig network
/sig node

[2020-10-31 05:55] #89880 closed

[2020-10-31 05:59] hkamel opened #96072 "[Failing Test] sig-cluster-lifecycle-cluster-api-provider-gcp (capg-conformance-v1alpha3-k8s-master)"
**Which jobs are failing**:
`ci-cluster-api-provider-gcp-make-conformance-v1alpha3-k8s-ci-artifacts`

**Which test(s) are failing**:
- ` Overall`
- `Kubernetes e2e suite.[sig-network] Services should be able to change the type from ClusterIP to ExternalName [Conformance]`
- `Kubernetes e2e suite.[sig-network] Services should be able to change the type from NodePort to ExternalName [Conformance]`
-

[2020-10-31 06:01] hkamel commented on #96072
/retitle sig-cluster-lifecycle-cluster-api-provider-gcp (capg-conformance-v1alpha3-k8s-master)

[2020-10-31 06:01] hkamel commented on #96072
/retitle [Failing Test] sig-cluster-lifecycle-cluster-api-provider-gcp (capg-conformance-v1alpha3-k8s-master)

[2020-10-31 06:09] hkamel commented on #96038
/retitle [Failing Test] gce-master-scale-performance flakes on job scaling

[2020-10-31 06:12] hkamel commented on #96038
@thejoycekung @mborsz the job start failing since 10-29 16:01 PDT
`ClusterLoaderV2`
`ClusterLoaderV2.load `
`overall (testing/load/config.yaml)`
`OverallClusterLoaderV2.load: [step: 25] Collecting measurements`

`:0
[measurement call TestMetrics - TestMetrics error: [action gather failed for SystemPodMetrics measurement: restart counts violation: RestartCount(etcd-server-events-gce-scale-cluster-m

[2020-10-31 06:46] zffocussss commented on #49931
it is meaningful to control the scaling behavior in a specific time window. in most of the cases, the pods and nodes are more idles in the evening.

[2020-10-31 09:59] #91159 closed

[2020-10-31 10:38] #96015 closed

[2020-10-31 12:01] jacky68147527 opened #96074 "How to distinguish between manual and HPA modification of replicas"
I used admission webhook to intercept the changes of replicas, because I need to call the external interface to approve the resources when it is triggered by HPA, but manual changes do not need to be intercepted, please help me,thanks!

[2020-10-31 12:07] jacky68147527 commented on #96074
I used admission webhook to intercept the changes of replicas, because I need to call the external interface to approve the resources when it is triggered by HPA, but manual changes do not need to be intercepted, please help me,thans!

[2020-10-31 12:08] thejoycekung commented on #96072
dupe of #95832 and #96055

/close

[2020-10-31 12:08] #96072 closed

[2020-10-31 13:05] draveness commented on #92592
/remove-lifecycle rotten

[2020-10-31 13:38] andyzhangx commented on #70013
/reopen

[2020-10-31 13:44] jim3ma commented on #70013
We implement a solution  - transferring fd in csi pod with surging rolling update.

[2020-10-31 13:47] andyzhangx commented on #70013
@jim3ma do you have the details of the solution? thanks.

[2020-10-31 13:56] jim3ma commented on #70013
Currently, this solution is using in Ant Group, we will open source in [Dragonfly Image Service](https://github.com/dragonflyoss/image-service) some times later.

Another solution: csi container starts a fuse session in another container in host not in pod, then we can update csi pod with keeping a fuse session containers.

[2020-10-31 15:22] aojea commented on #95948
Jay do you mean patching directly the node.Spec.PodCIDR field with an external client?

[2020-10-31 15:35] aojea commented on #96034
it seems that this flag entered deprecation, so I think that recovering functionaly is not the right approach

https://github.com/kubernetes/kubernetes/blob/aa1f91286838d373a6d9217ad9f4fe0647a1c859/cmd/kube-proxy/app/server.go#L166

@andrewsykim @thockin you were involved in the discussion with this flag in https://github.com/kubernetes/kubernetes/pull/76109, can you take a look at this?

[2020-10-31 16:05] aojea commented on #95633
@jayunit100 @cmluciano should we aggregate the info in one and close the other, this seems a duplicate of https://github.com/kubernetes/kubernetes/issues/95368

[2020-10-31 16:05] #91493 closed

[2020-10-31 16:20] aojea commented on #95570
Technically is doable, I think that is just modifying the allocationg strategy on the bitmap allocator to "reserve" one area, so `AllocateNext()` never allocates anything in the reserverd area.

https://github.com/kubernetes/kubernetes/blob/b2e1165/pkg/registry/core/service/allocator/bitmap.go#L64-L65

but since the allocators are not exposed, I can't find an easy way to specify the reserved area

[2020-10-31 16:24] aojea commented on #95733
/remove-sig network

[2020-10-31 16:27] aojea commented on #95381
/close

there is no flakes in the report for this test, it has another ones though
[code]

[2020-10-31 16:27] #95381 closed

[2020-10-31 16:40] aojea commented on #96024
@cmluciano seems that there are less  test failures on the IPv6 jobs, let's keep watching them :eyes:

However, the dual-stack jobs are legit failures, basically because on dualstack clusters, the node has 2 internal IPs, and those tests use the internal IP for asserting some operations, and the problem is that they are picking the internalIP of the wrong IP family, hence the test fails

https://g

[2020-10-31 16:46] aojea commented on #94862
another one for the podCIDR bag :smile:
xref https://github.com/kubernetes/kubernetes/issues/57130

[2020-10-31 17:06] #74340 closed

[2020-10-31 17:32] grosser commented on #91923
FYI a workaround I found was making all of docker not immediately stop when the node is terminated, which is a bit heavy-handed but did the job.

[code]

[2020-10-31 18:19] omnibs commented on #67577
Should we close this issue and start a new one? The spamming here is likely going to make any conversation very difficult.

[2020-10-31 18:24] sfxworks commented on #67577
^I agree. A lot has been done to resolve this.

[2020-10-31 19:08] #85155 closed

[2020-10-31 19:50] frittentheke commented on #84366
/remove-lifecycle rotten

[2020-10-31 21:15] monotek commented on #79432
/remove-lifecycle stale

[2020-11-01 02:11] dims commented on #67577
/close

based on comments above. please open fresh issue(s) as needed.

[2020-11-01 02:11] #67577 closed

[2020-11-01 02:13] Voxis commented on #76146
not sure whats causing this. I had virtualbox VMs (3) on windows 10 amd64. and this issue happened after restarts, spent days to figure things out, including trying to set kubernetes up in different distros of linux.

then i switched to vmware player, no issue so far. Again, my scenario is arbitrary, if anyone has the same setup as me, probably give vmware a try.

[2020-11-01 03:16] ITonyLi commented on #95307
@tallclair @leilajal Can you help me review PR?

[2020-11-01 06:19] #91715 closed

[2020-11-01 07:06] glensc commented on #67577
please notify the followup issues to this issue, so people subscribed to the issue can subscribe to new issues to follow

[2020-11-01 09:06] hkamel opened #96078 "[Failing Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:
`ci-kubernetes-e2e-gce-scale-correctness`

**Which test(s) are failing**:
- `Kubernetes e2e suite.[sig-network] Services should be able to change the type from NodePort to ExternalName [Conformance]`
- `Overall`
- `Test`

**Since when has it been failing**:
`10-31 16:01 UTC+04`

**Testgrid link**:
`https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master

[2020-11-01 09:18] cben commented on #73692
/reopen

[2020-11-01 10:09] hkamel opened #96079 "[FailingTest] Conformance - GCE - master (ci-kubernetes-gce-conformance-latest)"
**Which jobs are flaking**:
`ci-kubernetes-gce-conformance-lates`

**Which test(s) are flaking**:
- `Overall`
- `Test`
- `Kubernetes e2e suite.[sig-cli] Kubectl client Kubectl server-side dry-run should check if kubectl can dry-run update Pods [Conformance]`

**Testgrid link**:
`https://k8s-testgrid.appspot.com/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master`

**Reason for failure**

[2020-11-01 10:09] hkamel commented on #96079
/retitle [FailingTest] Conformance - GCE - master (ci-kubernetes-gce-conformance-latest)

[2020-11-01 10:13] hkamel commented on #96079
/kind failing-test
/remove-kind flake

[2020-11-01 11:30] anil503rgpv opened #96080 "Kubelet is not starting in vagrant --> kubelet to boot up the control plane as static Pods from"
[root@master vagrant]# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /usr/lib/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: activating (auto-restart) (Result: exit-code) since Sun 2020-11-01 10:59:44 UTC; 2s ago
     Docs: https://kub

[2020-11-01 11:35] srkunze opened #96081 "Compatibility LXD and Kubernetes"
Hi folks, I am playing around with Kubernetes again. This time, I wanted to box Kubernetes up into its own linux container to keep things clean on the host machines.

During preflight checking, the following error/warning popped up: `unable to load kernel module "configs"`

Solution in this case was:

https://github.com/corneliusweig/kubernetes-lxd

Thus, this work-around:
[code]
I reached out to

[2020-11-01 13:28] distributethe6ix commented on #95830
@johnreytanquinco Are you able to hop on a zoom call with me either later today or sometime tomorrow? I want to replicate the issue myself in KinD.

[2020-11-01 13:38] hormes opened #96082 "Memory efficient list operation"
Right now, if a list request is sent to apiserver, we return to the client at once by constructing a complete list object like this:

apiserver performs a list, perform filtering request, return a list of the objects, serialized into a huge response and send to the client. If a large number of list requests come at the same time, the instantaneous memory overhead of apiserver is very large, and ma

[2020-11-01 14:58] jayunit100 commented on #96070
This is not a sig-net issue, but its just that your client doesn't have the metadata passed into it properly can you take a quick look at the docs for https://github.com/kubernetes/client-go and make sure nothing solves it for you ?

[2020-11-01 14:58] jayunit100 commented on #96070
/remove-sig network

[2020-11-01 15:09] jayunit100 commented on #96078
Looks like a magic number in the retry ... should we make it bigger or do a different retry ? + also looks like this isn't a common failure...
[code]

[2020-11-01 16:05] thejoycekung commented on #96079
dupe of #95832

/close

[2020-11-01 16:05] #96079 closed

[2020-11-01 16:07] thejoycekung commented on #96078
dupe of #96055

@jayunit100 there's a related PR open for this currently: kubernetes/test-infra#19752 if you want to take a look

/close

[2020-11-01 17:32] AndrienkoAleksandr commented on #71350
/remove-lifecycle stale

[2020-11-01 17:49] jmcmeek opened #96083 "Ephemeral storage requests on initContainers can cause pod to be unschedulable"
**What happened**:

In a v1.18 cluster with the LocalStorageCapacityIsolation feature gate disabled setting an ephemeral-storage request or limit causes the pod to be unschedulable:
`Warning  FailedScheduling  56s (x3 over 119s)  default-scheduler  0/3 nodes are available: 3 Insufficient ephemeral-storage.`

If the ephemeral-storage request is removed the pod is scheduled.

This behavior exists in

[2020-11-01 17:51] jmcmeek commented on #96083
/sig sig-scheduling

[2020-11-01 17:52] jmcmeek commented on #96083
/sig scheduling

[2020-11-01 17:55] loozhengyuan commented on #87840
/assign

[2020-11-01 18:03] thejoycekung opened #96085 "[Failing Test] ci-kubernetes-build / ci-kubernetes-build-canary"
**Which jobs are failing**:
`ci-kubernetes-build`
`ci-kubernetes-build-canary`

**Which test(s) are failing**:
`Overall`

**Since when has it been failing**:
Nov 1 7AM PST, since commit a0d23de08 ?

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#build-master
https://testgrid.k8s.io/sig-release-master-informing#build-master-canary

**Reason for failure**:
`make release` fail

[2020-11-01 18:38] jayunit100 commented on #95948
yeah, `kubectl edit` the spec  is enough to bring down the entire kcm :)

[2020-11-01 19:05] aojea commented on #96085
ping @liggitt

[2020-11-01 19:33] aojea commented on #96085
seems a docker issue trying to build on darwin
https://github.com/ory/dockertest/issues/212#issuecomment-685162574

[2020-11-01 19:43] aojea commented on #96085
/assign
I have a Pr to fix, testing it now

[2020-11-01 19:51] jayunit100 commented on #96055
Looks like a magic number in the retry ... should we make it bigger or do a different retry ? + also looks like this isn't a common failure... not necessarily the "root" cause, but presumably if this value was higher, this would be less likely to abruptly blow up.

[code]

Are there guidelines on how many times a single instant transaction API call should be retried in the e2es?

[2020-11-01 21:30] ngmariusz opened #96086 "wsl wsl2 kubernetes kind windows 10 /usr/local/bin/kind: 1: Not: not found"
in
https://kubernetes.io/blog/2020/05/21/wsl-docker-kubernetes-on-the-windows-desktop/

there is
[code]
which evaluates to

[code]

but there is no such file and it is erroring quietly

what actualy works:

[code]

[2020-11-01 21:57] liggitt commented on #96085
Very strange… at first glance, that implies:
* the sys update breaks compatibility
* the pull-kubernetes-typecheck job does not accurately check Darwin compile compatibility

[2020-11-01 22:55] aojea commented on #96085
I' ve sent a PR with the details, basically sys dropped support for direct syscalls in https://github.com/golang/sys/commit/6fcdbc0bbc04dcd9e7dc145879ceaf9bf1c6ff03 , and docker was using it. Fortunately all the docker ecosystem was already fixed

[2020-11-01 23:14] aojea commented on #96086
/sig documentation
/cc @BenTheElder

[2020-11-01 23:15] aojea commented on #96086
/sig docs

[2020-11-02 02:25] frbimo commented on #96044
v1.19.2 also have similar problem

[2020-11-02 02:46] Aaron-23 opened #96090 "GracePeriodSeconds failure problem"
I set up for my pod  `terminationGracePeriodSeconds: 30`, but the pod is still not stopped after the time has passed. The test image I used is nginx, and the yaml file is as follows

[code]
pod details
[code]
**Environment**:
- Kubernetes version (use `kubectl version`): "v1.16.2"
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install t

[2020-11-02 02:49] Aaron-23 commented on #96090
/sig Cluster Lifecycle

[2020-11-02 02:58] hormes commented on #96082
/sig api-machinery

[2020-11-02 03:01] khenidak commented on #95251
What is the material impact of this behavior?

[2020-11-02 03:27] ramnar commented on #93100
@zhouya0 - I would like to work on pkg/cmd/create/create_serviceaccount.go. Can you please assign me that

[2020-11-02 03:31] zhouya0 commented on #93100
Sure

[2020-11-02 05:12] thanhlong9x opened #96091 "Static policy (CPU Management Policies) just pin 1 cpu on Guaranteed QoS for Pod"
**What happened:**
I'm using guaranteed Qos with static policy to pin cpu into my pod. Althought I check right number cpu-pin on container at file /var/lib/kubelet/cpu_manager_state, my app is only run 1 cpu when run my pod.
**What you expected to happen:**
I expect that my pod use all cpu-pinned as request resource in my deployment file.
**How to reproduce it (as minimally and precisely as possib

[2020-11-02 05:19] lingsamuel commented on #95039
Is this a cadvisor issue https://github.com/google/cadvisor/issues/2229#issuecomment-487336715?

[2020-11-02 05:44] Huang-Wei commented on #96083
I can confirm it's a bug. Will work on it.

/assign

[2020-11-02 05:58] apyrgio commented on #89062
/remote-lifecycle stale

@logicalhan: Any idea if this issue has been resolved? I see that the event validation logic has significantly changed in the `master` branch.

[2020-11-02 07:18] mborsz commented on #96038
The flakes/failure seems to be caused by recent changes to test itself (https://github.com/kubernetes/test-infra/pull/19729), not necessary kubernetes failure. It's quite unexpected as before merging that PR, I have ran manually ~5 test runs and none of them has shown etcd-server-events restarts. I'm going to revert test changes.

[2020-11-02 07:31] pohly commented on #79980
/remove-lifecycle rotten

[2020-11-02 07:31] pohly commented on #79980
/lifecycle frozen

[2020-11-02 07:33] frbimo commented on #96044
After investigating for hours, i found there are `Init Containers`  that use different resources values.
Fixed the issue by setting resource identical with `containers` 's resource value.

https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-guaranteed does not have a particular example of `statefulset`.  Since `statefulset` k

[2020-11-02 07:34] frbimo commented on #96044
/kind documentation

[2020-11-02 07:45] frbimo commented on #96091
can you elaborate more? how many resources you assigned. Can you post output `kubectl describe <pod_name>`

[2020-11-02 08:05] thanhlong9x commented on #96091
@frbimo I try with 2 or 4 cpu on pod but only 1 cpu run. On server, My app run with 150% cpu. This is my pod config:

![image](https://user-images.githubusercontent.com/29721257/97844029-dd0f7680-1d1c-11eb-8d2c-638a062aea6a.png)

[2020-11-02 08:16] chbois commented on #89181
@kvaps OS is linux Ubuntu 20.04 (kernel 5.8.0).

[2020-11-02 08:18] obeyda commented on #95875
@wojtek-t, can you please provide more context or some guidance on how to proceed?

[2020-11-02 08:45] #91804 closed

[2020-11-02 09:41] pohly commented on #90752
/remove-lifecycle stale

[2020-11-02 09:41] pohly commented on #90752
/lifecycle frozen

[2020-11-02 09:57] maaoBit commented on #96034
thanks for your reply. The `--cleanup-IPVS` was added in https://github.com/kubernetes/kubernetes/pull/56036, to avoid removing IPVS rules which are not created by kube-proxy. According to https://github.com/kubernetes/kubernetes/issues/78797#issue-453627530, It seems that deleting ipvs rules by default is expected, but it is not so. I think that keeping --cleanup-ipvs is meaningful, unless kube-p

[2020-11-02 10:07] bertinatto commented on #84585
/remove-lifecycle stale

[2020-11-02 10:47] chrischdi commented on #91023
/reopen
/remove-lifecycle rotten

[2020-11-02 11:08] uablrek commented on #95251
@khenidak https://github.com/kubernetes/kubernetes/issues/95251#issuecomment-714921607

[2020-11-02 11:47] FreeManNumOne opened #96101 "Failed to install the new version of the component health check"
logs info
api-server logs
I1102 11:40:28.342662       1 passthrough.go:48] ccResolverWrapper: sending update to cc: {[{https://127.0.0.1:2379  <nil> 0 <nil>}] <nil> <nil>}
I1102 11:40:28.342670       1 clientconn.go:948] ClientConn switching balancer to "pick_first"

kubectl  get cs
Warning: v1 ComponentStatus is deprecated in v1.19+
NAME                 STATUS      MESSAGE

[2020-11-02 11:49] cypherfox commented on #74551
I think I have a similar problem with the linkerd cli. Could you please provide the vesions of:
* linkerd cli
* linkerd control plane
* kubectl
* kubernetes cluster

[2020-11-02 11:53] krausexb opened #96102 "zf"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-11-02 11:53] krausexb opened #96103 "zfa"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-11-02 11:54] #96103 closed

[2020-11-02 11:54] #96102 closed

[2020-11-02 11:57] knight42 commented on #96101
How did you deploy your cluster? Were controller-manager and scheduler already running?

[2020-11-02 12:09] verb commented on #92557
@johan1252 Great! Thanks for trying out the feature while still in alpha and reporting the bug! 😁  👍

[2020-11-02 12:29] pigletfly opened #96104 "Drop deprecated beta workload APIs in client-go"
**What would you like to be added**:

As deprecated beta workload APIs  are dropped serving since 1.16, should we drop support in client-go ?

xref: https://github.com/kubernetes/kubernetes/pull/70672

**Why is this needed**:

[2020-11-02 12:31] pigletfly commented on #96104
/sig apimachinery

[2020-11-02 12:32] pigletfly commented on #96104
/sig api-machinery

[2020-11-02 12:49] saurabhtmba2005 opened #96106 "Fork /usr/bin/nice : can not allocate memory"
Hi,

I am facing lots of issue due to fork error coming on my k8s nodes intermittently. Some memory is there but showing the same error. daily basis one server needs to reboot due to this error.

Please help me out on this as this is urgent and facing issue on my prod cluster

**Environment**: Production
- Kubernetes version (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"1

[2020-11-02 12:54] saurabhtmba2005 commented on #96106
/sig  Node

[2020-11-02 12:57] saurabhtmba2005 commented on #96106
/sig-node

[2020-11-02 13:11] kaushiksrinivas opened #96107 "Unable to remove or add Owner References for pods via kubectl commands patch / edit."
We are trying to remove or add the owner references set on a pod via kubectl commands.
But unable to succeed in the same.

But able to do the same on the pvc, but not on the pods.
Is this the expected behavior ?

[2020-11-02 13:39] liggitt commented on #96085
Reverting in https://github.com/kubernetes/kubernetes/pull/96108 until the dependency fixes are resolved

[2020-11-02 13:40] liggitt commented on #96085
that's especially concerning to me since it means we don't have good presubmit coverage that master can even build on all supported platforms

[2020-11-02 14:07] alculquicondor commented on #93270
@SataQiu are you no longer working on this?

[2020-11-02 14:25] aojea commented on #96085
/unassign

This PR https://github.com/kubernetes/kubernetes/pull/96100 is working on update the docker dependencies, we need to get the docker fixes so it is safe to update golang/x/sys without breaking darwin

[2020-11-02 14:27] alculquicondor commented on #95887
Using the scheduler to track resources is not a good idea. The scheduler should be stateless. Can't you track the resources with an external controller or with a device plugin and making it part of the Node spec?

[2020-11-02 14:49] droslean commented on #95038
@jchauncey Do we still need this issue or we can close it?

[2020-11-02 14:54] alculquicondor commented on #95445
We don't have a contributor to work on this and code freeze is approaching.

Should we hold on a release of v1beta2 until 1.21?

[2020-11-02 15:13] alejandrox1 commented on #96078
Actually, let's reopen this one.
This is not a dupe of #96055 - #96055 is failing [potentially] because of cluster API configuration issues.
This one failure is a "flake" because of the test has uses a magic number to check for a condition, as @jayunit100 mentioned in https://github.com/kubernetes/kubernetes/issues/96078#issuecomment-720103036

@hkamel would you like to work on this one with me?

[2020-11-02 15:13] alejandrox1 commented on #96078
/assign @alejandrox1

[2020-11-02 15:18] ahg-g commented on #95445
sg, lets postpone v1beta2 to 1.21

[2020-11-02 15:31] alejandrox1 commented on #96055
Gonna work on the magic number thing separate from this issue in https://github.com/kubernetes/kubernetes/issues/96078 - just to keep things organized - since Carlos is working on this one for the cluster API job.

[2020-11-02 15:33] jchauncey commented on #95038
This change should be made from a security best practices stand point. I'll leave it up to you guys if you think you want to do it in the future or not.

[2020-11-02 15:38] droslean commented on #95038
@dims Can you check this? Shall we move this to 1.21?

[2020-11-02 15:55] alejandrox1 commented on #96070
Not a sig node issue either but let's figure this one out.
@virendrasuryavanshi how were you running the code? Can you post the yaml, please?
Did you define the environment variable `KUBECONFIG` in the pod running the code?

/remove sig-node
/assign

[2020-11-02 15:56] alejandrox1 commented on #96070
/remove-sig node

[2020-11-02 15:57] zepatrik commented on #93686
/remove-lifecycle stale

[2020-11-02 15:57] khenidak commented on #95251
we can not relax `PodIP == PodIPs[0]` because that will break existing clients.

a side note. Using dualstack configured CNI on a none dual stack cluster was pre dualstack hack, if it must remain in use then CNI should only report one IP not two.

[2020-11-02 16:02] alejandrox1 commented on #95877
/triage accepted
/priority critical-urgent

[2020-11-02 16:05] bboreham commented on #95251
@khenidak what's your reasoning to change CNI rather than kubelet?

[2020-11-02 16:20] #94547 closed

[2020-11-02 16:25] ncopa opened #96114 "GetMetrics() calculate inodes wrong when there are hardlinks"
**What happened**:
`GetMetrics()` in `pkg/volume/metrics_du.go` calculates number of inodes wrong when there are hard links.

**What you expected to happen**:
inodes with hardlinks should only be counted once.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud p

[2020-11-02 16:29] ehashman commented on #95096
/close

Please refer to the upstream issue to configure this. Thanks!

[2020-11-02 16:29] #95096 closed

[2020-11-02 16:30] ehashman commented on #95436
/close

Closing as a duplicate, please continue conversation on #95140

[2020-11-02 16:31] #95436 closed

[2020-11-02 16:38] alejandrox1 commented on #95877
Catching up on this. qq: has anyone vetted https://github.com/kubernetes/kubernetes/pull/94723/files ?
Ise that pr went in around the time this job began to fail https://github.com/kubernetes/kubernetes/compare/1fcd02cc2...237dae5a5

The beforesuite (**AI**: we should list out what it does), fails to communicate with nodes
[code]

the mention of 6443 ports looks interesting here.

[2020-11-02 16:46] alejandrox1 commented on #95343
Coming back to this..
https://github.com/kubernetes/kubernetes/pull/95345#pullrequestreview-521805195 should merge soonish.
As soon as that happens then we can see if the test mentioned here improves.

[2020-11-02 16:49] cmluciano commented on #96024
Hey @aojea Thanks for all the help, will look into the areas of the code and try to bump the logging.

[2020-11-02 16:50] mmerkes commented on #95877
@alejandrox1 Good find. Definitely looks suspicious. I'll dig into that.

[2020-11-02 16:51] uablrek commented on #95251
We can't just put undocumented requirements on the CNI-plugins, they are not part of K8s, they have a formal specification and they have other users beside K8s.

At least K8s must formally document the extra requirements on CNI-plugins that K8s has for the CNI-plugin to be K8s compliant.

[2020-11-02 17:22] khenidak commented on #95251
As highlighted on the discussion there is no single truth of what clusterIP family is. Also kubelet will have to depend on `node.Spec.PodCIDRs` which is not always used by CNIs. You can have a perfectly functional cluster that does not use PodCIDRs at all (I believe Cilium for example does not use it).

Also I am not saying change CNI. A well configured CNI (single family for single stack cluster)

[2020-11-02 17:32] lavalamp commented on #96066
/sig api-machinery

(so we see it in our triage meeting)

[2020-11-02 17:33] prydonius commented on #95958
/remove-sig apps

[2020-11-02 17:35] prydonius commented on #95940
/assign @soltysh

[2020-11-02 17:35] prydonius commented on #95940
/triage accepted

[2020-11-02 17:36] liggitt commented on #96066
https://github.com/kubernetes/kubernetes/pull/74747 was intended to address the issue described here. It lets the "wait for cache sync" step time out and resume quota operations for the resources that are synced.

It added a unit test for this (quota-missing-status-with-partial-calculation-error) that sets up a quota that uses pods and configmaps, sets up informers that work for configmaps and fai

[2020-11-02 17:36] prydonius commented on #95920
/assign @tnozicka

/triage accepted

[2020-11-02 17:37] prydonius commented on #95916
/sig node
/remove-sig apps

[2020-11-02 17:38] prydonius commented on #95490
/assign @soltysh

[2020-11-02 17:38] prydonius commented on #95490
/triage accepted

[2020-11-02 17:40] prydonius commented on #74819
/assign @kow3ns
/triage accepted

[2020-11-02 17:41] virendrasuryavanshi commented on #96070
@alejandrox1 Thanks for taking your interest in this issue, really appreciated. I just figured out that this was because I was trying to get the cluster config from outside of the cluster which was leading the program on my local machine (127.0.0.1) from where I am not able to access the cluster. Is there a way through which I can access the cluster configuration from outside the cluster and can r

[2020-11-02 17:42] prydonius commented on #95457
/assign @kow3ns

[2020-11-02 17:42] prydonius commented on #88025
/assign @soltysh

[2020-11-02 17:43] prydonius commented on #88025
/triage accepted

[2020-11-02 17:45] prydonius commented on #87844
/assign @soltysh
/triage accepted

[2020-11-02 17:47] alena1108 commented on #96066
@liggitt the issue doesn't present on k8s 1.17, and surfaced on k8s 1.18 on the very same environment, with the same broken webhook. Not sure what changes in 1.18 made it start happening.

[2020-11-02 17:48] prydonius commented on #87278
/assign @kow3ns
/triage accepted

[2020-11-02 17:49] prydonius commented on #87126
/remove-sig apps
/sig api-machinery

[2020-11-02 17:49] adtac opened #96119 "API priority and fairness: beta graduation checklist"
KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1040-priority-and-fairness

- [x] types alpha -> beta: https://github.com/kubernetes/kubernetes/pull/96213
- [x] update docs to say APF is on by default + docs alpha -> beta: https://github.com/kubernetes/website/pull/24975
- [x] E2E test to make sure APF works under request drown-out: https://github.com/kubernetes/

[2020-11-02 17:50] prydonius commented on #86539
/sig node
/remove-sig apps

[2020-11-02 17:50] prydonius commented on #85761
/assign @tnozicka
/triage accepted

[2020-11-02 17:51] prydonius commented on #84201
/assign @soltysh
/triage accepted

[2020-11-02 17:55] prydonius commented on #83111
/assign @kow3ns
/triage accepted

[2020-11-02 17:55] #95817 closed

[2020-11-02 17:56] prydonius commented on #78564
/assign @soltysh
/triage accepted

[2020-11-02 17:56] liggitt commented on #96066
That's helpful to know, thanks. Interestingly, there were no changes to the resource quota controller or framework between those releases:

[code]

[2020-11-02 17:57] prydonius commented on #75957
/assign @mortent
/triage accepted

[2020-11-02 17:57] prydonius commented on #75674
/assign @soltysh
/triage accepted

[2020-11-02 17:58] mmerkes commented on #95877
From [kubelet-launcher.log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-conformance/1323291406541787136/artifacts/tmp-node-e2e-f98b7645-ubuntu-gke-1804-1-16-v20200330/kubelet-launcher.log):

[code]

This comes from [this file](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/remote/node_conformance.go), which has some node-conformance specifi

[2020-11-02 17:59] prydonius commented on #75482
/assign @soltysh
/triage accepted

[2020-11-02 18:04] ahg-g commented on #96119
/triage accepted

[2020-11-02 18:04] hkamel commented on #96078
thanks, @alejandrox1 ... sure let me know how can I help

[2020-11-02 18:13] bboreham commented on #95251
Is the latter statement a retraction of the former?  If not, how can they be reconciled?

[2020-11-02 18:15] wongma7 commented on #95627
I am not sure, technically it is possible already if the csi driver gets creds or inherits node instance creds. If you mean using pod creds, then I think my preference is waiting for https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/1855-csi-driver-service-account-token

[2020-11-02 18:24] alejandrox1 commented on #95877
quick interruption for instructions on how to reproduce this one:
I think this may work

[code]

**Focus and skip**
The FOCUS and SKIP arguments im getting from https://github.com/kubernetes/test-infra/blob/48f2834380836b283d700833975a8162b392dfe4/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L95

**Image config file**
The job also uses the following config file https://github.com/kubernetes/t

[2020-11-02 18:33] mmerkes commented on #95877
You'll also need to use the `--test-suite=conformance` flag to make sure it runs in Docker, I believe.

[2020-11-02 18:49] alejandrox1 commented on #95877
ah yeah, good catch!
Thank you.
Don't know about your availability, but if you are all busy ima allocate sometime later today to dive deeper into the info we have here

[2020-11-02 18:55] mmerkes commented on #95877
I'm going to try to spend time of this in the afternoon (PDT). Specifically, I was going to try to verify that the logs from starting up the test suite look as expected and possibly try to run the case to reproduce.

[2020-11-02 19:56] #95596 closed

[2020-11-02 20:00] andreswebs commented on #15478
/reopen

[2020-11-02 20:10] fabiokung commented on #95887
@alculquicondor there may be some misunderstanding in my poor choice of words. What I mean by "tracking" is that the scheduler needs to track usage and availability of these extra per-Node resources, to be able to allocate them during placement/scheduling. Exactly the same it does with volumes, cpus, memory, ephemeral disk, etc

Doing computations in a controller outside of the scheduling loop wou

[2020-11-02 20:11] danwinship commented on #95251
He's saying that an administrator deploying a CNI plugin in a single-stack kubernetes cluster ought to configure that CNI plugin to return a single IP address, of the family being used by the kubernetes cluster.

A CNI plugin that does not allow you configure what address families it uses may not be compatible with all kubernetes clusters. Eg, a CNI plugin that only supports IPv4 cannot be used as

[2020-11-02 20:24] raesene commented on #93058
Generally, if you need a writeable area when you have the container set to have a readonlyfilesystem, it is possible to use a volume mount to provide a directory (or directories) where it is possible to write to the container filesystem.

For temporary files, one option would be to use an [emptyDir volume](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir).

[2020-11-02 20:25] Huang-Wei commented on #96083
@jmcmeek Can you confirm that `LocalStorageCapacityIsolation` is disabled on scheduler side?

[2020-11-02 20:28] danwinship commented on #95251
So, to sum up:

- Kubelet will always use the first IP returned by the CNI plugin as `pod.Spec.PodIP`, regardless of any other cluster configuration.
- Some CNI plugins, when configured to do dual stack, do not give you a way to configure which IP comes first, meaning kubelet may pick a `pod.Spec.PodIP` that is not the IP family the admin considers the cluster's primary IP family
- In dual-stack c

[2020-11-02 20:32] danwinship commented on #95251
oh, and:
- if the CNI plugin returns multiple IPs which are not a dual-stack pair (eg, if it returns 2 IPv4 IPs, or 1 IPv4 IP and 2 IPv6 IPs), then kubelet will fail to update the pod at all, because it assumes it can just copy the IPs returned from CNI into `podIPs`, but the apiserver will only accept `podIPs` if it is either a single IP or a dual-stack pair.

[2020-11-02 20:42] alculquicondor commented on #95887
Ok, if you are not tracking the existence of resources in the scheduler, I wouldn't suggest the external controller.

Still, have you considered the device plugin framework? That way, the default kube-scheduler could keep track of resources usage.

Otherwise, I still don't see why you would need to update the CycleState during Filter. As its name indicates, CycleState only lives during a schedulin

[2020-11-02 20:43] liggitt commented on #96066
I'm having a hard time reproducing this on master. I did the following:

1. Created a CRD with a v1alpha1 version
2. Created a CR instance of the CRD at v1alpha2
3. Updated the CRD to have a second version that was marked as the storage version, and a conversion webhook pointing at a dummy service
4. Verified the controller manager started logging sync timeouts for the bogus CR: `E1102 15:39:45.60

[2020-11-02 20:48] jmcmeek commented on #96083
Clarifying the recreate steps:

I disabled the LocalStorageCapacityIsolation feature guide by adding `--feature-gates=LocalStorageCapacityIsolation=false` to the kube-scheduler since this behavior seems to be within the scheduler.

[2020-11-02 20:49] Huang-Wei commented on #96083
Thanks @jmcmeek for confirming!

[2020-11-02 20:53] adtac commented on #95887
Regardless of the correctness of usage of CycleState to do what @fabiokung wants, I still think we need to do one of the following:

1. document that writing to CycleState during Filter will lead to data races
2. pass a read-only CycleState to Filter plugins (whether we do this at the interface level or if we simply drop Write requests during Filter is an implementation detail)
3. actually make Cy

[2020-11-02 20:59] victor-timofei commented on #96104
Hello, I would like to help out with this. Would this be a good issue for a new contributor?

[2020-11-02 21:02] soltysh commented on #94019
/close

[2020-11-02 21:02] #94019 closed

[2020-11-02 21:05] alculquicondor commented on #95887
I'm leaning towards 1, but it's fair to continue the discussion before deciding.

[2020-11-02 21:09] liggitt commented on #96066
Detailed steps with manifests:

1. Create CRD
[1-webhookcrd.yaml.txt](https://github.com/kubernetes/kubernetes/files/5478025/1-webhookcrd.yaml.txt)

2. Create CR instance
[2-cr.yaml.txt](https://github.com/kubernetes/kubernetes/files/5478026/2-cr.yaml.txt)

3. Update CRD to add new version, stop serving original version, add broken conversion webhook
[3-webhookcrd.yaml.txt](https://github.com/kube

[2020-11-02 21:10] saul-gush commented on #94281
I am experiencing the same issue with new Kubernetes 1.19 and docker 18.9.9 update on Digitalocean

[code]

[code]

[2020-11-02 21:18] knabben commented on #95877
My first suspicion was to have the server running in another port than 6443 (which Kubelet has configured), this is not the case:

[code]

Only o.SecureServing.BindAddress is being set explicitly. The port comes from o.NewServerRunOptions().

https://github.com/kubernetes/kubernetes/compare/1fcd02cc2...237dae5a5#diff-b5a4e5df0272f9d9dfff0c02b7ec81ab12c3fb598b11c3aced10c296bf8558cdR57

[2020-11-02 21:40] BenTheElder commented on #96086
Please follow our updated installation guides
https://kind.sigs.k8s.io/docs/user/quick-start/#installation
https://github.com/kubernetes-sigs/kind/#installation-and-usage

The repo for kubernetes.io site is github.com/kubernetes/website. I'm not sure if blogposts accept updates like this.

[2020-11-02 21:41] #95344 closed

[2020-11-02 21:43] BenTheElder commented on #96086
/assign
https://github.com/kubernetes/website/pull/24855

[2020-11-02 21:44] BenTheElder commented on #96081
you can skip/ ignore the kubeadm preflight check
you can also run kubernetes in a container upstream with https://sigs.k8s.io/kind

[2020-11-02 21:44] liggitt commented on #96066
I also tried reproducing on 1.18 and was unable to.

[2020-11-02 21:45] BenTheElder commented on #96081
/remove-kind feature
/area kubeadm

[2020-11-02 21:46] ahg-g commented on #96119
lets get https://github.com/kubernetes/kubernetes/pull/94925 checked off the list :)

[2020-11-02 21:47] BenTheElder commented on #95129
/remove-sig testing

[2020-11-02 22:49] MHBauer commented on #95877
I think it's related to the movement of this line.
I couldn't figure out how to link to the PR so I made a comment.
https://github.com/kubernetes/kubernetes/pull/94723/files#r516304908

[2020-11-02 22:52] knabben commented on #95877
@MHBauer as you notice before there's no services.log, and we should be seeing

[code]

Before:

[code]

[2020-11-02 22:52] MHBauer commented on #95877
I can repro the issue now, and I think the line was moved upward to generate the token before starting the kubelet.
Moving it up out of the if-statement may help partially, but in the conformance test the kubelet is manually started ahead of this code, so it may not matter.

[2020-11-02 23:01] mmerkes commented on #95877
Make sense. Do you mean moving this out of the conformance check?

[code]

[2020-11-02 23:02] MHBauer commented on #95877
Haha, yea, that message is deceptive...

I think I'll make a PR to at least let it be more correct and give us more info.

[2020-11-02 23:05] ejemba commented on #15478
/reopen

[2020-11-02 23:15] MHBauer commented on #95877
for alerts to subscribers, PR #96128 created. Please comment.

[2020-11-03 00:16] #96017 closed

[2020-11-03 00:58] grosser opened #96132 "groupversion missing from kubectl api-resources"
to make a request against kubernetes or define rbac etc users always need the group version for example `v1beta`
`kubectl api-resources` does not include that even though it has access to it (as seen via `--v 8`)
so please either add it or add a `-o json` method

before:
[code]

after:
[code]

[2020-11-03 00:58] grosser commented on #96132
/sig cli

[2020-11-03 01:12] #96083 closed

[2020-11-03 01:51] fujitatomoya commented on #86539
@prydonius thanks 👍

[2020-11-03 02:02] #91806 closed

[2020-11-03 02:27] carlory commented on #96132
/assign

[2020-11-03 03:16] wyyl1 commented on #89898
Please make sure your all working nodes can access the Internet.
I also encountered a similar problem.

[code]
The reason is:
k8s-master and k8s-work2 can go online
k8s-work1 no internet

[2020-11-03 03:39] carlory commented on #96132
/unassign

@grosser This feature has been supported.

[code]

[2020-11-03 03:50] jiafujiang commented on #59031
Want a solution for this~

[2020-11-03 03:59] tangyibo opened #96137 "Kubernetes can't access pod, for CentOS7 open firewalld service, add trust for all host ip address, add port for application port"
Hi:
  I install kuberetes cluster at my centos7 hosts, **open firewalld service**, add trust for all host (total 4 hosts) ip address, add port for application port, but I access my deployment application failed , my firewalld settings like this:
[code]

Who can help me? Thanks!!!!

[2020-11-03 04:18] BenTheElder commented on #93620
/remove-lifecycle stale

[2020-11-03 04:18] marosset commented on #94213
/clone

[2020-11-03 04:21] grosser commented on #96132
so it's in master ?
[code]

[2020-11-03 04:23] grosser commented on #96132
yes! ... v20 got it, thx!

[2020-11-03 04:23] #96132 closed

[2020-11-03 04:46] ashish-billore commented on #43405
Related: https://github.com/kubernetes/kubernetes/issues/3949

[2020-11-03 05:28] AntonOfTheWoods commented on #21653
@mml , I'm guessing it's far too late to complain now? I certainly expected it to exist, and thought it strange that it didn't...

[2020-11-03 05:29] harishp8889 commented on #55045
Hello, I have a scenario like below;
1. Topology is enabled and pods should be scheduled to nodes based on the labels present in custom storage class and node.
2. This works fine in all scenarios, However when I delete the stateful-set and without deleting the corresponding PVC and upon re-creating the stateful-set again the pods are getting scheduled to wrong nodes i.e. the nodes where labels do

[2020-11-03 05:32] krmayankk commented on #72253
@saschagrunert i dont think tests are missing in cri-tools or the respective repos of cri-o or containerd. I pointed to tests in [here](https://github.com/kubernetes-sigs/cri-tools/blob/16911795a3c33833fa0ec83dac1ade3172f6989e/pkg/validate/security_context_linux.go#L357) which are related to RunAsGroup .  You mentioned both CRI-O and containerd are tested in cri-tools. Can you confirm if RunAsGrou

[2020-11-03 06:08] uablrek commented on #95251
That would be excellent! Then it would not be necessary to stop supporting dual-stack pods in a single stack K8s. And Cilium users wanting to upgrade their ipv4-only cluster to dual stack would not suddenly see ipv6 addresses on a `kubectl get pods -o wide`.

[2020-11-03 06:21] knight42 commented on #91506
Now the remaining problem is how should we fetch metrics from controller-manager and scheduler. I have two options in mind for the time being:

1. make the insecure port a read-only port, and only expose basic read-only services on this port like what kubelet does.
2. completely disable the insecure port and only listen on the secure port.

Which one is more desired? Or do we have better alternati

[2020-11-03 07:10] weinong commented on #95958
@wojtek-t I can repro this after triggering etcd restore without restarting api-server

[2020-11-03 07:16] EugenFo commented on #93594
/remove-lifecycle stale

[2020-11-03 07:23] cofyc commented on #95538
I've submitted a patch for the 1.18 release branch: https://github.com/kubernetes/kubernetes/pull/96135

[2020-11-03 07:24] cofyc commented on #95538
I guess https://github.com/kubernetes/kubernetes/pull/95541 on the master branch should be reviewed and merged too? cc @msau42

[2020-11-03 07:25] ChanderG commented on #71878
I faced the same error. In my case, the cause was a missing "imagePullSecrets" section in the pod config.

[2020-11-03 07:48] cncal commented on #61937
@zionwu Would you post your approach to rebuilding docker with kmem accounting turned off?

[2020-11-03 08:28] saschagrunert commented on #72253
Yes, we run every critest test for containerd and CRI-O in the cri-tools repository as GitHub action:
- https://github.com/kubernetes-sigs/cri-tools/actions?query=workflow%3A%22critest+containerd%22
- https://github.com/kubernetes-sigs/cri-tools/actions?query=workflow%3A%22critest+CRI-O%22

[2020-11-03 08:34] ivan-cai opened #96142 "Muti-Attach in AD Controller throws warnings"
**What happened**:
Someties, the attachdetach-controller reports "Multi-Attach error for volume xxx" while reschedule the pod to another node, the Events' reason can not different from the "FailedAttachVolume" from `GenerateAttachVolumeFunc`. So users have to monitor all of the "FailedAttachVolume". We want to differentiate this two types of "FailedAttachVolume".
[code]

**What you expected to hap

[2020-11-03 08:34] ivan-cai commented on #96142
/sig storage

[2020-11-03 08:35] ghouscht commented on #94281
Same issue here on our cluster running k8s 1.19.3 with docker 18.9.8. node metrics still work, but there are no pod metrics:

[code]

On a different cluster also running k8s 1.19.3 with docker 19.3.12 the pod and node metrics are ok.

[2020-11-03 08:37] pacoxu commented on #96106
have you checked the pid_max ？

You may refer to https://access.redhat.com/solutions/22105

[2020-11-03 09:26] #95882 closed

[2020-11-03 09:41] jkaniuk commented on #93506
Testgrid is green

[2020-11-03 09:41] #93506 closed

[2020-11-03 09:42] simonvane opened #96146 "Service cannot be create with a leading number in the name."
For reasons a won't go into, I want to create a service with either:
- A GUID as the name e.g. **2a2bf003-4054-4fb9-9521-887090e797c8** => **2a2bf003-4054-4fb9-9521-887090e797c8-apiserver**
- A customer's domain name e.g. **1stclass.co.uk** => **1stclass-co-uk-apiserver**

The problem is that both of these can have a leading number. When that is the case, I get the following error when the service

[2020-11-03 09:44] simonvane opened #96147 "Service name cannot start with a leading number"
For reasons a won't go into, I want to create a service with either:
- A GUID as the name e.g. **2a2bf003-4054-4fb9-9521-887090e797c8** => **2a2bf003-4054-4fb9-9521-887090e797c8-apiserver**
- A customer's domain name e.g. **1stclass.co.uk** => **1stclass-co-uk-apiserver**

The problem is that both of these can have a leading number. When that is the case, I get the following error when the service

[2020-11-03 09:56] simonvane commented on #96146
Created in error

[2020-11-03 09:56] #96146 closed

[2020-11-03 09:58] mooperd opened #96148 "Ability to set cluster wide default docker registry url"
Docker are attempting to financially exploit the docker.io "root namespace" by implementing rate limiting (more power to 'em). I would like to be able to change the default docker registry from "https://hub.docker.com" to something else so that python:this, node:that continue to work normally. It would be great if this could also be an internal cluster registry cache or similar.

I guess that imag

[2020-11-03 10:15] r10r commented on #50375
+1

[2020-11-03 10:16] zhixiangjoy commented on #28167
Any updates on this?

[2020-11-03 10:21] pacoxu commented on #96107
`[root@dce-10-7-177-8 ~]# kubectl get pod  spring-46phs-deployment-5dd8d6646-8xsz5 -o yaml | grep  ownerRe -C 2
  name: spring-46phs-deployment-5dd8d6646-8xsz5
  namespace: default
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
[root@dce-10-7-177-8 ~]# kubectl patch pod  spring-46phs-deployment-5dd8d6646-8xsz5  -p '{"metadata": {"ownerReferences":[]}}'
pod/spring-46phs-dep

[2020-11-03 10:24] kaushiksrinivas commented on #96107
Yes, i tried to remove the owner references. It says no change.
And if u do get the pod -o yaml after patching, owner references would still exist.

[2020-11-03 10:56] Treyone opened #96149 "requiredDuringSchedulingRequiredDuringExecution status"
`requiredDuringSchedulingRequiredDuringExecution` is mentioned [in the documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity) as "In the future we plan to offer",
but I could not find any plan to do so in a near future. None of the workarounds I found until now could help us fixing a scheduling problem where `requiredDuringSchedulingIgnoredDuringExec

[2020-11-03 11:06] zionwu commented on #61937
@cncal，to turn off kmem accounting for docker,  you need to rebuild `runc` as docker is invoking `runc`. The command to rebuild runc is `make BUILDTAGS="seccomp nokmem"`.  The doc for `runc` is https://github.com/opencontainers/runc#building.

[2020-11-03 11:14] nikhita commented on #93637
/remove-lifecycle stale

On Tue, Nov 3, 2020 at 4:41 PM fejta-bot <notifications@github.com> wrote:

[2020-11-03 11:31] cncal commented on #61937
I tried but it didn't work for my docker 18.09.9. Ok, I’ll try it again later. Thinks a lot.

发自我的iPhone

------------------ Original ------------------
From: Zion Wu <notifications@github.com&gt;
Date: Tue, Nov 3, 2020 7:06 PM
To: kubernetes/kubernetes <kubernetes@noreply.github.com&gt;
Cc: cncal <flycalvin@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [kubernetes/kubernetes] a

[2020-11-03 12:08] shibumi commented on #77570
Hi, I have the same issue just with NFS as storage provider. Any idea?

[2020-11-03 12:10] rtheis commented on #96057
@khenidak I will confirm this once v1.20.0-beta.1 is released (release scheduled for today).

[2020-11-03 12:35] wojtek-t commented on #95958
OK - we have never promissed that you  can restore etcd without restarting api-server.
In fact, in order to correctly restore, you should restart all system component after that.

[2020-11-03 13:02] everpeace commented on #93671
/remove-lifecycle stale

[2020-11-03 13:06] HaonanFeng opened #96155 "Failure to mount a dynamic volume triggers an alarm failure"
**What happened**:
Create a pvc, create a pv at the same time, then delete the pv, create the application and mount it with the PVC just created, the mount fails and the alarm is lost.

**What you expected to happen**:
Dynamic Volume Failure to mount triggers an alarm

**How to reproduce it (as minimally and precisely as possible)**:
Create a pvc, create a pv at the same time, then delete the pv,

[2020-11-03 13:14] liggitt commented on #91506
That was my expectation. What are the issues with this approach?

[2020-11-03 13:37] liggitt commented on #96066
Are you deleting the pod directly, or are you deleting a parent resource like a replicaset or deployment and waiting on garbage collection to remove the pod?

[2020-11-03 13:37] droslean commented on #90698
@justaugustus Shall we keep this in 1.20 or move it to 1.21? The code freeze is near.

[2020-11-03 13:38] neolit123 commented on #96081
this comes from git.k8s.io/system-validators.

So this is really expected behavior

agreed, your container must include the kernel configuration if you want to use kubeadm inside.

/sig cluster-lifecycle
/close

[2020-11-03 13:38] #96081 closed

[2020-11-03 13:38] droslean commented on #74352
@pohly What is left here? Shall we move this to 1.21?

[2020-11-03 13:39] neolit123 commented on #96080
hi, please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-11-03 13:39] #96080 closed

[2020-11-03 13:39] HaonanFeng commented on #96155
/sig node

[2020-11-03 13:40] neolit123 commented on #96053
hi, please try the support channels first:
hi, please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if this is a confirmed bug in core k8s then re-open this ticket.

/close

[2020-11-03 13:40] #96053 closed

[2020-11-03 13:41] neolit123 commented on #96149
/sig scheduling

[2020-11-03 13:41] neolit123 commented on #95989
/sig api-machinery

[2020-11-03 13:42] neolit123 commented on #96043
/sig node

[2020-11-03 13:42] neolit123 commented on #96068
/sig node

[2020-11-03 13:43] neolit123 commented on #96067
/sig apps

[2020-11-03 13:43] neolit123 commented on #96046
/sig auth

[2020-11-03 13:44] cwsolee commented on #93621
We added other branches(v1.18 & v1.19) along with master, https://k8s-testgrid.appspot.com/conformance-s390x#Summary, we can claim done with adding conformance test for s390x. We will continue to monitor going forward. Let me know if u've any questions.

[2020-11-03 13:44] neolit123 commented on #96070
for InClusterConfig
/sig api-machinery
/remove-kind bug
/triage support

[2020-11-03 13:44] neolit123 commented on #96070
/kind support

[2020-11-03 13:46] neolit123 commented on #96074
hi, please try the support channels (e.g. #sig-autoscaling) first:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this repository is for feature requests and bugs (if confirmed)

thanks
/close

[2020-11-03 13:46] #96074 closed

[2020-11-03 13:47] neolit123 commented on #96090
/sig node

[2020-11-03 13:48] neolit123 commented on #96091
/sig node

[2020-11-03 13:48] neolit123 commented on #96091
please fill the template properly and provide k8s versions and detailed reproductions steps.

a member of SIG Node should have a look if they see your ticket.

[2020-11-03 13:50] neolit123 commented on #96101
but component status is deprecated and should not be used.

if you are using kubeadm the HTTP ports are disabled for the KCM and scheduler.
instead of passing --port=0 to them you should remove this flag, which will make the component status API work again.

/close
/kind support

[2020-11-03 13:51] #96101 closed

[2020-11-03 13:51] neolit123 commented on #96107
/sig cli api-machinery

[2020-11-03 13:51] neolit123 commented on #96114
/sig storage

[2020-11-03 13:52] neolit123 commented on #96137
please try the support channels instead:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-11-03 13:52] #96137 closed

[2020-11-03 13:54] neolit123 commented on #96147
/remove-kind bug
/kind feature

/sig api-machinery
https://github.com/kubernetes/kubernetes/blob/6675eba3eff1c8e565c4060a9c1396f75da7cc3e/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go

[2020-11-03 13:59] neolit123 commented on #96148
hi, yes it feels out of scope. i don't think there is anything k8s would do about the docker policy changes.
the suggested route is to migrate containers to another registry if users see the need for that.

/sig node architecture

[2020-11-03 14:08] DaveWHarvey commented on #55045
In my case, I wanted to evenly distribute pods/PVCs across availability zones (AZs).   I finally concluded that trying to do this with a single statefulSet was not going to  provide the control desired, and I ended up creating a statefulSet per AZ.    I was able to keep the same basic helm template, and

[2020-11-03 14:14] #90519 closed

[2020-11-03 14:29] ahg-g commented on #96119
let get https://github.com/kubernetes/kubernetes/pull/93877 checked off as well

[2020-11-03 15:05] xing-yang opened #96161 "Running ./hack/update-openapi-spec.sh leaves api/openapi-spec/swagger.json file empty"
**What happened**:
After running ./hack/update-openapi-spec.sh with the latest code, api/openapi-spec/swagger.json file became empty even when no changes were made in the code.

**What you expected to happen**:
After running ./hack/update-openapi-spec.sh with the latest code, api/openapi-spec/swagger.json file should not be changed when no changes were made in the code.

When I tried the same thin

[2020-11-03 15:07] xing-yang commented on #96161
/sig api-machinery

[2020-11-03 15:11] liggitt commented on #96161
cc @knight42

[2020-11-03 15:17] alculquicondor opened #96164 "Parse Pod's Node affinity once in PreFilter and PreScore"
We currently parse Pod's Node Affinity every time during Filter or Score.
These are wasteful computations that can be done once in PreFilter or PreScore.

Note that an error in Filter needs to be reported lazily (if no terms match), to preseve backwards compatibility.

/sig scheduling

[2020-11-03 15:23] andrewsykim commented on #74352
I'm gonna close this since I don't think we want to externalize the existing e2e framework as-is, instead some folks are focusing efforts on a new framework that external projects like CSI drivers can use https://github.com/kubernetes-sigs/e2e-framework

/close

[2020-11-03 15:23] #74352 closed

[2020-11-03 15:34] edrevo commented on #43916
@sjenning, @derekwaynecarr: has there been any kind of discussion about this issue within the k8s team? Are there any next steps for this issue?

I would like to propose that a change is made in kubelet to allow different metrics to be used when evaluating pod memory usage. That would allow people to opt into more "aggressive" memory metrics (like referenced_memory, introduced in cadvisor in https

[2020-11-03 15:36] knight42 commented on #96161
@xing-yang Hi, thanks for the report, but it is a bit weird that I could not reproduce locally:
[code]

and besides, `./hack/verify-openapi-spec.sh` completes successfully on my machine.

@liggitt Could you reproduce?

[2020-11-03 15:45] neerajgrg commented on #70231
Is there any update on this ? it seems like an necessary improvement to be added to kubernetes. Currently when we describe the pod , it just shows the failure events and does not show up the success event , although the pod is in ready state.

[2020-11-03 15:49] ahg-g commented on #96149
Are you referring to k8s docs? if so, please flag those so we can fix the docs.

[2020-11-03 15:51] ahg-g commented on #96149
I believe `requiredDuringSchedulingRequiredDuringExecution ` is simply ignored everywhere in the code, right @Huang-Wei?

[2020-11-03 16:07] alena1108 commented on #96066
@liggitt let me check with the team, and I'll get back to you! Thank you for looking into it.

[2020-11-03 16:14] YuraHrunyk opened #96166 "System tests related to NodePort are continuously failing"
**What happened**: System tests related to NodePort service creation failed:

[sig-network] Services [It] should be able to create a functioning NodePort service [Conformance]

[sig-network] Services [It] should be able to change the type from ExternalName to NodePort [Conformance]

**What you expected to happen**: System tests related to NodePort service creation pass

**How to reproduce it (as m

[2020-11-03 16:14] alculquicondor opened #96167 "Make nodeaffinity parsing functions return field.Error"
The `k8s.io/component-helpers/scheduling/corev1/nodeaffinity` constructors return a parsed version of the input types. While doing that, they detect parsing errors that can be aggregated in higher level validators, such as `ValidateNodeAffinityArgs`.

For a proper implementation, all the returned errors should be of the type field.Error.

/sig scheduling

[2020-11-03 16:32] alculquicondor opened #96168 "k8s.io/apiserver/pkg/server/filters unit tests timing out"
**Which jobs are flaking**:

`pull-kubernetes-bazel-test`

**Which test(s) are flaking**:

`//staging/src/k8s.io/apiserver/pkg/server/filters:go_default_test`

**Testgrid link**:

Not sure why it looks green in testgrid: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/96126/pull-kubernetes-bazel-test/1323646573099356160

But here is a sample failure
https://prow.k8s.io/view/gs/kubernet

[2020-11-03 16:55] marosset commented on #94213
/close

[2020-11-03 17:00] xing-yang commented on #96161
@knight42 Someone else also ran into this same problem and asked a question on sig-api-machinery slack yesterday.  So I'm not the only one who ran into this.
https://kubernetes.slack.com/archives/C0EG7JC6T/p1604344853456100

[2020-11-03 17:07] knight42 commented on #96161
@xing-yang could you change the args passed to curl in `./hack/update-openapi-spec.sh` to `curl -w "\n" -kfsS ...` and rerun the script to see if there is any error?

[2020-11-03 17:10] LorbusChris opened #96169 "Move away from go-bindata/go-bindata"
**What would you like to be added**:
I would like to propose the removal of the fork of go-bindata used in kubernetes: go-bindata/go-bindata

**Why is this needed**:
The currently vendored fork of go-bindata (https://github.com/go-bindata/go-bindata) is not actively maintained (as e.g. seen in https://github.com/go-bindata/go-bindata/pull/66).

## Alternative 1: Switch to a maintained fork
@kevinb

[2020-11-03 17:13] knight42 commented on #96161
since it is already late here(UTC+8), I would check this issue again tomorrow 😴

[2020-11-03 17:30] DanielJonesEB commented on #86245
This also causes issues in Kaniko, which makes it unpossible to build OCI images in a secure environment:  https://github.com/GoogleContainerTools/kaniko/issues/937

The problematic line of code is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/gcp/metadata.go#L215

It is an unreasonable assumption that the metadata server should be reachable, and there are valid

[2020-11-03 17:36] jayunit100 opened #96171 "windows error message reports kubelet as uid -1"
**What happened**:
We Recently saw this on a broken windows cluster in a bug report in sig-windows slack:

[code]
**What you expected to happen**:

The kubelet log would clearly say "kubelet is not running"

**How to reproduce it (as minimally and precisely as possible)**:

Try to start the kubelet server without the kubelet process properly running on windows

**Anything else we need to know?**: