[2019-10-31 08:06] george-angel commented on #43784
Its still an issue, see: https://github.com/kubernetes/kubernetes/issues/43784#issuecomment-415090237

[2019-10-31 08:10] #78165 closed

[2019-10-31 08:42] clamoriniere commented on #77259
/remove-lifecycle stale

[2019-10-31 08:43] JrCs opened #84584 "kubeadm: allow to use the skip-phases option during upgrade"
**Allow to skip some phases during upgrade**:
It will be great to have the `--skip-phases` option for the `kubeadm upgrade` command, or better have a key in the ClusterConfiguration manifest to specify phases to be skip.

**Why is this needed**:
I bootstrap my k8s cluster without the kube-proxy addons (using `kubeadm init --skip-phases=addon/kube-proxy` command). But when i upgrade it with `kubead

[2019-10-31 08:48] JrCs commented on #84584
@kubernetes/sig-cluster-lifecycle-feature-requests

[2019-10-31 09:12] bertinatto opened #84585 "Run unprivileged containers in storage e2e tests"
**What would you like to be added**:

Some of our storage e2e tests write and read data in the host FS (*/tmp*), using the hostPath storage plugin.

By default, containers running on SELinux environments can only read/write data in directories/files (in the host) that contain the label `svirt_sandbox_file_t`. In the absence of this label, there are two options:

1) Run the container as privileged

[2019-10-31 09:23] bloodstars opened #84586 "multi master with nginx as vip， when leader master is down，the other masters can not became leader"
**What happened**:
when leader master is down，other masters can not became leader, so all the pod that need to be evicted are all pending.........,so i need to restart container kube-scheduler and kube-controller, after that everything is ok.........

**Anything else we need to know?**:
the kube-scheduler and kube-controller stucked and keep logging "E1031 07:00:14.976796       1 leaderelection.go

[2019-10-31 09:50] andyzheung opened #84587 "How about if I want use k8s in two node cluster?"
As we all know is that kubernetes support three node to support HA, because etcd is also use raft to get its  consistency.
Just like the following picture which i get from internet:
![image](https://user-images.githubusercontent.com/22912347/67935888-b6989600-fc05-11e9-86d0-9791ab7ac8a9.png)

But in my scenario，I don't have three node  consider cost and space etc, but we still want to get some HA

[2019-10-31 09:54] andyzheung commented on #84587
![image](https://user-images.githubusercontent.com/22912347/67936758-50147780-fc07-11e9-88db-c9ae9dcd7bd5.png)

![image](https://user-images.githubusercontent.com/22912347/67936774-59054900-fc07-11e9-9802-aaadf0448860.png)

About the up picture，is Node 1 and Node2 can become a master-slave cluster or any other good suggest about it ?

[2019-10-31 10:12] #78181 closed

[2019-10-31 10:15] Capstan commented on #84546
Please disregard. Per http://json-schema.org/draft-06/json-schema-release-notes.html#q-what-happened-to-draft-05, one is not supposed to implement or advertise support for Draft 05. I will follow up with OpenAPI v3.

[2019-10-31 10:15] #84546 closed

[2019-10-31 10:27] Capstan commented on #84546
Filed OAI/OpenAPI-Specification/issues/2049

[2019-10-31 10:36] amnk commented on #77192
I am seeing the same on GKE with `v1.13.7-gke.24`

[2019-10-31 10:43] clarklee92 commented on #84580
/assign @clarklee92
I have reproduced your issue, I will work on it.

[2019-10-31 11:14] liggitt commented on #82025
Fixed in https://github.com/kubernetes/kubernetes/pull/82707

[2019-10-31 11:14] #82025 closed

[2019-10-31 11:19] databus23 commented on #83938
@wenjiaswe Whats confusing about this message then is that it is logged as an ERROR. If its part of normal operations it should not be logged as an error or even better not logged at all.

[2019-10-31 11:37] nikhita commented on #84532
/assign

[2019-10-31 11:58] mm4tt commented on #84186
While working on reproducing this in order to file a bug against test-infra folks I think I found a solution.
Will send PRs shortly.

/assign
/tittle sig-scalability-benchmarks#scheduler fails consistently due to build issues

[2019-10-31 11:59] mm4tt commented on #84186
/retitle sig-scalability-benchmarks#scheduler fails consistently due to build issues

[2019-10-31 12:00] mm4tt commented on #84186
/sig scalability

Testgrid link: https://k8s-testgrid.appspot.com/sig-scalability-benchmarks#scheduler

Error logs:
[code]

[2019-10-31 12:09] mm4tt commented on #84186
A word about the solution, the job uses the deprecated bootstrap.py script which is not supported anymore by test-infra oncall / folks.
I've rewritten the job definition to use pod utilities and it started working (will require https://github.com/kubernetes/kubernetes/pull/84593 to get merged first).

[2019-10-31 12:13] ahg-g commented on #84186
Thanks @mm4tt!

[2019-10-31 12:18] hawksight commented on #84109
Does that mean the namespace will identify the actual resources (apiservice or other) that are blocking it's deletion? Making it easier to go and manually clean them up?

[2019-10-31 12:41] stevenmiller commented on #82221
Not OP but I also have this issue. Cluster is a brand new AKS 1.14.7 deployment.

[2019-10-31 12:41] josiahbjorgaard commented on #62046
@ksubrmnn Were you able to get an update on the plans for this issue?

[2019-10-31 12:43] josiahbjorgaard commented on #73723
Hi, bug triage for 1.17. code freeze is Nov. 14th this time around, is this issue intended to close by then?

[2019-10-31 12:57] dr460neye commented on #73692
Not a single more detail about whats producing the issue at appliance time.
So I still guess this could be improved and would like to set it back to the backlog

`Error from server: error when applying patch:
{"metadata":{"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"extensions/v1beta1\",\"kind\":\"Deployment\",\"metadata\":{\"annotations\":{},\"name\":\"logs

[2019-10-31 13:03] mrobson opened #84595 "Errors returned from pod_container_manager_linux Destroy to remove a pods cgroup are swallowed"
**What happened**:

Housekeeping sync loop finds an orphaned pod and tries to clean it up. The kubepod slice, as seen below, is not removed by `cleanupOrphanedPodCgroups -> go pcm.Destroy(val)` with no indication as to why. This leads to the docker scope timing out and entering a failed state. The returned error(s) from runc are swallowed making debugging difficult.

[code]

**What you expected to

[2019-10-31 13:03] mrobson commented on #84595
/sig node

[2019-10-31 13:06] liggitt commented on #73655
it is still important, but unstaffed for 1.17

[2019-10-31 13:26] pperiyasamy opened #84597 "pod creation fails with Topology Affinity Error for 'restricted' topology manager policy"
**What happened**:

Though there are available CPUs on NUMA nodes, the topology manager 'restricted' policy doesn't admit the pod and returns with "Topology Affinity Error".

**What you expected to happen**:

The 'restricted' policy would be good to admit the pod as long as there are available CPUs in the system.
The cpu manager's static policy module must change the [logic](https://github.com/kub

[2019-10-31 13:26] pperiyasamy commented on #84597
/sig node

[2019-10-31 13:40] ramgdev opened #84598 "Container is unable to resolve IPv6 localhost address"
**What happened**:
We uncovered an issue in our application that runs inside a Docker container and makes url requests to services that are exposed on localhost ports. When trying to connect to the urls using IPv6 address for localhost [::1], all the requests are failing with connection refused error. But the same requests were successful when using the IPv4 address `127.0.0.1`.

**What you expect

[2019-10-31 13:41] neolit123 commented on #84586
/remove-kind bug
/triage support

[2019-10-31 13:42] mmusin commented on #78139
The same issue i faced in AKS

[2019-10-31 13:44] ingvagabund commented on #84306
When I wrap `benchmarkScheduling` with a for loop:
[code]

I am able to run 13 iterations with `b.N` set to 100 before I get:
[code]

Maybe the control plane is stood up to quickly. Analyzing why it's happening right now.

[2019-10-31 13:49] ramgdev commented on #84598
@kubernetes/sig-network-dns

[2019-10-31 13:57] pperiyasamy commented on #81728
Hi, Any update on this issue ? I recently checked it with k8s v1.16.2, the issue still exists when k8s is installed on VM. The pod's /sys/fs/cgroup/cpuset/cpuset.cpus file is not updated.
But this seems to be working fine with baremetal deployment.

[2019-10-31 14:00] matthias50 commented on #71712
So this did indeed make the errors go away, but it caused the cAdvisor metrics being reported by kubelet when using crio to be broken See https://github.com/cri-o/cri-o/issues/2926.

[2019-10-31 14:03] DeySouvik opened #84601 "The Scheduler should be Numa Aware and options should be given in the pod defination for the type of Numa awareness required."
**What would you like to be added**:
Currently the topology manager options does take care of attaching the cpu cores to the local numa node, but it does not consider the pci device in case SR-IOV VFs are used. As in that case to get best performance we to align the pci device and cpu from the same numa node to avoid passing network packets over QPI links. This is very important for high network t

[2019-10-31 14:15] danielqsj commented on #84455
@ahg-g I'm working on it, will submit PR soon

[2019-10-31 14:17] zouyee commented on #84597
/cc @klueska
/assign

[2019-10-31 14:17] wenjun8888 commented on #72878
@xueweiz
hey, i still wait the stable release which newer than 5.4-rc3。
the problem now happend everytime when we apply a new deployment.
it feel bad and can you tell me how it happend? thanks~

[2019-10-31 14:17] benmoss commented on #73489
I'd say this is done now.

/close

[2019-10-31 14:17] #73489 closed

[2019-10-31 14:24] DeySouvik commented on #84601
@kubernetes/sig-scheduling-feature-requests

[2019-10-31 14:35] jsmilani opened #84603 "Added/Removing pod interrupts network for completely unrelated pod"
**What happened**:

Whenever a pod is added or removed from kubernetes, the new network connections for completely unrelated pods gets momentarily interrupted. I have not reproduced this with the keep-alive option enabled. It doesn't matter where the pod or the test is running but I generally tested from a kube master and all pods in these tests run on different nodes.

**What you expected to happ

[2019-10-31 14:39] liggitt commented on #81760
If we want to provide the same functionality as hyperkube via another project, I think it would make more sense to do so with a [shim executable that delegates to actual binaries](https://github.com/liggitt/kubernetes/commit/1cf17e64d15f7df312a1020083bd2d979223375e), and to build an image that actually contained the official binaries. That could be done with a single go file, a Dockerfile, and a b

[2019-10-31 14:41] liggitt commented on #81760
That lets the hyperkube image just be a packaging mechanism, and the hyperkube binary avoid dependency entanglement.

[2019-10-31 14:41] #84186 closed

[2019-10-31 14:50] ingvagabund commented on #84306
So a REST storage for limit ranges can not be created:

Expected output:
[code]

Actual output:
[code]

[2019-10-31 14:56] klueska commented on #84597
/close

[2019-10-31 14:56] #84597 closed

[2019-10-31 15:13] Chwetion commented on #84431
Sorry, I don't know is it reproducible, and I will close this question.
If someone has encountered the same problem, I hope it is opened.

[2019-10-31 15:48] kfox1111 commented on #75482
This still periodically affects me. Need a fix.

[2019-10-31 15:54] kfox1111 commented on #5607
What? According to the man page for /dev/mem (http://man7.org/linux/man-pages/man4/mem.4.html)
[code]
If you can touch that file, you are privileged whether its flagged or not... That shoulnd't be handed over to unprivileged containers IMO.

[2019-10-31 16:07] pjbgf commented on #82647
@tallclair custom seccomp profiles may change depending on the value of `securityContext.allowPrivilegeEscalation`. I propose that we only support a single profile version assuming (and recommending that) users should always deploy this component using `allowPrivilegeEscalation=false` (i.e. `--no-new-privileges`). This decreases the risk of breaking the profile due to external changes (e.g. runc,

[2019-10-31 16:09] ibuildthecloud opened #84608 "Tag k8s.io repos with semver-like tags"
**What would you like to be added**:

It would help the go modules ecosystem if k8s.io repos had tags that are semver format.  From a user perspective it would also be nice if the tag matched the corresponding k8s version.  This means today changing the approach of adding `kubernetes-vx.x.x` tags to `vx.x.x` on all k8s.io repos that come from staging/

**Why is this needed**:

The majority of the

[2019-10-31 16:11] #84555 closed

[2019-10-31 16:21] #74862 closed

[2019-10-31 16:48] claudiubelu opened #84609 "tests: should be able to pull from private registry with secret on Windows containerd"
**Which jobs are failing**:

containerd-l2bridge-windows-master
containerd-overlay-windows-master

**Which test(s) are failing**:

[k8s.io] Container Runtime blackbox test when running a container with a new image should be able to pull from private registry with secret [NodeConformance]

**Since when has it been failing**:

Unknown.

**Testgrid link**:

https://testgrid.k8s.io/sig-windows#contain

[2019-10-31 17:02] pohly commented on #84608
Isn't this a duplicate of https://github.com/kubernetes/kubernetes/issues/72638?

[2019-10-31 17:03] apelisse commented on #73723
Nope, this is on-going work, we don't intend to close this any time soon :-)

[2019-10-31 17:06] cheftako commented on #43784
Might be worth opening a separate bug for  clarification. This issue was originally about the secure port not working for /healthz, which I believe has been fixed. It seems like we are now asking for an option to serve /healthz on an insecure port.

[2019-10-31 17:12] claudiubelu opened #84610 "tests: Delete Grace Period should be submitted and removed fails on Windows containerd"
**Which jobs are failing**:

containerd-l2bridge-windows-master
containerd-overlay-windows-master

**Which test(s) are failing**:

[k8s.io] [sig-node] Pods Extended [k8s.io] Delete Grace Period should be submitted and removed [Conformance]

**Since when has it been failing**:

Unknown

**Testgrid link**:

https://testgrid.k8s.io/sig-windows#containerd-l2bridge-windows-master
https://testgrid.k8s.i

[2019-10-31 17:20] liggitt commented on #84608
No, that is exploring switching to semantic *import* versioning, which effectively renames all the modules by adding a `/v<N>` segment after the module name (e.g. `k8s.io/client-go/v17`)

[2019-10-31 17:22] #84532 closed

[2019-10-31 17:40] fejta commented on #75296
This issue has no relevance to me

[2019-10-31 17:41] hh commented on #84330
@johnSchnake mentioned generating this list with an e2e dry run combined with a reporter, but that this approach lacked the comments available via the AST walker.

/assign @johnSchnake

[2019-10-31 17:47] johnbelamaric commented on #70137
/remove-lifecycle stale
/lifecycle frozen

[2019-10-31 18:04] lavalamp commented on #73655
@sttts looks like this is something to be considered for a "normalization" step.

[2019-10-31 18:07] #76531 closed

[2019-10-31 18:08] elishemer commented on #76531
didn't test it myself. confirmed by others. closing issue.

[2019-10-31 18:11] cbf123 commented on #84601
How are your devices reported to kubelet?  The current device plugin API allows the device plugin to report the NUMA node of each device, and the kubelet DeviceManager will generate topology hints and pass them to the topology manager.

For sriov-network-device-plugin these changes were made in commits https://github.com/intel/sriov-network-device-plugin/commit/000db15405f3ce3b7c2f9feb180c3051aa3f

[2019-10-31 18:35] sinkr commented on #80897
Same here with EKS 1.14 and Nginx 0.26.1.

[2019-10-31 18:49] yhaenggi commented on #53533
/remove-lifecycle stale

[2019-10-31 19:16] MorrisLaw opened #84615 "Pull kubectl functions out of e2e test framework utils"
**Why is this needed:**
The original PR, [#77592](https://github.com/kubernetes/kubernetes/pull/77592), was made to address issue [#77095](https://github.com/kubernetes/kubernetes/issues/77095). It ended up getting pretty large and difficult to iterate on and difficult for others to review.

I've decided to break this out into smaller PRs, in order to iterate on this task much quicker. The goal is

[2019-10-31 19:18] MorrisLaw commented on #84615
/sig testing
/area e2e-test-framework

[2019-10-31 19:24] alejandrox1 commented on #84615
/priority important-longterm
/lifecycle active

[2019-10-31 19:24] DeySouvik commented on #84601
Yes the SR-IOV device manager does report back the topology info with the numa node of the pci device(VF). SO you mean to say that once the numa node of the pci is known to the scheduler, it will use that info to check for the cpu resource available and if that is there then the placement/bind of the pod will be successful otherwise not correct ?
Assuming the topology-manager-policy for kubelet is

[2019-10-31 19:25] alejandrox1 commented on #84615
/priority important-longterm
/lifecycle active
/retitle Pull kubectl functions out of e2e test framework utils

[2019-10-31 19:30] xueweiz commented on #72878
Hi @wenjun8888 , I described the bug+cause+fix that I was observing in this [Google Doc](https://docs.google.com/document/d/13KLD__6A935igLXpTFFomqfclATC89nAkhPOxsuKA0I/edit#heading=h.8way5x93xckx).

I am not 100% sure that you are affected by the same bug. You can try to read the doc, and see whether a similar CFS quota/period precision loss could affect you. The same bug can show up as different

[2019-10-31 19:32] vanyans commented on #72226
I also ran into this issue today. Running Kuberentes 1.15.
The kube node that failed was hosting helm repository so I ended up with 2 pods:

kube-system   pod/helm-repository-7bdc8cbd77-jf5fq                      1/1     Terminating
kube-system   pod/helm-repository-7bdc8cbd77-nxtc2                      1/1     Running

Helm wasn't reachable until the Terminating pod was forcefully killed.

Seems

[2019-10-31 19:34] #84419 closed

[2019-10-31 19:49] liggitt commented on #84608
That is correct.

I'm really hesitant to apply v1.x.y tags. We could consider applying v0.x.y tags. That would accurately reflect the current lack of go API stability guarantees between releases, but would be a usability improvement over random date/time SHAs for people trying to understand their go.mod files.

For example, kubernetes v1.16.1 could correspond to k8s.io/{api,apimachinery,apiserver,

[2019-10-31 19:57] verult commented on #73972
Answering my own questions [above](https://github.com/kubernetes/kubernetes/issues/73972#issuecomment-466155706) :

For (3), `IsMultiAttachForbidden()` probably wasn't designed with parallelism in mind, i.e. its original intention was probably not to guard against races.

I confirmed by inspection that the race @gnufied mentioned in his #2 point does exist:
https://github.com/kubernetes/kubernetes

[2019-10-31 20:10] andrewsykim commented on #84363
/assign @nckturner @M00nF1sh

[2019-10-31 20:10] andrewsykim commented on #84363
/provider aws

[2019-10-31 20:10] andrewsykim commented on #84363
/area provider/aws

[2019-10-31 20:44] andrewsykim commented on #84438
kube-proxy clears out UDP conntrack entires for stale service ports as part of it's sync loop. If we didn't do this, conntrack would block UDP packets because it thinks there are conflicting entries from a stale connection.

See the following issues for more context:
https://github.com/kubernetes/kubernetes/pull/22573
https://github.com/kubernetes/kubernetes/issues/31983
https://github.com/kuberne

[2019-10-31 20:50] liggitt commented on #84608
cc @sttts

[2019-10-31 20:53] andrewsykim commented on #84438
/close

Closing for now, feel free to re-open if you think there's another issue with the way kube-proxy is handling UDP conntrack entries

[2019-10-31 20:55] dghubble commented on #81760
In the immediate term, I noticed v1.17 beta images for hyperkube were never published. I was hoping to do my usual testing now that beta's are out, especially if its moving. Seems like its no longer in the release flow, but also doesn't have the new home?

[2019-10-31 21:03] stevebail commented on #84515
@liggitt
I just tried to a create a NS with the following spec.finalizers:

apiVersion: v1
kind:  Namespace
metadata:
  name: alpha
spec:
  finalizers:
  - controller

I got the following error rmessage:
The Namespace "alpha" is invalid: spec.finalizers: Invalid value: "controller": name is neither a standard finalizer name nor is it fully qualified

Two follow-up questions:
1) What are the accept

[2019-10-31 21:03] stevebail commented on #84515
apiVersion: v1
kind:  Namespace
metadata:
  name: alpha
spec:
  finalizers:
  - controller

[2019-10-31 21:06] vllry commented on #84603
/assign @khenidak

[2019-10-31 21:07] stevebail commented on #84515
See attached file for namespace yaml manifest

[namespace.pdf](https://github.com/kubernetes/kubernetes/files/3795809/namespace.pdf)

[2019-10-31 21:07] vllry commented on #84598
/assign @caseydavenport

[2019-10-31 21:08] vllry commented on #84541
/assign @khenidak

[2019-10-31 21:08] vllry commented on #84363
/remove-sig network

[2019-10-31 21:10] vllry commented on #84244
/sig cluster-lifecycle
/remove-sig network

[2019-10-31 21:11] vllry commented on #84230
/assign @caseydavenport

[2019-10-31 21:12] vllry commented on #84172
/assign @thockin

[2019-10-31 21:13] vllry commented on #82067
/close

[2019-10-31 21:13] vllry commented on #81642
/close

[2019-10-31 21:13] #81642 closed

[2019-10-31 21:20] dims commented on #80339
/close

[2019-10-31 21:20] #80339 closed

[2019-10-31 21:21] dims commented on #84608
cc @nikhita

[2019-10-31 21:29] liggitt commented on #84515
It need to be namespaced (e.g. `example.com/myfinalizer`)

It allows a controller to participate in namespace termination before the namespace API object is removed. The canonical example is the namespace controller in kubernetes that first ensures all namespaced resources within the namespace are deleted before releasing the terminating namespace to be removed.

[2019-10-31 21:32] sttts commented on #84608
I like the v0.17.0 approach.
-1 for v1.17.0 as we don't follow the compatiblity conventions it implies.

Would like to see some way to experiment with that, maybe with a tag rewriting goproxy if that is feasible.

[2019-10-31 21:34] markyjackson-taulia commented on #75564
@kwiesmueller ok let me know asap so I can adjust the milestone if needed

[2019-10-31 21:35] althafuddin commented on #56980
Also I found out from --v=8,

the below worked for me (No qoutes for -p command)

kubectl patch horizontalpodautoscalers.autoscaling qa-master-instance -p {"spec":{"maxReplicas":4}}

[2019-10-31 21:37] markyjackson-taulia commented on #82484
@wojtek-t  Bug triage for 1.17 here with a gentle reminder that code freeze for this release is on November 14. Is this issue still intended for 1.17?

[2019-10-31 22:12] khogeland commented on #79723
It's possible to work around this by setting `loadBalancerSourceRanges` to something bogus (i.e. `127.0.0.1/32`) and putting your desired SG in the `service.beta.kubernetes.io/aws-load-balancer-extra-security-groups` annotation instead (k8s won't modify this one).

[2019-10-31 22:13] PatrickLang commented on #84609
@bclau - is the login/password public so this can be debugged outside of the prow cluster?

[2019-10-31 22:19] PatrickLang commented on #84610
Failing test code:
https://github.com/kubernetes/kubernetes/blob/5823cfce76780efe5897429ea59ca55f268a3123/test/e2e/node/pods.go#L141

[2019-10-31 22:36] ibuildthecloud commented on #84608
Can somebody explain what the harm is here?  I would like to hear the next level of detail beyond "we don't follow" semver.  Very, very few projects follow semver properly so you really are no worse or better than the rest of the ecosystem.  Basically v0.x and v1.x will function the same from the go modules perspective.  So I'm fine if you want to go with v0.x but don't fully the need for it. I ca

[2019-10-31 22:40] johnbelamaric commented on #82435
Given this is actually in use and not a threat, I am closing this issue.

/close

[2019-10-31 22:40] #82435 closed

[2019-10-31 22:43] PatrickLang commented on #84609
@bclau  - what containerd branch / hash was it built from?

[2019-10-31 23:02] jterry75 commented on #84610
@PatrickLang - Can you try to tell me what CRI calls this test amounts to? We can absolutely terminate a sandbox within 30 seconds :). So something must be different then how crictl issues a stop?

[2019-10-31 23:03] jterry75 commented on #84609
@Random-Liu - Some part of my memory thinks this was fixed in upstream containerd/cri. Do you recall any items around this recently?

[2019-10-31 23:58] CecileRobertMichon commented on #84556
this is due to https://github.com/kubernetes-sigs/windows-testing/issues/110, thanks @chewong for investigating

[2019-11-01 00:01] choonkeat commented on #16707
in the meantime...

[code]

[2019-11-01 00:13] pjbgf opened #84623 "Seccomp at POD level always requires too many syscalls"
**What happened**:

For a single container pod with `AllowPrivilegeEscalation=false`, setting the seccomp profile at pod or container level results in vastly different syscalls to be whitelisted.

**What you expected to happen**:

The same (or similar) pod seccomp profile should work at both container or pod levels. Instead, setting profiles at pod level requires excessive permissions, including:

[2019-11-01 01:04] #80070 closed

[2019-11-01 01:18] hex108 commented on #84186
Thanks @mm4tt !

[2019-11-01 01:27] veeshall commented on #82889
@rajansandeep I am having a similar issue, but this is related to rewrite plugin, which I believe is supported in the newer coredns version as well. I can workaround by skipping (or removing rewrite rule and adding it back again). Let me know if you want me to create a new issue to track this, or if this is already tracked.

Kubernetes upgrade from 1.15.3 to 1.16.2

kubeadm upgrade plan
[code]

co

[2019-11-01 01:37] rajansandeep commented on #82889
@veeshall Yes, the upgrade should happen smoothly by just skipping the preflight check.
I’ll improve the functionality of the preflight check since more than a few users are having trouble with this.
/reopen

[2019-11-01 01:51] hex108 commented on #80800
/close

[2019-11-01 01:51] #80800 closed

[2019-11-01 02:59] SataQiu commented on #84615
I'm willing to help! Is there a more detailed division of work? @MorrisLaw

[2019-11-01 03:03] SataQiu commented on #84615
/assign

[2019-11-01 03:10] clarklee92 commented on #84580
In `staging/src/k8s.io/apiserver/pkg/storage/names/generate.go`
[code]
This seems to have been established as the standard k8s name, the current process is to truncate characters over 63.
Well，https://kubernetes.io/docs/concepts/overview/working-with-objects/names/ . It does specify the length of the name, here is the code:
[code]
First there is a judgment to pod prefix  given by the upper resourc

[2019-11-01 03:11] MonkeyLi commented on #52817
Any progress on this issue? It seems like some kind bug.

[2019-11-01 03:14] OoEddieoO commented on #84438
It is ok to clear the conntrack about the stale UDP service.
But in my issue, the UDP service run on the master node (172.16.100.50), and the network disconnected node (172.16.100.52) is a worker node.
there are some strange points:
1. why one node network would affect the UDP service running on the others node
2. why the problem always happens after network of the node whose network disconnected

[2019-11-01 03:17] OoEddieoO commented on #84438
12. this udp service ip, endpoint ip and pod id are checked every phase. Nothing changed about them

[2019-11-01 03:24] OoEddieoO commented on #84438
/re-open

[2019-11-01 03:26] KevinTHU opened #84627 "error happened when using 'kubeadm join --control-plane --certificate-key' to add a new master node if we are using external etcd"
**What happened**:
when using 'kubeadm join --control-plane --certificate-key' to add a master node,  this error happened: "the Secret does not include the required certificate or key - name: external-etcd.key, path: /etc/etcd/apiserver-etcd-client.key"

**What you expected to happen**:
download the certification of k8s api, and I have my external etcd certification locally, so I can add this mast

[2019-11-01 03:27] OoEddieoO commented on #84438
/open

[2019-11-01 03:31] KevinTHU commented on #84627
/sig cluster-lifecycle

[2019-11-01 03:47] KevinTHU commented on #84627
The new master node will be added correctly if we add it in 2 hours after `kubeadm init --config --upload-certs` the first master node, just with the `kubeadm join` command printed by the `kubeadm init` result. So, the problem is on the command `kubeadm init phase upload-certs --upload-certs`, the new **kubeadm-certs** generated by this command is lack of the information about external etcd.
I hav

[2019-11-01 03:50] OoEddieoO opened #84629 "kube-proxy clean udp conntrack after node network resumed"
**What happened**:
A k8s cluster with node 172.16.100.50(master) 172.16.100.51(worker) 172.16.100.52(worker). And a process (172.16.100.60) out of K8S as recever recv UDP packets on the port 5060 and repley UDP packets to the sender.
The whole process looks like as:

1.  The first UDP packet is send from pod to device. The pod's service export type is ClusterIP

2.  The pod send first UDP packet o

[2019-11-01 03:51] OoEddieoO commented on #84629
/network

[2019-11-01 03:51] OoEddieoO commented on #84629
/sig network

[2019-11-01 03:52] KevinTHU commented on #84627
alright, maybe I need to  close this issue, with command `kubeadm --config kubeadm-config.yaml init phase upload-certs --upload-certs`, we will get the correct **kubeadm-certs**.

but maybe we need to add it into the `kubeadm init `result for a detailed describe about using external etcd, and the k8s website also.

[2019-11-01 03:59] ZPerling commented on #4896
How can I do this settings in kubeadm config?

[2019-11-01 04:03] MorrisLaw commented on #84615
Hey @SataQiu I’ve started work on this already with the original PR. But It was getting too big and I thought it’d be easier to break the PR down into smaller pieces.

I made this issue to track that work..
The first PR which adds a `TestKubeconfig` struct is up now and is important for being able to abstract away the `kubectl-related` functions.

I haven’t broke down a division of work, but, I pl

[2019-11-01 04:29] andrewsykim commented on #84438
/re-open

[2019-11-01 04:29] andrewsykim commented on #84438
/reopeen

[2019-11-01 04:29] andrewsykim commented on #84438
/reopen

[2019-11-01 04:30] andrewsykim commented on #84629
Opened this one again https://github.com/kubernetes/kubernetes/issues/84438

/close

[2019-11-01 04:30] #84629 closed

[2019-11-01 04:42] Inv0k-er opened #84632 "How to resolve that issue ? Readiness probe failed: HTTP probe failed with statuscode: 503"
How to resolve that issue ?
"cniVersion": "0.3.1"

kube-system coredns-5644d7b6d9-47k52 0/1 Running 0 3h29m
kube-system coredns-5644d7b6d9-8vmzv 0/1 Running 0 3h29m

kubectl describe pod/coredns-5644d7b6d9-47k52 -n kube-system

Name: coredns-5644d7b6d9-47k52
Namespace: kube-system
Priority: 2000000000
Priority Class Name: system-cluster-critical
Node: pr40/178.88.161.72
Start Time: Wed, 30 Oct 201

[2019-11-01 04:44] xmlking commented on #65502
@rdsubhas we have some init-containers that need network access. This makes even worse to use istio as  1st istio-init` is not even updated iptables

[2019-11-01 04:53] #74552 closed

[2019-11-01 04:53] #74923 closed

[2019-11-01 05:10] prasadasokan commented on #84172
Please mark this as closed. The issue was with discrepancy in the weave net db and once we cleared that, nodeports started listening on masters.

[2019-11-01 05:10] #84172 closed

[2019-11-01 06:12] wenjun8888 commented on #72878
@xueweiz
thanks！ i read the doc first...

[2019-11-01 06:23] 27Bslash6 commented on #78879
ping

[2019-11-01 06:25] 27Bslash6 commented on #78879
Same issue when the file doesn't exist on the pod

[2019-11-01 06:35] cofyc commented on #83913
FYI, HostExec's kubectl dependency has been removed in https://github.com/kubernetes/kubernetes/pull/84444 (also added a method to replace ssh.SSH when necessary).

[2019-11-01 06:37] wenjun8888 commented on #72878
@xueweiz
hey，thanks a lot for your help.
i decide to install a stable kernel having the patch which you mentioned,
but i am not good at this well, could you tell me which stable kernel should i take?

[2019-11-01 06:43] pjbgf commented on #82647
The seccomp custom profile is blocked by https://github.com/kubernetes/kubernetes/issues/84623.

[2019-11-01 06:50] cofyc commented on #83323
I am trying to move volume binding code into the scheduler plugin (`VolumeBinding`)(https://github.com/kubernetes/kubernetes/pull/83726). It this is not urgent, we can implement it in the new VolumeBinding plugin.

/cc

[2019-11-01 06:55] pjbgf commented on #73275
@tallclair pointed me to this issue as it is another side effect of the issue I am working on at the moment.

The root cause here is that currently runC is oblivious to the fact the container is supposed to run as no-new-privs. The bit for PID 1 is being set based on the `security-opts` the Kubelet is sending, however, runC expects a field named `NoNewPrivileges`. More info at #84623.

/assign @pj

[2019-11-01 07:33] #78577 closed

[2019-11-01 07:40] adarshaJha commented on #44665
it is still showing the same error when i run` kubectl version`

[2019-11-01 07:57] danil-smirnov commented on #16707
Sorry but I don't want to add jq dependency into my container.

And jsonpath is quite different language than jq, so you can not "just change"  `-o jsonpath=` to `-o json` as in your example, you have to translate the query as well.

[2019-11-01 08:10] alitoufighi opened #84634 "Kubelet overrides default configuration file when upgraded"
**What would you like to be added**:
Hi. When upgrading Kubelet, it overrides the default configuration file placed in `/var/lib/kubelet/config.yaml`. But I don't think this is what people always want to happen.

In my case, I change this file for my own configurations and I don't want to keep it in another place. Default location doesn't mean default configuration file to me and I consider the de

[2019-11-01 08:25] george-angel commented on #43784
Fair, feel free to close.

[2019-11-01 08:44] hakman commented on #82326
Hi @neolit123. Any chance this can make its way into 1.16 at least?

This way it may get picker up by Kops and not have to rely on some old and unpatched Docker version. At the moment Docker CE 18.09 is no longer actively supported https://github.com/docker/for-linux/issues/824.

[2019-11-01 09:20] danielqsj commented on #84455
@ahg-g @liu-cong PTAL #84635, thanks

[2019-11-01 09:33] jmsking opened #84636 "contacting the APIServer to create the pod failed"
/kind bug

when i create a notebook with default configuration, but the pod is created failed, and here is my logs:

**_$kubectl describe -n maysnow sts nb-001_**
[code]

**_$kubectl logs notebook-controller-deployment-7f5d8c6c48-224hq -n kubeflow --tail 5_**
[code]
**_$kubectl get pvc -n maysnow_**
[code]

**_$kubectl describe notebook nb-001 -n maysnow_**
[code]

**_$kubectl version_**
[code]
_*

[2019-11-01 09:40] jmsking commented on #84636
/sig auth

[2019-11-01 09:47] redbaron commented on #72480
/remove-lifecycle stale

[2019-11-01 10:07] gaopeiliang commented on #84632
1.   coreDNS Pod are trying to dial with api_server ,, 10.96.0.1 maybe api_server cluster_ip ...
2.  coreDNS failed dial api_server, so not ready , so probe failed ..
3.  that all POD network not work correct...  first check pod network , flannel or else ,, then check kube-proxy

[2019-11-01 10:16] xiaowuwu163 commented on #75870
我也遇到了这个问题，请问你解决了吗，能否提供一下方案，谢谢。

[2019-11-01 10:24] neolit123 commented on #82326
hi, we cannot backport this as it's not a critical fix.
at least in the case of kubeadm the 19.* versions of docker would only print a warning.

[2019-11-01 11:01] Inv0k-er commented on #84632
I am sorry but can you help me ?
I don't know what command need to check it ?
Can you send me ?

[2019-11-01 11:01] Inv0k-er commented on #84632
I am sorry but can you help me ?
I don't know what command need to check it ?
Can you send me ?

[2019-11-01 11:30] KevinTHU commented on #84244
the same problem happened, with external etcd.

[2019-11-01 11:37] #78149 closed

[2019-11-01 11:53] #83775 closed

[2019-11-01 12:06] mrueg commented on #82326
@neolit123 but doesn't the existence of a vulnerability make this critical enough?

[2019-11-01 12:07] mdedetrich commented on #47202
Agreed, if they can't implement a proper solution in k8s they shouldn't add in the solution at all. Cronjob's are designed to work with timezones, also all OS's today handle timezones transparently with the associated OS functions.

The reasoning does not appear to be coherent, if we are going to go by this logic then there should be a lot of features that exist in K8s which shouldn't exist.

[2019-11-01 12:10] ankon opened #84642 "Secrets of type 'kubernetes.io/service-account-token' are not garbage collected"
**What happened**:

We're running a EKS cluster for a couple of months now, and notice a serious amount of secrets being kept in the cluster (>15k!). Looking further into that we found that these were secrets of type `kubernetes.io/service-account-token`, which were likely not used anymore -- the service account for these secrets only mentioned _one_ secret in its own secret list.

**What you expe

[2019-11-01 12:11] adelina-t commented on #84610
@jterry75 To gracefully delete the pod, the test issues this API call: https://github.com/kubernetes/kubernetes/blob/5823cfce76780efe5897429ea59ca55f268a3123/test/e2e/node/pods.go#L123-L132

I'm looking further into exactly how this is eventually handled by kubelet.

[2019-11-01 12:12] ankon commented on #84642
/sig api-machinery

(Guessing)

[2019-11-01 12:21] neolit123 commented on #82326
the usage of Docker 19.* is not blocked in any way in 1.16.
you can ignore the `WARNING SystemVerification` and just use it.

if something was blocking the usage of 19.*, then this is backport worthy.

[2019-11-01 12:30] langecode commented on #81905
May I ask what the actual misconfiguration turned out to be? I am seeing something similar.

[code]

Note container with postfix `62k4b`. If I look at `/metrics/cadvisor` on the kubelet I have:
[code]
Should be about 26 GiB? So there is quite a huge difference between 1386 Mi and 26 GiB.

[2019-11-01 12:38] #75017 closed

[2019-11-01 12:40] aojea commented on #84541
@khenidak I have a PR to fix this bug, PTAL
https://github.com/kubernetes/kubernetes/pull/84550

[2019-11-01 12:43] hakman commented on #82326
I saw this as the first step before adding 19.03 as a validated external release. Without being documented as such Kops will not pick it up as default and will leave people with old and vulnerable Docker versions.
If this I understand correctly the above comments, 19.03 has been validated for some time, just not documented.

[2019-11-01 12:53] neolit123 commented on #82326
i don't think kops uses the kubeadm validators that reside in k/k/cmd/kubeadm/app/...
this was resolved in this PR https://github.com/kubernetes/kubernetes/pull/84476

the k8s docs for CRI are still out of date:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/

so if someone wants to send a PR for that page please go ahead:
https://github.com/kubernetes/website/blob/mast

[2019-11-01 13:18] danwinship commented on #83263
OK...

This is fixed by #83387 which adds `BoundedFrequencyRunner.RetryAfter()` and makes the iptables proxier use it as needed.

This is fixed by #83498, which changes the health check to check, basically, "the proxy hasn't declared that it needs to push an iptables update, but then failed to push an iptables update"

No one argued that this was inherently API-breaking, so we don't necessarily ne

[2019-11-01 13:18] #83263 closed

[2019-11-01 13:22] izakp commented on #40157
After following this thread I wrote this tool which you can use to send a nice SIGTERM to your entrypoint script or pid 1 of the container https://github.com/izakp/docker-preoomkiller

[2019-11-01 13:33] obitech commented on #80941
/remove-lifecycle stale

[2019-11-01 13:50] hakman commented on #82326
I couldn't find any repos missing docker 19.03.4.

Any chance to do the change in the changelog?
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#dependencies

[2019-11-01 14:05] willzhang opened #84644 "failed to write or validate certificate "apiserver": certificate apiserver is invalid: x509: certificate is valid for"
### i use my self pki for kubeadm
[code]
### what happend?
[code]

### the second master ip
10.0.2.15 is vagrant first interface ip, but i use the second interface ,how can i resolve it?
[code]

[2019-11-01 14:05] verb commented on #80875
@Rand01ph I think that would address the problem, but I'm not sure exactly what you have in mind. Here's what I had in mind:

When `convertStatusToAPIStatus()` was written, there was a single list of containers, so it iterated that list to covert statuses. Now there are 3 lists of containers, but still only a single list of `kubecontainer.ContainerStatus`, so it probably makes more sense to iterat

[2019-11-01 14:07] liu-cong opened #84645 "Should allow certain custom predicate/priority to be configured multiple times"
**What happened**:
In #83472, we agreed to not allow duplicate custom predicate/priorities. However, due the the API design of certain predicate/priorities, sometimes multiple instances are actually needed. For example, if one want to use the [LabelPreferencePriority](https://github.com/kubernetes/kubernetes/blob/9769d49bb566454617a3df2ab5de6204d3abdaaa/pkg/scheduler/algorithm/priorities/node_labe

[2019-11-01 14:08] ingvagabund commented on #84306
Each time an apiserver instance is created, there is a bunch of Rest storage connections created. Unfortunately, the code does not allow to close all the connections at all. So after 15 consecutive instances of apiserver, we just run out of available connections to etcd. I still need to modify the apiserver code to allow to close all the connections to verify my theory. Though, so far it looks to

[2019-11-01 14:22] droslean commented on #84512
@k82cn @ahg-g

Can you check it?

[2019-11-01 14:24] droslean commented on #84512
/priority critical-urgent

[2019-11-01 14:29] droslean opened #84650 "[Failing Test] gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)"
**Which jobs are failing**:
`gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)`

**Since when has it been failing**:
`1st Nov 05:49 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan  @Verolop @epk

[2019-11-01 14:29] droslean commented on #84650
/milestone v1.17

[2019-11-01 14:30] michmike commented on #84556
thank you @adelina-t

[2019-11-01 14:30] droslean commented on #84650
/sig network
/priority critical-urgent

[2019-11-01 14:31] droslean commented on #84650
/cc @dcbw @caseydavenport @thockin

[2019-11-01 14:34] losipiuk opened #84651 "Scheduler: Cannot get PredicateMetadataProducer when using scheduler.New (Cluster Austoscaler compatibility)"
/sig scheduling
**What would you like to be added**:

Expose `PredicateMetadataProducer` from constructed `Scheduler` object.

**Why is this needed**:

Cluster Autoscaler is internally creating scheduler instance to perform predicates simulations.
Up until now we used `factory.NewConfigFactory` for bootstrapping scheduler. This allowed as to obtain the `PredicateMetadataProducer` via `configurator

[2019-11-01 14:35] losipiuk commented on #84651
/assign @ahg-g

[2019-11-01 14:36] droslean opened #84652 "[Failing Test] gce-cos-master-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability)"
**Which jobs are failing**:
`gce-cos-master-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability)`

**Since when has it been failing**:
`1st Nov 01:32 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan @Verolop

/milestone v1.17
/priority critical-

[2019-11-01 14:38] droslean commented on #84652
/cc @k82cn @ahg-g

[2019-11-01 14:41] liu-cong commented on #84645
https://github.com/kubernetes/kubernetes/blob/0a29c06ba644007937dda1ce6990715ca5c735b6/pkg/scheduler/algorithm/predicates/predicates.go#L941-L945

For **LabelsPresence** predicate, the corresponding NodeLabelPlugin require the following args:
[code]

1. For each `LabelsPresence` predicate configured in the policy, we concatenate `labels` with `presense=true` to `PresentLabels` list, while `labels`

[2019-11-01 14:44] ingvagabund commented on #84306
Confirmed. After few modifications of the code I was able to run at least 30 instances of the apiserver in a row.

[2019-11-01 15:13] liggitt commented on #84642
The tokens are still valid as credentials even if they are not referenced from the serviceaccount object as the active secret to automount. That means they cannot be safely garbage collected without knowledge of whether an external process is using that credential.

See https://github.com/kubernetes/kubernetes/issues/20165 for discussion on service account token rotation.

/close

[2019-11-01 15:13] #84642 closed

[2019-11-01 15:15] liggitt commented on #84636
/remove-sig auth

it looks like a network communication issue between the controller and the server:

the RBAC-related message in the logs looks like it is attempting to use v1alpha1-level APIs which are not served by default

[2019-11-01 15:19] liggitt commented on #84571
is the raw response useful/different? I can see the raw request being useful in some scenarios

[2019-11-01 15:45] pohly commented on #84608
It also proposed to "have the tags as 13.0.1" or something similar, so it is also about semantic versioning. But as you noted, when tagging with vX.Y.Z with X >= 2 then one must use semantic imports, otherwise `go mod` refuses to import it. The tagging with v0.x.y will be simpler and indeed a better match for the lack of API stability.

[2019-11-01 15:54] ahg-g commented on #84652
Why is this related to scheduler?

/cc @Huang-Wei

[2019-11-01 16:05] ahg-g commented on #84512
@Huang-Wei can you please take a look? I will be in a flight for the next 10 hours.

[2019-11-01 16:14] ankon commented on #84642
They might be valid, and that's fine -- but that's not the really the main point of this issue.

The point here is that k8s decided to create something, and then let it lie around silently, _seemingly forever_. My concern here is that over time the etcd will just run full, which makes the api server very unhappy, and which ultimately makes my cluster fail. One could say "scale etcd appropriately",

[2019-11-01 16:22] liggitt commented on #84642
Unless otherwise requested, Kubernetes one per service account, and when that service account is deleted, the secret is also deleted.

You can request another secret be created by removing the existing token from the serviceaccount's secrets list.

You can request a token be populated into an existing secret by creating the secret with the correct type and name/uid annotations.

The actor that cle

[2019-11-01 16:25] oomichi commented on #84380
@tanjunchen @hwdef
Thanks for your work, I've updated the above list based on your input.

[2019-11-01 16:29] arraycto opened #84653 "i am crazy，please help me.@ admin"
env:
vm15
centos7.5
k8s:1.16.2
dashboart:v2.0.0-beta5

Error is now。。。。。

[root@bigdata001 k8s]# kubectl get pods --all-namespaces -o wide
NAMESPACE NAME READY STATUS RESTARTS AGE IP NODE NOMINATED NODE READINESS GATES
default nginx-86c57db685-l847h 1/1 Running 0 36m 172.17.0.3 192.168.186.129
kube-system calico-kube-controllers-dd597647d-mqwjx 0/1 CrashLoopBackOff 33 151m 192.168.186.129 192.168.

[2019-11-01 16:32] ankon commented on #84642
Thanks!

AHA! I think the problem here is could then actually be caused by our deployment procedure, I'll have to check that there.

Good, assuming that the above "deployment procedure assumption" turns out to be wrong, I guess I'll convert my script into something I can run continuously in the cluster and adapt it to that rule.

[2019-11-01 16:33] arraycto commented on #84653
now. i am is a rookie。the dashborad 2.0.0. is hard 。please watch logs

[2019-11-01 17:06] andrewsykim commented on #82869
@thewilli curious which node IP validation is failing? Are you using a loopback IP for --node-ip?

[2019-11-01 17:07] andrewsykim commented on #82869
Ah I see now, you're using a node IP that doesn't match any network interfaces on the host.

[2019-11-01 17:13] andrewsykim commented on #82065
/close

Feel free to re-open with more details

[2019-11-01 17:15] jaypipes commented on #79721
This was fixed with #79725

[2019-11-01 17:15] #79721 closed

[2019-11-01 17:24] cblecker commented on #84653
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2019-11-01 17:24] #84653 closed

[2019-11-01 17:25] ehashman commented on #40214
I've taken a deeper look at this and found that this is a cadvisor/container runtime issue, not a Kubernetes issue. I don't think it makes sense to try to add these metrics as requested in this ticket, and I'll try to explain why.

cadvisor metrics are registered here, unmodified:

https://github.com/kubernetes/kubernetes/blob/58323cbf4e0efa7be1b43eae04beb0a37494312f/pkg/kubelet/server/server.go#L

[2019-11-01 17:26] stevebail commented on #84515
@liggitt
Last 3 questions before closing this issue :)

I see the following NS API calls are supported on the /status subresource:
- get /api/v1/namespaces/{name}/status
- put /api/v1/namespaces/{name}/status
- patch /api/v1/namespaces/{name}/status

1) What is the purpose of the NS /status subresource?

2) Will  get /api/v1/namespaces/{name} provide the same status data as get /api/v1/namespaces/

[2019-11-01 17:39] liggitt commented on #84515
To allow modification of the status substruct on the resource, and to allow permissioning it separately (can allow a normal user to write to `/api/v1/namespaces/{name}` to change labels/annotations without letting them change status)

Yes, gets return the same data

The system makes changes to status via the API.

[2019-11-01 17:45] #78669 closed

[2019-11-01 17:47] Huang-Wei commented on #71541
Another flake: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83578/pull-kubernetes-integration/1190306355727044611/

[2019-11-01 17:47] Huang-Wei commented on #83321
Another flake: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/83578/pull-kubernetes-integration/1190306355727044611/

[2019-11-01 18:13] jterry75 commented on #84610
@adelina-t - But do you know what CRI calls this is? IE: this is the REST call but I want to see understand what actually hits cri/containerd. Our test with crictl to the daemon specifically can stop these containers well within this limit. So I am trying to understand what is taking all the time.

[2019-11-01 18:34] costinm commented on #69836
For the problem that pods in a namespace don't know the root CA, they only have access to the public key of Apiserver.

One option is to expose the signing key on a 'well known' location, served by apiserver. Clients can connect to apiserver using a https:// URL checking against the mounted apiserver root.  For example something like: https://kubernetes/api/v1/namespaces/kubesystem/services/rootca

[2019-11-01 18:38] adelina-t commented on #84610
@jterry75 That's what I said, this is how the tests calls the delete, I'm now looking into what exactly it's doing until it reaches the CRI, because I strongly suspect it's not the normal delete path.

[2019-11-01 18:48] damemi commented on #83321
These flakes are consistently (always) timeouts waiting on node taints:
[code]

https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler/taint_test.go#L769-L771

[2019-11-01 18:50] zhujl1991 commented on #51046
Any plan to support arbitrary field selector for CRDs?

[2019-11-01 18:53] liggitt commented on #51046
Not currently

[2019-11-01 19:17] liu-cong commented on #84645
https://github.com/kubernetes/kubernetes/blob/9769d49bb566454617a3df2ab5de6204d3abdaaa/pkg/scheduler/algorithm/priorities/node_label.go#L28-L32

For NodeLabelPriority, the corresponding NodeLabelPlugin require the following args:
[code]

Similar to LabelsPresence predicate, we concatenate priority args in the policy to the 2 label lists in plugin args. For each label, we need to create a NodeLabel

[2019-11-01 19:20] ColinChartier commented on #20227
I wrote an article on how to do this with only FOSS tools: https://layerci.com/blog/container-tcp-tunnel/

[2019-11-01 19:26] liggitt commented on #84608
opened https://github.com/kubernetes/enhancements/pull/1350 to propose adding `v0.x.y` tags

[2019-11-01 19:30] excavador commented on #20227
You solution does not work in case of https://github.com/GoogleContainerTools/distroless containers or in case if `nc` tool missed inside container.

The generic solution for any possible docker images possible only on kubernetes level.

[2019-11-01 19:31] ColinChartier commented on #20227
Yes, but it's possible to build a statically linked "tcpserver" and copy it in if necessary - which should work for almost all use cases

[2019-11-01 19:53] tallclair commented on #84571
Right, I mostly see RawResponse being useful as an optimization.

[2019-11-01 19:58] #84515 closed

[2019-11-01 21:34] cbf123 commented on #84601
Right.  There are open issues related to the topology manager, but the general idea is that the device plugin would report the NUMA affinity for each device, and (assuming resources and node selectors are set up appropriately) the pod will be placed on a host and NUMA node where all the resources satisfy the topology manager policy.

[2019-11-01 21:38] joalmjoalm opened #84663 "Pod with volume mounted w FileOrCreate created as directory instead of file."
Volume hostpath is created as directory even if FileOrCreate is in config.

Install tool:
RKE version v0.3.0
Kubernetes version 1.15.4

Docker version: (docker version,docker info preferred)
On kubernetes nodes: Docker version 18.09.9, build 039a7df9ba

Operating system and kernel: (cat /etc/os-release, uname -r preferred)
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)
kernel 4.15.0-65-generic

[2019-11-01 21:43] adelina-t commented on #84610
@jterry75 : So the CRI call is StopContainer as it should be expected.

But I believe I have a better understanding of what is going on. So deleteGracePeriod should be the time we should wait for the task to stop ( with SIGTERM ) before sending SIGKILL and killing it ( https://github.com/jterry75/cri/blob/windows_port/pkg/server/container_stop.go#L153 ). With that in mind, I've did the following:

[2019-11-01 22:01] jterry75 commented on #84610
Thanks @adelina-t! Can you help me with where this image is published so I can do a manual test against cri via crictl with some verbose logging? I should be able to figure out why its not coming down easily.

[2019-11-01 22:03] adelina-t commented on #84610
@jterry75 The image is on dockerhub : e2eteam/nginx:1.14-alpine .

[2019-11-01 22:27] evanfoster commented on #67577
For folks using CoreOS, [there's an open issue](https://github.com/coreos/bugs/issues/2623) requesting that @chiluk's patch be backported.

[2019-11-01 23:02] ingvagabund commented on #84306
PR allowing to close etcd connections by cleaning REST storages: https://github.com/kubernetes/kubernetes/pull/84667

[2019-11-01 23:10] lavalamp commented on #84608
I think it's super ironic that client-go, the one place we actually *tried* to be semver compliant, is the thing that's hardest to fix :(

[2019-11-01 23:14] liggitt commented on #84608
Yup

[2019-11-02 00:31] davidz627 opened #84668 "CSI Migration Inline Volumes treating multiple volumes as the same"
Minimal Repro:
- Create 2 different disks
- Create 2 Pods each using one of the disks
- Start both pods on the same node

You will notice **one** of the disks gets `NodeStageVolume`ed to a path: `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/mypvc/globalmount`, then **both** disks are `NodePublishVolume`ed from `/var/lib/kubelet/plugins/kubernetes.io/csi/pv/mypvc/globalmount` to a target path: `/v

[2019-11-02 00:31] davidz627 commented on #84668
/sig storage

[2019-11-02 00:39] davidz627 commented on #84668
The inline volume example I'm using:
[code]
I've confirmed that changing the "name" makes inline volumes work well since there is no longer a collision on the paths

[2019-11-02 00:50] #68400 closed

[2019-11-02 02:47] zouyee commented on #84645
/assign

[2019-11-02 02:53] tedyu commented on #84306
Is it possible to share the same api server instance during the benchmark test ?

[2019-11-02 03:20] zouyee commented on #84663
master branch:
`-rw-r--r--. 1 root root   0 11月  2 11:00 some.conf`

1.13.2 branch:
`-rw-r--r--. 1 root root        0 11月  2 10:48 some.conf`

release-1.15:
`-rw-r--r--.  1 root root   0 11月  2 11:12 some.conf`

[2019-11-02 03:33] timyinshi commented on #72905
my cluster has the same error,i know the reason,when pvc create rbd image,have no right result,the rbd create process is hung,so the pvc's resourceversion is not right.i think when resovle the problem of rbd can not work,the pvc ’resourceversion is right.
 kubectl exec kube-controller-manager-mgt01 -nkube-system -it sh
sh-4.4# ps -ef
UID        PID  PPID  C STIME TTY          TIME CMD
root

[2019-11-02 06:08] mrrandrade commented on #36222
Since I've still met this on 1.16, I'll point a bullet list of the regular culprits for the configmap messing:

- spaces before newline:

[code]

- Tabs:
[code]

- Special characters like ãẽõ, áéó, öß will also mess your files. Look up for them in your comments, they might pass through!

[2019-11-02 06:59] #78797 closed

[2019-11-02 07:57] #78682 closed

[2019-11-02 08:07] timchenxiaoyu opened #84671 "iptables kube-proxy problem"
kubenetes  v1.13.x

ab  pressure measurement ,use iptables kube-proxy
when deploy rolling update

# ab -n 100000 -c 5   http://xx.xx.xx.xx:40235/version
Benchmarking 10.143.253.218 (be patient)
Completed 10000 requests
Completed 20000 requests
apr_socket_recv: Connection reset by peer (104)
Total of 24391 requests completed

[2019-11-02 11:00] #73688 closed

[2019-11-02 11:08] ingvagabund commented on #84306
It is though you will not get vanilla API server. The server will have different state at each iteration which might influence the test results.

[2019-11-02 13:02] #78726 closed

[2019-11-02 13:25] droslean opened #84675 "[Failing Test] gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)"
**Which jobs are failing**:
`gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)`

**Which test(s) are failing**:
[code]
[code]
[code]
[code]
**Since when has it been failing**:
`1st Nov 18:36 PDT`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-cos-master-slow

**Reason for failure**:
Check : https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes

[2019-11-02 13:26] droslean commented on #84675
/cc @childsb @saad-ali

[2019-11-02 13:29] gongguan commented on #78797
@vllry could you please update the issue name as [here](https://github.com/kubernetes/kubernetes/pull/83832#discussion_r341792028)

[2019-11-02 13:40] droslean opened #84676 "[Failing Test] kubeadm-kind-master (ci-kubernetes-e2e-kubeadm-kind-master)"
**Which jobs are failing**:
`kubeadm-kind-master (ci-kubernetes-e2e-kubeadm-kind-master)`

**Since when has it been failing**:
`31 Oct 00:13 PDT`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#kubeadm-kind-master
**Reason for failure**:
[code]

**Anything else we need to know**:
 /cc @alenkacz @hasheddan @Verolop

/milestone v1.17

[2019-11-02 13:40] droslean commented on #84676
@alejandrox1 Which `sig` is responsible for this test?

[2019-11-02 13:45] droslean commented on #84652
Job is green now.
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-scalability-100
/close

[2019-11-02 13:45] #84652 closed

[2019-11-02 13:48] droslean commented on #84183
We still hit
[code]
[code]

/priority critical-urgent
/cc @kubernetes/release-team FYI

[2019-11-02 14:15] droslean commented on #84676
/cc @justinsb @timothysc

[2019-11-02 18:26] excavador commented on #20227
Of course, it possible. You have the number of options:
- telepresence
- include nc to your base image or some your tool
- write the light version of telepresence

In my company, we first write telepresense equivalent, now returns redirects from our nginx-based container and process it on our side.

But ticket is not about workarounds, ticket about built-in universal solution to address reverse po

[2019-11-02 18:43] liggitt commented on #84663
/remove-sig node
/sig storage

[2019-11-02 20:09] #78142 closed

[2019-11-02 20:57] tozka commented on #47538
At the moment manual start of cron job doesn't respect the cron job's concurrency policy.
This is a problem. We are using actively many cron jobs (hundreds) to start short-living processing tasks with different schedules (from every few minutes to every day or week). Those tasks are managed through many people (though separate interface, cron job is the implementation detail). Some of those tasks

[2019-11-03 00:13] clarklee92 commented on #84663
I think I encountered this issue. Specify `mountPropagation ` is necessary while using `hostPath`:
https://kubernetes.io/docs/concepts/storage/volumes/  , `HostToContainer ` or `Bidirectional ` is valied.
[code]

[2019-11-03 04:49] alexeldeib commented on #80112
/close

[2019-11-03 04:49] #80112 closed

[2019-11-03 04:49] alexeldeib commented on #80112
https://github.com/kubernetes/kubectl/blob/master/pkg/drain/drain.go

[2019-11-03 05:50] yliaog commented on #84183
[sig-api-machinery] Aggregator Should be able to support the 1.10 Sample API Server using the current Aggregator [Conformance]

The failure is due to "e2eteam/etcd:3.4.3 not found". After it was added a few hours ago (https://hub.docker.com/r/e2eteam/etcd/tags), the test started passing.

--------------------------------------------------------------------------------------------
Nov  2 19:22:30.2

[2019-11-03 05:54] zhxjdwh opened #84680 "master cannot communicate with some pod ip"
**What happened**:
**master cannot communicate with some pod ip**

 one of pod ip + port : ***172.20.5.54:8881***

node1 ip : 192.168.100.135 hostname node135

 master1 ip : 192.168.100.131 hostname master1 keepalived vip: 192.168.100.188,192.168.100.88
 master2 ip : 192.168.100.132 hostname master2
 master3 ip : 192.168.100.133 hostname master3

 node cidr : 172.20.5.0/24

--------- on  master1 -

[2019-11-03 06:49] draveness opened #84681 "Break the kubelet up into more modular components"
**What would you like to be added**:

+ NewMainKubelet should accept kubeDeps and KubeletServer as arguments instead of tens of them. https://github.com/kubernetes/kubernetes/blob/a8220072eca6f7ae9972340422dfb46a57fa777b/pkg/kubelet/kubelet.go#L334-L364
+ TBD

**Why is this needed**:

This is a pre-requisite issue for https://github.com/kubernetes/kubernetes/issues/84473

/sig node
/kind cleanup
/

[2019-11-03 06:50] draveness commented on #84681
I'm still trying to figure out the complicated dependency graph in the kubelet and create sub-tasks to get this done.

[2019-11-03 07:04] zhxjdwh commented on #84680
@kubernetes/sig-network

[2019-11-03 07:05] zhxjdwh commented on #84680
/sig sig-network

[2019-11-03 07:08] zhxjdwh commented on #84680
/sig network

[2019-11-03 07:20] gongguan commented on #84473
I have ever think about the split of kubelet struct [here](https://github.com/kubernetes/kubernetes/pull/81649#issuecomment-540257679).
Is any reasonable design or work welcome now?

[2019-11-03 07:25] draveness commented on #84473
I'm working on the task now and sort out the dependency graph in the kubelet

[2019-11-03 07:36] MaxCaresYww commented on #84580
Yes, that is the issue. So the length limitation of pod name should be unified between deployed directly or generated by some upper resources, right?

[2019-11-03 10:22] #78757 closed

[2019-11-03 10:52] Pranay144 opened #84682 "Codecov coverage!"
**What would you like to be added**:
.travis.yml file

**Why is this needed**:
It is missing!

should i work on this?

[2019-11-03 10:52] ricky1993 commented on #80693
/close

[2019-11-03 10:52] #80693 closed

[2019-11-03 11:10] lenhattan86 commented on #3949
I am interested in this issue.
I believe that live pod migration is important too. Some users run long-term services in pods, live migration must be very useful. At lease, it needs to support storage migration.

[2019-11-03 13:52] xiaoanyunfei commented on #80972
/remove-lifecycle stale

[2019-11-03 15:48] Xtigyro commented on #47268
/reopen

[2019-11-03 15:49] Xtigyro commented on #47268
@choppsv1 Could you please reopen the issue?

[2019-11-03 16:07] choppsv1 commented on #47268
/reopen

[2019-11-03 16:22] Xtigyro commented on #47268
@choppsv1 Thank you!

[2019-11-03 17:09] wenjun8888 commented on #72878
@xueweiz
hey, i think it's the right to run your py scripts.
but it failed and this is the return:

Warning: failed to fix cfs at container_dir %s,  the directory may have disappeared.
Found a problem:
container /sys/fs/cgroup/cpu/kubepods/burstable/pod1c7fd182-fa52-11e9-b422-525400530fa1/6c52873b77877db62fb64cddbb7b4cae9cd37b6f0f7ed6d291b48668e1d98ebe has quota 114843, period 114843
Warning: fail

[2019-11-03 18:26] chaudyg commented on #77864
/remove-lifecycle stale

[2019-11-03 18:28] droslean commented on #84183
@yliaog Thanks for the update!

/sig cli

/cc @seans3  Can you check?
`[sig-cli] Kubectl client Guestbook application should create and stop a working application [Conformance]`

[2019-11-03 18:34] droslean opened #84690 "[Failing Test] kubeadm-kinder-master-on-1-16 (ci-kubernetes-e2e-kubeadm-kinder-master-on-1-16)"
**Which jobs are failing**:
`kubeadm-kinder-master-on-1-16 (ci-kubernetes-e2e-kubeadm-kinder-master-on-1-16)`

**Which test(s) are failing**:
`task-05-cluster-info`

**Since when has it been failing**:
`31 Oct 04:02 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master-on-1-16

**Reason for failure**:
check https://prow.k8s.io/view/gcs/kubernetes-jenki

[2019-11-03 18:44] droslean opened #84691 "[Failing Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:
`gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)`

**Which test(s) are failing**:
[code]
[code]
[code]
[code]

**Since when has it been failing**:
`2nd Nov`

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
check https://prow.k8s.io/view/gcs/kubernetes-jenkins/lo

[2019-11-03 19:14] metalmatze commented on #80865
Hey, do I read this correctly that we still don't expose these metrics?
I was affected by another volume being at 96% and then quickly hitting 100% and I couldn't even alert on it... :confused:

Let me know what needs to be done. I want/need these metrics.

[2019-11-03 19:14] dims commented on #81760
@dghubble we are re-working the hyperkube image like @liggitt mentioned, please follow along in https://github.com/kubernetes/kubernetes/pull/84662

[2019-11-03 21:09] josiahbjorgaard commented on #84457
Bug triage for 1.17 here, code freeze is in less then two weeks on Nov. 14 (Thursday). Looks like a PR is underway. If it isn't going to be resolved before then, can we move it out of the milestone?

[2019-11-03 21:10] josiahbjorgaard commented on #84456
Hi bug triage team for 1.17, will this issue be resolved before code freeze on Nov. 14 (Thursday)?

[2019-11-03 21:12] josiahbjorgaard commented on #80269
Another reminder here that code freeze is in less than two weeks (Nov. 14). We will need to move this issue out of the milestone if isn't going to be resolved before then.

[2019-11-03 21:12] josiahbjorgaard commented on #83683
Hi bug triage team for 1.17, will this issue be resolved before code freeze on Nov. 14 (Thursday)?

[2019-11-03 21:13] josiahbjorgaard commented on #79523
Hi bug triage team for 1.17, will this issue be resolved before code freeze on Nov. 14 (Next Thursday)?

[2019-11-03 21:14] josiahbjorgaard commented on #83479
Hi bug triage team for 1.17, will this issue be resolved before code freeze on Nov. 14 (next Thursday)?

[2019-11-03 21:14] josiahbjorgaard commented on #81134
Hi bug triage team for 1.17, will this issue be resolved before code freeze on Nov. 14 (next Thursday)?

[2019-11-03 21:15] josiahbjorgaard commented on #18394
Hi bug triage team for 1.17, will this issue be resolved before code freeze on Nov. 14 (next Thursday)?

[2019-11-03 21:16] josiahbjorgaard commented on #43214
https://github.com/kubernetes/kubernetes/issues/74375

[2019-11-03 21:19] josiahbjorgaard commented on #67602
Hi, checking in to see if this issue intended to be resolved before code freeze on Nov. 14?

[2019-11-03 21:21] cartyc commented on #83683
Hi @josiahbjorgaard based on the last release we kept a similar issue until the final Release Notes were published. This way we can keep track of any know issues that come up before release. I will bring this up at the Release Meeting tomorrow to make sure none have been missed.

[2019-11-03 21:26] josiahbjorgaard commented on #48610
/milestone clear

[2019-11-03 21:26] liggitt commented on #43214
See the description for specific items being worked on in the 1.17 timeframe. When those are complete this will be moved

[2019-11-03 21:29] josiahbjorgaard commented on #72956
/milestone next

[2019-11-03 21:29] josiahbjorgaard commented on #72956
/milestone next-candidate

[2019-11-03 21:30] josiahbjorgaard commented on #72956
/milestone v1.18

[2019-11-03 21:36] josiahbjorgaard commented on #84455
Hi, bug triage for the v1.17 release here checking in to see if this issue intended to be resolved before code freeze on Nov. 14?

[2019-11-03 23:23] tedyu commented on #76624
How about the following change (w.r.t. https://github.com/kubernetes/kubernetes/issues/76624#issuecomment-483724336) ?
[code]

[2019-11-04 02:11] #84680 closed

[2019-11-04 02:11] AlyRagab opened #84697 "EncryptionConfiguration Status"
**What would you like to be added**:
is it stable in the latest kubernetes feature ?
https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/

**Why is this needed**:
It will be awesome in getting this feature status stable and production supported.

[2019-11-04 02:20] chenxianpao opened #84698 "no dumplicate volumes are verified when creating a statefulset"
**What happened**:  dumplicate volume are invalid when I create a deployment, k8s check it before creation, but no dumplicate volumes are verified when creating a statefulset.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/validation/validat

[2019-11-04 02:31] Rand01ph commented on #80875
@verb Thanks, I'll write some test for `convertStatusToAPIStatus()`  before refactoring.

[2019-11-04 03:08] clarklee92 commented on #84698
`statefulSet` use volumes by `volumeClaimTemplates`. The validation scenario you described does not exist in use.

[2019-11-04 03:15] yylt commented on #80875
Oh, At the beginning , I think the question is how to shorten time in `convertStatusToAPIStatus()` , I have wrong understanding about this

Hi, @Rand01ph , what is your plan ?

If make a single pass in  `convertStatusToAPIStatus()` , I will use below

[code]

[2019-11-04 03:19] liggitt commented on #84697
/assign @immutableT
/sig auth

[2019-11-04 04:11] lujinda opened #84729 "resourcelock *EndpointsLock.Update may trigger panic"
When using the resourcelock of the endpoints type, panic may be triggered if the update of the election record(e.g. tryAcquireOrRenew) fails.
[code]

If the `el.Client.Endpoints(el.EndpointsMeta.Namespace).Update(el.e)` call fails, it will return an empty   `&v1.Endpoints{}`.
The next time you call this method (e.g. release) will panic：
[code]

[2019-11-04 04:44] bashimao commented on #28272
While this solves the initial problem, at least the current implementation is not acceptable. If any application running in the container tries to go beyond this SHM limit, it is allowed to do so, but within a few seconds the pod is evicted by k8s (see below). Instead, what you want should be a hard limit, such that the operating system in the container throws a `no space left on device error`, bu

[2019-11-04 04:53] tlvenn commented on #43784
When you open that issue @george-angel, can you please reference this issue so we can follow along ? Thanks a lot in advance.

[2019-11-04 04:55] coffeepac commented on #58638
/remove-lifecycle-stale

[2019-11-04 06:25] chenxianpao commented on #84698
If statefulSet use volumes by **Template v1.PodTemplateSpec**, I use two same name volumes，statefulSet can be created, but logs show:

Warning  FailedCreate  7m56s (x421 over 4d17h)  statefulset-controller  create Pod app-anm4i0-0 in StatefulSet app-anm4i0 failed error: Pod "app-anm4i0-0" is invalid: **[spec.volumes[12].name: Duplicate value**: "nfs", spec.containers[0].volumeMounts[9].mountPath:

[2019-11-04 06:30] liurd commented on #84545
Is this common issue? not only rook volume, how about other volume?

[2019-11-04 06:34] kgrvamsi commented on #83024
I get the same issue with the v1.16.2 release

[code]

[2019-11-04 07:36] gaopeiliang commented on #82987
I also met this problem ,  read this source code , I have found the different between exec probe and http  probe
[code]
walk around exec command:

1. add timeout in command ,  and command exec timeout must < timeoutSeconds

[2019-11-04 07:37] Rand01ph commented on #80875
Hi, @yylt . I think the `oldPodStatus` only used by `convertStatusToAPIStatus()`. So, maybe refactoring `convertToAPIContainerStatuses()` just like below:

`convertToAPIContainerStatuses(pod *v1.Pod, podStatus *kubecontainer.PodStaus, apiPodStatus *v1.PodStatus)
`

[2019-11-04 07:45] warmchang commented on #66321
/remove-lifecycle stale

[2019-11-04 07:46] warmchang commented on #76506
/remove-lifecycle stale

[2019-11-04 07:49] SataQiu commented on #84615
@MorrisLaw I'd be happy to help you if you'd like, and we can do it bit by bit :)

[2019-11-04 08:02] mitar commented on #69640
/remove-lifecycle stale

[2019-11-04 08:19] deepaksood619 commented on #61333
How to do the same for kubectl logs i.e. show logs from a default container?

Example
[code]

[2019-11-04 08:31] monotek commented on #79432
not stale

[2019-11-04 09:08] whypro opened #84703 "cpumanager: kubelet should log fatal error and exit rather than panic when cpu manager fails on startup"
**What happened**:

When static policy is enabled, cpu manager do validate state between checkpoint (`/var/lib/kubelet/cpu_manager_state`) and current node cpu topology before kubelet fully started. If the validation is failed (sometimes occurred after node or kubelet crash), cpu manager will panic immediately. However, this panic is handled and ignored by upper wait.Util(). This causes kubelet co

[2019-11-04 09:09] whypro commented on #84703
/sig node

[2019-11-04 09:22] kayrus commented on #36141
/reopen

[2019-11-04 09:30] lindazhang82 commented on #36141
current we have found the container restarted very frequently due to liveness and readness probe unhealth, and we have checked, there is no any meaningful log for this behavior, is it possible to show the meaningful log of liveness and readness in kubelet?

[2019-11-04 09:44] nikhita commented on #79432
/remove-lifecycle stale

[2019-11-04 09:50] draveness commented on #84681
/remove-kind bug

[2019-11-04 09:53] saschagrunert commented on #80810
/remove-lifecycle stale

[2019-11-04 10:05] deepaksood619 commented on #68427
@andyzhangx  is resizing the disk on the fly will be available in AKS, any updates on this?

[2019-11-04 10:09] calvix commented on #80076
Azure decided to skip  the train here  and said that CoreOS is not supported. So this can be closed

[2019-11-04 10:31] JokerDevops opened #84709 "Initialization error I encountered when starting the kubelet"
The kubebernetes version I used was 1.16.2 and the following error occurred when I started kublet:
[code]

[2019-11-04 11:01] goodjerrycao commented on #84505
anybody?

[2019-11-04 11:12] aparedero commented on #83094
@deads2k But how can you capture when a pod is up and running, but not ready?
Just a small example with [Hashicorp Vault](https://github.com/hashicorp/vault) Helm and  this being managed with Ansible.

Putting Ansible aside this helm manifest deploys a pod with Vault but it won't be ready until the application has been configured; so is 0/1 but in running state (due to a readiness probe).

[code]

[2019-11-04 11:47] NeilW commented on #77047
/remove-lifecycle stale
/sig cli

Can we fix this nit?

[2019-11-04 11:55] alenkacz opened #84715 "[Failing test] gce-cos-master-serial (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:
gce-cos-master-serial

**Which test(s) are failing**:

[sig-storage] Pod Disks detach in a disrupted environment [Slow] [Disruptive] when node is deletedChanges
[sig-storage] Pod Disks detach in a disrupted environment [Slow] [Disruptive] when node's API object is deletedChanges
[sig-storage] Pod Disks detach in a disrupted environment [Slow] [Disruptive] when pod is ev

[2019-11-04 12:00] alenkacz commented on #84715
potentially related to #84512

[2019-11-04 12:01] droslean commented on #84512
/close

Closing.. Job is not green but the test cases mentioned in this issue are passing. New issue opened for the other failing tests #84715

[2019-11-04 12:01] #84512 closed

[2019-11-04 12:06] cjreyn opened #84716 "ioctl incorrect pod broadcast address"
**What happened**:
The system call "ioctl" can be used to determine the broadcast address of a given interface. This is done using the flag "SIOCGIFBRDADDR". An example can be found [here](https://gist.github.com/loderunner/ec7d4725daca39283606#file-getbroadaddr-c)

When running this in Docker, or on a non containerised system the broadcast address is calculated correctly. Running inside Kubernete

[2019-11-04 12:12] cjreyn commented on #84716
@kubernetes/sig-network-bugs

[2019-11-04 12:19] droslean commented on #84650
/close
The job is green

[2019-11-04 12:19] #84650 closed

[2019-11-04 12:27] JV-OGNASS19 opened #84717 "What happened"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-11-04 12:33] JV-OGNASS19 opened #84719 "Why is this needed"
**What would you like to be added**:

**Why is this needed**:

[2019-11-04 12:34] JV-OGNASS19 opened #84720 "https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md"
**What would you like to be added**:

**Why is this needed**:

[2019-11-04 12:34] JV-OGNASS19 commented on #84720
@k8s-ci-robot k8s-ci-robot added the needs-sig  label now

[2019-11-04 12:41] fabriziopandini commented on #84676
/cc @BenTheElder @neolit123 @aojea

looking at logs the root cause of the errors is

[code]

Any hints?

[2019-11-04 12:49] #78106 closed

[2019-11-04 12:53] brancz commented on #64730
/remove-lifecycle stale

[2019-11-04 13:01] morganchristiansson commented on #40157
I came up with this command as a k8s cron job to kill 1 pod exceeding threshold every time the cronjob runs. This keeps memory creep in check with minimal disruption.

[code]

caveat: It does not work when memory is counted in Gb instead of Mb.

[2019-11-04 13:02] zouyee commented on #81134
Yes

[2019-11-04 13:18] droslean commented on #84690
/reopen

[2019-11-04 13:19] droslean commented on #84690
Reopening to obvserve the test after the fix was merged.

[2019-11-04 13:21] joalmjoalm commented on #84663
I set the MountFlags=shared but the some.conf is still created as a directory if its not existing.
 systemctl show docker.service | grep MountFlags
MountFlags=shared

Any advice on next step to isolate the issue? Is it related to running Kubernets as containers/rke?

[2019-11-04 13:23] vkukk commented on #65835
Still happens.
[code]

[2019-11-04 13:34] justaugustus commented on #84548
Opened https://github.com/kubernetes/test-infra/pull/15084 to fix this.
Basically what's happening is we're trying to build a package from a release that doesn't exist yet.
`cri-tools` cuts a release closer to the actual Kubernetes release, so this is expected.

[2019-11-04 14:03] sttts opened #84724 "list-type set and map lack CR validation"
In 1.16 we added `x-kubernetes-list-type` fields for CRDs. Lists of type map and set have uniqueness invariants on keys (map) and whole elements (set). These invariants must be checked during create and update validation in the CR registry.

To be backported to 1.16.

[2019-11-04 14:06] sttts commented on #84724
SSA equality for merging sets and maps must match the equality used in the CR validation.

If SSA uses semantic equality for CRDs, this is probably a blocker for SSA GA until we have a normalization story implemented for CRDs (which replaces the need of semantic equality in post-decode logic).

[2019-11-04 14:07] username1222 commented on #69676
Is there a status update regarding this matter?

[2019-11-04 14:08] joshimhoff commented on #80539
/remove-lifecycle stale

[2019-11-04 14:08] joshimhoff commented on #80538
/remove-lifecycle stale

[2019-11-04 14:10] 0xErnie commented on #46381
/reopen

[2019-11-04 14:28] pjbgf commented on #84623
Retesting this I noticed that actually it seems to be specific to dockershim. On a clean environment this was not reproduceable with CRI-O.

[2019-11-04 15:06] gongguan commented on #75731
Is there anyone working on it? I'd like to have a try.

[2019-11-04 15:25] cl4u2 commented on #44528
Same issue on CDK.

[2019-11-04 15:35] soltysh commented on #84183
@droslean tagged it, after it merges I think you need to bump the image in https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go#L210

[2019-11-04 15:49] ttousai commented on #78554
***Correction:*** Code freeze is on Thursday, November 14.

Sorry for the mix up.

[2019-11-04 15:50] ttousai commented on #75482
***Correction:*** Code freeze is on Thursday, November 14.

Sorry for the mix up.

[2019-11-04 15:53] ttousai commented on #76206
***Correction:*** Code freeze is on Thursday, November 14.

Sorry for the mix up.

[2019-11-04 15:53] yastij commented on #75342
/remove-lifecycle stale
/lifecycle frozen

[2019-11-04 15:53] liggitt commented on #84729
cc @wojtek-t @mikedanese

[2019-11-04 15:56] alejandrox1 commented on #84715
let's raise the priority on this one
/priority critical-urgent

[2019-11-04 15:56] alejandrox1 commented on #84715
/cc @kubernetes/sig-storage-test-failures
ptal

[2019-11-04 15:59] ttousai commented on #73655
***Correction:*** Code freeze is on Thursday, November 14.

Sorry for the mix up.

[2019-11-04 16:03] alejandrox1 commented on #84675
/cc @kubernetes/sig-storage-test-failures
ptal
failures may be related to #84715

[2019-11-04 16:06] justaugustus commented on #84548
/area release-eng

[2019-11-04 16:07] alejandrox1 commented on #84676
/priority critical-urgent
/sig testing
these looks like a kind-specific thing so this one falls under testing

[2019-11-04 16:09] msau42 commented on #84691
/assign @davidz627

[2019-11-04 16:10] msau42 commented on #84675
/assign @davidz627

[2019-11-04 16:10] ahg-g commented on #84715
Can you please clarify why sig-scheduling is tagged on this issue?

[2019-11-04 16:11] alejandrox1 commented on #84715
ah these failures are also showing in the scale correctness job https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

[2019-11-04 16:16] alejandrox1 commented on #84715
@ahg-g one of the tests that has been flaking rather frequently is `[sig-scheduling] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]`.Could you take a look at it or assign someone who can take a look at it?

[2019-11-04 16:18] alejandrox1 commented on #84675
Seems like tests started to fail after https://github.com/kubernetes/kubernetes/compare/74c561ba6...c4419bd50

[2019-11-04 16:18] taylorsilva commented on #80929
Figured it out, was a setup issue. Thanks for the responses.

[2019-11-04 16:18] #80929 closed

[2019-11-04 16:20] lujinda commented on #84729
/sig api-machinery

[2019-11-04 16:22] clarklee92 commented on #84663
After `MountFlags` set to `share`, you also need to add `mountPropagation` at  `Container.volumeMounts` like this:
[code]

[2019-11-04 16:26] klueska commented on #83479
@josiahbjorgaard We are still pushing for it, but it's definitely at risk of not making it

/cc @ConnorDoyle
/cc @derekwaynecarr
/cc @lmdaly

[2019-11-04 16:28] guillaumedossantos opened #84730 "failing kubernetes auth with oidc and azure apps and authorization with a specified Security Group"
I'm trying to set up SSO between our (regular, not AKS) kubernetes clusters and Azure AD. Currently trying with kubectl binary installed on my computer.
It works when no groups are involved, but we want to filter by security group (accounts on AAD are synced from our onprem Active Directory), no kube RBAC involved.

Setup is inspired by https://medium.com/@olemarkus/using-azure-ad-to-authenticate-

[2019-11-04 16:38] jceresini commented on #27308
I see some similar solutions in this thread, but this one allows you to still use `kubectl` as your command, instead of aliasing it to some shortcut. Its nearly identical to others except the sub-shell call doesn't end up calling the alias again, rather the `kubectl` binary directly:

`alias kubectl="kubectl --context \${KUBE_CONTEXT:-\$(command kubectl config current-context)}"`

[code]

[2019-11-04 16:41] khenidak commented on #82765
I know this behavior is ugly.

But this is consistent with "pre dualstack" if a node have had an allocated cidr from a range that no longer exists controller manager, will `err` or `panic` in response to failure to lock the cidr in range. The only solution around that is what @aanm did which delete the node object (or patch node object to remove the cidr). I will stop the panic, but the controller

[2019-11-04 16:44] guillaumedossantos commented on #84730
Also tried as per https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens to provide kubectl config with oidc arguments based on first successful authentication with the azure app, but same errors :

kubectl config set-credentials USER@mydomain.com
[code]

[2019-11-04 16:53] jsmilani commented on #84603
An interesting update. When doing the ab test on master and the target pod is on a different node there is a very low chance of getting the error "apr_pollset_poll: The timeout specified has expired (70007)" and ab exits immediately. When testing on the same node as the pod I can get that error nearly every time.
[code]

[2019-11-04 16:54] khenidak commented on #84603
@jsmilani Can you confirm that this issue is romana specific? can you test with any other CNI?

[2019-11-04 17:18] mikesplain commented on #51835
/reopen
/remove-lifecycle rotten

[2019-11-04 17:19] apelisse commented on #84724
SSA uses `reflect.DeepEqual` (actually, our own implementation of it) for built-in types and CRs. But it's also looking through `built-in -> unstructured` (normalization for built-in objects), which means that we're fine doing that. The biggest problem I see is that we deserialize the applied object directly into an unstructured, which means there is no normalization for that, that might be a prob

[2019-11-04 17:22] lavalamp commented on #84724
I think comparison happens on fields that have been selected first with a field set, I'm not sure if that is neutral or helps with this problem.

It (SSA) does verify key-uniqueness.

I took pains to make it preserve list order but I think the json/yaml parser defeats this at the moment :/

[2019-11-04 17:25] lavalamp commented on #84724
Anyway, the result of SSA being overly / underly picky about differences isn't too bad: it means users get more or fewer conflicts. API designers shouldn't be using the things that will trigger the edge cases to drive behavioral differences anyway, as SSA already doesn't make it easy (or possible) to "own" the difference between e.g. unset / nil.

So, I'm not sure this is actually a blocker, the c

[2019-11-04 17:48] joalmjoalm commented on #84663
Unfortunately didnt succeed w RKE with this config, MountFlags=shared + this pod-yaml. Still created as a dir.

[2019-11-04 17:49] jsmilani commented on #84603
@khenidak I am in progress testing calico. I attempted to clear iptables and reuse a VM, but so far it is worse than romana. I get the "apr_pollset_poll: The timeout specified has expired (70007)" error before completing 20 requests sometimes. I think I need to rebuild the VM from scratch to be sure it isn't caused by cruft left behind from romana.

[2019-11-04 17:50] tedyu commented on #84729
How about the following change ?
[code]

[2019-11-04 17:52] ahg-g opened #84734 "Change the booleans in DebuggingConfiguration to pointer type"
**What would you like to be added**:
Change the **external** [DebuggingConfiguration]( https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/config/v1alpha1/types.go#L61-L65
) member variables to pointer types.

**Why is this needed**:
So that we can set their default values to something different from golang's, for example enable profiling by default.

/sig api-ma

[2019-11-04 17:54] apelisse commented on #84724
Without even considering CRs, we have a problem because of how we decode existing objects and apply objects differently. Possibly, a field can be set to null in apply and be `omitEmpty`'d in etcd and they'll look different to us, impacting `sets` of atomic?

[2019-11-04 17:57] mikedanese commented on #84729
@tedyu That looks right to me. Please send a CL and cc me.

[2019-11-04 18:03] ddebroy opened #84736 "Multi-attach scenarios for CSI-migrated-inline-volumes throw warnings and take a while"
When running CSI migration tests focussing on multi-attach scearnios with GCE PD inline volumes that are read-only, the following error pops up in the logs and the second attachment takes > 6 mins:

[code]

For read-only inline volumes, the above warning/error around `isMultiAttachForbidden` is unexpected with CSI migration enabled and needs to be root-caused/resolved.

**What happened**:
CSI migr

[2019-11-04 18:03] ddebroy commented on #84736
/cc @davidz627

[2019-11-04 18:03] ddebroy commented on #84736
/sig-storage

[2019-11-04 18:04] george-angel commented on #60665
/remove-lifecycle stale

[2019-11-04 18:10] joalmjoalm commented on #84663
I added "extra_binds" of /temp:/temp to the RKE cluster.yml and updated the cluster.
After that some-conf was created as file and not as a dir.
But my original purpose was to mount a drbd.conf file in /etc for a specific pod and Im not sure Im a fun of binding /etc on cluster-level. Maybe this should be addresses in the RKE github if there is any other way. The previous opened issue from hp result

[2019-11-04 18:16] cheftako commented on #70897
/remove-lifecycle stale

[2019-11-04 18:16] cheftako commented on #70897
/lifecycle frozen

[2019-11-04 18:20] liggitt commented on #84734
done in #84739

[2019-11-04 18:25] khenidak commented on #84603
Thank you @jsmilani please share once done. An easy-er (maybe?) approach to try and repro is `kind` as well.

[2019-11-04 18:25] khenidak commented on #84541
ref: https://github.com/kubernetes/kubernetes/pull/84550#issuecomment-549480316

[2019-11-04 18:43] ddebroy commented on #84736
Looks like hard coding access modes to ReadWriteOnce during translation for GCE PD at https://github.com/kubernetes/kubernetes/blob/e62ed95ecd300d0dc56d5d19dcbae93e3794d1bc/staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go#L222
is not causing isMultiAttachForbidden to return `true` leading down to https://github.com/kubernetes/kubernetes/blob/54c4428eb4e7c99c825e96d2a480ad4e79bc580f/pkg/con

[2019-11-04 18:44] khenidak commented on #80297
I think we should close this, and then workout a solution if possible for #66607

/close

@BSWANG if you still need a follow up on this one, then please re-open.

[2019-11-04 18:44] #80297 closed

[2019-11-04 18:55] #78787 closed

[2019-11-04 19:13] metral commented on #66306
/remove-lifecycle stale

[2019-11-04 19:17] tallclair opened #84742 "Enable NodeAuthorizer and NodeAuthenticator tests in E2E"
The NodeAuthorizer & NodeAuthenticator tests are currently feature guarded, e.g. `[Feature:NodeAuthorizer]`. Unfortunately no test suites are currently running these tests, so we don't have any test signals.

We should be running these tests in CI. Options include:

1. Remove the `[Feature:....]` label on the test, and have the tests modify the environment to set the expected configuration.
2. Con

[2019-11-04 19:18] tallclair commented on #84742
I started working on this here: https://github.com/kubernetes/kubernetes/pull/82551
But probably won't have time to follow up before v1.17 code freeze. If anyone is interested in taking this over, please do!
/help

[2019-11-04 19:19] atooki opened #84743 "Create kubeadm token for joining nodes with 24h expiration"
**What happened**: Timed out created kubeadm token

**What you expected to happen**: create token without timing out.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**: running under Kubespray but entering the command manually produces the same results.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.16
- Cloud provider or hard

[2019-11-04 19:26] davidz627 commented on #84691
Definitely this PR: https://github.com/kubernetes/kubernetes/pull/84656, reverting

[2019-11-04 19:55] apelisse commented on #84724
Stefan and Jordan talked about this on slack, here's what we agree on:
1. Validation ratcheting is more risky than adding validation to existing objects to verify that the listType properties are respected
2. We would like the patch to be back-portable to 1.16,
3. We would like the validation to run even if server-side apply is disabled (mostly because we can't enable it everywhere just now, and i

[2019-11-04 19:57] rbtcollins commented on #80996
/remove-lifecycle stale

[2019-11-04 20:03] liggitt commented on #84724
We were saying ratcheting validation was *less* risky than allowing known-bad data to continue being persisted in new CR objects.

[2019-11-04 20:04] liggitt commented on #84724
The list-type semantics are not documented to only apply to server-side apply, and are useful for describing the data structure behavior of the custom resource. I agree we should enforce the semantics of the documented API regardless of SSA enablement/use.

[2019-11-04 20:15] neolit123 commented on #84743
hi, are you executing `kubeadm token create` and it times out?
this can happen if your api-server is not healthy.

/triage support

[2019-11-04 20:22] neolit123 commented on #84627
hi, if you are not passing the --config to the phase kubeadm has no way of knowing if external etcd is used. this is a standard practice already.

yes, i agree let's close this. using --config is viable here.
/close

SGTM, feel free to send a PR for kubernetes/website.
possibly a note in the lines of "make sure you pass --config to the phases that need to know about the kubeadm configuration"
http

[2019-11-04 20:22] #84627 closed

[2019-11-04 20:36] lavalamp commented on #84724
We might be able to run it everywhere now if we don't persist the field,
have we tried?

On Mon, Nov 4, 2019 at 12:06 PM Jordan Liggitt <notifications@github.com>
wrote:

[2019-11-04 20:38] liggitt commented on #84724
We made it fail open in failure cases. Given this is API-facing and data-impacting, I *really* want a fix we can backport to 1.16, and I don't think we should enable SSA more broadly in a backport.

[2019-11-04 20:38] neolit123 commented on #84644
hi, i'm going to close this issue and create the same one in k/kubeadm and ping you.

one workaround is to change your default interface or sign the certificate to know about `10.0.2.15`.

/close

[2019-11-04 20:38] #84644 closed

[2019-11-04 20:45] lavalamp commented on #84724
Ah, this isn't about SSA, is it? I think I took the OP a little too
literally :)

I agree we should check this ~now in CRDs and converge on implementation
later.

On Mon, Nov 4, 2019 at 12:41 PM Jordan Liggitt <notifications@github.com>
wrote:

[2019-11-04 20:47] neolit123 commented on #84584
/close

`kubeadm upgrade node` should already support phases and skip

this is tracked here:
https://github.com/kubernetes/kubeadm/issues/1318

[2019-11-04 20:47] #84584 closed

[2019-11-04 20:50] neolit123 commented on #84586
this seems related to your setup, in my tests temporary shutting down the primary control-plane node, gives leadership to another control-plane node.

[2019-11-04 21:25] cbf123 opened #84749 "Race condition when creating pods, Topology Manager Policy sometimes ignored"
**What happened**:
When using the "--topology-manager-policy=single-numa-node" option for kubelet, on a host with multiple NUMA nodes, and creating multiple pods in quick succession, it's possible for pods to be allocated CPUs that don't abide by the topology manager policy.

**What you expected to happen**:
The policy should be respected.

**How to reproduce it (as minimally and precisely as poss

[2019-11-04 21:27] cbf123 commented on #84749
This is discussed in more detail in the conversation at https://github.com/kubernetes/kubernetes/pull/84525

The critical logs are as follows:

 It looks like the "admit" code runs for several pods and selects a NUMA node for each before we allocate any specific CPUs:

2019-11-04T17:38:52.172 controller-0 kubelet[241826]: info I1104 17:38:52.172444 241826 topology_manager.go:330] [topologymanager]

[2019-11-04 21:28] cbf123 commented on #83476
Just a note that we should make sure the solution to this also solves issue https://github.com/kubernetes/kubernetes/issues/84749

[2019-11-04 21:29] FishkinsDC commented on #63371
I also just encountered this

[2019-11-04 21:29] cbf123 commented on #84749
@kubernetes/sig-node-bugs

[2019-11-04 21:42] jmillikin-stripe commented on #76688
We're no longer using the AWS cloud provider in Kublet, so this can be closed.

[2019-11-04 21:42] #76688 closed

[2019-11-04 21:44] #84403 closed

[2019-11-04 21:49] BatmanAoD commented on #27308
Did anyone write a Kubernetes Enhancement Proposal (KEP) for this?

[2019-11-04 22:00] msau42 commented on #76553
There is a feature request open for this on the public GKE issue tracker: https://issuetracker.google.com/issues/35904742.

Closing this one out as this is outside of the k/k project.
/close

[2019-11-04 22:00] #76553 closed

[2019-11-04 22:01] jsmilani commented on #84603
Regarding the alternate CNI test using calico... I rebuilt a VM with our most basic Centos 7 template (vSphere) so there is a little baggage coming from our customizations. I can't list everything we customized in our template but the most notable change is the kernel 5 upgrade `yum --enablerepo=elrepo-kernel -y install kernel-ml`.

After starting up the VM these are the minimal steps to install k

[2019-11-04 22:23] devilmind81 opened #84751 "Kube-DNS is not able to resolve an external DNS on GKE cluster"
Hi All,
I have created a GKE cluster  from scratch on Gcloud selecting the latest available version:
**1.14.7-gke.14**

I need to resolve from all pods in a specific namespace an external DNS record pointing to an external DNS server so I have edited the kube-dns config map adding the following:

[code]

The issue is:

[code]

to test the DNS resolution I'm using a pod created with the following y

[2019-11-04 22:24] davidz627 commented on #84668
/assign

[2019-11-04 22:25] frittentheke commented on #73362
/remove-lifecycle stale

[2019-11-04 22:35] neolit123 commented on #84690
we updated our jobs after the creation of the new branch.

there is now:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master-on-1-17
https://testgrid.k8s.io/sig-release-1.17-informing#kubeadm-kinder-1-17-on-1-16

1-17-on-1-16 needs more runs, to verify if the fix is valid.

[2019-11-04 22:39] neolit123 commented on #84676
potential fix is here: https://github.com/kubernetes/test-infra/pull/15097

[2019-11-04 22:59] #78800 closed

[2019-11-04 23:01] xueweiz commented on #72878
Hi @wenjun8888 , sorry for the error running the scripts. I had a small bug for the newly added print statements, I just fixed it [here](https://github.com/xueweiz/scripts/commit/6bb935e52b23b97f66a7848d52fc1094628af80a). Could you try running the latest script again? Thanks!

The `Warning:` messages are not critical failures. It basically says that "a container with a broken cfs configuration can

[2019-11-04 23:04] davidz627 commented on #84668
Alright, problem is sort of twofold:

The `PV name` referred to above `mypvc` for inline-volumes is set here: https://github.com/kubernetes/kubernetes/blob/077f825c584903eeb5854040192c2977079343e9/staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go#L208

As we can see from the comment: it is set to the `volume.Name` because the in-tree CSI Plugin makes a lot of naming assumptions based on the

[2019-11-04 23:26] davidz627 commented on #84668
OK. Really good news. @ddebroy your refactor https://github.com/kubernetes/kubernetes/pull/83098 in its current state actually fixes this issue if we set the `Name` to something unique here: https://github.com/kubernetes/kubernetes/blob/077f825c584903eeb5854040192c2977079343e9/staging/src/k8s.io/csi-translation-lib/plugins/gce_pd.go#L208

Looks like the early translation is also making the `Unmoun

[2019-11-04 23:28] JScheurich commented on #84601
Isn't it too late to check NUMA topology of CPUs and PCI devices on the node after the scheduling decision has already been taken without taking any of the NUMA aspects into account? Pod creation can fail on the selected node, but might have been successful on another node. Ideally the scheduler (filter and/or scorer) should become NUMA topology aware and select the best node up front.

Also, it s

[2019-11-04 23:29] #84734 closed

[2019-11-04 23:54] cbf123 commented on #84601
I agree that NUMA affinity should be a pod/container choice.  I brought it up with the people working on the TopologyManager during the previous cycle but it was deemed too late in the cycle to implement it.

[2019-11-05 00:02] burdzwastaken commented on #77047
@NeilW I can rebase my PR to fix with the most recent Kubernetes master branch to then close out the this nit?

[2019-11-05 00:12] verult commented on #73972
I take back what I said here:

Checking the intention isn't enough. In a particular iteration of the reconciler loop, if the DSW has multiple attaches for the same volume on different nodes, there isn't enough information to decide whether the current operation in question during this iteration should proceed. There are really 3 states w.r.t attaching:
1. attach intended
1. attach in progress
1. a

[2019-11-05 00:15] Huang-Wei commented on #83321
I'm working on this. Will send out a PR soon.

[2019-11-05 00:20] davidz627 commented on #84736
I can pick up this fix
/assign

[2019-11-05 00:27] cbf123 opened #84757 "Pods which fail kubelet's canAdmitPod() due to "Topology Affinity Error" end up "stuck" in limbo rather than going back to "pending""
**What happened**:
Due to a race condition I ended up with a kubernetes pod scheduled to a node but on kubelet restart it failed kubelet's canAdmitPod() and ended up with a status of "Topology Affinity Error".  I then deleted the other pods (such that there was now room for this pod on the node) but it remained in the error state.

**What you expected to happen**:
On error the pod should go back t

[2019-11-05 00:28] cbf123 commented on #84757
@kubernetes/sig-node-bugs

[2019-11-05 00:53] RickyRajinder commented on #84742
Hi @tallclair I'd like to take this on. Can you provide some guidance on what else needs to be implemented? Reading through some of the comments and I saw that we can possibly use `setKubeletConfiguration()` to update the config. Is this what you were going for?

[2019-11-05 00:58] paulgmiller opened #84759 "Kubectl drops all annotations when one is not a valid string."
**What happened**:'
Kubectl drops all annotations when one is not a valid string.  for example true/false/on/off

**What you expected to happen**:
EIther warn on bad annoations or fail on the first one.

**How to reproduce it (as minimally and precisely as possible)**:

Take this foo.yaml
[code]
kubectl apply --dry-run -f .\foo.yaml -o yaml

The output will not contain the annotation. (just last-a

[2019-11-05 00:58] paulgmiller commented on #84759
/sig cli

[2019-11-05 01:09] michelgokan opened #84760 "Can't delete pods without forcing: pods always in terminating state"
**What happened**:
Can't delete pods without `--force -grace-period 0`. In other words, pods never getting deleted automatically, and always in terminating state, and I always have to manually force-delete them after deleting the deployments.

**What you expected to happen**:
I expect k8s to automatically delete pods when needed. i.e. when a deployment get deleted, or when I simply delete the pod

[2019-11-05 01:12] cbf123 commented on #84601
I had assumed the scheduler was checking with kubelet on the node before actually assigning the pod to the node.  If it's not doing that, then maybe a separate issue should be opened on that issue.

I've already opened https://github.com/kubernetes/kubernetes/issues/84757 for a separate but related issue.

[2019-11-05 01:15] michelgokan commented on #84760
/sig node

[2019-11-05 01:44] thdrnsdk commented on #79704
/close

[2019-11-05 01:44] #79704 closed

[2019-11-05 02:01] ahg-g commented on #84715
I looked at the test, the issue is that there are pods from a previous test that were supposed to be deleted but are not by the SchedulerPredicates test is run.

[2019-11-05 02:07] zvier opened #84762 "RemoveImage call dose not real take effect in dockershim"
**What happened**:
When I use crictl tool remove a image, it response success. But the image still exist. And even if use image id, also the same phenomena.

**What you expected to happen**:
Like docker rmi image, the command will take real effect. After the remove image operation, the image will not exist.

**How to reproduce it (as minimally and precisely as possible)**:
The operations are as fl

[2019-11-05 02:33] Coderhypo commented on #84760
Hi，Can you find some err info in kubelet(where the pod is) log？

[2019-11-05 02:41] shuiqing05 opened #84764 "Support removing ephemeral container from pod"
**What would you like to be added**:
Ephemeral container can be removed from pod gracefully.
**Why is this needed**:
In our K8s cluster, there are many deployed pods. We aim to use ephemeral containers as troubleshooting containers. Thus, for troubleshooting, many ephemeral containers are potentially created.
Once the need of an ephemeral container is gone, the container should be removed graceful

[2019-11-05 02:45] clarklee92 commented on #84762
Please post this issue to you CRI plugin commity(containerd or cri-o). Image  related  interface not placed here.

[2019-11-05 02:57] zhouya0 opened #84765 "Useless parameter 'resourceVersion' in Client-go"
The `Replace` function defines in the code:  https://github.com/kubernetes/kubernetes/blob/b735a17163ac7c7c39d9888932c815260c3ceaba/staging/src/k8s.io/client-go/tools/cache/thread_safe_store.go#L44

And it's realized in :
https://github.com/kubernetes/kubernetes/blob/b735a17163ac7c7c39d9888932c815260c3ceaba/staging/src/k8s.io/client-go/tools/cache/thread_safe_store.go#L122-L132

which `resourceVer

[2019-11-05 02:59] zhouya0 commented on #84765
sig/api-machinery

[2019-11-05 03:07] shuiqing05 commented on #84764
/assign @verb

[2019-11-05 03:17] zvier commented on #84762
Sorry, the related code is about <code>kubernetes/pkg/kubelet/dockershim/docker_image.go</code>, I already modified my title.

[2019-11-05 03:48] tykytyz opened #84767 "connection reset with no fix by changing conntrack parameters"
**What happened**:

Encountered connection reset errors while connecting mysql service with JDBC in kubernetes cluster, reffered to followed [blog](https://kubernetes.io/blog/2019/03/29/kube-proxy-subtleties-debugging-an-intermittent-connection-reset/) and [issue ](https://github.com/kubernetes/kubernetes/pull/74840) to set net.netfilter.nf_conntrack_tcp_be_liberal and configure iptables to drop I

[2019-11-05 03:51] tykytyz commented on #84767
/sig network

[2019-11-05 03:55] tykytyz commented on #84767
sysctl parameters

net.netfilter.nf_conntrack_acct = 0
net.netfilter.nf_conntrack_buckets = 65536
net.netfilter.nf_conntrack_checksum = 1
net.netfilter.nf_conntrack_count = 2378
net.netfilter.nf_conntrack_dccp_loose = 1
net.netfilter.nf_conntrack_dccp_timeout_closereq = 64
net.netfilter.nf_conntrack_dccp_timeout_closing = 64
net.netfilter.nf_conntrack_dccp_timeout_open = 43200
net.netfilter.nf_con

[2019-11-05 05:51] liggitt commented on #84759
This will be resolved in 1.17 in https://github.com/kubernetes/kubernetes/pull/83552

[2019-11-05 05:54] #84719 closed

[2019-11-05 05:54] #84717 closed

[2019-11-05 05:54] #84720 closed

[2019-11-05 07:04] xichengliudui commented on #84759
/close

[2019-11-05 07:05] #84759 closed

[2019-11-05 07:13] wojtek-t commented on #82484
@markyjackson-taulia - yes, I believe we will have it done in 1.17 - the #84670 should be the second last PR for this

[2019-11-05 07:16] #84516 closed

[2019-11-05 07:25] clarketm commented on #59376
/reopen

How would one configure this in a cloud provider (e.g. GKE) such that the setting preserves across upgrades and applies to the nodes automatically as they are scaled?

[2019-11-05 07:26] clarketm commented on #59376
/remove-lifecycle rotten

[2019-11-05 08:04] carlpett commented on #82122
@yujuhong we're still seeing this on 1.13.7-gke.19. Anything we can check to aid investigation?

[2019-11-05 08:17] yue9944882 commented on #80663
/lifecycle frozen

we should addressed this in https://github.com/kubernetes/enhancements/pull/1263

[2019-11-05 09:02] #82924 closed

[2019-11-05 09:19] fredsted commented on #72044
Getting this on cronjobs w/ Kubernetes 1.12.10. It seems to happen randomly to some nodes, after they've been running for a few weeks, and we can fix it by either restarting the node or terminating it.

I've attached kubelet output from a typical example cronjob that failed.

[failing-cronjob-network-error.txt](https://github.com/kubernetes/kubernetes/files/3808144/failing-cronjob-network-error.tx

[2019-11-05 09:22] jianzzz opened #84778 "Eviction signal -- SIGKILL?"
Hi, I want to ask a question.
If kubernetes evicts a pod(DiskPressure), will it send a SIGTERM signal or SISKILL signal?

And, if more, in what scenario will it send a SIGTERM, and  in what scenario will it send a SISKILL.

[2019-11-05 09:33] atooki commented on #84743
Yes that the command I'm running. I  tried:

- restarting docker (since the kubeadm components are containers)
- restarting kubelet
- removed files in /etc/kubernetes/manifests/
- kubeadm reset

No success.

[2019-11-05 09:37] JokerDevops opened #84782 "kubernetes 1.16.2 no matches for kind "DaemonSet" in version "extensions/v1beta1""
[code]
Extensions /v1beta1 is no longer supported?

[2019-11-05 09:45] gfdusc commented on #84782
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals

[2019-11-05 09:51] wojtek-t commented on #75731
This became more tricky recently, because of https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190329-less-object-serializations.md

I don't think it's a good "help wanted" issue anymore...

[2019-11-05 09:51] whypro opened #84783 "cpumanager: cpu manager state checkpoint file validate failed after node crash or kubelet down"
**What happened**:

Currently, static policy in cpumanager validate state checkpoint file when kubelet starts if cpu binding feature is enabled. If the validation is failed, a panic will be triggerred and cpu manager will refuse to restart. The error log shows that we must remove this state file `/var/lib/kubelet/cpu_manager_state` and restart kubelet again.

As we observed in production environme

[2019-11-05 09:52] whypro commented on #84783
/sig node

[2019-11-05 10:11] guillaumedossantos commented on #84730
/sig platform/azure

[2019-11-05 10:18] guillaumedossantos commented on #84730
@kubernetes/sig-auth-test-failures

[2019-11-05 10:23] michelgokan commented on #84760
@Coderhypo I just checked them, and there are several permission errors every second:

[2019-11-05 10:26] droslean opened #84786 "[Failing Test] apg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
[code]

**Since when has it been failing**:
`4th Nov 15:20 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan @alejandrox1
/milestone v1.17
/priority critical-urgent

[2019-11-05 10:28] droslean commented on #84786
/sig cluster-lifecycle

[2019-11-05 10:34] ahg-g opened #84787 "WaitForStableCluster in e2e tests waits for pods to get deleted"
**What would you like to be added**:

[WaitForStableCluster](https://github.com/kubernetes/kubernetes/blob/b735a17163ac7c7c39d9888932c815260c3ceaba/test/e2e/framework/util.go#L2364:6) is used at the beginning of some e2e scheduler tests to wait until the cluster is in a stable state. It currently waits until all existing pods are scheduled, but it should also wait until pods from previous tests ar

[2019-11-05 10:34] ahg-g commented on #84787
/milestone v1.17
/priority critical-urgent

[2019-11-05 11:00] michelgokan commented on #84760
I've removed the apparmor (as I'm in an isolated test environment) and this solves the issue (`sudo apt-get purge --auto-remove apparmor`).

However, I'm sure this shouldn't be the way to go...for now this seems a peaceful solution for me!
I will let you know if the problem occurs again.

[2019-11-05 11:30] gongguan opened #84789 "Unlock mutex by defer causes more than double waste of time"
[code]
Benchmark waste time:
`BenchmarkMapGet-4       20000000                77.1 ns/op`

while mapGet use a fine-grained lock as:
[code]
Benchmark waste time:
`BenchmarkMapGet-4       30000000                43.9 ns/op`

performance:  defer sentence cost 2.6 times wast of time

/sig scalability

[2019-11-05 11:32] gongguan commented on #84789
/sig scalability

[2019-11-05 11:34] gongguan commented on #84789
Almost all code use `defer lock.Unlock() ` in kubernetes.

[2019-11-05 11:34] dims commented on #84786
/assign @dims

[2019-11-05 11:34] dims commented on #84786
fixing it in https://github.com/kubernetes/test-infra/pull/15103

[2019-11-05 11:47] opengers commented on #84767
Where is your mysql deployment?  Outside the Kubernetes?

[2019-11-05 11:52] ZP-AlwaysWin commented on #84782
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals

**daemonsets, deployments, replicasets resources under extensions/v1beta1 - use apps/v1 instead**

[2019-11-05 11:58] jkaniuk opened #84791 "Failing 100 nodes scalability tests due to wrong k8s version used"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-scalability-*

**Which test(s) are failing**:
Scalability load test

**Since when has it been failing**:
Failing since 10/31 but wrong versions were used for known testgrid history

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-1.14-scalability-100

**Reason for failure**:
Wrong versions of k8s is used

**Anyth

[2019-11-05 11:59] jkaniuk commented on #84791
/sig scalability

[2019-11-05 12:48] Davidrjx opened #84794 "HA Cluster v1.16.0 : coredns behaves unexpectedly"
**What happened**:
coredns can not work as domain name resolution.
**What you expected to happen**:
coredns works normally,  looking up domain name for particular ip address.
**How to reproduce it (as minimally and precisely as possible)**:
kubeadm makes a v1.16.0 HA cluster with three controlplane nodes ,and nginx as load balancer.
**Anything else we need to know?**:
like baidu.com, nslookup fail

[2019-11-05 12:50] Davidrjx commented on #84794
@kubernetes/sig-network-bugs

[2019-11-05 12:54] verb commented on #84764
/sig node

Thanks @shuiqing05 for opening this issue! Is your concern mainly about reclaiming the resources once the ephemeral container has exited? This is a thing that should happen automatically regardless of whether the container has been removed from the PodSpec. It shouldn't require a manual step. (To be clear, I'm not saying this is current behavior.)

Deleting the container would be requir

[2019-11-05 12:57] JScheurich commented on #84601
As far as we understand the scheduler code, it only looks at int64 resources MilliCPU, Memory, EphemeralStorage, AllowedPodNumber and a map of named ScalarResources for deciding if a Pod fits a node based on the Request and Allocatable resources in nodeInfo. NUMA topology/affinity is neither known to the scheduler nor part of the Pod request today.

Hence, the scheduler is bound to take uninformed

[2019-11-05 12:57] Davidrjx commented on #84794
kubectl get pods -n kube-system outputs the following,
[code]
at first time when coredns did not work for domain name resolution, i deleted two coredns pods, then though one keeps running but its status is 0/1 like above coredns-5644d7b6d9-6xdmm , that seems troubling.

[2019-11-05 12:57] JScheurich commented on #84601
/sig scheduling

[2019-11-05 13:08] Davidrjx commented on #84794
help wanted

[2019-11-05 13:25] liggitt commented on #80828
Services do not have conditions in their status. The ability to wait for an arbitrary status field value is covered by feature request https://github.com/kubernetes/kubernetes/issues/83094

/close

[2019-11-05 13:25] #80828 closed

[2019-11-05 13:58] dudicoco commented on #25238
I've tried the proposed workaround of removing the replicas field from the deployment spec.
However, when performing a rolling update, the number or replicas increases regardless of the load on the pods, the number of replicas goes down once the HPA scales them in.

Any ideas?

[2019-11-05 14:08] george-angel opened #84797 "apiserver http healthcheck"
**What would you like to be added**:

Apiserver endpoint serving `/healthz` over HTTP, no TLS.

**Why is this needed**:

Coming out of this issue: https://github.com/kubernetes/kubernetes/issues/43784

Running our own, self-signed PKI - we can only use TCP healthchecks for GCP LoadBalancer. It would be great to be able to point the LB healthcheck at a http port exposing the healthcheck.

/sig api-

[2019-11-05 14:28] #84651 closed

[2019-11-05 14:34] ahg-g opened #84799 "Enable profiling by default in the scheduler"
**What would you like to be added**:
Enable profiling by default in the scheduler. We can do this by defaulting the CC flags to true.

**Why is this needed**:
It is useful when debugging the performance of a running cluster. API server already enables profiling by default.

/sig scheduling
/help
/milestone v1.17

[2019-11-05 14:38] feiskyer opened #84800 "Source IPs are not preserved for UDP services on Azure"
**What happened**:

Refer https://github.com/Azure/AKS/issues/1295, health probes are not associated for UDP services on Azure, hence source IPs are not preserved for UDP services on Azure.

**What you expected to happen**:

When `externalTrafficPolicy` is set to `Local` for UDP services,  source IPs should be preserved and the health probe should be associated with UDP load balancer rule.

Per th

[2019-11-05 14:42] neolit123 commented on #84743
please provide the exact commands you execute and log output.

the `kubeadm token create` command uses the /etc/kubernetes/admin.conf kubeconfig file to authenticate to the API server. you should check if e.g. `sudo kubectl --kubeconfig /etc/kubernetes/admin.conf get no` times out too.

[2019-11-05 14:50] hogepodge commented on #80041
/remove-lifecycle stale

@adisky what's the status of the final removal? Is the Cinder driver nearly ready to go?

[2019-11-05 14:50] damemi commented on #84787
/cc

[2019-11-05 14:51] damemi commented on #84787
I'll take this one, can't figure out how to get ci bot to assign to me...

[2019-11-05 14:51] ahg-g commented on #84787
/assign @damemi

[2019-11-05 15:12] dsiebel commented on #25238
Do you have any numbers on the CPU consumption during startup? It might be the pods are scaled up according to the HPA CPU threshold during a deployment. I've seen that one before.

Also: did you run `kubectl apply edit-last-applied deployment/your-deployment`? If not the "old" replica count will be merged with your manifest on each apply, which might also cause this behaviour.

[2019-11-05 15:26] denkensk commented on #84799
/assign
/remove-help

[2019-11-05 15:28] maflaven commented on #16837
@davidopp has there been any more discussion on this? I'm working on a cache service that's bandwidth-sensitive and could really use the ability to schedule as a full-fledged resource.

[2019-11-05 15:29] denkensk commented on #84787
/remove-help

[2019-11-05 15:41] cbf123 commented on #84601
Yeah, I looked at the scheduler code and it appears you're correct.  This is disappointing.  I'm actually fairly new to Kubernetes myself.  I've been reviewing and testing the topology manager work but mostly looking at the NUMA-correctness on a single node rather than the overall cluster-level view.

I think it'd be reasonable to start with another bug report (the title of this one is misleading)

[2019-11-05 15:49] cbf123 commented on #84757
Arguably it makes no sense for a pod to get "stuck" in a failed state on a given node just because the scheduler made a bad decision about whether or not the pod can fit on the node.

If it doesn't fit, we should revert the pod back to an "unscheduled" state and try again.

Now there's a risk that the pod really can't fit on any node, so maybe it needs some kind of backoff on the scheduler retries

[2019-11-05 15:50] devilmind81 commented on #84751
I'm sharing the root cause of the issue.
I have noticed that GKE installing the ip-masq-agent by default on each node and that exclude the 10.0.0.0/8 subnet range from the masquerade.
Since my DNS server is in that range I'm not able to reach it.
I have applied a workaround in order to fix this and in order to made each node not ready for ip-masq-agent schedule changing the lables of each node but

[2019-11-05 15:50] #84751 closed

[2019-11-05 16:00] SataQiu commented on #84645
/cc

[2019-11-05 16:02] oxddr opened #84803 "[Failing Test] gce-master-scale-correctness - sig-storage tests"
**Which jobs are failing**:
Four sig-storage tests

**Which test(s) are failing**:
gce-master-scale-correctness

**Since when has it been failing**:
11/02

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1190599913549860

[2019-11-05 16:03] oxddr commented on #84803
@kubernetes/sig-storage-test-failures

[2019-11-05 16:04] adelina-t opened #84804 "CPU requests values are mutually exclusive on Windows. This should be respected when using containerd."
This affects the following tests:

`
[sig-node] Downward API should provide container's limits.cpu/memory and requests.cpu/memory as env vars [NodeConformance] [Conformance] 
[sig-node] Downward API should provide host IP as an env var [NodeConformance] [Conformance] 
[sig-node] Downward API should provide pod UID as env vars [NodeConformance] [Conformance] 
[sig-node] Downward API should provide

[2019-11-05 16:05] adelina-t commented on #84804
/cc @PatrickLang
/cc @jterry75

/sig windows

[2019-11-05 16:41] DeySouvik commented on #84601
Should we update the title of this issue itself than opening a newer one ?

[2019-11-05 16:48] DeySouvik commented on #84601
Did modified the title. Feel free to update the same.@cbf123

@kubernetes/sig-scheduling-feature-requests

[2019-11-05 16:52] SUYASHKARMARKAR opened #84805 "Improve the readiness and liveliness "Configure Probes" timeout values for High performance networking and Real time applications"
**What would you like to be added**:
Real-time applications have stringent requirements with respect to jitter, latency, quality of service and packet loss. The current timeout values for configuring probes is in order of seconds so this will cause issues for real-time applications and high performing networking applications . As an example  with "fping" we can get granularity of milli-seconds.

*

[2019-11-05 16:57] SUYASHKARMARKAR commented on #84805
@kubernetes/sig-apps-feature-requests
@kubernetes/sig-architecture-feature-requests
@kubernetes/sig-autoscaling-feature-requests

[2019-11-05 17:40] krmayankk commented on #4432
Has this moved at all ?

[2019-11-05 17:42] songbeng opened #84808 "kubelet 1.16 Error validating CNI Config"
**What happened**:
Deploy kubernetes 1.16 with kubeadm and customize CNI plugin. kubelet reports Error validating CNI config. coreDNS is not getting its IP address.

**What you expected to happen**:
The CNI plugin file is working prior to 1.16. It is working fine from 1.13 to 1.15.

**How to reproduce it (as minimally and precisely as possible)**:
kubeadm init --apiserver-advertise-address 192.168

[2019-11-05 17:50] devurandom commented on #42544
/remove-lifecycle stale

[2019-11-05 17:55] droslean commented on #84676
@neolit123 it is still failling. Can you check?

[code]

[2019-11-05 18:13] neolit123 commented on #84676
yes, i saw that yesterday. we decided to make switch for the backends and this will result in the jobs being renamed.

[2019-11-05 18:19] gerred commented on #84805
/remove-sig apps
/remove-sig architecture
/remove-sig autoscaling
/sig node
/sig api-machinery

I think this is assigned to the right SIGs now (cc @dims), @SUYASHKARMARKAR if you believe this should be prioritized by SIG Architecture please drop a message on the mailing list.

[2019-11-05 18:19] jobin-AT commented on #75803
if you are running on openstack or any cloud please make sure to allow the ports in security  groups
TCP | Inbound | 6443* | Kubernetes API server

in my case this was the error

[2019-11-05 18:20] jobin-AT commented on #82988
if you are running on openstack or any cloud please make sure to allow the ports in security groups
TCP | Inbound | 6443* | Kubernetes API server

in my case this was the error

[2019-11-05 18:24] lavalamp commented on #4432
Events are in a separate etcd cluster in most set-ups. We (API Machinery) have no plans to work on this further at the moment. This would be a huge task.

Anyone wanting to revisit this should probably start with a KEP. (Actually, I'd start in an API Machinery SIG meeting before going to that much effort.) Let me repeat that this would be a huge task and it's hard to imagine a justification that w

[2019-11-05 18:24] #4432 closed

[2019-11-05 18:27] jobin-AT commented on #75803
if you are running on openstack or any cloud please make sure to allow the ports in security groups
TCP | Inbound | 6443* | Kubernetes API server

in my case this was the error

[2019-11-05 18:38] markyjackson-taulia commented on #75551
Circling back on this. A kind reminder that code freeze for this release is on November 14. Is this issue still intended for 1.17? By end of week if there is not movement on this I will move to 1.18 milestone

[2019-11-05 18:40] markyjackson-taulia commented on #81117
@liggitt is it ok to close this issue also cc: @cji

[2019-11-05 18:45] markyjackson-taulia commented on #82484
@wojtek-t ok to close now?

[2019-11-05 18:46] markyjackson-taulia commented on #80916
@jennybuckley kind reminder that code freeze for this release is on November 14. Is this issue still intended for 1.17? If not traction by weeks end we will have to move this to milestone 1.18

[2019-11-05 18:46] ean5533 commented on #71612
Any chance of this getting picked back up? I'm another use case for "I just want to add one additional custom column, not replace the whole output".

[2019-11-05 18:47] markyjackson-taulia commented on #80515
@liggitt  a kind reminder that code freeze for this release is on November 14.

[2019-11-05 18:48] markyjackson-taulia commented on #77988
A kind reminder that code freeze for this release is on November 14. Is this issue still intended for 1.17? If by weeks end we have no traction I will have to move to 1.18.

[2019-11-05 18:49] markyjackson-taulia commented on #76624
@jpbetz @deads2k A kind reminder that code freeze for this release is on November 14. Is this issue still intended for 1.17?
--

[2019-11-05 18:50] markyjackson-taulia commented on #75564
@kwiesmueller given there is still no work happening I am going to move this to milestone 1.18, are you ok with that?

[2019-11-05 18:51] markyjackson-taulia commented on #59848
@jpbetz A kind reminder that code freeze for this release is on November 14. Is this issue still intended for 1.17? If no traction by weeks end we will have to move this to milestone 1.18

[2019-11-05 18:52] apelisse commented on #77988
We're not looking at this, you can move it to 1.18

[2019-11-05 19:00] nesl247 commented on #60596
I too am confused based on that documentation. Can we get an update here with an answer and fix the documentation if it's wrong?

[2019-11-05 19:06] cbf123 commented on #84601
Your blurb talking about SRIOV and the topology manager is now different from the title of the issue...which could be confusing.  That's why I had suggested creating a new issue.

[2019-11-05 19:06] daschott commented on #81938
Is this issue still active? Neither Flannel upgrade nor KB helped?

[2019-11-05 19:13] markyjackson-taulia commented on #77988
/milestone v1.18

[2019-11-05 19:20] #84791 closed

[2019-11-05 19:27] wojtek-t commented on #82484
@markyjackson-taulia - let me validate it - I will have an answer for you by Thursday morning if this is all or requires any other changes

[2019-11-05 19:46] enj commented on #84730
Required claims must be a string - an array of strings will not work.

https://github.com/kubernetes/kubernetes/blob/27cf50d85edb91357d56fd762271974e7a7254bc/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go#L620-L634

[2019-11-05 20:03] alanorwick commented on #80431
Hi! I'm a CS student in university. My group is interested in resolving this issue for a virtualization class assignment. Can we have this assigned to us?

[2019-11-05 20:04] kwiesmueller commented on #75564
Sure, we'll probably still be busy with the KEP PR for a while.
Sorry to keep you waiting

[2019-11-05 20:08] jpbetz commented on #59848
@markyjackson-taulia Trying to get https://github.com/kubernetes/kubernetes/pull/83520 in this week. It solves the "relist" problem that contributes to this issue but not the "restart" issue, so this issue will definitely not be fully resolved in 1.17.

[2019-11-05 20:33] markyjackson-taulia commented on #75564
/milestone v1.18

[2019-11-05 20:35] markyjackson-taulia commented on #59848
@jpbetz ok, I am going to move to 1.18 milestone
/milestone v1.18

[2019-11-05 20:36] dbolkensteyn commented on #78446
/remove-lifecycle stale

[2019-11-05 20:37] wojtek-t commented on #84803
@guineveresaenger @alenkacz - FYI

[2019-11-05 20:45] ansongoldade opened #84817 "JSON Patch whitespace significant?"
**What happened**:
`kubectl patch deployment the-deployment --type json -p '[{"op":"replace","path":"/spec/template/spec/containers/0/image","value":"the-image"}]'`
resulted in `The request is invalid` message from server. When turning up the logging level `-v=8` the request body content was `{"op:replace":null,"path:/spec/template/spec/containers/0/image":null,"value:the-image":null}]`

`kubectl

[2019-11-05 20:55] gabrielhao opened #84818 "kubectl create secret failed: Error from server (Timeout): error when creating "test-secret.json": Timeout: request did not complete within requested timeout 30s"
**What happened**:
When deploy, suddenly cannot create secret. This also affects new namespace, kube controller manger cannot create default token in new namespace. Tested with creating new secret via `kubectl create secret` and `kubectl apply -f`, both got the same error "Error from server (Timeout): error when creating "test-secret.json": Timeout: request did not complete within requested timeou

[2019-11-05 20:58] gabrielhao commented on #84818
/sig-api-machinery

[2019-11-05 20:59] gabrielhao commented on #84818
/sig api-machinery

[2019-11-05 21:04] msschl opened #84819 "PSP not binding for pod created by a statefulset"
**What happened**:

Although I've created a psp and bound it to the statefulset via a service account, role and rolebinding, the pods created by the statefulset always bind to the default-restricted psp.

[code]

[code]

[code]

[code]

[code]

[code]

**What you expected to happen**:
The pods created by the statefulset should bind to the psp of the associated serviceaccount.

**Environment**:
- K

[2019-11-05 21:34] zaneclaes commented on #78068
Same issue, total CPU & memory are both < 40% (plenty of resource headroom).
Using `kubeadm` (v16) like the OP (not `minikube`) on a Raspberry Pi 4B+ with 4Gb RAM.

[2019-11-05 21:37] hpandeycodeit commented on #53201
@liggitt Do you think the PR #83032 can be reviewed with the above open question?

[2019-11-05 21:37] prameshj opened #84821 "Remove handling of legacy firewall rule names in GCE ILB code"
PR https://github.com/kubernetes/kubernetes/pull/84622 adds code to rename ILB rules using the right format. There is code to handle legacy firewall rules and rename/delete them. This needs to be removed after k8s 1.19 once all firewall rules have been created with the new name.

/area platform/gce
/assign

[2019-11-05 21:40] prameshj commented on #84821
/sig network

[2019-11-05 21:50] PatrickLang opened #84822 "Add Windows Containerd/Containerd test passes"
Most of the work needed to enable Windows containers in CRI-ContainerD has been merged into containerd/containerd and containerd/cri.

Can you set up additional runs on testgrid tracking the master containerd branches?

Background

The plan for moving code from the jterry75 branch back to containerd upstream repos is detailed here, and the remaining work items are on the v1.4 milestone in the cont

[2019-11-05 21:57] PatrickLang commented on #84822
/assign @adelina-t
/sig windows

[2019-11-05 21:58] liggitt commented on #81117
no, `pkg/cloudprovider/providers/openstack/openstack.go:207:	cfg.Global.Password = os.Getenv("OS_PASSWORD")` still remains

[2019-11-05 21:58] liggitt commented on #81117
cc @dims

[2019-11-05 22:00] prameshj commented on #84821
/remove-triage unresolved

[2019-11-05 22:37] dims commented on #81117
@adisky @ramineni seen this yet?

[2019-11-05 23:31] #84554 closed

[2019-11-05 23:37] tallclair commented on #84742
I listed 2 options in the description. For (2), something like setKubeletConfiguration would be the desired approach. You should get buy-in from some of the folks who had concerns on my original PR before implementing that approach though.

[2019-11-06 00:01] davidz627 commented on #79660
To add to this I believe we should test that an in-tree plugin and its "replacement" CSI Driver share the same attach limits (both max and current usage)

[2019-11-06 00:02] davidz627 commented on #79660
/cc

[2019-11-06 00:46] bg-chun commented on #84601
I suggested a single-NUMA policy to sig-node and contributors in July, with this [feedback document](https://docs.google.com/document/d/1Ytz-Qzwz65MvXOODmz9SDouN6MbyoOiZ_spaz61cUIQ/edit#heading=h.5q2ji2iu66ig).

I am one of ther persons who believes following changes should be made:
1) extending pod spec to support requesting CPUs and PCI devices with NUMA affinity.
   -to support more usecases su

[2019-11-06 00:54] msau42 commented on #84803
This should be addressed by https://github.com/kubernetes/kubernetes/pull/84745

[2019-11-06 01:02] tykytyz commented on #84767
it's in the same kubernets cluster with jdbc client

[2019-11-06 01:27] ahg-g opened #84829 "[migration phase 1] SelectorSpread as Score plugin"
**What would you like to be added**:

Add a Score plugin that calls into SelectorSpread priority. Plugin name should be "DefaultPodTopologySpread"

**Why is this needed**:

Part of  #83554

/sig scheduling
/assign @draveness
/priority important-soon

[2019-11-06 01:29] tykytyz commented on #84767
@opengers It's inside the same kubernets cluster with JDBC client, I configured conntrack parameters on the pod host and wait_timeout on mysql, sadly no effect. By net capturing on all the reset stream only two packets seen per session, one from client as a select @@session.tx_read_only querry, and then a RST packet from service to close the session.  I have no clue for further investigation, any

[2019-11-06 01:44] leowucn commented on #84446
It's weird, it seems ok now, and I can's reproduce the bug now. So I will close the issue.

[2019-11-06 01:44] #84446 closed

[2019-11-06 02:23] k82cn commented on #82702
/sig apps

[2019-11-06 02:37] jaygorrell commented on #56903
I have NodeLocalDNS configured and working in my cluster - I can `dig` to verify that requests after the first return in < 1ms until the cache expires. However, I still see the conntrack errors increasing. I understand the other two races were kernel problems but doesn't upgrading coredns requests to tcp address that, so only NodeLocalDNS is needed?

[2019-11-06 02:52] axot commented on #56903
@jaygorrell There are some motivations why upgrading to tcp connection, you could check it from https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/0030-nodelocal-dns-cache.md#Motivation

You could also give a try to use some custom version of node local DNS from https://github.com/colopl/k8s-local-dns

[2019-11-06 02:55] artazar commented on #75663
Issue is still present.
After enabling 'static' mode of cpumanager, /var/log/messages contains numerous errors.

`Nov  6 02:54:28 d003xknw000 kubelet: W1106 02:54:28.744870   24654 cpu_manager.go:238] [cpumanager] reconcileState: skipping container; ID not found in status (pod: mongo-rs-mongodb-replicaset-0, container: copy-config, error: unable to find ID for container with name copy-config in po

[2019-11-06 03:00] jaygorrell commented on #56903
Yeah, I meant that I expected the tcp upgrade to mitigate the other two racy conditions so that nodelocaldns would resolve all 3 races on it's own.

The more I debug the more I think it's just ttl/eviction problems with the cache, so thanks for the modified version... I'll take a look at that.

[2019-11-06 03:54] libnux commented on #83550
@liggitt  Could you please tell release date of v1.16.3?  Thanks.

[2019-11-06 03:59] liggitt commented on #83550
https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#timelines

Target date of 2019-11-13

[2019-11-06 05:11] opengers commented on #84767
I think your problem is different from this issue https://github.com/kubernetes/kubernetes/pull/74840,  this issue is intermittent, and if you use calico, calico already Drop INVALID packages in filter/cali-FORWARD chain

Have you confirmed that mysql itself has no problem? Is RST packet from mysql pod or from the Service?

[2019-11-06 05:24] JK-97 opened #84839 "why my node's kubelet print "skipping pod synchronization ""
06 05:20:05.832056    4780 docker_service.go:273] Setting cgroupDriver to cgroupfs
I1106 05:20:05.844597    4780 remote_runtime.go:59] parsed scheme: ""
I1106 05:20:05.844634    4780 remote_runtime.go:59] scheme "" not registered, fallback to default scheme
I1106 05:20:05.844655    4780 passthrough.go:48] ccResolverWrapper: sending update to cc: {[{/var/run/dockershim.sock 0  <nil>}] <nil>}
I1106

[2019-11-06 05:33] prabhakar-pal commented on #62536
/remove-lifecycle rotten

[2019-11-06 05:33] prabhakar-pal commented on #62536
/reopen

[2019-11-06 05:35] richellin opened #84840 "I allocated 20 GB, but only 1 GB was allocated on Mac(Mojave)"
@kubernete/sig-storage-bugs

**What happened**:
I allocated 20 GB, but only 1 GB was allocated.

**What you expected to happen**:
20 GB was allocated.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:
No

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardware configuration:

[code]

- OS (e.g

[2019-11-06 05:46] tykytyz commented on #84767
The problem only seen when i'm using nodeport service, if I use headless service to access mysql directly then no error observed. Based on that I don't think it's a calico problem, nor mysql.

From the net capture attached, there were only 2 packets per reset stream at 14:00:00, the time when the error seen in client logs, mysql service (10.200.242.128) sent RST packet to close the session after t

[2019-11-06 06:19] #84736 closed

[2019-11-06 06:32] #83575 closed

[2019-11-06 06:33] ahg-g commented on #84456
/Close

[2019-11-06 06:33] #84456 closed

[2019-11-06 06:36] ahg-g commented on #84455
Yes.

[2019-11-06 06:37] prameshj commented on #56903
the conntrack errors could be increasing because of DNAT in a different service too.

[2019-11-06 06:41] jianzzz commented on #84778
I trap signal SIGTERM, and define lifecycle.preStop.
But if evictionSoft.memory.available condition is met,  none of them worked

[2019-11-06 07:02] opengers commented on #84767
@tykytyz  Are you using ipvs for kube-proxy? If yes, the reason may be due to ipvs clear connection

[2019-11-06 08:38] kszalontai commented on #67761
any new about this?
we're still experiencing it in master version **1.13.11-gke.5** when creating multiple jobs

[2019-11-06 08:38] kszalontai commented on #67761
/reopen

[2019-11-06 08:41] zhaojizhuang opened #84850 "Panic happends in kube-apiserver"
**What happened**:
In kubernetes 1.15, Panic happends in kube-apiserver. Subsets[0] is  nil  when endpoints `kubernetes` has no subsets

The Panic happens in here:

https://github.com/kubernetes/kubernetes/blob/release-1.15/pkg/master/reconcilers/mastercount.go#L155

And everything returns to normal when we delete the endpoints `kubernetes` in  etcd

**What you expected to happen**:
Maybe kube-api

[2019-11-06 08:47] zhaojizhuang commented on #84850
sig release

[2019-11-06 08:47] zhaojizhuang commented on #84850
/sig release

[2019-11-06 08:51] #84799 closed

[2019-11-06 09:19] Pencil-Yao commented on #84808
same issue for me

[2019-11-06 09:21] k2huang commented on #84226
We encountered the same issue in our production environment. In our env, we may immediately
 delete PVC once the pod is deleted，and the following two workflow will happen:
1. pod delete event -> attach detach controller -(VolumeAttachment)-> csi attacher controller -> csi plugin -> cloud volume detach open api, and it will take about 3~5s normally
2. pvc delete event -> pv controller set pvc into

[2019-11-06 09:32] #75230 closed

[2019-11-06 09:43] johscheuer commented on #84819
From the logs it looks like your application is running with the `default-restricted psp` policy right ? The logic in the PSP controller is that it always assigns the least privileged PSP which means if you don't specify anything special in your Pod template there is no reason for the PSP controller to bind to the special `key-store-redis`.

[2019-11-06 09:51] nielsole commented on #70229
We have reworked our eviction thresholds and since then this issue is completely gone.
[code]

[2019-11-06 10:12] droslean commented on #84675
/close

[2019-11-06 10:12] #84675 closed

[2019-11-06 10:12] droslean commented on #84548
/close

[2019-11-06 10:12] #84548 closed

[2019-11-06 10:15] philip-fox commented on #80431
@alanorwick Sure, that would be great, thanks!

[2019-11-06 10:23] #82509 closed

[2019-11-06 10:28] msschl commented on #84819
Yes, it does. This is the default-restricted psp:
[code]

The redis Pod template need the volume emptyDir in order to work.

[2019-11-06 10:36] yehaifeng commented on #77728
I also have this issue.

My env:
oc v3.11.0+62803d0-1
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://paas-sh-01.99bill.com:443
openshift v3.11.0+0323629-61
kubernetes v1.11.0+d4cacc0

And it is not use by restart kubelet.
Nov 06 18:08:12 paas-node010024.99bill.com origin-node[447731]: I1106 18:08:10.832043  447731 kubelet_node_status.go:441] Recording NodeNo

[2019-11-06 10:41] avarf commented on #72511
I just faced this issue and what worked for me was running `sudo iptables -P FORWARD ACCEPT` on all cluster nodes.

An unrelated comment: Kubeproxy and how it works by default which is using iptables is very problematic and this was the third time that I hit a problem related to kubeproxy and iptables and all of these 3 times it was a nightmare to pinpoint the real problem and even harder to find

[2019-11-06 10:46] guillaumedossantos commented on #84730
As simple as that. Sorry I didn't read the code, I was sure it was expecting an array of strings because that is what `- --oidc-groups-claim=groups` expects [as per doc](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#openid-connect-tokens)

So I was under the impression that `--oidc-required-claim` did not bother searching an array of strings for the value -[ doc does not

[2019-11-06 10:51] johscheuer commented on #84808
Could you ensure that `/opt/cni/bin/bcf` exists in your setup ?

I just tried a mock with your configuration and everything seems to be fine on the Kubernetes side:

[code]

My cni config:

[code]
and my dummy bcf cni (since I don't have access to this cni):

[code]
are there any other values in the cni config ? If I remove my dummy bcf cni I get the following error:

[code]

[2019-11-06 10:57] #84840 closed

[2019-11-06 10:59] odinuge commented on #84526
I think https://github.com/kubernetes/kubernetes/pull/80831 should be added to the list too.

[2019-11-06 11:00] rgoupil commented on #57187
/remove-lifecycle rotten

[2019-11-06 11:22] dudicoco commented on #25238
@dsiebel, it doesn't seem like this is related to CPU consumption during startup.

Using the following manifest:
[code]

After deploying the above, If you change the container spec such as the readinessProbe initialDelaySeconds or resources cpu and run kubectl apply, HPA will add a replica during the rolling update.

[2019-11-06 11:32] bg-chun commented on #84526
@odinuge I added it :)

[2019-11-06 11:42] dims commented on #84786
fix is in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/252

[2019-11-06 11:46] oxddr opened #84855 "Kubemark: fake fluentd broke tests"
https://github.com/kubernetes/kubernetes/pull/83897 broken kubemark tests (e.g. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-high-density-100-gce/1191791957987299332 or https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1191801274085937152). Failure needs to be investigated before this option is enabled again.

[2019-11-06 11:47] oxddr commented on #84855
/sig scalability
/cc @krzysied

[2019-11-06 11:47] yastij commented on #70957
/remove-lifecycle stale
/lifecycle frozen

[2019-11-06 11:48] k2huang commented on #84226
IMO, firstly, pvc&pv protection controllers is used for preventing that pvc&pv resource object themselves are deleted from etcd when they are used or referenced, but don't care the under operation sequence of volume, secondly, it's not a good idea about judging if volume has been detached via node.status.volumesAttached, because AD controller updates node.status.volumesAttached before triggering r

[2019-11-06 11:59] krzysied commented on #84855
I look into hollow-node logs. There is a problem with nil pointer dereference:
[code]

[2019-11-06 12:03] monotek commented on #81289
Also run in this on 1.15.1.
Downgrading kubectl down to 1.9.0 did not help too.
When did this work the last time?

[2019-11-06 12:04] jbguerraz opened #84856 "blablabla"
this is a test

[2019-11-06 12:04] jbguerraz commented on #84856
/close

[2019-11-06 12:04] #84856 closed

[2019-11-06 12:04] krzysied commented on #84855
The nil dereferencing is done in line: https://github.com/kubernetes/kubernetes/blob/76d04cf6025ce98c1d936bd9d075e8ddb8a64c7e/pkg/kubelet/dockershim/exec.go#L118.
This should be a result of https://github.com/kubernetes/kubernetes/blob/76d04cf6025ce98c1d936bd9d075e8ddb8a64c7e/pkg/kubelet/dockershim/exec.go#L114 returnin (nil, nil).

[2019-11-06 12:09] krzysied commented on #84855
Assuming that kubemark uses docker fake client, this problem is caused by:
https://github.com/kubernetes/kubernetes/blob/76d04cf6025ce98c1d936bd9d075e8ddb8a64c7e/pkg/kubelet/dockershim/libdocker/fake_client.go#L764-L766
which can return (nil, nil) - default for `NewFakeDockerClient`.
IMHO it should be return `f.ExecInspect` if it's not nil, else `&dockertypes.ContainerExecInspect{}`

[2019-11-06 12:17] yue9944882 commented on #84850
/remove-sig release
/sig api-machinery

[2019-11-06 12:41] jaygorrell commented on #56903
That crossed my mind, but nothing non-standard runs outside of kubernetes on these hosts.

I did turn up logging on nodelocaldns and saw that certain dns queries didn't appear to be hitting it -- for example `my-service.default.svc.cluster.local` would but `my-service.default` would not -- despite both resolving just fine and dig showing they went to nodelocaldns. I'll dig in more today and hopefu

[2019-11-06 12:45] k2huang commented on #84226
And my idea to fix or improve the issue is that AD controller add new finalizer to PVC after bound PV is attached to one node and removes it after bound PV is detached from all node.

[2019-11-06 12:46] droslean commented on #84514
@dameni Any news?

We noticed that the test `[sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Should recreate evicted statefulset [Conformance]` flakes time to time.

link: https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master
job: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest/11920264229

[2019-11-06 12:58] johscheuer commented on #84819
So the Pods are running and have access to the `emptyDir` ?  This is pretty strange because the `default-restricted` actually forbids the usage of `emptyDir`.

I just tried this with only the restricted PSP and I get the following error:

[code]

So I assume that the PSP controller actually uses the correct role but writes the wrong role name into the annotation ?

I just checked this on my cluste

[2019-11-06 13:02] #84829 closed

[2019-11-06 13:04] johscheuer commented on #84797
I'm not an GCP expert but the docs at least state the they don't perform any certification validation: https://cloud.google.com/load-balancing/docs/health-check-concepts#criteria-certificates so it shouldn't matter that you are using a self-signed PKI.

[2019-11-06 13:19] msschl commented on #84819
I am sorry, I had to change the default-restricted psp to include the volume type emptyDir in order to get the pods up and running as fast as possible.
But actually with the above default-restricted psp I get the same error as you.
[code]

But I don't understand why the pods in your cluster attaches to the right psp `kubernetes.io/psp: key-store-redis`

[2019-11-06 13:20] msschl commented on #84819
This is how I attach the default-restricted psp:

[code]

[2019-11-06 13:25] george-angel commented on #84797
@johscheuer it looks like a lot of that documentation has change since last I looked at it, and I don't quite have the time to re-dig into it all right now.

But we are using a "forwarding rule" - https://github.com/utilitywarehouse/tf_kube_gcp/blob/master/masters.tf#L96 since we want the load balance to be `EXTERNAL`.

Which must use "targets" - https://www.terraform.io/docs/providers/google/r/co

[2019-11-06 13:36] #78072 closed

[2019-11-06 13:56] oz123 commented on #75488
We have a similar issue with Openstack Octavia loadbalancers. It would be great to see this added.

[2019-11-06 13:59] ah584d commented on #70732
i have exactly the same issue, will it be fixed?

[2019-11-06 14:29] richellin commented on #84840
https://github.com/kubernetes/kubernetes/issues/48701#issuecomment-314929576

[2019-11-06 14:30] johscheuer commented on #84819
This is my "default" configuration:

[code]

and this is the extra part for the `StatefulSet`:

[code]

And then I just took the `StatefulSet` from above and just changed the `Namespace`.

[2019-11-06 14:37] mikedanese commented on #84730
Why wouldn't you just not grant permission to that group?

[2019-11-06 14:44] guillaumedossantos commented on #84730
Sorry if I sound silly, but how so ?

[2019-11-06 14:45] songbeng commented on #84808
/opt/cni/bin/bcf exists in the setup. its a binary file:

total 132048
-rwxr-xr-x 1 root root  4028260 Mar 15  2019 bridge
-rwxr-xr-x 1 root root  3127363 Mar 15  2019 host-device
-rwxr-xr-x 1 root root  3572685 Mar 15  2019 ipvlan
-rwxr-xr-x 1 root root  3613497 Mar 15  2019 macvlan
-rwxr-xr-x 1 root root  3993428 Mar 15  2019 ptp
-rwxr-xr-x 1 root root  3568537 Mar 15  2019 vlan
-rwxr-xr-x 1 roo

[2019-11-06 14:57] msschl commented on #84819
This doesn't look that different to mine. I also have some psp that are binding correctly in my cluster, for example the psp's in the kube-system namespace:
[code]
They bind to the serviceaccount via roles and rolebindings except for the kube-system psp. The kube-system psp binds to the group system:nodes

[code]

Furthermore I have some pods deployed for monitoring in a namespace `monitoring` wit

[2019-11-06 14:59] detiber commented on #79904
/lifecycle frozen

[2019-11-06 15:06] msschl commented on #84819
I think it would also be good to annotate statefulsets, deployments and replicaset with `kubernetes.io/psp`.

[2019-11-06 15:21] msschl commented on #84819
I think I found the issue. I've deployed the role using this yaml:
[code]

After changing the apiGroup from `policy/v1beta1` to only `policy` it works.

[2019-11-06 15:21] jsmilani commented on #84603
I want to point out for anyone else trying to swap a CNI that the "apr_pollset_poll: The timeout specified has expired (70007)" errors were happening 100% of the time right after swapping romana with calico. To swap them on my test VM I ran `kubeadm reset`, reset the iptables using `iptables -F && iptables -t nat -F && iptables -t mangle -F && iptables -X` then re-initialized a new cluster with ca

[2019-11-06 15:32] oxddr commented on #84803
/close

Tests are green again.

[2019-11-06 15:32] #84803 closed

[2019-11-06 15:34] oxddr opened #84863 "[Failing Test] gce-master-scale-correctness - sig-cli tests"
**Which jobs are failing**:
gce-master-scale-correctness

**Which test(s) are failing**:
[sig-cli] Kubectl client kubectl get output should contain custom columns for each resource

**Since when has it been failing**:
11/6

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
[code]

**Anything else we need to know**

[2019-11-06 15:38] wojtek-t commented on #84863
Doesn't seem to be scale-related - failed for me the same way in the presubmit:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84860/pull-kubernetes-e2e-gce/1192066446864158721/

[2019-11-06 15:43] oxddr commented on #84863
@wojtek-t - do we run correctness test in smaller scale (so we can detect whether failures are scale related or not)? I can't find them on neither https://k8s-testgrid.appspot.com/sig-release-master-blocking nor https://k8s-testgrid.appspot.com/sig-release-master-informing dashboards.

[2019-11-06 15:45] droslean commented on #84691
After #84745 merged those tests passed, but another test failed.
I will keep this issue open to track the job and make sure if that failure is a flake or not.

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1192049589507592192
`[sig-cli] Kubectl client kubectl get output should contain custom columns for each resource`

[2019-11-06 15:47] mrpity commented on #69082
hi all.
I used "external rbd provisioner" with v1.13.5 and everything worked fine...
I met these error after upgrading from v1.13.5 to v.1.14.1.
Did anyone solve this problem? any workarounds?

[2019-11-06 16:10] cji commented on #81142
/remove-lifecycle stale

[2019-11-06 16:10] cji commented on #81141
/remove-lifecycle stale

[2019-11-06 16:10] cji commented on #81123
/remove-lifecycle stale

[2019-11-06 16:10] cji commented on #81133
/remove-lifecycle stale

[2019-11-06 16:11] neolit123 commented on #81141
there is a WIP PR for this https://github.com/kubernetes/kubernetes/pull/81319
but it needs a complete rework.

[2019-11-06 16:22] joalmjoalm commented on #84663
/close

[2019-11-06 16:22] #84663 closed

[2019-11-06 16:32] PierreBeucher commented on #65797
Was looking for such a feature and quite surprised to realize it did not exist yet.
+1 for this feature

[2019-11-06 16:34] droslean commented on #84556
/close

[2019-11-06 16:34] #84556 closed

[2019-11-06 16:35] droslean commented on #84786
/close

[2019-11-06 16:35] #84786 closed

[2019-11-06 16:51] neolit123 commented on #81137
/remove-lifecycle stale

[2019-11-06 16:51] michaelgugino commented on #80389
/remove-lifecycle stale

[2019-11-06 16:57] dsiebel commented on #25238
@dudicoco that sounds to me this is related to your `maxSurge: 1`. It allows the scheduler to place one more pod than the desired replicaCount during releases.

[2019-11-06 16:59] cbf123 commented on #84783
Instead of ignoring the state failure on startup, I think it'd be better to pursue making the state file updates atomic to make it less likely that the file gets corrupted.

[2019-11-06 17:21] droslean opened #84867 "[Failing Test] gce-windows-1.17 (ci-kubernetes-e2e-windows-gce-1-17 )"
**Which jobs are failing**:
`gce-windows-1.17 (ci-kubernetes-e2e-windows-gce-1-17 )`

**Which test(s) are failing**:
[code]
[code]

**Since when has it been failing**:
Since the beginning of time.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.17-informing#gce-windows-1.17

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-1-17/11

[2019-11-06 17:24] cbf123 opened #84869 "scheduler being topology-unaware can cause runaway pod creation"
**What happened**:
With "--topology-manager-policy=single-numa-node" enabled on kubelet, creating a ReplicaSet (or other entity which automatically creates pods) resulted in hundreds of pods with a status of "Topology Affinity Error".

controller-0:~$ kubectl get pod
NAME                         READY   STATUS                    RESTARTS   AGE
exclusive-replicaset-27dzq   0/1     Topology Affinity

[2019-11-06 17:25] cbf123 commented on #84869
@kubernetes/sig-node-bugs
@kubernetes/sig-scheduling-bugs

[2019-11-06 17:29] jaygorrell commented on #56903
I'm still unsure about the conntrack error count, but I think we've figured out the reason we're not seeing an improvement in DNS latency.

Kubernetes defaults to `ndots: 5`. This essentially guarantees you'll always check search domains first before trying outright. We often refer to services with `<service>.default` so even if there's a local cache for the service, it's going to try `<service>.d

[2019-11-06 17:34] achilles42 commented on #81905
Hey @langecode,
In my case, we had 2 services running for the same pod and Prometheus was scraping twice.

For your case, you should be looking at below query to match data with kubectl top command -
```sum by(container_name) (container_memory_working_set_bytes{cluster_name="cluster-name",job="kubelet", namespace="default", pod_name="foobar-123n123n123n12", container_name=~"foobar", container_name

[2019-11-06 18:04] chrisohaver commented on #56903
Here's an explanation: https://github.com/kubernetes/kubernetes/issues/14051#issuecomment-140813186

Yes, in the CoreDNS cache plugin [readme](https://github.com/coredns/coredns/tree/master/plugin/cache#capacity-and-eviction). (it's random)

Items cache for their TTL, with a cap at 30s.  IOW, if an item TTL is 5s, it caches for 5s, not 30s.

no - success and denial caches are separate caches.

[2019-11-06 18:18] johnSchnake opened #84872 "Generate docs for the e2e tests"
**What would you like to be added**:
Publishing of the docs related to the e2e.test binary as part of the release cycle.

**Why is this needed**:
There are _lots_ of flags defined to customize test behavior but in order to view them you have to access the e2e binary directly which most people dont do (using Sonobuoy or some other tool to run the tests elsewhere; only interacting with the test imag

[2019-11-06 18:20] johnSchnake commented on #84872
/sig testing
/kind documentation
/area developer-guide

[2019-11-06 18:21] jaygorrell commented on #56903
Not sure I follow this response, or maybe it's just stale. It claims:

But with `svc.cluster.local` and `.cluster.local` both in the search domains, respectively, these should resolve fine. And that's just talking about the order -- doesn't ndots only determine if an outright search is tried before the search domains or not?

In his first example if ndots were 1, it would just try `kubernetes.defa

[2019-11-06 18:23] johnSchnake commented on #78535
/remove-lifecycle stale

[2019-11-06 18:35] andrewsykim commented on #73794
/remove-lifecycle rotten
/lifecycle frozen

[2019-11-06 18:53] Huang-Wei commented on #83321
/reopen

We see another flake since #84766 got merged: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/84738/pull-kubernetes-integration/1192120553314455554/.

However, don't panic :) The original "Entering master disruption mode" cause has been fixed - you won't see that message in the above log. This time it's a smaller issue. I will explain it in another PR.

[2019-11-06 18:57] andrewsykim commented on #81007
/remove-lifecycle stale

/assign @nckturner @M00nF1sh

[2019-11-06 19:04] andrewsykim commented on #80403
Fixed in https://github.com/kubernetes/kubernetes/pull/80942. Please re-open if you still encounter this bug.

/close

[2019-11-06 19:04] #80403 closed

[2019-11-06 19:05] andrewsykim commented on #80428
/remove-lifecycle stale

[2019-11-06 19:11] damemi commented on #84514
@droslean not from me, I forwarded the OpenStack flake to that team and they'll take a look at it

[2019-11-06 19:36] michael-pratt opened #84876 "CPU resource request of 1000m results in multiple CPUs to process"
**What happened**:

When deploying a Java app with `resources.requests.cpu` set to `1000m`, the Java runtime reports it has more than 1 CPU available. Specifically, it reports the number of physical CPUs on the node (in my case, the node has 36 cores and the Java app thinks it has 36 processors).

If I set the value to anything else, the Java runtime reports the number of processors consistent wit

[2019-11-06 19:37] droslean commented on #84514
@damemi Thanks a lot!

[2019-11-06 19:41] M00nF1sh commented on #81007
@jacekn
1. The tags on worker node's securityGroup is only required when you have multiple securityGroup on the primary ENI of worker nodes. If you only have one securityGroup, then the tags are not required, so that behavior is working as expected.
2. For the uncleaned securityGroup, i can see the logs came from `https://github.com/kubernetes/kubernetes/blob/release-1.14/pkg/cloudprovider/provide

[2019-11-06 20:01] gnufied opened #84878 "CSI Pod volume directories are not cleaned up if MountDevice fails"
Instantiating the `Mounter` interface causes the creation of pod local volume directory and json data file and not `Setup` - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L422

This causes a problem where is `MountDevice` failed (and as a result `Teardown` never gets called) then those pod local volume directories will *never* be cleaned up.

/sig storage

cc @k

[2019-11-06 20:02] michael-pratt commented on #84876
/sig apps

[2019-11-06 20:17] krmayankk commented on #69676
Context: sig-architecture subgroup work to search for technical debt
Category: Debugging
Reason: Improve debuggability for customers, people have created a custom operator to fix this outside k/k

[2019-11-06 20:19] prameshj commented on #56903
Cache TTL for NXDOMAIN responses is 5s in nodelocaldns in the (default yaml)[]. For success records, it is 30s or the record TTL, whichever is smaller. If you are using CoreDNS upstream, i think the kubernetes plugin creates service records with 5s TTL. Not sure why dig would show 300s. Can you do "dig @<coredns pod ip>"  and see the TTL?

You can use the prefetch plugin in CoreDNS in order to hel

[2019-11-06 20:20] #84800 closed

[2019-11-06 20:54] dims commented on #70732
cc @tedyu

[2019-11-06 20:57] andrewsykim commented on #80250
/remove-lifecycle stale

[2019-11-06 21:00] jaygorrell commented on #56903
Ah, I think we had some test settings still there in NodeLocalDNS that threw off the numbers. Reverting that back to the official settings does show 5s is the ttl on these records. That does help a bit with regards to timing.

A bit more context that I never gave to start with:

We were mostly in the 20-100ms range before adding NodeLocalDNS, but had a steady increase in `insert_failed` count as w

[2019-11-06 21:03] neolit123 commented on #84690
@droslean
this should be resolved yet still flaky due to sig-apps/StatefulSets and some other conditions.

[2019-11-06 21:03] neolit123 commented on #84676
@droslean
the PRs merged and the jobs are no called "-kinder".
also running green:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master

[2019-11-06 21:03] jeanluclariviere commented on #70732
I just want to mention that I was able to resolve this in the end and am not encountering the no auth problem anymore as I previously stated. Sorry I forgot to come back in September and clarify - I don't remember what I was working on at the time unfortunately, I was just doing some basic testing at the time, so I would urge folks who are encountering this issue to post their configurations as I

[2019-11-06 21:04] alculquicondor opened #84879 "Should scheduler be using types from "k8s.io/api"?"
Even in internal data structures and algorithms, scheduler code uses types from "k8s.io/api", instead of their counterparts in "k8s.io/kubernetes/pkg/apis".

For example, https://github.com/kubernetes/kubernetes/blob/c33f217/pkg/scheduler/core/generic_scheduler.go#L119

Is this expected or is this legacy code that we should be updating?

[2019-11-06 21:05] alculquicondor commented on #84879
/sig scheduling
/sig api-machinery

[2019-11-06 21:05] alculquicondor commented on #84879
cc @bsalamat @ahg-g @liggitt

[2019-11-06 21:09] droslean commented on #84690
/close

[2019-11-06 21:09] #84690 closed

[2019-11-06 21:09] droslean commented on #84676
/close

[2019-11-06 21:09] #84676 closed

[2019-11-06 21:09] ttousai commented on #78554
@liggitt any plans for this issue for 1.17?

[2019-11-06 21:11] droslean commented on #80534
/reopen

[2019-11-06 21:14] seanmetrix commented on #70732
seems like it is working now - I've got all private repos for both containers and initContainers and it works with imagePullSecrets defined in the spec block.

[2019-11-06 21:50] maxstr commented on #78949
/remove-lifecycle stale

[2019-11-06 22:03] davidz627 commented on #71436
/remove-lifecycle stale

[2019-11-06 22:10] cliveseldon opened #84880 "Property names "items" in OpenAPISchema for CRD not handled correctly"
**What happened**:
 Created a CRD with OpenAPISchema containing an array which itself contains objects which have a property names "items". This already exists in [DownwardAPI volume source](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.16/#downwardapivolumesource-v1-core).

Creating a resource with this CRD fails with:
`The Foo "test" is invalid: type: Required value`

**What y

[2019-11-06 22:11] cliveseldon commented on #84880
/sig api-machinery

[2019-11-06 22:14] ischang commented on #62099
Should throw an error in the pod description logs if readOnly:false isn't possible and doesn't actually set the `readOnly` flag. The deployment YAML description is the same as it is on 1.8 as well -- if I specify readOnly:false, the mounts won't say readOnly:false in 1.8. I assumed when we upgraded our cluster and the mounts didn't say readOnly:false, the behavior was the same, only to be met that

[2019-11-06 22:39] cuzzo333 commented on #69362
Alas after several months of not seeing this issue and thinking it was finally resolved, we've had two clusters just experience the problem.  Both clusters are on GKE version v1.12.10-gke.15

[2019-11-06 23:01] davidz627 commented on #67972
/remove-lifecycle stale

[2019-11-06 23:32] droslean commented on #84691
/close

[2019-11-06 23:32] #84691 closed

[2019-11-06 23:33] #84479 closed

[2019-11-06 23:36] filipre commented on #65797
I believe there is still the "Kubernetes Enhancement Proposals" missing, see [here](https://github.com/kubernetes/kubernetes/pull/79334#issuecomment-546733742)

[2019-11-07 00:06] gnufied commented on #82507
cc @huffmanca

[2019-11-07 00:16] YuikoTakada commented on #84380
@oomichi I checked pods.go but there is no func which is called from less than 2 test packages.

[2019-11-07 00:17] fvoznika opened #84884 "RuntimeClass should validate that node selector and tolerations are not modified"
RuntimeClass admission plugin [mutates the pod spec](https://github.com/kubernetes/kubernetes/blob/28887de8cd1b51ba2416a2e60b0b023728c5a54e/plugin/pkg/admission/runtimeclass/admission.go#L190) to schedule the pod to the correct node. However, it's possible that another mutating plugin/webhook _mistakenly_ messed with the pod configuration and may prevent the pod from being scheduled in the right n

[2019-11-07 00:19] fvoznika commented on #84884
/sig node

[2019-11-07 00:22] prameshj opened #84885 "Remove legacy subnet handling code in GCE internal load balancer."
PR #82257 adds support to specify a custom subnetwork for the ILB IP address. There is code to handle a corner case where ILB was created with the incorrect subnet. See: https://github.com/kubernetes/kubernetes/pull/57861

Once the custom subnet feature goes beta, this legacy code can be removed and any ILBs using a different subnet should use the annotation:
"networking.gke.io/internal-load-balan

[2019-11-07 00:22] prameshj commented on #84885
/sig network

[2019-11-07 00:27] oomichi commented on #84380
@YuikoTakada Thanks for your investigation, I've updated the above list based on your input.

[2019-11-07 00:30] draveness opened #84887 "pull-kubernetes-typecheck is failing on the master"
**Which jobs are failing**:

pull-kubernetes-typecheck

**Which test(s) are failing**:

typecheck

**Since when has it been failing**:

2019-11-06 13:40 PST

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-typecheck

https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-typecheck

**Reason for failure**:

**Anything else we

[2019-11-07 00:31] draveness commented on #84887
/priority critical-urgent

[2019-11-07 00:33] draveness commented on #84887
/sig testing

[2019-11-07 00:33] Huang-Wei commented on #84887
Almost all PRs are blocked.

[2019-11-07 00:35] cblecker commented on #84887
Known issue: https://groups.google.com/d/msg/kubernetes-dev/Yyka3G2ebXE/yQYROxLhEAAJ

Pending: https://github.com/kubernetes/kubernetes/pull/82809

/close

[2019-11-07 00:35] #84887 closed

[2019-11-07 00:47] davidz627 commented on #13753
New plugins no longer being added/written. Please add new storage backends to Kubernetes through CSI: https://kubernetes-csi.github.io/docs/developing.html
/close

[2019-11-07 00:47] #13753 closed

[2019-11-07 00:50] davidz627 commented on #69819
From the original post:
- [x] Provide a set of generic test suites as a library that can be imported into vendor's driver repos. The test suites should have enough callouts for environment-specific setup/teardown.
- [ ] We could have some sort of common test dashboard in kubernetes-csi where vendors could report their test results.
- [x] As a bonus, this generic test suite should also run the same

[2019-11-07 01:06] prameshj commented on #84885
/remove-triage unresolved

[2019-11-07 01:24] xiaoanyunfei commented on #84808
Can you provide a complete log
`Nov 05 09:39:36 r210-68-38 kubelet[21230]: W1105 09:39:36.195087 21230 cni.go:202]`

[2019-11-07 01:32] Evaw opened #84889 "scheduler crashes and cant recover"
**What happened**:
I created a cluster using an internal tool that uses kops underneath.
the scheduler failed to come up and did not recover
**What you expected to happen**:
scheduler should come up
**How to reproduce it (as minimally and precisely as possible)**:
I dont know how, Ive used the same process to create many kubernetes deployments and never got this
**Anything else we need to know?**:

[2019-11-07 01:32] hex108 commented on #65797
Sorry all, I'll write a KEP for it.

[2019-11-07 01:45] zouyee commented on #84884
This situation may be avoided by adjusting the admission plugin order.
/cc @liggitt

[2019-11-07 01:50] songbeng commented on #84808
Here is the log from a restart of kubelet

Nov 06 17:37:48 r210-68-38 systemd[1]: Started kubelet: The Kubernetes Node Agent.
-- Subject: Unit kubelet.service has finished start-up
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit kubelet.service has finished starting up.
--
-- The start-up result is done.
Nov 06 17:37:48 r210-68-38 kubelet[6

[2019-11-07 01:57] draveness opened #84890 "[migration phase 1] InterPodAffinity as Score plugin"
**What would you like to be added**:

Add a Score plugin that calls into InterPodAffinity priority, example #83601

**Why is this needed**:

Part of #83554

/sig scheduling
/assign
/priority important-soon
/cc @ahg-g

[2019-11-07 01:57] liggitt commented on #84880
cc @sttts

[2019-11-07 01:58] xiaoanyunfei commented on #84808
`cni.go:202] Error validating CNI config &{bcf 0.3.0 false [0xc0003f7be0] [123 34 99 110 105 86 101 114 115 105 111 110 34 58 34 48 46 51 46 48 34 44 34 110 97 109 101 34 58 34 98 99 102 34 44 34 112 108 117 103 105 11`

this is all?

[2019-11-07 01:58] ks864148379 opened #84891 "Restart kubelet lead to node NotReady for a while"
**What happened**:
Restart kubelet lead to node NotReady for a while

**What you expected to happen**:
Restart kubelet and node will not become notready state

**How to reproduce it (as minimally and precisely as possible)**:
systemctl restart kubelet
and node will become not ready for a while

[2019-11-07 01:59] ks864148379 commented on #84891
PR to solve this bug: https://github.com/kubernetes/kubernetes/pull/84851

[2019-11-07 02:00] ks864148379 commented on #84891
@kubernetes/sig-node

[2019-11-07 02:01] ks864148379 commented on #84891
/sig node

[2019-11-07 02:05] thatreguy commented on #7294
We have another use case in which we need to quickly and frequently spwan new pods and as such enabling swap would help us a lot here instead of spinning up new nodes when the memory is low

[2019-11-07 02:07] songbeng commented on #84808
Yes only this two strings:

Nov 06 17:37:53 r210-68-38 kubelet[6016]: W1106 17:37:53.776502    6016 cni.go:202] Error validating CNI config &{bcf 0.3.0 false [0xc0003f7be0] [123 34 99 110 105 86 101 114 115 105 111 110 34 58 34 48 46 51 46 48 34 44 34 110 97 109 101 34 58 34 98 99 102 34 44 34 112 108 117 103 105 11
Nov 06 17:37:53 r210-68-38 kubelet[6016]: W1106 17:37:53.776592    6016 cni.go:237

[2019-11-07 02:10] Davidrjx commented on #83063
@aojea did you resolve coredns problem above? i am also facing NotReadyAddress case for coredns.

[2019-11-07 02:12] zouyee commented on #84889
[code]

[2019-11-07 02:30] msau42 commented on #69819
I'm not sure if we really need a common dashboard.  We at least have in-tree + hostpath csi driver results on the same dashboard: https://k8s-testgrid.appspot.com/sig-storage-kubernetes

I'm going to consider this done :-)
/close

[2019-11-07 02:30] #69819 closed

[2019-11-07 02:47] #73527 closed

[2019-11-07 02:49] #21330 closed

[2019-11-07 03:10] lzfxxx commented on #81062
@zouyee how to use runtimeclass for nvidia-docker2/nvidia-container-runtime

I've tried several config, but not working.
[code]

And this is my runtime config for docker
[code]

[2019-11-07 03:21] ks864148379 commented on #84891
/assign

[2019-11-07 03:27] mozhuli opened #84898 "Kubelet support ips and mac CNI capabilities"
**What would you like to be added**:
Now kubelet only support following cni capabilities:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/network/cni/cni.go#L50

[code]
The CNI specification has also give `ips` and `mac` capabilities of extension conventions
https://github.com/containernetworking/cni/blob/master/CONVENTIONS.md#well-known-capabilities

So Kubelet can sup

[2019-11-07 03:34] mozhuli commented on #84898
cc @feiskyer @dcbw @squeed

[2019-11-07 03:36] fvoznika commented on #84884
Yes, it could be made the last plugin, but then another plugin may need to be the last and so on. Validation is guaranteed to run after all mutations, so there is no confusion or misconfiguration possible.

[2019-11-07 03:45] Davidrjx commented on #84794
@kubernetes/sig-network-bugs

[2019-11-07 03:52] MikeSpreitzer commented on #76846
We have begun merging and polishing work from the feature branch in pieces.

Already merged:
- #83665 shuffle sharding
- #83671 API objects
- #84706 full validation of non-resource URL prefixes

In progress:
- #84544 fair queuing
- #84708 storage for the API objects
- #84771 refactor priority level config API
- #84900 enable discrimination on target namespace

Still to come:
- the actual filter

[2019-11-07 03:57] MikeSpreitzer commented on #76846
/cc @lavalamp
/cc @deads2k
/cc @yliaog

[2019-11-07 04:35] liggitt commented on #78554
no

[2019-11-07 04:41] yue9944882 commented on #84879
this is intended. the internal types under "k8s.io/kubernetes/pkg/apis" are meant for connecting/converting between those multi-version external types under "k8s.io/api" i.e. round-tripping. the internal should only be working inside the apiserver and the client components like sheduler/controller-manager shouldn't rely on it. the past-us used to allow internal usages everywhere in the codebase, b

[2019-11-07 04:49] liggitt commented on #84879
correct. the scheduler should act like a client of the API server (because it is), and should use the external APIs

[2019-11-07 04:49] #84879 closed

[2019-11-07 05:07] liggitt commented on #84889
Something else is already listening on the port the scheduler binds to (potentially another instance of the scheduler). You need to identify and terminate the other process already bound to the port before the scheduler can start.

/close

[2019-11-07 05:07] #84889 closed

[2019-11-07 05:09] onlinebizsoft commented on #55046
/remove-lifecycle rotten

[2019-11-07 05:43] OoEddieoO commented on #84438
more information!!
the UDP service of the POD is exported by nginx ingress in 4 layer. And the nginx ingress controller is deploied as daemonset.
And it is found that it works well if the service is exported by NodePort.
So it seems to be the problem of nginx ingress controller

[2019-11-07 06:24] frittentheke commented on #59031
/remove-lifecycle stale

[2019-11-07 06:25] sftim opened #84903 "Calculate Retry-After: hint for control plane 429 responses"
Related to #76846

**What would you like to be added**:
When the control plane responds with a 429 status, and the client was authenticated, add a `Retry-After:` header to the response with a relevant hint about when to retry.

**Why is this needed**:
HTTP [responses with 429 status code](https://tools.ietf.org/html/rfc6585#section-4) MAY include a Retry-After header indicating how long to wait be

[2019-11-07 06:25] sftim commented on #84903
/sig api-machinery

[2019-11-07 06:37] cliveseldon commented on #84880
Suggestions there is a fix: https://github.com/go-openapi/validate/issues/108#issuecomment-550536141
https://github.com/go-openapi/validate/pull/119

[2019-11-07 06:47] nitishb commented on #72158
Can I take this up?

[2019-11-07 06:48] nitishb commented on #72158
/assign @nitishb

[2019-11-07 06:52] ah584d commented on #70732
Yes guys , it works well now, i forgot to configure "Collaborators" in dockerhub, so the initContainer was not able to pull the image.
thanks

[2019-11-07 06:58] andyzhangx commented on #63121
/reopen

[2019-11-07 07:06] nitishb commented on #72158
I am assigning this to myself. If there is a conflict, please update.
/assign @nitishb

[2019-11-07 07:12] liggitt commented on #84876
/remove-sig apps
/sig node

[2019-11-07 07:15] liggitt commented on #84819
that is correct, rbac grants permissions at the API group level, so `policy` is the correct value

/close

[2019-11-07 07:15] #84819 closed

[2019-11-07 07:18] wojtek-t commented on #8190
As mentioned in https://github.com/kubernetes/kubernetes/issues/73527, we should use proper LabelSelector types for selector (instead of `map[string]string` as e.g. in Service or even `string` as in ListOptions) - they cost to much when being processed later many times.

[2019-11-07 07:20] liggitt commented on #84817
I'm not able to reproduce:

[code]

What shell are you using, and did you quote the command exactly as shown in the description?

[2019-11-07 07:22] liggitt commented on #84817
when I use double-quotes around the patch, I see the behavior you describe:

[code]

[2019-11-07 07:44] odinsy commented on #44954
There is one way with [yq](https://github.com/mikefarah/yq/) itlity
[code]

[2019-11-07 07:54] njuicsgz opened #84906 "performance enhance for kube-proxy/ipvs syncProxyRules"
**What would you like to be added**:
performance enhance for kube-proxy/ipvs syncProxyRules

**Why is this needed**:
For kube-proxy/ipvs, syncProxyRules will take about 10s+ when the number of k8s Service with external ip > 1500+. It has those problem:
- The ipvs rules of endpoints change may delay 10s after a pod is terminated, within the period, all requests route to this endpoint will fail.
- T

[2019-11-07 08:19] AndrienkoAleksandr commented on #71350
/remove-lifecycle stale

[2019-11-07 08:21] dudicoco commented on #25238
@dsiebel the problem is that the number of pods doesn't go back down after the rolling update.
Also, when changing maxSurge to 0 I still get the same behaviour - so the HPA is responsible for this scale up.

[2019-11-07 08:26] SataQiu commented on #84869
/cc

[2019-11-07 08:26] aojea commented on #83063
@Davidrjx I couldn't reproduce the issue, my services are working :sweat_smile:

[2019-11-07 08:32] SataQiu commented on #84869
/assign
I'm interested in this issue, have a try :)

[2019-11-07 08:32] VariableDeclared commented on #58927
This issue is still present in VSphere 6.5, the issue seems that in come cases product_uuid seems the source of truth and in other cases product_serial.

There is one pattern that I could spot looking through this thread though, and that is that the pairs are reversed.

The first group of eight are reversed and then after that the next three pairs of four are reversed. After that the last sixteen

[2019-11-07 08:34] wojtek-t commented on #84863
This is a new test that seem to be flaky at head:
https://testgrid.k8s.io/google-gce#gce-cos-master-default

@robscott - seems that you added this in https://github.com/kubernetes/kubernetes/pull/83748
Can you please take a look?

[2019-11-07 08:34] wojtek-t commented on #84863
/assign @robscott

[2019-11-07 08:54] #73140 closed

[2019-11-07 09:03] attlee-wang opened #84908 "json unmarshal coded error at function applyJSPatch()"
**What happened**:
It returns an error when I create a  pod of yaml file over 1M. I checked the codes and found that the coded wrong. It should be “json.Unmarshal(p.patchBytes, &v)”,  not “json.Unmarshal(p.patchBytes, v)”  in the staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go 344 and 368 line.

**What you expected to happen**:
 It can be parsed correctly.

**How to reproduce it (as m

[2019-11-07 09:21] moolen commented on #80633
I'm using btrfs on my host system, too and ran into a similar issue (using kind):

[code]

I managed to work around this by disabling the `LocalStorageCapacityIsolation` feature.

[This fails](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go#L585) and as you can see it's guarded by the feature gate.
[Here](https://github.com/google/cadvisor/blob/10bce1

[2019-11-07 09:23] honkiko commented on #84908
/kind bug

[2019-11-07 09:24] honkiko commented on #84908
/sig api-machinery

[2019-11-07 09:38] qoobic commented on #84142
Just for information, I am seeing similar behaviour using a custom metric, not CPU - I am using `sum(rate(http_server_requests_seconds_count[5m]))`. In our dev environment the config is `min` of 1, `max` of 3. Even when there are no requests coming in, hpa is scaling to 3 or 4 pods then cooling back down to 3 pods after 5 minutes.

[2019-11-07 09:40] danielqsj opened #84909 "make update failed"
**What happened**:

for master branch, make update failed:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): master branch
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install t

[2019-11-07 09:53] nocanstillbb commented on #83024
[root@m1 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:18:23Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b

[2019-11-07 10:11] oxddr opened #84910 "[Failing Test] gce-master-scale-performance - load&density - unresponsive apiserver"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
load and density

**Since when has it been failing**:
11/6

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:
From a brief look at build-log apiserver or master VM was down.

**Anything else we need to know**:
n/a

/sig scalab

[2019-11-07 10:11] oxddr commented on #84910
/assign

[2019-11-07 10:14] bvis commented on #69676
@krmayankk Interesting, do you know where could I find this operator?

[2019-11-07 10:17] oxddr commented on #84910
No logs were exported https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1192125087944282114/artifacts/ :(

[2019-11-07 10:19] oxddr commented on #84910
And no Prometheus snapshot were created :(

[2019-11-07 10:23] SataQiu commented on #83574
/cc
Do we have any specific plans? @ahg-g
I volunteer to help.

[2019-11-07 10:34] oxddr commented on #84910
/milestone 1.17

[2019-11-07 10:40] oxddr commented on #84910
@mm4tt could you please mark this issue with a milestone 1.17?

[2019-11-07 10:48] muffin87 opened #84912 "Kubelet label migration for NodeRestriction Admission Controller"
Hello everyone,

I'm currently updating my Kubernetes clusters to version 1.15.x and I saw that Kubelet is reporting an error message I can no longer ignore.

**What happened**:
Kubelet is showing the following error message about the usage of restricted labels:

[code]

I'm setting the labels with:

[code]

I'm using these labels as / to:
* Make a difference between a master node and a worker
* T

[2019-11-07 10:53] muffin87 commented on #84912
/sig node

[2019-11-07 10:53] mm4tt commented on #84910
/milestone 1.17

[2019-11-07 10:54] mm4tt commented on #84910
/milestone v1.17

[2019-11-07 11:27] der-eismann commented on #84912
I really don't understand this... in 1.15 it was just a warning, but in 1.16 I can't even start kubelet with the   `kubernetes.io/role=master` label. Changing it to `node.kubernetes.io/role=master` would be no big deal, but why can't kubectl show this label in the `kubectl get nodes` overview?

[2019-11-07 11:28] gongguan commented on #84908
It's fix for [CVE-2019-11253](https://github.com/kubernetes/kubernetes/issues/83253)

[2019-11-07 11:30] gongguan commented on #84908
limit of 1M is a fix for [CVE-2019-11253](https://github.com/kubernetes/kubernetes/issues/83253)

[2019-11-07 11:32] gabrielhao commented on #84818
the reason is: another service is constantly occupying the API, after delete the service, API back to normal.

[2019-11-07 11:32] #84818 closed

[2019-11-07 11:44] cji commented on #81113
/remove-lifecycle stale

[2019-11-07 11:44] cji commented on #81116
/remove-lifecycle stale

[2019-11-07 12:05] itsecforu commented on #74850
@djbooya the same issue, did u solve it?

[2019-11-07 12:16] powo commented on #69676
https://github.com/xing/kubernetes-oom-event-generator

may be helpful

[2019-11-07 12:35] #84570 closed

[2019-11-07 12:48] berk-can commented on #81020
/remove-lifecycle stale

[2019-11-07 12:48] berk-can commented on #81020
No one experiencing same issue ?

[2019-11-07 13:02] hamelg commented on #58927
us too, we encounter this issue.
It seems it is a related to the smbios version.

With SMBIOS 2.4, we get the same ids.
With SMBIOS 2.7, the ids are different.

Your can see your smbios version :
dmidecode |grep SMBIOS

we are running RHEL 7.6 on esxi 6.5.0.

Here are some notes related to this issue :
https://kb.vmware.com/s/article/53609
https://access.redhat.com/solutions/82203

[2019-11-07 13:04] yacinelazaar commented on #72102
Tried with Kubernetes 1.15.3 and with 1.16.2 but its not working with neither.
This is not fixed even for IP addresses:
`W1107 12:48:06.316691       1 clientconn.go:1120] grpc: addrConn.createTransport failed to connect to {https://172.17.8.202:2379 0  <nil>}. Err :connection error: desc = "transport: authentication handshake failed: x509: certificate is valid for 10.0.2.15, 127.0.0.1, ::1, 172.17

[2019-11-07 13:11] adampl commented on #40358
/remove-lifecycle rotten

[2019-11-07 13:23] oxddr commented on #84910
My hypothesis: there was problem with Prow, causing to start a second pod, which has deleted cluster under the test.

Test has been run by pod: `22283aac-00b7-11ea-af2d-5ea7e3f64282`, running on instance with IP: `35.188.43.151` in dedicated scalability build cluster.

Timeline (based on GCE audit logs)
1. 17:06:54 compute.instance.insert call from 35.188.43.151 (pod above)
1. 19:13:18 compute.ins

[2019-11-07 13:29] dmccaffery commented on #69362
Holy old version Batman! Upgrade your dev cluster stacks, @cuzzo333. ;)

[2019-11-07 13:31] r0bj commented on #72102
I have similar observation as @yacinelazaar :
etcd 3.3.15
kubernetes 1.16.2

kube-apiserver log:
[code]

[2019-11-07 13:37] oxddr commented on #84910
I am trying to find traces of the rough container, that deleted master VM.

[2019-11-07 13:57] zouyee opened #84922 "introduce FeatureGates to KubeSchedulerConfiguration"
**What would you like to be added**:
introduce FeatureGates to KubeSchedulerConfiguration
/assign
**Why is this needed**:
This threads the --feature-gates flag through the KubeSchedulerConfiguration object

[2019-11-07 13:57] zouyee commented on #84922
/sig scheduling

[2019-11-07 13:59] zouyee commented on #84922
/cc @ahg-g

[2019-11-07 14:09] pperiyasamy commented on #84869
#84601

[2019-11-07 14:11] neolit123 commented on #81116
the kubeadm parts are resolved https://github.com/kubernetes/kubeadm/issues/1716

[2019-11-07 14:11] zhangguangguang opened #84925 "Get https://[::1]:6443/api/v1/namespaces/x/resourcequotas: dial tcp [::1]:6443: connect: network is unreachable"
Kubernetes version: v1.16.2
When I create Deployment,pod creation failed,

Events:
  Type     Reason                 Age                     From                   Message
  ----     ------                 ----                    ----                   -------
  Warning  ReplicaSetCreateError  4m29s (x16 over 7m12s)  deployment-controller  Failed to create new replica set "jenkins-dev-76c4d4bc": G

[2019-11-07 14:34] gnieto opened #84926 "Incorrect security group cleanup after service deletion"
**What happened**:

We were running a service with LoadBalancer type with AWS cloud provider and after deleting this service, the cleanup process on AWS removed a wrong ingress input rule which provoked that all traffic between nodes was unable to reach out the destination.

The service we were running had a configuration similar to:

[code]

After applying this manfiest on the cluster, the cloud

[2019-11-07 14:35] oxddr commented on #84910
The rogue pod was created from the same IP as the main one.

[2019-11-07 14:38] liggitt commented on #84909
I cannot reproduce this issue.

[code]

Make sure your local branch is up to date and you are using go1.13.4+

[2019-11-07 14:40] gnieto commented on #84926
/sig cloud-provider

[2019-11-07 14:42] dr460neye opened #84928 "kubectl -o name: wrong description, no automization"
kubectl has nice opportunities with the -o option.

the -o name option is misleading here.

-o name suggest that you would the container name and can use it for git-ops and automization, but kubectl does not support this -o name output as an input in any way.

I would suggest to use -o name for the pod name itself, and use another parameter to provide the information about the pods type.

[code]

[2019-11-07 14:51] oxddr commented on #84910
[code]

[2019-11-07 14:58] bg-chun commented on #84869
/cc

[2019-11-07 15:00] alculquicondor commented on #84879
Thanks for the clarification.

[2019-11-07 15:22] cwdsuzhou commented on #74317
/reopen

[2019-11-07 15:34] dguendisch commented on #84764
My usecases for removing closely match @shuiqing05 ones:
- security: imagine I have a minimal regular container (e.g. with `shareProcessNamespace: true`); after deploying an allmighty ephemeral debug container I want to remove it after debugging was done so that my minimal container stays minimal again
- restarts: without removing it's pretty inconvenient to deploy an ephemeral debug container aga

[2019-11-07 15:42] danielqsj commented on #84909
right, after I totally clean up _output, it works again. thanks @liggitt
/close

[2019-11-07 15:42] #84909 closed

[2019-11-07 15:53] #77733 closed

[2019-11-07 15:59] djbooya commented on #74850
I eventually did, but at this time I don't recall the exact fix.  I think it this:  KUBECONF=/etc/systemd/system/kubelet.service.d/10-kubeadm.conf
sed -i 's/cgroupfs/systemd/g' $KUBECONF
sed -i 's|/etc/kubernetes/manifests|/etc/kubernetes/manifests --runtime-cgroups=/systemd/system.slice --kubelet-cgroups=/systemd/system.slice|' $KUBECONF
systemctl daemon-reload ; systemctl enable kubelet ; system

[2019-11-07 16:06] nautilor commented on #81289
I think it was working until 1.6

does [this](https://github.com/kubernetes/kubernetes/issues/40422) help?

[2019-11-07 16:14] krzysied opened #84931 "Pods remaining in NotReady state"
**What happened**:
Pods remaining in running but not ready state after node become unready for few seconds.

**What you expected to happen**:
Pods should become ready when node is ready.

**How to reproduce it (as minimally and precisely as possible)**:
Created large deployment. Make node unready for few seconds. Pods will remain not ready.
However is requires node lifecycle controler to be in evi

[2019-11-07 16:17] krzysied commented on #84931
My guess of what happened is:
1. Few nodes become not ready.
2. Node lifecycle controller store node statuses
3. Nodes become ready again
4. Eviction pass (based on stored status) marked pods not ready even though nodes were ready at that time

[2019-11-07 16:20] krzysied commented on #84931
/cc @wojtek-t @mborsz

[2019-11-07 16:28] krzysied commented on #84931
kube-controller-manager log:
[code]

[2019-11-07 16:35] andrewsykim commented on #84782
Support for `extensions/v1beta1` was removed in v1.16 as mentioned already

/close

[2019-11-07 16:36] #84782 closed

[2019-11-07 16:42] AnitaNayak commented on #84369
As the code is merged, should we close this issue?

[2019-11-07 16:51] apelisse commented on #25238
Do you see the value of "replicas" in the deployment change? Do you have access to the apiserver logs showing the scale requests from the hpa? Do you have events from the HPA?

[2019-11-07 16:52] cbharathnoor commented on #74071
@dminca got it, thanks for the info.

[2019-11-07 16:52] #74071 closed

[2019-11-07 16:59] andrewsykim commented on #84505
@goodjerrycao `externalTrafficPolicy: Local` is only intended to work for traffic originating externally. Some of the ongoing work for Service Topolgoy should make this possible internally, see https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20181024-service-topology.md.

[2019-11-07 17:00] jbrownD3 commented on #50375
*spitting into the ocean* +1

[2019-11-07 17:03] #82429 closed

[2019-11-07 17:03] Sh4d1 commented on #79783
@andrewsykim any news on this issue?

[2019-11-07 17:04] krzysied commented on #84931
There is a possibility that node lifecycle controller didn't spot node updates.
I'm bumping up log level for this case: https://github.com/kubernetes/kubernetes/pull/84933

[2019-11-07 17:04] #84455 closed

[2019-11-07 17:05] #82448 closed

[2019-11-07 17:08] andrewsykim commented on #79783
@Sh4d1 sorry, this fell off my radar -- I'll try to follow-up on this soon. Thanks

[2019-11-07 17:32] mark007 opened #84935 "Support for TLS Secrets Containing Windows Line Endings"
**What would you like to be added**: I would like to see some mechanism built in to Kubernetes to be able to support the use of TLS Certificates / Secrets that have been created on a windows machine and therefore contain windows line ending characters.

**Why is this needed**: I have found when developing many kubernetes based applications over the past few years, that make use of an ingress and t