[2015-07-24 13:31] zv86 opened #11809 "Health tests inside a container"
This is a feature request
Is there a chance to develop an ability to test issues related to the apps, services that run inside a container not only by process, but also test the container in a smart way, e.g. check if there are problems related to connectivity to a 3rd party that connected to the container.

[2015-07-24 14:02] eparis commented on #11743
So @jeffbean definitely is fixing a bug, but apparently not your bug. My guess? Do you have openssl installed on the master?
https://github.com/eparis/kubernetes/commit/fd1024baa2c70c248cc5d051c8a400bd6fffabe8

If that doesn't fix it you can remove all of the `> /dev/null 2>&1` portions at the end of all of the `easyrsa` lines. Should give us more debug info (assuming its just not openssl not bein

[2015-07-24 14:02] coleca commented on #11760
Support for alternate services as well such as Route53 would be very desirable.  At least for the natively supported providers, similar to the "magic" that happens with spinning up load balancers.

[2015-07-24 14:09] bgrant0607 commented on #11661
Cc @derekwaynecarr

[2015-07-24 14:35] wingedkiwi commented on #3168
I'm trying to follow the status of this issue. Is the master -> kubelet connection still insecure?

[2015-07-24 14:36] hingstarne commented on #11661
@Smana
i assume
docker run -i -t --privileged -e="OPENSHIFTCONFIG=/config/admin.kubeconfig" -v ${OPENSHIFT_CONFIG}:/config openshift/origin ex bundle-secret openshift-config -f /config &> ${OPENSHIFT_EXAMPLE}/secret.json

should be
docker run -i -t --privileged -e="OPENSHIFTCONFIG=/config/admin.kubeconfig" -v ${OPENSHIFT_CONFIG}:/config openshift/origin secret add openshift-config /config -0 json

[2015-07-24 14:51] deads2k commented on #11763
Are you comfortable limiting SA credentials to tokens or do we want to try to support other mechanisms?  The predictable structure of exactly how an SA authenticates and how it gets auto-mounted into your pod makes it easy to write portable images that expect those features.  There are arguments for allowing things like cert-auth for SAs, but I think we should consider whether they outweigh the be

[2015-07-24 14:54] deads2k commented on #11763
Do you see this as akin to an initializer?  It seems like it would be a good fit there.  There were definitely cases where we wanted this sort of a feature for service accounts in particular.

[2015-07-24 14:57] choclo commented on #11743
Actually, it was openssl not being installed (NOW I feel stupid).
So eparis@fd1024b should be super helpful.

Thanks @eparis!

[2015-07-24 15:03] #10853 closed

[2015-07-24 15:09] Smana commented on #11661
Thanks @hingstarne
Unfortunately i got that :
[code]

[2015-07-24 15:12] hingstarne commented on #11661
sorry i forgot the cli between
openshift/origin cli secrets new openshift-config /config -0 json

but for some reason when i run it without docker ( with the released binaries it works ) but from within the docker container it always complain about nno servers defined at least for me

[2015-07-24 15:13] Smana commented on #11661
@hingstarne
[code]

[2015-07-24 15:26] jefferai commented on #10439
@erictune FYI, I'm not sure that those API docs are up-to-date, but there is exhaustive documentation at https://vaultproject.io/docs/http/index.html (plus info on the various backends). I'm not a Hashi guy but I have done some contributing to Vault and may be able to answer some questions (or point you to the right Hashi people).

I saw this ticket because someone mentioned it in #1957 (Support f

[2015-07-24 15:30] davidwalter0 commented on #11775
Are there instructions for installing gcr.io's certificate for docker?
A work around is to add

     --insecure-registry gcr.io

to the docker daemon's command.

depending on your configuration this might be an option sourced from /etc/default/docker and requires a restart of the docker daemon to activate.

[2015-07-24 15:47] mahesh3267 commented on #11775
Hi David,

Thanks for your update.

Myself had an issue in network level, was causing the issue. now we are able to pull the images. but still having trouble with docker webui access. Getting following error while browsing.
[code]

[2015-07-24 15:47] yujuhong commented on #7815
@vidarh, thanks for letting us know! I think @vmarmol fixed some inotify leakage issues in cadvisor a while back (@vmarmol, correct me if I am wrong). What version of cadvisor did you use?

[2015-07-24 15:53] mbabker opened #11813 "Vagrant Setup - /srv/kubernetes missing from master"
Local setup:
- OS X 10.10.4
- Vagrant 1.7.4
- VirtualBox 4.3.30
- Kubernetes 1.0.1 Release

Following the http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html setup guide to boot a local instance via Vagrant, the provision scripts do not complete.  The script exits shortly after the `vagrant up` command completes and it appears to be due to a missing `/srv/kubernetes` folder on the m

[2015-07-24 15:56] vidarh commented on #7815
We're using the "latest" tag of the Docker container, which has 0.16.0. Here's the output from when it starts:

    I0724 14:19:12.759816 00001 manager.go:163] Version: {KernelVersion:4.0.1 ContainerOsVersion:Buildroot 2014.02 DockerVersion:1.5.0 CadvisorVersion:0.16.0}

[2015-07-24 15:58] vidarh commented on #7815
Also, for the record, boosting max_user_watches *did* work for us (I set it to 32768 - I haven't tried to nail down exactly how many would be needed for our setup beyond "big enough")

[2015-07-24 16:06] bgrant0607 commented on #11661
That should be `-o` (lowercase o)

[2015-07-24 16:08] RichieEscarez commented on #10132
The goal of this PR was to establish the structure and flow of the cluster admin content, which I think has been accomplished. We can perform any fine tuning in subsequent PRs. Closing. Thanks @lavalamp !

[2015-07-24 16:08] #10132 closed

[2015-07-24 16:11] bgrant0607 opened #11814 "Create a kubectl overview page for the user guide"
Something like:
https://docs.openshift.org/latest/cli_reference/basic_cli_operations.html

cc @jlowdermilk @deads2k @caesarxuchao

[2015-07-24 16:13] bgrant0607 commented on #11661
`ex bundle-secret` was the pre-GA experimental command. Try openshift/origin cli help secrets and/or take a look at the CLI reference:
https://docs.openshift.org/latest/cli_reference/basic_cli_operations.html#advanced-commands

[2015-07-24 16:19] thockin commented on #11809
There are several ways (probes) that you can signal liveness to the
system.  How you implement that is up to you.  For example we have
gcr.io/google_containers/exechealthz:1.0 which runs a command and exposes
the results on healthz.  You could use this technique to do your 3rd party
connectivity testing.

On Fri, Jul 24, 2015 at 6:32 AM, zv86 <notifications@github.com> wrote:

[2015-07-24 16:22] #10458 closed

[2015-07-24 16:25] roberthbailey commented on #3168
The master -> kubelet connection is not secure enough to be run across the internet. The master currently only connects to the kubelet for proxying user requests that need to be forwarded to the kubelet (e.g. hitting the /api/v1/proxy/ endpoint or using kubectl exec / kubectl logs). In most cases, this is done over a local secure network. For GKE, we use ssh tunnels to securely put packets onto th

[2015-07-24 16:26] #10828 closed

[2015-07-24 16:33] smarterclayton commented on #3168
The proxying function still has to go somewhere, so I would assume that has
to be secured?  :)  Is there an issue for the move out?

On Fri, Jul 24, 2015 at 12:26 PM, Robert Bailey <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-24 16:35] #10795 closed

[2015-07-24 16:35] thockin opened #11815 "Document the environment for kubectl exec"
What PATH is set, etc.  if the PATH is not useful, we should make it useful, so user don't have to 'sh -c'

@ncdc

[2015-07-24 16:37] RichieEscarez commented on #10126
This issue is to provide a corresponding "example" for updating a cluster (to live along side [Updating Live Pods](http://kubernetes.io/v1.0/docs/user-guide/update-demo/README.html) in the Examples section).

I think this can move into the back log until we have a formal, non-experimental process for updating nodes in the other supported platforms (not only GKE/GCE-OSS nodes).

[2015-07-24 16:40] roberthbailey commented on #3168
There's been quite a bit of discussion internally (not necessarily conclusive one way or another), but I don't know if there's an issue open.... looking.

[2015-07-24 16:40] jeffbean commented on #11743
This is already fixed in our PR over here: #11264

[2015-07-24 16:41] hingstarne commented on #11661
bin/openshift cli secrets new openshift-config examples/openshift-origin/config -o json
[code]

[2015-07-24 16:42] roberthbailey commented on #3168
Looks like there are (at least) two: https://github.com/GoogleCloudPlatform/kubernetes/issues/10209 and https://github.com/GoogleCloudPlatform/kubernetes/issues/3481.

[2015-07-24 16:46] roberthbailey opened #11816 "Secure master -> node communication"
Forked from https://github.com/GoogleCloudPlatform/kubernetes/issues/3168. The only remaining communication from the master to the node is the proxying functionality built into the master.

Moving that functionality out of the master (see #10209 and #3481) is a reasonable alternative to securing the communication.

[2015-07-24 16:46] roberthbailey commented on #3168
I've created https://github.com/GoogleCloudPlatform/kubernetes/issues/11816 to discuss securing the master -> node communication, so I'm going to close this issue in favor of that one.

[2015-07-24 16:46] #3168 closed

[2015-07-24 16:52] #5756 closed

[2015-07-24 16:53] #10462 closed

[2015-07-24 16:54] smarterclayton commented on #11816
@liggitt we secure this today via the mechanism mentioned in 3168 which is the unified CA with server cert per node, and a client cert from the master, right?

[2015-07-24 16:55] roberthbailey commented on #11816
GKE secures this pathway using ssh tunnels from the master.

[2015-07-24 17:03] bparees opened #11817 "conversion generator doesn't tolerate one-way custom conversions"
I recently had reason to create a one way conversion (support multiple formats for external api values, but always convert to a standard internal api value).

it turns out the conversion generator logic does not properly recognize a conversion if only a one way conversion exists, you need to define conversions in both directions or it does not get used properly, forcing you to define a dummy conve

[2015-07-24 17:06] RichieEscarez commented on #11771
fix by #11717

[2015-07-24 17:06] #11771 closed

[2015-07-24 17:07] thockin commented on #11817
Can you provide a bit more detail?  The assumption is that all API versions
can round-trip to all other versions, though semantically equivalent values
might be canonicalized (though you'll have to fix the fuzz test).

On Fri, Jul 24, 2015 at 10:03 AM, Ben Parees <notifications@github.com>
wrote:

[2015-07-24 17:19] liggitt commented on #11816
@smarterclayton yes

[2015-07-24 17:22] KSanthanam opened #11818 "IPv4 Expose"
I get this error from my rethinkdb pods
"Failed to connect to host:28015 in less than 20s."

I researched and found that this error happens when the docker exposes the ports under IPV6 instead of IPV4. Can you please tell me how to ensure IPV4 protocol in Kubernetes. I noticed this after upgrading kubernetes.
My current version is
[code]
my rc
-------
[code]

my service
-------------
[code]

Thank

[2015-07-24 17:24] RichieEscarez commented on #11468
I delivered 11771 yesterday to fix the broken link and also changed some of the colors to match. Fixing the CSS is a larger effort so i stopped at fixing the color to resolve the broken links.

These files get generated from the swagger output and end up as .html files (with the embedded CSS).  We need to either improve that process or provide CSS that overrides to match our site.

To use the oper

[2015-07-24 17:30] lavalamp commented on #8192
Now that this is going to be removed, a note to those who want to use this migration functionality:

Shutdown all apiservers. Make an etcd backup. Use etdctl.

[2015-07-24 17:33] thockin commented on #11818
This is strange - Docker isn't doing anything here - there's no host ports
as far as I can see.

Is this error happening when you talk to the Service or when you talk to
the Pod directly?

On Fri, Jul 24, 2015 at 10:23 AM, KSanthanam <notifications@github.com>
wrote:

[2015-07-24 17:36] karlkfi commented on #11796
I'm not sure I have the latest status on this, but last I checked volumes were not yet supported with the mesos provider. The reason is simply that [persistent volumes](https://issues.apache.org/jira/browse/MESOS-1554) were only recently added to Mesos in v0.24.0, which afaik is not released yet.

That said, you'd need to share the actual task logs (like task stderr and k8s scheduler/executor logs

[2015-07-24 17:38] bparees commented on #11817
The scenario in this case is that we had some constants defined that are part of the api (values for type fields on our objects).

Originally we spec'd that the values should be lowercase.  So that affectively became part of our api (lowercase constant values).

Later we decided to switch to CamelCase.  So our internal api now assumes the values are CamelCase.  To keep the api compatible, I introd

[2015-07-24 17:41] erictune commented on #11711
awesome, thanks everyone.

[2015-07-24 17:41] #11711 closed

[2015-07-24 17:47] mikedanese commented on #11817
@bgrant0607

[2015-07-24 17:50] thockin commented on #11795
I mis-parsed the original message, sorry.

Are these the full specs?  The port should be assumed to be 5555 since not targetPort is specified.

What kubernetes version, what OS, what cloud, and what process did you use to make this happen?

[2015-07-24 17:52] petrjanda opened #11819 "Vagrant setup - couldn't read version from server"
Hi,

I've downloaded fresh 1.0.1 release and tried to get it up on Vagrant. My env:

[code]

Here is the log from `cluster/kube-up.sh`:

[code]

[code]

I was following http://kubernetes.io/v1.0/docs/getting-started-guides/vagrant.html, is there any step I am missing?

[2015-07-24 17:57] thockin commented on #11817
Yeah, in a stable API you should round-trip properly, which means assigning
two enumerators with the same meaning.  In a pre-stable API you might get
away with renaming the enumerator and normalizing the value, but at that
point you own the client.

On Fri, Jul 24, 2015 at 10:47 AM, Mike Danese <notifications@github.com>
wrote:

[2015-07-24 18:05] mikedanese opened #11821 "Flaky: TestDQ_always_pop_earliest_deadline_multi"
I've seen this 3 times this morning.
[code]

@jdef @karlkfi @sttts

[2015-07-24 18:07] #8192 closed

[2015-07-24 18:12] mikedanese commented on #11813
@jayunit100 @derekwaynecarr

[2015-07-24 18:17] mikedanese commented on #11819
@jayunit100 @derekwaynecarr

[2015-07-24 18:20] jayunit100 commented on #11813
If this effects mounting of certs then Could be related to the failing nettest as well.

[2015-07-24 18:23] #11227 closed

[2015-07-24 18:26] bgrant0607 commented on #11470
cc @smarterclayton @eparis @ncdc

[2015-07-24 18:31] thockin commented on #9473
$container is what I meant - providing contextual anchors for field paths
seems like the nicest API we could provide, though sort of bespoke.  The
default anchor would be implied by a leading dot or an explicit $ or $pod.
 $container would be the current container., etc...

On Fri, Jul 24, 2015 at 12:14 AM, Brian Grant <notifications@github.com>
wrote:

[2015-07-24 18:32] #11676 closed

[2015-07-24 18:57] karlkfi commented on #11821
yeah, that test is pretty terrible...

[2015-07-24 18:58] CJKay opened #11824 "Segfault immediately after boot on CoreOS minions on GCE"
Kubernetes configuration:

[code]

Hangs on:

[code]

Due to a segfault in systemd on the minion (cause unknown?):

[code]

[2015-07-24 18:59] vishh commented on #11824
cc @kelseyhightower

[2015-07-24 19:12] markturansky opened #11826 "Validate PV AccessModes"
A PV can be created with any string as an AccessMode.  It can match a PVC asking for the same string, regardless of that string being a real AccessMode constant.

See  https://github.com/openshift/origin/issues/3891  (2nd point)

The API server should validate that only real AccessModes are being assigned in PV and requested in PVC.

[2015-07-24 19:23] mbabker commented on #11819
My guess is you're hitting the same issue I reported at https://github.com/GoogleCloudPlatform/kubernetes/issues/11813.  This was the same type of symptom that caused me to start digging and end up with the report I filed.

[2015-07-24 19:48] RichieEscarez commented on #11799
the source file in master was just merged but #11723 wiped out the temporary copy (script was run before the merge). the next time the script runs, this wont happen.

[2015-07-24 20:01] derekwaynecarr commented on #11661
@stevekuznetsov can assist here.

He has a PR that was still pending here
https://github.com/GoogleCloudPlatform/kubernetes/pull/9938

If you work from that example I think the CLI has no issue, but web console was broke with removal of v1beta3 in Kube.

I believe we are in the works of fixing that but since I have been traveling I don't know latest state.

[2015-07-24 20:03] ReSearchITEng commented on #4825
Hi thockin, bgrant0607,
As more legacy apps are migrating, this becomes one of the hot topics, as it's blocking many apps to migrate to docker containers in Kube.
I would say that this sounds like a "quick win", as it sounds as a low complexity coding to expose the container hostname, while unlocking many legacy apps to migrate to containers.
It seems posts keep on coming on the web, and more and

[2015-07-24 20:17] karlkfi commented on #11821
It's not really clear why that test would be taking 56 seconds. The only thing I can think of is that it yields several times and must be getting squeezed out of execution time. But if that's the case, the only way to make the test more reliable (without rewriting the DelayQueue) is to make the test take longer. And if that one test can get squeezed from 3seconds up to almost a minute, I'd have to

[2015-07-24 20:21] JanetKuo commented on #11702
Fixed in #11717

[2015-07-24 20:21] #11702 closed

[2015-07-24 20:25] JanetKuo commented on #11772
[ReplicationController API object](https://htmlpreview.github.io/?https://github.com/GoogleCloudPlatform/kubernetes/v1.0.1/docs/api-reference/definitions.html#_v1_replicationcontroller) in [Replication Controller page](http://kubernetes.io/v1.0/docs/user-guide/replication-controller.html#api-object) and [Service API object](https://htmlpreview.github.io/?https://github.com/GoogleCloudPlatform/kube

[2015-07-24 21:01] #11799 closed

[2015-07-24 21:04] ckleban commented on #8176
On a fresh new build of k8 following this guide, I get these same errors. Seem like the kube-up script isn't handling this well. (i didn't follow the dns-add on package at all). Seems like networking is broken.

I ran this command:
/opt/bin/etcdctl mk /coreos.com/network/config '{"Network":"172.17.0.0/16"}'

which fixed the flannel error logs, but networking things still aren't working. (like conn

[2015-07-24 21:35] ixdy commented on #11658
Scale tests were removed.

[2015-07-24 21:35] #11658 closed

[2015-07-24 21:39] thockin commented on #11799
Richie, I do not see that file in master

On Fri, Jul 24, 2015 at 2:01 PM, Mike Danese <notifications@github.com>
wrote:

[2015-07-24 21:40] ixdy commented on #10868
Haven't seen any cluster initialization failures recently, so closing.

[2015-07-24 21:40] #10868 closed

[2015-07-24 21:47] marcospedreiro commented on #11457
I was able to recreate the same issue. I created a new cluster and disk, wrote some data, then deleted the pod with `kubectl delete pod <podname>`. The initial pod that came back had the container crash about 12 times with the `read only filesystem` message.

After the 12 crashes the pod created a stable container and I was able to use my software, but there was no data visible. I deleted the pod

[2015-07-24 21:56] bprashanth opened #11834 "Restart kubelets in a gke test"
Forked off from disucssion on https://github.com/GoogleCloudPlatform/kubernetes/pull/11339. That restart test needs to ssh into the master to restart all the master components, but we need something similar that restarts just the kubelet on the nodes on gke (since master ssh isn't allowed on gke).

@mbforbes

[2015-07-24 22:06] nikhiljindal commented on #11484
I can take this up

[2015-07-24 22:18] mbforbes commented on #11834
Thank you for opening!

Yes, this would be great to minimize creeping GCE/GKE divergence.

To be clear, we're talking about `test/e2e/daemon_restart.go`.

[2015-07-24 22:23] karlkfi opened #11835 "gcr.io/google_containers/pause:0.8.0 is inaccessible"
Pause image is inaccessible:

[code]

[2015-07-24 22:23] #11181 closed

[2015-07-24 22:47] CJKay commented on #11824
Slightly different chain of events in 752 alpha of CoreOS:

[code]

[2015-07-24 22:50] hingstarne commented on #11661
@Smana
docker run -i -t --privileged -e KUBECONFIG=/kubeconfig -v ${HOME}/.kube/config:/kubeconfig -v ${OPENSHIFT_CONFIG}:/config openshift/origin cli secrets new openshift-config /config -o json &> ${OPENSHIFT_EXAMPLE}/secret.json
This worked for me ...
At least openshift was started and i could access the ui with it

[2015-07-24 23:00] a-robinson commented on #9382
This is still causing some load balancer leakages in e2e tests, as @cjcullen has confirmed this afternoon. One of us should tackle it soon. @lavalamp are you still on it, or should one of us take over?

[2015-07-24 23:03] karlkfi commented on #11835
hyperkube also failing, with the same error:

[code]

[2015-07-24 23:04] lavalamp commented on #10009
I can't think of a good argument for keeping version & group separate levels of the hierarchy.

I was going to say that our conversion functions would only work in a group, but I don't think that's really a difficult problem to solve.

Maybe completeness is an argument? We need a way to capture a set of objects that work with each other, and I thought version was that mechanism. We don't want peop

[2015-07-24 23:12] bprashanth commented on #11835
so you can't ping gcr.io either right? or is that not the case

[2015-07-24 23:12] lavalamp commented on #9382
My plate is pretty full, it's all yours :)

[2015-07-24 23:15] karlkfi commented on #11835
Tracked it down to boot2docker.
Rebooting my machine and restarting the boot2docker VM resolved the issue.

[2015-07-24 23:15] #11835 closed

[2015-07-25 00:00] yifan-gu commented on #11824
interesting...

[2015-07-25 00:05] RichieEscarez commented on #11799
Sorry Tim, got my Issues/windows mixed up. This is the PR with the file that should be in master. Im just working through the check errors then it can be merged.

[2015-07-25 00:07] yifan-gu commented on #11824
FWIW, I can expect there will be some issues when running containers using rkt as there are some patches still pending. But I am not expecting a segfault here...

[2015-07-25 00:12] thockin commented on #11799
I thnik I fixed it.

[2015-07-25 00:15] thockin commented on #11799
Richie,

I have to run now.  I added back .md files but something is weird.

This loads:

http://kubernetes.io/v1.0/docs/api-reference/operations.html

But when I go through the nav bar it doesn't... Help?

On Fri, Jul 24, 2015 at 5:06 PM, RichieEscarez <notifications@github.com>
wrote:

[2015-07-25 00:15] yifan-gu commented on #11824
@CJKay From the log, seems like a systemd bug. Have you had a chance to try some other coreos version images?

[2015-07-25 00:16] #11392 closed

[2015-07-25 00:17] CJKay commented on #11824
@yifan-gu Only ```coreos-stable-717-3-0-v20150710``` and ```coreos-alpha-752-1-0-v20150723``` so far.

[2015-07-25 00:23] RichieEscarez commented on #11799
Oh, hmm. We need to delete those .html files out of that directory and replace them with the .md files here #11717. Ill open another PR to push those .md files into master too.

[2015-07-25 00:40] ncode commented on #1957
+1 for consul

[2015-07-25 00:42] rogerlz commented on #1957
+1 for consul

[2015-07-25 00:54] RichieEscarez commented on #11468
@caesarxuchao

[2015-07-25 01:06] RichieEscarez commented on #11799
The .html files are overloading the Jekyll build (output from the .md files). See #11717 for the PRs i opened to fix this.

[2015-07-25 01:22] dalanlan commented on #9713
I met the same pb here with k8s v1.0.0. I did configure the kubeconfig though, including them all for kubelet, kube-proxy, controller and scheduler.
I wondered how u solved this if it doesn't bother u a lot ;-)
/cc @akamalov

[2015-07-25 01:29] a86c6f7964 commented on #1957
I didn't want to do this because it just adds to the problem. But I am
watching this issue to be able to see if there is progress on this issue
and all of the +1's going to everyone's email who watches this issue, I
don't think is going to help.

On Fri, Jul 24, 2015, 7:42 PM Rogério Gonçalves <notifications@github.com>
wrote:

[2015-07-25 01:30] mikedanese commented on #9713
@dalanlan can you paste the error log?

[2015-07-25 01:31] akamalov commented on #9713
Credentials. I was missing credentials. Once configured it came up.

On Fri, Jul 24, 2015 at 9:23 PM, Emma He <notifications@github.com> wrote:

[2015-07-25 01:36] wienczny commented on #1957
Did you have a look at https://github.com/docker/libkv
It its an abstraction layer for Etcd, Consul, Zookeeper
While it does not support all features of consul (e.g. services) it could be useful.

[2015-07-25 01:38] dalanlan commented on #9713
$ logs for api-server as an example. Let's say these logs are everywhere, for controller, scheduler...
[code]

[2015-07-25 01:45] dalanlan commented on #9713
Hmmm, thx @akamalov.
401 is pretty odd. I use cert authentication here. Without proper credentials, they won't never talk to each other. Hence i assume that part is properly settled. Or did i miss sth?
Any suggestions? @mikedanese
If it bothers u, i wont mind opening another issue  (since it's close) and we can talk there.

[2015-07-25 01:50] mikedanese commented on #9713
It's peculiar that the apiserver is giving these errors. Is it doing a watch on itself or etcd? @lavalamp @bprashanth

[2015-07-25 02:09] KSanthanam commented on #11818
My Node.js trying to connect to rethinkdb via a SERVICE

I get ReqlDriverError: Failed to connect to 10.59.250.61:28015 in less than 20s

Many had this issue as reported on this thread. They fixed it by ensuring IPV4 protocol. I am thinking if it is a similar issue with me.

https://github.com/neumino/rethinkdbdash/issues/34
Thank you.

[2015-07-25 02:10] WIZARD-CXY commented on #8176
@ckleban maybe some etcd issue occured during the deployment. You can run `reconfDocker.sh` in your ~/kube/ after you start flannel successfully.

[2015-07-25 02:11] andronat opened #11852 "Building takes TOO much memory and fails"
If I try to run `hack/update-swagger-spec.sh` in my vm with less than **2GB** of RAM it fails with this error:

[code]

I found that this file `pkg/ui/data/swagger/datafile.go` for some reason need a lot of memory to be builded. (it is a huge file btw with 48528 lines)

Is there anything we can do for that? I find it very difficult to run a VM in my laptop with more that 2GB which actually means t

[2015-07-25 02:13] bprashanth commented on #9713
That's seems normal, you have ~4 of those an hour. when a watch expires the http long poll is terminated and the clietnt relists. @dalanlan this shouldn't cause any problems? The apiserver watches so it can autopopulate resource limits, tokens etc.

[2015-07-25 02:43] a-robinson opened #11853 "Links in docs to releases.k8s.io/... pages are just redirecting to kubernetes.io landing page"
I'm seeing this on Chrome on OS X. All requests to releases.k8s.io are just getting a 302 and redirecting to the kubernetes.io landing page, rather than into the docs, regardless of whether I use HTTP or HTTPS. For example, try any of the 3 links in the [DNS doc](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admin/dns.md).

@RichieEscarez @lavalamp @brendandburns

[2015-07-25 02:52] dalanlan commented on #9713
No harm (yet).
It just bothers me since i'm not sure everything was fine with my authentication configuration.
btw, another cluster built without cert is totally free of this.
/cc @bprashanth

[2015-07-25 03:13] caesarxuchao commented on #11468
I can do (3) in gh-pages/_tool/ using golang, but I feel we should eventually use javascript or other web technologies to solve this problem. I'm not the right person to write the javascript though.

[2015-07-25 03:14] dalanlan commented on #3216
/sub

[2015-07-25 03:26] dalanlan opened #11854 "WatchServices & WatchEndpoints Errors"
###logs for kube-proxy
[code]
###logs for api-server
[code]
The same logs for controller and scheduler.

According to  #3216, it should be a bug. Some insist it might do no harm though.

###ENV
[code]
(all containerized)
platform: ubuntu 14.04
docker:1.7.1

/cc @brendandburns

[2015-07-25 05:30] ihmccreery commented on #10013
Closing based on @ixdy's comment above.

[2015-07-25 05:30] #10013 closed

[2015-07-25 06:17] bprashanth commented on #11852
have you tried exploiting memory locality via something like taskset <int> make?

[2015-07-25 06:19] mwielgus opened #11856 "RethinkDB E2E test is flaky"
Stability: 70%
[code]

[2015-07-25 06:31] chrishiestand commented on #10458
Thanks for your responsiveness and help, everyone.

[2015-07-25 06:34] davidopp opened #11857 "Flaky: TestDQ_always_pop_earliest_deadline"
Example failure at
https://app.shippable.com/builds/55b327486572ba0c00576d31

[code]

@karlkfi

[2015-07-25 08:19] jimmidyson opened #11858 "Prometheus auto discovery"
The current Prometheus config in contrib requires up front configuration via env vars to select which service to scrape metrics for. I've submitted a PR to Prometheus for initial kubernetes discovery of nodes & services to scrape - https://github.com/prometheus/prometheus/pull/905.

Nodes & services are watched & scraped metrics are labeled using the kubernetes labels to make it easy to reuse kube

[2015-07-25 08:40] F21 commented on #11852
I am seeing a similar issue when building kubernetes for mesos. My VM has 2.7GB of memory.

Previously, I was using Ubuntu 14.10 64-bit and was able to work around the problem using `taskset 3 make`.

However, after upgrading to Ubuntu 15.04 64-bit, `taskset 3 make`, `taskset 2 make` and `taskset 4 make` both fails:

[code]

[2015-07-25 09:03] sttts commented on #11796
We have smoke tested the secret and empty volume, but not gce disks. But I think they should work even without persistent volume support of Mesos as they only access scsi disks on the local slaves with specific gce names.

@loky9000 Can you increase the executor log level to at least 5 (--executor-logv=5 or more at the scheduler command line)? In the sandbox of the task you should be able to see t

[2015-07-25 10:52] donghwicha commented on #9386
this one can be solution for you https://github.com/GoogleCloudPlatform/kubernetes/pull/11798

I didn't tested it yet

[2015-07-25 11:06] antoineco commented on #11000
@devurandom I though this might interest you https://coreos.com/blog/introducing-etcd-2.1/

[2015-07-25 11:16] KSanthanam commented on #11818
@thockin
I am unable to reach the service after upgrading kubernetes. I get this error
Could not connect to 10.59.255.144:28015. Error: [Errno 113] No route to host

When I try to reach from the host machine.
Any idea?

Here is my service
<pre>
rethinkdb-driver   db=influxdb   db=rethinkdb   10.59.255.144     28015/TCP
                                                107.167.188.115
</pre>

[2015-07-25 12:43] gosharplite opened #11861 "'kubectl stop' goes into loop when blocked by authorization."
With authorization enable (v1.0.1), 'kubectl create' works fine when blocked by authorization.
[code]
'kubectl stop' goes into loop when blocked by authorization.
[code]
[code]

[2015-07-25 12:54] gosharplite commented on #11861
Actually, 'kubectl stop' will respond after a long while.
[code]
Since 403 is received by kubectl, may be it can break the loop earlier?

[2015-07-25 13:09] andronat commented on #11852
My VM is with 1 CPU will it make any difference to increase the CPUs?

As far as I understand there is nothing I can do? I just have to increase the memory?

[2015-07-25 14:08] Smana commented on #11661
Hello,
Thank you all for your help :)
I have a related issue but i'll open a new one:
Openshift origin / kubernetes with NodePort

[2015-07-25 14:38] Smana opened #11862 "openshift origin with NodePort service"
Hi,

I have a cluster composed of 3 CoreOS nodes (eg: i'm not using a cloud provider)
I'm trying to test openshift origin as described here :
https://github.com/GoogleCloudPlatform/kubernetes/pull/9938

What i want to do is to expose the service using the type "NodePort".

So i configured the service as follows :
[code]

From what i understant the service would be redirected from each node of my c

[2015-07-25 17:45] smarterclayton commented on #11862
It looks like the command isn't finding your kubeconfig file.  On the last line, instead of running "secrets new ..." run "config view" which should print the config the client thinks it has (from KUBECONFIG).  If that config is pointing to 127.0.0.1 or localhost then the secrets new command won't be able to see the Kube master.

[2015-07-25 18:54] lavalamp commented on #3216
Seeing this periodically every five minutes or so is not actually a
problem; the system will just list and watch again. We are working on some
changes that will make this much less frequent. But until then, don't worry
about this unless it's happening like once a second.
On Jul 21, 2015 1:00 AM, "Jay Liang" <notifications@github.com> wrote:

[2015-07-25 19:46] Smana commented on #11862
@smarterclayton
Yes, it seems that my configuration is wrong.
[code]
I need to figure out where i'm mistaken.

here is my kubeconfig :
[code]
Regards,
Smana

[2015-07-25 20:08] smarterclayton commented on #11862
Hrm - try running an entrypoint /bin/bash but with the other env and
arguments.  Then look to make sure the kubeconfig from outside is at the
right location inside.  That'll at least track down why the binary in the
container isn't seeing the correct file.  You'll need the correct
kubeconfig inside the container.  Check the env in the running container
(maybe the external env var isn't overriding

[2015-07-25 20:12] thockin commented on #11852
I'm very open to things that make the build faster.  From my initial looks
- it is all Go doing it's thing.  It taskes 13-15 seconds for back-to-back
'make'. :(

On Sat, Jul 25, 2015 at 6:10 AM, Anastasis Andronidis <
notifications@github.com> wrote:

[2015-07-25 20:20] thockin commented on #11818
Docker is not really involved here.

Please start here:

http://kubernetes.io/v1.0/docs/user-guide/debugging-services.html

On Sat, Jul 25, 2015 at 4:16 AM, KSanthanam <notifications@github.com>
wrote:

[2015-07-25 20:22] devurandom commented on #11000
Thanks! Now it should be easy to distribute the certs/keys using [etcd](https://github.com/coreos/etcd) and [confd](https://github.com/kelseyhightower/confd).

[2015-07-25 20:29] hingstarne commented on #11862
```error: couldn't read version from server: Get https://localhost:8443/api: dial tcp 127.0.0.1:8443: connection refused```
As the secrets creation should not need a up and running openshiftmaster , when the -o flag is given, this is maybe a bug in the openshift cli?
If you just want a result you could use the the kubernetes config file from your running kubernetes master instead. Don´t know where

[2015-07-25 21:15] danieldreier commented on #11222
I was able to resolve the issue by removing "ServiceAccount" from KUBE_ADMISSION_CONTROL but I don't understand what the security implications of that change are, what kind of access I've granted by doing that. Can anybody clarify?

[2015-07-25 21:26] thockin commented on #11853
Will take a look ASAP - later tonight.

On Fri, Jul 24, 2015 at 7:43 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-07-25 21:40] Smana commented on #11862
@smarterclayton
Thank you, i did what you suggested:
[code]
And i noticed that i wasn't giving the right config file.
Then i fixed my command line as follows and i successfully created the secret.json file
[code]

Unfortunately i still have a problem after creating the rc.
[code]

The pods is not flagged as ready and i don't understand why
[code]
I can see the following logs
[code]

The service sh

[2015-07-25 21:48] hingstarne commented on #11862
could you try to port-forward the ui?
kubectl port-forward -p openshift-0wlkc 8443
and access the ui via curl -k https://localhost:8443 ?

[2015-07-25 21:54] andronat commented on #11852
Should I close this issue?

[2015-07-25 22:11] bgrant0607 commented on #1111
Another observation:

We use Host in a number of places in the API: HostPort, HostIP, HostNetwork, HostPath, Host (in HTTPGetAction and EventSource), and Hostname. More often than Node (not counting the Node API itself): NodeSelector, NodeName, NodePort. "Host" appears to be more natural/familiar.

The main disadvantage of "Host" would be confusion about whether "HostName" referred to the resource

[2015-07-25 22:32] davidopp commented on #1111
@bgrant0607 Host vs. node isn't really the issue in my mind. The reason I am advocating for "minion" is to distinguish nodes running user containers from nodes running the core (non-addon) master components. Even if we go to self-hosting I think most users will still want the master nodes to be special from a security policy standpoint if not for other reasons as well, for the duration that they a

[2015-07-26 00:05] kelseyhightower opened #11866 "Allocating CIDRs for Pods should work without a cloud provider"
Currently setting the `--allocate-node-cidrs` flag to true with an empty cloud provider cause the kube-controller-manager to crash during startup.

[2015-07-26 00:37] bgrant0607 commented on #1111
@davidopp You're saying that the nodes would be the same, except for policy.

Even before we self-host, we're planning to register the master node(s) as nodes.

Fill in the blank: cluster of _____________.

I'm sorry, but minion is out of the running, at least as an API keyword.

[2015-07-26 01:09] davidopp commented on #1111
Certainly in the cases of fields where the thing being described could be a master node or a minion node, it would not make sense to call it a minion -- it should be "node" or "host" or whatever. I'm just talking about the situations where the thing being described is always a non-master node. Looking back at the first entry in this issue, I thought that's what this discussion was about, for examp

[2015-07-26 01:23] dalanlan commented on #3216
What if i owed a cluster which is completely free of this problem while another suffers?

[2015-07-26 06:47] roackb2 commented on #3216
So seeing this message is actually ok?
If so, I suggest to mark it as warn instead of error
As a user, I'll try to clear out all error messages in case unknown failure afterwards.
Thanks for your reply.

[2015-07-26 07:18] Smana commented on #11862
Hi @hingstarne
I think the pod is not created properly :
[code]

[code]

And the container is not "ready" from what i see there ?
[code]

[2015-07-26 08:31] Smana commented on #11862
When i do a "kubectl describe pod ..." i get the following error regarding a secret missing :
[code]

Indeed this secret doesn't appear :
[code]

I've done all the steps again and again and it still look for the same secret named "default-dockercfg-33q38".
How can i get rid of this secret ?

Note that i've been able to create the pod properly once but my configuration wasn't good.
My ${PUBLIC_IP}:

[2015-07-26 13:21] Smana commented on #11862
Ok i've rebuilt the cluster from scratch then i followed the steps again:
1 - change the openshift-service.yaml file in order to set "NodePort" instead of "LoadBalancer"
[code]
2 - Create the service
[code]

3 - get the tcp port exposed. In the following example the console will be reachable using tcp port 31844
[code]

4 - use the tcp port and a node ip for the remaining steps
[code]
The console

[2015-07-26 13:21] #11862 closed

[2015-07-26 16:44] justinsb commented on #11632
You need to set up IAM credentials and launch your instances with those instance roles.  There are a large number of things that the script does for you that you have to get spot-on, and we definitely haven't documented the exact things that have to be set on any platform (I believe we consider it an implementation detail, though I may be wrong here).

I think you'll have the best experience with

[2015-07-26 18:33] lavalamp commented on #3216
I expect this to be more common in a more heavily loaded cluster. Does that
explain it?
On Jul 25, 2015 6:23 PM, "Emma He" <notifications@github.com> wrote:

[2015-07-26 18:34] lavalamp commented on #3216
Yeah, we should change this.
On Jul 25, 2015 11:48 PM, "Jay Liang" <notifications@github.com> wrote:

[2015-07-26 20:04] Smana opened #11869 "openshift origin, Failed to list kubernetes items (404)"
Hello all,

I'm trying to install openshift with kubernetes.
I've created sucessfully the pod using the steps described in this issue :
https://github.com/GoogleCloudPlatform/kubernetes/issues/11862

1 - change the openshift-service.yaml file in order to set "NodePort" instead of "LoadBalancer"

[code]
2 - Create the service
[code]

3 - get the tcp port exposed. In the following example the consol

[2015-07-26 20:19] smarterclayton commented on #168
If we use limit to mean hard cap, we can still vertical autosize / default when a user specifies request.  As Derek notes, we want to offer predictable behavior when pods run on multiple heterogenous workloads for end users and admins (which shares can't guarantee), which negatively impacts utilization in some cases but offers a predictable experience for admins.

Do we have the tools to distingui

[2015-07-26 21:07] bgrant0607 opened #11871 "Finish remaining user-guide topics"
Didn't have time to get to these before 1.0.

* Advanced use cases
  * volumes
    * data that survives node death: persistent volume claims (link to doc, lots of examples for different storage backends)
      * vs provider-specific volume sources
  * pods
    * escalated privileges: security context (link to design doc, capability doc)
    * special scheduling constraints
    * explain default sp

[2015-07-26 21:11] lavalamp commented on #11869
@smarterclayton

[2015-07-26 21:13] lavalamp commented on #11866
@davidopp to triage

[2015-07-26 21:16] lavalamp commented on #11861
@bprashanth do you have time to fix this?

[2015-07-26 21:18] lavalamp commented on #11858
Please make a parallel PR here, they sound like good improvements!

[2015-07-26 21:26] lavalamp commented on #11854
You are not experiencing #3216, your watches are lasting many minutes.

@caesarxuchao, would you like to downgrade these messages to warnings so we'll stop getting these reports?

[2015-07-26 21:32] lavalamp commented on #11852
We are willing to take PRs that reduce this requirement, but this memory requirement isn't so big that we'll prioritize it.

[2015-07-26 21:33] caesarxuchao commented on #11854
Sure.

[2015-07-26 21:54] davidopp commented on #168
@erictune My understanding is that request set (say to value "R") and limit unset would be interpreted the way Borg handles memory limit = R with allow_overlimit_mem, and CPU limit = R.

[2015-07-26 21:58] smarterclayton commented on #1574
Do we want to simplify forgiveness to try to get it for 1.1?  As a general policy value it's useful to have in the system.

[2015-07-26 22:03] davidopp commented on #1574
I don't know if it would be high enough priority to commit to for 1.1, but I could imagine the first step would just be a bool (Pod is treated normally, i.e. deleted by NodeController after standard timeout, vs. Pod stays bound to the node forever unless manually deleted or node is deleted)..

[2015-07-26 22:29] F21 commented on #11852
What's the recommended amount of memory needed to compile? I am still finding it to be a hit and miss with 4GB.

[2015-07-26 22:49] dguerri commented on #10906
Same problem with Parallels.
Quick workaround (waiting for a fix on the upstream box):
[code]

[2015-07-26 23:06] a-robinson opened #11872 "Inconsistent error messages for missing image in RC"
Super minor since both error messages are understandable, but when creating an RC with an incorrect image path today, I found that 2 of the 3 pods had a slightly different error message from the third. This is at version 1.0.1.

[code]

[2015-07-26 23:11] bgrant0607-nocc commented on #11797
cc @smarterclayton @dchen1107

[2015-07-26 23:12] bgrant0607-nocc commented on #11797
We need to finish the implementation of graceful termination.

[2015-07-26 23:29] mikedanese commented on #11436
This specific link is fixed on master:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/create.go#L130

[2015-07-26 23:29] #11436 closed

[2015-07-26 23:42] smarterclayton commented on #11797
It's on my list this week.

On Jul 26, 2015, at 7:12 PM, Brian Grant <notifications@github.com> wrote:

We need to finish the implementation of graceful termination.

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issues/11797#issuecomment-125047328>
.

[2015-07-26 23:46] smarterclayton commented on #1574
How about a duration?

We want to dramatically reduce the fail detecting time for certain
workloads on the cluster, which implies some way of distinguishing pods on
an unhealthy node that should be aggressively considered down (such that
the replication controller gets the earliest chance to proceed).

Maybe there's a more tactical way to manage that, but that does seem
something that would let ad

[2015-07-26 23:51] smarterclayton commented on #11869
@derekwaynecarr

It looks like the kubeconfig for talking to the Kube master is wrong. It's possibly due to the kubeconfig not making it into the container correctly, or having the wrong path.

[2015-07-27 00:08] davidopp commented on #1574
That seems reasonable to me, I was just suggesting the simplest thing we could do. What you suggested would also make it a subset of what @bgrant0607 suggested in his comment above, so
https://github.com/GoogleCloudPlatform/kubernetes/issues/1574#issuecomment-67967320
you'd just have a ContiguousSeconds and basically nothing else. (As opposed to the bool which doesn't really fit into what he sugge

[2015-07-27 00:23] dalanlan commented on #3216
Nope, exactly the opposite, which make it much odder to me. @lavalamp
(Different authentication configuration,tough.)

[2015-07-27 00:27] dalanlan commented on #11854
If that's the case, i shall wait for the updates. And many thanks.

[2015-07-27 01:10] smarterclayton commented on #1574
If we added the value, but did not leverage it in node controller (or made
it the simplest possible expression, such as changing the evacuate behavior
to be the min forgiveness), would we be in a bad spot?

As far as prioritization it's something we'd be interested in implementing,
so it's really a question of API design and scope of change.

On Jul 26, 2015, at 8:08 PM, David Oppenheimer <notific

[2015-07-27 01:14] lavalamp commented on #3216
Are both clusters running the same version?
On Jul 26, 2015 5:23 PM, "Emma He" <notifications@github.com> wrote:

[2015-07-27 01:17] dalanlan commented on #3216
The one suffers v1.0.1, while the healthy one v0.18.2.

[2015-07-27 01:41] nikhiljindal commented on #11853
It was broken yesterday, but the links are working fine for me right now.

But, shouldnt those links be relative? Why are they pointing to releases.k8s.io?
http://releases.k8s.io/HEAD/cluster/addons/dns/README.md should instead be ../../cluster/addons/dns/README.md?

[2015-07-27 02:36] pfremm commented on #11222
Yes, I'd like to know as well.  Is this documented anywhere?

[2015-07-27 03:26] davidopp commented on #11793
@HaiyangDING looking forward to seeing what you did.

@bgrant0607 I think it's hard to know exactly how everyone will use namespaces, but I think we want something in addition to namespace to determine which scheduler is responsible (for example, a field on each Pod). A scheduler would be configured to pay attention to a particular namespace+scheduler_name combo. There's also a question of what is

[2015-07-27 03:27] thockin commented on #11853
We fixed the site config, but yeah those should be relative.

On Sun, Jul 26, 2015 at 6:41 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-07-27 03:34] thockin commented on #11853
I'm wrong.  Only docs/... and examples/... are relative because of gh-pages
not having a full checkout of code.

On Sun, Jul 26, 2015 at 8:27 PM, Tim Hockin <thockin@google.com> wrote:

[2015-07-27 04:05] nikhiljindal commented on #11853
aah ok.

[2015-07-27 04:05] #11853 closed

[2015-07-27 04:09] davidopp commented on #11470
I agree with @bgrant0607 that writing your own scheduler is probably a better direction. We should try to make the default Kubernetes scheduler factored in a way that people who want to write their own schedulers can import/reuse the core parts as a library, otherwise there will be a lot of code duplication across all the schedulers people write. @lavalamp 's controller framework and modeler are s

[2015-07-27 04:31] ravigadde commented on #11470
@davidopp

Thanks for sharing your thoughts. Technically, either approach works. As I mentioned earlier in the thread, its more for business reasons we would like to use the stock kubernetes distribution from one of the OS vendors. They sell the support for the distro. If we ship our own scheduler, it violates that support model.

I will post some prototype changes in the next couple of days to th

[2015-07-27 04:44] bgrant0607 commented on #1627
For reference:
Kubeconfig: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/clientcmd/api/v1/types.go
Scheduler config: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/plugin/pkg/scheduler/api/v1/types.go

[2015-07-27 04:49] bgrant0607 commented on #1627
See other discussion on #6245, #6477, and #10982.

[2015-07-27 05:49] bgrant0607 commented on #10630
I think the main confusing thing about RESOURCE is that it just refers to the collection, not the fully qualified resource.

[2015-07-27 05:59] bgrant0607 commented on #10408
Mentioned in #11368:

kubectl export:
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/export.go
https://github.com/openshift/origin/blob/master/pkg/cmd/cli/cmd/exporter.go

Invoking PrepareForCreate was a  good idea, though I think we should do that server-side instead. That's perhaps related to the `/clone` or `/instantiate` idea we've discussed in the past.

[2015-07-27 06:23] bgrant0607 commented on #8874
Believed to be working in 1.0. Please reopen if not the case.

[2015-07-27 06:23] #8874 closed

[2015-07-27 06:24] bgrant0607 commented on #11212
cc @nikhiljindal

[2015-07-27 06:35] bgrant0607 commented on #8827
cc @nikhiljindal

[2015-07-27 06:39] bgrant0607 opened #11874 "Support rollover"
Forked from #1353. Needed for Deployment #1743.

Rollover is a generalization of rolling update, where one replaces N replication controllers with one new one.

Scenarios:
* rolling update, pause in middle, create a patched image, perform a rolling update to replace the original image and the botched image
* Deployment: change desired state and kick off rolling update, then change desired state ag

[2015-07-27 06:41] bgrant0607 commented on #1743
There was some discussion of the post-deployment hook here: https://github.com/GoogleCloudPlatform/kubernetes/issues/1353#issuecomment-91698314

[2015-07-27 06:42] bgrant0607 commented on #1353
I believe we have more specific issues filed for remaining work, so I'm closing this "metaphysical" issue.

[2015-07-27 06:42] #1353 closed

[2015-07-27 06:47] bgrant0607 commented on #11212
We should monitor readiness of pods during the update process: #11484

I could also imagine printing the new-style "get pods" output, which displays readiness and status.

Logs would be too verbose.

[2015-07-27 06:48] gangadhars opened #11875 "Adding new node to Ubuntu Cluster. Error: 501: All the given peers are not reachable"
I want to add a node/minion to running cluster. Previously our cluster is
[code]

Now our cluster is:
[code]
Now we want to add 172.16.2.96 node to our cluster. All binaries and config files are already there because previously it is in cluster.
We started etcd service in 96 node. After few seconds the cluster is
[code]
But when I try to run flannel in node 96 it's giving below error
[code]
etcd l

[2015-07-27 06:53] bgrant0607 commented on #11348
Using "latest" leads to unpredictable behavior. Any pods that happen to be created for any reason (node death, scaling, rolling update of some other field) after the latest tag is retargeted to a new version would pull that new version. Is that what you want? (Well, there's also the issue of whether the imagePullPolicy may interfere.)

Or, would you like "latest" to be automatically translated to

[2015-07-27 07:02] bgrant0607 commented on #5370
We're going to get rid of stop #11384, which will resolve this issue. Closing as a dupe.

[2015-07-27 07:02] #5370 closed

[2015-07-27 07:04] bgrant0607 commented on #4301
cc @timothysc @ncdc

[2015-07-27 07:40] bgrant0607 commented on #7851
Revisiting all rolling-update issues/PRs.

I would like to make the rolling-update code reusable outside kubectl, such as in Deployment (#1743), and am in favor of making kubectl logic reusable, in general (#7311).

That said, I'm not sure the current annotations are the right ones. I previously commented on this here: https://github.com/GoogleCloudPlatform/kubernetes/pull/2863#issuecomment-697015

[2015-07-27 08:07] jszczepkowski commented on #1743
cc @jszczepkowski

[2015-07-27 08:29] sunvooker opened #11876 "service found need some help, thanks"
I have a cluster made up of ubuntu nodes 192.168.1.108 ("ai"), 192.168.1.111("i"), 192.168.1.112("i"), following the example guestbook-go project, I create the guestbook-controller(rc : 3 replicas) and created guestbook service (192.168.3.18 : 3000), in every node, i use "curl http://192.168.3.18:3000" I can load the guestbook service web page, but I found a strange problem, when guestbook-control

[2015-07-27 08:39] wingedkiwi commented on #9267
I cannot set up _SSL tunnels_ from master to the nodes for `kubectl exec` and `kubectl logs` calls. The `kube-apiserver` is looking for the `NodeExternalIP` and fails as I don't use a cloud provider and thus only have a `NodeLegacyHostIP`.

Additionally there is no way to provide external ip and internal ip information when a kubelet registers itself without a cloud provider. Can't we add flags to

[2015-07-27 08:41] antoineco commented on #11876
Sounds like a network issue between your nodes. Are you using an overlay network to let your containers talk to each other across nodes?

What does `kubectl describe se/guestbook` return?

[2015-07-27 08:50] Smana commented on #11869
Ok i've added an environment variables to the rc yaml as follows :
[code]

Now the configuration seems to be loaded :
[code]

But i still have the same 404 errors...

[2015-07-27 08:56] sunvooker commented on #11876
![image](https://cloud.githubusercontent.com/assets/13518194/8902042/4ea1da26-3480-11e5-8348-2867a45e1ff1.png)

this is my service return.

[2015-07-27 08:56] bgrant0607 commented on #1743
I am opposed to new uses of phase. See #7856.

I'd omit triggers for now.

No RCs should have identical pod selectors, unless you mean other than the deployment/version label.

I totally agree with @smarterclayton that we need sequence numbers.

Status: In addition to total number of replicas, number of replicas of each version.

We should definitely take readiness into account: #11484.

Why scale

[2015-07-27 08:56] #9013 closed

[2015-07-27 08:59] Pensu opened #11877 "Using Kubernetes with OVS"
Hi all,

I want to use OVS with Kubernetes. I am deploying this stuff from scratch and I am following bottom up, i.e. I have created an etcd cluster and now, I want to come to networking part. Flannel is creating some issues for me, so I am thinking about going with OVS. Now, I am not able to find much documentation about OVS, I mean is it used along with flannel or is it a replacement for flannel

[2015-07-27 09:00] jszczepkowski commented on #11748
CC @fgrzadkowski

[2015-07-27 09:04] sunvooker commented on #11876
cluster step: 1. git clone the kubernetes master.
2. vi config-default.sh , change the "export nodes=xxxx", which replace myself machine
3. call ./build.sh download the ubuntu os cluster binary
4. call ./kube-up.sh  which run the cluster
5. goto guestbook-go example. kubectl create -f guestbook-controller.json   & kubectl create -f guestbook-service.json
6. only i change is the guestbook-controlle

[2015-07-27 09:13] antoineco commented on #11876
That's why I'm asking if you set up an overlay network between your nodes to let the container networks reach each other.

Look at these two documentation pages:
* [docs/design/networking.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/networking.md)
* [docs/getting-started-guides/scratch.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-s

[2015-07-27 09:58] sunvooker commented on #11876
thanks, I will test it.

[2015-07-27 10:24] wojtek-t opened #11879 "Come up with a clear story for attaching/detaching PD semantics"
The current implementation of PD attach/detach operations can lead to races when using them - see #11873 for an example.

 In particular we should define the desired behavior in situations like "a pod with PD attached in RO mode is running and we schedule another pod with the same PD attached in RW mode"

@saad-ali for more details and his thoughts about it

[2015-07-27 10:27] sttts commented on #11852
Also failing here with 4GB. Have locally reverted the swagger-ui update in `dba914268c23b315cffd42bed00c5d9b6d769287` to continue working. So a fix would be highly appreciated.

[2015-07-27 10:30] F21 commented on #11852
@stts: I was able to get it to compile with `taskset 3 make` with 4GB, but I have had it run out of memory and fail a few times.

[2015-07-27 10:58] kgrvamsi commented on #11114
Today i have another issue when i was setting up the kubernetes master with one minion and here is the output from one of the minion about the ports

core@ip-10-20-30-45 ~/kubestack $ netstat -vpln
(No info could be read for "-p": geteuid()=500 but you should be root.)
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Pro

[2015-07-27 11:34] Smana commented on #11869
Please let me know if you need further infos.

[2015-07-27 12:05] justinsb opened #11882 "AWS: Figure out workaround for non-atomic tag creation"
Because we create tags non-atomically on AWS, there is often/always a window in which things can be in inconsistent states, where we have created the resource but not tagged it.  The consequence could be resource leakage, or (more rarely) infinite loops (see e.g. #11324).

We may be able to find a procedure, for example by searching for untagged resources and trying to recover from failed creates.

[2015-07-27 12:07] justinsb commented on #11324
@evanphx you're right; my explanation wasn't entirely correct...

So security group names are unique per VPC.  We also have a per-cluster name, and we filter all our AWS API interactions to only select resources tagged with this name.

If we had a security group name collision across two k8s clusters in the same VPC, that would be bad.  Thankfully the security group name we're creating includes a

[2015-07-27 12:25] justinsb opened #11883 "AWS: Switch to use instance-ids as node name"
This will fix a lot of problems with non-kube-up setups, and is also generally more robust/correct.

Last time I tried this there was a problem with kubectl exec / logs, which still require the NodeName to be resolvable (and have a valid matching SSL cert).  There wasn't enough time to fix that for v1.

[2015-07-27 12:31] justinsb commented on #11543
A bit of context:

* NodeName is the k8s node name.  findInstanceByNodeName is to differentiate from findInstanceById, which uses an AWS ID (and confusingly I don't think this function is present in the current code).

* Currently NodeName must be an internally resolvable DNS name.  We have come very close to fixing this, but there are still a few last points. for e.g. kubectl exec/logs to work.

[2015-07-27 12:39] justinsb opened #11884 "AWS: CloudFormation / other scripts must set KubernetesCluster tags"
AWS uses a KubernetesCluster tag to track which resources are part of a particular k8s cluster (I think GCE uses projects for this).

We need to document exactly the requirements here, and also make sure e.g. the CoreOS cloudformation approach is tagging correctly.

[2015-07-27 12:40] justinsb commented on #9801
This is indeed important.

@delianides and @antoineco I think your most recent issues are both because of tagging.  I need to make sure that the CloudFormation scripts are setting tags correctly: #11884

Given that, I really like your suggestion @antoineco of using the metadata service - it works even if the tags are wrong!  I'm going to work on this now.

[2015-07-27 14:28] gmarek commented on #11681
@dieuroi - closing this Issue, please reopen if issue persists.

[2015-07-27 14:28] #11681 closed

[2015-07-27 15:10] SunWeicheng0001 opened #11885 "ubuntu: The connection closed while deploying"
I have a cluster of three ubuntu nodes, which is 192.168.2.121"ai", 192.168.2.122"i", and 192.168.2.123"i", also i add ssh keygen to my minion nodes. I follow the guide in the github, something wrong happened. While I run `KUBERNETES_PROVIDER=ubuntu ./kube-up.sh`, after something outputs, it asked me to input `[sudo] password to copy files and start node:`. Then the connection closed. The whole ou

[2015-07-27 15:23] resouer commented on #11885
it seems scp connection fails? Check your keygen setup of all nodes and make sure password/auth part is right. ping @WIZARD-CXY

[2015-07-27 15:29] SunWeicheng0001 commented on #11885
I copied my master public keygen to slave nodes and copy them into .ssh/authorized_keys, and now I can ssh or scp to my slaves without password. Is there any more potential problems?

[2015-07-27 15:41] bkeroackdsc commented on #11632
@justinsb Thanks for the tips. For our environment and how I need kubernetes to integrate with it, it just isn't an option to run kube-up. I'd rather pay the upfront cost of learning how to deploy k8s manually, despite the problems and dead-ends. I wouldn't mind helping expand the documentation either.

Regarding this issue, it turns out that it was a problem at the ELB layer. I spent some time tr

[2015-07-27 15:41] #11632 closed

[2015-07-27 15:43] WIZARD-CXY commented on #11885
I assume you are in china,  the make-ca-cert.sh needs to get a file from google cloud.So maybe you need use a vpn you know.

[2015-07-27 15:46] SunWeicheng0001 commented on #11885
@WIZARD-CXY Minutes ago, I just find that problem.._(:зゝ∠)_GFW...WTF

[2015-07-27 15:51] WIZARD-CXY commented on #11885
I'm glad you find it yourself.I'm in china, too.😄

[2015-07-27 15:54] fgrzadkowski commented on #11780
Re-assigning to @wojtek-t who is the author of this code.

[2015-07-27 15:58] justinsb commented on #11632
@bkeroackdsc thanks for letting us know.  I do want to make kube-up more applicable, but we also have to make it more reliable and maintainable.  What is your blocked to using kube-up, BTW?

Do you have a link to the private NATed subnet issue you hit?  It would be great if I understood this better (both in case I ever try to do the same thing, and for the next time someone hits this problem)

Hop

[2015-07-27 16:11] lvlv commented on #11885
Just wondering, is it possible to setup some sort of mirror in your lab?

On Mon, Jul 27, 2015 at 11:52 PM, Xingyu Chen <notifications@github.com>
wrote:

[2015-07-27 16:28] WIZARD-CXY commented on #11885
hmm, I tried to deploy a mirror registry which mirrors gcr.io, but failed... never try others

[2015-07-27 16:40] wingedkiwi opened #11888 "SSH tunnels fail without a cloud provider"
When I set the flags `--ssh-keyfile` and `--ssh-user` on the `kube-apiserver`, I get the following error:
`Failed to load SSH Tunnels: Couldn't find external address`

It seems like the kube-apiserver looks for NodeExternalIP and fails, if it doesn't find it. When not using a cloud provider the ExternalIP is not set and only the LegacyHostIP is present.

From what I see, there is two ways to solve

[2015-07-27 16:45] wingedkiwi commented on #11816
When I tried securing this pathway using ssh tunnels without using a cloud provider it failed: see https://github.com/GoogleCloudPlatform/kubernetes/issues/11888.

[2015-07-27 16:56] karlkfi commented on #11857
Effectively the same reason as #11857 tho they're two different tests.
We tried to diagnose on Friday and were unable to duplicate or find an easy fix. The tests are time-based because the DelayQueue is time-based. The current implementation doesn't allow for deterministic tests. We're likely going to have to rewrite to improve testing.

[2015-07-27 16:57] jboelter opened #11889 "AWS: CloudFormation / make a self-contained and complete cloudformation template"
I've started to make progress on this, with the goal being to be able to deploy a kubernetes cluster from a cloudformation template that has no dependencies on manually created or pre-existing AWS resources.  A second goal is to deploy multiple clusters in the same account w/o overlap or collisions.
- Add IAM role for master
- Add IAM role for node
- Add VPC
- Add --cloud-provider=aws to cmdline p

[2015-07-27 17:00] evanphx commented on #11324
@justinsb Ah! That totally makes sense. The race between resource creation and resource tagging can created "invisible" resources if the process of tagging fails. Maybe an anti-entropy function that can look at all the resources and normalize them. In the case of invisible resources, you can just delete them and hope that recreating them won't fail the tagging process.

[2015-07-27 17:16] karlkfi opened #11890 "mesos/gce automated remote cluster deployment"
This is a placeholder for discussion/planning about adding mesos/gce cluster deployment scripts.

Now that k8s-mesos integration is upstreamed, one of the next steps is to automate deployment of a mesos cluster.

It's worth noting that if you have a DCOS cluster, automated deployment of k8s is already possible. So this isn't necessarily highest priority.

[2015-07-27 17:19] karlkfi commented on #6676
Upstreaming is effectively complete.
We're going to track future improvements in their own issues.

TODO:
- mesos/docker automated local cluster deployment: #10049
- mesos/gce automated remote cluster deployment: #11890
- mesos-dns integration so that mesos tasks can resolve k8s services/pods: https://github.com/mesosphere/kubernetes-mesos/issues/125 https://github.com/mesosphere/mesos-dns/pull/15

[2015-07-27 17:20] #6676 closed

[2015-07-27 17:43] yujuhong commented on #11877
@Pensu, [this doc](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admin/ovs-networking.md) explains how kubernetes uses OVS. Our vagrant scripts also sets up OVS for network. You can find the details in the scripts under [kubernetes/cluster/vagrant](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/vagrant).

[2015-07-27 17:51] bprashanth commented on #11852
@nikhiljindal if it's really the swagger ui we should be able to turn it off with a flag?

[2015-07-27 17:56] hrishimantri commented on #11455
Any updates guys ?

[2015-07-27 18:00] derekwaynecarr commented on #11852
I am seeing the exact same error on an 11GB linux box intermittently running

[code]

This error is new to this week.  I did not encounter this error before Friday of last week.  Has something gone in to really blow our parallel builds?

[2015-07-27 18:01] derekwaynecarr commented on #11852
My workaround has been to eliminate some of the KUBE_CLIENT_PLATFORMS during my local development which is letting me reliably build now.

[2015-07-27 18:05] nikhiljindal commented on #11852
We merged a new version of swagger-ui which could be leading to this: https://github.com/GoogleCloudPlatform/kubernetes/pull/10901

[2015-07-27 18:08] roberthbailey commented on #11888
/cc @brendandburns @cjcullen

[2015-07-27 18:14] markebalch commented on #11470
An extensible scheduler has value beyond a third-party support model.  Being able to plug more flexible placement information to an existing Kubernetes deployment where the default scheduler is doing a fine job otherwise saves rework and porting/updating every time the default scheduler (or the plugin) changes.

Having many different people release their own schedulers (even with libraries) seems

[2015-07-27 18:34] lavalamp commented on #11875
I don't think you have a problem adding a node to the cluster.

The 501 error is an etcd error, but I'm not sure how if it's coming from our etcd or not. It's not clear to me why you're running etcd on multiple nodes, is that something to do with flannel?

You should look at the kubelet logs on your .96 node to see why it's not ready. Or the controller manager logs on your master.

[2015-07-27 18:37] lavalamp commented on #11885
Is there anything else to do here? If not, please close. Thanks :)

[2015-07-27 18:38] #11885 closed

[2015-07-27 18:40] wingedkiwi commented on #11888
Added pull request that implements a simple fallback to LegacyHostIP.

[2015-07-27 18:41] saad-ali commented on #11457
Thanks @marcospedreiro. I'll work on reproing this today.

[2015-07-27 18:43] #8043 closed

[2015-07-27 18:43] smarterclayton commented on #1743
Scale down first is when you have N possible placements for N pods, and if
you scale up first those pods won't schedule, which means you can't check
whether the pods are healthy until you scale down first.

Percentage is what Dan has implemented.

On Mon, Jul 27, 2015 at 4:56 AM, Brian Grant <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-27 18:54] lavalamp commented on #9713
@mikedanese Yes, apiserver does some watches against itself... Also the 401 is an etcd error code, not an HTTP status code in this case.

[2015-07-27 19:02] loky9000 commented on #11796
12725 kubelet.go:1423] Desired pods: mysql_default
I0727 18:57:09.015930   12725 volumes.go:96] Used volume plugin "kubernetes.io/gce-pd" for (volume.Spec){Name:(string)mysql-persistent-storage VolumeSource:(api.VolumeSource){HostPath:(*api.HostPathVolumeSource)<nil> EmptyDir:(*api.EmptyDirVolumeSource)<nil> GCEPersistentDisk:(*api.GCEPersistentDiskVolumeSource){PDName:(string)mysql-disk FSType:(s

[2015-07-27 19:07] SunWeicheng0001 opened #11893 "ubuntu: error: couldn't read version from server:"
I just follow the guide https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md. All the thing I do is just copy the guide. But it comes to something wrong. It says that `error: couldn't read version from server: the server could not find the requested resource`
The whole output is as follows
[code]

[2015-07-27 19:14] davidwalter0 opened #11894 "addons/dns/README.md 404 error"
There appears to be a broken link or missing page to: http://kubernetes.io/v1.0/cluster/addons/dns/README.md
to http://kubernetes.io/v1.0/

Dead link origin page: http://kubernetes.io/v1.0/docs/getting-started-guides/mesos.html

[2015-07-27 19:54] loky9000 opened #11898 "unable to execute kubectl exec on pod (v1.0.1)"
Ubuntu 14.04
Mesos 0.22.0
kubectl describe pod mysql
Name:				mysql
Namespace:			default
Image(s):			mysql:5.7
Node:				ec2-54-161-243-202.compute-1.amazonaws.com/10.183.211.227
Labels:				name=mysql
Status:				Running
Reason:
Message:
IP:				172.17.0.4
Replication Controllers:	<none>
Containers:
  mysql:
    Image:	mysql:5.7
    Limits:
      cpu:		500m
    State:		Running
      Started:		Mon, 27

[2015-07-27 20:07] thockin commented on #11894
Can you clarify?  Where did you find this dead link?

On Mon, Jul 27, 2015 at 12:14 PM, davidwalter0 <notifications@github.com>
wrote:

[2015-07-27 20:11] wingedkiwi commented on #11816
I favor to secure this pathway using fully implemented certificate checks. Externalizing the proxying function seems to take a while. I'd like to see it land first.

[2015-07-27 20:13] moander commented on #9773
Thanks @jameskyle. Modifying the path fixed the reported error, but there are still some problems. Looking at the following gist the minion fails to be created, but the master is created and started.

https://gist.github.com/moander/fb67060b39d2667066ab

[code]

[2015-07-27 20:15] loky9000 commented on #11795
Kubernetes v1.0.1
Ubuntu14.04
Mesos 0.22.0
service created by kubectl
nothing change with targetPort
kubectl expose create endpoint for pod but not rc

[2015-07-27 20:18] a-robinson commented on #10327
Hey Fábio, I'm really sorry for letting this slip past me. Severity isn't something that we currently have support for in the default fluentd images. We'd like to do so in the future, but it's something that has to be parsed out of the log message, and supporting parsing of the incredibly diverse array of different log formats is something that's tough to do generally.

You could add it yourself f

[2015-07-27 20:24] loky9000 commented on #11796
12725 kubelet.go:1423] Desired pods: mysql_default
I0727 18:57:09.015930   12725 volumes.go:96] Used volume plugin "kubernetes.io/gce-pd" for (volume.Spec){Name:(string)mysql-persistent-storage VolumeSource:(api.VolumeSource){HostPath:(*api.HostPathVolumeSource)<nil> EmptyDir:(*api.EmptyDirVolumeSource)<nil> GCEPersistentDisk:(*api.GCEPersistentDiskVolumeSource){PDName:(string)mysql-disk FSType:(s

[2015-07-27 20:31] roberthbailey commented on #11866
FYI @kelseyhightower has a PR out to fix this.

[2015-07-27 20:34] davidwalter0 commented on #11894
Dead link referenced from page: http://kubernetes.io/v1.0/docs/getting-started-guides/mesos.html

[2015-07-27 20:55] thockin commented on #11795
If I recall, you are using Mesos, so normal rules about endpoints and ports
do not apply.  That said,
http://kubernetes.io/v1.0/docs/user-guide/debugging-services.html still
applies mostly - did you try following that?

On Mon, Jul 27, 2015 at 1:15 PM, loky9000 <notifications@github.com> wrote:

[2015-07-27 21:00] saad-ali commented on #11879
To sum up this issue: While debugging #11873 I noticed that the current volume attach/detach code doesn't keep track of whether a PD was attached as read-only or read-write. Therefore we can run in to situations where a pod is created in one mode, deleted, but before the orphan volume loop picks up and tries to detach it, a new pod using the same PD with a different mode is created: now the PD wil

[2015-07-27 21:05] Smana commented on #11869
@smarterclayton @derekwaynecarr
Would you want me to give you more details? i really want to use this console but i can't figure out how to configure properly openshift.

The api url is reachable from within the pod :
[code]

I guess i have to pass the certificate but i don't know which one

[2015-07-27 21:05] sttts commented on #11796
@loky9000 thanks for the logs. I took a look at the relevant code. It heavily depends on the gce cloud provider. I am not sure whether it can run autonomously next to the Mesos cloud provider. Maybe @thockin can comment on that.

[2015-07-27 21:17] nikhiljindal commented on #1490
I dont see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/ref.go using that regex anymore. It is extracting the version from ObjectReference.
API prefix is not harcoded anywhere in that function or file.

[2015-07-27 21:17] #1490 closed

[2015-07-27 21:25] lavalamp commented on #11857
Can we disable these tests until a fix is found? This is causing a lot of false negatives from shippable.

[2015-07-27 21:48] lavalamp commented on #11821
Also see #11857. Can we disable these until this is resolved?

@karlkfi we've found that timings on shippable (or travis) are drastically different from local timings, so it's really not feasible to have timing-based tests. Waiting on a channel or other synchronization options are preferred.

[2015-07-27 21:51] mikedanese commented on #11857
Dup of #11821

[2015-07-27 21:51] mikedanese commented on #11857
Oops different test never mind.

[2015-07-27 22:01] mikedanese opened #11901 "Flaky: TestPlugin_LifeCycle"
This is failing regularly on shippable. @karlkfi @sttts @jdef
[code]

cc @lavalamp

[2015-07-27 22:06] bhouse opened #11902 "Release v1.0.x versions of hyperkube image"
I'm running the master node processes (`apiserver`, `controller-manager`, and `scheduler`) via the [hyperkube](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/images/hyperkube) container image. Currently I'm using `v0.21.2` but would like to upgrade to `v1.0.x`, but the images aren't available in `gcr.io/google_containers/hyperkube`:

[code]

I ran into the same issue with th

[2015-07-27 22:19] #11344 closed

[2015-07-27 22:21] krousey commented on #9180
This should be fixed now.

[2015-07-27 22:21] #9180 closed

[2015-07-27 22:23] #11603 closed

[2015-07-27 22:55] krousey commented on #4874
Not to nitpick, but changing that to a pointer won't do what you want. It would just now let it print null instead of 0 when not initialized. You would have to add `omitempty` to the JSON field tag, and that would be an API change according to http://kubernetes.io/v1.0/docs/api-reference/definitions.html#_v1_serviceport

[2015-07-27 23:04] derekwaynecarr commented on #11869
I hope to have time to investigate this more tomorrow.  If I need more
information, I will ask :-)

On Monday, July 27, 2015, Smana <notifications@github.com> wrote:

[2015-07-27 23:06] lavalamp opened #11907 "RC manager to slow down when master is unavailable"
@bprashanth this is from 21.4; perhaps it's been fixed already?

Below is the same few RCs over and over, names omitted.

[code]

[2015-07-27 23:06] nikhiljindal commented on #10009
I went through this thread and I have a few questions:

- I see a lot of discussion regarding making TypeMeta unversioned, but do we have a decision? Either way, how does making TypeMeta unversioned help with this issue?
I liked @bgrant0607's comment regarding separating api machinery and the spec. runtime.TypeMeta is part of the machinery. Do we want to reuse it in the spec, if we decide to make

[2015-07-27 23:10] karlkfi opened #11908 "[Proposal] Component Registration"
Currently, the ComponentStatuses code is using hardcoded 127.0.0.1 IPs and default ports when performing healthchecks on the controller-manager & scheduler:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/master/master.go#L700

This means that k8s assumes the core components are all on the same host and networking stack (most deployments are using docker host networking to achiev

[2015-07-27 23:11] karlkfi commented on #11908
Blocking #10049 (unless it switches to docker host networking)

[2015-07-27 23:14] #11826 closed

[2015-07-27 23:26] soundofjw opened #11909 "Pods are not being assigned to ALL nodes."
I have a cluster (running on google container engine) with **4 nodes** and **8 pods**.

All 4 nodes are **Ready**.

However, when viewing Pods grouped by Node, all of my pods are distributed amongst 3 nodes (not 4).

![image](https://cloud.githubusercontent.com/assets/739668/8920262/e906aaa6-347b-11e5-9007-9f15819a95d3.png)

So - **why aren't all nodes being utilized?**

(The pods were launched we

[2015-07-27 23:29] karlkfi commented on #11821
If it's enough of an irritant, feel free to add a t.Skip("msg") to these two tests.
We'll leave these two issues open until we fix them.

[2015-07-27 23:37] bprashanth commented on #11907
This is a somewhat specific case of master UA, when the master either doesn't come up or dies before the pods have done their first relist. Once the rcmanager startsup it relinquishes control to the worker goroutines that pull stuff out of the workqueue. Each of those (there are 5) should chill till the pod store has synced. Today each of them wakes up at the 100ms mark and tries a resync, then sl

[2015-07-27 23:52] lavalamp opened #11912 "apiserver: rate-limit event reports"
Rogue kubelets can make N failure events (e.g., out of disk, can't mount secret, can't garbage collect) every poll loop, which can completely overload a kube-apiserver. We should rate limit these.

[2015-07-27 23:55] roberthbailey commented on #11912
/cc @dchen1107

[2015-07-28 00:17] dchen1107 commented on #11912
Marked it as V1.1-candidate for now. We might need this even sooner.

[2015-07-28 00:18] dchen1107 commented on #11912
cc/ @saad-ali

[2015-07-28 00:19] fabioy commented on #11912
I think we'll need this sooner. Bad nodes can now overwhelm the master and cause it to start failing (OOM, etc).

[2015-07-28 00:20] #11866 closed

[2015-07-28 00:24] dchen1107 commented on #11902
Pushing release images should be part of normal release process.

[2015-07-28 01:09] thockin commented on #4874
In the realm of strictly breaking changes this seems minor.  Is this likely
to cause any real problems?

On Mon, Jul 27, 2015 at 3:56 PM, krousey <notifications@github.com> wrote:

[2015-07-28 02:13] ravigadde commented on #11470
@davidopp @bgrant0607

Sample code here - https://github.com/ravigadde/kube-scheduler/commit/23ad25bcc278ffdab9fc2818ae08faaec6e1163b

Please let me know your thoughts.

[2015-07-28 03:33] adyanthaya17 opened #11916 "Unable to deploy cluster on machine."
Hi,
I'm trying to deploy the kubernetes cluster on a openstack instance( in a virtual environment). I have used the internal IP for the configuration but this is what I'm facing.

root@master:/home/ubuntu/kubernetes/cluster# ssh-agent >agent.sh
root@master:/home/ubuntu/kubernetes/cluster# source agent.sh
Agent pid 1440
root@master:/home/ubuntu/kubernetes/cluster# ssh-add /home/ubuntu/kubernetes/cl

[2015-07-28 03:57] pmorie opened #11917 "Generalize SELinux context determination and volume support"
Currently there is a WIP PR to add support for SELinux to the emptyDir volume.  This should be generalized and extracted from any particular volume plugin in such a way that individual plugins should receive the effective SELinux context to use and simply handle performing mounts / volume setup accordingly.

[2015-07-28 04:00] pmorie commented on #11917
@thockin I have some specific design thoughts on this -- will lay them out tomorrow.  Wanted to make an issue for this before I forgot.

cc @eparis @timothysc @smarterclayton

[2015-07-28 04:12] #11594 closed

[2015-07-28 04:25] thockin commented on #11407
Late to this, but what was the breaking change?  I thought we accept name or generateName ?

[2015-07-28 04:46] uruddarraju commented on #11626
It is getting tricky to code this to validate the service accounts. Creating users for every cluster created in the tenant is going to be tricky as there might be multiple clusters within the tenant.

A more practical choice is to had code logic to have a white list comprising of users like kubelet, kube-proxy, scheduler, controller-manager etc. A plugin that can be called to authorize a serviceac

[2015-07-28 04:57] sunvooker commented on #11876
sorry! I follow this guide:https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md
and it looks like that containering the flannel.
for verified flannel is working, what can I do.
thanks!!

[2015-07-28 05:05] sunvooker commented on #11876
the guestbook has two pods: one vip:172.16.1.2  and in the node: 10.1.140.209;
the other vip:172.16.26.2 and correspond node: 10.1.142.157.
in the any node, I ping 172.16.1.2 and 172.16.26.2, that's all successfull.

[2015-07-28 05:14] vially commented on #11407
The problem was that the documentation was not mentioning that the `metadata/name` field of the Pod manifest is required as of image `container-vm-v20150715` (prior to that it didn't seem to be required).

[2015-07-28 05:21] sunvooker commented on #11876
I just kube-down / kube-up,  but this time everything is ok, I don't understand, but thanks!

[2015-07-28 05:21] #11876 closed

[2015-07-28 05:31] gangadhars commented on #11875
@lavalamp
Here is the logs of kubelet:

[code]
kubelet continuously producing above logs.

Yes, for flannel I'm starting etcd service. Without flannel/etcd cluster is working but loadbalancing is not working.

[2015-07-28 05:49] mikedanese commented on #11877
If you want to dig through some code, checkout https://github.com/openshift/openshift-sdn which is using OVS.

[2015-07-28 05:57] samsabed commented on #11496
looks similar to #10861

[2015-07-28 06:25] eghobo commented on #10195
I see the same error at OSX 10.9.5 with go 1.4.2 (trough macports), workaround from @karlkfi help

[2015-07-28 07:02] loky9000 commented on #11796
can i use aws storages instead?

[2015-07-28 07:09] uruddarraju commented on #11763
How about a union of authorizers, similar to what we have with authenticators ?

[2015-07-28 07:27] sttts commented on #11796
same as for gce. If you are lucky it works. It also depends on the aws cloud provider.

[2015-07-28 07:45] loky9000 commented on #11898
the same on other pods

[2015-07-28 07:52] loky9000 commented on #11795
endpoints creates for pod  but target port wrong

$kubectl   expose pod  mysql --port=3306 --target-port=3306
NAME      LABELS       SELECTOR     IP(S)     PORT(S)
mysql     name=mysql   name=mysql             3306/TCP
$ kubectl   describe svc mysql
Name:			mysql
Namespace:		default
Labels:			name=mysql
Selector:		name=mysql
Type:			ClusterIP
IP:			10.10.10.206
Port:			<unnamed>	3306/TCP
Endpoints

[2015-07-28 08:03] dalanlan opened #11920 "Any way to close insecure port api-server serves on for now"
According to [this guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admin/accessing-the-api.md), it seems not possible for now. 8080 would be listened by default.
Just to confirm. Am i missing sth?

[2015-07-28 08:13] tenfourty commented on #11869
Hi All - I've been messing around with this and have blogged what I think is a working solution - it's based on @derekwaynecarr's original example we are talking about in this issue but I've made some changes to use my local kubectl <http://www.tenfourty.com/2015/07/28/how-to-run-openshift-v3-on-an-existing-kubernetes-cluster/>

[2015-07-28 08:13] tenfourty commented on #11661
Hi All - I've been messing around with this and have blogged what I think is a working solution - it's based on @derekwaynecarr's original example we are talking about in this issue but I've made some changes to use my local kubectl <http://www.tenfourty.com/2015/07/28/how-to-run-openshift-v3-on-an-existing-kubernetes-cluster/>

[2015-07-28 08:27] galan commented on #11902
Run into same issues, the documentation still refers to the 0.21.1 release: http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html

[2015-07-28 08:31] HaiyangDING commented on #11793
@bgrant0607 @davidopp

Hi, I create a PR to implement multi-scheduler. This PR only implements a fundamental functionality to enable multiple algorithm providers and allow pod to specify its preferred algorithm provider. It works but is far from perfection. However I think it is a good start.

Please leave your comments and we could discuss with the community to see which further feature should be

[2015-07-28 08:48] galacto commented on #11011
I am trying to setup mongo pod and attach an aws ebs volume to it. It succeeds when I do it in individual POD but fails if I use replication controller to do that.

I read this in documentation `Using a PD on a pod controlled by a ReplicationController will fail unless the PD is read-only or the replica count is 0 or 1.`

I tried setting replica to 1 but no luck, any suggestions?

[2015-07-28 09:19] KSanthanam commented on #11818
@thockin
Thank you for the above link. I found the root cause of the issue. I am trying to create a RethinkDB cluster using the Kubernetes.io example. The run.sh for the rethinkdb image is trying to get the IP address (ENDPOINT) to bind to. It gets 'no Host found' in the curl.

if I run, I get 'host not found on port 443.
curl  ${URL} --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -

[2015-07-28 09:19] erimatnor commented on #11751
Any update on this? @brendandburns

Also, would it be possible to provide Docker images for Kubelet?

[2015-07-28 09:58] mcadam commented on #11688
I have no problem of networking between the redis nodes. I could not find anything related to Rethinkdb except that the docker image is officially supported on Docker version 1.7.1.
They say that support for older versions (down to 1.0) is provided on a best-effort basis.

Maybe the problem comes from here, I will try to do some tests with docker 1.7.1, any news on Kubernetes shipping with the las

[2015-07-28 10:03] stevekuznetsov commented on #11661
You are missing some sections that will mean you're cluster is not
functional. Please look at #9938.
On Jul 28, 2015 4:14 AM, "Jeremy Brown" <notifications@github.com> wrote:

[2015-07-28 10:58] tenfourty commented on #11661
@stevekuznetsov that is cool - I'll update my example with your work - adding etcd as a standalone pod was the next thing I was going to do anyway.
Also commented on #9938.

[2015-07-28 11:15] stevesloka commented on #9773
@moander I have the same issue as you at the moment. I bought the vmware adapter as I was unable to get the virtualbox vagrant cluster running. I'm going to be digging in today, will update if I find anything.

[2015-07-28 11:32] dalanlan commented on #11893
Hmm...Did all of the components function well?
Seems that the nodes are not quite ready according to the logs.

[2015-07-28 11:41] SunWeicheng0001 commented on #11893
@dalanlan How can I check those components? I am a new one to kubenetes :)

[2015-07-28 11:45] dalanlan commented on #11893
maybe `ps -ef | grep kube`?
Just try to figure out whether kube-apiserver, kubelet, kube-proxy, controller, scheduler all properly run on master node and also kube-proxy & kubelet for minion node.

[2015-07-28 11:47] Andre-Freitas opened #11923 "googleapi: Error 403: Insufficient Permission, insufficientPermissions"
I'm trying to enable loadbalancer in my k8s (0.21.4) services but when i try to define gce in cloud-provider argument in my apiserver, controller-manager and kubelet's i'm having InsufficientPermissions in my logs. Where in documentation can i find how to configue my coreos master and nodes to be able to comunicate with google api and be able to use --cloud-provider=gce?

[2015-07-28 11:48] SunWeicheng0001 commented on #11893
@dalanlan I just `ps -ef | grep kube` and find that
[code]
in my master node, and
[code]
in my both minion nodes

[2015-07-28 11:57] dalanlan commented on #11893
They R not running indeed, I assume. Could u provide ur env plz? platform, docker version, sort of.

[2015-07-28 12:03] SunWeicheng0001 commented on #11893
@dalanlan My env is as follows(a little mess)
[code]
All my nodes' platform is ubuntu 14.04LTS, and docker version is
[code]
And the others is etcd-2.0.12, flannel-0.4.0

[2015-07-28 12:06] stevesloka commented on #9773
I found the same issue reported here #10906 @moander

[2015-07-28 12:17] KSanthanam commented on #11818
The service has NIL Endpoints
kubectl get endpoints rethinkdb-driver
<pre>
NAME               ENDPOINTS
rethinkdb-driver   &ltnone&gt
</pre>

[2015-07-28 12:31] sunvooker opened #11924 "why kube-dns not working"
I make up a cluster with 3 machine, one is master (ai), two nodes (i).
following this guide:https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/README.md

step1 create a test pod, OK.
apiVersion: v1
kind: Pod
metadata:
  name: busybox
  namespace: default
spec:
  containers:
  - image: busybox
    command:
      - sleep
      - "3600"
    imagePullPolicy: IfNotPresent

[2015-07-28 12:32] sunvooker commented on #11924
<img width="648" alt="busy" src="https://cloud.githubusercontent.com/assets/13518194/8931292/b7ec0640-3567-11e5-9548-d39952c6a5ca.png">

[2015-07-28 12:35] dalanlan commented on #11893
Check /var/log/upstart/kube-apiserver.log plz.

[2015-07-28 12:36] Smana commented on #11661
thanks for your link @tenfourty
Unfortunately it won't fix my problem :
i've my openshift pod running but it doesn't seem to be able to request kubernectes api.
The ip address is reachable but maybe some configuration parameters are missing.

To be honest i don't know where to look. That's why i need your help guys :)

[2015-07-28 12:58] SunWeicheng0001 commented on #11893
@dalanlan  The log is like this
[code]

[2015-07-28 13:01] dalanlan commented on #11893
8080 port is already in use so you cannot start api-server properly.
Kill that devil and restart your service or change your api-server `--insecure-port`param to listen to another port.

[2015-07-28 13:09] sunvooker commented on #11924
in my 3 nodes, only one node can do nslookup success,
![image](https://cloud.githubusercontent.com/assets/13518194/8931949/8e54d76c-356c-11e5-9831-dfda5ed08b2e.png)

the other two response error
<img width="663" alt="docker2" src="https://cloud.githubusercontent.com/assets/13518194/8932001/dbe52c2a-356c-11e5-8e5f-cbd815e13c61.png">

[2015-07-28 13:16] ArtfulCoder commented on #11924
I believe you have a "reachability" issue where containers on different nodes cant ping to each other.
You were able to use dns when you tried the lookup from a container on the same node as the dns pod.

I would start with checking if containers in different nodes can ping each other..

[2015-07-28 13:16] SunWeicheng0001 commented on #11893
@dalanlan Thanks a lot! I fix the problem! By the way, if the log like this
[code]
what does it means?

[2015-07-28 13:30] dalanlan commented on #11893
etcd error...
Do make sure all the binaries are distributed properly and flush the etcd data (you can use kube-down.sh simply). Then restart `sudo service etcd start`.

[2015-07-28 13:39] SunWeicheng0001 commented on #11893
@dalanlan I try to do the thing U said. But it gave the same thing.
[code]

[2015-07-28 13:52] jdef commented on #6676
:tada:

[2015-07-28 13:57] loky9000 commented on #11898
cluster configured by https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/mesos.md

any ideas why?

[2015-07-28 14:05] dalanlan commented on #11893
Make sure you do all those stuff on masters & minions.
I believe you have some issues with etcd, or you can confirm that via /var/log/upstart/etcd.log

[2015-07-28 14:16] Iwan-Zotow commented on #5581
Looks like one could do this today with kubectl run job0 --image=gcr.io/PID/IID --overrides='{"apiVersion": "v1", "spec": {"template":{"spec": {"containers": [ {"name": "job0", "image": "gcr.io/PID/IID", "args":[ "arg0", "arg1", ...] } ] } } } }'

[2015-07-28 14:19] derekwaynecarr commented on #11912
Are we going to rate limit how frequently Kubelet sends events or how many events the apiserver will consume or both?  Just worry that if we do it in the latter only that we will end up missing other valid events.

[2015-07-28 14:23] mbabker commented on #11898
I've personally found that the `kubectl` binaries don't seem to be running well with AWS but using the `cluster/kubect.sh` script does work OK.  So give that a shot in the meantime?

[2015-07-28 14:35] thockin commented on #11898
You're going to have to provide more details if you hope to get real help.
We'd love to help you but this is not enough to do anything with.

On Tue, Jul 28, 2015 at 12:45 AM, loky9000 <notifications@github.com> wrote:

[2015-07-28 14:42] loky9000 commented on #11898
Resolved:
old version of docker on mesos slave (v1.0.1)

[2015-07-28 14:42] #11898 closed

[2015-07-28 14:45] thockin commented on #11818
The first message you sent suggested you can't reach your kube master - is
that resolved?

The most common cause of no endpoints is that your Service's selector
doesn't match your Pods' labels.

k8s.io/v1.0/docs/user-guide/debugging-services.html

On Tue, Jul 28, 2015 at 5:17 AM, KSanthanam <notifications@github.com>
wrote:

[2015-07-28 14:55] timothysc commented on #168
agreed, that only hard limits as an option.

disagree, not hard capping will affect SLO.

I do believe what's missing in this conversation is the notion of history in proper sizing.  Right now there is no job-history service to yield best-guess on actual usage.

[2015-07-28 14:56] thockin commented on #11795
Again, Mesos does different things with the ports.  What is the actual
problem you are experiencing?

On Tue, Jul 28, 2015 at 12:53 AM, loky9000 <notifications@github.com> wrote:

[2015-07-28 15:00] stevekuznetsov commented on #11661
@Smana Disregard that link, the up-to-date directions are in the README in #9938. What errors are you seeing requesting the Kubernetes API?

[2015-07-28 15:02] dlyub opened #11926 "after upgrade from 0.18 to 1.0.1 kube-proxy no longer forwards the requests"
Hello,

we have upgraded kubernetes cluster from version 0.18 to 1.0.1 by overlaying the binaries and updating configuration files with the new API version. RCs and services appear to be fine, however it appears that kube-proxy is having issues with forwarding requests to PODs. When the service is restarted I see the following messages in the log:

Jul 28 07:41:01 HOST docker[13241]: time="2015-07

[2015-07-28 15:18] KSanthanam commented on #11818
@thockin Sorry Tim. The Endpoint is listed when I run get Endpoints. But from inside the pod it is not.

[2015-07-28 15:23] Smana commented on #11661
Oups i posted in the wrong issue, my opened issue is :
https://github.com/GoogleCloudPlatform/kubernetes/issues/11869

I thougt i've closed that one

[2015-07-28 15:35] KSanthanam commented on #11818
@thockin I have given the outputs from commands below.

From Host
<pre>
kubectl get endpoints
NAME               ENDPOINTS
rethinkdb-driver   10.56.0.8:28015

kubectl get svc --all-namespaces
NAMESPACE     NAME                  LABELS                                                                           SELECTOR           IP(S)           PORT(S)
default       kubernetes            component=ap

[2015-07-28 15:46] KSanthanam commented on #11818
I ran curl with -v

<pre>
curl  -v ${URL} --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt --header "Authorization: Bearer ${token}"
* Hostname was NOT found in DNS cache
*   Trying 10.59.240.1...
* connect to 10.59.240.1 port 443 failed: No route to host
* Failed to connect to 10.59.240.1 port 443: No route to host
* Closing connection 0
curl: (7) Failed to connect to 10.59.240.1 por

[2015-07-28 16:00] KSanthanam commented on #11818
<pre>
kk_santhanam@gke-dnetworks-28d788ae-node-g2e3:~$ ps auxw | grep kube-proxy
1001      6543  0.0  0.3   7844  1936 pts/1    S+   15:56   0:00 grep kube-proxy
root     22434  1.0  1.4  80196  8920 ?        Sl   Jul27  11:15 /usr/local/bin/kube-proxy --master=https://130.211.254.91 --kubeconfig=/var/lib/kube-proxy/kubeconf
ig --v=2
</pre>

node log
<pre>
[147822.303430] aufs au_opts_verify:1570:

[2015-07-28 16:03] cameronbrunner opened #11930 "kubernetes-ui: Dashboard gauges don't display if cluster contains nodes without persistent filesystems"
In my test cluster with 2 minions where one does not have any permanent storage (running CoreOS with a RAM only file system) the UI gauges for all nodes fail to render leaving a Kubernetes Dashboard with an empty white 'content' pane.  The The exception I received in chrome was:

[code]

The line throwing the exception is:
[code]

This appears to be caused by the 'filesystemData' attribute returne

[2015-07-28 16:07] KSanthanam commented on #11818
I think the problem is that I can't reach the Kube-master from the pod and there is a DNS issue to access. What am I doing wrong.
<pre>
 sudo iptables-save | grep rethinkdb-driver
-A KUBE-PORTALS-CONTAINER -d 10.59.247.3/32 -p tcp -m comment --comment "dn/rethinkdb-driver:" -m tcp --dport 28015 -j REDIRECT --to-ports 44092
-A KUBE-PORTALS-HOST -d 10.59.247.3/32 -p tcp -m comment --comment "dn/reth

[2015-07-28 16:11] SunWeicheng0001 commented on #11893
@dalanlan OK! finally I fix the problem..though I do not the the reason...Anyway, thx for your kindly help!

[2015-07-28 16:11] #11893 closed

[2015-07-28 16:28] sanjana-bhat opened #11932 "Access physical hostname in the k8s launched docker container entrypoint script"
Hi,

Is there a way I can get hold of the underlying physical hostname within the docker container entrypoint script soon after it is launched? k8s doesn't seem to set any env variables to access this. Currently I use a hacky way of mounting /etc/hostname within the container and read the hostname from there. Also does /pods endpoint work since the pod may not be entirely setup at this stage.

Tha

[2015-07-28 16:50] pmorie commented on #11917
Closing because I realized that #7925 is a dupe

[2015-07-28 16:50] #11917 closed

[2015-07-28 16:51] pmorie commented on #7925
Some thoughts about generalizing SELinux context determination:

1.  Currently there is a `VolumeOptions` struct which has a field, `RootContext` which was originally added to pass the SELinux context of the kubelet root dir to the volumes so that they could have this information to add simple SELinux support; I propose that this field be renamed to `SELinuxContext`, and that it should carry the e

[2015-07-28 16:56] caesarxuchao opened #11933 "Audit comments in types.go"
- # 10933 removes the description tag in types.go, the description of fields are merged with other comments as the new description. Some of these comments don't read as a sentence after the merge. Because our api-reference [docs](http://kubernetes.io/v1.0/docs/api-reference/definitions.html) use these descriptions, we need to fix them before #10933.
- # 10933 detects these [structs](https://github

[2015-07-28 17:00] jamespshields commented on #10931
Hello,

I am also seeing this problem, and for me it appears to be related to a missing file in the pod containers:

[code]

I experience a similar issue (container fails to find service account token and dies) with the RethinkDB example. I have tried both Cassandra and RethinkDB examples locally via Docker, and also on Google Container Engine with same result. I am running the examples from kuber

[2015-07-28 17:16] fabioy commented on #11912
We could start with a coalescing of duplicate events and see if that helps. A short wait (1-2 sec) to dedup multiple events could help. A more comprehensive rate-limiter would probably require some sort of back-off protocol between the master and nodes to avoid dropping important events.

[2015-07-28 17:22] krousey commented on #4874
@thockin It depends on where you change it. If you do it in a way where a v1 client gets a message that doesn't have this field, any logic that depends on it being there (e.g. swagger spec based validation) will fail. I do not know how likely that is.

If you change it in a future version (say v1.1), you will just have an incompatibility, but v1 should still work. When clients upgrade our versione

[2015-07-28 17:30] stevekuznetsov commented on #11869
@Smana You are missing serviceaccount information in your `master-config.yaml`
[code]

[2015-07-28 17:36] bprashanth commented on #11912
The kubelet should be using a 5qps connection to talk to the apiserver

[2015-07-28 17:37] smarterclayton commented on #7925
SELinux isn't the only story though for volumes - we probably need to make
sure that it's just one possible volume option.  Agree with your 1-3 as
actions.

Ultimately, our original goal was to ensure that the process running in the
container can write to the volume that is mounted into it.  A use case
where the volume can't be written to is probably not our core objective.

We have two options -

[2015-07-28 17:44] justinsb opened #11934 "AWS: We should run the master in an autoscaling group of size 1"
This will provide automatic relaunch in case of failure.

[2015-07-28 17:51] justinsb opened #11935 "AWS: We should consider updating/reusing cluster-autoscaler to support AWS"
We have an autoscaling group for the minions; we should consider enabling auto-scaling based e.g. on CPU or a custom metric we publish.

[2015-07-28 18:11] justinsb opened #11936 "AWS: We should lock down the IAM policies (further)"
For example, the master currently has blanket permissions on ec2, and the minion has write access to the s3 bucket, but only needs read access.

This may entail giving objects we create a prefix to enable stricter policies.

[2015-07-28 18:13] thockin commented on #11932
The only way you can know the hostname is to query the Kubernetes API, for
now. In general, we'll say you should not ask that question - it leads to
couplings that you don't really want.

Once a pod is accepted by the API it is available through the API.
On Jul 28, 2015 9:28 AM, "Sanjana J Bhat" <notifications@github.com> wrote:

[2015-07-28 18:17] smarterclayton commented on #11626
I think so.

On Tue, Jul 28, 2015 at 12:46 AM, Uday Ruddarraju <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-28 18:17] jonmoter opened #11937 "Document how Secrets are stored and how to secure them"
For purposes of security and compliance, it's important to my organization to understand how sensitive information is stored, and what the attack vectors are for someone to compromise the secrets.

In the current documentation, it doesn't make any mention of where Secrets are stored at rest. Are they in etcd? Are they stored in plaintext, or are they encrypted?  If they're encrypted, where does th

[2015-07-28 18:18] jamespshields commented on #10931
Actually I take that back...both RethinkDB and Cassandra examples are working for me on a fresh GCE cluster with the latest example code. It's only when running locally via Docker that I have this issue, ala:
http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html

[2015-07-28 18:23] roberthbailey commented on #11934
How does AWS handle mounting persistent disks to instances in an autoscaling group? Also, what about health checks (you also want to re-launch the VM if the VM is running but the apiserver is down)?

[2015-07-28 18:34] deads2k commented on #11626
Being unable to authorize service accounts in general means that any image that takes advantage of the SA's ability to talk back to the API server will be broken.  This capability is a key reason to have service accounts and was considered so important that the default admission controller won't admit pods until valid credentials are available (https://github.com/GoogleCloudPlatform/kubernetes/blo

[2015-07-28 18:40] uruddarraju commented on #11626
@deads2k would a whitelist condition like the following fix this ? When we say authorize all serviceaccounts to all. I understand this is something to be fixed on the longer run:

[code]

[2015-07-28 19:07] karlkfi commented on #11908
Two Points were made in conversations:
- @thockin mentioned that the google team likely doesn't have a bunch of time to evaluate or help with a large change in this area. So the smallest change that solves the problem without preventing future changes is prefered.
- @sttts mentioned that scheduler & controller-manager had moved away from talking to etcd directly in favor of using a Storage abstrac

[2015-07-28 19:17] deads2k commented on #11626
I'd suggest `HasPrefix`, but that will work.  It's a pretty big caveat, so @erictune would have to make the allowed/disallowed call, but that would allow images relying on service account credentials to work.

[2015-07-28 19:32] mamikonyana opened #11945 "Can not set `--service-node-port-range` using `kube-up.sh` on ubuntu cluster"
There is currently no way to set `--service-node-port-range` if you are trying to set up kuberenetes using `kube-up.sh` on ubuntu cluster

[2015-07-28 19:38] mamikonyana opened #11947 "If you set `FLANNEL_NET` using environment variable, starting a new ubuntu cluster does not respect that variable"
To reproduce
[code]
And the flannel net configuration is still the default 172.16.0.0/16 from the `config-default.sh`

[2015-07-28 19:39] bkeroackdsc commented on #11632
It's not a very authoritative source, but this is what allowed me to figure it out: https://forums.aws.amazon.com/message.jspa?messageID=375627 (2nd to last post).

The problem manifests if the ELB is in multiple availability zone subnets and one of the subnets is attached to an IGW but one or more of the other subnets are private/NATed. The result is that requests to the ELB from the internet wil

[2015-07-28 19:49] arun-gupta opened #11948 "HTTP Health Check stats are not reported correctly"
A new Pod with HTTP Health Check probe is created as:

[code]

This one works correctly. If the path of second probe is changed to `/movieplex` then status of created Pod is shown as:

[code]

The stats on restarts are not reported correctly because the container should have started multiple times because the probe is failing. The number of restarts should increase by 1 every time it is restarted.

[2015-07-28 19:54] karlkfi commented on #11908
In order to be more similar to the existing `service` rest registry, it probably makes sense to have the apiserver generate unique names (ex: `scheduler-xxxxx`) and return them to the component upon registration, if it doesn't provide one of its own.

[2015-07-28 20:08] timothysc commented on #7925
/cc @rootfs

[2015-07-28 20:11] derekwaynecarr commented on #11908
I am interested in this topic, but need time to think through the ramifications and lifecycle aspects of managing this in etcd.

From a security standpoint, the only component that should speak to etcd directly is the ```kube-apiserver``` so the only viable option right now for me is Proposal B.

[2015-07-28 20:12] karlkfi commented on #11908
I'm playing around with implementing Proposal B atm. I'll comment on any other issues that I come across before it makes it to a PR.

[2015-07-28 20:13] esecules opened #11950 "[Question] Proxy to replace publicIPs based service access?"
As of now Im using public IPs to access my services from outside the kubernetes cluster and I'm looking for a better way than doing:  ```curl http://kubenode1:<some port# I have to find>```. Ideally the solution would only require me to know the service name and the name I gave the port like "dashboard" or "api".

[2015-07-28 20:18] derekwaynecarr commented on #11908
I have been mulling the concept of initializers - which in concept, are just clients to the ```kube-apiserver``` that fulfill many of the use cases we use ```admission controllers``` for today, but avoid having to recompile the binary, etc.

Right now, ```componentStatus``` is really a fixed list of endpoints, so materializing it to make it more dynamic is a +1 in my view.  What I am struggling to

[2015-07-28 20:46] karlkfi commented on #11908
I'm definitely open to adding more functionality around the component registration in the future. So it's worth exploring what that looks like to make sure we're forwards compatible, but I don't want to add much more than url registering atm. I am planning to register a root url with optional path tho, to support the use of proxies between components. It should also work for api requests if there

[2015-07-28 21:14] RichieEscarez opened #11953 "The Google search results on kubernetes.io are all returned with the site title "Kubernetes by Google""
Each page that we host on Kubernetes.io should include the 'title' tags and contain individual page titles, otherwise by default the site title (Kubernetes by Google) is shown as the title of each page that is returned in the "search results".
![image](https://cloud.githubusercontent.com/assets/11762685/8943994/c91d016a-3532-11e5-8ab0-71eecba796a4.png)

Google CSE will slowly regenerate titles as

[2015-07-28 21:20] RichieEscarez commented on #11953
@krousey

[2015-07-28 21:23] derekwaynecarr commented on #11937
@pmorie

[2015-07-28 21:23] RichieEscarez commented on #11591
This entry was removed for GA as the content was not ready (ive noted this for in the near future when this content gets added). Closing.

[2015-07-28 21:23] #11591 closed

[2015-07-28 21:39] loky9000 commented on #11924
the same  on kubernetes v1.0.1 and mesos 0.22.0

[2015-07-28 21:41] Smana commented on #11869
Ok thanks @stevekuznetsov.
Now i have to figure out why this block hasn't been generated and what are the values to these parameters. i'll do some tests tomorow and let you know

[2015-07-28 21:42] uruddarraju commented on #11626
This would be a little better I guess:

[code]
To make sure, no one creates a user in keystone to bypass this known check.

[2015-07-28 21:43] loky9000 commented on #11795
i want to expose custom port  for service  not random. why --target-port=3306 ignored?

[2015-07-28 21:58] yujuhong commented on #11948
@arun-gupta, thanks for reporting the issue!
There has been a regression in reporting the restart counts. Restart counts are currently best-effort stats (i.e., the number may not match the actual count exactly), but it should still increment monotonically. We will fix this soon.

[2015-07-28 22:23] #11302 closed

[2015-07-28 22:30] bgrant0607 commented on #10009
Making TypeMeta unversioned simplifies plumbing through the codebase. Logically, it HAS to be unversioned, so that we can figure out the apiVersion and kind of a given resource across all possible groups, versions, and kinds. For instance, let's say a resource specified "type" and "ver" instead of "kind" and "version". That seems like it would introduce a lot of complexity and ambiguity (esp. sinc

[2015-07-28 22:34] bgrant0607 commented on #10009
And of course all the corresponding List resources.

[2015-07-28 23:06] kelseyhightower commented on #11950
@esecules I've been using NodePort when setting up a kubernetes service. For example I can hit port 36000 on any node running the kube-proxy and hit the hello service.

[code]

[2015-07-28 23:07] kelseyhightower commented on #11950
If you want to use DNS externally consider something like nginx:

[code]

[2015-07-28 23:45] bprashanth opened #11961 "Kubernetes endpoint should not use link-local address of interface"
On certain cloud providers like digital ocean the public interface has multiple addresses, one of which is a link-local address that points to a metadata server. The node is supposed to come up and contact the metadata server to bootstrap the public interface with a real address. At this point, the interface has 2 addresses, eg (from irc debugging): https://dpaste.de/T8s0/raw.

Looks like we creat

[2015-07-28 23:55] bcwaldon opened #11962 "Replace go-etcd with etcd/client"
The go-etcd client library (github.com/coreos/go-etcd) is deprecated in favor of the client library that lives directly in the etcd repo (github.com/coreos/etcd/client). This new library is receiving a lot more love from the core etcd development team, and is the current blessed set of golang etcd bindings.

[2015-07-28 23:56] bcwaldon commented on #11962
/cc @yichengq @xiang90 @barakmich

[2015-07-29 00:09] lavalamp commented on #11875
if kubelet is continuously producing that particular snippet of logs, it must be restarting. Add -v=4 or higher to try and figure out why, or you can look at the monit logs if you're using that, and I think the kubelet's healthz page may also give a clue if you can visit it between restarts.

It looks to me like your flannel problem is probably completely separate. I know nothing about flannel, th

[2015-07-29 00:16] esecules commented on #11950
@kelseyhightower Thanks for the help. Do you know of something that will listen to the kube-master for new services and then add a config like that to nginx?

[2015-07-29 00:16] esecules commented on #11950
@kelseyhightower Thanks for the help. Do you know of something that will listen to the kube-master for new services and then add a config like that to nginx?

[2015-07-29 00:22] sunvooker commented on #11924
I use kubernetes v1.0.1 also.

[2015-07-29 01:00] cjcullen opened #11964 "The waitForOp() function in gce.go should be more robust against transient failures"
Right now, a single 500 trying to get an operation treats the entire operation as a failure. Granted, downstream clients should be reconciler-ish enough to handle these types of errors, but the gce package could be nicer.

This, plus #9382 was causing us to leak resources. After #11891, we aren't leaking resources, but we still can expose some weird behavior because of the retry logic in the servi

[2015-07-29 01:00] cjcullen commented on #11964
@a-robinson

[2015-07-29 01:07] a-robinson commented on #11964
Sounds good to me

[2015-07-29 01:19] pmorie commented on #7925
@smarterclayton Mostly agree with what you said.  I think before I code anything I want to lay out how I see SELinux context, uid, gid being handled across all volume types; I mostly see the matrix for that in my head -- will type it out once I'm sure it makes sense.

[2015-07-29 01:43] sunvooker commented on #11924
when I use command kube-up.sh, why the KubeDNS is auto run,

![image](https://cloud.githubusercontent.com/assets/13518194/8948070/838d2fd2-35d5-11e5-9b1d-f282cf95d66d.png)

In this guide : https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md
which say you must deployAddons so active the DNS, so which error???

[2015-07-29 03:16] derekwaynecarr commented on #11222
@liggitt guessing there is an error in this guide

[2015-07-29 03:17] derekwaynecarr commented on #11222
How are you starting the controller manager?

On Sunday, July 26, 2015, pfremm <notifications@github.com> wrote:

[2015-07-29 03:31] AlexeyKupershtokh commented on #11654
@philk Thank you for a starting point. It seems that I've resolved the issue with the ca.crt.
Details are in comments in another issue:
1) https://github.com/GoogleCloudPlatform/heapster/issues/429#issuecomment-125653775
2) https://github.com/GoogleCloudPlatform/heapster/issues/429#issuecomment-125798911

Now I'm getting another error though:
[code]

[2015-07-29 03:33] liggitt commented on #11222
Service account admission control requires a service account and a token to exist before allowing pods to be created.

The service account token is created automatically by controllers in the controller manager if you provide a service account private key file argument.

[2015-07-29 03:41] brendandburns opened #11965 "Use bandwidth shaping on the master"
Limit outbound and inbound bandwidth, using the `tc` tool, see:

https://www.iplocation.net/traffic-control

[2015-07-29 03:46] liggitt commented on #11222
Also note that the API server defaults to using its TLS serving key to verify service account tokens. If you are not serving over https and don't have a TLS serving key, you can provide the API server the same key file you give the controller manager in order for the API to validate the generated service account tokens.

[2015-07-29 04:12] karlkfi commented on #11908
So, having attempted Proposal B, I'm running into a lot of changes for ComponentStatuses, now that there's a legit Component Storage and Registry. Unfortunately, this leaves etcd out, because it's not really a component of k8s and shouldn't be expected to register itself or heartbeat to the apiserver. I could hardcode in a hack to combine the concepts for reverse compatibility with the existing Co

[2015-07-29 04:15] karlkfi commented on #11908
If we do decide we still want the etcd healthz aggregation, but can accept than not being in `/componentstatuses`, then we could add a `/storage/status` or similar.

I'd also like to change `/componentstatuses` to `/component/status` to match the new `/component` endpoint.

[2015-07-29 04:22] brendandburns commented on #11965
fwiw, a magic incantation that works is:

[code]

[2015-07-29 04:30] erictune commented on #11937
I'll take a quick stab at it, but @pmorie can say better when he has a chance.

Secrets are stored in etcd in plaintext.
Admins should limit read and write access to etcd to only admin users.

They will hit the disk that etcd uses.  Admins may want to shred/wipe disks that ever were used by etcd once not used anymore.

Secrets are stored in plaintext on a tmpfs file on the nodes.  They don't hit t

[2015-07-29 04:36] erictune commented on #11937
The story will get better once we have authorization.

But, even when that is in we might want to think about doing the following things:
- should secrets be encrypted in etcd using the master's private key so that if the user misconfigures etcd to be more widely readable, that the secrets are not exposed?
- default policy for default service account to not be able to read any secrets (@liggitt @d

[2015-07-29 05:03] brendandburns commented on #11965
ref: https://github.com/GoogleCloudPlatform/kubernetes/pull/11968

[2015-07-29 05:04] mikedanese commented on #11920
By default it listen's on 127.0.0.1 so it is not visible on the network. Does that satisfy your concern?

[2015-07-29 05:11] dalanlan commented on #11920
Not really. If only i could even make that non-reachable ( even it may not seem reasonable)

[2015-07-29 05:13] mikedanese commented on #11920
Currently it will always be visible insecurely local to the master. We advise that you lock down access to the master regardless. What is your use case?

[2015-07-29 05:19] roberthbailey commented on #11908
@karlkfi GKE uses the `/componentstatuses` endpoint quite heavily. Please do not make any non-backwards compatible changes to it now that the v1 API is released. We can certainly talk about adding a new status endpoint with richer stats, but please make sure you have buy in from @bgrant0607 before heading too far down that road.

[2015-07-29 05:26] dalanlan commented on #11920
It fits these scenarios - - I take over someone's machines and make them a cluster, yet i would prefer he cannot access the api-server by himself in some way ;-)

[2015-07-29 05:40] dalanlan commented on #11937
/sub

[2015-07-29 05:52] bprashanth commented on #11962
Does it reuse tcp connections or do we have to port our patch? https://github.com/GoogleCloudPlatform/kubernetes/tree/master/third_party/forked/coreos/go-etcd

[2015-07-29 06:00] bprashanth commented on #11909
That's weird. Can you supply more information? (kubectl describe node <bad node>, kubectl get pods -o wide --all-namespaces,  kubectl get events <bad node>, /var/log/kube-scheduler.log from your master node). Some obvious reasons the scheduler might ignore a node are: host port conflict, node-labels, not enough resource, though the latter is less likely since you said you have no pods on the node.

[2015-07-29 06:57] thockin commented on #11795
Mesos maps all pod ports to host ports.  That's not something you can
control.  Is something actually not working?

On Tue, Jul 28, 2015 at 2:43 PM, loky9000 <notifications@github.com> wrote:

[2015-07-29 08:55] Pensu commented on #11877
@yujuhong @mikedanese hi, thanks for your help guys. I looked at the doc and deployed kubernetes using vagrant. There is no flannel and I can see the gre tunneling. One thing I have to ask here, is etcd being used here? As I can see that etcd container is running on my master, but it's not present on the minion. As far as my understanding goes, etcd is used to create cluster and send information a

[2015-07-29 08:57] Smana commented on #11869
Ok, so i've created the kubeconfig file manually by merging all my kubeconfig-files.
Indeed i've three files for controller-manager, kubectl and scheduler
[code]
Below is my master-config.yaml
[code]

Note i still don't have values populated for "serviceAccountConfig" block

I've done the steps once again. Now i have another issue:
My pod is continually restarted (with a new container id). I don't

[2015-07-29 09:13] Smana commented on #11869
Hmm it seems to be related to etcd.
I've launched openshift manually into a docker container :
[code]
I'm digging further

[2015-07-29 09:56] frosenberg commented on #11324
I see this as well when frequently deploying/testing. Unfortunately, it happens far too often (running v1.0.0).

[2015-07-29 11:15] pmoncadaisla opened #11974 "Volume does not bind on RC when pod dies"
Hi,

I'm currently running Kubernetes on GCE.
I have a replication controller for a MySQL service, this is the YAML file:

[code]

The first time the pod is created by the replication controller, everything works fine, the disk is mounted on the host and binded to the container.
If the pod dies, and the replication controller attemps to create a new pod, the pod is created (and running) but "it fo

[2015-07-29 11:41] Smana commented on #11869
Ok, now i configured openshift to use the kubernetes master etcd service :
[code]
But i have this error :
[code]

[2015-07-29 11:43] mcadam opened #11975 "AWS + CoreOS + k8s 1.0.1 Documentation"
Hello,

Is there more documentation on how to run a Kubernetes cluster using CoreOS on AWS ??

I tried the script for AWS specifying KUBE_OS_DISTRIBUTION=coreos, it started a master on ubuntu, and then tried to launch my minions but they all crashed.

I first had to modify the cluster/aws/coreos/util.sh script and delete those lines to make the script go this far:

[code]

That crashed because you

[2015-07-29 12:02] deads2k commented on #11937
For authorization purposes in openshift, service accounts are treated as a normal user.  This means that a service account has no privileges by default.  Openshift authorization rules can be scoped to namespaces and we suggest granting some privileges to certain service accounts, but we do not force them.  In particular,
 1. GET access to image streams (openshift concept that allows you to name im

[2015-07-29 12:10] loky9000 commented on #11795
endpoint creating it something mysterious.
We have a pod:
apiVersion: v1
kind: Pod
metadata:
  name: mysql
  labels:
    name: mysql
spec:
  containers:
    - resources:
        limits :
          cpu: 0.5
      image: mysql:5.7
      name: mysql
      env:
        - name: MYSQL_ROOT_PASSWORD
          # change this
          value: 1qaz2wsx
      ports:
      - containerPort: 5555
        name: f

[2015-07-29 12:56] andronat commented on #11933
Just reposting the list of missing documentation here:

[code]

[2015-07-29 13:17] erictune opened #11976 "Suggested staging of Disk Space work"
From conversations with @wojtek-t @fgrzadkowski @jszczepkowski @gmarek @davidopp @bgrant0607 @mwielgus @piosz @vmarmol

First round of disk space changes (target v1.1):
1. kubelet has flags that user can set to specify desired amount of disk space of main disk to set aside for inactive images and logs from terminated containers
2. kubelet measures usage of idle images and terminated container's vo

[2015-07-29 13:55] bnprss opened #11977 "kube-proxy ProxyLoop() contends on mutex with iptables sync loop"
By looking why sometime my sites magicaly slow down for a short period of time I got that :
each 5 seconds dns query are jumping from < 2 ms to that ...

until [[ 0 -eq 1 ]]; do  dig mysql-change @10.0.0.10  | grep -E "time: [0-9]{3,}" && date; done
;; Query time: 2187 msec
Wed Jul 29 13:39:31 UTC 2015
;; Query time: 2114 msec
Wed Jul 29 13:39:36 UTC 2015
;; Query time: 1890 msec
Wed Jul 29 13:39:

[2015-07-29 14:03] stevekuznetsov commented on #11869
The serviceaccount key information is spelled out in the README for #9938. You need to find the public or private key that Kubernetes master is using for serviceaccounts and give it to OpenShift in the `master-config.yaml`. The document also talks about how to reference external Kubernetes and etcd, which I see you also found. I will be better able to help you if you follow that README's steps, ju

[2015-07-29 14:20] Smana commented on #11869
ok that's what i'm going to do

[2015-07-29 14:43] huikang opened #11978 ""kubectl delete rc" not work as expected"
Hi
I would like to disable the replication controller of a pod, while leaving the pod running. So from this link https://cloud.google.com/container-engine/docs/replicationcontrollers/operations#deleting_replication_controllers

I run "$ kubectl delete rc NAME --cascade=false"

To test if the rc is disabled, I tried deleting a container and see if kubernete will create a new one.
I run "docker rm -

[2015-07-29 14:46] huikang commented on #11978
By the way, the recovered container has a difference ID than the removed one. So I guess it is created by replication controller, which I have disabled by kubectl delete.

[2015-07-29 14:47] mcadam commented on #11324
+1

[2015-07-29 14:51] mcadam opened #11979 "AWS Request limit exceeded"
Hello,

I am having issues with a deployment on AWS with version 1.0.1. I had a collision in security group when I launch a service and there already was a security group from an earlier deployment of the "same" cluster.  I deleted the security group and then kubernetes managed to create the load balancer so thats good, but since then I am having these messages in a loop:

E0729 14:48:07.005129

[2015-07-29 14:54] jboelter commented on #11934
Are the files/configuration that need to survive termination in a known location?

We could create an EBS volume and mount it in the master instance.  Alternately, I think the same idea would work, but it would need to be the boot volume.

[2015-07-29 15:04] Smana commented on #11869
@stevekuznetsov
I tried to follow your steps, here's the complete history
[code]
The service is already configured as desired
[code]

Etcd cluster
[code]
Generate configuration
[code]
which gives
[code]

write openshift configuration
[code]

Take the kubernetes server key
[code]
Generate secret json
[code]

I get the following error
[code]

[2015-07-29 15:13] iterion commented on #11934
@jboelter We put all of the config that needs to survive on an EBS that is mounted to the master when it is initially created (not the boot volume, but a second disk that has the essential info placed on it).

@roberthbailey We can mount a blank disk or a snapshot of a disk. But, I don't think there is any way to have the ASG know to remount the disk that was used previously.

For this to come bac

[2015-07-29 15:20] chuckbutler commented on #11852
I can confirm that the break is during the swagger build portion. I had to scale a CI instance from 2GB to 4GB just to complete the build steps in `cluster/kube-up.sh`

[2015-07-29 15:28] bnprss commented on #11977
With further analysis anything run good on docker part, checking directly the virtual ip address of docker pod always return in time!
checked on coreos and default kubernetes debian image.

[2015-07-29 15:39] jboelter commented on #11934
@iterion perfect -- The ASG has an associated LaunchConfiguration that specifies the details. We should be able to reference a known volume id created prior. This assumes there are no race conditions w/ the volume in use after termination while a new instance is created.

[2015-07-29 15:52] iterion commented on #11934
@jboelter Interesting, I can't find where to specify the volume id when creating a launch configuration, perhaps I'm looking in the wrong place. It looks as if you can specify a `BlockDeviceMapping`. On that mapping I see that there is a way to configure an EBS instance but it only lets you specify a snapshot id.

FYI - I'm looking here: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuid

[2015-07-29 15:54] jboelter commented on #11934
@iterion yeah, just noticed the same and edited my note above as you posted

[2015-07-29 15:54] bprashanth commented on #11877
Without getting into the technical details, openswitch gives you the ability to operate a 'real' sdn by forwarding traffic through a control plane (so multi-tenancy, traffic shaping etc are easier). Flannel was built to be a simpler overlay network that assigns routable ips to containers on multiple hosts. A fairer comparison would be openswitch in "bridged" mode and flannel.

At the end of the da

[2015-07-29 15:54] #11877 closed

[2015-07-29 16:00] Smana commented on #11869
the localhost is get from the file "admin.kubeconfig":
[code]

[2015-07-29 16:00] iterion commented on #11934
Bummer, perhaps we could tag the ASG or launch configuration with the volume id that was used? Alternatively, we could tag the EBS with something that identifies it as the master disk for that cluster. We run the risk of having multiple disks with the same tags though.

[2015-07-29 16:46] #5906 closed

[2015-07-29 16:54] bnprss commented on #11977
Open question :
Why using iptables to handle alone the inter-cluster communication instead of routing? each pod has it's own ip, it doesn't suffer from iptables refresh slowness, as well as missing rule. Nodes forwarding work great and on gce, it's ok to do so.

Skydns might handle pod ip as RR dns A record and all that mess will run smoother.

Currently I do have dbs with replication, php with so

[2015-07-29 16:55] bprashanth commented on #11978
you're confusing the responsibilities of the kubelet and the controller. You can delete an rc and it won't create any more pods for you, but for as long as a pod exists (shows up in kubect get pods --all-namespaces), the kubelet (running on the host the pod is assigned to) will make sure the containers in the pod are running.

You should not kill docker containers directly. If you want to get rid

[2015-07-29 16:59] jayunit100 opened #11981 "Set cardinality of ReplicationControllers -> Pods as (One -> Many) not (Many <-> Many)"
From https://groups.google.com/forum/#!topic/google-containers/-pA2pIsM8yU...  its possible that RC <-> Pod can be a many-many relationship, because RC's don't mark their territory !

This means RC's can fight over pods.

You can see the fallout of this in the GetPodControllers function in listers.go, where you have to return a list of replicationControllers managing a pod.

This is both counterin

[2015-07-29 17:02] jayunit100 commented on #11981
cc @timothysc @rrati @lavalamp .  This may/may not effect HA haven't thought it out entirely.

[2015-07-29 17:04] lavalamp commented on #11981
What do you mean by "fix"? There's probably already issues about this, btw.

[2015-07-29 17:08] jayunit100 commented on #11981
Happy to close if another issue is out there.... I didnt see one though?

[2015-07-29 17:14] mikedanese commented on #11981
We currently consider this to be user error. Results are deterministic for RC overlap after #10443 but the problem will be exacerbated when we add more pod controllers. I was looking for an "Ownership" issue but I couldn't find one.

[2015-07-29 17:17] lavalamp commented on #11981
Hm, I can't find one either, I guess I'm thinking of various PRs. This is one of @bprashanth's favorite issues. ;)

See #10443 and #10524; also #2395 and #10477 for PRs we didn't merge.

[2015-07-29 17:18] thockin commented on #7925
I continue to be out of my depth on security issues, but this seems to be pointing in the right direction.  What I really can't tolerate is sprinkling a little selinux over here, and some contexts over there, to the result that the codebase is littered with bits of detritus that nobody can comprehend in toto.

The biggest issue for me is that we attach SecurityContext to Containers, but Volumes sp

[2015-07-29 17:21] lavalamp commented on #11981
Oh, and I think this is completely orthogonal to HA.

On Wed, Jul 29, 2015 at 10:02 AM, jay vyas <notifications@github.com> wrote:

[2015-07-29 17:21] thockin commented on #7925
Make this easy or nobody will get it right.

How does this whole mess degrade when NOT using selinux?

[2015-07-29 17:35] pmorie commented on #7925
@thockin When not using SELinux, the whole determination of the SELinux context should be skipped and no actions should be taken in the form of:

1.  `chcon` on the volume (or pass of `:Z` to docker)
2.  `context` or `rootcontext` arguments to mount

[2015-07-29 17:36] a-robinson opened #11982 "kubelet should be able to hit GCE's v1 metadata server instead of v1beta1"
GCE's v1beta1 metadata API is no longer documented and probably doesn't have a whole lot of life left. However, GCE's container VM image relies on the kubelet to be able to talk to the metadata server when using it as a manifest URL, and is going to need it to continue working. The [v1 metadata API](https://cloud.google.com/compute/docs/metadata?hl=en#querying) requires the caller to specify the H

[2015-07-29 17:36] a-robinson commented on #11982
@zmerlynn

[2015-07-29 17:38] bcwaldon commented on #11962
I can't tell you for sure, but I do see that the client sets a default KeepAlive value on a customer net.Dialer: https://github.com/coreos/etcd/blob/master/client/client.go#L43. Maybe the etcd team can chime in here.

[2015-07-29 17:40] bprashanth commented on #11962
@lavalamp @wojtek-t

[2015-07-29 17:43] thockin commented on #7925
Please don't push the "is selinux enabled" into Volume plugins - it will
never converge :)

On Wed, Jul 29, 2015 at 10:36 AM, Paul Morie <notifications@github.com>
wrote:

[2015-07-29 17:43] vishh commented on #9473
Do we ever plan to support dynamic updates of compute resources?

[2015-07-29 17:44] pmorie commented on #7925
@thockin Agree -- there will be _some_ conditionals around 'do i need to add this argument to mount', but I don't think that's avoidable.

[2015-07-29 17:53] dchen1107 commented on #10009
cc/ @krousey This one is related to what we talked about yesterday on API group and api.Status versioning or unversioning, etc.

[2015-07-29 17:54] nikhiljindal commented on #10009
ok thanks @bgrant0607. I will review https://github.com/GoogleCloudPlatform/kubernetes/pull/10582 assuming that we are unversioning TypeMeta and are updating version to be group/version.
Thanks!

[2015-07-29 17:55] #9119 closed

[2015-07-29 17:56] yujuhong commented on #11981
I believe #2210 is the original issue

[2015-07-29 18:02] mwielgus opened #11984 "Local docker cluster doesn't populate service account token"
Local cluster (created with http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html):

[code]

GCE cluster:

[code]

Examples that depend on Pod<->API communication crash because of this. Ref: #10931

[2015-07-29 18:05] thockin commented on #11977
http://docs.k8s.io/v1.0/user-guide/services.html#why-not-use-round-robin-dns

There is not enough information here to properly address your issue.  What Kubernetes version, what OS, what cloud, how did you do setup, what network overlay if any, etc.

Running on my own cluster, for example:

[code]

and

[code]

[2015-07-29 18:08] jayunit100 commented on #11981
Okay perfect.  I'll close this guy and follow up in #2210 !

[2015-07-29 18:08] #11981 closed

[2015-07-29 18:13] #11225 closed

[2015-07-29 18:18] mikedanese opened #11985 "Datarace: Etcd Client in integration test"
[code]

[2015-07-29 18:18] patrickbcullen opened #11986 "Custom root Cgroup for a pod"
I looked in the source code, but it does not seem to be possible to specify the Cgroup in the Pod spec. I see that Kubelet allows for a custom root Cgroup, but it is applied to all Pods. I would like to have certain Pods startup in a different Cgroup so I can manage the CPU set independently from other Pods.

[2015-07-29 18:24] thockin commented on #11986
I'm not sure if we want to expose this as a feature - we want to use parent
cgroups for QoS management.  I think we'd do better to expose intentions
for QoS, and maybe make the implementation of policies more pluggable.

On Wed, Jul 29, 2015 at 11:19 AM, Patrick Cullen <notifications@github.com>
wrote:

[2015-07-29 18:29] mikedanese commented on #11986
related to #5671. I think that kubelet wants  to create/be in control of that cgroup though

[2015-07-29 18:32] jiangyaoguo commented on #7304
@erictune  Is there anyone working on this?  May I work on it?

[2015-07-29 18:37] abrutus commented on #11912
+1 I started an RC that had a secret that was not previously created. This created a myriad of failed events, nodes ran out of space, and it effectively DOSed the API server. I was unable to issue any kubectl command because of this.

[2015-07-29 18:49] bnprss commented on #11977
@thockin you're not running enough samples, to be sure to have a least one pass on kube-proxy refresh. You'll have to run more than 5000 loops. That's why I filtered on time > 1s.

Good points on DNS RR. But it's the easiest way to handle multiple endpoints while real balancing is WIP.

So I'm on a full 1.0.1 cluster  with 1 master, 12 nodes : 11 coreos, 1 debian. The gce nodes are all  on same po

[2015-07-29 18:50] derekwaynecarr commented on #11909
Are the pods managed by a replication controller?
Are the pods load balanced by a service?

[2015-07-29 19:00] BenTheElder commented on #3760
I could use some feedback/input on the current implementation (https://github.com/GoogleCloudPlatform/kubernetes/pull/9210) if anyone has time.

It's mostly complete and currently full up to date with the upstream master, I need to finish writing the code that compares the generated rules to `iptables-save` and restores the counters etc, but the rules are generated and (mostly) work, pretty much f

[2015-07-29 19:00] derekwaynecarr commented on #1627
So I am interested in knowing if the api server just supports a config-source that is writeable via some other API, or if I should be editing the master/node config via the api-server itself.

I would like to be able to do the following (this may be too advanced):

1.  modify admission control flags without restart
2.  register a kind -> []initializers if/when we have that concept (trying to find

[2015-07-29 19:22] nelcy commented on #147
@AnanyaKumar
Thanks for the proposal. We included burstable pods and that should cover the use case I was concerned about. I will spend some more time and send you review comments if any. First look, the proposal is very good.

@erictune I like the idea of control loop on top, but it doesn't always give us a completely elastic behavior. in my previous experiences, with control loop it was always a

[2015-07-29 19:26] pmorie commented on #11319
@smarterclayton I am also not sure; I am talking to folks about this now.

[2015-07-29 19:40] patrickbcullen commented on #11986
The use case is that some pods need different CPU affinity from other pods to avoid negative interactions. CPUsets in Cgroups are one way to deal with that.

[2015-07-29 20:01] nikhiljindal commented on #11226
Being fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/10426

[2015-07-29 20:21] jayunit100 commented on #2210
related #11990 to clarify the current state of things

[2015-07-29 20:24] perljedi commented on #11226
Cool, thanks!

[2015-07-29 20:25] thockin commented on #11986
We're deeply deeply familiar with the problem.  Handing control to users is
a short-term fix, and maybe we need to do it, but it's a long-term disaster
to try to mix user-managed stuff with auto-managed stuff

On Wed, Jul 29, 2015 at 12:41 PM, Patrick Cullen <notifications@github.com>
wrote:

[2015-07-29 20:50] smarterclayton commented on #1627
Although I think requiring a restart to pick up config has good
characteristics (forces you to deal with rolling updates, focuses on the
exact config state, reduces the amount of scenarios to test around config
changes) independent of whether they're stored in the API - enough to not
assume that the point of it being in the API is to do it without restart
(although some people might).

On Wed, Jul

[2015-07-29 20:55] smarterclayton commented on #7925
If we can get groups to work I think a pod should have a group, done, end
of story.  Then every volume would have a group.  I feel a little weird
about saying that all containers in a pod have the same security context,
but I understand why you have the desire to simplify to that.  I can think
of lots of scenarios with user namespaces where I'd want container A to
have uid 1 and pod B to have uid

[2015-07-29 20:56] smarterclayton commented on #9473
Yes, another issue #8157 exists for it

On Wed, Jul 29, 2015 at 1:43 PM, Vish Kannan <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-07-29 21:04] erictune commented on #11070
Re 1:
Can you elaborate.  You want to run something not in a pod, and have it use a kubernetes generated service account token?  What is this thing?  How can a thing that is not in a namespace be associated with a namespace?

Re 2: why do they want to do that?

Re 3:  seems fine.

Re 4:
So, in the solution you envision for 4, you could create a service account that has a certain imagePullSecret bu

[2015-07-29 21:25] #10244 closed

[2015-07-29 21:26] pmorie commented on #9473
@bgrant0607 @thockin I like the contextual anchor idea.  I think something like that is needed in order to have a single expression field that is generally useful.  Otherwise we will have to differentiate fields in order to have different targets for different expressions.

[2015-07-29 21:27] pmorie commented on #9473
@vishh Good question -- perhaps this should be exposed solely via the volume plugin, which will support eventual consistency.

[2015-07-29 21:34] jbeda opened #11993 "No events for Pods deleted due to lost node"
When a node is lost and the corresponding pod is deleted, there is no trace of that pod getting deleted in the event stream.

To repro:

* Create a new pod w/o a replication controller
* Disable the node in question -- i did it by killing the kubelet and keeping it dead on that node.  (for GCE, this means disabling/modifying monit)
* Wait ~5 minutes
* Notice the pod is gone
* Run `kubectl get ev`

[2015-07-29 21:44] jbeda opened #11994 "kubectl: no way to list events about a specific object"
There is no way, with kubectl, to find all the events about an object.  If the object still exists, you can use the "describe" command on it and that will list the relevant events.  But if the object doesn't still exist, the only way to get this data is via `kubectl get ev` and wade through lots of noise.

[2015-07-29 21:54] iterion commented on #11979
@mcadam I'm seeing the same thing, and AWS let me know they didn't like it:

@justinsb It seems like maybe when we describe the route tables Kubernetes is not seeing them as being consistent with what it expects internally. Any ideas on what the root cause might be here? I haven't looked at this piece closely yet, but will try to find and fix the issue.

[2015-07-29 21:59] bprashanth commented on #11993
The node controller should send this event, it's caused us clarity problems in the past  (https://github.com/GoogleCloudPlatform/kubernetes/issues/10306) @gmarek

[2015-07-29 22:13] soundofjw commented on #11909
Thanks for the followup!

## General setup

Pods are managed by replication controller.
One load balancer/service is made available to a handful of those pods.

## kubectl describe node
[code]

## kubectl get pods -o wide --all-namespaces

Well I didn't know about this command, but I'm sure herein lies my answer. There ARE pods there, they are just the kube-system pods. This is all fine, minus the

[2015-07-29 22:21] bprashanth commented on #11909
I think your node ran out of cpu. You can confirm by checking the cpu on the pods already on it (the cluster addons: dns, fluentd, ui; use something like -o json | grep cpu -A 4), the pods in the default namespace get a default cpu resource applied (kubectl get limits -o json).

[2015-07-29 22:34] soundofjw commented on #11909
Thanks @bprashanth :

`kubectl get pods -o json | grep cpu -A 4`:
[code]

The only limit is this one, as you mentioned:
[code]

I was under the impression there was still no way to assert pod resource limits -- #168

[2015-07-29 22:35] iterion commented on #11979
Some research - I believe this has to do with the name that Kubernetes has assigned to my instances internally.
`kubectl get nodes -o json` tells me that my node looks like this:
[code]

Whereas describe-route-tables returns the amazon instance identifier:
[code]

@justinsb Based on the above, I'm guessing we should just use node.Spec.ExternalID instead of node.Name when doing the reconciliation.

[2015-07-29 22:45] a-robinson opened #11997 "fluentd instance running on the master isn't collecting etcd logs"
It's collecting all the other relevant logs (docker, apiserver, controller-manager, scheduler, kubelet), but for some reason isn't picking up etcd's logs. It should just be collecting the logs of all pods, so I'm not immediately sure why etcd's aren't being collected.

[2015-07-29 22:47] Symmetric commented on #3760
One other issue that needs input:

In the current code the kube-proxy is still included, to handle ONLY the nodePort case. I think we can do away with kube-proxy in this case too, and have proposed some simple iptables rules to do so on [Ben's PR](https://github.com/GoogleCloudPlatform/kubernetes/pull/9210#issuecomment-125794747).

But these rules still obscure the source IP of any external LB, so

[2015-07-29 22:47] nikhiljindal commented on #11226
Fixed by #10426

[2015-07-29 22:47] #11226 closed

[2015-07-29 23:09] JanetKuo commented on #8190
/subscribe

[2015-07-29 23:32] caesarxuchao commented on #8190
/sub

[2015-07-29 23:33] preillyme commented on #11775
@mahesh3267 are you still seeing this issue?

[2015-07-29 23:39] #11564 closed

[2015-07-29 23:41] caesarxuchao commented on #11677
fixed by #11726

[2015-07-29 23:41] #11677 closed

[2015-07-29 23:41] cjcullen opened #12000 "Kubelet shouldn't need compute scope to register w/ apiserver (on GCE)"
Kubelet calls cloud.Instances().ExternalID(), which makes a call to gce.service.Instances.Get(). The externalID is on the metadata server. We should get it from there.

[2015-07-29 23:44] cjcullen commented on #12000
This is one piece of #8074.  Arguably more important, because right now you can't get a functional cluster without compute.read. We should be able to give you a functional cluster with 0 scopes on the nodes (it just won't be able to mount PDs or use gcr.io private repos).

[2015-07-29 23:45] mcadam commented on #11979
I am not doing the calls, Kubernetes is for me :).

It tried to do a load balancer and failed, after that I helped when i saw the logs saying that there already was some security group, deleted it and then it managed to do the load balancer. So i guess the routes making comes from that,

My use case is not something out of the ordinary, I launched a reverse proxy and it tried to create an external

[2015-07-29 23:46] caesarxuchao commented on #10966
We have http://kubernetes.io/v1.0/docs/api-reference/definitions.html and http://kubernetes.io/v1.0/docs/api-reference/operations.html now. Close this issue.

Future improvements to those pages include: #11567

[2015-07-29 23:46] #10966 closed

[2015-07-29 23:52] saad-ali commented on #11457
@marcospedreiro I haven't been able to repro this.

I created a influxdb container using the Dockerfile you provided and pushed the image to my nodes.

I created a RC using the JSON you provided. I had to change `v1beta3` to `v1` because `v1beta3` is no longer supported.

A pod was successfully created by the RC. I deleted the pod using `kubectl delete pod <podname>` and the RC automatically creat

[2015-07-29 23:53] bprashanth commented on #10408
@mikedanese https://github.com/GoogleCloudPlatform/kubernetes/pull/11679

[2015-07-30 00:05] #10768 closed

[2015-07-30 00:13] iterion commented on #11979
Yep, sorry, my flurry of details might have been confusing. What I was trying to say was: Kubernetes is doing the same thing on my AWS account and they actually sent me that message to let me know.

The load balancer problem you saw is actually another issue that I believe has been merged and should be in the next release, see #11029.

No need to create the routes manually, they have probably been

[2015-07-30 00:14] lavalamp opened #12002 "set memory limits for etcd & kube-apiserver"
Our standard salt-based startup scripts start etcd & kube-apiserver without any memory limit. Etcd is capable of using enough memory to make the VM start swapping, and in that case it becomes just about impossible to ssh in and figure out what is wrong. We should set a memory limit so that only etcd OOMs instead of making the entire system OOM.

kube-apiserver should get the same treatment.

[2015-07-30 00:18] caesarxuchao commented on #11933
@andronat, do you plan to help audit the comments?

[2015-07-30 00:23] jayennis22 opened #12003 "kube-proxy iptables changes not taking effect"
Services are not working for me and have not since v0.18.2.

The following example is hyperkube v0.21.2  deployed on Ubuntu 14.04.2 LTS.

Start by creating the kube-ui service and pod from the standard configuration files:
[code]

At this point, I can successfully access kube-ui at the pod address, so I know the pod is working.
However, I cannot not access it from the node address.

Here I verify

[2015-07-30 00:32] thockin commented on #12003
Is kube-proxy running with --net=host ?

On Wed, Jul 29, 2015 at 5:23 PM, Jay Ennis <notifications@github.com> wrote:

[2015-07-30 00:50] jayennis22 commented on #12003
Ummm, no.  Is that a kube-proxy option?  If so, I would have expected to find that documented here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admin/kube-proxy.md  Is there another place I should look?  I'll give it a try regardless.  Thanks!

[2015-07-30 00:57] thockin commented on #11977
We know kube-proxy has a long-tail problem, but it's not usually
multi-second.  See the "histogram" below.  Your point about doing
iptables-restore in one shot is taken.

root@af0e40b6c43d:/# for i in $(seq 1 100000); do curl -Ik
https://kubernetes.default -s -w '%{time_total}' -o /dev/null; echo; done |
sort | uniq -c
    171 0.014
  14170 0.015
  39305 0.016
  19709 0.017
   9367 0.018
   4064 0

[2015-07-30 00:58] thockin commented on #12003
You said you're using hyperkube, so I assumed you're running it in docker.
Let me back up - is your kube-rpxy running in a docker container or
staright on the machine?

On Wed, Jul 29, 2015 at 5:51 PM, Jay Ennis <notifications@github.com> wrote:

[2015-07-30 01:27] jayennis22 commented on #12003
In a container...
You said you're using hyperkube, so I assumed you're running it in docker.
Let me back up - is your kube-rpxy running in a docker container or
staright on the machine?

On Wed, Jul 29, 2015 at 5:51 PM, Jay Ennis <notifications@github.com> wrote:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admin/kube-proxy.md

Thanks!

https://github.com/GoogleCloudPlatform

[2015-07-30 01:41] alex-mohr commented on #7660
@lavalamp found failure modes of replication controllers where they spinloop creating pods that subsequently fail.  With nothing to reap those failed pods, they accumulate until etcd and apiserver get unhappy and the cluster is unusable.

Note that we need to bound the size of etcd's database, so a purely time-based GC interval may not be sufficient.

[2015-07-30 02:03] bgrant0607 commented on #7660
The RC manager could do smarter GC, such as taking into account the failure reason. For instance, if there are no logs associated with the pods, there's no need to keep the pods in addition to the events. I'd also be in favor of backing off restarts. There was discussion about that in #2529.

[2015-07-30 02:44] thockin-cc commented on #12003
The instructions for running kubernetes in docker containers says you have
to run the proxy with --net=host (docker arg)
On Jul 29, 2015 6:28 PM, "Jay Ennis" <notifications@github.com> wrote:

[2015-07-30 02:57] Icedroid commented on #11222
@derekwaynecarr ./kube-controller-manager --v=0 --logtostderr=false --log-dir=/var/log/k8s --master=127.0.0.1:8888

@liggitt  I found it don't create the default service account automatically
# kubectl get serviceaccounts
NAME      SECRETS
default   0

[2015-07-30 03:15] GuoHui89757 opened #12006 "kube-apiserver error"
[code]

in my firefox, it looks like this
![image](https://cloud.githubusercontent.com/assets/12525252/8975064/f97e466e-36ab-11e5-8856-6105701a092a.png)
Is this a bug?

[2015-07-30 03:39] Icedroid commented on #11172
How to sloved this?

[2015-07-30 03:48] timothysc commented on #11172
The easiest options are to use the salt-scripts or ansible setup to ensure proper deployment configuration.

[2015-07-30 03:52] markturansky commented on #9843
@mikedanese Is this closed by #10783?

[2015-07-30 04:12] liggitt commented on #11222
You can do what `hack/local-up-cluster.sh` (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/local-up-cluster.sh) does:

To generate the key:
[code]

To start the api server:
[code]

To start the controller manager:
[code]

[2015-07-30 04:59] bgrant0607 commented on #11631
cc @gmarek @davidopp, since we were just discussing this

[2015-07-30 05:06] Naresht-vedams commented on #10918
The reason, flannel is not working properly. Run reconfDocker.sh(/root/kube/reconfDocker.sh) on each node, Then check the docker0 and flannel0 bridge IPs on each node both should be in same network. Then only load balancing will works. It's worked for me.

[2015-07-30 05:10] lavalamp commented on #7660
Sure, RC manager could be smarter. But I think this problem is bigger than just RC (since we're going to add job and daemon controllers in the near future) and deserves a solution that is bigger than RC manager.

[2015-07-30 05:33] mikedanese commented on #9843
Yes I believe so. I'll monitor it over the next couple days.

[2015-07-30 05:33] #9843 closed

[2015-07-30 05:40] thockin commented on #8190
I certainly have not hashed it all out, I think the only way to arrive at
answers will be to try a few attacks and see what sticks.  I have been
chewing on it off-and-on, and I think I can get behind the
no-internal-version thing.

I'm going to write stream of consciousness, mostly.  No filter, all my
idiocy in one post...

In my mind it was something like:

pkg/api/v1/foo.go:
[code]
I'm wildly wa

[2015-07-30 05:56] thockin-cc commented on #11977
I was thinking more on iptables-restore, and I don't really see how to use
it safely.  There's no compare-and-swap optimistic concurrency mode and
there's no way I can see to load just a single chain - only whole tables.
This makes it very awkward to use for our "check if it exists and if not
add it" mode, especially if anyone else is using the NAT table.  Consider:

kube-proxy reads state of -t n

[2015-07-30 06:02] lavalamp commented on #7660
I want to add that from my vast sample size of 1, users in practice don't delete failed pods and instead just ignore them. Just having them in the `kubectl get pods` list isn't enough to cause users to go out and delete them. Users may not even realize they are supposed to do that.

At a minimum we should make get pods work with that by hiding these by default, and if any were present, print somet

[2015-07-30 06:04] thockin commented on #11953
@krousey: Do you have time to take this one?

On Tue, Jul 28, 2015 at 2:21 PM, RichieEscarez <notifications@github.com>
wrote:

[2015-07-30 06:11] thockin opened #12010 "gh-pages docs: Anchors are off the top of the page"
e.g. http://kubernetes.io/v1.0/docs/user-guide/debugging-services.html#does-the-service-exist

The main page scrolls up and behind the top banner, so when you load an anchor, it anchors up there behind.  Very unhelpful.

[2015-07-30 06:11] thockin commented on #12010
@RichieEscarez

[2015-07-30 06:26] thockin commented on #11795
@karlkfi

[2015-07-30 06:30] dalanlan opened #12012 "How to use additional non-K8s secrets with an existing service account."
According to the [user guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/user-guide/service-accounts.md#adding-secrets-to-a-service-account), it's possible to consume a secret with an existing service account. Yet the doc marks it as TODO currently.
I tried to figure this out and could use some help here.

Note that i do have an existing serviceaccount `build-robot` with 2

[2015-07-30 06:31] #11920 closed

[2015-07-30 06:33] Icedroid commented on #11222
Thanks for your reply.

[root@urestful bin]# genrsa -out /tmp/kube-serviceaccount.key 2048
Generating RSA private key, 2048 bit long modulus
............................................................+++
.......................................................................................................................+++
e is 65537 (0x10001)

[root@urestful bin]# ./kube-apiserver --insecure-b

[2015-07-30 06:42] yichengq commented on #11962
@bprashanth You still need to set `MaxIdleConnsPerHost` for `Transport` in `client.Config`. But you don't need to fork anything, and you could set the transport used when creating the client.

The benefits I could see:
1. cleaner API. keysAPI has only 7 calls now(http://godoc.org/github.com/coreos/etcd/client#KeysAPI), and it is easily extensible.
2. It support members and auth API.
3. it is threa

[2015-07-30 07:12] #10918 closed

[2015-07-30 07:33] wojtek-t commented on #11962
I think that we should wait until https://github.com/coreos/etcd/issues/3193 is fixed (it doesn't seem to be a lot of work). Once this is fixed we should be able to migrate to the new library relatively quickly.

[2015-07-30 07:37] gmarek commented on #11993
I'll fix this in not-too-distant future.

[2015-07-30 07:44] gmarek commented on #11631
I'm assigning myself to it for now, so I won't forget about this. I'll try to fix this next week if I won't get anything more important.

[2015-07-30 07:44] bnprss commented on #11977
@thockin I made some test, and I'm now sure: no traffic is handled at all while kube-proxy iptables loop, checked by logging on level 5 .

I see three potential solutions :
1) keep the proxysocket.go run whatever it cost

Advantages:
little changes
Drawback:
It will be a major problem with a lot of services, the check will take much more time than the syncloop allow.
might be a huge CPU consummer

[2015-07-30 07:46] fzu-huang opened #12013 "how to get all pods in a replicationcontroller？"
if   i  create a rc "redisrc" which has 4 replicases.and the label in its podtemplate is :name=redispod, how could i get these 4 pods within a webAPI, or command?

in the etcd  registry.   the data of this rc  doesn't have the message of its pods.

it's confusing.....

i create a replicationcontroller with  4 pods.  but  i don't  know   these pods'  names.   If i create another pod named "redisrcp

[2015-07-30 07:59] Smana commented on #11869
@stevekuznetsov
I think that everything comes from my kubeconfig file or admin.kubeconfig files.
Is there any working examples please ?

[2015-07-30 08:07] erictune commented on #9107
I think we should require all implementations to have DNS.  Its just too much work to support multiple types of examples, and it isn't hard to run DNS.   Several non-salt distros run it (for example cluster/libvirt-coreos, cluster/ubuntu).   I think we already decided this somewhere else.  At any rate let's consider it decided.  @thockin

So, action items:
 - The current conformance test does not

[2015-07-30 08:11] erictune opened #12014 "v1.1 Conformance test"
In conjunction with the v1.1 release:
- make a new branch `conformance-test-v1.1`
- add a blank column to the table in `docs/getting-started-guides/README.md` for v1.1 conformance.
- define the set of tests to run to test v1.1 conformance.  This would presumably be all the tests that were run for v1.0 conformance, minus any that were deleted, plus any new ones that are expected to pass on all plat

[2015-07-30 08:12] erictune commented on #9107
xref #12014

[2015-07-30 08:28] fzu-huang opened #12015 "how does kubernetes limit a container's resources?"
as i know, resourcequota and limit  are used to constraint  pod/container 's start .
when  i  set a limit rule, and set a limit in pod.json.     the pod might not successful start because its limit over the max or low than min limit.

then how to do this? i start a pod ,it use 64MB memory ,after a long time , i used much more memory than 64mb. maybe 100MB.  How to set a rule , to stop it automatic

[2015-07-30 08:31] Kielan commented on #11453
Could we have an open discussion here about what the possible problems with a cluster could be when this error appears? This is the top Google result for the error and could be a could forum for improving the docs.

[2015-07-30 08:36] erictune commented on #11477
I've asked around.  It seems that github only allows assigning issues to members of the GoogleCloudPlatform Organization.  It appears that Googlers can automatically add themselves to this Org, and that kubernetes project committers are also added, but I don't see a way to add you to the Org without making you a committer, which it is a bit soon to do.  Basically, I don't have the permission to ad

[2015-07-30 08:46] bgrant0607 commented on #11793
More about the motivation for this issue:

We should strive to make the built-in scheduler make higher-quality decisions for a wider variety of workloads in a wider variety of cluster configurations. However, there will always be special cases that are unaddressed by the standard scheduler. Today, one can disable the standard scheduler and run a different one, but there is no way to run multiple s

[2015-07-30 09:03] galacto commented on #3192
How to do this for aws ? I am stuck at 10GB minion

[2015-07-30 09:13] HaiyangDING commented on #11453
In the current version of Kubernetes, if a pod fails scheduling due to PodFitsResource (you can see the information by running `kubectl describe pod <pod-name>`), the reason must be one of the following:

1. There is not enough memory on the destination node
2. There is not enough CPU on the destination node
3. The number of pods that already run on the node exceeds the maximum number

Please note

[2015-07-30 09:19] Smana commented on #11869
Hmm i just noticed that the etcd cluster is not ready.
[code]

[2015-07-30 09:21] Smana commented on #11869
i don't know how the service name is resolved from within a container
[code]

[2015-07-30 09:38] adyanthaya17 opened #12018 "Update-demo-nautilus"
Hi,

Update-demo-nautilus folder was taken out from the kubernetes example. I needed to know where I could find it .It would be of great help.

[2015-07-30 09:45] antoineco commented on #6880
I don't think this issue is relevant anymore, whoever reads my comment feel free to review and close.

[2015-07-30 10:00] erictune commented on #10439
Thanks for the docs pointer.  I'll take a look at that.

Regarding Consul and SkyDNS: in the project-supported Kubernetes distros,
SkyDNS uses a separate etcd instance which runs in its pod.  That etcd
instance does not talk to the one used by apiserver.  So, you could replace
apiservers use of etcd with consul, without breaking DNS.

On Fri, Jul 24, 2015 at 8:27 AM, Jeff Mitchell <notifications@g

[2015-07-30 10:15] bnprss commented on #11977
I'll post the following PR that cover the 1st case :
 https://github.com/GoogleCloudPlatform/kubernetes/pull/12017

time to check : for i in $(seq 1 100000); do curl -Ik 10.0.249.163 -s -w '%{time_total}' -o /dev/null; echo; done | sort | uniq -c

With the PR and ~420 netfilter rules to check I get the following histogram (100 000 samples is a long run :) ):
   6370 0.008
  33409 0.009
  18312 0.0

[2015-07-30 11:24] bgrant0607 commented on #11793
To be more clear: This issue is gated on developing a proposal to create a general-purpose way to defer and/or delegate asynchronous initialization behavior, such as scheduling or auto-scaling.

[2015-07-30 11:27] andronat commented on #11933
Yes I could most certainly help! But my knowledge on what those structs are doing is quite limited so I am not sure how much of a help I can be :/

[2015-07-30 11:48] bgrant0607 commented on #11797
See also #6804

[2015-07-30 11:49] deads2k commented on #11070
A service account exists in a namespace, but the authenticator maps it to a unique user that is valid for the cluster as a whole.  That makes it possible for an authorizer to have rules that grant broader privileges.  For example, consider a `pod-watcher` service account in the `monitoring` namespace.  You could grant it privileges to list all pods in the cluster and it could use that power to loo

[2015-07-30 11:50] bgrant0607 commented on #11797
Renaming issue to "provide default readiness behavior".

[2015-07-30 11:53] deads2k commented on #11070
If you accept that users can (should?) use service accounts to run machine actions on their clusters, then the ability to limit the distribution of individual tokens is valuable.  If I have a set of different tokens for the same service account to perform various maintenance and monitoring tasks on my cluster, then I'm able to revoke particular tokens in the case of compromise.

[2015-07-30 11:54] deads2k commented on #11070
Yes.

[2015-07-30 11:57] deads2k commented on #11070
Since we wrote this up initially, we've discovered the amount of friction when trying to use secrets is very high.   https://github.com/GoogleCloudPlatform/kubernetes/pull/11827 addresses this by it in the other direction.  By default, a service account can access any secret.  If a particular annotation is set or a global flag on the admission controller is turned on, then access to secrets can be

[2015-07-30 11:59] aerofoil-kite commented on #11222
apiserver.service file:

    [Unit]
    -------
    -------

    [Service]

    --service-account-key-file=/srv/kubernetes/service_acc_key \
    --admission_control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityCont$

controller-manager.service

	[Unit]
	------
        ------

	[Service]
	--service_account_private_key_file= /srv/kubernetes/service_acc_key \

Both services are running
But

[2015-07-30 12:01] liggitt commented on #11070
David, can you clarify the difference between being able to access secrets while acting as a service account using the API, and a pod being able to reference secrets in its spec?

[2015-07-30 12:11] deads2k commented on #11070
One of the big difficulties in using service accounts to limit access to secrets is the inability to simultaneously limit secret references via a service account and have an PodSpec (in any containing object) that uses secrets and can actually be created.  The problem you run into is that the service account admission controller will reject the Pod because the SA doesn't allow that secret to be mo

[2015-07-30 12:20] deads2k commented on #11070
There is a distinction between a service account allowing a secret to be mounted and a service account being allowed to `GET` a secret.  Direct retrieval of a secret is more powerful than being allowed to mount that secret in pod.  With the ability to limit which images can pulled, it becomes possible to have a safe whitelist of images that are known to keep secrets safe.  A user could then be tru

[2015-07-30 12:32] loky9000 commented on #11795
control.  Is something actually not working?

Currently i have two pods  mysql and tomcat
and i can't access  from tomcat container to mysql 3306 port via localhost:3306 like described here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/admin/networking.md

[2015-07-30 12:43] arun-gupta commented on #11477
Thanks for the update!

Will send the PR in the meanwhile.

[2015-07-30 12:47] stevesloka commented on #12013
If you want to find all pods using a label, then pass `-l` in your kubectl command.

e.g. `kubectl get pods -l name=redispod`

The pods will get named with the name you give it appended with a random string.

[2015-07-30 12:56] jacobtomlinson commented on #11324
I've been having a similar issue to this, Kubernetes can't create a load balancer as it says the security group already exists. The workaround I've found is to manually delete the security group and wait for Kubernetes to successfully create it again.

I've generally had the problem when quickly deleting a service with a `LoadBalancer` and then creating it again (I see now I should use `kubectl re

[2015-07-30 13:07] stevekuznetsov commented on #11869
Inside of a kubernetes cluster internal DNS is able to route "https://etcd" to the correct service. You wil not be able to `ping` this unless it has a load-balancer or node-port and is exposed.

[2015-07-30 13:08] dalanlan commented on #6134
@AntonioMeireles  I wonder whether you were pointing out that we cannot set up a mirror registry for gcr.io as for docker hub. And still the same by now? ;-)

[2015-07-30 13:24] Smana commented on #11869
No i'm not. i just have 1 master and 3 nodes running kubernetes on CoreOS

[2015-07-30 13:33] stevekuznetsov commented on #11869
Can you get `kubectl logs` and `kubectl describe pod` for the `etcd-descovery` service and pod?

[2015-07-30 13:36] naelyn commented on #1957
I started pushing bits around to play with what this would entail.  If we ignore the terminology aspect of the refactor ("etcd" shows up in a lot of places and variable names where "kvstore" would fit just fine), there seems to be just a bit of an impedance mismatch about TTLs between etcd and consul and how k8s uses TTLs.

Etcd TTLs are like Memcached/Redis TTLs and are "owned" by the key (the TT

[2015-07-30 13:49] Smana commented on #11869
[code]

[code]

[code]

[2015-07-30 13:55] huikang commented on #11978
@bprashanth
Any idea about how to configure the prod file so that prod will not create a new container if I temporarily stop the existing one. Thanks.

[2015-07-30 14:01] roberthbailey commented on #11631
I found this issue title a bit confusing, but after reading through the linked issue's comments, it appears to mean that we shouldn't have pods assigned to nodes that don't exist in etcd.

In particular, this doesn't have to do with nodes deleted from the cloud provider: we already have logic to catch that case (["delete the node **and all pods scheduled on the node**"](https://github.com/GoogleCl

[2015-07-30 14:05] roberthbailey commented on #12018
I think you are looking for https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/user-guide/update-demo/README.md.

[2015-07-30 14:05] mahesh3267 commented on #11775
Hi Preilyme,

Thanks for your update, yes still iam getting the following error , when i browse kube-ui.

[code]
[code]

[2015-07-30 14:07] roberthbailey commented on #6880
`minion_regexp` was deprecated in https://github.com/GoogleCloudPlatform/kubernetes/pull/8704 and later removed.

[2015-07-30 14:07] #6880 closed

[2015-07-30 14:16] erictune commented on #9773
I'm closing this as a duplicate of #10906.

[2015-07-30 14:24] moander commented on #9773
Please re-open this issue. It is not a duplicate of #10906.

[2015-07-30 14:24] erictune commented on #11936
why is the prefix needed?

[2015-07-30 14:26] coreyperkins commented on #7826
I'm getting the 502 Bad Gateway with the default Azure setup. It also stuck on cluster initialization and never finished. I'm going to get into the logs next and see what I can report back.

[2015-07-30 14:30] erictune commented on #11935
A group of us have been discussing node autoscaling this week, including @bgrant0607 @vmarmol @davidopp @jszczepkowski @piosz @gmarek @mwielgus @wojtek-t (probably forgetting some people)

[2015-07-30 14:33] justinsb commented on #11936
Not sure whether it's the only way, but the idea would be to do something like we do for S3, where we restrict access to certain buckets by name-prefix: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/templates/iam/kubernetes-master-policy.json

It looks like AWS expanded the list of "matchers" recently, so it might be we can match on tags or VPC also.  This would be much

[2015-07-30 14:36] loky9000 commented on #11795
and another thing:
endpoints on all mesos slaves point on port 31000 maybe it's some mesos restriction
[code]

[2015-07-30 14:38] erictune commented on #11935
One thing we talked about was maybe layering the system like this:
- Pod horizontal autoscaler scales up pod count using CPU as a signal, and maybe later custom metrics, such as http request rate, http latency, etc.
- Node (horizontal) autoscaler adds nodes when pods are pending due to the scheduler not being able to find a place in the cluster for the pod (failed PodFitsResources check in schedul

[2015-07-30 14:49] justinsb commented on #11935
That makes a lot of sense to me.  I would love to be involved in any discussions.

AWS auto-scaling-groups (and I believe Google MIGs via autoscalers) allow for a quick-and-dirty version of this.  Your approach is infinitely better, though I suspect will take a little longer!

The fact that the scheduler will avoid overloading the cluster makes auto-scaling externally much less useful, so we would

[2015-07-30 14:51] pires commented on #6134
@dalanlan if you're using `docker-registry`, [then yes](https://github.com/docker/docker-registry#mirroring-options) it still applies.

[2015-07-30 14:56] erictune commented on #7304
Nobody is working in it that I know of.  I'd be happy for you to work on it.
I can't readily set you as the assignee, but I don't think that will be a problem.

[2015-07-30 15:00] mikedanese commented on #11889
@justinsb

[2015-07-30 15:00] erictune commented on #11986
/sub

[2015-07-30 15:10] DongyiYang commented on #11852
After increasing my VM from 1GB to 4GB, this works for me

[2015-07-30 15:14] a-robinson commented on #3192
It [doesn't appear to be an option yet](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/config-default.sh). A pull requests adding it would be very welcome!

[2015-07-30 15:20] #11854 closed

[2015-07-30 15:51] erictune commented on #12012
@liggitt

[2015-07-30 15:56] spothanis commented on #6084
@markturansky, when you say "A persistent volume should cleanly tear-down",
 can this include any cloud provider specific operations. Speaking with openstack as cloud
 provider, when a pod with cinder volume attached dies due to a node failure, the cinder
 volume associated with the pod is still attached to the dead node. Any subsequent attempts
 to bring the pod back up on a different node will f

[2015-07-30 16:06] markturansky commented on #6084
Either Kubernetes needs some kind of health check for volumes (mounted, available, and otherwise) or the provider needs a health check for its volumes and performs the detach from its side when the node dies.

Kubelet has a volume manager and understands what it has mounted (which can track all these PVs), but the scheduler does not.   If the node dies, I don't think anything in the cluster knows

[2015-07-30 16:27] cjcullen commented on #11852
Yeah I also could no longer build on my macbook with a 2GB boot2docker VM. I bumped it up to 3GB:
[code]
That got me building again.

[2015-07-30 16:29] Iwan-Zotow commented on #168
Gentlemen,

I'm running Monte Carlo on google cloud cluster now, and to emulate batch scheduling I had to set CPU limit to some strange values.

[2015-07-30 16:35] liggitt commented on #12012
@dalanlan this is working as intended, though I can understand why it is confusing.

The service account `secrets` field is intended to enumerate/limit the secrets a pod running as that service account can mount. The first `service-account-token` secret in that list is automatically mounted by pods running as that service account.

The admission controller for pods is not yet enforcing this list,

[2015-07-30 16:44] karlkfi commented on #11908
@roberthbailey Can you succinctly describe the GKE usage?

I'm not planning to break it, just trying to ascertain what's intended and desired (use cases) to know the different between "break" and "fix".

Having spent a a day in the componentstatuses code, I'm not particularly impressed with it's design or implementation. I don't mean to offend, but it seems rather haphazardly thrown together and d

[2015-07-30 16:49] caesarxuchao commented on #11933
Thank you! We can ask other people for help for those structs that we don't know.

[2015-07-30 16:56] #4184 closed

[2015-07-30 16:58] filbranden commented on #4184
\o/

[2015-07-30 17:02] hugecannon opened #12025 "Util.sh 'get-password' doesn't work with Python 3.4.3"
python -c 'import string,random; print "".join(random.SystemRandom().choice(string.ascii_letters + string.digits) for _ in range(16))'
      File "<string>", line 1
        import string,random; print "".join(random.SystemRandom().choice(string.ascii_letters + string.digits) for _ in range(16))
                                     ^
    SyntaxError: invalid syntax

Using Python 2.7.10 fixed the is

[2015-07-30 17:06] esecules opened #12026 "[feature request] Service send copies of requests to production and test."
Sometimes you might want to test out your code on real live production data so it would be nice to be able to have multiple selectors which all receive the same requests.

[2015-07-30 17:14] krousey commented on #11953
@thockin I should be able to do this today.

[2015-07-30 17:16] justinsb commented on #11979
@iterion thank you for taking this one on - feels pretty serious if AWS are sending warnings out, so I appreciate it.  Please tag me when the PR is up (and/or put up a WIP PR and I can test too!)

LMK if there's anything I can do to assist.

[2015-07-30 17:28] yujuhong commented on #12015
Here is an overview of resources kubernetes: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/resources.md

If I understand your question correctly, you should be able to simply set the Resources.Limits (max resources requested) for each container. For example, if you set the memory limit to 80MB, scheduler would first check if there is any node with more than 80MB memory

[2015-07-30 17:28] zmerlynn commented on #3130
![download](https://cloud.githubusercontent.com/assets/4942464/8990225/bdd7abce-36a5-11e5-8a53-244bcb1eb8c0.png)

[2015-07-30 17:29] zmerlynn commented on #3130
Killed when #4184 was closed.

[2015-07-30 17:29] #3130 closed

[2015-07-30 17:35] #9681 closed

[2015-07-30 17:39] jefferai commented on #10439
@erictune Ah. This also suggests, however, that etcd is running in a single-instance mode, which means no HA or reliability. In that case, you'd maybe get more mileage from spending the effort on making SkyDNS use e.g. BoltDB...something designed more around a single-user paradigm.

[2015-07-30 17:44] a-robinson commented on #7660
For what it's worth, I can definitely say that my instinct as a user would fall in line with @lavalamp's sample size of 1. I wouldn't delete failed pods, assuming the system would take care of them.

[2015-07-30 17:47] yujuhong commented on #12013
To expand on the previous comment, replication controller manages pod matching its [label selector](https://github.com/GoogleCloudPlatform/kubernetes/blob/2bd53119b1f7408aab93441096b00d62c8d12184/docs/user-guide/labels.md#label-selectors). You can see the selector by `kubectl get rc`, and filter pods with the selector.
E.g., `kubectl get pods -l key1=value1,key2=value2`

[2015-07-30 17:55] thockin commented on #12026
This is an interesting idea.  The first question I get is whether it should
be a facet of Service or a layer above, or some other composition.

On Thu, Jul 30, 2015 at 10:06 AM, esecules <notifications@github.com> wrote:

[2015-07-30 18:02] thockin commented on #11961
Is this just a case of ChooseHostInterface() not filtering link-local?

This seems like a pretty easy change, good starter change for someone who wants to get involved.

[2015-07-30 18:03] saad-ali commented on #11974
Thanks for the report @pmoncadaisla

Could you clarify what you mean by "it forgets about the volume". Do you mean that the volume is empty when the pod is recreated?

What version of Kubernetes were you running when this happened? (There was a bug in the 1.0 release that could cause disks to appear empty when a disk is rapidly detached/attached--fixed with #11561).

Are you able to repro this? If

[2015-07-30 18:14] thockin commented on #4825
@ReSearchITEng Is this something you want to implement or something you want us to do?  I can not say for sure what the prio of this is, with respect to everything else.

There seem to be two issues here, both reasonably approachable as starter projects:

1) Add API + plumbing to set hostname for (all containers in) a pod

2) Change the default hostname value to something less obvious.

[2015-07-30 18:15] iterion commented on #11979
@mcadam @justinsb I attempted a fix for this on #12029. I'm testing now and am considering adding some logging at a higher log level for future debugging.

[2015-07-30 18:44] nikhiljindal commented on #7660
Discussed this with @lavalamp and an option is that the apiserver can set a ttl on the pod in etcd, when it gets an update setting the pod in failed state.
Lets see if I can make that work.

[2015-07-30 18:45] roberthbailey commented on #3130
Yay!

[2015-07-30 18:49] dchen1107 commented on #9337
I believe this is fixed for v1.0. Close it.

[2015-07-30 18:49] #9337 closed

[2015-07-30 18:52] esecules commented on #12026
As a layer above I imagine it would look a lot like a Service except that it replicates over Services instead of load balances over Pods. If it were a facet of services it seems like it would be a small addition of a loop around the function which load balances over the pods in a selector.

In either case it would spam pods pods in the intersection of tag selection sets with repeat requests.

[2015-07-30 19:01] thockin commented on #12026
I'm mostly concerned about containing the explosion of feature requests.
Off the top of my head:

* percentage of traffic to send to each Selector
* max requests per time per selector
* policy (round-robin between selectors?)
* copy-traffic vs split traffic

And so on.  If we could find a way to compose (and maybe we can't) then we
can leave room for people who want to implement crazy stuff withou

[2015-07-30 19:08] dchen1107 commented on #12002
Set memory limits with rational number for etcd is tough since it is scaled based on number of nodes, number of pods, etc. And there is no mechanism for dynamically updates resource limits based on number of objects managed by a giving kubernetes cluster. This is the same issue for kube-system pods I raised before: @brendandburns @roberthbailey @a-robinson @bgrant0607

Also even we can have a mech

[2015-07-30 19:58] a-robinson commented on #12002
Whatever sets the limits will also have to take into account the master VM size, so we can't just statically set limits without later adjustment.

[2015-07-30 20:04] zmerlynn opened #12037 "mark_new_version.sh STILL can't get past precommits on release-1.0 branch"
This is still (now? still?) busted, and is a P(-1), because it's STILL blocking me from #11941. Please, please, can we get the docs working on the release branch?

[code]

[2015-07-30 20:05] zmerlynn commented on #12037
cc @nikhiljindal @thockin

[2015-07-30 20:06] bgrant0607 commented on #8190
The types described above could be used by apiserver and kubelet, where the kubelet creates pods, but should not be used by any other components, such as controller manager or the scheduler. So if we had receivers implemented directly using the interface definition types, then we'd need separate types for clients.

[2015-07-30 20:08] zmerlynn commented on #12037
If I look at what `hack/run-gendocs.sh` wants to do (i.e. the verification failure ... I force-committed the failed doc-versionize to see), this is what I see:

[code]

[2015-07-30 20:10] bgrant0607 commented on #7660
Users don't delete pods: I agree, hence this issue.

Needs to be generalized for all controllers: I agree. Node controller could be a logical place. Eventually we'll need a general GC mechanism, such as to implement existence dependencies across objects.

Hiding dead pods: Docker convention is that `docker ps` shows live containers and `docker ps -a` includes dead containers. We could do something

[2015-07-30 20:12] lavalamp commented on #12002
@dchen1107 I suggest (at least for now) just setting limits to use most of the master VM's memory, not via some complex formula based on the size of the cluster.

[2015-07-30 20:13] roberthbailey commented on #11908
@fabioy can probably give a better succinct explanation than I can but we check the component status on cluster creation (just like the shell scripts) to verify that all of the master bits are reporting that they are healthy. We also continuously monitor the component status to detect when the master components become unhealthy so that they can be repaired. In both cases what we want is a single e

[2015-07-30 20:18] DreadPirateShawn opened #12039 "Consider making namespace support more internally consistent"
Currently namespaces are supported inconsistently -- that is, they can be used without actually being created, leading to a scenario where they appear to be working except tangential features don't behave correctly.

Specifically, a pod / rc can be created which uses an undefined namespace:
[code]

[code]

[code]

However, despite the namespace appearing to work, the namespace does not actually ex

[2015-07-30 20:18] andronat commented on #11933
I will try to fix the first 20 for the beginning: `TypeMeta` -> `GCEPersistentDiskVolumeSource`. As far as I can tell there are 114 structs in `v1/types.go`.

[2015-07-30 20:23] timothysc commented on #3130
Yippie!

[2015-07-30 20:30] thockin commented on #12039
I think you are on a back-rev version - this was changed in the last few months.

[code]

[2015-07-30 20:31] abrutus commented on #7660
+1

There are no expectations documented anywhere for the end-user to manage failed pods, and leaving such a potentially critical operation (failing to do so [will lock the cluster](https://github.com/GoogleCloudPlatform/kubernetes/issues/11912#issuecomment-126053131)) to the end user is not a good idea.

[2015-07-30 20:41] nikhiljindal commented on #12037
Could it be because we just cherrypicked the changes to script, but not the resulting doc changes?
My change, does change kubectl docs by removing the versioned warnings from them.
So if you just run that script once on the docs, then the next time these pre-commits should pass?

[2015-07-30 20:42] dchen1107 commented on #12002
@lavalamp This is pretty much my intention here too. Like how we handle docker daemon one each node, we could allocate etcd server 60% of memory capacity of master VM. But this should be done by the script which generating master components' manifest files at master node.

[2015-07-30 20:42] zmerlynn commented on #12037
Let me try that.

[2015-07-30 20:46] #11982 closed

[2015-07-30 20:52] thockin commented on #12037
You're running this from the release branch?  I just ran it and SOMETHING
is weird, looking, too.

On Thu, Jul 30, 2015 at 1:43 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-07-30 20:55] zmerlynn commented on #12037
Is there any reason not to cherry pick #11622, etc. and make the `build` dir the same as `master`?

[2015-07-30 20:55] zmerlynn commented on #12037
@thockin: Yes.

[2015-07-30 21:03] nikhiljindal commented on #12037
I didnt cherrypick 11622 assuming that we are going to cut 1.1 soon.
Will send a cherrypick request now.

[2015-07-30 21:04] fabioy commented on #11908
Because of the need to do periodic health monitoring, a single endpoint that can gather all the data internally and report it is preferable. This includes doing health checks on etcd and any other new component.

Reading through the design proposed, it also raises the concern that the api server needs to have some notion of what components it should expect to be registered in etcd. Supposing that

[2015-07-30 21:04] zmerlynn commented on #12037
@nikhiljindal: I'm working on it.

[2015-07-30 21:06] thockin-cc commented on #12037
I'm working on a manual fixup on release-1.0 - we can not change the import
scripts and not actually fixup the docs.  Sigh.

On Thu, Jul 30, 2015 at 2:05 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-07-30 21:06] smarterclayton commented on #8190
How would a user define YAML serialization?  BSON?  MsgPack or some other
format?  Add methods in to the same location?

If I want to implement a non-standard validation path for objects, how do I
do that (wrap the object with a different implementation of Validate)?  We
have use cases today where validation is different for a sub object
depending on what context the validation is done in (PodSpec

[2015-07-30 21:16] #6186 closed

[2015-07-30 21:16] DreadPirateShawn commented on #12039
Hmm, I'm on v1.0.1, and your repro above actually creates successfully for me.

Any chance you know if this was a post-v1.0.1 fix, not yet officially released?

[code]

Using the yaml you provided (thanks for the repro test btw), it creates the pod successfully:

[code]

[2015-07-30 21:18] satnam6502 commented on #3130
RIP

[2015-07-30 21:20] zmerlynn commented on #12037
@thockin: See my last on #12040. Looks like a cherry pick fixup works.

[2015-07-30 21:20] zmerlynn commented on #12037
Well, I'll have to propose a PR with that fixup, but still.

[2015-07-30 21:27] DreadPirateShawn commented on #12039
(Or could it be a regression, for that matter?)

[2015-07-30 21:28] lavalamp opened #12041 "Detect nodes that are oscillating between ready and not ready"
Probably by keeping a history of node status.

This should solve the case where, for example, the node flips in and out of outOfDisk because a pod has an image that is big enough to cause the node to go through both of its thresholds.

[2015-07-30 21:30] caesarxuchao commented on #11933
Thank you. Could you send a WIP PR when the first 20 is done so that we can give feedback quicker?

[2015-07-30 21:33] thockin commented on #12037
No, it still needs "manual love" (best band name ever?)

On Thu, Jul 30, 2015 at 2:21 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-07-30 21:46] alex-mohr commented on #7660
@nikhiljindal thanks for taking this on.  A ttl will likely help, but I'm not sure it's sufficient.  What TTL would have prevented the 130k pod issue?  Will that TTL prevent the next one?

Ultimately, etcd does not have infinite storage, so we need to ensure that we don't fill it with too many dead pods.  I'd propose we have an explicit cap on the number of them (even if via eventual consistency v

[2015-07-30 21:51] brendandburns commented on #11979
We should probably add a rate limiter into the AWS client, like we did for GCE:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/util/throttle.go

[2015-07-30 21:55] brendandburns commented on #11751
@erimatnor please try the gcr.io/google_containers/hyperkube:v1.0.1 image.

That is an all-in-one binary that has all of the components compiled in.

You can run it:

`docker run gcr.io/google_containers/hyperkube:v1.0.1 kubelet ...`

`docker run gcr.io/google_containers/hyperkube:v1.0.1 apiserver ...`

I'll update the docs.

[2015-07-30 22:03] lavalamp commented on #7660
@alex-mohr a 4 or 5 day TTL should have prevented this particular instance. We can do better, but that's a good start. I think a complete solution for this basically has to come along with the job controller (which will be able to make failed/succeeded pods at a much faster rate) and can probably be deferred until then, too.

[2015-07-30 22:12] starsimpson opened #12048 "GKE needs to support privileged containers"
I'm working to put together a docker-based build system that lives in GKE and so far appear to need privileged access to make the base docker image (dind, docker-in-docker) run. Please let me know if support for privileged containers might change in future.

[2015-07-30 22:15] iterion commented on #11979
@brendandburns agree. I can take a shot at that once I get my fix for route reconciliation done.

[2015-07-30 22:20] mikedanese commented on #12048
This is low hanging fruit and a few people have already asked for it. @roberthbailey @zmerlynn

[2015-07-30 22:26] xuant opened #12050 "Login user could not access external kube api."
## Environment:

OpenStack vms:
vm1: Etcd
vm2: Kubernetes master and node all-in-one, pointing to vm1 Etcd
vm3: Openshift master

## Kubernetes configuration

1. Starting apiserver and controller-manager according to https://github.com/GoogleCloudPlatform/kubernetes/issues/10265#issuecomment-120300549
[code]

2. Generate a kubeconfig file "external-kube.kubeconfig" using the same cert files and sc

[2015-07-30 22:28] #12050 closed

[2015-07-30 22:28] xuant commented on #12050
This is an OpenShift issue.

[2015-07-30 22:30] brendandburns commented on #7292
This is all fixed now, verified w/ 1.0.1, closing.

[2015-07-30 22:30] #7292 closed

[2015-07-30 22:37] brendandburns commented on #5590
Closing this as obsolete...

[2015-07-30 22:37] #5590 closed

[2015-07-30 22:38] brendandburns commented on #4107
This is obsolete (and fixed)

[2015-07-30 22:38] #4107 closed

[2015-07-30 22:40] brendandburns commented on #2603
This was effectively closed by:

https://github.com/GoogleCloudPlatform/kubernetes/blob/5450afdabc51876a24b9576b7df54ee149153c69/docs/user-guide/production-pods.md#authenticating-with-a-private-image-registry

[2015-07-30 22:40] #2603 closed

[2015-07-30 22:42] smarterclayton commented on #11070
On Jul 30, 2015, at 8:20 AM, David Eads <notifications@github.com> wrote:

David, can you clarify the difference between being able to access secrets
while acting as a service account using the API, and a pod being able to
reference secrets in its spec?

There is a distinction between a service account allowing a secret to be
mounted and a service account being allowed to GET a secret. Direct
retr

[2015-07-30 22:42] lavalamp commented on #7660
@JanetKuo to look at `kubectl get pods` behavior for failed/succeeded pods.

[2015-07-30 22:46] zmerlynn commented on #12037
Fixed by a combination of #12044 and #12040. Thanks to @thockin and @nikhiljindal for jumping on it.

[2015-07-30 22:46] #12037 closed

[2015-07-30 23:08] pmorie commented on #4954
I believe we can close this issue now, since we have refactored `SecretVolumeSource` to use a simple Name field.

[2015-07-30 23:08] #4954 closed

[2015-07-30 23:09] karlkfi commented on #11908
The way I've implemented it so far, the apiserver doesn't need to know what components to expect to function. It just looks for everything under `/registry/components/`which would include `/registry/components/scheduler-xxxxx` and `/registry/components/controller-manager-xxxxx` after they've registered.

Of course, the user wouldn't know that components were unhealthy until after they had register

[2015-07-30 23:11] thockin commented on #12039
@derekwaynecarr

[2015-07-30 23:12] pmorie commented on #6596
@caesarxuchao Are you still planning to work on this?  I'm rolling through my open issues and this still needs to be fixed.  If not, we can tag it help-wanted.

[2015-07-30 23:14] pmorie commented on #7448
Closed out by https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/api_changes.md#changing-versioned-apis