[2020-08-10 08:17] max-rocket-internet commented on #78761
This is definitely a bug and should be fixed! The HPA `scaleTargetRef` uses deployment by `name` and that should be enough without having to worry about selectors.

[2020-08-10 08:17] sbalinen commented on #93845
/sig auth

[2020-08-10 08:40] Zheaoli commented on #93818
/features

[2020-08-10 08:41] Zheaoli commented on #93818
/kind feature

[2020-08-10 09:06] linki commented on #77599
/remove-lifecycle rotten

[2020-08-10 09:17] warmchang commented on #61103
FYI: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#patch-operations

[2020-08-10 09:30] houfangdong opened #93847 "test-e2e-node failed"
**Which jobs are failing**:make test-e2e-node
When i use local test， test-e2e-node failed.
**Which test(s) are failing**:

**Since when has it been failing**:
**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:
[last.e2e-node.log](https://github.com/kubernetes/kubernetes/files/5049953/last.e2e-node.log)

/sig testing
@BenTheElder

[2020-08-10 09:53] eastlunar opened #93851 "no kind "PodSecurityPolicy" is registered for version "policy/v1beta1" in scheme"
[code]
I found it using `journalctl -xefu kubelet`. But nodes and pods are both fine.

[2020-08-10 10:02] #89091 closed

[2020-08-10 10:12] tenwolde commented on #60152
Same problem!

[2020-08-10 10:20] secret104278 opened #93853 "Wrong resourceName of metrics server api object in code-gen fail fake clientset"
**What happened**:
`+resourceName` of `NodeMetricsList` and `PodMetrics` in `k8s.io/metrics` are set to `nodes` and `pods` respectively in codegen comments. For example, this makes generated fake client to use `nodes` as gvr to query, but the actually gvr should be `nodemetricses`, so `List()`/`Get()`/`Watch()` will always return not found.

**What you expected to happen**:
`+resourceName` should

[2020-08-10 10:47] secret104278 commented on #93853
/sig api-machinery

[2020-08-10 11:22] neolit123 commented on #71904
@0x4139 hi, discussion is happening here https://github.com/kubernetes/kubernetes/issues/85454

[2020-08-10 11:28] Zheaoli commented on #93818
Actually I don't think we should support this issue

Here's the detail

**CrashLoopBackOff** means one thing, that container is in an health status. It's not a usual status in Pod's lifecycle, so I think that is right to do not to execute the pre-stop hook during the pod recovery process.

@kopal2212

[2020-08-10 11:28] Zheaoli commented on #93818
/unassign

[2020-08-10 11:32] arshadsiddique-jfl commented on #15478
Even aws ecs has this functionality where one can set the docker logging driver.
In our environment, we have created a separate index with a unique token for each container service.

"logConfiguration": {
	"logDriver": "splunk",
          "options": {
              "splunk-format": "raw",
              "splunk-insecureskipverify": "true",
              "splunk-token": "xxxxx-xxxxxxx-xxxxx-xxxxxxx-

[2020-08-10 11:33] RobertKielty commented on #91216
Hi @aojea can you take a look at this when you tget a chance and let me know what you think?
cc @kubernetes/ci-signal

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1292470729584939011

There's a mahoosive number of DNS requests in a TIME_WAIT state

Here's a short excerpt from the logs...

[code]

[2020-08-10 11:49] ejemba commented on #15478
The options still need to be implemented
/reopen

[2020-08-10 11:58] aojea commented on #91216
Interesting, so it's using tcp for DNS traffic?

[code]
for UDP the connections have to timeout because there is no state in the protocol, but honestly I don't remember how does this work for DNS and TCP, let me try to investigate a bit more ... the risk of having too much conntrack entries is that the table is limited, maybe is overflowing ?

[2020-08-10 13:01] rikatz commented on #93267
FTR when developing, sig-cli is removing generators so this should start simpler :)

https://github.com/kubernetes/kubernetes/issues/93100

[2020-08-10 13:02] ericgomes56 commented on #93786
Hello?

[2020-08-10 13:12] sylr commented on #87137
/remove-lifecycle stale

[2020-08-10 13:17] liggitt commented on #79395
Changing the API behavior is probably not desirable, since it removed the ability to check permissions for a specific group (since you would never be sure if the answer was influenced by permissions granted to all authenticated users). A message indicating only the specified groups are being used if system:authenticated is not included seems useful

[2020-08-10 13:18] knight42 commented on #93851
`PodSecurityPolicy` is only supported in k8s 1.18+, perhaps you are trying to create `PodSecurityPolicy` on a cluster whose version is below 1.18. Could you post the output of `kubectl version`?

In addition, if you don't need `PodSecurityPolicy`, perhaps you could try delete it from `/etc/kubernetes/manifests/kube-flannel.yaml`.

/close
As this is not a bug, feel free to reopen if necessary.

[2020-08-10 13:18] #93851 closed

[2020-08-10 13:24] max-rocket-internet commented on #78761
It can be reproduced with this:

[code]

[2020-08-10 13:34] Shahard2 commented on #83471
i see this as well on eks (image size is 2GB)

[2020-08-10 13:40] khenidak commented on #93832
I think these are two different set of topics. The code you shared seems to have affinity to IPv4. It seems to me that it is very specific to node? (vs general purpose IPv4 vs IPv6 vs dual-stack) On the other hand we do have a strong need for common functions (specially on `Service` object). To identify
- headless || not-headless
- headless with selector (or not)
- etc.

[2020-08-10 14:08] alculquicondor commented on #93828
I agree with @draveness

Keeping them separate would allow us to remove the unneeded one once the time comes.

[2020-08-10 14:13] khenidak commented on #93545
Yes - https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodeipam/ipam/range_allocator.go#L158 - Since we moved to `PodCIDR => PodCIDRs` we have moved all the checks against the PodCIDRs (plural). This check works as expected as long as api-server(s) are upgraded **before** the rest of components. it would look easy to just check

[code]
But that won't solve the problem, because t

[2020-08-10 14:24] yanghaichao12 opened #93858 "DualStack: NodePort failed when opening dual-stack with ipvs"
**What happened**:
when i created nodeport service by opening dual-stack ,it's faild. i check the kube-proxy by
[code]
and got nothing
**What you expected to happen**:
nodeport works well when dual-stack
**How to reproduce it (as minimally and precisely as possible)**:
open dual-stack and create a nodeport service
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kub

[2020-08-10 14:25] yanghaichao12 commented on #93858
/area ipvs
/sig network

[2020-08-10 14:27] yanghaichao12 commented on #93858
@aojea @uablrek @rikatz

[2020-08-10 14:28] sjenning commented on #72881
/reopen

xref https://bugzilla.redhat.com/show_bug.cgi?id=1866794#c5

I think this is indeed an issue.

We should be setting `cpu.shares` on the `system-reserved-cgroup`, otherwise there is no way to ensure that the cpu part of the system reservation is actually accessible to the system daemons when under contention.  This problem gets worse the larger the reservation and throws of the whole calcu

[2020-08-10 14:35] uablrek commented on #93858
(linux-4.4 is the kernel in Ubuntu 16)

[2020-08-10 14:39] sjenning commented on #72881
/remove-lifecycle rotten

[2020-08-10 14:42] neolit123 commented on #93840
hi, we have no plans to support reading the user config and then deciding what port to use for etcd.
your alternative is to patch manifests after they are created.

/close
/area kubeadm

[2020-08-10 14:42] #93840 closed

[2020-08-10 14:46] hjkatz commented on #44165
/reopen

Please bot, stop closing this issue if it still exists.

[2020-08-10 14:48] deitch commented on #44165
/reopen

[2020-08-10 14:49] neolit123 commented on #93786
this most likely happens due to your api-server being unavailable to the joining node, or at least maybe temporary.
check the network connectivity between the nodes.

please use the #kubeadm channel on slack and the support links here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/triage support

[2020-08-10 14:49] #93786 closed

[2020-08-10 14:58] neolit123 commented on #93820
/sig scalability

[2020-08-10 14:59] neolit123 commented on #93819
/remove-kind bug
/triage support

[2020-08-10 15:00] neolit123 commented on #93784
/priority awaiting-more-evidence
/sig cli

[2020-08-10 15:05] vs268153 commented on #76070
@rshiva777
Please check file syntax because I have created the deployment as per the mentioned YAML that you have provided and my pods are running. use the below one
YAML file:
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: nginx-name1
  name: nginx-deployment-shiva2
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-deployment-shiva2
  s

[2020-08-10 15:12] jayunit100 commented on #93801
per the above comment, the best way to probably fix this is
- install k8s, same version
- for kube-proxy --- just let k8s installation take care of that for you , it will use standard IPTables.
- for the CNI , just use something easy like calico or antrea which both support all the basic stuff out of the box: `kubectl create -f https://docs.projectcalico.org/manifests/tigera-operator.yaml` or `kub

[2020-08-10 15:30] jayunit100 commented on #51891
we've captured this use case in https://docs.google.com/document/d/1AtWQy2fNa4qXRag9cCp5_HsefD7bxKe3ea2RPn8jnSs/edit# I think.  I guess this winds up being a feature request that will roll up into all the user stories in there.

[2020-08-10 15:31] liggitt commented on #90533
it looks like go added custom verification in https://tip.golang.org/pkg/crypto/tls/#example_Config_verifyConnection in 1.15, which is *almost* what we want, but sadly, this does not populate VerifiedChains:

[code]

[2020-08-10 16:03] timoreimann commented on #88820
/remove-lifecycle stale

[2020-08-10 16:26] lavalamp commented on #44995
cc @apelisse @kwiesmueller @sttts

Perhaps something WG API Expression should look at.

I think my current suggestion is that if you want to exhaustively pre-validate this, do a dry-run CREATE. Just calling the code means you could have version skew with apiserver, and it means that you wouldn't notice if some webhooks would block the otherwise-valid pod.

[2020-08-10 16:29] kow3ns commented on #93783
/assign @soltysh

[2020-08-10 16:32] kow3ns commented on #93559
/assign @soltysh

[2020-08-10 16:35] soltysh commented on #93559
Duplicate of #92245.
/close

[2020-08-10 16:35] kow3ns commented on #93649
/remove-sig apps

[2020-08-10 16:35] #93559 closed

[2020-08-10 16:37] kow3ns commented on #90553
/assign @soltysh

[2020-08-10 16:39] kow3ns commented on #90485
/assign @kow3ns

[2020-08-10 16:41] kow3ns commented on #90379
/assign @MikeSpreitzer

[2020-08-10 16:42] kow3ns commented on #90262
/remove-sig apps

[2020-08-10 16:42] kow3ns commented on #90262
/sig api-machinery

[2020-08-10 16:43] kow3ns commented on #90262
/sig apimachinery

[2020-08-10 16:43] kow3ns commented on #90262
@MikeSpreitzer

[2020-08-10 16:44] soltysh commented on #81227
This is duplicate of https://github.com/kubernetes/kubernetes/issues/28486
/close

[2020-08-10 16:44] #81227 closed

[2020-08-10 16:47] soltysh commented on #75674
[code]
that's exactly what is being asked here.
/close

[2020-08-10 16:47] kow3ns commented on #89820
/assign @kow3ns

[2020-08-10 16:48] kow3ns commented on #89820
/assign @mortent

[2020-08-10 16:49] soltysh commented on #80207
This is the how jobs where designed to work, so I don't think this is going to be changed. Also you can always get a job and re-create it with a new name. Alternatively create a kubectl plugin to do that for you.
/close

[2020-08-10 16:49] #80207 closed

[2020-08-10 16:49] sjenning commented on #72881
This could get tricky though.
https://github.com/kubernetes/kubernetes/blob/7740b8124c2f684de3caeae0f2cc5d2a1329d43e/pkg/kubelet/cm/node_container_manager_linux.go#L63-L130
kubelet does not currently assume/default `SystemReservedCgroup` and doesn't require that the user provide it unless `system-reserved` is included in the `EnforceNodeAllocatable` keys.  Thus we would have to default `SystemRese

[2020-08-10 16:50] kow3ns commented on #89067
/assign @kow3ns

[2020-08-10 16:50] aermakov-zalando commented on #75674
@soltysh "successfully scheduled" != "successfully completed", and most of the users care more about the latter.

[2020-08-10 16:50] aermakov-zalando commented on #75674
/reopen

[2020-08-10 17:07] jayunit100 commented on #93832
yeah, im not sure how to contextualize this... what do you suggest?  Is this a broader sig issue?

[2020-08-10 17:09] alejandrox1 commented on #92673
/remove-help
presented this on the CI node meeting so back on reviewing this

[2020-08-10 17:10] alculquicondor commented on #93718
Actually, the hardest part of this task is to print the whole plugins configuration, as the determination of the default plugins happen kind of late in the startup sequence.

Can we make an initial PR that just prints the configuration as produced by API defaulting today?

[2020-08-10 17:13] MikeSpreitzer commented on #90262
@yuyulei: you noted two scenarios, so there are really two issues here.  Let me address them one at a time.

Scenario 1, tweak informer for your controller's pods but not other resources.  First, note that the existing facility is tweaking informer *factories*, not informers.  Just use two informer factories.  It looks like you have a very static scenario, this should be pretty straightforward.  C

[2020-08-10 17:15] hasheddan commented on #93780
@cofyc thanks! Looks like it is still failing :/ https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1292791593304068097

[2020-08-10 17:16] sftim commented on #89094
Oh, this is still useful.

/reopen
/remove-lifecycle rotten

[2020-08-10 17:17] sftim commented on #89094
@kubernetes/api-reviewers would anyone like to pick this up, or to mentor someone else to make that change?

[2020-08-10 17:24] MikeSpreitzer commented on #90379
I do not understand what the problem is, the wording is a bit confusing to me.  In a Deployment's PodTemplateSpec, you can include supplementalGroups in the PodSecurityContext.  I just tested this in release 1.15 (sorry, that was what's most handy) and the Deployment object was accepted and the Pod managed by it has the requested supplementalGroup.

If you are still having a problem, can you pleas

[2020-08-10 17:35] cheftako commented on #815
/reopen

[2020-08-10 17:35] cheftako commented on #815
/open

[2020-08-10 17:45] spiffxp commented on #92319
/wg naming

[2020-08-10 18:13] neolit123 commented on #93379
/close
reopen if needed.

[2020-08-10 18:13] #93379 closed

[2020-08-10 18:13] neolit123 commented on #93379
/triage support

[2020-08-10 18:16] BenTheElder commented on #93847
I don't really operate in SIG Node nominally, I'm not sure what you mean by local test and I'd like someone from SIG node to look at this.

[2020-08-10 18:23] velkhatib commented on #93791
Hi,

Thanks for your response jayunit.

- Yes DNS is working on all nodes and pods.
- I don't think the problem come from the coredns, it's working well on all others node and pod. (My config is bellow)
- I can scale up and down the coredns deployment and all is working fine.
- My node ip range is 10.0.0.0/16

The response of sonobuoy:
[code]

coredns config:

[code]

[2020-08-10 19:07] Huang-Wei commented on #93828
@draveness 's point is fair. This can only be done with a v2 node API.

[2020-08-10 19:10] xmudrii commented on #92272
Hey folks! I've been busy for the past few days, but I'll be looking into this tomorrow.

@waynr If possible, can you please share some more details about how you got this working, how the wrapper script looks like, and to which iptables binary you point?

[2020-08-10 19:12] demisx commented on #83938
Still seeing the same logged as error in the Kube API Server log (kubernetes v1.18.6):

[code]

[2020-08-10 19:15] gnufied commented on #84878
/repen
/remove-lifecycle stale

[2020-08-10 19:16] gnufied commented on #84878
/reopen

[2020-08-10 19:16] gnufied commented on #84878
/remove-lifecycle stale

[2020-08-10 20:42] Mr-Howard-Roark commented on #93802
To make one last comment, if the below two items are true then why isn't this considered to be a more critical problem (mistake?):
1.  Kubelet tries to chown all of the files on a volume to reflect fsGroup
2.  If a process (ie- Kubelet) changes the permissions on files in a nfs mount, those changes will impact everything in a company that uses those shares

So, one developer could come across a tu

[2020-08-10 21:05] ThePaulHarding commented on #76338
Hi,

We are seeing this as well and we are on 1.17.9_1534 currently

Cheers,

Paul

[2020-08-10 21:11] rikatz commented on #91631
/triage needs-information
/close

I'm closing this due to lack of information, please feel free to reopen as soon as you got some further information about this.

Thanks

[2020-08-10 21:12] #91631 closed

[2020-08-10 21:31] thockin commented on #93545
I'm not sure it's that dire to fix.  `utilnode.PatchNodeCIDRs` already patches both fields.

The patch I pasted above looks scarier than it is, but it basically just considers both fields all over.

[2020-08-10 21:36] alam0rt commented on #90833
/assign

[2020-08-10 21:36] alam0rt commented on #90833
I have a bit more free time now. Will attempt again.

[2020-08-10 21:43] rikatz commented on #93858
in CentOS 7 / RHEL 7, kernel is 3.10.0-1127 and output of ip -6 route show table local is

``
local ::1 dev lo proto unspec metric 0 pref medium
``

[2020-08-10 21:58] liggitt commented on #93845
Thanks for the feature request. You can see the previous discussion on adding partial matching on resourcenames and the primary reason it was declined at https://github.com/kubernetes/kubernetes/issues/56582

Subdividing access within a namespace (e.g. "access to deployment foo and all `foo-` pods, but not access to deployment bar and all `bar-` pods in the same namespace") is not recommended. sig

[2020-08-10 21:58] liggitt commented on #93845
cc @kubernetes/sig-auth-feature-requests

[2020-08-10 21:59] liggitt commented on #93845
/close

duplicate of #56582

[2020-08-10 21:59] #93845 closed

[2020-08-10 22:10] liggitt commented on #93853
/remove-sig api-machinery
/sig autoscaling

[2020-08-10 22:11] thockin commented on #93545
I can see the error on a recent controller with an intentionally back-rev apiserver (grepping for CIDR):

[code]

And when I apply the above patch:

[code]

That SEEMS right.  I think we need to look at all of the pluralized fields and make sure they handle this cleanly.

@liggitt because I know he regularly smacks folks for incompatible changes.  Here's a place where the apiserver can't easily be

[2020-08-10 22:12] liggitt commented on #93853
I actually think the issue is here:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/testing/fixture.go#L325-L330

The object tracker used by the fake client guesses at the resource name, which is incorrect in this case.

[2020-08-10 22:13] thockin commented on #93545
I can PR that patch against 1.16 branch.  It's not clear if we need it beyond that, but we have a decision:

1) Require this sort of compat just for sanity
2) Require this sort of compat only for 1 release until apisever-side logic can be relied on, then rip it out.

[2020-08-10 23:52] mattmoor commented on #90952
/remove-lifecycle stale

[2020-08-11 00:18] msau42 commented on #93358
The fix that @Jiawei0227 made in #93618 will wait for the csi driver to be installed on the node, before starting the rest of the test. This should mitigate some of the timing failures, but does mask the issue that it sometimes takes > 5 minutes to start these pods. We may see the tests increase in duration instead of failing.

[2020-08-11 01:07] BenTheElder commented on #73099
not super common atm but still happening. discussing
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=%3Cstring%3E%3A%20stdin%20closed&test=Kubectl%20client%20Simple%20pod%20should%20support%20inline%20execution%20and%20attach

[2020-08-11 01:27] gongguan commented on #89067
@kow3ns I have raised a pr #92966  which can fix it, PTAL.

[2020-08-11 01:28] #47711 closed

[2020-08-11 01:42] cofyc commented on #93780
yes, there is another issue that will be fixed in https://github.com/kubernetes/kubernetes/pull/93831

[2020-08-11 01:47] chendave commented on #93828
thanks all for your feedback!

/close

[2020-08-11 01:47] #93828 closed

[2020-08-11 02:57] secret104278 commented on #93853
You're right, i didn't notice that the gvr of `NodeMetrics` is diff from gvk.
After a little bit dig in, I found this PR https://github.com/kubernetes/kubernetes/pull/71049 kind of resolve this issue.
So if I change the code to this it will work.
[code]

However, I think this issue can be improve by deprecating `tracker.Add` in `NewSimpleClientset` from https://github.com/kubernetes/kubernetes/blo

[2020-08-11 03:05] BenTheElder commented on #80346
Implementing.

Though to get it approved might? require a KEP.
probably at least interacting with the SIG directly (slack or mailinglist at minimum. more likely getting it on their meeting agenda and discussing).

I don't really work in SIG node, but that's what I'd expect to have to get a feature through myself, unfortunately.
I'm pretty sure I dropped a link to this before in slack, but at the t

[2020-08-11 03:13] yashwanthkalva commented on #80897
Following the steps here,
https://aws.amazon.com/blogs/opensource/network-load-balancer-nginx-ingress-controller-eks/
and
To make public NLB work with ingress controller,
externalTrafficPolicy in the ingress controller manifest needs to be changed from "Local" to "Cluster"

Only then NLB target groups health checks will pass

[2020-08-11 03:17] ITBOX-ITBOY opened #93870 "Official document PVC part problem"
Path access 404
https://kubernetes.io/zh/docs/concepts/storage/persistent-volumes/

[2020-08-11 03:52] pickledrick commented on #20391
Hi @rikatz Do you have any guidelines on what you did for migration from Flannel to Calico?

[2020-08-11 03:59] dano0b commented on #80897
Yes, but you lose the client ip address which is explicitly set via `externalTrafficPolicy: "Local"`. For us this is not an option.

[2020-08-11 04:07] yashwanthkalva commented on #80897
Preserving Source IP with Kubernetes ingress
How else can you preserve source IP with Kubernetes? If your external load balancer is a Layer 7 load balancer, the X-Forwarded-For header will also propagate client IP. If you are using a Layer 4 load balancer, you can use the PROXY protocol.

https://blog.getambassador.io/externaltrafficpolicy-local-on-kubernetes-e66e498212f9

[2020-08-11 04:08] navkmurthy commented on #23726
In Mac OS : I am Running Kubernetes Locally via Docker ,to be specific https://k3d.io/- So post installation, once the cluster is created ,if i execute the command  `kubectl cluster-info` returns
The connection to the server 0.0.0.0:51939 was refused - did you specify the right host or port? Does anyone have any pointers to this issue?

[2020-08-11 04:11] CriaHu opened #93872 "failing test: should be consumable from pods in volume [NodeConformance] [Conformance] [It]"
What causes this

• Failure [305.030 seconds]
[sig-storage] Secrets
/root/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/common/secrets_volume.go:36
  should be consumable from pods in volume [NodeConformance] [Conformance] [It]
  /root/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:597

  Aug 11 02:38:15.512: Unexpected error:
      <*errors.errorStr

[2020-08-11 05:00] mariusmarais commented on #80897
Thank you @yashwanthkalva, those steps will make it work.

However, the current behaviour is a bug. It should be possible to have both source IP and health checks. We had to manually configure NLBs pointing to NodePort services to make it work with health checks, so it is possible.

We just need it to also work when setup automatically.

[2020-08-11 05:06] dano0b commented on #80897
It is correct that setting the policy is meant to change the loadbalancing itself but additionally it is officially documented to set this policy to preserve the source ip: https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip

The initial posting describes a concrete configuration that should just work but it doesn't, @mariusmar

[2020-08-11 05:22] pigletfly commented on #86647
/cc

[2020-08-11 05:26] pigletfly commented on #89647
/assign

[2020-08-11 06:37] andyzhangx commented on #56188
reopen this issue since there is a PR(https://github.com/kubernetes/utils/pull/180) working on this issue

[2020-08-11 06:37] andyzhangx commented on #56188
/reopen

[2020-08-11 06:51] michael-db commented on #87724
/remove-lifecycle stale

[2020-08-11 06:54] Xuehai-Chen commented on #27000
Any update on this issue?

[2020-08-11 07:00] paulmwatson commented on #23726
What does `kubectl config get-contexts` return @navkmurthy?

[2020-08-11 07:16] saikrishnaa commented on #93139
/cc @kubernetes/sig-storage-misc

[2020-08-11 07:29] navkmurthy commented on #23726
navkmurthy$ k3d cluster create -p 5432:30080@agent[0] -p 9082:30081@agent[0] --agents 3 --update-default-kubeconfig
INFO[0000] Created network 'k3d-k3s-default'
INFO[0000] Created volume 'k3d-k3s-default-images'
INFO[0001] Creating node 'k3d-k3s-default-server-0'
INFO[0001] Creating node 'k3d-k3s-default-agent-0'
INFO[0002] Creating node 'k3d-k3s-default-agent-1'
INFO[0003] Creating node 'k3d-k3s-

[2020-08-11 07:30] navkmurthy commented on #23726
navkmurthy$ kubectl config get-contexts
CURRENT   NAME                                                         CLUSTER                                                      AUTHINFO                                                     NAMESPACE
*         k3d-k3s-default                                              k3d-k3s-default                                              admin@k3d-k3s-default
nav

[2020-08-11 07:34] wangweihong commented on #70411
This solution works in my environment, Thanks a lot!

[2020-08-11 08:40] JensErat commented on #87615
We have some very good news regarding mitigation of the issue using the new golang http2 health check feature: no issues any more. By now, we implemented the "fix" (hardcoded setting of the value in vendored `x/net` code) in Prometheus, entire Kubernetes and several internal components, observing:

- no Prometheus federation issues any more
- kubelet sometimes still reports single "use of closed c

[2020-08-11 09:04] XiaochenCui opened #93874 "Kubelet use too much cpu (over 100%)"
k8s version: 1.13.5

My k8s node in overwhelmed by kubelet/kube-apiserver/docker
The cpu usage of kubelet in over 100%.
Here is the flame graph:

![image](https://user-images.githubusercontent.com/9801323/89878850-b1389500-dbf4-11ea-8c68-098e1bf5dbdd.png)

And there is also lots of error logs related to du command failed:
Aug 11 12:47:27 k8s-node2 kubelet[38127]: E0811 12:47:26.947907   38127 fsHa

[2020-08-11 09:07] XiaochenCui commented on #93874
/sig node
/sig kubelet
/sig cadvisor

[2020-08-11 09:12] GreatThan365 opened #93875 "Add 1 second to ensure freeTime > image.lastUsed，sometimes they are equal"
https://github.com/kubernetes/kubernetes/blob/04362870ad9f9812f487ab8f89a40f6bf2daa588/pkg/kubelet/images/image_gc_manager_test.go#L370

time.Now() ---> time.Now().Add(time.Second)

[2020-08-11 09:35] Nuru commented on #91459
Seriously, this has been going on for years. #65272 is over 2 years old and there have been dozens of bug reports/feature requests (in Kubernetes, Kubectl, Helm, and elsewhere) showing the problems the current behavior is causing. (List available on request.)

The API should accept `clusterIP: ""` as meaning "assign a clusterIP" on creation and "keep the current clusterIP" on update. Since, when y

[2020-08-11 09:43] andyzhangx commented on #93796
@matthias50 could you check whether your node name is identical to name returned by instance meta data, I think it's not equal, so finally would invoke ARM API, related code is here:
https://github.com/kubernetes/kubernetes/blob/v1.17.9/staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go#L85-L98

you could ssh to one node, and run `curl -H Metadata:true "http://169.254.169.254/metad

[2020-08-11 10:09] aojea commented on #93858
for completeness and to have more context, I'm copying the original description from #93631
[code]

it seems that IPVS use the netlink library to dump the route table to get the local addresses
https://github.com/kubernetes/kubernetes/blob/04362870ad9f9812f487ab8f89a40f6bf2daa588/pkg/proxy/ipvs/netlink_linux.go#L148

that, causes that if the filter protocol does not match and  it can not find the

[2020-08-11 10:36] kengan opened #93878 "The pod need 30 minutes to be deleted after rolling-update"
After rolling-update a pod, the old pod need 30 minutes to be deleted. Can you tell me how to solve this problem. Thank you.

[2020-08-11 10:42] kengan commented on #93878
/sig /sig <group-name>

[2020-08-11 10:42] kengan commented on #93878
/sig API Machinery

[2020-08-11 10:43] kengan commented on #93878
/sig api-machinery

[2020-08-11 10:43] dims commented on #91459
cc @liggitt

long-term-issue (note to self)

[2020-08-11 10:46] kengan commented on #93878
My deployment has set the gracetime is 30s
Every pod in my cluster are all need 30m to be removed after  rolling-update
My kubernetes version is 1.13

[2020-08-11 10:47] dims commented on #87615
cc @liggitt

long-term-issue (note to self)

[2020-08-11 10:54] dims opened #93879 "Request github to turn on "GitHub Discussions" for kubernetes/kubernetes"
We have a *LOT* of issues, quite a few are "support" and not necessarily related to development of k8s itself. I know we have the https://discuss.kubernetes.io/ board, but with "GitHub discussions" we can look forward to converting issue into a discussion to get it off of the dev radar. (We'd have to explore more about what conversions are available, in the pipeline etc). There are plenty of legit

[2020-08-11 10:54] dims commented on #93879
/sig contributor-experience

[2020-08-11 11:29] pigletfly commented on #90238
/cc

[2020-08-11 11:30] pigletfly commented on #90238
@kiuka when the node is down, does the corresponding endpoint still exists?

[2020-08-11 11:31] pigletfly commented on #72881
/cc

[2020-08-11 11:38] gnufied commented on #93139
Can you post controller-manager logs of when this happened?

[2020-08-11 11:40] pigletfly commented on #93648
related issue https://github.com/kubernetes/kubernetes/issues/72881

[2020-08-11 11:46] jconway commented on #90973
/remove-lifecycle stale

[2020-08-11 11:53] aperkins1310 commented on #45509
@ghostsquad seems to be closest [here](https://github.com/kubernetes/kubernetes/issues/45509#issuecomment-650446472) - if you're scaling up based on a metric being above an *average* threshold, the same metric *per pod* is surely the best indicator of which pods are most suitable to scale down

[2020-08-11 12:11] saikrishnaa commented on #93139
[logs.txt](https://github.com/kubernetes/kubernetes/files/5056837/logs.txt)
Please find the attached logs

[2020-08-11 12:11] antoinne85 commented on #45509
@aperkins1310 In my view, that misses the issue for the thing that started this whole thread.

If you have several Pods reading from a queue an scaling based on queue length, the length of the queue doesn't belong to any individual Pod.

It doesn't preclude the ability to use a value as was suggested in the linked comment (on mobile so I can't go look at what it was while replying), but it does me

[2020-08-11 12:22] saikrishnaa commented on #93139
@gunfied -- Please find the attached logs.
[kubecontroller_log.txt](https://github.com/kubernetes/kubernetes/files/5056884/kubecontroller_log.txt)

[2020-08-11 12:23] everpeace commented on #93591
@denkensk  sorry for the late reply.

I thought kind of things below:

[code]

[2020-08-11 12:25] neolit123 commented on #93879
i think we should add/extend a bot command that closes a ticket and sends a message to the user with a link to:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

we could have  `/triage close` or `/triage support` do that.

#toomanytools

i have send the same link countless times to users already, followed by a `/close`

[2020-08-11 12:28] neolit123 commented on #93875
hello, could you please add more detail about your use case, kubernetes version and follow the issue template:
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

/sig node
/priority awaiting-more-evidence
/kind bug
(feature?)

[2020-08-11 12:29] jayunit100 commented on #93833
@bowei

[2020-08-11 12:31] neolit123 commented on #93872
please answer these questions:
- what is your kubernetes version? are there differences between kubelet, kube-apiserver versions etc...?
- and how are you executing the test suite and what is its version?
- does this fail consistently?

/sig node

[2020-08-11 12:32] aperkins1310 commented on #45509
@antoinne85 thats a good point, there definitely needs to be at least the option of a different, per pod, metric for the scale down. We have the same "worker from queue" pattern but are somewhat hackily using CPU as an indirect indicator of queue size (mainly because it's a built in metric), so a high pod cpu would be an indicator that a worker pod is busy and shouldn't be shut down.
I agree with

[2020-08-11 12:32] neolit123 commented on #93872
/retitle failing test: should be consumable from pods in volume [NodeConformance] [Conformance] [It]
/sig storage
/priority awaiting-more-evidence

[2020-08-11 12:34] neolit123 commented on #93874
hi, this version is no longer in support.
please re-open if you are able to reproduce the problem with 1.16+

thanks
/close

[2020-08-11 12:34] #93874 closed

[2020-08-11 12:37] jaygorrell commented on #70147
/remove-lifecycle stale

[2020-08-11 12:38] duchuanLX opened #93882 "unit test cannot recv sys events on mips64le Loongson3A3000"
**Which jobs are failing**:
go test -v k8s.io/kubernetes/pkg/kubelet/cm/devicemanager

**Which test(s) are failing**:
go test -v k8s.io/kubernetes/pkg/kubelet/cm/devicemanager

**Since when has it been failing**:
nothing

**Testgrid link**:
nothing

**Reason for failure**:
cannot recv vendor/golang.org/x/sys events，such as changefile create、delete events

**Anything else we need to know**:
gorouti

[2020-08-11 12:38] neolit123 commented on #93878
hello, please reopen this ticket if the problem is reproducible with 1.16+
older versions are no longer in support.

you could also ask for support here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/remove-sig api-machinery
/sig apps
/close

[2020-08-11 12:38] #93878 closed

[2020-08-11 12:39] colceagus commented on #74178
any updates on this one ? is it complete/done?

[2020-08-11 12:40] neolit123 commented on #93882
so should `k8s.io/kubernetes/pkg/kubelet/cm/devicemanager` skip these tests on mips64le for now?
fixes welcome.

/sig node
/help

[2020-08-11 12:41] RobertKielty opened #93883 "TestRunInitNodeChecks flake on periodic-kubernetes-bazel-test-master"
**Which jobs are flaking**:
[periodic-kubernetes-bazel-test-master #1293066905715740674](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-master/1293066905715740674)

**Which test(s) are flaking**:
[cmd/kubeadm/app/preflight/checks_test.go#TestRunInitNodeChecks](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks_test.go#L187)
**

[2020-08-11 12:42] bayudwiyansatria commented on #74551
Hello got same issues running with `stacked etcd cluster` behind external Load Balancer.
Using `nginx` or `haproxy` got same.

kubectl version

[code]

[2020-08-11 12:42] neolit123 commented on #93847
hi, please re-open this ticket once you provide more detail about k8s version, e2e test framework version, and what is the setup where you are seeing the problems.

thanks
/priority awaiting-more-evidence
/close

[2020-08-11 12:43] #93847 closed

[2020-08-11 12:44] duchuanLX commented on #93882
sorry,unit error 30+，I must solve all the failures on mips64le，
and i change golang.org/x/sys version 2 golang.org/x/sys@v0.0.0-20200805065543-0cf7623e9dbd，
testcases were PASS。

[2020-08-11 12:45] neolit123 commented on #93870
https://kubernetes.io/zh/docs/concepts/storage/persistent-volumes/

this seems to be a problem with the ZH language, the EN version works:
https://kubernetes.io/zh/docs/concepts/storage/persistent-volumes/

you could log the same issue in the kubernetes/website repository and tag it with `/language zh`.

thanks
/triage support
/kind documentation
/close

[2020-08-11 12:45] #93870 closed

[2020-08-11 12:47] RobertKielty commented on #93883
For now
/sig testing

[2020-08-11 12:51] drbugfinder-work commented on #45509
I am working to get a [KEP](https://github.com/kubernetes/enhancements/pull/1828) and a [Pull Request](https://github.com/kubernetes/kubernetes/pull/87849) accepted. This is based on @lovejoy [approach](https://github.com/kubernetes/kubernetes/pull/75763) to use a custom annotation as input for the scheduler. It works great : [https://www.youtube.com/watch?v=91APTsEsxIU](https://www.youtube.com/wa

[2020-08-11 12:55] neolit123 commented on #93883
so these are the /cmd/kubeadm unit tests called from the periodic-kubernetes-bazel-test-master job.
https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master&sort-by-flakiness=

i see one flake on this test today, but none prior to that. perhaps my test grid view is not configured correctly?

i do not know what may be occupying that port in that single failure, but maybe there are two

[2020-08-11 12:56] neolit123 commented on #93883
/remove-sig testing

[2020-08-11 13:02] MrYourM opened #93884 "how to set node name when set up a new k8s cluster"
I have a demand that custom configure node name when create new k8s cluster,  I add --hostname-override=<newNodeName> to kubelet through docs [nodes](https://kubernetes.io/docs/concepts/architecture/nodes)

but get erro like:
[code]

so how to set node name in a new k8s cluster, thanks

[2020-08-11 13:24] liruishan opened #93886 "The updatecache method of relist function in PLEG takes too long time to execute，resulting in PLEG health check timeout"
**What happened**:
I deployed 360 pods and 765 containers on one node in my cluster.Sometimes, I find "PLEG is not healthy" in my cluster. I add log printing to kubelet and find it takes a long time in the updatecache phase of the relist function, which takes 1m23s, causing the PLEG health check to exceed the 3-minute threshold. I don't know why this happens. Has anyone encountered a similar situa

[2020-08-11 13:41] neolit123 commented on #93884
hi, please use the support channels for general questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close
/triage support

[2020-08-11 13:41] #93884 closed

[2020-08-11 13:43] neolit123 commented on #93886
hi,

is this the kubelet version too?

<1.16 is out of support and 1.16 will go out of support with the release of 1.19.

is the problem reproducible with a newer kubelet?

/sig node
/priority awaiting-more-evidence

[2020-08-11 13:44] liggitt commented on #93545
so we have a 1.15 controller running against a 1.16 API server? That doesn't line up with https://kubernetes.io/docs/setup/release/version-skew-policy/#kube-controller-manager-kube-scheduler-and-cloud-controller-manager:

[2020-08-11 13:45] liggitt commented on #93545
edit: sorry, mixed up the versions... newer controller-manager -> older apiserver is explicitly disclaimed

[2020-08-11 13:51] liggitt commented on #93545
https://kubernetes.io/docs/setup/release/version-skew-policy/#kube-controller-manager-kube-scheduler-and-cloud-controller-manager-1 walks through some of these implications

1. if the controller-manager is configured to speak to the local API server (control plane components are colocated on a machine), then each control plane node can be updated and the local controller will be speaking to an API

[2020-08-11 14:00] matthias50 commented on #93796
I can tell you without checking that it is not. We are overriding the node name with --hostname-override. We are doing this because, with our vmss scale set names, we were exceeding some DNS limitations.

[2020-08-11 14:02] liggitt commented on #93545
Ad-hoc toleration of N-1 API server skew for specific fields/features in kube-controller-manager is going to be really hard to get consistent. If we want to support this (I'm not sure we do), I think we'd need to do one the following:

* make a policy that controller-manager cannot use new features for a release
    * pro: policy-only change, could be enforced with an associated CI job that runs v

[2020-08-11 14:19] neolit123 commented on #93883
/priority awaiting-more-evidence
(since i don't see a consistently flaky test?)

[2020-08-11 14:33] neolit123 commented on #93883
logged: https://github.com/kubernetes/kubeadm/issues/2251

[2020-08-11 14:42] kwiesmueller commented on #44995
I added it to the Agenda of next Week. Please join if you are interested in discussing it:
https://docs.google.com/document/d/1CSpNaicbEqKJoW306qaQEBIkwC1mGIcKl3yiB_C0HZk/edit#

https://github.com/kubernetes/community/tree/master/wg-api-expression#meetings

[2020-08-11 14:49] hasheddan commented on #93694
Following up here. The periodic builds are now publishing the correct version markers, when they actually push a new build. However, they only push a new build when it doesn't already exist (and it frequently does already exist). You can see a visualization of this by looking at test duration here: https://testgrid.k8s.io/sig-release-1.19-blocking#build-1.19&graph-metrics=test-duration-minutes

@j

[2020-08-11 14:57] liggitt commented on #93819
no, it looks like that is fixed in the kubelet:

https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/kubelet/server/server.go#L150

[2020-08-11 15:00] khenidak commented on #93545
@liggitt Our apis are getting more complex. their newer versions are even more complex. And it looks to me we will have to invest in a policy + upgrade tests eventually. Field plural-ization is one aspect of more complex api new versions, there are plenty of edge cases out there.

Proposal:
- Add api-machinery specific helpers to detect if fields/features are enabled on api-server (this is more co

[2020-08-11 15:12] warmchang commented on #86647
/remove-lifecycle rotten

[2020-08-11 15:20] RobertKielty commented on #93883
@neolit123 No other evidence is required.

The fact this test has both failed and succeeded on the same commits for both k/k and kubernetes/test-infa is what marks this as a flake.

/remove awaiting-more-evidence

[2020-08-11 15:23] justaugustus commented on #93621
/assign @dims
/sig architecture

[2020-08-11 15:26] demisx commented on #70411
@wangweihong Can you please share where these changes should be made? We are getting the same errors after upgrading to v1.18.6

[2020-08-11 15:29] jpbetz commented on #92913
Adding `+structType=atomic` support to kube-openapi with https://github.com/kubernetes/kube-openapi/pull/202, then we will bump the kube-openapi dependency in kubernetes and add the `+structType=atomic` tag to `LabelSelector` to fix this issue.

[2020-08-11 15:29] hasheddan commented on #92468
@eddiezane @soltysh Looks like there are actually two problems here. The initial failure mentioned in this issue was because tailing one line is returning two [example](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1293148191239180289), but there is also the issue of there not being older logs (mentioned above), which @eddiezane is addressing in #93763

[2020-08-11 15:31] #88508 closed

[2020-08-11 15:33] hasheddan commented on #92468
/retitle [Flaky Test] [sig-cli] Kubectl client Kubectl logs should be able to retrieve and filter logs [Conformance]

[2020-08-11 15:39] liggitt opened #93890 "[sig-scheduling] deadlock/timeout running pkg/scheduler TestSchedulerMultipleProfilesScheduling"
**Which test(s) are flaking**:

pkg/scheduler unit tests occasionally timeout at 5 minutes

**Reason for failure**:

Stats from 10 runs of the package:
[code]

The average (excluding the run that timed out) is ~40 seconds. The run that timed out took at least 5 minutes before being killed. That smells like a deadlock / failure-to-progress scenario which could be a real bug.

Our presubmit CI runs

[2020-08-11 15:40] yogisau commented on #50375
+1

[2020-08-11 15:46] liggitt commented on #93890
tests in that package

Stressing each test individually with short timeouts and seeing if they pass:

- [x] `eventhandlers_test.go:func TestSkipPodUpdate`
- [x] `eventhandlers_test.go:func TestNodeAllocatableChanged`
- [x] `eventhandlers_test.go:func TestNodeLabelsChanged`
- [x] `eventhandlers_test.go:func TestNodeTaintsChanged`
- [x] `eventhandlers_test.go:func TestNodeConditionsChanged`
- [x] `e

[2020-08-11 15:52] tosi3k commented on #93820
Unfortunately I don't see any convenient view that will show precisely which job failures were flakes - https://prow.k8s.io/?type=presubmit&job=pull-kubernetes-e2e-gce-100-performance contains only last 128 jobs. I'm doing a guess based on https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-100-performance with an assumption that a flaky job means a job

[2020-08-11 15:57] elsesiy commented on #74178
@colceagus No update, still open..

[2020-08-11 15:59] vareti commented on #93609
@liggitt `resourceNames` does not seem to be working with `CREATE` verb for admission webhooks. I am thinking of using different resource type for different verbosity level. Does that sound good? Please let me know if there is a simple alternative.

[2020-08-11 16:13] matthias50 commented on #93796
Here is an example:
Kubernetes Node name: dp-dev-3-az-eastus-worker-default-1000001
vmScaleSetName: dp-dev-3-az-eastus-worker-default-1-scale
hostname: dp-dev-3-az-eastus-worker-default-1000001.internal.cloudapp.net
curl -s -H Metadata:true "http://169.254.169.254/metadata/instance?api-version=2019-04-30" | jq -r '.compute.name': dp-dev-3-az-eastus-worker-default-1-scale_1

So, should the hostname

[2020-08-11 16:23] liggitt commented on #93890
can consistently reproduce a hang with:

[code]

I added this debugging:
[code]

and the hang appears to be while waiting for the create calls and resulting events to be produced:

[code]

[2020-08-11 16:23] liggitt commented on #93890
the full goroutine dump at the time of the hang:

[code]

[2020-08-11 16:29] liggitt commented on #93890
this is also reproducible against the release-1.18 branch

[2020-08-11 16:29] Huang-Wei commented on #93890
@alculquicondor could you help take a look at the problem in `TestSchedulerMultipleProfilesScheduling`?

[2020-08-11 16:29] liggitt commented on #93890
/priority important-soon

[2020-08-11 16:29] thockin commented on #93545
So, of course we don't WANT to have to support N-1, but:  Is the "use local apiserver" well known and common enough that we can close this as "OP is holding it wrong"?  At least SOME tool is not following that guidance (and I didn't even realize that was written down, or forgot).

Realistically, this sort of code will never get removed (until we rev to API v2), and in the limit we will accumulate

[2020-08-11 16:40] matthias50 commented on #93796
Ok, so I dug a bit further and found this line which looks suspicious: https://github.com/kubernetes/kubernetes/blob/v1.17.9/staging/src/k8s.io/legacy-cloud-providers/azure/azure_instances.go#L237. Shouldn't this take the value from hostname override if it is present?

[2020-08-11 16:48] liggitt opened #93891 "[sig-api-machinery] TestWatchHTTPTimeout flake: Leaked watch on timeout"
**Which test(s) are flaking**:

TestWatchHTTPTimeout

**Reason for failure**:

[code]

This test is flaking, but not enough to fail our presubmit CI (which currently retries up to 3 times and passes on a single green run).

Observed in https://github.com/kubernetes/kubernetes/pull/93605#issuecomment-668332578 when trying to disable this flake toleration.

Reproducer steps:

1. Build test binary:
[

[2020-08-11 16:51] saikrishnaa commented on #93139
@gnufied ---- Please find the attached logs.
[kubecontroller_log.txt](https://github.com/kubernetes/kubernetes/files/5058261/kubecontroller_log.txt)

[2020-08-11 16:58] alculquicondor commented on #93890
/assign

[2020-08-11 17:02] jsturtevant commented on #88554
There is some documentation on running with kubetest in relation to windows: https://github.com/kubernetes-sigs/windows-testing#running-an-e2e-test-pass.  If you have questions and possible improvements for that document for new folks that would be helpful.

We can add a test for this in this area: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/windows

[2020-08-11 17:13] thomacos commented on #88554
Thanks!

Yes, this is where we already put it, see https://github.com/Kerstin08/kubernetes_device_plugin_e2e_test.

[2020-08-11 17:30] knight42 commented on #93891
/assign

I would like to give it a shot.

[2020-08-11 17:31] liggitt commented on #93891
thanks for looking

[2020-08-11 17:40] alculquicondor commented on #93890
PR up for review #93893

Thanks a lot for the repro steps @liggitt

TIL

[2020-08-11 17:40] liggitt commented on #93609
isolating each test to its own namespace (instead of using `default` for all of them) and filtering the audit rules using the `namespaces` portion of the rule would work

[2020-08-11 17:44] BenTheElder commented on #93882
is this at HEAD in the master branch?

why is that?

cc @dims ref: Architecture support policy ...

[2020-08-11 17:45] liggitt commented on #93890
fantastic, that resolves the MultipleProfiles flake:

[code]

[2020-08-11 17:45] liggitt commented on #93890
TestSchedulerWithVolumeBinding looks flaky as well

[2020-08-11 17:45] hectoralicea commented on #87747
Yes, this would be nice to have.

[2020-08-11 17:47] BenTheElder commented on #93822
I think @dims is also looking at combining these checks under golangci-lint, something to keep in mind.

[2020-08-11 17:50] liggitt commented on #93822
yeah, though it's not clear golangci-lint can accomodate all our oddities:
* running subsets of checks (we only run a handful of staticcheck tests)
* exempting some packages from some failures (e.g. our tolerated lint failures)

[2020-08-11 17:50] alculquicondor commented on #93890
I see. I went by the title thinking that the other one was already resolved. Let me have a look.

[2020-08-11 17:50] liggitt commented on #93890
np, good to knock them out one at a time... the symptoms were consistent so I left it as one issue thinking there might be a shared root cause, but that doesn't appear to be the case

[2020-08-11 17:58] BenTheElder commented on #93822
- you can certainly at least exclude subsets of failure codes

- one option is moving the "known failures" toleration to lint ignore
comments in the source ...

On Tue, Aug 11, 2020 at 10:50 AM Jordan Liggitt <notifications@github.com>
wrote:

[2020-08-11 17:59] BenTheElder commented on #93530
we could start with matching presubmit

[2020-08-11 17:59] BenTheElder commented on #92775
what happens in skewed clusters?

[2020-08-11 18:07] jayunit100 opened #93894 "`Unable to connect to the server: context deadline exceeded` flakes in ipv6-kind test"
**Which jobs are flaking**:

e2e-kind-ipv6

**Which test(s) are flaking**:

CustomResourcePublishOpenAPI

[code]

**Testgrid link**:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93837/pull-kubernetes-e2e-kind-ipv6/1293208967144542211

**Reason for failure**:

Failed to (I think) make a simple tcp connection to the apiserver.  maybe the kind node has too little cpu or something and

[2020-08-11 18:07] jayunit100 commented on #93894
/sig apimachinery

[2020-08-11 18:07] jayunit100 commented on #93894
/sig api-machinery

[2020-08-11 18:09] aojea commented on #92775
I'm sure Rob can expand but Endpoints are there, IIUIC Endpoints are GA and can not be disabled.
For custom endpoints there is an endpoint slice mirroring controller that mirrors them, so you should have the same in both implementations.

[2020-08-11 18:09] RobertKielty commented on #93883
@neolit123 for sure, you raise an important point here in relation to terminology.

When I use the term, "flaky test" I really intend to refer to the _test result_ being _non-deterministic_ for a given set of input conditions. I apologize if that was not clear! I am not referring to the test code itself and as **you rightly point out the test implementation is not flaky.**

My focus here in loggin

[2020-08-11 18:11] BenTheElder commented on #93883
https://github.com/kubernetes/kubernetes/issues/93883#issuecomment-671929931 +1 yeah ... unit tests should not require binding to a specific real port (!)

we can actually tag these "integration" under bazel manually in the short term.

[2020-08-11 18:14] liggitt commented on #93890
my mistake, I got the wrong average runtime for the volume binding test... it actually takes ~16 seconds because we artificially wait for channel timeout for ~2 seconds for each of the subtests.

when I stressed it with a timeout of 1m, I got no flakes

separately, we could look into improving the runtime of that test by selecting between error/bind/timeout with something like the following, but t

[2020-08-11 18:15] dashpole commented on #72881
Extending my thoughts from sig-node.

1. If I set EnforceNodeAllocatable on `pods` (the default), then that requires adjusting shares for all `/kubepods` peers to be correct.  I think it is a bug if we don't do this.
2. If I set --kube-reserved or --system-reserved (and the corresponding cgroups flag), and have `EnforceNodeAllocatable=pods` we should _at least_ set cpu.shares on the peer cgroup of

[2020-08-11 18:19] ahg-g commented on #91058
/close

[2020-08-11 18:19] #91058 closed

[2020-08-11 18:27] vivekpd15 commented on #49466
+1

[2020-08-11 18:32] nikhita commented on #93879
Moderating/ensuring discussions don't rot will be hard :(

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

We could definitely have the bot add a comment with this link whenever someone comments with a `/triage support`. Maybe we could auto-close issues too... :thinking:

cc @mrbobbytables @castrojo @cblecker

[2020-08-11 18:39] spiffxp commented on #93553
/area conformance

I'm not entirely clear on what's being proposed here?  If it's about adding improving tag hygiene or test naming hygiene for easier regexing, I would be interested in seeing a more concrete proposal.  Otherwise, I'm not really interested in adding a bunch of extra tags upstream.

I would also be interested in what improvements could be made to ginkgo to allow us to use something

[2020-08-11 18:48] pupapaik opened #93897 "Pod IP in hostNetwork mode does not update when node IP changes"
**What happened**:

When PODs are running in hostNetworking mode they use Kubernetes node IP address. I hit issue when actual node IP changes, but some of the pods have never reflected the change. See screenshot bellow:

![image](https://user-images.githubusercontent.com/7746321/89935425-73e30000-dc12-11ea-9baf-05337c3c05e8.png)

The workaround is to restart kubelet. It seems like there is conditi

[2020-08-11 18:52] pupapaik commented on #93897
/assign @yourself
/sig network

[2020-08-11 19:05] pupapaik commented on #93897
/assign @pupapaik

[2020-08-11 19:10] robscott commented on #92775
Good question. Since the Endpoints controller will continue to run, older versions of kube-proxy will continue to function as before. The EndpointSlice controller has been enabled by default since 1.18 so if kube-proxy 1.19 ends up running in a cluster that still has a 1.18 master that should also work.

[2020-08-11 19:12] gmcruz commented on #63462
I could really use this as I have a need to set a different Hostname for each of my replicas. As they register onto zookeeper they each need a different hostname. Without this, they all have the same hostname and Zookeeper only registers one of them. Help, please. StatefulSet is not needed here as my app only registers on Zookeeper but no State is needed or wanted. They are simply workers.

apiVer

[2020-08-11 19:13] liggitt commented on #93894
for API server connection errors, an overall issue is probably better than one attributed to a specific test

[2020-08-11 19:24] jasongol commented on #92698
I can confirm that the same issue exists on Ubuntu 18.04.

[2020-08-11 19:26] liggitt opened #93899 "[sig-network] TestServiceRegistryUpdateDryRun flakes with "already allocated" error"
**Which test(s) are flaking**:

TestServiceRegistryUpdateDryRun

**Reason for failure**:

[code]

This is flaking rarely enough that it is not caught by our CI jobs, which currently tolerate up to 2 unit test failures per run (!).

With that toleration removed in https://github.com/kubernetes/kubernetes/pull/93605, this flake has been seen (https://github.com/kubernetes/kubernetes/pull/93605#issue

[2020-08-11 19:36] #93830 closed

[2020-08-11 19:36] nrjohnstone commented on #45509
I still think there needs to be perhaps a different implementation of a hpa based on whether you are scaling something like an API that might have lots of short lived requests versus longer term "worker" type jobs.

What would actually be ideal is just an hpa that scales up, and leaves the down scaling to the actual containers running.

An example is a process that attaches to a queue and consumes

[2020-08-11 19:40] dims opened #93900 "Pod Presets still in alpha since v1.6, time to remove it?"
- https://kubernetes.io/docs/concepts/workloads/pods/podpreset/
- https://github.com/kubernetes/enhancements/issues/162

There was an effort at one point to promote it to Beta https://github.com/kubernetes/enhancements/issues/348

This may have moved to Service Catalog repo https://github.com/kubernetes-sigs/service-catalog/search?q=podpreset&type=Commits

So question, do we remove it from kuberne

[2020-08-11 19:42] dims commented on #93900
/sig apps
/sig service-catalog

@pmorie @duglin Thoughts please!

[2020-08-11 19:44] liggitt opened #93902 "[Flaky unit test] Test_Run_OneVolumeAttachAndDetachMultipleNodesWithReadWriteMany flakes with "Wrong total GetAttachCallCount" error"
**Which test(s) are flaking**:

Test_Run_OneVolumeAttachAndDetachMultipleNodesWithReadWriteMany

**Reason for failure**:

[code]

This is flaking rarely enough that it is not caught by our CI jobs, which currently tolerate up to 2 unit test failures per run (!).

With that toleration removed in https://github.com/kubernetes/kubernetes/pull/93605, this flake has been seen (https://prow.k8s.io/view/

[2020-08-11 19:56] BenTheElder commented on #92775
SGTM, thanks!

On Tue, Aug 11, 2020 at 12:10 PM Rob Scott <notifications@github.com> wrote:

[2020-08-11 19:58] pupapaik commented on #93897
/remove-triage unresolved

[2020-08-11 20:05] ehashman commented on #93480
/assign

[2020-08-11 20:19] fedebongio commented on #93775
/assign @yliaog

[2020-08-11 20:21] fedebongio commented on #93894
/sig testing
/cc @BenTheElder

[2020-08-11 20:23] cbandy opened #93903 "ProjectedVolumeSource transformed incorrectly on write"
**What happened**:

I created a Pod with a ProjectedVolume with an empty array of `sources`, but Kubernetes transformed that value to `null`. Some clients are happy with either value (e.g. Go) while others are not (e.g. Python).

For example, the following is accepted and stored by Kubernetes, but cannot be read by the Python client:

[code]

[code]

The `sources` field has been transformed to `nu

[2020-08-11 20:31] BenTheElder commented on #93894
/cc @aojea

[2020-08-11 20:47] AkashSarda commented on #92620
yes, actually I am caught up in the week, I will be able to work on it this
weekend

On Mon, Jul 20, 2020 at 8:50 AM Lion-Wei <notifications@github.com> wrote:

[2020-08-11 20:48] liggitt commented on #93903
/remove-sig api-machinery
/sig storage

the issue is in the API definition, which does not indicate the sources field is optional (even though it is)

https://github.com/kubernetes/kubernetes/blob/236b9e7fcda25d9b28afa81305ab23f98e622461/staging/src/k8s.io/api/core/v1/types.go#L1584-L1587

[2020-08-11 20:51] liggitt commented on #93900
I see removal of perma-alpha APIs as a natural next step after the "[prevent perma-beta](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/1635-prevent-permabeta/README.md)" work to put end dates on beta APIs

[2020-08-11 20:54] aojea commented on #93894
it does not look like a network bug, checking the apiserver logs there are a log of GET and DELETE operations like this

[code]
it's like they were in a loop, it would be useful someone from api can take a quick look to the logs of the apiserver during the test period, 15:48:11.660 til  15:50:55.909
The files are
[code]

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/93837/pull-kubernet

[2020-08-11 20:54] liggitt opened #93904 "[sig-network] TestTCPProxyUpdateDeleteUpdate flakes with "error connecting to server" error"
**Which test(s) are flaking**:

TestTCPProxyUpdateDeleteUpdate

**Reason for failure**:

[code]

This is flaking rarely enough that it is not caught by our CI jobs, which currently tolerate up to 2 unit test failures per run (!).

With that toleration removed in https://github.com/kubernetes/kubernetes/pull/93605, this flake has been seen (https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pul

[2020-08-11 21:05] caseydavenport commented on #93712
One thing to note on Alpine is that it does not ship with glibc by default IIRC, so that may cause programs that are expecting to link to glibc to fail with a "no such file or directory" error. Though, I'd be surprised if kubelet was built with CGO enabled.

Probably one for someone in @kubernetes/sig-node-bugs

[2020-08-11 21:17] liggitt opened #93905 "[sig-node] TestInvalidPodFiltered flakes with "Expected no update in channel" error"
**Which test(s) are flaking**:

TestInvalidPodFiltered

**Reason for failure**:

[code]

This is flaking rarely enough that it is not caught by our CI jobs, which currently tolerate up to 2 unit test failures per run (!).

With that toleration removed in https://github.com/kubernetes/kubernetes/pull/93605, this flake has been seen (https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93605/

[2020-08-11 21:18] robscott commented on #93536
I think this is likely related to the other flaky Ingress tests, assigning @spencerhance since he's more familiar here.

/assign @spencerhance

[2020-08-11 21:22] aojea commented on #93899
heh this, was a funny one

[code]

[2020-08-11 21:25] aojea commented on #93899
heh this, was a funny one
/assign
/remove-triage unresolved

[2020-08-11 21:36] liggitt commented on #93484
go1.15.0 is tagged - https://github.com/golang/go/releases/tag/go1.15

[2020-08-11 21:50] swetharepakula commented on #93397
@jayunit100 I can start working on this.

[2020-08-11 22:28] msau42 commented on #93902
/assign @verult

[2020-08-11 22:31] #93890 closed

[2020-08-11 22:32] #93891 closed

[2020-08-12 00:28] wongma7 commented on #93090
Thx all for the quick fix. Just for the record in case we want to change this code again in the future (seems we are chasing AWS EC2 API behavior changes in perpetuum...), want to remark that this issue is possible without any leader changes being involved.

As described in the fix PR:

waitForAttach loop without calling AttachDisk. But if DescribeVolume
tell us - device is actually detached, then

[2020-08-12 00:40] duchuanLX commented on #93882
kubernetes tag：v1.18.3

exec 'go test -v k8s.io/kubernetes/pkg/kubelet/cm/devicemanager' was FAIL
Most unit tests have this error, fsnotiy cannot receive system events, such as file creation and file deletion.

[2020-08-12 00:41] robscott commented on #93374
Quick update here, I've limited the scope here to the following changes as discussed in https://github.com/kubernetes/kubernetes/pull/93520#issuecomment-672210925:

* Update the flaky test to consider duplicate EndpointSlices valid. https://github.com/kubernetes/kubernetes/pull/93907
* Update the docs to make it very clear that consumers of the EndpointSlice API will have to do deduplication (as k

[2020-08-12 00:51] jayunit100 commented on #93894
Happy to close this if there's another issue that subsumes

[2020-08-12 00:55] jayunit100 commented on #93397
Sure/ are you working full time on it ?

If so I'll drop the issue from my work ...

Otherwise we can collaborate as I already have some code for this.

Let me know. Was hoping to have this done in the next week or so.

[2020-08-12 01:07] swetharepakula commented on #93397
I would love to collaborate, especially if you already have some code. But if you want to drop this from your work, I don't mind taking it on full time either. I can pick up from where ever you left off.

[2020-08-12 01:19] msau42 commented on #93090
@wongma7 were you able to verify that the pr fixes this issue?

[2020-08-12 01:32] liruishan commented on #93886
YES，kubelet version is also 1.15.6;
I checked the latest code of kubelet and found that the method of updatacache has not been modified. The code has the following comments,there is a todo in this place, but no one has modified it so far:
// updateCache() will inspect the pod and update the cache. If an
// error occurs during the inspection, we want PLEG to retry again
// in the next relist. To ac

[2020-08-12 01:47] andyzhangx commented on #93796
hostname should be `dp-dev-3-az-eastus-worker-default-1000001` without `.internal.cloudapp.net` suffix

[2020-08-12 01:50] zhouya0 commented on #92468
/assign

[2020-08-12 01:51] Jiawei0227 opened #93911 "[sig-storage] MountDevice() should check stageUnstageSet immediately"
https://github.com/kubernetes/kubernetes/blob/35c8fece8618a79c7ab3c586b8d4180ce6af0f43/pkg/volume/csi/csi_attacher.go#L280

CSI `MountDevice(...)` checks for `stageUnstageSet` and returns if not set. However, the check is performed after a bunch of other operations. Should this check be moved up to avoid unnecessary work?  Or is there some special reason, we can't check it immediately. Alternative

[2020-08-12 01:52] Jiawei0227 commented on #93911
/assign

[2020-08-12 01:53] Jiawei0227 commented on #93911
/cc @gnufied

[2020-08-12 01:59] grubbins commented on #47202
If the decision is that core k8s should not extend to this functionality, then I agree with the comment above that the cronjob support should be removed so that people are encouraged to adopt an ecosystem solution as they choose. This really sticks out as something in core k8s that is not explicit about the intended result, and that trips people up.

[2020-08-12 02:28] lyind opened #93913 "Kubelet doesn't start on Linux kernels with CONFIG_SWAP=n"
**What happened**:
Kubelet doesn't start during `kubeadm init`, journalctl shows:
`kubelet[17870]: F0812 02:15:15.717137   17870 server.go:274] failed to run Kubelet: open /proc/swaps: no such file or directory`

**What you expected to happen**:
Kubelet correctly identifies absence of `/proc/swaps` as "no swap present", kubelet service starts and `kubeadm init` can finish.

**How to reproduce it (

[2020-08-12 02:31] lyind commented on #93913
/sig cluster-lifecycle

[2020-08-12 02:35] wongma7 commented on #93090
@msau42 yes but please ignore me, the issue I just described/saw should've already been fixed by the original PR https://github.com/kubernetes/kubernetes/pull/83567/files. So I didn't really say anything novel or useful, just that I can confirm the new PR preserves the fix from 83567. THe reason I ran into the bug from 83567 again and fake news'd that it's related to this issue here is because I'm

[2020-08-12 02:39] xs233 opened #93914 "Kube-dns service seems to not working"
**What happened**:
I can't `dig kubernetes.default` in a pod.

[code]

The /etc/resolv.conf file in the pod.

[code]

I have known the problem is on the nameserver. The nameserver 10.96.0.10 is the kube-dns service  cluster ip. If I use the kube-dns pod ip directly, it seems to work.

[code]

The ip 100.77.205.81 is my kube-dns pod ip and we can check the kube-dns service.

[code]

It look like th

[2020-08-12 02:39] AndrewSav commented on #78564
/remove-lifecycle stale

[2020-08-12 02:40] jjmengze commented on #93744
/close

[2020-08-12 02:40] #93744 closed

[2020-08-12 02:50] xs233 commented on #93914
/sig network

[2020-08-12 03:04] adaptivecorporation commented on #93914
how did you configure your networking? I don't think this is a bug

[2020-08-12 03:06] zouyee commented on #93624
/kind bug

[2020-08-12 03:19] adaptivecorporation opened #93915 "Persistent Volumes in On-Premise HTTP Object Storage Services"
**What would you like to be added**: ***Persistent volume support for HTTP/S3 compatible storage systems***

**Why is this needed**:  There is a growing use of on-premise distributed systems used for storing unstructured assets; this would allow larger clusters to take advantage of the scalability of these services.

/sig storage

[2020-08-12 03:22] adaptivecorporation commented on #93915
/sig storage

[2020-08-12 03:29] CriaHu commented on #93872
The problem has been solved. It's an accident in version v1.18.6

[2020-08-12 03:29] #93872 closed

[2020-08-12 03:38] knight42 commented on #93904
/assign

[2020-08-12 03:38] knight42 commented on #93905
/assign

[2020-08-12 03:42] #89031 closed

[2020-08-12 03:56] xs233 commented on #93914
How can I check it?

[2020-08-12 04:04] adaptivecorporation commented on #93914
Did you use flannel? I'm assuming you followed a guide online, many breeze right over applying the networking configuration. Try running kubectl delete -f https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml and see if any pods are deleted.

Try using Calico. I've personally had trouble using flannel on bare metal. The pods could communicate to the internet but not with eac

[2020-08-12 04:53] verult commented on #93902
I was lucky enough to get 1 failure in ~5k runs, and then no failures for the next ~45k runs.

[code]

In summary, attach to the 2nd node happened twice.

Some notes:
* reconciler loop delay in the unit test is 0ms.
* ReadOnlyMany implies multi-attach is allowed, so the operation key in NestedPendingOperations includes node name.

My theory is this: focusing on attaches to `multi-attach-node` only

[2020-08-12 05:06] verult commented on #93902
Verified with `reconcilerDelay = 100ms` and `attachDelay = 50ms`. Fails everytime

[2020-08-12 05:27] BenTheElder commented on #81518
@dims actually has a WIP PR related to this

[2020-08-12 05:29] BenTheElder commented on #93882
*most* unit tests shouldn't be using inotify.

Why can't inotify work? What's architecture specific about that? How is this a kubernetes bug?

[2020-08-12 05:31] BenTheElder commented on #93882
1.18.3 is a bit of an odd choice. It's neither the current development branch, nor even the latest 1.18.X code.

[2020-08-12 06:00] itsecforu commented on #64586
@boiside how u resolve it with coredns?

[2020-08-12 06:08] duchuanLX commented on #93882
kubernetes version is v1.18.3

golang.org/x/sys version	               platfrom	        kernelversion	        res
2019						X86			3.10-			PASS
2020						X86			3.10-			PASS
2019						MIPS64LE	3.10-			FAIL(cannot recv any os events)
2020						MIPS64LE	3.10-			PASS
2019						MIPS64LE	4.19			        FAIL(os crush，i trying install new kernel again)

[2020-08-12 06:25] verult commented on #93902
The issue can be simplified to this: there are two types of threads, and boolean registers A and B initialized to false (A being whether the volume is marked as attached in ASW and B being whether the operation is pending).
[code]

[code]

This can be fixed by instead calling `read(B)` before `read(A)` in the main thread. `B == false` implies either there were no operations before it, or the previ

[2020-08-12 06:35] verult commented on #93902
Some other alternatives are (1) locking across ASW and NestedPendingOperations, which is bad; and (2) add an attach pending state in ASW, which, with enough machinery, might be able to replace NestedPendingOperation and keep all states written and read by multiple threads inside a single data structure, maybe? But this is a lot more involved.

[2020-08-12 08:03] tangzhankun commented on #30189
@ThoTischner
From the document, it's still not very clear.
`You can trigger an immediate refresh by updating one of the pod's annotations`

For instance, per my testing, the pod's annotations update will cause a pod delete and re-create. This is not ideal.
Is there any way to just force the pod sync to make the config map changes visible to it?

[2020-08-12 08:07] VengefulAncient commented on #69696
We are also experiencing this issue as well with `1.16.13-gke.1`. Fortunately, simply switching the cluster's autoscaling profile to `optimize-utilization` seemed to have resolved this issue for now - we are using a cluster of 0-3 nodes for running Drone pipelines and it does scale back to 0 once the pipeline pods terminate.

[2020-08-12 08:41] knight42 commented on #93905
It is a bit funny that if I change `expectNoPodUpdate` https://github.com/kubernetes/kubernetes/blob/fa13dc11d12ba9cab8c462db4a3fee5fd09d9b07/pkg/kubelet/config/config_test.go#L123-L129 to the following(wait for 3 seconds until receive event from channel):
[code]
The test `TestInvalidPodFiltered` would consistently fail. I am not sure what the invalid update means at https://github.com/kubernetes/

[2020-08-12 08:51] zhouya0 commented on #92468
- Tailing one line is returning two
It's because the `--tail` flag will result in finding the start line:
[code]
So when reading the log while writing continuously. The start index will not be the actually `--tail` number.

- Issue of there not being older logs
It's because the pod `agnhos` will be restarted after 20s. If `recent logs` is the old pod and the `older logs` is the new pod. There's no

[2020-08-12 09:18] bronger commented on #47202
Since Go 1.15 now has got a `time/tzdata` package in its core library, possibly …?

[2020-08-12 09:42] jayunit100 commented on #93397
ok, if youve got full bandwidth go for it.  if make progress on it this wk ill just drop it .  I actually dont know where my old branch is for this :), so i guess youll have to start from scratch.

One thing to note ~ Might be seeing if any tests can be reused for this or extended in a simple way by just adding a secondary service, rather then writing a full blown test from scratch.

Let me know h

[2020-08-12 10:18] wojtek-t commented on #93374
Reopening since #93908 is not yet merged.

[2020-08-12 10:44] jayunit100 commented on #93914
Hi ! ... can you post the output of `iptables-save | grep default/kubernetes` ? curious wether 10.96.0.10 has the correct iptables rules which route it to the internal service i.e.

in a healthy cluster, you should see something like this,
[code]
The `KUBE-SVC-ERIF...` rule later on should be associated with `KUBE-SEP` rules which ultimately route to those 100.77.205.81 pods .

[2020-08-12 11:39] neolit123 commented on #93914
using flannel is not as recommended as it use to be. please confirm the problem with another CNI network (WeaveNet or Calico as suggested).

this can also be a problem around the DNS library used in your Pod's containers. we've seen issues around https://www.musl-libc.org/ usage.

[2020-08-12 11:42] neolit123 commented on #93913
this is a potential improvement for the kubelet.

/sig node
/remove-sig cluster-lifecycle

[2020-08-12 11:55] aojea commented on #91774
@jkaniuk I'm closing this because this happened only once in the last 2 weeks and it not likely anybody can have time to analyze occurrences with this low rate, please keep warning on these things but try to set a threshold, i.e. 2 failures every 20 runs ???
/close

[2020-08-12 11:55] #91774 closed

[2020-08-12 11:56] aojea commented on #91236
Interesting failures here
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/93817/pull-kubernetes-e2e-gce/1293300409502273538

It fails to connect to the first pod
[code]

[2020-08-12 12:46] fasaxc opened #93925 "Pod stuck in Terminating state"
**What happened**:

The Calico team is doing a churn test to test Calico but we seem to have run into a kubernetes issue.  Some pods are getting stuck in the Terminating state.  That's bad enough but it seems that

* kubelet is getting far enough that it calls the CNI plugin
* CNI plugin deletes the interface, thus freeing the IP for reuse
* kubelet doesn't remove the IP from the pod spec
* CNI pl

[2020-08-12 12:46] fasaxc commented on #93925
/sig node

[2020-08-12 12:48] fasaxc commented on #93925
Output from
[code]
[pod.yaml.gz](https://github.com/kubernetes/kubernetes/files/5062729/pod.yaml.gz)

[2020-08-12 13:11] wojtek-t commented on #82364
/remove-lifecycle stale

[2020-08-12 13:18] fasaxc commented on #93925
Tailing the kubelet log, I see a few of these errors go by:
[code]

And these warnings:
[code]
Seems to be different IDs each time

Also see this in the docker journal:
[code]

Looks like docker is failing to kill the container

[2020-08-12 13:20] fasaxc commented on #93925
Doing `docker rm -f <container ID>` successfully removed the container and kubelet immediately spotted that and the pod was torn down.

[2020-08-12 13:22] deads2k opened #93928 "missing validation for ingress.spec.tls.secretName"
In looking at the Ingress API, I checked validation and I don't see any on the .spec.tls.secretName.  See https://github.com/kubernetes/kubernetes/blob/2b091f60ca09d3d03923a26b7cd02fb3dc6c47e2/pkg/apis/networking/validation/validation.go#L235-L254

I would expect at least some validation.  The secretName field does not indicate that it is a kubernetes secret, so if the intent is to allow any strin

[2020-08-12 13:22] fasaxc commented on #93925
Could kubelet do the equivalent of `docker rm -f` to unwedge itself?

[2020-08-12 13:25] liggitt commented on #93928
cc @robscott

v1 is the natural place to add this validation. The expectation is that this is the name of a kubernetes secret in the same namespace, so we should validate it as such.

Ratcheting validation in the v1 API only (required on create, required on update if the existing object passes this validation) would make sense to me

[2020-08-12 13:25] liggitt commented on #93928
/milestone v1.19

since v1 is new in v1.19

[2020-08-12 13:32] wojtek-t commented on #91236
Hmm - I took a quick look at kube-proxy logs and these look fine to me....

[2020-08-12 13:46] SataQiu commented on #93913
/assign

[2020-08-12 14:00] alejandrox1 commented on #92673
@knabben been meaning to ask: how did you compile https://docs.google.com/spreadsheets/d/1KcQPwfg5K2X1ilbAmu1_iPcmXneDte0NX6-O5dF_1yE/edit#gid=0 ?
Did you do it by hand? :eyes:

[2020-08-12 14:01] ThoTischner commented on #30189
Hey @tangzhankun you need to update the annotation directly on the pod not the sts.

[2020-08-12 14:15] andyzhangx commented on #56188
use `net use` works for Windows Container on NFSv3 protocol(no official NFSv4 client is on Windows now: https://docs.microsoft.com/en-us/windows-server/storage/nfs/nfs-overview#windows-and-windows-server-versions)
[code]

[2020-08-12 14:59] tosi3k opened #93932 "[Flaky test] [sig-network] ESIPP [Slow] should handle updates to ExternalTrafficPolicy field"
**Which jobs are flaking**:
gce-master-scale-correctness

**Which test(s) are flaking**:
[sig-network] ESIPP [Slow] should handle updates to ExternalTrafficPolicy field

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1293517967912341505

**Reas

[2020-08-12 15:13] jayunit100 commented on #93914
- agree other CNIs are more common nowadays, but in either case, still curious...
- does the `10.96.0.10` service have a rule routing to  `100.77.205.81` ?
- is there another rule in the routing table (`route -n` output might be useful) that points to something in the 10.... subnet?

[2020-08-12 15:33] jayunit100 commented on #92973
hmmm except @BenTheElder  I think changing this conformance test would cause a regression in single node (or 2 node w/ one control-plane/one worker) clusters.... right?  but then again i believe there are other conformance tests which might require 2 nodes, so maybe thats ok....but just heads up this will i think change the meaning of this test.

[2020-08-12 16:18] hasheddan commented on #93822
Investigating this further with @liggitt:

This [failed run](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93927/pull-kubernetes-verify/1293534074085838848) fails due to `No space left on device`. It looks like the Go cache is using an `emptyDir` volume mount, which should not be constrained except by the disks of the actual node.

[code]

@spiffxp @BenTheElder is it possible that th

[2020-08-12 16:28] aojea commented on #91236
I clicked too fast, sorry ... I was looking at the wrong service and I though I've found something

[2020-08-12 16:40] grosser opened #93934 "Pending DaemonSet pods should indicate what node they are trying to be scheduled on"
We a re trying to schedule a daemonset and 5 pods could not be scheduled, which is fine/expected:
[code]

... but there is no nice way of knowing which node this has failed to schedule on since the pod has no nodeSelector or spec.nodeName
under the hood the scheduler knows were it is trying to place the pod, so either setting the nodeSelector or having the target node in the event would improve de

[2020-08-12 16:43] aojea commented on #92973
I can't find any reference, but I thought that was a prerequisite to run conformance tests to have more than 2 nodes

if this is about test coverage in kubernetes we already have a test that covers the scenario

[2020-08-12 16:53] #93928 closed

[2020-08-12 17:16] emasyakin commented on #81837
@javendo were you able to get to the bottom of it?
I have a very similar problem with NIC removal tests.

[2020-08-12 17:24] grosser commented on #93934
/remove-sig node

[2020-08-12 17:24] grosser commented on #93934
@vllry good bot 🥇

[2020-08-12 17:27] knabben commented on #92673
I had put a bunch of regex to extract the CSV, here is the code:

https://gist.github.com/knabben/0181a90e8a131d58a55f59c2bee9f494

[2020-08-12 17:30] neolit123 commented on #78995
PRs to move the conformance image:
https://github.com/kubernetes/kubernetes/pull/93937
https://github.com/kubernetes/kubernetes/pull/93937

cc @dims @BenTheElder

[2020-08-12 17:30] problame commented on #76928
/remove-lifecycle stale

[2020-08-12 17:31] BenTheElder commented on #78995
commented already 🙃
<https://emojipedia.org/upside-down-face/#:~:text=A%20classic%20smiley%2C%20turned%20upside,sense%20of%20goofiness%20or%20silliness.&text=Upside%2DDown%20Face%20was%20approved,to%20Emoji%201.0%20in%202015.>

On Wed, Aug 12, 2020 at 10:30 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-08-12 17:33] swetharepakula commented on #93397
I will let you know how it progresses. Thanks @jayunit100 !

[2020-08-12 18:52] michaelgugino commented on #92960
This is not a bug, it's working as designed.  If you feel strongly about changing the design, it probably requires a KEP.  I think it's unlikely that this will change, these are widely used and expected to behave this way by many.

[2020-08-12 19:15] MicahRam commented on #60140
I ended up splitting the file into 500mb chunks and copied over each chunk 1 at a time and it worked fine. `split ./largeFile.bin -b 500m part.`  I sugest you use a checksum to validate the files integrity once you are done

[2020-08-12 19:26] matthias50 commented on #93796
Got it. This was how we were configuring things till recently. The root cause seems to be a race condition in our cloud-init code configuring the node. Our cloud-init scripts are disabling NetworkManager. In our particular CentOS 7 configuration, if you don't disable NetworkManager before it has a chance to run, it will change the network configuration to add the `.internal.cloudapp.net` suffix.

[2020-08-12 19:40] pjh opened #93945 "Windows kubelet degraded after starting pod with too-low limits"
**Steps to reproduce**:

- Start a k8s cluster with one Windows node. I used the command below to bring up a cluster on GCE; I was able to reproduce the issue with both K8s `v1.19.0-rc.4` and `v1.17.9`.
`NUM_NODES=2 NUM_WINDOWS_NODES=1 KUBE_GCE_ENABLE_IP_ALIASES=true KUBERNETES_NODE_PLATFORM=windows LOGGING_STACKDRIVER_RESOURCE_TYPES=new KUBE_UP_AUTOMATIC_CLEANUP=true WINDOWS_NODE_OS_DISTRIBUTION=

[2020-08-12 19:41] pjh commented on #93945
/sig windows
cc @yliaog @jeremyje

[2020-08-12 20:36] eth0xFEED commented on #93824
I'm not sure there is a "one" size fits all documented recommendation for all users , since some workloads may desire more efficient internal k8s svc resolution and other workloads perhaps build pods may desire more efficient external domain name resolution for package updates etc.

I think what you are seeing in the specification is the technical FQDNs and the expected behavior while the document

[2020-08-12 20:38] spiffxp commented on #89712
Still seeing this, bumped into it over in https://github.com/kubernetes/kubernetes/pull/93943

[2020-08-12 22:16] Huang-Wei opened #93949 "Analytics link not working in main README.md"
The analytics link https://kubernetes-site.appspot.com/UA-36037335-10/GitHub/README.md?pixel embedded in [README.md](https://github.com/kubernetes/kubernetes/blob/master/README.md) is not working now.

If you open https://github.com/kubernetes/kubernetes, scroll down to the bottom, you will get:

![image](https://user-images.githubusercontent.com/1425903/90073781-ac381c00-dcae-11ea-92ba-a292b89496

[2020-08-13 00:00] #93749 closed

[2020-08-13 00:10] eyeezzi opened #93952 "Duplicate ports in deployment results in non-deterministic port assignment"
**What happened**:
If you update a deployment with duplicate ports, there's no deterministic behaviour for which ports kubernetes will preserve in the deployment. It may remove all duplicate ports, keep the last one, or the first one. The behaviour gets even more unpredictable as the number of ports increase.

**What you expected to happen**:
Duplicate ports should be left untouched, exactly as th

[2020-08-13 00:20] eyeezzi commented on #93952
/sig Apps

[2020-08-13 00:54] liggitt commented on #93952
Thanks for the report. This is a duplicate of https://github.com/kubernetes/kubernetes/issues/58477 and is due to 1) incomplete specification of the properties the client should use to compute unique entries in the ports list and 2) incomplete validation on the server side which permitted duplicate entries.

Neither of those should occur, but neither are possible to change currently in a backwards

[2020-08-13 00:54] #93952 closed

[2020-08-13 01:25] adaptivecorporation commented on #93914
@neolit123 I still believe this is not a bug, remove the kind/bug tag when you get a chance :)

Were you ever able to get any results by using a different CNI?

[2020-08-13 02:10] scardena opened #93957 "Pod security policy is is not working as expected"
**What happened**:
I have the following pod security policy in place (it's the only one, as I deleted the rest). I expect this to block all pods that are configured to be created with containers running as root user.
[code]
I am trying to deploy pods and deployments using the same configurations, but the PSP is failing for both cases. Below is the example of pods and deployments that I am using fo

[2020-08-13 02:11] #93853 closed

[2020-08-13 02:13] scardena commented on #93957
/sig scheduling

[2020-08-13 02:14] scardena commented on #93957
/sig auth

[2020-08-13 02:14] #93729 closed

[2020-08-13 02:20] liggitt commented on #93957
Did you grant access to use this policy to the service account of the pod you are creating, following the instructions at https://kubernetes.io/docs/concepts/policy/pod-security-policy/#authorizing-policies ?

[2020-08-13 02:31] scardena commented on #93957
@liggitt no I haven't done that, I guess I will need to take a look into it. but this bring me to the question, if the PSP is not being enforced, then how come I can create a single pod, but the deployment can't create a pod? (it complains that the pod is unable to validate against any PSP, but I don't run into this when creating a single pod i.e using Kind:Pod)

[2020-08-13 02:36] liggitt commented on #93957
The authorization check is performed against the service account of the pod, AND against the user making the API call to create the pod, and allows the creation of either check passes. If you are a superuser, then you are authorized to use any policy that exists automatically, which is why you can directly create the pod.

[2020-08-13 03:23] BenTheElder commented on #93949
/sig docs

[2020-08-13 03:33] liggitt commented on #82021
covered by code to automatically stop serving APIs once their declared removed release arrives

[2020-08-13 03:33] #82021 closed

[2020-08-13 03:35] liggitt commented on #82022
will be covered by code to automatically stop serving APIs once their declared removed release arrives - #90983

[2020-08-13 03:35] #82022 closed

[2020-08-13 03:40] #89966 closed

[2020-08-13 04:04] manjeetsorout opened #93958 "Node IP can't be reached"
**What happened**:
when i make request in the browser using <nodeIp>:<nodePort>, then i get the following output:
This site can’t be reached192.168.43.166 refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED

**What you expected to happen**:
it should open the wordpress service on this ip.
**How to reproduce it (as minimally and precisely as

[2020-08-13 04:06] manjeetsorout commented on #93958
/sig <group-name>
/wg <group-name>
/committee <group-name>

[2020-08-13 04:21] mikedanese commented on #70679
@cben yes, this mostly only affects clients using in-cluster-config. All you need to do is reload the token from disk every minute. This might be a helpful starting point:

https://github.com/kubernetes-client/ruby/pull/53/files

[2020-08-13 04:35] #89414 closed

[2020-08-13 06:27] duchuanLX commented on #93882
golang.org/x/sys-version							platfrom	kernelversion	res		appearance
golang.org/x/sys@v0.0.0-20190813064441-fde4db37ae7a	X86			3.10-			PASS
golang.org/x/sys@v0.0.0-20200805065543-0cf7623e9dbd	X86			3.10-			PASS
golang.org/x/sys@v0.0.0-20190813064441-fde4db37ae7a	MIPS		3.10-			FAIL	cannot recv any os events about file，such as create file or delete file
golang.org/x/sys@v0.0.0-20200805065543-0cf762

[2020-08-13 07:19] xs233 commented on #93914
I used the command, but there is no result. In addition, I use the calico, not the flannel. How can I fix the iptable and why it's missing.

[2020-08-13 07:19] mariusmotea commented on #70411
@demisx these changes where made in haproxy configuration used for api load balancer.

[2020-08-13 07:32] mitar commented on #52757
/remove-lifecycle stale

[2020-08-13 07:52] ivanangelov commented on #92639
Hello @robscott,

Thanks for the example! However, what would happen if the pod _**example**_ exposes multiple ports? Can we explicitly declare which port to use?
Would you direct me where I can ask the maintainers the same question?

[2020-08-13 08:25] habibrosyad commented on #93949
Similar issue in https://github.com/kubernetes/website/issues/22819, however they decided to remove it here https://github.com/kubernetes/website/pull/22998

[2020-08-13 08:28] winaterion commented on #93019
I will also follow this request, it is the exact case I now encounter. I have a steteless app, but it need a large volume **on-demand** and not pre-mounted on a node which might never gets used. I couldn't find any solution on that unless I will make my app statefulset instead of deployment.

[2020-08-13 09:01] mshivanna commented on #51017
we have been hit by this bug too :(

[2020-08-13 09:12] shsjshentao commented on #55713
same issue on 1.16.4

[2020-08-13 09:19] dijitali commented on #51475
@apelisse - any chance we can re-open this issue?  Given we now have `kubectl apply --dry-run=client` and `kubectl apply --dry-run=server` with v1.18, it seems sensible that the client option does not require kubectl to be authenticated and connected to the apiserver.

For context of our use case: we're using this to do some validation and JSON rendering of manifests in an automated pipeline that

[2020-08-13 09:39] sgrzebieta commented on #85776
kubectl get endpoints <Service-Name> -o=jsonpath='{.subsets[*].addresses[*].ip}' | tr ' ' '\n' | xargs -I % kubectl get pods --field-selector=status.podIP=%

[2020-08-13 10:36] fcantournet commented on #93784
On my laptop running kubectl

[2020-08-13 11:16] gayatri-sa commented on #63035
In case someone has the same question and reaches this page
When you execute kubectl edit/path for a static object only the spec of the mirror object changes. The actual static pod is not affected. If you execute _docker ps_ and check the actual container you will notice that nothing has changed.

Of course, the discrepancy is confusing but, at least the integrity of the static pod is maintained.

[2020-08-13 11:19] neolit123 commented on #93914
/remove-kind bug

[2020-08-13 11:48] adaptivecorporation commented on #93958
@manjeetsorout I don't think this is a bug, how did you configure your CNI? Just wrote same comment a few days ago on another post relating to kube-dns, I have a good feeling it has something to do with your networking. I had been unable to reach pods, or ping hosts from pods. The final fix ended up being rebuilding the master by following the official documentation and using Calico as the CNI ove

[2020-08-13 12:14] #77019 closed

[2020-08-13 13:01] SataQiu commented on #93949
/assign

[2020-08-13 13:12] erihanse commented on #93194
I'm not sure how the release process works (or where to find it), does anybody know when release candidates such as this will be released?

[2020-08-13 13:18] SataQiu commented on #93949
/unassign

[2020-08-13 13:25] liggitt commented on #93194
see https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#116 for the schedule

v1.16.4 is planned for this week.

[2020-08-13 13:34] andyzhangx commented on #93796
I am thinking write psudo code like this to make it work:
`return (metadataVMName == nodeName), err` -->

[code]

[2020-08-13 13:57] matthias50 commented on #93796
This would do the right thing in the precise case that the `hostname` has a domain suffix and hostname_overrride is being used to tell kubelet to use only the portion before the dot as the node name. In other cases, it would be counter-productive. For instance, suppose I had the hostname dp-dev-3-az-eastus-worker-default-1000001.internal.cloudapp.net and then matched the nodename to also be dp-dev

[2020-08-13 14:12] andyzhangx commented on #93796
that would change the behavior of current `InstanceID` func logic:
  if not found in UseInstanceMetadata, then get addresses from Azure ARM API.
I think use Azure ARM API is still valid in some case.

what about such fix:
[code]

[2020-08-13 14:21] neolit123 commented on #93958
i agree. please use the support channels for support questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thank you!

/triage support
/close

[2020-08-13 14:21] #93958 closed

[2020-08-13 14:36] nikhita commented on #93949
cc @jimangel

[2020-08-13 14:39] w0x12ef commented on #13382
set no_proxy cause this issue for me

[2020-08-13 14:39] jimangel commented on #93949
Thanks for the ping! Just realized there was a hold on the removal PR. Merging underway now 😅

[2020-08-13 14:52] matthias50 commented on #93796
If execution context is kubelet and useInstanceMetadata is true, I can't think of any case where ARM API is valid. Am I missing something?

That said, I think your proposed fix would work. It is just a bit subtle and my concern is that I'm missing something and we would end up having ARM calls from kubelet in some scenario I'm not thinking of.

[2020-08-13 14:53] elgalu commented on #75227
/reopen

[2020-08-13 14:54] makkes commented on #90764
/remove-lifecycle stale

[2020-08-13 15:07] andyzhangx commented on #93796
+ @feiskyer for comments

[2020-08-13 15:33] demisx commented on #70411
Thank you. My cluster is created and managed by [kops](https://github.com/kubernetes/kops). If anyone knows how to make changes via kops for this error to go away I'd highly appreciate it.

[2020-08-13 15:45] jayunit100 opened #93965 "isNodeConditionSetAsExpected code duplicated, needs comments"
**What happened**:

isNodeConditionSetAsExpected is duplicated in two places, and needs a godoc

- test/integration/framework/util.go
- test/e2e/framework/node/resource.go

**What you expected to happen**:

The function would only be in one place.

**How to reproduce it (as minimally and precisely as possible)**:

`git grep isNodeConditionSetAsExpected` :)

[2020-08-13 15:45] jayunit100 commented on #93965
/good-first-issue

[2020-08-13 15:59] apelisse commented on #51475
Sounds reasonable to me.
/reopen

[2020-08-13 15:59] rchenzheng commented on #60987
1.16.10 still same issue

[2020-08-13 16:18] MAnyKey opened #93968 "kmsv2: consider removing KMS from /livez checks"
**What happened**:
kube-apiserver goes unhealthy and restarts when a kms provider returns PermissionDenied on Encrypt/Decrypt requests. This may happen when the permission to encrypt and decrypt gets revoked.

**What you expected to happen**:
I expected kube-apiserver to stay healthy and return errors on types covered by the kms provider.

**How to reproduce it (as minimally and precisely as possi

[2020-08-13 16:33] MAnyKey commented on #93968
/sig api-machinery

[2020-08-13 17:12] cbandy commented on #93915
Sounds very similar to https://github.com/kubernetes/enhancements/pull/1383

[2020-08-13 17:56] liggitt commented on #93968
Is an API server which does not have the permission required to successfully read and write secrets healthy?

[2020-08-13 17:57] liggitt commented on #93968
/assign @immutableT

[2020-08-13 17:58] oomichi commented on #89668
/remove-lifecycle stale

[2020-08-13 18:00] webmutation commented on #61406
Are RegEx really not supported?
I am trying to find all deployment that contain a specific string but I am getting an error

[code]

[2020-08-13 18:06] marosset commented on #92081
/close

[2020-08-13 18:07] #92081 closed

[2020-08-13 18:10] marosset commented on #90142
Docs have been updated with https://github.com/kubernetes/website/pull/21652
/close

[2020-08-13 18:10] #90142 closed

[2020-08-13 18:11] jimangel commented on #93949
While this is fixed on the actual Kubernetes website, the issue will still remain on all GitHub markdown files that contain the url.

It seems appropriate for a good first issue. The action would be searching for the url in all Kubernetes org markdown files and removing it.

/good-first-issue

[2020-08-13 18:16] whitlaaa commented on #89672
I'm also still seeing this on v1.18.6

[code]

[2020-08-13 18:21] liggitt opened #93970 "[sig-storage] TestAttacherWithCSIDriver flakes with timeout error"
**Which test(s) are flaking**:

TestAttacherWithCSIDriver

**Reason for failure**:

[code]

This is flaking rarely enough that it is not caught by our CI jobs, which currently tolerate up to 2 unit test failures per run (!).

With that toleration removed in https://github.com/kubernetes/kubernetes/pull/93605, this flake has been seen (https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/936

[2020-08-13 18:25] webmutation commented on #72220
This is very annoying... If JSONPath does not support regex, then it is not very useful, and should probably be removed altogether.

I fully agree with @povsister jq is not present in many linux and windows distributions, creating an additional dependency and in our case we can't even install it since we don't have admin rights to install it. and in some cases grep is also not available only kubec

[2020-08-13 18:37] lavalamp commented on #72220
If kubectl is more commonly available than grep then we have really made it :)

We'd be happy to accept a PR improving the documentation.

[2020-08-13 18:39] whitlaaa commented on #89672
Since I was mistaken thinking `kubectl` was still causing this for me, I figured I would just drop a note for others in case it's helpful. Turns out my problem was actually due to `helm` and looks to have been resolved as of the v3.3.0 release.

https://github.com/helm/helm/issues/8104

[2020-08-13 18:50] avr1254 commented on #93949
/assign

[2020-08-13 18:51] mattfenwick commented on #93965
/assign

[2020-08-13 18:53] msau42 commented on #80712
/remove-lifecycle stale
/assign @mattcary

[2020-08-13 19:27] eddiezane commented on #92901
Copying my comment from [here](https://github.com/kubernetes/kubernetes/pull/93439#issuecomment-673664593).

/close

[2020-08-13 19:27] #92901 closed

[2020-08-13 19:37] Danil-Grigorev opened #93973 "vSphere create volume hangs forever on resource lock"
**What happened**:
Quote @gnufied:

I took goroutine dump of controller-managers that were stuck in volume provisioning and I think we have a deadlock in code:
[code]

I think we have a problem introduced when we merged - https://github.com/kubernetes/kubernetes/pull/90836 and what is happening is, when `GetNodeDetails` in `nodemanager.go` is called it acquires a lock on `registeredNodesLock`, but

[2020-08-13 19:43] Danil-Grigorev commented on #93973
/sig cloud-provider
/area provider/vmware

[2020-08-13 19:43] b0nete commented on #73906
I fix this problem removing "kubernetes.io/cluster/<CLUSTER_NAME>" tag in one of the security groups.

[2020-08-13 19:58] gnufied commented on #93973
This should be a blocker bug for 1.19 at least as far as vsphere cloudprovider integration is concerned, because it breaks cloudprovider integration/volume provisioning. cc @andrewsykim

[2020-08-13 20:11] fedebongio commented on #93968
/cc @logicalhan

[2020-08-13 20:11] fedebongio commented on #93968
@cheftako says he believes there is a workaround, disabling the KMS check in the manifest file.

[2020-08-13 20:18] cheftako commented on #93968
I'm assuming here you mean that the KAS start returning a not ok code to the Kubelet which restarts the KAS.
(Cribbed from the kube-up manifest file) The following section of the manifest file asks that kubelet to send a liveness request which ignores kms providers 0 & 1 status.

"livenessProbe": {
      "httpGet": {
        "scheme": "HTTPS",
        "host": "127.0.0.1",
        "port": 443,

[2020-08-13 20:20] TJM commented on #60987
We just came up with a workaround (cleanup) script - https://gist.github.com/TJM/31b68f12b2bc962141ce1eb27f7bcb10 ... about to drop it into /etc/cron.hourly ... any thoughts/feedback?

[2020-08-13 20:22] #89144 closed

[2020-08-13 20:23] liggitt commented on #93484
go1.15.0 is merged in https://github.com/kubernetes/kubernetes/pull/93939

[2020-08-13 20:23] #93484 closed

[2020-08-13 20:27] liggitt commented on #93651
Still happening:

* https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1293758433668894720
* https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1293681678421594115

[2020-08-13 20:28] liggitt commented on #93780
no failures since https://github.com/kubernetes/kubernetes/pull/93831 merged ~3 days ago

/close

[2020-08-13 20:28] #93780 closed

[2020-08-13 20:29] hickeng commented on #72675
/reopen

hit this just now with the same conditions as originally described, but without a reboot.
[code]

[2020-08-13 20:30] liggitt commented on #93496
still saw one occurrence at https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1293374774533165056

[2020-08-13 20:33] jingxu97 opened #93978 "Properly dismount disk for Windows in drivers"
Currently, most if not all disk driver for Windows does not perform dismount disk before detaching it. Examples include gce pd, azure disk driver.

This PR tries to fix it in GCE PD driver.
https://github.com/kubernetes/kubernetes/pull/91123

Consider to make this function into mount util so that other driver could use it.

[2020-08-13 21:00] zerkms commented on #60987
@TJM In my very similar but different script I instead only cleanup volume directories, not the whole pod directory. That way I try to let kubelet do its job and not interfere much in its cleanup logic.

[2020-08-13 21:07] TJM commented on #60987
@zerkms Interesting, that is probably a good idea. Do you clean the "volumes" dir or the directories inside "volumes"?

[2020-08-13 21:15] zerkms commented on #60987
I remove directories inside as long as they are empty. And if not - I exit with status 1 and output the contents. In that case I give myself a chance to fine tune the script to know which directories can be `rm -rf`.

[2020-08-13 21:32] stawii commented on #85020
/remove-lifecycle stale

[2020-08-13 23:38] tamilmani1989 commented on #90186
@aramase did you get chance to fix this?

[2020-08-13 23:46] immutableT commented on #93968
I think that it is the desired behavior for kube-apiserver to return !OK when it is unable to encrypt/decrypt secrets.
However, restarting kube-apiserver due to the failure of the livenessProbe (as pointed out by @cheftako) would not help. Hence, excluding kms-providers from the liveness check makes sense.

[2020-08-14 00:01] BenTheElder commented on #93882
If we were to change anything it would be against 1.18 development, 1.18.3 is done.

https://github.com/kubernetes/kubernetes/tree/release-1.18

https://github.com/kubernetes/kubernetes/blob/182489b57f6b96f5ae3a988f9034568290cc0549/go.mod#L128

/remove-help

`/help` should be used when there's a clear path forward and we're aiming for a new contributor to help.

A PR to upgrade x/sys would be pret

[2020-08-14 00:13] divyenpatel commented on #93973
cc: @SandeepPissay @xing-yang

[2020-08-14 00:22] romanjoffee commented on #65500
Thank you very much!

[2020-08-14 01:01] MHBauer commented on #93905
Isn't this asserting a negative? I don't think it *can* work, especially not without a wait or some way of forcing the config mux storage merger thingy to run. The multiple levels is kind of mindbending, really.

I come to the same conclusion as @knight42.
Maybe the focus needs to be on the invalid update? I do not understand why it is invalid from the context.

Tracing it backwards in time, v1.8

[2020-08-14 01:05] wmcnamee-tunein commented on #71556
why not get the representation of the object itself? you cannot have multiple objects of the same name and different versions

[2020-08-14 01:06] msau42 commented on #93970
/assign @jsafrane @huffmanca
can you help investigate this flake?

[2020-08-14 01:14] ghostsquad opened #93984 "defaulting to using `v1` apiVersion when getting a resource is unintuitive"
this is a followup ticket after finding #71556

It's not possible to have multiple resources of the same name with different apiVersions, so it shouldn't matter what apiVersion the client requested, it only matters the apiVersion of the object itself.

**What happened**:

I find it very unintuitive, and so far as a chicken-egg problem, that in order to run

[code]

I must first know that the `foo`

[2020-08-14 01:15] ghostsquad commented on #93984
/sig cli

[2020-08-14 01:37] ghostsquad commented on #93984
/sig api-machinery

[2020-08-14 02:15] adaptivecorporation commented on #93915
@cbandy you are correct, thank you very much. I will follow this! Closing issue.

[2020-08-14 02:15] #93915 closed

[2020-08-14 02:23] adaptivecorporation commented on #93914
I think you should try and rebuild your cluster from scratch. Make sure to set the correct cidr. Do you remember what guide you may have followed? I would follow the official installation guide for kubeadm. There is a lot of outdated information on the web that look like the right answers. The time it will take to identify and fix the network issue won't be faster than reinstalling the cluster usi

[2020-08-14 02:28] povsister commented on #72220
Actually, there is no RFC standard, and even no ITEF draft for JSONPath syntax.
Till now almost every implement of JSONPath is based on "unofficial" and old [Stefan Goener JSONPath](http://goessner.net/articles/JsonPath/), with some arbitrary modification. (You guess what, regex support is also "arbitrary", because it does not have any standard reference).

Non-standard behavior will cause many lo

[2020-08-14 02:28] liggitt commented on #93984
An object can be returned in all of the versions served by the API server. For resources which have multiple versions available, the version stored in etcd has no connection to the version last used to create or update the object via the API.

The server lists versions in preferred order in discovery (`/apis`) and when you use `kubectl get` with an ambiguous request (just a resource without specif

[2020-08-14 02:28] #93984 closed

[2020-08-14 02:42] AbelHu opened #93988 "The CPU.Time is always set to Container StartTime in pod metrics"
**What happened**:
https://github.com/kubernetes/kubernetes/blob/55412b6af1764f8bc3d9dfa8f3bd29f1a65f4590/pkg/kubelet/stats/cri_stats_provider.go#L467-L479
CPU.Time is set to cs.StartTime but ps.Memory.Time is set to timestamp when collecting the memoryusage.

**What you expected to happen**:
CPU.Time is set to cs.CPU.Time

**How to reproduce it (as minimally and precisely as possible)**:
Check th

[2020-08-14 02:47] povsister commented on #92960
@michaelgugino

From the PR and code snippet I know this is a intended behavior, but it's FORCED.
My purpose is, could it be default and configurable.

This will be a minor change without breaking current user experience, is it "big" enough to raise a KEP?

[2020-08-14 02:52] hgliu1985 commented on #93624
@damemi Thanks a lot for your help.Sorry for my late reply, since the pod was removed at that time.

Now the error reproduced again, and I would provide the info as below:
# kubectl get pods -n haishen|grep him
him-5d6c8df69c-rrfck         2/2     Running        0          23h
him-5d6c8df69c-tch7c         0/2     NodeAffinity   0          23h

# kubectl get nodes --show-labels
NAME           STATU

[2020-08-14 02:58] ghostsquad commented on #93984
I'm confused how this makes sense when apiVersions differ sometimes significantly?

[2020-08-14 03:07] YesterdayxD opened #93989 "numa tensorflow benchmark"
I found no prefornamece difference when I run tensorflow benchmark in different numa .
I used special cpus and different GPUs,which exists CPU Affinity or not, but the benchmark result showed that the speed is same.

[2020-08-14 03:15] YesterdayxD commented on #93989
/sig node

[2020-08-14 03:23] saad-ali commented on #93973
/milestone v1.19

[2020-08-14 03:31] zerkms commented on #67250
/remove-lifecycle stale

[2020-08-14 03:45] knight42 commented on #93905
@MHBauer Thanks for going deep down the commit history and found out the problem 👍 !

[2020-08-14 03:50] ghostsquad commented on #93984
I was working with an HPA recently, and it was deployed as a v2beta2, which has a `metrics` key. When returned as a `v1` there is no metrics listed, and I was really concerned about what was going on.

Is there a way to find out what version of the object exists in `etc` so that you can get the _correct_ representation?

[2020-08-14 03:55] liggitt commented on #93984
No, that info is not exposed to API consumers.

If you have the same manifest you created the object from, you can do `kubectl get -f $file` and the same version that is in the manifest will be requested from the API server.

If you don't have the manifest, and you care about metrics data if it is specified, you can explicitly request the v2beta2 version.

[2020-08-14 04:15] ghostsquad commented on #93984
so, you are saying that extra fields are persisted in an annotation in order to somehow do some sort of fuzzy forwards/backwards compatibility?

[2020-08-14 04:32] ghostsquad commented on #93984
This is interesting for sure, and I can kind of see how this works. I suppose the question then would be that the goal of newer apiVersions is such that behavior of an older version can be represented in the newer version, but not vice versa, but you still need the data not to be lost, hence the annotation?

[2020-08-14 04:42] liggitt commented on #93984
structural changes, field renames, stricter validation, or removal of deprecated allowed values for new objects are all things that can be done on API version boundaries

[2020-08-14 04:57] runzexia commented on #65569
/reopen
i also encounter this issue in kubernetes v1.18.x

[2020-08-14 05:16] aramase commented on #90186
I just tried this with a build from master and I see the service state is reflected correctly.

[code]

Added debug logs to confirm -
[code]

This should be fixed in master. I'll check with the prior releases.

[2020-08-14 05:17] BenTheElder commented on #92973
re:
https://github.com/kubernetes/kubernetes/issues/92973#issuecomment-672947159

single node clusters are incapable of being conformant already, there's at
least one test that explicitly requires 2 schedulable nodes (I forget which
test), there was already a bit of a kerfluffle around that and we've moved
on.

On Wed, Aug 12, 2020 at 9:43 AM Antonio Ojea <notifications@github.com>
wrote:

[2020-08-14 05:18] BenTheElder commented on #92973
this has been true since 1.13 if I remember correctly

it was intended to be true much earlier, but the test skipped itself in
that case, which is not allowed in conformance tests (if tests can just
skip due to the environment, we're hardly verifying common environment
expectations...)

On Thu, Aug 13, 2020 at 10:17 PM Benjamin Elder <bentheelder@google.com>
wrote:

[2020-08-14 05:59] devopsjonas commented on #60987
@zerkms could you share your script? :heart:

[2020-08-14 05:59] prabhu43 opened #93991 "Allow to configure cluster name in the kubeconfig generated using kubeadm command"
**What would you like to be added**:

Creation of kubeconfig using `kubeadm alpha kubeconfig user` command generated a kubeconfig. But it always has `kubernetes` as cluster name. But the cluster name of my cluster is different, configured via kubeadm config `ClusterConfiguration`.
Hence, make the cluster name configurable from `kubeadm alpha kubeconfig user` command

**Why is this needed**:

When

[2020-08-14 06:02] prabhu43 commented on #93991
/sig cluster-lifecycle

[2020-08-14 06:02] knight42 commented on #93904
The actual fix is in progress at #93979

/assign @dcbw

[2020-08-14 06:05] prabhu43 commented on #93991
/assign @prabhu43

[2020-08-14 06:40] zerkms commented on #60987
At the moment it's

[code]

but it's heavily under `wip`.

PS: I never could learn to bash-program properly, so may look funny or even be wrong, sorry in that case :-)

[2020-08-14 06:45] tdihp opened #93993 "Controller-manager crashloop caused by Azure cloudprovider nil pointer in EnsureHostsInPool"
**What happened**:

After manually scaling down AKS nodePool VMSS to 0 nodes, controller-manager start to crashloop with below callstack:

[code]

Recovered after removing orphaned nodes; stopped and restarted controller-manager.

**What you expected to happen**:

Controller-manager to raise error instead of crash.

**How to reproduce it (as minimally and precisely as possible)**:

No reproduce ye

[2020-08-14 06:47] tdihp commented on #93993
platform/azure
/area provider/azure

[2020-08-14 07:07] cameronbraid commented on #60987
You really don't want to be doing ```rm -rf``` on the mount dir - you just need ```rmdir```

If the vol is still mounted there - couldn't unmount for whatever reason - you will wipe out any data that is in the volume.

If the rmdir fails, then I suggest your script should fail too.

[2020-08-14 07:13] a2z-ice opened #93994 "Readiness prob not restarting pod when it getting 503 http status"
**What happened**:
My pod getting 503 http status but it is not being restart automatically.
**What you expected to happen**:
Since I have configured readyness prob with health check url. So I'm expecting when the status check failed it should restart the pod. My pod event shows me that it getting 503 http status but I do not know why the pod is not being restart.
**How to reproduce it (as minimal

[2020-08-14 07:26] alexanderKhaustov commented on #93968
This is of course open to interpretation but it seems that since API server works with many objects, not necessarily requiring secrets, it should be considered healthy, no?

[2020-08-14 07:38] MAnyKey commented on #93968
However, restarting kube-apiserver due to the failure of the livenessProbe (as pointed out by @cheftako) would not help. Hence, excluding kms-providers from the liveness check makes sense.

There is a (not merged) pull request that addresses /livez not being OK because of failures of KMS providers' health checks:     https://github.com/kubernetes/kubernetes/pull/83588. I'm really looking forward t

[2020-08-14 07:51] webmutation commented on #72220
@lavalamp To give context, In the European Commission we (5.000+ developers) have Windows 10 Corporate laptops with no admin rights. That is why grep is not available, but kubectl is available as a virtualized app (App-V) that we can install. We cannot install jq (it has to be requested and an approval process that takes days or weeks), same for mingw it takes time to have it approved since it is

[2020-08-14 08:04] knight42 commented on #93994
@a2z-ice If you want to restart the pod when it returns 503, you should configure the livenessProbe https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-http-request.

/remove-kind bug
/close

Feel free to reopen this issue if necessary.

[2020-08-14 08:04] #93994 closed

[2020-08-14 08:25] hgliu1985 commented on #93624
/close

[2020-08-14 08:25] #93624 closed

[2020-08-14 08:26] krishofmans commented on #72220
@webmutation while I agree with your general point, I disagree that the factor of an organisation that more or less actively tries to hinder development teams by denying them tools to properly do their job should influence any decision. I know there are plenty of organisations like that, but they should just bleed money for the fact that they prevent people from doing their job for that. Not influ

[2020-08-14 09:10] webmutation commented on #72220
@krishofmans the point here was to explain why it is not easy to install a lot of tools in corporate environments, it is just one scenario. Just to give context to @lavalamp comment that it very strange that we would have kubectl but not grep, it may seem crazy, but its true, this type of situations exist. In particular in corporate environments. I have collegues that work also on financial and te

[2020-08-14 09:11] ivadoncheva commented on #3595
I would also like to vote for this issue. It has been opened for 5 years and I think that it really make sense to have the possibility to configure file descriptor limit per container similar to the way we could configure requests and limits for CPU, memory and hugepages-<size>. For proxy-like software file descriptors are key and limiting factor and it is extremely important to have the possibili

[2020-08-14 09:25] s97712 commented on #40610
I think a better solution is allow to set different value of configMap/secret  for different nodes

[2020-08-14 09:48] ondravondra commented on #66387
This happens on linux too. At least on digitalocean.

[2020-08-14 09:54] s97712 opened #93999 "Consider add nodeConfigMap/nodeSecret"
Just like `configMap/secret`, but `nodeConfigMap/nodeSecret` can set different values for different nodes.

It maybe related to https://github.com/kubernetes/kubernetes/issues/40610

[2020-08-14 10:57] feiskyer commented on #93796
Is the changed VM name reflected on the VMSS instance data model (e.g. GET VMSS instance body)?

[2020-08-14 11:05] manjeetsorout opened #94001 "unable to load a given KubeOneCluster object"
**What happened**:
i'm following this tutorial for the kubeone: https://dzone.com/articles/running-ha-kubernetes-clusters-on-aws-using-kubeon
but when i got this error when i ran the following command:
kubeone install config.yaml -t .
Error: failed to initialize State: failed to build state: failed to load cluster: unable to load a given KubeOneCluster object: unable to read the given cluster conf

[2020-08-14 11:32] wawa0210 commented on #93748
/ussign

[2020-08-14 11:32] zhouya0 commented on #93748
/assign

[2020-08-14 12:38] #89170 closed

[2020-08-14 12:39] jayunit100 commented on #93832
thinking since not actionable its best to close this for now, but maybe reopn later if we find an actionable way to  summarize cluster supportability states through a set of library utils funcs  somehow

[2020-08-14 12:39] #93832 closed

[2020-08-14 12:42] gruppferi commented on #93194
hi @liggitt is it possible to get this patch by today or tommrow? my cluster is in crashing mode because of kube-scheduler and kube-controller-manager, I am currently on kubespray 2.12.9.
is the possible to move to kubespray 2.13.0 and solve this issue?

[2020-08-14 12:44] blackjackyau commented on #93824
@eth0xFEED thanks for the sharing... i definitely missed the part where if you can force the dns lookup with the FQDN (postfix with `.`) without any dns resolution.
but still i think we can further improve the setting/documentation

in most of the cases. the `${service-name}.${namespace}.svc.cluster.local` is the longest or having the most `.` dns service name we likely to have under the kube pod.

[2020-08-14 12:44] liggitt commented on #93194
1.16.14 was released with this fix yesterday

[2020-08-14 13:31] anyasabo commented on #40610
As another +1 for topology info. [Topology spread constraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) let you easily spread pods across different regions/racks etc, but there's no (easy) way for the pod to know where it is actually scheduled, so the application can't make smart decisions based on topology. Even making only `topology.kubernetes.io` labe

[2020-08-14 13:33] mailhari opened #94003 "Need REST API in scheduler to configure extender Instead of doing through manifest.yaml"
Rephrasing my question:
I have written an extender and updated the /manifests/kube-scheduler.yaml. This works fine.

(1)
What I am looking is : instead of updating the manifest, I am looking for a REST API that is running in scheduler through which I can register my extender?

(2)
Can this also be done on GKE?

-----my old description----
_To configure extender, I have to always modify manifest.ya

[2020-08-14 13:34] mailhari commented on #94003
/sig scheduing

[2020-08-14 13:34] mailhari commented on #94003
/sig/scheduling

[2020-08-14 13:36] mailhari commented on #94003
/sig scheduling

[2020-08-14 14:27] jayunit100 opened #94004 "Make deprecation of Kube-proxy arguments more obvious when command line switches are used"
**What happened**:

1) Right now kube-proxy command line options are *deprecated* but they dont seem to report an error message when specified.

2) Arguments are parsed, which is weird - because parsing an arg makes you assume its being used, but then they are silently not used and instead overriden by the configmap.

(xref  https://github.com/kubernetes/kubernetes/pull/86869 which tried to fix re

[2020-08-14 14:29] jayunit100 commented on #94004
/sig network

[2020-08-14 14:29] jayunit100 commented on #94004
I think i can take this but need to chat abt it in sig-network about what the right path would be , would like if we could do all 3 but ok just adding a logging message if we dont wanna do the hot-reload stufff

[2020-08-14 14:40] jayunit100 opened #94005 "iperf tests outputs need to be cleaned up and improved"
**What happened**:
The iperf tests were written a while ago but i think havent been updated.

- They measure bandwidth over multiple pods, but they probably should also have a test which reports individual pod's  bandwidth between one pod over a SEP.
- They should pretty print a table so its easy to see exactly what is going on with the bandwidth
- They should use iperf3 (need to check that)
- May

[2020-08-14 14:46] jayunit100 commented on #94005
/sig network

[2020-08-14 14:46] jayunit100 commented on #94005
/assign

[2020-08-14 14:46] matte21 commented on #89985
/assign

[2020-08-14 14:47] matte21 commented on #89985
/remove-lifecycle rotten

[2020-08-14 14:53] paulmiller3000 commented on #37471
Thank you, @Rakitic07 ! I had the same problem in Git Bash Terminal on Windows 10. On your suggestion, I tried successfully in PoewerShell.

[2020-08-14 14:57] mattfenwick commented on #94005
/assign

[2020-08-14 15:03] mattfenwick commented on #94005
[code]

[2020-08-14 15:07] TJM commented on #60987
I guess that is not a case that we considered, every one we found was just left there, there were no mounts, but that is (logically) probably why it was left behind. I guess we better look for mounts too.

[2020-08-14 15:08] claudiubelu opened #94006 "Variable expansion test false positive"
**Which jobs are failing**:

N/A

**Which test(s) are failing**:

    should fail substituting values in a volume subpath with absolute path

**Since when has it been failing**:

N/A

**Testgrid link**:

N/A

**Reason for failure**:

Some of the tests are negative test cases which are supposed to ensure that those invalid usecases are handled properly.

However, some of the tests are false positiv

[2020-08-14 15:12] justaugustus commented on #92808
/sig autoscaling
@kubernetes/sig-autoscaling-bugs

[2020-08-14 15:13] claudiubelu opened #94007 "Windows: absolute paths should not be allowed for subpath variable expansion"
**What happened**:

``filepath.IsAbs`` does not consider ``/`` or ``\`` prefixed paths on Windows as absolute, even though in the end they are treated as such. Because of this, absolute paths can be mounted as volume subpaths in Windows.

The test ``should fail substituting values in a volume subpath with absolute path`` previously passed on Windows because of a false positive in the test: the tes

[2020-08-14 15:17] ahg-g opened #94008 "Deprecate NodeLabel, ServiceAffinityand NodePreferAvoidPods from scheduler's CC api"
NodeLabel and ServiceAffinity are what used to be called customer predicates and priorities. Since we have GA alternatives to those (NodeAffintiy and inter-pod affinity), I believe we should deprecate them from the plugin's API in CC before it gets to GA.

This is important because if CC makes it to GA, we can deprecate those plugins only by going to v2.

Basically we should:
1) Deprecate their ar

[2020-08-14 15:20] mattfenwick commented on #94005
/remove-triage unresolved

[2020-08-14 15:42] MorrisLaw commented on #88902
/remove-lifecycle rotten

[2020-08-14 15:43] MorrisLaw commented on #88902
/assign @timoreimann

[2020-08-14 15:43] matte21 commented on #89985
Oddly, I can reproduce only with a UID precondition.
If I specify a resourceVersion precondition I get a 404 status code.

[2020-08-14 15:43] aarononeal commented on #60987
I can attest that’s what will happen as I had not considered that when I ran the script. The volumes didn’t unmount, and it did indeed wipe the data. Fortunately I had a backup. 🙂

Hope at some point we don’t have to manually cleanup stale pods.

[2020-08-14 15:59] Huang-Wei commented on #94003
@mailhari the URL should start with the value configured in `extenders[*].urlPrefix`, and followed by `xyzVerb` specified in `extenders[*].xyzVerb`. The full supported fields are here:

https://github.com/kubernetes/kubernetes/blob/3b5aedcef43fa01538518ecbc7de369b27ecd191/staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go#L265

So the full URL should be `${urlPrefix}/${xyzVerb}`.

[2020-08-14 16:11] ahg-g opened #94009 "Avoid moving pods out of unschedulable status unconditionally"
Currently we unconditionally move pods out of unschedulable status when an event happens. However, we can optimize this by setting some conditions for each event to avoid unnecessarily doing that:

1) PV, PVC, StorageClass or CSINode add/update: move only pods with a PVC.
2) Service add/update: only if ServiceAffinity plugin is enabled in one of the profiles
3) Node add/update: test the pods again

[2020-08-14 16:11] lavalamp commented on #71556
The server can convert all objects to any version of their resource it understands, so I don't understand.

If we change this for all of you who want v2betaX to be the default, then we will have a bunch of people wanting v1 to be the default again :)

There has to be some default. Please make your scripts / api calls explicitly request the version you want.

[2020-08-14 16:14] adtac commented on #94009
/assign

[2020-08-14 16:24] BenTheElder commented on #94001
kubeone is not part of the kubernetes project.

please file a bug against them instaed https://github.com/kubermatic/kubeone
/close

[2020-08-14 16:24] #94001 closed

[2020-08-14 16:27] ghostsquad commented on #71556
I'm not saying the default, I'm saying the version that was applied

[2020-08-14 16:31] BenTheElder commented on #94006
/sig storage
SIG storage owns the test case, though I see that you are changing core framework methods to fix this, so leaving SIG testing.

Looks like also possibly sig-node, skimming the linked PRs

Based on the PRs this also appears to be related to windows? (unsure, no mention here)

[2020-08-14 16:39] lavalamp commented on #65569
@runzexia We need the kind of detail in the OP or [this comment](https://github.com/kubernetes/kubernetes/issues/65569#issuecomment-402392493) before we can help.

[2020-08-14 16:42] #89127 closed

[2020-08-14 16:45] liggitt commented on #94004
those are probably three distinct issues - https://github.com/kubernetes/kubernetes/pull/86869 was an attempt to resolve the configmap restart issue

[2020-08-14 16:48] lavalamp commented on #72220
Don't get me wrong, that sounds like a super frustrating situation to be in, I'm sorry you have to live with that. (This is a horrible hack and probably not approved by corporate overlords, but, if you're allowed to run things in a cluster, you could run grep or jq in a container via kubectl exec and/or attach!)

My own concern is ecosystem fragmentation, I don't want to run a variation of JSONPat

[2020-08-14 16:54] Huang-Wei commented on #94009
/cc @denkensk

I'm thinking of if we can amplify the scope: which is to say, not only enable/disable moving **(all)** pods, but also provides mechanics to let plugins notify the scheduler framework which **particular** pods should be moved.

This would benefits in @denkensk 's coscheduling implementation to move the preceding (N-1) pods back to activeQ when the Nth pod comes - which satisfies the

[2020-08-14 16:54] claudiubelu commented on #94006
I've added Related: #94007 to the issue description.

After fixing this test, I've noticed that it now fails on Windows, which means the issue was masked by the test's false positive result. Basically, it means that you can have volume subpaths with absolute paths substituted on variable expansion and have Windows containers use them and be running, which according to the test, it shouldn't be a s

[2020-08-14 17:06] ahg-g commented on #94009
The suggestion is not to enable/disable moving all pods in all events, this is only true for the Service events. For the other two, node and volumes, we will test each pod and move the ones that pass the condition.

I agree that our proposal of integrating this with filters/permit plugins is more generic, but it adds a lot of complexity and potential for bugs, so we need to be careful with that I

[2020-08-14 17:25] ahg-g commented on #94009
One approach could be to start simple, validate and establish a reference point in terms of perf improvements, and then migrate to something more generic. The more generic approach will not be more performant than what is proposed in this issue.

[2020-08-14 17:31] immutableT commented on #93968
I agree with @MAnyKey it would be better to merge #83588 to avoid these type of issues in the future.
@liggitt @cheftako WDYT?

[2020-08-14 17:43] #30427 closed

[2020-08-14 17:56] ghostsquad commented on #71556
Maybe I'm just a bit confused about what the correct way to interact with, or get versioned resources and get the _accurate_ representation of that resource. Again, coming back to `v1` vs `v2beta2` of an HPA. There's no `metrics` array in the HPA spec in v1. So, if I default to getting the v1 representation, it's essentially "empty". I need some way to determine the actual version as it exists in

[2020-08-14 18:03] Huang-Wei commented on #94009
Yes, filters/permit runs in the critical path, and move Pods isn't a lock-free operation. What I want to say is during the design/implementation of this proposal, keep it in mind that plugins may need to actively "suggest" moving particular Pods back to activeQ.

Agree.

[2020-08-14 18:05] lavalamp commented on #71556
No, that's not how versions work in kubernetes. The data has to be represented *somehow* in all versions, or the server can't round-trip between them without losing something. In your case, you must always ask for v2beta2 and fall back to v1 if the server doesn't understand your request.

The version stored in etcd is not a detail that clients are able to figure out* from behavior.

[*] although w

[2020-08-14 18:09] ghostsquad commented on #71556
would it be safe then to ask for a new feature of kubectl, such that via `~/.kube/config` I can specify what I would like the "default" apiVersion to be for each resource when I run `kubectl get hpa` and it's ambiguous? If so, I can file a new issue and link these.

[2020-08-14 18:11] alculquicondor opened #94011 "Scheduler: Make number of threads configurable"
**What would you like to be added**:

A field in kube-scheduler configuration API to set the number of threads. Currently, it's a constant with value 16.

https://github.com/kubernetes/kubernetes/blob/3b5aedcef43fa01538518ecbc7de369b27ecd191/pkg/scheduler/internal/parallelize/parallelism.go#L26

**Why is this needed**:

Some clusters might have master nodes with more CPUs available.

/sig scheduli

[2020-08-14 18:12] alculquicondor commented on #94011
/remove-good-first-issue

Let's get consensus first :)

[2020-08-14 18:12] alculquicondor commented on #94011
/remove help

[2020-08-14 18:12] alculquicondor commented on #94011
/remove-help

[2020-08-14 18:13] lavalamp commented on #71556
We'd strongly prefer that scripts specify the exact version they want-- @liggitt demonstrated the syntax above.

[2020-08-14 18:14] ahg-g commented on #94011
I think it makes sense to parameterize this to allow using bigger masters and perhaps be more efficient on smaller ones.

[2020-08-14 18:15] ghostsquad commented on #71556
When I see deprecation warnings, such as those in v1.16, how should I proceed to identify which resources are old and going to be deprecated?

Or is this saying that nothing actually has to be done to older versions, but that this deprecation warning is only for clients that use the API and have expectations of the structure of the data based on the apiVersion?

[2020-08-14 18:15] reith commented on #73421
I think I'm struggling with the same problem. I have a long-running subresource and while I changed LongRunningFunc in custom API server's config to count that request (which actually is a watch) as long running, API server itself times out.

[2020-08-14 18:17] Huang-Wei commented on #94011
I recalled we had a PR trying to change it dynamically according to the number of CPU cores, but unfortunately, resulted in performance downgrade, and we had to revert that.

Generally, it'd be good to be configurable, but it's necessary to raise a caveat that tunning this parameter may not be that simply by just specifying the number of CPU cores.

[2020-08-14 18:18] ahg-g commented on #94009
Right, we already designed the interface for such a potential eventuality: https://docs.google.com/document/d/1Dw1qPi4eryllSv0F419sKVbGXiPvSv6N_mJd6AVSg74/edit.

[2020-08-14 18:20] alculquicondor commented on #94011
That's interesting. Perhaps the automatic detection failed in some architectures?

Or was it really that matching number of CPUs is not the best? It could have been due to lock contention, but we have improved on that in 1.19. Also recall #89070

[2020-08-14 18:21] adtac commented on #94011
In the Makefile world, it's generally good practice to set parallelism to (number of cores - 1) so that the remaining free core could do other work. Could be worth giving that a shot to see if performance improves.

[2020-08-14 18:23] sarahhenkens commented on #63371
Since it seems that this bug is ignored, are there any alternatives we can use that would manage and control job execution?

[2020-08-14 18:28] bohdantverdyi commented on #30427
/remove-lifecycle rotten

This issue has an active PR

[2020-08-14 18:34] MHBauer commented on #93905
Made #93985 if either of you wish to review, and confirm my understanding.

[2020-08-14 18:47] Huang-Wei commented on #94011
Here is the one: #74907

[2020-08-14 18:52] alculquicondor commented on #94011
That's a good data point, thanks.

However, by making it configurable, vendors can choose what is best for their specific environments.

[2020-08-14 18:57] maikelvl commented on #63371
@sarahhenkens Yes. Like [@janetkuo suggested](#issuecomment-399286277) first deleting the cronjob and then apply the new cronjob prevents this behaviour.

[2020-08-14 19:00] ahg-g commented on #94011
Yes, lets make it configurable and start testing given the improvements we made in reducing lock contention.

[2020-08-14 19:32] SeagleLiu opened #94012 "jobs: allow user to specify back-off delay"
Currently, the mechanism is "Failed Pods associated with the Job are recreated by the Job controller with an exponential back-off delay (10s, 20s, 40s ...) capped at six minutes".

**What would you like to be added**:
I am wondering if we could specify a different set of back-off delays, i.e., we can include a vector of delay times in the job specification.

**Why is this needed**:
Our job work lo

[2020-08-14 19:44] #74553 closed

[2020-08-14 19:49] vikkyomkar commented on #94011
I would like to contribute to this issue. Pls let me know if its available to pick ?

[2020-08-14 19:53] pires opened #94013 "gcr.io/google-containers and gcr.io/k8s-artifacts-prod don't work anymore"
**What happened**:

Can't pull latest 1.18.8 container images from the two registries above. I can pull 1.18.6 though.

I can pull from k8s.gcr.io, though but I can't find where this is documented.

**What you expected to happen**:

For it to work, since it was working for 1.18.6 or at least to know without doubt that the two registries would be terminated on a certain date.

**How to reproduce it

[2020-08-14 19:54] pires commented on #94013
/sig sig-release

[2020-08-14 19:54] pires commented on #94013
/sig release

[2020-08-14 19:55] liggitt commented on #78904
cc @BenTheElder

[2020-08-14 19:57] justaugustus commented on #94013
/assign
/milestone v1.19

[2020-08-14 19:58] sridhav opened #94014 "Is there a viewer to lookup data inside etcd snapshot?"
As etcd3 uses boltdb internally, is it possible if we can use boltdb browsers/any viewer to lookup the data inside the snapshot?

[2020-08-14 20:04] silashansen commented on #39178
We have different node-types for different workloads. This is accomplished by using node taints.
Some node-types run in multiple zones and others don't.
Since the unique list of zones for the entire cluster make up the list of possible zones for the PV, we ended up with PV's in an zone that didn't have any nodes that our workload could be scheduled on.

Only looking at zones for nodes that where t

[2020-08-14 20:06] mailhari commented on #94003
@Huang-Wei -
Updated my question. If you can share the sample that would be helpful.

[2020-08-14 20:15] lavalamp commented on #71556
Kubernetes does the right thing with the data. Users have to do the right thing with their clients (i.e., upgrade them to use new versions).

[2020-08-14 20:31] ghostsquad commented on #71556
Thank you

[2020-08-14 20:42] ryanjwh commented on #71556
Keep in mind, this doesn't just affect scripts. There are a wealth of tools for k8s management, CI/CD, etc out there and this can break them as well - and users of k8s don't necessarily have control over modifying the tool (at least, easily) to work with the newer API. IE:
* Spinnaker
* Rancher

Now, if we have Spinnaker deploying an HPA, and we use a new feature in HPA that requires v2beta, and S

[2020-08-14 21:04] mattfenwick commented on #94005
@jayunit100 I've taken a first pass at this https://github.com/kubernetes/kubernetes/pull/94015 , working on resolving a couple issues then we can circle back to determine how else it could be improved!

[2020-08-14 21:04] timoreimann commented on #88902
Quoting myself from a few months ago:

I tested this and confirmed that concurrent reconciles do **not** work: the service controller uses a work queue which [is designed to not invoke multiple workers on the same key at the same time](https://github.com/kubernetes/kubernetes/blob/d633e03cf69ac68074d15873ab777f61aece1127/staging/src/k8s.io/cloud-provider/controllers/service/controller.go#L255-L256

[2020-08-14 21:50] lavalamp commented on #71556
Tools should always use a specific version, then this won't happen. Please file a bug with the relevant tools.

Note that it's totally fine for you to interact with an object in one version, and a tool to interact with the object in a different version. That is totally fine unless the API author isn't passing our round trip test.

[2020-08-14 22:05] jayunit100 commented on #94005
Cool c/p the new test output so we can compare when u get a chance

[2020-08-14 22:10] marosset opened #94017 "Adding tests for Hyper-V isolated Windows containers running on Windows Server 2004 hosts"
# Problem

Running e2e tests using Hyper-V islated Windows containers running on Windows Server 2004 hosts is currently not possible because:
- Containerd does not fully support multi-arch container image pulls with Hyper-V isolation.
The current behavior is that the first image matching OS/ARCH = windows/amd64 is always selected.
- Test images used in Kubernetes e2e tests for Windows are currentl

[2020-08-14 22:12] marosset commented on #94017
@claudiubelu @adelina-t @jsturtevant what do you all think?
Using a mutating admission webhook seems like it would be more work upfront but a lot less maintenance long-term.

Also if anyone has any other ideas please share.

[2020-08-14 23:48] #89112 closed

[2020-08-15 00:03] Huang-Wei commented on #94003
So you want the extender can be dynamically discovered by scheduler? If so, vanilla Kubernetes doesn't support that.

cc/ @ahg-g @alculquicondor

[2020-08-15 00:36] duchuanLX commented on #93882
thank you,i submit a pr on release-1.18.

https://github.com/kubernetes/kubernetes/pull/93997

[2020-08-15 00:38] BenTheElder commented on #93882
As I said, I'm not sure if that will be accepted, but we'll see.

We don't do a lot of dependency changes after release, especially not for a
platform we have no CI for.

You should consider trying to get this in a future minor release /
targeting the master branch.

On Fri, Aug 14, 2020 at 5:36 PM duchuan <notifications@github.com> wrote:

[2020-08-15 00:40] mattfenwick commented on #94005
[code]

[2020-08-15 01:31] mkumatag opened #94018 "Docker Hub's new policy for limiting image pulls"
I see a discussion about the docker new policy https://github.com/cncf/foundation/issues/106 and this may affect Kubernetes e2e as well because we do run pull few images from docker hub [here](https://github.com/kubernetes/kubernetes/search?q=DockerLibraryRegistry+DockerGluster&unscoped_q=DockerLibraryRegistry+DockerGluster) in our tests.

This issue is for discussing how to tackle the new policy

[2020-08-15 01:32] mkumatag commented on #94018
/sig testing
/sig release

/cc @dims @thockin @listx @BenTheElder

[2020-08-15 02:40] #93805 closed

[2020-08-15 04:53] #89202 closed

[2020-08-15 05:54] #88767 closed

[2020-08-15 05:57] gzlj opened #94019 "Pod scheduled event is unknown"
**What happened**:
I deployed a deployment workload, and then I ran `kubectl describe pod` and I found Schedule event's timestamp is unknown:

Events:
  Type    Reason     Age        From               Message
  ----    ------         ----       ----               -------
  Normal  Scheduled      <unknown>  default-scheduler  Successfully assigned default/canary-6758c6b466-5qnnp to master03
  Norm

[2020-08-15 06:00] gzlj commented on #94019
Type    Reason             Age        From               Message

Normal  Scheduled  <unknown>  default-scheduler  Successfully assigned default/canary-6758c6b466-5qnnp to master03
Normal  Pulled          3m14s      kubelet, master03  Container image "registry.aliyuncs.com/google_containers/echoserver:1.10" already present on machine
Normal  Created    3m14s      kubelet, master03  Created contain

[2020-08-15 07:16] like-inspur opened #94020 "node status not change from kubernetes api when node become NotReady"
**What happened**:
Now I do some test on kubernetes node api, when node mgt07become not ready,  I found node status not change from api
[code]

**What you expected to happen**:
I think the last type of conditions should be NotReady, so I can get status from this field

**How to reproduce it (as minimally and precisely as possible)**:
 stop mgt07 machine and found that mgt07 become not ready
[code]

[2020-08-15 07:16] like-inspur commented on #94020
/sig node

[2020-08-15 07:46] mailhari commented on #94003
Yes, exactly.

[2020-08-15 08:58] zerkms commented on #78007
/remove-lifecycle stale

[2020-08-15 09:17] jayunit100 opened #94022 "Global issue for tracking ConfigMap reloads (effects core-dns, kube-proxy, dynamic kubelet config,...?)"
# UPDATE: dynamic config reloading is not going to be supported in the future.... this issue will explain why and track work needed to back out of this functionality.

**What happened**:

The kube-proxy generally is configured by a file injected by a ConfigMap (which is created by Kubeadm).

Several components in a default installation of Kubernetes don't hot-reload after ConfigMaps are editted, i

[2020-08-15 09:21] jayunit100 commented on #94022
Does this require a KEP to coordinate across SIGs and figure out what needs to happen ? I think the fsnotify patch at https://github.com/fsnotify/fsnotify/pull/289 seems to have potential to fix this based on comments left in the linked issues.

@aojea @thockin   is this a sig-net thing or a sig-node thing? I know you were both involved in the original PR which attempted to fix this but fell down

[2020-08-15 09:21] jayunit100 commented on #94022
/sig network

[2020-08-15 09:21] jayunit100 commented on #94022
/sig node

[2020-08-15 11:07] aojea commented on #93897
/sig node
I think that this is the expected behavior, you have to restart the kubelet on node IP changes.
sig-node should be the right sig to answer this

[2020-08-15 13:38] knight42 commented on #93970
I have found the root cause.
/assign

[2020-08-15 15:22] farah commented on #92410
Duplicate of #93975. See comment:
 https://github.com/kubernetes/kubernetes/issues/86984#issuecomment-573534446

[2020-08-15 15:23] farah commented on #92410
See comment:
 https://github.com/kubernetes/kubernetes/issues/86984#issuecomment-573534446

[2020-08-15 18:14] akshaysharama opened #94024 "Podpreset is not setting configuration for kube-apiserver"
**What happened**:
Trying to change timezone related configuration in pods running in kube-system namespace, all pods working except kube-api server, controller and scheduler.
Deployed kubernetes cluster using kubespray.

**What you expected to happen**:
All pods should come up.

**How to reproduce it (as minimally and precisely as possible)**:
1) apply configuration using podpreset to the pods ru

[2020-08-15 18:19] akshaysharama commented on #94024
/sig K8s Infra

[2020-08-15 19:03] liggitt commented on #94019
@wojtek-t is this an artifact of the new events API? Do we need to update event describe?

[2020-08-15 19:05] liggitt commented on #94024
Are those pods running as static pods? podpreset does not apply to pods defined in manifest files run directly by the kubelet.

[2020-08-15 19:11] akshaysharama commented on #94024
Yes , there in manifest file and static pods.
Is there any way to change those manifest files configuration?
kubeadm init is dynamically creating to those file?

[2020-08-15 19:35] liggitt commented on #94024
not other than modifying those manifest files. Based on https://github.com/kubernetes/kubernetes/blob/release-1.18/cmd/kubeadm/app/phases/controlplane/manifests.go#L47, it doesn't look like kubeadm provides mechanisms for customizing those

[2020-08-15 19:35] #94024 closed

[2020-08-15 20:08] aojea commented on #94022
I think that Tim described the work needed and how to proceed here
https://github.com/kubernetes/kubernetes/pull/86869#issuecomment-586039987

I personally don't think this need a KEP because my understanding is that  kube-proxy should restart if the config file changes, other thing is we are not able to detect the change

[2020-08-15 22:01] aojea opened #94029 "compact failed: etcdserver: mvcc: database space exceeded"
**What happened**:

After running the e2e network suite with the test `Should answer DNS query for maximum number of services per cluster` creating and deleting 100K service, the etcd database exceeds the data quota, and all the apiserver operations fails because of that.

when the apiserver tries to run the periodic compaction of etcd to free space, it fails, so it's not able to recover the situt

[2020-08-15 22:03] aojea commented on #94029
/sig api
/sig scalability
/cc @neolit123 @wojtek-t @liggitt
ccing people for each of the questions 1, 2 and 3

[2020-08-15 22:28] BenTheElder commented on #94029
/sig apimachinery

[2020-08-15 22:28] BenTheElder commented on #94029
/sig api-machinery

[2020-08-15 23:20] liggitt commented on #94029
cc @jingyih @jpbetz

[2020-08-15 23:46] corburn opened #94030 "kubectl get nodes -show-labels json parse error"
**What happened**:
I forgot to use a double dash for the flag: `--show-labels`
[code]

**What you expected to happen**:
I expected to see an error such as `Error: unknown flag -show-labels` instead of a JSON parse error.

**How to reproduce it (as minimally and precisely as possible)**:
Run `kubectl get nodes -show-labels`

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2020-08-15 23:47] corburn commented on #94030
/sig cli

[2020-08-16 01:30] daixiang0 commented on #92410
@farah see that i have specified `log-file`.

[2020-08-16 04:16] #88257 closed

[2020-08-16 05:17] #86485 closed

[2020-08-16 05:29] knight42 commented on #93970
filed #94031 to address this issue.

[2020-08-16 06:24] hprateek43 commented on #94011
@alculquicondor Can pick this up as have some bandwidth in the coming weeks. Let me know

[2020-08-16 06:25] hprateek43 commented on #94008
@ahg-g Can work on this. Let me know if we have finalized an approach around this.

[2020-08-16 06:39] tores1 commented on #92266
I have a similar issue. My environment is similar except for:
- mac virtual box vm 2 cores, 4 gb ram.
- OS: Ubuntu 18.04
- Kernel: 4.15.0-112-generic
- installed using Kubeadm

[2020-08-16 08:01] jingyih commented on #94029
The compactor in the apiserver needs to persist key `compact_rev_key` before requesting compaction [1]. That explains why it fails to compact etcd when etcd already reaches its backend quota limit.

When etcd server raises no space alarm, usually we need to perform:
1. compact the key space
2. defrag etcd backend
3. disarm the alarm

IIUC, the compactor in the apiserver is not designed to perform

[2020-08-16 08:48] nocanstillbb opened #94032 "executed comand not work after changed kube-proxy mode from "" to "ipvs". it work well befor."
**What happened**:
executed comand not work  after changed kube-proxy mode from "" to "ipvs".  it work well befor.
[code]
**What you expected to happen**:
connect to busybox‘s terminal which in default namespace

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
  1.18.1
- Cloud pro

[2020-08-16 08:49] wawa0210 commented on #94030
/assign

[2020-08-16 09:46] wawa0210 commented on #92963
I don't quite agree with this statement. At present, securityOptions may be the only thing we need to consider. But from the overall architecture, the logic of kubelet creation pod has been adapted to the operating system, except for the sandbox container. But this has some hidden dangers

https://github.com/kubernetes/kubernetes/issues/92963#issuecomment-663504447

In addition to the appeal, what

[2020-08-16 09:59] nocanstillbb commented on #94032
[code]

[2020-08-16 10:22] #73692 closed

[2020-08-16 10:58] nocanstillbb commented on #94032
[code]

[2020-08-16 11:29] dims commented on #92266
@lostpoint-ru is this the same problem as in https://github.com/kubernetes/kubernetes/issues/87198 ?

[2020-08-16 11:30] dims commented on #87198
same problem as https://github.com/kubernetes/kubernetes/issues/92266 ?

[2020-08-16 11:48] odinuge commented on #94030
Hey! This is intended behavior since it matches the `-s` flag with `how-labels` as the value. The docs says; ` -s, --server='': The address and port of the Kubernetes API server`. You can find these global flags by using `kubectl options`.

/close

[2020-08-16 11:48] #94030 closed

[2020-08-16 11:54] lostpoint-ru commented on #92266
@dims Can't say for sure, It looks familiar, but they had securitycontexts, etcs configured, while I was just trying to add net_forward to allowed list and call it a day. I'm not sure I tried to do it right way, but in case I didn't -- why didn't it produce some clarifying error messages?

There's no useful input this far in that ticket as well, looks like nobody really cares. :/

[2020-08-16 11:58] erkum opened #94033 "Kubernetes cordon own Node (access API from worker nodes)"
Hi,
I know this is the wrong place but I dont know what else to do I already tried on StackOverflow.
My Workernodes are located in an Office.
When a user logs in, all running pods on this Node should get evicted and the Node cordoned and when he logs out the Node should become schedulable again.
I got the eviction part working so far with a Python script, the Kubernetes Library, a Role in the corr

[2020-08-16 12:02] jayunit100 commented on #94005
ah yess. much better then what we have now.

[2020-08-16 12:10] jayunit100 commented on #93791
Can you paste the logs from the e2es somewhere ?  I want to specifically see the results of the `Networking Granular Checks: Pods should function for intra-pod communication: http` tests, and see how many times it had to retry all the nodes.  I have a feeling it may be more then just UDP that is down but not sure.

[2020-08-16 12:28] eth0xFEED commented on #93824
/remove-triage unresolved

[2020-08-16 12:35] Zheaoli commented on #93988
/assign

[2020-08-16 12:36] Zheaoli commented on #93988
/sig kubelet

[2020-08-16 12:36] Zheaoli commented on #93988
/sig node

[2020-08-16 12:47] jayunit100 commented on #93568
@prameshj  @eth0xfeed so , is what pramesh is suggesting as simple as running something in  https://github.com/kubernetes/utils/blob/master/net/net.go to figure out *if* there is an ipv4 address...

and if not, ... fail ?

[code]

[2020-08-16 12:52] jayunit100 commented on #93835
/remove-triage unresolved

[2020-08-16 12:53] jayunit100 commented on #93835
Closing because, for now we know that there are ties in Kops and other things which could break dns upgrades if people bounce images without bouncing other things.  I have a PR that removes most of the other pillar refs in flight

[2020-08-16 12:53] #93835 closed

[2020-08-16 12:57] jayunit100 commented on #94032
/assign @eth0feedx

[2020-08-16 12:57] jayunit100 commented on #93914
/remove triage-unresolved

[2020-08-16 12:58] jayunit100 commented on #93914
/remove-triage unresolved

[2020-08-16 13:01] eth0xFEED commented on #94032
/assign

[2020-08-16 13:15] jayunit100 commented on #93932
/assign

[2020-08-16 13:15] jayunit100 commented on #93932
/remove-triage unresolved

[2020-08-16 14:05] dims commented on #92266
@lostpoint-ru i know it feels that way, but the truth is there aren't enough hands in the project who know enough to help triage/fix issues in this specific area (sig-node). we are trying to get more people involved, but progress is slow :(

[2020-08-16 15:02] eddytruyen commented on #70585
@prashantkalkar  @chiluk
I have the same observation as @prashantkalkar on Ubuntu 19_10 and Ubuntu_20_04 for a Pod in guaranteed QoS class (without cpu-managent-policy=static in kubelet).

A single guaranteed Pod, which is modestly loaded on an otherwise unloaded machine, is throttled in an exaggerated fashion. The parent container of this Pod is started with a `period=10000, quota of 20000 and cp

[2020-08-16 15:56] farah commented on #73986
/reopen

[2020-08-16 17:05] rogerioefonseca commented on #78712
Hello, I'm experiencing this behavior as well and I would like to know if someone can answer me why it is closed if there is not a solution for this?

[2020-08-16 17:07] rogerioefonseca commented on #78712
I mean is this being tracked or so?
@max-rocket-internet  do you have an idea of when this bugfix will be released?

[2020-08-16 17:39] farah commented on #92410
Thanks, I'll take a look at it.

/assign

[2020-08-16 18:30] #89205 closed

[2020-08-16 21:17] otterley commented on #89263
Hi @thockin,

Absent a tighter coupling between pods and load balancers, I think this is the best solution. Basically the inverse of readiness gates.

Just some data to add: we handle customer concerns on a frequent basis who are having trouble with connections being reset because load balancers have not had sufficient time to properly drain connections from pod targets. As you said, adding `preSt

[2020-08-16 21:33] #89020 closed

[2020-08-16 21:44] jayunit100 commented on #94022
Gotcha yup,

- the fundamental problem is that kube-proxy isnt currently watching/handling for these use cases .

-  to qoute the above (now closed) PR, ...  The goal is to extract a set of tests into a pkg/..., wherein all manner of file operations occur to validate correct behaviour

[code]

[2020-08-16 22:34] #89168 closed

[2020-08-16 22:34] #89229 closed

[2020-08-16 22:34] #88546 closed

[2020-08-16 23:32] jayunit100 commented on #93932
/unassign

This seems like someone from the GCE side will be a better owner.

[2020-08-16 23:35] jayunit100 commented on #93932
/triage unresolved

[2020-08-17 00:18] jayunit100 commented on #94022
Not sue how to decompose this issue since it will possibly be a utility that is reused across componetns, might effect different SIGs.  need some advise from some folks with more cross-sig experience then me .  will bring up at signet this wk unless someone else maybe from @kubernetes/sig-storage-misc  or @kubernetes/sig-node-proposals  has ideas.

[2020-08-17 01:02] liggitt commented on #94029
Is that automation set up in the kube-up and kubeadm configurations?

[2020-08-17 01:37] #85866 closed

[2020-08-17 02:35] zhiweiv commented on #93771
@knight42
This issue is a bit urgent for our situation, it occurs every few days in production clusters. Seems the PR is pending a few days, is it possible to increase the priority to merge it trunk and 1.17/1.18 branch?

Thanks

[2020-08-17 02:38] skeeey opened #94039 "k8s v1.18 runc dependency question"
**What happened**:
our code depend the kube-libs v1.18.3
[code]
when we do security vulnerability scan for our code, we found the below security vulnerability problem

[code]

I found the `runc` lib has been upgraded on https://github.com/kubernetes/kubernetes/pull/92862, can we cherry-pick this pr to v1.18 to avoid the runc security vulnerability problem?

[2020-08-17 02:50] skeeey commented on #94039
/sig release

[2020-08-17 03:00] liggitt commented on #94039
The 1.18.3 libraries use runc 1.0.0-rc10

See https://github.com/kubernetes/kubernetes/blob/v1.18.3/go.mod#L96

I'm not quite sure where the referenced version is coming from. Can you provide your full go.mod file?

[2020-08-17 03:06] runzexia commented on #65569
@lavalamp
Not all pods in this cluster have this situation.
But the pod corresponding to this deployment cannot be deleted by the foreground
[code]

[code]

[2020-08-17 03:11] skeeey commented on #94039
yes, the problem is happened on `1.0.0-rc10`, we need a higher version, our go.mod and go.sum
https://github.com/open-cluster-management/registration/blob/master/go.mod
https://github.com/open-cluster-management/registration/blob/master/go.sum

[2020-08-17 03:19] liggitt commented on #94039
But that does not match the version `0.0.0-20191031171055-b133feaeeb2e` in the message

[2020-08-17 03:28] liggitt commented on #94039
github.com/opencontainers/runc is not a dependency of any of the libraries mentioned in the description.

Running `go mod graph` will show which of your dependencies is referencing that version of runc

[2020-08-17 03:29] skeeey commented on #94039
yes, the version is not match, but the hash is the same (`h1:qT5XzbpPznkRYVz/mWwUaVBUv2rmF59PVA73FjuZG0U=`), so I think it is the 1.0.0-rc10, is my understanding right?

[2020-08-17 03:29] liggitt commented on #94039
You can also update to a newer version of runc within your module with an explicit require directive

[2020-08-17 03:31] liggitt commented on #94039
the hash for v1.0.0-rc10 is `github.com/opencontainers/runc v1.0.0-rc10 h1:AbmCEuSZXVflng0/cboQkpdEOeBsPMjz6tmq4Pv8MZw=`

[2020-08-17 03:35] knight42 commented on #93771
@zhiweiv I understand how urgent this issue is, but I am not privileged to do anything further :(

[2020-08-17 03:42] zhiweiv commented on #93771
@andyzhangx
Do you know anyone who can help?

[2020-08-17 03:47] andyzhangx commented on #93771
@zhiweiv looks like a simple fix, add a lock for `containerCleanupInfos`, I could help.

[2020-08-17 03:49] zhiweiv commented on #93771
@andyzhangx
There is already a fix by @knight42 , the problem is the PR is pending, not sure if you or someone can  increase the priority to merge it trunk and 1.17/1.18 branch

[2020-08-17 05:25] skeeey commented on #94039
@liggitt thanks for your help, yes, you are right, the runc is not introduced by kube-libs in our repo, I will update its dependent lib, so close this issue

[2020-08-17 05:25] #94039 closed

[2020-08-17 05:49] wojtek-t commented on #94029
It is NOT in kube-up (I don't know about kubeadm).

That said - what quota to you set in kubeadm? We're bumping that in kube-up:
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L1668

[2020-08-17 05:52] wojtek-t commented on #86484
/remove-lifecycle stale

We should start some work on that soon.

There is already discussion on sig-arch mailing list and given there is no good support in kube-up, we're going to look into kubeadm probably. Expect some more info in the upcoming weeks.

[2020-08-17 06:12] tores1 commented on #92266
It seems to be the same as what I ran into (in a StatefulSet). I set:
[code]

I have two nearly identical StatefulSets (helm generated) targeting different nodes. On one I have `--allowed-unsafe-sysctls='net.ipv4.ip_forward'` added to `/var/lib/kubelet/kubeadm-flags.env` on the other I do not. The pod only starts on the node with `--allowed-unsafe-sysctls='net.ipv4.ip_forward'` as expected. Howeve

[2020-08-17 07:03] sameergn commented on #64002
in our case, had to edit stuck istio crd istiooperators.install.istio.io instead of patching and removed finalizer section manually.

[2020-08-17 08:11] max-rocket-internet commented on #78712
I have no idea. Maybe @ josephburnett could give us a clue as to what was fixed, when it will be in a release and what wasn't fixed?

I find it really hard to understand what is being fixed in k8s PRs and also tracking a PR to a release 😕

[2020-08-17 08:40] tosi3k commented on #93820
/assign

Looks as if the resource requests&limits change has reduced the amount but has not completely got rid of them, unfortunately.

Closing the issue for the time being - if a new one opens, we'll further investigate that problem.

[2020-08-17 08:45] mm4tt commented on #93820
/close

[2020-08-17 08:45] #93820 closed

[2020-08-17 09:15] Danil-Grigorev commented on #93973
Something makes me think this issue existed before, and just escalated to a larger scope after adding `Secret` informers, demanding refresh for all `Node` objects. This [method](https://github.com/kubernetes/kubernetes/blob/5a3301a59d0c4d5e76002cff99a2f5450d2eea80/staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_util.go#L129) is used within `vsphere-volume` plugin in `kcm` and it is mount

[2020-08-17 10:21] tangmingming1 opened #94048 "k8s create terminaling type pods in large Numbers"
A K8S cluster is deployed，rocketmq is deployed to a node,When this node dies，k8s create terminaling type pods all the time，at least a few hundred thousand

System logs show too few pod ,and create pods all the time

[2020-08-17 10:24] Nuru commented on #89156
/remove-lifecycle stale

As I said above, this can and should be fixed with lenient parsing of input while keeping strict formatting of output. This exact change was made for handling container log timestamps in https://github.com/kubernetes/kubernetes/pull/91207 which has been accepted for Kubernetes 1.19 and backported to 1.16, 1.17, and 1.18.

[2020-08-17 10:27] tangmingming1 commented on #94048
/wg sig/node

[2020-08-17 10:27] tangmingming1 commented on #94048
/sig kind/bug

[2020-08-17 10:29] tangmingming1 commented on #94048
kind/bug

[2020-08-17 10:30] tangmingming1 commented on #94048
sig/cluster-cheduling

[2020-08-17 10:30] HeikoScholtes commented on #70179
Any news here?

[2020-08-17 10:31] tangmingming1 commented on #94048
/sig cluster-scheduling

[2020-08-17 10:32] tangmingming1 commented on #94048
/sig node

[2020-08-17 10:33] tangmingming1 commented on #94048
/sig cluster-lifecycle

[2020-08-17 10:35] tangmingming1 commented on #94048
/wg bug

[2020-08-17 10:35] tangmingming1 commented on #94048
/king bug

[2020-08-17 10:35] tangmingming1 commented on #94048
/kind bug

[2020-08-17 10:43] neolit123 commented on #94029
Kubeadm does not set this flag and uses defauls. For such a corner case the flag can be passed additionally.

[2020-08-17 11:01] arifwn commented on #75565
Anyone experiencing high idle cpu usage when running kubernetes on docker mac can try running k3s via [k3d](https://github.com/rancher/k3d) instead. It's practically cut the idle cpu usage by half, down from ~50% to ~25%. Still not ideal, but better than nothing.

[2020-08-17 11:19] aojea commented on #94029
my point is that kubeadm uses a healthcheck for etcd that makes restart the pod if the database space is exceeded, making the situation worse, don't know if you want to tackle this problem from the kubeadm side.

It seems that apiserver runs the compactor every 5 minutes by default
https://github.com/kubernetes/kubernetes/blob/ebbbc57540f8467cc5b409bddbdad7dd5d4e435e/staging/src/k8s.io/apiserver/p

[2020-08-17 11:31] neolit123 commented on #94029
On Aug 17, 2020 14:19, "Antonio Ojea" <notifications@github.com> wrote:

the flag can be passed additionally.

the pod if the database space is exceeded, making the situation worse,
don't know if you want to tackle this problem from the kubeadm side.

The healthcheck is a standard HTTP static Pod liveness probe at etcd's
health endpoint.

[2020-08-17 11:32] jingyih commented on #94029
I think it is better if the compactor can handle this situation. Currently I do not see how. The compactor needs to write a key to etcd (to persist the compact revision) before requesting the compaction. In the case where etcd is already full, the write will fail.

[2020-08-17 11:43] neolit123 commented on #94029
Potentially, space for the key can be reserved. Userdata sz + compator key
sz = full

[2020-08-17 11:47] #89288 closed

[2020-08-17 11:48] ialidzhikov commented on #88896
/remove-lifecycle stale

[2020-08-17 11:53] jingyih commented on #94029
Potentially this could a feature request to etcd. Currently any key sent by etcd client (which is embeded in apiserver) is considered user key.

[2020-08-17 11:55] neolit123 commented on #94029
yep, i meant this can be in etcd.

[2020-08-17 12:56] liggitt commented on #93968
I think successful access to the configured storage is relevant to server health. Allowing KMS health to be excluded from healthz/livez if desired by the API server operator is fine, but defaulting the API server to reporting healthy when it cannot read/write secrets (including secrets that need to be read internally as part of service account token authentication) seems like a harmful default to

[2020-08-17 13:55] alculquicondor commented on #94003
We don't have any plans to support this at the moment.

Could you clarify your use case?

[2020-08-17 13:59] mailhari commented on #94003
GKE is the main usecase where we dont have a visibility of scheduler at all since GKE manages the control plane.

[2020-08-17 14:01] alculquicondor commented on #94003
Please clarify the underlying use case. What is it that you want to achieve?

[2020-08-17 14:11] alculquicondor commented on #94011
Feel free to pick this up, but note that master is still under freeze.

[2020-08-17 14:29] liggitt opened #94051 "ci-cloud-provider-gcp-conformance-latest failing with mismatched test / server version"
**Which jobs are failing**:

ci-cloud-provider-gcp-conformance-latest

**Which test(s) are failing**:

Tests of v1.19 APIs (csr, ingress, ingressclass)

* This is the number 2 failure in the sig-auth triage dashboard https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=auth#149b717fc8f74bbfb782

**Since when has it been failing**:

https://testgrid.k8s.io/provider-gcp-periodics#Conf

[2020-08-17 14:29] liggitt commented on #94051
cc @cheftako

[2020-08-17 14:36] nocanstillbb commented on #94032
[code]

[2020-08-17 14:37] wojtek-t commented on #94029
Putting aside the discussion about recovering from that state for a moment,
I would like to understand what is happening that we can fill up 2GB DB. IIUC, this is running in small cluster (<10 nodes) - it's not that easy to write that much data. What is happening in this test?

[2020-08-17 14:42] tnozicka commented on #91672
The pod objects are intentionally left there as thumb stones so user can discover them and find out the reason for eviction (by kubelet). They are not accounted into the RS state. If the count gets too high PodGC would clean them up. This isn't a bug.

/remove-kind bug
/kind feature

Eviction API just deletes the pods so this isn't the case there.

That said the thumb stones could be eventually cl

[2020-08-17 15:08] neolit123 commented on #93991
@prabhu43
please open this same ticket in k/kubeadm where we track kubeadm feature requests/bugs.

thank you
/close
/area kubeadm

[2020-08-17 15:09] #93991 closed

[2020-08-17 15:13] dominicgunn commented on #92272
Sorry to be naggy, did you manage to get anywhere with this @xmudrii?

[2020-08-17 15:18] xmudrii commented on #92272
@dominicgunn I've looked into it a little bit, but I've been busy for the past few days. I'll do my best to take a deeper look tonight or tomorrow.

[2020-08-17 15:25] princerachit commented on #89330
I have hit this issue again, this time with kubernetes 1.16
[code]

[2020-08-17 15:26] neolit123 commented on #94019
/sig api-machinery

[2020-08-17 15:27] neolit123 commented on #93914
/close

please feel free to continue the discussion on the closed ticket.
we are trying to keep the k/k repository for features/bugs reports.

also here are our support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-08-17 15:28] #93914 closed

[2020-08-17 15:33] tnozicka commented on #89922
there is an open RFE for this https://github.com/kubernetes/enhancements/pull/1888

[2020-08-17 15:37] gnufied commented on #89330
@princerachit can you post controller-manager and kubelet logs from 1.16?

[2020-08-17 15:39] neolit123 commented on #94013
my understanding is that we notified that folks should move to `gcr.io/kube-apiserver:v1.18.8` some time ago.

[2020-08-17 15:45] aojea commented on #94029
The cluster is just 2 nodes (is using KIND) and the test is creating 10000 services to check its dns records
https://github.com/kubernetes/kubernetes/blob/97c5f1f7632f2d349303515830be76f6c1084b19/test/e2e/network/dns_scale_records.go#L54-L55

After defrag it goes down to 370M, that is the size I use to see in KIND clusters

[code]

[2020-08-17 15:54] brianpursley commented on #93925
This function seems a little suspicious to me:

https://github.com/kubernetes/kubernetes/blob/14d9b5d7589841d66a14451bad3bbad11eb88b89/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L879-L897

If `killContainersWithSyncResult` (line 880) fails to kill any of the containers, it doesn't stop and it still kills the sandbox (line 885 onward)

At this point, you have one or more containers still hangin

[2020-08-17 15:57] claudiubelu commented on #94017
Since it will use the first matched Windows image, then one solution would be to put the 2004 image first in the manifest list. That way it is going to be the first matched image. But this just solves the symptom, not the issue.

But since it is Hyper-V Isolation, why doesn't containerd support containers with multiple OS versions? Docker does, I've used Hyper-V isolation to build images for multi

[2020-08-17 15:57] neolit123 commented on #94033
hi,

yep, we try to keep this issue tracker for bugs/features as much as possible.

instead you can try slack #kuberentes-users or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

you'd need a service account that can do that.

this talks about `system:node` being there for compatibility only.
the cluster admin could create custom RBAC cluster roles / role bin

[2020-08-17 15:58] princerachit commented on #89330
@gnufied it will take me sometime to get the kube controller manager logs, and then mask the  confidential data.

Here is the masked log of kubelet:

[prince-debug-kubelet.log](https://github.com/kubernetes/kubernetes/files/5085307/prince-debug-kubelet.log)

[2020-08-17 15:58] neolit123 commented on #94033
/close

[2020-08-17 15:58] #94033 closed

[2020-08-17 16:00] neolit123 commented on #94048
please re-open once you provide more details about your setup, k8s version and all the details in the issue template
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

/remove-sig node cluster-lifecycle
/close

[2020-08-17 16:01] neolit123 commented on #94048
/close

[2020-08-17 16:01] #94048 closed

[2020-08-17 16:03] stevenshuang opened #94058 "PodTopologySpreadConstraints doesn't work"
**What happened**:
The kubernetes cluster have three worker nodes and a master one, their labels as follows:
[code]
When i tried to use statefulset to verify podSpreadConstraints, the result was not expected.
[code]

**What you expected to happen**:
What i expected is all pods would be distributed on different worker nodes, but all of them were on the same one.
**How to reproduce it (as minimally

[2020-08-17 16:05] stevenshuang commented on #94058
/sig Scheduling

[2020-08-17 16:08] neolit123 commented on #94012
/retitle jobs: allow user to specify back-off delay
/sig apps

please specify your k8s version.

[2020-08-17 16:09] neolit123 commented on #94009
just fixing double "moving" in title:
/retitle Avoid moving pods out of unschedulable status unconditionally

[2020-08-17 16:12] neolit123 commented on #94014
hi,
see this: https://github.com/etcd-io/etcd/issues/7723
for more questions you can use #etcd on k8s slack for log a ticket in the etcd repository.

thanks
/close

[2020-08-17 16:13] #94014 closed

[2020-08-17 16:16] hdonnay commented on #71162
Is there any actual movement on this?

As far as Google auth goes, there's no way to use the `azp` claim like the docs say should be done -- there's nothing on Google's official docs on how to do it, and the undocumented ways on StackOverflow appear to be gated behind specific kinds of clients.

There's effectively no way to have `kubectl` use oidc and also have `dashboard` behind an oidc login.

[2020-08-17 16:21] brianpursley commented on #93925
Also this one:
https://github.com/kubernetes/kubernetes/blob/b181c76cbdc9ff2946967a3970280ef0652d8c06/pkg/kubelet/kubelet.go#L1525-L1527

If `syncPod` tries to kill the pod and fails, it looks like nothing is logged. [Other](https://github.com/kubernetes/kubernetes/blob/b181c76cbdc9ff2946967a3970280ef0652d8c06/pkg/kubelet/kubelet.go#L1409-L1414) [places](https://github.com/kubernetes/kubernetes/bl

[2020-08-17 16:39] lavalamp commented on #89015
/reopen
/lifecycle frozen

[2020-08-17 16:40] lavalamp commented on #89206
/reopen
/lifecycle frozen

On Sun, Aug 16, 2020 at 3:34 PM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-08-17 16:50] lavalamp commented on #65569
@runzexia Do you have a broken aggregated apiserver? e.g. does `kubectl api-resources` report any errors?

@caesarxuchao how does one query the GC for children of a given resource?

[2020-08-17 16:52] tan31989 commented on #93818
@Zheaoli how can we still get some mechanism to maybe restart the pod/container on CrashLoopBackOff ?

[2020-08-17 16:57] Zheaoli commented on #93818
@tan31989 CrashBackOff means one thing that the pod on node got some problems. So if we can find the root cause whether the memory limit , image error or something else, and solve it, the pod will restart/re-pull up - automatically

[2020-08-17 17:29] ashrayjain commented on #76935
/remove-lifecycle stale

[2020-08-17 18:03] neolit123 commented on #78534
/remove-lifecycle stale

[2020-08-17 18:14] marosset commented on #94017
We would like to be able to run these tests on both Windows Server 2019 and Windows Server ver. 2004.
If we re-ordered the images in the manifest to put the 2004 images first we'd run into the same issue for Windows Server 2019 :(

The Windows container team is working to add support for multiple OS versions to containerd and are working with the containerd community to find an agreeable implement

[2020-08-17 18:20] michaelmdresser commented on #94051
I suspect this is because the kubetest2 Ginkgo tester isn't correctly matching the test package version with the version being built. See https://github.com/kubernetes-sigs/kubetest2/blob/master/pkg/testers/ginkgo/package.go#L24. Kubetest2 by default acquires the latest test package published for k/k.

[2020-08-17 18:25] BenTheElder commented on #94051
we could default to matching the API server version if not specified.
in the meantime we should specify it in this job @amwat

[2020-08-17 18:30] amwat commented on #94051
yeah +1 to the defaulting behavior. but we probably want to run a cluster with latest binaries in that job instead of downgrading the tests :)

[2020-08-17 18:31] amwat commented on #94051
also ref: https://github.com/kubernetes/test-infra/issues/18865

[2020-08-17 18:33] adelina-t commented on #94017
Ok, so my 2 cents here:

- Mutating webhook would clearly be cleaner solution here IMO. It's a bit more code to maintain, but it's not that complicated.

- New image repo would be a simpler solution, however, when we lose control over the image repository ( i.e when we finally have image builder & Windows images published to gcr ) then this solution will be tough to maintain given that we depend o

[2020-08-17 18:47] pjh commented on #93945
I poked through the kubelet logs a bit more. The logs I've noted below remind me of a couple Windows issues: https://github.com/kubernetes/kubernetes/issues/88153 where we also see "PLEG not healthy" errors and the node is degraded/failed, and previous issues we've had with slow container stats for Windows pods.

These are the errors from the kubelet log that contain "iis-tinylimit" (some duplicat

[2020-08-17 18:48] pjh commented on #93945
@marosset @jsturtevant any chance you could try the repro steps to see if this behavior also happens on Azure nodes?

[2020-08-17 18:55] BenTheElder commented on #94029
FWIW I actually see 430M for a clean cluster with a single node on 1.8.8
It's still a lot to jump from that to 2GB...

@neolit123 :

That may be so, but if it is making the situation worse we should reconsider.

GCE is increasing this quota even in prod (and doesn't appear to have a different setting in test config), I'd be inclined to suggest that the kubeadm default should be raised.
If kubeadm

[2020-08-17 18:57] marosset commented on #93945
@pjh I'll try this out in the next day or two

[2020-08-17 18:58] nckturner commented on #73906
/remove-lifecycle rotten

[2020-08-17 19:12] jingyih commented on #94029
If apiserver writes and deletes (deletes are usually due to compaction) frequently in etcd, etcd may have a lot of internal fragmentation.

[2020-08-17 19:27] liggitt commented on #94029
can we get an apiserver request log at v4 for the test run? I'd really like to make sure something like the endpoints or endpointslice controller isn't churning unexpectedly on this scenario

[2020-08-17 19:29] BenTheElder commented on #94029
logs _should_ be v4 by default in kind runs now, I think you have one here
at
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kind-network/1295347935625613312/artifacts/logs/kind-control-plane/containers/kube-apiserver-kind-control-plane_kube-system_kube-apiserver-fa7708048512519ca040be371c5000c3185fffb1b1b268d52f4273291af5e5a9.log

(https://testgrid.k8s.io/sig-network-kind#si

[2020-08-17 19:42] damemi commented on #91633
Sorry all, haven't forgotten about this. Read up some more on the structured logging and it doesn't look too bad to implement. I think the big thing (at least for the scheduler) would be something like the named loggers @serathius mentioned in https://github.com/kubernetes/kubernetes/issues/91633#issuecomment-638137616. Though, I think we could get sufficient context with just a pod key in the str

[2020-08-17 20:38] blhagadorn commented on #14362
@rubensayshi That sounds about right, are there any updates on the best way to do this for every time kubectl is run or a way to make it run every hour or so?

[2020-08-17 20:38] marosset commented on #94017
Thanks @adelina-t - If we were to implement the mutating webhook solution, where would be good place to host the code and the container image? Probably sig-windows-tools for the code and the e2eteam repo for the container image?

[2020-08-17 20:43] liggitt commented on #89712
deflake in #94055 while the underlying issue is being worked on in https://github.com/kubernetes/kubernetes/issues/75564

[2020-08-17 20:44] liggitt commented on #75564
as part of resolving this, remove the retry added in https://github.com/kubernetes/kubernetes/pull/94055 and add a time.Sleep(time.Second) to deterministically exercise the managedFields scenario

[2020-08-17 20:50] msau42 opened #94060 "Allow ratcheting validation on custom resources"
(hoisted from https://github.com/kubernetes/kubernetes/issues/94060#issuecomment-677644185)

To support improving validation on a custom resource definition when there is existing persisted custom resource data that only passes the old less restrictive validation, allow a CR update that fails custom CRD schema validation IFF the existing object fails the custom CRD schema validation with identical

[2020-08-17 20:52] adelina-t commented on #94017
For the container image, yes, e2eteam repo. For the code, I would put it in windows-testing repo, as the primary use-case for the webhook is the e2e job. However, I can see how a client / user might make use of the webhook as well, so sig-windows-tools would fit as well.

[2020-08-17 20:55] lavalamp commented on #94060
I'm a little confused, objects have to be round-trippable, so why can't you continue to keep the same validation for v1 objects?

[2020-08-17 21:05] #89712 closed

[2020-08-17 21:29] jsturtevant commented on #94017
The option for a new image repository will not be effective due to the explosion of versions (each WS OS) and would not be compatible with the work being done to have the [windows images in the promotion pipeline](https://github.com/kubernetes/kubernetes/pull/77269#issuecomment-675002434) as @adelina-t  pointed out.

In the short term, I think having the mutating web hook for the hyperv tests is a

[2020-08-17 21:33] kwiesmueller commented on #75564
Thanks Jordan, I'll also add that to our tracking document so we don't miss it.

[2020-08-17 21:51] 2rs2ts commented on #70585
I can confirm we still see throttling on workloads that don't use a lot of cpu on these guaranteed pods with static cpu manager policy on. Disabling the quota would make lots of sense IMO, since there's no real reason why it should get used in the first place.

[2020-08-17 21:56] justaugustus commented on #93114
The following images contain fixes for the aforementioned CVE:

- k8s.gcr.io/build-image/debian-base:v2.1.3
- k8s.gcr.io/build-image/debian-iptables:v12.1.2
- k8s.gcr.io/build-image/debian-hyperkube-base:v1.1.3

All in-support release branches have been patched to use these new images:
- `master` and `release-1.19` (via fast-forward): https://github.com/kubernetes/kubernetes/pull/93916
- `release-

[2020-08-17 21:56] #93114 closed

[2020-08-17 21:59] justaugustus commented on #92616
The following images contain fixes for the aforementioned CVE:

- k8s.gcr.io/build-image/debian-base:v2.1.3
- k8s.gcr.io/build-image/debian-iptables:v12.1.2
- k8s.gcr.io/build-image/debian-hyperkube-base:v1.1.3

All in-support release branches have been patched to use these new images:
- `master` and `release-1.19` (via fast-forward): https://github.com/kubernetes/kubernetes/pull/93916
- `release-

[2020-08-17 21:59] #92616 closed

[2020-08-17 22:30] 2rs2ts commented on #67577
The tests mentioned earlier in this thread do not really reproduce the issue for me (a few burns take more than 5ms but it's like 0.01% of them) but our cfs throttling metrics still show moderate amounts of throttling. We have different kernel versions across our clusters but the two most common versions are:

* `Debian 4.19.67-2+deb10u2~bpo9+1 (2019-11-12)`
* a manual backport of `5.4.38`

I do n

[2020-08-17 22:33] peppy commented on #51835
I've also seemingly run into this, with multiple pods stuck in terminating, including one pod which is no longer visible anywhere in my infrastructure but still running as a ghost (it serves requests and I can see requests being served even with a deployment scale of zero).

I have zero visibility nor control over this pod and ask how I am supposed to troubleshoot a situation like this without shu

[2020-08-17 22:46] aojea commented on #94029
I have one suspect, I think that is caused by the bitmap used to store the cluster ips, under the key `/registry/ranges/serviceips`, related discussion here https://github.com/kubernetes/enhancements/pull/1881#issuecomment-671758404

I don't know how to get the size of the key value, so I did the following

[code]

the result seems correct, because I have configured a /12 range `10.96.0.0/12` for

[2020-08-17 22:54] csandiri11 opened #94063 "Kubernetes API server response timeout"
Seeing some of our Workflow jobs are getting failed with connection timeout error. We are using Argo Workflow manager to run jobs. we are observing Argo is losing connectivity to its workflows and our inter dependent workflow schema is getting failed with the below errors. so when I checked Kubernetes API server logs I am seeing these errors. is there any way I can increase any timeout settings fo

[2020-08-17 23:20] donbowman commented on #51835
you'll have to access docker on the node.
You can use my `dink` (https://github.com/Agilicus/dink) which will bring up a pod w/ a shell w/ docker access, or ssh to the pod.
`docker ps -a`
`docker stop ####`

good luck.

[2020-08-17 23:27] Jiawei0227 commented on #93911
Another read of the code, it seems the reason we are keeping the check for `stageUnstageSet` in later steps is that we need to store some metadata for the UnmountDevice step. There is actually a comment:
https://github.com/kubernetes/kubernetes/blob/35c8fece8618a79c7ab3c586b8d4180ce6af0f43/pkg/volume/csi/csi_attacher.go#L305
So the whole chunk of code between the check is to save volume metadata i

[2020-08-18 00:20] farah commented on #94019
/assign

[2020-08-18 00:23] AndiLi99 commented on #94060
The goal is to change the validation for v1 objects, to make it more strict.

[2020-08-18 00:24] cheftako commented on #93968
I hate (and am not actually trying) to bring up the dreaded component-status, but I think we may be conflating concepts/mechanism here. To me healthz/livez is a signal to the kubelet that something is wrong. Specifically it indicates a failure which may be fixed by the kubelet restarting the process/container (https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-st

[2020-08-18 00:26] BenTheElder commented on #44918
/reopen
https://github.com/kubernetes/kubernetes/issues/94029 ?

[2020-08-18 00:28] logicalhan commented on #93968
I agree with what people are saying above, which I is summarized by the following statement:

`KMS health is not appropriate as a liveness check.`

However, I personally do believe that KMS health checks may be appropriate as a readiness check.

[2020-08-18 00:29] logicalhan commented on #93968
I also suspect that that is what @liggitt and @cheftako are saying.

[2020-08-18 00:45] SeagleLiu commented on #94012
K8S version: 1.15.12-gke.2

[2020-08-18 01:21] grosser commented on #91262
/lifecycle frozen

[2020-08-18 02:04] peppy commented on #51835
Thanks for the direction.

I was eventually able to solve this, but still a bit puzzled how it could happen (for me the pod was completely invisible). As it was in production things were a bit hectic and I wasn't able to perform diagnostics, but if it happens again hopefully I can make a better bug report.

[2020-08-18 02:18] runzexia commented on #65569
@lavalamp `kubectl api-resources` does not show errors.
Only the pod belonging to a deployement will have such a problem.
The binary program of this pod is built using graalvm.

[2020-08-18 02:46] VictorLee0321 commented on #87735
systemctl restart docker.service fixed this issue.
look at this:
https://github.com/microsoft/vscode-docker/issues/1963

[2020-08-18 02:48] gokussx4 opened #94064 "OpenApi-Spec response schema ref is incorrect for deleting a v1 batch job"
**What happened**:
Deleting a job returns a job object instead of a v1 status object.

**What you expected to happen**:
I expected a v1 status object to be returned about the delete of the job per the k8s api documentation and spec.

**How to reproduce it (as minimally and precisely as possible)**:
Delete any namespaced job restfully and it will return the job you are attempting to delete instead

[2020-08-18 02:50] gokussx4 commented on #94064
/sig api-machinery

[2020-08-18 02:55] KubeLouis opened #94065 "configmaps "kubelet-config-1.xx.x" is forbidden"
Hello here is a question on kubernetes installation
I deleted a master first then I'd like to make it master again, but failed
the version of kubelet and kubeadm is 1.13.10(a bit old version that no doc in kubernetes.io)
after I got token then I tried to join the cluster as a master, the following error report is shown

**[preflight] Running pre-flight checks
        [WARNING Hostname]: hostname "

[2020-08-18 03:01] eth0xFEED commented on #94032
Hi @nocanstillbb thanks for the information 👋 , i see from the logs the kubelet on www.hayoun.edge1 is unable to reach the api server www.haoyun.vip:8443 , would you verify if the resolution of that address is what you expect it to be and that the host routing table has a path to this resolved address ?

[2020-08-18 03:12] eth0xFEED commented on #93824
I believe the default value derives from here,
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/dns/dns.go#L42

Another perspective of how DNS could be setup is in this presentation I found that data dog specifically anticipated all services using `{$service-name}.${namespace}` and manipulated ndots to reflect. https://youtu.be/MvoImel5qfc?t=1532

I'll ask some other member

[2020-08-18 04:02] #88037 closed

[2020-08-18 04:39] lokeshjava28 opened #94067 "I cant do clustering kubernetes [preflight] WARNING: JoinControlPane.controlPlane settings will be ignored when control-plane flag is not set."
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):  Kubernetes version: v1.18.8
- Cloud provider or hardware configuration: AWS
- OS (e.g: `cat /etc/os-release`): ubuntu
- Kernel (e.g. `uname -a`): root
- Install tools:
- Network

[2020-08-18 04:45] lokeshjava28 opened #94068 "I cant do clustering in kubernetes..... [preflight] WARNING: JoinControlPane.controlPlane settings will be ignored when control-plane flag is not set."
How to resolve below error .... Please suggest

**What happened**: I have create kubernertes master and kubernetes node in aws. While i am clustering then i am faceing above error.
Note: I have taken 1 cpu only.

**What you expected to happen**:  I want to create cluster in kubernetes. So please suggest how to resolve above issue.

**How to reproduce it (as minimally and precisely as possible)**:

[2020-08-18 05:25] mikeharrisonlt commented on #80122
Did you get a working example of this?

Did cilium CNI and then using external IPs service work?

[2020-08-18 05:25] krmayankk commented on #18174
Is this still the case in aug 2020 ? We are working around this by using haproxy per node , but it will simplify the infra if we can remove the haproxy

[2020-08-18 05:26] mkumatag commented on #91247
/remove-lifecycle stale

[2020-08-18 05:33] deitch commented on #41881
/remove-lifecycle stale

[2020-08-18 05:43] suvsap opened #94070 "Error 137 Container not starting up"
**What happened**:
POD is erroring out with Error 137
[code]
**Deployment yaml** :- https://gist.github.com/suvsap/fcd2b60ec7b89b5e4529871fa47394c5
**Service Yaml** :- https://gist.github.com/suvsap/c3bec60236bd9fbc61c1944e8558265b
**Describe POD**:- https://gist.github.com/suvsap/9701c7a8356002a5c61061cd2811bcf3

**Anything else we need to know?**:
We use helm to deploy kubernetes resources

**En

[2020-08-18 05:45] suvsap commented on #94070
/sig Network

[2020-08-18 06:56] CostelLupoaie commented on #93784
Same issue on mac:
`kubectl version
Client Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.9-eks-4c6976", GitCommit:"4c6976793196d70bc5cd29d56ce5440c9473648e", GitTreeState:"clean", BuildDate:"2020-07-17T19:00:19Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.13-eks-2ba888", GitCommit:"2ba88815

[2020-08-18 07:00] jofia commented on #91600
I also encountered the same problem, the disk space is also very sufficient, please help us to see
Annotations:    <none>
Status:         Failed
Reason:         Evicted
Message:        The node was low on resource: ephemeral-storage. Container ebaogi-bff-app was using 34260Ki, which exceeds its request of 0.
IP:
IPs:            <none>
Controlled By:  ReplicaSet/ebaogi-bff-app-955968dbb

Name:

[2020-08-18 07:35] jofia opened #94073 "The node was low on resource: ephemeral-storage，I also encountered the same problem, the disk space is also very sufficient, please help us to see"
I also encountered the same problem, the disk space is also very sufficient, please help us to see
Annotations:    <none>
Status:         Failed
Reason:         Evicted
Message:        The node was low on resource: ephemeral-storage. Container ebaogi-bff-app was using 34260Ki, which exceeds its request of 0.
IP:
IPs:            <none>
Controlled By:  ReplicaSet/ebaogi-bff-app-955968dbb

Name:

[2020-08-18 07:36] jofia commented on #94073
[root@xen16-23 ~]# kk get nodes
NAME                    STATUS   ROLES    AGE    VERSION
xen15-142               Ready    <none>   189d   v1.16.2

[2020-08-18 07:40] wojtek-t commented on #94019
FTR - this doesn't seem to be a new bug - it's there since we migrated scheduler to new events, which was 1.17 IIRC

[2020-08-18 07:40] wojtek-t commented on #94019
@farah - will you be able to prepare a PR fixing this?

[2020-08-18 07:42] farah commented on #94019
Yes @wojtek-t , I'll have a submission this week if that's ok.

[2020-08-18 08:30] yue9944882 commented on #94064
ref https://github.com/kubernetes/kubernetes/issues/79472 the deletion api returns the deleted object on graceful deletion, however multi-returning is not supported in OAS2 spec.. this should be addressed by providing a dedicated OAS3 publishing endpoint

[2020-08-18 09:03] rubensayshi commented on #14362
we're using GKE, and Google has an experimental feature to set session lengths, which we've set to 12 hours, which will force a re-authenticating with our 2fa key (YubiKey) every 12 hours, which is "good enough"

[2020-08-18 09:11] lyind commented on #93913
The issue can be worked around by adding `--fail-swap-on=false` to `KUBELET_EXTRA_ARGS` (defined in `/etc/default/kubelet` on Debian):

**/etc/default/kubelet**
[code]

[2020-08-18 09:13] wojtek-t commented on #94029
OK - that explains it. Setting /12 for services sounds a lot. I doubt we would be even able to support 2^20 services (we don't test more than O(10k), so roughly two orders of magnitude less.

@aojea - can you please rerun the experiment by setting say /16 or /18 for services cidr and grab the data then just to fully confirm it?

[2020-08-18 09:27] alikaba opened #94074 "pod:kube-flannel-ds-**** can't initialize successfully"
when I build kubemark cluster , k8s v1.18.6 regard hollow-node as a node ,but pod :kube-flannel-ds-**** can't initialize successfully in hollow-node.

how to make pod:kube-flannel-ds  initialize successfully ?

**Environment**:
- Kubernetes version (use `kubectl version`):v1.18.6
- Cloud provider or hardware configuration:local
- OS (e.g: `cat /etc/os-release`): centos-7
- Kernel (e.g. `uname -a`)

[2020-08-18 10:21] aojea commented on #94029
it looks much better :smile:
[code]

[2020-08-18 11:00] aojea commented on #44918
I had a working implementation with compressed bitmaps here #86620, but I think that there are better ideas in https://github.com/kubernetes/enhancements/pull/1881#issuecomment-672135245