[2018-05-15 06:40] alok87 commented on #14661
@justinsb Do we have health check for AWS ELBs? We want to keep adding/removing nodes in the ELB based on health. What is the right way to do it.

We are not using k8s provisioned ELB, it is the ELB we have created. We want to keep healthy kubernetes nodes under it.

[2018-05-15 06:48] nilebox commented on #59850
/remove-lifecycle stale

[2018-05-15 07:17] Stono commented on #51835
I had this yesterday in 1.9.7, with a pod stuck in terminating state and in the logs it just had "needs to kill pod", i had to `--force --grace-period=0` to get rid.

[2018-05-15 07:17] xieydd commented on #63128
@ronakpandya7  same issue - how you check your kubelet logs,`systemctl status kubelet` or `journalctl -u kubelet -f ` ,but i didn`t get some useful information

[2018-05-15 07:27] kargakis commented on #45825
This bug is a dupe of https://github.com/kubernetes/kubernetes/issues/42649

[2018-05-15 07:52] mapsic commented on #23726
I have this issues. This solution work for me:
export KUBECONFIG=/etc/kubernetes/admin.conf

[2018-05-15 08:07] vikash commented on #63786
I have the exactly same issue.

[2018-05-15 08:07] shubheksha commented on #63838
/kind support

[2018-05-15 08:12] Joseph-Irving commented on #63171
yeah I've had a few developers hit this issue and if you're not very familiar with Kube it can be very confusing to debug. I think it would make sense to error when you attempt to create the cronjob as your job is never going to schedule.

[2018-05-15 08:26] Joseph-Irving commented on #63171
it looks like this has been fixed actually https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/batch/validation/validation.go#L169. This was 8 months ago. You're using an unsupported version of kube so you'll need to update to get the fix.

[2018-05-15 08:30] karthiekchowdary1 commented on #23726
HI mapsic,

I exported abov env, but no use. getting same error.

2018-05-15 04:27:32.221744 I | proto: duplicate proto type registered: google.protobuf.Any
2018-05-15 04:27:32.221912 I | proto: duplicate proto type registered: google.protobuf.Duration
2018-05-15 04:27:32.221936 I | proto: duplicate proto type registered: google.protobuf.Timestamp
The connection to the server 10.x.x.x:6443 was ref

[2018-05-15 09:15] obeattie commented on #51135
I would also add that a _single cluster_ may be hosting production and development workloads. My 2¢ are that if this is made configurable, it should be on a per-pod level, rather than per-node. Doing this tuning per-node effectively means that we assume that a node can only host one "kind" of workload (in terms of how latency-sensitive it is), and I don't think that's a restriction that should be

[2018-05-15 09:29] resouer commented on #63784
@godliness Unfortunately, extra locks have to be introduced recently to fix some known races in scheduler. We are having discussion on this but you can try to start with lock optimization or even remove the locks to eliminate those impacts on default scheduler.

[2018-05-15 09:35] lichuqiang commented on #63814
As @lavalamp suggested in #23104, instead of hash the whole container spec, can we maintain a list of container fields of different releases that should be taken into consideration during hash, and identify the hash values with release prefix?
The field list may looks like:
[code]
and imagine the kubelet has been upgraded to release2 (new container field `fieldN+1`  added), when walking through th

[2018-05-15 09:39] OskarStark commented on #33664
thank you @spiddy this did the trick for me 👍 🎉

[2018-05-15 10:08] fweimer commented on #48019
@thockin The search path limit has been removed from glibc upstream, in version 2.26.

[2018-05-15 10:17] george-angel commented on #62538
In a goroutine dump, there a lot of these `.../vendor/google.golang.org/grpc/credentials/credentials.go:150`:

[code]

and `.../vendor/google.golang.org/grpc/clientconn.go:694`:

[code]

[2018-05-15 10:26] beatlejuse opened #63854 "dashboard not working with RBAC"
/kind bug

**What happened**:
i deploy kube dashboard from tag v1.10.2
https://github.com/kubernetes/kubernetes/tree/v1.10.2/cluster/addons/dashboard
sign in with kubernetes-dashboard-token.
and see this error: "nodes is forbidden: User "system:serviceaccount:kube-system:kubernetes-dashboard" cannot list nodes at the cluster scope"

**What you expected to happen**:
list of cluster nodes in dashboa

[2018-05-15 10:36] cyrillk commented on #49926
We experience the same with `m5.large` on `eu-west-3`.

[2018-05-15 10:44] #60108 closed

[2018-05-15 10:46] JoelSpeed commented on #63128
For anyone who hasn't solved this, I've been upgrading our clusters from 1.9 to 1.10, changing kubelet from command line flags to a configuration file.

The default Authentication and Authorization to Kubelet's API differs between cli args and config files, so you should make sure to set the "legacy defaults" in the config file to preserve existing behaviour.

This is a snippet from my kubelet con

[2018-05-15 10:50] beatlejuse commented on #63854
/sig auth

[2018-05-15 11:03] george-angel commented on #62538
With v=6 logging a lot of these messages:

[code]

[2018-05-15 11:16] bclau opened #63855 "tests: examples/ based tests are no longer working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig testing

**What happened**:

A previous patch (f0b5e2d7c5c4bb77a2b14a8dc4ba85ec63dc1b12) removed all the remaining examples/ YAML files, which were still used by some tests, mostly from examples.go:

should create and stop redis servers
should start spark master, driver and workers
should create and scale cassandra
CassandraStatefulSet

[2018-05-15 11:42] shubheksha commented on #63846
/kind bug
/sig storage

[2018-05-15 11:42] shubheksha commented on #63828
/kind support

[2018-05-15 11:47] #63249 closed

[2018-05-15 12:07] mcglinn commented on #61277
@FFFEGO - Thanks Vlad, I tried fresh from that guide still same issue.

Maybe my internet connection is too slow @~8mbps ???

I saw a few messages about under voltage in journalctl but after increasing to better power supply, and repeating, I still have same issue (under-voltage messages gone though)

[2018-05-15 12:07] KIVagant opened #63858 "Bug: ResourceExhausted desc = grpc: received message larger than max (4195017 vs. 4194304)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

- Nodes in `NotReady` status
- Pods in `Unknown` status

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

- Cloud provider or hardware configuration: AWS
- OS (e

[2018-05-15 12:10] KIVagant commented on #63858
/sig node

[2018-05-15 12:20] beatlejuse commented on #63854
I solved this problem by adding a cluster role:

[code]

[2018-05-15 12:20] #63854 closed

[2018-05-15 12:27] stp-ip commented on #34982
Reproduction as far as I can see.
* `defaultMode: 256`
* secret not empty

Result: `777 /test/secret`
[code]

[2018-05-15 12:34] ceshihao commented on #63858
It is `max message size` limitation on grpc.

The default value is `1024 * 1024 * 4` (i.e. `4194304` in error message)
https://github.com/grpc/grpc-go/blob/master/clientconn.go#L118

[2018-05-15 12:39] pmichali commented on #63208
Conntrack 1.4.5 appears to resolve this issue. Should we close this issue, noting that we need the newer version to eliminate the failure on conntrack delete operations, or do we leave this open, until conntrack is updated (not sure when, or the requirements to update, as binaries for conntrack 1.4.5 are not available)?

[2018-05-15 13:00] wk13071526 opened #63860 "Question: Deploy mysqld with GlusterFS"
I try to deploy mysqld service with glusterfs,but pod status is always CrashLoopBackOff, here are my config yamls and info , please help~

# ------------------- Glusterfs Endpoints ------------------- #
kind: Endpoints
apiVersion: v1
metadata:
  name: glusterfs-cluster
subsets:
- addresses:
  - ip: 10.47.130.202
  - ip: 10.47.130.203
  ports:
  - port: 1
    protocol: TCP

---
# ------------------

[2018-05-15 13:18] Bala2103 commented on #59411
In my case there is no way to change the haproxy timout, I am using the below command to extend the session
while :; do sleep 59; echo -n ' ' >&2; done &

Please let me know . if there is any other suggestion for the people who have no access to those configurations

[2018-05-15 13:26] smarterclayton commented on #28746
I’m considering queueing this up for 1.12 - I want to make a few targeted
improvements across the board.  Need to talk about it in sig-cli

On May 14, 2018, at 11:59 PM, Bruno Bowden <notifications@github.com> wrote:

@mfojtik <https://github.com/mfojtik> @kargakis
<https://github.com/kargakis> - has there been any movement on this issue?

kubectl logs has the --pod-running-timeout=90s flag but it

[2018-05-15 13:30] Bala2103 opened #63863 "kubectl exec <pod> -it bash，and auto exit pod after 1 minitue"
/kind bug

**What happened**:
I am accessing kubectl pods many times in my organization in daily basis, everytime I connect with the pod , it is getting timedout in a minute, I understand this is a happroxy timeout config from - #59411 , but I have no control in that. Is there any other way to increase the timeout in pod?

**What you expected to happen**:
Right now inorder to increase the timeout,

[2018-05-15 13:32] jpeeler commented on #63843
@hzxuzhonghu accompanying tests need to be disabled if the podpreset plugin has been disabled (https://github.com/kubernetes/kubernetes/pull/62379).

[2018-05-15 13:32] FFFEGO commented on #61277
@mcglinn I don't think that internet speed is an issue. Seems that all required images are pulled.
Could you show me your `docker images` and `ifconfig` output? I'll compare images versions and network interface configuration to mine. BTW, do you use Wi-Fi or wired connection?

[2018-05-15 13:42] mykola-makhin-symphony commented on #56148
Running `setenforce 0` fixed the issue for me

[2018-05-15 13:43] mvmn commented on #56148
Running `setenforce 0` before `kubeadm init` fixed the issue for me.

[2018-05-15 13:52] stepin commented on #44485
/remove-lifecycle rotten

[2018-05-15 13:53] stepin commented on #44485
/reopen

[2018-05-15 14:08] ravisantoshgudimetla commented on #63360
@ShualLiu - Thanks for reporting this.
- I believe kube 1.8 master has been tested with golang 1.8.3. (https://github.com/kubernetes/community/blob/master/contributors/devel/development.md).
- You can try finding that from https://github.com/kubernetes/kubernetes/blob/release-1.8/hack/lib/golang.sh#L341.
- I also think that with the error you faced now, it would be better to lock the maximum versi

[2018-05-15 14:09] jhorwit2 commented on #14661
@alok87 You'd want emulate what Kubernetes does in that scenario, which is either use the kube-proxy healthz endpoint, which is by default port 10256, or use the healthcheck port on the service if it's traffic policy is local.

[2018-05-15 14:13] dixudx commented on #63814
That means we have to hard code this. I don't like this way.

As I mentioned in [#57741](https://github.com/kubernetes/kubernetes/pull/57741#issuecomment-356196638), how about a new label, like `containerSerializedSpecLabel `, with backwards compatibility supported as well.

[2018-05-15 14:28] el-diablo-rojo opened #63867 "intermittent external connectivity for various pods/applications - resolv.conf permissions"
/kind bug

**What happened**:
During an upgrade to kubernetes 1.10.x our working deployments began to fail.

**What you expected to happen**:
Our bespoke php service could not contact a required redis deployment (bitnami/redis:4.0.8-r7) or a customised rabbitmq installation (rabbitmq:3.6-alpine), these were previously tested and working with k8s-1.8.0.

**How to reproduce it (as minimally and prec

[2018-05-15 14:39] KIVagant commented on #63858
@ceshihao do you know if it possible to configure the value with environment variable or maybe in some config file?

[2018-05-15 14:40] shyamjvs commented on #63493
Yeah, we're not really collecting those scheduler metrics properly. It's a long-standing bug.

@krzysied - Would you be able to take a look into this?

[2018-05-15 14:44] rijuchatterjee commented on #24137
Hi,

I am trying to delete the deployment but I am getting the below error:

root@xxxxxxxxx:/etc : kubectl get pods
NAME                                   READY     STATUS             RESTARTS   AGE
allow-client                           1/1       Running            0          55m
deny-client                            1/1       Running            0          55m
testdeployment-130642600-279wv

[2018-05-15 14:46] MHBauer commented on #63843
@jpeeler is correct in the resolution.

The second test in that file will succeed for the wrong reason. The pod won't be modified because the admission controller to modify it is no longer running.

Not sure why sig-service-catalog owns this. We have no control over any of the code in this repo.

Who is expected to execute the PR for the fix here?

[2018-05-15 14:47] akram commented on #19317
I faced this issue while running oadm diagnostics NetworkChecks

the diagnostic created many projects and kept the even after successful run.
Deletion was not possible, and projects were remaining in Terminating state

The API call with curl worked also

[2018-05-15 14:48] rijuchatterjee commented on #24137
Hi,

I am trying to delete a deployment where the docker image pull did not happen properly, but I am getting the below error:

![capture](https://user-images.githubusercontent.com/35865540/40064397-0b769f56-587d-11e8-85fc-46cf632d24d6.PNG)

[2018-05-15 14:49] dannyk81 commented on #45363
Actually, I was thinking about running only `dnsmasq` on each node and point it to kube-dns.

Like it was suggested here https://github.com/kubernetes/kubernetes/issues/7470#issuecomment-263695219

This seems quite straight-forward, with the exception of the required iptables rule, that part is a show stopper for me as I'm not sure how to manage it properly so it won't be overridden/etc..

[2018-05-15 14:53] discordianfish commented on #55398
/remove-lifecycle stale
/lifecycle freeze

[2018-05-15 15:14] mapsic commented on #23726
Hi Karthik,

Maybe you can try to check the log about the kubelet service.

[2018-05-15 15:28] rdzimmer commented on #63615
I've experimented with different apiVersions, but it hasn't made a difference.  For some reason the apiVersion got changed from the yaml to the actual definition.  I created it with `apps/v1` but it became `extensions/v1beta1`.

[2018-05-15 15:53] rramkumar1 commented on #63622
We think #63840 should fix the IPVS issues.

[2018-05-15 16:07] buzai opened #63873 "CrashLoopBackOff errors"
[code]

[2018-05-15 16:10] lavalamp commented on #59119
Sounds like a bug in the patch application code-- it should only validate
fully reified (i.e., post-patch-application) objects.

On Tue, May 15, 2018 at 7:21 AM James Ravn <notifications@github.com> wrote:

[2018-05-15 16:11] #63873 closed

[2018-05-15 16:14] buzai opened #63874 "ImagePullBackOff error"
/kind bug

**What happened**:
ImagePullBackOff
**What you expected to happen**:
runing
**How to reproduce it (as minimally and precisely as possible)**:
just init k8s

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.10.2

- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
centos7

[2018-05-15 16:14] buzai commented on #63874
[code]

[2018-05-15 16:15] buzai commented on #63874
[code]
but docker has it

[2018-05-15 16:16] buzai commented on #63874
also i set docker a ss proxy . it can pull images.

[2018-05-15 16:41] PatrickLang commented on #63825
I pinged someone in the #sig-windows channel on this. Any chance you have tried 1.9 or 1.10? There were a lot of changes in those releases for Windows.

[2018-05-15 16:56] song-jiang opened #63876 "Sandbox for a terminating pod can be deleted and recreated again."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
During my test, sometime I saw sandbox for a terminating pod can be deleted and recreated again.

**What you expected to happen**:
No sandbox recreation for a terminating pod.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a pod A.
2. Delete pod A.
3. Wait for pod A disappear from namespace.

[2018-05-15 16:56] song-jiang commented on #63876
/sig node

[2018-05-15 17:03] AishSundar commented on #63843
From the commit history it looks like [this change](https://github.com/kubernetes/kubernetes/commit/863f08ff5a81d13a1b312881b655a4fe9c89571a) enabled the change in Alpha.

@hzxuzhonghu can you please followup on disabling all tests related to this change? Also, as per @MHBauer comment,  if you can update the owning sig on the test that would be great.

/assign @hzxuzhonghu

[2018-05-15 17:05] #56016 closed

[2018-05-15 17:06] AishSundar commented on #63767
Its all green now and I feel like crying :) thanks @liggitt

[2018-05-15 17:17] song-jiang commented on #63876
[kubelet.log.edm.updateid.txt](https://github.com/kubernetes/kubernetes/files/2005997/kubelet.log.edm.updateid.txt)

Please search for `SONG-DEBUG` in log file. It seems `pod worker` is taking a `sync` event from `last-undelivered` place holder and kicks off `pod worker` to create sandbox for pod A again after it's sandbox has been deleted.

[2018-05-15 17:17] Bala2103 commented on #63863
@kubernetes/sig-contributor-experience-bugs

[2018-05-15 17:23] luxas opened #63878 "Move `RotateCertificates` from KubeletFlags to the beta KubeletConfiguration"
/kind cleanup

**What happened**:
https://github.com/kubernetes/features/issues/266 and https://github.com/kubernetes/features/issues/267 both require opt-in configuration knobs to the kubelet.
They are kinda global settings, you probably either opt into dynamic cert rotation or you don't, so they qualify for being in the `KubeletConfiguration` struct.
The `.ServerTLSBootstrap` knob for enabling d

[2018-05-15 17:29] luxas commented on #56523
I now stumbled upon [this piece of code](https://github.com/kubernetes/kubernetes/blob/098996737475235ae6488048797227023e873ef9/cmd/kubelet/app/options/options.go#L245).
Can we default the cadvisor port to 0 in v1.11 to gradually phase it out?
And then remove in v1.12, right?

I think that's as smooth deprecation/removal as we can get

[2018-05-15 17:40] stonefury commented on #63828
Closing, wrong repo.

[2018-05-15 17:40] #63828 closed

[2018-05-15 17:41] rdzimmer commented on #63615
I've hit this now with a Deployment with just 1 container per pod, so we can throw out my theory of it only being the 2+ container deployments.  Again, it's reporting it wasn't able to get the CPU for a pod that isn't related to the HPA.

[2018-05-15 17:52] #63863 closed

[2018-05-15 18:13] wojtek-t commented on #59347
/remove-lifecycle stale.
/lifecycle frozen

[2018-05-15 18:21] awalmsley opened #63883 "Unable to connect to the server: net/http: TLS handshake timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Getting TLS handshake timeouts when using Kubectl to retrieve pods, and all other commands.

**What you expected to happen**:
Kubectl should return pod details.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
This is a sporadic failure on all Kubectl commands.

[2018-05-15 18:42] derekwaynecarr commented on #51135
@obeattie i agree that a single cluster may host both workload types.  i think exposing a knob on a per pod basis is a larger discussion than exposing how granular the cfs quota period is on a per node basis since we already have the flag to enable/disable cfs quota entirely per node.

if i understand your patch, i do not think modeling the period via a resource requirement is the best route for t

[2018-05-15 19:10] antoinne85 commented on #45509
@jeremywadsack We haven't actually implemented the HPA yet, but we know we're going to need it for other aspects of our infrastructure as we continue to migrate applications, so we're perhaps a little more open to the additional setup/overhead for that kind of thing.

Though, as I said, we haven't implemented it yet, we're expecting to gather metrics through Prometheus and expose them through the

[2018-05-15 19:10] david-jarman commented on #63825
Thanks! We are working on an upgrade path to 1.9, so I might be able to try this out sometime this week or next. I'll let you know once I have.

[2018-05-15 19:27] ixdy commented on #63360
Yep, as @ravisantoshgudimetla noted, the 1.8 branch of kubernetes was qualified with go1.8, and we don't upgrade go minor versions on a release branch, since incompatibilities as you've experienced occasionally appear.

When using the crossbuild image or bazel, we have the go version explicitly specified, so this issue really only comes up when you're doing a nonhermetic build through make.

We ca

[2018-05-15 19:46] ravisantoshgudimetla commented on #63493
/remove sig-scheduling

[2018-05-15 20:08] #14809 closed

[2018-05-15 20:08] #34401 closed

[2018-05-15 20:08] #44063 closed

[2018-05-15 20:15] vishh commented on #51135
@derekwaynecarr Thanks for the details. Can you also explain how CPU Quota is helping or why CFS fair sharing isn't adequate in the scenarios you described? It will helpful to capture that rationale in this issue.

I had a chat with @dchen1107 offline. Here's the summary of that conversation:

* I have tried my best to explain why most users do not need to concern themselves with CPU Quota especia

[2018-05-15 20:50] GarethLewin commented on #61901
We also have multiple instances of kube-proxy on one of our nodes, but we have no idea how that occured, is this a known issue?

[2018-05-15 21:16] christopherhein commented on #55278
@arun-gupta I was able to update our documentation about using limits and BestEffort base on @andyrhee's comment. This should probably be closed.

[2018-05-15 21:28] mcluseau commented on #63858
Hitting the same bug here (Kubernetes 1.10.2 with docker 17.12.1). The node has 8309 containers, most of them exited, created by failing jobs.

[2018-05-15 21:34] awalmsley commented on #63883
@kubernetes/sig-cli-bugs

[2018-05-15 21:47] obeattie commented on #51135
FWIW if I were to implement this patch now that’s exactly what I would do too. If there was support for this I’d be happy to revise our patch. Of course if you want to go the route of a node flag that’s totally fine, but I do think that requiring a cluster admin to segregate their nodes into different “classes” for workloads with different latency sensitivities is going down the wrong path. Howeve

[2018-05-15 21:49] mcluseau commented on #63858
I'll try to change kubelet's ContainerGC so that, when there are more than say 5000 containers it reclaims the oldest ones. Unless someone thinks it's not the right think to do.

[2018-05-15 21:56] brandoncollins7 opened #63888 "How can a specific port on a node be exposed and allow access via it's outgoing ip address?"
I am trying to run a p2p client (IOTA) which requires the node I am connecting to to be able to connect back to be on the same ip address I made the request from and to a very specific port.

NodePort won't work because it exposes as a different port then what I want
LoadBalancer won't work because the other node won't know my load balancer ip address.

How are people able to use p2p clients on ku

[2018-05-15 22:51] arun-gupta commented on #55278
Thanks @christopherhein, will close!

[2018-05-15 22:51] #55278 closed

[2018-05-15 23:04] Quentin-M commented on #56903
I would just like to add here that the `single-request(-reopen)` workaround does not work with Alpine-based containers, as musl does not support the option (see below). Unfortunately, Alpine Linux is the base image to 90% of our infrastructure.

[src/network/resolvconf.c](https://git.musl-libc.org/cgit/musl/tree/src/network/resolvconf.c)
[code]

[src/network/lookup.h](https://git.musl-libc.org/cgi

[2018-05-15 23:05] Quentin-M commented on #62628
I would just like to add here that the `single-request(-reopen)` workaround does not work with Alpine-based containers, as musl does not support the option (see below). Unfortunately, Alpine Linux is the base image to 90% of our infrastructure.

[src/network/resolvconf.c](https://git.musl-libc.org/cgit/musl/tree/src/network/resolvconf.c)
[code]

[src/network/lookup.h](https://git.musl-libc.org/cgi

[2018-05-15 23:11] #11883 closed

[2018-05-15 23:32] mcluseau commented on #63858
thanks @dims I'll try to reproduce but it will take time (I had to clean the host).

[2018-05-15 23:47] #55667 closed

[2018-05-15 23:50] yujuhong opened #63897 "Race condition when applying the unschedulable taint"
The test job that runs regular e2e tests when all alpha features are enabled have been failing: https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-enabled-default

One thing I noticed is that many "kube-system" pods are scheduled onto the master node, causing the node to be overcommitted. The pods include, e.g., heapster, kube-dns, etc, even though the master was tained/marked as unschedula

[2018-05-16 00:03] zhouhaibing089 commented on #63331
/close

[2018-05-16 00:03] #63331 closed

[2018-05-16 00:09] yujuhong commented on #63897
Can we update kubelet to register itself with the unscheduable taint?

[2018-05-16 00:12] thockin commented on #14217
/lifecycle frozen
/remove-lifecycle stale

[2018-05-16 00:16] godliness commented on #63784
@misterikkit thanks for the detail description.
Ok, I will do this and then send a pr for this.

[2018-05-16 00:31] #58429 closed

[2018-05-16 00:35] thockin commented on #8976
I like litter - give it a shot

On Tue, May 1, 2018 at 8:22 AM mdhedley <notifications@github.com> wrote:

[2018-05-16 01:10] iponnam opened #63899 "Unable to register Master with API server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We have initiated 1 Master and 6 Nodes using Kubeadm around March 30th 2018. Everything is working fine until last weekend. kubernetes control-plane pods were down and when trying to restart , the etcd & api-server pods are restarting. And kubelet is unable to register the **MASTER** with API Server.

[code]

The etcd log

[2018-05-16 01:13] iponnam commented on #63899
/sig api-machinery

[2018-05-16 01:14] iponnam commented on #63899
@liggitt Could you please take a look.

[2018-05-16 01:18] iponnam commented on #63899
looping @kawaljeet

[2018-05-16 01:19] yinwenqin opened #63900 "Coredns service do not work,but endpoint is ok，the other SVCs are normal only except dns"
here is the status right now:
[code]

 It just look like every thing is fine.Whether it is viewing the svc/pod/endpoint status, logs,iptables,network,everything is normal.
But only the one svc--kube-dns don't work,it causes to be unable to parse the domain name in pod,but ping IP is ok.
So worry about this for a long time,Somebody can help me?

[2018-05-16 01:50] krmayankk commented on #45363
@dannyk81 why do we need iptables rule for running dnsmasq per node. Could you clarify ?

[2018-05-16 01:57] feiskyer commented on #63228
@karataliu raised another potential issue: any containers would be able to get Azure identity via metadata. This is because `169.254.169.254` could also be accessed from any containers.

While there are applications already depending on instance metadata, disabling container's access (e.g. by iptables) to `169.254.169.254` is not our preferred way. We need to dig more for possible solutions.

[2018-05-16 02:01] ravisantoshgudimetla commented on #63360
Thanks @ixdy for confirming. @ShualLiu Can you please close the issue unless there are other concerns?

[2018-05-16 02:07] dims commented on #62295
/sig openstack

[2018-05-16 02:09] yinwenqin commented on #63900
/area dns

[2018-05-16 02:10] yinwenqin commented on #63900
/kind bug

[2018-05-16 02:18] dims commented on #63900
/sig network

[2018-05-16 02:18] dims commented on #63888
/sig network

[2018-05-16 02:19] dims commented on #63874
/sig node

[2018-05-16 02:20] dims commented on #63860
/sig apps

[2018-05-16 02:21] dims commented on #63772
Please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see mess

[2018-05-16 02:21] dims commented on #63772
/close

[2018-05-16 02:21] #63772 closed

[2018-05-16 02:25] liggitt commented on #62295
Prior to 1.10, deployments could name their instances with node-name-compatible names and work properly. The changes made in 1.10 (https://github.com/kubernetes/kubernetes/pull/58502 and https://github.com/kubernetes/kubernetes/pull/61000) break those deployments.

Additionally, as noted in the referenced comment, they made the getServerByName and mapNodeNameToServerName methods fail unless the in

[2018-05-16 02:32] k82cn commented on #63897
Yes, updating taint by node-controller has such race condition :(.
I'm thinking to move those taints from node-controller to kubelet; node-controller only taints unreachable.

/cc @gmarek @bowei

/sig node

[2018-05-16 02:39] liggitt commented on #62295
Also, to be clear, new node names is a breaking change. Deployments provision instances, credentials, and need to coordinate on the resulting node objects. Options or fallback behavior when an instance name is impossible to use as a node name seem reasonable, but should be done in a way that doesn't break deployments that were previously working (not to mention that kubelets can skew two releases

[2018-05-16 02:41] #56896 closed

[2018-05-16 02:55] #57901 closed

[2018-05-16 02:55] #62164 closed

[2018-05-16 03:02] mcglinn commented on #61277
@FFFEGO It is wired ethernet (I have previously used my regular home LAN but setup a new secondary subnet for this with exact ip's in example just to be sure there was no clash with anything k8s or docker was trying to do)
I will have to grab the outputs when I return home, as it is powered off now.
Thanks for your help, much appreciated. (my images seem to be downloaded fine when I checked last t

[2018-05-16 03:04] liggitt commented on #62295
In service of this, I've opened https://github.com/kubernetes/kubernetes/pull/63903 to restore pre-1.10 behavior and plan to pick it to the 1.10 release branch once approved.

[2018-05-16 03:09] #63860 closed

[2018-05-16 03:35] buzai commented on #63874
@dims how can i set a proxy for gcr.io?  is k8s will send a request to gcr.io to ensuer the image is not old.
in my system i had set a proxy for docker

[2018-05-16 03:44] feiskyer commented on #27398
@leblancd is preparing a proposal of multiple pod IP addresses for dual-stack.

/assign leblancd

[2018-05-16 04:02] grayluck commented on #63208
Sorry for the delay Paul and thank you for your hard work. Nice debugging!
Please leave the issue open. It's not resolved yet.
Could you please tell me in which pod (and using which image) you upgrade the conntrack? So maybe we can rebuild an image with updated conntrack.

[2018-05-16 04:04] dannyk81 commented on #45363
@krmayankk K8s populates `/etc/resolv.conf` with the name server address that is specified in kubelet arg: `--cluster_dns=x.x.x.x`.

So, somehow we need to NAT the dns queries sent to `x.x.x.x` over to the node's localhost/public_ip (?)

I don't think we can use `--cluster_dns=127.0.0.1` as that would simply send the queries to the container's namespace localhost (not the hosts).

WDYT?

[2018-05-16 04:38] bowei commented on #45363
The ideal mechanism is some (does not yet exist) topology mechanism (i.e. go to local dnsmasq). Otherwise, it will be not expressible via the k8s service API.

[2018-05-16 04:45] jethrogb opened #63906 "Autogenerated container port name conflicts with multiple hostports"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

A container ports spec such as:
[code]
Results in this error:
[code]
From https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/helpers.go#L321 . Because of this, the port mappings are not setup correctly on the host when using a CNI-compliant portmap solution.

**What you expected to happen**:
Auto-

[2018-05-16 04:50] lavalamp commented on #63899
I'm really sorry you're having problems. Unfortunately, it's almost certainly something very particular to your setup. This isn't a great forum for support and we traditionally close support requests. I will give some hints:

* figure out why etcd is restarting. Nothing will work if etcd is restarting.
* figure out why apiserver is restarting. kubelets can't register if it is restarting.
* Look in

[2018-05-16 04:50] #63899 closed

[2018-05-16 04:56] andyxning commented on #27114
/lifecycle rotten
/remove-lifecycle stale

[2018-05-16 04:56] andyxning commented on #27114
/remove-lifecycle rotten

[2018-05-16 05:39] buzai commented on #6888
@chinglinwen
thank u repley me .
[code]
i had set a proxy for docker, and i can use docker pull some images, but it has a error like this.
i think k8s will sen a request to gcr.io for ensure the image is right?

[2018-05-16 05:51] chinglinwen commented on #6888
Say kube-proxy-amd64, you can setup https_proxy, run docker pull k8s.gcr.io/kube-proxy-amd64:v1.10.2 ( on every node ),  if pod status doesn't change you can delete that pod, it will re-create it.

[2018-05-16 05:59] anguslees commented on #57765
Once upon a time, the cloud provider's (only!) role was to discover a dynamic list of nodes *by regex*.  In that world, using the nodename made perfect sense because the admin could then configure it to be something like `cluster17-node47`, with the obvious use of regex patterns to group the relevant nodes.

Fast forward a few years, and this style of node registration is long gone, and there is n

[2018-05-16 06:18] karataliu opened #63908 "Azure loadbalancer does not handle SessionAffinity during update"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Following test case will fail with azure provider:
`[sig-network] Services should be able to switch session affinity for LoadBalancer service with ESIPP on [Slow]`
Log:
[code]

The case creates a service and then switches SessionAffinity, but that was not handled by azure provider.
https://github.com/kubernetes/kubernetes/

[2018-05-16 07:10] nodefactory-bk commented on #51835
Just got this aswell with 1.9.7-gke.0.
Didn't have problems with 1.9.6-gke.1.
But did have it with 1.9.4 and 1.9.5

[2018-05-16 07:33] nodefactory-bk commented on #51835
Redeploying or deleting a pod has the same effect.
Restarting kubelet on the offending node didn't work. kubelet didn't start again and I had to restart the entire node.

During this the pod couldn't be scheduled on any other node since it said the PV was already mounted elsewhere.

[2018-05-16 07:39] nodefactory-bk commented on #51835
Redeploying or deleting a pod has the same effect.
Restarting kubelet on the offending node didn't work. kubelet didn't start again and I had to restart the entire node.

During this the pod couldn't be scheduled on any other node since it said the PV was already mounted elsewhere.

[2018-05-16 07:40] krmayankk commented on #63821
/area dns

[2018-05-16 07:56] kevin-wangzefeng commented on #63814
We don't have field level versioning for kubernetes api today, so it won't help (kubelet itself has no idea which version a field is introduced or changed).

If we have to go with the field label approach, adding a version indicator might help:
For example

[code]
Then, `foo` will be included for checking container hash like "v1.9-xxxxxxxx"
`foo` and `bar` will be included for checking container h

[2018-05-16 08:53] #62898 closed

[2018-05-16 08:55] medanasslim commented on #19317
I have already the same problem. I restarted the virtual machine, and also run "kubectl delete ns ***** --force --grace-period=0".
The namespace concerned is still stucking in Terminating.

[2018-05-16 08:55] barnettZQG commented on #62898
//before k8s 1.8 version, set Annotations for Service.PublishNotReadyAddresses
	service.Annotations = map[string]string{"service.alpha.kubernetes.io/tolerate-unready-endpoints": "true"}

[2018-05-16 10:27] george-angel commented on #62538
Update: Running the latest Kubernetes master apiserver fixes this issue, going to try to find the commit that fixes it.

[2018-05-16 10:33] #63801 closed

[2018-05-16 11:03] moonek commented on #62845
I confirmed that the bug was fixed normally in v1.10.0. https://github.com/kubernetes/kubernetes/pull/60648
Close the issue.

[2018-05-16 11:28] plkokanov commented on #48968
/remove-lifecycle rotten

Hi, we experienced the same problem with kubernetes 1.9.6:

**Kubernetes version (use kubectl version):**
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-27T00:13:02Z", GoVersion:"go1.9.4", Compiler:"gc", Platform:"darwin/amd64"}

Server Version: versio

[2018-05-16 12:39] gkgaurav05 opened #63916 "how can we create service dependencies using kubernetes."
I have 2 services. One containing 2 pod replicas for a web application which is dependent on another backend service having pod (2 replicas) for mysql containers.

Web application uses environment variables set by backend db service. I've all the json inside same directory.

Is there any way to express the dependencies so that kubectl always create (and run) backend pods and services before it sta

[2018-05-16 12:41] lephix commented on #34982
Permission has problem in our env. Following is the snippet. In the container the /home/xxx/.ssh directory and the file authroized_keys both have a 0777 permission.

           volumeMounts:
           - name: host-keys
             mountPath: /home/xxx/.ssh/
     - name: host-keys
        secret:
          secretName: ssh-host-keys
          items:
          - key: authorized_keys
            pat

[2018-05-16 12:44] obeattie commented on #48638
Indeed: as far as I understand, the behaviour is not _undefined_, it's just defined in Linux rather than in Go. I think the Go docs could be clearer on this. Here's the relevant section from `dup(2)`:

My code doesn't modify flags after obtaining the fd, instead its only use is in a call to `setsockopt(2)`. The docs for that call are fairly clear that it modifies properties of the socket _referred

[2018-05-16 13:08] KIVagant commented on #63858
@dims I don't have free infrastructure to install there K8s from some branch and don't have experience to do this at all. I have used only stable releases.

[2018-05-16 13:10] qafro1 commented on #2630
This worked for me
`spec:
      containers:
      - name: jenkins
        image: jenkins/jenkins
        ports:
        - containerPort: 50000
        - containerPort: 8080
        volumeMounts:
        - mountPath: /var/jenkins_home
          name: jenkins-home
        securityContext:
           fsGroup: 1000
           runAsUser: 0`

[2018-05-16 13:11] qafro1 commented on #2630
This worked for me.. part of the script.

spec:
      containers:
      - name: jenkins
        image: jenkins/jenkins
        ports:
        - containerPort: 50000
        - containerPort: 8080
        volumeMounts:
        - mountPath: /var/jenkins_home
          name: jenkins-home
        securityContext:
           fsGroup: 1000
           runAsUser: 0

[2018-05-16 13:39] nicoben commented on #59867
This issue is similar to [https://github.com/kubernetes/kubectl/issues/426](https://github.com/kubernetes/kubectl/issues/426)

[2018-05-16 14:02] pmichali opened #63922 "IPv6: E2E tests failing with DNS failing liveness/readiness probes"
/kind bug
/area ipv6
/sig network

**What happened**:
Running a subset of E2E tests, focused on IPv6. During most runs, see kube-dns (same with coredns) restarting. Sometimes only a few times, sometimes 20+ times, and occasionally, without recovering.

On some runs, the restarts seem to cause test failures, as the pre-test step fail because kube-dns pod is not up.

**What you expected to happen**:

[2018-05-16 14:11] pmichali commented on #63922
In kubelet logs, had seen some errors. One was conntrack failing to delete NAT connections at test teardown. Found that needed conntrack 1.4.5. Updated repo with source build of conntrack 1.4.5 and errors are gone now, but no affect to issue. Have issue #63208 for that occurrence.

Found CNI failures on pod deletion, where it was using iptables command with IPv6 addresses. Updated repo with CNI 0.

[2018-05-16 14:21] AishSundar opened #63923 "Failing Test : [sig-storage] Subpath [Volume type: emptyDir] should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow] failing in sig-release-master-upgrade"
We are seeing multiple tests (for various volume types) failing to umount gracefully.

## Failing Jobs
* [sig-release-master-upgrade#gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)
* [sig-release-master-upgrade#gce-master-1.10-downgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.10-do

[2018-05-16 14:33] cpnielsen commented on #58329
/close

[2018-05-16 14:54] nikhita commented on #49075
/remove-lifecycle rotten

[2018-05-16 15:13] gabrielfsousa commented on #42158
v.1.10.2 has the problem too

[code]

[2018-05-16 15:17] gabrielfsousa commented on #57673
[code]

[2018-05-16 15:28] tpounds commented on #45363
We had the same issues 2-3 years ago in a very large deployment with requests saturating our self-hosted DNS servers which manifested as 5, 10, 15 second DNS lookup delays in our applications. The dealys being multiples of 5s is glibc default retry delay is 5s. Google `DNS 5 second delays` for more info.

We resolved the saturation issues by deploying `dnsmasq` instead of `pause` as the stage1 con

[2018-05-16 15:31] tpounds commented on #32749
Cross linking https://github.com/kubernetes/kubernetes/issues/45363#issuecomment-389561488 here which provides details on how we use `dnsmasq` as stage1 container in favor of `pause` to resolve a similar issue.

[2018-05-16 15:43] gabrielfsousa commented on #57673
@MaciekPytel

log of the metrics-server pod

[code]

[2018-05-16 15:44] mritd commented on #63900
I guess maybe the selector of kube-dns svc does not match coredns pod.

You can delete the kube-dns svc and then use this [script](https://github.com/mritd/ktool/blob/master/k8s/addons/coredns/deploy.sh)  to create the `coredns.yaml` file (note the changes to the script parameters) , Finally execute the `kubectl create -f coredns.yaml` command to use coredns (this was tested on my 1.10.1 ubuntu16

[2018-05-16 15:57] misterikkit commented on #63784
Sounds good. As @ravisantoshgudimetla mentioned, it would be good to include before and after performance details in the PR.

[2018-05-16 16:16] MaciekPytel commented on #57673
Right, so this is why it isn't working. How to fix it will likely depend on how you set up your cluster (ie. kops / kube-up.sh / ...). You should probably ask the maintainers of that tool (I only use GCP/GKE and it metrics-server works there out of the box).

[2018-05-16 16:19] primeroz commented on #52398
Having the same issue on 1.9.7 , was this fixed in any way ?

[2018-05-16 16:28] #55229 closed

[2018-05-16 16:29] gabrielfsousa commented on #57673
i have installed the kuebernetes HA ( 3 masters ) myself
using this proc.
https://kubernetes.io/docs/setup/independent/high-availability/#setting-up-an-ha-etcd-cluster

[2018-05-16 16:33] MaciekPytel commented on #57673
Right, I would ask on #kubeadm on slack or create a separate issue about deploying metrics-server on kubeadm-deployed cluster.

[2018-05-16 16:49] michaelgugino commented on #63714
Also seen here: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63890/pull-kubernetes-e2e-gce/35779/

https://github.com/kubernetes/kubernetes/pull/63890

Additional failure of [sig-api-machinery] Garbage collector should delete jobs and pods created by cronjob

[2018-05-16 16:52] thockin commented on #15000
Honestly, some of the context was lost.  #10322 seems apropos.  Also https://dave.cheney.net/2014/12/24/inspecting-errors was an inspiration.

I am not sure what condition means in your interface, but maybe we don't even want a type?

The few places that return `ErrWaitTimeout` don't have much additional context to add (I guess they could add the timeout value, if they know it, but some don't).  O

[2018-05-16 16:57] msau42 commented on #63923
@AishSundar I had cherry picked https://github.com/kubernetes/kubernetes/pull/63037 into 1.10 a while ago.  I see that the downgrade test is using:
[code]

Is there a way I can tell if these e2e test version includes my commit?

[2018-05-16 17:00] msau42 commented on #63923
Hm I think it does include my commit.  I found commit 3533e8c0fac5e5 which was from 2 days ago.

[2018-05-16 17:02] mikesaelim commented on #63687
Hi @lavalamp, I work on the same project with @salilgupta1.  Thanks for your help so far.  I was testing out Option 2 on Minikube, and while the pod was kept alive by the finalizer, it seems like the container's logs were removed.

I had created a pod in Minikube that specified a finalizer like so:
[code]
This pod contained one container, and there weren't any controllers configured to do anything

[2018-05-16 17:09] davidz627 opened #63933 "GCE-PD In-Tree Plugin creates PV with Spec.Capacity of same size as size of request Capacity regardless of actual storage size during dynamic provisioning"
This is a known issue, however we may not want to resolve it as it may break backwards compatibility.

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gce_pd/gce_pd.go
Provision() creates a PV using
[code]

sizeGB comes from:
`volumeID, sizeGB, labels, fstype, err := c.manager.CreateVolume(c)`

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/gce_pd/gce_util.go
Creat

[2018-05-16 17:15] gabrielfsousa commented on #57673
thanks !!

[2018-05-16 17:16] grayluck commented on #63208
Thanks for that. I will look into it.

[2018-05-16 17:18] AishSundar commented on #63622
I see [#63840](https://github.com/kubernetes/kubernetes/pull/63840) merged and this test is now passing in both pull-kubernetes-e2e-gce and
ci-kubernetes-e2e-gci-gce. Hence closing the issue. Thanks all

[2018-05-16 17:19] krmayankk commented on #45363
@tpounds I am interested in more details of what you did here .

[2018-05-16 17:25] #63360 closed

[2018-05-16 17:40] AishSundar commented on #63024
/reopen

I am seeing this test flake again in https://k8s-testgrid.appspot.com/presubmits-kops#e2e

Log: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/kops/5148/pull-kops-e2e-kubernetes-aws/6384

@justinsb do you mind taking a look please

/assign @justinsb

[2018-05-16 17:43] msau42 commented on #48968
@plkokanov to confirm, you saw this problem when you issued a rolling update on your statefulset?

[2018-05-16 17:44] msenmurugan opened #63935 "pod definitions with args and no command try to execute the first arg."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-05-16 17:48] bsalamat opened #63937 "Improve performance of existing Pod anti-affinity in scheduler"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/kind enhancement

**What happened**:
We recently added #62211 that improves performance of inter-pod affinity/anti-affinity predicate significantly. This improvement applies when a pod with inter-pod affinity/anti-affinity rules is being scheduled. Inter-pod anti-affinity is symmetric meaning that it applies both at the time of schedulin

[2018-05-16 17:53] AishSundar opened #63938 "[Flaky test]: k8s.io/kubernetes/test/integration/scheduler.TestVolumeBindingStress failing in Presubmits and CI jobs"
## Flaky Jobs:
* [presubmits-kubernetes-blocking#pull-kubernetes-integration](https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-integration)
* [sig-release-master-blocking#integration](https://k8s-testgrid.appspot.com/sig-release-master-blocking#integration)

## Consistency: [95.9%](http://storage.googleapis.com/k8s-metrics/job-flakes-latest.json)

## Flakiest test :

[2018-05-16 17:54] juanvallejo opened #63939 "gke-kinflate flake: fork/exec ../cmd/kustomize/test/main.sh: no such file or directory"
Last seen failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kinflate-periodic-default-gke/736

/kind flake
/sig cli

[2018-05-16 17:55] caesarxuchao commented on #63714
@roycaihw, I don't have time to debug now. Perhaps it's related to the recent change to use the simple client. Because the simple client only has a single REST client, instead of a REST client per group version, we had to increase the qps for the simple client by 20 times, but maybe that's not enough?

[2018-05-16 17:58] msau42 commented on #63938
This is a dup of https://github.com/kubernetes/kubernetes/issues/63467
/close

[2018-05-16 17:58] #63938 closed

[2018-05-16 18:03] mattfarina commented on #44505
Note, in addition to Fossa there is also https://www.fossology.org/

[2018-05-16 18:07] msau42 opened #63940 "Add e2e test for StatefulSet rolling update with PVC"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-apps-feature-requests
@kubernetes/sig-storage-feature-requests

**What happened**:
It would be good to test rolling updates with RWO PVCs that cannot be attached to multiple nodes at the same time.

[2018-05-16 18:09] msau42 commented on #63940
There have been reports of this scenario [failing](https://github.com/kubernetes/kubernetes/issues/48968#issuecomment-389486168)

[2018-05-16 18:13] AishSundar opened #63941 "[Flaky tests]: [sig-api-machinery] Garbage collector should support cascading deletion of custom resources and [sig-api-machinery] Garbage collector should not be blocked by dependency circle [Conformance]"
## Flaky Jobs:
* [presubmits-kubernetes-blocking#pull-kubernetes-integration](https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&show-stale-tests=)
* [sig-api-machinery#gce](https://k8s-testgrid.appspot.com/sig-api-machinery#gce)

## Consistency: [92%](http://storage.googleapis.com/k8s-metrics/job-flakes-latest.json)

## Flakiest test :
[[sig-api-machinery] Gar

[2018-05-16 18:34] msau42 commented on #63923
Discussed with @jingxu97 and @dashpole.  I think the issue is the test is incorrectly waiting until PodTermination.  But it should be waiting for PodDeletion.  During the pod termination phase, the volumes may not have been unmounted yet.

[2018-05-16 18:35] shyamjvs commented on #58154
/remove-lifecycle stale

On Wed, May 16, 2018 at 8:30 PM fejta-bot <notifications@github.com> wrote:

[2018-05-16 18:38] msau42 commented on #63923
This should not block beta.  @jingxu97 confirmed from the test logs that the volume actually did get unmounted, it's just the e2e test checked too early.

[2018-05-16 18:47] jingxu97 commented on #48968
@plkokanov would you mind to share us the full  controller-manager log to us so we can help triage? You see VolumeInUse in node 2 is normal because controller try to mount gcp-dynam-pvc-id on node 2. The strange thing is why volume is still attached to node 1.

[2018-05-16 18:50] awly commented on #61796
We had no issues developing for this API in https://github.com/kubernetes/cloud-provider-gcp/tree/master/cmd/gke-exec-auth-plugin and would like to see exec plugins promoted to Beta for 1.11 (w/ TLS support, if that makes it in)

[2018-05-16 18:51] ericchiang commented on #61796
Around discussion of this going beta.

Main concern with the existing implementation is the way the plugin is passed arguments.

[code]

https://github.com/kubernetes/kubernetes/blob/82b355edf68db9e9955134dea0e54892ca5febca/staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go#L235-L241

cc @awly
cc @nckturner

Have implements found this to be an issue? Has this worked for windows users

[2018-05-16 19:02] awly commented on #61796
We used flags to pass arguments:
https://github.com/kubernetes/kubernetes/blob/82b355edf68db9e9955134dea0e54892ca5febca/staging/src/k8s.io/client-go/plugin/pkg/client/auth/exec/exec.go#L244
https://github.com/kubernetes/cloud-provider-gcp/blob/master/cmd/gke-exec-auth-plugin/main.go#L19

Not an issue in our case.

[2018-05-16 19:07] gkgaurav05 commented on #63916
@barnettZQG I don't think it is relevant to me.

[2018-05-16 19:39] awly commented on #61796
Oh, and the json request struct doesn't have any useful information for us
so we just ignore it.
I'm not sure there's any reason to have it.

On Wed, May 16, 2018, 12:04 Andrew Lytvynov <notifications@github.com>
wrote:

[2018-05-16 20:39] dashpole commented on #59524
See https://github.com/google/cadvisor/blob/master/container/common/helpers.go#L56.  We can't use the directory because it is modified each time a sub-cgroup is created.

[2018-05-16 20:43] grayluck commented on #63208
Paul, I think I found why.
Since https://github.com/kubernetes/kubernetes/pull/52744, kube-proxy base image is updated to stretch.
Could you please gets into your kube-proxy pod and run `apt-get update`? It should tells you which repo you are using. If it says jessie-updates, then just update the kube version and we should be fine.

https://github.com/kubernetes/kubernetes/blob/release-1.10/build/

[2018-05-16 20:47] julianvmodesto commented on #54132
@tomoe is it feasible to mark `net.ipv4.tcp_max_syn_backlog` as safe for the same reasoning we can mark `somaxconn` as safe?

https://github.com/torvalds/linux/blob/4608f064532c28c0ea3c03fe26a3a5909852811a/net/ipv4/sysctl_net_ipv4.c#L858

If so, I can open a new issue for this.

[2018-05-16 20:54] mtaufen commented on #61647
`kustomize` should do the merge, since it's a k8s-style API.
Unique identifiers comprise only a few parameters, I agree. But however we plumb this info, I don't want to relegate it to an unversioned API.
The best world is where these things are automatically discovered by the Kubelet, so we don't have to parameterize them in the config.

The other item in the issue description is basically whether

[2018-05-16 20:59] msau42 opened #63944 "Storage e2e tests should not wait for pod terminated"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
As discovered in https://github.com/kubernetes/kubernetes/issues/63923, pod termination phase means that volume manager will start unmounting volumes, but volumes won't be guaranteed to be fully unmounted until the Pod object is deleted.  So most volume tests should actually wait for the pod to be delete

[2018-05-16 21:05] nckturner commented on #61796
We don't have an issue with the environment variable either, we also currently don't use it either.  We do use kubectl's stdin for MFA auth, sending the prompt from the sdk to stderr.

https://github.com/heptio/authenticator/blob/226f7ba533fe746d3a501fbeb1a0195d4696a5d5/pkg/token/token.go#L151

[2018-05-16 21:10] tpepper commented on #59001
@yujuhong this has been open for months and is not looking "critical-urgent" by plain english.  Can you demote this to a lower priority?  Also it's not clearly looking like this is on track for 1.11 with code slush/freeze coming very soon.  If this is not going to make the milestone, please remove.

[2018-05-16 21:11] liggitt commented on #61796
are you able to reliably detect whether the invocation is interactive without using the info passed down via the envvar, so you don't block a non-interactive invocation with a prompt?

[2018-05-16 21:27] mtaufen commented on #61649
I think I agree that a discriminated union at the top-most level is the clearest to the user.
We should think about what makes sense for componentconfig APIs that are already beta (or GA), since these can't cleanly move to a top-level union in the same minor version - I'm thinking of just using prefixes here.

[2018-05-16 21:37] filbranden commented on #59524
My suggestion was not about using the directory per-se... But using another piece of information rather than the timestamp to check when a cgroup was destroyed and re-created...

Such as the inode number.

In that case (and assuming it's preserved and not reused right away on re-creation), you could take it from the directory, or still get it from `cgroup.clone_children`, either should probably wo

[2018-05-16 21:50] yujuhong commented on #63897
Since this is based on a kubelet flag, I think it makes sense to let kubelet register the taint itself. Also, there shouldn't be security concern since kubelet would be essentially steering the workload away from itself :-)

[2018-05-16 22:10] ericchiang commented on #61796
One more data point: a Red Hat initiative to integrate the exec plugin with kinit also doesn't use the input struct.

cc @patriot1burke if you want to expand at all

[2018-05-16 22:13] gabrielfsousa commented on #57673
@MaciekPytel

I got the HPA to work, on all my 3 masters

added on apiServerCertSANs all my master and my vip ( only had 10.7.101.241 )
[code]

or is working because the metrics-server pod is running on my master0
master0 was the first to be created.
[code]

 _**kubectl top nodes**_ only woirks on master0 is where  metrics-server pod is running

[2018-05-16 22:34] #57263 closed

[2018-05-16 22:35] freehan opened #63948 "Make service-node-port-range configurable in kube-up"
https://github.com/kubernetes/kubernetes/blob/release-1.9/cmd/kube-apiserver/app/options/options.go#L187

The `service-node-port-range` is currently not configurable by bootstrap parameters. Would be useful to expose a knob for that.

/kind feature
/kind sig-network

[2018-05-16 22:35] cblecker commented on #49239
@kow3ns is this still an issue? I believe it is.
/remove-lifecycle rotten

[2018-05-16 22:39] patriot1burke commented on #61796
"kcinit" not "kinit"...Maybe its a bad name :) ??!

https://github.com/keycloak/kcinit

[2018-05-16 22:59] patriot1burke commented on #61796
@ericchiang @awly @liggitt  We don't use input struct right now only because we don't support non-interactive mode.  Like Jordan, I also am wondering how interactive mode can be detected without the input struct.

I'm kind of unfamiliar with your doc structure.  Here's the

[2018-05-16 23:00] patriot1burke commented on #61796
Latest docs on this stuff?  Only link I have is:

https://github.com/kubernetes/website/pull/7648/files?short_path=8198851#diff-81988518a0a2049d5e8b98d3a542e98b

[2018-05-16 23:01] mikedanese commented on #63897
This could also be solved by registering a node initializer managed by nodelifecyclecontroller.

@liggitt

[2018-05-16 23:05] mikedanese commented on #63732
@kelseyhightower

[2018-05-16 23:43] ieugen opened #63951 "High system load (0.4+) when idle in brand new kubeadm cluster - kubernetes 1.10.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

I installed a brand new, single node cluster on a new VM (hetzner).
I followed the guide from official k8s page using kubeadm.

[code]

[1] https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#instructions

**What you expected to happen**:

System load when idle should be minimal. CPU should be normal when

[2018-05-16 23:52] ieugen commented on #63951
kube-controller-manager uses ~ 20-30% CPU
kubelet, kube-apiserver ~ 8-10% each

[2018-05-17 00:00] tallclair commented on #63726
@kksriram I was thinking more about the general case, where an application needs the ability to connect to an arbitrary set of servers on the public internet. It may be the case that this is actually a relatively small use case, in which case the discussion of cluster-level config maps & automounting doesn't make sense. Perhaps we don't need to make any changes, and just promote ca-certs through n

[2018-05-17 00:04] grayluck commented on #63754
Not quite familiar with ingress but see if I can help.

[2018-05-17 00:07] Random-Liu commented on #36666
Discussion for long term solution: https://github.com/kubernetes/kubernetes/issues/62747

[2018-05-17 00:08] scniro commented on #41711
How is this seriously closed? This is a **deal breaker**. Welp, back to docker compose...

[2018-05-17 00:14] ieugen commented on #63951
I've also tried 1.10.1 and 1.10.2 and 1.9.7 and 1.9.0 and the results are the same. Strange. I'm beginning to think it is not related to k8s.

[2018-05-17 00:15] grayluck commented on #63754
Ivan, to better help you, could you tell me what version of kubernetes you use for the cluster? How did you create the cluster?

[2018-05-17 00:46] vishh opened #63954 "Node Failures handling via the Job API"
As a consumer of the Jobs API, I'd like to set up my job such that it is not restarted on code (application running inside a container) failure, but is restarted on node (or infrastructure) failure. That seems to be not possible today where the best I can do as a user is set the backoff policy to be `1` which would mean my buggy job would be run twice at minimum. This is not ideal whenever the job

[2018-05-17 00:54] mrded commented on #61277
Downgrading `docker-ce` to `17.x.x` version solves the problem.

`sudo aptitude install docker-ce=17.12.1~ce-0~raspbian`

[2018-05-17 00:55] ieugen commented on #63951
/sig cluster-lifecycle

[2018-05-17 02:43] HcgRandon commented on #45363
@tpounds I am very interested in more details. With how dns is now I simply can't run my application in k8s. Which is a real bummer. You solution might be just what I need

[2018-05-17 03:12] lavalamp commented on #63687
/sig node

That's a question for either the container runtime or kubelet.

On Wed, May 16, 2018 at 5:03 PM Mike Saelim <notifications@github.com>
wrote:

[2018-05-17 03:25] hzxuzhonghu commented on #59775
/assign

[2018-05-17 03:25] hzxuzhonghu commented on #59775
I can help remove `WithUID`

[2018-05-17 03:37] lavalamp commented on #59775
Is this the thing we added to help auth code know the UID before the object
has been created? If so I think it's still needed.

@deads2k

On Thu, May 17, 2018 at 3:26 AM Zhonghu Xu <notifications@github.com> wrote:

[2018-05-17 03:47] liggitt commented on #59775
Added in https://github.com/kubernetes/kubernetes/pull/25307 with reference to quota. Not used anywhere I know of.

[2018-05-17 03:51] liggitt commented on #59775
I think the split of the validation phase of admission to run after uid has been allocated obviates the need for this

[2018-05-17 03:54] hzxuzhonghu commented on #59775
As create handler [admission code](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/create.go#L105) shows, it does not modify ctx.

So below comment is not accurate. https://github.com/kubernetes/kubernetes/blob/d4eaf0b6801900d2b2f80036e267a1d3d86fd3a8/staging/src/k8s.io/apiserver/pkg/registry/rest/meta.go#L28-L30

[2018-05-17 05:41] #57299 closed

[2018-05-17 06:05] k82cn commented on #63768
@AishSundar , just check the log/code; #62704 is helpful. Did not found other issues right now, and the test is green now.

I'd like to close this one for now; if red again, please feel free to re-open it :)

[2018-05-17 06:05] #63768 closed

[2018-05-17 06:06] hzxuzhonghu commented on #63935
@msenmurugan  https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#container-v1-core

[2018-05-17 06:29] occia opened #63958 "What's the correct way to extend my crd & its controller without multiversion"
I'm developing on k8s v1.9.2. I've implemented a crd(let's call it A) and write a controller on it. The controller create deployments, services according to A's some fields. But I get stuck when I try to figure out the controller's future upgrade scheme.

I know in 1.9.2, crd can't have multiple versions, and assuming A's definition likes the following:

    type A struct {

	    metav1.TypeMeta

[2018-05-17 06:49] pho-enix opened #63959 "Support EIP Allocations with AWS NLB"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig aws

**Anything else we need to know?**:

AWS NLBs support static IP addresses by associating an EIP per AZ. An already allocated EIP can be supplied with the [subnetMapping](https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_SubnetMapping.html).

A user can then supply EIP allocation IDs in the service definiti

[2018-05-17 06:58] supereagle commented on #40224
**Meet the same problem：**
[code]

[code]

**root cause：**
[code]

**Solution：**

Set `.spec.paused` as false.

`.spec.paused` is an optional boolean field for pausing and resuming a Deployment. It defaults to false (a Deployment is not paused).

xref: http://kubernetes.kansea.com/docs/user-guide/deployments/#paused

[2018-05-17 07:05] rijuchatterjee commented on #39144
My service is running on port 32xxx. I need to change the port number and make the service run at port 30000. How can I do this?

[2018-05-17 07:08] pavel-mikhalchuk commented on #61470
Actually I have two more nodes tainted as **node-role.kubernetes.io/prod:NoSchedule** but kube-proxy was running there. That is why 4 was a desired number. I have tainted those nodes after kube-proxy was scheduled there.

https://github.com/kubernetes/kubernetes/commit/bb28449e31ee17cd183b1606fef3f3e3aa40de58#diff-e3ad35b550d4fcbf99d00903a91c787e - now kube-proxy tolerates all kind of tainted node

[2018-05-17 07:08] #61470 closed

[2018-05-17 07:30] feiskyer commented on #62047
#62266 added log and fs stats, but no network stats yet.

@PatrickLang  Do you know any way to collect container's network stats?

[2018-05-17 07:35] brancz commented on #56985
/reopen

I think this is still relevant.

[2018-05-17 08:07] andyzhangx commented on #59755
@codefetcher you could use `volume.beta.kubernetes.io/mount-options` in v1.7.x and `volume.beta.kubernetes.io/mount-options` is only supported in PV, which means it only supports static provisioning(use exisiting file share)

Below is an example:
[code]

[2018-05-17 08:15] peterver commented on #54707
Ubuntu runs dnsmasq internally as well, meaning that there are no upstream nameservers to inherit by kube-dns.

You can set some upstream nameservers in kube-dns by adding a configmap :

[code]

[2018-05-17 08:29] sttts commented on #56985
/reopen
/remove-lifecycle rotten

[2018-05-17 08:42] joanfont commented on #45976
I have a similar problem. My application throws an exception for not being able to resolve database (Amazon RDS) host. Analyzing the DNS traffic produced at the time the exception is thrown, I can see that the previous DNS query resolves correctly to the RDS host (internal IP) but the following queries do not resolve correctly.

First they should try to resolve the hostname, and then, if this quer

[2018-05-17 08:58] IanMoroney commented on #63727
This affects us also and starts to get worse when you leverage additional tools on top of kubectl such as the  `az aks browse` functionality in the Azure Kubernetes Service CLI.
Being able to adjust the TCP settings would be very useful.

[2018-05-17 09:08] shubheksha commented on #63958
/kind support

[2018-05-17 09:08] #63209 closed

[2018-05-17 09:09] shubheksha commented on #63916
/kind support

[2018-05-17 09:14] ApsOps commented on #45976
@joanfont you can set a lower `ndots` value to get the desired behavior.

[2018-05-17 09:26] zoidbergwill commented on #32749
@krmayankk what would the benefits be over running coredns per node, since it seems like it replaces both the dns-masq and kube-dns containers?

[2018-05-17 09:45] hugochinchilla commented on #45976
Hello @ApsOps I'm a coworker of @joanfont what you mention is true but it should not be neccessary to change it, there is indeed a problem with how kubernetes is handling the DNS resolution. In the attached pcap file you can see how for the same DNS name kubernetes some times makes the correct query and other times it decides to use search domains:

[2018-05-17 09:46] hugochinchilla commented on #45976
Hello @ApsOps I'm a coworker of @joanfont what you mention is true but it should not be neccessary to change it, there is indeed a problem with how kubernetes is handling the DNS resolution. In the attached pcap file you can see how for the same DNS name kubernetes some times makes the correct query and other times it decides to use search domains

[2018-05-17 09:47] mcluseau commented on #63858
@dims I can already tell that it probably won't solve the problem (with containerd at least):

[code]

[2018-05-17 09:49] hugochinchilla commented on #45976
Hello @ApsOps I'm a coworker of @joanfont what you mention is true but it should not be neccessary to change it, there is indeed a problem with how kubernetes is handling the DNS resolution. In the attached pcap file you can see how for the same DNS name kubernetes some times makes the correct query and other times it decides to use search domains

In the pcap you can see the following with more d

[2018-05-17 09:55] hugochinchilla commented on #45976
Sorry for the noise, I sent the comment a few times by accident while editting it.

[2018-05-17 10:04] ApsOps commented on #45976
@hugochinchilla search domains are not added by dnsmasq, they are present in the `/etc/resolv.conf` of your pods and are added even before the query reaches dnsmasq. It generally depends on the base OS of your containers, if it decides to use search paths before or after making the "as is" query.

There have been long discussions about the default value of 5 for ndots, how it benefits in cross-nam

[2018-05-17 10:11] jsafrane opened #63965 "CSI plugin should support SELinux"
**What happened**:
SELinux prevents a pod to access a volume mounted by [Cinder CSI driver](https://github.com/kubernetes/cloud-provider-openstack/tree/master/pkg/csi/cinder).

It's because CSI volume plugin reports that the volume does not support SELinux: https://github.com/kubernetes/kubernetes/blob/a481f4bbe828d7fdec95782c02df3743c1020820/pkg/volume/csi/csi_mounter.go#L254-L259

Kubernetes/Doc

[2018-05-17 10:16] mypine commented on #55713
we encounter the same problem on 1.6.3

[2018-05-17 10:18] stp-ip commented on #32749
@krmayankk
Running a DNS cache such as dns-masq per node is still possible with the switch to CoreDNS. It's still answering DNS queries with the usual methods aka UDP/TCP on port 53.
The difference is just the implementation. Moving the cache into the DNS server and having the implementation much more maintainable and ready for further iterations.

@zoidbergwill
On the CoreDNS per node side it cou

[2018-05-17 10:37] Fedosin commented on #61796
@ericchiang

I like your style :)

Actually everything works as expected for OpenStack! So I am inclined to promote the feature to beta.

[2018-05-17 10:44] akshaymankar commented on #17626
We noticed that if you tag the security group of the workers with either `KubernetesCluster` or `kubernetes.io/cluster/<cluster_name>`, the controller manager is able to delete the security group rule and the security group successfully.

@justinsb can you point out where the fix should be applied, so we can send a PR for this?

[2018-05-17 11:12] dnascimento commented on #52419
@PatrickLang  May you confirm if this issue is fixed in Windows 1803?

[2018-05-17 11:16] simplytunde commented on #63954
can you give a further clarification on what you mean by "code failure"?

[2018-05-17 11:19] haad commented on #40244
/remove-lifecycle stale

[2018-05-17 11:50] patriot1burke commented on #61796
One concern/thought I had was how is this exec mode better than doing:
$ alias kubectl='kubectl --token=$(mytokengenscript)'

Isn't that simpler to set up than exec mode?

[2018-05-17 11:54] primeroz commented on #52398
For future reference ( since this is the only result google gave me about the issue ) in my case the problem was that i was registering my nodes in kubernetes with a Fully qualified Domain name
This breaks this check
https://github.com/kubernetes/kubernetes/blob/v1.9.7/pkg/controller/route/route_controller.go#L208

Since on the google side the "route targetName" is the shortname of the instance.

[2018-05-17 11:59] Fedosin commented on #61796
@patriot1burke As far as I understand, tokens will not be cached in this case, since we do not know their expiration date.

[2018-05-17 12:03] ieugen commented on #63951
I left the system idle for ~ 38 minutes and this the graph:

![after_running_38_min](https://user-images.githubusercontent.com/1050920/40176236-621996a8-59e3-11e8-8cfa-b174ffd11d95.png)

[2018-05-17 12:35] pmichali commented on #63922
I have a lead on what is failing here, just need to understand what causes it and why, so that a fix can be crafted.

On one run, I found that kube-dns was stuck in a crash loop. Checking, I found that pings were failing. In particular, checking from the bridge for the pod network, I was seeing the ping request going to the kube-dns pod, and a response returned by the pod. This response, on the mi

[2018-05-17 12:39] Fedosin commented on #61796
@patriot1burke I mean that if you explicitly specify a token as 'kubectl --token=some_token' then the plugin will immediately send a request without caching the token: https://github.com/kubernetes/client-go/blob/master/plugin/pkg/client/auth/exec/exec.go#L169

But if we use 'exec' mode then the token will be cached and the expiration date will also be stored.

[2018-05-17 12:50] deads2k commented on #59775
It was for quota.  To my knowledge we never used it.

[2018-05-17 12:58] plkokanov commented on #48968
@msau42 we saw it after the pod was restarted. The reason for the restart was most likely an unsuccessful liveliness probe. I'll make sure to post the exact reason as soon as I manage to reproduce it.
@jingxu97 can't get the controller-manager logs from when the issue happened. I'll see if I can do anything about that.

[2018-05-17 13:08] loburm commented on #55621
/remove-lifecycle stale
/assign @loburm

[2018-05-17 13:08] andyzhangx commented on #52419
@dnascimento @PatrickLang @mfaizanse @taylorb-microsoft @CindyXing
After trying with latest  windows image `Datacenter-Core-1803-with-Containers-smalldisk` deployed by latest acs-engine, I could confirm that this issue has been fixed.

Thanks all guys for the reporting & fixing work, finally we made it!

[code]

[2018-05-17 13:12] dannyk81 commented on #45363
@tpounds hoping for more details on this as it sounds very interesting.

I assume that dnsmasq in each pod has the kube-dns service defined as a server? and `--cluster_dns` in kubelet is set to `127.0.0.1`?

[2018-05-17 13:13] liggitt commented on #61796
that puts credentials in the process invocation, which isn't desired

[2018-05-17 13:18] loburm commented on #60392
/milestone v1.11
/priority important-soon

[2018-05-17 13:26] loburm commented on #60392
@timstclair @sttts
Considering that Mik doesn't work on it anymore, should we open a new issue for tracking work that is left?

[2018-05-17 13:28] dims commented on #63858
@mcluseau given what you are seeing `defaultMaxMessageSize = 1024 * 1024 * 16` won't help but `defaultMaxMessageSize = 1024 * 1024 * 1024` will help. right? (note that default in grpc is `defaultMaxMessageSize = 1024 * 1024 * 4`

[2018-05-17 13:29] Typositoire commented on #40244
+1 indeed!

[2018-05-17 13:33] cocotton commented on #40244
+1

[2018-05-17 13:42] astefanutti commented on #61168
I looks like a duplicate of #56297 that has PR #62544 pending validation.

[2018-05-17 13:42] feiskyer commented on #52419
Cool 👍Is there any docker version requirements for the fix?

[2018-05-17 13:42] patriot1burke commented on #61796
@Fedosin

Our plugin is actually not specific to Kubernetes and is a generic utility for obtaining tokens using openid-connect (OAuth) and our IDP.  We cache tokens locally and manage expiration and refresh within the tool itself.   We actually store refresh tokens locally along with the access token as well as any other metadata that was returned by OAuth.  I would think that any OAuth authN inte

[2018-05-17 13:47] avanier commented on #40244
+1 all the things! But this one more than others.

[2018-05-17 13:49] #57085 closed

[2018-05-17 13:49] #57323 closed

[2018-05-17 13:49] #56194 closed

[2018-05-17 13:49] #39699 closed

[2018-05-17 13:56] james-masson commented on #60789
projections, as in how I expect it to be used?

First - As an old-school UNIX and Networks guy, my expectation is that every IP with something useful on it has a valid forward and reverse DNS entry! Sadly, not everyone cares these days ;-) However, lots of software is built with this mindset, and breaks when run on platforms that don't provide it.

My use case here is with Apache Airflow workers.

[2018-05-17 13:57] soltysh commented on #52577
/remove-lifecycle stale
/lifecycle frozen

[2018-05-17 14:03] gpjt commented on #58016
Co-worker of @hjwp here -- just a note to say that after we upgraded from 1.9.2 to 1.10.0, things got much better.   Deployments now take about five minutes to start instead of several hours, so while it's still not perfect, it's at least usable.   This issue can be closed.

[2018-05-17 14:04] psingh-qualys-integrations opened #63970 "Authentication in URL(Client Config) for Admission Controller Webhook"
**Is this a BUG REPORT or FEATURE REQUEST?**: This is a feature request
 /kind feature

**What happened**: I tried to deploy an Admission controller webhook by taking a reference from https://github.com/kelseyhightower/denyenv-validating-admission-webhook
I would want to know if there is any authentication parameters available to be added in the URL
Example:

[code]

I want key or username and pas

[2018-05-17 14:05] #63970 closed

[2018-05-17 14:31] tpounds commented on #45363
Here is more or less a high-level breakdown of how we are doing it today.

1. Build a custom stage1 `dnsmasq` container. We are using the latest v2.79 release and build it using `i386/alpine:3.7` image. It's built as a 32-bit binary to reduce the memory footprint.

Built with the following command.

[code]

Started with the following entrypoint command.

[code]

Note, a sizeable cache is enabled h

[2018-05-17 15:01] zjj2wry commented on #62687
It looks like the container is up and you can check its log

[2018-05-17 15:19] shyamjvs commented on #63493
I was proposing that we add the summary metric alongside - I remember doing sth similar in the past with apiserver metrics.
IIRC we noted in that discussion that summary metric is low on server-side cost compared to histograms when computing quantiles.
I'm also in favour of getting rid of the histogram ones - unless we have a good reason to keep them?

cc @kubernetes/sig-scheduling-misc @bsalamat

[2018-05-17 15:25] loburm commented on #60392
@timstclair @sttts @soltysh
I would like to discuss possible blockers of graduating API to stable. Below inserting the list of tasks from Mik, but with recent updates:

## API-related changes

- [ ] Graduate API to stable
- [ ] Integration with admission
  - [x] [Add RBAC information to audit logs](https://github.com/kubernetes/kubernetes/pull/58807) by @CaoShuFeng
  - [ ] [Add PodSecurityPolicy a

[2018-05-17 15:45] akochnev commented on #63825
@david-jarman  - I tried reproducing this issue with newer k8s bits (specifically, v1.10.0), and I am unable to reproduce the issue that you're seeing. Following the repro steps, I do get a value in the MY_POD_IP env variable:
[code]
This is a vagrant cluster created using https://github.com/bsteciuk/k8s-ovn-windows-cluster and configured with ovn-k8s CNI plugin as the network provider. There migh

[2018-05-17 16:06] shubheksha commented on #63944
I'll take this up!

[2018-05-17 16:15] aszecowka opened #63981 "ResourceQouta takes into account removed pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I create a namespace and define ResourceQouta for this namespace. Then I repeat:
- create pod which requests less memory than defined in ResourceQouta for that namespace
- delete this pod

Finally, I was unable to create the pod, because the quota was exceeded.

**What you expected to happen**:
I am able to create the pod

[2018-05-17 16:18] Joeskyyy opened #63982 "kubectl apply keeps old container in spec on occasion"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
We've occasionally seen kubernetes keep the container from deployment from the previous revision along with an applied revision.

For example, given the following revision history:

[code]

Revision 28 was applied with the following manifest (some things have been obfuscated just for CYA sake):

[code]

But the resulting d

[2018-05-17 16:19] aszecowka commented on #63981
@kubernetes/sig-api-machinery-bugs

[2018-05-17 16:30] dims commented on #63982
/sig node

[2018-05-17 16:43] gabrielfsousa commented on #57673
@MaciekPytel ,

@zioproto told me that should be the same front-proxy-ca.crt on all kube-apiserver pods

on https://kubernetes.io/docs/setup/independent/high-availability/

i used option 2. ( only specifies 4 files )

will i need the all front-proxy files and sa. ?

[code]

[2018-05-17 16:46] jingxu97 commented on #58016
@gpjt thanks for the update. Close it the issue.

[2018-05-17 16:46] #58016 closed

[2018-05-17 16:56] johnpm12 opened #63983 "Kubeadm init followed by containers disappearing due to apiserver failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Kubectl get pods --all-namespaces fails with "The connection to the server X.X.X.X:6443 was refused-did you specify the right host or port?"
"docker ps" command initially shows all the container daemons(etcd, apiserver, scheduler,controller,..) after few seconds everything disappears. Unable to create flannel pod networks

[2018-05-17 16:58] johnpm12 commented on #63983
@k8s-sig-onprem-bugs

[2018-05-17 16:59] dashpole commented on #31362
Everything I had planned to work on for this has been completed.
To address the initial points, we have long had per-container inode metrics and inode eviction, we have on-demand node-level and allocatable-level metrics, a decent integration with memory cgroup notifications, and do not perform additional evictions until all artifacts of the previous evicted pod, including volumes and containers, h

[2018-05-17 16:59] #31362 closed

[2018-05-17 17:07] baelish opened #63985 "Using ipvs and hostNetwork=True causes pods not able to communicate with service addresses"
/kind bug
/sig Network
@kubernetes/sig-Network-bugs

**What happened**:
kube2iam pods on our 1.10.1 cluster failed to communicate with kube-api-server on service ip 100.64.0.1
[code]
**What you expected to happen**:
kube2iam pods being able to communicate with kube-api-server

**How to reproduce it (as minimally and precisely as possible)**:
On an IPVS enabled cluster run a pod with hostNetwork=tr

[2018-05-17 17:13] cgthayer opened #63986 "Missing nodes in output of "kubectl top nodes""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

kubectl top nodes didn't report one of my nodes. I have a cluster of 8 and only 7 printed.

<pre>
:::: fang 10:04:02 (cgthayer-pchat) 0 platform; kubectl top nodes
NAME                                                  CPU(cores)   CPU%      MEMORY(bytes)   MEMORY%
gke-charles-test-cluster-default-pool-be943055-jkrj   311

[2018-05-17 17:14] w-leads opened #63987 "Use Virtual Machine UUID as node name in vSphere Cloud Proider"
Currently nodemanager.go receives v1.Node when node is added to cluster and keeps it until the node is removed. However by reporting vm.UUID as node name instead of host name nodemanager wouldn't have to store that information and code would be much simpler.

/kind enhancement
/sig vmware
#63413

[2018-05-17 17:16] XtinaJ commented on #63983
+1 same issue here apiserver logs show timeout error and` dial tcp 10.0.0.190:6443: getsockopt: connection refused`
Tried with Docker versions 1.12 also. Still facing the same issue..

[2018-05-17 17:19] cgthayer commented on #63986
@kubernetes/sig-cli
/sig cli

[2018-05-17 17:30] pmichali commented on #63922
It looks like these IPTables rules are for the DNS port (53), and are related to the service. Likely a side effect of the kube-dns pod being restarted by kubelet and not a cause of the connectivity problem.

So far, the one known fact is that, when we see the kube-dns resets, we cannot ping the kubedns pod from the master node. I see ping packets get to the pod, and I see a ping response on the po

[2018-05-17 18:19] IvanBiv commented on #63754
@grayluck
Now I trying to deploy with `kubespray`. May be it will be better )
Early I deployed Kubernetes with articles:
https://habrahabr.ru/post/348688/
 https://habrahabr.ru/company/southbridge/blog/334846/

[2018-05-17 18:53] divyenpatel commented on #62817
@kubernetes/vmware

[2018-05-17 19:02] johscheuer opened #63994 "Azure internal Load Balancer reserves same IP multiple times"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

We'v seen that when we are creating services with the annotation `service.beta.kubernetes.io/azure-load-balancer-internal: "true"` the same IP address get's sometimes assigned multiple times to different services. Here is an example:

[code]
Here are 3 different services that have the same external-ip. If we use `curl` to

[2018-05-17 19:45] mcluseau commented on #63858
@dims yes it would work but it's 1GB so we are in a runaway situation here; have 1GB today and you'll need 2GB tomorrow. 16MB is definitely an improvement and your change to 16MB is LGTM (thanks!), but the root problem still remains. The 2 solutions I can imagine are (1) an API change to include paging (or streaming), or (2) make the kubelet ensure there's less than a total number of containers (r

[2018-05-17 19:48] f0 commented on #49065
same with 1.10.2 on Container Linux on vmware

[2018-05-17 19:52] baldeynz commented on #56703
I'm also seeing this in 1.9.7. Can we please backport this to 1.9.x?

[2018-05-17 19:54] mcluseau commented on #63858
Just discovered the way of the stream seems to be the target: https://github.com/containerd/containerd/pull/2347

[2018-05-17 20:00] grayluck commented on #63754
Good. Please let me know if that doesn't work out, either.

[2018-05-17 20:10] IvanBiv commented on #63754
@grayluck ok

[2018-05-17 20:12] jennybuckley commented on #63941
@roycaihw

[2018-05-17 20:12] nckturner commented on #61796
@liggitt I'm not sure that we can reliably detect it, the AWS sdk will probably try to prompt regardless if the session is interactive or not if it detects that the role it is trying to assume requires MFA.  I haven't tested this though.  Sounds like there could be some improvement there.

[2018-05-17 20:13] jennybuckley commented on #63981
@yliaog @derekwaynecarr

[2018-05-17 20:26] yastij commented on #63994
cc @feiskyer

[2018-05-17 20:35] ericchiang commented on #61796
@nckturner the exec'd command should be able to detect if it's part of an interactive session with a TTY check. Stdin is connected directly to the spawned process. See https://gist.github.com/ericchiang/4f8a99e7ad072f932a40d45ad499c347

If no one is using the input, maybe we should drop it for beta then re-introduce it as needs come up?

[2018-05-17 20:39] hfingler commented on #56693
Same issue on a VBox single node.

[2018-05-17 20:41] malbanesi-vm-sf commented on #42649
Thank you @lpreson for the reference to

I could get a cronjob stuck for the last 15 days running again by making the cron schedule *more* restrictive: running once every day. So instead of 100 missed start times there were just 15.

[2018-05-17 20:56] #15925 closed

[2018-05-17 20:56] #13311 closed

[2018-05-17 20:56] #28642 closed

[2018-05-17 21:00] mikedanese commented on #63732
If we need the pod name encoded in the certificate and not just the serviceaccount the pod, it would be useful to figure out how to encode ExtraInfo generally. Converter is here: https://github.com/kubernetes/kubernetes/blob/64bb688ecec332ee4e1ecdad1f3582fb61f82bae/staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go#L185

[2018-05-17 21:04] tnozicka commented on #63166
My env contains no variable with that content. It's in the range of docker network.

[code]

Still broken with current master.

[2018-05-17 21:57] #25049 closed

[2018-05-17 21:57] valdemarpavesi opened #64002 "delete namespace stuck on Terminating status"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

 /kind bug

**What happened**: delete namespace stuck on status Terminating

**What you expected to happen**: delete namespace

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
@kubernetes/sig-API Machinery-bugs

[root@node1 tmp]# kubectl get namespace
NAME           STATUS        AGE
de

[2018-05-17 22:08] valdemarpavesi commented on #64002
[root@node1 tmp]# kubectl delete namespace rook  --grace-period=0 --force
warning: Immediate deletion does not wait for confirmation that the running resource has been terminated. The resource may continue to run on the cluster indefinitely.
Error from server (Conflict): Operation cannot be fulfilled on namespaces "rook": The system is ensuring all content is removed from this namespace.  Upon com

[2018-05-17 22:12] senorequeso commented on #49926
Similar story.`m5.large` and `m5.xlarge` did not work on `us-east-2a`. `t2.large` worked perfectly though and my stateful set was able to be made.

Kubernetes version: `1.8.7`

[2018-05-17 22:50] msau42 commented on #49926
@gnufied @jsafrane seems like an aws ebs issue

[2018-05-17 22:50] msau42 commented on #49926
@kubernetes/sig-storage-bugs

[2018-05-17 22:51] ravisantoshgudimetla commented on #57471
@bsalamat I think #57963 and #63724 are remaining PRs for moving to beta.

Are the following items needed now:

- Add support for multi-scheduler preemption to default scheduler (this is targeted for 1.11).
- Ensure that cluster setup tools start scheduler as a part of cluster bring-up. This is needed for scheduling DaemonSet Pods.
-  Enable priority and preemption in our existing scalability test

[2018-05-17 22:58] #57283 closed

[2018-05-17 22:58] #28118 closed

[2018-05-17 22:58] #32634 closed

[2018-05-17 22:58] #20950 closed

[2018-05-17 22:58] #24361 closed

[2018-05-17 22:58] #57083 closed

[2018-05-17 23:56] figo opened #64003 "adds support for hierarchical fs namespace for probe based kubelet plugin discovery"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
as a probe based kubelet plugin discovery mechanism been introduced at
https://github.com/kubernetes/kubernetes/pull/63328 , the initial implementation
support flat plugin socket directory, this is assuming all socket file names are unique.

as number of plugin grows in the future, it is harder to coordinate socket nam

[2018-05-17 23:59] #57162 closed

[2018-05-18 01:00] erikh commented on #49065
This is a pretty trivial patch for those of you who still need kubeadm (I don't personally). See the three comments I have made over the last year, it's a very simple solution.

[2018-05-18 01:44] huzhengchuan commented on #55045
it is nice to hava a flag in the statefulset to configure it. I think it is meaning.

[2018-05-18 02:01] k82cn commented on #63897
Opened #63955 for this.

I'm also thinking to replace condition with taint, so enhance kubelet directly for this issue :).

[2018-05-18 02:05] k82cn commented on #63842
how much improvement do we expect to get?

[2018-05-18 02:43] lubinsz commented on #63838
@derekwaynecarr
Can you help it?

[2018-05-18 02:45] weiwarren opened #64007 "Create configmap from a URL causes error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I run the following command from the terminal
[code]
I receive

**How to reproduce it (as minimally and precisely as possible)**:
1. minikube start
2. kubectl create configmap game-config-3 --from-file=game-special-key=https://k8s.io/docs/tasks/configure-pod-container/configmap/kubectl/game.properties

**What you expected to ha

[2018-05-18 02:46] hzxuzhonghu commented on #63981
Tried on master.  Could not reproduce.

[2018-05-18 03:33] ash2k opened #64010 "Add a linter to catch json-iterator.Register*() usage"
jsoniter.Register*() functions are not safe to use (see https://github.com/json-iterator/go/issues/265 and https://github.com/kubernetes/kubernetes/pull/63668/files#r189109649). This issue is to add a linter that prevents their use in Kubernetes codebase, **including all the vendored libraries**.

[2018-05-18 03:43] yangwenmai commented on #33777
Notice that `es-master.yaml` and `es-client.yaml`, you can change `replicas: 3` to `replicas: 1`.

[2018-05-18 04:03] #57166 closed

[2018-05-18 04:04] dElogics commented on #45419
This's a completely different case. Here you know the reason why the node is flapping.

[2018-05-18 04:06] xiaoxubeii commented on #64007
/api-machinery

[2018-05-18 04:07] xiaoxubeii commented on #64007
/sig api-machinery

[2018-05-18 05:28] chlyyy commented on #58217
+1

[2018-05-18 05:32] feiskyer commented on #63994
@johscheuer Thanks for reporting the issue. Could you share the logs of kube-controller-manager? e.g. by running `kubectl -n kube-system logs <kube-controller-manager-pod-name>`

[2018-05-18 05:47] christianhuening opened #64011 "Wrong unit in ressource memory request crashes node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A node running K8s 1.10.2 gets a pod scheduled with the memory request set to `256m`. So the wrong unit is used:
[code]
This results in an off Memory Request setting on the overall node (node has 192GB memory):
[code]

Result is that the node stops working. I cannot even SSH into it anymore.

The user used an old kubectl

[2018-05-18 05:48] christianhuening commented on #64011
/sig cli
/sig scheduling

[2018-05-18 06:26] andyzhangx commented on #52419
@feiskyer built-in docker version works:
[code]

I will close this issue, just let me know if you have any question, thanks.
/close

[2018-05-18 06:26] #52419 closed

[2018-05-18 06:37] michmike commented on #52419
excellent work everyone at Msft!

[2018-05-18 06:57] shubheksha commented on #64002
/sig api-machinery

[2018-05-18 06:59] shubheksha commented on #63983
/sig onprem

[2018-05-18 07:29] aszecowka commented on #63981
@hzxuzhonghu I can confirm that this problem does NOT exist on brand new minikube. My problem occurs on minikube where some additional components were installed. I will try to find which component influence behavior of ResourceQuota. Sorry for the confusion.

[2018-05-18 07:38] discostur commented on #32326
@hanikesn any news on this?

[2018-05-18 07:44] dixudx commented on #64011
/assign

[2018-05-18 07:50] k82cn commented on #63766
We have have `Type` and `Reason`; what we need to do is to retrieve pod and node info :)

[2018-05-18 08:00] hchenxa opened #64014 "kubelet can not connect to apiserver when the number of nodes increase to 1500"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
find below messages when the number of nodes increase 1500:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
increase the number of work nodes to 1500+

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cl

[2018-05-18 08:01] hchenxa commented on #64014
/sig Scalability

[2018-05-18 08:09] hchenxa commented on #64014
and there have too many request send to apiserver:
[code]

[2018-05-18 08:16] gyliu513 commented on #64014
@hchenxa  Can you add parameter to control the number of the requests? This is recommended by Kubernetes 1.9 and should also applied to 1.10 https://github.com/kubernetes/sig-release/blob/master/releases/release-1.9/scalability_validation_report.md

[code]

[2018-05-18 08:47] #59552 closed

[2018-05-18 08:52] hzxuzhonghu commented on #63981
So could close this issue?

[2018-05-18 08:54] #63981 closed

[2018-05-18 08:55] dixudx commented on #64007
This is not a bug, since kubectl never supports creating configmaps using urls.

This is an error on doc, which was introduced by a wrong change. Already filed kubernetes/website#8611 to address this.

@weiwarren That doc is misleading. You should try to specify a file path/directory when creating configmap using `--from-file`.

[2018-05-18 08:58] vikaschoudhary16 commented on #64003
/cc

[2018-05-18 09:26] stewart-yu commented on #64014
/cc

[2018-05-18 09:26] randomvariable opened #64018 "debian: kubernetes-cni.deb does not create required directories"
/kind bug

**What happened**:

If you start with a minimal Debian image and attempt to install kubernetes-cni.deb as an artifact
from a Bazel build, it will fail with:

[code]

This has been a known issue in the past, and there are workarounds for CI in place, but it's
still unexpected behaviour (https://github.com/kubernetes/kubernetes/issues/59762#issuecomment-366400634)

**What you expected to

[2018-05-18 09:37] tnozicka commented on #63166
@sttts any idea who owns this? saw you contributing there

[2018-05-18 10:10] luxas commented on #49065
@erikh @seh Please open a clean issue in kubernetes/kubeadm and describe exactly what needs to be changed, and we can try to get it prioritized for v1.11 stable then. Also, contributions are welcome :wink:

[2018-05-18 10:13] embano1 opened #64021 "vSphere Cloud Provider should support implement Zones() interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig vmware

**What happened**:
Currently, the vSphere Cloud Provider (VCP) does not implement discovering Zones/Failure Domains based on well-known labels out of the box. To quote the docs:

The consequences for users are:

- Nodes (Kubelets) not correctly being distributed on the vSphere cluster (risk of cascading failure)
- Manual con

[2018-05-18 10:25] shyamjvs opened #64022 "Increase in 'list nodes' latency on large cluster"
We started seeing this in our 5k-node density test. This is **not** causing SLO violations or failures in the test - so it's not a release-blocking issue. But we should still take a look into it.

![list-nodes](https://user-images.githubusercontent.com/4333971/40229856-d0c6d7fc-5a95-11e8-9c48-3b54e80374c9.png)

Also, there's some increase we saw in the no. of list nodes calls around the same time

[2018-05-18 10:25] sttts commented on #63166
`172.17.0.1:latest` looks like an odd image.

[2018-05-18 10:34] svenbs opened #64023 "StatefulSet with long name can not create pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Creating a StatefulSet with a name containing 57 characters resulted could not start any pods as kubernetes added the label "controller-revision-hash" to the pod which apparently contains the StatefulSet name and a hash appended.
The label is not truncated to 63 characters, therefore the creation of the pod fails with th

[2018-05-18 10:59] dims commented on #64014
right. the `--max-requests-inflight` seems to be set to 400 by default and the `max-mutating-requests-inflight` is 200

https://cs.k8s.io/?q=%22max-requests-inflight%22%7CMaxRequestsInFlight&i=nope&files=&repos=kubernetes
https://cs.k8s.io/?q=%22max-mutating-requests-inflight%22%7CMaxMutatingRequestsInFlight&i=nope&files=&repos=kubernetes

[2018-05-18 10:59] wojtek-t commented on #64022
I already debugged this issue.

With https://github.com/kubernetes/test-infra/pull/7824, we enabled running heapster and metric server in our scalability tests (for 2k and 5k node clusters).

After that change, the number of "LIST nodes" calls increased.
I looked deeper into the metrics and basically:
- up until run 142, there were 0 calls coming from pod-nanny
- from run 145, there is a number (i

[2018-05-18 11:01] wojtek-t commented on #64022
Longer term: https://github.com/kubernetes/community/pull/2090 should significantly help.

Shorter-term, the only solutions that I see is:
- increasing the limit for pod-nanny
- or somehow autoscale it based on cluster size (so basically nanny-for-nanny concept)

[2018-05-18 11:03] shyamjvs commented on #64022
cc @kubernetes/sig-instrumentation-bugs @piosz

[2018-05-18 11:08] shyamjvs commented on #64022
Thanks for digging up @wojtek-t.

Btw - why do you call the 'setting proper resource limits for heapster' part short-term? Shouldn't we be doing that anyway or you mean it won't be needed once we have cheaper heartbeats?

[2018-05-18 11:12] george-angel commented on #35054
/remove-lifecycle stale

[2018-05-18 12:04] johscheuer commented on #63994
@feiskyer I could send you the logs of the controller manager privately (or send you an link to Google Drive or something else).

[2018-05-18 12:07] hobbit1983 commented on #23130
Still a problem on 1.10.2 and Mac OS 10.13.4 adding a line in etc hosts fixes it but is a pain

[2018-05-18 12:28] Freeaqingme opened #64025 "Docs: 404 link in docs/tasks/configure-pod-container/configure-pod-configmap/"
Page: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/

Contains this command:
[code]

However, executing that command results in:
[code]

[2018-05-18 12:32] jsafrane commented on #63965
/assign

[2018-05-18 12:33] Freeaqingme commented on #64025
cc @kubernetes/sig-docs-bugs

[2018-05-18 12:39] shubheksha commented on #64025
Kubernetes docs live in a separate repo. Can you please file this [there](https://github.com/kubernetes/website/issues/new)? Thanks!

[2018-05-18 12:41] pmichali commented on #63922
Found that, if kube-dns is running on the master node (of a three node cluster), instead of a minion, then there are no restarts seen during E2E test runs. Trying to understand what causes the communication break between kube-dns pod on minion and master node, during the E2E tests.

[2018-05-18 12:52] jeroenjacobs1205 opened #64027 ""kubectl top" no longer works when --read-only-port=0 is set on kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After setting --read-only-port=0 on all kubelets in my cluster, "kubectl top" no longer works:

[code]

`kubectl top pods --all-namespaces
                                                                                           `
(no output is displayed)

**What you expected to happen**:

I expected the output as befor

[2018-05-18 12:58] jeroenjacobs1205 commented on #64027
/sig node

[2018-05-18 12:59] gyliu513 commented on #64014
So I think we can close this one as the parameter of `max-requests-inflight` and `max-mutating-requests-inflight` needs to be updated based on cluster size, comments? @hchenxa

[2018-05-18 13:07] jfgadoury commented on #57897
We have been fighting with this problem over the last 3 weeks. We noticed the problem as some services would stop responding for a while and suddenly restart after 10/15 minutes. During the service outage, running a kubectl describe service <service> would return no endpoints.

We are running the following versions:
`Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitComm

[2018-05-18 13:10] rkamudhan commented on #63048
@vikaschoudhary16 Can we have a discussion on this in the upcoming resource management WG ?

[2018-05-18 13:12] #57397 closed

[2018-05-18 13:38] dixudx commented on #64025
Dup of #64007.

I've filed kubernetes/website#8611 to address this.

This is a doc error, not a bug.

[2018-05-18 13:38] jfgadoury commented on #57897
Since we have the situation occurring at the moment a little more information.

[code]

[code]

[code]

Funny thing while writing this the service has now come backup:

[code]

[code]

[code]

At the moment the endpoints reappeared, this popped into the logs:

[code]

[2018-05-18 13:44] jfgadoury commented on #57897
Within the logs we also notice some services that have been deleted for several days that the service_controller and endpoint_controller seem to be obsessing over although they don't exist anymore. Once such service is prod/private-vehicle-inventory-core-ingress-nginx.

[code]

It seems that all services for which we have this problem all generate this message occurring in the logs:

[code]

[2018-05-18 13:47] anuraaga commented on #62099
Hello - I totally agree with config maps being readonly. But it was extremely surprising for this to happen within a minor version upgrade (1.9.x release). Currently we use GKE with automatic upgrades since these sort of minor version upgrades seemed safe, but this time the upgrade broke an old version of the grafana helm chart we were using - and indeed going from rw to ro is a breaking change IM

[2018-05-18 13:53] hoegaarden commented on #64021
As briefly discussed via slack you want to avoid communication to the vSphere API while the kubelet is bootstrapping; thus the metadata service and or other options. I wonder if there is some work going regarding that metadata service or other options for the kubelet to the get some data from the ESXi host or other parts of the system. If so, could you share some links to PRs, branches or that lik

[2018-05-18 14:00] hchenxa commented on #64014
thanks @dims @gyliu513 , so do we have some guild line to config this parameters based on the cluster size?

[2018-05-18 14:05] shyamjvs opened #64030 "Start collecting etcd metrics in our performance tests"
This is a discussion that came up few times already in the past. It'll be really helpful to have those in light of recent regressions we'd seen due to etcd changes, like:

- https://github.com/kubernetes/kubernetes/issues/60589#issuecomment-371171837
- https://github.com/kubernetes/kubernetes/issues/62064#issuecomment-384355538
- Also to help with https://github.com/kubernetes/kubernetes/issues/63

[2018-05-18 14:05] shyamjvs commented on #64030
/assign @krzysied
Who seemed interested in taking this up.

[2018-05-18 14:13] #57398 closed

[2018-05-18 14:16] liggitt commented on #63427
still seeing this:

panic: runtime error: invalid memory address or nil pointer dereference [recovered]
	panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x20 pc=0x1103224]

goroutine 47096 [running]:
k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/util/runtime.HandleCrash(0x0, 0x0, 0x0)
	/go/src/k8s.io/kubernetes/_outpu

[2018-05-18 14:16] gyliu513 commented on #64014
Good question, I do not know if we have such configuration guide.

@dims any info for this?

[2018-05-18 14:17] dims commented on #64014
I am not aware of anything either except for the validation report ..

[2018-05-18 14:17] liggitt commented on #63427
@kubernetes/sig-scheduling-test-failures is the failing code live in master or feature gated? is this a release blocker?

[2018-05-18 14:19] msau42 commented on #56163
/remove-lifecycle stale

[2018-05-18 14:20] msau42 commented on #60002
/remove-lifecycle stale

[2018-05-18 14:36] enchantner opened #64033 "FlexVolume doesn't see plugins, including built-ins."
**BUG REPORT**:
/kind bug

**What happened**: I'm trying to use FlexVolume + LVM plugin to attach these volumes dynamically to the container (inspired by https://github.com/kubernetes/examples/blob/master/staging/volumes/flexvolume/nginx.yaml ). The example config looks like this:

[code]

I also tried different third party plugins (they are all put into `/usr/libexec/kubernetes/kubelet-plugins/vo

[2018-05-18 14:38] enchantner commented on #64033
sig/node
sig/storage
sig/flexvolume

[2018-05-18 14:39] enchantner commented on #64033
/sig node
/sig storage
/sig flexvolume

[2018-05-18 14:39] gyliu513 commented on #64014
@hchenxa we need some input from your test cluster ;-)

[2018-05-18 14:40] Freeaqingme commented on #64025
Thanks for the replies. I couldn't find a separate documentation repo, and given that this project also contains a 'docs 'directory I figured this was the place to be.  Guess I was wrong :)

=> Closed

[2018-05-18 14:40] #64025 closed

[2018-05-18 14:56] Woile commented on #60884
Having same issue on raspbian stretch

[2018-05-18 15:06] liwenwu-amazon opened #64036 "5 out of 500 nodes are not able to join master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:
When I scale worker nodes to 500, only 495 joins.  And AWS console shows all 500 worker nodes are in running state.
[code]
**What you expected to happen**:
all 500 worker nodes should join.

**How to reproduce it (as minimally and precisely as possible)**:
It happens once when I ran following test 3 or 4 times.

[2018-05-18 15:34] ravisantoshgudimetla commented on #63427
- The failing code is live in master(https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler/util.go#L157), where as the equivalence cache is still in alpha.
- While the issue is something needs to be fixed in ecache code which @resouer is working on, this shouldn't be be blocking 1.11 release as we are still planning to graduate ecache to beta and that has not yet happened

[2018-05-18 15:35] soltysh opened #64037 "Job controller can have active > 0 when completed"
In some (not yet fully) unknown situation the job controller might complete the job when still having active pods. The scenario we've seen:

1. `.spec.parallelism` and `.spec.completions`: 1
2. one pod completes (`.status.succeeded`: 1) and job sets a condition marking the job as completed, but still there's one active pod (`.status.active`: 1), but the pod itself is gone by that time.

Why?

I'll

[2018-05-18 15:52] vikaschoudhary16 commented on #63048
Good idea. Will add to the agenda.

On Fri, May 18, 2018 at 6:42 PM, Kuralamudhan Ramakrishnan <
notifications@github.com> wrote:

[2018-05-18 15:58] akochnev commented on #63825
@david-jarman  - just a quick follow up on this . Some further investigation showed that in server 2016, although the env variable will get populated, you will likely not get the actual IP address that you want, largely because of issues with the k8s CNI setup on windows (@alinbalutoiu has more details on this front, there might be another issue created to follow up on this with a fix) .

I have y

[2018-05-18 16:09] liwenwu-amazon commented on #64036
node_lifecycle_controller.go seems not consider the eventual consistency nature of AWS ec2 control plane and delete node too aggressive in this scenario.

[2018-05-18 16:12] pmichali commented on #63922
I may have found a solution for the problem... I changed the MTU on the management/pod interfaces, and in the CNI config to 9000 (and set the ToR interfaces to 9216). With that, I have been able run the E2E tests twice w/o kube-dns restarting (nor transient test failures). I'm going to run the tests a few more times to see if this is consistent.

Guessing that the packets are large, and the retran

[2018-05-18 16:12] saad-ali commented on #63156
I ran the test `[sig-storage] Subpath [Volume type: gcePDPVC] should support existing single file` test back to back in a loop for 18 hours without failure.

@msau42 suggests the flake may repro if we run multiple volume tests in parallel. Will try that when I have some time.

[2018-05-18 16:23] rofc opened #64042 "Kubectl issue with Kubernetes >= v1.10.0-beta.1"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

/kind bug

**What happened**: Describe clusterrolle output error message..
[code]

**What you expected to happen**: Describe clusterrolle output with information like...
[code]

**How to reproduce it (as minimally and precisely as possible)**: Download **kubectl-1.10.0-beta.1** version and try a _describe clusterrole_

**Anything else we need to k

[2018-05-18 16:27] msau42 commented on #60015
/remove-lifecycle stale

[2018-05-18 16:27] rofc commented on #64042
/sig cli

[2018-05-18 16:28] jberkus commented on #64030
Other metrics I'd like to track:

* wal_fsync_duration_seconds: if at some scalability level disk contention is a factor, it would be nice to see it in the graphs.
* proposals_committed_total: we really need a count of the number of writes being done to Etcd.
* proposals_pending: we also want to see if etcd requests start queueing up.

I don't see any etcd metric for average size of a change.  I t

[2018-05-18 16:30] jberkus commented on #64030
Ah, here we go:

* client_grpc_sent_bytes_total
* client_grpc_received_bytes_total

Those give us request size information.

[2018-05-18 17:10] msau42 opened #64045 "Env var expansion guidelines"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-node-feature-requests

**What happened**:
Before moving https://github.com/kubernetes/features/issues/559 to beta, we should have some further discussions about env expansion in general.  Specifically:
* Are there better ways to implement this?  Right now, each case of env expansion is handled independently at different points, and reva

[2018-05-18 17:10] msau42 commented on #64045
cc @kevtaylor

[2018-05-18 17:20] Hades32 commented on #35054
The much greater problem to me is that even with -v=99 I can see next to nothing what is kubectl really doing. Is the request using a proxy? is the "forbidden" an http response or not... and so on...

[2018-05-18 17:34] cblecker commented on #63166
Try setting `KUBE_VERBOSE` to 9, and rerunning. That should dump more logs.

I the script locally at head, and it's working fine. So it's either an bug specific to something in your environment, or something broken in your local environment.

[2018-05-18 17:39] vishh commented on #63954
@simplytunde clarified my original issue comment.

[2018-05-18 17:42] msau42 opened #64047 "Flaky test: [sig-storage] Volume plugin streaming [Slow] GlusterFS should write files of various sizes, verify size, validate content"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
[Test grid](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-slow&include-filter-by-regex=%5EOverall%24%7C%5C%5Bsig%5C-storage%5C%5D%5C%20Volume%5C%20plugin%5C%20streaming%5C%20%5C%5BSlow%5C%5D%5C%20GlusterFS%5C%20should%5C%20write%5C%20files%5C%20of%5C%20various%5C%20sizes%5C%2C%5C%2

[2018-05-18 17:42] msau42 commented on #64047
cc @jeffvance would you be able to take a look?

[2018-05-18 17:58] silveryfu commented on #63842
In terms of (performance) improvement, there are two pertinent questions here:

1. Scheduling overhead, _i.e._, how long it takes to schedule a pod, with vs. without image_locality;

2. How much performance improvement does image_locality enable (e.g., pod startup latency).

For 1., the patched implementation of image_locality, when enabled, is shown to have similar if not the same scheduling late

[2018-05-18 18:16] verult commented on #59047
Yes, thanks John!

/close

[2018-05-18 18:16] #59047 closed

[2018-05-18 18:17] codependent commented on #52783
@camflan I am struggling with the same problem. Would you be so kind of giving more details about how to solve it?

I am also using Flannel, setting --pod-network-cidr=10.244.0.0/16 on the master node with kuberadm init and initializing the network with kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/v0.10.0/Documentation/kube-flannel.yml

The whole description of my problem is h

[2018-05-18 18:25] christianhuening commented on #64011
@dixudx oh thanks, it indeed is the same issue.
closing in favor of the other issues

[2018-05-18 18:25] #64011 closed

[2018-05-18 18:31] dougm commented on #64021
@embano1 sounds good on the first pass, need to think through it some more, but a few notes for now:

We need Go bindings for the tagging API.  There have been several requests to add support in govmomi and govc: https://github.com/vmware/govmomi/issues/957

As for metadata, there are at least two ways for vCenter and guests to share data without a network connection: "guestinfo" and "namespaceDB"

[2018-05-18 18:41] post2jain commented on #48219
I encountered this issue on kube cluster running 1.9.3. After editing /etc/kubernetes/manifests/kube-apiserver.yaml with nano i was able to make updates to config file ( did not work after modifying file with vi)

[2018-05-18 18:43] janetkuo commented on #62382
@soltysh
I filed #63990 (with #63650 and a test for backoffLimit). The test exposes some other problems:

1. Job never retries ([log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63990/pull-kubernetes-e2e-gce/36171/)): the code uses `NumRequeues` to see the number of retries. However, the job can failed to be synced just because of a update conflict (`the object has bee

[2018-05-18 19:44] ahmetb commented on #15128
Consider moving this to kubernetes/website repo. Maybe someone there will be interested in contributing a documentation. 2+ years later docs on this topic and `kubectl get --field-selector` are still lacking.

[2018-05-18 20:14] misterikkit commented on #63427
Equivalence cache implementation is behind a feature gate, and still alpha.

[2018-05-18 20:19] #56289 closed

[2018-05-18 20:19] Stono opened #64052 "ReplicaSet left over after deployment updated"
Hello,
K8S 1.9.7 on GKE

Today we've upgraded one of our deployments, this update did a few things (can be seen from diffs of the attached pod yaml files) but at a high level, it:

  - Updated some labels
  - Removed istio-sidecar container #2 from the pod
  - Removed the init container

After the deployment was rolled out, and the pods were healthy, the old ReplicaSet was never scaled down and we

[2018-05-18 20:30] loburm opened #64053 "Improve audit logging flags"
Right now we have two backends in audit logging and for configuring each one we are using the same set of flags with different prefixes. And it becomes more difficult to handle it.

We should come up with better way of configuring audit logging parameters to avoid duplicates.

[2018-05-18 20:30] loburm commented on #64053
/sig auth

[2018-05-18 20:38] nckturner commented on #61796
Thanks @ericchiang, I'll try that.

[2018-05-18 20:40] rmorrise opened #64054 "kubectl panic with wrong arguments to 'kubectl run'"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]

**What you expected to happen**:
If the syntax of my command is invalid, it should tell me what I did wrong. In this case, I think the command has too many arguments?

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl run -it bar --image=busybox env`

**Anything else we need to know?**:

*

[2018-05-18 20:43] awly commented on #61796
FYI, there's also a more official https://godoc.org/golang.org/x/crypto/ssh/terminal#IsTerminal

[2018-05-18 21:09] PatrickLang commented on #52419
w00t!

Tested with Kubernetes v1.10.1, Windows Server version 1803 (build 17134.1)

[code]

[code]

[2018-05-18 21:15] PatrickLang commented on #56005
Flexvolume driver for SMB here: https://github.com/Microsoft/K8s-Storage-Plugins

[2018-05-18 21:16] PatrickLang commented on #57548
Flexvolume plugin for iSCSI here: https://github.com/Microsoft/K8s-Storage-Plugins

[2018-05-18 21:16] PatrickLang commented on #57548
@andyzhangx - should we close since https://github.com/Microsoft/K8s-Storage-Plugins is available?

[2018-05-18 21:19] PatrickLang commented on #62047
@madhanrm ^^ do you know how to get container network stats?

[2018-05-18 22:15] roycaihw commented on #63714
The qps bump for GC was reverted in https://github.com/kubernetes/kubernetes/pull/63657, so the GC may feel starved of qps.

But from the logs https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63692/pull-kubernetes-e2e-gce/34847/ and https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63890/pull-kubernetes-e2e-gce/35779/, GC hangs while syncing

[code]

[2018-05-18 22:16] ieugen commented on #63951
I've kept the system running for a few days and I've checked the logs.
It seems that etcd container has a lot of block io compared to my other clusters that work ok.

I don't know yet what is causing this high traffic or if it really relevant

docker stats reports this:

[code]

docker info
[code]

[2018-05-18 22:19] roycaihw commented on #63941
From the log https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63928/pull-kubernetes-e2e-gce/35785#sig-api-machinery-garbage-collector-should-support-cascading-deletion-of-custom-resources, GC hangs while syncing

[code]

This seems to be a dup of https://github.com/kubernetes/kubernetes/issues/63714#issuecomment-390346754

Root cause at https://github.com/kubernetes/kuberne

[2018-05-18 22:27] thereverendtom opened #64056 "CronJob successfulJobsHistoryLimit and failedJobsHistoryLimit not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig apps

**What happened**:
I have created a CronJob and specified failedJobsHistoryLimit: 1 and successfulJobsHistoryLimit: 3. (I realize these are the defaults, but I've tried explicitly setting them as part of my debugging.) None of the old Jobs and Pods are deleted, however, so the number of Jobs and Pods in my cluster keeps increasing.

[2018-05-18 22:43] ieugen commented on #63951
As requested on etcd slack chanel for k8s, here are the metrics:

[k8s-metrics.txt](https://github.com/kubernetes/kubernetes/files/2018811/k8s-metrics.txt)

[2018-05-18 23:18] thereverendtom commented on #64056
I think this may be due to the fluentd sidecar container. The primary container is stopping, but the fluentd sidecar continues running, since the container does not terminate on its own. I assume the Job is only considered complete when both containers in the pod terminate? Is there a way to specify a primary container?

[2018-05-19 00:01] andyzhangx commented on #57548
/close

[2018-05-19 00:01] #57548 closed

[2018-05-19 00:37] liggitt commented on #64042
Describe requests additional information about the resource. It does so using the RBAC/v1 API. That is only available in kubernetes 1.8+

kubectl supports +/- 1 version from the server, so kubectl 1.7 or 1.8 would correctly describe the resource

/close

[2018-05-19 00:37] #64042 closed

[2018-05-19 01:04] resouer commented on #63784
@godliness I set up two VMs on GCE with different sizes but can not re-produce this issue. Here's my test results:

[code]

The test data shows throughput is doubled when ecache enabled, also, the op time of BenchmarkSchedulingAntiAffinity is decreased (since this predicate is complicated). And for normal BenchmarkScheduling, no notable decrease is observed (I will expect some minor decrease as we

[2018-05-19 01:26] kirgene opened #64062 "Support cluster-autoscaler configuration using kubectl"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature Request
/kind feature

**What happened**:
In GKE there is no way to change cluster-autoscaler settings like `--scale-down-unneeded-time` or `--scale-down-delay-after-delete` as they are command line args of a tool that resides on inaccessible (master) machine.

There is a need to configure cluster-autoscaler using kubectl.

This feature will be

[2018-05-19 02:40] markhilton commented on #23255
The high IO usage due to running "du" happens to my AWS KOPS k8s 1.9 cluster. My deployments are mostly PHP apps, running inside pods with multiple containers (php-fpm & nginx).

Since both containers require access to the application code, I deploy it from a separate app image, which then runs as an init container to copy the app code into an EmptyDir volume.
I take that even on SSD drives this p

[2018-05-19 03:23] jfrz38 opened #64064 "r"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-05-19 03:25] #64064 closed

[2018-05-19 05:58] godliness commented on #63784
**Code base: master branch**
**Commit ID: a481f4bbe828d7fdec95782c02df3743c1020820**

**32 Core cpus**
**64 Gb mem**
**Physical machine**

How to enable and disable the feature?
Change it to control the switch https://github.com/kubernetes/kubernetes/blob/master/test/integration/util/util.go#L98

I also changed this https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_pe

[2018-05-19 06:02] mendoncangelo commented on #61277
Weird but I first downgraded and then upgraded
```sudo apt-get -y --allow-downgrades install kubectl=1.5.3-00 kubelet=1.5.3-00 kubernetes-cni=0.3.0.1-07a8a2-00```

And then uninstalled kubelet, kubeadm and kubectl followed by installation again with 1.10 of Kubernetes and it worked. This is so weird. Etcd was restarting and the api-server was timing out. Now sure what causes this.

[2018-05-19 06:35] #63467 closed

[2018-05-19 09:18] svenbs commented on #64023
@kubernetes/sig-apps-bugs

[2018-05-19 12:05] redbaron commented on #46705
/remove-lifecycle stale

[2018-05-19 12:33] shubheksha commented on #64054
/sig cli

[2018-05-19 12:45] netbidev commented on #61277
@mrded not solved for my rasp pi 3

[2018-05-19 13:49] #62786 closed

[2018-05-19 13:49] #63427 closed

[2018-05-19 14:51] kim0 opened #64067 "GKE preemptible node recreates, causes non-unique pod name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am using GKE 1.9.7. Currently using one or two preemptible nodes for cost saving. My understanding is that the preemptible node is destroyed/recreated roughly every 24 hours. This causes a few minutes of pod disruption but I dont mind. I noticed after the node was recreated, my deployment created a pod having the same n

[2018-05-19 14:52] kim0 commented on #64067
Per twitter yesterday @janetkuo .. Here's the bug report. Thanks

[2018-05-19 16:44] shubheksha commented on #64067
/sig gcp

[2018-05-19 17:47] shyamjvs commented on #56071
/remove-lifecycle stale

On Sat, May 19, 2018, 7:40 PM fejta-bot <notifications@github.com> wrote:

[2018-05-19 19:34] resouer commented on #63784
It's across comparison and this test result has been re-produced on 100, 1k and 3k nodes.

Sorry, I am not quite understand what you are referring to here ... do you mean `LabelCount` of node affinity in test?

Before we can move on, it's important that we have the same baseline in this discussion :-)

[2018-05-19 21:08] sandeeplamb commented on #53117
I had the same issue and I had because /var/log filesystem was 100% used. Once I did housekeeping of /var/log and managed to create some space, my containers started creating.

[2018-05-19 21:49] resouer commented on #63784
If it's the `LabelCount ` case, we should know that equivalence class cache is designed to improve throughput when certain predicates are expensive, for example, if 100 affinity labels are present on a node (it's common in a real world deployment):

[code]
This also applies to machines which are compact (e.g. 8 core VM).

So the lesson is: maybe we can bypass ecache in some edge cases? cc @misteri

[2018-05-19 21:56] snowake4me commented on #61277
I'm having the same problems as articulated above - where the kubeadm init hangs.  I'm working on a raspberry pi 3B - and have tried every variety of mitigation identified above that some claim to have resolved their problem.  I get the same pre-flight warnings others have detailed:

[code]
Being a relative n00b to all this, I'm at a bit of a loss - but looking at /var/log/daemon.log, I see it spe

[2018-05-19 22:45] ash2k commented on #58374
/remove-lifecycle rotten
/lifecycle frozen

Still happens with 1.10 code generator sometimes - very annoying :) On both Linux and Mac. I need to look into this again - I've tried and made some progress but haven't gotten to the bottom of it.

[2018-05-19 22:52] rongou commented on #61277
@snowake4me is 10.10.10.201 the correct IP address for your host?

[2018-05-20 00:58] ravichandra22 opened #64070 "Kubenates RunAsUser is forbidden"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

[code]

ERROR

[code]

Even pod security policy is set to runasuser --> RunAsAny

[code]

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardwar

[2018-05-20 01:56] godliness commented on #63784
@resouer

Really thanks about the professional analysis. This is very useful to me, also learnt some.

Yes it means LabelCount, When i set it as 1, this is an edge case and all the default predicates does not cost time. In our case when use scheduler we only use the default predicates without node affinity feature or with minor LabelCount. So i make this edge test case which i should say it in thi

[2018-05-20 02:08] robrich commented on #59876
+1.  Just hit this issue with a Windows host running a Linux pod on Docker for Windows.  Changing from `path: C:/foo/bar` to `path: /C/foo/bar` solved it.  Sadly, https://kubernetes.io/docs/getting-started-guides/windows/#volumes suggests it could have been `path: "C:\\foo\\bar"` which I found didn't work.  The feature works correctly, but the error message is very misleading.  I'm glad I found th

[2018-05-20 04:30] bgrant0607 commented on #44703
ref #15390

[2018-05-20 05:09] alexander-yu commented on #60601
Given the issue that references this one (where the garbage collector's [Sync](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/garbagecollector/garbagecollector.go#L169) method got stuck), how would we be able to check the status of the GC such as in the case above where Sync getting stuck causes the workers to be indefinitely paused? Should there be some sort of timeout channe

[2018-05-20 06:11] fejta-bot opened #64071 "pr:pull-kubernetes-kubemark-e2e-gce flaked 52 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce
 Flakes in the past week: **52**
 Consistency: **93.70%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Timeout | 40 |
| TearDown | 36 |
| Up | 12 |

#### Previously closed issues for this job flaking:
#62267 #54519

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-05-20 07:54] #57182 closed

[2018-05-20 08:55] #31343 closed

[2018-05-20 10:46] swapnilgm commented on #58931
This issue persist till v.1.10.2, But the issue has been already fixed in master branch because of refactoring in https://github.com/kubernetes/kubernetes/commit/191a48f4c3cddbba5669b2f4412508c581305c38#diff-7650a51eb24776a0115b675dd3842d63. Although because of change in
https://github.com/kubernetes/kubernetes/pull/62584, by default openapi custom columns are not printed in output; one will have

[2018-05-20 10:51] nik786 commented on #53117
core1# cat /etc/systemd/system/weave.service
[Unit]
Description=Weave Network
Documentation=http://docs.weave.works/weave/latest_release/
Requires=docker.service
After=docker.service
[Service]
EnvironmentFile=-/etc/kubernetes/weave
ExecStartPre=/opt/bin/weave launch --no-restart $PEERS
ExecStart=/usr/bin/docker attach weave
ExecStop=/opt/bin/weave stop
[Install]
WantedBy=multi-user.target

cat /et

[2018-05-20 10:55] nik786 commented on #35378
core1# cat /etc/systemd/system/weave.service
[Unit]
Description=Weave Network
Documentation=http://docs.weave.works/weave/latest_release/
Requires=docker.service
After=docker.service
[Service]
EnvironmentFile=-/etc/kubernetes/weave
ExecStartPre=/opt/bin/weave launch --no-restart $PEERS
ExecStart=/usr/bin/docker attach weave
ExecStop=/opt/bin/weave stop
[Install]
WantedBy=multi-user.target

cat /et

[2018-05-20 11:17] prafull01 opened #64073 "Master doesn't comes up in k8s HA environment after restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have setup kubernetes cluster with 3 masters and restarted one master. It doesn't come up in the ready state.

I have been facing issue when I restart a master on multi-master setup, kubeapi-server container doesn't comes up and exited each time.

docker ps -a :

CONTAINER ID        IMAGE                        COMMAND

[2018-05-20 13:09] godliness commented on #63784
Tested in my local mac:

GoVersion: go1.10.2

Cpu: 8 cores

Mem: 16GB

Enable

Node Affinity Label Count = 10
[code]

Node Affinity Label Count = 1

[code]

Disable

Node Affinity Label Count = 10
[code]

Node Affinity Label Count = 1

[code]

[2018-05-20 13:41] toolboc commented on #61277
Hangs @ `[init] This might take a minute or longer if the control plane images have to be pulled.` on Raspberry Pi 3 B with Docker 18.05 and kubeadm=1.10.2-00 kubectl=1.10.2-00 kubelet=1.10.2-00

Fixed by downgrading kubeadm, kubectl, and kubelet to 1.9.6:
`sudo apt-get install -qy kubeadm=1.9.6-00 kubectl=1.9.6-00 kubelet=1.9.6-00`

AND

Downgrading to Docker 18.04:
`sudo aptitude install -qy doc

[2018-05-20 14:16] likunbyl opened #64074 "Etcdctl get a lot of garbage info after upgrade aip-server to use etcdv3 api"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I'm upgrading etcd to v3.0.17 for k8s to use etcdv3 api.

After etcd upgraded and apiserver started without 'storage-backend=etcd2' and 'storage-media-type=application/json' defined, I noticed that 'etcdctl get' can't display some info properly, like this:

[code]

Also, I created a new pod, it was stored in the etcd like this:

[c

[2018-05-20 16:55] AishSundar opened #64075 "Failing test : [sig-instrumentation] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster is failing in sig-release-master-upgrade"
## Failing Job
* [gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)
* [gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)

## Failing Test
[[sig-instrumentation] Monitoring should verify monitoring pods and all cluster nodes are avai

[2018-05-20 18:46] dims commented on #55386
should be fixed in v1.11, there have been several changes in cadvisor including
- limiting the number of concurrent `du`
- running `du` with `ionice`

etc.

[2018-05-20 18:46] dims commented on #55386
/close

[2018-05-20 18:46] #55386 closed

[2018-05-20 18:48] ravisantoshgudimetla commented on #63784
The data I provided is not of benchmark but for scheduler_perf without node affinity(default predicates). So, if this is expected performance degradation as we discussed at https://github.com/kubernetes/kubernetes/issues/63784#issuecomment-39043495, are we ok with that?

[2018-05-20 19:03] ncdc commented on #64074
This appears to be a duplicate of #44670

[2018-05-20 19:38] jmreicha commented on #61277
It turns out that I am still having issues with 1.10.2 clusters.  I left the `--kubernetes-version=1.10.2` flag off and brought up a `1.9.7` cluster and it is working.

[2018-05-20 20:05] shubheksha commented on #64071
/sig testing

[2018-05-20 20:06] #41450 closed

[2018-05-20 20:06] #45037 closed

[2018-05-20 20:53] so0k commented on #44540
in my case it was version mismatch between kubectl client and api server (I had a newer client)

using the correct version of the client solved the error mentioned (for those who got here after searching google for the error message)

[2018-05-20 22:02] clabu commented on #61277
In my case I didn't have any state I needed to keep so I reset my cluster and then downgraded from 1.10.2 to 1.9.7: `sudo apt-get install kubeadm=1.9.7-00 kubectl=1.9.7-00 kubelet=1.9.7-00`

After that I could init the cluster successfully. I'm on a Raspberry Pi 3 with Hypriotos: `Linux pi-1 4.4.50-hypriotos-v7+`

[2018-05-20 23:09] #57285 closed

[2018-05-20 23:29] liggitt commented on #64074
kubernetes writes binary protobuf content into etcd v3, which is not easily human readable like json

that appears to be your terminal's best effort to display string values interspersed with binary blobs

[2018-05-20 23:29] #64074 closed

[2018-05-20 23:30] liggitt commented on #64070
What admission plugins do you have configured in your apiserver?

[2018-05-21 01:47] BrendanThompson commented on #37218
Would love to see some more activity on this. Need to be able to check a few things within a container to ensure that its alive.

[2018-05-21 01:48] ibrasho commented on #46310
@Random-Liu I'd assume switching to the `pkg/ssh` implementation is the best solution here. Otherwise, it would be complicated to implement timeout handling (and killing the remote hung process) using `exec`.

[2018-05-21 02:08] liggitt commented on #64073
That's the fatal error. Where is that certificate created/provided to the server?

[2018-05-21 02:29] k82cn commented on #47184
/close

[2018-05-21 02:29] #47184 closed

[2018-05-21 03:02] ibrasho commented on #64054
Looks like this was a bug in v1.10.0. It should have been solved in v1.10.1+.

Can you test with kubectl v1.10.1 or v1.10.2?

[2018-05-21 03:13] #57105 closed

[2018-05-21 04:46] ryanmcnamara commented on #50110
/remove-lifecycle stale

I do still care about this
@vishh do you know if there is any workaround available for this?

[2018-05-21 04:54] codefetcher commented on #59755
Thanks @andyzhangx 👍

[2018-05-21 04:54] krmayankk commented on #16284
/area dns

[2018-05-21 06:44] ImamHyderAli commented on #63615
You will have to add a line **--horizontal-pod-autoscaler-use-rest-clients=false** in the manifest file: kube-controller-manager.yaml which is located at:  /etc/kubernetes/manifests.

Preview of Edited **kube-controller-manager.yaml** :

![kube-controller-manager yaml](https://user-images.githubusercontent.com/29298783/40293630-7c44d72c-5cef-11e8-9c99-46e03b379b4a.png)

* delete the old hpa

[2018-05-21 07:26] ekapratama93 commented on #47893
/remove-lifecycle rotten

[2018-05-21 07:27] ekapratama93 commented on #47893
/reopen

[2018-05-21 07:28] freedomofkeima opened #64081 "ret"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-05-21 07:28] #64081 closed

[2018-05-21 07:28] freedomofkeima commented on #64081
Sorry, wrongly pressed the button 🙇

[2018-05-21 07:32] ekapratama93 commented on #47893
Get the same error with NodeJS app with express-force-ssl

[2018-05-21 07:47] CaoShuFeng commented on #64053
/cc

[2018-05-21 07:48] CaoShuFeng commented on #64037
/cc

[2018-05-21 08:18] hawaron commented on #62841
This seems to be a problem with busybox in particular. Created an nginx StatefulSet and was able to resolve the other pods.

[2018-05-21 08:30] andyzhangx opened #64082 "Use GPT and volume guid path in windows disk mount and format"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
 - PartitionStyle `GPT` has some advantages over `MBR`, such as globally unique ids, and support for larger than 2TiB partitions.
 - use volume guid paths in windows disk mount which does not limit to 23 additional drives.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2018-05-21 08:44] jiaxuanzhou opened #64083 "Need to validate the value of resources in pod spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
if the value of memory for  one pod is just set to 2, the pod will always stay in state of "containerCreating" as kubelet failed to  create sandbox and keeps creating sandbox.
**What you expected to happen**:
we need validate the value of memory and cpu once creating one new pod object for enhancement.
**How to reproduce it (as mini

[2018-05-21 08:46] hoegaarden commented on #64021
@dougm Are you saying that a metadata-service is not needed, but `guestinfo`/`namespaceDB` should be used instead?

[2018-05-21 08:56] wgliang commented on #64027
@jeroenjacobs1205

it set to 0 to disable

https://github.com/kubernetes/kubernetes/blob/b87105aebde23770cafb6a9c3376f60519b4611f/cmd/kubelet/app/options/options.go#L464

[2018-05-21 08:58] jiaxuanzhou commented on #64083
/area apiserver

[2018-05-21 09:54] wanghaoran1988 commented on #62907
@hchenxa FYI https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/

[2018-05-21 10:12] glindste opened #64088 "Have HPA react to ratio of available/unavailable pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

A sudden increase in load caused all pods for a deployment to decide to fail their readiness checks in order to not get overloaded. This caused the HPA to not being able to collect any metrics because it only considers "ready" pods, so no autoscaling occurred.

**What you expected to happen**:

The HPA should conside

[2018-05-21 10:20] #8520 closed

[2018-05-21 10:39] iocanel opened #64089 "Expose more information about server version."
/kind feature

I would like to be able to determine version/distro related information about the server, without having to make an API call.

** Internally
Internally the information provided by `kubectl version` could exposed as environment variables (e.g. SERVER_GIT_VERSION, SERVER_GIT_COMMIT and son on).

This way code that run inside Kubernetes could easily determine the server version without

[2018-05-21 11:00] jsafrane opened #64090 "e2e.test --help crashes"
/kind bug
**What happened**:

[code]

**Environment**:
- Kubernetes version (use `kubectl version`): today's master

[2018-05-21 11:08] jsafrane commented on #64090
/sig testing
/sig api-machinery

[2018-05-21 11:10] ceshihao commented on #64023
It looks like that StatefulSet and Pod have the same name validation `must be no more than 63 characters`.

StatefulSet passed, but Pod failed.

[2018-05-21 11:29] liggitt commented on #64089
Can you clarify this? In most cases, kubectl is not being run on the server

[2018-05-21 11:32] FilipNikolovski commented on #26050
@thockin can I take a crack at this, if no one is working on it currently?

[2018-05-21 11:39] towolf commented on #53248
/remove-lifecycle stale

[2018-05-21 11:56] pmichali commented on #63922
Did 6 runs of E2E tests (32 tests), and do not see DNS restarts, when the MTU is set to 9000. Monitored packets through a test run and there were about 1.5% of size 4128, 1% of size ~1000, 16% of size ~500, and 69% of packets size 32.

[2018-05-21 11:57] rdzimmer commented on #63615
@ImamHyderAli Thank you for the suggestion.  Unfortunately, have already benn running with the `--horizontal-pod-autoscaler-use-rest-clients=false` flag on my controller-manager.  I'm in the process of getting kubernetes 1.10 today and will let you know if that resolves the issue.
[code]

[2018-05-21 11:59] ingvagabund commented on #61669
@mtaufen is there any KEP or feature issue or document where I can read as much about the effort as possible? Besides https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/ ?

[2018-05-21 11:59] ingvagabund commented on #61669
Is it this https://github.com/kubernetes/features/issues/281 ?

[2018-05-21 12:02] pmichali commented on #63922
Note: if kube-dns is running on the master node, where the tests were invoked from, we would not see any timeouts. When kube-dns is running on a minion, restarts were seen frequently, and sometimes causing test failures (as pod not up).

[2018-05-21 12:17] Woile commented on #61277
I'm also having the same issue on raspbian stretch in a RB+
[code]

[2018-05-21 12:28] shyamjvs commented on #63245
@krzysied Could you please paste the results of your runs with different etcd versions here? I think the 'Top latency metrics' and 'etcd CPU/mem usage' would be useful metrics to have a record of.

[2018-05-21 12:37] liggitt commented on #64073
Per, the error, the apiserver process cannot access that file. Did permissions or anything else about the file or process hange during restart?

[2018-05-21 12:51] jryberg commented on #48767
also with 1.9.3

This is very annoying. It says "certificate-authority-data will override" but it will fail and do nothing, exiting with 0.

It should at least do the override and try to execute

[2018-05-21 12:59] nikhita commented on #49718
Can we close this? GC uses the dynamic client now: https://github.com/kubernetes/kubernetes/pull/63444

[2018-05-21 13:04] vladimirvivien opened #64093 "Block Volume's mapping generator func will not work for CSI internal volume driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Currently, the volume controller's block volume mount generator function makes assumptions how internal volume plugins work and mount block devices.  While these assumptions are OK for most internal volume plugins, they won't work for the CSI, which delegates further to external CSI drivers.

The volume controller mount generator functi

[2018-05-21 13:04] #49718 closed

[2018-05-21 14:05] rmorrise commented on #64054
Verified with 1.10.2. Can the Windows download link on this page be updated to point to the latest fixed version?
https://kubernetes.io/docs/tasks/tools/install-kubectl/

Thanks.

[2018-05-21 14:05] prafull01 commented on #64073
I checked permission before and after restart, it doesn't change

Before restart:
drwxr-xr-x. 4 root root  125 May 21 13:41 ..
-rw-r--r--. 1 root root 1229 May 21 13:41 apiserver.crt

After Restart:
drwxr-xr-x. 4 root root  125 May 21 13:41 ..
-rw-r--r--. 1 root root 1229 May 21 13:41 apiserver.crt

[2018-05-21 14:11] liggitt commented on #64083
duplicate of #54567, #64011

/close

[2018-05-21 14:12] #64083 closed

[2018-05-21 14:13] liggitt commented on #64023
could do something like this to compute pod names for statefulsets with names that are too long:

https://github.com/openshift/origin/blob/master/pkg/api/apihelpers/namer.go#L10-L42

[2018-05-21 14:58] ianlewis commented on #22368
Neither of the above solutions create a new configmap for each change and so won't work with rollbacks. I think that's a blocker for any proper implementation.

[2018-05-21 15:03] ocervell commented on #25238
Seeing the same. Deployment without 'replicas' field goes to 1 (default), and then to 3 when the HPA's --min aligns. What is the recommended work-around here ?

[2018-05-21 15:05] vincbe commented on #50345
@kundralaci it seems to be now possible , look at that : https://github.com/kubernetes/kubernetes/issues/44815#issuecomment-297077509
I've just tested a few minutes ago and seems working great.

[2018-05-21 15:17] alvis commented on #22368
There is no more progress in kubernetes/community#1163 since late 2017 😞

[2018-05-21 15:48] mkimuram opened #64101 "ConstructBlockVolumeSpec() doesn't set proper readOnly flag"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
ConstructBlockVolumeSpec() doesn't set proper readOnly flag, instead it set hard-coded flag in each plugin.

**What you expected to happen**:
ConstructBlockVolumeSpec() sets proper readOnly flag.

**How to reproduce it (as minimally and precisely as possible)**:
Call reconstructVolume() to block volumes with both readOnly

[2018-05-21 16:04] khenidak commented on #63155
@novaterata -- The service DNS label is for IP FE config on nodes LB. Not related to cluster DNS. Even for none `aks` configuration (acs-engine). Can you elaborate?

[2018-05-21 16:10] novaterata commented on #63155
I don't understand that sentence. All I know is that if they match, I get a
working FQDN for my load balancer. If they don't match then I get endless
timeouts

On Mon, May 21, 2018, 12:06 PM Khaled Henidak (Kal) <
notifications@github.com> wrote:

[2018-05-21 16:31] stefanosirplay opened #64103 "envFrom: configMapRef load the enviroment variables only with busybox image"
/kind bug

**What happened**:

envFrom: configMapRef not load the enviroment variables.

this is my deployment yaml:
[code]

when i exec in pod: `sh -c env` not list me the variables from configmap

**What you expected to happen**:
the config map data in enviroment variables.

**How to reproduce it (as minimally and precisely as possible)**:
simple use the yaml attached

**Anything else we need to

[2018-05-21 16:40] lavalamp commented on #60601
Removing help wanted label as this is not a simple fix.

I think a fix for this needs to be built into the workqueue.
* It should export probably several metrics. Time between `Get()` and Done() calls, for example.
* When N `Get()`s have been called and all N have been in operation longer than some threshold, it should be considered blocked and unhealthy.
* We could export a metric that is "what p

[2018-05-21 16:40] MrHohn commented on #56138
/remove-lifecycle stale

[2018-05-21 16:41] lavalamp commented on #60601
Oh I meant to also say:
* if the queue is non-empty but Get() is not getting called, that too should be a metric and eventually a healthz-failing condition.

[2018-05-21 16:45] d-grigorenko commented on #25238
I believe the issue does not exist if you NEVER set replicas for deployment
We use CI/CD to set replicas equal to current replica just before applying a new deployment

[2018-05-21 16:47] stefanosirplay commented on #64103
/sig apps

[2018-05-21 16:47] shyiko commented on #22368
@ianlewis [kubetpl's ConfigMap/Secret freezing](https://github.com/shyiko/kubetpl#configmapsecret-freezing) might be of interest

[2018-05-21 16:48] stefanosirplay commented on #64103
/sig gcp

[2018-05-21 16:56] msau42 commented on #56162
/remove-lifecycle stale

@wackxu do you still plan to work on this?

[2018-05-21 16:58] msau42 commented on #56101
Topology aware dynamic provisioning is being added in #63232

/remove-lifecycle stale

[2018-05-21 17:08] dashpole commented on #61937
@gyliu513 enabling kernel memory accounting in that PR was not intentional.  However, we do try and stay close to upstream runc so we can continue to receive bug-fixes and other improvements.  The original runc bump in cAdvisor, which required me to update runc in kubernetes/kubernetes was [for a bugfix](https://github.com/google/cadvisor/pull/1726).  As pointed out in https://github.com/kubernete

[2018-05-21 17:21] davidz627 commented on #56647
/reopen

[2018-05-21 17:22] juanvallejo opened #64106 "Remove unrelated methods from the factory"
To continue the work from https://github.com/kubernetes/kubernetes/pull/63984 and https://github.com/kubernetes/kubernetes/pull/63884 this issue helps track additional methods from the cmdutil.Factory that should further be removed, or turned into helpers, independent from the factory.

In *pkg/kubectl/cmd/util/factory_client_access.go*

- [x] MapBasedSelectorForObject `turn into helper` https://g

[2018-05-21 17:27] seh commented on #59372
Note, however, then when the _kubelet_ generates the serving certificate when the `--rotate-certificates=true` flag is present, the resulting certificate [lacks the IP address SAN](https://sourcegraph.com/github.com/kubernetes/kubernetes@098996737475235ae6488048797227023e873ef9/-/blob/cmd/kubelet/app/server.go#L762) unless [the hostname happens to parse as an IP address](https://sourcegraph.com/gi

[2018-05-21 18:06] hmarcelodn opened #64108 "High I/O K8S 1.6.13 / Nodes got NotReady State"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Bug

**What happened**:

I have a kubernetes cluster created with acs-engine in Azure and I am getting down my nodes with "NotReady" state so the PODS are Terminating. I notice that this happened when the I/O disk is too high (I only see Read operations 100%) so I cannot even ssh into the VMs.

**What you expected to happen**:

I need to understand ho

[2018-05-21 18:07] cjcullen opened #64109 "APIService should support URL"
/kind feature

The configuration Specs for APIServices and the Admission Webhook Configurations are very similar, but APIServices don't support specifying URL:

[APIServiceSpec](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/types.go#L41):
[code]

[WebhookClientConfig](https://github.com/kubernetes/kubernetes/blob/master/staging/src

[2018-05-21 18:07] liggitt commented on #59583
not seen in triage board at all now

/close

[2018-05-21 18:07] #59583 closed

[2018-05-21 18:08] cjcullen commented on #64109
@mikedanese @lavalamp @cheftako

[2018-05-21 18:10] hmarcelodn commented on #62389
https://github.com/kubernetes/kubernetes/issues/64108 could be related too.

[2018-05-21 18:15] verult commented on #63156
Ran the tests with the following command:
`for i in $(seq 1 500); do GINKGO_PARALLEL=y go run hack/e2e.go -- --test --test_args="--ginkgo.skip=\[Serial\]|\[Disruptive\] --ginkgo.focus=Pod\sDisks|PD --delete-namespace-on-failure=false"; done`

A good number of iterations have failed tests, and all of the failures I've seen so far are from `Subpath [Volume type: gcePDPVC]`.

[2018-05-21 18:17] lavalamp commented on #64109
Also @deads2k.

One technical reason this is harder is that the webhook can have an arbitrary path, but the aggregated apiserver can't really. So if you are operating this as a service, you need some other way of identifying the cluster the request is coming from.

[2018-05-21 18:22] jingxu97 commented on #63156
@verult thanks for the test. Maybe we can try to add some logs into WaitForAttach() function since that's where we suspect to have problems.

[2018-05-21 18:24] BenTheElder opened #64110 "Flaky 1.8 sig-cli conformance test"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: `[sig-cli] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance]` sometimes fails testing on GCE / Kubernetes v1.8

**What you expected to happen**: I would expect this test case to pass consistently, it is the only flaking test case.

**How to reproduce it (as mi

[2018-05-21 18:27] BenTheElder commented on #64110
Actually looking back through the logs more, it's more broadly `kubectl` tests that flake:
 - `[sig-cli] Kubectl client [k8s.io] Kubectl run rc should create an rc from an image [Conformance]`
 - `[sig-cli] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance]`

https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernet

[2018-05-21 18:28] #48520 closed

[2018-05-21 18:34] apelisse commented on #59151
With the existing client-side validation, apply will reject an object that has unknown fields specified. We very deliberately made it that way specifically for the reasons @lavalamp is mentionning: we don't want to silently drop parts of the configuration. Of course that's only true for apply ...

[2018-05-21 18:34] dougm commented on #64021
@hoegaarden yes I think guestinfo/namespaceDB could solve this problem rather than having to define+build a new metadata-service.

[2018-05-21 18:36] derekwaynecarr commented on #51135
@vishh i will guide review for the corresponding implementation PR this week.

[2018-05-21 18:36] msau42 commented on #56180
/remove-lifecycle stale

[2018-05-21 18:37] apelisse commented on #59151
I don't think this is true for `kubectl apply`.

[2018-05-21 18:45] lavalamp commented on #59151
kubectl apply can still have this issue if it reads the discovery doc from a newer apiserver and sends the request to an older apiserver in the middle of an apiserver upgrade.

[2018-05-21 18:55] deads2k commented on #64109
The original pull had only a URL to proxy to, but @lavalamp [requested a service instead](https://github.com/kubernetes/kubernetes/pull/37561#discussion_r90325158) (some sort of analysis thing I think).  I don't think I object to a change, but it's not a priority for me either.

[2018-05-21 18:56] vishh commented on #50110
@ryanmcnamara I do not have cycles to post a patch for it, although I'm happy to review one.

[2018-05-21 18:59] roycaihw commented on #59838
/remove-lifecycle stale

[2018-05-21 19:08] lavalamp commented on #64109
I think past me is right that if you're talking to a service installed in
the cluster, a URL is very lossy, and a service reference gives a lot more
information to anyone trying to do an automated dependency analysis on a
cluster.

I think past me wasn't thinking about the case where you want to run a
multitenant API-as-a-service thingy in some external place. But is there a
reason the workaround

[2018-05-21 19:14] #41748 closed

[2018-05-21 19:36] usernkey commented on #52241
Did anyone find a solution/workaround to fix this?

I'm having some issue with it.

Unable to register node "ip-10-1-17-189.eu-west-2.compute.internal" with API server: nodes "ip-10-1-17-189.eu-west-2.compute.internal" is forbidden: node "ip-10-1-17-189" cannot modify node

[2018-05-21 19:47] #63858 closed

[2018-05-21 20:05] ibadmin909 opened #64117 "Enable support for swapless Kernels"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**: Kubelet fails to start due to missing /proc/swaps file

**What you expected to happen**: The code must check if support for swap is enabled in the Kernel before attempting to open /proc/swaps

**How to reproduce it (as minimally and precisely as possible)**: Remove CONFIG_SWAP or CONFIG_SWAP=n in the Kernel config

**A

[2018-05-21 20:10] thereverendtom commented on #64056
I was able to confirm that the issue was the fluentd sidecar container. By removing that, the old jobs and pods are being deleted as expected. I'll just have to update my primary container to send output to stdout so we can capture the logs.

[2018-05-21 20:10] #64056 closed

[2018-05-21 20:27] mcluseau commented on #63858
@k8s-merge-robot #63894 improves the situation but doesn't completely fix this issue ;-) Should I open another one?

[2018-05-21 20:52] nimbixler opened #64119 "RBD volumes cannot be mapped read only to more than 1 container - not PV related"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created a job with parallelism=2, 1 container in each pod, and a rbd volume attached to the container.  Attachment was read-only.
Only 1 pod got the RBD mounted while the other POD failed with "still in use" in syslog, referencing the code in rbd_util.go that checks watchers.  Note that this is not the same thing as thi

[2018-05-21 20:53] kostyrev commented on #51333
@moserke could you please share commands how to achieve that?

[2018-05-21 20:56] nimbixler commented on #64119
/sig @kubernetes/sig-storage-bugs

[2018-05-21 21:00] adnankobir commented on #56903
In alpine add bind-tools seems to have fixed dns lookups for me:

apk add --no-cache bind-tools

[2018-05-21 21:05] markhilton commented on #61999
I was able to resolve the issue by editing kops cluster.spec with `kops edit cluster [cluster_name]`.
I added following under specs:
[code]
It looks like by default kops configures docker to use overlay as default storage driver, while docker recommends using overlay2 as newer, more stable and faster.

[2018-05-21 21:08] markhilton commented on #23255
I was able to resolve the issue by editing kops cluster.spec with `kops edit cluster [cluster_name]`.
I added following under specs:
[code]
It looks like by default kops configures docker to use overlay as default storage driver, while docker recommends using overlay2 as newer, more stable and faster.

[2018-05-21 21:14] ibrasho commented on #64054
I've submitted a PR to fix this (https://github.com/kubernetes/website/pull/8662)

[2018-05-21 21:17] chrisohaver commented on #63900
I believe the endpoints would not list IPs if the selector did not match the pod labels.   Per my understanding, the fact that the endpoints has ready IPs means the selectors are selecting something.

FYI, The official CoreDNS deployment script is [here](https://github.com/coredns/deployment/tree/master/kubernetes).

@yinwenqin, can you make a DNS query from a pod?  For example by spinning up a cl

[2018-05-21 21:20] ibrasho commented on #64054
You should be able to close this issue. 😁

[2018-05-21 21:22] Quentin-M commented on #56903
@adnankobir Could you describe how does bind-tools help exactly? The package [only include](https://pkgs.alpinelinux.org/contents?branch=edge&name=bind-tools&arch=x86&repo=main) binaries such as dig, nslookup, while the issue is present at the kernel level, triggered by libc's behavior on lookups, itself triggered by applications' code directly. Were those binaries triggering the bug themselves, a

[2018-05-21 21:22] gflarity commented on #57601
I still see this on new clusters. The Default service account gets mounted that user has the keys to the kingdom. See: https://hackernoon.com/capturing-all-the-flags-in-bsidessf-ctf-by-pwning-our-infrastructure-3570b99b4dd0

[2018-05-21 21:30] #43267 closed

[2018-05-21 21:39] tallclair commented on #60392
@loburm I merged your updates into the original issue (I couldn't find a way to grant you edit access). I think we should remove the checklists from your comment to reduce confusion. I'm not sure about the GA graduation, but we should be able to get a lot of the other pieces in on time.

[2018-05-21 21:51] #64054 closed

[2018-05-21 21:57] buddyledungarees opened #64120 "configmap volumeMount read-only file system error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pods are in CrashBackOffLoop after upgrade to v1.8.13 from v1.8.10. Pod event log:
[code]

Related logs from node syslog:
[code]

Deployment yaml:
[code]

**What you expected to happen**:
Be able to launch pod with volumeMount from configMap.

**How to reproduce it (as minimally and precisely as possible)**:
Try to mount

[2018-05-21 21:59] buddyledungarees commented on #64120
@kubernetes/sig-storage-bugs

[2018-05-21 22:04] resouer commented on #63784
Thanks, I think the issue is clear to me. I will propose some change to make ecache perform consistent for both simple or complicated predicates by measure performance before cache in runtime.

[2018-05-21 22:12] rdsubhas commented on #59911
/remove-lifecycle stale

[2018-05-21 22:44] redbaron commented on #47326
/remove-lifecycle stale

[2018-05-21 22:45] abrarshivani commented on #62817
@saad-ali @jingxu97 We are observing issue where attach request is not issued by Kubernetes to vSphere Volume plugin immediately in case of stateful state. Wondering if this is the case with some other volume plugin/cloudprovider?

More detailed anyalsis for this issue is posted [here](https://github.com/vmware/kubernetes/issues/486#issuecomment-390722781) by @ben-schumacher

[2018-05-21 23:18] mtaufen commented on #61669
Historically speaking, sort of, but these days, not really.

There is an ongoing effort to migrate legacy flags to the Kubelet's componentconfig API.
I don't think we have an issue in the features repo tracking this; the closest thing was 281 because the push to get an initial componentconfig API for the Kubelet was a prerequisite to the dynamic config work.

Regarding componentconfig migrations i

[2018-05-21 23:27] pravinsinghal commented on #61100
I am using 1.9.6 and working on a cloud-provider - I am see the same issue - services with clusterIP are getting GetLoadBalancer call

[2018-05-21 23:27] ibadmin909 commented on #64119
/sig @kubernetes/sig-node-feature-requests

[2018-05-21 23:28] ibadmin909 commented on #64117
/sig @kubernetes/sig-node-feature-requests

[2018-05-21 23:32] #57567 closed

[2018-05-21 23:47] MrHohn opened #64124 "Re-add support for the deprecated ESIPP beta annotations for v1.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

**What happened**:
In https://github.com/kubernetes/kubernetes/pull/50224, we removed the support for ESIPP beta annotations in k8s v1.8:
- `service.beta.kubernetes.io/external-traffic`
- `service.beta.kubernetes.io/healthcheck-nodeport`

But turned out that is problematic, because the GA API field was only available since k8s v

[2018-05-22 00:05] #63305 closed

[2018-05-22 00:05] #61643 closed

[2018-05-22 00:39] bsalamat commented on #63842
It looks to me that the priority function is enabled by default. Am I missing something:
https://github.com/kubernetes/kubernetes/blob/2a989c60ff97445d3ca10234a368730f089adac7/pkg/scheduler/algorithmprovider/defaults/defaults.go#L100

[2018-05-22 00:50] glennschmidt commented on #61999
@markhilton I've done this too, and also upgraded to 1.9. I'll just wait and make sure the problem doesn't re-occur for a while, before closing the issue.

[2018-05-22 01:09] janetkuo commented on #57167
I wrote a doc to discuss the intersection of Deployment & mutating admission controllers: https://goo.gl/1JEEhS

[2018-05-22 01:31] silveryfu commented on #63354
@resouer Adding a check (whether there is ":tag" or not) upon updates of ImageSizes in schedulercache seems to be a reasonable fix? The node's reporting the ":latest" tag by default is reasonable.

[2018-05-22 01:38] gyliu513 commented on #61937
Thanks @dashpole , will do some test to disable kernel memory accounting https://github.com/kubernetes/kubernetes/blob/release-1.10/vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go#L87-L89

[2018-05-22 01:38] silveryfu commented on #63842
@bsalamat I think the proposed is to move image locality to defaultPriorities(); whereas currently the policy can be enabled through --policy-configmap or file [#41600](https://github.com/kubernetes/kubernetes/issues/41600), which is arguably more "by default."

[2018-05-22 01:55] k82cn commented on #63842
sorry for the delay :(, just share my two concerns:

1. `image_locality` dependents on several factors that out of k8s control, e.g. network speed, disk I/O, docker image FS, total images in nodes and so on; that makes it hard to evaluate its performance improvement
2. if enabled `image_locality`, we'll also add it to eCache which adding a new checking on images changes

If we enabled this by defa

[2018-05-22 01:59] luckyfengyong commented on #61937
@hqhq I understand we want to leverage the fix of runc from upstream as much as possible. However Kubernetes now does not support limiting the kernel memory yet, so the concern of https://github.com/opencontainers/runc/issues/1347 won't apply to Kuberentes.

This kind of memory leaking is really critical. It is also hard for customer to rebuild the kernel in a large product environment.

It is rea

[2018-05-22 01:59] xrmzju commented on #50835
/reopen

[2018-05-22 02:00] fisherxu commented on #50835
/reopen

[2018-05-22 02:17] gyliu513 commented on #61937
@dashpole more questions want to get your confirm, thanks!

1) Does there are any official way to disable kernel memory accounting? From here https://github.com/kubernetes/kubernetes/blob/release-1.10/vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go#L87-L89 , just checking if the file exist or not, so seems deleting the file can disable kernel memory accounting, but would li

[2018-05-22 03:35] feiskyer commented on #63172
I'm closing this issue since it's been resolved.

/close

[2018-05-22 05:02] #58373 closed

[2018-05-22 05:20] serathius commented on #64075
I think it's related to https://github.com/kubernetes/kubernetes/pull/62328
Influx is no longer deployed by default and now has it's own test suite. I will check if it's possible to move this test to that suite

[2018-05-22 05:39] hppx5456 opened #64131 "configmap with springboot-application.properties"
What happened:
I want to mount the configuration file in the springboot with configmap to achieve the application auto heel when modifying the configmap, but now you don't use the configuration data in the configmap when you start the project

Anything else we need to know?:
this is my deployment.yaml
![image](https://user-images.githubusercontent.com/26714352/40343946-ff8d3928-5dc4-11e8-8b2c-cb04

[2018-05-22 05:40] hchenxa commented on #62907
@wanghaoran1988 , yes, I know that the k8s have gc which can delete the Exited docker container, but I am not sure if the docker container with status `dead` can be deleted or not.

[2018-05-22 05:49] luckyfengyong commented on #61937
@gyliu513 You cannot or won't get chance to manually delete `memory.kmem.limit_in_bytes`. Those files are created automatically and inherited from parents directory when a sub-directory of memory cgroup is created by https://github.com/kubernetes/kubernetes/blob/release-1.10/vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go#L43.

You have to disable it from kernel. It seems n

[2018-05-22 06:07] k82cn commented on #63842
Ops, I'm thinking `But due to scheduler cache is not ready at that time` is referring to eCache :), so just ignore it that.

[2018-05-22 06:13] mbutan commented on #33777
Did anyone resolve this issue?

[2018-05-22 07:09] iam404 opened #64133 "garbage characters (\x00) generating on container logs after logrotate"
We are using logrotate (mumoshu/kube-logrotate) deployed as a daemonsets to rotate all logs inside the directory (/var/lib/docker/containers) . In few cases I could see some garbage logs are being generated after logs are rotated:-

`failed to get parse function: unsupported log format: "\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x0

[2018-05-22 07:10] k82cn commented on #33777
seems a really old issue, any new logs for this issue?

[2018-05-22 07:58] chrissound commented on #33777
This isn't really an 'issue' and I think we should close this question. See here for a further explanation: https://stackoverflow.com/a/45585916/1663462

There main issue is probably that it's not very intuitive why one gets the error message - even though it is the intended and correct behavior.

[2018-05-22 08:07] matteosilv commented on #58693
/remove-lifecycle stale

[2018-05-22 08:10] sttts opened #64136 "Follow-ups for CRD versioning"
Everything that must be done after https://github.com/kubernetes/kubernetes/pull/63830:

- missing tests:
  - [x] a test that actually checked what got persisted in etcd matched the storage version https://github.com/kubernetes/kubernetes/pull/63830/files#r189712166
  - [x] a test that set up a CRD, persisted some data, changed the version, and made sure the previously persisted data could be read

[2018-05-22 08:26] kaspernissen opened #64137 "Kubelet CPU/Memory Usage linearly increases using CronJob"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
For the past couple of months, we have been experiencing issues with kubelet on different nodes starts using more and more CPU and Memory. This happens somewhat randomly, but we think we have tracked it down to an issue with CronJob. This didn't happen before we started using CronJob in the beginning of the year. For the p

[2018-05-22 08:53] andyzhangx commented on #63121
related to https://github.com/moby/moby/issues/37120

[2018-05-22 08:57] yuzhiquan commented on #60279
but how can i to modify cadvisor config, this is an default part for k8s.

[2018-05-22 09:06] gyliu513 opened #64141 "Performance difference between client-go and curl"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

I have three nodes in my cluster, when I use `kubectl get nodes` and `curl` to get nodes, the response time of `kubectl get nodes` is much faster than `curl`, any performance tuning in client-go?

kubectl version
[code]

[code]

Fro

[2018-05-22 09:08] gyliu513 commented on #64141
/sig api-machinery
/sig cli

[2018-05-22 09:27] harryge00 commented on #17512
@shtouff
[code]

[2018-05-22 09:53] jayunit100 opened #64145 "etcd should bootstrap in local-up-cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

local up cluster wants etcd in my path

**What you expected to happen**:

we should just bootstrap it at this point.

**How to reproduce it (as minimally and precisely as possible)**:

run local up cluster, without an etcd binary anywhere in your path.

**Anything else we need to know?**:

**Environment**:

any

[2018-05-22 10:25] stefanosirplay commented on #64131
I think you should check if spring boot takes the configuration from that path. At enviroment levels everything seems to be correct. Take another check on spring boot.

[2018-05-22 11:05] gabrielfsousa commented on #57673
@MaciekPytel

After we update kubernetes we have to copy again the  front-proxy-ca.crt is generated again and we have to copy again

[2018-05-22 11:12] islinwb commented on #64108
/sig node

[2018-05-22 11:56] mfojtik commented on #22368
FYI, I made some PoC controller that will trigger a rollout based on changes in configMap and secret data:

Code: https://github.com/mfojtik/k8s-trigger-controller
Demo: https://youtu.be/SRDsRZwAdlA

[2018-05-22 12:28] wojtek-t opened #64147 "ResourceVersion is not returned from LIST requests with fieldSelector"
Reproduced at head:
[code]

vs

[code]

[The items part is correct, but there is no "resourceVersion" field set.]

@kubernetes/sig-api-machinery-bugs

[2018-05-22 12:31] wojtek-t commented on #64147
To clarify - the problem seems to appear only when there is no such underlying object.

[2018-05-22 12:33] deads2k commented on #64147
watch cache on or off?

[2018-05-22 12:33] rmohr commented on #56567
It is definitely useful whenever you create a CR which represents resources on nodes and is managed there via daemons on these nodes.

When using finalizers only, the difference to pod graceful delete would be that a force delete requires a cluster-component of the extension to be present to "emulate" a pure force-delete by removing the finalizer. So if `gracefulDeletePeriodSeconds` is set to `0`

[2018-05-22 12:34] wojtek-t commented on #64147
This seems to be the problematic line:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L398

[It's possible that something is wrong also in the cacher - so may be more than one bug actually.]

[2018-05-22 12:35] wojtek-t commented on #64147
I think that cacher is actually correct in this case :)

[2018-05-22 12:36] aabed commented on #22368
@ianlewis
Can you please elaborate more, I am really interested in enhancing my implementation

[2018-05-22 12:38] soltysh commented on #60392
Get as much as possible and we can consider graduating in the next release.

[2018-05-22 12:54] soltysh commented on #42649
Since fixing this problem will require API changes I doubt it's doable for 1.11. If I can get a volunteer that is interested in implementing this feature for 1.12 I'd be more than happy to help write and review the code. It should be pretty straight forward.

[2018-05-22 13:00] elouanKeryell-Even commented on #60374
It seems I am encountering a vicious circle:

- `kubeadm init` requires etcd pods to be already running (according to [this comment](https://github.com/kubernetes/kubernetes/issues/60374#issuecomment-368260047))
- etcd pods require kubelet
- kubelet require `kubeadm init`, for certificate creations
  - otherwise, fails with `unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kuber

[2018-05-22 13:03] zegl opened #64148 "AWS Security Group rules are removed when adding/removing worker nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When scaling up or down the amount of worker nodes, all rules in the the security group managed by the controller-manager are removed.

Here are the logs from the controller manager when the problem started: It doesn't contain any errors or warnings.

[code]

I don't know where the number "15" comes from, there's only on

[2018-05-22 13:07] zegl commented on #64148
/sig AWS

[2018-05-22 13:09] wojtek-t commented on #64147
It seems that switching this line:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L398

with:
[code]

solves the problem

[2018-05-22 13:10] wojtek-t commented on #64147
though, it's not safe in general - I will send out a PR for it soon

[2018-05-22 13:13] hoegaarden commented on #64021
@dougm So you think about configuring the region & zone info into e.g. the `guestinfo` of each created VM, so that it can be queried from within the VM via `vmware-rpctool`, right? In other words: each VM would need to be configured with the region/zone individually.

If I understand the initial proposal correctly, @embano1 thought about tagging only the host (and/or the cluster and/or the DC) but

[2018-05-22 13:33] wojtek-t commented on #64147
https://github.com/kubernetes/kubernetes/pull/64150 is out for review

[2018-05-22 13:34] liggitt commented on #60394
TestKMSProvider is no longer flaky, and this job no longer exists

/close

[2018-05-22 13:34] #60394 closed

[2018-05-22 13:39] wehappyfew opened #64151 "ck system logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-05-22 14:01] m3ngyang opened #64152 "how to implement ColumnDefinitions for CustomResource"
I have implemented a crd source, and when I use `kubectl get`, only three columns are printed.
[code]
Printed columns of default Kubernetes types  are managed by xxxColumnDefinitions. I want to add columns to indicate some important indices and how to implement ColumnDefinitions for CRD resource ?

[2018-05-22 14:01] zegl commented on #64148
I enabled verbose logging and reproduced the problem:

[code]

A re-election causes the next kube-controller-manager to re-add the rules:

[code]

[2018-05-22 14:03] zegl commented on #64148
Honest question: We have one "k8s-managed-lb" shared between all worker nodes. Should we have one managed security group rule per instance instead?

[2018-05-22 14:08] george-angel commented on #62538
This fixes the issue: https://github.com/kubernetes/kubernetes/commit/814401fc902a7083bfd9933e245a2be62abfed60

Any chance to include it in the next PATCH release of v1.10 branch? Otherwise we will have to go 1.9.6 > 1.11.X which isn't ideal. Thanks.

[2018-05-22 14:14] liggitt commented on #62538
opened https://github.com/kubernetes/kubernetes/pull/64153

[2018-05-22 14:33] kristofferahl commented on #60843
Just ran into this issue as well... Tried it with kubectl version v1.9.3 and v1.10.3.

[2018-05-22 14:42] juanvallejo commented on #63024
I am also seeing this test flake in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-sig-cli/2489

[2018-05-22 14:47] gmile commented on #9995
Has anything changed regarding the ability to bind service to a privileged port?

Right now we have to work around this weirdly but running up an nginx alongiside kubelet, to forward from port 80 to 32167 (32167 is assigned randomly by NodePort Service).

[2018-05-22 14:58] zegl commented on #64148
/cc @micahhausler

[2018-05-22 14:59] liggitt commented on #63941
I'm not seeing hangs, I'm actually seeing GC sync failures:

`E0519 06:01:37.357139       1 garbagecollector.go:209] failed to sync resource monitors: couldn't look up resource {"webhook-crd-test.k8s.io" "v1" "e2e-test-webhook-1183-crds"}: no matches for {webhook-crd-test.k8s.io v1 e2e-test-webhook-1183-crds}`

that would result in the GC controller pausing until it successfully resyncs, which is

[2018-05-22 15:26] Overv commented on #60987
We are seeing a similar issue with our own custom flexvolume in a Kubernetes 1.8.9 cluster. Is there any way to resolve this without restarting the host until there is an actual solution?

[2018-05-22 15:30] FrederikNS commented on #64148
It seems that this this might have something to do with using "Private Subnets".

I have 2 clusters running the same version, with the same NLB set up. The only difference between the two clusters is that one has all the worker nodes in public subnets and the other has all nodes in private subnets.

Only the private subnet cluster is experiencing this problem.

I can see from the logs, that right

[2018-05-22 15:38] jennybuckley commented on #63941
@liggitt I think you're right, also the PR I made to fix that race condition happened to fail on the same flake so it looks like it definitely isn't the issue.

[2018-05-22 15:47] robdewit commented on #52655
@jfpucheu Did you somehow find the cause of this problem? I seem to have the same issues on bare metal in 1.6.13 - pods get node's /etc/resolv.conf without cluster dns and adjusted search path.

[2018-05-22 15:52] wojtek-t commented on #57354
Apparently node-e2e tests are still running etcd v2 underneath:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/services/apiserver.go#L45

Fixing that should be prioritized.

[2018-05-22 15:57] ttripp commented on #41629
Is anybody able to provide an overall summary of where this has all gone in the last year? Its been about a year with no updates. Thanks!

[2018-05-22 15:59] kfox1111 opened #64157 "csi in pod volume"
/kind feature

**What happened**:
I could not use a csi driver from a pod directly, but have to use a pv.

**What you expected to happen**:
I was expecting to be able to use a csi driver directly in a pod

**Anything else we need to know?**:
The use case I'm trying to implement is: https://github.com/kubernetes-csi/drivers/issues/85

I have the driver working from the csi perspective. But when I w

[2018-05-22 16:00] kfox1111 commented on #64157
@kubernetes/sig-storage-feature-requests

[2018-05-22 16:16] fcribeiro commented on #62026
How did you solve this issue?

[2018-05-22 16:21] dougm commented on #64021
Populating the guestinfo and keeping it in sync is one option.  We can use property collector notifications to sync after a migration for example.  I need to take a closer look at the namespaceDB option, but there is an event queue designed for this type of interaction.  George updated vmware/govmomi#1123 with some of the advantages of namespaceDB over guestinfo.

[2018-05-22 16:29] gjcarneiro commented on #52655
I don't know if this helps but we used to have this problem with some frequency in our (1.6.x) cluster, but once we upgraded all the servers to have SSD disks (at least for the docker/kubernetes filesystems) the problem disappeared.

I reckon this is some sort of race condition, or else a timeout due to slow disk followed by a error recovery code path that is not very well tested.  But it's just s

[2018-05-22 16:34] dashpole commented on #61937
@gyliu513
1. Follow this comment to disable kernel memory accounting by recompiling the kernel: https://github.com/opencontainers/runc/issues/1725#issuecomment-380428228.
2. I did some testing with kernel memory accounting disabled, and found that it made a relatively small impact on the ability of the kubelet to manage memory.  I would recommend increasing --eviction-hard's memory.available param

[2018-05-22 16:36] sttts commented on #56567
Here is a PR for the first option: https://github.com/kubernetes/kubernetes/pull/63915. **It is ugly, our registry code is not made for that.**

With the second option (the one @rmohr implemented in #63162), we get a far simpler implementation that is in-line with the machinery we have. Implementation-wise I prefer that a lot.

@deads2k @lavalamp @cheftako @liggitt please take a look at both appro

[2018-05-22 16:52] swapnilgm commented on #64152
You can use openapi annotations over resource type definition
`+k8s:openapi-gen=x-kubernetes-print-columns:custom-columns=NAMESPACE:.metadata.namespace,NAME:.metadata.name,FIELD1:.spec.field1,STATUS:.status.Phase`
And use openapi code-generator to generate open api specification.

[2018-05-22 16:55] jennybuckley commented on #63941
@liggitt
In the best case, the workers would be immediately paused again when discovery finds new resources on the next time it polls,
In the worst case the resources are exactly the same as the last time it successfully synced so it won't pause the workers again until a new resource handler is registered (which could be never)

[2018-05-22 16:56] filbranden commented on #61937
I think I'm in favor of adding a `--disable-kmem-limit` command-line flag... I guess that means first adding the plumbing through libcontainer to make that possible and then adding the flag to make Kubelet respect that...

Indeed, there's no good way to disable this system-wide except for recompiling the kernel... We've recently gone through the effort of rebuilding our 4.4 kernel systems to disab

[2018-05-22 17:01] pmichali commented on #63208
@grayluck Sorry for the delay. I've been trying to track down another issue with kube-dns restarting. I'll try to check this in the next day or so.

[2018-05-22 17:03] AishSundar commented on #64075
/assign @serathius

[2018-05-22 17:05] AishSundar commented on #64075
@serathius we will be entering Code flush for v1.11 next tuesday. Will it be possible to move this test out by then plz.

[2018-05-22 17:06] t3hmrman commented on #5607
He all, sorry to bump an old thread, but to my knowledge this doesn't actually fix the issue:

I'm trying to run QEMU (I found out that I'm basically walking in the footsteps of [Dalton Hubble from CoreOS](https://gist.github.com/dghubble/c2dc319249b156db06aff1d49c15272e)) and `/dev/kvm` use is looking to be a requirement for me (for both performance and some key QEMU features), but I don't want t

[2018-05-22 17:12] msau42 commented on #63923
The failures manifested as flakes, so I think #64039 needs to merge to fully fix the issue.

[2018-05-22 17:15] AishSundar opened #64158 "Failing Test: [sig-network] Proxy version v1 should proxy to cadvisor using proxy subresource failing in sig-release-master-upgrade suite"
## Failing Job
* [gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)
* [gke-gci-1.10-gci-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel)

##Failing Test
[[sig-network] Proxy version v1 should proxy to cadvisor us

[2018-05-22 17:26] lavalamp commented on #41629
More use of `staging/` in the past year, still no one with all of: ability, social capital, and inclination to actually make the external repos the source of truth and vendor back into the main repo, as was originally intended. At this point, vgo is likely to arrive before we stop using staging/; I made #63607 to discuss how we're going to manage the transition.

[2018-05-22 17:26] MrHohn commented on #64158
Commit diff: https://github.com/kubernetes/kubernetes/compare/af69af2d3335803ceda21e33aac78b62d036062f...9eb0c3566808bb02de5ae6f43fa79da49718c864

Seems https://github.com/kubernetes/kubernetes/pull/63881 disabled the public cadvisor port by default. Guessing that is the cause?
@luxas

[2018-05-22 17:31] AishSundar commented on #64158
@luxas should this failing test also be handled as part of your change?

[2018-05-22 17:39] portante commented on #58638
Adding `PodNamespaceUID` later would be fine.

In theory, there would be one namespace API fetch call per container log file creation, cacheable on the PodUID, as PodUID / PodNamespaceUID is a fixed relationship for all time, right?

[2018-05-22 17:42] luxas commented on #64158
The "fix" here is to just not run this e2e test against a v1.11-upgraded cluster. How do we disable running that against v1.11 infra in the GCE test-infra? cc @krousey

@AishSundar this is not a regression in terms of functionality, it's a test which is running although it shouldn't.

[2018-05-22 17:48] AishSundar commented on #64158
/cc @BenTheElder

[2018-05-22 17:50] msau42 commented on #64120
/assign

This is likely to be introduced by https://github.com/kubernetes/kubernetes/pull/63045

[2018-05-22 18:11] BenTheElder commented on #64158
@luxas which suites run are in the job args, https://github.com/kubernetes/test-infra/blob/038ec489c8dfb0e5c57cfc667a22002cb8c8876f/jobs/config.json#L6214

[2018-05-22 18:22] luckyfengyong commented on #61937
@dashpole Just curious why it is recommended to `increase --eviction-hard's memory.available parameter by 50Mi`. I thought currently kubernetes actually did not allow user to control `kmem-limit` but only `mem-limit`.

[2018-05-22 18:28] BenTheElder opened #64160 "Flaking presubmits: abort in e2e-down.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Some presubmits are flaking, due to abort in e2e-down.sh

[code]

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=core%20dump#b207af75a24889805b20

**What you expected to happen**: I would expect e2e-down.sh to exit cleanly and not cause an otherwise passing 1hr+ test (kubemark) to fail repeatedl

[2018-05-22 18:29] BenTheElder commented on #64160
I'm going to hazard that cluster-lifecycle owns the cluster/* scripts
/sig cluster-lifecycle
/cc @AishSundar
Initially this issue was aimed at the kubemark failures, but [looking at the triage dashboard](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=core%20dump#b207af75a24889805b20) it seems to be more widespread.

[2018-05-22 18:33] luxas commented on #64158
@BenTheElder and just making ginkgo skip that e2e for these upgrade suites sounds plausible to you?

[2018-05-22 18:38] roycaihw commented on #63941
We may have multiple causes for the tests being flaky. The lack of qps for GC may also cause timeout. Some test failures caused by GC hanging:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64156/pull-kubernetes-e2e-gce/37070#sig-api-machinery-garbage-collector-should-support-cascading-deletion-of-custom-resources
https://k8s-gubernator.appspot.com/build/kubernetes-jenki

[2018-05-22 18:38] BenTheElder commented on #64158
@luxas, yeah ginkgo flags should be controlling which testcases actually run, and I think we've done this before. @krzyzacy should be able to confirm.

[2018-05-22 18:43] AishSundar commented on #64160
@kubernetes/sig-cluster-lifecycle-bugs
/assign @timothysc
/cc @dims

[2018-05-22 18:49] liggitt commented on #63897
the change proposed by https://github.com/kubernetes/kubernetes/pull/63955 would still be allowed... taints are allowed at creation time, they just can't be modified post-create currently.

[2018-05-22 18:57] krzyzacy commented on #64158
hummm, sounds like we should just remove this test?

[2018-05-22 19:10] juanvallejo opened #64164 "Wire ConfigFlags as RESTClientGetter across commands"
Now that most of the functionality provided to commands via the cmdutil.Factory has been decoupled from it via https://github.com/kubernetes/kubernetes/issues/64106, commands should no longer depend on the factory.

- Commands should mimic the pattern established by [NewCmdWait](https://github.com/kubernetes/kubernetes/pull/64034/files#diff-6b69c44761e2a603e92ab44a6bc16d4fR67), receiving a `generi

[2018-05-22 19:11] serathius commented on #64075
It should not be a problem.

[2018-05-22 19:30] dashpole commented on #61937
@luckyfengyong the way the kubelet manages memory is roughly to compare memory.usage_in_bytes to `memory_capacity - eviction_threshold`.  Because memory.usage_in_bytes will not include kernel memory, the measured usage_in_bytes will be lower than the actual, and we may OOM even when usage_in_bytes is not close to 0.  In my testing, I found that there was 30-50 Mi of remaining kernel memory when th

[2018-05-22 19:37] cblecker commented on #36770
/remove-lifecycle rotten

[2018-05-22 20:39] gmile commented on #31307
@yanhongwang @orinciog were you guys able to solve the problem with 80 port on master?

I'm curious about this as well.

I think I lack some fundamental understanding of how ingress works. In a particular setup, I do not have a bare metal load balancer standing in front of my cluster. I only have a 2 VM Kubernetes setup. I working to understand how to properly expose my services to the outer world

[2018-05-22 20:39] jaredallard commented on #52184
/remove-lifecycle rotten

[2018-05-22 20:55] nfirvine commented on #17512
@harryge00: U+0027 is a curly quote, probably a copy-paste problem

[2018-05-22 20:56] filbranden commented on #61937
It would be great if you could contribute that...

From our digging up into it, it seems kubelet is the only process setting kmem limit (runc does not), so in that sense you only need to fix kubelet and not runc.

On the other hand, you probably need a change in libcontainer (part of runc) to make it possible for kubelet to skip setting the kmem limit there (since it seems it was the libcontainer

[2018-05-22 20:58] dmitrievav opened #64166 "kubelet reports wrong PVC metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet reports wrong PVC metrics for PVC which does not exist in the cluster any more.

curl -ks https://127.0.0.01:10250/metrics | grep es-persistent-storage-elasticsearch-logging-0
kubelet_volume_stats_available_bytes{namespace="kube-logging",persistentvolumeclaim="es-persistent-storage-elasticsearch-logging-0"} 5.8956

[2018-05-22 21:00] BenTheElder commented on #64160
/remove-sig cluster-lifecycle
/unassign @timothysc
looks like we're timing, out, something must be taking longer (haven't had time to look more):
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63887/pull-kubernetes-kubemark-e2e-gce/91852/?log#log
cc @luxas

[2018-05-22 21:30] yanhongwang commented on #31307
@gmile , Not yet. In my case I use **baremetal**.

[2018-05-22 21:35] luxas commented on #64158
@krzyzacy The e2e test in question was removed in v1.11, but it's still running apparently in v1.10-skewed upgraded clusters, which is the problem.

[2018-05-22 21:44] therealplato commented on #38775
I got around this by routing through an ingress:
[code]

[2018-05-22 22:01] tallclair commented on #63897
Got it, I missunderstood the motivation for that #63955

[2018-05-22 22:06] lavalamp commented on #59151
Further thoughts: no, I was right to begin with ;) apiservers that don't understand a field should reject it no matter what, even if it's correct but from a future version of the schema: they can't know that. Clients deserve to know they're talking to an old apiserver, and that new features won't work. The error message should be different, true ("not a valid field" vs "I don't speak that revision

[2018-05-22 22:18] msau42 commented on #64120
I was not able to reproduce this on my cluster.  I created a Pod that mounted a configmap, and ran the pod with non-root uid, and fsGroup.
[code]

@buddyledungarees I'd like to get more information about your setup:
* do you have any non-default permissions or uid/gid settings on your pod or configmap?
* what container runtime do you use?
* is your kubelet running directly on the host or in a cont

[2018-05-22 22:49] tammersaleh opened #64168 "Cannot access fieldRef for `spec.nodeName` or `status.podIP` through downwardAPI volume interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Applying this Pod configuration:

[code]

Resulted in this error:

[code]

**What you expected to happen**:

I expected the Pod to run, with the nodename available in `/etc/podinfo/nodename` and the IP address available in `/etc/podinfo/address`.

**How to reproduce it (as minimally and precisely as possible)**:

The abo

[2018-05-22 22:53] tammersaleh commented on #64168
/sig apps

[2018-05-22 22:55] jennybuckley opened #64169 "CustomResourceDefinition in openapi spec should have an x-kubernetes-group-version-kind"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig api-machinery

**What happened**:
The openapi definition for CustomResourceDefinition currently does not have x-kubernetes-group-version-kind. This separates the resource from other k8s api resources.

from openapi definitions in [k8s.io/kubernetes/api/openapi-spec](https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/opena

[2018-05-22 23:01] jennybuckley commented on #64169
Realized this existed already,
Closed in favor of https://github.com/kubernetes/kubernetes/issues/52741

[2018-05-22 23:01] #64169 closed

[2018-05-22 23:03] cncook001 opened #64171 "kubeadm join preflight errors should not be errors"
/kind bug

**What happened**:
[code]

**What you expected to happen**:
Only show errors when they really are errors

**How to reproduce it (as minimally and precisely as possible)**:
as root
[code]
as a regular user
[code]
as root user
[code]

**Anything else we need to know?**:
Work around (note the ignore All errors)
[code]
When you see the error about
[code]
and you delete that file, it leads t

[2018-05-22 23:08] cncook001 commented on #64171
@kubernetes/sig-cluster-lifecycle

[2018-05-22 23:13] #58202 closed

[2018-05-22 23:20] robdewit commented on #23144
I had this problem and it turns out that this was caused by using a symlink for /var/lib/docker. Kubelet somehow epxands the path and then tries to check the resolv.conf. Because Kubelet run in docker it could not get to the original path so I had to **add** another volume that mounted the expanded path into the kubelet container (yuck!).

[2018-05-22 23:42] jiayingz commented on #63634
/assign @janetkuo @kow3ns
Janet or Ken, can you help take a look at this issue. I am hitting it consistently on my PR to add the GPU upgrade test. Thanks!

[2018-05-22 23:53] resouer commented on #63842
@bsalamat @k82cn Thanks for input!

I will try to mentor and lead this feature ahead. cc @silveryfu Let's move on.

[2018-05-23 00:31] msau42 commented on #51835
@Stono @nodefactory-bk could you guys take a look at your kubelet logs on the offending nodes to see if there are any detailed logs that could point to the issue?

[2018-05-23 00:31] dashpole commented on #51835
cc @dashpole

[2018-05-23 00:36] #63965 closed

[2018-05-23 01:00] huguesalary opened #64176 "Node crash on 1.10.2-gke1"
/kind bug

**What happened**:

Since migrating to Kubernetes 1.10.2-gke1 I am able to consistently crash my hosting node.

I am totally unclear as to why the node crashes, but here's some information about my stack and how I trigger the crash:

- I run a glusterd file server via a StatefulSet
- I mount one of the gluster volumes inside another Pod

I then obtain a shell (using `kubectl exec`) insi

[2018-05-23 01:00] MrHohn commented on #50977
Still a valid issue.
/remove-lifecycle rotten