[2015-03-16 21:14] thockin commented on #5514
What changed appears to be the building of static binaries, but why does it need to be writable?

[2015-03-16 21:14] zmerlynn commented on #5451
Let's livedebug on IRC.

[2015-03-16 21:16] thockin commented on #5514
Ah, what seems to be happening is that go is rebuilding the stdlib with new flags.

sudo make; sudo make clean

now mortals can run make.

[2015-03-16 21:31] a-robinson opened #5523 "Fluentd failure on startup (and other Fluentd comments)"
In testing out the Fluentd to Google Cloud Logging feature, I found that logs weren't being collected for any new containers I ran. This led me to investigate what was going on with the Fluentd container. I found a few things worth noting:

1. There's no way to look at the Fluentd logs without attaching to the running docker container. I can see why we don't want to send its logs to remote storage

[2015-03-16 21:36] satnam6502 commented on #5523
Thanks. Perhaps this happened when I changed the setup recently to use a more recent Fluentd to GCP pluging that @mr-salty told me about (I thought I tested it...). I shall get the most recent plug and investigate.

[2015-03-16 21:39] a-robinson commented on #5523
To be specific, this is using kubernetes/fluentd-gcp:1.0, which looks like it's the most recent version.

[2015-03-16 21:42] a-robinson commented on #1625
Unassigning since I'm not actively working on this. The apiserver has basic metrics instrumented from the PRs referenced above, and the kubelet was instrumented in #4604. The other components would ideally be instrumented by the folks working on them who know which  metrics are most interesting.

[2015-03-16 21:42] zmerlynn commented on #5517
If I had to guess, I would take a stab and say it was 4b24aa2, #5479. cc @ArtfulCoder.

[2015-03-16 21:42] dchen1107 opened #5524 "Remove PodIP from ContainerStatus"
Now kubelet reports PodStatus including PodIP through PodStatus completely, there is no need to have PodIP in ContainerStatus for network container anymore.

I am going to send a pr fixing it shortly. Otherwise, someone free to pick it up.

[2015-03-16 21:42] bgrant0607 commented on #2174
@abonas Please take a look at:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md#http-status-codes

[2015-03-16 21:42] zmerlynn commented on #5517
Feel free to revert by 5pm if no fix.

[2015-03-16 21:44] bgrant0607 commented on #5475
@smarterclayton That's convenient, assuming everything works. :-)

[2015-03-16 21:45] mr-salty commented on #5523
Is this running on a GCE machine?  It looks like it's failing to contact the metadata server that's supposed to be running on the machine.

I don't think anything has changed about this, but we should probably fail more gracefully.

[2015-03-16 21:48] vmarmol commented on #5517
I believe @zmerlynn and @vishh  are correct, #5479 makes the build not use cgo which places a fake cAdvisor in the binary and that fails. Looking into the fix.

[2015-03-16 21:49] smarterclayton commented on #1607
Hrm - but that means portalIP has a different type depending on what object you've selected.

[2015-03-16 21:50] smarterclayton commented on #1607
I think this needs to be a separate field, distinct from portalIP, that does all of the things you describe.

[2015-03-16 21:50] a-robinson commented on #5523
Yes, it's on GCE, and the machine has the cloud logging write scope enabled. It may be related to the fact that the project didn't have the Cloud Logging API enabled until a few minutes after the VM started running, though.

[2015-03-16 21:50] bgrant0607 commented on #5164
@you-n-g If you're looking for an easier getting-started project, try #2316.

[2015-03-16 22:03] mr-salty commented on #5523
ok - I have never seen that problem with fetch_metadata, I'm not sure what would have caused it.  I assume you can manually fetch metadata from that machine, like curl -H 'Metadata-Flavor: Google' http://metadata/computeMetadata/v1/instance/id

I do wonder if it's in some bad state where it logged that it was exiting but didn't actually exit, which would explain the rest.

Also, /var/log/google-fl

[2015-03-16 22:03] smarterclayton commented on #1607
Why wouldn't we publish DNS for headless services?  I'd actually want that behavior in any case where it's a cluster.

[2015-03-16 22:06] satnam6502 commented on #5523
In my experience all output goes to stdout and nothing to stderr but it
can't hurt to pipe both. Will make the change in the next rev.

S

On Mon, Mar 16, 2015 at 3:03 PM, Todd Derr <notifications@github.com> wrote:

[2015-03-16 22:15] dchen1107 opened #5526 "Eliminate tightly coupling with dockerClient from kubelet.go"
We planed to encapsulate all accesses to docker daemons / APIs to dockertool, so that we can evolve later to have a runtime abstraction and several different runtime plugins, such as docker, rocket, lxc+tar etc.

I found recently refactory done in kubelet actually move into a different direction, and make dockerclient APIs emerging more at kubelet.go:

[code]

This is not that urgent, but file it

[2015-03-16 22:15] a-robinson commented on #5523
I tried restarting the google-fluentd service within the container. It actually ended up killing the entire container and restarting anew, but the new instance failed in the same way. I've been able to get the instance ID from the metadata server from within both containers, so I don't think that's the issue.

[2015-03-16 22:17] satnam6502 commented on #5523
Hmmm.... I created a new cluster on GCE with Cloud Logging and I was able to observe logs being ingested.... I will confer with @a-robinson

[2015-03-16 22:17] ghodss commented on #5490
Labels are represented internally as a map, so it doesn't suffer from [all the issues](https://github.com/GoogleCloudPlatform/kubernetes/issues/4889#issuecomment-77976473) of trying to represent a list of subobjects as a map. EnvVars are currently represented as objects, so they need to be a list. If they were fully converted to be a map[string]string and not a list of subobjects, then there's no

[2015-03-16 22:37] bgrant0607 commented on #5524
Note: This should only be removed from v1beta3 and from the internal rep (api/types.go).

[2015-03-16 22:44] bgrant0607 commented on #5490
@thockin reminded me of the proposal to add a flag to each env. var. that indicates whether expansion should be performed: https://github.com/GoogleCloudPlatform/kubernetes/issues/560#issuecomment-72302019

The alternative would be 2 separate lists/maps.

I don't think we're going to have a 100% consistent policy about lists vs. maps.

[2015-03-16 22:50] dchen1107 commented on #5526
#5518 on Rocket support

[2015-03-16 22:52] bgrant0607 commented on #1607
@smarterclayton PortalIP is type string. :-)

I'm not opposed to a separate field. I took inspiration from your exploitation of a nil selector. :-)

I think of nominal services #260 as the solution for clusters with DNS.

You really want DNS dynamically updated every time a pod is added or removed?

[2015-03-16 22:54] #5489 closed

[2015-03-16 22:56] dchen1107 commented on #5524
Offline dicussion with @bgrant0607 Since We already completely hid network container from the user, there is no way for anyone access PodIP from ContainerStatus directly. It is safe to remove PodIP from all api versions.

[2015-03-16 23:06] #5514 closed

[2015-03-16 23:06] vmarmol commented on #5517
#5527 is out, it is a revert of the old one along with a plan for not needing static binaries.

[2015-03-16 23:08] a-robinson commented on #5523
Downgrading to a P2, since fluentd still seems to be working even though its logs say it failed.

The reason my logs weren't being collected is just that the pod I was testing only logs at while it's starting up, and for some reason our Fluentd image misses the first N lines from each containers output, for varying values of N. We need to open a new issue for that if there isn't one already.

[2015-03-16 23:08] smarterclayton commented on #1607
I guess, although we wanted it to be typed more strongly I thought.

Guilty as charged.  Maybe it's not so bad, that was just a gut reaction at first blush.  I will look at our client code and see whether I still have a strong reaction (in terms of client complexity).  Our deferred ip resolution (controller based allocation) will mean clients will need to wait for that value to be filled out anywa

[2015-03-16 23:12] a-robinson opened #5528 "Fluentd doesn't collect the first handful of logs from each container"
As Satnam mentioned in PR #5218, our Fluentd pod tends to not collect the first chunk of logs from each container. I've noticed that it seems to miss different amounts of logs depending on how quickly the container generates them, so it may be a timing issue.

cc @satnam6502

[2015-03-16 23:12] a-robinson commented on #5523
Opened #5528 for the missing logs issue.

[2015-03-16 23:14] zmerlynn commented on #4855
cc @dchen1107

I think the first bullet, reporting the actual version *somewhere*, is probably somewhere on the node team. It seems like it could hook in with the status update mechanism for #4562 so that we're just doing one status update, but we don't necessarily need to update that often.

The second bullet (keeping track of all the versions) is ostensibly the NodeController.

The third bullet,

[2015-03-16 23:16] #4103 closed

[2015-03-16 23:20] satnam6502 commented on #5528
See #5529

[2015-03-16 23:21] satnam6502 commented on #5523
Submitted #5529 to address #5528

[2015-03-16 23:24] #5528 closed

[2015-03-16 23:28] #5517 closed

[2015-03-16 23:29] bgrant0607 commented on #2934
The action here is/was to verify the behavior and ensure it is documented correctly.

Thanks to @saad-ali we now have general status code behavior documented:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md

It doesn't say what happens in this specific case, though I don't know that it's possible to document every specific case, at least not in a way that's ke

[2015-03-16 23:33] mbforbes commented on #5514
(This might be useful to document somewhere, or do programmatically, rather than relying on people to find this issue.)

[2015-03-16 23:45] mbforbes commented on #5472
+me

[2015-03-16 23:48] satnam6502 commented on #5472
Just as we have washed our hands of SOAP I think we should stop rubbing salt into our wounds and see if we can devise a setup is that is... just... a... Go program... reclaiming all that misc ad hoc config into the more civilized first class programming.

[2015-03-16 23:56] zmerlynn commented on #5472
I was thinking of reviving DCERPC, or at least ASN.1. Or maybe we could just use turtles all the way down and wrap ASN.1 in JSON.

[2015-03-17 00:04] thockin commented on #5421
I'm fine keeping integration as long as it provides some value.  I really
think the value will be minimal, especially once e2e is more reasonable.

On Sun, Mar 15, 2015 at 10:32 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-03-17 00:12] #5317 closed

[2015-03-17 00:31] smarterclayton commented on #5421
I really want there to be a class of test between full blown e2e (stand up a cluster) and pure unit (I have a package).  Tests of the etcd libs against etcd, tests of the client against the api, tests of docker and rocket abstractions against those interfaces.  That's fairly hard to argue against.  I think all we're arguing is how decoupled the kubelet is - can it be driven via tests to verify its

[2015-03-17 00:39] bgrant0607 commented on #5472
As if we don't currently have a structure we regret?

What we're not happy with:
* Salt, bash, bash that generates Salt, Go that generates bash that generates Salt, ...
* Env vars plumbed through said scripts as the configuration mechanism
* Fragile code that breaks continuously and/or leaks cloud resources
* Intertwined code for cluster provisioning, OS configuration, network configuration, maste

[2015-03-17 00:45] you-n-g commented on #5164
@erictune  Really Grateful for your advices
@bgrant0607 Greatly thanks for spending time picking a  getting-started project for me.  I'll look into it #2316 first!

[2015-03-17 01:03] vmarmol commented on #5461
@quinton-hoole we don't set them at all today. Arguable we should for kube-proxy. I will re-purpose this issue for that (if you don't mind :) ) assigning myself.

@jmreicha can you provide the output of the following:

`$ cat /proc/sys/fs/file-max`
`$ cat /proc/<pid of kube-proxy>/limits`

[2015-03-17 01:20] thockin commented on #3350
I apologize for not responding to this thread before.  I have been reading along and chewing on it.  I went back through the whole thing today and here are some notes.

First, I very much agree this is useful and possible.  I think the approach seems OK.  I admit that I am NOT familiar enough with some of the deep networking stuff to know how ti works and what it needs, so I apologize for any dumb

[2015-03-17 01:33] jmreicha commented on #5461
@vmarmol

[code]

[code]

Does that mean 1024 is the max number of open files on this server?!  That seems way low.

[2015-03-17 02:04] bgrant0607 commented on #5421
It's all a question of where to do the stubbing for what kinds of tests.

Many cluster-level tests will want to stub more of kubelet. Examples:

* Master scalability stress tests and benchmarks w/ many more "kubelets" than we'd normally run with
* Distributed robustness/consistency tests that disrupt communication between components
* In particular, tests of master replication, failover, etc. once

[2015-03-17 02:24] timothysc commented on #5461
Would updating the ulimit in systems.unit file be enough?   What's the current POD density?

[2015-03-17 02:40] vmarmol commented on #5461
The server as a whole has a max of ~3M (the first limit). That process has
a limit of 1024 which is on the low side. It can raise is limit to 4096 if
it wants. Any more requires root intervention.

@vmarmol <https://github.com/vmarmol>

cat /proc/sys/fs/file-max
3067826

cat /proc/769/limits
Limit                     Soft Limit           Hard Limit           Units
Max cpu time              unlimit

[2015-03-17 02:41] bgrant0607 commented on #5461
Many/most of the fds were in FIN_WAIT2. I wouldn't rule out a proxy bug.

One could also try reducing net.ipv4.tcp_fin_timeout.

However, the number of fds scales with the number of pods per node times the number of pods per service, assuming a constant number of outbound connections per pod. I could easily imagine 1024 wouldn't go very far.

[2015-03-17 03:00] jmreicha commented on #5461
Sounds like a good starting place would be to bump the file maximum for the kube-proxy service?

I'm not great with systemd, would it be a good option to override the default value in the service definition with something like limitNOFILE option?

[2015-03-17 03:17] smarterclayton commented on #1004
Fix incoming

[2015-03-17 03:27] bgrant0607 commented on #5275
@you-n-g If you want a project in kubectl specifically, how about a command similar to `kubectl version` that prints supported API versions, say `kubectl apiversions`? (Item 6 in cli-roadmap.md.)

Existing kubectl version code:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/cmd/version.go
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/version.g

[2015-03-17 04:01] davidopp commented on #5207
@davidopp

[2015-03-17 04:25] bgrant0607 commented on #3028
@fgrzadkowski

The problems are:
* We use the [standard Docker client](https://github.com/fsouza/go-dockerclient) to leverage Docker's built-in image management
* Docker encourages/forces late-binding of image names+tags to layer IDs (e.g., AFAIK, [Docker's remote API](https://docs.docker.com/reference/api/docker_remote_api_v1.15/) doesn't accept image IDs for container creation) -- as opposed to

[2015-03-17 04:54] you-n-g commented on #5275
Greatly Thanks for your such patient guidance!
I'll make PR soon :)

[2015-03-17 05:26] nikhiljindal commented on #4083
Filed https://github.com/apigee-127/swagger-tools/issues/182 for the "Model could not be resolved: string" error.

[2015-03-17 05:32] bgrant0607 commented on #3058
The decision was to create new controllers for new use cases (e.g., per-node/daemon, RestartOnFailure pods) rather than make ReplicationController more complicated.

To facilitate that, we need to:
1. Finish the API plugin mechanism #991
2. Convert ReplicationController to use the API plugin mechanism
3. Split out the pod template #170 so that other controllers can use it.
4. Create a controller f

[2015-03-17 05:34] bgrant0607 commented on #4083
IMO, a reasonable fix to the "path:*" messages would be to not use go-restful for proxy and redirect, as I don't consider them part of the API.

[2015-03-17 05:36] bgrant0607 commented on #4083
"$ref" used for string -- sounds like instances of #3757.

[2015-03-17 05:39] bgrant0607 commented on #4083
As for all of the "Model is defined but not used" warnings -- that's #3756.

[2015-03-17 05:50] davidopp commented on #4851
I agree with Brian, this is a real problem, and grep doesn't help unless you know what to search for.

As a random aside, I think it's unfortunate that people don't comment at the file level (in addition to at the function and and package level). Code is not randomly distributed into files; it's helpful to know what is the organizing principle behind each file. Having Github directory listings sho

[2015-03-17 05:57] bgrant0607 commented on #1353
@vipulnayyar This issue specifically relates to improvements/extensions of rollingupdate. AFAIK, nobody is actively working on this issue at the moment.

Improvements/extensions:
* Change the annotations and termination condition, as described, to be resilient to concurrent resizing for auto- or manual scaling
* Make the operation reversible in order to support rollback
* Create a controller gener

[2015-03-17 06:12] bgrant0607 commented on #4940
@abonas Yes, we plan to eliminate v1beta1/2, and will rename v1beta3 for 1.0. As soon as we enable v1beta3 by default (next week?), v1beta1 will be deprecated.

The intent is that most clients should only need to use one API version. It's just generic client libraries and tools that need to support multiple versions.

Namespaces are specified using URL params in v1beta1/2, and use the "default" na

[2015-03-17 06:25] bgrant0607 commented on #3731
Most people seem to be in favor of namespace/name. I will point out, however, that that's not sufficient to identify an object. One also needs at least the kind or resource path. Since names and namespaces exclude `/`, we could support both 2- and 3-part short names: namespace/name and namespace/resourcepath/name.

[2015-03-17 06:35] davidopp commented on #1353
On the controller generator issue: We recently worked with some people who were new to Kubernetes who were playing around with simple deployments as the first step of moving larger workloads onto the system. One of the confusions a couple of different people both ran into was the fact that the "id" of the replication controller has to change in order to do a rolling update. I agree with them that

[2015-03-17 06:38] bgrant0607 commented on #3085
@satnam6502 What you're essentially asking for is PUT without precondition. Note that in the case of a partial update, we now have a patch implementation in kubectl.

For an example of precondition enforcement in apiserver, see:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L278

[2015-03-17 06:40] satnam6502 commented on #3085
So are you saying that a PUT without version should be translated into a PATCH?

[2015-03-17 06:41] davidopp commented on #1353
It's possible that a good config system could serve the same role as the meta-object I described (hiding the low-level details of the changing RC identity), but I'm not sure -- for example, monitoring would probably see both RC names while you're in the middle of the update, with no obvious link between them, and at the end of the update you end up with an RC with a different identity than the one

[2015-03-17 06:47] davidopp commented on #3058
I'm not sure we should just say every conceivable variation merits a new replication controller. Per-node/daemon might be different enough from a regular replication controller to deserve being separate, but things that can be expressed trivially with one bool (like restart-on-failure vs. don't) should just be configuration parameters for the RC we already have IMO.

[2015-03-17 06:59] nikhiljindal commented on #5475
Starting with the first task: "enable v1beta3 by default in apiserver"

[2015-03-17 09:34] craigbox commented on #4805
@vmarmol

Does GKE update the Kubelet on running nodes? I thought that would only happen if you asked the cluster to upgrade.  (This report was on a GKE cluster which, I would have assumed, always had the same version of the Kubelet running on its nodes.)

[2015-03-17 09:39] wojtek-t commented on #4119
#4839 and #5239 are already merged.
I think that this works pretty reliably for 50 pods now.
I'm closing this issue now - please reopen it if you find any problem with it.

[2015-03-17 09:39] #4119 closed

[2015-03-17 09:57] fgrzadkowski opened #5538 "Increase Integration Test Coverage"
@wojtek-t

PR #5205 introduced a deadlock in kubelet. syncStatus function was holding podLock when calling another function that tried to lock it.
This bug was caught by e2e tests, but should easily be caught by integration tests.

[2015-03-17 10:25] dimafujitsu opened #5539 "etcd not accept connection during make release execution"
[code]

error
[code]

with docker 1.0 working correct.
with fedora 21, docker 1.5 and last kubernetes working perfect.
looks like etcd not accept connection from localhost in container.

[2015-03-17 10:35] wojtek-t commented on #5538
As discussed offline, this is because running:
hack/test-integration.sh
is not running the "real kubelet" - it is using it's custome fakeKubelet implementation.
That said it's not really "integration test" in a sense that it's not testing all components of the system.

[2015-03-17 11:29] jayunit100 commented on #5465
- agreed, two docs.  the question is : what is shared between e2e tests and examples?  One main thing is the *Dockerfile* itself.  so this lends us to the main question...
- the *main question* i have is : As part of the process,  shall we focus on dockerfiles as a first step?  if we can structure the way they are handled so that they arent scattered all over, that naturally paves a path to proces

[2015-03-17 12:08] wojtek-t commented on #1625
@vmarmol added a bunch of metrics to Kubelet:
#4753 #4792 #4818 #4901 #4904 #4905 #4906

What else should be done as part of this effort?

[2015-03-17 13:00] wojtek-t commented on #415
@vmarmol added a bunch of metrics to Kubelet:
#4753 #4792 #4818 #4901 #4904 #4905 #4906

What else should be done as part of this effort?

[2015-03-17 13:05] zmerlynn commented on #4805
GKE does not upgrade binaries (yet)

[2015-03-17 14:05] AAzza commented on #2098
My name is Nataliia and I am student who plan to apply for GSoC for this round.
I have some thoughts on the proposal and it would be glad to discuss it with someone before submitting.

Unfortunately, there are few development docs and issues are formulated in the way, to be understandable for internal person, so without background it is really hard to understand what is going on.

My current under

[2015-03-17 14:08] siddhsuper commented on #5509
Hi,

@jlowdermilk , I am trying through JS and directly through Rest Client also,

URL: https://107.167.181.94/api/v1beta1/services

BODY:
{
  "apiVersion": "v1beta2",
  "kind": "Service",
  "id": "enterpriseweb-service",
  "port": 3000,
  "containerPort": "http-server",
  "selector": {
    "name": "enterpriseweb"
  },
  "createExternalLoadBalancer": true
}

[2015-03-17 14:15] brendandburns commented on #5509
Is this a post or a put?

Brendan
On Mar 17, 2015 7:08 AM, "Siddharth Singh" <notifications@github.com> wrote:

[2015-03-17 14:25] brendandburns commented on #2098
Nataliia,
I think you got it pretty much exactly right.  We should re-use the code
that is in pkg/apiserver/... as much as possible to replace/re-implement
the code that is in kubelet/server.go.

We can do this piece by piece, replacing one http handler at a time.

I wouldn't worry too much about conversions.go and types.go, they are
basically the files necessary to implement the various versioned

[2015-03-17 14:28] bgrant0607 commented on #2098
@AAzza Welcome! Yes, as @brendandburns also responded, you have the right idea.

The apiserver library is used by at least one other component, the Openshift master, so there's some hope that it's general enough, but we won't really know until we try. We may need a new generic registry implementation, though, since the master components both use etcd-backed registries.

Though hopefully you won't

[2015-03-17 14:32] #5503 closed

[2015-03-17 14:37] rrati opened #5545 "Pods are schduled to hosts that are unknown"
# kubectl get minions
NAME                                                   LABELS              STATUS
...
host1   <none>              Unknown

Pods are getting scheduled to host1 despite it being in an unknown state:

Mar 17 13:40:04 master kube-scheduler[7477]: I0317 13:40:04.525316    7477 factory.go:303] Attempting to bind my-hostname-density100-1d67cbee-ccab-11e4-b5ba-ecf4bbc72672qp4v to hos

[2015-03-17 14:42] siddhsuper commented on #5509
Hi Brendan,

Its POST.

[2015-03-17 14:50] jmreicha commented on #5461
@vmarmol  I wonder if this is/was an issue with the version of CoreOS I am running.  I am standing up a new test cluster and ran those commands again and am getting a much higher max open files result.

[code]

This is on v607.0.0 of CoreOS and v0.12.1 of Kubernetes.  The above results were from CoreOS v561.0.0 and Kubernetes v0.8.1.

So the question I have now is, how can I simulate a large numbe

[2015-03-17 14:53] wojtek-t commented on #3372
If noone picks it up, I'm going to start working on it tomorrow.

[2015-03-17 15:09] #5392 closed

[2015-03-17 15:10] xudifsd opened #5548 "cache selector results"
This is a proposal to implement caching selector result. https://github.com/GoogleCloudPlatform/kubernetes/issues/4817#issuecomment-76495394

AFAIK, currently only [two components](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/labels.md#api) use selector to group their members: `service` and `replicationController`, and they get list of their members by matching seletor agains

[2015-03-17 15:16] timothysc commented on #5545
Please add to performance and reliability label.

[2015-03-17 15:18] erictune commented on #5545
labeled

[2015-03-17 15:20] erictune commented on #3372
thanks, wojtek-t

[2015-03-17 15:27] vmarmol commented on #5461
@jmreicha it may have been the CoreOS version. The current limit of 65K seems more reasonable and you probably won't run into issues. Just to simulate a lot of open files, you can have a simple binary that opens many files :) it should hit around 65K. Alternatively, you can try hitting the kube-proxy with many connections.

[2015-03-17 15:30] brendandburns opened #5551 "Improve error reporting by adding URLs"
angular has pretty cool error reporting that dumps URLs  which describe the error and contextualize with specific info from the field that is incorrect. We should consider doing something like that.

[2015-03-17 15:31] offlinehacker commented on #1957
+1 consul could be also used as replacement for skydns

[2015-03-17 15:32] jayunit100 commented on #5260
Okay closing, as per #5447 being merged ...   The app can now be run from here https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/k8petstore ....  ill iterate on it some more shortly, but for now it will graph throughput and can be used to create heavy load and visualize plateaus, and so on

[2015-03-17 15:32] #5260 closed

[2015-03-17 15:34] brendandburns opened #5553 "add a special container that enables easy access to pod API objects"

[2015-03-17 15:35] fgrzadkowski commented on #4561
I had to revert PR #5305 due to bugs. Reopening issue. Will send fixed version soon.

[2015-03-17 15:35] vmarmol commented on #415
Closing this in favor of #1625 since that has more discussion (and is the same issue really).

[2015-03-17 15:35] #415 closed

[2015-03-17 15:36] smarterclayton commented on #3731
namespace/resourcepath/name seems a bit confusing (because I would assume resource path dominates namespace), but our API does take that pattern.

[2015-03-17 15:36] gmarek commented on #5507
@tkulczynski

[2015-03-17 15:37] vmarmol commented on #1625
The Kubelet side is complete, we're probably missing the other components and what #490 alludes to. We should close this and file an issue per component still missing instrumentation.

[2015-03-17 15:45] timothysc commented on #5461
@jmreicha as @vmarmol mentioned, we bumped the limit in the .service files.  Let us know if the issue still exists, but I'm guessing we can close for now and reopen if needed.

[2015-03-17 15:46] vmarmol commented on #5461
@timothysc won't that only fix systemd systems though?

Since it does address the issue at hand, I'm fine closing :)

[2015-03-17 16:20] abhgupta commented on #1607
@bgrant0607 @smarterclayton Refer my PR on this change --> https://github.com/GoogleCloudPlatform/kubernetes/pull/5556

[2015-03-17 16:27] jlowdermilk commented on #1353
@davidopp, we've discussed several times changing the rollingupdate approach to start and end with the same controller. I agree that ending with a different controller id is non intuitive. IIRC, the argument against preserving the original RC id is that RCs are supposed to be ephemeral. I don't know how strong an argument that is, though.

[2015-03-17 16:41] dchen1107 commented on #5545
Why NodePhase is Unknown? cc/ @ddysher

[2015-03-17 17:04] jlowdermilk commented on #5539
Silly question: have you tried running `make clean` and rerunning `build/release.sh`? That is a common panacea for build errors.

[2015-03-17 17:05] jlowdermilk commented on #5548
cc @thockin, @bgrant0607

[2015-03-17 17:10] timothysc commented on #3764
@dchen1107 is the plan to use labels and drop the prefix naming weirdness?

[2015-03-17 17:11] rrati commented on #5545
In our case the node is one that has been configured via KUBELET_ADDRESSES on the controller-manager but has not checked in or been started up.  This could happen with nodes dropping out of the cluster due to hardware/networking issues.

[2015-03-17 17:13] timothysc commented on #5545
More color, the node was in the list for a while but was only online/reachable recently due to our private provisioning issue.

[2015-03-17 17:36] #4090 closed

[2015-03-17 17:44] vmarmol commented on #5538
This seems like it would have been caught by an integration test that tested pod status. The issue is probably lack of test coverage at the integration layer. We kinda use e2e for that lately, although there is discussion about improving coverage.

[2015-03-17 17:46] davidopp commented on #1353
Yeah, I don't think that any objects should be ephemeral across updates. Actual death (like pod dies or RC is deleted) then yes the replacement should be a new "thing," but not for update.

On a related note, one of the same users was confused about the semantics of updating an RC. What happens if you update the replication count for an RC? What if you update the image? (Not using kubectl rollingu

[2015-03-17 17:55] bgrant0607 commented on #1353
@davidopp @jlowdermilk

RCs are "helper" mechanisms intended to be manipulated by configuration/deployment tools/systems, auto-scalers, etc. They aren't tied to pod nor service lifetimes nor identities, and they're not intended to be pets. They aren't [managed instance groups](https://cloud.google.com/sdk/gcloud/reference/preview/managed-instance-groups/) or [jobs](https://aurora.incubator.apache.

[2015-03-17 18:10] bgrant0607 commented on #1353
RC update semantics are simple: Changing the replica count causes pods to be created or deleted. Changing the pod template only affects new pods. It has no effect on existing pods -- no quantum entanglement. It's a cookie cutter, not a representation of the desired state of all pods.

[2015-03-17 18:18] bgrant0607 commented on #5548
cc @bprashanth

[2015-03-17 18:22] derekwaynecarr commented on #5548
I think this complicates the delete life-cycle for any object that is or will be selector based.

Is there a reason that the cache cannot be held in memory rather than materialized in etcd directly?

[2015-03-17 18:30] quinton-hoole commented on #5180
@brendandburns Are you actively working on this?  If so, I suggest that we close #5156 as a duplicate.

[2015-03-17 18:32] jlowdermilk commented on #5509
Is that a typo, or are you trying to create an object with a v1beta2 schema via the v1beta1 api endpoint?

[2015-03-17 18:34] vmarmol commented on #5419
I'll start tackling this.

[2015-03-17 18:49] bgrant0607 commented on #3085
Let's discuss IRL.

[2015-03-17 18:51] #5425 closed

[2015-03-17 18:54] yujuhong commented on #5545
This function doesn't seem to filter out nodes without conditions:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L233
[code]

[2015-03-17 19:08] jmreicha commented on #5461
Yes I'm okay with closing.

[2015-03-17 19:08] #5461 closed

[2015-03-17 19:12] yujuhong commented on #5538
Integration test does run real kubelets using `SimpleRunKubelet()`. The so-called `fakeKubelet` perhaps refers to the `fakeKubeletClient` defined in integration.go?
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/integration/integration.go#L68

fakeKubeletClient is created and then passed to the master so that master can retrieve pod status and nodeinfo, etc. I think it exists be

[2015-03-17 20:10] jmreicha commented on #5461
Would it be worthwhile to update the getting started guides with the correct file limits or make a note about the file limit issue somewhere?

It looks like the problem is fixed in CoreOS moving forward so will eventually go away there but it may crop up elsewhere?

[2015-03-17 20:20] vmarmol commented on #5461
I'm working on a PR to have the kube-proxy monitor its limit and warn if its too low. We also need to start documenting the bare requirements for each Kube component, I think there is an issue out for that.

[2015-03-17 20:44] thockin commented on #4288
Fixed

[2015-03-17 20:44] #4288 closed

[2015-03-17 20:52] thockin commented on #3388
Satnam says it is done

[2015-03-17 20:52] #3388 closed

[2015-03-17 21:11] bgrant0607 commented on #3731
Yes, I'm trying to avoid introduction of yet another naming schema for fully qualified names. While it's less concise, I'd be happy with URL suffixes (omitting apiserver address, path root, and api version). Actually, it's even debatable whether we can omit api version, since not all objects exist in all versions, at least not at the same paths.

[2015-03-17 21:15] dchen1107 opened #5567 "e2e tests failed due to cAdvisor is not built into Kubelet binary properly"
I sync-ed up to HEAD and ran e2e tests, then 2 cAdvisor related tests are failed due to vAdvisor is not built into kubelet binary. cc/ @vmarmol

[request [&{Method:GET URL:https://130.211.179.84/api/v1beta1/proxy/minions/e2e-test-dawnchen-minion-0zpt.c.golden-system-455.internal/stats/?timeout=5m0s Proto:HTTP/1.1 ProtoMajor:1 ProtoMinor:1 Header:map[] Body:<nil> ContentLength:0 TransferEncoding:[]

[2015-03-17 21:25] dchen1107 commented on #5567
make clean and rebuild get rid of this issue. I am closing this one with a different issue.

[2015-03-17 21:25] #5567 closed

[2015-03-17 21:31] smarterclayton commented on #3731
We at least (today) use the provided api version to convert resource types from the cli to the internal type.  So clients can control that via --api-version.

[2015-03-17 21:31] smarterclayton commented on #3731
I'm ok with namespace/resource/name, until we need to introduce namespace/*/* selectors :)

[2015-03-17 22:05] pweil- commented on #4288
:beers:

[2015-03-17 22:24] yujuhong commented on #4922
@erictune, I meant `*-http-*". Thanks for the correction.

We settled on the naming scheme in #5103. This issue is obsolete.

[2015-03-17 22:24] #4922 closed

[2015-03-17 23:02] #5457 closed

[2015-03-17 23:16] #5322 closed

[2015-03-17 23:26] brendandburns commented on #2131
Closing this as the query param is now fixed in v1beta3.

[2015-03-17 23:26] #2131 closed

[2015-03-17 23:32] erictune commented on #1615
@mrunalp @thockin Was this issue closed by #3817?  Seems like it was, but I see @bgrant0607 adding help-wanted to it.

[2015-03-17 23:36] thockin commented on #1615
I think it is fixed

[2015-03-17 23:41] thockin commented on #5261
Sorry, Abhi is the right assignee.

[2015-03-18 00:14] bgrant0607 commented on #1615
https://github.com/docker/docker/issues/10163 hasn't even been done on the Docker side yet.

[2015-03-18 00:17] bgrant0607 commented on #1990
FYI: #4347 is for remaining cases where the API doesn't return JSON/Status errors.

[2015-03-18 00:22] hobti01 opened #5578 "Label Selector to match if label exists"
The documentation for [labels.Parse](https://godoc.org/github.com/GoogleCloudPlatform/kubernetes/pkg/labels#Parse) shows that an "exists" Selector can be created like this:
[code]
But this does not match labels unless there is also a matching value.

I've also tried to use [labels.NewRequirement](https://godoc.org/github.com/GoogleCloudPlatform/kubernetes/pkg/labels#NewRequirement):
[code]
but it

[2015-03-18 00:28] xudifsd commented on #5548
@derekwaynecarr I just want to use etcd watch to do cache update, or are there any way for master to notify every minion that an object is updated?

[2015-03-18 00:56] jlowdermilk commented on #4892
@Fandekasp, are you still encountering this issue with kubectl > 0.12.0?

[2015-03-18 00:57] yujuhong commented on #4090
A brief summary:

#5401 creates a mirror pod via the apiserver for each static pod, where the mirror pod has the same name and namespace as the static pod.
  + It allows users to view the status of the static pods by querying the apiserver
  + Scheduler is aware of the resources consumed by the static pods.

However, because events are associated with the static pods (which has a different UID tha

[2015-03-18 01:20] hurf opened #5579 "Enhance kubectl return messages."
When I was using kubectl commands, I found whether I'm using `create` or `delete`, they return same message, that is only the pod id.  I think we can enhance the messages to provide more information to users.

[2015-03-18 01:22] smarterclayton commented on #5579
It's partially that way so the user can feed those to `xargs`.  But it needs to support multiple types.

[2015-03-18 01:23] jlowdermilk commented on #4892
Closing as obsolete from discussion on irc.

[2015-03-18 01:23] #4892 closed

[2015-03-18 01:23] bprashanth commented on #5514
I'd surface it better in the build failure, @ArtfulCoder since it was because of static binaries

[2015-03-18 01:24] smarterclayton commented on #5548
Minions are already watching the master for changes to pods.  What would you be adding a watch for here?

[2015-03-18 01:25] smarterclayton commented on #5511
@jhonce @ravip

[2015-03-18 01:26] smarterclayton commented on #5511
Oops, @pravisankar instead

[2015-03-18 01:29] smarterclayton opened #5581 "`kubectl run` should support the command to execute the container with"
So you can do easy demos of "run image X and tell it to run command Y forever".

[2015-03-18 01:35] smarterclayton commented on #5581
Or even better it should be after a `--` like exec.

[2015-03-18 02:00] xudifsd commented on #5548
@smarterclayton I'm adding a selector result, not pod, in this way, `service` or `replicationController` can just watch selector result for changes, and do not need to compute selector result on the fly anymore.

[2015-03-18 02:03] smarterclayton commented on #5581
https://github.com/GoogleCloudPlatform/kubernetes/issues/2316 will make this easier / possible.

[2015-03-18 02:05] bgrant0607 commented on #5548
I was thinking we'd just implement the index in memory.

In particular, the scheduler, kube-proxy, replication controller manager, and endpoints controller could build the index on the client side.

The basic idea of matching against selectors in the same namespace upon pod creation/deletion is the right idea.

[2015-03-18 02:15] bgrant0607 commented on #5548
It's also possible for clients to list or watch filtered by label selectors. For that, we would ideally have some sort of indexing in the server. For list, it's reasonably straightforward. For watch at a particular resourceVersion, it's admittedly harder.

[2015-03-18 02:18] bgrant0607 commented on #4817
Points made in #5548:
* pre-filter by namespace
* watch everything and associate objects with selectors with matching objects in controllers

[2015-03-18 02:20] smarterclayton commented on #5548
We do at least support watches filtered by labels, but it doesn't tell the user what the change was.  I've been toying with the idea of including the previous version in the watch for clients as well.

[2015-03-18 02:44] bgrant0607 commented on #1743
Are users expected to run tests before pushing code that results in a deployment?

Are there any hooks for post-deployment end-to-end tests prior to exposing newly deployed instances to user traffic?

[2015-03-18 03:10] nikhiljindal commented on #5578
cc @sdminonne

[2015-03-18 03:11] smarterclayton commented on #1743
Yeah - that's something being worked on now.  Builds can also execute tests before promoting an image.  There's a fair amount of options for someone to hook into flows, although I would say we are still trying to build the experience that makes it easy to specify those.

There's some discussion about whether the "deployer" is really a "stage" component.  Because the deployment process can be custo

[2015-03-18 03:16] tmrts opened #5582 "Remove configuration flags"
I've been inspecting the use of flags throughout the code to find a better solution. Storing configurations in `etcd` seems like a good solution(that's what `etcd` does after all) as discussed in #1627. Is there anyone working on this? I would like to give it a shot.

[2015-03-18 03:16] TamerTas commented on #5582
@smarterclayton @thockin @bgrant0607

[2015-03-18 03:23] TamerTas commented on #1624
@thockin @smarterclayton @bgrant0607 After a long journey through the issues about job management in kubernetes, I have submitted a GSOC proposal for this topic. Your feedback would be most appreciated.

[2015-03-18 03:40] eparis commented on #5507
@mrunal @rajatchopra

[2015-03-18 03:45] eparis commented on #5582
To the best of my knowledge no one is working on this.  However, a lot of work has been done so that etcd is not exposed to the nodes.  The nodes only talk to the api server (which obviously in turn stores in etcd, so yes, the node config could live indirectly in etcd).

As to master config, again, only part of it talks to etcd (the apiserver, the scheduler and controller-manager both can/should b

[2015-03-18 03:53] hurf commented on #5579
Sorry I may not expressed myself clearly. I mean when I'm creating a pod, what appears in the screen is like:

	$ kubctl create -f pod1.yaml
	www
	$

The message 'www' is really confusing. If it is like this:

	$ kubctl create -f pod1.yaml
	Pod: www is successfully created.
	$

Would that looks better?

[2015-03-18 03:55] brendandburns commented on #1990
Re-opening this until we fix #4347

[2015-03-18 03:56] smarterclayton commented on #5579
It's sending www because that allows someone to do:

    kubectl create -f resources.json | xargs kubectl get pods

The gap right now is that it would be better to include the type and to support type/name via get/delete/describe so you could show multiple types at once.

[2015-03-18 04:00] bgrant0607 commented on #5511
cc @rvangent

[2015-03-18 04:02] TamerTas commented on #5582
So, creating a configuration object and exposing it through the API is a prerequisite. I'll start with the configuration objects then.

[2015-03-18 04:02] thockin commented on #5582
Yeah that issue should be updated to say "in API"

On Tue, Mar 17, 2015 at 8:45 PM, Eric Paris <notifications@github.com>
wrote:

[2015-03-18 04:48] davidopp opened #5585 "Investigate possibly broken Docker SIGTERM delivery"
@rsokolowski and I found the following behavior last week when we were working with someone who was trying to run some stuff on Kubernetes. Note that this appears to be a Docker problem, not a Kubernetes problem, but I'm filing it here for now so we can verify that it's reproducible before filing a bug against Docker.

Start two containers on the same machine, each a shell script that traps SIGTER

[2015-03-18 04:50] thockin commented on #5585
Are they both the same container image?  There's a known difference between
containers that use docker's CMD vs ENTRYPOINT statement.

On Tue, Mar 17, 2015 at 9:48 PM, David Oppenheimer <notifications@github.com

[2015-03-18 04:57] you-n-g opened #5586 "Improve the speed of build-go.sh"
I'm a new contributor to kubernetes.
I deploy kubernetes on my computer or VPS.
I found it is slow to compile the project by  ./hack/build-go.sh
So I'm wondering if there is any way to speed it up to make it faster to be more friendly to the developers?

[2015-03-18 04:59] davidopp commented on #5585
Yes, same container image.

I can't remember if the Dockerfile was using CMD or ENTRYPOINT. If Rafal doesn't remember, I can ask the person we were working with.

And to clarify my description of the problem -- "the other just gets SIGKILL" should say "and the other just gets SIGKILL after the grace period has expired"

[2015-03-18 05:11] bgrant0607 commented on #5582
As per:
https://github.com/GoogleCloudPlatform/kubernetes/issues/1627#issuecomment-76296674

Take a look at the secret API:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L1292

It makes a key-value map available via a volume to containers. A slight tweak on this plus tooling in kubectl could be used for general configuration.

[2015-03-18 05:18] bgrant0607 commented on #2098
BTW: handlers are registered here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/server.go#L118

Note that we're in the progress of eliminating many of these handlers. Kubelet will send information to apiserver. #4561 #4562

I would eventually like Kubelet to export the same pod API as apiserver, though.

Also note that we're in the process of moving to v1beta3 for all

[2015-03-18 06:02] davidopp commented on #5507
I discussed this with @erictune and @bgrant0607 and my feeling is that we should not have a separate resource for IP addresses; instead we should have a "max pods per host" (set on a per-host basis) with an upper bound == however many IP addresses are allocated per machine on the given provider. We need "max pods per host" anyway, and this way we could have one mechanism instead of two.

[2015-03-18 06:24] hurf commented on #5579
@smarterclayton - thanks, does that mean if I want to return a message like 'Pod: www is successfully created.' I should also modify get/delete/describe to allow them extract 'www' as a parameter from the above message?

And I'm not quite clear what do you mean by 'you could show multiple types at once', can you give me an example?

BTW, I doubt the necessity of using commands like `kubectl create

[2015-03-18 06:55] bgrant0607 commented on #1624
We'll take a look @TamerTas. Thanks!

[2015-03-18 07:05] bgrant0607 commented on #2890
Hi, @AALEKH. Are you looking for a GSoC project topic, or a getting-started project? If you haven't already, please take a look at:
https://github.com/GoogleCloudPlatform/kubernetes/wiki/Google-Summer-of-Code-(GSoC)
and
https://github.com/GoogleCloudPlatform/kubernetes/issues/4259#issuecomment-80863733

Unfortunately, it's a bit of an inconvenient time to start on this particular issue.

We're cur

[2015-03-18 07:08] bgrant0607 commented on #5164
#5511 has an example where a similar pattern would be useful.

[2015-03-18 07:21] bgrant0607 commented on #5553
That's obscure. Description?

You mean like #5093?

[2015-03-18 07:23] bgrant0607 commented on #5551
Please self-triage issues.

[2015-03-18 07:27] bgrant0607 commented on #5581
I'm not sure I understand.

Are you asking for the ability to generate the new RC, not unlike run-container, and for that generator to accept both the container image and the container command?

[2015-03-18 08:04] sdminonne commented on #5578
@hobti01 In theory you shouldn't need to create a `Requirement` and the `func Requirement.Emtpy() bool` func should return always `false`.

For the non matching I think the misunderstanding is about the definition of label. A label is a key/value pair. And the `exists` operator check the existence of the key
So when you say `s, err := labels.Parse("mylabel")` I'not sure what do you mean..

May you

[2015-03-18 08:22] gmarek commented on #5507
Implementation wise it's just renaming of variables, as long as this is opaque resource if needed. I also agree that limiting number of pods by available IP addresses is more general.

The thing is that 'max pods per host' is more natural if we want to have just an opaque resource. IP addresses become useful only iff we plan to eventually give each Kubelet a collection of them for it to assign.

[2015-03-18 08:45] abonas commented on #2131
@brendandburns can you elaborate what is exactly fixed - how does it behave now/new query param names for label and selector?

[2015-03-18 09:15] hobti01 commented on #5578
Yes, we were not using the same definition of label, I should have said "mykey".  I can confirm your test and have traced the issue further.

List() returns an error:
[code]
The selector is translated into a URL query parameter.  Should this be a valid request?  If not, how is "key exists" queried?
[code]
[code]
The same message is provided by kubectl, and again, how is "key exists" queried:
[code

[2015-03-18 09:37] sdminonne commented on #5578
@hobti01 can you run `version` command?

[2015-03-18 09:42] hobti01 commented on #5578
[code]

[2015-03-18 09:46] dimafujitsu commented on #5539
@jlowdermilk yes. tried.

[2015-03-18 10:05] sdminonne commented on #5578
If you manged to have my tests working you should have the new requirements parsing code. But it looks your error code comes from an old version of kubectl.

I can't understand. Can you give more details about the environment you're working on?

[2015-03-18 10:24] lhuard1A opened #5589 "Kubernetes master freezes when the etcd leader is unreachable"
While doing some perturbation tests, I noticed that the Kubernetes master breaks if we loose the machine hosting the etcd leader.

Here is the test (I’m using the libvirt-coreos cluster)

### Suspend any non-leader node

* Start a cluster with a multi-node etcd cluster and a multi-node kubernetes cluster
[code]

* Issue a `get minions` query:
[code]

* Suspend a VM which is a kubernetes node and a

[2015-03-18 10:25] HackToday opened #5590 "kubectl(release 0.11.0) create pods always failed with 255 return code"
I used kubenetes examples, redis-master as  below:
id: redis-master
kind: Pod
apiVersion: v1beta1
desiredState:
  manifest:
    version: v1beta1
    id: redis-master
    containers:
      - name: master
        image: kubernetes/redis:v1
        cpu: 1000
        ports:
          - name: api
            containerPort: 6379
        volumeMounts:
          - name: data
            mountPath: /redis-

[2015-03-18 10:26] HackToday commented on #5590
I used 0.7.0 release, the kubectl can work.

[2015-03-18 12:47] fgrzadkowski opened #5592 "kubectl prints wrong context when using --context"
When I use `--context` flag kubectl still prints default context:

<pre>
$ ./cluster/kubectl.sh <b>--context=ivory-honor-865_e2e-test-filipg</b>` get pods
<b>current-context: "ivory-honor-865_kubernetes"</b>
...
</pre>

Command works correctly (i.e. uses context from --context flag) but this is misleading.

[2015-03-18 13:35] hobti01 commented on #5578
Thank you very much for the suggestion.  I did have different versions running and after updating all of them to 0.13.1 this is resolved.

[2015-03-18 13:35] #5578 closed

[2015-03-18 14:23] timothysc commented on #3954
So I did some testing on reducing the latency within the reflector to say 1 millisecond, and there is good news and bad news.

Good News:
It schedules fast

Bad News:
All pods appear permanently pending, and even after deletion docker has pods running on machines that kubernetes is not aware of.

I'm still digging into the details why such a change would affect it so dramatically.

[2015-03-18 14:24] xudifsd commented on #5548
IMO, index is just used to accelerate the selector select, and it can be deployed on both server & client side. It is very useful for computing result on the fly. But to gain this benefit, we have to maintain the index upon object update, if we do index on the client side, all clients should do exact same update to its index (they need to maintain index for all objects under all namespaces)

@smar

[2015-03-18 14:28] jvkersch opened #5593 "Scheduler crash on 0.12.0 for rabbitmq example"
The rabbitmq example in the docs [specifies a "cpu" keyword](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/celery-rabbitmq/rabbitmq-controller.json#L16) that doesn't seem to be listed in https://developers.google.com/compute/docs/containers/container_vms#container_manifest.

After creating the rabbitmq controller from the example, the rabbitmq pod is shown as "Pending" ind

[2015-03-18 14:41] gmarek commented on #5548
I'm slightly worried that this will roughly double the number of etcd reads that is required to get some interesting data. IIRC we were worried about etcd performance, but maybe something's changed.

New registry is probably better than current 'read everything' behavior, but I like Brians suggestion to do it in-memory client side way more. I'm much less worried of doing single in-memory update of

[2015-03-18 15:05] piosz opened #5596 "Add integration test which will test that pod with resource specified can be scheduled"
The regression test after #5503

[2015-03-18 15:09] gmarek commented on #5538
@vmarmol: Is there an issue for improving integration tests? Other thing that gone through them was segfault when trying to schedule nodes with resource limit set. It looks to me that we're currently not in a very good state.

[2015-03-18 15:11] sevki commented on #5371
@erictune cheers eric. that fixed it. closing.

[2015-03-18 15:11] #5371 closed

[2015-03-18 15:28] ncdc opened #5599 "Permission denied errors building master"
On my system (Fedora 21), I'm now unable to successfully build master. I get permission denied errors trying to write to `/usr/lib/golang/pkg/linux_amd64_cgo/`.

[code]

It looks like this comes from #5574. Could someone please take a look? Thanks!

[2015-03-18 15:29] ncdc commented on #5599
@ArtfulCoder @vmarmol FYI

[2015-03-18 15:49] vmarmol commented on #5599
Do a `make clean` and try again. This usually solves it for me since the configuration is stale. Let us know how that works.

[2015-03-18 15:53] ncdc commented on #5599
@vmarmol no luck - it still gives me permission denied. Here are the golang rpms I have:

golang-pkg-bin-linux-amd64-1.3.3-1.fc21.x86_64
golang-cover-0-1.0.hgd32b5854c941.fc21.x86_64
golang-vet-0-1.0.hgd32b5854c941.fc21.x86_64
golang-src-1.3.3-1.fc21.noarch
golang-1.3.3-1.fc21.x86_64
golang-pkg-linux-amd64-1.3.3-1.fc21.noarch

[2015-03-18 15:55] #157 closed

[2015-03-18 15:56] vmarmol commented on #5599
Hmm another potential fix it so `sudo rm /usr/lib/golang/pkg/linux_amd64_cgo/` and on the next build the binaries should be places somewhere accessible

[2015-03-18 15:57] ncdc commented on #5599
@vmarmol that doesn't help either - that directory didn't exist to begin with

[2015-03-18 15:58] vmarmol commented on #5599
Huh, that I haven't run into. Will investigate further.

[2015-03-18 16:01] zmerlynn commented on #5593
I believe this is fixed in #5544, which is in 0.13.1 (it's the only thing besides some odd catch-up git work that I cherry picked into release)

[2015-03-18 16:01] #5593 closed

[2015-03-18 16:04] zmerlynn commented on #5593
(But please reopen if not!)

[2015-03-18 16:12] vmarmol commented on #5599
I can replicate this locally, will get a fix. In the meantime, the workaround for a single binary is to use straight-up cgo: `godep go build github.com/GoogleCloudPlatform/cmd/kube-apiserver`

Sorry for the churn!

[2015-03-18 16:19] brendandburns commented on #5553
Ah, yes. Closing as a dupe of #5093

[2015-03-18 16:19] #5553 closed

[2015-03-18 16:19] rajatchopra commented on #5507
Coming with blinkers on from #3350 and #5069, the networking plugins are going to be quite decoupled. There are already networking plugins that are thinking of multiple interfaces per pod. With that in mind, max_pods_per_host sounds like a decent please-all counter.
For any other needs, could we have a cluster wide object with annotations on it? So, any plugin can make use of any opaque object tha

[2015-03-18 16:39] jvkersch commented on #5593
Thanks @zmerlynn, that looks like it will fix things!

Is there any value in removing the `cpu` keyword from the RabbitMQ example, since it doesn't look like it carries any significance? Please let me know if I've misunderstood this.

[2015-03-18 16:50] zmerlynn commented on #5472
@bgrant0607: I actually don't disagree with most of what you said, but we might disagree on the timelines to get there. I think we've been bleeding long enough on the front, with no concrete definition of what a cluster is at initial deployment. Some of that definition is definitely going to change over time:

* I'd love to get to a world where the master is configured identical to nodes. This is

[2015-03-18 16:53] vmarmol commented on #5599
I think the issue is that these scripts were not meant to be called in this way. These scripts try to "install" the binary which by default Go tries to install in the GOROOT. This fails today because we started appending "cgo" to those paths. It succeeds when run inside the Docker build container though:

[code]

and those get copied out as expected. I'm not sure this is worth fixing as things lik

[2015-03-18 16:55] ncdc commented on #5599
I normally just run `make` and then `hack/local-up-cluster.sh`. So this definitely hinders my typical workflow.

[2015-03-18 16:55] ncdc commented on #5599
That said, if there's a better way to get the same results (i.e. your build/run.sh example?) I can switch.

[2015-03-18 16:58] derekwaynecarr commented on #5599
I ran into this yesterday as well.

I had to manually install cgo (which was also a pain to do for some reason dealing with permissions).

I think the ./build/run.sh script is fine, but I don't think we actively document that approach anywhere on the Kubernetes repo as an example.

----- Original Message -----
From: "Victor Marmol" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <k

[2015-03-18 16:59] derekwaynecarr commented on #5599
I am in favor of letting folks run hack/build-go.sh on their host if at all possible.

----- Original Message -----
From: "Andy Goldstein" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Sent: Wednesday, March 18, 2015 12:56:15 PM
Subject: Re: [kubernetes] Permission denied errors building master (#5599)

That said, if there's a better way to get the

[2015-03-18 17:00] vmarmol commented on #5599
Ah `make` is failing, that we'll need to fix. Will look into it.

[2015-03-18 17:00] ncdc commented on #5599
Yeah, it's `hack/build-go.sh` via `make`

[2015-03-18 17:01] vmarmol commented on #5599
@ncdc after that, you expect the binaries to be in `_output` I'm guessing?

[2015-03-18 17:02] ncdc commented on #5599
@vmarmol correct, in `_output`

[2015-03-18 17:04] fabioy opened #5601 "Proposal to create a stress and fault injection tool"
While the codebase contains unit tests and some e2e tests, I think there's a need for some tool and/or framework to do some stress/reliability testing (with some fault injection as well). This is akin to ChaosMonkey, but lighter and targeted to k8s. The need for this type of tool arose during my planning for master process recovery, but it'd be a useful tool to have in general.

The outline of the

[2015-03-18 17:05] vishh commented on #2098
And there is #4685 which attempts to replace '/stats' end point.

On Tue, Mar 17, 2015 at 10:18 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-18 17:14] #4561 closed

[2015-03-18 17:31] thockin commented on #5585
if it is the same container it should behave the same :)

On Tue, Mar 17, 2015 at 9:59 PM, David Oppenheimer <notifications@github.com

[2015-03-18 17:31] bprashanth commented on #5548
To sum up the concerns in this thread, the idea of having a selector cache is useful, but one does not need to push something as an individual resource into etcd to be able to watch it. Say you had an rc for each of your 2 dbs, they could in theory do:

[code]

Even though labels are not a resource in etcd, because the apiserver supports http long polling. Is there additional functionality you're

[2015-03-18 17:32] thockin commented on #3764
we might keep some naming stuff, just so 'docker ps' is useful, but we can
stop jamming 6 or 7 fields into the name.

On Tue, Mar 17, 2015 at 10:10 AM, Timothy St. Clair <
notifications@github.com> wrote:

[2015-03-18 17:41] yujuhong commented on #5585
What version of docker and what OS were you using?

I can't reproduce this problem at all. I ran the following command in two terminals.
`docker run -i ubuntu /bin/bash -c "trap 'echo term ; exit' SIGTERM ; echo waiting ;  read"`

Then I `docker stop` both of them, and both processes printed "term" and exit.

[2015-03-18 17:43] dchen1107 commented on #3764
Cool, the label PR was merged to docker 1.6.

Yes, we did plan to cleanup naming mess by pushing container hash and uid to metadata, only leaving container name, pod name and namespace. But before that we need to make sure query based on labels does work as what we expected and there is no significant performance downgrade.

[2015-03-18 17:53] derekwaynecarr commented on #5548
I added client side caching that supports indexing a while ago:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/cache/store.go#L261

I think the scale-out problem is really limited with our current goals for 1.0, and the only areas I could see where we have a potential problem is with pods.  The pod queries are only problematic with respect to those that cross namespace bo

[2015-03-18 17:55] vmarmol commented on #5538
@gmarek I looked but I was unable to find one so we can re-purpose this one for that. The main issue I find is lack of coverage. That's to blame for the last two breakages it could have caught. Arguably, unit tests could have done the same for both errors so far.

[2015-03-18 17:57] jlowdermilk commented on #5599
The fix that worked for some of us for the permission denied errors is in #5514

[2015-03-18 17:59] vmarmol commented on #5599
A fix (as @jlowdermilk points out) is to manually create that directory (`sudo mkdir /usr/lib/golang/pkg/linux_amd64_cgo/`), but that feels wrong...I guess we can surface that suggestion when we hit the error and continue from there.

[2015-03-18 18:00] derekwaynecarr commented on #5514
I think we should separate our build calls from some script that says you must first install these go tools.  In general, our scripts should verify any go tools are available prior to trying to install and run them.

[2015-03-18 18:00] ncdc commented on #5599
I can't say I'm particularly interested in using `sudo` or making the dir world writable.

[2015-03-18 18:01] derekwaynecarr commented on #5599
We need to make the script verify the user has installed the necessary go tools as a prereq to running the script.  We need to them make a script to actually tell the user to run X in order to install the prerequisite go tools.

[2015-03-18 18:02] vmarmol commented on #5599
@derekwaynecarr what Go tools are missing? and what platform are you running on? In Linux, the default Go installation includes everything.

[2015-03-18 18:03] derekwaynecarr commented on #5599
@vmarmol I am on Fedora 20 ... I had to manually install cgo yesterday to get around the problem.

[2015-03-18 18:04] vmarmol commented on #5599
@derekwaynecarr interesting I didn't know cgo was a thing to install. Do you mean gccgo?

[2015-03-18 18:08] derekwaynecarr commented on #5599
@vmarmol - I had to manually run $go install -installsuffix cgo with a user that had authority to write to the directory this PR mentions.  Which meant I had to sudo and ensure my sudo user had the GOPATH set right.

----- Original Message -----
From: "Victor Marmol" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>

[2015-03-18 18:14] wojtek-t commented on #5538
I agree that it't not only the case of integration tests, but also quite low unit tests coverage.
But adding more sophisticated unit tests is also a good move :)

[2015-03-18 18:18] bprashanth commented on #5548
We can't watch pods till we start syncing their status (or it might work because of some implementation detail of the pod cache but it won't be pretty), IIUC the change to sync pod status should be in soon. Once we have that we can essentially watch updates to pods/status.

Currently, the rc has a poll loop with a totally artificial delay of 10s. This means if i kill pods of an rc, it will take th

[2015-03-18 18:24] piosz commented on #3933
So @brendandburns, @bgrant0607 what is actual priority of this issue? I can do it.

[2015-03-18 18:35] derekwaynecarr commented on #5579
@hurf - creating a pod is fast.  what happens after a pod is created can take indeterminate amoutn of time - scheduling a pod to a kubelet, kubelet pulling the image, and having a running container as pod.  there are plenty of things I can get right away from a pod after its created that makes feeding it into xargs useful.  It's uid is an immediately valuable thing for one.

For other resource typ

[2015-03-18 19:00] piosz commented on #5268
I noticed the same problem #5431 and fixed it temporary by increasing timeout #5452. The goal is to create ELB asynchronously and @brendandburns is working on it #5180.

ELB is the only way to connect with application for users and it should be included in guestbook example - the most popular kubernetes example. And the test is testing actually guestbook example so it should use the same pod/servi

[2015-03-18 19:00] #5268 closed

[2015-03-18 19:01] piosz opened #5604 "Create e2e test that will test external load balancer"
Follow up from #5268

[2015-03-18 19:07] jayunit100 commented on #5465
(bump) @satnam6502 @brendandburns :).  any updated thoughts on this?   I'd like to get some shell of a system in place that we could start cleaning examples up slowly into

[2015-03-18 19:15] jlowdermilk commented on #5539
Ah, so your build is actually failing on the integration test, which requires a working  [etcd](https://github.com/coreos/etcd/releases/tag/v2.0.0) installation. You can either follow that link to install, or you can build without running the integration by doing
[code]

Let me know if that works for you.

[2015-03-18 19:20] brendandburns commented on #3933
Low.  Its one of the last things I'd do before v1.0, and I think we could
clearly ship 1.0 without it.  Improving the swagger api doc generation (and
docs in general) is way higher priority, for example.

Brendan
On Mar 18, 2015 11:25 AM, "Piotr Szczesniak" <notifications@github.com>
wrote:

[2015-03-18 19:43] davidopp commented on #5585
Thanks for looking into it, Yu-Ju. I emailed the person who had the problem to tell him we couldn't reproduce it, and here's what he said:

I looked a bit more into it earlier this week and figured out what the problem was. Nothing wrong with docker or kubernetes.

Since the script was doing a sleep 15, SIGTERM was not handled by bash until the sleep subprocess had terminated. Seems like bash is n

[2015-03-18 19:43] #5585 closed

[2015-03-18 19:47] timothysc commented on #4561
So in the case of deletion, we're now seeing are is gobs traffic on deletion trying to send updated status and the api server presenting NOT-FOUND.

Easy repro:
1. run density tests
2. start traffic monitoring on api-server  ** tcpdump -nnvvXSs 1514 'tcp port 8080 and (((ip[2:2] - ((ip[0]&0xf)<<2)) - ((tcp[12]&0xf0)>>2)) != 0)' **
3. Wait for cleanup..

[2015-03-18 19:54] nikhiljindal commented on #2131
In v1beta3, the query param name has been changed from "labels" to "label-selector" and "fields" to "field-selector"
For ex: /api/v1beta1/pods?labels=name=xyz will change to /api/v1beta3/pods?label-selector=name=xyz

[2015-03-18 20:10] abonas commented on #2131
@nikhiljindal thank you. I'll update the client accordingly.
can you also elaborate/refer me to docs about the field-selector - what is this param represent?

[2015-03-18 20:12] satnam6502 commented on #5465
@jayunit100 : utterly swamped right now, but I shall try to respond later if I can -- sorry for the delay.

[2015-03-18 20:22] ArtfulCoder commented on #5599
I am checking if we can have go install create the cgo library in a different non-root-protected path.

@derekwaynecarr @vmarmol @thockin

[2015-03-18 20:26] satnam6502 opened #5606 "kube-up for e2e hangs"
I've made several attempts to bring up an e2e cluster and they all get stuck at the last step below.

[code]

[2015-03-18 20:27] derekwaynecarr commented on #5599
I think if you set $GOTOOLS to a different location, it will use that, but I have not tried.

----- Original Message -----
From: "Abhi Shah" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Sent: Wednesday, March 18, 2015 4:22:56 PM
Subject: Re: [kubernetes] Permission denied errors building master (#5599)

I am ch

[2015-03-18 20:32] proppy opened #5607 "add support for host devices"
It would be nice if the [container api payload](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L372) had support for exposing host devices to the container (like `docker run --device` does).

The kubelet could pass it [go-dockerclient](https://github.com/fsouza/go-dockerclient) once they add support for it (https://github.com/fsouza/go-dockerclient/issues/24

[2015-03-18 20:35] nikhiljindal commented on #2131
Yes. We do not have any documentation around field-selectors.
Not sure if thats because we do not want external clients to use it @bgrant0607 ?

Similar to label-selectors, you can specify field-selectors as query params, primarily to LIST and WATCH.
Right now, only pods and events support them.
For ex: If you want a list of all unscheduled pods, you can access:
`/api/v1beta1/pods?field-selector=D

[2015-03-18 20:35] satnam6502 opened #5608 "Proposal: Support cluster info via API"
It would make end to end tests much saner if we could have programs ask the cluster they are connected to about its characteristics:
* The provider.
* What add-ons are enabled (e.g. monitoring, logging, DNS).

etc.

How about something like:
[code]
to retrieve a JSON object that contains such information?

Then we can blow away lots of information in flags and environment variables.

[2015-03-18 20:36] satnam6502 commented on #5608
@zmerlynn @ixdy @quinton-hoole

[2015-03-18 20:38] satnam6502 commented on #5606
After a very long time this worked.

[2015-03-18 20:38] #5606 closed

[2015-03-18 20:48] brendandburns commented on #5590
What does kubectl version report?
On Mar 18, 2015 3:26 AM, "Kai Qiang Wu" <notifications@github.com> wrote:

[2015-03-18 20:48] brendandburns commented on #2131
@abonas, with my recent PR, the query params for v1beta3 are
'label-selector' and 'field-selector'

Brendan
On Mar 18, 2015 1:45 AM, "abonas" <notifications@github.com> wrote:

[2015-03-18 20:48] brendandburns commented on #5589
I believe that the --etcd_servers flag should be a comma separated list of
all servers for an HA etcd deployment.

Can you try that?

If that's not the problem, then it's something in the etcd client library
and we'll need to dog in more.

Brendan
On Mar 18, 2015 3:24 AM, "Lénaïc Huard" <notifications@github.com> wrote:

[2015-03-18 20:55] zmerlynn commented on #5608
I'd actually like to get this as part of #5472. Some way for things to query the existing "as deployed" state.

[2015-03-18 20:56] zmerlynn commented on #5608
Though that obnoxiously does mean it's a real API object, versus just a client side versioned object as originally proposed. Hrm.

[2015-03-18 20:57] abonas commented on #2131
@nikhiljindal thank you!

[2015-03-18 20:58] jlowdermilk commented on #5509
I'm actually now a bit curious if that behavior is expected. @lavalamp, does anything in the request/response look amiss to you? The apiserver returning 404 service not found on that first request seems intentional.

[2015-03-18 21:00] smarterclayton commented on #5581
run-container should support an additional option which is --command.  It's pretty common in the "i have this image, I want to run it" that the thing I want to run isn't the default command, or is a variant on the default command where I add options and flags.  For example, I have an image that starts apache.  I want to try testing it with debug flags because it's not working when I go the "normal

[2015-03-18 21:01] zmerlynn commented on #5608
But, separately, I don't think the tests want to query a monolithic cluster object. As I've ranted before, I think the tests in general want to query for fine grained *capabilities*, and we have coarsely lumped these in with very specific providers that are currently able to provide them (sometimes variably!). For example, it's only whimsically that gce providers most of the services for most of t

[2015-03-18 21:01] bgrant0607 commented on #5581
Ok.Totally agree.

[2015-03-18 21:09] smarterclayton commented on #2098
The logs and remote execution endpoints are somewhat special - I would save those for last, because https://github.com/GoogleCloudPlatform/kubernetes/issues/3481 will change how they behave on the apiserver and we're likely to want the kubelet API to be consistent (same options).  @csrwng

----- Original Message -----

[2015-03-18 21:09] smarterclayton commented on #3481
@csrwng is going to start working on this.

[2015-03-18 21:10] fgrzadkowski commented on #4897
Apparently publicIPs can be a hostname sometimes (e.g. for AWS ELB). See #5228 and #5224 for more details.

Closing this issue.

[2015-03-18 21:10] #4897 closed

[2015-03-18 21:11] dchen1107 opened #5611 "Data race found in kubelet TestFreeSpaceRemoveByLeastRecentlyUsed"
[code]

[2015-03-18 21:12] dchen1107 commented on #5611
cc/ @vmarmol

[2015-03-18 21:12] fgrzadkowski commented on #4897
FYI - #5228 added a comment to types.go about expected value of publicIPs, so this should be more obvious what to put there in the future.

[2015-03-18 21:24] smarterclayton commented on #5278
One wrinkle - should all include "namespaced" resources and "cluster resources", just "namespaced resources", or just "resources you actually have access to view" (because there will be some in that list that an end user probably won't have access to list)

----- Original Message -----

[2015-03-18 21:33] smarterclayton commented on #5548
There should only ever (probably) be one type of cache per resource.  The indexes on that cache should be defined.  Eventually, it should be possible to watch on the cache or the associated reflector (as well as do catch up) so that we don't create one etcd watch per API client.  To do this, we need to get better at making Registry interface match Client interface, and have consistent mapping of e

[2015-03-18 21:42] alex-mohr commented on #5241
FWIW, there was some discussion at the kubernetes conference where it might make sense to keep a targetpool-per-service.

In particular, we might be able to remove the 2 layers of loadbalancing targetpool->kubeproxy->pod if we had a TargetPoolController that watched each service and dynamically programmed it with only the VMs hosting that service's pods.

Note that GCE.HealthChecks can also be ass

[2015-03-18 21:42] satnam6502 commented on #5608
Seems like @zmerlynn has this in hand.

[2015-03-18 21:42] #5608 closed

[2015-03-18 21:43] yujuhong opened #5615 "Create a pod manager in kubelet to manage internal pods and mirror pods"
This is resulted from the discussion of #5401 and #5555.

Kubelet keeps an array of pods internally and use a lock to protect its access. The same lock is used to protect the access of the internal mirror pod map, as this map needs to be in sync with pods.  We should create a pod manager which manages all such data structures for code clarity and to prevent obscure bugs from being injected.

We ma

[2015-03-18 22:04] pravisankar commented on #4752
I no longer able to reproduce the problem on latest k8s code. Yay issue fixed.

[2015-03-18 22:04] #4752 closed

[2015-03-18 22:06] jayunit100 commented on #5354
Just leaving a note for folks getting this I found that I got this `127.0.0.1:4194: connection refused` when starting with no api-server version flag `KUBE_API_ARGS="--runtime_config=api/v1beta1"` fixed it for me.

[2015-03-18 22:14] vishh opened #5616 "Heapster should collect compute resource usage of core cluster components"
This requires running all the components in a separate cgroup (or docker containers)

[2015-03-18 22:17] vishh opened #5617 "Heapster should generate pod and node lifecycle events."
Heapster needs to watch pod and node status updates and generate appropriate metrics such as container restarts, oom kills, node failures, etc.

[2015-03-18 22:21] vishh opened #5618 "Expand heapster metric backend to expose all available metrics"
Currently heapster exposes cpu, memory and network stats. It needs to expose filesystem, diskio and container load stats. More details on the metrics can be inferred from the cadvisor API [here](https://github.com/google/cadvisor/blob/master/info/v1/container.go)

[2015-03-18 22:35] rjnagal commented on #3823
fixed by #5240

[2015-03-18 22:35] #3823 closed

[2015-03-18 22:41] vmarmol commented on #4561
Sent out #5619 to lower and spread that load. It lowers the qps from 100 to ~9.

[2015-03-18 22:46] davidopp commented on #1353
I discussed with @bgrant0607 and @thockin in person. The summary from my perspective is that for some users the ReplicationController semantics are not well-matched to their mental model, but longer-term we anticipate some users will interact with something different, for example a Deployment object that uses a model people may be more familiar with (for example, one 1:1 correspondence to a micro-

[2015-03-18 22:53] jayunit100 commented on #5465
if anyone can  suggest a minimal viable first iteration , then  we can start moving forward and try some things out.  ive suggested just one idea above, but not married to it.

[2015-03-18 22:54] zmerlynn opened #5621 "Node startup stuck in Salt daemon killing loop"
While trying to roll 0.13.1 out for GKE, @cjcullen ran into an issue with the #5119 work where we ended up stuck in a loop at startup time trying to kill the Salt minion, here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L148

Apparently it's a little racy with pidfiles and Salt starting, sigh.

[2015-03-18 22:56] dchen1107 commented on #5616
Most components are going to run as pod, such as etcd server and master components. Kubelet and docker itself are excluded for now.

[2015-03-18 23:09] bgrant0607 commented on #3933
@brendandburns This comes up in many API code reviews.

I just did:
[code]

Building and testing now.

[2015-03-18 23:21] bprashanth commented on #5548
I think there are 2 issues being discussed here and we should pare down to just 1 (@xudifsd 's gsoc proposal). I think we agree that pushing selectors into etcd sounds like a bad idea, and implementing a lookup/reverse lookup of labels -> resources in the apiserver is out of scope for 1.0.

However, we don't have to commit right now to a caching technique across the board. In general I feel there

[2015-03-18 23:29] vmarmol commented on #4561
After discussions with @bgrant0607 and @dchen1107, they suggested to only update the status when it changes and on startup. The heartbeat will be handled by the node controller rather than per-pod. I'll file a separate issue for that and #5619  will go in for now.

[2015-03-18 23:30] vmarmol opened #5624 "Update Pod status when it changes"
Pod status should only be updated when it changes and when the Kubelet first starts.

/cc @bgrant0607 @dchen1107 @fgrzadkowski

[2015-03-18 23:32] bgrant0607 commented on #3933
Failures, most likely due to things using the internal rep. where they should not:
[code]

[2015-03-18 23:39] HackToday commented on #5590
Hi @brendandburns , since my env is I have one kubernetes cluster setup before. In another machine, I installed the latest 0.11.0 to use its cli: kubectl to call remote kubernetes cluster. Info as below:

[fedora@kqcontainer ~]$ kubectl version  -s http://192.168.1.231:8080
Client Version: version.Info{Major:"0", Minor:"11+", GitVersion:"v0.11.0-dirty", GitCommit:"18ddff0eb6bc069b41832ce47d19b5b89

[2015-03-18 23:42] bgrant0607 opened #5625 "Remove json tags from pkg/client/clientcmd/api/types.go"
Forked from #3933.

The internal representation should never be serialized, so it shouldn't have json tags, and it most certainly should depend on the presence of json tags on pkg/api/types.go. Please remove this dependency.

In particular, pkg/client/clientcmd/api/types_test.go serializes objects directly from the internal representation without applying the appropriate conversion to the v1 types

[2015-03-18 23:51] jmreicha opened #5626 "Allow DNS names to be used in service publicIP's list"
I am working on automating Kubernetes deployments and was wondering how difficult (if it is even possible even) to add support for DNS names in the service publicIP definition.

For example, I am spinning up nodes dynamically so I often don't know the IP in advance which makes it difficult to script.  My thought was that referencing a DNS name there might make automation easier.

So instead of thi

[2015-03-19 00:00] countspongebob commented on #5465
Newish to the project, so please be gentle. :-)

We had a longish internal conversation on this today. We are working in two areas related to the topic. The first is a bunch of showcase setup (cassandra, opscenter, load generation, etc) that will be good example code. We have been using @brendandburns code as our starting point. So, having a contribution guideline for this gets a +1 from us.

The

[2015-03-19 00:01] proppy commented on #5607
So it's now fixed on the go-dockerclient side https://github.com/fsouza/go-dockerclient/commit/e4fcc92bd5588da5e50f491ebecf631349299c0f

[2015-03-19 00:06] vmarmol opened #5628 "TestServeExecInContainerIdleTimeout is Flaky"
I've had a few of my latest submits fail because of this test being flaky:

[code]

[2015-03-19 00:07] bgrant0607 commented on #3955
Found that the test for template-based printing in kubectl (resource_printer_test.go) failed when I removed the json tags on api/types.go for #3933.

[2015-03-19 00:11] bgrant0607 commented on #3933
Kubelet test failure is probably due to a stray use of api.ContainerManifest here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/bdc1981eb5260f7baa456529b0e3cad9198c4ed3/pkg/kubelet/config/http_test.go#L155

[2015-03-19 00:15] bgrant0607 commented on #3933
Since I determined what doesn't work, removed from 1.0 milestone and demoted priority.

[2015-03-19 00:17] zmerlynn opened #5629 "Networking test timing out on Jenkins"
cc @ixdy @satnam6502

[code]

[2015-03-19 00:18] zmerlynn commented on #5629
I think we need to revert the PRs that went in

[2015-03-19 00:18] zmerlynn commented on #5629
(The later commits, not the namespace one.)

[2015-03-19 00:25] zmerlynn commented on #5629
Wait, no. It's been timing out since 11am.

[2015-03-19 00:25] thockin commented on #5626
The problem here is that the resolution of a DNS name can change over
time.  Accepting a DNS name here implies that we will respect DNS TTL and
refresh the resolved IP periodically.  That's some work we would rather
avoid.  It's not SUPER difficult it's just not something we do today.

On Wed, Mar 18, 2015 at 4:52 PM, Josh Reichardt <notifications@github.com>
wrote:

[2015-03-19 00:26] bgrant0607 opened #5630 "Update pkg/kubelet/config to v1beta3"
This isn't strictly blocking v1beta3 enablement #5475, nor did it block elimination of BoundPods. However, at some point prior to 1.0 we're going to nuke ContainerManifest and v1beta1. Kubelet should start consuming v1beta3 sooner rather than later.

Additionally, pkg/kubelet/config/http_test.go serializes api.ContainerManifest in several places. The internal representation should never be seriali

[2015-03-19 00:29] satnam6502 commented on #5629
Yes, I am noticing it too and I think there might be deadlock somewhere which occurs just as the test tries to leave the running state to pass.

[2015-03-19 00:36] zmerlynn commented on #5629
I really wanted to blame you, but the first failure is at git `v0.12.0-882-g7269960`, which is shortly before your first PR went in. :)

[2015-03-19 00:40] satnam6502 commented on #5629
I can't see what's in that which would cause the networking test to break?

On Wed, Mar 18, 2015 at 5:37 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-03-19 00:43] bprashanth commented on #5629
fwiw i had this failing an ~hour ago but not on rebase

[2015-03-19 00:43] zmerlynn commented on #5629
My guess is that it's #5555.

[2015-03-19 00:45] yujuhong commented on #5630
There is a WIP PR for reading pods: #5598. BoundPods have been removed in kubelet already.

#5632 to fix http_test.go

[2015-03-19 00:47] jmreicha commented on #5626
@thockin I understand :)

The other thing I'm working out how to do right now is how to handle if a server goes down that is hosting a service.  Right now I am just deleting the service by hand and recreating it with updated IP addresses.  Is there a better way to do this?

[2015-03-19 01:00] #5621 closed

[2015-03-19 01:03] satnam6502 commented on #5629
The tests seem to work for me:
[code]

[2015-03-19 01:08] yujuhong commented on #3933
#5632 fixes the Kubelet test.

[2015-03-19 01:16] vmarmol opened #5634 "Start all Kubelet housekeepings in Run"
Today we do this in:
- NewMainKubelet()
- After NewMainKubeler()
- During Run()

We should centralize all of these in one place, the two main candidates are NewMainKubelet() and Run(). Placing these in Run() lets us not run them during RunOnce() which is most likely the intended outcome.

[2015-03-19 01:24] #5611 closed

[2015-03-19 01:28] yujuhong commented on #5634
I'd like to have an interface defined for all the housekeepers, but that's besides the point :)

[2015-03-19 01:35] satnam6502 commented on #5465
So, indeed, right now things are scattered around. For example, Dockerfiles are in contrib/for-tests. contrib/for-demos etc. and in cluster/addons/.... and in other GitHub repos (cAdvisor). Some of this is organic, some of this reflects the fact that some Docker images have multiple uses (examples, e2e tests etc.)

First, I think we should not conflate the following situations:
* Making sure that

[2015-03-19 01:46] hurf commented on #5579
@derekwaynecarr - thanks derek, the first part is exactly what I want to say. And the second part shows me the necessity of using xargs.

But is my understanding on modify get/delete/describe to resolve args from messages correct?

[2015-03-19 02:00] brendandburns commented on #5590
That's a super old server version (0.6.0)

What instructions are you using for set up?

I'd recommend upgrading your server binaries...

Brendan
On Mar 18, 2015 7:39 PM, "Kai Qiang Wu" <notifications@github.com> wrote:

[2015-03-19 02:05] thockin commented on #5626
A service in general should be independent of any one host.  This is only
not true if you have your publicIPs set to a single host IP.  You should be
able to put all of your host IPs into publicIPs and get rid of the SPOF.
On Mar 18, 2015 5:48 PM, "Josh Reichardt" <notifications@github.com> wrote:

[2015-03-19 02:21] vishh opened #5637 "Heapster should aggregate custom metrics of core cluster components"
The api server and the kubelet now expose custom metrics. These are useful for introspection and performance analysis of the system. Heapster needs to aggregate them and push to monitoring backends.

[2015-03-19 02:22] vishh opened #5638 "Heapster collects node and pod events"
Events are helpful for traceability and system performance analysis. Long term storage of event data will be in a monitoring/storage backend of user's choice. Heapster is well suited for being an events proxy since it is built to handle multiple backends.

[2015-03-19 02:25] vishh opened #5639 "Heapster should expose a pod and node stats via a REST endpoint"
Heapster will act as the 'stats aggregator' in kubernetes. Heapster needs to expose a REST API that will be used by scheduler, auto pilot and other components that care about pod or node resource usage.

[2015-03-19 02:32] vishh opened #5640 "Add a heapster monitoring backend that provides both alerting and graphing functionalities"
Heapster with InfluxDB and Grafana provides a simple monitoring visualization solution. But alerting is critical to users and providing an off the box monitoring solution that supports alerting will help users.
Possible candidates include,
- Google Cloud Monitoring
- Prometheus
- Bosun + InfluxDB
- Reimann + InfluxDB
- Sensu

There are quite a few other solutions that are not captured here. The go

[2015-03-19 02:35] bgrant0607 commented on #2131
Correct, @nikhiljindal. field-selector is an "internal" mechanism that isn't ready for broad usage, until #1362 is resolved.

[2015-03-19 02:57] dchen1107 commented on #5638
cc/ @saad-ali is doing some similar work. Let's not duplicated the efforts on this.

[2015-03-19 03:16] HackToday commented on #5590
Hi @brendandburns
1) I am not sure why we not support that case ?

2) if I have a know cluster, how to upgrade smoothly without break anything?

[2015-03-19 03:20] HackToday commented on #5590
if upgrade is inevitable, what would I do for such upgrade ? Do you have guide for such case ?

[2015-03-19 03:59] thockin commented on #1353
I think there's a certain amount of re-education that people will
eventually want to undergo to adapt to the kubernetes mental model, but I
do think something like a deployment object could ease the transitions and
provide a lot of value.

I know @smarterclayton and his gang have done some work here already, but I
am not very familiar with their design.

On Wed, Mar 18, 2015 at 3:46 PM, David Oppe

[2015-03-19 04:39] derekwaynecarr commented on #5548
A mechanism to lookup by UID seems valuable long term and a current gap.

[2015-03-19 04:48] derekwaynecarr commented on #5579
I think the implication was that it would be good to return "pods www" so you could take the result and pass it into kubectl get, and have it be equivalent to "kubectl get pods www".  @smarterclayton chime in if I misunderstood

[2015-03-19 04:57] davidopp commented on #5207
@jszczepkowski or @nikhiljindal can you summarize what remains to be done for this issue?

[2015-03-19 05:00] davidopp commented on #4135
This issues seems to have fallen through the cracks (last update was a month ago). @ddysher are you planning to work on this in the next week or so? If not, @yujuhong would you be interested in taking over this issue again?

[2015-03-19 05:19] bgrant0607 commented on #5207
@davidopp Take a look at #5501 if you like.

[2015-03-19 05:27] davidopp commented on #5207
Can you explain how #5501 is related to this issue? Brian listed four things here
https://github.com/GoogleCloudPlatform/kubernetes/issues/5207#issuecomment-77969711
but that doesn't seem to correspond to any of them (I may be missing something though).

[2015-03-19 06:02] #4536 closed

[2015-03-19 06:05] bgrant0607 commented on #5472
@zmerlynn I didn't really understand what problem(s) you were trying to address with your original proposal. The title of the issue was much more broad than the proposal, and there was no context with respect to previous proposals, such as #2303.

A single command with subcommands that consumes configuration would be superior to the hodgepodge of scripts we currently have -- a cluster deployment C

[2015-03-19 06:07] bgrant0607 commented on #5207
https://github.com/GoogleCloudPlatform/kubernetes/issues/5207#issuecomment-78613182

[2015-03-19 06:42] gmarek commented on #5548
I'm not certain that it's out of scope for 1.0. We're currently not fast enough for LIST operations, and some kind indexing is one of ideas how to make it better.

[2015-03-19 06:50] davidopp commented on #3326
Ping? This issue hasn't been updated in 2 weeks.

[2015-03-19 06:53] davidopp commented on #3952
Can I close this and just assume we'll notice when working on #3954 if this is still a problem?

[2015-03-19 06:56] davidopp commented on #1872
@derekwaynecarr Can we close this?

[2015-03-19 06:57] davidopp commented on #1625
@thockin OK to close this, as @vmarmol suggested?

[2015-03-19 06:59] davidopp commented on #3985
@ddysher Do you think you'll be able to do this soon, or should we reassign?

[2015-03-19 07:03] thockin commented on #1625
OK

On Wed, Mar 18, 2015 at 11:57 PM, David Oppenheimer <
notifications@github.com> wrote:

[2015-03-19 07:03] davidopp commented on #1473
Should we consider this required for 1.0? Sorry for the super-naive question, but how are we handling this today? Do we only test v1? Which tests actually depend on the API version?

[2015-03-19 07:04] jszczepkowski commented on #5207
@davidopp Out of four steps listed, three are already done. The only step missing is running fit predicates on kubelet. There is an open PR for it #5501, on which I'm working on: resource predicates is already implemented and I'm now working on node selector.

[2015-03-19 07:25] piosz commented on #5586
How long does it take to compile the project for you? It takes <1 minute to compile it on my desktop and as for me it's a very good time in comparison to any other project I used to work.

[2015-03-19 09:18] piosz opened #5643 "kubectl create should not work with both resource and -f specified"
[code]

[2015-03-19 09:24] piosz commented on #5643
cc @gmarek

[2015-03-19 10:02] wojtek-t commented on #5630
Thanks for the http_test.go fix @yujuhong !

cc @vmarmol
As for this issue, I think that #3372 is a prerequisite for this. I'm currently working on adding a support for reading Pods via http source (#5598). Once done with it, I will also modify the file channel.

As soon as both are done, I think we can start thinking of getting rid of support for ContainerManifest from there. I'm also happy to wo

[2015-03-19 10:03] gmarek commented on #5643
When deleting/stopping using file, you don't specify resource (in this case 'pod'), as it's inferred from the file.

[2015-03-19 10:10] fgrzadkowski commented on #5624
As this is a follow up of #4561 I'll work on this.

[2015-03-19 10:23] piosz commented on #5643
Thanks and sorry for confusion

[2015-03-19 10:25] piosz commented on #5643
Ok, but `kub create pod -f examples/guestbook/v1beta3/ --api-version="v1beta3"` should not work as well.

[2015-03-19 10:39] gmarek commented on #4651
Can someone provide an update on this issue? Do we want to add even simple validation for references in events, or did we dropped this idea? If we do, then I guess this is also blocked on decision if Nodes will be namespaced or not as in https://github.com/GoogleCloudPlatform/kubernetes/pull/4396#issuecomment-77305656.

@bgrant0607

[2015-03-19 10:54] wojtek-t commented on #5615
+1 - I think it will simplify the code a lot

[2015-03-19 11:19] gmarek commented on #5006
I'll try to make it a bit better for GCE. Though I must say that I never had any problem in figuring out what went wrong, as it usually is a problem with some leftover GCE resources. @a-robinson: do you have any particular problem that should be reported better?

[2015-03-19 11:35] errordeveloper opened #5644 "util/exec should have timeouts"
One should never expect an external program to exit timely. I think there should be `exec()`, which exhibits a default timeout, and `spawn()`, which is not expected to exit. This becomes most critical in the context of #5069.

[2015-03-19 11:43] kbeecher commented on #3476
@bgrant0607 Sorry for the delay, I had to jump onto another project for a while.

To answer your question, I couldn't find any other operations not using EtcdHelper. However there is a FakeEtcdClient, which I think is only used by test files.

[2015-03-19 12:14] dimafujitsu commented on #5539
thanks. this trick working.
without passed integration tests, but enough for continue working.

[2015-03-19 12:34] deads2k commented on #5625
We're also using them when reflecting down and navigating through the structure for setting values and the in-memory versions are used by the template expressions.

I can take a go at this, but there will be ripples.  The most obvious is that expressions like
[code]
will be replaced by
[code]

I've heard rumors that we may be relaxing the restriction on "never serialize a map".  Is that true?  Sho

[2015-03-19 12:51] pires commented on #5640
/cc @ilidiomartins

[2015-03-19 12:51] pires commented on #5639
/cc @ilidiomartins

[2015-03-19 12:52] pires commented on #5638
/cc @ilidiomartins

[2015-03-19 13:16] pires opened #5647 "Services seem broken in 0.13.x"
* Deploy a `replicationcontroller` (you can use `examples/cassandra`) with `replicas=2`
* Deploy a `service`
* Try to access the service, or you can check `iptables -t nat -L` and look for `KUBE-PORTALS-HOST` chain

On `0.12.2`
[code]

On `0.13.{1,2}`
[code]

* Now, try to `resize --replicas=4 replicationcontroller cassandra`
And check for pods being in state `UNASSIGNED`.

[2015-03-19 13:18] pires commented on #5647
/cc @antoniomeireles @ggarson

[2015-03-19 13:19] pires commented on #5647
You can also try to run a naked pod and just access `KUBERNETES_RO_SERVICES_HOST`. See https://github.com/pires/kubernetes-vagrant-coreos-cluster/issues/50

[2015-03-19 13:48] timothysc opened #5650 "apiserver server non-responsive"
**Issue:**
With recent changes, we've shifted the burden from a collective hammering of etcd to shift the hammering through the apiserver.  As a result we're now seeing the apiserver go non-responsive at times.  This is fairly easy to reproduce:

**Setup:**
23 Node x 40 core per node cluster
Client Version: version.Info{Major:"0", Minor:"12+", GitVersion:"v0.12.0-912-g52e1ee9d5b96c8", GitCommit:"5

[2015-03-19 13:59] jayunit100 commented on #5465
Hi satnam, the `Makefile` suggestion does make sense as a stop-gap, assuming no unified resource for kube containers is going to be created.

[2015-03-19 14:24] derekwaynecarr commented on #5650
The replication controller needs to not make 1000 concurrent requests and needs to rate limit how quickly it spawns pods.  There is a separate issue on this that I need to find, but I continue to believe we are better served not being fancy and just size up in sequence until we have bulk pod creation.

[2015-03-19 14:32] satnam6502 commented on #5465
Shall we consider a few specific examples? Shall we consider how the k8petstore example would work in such a scheme?

[2015-03-19 14:39] derekwaynecarr commented on #1872
I may come back and do more clean-up in this area, but for now, I will close the issue.

[2015-03-19 14:39] #1872 closed

[2015-03-19 15:05] vmarmol commented on #4135
I think @dchen1107 is working on this. She was blocked waiting on some cAdvisor data which is now in.

[2015-03-19 15:06] deads2k opened #5652 "authorize API requests in the API and non-API separately"
There are currently two different ways of determining request information: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/handlers.go#L264 and the system of record: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/api_installer.go#L97 that actually dispatches the calls.

Having two mechanisms for determining what verb/namespace/resource/subre

[2015-03-19 15:08] siddhsuper commented on #5509
Hi All,

Apologies for the late reply!

I have tried the same again with the below details through JS and same is happening in the second attempt its creating the Services.

But trying through REST Client : It's working good!

URL: https://104.155.222.182/api/v1beta1//services
Body:
{
  "apiVersion": "v1beta1",
  "kind": "Service",
  "id": "enterpriseweb-service",
  "port": 3000,
  "containerPort"

[2015-03-19 15:10] timothysc commented on #5650
@derekwaynecarr it's more then the rc now, there is a feedback loop in the system from the nodes now.

[2015-03-19 15:15] vmarmol commented on #5650
On the node side #5624 should significantly lower the load on the master. I think that is the bulk of the problem. We should have a separate issue (or this one) for the rc rate-limiting.

[2015-03-19 15:15] derekwaynecarr commented on #5278
Is this a listing call or is it just short-hand for user typing:

kubectl describe pods foo
kubectl describe services foo
kubectl describe namespaces foo
...

In general, not all of resource types support describe yet if I recall, so that should probably be resolved first.

----- Original Message -----
From: "Clayton Coleman" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kuberne

[2015-03-19 15:21] #5539 closed

[2015-03-19 15:28] vmarmol commented on #5630
@wojtek-t since the Container VM relies on, and we publish examples using, the ContainerManifest I don't think we can remove our ability to take it in just yet. We should at least announce the deprecation in Container VMs and change all our examples. A tool to change manifests would be nice too, I think we can do that today easily as well.

[2015-03-19 15:28] yujuhong commented on #4932
@bgrant0607, should we document this somewhere (e.g. api/v1betaX/types.go?). Validation is not versioned, so any change would apply to all existing APIs.

[2015-03-19 15:30] satnam6502 commented on #3085
How does this relate to PATCH? #4706
Should a PUT without a resource version really be a PATCH?
In which case, rather change a PUT without a resource version into a PUT with the most recent resource version work, perhaps we should just return a more specific error message?
Or should such a PUT just be silently translated into a PATCH?

[2015-03-19 15:38] jayunit100 opened #5653 "If provider flag not given to e2e tests, exits(1) with misleading message."
running ` go run ./cmd/e2e/e2e.go` directly from source without `--provider`, you get a message that conformance test is going to run, but then, it kube just exits(1).

We should notify that its a failure and we are exiting, shouldn't we?

[2015-03-19 15:39] timothysc opened #5654 "Scheduling plateaus due to POD killing"
Following the same test outlined in #5650, you can trace the events and will notice that one of the major reasons why the ramp curve for startup is non-linear, and has plateaus, is due to the pod killing done by the controllers, giving incorrect feedback into the system.

Using the soak test that @jayunit100 you can see a graphical representation of this.

**Related Issues:**
https://github.com/Go

[2015-03-19 15:53] smarterclayton commented on #5278
Short hand.  Eventually might be server calculated and cached locally in the config

[2015-03-19 15:54] zmerlynn commented on #5629
This test is now passing with gusto. I'm confused.

[2015-03-19 15:56] timothysc opened #5655 "'kubectl stop rc' cleanup time taking >> then before."
Running the same test listed in #5650 shows that the cleanup time now appears to take orders of magnitude longer then before.  It used to take ~1 minute for the same test, now takes >> 5+ Minutes to clean the cluster.

kubectl get pods shows all clear but a pdsh `docker ps` on the cluster shows pods running for an extended length of time.

[2015-03-19 15:56] smarterclayton commented on #5652
In general api_installer knows exactly what to tell policy.  By definition, if you're not using api_installer you dont want api behavior.  So I would say all api calls are handled one way, everything else is by definition not an api call and falls into the "by path" access check.  That would address @erictune's original concern about being able to bypass access control by accident - api installer

[2015-03-19 15:57] zmerlynn commented on #5653
You should be running this using the wrapper(s). See https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/development.md

[2015-03-19 15:57] #5653 closed

[2015-03-19 16:01] smarterclayton commented on #5579
pods/www was proposed.

[2015-03-19 16:02] brendandburns commented on #5590
Kai,
In theory it should work.  However there have been lots of changes between
0.6 and head that are probably why its not working.  It would be useful to
see the error that the server is sending back to understand what isn't
working properly.

Upgrade isn't really very well supported right now.  Its one of the
requirements for our 1.0 release, but upgrading from 0.6 to a more recrent
release is g

[2015-03-19 16:17] thockin commented on #5647
Can you clarify what isn't working?  I can spin up a GCE cluster and ping
from pod-to-pod and hit services.

Could it be a flannel thing on CoreOS?

On Thu, Mar 19, 2015 at 6:19 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-03-19 16:24] vmarmol commented on #5354
@jayunit100 this is an error you saw on the apiserve logs?

[2015-03-19 16:24] zmerlynn commented on #5472
@bgrant0607: This is an improvement to UX, and it's *the first* UX that the end-user sees. That UX isn't `kubectl`, etc., today the first UX they see is either a hodge-podge Getting Started guide, or `kube-up.sh`, if they're lucky. If they run `kube-up.sh`, they get a wall of really ugly text output, and have about a 99% chance of creating a cluster (on GCE). Is that the first touch you want from

[2015-03-19 16:29] xudifsd commented on #5548
ok, it seems putting selector into etcd is a bad idea.

I was planning to use etcd because I don't know any other method for server to notify changes to selector result.

Since apiserver supports http long-polling like @bprashanth said, maybe we could do something like

[code]

and version is unique, monotonically-incrementing integer created for each change to selector. The long-polling returns o

[2015-03-19 16:36] pires commented on #5647
I'm testing CoreOS 681.0.0 and doesn't work with `0.13.x` but works with `0.12.2`. The only difference I'm spotting here is that the iptables rules are not set correctly when using `0.13.x`, as stated in the issue description.

Will try and gather more feedback.

[2015-03-19 16:37] lavalamp commented on #3954
@timothysc you definitely will want to make sure you have #5446 if you do something that speeds up the scheduler.

I'm not sure what you're referring to with "latency in the reflector". There is a delay in there, but it should only be used for preventing hot loops in the case where the list/watch continuously fails. What exactly are you setting?

[2015-03-19 16:40] lavalamp commented on #5650
Someone is working on rate-limiting requests, but I can't recall who. I think there's an issue already open for it.

[2015-03-19 16:45] kbeecher commented on #3476
I rebased my WIP with the latest master. Here: https://github.com/endocode/kubernetes/commit/6fe7ff902847bc077fd86032da4383d818ae090a

Do you think this is in a state to start a PR?

[2015-03-19 16:48] lhuard1A commented on #5589
Good point about the `--etcd_servers`. Following your advice, I submitted #5656.

Unfortunately, it doesn’t solve the issue. Here is what I have now:
* `kube-apiserver` is connected to all the etcd nodes of the cluster:
[code]

* Check which etcd node is the leader (it is `kubernetes-minion-1` `192.168.10.2`) :
[code]

* Try to freeze a non-leader etcd node:
[code]

* `kube-apiserver` is still res

[2015-03-19 16:49] bprashanth commented on #5548
@gmarek we can solve the perf problems with simpler client side lookups. LIST is fairly fast if you do it once, just not once per rc. Daniel's controller framework should help too.

[2015-03-19 16:50] mulloymorrow commented on #4914
HA proxy seems to be helpful here: https://robertianhawdon.me.uk/2014/02/11/sysops-installing-a-high-availability-redis-service-on-centos-6-x-in-windows-azure/

[2015-03-19 16:51] mulloymorrow commented on #5091
HAProxy might be helpful here: https://robertianhawdon.me.uk/2014/02/11/sysops-installing-a-high-availability-redis-service-on-centos-6-x-in-windows-azure/

[2015-03-19 16:53] bgrant0607 commented on #5625
Referring to the internal representation in such template expressions is an abstraction violation and is not the solution to your problem.

Re. maps: Current plan is to stick to lists, but please comment on #4889 with your use case.

Re. Go templates: Comment on #4348.

Another alternative would be to use jq or something similar.

[2015-03-19 16:54] thockin commented on #5647
Ah, I missed the iptables bit.

Is kube-proxy runnign?  Can you show me what flags it is running (ps auxw |
grep kube-proxy)?

Can you send me the logs from kube-proxy?

On Thu, Mar 19, 2015 at 9:37 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-03-19 16:57] lavalamp commented on #5654
Why are controllers killing pods? That's probably not the root cause. (More probable: too many/conflicting pods assigned to a single host, kubelet sets pods to failed. #5446 should greatly reduce this problem though.)

Alternatively, the controller is reacting too fast, starting N pods, then noticing only M are running and starting another N-M pods, then later killing N-M pods. This would be a tru

[2015-03-19 17:00] bprashanth commented on #4992
You'd still need to teach the validation strategy to run through the node spec right?

[2015-03-19 17:03] lavalamp commented on #3952
**TL;DR: when a pod starts running on kubelet, it should take < 5 seconds for apiserver to show it as running.** Really this should say something about tail latency, but let's say 50th percentile for now. Then we can close this bug when the pod status is written by kubelet and not computed by pod cache, which I do not believe is the case yet. @dchen1107 do you know who is owning that?

[2015-03-19 17:05] pires commented on #5647
I spotted the difference. In `0.13.x` the flag `--etcd_servers` is gone in favor of `--master`.

Will try and close if it works.

[2015-03-19 17:08] pires commented on #5647
Why the usage of `--master` in `kube-proxy` and `--api_servers` in `kubelet`? `--help` also doesn't specify the URL format (or it it's an URL at all).

[2015-03-19 17:08] lavalamp commented on #5650
What is the timing between the `get pods` calls? Note that the number of pending pods isn't that informative, since you don't know if it's the same pods that are pending; you really want to know how many are pending vs. running vs failed.

[2015-03-19 17:11] alex-mohr commented on #3952
@davidopp this tracks separate exit criteria: there's a separate delay after a pod is scheduled, so I clarified title.  If you want to re-word #3954 to track e2e latency for X pods to appear as running after being sent to apiserver, that'd also be fine.

[2015-03-19 17:13] bgrant0607 commented on #4348
We shouldn't be exposing the Go representation, even for the versioned API types. Whatever templates we expose, if any, should be in terms of the json field names/paths.

What we really need is a Go implementation of [jq](http://stedolan.github.io/jq/). However, jq at least is [C code](https://github.com/stedolan/jq), so we could just invoke it via [cgo](https://golang.org/cmd/cgo/), though I know

[2015-03-19 17:13] gmarek commented on #5548
@bprashanth: Thanks, good to know. I didn't know what the current status is, and I remember Brendan saying that there's a problem with it.

[2015-03-19 17:18] bgrant0607 commented on #3476
@kbeecher Thanks! Yes, looks pretty good. Just needs a test that changing the prefix actually does what it's supposed to do.

[2015-03-19 17:19] derekwaynecarr commented on #3476
@kbeecher I reviewed as well and thought it looked pretty good.  please open a PR

----- Original Message -----
From: "Brian Grant" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Sent: Thursday, March 19, 2015 1:18:46 PM
Subject: Re: [kubernetes] Make Kubernetes etcd prefix configurable (#3476)

@kbeecher Thanks!

[2015-03-19 17:20] wojtek-t commented on #5630
Thanks Victor. Just few questions:
1. How/where should we announce deprecation?
2. Can you point me to Container VM code/examples so that I can change them?
Once Kubelet supports reading pods via http & config file, I'm happy to start changing our examples (and also create such tool).

[2015-03-19 17:27] thockin opened #5657 "Kubelet can orphan pod dirs"
In a pathological case, it seems that kubelet's pod-dirs (a checkpoint, more or less) can get orphaned.

1) create pod
2) kubelet crashes
3) api server deletes pod
4) docker containers for that pod die
5) kubelet restarts

The /var/lib/kubelet/pods/$uid dir is orphaned.

Kubelet should look for orphaned pods by scanning that and checking the live state and deleteing anything that it can, same as w

[2015-03-19 17:27] thockin commented on #5657
@dchen1107

[2015-03-19 17:28] bgrant0607 commented on #5630
@vmarmol @wojtek-t ContainerVM is not a product. It is used by internal teams. However, we're not committed to continuing to improve and evolve ContainerVM for them. We should announce the deprecation of ContainerVM ASAP. We're definitely going to nuke it along with the rest of v1beta1 if not sooner.

[2015-03-19 17:30] derekwaynecarr commented on #5278
If its short-hand it should just be "all cluster scoped resources with name foo and all namespace scoped resources in current namespace context name foo".

----- Original Message -----
From: "Clayton Coleman" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Sent: Thursday, March 19, 2015 11:53:39 AM
Subject: Re: [k

[2015-03-19 17:32] vmarmol commented on #5657
Assigning to myself.

[2015-03-19 17:39] davidopp commented on #3952
@lavalamp is that #5555?

[2015-03-19 17:41] pires commented on #5647
Works with `--master` but will leave this since I'm seeing some people discussing this on IRC as well. Feel free to close it.

[2015-03-19 17:44] thockin commented on #5657
Related: Let's be cautious about expanding checkpointing - it is tempting
to drop more info into these dirs, and it would overall make kubelet
cleaner (e.g. I'd LOVE to get rid of volume Builder/Cleaner).  I think we
SHOULD checkpoint more but we should put energy into a common way to do
that reliably, given our wealth of scars around this from internal work :)

On Thu, Mar 19, 2015 at 10:32 AM, V

[2015-03-19 17:45] bgrant0607 commented on #5472
`kubedeploy` SGTM.

As for directory location, why not put the code parallel to `kubectl` directories, in `cmd` and `pkg`?

[2015-03-19 17:45] thockin commented on #5647
We're moving away from direct etcd access in favor of going through our API
server

On Thu, Mar 19, 2015 at 10:41 AM, Paulo Pires <notifications@github.com>
wrote:

[2015-03-19 17:46] a-robinson commented on #5006
I think the GCE resource problems you've experienced have been part of the kube-up commands that run on your local machine, right?

As an example of something that would be useful, it'd be great if we checked whether commands that could fail actually succeeded or failed rather than always assuming they succeeded and continuing.

I opened this issue after getting frustrated from spending a couple h

[2015-03-19 17:46] dchen1107 commented on #5630
@bgrant0607 That is what I thought for a while until EricH pointed me this public page: https://cloud.google.com/compute/docs/containers/container_vms

Sounds like we talked about it, but no real action is performed.

[2015-03-19 17:49] davidopp commented on #5650
@lavalamp Are you thinking of #3312?

[2015-03-19 17:58] gmarek commented on #5006
OK, thanks for the clarification. First thing I'm working on is actually removing some things that are printed during turnup. I find quite a lot of info printed on the screen to be rather useless (e.g. multiple kubectl Running:...  logs)

[2015-03-19 18:03] #5524 closed

[2015-03-19 18:03] dchen1107 commented on #5657
In a long term (not v1 blocker though), we need a disk manager in kubelet like what I mentioned in another PR review since image GC is indeed related to Container GC. Cleaning up those orphan dirs is another example. We should have a consistent policy on container / image / pod recycle.

[2015-03-19 18:05] thockin commented on #5657
My point was that the existence of those dirs is a checkpoint of sorts - we
can use that for better cleanup, but we should proceed carefully :)

On Thu, Mar 19, 2015 at 11:04 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-03-19 18:06] deads2k commented on #5625
@jlowdermilk I know you added the templates to enable some pieces of scripting to work nicely.  I can see a few hits in the code tree that I think I can fix.  Are there additional ripples on your side (jenkins or whatever other tools you have for automated testing)?

[2015-03-19 18:12] deads2k commented on #4348
I'm not familiar with jq, but since we serialize lists of objects with a name element instead of serialize maps, we need to be sure that it is possible to reference particular elements of the logical map.  One example we have today is referencing pieces of a .kubeconfig file.  Referencing a map-like element of a list by key looks like this in the go template format:
[code]

That pulls out the serv

[2015-03-19 18:14] bprashanth commented on #5548
@xudifsd:
* @lavalamp 's opinions on this would be indispensible, since he cryptically said https://github.com/GoogleCloudPlatform/kubernetes/issues/4817#issuecomment-76482950 and I know he has thoughts on a caching layer (i believe he's in next week)
* Don't think we want to start of by giving the selectors themselves a resource version

lets start with fleshing out the requirements before jumpin

[2015-03-19 18:18] thockin opened #5658 "extend mount.Interface to include IsMountPoint(path)"
Almost every volume that mounts something ends up having to test whether the thing is mounted, which means stubbing out IsMountPoint().  We should probably just make that part of the interface.

[2015-03-19 18:20] thockin opened #5659 "Need example: NFS server"
Now that #4601 is merged it would be great to have an example pod that ran an NFS server against a GCEPD (for now, and a persistent volume when it is in)

[2015-03-19 18:22] davidopp commented on #2334
This was closed by #5063.

[2015-03-19 18:22] #2334 closed

[2015-03-19 18:22] saad-ali commented on #5638
Good idea @vishh. My vision for events is an event proxy that can pipe events to a swapable persistent store--which aligns with what you're proposing here. Current proposal for event handling is outlined in #4432. I'm working on part b of that proposal right now. I'll sync up with you once I'm done with that.

[2015-03-19 18:25] yujuhong commented on #5339
I couldn't reproduce this issue.

What works for me:
`http://127.0.0.1:8080/api/v1beta1/proxy/pods/frontend-controller-ls6k1`
`http://127.0.0.1:8080/api/v1beta3/proxy/pods/frontend-controller-ls6k1`
`http://127.0.0.1:8080/api/v1beta3/proxy/namespaces/default/pods/frontend-controller-ls6k1`

All of them returned the correct page, while all other combinations returned 404.
This is consistent with th

[2015-03-19 18:25] roberthbailey opened #5660 "Make it easy to include a kubernetes client library in a separate Go project"
Right now if you want to create an application that talks to the kubernetes apiserver you can either put the code into the kubernetes GitHub repository or you can include the entire repository as a dependency (as OpenShift does). Neither of these options is particularly compelling if all you want to do is have a dependency on a client library that makes it simple to communicate with the apiserver.

[2015-03-19 18:27] satnam6502 commented on #2334
Where is the high level documentation about Kubernetes?

[2015-03-19 18:29] derekwaynecarr commented on #5548
I will add that I expect if I do

(1) GET /api/version/namespaces/foo/pods
(2) GET /api/version/namespaces/foo/pods?labels=...&fields=...

Both (1) and (2) should be served by the same cache and have the same staleness characteristic.

Generally, this means that the api server just holds everything in memory, and serves results from the same backing store for queries filtered by label or not.

Mak

[2015-03-19 18:35] nikhiljindal commented on #1473
Yes. We were testing only v1beta1.
I recently submitted a PR to test both versions (v1beta1 and 3) in our integration tests: https://github.com/GoogleCloudPlatform/kubernetes/pull/5587
I am now working on updating other tests as well.
Tracking that as part of: https://github.com/GoogleCloudPlatform/kubernetes/issues/5475

[2015-03-19 18:38] davidopp commented on #2334
https://github.com/GoogleCloudPlatform/kubernetes/blob/361c208a7dd3684a9130d1d8a91093a835fd1880/docs/overview.md

feel free to reopen this issue and assign to yourself if you are interested in pursuing it further. Realistically I don't think we're going to have more time to work on this in the near future given that we have > 100 open issues tagged with milestone 1.0.

[2015-03-19 18:40] derekwaynecarr commented on #5650
@davidopp - no, different issue.

[2015-03-19 18:43] mulloymorrow commented on #4914
Mike working on a solution: https://github.com/mikedanese/k8s-haproxy/commits?author=mikedanese

[2015-03-19 18:43] mulloymorrow commented on #5091
https://github.com/mikedanese/k8s-haproxy/commits?author=mikedanese

[2015-03-19 18:59] derekwaynecarr commented on #5283
Is this reproducible still?

[2015-03-19 19:01] piosz commented on #5091
It's actually not related. The problem was not with redis itself but with distributing redis address over containers.

[2015-03-19 19:03] derekwaynecarr commented on #5286
It should be prevented setting Namespace.Namespace here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L206

Were you able to set it on create or update?

[2015-03-19 19:07] gmarek commented on #5507
Friendly ping

[2015-03-19 19:10] smarterclayton commented on #5278
I didn't really intend to support "all <name>" - instead you'd have to say "pods/foo nodes/foo".  That way create can do "pods/foo\nnodes/foo" and you can xargs it.  If you specify a resource type for arg1 i don't think you should be allowed to specify anything except label selectors or --all.

----- Original Message -----

[2015-03-19 19:11] smarterclayton commented on #4992
Yes

[2015-03-19 19:13] zmerlynn commented on #5006
This got cleaned up a lot in 0.13, when I made the startup script `errexit`, and changed the `motd` so that it made it clear that the node setup was borked if you logged into a node that was incomplete. Now this situation is pretty clear if the node setup is broken: you login, and it tells you tail the startup script, which *should* have the error. That's not always the most educational, but it's

[2015-03-19 19:15] bprashanth commented on #4992
@kazegusuri

[2015-03-19 19:17] zmerlynn commented on #5006
Oh, and for what it's worth, I think @a-robinson was referring to the on-node startup script (now `cluster/gce/configure-vm.sh`), versus `kube-up.sh`

[2015-03-19 19:32] derekwaynecarr commented on #3326
The change to add 127.0.0.1 mapping to etc/hosts for localhost was added here:

https://github.com/GoogleCloudPlatform/kubernetes/pull/5557

Closing this issue.

[2015-03-19 19:32] #3326 closed

[2015-03-19 19:52] smarterclayton commented on #1353
The key requirement for the "micro service / self-updating component" is level based mutation.  With Docker 1.6, it will be possible to do level based updates directly against a registry (although you'll have to poll the registry to do it).  The poll (something has changed from before externally) and the mutation (what do you change within the pod template) are what we call the trigger - a detecte

[2015-03-19 20:01] derekwaynecarr opened #5661 "Release build is broken"
PR: https://github.com/GoogleCloudPlatform/kubernetes/pull/4601

Causes ```$ make release``` to break in our docker builds when building on windows/amd64

_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/pkg/kubelet/volume/nfs/nfs_mount.go:62: undefined: syscall.Unmount

This needs to be using pkg/util/mount/mount.go to abstract this out.

This basically breaks kube-up.sh for an

[2015-03-19 20:02] derekwaynecarr commented on #5661
cc @thockin

[2015-03-19 20:06] derekwaynecarr commented on #5661
Sending a PR to disable the NFS plug-in until it can cross-compile in kubelet/app/plugins.go

[2015-03-19 20:07] satnam6502 commented on #2334
Thanks. I have on my long list of TODOs to write an ACM Queue article about Kubernetes. I hope some of that material could be contributed back here.

[2015-03-19 20:14] thockin opened #5663 "Plugins EscapePluginName (and unescape) should be in util"
EscapeQualifiedNameForDisk() or something like that

[2015-03-19 20:14] derekwaynecarr commented on #5661
PR https://github.com/GoogleCloudPlatform/kubernetes/pull/5662 fixes build.

The plug-in is disabled in the PR for compilation until a follow-on PR is sent to fix using the mount library.

[2015-03-19 20:19] gmarek commented on #5006
Right. I got it mixed up. Too many overloaded terms around:/

[2015-03-19 20:26] timothysc commented on #5654
@lavalamp the merge for #5446 was done 3 days ago, this test was from tip of last night.

Correction: "is due to the pod killing done by the controllers" - I don't know exactly who is doing the killing, that is a supposition on my part ^

[2015-03-19 20:29] davidopp commented on #267
See also #3168

[2015-03-19 20:30] saad-ali commented on #5638
Sync'd with @vishh offline, we agreed that we have the same long term goals (an event proxy able to pipe events to any persistent store), and so it makes sense to align our efforts early (and avoid duplicating work). I will be pivoting my proposal in #4432 to use heapster instead of creating a separate process inside a container that uses the API server to fetch events and stores them to a log on

[2015-03-19 20:36] saad-ali commented on #4432
After sync'ing with @vishh, we agreed that we have the same long term goals (an event proxy able to pipe events to any persistent store), and so we will align our efforts (and avoid duplicating work). Instead of creating a separate process inside a container that uses the API server to fetch events and stores them to a log on disk (part b of the original proposal), I will use heapster to act as th

[2015-03-19 20:39] roberthbailey commented on #5006
It sounds like this can be closed then?

[2015-03-19 20:40] roberthbailey commented on #4720
@yawnt have you had a chance to test this again with a 0.12.x cluster (0.12.2 is the latest)?

[2015-03-19 20:41] alex-mohr opened #5665 "CloudProvider reconciler/controller for required dependencies"
A number of resources in Kubernetes need to be synced with the cloud provider -- disks, VMs, load balancers.  See e.g. https://github.com/GoogleCloudPlatform/kubernetes/issues/5180

Options are:
- Each XController has a big switch statement and calls out to the appropriate provider when a matching resource needs create/delete/update.  For Nodes (VMs), LoadBalancers, firewalls, etc.
- There's a Clo

[2015-03-19 20:46] timothysc commented on #5650
@lavalamp ~2-4 seconds between calls.  Yes, Ideally I would like to know the complete status, right now I'm just doing basic verification.

@derekwaynecarr are you referring to *this: #4866

[2015-03-19 20:49] yawnt commented on #4720
Sorry, no I wasn't aware 0.12.x had been rolled out. I can't test right now but will in the future. If you prefer we can close this (given what @cjcullen said) and I can reopen in case I hit the same problem?

Thanks!

[2015-03-19 20:50] derekwaynecarr commented on #5650
@timothysc  - yes!

----- Original Message -----
From: "Timothy St. Clair" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Sent: Thursday, March 19, 2015 4:46:47 PM
Subject: Re: [kubernetes] apiserver server non-responsive (#5650)

@lavalamp ~2-4 seconds between calls.  Yes, Ideally I would like to know the comple

[2015-03-19 20:53] davidopp commented on #2959
I'd really like to close this meta-issue in favor of separate issues for each item. This entire meta-issue is labeled as 1.0, which is deceptive because not all items are for 1.0. Also I'm not sure what some of the bullets mean. Here is my understanding of the issues that correspond to @ddysher 's list, and their current status. Could someone ( perhaps @ddysher or @bgrant0607 ) please verify/clari

[2015-03-19 20:55] roberthbailey commented on #4720
I'm happy to leave it open for a while if you think you'll find time to test because we'd really like to know that PDs are working properly and we've fixed the bug you encountered. If you don't think you'll get to it any time soon then we can close this and see if anyone else reports a problem with PDs.

[2015-03-19 20:56] alex-mohr commented on #4630
We need to support deletion of clusters, both for GKE and for e.g. e2e tests.  The master will create and delete various CloudProvider objects, so it should own those objects.  We need a way to (a) crease accepting new objects, (b) change desired state for existing objects to does-not-exist, (c) block until the CloudProvider reconciler (or equivalent) finishes actually deleting all of those, then

[2015-03-19 20:58] zmerlynn commented on #5006
Closing. I had a pie-in-the-sky idea about "node phone home and then terminate" that would work especially well for MIGs, but I think we can leave that for a future revision.

[2015-03-19 20:58] #5006 closed

[2015-03-19 21:01] alex-mohr opened #5666 "Nodes and master should continue working after a reboot"
Nodes and master should continue working after a reboot.  That wasn't true for 12.0.  We should add an e2e test for it?

[2015-03-19 21:03] yawnt commented on #4720
Let's close it then, unfortunately the deploy was set back a bit to focus on ironing out some parts of the code, so that's where my focus will be. Thanks for your help anyway, I will make sure to report as soon as I get back to using GKE.

ps: something that would be really really nice would be heterogeneous cluster support ;P

[2015-03-19 21:04] alex-mohr commented on #3579
Zach, can you please update this with remaining work?  And also how upgrading versions where the new version has a new addon will work?

Is this just another reconciler that the master runs for a well-defined set of cluster services, where if DESIRED_LOGGING_ENABLED=true, the controller will make sure the appropriate pod+firewalls+node capabilities+etc are created?  And likewise, it supports disab

[2015-03-19 21:05] alex-mohr commented on #3137
@saad-ali are you actively working on this?

[2015-03-19 21:08] roberthbailey commented on #2984
Closing as a dupe of #4630.

[2015-03-19 21:08] #2984 closed

[2015-03-19 21:10] alex-mohr commented on #2462
Dup of now-fixed https://github.com/GoogleCloudPlatform/kubernetes/issues/4384

[2015-03-19 21:13] saad-ali commented on #3137
I am not. Removed my self as assignee. Feel free to re-assign.

I believe @lavalamp and @satnam6502 were working on a a load generator (see [`test/e2e/density.go`](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/density.go)), not exactly a soak test, but these efforts could be combined.

[2015-03-19 21:14] alex-mohr commented on #2303
We now separately track the items from this uber-proposal that are part of milestone v1, so removing that tag.

[2015-03-19 21:16] spothanis opened #5667 "Add a cloud provider config option on kubelet"
Similar to cloud provider config flag on the Kubernetes Api Server, it will be great if there is a way to do same at the kubelet level through some flag. This will allow us to do any interactions with the cloud provider at kubelet level

[2015-03-19 21:19] jmreicha opened #5668 "kubectl get pod returns running for a pod that is dying"
Don't know if there is another ticket open for this, apologies if there is.  This is on version 0.13.1.

I noticed that if I run `kubectl get pod` I get a pod status of running even though the container I am attempting to start is constantly stopping and starting.  I'm wondering if it would be better to have the default behavior be something else if the container is stuck in a state where it is ha

[2015-03-19 21:20] smarterclayton opened #5669 "Getting lots of seemingly incorrect messages in kubelet log"
[code]

Getting that every few seconds, and it doesn't seem like the right error.  This is on faab509a23e21afe6e4811eadf693d939c17984f

[2015-03-19 21:21] smarterclayton commented on #5669
The container was starting and failing repeatedly (it's the "php" image from docker hub).

[2015-03-19 21:22] zmerlynn opened #5670 "Move from `cmd/e2e` runner to native Ginkgo runner"
This is an off-shoot of https://github.com/onsi/ginkgo/issues/146#issuecomment-83699596. I actually think that the structure of the existing `cmd/e2e` runner is wrong, and that we need to work towards getting the native Ginkgo runner working with our suite(s). This has the following advantages:

* Right now, we pretty much just generate [one suite](https://github.com/GoogleCloudPlatform/kubernetes

[2015-03-19 21:25] alex-mohr commented on #129
I think this will be entirely? done once #3168 is in place -- kubelets only talk to api server and will be secure.  Ditto kubeproxy.  Nodes won't use clustered-salt for setup, but rather per-node salt (for all providers?).  I propose if there are remaining work items, we fork those to specific issues tracking them.

[2015-03-19 21:25] roberthbailey commented on #220
This has all been addressed elsewhere:

* Breaking changes is covered by [versioning.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/versioning.md) which was recently merged.
* Cluster upgrades has spawned lots of issues (see for example #2524).
* We now have releases, with fancy tags and things.

[2015-03-19 21:25] #220 closed

[2015-03-19 21:28] satnam6502 commented on #3137
I can't recall where I left off the conversation -- but I could check in the simple test I wrote which created a N serve_hostname pods using a replication controller and made sure it could read the hostname from each one and it also reported the distribution. Perhaps too simple for a soak? Services, replication controller, pods, networking etc. would have to work for the test to pass so perhaps it

[2015-03-19 21:29] alex-mohr commented on #5487
@satnam6502 ... did it work?  Sorry for the issues!

[2015-03-19 21:29] alex-mohr commented on #5451
@satnam6502 @zmerlynn Was there a verdict from IRC livedebug?

[2015-03-19 21:30] satnam6502 commented on #5670
@ixdy

[2015-03-19 21:33] satnam6502 commented on #5487
Yes, it now works. For each cluster I had to manually delete the e2e network and then it started to work.

[2015-03-19 21:33] #5487 closed

[2015-03-19 21:33] filbranden commented on #5670
Regarding the flags, Ginkgo supports custom flags. See the third example about custom arguments and/or flags with `<PASS-THROUGH>` here:
http://onsi.github.io/ginkgo/#running-tests

I think most of what we need to do here is move them from cmd/e2e to the actual tests in test/e2e, maybe in a common package that is sourced by all the tests.

[2015-03-19 21:34] satnam6502 commented on #5451
Not enough whisky. Or we need to delete the e2e network and retry.

[2015-03-19 21:34] #5451 closed

[2015-03-19 21:35] alex-mohr commented on #5601
Re: prioritization, I think this is useful, but we have higher priority things blocking v1 -- we absolutely must be able to (a) notice when live clusters break and (b) be able to repair them.  A synthetic tool running around fuzzing things helps to increase coverage of the know-ways-for-a-cluster-to-break, but if I had the choice between such a tool and a method of repairing a broken cluster, I'd

[2015-03-19 21:36] roberthbailey commented on #1328
It sounds like this has been resolved. Please reopen if you are still encountering this issue.

[2015-03-19 21:36] #1328 closed

[2015-03-19 21:38] bgrant0607 commented on #4348
A jq example is here: https://github.com/GoogleCloudPlatform/kubernetes/issues/4889#issuecomment-77976473.
`.desiredState.manifest.containers[] | select(.name=="nginx")`

[2015-03-19 21:39] alex-mohr commented on #5589
@davidopp think this falls under team/master?

[2015-03-19 21:39] timothysc commented on #2303
@alex-mohr, @jdef - could we get a new label for tracking mesos-framework integration pieces?

[2015-03-19 21:42] alex-mohr commented on #5472
Tagging this as milestone v1 as it seems like the most expedient path to getting upgrade working.  But we need to be careful not to over-invest in refactoring that isn't in the critical v1 path?

[2015-03-19 21:42] roberthbailey commented on #3348
The docker.socket vs. docker.service was discussed in #1328. It sounds like other than that question this has been resolved.

[2015-03-19 21:42] #3348 closed

[2015-03-19 21:44] bgrant0607 commented on #3985
Probably not worth doing. Let's just wrap up v1beta3.

[2015-03-19 21:44] #3985 closed

[2015-03-19 21:44] alex-mohr commented on #5329
Since OSS k8s supports this via (admittedly nasty?) util.sh environment variable, I've filed a separate GKE bug to track customer-supplied subnets.

Presumably https://github.com/GoogleCloudPlatform/kubernetes/issues/5472 will make OSS better too.

[2015-03-19 21:46] alex-mohr commented on #5191
Looks like https://github.com/GoogleCloudPlatform/kubernetes/pull/5204 fixed?  Please reopen if not!  And thanks Eric!

[2015-03-19 21:46] #5191 closed

[2015-03-19 21:48] bgrant0607 commented on #4651
There is an apiVersion in ObjectReference. Is it not being used?

I'm more concerned about new uses of ObjectReference, such as in Binding, Endpoint, ReplicationController, etc. than in Event.

I don't think Node namespacing will happen soon, if ever.

[2015-03-19 21:50] alex-mohr commented on #4324
I think Instances::IPAddress should always return the primary private IP, and we should have another method for ::ExternalIPAddress that may or may not be present.

[2015-03-19 21:50] onsi commented on #5670
yep - Ginkgo will let you specify custom flags.

`ginkgo` is basically orchestrating and running `go test` under the hood.  I'd recommend structuring the tests as a go tests in `_test` files though that isn't strictly necessary.

If you have two very different populations of tests (e.g. integration tests vs stress tests) make them different suites and pull out any helpers etc. into a shared librar

[2015-03-19 21:50] alex-mohr commented on #4064
Duping with https://github.com/GoogleCloudPlatform/kubernetes/issues/5472

[2015-03-19 21:50] #4064 closed

[2015-03-19 21:51] onsi commented on #5670
Also - I'd be happy to add additional features to support the stress test scenario. `ginkgo stress` sounds like a perfect fit and would be happy to explore that with y'all.

[2015-03-19 21:51] bgrant0607 commented on #4932
Yes, it should be documented, in the field descriptions, such as:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L566

[2015-03-19 21:54] vmarmol opened #5671 "Kubelet: Create a top-level container for pods"
Thanks to @vishh's awesome work, docker/docker#11428 went in with cgroup_parent support! With Docker 1.6 we'll be able to make top-level containers for pods.

[2015-03-19 21:55] alex-mohr commented on #3643
@ddysher are you still looking at this?  if not, could you please summarize and unassign?

[2015-03-19 21:56] smarterclayton opened #5672 "Something calls /version with incorrect user agent "Go 1.1 package http""
I believe

[code]

is coming from the master client, but the standard Kubernetes user-agent that comes out of client.Config is not present.  We should be using client config and making requests that way (so at a minimum the agent is correct).  This is probably a prereq for proper master->node auth, so @liggitt

[2015-03-19 21:57] alex-mohr commented on #128
TODO: audit code for all usage of http instead of https and file separate issues for each non-benign one.  E.g. apiserver to same machine etcd is fine via http.

[2015-03-19 22:01] dchen1107 commented on #5671
Great! I assume you are talking about one top-level kubernetes container as parent for all kubernetes containers to protect our daemons, not per pod container here.

[2015-03-19 22:04] thockin opened #5673 "Network plugin 'exec' should take a param of what dir to probe."
Passed to its ProbeNetworkPlugins()

[2015-03-19 22:08] zmerlynn commented on #3579
## Current status:

We are still in Phase 1, with no immediate plans to move to Phase 2. I've revised the add-on plan to leave out all mention of firewall rules, though, because all add-ons are now going through the proxy instead, making this a little cleaner.

## Upgrade status:

This is a mess. If you "upgrade", which today means `kube-push`, one of two things will happen: (a) you won't reboot,

[2015-03-19 22:10] vishh commented on #5671
A top level cgroup for placing a bounding bucket across all pods mill most
definitely help with node stability.

On Thu, Mar 19, 2015 at 3:01 PM, Dawn Chen <notifications@github.com> wrote:

[2015-03-19 22:14] thockin opened #5674 "Use docker's "parent cgroup" feature"
https://github.com/docker/docker/pull/11428

[2015-03-19 22:16] dchen1107 commented on #5674
Dup of #5671? Or you are talking about per Pod container here?

[2015-03-19 22:18] vmarmol commented on #5671
I was referring to the per-pod containers :) I think if we have that we won't need the container for all kubernetes containers.

[2015-03-19 22:19] alex-mohr commented on #2303
Created label cluster/platform/mesos

On Thu, Mar 19, 2015 at 2:40 PM, Timothy St. Clair <notifications@github.com

[2015-03-19 22:20] dchen1107 commented on #5671
Then this is not for v1.0. In v1.0 there is no resource limit on pod, it doesn't help on node stability at all.

[2015-03-19 22:21] vishh commented on #5671
If users don't set any limits on pods, then per-pod cgroup doesn't provide
much benefit. Reserving some resource for the system daemons will benefit
node stability in the short-term though.
The bounding box will help us implement QOS tiers in the long run.

[2015-03-19 22:23] vmarmol commented on #5671
The bounding box is gonna be a nightmare to migrate off of when we do do per pod limits. We can set aside space today for daemons and allocate the other space for the containers.

[2015-03-19 22:26] zmerlynn opened #5675 "Reboot unlikely to work (at least on GCE)"
I haven't testing it yet, but given what I know of the `configure-vm.sh` script, it's exceedingly unlikely that the startup script will actually run on an already configured node. Apparently reboot is supposed to work.

[2015-03-19 22:27] fabioy commented on #5601
Sure.

If anyone's interested, the WIP tool can be seen here: https://github.com/fabioy/kubernetes/tree/stress-tool/test/stress

Thanks.

[2015-03-19 22:40] alex-mohr opened #5676 "repair unhealthy nodes"
We should repair unhealthy nodes for cloud providers that support it.
Forked from #2959.

[2015-03-19 22:40] alex-mohr commented on #2959
Thanks David.  Filed #5676 for re-provisioning unhealthy nodes.

[2015-03-19 22:44] roberthbailey commented on #4720
Definitely agree. :)

[2015-03-19 22:44] #4720 closed

[2015-03-19 22:47] simon3z commented on #3676
@bgrant0607 what's the status of pod template? Is there anyone actively working on it? Do you think it will be included soon?

Once we'll have pod templates do you think it will be possible to do the same we did for endpoints? (mentioning the object references of the pod instances).

[2015-03-19 22:51] vmarmol commented on #5667
What cloud-provider interactions do you envision from the Kubelet? (Just curious what you had in mind, we don't do any today AFAIK)

[2015-03-19 22:52] spothanis commented on #5667
I was trying write a volume plugin for cinder and wanted to do some operations such as attach and detach volume to instance

[2015-03-19 23:11] #5647 closed

[2015-03-19 23:11] davidopp commented on #3137
@satnam6502 it would be great if you could check that in. I'd like to take a look at all of the benchmarking code, and seeing yours along with the others would be helpful. Please label the PR with the misc/perf-1.0 label. Thanks!

[2015-03-19 23:13] satnam6502 commented on #3137
OK: I will.

[2015-03-19 23:22] davidopp commented on #5207
OK, thanks, please make sure to close this issue when you finish #5501.

[2015-03-19 23:26] dchen1107 commented on #5674
I am closing this one in favor of #5671

[2015-03-19 23:26] #5674 closed

[2015-03-19 23:32] dchen1107 commented on #5669
Ahh it is known issue #5372, and should be fixed by #5395

[2015-03-19 23:35] davidopp commented on #5654
which is "the soak test that @jayunit100" that you're referring to? #5447 ?

[2015-03-19 23:35] dchen1107 commented on #5669
I am closing this one as dup of #5372. Please re-open it if we still observed the issue.

[2015-03-19 23:35] #5669 closed

[2015-03-19 23:42] bgrant0607 commented on #147
--cgroup_parent is in: https://github.com/docker/docker/pull/11428

[2015-03-19 23:42] bgrant0607 commented on #168
--cgroup_parent is in: https://github.com/docker/docker/pull/11428

[2015-03-19 23:42] bprashanth opened #5684 "generic etcd should surface ctx/obj namespace mismatches"
Currently its hard to surface a mismatch context in an update via generic etcd. If I do something like:

[code]

it will fail in the `get` with whatever go-etcd error, because the path /invalid/objname doesn't exist; and if i do:

[code]

it will fail with a resource version mismatch (so `NewConflict`), because the get will return the object in `/valid_different/objname`, but its resource version

[2015-03-19 23:46] bgrant0607 commented on #5671
@vmarmol  Would we need to eliminate the bounding box when implementing per-pod limits?

I'd also like a bounding box to protect pods/containers with limits from those without, by putting the latter into a box.

[2015-03-19 23:47] bgrant0607 commented on #5671
Ref #147, #168.

[2015-03-19 23:55] HackToday commented on #5590
hi @brendandburns  thanks for your info.

I am interesting with 2 things,

1) how to check server errors ? what's the log location?

2) If you talked about migrate workload, I am not sure what's the proper way to do that ? I am not familiar with that.  Any link or guide would be helpful.

[2015-03-19 23:57] rjnagal commented on #4135
I merged cadvisor changes for root and docker images disk info some time back. Image GC is using it now. I can take up the kubelet part if @dchen1107 is busy.

[2015-03-19 23:57] bgrant0607 commented on #3676
@simon3z See PR #5012.

Pods referring to templates (or RCs, since they'll still have embedded templates) from which they were created might be reasonable, perhaps as an annotation. Unlike Endpoints, I don't see an operational need for this, just a UX one.

[2015-03-19 23:59] rjnagal commented on #147
Shall we go ahead with changes to differentiate between jobs with and without limits? Essentially introducing tier2 guarantees for jobs with unspecified limits?

[2015-03-20 00:01] rjnagal commented on #4992
@bprashanth assigned this to myself. Let me know if you were planning to work on it.

[2015-03-20 00:04] vishh commented on #147
+1 for having a limit for all jobs without limits. We need to reserve
resources for the system daemons as well.

On Thu, Mar 19, 2015 at 5:00 PM, Rohit Jnagal <notifications@github.com>
wrote:

[2015-03-20 00:05] davidopp commented on #4135
That would be great.

[2015-03-20 00:08] vishh commented on #5671
I discussed with @vmarmol offline and explained the rationale behind nested
bounding boxes.

On Thu, Mar 19, 2015 at 4:48 PM, Brian Grant <notifications@github.com>
wrote:

[2015-03-20 00:19] bgrant0607 commented on #4630
Discussion is occurring in #5025.

[2015-03-20 00:23] thockin commented on #5599
This keeps biting me too.  Can we just rollback the CGO change and only use
it when building a release?  Is that viable?

Have I ever mentioned how much I despise the go tools?  I just want them to
do something reasonable and NOT try to write to their own base dir.

On Wed, Mar 18, 2015 at 1:28 PM, Derek Carr <notifications@github.com>
wrote:

[2015-03-20 00:28] vishh opened #5688 "Kubelet fails to provide stats for static pods"
Since static pods are now exposed via the apiserver, users (heapster) naturally expect kubelet to provide stats for the static pods.
This is breaking heapster.

cc @yujuhong

[2015-03-20 00:35] vmarmol commented on #5671
For representing QoS tiers, the bounding boxes make sense. Having a top-level container for all containers doesn't buy is much in terms of protecting the node and only partially aligns to our longer term strategies. I just want us to be careful rolling out a hierarchy plan and having that change in the medium term.

I also spoke with @dchen1107 and we agreed that short term this doesn't buy us muc

[2015-03-20 00:39] yujuhong commented on #5688
I am not familiar with stats collection in kubelet. What type of status are you referring here?

[2015-03-20 00:45] dchen1107 commented on #5688
Not status, it is resource related stats here. This is one of initial reason I want to sync static pods back to master.

[2015-03-20 00:49] yujuhong commented on #5688
I think we'll need to support pod translation for the following functions.
[code]
I will work on that.

[2015-03-20 00:49] derekwaynecarr commented on #5684
Doesn't a KeyFunc handle this already with meta.namespacekeyfunc

Sent from my iPhone

[2015-03-20 00:55] bgrant0607 commented on #2959
@davidopp I believe your summary is correct.

Watch by fields -- for example, to watch conditions, for nodes that are ready, not ready, not reachable, etc. Not urgent, I don't think. The broader issue is covered by #1362.

[2015-03-20 01:01] Jamlee opened #5689 "when i run " curl -sS https://get.k8s.io | sh" ,i get error sh: 44: set: Illegal option -o pipefail"
I get error about set.the error information  is "sh: 44: set: Illegal option -o pipefail".my  environment is ubunt 14.10 and docker version is 1.5

[2015-03-20 01:12] bprashanth commented on #5684
It doesn't take the namespace from the objectmeta, it just takes strings and the context (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L117).

So essentially it grabs the namespace from the ctx, the name from the object (via ObjectNameFunc) and constructs the path to the resource using the prefix specified in the constructor (eg: /registry/pods).

[2015-03-20 01:19] vmarmol commented on #5688
On a side note, is Heapster breaking, breaking? Or just complaining loudly?

[2015-03-20 01:29] bgrant0607 commented on #3085
No to all.

Let's just focus on the error message.

I'll take a look at #5690.

[2015-03-20 01:31] smarterclayton commented on #3085
The message looks better than it originally was - I noticed we weren't setting resourceversion on the conflict error, which we need to do.

[2015-03-20 01:36] #5183 closed

[2015-03-20 01:40] bprashanth commented on #4992
oh, no, but @kazegusuri's been doing some node/etcd work off late so just make sure you both don't tread toes :)

[2015-03-20 01:41] eparis commented on #5579
pods/www would have been nice under kubecfg, but kinda stinks for kubectl.  There's not great way with kubectl and xarg....

Personally, I'd rather have the human readable behavior @hurf suggests.  with a -o option which would be useful for xarg type operations....

[2015-03-20 01:44] smarterclayton commented on #5579
Why does it stink for kubectl?  We're not talking about removing the existing syntax.  Resource Builder was specifically designed to allow this.

[2015-03-20 01:48] eparis commented on #5278
kubectl describe seems to know how to handle:
replicationcontroller, service, minion, node, limitrange, resourcequota, pod

kubectl get seems to know how to print something about:
pod, service, event, namespace, node, status, limitrange, resourcequota, replicationcontroller, endpoints, secret

So yeah, kubectl describe isn't nearly as knowledgeable as get

[2015-03-20 01:52] eparis commented on #5579
It stinks because it doesn't work...

# kubectl get pods/redis-master-controller-nyxxv
F0319 21:51:40.065046   10219 get.go:67] Client error processing command: no resource "pods/redis-master-controller-nyxxv" has been defined

Although you're right, it could be changed to understand that older behavior, absolutely.  Anything is possible.

[2015-03-20 02:03] smarterclayton commented on #5579
That's the discussion we are having now and in the other thread - supporting that new syntax, to allow xargs.

[2015-03-20 02:04] smarterclayton commented on #5579
And also to allow -a on get, so you can just get the ids as pods/foo, grep, and feed them back into get.

[2015-03-20 03:02] decker502 opened #5691 "tag 0.13.0 中ubuntu_cluster安装脚本kubelet 错误"
tag: 0.13.0 的
cluster/ubuntu-cluster/default_scripts/kubelet 脚本的11行，应将：

--etcd_servers=http://127.0.0.1:4001 \

改为：
--api_servers=http://MASTER_IP:8080 \

[2015-03-20 03:08] xiang90 commented on #5691
@decker502 Most of the developer are more comfortable with english. Also you can send a pull request to fix this kind of small issue.

[code]

[2015-03-20 03:13] zmerlynn commented on #5689
What shell? We're probably assuming bash. :)

On Thu, Mar 19, 2015 at 6:02 PM, jam lee <notifications@github.com> wrote:

[2015-03-20 03:18] smarterclayton opened #5693 "First timer tick for a pod status update takes too long"
It appears that the first pod status update tick is fired on average 1/2 pod status frequency duration.  This is unnecessarily long - I don't know if we have an existing issue to cover this, but it makes many small, simple pods take up to a minute to report ready (on their first time).  @vmarmol added a note to convert this to a better mechanism, but I wanted to make it obvious.

Some thoughts:

*

[2015-03-20 03:25] decker502 commented on #5691
@xiang90 Ok, I am doing for it.

[2015-03-20 03:25] #5691 closed

[2015-03-20 03:29] vishh commented on #5688
@vmarmol: Heapster fails stats collection all together if kubelet errors out. I have a filed a
heapster [issue](https://github.com/GoogleCloudPlatform/heapster/issues/170) to fix that.

[2015-03-20 03:29] Jamlee commented on #5689
@zmerlynn you are right

[2015-03-20 03:41] xiang90 commented on #5691
@decker502 Thanks!

[2015-03-20 04:05] smarterclayton commented on #5581
Oh, I didn't realize I typo'd the title.... run-container, not rollingupdate

[2015-03-20 04:24] anguslees commented on #2462
Alas, the bug is not yet fixed.  We now have both internal and external addresses from the cloud provider, but those addresses are not being used in many places.  For example, see code like: https://github.com/GoogleCloudPlatform/kubernetes/blob/a8f2cee8c5418676ee33a311fad57d6821d3d29a/pkg/registry/minion/rest.go#L147

[2015-03-20 04:31] derekwaynecarr commented on #5684
Sorry.  Was referring to here:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L119

Sent from my iPhone

[2015-03-20 04:32] anguslees commented on #4384
Note #4434 is not sufficient to address this issue.  The internal and external addresses are now being collected from the cloud provider (yay) ... and _then_ being ignored (afaics).  As the code currently stands, nodes names are still required to be resolvable hostnames.

[2015-03-20 04:35] bprashanth commented on #5684
Ah, yes that's the ns on the context, i'd like to compare that against the ns on the objectmeta of the update payload.

[2015-03-20 04:38] davidopp opened #5695 "Kill pods with unmatched node label"
(due to node label update, etc)

[2015-03-20 04:39] vmarmol commented on #5693
Nice catch! @fgrzadkowski is working on #5624 which should alleviate this issue and is probably the right behavior.

[2015-03-20 04:40] davidopp commented on #2959
Closing this issue, as it appears issues have been filed for the relevant work (I filed #5695 for "kill pods with unmatched node label" just now.) We can use the label Brian created (component/nodecontroller) to track node controller work items now and in the future, which I think is preferable to using a meta-issue.

[2015-03-20 04:40] #2959 closed

[2015-03-20 04:49] derekwaynecarr commented on #5684
Seems like we could do something in validation.go in the object meta update possibly.

Sent from my iPhone

[2015-03-20 04:50] netroby opened #5696 "Need gcc installed by default for vagrant auto install vbguest"
I am trying to setup kubernetes demo with vagrant, but i got problem with mount share folders.

I usually install vagrant-vbguest to auto update vbguest inside the guest machine.

i suggest kubernetes can installed gcc , that vbguest can compile and install vbugest for us

[code]

if you want vbguest plugin auto install vbguest for you , you need install

[code]

[2015-03-20 04:56] roberthbailey commented on #5339
@yujuhong I haven't had a chance to re-test this yet, but I did notice that your url with the default namespace is written as `proxy/namespaces/default` while mine was `ns/default/proxy` (without namespaces spelled out). Did you try with ns instead of namespaces?

[2015-03-20 05:00] bprashanth commented on #5684
Yeah, `BeforeUpdate` (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L288) would be the perfect spot, but it won't get there. It'll fail before in 1 of 2 ways:

1. The object under the bad ns doesn't exist: it'll fail with whatever error go-etcd returns (https://github.com/GoogleCloudPlatform/kubernetes/blob/1291401c2ec48be26cf28a15778d5b3c2248d3ea/

[2015-03-20 05:10] erictune commented on #5691
@decker502 I think your issue is fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/5245

[2015-03-20 05:18] bprashanth commented on #5695
The node controller is already aware of edge transitions ( https://github.com/GoogleCloudPlatform/kubernetes/blob/b2ed6b325550fd5f73ddb1bcf6c259c8e91e964e/pkg/cloudprovider/controller/nodecontroller.go#L347), currently the only transition its capable of detecting is an unhealthy node. One conceivable solution would be to teach it to react to other edge transitions triggered off a watch, like an up

[2015-03-20 05:33] piosz opened #5698 "Add colors to output of kubectl clusterinfo command"
As requested in #5694

[2015-03-20 05:42] satnam6502 commented on #5698
Thank you! That was quick!

[2015-03-20 05:49] netroby opened #5699 "kubernetes on vagrant boot up error message"
[code]

[2015-03-20 06:09] ixdy commented on #1473
As I commented in #5687, I'm a bit worried about testing all API versions in hack/test-go.sh by default. This will result in `make test`

[2015-03-20 06:14] dchen1107 commented on #5688
@vishh how come the monitor e2e test couldn't detect such failure at the first place?

[2015-03-20 06:18] ashw7n commented on #5667
Basically we need the ability to authenticate against Openstack and get some information about the current minion for the purposes of attaching a block device (from the cinder block storage subsystem) on the minion. We could distribute this config (among others) through salt at the provisioning time and could include keys/credentials to access the cloud apis.

[2015-03-20 06:29] jayunit100 commented on #3137
am currently working some  on a `soak.go` implementation as well in the e2e/'s which is more comprehensive (using k8petstore).  it should be a good compliment to satnams isolated soak.  ill open a pr within a few days for that as well

[2015-03-20 06:34] jayunit100 commented on #5654
thats a way you can visualize this - when the job starts, the throughput is constant for a long time, and then jumps.   A screenshot of the graphing part of the app is here (the plateau is not included in this timeslice) https://cloud.githubusercontent.com/assets/826111/6604156/0091d88a-c7fd-11e4-983a-c414e92220cd.jpg.  in any case you can also pol the number of pods that are running

[code]
3
3
3

[2015-03-20 06:40] decker502 commented on #5691
@erictune Thanks!

[2015-03-20 07:29] gmarek commented on #4196
FYI: I was trying to reproduce this problem last week and failed.

[2015-03-20 08:10] davidopp opened #5701 "Rename ConditionFull to ConditionTrue and rename ConditionNone to ConditionFalse"
The current names seem confusing. Is there any reason why the more standard True and False wouldn't be better? Since this is in the API, if we are going to change this we need to do it ASAP.

[2015-03-20 08:19] fgrzadkowski commented on #4932
I'll send a PR for this.

[2015-03-20 08:27] kazegusuri commented on #4992
ValidateMinion and ValidateMinionUpdate are called even for now, and they are called via strategy once #5441 is merged.
I haven't touched validations to Node yet, so please do it thanks.

[2015-03-20 08:27] fgrzadkowski commented on #5693
I hope to fix this by #5624.

[2015-03-20 08:28] hurf commented on #5579
@smarterclayton - delivering pods/www to following command looks fine. But still unfriendly to humans. What about messages like 'Creating pod www', in a format of action/type/id? I think that would be easy to understand by human and also can be handled by the machine.

[2015-03-20 08:29] gmarek commented on #5548
I'm slightly worried by mixing terms 'index' and 'cache'. For me former means keeping indexed labels in memory and reading full data from etcd (I believe labels will be changing far less often than other 'content'), while the latter means keeping in-memory copy of whole etcd and serving results from it.

[2015-03-20 09:20] cfrezier commented on #5689
I also got this error.
Changing from "curl -sS https://get.k8s.io | sh" to "curl -sS https://get.k8s.io | bash" solved it for me.

[2015-03-20 09:34] Jamlee commented on #5699
I also occur it. @netroby  wuhan china

[2015-03-20 10:01] jimmidyson commented on #4432
If we're going to extend Heapster to do this, I think it makes sense to be able to run heapster in different modes: metric collection, event collection, etc. Default to all-in-one for ease of use, but separating out would probably help to make this more scalable.

[2015-03-20 11:05] bakins commented on #2659
@justinsb I see that #2672 was closed.  I see a few related PR's have been merged since then.  Wanted to check on the state of the ELB work and if you needed any help. I need to scratch the same itch.

[2015-03-20 11:28] AAzza commented on #2098
Thanks you for the replies! It really help to understand what is going on and what to do. I just have last concern.

The GSoC will be during summer. Till that, I hope, some of the issues/pull requests will be solved/merged (surely, a lot of others will appear). But the question is how does it correlate with the any planned releases? Like this project could be not-very-trivial change (if Kubelet AP

[2015-03-20 11:37] derekwaynecarr commented on #5699
Can you give list of steps you followed?

$ make release
$ export KUBERNETES_PROVIDER=vagrant
$ cluster/kube-up.sh

??

Can you vagrant ash master and look in journalctl -ru salt-master and see if there are any errors?

[2015-03-20 11:41] derekwaynecarr commented on #5548
I am for the latter, and we have a solution today to index the data in the latter form using cache.Store and cache.Indexer

There is no call in etcd that lets you get N objects in a single request by passing N keys.

Sent from my iPhone

[2015-03-20 12:36] wojtek-t commented on #3372
#5598 fixed it for http channel

[2015-03-20 13:05] netroby opened #5706 "Can not build kubernetes"
[code]

[2015-03-20 13:06] netroby commented on #5699
@derekwaynecarr yes, absolutely as the getting started guide told me.

[2015-03-20 13:39] justinsb commented on #2659
@bakins - #2672 was an early mega-patch, and I've been submitting smaller patches since then (many of which cover the same ground in more incremental stages).

This is current AWS LB PR that I'm working on:  #5225

This is actually "next-up" for me - I should be able to spend a few hours on it today which - with any luck - will get it into a state for merging.  I believe the remaining problems are

[2015-03-20 13:57] wojtek-t commented on #5630
As soon as #3372 is done (all necessary PRs are already under review), Kubelet will support reading both Pods and ContainerManifest. I looked through the Kubernetes codebase and it seems that there are no references to ContainerManifest anywhere.

So I think that the only remaining work here would be related to ContainerVM. However, from the internal discussions it seems that there is still no con

[2015-03-20 14:17] justinsb opened #5708 "Changed version of Go in Godeps.json"
#5447 committed a changed version of go into godeps.  Was this deliberate?  I don't see any discussion of it (@jayunit100).

I've almost done this by mistake as well, so I'm inclined to think it was just an oversight.

(I think this is giving me errors building, but I'm not yet 100% sure this is the cause)

[2015-03-20 14:44] xudifsd commented on #5548
@bprashanth yeah, I'm also a little bit confused by index and cache, it makes more sense to me if you mean cache in your reply.

I guess I have to read more docs and code to have better understanding about requirements. Do you have any recommendation? It's a little scary to face 500k LOC directly

[2015-03-20 15:00] gmarek commented on #2572
I want to bump up @pmorie question: do we know what valid endpoint looks like? Some things are clear, like ports, some are more tricky:
- does IP currently is just an IPv4 address, or hostname/IPv6 is allowed (IPv4 only I guess)?
- IIUC endpoints are namespaced, but I want to double check?
- do we want any nontrivial validation, except adding validation for ObjectReference (#4651) when possible?
-

[2015-03-20 15:07] #4932 closed

[2015-03-20 15:09] tkulczynski commented on #5241
If you do want to attach service-specific HC then I totally agree we should stay with per-service TargetPools.
Even with that, I still think it's currently easier to let the MIG update TargetPools (all of them, that probably introduces some limit on the number of them in the cluster, but it's hundreds so I don't think an issue for now) instead of manually updating all of them on each node creation

[2015-03-20 15:21] ddysher commented on #4384
Mark dup of #4384

[2015-03-20 15:22] ddysher commented on #4384
Mark dup of #2462

[2015-03-20 15:40] ddysher commented on #5701
We've discussed this here
https://github.com/GoogleCloudPlatform/kubernetes/pull/2315#discussion_r21650614

Basically, @bgrant0607 proposed we might have intermediate conditions

[2015-03-20 15:47] vishh commented on #4432
The long term goal is to shard heapster. Do you think it is necessary to
split events and metrics even with sharding in place?

On Fri, Mar 20, 2015 at 3:01 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-03-20 15:49] simon3z commented on #3676
@bgrant0607 so Pods could (hoping: "will") have a reference to their Template and RC will have a reference to the relevant Template as well right? So I'll be able to correlate RC and Pods through the Templates. Correct?

[2015-03-20 15:55] smarterclayton commented on #4384
@liggitt this is relevant for the kubelet security story you've been working on.

----- Original Message -----

[2015-03-20 16:07] zmerlynn commented on #5675
Ah, @alex-mohr opened this already in #5666. Closing.

[2015-03-20 16:07] #5675 closed

[2015-03-20 16:07] bprashanth commented on #5548
Cache.Indexer is a fine recommendation (https://github.com/GoogleCloudPlatform/kubernetes/blob/89f18f6fe1b541523e7f944f6f2ac45cfc0704fd/pkg/client/cache/store.go). You can also start basic, and understand how a watch fires on the apiserver (i.e why do we have the problem of repeated listing that's being discussed in this thread).

[2015-03-20 16:08] bprashanth commented on #4992
The problem is validate minion doesn't validate the spec, it stops with objectmeta.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L844

[2015-03-20 16:09] zmerlynn commented on #5666
The version I opened was a bit stronger, but you beat me to it. This is likely GCE specific, though I suspect that all of the providers have a little brokenness here.

[2015-03-20 16:09] abonas commented on #5286
I just rechecked on latest master.
I was able to create it using the following input, got 201 CREATED back, but it looks as the namespace property was omitted.

{
    "kind": "Namespace",
    "apiVersion": "v1beta3",
    "metadata": {
        "name": "staging",
       "namespace":"some"
    },

}

[2015-03-20 16:11] abonas opened #5712 "REST api - plural error message when failed to create a single namespace"
{
  "kind": "Status",
  "apiVersion": "v1beta3",
  "metadata": {},
  "status": "Failure",
  "message": "namespaces \"staging\" already exists",
  "reason": "AlreadyExists",
  "details": {
    "id": "staging",
    "kind": "namespaces"
  },
  "code": 409
}

cc @derekwaynecarr

[2015-03-20 16:21] vishh commented on #5688
The e2e test looks for all monitoring pods to be present. I went the way of
looking for all pods to be picked up heapster, but was told that the pods
in the cluster could be very dynamic in the future and so the test should
only look for the pods it controls. The test cannot launch any static pods
and so it did not catch this issue.

[2015-03-20 16:23] vishh commented on #5688
One option is to run the monitoring test serially and then run other tests in parallel. @zmerlynn do you think it is possible to never run the monitoring e2e test in parallel with other e2e tests?

[2015-03-20 16:26] derekwaynecarr commented on #5286
did you do this via curl or kubectl?

----- Original Message -----
From: "abonas" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Sent: Friday, March 20, 2015 12:09:57 PM
Subject: Re: [kubernetes] REST api - namespace entity contains namespace attribute as part of the metadata (#5286)

I just rechecked on latest m

[2015-03-20 16:27] zmerlynn commented on #5688
We currently don't run any e2e tests in parallel, but presumably we'll have to make such exceptions at some point. Why, though?

[2015-03-20 16:30] vishh commented on #5688
I intend the monitoring e2e test to ensure all the pods existing in the
cluster irrespective of , to be captured by the monitoring pipeline.

On Fri, Mar 20, 2015 at 9:28 AM, Zach Loafman <notifications@github.com>
wrote:

[2015-03-20 16:32] abonas commented on #5286
REST client (http)

[2015-03-20 16:43] roberthbailey commented on #5604
Bumping this up to P1 given that 0.12.2 wasn't able to create a service with an external load balancer and we didn't notice before cutting the release.

[2015-03-20 16:57] jimmidyson commented on #4432
Not that should make it unnecessary. I'm trying to think of any use cases for scaling metrics collectors & event collectors separately but I can't...

[2015-03-20 17:07] vishh opened #5716 "Kubelet fails to return stats for a running pod"
I0320 17:05:55.585336    4853 server.go:672] GET /api/v1beta1/podInfo?podID=kibana-logging-controller-oh43e&podNamespace=default: (204.26µs) 0 [[Go 1.1 package http] 10.240.203.174:47585]
I0320 17:05:57.768169    4853 server.go:672] GET /stats/default/fluentd-to-elasticsearch-kubernetes-minion-82pn/aac6a5d4-ce59-11e4-b270-42010af0cbae/fluentd-es: (1.873473ms) 404 [[Go 1.1 package http] 10.244.0.5:

[2015-03-20 17:08] zmerlynn commented on #5604
@roberthbailey: No, to be clearer, 0.12.2 wasn't able to create a service with ELB on *GKE*. That was on our side entirely.

[2015-03-20 17:08] zmerlynn commented on #5604
But it doesn't invalidate the need for this.

[2015-03-20 17:16] smarterclayton commented on #3338
I've followed ffjson for a while now, and I'm starting to think it has some unique advantages for us given our current choices.  We may need additional things (like being able to generate code for checking type matching on fields), but it in theory could leverage our existing structs, be extended to handle defaulting and conversions, and gets us much closer to the ideal goal of versioned JSON -> i

[2015-03-20 17:28] mbforbes commented on #5663
This seems like a pretty specific reminder for something to do, and I don't have a lot of context, so I'm going to set as P2 and your team, Tim; feel free to relabel.

[2015-03-20 17:32] piosz commented on #5604
The guestbook.sh example is using ELB.

[2015-03-20 17:41] mbforbes commented on #5668
From my limited knowledge, it seems like for whatever is getting pod state to know the behavior of a pod across time (e.g. that it is stopping and starting) it would have to compare its state across several observations and reason about possible patterns. This seems nice to have, but might be a bit far off feature wise.

If anyone from the node team can give an answer it'd likely be much better th

[2015-03-20 17:57] cjcullen commented on #4526
A user on StackOverflow is annoyed by this as well: http://stackoverflow.com/questions/29151042/how-to-docker-attach-to-a-container-google-cloud-platform-kubernetes

[2015-03-20 18:12] nikhiljindal commented on #1473
Thanks for looking at that PR @ixdy.
Thats a valid concern.
For a short time, after we enable v1beta3 and before we deprecate v1beta1, we need to test both the API versions.
Looks like /hack/test-go takes about 2 minutes right now to run on travis. So we will be increasing its run time by 2 minutes by running it twice.
We can try it and see if travis behaves fine.
If not, we can pick a random vers

[2015-03-20 18:19] ddysher commented on #3643
Yeah, it's still relavant to what i'm working on, but a little bit of summary here.  We have different syncs:

##### Sync Node From CloudProvider
This sync is to make sure k8s nodes are kept in sync with VMs in cloudprovider.  The frequency is controlled by flag "node_sync_period", default is 10s.   Every 10s, we call:
* cloud.Instances()  x 1
* instances.GetNodeResources() x NumberOfNodes
* insta

[2015-03-20 18:20] smarterclayton commented on #1473
Testing all version in travis makes sense (but not by default).  If it's an ENV var switch it should be clear what caused the failure, and users can easily recreate.  My 2c

----- Original Message -----

[2015-03-20 18:29] #5661 closed

[2015-03-20 18:30] derekwaynecarr commented on #2977
Closing this issue because I agree it's now possible.  Thanks @smarterclayton

[2015-03-20 18:30] #2977 closed

[2015-03-20 18:36] vishh opened #5721 "API support for identifying application types"
For logging and monitoring purposes identifying application types (mysql, jvm, etc)  is necessary. Monitoring and logging agents are built to handle different application types natively.
Possible approaches:
- Labels - Declare some well known label keys that can be used to identify applications.
- Extend the API to include optional per-container application types
- Use API [plugins](https://github

[2015-03-20 18:38] zmerlynn opened #5722 "Test "Services should correctly serve identically named services in different namespaces on different external IP addresses" failing on Jenkins"
This test hasn't succeeded in the last 30 runs on GCE or GKE. Trying to figure out what's going on.

[2015-03-20 18:42] a-robinson commented on #5604
@piosz are you actively working on this? If not, I'd be up for doing it today.

[2015-03-20 18:43] zmerlynn commented on #5722
Oh, this test is just horrible. I manually cleaned up the ELB on the `gke-test` job, and the next time around the error changed to a timeout instead of the error.

[2015-03-20 18:45] mbforbes commented on #5673
This is a bit hard to understand without context. I'm going to default to the cluster team and P2 for issues like these, and please re assign if this isn't right.

[2015-03-20 18:46] piosz commented on #5604
Maybe not actively but I know what to, however I won't be able to finish it today, so if you think you can do it today please move forward.

[2015-03-20 18:56] brendandburns commented on #4348
Let's not use cgo I think it will be a portability problem...

However, reimplementing similar syntax using go reflection shouldn't be too
bad, and is likely what we should do.

Brendan
On Mar 19, 2015 5:39 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-03-20 18:59] derekwaynecarr commented on #5712
The generic registry co-mingles the EndpointName with Kind:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L174

Right now, all of our EndpointNames are in the plural form across all registries.

[2015-03-20 19:04] derekwaynecarr commented on #5172
Updates were made.

[2015-03-20 19:04] #5172 closed

[2015-03-20 19:06] derekwaynecarr commented on #3173
The namespaces design doc was updated.  please re-open or ask for clarifications to that doc as needed if you still have questions.

[2015-03-20 19:06] #3173 closed

[2015-03-20 19:22] mbforbes commented on #5706
Could you please provide a bit more information about your environment or setup? And maybe the full paste of your command and what happened? I'm wondering:
- what OS you're using
- whether you've correctly setup the Go directory structure (e.g. `~/go/src/github.com/<uname>/kubernetes/...`)
- what docker setup you have (e.g. if you're on a Mac, whether `boot2docker` is setup correctly)
- whether th

[2015-03-20 19:27] derekwaynecarr commented on #5696
Can you elaborate your intended usage of shared folders?

Are you looking to reference the examples files from the master and run kubectl there?

In general, we have recommended to run kubectl from your host machine using the cluster/kubectl.sh script.

We have not needed shared folders with code deploys because of kube-push.sh doing that differently.

I guess I am ok adding more packages to insta

[2015-03-20 19:30] derekwaynecarr commented on #5706
I would say run:

[code]

and report back with what you are seeing.

[2015-03-20 19:32] derekwaynecarr commented on #4526
Related: https://github.com/GoogleCloudPlatform/kubernetes/issues/4640

[2015-03-20 19:45] ddysher commented on #5545
nodes without conditions != node condition Unknown.  (the comment is a bit misleading)   However, when printing node status, if node has no conditions, we simply print Unknown.   Can you look at etcd and see the status of the node?  If it has no status, then @yujuhong gives the right anwser; otherwise, we'll need to dig more.

[2015-03-20 19:48] roberthbailey commented on #5604
@zmerlynn We run the e2e tests on GKE, so if we had a test for creating an ELB we would have known that the 0.12.2 release wouldn't work on GKE. I don't see how your point applies. The e2e tests are in place so that we don't have to test each feature manually to verify that it is working, and we only found out that this feature was broken on GKE after we pushed 0.12.2, hence the need for an e2e te

[2015-03-20 20:21] dchen1107 commented on #5716
1) You are running old release:
root@kubernetes-minion-82pn:/var/log# kubelet --version
Kubernetes v0.11.0-1506-g2e7356bca72d1f-dirty
2) I couldn't reproduce the issue from HEAD.
3) The code used to report such internal error is heavily refactored.

I am going to close this one. Please reopen it after you upgrade your cluster to the latest one. Thanks!

[2015-03-20 20:21] thockin commented on #4348
Agree - this might be a good gsoc project or something we could "hire out"

On Fri, Mar 20, 2015 at 11:56 AM, Brendan Burns <notifications@github.com>
wrote:

[2015-03-20 20:23] vishh commented on #5716
Thanks for looking into the issue Dawn. I will try again with a new cluster.

On Fri, Mar 20, 2015 at 1:21 PM, Dawn Chen <notifications@github.com> wrote:

[2015-03-20 20:24] brendandburns commented on #5706
I think this is a golang thing.  Are you building with golang 1.4?

I seem to recall the path for the cover tool moved incompatibly between
golang versions.

Brendan
On Mar 20, 2015 12:30 PM, "Derek Carr" <notifications@github.com> wrote:

[2015-03-20 20:24] eparis commented on #4348
I'm not going to argue.  I hacked this little junk together because of how darn unreadable the golang templates conditionals are....   https://github.com/eparis/readable-golang-template

[2015-03-20 20:24] #5716 closed

[2015-03-20 20:36] mbforbes commented on #5604
@roberthbailey I think @zmerlynn and you are in fact in agreement

[2015-03-20 20:40] jayunit100 commented on #3137
as per conversation in irc w/ dr satnam, we will both be working on soaks, and organically commit them, maybe both. his might take longer to implement anyway.

[2015-03-20 20:46] mbforbes commented on #5708
Hmm, this is a good point. It does look to be accidental. I don't know. I think @brendandburns and @lavalamp would have context though I believe they are out— @smarterclayton, do you know offhand whether this is probably an accident? I guess were talking specifically about `Godeps/Godeps.json` in the [changed files](https://github.com/GoogleCloudPlatform/kubernetes/pull/5447/files).

[2015-03-20 21:05] smarterclayton commented on #5708
I believe it's an accident.

[2015-03-20 21:08] bgrant0607 commented on #1607
#5556 is in. We're expecting a followup update to services.md.

We could also discuss whether some form of direct DNS publication for pod IPs makes sense.

[2015-03-20 21:34] yujuhong commented on #5339
The namespace change (ns -> namespace) was in this commit that landed on Feb 10th:
https://github.com/GoogleCloudPlatform/kubernetes/pull/3613/commits

Given that there have been many namespace changes, it's likely that the bug has been fixed...

[2015-03-20 21:36] mbforbes commented on #5708
Thanks, @smarterclayton. The linked PR should fix this (assuming I don't have to do anything else with Godeps).

[2015-03-20 21:37] a-robinson commented on #5708
This was almost certainly an accident. Whenever I've updated godeps it's changed automatically to 1.3 and I've had to adjust it back manually.

[2015-03-20 21:38] #5708 closed

[2015-03-20 21:47] roberthbailey commented on #5339
We found this bug running against the 0.11.0 release which includes that commit. I haven't had a chance to try and reproduce at head.

[2015-03-20 21:59] yifan-gu commented on #5526
Since #5572 has landed, I think we should try to use the new interfaces and types for future patches in kubelet, so that we can clean up the docker specific code soon.

[2015-03-20 22:00] jayunit100 opened #5734 "Examples/K8PetStore: Adding add persistence to k8petstore (used also in soak tests)"
We want to add persistence layer to k8petstore, so that redis transactions can sink into mysql or cassandra.  that will allow for soak testing of disk as well as memory/cpu which is already done.

[2015-03-20 22:20] mikeln opened #5737 "Cassandra Cluster Example Custom Seed Cores on First Node"
examples/cassandra startup of cassandra pod with the custom Java seed provider code cores on the first pod:
[code]

The io.k8s.cassandra.KubernetesSeedProvider.getSeeds pulls the seed addresses from kubernetes.   Here is what this container was seeing:
[code]

Analysis showed the following:
* This only occurs on the first node of a cluster.  When there are no other cassandra endpoints running/regi

[2015-03-20 22:21] davidopp commented on #5701
I discussed with Brian offline and he was OK with the renaming I proposed. He just didn't want the field to be a bool, which would preclude intermediate conditions. Can you please implement the renaming when you get a chance? I think it will make the code much easier to understand.

[2015-03-20 22:21] quinton-hoole commented on #5328
I don't think that works, given that event.go#L138 and kubelet.go#L1671 are in different go routines, on opposite ends of a channel.  I suspect that the creator of the event will have to jam it's code location into the event object.

[2015-03-20 22:25] erictune commented on #5328
You are quite right.

[2015-03-20 22:25] #5328 closed

[2015-03-20 22:25] bgrant0607 commented on #5701
Yes, I'm fine with the renaming. If you want it in v1beta3, please make the change by Wednesday.

[2015-03-20 22:33] juzna opened #5739 "Getting start guide for Vagrant doesn't work"
I followed the [getting start guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/vagrant.md) and encountered several problems:

## running containers failed
[code]

Error message is very confusing, complains about unknown flag, but that flag is correct. When I tried the same just without --replicas and without  --port, the command succeeded.

## salt c

[2015-03-20 22:46] juzna commented on #5739
Also, all the guide mentions command `cluster/kubectl.sh`, but then it links to [guestbook example](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook/README.md) which uses only `kubectl`. Such command doesn't exist on my Mac OS X, where do I find it?

[2015-03-20 22:54] erictune commented on #5672
We are very close to having the master ever be a client of the node anymore.

[2015-03-20 23:03] uruddarraju commented on #5739
sudo salt '*minion-1' cmd.run 'docker images' should be run on your master

[code]

These are the core kubernetes system services which are required by default.

After you do make release, you would find your kubectl command in

```cluster/../cluster/vagrant/../../platforms/darwin/amd64/```

[2015-03-20 23:34] abhgupta commented on #4971
With https://github.com/GoogleCloudPlatform/kubernetes/pull/5556 merged, we now have headless/non-proxying services.

[2015-03-20 23:45] erictune commented on #3579
#### Alternative view on Upgrades
 -  A fresh kubernetes cluster will typically be created with certain initial resources.  These are the things that are currently in addons.  Kube-up needs to create these.
 - On a fully user-managed cluster, the admin might later reasonably modify or delete these items.  For example, she might increase the memory and cpu limit for the Kibana pod.
 - Upgrading the

[2015-03-20 23:49] bprashanth opened #5745 "Make the status.Replica count useful to watchers"
Currently the status.Replica count is not very useful to watchers (like stop rc, which actually doesn't watch but should):
1. Its updated `fillCurrentState` style: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/etcd/etcd.go#L114
2. If we remove that (we should, in any case), it will only get updated once in 10 seconds.

The quick and dirty solutions are:
* Decreasing th

[2015-03-20 23:52] dchen1107 commented on #175
I am re-opening the issue. To able to run master components in a pod (#5011), we need to have host networking support,  at least on master node.

I marked this for v1.0 for now, and bumped the priority to P1.

cc/ @vmarmol @ArtfulCoder @thockin

[2015-03-20 23:54] vmarmol commented on #175
Assigning myself as @ArtfulCoder and I will be tackling this in the coming days.

We deemed it higher priority since it is necessary in order to run the master components and the kube-proxy in pods. That will allow us to have an upgrade story for 1.0.

[2015-03-21 00:05] #5688 closed

[2015-03-21 00:07] zmerlynn commented on #4292
cc @quinton-hoole

[2015-03-21 00:12] mbforbes commented on #5734
Naive question: Is the purpose for testing? Or is this needed fundamentally as a storage feature as well?

[2015-03-21 00:16] mrunalp commented on #4823
I started making changes for this utilizing #5166. One question I have is should we just add /dev/shm by default? It would mean adding a tmpfs backed empty dir to pod.Spec.Volumes and also adding it to each container's VolumeMounts.

[2015-03-21 00:17] mrunalp commented on #4823
Also, docker changes were necessary for this to work. I made a PR https://github.com/docker/docker/pull/11353 which got merged last week.

[2015-03-21 00:19] mbforbes commented on #5737
Thanks for the detailed report! Any chance you'd be willing to open a PR for this?

[2015-03-21 00:20] mikeln commented on #5737
I would be willing to open a PR.

[2015-03-21 00:21] roberthbailey commented on #5734
Soak testing.

[2015-03-21 00:25] mbforbes commented on #5739
@juzna did @uruddarraju's comment fully address the second two issues you were having?

It looks like maybe your question about the `--image` flag is remaining. I believe this flag may have changed around v9 or v10. Are you running a recent version of kubernetes? (`kubectl version`)

[2015-03-21 00:28] bgrant0607 commented on #175
I understand why kube-proxy would need host networking, but why does the master need it?

[2015-03-21 00:43] bgrant0607 commented on #5695
There will also be enforcement in Kubelet, at least at pod admission time #5715.

[2015-03-21 00:45] bprashanth commented on #5695
At admission time the scheduler should check through a fit predicate anyway rigth? There is a race of course.

[2015-03-21 00:45] decker502 opened #5747 "ubuntu_cluster: Can't dermine redis-master's ip in guestbook example"
I followed the guestbook  guide and encountered below problem:

k8s version: release 0.13

# Curl test

[code]

I don't know why they are there.

# Flannel IP

Flannel's IP is same in all minions, Is that all right?

[2015-03-21 00:45] dchen1107 commented on #175
@bgrant0607 I and @ArtfulCoder debugged his issue together this afternoon: Current approach we put all master components into one pod, including nginx. Network container is started with its own PodIP, but ssl cert is generated for host IP. All minions rejects the connection from apiserver, since the IP from cert doesn't match the IP of apiserver. Also PodIP is dynamic and will be changed when netw

[2015-03-21 00:58] zmerlynn commented on #5722
Amazingly, #5732 wasn't enough to close this.

[code]

Bleh. Maybe the namespace approach is right, just to avoid any possible GCE name collision issues. I suspect we may be running into an issue where delete / re-add is just too fast, and I don't want to stick in a sleep. :/

cc @quinton-hoole

[2015-03-21 01:07] zmerlynn commented on #5722
So this is interesting. That exact output above, but the GCE cloud console shows a `e2e-test-jenkins-namespace0-services-namespace-test0` remaining. What's interesting here is that the test actually does log errors from the deletion case, and clearly says it deleted `STEP: deleting service services-namespace-test0 in namespace namespace0`. It sounds a lot like theres a bug here in the cloud provid

[2015-03-21 01:11] xudifsd commented on #5172
@derekwaynecarr thank you

[2015-03-21 01:12] quinton-hoole commented on #5722
This is actually a bug in our code (rather than the test), and a consequence of of the synchronous creation and deletion of GCE ELB's being fixed elsewhere.  When we start creating the ELB's asynchronously, these Kupernetes API calls will start succeeding, and anti-entropy mechanisms in our backend will make sure that the ELB creation/deletion eventually succeeds.

[2015-03-21 01:13] quinton-hoole commented on #5722
Issue #5180 refers above.

[2015-03-21 01:13] quinton-hoole commented on #5722
See also discussion in PR #5732

[2015-03-21 01:16] zmerlynn commented on #5722
Is there an approach to get this test to pass prior to that getting fixed, but sticking to API primitives?

[2015-03-21 01:31] bgrant0607 commented on #175
Isn't every service running on Kubernetes going to have this problem?

Also, using host networking is not going to work for HA #473.

[2015-03-21 02:04] bgrant0607 commented on #175
I suppose services running on Kubernetes should use SSL certs with the service IP(s) (external and/or internal). However, that would still mean that the keys would need to be minted after dynamic IP address assignment. Maybe @erictune knows what the plan is for that (or knows who knows).

[2015-03-21 02:35] thockin commented on #175
Right, after looking at this issue this afternoon, I think either we do
this or we rethink master components in pods for 1.0
On Mar 20, 2015 7:04 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-03-21 02:42] bgrant0607 commented on #175
Do "this" being host networking? Given that it's needed for kube-proxy, I'm fine with that as a workaround for the master.

However, I'm also wondering what the solution will be for users.

[2015-03-21 02:44] netroby commented on #5706
I guess the problem is can not download file from golang.org/

the packages can not download.

Any other solutions can download packages ?

Such as Maven repository for java , does golang have a centre packages repository?

[2015-03-21 02:46] netroby commented on #5696
The box (fedora 20 from chef) built in with vbguest 4.3.20, but it is out of date. and when we boot up kubernetes with vagrant , it will failed and hang up, due to the boot can not success without warning.

I guess we can update the box we using to boot up by vagrant (Including the latest vbguest agent)

[2015-03-21 02:53] thockin commented on #175
I think the general solution will be to use an L7 SSL terminating balancer
On Mar 20, 2015 7:42 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-03-21 03:11] bgrant0607 commented on #175
That makes sense.

[2015-03-21 03:12] bhanusharma92 commented on #2837
Hello
I am interested in doing this project and would like to contribute. But i want to know what should i do or code to get started.

[2015-03-21 04:27] roberthbailey opened #5754 "Implement the cluster bootstrap API"
Pulled out of [#2303](https://github.com/GoogleCloudPlatform/kubernetes/issues/2303#issuecomment-62776961):

Task list:
- [ ] Finish definition of the bootstrap API
- [ ] Implement a new binary/mode for serving the bootstrap API
- [ ] Host the bootstrap API on k8s.io
- [ ] Have the unified binary race to be the master via the bootstrap API.  Have it publish it's location.
- [ ] Have the minion use

[2015-03-21 04:28] roberthbailey commented on #2303
I've broken cluster bootstrapping out into #5754.

[2015-03-21 04:34] roberthbailey opened #5755 "Provide an 'all-in-one' binary for server components (hyperkube)"
Extracting another piece of #2303 into a more moderately sized issue. @jbeda began this work (see #3909, #3982, #3998, #4031, #4240) but it hasn't been finished.

The original task list (possibly now out of date) was:
- [ ] Integrate etcd so that it isn't necessary to download/start separately.  Users should be able to easily turn this off and use an existing etcd.
- [ ] Integrate flannel so that

[2015-03-21 04:36] roberthbailey commented on #2303
I've broken the all-in-one binary out into #5755.

[2015-03-21 04:40] roberthbailey commented on #267
As far as I can tell, this is entirely superseded by my proposal to get to static clustering in [#3168](https://github.com/GoogleCloudPlatform/kubernetes/issues/3168#issuecomment-74781577).

Please re-open if you disagree.

[2015-03-21 04:40] #267 closed

[2015-03-21 04:40] roberthbailey commented on #2303
For reference, "Allow for kubelets to securely nominate themselves to join the cluster" is being tracked in #3168.

[2015-03-21 04:41] roberthbailey commented on #2303
And "Recast add-ons as post-cluster deploy scripts/tools that run on top of kubernetes" is being tracked in #3579.

[2015-03-21 04:43] roberthbailey commented on #2303
Closing this umbrella issue now that all of the various parts have been split into separate issues.

[2015-03-21 04:43] #2303 closed

[2015-03-21 05:02] roberthbailey commented on #5007
We had a series of red dots in Jenkins tonight during the docker hub outage.

[2015-03-21 09:15] aureliensibiril opened #5756 ""kubectl describe pod ID" should print env vars"
A "kubectl describe" on a pod ID give a lot of informations about that pod but don't you think it should also print the pod's env var ?

[2015-03-21 14:25] ArtfulCoder commented on #175
We may not need need to use host networking for the master pod if we can assign an ip to the docker container that we create for pause.

While docker does not have any command flags that let us specify the ip of the created docker container, we can take over creation of the networking namespace for the container and configure it ourselves.

Doing this allows us to assign an ip to the docker contai

[2015-03-21 14:51] quinton-hoole commented on #5722
Yes, just increase the test timeout to 240 seconds or beyond.

On Fri, Mar 20, 2015 at 6:16 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-03-21 15:09] thockin commented on #175
This could work, but I think host networking is needed anyway.
On Mar 21, 2015 7:25 AM, "Abhi Shah" <notifications@github.com> wrote:

[2015-03-21 15:25] ArtfulCoder commented on #175
Why does kube-proxy need to run in net=host mode ? so that it can intercept the packets designated for service ips ? I haven't explored it completely, but I believe we could do that without net=host mode.

[2015-03-21 15:30] jayunit100 commented on #5604
right now, k8petstore tests the external load balancer by curling down the amount of transactions ingested from the REST API.  im playing with porting it as a e2e test now.    The code in the shell script is a little raw, but you can see that it specifies a PUBLIC_IP and then curls down from it at the end (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/k8petstore/k8petstore

[2015-03-21 15:43] mattmoor commented on #5007
@ixdy LMK if I can help get this going, or how I can help.

[2015-03-21 15:49] thockin commented on #175
It needs to program iptables in the root netns
On Mar 21, 2015 8:25 AM, "Abhi Shah" <notifications@github.com> wrote:

[2015-03-21 16:00] ArtfulCoder commented on #175
One approach could be -
Since Kubelet runs as root on host and manages all containers - the kubelet can configure the netns of all containers (except kube-proxy container) to direct traffic for service ips to the kube-proxy container.

This can be achieved since kubelet would take over creating netns for containers it does not rely on docker for creation of the network namespace.

[2015-03-21 16:23] smarterclayton opened #5757 "hack/test-integration.sh fails on Mac with mirror pod error"
hack/test-integration.sh started failing recently.  Is this dependent on fsnotify function that is not implemented on a Mac?

[code]

[2015-03-21 16:47] eparis commented on #175
@mrunalp @rajatchopra   I know mrunal and rajat have been doing "horrific hacks" sort of like those described in https://github.com/GoogleCloudPlatform/kubernetes/issues/175#issuecomment-84355019 in order to get their openshift-sdn OVS stuff to work around docker's inadequacy.  I believe they are trying to find a better solution to some of this through their network hooks and just want to make sur