[2016-06-07 04:17] lavalamp commented on #26838
I think the other one is assigned to Chao, it's quite possibly the same thing.

[2016-06-07 04:19] bprashanth commented on #26210
yeah so we got one single proxy request with no body:
[code]
do we care? can we retry?
no master logs on GKE to dig further.

[2016-06-07 04:20] davidopp commented on #23538
Removing flake label as this is not a flake.

[2016-06-07 04:20] davidopp commented on #23974
Two months now. Closing.

[2016-06-07 04:20] #23974 closed

[2016-06-07 04:22] #24686 closed

[2016-06-07 04:29] resouer commented on #25231
Sorry, @yujuhong , I did not dig this deeply but I can't tell the difference between call `SetPodStatus` directly when needed VS send out a event to call `SetPodStatus` when needed., it seems `SetPodStatus` is expected to work in a sync way.

Or, what we want is replace the current  "update pod status at will " way with a unified process like generating a new pleg event during `relist` (though I'm

[2016-06-07 04:30] hongchaodeng commented on #26185
I have reproduced it again. Only this time I have enabled GC trace:
[code]

Although there might still be time skew, I have found that for ~500ms high latency "Create /binding", GC happened around. Logs:
[code]

Let me interpret it. The last gc happened at 03:30:39, and two "Create binding" took 499.8ms and 513.68ms.

[2016-06-07 04:54] davidopp commented on #26715
Yeah, I agree. I wonder if there is anything we can really investigate here, given the error. Seems it only happened once.

Anyway, mind of I remove the team/control-plane label, since you already assigned it to yourself?

[2016-06-07 04:55] nikhiljindal commented on #26431
Failed again for me: [logs](https://00e9e64bac8d3b215c792803022a561235815f349fdb60bc89-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F26914%2Fnode-pull-build-e2e-test%2F9348%2Fbuild-log.txt?qk=AD5uMEssIFXSBTxDd1OyEO-l3jlcREhN_sY5wlwTiy7Wwn-8M3jZiMvWCMUHUfCnwnA6jCuOegzeEj9h60wBXKTqVrURgaOIznRjl0nj7Slo8R8_GosIE-wnSp8jylpKiCGveo1_LeCCJVrMobifj8Ahl18DNgCsSTbt

[2016-06-07 05:01] xiang90 commented on #26185
@hongchaodeng But it seems that GC happened and finished before the event with long latency? Not concurrently nor in between of the events?

[2016-06-07 05:05] hongchaodeng commented on #26185
@xiang90
Keep in mind that it
[code]
So when it prints, it already finished.

[2016-06-07 05:11] krmayankk commented on #26797
When we say, new fields are added and defaulted, what does that mean ? How would you differentiate between defaulted or explicitly provided a value. Sorry i am just trying to familiarize myself with this codebase. I think its easier to just recompute the hashes

[2016-06-07 05:15] xiang90 commented on #26185
The gc takes 498ms to finish (the non STW phase). For these 498ms, the program will significantly slow down due to lack of CPU resource. I understand that. And it did trigger the 499.868877ms one.

However, the gc finished before the 501.554395ms one started if I understand this correctly.

[2016-06-07 05:21] xiang90 commented on #26185
@wojtek-t Interestingly, it you look at the CPU time spent on GC (725+249ms userspace CPU time) you would learn that ALL CPU resources were spent on GC for 400ms. For these 400ms, no meaningful work can be done at userspace programs including etcdserver/api server/controller.

@hongchaodeng Given that, I would image that controller might did a GC too, which took over all the resources API server n

[2016-06-07 05:22] nhlfr opened #26937 "Implement "local" as a regular KUBERNETES_PROVIDER"
When discussing the issue #26453, we came to conclusion that we should get rid of `hack/local-cluster-up.sh` script in favor of `cluster/kube-up.sh` which will do the same if the value of KUBERNETES_PROVIDER env var is set to `local`.

That will increase consistency - after setting up the KUBERNETES_PROVIDER user will be able to do just `cluster/kube-up.sh` and `cluster/kubectl.sh` to operate on l

[2016-06-07 05:27] k8s-merge-robot opened #26938 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/8245/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544

[2016-06-07 05:28] hongchaodeng commented on #26185
We should do some stress testing and more profiling to figure out memory usage.
BTW, I also found a bug playing with informer and am debugging it.

@lavalamp @wojtek-t

[2016-06-07 05:31] ram-argus commented on #23722
Also consider ramification of introducing `--from-file`:
`kubectl create configmap vpn-config --from-file=./config/ovpn_env.sh`
the command breaks because the file happens to have an underscore.

[2016-06-07 05:44] paralin opened #26940 "Dynamic iptables rules and vpn for bridging with private networks (Hybrid Deployments)"
I have a on-site network with arbitrary devices / servers networked together with an internet gateway. The internet gateway is VPNed into my Kubernetes cluster, possibly into an OpenVPN server running inside a pod, or otherwise into a virtual machine separate from the cluster.

I would ideally like the following:

 - Cluster-wide iptables rules which route a certain IP CIDR to the pod running the

[2016-06-07 05:46] resouer commented on #26923
Will we do this for dead containers only, or this apply to all `/logs` cases?

[2016-06-07 05:49] paralin commented on #26940
Possible reference: http://unix.stackexchange.com/questions/256242/openvpn-server-on-kubernetes-cluster-dns-and-service-resolution

[2016-06-07 05:49] paralin commented on #26940
https://groups.google.com/forum/#!topic/google-containers/vwAZ_H3CKLQ

[2016-06-07 05:54] resouer commented on #22272
Also agree with this.  Any more progress here, like, what's the reasonable score range?

[2016-06-07 06:01] thesuperzapper opened #26941 "Zeppelin Image unable to config, [Environment Variables] (Spark Example)"
With the Zeppelin image from `gcr.io/google_containers/zeppelin:v0.5.6_v1`, referenced in, [zeppelin-controller.yaml](https://github.com/kubernetes/kubernetes/blob/master/examples/spark/zeppelin-controller.yaml), how can we set Zeppelin's environment variables.

For example, to make notebooks persists through pod restarts, you could mount some volume to the container, and point the notebook direct

[2016-06-07 06:23] sttts commented on #26210
@krousey no, I haven't worked on it the last days.

We have all the logs we can get from the client side. Your theory with the SSH tunnel sounds reasonable  If we want to fix the root cause, somebody with better insights of the GKE setup and access to the logs should probably take over.

Adding a retry or any other workaround contradicts the sense of e2e tests somehow. We can do that and add a bol

[2016-06-07 06:28] wojtek-t commented on #26185
Thanks a lot for debugging @hongchaodeng and @xiang90 - those are super useful observations.

@rsc - let me ask this question to you. We have 5-node kubemark setup (which is pretty small) and run just density test on it. That means we have few hundreds of objects in the system. Is it expected that GC takes that long (as described in https://github.com/kubernetes/kubernetes/issues/26185#issuecommen

[2016-06-07 06:57] jstrachan commented on #25961
@jimmidyson I just gave it my best shot :)

[2016-06-07 07:21] JeanMertz commented on #14339
@roberthbailey ah yes, great feature!

I've now read https://cloudplatform.googleblog.com/2016/05/introducing-Google-Container-Engine-GKE-node-pools.html, and that totally solves this problem.

I'll be upgrading today, and close this issue if all goes well and this features solves the original problem, but it certainly looks like it will (for future readers: the blog post has this exact upgrade sc

[2016-06-07 07:37] txomon commented on #23727
Yes, sorry for not answering but that was indeed what happened to me. Even
if I had the user pass it wouldn't work everywhere.

Would be possible to print all the credentials at once?

On Tue, 7 Jun 2016 00:44 Ben Hosmer, <notifications@github.com> wrote:

[2016-06-07 08:07] gmarek commented on #26698
Possibly, but when I looked at it only one test that was looking at those labels was enabled, so this shouldn't be causing flakes.

[2016-06-07 08:11] gmarek commented on #26062
@davidopp - is explaining this a blocker for 2k Node effort?

[2016-06-07 08:14] gmarek commented on #21947
Not that I know of.

[2016-06-07 08:46] cheld opened #26943 "Service account not working in hyperkube since v1.3.0-alpha.5"
Problem
Service account seems to be broken in Hyperkube

Steps:
[code]

Result is empty dir.

Comment:
It works in v1.3.0-alpha.4

[code]

[2016-06-07 08:53] erez-rabih opened #26944 "Deployment does not update when adding environment variables"
Hi,

We're using deployments on Kubernetes version 1.2.1.

In order to update deployments we update the corresponding deployment.yml file and the run
`kubectl apply -f deployment.yml`

Everything works well most of the time except for the case in which we add an environment variable to one of the containers on the deployment.yml.

In that case we see that a new replica set is not created and the o

[2016-06-07 09:06] j-vizcaino commented on #26718
Testing further, we discovered that, using the exact same setup, DNS UDP trafic was correctly routed and `conntrack` did its job correctly.
It appears, `conntrack` need a special module in order to track TFTP trafic: module is called `nf_conntrack_tftp`.

[2016-06-07 09:10] nhlfr commented on #26937
I'm going to work of this, just FYI.

[2016-06-07 09:12] luxas commented on #26943
Can you provide interesting parts of the kubelet log?

[2016-06-07 09:24] boj commented on #25628
Ran across this myself and figured it'd be a good issue to tackle.

I spent a little time today digging through the code and identifying where to possibly handle this.  I'll tie in a PR once I have a satisfactory solution.

[2016-06-07 09:26] ngtuna commented on #25476
@justinsb I've already made a tiny change locally to make it work. In case you verify the issue, I can make a PR for that.

[2016-06-07 09:39] sttts commented on #26210
@krousey @bprashanth here is a PR to ignore the gke flake: https://github.com/kubernetes/kubernetes/issues/26949

[2016-06-07 09:39] cheld commented on #26943
Not sure what is interesting. Uploaded all of the log file.
[log.txt](https://github.com/kubernetes/kubernetes/files/302243/log.txt)

[2016-06-07 09:51] fgrzadkowski commented on #11935
I believe that cluster autoscaler for GCE is now working, so we should start thinking about porting it to other cloud providers.

@mwielgus Can you look into this in some free cycles? How hard would it be?

Who would be willing to own this? We're happy to share ideas/concepts behind GCE implementation, but I don't we should actually drive the AWS implementation. Someone from the community?

Removi

[2016-06-07 09:53] dshulyak commented on #26234
@AdoHe @bgrant0607 Am i right that the goal is to validate k8s objects using schema after applying ThreeWayMergePatch?
If so fuzz tester should be able to:
1. Generate k8s object (using existing helper)
2. Generate 2nd version of this object
3. Create and apply three way merge patch
4. Validate resulted object using schema, plus additional tests

[2016-06-07 09:53] xiaochunyn opened #26954 "How to use "ABAC" plugin ? thanks"
I want to use "ABAC" plugin in my project, But I have some questions.
I have read the doc in [http://kubernetes.io/docs/admin/authorization/](url) and set
`--authorization-mode=Webhook ----authorization-policy-file=abac.jsonl`

the content of "abac.jsonl " as follows:
`{"apiVersion": "abac.authorization.kubernetes.io/v1beta1", "kind": "Policy", "spec": {"user":"*",         "nonResourcePath": "*",

[2016-06-07 10:06] kargakis commented on #26797
@kubernetes/deployment

[2016-06-07 10:08] luxas commented on #26943
can you kindly test this also with the shared volume mount solution?

[2016-06-07 10:11] luxas commented on #26943
cc @jsafrane @fgrzadkowski @lavalamp @ncdc @kubernetes/sig-storage @kubernetes/rh-storage

I think something is wrong with `NsenterWriter`

[2016-06-07 10:18] glerchundi commented on #26897
I firmly believe the issue is related to what I reported because I was finally able to change the instance templates hostnames by using an overriden hostname (using kubelet arg: `--hostname-override=$(hostname -s)`) which transforms the current CoreOS machine FQDN (`k8s-worker-lx53.c.mr-potato.internal`) into a shortened version one (`k8s-worker-lx53`) and after this everything worked properly.

I

[2016-06-07 10:22] pires commented on #20176
@bprashanth I just like the idea of simplifying the UX for making TLS cert/chain available to any Kubernetes resource without having to `cat`, `base64`, etc.

[2016-06-07 10:23] ncdc commented on #26943
@cheld What OS? What Docker version?

[2016-06-07 10:33] cheld commented on #26943
Docker: 1.10.3 (client+server)

OS: Ubuntu 15.10

[2016-06-07 10:34] cheld commented on #26943
CC @batikanu

[2016-06-07 10:36] ncdc commented on #26943
@cheld have you tried `--volume=/var/lib/kubelet:/var/lib/kubelet:rw,rslave`?

[2016-06-07 10:47] cheld commented on #26943
@ncdc it works!

[code]

[2016-06-07 10:55] ncdc commented on #26943
@cheld is it ok to close this?

[2016-06-07 11:07] pskrzyns commented on #26102
cc @jjlakis @lukasredynk

[2016-06-07 11:11] luxas commented on #26943
Okay, this is going to push us over docker `1.10`, but I think it's okay.
@cheld May you run conformance tests on `alpha.4` and `alpha.5` with this change?
That would be a great way to see if anything other has changed...

@cheld Does everything work "normally" (for this solution) with `rslave`? emptyDir, downward api, service accounts etc.

[2016-06-07 11:13] wojtek-t commented on #23545
Also happened to me - reopening.

[2016-06-07 11:14] ncdc commented on #26943
rslave is how we do it for OpenShift. Everything should work just fine.

On Tuesday, June 7, 2016, Lucas Käldström <notifications@github.com> wrote:

[2016-06-07 11:16] cheld commented on #26943
@ncdc Can you shed some light on the rslave option?

So, we still have to adapt documentation and a couple of scripts. I can do this in a separate PR.

@zreigz could you please run the conformance tests?

[2016-06-07 11:19] sttts commented on #26210
Following @krousey's idea that the ssh tunnel makes trouble, I am running e2e tests now continuously with a local docker-in-docker cluster with enabled ssh tunnels. Let's see....

[2016-06-07 11:21] k8s-merge-robot opened #26955 "[k8s.io] Port forwarding [k8s.io] With a server that expects a client request should support a client that connects, sends no data, and disconnects [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8647/

Failed: [k8s.io] Port forwarding [k8s.io] With a server that expects a client request should support a client that connects, sends no data, and disconnects [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-07 11:22] luxas commented on #26943
Does `rslave` work with <alpha.5? @cheld may you verify?

[2016-06-07 11:39] j-vizcaino commented on #26718
It seems to be related to how the TFTP protocol works:

[code]

Loading the `nf_conntrack_tftp` show `helper=tftp` in the `conntrack` events but does not help much.
Is this dynamic port binding ExternalIP:portY → PodIP:portY even supposed to work?

[2016-06-07 11:50] sttts commented on #26210
0: path /api/v1/proxy/namespaces/e2e-tests-proxy-g3vf7/pods/proxy-service-0xosj-xevhd:162/ gave status error:
{
	TypeMeta:{Kind: APIVersion:}
	ListMeta:{SelfLink: ResourceVersion:}
	Status:Failure
	Message:an error on the server has prevented the request from succeeding
	Reason:InternalError
	Details:name:""
	group:""
	kind:""
	causes:<reason:"UnexpectedServerResponse"
	message:"
	Error: 'write tc

[2016-06-07 11:51] z32109571 commented on #26148
@AdoHe i logs to the sync process.I found proxier.ensurePortals()  costs two minutes.could you  give me an optimization method

[2016-06-07 12:00] luxas commented on #22911
Thanks for debugging this.
May I set the `v1.3` milestone, as I think we should fix this before release?

[2016-06-07 12:32] sttts commented on #26210
The last 10 failing paths:
[code]

- always port 80 or an unspecified port (which maps to the first port of the pod which is port 80 as well)
- never happens as the first connection in the tests, always 1.5 seconds +- 0.5 seconds after the first connection
- connection a few ms before or after work fine

[2016-06-07 12:34] wojtek-t commented on #26185
Anyway - whether this is expected or not it's a different issue, but what happened is exactly what @xiang90 described above - we were mostly blocked during that time.

So to avoid flakes of these tests in the future, I think that we should simply increase the thresholds for metrics to 1s no matter what the cluster size is.
I will send a PR.

[2016-06-07 12:38] cheld commented on #26943
Manually tested  emptyDir, downward api, service accounts with v1.2.4, alpha.4 and alpha.5. Seems to work fine

BTW: the shared volume solution is not really working on my machine. (Error: Path /var/lib/kubelet is mounted on /var/lib/kubelet but it is not a shared mount..)

[code]

[2016-06-07 12:42] gmarek commented on #26185
Does this mean that go GC is still "stop the world" one on small machines?

[2016-06-07 12:44] wojtek-t commented on #26185
From what I've found in documentation (it's supposed to be 1.6) it seems so:
https://golang.org/pkg/runtime/
[code]

[2016-06-07 12:45] zreigz commented on #26943
In your docker service file you have to clear or set for **shared**  `MountFlags`
[code]

[2016-06-07 12:47] j-vizcaino commented on #26515
Thank you for the fix!
Is this planned for the next 1.2.x release?

[2016-06-07 12:51] k8s-merge-robot opened #26960 "[k8s.io] Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8651/

Failed: [k8s.io] Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-07 12:55] ncdc commented on #26943
Did your Docker unit file change between v1.3.0-alpha.4 and v1.3.0-alpha.5? Perhaps you had MountFlags=shared (or slave) when running v1.3.0-alpha.4 but it somehow was removed or changed to private for v1.3.0-alpha.5?

[2016-06-07 12:56] ncdc commented on #26943
@pmorie fyi in case you want to explain the various mount propagation modes 😄

[2016-06-07 13:10] ncdc commented on #26319
@bprashanth I've never been able to access pantheon.corp. It always redirects to https://login.corp.google.com/request?s=pantheon.corp.google.com:443/uberproxy/&d=https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/7753/....

A URL like this does work for me: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/7753/

[2016-06-07 13:29] fgrzadkowski commented on #23545
This is blocking a lot of PRs and merge queue is completely blocked. What are the instructions for restarting this cache?

[2016-06-07 13:49] alex-mohr commented on #22655
@mikedanese has been working on deployment improvements -- unsure if his work will obsolete this?

Also, this isn't related to GKE, so removing that label.

[2016-06-07 13:58] ncdc commented on #24819
@DenisIzmaylov this is a very specific issue that has a very particular root cause for why pods get stuck terminating, and it has been fixed by 25077. There may be other reasons why pods get stuck terminating, so I'm wondering if you're maybe hitting a different root cause?

[2016-06-07 14:01] juulSme commented on #8620
I'm running Kubernetes 1.2 on a Raspberry Pi cluster but this still seems to be an issue, or something else is going wrong, because the master node is absolutely swamping the network with GET requests. DD-WRT status shows 1600 open IP connections from the master node. I've tried to find a solution to the problem but so far I haven't succeeded. Adding nodes aggravates the problem.
[journalctl.txt](

[2016-06-07 14:03] ChaiBapchya commented on #26842
Actually the error seemed to be in the code for make launch-kube. Hence posted in the kubernetes github. With much work, glitch was with the pachyderm installation and dependency conflict. Thanks anyway

[2016-06-07 14:06] piosz commented on #21577
@lavalamp thanks for clarification. I added release note to #25279. The inital plan was to:
- introduce HPA in autoscaling/v1 in Kubernetes 1.2
- migrate internal components to use autoscaling/v1 objects in Kubernetes 1.3
- remove HPA in extensions/v1beta1 in Kubernetes 1.4
So I'm planning to remove HPA in extensions/v1beta1 in 1.4

[2016-06-07 14:08] JeanMertz commented on #14339
Yep, This worked as expected. Thank you.

[2016-06-07 14:08] #14339 closed

[2016-06-07 14:16] dims commented on #26927
@asalkeld - Ah. so this can be closed.

[2016-06-07 14:19] lukaszo commented on #26892
For normal containers `RESTARTS` field shows the sum of `RestartCount` from containers status.

I think for init containers as we know which container is running (when #26829 is merged) we can show restart count for current init container.
For normal containers behavior should not change.
So it would look like these:

_First init container is failing_
[code]

_Second init container is failing_
[co

[2016-06-07 14:21] eparis commented on #26927
closing as a dup of #20627

[2016-06-07 14:21] #26927 closed

[2016-06-07 14:27] ajohnstone opened #26963 "Configure ES_HOST in fluentd-elasticsearch addons"
It would be ideal to be able to configure the `ES_HOST` in the image via an environment variable rather than have hard coded in the config fie.

https://github.com/ajohnstone/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/td-agent.conf#L229

[2016-06-07 14:29] xiang90 commented on #26185
@wojtek-t @gmarek

Technically, the 2nd phase of gc (concurrent mark and scan) is not stop-the-world. But it can use up all your cpu resources, which is "stop-the-world" in practice.

How to find this out? See our gc log:

[code]

Let's use this one as an example, 443ms is how long the 2nd phase took in clock time.

655/220/0.15 is how long the 2nd phase (divided into 3 smaller phases) took in cpu

[2016-06-07 14:38] fgrzadkowski commented on #23545
I have manually started metadata server of `pull-kubernetes-master`. We'll see if this'll help. For future reference I used the following command:

[code]

[2016-06-07 14:44] sbilali opened #26965 "guestbook examlpe submit button not working"
Hello,
I am trying to learn kubernetes and I managed to confiigure a little cluster withe one master node and two slaves. I am using vagrant and virtualbox with centos 7.
I did the guestbook example but when I type a message and I click the submit button nothing happens.

[2016-06-07 14:47] roberthbailey commented on #14339
Awesome!

[2016-06-07 14:50] jsafrane opened #26966 "Race in delta_fifo on initial sync"
Controller  (result of `framework.NewInformer()`) does not get deletion event when it is loading initial set of objects (say PersistentVolumes) from etcd and at the same time a PersistentVolume in etcd is deleted. This deleted PersistentVolume is kept in controller cache and it is periodically updated.

I traced it down to this TODO: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/

[2016-06-07 14:54] yujuhong commented on #8620
@juulSme, I am not sure why you think this is related to this issue or docker at all. This issues is about querying docker for pods on a single node. Docker operations are performed locally on the node over a unix socket. It has nothing to do with the cluster size (i.e., number of nodes) or *just* master node. From the description, you seem to have scalability problem (for the master components) w

[2016-06-07 14:54] smarterclayton commented on #26892
Yeah, although I don't know that we need the Init prefix in the status.  I
think users can reasonably be expected to infer that RESTARTS is
subordinate to STATUS.  The init prefix makes it harder to read without
adding a ton.

On Tue, Jun 7, 2016 at 10:19 AM, Łukasz Oleś <notifications@github.com>
wrote:

[2016-06-07 14:54] jsafrane commented on #26966
And the flake is in `TestControllerSync`, which times out with this stack trace:

[code]

In test log is endless loop of:
[code]

[2016-06-07 15:08] jsafrane commented on #26730
@pmorie, can you please take a look?

[2016-06-07 15:12] gmarek commented on #26185
@xiang90 - that's exactly what I meant. IIUC it either means that go is designed to run on more than two cores, or that we generate too much churn for GC to handle quickly.

[2016-06-07 15:27] thoraxe opened #26967 "pod information does not include injected service environment and other variables"
Currently if you examine a pod you cannot discover what environment variables have been injected by k8s, especially service env vars.

For example:

[code]

With root access to a host in the cluster I could use `docker inspect`. However, outside the cluster and for containers that do not have any shell installed there appears to be no way to determine what env vars the pod is seeing.

@mfojtik
@nc

[2016-06-07 15:28] mfojtik commented on #26967
👍

It is also hard to discover the envs if you run FROM scratch Docker image or something minimal that does not have `env`.

[2016-06-07 15:28] ncdc commented on #26967
The long term goal is to remove the automatically-injected environment variables for services (see #1768).

[2016-06-07 15:47] jsafrane commented on #26682
This is a different flake, volume controller can't delete provisioned GCE PD for 20 minutes:

[code]

@saad-ali, is it a bug in #26351?

[2016-06-07 16:04] wojtek-t commented on #23545
Can we document it somewhere?

[2016-06-07 16:08] wojtek-t commented on #26185
@gmarek - I'm pretty sure the latter; Clayton already reduced the amount of allocations we do, but we still do a huge amount of those. At some point, we should probably take a closer look into it too.

[2016-06-07 16:12] thockin commented on #26319
The linking to anything.corp is a problem.

On Tue, Jun 7, 2016 at 6:11 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-06-07 16:12] wojtek-t commented on #26938
The test is different, but the underlying issue is exactly the same as in #26185.

Closing as duplicate of #26185 (the fix is already in flight).

[2016-06-07 16:12] #26938 closed

[2016-06-07 16:19] xiang90 commented on #26185
@wojtek-t I agree with you. We plan to take a close look soon.

[2016-06-07 16:21] k8s-merge-robot opened #26970 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5092/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

[2016-06-07 16:23] pmorie commented on #26943
I guess what I really need to do is write some doc on this subject.

[2016-06-07 16:26] zmerlynn commented on #26319
Also seen on: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/8659?pli=1

[2016-06-07 16:28] ncdc commented on #26319
Public links please! 😄

[2016-06-07 16:28] justinsb commented on #21526
As we have a fix for it that is LGTMed, I guess I didn't need to punt it the other day.

[2016-06-07 16:32] bprashanth commented on #26319
Someone should write a chrome plugin that s/pantheon.corp/console.cloud/

[2016-06-07 16:38] derekwaynecarr commented on #25594
Sent a PR with a fix to prevent the flake from occurring.

[2016-06-07 16:39] pmorie commented on #26141
^^ the above seems like a possible bug in exec

@ncdc

[2016-06-07 16:40] derekwaynecarr commented on #24596
This is now supported per https://github.com/kubernetes/kubernetes/pull/25787

[2016-06-07 16:40] #24596 closed

[2016-06-07 16:44] goltermann commented on #26431
Bumping to P0, this one continues to be a high dev painpoint.

[2016-06-07 16:51] jingxu97 commented on #22911
Sure. THanks!

Jing

On Tue, Jun 7, 2016 at 5:01 AM, Lucas Käldström <notifications@github.com>
wrote:

--
- Jing

[2016-06-07 16:51] ncdc commented on #26141
@mrunalp ^

[2016-06-07 16:53] derekwaynecarr commented on #26319
There is a fix in the queue for this.  +1 on a plug-in.

[2016-06-07 16:55] ncdc opened #26972 ""Generating ref for container" log message is spammy"
For example:

[code]

Could we consider moving it to log level 4 or 5?

cc @kubernetes/sig-node @smarterclayton @kubernetes/rh-cluster-infra

[2016-06-07 16:59] lavalamp commented on #21577
That sounds fine. People will need to run the upgrade object script before
step 3.

On Tue, Jun 7, 2016 at 7:06 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2016-06-07 17:00] lavalamp commented on #26728
Yeah, that sounds like a good idea.

On Mon, Jun 6, 2016 at 8:05 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-06-07 17:04] janetkuo commented on #26797
A third option, as #26792 implemented, is to not compare the hash value, but just compare podTemplateSpec.

[2016-06-07 17:05] ixdy commented on #23545
ideally we should fix the metadata server cache so it reliably restarts when the VM restarts.

[2016-06-07 17:06] florian-besser opened #26973 "Exposing ports not working on CentOS"
I've got a simple setup with 1 master and 1 minion (bare-bone, no cloud provider. CentOS 7), and I'd like to run some containers on the minion, and expose them using a service. In the end I'd like to open a browser to a IP:Port and see some results.

I use this yaml file to set up nginx:
https://gist.github.com/florian-besser/b3d778008616cdf612abd33ed61d6817

I then execute:
`kubectl create -f kub

[2016-06-07 17:08] spxtr commented on #26730
Increasing integration log level can go into `hack/test-integration.sh` I think. It's probably a good idea to split them into their own job.

[2016-06-07 17:08] freehan commented on #24953
@bprashanth The first fix was already in for quite some time. The fix was not in the official CNI code base at the time. Hence I keep this open to track the upstream issue.

[2016-06-07 17:10] mrunalp commented on #26141
The error to me indicates that the original container is no longer around as exec can't find the ipc namespace fd. Are we sure the container that we are trying to join is still around?

[2016-06-07 17:13] cloudsan42 commented on #7199
Hi,

I'm running Kubernetes cluster in Openstack but when  I specify service type as Load balancer it is showing empty externtel Ip.
NAME        CLUSTER-IP       EXTERNAL-IP   PORT(S)    AGE
guestbook   10.8.8.8                 3000/TCP   4m
can you please tell how to get externel IP?

[2016-06-07 17:18] a-robinson commented on #7199
Run `kubectl get events` for messages that will tell you what's going on with your external load balancer.

[2016-06-07 17:19] derekwaynecarr commented on #26431
see: https://github.com/kubernetes/kubernetes/issues/26903

[2016-06-07 17:20] spxtr commented on #25849
Agreed.

[2016-06-07 17:20] #25849 closed

[2016-06-07 17:22] mikedanese commented on #22655
This doesn't seem like a p0, I had not seen this up to this point. I think @roberthbailey nailed it https://github.com/kubernetes/kubernetes/issues/22655#issuecomment-194128923. We can retry the master creation but if we want to halt the bringup when the job fails we need to wait4 or run this in the foreground and deal with slower bringups. The new stuff won't have this problem

[2016-06-07 17:30] ncdc commented on #26955
So far I haven't found anything in the logs. The pfpod container starts, the e2e test receives all the data from it. At that time, the container should exit and the pod should be stopped. For some reason, either the container doesn't stop, or the kubelet doesn't see it stop. It's hard to tell which because the logs don't have enough information to make that determination.

[2016-06-07 17:34] luxas commented on #26943
@pmorie That would be really nice!

@cheld May I assign this to you; to document docker-1.10 requirement and update the commands to include `rslave`?

[2016-06-07 17:41] girishkalele commented on #26626
Missing logs tracked by this
https://github.com/kubernetes/test-infra/issues/100

[2016-06-07 17:54] y2kenny commented on #26905
Um... I removed the resource limits from skydns but it's the same.  The weird thing is that I had a deployment that was working before with the same instruction.

[2016-06-07 17:55] yujuhong opened #26979 "Enable CoreOS image in node e2e testing"
Due to failures in #26431 and discussions in #26903, CoreOS image was temporarily removed from the node e2e tests (#26978).

The issue needs to be triaged and fixed before we can renable the CoreOS image.

[2016-06-07 18:06] pwittrock commented on #26903
FYI, you can also create an instance using the coreos image using

[code]

[2016-06-07 18:09] k8s-merge-robot opened #26982 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1445/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

[2016-06-07 18:10] rootfs opened #26983 "failed to start local cluster on aws"
On AWS, I run local-cluster-up.sh with `ALLOW_PRIVILEGED=true LOG_LEVEL=5 CLOUD_PROVIDER="aws" HOSTNAME_OVERRIDE="ip-172-18-3-8.ec2.internal" hack/local-up-cluster.sh`, create a Pod and find Pod cannot be scheduled. The following can be found in `/tmp/kube-scheduler.log`

[code]

This seems to be due to commit be1b57100d05ef3431e3095aab9b339b8dafa3e5. I manually revert it and I am able to see the

[2016-06-07 18:22] quinton-hoole commented on #26762
cc: @colhom, @madhusudancs @nikhiljindal Separate issue now.  Since a rebase, I'm seeing incorrect tags being applied to the federation-apiserver and federation-controller-manage images.  This leads to those pods failing to come up (status=ImagePullBackOff).  @nikhiljindal is seeing the same issue.  I haven't debugged very much yet.  Will do now.

Note that the tags on the images uploaded to gcr.i

[2016-06-07 18:27] yujuhong commented on #26982
The image prepull pod failed pulling the last image.

/cc @bprashanth

[2016-06-07 18:31] dims commented on #17599
@lavalamp old flake?

[2016-06-07 18:32] dims commented on #17519
The referenced PR has merged. Can we please close this issue?

[2016-06-07 18:35] nikhiljindal commented on #23653
Remaining 1.3 tasks:

- [ ] Create secrets for all clusters (@nikhiljindal)
- [ ] Add e2e tests for cluster controller
- [ ] Add e2e tests for service controller (@madhusudancs)
- [ ] Add federation e2e to tests that merge bot runs (@quinton-hoole)
- [ ] Verify e2e tests on GKE
- [ ] Verify e2e tests on AWS
- [ ] Add a user-guide for admins
- [ ] Update the federation-{up, down} scripts so that ad

[2016-06-07 18:36] timothysc commented on #19720
@runcom could we cross-link to the 1.10 errata once it's done, for folks who may be tracking 1.10 and kube 1.3.

[2016-06-07 18:40] dims commented on #15571
@nikhiljindal since the page/url does not exist, we can just close out this issue? :)

[2016-06-07 18:41] yifan-gu opened #26986 "[k8s.io] hostPath should support subPath [Conformance] failed on rktnetes"
[code]

cc @kubernetes/sig-node @euank @tmrts

[2016-06-07 18:42] quinton-hoole commented on #26762
The problem seems to be that the following files, generated via a clean build against upstream/master HEAD last night, contain hexadecimal tags of the form e.g. `e0f90fdaf13303872fcf9ea4c24a62fc`,  whereas the pod manifests are looking for tags of the form
 `v1.3.0-alpha.5.130_a72498e8685b28`

$ pwd
/Users/quinton/code/go/src/k8s.io/kubernetes/_output/release-stage/server/linux-amd64/kubernetes/se

[2016-06-07 18:43] dims commented on #15558
@colemickens looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/19309 can we close this please?

[2016-06-07 18:45] yifan-gu opened #26987 ""[k8s.io] Monitoring should verify monitoring pods and all cluster nodes are available on influxdb using heapster" failed on rktnetes"
[code]

cc @kubernetes/sig-node @euank @tmrts

[2016-06-07 18:46] dims commented on #21453
@mqliang is this still a problem?

[2016-06-07 18:53] therc commented on #26362
In AWS land, now that we have addressed in 1.3 most or all of the reasons for which users used to mess manually with ELBs (and keep their fingers crossed that their controllers wouldn't restart for weeks at a time), I think we're ready to refetch service state every minute or two. I could tackle it, but only after #26900, which addresses what's maybe the current leading candidate for getting users

[2016-06-07 18:59] colemickens commented on #15558
Looks like there's a lot of discussion on [the newer issue](https://github.com/kubernetes/kubernetes/issues/19309), so I'll close this out.

[2016-06-07 18:59] #15558 closed

[2016-06-07 19:01] paralin commented on #17519
@broady @mikedanese close please :)

[2016-06-07 19:02] paralin commented on #26983
When you get that error log can you post the output of `kubectl get nodes -o yaml` ?

[2016-06-07 19:04] euank commented on #26903
@pwittrock That's an old image, the current node_e2e was using `e2e-node-coreos-stable20160531-image` which I don't think is publicly shared. Listing images from the `kubernetes-node-e2e-images` project gets me the older one you reference above, not the current one of interest.

[2016-06-07 19:06] wojtek-t commented on #26431
I faced this 5 times in the last few hours on my PRs

[2016-06-07 19:08] quinton-hoole commented on #26762
So the tags in the above files are apparently correct:

https://github.com/kubernetes/kubernetes/blob/3b908a538df38d93becda67309321a934138d0f6/build/common.sh#L861

 but they are not being substituted into the pod YAML spec correctly:

https://github.com/kubernetes/kubernetes/blob/3b908a538df38d93becda67309321a934138d0f6/federation/manifests/federation-controller-manager-deployment.yaml#L18

[2016-06-07 19:11] dims commented on #13829
agree with @smarterclayton env var is great for this use case. sent a PR

[2016-06-07 19:11] #17519 closed

[2016-06-07 19:15] pwittrock commented on #26191
All of the failures appear to be in ***broken test runs*** which indicates this test is not the problem, but there is a general infrastructure issue.  I don't think this is actionable, and definitely not a P0 unless it is actually causing the broken test runs instead of an effect of them.  Changing priority to P3.

FWIW: You can check out http://testgrid.k8s.io/ to see the history.  Looks like it

[2016-06-07 19:16] pwittrock commented on #26715
SGTM.

[2016-06-07 19:16] vishh commented on #26923
As of now, logs of running containers are controlled by runtimes. To avoid duplicated storage of log files, it's better to avoid managing logs of running instances for now.

[2016-06-07 19:16] euank commented on #26431
#26978 was merged which should stop the bleeding. I still don't have access to the actual up-to-date image which was used (`e2e-node-coreos-stable20160531-image`) since an older one was shared.

Assuming that the above merge was correct, this can probably be moved to a P1

[2016-06-07 19:16] pwittrock commented on #26715
Marking this as a P3 until we see it again.  Suspect it is related to test infra.

[2016-06-07 19:17] dims commented on #13321
@copejon @bprashanth Can we please close this issue?

[2016-06-07 19:19] pwittrock commented on #26870
Removing ux because this does not appear to be related to the test itself.

[2016-06-07 19:23] pwittrock commented on #26665
Images available in:

`kubernetes-node-e2e-images`

[2016-06-07 19:23] #26665 closed

[2016-06-07 19:24] wojtek-t commented on #26185
@xiang90 - awesome thanks! let me know when you have some questions or observations. I'm also happy to review your PRs.

[2016-06-07 19:25] quinton-hoole commented on #26762
Here's the errant line of code:

hack/e2e-internal/e2e-up.sh:	export FEDERATION_IMAGE_TAG="$(cat "${KUBE_ROOT}/federation/manifests/federated-image.tag")"

[2016-06-07 19:27] wu105 opened #26989 "docker pull from gcr.io blocked via storage.googleapis.com"
docker pull gcr.io/google_containers/pause:0.8.0

gets the following:

Pulling repository gcr.io/google_containers/pause
Error pulling image (0.8.0) from gcr.io/google_containers/pause, Get https://storage.googleapis.com/artifacts.google-containers.appspot.com/containers/images/2c40b0526b6358710fd09e7b8c022429268cc61703b4777e528ac9d469a07ca1/ancestry: read tcp 216.58.216.240:443: connection reset

[2016-06-07 19:28] ncdc commented on #25113
@smarterclayton

container context -> redirect from kubelet to listening process in
container context -> serve back to client", allowing the kubelet to offload
any communication traffic.

How do we handle traffic from "client -> listening process in container context" - does it still go through the apiserver? Or using Ingress somehow? Otherwise I don't see how we go from an external client to a po

[2016-06-07 19:28] pwittrock commented on #26834
Found a number of instances on GKE, but they have all been broken test truns

[2016-06-07 19:30] jimmidyson commented on #26890
PR #26968 submitted with required godep bump.

[2016-06-07 19:31] mikedanese commented on #26782
Looking at the code, it seems like this is a bug in wait.Until. Most recent change was https://github.com/kubernetes/kubernetes/commit/3ec25c54252568b0e3d97feffc9363c9f1e6ff1f

[2016-06-07 19:31] rootfs commented on #26983
[code]

@paralin

[2016-06-07 19:37] colhom commented on #26762
@quinton-hoole these two values are actually entirely distinct from each other. I think your conflating two steps in the bring-up process.

* **build phase** -- `make-quickrelease` (or equivalent) will leave us the container image as a tarball. `federation-controller-manager.tar.gz`.

  * The repo will always be `gcr.io/google_containers/federation-controller-manger`
   * The tag will be generated

[2016-06-07 19:41] pwittrock commented on #26834
cc @janetkuo
This looks like a variant of what was fixed in #26727, but for doing Pod reads.  Will try to apply the same fix here.

[2016-06-07 19:44] gmarek commented on #23545
Documenting it before we're there sounds like a way to go.

[2016-06-07 19:49] yujuhong commented on #26431
Agreed. Moved to p1.

[code]

@pwittrock, do you know why `e2e-node-coreos-stable20160531-image)` isn't shared in the project?

[2016-06-07 19:56] dchen1107 commented on #26986
@euank I assigned p0 issues to you since yifan is out-of town? Please delegate the issue.

[2016-06-07 19:57] MHBauer commented on #17139
Does the switch to `vendor/` help? #24242 and friends.

[2016-06-07 20:02] SephVelut commented on #22655
I've been trying to kube-up for two days now. I've had to write a macro that would keep retrying on failure and I can't get a cluster up using the pre alpha and latest release.

[2016-06-07 20:11] paralin commented on #26983
You're right:

[code]

I think it's just a bug, probably need someone to look into fixing it.

[2016-06-07 20:18] saad-ali opened #26994 "Attach Detach Controller should verify pods exist periodically"
The Attach Detach/Controller should periodically verify that pods in the desired state of the world still exist  (whether it should check with the informer cache or directly with the API server is yet to be decided).

This will add an additional layer of robustness: if the controller misses a pod delete event for any reason (which appears to happen occasionally, see https://github.com/kubernetes/k

[2016-06-07 20:18] pwittrock commented on #23414
Saw this on GCE #26715.  Closing as a duplicate

[2016-06-07 20:18] #23414 closed

[2016-06-07 20:19] saad-ali commented on #26682
Yes, 18298 hit a different issue than the original one being tracked by this bug. The persistent volume controller is unable to delete the provisioned volume because it is still attached after the test is complete. It remains attached because the attach_detach_controller apparently did not receive, or missed, the pod delete event.

https://github.com/kubernetes/kubernetes/issues/26406 is open to f

[2016-06-07 20:20] pwittrock commented on #26715
Duplicate of #23075.  Looks like we have seen this a few times in the PR builder

[2016-06-07 20:21] pwittrock commented on #23075
Closing as a duplicate of #26715

[2016-06-07 20:21] #23075 closed

[2016-06-07 20:22] pwittrock commented on #26834
Assigning to @janetkuo who is working on a fix

[2016-06-07 20:23] DenisIzmaylov commented on #24819
May be. How I can see logs for this issue?

[2016-06-07 20:27] bprashanth commented on #26989
Hmm, urls are supposed to be case sensitive. I haven't confirmed Storage vs storage, but storage.googleapis.com is the domain of GCS (https://cloud.google.com/storage/docs/xml-api/reference-uris). Now of course someone could upload malware to a cloud storage location, or if you're downloading a random image it could contain malware etc.

[2016-06-07 20:27] paralin commented on #26937
It'd be nice if LoadBalancers would map to something on local. Same with NodePort.

[2016-06-07 20:29] paralin commented on #26928
This already exists in Ingress, Services (with NodePort), etc. I think abstracting it to a single command like that would likely not fit well with Kubernetes' resource and object based config patterns.

Have you tried using ingresses?

[2016-06-07 20:33] derekwaynecarr commented on #26903
@pwittrock - that must be the old image... i spun up an instance and it did not have accounting enabled.

[2016-06-07 20:34] yifan-gu commented on #24563
@euank Please document this workaround for 1.3

[2016-06-07 20:36] derekwaynecarr commented on #26903
@euank I am happy to help look at this when the image is made public.

[2016-06-07 20:37] yifan-gu commented on #24305
This test is not being run in the e2e PR suite, so moving to rktnetes 1.1

[2016-06-07 20:39] yifan-gu commented on #23983
This test is passing now, so closing.

[2016-06-07 20:39] #23983 closed

[2016-06-07 20:40] jingxu97 opened #26996 "isLikelyNotMountPoint() function needs refactored"
CC @kubernetes/sig-storage

Currently, isLikelyNotMountPoint() is implemented in mount_linux.go and nsenter_mount.go. They use different approach to determine whether a path is mounted or not.
1. mount_linux.go checks if the directory has a different device as parent, then it is a mountpoint.
2. nsenter_mount.go uses findmnt command result to check the mountpoint. This approach has issue: if the p

[2016-06-07 20:42] yujuhong commented on #24305
@yifan-gu is the requirement for rktnetes 1.1 passing the PR test suite only? Just want to understand the scope because there are quite a few non-PR test suites.

[2016-06-07 20:42] dchen1107 commented on #26514
This one should be addressed by https://github.com/kubernetes/kubernetes/pull/26856. Close this one as dup.

[2016-06-07 20:42] #26514 closed

[2016-06-07 20:42] derekwaynecarr commented on #25594
I am going to close this, we can re-open if it re-appears.

I suspect the fix was here: https://github.com/kubernetes/kubernetes/pull/25669

[2016-06-07 20:42] #25594 closed

[2016-06-07 20:44] #23706 closed

[2016-06-07 20:45] yifan-gu commented on #23307
This test is passing now, so closing.

[2016-06-07 20:45] #23307 closed

[2016-06-07 20:49] yifan-gu commented on #23232
Closing in favor of https://github.com/kubernetes/kubernetes/issues/24563

[2016-06-07 20:49] #23232 closed

[2016-06-07 20:50] yifan-gu commented on #20907
Not able to reproduce this anymore, so closing.

[2016-06-07 20:50] #20907 closed

[2016-06-07 20:50] yifan-gu commented on #21702
Moving to 1.1 as no one is actively working on this today.

[2016-06-07 20:54] jonmoter commented on #2203
Any movement on this? Having an audit trail of mutations in the system (like creating pods, deployments, etc.) is a requirement for compliance reasons. In particular, keeping track of which users executed which request.

I've looked at /var/log/kube-apiserver.log on the masters, and that has a nice list of all the API calls done, but I don't see anything identifying the user that made the request.

[2016-06-07 20:55] lavalamp commented on #17599
Yes, obsolete.

[2016-06-07 20:55] #17599 closed

[2016-06-07 20:56] cloudsan42 commented on #7199
Hi Robinson,
There was  no events  related to load balancer.does kubernetes give externel IP in when using openstack ? if yes should I need to  change any settings in Openstack?

[2016-06-07 20:59] krousey commented on #26210
@sttts The fact that it's always port 80 is very weird.

With regards to ordering, you can't really be too certain about that. All of these are executed concurrently, and there could be delay between the error and the logging of the error. Also, it may have still been the first one on that particular tunnel. When the API server gets a proxy request, it picks at random: https://github.com/kubernete

[2016-06-07 21:02] yifan-gu opened #26997 "rkt: Use GetLogs() API to replace journalctl shell out calls"
Because of https://github.com/coreos/rkt/issues/2740 , today we still need to shell out to journalctl to get container logs.

@pbx0 is investigating whether we need to switch to GetLogs() API to make the kubelet-wrapper work with rktnetes.

@kubernetes/sig-node @euank @tmrts

[2016-06-07 21:04] yifan-gu commented on #25928
Going to move to v1.1 as this is a non-blocker.

[2016-06-07 21:08] roberthbailey commented on #2203
@jonmoter until we have fine grained users (or roles), an audit log wouldn't be very useful because all client access is done via the same credential (client cert that is shared among all users, which all have the same privilege level). @erictune can you cross link the IAM issue(s)?

[2016-06-07 21:10] quinton-hoole commented on #26762
OK, I think Colin and I figured this out:

1. ./build/push-ci-build.sh needs to be run manually after e2e.go -build
2. KUBE_GCS_RELEASE_BUCKET needs to be set, otherwise you'll get errors like this:
    [0607 14:02:25] Copying release artifacts to gs://kubernetes-release/ci/v1.3.0-alpha.5.166+ec4d061f64194e/   AccessDeniedException: 403 Forbidden

[2016-06-07 21:10] quinton-hoole commented on #26762
I will confirm that this all works properly, and @colhom and/or I will write up and keep current a correct set of instructions.

[2016-06-07 21:13] colhom commented on #21702
@yifan-gu i would much prefer to have rkt output to journald with well-defined/selectable metadata, and not have the kubelet do the symlinking dance to expose individual container logs.

We could filter the container log streams out on retrieval and use something like [journalbeat](https://github.com/mheese/journalbeat) to ship the logs out.

[2016-06-07 21:14] derekwaynecarr commented on #26290
@dims - this is different than #23514 which was reporting an error message that had shown a double delete request for a namespace.  This issue is different.

[2016-06-07 21:14] yifan-gu commented on #21702
@colhom What metadata you need?

[2016-06-07 21:15] girishkalele commented on #26364
Running the unit test in parallel 1200 iterations yielded one failure.

``` hack/test-go.sh -p 12 -i 100 pkg/proxy/userspace```
...
[code]

See full failure output at https://gist.github.com/girishkalele/e3645d4bbe8eb95f0ee0db3d24649824

[2016-06-07 21:16] derekwaynecarr commented on #26290
I am trying to think of more comprehensive information so these are much easier to debug.

I will look to add a PR that dumps out more information about pods when hung tomorrow morning.  The majority of the time the issue is kubelet side, but dumping the state of the pods as seen in the API server would help to know if pods ever started, if images were ever pulled, etc.

[2016-06-07 21:18] euank commented on #24305
The most important thing is that it works well for users. Tests are a good approximation of that, but what's more important for 1.0 is resolving real issues users might face. Running `docker kill {pod}` is clearly not a real issue, so I have no problem moving improving this specific testing problem out of scope of 1.0. If it were an issue that would impact users, regardless that it's not part of t

[2016-06-07 21:18] k8s-merge-robot opened #26998 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1446/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-07 21:25] wu105 commented on #26989
Thanks for the quick reply.
This can be serious problem because anti-malware policies could block the entire site.
You may want to work with major anti-malware vendors to make sure that sites essential for Kubernetes are not blocked.

By the way, McAfee thinks “Google Cloud SDK (Google-Cloud SDK.zip) show malware infections” and we are forced to remove it.

From: Prashanth B [mailto:notifications@

[2016-06-07 21:31] derekwaynecarr opened #26999 "Improve ability to debug e2e failures for namespaces that don't delete in time"
The e2e framework `deleteNs` needs to be smarter to better help triage issues in this space, as they all typically tend to be unique snowflakes particular to a problem with the node, pod, container runtime itself and rarely the controller that fundamentally drives deletes.

Ideas:
- deleteNS caches the set of Events in the namespace prior to invoking deletion, in cases of failure, logs all events

[2016-06-07 21:32] colhom commented on #21702
@yifan-gu the same metadata that is currently encoded in the `/var/log/containers/*.log` files. Container name, namespace, etc

[2016-06-07 21:33] timothysc opened #27000 "limiting bandwidth and iops per container."
We've seen several issues where multiple concurrent openshift builds running on a node can denial of service attack the nodes control plane such that the controller thinks the node is unresponsive.

/cc @kubernetes/sig-node @kubernetes/sig-network @jeremyeder

xref: https://github.com/kubernetes/kubernetes/issues/21331

[2016-06-07 21:40] bprashanth commented on #26989
This appears to be a "antivirus vendors are misinformed" problem, @aronchick maybe?

[2016-06-07 21:42] girishkalele commented on #26364
@thockin @matchstick

4 UDP sockets were found closed when not expected to be. Test harness seems to have hung till it panicked after 20 seconds waiting for progress.

[2016-06-07 21:42] pbx0 commented on #26997
Shelling out to journalctl works until you restart the kubelet and can no longer follow the symlink `/var/log/journal/$MACHINE_ID -> /var/lib/rkt/run/...` to any previously launched rkt pods. This is where we need rbind in stage1.

[2016-06-07 21:44] rootfs commented on #26141
@ncdc my memory is rusty but did you have an idea to randomize the container id in this pd test?

[2016-06-07 21:47] jonmoter commented on #2203
I was planning on creating multiple certificates tied to users with different privilege levels.

One cert for our deploy tool, another widely-available cert that has limited read-only access, and another cert that would only be readable by root on our servers, and end-users would need to do use `sudo` to access (and we log all sudo requests).

So at the very least we'd need to be able to different

[2016-06-07 21:51] #26748 closed

[2016-06-07 21:52] roberthbailey commented on #2203
Yes, if you can separate out your users into roles with different identities, then having audit logs for those roles seems like it'd be awesome. I don't think anyone has worked on this yet though. Do you want to write up a proposal?

[2016-06-07 21:53] euank commented on #26986
This is important for rktnetes, but I'm not sure this is actually p0. Investigating...

In a failing pod, there are the following volumes:
[code]

It seems likely there is a misunderstanding between a container's volumes and them being translated to pod volumes in rkt.

[2016-06-07 21:56] smarterclayton commented on #2203
@soyltsh your Openshift PR may be relevant here

[2016-06-07 21:57] lavalamp commented on #24656
The panic appears to be due to a private field, which shouldn't exist. It looks like the hard problems are taken care of? I'm lowering priority.

[2016-06-07 21:59] ptarpan opened #27002 "Initial single-master dual-node (minion) cluster"
I provisioned a single master two node cluster in AWS (us-west-2 region) using the startup guide at: http://kubernetes.io/docs/getting-started-guides/aws/. After some tweaking of the "util.sh" script, the cluster has now been initialized successfully as this script does not throw any configuration errors. Then, I followed: http://kubernetes.io/docs/user-guide/simple-nginx/ and ran "kubectl run my-

[2016-06-07 22:00] yujuhong commented on #24819
@DenisIzmaylov, one common reason for pods to be stuck at terminating is that the worker goroutine responsible for the pod is stuck at certain operations (e.g., image pulling, etc).
You can check the output `kubectl describe pod <pod_name>` to see status and events associated with the pod. If there are no events, that may be because that all events get deleted after an hour to save space. You can

[2016-06-07 22:07] yujuhong commented on #25231
In the current implementation, the pod status will be updated whenever a pod worker syncs the pod. A pod worker can be woken up by a variety of things, e.g., pleg events, 1 min resync period, etc.
This issue is to decouple "setting the pod status" with "pod worker syncing the pod". This means that the other events can cause kubelet to set the pod status, e.g., to periodically report image pulling

[2016-06-07 22:08] lgomez commented on #26935
For the record, I added/moved this question to stackoverflow because I saw other reporters being pointed to do that. The post is here: http://stackoverflow.com/questions/37690219/setting-up-multiple-ingress-services-deployment-resources-and-cloud-dns

[2016-06-07 22:08] caesarxuchao commented on #24656
@mfanjie the type assertion problem is fixed. Is there any remaining problem?

[2016-06-07 22:08] #26935 closed

[2016-06-07 22:10] #26649 closed

[2016-06-07 22:19] andyzheng0831 commented on #26379
Status update:
@freehan and I debugged further and found that deleting docker0 solves the access problem. I copy the comment by @freehan below:

"Deleting the docker0 bridge solves the problem. I never saw any problem with coexistence of cbr0 and docker0. But in this case, the cidr range assigned to cbr0 happens to be the default cidr range of docker0. It is unclear why this causes dns request fai

[2016-06-07 22:26] girishkalele commented on #26180
I think the root cause of these flakes is that the "wait for kube-system pods to be up" check is finishing and declaring success before the second wave of kube-system pods are even created.

At 20:16:49, this loop **found only 6 kube-system pods and all were up** so it declared success and proceeded to start running e2e tests even though the kubedns pod (and others, including heapster) were not re

[2016-06-07 22:26] euank commented on #26431
As a note for the above people doing `test this issue: ...`, you'll want to rebase on master to pick up the above referenced workaround of disabling the image. I believe the e2e tests use whatever's in the pr.

[2016-06-07 22:27] yifan-gu commented on #26986
I am back in the town @dchen1107

[2016-06-07 22:27] kandycs opened #27003 "kubernetes cannot create deployment with swaggerapi/apis/v1 404 error"
Hi everyone,
I just set up a cluster and can create a pod using
`kubectl create -f nignx_pod.yaml` (kind: Pod)

But I met an error with message  when executing:
`kubectl create -f nignx_deployment.yaml` (kind: Deployment)

Run it again with --v=10 options
It reports that:

I checked the web-ui. I did not find v1 under swaggerapi/apis/, but I found one under swaggerapi/api/

What I missed in my con

[2016-06-07 22:27] euank commented on #26986
Further investigation: We have the assumption that volume names within a pod are unique (or at least that multiple volumes with the same name are the same volume). This isn't the case when there's a subPath specified. The kubelet transforms it into a different host volume mount per container and doesn't mutate the name. We can potentially fix this by including container-specific information (even

[2016-06-07 22:29] girishkalele commented on #26364
proxy/userspace test flakiness is easily reproducible using a shrunken ephemeral port pool. I restricted the pool to a 96 ports range.

'''echo '40000 40096' | sudo tee /proc/sys/net/ipv4/ip_local_port_range'''

[2016-06-07 22:32] derekwaynecarr commented on #27000
I am not sure giving proportional access will be enough within a given QoS.  If everything is Burstable, it would be good to vary iops within that tier on a per pod basis, but agree with the requisite steps outlined by @vishh.

[2016-06-07 22:32] bprashanth commented on #26180
How did it get past this? https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L132

[2016-06-07 22:35] #13321 closed

[2016-06-07 22:36] nikhiljindal commented on #27003
I see that you are using version 1.1.8. Deployments were alpha and hence off by default in 1.1.
I will recommend using the latest 1.2 version. deployments went beta with 1.2 and hence are turned on by default there.

[2016-06-07 22:36] girishkalele commented on #26180
@bprashanth

Tracing back through the command line parsing - the flag is ```minStartupPods``` and defaults to 0.

This flag is passed in as E2E_MIN_STARTUP_PODS in the ginkgo cmdline below, but this variable is not set by Jenkins. We need to set it to the expected number of pods in kube-system (I think 6 + dns + heapster, so atleast set it to 8).

[code]

[2016-06-07 22:37] hongchaodeng opened #27004 "Race condition in Informer"
### What's the issue?
Informer could end up in wrong state.

### Example?
I have been stress testing RC of 100 replicas. I kept deleting the pod and let RC recover it to 100. The program will do informer.store.List() to check if there are 100 pods. But at the end of day it returned more than 100 (e.g. 131), while listing directly from apiserver returned 100.

### Why?
Informer has a queue and a st

[2016-06-07 22:38] hongchaodeng commented on #27004
I'm able to reproduce this reliably in integration test.
I'm going to submit a unit test shortly.

[2016-06-07 22:39] hongchaodeng commented on #27004
@kubernetes/sig-api-machinery @kubernetes/sig-scalability @xiang90 @philips

[2016-06-07 22:41] yujuhong commented on #26431
AFAIK node e2e tests check out the master branch and applies the patches from the PR, so there is no need to rebase.

[2016-06-07 22:50] bprashanth commented on #26490
Failures with
[code]
Are because nodes are not ready, which in turn is because routes are not created (So tldr not this kubeproxy bug).

In the logs we see:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5091
[code]
I'm guessing this is just delayed route creation, will spin off another bug.

[2016-06-07 22:53] bprashanth opened #27005 "Delayed route creation in gke-slow"
Some slow tests check for number of nodes > 2. Sometimes route creation is delayed long enough that they fail. There seems to be enough quota, I can't get controller manager logs to see what the route controller was doing. Observed on: https://github.com/kubernetes/kubernetes/issues/26490#issuecomment-224438182

GKE because this only seems to happen in gke-slow and control-plane because it might b

[2016-06-07 22:54] girishkalele commented on #26180
@ixdy

Looking for the best way to pass this environment variable from Jenkins to the E2E test script.

Need to set the env variable to 8 before triggering this e2e test.

```E2E_MIN_STARTUP_PODS```

[2016-06-07 22:58] vishh commented on #10781
I have two documents that were meant to go out as blog posts. But they
don't seem to go anywhere. I can re-purpose those docs to be posted on
Github instead.

On Mon, May 30, 2016 at 6:27 PM, David Oppenheimer <notifications@github.com

[2016-06-07 23:13] #26185 closed

[2016-06-07 23:15] euank commented on #26986
In practice, a subPath will rarely exist I believe. That means that without some sort of resolution to #26816, this feature will typically break regardless. Even if we do decide in the referenced issue we don't want the creation of arbitrary unknown paths, we might want that here.

Based on some offline discussion with @yifan-gu, it might be best to recognize this as an unsupported feature in rktn

[2016-06-07 23:18] yifan-gu commented on #26986
To work around this, we can document the issue and tell users to `mkdir` within the container for those subpaths.

[2016-06-07 23:28] pwittrock commented on #26903
Yes, I see that it is.  Just copied over the new image used by https://github.com/kubernetes/kubernetes/blob/015bc3d60d9ae3f8bb4b6cdc615d23ed086c28ba/test/e2e_node/jenkins/jenkins-ci.properties.

[2016-06-07 23:28] erictune commented on #26815
Failure log:
[code]

Most likely there are two unit tests using this file running in parallel and they raced.

@mml

[2016-06-07 23:31] timstclair commented on #26093
In addition to documenting these, I think it would be useful to check for all of them on kubelet startup. Hard dependencies should log fatal errors, and soft dependencies could log warnings.

[2016-06-07 23:36] ixdy commented on #26180
At some point (like a year ago - 4d45945b) `E2E_MIN_STARTUP_PODS` was set to 1. I don't remember anymore why this got removed. (@kubernetes/sig-testing anyone remember?)

The Jenkins configs are now in https://github.com/kubernetes/test-infra, so we'd need to open a PR against that repo.

[2016-06-07 23:37] Random-Liu opened #27007 "Node E2E: We need a test to test image pulling"
After https://github.com/kubernetes/kubernetes/pull/25944, all images in node e2e test expect images in image conformance test are prepulled.

Now, image conformance test is marked as flaky https://github.com/kubernetes/kubernetes/pull/26811, then we lost the coverage.

In fact, the original image conformance test doesn't cover all aspects, either. So we need a image pulling test to test:
* Pull a

[2016-06-07 23:42] lavalamp commented on #27004
I think there's another issue out there for this race already...

On Tue, Jun 7, 2016 at 3:39 PM, Hongchao Deng <notifications@github.com>
wrote:

[2016-06-07 23:43] bprashanth opened #27010 "Kubectl create secret tls should validate cert chain"
Spinoff from https://github.com/kubernetes/kubernetes/issues/20176

[2016-06-07 23:43] bprashanth commented on #20176
That'll already work in 1.3. What won't work yet is:
1. Validate certificate chain (https://github.com/kubernetes/kubernetes/issues/27010)
2. Create a self signed cert if no key/cert is specified

[2016-06-07 23:46] xiang90 commented on #27004
@lavalamp You mean https://github.com/kubernetes/kubernetes/issues/26082? I would wait for @hongchaodeng's reproduce.

[2016-06-07 23:47] ixdy commented on #26180
I confused myself. we set it to 1 still: https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/global.yaml#L144

[2016-06-07 23:48] lavalamp commented on #27004
Yes, thanks for linking.

On Tue, Jun 7, 2016 at 4:46 PM, Xiang Li <notifications@github.com> wrote:

[2016-06-07 23:50] dchen1107 commented on #27007
xref: https://github.com/kubernetes/kubernetes/issues/26464

[2016-06-07 23:50] DenisIzmaylov commented on #24819
I have `kubectl get pods` output like this:
[code]

[2016-06-07 23:56] lavalamp opened #27011 "[k8s.io] Services should work after restarting apiserver [Disruptive]"
https://console.cloud.google.com/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1470/

This test is deterministically broken on gke-serial for quite some time, I guess no one is looking.

[2016-06-08 00:01] yujuhong commented on #24819
`kubectl describe pod <pod_name>` will have more details about a single pod.

[2016-06-08 00:02] girishkalele commented on #26180
@ixdy

Thanks for the pointer, I will submit a PR for changing it there.

I see there is no E2E_MIN_STARTUP_PODS value for gke, and the values for the others are set to 1. I think setting them to 8 will avoid some of these early-in-the-run flakes.

[2016-06-08 00:03] dchen1107 commented on #26293
The issue is obsolete here. Close it for now.

[2016-06-08 00:03] #26293 closed

[2016-06-08 00:04] dchen1107 commented on #26491
A lot has changed in the framework since this issue was opened, and the issue should be obsolete now. Close it for now.

[2016-06-08 00:04] #26491 closed

[2016-06-08 00:05] DenisIzmaylov commented on #24819
I run `kubectl delete pods --grace-period=0 --all` to remove all pods (it's a new cluster so it's OK). But few  seconds later they are returned back. :\

Details about a single pod:
[code]

[2016-06-08 00:07] DenisIzmaylov commented on #24819
But I've not configured and do not have any mention for `DNS` in my cloud configs.

[2016-06-08 00:12] hongchaodeng commented on #27004
Yep. I think what I mentioned here is the root cause of #26082.
I will submit a repro shortly.

/cc @jsafrane

[2016-06-08 00:14] girishkalele commented on #26850
Closed via https://github.com/kubernetes/kubernetes/pull/26902

Merged at 2:09 PM, Jenkins jobs started passing right after.

[2016-06-08 00:14] #26850 closed

[2016-06-08 00:15] yujuhong commented on #24819
In the pod spec, if you don't specify DNS policy, the default will be "ClusterFirst".

How long did your pods stay in the terminating state? Have they ever become running before you attempted to delete them?
If you are ok with providing kubelet.log, I can also take a look.

[2016-06-08 00:15] dchen1107 commented on #26626
@girishkalele Based on our offline discussion, once the nethealth image is build, you can simply update cluster/saltbase/salt/e2e-image-puller/e2e-image-puller.manifest to add a new container to pre-pull pod for testing.

[2016-06-08 00:17] ncdc commented on #24819
Would it be possible to move this discussion to either StackOverflow or a different issue?

[2016-06-08 00:22] DenisIzmaylov commented on #24819
@yujuhong Hm, I've not found it:
[code]

[2016-06-08 00:22] DenisIzmaylov commented on #24819
@ncdc of course

[2016-06-08 00:23] yujuhong commented on #26626
@girishkalele, are you adding a new static pod in kubelet or adding a new container to the existing image pre-pull pod? The image pre-pull pod has restart policy "Never", which doesn't seem to suit your needs.

[2016-06-08 00:25] bprashanth commented on #26626
I think we just want the netperf timing output dumped to stdout and printed when image pulling fails

[2016-06-08 00:26] DenisIzmaylov opened #27013 "pods can get stuck Terminating in certain situations"
Extracted from #24819. When I configure and do test deploy with `my-nginx` it will produce the following output for `kubectl get pods`:

[code]

When I run `kubectl delete pods --grace-period=0 --all` to remove all pods (it's a new cluster so it's OK) it will clear the list. But in few seconds later they are returned back.

Details about a sample pod:
[code]

[2016-06-08 00:26] DenisIzmaylov commented on #24819
I've created new issue.

[2016-06-08 00:26] girishkalele commented on #26626
@yujuhong

I think adding to the existing image pre-pull pod.

This should cause the static pod to run the nethealth container just once upon startup - it will print the bandwidth measurement to stdout and exit.

[2016-06-08 00:28] k8s-merge-robot opened #27014 "[k8s.io] Kubectl client [k8s.io] Kubectl run default should create an rc or deployment from an image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8683/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run default should create an rc or deployment from an image [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-08 00:28] DenisIzmaylov commented on #27013
@yujuhong asked:

I've just removed all but they started again so it's running (stucked) a few minutes.

[2016-06-08 00:29] euank commented on #26431
Thanks @yujuhong, it sounds like I misremembered from the last time there were e2e_node+coreos issues :)

This CoreOS is slightly old (835, running docker 1.8.3). CoreOS 1010 with docker 1.10.3 might help.

By setting `IMAGE_PROJECT=coreos-cloud IMAGES=coreos-stable-1010-5-0-v20160527` and using #26832 to run just the summary test, I've observed 3 so far this way and no failures. I easily observed

[2016-06-08 00:29] DenisIzmaylov commented on #27013
Some of them could be `pending` for a few seconds:
[code]

[2016-06-08 00:29] yujuhong commented on #26626
Ah.. I see. I thought it was meant to be run longer. Thanks for the explanation.

[2016-06-08 00:31] jeremyeder commented on #27000
We can take a piece-meal approach to nailing down the reasons we can swamp the control plane, but I thought taking the inverse approach would be better and create "floors" for the all the processes in the system-reserved cgroups...no?  "shield" them no matter what the apps do?

BTW RHEL defaults to deadline, not cfq, but that's an aside for now...

Further...specifically about builds... I may not

[2016-06-08 00:31] ncdc commented on #26141
@rootfs see the info here: https://github.com/kubernetes/kubernetes/pull/26100#issuecomment-221103398

[2016-06-08 00:32] bprashanth commented on #26626
Well at this point it might make sense to just break out the shell script in the image puller, and invoke your netperf to dump its stats inbeween image pulls, assuming it's quick enough. I'm afraind that running exactly once might not be enough. Running repeatedly in the bg might help, but then you'd need to synchronize with the image puller on when to exit.

Leave it to you since this is somethin

[2016-06-08 00:37] yujuhong commented on #27013
@DenisIzmaylov, you should post this on [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes), where the community (i.e., more users) can help you troubleshoot the issue. Alternatively, you can go on our [slack channel](https://kubernetes.slack.com/messages/kubernetes-users/) to ask for help.

I meant has kubelet ever truly started your containers and report the pod status as runni

[2016-06-08 00:37] #27013 closed

[2016-06-08 00:49] girishkalele commented on #26626
Yes, let me build the container and we can invoke it either with a Docker foreground run in the shell script or as part of the pod.

[2016-06-08 00:50] quinton-hoole commented on #27011
@lavalamp Surely this one should also block the merge queue?

[2016-06-08 00:51] euank commented on #26431
Still not perfect (I observed one flake out of 25 total runs with the newer image), but I didn't observe any timeouts, which is the issue here, whereas on the existing image I've only observed timeouts so far (out of only a few runs; timeouts really slow down getting feedback).

Based on my observations here, I think updating the image used to the current stable CoreOS resolves this issue.

[2016-06-08 00:54] dims commented on #21126
@mikedanese @0x777 - The "--pod-infra-container-image" option should help here right?

https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=pod-infra-container-image

This was introduced in March:

https://github.com/kubernetes/kubernetes/pull/23059/commits/c6172e58cf52888d53bb0d3d87c17a3d0760d960

[2016-06-08 00:56] yujuhong commented on #13742
This issue is obsolete. Closing.

[2016-06-08 00:56] #13742 closed

[2016-06-08 00:57] dims commented on #20951
@lavalamp : should this be marked as milestone 1.3?

[2016-06-08 00:59] girishkalele commented on #26626
https://github.com/kubernetes/node-problem-detector/pull/17

[2016-06-08 01:01] dims commented on #24611
+1 to @dchen1107 comment (PR is https://github.com/kubernetes/kubernetes/commit/aa8c72adaaab6cba51ff868516ac5b423a95f069). @pmorie can we please close this?

[2016-06-08 01:02] dims commented on #20870
@thockin @vishh We can close this now (Since PR has merged https://github.com/kubernetes/kubernetes/commit/aa8c72adaaab6cba51ff868516ac5b423a95f069)

[2016-06-08 01:03] timstclair commented on #8225
Related: https://github.com/kubernetes/kubernetes/issues/23338

[2016-06-08 01:05] dims commented on #20684
@codefx9 @saad-ali - is this a Dup of issue https://github.com/kubernetes/kubernetes/issues/25893 ?

[2016-06-08 01:07] DenisIzmaylov commented on #27013
Thank you.

I've just deleted all pods but in 20 minutes I got all they came back:
[code]

How I can stop it? Which is service can do it?

[2016-06-08 01:08] ncdc commented on #20870
Not yet - we need #26710 to merge first

[2016-06-08 01:09] netroby commented on #26928
I failed to configure ingress, failed to configure with load balancer. I deploy kubernetes with my local machine.

The NodePort can only expose port in a higher range, with up 30000, but we want to expose normal port, like 80,3306,443.

[2016-06-08 01:10] pwittrock commented on #26431
You can also use RUN_UNTIL_FAILURE=true to continually run the tests until failure.  This only performs setup / teardown once however.

[2016-06-08 01:15] dims commented on #19616
@a-robinson @lavalamp - We can close this right?

[2016-06-08 01:16] ncdc commented on #24611
We should either close #20870 or this one, but we need to leave one open until #26710 merges

[2016-06-08 01:21] euank commented on #26102
xref #27015 .. That pull request modifies the default behaviour when no network plugin is specified to use whatever rkt's configured with.

It's solution 3 above. As stated above, this isn't a perfect solution (downwards api / etc/hosts when using rkt's networking, need to configure network plugins out of band of kubelet when using rkt's networking).
This discussion has been moved to rktnetes 1.1

[2016-06-08 01:32] DenisIzmaylov commented on #27013
Oh, ok. I deleted services and replicas and then delete all pods again:
[code]
Now all pods is disappeared as it estimated.

[2016-06-08 01:36] saad-ali commented on #20684
@dchen1107

[2016-06-08 01:39] smarterclayton commented on #25113
client -> apiserver -> listening process in container context

On Tue, Jun 7, 2016 at 3:28 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-06-08 01:39] smarterclayton commented on #26972
That would probably qualify as 5.

On Tue, Jun 7, 2016 at 12:55 PM, Andy Goldstein <notifications@github.com>
wrote:

[2016-06-08 01:42] ncdc commented on #26972
Yes, that's what Paul submitted in his PR

On Tue, Jun 7, 2016 at 9:40 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-06-08 01:42] hongchaodeng commented on #27004
I have some doubts on #26082's description of event sequence. See https://github.com/kubernetes/kubernetes/pull/26167#issuecomment-224460483

Let's keep it separated from this issue.

[2016-06-08 01:43] dims commented on #19178
@lavalamp @smarterclayton - We have this in place now right :)

[2016-06-08 01:46] bprashanth commented on #27011
It failed because it couldnt' restart apiserver, not because services didn't come up. Why does it think it needs to update?
[code]

@kubernetes/goog-gke @kubernetes/goog-testing

[2016-06-08 01:51] z32109571 opened #27021 "service iptable route is very slow"
we have 2000 services..But when created a servicce for a pod ,we found the create iptables rule was very slow.The Pod usually was connected by services after 10 minutes。So I change the code for logging the execution time。
I found  ensurePortals() costs two minutes.when create a service,the ensurePortals start running .I want to slove it .could somebody can give me an optimization method #26148

[2016-06-08 01:56] quinton-hoole commented on #26762
Confirmed.  My e2e tests now pass.

[2016-06-08 02:03] dims commented on #18613
@ishikapaul @thockin No activity for a loooong time. Can we close this please?

[2016-06-08 02:03] saad-ali commented on #26970
5092: looks like an environment issue. The tests can only start if there are 2 nodes present and in that case there weren't. @fejta can you assign someone to investigate that.

5095: from the kubelet logs it appears that the volume was successfully attached to one node and then couldn't be attached to a different node because it was never detached from the first. Not sure why the detach never happ

[2016-06-08 02:32] mfanjie commented on #26608
#26694 merged

[2016-06-08 02:32] #26608 closed

[2016-06-08 02:42] mfanjie commented on #24656
@caesarxuchao no any problem now, thanks, close the issue.

[2016-06-08 02:42] #24656 closed

[2016-06-08 02:42] k8s-merge-robot opened #27023 "[k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8690/

Failed: [k8s.io] KubeletManagedEtcHosts should test kubelet managed /etc/hosts file {Kubernetes e2e suite}

[code]

[2016-06-08 02:43] #24094 closed

[2016-06-08 02:43] #21453 closed

[2016-06-08 02:43] #21459 closed

[2016-06-08 02:44] #21529 closed

[2016-06-08 02:46] soltysh commented on #2203
I'll see how useful ours implementation can be, esp. now that part of it's user-related stuff are in.

[2016-06-08 02:48] AdoHe commented on #26944
The same problem as #25585, and the fix landed #26418, @erez-rabih ptal.

[2016-06-08 02:49] AdoHe commented on #26944
@bgrant0607 I am wondering whether we should create a cherry pick for 1.2, I have seen users ran into this bug several times.

[2016-06-08 02:54] ryansavino commented on #25650
The apiserver is up and running. I can even access it remotely.

I think the issue is that the kubectl binary is observing the proxy configuration for connections to 127.0.0.1 or localhost when it is not supposed to.

From my config-default.sh:
PROXY_SETTING=${PROXY_SETTING:-"http_proxy=http://proxy-us.intel.com:911 https_proxy=http://proxy-us.intel.com:911 no_proxy=localhost,127.0.0.1,127.0.1.1"}

[2016-06-08 02:56] andyzheng0831 commented on #26379
There are two issues:
(1) GKE master on GCI has a broken fluentd-gcp pod which cannot access the external addresses;
(2) "ping" from a pod running on GCI cluster does not work.

The issue (1) is only for GKE master and only in the master branch. It does not happen in k8s or 1.2 branch. The issue (2) affects both GKE and k8s, and I think it is also in 1.2 branch.

@a-robinson I would suggest to log

[2016-06-08 02:56] dims commented on #15952
Just tried this on OSX with "go version go1.6.2 darwin/amd64". Seems to work fine now @smarterclayton @hongchaodeng

[code]

[2016-06-08 03:01] ryansavino commented on #25650
Also, on a side note, I noticed that line 62-63 of cluster/ubuntu/reconfDocker.sh overwrite any existing docker configuration in /etc/default/docker:
   echo DOCKER_OPTS=\"${DOCKER_OPTS} -H tcp://127.0.0.1:4243 -H unix:///var/run/docker.sock \
        --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU}\" > /etc/default/docker

This was an issue for me as I was configuring the proxy for docker in that fil

[2016-06-08 03:20] caesarxuchao commented on #27004
@saad-ali this may be related to the flake you are working on.

[2016-06-08 03:24] saad-ali commented on #26682
Missing delete event may be caused by https://github.com/kubernetes/kubernetes/issues/27004. Suggested work (#26994) should be implemented in addition to fixing that issue to prevent bugs in the informer from affecting the controller.

[2016-06-08 03:25] saad-ali commented on #26970
Missing delete event may be caused by https://github.com/kubernetes/kubernetes/issues/27004. Suggested work (#26994) should be implemented in addition to fixing that issue to prevent bugs in the informer from affecting the controller.

[2016-06-08 03:53] quinton-hoole opened #27024 "e2e Flake: Node fails to come up? Has read-only file system?"
[logs](https://00e9e64bac5171409eb6cd3968cbf008a20bb476652dd1436d-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F26914%2Fkubernetes-pull-test-unit-integration%2F29624%2Fbuild-log.txt?qk=AD5uMEt6_KrgZgPVzn6fRmhVpuY7DL25J27ySkPtQ26xLZtbEUlWIweJ0KbeYE7-sQUbuTAXHTQV3HzckV55UtylSfVXS94iYiXKjIlZTJJYlDZBQQD_3Z-ogWyc_hvBlFVkjDwK9e8uLHUQr-rYDTZb26nqgOOdPX

[2016-06-08 04:06] chrislovecnm commented on #3595
@thockin @bgrant0607 looks like this is not going to be addressed?  This is definitely an issue with both elasticsearch and cassandra running on K8s.  What is the recommended best practice to get RLIMIT_MEMLOCK happy?

[2016-06-08 04:18] asalkeld commented on #14834
I can fix this.

[2016-06-08 04:59] mfanjie opened #27026 "federation clientset need event support"
Federation clientset does not support event yet, we need to add it later to support event just like kuberenetes clientset. currently we comments the code line of start recording temporarily.
[code]
log this issue for tracking.

[2016-06-08 05:18] philips commented on #25113
@ncdc I don't think you can or should avoid the api server because that is the access control for this one time debugging task thingie. Did you have a different design in mind?

[2016-06-08 05:27] zmerlynn commented on #27011
Because sledgehammer repair (in-place upgrade to the same version) is the only tool we have to force the apiserver to reboot for e2es on GKE. I suspect this project isn't whitelisted to force it from the API, though.

[2016-06-08 05:52] erez-rabih commented on #26944
@AdoHe I agree it looks like a duplicate of #25585. I'm closing this.

[2016-06-08 05:52] #26944 closed

[2016-06-08 06:05] Pensu commented on #25886
We are looking into this and it might take some more time. In the meanwhile is it possible to remove hyperkube from the ppc64le builds? All other binaries are building perfectly fine. We can resume the hyperkube for ppc64le build as soon as this issue resolves.

cc: @david-mcmahon

[2016-06-08 06:16] wojtek-t commented on #27011
Can we whitelist this project?

[2016-06-08 06:21] wojtek-t commented on #19616
Yeah - actually we already upgraded to Go 1.6.(2?)

[2016-06-08 06:21] #19616 closed

[2016-06-08 06:28] cheld commented on #26943
yes, I will do

[2016-06-08 06:29] bryk commented on #26191
I can query different page to "check whether the UI is alive". Currently we query home page which is quite data intensive and this may be causing timeouts. It may help if we query simplest possible page. What do you think? Can this help?

[2016-06-08 06:32] sttts commented on #26210
@krousey would be happy about a review of https://github.com/kubernetes/kubernetes/issues/26961

About tunnel selection: I always assumed that the tunnel of the very same node is used where the request goes to. Interesting that it's random (which means that any other successful request before doesn't say much). In the GKE log we should see (if we had one) when a new tunnel is created.

[2016-06-08 06:58] lukaszo commented on #26892
Ah, I messed up. `READY` shows status of normal containers. `Init:1/2` in Status shows status of init containers: I think this part should be always showed.
So it will look like these:
[code]

What do you think?

[2016-06-08 07:28] gmarek commented on #26290
@wojtek-t - we can turn on event etcd in kubemark - it's implemented but I think it's not enabled by default. @caesarxuchao - do you think it's possible that it's related to ownerRef?

[2016-06-08 07:35] wojtek-t commented on #26290
if it's not enabled by default, why we would even require it in that particular run? this sounds strange...

[2016-06-08 07:40] gmarek commented on #26290
In kubemark - I have no idea what's the default config for gce-serial.

[2016-06-08 07:50] caesarxuchao commented on #26290
No one is setting ownerRef or OrphanDependents, so shouldn't be caused by the gc.

I'm assigned with other "couldn't delete ns" flakes on gke, which doesn't have master logs. This gce flake is a good sample, so I'll take a look tomorrow.

I took a glance at the api server's log, it hasn't received any deletion requests for the remaining pods, which is weird.

[2016-06-08 07:51] davidopp commented on #21947
OK, I'm going to remove flake label and move it to P1 (and leave 1.4 milestone).

[2016-06-08 07:53] davidopp commented on #25760
I think "Better error handling/logging of cluster turn-up" sounds worth doing, to reduce how long it takes us to debug flakes in the future, but this isn't directly a flake, so I'm going to remove the flake label and upgrade to P1.

[2016-06-08 07:54] AdoHe commented on #26804
kubectl run has no validation logical compared with other commands, maybe we should enable this here.

[2016-06-08 07:54] davidopp commented on #26290
@caesarxuchao thanks for your comments! Can we reassign this issue to you? (if so, please just reassign it yourself)

[2016-06-08 07:57] davidopp commented on #26319
@derekwaynecarr Do you have the PR # for the fix? Thanks!

[2016-06-08 08:08] bedekarsarvesh opened #27030 "Kubernetes issues with setting up on AWS"
Hello all .. I tried to install kubernetes on coreos using the following description in the link :

https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws.html

I am stuck at the following error :-

sarvesh-HP-Pavilion-g6-Notebook-PC my-cluster # kubectl --kubeconfig=kubeconfig get nodes
Unable to connect to the server: dial tcp: lookup kubernetescluster on 127.0.1.1:53: read udp 127.0.1.1:53

[2016-06-08 08:13] luxas commented on #26943
@pmorie @ncdc For me it does create mounts every n seconds. Now my `/proc/mounts` consists of ~`5500` lines.
e.g.
[code]
the same volume is mounted ~600 times.

[2016-06-08 08:27] metral commented on #20753
I'm still hitting this same issue with NFS volumes in v1.2.4 - can we reopen this issue?

[2016-06-08 08:29] sttts commented on #26960
Duplicate of #27005

[2016-06-08 08:29] #26960 closed

[2016-06-08 08:29] javiercr commented on #22823
We just had the same problem on production today. We have a cluster with a 2 nodes that host 4 pods with a Rails app, 1 pod with a PostgreSQL db, 1 pod with Redis and 1 pod with memcached.

The Rails app connects to the db, redis an memcached services using hostnames (DNS) and today they suddenly loose connection with them:

[code]

They started working again in a few minutes without doing anythin

[2016-06-08 09:28] paralin opened #27032 "ContainerVM IPV6 kernel / forwarding support"
It seems as of now that the ChromeOS ContainerVM doesn't have ipv6 support enabled. I know GCP doesn't use ipv6, this is fine, I just need it for a openvpn tunneling project.

Is there any way to enable ipv6 inside ContainerVM, and if not, how can I use kube-up to build a GCE cluster on debian / trusty? I tried changing the OS_DISTRIBUTION value, but get this error:

[code]

I know you guys are pu

[2016-06-08 09:32] jszczepkowski commented on #26998
There was a network problem: the pod was not able to pull its image due to "network unreachable" error.

[code]

[2016-06-08 09:51] pires commented on #20176
@bprashanth ah, great. I'm good without those. Thank you!

[2016-06-08 10:31] jszczepkowski opened #27035 "Flake: cluster size autoscaling should increase cluster size if pending pods are small"
The test is flaky in kubernetes-e2e-gce-autoscaling-migs. Cluster autoscaler adds node to mig, but node controller is not assimilating it:

cluster autoscaler's log:
[code]

test's log:
[code]

failed execution:
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-autoscaling-migs/322

[2016-06-08 10:32] jszczepkowski commented on #27035
@mwielgus @gmarek
Marek, can you check what's happening on node controller?

[2016-06-08 11:21] gmarek commented on #27035
IIUC kubelect didn't registered Node in the API server at all, so NC wasn't doing anything with it. @jszczepkowski claims that `jenkins-e2e-minion-group-1` was expected to be resized, but NodeControlled didn't saw any new node around the time of the failure.

It's either autoscalers fault and it didn't created a new machine, or Kubelet failed to register in the API server in time.

[2016-06-08 11:24] dims commented on #14429
@fgrzadkowski Should we mark this as closed?

[2016-06-08 11:25] gmarek commented on #27035
First new Node NC notices was round 0:57 which was during next suite: `should add node to the particular mig` and it worked perfectly fine - I expect that this is an autoscaler bug.

[2016-06-08 11:25] dims commented on #14404
@yujuhong @slintes now that #22576 has merged should this be closed?

[2016-06-08 11:41] ncdc commented on #25113
No, I just wanted to make sure I understood the suggested design
completely.

On Wednesday, June 8, 2016, Brandon Philips <notifications@github.com>
wrote:

[2016-06-08 11:54] sttts commented on #26210
^^^ the flake on gce, also port 80.

Apiserver logs show this:
[code]

[2016-06-08 12:01] wojtek-t opened #27039 "e2e flake: "Networking should function for intra-pod communication [Conformance]" failed in 2000-node GKE cluster"
The failure is not really test-specific. It failed with:
[code]

Looking into events from the same test, I've see three other tls-handshake timeouts faced by kubelets:
[code]

I think that we should simply retry "handshake timeout" errors.
@lavalamp @smarterclayton @krousey - WDYT?

@zmerlynn @gmarek @kubernetes/sig-api-machinery

[2016-06-08 12:03] lukaszo opened #27040 "kubectl logs UX when init containers are used"
Im extracting logs part from #25818

The current behavior is as follow:

- when pod has one container
`kubectl get logs` return logs for this one container

- when pod has more than one container
`kubectl get logs` returns error:
`Error from server: a container name must be specified for pod kube-dns-v14-z0ho6, choose one of: [kubedns dnsmasq healthz]
`
As you can see in both cases init containers

[2016-06-08 12:07] juulSme commented on #8620
@yujuhong My apologies, you are right. I misunderstood the similar-looking log output but some deeper digging showed the problem is unrelated. I have followed your advice and posted on stack overflow.

[2016-06-08 12:14] wojtek-t commented on #26125
@davidopp - this is not test failure itself. This was some infrastructure problem - we weren't able to SSH to the node.

[2016-06-08 12:15] wojtek-t commented on #25845
It sometime happens - I've seen it yesterday in completely unrelated PR.

[2016-06-08 12:27] wojtek-t commented on #25845
I think I wrote this test at some point btw. Let me take a look.

[2016-06-08 13:04] wojtek-t commented on #25845
I took a look and to be honest I have no idea what is happening there. I sent out a PR to slightly extend logging which may help with debugging - see #27401

[2016-06-08 13:19] jszczepkowski commented on #27035
@mwielgus Can you comment on this?

[2016-06-08 13:30] earthIsAPrisonIfYouNotAwareItCanNotOut opened #27043 "A problem with docker-mutinode"
I use the master.sh and work.sh manually, but when I reboot computer then use the .sh again, the container doubling added, instead of running the exist container. how to make all things better using .sh automaticly.

[2016-06-08 13:37] ncdc commented on #19765
@smarterclayton @kubernetes/sig-node @kubernetes/rh-cluster-infra what do you all think about either switching to running socat from an image or at least making it an option?

[2016-06-08 13:40] derekwaynecarr commented on #26290
@caesarxuchao - if the pod is already terminating, the issue is that the kubelet needs to send the final delete request (not the namespace controller).

[2016-06-08 13:48] zmerlynn commented on #27011
Well, that was the confusing thing. This project should've been whitelisted ages ago even to be running in test. I suspect something else, filed internal 29201862.

[2016-06-08 13:56] ncdc commented on #26319
@davidopp #26803 along with #26806 (to have equivalent test coverage)

[2016-06-08 14:06] wojtek-t commented on #25513
To give more information about this - what exactly happened is:
[code]

So it seems it's not test issue itself, but most probably something happened with etcd.

[2016-06-08 14:07] fgrzadkowski opened #27044 "HPA controller should better inform user about failed failures in reading metrics"
Currently HPA will only generate events that it cannot read metrics:

[code]

We should be more specific and explain that for example pod is not running, or heapster is not responding or we cannot resolve url to heapster.

@kubernetes/autoscaling

[2016-06-08 14:07] wojtek-t commented on #23879
Can we close it as duplicate of #25940 ?

[2016-06-08 14:08] derekwaynecarr commented on #19765
@ncdc - we need to determine if we want to charge usage of `socat` to the system or the pod if we run it from an image.  I think after we have pod-level cgroups, its worth visiting this option more.

[2016-06-08 14:10] wojtek-t commented on #25513
The issue is exactly the same as in #26403 btw.

[2016-06-08 14:12] smarterclayton commented on #27039
So maybe a counter point - should we not instead just set a longer timeout
if we are going to retry that?  After all, TLS handshake timeout could be
the server going away.  I would be ok with retrying Temporary() errors (as
returned by net.Error interface), but Timeout() seems a harder sell.

On Wed, Jun 8, 2016 at 8:02 AM, Wojciech Tyczynski <notifications@github.com

[2016-06-08 14:13] ncdc commented on #19765
+1 to charging to the pod if we can make that happen

[2016-06-08 14:16] smarterclayton commented on #25113
Yeah, the redirect would be from kubelet -> listening process, which would
be handled by the internal tunnel established from the apiserver.
Offloading the apiserver has been discussed but there would still have to
be something like an apiserver acting as a secure proxy.  This is probably
different from the "temporarily expose a port all the way to the edge" use
case (like a very temporary host po

[2016-06-08 14:16] xiang90 commented on #25513
@wojtek-t I still cannot reproduce it. I will try more this week.

[2016-06-08 14:16] smarterclayton commented on #19765
Originally I had assumed a good place to put socat and other necessary
utilities would be in the pod infrastructure image.

On Wed, Jun 8, 2016 at 10:14 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-06-08 14:17] derekwaynecarr commented on #19765
@smarterclayton - that is a really interesting idea ;-)

[2016-06-08 14:17] wojtek-t commented on #26906
Hmm - this data race is slightly unrelated - the test would fail anyway because of not working etcd.

This is exactly the same what happened in #26403 - closing as duplicate.

[2016-06-08 14:17] #26906 closed

[2016-06-08 14:17] derekwaynecarr commented on #25113
Cross-referencing comments: https://github.com/kubernetes/kubernetes/pull/25899/files#r66263302

[2016-06-08 14:29] wojtek-t commented on #27039
That sounds fine to me too.

On the other hand, maybe some else bad is happening here. We already have TLShandshakeTimeout set to 10s. Do you think larger values make sense?

[2016-06-08 14:30] ncdc commented on #27039
I've long wondered why we're bumping up against the full 10s timeout in our tests. Surely something is seriously wrong somewhere (extremely overloaded?) if that is happening?

[2016-06-08 14:33] wojtek-t commented on #27039
Actually, the test failed the second time now (all other tests are passing in 2000-node cluster), currently with a different error:
[code]

So most probably something else bad is happening here...

[2016-06-08 14:37] wu105 commented on #26989
The "read tcp 216.58.216.240:443: connection reset by peer" error apparently went away just before 5:20AM Eastern time from our servers.  What could possibly causing this error?

"Antivirus vendor misinform" issues on https://storage.googleapis.com and Google Cloud SDK zip file nonetheless should be followed up because it is still a crippling issue for us.

[2016-06-08 14:47] wojtek-t commented on #27039
Actually, now I recall that @thockin said something that services with many instances (500+) can cause problems. Here we have service with 2000 underlying pods, each pod on a different not.
@thockin - can this be related?

[2016-06-08 14:53] hekike opened #27046 "How to log on GCE with severity level from my pods?"
Hi,

currently, I'm logging to the `stdout` from my Docker containers which appears in the GCE Logging as:
[code]

I would like to send severity to my logs to being bale to filter/alert etc based on that.
I tried to send a JSON string to `stdout`, without any luck *(I thought that Kubernetes maybe recognize that this is a JSON format and merge with the meta data)*

[code]

Can you help me?
Is it p

[2016-06-08 14:54] pwittrock commented on #26191
Worth a shot.  Anything we can do to better understand what is going on when the test fails would be helpful.

[2016-06-08 14:56] pigmej commented on #26928
@netroby have you seen: https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx ?
It's very easy to do stuff that you want there
Also for LB: https://github.com/kubernetes/contrib/tree/master/service-loadbalancer it's also quite simple.

In both cases you just need service and properly pass it into ingress/LB.

[2016-06-08 15:06] #26036 closed

[2016-06-08 15:15] luxas commented on #26996
I think this should also be fixed before `v1.3`, as it's a bit related to: https://github.com/kubernetes/kubernetes/issues/26943#issuecomment-224519722

[2016-06-08 15:15] zmerlynn commented on #27039
Is this the first set of runs with all 2k nodes schedulable? In which case
that's probably what it is.
On Jun 8, 2016 7:48 AM, "Wojciech Tyczynski" <notifications@github.com>
wrote:

[2016-06-08 15:27] pwittrock commented on #27014
Why does this say it is creating a replication controller?

Jun  7 16:52:58.874: INFO: Running '/workspace/kubernetes/platforms/linux/amd64/kubectl --server=https://104.155.170.153 --kubeconfig=/workspace/.kube/config run e2e-test-nginx-deployment --image=gcr.io/google_containers/nginx:1.7.9 --namespace=e2e-tests-kubectl-3b3x3'
Jun  7 16:52:59.259: INFO: stderr: ""
Jun  7 16:52:59.259: INFO: stdou

[2016-06-08 15:34] matchstick commented on #22655
@mikedanese I am going to assign this to you and drop the p0 label. Mostly as 1.3 is getting closer it is important to know if this is a blocker for 1.3.

[2016-06-08 15:46] bprashanth opened #27050 "kubectl create --help only shows 4 options"
Is this supposed to be a short list?
[code]

[2016-06-08 15:50] zmerlynn commented on #27039
@wojtek-t: The failure in https://github.com/kubernetes/kubernetes/issues/27039#issuecomment-224608419 looks like we flaked on trying to create the pod. Unfortunately, because of #26379, I don't have master logs, so I'm not sure what the master saw (if anything) there. Should we throw a retry in the e2e? It's kind of evil, but OTOH we're creating 2k pods.

[2016-06-08 15:56] edevil commented on #14512
I'm also having difficulty deciding when/how to do database migrations in the context of a rolling-upgrade. It seems these hooks would be the perfect place for running the migration script.

[2016-06-08 16:19] wojtek-t commented on #27039
yes - before there were ~1000 routes when running this test

and yes - master log would be super useful. It ma be because of overloaded master, but... We've seen i/o timeout errors in small clusters too without any significant load - e.g. https://github.com/kubernetes/kubernetes/issues/26628

[2016-06-08 16:26] jlowdermilk commented on #27011
I'll take this. I turned the test on for GKE but didn't verify master upgrade worked for custom versions.

[2016-06-08 16:32] pmorie commented on #26943
@luxas what is the propagation mode of the /var/lib/kubelet mount in the kubelet container?

Inside the container, run this command:

`findmnt -o +PROPAGATION`

[2016-06-08 16:33] wojtek-t commented on #27039
But sure - overloaded apiserver is definitely a possible cause here.

[2016-06-08 16:36] patwhite opened #27051 "GCE Kubernetes Cannot Attach Volume to a Particular Docker Image"
This refers to the docker repo at:
https://github.com/sonatype/docker-nexus3

If you try to attach a GCE Persistent Disk, this image will consistently fail to start with the issue described here:
http://stackoverflow.com/questions/34171019/could-not-attach-gce-pd-timeout-waiting-for-mount-paths/37695212#37695212

My answer on that question is only partly right, for this image in particular I was n

[2016-06-08 16:42] caesarxuchao commented on #26290
@derekwaynecarr thanks for the hint.

[2016-06-08 16:50] dchen1107 commented on #27040
@lukaszo first case is designed on purpose that way for the usability, especially the users who switch from docker single container to Kubernetes pod. But what you suggested above for the second case are great, we should do it. Mind to send pr fixing it? Thanks!

[2016-06-08 16:51] luxas commented on #26943
@pmorie That was when I was testing `rslave` I think...

[2016-06-08 16:52] timothysc opened #27053 "Optimize caching"
We can see from experimental data that @rrati produced: https://docs.google.com/document/d/18HYc3nNQQEL8oE3uXOoZ9WP3oG451ZgwowhvJbRU7wM/edit?usp=sharing

That the %memory increase from controller caches can eclipse much of the memory gains shown from etcd3.  The cached data are fully blown out data-structures, and a lot of it is repetitive and un-necessary.

There are potentially multiple roads we

[2016-06-08 16:53] yujuhong commented on #8620
@juulSme no problem. You can also get on the [kubernetes slack channel](https://kubernetes.slack.com/messages/kubernetes-users/) for help.

[2016-06-08 16:55] andyzheng0831 commented on #26379
PR #27016 was merged, which fixes the fluend-gcp pod issue in GCI. I will close this issue. For the "ping" issue, we already have an internal bug for it. Please feel free to log a github issue if needed.

[2016-06-08 16:55] #26379 closed

[2016-06-08 16:56] jlowdermilk commented on #27011
Added project to whitelist. Next run should be good.

[2016-06-08 16:57] hongchaodeng commented on #27053
@timothysc
Any specific component (informer, rc manager, etc.) on top of your head?

[2016-06-08 16:58] yujuhong commented on #14404
Yes, thanks for reminding.

[2016-06-08 16:58] #14404 closed

[2016-06-08 16:59] xiang90 commented on #27053
@timothysc Add some more data:

We tried to create 1 controller that creating 1M pods.

At the end of the test:

etcd3 used 3GB memory (db size was around 1gb. go runtime preserves 2gb.).

API server used around 10GB.

Controller used around 10GB.

[2016-06-08 17:01] ericchiang commented on #2203
We'd also be interested in this.

From conversations on #sig-auth this would be great for debugging purposesa as well. Even with small amounts of users the auth process is pretty opaque at the moment, and this is undoubtedly going to get worse as RBAC and other authenticators become more stable and get more use.

Would an initial implementation that defined a "Logger" interface similar to the auth

[2016-06-08 17:01] timothysc commented on #27053
Much of the data is not needed to perform operations honestly... In a former life we created what were sparse cache trees.

[2016-06-08 17:05] pmorie commented on #26996
@eparis

[2016-06-08 17:07] xiang90 commented on #27053
@timothysc

Also you probably did not see a huge memory drop between etcd3 and etcd2. It is because etcd3 maintain ALL versions of keys. So starting a pod actually creates at least 3 slight different keys in etcd3.

The space can be compacted and will be kept in a free-list for future usage rather than returns to the user. If you try a large scale and long running test, etcd3 would use significant

[2016-06-08 17:10] janetkuo commented on #27014
From log:
[code]

It should have created a deployment instead of rc...

[2016-06-08 17:15] derekwaynecarr commented on #26431
@euank is CPU and Memory accounting enabled by default on the update images?

we need to ensure that the name=systemd cgroup matches the cpu and memory cgroup for kubelet as well when bringing coreos back into the mix.

[2016-06-08 17:17] janetkuo commented on #27014
Looking at the code, is it possible when we do `client.Discovery().ServerResources()`, we didn't see deployments as one of the supported resources?

[2016-06-08 17:17] #23879 closed

[2016-06-08 17:19] soltysh commented on #2203
I'll try to put down the PR later today and ping you all.

[2016-06-08 17:20] derekwaynecarr commented on #26838
I don't think we should coalesce unless they report the same reason.

This looks like a 403 response which is different than the others.

[2016-06-08 17:20] jingxu97 commented on #26996
Yes, I just sent out a fix which should solve the problem. But we want to
do more refactoring work a little bit later.
Please check https://github.com/kubernetes/kubernetes/pull/27054

Thanks and please let me know if there is any issue related to this.

Jing

On Wed, Jun 8, 2016 at 8:16 AM, Lucas Käldström <notifications@github.com>
wrote:

--
- Jing

[2016-06-08 17:24] mkumatag opened #27056 "Upstream example of authz webhook"
Looking for an example webhook for authorization used for api-server. Discussed with @ericchiang and he promised to upstream the code he has for authz webhook

[2016-06-08 17:25] janetkuo commented on #27014
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/run.go#L157-L161
If an error happened when discoverying server resources, it got ignored silently and the resourcesList is set to nil. This is possibly the cause.

[2016-06-08 17:33] dchen1107 commented on #27024
Unfortunately the logs attached isn't working anymore.

But from pasted log, error message of "read-only file system" is red-herring, not issue. We simply just moved on if failed to update those configurations. Also those configurations only affect maximum number containers can be started by docker, which is what our unittest test for here.

Last warning is missing  /var/lib/kubelet/kubernetes_aut

[2016-06-08 17:33] lavalamp commented on #27004
The problem is a lack of syncronization between the store and the queue. If you can make a test case that reproduces an error, that would be great. I didn't manage that last time I messed with that code.

[2016-06-08 17:34] dchen1107 commented on #27024
I am closing this one no information to debug for now, and please feel free re-open it with more logs if occurs again.

[2016-06-08 17:34] #27024 closed

[2016-06-08 17:38] bprashanth opened #27058 "rw gce pd mounted as ro"
I have a pvc like:
[code]

It created a r/w pd (verified through the pantheon console) but the actual disk is mounted as ro.
[code]

Similar disks created previously are mounted as r/w on the same vm.
[code]

Oddly i couldn't find the partition identifier when i tried to remount it manually
[code]

My pod will keep crashlooping till the volume is r/w, how to recover (without deleting pod)?
@kubern

[2016-06-08 17:38] dchen1107 commented on #26201
cc/ @david-mcmahon and assign this to myself to make sure we include the known issues in release notes.

[2016-06-08 17:38] bgrant0607 commented on #26944
@AdoHe Yes, please create a cherrypick PR.

[2016-06-08 17:39] bprashanth commented on #26824
https://github.com/kubernetes/kubernetes/issues/27058

[2016-06-08 17:40] dchen1107 commented on #25581
I marked the priority as P2, and we can document & release what we have so far for 1.3 release. Keeping improve over releases. cc/ @philips

[2016-06-08 17:41] freehan opened #27059 "Ping doesn't work from Pods on GCI"
ref: #26379

[2016-06-08 17:41] dchen1107 commented on #26987
Do we know the root cause of this?

[2016-06-08 17:44] a-robinson commented on #26379
Thanks @andyzheng0831!

[2016-06-08 17:50] dchen1107 commented on #23765
@sjpotter Have you upgrade the heapster to the latest version for 1.3 release? Based on the information posted above, I think the issue should be either

* cAdvisor integration/compatibility issues with CoreOS / rkt, which are addressed separately already. Or
* heapster issue itself, but it should be generic, and shouldn't have rkt dependency here.

@sjpotter I am assigning this issue back to you

[2016-06-08 17:51] lavalamp commented on #27011
Yes, we should make this one block the queue once it's green.

[2016-06-08 17:52] dchen1107 commented on #24103
ping ...

cc/ @philips Is this required for rktnetes-v1.0 (Kubernetes v1.3)?

[2016-06-08 17:53] euank commented on #26431
Ah, you're right, I forgot to run the `setup-host.sh` script so I didn't have CPU and memory accounting.

Disregard my comment above, enabling those does result in timeouts again. Good catch, thanks.

[2016-06-08 17:53] jlowdermilk commented on #24170
I don't think this change adds much value. I recently audited all skip on gke e2e tests to make they were intended, and found only a few that needed updating.

[2016-06-08 17:54] dchen1107 commented on #24702
This is not required for 1.3 release at all. Pending pr requires more thoughts. Punt for next release.

[2016-06-08 17:55] lavalamp commented on #19178
I think this is obsolete now.

[2016-06-08 17:55] #19178 closed

[2016-06-08 18:03] yujuhong commented on #26726
Should we close this if there is no plan to add the feature?

[2016-06-08 18:06] yujuhong commented on #16412
#25681 already added logging for failed hooks. The issue is only about adding events.

[2016-06-08 18:08] thockin commented on #26662
What's next for this?  Is this on Ike to figure out how to guard the assertion across versions?  I don't think there's actually a prod-code bug here.

Ike, FTR, where are docs on running cross-version tests manually?

[2016-06-08 18:08] mikedanese commented on #25940
Is anyone working on splitting the jobs up yet? I'm going to experiment with breaking the integration tests into separate packages so they run in parallel.

[2016-06-08 18:11] girishkalele commented on #22823
@javiercr

For the view logs command, I think you are missing a -c flag to specify the container in the multi-container pod.

```kubectl logs kube-dns-v11-0zte9 -c skydns --namespace=kube-system```

[2016-06-08 18:12] kargakis commented on #16412
@yujuhong, @vishh also added events in that pull. Question: are those logs inlined into the pod logs? If not, then let's keep this issue open to track that change.

[2016-06-08 18:13] dchen1107 commented on #20870
Moved this to v1.3 for the proper feature tracking.

[2016-06-08 18:13] dchen1107 commented on #24611
Close this one as dup of #20870

[2016-06-08 18:13] #24611 closed

[2016-06-08 18:15] saad-ali commented on #27058
Can you post the PV and Pod objects you are using with the PVC.

[2016-06-08 18:16] girishkalele commented on #22823
@javiercr

DNS is a critical piece and it is a concern that it is failing - in the 1.3 release, the DNS feature has been completely rewritten and also includes a caching mechanism for performance.
For older releases, I would suggest taking a look at the "Discovering Services" guide.

2 Mechanisms for discovering service IP addresses exist, DNS and environment variables. The environment variable me

[2016-06-08 18:18] dkaplan-pivotal opened #27060 "The `kubectl get events -w` logs' first column should be `LASTSEEN`"
Hello Kubernetes,

The order of the columns when you get events confused me.  I was thinking,

Turns out it's just a visual problem where these events are sorted correctly (by `LASTSEEN`), but the first column is `FIRSTSEEN`.  I think the first column should be `LASTSEEN` because that's the order the events are listed.

[2016-06-08 18:19] yujuhong commented on #16412
@kargakis, thanks for reminding me! I am not sure having the logs inlined is the best way to surface the failures, but I'll retitle the issue to reflect this.

[2016-06-08 18:19] wonderfly commented on #25276
I think this can be closed now?

[2016-06-08 18:19] justinsb commented on #27060
This also confused me when I first saw it - I think this ordering would be more intuitive and help users discover the aggregation feature logically, instead of first having to grapple with why events are "out of order"

[2016-06-08 18:21] ericchiang commented on #26954
You've provided the wrong authorization mode.

[code]

Should instead be

[code]

[2016-06-08 18:22] yujuhong commented on #16412
Actually, I found a separate issue for that purpose #25766. Closing this one.

[2016-06-08 18:22] #16412 closed

[2016-06-08 18:22] kargakis commented on #16412
Great, I had forgot about that too:)

[2016-06-08 18:22] kargakis commented on #25766
cc: @mwringe @marun

[2016-06-08 18:23] chrislovecnm commented on #5009
@thockin @bgrant0607 with PetSet coming shortly this is going to become more of a challenge.  For instance gce persistent storage only does pd-standard ... and I need pd-ssd for C*

See https://github.com/kubernetes/kubernetes/issues/23525

[2016-06-08 18:25] thockin commented on #26362
I'm ejecting this from 1.3.  We want this, but there's just no way we can make it for 1.3

[2016-06-08 18:26] chrislovecnm commented on #23525
@bprashanth @bgrant0607 @smarterclayton is this still the case?  Cassandra really needs pd-ssd on gce :)  Let me know if I can hack it in temporarily .. like only provision ssd.

[2016-06-08 18:28] bprashanth commented on #26362
If it's not making 1.3 we might as well https://github.com/kubernetes/kubernetes/pull/25189 and make sure we get the refresh logic right going down that path

[2016-06-08 18:28] roberthbailey commented on #25276
We are using it as the default for masters, but not as the default for nodes. The team/node label is still on this issue, so I expect we will use it to track switching the default on nodes (maybe as part of the 1.4 release).

[2016-06-08 18:29] timothysc commented on #27053
We will do more elaborate isolated testing of etcd3 in the coming weeks.

[2016-06-08 18:32] a-robinson commented on #26362
Not trusting the cache seems like a significantly safer change than the major rewrite in #25189...

[2016-06-08 18:32] euank commented on #25766
I personally think that probe / hook logs should not be intermingled with container logs for which they exec in (unless it's gated behind a flag).

There needs to be a way to get those logs, but they also need to be differentiable from the container's output, which can't be true if we intermingle them and don't add structure on top of the original container logs (which I believe we have not intent

[2016-06-08 18:35] thockin commented on #23163
I think this is important for paranoia as we add more plugins, but it's a little bit invasive, so we can't do it for 1.3.  We can either change .GetPath() to return (string, error) or wrap it in a volumeutil.GetPath(plugin) which returns (string, error) and assert that the returned string is not "", and convert that to error.  It means all call-sites (kubelet) need to check that error and change t

[2016-06-08 18:42] vishh opened #27062 "Downward API for resource specification should default to node capacity when limits are not set."
As of now the downward API for resource specification defaults to `0` for `limits` when `limits` are not specified in the pod spec. This behavior is not ideal for applications.
What does a limit of `0` mean?
In reality, not having a limit translates to being limited by node capacity as of now, and node allocatable in the future once it is enforced.
We should default to node capacity instead of set

[2016-06-08 18:42] timstclair opened #27063 "Run node e2e tests against the images used by the cluster e2e's"
Specifically, we aren't currently running the node e2e tests against the 2 images we plan to launch 1.3 on GCE with: gci and container-v1-3-v20160604

/cc @dchen1107 @vishh @pwittrock

[2016-06-08 18:44] thockin commented on #26996
I don't buy that findmnt is broken, especially if it is only when run through exec.Cmd.  More likely the bug is in our processing of the output

[2016-06-08 18:45] david-mcmahon commented on #26201
The "action required" label is a good way to get this pulled into the release notes and can be further expanded upon in the known issues section (immediately) post-release.

[2016-06-08 18:47] hongchaodeng commented on #27004
Reproduce in unit test. See https://github.com/kubernetes/kubernetes/pull/27064

[2016-06-08 18:47] vishh commented on #16412
We need to place logs from hooks and probes in a per-container instance log
file. That requires some overhauling of log management in general.

On Wed, Jun 8, 2016 at 11:19 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-06-08 18:47] thockin commented on #22823
@girishkalele Abhi had a dnsbench run that he was using against the old DNS server.  Can we reproduce that and publish the process and results?

Can we also do some threat analysis and see if we can dream up any possible way we can break the DNS server in a way that doesn't come back very very quickly?   An alternative is to run 2 DNS servers, which has a cost, too.

[2016-06-08 18:48] vishh commented on #25766
To be clear, I'm not suggesting interleaving logs. We can instead have
separate log files for probes and hooks.

On Wed, Jun 8, 2016 at 11:33 AM, Euan Kemp <notifications@github.com> wrote:

[2016-06-08 18:49] dchen1107 commented on #25766
Agreed with @euank

[2016-06-08 18:50] hongchaodeng commented on #27004
@lavalamp
I totally agree.
I think we should keep all the checking, syncing in one place -- the store. Let me sort it out and submit the code shortly.

[2016-06-08 18:50] vishh commented on #27063
We need to add the container vm to `kubernetes-node-e2e-images` project and
to jenkins properties files under `test/e2e_node/jenkins/*`

On Wed, Jun 8, 2016 at 11:43 AM, Tim St. Clair <notifications@github.com>
wrote:

[2016-06-08 18:52] saad-ali commented on #27004
@lavalamp This should be triaged for 1.3

[2016-06-08 18:53] jingxu97 commented on #26678
I found some suspicious log

I0602 02:03:21.702748    3441 attacher.go:131] Successfully found attached GCE PD "jenkins-e2e-dynamic-pvc-220c0057-2866-11e6-a690-42010af00002".
I0602 02:03:21.770051    3441 mount_linux.go:265] `fsck` error fsck from util-linux 2.20.1
fsck.ext2: Bad magic number in super-block while trying to open /dev/sdb
/dev/sdb:
The superblock could not be read or does not descri

[2016-06-08 19:01] chrislovecnm opened #27067 "PetSet Error PersistentVolumeClaim is not bound"
I am using

[code]

I am running creating a petset of Cassandra nodes and it is WORKING, but I am getting an error on the describe of the first pod:

[code]

The error message is repeated hundreds of times.  As I mentioned everything the PetSet starts just fine :)

Here is the yaml for the PetSet: https://github.com/chrislovecnm/gpmr/blob/1dd02269845d49a4387d2ad02ad65a719f1d4a2b/pet-race-devops/k8

[2016-06-08 19:01] derekwaynecarr commented on #26369
@huang195 - right now, I tend to agree with @mikedanese , but I see no reason why you can't prototype the idea using `ThirdPartyResource`.  In general, there a huge amount of variations in how users want to assign resources, flavors is just one choice on the menu, and its not clear what your ultimate goal is for pursuing this model.

* Is your primary goal to improve your user experience?
* Have y

[2016-06-08 19:02] chrislovecnm commented on #27067
Just incase I delete that branch.  Here is the yaml

[code]

[2016-06-08 19:08] derekwaynecarr commented on #27062
@vishh - do you want to handle requests with any special convention?  After all, 0 cpu requests is really whatever we set min cpu shares too (~1m)

[2016-06-08 19:09] derekwaynecarr commented on #27062
/cc @kubernetes/rh-cluster-infra

[2016-06-08 19:11] derekwaynecarr commented on #27062
@vishh - when we have pod and qos tier cgroups, BE will not really be node allocatable.  It may be a sensible thing to do, but if you then tie your JVM heap size to that value, it will immediately OOM kill since the actual limit will be much lower.

[2016-06-08 19:18] michaelvilensky commented on #11201
When I am running:
export KUBERNETES_PROVIDER=aws; wget -q -O - https://get.k8s.io | bash
with ENABLE_NODE_PUBLIC_IP all works fine and the cluster is up,
though when running with KUBE_ENABLE_NODE_PUBLIC_IP = 0, the cluster won't go up.

why the public ip's are needed for the nodes? isn't the VPC good enough?
Thanks.

[2016-06-08 19:24] derekwaynecarr commented on #27062
Questions:

1. How should an application know its qos tier via downward API?
2. If we do something with requests, is it confusing to do anything that makes it appear I have a better QoS class than I do in reality?

[2016-06-08 19:26] ericchiang opened #27068 "plugin/pkg/client/auth/oidc: panic in TestNewOIDCAuthProvider"
Observed while running unit tests locally.

[code]

I think it's being caused by this bit of code[0]

[code]

cc @bobbyrullo

[0] https://github.com/kubernetes/kubernetes/blob/66149c50fd00550e55920d5e78f7dbc5e4283127/plugin/pkg/client/auth/oidc/oidc_test.go#L50-L52

[2016-06-08 19:30] bobbyrullo commented on #27068
Thanks Eric, I'll look into it.

[2016-06-08 19:41] aveshagarwal commented on #27062
@derekwaynecarr Regarding your first question,  I see this function GetPodQos, GetQoS in pkg/kubelet/qos/util/qos.go, i think these should help in exposing qos status via downward API.

[2016-06-08 19:43] #18119 closed

[2016-06-08 19:44] smarterclayton commented on #16412
Another note on logs for this stuff - there is no way today to get
termination logs from stdout / stderr into the pod status, because they
aren't actually files anywhere.  I'll spawn an issue.

On Wed, Jun 8, 2016 at 2:47 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-06-08 19:47] vishh commented on #27062
Requests are a lower bound. Having a `0` for cpu requests just means that there are no guarantees. From an app standpoint that should be OK right? We can choose to implement no guarantees in different ways over time. Today we set cpu shares to `2`. As for memory, we don't do anything with requests today. So its OK to default requests at `0` as well.

Yeah. Thats true. Since the limits for BE are d

[2016-06-08 19:47] vishh commented on #27062
BTW. I'm working on a patch to fix this issue for v1.3.

[2016-06-08 19:51] #26319 closed

[2016-06-08 19:56] screeley44 commented on #26983
@rootfs @wojtek-t   - also confirm this same behavior

[2016-06-08 19:58] rootfs commented on #26678
I am not sure why fsck failed, but fsck failure doesn't break mount. What comes after fsck error in the log?

[2016-06-08 19:59] fejta commented on #26970
@saad-ali agree the environment seems wrong in [5092](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5092/):

[code]

@ihmccreery can you find someone on gke to investigate this? Is there anything interesting in the node artifacts or gke logs about this?

[2016-06-08 20:00] fejta opened #27071 "GKE Node created without a route"
Spin off of https://github.com/kubernetes/kubernetes/issues/26970

the environment seems wrong in [5092](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5092/). Specifically 2 out of 3 nodes do not have a route

[code]
On the other hand the logs do not have this error for `gke-jenkins-e2e-default-pool-ccf481db-syf0`

@ihmccreery can you find someone on gke

[2016-06-08 20:01] bprashanth commented on #27067
what're get pvc and get pv showing you, can you use the pv from within the pod? I've seen it flake on binding on occasion

[2016-06-08 20:04] euank commented on #26987
On our CI environment we're running with MONITORING=standalone when it expects influxdb. I can't recall the issue with influxdb that resulted in this (at some point it didn't come up).

I've verified that, at least now, it appears to come up correctly. I'll update our CI environment and verify that test passes with no impact on other tests and, if so, we can close this.

[2016-06-08 20:05] smarterclayton commented on #27067
There are known binding flakes, I think one of them is the Informer race.

On Wed, Jun 8, 2016 at 4:01 PM, Prashanth B <notifications@github.com>
wrote:

[2016-06-08 20:06] bprashanth commented on #26678
Any idea how much of this 1m was aggregate pd operations that we can do async holding up the sync loop (and will be soon, IIUC) vs kubelet slow? There are only a handful of things that can slow down the sync loop, since pod workers run in goroutines. Would be nice to know what, since we have an sla of pod start in < 5s (with prepulled images), though I'm not sure slow sync loop is worthy of blocki

[2016-06-08 20:07] chrislovecnm commented on #27067
[code]

[code]

and 497 more 😄 ...

[2016-06-08 20:09] pwittrock commented on #27050
Those are the supported sub-commands.  e.g. kubectl create namespace secret ....

The help output should be more clear on what those are.

[2016-06-08 20:11] lxjuly opened #27073 "replicationcontrollers cannot be found when setting up a local cluster with vagrant"
I was using `1.3.0-alpha6` release to setup a local cluster with vagrant on my `OS X 10.11.5`. The instruction is referenced here:
http://kubernetes.io/docs/getting-started-guides/vagrant/

After deploying the `nginx` apps and set replica to 3. I can get three pods with `./cluster/kubectl.sh get pods`. But `./cluster/kubectl.sh get replicationcontrollers` returns nothing.

I received two error whi

[2016-06-08 20:11] bprashanth commented on #27050
Oh fair enough, I guess you need run to do anything else. I was confused or it was too early in the day.

[2016-06-08 20:11] #27050 closed

[2016-06-08 20:13] spxtr commented on #26798
Necessary new jobs:
[code]

Delete jobs:
[code]

Move jobs:
[code]

[2016-06-08 20:14] girishkalele commented on #22823
@thockin

Let me dig up the dnsbench details and run it.
For the threat analysis, I will lookup CVEs and toolkits to exploit those CVEs to see the methodology used to break/ddos DNS servers generally.

[2016-06-08 20:16] bprashanth commented on #27058
Ignore the weird json blob it's an init container:
[code]

I haven't debugged enough to say this is not "kubelet doing somethign different for init containers", but it works 90% of the time.

[2016-06-08 20:17] chrislovecnm opened #27074 "Cassandra PetSet example"
Move the example from https://github.com/k8s-for-greeks/gpmr/tree/master/pet-race-devops into the examples in this code base.

Some time in July ish I will have time to do this.

cc: @kubernetes/examples

Please tag with Cassandra tag and assign to me.

[2016-06-08 20:18] freehan commented on #27059
identified one problem:
master pod cidr mismatch with network route in test setup.

[2016-06-08 20:22] chrislovecnm opened #27075 "Cassandra Example Docker Issues and Improvements"
I have found two bugs with the Docker in examples.

1. Does not stop properly.  I have used dumb-init to fix this.
2. Need to have the POD_IP as the seed in seed providers.  When you use a readiness probe with PetSet, pod 0 does not have a seed to talk too.
3. Need a readiness probe in shell testing that Native Transport active: true is not false.
4. Various other improvements.

This work will be

[2016-06-08 20:24] thockin commented on #27039
The only real risk of lots of instances is overflowing the etcd size limits with the Endpoints struct, I think.  Since the change to iptables proxy, the iptables setup time is approximately O(1) rather than O(n) with the userspace.

[2016-06-08 20:25] dchen1107 opened #27076 "Known issues for Kubernetes 1.3 release"
It is the time to collect all known issues for our coming release now. And runtimes' known issue are tracked separately: docker 1.10.X (#19720), docker 1.11.X (#23397), rkt (https://github.com/kubernetes/kubernetes/issues/26201)

cc/ @thockin @bgrant0607 @matchstick @davidopp @lavalamp @roberthbailey @fgrzadkowski

cc/ @timothysc @kubernetes/goog-node @yifan-gu @philips

[2016-06-08 20:29] yujuhong commented on #26678
@jingxu97, as @bprashanth pointed out, syncloop does a limited set of work which includes [cleaning up the orphaned volumes and directories](https://github.com/kubernetes/kubernetes/blob/9dbe943491d69762068c0ac021e1964d9c14873e/pkg/kubelet/kubelet.go#L2314). The rest of the work is handled by other goroutines. The log you posted during that time were from those separate goroutines.

The sync loop

[2016-06-08 20:32] k8s-merge-robot opened #27079 "[k8s.io] ConfigMap should be consumable via environment variable [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8748/

Failed: [k8s.io] ConfigMap should be consumable via environment variable [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-08 20:33] ihmccreery commented on #27071
Priority?  I can't look at this right now, so I can do it later, or pass it off.

[2016-06-08 20:40] rwillard opened #27081 "Force deployment rolling-update"
Unless you change something in the template for deployment, a rollout won't be triggered. Shouldn't I be able to trigger a rollout arbitrarily? In this case I want to rebuild my replica set with a new version of a docker image with the same label. Maybe I'm just missing something

[2016-06-08 20:45] pwittrock commented on #26591
Hm, I don't remember this ever working with the rational being that go couldn't figure out how to handle circular refs.  If you need this `spew` handles it correctly.

[2016-06-08 20:53] goltermann commented on #23545
What remains before we can close this P0?  Is it just documenting how to restart the cache?

[2016-06-08 20:56] goltermann commented on #26210
#26961 has been merged.  Any more work left before closing this P0?

[2016-06-08 20:58] goltermann commented on #26797
#26792 has merged - anything left before closing this P0?

[2016-06-08 20:59] jingxu97 commented on #26678
Thanks @yujuhong for the explanation. Also talked with @saad-ali, after his change #26351 which  introduces a new Attach/Detach Controller, there is no failures for this test. The new design should remove the delay from volume attach/detach at kubelet. So for now maybe we can close this bug, and reopen it if it occurs again.
@saad-ali , could you also comment on this if I missed anything? Thanks!

[2016-06-08 21:00] jingxu97 commented on #26678
@rootfs after fsck failed, the logs are

I0602 02:03:21.777462    3441 server.go:646] Event(api.ObjectReference{Kind:"Pod", Namespace:"e2e-tests-nettest-ngak7", Name:"wget-test", UID:"2d03707d-2866-11e6-a690-42010af00002", APIVersion:"v1", ResourceVersion:"947", FieldPath:"spec.containers{wget-test-container}"}): type: 'Normal' reason: 'Created' Created container with docker id ef009ad4ae4e
I0602

[2016-06-08 21:05] krousey commented on #26210
@goltermann That PR does nothing to eliminate the flake. It may help us determine what it is.

[2016-06-08 21:08] mikedanese commented on #21126
Yes you are correct, that should no longer be a problem.

[2016-06-08 21:09] saad-ali commented on #27058
The PV and Pod objects look fine. Spoke with @bprashanth offline. Looks like this happens randomly not on every execution. He'll add extra logging to gather more details.

[2016-06-08 21:18] saad-ali commented on #26678
That PR fixed a bunch of races between attach/detach and moved them off of kubelet to its own controller. But mount/unmount are still racy and unmount is still part of the syncLoop (and can potentially block it)--this will be changed as part of https://github.com/kubernetes/kubernetes/pull/26801.

But, I'm fine with closing this now (and assuming #26351 fixed the issue) or waiting until that PR #2

[2016-06-08 21:21] yifan-gu opened #27082 "The CNI binary used by salt will leak iptable rules"
I am testing rktnetes on gce using the kubenet with the CNI binary downloaded from https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/cni/init.sls

And I am seeing iptable rule leaks issue. I am pretty sure the CNI binaries we used [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/cni/init.sls#L22) doesn't contain the fix.

Ref:
https://githu

[2016-06-08 21:50] pwittrock commented on #15493
Making this a P3 (no release block) since I looks like we haven't seen many instances since Feb 2016

[2016-06-08 21:52] freehan commented on #27082
Do you mean the rules did not get clean up? Did TearDownPod finish properly?
I plan to bump cni version once some fixes get in.
ref: https://github.com/containernetworking/cni/issues/215

[2016-06-08 21:58] nikhiljindal opened #27085 "kube-controller-manger fails to come up when started using hyperkube"
service controller requires `--cloud-provider` to be set on kube-controller-manager. It otherwise fails with:
[code]
as per this code: https://github.com/kubernetes/kubernetes/blob/a550cf16b9aadeb1287ef30db6fbf0ccca19c87a/pkg/controller/service/servicecontroller.go#L163.

But there is no way to pass the --cloud provider flag to kube-controller-manager when following the instructions as per http://

[2016-06-08 21:59] nikhiljindal commented on #27085
Ref http://serverfault.com/questions/772747/servicecontroller-should-not-be-run-without-a-cloudprovider

[2016-06-08 22:00] goltermann opened #27086 "Several Examples E2Es Determinstically Broken"
https://k8s-testgrid.appspot.com/k8s#gce-examples&width=5 shows Cassandra, RabbitMQ, Hazelcast, Redis, RethinkDB, Spark, Storm all broken.

Taking a look, my initial theory is we're not checking that the created service is up in the right way.

[2016-06-08 22:02] nikhiljindal commented on #27085
cc @mikedanese @luxas
Not sure who maintains hyperkube

[2016-06-08 22:06] mikedanese commented on #27085
@fgrzadkowski @jbeda @aaronlevy since they all have used hyperkube.

this seems bad.

[2016-06-08 22:17] caesarxuchao commented on #26290
@deads2k could this be fixed by your https://github.com/kubernetes/kubernetes/pull/25662? The flake occurred before your 25662 merged.

[2016-06-08 22:21] #26871 closed

[2016-06-08 22:26] freehan commented on #27059
identified one problem: firewall is not open for icmp in GCI setup.

I opened it manually. Still does not work.

[2016-06-08 22:30] freehan commented on #27059
Here are the symptoms:
1. All node can ping each other
2. On one node, it can ping all pods on it, and vice versa.
3. On one node or pod, it can ping all cbr0 gateways(10.X.X.1). But not the pod ips except on the same node.
4. On pod, it cannot ping google.com but able to curl.

[2016-06-08 22:36] mml opened #27088 "Configure union merge for plaintext lists"
We have files that are merely a plaintext list of 1 item per line.  E.g., `hack/verify-flags/known-flags.txt`.  These cause pointless merge conflicts, one of which I just experienced and had to resolve.

You can tell git that the right answer is to accept the lines from both sides of the merge by using `.gitattributes` to select `git merge-file --union`.  I have a PR that does this and will send i

[2016-06-08 22:39] yifan-gu commented on #27082
@freehan Pretty sure the plugin.TearDownPod finished succefully. I verified that the allocated IP is cleaned.

[2016-06-08 22:39] jlowdermilk commented on #26870
Closing as dupe of #26742.

[2016-06-08 22:39] #26870 closed

[2016-06-08 22:43] aaronlevy commented on #27085
That error (at least in the past) was never fatal. In the future it might be bad if new non-cloud-provider functionality is added -- but the only thing the service controller is (was?) doing is cloud-provider related anyway. Maybe just a less worrisome error message?

Ref (hyperkube + non-cloud-provider): https://github.com/coreos/coreos-kubernetes/blob/master/single-node/user-data#L247-L251 -- I'

[2016-06-08 22:47] bprashanth commented on #27059
My first thought would be somethings blockign ping. your options are iptables, firewall, icmp is disabled alltogether (sysctl or somewhere in /proc/sys/net/ there should be a setting). Try traceroute and see where it gets to.

[2016-06-08 22:51] mml commented on #27088
Le sigh.  I can make this work on my machine, but I see no way to configure custom merge drivers to be used by github.

If anyone cares, the recipe is to put this in some `gitconfig` file

[code]

And then this:

[code]

Part two is easy, but part one isn't something I see how to do.

@kubernetes/release-maintainers and @kubernetes/sig-testing in the absence of a sub-team that owns dev infra or "t

[2016-06-08 22:52] johndmulhausen opened #27089 "Before turning down gh-pages branch, make sure the appropriate docs processes have been migrated"
There's not a process that pushes docs to kubernetes.github.io right now. Ideally something in the build process would push the YAML file representation of kubectl's help to kubernetes.io, as well as swagger spec stuff, and for the time being, the HTML output of each.

Right now I have a very klugey script that imports the Operations/Definitions pages and the kubectl manpages: https://github.com/k

[2016-06-08 22:57] smarterclayton opened #27090 "kubectl get -o jsonpath does not handle objects with RawExtension"
This will break when we add templates @pwittrock @bprashanth @bparees.  It looks like JSONPath either needs special handling for `RawExtension`, or we have to switch to JSON when we hit an object we don't recognize.

[2016-06-08 22:57] rmmh commented on #27088
I think `merge=union` should work without any gitconfig changes.

[2016-06-08 22:57] smarterclayton commented on #27090
On an object from OpenShift (which is using RawExtension to nest an object)

[code]

[2016-06-08 22:58] mml commented on #27088
@rmmh Thanks, that seems correct.  Is that documented somewhere?

[2016-06-08 22:59] smarterclayton commented on #27090
We should probably be marshaling our JSONpath objects to... JSON... before we call jsonpath.

[2016-06-08 23:00] thockin commented on #22823
I'm less concerned about CVEs than I am about DOS or even just stupid
config things we have done that would lead to unavailability (e.g.
appropriate health checking and timeouts)

On Wed, Jun 8, 2016 at 1:15 PM, Girish Kalele <notifications@github.com>
wrote:

[2016-06-08 23:00] smarterclayton commented on #27090
Note that RawExtension has "Raw" (so it can store the actual JSON bytes when unmarshalled) and "Object" so that a versioned client can deserialize, have a place to store the deserialized object, and then continue.

[2016-06-08 23:02] freehan commented on #27059
I have a working version now. GCI setup added icmp ACCEPT rules in INPUT chain of filter table. But not in OUTPUT or FORWARD chain.

[2016-06-08 23:06] lukaszo commented on #27040
@dchen1107 sure, I will prepare pr. I'm wondering if we should somehow distinguish init containers and normal containers.

- we can add `init:` to init container name but this may be misleading.
- we can also add second list with init containers. Something like these:
`Error from server: a container name must be specified for pod kube-dns-v14-z0ho6, choose one of: [kubedns dnsmasq healthz] or from

[2016-06-08 23:08] rmmh commented on #27088
It's in [`man gitattributes`](https://git-scm.com/docs/gitattributes#_built_in_merge_drivers) under "Built-in merge drivers".

[2016-06-08 23:08] xuant opened #27093 "Proposal: Add scheduler priority function for scheduling pod using host filesystem."
## Background

For applications that need to use host local filesystem, we need some level of node-affinity in case when the application pod get wiped out on some host, we want the host to be of high priority once the pod gets rescheduled.
At the beginning, the application might not care where it is going to be deployed. However, once it gets scheduled onto some node, the node should keep in mind

[2016-06-08 23:09] freehan commented on #27059
In summary, 2 problems:
1. firewall is not opened for icmp
2. iptables is filtering icmp on FORWARD chain. INPUT chain is not enough

Will submit a fix
@a-robinson @andyzheng0831

[2016-06-08 23:09] xuant commented on #27093
/cc @davidopp

[2016-06-08 23:16] #26898 closed

[2016-06-08 23:18] freehan commented on #27082
Can you reproduce it by running cni ADD/DEL manually using the cni binary with the same config?

[2016-06-08 23:20] janetkuo commented on #26724
@ihmccreery I have a PR #26922 for release-1.2 which would solve this, but it needs to wait until 1.3 code freeze ends, right?

[2016-06-08 23:22] a-robinson commented on #27059
Great detective work, @freehan!

Is this a ping-specific problem, or are there going to be problems with other types of outgoing traffic from pods on GCI as well?

[2016-06-08 23:27] ihmccreery commented on #26724
No no no, this is a P1 for v1.3, and your fix should go in asap, so we get upgrade tests green.  Thanks for working this out!

[2016-06-08 23:29] spxtr commented on #23545
Documenting and ensuring that the cache is running at all times. I don't think it's a P0 right now.

[2016-06-08 23:29] freehan commented on #27059
I do not see any problem for udp/tcp traffic so far. e2e tests already covers lots of them. Unfortunately, no e2e covers ping tests and GCI happens to filter it.

[2016-06-08 23:34] lavalamp commented on #20951
I believe all of the items mentioned have been finished.

[2016-06-08 23:34] #20951 closed

[2016-06-08 23:35] k8s-merge-robot opened #27095 "Restarting Kubelet restarts Successful Pods"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1453/

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]

[2016-06-08 23:39] jingxu97 opened #27096 "v1.1 e2e fails against v1.3 cluster: Error waiting for all pods to be running and ready"
I am trying to set up a test with v1.1 version against new cluster v1.3. The following is the steps I did

1. In master branch, start a cluster with command and check the cluster is up
[code]
2. Checkout to another branch and get v1.1 code
[code]
3. In release-1.1 branch, start e2e test
[code]

But the test failed with error waiting for all pods to be running and ready

Some output
[code]

@dchen1

[2016-06-08 23:40] dchen1107 commented on #27040
I prefer not introducing a prefix "init:" here. I like the second option better. cc/ @smarterclayton WDYT?

[2016-06-08 23:42] yujuhong opened #27097 "A better story of container metrics for runtime integration"
Currently, kubelet gets container stats/metrics through cadvisor and expose them through the /stats endpoint.
This forces container runtimes to integrate with cadvisor first, before they can properly integrate with kubelet.

Now that we are defining the new container runtime interface for kubelet (#22964), we should define container metrics and associated methods in the new interfaces so that runt

[2016-06-08 23:44] aaronlevy commented on #27085
Still seems to be non-fatal: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L249-L251

I tested the instructions in http://kubernetes.io/docs/getting-started-guides/docker against `v1.2.4` & `v1.3.0-alpha.5` on a fresh CoreOS node, and it mostly seemed to work (k8s-master comes up in both instances. The dns/dashboard were in crash loops on

[2016-06-08 23:51] derekwaynecarr commented on #27062
I am ok with setting limits to allocatable.  What I was concerned about is
if it obfuscated my applications ability to determine its qos if it's
Kubernetes aware.   Previously, I could have deduced BE qos with checking
that request and limit for all resources was 0.  This change prevents that
which is fine, but it does call out the need to have Kubernetes aware
applications have a way of knowing t

[2016-06-08 23:54] goltermann commented on #27086
Looks like a good old fashioned test code race condition for several of these, working on a PR.

[2016-06-08 23:58] matchstick commented on #26966
@lavalamp for 1.3 triage

[2016-06-09 00:00] matchstick commented on #26780
Assigning as a P2 for now according to https://groups.google.com/forum/#!topic/kubernetes-dev/0_5vgSCWUyo

[2016-06-09 00:01] dims commented on #27085
one more data point, just running local-up-cluster.sh seems to use `--cloud-provider=` and works fine

`
$ ps auxw | grep controller-manager | grep -v grep
root     30662  0.0  0.0  54796  3840 pts/1    S+   19:57   0:00 sudo -E /home/dims/kubernetes/_output/local/bin/linux/amd64/hyperkube controller-manager --v=3 --service-account-private-key-file=/tmp/kube-serviceaccount.key --root-ca-file=/var/

[2016-06-09 00:01] ihmccreery commented on #27096
Huh, interesting.

This setup certainly seems reasonable, though I'd probably check out `HEAD` of the release-1.1 branch.
1.1.7 likely doesn't have all test fixes necessary:

[code]

We sometimes commit test fixes that aren't reason enough to cut a new minor version, so they just sit on `HEAD` of a branch.

[2016-06-09 00:02] matchstick commented on #26678
Closing after talking to saad. Will reopen if it reoccurs.

[2016-06-09 00:02] #26678 closed

[2016-06-09 00:02] ihmccreery commented on #27096
I'm working on writing up some docs on how to do version-skew testing; sorry they don't exist yet.

[2016-06-09 00:05] smarterclayton commented on #27040
I like the second option as well.  We generally avoid prefixes or special syntax except in rare cases.

[2016-06-09 00:06] matchstick commented on #26256
Marking as P1 as per @saad-ali  @jsafrane

[2016-06-09 00:10] matchstick commented on #26141
Close we will track this with https://github.com/kubernetes/kubernetes/issues/26127

[2016-06-09 00:10] #26141 closed

[2016-06-09 00:10] #23972 closed

[2016-06-09 00:11] #27088 closed

[2016-06-09 00:13] lavalamp commented on #26966
Dup of https://github.com/kubernetes/kubernetes/issues/27004

[2016-06-09 00:14] dchen1107 commented on #27096
e2e-image-puller-e2e-test* pods are helper pods introduced to pre-pull test images for 1.3 release (https://github.com/kubernetes/kubernetes/pull/25784), but only for test environment. In your test, you are running 1.1 test infrastructure which lacking of WaitForPodsSuccess method introduced at https://github.com/kubernetes/kubernetes/pull/25784/files#diff-53314d6a19fc22810420c6bee965f5b8R139

[2016-06-09 00:15] dchen1107 commented on #27096
To workaround your issue, you can simply updating cluster/gce/config-test.sh

PREPULL_E2E_IMAGES="${PREPULL_E2E_IMAGES:-false}"

[2016-06-09 00:16] matchstick commented on #23591
This test has been green since 5/25.

[2016-06-09 00:20] david-mcmahon commented on #20562
https://github.com/kubernetes/release/issues/1

[2016-06-09 00:20] #20562 closed

[2016-06-09 00:20] david-mcmahon commented on #20946
https://github.com/kubernetes/release/issues/1

[2016-06-09 00:20] #20946 closed

[2016-06-09 00:21] david-mcmahon commented on #19966
https://github.com/kubernetes/release/issues/1

[2016-06-09 00:21] #19966 closed

[2016-06-09 00:21] david-mcmahon commented on #19174
https://github.com/kubernetes/release/issues/1

[2016-06-09 00:21] #19174 closed

[2016-06-09 00:21] david-mcmahon commented on #16937
https://github.com/kubernetes/release/issues/1

[2016-06-09 00:21] #16937 closed

[2016-06-09 00:24] saad-ali commented on #26127
This should be fixed with https://github.com/kubernetes/kubernetes/pull/26801

[2016-06-09 00:27] ihmccreery commented on #26647
This is also affecting 1.1 -> 1.3 upgrades, e.g. view logs and artifacts at https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.1-1.3-upgrade-master/305

Maybe those two jobs are stomping on each other...

[2016-06-09 00:28] ihmccreery commented on #26594
This is now affecting:

[code]

[2016-06-09 00:38] yujuhong commented on #26290
The kubelet logs were full of pod updates (potentially caused by the hot loops), and the logs we collected did not contain any timestamp during the window where the failed test was run. I suspect that the hot loop may have caused kubelet to log too much and caused the log rotation. I suggest closing this issue for now since 1) we can't really debug this further without the logs and 2) this happene

[2016-06-09 00:39] fejta commented on #23545
I'll update our internal documentation for this.

[2016-06-09 00:39] #23545 closed

[2016-06-09 00:51] dalanlan commented on #25650
echo DOCKER_OPTS=\"${DOCKER_OPTS} -H tcp://127.0.0.1:4243 -H unix:///var/run/docker.sock \
--bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU}\" > /etc/default/docker
This was an issue for me as I was configuring the proxy for docker in that file.

Would `source /etc/default/docker` help?

[2016-06-09 01:13] saad-ali opened #27104 "Node PR Puller `node-pull-build-e2e-test` failing with "unable to create test archive failed to copy ginkgo""
[Node PR Puller `node-pull-build-e2e-test` suite](http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/) is failing with:
[code]

Examples:
* http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/9733/console
* http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/9734/
* http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/9735/
*

[2016-06-09 01:21] fejta commented on #27104
This is the failing line of code...
[code]

[2016-06-09 01:24] fejta commented on #27104
PASS: http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/9732/console
FAIL: http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/9733/console

Seems like this disappeared:
17:13:20  > /usr/bin/git rev-list fb5873732f5ee808686d9e9adb40c48778257f67 # timeout=10

[2016-06-09 01:26] yifan-gu commented on #27082
Let me try. @freehan

[2016-06-09 01:32] fejta commented on #27104
@pwittrock my leading theory is this is something in https://github.com/kubernetes/kubernetes/commit/e94e1c6e3de9dc0515827ff0c38abd032baf0b90#diff-2cf4815674d337c5531ee1bbf343d97c

[2016-06-09 01:38] Random-Liu opened #27105 "Kubelet: Add a DELETE PodUpdate type"
Now `kubelet/config` generates 4 kinds of pod update operations:
* ADD: The pod is newly added.
* UPDATE: The pod is semantically different.
* REMOVE: The pod is removed.
* RECONCILE: The pod is semantically the same, but the pod status is different.

See [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/types/pod_update.go#L37-L44)
However, graceful deletion doesn't remove t

[2016-06-09 01:48] derekwaynecarr commented on #26290
+1

On Wed, Jun 8, 2016 at 8:38 PM, Yu-Ju Hong <notifications@github.com> wrote:

[2016-06-09 01:51] yifan-gu commented on #27082
Before running the plugin.

[code]

Run ADD/DEL with the latest binary, using the scripts from cni repo.
[code]

Run ADD/DEL with the binary from salt.
[code]

I am using the example cni config from the cni's readme.
[code]

[2016-06-09 01:59] fejta commented on #27104
The issue is that the above PR changed a bunch of `foo()` to be `go foo()` and thus we no longer wait for getArchive() to complete before starting tests

[2016-06-09 02:04] andyzheng0831 commented on #27059
We should add a test in networking suite for ping.

[2016-06-09 02:21] caesarxuchao commented on #26290
Agree. Maybe the kubelet is overloaded by the updates, and maybe it's caused by the hot loop, but we can't be sure without more logs. I'm closing it.

[2016-06-09 02:59] dchen1107 commented on #27104
After merging, kubelet-gce-e2e-ci still failed with the same issue. reopen the issue. Currently the failure blocked the merge-bot.

[2016-06-09 03:09] bprashanth opened #27110 "Preserve source ip of service.clusterIP traffic"
This appears to be a regression. Create an nginx pod and service such as:
[code]
And a test pod like:
[code]

Try and get them to land on different nodes.
[code]
curl the service vip
[code]

And in another window:
[code]

I expected a source ip of `10.180.1.8`. We should just be DNATing to the pod ip.
I see rules like:
[code]

@kubernetes/sig-network @dcbw

[2016-06-09 03:12] bprashanth commented on #26490
In debugging this i ran into: https://github.com/kubernetes/kubernetes/issues/27110
The requests are getting cancelled because we're sending eth0 doesn't recognize the source ip of the pod:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/6407/artifacts/jenkins-e2e-minion-group-1s83/
[code]
I think we'll just have to unwrap the onion layer by layer,

[2016-06-09 03:15] #27104 closed

[2016-06-09 03:28] dchen1107 commented on #27104
#27108 did stop the bleeding. Now kubelet-gce-e2e-ci is green:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubelet-gce-e2e-ci/4197/console

and merge-bot is unblocked.

[2016-06-09 03:39] hongchaodeng commented on #27004
I read through informer code more thoroughly today. I figure out there is more problems beyond missing Delete events. Resync can return inconsistent data, Replace (on relist) can return inconsistent data, and also Delete. These 3 functions are the ones calling store functions: ListKeys, GetByKey.

[2016-06-09 03:53] mikedanese commented on #26224
The first 2 and the last 12 flakes are different. The first two are in gce which hasn't occured in 13 days, the second 12 are in GKE and all appear to be cause by the weirdness that @dims. Unfortunately we don't have access to the apiserver logs in gke. The call in question is here:
https://github.com/kubernetes/kubernetes/blob/79ca1911e1de0e6dce501ac35900eef308db0806/test/e2e/pods.go#L358

#27111

[2016-06-09 03:56] mikedanese commented on #26224
FWIW, I ran this test for a couple hours today individually in a while loop in gce and it hasn't flaked.

[2016-06-09 04:28] eghobo commented on #20255
@soltysh: the biggest problem with 'try to reach completions' that it create many dead/error pods objects in etcd which significantly slow down all api calls (and of course delete take forever). It looks like use need to implement watchdog for all jobs ):

[2016-06-09 04:30] thockin commented on #18333
@saad-ali It might be worthwhile to either close this and open a new issue or issues on the remaining work, or at least post a summary / status message here and link to it from the first comment.

[2016-06-09 04:36] pwittrock commented on #27104
@fejta I think the "go arc" piece was a red herring.  I suspect the issue is that the same PR tries to copy the `ginkgo` binary into the archive directory, but PR #26830 stops building ginkgo, so the copy fails.

That is why this line then fails...

[code]

[2016-06-09 04:41] saad-ali commented on #18333
Will do

[2016-06-09 05:03] tanapoln opened #27114 "LivenessProbe should start after ReadinessProbe Succeeded if ReadinessProbe is specified"
Our initial understanding is that liveness probe will start to check after readiness probe was succeeded but it turn out not to be like that.

We are testing with our system that has a long boot time, an approximation of boot time is between 1-3 minutes. We specify readiness probe with same url of liveness probe and specify initial delay of liveness probe to be 30 seconds, we found that the pod is

[2016-06-09 05:08] davidopp commented on #26125
Thanks @wojtek-t. @fejta do you mind if I re-label this as test infra?

[2016-06-09 05:08] thockin commented on #24957
Sorry, I walked away from this for a while.

I *dislike* an opinionated "bump" operation because that isn't what I asked for.  I have been asked repeatedly for "I want to send a signal".  Yes, I know that signals are a POSIXism and Windows support is approximately inevitable.  That doesn't mean that I am going to change my app from expecting SIGUSR1 to now expect SIGHUP, even if SIGHUP is more obv

[2016-06-09 05:11] #26815 closed

[2016-06-09 05:15] binarybana commented on #27093
@xuant, I'll share our experience if it helps you (this proposal might not be needed): We are doing something similar to this, but using node labels and 1.2 alpha node affinity. Here's roughly how it works:

- There is a "download cacher" RC (I'll call it CACHE) and two jobs that depend on the downloaded file that CACHE puts on the machine (A and B)
- The CACHE RC and A and B jobs all get schedule

[2016-06-09 05:27] thockin commented on #27110
@freehan

On Wed, Jun 8, 2016 at 8:10 PM, Prashanth B <notifications@github.com>
wrote:

[2016-06-09 05:38] freehan commented on #27110
Those rules are added by cni bridge plugin. We should turn it off.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/network/kubenet/kubenet_linux.go#L170

Any concerns? @dcbw

[2016-06-09 05:54] xuant commented on #27093
@binarybana , thank you so much for providing your use case!
In your case, CACHE RC generates some data onto its host that needs to be consumed by A and B. CACHE RC informs A and B the location of the data by adding a label `DownloadFinished=true` to the node. The whole process is more like event-driven process -- the finish of file download will trigger the start of A and B.

Our use case is a li

[2016-06-09 06:11] thockin commented on #27110
We need an e2e for source-IP

On Wed, Jun 8, 2016 at 10:39 PM, Minhan Xia <notifications@github.com>
wrote:

[2016-06-09 06:16] thockin commented on #26362
I guess we can consider PRs, if they are very safe and ready to go.  I
don't know this code, so I assumed it was a hard change :)

On Wed, Jun 8, 2016 at 11:33 AM, Alex Robinson <notifications@github.com>
wrote:

[2016-06-09 06:24] hekike commented on #27046
I tried the following formats with no luck:

[code]

[2016-06-09 06:29] wojtek-t commented on #27004
@hongchaodeng - what do you mean by "inconsistent data" above? Can you please clarify?

[2016-06-09 06:33] thockin commented on #5009
petset leans on PersistentVolumes.  PV with paramaters is covered by the storage classes proposal (sorry, don't have a link on hand, look for PRs by one @pmorie)

[2016-06-09 06:36] thockin commented on #17139
I think this is done

[2016-06-09 06:36] #17139 closed

[2016-06-09 06:42] thockin commented on #26148
This is in the userspace proxier.  I might be talked into accepting patches against it, but I'm wary of investing much time into it, since the iptables proxier is pretty much better in every way.  Have you tried the iptables mode?

[2016-06-09 06:43] thockin commented on #27021
This is a dup of #26148 isn't it?  Why have 2 issues?

[2016-06-09 06:43] #27021 closed

[2016-06-09 06:44] thockin commented on #26148
To be clear, my preference is that people use the iptables mode and that the userspace mode be considered deprecated.

[2016-06-09 06:48] hongchaodeng commented on #27004
Currently the store is used in delta fifo like this:
[code]
In this code, there could be new events being processed, data being changed between ListKeys() and iterating, between each iteration of GetByKey().

Things can get weird. For example, I have event A=1,B=1, B=2, A=2, . I could end up getting B=1 and A=2. But I would definitely expect B=2 for a List(). I might get wrong for the use case. Bu

[2016-06-09 06:57] wojtek-t commented on #27004
I don't understand - the whole Replace method is under lock, as well as Add, Update, ...

These cannot interrupt each other...

[2016-06-09 06:58] pmorie commented on #5009
@chrislovecnm we recently added label selectors to PV claims.  there's also a porposal for storage classes and dynamic provisioning you might be interested in #26908

[2016-06-09 07:13] hongchaodeng commented on #27004
Not between methods of DeltaFIFO.
There is race that the events are pop()-ed from DeltaFIFO but concurrently processed by informer controller. Thus interleaving sequences of operations might occur.

[2016-06-09 07:17] k8s-merge-robot opened #27115 "[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1455/

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-09 07:23] wojtek-t commented on #27004
Sorry - I still don't understand - can you please give some exact example? Like what needs to happen to trigger the race (e.g. on Replace?)

[2016-06-09 07:29] caesarxuchao commented on #27004
@wojtek-t I think @hongchaodeng is talking about this bug:
https://github.com/kubernetes/kubernetes/pull/26167#issue-156518098

On Thu, Jun 9, 2016 at 12:24 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

--
Regards,
Chao Xu

[2016-06-09 07:31] florian-besser commented on #26973
Can be closed, I messed up my network configuration and my proxy config. After fixing those everything works as expected.

[2016-06-09 07:31] #26973 closed

[2016-06-09 07:37] wojtek-t commented on #27039
I will try to reproduce and debug it

[2016-06-09 08:48] wojtek-t commented on #27004
I understand the problem that was described in #26167 (comment) and that is a real issue.

But my understanding is that @hongchaodeng is suggesting that there is also a different problem (problems?) which I don't understand. @hongchaodeng - if you think there are other problems, can you please describe them more deeply?

[2016-06-09 09:09] wojtek-t commented on #27115
@gmarek - FYI

[2016-06-09 09:09] wojtek-t commented on #27095
@gmarek - FYI

[2016-06-09 09:11] wojtek-t commented on #27071
This is working as intended. Routes are being created by route controller asynchronously. It's possible that tests start before all routes are created.
However, nodes without routes are considered unschedulable.

For more details you can look into: https://github.com/kubernetes/kubernetes/pull/26415

[2016-06-09 09:11] #27071 closed

[2016-06-09 09:35] erez-rabih opened #27116 "Unclear docs regarding AWS EBS persistent volumes on a Multi AZ cluster"
Hi,

The docs mention that the volume must be created in the same AZ of the cluster.

What happens when I have a multi AZ cluster and make a PVC on a pod for a volume that was created on AZ-X? The docs doesn't mention anything about that.
As I see it there are two options:

1. The scheduler will be aware of that PVC and schedule that pod only on nodes that belong to AZ-X
2. The scheduler will not

[2016-06-09 09:43] #21526 closed

[2016-06-09 09:43] #26972 closed

[2016-06-09 09:50] jonaz commented on #23812
The only thing changeing is renewTime so we get those events every second.

[2016-06-09 10:15] k8s-merge-robot opened #27118 "kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1456/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid podAffinity is rejected because of the LabelSelectorRequirement is invalid {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to add nodes {

[2016-06-09 10:26] wojtek-t commented on #27039
OK - I managed to reproduce it locally. So few findings are:
- the machine is relatively occupied, but we doesn't seem to be cpu-starved (we seem to be using up to 25 cores from 32 available)
- but my feeling is that we are network-limited

So the issue seem to be that we have 2000 pods, each of them, asking for endpoints of the service. The service contains 2000 pods, which means there are 2000 e

[2016-06-09 10:53] javiercr commented on #22823
@girishkalele thank you for the command, however it does not show any output neither, so I guess nothing was logged there.

Regarding service discovery with ENV vars, yes, I was aware of that, but I really liked the simplicity of the DNS approach, plus I don't know how and when ENV vars are updated if the IP of one of the service changes.

Are you guys sure that the changes to the DNS on 1.3 fix t

[2016-06-09 10:54] dims commented on #27059
Is this missing a milestone 1.3?

[2016-06-09 11:03] dims commented on #25940
Is this missing a milestone 1.3? (since it's a p0)

[2016-06-09 11:06] zreigz commented on #26943
[code]

[2016-06-09 11:30] wojtek-t commented on #27039
The problem is generally that every of those 2000 pods is periodically sending "get endpoint" request to apiserver and this endpoint is almost 1MB of data.

Since those pods are sending get endpoint request every 5s, that means that every second ~400 pods are asking for 1MB of data each. This is a loooooooot of data that we need to send.

It basically seems that the test is not designed to run in

[2016-06-09 11:58] gitfred opened #27120 "Make waiting for pods parallel in e2e tests"
It's from this TODO
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L1529

I will submit a patch soon.

[2016-06-09 12:16] resouer commented on #27105
@Random-Liu May I handle this? I'm doing work related to pod lifecycle recently.

[2016-06-09 12:57] timothysc commented on #27004
/cc @rrati

[2016-06-09 13:10] wojtek-t commented on #27039
And to clarify a bit more: if we have say 1900 pods in a service, adding new pod results in changing the underlying "Endpoint" for this service. This in turns results in sending the new endpoint to all nodes (to kube-proxy). That basically means, that since Endpoint has ~1MB with ~2000 pods, adding a new pod results in sending ~2GB of data from apiserver to nodes.

So what I'm going to do is to li

[2016-06-09 13:13] smarterclayton commented on #24957
I think both @bprashanth and I were suggesting pod or container defined named hooks at various points that were then treated as one or more "signals", and that's not terribly different from what's being proposed.  If a pod author wanted to create:

[code]

that's both intentional and extensible, as you note.

I don't think there's an "event bus" per se, but we do need to talk about delivery guaran

[2016-06-09 13:41] wojtek-t commented on #27039
Also, those "i/o timeout" failure confirm my theory, because sometime, we even not start handshaking (although apiserver is up all the time)

[2016-06-09 13:43] AdoHe commented on #26148
@z32109571 this is possible, as `ensurePortals ()` will loop over the entire services map. As @thockin said, you should use iptables mode, instead of userspace mode. would you like to give a try?

[2016-06-09 13:44] sergei-koren commented on #27110
Could the problem affect ingress Source IP?

[2016-06-09 13:56] ncdc commented on #26594
@ihmccreery by "this" do you mean deferred stdout/stderr.Close calls in the job test?

[2016-06-09 14:13] dims commented on #27039
@wojtek-t - This sounds like a scaling upper limit for 1.3 at least. is it?

[2016-06-09 14:25] dims commented on #26210
#26961 moved the port from 80 to 1080, the latest flake shows the new port

[code]

[2016-06-09 14:27] sttts commented on #26210
@dims interesting. Now for the first time we have other ports than 80 (and now 1080). I have never seen that.

[2016-06-09 14:30] activars commented on #17219
Seems to be a critical issue... If it's not warned ahead, it's likely to cause pain for the user.

[2016-06-09 14:31] wojtek-t commented on #27039
@dims - yes and no; basically even with 2000 pods in a service the cluster is working and your pods are working fine; the issue here is that:
- these pods are sending requests to apiserver (which is quite artificial setup)
- those requests are super expensive
But if you decide to retry the requests (those that are failing) you will succeed. There are just moments where network on the master machin

[2016-06-09 14:32] derekwaynecarr commented on #26198
Closing this issue as the setup_host.sh has been updated, and the other issues tracking core os specific problems with their image are tracking that problem.

[2016-06-09 14:32] #26198 closed

[2016-06-09 14:33] soltysh commented on #20255
@eghobo I feel your pain. But in general jobs are just a building block for something else. Eg. ScheduledJobs I'm working on right now :)

[2016-06-09 14:34] linsun commented on #12526
@yybear have you ever gotten soft link working?  I tried it today, it failed too.

[2016-06-09 14:36] wojtek-t commented on #27039
In other words: if you have a pod that in a loop calls "LIST all pods", and you start 30.000 of them in 1000-node cluster (which is already supported configuration in 1.2) then those pods will also network-starve the apiserver. Does it mean we don't support 30.000 pods in 1.2? In my opinion it doesn't.

[2016-06-09 14:41] dims commented on #27039
@wojtek-t gotcha. Thanks for the detailed explanation.

[2016-06-09 15:04] activars commented on #24028
👍

[2016-06-09 15:12] krousey commented on #26210
There was also a lot more failures, and of different kinds in this run. These are the first timeouts I've seen. And the first time it did't happen on the first try.

[2016-06-09 15:18] yybear commented on #12526
@linsun  yeah, soft link is not working

[2016-06-09 15:24] smarterclayton commented on #27039
A 2000 node cluster is a weapon of mass internet destruction, and should be
treated with care.

On Thu, Jun 9, 2016 at 10:41 AM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-06-09 15:35] Random-Liu commented on #27105
@resouer Of course! Feel free to do it :)

[2016-06-09 15:47] bprashanth commented on #26210
Moving this over to CSI since it's apiserver proxy, please return if it's really networking related

[2016-06-09 15:47] jsafrane commented on #26256
I have no real usable logs, but I think it could be fixed by #26629, it hasn't flaked since it was merged. And I have #26894 (in merge queue) to further stabilize the tests.

[2016-06-09 15:56] aveshagarwal commented on #27062
@vishh @derekwaynecarr  I am trying to understand why not change resources.limits.cpu/memory when the limits are unset? So that downward api would get it "automatically" and would be consistent with resources.limits.cpu/memory? What is the issue with it?

Also I dont see any change in functionality in practice if we do it. For example:

For a resource:

1.
Before: limit =0, req =0 : -> BE
After: l

[2016-06-09 16:06] wojtek-t commented on #27039
Completely agree with @smarterclayton
BTW - we would like to optimize this at some point too.

[2016-06-09 16:11] hyunchel commented on #23562
+1 for this.

On GCE environment, `kubectl describe services` would show `External IP` section, where it would stay blank until load balancer is ready to use. So we get an implicit expression of state on new load balancer.

This is not the case with AWS, however, as `External IP` section will never be populated.
I'm currently working with K8 on AWS environment.
Whenever a load balancer is "exposed

[2016-06-09 16:27] AdoHe commented on #27004
I think the root cause is these two stores are process concurrently, the queue will depends on the store(`knownObjects`), and this `knownObjects` is not properly protected.

[2016-06-09 16:29] thockin commented on #27110
@freehan I am making this P0 since it is a regression

[2016-06-09 16:29] thockin commented on #27110
@goltermann FYI

[2016-06-09 16:34] thockin commented on #14641
This was fixed.

[2016-06-09 16:34] #14641 closed

[2016-06-09 16:37] thockin commented on #24300
Dup of #19754

[2016-06-09 16:37] #24300 closed

[2016-06-09 16:38] thockin commented on #19754
Additional context in #24300

@matchstick @girishkalele

[2016-06-09 16:42] timothysc commented on #26853
I'd like to 1st try to optimize the efficiency of the caching itself https://github.com/kubernetes/kubernetes/issues/27053

[2016-06-09 16:43] mcumings opened #27131 "open-iscsi software iscsi initiator broken for non-default interfaces"
open-iscsi software initiators are currently broken for non-`default` interfaces due to the fact that
the devicePath (in iscsi_util.go) is assumed to use the `/dev/disk/by-path/pci` prefixing scheme
for all interfaces not named `default`.  This causes waitForPathToExist to timeout after 10 seconds
since the device path that it is waiting for is not the `/dev/disk/by-path/ip`- prefixed path that is

[2016-06-09 16:50] ihmccreery commented on #26594
Ah, no I mean #17030, which changed certain output from `stderr` to `stdout`.  That's what causes the test to hang—it's expecting output from `stderr`, and just waits forever.

[2016-06-09 16:59] bprashanth commented on #27110
@sergei-koren if you're not getting the right ip in x-forwarded-for via nginx ingress, it's probably because of docker's hostport handling, see discussion on https://github.com/kubernetes/contrib/issues/1141. The src-ip on packets will always be the loadbalancer ip for l7, unless you're using something like DSR which won't work on most clouds, or proxy protocol, which requires special handling by

[2016-06-09 17:01] thockin commented on #24957
I agree with this last message in its entirety.  Sorry for being obtuse
before.  This would satisfy what I understand as requirements.

On Thu, Jun 9, 2016 at 6:14 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-06-09 17:04] smarterclayton commented on #24957
Not obtuse at all - I think you helped crystalize it.  I had been
neglecting this as well.

On Thu, Jun 9, 2016 at 1:01 PM, Tim Hockin <notifications@github.com> wrote:

[2016-06-09 17:23] yujuhong commented on #27118
The suite started failing consistently at build 1456
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1456

The etcd on the master node failed the liveness probes repeatedly starting around 08:01, and never recovered.
[code]

The only PR on that build that seems relevant: #27027

/cc @kubernetes/goog-control-plane @kubernetes/sig-network

[2016-06-09 17:29] janetkuo commented on #26724
I see. cc @roberthbailey

[2016-06-09 17:33] thockin commented on #386
I propose we close this umbrella bug and open new issues for specific points remaining.

[2016-06-09 17:34] thockin commented on #494
Obsolete

[2016-06-09 17:34] #494 closed

[2016-06-09 17:36] thockin commented on #1300
I have since come to believe that the dumber our external-facing API structures are, the better.  Using net.IP for the internal types would be OK, but it would need conversion logic.  Additionally there is a pretty significant sentiment to move away from internal types at all.  As scuh, I am closing this.

[2016-06-09 17:36] #1300 closed

[2016-06-09 17:38] #2382 closed

[2016-06-09 17:39] thockin commented on #3806
This appears to be subsumed by myriad other work both completed and in progress.  Specifically api groups.

[2016-06-09 17:39] #3806 closed

[2016-06-09 17:40] #4879 closed

[2016-06-09 17:40] #5243 closed

[2016-06-09 17:42] freehan opened #27134 "Increase e2e Coverage for k8s Networking"
This is intended to be an umbrella issue for adding e2e tests for networking.
1. Ping Test (Pod to Pod. Node to Pod. Pod to Internet) ref: #27059
2. Source IP preservation (pod to service cluster IP). ref: #27110
3. Pod hostport ( with/without hostnetwork mode ). ref: #27141

[2016-06-09 17:43] #5968 closed

[2016-06-09 17:43] thockin commented on #6437
I have re-titled this again.  I'm still open to supporting DNS-SD but we could sure use help from anyone who really wants it :)

[2016-06-09 17:43] jlowdermilk commented on #27011
The fix was good and it went green briefly before upgrade command got broken by a different change. Fix incoming.

[2016-06-09 17:44] thockin commented on #6557
This is over a year old.  Close or is there still something we hope to get done here?

[2016-06-09 17:46] thockin commented on #6666
I think this is done!

[2016-06-09 17:46] #6666 closed

[2016-06-09 17:46] thockin commented on #7081
Is there work to do here?  It feels like this is done.

[2016-06-09 17:47] thockin commented on #7365
We also have env-expansion into other env vars, so I am calling this done.

[2016-06-09 17:47] thockin commented on #7469
Done!

[2016-06-09 17:47] #7469 closed

[2016-06-09 17:48] thockin commented on #7470
Now that we have a standalone DNS server and a cache in front of it, I'd like to evaluate (via bug reports and perf complaints) the need for this.

[2016-06-09 17:49] thockin commented on #7825
@girishkalele We should make sure out DNS pod has appropriate healthchecks for every container.

[2016-06-09 17:50] thockin commented on #8194
dup

[2016-06-09 17:50] #8194 closed

[2016-06-09 17:51] bprashanth commented on #6557
I don't know, @kubernetes/goog-node what happens today if DNS is down? will we still be able to create a node object and schedule pods onto it, or will we keep trying to figure out hostname and bring the cluster down? do we care?

[2016-06-09 17:51] andyzheng0831 commented on #26929
@fejta is this an issue on node side? If so, this is not related with GCI. Currently only the master is on GCI and nodes are still on ContainerVM.

[2016-06-09 17:52] thockin commented on #9076
Is there more to do here or is it done?

[2016-06-09 17:52] thockin commented on #9078
done

[2016-06-09 17:52] #9078 closed

[2016-06-09 17:53] erictune commented on #22888
Concrete proposal at #27129

[2016-06-09 17:54] thockin commented on #9107
@girishkalele FYI.  This was supposed to be done and then something got missed. :(

[2016-06-09 17:58] bboreham commented on #7469
Was there a PR or commit that closed this?

[2016-06-09 18:02] thockin commented on #9355
obsoleted by kube-dns rewrite

[2016-06-09 18:02] #9355 closed

[2016-06-09 18:02] #9488 closed

[2016-06-09 18:02] #9529 closed

[2016-06-09 18:03] #9983 closed

[2016-06-09 18:03] thockin commented on #10163
alpine:3.4 is available and viable.

[2016-06-09 18:04] thockin commented on #10732
Any news here?

[2016-06-09 18:06] thockin commented on #7469
yes - kube-dns was rewritten for 1.3 as a standalone bin using skydns as a
lib.  We're still open to other implementations of course, we just ran with
the devil we knew. :)

On Thu, Jun 9, 2016 at 10:59 AM, Bryan Boreham <notifications@github.com>
wrote:

[2016-06-09 18:11] vishh commented on #27062
Are you suggesting defaulting in the node or at the API level?

[2016-06-09 18:11] bprashanth commented on #27058
I'll reopen when i have the requested logs. I've also modified my test in a way that might be hiding this failure mode, it failed for other reasons in the last overnight run.

[2016-06-09 18:19] lavalamp commented on #27039
@bgrant0607 has been saying for a while that endpoints needs to be sharded.

[2016-06-09 18:20] yujuhong opened #27137 "kubelet should detect pod manifest files in the directory using inotify"
Kubelet currently polls the directory for pod manifest files every 10s.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file.go

We can improve the efficiency and performance of manifest file detection by using inotify.

[2016-06-09 18:24] derekwaynecarr commented on #27062
@aveshagarwal - defaulting at the API is not something that can happen.  I think defaulting in the node makes the local caches complicated, and could confuse other code paths.  I would prefer we keep defaulting for this local to the point of injection.

[2016-06-09 18:25] lavalamp commented on #27039
I think I wrote this test way back in the day. It was meant for 5 node clusters, not 2k node clusters. IIRC, it does basically n^2 connections, not even counting what the endpoints controller has to do. There's any number of ways to fix this. It just needs to test that Pod IP addresses work from every node.

[2016-06-09 18:25] dims commented on #10516
@thockin @mbforbes - This seems to be a Dup of #8593 if so can we please close this?

[2016-06-09 18:27] vishh commented on #27062
I feel the same way. Given the current state of code, a global defaulting
even at the node side will have un-expected consequences.

On Thu, Jun 9, 2016 at 11:24 AM, Derek Carr <notifications@github.com>
wrote:

[2016-06-09 18:28] verb opened #27140 "Support for troubleshooting distroless containers"
I favor running distroless container images in production, usually built from SCRATCH with the binary and bare minimum of libraries. This has a number of benefits and works well the vast majority of the time, but it's difficult on the occasion where I need to troubleshoot something in production.

It'd be nice if there was a way to enable some sort of debug mode for a running pod where a set of to

[2016-06-09 18:35] wojtek-t commented on #27039
It does n^2 connections, but it most of all also stresses apiserver. Anyway - I've already sent out some quick fix out and we should fix that properly once I'm fully done with 1.3 work.

[2016-06-09 18:36] k8s-merge-robot opened #27142 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/6149/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185

[2016-06-09 18:39] yujuhong commented on #27118
Assigned to @freehan since he's started working on it.

[2016-06-09 18:40] aveshagarwal commented on #27062
@vishh @derekwaynecarr  I meant at node level. But if there are issues with that, then its fine to go with the current implementation approach.

Is one of the issues is that nodes might have different node capacities?

[2016-06-09 18:43] freehan commented on #27134
Feel free to add more
@kubernetes/sig-network @thockin @dcbw @bprashanth

[2016-06-09 18:45] eghobo commented on #20255
@soltysh: I appreciate your effort, but still not convinced that I need to write my own controller just for restart (of course we can use pod instead of job, but it will be nice to have consistent api/behavior  between job and scheduled jobs). Any thoughts about adding restartPolicy at Job level?

[2016-06-09 18:46] vishh commented on #27062
Capacity for cpu and memory cannot change today since kubelet uses the
capacity surfaced by the kernel.

Capacity is a part of NodeStatus and not Spec and as per the API it is
mutable. That said, I don't think we have to design for varying capacity.

On Thu, Jun 9, 2016 at 11:41 AM, Avesh Agarwal <notifications@github.com>
wrote:

[2016-06-09 18:48] lavalamp commented on #27118
Can we roll back something? this is blocking the queue.

[2016-06-09 18:50] girishkalele commented on #7825
@thockin

If I read the current setup correctly, we might have a small hole there in our DNS pod liveness check - dnsmasq might return the cached DNS entry to the sidecar healthz container and we fail to check if kubedns is alive.

Looked at the liveness and readiness probes on the skydns container specs.
The new skydns pod has the kubedns container liveness check serviced by this "sidecar?" healt

[2016-06-09 18:53] yujuhong commented on #27118
IIUC, reverting #27027 will fix this. @freehan, how about we revert that first so that you can verify your fix with a test?

[2016-06-09 18:55] MikaelCluseau commented on #19754
We may even push this statement to "load balancers for a Service should directly target actual Endpoints". But this may be my routed design bias speaking :-)

[2016-06-09 18:55] lavalamp commented on #27118
Let's revert right now.

[2016-06-09 19:00] wojtek-t commented on #27118
+1 for reverting asap

[2016-06-09 19:14] paralin commented on #27032
Never mind, it works fine! Just had to use a couple sysctl commands.

[2016-06-09 19:14] #27032 closed

[2016-06-09 19:15] paralin commented on #26940
Easily possible with regular routing and openvpn rules.

[2016-06-09 19:15] #26940 closed

[2016-06-09 19:15] dims commented on #8102
Setting the DOCKER_HOST environment variable seems to work
https://github.com/dims/kubernetes/blob/3c0c5ed4e019f2c1aef520a7d1f78763368bede7/vendor/github.com/docker/engine-api/client/client.go#L58

[2016-06-09 19:25] yujuhong commented on #8102
@onorua what version of kubelet do you use and how did you change the docker endpoint?

[2016-06-09 19:33] mml commented on #26815
Robot more optimistic than my "May fix #XXX" message warrants, but OK.  If this occurs again, please reopen.

[2016-06-09 19:36] fgrzadkowski commented on #12724
Since @mikedanese is working on a new cluster deployment tools I'm going to close this.

[2016-06-09 19:36] #12724 closed

[2016-06-09 19:56] mml commented on #25845
I couldn't find an example of this happening at all in June.  Downgrading to P2 and we'll wait until it happens again.

[2016-06-09 19:57] wernight commented on #10732
@thockin I got it working on Kubernetes v1.2 with `alpine:3.4` (`alpine:3.3` will *not* work).

[2016-06-09 20:02] wojtek-t commented on #25845
This happened to me on Tuesday in #26880

[2016-06-09 20:27] soltysh commented on #20255
No idea, I don't think such ideas where ever discussed, you're free to open an issue and gather opinions around the topic.

[2016-06-09 20:34] yujuhong commented on #27118
By the way, IIUC, this is a real bug in kubenet that's been triggered in only the serial suite, and is not really related to GCI per se. The master components use host network + ports, and when the daemonset test scheduled a pod onto the master node, all hell broke loose. We don't have any e2e tests for HostNetwork+HostPort, and usually no pods get scheduled to the master node, so this wasn't trig

[2016-06-09 20:40] freehan commented on #27118
Revert it first.

[2016-06-09 20:41] dchen1107 commented on #27118
#27027 is reverted and merged.

[2016-06-09 20:49] xiang90 commented on #25563
/cc @hongchaodeng

[2016-06-09 20:51] dchen1107 commented on #27118
re https://github.com/kubernetes/kubernetes/issues/27118#issuecomment-225017791

@roberthbailey @kubernetes/goog-image Ok, I understood that we decided to switch master node on GCE to GCI image by default, but we also agreed to keep the same set of jenkins tests having master node on old debian-based containerVM image for test coverage during transition time, right? If that is what we agreed, how

[2016-06-09 20:53] thockin commented on #10732
Ok to close this?
On Jun 9, 2016 12:59 PM, "Werner Beroux" <notifications@github.com> wrote:

[2016-06-09 20:54] hongchaodeng commented on #25563
@wojtek-t
How can I reproduce?

[2016-06-09 20:54] dims commented on #8102
There's a new --docker-endpoint parameter in kubelet that can be used as well.
https://github.com/kubernetes/kubernetes/blob/75ef1ca27041f76f6d5b865f5070554c5276a72b/cmd/kubelet/app/options/options.go#L177

@onorua @nikhiljindal @yujuhong - we should close this one

[2016-06-09 20:59] Random-Liu commented on #8102
I believe this should work now: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker.go#L305-L309

Let's close this one now. If anyone meets this problem again, feel free to reopen this.

[2016-06-09 20:59] #8102 closed

[2016-06-09 21:12] jingxu97 commented on #27096
@dchen1107 The workaround works. Thanks!
The steps are listed as follows

1.  In master (or some other) branch, rebase to the v1.3 code, also modify the file  cluster/gce/config-test.sh, set the PREPULL_E2E_IMAGES to false. Then start a cluster and check the cluster is up
PREPULL_E2E_IMAGES="${PREPULL_E2E_IMAGES:-false}"

go run hack/e2e.go -v --up
[code]
git checkout tags/v1.1.7 -b release-1.1
[c

[2016-06-09 21:14] timothysc commented on #27076
So we can link to our errata once it's all said and done, we're lagging the 1.3 release, and it's still in progress.  /cc @runcom

[2016-06-09 21:21] #27096 closed

[2016-06-09 21:21] runcom commented on #19720
@timothysc probably @lsm5 may know how to link to errata for docker 1.10.3 issues

[2016-06-09 21:22] andyzheng0831 commented on #27118
I guess you referred to https://github.com/kubernetes/kubernetes/issues/25977#issuecomment-221115496. @wonderfly did the first step mentioned by that comment to switch the default image. Someone from test-infra team did the second step to add jenkins job to testing ContainerVM master.

[2016-06-09 21:22] verb commented on #10732
Out of curiosity, what changed in 3.4 to make it work?

[2016-06-09 21:40] VinayKumarbrsoft opened #27149 "Vagrant kube-up broken ?"
I am trying to do a kube-up on vagrant with the latest version and have run into problems: Cluster provisioning stops at the following:

`==> node-1:           ID: /etc/cron.hourly/logrotate
==> node-1:     Function: file.managed
==> node-1:       Result: True
==> node-1:      Comment: File /etc/cron.hourly/logrotate updated
==> node-1:      Started: 21:20:15.348227
==> node-1:     Duration: 6.661

[2016-06-09 21:45] johndmulhausen commented on #19949
All instances of this have been fixed by the community due to the bounty program. We can probably close this down.

[2016-06-09 21:55] lxjuly commented on #27149
Use the head version!

[2016-06-09 21:57] timothysc commented on #27000
Yes, but we're still going to have the noisy neighbors problem so doesn't hurt to start the conversation.  If it's not builds it will be something else.

[2016-06-09 21:58] jlowdermilk opened #27150 "The multizone setting in gce.conf is ignored"
I tried spinning up a multizone cluster with 1.3.0-alpha.5, and the multizone option isn't passed through, so nodes in other zones register and are immediately deleted by node controller.

Sample output from kube-controller-manager.log
[code]

It appears that we have an e2e test for this, http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/. However, the test has the exact sa

[2016-06-09 22:02] andyzheng0831 commented on #27150
@jlowdermilk is that issue for GKE only or reproducible in oss k8s? Could you please give an instruction how to create a multi-zone cluster? I will take a look

[2016-06-09 22:03] jlowdermilk commented on #27150
It's reproducible in oss k8s, which is how I found it. Create a multi-zone cluster by following http://kubernetes.io/docs/admin/multiple-zones/#bringing-up-your-cluster.

[2016-06-09 22:04] jlowdermilk commented on #27150
As I mentioned, it's also currently reproducing in http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/.

[2016-06-09 22:07] wonderfly commented on #25276
In that case, lets close this (to progress so far) and create another one just for nodes?

[2016-06-09 22:07] andyzheng0831 commented on #27150
I will take care of this issue

[2016-06-09 22:11] aronchick commented on #23174
@tayzlor That's outstanding! Have you checked out the deployment repo? We'd love your help!

[2016-06-09 22:33] VinayKumarbrsoft commented on #27149
I am using the head version. What I am doing wrong?

`vbi01$ cat HEAD
 ref: refs/heads/master`

[2016-06-09 22:35] jingxu97 commented on #26662
I set up the environment and run the test, this failed test mentioned in this issue is working for for my test.
should be consumable from pods [Conformance] [It]
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/secrets.go:100

But there are some other failures. I dont think they are related.

[code]

[2016-06-09 22:37] pwittrock commented on #15244
cc @pwittrock

[2016-06-09 22:40] caesarxuchao commented on #26403
I'm closing this one. It's a dupe of #25513. Please reopen it if I'm wrong.

[2016-06-09 22:40] #26403 closed

[2016-06-09 22:43] girishkalele commented on #26135
For run 8333, fluentd pod, the error was ```Error adding container to network: could not find "." plugin; Skipping pod```

[code]

[2016-06-09 22:44] erictune commented on #22298
They should also surface failure to create to the user as part of the status of the controller.  Deployment needs to do this for its replicaSets and RS for its pods, and so on.

[2016-06-09 22:49] girishkalele commented on #26135
And an identical failure for image-puller pod on the same node:

[code]

[2016-06-09 22:51] girishkalele commented on #26135
@bprashanth @freehan

This is not an image pull flake but seems to have something broken in the network plugin config, is my best guess at this point.

[2016-06-09 22:52] erictune opened #27152 "Finish implementing Acting-As"
First, move [proposal](https://github.com/kubernetes/kubernetes/pull/16933) to a design doc and update to describe what was done in the [current implementation](https://github.com/kubernetes/kubernetes/pull/23549).

Then rewrite the controllers to know how to Act-As a certain user.

Need to decide what user the controllers act as.

The user that the controller should act as _could_ be the default

[2016-06-09 23:03] jlowdermilk commented on #27150
cc @chrislovecnm

[2016-06-09 23:11] jlowdermilk opened #27153 "Docker busted on pr builder node causing pods unable to schedule"
Test logs here
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26373/kubernetes-pull-build-test-e2e-gce/44013/artifacts/

Kublet became unready ~10min into test, causing pods to be unschedulable.
[code]

kubelet.log [here](https://00e9e64bac0e24a217c7d93e4a996f91cd5779c1751fce5b1f-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/

[2016-06-09 23:13] jlowdermilk commented on #27153
Actually this is probably #20355. This was hit by a test running on 1.2 branch.

[2016-06-09 23:13] #27153 closed

[2016-06-09 23:13] yujuhong opened #27154 "RFC: Re-evaluating `kubectl logs` --since flags"
Log management on the node has been discussed in #24677. @vishh proposed that containers should log directly to files, and kubelet should access the log files directly without going through the runtime.
(More discussion and details in the original issue #24677)
A main part of the idea is for kubelet to create a designated log directory (e.g., `/var/log/pods`), and ask the container runtime to stor

[2016-06-09 23:15] k8s-merge-robot opened #27156 "[k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8828/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}

[code]

[2016-06-09 23:21] freehan commented on #26135
I suspect salt did not finish properly. Hence cni plugins were not in place.

[2016-06-09 23:33] freehan commented on #26135
Looks like a smoking gun:
On one of the problem node: e2e-scalability-minion-group-vku6
[code]

[2016-06-09 23:36] freehan commented on #26135
What could cause network problem between node and GCS? Is there throttling somewhere?

In this run, 4 nodes encounter this problem.
e2e-scalability-minion-group-vku6
e2e-scalability-minion-group-ariw
e2e-scalability-minion-group-n6g8
e2e-scalability-minion-group-i6a3

[2016-06-09 23:45] ihmccreery commented on #26647
Root cause for timing out is #26594, which was tickled when #26789 went in (previously, tests and `kubectl` were at the same version, now `kubectl` version matches the master version).

Root cause of clusters stomping on each other is that Jenkins doesn't kill docker containers when it times out a job, so the container keeps running, finishes testing, and tears down the cluster that the next run h

[2016-06-10 00:00] bprashanth commented on #26135
As a first step we can surface this as a cluster bringup failure. Nodes should remain in notReady with a message like failed to find network plugin, but --network-plugin is specified. Unsure if there's a way to retry downloading in salt, but I think we can just put it in a `cmd.run` with a retry loop?

I'm guessing this is only the cause of the last failure, if not, we should consider more drastic

[2016-06-10 00:01] ryansavino commented on #25650
The proxy configuration in /etc/default/docker just goes on a separate line, which gets overwritten with that command. There is a way to configure the proxy for docker directly in the init script, but I couldn't get that working. For now, I've just added my proxy configuration lines to reconfDocker.sh