[2015-01-14 01:43] smarterclayton commented on #3448
What's on stdin?

[2015-01-14 01:44] lavalamp commented on #3448
[code]

[2015-01-14 01:45] smarterclayton commented on #2316
/bin/sh "foo" "bar".  If you have entry point, entrypoint "foo" "bar"

[2015-01-14 01:45] loe commented on #3301
Closing, I believe this is a problem with docker, not kubernetes.

[2015-01-14 01:45] #3301 closed

[2015-01-14 01:47] smarterclayton commented on #3448
Bug, I'm only accepting json because I naively reused watch partitioner and we don't have test cases.  Will fix tonight.

[2015-01-14 01:47] thockin commented on #2630
Define restart?  Do you mean the container crashed and came back, or do you
mean the machine rebooted and a new pod was scheduled and expects to be
able to reclaim the disk space used by the previous pod?  Or something else?

On Mon, Jan 12, 2015 at 11:56 PM, Luqman <notifications@github.com> wrote:

[2015-01-14 01:51] lavalamp commented on #3446
I think that code happens only when setting up events, right? The hostnameOverride flag seems to still be there: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kubelet/kubelet.go#L111

@dchen1107 what do you think about making this function take hostnameOverride as a parameter? https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/util.go#L85

[2015-01-14 01:53] lavalamp commented on #3448
If that's the problem, why did it work when I gave it that file not over stdin?

[2015-01-14 01:58] dchen1107 commented on #3446
Yeah, it should fix the issue. Will fix it tonight.

[2015-01-14 01:58] sorah commented on #3393
Hm, I'll try to write a patch. My plan is using a lock file to disable GC temporarily.

the root problem is as @brendandburns said:

but this takes a time to fix, so for short-term fix, I prefer my plan.

[2015-01-14 02:11] thockin commented on #2316
Why is sh involved?  If command is an array, there should be no shell at
all.

My main gripe is that I do not see a semantic that a) makes some semblance
of sense and b) retains full compat with docker.

On Tue, Jan 13, 2015 at 5:45 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-14 02:16] thomassun commented on #1957
@Galmido I'm very interesting in how you combine Kubernetes with Consul to offer pods address because I have just almost the same requirement. But I'm new to Consul, I wonder how Consul know the lifecycle of a pod and  the address(say IP and hostPort) of it. Thanks.

[2015-01-14 02:16] smarterclayton commented on #2316
Since the image carries metadata, you have to respect the content of the image.  In docker, the "effective default" arg0 is /bin/sh

[2015-01-14 02:19] smarterclayton commented on #3448
Different code path.  Stdin supports streaming json a la watch (multiple json objects in a stream), so you can do

    find . - name foo.json -print0 | xargs cat | kubectl create -f -

Unfortunately I missed yaml input and didn't use a segmenting yaml decoder (returning a stream of yaml objects).

[2015-01-14 02:27] lavalamp commented on #3448
Ah! Thanks for explanation.

I think it would be good for us to ask for e2e runs before merging kubectl changes, since there's not quite enough coverage in test-cmd.sh yet.

[2015-01-14 02:34] Fandekasp commented on #3422
There is no **endpoints** resource available in v0.8.0:

Did you want to see the service details ?
[code]

[2015-01-14 02:39] bgrant0607 commented on #3085
Ok, thanks for the examples. A brief survey of the web agrees. For example:
http://stackoverflow.com/questions/630453/put-vs-post-in-rest

Name uniquification should only be supported via POST, however, and a PUT create shouldn't specify resourceVersion.

Our api-convenions doc already reflects this behavior:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md

We

[2015-01-14 02:40] Fandekasp commented on #2918
the manifest has no tags specified, hence it's using the cached version or fluentd-elasticsearch:latest when I create the cluster.

@thockin sorry to disturb you with that. Does something look wrong in my SkyDNS setup described above ? Thanks for your advices!

[2015-01-14 03:00] bgrant0607 commented on #2316
@smarterclayton Are you suggesting that docker build defaults ENTRYPOINT to /bin/sh?

Do we have any sense what users need most often? My intuition would be that they want a shell, but I could easily be totally wrong.

[2015-01-14 03:12] smarterclayton commented on #3448
Yeah, I'm slacking on that for these changes.

[2015-01-14 03:13] smarterclayton commented on #3448
Fix incoming.

[2015-01-14 03:16] bgrant0607 commented on #2740
We should be caching all objects in memory always (for a given namespace/kind shard), in which case our etcd load would be dramatically reduced.

[2015-01-14 03:19] bgrant0607 commented on #1957
FWIW, we've also had a request for Zookeeper.

Things we want out of a k-v store (not all of which are currently delivered by etcd), off the top of my head:
* Optimistic concurrency
* Access to past versions of objects
* Efficient reliable watch
* Efficient recursive or other multi-object watch
* Multi-object transactions
* The ability to somehow build multiple indices
* Pagination support
* Acces

[2015-01-14 03:26] timothysc opened #3450 "make test on master fails."
$ git clean -xdf
Removing Godeps/_workspace/pkg/
Removing _output/
[tstclair@tstclair-redhat upstream]$ make all test
hack/build-go.sh
+++ Building go targets for linux/amd64:
    cmd/kube-proxy
    cmd/kube-apiserver
    cmd/kube-controller-manager
    cmd/kubelet
    plugin/cmd/kube-scheduler
    cmd/kubecfg
    cmd/kubectl
    cmd/kubernetes
    cmd/e2e
    cmd/integration
+++ Placing binaries

[2015-01-14 03:33] bgrant0607 commented on #2953
Why doesn't it work to build the tests with the system?

I agree with @smarterclayton. Note that we have added runtime configuration parameters to the apiserver. Currently, the only one that exists determines whether v1beta3 is exported, which is discoverable via the api version handler.

For features surfaced via API fields, server-side schema validation could be used to confirm support or lack t

[2015-01-14 03:35] thockin commented on #3450
This might be the same error others have seen.  Can you run ifconfig and
post it here?
On Jan 13, 2015 7:27 PM, "Timothy St. Clair" <notifications@github.com>
wrote:

[2015-01-14 03:38] thockin commented on #2316
The default entry point is sh -c, but if you look at the gist I linked, you
will see insanity in the intersection of the sh -c assumptions.
On Jan 13, 2015 7:00 PM, "bgrant0607" <notifications@github.com> wrote:

[2015-01-14 04:01] bgrant0607 commented on #3338
IMO, code generation should be a last resort -- it incurs a significant cost in debugging complexity and binary size. Also, it's not going to work for API plugins.

There are other ways to do validation.

[2015-01-14 04:05] mrunalp commented on #3350
@shettyg I think that security should be a separate concern. If one is talking about multi-tenancy then they are already bought into the security of containers (however secure or not secure they may be).

@jainvipin Agree that the title of the proposal should better reflect the discussion.

Also, to note here is that we have a working prototype (read hacked together) for multi-tenancy in kubernete

[2015-01-14 04:07] bgrant0607 commented on #3379
Why are we including the help output? Seems like cobra should do that, or we should just tell the user to ask for help if they want it.

[2015-01-14 04:10] bgrant0607 commented on #2316
Yes, the middle row is hilarious.

[2015-01-14 04:12] jlowdermilk commented on #3379
It's useful to see generated markdown of help output for the full command tree, e.g. if you want to link to the syntax on irc or something. Anyway, this was quite easy to do, I'll have a PR shortly.

[2015-01-14 04:37] ddysher commented on #3386
Re-open as `kubectl get minions` now list all minions, including down ones.

We should probabaly first filter out unhealthy ones in kubectl, before we can show any status.

[2015-01-14 04:37] shettyg commented on #3350
@mrunalp
You wrote:

Let me clarify. What I am saying is that you can achieve multi-tenancy securely for containers, if you do the following.
1. All the containers in a single VM belongs to the same tenant. (If am not wrong, that is Kubernetes assumption)
2. OVS that is programmed by the network controller remains in the hypervisor.
3. OVS or Linux bridge in the VM tags traffic coming out of a con

[2015-01-14 04:44] bgrant0607 commented on #3386
@ddysher What do you mean by "filter out"? We should be caching minion status in the apiserver. As @davidopp proposed, we should show all minions that exist, including unresponsive ones.

[2015-01-14 05:05] bgrant0607 commented on #2349
Some links I dug up for https://github.com/coreos/etcd/issues/860:
http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#pagination
https://blog.apigee.com/detail/restful_api_design_can_your_api_give_developers_just_the_information
https://cloud.google.com/appengine/docs/python/datastore/queries#Python_Query_cursors

[2015-01-14 05:06] bgrant0607 commented on #1459
For reference: https://blog.apigee.com/detail/restful_api_design_can_your_api_give_developers_just_the_information

[2015-01-14 05:12] smarterclayton commented on #3448
Fix provided.  More tests added to test-cmd... :)

[2015-01-14 05:16] saad-ali opened #3452 "Rev Travis GoFmt version"
Travis currently runs GoFmt only on Go v1.3 builds not 1.4. This is because GoFmt rules for 1.3 and 1.4 can conflict: for example, Go v1.4 no longer requires assignment in for-range loops, so the GoFmt optimizations differ for both versions (i.e. v1.3 expects ```_ = range blah``` 1.4 expects just ```range blah```).

This causes issues for those of us running 1.4 locally, because running GoFmt loca

[2015-01-14 05:42] bgrant0607 commented on #3452
By definition, every time gofmt is changed, which happens on every single Go version, it breaks us. Maybe we should reconsider our hard requirement of running gofmt.

Another possibility is to run every version of gofmt and accept any match as passing.

[2015-01-14 06:21] saad-ali opened #3453 "Revist design of Annotations currently stored in docker container name"
We currently only supports one annotation (container source), and it is stored as part of the docker container name ([pkg/kubelet/types.go#L73](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/types.go#L73)):
[code]
Example Kubernetes Docker container name:
[code]
The delimiter is "```_```", so the full pod name is:
[code]
The delimiter is "```.```", and so the source is:

[2015-01-14 06:22] thockin opened #3454 "Kubelet logs "container with name %s--%s--%s" in a few places"
-- is the old old format for names.

[2015-01-14 06:27] umitanuki commented on #3422
Can you check master's iptables?

[2015-01-14 07:25] #3448 closed

[2015-01-14 07:30] lavalamp commented on #3452
I'm very much against removing the gofmt requirement--it replaces a style guide and eliminates nearly all of that sort of argument.

I think we should switch to gofmt from 1.4 when we switch to using 1.4 in our builds. There's nothing blocking either item except for people to do it :)

[2015-01-14 07:35] LuqmanSahaf commented on #2630
@thockin Restart could be anything. It could be after pod failure or container failure. Or the container could be restarted, after changing some configurations (Hadoop needs to be restarted after changes in configs). Does that answer?

[2015-01-14 07:35] lavalamp opened #3456 "Proxy html/text detection is brittle"
It misses things like "html/text; charset=utf8".

[2015-01-14 07:59] bgrant0607 commented on #1768
Previous discussion of this last type of dependency was in #2385.

It has been my hope that DNS will eliminate the creation order problem between services and their clients. Creation-order dependencies are problematic since containers can go down at any time, and they have unclear meaning when updating or replacing objects (such as with rolling updates).

That said, sometimes there are unavoidable

[2015-01-14 08:04] LuqmanSahaf commented on #2630
This [document](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/volumes.md#emptydir), mentions that when a pod unbound, the emptyDir is deleted. In use case of Hadoop, the data might be essential and might be required when another pod of Hadoop comes back (or the container restarts). So, HostDir must be used to persist data even the pod is unbound. But Hadoop requires permission

[2015-01-14 08:15] bgrant0607 commented on #1353
How to make rolling update friendly to auto-scaling is described here: https://github.com/GoogleCloudPlatform/kubernetes/pull/2863#issuecomment-69701562

[2015-01-14 08:21] abonas commented on #3024
I still don't understand what's wrong with replicator. This is what it does. If there will be something else doing something different, there will be another entity and it will be named accordingly.
It is difficult enough with the rest of the names too, for example "pod" doesn't explain anything about what it is. Why isn't it called "containers group" or something similar?

[2015-01-14 08:58] Fandekasp commented on #3422
[code]

Maybe a few days ago, my docker-registry was on the minion 10.165.115.237, then got moved to 10.136.110.220 but kubernetes forgot to change the master (and other minions) iptables with the new ip ?

[2015-01-14 09:19] umitanuki commented on #3422
I'm facing something similar.  But for me it is from the beginning of cluster not after a few days.  It seems the endpoint is wrongly registered in etcd.  kube-proxy with v=4 says this.

[code]

[code]

172.24.29.3:5000 is probably wrong.  My question is: why and how was this messed up?

[2015-01-14 10:58] umitanuki commented on #3422
For some reason this ip is on docker0 range.  I think it is supposed to be in flannel0.

[code]

[2015-01-14 10:58] umitanuki commented on #3422
But I'm still missing how kubelet returns this magical IP address.

[2015-01-14 11:08] umitanuki commented on #3422
Just for the record, I found kubelet creates a network container and this guy has NetworkSettings when inspecting.

It seems my issue is that docker0 has the same subnet range between master and minion.

[2015-01-14 13:02] johscheuer commented on #3431
I found this error message using kubectl get events:

[code]

@brendandburns I use a mini Datacenter for testing and kubernetes scheduled the big pod onto the smallest CoreOS node. Also there was running a cAdvisor and an nginx container.

Thanks for your fast responses

[2015-01-14 13:30] jasonkuhrt commented on #3024
@abonas The argument against `replicator` is most recently summarized here https://github.com/GoogleCloudPlatform/kubernetes/issues/3024#issuecomment-69440602. As for `pod`, I'll defend that. All names are rooted in essential arbitrariness, at best maybe so-named for some human experiential effect, the sounds therein, etc. Creating a new term for the atom of Kubernetes is totally fine, especially

[2015-01-14 14:12] brendandburns commented on #3422
Yeah, you need to make sure that the CIDR for your services and for your
worker nodes are distinct from each other and distinct from the overall
network of your host machines.

We need to provide a better tool for diagnosing network problems.  It's
been stated, but there is still work to do there.

Brendan
On Jan 14, 2015 3:08 AM, "Hitoshi Harada" <notifications@github.com> wrote:

[2015-01-14 14:46] jasonkuhrt opened #3458 "Print clear error when same RC is provided for both arguments in kubectl rollingupdate"
I believe the problem is that `kubectl rollingupdate` requires a schema of `v1beta3` but that `0.8.0` Kubernetes does not have the ability to handle that schema yet. I just want to confirm this is true however.

So with a schema like:

[code]
It fails when used like so:

[code]

If I try a `v1beta3` schema that looks like:

[code]

then the error is:

[code]

The error generation comes from: https

[2015-01-14 14:47] jasonkuhrt commented on #3458
For clarity's sake here is my version info:

[code]

[2015-01-14 15:07] zmerlynn opened #3459 "services.sh: invalid character '}' looking for beginning of object key string"
Presume this is related to #3448 and friends, but `services.sh` is now failing consistently with:

[code]

[2015-01-14 15:07] zmerlynn commented on #3459
cc @lavalamp @smarterclayton

[2015-01-14 15:07] zmerlynn commented on #3459
The good news is, we're getting past cluster creation again...

[2015-01-14 15:28] zmerlynn commented on #2953
@bgrant0607: Read the beginning of the discussion at #3334. There is value in version skewed tests, and many organizations actually keep integration-level tests in a completely separate bucket that just knows how to speak all versions.

First, feature-existence isn't actually all this is meant to cover. There are cases where e.g. patch discovery is useful, like "did you fix this semantic interpret

[2015-01-14 16:18] josselin-c commented on #3401
Okay,
I switched to kubernetes 0.8.1. Had strange problem with docker & kubernetes refusing to schedule more than one pod on each minion and had to rm -fr /var/lib/docker to get back to normal.

Here are the logs when I reproduced the issue today on v0.8.1: http://fpaste.org/169589/12508021/ and etcd: http://fpaste.org/169597/42125192/

The maps_sync container starts at 16:30:31 and the problem ap

[2015-01-14 16:34] jayunit100 opened #3461 "Job submissions can break functionality of "kubectl get pods""
Submitting a incorrect yaml file for kubectl creation breaks the "get pods" command, somehow... This is obviously a bug since a user's submission error shouldn't result in an inability to view status of the existing pods.

*DETAILS*

the following yaml

[code]

if launched w / `kube create -f ...` will cause `kubectl get pods` to report the following error message.

*get.go:75] The string provided

[2015-01-14 16:47] smarterclayton commented on #3459
Still trying to repro locally - a naive copy of the service creation command from services.sh does not recreate it.

[2015-01-14 16:54] danmcp commented on #3312
@thockin Some comments:

In addition to making slow, it would make a lot of cases not work at all.  Timeouts for many components may start to kick in.

I don't think the goal is to make a concrete statement on exact performance of lots of parallel startups, but more to allow the amount of parallelism/load to be tuned.  And a particular installation of kubernetes could tune to their needs.

Isolati

[2015-01-14 17:07] ddysher commented on #3386
I mean do not show down minions for now for consistency (users do not expect down minion to be listed).

I agree with what @davidopp proposed, but I'm trying to figure out how / what we convey the status message to user.   NodePhase + NodeConditions are essential for k8s components, but are we going to expose all such data?

[2015-01-14 17:20] bgrant0607 commented on #2953
@zmerlynn Cross-version testing makes sense. Thanks for the pointer.

With respect to GCE PD, I actually strongly dislike the GCE-specific nature of this part of the API. That said, I'd be open to making it possible to query the cloud platform.

To the extent that we support different feature sets on different platforms or for otherwise different configurations, the reflective parts of the API (e.

[2015-01-14 17:34] smarterclayton commented on #3459
The JSON decoder is more strict than the yaml decoder, which means that for pure JSON output trailing commas are not allowed.

[2015-01-14 17:35] smarterclayton commented on #3459
Going to add a few debugging aids along with my help - by default have KUBECTL include --v=4 to ensure as much data is output as possible to e2e debug.

[2015-01-14 17:57] jayunit100 commented on #3461
*workaround* after submitting a job which breaks this, you can delete the same pod.  This will rescue the behaviour  of `kubectl get pods`..

[2015-01-14 18:04] jayunit100 commented on #3461
redis-master-pod.json <-- also i heard a report that this file can also be used to break `kubectl`

[2015-01-14 18:05] jayunit100 commented on #3461
TL;DR  There are different ways that submitting a yaml or json file can break `kubectl get pods`.

[2015-01-14 18:07] bgrant0607 commented on #3407
createall has been removed. You should just be able to use create now.

That said, we've totally changed how YAML is supported by the system and added auto-detection of YAML vs. JSON in kubectl. Consequently, we have introduced a number of YAML parsing problems recently. One was fixed last night. Could you rebuild from head and try again? Otherwise, I'll try to reproduce this if I get a chance.

[2015-01-14 18:12] #3439 closed

[2015-01-14 18:12] jasonkuhrt commented on #3407
@bgrant0607 is your request that we try a new build and then e.g.:

[code]

?

[2015-01-14 18:19] lavalamp commented on #3459
Ok, I see you're all on this already. Thanks.

[2015-01-14 18:23] smarterclayton commented on #2953
In practice no non-first party client every does sophisticated detection well (no matter what the server exposes) - for something like Kubernetes, where we want to have APIs for many different languages (because it is an infrastructure component), we need to ensure as much as possible of our API can be discovered, automated, auto-documented, and auto-generated if we want to have the best outcome,

[2015-01-14 18:34] bgrant0607 commented on #3407
I did mean that, but it doesn't work. I'll take a look.

[2015-01-14 18:35] mrunalp commented on #1615
I would be interested in helping drive this forward by submitting PRs. Has the docker build been updated to include the --ipc feature?

[2015-01-14 18:35] bgrant0607 commented on #3407
It's
[code]
-f takes directories as well as files.

[2015-01-14 18:45] lavalamp commented on #3461
Actually I think the problem is an old client. What version is your kubectl and what version is your cluster?

[2015-01-14 18:49] bgrant0607 opened #3465 "kubectl delete silently fails when given multiple object names"
We should support multiple objects on the command line, but, failing that, some kind of error message would be useful.

/cc @smarterclayton

[2015-01-14 18:52] bgrant0607 opened #3466 "kubectl delete -l crashes"
[code]

/cc @smarterclayton

[2015-01-14 18:52] erictune commented on #3312
It is possible to have a both isolation and overcommit.  There are a bunch of ways to achieve it.

One way that fits this problem well is for pods/containers to update their resource requirements as they go through phases of their lifetime.  This works particularly well if the requirements are initially high, and then drop.  Which is the case here.  Basically, when the client makes the transition

[2015-01-14 18:53] bgrant0607 commented on #3466
I realize that I used the wrong syntax, but it's an easy mistake. Basically, the label selector was empty.

[2015-01-14 18:55] smarterclayton commented on #3466
Same as #3460

----- Original Message -----

[2015-01-14 18:55] jayunit100 commented on #3461
interesting.  maybe you are right , i just saw this.   i will sync versions and confirm if that rescues.
[code]

[2015-01-14 19:01] smarterclayton commented on #3465
Fixing, just fixed the equiv in create

[2015-01-14 19:07] dchen1107 opened #3467 "Regression: boundPods with etcd source will be killed by kubelet once a while"
I believe this is a regression with HEAD. Everything runs happily until I upgrade it to HEAD:

influx-grafana/                         influxdb                kubernetes/heapster_influxdb       kubernetes-minion-2.c.golden-system-455.internal/130.211.187.130   name=influxdb                Running

Then, I ssh into minion-2 and stop the kubelet. After this, all pods' status in cluster become to Unk

[2015-01-14 19:10] lavalamp commented on #3467
I will take a look.

[2015-01-14 19:12] dchen1107 commented on #3467
Now I suspect it is not caused by an unhealthy minion. I noticed that another issue filed by @bgrant0607 today (#3466), all pods' status are Unknown too.

[2015-01-14 19:15] lavalamp commented on #3466
Should be fixed now, #3460 merged

[2015-01-14 19:15] #3466 closed

[2015-01-14 19:16] danmcp commented on #3312
@erictune Isn't that just shifting resource around?  At any one point in time no process can get more than its portion of a completely divided space and there is never any overcommit.

I don't think it solves the problem either.  Let's say you have an environment where you have 20% of CPU of available on a node.  But you need to start another 10 containers.  Doing so would take all the CPU if it c

[2015-01-14 19:21] #3446 closed

[2015-01-14 19:21] bgrant0607 commented on #3407
guestbook-go worked for me at head (modulo existing creation-order problems).

[2015-01-14 19:24] jasonkuhrt commented on #3407
@bgrant0607 Happy to take your word for it. I probably won't be trying this again too soon. Isn't there just a test case for this anyways?

[2015-01-14 19:30] lavalamp commented on #3461
Yeah, with that combo if for some reason the pod phase is "unknown" the .7 client will barf. More recent clients have a better error message for this case.

[2015-01-14 19:34] bgrant0607 commented on #3461
Enums are not extensible

[2015-01-14 19:39] brendandburns commented on #3407
Concretely, the fix @bgrant0607 referenced is:

https://github.com/GoogleCloudPlatform/kubernetes/pull/3451

[2015-01-14 19:42] bgrant0607 commented on #1768
I just experienced this, as additional confirmation: The new directory-reading feature of kubectl is not so useful for containers using service environment variables. Someone tried to do:
[code]

[2015-01-14 19:46] #3465 closed

[2015-01-14 19:47] brendandburns commented on #3401
Do you have the kube-controller-manager logs?  That's what is actually doing the health checking.

--brendan

[2015-01-14 19:48] erictune commented on #3312
You are right that is not overcommit.   But it is going to allow for good
utilization and isolation.

I'm unsure as to why you want to start so many containers in a single pod.
That prevents the scheduler from putting the your extra containers onto
another node that has free CPU.  Would it work to have one container per
pod and lots more pods?

On Wed, Jan 14, 2015 at 11:16 AM, Dan McPherson <noti

[2015-01-14 19:55] Ropes commented on #3407
I just pulled/compiled master:dbe1bd looks like `create` is working for files and directories on my 'v1beta1' yaml configs!

I tested adding singleton service/pod configs first, which resulted in the 'already exists' message.
[code]

[2015-01-14 19:56] smarterclayton commented on #3312
In general simultaneous starts that are roughly >= the number of available cores / some factor for cache startups is effectively wasting resources due to context switches and cache contention.  The start throttle could probably be correlated with cores alone and result in an effective outcome for any overcommit (containers >> cores) scenario.  For under commit / near commit scenarios (containers ~

[2015-01-14 20:00] danmcp commented on #3312
@erictune I agree most cases don't have a lot of containers per pod.  This particular case uses containers as workers and needs the collocation for sharing resources between those containers.  I have struggled to find good use cases for collocation within pods as most use cases tend to want to scale on their own.  So I hate to try and design around the cases that really want the pod collocation.

[2015-01-14 20:44] erictune commented on #3312
@smarterclayton

I'd be happy if you could show an realistic example where overheads were measurably high.  I don't think you'll find one.

Say you have 4 containers each trying to use a whole CPU for every actual (v)cpu.  A long context switch time would be  100 microseconds.  A typical wait-to-run time for a thread in a fair-share scenario could be 50 or 100ms.  So, 0.1 to 0.2% overhead.   Cache

[2015-01-14 20:51] bgrant0607 commented on #3024
More thoughts after an IRL discussion:
* We should only change the name if there is significant benefit, since changing it will not only be work for us but will cause user disruption.
* Unfortunately, ReplicationController is not only long (which is mitigated somewhat by kubectl abbreviations), but doesn't sufficiently distinguish it from other controllers (daemon/per-node and job/task, in particu

[2015-01-14 20:54] bgrant0607 commented on #3407
Great. That looks like working as intended.

[2015-01-14 20:54] #3407 closed

[2015-01-14 21:09] lavalamp commented on #3459
Jenkins is green now. Thanks for many fixes, @smarterclayton!

[2015-01-14 21:09] #3459 closed

[2015-01-14 21:14] zmerlynn opened #3474 "Jenkins version logging throws error in GKE after --v=4 commit"
[code]

[2015-01-14 21:21] jasonkuhrt commented on #3407
Cool guys!

[2015-01-14 21:26] jasonkuhrt commented on #3024
I am ok with `ReplicaSet`. Could there be any interest in `PodSet`? I'm assuming there's something preferable about `ReplicaSet` but not quite sure what it is.

[2015-01-14 21:32] chrishiestand commented on #3449
Seems like a good idea to me, though I'm a new user.

[2015-01-14 21:32] pires opened #3476 "Make Kubernetes etcd prefix configurable"
Right now, there's a one-to-one association between a Kubernetes cluster and etcd. That's limiting in what concerns high-availability.

I for one, would like to have my etcd cluster outside of Kubernetes nodes, living for the sole purpose of providing the service to whatever apps I want, like a couple Kubernetes clusters (one for project A, another for project X).

This is not possible because etc

[2015-01-14 21:32] #3379 closed

[2015-01-14 21:34] jbeda commented on #3024
*Please* let's not do `ReplicaSet`.  This implies a level of ownership vs. arms length management.  The active component is important here.

[2015-01-14 21:35] jasonkuhrt commented on #3024
Haha I'm going to shut up.

[2015-01-14 21:37] erictune commented on #3476
Once #3376 goes in (hopefully today), kubelets will no longer depend on etcd.  So, you can then run a dedicated etcd instance for your apiserver.

Apiserver high-availability should be tracked by an existing item.  I'll try to find it.

[2015-01-14 21:42] derekwaynecarr commented on #3476
If we make a change in this space (which would basically break all existing deployments), then whatever we should do to identify our cluster should be a common prefix for all our resource paths so this:

/registry/pods/ns/default/foo

becomes

/kubernetes.io/cluster1/registry/pods/ns/default/foo

Right now, it bugs me that our etcd path structures are not prefixed with kubernetes namespace to elim

[2015-01-14 21:43] jbeda commented on #3024
Also, the relationship between Pods and Containers is very different than the relationship between ReplicaControllers and Pods.  Pods *own* Containers in a very hierarchical way.  There is no way to either (a) recreate what a pod does or (b) replace the pod without also replacing the containers.  With ReplicaControllers I can both (a) reimplement it from the outside and (b) delete the ReplicaContr

[2015-01-14 21:46] lavalamp commented on #3467
True problem is ExtractList instead of ExtractObj.

This will always read an empty boundpods object: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/config/etcd.go#L62

But the watch afterwards works correctly. So the weird behavior is that it kills everything when the watch expires.

@saad-ali sorry I failed to notice this when reviewing your change! BoundPods isn't tech

[2015-01-14 21:50] dchen1107 commented on #3467
It turns out the issue is more serious than what I initially expected. Any pods scheduled to a node by apiserver, and running for a while will be killed by kubelet because a bug caused by #3423
But any changes to etcd key of that boundpods under /registry/nodes/<XX>/boundpods will make watch result correct, and restarting previous killed boundPods. To prove my theory, I delete one pod php1 from my

[2015-01-14 21:52] dchen1107 commented on #3467
@thockin I think you hit the same issue earlier.

[2015-01-14 21:57] thockin commented on #3289
it's griping about Host

[2015-01-14 22:01] ddysher commented on #3336
Fixed by #3469

[2015-01-14 22:01] #3336 closed

[2015-01-14 22:08] #3289 closed

[2015-01-14 22:15] #3467 closed

[2015-01-14 22:16] lavalamp commented on #3467
@saad-ali maybe you can write a little test for this? :)

[2015-01-14 22:24] smarterclayton commented on #3312
In tests, running ~100 containers per host (where individual containers during steady state are consuming percentages of CPU and blocked on IO), startup of the JVMs in parallel roughly doubled the total time for startup, whereas an ordered startup (allow 1 per core to start at a time) was 25-40% faster due to other contention.

In our Online development test cases (equivalent scenarios) with a CPU

[2015-01-14 22:28] vishh commented on #2852
Lowering the priority of this issue since the system daemons are now protected. The network container is still not protected, but since it gets restarted, it is not that bad.

[2015-01-14 22:28] roberthbailey commented on #3474
In case it isn't clear why this happened, it's because gcloud ships with an older version of kubectl (currently version 0.7.0). We keep it as up to date as we can, but it will always lag a release or so behind head.

[2015-01-14 22:30] lavalamp opened #3481 "Add a bastion to apiserver (reverse lookup by IP address + proxy)"
e.g., to access 10.1.2.3:8080 on the internal cluster network, go to /api/v1beta1/proxy/bastion/10.1.2.3:8080/

[2015-01-14 22:31] lavalamp commented on #3481
@smarterclayton thoughts?

[2015-01-14 22:33] smarterclayton commented on #2349
Discussion in the store proposal: https://github.com/coreos/etcd/pull/1634#issuecomment-62639942

----- Original Message -----

[2015-01-14 22:35] jayunit100 commented on #3461
okay, closing this issue b/c its simply that cli/server not in sync

[2015-01-14 22:35] #3461 closed

[2015-01-14 22:42] erictune commented on #3476
#473 is about replicated master.

[2015-01-14 22:45] smarterclayton commented on #2316
So if we split the two in our API, then specifying either means "override what is set in the image".  If you provide an image that has no arg0 equivalent, it's not going to run anyway (well, mostly).  We could either default arg0 to /bin/sh at execution time by peeking at the image, or assume the user has set it.  I'm kind of scatterbrained today, but this doesn't seem insane.  I think we all agre

[2015-01-14 22:48] smarterclayton commented on #3481
Interesting.  @ncdc's work with http upgrade to TCP via some protocol would eventually let that and normal proxy talk TCP through the bastion and still do security.  I don't see a downside other than naming and trying to figure out whether you have access to the bastion (since we can't do a reverse lookup of IP to pod to namespace today).  Maybe just replace IP with name of pod and make pods suppo

[2015-01-14 22:53] lavalamp commented on #3476
hm-- we've actually discussed doing the opposite, allowing apiserver to shard its various keys over multiple etcd instances. I guess there's no reason why we couldn't optionally accept a prefix as a config option.

[2015-01-14 22:54] lavalamp commented on #3481
This already works today, actually.

[2015-01-14 22:55] erictune commented on #3312
If the individual containers are blocked on i/o rather than blocked on CPU,
then it sounds like the problem is mostly, as you say, around I/O
contention.

Staggering the restart of pods after a reboot event with the intent to
reduce i/o contention seems like a reasonable thing to do, if that can be
done without making the system reason about dependencies.

On Wed, Jan 14, 2015 at 2:24 PM, Clayton

[2015-01-14 23:00] lavalamp commented on #3312
I was chatting with someone about making kubelet use our QPS rate limiter to rate limit pod starts. Specifically, I was thinking about having one with a fairly high rate limit for ordinary pod starts, and a second one with a fairly low rate limit for restarting pods that have crashed.

[2015-01-14 23:01] #3293 closed

[2015-01-14 23:03] #3172 closed

[2015-01-14 23:05] lavalamp commented on #2828
@stefwalter is this still happening to you?

[2015-01-14 23:09] brendandburns commented on #3401
When the pods go "pending" do they actually stop running?  If you ssh onto the machine and run a docker ps do you still see them?

I have a theory that I'm working on, wherein the master forgets about minions because of caching TTLs

[2015-01-14 23:15] lavalamp commented on #3401
It kinda looks like the problem is with scheduler's watch of pods. Maybe it has a similar problem to proxy?

[2015-01-14 23:17] bgrant0607 commented on #3024
@jasonkuhrt PodAnything is not sufficiently distinguishing in a world of multiple similar-but-different pod controllers.

[2015-01-14 23:19] brendandburns commented on #3401
but then why would it correlate with the extra map load?

On Wed, Jan 14, 2015 at 3:15 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-01-14 23:19] lavalamp opened #3484 "Proxy: add headers to request"
Suggestion from Anthony Yeh, on the google-containers public mailing list.

[2015-01-14 23:21] thockin opened #3486 "Break up pkg/util some"
Example: move types to pkg/types or pkg/flagtypes or something.

[2015-01-14 23:26] smarterclayton commented on #3481
What about port selection?

[2015-01-14 23:28] a-robinson commented on #3163
All the cases that I'm aware of are now covered by tests. Closing the issue, but please reopen if I've missed anything.

[2015-01-14 23:28] #3163 closed

[2015-01-14 23:30] smarterclayton commented on #1768
Shame service is after controller in the alphabet

[2015-01-14 23:31] thockin commented on #3024
Brian,

Thanks for the deep analysis.  I can buy your arguments, though I do see
Joe's point: ReplicaSet has a static connotation. Replicator is the same
length (win) and active (win).  If we strive for active things having
active names, Replicator wounds good to me.

Tim

On Wed, Jan 14, 2015 at 3:17 PM, bgrant0607 <notifications@github.com>
wrote:

[2015-01-14 23:36] enisoc commented on #3484
Here's some context for why I brought this up:

If the user accesses pod A through the apiserver proxy, and pod A wants to generate a page that links to pods B and C via the proxy, then pod A needs a way to know what address the user originally used to get to the apiserver.

Either that, or the apiserver proxy needs some way to know when a cross-host link generated by pod A is actually a link to a

[2015-01-14 23:36] pmorie commented on #3412
@erictune is this the context for your undelta store?

[2015-01-14 23:38] bgrant0607 commented on #3024
@jbeda I agree that arms-length vs. owning is an important distinction to convey. To me, "Set" implies relatively loose coupling.

I disagree that the level of "activeness" is significantly different. The endpoint-controller part of set does actively monitor and change the set of reported endpoints, as well as affecting what traffic goes to which pods.

I also agree that ReplicationController (and

[2015-01-14 23:54] lavalamp commented on #3481
.../proxy/pods/podname:port/... actually works!

[2015-01-15 00:01] smarterclayton commented on #3481
I love it when a plan comes together

[2015-01-15 00:05] bgrant0607 commented on #2585
Starting with the easy part: the "backend". I think we have consensus that this is at least a logically separable part of the service. Certainly it's independently useful (#1607). My previous stab at this was here: https://github.com/GoogleCloudPlatform/kubernetes/issues/2585#issuecomment-67551719

The only thing I'd add is the key-value payload described here: https://github.com/GoogleCloudPlatfo

[2015-01-15 00:08] lavalamp opened #3490 "cmd/e2e/e2e.go work items"
Recording these for posterity.

1. Remove TAP support from cmd/e2e/e2e.go; having it in hack/e2e.go is sufficient.
2. (short term) make cmd/e2e take a flag telling it which test to run; make a shell script it hack/e2e-suite for each cmd/e2e test.
3. (longer term) make cmd/e2e have a flag that lists all its tests; make hack/e2e.go use that to auto-run every test, without needing shell scripts. Ther

[2015-01-15 00:09] lavalamp commented on #3490
@satnam6502 @brendandburns

[2015-01-15 00:17] thockin commented on #3024
I don't see what ReplicaSet has that Replicator doesn't?  I already
abdicated my vote, anyway.

On Wed, Jan 14, 2015 at 3:38 PM, bgrant0607 <notifications@github.com>
wrote:

[2015-01-15 00:20] thockin commented on #3490
I'd rather move away from a monolithic test file into distinct files and
binaries that can be reasoned about somewhat independently.  This would
need to be driven by a framework that ensures the cluster is up and
sanitized between tests.

On Wed, Jan 14, 2015 at 4:15 PM, Eric Tune <notifications@github.com> wrote:

[2015-01-15 00:22] erictune commented on #3412
It is definitely related to UndeltaStore.  UndeltaStore was written before I understood the code as well, so I might have done it differently now.

[2015-01-15 00:28] enisoc commented on #3481
The original reason I asked about proxying by IP was for the case of a non-k8s-aware app that generates links to other pods by their IPs, but doesn't know how to refer to pods by pod name. As an alternative, I can adapt the app to be k8s-aware enough to link through the apiserver proxy by pod name. However, then I came upon the need for something like #3484.

[2015-01-15 00:29] lavalamp commented on #3490
Agreed, but I think that's even longer term and not a contradictory goal.

[2015-01-15 00:29] saad-ali commented on #3452
I agree with @lavalamp: GoFmt is great for avoiding code style debates, and we should run GoFmt only on the newest version of Go that we support (i.e. 1.4 today).

[2015-01-15 00:31] erictune commented on #3413
While reading `cluster/rackspace/cloud-config/master-cloud-config.yaml` and `cluster/rackspace/cloud-config/minion-cloud-config.yaml`, I saw a style where etcd was used to distribute config to nodes, but etcd itself was decoupled from the programs that depended on it.  This allowed for a single etcd change to trigger a chain actions, respecting dependencies, and gave room for admins to hack in cha

[2015-01-15 00:31] lavalamp commented on #3481
Yeah, and the more I think about it the more I think that's a valid use case.

[2015-01-15 00:32] zmerlynn commented on #3490
Linking relevant other thread: https://github.com/GoogleCloudPlatform/kubernetes/pull/3447#issuecomment-69866169

[2015-01-15 00:34] bgrant0607 commented on #3024
@thockin That was covered by the last bullet here: https://github.com/GoogleCloudPlatform/kubernetes/issues/3024#issuecomment-69989200

[2015-01-15 00:40] satnam6502 commented on #3490
I am about to submit and update to my PR with all the Go tests split into
separate files now belonging to a package test/e2e.
This is still driven by cmd/e2e/e2e.go -- but in the following PRs we
should remove cmd/e2e/e2e.go and call these tests directly from hack/e2e.go
But I thought it made sense to split this into steps.

S

On Wed, Jan 14, 2015 at 4:32 PM, Zach Loafman <notifications@github.co

[2015-01-15 00:42] lavalamp opened #3495 "TestEtcdSourceExistingBoundPods flaky"
Welcome to travis' surprising timing...

[code]

[2015-01-15 00:46] zmerlynn commented on #3490
Snazzy! I should get hopped up on DayQuil more often!

[2015-01-15 01:00] bgrant0607 commented on #2585
An observation: If we went with an independent EndpointsController object, the different portals shown in @jbeda's example https://github.com/GoogleCloudPlatform/kubernetes/issues/2585#issuecomment-66335068 could be all separate objects referring to the same EndpointsController object.

[2015-01-15 01:00] satnam6502 commented on #3490
@thockin : I think it is fine (in fact, preferable) to have all the Go e2e tests in one package as long as we have a way to conditionally execute each test. Which is a feature that I (or someone else) will add shortly to our Go e2e tests.

[2015-01-15 01:04] satnam6502 commented on #3490
Also, I am trying to chip away at the e2e tests with a view to getting them into shape for use with the Go `testing` framework -- also suggested by @filbranden -- which would be a great improvement.

[2015-01-15 01:08] smarterclayton commented on #3481
How does the non k8s-aware app find the pod ips?

[2015-01-15 01:39] dchen1107 opened #3500 "Add dump command to kubectl"
When a user report an issue on Kubernetes, we normally ask them to provide some outputs by running kubectl commands, such as kubectl get <resource>, kubectl describe <resource> etc. We ask for daemons' log from various nodes often. Sometimes the user has to reproduce the issue for us because the config is changed. Meanwhile the developer might spend a lot of time on debugging the issues on a depre

[2015-01-15 01:39] dchen1107 commented on #3500
cc @lavalamp @brendandburns @thockin

[2015-01-15 01:42] enisoc commented on #3481
Each server is given the address of an etcd service on the command line. The server resolves its own IP and registers itself on the specified etcd service. Then the management interface reads the IPs out of etcd and links to them.

[2015-01-15 01:45] #3495 closed

[2015-01-15 02:03] lavalamp opened #3502 ""list pods" accidental semantic change"
A change was made to have the nodes object return nodes even if they're unhealthy. This changes how pod cache is going to report pods that are on unhealthy nodes. (they used to be reported as "failed", now I'm not sure what they'll be reported as)

pkg/master/pod_cache.go's currentNodes should be changed to healthyNodes, and its nodeExists functions should check if the node is healthy in addition

[2015-01-15 02:37] ghodss commented on #3201
Expanding client tool capabilities and cluster configuration options sounds great, but for running the actual 3rd party components, can they not simply be configured and run as standard Kubernetes pods/replication controllers/services/etc.? As long as all communication with them is done over HTTP, it seems like a standard container could be hooked into any part of kube. What are the special cases

[2015-01-15 03:19] smarterclayton commented on #3201
Any component that needs to affect the behavior of the core cluster - authn/authz, policy, add new fundamental types like volume plugins, alter the behavior of the kubelet, etc - needs some special consideration.  There are other points, like how a pod gets security access to invoke the pods api at a higher level than a normal user, that still must be resolved.  And they won't be over HTTP, but HT

[2015-01-15 03:27] smarterclayton commented on #3481
I guess we eventually need to support efficient pod access by currentIP, but it certainly complicates the authz story.

@erictune this is a case where the resource identifier is insufficient to properly scope a request, so the indirection has to happen inside RESTStorage before the authz check can happen.

Also, what are the performance implications of doing this lookup and that sort of check on e

[2015-01-15 04:01] pmorie commented on #983
+1 to the idea of working with ports only as a set.

One thing I'll add, making it explicit and requiring `ContainerPort` to be set makes it much easier to write a UI that presents how service align with ports in pods.

`ContainerPort` isn't the greatest name.  I like `TargetPodPort` the best but it is a bit verbose.

[2015-01-15 05:25] saad-ali commented on #2630
With docker/libcontainer/pull/322, docker containers now allow specifying ```AdditionalGroups``` (supplementary group GIDs). So an updated proposal to handle shared volumes amongst different containers in a pod:
* When creating ```EmptyDir```, ```GitRepo```, or ```GCEPersistentDisk``` volumes for a new pod, Kubelet will:
  1. Create a new linux group for the pod on the host machine
    * Group is

[2015-01-15 05:29] thockin commented on #3413
I vote simpler.

On Wed, Jan 14, 2015 at 4:31 PM, Eric Tune <notifications@github.com> wrote:

[2015-01-15 05:38] thockin commented on #2630
There's an important distinction between a container restarting and a pod
being removed.  When a container restarts, the data in a normal emptyDir
volume is safe.  when a pod is removed, it should be GONE.  Leaving
Hostdata and expecting it to be there at some later point in time is
awkward at best.

All of this is more complicated as soon as user namespaces land.

On Wed, Jan 14, 2015 at 12:04 AM

[2015-01-15 05:58] thockin commented on #2316
If the image has no argv0 (ENDPOINT) then CMD gets promoted to argv0.
Worse, docker supports images with arrays and multi-argument shell-invoked
commands for argv0.  I don't see any clean way expose this stuff without
either restricting what kinds of images can be used or else making it as
gnarly as docker.

On Wed, Jan 14, 2015 at 2:45 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-15 06:17] thockin commented on #1615
I think nobody is working on this, so have at it.  At least GCE uses docker
1.4.1.

I think we have a bug in the docker names we build - if a user specifies a
container named "net" there will be something of a conflict.  Once we add
IPC it's not longer "net" any more but "pod".  Maybe we need a new field in
the docker name [yay :( longer] to disambiguate

On Wed, Jan 14, 2015 at 10:35 AM, Mrunal P

[2015-01-15 06:21] bgrant0607 commented on #2585
First stab at fully granular version (specs only):
[code]

Will explore alternatives next.

[2015-01-15 06:35] thockin opened #3511 "Kubelet Build/Parse docker names should use a struct"
We have too many fields to be returning them individually

[2015-01-15 06:36] thockin opened #3512 "Kubelet docker names should distinguish our helper container"
We call our helper container "net" - what happens if a user provides a container called "net"?  We may need a different field or a way to make it clear which pods are user-provided and which are administrative

[2015-01-15 06:47] satnam6502 opened #3513 "Boilerplate checks stuck in 2014"
It's 2015 but our boilerplate checks insist on a 2014 date.

[2015-01-15 06:53] thockin commented on #3453
I see a few problems.

First, keeping the source in the name is sort of gross.  But then everything here is gross.

Second, pod name and namespace are actually validated as DNS subdomains, which means the fullname could be "foo.bar.bat.baz", where the split between namespace and name could be any one of those dots.  Now we append ".etcd" - it's still unparseable.

We should not arbitrarily add ann

[2015-01-15 07:05] thockin opened #3515 "Assert() invariants?"
Kubelet tests would stay green more often if I could easily assert some invariants at key places (e.g. pod.UID != "").  But this is really only for tests.  Ideas welcome on how to do this in a sane way, or why not to do it at all.

[2015-01-15 07:13] bgrant0607 commented on #2585
Low-hanging consolidation/simplifications:
* DNSSpec could just go away in favor of populating DNS automatically for Portals.
* AddressAllocationSpec could get pulled into PortalSpec

This would look like:
[code]

[2015-01-15 07:14] davidopp commented on #3453
Random terminology complaint: it's confusing that we have annotations that we store in ObjectMeta and then also whatever this kind of annotation is.

[2015-01-15 07:19] davidopp commented on #3515
Are you talking about invariants that are always true, or just properties that you know should be true at a particular point in the program but not always? From your example, I'm assuming the former. In the cluster management system you know and love at Google, we have RI() functions (stands for representation invariant) defined for each type that assert a laundry list of properties that are alway

[2015-01-15 07:26] thockin commented on #3515
I'm certainly open to ideas.  I mostly want to blow up when code is called
under test and these properties are not preserved.

On Wed, Jan 14, 2015 at 11:20 PM, davidopp <notifications@github.com> wrote:

[2015-01-15 07:28] davidopp commented on #3515
We could do the RI() thing but only enable it during tests.

[2015-01-15 07:44] bgrant0607 commented on #2585
We could also support inline versions of all objects as well as references:
[code]
and consolidate all FooAddressPool objects into a single AddressPool object with plugin subobjects.

[2015-01-15 07:46] pmorie commented on #3515
I'm personally in favor of enforcing test invariants in production and
handling them with fault barriers. An invariant violation ahouldn't
necessarily torpedo your process but it might definitely cause a
transaction to abort or an error to be returned
On Thu, Jan 15, 2015 at 2:28 AM davidopp <notifications@github.com> wrote:

[2015-01-15 07:46] davidopp commented on #3500
This seems very useful. It could be the starting point for a more comprehensive diagnose-me that the user runs when they see a problem.

[2015-01-15 08:00] thockin commented on #3515
The problem with doing it in prod is that it requires a lot of rigor around
transactionality.  Doing it just in test means I can just blow up.

The trigger for this was literally bad test code that did not fill in
"required" fields, that later blew up in very odd ways.  That's not to say
there are not gains to be had from other types of asserts, but those are
not "the go way".

On Wed, Jan 14, 201

[2015-01-15 10:28] josselin-c commented on #3401
After unsuccessfully trying to reproduce the problem by loading network and cpu on both my machines, I finally reproduced the problem again while the machine weren't too busy. This time maps pod was already started and I was creating other pods (parking & weather) which don't require any particular data.

kube-controller-manager: http://fpaste.org/169942/14213168/
kubectl: http://fpaste.org/169946

[2015-01-15 13:36] commonlisp commented on #3454
Just to be sure, is "pod [podFullName] container [container.Name]" the new preferred format? I also see some places comma separating that form.

[2015-01-15 14:18] thockin commented on #3454
The new form should either be a list of fields, a strict, or the result of
BuildDockerName(...)
On Jan 15, 2015 5:37 AM, "commonlisp" <notifications@github.com> wrote:

[2015-01-15 14:47] ironcladlou commented on #3515
I too am guilty of creating half-baked test structures. One thing I wondered just now: why don't I subject the API objects I create in tests to the same API validations which external requests are bound by? In general, the components I write (probably unsafely) assume (for the most part) that the API objects they receive are valid, and omit nil checks for fields like Name. Simply running my test f

[2015-01-15 15:06] bgrant0607 commented on #2316
Like I said before, I think some restrictions are fine -- heh, even useful. How about:
[code]
At most one of these should be specified. If `ExecArgv` is specified, the existing entrypoint, if any, will be used -- i.e., we'll pass the args using `Cmd [...]`. If `ShCommand` is specified, entrypoint is overridden and we execute the command with `/bin/sh -c` -- i.e. we'll pass it using `Entrypoint "..

[2015-01-15 15:12] smarterclayton commented on #2316
What if your image shell isn't /bin/sh?  Is it reasonable that you would set execv /bin/bash -c Blah blah?

I like arg0 from that perspective because only the argument I care about changes.

[2015-01-15 15:14] smarterclayton commented on #2316
But we can ignore dockers handling when we invoke the command.  I guess I'm saying - the way docker handles it is irrelevant, because we just have to know what docker is going to do for a given image.

[2015-01-15 15:33] erictune opened #3518 "Disk space monitoring"
We should like to be able to efficiently measure and report the disk space usage of EmptyDirs, maybe HostDirs, and any other volume types that are "local" and support it.  This would allow isolating pods with runaway disk usage and making good scheduling decisions.

Docker issue https://github.com/docker/docker/issues/471 has a bunch of ideas on how to do that.
Also, @saad-ali just mentioned in #2

[2015-01-15 16:49] erictune opened #3520 "Node goes away e2e test"
Write an e2e test that has a pod and a replication controller and multiple nodes.  Delete the node that the pod is on, and see that the absence of the pod/node is detected by the replication controller, and that a replacement pod is created.

[2015-01-15 16:50] thockin commented on #3518
Part of the push for additional groups was exactly this.
On Jan 15, 2015 7:34 AM, "Eric Tune" <notifications@github.com> wrote:

[2015-01-15 17:08] bgrant0607 commented on #2316
I appreciate the flexibility of the arg0+args approach, but find that even harder to use than what we have. How about:
[code]
so that all the args are in a single array?

That doesn't make it any easier to execute commands in a shell, but would be strictly more power than what we have, without making it more complicated.

[2015-01-15 17:32] zmerlynn commented on #3520
The follow up to this is what happens when the node reboots and tries to
rejoin. :) Node on fire is "easy".

On Thu, Jan 15, 2015 at 8:49 AM, Eric Tune <notifications@github.com> wrote:

[2015-01-15 17:34] dchen1107 commented on #3502
Now the status of pod on unhealthy node is Unknown. I think Unknown is better than Failed in this case.

[2015-01-15 17:51] pmorie commented on #2585
@bgrant0607 what are the semantics when one of {Exposed,Target} is nil and the other is set?

[2015-01-15 17:55] pmorie commented on #2585
@bgrant0607 do you anticipate addressing the use case of a service provider providing metadata about the service and pods/containers registering interest in that information here?

[2015-01-15 17:57] satnam6502 opened #3523 "End to end tests incorrectly establish Kubernetes root"
Our end to end tests do not properly detect the root of the Kubernetes install to use because they try to get the name of the binary and this is going to be a problem when the tests are run with `go run e2e.go` as we describe in our [documentation](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/development.md) which issues commands from the `hack` directory -- but the bin

[2015-01-15 18:04] smarterclayton commented on #2585
Interesting perspective - should I have to ask for DNS by default?  If not (if you have service.namespace.local exposed automatically), can I declare a DNS service that overlaps?  I *think* you want the low friction nice default behavior, and then the ability to ask for extra things that allow you to accomplish flexible use cases (green blue deployments via DNS, public names).  However, DNS and ex

[2015-01-15 18:08] zmerlynn commented on #3523
See also #2990. This bug is the cause of that.

[2015-01-15 18:09] smarterclayton commented on #2585
Seems like there is value in Load Balancer and L7 spec being logically associated.  Would it be invalid to point certain L7 specs to certain Portals?  I'm not disagreeing with the pattern, but it does seems like some L7 specs will conflict with some Portals, so we should guide Portals to be flexible enough that different L7 impls can work (I'm thinking of affinity based on cookies with an SNI L7 l

[2015-01-15 18:11] zmerlynn commented on #3523
Well. Partially. There may be more to #2990. The KUBE_ROOT gets awfully messy in that scenario.

[2015-01-15 18:32] satnam6502 opened #3525 "Split cluster configuration into static YAML files and Go code"
As I work through the process of moving our shell end to end tests to Go I am feeling the pain of having a bash based configuration that sets up our environment e.g. `kube-up.sh`, `gce/config-default.sh`, `gce/config-test.sh`, `gce/util.sh`.

I propose that we strive for a situation like this:
* Use YAML files to specify cluster configuration expressed in terms of atomic values rather than computa

[2015-01-15 18:35] liggitt commented on #2585
Something else I ran into (when actually trying to use services from within a pod) was knowing the scheme (http/https) in addition to the protocol (tcp/udp). Without this info available, I had to plumb env vars through to every pod that wanted to make use of services.

[2015-01-15 18:44] smarterclayton commented on #2316
Let me ask this another way.  If images carry with them default arg0 and argv, do we want to pretend those defaults don't exist from our API?  If so, I would argue that we'd flip the default for overrideArg0:

command: ["always arg0", "arg1", ....]
useImageExecutable

If you specify nothing, you get docker run behavior (default Args and arg0)
If you set command, you are always setting the full exe

[2015-01-15 18:46] pmorie commented on #2585
@liggitt Is that in support of handling config metadata here? (Or just having it handled period?)

[2015-01-15 18:50] smarterclayton commented on #2585
The risk of adding scheme is of course that one port can support many schemes.  So clients that used the scheme would be looking for known schemes by name that matched their use case.  I.e. All of these are true:

Service on port 443:
  Schemes: ["wss", "tcp", "https", "webdavs"]

Schemes here can only be a hint.

[2015-01-15 18:52] pmorie commented on #2585
Disregard my above question, I had read @liggitt's comment the wrong way.

[2015-01-15 18:59] lavalamp commented on #3515
From the email thread between @thockin & me about this:

kl.assert.Must(val < 5).Fatalf("Whoa val was >= 5, context: %v", context)
if kl.assert.Must(val < 5) {
  // Doesn't eval args this way
  kl.assert.Fatalf("Whoa val was >= 5, context: %v", context)
}
kl.assert.Must(val < 5).DPanicf("Whoa val was >= 5, stopping test, context: %v", context)
[code]

[2015-01-15 19:06] pmorie commented on #2585
@smarterclayton @liggitt @bgrant0607 seems to me like the schemes are arguably first-class info about ports and should be integrated into the port spec (as optional)

[2015-01-15 19:14] erictune commented on #3525
I worry that doing a good job of defining the Go data-structures will take a lot more time than just slogging through the unpleasantness of bash.

[2015-01-15 19:19] satnam6502 commented on #3525
The unpleasantness is very unpleasant and a source of complexity, confusion and fragility.
I do not propose we spend much/any time thinking about what goes in the YAML files and I think the sooner we can port the bash to some "data structure" format the better because otherwise we will be tempted (as I am) to add more "code" to these files which will only increase the pain later.

@lavalamp : any

[2015-01-15 19:24] satnam6502 opened #3527 "GCE configuration repeatedly reports project"
The GCE provider repeatedly reports the project. We should only report the project once and we should also report the zone.

[2015-01-15 19:25] dchen1107 commented on #3513
Shouldn't my PR #3225 fixed such issue for this year? Open to improvement, of course. :-)

[2015-01-15 19:27] jbeda opened #3530 "Vagrant e2e is currently broken"
Recent run:
[code]

[2015-01-15 19:27] jbeda commented on #3530
cc: @derekwaynecarr

[2015-01-15 19:36] pmorie commented on #3515
You could encapsulate the assertions behind an interface:

    type Asserter interface {
        Must(bool)
        Fatalf(string, ...interface{})
    }

... and supply a nop implementation in production and the 'real' impl
during tests.

On Thu, Jan 15, 2015 at 1:59 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-01-15 19:41] zmerlynn commented on #3515
There's also the "make it a global flag" option, for those of us that like
being able to make our production binaries explode on invariant violations
when we're chasing issues.

On Thu, Jan 15, 2015, 10:59 Daniel Smith <notifications@github.com> wrote:

[2015-01-15 19:50] satnam6502 commented on #3513
Ah, yes, OK. I came across a boilerplate error yesterday when I used a 2015 header. I shall look out for another one.

[2015-01-15 19:52] #3513 closed

[2015-01-15 20:00] bgrant0607 commented on #2316
Sounds pretty good. If the user doesn't specify anything, I think that should default useImageExecutable to true. If the user did that explicitly, it would be the same as default behavior.

[2015-01-15 20:10] lavalamp opened #3532 "Add timeouts to HTTP health checks"
We have some caches in the node (minion) rest object that depend on health checks. A health check that takes minutes waiting for the network could hold up requests indefinitely. (Also imagine a malicious kubelet that accepts the request but then never writes down the HTTP connection.) So we really need to change the health checker to take a timeout parameter; timing out should be a failure.

When

[2015-01-15 20:18] pmorie commented on #2585
@bgrant0607 In the context of your above stab (:hocho:), does `ServiceSpec` turn into basically:

    type ServiceSpec struct {
      Ports PortalPorts[]
    }

[2015-01-15 20:26] alex-mohr commented on #3333
Summary: although it might simplify some things, I think it's a mistake to *require* users to throw nodes away or restart containers as part of kubelet and service proxy upgrades.

Details:
There's a contingent of users that expect VM uptimes of many months or even a year absent security-critical vulnerabilities in the kernel.  Installing a new version of e.g. nginx or nfsd on e.g. debian/ubuntu/r

[2015-01-15 20:26] smarterclayton commented on #3386
Why wouldn't users need to see down minions?  I would think as an admin i would want to see phase + conditions

[2015-01-15 20:27] alex-mohr commented on #3333
@lavalamp if nodes must all have dockerd capability already, would running kubelet and serviceproxy in containers make updating them reasonably-robust across platforms?

[2015-01-15 20:28] pmorie commented on #2585
@bgrant0607 Actually, incorporating your above suggestion for configuration/parameters:

    type ServiceSpec struct {
      Ports      []PortalPort
      Parameters map[string]string
    }

I'll call out here though that doesn't solve the use-case where you want different levels of visibility to different roles / namespaces for certain parameters (ie, username vs. passphrase).

[2015-01-15 20:39] pweil- commented on #2585
It may be out of scope for the initial design but I'd like to throw TLS configuration into the conversation for `RouteSpec`.  The use case would support specifying the type of termination which is a signal for the http proxies (like HAProxy) to configure the exposed frontend and backend correctly as well as the corresponding certificates that may be involved in edge, decrypt/reencrypt, and pass th

[2015-01-15 20:54] satnam6502 opened #3533 "validate-cluster for GCE broken"
A recent change to validate cluster seems to have broken it by making it no longer check the Kubelet installation.

[2015-01-15 21:12] smarterclayton commented on #2316
Agree.

----- Original Message -----

[2015-01-15 21:33] satnam6502 opened #3536 "Reduce the number of calls to gcloud to determine project and zone"
Right now we make many more calls than we need to in order to determine the project and zone by calling the bash function `detect-project`. We should change the setup to work out the project and zone just once (e.g. in `gce\config-default.sh`) and then use this value throughout the scripts like `gce\util.sh`. This should also speed up cluster creation and tear-down.

[2015-01-15 21:34] lavalamp commented on #3333
@alex-mohr Yes, it's a good idea. But there is a bootstrapping issue between kubelet & dockerd. Probably solvable.

[2015-01-15 21:35] thockin commented on #2316
I just don't like the extra flag.  What if we just say

1) if you DONT specify command[] then you get the container default

2) if you DO specify command[] then we set docker's entry point from it,
and none of docker's baked-in args are used.

No way to use the baked-in entrypoint with on-the-fly args.

Then we could (maybe) accept string or array, and just pass those on to
docker directly.

Alter

[2015-01-15 21:35] pmorie commented on #3530
@jbeda @derekwaynecarr I think the fact that you have to set NUM_MINIONS to make sure that certain cases aren't broken right off the bat is a bug in and of itself.  Maybe the cloud provider should get a chance to apply some defaults to ensure you're running with enough resources to complete the tests?

[2015-01-15 21:55] smarterclayton commented on #2316
The first proposal doesn't solve what I consider to be a valid problem:

a) I want to use the entrypoint
b) I want to specify flags that use Kubernetes service values

The point of ENTRYPOINT I consider valid a use case - the image knows what to run with, and the API to image consumers is the args.  However, if I want to use the arguments from Kube, I have to *know* that the image has an ENTRYPOIN

[2015-01-15 21:55] jbeda commented on #3530
We should probably make sure that there are enough minions when starting the e2e run at the very least.

[2015-01-15 21:59] derekwaynecarr commented on #3530
e2e tests should not require more than 2 minions.

I get that we want 2 to test services across minions, but 3 is overkill.

----- Original Message -----
From: "Joe Beda" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Sent: Thursday, January 15, 2015 4:56:05 PM
Subject: Re: [kubernetes] Vagrant e2e is currently b

[2015-01-15 21:59] derekwaynecarr commented on #3530
I will have time tomorrow to dig in each of these failures.

----- Original Message -----
From: "Joe Beda" <notifications@github.com>
To: "GoogleCloudPlatform/kubernetes" <kubernetes@noreply.github.com>
Cc: "Derek Carr" <decarr@redhat.com>
Sent: Thursday, January 15, 2015 4:56:05 PM
Subject: Re: [kubernetes] Vagrant e2e is currently broken (#3530)

We should probably make sure that there are enoug

[2015-01-15 22:04] thockin commented on #2316
(Sent from my phone)

If the container has an entry point that is an array, nothing you can do
will convince docker to run it under a shell.

Are you proposing that we scrap docker's whole spec (in as much as it is
specced) and redefine it?  If so, let the user say sh -c if that is what
they want.

As for my second form, I was suggesting the latter - two arrays that get
joined.  If we want to use

[2015-01-15 22:07] bgrant0607 commented on #3458
@jasonkuhrt Rename cloud-delivery-test to cloud-delivery-test2 or something else. kubectl rollingupdate doesn't update an existing ReplicationController, it replaces it with a new one.

[2015-01-15 22:08] thockin commented on #3515
Yeah, maybe simpler really is better, and a flag to enable explosions is
sufficient.  Any objections to a gentle sprinkling of this sort of thing
around the code?
On Jan 15, 2015 11:41 AM, "Zach Loafman" <notifications@github.com> wrote:

[2015-01-15 22:09] zmerlynn commented on #3530
It's actually worse than this. Several e2e tests require exactly two
minions. It's going to be a project to fix this.

On Thu, Jan 15, 2015, 13:59 Derek Carr <notifications@github.com> wrote:

[2015-01-15 22:09] bgrant0607 commented on #3458
Doc:
[code]

[2015-01-15 22:10] jlowdermilk commented on #3458
Looking into this now. I am able to run kubectl rollingupdate against a 0.8.0 cluster
[code]
using a v1beta1 schema. So it may just be broken for v1beta2/v1beta3.

[2015-01-15 22:11] bgrant0607 commented on #3458
Also, v1beta3 isn't enabled by default. Here's a message about how to enable it:
https://groups.google.com/forum/#!topic/kubernetes-dev/ZqbLnrg5--8

@jlowdermilk It's user error. I think we need a clearer error message when the 2 replication controllers have the same name.

[2015-01-15 22:16] jlowdermilk commented on #3458
@bgrant0607, good catch.

@jasonkuhrt, can you confirm the command works with a distinctly named controller?

[2015-01-15 22:21] lavalamp commented on #3030
Here's how this should be done.

The current rule is "kind & version are set on disk and blank in memory".

So we will change the rule to "kind & version are clear in unversioned structs, but set in versioned structs". Then we'll change the conversion routines that copy TypeMeta objects. They can look at the conversion.Scope to see what exactly they're copying to/from, and they can set the kind &

[2015-01-15 22:24] lavalamp commented on #945
I think @smarterclayton implemented the last bit of this already? am I misremembering?

[2015-01-15 22:24] #945 closed

[2015-01-15 22:28] lavalamp commented on #357
Kubernetes scheduler has been separate for quite some time now. There will be more modularization in the future ("component plugins"), but I'd prefer to track those efforts in their own issues.

[2015-01-15 22:28] #357 closed

[2015-01-15 22:30] smarterclayton commented on #945
I believe both parts (unrecognized foreign child objects and extensions to objects) should be working now.

[2015-01-15 22:30] thockin commented on #945
Is there an example so I can try it out?
On Jan 15, 2015 2:25 PM, "Daniel Smith" <notifications@github.com> wrote:

[2015-01-15 22:31] smarterclayton commented on #3030
We'd want to nuke TypeMeta from internal types, correct?

----- Original Message -----

[2015-01-15 22:32] pmorie commented on #3515
@zmerlynn I'm down with a global flag.

[2015-01-15 22:36] smarterclayton commented on #2316
----- Original Message -----

Sorry, I missed that in the tests you had above.  That's what I get for not reading your table closely.

Maybe.... I guess I could buy that ENTRYPOINT with predefined arguments is a valid way of specifying an ENTRYPOINT, if you accept the merit of something like the image defining an API by default.

I can buy that.  Command[] and Args[] doesn't sound as weird now.

[2015-01-15 22:49] lavalamp commented on #3030
Yes, it's not needed on internal types.

[2015-01-15 22:52] danmcp commented on #3312
@lavalamp I think the rate limiting needs to be at a container level to solve the problems outlined in the study.

@erictune @thockin @smarterclayton
Regarding the rest of the comments.  Is there an argument against the need for some sort or rate limiting on starts being valuable in a multi-tenant(not completely isolated) environment?  The request seems like a fairly common use case for any cost c

[2015-01-15 23:07] #3456 closed

[2015-01-15 23:30] pires opened #3543 "Fix AWS + CoreOS + CloudFormation getting-started guide"
See #3434 and @erictune request.

[2015-01-15 23:32] pires commented on #3543
@erictune what is you recommendation regarding the AMI images listed in that file?

[2015-01-16 00:07] lavalamp commented on #1451
I've had some further thoughts about this.

Work items:
* Put all "business logic" in one layer. Right now, pods and some other objects have logic both in their RESTStorage object and in their registry object. I would like all that logic to go in the RESTStorage object.
* tools.EtcdHelper, generic.Registry, and all of the other registries should be combined. What I mean by that:
 * Define a single

[2015-01-16 00:11] pires commented on #3543
@brendandburns perhaps you wanna add something to this discussion? We're talking about updating https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws/cloudformation-template.json with the same changes as the aforementioned PR. Thing is, in this case we'll have to decide with AMI version to set.

[2015-01-16 00:13] brendandburns commented on #3543
Yeah, the ami nonsense w/ Amazon is crazy... I don't understand why they don't have named image tracks like Google Compute Engine does :P

Let's just choose what works today.  Anyone sophisticated enough to use cloud-formation will hopefully be knowledgeable enough to know how to select the right image when that ami expires...

[2015-01-16 00:22] smarterclayton commented on #2585
Paul, can you link to your latest work?

----- Original Message -----

[2015-01-16 00:25] pmorie commented on #2585
@bgrant0607 @smarterclayton @derekwaynecarr

I spent some time thinking further about metadata today.  Since that problem isn't unique to services, it might make sense to have a separate resource:

    type ConfigMetadata struct {
        Metadata map[string]string
        Labels map[string]string
    }

There are a couple ways you could tie services to config metadata:

1.  A service could refere

[2015-01-16 00:33] pmorie commented on #2585
@smarterclayton I assume you were referring to @pweil- and not me.

[2015-01-16 00:33] smarterclayton commented on #2585
Probably separate - we started discussing that a while back, realized what a can of worms it is, and then closed the proposal.  It's viewed as risky because it can't solve all use cases, overlaps with much more purpose built tools like etcd, and clients would have to read it directly.  To be able to introduce it separately I think we'd need to resolve more issues at once.

The ultimate question is

[2015-01-16 00:50] erictune commented on #2483
On GCE with kube-up.sh, kubelet and kube-proxy no longer use etcd.

[2015-01-16 00:51] zmerlynn opened #3547 "New basic.go test is broken"
From `job/kubernetes-e2e-gce/1175/tapResults/`:

[code]

(Whatever it did, it decided to hit the Jenkins URL itself, which is kind of hilarious.. and bizarre.)

Similar results in `job/kubernetes-e2e-gce/1177/tapResults/`

[2015-01-16 00:55] erictune commented on #2483
Remaining work includes:
  - [ ] Convert more Getting-started-guides to not use etcd from the node (also may require distributing secrets to nodes)
  - [ ] Rip out etcd config source form kubelet and kube-proxy and related flags and config and code.
  - [ ] rip out boundPods from registry (keep bindings endpoint)
  - [ ] convert internal use of BoundPods to Pods in kubelet
  - [ ] optional: Kubele

[2015-01-16 00:55] zmerlynn commented on #3547
For whatever reason, the `kubernetes-e2e-gke-ci` job is completely sunny on this test, yet the `kubernetes-e2e-gke` job is also getting plagued by the same flake the `kubernetes-e2e-gce` flake above.

[2015-01-16 00:56] lavalamp commented on #3547
Ah, I see-- HostIP is not set (pod not scheduled yet?) so it's dialing ":8080" and getting jenkins. Hilarious.

I think it just needs to re-get the pods after it calls waitForRunning.

BTW, @satnam6502-- I'm really digging the new test/e2e/ package. Looks great.

[2015-01-16 00:57] ddysher commented on #3386
nvm

My original concern was that phase and conditions are meant to be used by k8s, so we may need some translation to make it easier to understand for admin.  Also, they are not fully populated, so I thought we may delay showing status *for now*.

I certainly have no problem showing down minions and adding status.   I've created a PR  #3504

[2015-01-16 00:57] smarterclayton commented on #2483
We should note to consumers the third bullet will require you to recreate your cluster and/or migrate

[2015-01-16 00:58] #3458 closed

[2015-01-16 01:02] zmerlynn commented on #3547
I wonder if this is only a flake on Jenkins because it has an active :8080.
(i.e. @satnam6502 might not've even seen a flake because that connection
would've just failed.)

On Thu, Jan 15, 2015 at 4:56 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-01-16 01:04] lavalamp commented on #3547
If jenkins weren't answering, presumably it would have gotten an HTTP transport error.

[2015-01-16 02:15] satnam6502 commented on #3547
So should we disable the part of the test that checks for the host port on some providers?

[2015-01-16 02:16] satnam6502 commented on #3547
Or should we use a port other than :8080 for the containers?

[2015-01-16 02:18] #2408 closed

[2015-01-16 02:20] satnam6502 commented on #3547
How can I get an email when an issue is assigned to me? I only noticed this by accident. Thanks.

[2015-01-16 02:21] satnam6502 commented on #3547
@lavalamp : it does re-get the pods after waitForRunning -- that happens with the List call.

[2015-01-16 02:53] jasonkuhrt commented on #3458
I see guys, ok, thank-you. Until @jlowdermilk's patch I don't think this was made clear anywhere : )

I will try this out tomorrow and close the issue if everything works.

[2015-01-16 03:12] bgrant0607 commented on #3458
Thanks @jasonkuhrt. It works differently from kubecfg rollingupdate, so I'm sure other people will encounter the same issue.

[2015-01-16 04:06] satnam6502 commented on #3547
I will make a PR which either changes this test to use a different port number, or I will make an API call to get an available port number -- which is something we need to do anyway if we want to run multiple instances of such tests at the same time.

[2015-01-16 04:09] brendandburns commented on #3547
See:

https://github.com/settings/profile

then click on "Notifications"

You'll want to make sure that the "Participating" has email clicked, and
then you should get mail when an issue is assigned to you.

See:
https://help.github.com/articles/about-notifications/

for details.
--brendan

On Thu, Jan 15, 2015 at 8:06 PM, Satnam Singh <notifications@github.com>
wrote:

[2015-01-16 04:20] zmerlynn commented on #3547
No, @lavalamp is right, the problem is that the .HostIP field here is empty
for some reason, as you can see from the previous log message:

I0116 00꞉22꞉28.742283   25351 basic.go꞉115] Pod
c114468d-9d15-11e4-843a-42010af055d9 hostIP

So it's just dialing :8080, e.g. localhost:8080. Changing the port
numbers is only going to ensure you get an error back versus getting
Jenkins garbage back. Personall

[2015-01-16 04:25] dandv opened #3553 "Add GitHub repo URL"
Example:

[![image](https://cloud.githubusercontent.com/assets/33569/4949884/c2b69bde-6651-11e4-88eb-8fdf8e8c9f0a.png)](https://github.com/dandv/meteor-jquery-rateit)

[2015-01-16 04:37] bgrant0607 commented on #2585
Wow, lots of feedback. Thanks!

@pmorie Probably doesn't make sense for ExposedAddresses or TargetAddresses to be nil.

As described above, `Info` in `EndpointsSpec` is intended to be similar in spirit to key-value data in DNS TXT, for the service provider to communicate to enlightened clients (e.g., a client library written by the service provider) with details necessary/useful to communicate wit

[2015-01-16 04:54] nikhiljindal commented on #2057
swagger-ui now explains all the available resources and the available operations (GET, POST, DELETE, etc). It also provides a playground where users can try out these operations.

Once https://github.com/GoogleCloudPlatform/kubernetes/pull/3548 is merged, we will also get a list of all the valid paths on apiserver.

I assume thats all what we wanted.
Let me know if there is anything else required

[2015-01-16 05:29] satnam6502 commented on #3547
Then why is the hostPort value empty? Should it not always be set for GKE and GCE? I'll add a check for an empty hostPort and write out a more specific error message.

[2015-01-16 05:31] satnam6502 commented on #3547
Thanks Brendan. I have those boxes already ticked. Hmm... I will try to be vigilant and also try to get to the bottom of this.

[2015-01-16 07:27] bgrant0607 commented on #1502
Recap of what I explained to @erictune for @derekwaynecarr wrt discussion in #3472 about whether defaulted resource values belong in PodSpec or in PodStatus:

The desired state (`Spec` in v1beta3) in the system should actually reflect the actual, full desired state. That makes it easier for the system to determine what to do and easier for the user to understand what is going to happen.

Lots of t

[2015-01-16 08:37] bgrant0607 commented on #3484
Background discussion: https://groups.google.com/forum/#!topic/google-containers/o_VmRlcGan0

[2015-01-16 08:47] bgrant0607 commented on #2057
@nikhiljindal This issue was about returning information when specific path prefixes were operated upon, or at least documenting the expected behavior.

[2015-01-16 09:42] sourav82 opened #3554 "Is there any way to express service dependencies so that kubectl creates them in order?"
I have 2 services. One containing 2 pod replicas for a web application which is dependent on another backend service having pod (2 replicas) for mysql containers.

Web application uses environment variables set by backend db service. I've all the json inside same directory.

Is there any way to express the dependencies so that kubectl always create (and run) backend pods and services before it sta

[2015-01-16 11:07] proppy commented on #3361
@pires but it would be nice to have a .box image that behave like a single node cluster.

[2015-01-16 11:14] pires commented on #3361
@proppy yeah, we can do it with https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/standalone.yaml. I've tried at providing a box but it didn't seem trivial. Perhaps someone feels otherwise? Would definitely help.

[2015-01-16 11:17] pires commented on #3543
@brendandburns deal.

[2015-01-16 13:55] jasonkuhrt commented on #3553
I guess it should link to http://kubernetes.io?

[2015-01-16 14:06] jasonkuhrt opened #3557 "Error: [...] peers are not reachable [...]"
I am running into this error which doesn't make any sense to me:

[code]

What could be wrong; debugging ideas?

[2015-01-16 14:10] jasonkuhrt commented on #3557
I've tried both without any effect:

[code]

[code]
^ Repeated for each node.

[2015-01-16 15:12] zmerlynn opened #3558 "kubernetes-gke{,-ci} jobs have been aborting since 6pm on 1/15"
All builds after #3489 and <strike>3550</strike> were merged have started failing on the GKE provider.

[2015-01-16 15:15] erictune commented on #2483
Customers can keep running their current version of master, node daemons, and kubectl as long as they want.

When a customer wants to upgrade, the customer ought not upgrade one component (e.g the master) to a version which is substantially different from the other components (e.g. kubelet).

We should define what "substantially different version" is.  Maybe +/- 0.1.0.

[2015-01-16 15:15] zmerlynn commented on #3558
Lookings like monitoring.sh is failing, so I'm blaming #3489.

[2015-01-16 15:31] pmorie commented on #2585
@bgrant0607 Rereading your proposed model i see that `PortalSpec` replaces the old `ServiceSpec` notion for the most part, my bad.  I don't need `Service`, I want `PortalSpec`, and was suffering from wall of text effect.

[2015-01-16 15:38] erictune opened #3560 "Define supported version skew between apiserver and components that use the apiserver"
Upgrades are described broadly in issue #2524.  This issue is about defining our support window for a specific case in upgrades.

Typically a user starts a cluster with all the software components built at the same version.
Then the user wants to do an upgrade.  The user may need to upgrade one component before the others, (e.g. master before the nodes).  Reasons include:, perfectly synchronized a

[2015-01-16 15:38] erictune commented on #3560
This came up in issue #2483

[2015-01-16 15:39] erictune commented on #2483
Filed #3560 about how long to support things.

[2015-01-16 15:40] zmerlynn commented on #3558
Actually, you've even got GCE failures in `monitoring.sh`:

[code]

[2015-01-16 15:44] zmerlynn commented on #3560
I think this is also useful to nail down for #3334, since it can help define the necessary "memory" for tests.

[2015-01-16 15:45] zmerlynn commented on #3560
(But that's a slightly different case, too.)

[2015-01-16 15:45] pmorie commented on #2585
@bgrant0607 One thing that isn't clear - does the `Endpoints` resource still exist?  Does `PortalSpec.TargetAddresses` refer to an `EndpointsSpec` (probably, imo) or an `Endpoints`?

[2015-01-16 15:49] zmerlynn opened #3561 "Jenkins builds on pull requests"
It's clear from the churn in head that we really need a way to test PRs. I know @brendanburns got this close to working on his old server. The new flow is quite different, and now we're multiplexing to 3 different downstream projects, but it should still be feasible. It's worth spending some time investigating - it would keep our agility higher.

[2015-01-16 15:51] smreed commented on #2657
Seeing this issue currently in a 0.8.1 cluster. Will try manual delete of bound pods from etcd.

[2015-01-16 15:58] erictune opened #3562 "Define supported version skew between apiserver and its storage format"
The general question of upgrades is discussed in #2524

The question of version skew between the master and components that use the API is discussed in #3560.

With the closing of #3376, only the apiserver needs to talk to its storage (etcd).  User may want to upgrade the apiserver version while keeping the storage intact.  We need to define how far apart the old version and new version of apiserv

[2015-01-16 16:03] proppy opened #3563 "git volume should clone the repo at the root of the volume"
Currently they add an extra directory named after the repo, so:
[code]
Would result into
[code]
instead of
[code]

[2015-01-16 16:11] satnam6502 commented on #3547
Another source of confusion is why the `basic.sh` test is not "a flake" but this one is -- since I just transliterated the line:
[code]
to Go using the `http` package (without the connect timeout). So I would expect them to be equally flaky.

[2015-01-16 16:18] zmerlynn commented on #3547
Are you able to repro the flake locally? I haven't tried.

basic.sh also has a lame sleep 5 in it, then regrabs the ${ip}.
On Fri Jan 16 2015 at 8:12:01 AM Satnam Singh <notifications@github.com>
wrote:

[2015-01-16 16:23] smarterclayton commented on #1743
Re: deployment @pmorie and I had a good discussion today.  We think of DeploymentConfig in OpenShift as:

SimpleAutomaticDeploymentController - a controller that takes a pod template, can mutate it based on extensible changes that occur elsewhere (and can trigger on those), then writes the new pod template into a new replication controller, then launches a job that mutates the two.

Admittedly, al

[2015-01-16 16:24] satnam6502 commented on #3547
I'll re-write the test to make multiple attempts (with delay) to get the hostIP. PR after I run into work!

[2015-01-16 16:25] ncdc commented on #3253
I have a rough first draft here: https://github.com/ncdc/kubernetes/compare/remote-exec-port-forward. Everything is open to change (package names, interface names, method names, etc)... The 2 primary methods in the new `httpstream` package are `RequestStreamer.Stream3` and `ResponseStreamer.StreamResponse`. I'll probably ultimately move both of these methods into a single interface, along with `Wa

[2015-01-16 16:31] zmerlynn commented on #3547
I meant "outside of Jenkins", not necessarily literally locally.

There may be a product bug here. Why is `.Status.HostIP` not available after the pod is running?

[2015-01-16 16:33] zmerlynn commented on #3547
But yes, what I'd appreciate is a breakfix hack that gets around this issue to get the build back (more) sunny. The way you have it coded feels right, though, so it feels like you should just stick in a // TODO(issue: blah) to look at it further.

[2015-01-16 17:08] vishh commented on #3558
I think I know what the issue is.

[2015-01-16 17:16] dandv commented on #3553
That would be great.

[2015-01-16 17:35] bgrant0607 commented on #3558
Yes, GCE Jenkins is failing, too.
[code]

This test was touched in #3550.
/cc @satnam6502

[2015-01-16 17:38] zmerlynn commented on #3558
@bgrant0607: That problem is covered in #3547, which I didn't feel like supported a revert (but it was close :)).

[2015-01-16 17:41] bgrant0607 commented on #3547
This is worse than flaky. Every failed jenkins build I've looked at so far failed due to this test.

[2015-01-16 17:42] bgrant0607 commented on #3547
The guilty PR: #3550

[2015-01-16 17:44] smarterclayton commented on #3253
Yeah, upgrading is a distinct problem from tunneling and is independent of protocol.  There's a lot of upgrade security / problems you have to correctly solve, but this is really encouraging.

[2015-01-16 17:46] zmerlynn commented on #3547
I like the hardline approach. It does occasionally succeed, though. :) But yes, it's extremely distracting for looking at Jenkins right now, and I think it should either get reverted or fixed ASAP.

[2015-01-16 17:47] bgrant0607 commented on #3554
Short answer is not yet. Discussion is here: https://github.com/GoogleCloudPlatform/kubernetes/issues/1768#issuecomment-69665834

I recommend creating all services before any replication controllers.

[2015-01-16 17:47] #3554 closed

[2015-01-16 17:52] erictune opened #3566 "Move all cloud providers to apiserver source for kubelet and kube-proxy"

[2015-01-16 17:59] zmerlynn opened #3567 "Preserve TAP output while transitioning shell tests to go tests"
I have a proposal for a bridge between the Go tests and the shell tests that makes it easy on Jenkins:

1. Add an `--except` to `hack/e2e.go` so that things can be excluded from wildcard pickups, so that Jenkins can call `hack/e2e.go --except=goe2e.sh`
2. Change `hack/jenkins/e2e.tap` to call cmd/e2e/e2e.go directly, putting TAP output in a separate file in a similar fashion to the `e2e.$BLAH.tap`

[2015-01-16 17:59] erictune commented on #3215
After talking to Brian, I no longer think this is a problem.  We don't actually have to store Endpoints in the registry.  It doesn't have to behave like other REST objects.  It is just a convenience URL for getting just the information you need.

[2015-01-16 17:59] #3215 closed

[2015-01-16 18:00] erictune commented on #3566
This is one of the remaining work items in #2483

[2015-01-16 18:01] satnam6502 commented on #3547
In the office, working on it.

[2015-01-16 18:16] filbranden commented on #3567
+1 to adding TAP output support to `cmd/e2e/e2e.go` I can try to tackle that myself.

Instead of adding `--except` to `hack/e2e.go` I'd prefer to just get rid of `goe2e.sh` and instead have `hack/e2e.go` call the `cmd/e2e` explicitly passing it a `--tap` argument. The idea is that `hack/e2e.go` will shrink and eventually be completely replaced by `cmd/e2e`.

We still need `hack/e2e.go` to drive `c

[2015-01-16 18:23] zmerlynn commented on #3567
The purpose of adding `--except` is that today, if you were to remove `goe2e.sh`, people would accidentally not run the `cmd/e2e` tests. The purpose of adding `--except` to `hack/e2e.go` is that today, people run e2es by running `hack/e2e.go`, which picks up the go e2e tests by picking up the shell script. If you just remove the shell script, people will stop running the go tests accidentally. Tha

[2015-01-16 18:30] zmerlynn commented on #3567
Oh, I just re-read your comment. No. Unless you want to implement the YAML-ish subtest gorp (https://wiki.jenkins-ci.org/display/JENKINS/TAP+Plugin, see Subtests), trying to deal with the TAP output from `cmd/e2e` directly in `hack/e2e` is a way that leads to madness, I think.

[2015-01-16 18:38] brendandburns commented on #3561
https://wiki.jenkins-ci.org/display/JENKINS/GitHub+pull+request+builder+plugin

is what you want to use, I never quite got it working (and it was kind of
spammy)

--brendan

On Fri, Jan 16, 2015 at 7:50 AM, Zach Loafman <notifications@github.com>
wrote:

[2015-01-16 18:45] zmerlynn commented on #3561
Yeah, that part I knew. (Just forgot to put it in the issue.)

The interesting part is actually the Jenkins flow now. I think what we're want to do is to drop the PR into a new build build which then pushes to GCS directory `/pr/1234/` or whatever, then we actually need a parameterized build job that can take arbitrary strings to build (instead of always building latest GCS CI).

[2015-01-16 18:54] roberthbailey commented on #3561
Can we parameterize on the git hash of the commit in the pull request?

[2015-01-16 18:55] zmerlynn commented on #3561
@roberthbailey: Yes, basically. But it should probably be in a separate dir from the `/ci/` dir, which is effectively tracking head.

[2015-01-16 19:31] #3558 closed

[2015-01-16 20:24] filbranden opened #3573 "We need a test case for standalone kubelet"
We have a scenario of kubelet being used in standalone mode without a master which is the containervm.

In that case, kubelet is started with a `--manifest_url` flag pointing to the URL of a YAML file with instructions of which containers to start.

This case is getting broken often, particularly as we seem to be testing for `nil` and in some cases the pointer vs. interface nil breaks our checks w

[2015-01-16 20:28] zmerlynn commented on #3558
Verified in build gke build 1156, gke-ci build 272. The GCE build flaked in TestPrivate in goe2e and hasn't gotten there yet.

[2015-01-16 20:48] satnam6502 commented on #3547
I don't know why, but I've only just got this email now -- as well as a
load of other notifications.
I think something is wrong with the way GitHub sends out notification
emails.

S

On Thu, Jan 15, 2015 at 4:51 PM, Zach Loafman <notifications@github.com>
wrote:

[2015-01-16 20:49] bgrant0607 commented on #3557
How is kubectl finding the master?

[2015-01-16 20:51] bgrant0607 commented on #3553
I do not understand what this issue is requesting.

[2015-01-16 20:52] bgrant0607 commented on #3553
Ah, the box appears when editing the project description on github. Done.

[2015-01-16 20:52] #3553 closed

[2015-01-16 21:03] jayunit100 opened #3575 "YAML File "cmd" doesnt support same thing as docker CMD."
Commands like this .

``` /bin/bash /opt/run.sh ```

Don't work if pasted into the YAML file like so:

[code]

The reason is that *stat* winds up returning something along the lines of

` exec: \"/bin/bash /opt/run.sh\": stat /bin/bash /opt/run.sh: no such file or directory"[1:48pm]`

This is a pretty significant usability issue, as this is *not* caught by `--validate true` and can only be seen if

[2015-01-16 21:07] jayunit100 commented on #3575
Note the workaround to this that I found was to simply use CMD inside the dockerfile itself.  In this case, we don't run into any yaml / cmd forwarding issues, so i bet this might be fixable by just properly breaking up the command directive's arguments as explicit params in the yaml file.

[2015-01-16 21:24] smarterclayton commented on #3575
Ah, you hit https://github.com/GoogleCloudPlatform/kubernetes/issues/2316 effectively.  We're trying to get this sorted out in a way that's clear to users but gives them the flexibility for the underlying execution.

[2015-01-16 21:55] pweil- commented on #2585
@bgrant0607 @smarterclayton  @pmorie Current work links

https://github.com/pweil-/origin/blob/router-ssl/pkg/route/api/types.go : OpenShift route type with TLS support, probably most relevant to this conversation.

https://github.com/openshift/origin/pull/652 Full changes which include support for a template based router implementation (credit to @pmorie & @rajatchopra) with SNI based frontend/ba

[2015-01-16 21:56] erictune opened #3578 "Proposal for reorganizing getting started guides"
Ideally, users would like instructions that were precise, short, and work with all their existing infrastructure.  But there are too many possibilities, and the kubernetes-dev team can't reasonably update and test across all possibilities.  So, we need to simplify somehow.  This is a proposal/start-of-discussion on how to do that.

Assume users fall into three broad categories:
  1. I want as few

[2015-01-16 22:00] zmerlynn opened #3579 "Proposal for Deferred Creation of Addon Objects"
# Deferred Creation of "Addon Objects"

In PRs #2224 and #3292, we added a considerable amount of initialization of state in `kube-up.sh` after the actual kube-up call. This pattern really doesn't work very well for GKE: In a GKE, kube-up is essentially a single API call that can be made from a variety of clients that aren't `kube-up.sh`.

This bug proposes a way to pieces of the initialization in

[2015-01-16 22:07] erictune commented on #3566
Wow, there are a lot of getting-started guides.  Proposed 3578 to narrow what set of things we promise to maintain and how we communicate changes to getting-started-guide maintainers.

[2015-01-16 22:24] jayunit100 commented on #3575
Yup ! Another workaround , actually, is do use multiple bullets under `command` like is done in the guestbook vttablet-pod-template example.........
[code]

[2015-01-16 22:35] dandv commented on #3553
Thanks @bgrant0607. As a fellow Googler, might I also suggest updating your GitHub profile, to lend more credibility to the project?

[2015-01-16 22:35] saad-ali commented on #3454
Closed with #3552

[2015-01-16 22:35] #3454 closed

[2015-01-16 22:40] jbeda opened #3580 "Vagrant networking doesn't allow master->container networking"
This breaks the `test/e2e/network.go` test.

The HTTP proxy capability of the apiserver assumes it can talk directly to containers.  This works on GCE but not on vagrant (and probably other clusters that only stitch together networking on nodes).

[2015-01-16 22:41] jbeda commented on #3580
I'm disabling the test for now as part of #3530.

[2015-01-16 22:48] satnam6502 opened #3582 "Pod cache (probably) causes basic.go e2e to flake"
The original version of the basic.go e2e test sometimes failed because `hostIP` was an empty string for a pod that was in the Running state. After discussion with @bgrant0607 it seems this is probably due to our strange pod cache implementation which wipes the state after the TTL period and then re-fetches data. This means that it is possible to incorrectly observe an empty string for the `pod.Sta

[2015-01-16 23:13] filbranden opened #3584 "Kubelet in standalone doesn't work with example YAML files"
I'm trying containervm with kubelet built from head and this YAML file:

https://cloud.google.com/compute/docs/containers/container_vms#create_the_manifest

The YAML file is v1beta2 and doesn't set a name to the Pod. When starting kubelet, it doesn't start the "nc" echo server and complains about this on the logs:

[code]

Chatting with @dchen1107 on IM she mentioned it might be due to a change fr

[2015-01-16 23:19] dchen1107 commented on #3584
Yes, the latest kubelet call validation on all sources: etcd, file, http, etc. now, and PodName is a required field. One potential fix for this is also invoke conversion code before call validation, like what we have done at apiserver.

Thoughts? @thockin

[2015-01-16 23:22] filbranden commented on #3584
Just so I get unblocked... Do you have an example YAML file that will set the pod name and will work?

Right now this is what I'm using:

[code]

Should I bump up version to v1beta3 and include a new `- pod: whatever` field somewhere?

Thanks!
Filipe

[2015-01-16 23:34] erictune opened #3585 "Places for hooks"
There are lots of reasons why the "system" wants to look at an object, like a pod, and modify and/or act on it.  There are also a number of places where we can put in "hooks" for these actions.  We'll end up with a better system in the long run, I think, if we put some thought into what hooks to use in what situations.
### Places for hooks
1. kubectl, other clients
2. proxy in front of apiserver
3

[2015-01-16 23:35] erictune commented on #3585
We discussed this today in the meeting @derekwaynecarr @smarterclayton

We discussed this in our office yesterday @bgrant0607

[2015-01-16 23:46] thockin commented on #3585
Does default-value expansions count as one of these?  It wants to (but
doesn't yet) operate on versioned API structs before conversion to internal
API.  Or maybe that's just so fundamental it is consudered part of the API
versioning scaffolding.

Why must apiserver hooks be built in?  Could we not support exec hooks that
were installed a posteriori?
On Jan 16, 2015 3:34 PM, "Eric Tune" <notificati

[2015-01-16 23:46] erictune opened #3586 "Finalizers Concept"
Read #3585 too.

We should have a general framework for a pod or other object to be POST'ed in an incomplete state, and persisted to etcd, and then subsequently to be handled by a series of "finalizers" that fill in missing fields.  Once all are filled in, the object can be picked up by a kubelet and run.

#### Use cases
Use cases for filling in fields in pods after they are stored.
  - Set defaul

[2015-01-16 23:47] erictune commented on #3585
@thockin
can you phrase those questions in the form of answers?

[2015-01-16 23:50] derekwaynecarr commented on #3585
LGTM, maybe this can become a design doc for future reference?

[2015-01-16 23:51] derekwaynecarr commented on #3586
I guess I wonder if this is a ```Pod``` specific problem, or does the same apply to other resource types?

At some level, I view what we do in ```kube-controller-manager``` as a pseudo finalizer as well.

[2015-01-16 23:57] thockin commented on #3585
I am on cell, so brief.  I thought about defaulting, but I think it is too
fundamental.  That said, of there was another use for a hook-point between
receiving a versioned struct and converting to internal, this might use the
same infra.

I think exec hooks are reasonable, with constraints that exec is much
slower than a function call.  That may be totally acceptable in many cases.

I think ~all e

[2015-01-17 00:06] saad-ali commented on #246
CC: @saad-ali

[2015-01-17 00:06] erictune commented on #3578
@erickhan  we talked about this just now

[2015-01-17 00:07] saad-ali commented on #19
CC: @saad-ali

[2015-01-17 00:09] erictune commented on #3586
@derekwaynecarr agree

[2015-01-17 00:13] erictune commented on #3584
The type of that yaml is not pod, and the kubelet code doesn't know how to read pods from a file.
So, I think @thockin change needs to be reverted before you can make the next ContainerVM release.

The v1beta2 vs v1beta3 should not have anything to do with it, unless I'm misunderstanding.

[2015-01-17 00:15] erictune commented on #3584
Or will it work to do this:

[code]

[2015-01-17 00:15] erictune commented on #3584
Still, not sure if you want to release a containerVM version that doesn't accept the old format?

[2015-01-17 00:16] bgrant0607 commented on #170
Note that the clone approach would make it easy to do 2/3 of what I described here: https://github.com/GoogleCloudPlatform/kubernetes/pull/3233/files#r22573202

Creating objects from other objects: pods from pods, replication controllers from pods.

[2015-01-17 00:29] davidopp commented on #3585
I basically like this proposal, just a few comments/questions

* I didn't catch whether the admission controller is a finalizer or not. If so, what prevents scheduler from scheduling before admission controller has acted? (IIRC it's not a finalizer, but wanted to make sure.)

* I'm not sure there are any good examples of the first item in your bullet list (Prefer in apiserver if need to prevent so

[2015-01-17 00:31] filbranden commented on #3584
Thanks @erictune I made it work with the YAML above!

I still have errors in the logs:

[code]

But the docker containers are being brought up...

It's weird that `id` is the YAML field that is missing, considering the source seems to say it's a deprecated field that will be removed at some point...

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L1085

I agree with

[2015-01-17 00:33] davidopp commented on #3586
Sorry, I made some comments relevant to this in #3585. Would it be better to just combine the two issues?

[2015-01-17 00:36] derekwaynecarr commented on #3585
@davidopp - Admission control is not a finalizer for the reason you stated - it provides immediate success/failure response to the end-user.

[2015-01-17 00:42] erictune commented on #3585
@davidopp
Regarding the third question, I'm guessing you have some experience in this area and maybe want to suggest solutions, perhaps in issue #3586 which is about the finer points of finalizers.

[2015-01-17 00:54] erictune commented on #3584
id in v1beta2 maps to name in v1beta3

Tim's change made name required.  The internal representation is like v1beta3.  But v1beta3 is not officially stable so we don't want to use it in the GKE or containerVM docs.

[2015-01-17 00:56] bgrant0607 commented on #3585
Another option: webhooks

[2015-01-17 00:57] bgrant0607 commented on #3585
See also: https://github.com/GoogleCloudPlatform/kubernetes/issues/1502#issuecomment-70217263

[2015-01-17 01:01] erictune commented on #3573
I started thinking about how to test this but ran out of time today.  If someone wants to do it, a plan might be:
 - stick the yaml example from https://cloud.google.com/compute/docs/containers/container_vms#create_the_manifest into a public storage bucket on GCS.
 - modify the first invokation of kubelet in hack/test-cmd.sh to take a --manifest_url argument which points at that storage bucket
 -

[2015-01-17 01:01] davidopp commented on #3585
Meaning, the API server makes some call out to an HTTP endpoint? This could work but I believe it requires putting the logic about handoff, graceful degradation, etc. inside the API server rather than the finalizer, which may not be good for modularity. The API server would need to know the identity of all of the finalizers, though of course that could be configurable (though you'd need some way t

[2015-01-17 01:14] bgrant0607 commented on #3586
Yes, let's comment on #3585.

[2015-01-17 01:15] bgrant0607 commented on #3586
Copied issue text over.

[2015-01-17 01:15] #3586 closed

[2015-01-17 01:22] bgrant0607 commented on #3585
We have a lot of experience with the "finalizer" approach. It permits loosely coupled, choreographed interaction between components. Main cons are understandability when things go wrong, as @erictune mentioned, operational complexity, auth. complexity (who's allowed to munge what), lack of centralized control (if you want/need that), latency, and bootstrapping complexity.

[2015-01-17 01:27] bgrant0607 commented on #3585
BTW, I don't mean to sound down on finalizers. In balance, they've worked pretty well.

[2015-01-17 01:28] satnam6502 commented on #3579
+1 to some equivalent to an `init.d` approach for letting users configure their clusters and for teasing apart the core cluster creation operations from "add ons".

[2015-01-17 01:41] bgrant0607 commented on #3585
I think "Put it in the apiserver if the act of persisting of the object could be harmful" is the only strong justification to not use the finalizer approach (assuming we use it for anything).

We already support async operations. We could not declare creation operations done until finalization. We've had requests for this from people working on deployment tools, similar to the use cases in #1899.

[2015-01-17 01:50] bgrant0607 commented on #3585
API plugins are related: #991

[2015-01-17 01:58] #3386 closed

[2015-01-17 04:26] bgrant0607 commented on #170
For those not familiar with it: http://en.wikipedia.org/wiki/Prototype-based_programming

[2015-01-17 04:57] commonlisp commented on #3532
By the a few failed health checks, are you saying that kubelet should see health#HealthCheck fail multiple times before it declares it unhealthy?

[2015-01-17 06:53] davidopp commented on #3585
I think probably the finalizer and call-out approaches end up with the same set of issues. In fact, if you structure the call-outs as API server plug-ins, then there's probably not much difference between the two approaches at all. It's just a question of whether the logic for how these pieces of logic interact (e.g. for sequencing) is running in one process (the api server) or is distributed acro

[2015-01-17 13:29] pires commented on #3476
So, does this look like an agenda?

1. Decide the prefix to use (I like @derekwaynecarr proposition, ```/kubernetes.io/<cluster_id>```)
2. Decide ```cluster_id``` definition strategy (manual, automatic? If automatic, how to guarantee uniqueness? Etc.)
3. Implement ```cluster_id``` definition strategy
4. Implement prefix support in a retro-compatible way to avoid breaking existing clusters. Could t

[2015-01-17 13:46] pires commented on #473
Using ```etcd``` to map existing apiservers seems very fragile indeed. You'd need for some sort of watchdog mechanism to remove entries related to dead/inaccessible servers. And you' rely heavily on the availability of ```etcd``` - which you already do.

Could we think about another solution, like apiservers communicating with each other (p2p, like in a Cassandra or Hazelcast cluster) and have the

[2015-01-17 14:28] pires commented on #1319
Interesting discussion going on here. Here's my two cents.

Having a registry per master when there's only one master seems to suffice, but what happens when kubernetes gets support for multiple masters? Even on a active/standby scenario, this could be troublesome, don't you agree?

Now, optionally running a kube service where you can easily publish/cache your private and public Docker images, tha

[2015-01-17 16:55] smarterclayton commented on #1319
It doesn't have to be spof - we've been running multiple copies of dumb registries behind an auth layer under a service, talking to an object store.  Unless you were referring to the Kube master as being SPOF today, which it is (for mutation to the cluster), which is why post 1.0 ensuring its available through duplication will be a priority.

[2015-01-17 16:59] smarterclayton commented on #473
We never updated this, but the agreement at the Kube face to face is to nuke operations (no operation in the api server should be long running).  The ip allocator is single writer at this point - it could be converted to a sharded key write / merge operation against etcd with work.  The controllers and scheduler need to elect themselves by waiting on an etcd key in the short term, and in the long

[2015-01-17 17:05] pires commented on #1319
@smarterclayton who's we? And is there any documentation on that set-up that you can share?

[2015-01-17 19:13] thockin commented on #1319
I think this is the right model, with a selection of different registry
implementations (local storage, GCS, etc).  There's a little issue that we
need to sort sort thru regarding DNS from nodes (outside containers).
On Jan 17, 2015 9:05 AM, "Paulo Pires" <notifications@github.com> wrote:

[2015-01-18 04:46] thockin opened #3595 "Expose or utilize docker's rlimit support"
https://github.com/docker/docker/issues/4717#issuecomment-70373299

Now that this is in, we should define how we want to use it.

[2015-01-18 16:36] sylus commented on #598
I would be very keen on user documentation for this. I have been looking at the corresponding issues and still am having a degree of confusion on what the recommended practice is.

[2015-01-18 16:36] kennu opened #3599 "Volume that overrides a Dockerfile VOLUME doesn't mount into container"
I'm trying to start a MongoDB container which overrides the default data volume /data/db (specified by the image's [Dockerfile  VOLUME directive)](https://github.com/docker-library/mongo/blob/master/2.6/Dockerfile).

Kubernetes fails to mount the overridden volume from the path configured for the pod. Docker inspect shows that the volume is actually mounted from /var/lib/docker/vfs/dir/xxx, i.e. t

[2015-01-18 18:19] jmreicha opened #3600 "kube-controller-manager "About to update endpoints for service""
I am seeing an issue in the logs for `kube-controller-manager` on the master that keeps repeating itself.  Below is an example output from `journalctl -fu kube-controller-manager`.

[code]

I don't know exactly what this is doing because services seem to create/update/delete okay with kubectl.

As a side note, I am also experiencing the other issue referenced here, https://github.com/GoogleCloudPl

[2015-01-18 19:20] smarterclayton commented on #598
As a side note, I'm going to attempt to resolve https://github.com/openshift/origin/issues/663 by building on top of Tims volume extension work and deliver a "best effort local volume" that can be reused on a host by knowing a unique secret (and once I get the security context work written up, would be protected by Unix user permissions from other containers).  That would allow folks to have somet

[2015-01-18 23:42] zmerlynn commented on #3525
+1 to something like this, though I'm really looking for something that could be shared between providers too. About to reference this in a wide commit where, like you, I had to slog across all myriad cloud providers, and the env variables are a special treat.

[2015-01-19 03:33] #3154 closed

[2015-01-19 03:34] #3212 closed

[2015-01-19 03:36] smarterclayton commented on #341
This is assigned for 0.8 and help-wanted is accurate?

[2015-01-19 06:02] rgolg opened #3604 "Kubernetes architecture in AWS VPC"
Hello Kubernetes community,

Happy to have found my way here. I'm very interested in making Kubernetes work in an AWS VPC and have looked at the changes @silasdavis has made to the original CloudFormation template for setting up Kubernetes in AWS running on CoreOS (https://github.com/GoogleCloudPlatform/kubernetes/pull/2649) (Thanks @silasdavis!). However, I'm struggling with choosing the best arc

[2015-01-19 10:10] abonas opened #3605 ""id" appears twice in pod definition - why is it needed?"
looking at the example https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook-go/redis-master-pod.json
the id "redis-master-pod" appears as part of pod definition (which makes sense), but also inside the "desired state" part - why is it needed to be specified there too?
the user can even input there another value, what's its purpose in "desired state"?

[2015-01-19 10:43] abonas opened #3606 "Link to docs from API field descriptions"
The api in v2 has this comment:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta2/types.go

"image pull policy: one of PullAlways, PullNever, PullIfNotPresent; defaults to PullAlways if :latest tag is specified, or PullIfNotPresent otherwise"

this was removed in the v3 types.go file

There's a partial explanation here, but it doesn't specify all possible values:
https:

[2015-01-19 10:57] abonas opened #3607 "Simplify restartPolicy: change to string"
In the pods in both v1 and v3 api, the restart policy looks like this:

"restartPolicy": {
          "always": {}
        }

Why is this a hash inside hash? Shouldn't it be a simple key "restartPolicy" with string value one of: RestartPolicyAlways, RestartPolicyOnFailure, RestartPolicyNever ?

[2015-01-19 14:31] Pindar commented on #1802
+1

[2015-01-19 15:43] smarterclayton commented on #3600
Fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/3287

[2015-01-19 15:43] #3600 closed

[2015-01-19 16:11] smarterclayton commented on #3216
The error message is logged weirdly - fixing that via https://github.com/GoogleCloudPlatform/kubernetes/pull/3608

[2015-01-19 16:32] pmorie commented on #1627
I know I'm late to the party here, forgiveness please.  Is this an accurate summary of the concerns / needs for this issue?

1.  There should be a mechanism that allows master components to query the API server for their configuration parameters
2.  The mechanism should be also be usable by users of kubernetes for their own purposes and should not encourage bad behavior from users
3.  The resource

[2015-01-19 16:34] pmorie commented on #1627
@thockin @bgrant0607 @brendanburns

[2015-01-19 16:48] pmorie commented on #1553
@bgrant0607 @thockin @stp-ip A couple of thoughts:

1.  I think there will be a lot of legacy apps that require env vars
2.  It should be possible to consume parameters in many different ways:
    1.  Env vars
    2.  Files from shared `EmptyDir` volume in sidecar container
    3.  Other volume types
3.  There should definitely be a way for pods to be notified when parameters change, either by hav

[2015-01-19 16:58] zmerlynn opened #3609 "private.sh broken"
It's either the interaction of running both the `goe2e.sh` version and the normal version or something changed, but `private.sh` is failing way more than it used to. @satnam6502, mind taking a look? I don't mind if our answer now is to yank the test back out if we're comfortable that the new Go test is actually working well - we have a weekend of test runs to look at if you want to glance through

[2015-01-19 16:59] zmerlynn commented on #3609
Sometimes, as you pointed out in email, it fails like so:
[code]
which is a failure that the new Go test is actually resilient to. There are eiher times it's actually failing just waiting for pods to come up, though, and those times are weirder.

[2015-01-19 18:13] pmorie commented on #1768
@bgrant0607 @smarterclayton Suppose we avoid changing the pod model and just prototype expressing the dependency as an annotation on the pod?

[2015-01-19 18:21] satnam6502 commented on #3609
Yes, it is running both the Go tests and the basic.sh and private.sh tests that is likely to be the issue because basic.sh does not clean up properly after itself. I can prepare a modification to basic.sh to make it delete the replication controller `my-hostname` (and ignore errors) before it tries to create it.

[2015-01-19 18:25] satnam6502 commented on #3609
Another thing we could to to avoid flakes for e2e tests is to delete all resources at the beginning of a batch of tests. Then when a batch of tests are done, list all resources and if there are any then these are stragglers which should have been cleaned up so we can then identify which tests need to be fixed.

[2015-01-19 18:38] zmerlynn commented on #3609
Yup. The driver could have a "check hermetic between tests" thing.

One of the reasons the hack/e2e driver does the deterministic random order
is to make sure tests *might* perturb each other if they're *not* hermetic,
but it's nuisance to debug, certainly.

On Mon, Jan 19, 2015 at 10:25 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-01-19 18:43] satnam6502 commented on #3609
Right now I am in the mountains with limited email access and also quick sick. When I get home this evening I will try to prepare a PR to harden `basic.go` or `private.go`. A quick fix would be a kubectl command with `|| true` at the end which deletes the replication controller `my-hostname`.

[2015-01-19 18:52] zmerlynn commented on #3609
It can actually survive for a bit. Jenkins is partially cloudy and only a
bit noisy.

On Mon, Jan 19, 2015 at 10:44 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-01-19 19:10] satnam6502 commented on #3609
Also,  the associated pods need to be deleted too.  This really is too much
effort for the shell tests IMHO.
On Jan 19, 2015 10:52 AM, "Zach Loafman" <notifications@github.com> wrote:

[2015-01-19 19:16] pmorie commented on #1743
@smarterclayton Personally I fall into the 'ADC is about reacting to the world around it' camp.

A trigger shouldn't inject any input into the mutator and all inputs should be discoverable by the mutator.  This is what we've implemented so far - the configuration of triggers is an input to the mutation process, but no input is injected by triggers.  So, the mutation process (which we call 'generat

[2015-01-19 19:19] markllama opened #3611 "kubelet locks devicemapper (preventing docker pull from cli)"
The kubelet process on a minion appears to be locking a resource which prevents a user logged onto the minion from sucessfully pulling or running a container outside kubernetes.

I found this first when pods were failing to start, remaining in the "waiting: image not available on minion" state.  I attempted to pull an image manually and docker failed with this message:

    6cece30db4f9: Error pul

[2015-01-19 19:23] smarterclayton commented on #1627
I'd probably add 6. The mechanism for storing "config" should demonstrate it adds value or simplicity above and beyond other "config systems", by either solving the simple case more elegantly than another system, or removing the need for users to adapt existing software to use a new "config system".

The desire is that software that has minimal needs for config should be agnostic / unaware of the

[2015-01-19 19:53] stp-ip commented on #1553
@pmorie
1. yes
2. yes
3. Totally agreed. Restarting is way more plausible and logical.

[2015-01-19 20:53] pmorie commented on #1553
One mechanism for notification might be if the kubelet did an http `POST` to an endpoint in the pod that would trigger a configuration reload.

[2015-01-19 21:00] davidopp commented on #1553
Or have Kubelet send a Unix signal like SIGTERM, which can be caught by apps that are able to re-read their config without restarting, or not caught by apps that want to restart when their config changes.

[2015-01-19 21:09] pmorie commented on #1553
@davidopp Also a good idea.  Summarizing possible reload mechanisms:

1.  Restart pod
2.  Create file with unique name in known location
3.  Post to an endpoint on the pod
4.  Have kubelet send unix signal to containers in pod

I'm not sure I really love the idea of having the kubelet restart the pod on a config change; it seems like restarts should be part of a higher level mechanism.  That said

[2015-01-19 21:24] pmorie commented on #1627
@smarterclayton I think that is a good req.

[2015-01-19 21:34] davidopp commented on #1627
I'm not sure. Why can't we have a simple, home-grown config store for internal components, while encouraging users to use whatever off-the-shelf stuff they want? I'm not super-excited about growing the set of dependencies for Kubernetes (i.e. to include some other config system that isn't built-in).

[2015-01-19 21:38] pmorie commented on #1627
@davidopp A simple home-grown config store is what I personally want; I interpretted @smarterclayton as saying that the solution to this problem has to make it simple to use with existing software rather than forcing users to jump through X, Y, and Z to do it 'the kubernetes way'.

[2015-01-19 23:10] thockin commented on #1627
I think the adapter layer between "your config is stored in kubernetes" and
"we stuffed it into a bunch of config files in a volume" needs to be
hypothetically possible, but is NOT critical to any rollout.

Getting a config system for kubernetes components that is better than flags
does not need to gate on this config system being ready to use by
cloud-ignorant software.

On Mon, Jan 19, 2015 at 1

[2015-01-19 23:12] thockin commented on #1553
How much of this needs to be done by Kubelet vs a side-car container.  I'm
much happier with the latter model.

On Mon, Jan 19, 2015 at 1:10 PM, Paul Morie <notifications@github.com>
wrote:

[2015-01-20 00:49] smarterclayton commented on #3585
Sounds like we need a good proposal for finalizer (concrete, lays out how the scheduler knows when to run, hashes out what a small cluster solution would look like), and then we should consider doing that post 1.0?

Also, authorization is another operation that *could* be done via call-out early in admission control for user actions (vs as a proxy).  We talked about remoting the authz check for so

[2015-01-20 02:52] Fandekasp opened #3617 "docker btrfs issue caused by kubelet"
I've been struggling on a problem over the past week, that a few pods always fail to run.

When I tried to manually run one of those, I got:
[code]
I could succesfully run the image on another os with different docker version and different backend filesystem, so I did many tests, to conclude that the problem is neither with btrfs, nor with docker, nor with coreos.
I could create another aws autosc

[2015-01-20 04:18] thockin commented on #3617
Could this and #3611 be related?  If so, think this should be p0.  Who
feels best equipped to dig on this one?

On Mon, Jan 19, 2015 at 6:53 PM, Adrien Lemaire <notifications@github.com>
wrote:

[2015-01-20 04:20] Fandekasp commented on #3617
Yes, I believe it's the same issue :)

[2015-01-20 05:24] thockin commented on #3607
The assumption was that the various policies would soon grow parameters,
which would live in those inner objects.  Given that this has not happened
yet, maybe we should reconsider this design for v1beta3?

@dchen1107 - will we grow params here?  E.g. max number of restarts or
specific failure types?

On Mon, Jan 19, 2015 at 2:57 AM, abonas <notifications@github.com> wrote:

[2015-01-20 05:25] thockin commented on #3606
Documentation seems like a problem.

Defaulting will be fixed O(soon)

On Mon, Jan 19, 2015 at 2:44 AM, abonas <notifications@github.com> wrote:

[2015-01-20 05:27] thockin commented on #3605
This is an artifact of v1beta1, fixed in v1beta3.

Dup of #294

[2015-01-20 05:27] #3605 closed

[2015-01-20 06:02] thockin commented on #3563
I think the git volume should be removed entirely, and replaced with a more general "helper container" mechanism.

[2015-01-20 06:02] #3563 closed

[2015-01-20 06:15] resouer opened #3621 "[Question] Will containers in the same Pod compete/conflict with each other?"
I really buy the idea that Docker containers should run as a atomic POD!

But the question is, will these containers in one POD compete with each other?

For example, I have a batch of apps running in a POD, but one of my poor coded app has memory leak, and finally it eats up all the memory resource in the POD and kills other containers (apps)?

Any explanation from namespace sharing view and cgro

[2015-01-20 07:55] Leon-Liangming commented on #3390
I use a internal Docker Registry to resolve this problem，thanks all the same

[2015-01-20 08:31] proppy commented on #3563
Makes sense, see #3099

[2015-01-20 08:40] abonas commented on #3606
@thockin  why documentation is a problem?

[2015-01-20 10:04] dghubble commented on #3557
I'm also having this issue. Newer GKE Kubernetes cluster behaved normally for a few days, but not list commands fail through gcloud and through kubectl.
Kubernetes API version 0.8.1

Client Version: version.Info{Major:"0", Minor:"7+", GitVersion:"v0.7.0-dirty", GitCommit:"ad44234f7152e9c66bc2853575445c7071335e57", GitTreeState:"dirty"}
Server Version: &version.Info{Major:"0", Minor:"8+", GitVersio

[2015-01-20 11:58] abonas commented on #3621
@resouer I think your title meant to say "in the same pod" and not "in the same port"

[2015-01-20 12:52] abonas opened #3622 "PodInfo should be a list, not a map"
Comparing a single container details in "spec" and the "status" sections,
there are some differences in what data is exposed per container in those sections:

1. container is identified with index array in "spec", and its name is a property inside the index.
while in "status" its main element is its name.

2. in the "status" which is the runtime online representation, there's no info about ports,

[2015-01-20 14:10] jasonkuhrt commented on #3557
@bgrant0607 What do you mean?

[2015-01-20 15:08] abonas opened #3623 "feature request - REST api - need to be able to get list of relevant pods for each service"
Currently there is a selector on each service that based on its query language the service knows which pods are relevant.
However :
1. the query language is not documented, which operators are supported/what's the right syntax.
2. even if the query language is known and clear, the resolving of each service to pods relationship need to be resolved all over again by the clients.

So it will be much

[2015-01-20 15:12] stefwalter commented on #3623
Ditto for anything else involving labels, such as replication controllers.

[2015-01-20 15:14] abonas commented on #3623
@stefwalter definitely, I was about to open a separate one for rc but perhaps your comment is suffice :)

[2015-01-20 15:41] erictune commented on #3623
The query language for selectors is documented here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/labels.md

We have a REST interface that lists all the PodIPs which are part of a service, at `api/$VERSION/ns/$NAMESPACE/endpoints/$SERVICE_NAME`.

If you needed the pod names instead of PodIPs, you could do something like (not tested):
[code]

[2015-01-20 15:44] thockin commented on #3621
Isolation today can only apply to containers and not pods, because that is
all docker gives us (for now).  If you assign memory or CPU limits yo
containers in your pod, we will pass that on to docker.

Keep in mind that anything that is NOT isolated on the same node could leak
and destroy all your other plans.  Isolation is still very much optional.

Eventually we have plans for much tighter isola

[2015-01-20 15:44] erictune commented on #3557
I'm not sure where to start with debugging this.  Can @brendandburns take a look?

[2015-01-20 15:52] erictune commented on #3622
@bgrant0607 PTAL

[2015-01-20 16:05] erictune opened #3624 "Panic in registry code during test"
Test log with failure: https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/47373576

Stack trace of panicing thead:
[code]

[2015-01-20 16:09] erictune commented on #3624
[code]

[2015-01-20 16:14] erictune commented on #3624
[code]

[2015-01-20 16:18] erictune commented on #3624
I think there are two issues:
 - integration test should not have failed with fatal error.  Not sure why, but probably related to the 501 error.
 - the anonymous function inside `Registry.WatchPods` got passed a bad value.

[2015-01-20 16:18] abonas commented on #3622
@erictune what is PTAL?

[2015-01-20 16:24] preillyme opened #3626 "Update node.yaml to support graphdriver: overlay"
Update https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/cloud-configs/node.yaml Docker Application Container Engine section to support graphdriver: overlay instead of graphdriver: btrfs

As of CoreOS Alpha 561.0.0 graphdriver: btrfs produces fatal prerequisites for driver not satisfied (wrong filesystem?)

[2015-01-20 16:26] abonas commented on #3623
@erictune based on the labels.md doc, it's not clear how do you specify in json file that serves as input for REST api  the relevant operators for selector.

for example, the selector specified here :
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook-go/redis-master-service.json
a. how can someone know which operator is between key/value? is it "=" ? is it "!=" ?
b.

[2015-01-20 16:27] erictune commented on #3626
I think this was working before.  Do you know if this is an intentional or accidental change in CoreOS?

[2015-01-20 16:28] jmreicha commented on #3216
I just ran across this the other day.  but I am seeing the error in the `kube-controller-manager` service.  Here is  a sample of the output.

[code]

I can get the behavior to go away temporarily by rebooting the node or restarting the service but it always seems to come back eventually.

[2015-01-20 16:34] preillyme commented on #3626
@erictune: I believe this was an intentional change made in CoreOS. But @kelseyhightower would know best.

[2015-01-20 16:40] erictune commented on #3623
(a) it is "="
(b) it is AND
Agree this could use clarification in the documentation.

It doesn't appear that there is a way to use an operator other than the implied `=` with  json ( `"selector": { "name:", "foo", "value": "bar"}` format).

@bgrant0607 is it intentional that you cannot use operators with json selector?

[2015-01-20 16:43] erictune commented on #3622
PTAL = "please take a look" or "please take another look".

[2015-01-20 16:48] abonas commented on #3623
@erictune yes I got that those are probably "=" and AND, but given that there are so many other options in the docs that you referenced, it's really obvious it greatly lacks documentation and examples. perhaps we should dedicate a separate issue for this one?  since it was not the original question in this thread.
can you somehow split it out?

[2015-01-20 16:48] erictune commented on #3412
Also, cluster/addons/dns/kube2sky/kube2sky.go and pkg/controller/replication_controller.go

[2015-01-20 16:51] thockin commented on #3622
As per docs/api-conventions.md "the convention is to use a list of
subobjects containing name fields"

https://github.com/GoogleCloudPlatform/kubernetes/issues/2004

It sounds like status is buggy

On Tue, Jan 20, 2015 at 8:43 AM, Eric Tune <notifications@github.com> wrote:

[2015-01-20 16:53] erictune commented on #3617
Maybe not related, but CoreOS moved from btrfs to overlay, see kubernetes  issues #3625 #3626 -- sorry I don't have a CoreOS issue.

[2015-01-20 16:53] erictune commented on #3617
@dchen1107  is most likely person to be able to know more about this issue.

[2015-01-20 16:53] erictune commented on #3611
@dchen1107 PTAL

[2015-01-20 17:00] erictune commented on #3611
If it happens again, it could help if someone could grab `/proc/$pid/stacks` for all kubelet and dockerd threads (`ps -eLf`).  That would allow us to determine if anyone is currently blocked in the kernel in a devicemapper-related system call.

[2015-01-20 17:01] erictune commented on #3617
If it happens again, it could help if someone could grab `/proc/$pid/stacks` for all kubelet and dockerd threads (`ps -eLf`).  That would allow us to determine if anyone is currently blocked in the kernel in a devicemapper-related system call.

[2015-01-20 17:03] erictune opened #3627 "Not possible to use selector operators with json selector property"
It doesn't appear that there is a way to use an operator other than the implied = with json, which uses
`"selector": { "name:", "foo", "value": "bar"}`.

[2015-01-20 17:03] erictune commented on #3627
forked from #3623

[2015-01-20 17:04] thockin opened #3628 "Descriptions missing from v1beta3"
Filing this as a remind to come back to it.

[2015-01-20 17:04] thockin commented on #3606
I meant that the absence of documentation is a problem in v1beta3/types.go, but this is a known issue (I filed #3628)

[2015-01-20 17:05] erictune opened #3629 "Document json format for selectors"
The labels and selectors documentation in `docs/labels.md` mentions a bunch of operators.  It should clarify that with the json syntax (``) that the implied operator is "=" that individual k-v pairs are ANDed.

[2015-01-20 17:05] erictune commented on #3629
Forked from #3623

[2015-01-20 17:07] erictune commented on #3623
I forked two issues.  I answered some questions.   I think that covers the questions in this issue.   Closing.  Feel free to reopen if I missed something.

[2015-01-20 17:07] #3623 closed

[2015-01-20 17:16] pmorie commented on #1627
Agree @thockin.  What's been discussed earlier in this issue (new Parameter resource with `map[string]string`) seems like it would be a good start to iterate on.

[2015-01-20 17:19] brendandburns commented on #3611
My bet is that its a blocked call to the Docker API, and dockerd itself is
the one holding the devicemapper.  We should audit, and make sure we're
setting timeouts on all of our calls to dockerd.

I can't think of anything else that we're doing that would be holding the
devicemapper (well, maybe mounting disks, but I think that isn't the case
here...)

On a side note, we should probably add some t

[2015-01-20 17:21] erictune commented on #1553
@thockin you have mentioned side-cars a couple of times.  Is there a general issue talking about whether we should use them?  I'm not sold on them yet, versus more narrowly-tailored mechanisms with more specific error handling, etc.

[2015-01-20 17:22] thockin commented on #3579
I'm not sure I quite get this.  Sadly, DNS config involves passing new flags to kubelets.  How does that happen from init.d?

[2015-01-20 17:23] brendandburns commented on #3216
Yeah, we may very well have the same problem in the controller-manager
watch code.  I will check it out.

--brendan

On Tue, Jan 20, 2015 at 8:29 AM, Josh Reichardt <notifications@github.com>
wrote:

[2015-01-20 17:28] zmerlynn commented on #3579
That part is still getting plumbed through salt. All this is doing is
handling the apiserver calls on the master rather than in kube-up.sh.
Essentially, the user has expressed a desired cluster configuration of
"ENABLE_CLUSTER_DNS", and the master (and salt config) then enforces it
rather than having the addon objects slapped on by the install client.

On Tue, Jan 20, 2015 at 9:22 AM, Tim Hockin <

[2015-01-20 17:29] dchen1107 commented on #3617
Which version of kubernetes / kubelet are you running?

[2015-01-20 17:29] dchen1107 commented on #3611
Which version of kubernetes / kubelet are you running?

[2015-01-20 17:34] Symmetric opened #3630 "vSphere process (from "getting started" guide) broken due to govc issues"
I tried following the "getting started" guide on my system (Ubuntu 14.04, vSphere 5.5 w/ vCenter), and hit numerous bugs in the govc module that prevented the vcenter provider from working.

I've raised bugs over at the govc project for these issues:
- [import.vmdk command](https://github.com/vmware/govmomi/issues/204) (can workaround this by manually importing the VMDK)
- [vm.create command](http

[2015-01-20 17:45] abonas commented on #3606
@thockin why is this issue closed - was the problem resolved in code? if yes, why the PR is not linked here?

[2015-01-20 17:46] abonas commented on #3622
but what about the other issue - missing info on ports/resources?

[2015-01-20 17:52] dghubble commented on #3557
This repeats over and over in the kubelet.log

    etcd DEBUG: Connecting to etcd: attempt1forkeys/registry/nodes/k8s-vulcan-node-3.c.MYCLUSTER.internal/boundpods?consistent=true&recursive=false&sorted=false
I0120 11:09:59.224489
    etcd DEBUG: send.request.to    http://10.240.176.72:4001/v2/keys/registry/nodes/k8s-vulcan-node-3.c.MYCLUSTER.internal/boundpods?consistent=true&recursive=false&sorte

[2015-01-20 17:53] josselin-c commented on #3401
@brendandburns did the kube-controller-manager log help you?

[2015-01-20 18:02] prateekarora151083 opened #3633 "kubernetes json format issue"
i want to execute command of docker container using kubernetes.

{
  "id": "hdfs-master",
  "kind": "Pod",
  "apiVersion": "v1beta1",
        "desiredState": {
           "manifest": {
           "version": "v1beta1",
           "id": "hdfs-master",
           "containers": [{
              "name": "hdfs-master",
              "image": "hadoop_hdfs",
              "command":[
                {"/et

[2015-01-20 18:06] jbeda commented on #3630
Assigning to @pietern.  Peter?

[2015-01-20 18:06] Symmetric opened #3634 "Local provider doesn't download or run docker nginx image"
Following the "locally" getting started guide, the kubecfg run command immediately returned the following output:

[code]

The 'dockerfile/nginx' image isn't in my 'docker images' output:

[code]
It does look like Kubernetes thinks the replicationController is running though:

[code]

[Here's a gist](https://gist.github.com/Symmetric/23858256c9a2f9bcd2de) containing the logs for this session

[2015-01-20 18:09] erictune commented on #3579
We want to start the scheduler and controller-manager in pods.  We should make sure the same solution works for those.

[2015-01-20 18:15] erictune commented on #3579
would the init.d script be run-once?  Or would it keep trying to ensure that the objects from the tarball exist on the master with the right values?

If the former, then users can later delete modify/pods and bork the system, resulting in more support overhead.  We could potentially put those pods in a special namespace for system services which the admin account does not have permission to modify

[2015-01-20 18:17] erictune commented on #3579
I don't understand the "load deferred installation into a container".  What starts that container?  There has to be a list of containers to start initially, and there has to be something with permission to start that pod.  The init.d running on the master seems like a fine way to do that.

[2015-01-20 18:18] kmerker opened #3635 "Collect & publish crash report data"
Allow k8s users to opt in to crash & error collection, and publish the data back to github as new issues or in some other collection form. This would allow us to see real-world usage trends that may not appear as bug reports. I can help with the privacy policy.

[2015-01-20 18:21] erictune commented on #3579
For the firewall-rules: should these be automatically created by the master based on attributes of a service (and should there be a service for heapster @vishh ?)

[2015-01-20 18:26] bgrant0607 commented on #3622
/cc @dchen1107

[2015-01-20 18:28] erictune commented on #3633
I like to use the `jq` command to verify the syntax of my json.  It pretty-prints it if it is correct and has better error messages than kubectl.

For your example, I pasted your json into this command:
[code]
and got this error message
[code]

I fiddled around with it and got this, which should work:
[code]

[2015-01-20 18:28] #3633 closed

[2015-01-20 18:29] dchen1107 commented on #3617
Ok I could re-produce the issue on aufs from HEAD:

when kubelet is running:
[code]
After I stopped kubelet process, every runs fine.  I am going to mark this as P0, and assign it to myself.

[2015-01-20 18:30] zmerlynn commented on #3579
@erictune: It's currently run-once. The intent is to put them in separate namespaces to prevent deletion later, and also to make this into a loop that continually enforces that the objects are around with the right values. (The current `kube-up.sh` is run once, too.)

[2015-01-20 18:30] bgrant0607 commented on #3622
Yes, status should not be a map.

[2015-01-20 18:31] zmerlynn commented on #3579
@erictune: If we load the deferred install into a container, there's a still a chicken-egg, yes. I'm actually not completely sold on the complexity of phase 2, either.

[2015-01-20 18:32] markllama commented on #3611
@erictune I'm not quite sure how to "grab /proc/$pid/stacks for all kubelet and dockerd threads (ps -eLf)."

- with dockerd and kubelet running
  - snapshot???
  - docker pull fedora:20
  - snapshot???

@dchen1107 it's been occurring since a commit on Dec 20 2014.  I'm slicing now to try to find two commits in a row with pass -> fail.

[2015-01-20 18:34] bgrant0607 commented on #3622
@abonas What info would you like to see about ports?

We plan to introduce a separate API for resource information. See the section about usage here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/resources.md

/cc @rjnagal

[2015-01-20 18:35] zmerlynn commented on #3579
@erictune: And yeah, I would hope we could create firewall rules based on the attributes of the service. We have the scopes for it. I'm still investigating this part, as was @cjcullen. That part is somewhat speculative at this part.

[2015-01-20 18:36] prateekarora151083 commented on #3633
Thanks my issue is resolved now

On Tue, Jan 20, 2015 at 10:29 AM, Eric Tune <notifications@github.com>
wrote:

[2015-01-20 18:39] vishh commented on #3579
@erictune: A service for 'heapster' itself will be added soon which will most likely not need a firewall rule. There are two other services for monitoring that require firewall rules. We can get rid of these firewall rules once the proxy on the apiserver works for Grafana.
The firewall rules are required to enable access to hostPort's of a Pod. If we were to infer them, we would have to do that fr

[2015-01-20 18:41] erictune commented on #3579
@zmerlynn is there an issue about services creating firewalls, and if not
would you feel up to filing one?

On Tue, Jan 20, 2015 at 10:40 AM, Vish Kannan <notifications@github.com>
wrote:

[2015-01-20 18:45] bgrant0607 commented on #2585
@pmorie Endpoints would still exist. See my comments in favor of Endpoints in this issue: https://github.com/GoogleCloudPlatform/kubernetes/issues/3215#issuecomment-68967301

Sorry, yes, TargetAddresses would refer to EndpointsSpec, whereas TargetAddressesRef would refer to Endpoints.

[2015-01-20 18:54] erictune commented on #3611
@markllama I think my request is obsolete now that @dchen1107 has done a repro.  But, what I meant was something like this as root on your kubelet machine:
[code]

[2015-01-20 18:54] zmerlynn opened #3636 "Services should not create their own firewall rules"
Fallout from https://github.com/GoogleCloudPlatform/kubernetes/issues/3579#issuecomment-70707833 and #3601: It would be nice if services could create their own firewalls rules. This is the last remaining wart on #3601 that prevents all the "add on objects" from just getting created by the master after cluster creation.

cc @cjcullen

[2015-01-20 18:55] zmerlynn commented on #3579
@erictune: created #3636

[2015-01-20 18:57] erictune commented on #3636
@thockin

[2015-01-20 18:57] dchen1107 commented on #3611
@markllama, thanks for prompt response.

I just updated #3617 with my latest reproduce on aufs. I highly suspect they are the same issue caused by Image GC recently introduced. And you mentioned that the issue started occurring since Dec 20 2014,  which kindly prove my hyperthesis since I remembered Image GC was introduced around the same time.

[2015-01-20 18:58] thockin opened #3638 "No validation for Events?"
I find no validation logic for event objects

[2015-01-20 19:07] dchen1107 commented on #3611
Ok, I believe this is dup of #3617, and will update over there together.

[2015-01-20 19:07] #3611 closed

[2015-01-20 19:17] erictune commented on #3604
I think you should have one cluster for each availability zone that you want to be in.  Each cluster has its own apiserver (a.k.a. master).   This is not overkill in my view, for a couple of reasons:
  - operational cost (your time) will likely exceed cost for the extra VMs.  Having completely independent clusters will be simpler operationally than shared-master but partitioned-minions.
  - the lo

[2015-01-20 19:18] erictune commented on #3604
I don't know enough about amazon's networking to say what cluster-per-availability-zone implies for subnets.

[2015-01-20 19:28] smarterclayton commented on #2585
How are we going to fix Selector to use the full label selector syntax?  Is it going to be key = "label", value = "operator / requirement"?

[2015-01-20 19:33] erictune commented on #3604
I think the second big bullet is saying that you might want to have two clusters in an availability zone: one which runs pods that don't need to talk to the internet and another cluster which does.  Yes, that is a reasonable approach for now.  Eventually, I think we hope to have a way to have different classes of minions in the same cluster, so that you could have an apiserver in the management su

[2015-01-20 19:33] dchen1107 commented on #3617
Ok, I think I know the root cause of the issue here. Actually it is indeed caused by Image GC collection (#3097) we introduced recently.

Current support of gc of image depending on docker's "dangling=true", which gives us a wrong set unused images on a node. Instead it only returns a list of image layers without tag. When a image is pulling, all layers are untagged initially, then tagged later. I

[2015-01-20 19:35] dchen1107 commented on #3617
#3632 is trying to disable garbage collection temporarily.

[2015-01-20 19:37] erictune commented on #3212
That is weird about the empty service.  If it is really bugging you I can walk you through how to fine the offending key in etcd and delete it.  That would probably fix the problem.

[2015-01-20 19:38] thockin commented on #3636
I am torn on this one.  I am not actually convinced that we should be
opening firewall rules at all.  I understand this becomes "friction", but
tat the same time, it is a liability that we're opting users into.  I want
to fall on the side of caution.

@vishh @satnam6502 - what if we didn't open firewall rules by default, but
just printed a link or instructions or something?

On Tue, Jan 20, 2015 a

[2015-01-20 19:40] thockin commented on #3638
@saad-ali

[2015-01-20 19:43] erictune commented on #3525
There are going to be customers that want to use salt or ansible or chef or puppet or whatever they are used to to configure their machines.  We don't have to support all those tools, but we do have to make sure that we don't make our setup so automagic that users can't understand it or tweak flags.  So, proceed with babysteps on this issue.

[2015-01-20 19:43] mrunalp commented on #1615
@thockin Just starting to work on this. Any suggestions for docker name?

[2015-01-20 19:43] smarterclayton commented on #2316
So.... how do we feel about:

[code]

Still need noodle time?  I certainly feel more comfortable with both.

[2015-01-20 19:44] satnam6502 commented on #3636
We would have to print different instructions for each provider, right?
Sure, we could print the instructions or even generate a script that the user could run or modify and run.
Not such a great out of the box experience, but perhaps the least worst option right now.

[2015-01-20 19:46] satnam6502 commented on #3636
Also, note that right now the cluster level logging prints out a URL for the log information that can be accessed by anyone (it is not username/password protected like the monitoring dashboard). This is a temporary measure while the service proxy route is worked out / implemented but we should be aware of the issues this poses.

[2015-01-20 19:47] thockin commented on #3636
I am just concerned that a bug or 'sploit in one of these services would be
really bad, especially if the user did not realize it was exposed.

On Tue, Jan 20, 2015 at 11:44 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-01-20 19:54] zmerlynn commented on #3636
It's already bad. :/ The master has the scopes to do it today, there's not
a whole lot stopping a dedicated attacker. Is your argument that you're
giving them a faster playbook?

On Tue, Jan 20, 2015 at 11:48 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-20 19:55] zmerlynn commented on #3636
Oh, sorry. In one of the exposed services, not an attack on the master
itself.

On Tue, Jan 20, 2015 at 11:54 AM, Zachary Loafman <zml@google.com> wrote:

[2015-01-20 20:29] bgrant0607 commented on #1519
I'm willing to punt on `s/Container/ContainerSpec/g`. None of our subobjects (Volume, VolumeSpec, ...) adhere to this convention. The status objects do/will. Maybe that's good enough.

[2015-01-20 20:42] smreed opened #3640 "Round robin load balancer can overwhelm first pod behind service"
This is particularly easy to do with a new cluster.

Create a service `S` and deploy `N` pods behind it. Start up `M` pods which create a persistent connection to service `S`.

Because the round robin load balancer always starts at the 0th endpoint, and the endpoint list is consistent cluster-wide, you will see that you now have `M` connections to Pod 1, and 0 connections to all other pods 2 throu

[2015-01-20 20:59] erictune commented on #473
ip allocator could instead be a "finalizer"?

[2015-01-20 21:00] erictune commented on #473
finalizers :arrow_right:  #3585

[2015-01-20 21:02] smarterclayton commented on #473
Yeah - clients would look at Service.Status.ServiceIP, and would say "service not ready" until it had an IP.

----- Original Message -----

[2015-01-20 21:08] timothysc commented on #3566
@erictune, are you planning to remove etcd.go from the kubelet?

[2015-01-20 21:16] smreed commented on #3640
I'm working on a PR for this, and the unit tests need a ton of changes. Before I spend too much time, does this seem like a decent solution? Or would the project maintainers rather solve this in another way?

[2015-01-20 21:18] bgrant0607 commented on #3640
I'd go farther and suggest the list be randomly shuffled.

[2015-01-20 21:19] bgrant0607 commented on #3640
http://golang.org/pkg/math/rand/#Perm

[2015-01-20 21:21] erictune commented on #3476
I suggest you do step 4 first.  That has the most clear value to everyone and the least potential for debate.

It has these sub-items, I think:
 - add a flag to tell the apiserver what etcd prefix to use for new data.  Initially this is not interpreted to have any format, but it could well default to `/kubernetes.io/defaultclusterid/`, and be overriden by you as needed.
 - add a flag to tell the a

[2015-01-20 21:22] smreed commented on #3640
Sounds good. I'll give this a shot. The unit tests currently expect a specific order, they'll have to change to simply ensure each endpoint gets returned every round.

[2015-01-20 21:31] erictune commented on #3638
Did you see pkg/api/validation/events.go?

[2015-01-20 21:50] dcarney opened #3643 "GCE: Reduce the frequency of calls to "compute.instances.get" API"
The current default free quota for requests to the GCE API is 250,000 requests/day.

We're finding that we easily exceed that when attempting to run a k8s cluster with 20 or more minions.

Some numbers for reference (pulled from the GCE console):

20 minions ~ 3.2 /sec ~ 276K requests/day to "compute.instances.get", which exceeds the daily quota
12 minions ~ 2.1 /sec ~ 181K requests/day

We're run

[2015-01-20 21:59] jbeda commented on #3580
Also breaks `test/e2e/cluster_dns.go`.

[2015-01-20 22:00] nikhiljindal opened #3644 "Remove /operations"
As per @smarterclayton's comment https://github.com/GoogleCloudPlatform/kubernetes/pull/3548#issuecomment-70715714, "Operations should be removed altogether."

@smarterclayton: Can you please clarify why is it not required anymore?
It seems to be used for listing the ongoing actions on the server.

[2015-01-20 22:03] brendandburns commented on #3604
Actually, if you were willing to label your minion nodes appropriately, I
think that we could handle scheduling across one class of machines that can
see the external internet, and one class of machines that can't.

However, I would say that more broadly, it's actually better if _none_ of
the worker nodes can actually see the external internet, and the only
access that occurs is mediated through a

[2015-01-20 22:05] dchen1107 commented on #3484
@nikhiljindal Can you take a look at this? Feel free to reassign it back to me.

[2015-01-20 22:07] #3617 closed

[2015-01-20 22:15] erictune commented on #3644
@nikhiljindal feel free to assign to yourself if you plan to work on this.

[2015-01-20 22:20] bgrant0607 commented on #1519
Re.: Solve merging a v1beta1 PUT on an existing v1beta3 object

I'm willing to call this user error for now. I'd like to get rid of v1beta1.

Longer term, I like the idea of storing fields that are unrepresented in a particular API version in annotations.

[2015-01-20 22:21] smarterclayton commented on #3644
We reached agreement at the last Kube face to face that the original design (that operations could be long running on the apiserver, so we need to track them) would be better accomplished by a) controller loops and status on the objects, and b) breaking actions up to never be long running.  In that world, we do not need operations because no operation can be slow.  @brendandburns / @lavalamp just

[2015-01-20 22:21] erictune commented on #3643
@ddysher can you look at the minion controller and see if it is doing anything silly that might cause it to send so many requests?

[2015-01-20 22:27] erictune commented on #3643
Hmm.  thinking about this more, if the rate is higher with more minions, then this may be something on the minions rather than in controller manager.  I'll take a look.

[2015-01-20 22:28] dchen1107 commented on #3484
Ahh, I didn't realize that Eric already has a PR for this, and the original code was written by me anyway. Reassign it back myself.

[2015-01-20 22:28] erictune commented on #3643
The three places I can see we call compute.instances.get are in `Instances.GetNodeResources`, `Instances.IPAddress` and `Instances.AttachDisk`.

[2015-01-20 22:35] erictune commented on #3643
worklog:
`GetNodeResources` just gets called from `cloudNodes` in `pkg/cloudprovider/controller/nodecontroller.go`.
which is called by `SyncCloud` in that file.
which is called in a `util.Forever` loop in that file with period of every 10 seconds.
So, unless the period is somehow wrong, that doesn't seem like it would be the problem.

[2015-01-20 22:38] smarterclayton commented on #1519
Fine with me.

----- Original Message -----

[2015-01-20 22:39] erictune commented on #3643
`IPAddress` is used by nodecontroller in the same 10-second loop.

[2015-01-20 22:40] dcarney commented on #3643
I think we're doing the exact same grepping.  :-)

[2015-01-20 22:40] vishh commented on #3636
@thockin: In the case of monitoring a firewall rule would not be necessary if the apiserver proxy were to be working for Grafana. What is our long term answer to user facing applications?

[2015-01-20 22:41] erictune commented on #3643
I take back what I said before.
At 24 hours a day, 60 minutes an hour, and 6 10-second periods per hour, that would be 8640 `SyncCloud` calls per day.
At 20 minions, with one call to IPAddress and one to GetNodeResources resulting in 2 calls each, you get 345600 calls per day.  That is significant.

[2015-01-20 22:43] vishh commented on #1615
@mrunalp: Unassigned myself since you are working on this. Feel free to reach out if I can be of any help!

[2015-01-20 22:44] erictune commented on #3643
The quickest thing would be for me to put together a PR to make the period flag controllable in cmd/kube-controller-manager/controller-manager.go.

[2015-01-20 22:45] thockin commented on #3636
Long term it needs to be relatively simple, but I don't know how far
outside the kubernetes cluster boundary we want to reach.  Firewall is
pretty far outside.

On Tue, Jan 20, 2015 at 2:41 PM, Vish Kannan <notifications@github.com>
wrote:

[2015-01-20 22:45] dchen1107 opened #3649 "Container GC shouldn't remove the first crashed container"
Current container GC has a configurable cap (default: 5) per container spec. If a restart count hit to 5, Kubelet tries to delete old containers solely based on timestamps. But from my experience on Google internal system, there are three information are the most important for users:

1) the first crash
2) the last recent crash
3) number of crash: indicate if it is a transient issue or a crash loo

[2015-01-20 22:49] erictune commented on #3643
The one concern I have about lowering that rate is that if we make it wait, say, 60 seconds between `SyncCloud` calls, then will it take up to a minute for a cluster to come up?  That would be bad for our e2e testing.

Possible improvements:
  - gradually increase period from 10s to 60s after restart of node controller.
  - keep listing 10-second-ly, but if the list of names is the same, then only

[2015-01-20 22:50] erictune commented on #3643
@dcarney if I put together a PR, are you readily able to build and deploy a binary from head to verify the fix?

[2015-01-20 22:57] bgrant0607 commented on #2518
@smarterclayton Are you actively working on this (and/or #3084)? Since it's one of the last open v1beta3 issues, I'd like to get it in soon. @nikhiljindal could write the PR if you'd be willing to review.

Also, do you have a solution in mind?

[2015-01-20 22:59] erictune commented on #3643
`IPAddress` also gets called by the apiserver's `NewIPCache` 30-secondly.  That would account for 57600 calls per day at 20 minions.

[2015-01-20 23:00] thockin commented on #1615
Let's not add a new field in the name.  Maybe change:

[code]

to

[code]

[2015-01-20 23:03] dcarney commented on #3643
@erictune Sure.  I'll have to coordinate the cluster downtime/switchover (since it's a working cluster) to test it out.

[2015-01-20 23:05] erictune commented on #3643
The `AttachDisk` does not appear to do a get in the normal case.  If could do a lot of some minions were stuck in loops where they repeatedly failed to attach PDs.  Assume that isn't the case right now.

[2015-01-20 23:07] pires commented on #3476
Great suggestion, @erictune. I'd really like to contribute this but atm I don't know the code organization and my Go knowledge is nil.
Would anyone be interested in guiding me through the obstacles as they come by? If yes, I'm all in as I'd enjoy contributing more than just doc/script updates.

[2015-01-20 23:09] dcarney commented on #3643
@erictune Correct.  The PDs we do have in the cluster right now are successfully attached.

[2015-01-20 23:10] mrunalp commented on #1615
@thockin That sounds good to me.
BTW, go-dockerclient doesn't have support for specifying IpcMode, so I will take a detour to go fix that first.

@vishh Thanks! I will ping you if I need any help.

[2015-01-20 23:12] bgrant0607 commented on #3649
I agree.

[2015-01-20 23:14] #3484 closed

[2015-01-20 23:25] smarterclayton commented on #2518
I had thought about it, but not started working.

The larger option in my head was to upgrade scheme to define mappings between structure locations for conversion (which would be useful later for limiting the number of conversion functions we need), and then building out a total mapping.

    every version to internal, then reverse
      map[string]string{
        "id": "metadata.name",
        "c

[2015-01-20 23:34] erictune commented on #3643
Thinking about this more, I think a flag is a good fix for the near future:
  - longer lags make debugging harder.  better to at least make it more obvious when a longer lag is introduced.
  -  changing the check interval will interact with any horizontal or vertical auto-scaling that may be added in the future, as well as dealing with node reboots, device attaches, etc.  It is not obvious that li

[2015-01-20 23:34] Fandekasp commented on #3617
thank you @dchen1107  !

[2015-01-20 23:34] erictune commented on #3643
I'll get to this later today or tomorrow.

[2015-01-20 23:41] bgrant0607 commented on #2518
@smarterclayton Thanks. I'd prefer to start with something narrow and iterate, if possible. For example, start with just supporting conversion for the current set of selectable fields:

[2015-01-20 23:52] bgrant0607 commented on #3644
We do need to satisfy the use cases described in #1899. However, we did agree that operations as currently implemented are not useful (they don't wait for the conditions deployment tools and/or users care about), not reliable (they aren't persisted),  and not friendly to replication or sharding (since they are server-local). I'm also not sure they are currently compatible with namespaces. So, I'm

[2015-01-20 23:53] bgrant0607 commented on #3644
Removing operations would also address one of the inconsistencies in the API (#2740).

[2015-01-20 23:53] mrunalp commented on #1615
https://github.com/fsouza/go-dockerclient/pull/205

[2015-01-20 23:57] rgolg commented on #3604
Thanks for your response Eric and Brendan.

Eric:
Your last comment is along the same lines of what I was thinking. In our architecture the only things that are allowed to reside in the public subnets are reverse proxies (gateways). There sole purpose is to route inbound calls to the services in the private cluster.

Brendan:
The minions/containers in the private cluster will "see" the internet th

[2015-01-21 00:07] erictune commented on #2585
#3627 is an issue about @smarterclayton last comment.

[2015-01-21 00:08] #3638 closed

[2015-01-21 00:09] erictune commented on #3638
feel free to reopen if that doesn't do what you want.

[2015-01-21 00:13] erictune commented on #3566
Yes, after converting the most-used config files and sending a warning email.

[2015-01-21 00:18] bgrant0607 opened #3652 "Resolve the form of special "verbs" in the api for v1beta3"
Currently, we support custom "verbs" such as proxy, redirect, and watch. These prefix the object paths, such as /api/v1beta1/watch/... (Note that proxy doesn't follow the actual path convention: api/v1beta1/proxy/minion/minion1:10250 -- note that minion is singular, and the port number.) See #3548 and #3612 for more examples.

More verbs are proposed, such as stop (#1535), resize (#1629), and clon

[2015-01-21 00:19] smarterclayton commented on #2518
Certainly reasonable - the gap we originally had was error messages and validation - field selectors are really important to a UI so we need some variant of that in Openshift before we GA.  But we can always build that underneath an abstraction later.

[2015-01-21 00:22] erictune commented on #3636
If I don't have an external load balancer, and I just want to expose a service to the internet, should I be able to do that?  If so, won't I need to add a firewall rule for that?  How is a firewall rule a different security story than automatically creating an external load balancer?

[2015-01-21 00:25] zmerlynn commented on #3636
+1 to Eric's question. It's actually weird that we do one and not the other.

On Tue, Jan 20, 2015, 16:23 Eric Tune <notifications@github.com> wrote:

[2015-01-21 00:31] smarterclayton commented on #3644
Also not secure (leak information if you can guess operation id).

[2015-01-21 00:33] ddysher commented on #3643
@erictune I think flag controlled period works for now, do you want me to put a PR for this?

The syncing procedure will 1. monitor the number of minions in cluster, and 2. keep their info up to date.  The first function should have a higher priority for k8s to be responsive, and the second one is not that important as a node resources / ipaddress won't that so frequent.

Apart from flag control,

[2015-01-21 00:33] bgrant0607 commented on #3627
Dupe of #341 (yes, 3 digit issue).

[2015-01-21 00:33] #3627 closed

[2015-01-21 00:36] bgrant0607 commented on #2585
@smarterclayton What do you think about a structured json representation of the types in https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/labels/selector.go? We could add a Selector type (#1303) that supported both the existing simple exact-match form and, optionally, the more powerful structured form.

[2015-01-21 00:37] erictune commented on #3604
My intuition is that a flatter network would be better.   If you want to be more precise, then we probably need to define what security goals you have, and compare how those would be met with subnets versus kubernetes-level and application-level security.

Regarding auto-scaling:  The way I'd thought about it, you'd fix the number of clusters you need initially based on availability, latency and s

[2015-01-21 00:38] erictune commented on #3604
We intend for kubernetes to be able to scale up to large numbers of nodes, so you should not have to add clusters due to node count, unless you are a really really big user.

[2015-01-21 00:42] jbeda opened #3655 "services.sh e2e test is busted with Vagrant"
It looks like the network is broken in some way that is non-obvious.  I spent most of a day digging in and without deeper OVS knowledge, I'm not sure what is going on.

Perhaps we want to switch to flannel here for networking?  It'd be simpler to set up.

I'm going to disable the test for vagrant as part of #3530.

[2015-01-21 00:42] dchen1107 commented on #3635
#3500 proposed to add kubectl dump command.

[2015-01-21 00:46] erictune commented on #3643
Yes, please do put out a PR for just the flag to stop the hurting.  And
then let's talk with internal folks about what the prospects are for higher
quota or watch,  And then design something smarter in the minion controller
if necessary.

On Tue, Jan 20, 2015 at 4:34 PM, Deyuan Deng <notifications@github.com>
wrote:

[2015-01-21 00:49] thockin commented on #3655
I ran into this same issue with the spanning-tree propagation delay in OVS.

On Tue, Jan 20, 2015 at 4:42 PM, Joe Beda <notifications@github.com> wrote:

[2015-01-21 00:58] thockin commented on #3638
Sorry - looked for it in the wrong place

On Tue, Jan 20, 2015 at 4:09 PM, Eric Tune <notifications@github.com> wrote:

[2015-01-21 01:00] ddysher commented on #3643
SGTM

[2015-01-21 01:03] rgolg commented on #3604
I agree with the flat network.

I have to disagree with that scaling approach. If we are going to pre-provision a fixed number of cluster with the right size ahead of time, then we are over-provisioning initially to allow for future load. Sounds a lot like what we used to do in the data center. This would definitely defeat the purpose. What does a fixed number of clusters really mean in terms of A

[2015-01-21 01:03] dchen1107 commented on #3391
assign it to myself. Will take a look now.

[2015-01-21 01:16] thockin commented on #2316
To be clear:

Command = ENTRYPOINT
Args = CMD

?

On Tue, Jan 20, 2015 at 11:44 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-21 01:17] bgrant0607 commented on #2483
Some additional thoughts:

Kubelet will need to be able to run api validation, defaulting (e.g., pullPolicy), and conversion code.

I'd eventually like to be able to point kubectl at a kubelet (if authorized).

A pod started directly on a Kubelet should be basically the same as one started via the apisever.

[2015-01-21 01:33] thockin commented on #3606
I closed this because #3628 is an umbrella that includes the documentation issue in v1beta3 and the defaulting issue is covered by #1502.  Unless I am missing something, this issue is a dup (a double dup!).  Did I miss something?

[2015-01-21 01:38] bgrant0607 commented on #1768
Note that the guestbook example use the convention of a `uses` label:
https://github.com/GoogleCloudPlatform/kubernetes/search?utf8=%E2%9C%93&q=uses+language%3Ajson+language%3Ayaml&type=Code

I'm not too keen on that approach. If an object name, an annotation would be better. Annotations could be understood by deployment tools, the CLI, and UIs, without being understood by the system, and could be

[2015-01-21 01:38] bgrant0607 commented on #1768
Sorry: @pmorie See my previous comment. For creation order, yes.

[2015-01-21 01:47] dchen1107 commented on #2483
I believe the lastest kubelet already run validation, but without conversion code. I made a similar comment for #3584

cc/ @thockin

[2015-01-21 02:17] rgolg commented on #3604
I'm still thinking about this about pre-provisioning the clusters vs auto-scaling the clusters. Maybe its not such a big deal starting with a fixed number of clusters. Come to think of it when we create a subnet in AWS we are really pre-provisioning a limited address space. The difference being with the subnet I know exactly how many IP addresses I'm "reserving." Also, at least in AWS there is no

[2015-01-21 03:06] bgrant0607 commented on #2316
That works with me.

[2015-01-21 03:16] resouer commented on #3621
@thockin
`In the future, pods will share IPC namespaces, CPU, and memory (LPC2013).`

So in current stage, kuber only share net namespace to "hold the network" by setup network container, but why do we still wanna to share cpu, memory, etc namespaces?

My understanding is that thus we can  allocate resource (like 4G MEM) with two tasks T1 (1G) and T2 (3G), furthermore, we can allocate task by its

[2015-01-21 03:38] brendandburns commented on #3649
sgtm.
On Jan 20, 2015 3:12 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-01-21 03:46] thockin commented on #3621
Putting containers under a common parent (ie. A cgroup for the pod) let's
you do things like share some memory between containers without going over
a common limit.

There are all sorts of ways this can be useful in a world where EVERYTHING
has limit applied.
On Jan 20, 2015 7:16 PM, "Harry Zhang" <notifications@github.com> wrote:

[2015-01-21 04:04] smarterclayton commented on #2316
It still doesn't solve the "easy" ENV substitution, since I can't reuse the entrypoint from the pod without knowing it up front (the only way to add that is via the run command itself).

[2015-01-21 04:07] smarterclayton commented on #2316
Args I think is "passed to docker as true args", we default Cmd if not set in pod or image entrypoint to /bin/sh -c.

Feel like I need to go back to the table....

[2015-01-21 04:16] thockin commented on #2316
I'd rather avoid any sh -c mess, if we can...

On Tue, Jan 20, 2015 at 8:07 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-01-21 04:27] resouer commented on #3621
@thockin So the only question is then why kuber try to share cpu mem etc in the future?

[2015-01-21 04:32] thockin commented on #2631
Fixed

[2015-01-21 04:32] #2631 closed

[2015-01-21 04:32] thockin commented on #3202
The main point of this is now fixed, though we could be better about input checking all over

[2015-01-21 04:32] #3202 closed

[2015-01-21 04:33] #3249 closed

[2015-01-21 04:33] thockin commented on #3307
@vishh since you're touching resource names.

[2015-01-21 04:33] derekwaynecarr commented on #3655
@smarterclayton - is Mrunal the right person to help here?

Sent from my iPhone

[2015-01-21 04:38] thockin commented on #1838
How many back-versions of docker do we want to be compatible with?  Current + 2 sounds reasonable to me.

[2015-01-21 04:40] brendandburns commented on #3621
There are a number of use cases where you want to restrict the total amount
of resources a group of containers consume, but leave it to the individual
containers to sort things out.  For example, you may want your main server
to have 2.0 cores, but then have an extra 0.5 cores left around for
multiple auxillary processes to use without having to give resources to all
auxillary processes.

So you r

[2015-01-21 04:40] thockin commented on #1987
I no longer think this is worthwhile

[2015-01-21 04:40] #1987 closed

[2015-01-21 04:46] thockin commented on #3621
Right - static apportionment is naturally inefficient.  Many apps inside Google make great use of a hard limit for the pod, but softer limits for the containers within.

A hard outer shell and a gooey center, you might say.

That's not to say you can't set up limits for the containers such that they don't impact each other - we also make great use of that.  There are a lot of different apps out th

[2015-01-21 04:46] #3621 closed

[2015-01-21 04:55] smarterclayton commented on #3655
Yes, or @rajatchopra

[2015-01-21 05:01] derekwaynecarr commented on #3652
Doesn't this make the verb names invalid resource names?

For example,

/api/v1beta3/ns/default/pods/watch

Am I asking for a pod named watch or am I watching all pods in the default namespace?

Or maybe I misunderstand example, but if you are suggesting

/api/v1beta3/ns/default/pods/methods/watch

Am I watching for changes to the pod named methods or for all pods in namespace?

Sent from my iPhon

[2015-01-21 05:09] thockin opened #3665 "contrib code is bitrotting"
Code under contrib/ is not tested nor even rebuilt regularly.   As a result, things like golang 1.4 breaking static builds and API changes cause it not to work.

As of now, nothing using CGO_ENABLED=0 for static builds works and contrib/for-tests/network-tester does not compile.

[2015-01-21 05:11] derekwaynecarr commented on #3476
We need a configurable etcd prefix as well.  Something like this is on my roadmap to do in a few weeks time, but I would love assistance if you want to get started.

Feel free to reach out to me as needed.

Sent from my iPhone

[2015-01-21 05:35] bgrant0607 commented on #3652
@derekwaynecarr Fair point. Currently they conflict with object Kinds, which are less numerous and under our control. We could insert a character that couldn't be used in object names but is legal in URLs. For example:
`/api/v1beta3/ns/default/pods/~/watch`

That said, I have to admit that watch, proxy, and redirect have a very different flavor than stop, resize, and clone. Maybe it makes sense to

[2015-01-21 06:06] sourav82 commented on #3212
Thanks @erictune. After installing latest kubernetes-mesos framework the issue with empty service is no more. Now it is working fine and also able to find kubernetes minions properly.

[2015-01-21 06:08] resouer commented on #3621
@thockin @brendandburns  Thanks a lot, especially for your example, I think I have got the idea finally.

[2015-01-21 07:43] pmorie commented on #1553
@thockin I'm interested to hear more about side-cars.  I also think a higher level mechanism than the kubelet (in my context specifically, I'm thinking about OpenShift deployments) could handle injection (whatever method of receiving config info the user selects) in which case the kubelet wouldn't necessarily have to do anything.

[2015-01-21 07:52] pmorie commented on #1768
@bgrant0607 I had noticed that in the guestbook and still wonder what the value-add of it is relative to that example.

[2015-01-21 08:00] bgrant0607 opened #3667 "Retry rate limiter rejections"
Kubernetes rate-limits read-only requests and returns 503 when the rate is exceeded:
https://github.com/GoogleCloudPlatform/kubernetes/blob/3ade280f8981a6954065c63c3f16fe42ab2169d0/pkg/apiserver/handlers.go#L68

Sometimes e2e fails due to rejections, and rejections are a pain for clients. For instance, we wouldn't want kubectl to fail due to this.

The server should add a Retry-After header, and t

[2015-01-21 09:41] abonas commented on #3623
@erictune I tried to use the endpoints api:
http://localhost:8080/api/v1beta3/ns/default/endpoints/redis-master
the pod_ip is really inconvenient to work with to resolve it to pod id/name.

The other procedure you specified, when you say it's untested, does that mean that I completely can't rely on it? so it might completely not work but also be removed ?

How clients are supposed to visualize the

[2015-01-21 09:44] abonas commented on #3622
@bgrant0607 when I query for pod information and its containers, it's important to see what's going on with them in runtime. so if spec was ports XYZ, cpu A and memory B, I would like to see if indeed it matches the spec or is different. were the ports allocated? same ports? different ports?
otherwise, having only the spec information, there's nothing user can do to monitor/manage the runtime.

[2015-01-21 09:45] abonas commented on #3622
also, having an additional api means it's requiring more requests to server, more merging work and resolving relationships on client side. not very convenient for clients.

[2015-01-21 09:49] abonas commented on #3606
@thockin , #1502 is not a pull request, it's a design discussion from which it's unclear when and how it will be resolved. From my point of view as a client of the api, getting an empty property is a bug. clients shouldn't populate properties after GET  and guess what should be there.   If the other issue is differently solved, and this one is closed, it is not resolving this issue.

[2015-01-21 10:14] abonas commented on #3623
so @erictune I would reopen this issue regarding being able to get pods followed by a service and get a standard way to get this information.
one of a standard ways to get it in REST is to have rel links to pods as part of the service json body.

[2015-01-21 10:16] abonas commented on #3622
I will open a separate issue on the ports missing info, and keep this one for the buggy status structure

[2015-01-21 10:17] abonas opened #3669 "REST api v3 in the "status" no info about ports, memory, cpu, etc. even when container is running."
forked from #3622

![podports](https://cloud.githubusercontent.com/assets/6277245/5834539/755ae1d2-a167-11e4-8801-23406a60096f.png)

[2015-01-21 11:35] Augi commented on #3419
Publish changes via [etcd](https://github.com/coreos/etcd) could be a good way.

[2015-01-21 12:12] simon3z commented on #3623
@erictune isn't getting the services and then getting the pods raceful? Can't the selector be changed on an existing service? Can't the labels be modified on a pod?

If it can, one inconsistency that I can think of is a pod that will appear in two different selectors queries because its label was changed during the two REST requests.

[2015-01-21 12:20] abonas opened #3670 "Announce that v1beta1 and v1beta2 are going away when v1beta3 is exposed by default"
it's impossible to GET replication controllers on v3. on v1 on the same server it works fine.

example request: GET on http://localhost:8080/api/v1beta3/replicationControllers returns 404

http://localhost:8080/api/v1beta1/replicationControllers returns 200

[2015-01-21 12:27] abonas opened #3671 "Convert all API documentation and examples to v1beta3"
similar to guestbook intended for v1, v3 also needs example json for all entity types

[2015-01-21 12:45] stefwalter commented on #2828
Sorry for the delay, but my kubernetes setup has gone completely crazy. it has phantom minions that it's trying to connect to (as indicated in logs), but are not listed in 'kubectl get minions'. 'kubectl get pods' is failing with 'The requested resource does not exist.' ... anyway long story short I'm having a hard time figuring how to get it working again.

[2015-01-21 13:11] derekwaynecarr commented on #3670
v1beta3 moved to all lower case URL

Would give that a try first

Sent from my iPhone

[2015-01-21 13:19] pires commented on #3476
@derekwaynecarr thanks a lot. Will do.

[2015-01-21 13:22] abonas commented on #3670
looks like it's working. but it breaks backwards for clients who worked with v1.
For instance, in my gem https://github.com/abonas/kubeclient I can't now smoothly work with both versions because I need to treat the name of the resource differently.
why don't at least redirect those who call replicationControllers to the lowercase too?
Also, there's no way to know which resources are available and

[2015-01-21 14:02] smarterclayton commented on #3670
Because we are actively trying to drop support for mixed case prior to 1.0, I did not continue supporting the old url paths.  If you look at the go client, we have a "legacy" flag we use to control this and a few other behaviors.

[2015-01-21 14:05] abonas commented on #3670
@smarterclayton well yes, but breaking backwards creates more work for the users... more "if this version ..." kind of stuff.

[2015-01-21 14:20] stefwalter commented on #2828
@lavalamp I just managed to upgrade to 68298f0 (post 0.8) ... and cannot duplicate this anymore.

[2015-01-21 14:30] smarterclayton commented on #3670
We got v1bet1/2 wrong and don't want to carry it forever.  Stopping it early before v1 is our priority.

[2015-01-21 14:59] abonas commented on #3670
@smarterclayton ok :(
are the REST apis going through any kind of design review or code review?

[2015-01-21 15:02] bgrant0607 commented on #3670
@abonas v1beta1 is really an alpha quality API. It grew organically and did not go through any kind of design review, as evidenced by the many issues you've filed. We want to get rid of it ASAP. We intend v1beta3 to be the "release candidate" for the v1 API, which will be the stable API.

As for knowing what exists, you can now browse `/swagger-ui` or GET `/swaggerapi/api/v1beta3`. Additionally, p

[2015-01-21 15:05] abonas commented on #3670
@bgrant0607  thanks. will check swagger for now

[2015-01-21 15:05] abonas opened #3673 "REST api v3 - Was resourceVersion changed from numeric to string on purpose?"

[2015-01-21 15:05] bgrant0607 commented on #3671
Known issue.

Ref #1519

/cc @eparis

[2015-01-21 15:07] bgrant0607 commented on #3673
Yes. It was already documented this way in api-conventions.md.

[2015-01-21 15:07] #3673 closed

[2015-01-21 15:09] bgrant0607 commented on #3669
Copied from the other issue:

@abonas What info would you like to see about ports?

We plan to introduce a separate API for resource information. See the section about usage here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/resources.md

/cc @rjnagal @dchen1107

[2015-01-21 15:11] bgrant0607 commented on #3419
This is #1607.

[2015-01-21 15:11] #3419 closed

[2015-01-21 15:13] erictune commented on #3623
@abonas
What I meant when I said the procedure was "untested" is that I didn't actually execute the command that I suggested against my cluster.  It may container a typo.     However, you can rely on that command, or a typo-corrected version of it, to work as long as v1beta3 is supported by your apiserver, and probably much longer, with a tweak to the api version portion of the URLs.

[2015-01-21 15:13] bgrant0607 commented on #3606
The defaulting PR was merged yesterday. Re-opened just for documentation.

[2015-01-21 15:14] smarterclayton commented on #3652
I think having seen a lot of other attempts to make this work.... that treating them higher in the chain actually makes it cleaner in the long run.  They look a bit out of place, but if HTTP clients and servers supported truly flexible verbs we would use them for this.  In the meantime, ns/foo/watch/pods is pretty clear.

----- Original Message -----

[2015-01-21 15:17] bgrant0607 commented on #3665
FWIW, I plan to delete all of my contrib scripts O(soon) -- maybe today.

[2015-01-21 15:22] erictune commented on #3623
@abonas
regarding: *How clients are supposed to visualize the relationships between rc to pod and service to pod, if there's no good way to get that info from kubernetes?*
 I think we hope that users will use the primitive operations that we have provided in the REST API, and then build whatever views or joins of the data that they are most interested in.  That may require making multiple calls to

[2015-01-21 15:30] erictune commented on #3623
@simon3z
Yes, there could be inconsistencies such as you mention.   Here are some ways a client could deal with that:
 - just display the potentially inconsistent information, and let the user reload the view on those rare occasions when there was a race.
 - validate the information and re-fetch it if it appears inconsistent
 - verify that the resource version of the service has not changed after

[2015-01-21 15:30] abonas commented on #3669
copied from the other issue:

@bgrant0607 when I query for pod information and its containers, it's important to see what's going on with them in runtime. so if spec was ports XYZ, cpu A and memory B, I would like to see if indeed it matches the spec or is different. were the ports allocated? same ports? different ports?

otherwise, having only the spec information, there's nothing user can do to

[2015-01-21 15:46] erictune opened #3676 "Links to related object in json responses"
User @abonas requested that a GET of services or replicationcontrollers should include links to the pods that constitute that service or replicationcontrollers.    I filed this issue to discuss that idea.

Questions:
- is this a priority right now given that clients can figure this out through multiple REST calls?
- is it practical to do this, given that we don't have the ability to e.g. atomicall

[2015-01-21 15:47] erictune commented on #3623
@abonas
I filed https://github.com/GoogleCloudPlatform/kubernetes/issues/3676 about links to related objects.

[2015-01-21 15:50] bgrant0607 commented on #3623
Reverse label lookup #1348 is the intended solution for looking up services targeting a pod.

#341 is about generalizing selectors in the API.

[2015-01-21 15:56] bgrant0607 commented on #3676
Reverse label lookup #1348 is the intended solution. We plan to support this in the server. Kubectl already implements this in the client.

Users have the option of adding identifying annotations or labels if they choose.

[2015-01-21 16:10] erictune commented on #3604
Just to clarify, I was saying that the number of clusters would be fixed
but the number of nodes in each cluster would be automatically scaled.

Our roadmap (
https://github.com/GoogleCloudPlatform/kubernetes/blob/24e59de06e4da61f5dafd4cd84c9340a2c0d112f/docs/roadmap.md)
calls for 100 node clusters at v1.0 and 1000 node clusters in the middle of
this year.

An example of how one might think about

[2015-01-21 16:14] erictune commented on #3604
The master writes its state to etcd which persists its state to disk.  As long as your VM has reliable storage attached to it (not sure what AWS calls this, it is called PD on GCE), then you can re-create the VM with that same PD and it should keep running.

[2015-01-21 16:25] erictune opened #3679 "Shoot master e2e test"
Need e2e test where some state is put into the master, then the master is rebooted, then it comes back and the state is still there because it was persisted by etcd.

[2015-01-21 17:28] rgolg commented on #3604
Thanks for the detailed explanation Eric. Having a deterministic way of knowing how many nodes a single cluster can handle is one of the things I was trying to find out. I hate to make the comparison but that would give us the same level of information when designing systems that a size of a subnet would. The scenarios you've outlined make sense. Considering the instance size of each node in a clu

[2015-01-21 17:33] sub-mod opened #3681 "Master components should probably bind to 0 by default"
Currently in master.go line 195 . we have a code similar to below
package main

import (
        "fmt"
        "net"
)

func main() {

        addrs, err := net.InterfaceAddrs()
        if err != nil {
                fmt.Println("error ")
        }

        for i := range addrs {
                ip, _, err := net.ParseCIDR(addrs[i].String())
                if err != nil {

[2015-01-21 17:50] erictune commented on #3604
Auto-cluster creation does sound like an interesting problem to solve, but we probably need to prioritize auto-pod-scaling, auto-node-scaling, and many-node-support ahead of that.  If you'd like to help, we'd love to have someone report back on how many nodes can be supported by a single cluster on AWS before things start to break.  Most of the Kubernetes devs use other clouds, so that would be qu

[2015-01-21 18:00] bgrant0607 commented on #2770
/cc @erictune

[2015-01-21 18:01] bgrant0607 commented on #2770
Here's another example: https://libcloud.apache.org/

[2015-01-21 18:05] brendandburns commented on #2770
We should probably fork the generic cloud provider library out into it's
own project (I know I resisted this elsewhere, but in this case, I think it
makes sense, and could be of general use to the go community)

--brendan

On Wed, Jan 21, 2015 at 10:01 AM, Brian Grant <notifications@github.com>
wrote:

[2015-01-21 18:06] rgolg commented on #3604
Agreed. First things first. :-) But the pluggable model is still important to keep in mind in case of auto-node-scaling which is in your current list of higher-priority items.

I'm absolutely willing to help with this. I can spin up a cluster on AWS for this test using the CloudFormation example. Is there a specific test you'd like to perform? Would just a spin up of a cluster with some really sim

[2015-01-21 18:08] jbeda commented on #3530
Things should mostly be working now with #3656

[2015-01-21 18:08] #3530 closed

[2015-01-21 18:15] brendandburns commented on #3681
Note that this code is _only_ called if ```c.PublicAddress``` is not set.  In the absence of a user specified address, listening on ```eth0``` seems like a reasonable thing to do.

You can override this behavior by setting ```--public_address_override``` to the address of ```eth1`` (or whatever interface you want)

I would be ok adding a config flag for ```PublicInterface``` if you want to dynamic

[2015-01-21 18:19] erictune opened #3683 "CreateOrJoinExternalLoadBalancer"
We currently support CreateExternalLoadBalancer.
What if I have two or more kubernetes clusters and I want to put services in each one behind the same global load balancer (which I think would be a recommended practice).
Need something that checks for an existing load balancer in a global space, and joins it if it exists, or else does one of the following:
  1. create it if it doesn't exist
  2. k

[2015-01-21 18:21] bgrant0607 commented on #3652
Ok, I'm fine with that. Thanks.

[2015-01-21 18:21] #3652 closed

[2015-01-21 18:24] mrunalp commented on #1615
I have started making the changes cherry picking the go-dockerclient change while we are waiting for that to get merged. Hopefully will have some basic testing done by end of day today.

[2015-01-21 18:29] bgrant0607 commented on #3669
We should put links (in a style similar to selfLinks) to the resource API in the pod and node status. Those links should be stable. /cc @vishh

@abonas I sympathize, but resource usage in the core objects is infeasible to both keep up to date and scale. Our experience is that a custom data path is necessary in order to provide reasonably fresh data. That ensures that only genuinely interested clie

[2015-01-21 18:30] thockin commented on #3681
This algorithm is slightly different from the one used in kube-proxy,
(which explicitly filters out p2p also and I think is more robust).  We
should maybe unify those.  But I don't understand this - I would assume the
lack of a public address should result in listening on 0.0.0.0, no?

On Wed, Jan 21, 2015 at 10:16 AM, Brendan Burns <notifications@github.com>
wrote:

[2015-01-21 18:31] bgrant0607 commented on #3628
Planning to do this once the API is more or less settled.

[2015-01-21 18:31] bgrant0607 commented on #3628
Ref #1519

[2015-01-21 18:33] bgrant0607 commented on #3628
FWIW, this was previously filed as #1724.

[2015-01-21 18:35] brendandburns commented on #3681
We could do that.  That's not the current behavior.

On Wed, Jan 21, 2015 at 10:30 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-01-21 18:36] sub-mod commented on #3681
proxy.go is another place i wanted to request to change the bindAddress IP.
I think to default to 0.0.0.0 is a good idea if we do it across all services If no nic preference is given.

[2015-01-21 18:39] sub-mod commented on #3681
@thockin just to confirm were you refering to https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-proxy/proxy.go line ` bindAddress = util.IP(net.ParseIP("0.0.0.0"))` ?

[2015-01-21 18:39] pmorie commented on #1768
@bgrant0607 Am I correct that what you're thinking of regarding creation order is that tooling would ingest some set of resources to create, perform graph analysis on them to build a dependency graph, and order create calls such that a pod with dependencies on services X, Y would not be created until after services X and Y?

What about the other way around, where a pod could be created before its

[2015-01-21 18:44] sub-mod commented on #3681
@thockin oops Sorry wrong file proxier.go `chooseHostInterface` method ?

[2015-01-21 18:48] pmorie commented on #1768
@bgrant0607 Regarding this comment:

If we decide to retain links and make them explicit, do you think it would coexist with an annotation approach, or supercede it?  Ie, tooling could read the part of the model that expresses the link relationship and use that to infer the right creation order.

[2015-01-21 18:55] smreed commented on #3640
@thockin suggested in #3651 an alternative approach where the load balancer just chooses a random index into the slice.

Happy to submit another PR if that's the preferred approach but it would change the way the LB works, allowing for two or more consecutive connections to the same pod.

[2015-01-21 18:55] bgrant0607 opened #3685 "Compatibility with GCP deployment manager"
We could also build a simplified open-source version.

https://cloud.google.com/deployment-manager/fundamentals

One useful functionality it would add is parameterization, using jinja templates and sandboxed python.

Known issues:
* Need the ability to wait for readiness of dependencies #1899

[2015-01-21 18:57] erictune commented on #3604
@satnam6502 you did some scalability testing.  I think it is useful to do this on multiple cloud providers, @rgolg is willing to try on AWS.  Is there anything you can point him at in terms of load generation or advice?

[2015-01-21 19:03] dchen1107 opened #3686 "tons of stacktraces on query pod's stats in kubelet logs"
Ran cluster with the latest code from HEAD, and kubelet logs fill with stacktraces as the belowing: cc/ @vishh

I0121 18:47:40.581867    4671 server.go:315] GET /stats/ccdac026-a107-11e4-a39d-42010af0c8cb/heapster?num_stats=9: (1.405045ms) 500
goroutine 21426 [running]:
github.com/GoogleCloudPlatform/kubernetes/pkg/httplog.(*respLogger).WriteHeader(0xc208123680, 0x1f4)
	/go/src/github.com/GoogleCl

[2015-01-21 19:05] sub-mod commented on #3681
@brendanburns Can I fix this issue ?
1)unify  master.go code and proxier.go code by using the same method chooseHostInterface
2)Add a config paramater to dynamically discover the IP address for that interface if nic is given.

[2015-01-21 19:11] prateekarora151083 opened #3687 "Make it easy to build with HTTP proxy"
Hi
when i tried to compile kubernetes in proxy network its give below error

[code]

i think this error is because of proxy setting