[2017-03-14 03:01] smarterclayton commented on #36891
This is such a serious problem that I don't think we can.  We should at least do a quick triage before moving it.

We've seen this in production clusters as well.

[2017-03-14 03:06] zihaoyu commented on #33554
@tonylambiris Could you elaborate why `--no-negcache` is a good idea? From what I learned negative caching is good but that flag disables it. Maybe I misunderstood something.

[2017-03-14 03:07] evmin commented on #41039
Yeah. I remember when it was originally planned for 1.3. Waiting since then.

[2017-03-14 03:09] liggitt commented on #36891
Not with the "fix" in https://github.com/kubernetes/kubernetes/pull/37431 in place

[2017-03-14 03:10] smarterclayton commented on #36891
"Just wait longer?"

[2017-03-14 03:10] bgrant0607 commented on #34508
Or, approx. as @smarterclayton put it, the first two cases above correspond to the following two types of fields:
1. Final fields, which we will never break in the same API version
2. Alpha fields, which we will break in the same API version

And (3) would be an option when we weren't willing to do either of those.

[2017-03-14 03:20] liggitt commented on #36891
I think the analysis in https://github.com/kubernetes/kubernetes/pull/37431#issue-191444266 is still valid (with the possible exception of stale etcd reads being helped by quorum reads being on)

I'm not aware of reoccurrences since #37431 was merged, but it just narrows the circumstances under which a leak can occur, it does not eliminate them (that requires receiving acknowledgement from all adm

[2017-03-14 03:29] gnufied commented on #27656
/close

[2017-03-14 03:29] #27656 closed

[2017-03-14 03:34] gnufied opened #43051 "e2e tests can't be interrupted by Ctrl-C"
Once e2e tests are running, the tests keep running even if I press `Ctrl-C` and exit the process that controls the TTY.

But the tests actually keep running in the background and they keep printing stuff on a shell prompt which has already returned and thereby clobbering the STDOUT

[2017-03-14 03:34] k8s-merge-robot opened #43052 "ci-kubernetes-e2e-gci-gce-etcd3: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/5339/
Multiple broken tests:

Failed: [k8s.io] EmptyDir volumes volume on default medium should have the correct mode [Conformance] [Volume] {Kubernetes e2e suite}

[code]

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668

[2017-03-14 03:37] spiffxp commented on #32531
#42686 was closed in favor of this issue, since we expect the bot to re-open this

[2017-03-14 03:46] MrHohn commented on #36389
/assign

[2017-03-14 03:50] spiffxp commented on #42045
@kubernetes/sig-scalability-bugs @gmarek @wojtek-t are we still aiming to complete this for 1.6?

[2017-03-14 03:51] Random-Liu commented on #43040
Ref https://github.com/kubernetes/kubernetes/pull/41427

[2017-03-14 03:55] gnufied commented on #42990
never saw this one flake. Kinda weird. I am going to look into it.

/assign @gnufied

[2017-03-14 03:56] spiffxp commented on #42359
@kubernetes/sig-storage-pr-reviews @kubernetes/release-team @jingxu97 @gnufied We are treating all issues in the v1.6 milestone as blockers.  Does this issue justify blocking the 1.6 kubernetes release?  If yes, can you give an estimate on who will fix this by when?  If no, would you mind kicking this out of the v1.6 milestone?

[2017-03-14 03:59] spiffxp commented on #23225
@kubernetes/sig-cluster-lifecycle-pr-reviews @kubernetes/sig-network-pr-reviews @luxas @thockin @vishh We are treating all issues in the v1.6 milestone as blockers.  Does this issue justify blocking the 1.6 kubernetes release?  If yes, can you give an estimate on who will fix this by when?  If no, would you mind kicking this out of the v1.6 milestone?

[2017-03-14 04:01] spiffxp commented on #42445
@kubernetes/sig-storage-pr-reviews @jingxu97 We are treating all issues in the v1.6 milestone as blockers. Does this issue justify blocking the 1.6 kubernetes release? If yes, can you give an estimate on who will fix this by when? If no, would you mind kicking this out of the v1.6 milestone?

[2017-03-14 04:07] MrHohn commented on #23225
This is not blocking v1.6. We plan to make more progress on it in the next release.

[2017-03-14 04:07] spiffxp commented on #42358
@kubernetes/sig-storage-pr-reviews @jingxu97 @jsafrane Helping out with 1.6 issue triage (https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/48AFuXnoJZA). Please re-open if you feel this is an inappropriate action.

The linked PR has been merged, assuming this can now be closed.

[2017-03-14 04:07] spiffxp commented on #42358
/assign

[2017-03-14 04:07] spiffxp commented on #42358
/close

[2017-03-14 04:07] #42358 closed

[2017-03-14 04:12] smarterclayton commented on #42789
The objects exist and can be used.  We don't really have a position on it today.

[2017-03-14 04:13] spiffxp commented on #37324
@kubernetes/sig-instrumentation-oh-you-dont-have-teams-yet @crassirostris @calebamiles Propose we kick this out of v1.6.  If it wasn't a v1.5 blocker, it's not a v1.6 blocker.  Last failure appears to have happened 17 days ago

[2017-03-14 04:19] spiffxp commented on #38329
Helping out with 1.6 issue triage (https://groups.google.com/forum/#!topic/kubernetes-milestone-burndown/48AFuXnoJZA). Please re-open if you feel this is an inappropriate action.

This hasn't had any activity in over 16 days, seems like it's not flaking anymore.

Specific issues linked that aren't closed: #37324 (no activity since it was in v1.5), #37058 (not in v1.6 milestone)

[2017-03-14 04:20] spiffxp commented on #38329
/assign

[2017-03-14 04:20] spiffxp commented on #38329
/lose

[2017-03-14 04:20] spiffxp commented on #38329
/close

[2017-03-14 04:20] #38329 closed

[2017-03-14 04:23] quinton-hoole commented on #35078
I believe this issue has been resolved. @krousey @irfanurrehman

On Mar 13, 2017 3:42 PM, "Dan Gillespie" <notifications@github.com> wrote:

[2017-03-14 04:29] bamb00 commented on #5017
Can someone tell me what I'm doing wrong from etcd-0 pod log?

2017-03-14T04:21:43.142152232Z sh: cd-1: bad number
2017-03-14T04:21:43.142894287Z Waiting for etcd-0.etcd to come up
2017-03-14T04:22:13.174109903Z ping: bad address 'etcd-0.etcd'
2017-03-14T04:22:14.174744217Z Waiting for etcd-0.etcd to come up
2017-03-14T04:22:44.196713721Z ping: bad address 'etcd-0.etcd'
2017-03-14T04:22:45.1973872

[2017-03-14 04:30] liggitt commented on #40218
actually, https://github.com/kubernetes/kubernetes/issues/40387 is still open

[2017-03-14 04:34] feiskyer commented on #42856
SGTM. I think it's a simplest way that what I proposed.

Filed #43053 for this way.

[2017-03-14 04:40] bsalamat commented on #43026
@fejta I tried
`go run hack/e2e.go --get=true -- -v -test --test_args="--ginkgo.focus=TEST_TO_RUN --ginkgo.untilItFails=true"` last week and I got an error that --ginkgo.untilItFails is not a known flag. I don't have a setup right now to paste the exact error message, but I can do that tomorrow.

[2017-03-14 04:44] brendandburns commented on #36120
I want to ensure that as we do this, we maintain our performance SLA.

If we collect a histogram of request latency before and after removing this, there should be significant difference in the request latency distribution for all common requests (e.g. create pod, list pods, get pods, etc)

[2017-03-14 04:48] thockin commented on #36120
We should measure the perf and set a realistic goal.  In my free time I have been doing my own JSON generator that is way less noisy than ugorji, so that may be more manageable while keeping most or all of the perf win.  Low-prio

[2017-03-14 04:53] smarterclayton commented on #36120
I'd like to measure from 1.5 golang, and warn in 1.6 that you should expect kube 1.5 levels in the future.  No free performance handouts.

[2017-03-14 04:54] thockin commented on #37632
This is fixed in GCI as of a couple months ago.

[2017-03-14 04:54] #37632 closed

[2017-03-14 05:02] k8s-merge-robot opened #43054 "[k8s.io] ConfigMap should be consumable in multiple volumes in the same pod [Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2497/
Failed: [k8s.io] ConfigMap should be consumable in multiple volumes in the same pod [Conformance] [Volume] {E2eNode Suite}

[code]

[2017-03-14 05:07] shiywang commented on #43026
will take a look today, thanks

[2017-03-14 05:15] vishh commented on #42985
The test flakes [very rarely](https://k8s-testgrid.appspot.com/google-node#kubelet-serial-gce-e2e&width=5&include-filter-by-regex=%5EOverall%24%7C%5C%5Bk8s%5C.io%5C%5D%5C%20Node%5C%20Container%5C%20Manager%5C%20%5C%5BSerial%5C%5D%5C%20Validate%5C%20Node%5C%20Allocatable%5C%20set%5C%27s%5C%20up%5C%20the%5C%20node%5C%20and%5C%20runs%5C%20the%5C%20test). Based on the code, kubelet should self heal an

[2017-03-14 05:33] Random-Liu commented on #43054
This is the same flake with https://github.com/kubernetes/kubernetes/issues/42782.

The fix is pending https://github.com/kubernetes/kubernetes/pull/42927.

[code]

[2017-03-14 05:33] #43054 closed

[2017-03-14 05:37] Random-Liu commented on #43052
Same kubelet panic, see https://github.com/kubernetes/kubernetes/issues/42782.

The fix is pending https://github.com/kubernetes/kubernetes/pull/42927.

[code]

[2017-03-14 05:37] #43052 closed

[2017-03-14 05:37] liggitt commented on #42660
@mikedanese was this resolved?

[2017-03-14 05:43] FengyunPan opened #43055 "kubernetes deletes OpenStack LBaaS resources without filtering"
Neutron's API ignores unknown paramaters. When listing pools etc, K8 attempts to filter on "loadBalancerID" which is not a valid filter.
As such, it is ignored by Neutron, and a list of all pools is returned. Then K8 proceeds all the pools.
For example, EnsureLoadBalancerDeleted() delete all the pools and members.

https://docs.openstack.org/cli-reference/neutron.html#neutron-lbaas-listener-list
h

[2017-03-14 05:52] FengyunPan commented on #43055
https://github.com/kubernetes/kubernetes/pull/43056

[2017-03-14 05:55] dragorosson commented on #40850
@liggitt I'm no security/networking expert, and so I used the symptom (what curl reported) as the title. Still, it doesn't seem to be a TLS1.2 vs SSLv3 issue, because the breaking commit doesn't change the underlying handshake algorithm itself. (Plus, nothing different happens when I use `curl`'s `--tls1.2` flag, and kubectl can't get through either, which I'd expect would use TLS1.2 anyway.)

I'm

[2017-03-14 05:56] bgrant0607 commented on #23233
Related:
#39712
#41817
#30329

[2017-03-14 06:02] bgrant0607 commented on #23233
@errordeveloper Thanks for the pointer to kubegen. It's been on my list, but I haven't had time to look at it.

Anyway, my point was that I consider templating to be out of scope for the addon manager. Whether it would be done client-side or server-side is somewhat beside the point.

[2017-03-14 06:04] irfanurrehman commented on #35078
@shashidharatd worked on this.. :)

[2017-03-14 06:06] snowhigh commented on #23474
Hi, I have the same issue resolving external domain name in pods. I have a workaround by adding extra external name server into kube-dnsmasq pod parameters.
ex.
[code]

[2017-03-14 06:16] bowei commented on #23474
@snowhigh -- that configuration will not work, it will result in kubernetes names not being consistently resolvable as the result will be a race between kube-dns and 8.8.8.8

[2017-03-14 06:23] irfanurrehman commented on #38400
@madhusudancs  the PR was merged, I think you can close this, if nothing additionally is needed.

[2017-03-14 06:27] k8s-merge-robot opened #43059 "[k8s.io] ConfigMap should be consumable via environment variable [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2498/
Failed: [k8s.io] ConfigMap should be consumable via environment variable [Conformance] {E2eNode Suite}

[code]

Previous issues for this test: #42526

[2017-03-14 06:32] mohsen84 commented on #26375
this command worked for me:
 ./kubectl get replicationcontroller
./kubectl delete replicationcontroller "name"

[2017-03-14 06:33] luxas commented on #38067
This can be moved to v1.7, it couldn't be fully implemented in v1.6 due to that gcr.io doesn't support manifest lists yet

Moving milestone...

[2017-03-14 06:45] ethernetdan commented on #36351
@nikhiljindal @mwielgus is this flake blocking for 1.6 or could be closed?

[2017-03-14 06:58] ethernetdan commented on #29340
Moving to 1.7 because too late for 1.6. Feel free to move back if this is incorrect.

[2017-03-14 06:58] ethernetdan commented on #28367
Moving to 1.7 because too late for 1.6. Feel free to move back if this is incorrect.

[2017-03-14 06:59] ethernetdan commented on #21306
Moving to 1.7 because too late for 1.6. Feel free to move back if this is incorrect.

[2017-03-14 07:00] ethernetdan commented on #41063
@kargakis should we block on this for 1.6?

[2017-03-14 07:06] ethernetdan commented on #42809
@csbell is this blocking for 1.6?

[2017-03-14 07:07] ethernetdan commented on #40905
@smarterclayton can this go into 1.7?

[2017-03-14 07:10] ethernetdan commented on #37570
Moving to 1.7 because too late for 1.6. Feel free to move back if this is incorrect.

[2017-03-14 07:11] ethernetdan commented on #36535
Moving to 1.7 because too late for 1.6. Feel free to move back if this is incorrect.

[2017-03-14 07:13] ethernetdan commented on #39870
@madhusudancs okay, just be aware if it's in the milestone it will block the release

[2017-03-14 07:21] madhusudancs commented on #38400
@irfanurrehman yeah, sure. I don't think there is anything more that we need here.

[2017-03-14 07:21] #38400 closed

[2017-03-14 07:21] wojtek-t commented on #42045
I think we do, but that's not a release-blocker.

[2017-03-14 07:28] wojtek-t commented on #38459
I think so.

[2017-03-14 07:28] #38459 closed

[2017-03-14 07:35] davidopp commented on #41600
ref/ #28842

[2017-03-14 07:39] madhusudancs commented on #39870
@ethernetdan last cycle we used `non-release-blocker` label to track issues like this and it worked pretty well. Can we use that this cycle too?

[2017-03-14 07:41] ethernetdan commented on #42644
@liggitt @wojtek-t do we want to block 1.6 on this?

[2017-03-14 07:42] ethernetdan commented on #42199
@mikedanese can this be closed?

[2017-03-14 07:47] chao007 opened #43063 "instance not found when using aws cloud-provider"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes versi

[2017-03-14 07:56] k8s-merge-robot opened #43064 "Extract {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/5301/
Failed: Extract {e2e.go}

[code]

Previous issues for this test: #42078 #42543 #42866

[2017-03-14 08:30] zhouhaibing089 commented on #38133
I am on tag 1.5.2, and it happened to me that namespace deletion does not work, coz it failed to delete services:

[code]

[2017-03-14 08:30] mikkeloscar commented on #40218
@liggitt tests were added to the upstream package along with the fix.

#40387 is still open because godep-verify.sh doesn't pass, and I don't understand what I'm doing wrong. I'll have a crack at it later today and see if I can make it work.

[2017-03-14 09:04] fabiand commented on #21306
@ethernetdan I think this bug is fixed, as #39928 was merged and provides the multi portal support.

[2017-03-14 09:04] mdshuai opened #43065 "Need list all features status in feature-gates"
**Kubernetes version** (use `kubectl version`):
v1.7.0-alpha.0.1163+5e29e1ee055568-dirty

**What happened**:
When test TaintBasedEvictions, I can't find its status in help info. Now we have lots of features in feature-gates, but in help info only list five feature in feature-gates.
[code]

**What you expected to happen**:
List all features in https://github.com/kubernetes/kubernetes/blob/master/pk

[2017-03-14 09:10] mdshuai commented on #43065
@derekwaynecarr @aveshagarwal

[2017-03-14 09:55] foxish opened #43068 "All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be evicted after eviction timeout passes"
All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be evicted after eviction timeout passes
This test is not passing on https://k8s-testgrid.appspot.com/release-1.6-all#gci-gke-serial-1.6&width=20

cc @gmarek

[2017-03-14 09:59] bootc opened #43069 "Upgrade bundled GlusterFS tools"
I recently tried mounting a GlusterFS volume (run outside Kubernetes) within my K8s cluster, but mounting failed because of "Server is operating at an op-version which is not supported" errors. After much investigation, it appears that the reason is that the reason is due to old GlusterFS tools in the hyperkube image.

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Ma

[2017-03-14 10:12] #42199 closed

[2017-03-14 10:27] soltysh commented on #42274
@dims's suggestion is the best option to address that, when we move CronJobs to beta (hopefully in 1.7) we'll set `.spec.succesfulJobsHistoryLimit` to 3 by default. Until then you need to do it manually. The controller itself needs bit more work, as well, though.

[2017-03-14 10:44] mikedanese commented on #42660
I'm experimenting with #43070 but I'm having etcd startup issues so i can't yet verify the fix. I'm not sure if it's related to downgrading etcd storage version. This is what I'm seeing:

[code]

[2017-03-14 11:07] wangycc commented on #42158
I am also the same problem

[2017-03-14 11:13] soltysh commented on #43023
@skriss as part of https://github.com/kubernetes/kubernetes/pull/41890 I removed everything from `batch/v2alpha1` which was not new, including Jobs. The test in 1.5 were configured in such a way (due to problems with discovery mechanisms at the time) to always use `batch/v2alpha1.Job` endpoint, which does not exists in 1.6. So this is an expected error when running 1.5 e2e against 1.6 cluster. [Th

[2017-03-14 11:13] soltysh commented on #42451
@skriss I don't think this is a release blocker, either given the explanation above.

[2017-03-14 11:17] soltysh commented on #41039
@TamalSaha @evmin I'm very sorry guys, I only have a limited amount of time 😢

[2017-03-14 11:21] jsafrane commented on #42359
I don't think this is 1.6 blocker, shifting

[2017-03-14 11:32] jsafrane commented on #42359
We need to make sure that binding PVs to PVCs happens in reasonable time if we enable exponential backoff for all operations.

Binding PVs to PVCs is controlled by PVCs only. When an event happens on a PVC (such as the PVC is created), the controller looks for a suitable PV and binds them together. When an event happens on a PV, nothing interesting happens - the controller does **not** look for PV

[2017-03-14 11:33] sylesh687 commented on #41070
Name:           nginx-701339712-fzhmb
Namespace:      default
Node:           /
Labels:         pod-template-hash=701339712
                run=nginx
Status:         Pending
IP:
Controllers:    ReplicaSet/nginx-701339712
Containers:
  nginx:
    Image:      nginx
    Port:
    Volume Mounts:
      /var/run/secrets/kubernetes.io/serviceaccount from default-token-4cldd (ro)
    Environment Variables

[2017-03-14 11:40] mikedanese commented on #23013
I actually expect that this is very much improved in 1.6 so I'll drop the milestone and wait for feedback once people start testing 1.6.

cc @janetkuo

[2017-03-14 11:44] mikedanese commented on #36482
Let's close this await feedback on 1.6 changes.

[2017-03-14 11:44] #36482 closed

[2017-03-14 11:44] mikedanese commented on #23013
Let's just open new issues when people give feedback on 1.6.

[2017-03-14 11:44] #23013 closed

[2017-03-14 12:01] mikedanese commented on #42134
@ixdy @spxtr

[2017-03-14 12:13] mikedanese commented on #14017
This issue appears to be defunct.

[2017-03-14 12:15] ncdc commented on #43059
This appears to have found a segfault:

[code]

cc @kubernetes/sig-node-bugs @derekwaynecarr @sjenning @dchen1107 @yujuhong @vishh

[2017-03-14 12:19] ncdc commented on #43059
If I had to guess, in between the call to `os.IsNotExist` at https://github.com/kubernetes/kubernetes/blob/ccd87fca3f855b4de14a8852193f884ba36e91b7/pkg/kubelet/cm/cgroup_manager_linux.go#L438 and the call to `filepath.Walk` at https://github.com/kubernetes/kubernetes/blob/ccd87fca3f855b4de14a8852193f884ba36e91b7/pkg/kubelet/cm/cgroup_manager_linux.go#L466, the dir in question is deleted, which res

[2017-03-14 12:24] ncdc commented on #43059
Raising priority because this can cause the kubelet to crash

[2017-03-14 12:28] kargakis commented on #41063
@ethernetdan not necessary

[2017-03-14 12:29] k8s-merge-robot opened #43072 "ci-kubernetes-e2e-gci-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/5307/
Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668 #41048 #43025

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 1 pod t

[2017-03-14 12:32] k8s-merge-robot opened #43073 "[k8s.io] Downward API volume should provide container's cpu limit [Conformance] [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2503/
Failed: [k8s.io] Downward API volume should provide container's cpu limit [Conformance] [Volume] {E2eNode Suite}

[code]

[2017-03-14 12:32] sttts commented on #43059
Confirming @ncdc's analysis. If any stat fails, the WalkFn is called with the err and info=nil.

[2017-03-14 12:34] ncdc commented on #43059
I will post a PR shortly

[2017-03-14 12:41] ncdc commented on #43059
I'm going to open a new issue for the root cause, as this one isn't descriptive for it

[2017-03-14 12:43] aveshagarwal commented on #43065
@mdshuai  TaintBasedEvictions is part of controller-manager. Did you try controller-manager -h?

[2017-03-14 12:44] ncdc opened #43074 "kubelet can panic when trying to determine the pids for a cgroup"
When the kubelet is checking for the pids in a cgroup, it checks to ensure a path exists, and then calls `filepath.Walk`. If the path was deleted in between the existence check and the walk, the kubelet can panic because the walk func isn't checking the passed in `err`.

[2017-03-14 12:50] dbaumgarten commented on #42574
I have another idea:
What about "guessing" what the user wants to do. In OpenStack you can only choose a specific floating-IP if it already exists in the tenant. This means there are always just a few IP adresses, that could be used as a floating IP for a Loadbalancer and in most cases the IP-ranges for floating IPs and (local) vips do not even overlap (as this would probably introduce routing-pro

[2017-03-14 13:05] mdshuai commented on #43065
@aveshagarwal yes, [same result](http://pastebin.test.redhat.com/464248).

[2017-03-14 13:07] rootfs commented on #21306
/close

[2017-03-14 13:07] #21306 closed

[2017-03-14 13:08] aveshagarwal commented on #43065
@mdshuai Have you updated your kube repo?

[code]

[2017-03-14 13:20] jszczepkowski commented on #38307
CC @DirectXMan12

[2017-03-14 13:23] wu8685 commented on #33245
Hi,
I also encounter this issue on v1.5.3, and the work around above doesn't work to me.
The step `delete pod` is stuck.

[2017-03-14 13:35] ncdc commented on #43074
@Random-Liu here's an actual bug report for #42927

[2017-03-14 13:36] mdshuai commented on #43065
@aveshagarwal sorry for that, the kube-controller-manager build by openshift in my path.
One more question, as your comment 'TaintBasedEvictions is part of controller-manager' This value also in kube-apiserver, kubelet, kube-scheduler, kube-proxy. Is it correct?
[code]

[2017-03-14 13:38] ncdc commented on #43059
Reassigning as @Random-Liu has the fix PR

[2017-03-14 13:44] aveshagarwal commented on #43065
@mdshuai it seems that they are all pulling this alpha features info from the same place, so showing everywhere, but TaintBasedEvictions is used in controller manager.

[2017-03-14 13:46] jsafrane commented on #40811
I am closing this flake. We're waiting for additional logs for the first occurrence, the second one is mysterious and the third one is caused by unrelated bug. Let the bot reopen it when it happens again.

[2017-03-14 13:46] #40811 closed

[2017-03-14 13:56] deads2k commented on #34953
Looks like its this: https://github.com/coreos/etcd/issues/7322

[2017-03-14 13:56] deads2k commented on #34953
Removing from 1.6.

[2017-03-14 14:02] #43065 closed

[2017-03-14 14:03] deads2k commented on #27883
Last update reference was 6 months ago, closing due to age.  Re-open with an update if you think its still an issue.

[2017-03-14 14:03] #27883 closed

[2017-03-14 14:04] justinsb commented on #28337
Not quite sure why this is tagged with sig/aws?  Retagging as sig/node as a proxy for the missing sig/gce.

[2017-03-14 14:07] jszczepkowski commented on #38549
I've inspected https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/6241/ run.

HPA correctly scales "from 2 to 1" in the previous test case, but there are no HPA logs at all for subsequent test case for "from 1 to 2". Anyway, this problem appeared to happen only once 14 days ago, many bugs have been fixed since then. Most probably the root of the problem wa

[2017-03-14 14:08] deads2k commented on #36564
@dchen1107 the last time we chased this it was a node problem: https://github.com/kubernetes/kubernetes/pull/42779  Can you confirm that node fix didn't address this?

[2017-03-14 14:10] deads2k commented on #42952
If its that low, its not a blocker.  Moving to 1.6.1

[2017-03-14 14:11] alejandroEsc commented on #42952
Could this be a race condition? Perhaps needs some retry logic?

[2017-03-14 14:21] liggitt commented on #42660
looks like a known issue trying to roll back past certain etcd boundaries (https://github.com/coreos/etcd/issues/6323)

what version did you upgrade to and rollback to?

[2017-03-14 14:25] liggitt commented on #38133
@zhouhaibing089 see https://github.com/kubernetes/kubernetes/issues/34519

[2017-03-14 14:26] wojtek-t commented on #42660
Yes - this is kind of expected. The rollback from 1.6 to 1.5 won't work because this changes etcd from v3 to v2.
To make it actually work, you need to do sth like:
[code]

which will also rollback the cluster to use 2.2.1 etcd version, but will use a different etcd image that has the support for rollback.

[2017-03-14 14:31] #42875 closed

[2017-03-14 14:31] #42920 closed

[2017-03-14 14:31] #43059 closed

[2017-03-14 14:32] marun commented on #40705
@madhusudancs #42278 only added a fixture for the api.  #42025 adds a fixture for a federation - the api and member clusters.  I'm not sure it made sense to close this issue in advance of that merging.

[2017-03-14 14:34] zhouhaibing089 commented on #38133
@liggitt thanks for pointing it out, in my case, I use the same `kubectl` built from the same tag... so basically, I don't think the issue was gone, I can provide more information if I can, currently, all I see, the error is coming from this line: https://github.com/kubernetes/kubernetes/blob/v1.5.2/pkg/apiserver/resthandler.go#L902.

[2017-03-14 14:38] wongma7 commented on #36823
This hasn't flaked in 4 months, logs are gone, IMO we can close this.

[2017-03-14 14:39] jsafrane commented on #36823
closing then

[2017-03-14 14:39] #36823 closed

[2017-03-14 14:43] jsafrane commented on #42945
/assign @pmorie
for analysis, we got bunch of cryptic Projected flakes that might have been caused by the same thing

[2017-03-14 14:44] jsafrane commented on #42476
/assign @pmorie
for analysis, we got bunch of cryptic Projected flakes that might have been caused by the same thing

[2017-03-14 14:44] jsafrane commented on #42154
/assign @pmorie
for analysis, we got bunch of cryptic Projected flakes that might have been caused by the same thing

[2017-03-14 14:47] liggitt commented on #43015
looks like cassandra assumes API permissions, will add a service account and rolebinding

[2017-03-14 14:55] liggitt commented on #42976
also, can you hit the endpoints API directly with kubectl or curl (both the unsecured and secured ports)

[2017-03-14 14:58] liggitt commented on #42570
is this being worked on for 1.6?

[2017-03-14 14:58] wongma7 commented on #38166
Like https://github.com/kubernetes/kubernetes/issues/36823, this hasn't flaked in 3~ months with these http errors and logs aren't available. IMO we can close.

[2017-03-14 15:10] kargakis commented on #42570
@shiywang you can start working on this since #42175 is now merged. I wouldn't stress a fix for 1.6 since this is longstanding but if we can get it on time, that would be nice.

[2017-03-14 15:14] janwillies commented on #43014
I can confirm that it's fixed with `v1.6.0-beta.3`

[2017-03-14 15:15] csbell commented on #42809
Fixed by https://github.com/kubernetes/kubernetes/pull/42762

[2017-03-14 15:15] #42809 closed

[2017-03-14 15:23] mkumatag commented on #42492
I think we should go for modifying ParseSemantic to ParseGeneric to get away from semver check  because https://github.com/docker/docker/pull/31075#issuecomment-280619070 says docker never supported semver.

[2017-03-14 15:28] yujuhong commented on #43074
Fixed by #42927

[2017-03-14 15:28] #43074 closed

[2017-03-14 15:34] liggitt commented on #40218
I more meant tests to make sure the apiserver doesn't crash if a bad patch is submitted

[2017-03-14 15:37] yujuhong commented on #43073
Fixed by #42927

[2017-03-14 15:37] #43073 closed

[2017-03-14 15:37] yujuhong commented on #42980
Fixed by #42927

[2017-03-14 15:37] #42980 closed

[2017-03-14 15:38] yujuhong commented on #42870
Fixed by #42927

[2017-03-14 15:38] #42870 closed

[2017-03-14 15:42] rwehner commented on #42976
I have what I think is a similar situation testing an upgrade from v1.5.2 to v1.6.0-beta.2 (leaving etcd unchanged at etcd2 and using `--storage-backend=etcd2`). Hopefully, it is the same issue and this context helps. Once the upgrade is complete and working, we attempt to downgrade the master node back to v1.5.2 (kubelets are still at v1.6.0-beta.2). The newly downgraded v1.5.2 kube-apiserver won

[2017-03-14 15:42] yujuhong commented on #42385
I am closing this one since it hasn't flaked for a week and we recently had quite a few of fixes in that may have fixed the underlying issue.

[2017-03-14 15:42] #42385 closed

[2017-03-14 15:43] yujuhong commented on #42440
Hasn't flaked in a week and several fixes for pod deletion logic were merged recently. Assuming this was fixed.

[2017-03-14 15:43] #42440 closed

[2017-03-14 15:46] yujuhong commented on #40139
The latest failure doesn't seem node-related:
[code]

Feel free to re-apply the label if there are any issue indicating otherwise.

[2017-03-14 15:47] yujuhong commented on #42731
Closing this since the fix for #42920 was merged.

[2017-03-14 15:47] #42731 closed

[2017-03-14 15:49] shiywang commented on #42570
@kargakis hi, I haven't look at those yet since I've been still working on some cli pr, but I'll do my best to solve it if you think it's not in a hurry. but on time, you mean for 1.7 or 1.6 ?  if  it's in a hurry, you can assign to others. thanks !

[2017-03-14 15:50] ncdc commented on #43074
Odd that GitHub didn't pick up the fixes link.

[2017-03-14 15:56] skriss commented on #42738
@enisoc will a PR for this make it into the next beta?

[2017-03-14 15:57] wojtek-t commented on #40139
Yeah - this one is purely setup issue.

[2017-03-14 15:57] wojtek-t commented on #42660
Actually, the above will not work due to protobufs being the storage format in 1.6. Instead you should do:
[code]
[which would downgrade the release, but will leave etcd in v3 mode].

[2017-03-14 16:00] foxish commented on #37259
It seems like this test is still flaking a lot on GKE

[2017-03-14 16:01] pwittrock commented on #28337
@justinsb Is this gce specific?

[2017-03-14 16:02] shyamjvs commented on #40139
Please note that this is a known flake and I've previously reported it in [this](https://github.com/kubernetes/kubernetes/issues/40139#issuecomment-273880602) comment

[2017-03-14 16:02] pwittrock commented on #42831
@vishh This needs to be marked as a release-blocker or moved out of the milestone.

[2017-03-14 16:12] yujuhong commented on #40139
@shyamjvs @wojtek-t do you think any of the flakes is a potential release blocker (since this issue has been added to the 1.6 milestone)?

[2017-03-14 16:18] dchen1107 commented on #34965
Move this one to 1.7

[2017-03-14 16:20] bgrant0607 commented on #42392
The reality is that kubectl doesn't support version-skewed operation well today. This dates back to the beginning, from before we had Swagger support, the dynamic client, etc.: #3955.

However, we absolutely need to make version-skewed operation a goal.

[2017-03-14 16:21] ethernetdan commented on #43017
Looks like this failures been resolved, will reopen if issue persists.

[2017-03-14 16:21] #43017 closed

[2017-03-14 16:22] jayunit100 commented on #17190
if we could have a way of syncing taints to labels, then label operations would be able to work against taints.

[2017-03-14 16:22] bgrant0607 commented on #42392
Also, the stated level of compatibility is one minor release.

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/versioning.md#supported-releases-and-component-skew

[2017-03-14 16:34] ethernetdan commented on #28450
Hasn't failed outside full suite failure since January

[2017-03-14 16:34] #28450 closed

[2017-03-14 16:35] calebamiles commented on #41656
Closing per https://github.com/kubernetes/kubernetes/issues/41656#issuecomment-285204745

[2017-03-14 16:35] #41656 closed

[2017-03-14 16:35] dchen1107 commented on #41047
Re: https://github.com/kubernetes/kubernetes/issues/41047#issuecomment-286283497 It is a known docker issue: https://github.com/docker/docker/issues/23487 & https://github.com/docker/docker/issues/23184, etc. I have seen such issues / reports before since we upgraded docker 1.10.x, but it is very rare. Docker said the version of 1.13 includes a potential fix for it.

[2017-03-14 16:36] enisoc commented on #42738
@skriss I'm working on this now. I'm not sure when the next beta will be though since we pushed the scheduled RC. I will check with Dan.

[2017-03-14 16:37] k8s-merge-robot opened #43082 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/1553/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #38163 #39209 #39790 #39878 #40446 #40458 #40463 #40471 #40485 #43017

[2017-03-14 16:38] MrHohn commented on #28337
This was previously tagged sig/aws because it failed on AWS frequently due to image pulling timeout. But the recent failures does not seems to be platform specific anymore.

[2017-03-14 16:45] nicksardo commented on #38850
Fix confirmed.

[2017-03-14 16:52] wyc commented on #13753
Hey, I'm writing the FAQ section based on things that were confusing during writing the previous sections. I'm working on a question titled "How do cloud provider volume plugins figure out what mount device (e.g., /dev/sdc) a newly-attached volume will appear as?"

It seems that most of them query their respective APIs and are able to come up with some kind of block device mapping either directly

[2017-03-14 16:52] jingxu97 commented on #42445
I think it is not a 1.6 blocker. Move it out to v1.7

[2017-03-14 16:53] cblecker commented on #38850
Thanks for confirming @nicksardo !

[2017-03-14 16:53] #38850 closed

[2017-03-14 16:56] bboreham commented on #31307
Work progressing at https://github.com/containernetworking/plugins/pull/1

[2017-03-14 17:06] luxas commented on #36272
@mikedanese Yes https://github.com/kubernetes/kubernetes/pull/41835

[2017-03-14 17:06] liggitt commented on #43015
hmm, actually, the examples e2e is granting permissions to service accounts in the namespace already at https://github.com/kubernetes/kubernetes/blob/master/test/e2e/examples.go#L68-L81

[2017-03-14 17:07] #36272 closed

[2017-03-14 17:08] jayunit100 commented on #42670
Looks like in sig-testing we are going to make a fresh proposal for this to give to other sigs and start independently on refactoring for the sigs we already care about:

Main note is that we will be decomposing tests, by directory, per sig - need sig buy in on all fronts for this but that seems to be community consensus.

[2017-03-14 17:12] yujuhong commented on #40607
If this only fails with docker 1.12, see #40717

[2017-03-14 17:18] csbell commented on #43009
Fixed by https://github.com/kubernetes/kubernetes/pull/43012. Thanks Maru.

[2017-03-14 17:18] #43009 closed

[2017-03-14 17:18] liggitt commented on #39574
the permission issue here was fixed in https://github.com/kubernetes/kubernetes/pull/39896

[2017-03-14 17:18] #39574 closed

[2017-03-14 17:19] csbell commented on #42921
Fixed by https://github.com/kubernetes/kubernetes/pull/42922.

[2017-03-14 17:19] #42921 closed

[2017-03-14 17:19] #42412 closed

[2017-03-14 17:19] #42929 closed

[2017-03-14 17:21] timstclair commented on #40607
If we failed to correctly identify the docker PID, I think it would be left in the `misc` container, which would cause the memory to increase, not decrease.

[2017-03-14 17:22] csbell commented on #31975
@nikhiljindal Please close or move to next-candidate with work remaining to be done.

[2017-03-14 17:22] liggitt commented on #43015
looks like misconfigured examples... fixed in #43086

[2017-03-14 17:23] csbell commented on #36351
Flake, moving to next-candidate.

[2017-03-14 17:27] csbell commented on #38177
Flake, next-candidate.

[2017-03-14 17:28] csbell commented on #38518
Flake, next-candidate.

[2017-03-14 17:34] yujuhong commented on #40607
Hm....maybe we are moving the wrong process?

[2017-03-14 17:36] madhusudancs commented on #40705
@marun Alright, reopening the issue.

[2017-03-14 17:38] rootfs commented on #43069
see #32686

[2017-03-14 17:45] vielmetti commented on #38067
Thanks @luxas . Is there a spot where gcr.io support for manifest lists is being discussed or addresssed?

[2017-03-14 17:46] dchen1107 commented on #37316
cc/ @derekwaynecarr

[2017-03-14 17:48] bsalamat commented on #43026
Here is the error message:

`go run hack/e2e.go -- -v --test --test_args='--ginkgo.focus=SchedulerPredicates\s\[Serial\].*$ --ginkgo.untilItFails=true'`

flag provided but not defined: -ginkgo.untilItFails
Usage of /usr/local/google/home/bsalamat/gocode/src/k8s.io/kubernetes/_output/dockerized/bin/linux/amd64/e2e.test:
  -allowed-not-ready-nodes int
    	If non-zero, framework will allow for that

[2017-03-14 17:50] roberthbailey commented on #42934
Both of the most recent runs say

`W0314 10:21:44.495] ERROR: (gcloud.container.clusters.create) ResponseError: code=400, message=The required node image is not available.`

The image type being requested is `gci`.

@maisem

[2017-03-14 17:52] nikhiljindal commented on #31975
Yes fixed by https://github.com/kubernetes/kubernetes/pull/35950

[2017-03-14 17:52] #31975 closed

[2017-03-14 17:53] roberthbailey commented on #42510
@wojtek-t - Do we have multiple tests configured to use the same resources?

[code]

which is then followed by the error which causes the test failure:

[code]

[2017-03-14 17:54] nikhiljindal commented on #36815
Ref https://github.com/kubernetes/kubernetes/pull/42567 (doesnt fix the issue but adds some helpful logs).

While it will be great to have clean logs, this is not a release blocker. Moving out of 1.6 release

[2017-03-14 17:55] roberthbailey commented on #37974
I don't think this is a dupe. The other bug has a clear error message that is unrelated to the e2e tests. The most recent links to failures here are an actual test flaking:

[code]

[2017-03-14 17:57] wojtek-t commented on #40139
@yujuhong - I don't think so. All of the remaining ones seem to be setup issues, which is purely test things.
Adding non-release-blocker label.

[2017-03-14 17:58] wojtek-t commented on #40139
Though, @shyamjvs - it would be nice to have them fixed during this code-freeze.

[2017-03-14 18:01] nikhiljindal commented on #39870
Isnt this duplicate of https://github.com/kubernetes/kubernetes/issues/40536?

[2017-03-14 18:02] madhusudancs commented on #39870
@nikhiljindal no it's not. See the comments above. Keeping it open for documentation.

[2017-03-14 18:02] ixdy commented on #42134
I think 1.6 is the first release in which we really support bazel. I don't think we cherry-picked any bazel fixes back to 1.5.

[2017-03-14 18:03] nikhiljindal commented on #43025
Removing sig-federation label since this is not specific to federation. It seems like a parent issue for all e2e failures.
federation specific failures are tracked in https://github.com/kubernetes/kubernetes/issues/37105

[2017-03-14 18:03] mikedanese commented on #42134
We should see if this is still broken in 1.6. I haven't tried importing k8s in a bazel workspace before.

[2017-03-14 18:05] madhusudancs commented on #39870
Alright, I filed a documentation issue here https://github.com/kubernetes/kubernetes.github.io/issues/2809 and closing this one.

Too much book keeping.

[2017-03-14 18:05] #39870 closed

[2017-03-14 18:06] nikhiljindal commented on #38658
cc @justinsb

[2017-03-14 18:06] timothysc opened #43088 "RFE: Explore in-process v3 etcd server"
Recent changes to etcd3 have made it easier to embed the etcd server into the executable: https://github.com/coreos/etcd/pull/7496/files

Before that, there was little motivation other then deployment and distribution.  This would allow for an easier deployment model and increased performance for in-process embedding(sans-transport), which may even lead to cache-reduction or elimination.

The trad

[2017-03-14 18:08] shyamjvs commented on #40139
Sure, I can work on eliminating the non-test-infra related flakes. And IIUC, the ones we know of right now are mostly around not having retrying logic around gcloud operations and this one. Are there any other flakes I'm missing here that you are referring to?

[2017-03-14 18:10] lavalamp commented on #34508
This really sucks for devs (tons of manual effort if not using annotations) but wouldn't be too bad for users. To make this viable we'd need to dramatically reduce the cost for making a v(N+1)beta1 api version.

This is super sucky for users. Changing field names is way more invasive than changing your object's version specifier.

Not sure how this differs from the first one?

This is an interesti

[2017-03-14 18:12] roberthbailey commented on #42934
I found the problem. @nikhiljindal has fixed it and it should be back to working in a couple of hours.

[2017-03-14 18:13] kow3ns commented on #42348
@skriss The automated testing was targeted to run from 1.5 - 1.6 and onward. We decided that we would break PetSet during the rename on 1.4 - 1.5. This test is only valid from 1.5 onward. Is there a way to disable tests on a per test basis in the upgrade testing framework?

[2017-03-14 18:14] xiang90 commented on #43088
/cc @justinsb

[2017-03-14 18:16] roberthbailey commented on #40787
The recent failures are the same cause as #42934 which @nikhiljindal's change should fix shortly. Then we can see if this is still flaking.

[2017-03-14 18:18] liggitt commented on #42976
@rwehner `k8s\x00` indicates you have protobuf data stored... what did you set for `--storage-media-type` when upgraded to 1.6? @smarterclayton, correct me if I'm wrong, but isn't protobuf in etcd2 a problem?

[2017-03-14 18:21] wojtek-t commented on #40139
@shyamjvs - I think there are two things:
- the lack of retries in some places
- what I mentioned here: https://github.com/kubernetes/kubernetes/issues/40139#issuecomment-286068409 (we should understand what that was)

[2017-03-14 18:21] ethernetdan commented on #31553
@soltysh is there a resolution here? We need to triage this as release blocking or not release blocking for v1.6.

[2017-03-14 18:23] mikebrow commented on #42492
I fail to see the benefit of failing due to a leading zero rule. Suggest making the leading zero rule a warning/informational msg and return nil instead of error on the semver check.

[2017-03-14 18:23] bgrant0607 commented on #28842
@davidopp

I'm not a fan of changing the scheduling prioritization policy based on whether or not cluster (i.e., horizontal node) autoscaling is in use or not. Was this proposed because you believe that users need to opt in to a new policy, and opting in to cluster autoscaling provides an opportunity to change the behavior?

I'd be more in favor of changing to a new default policy that would alway

[2017-03-14 18:24] wojtek-t commented on #42660
@mikedanese - btw I verified it and with the instruction to downgrade from above (being run from 1.5 branch) downgrade from 1.6.0-beta.3 to 1.5.4 works correctly.

[2017-03-14 18:25] ethernetdan commented on #31715
@justinsb looks like this failure is isolated to the kops suites, any thoughts?

We should triage this as a 1.6 blocker or non-blocker.

[2017-03-14 18:25] ethernetdan commented on #31715
cc/ @kris-nova

[2017-03-14 18:34] gnufied commented on #42990
I have pushed a fix in #43091

[2017-03-14 18:38] ethernetdan commented on #34242
Too late for v1.6, moving to v1.7 milestone. If this is incorrect please correct.

/cc @kubernetes/release-team

[2017-03-14 18:38] janetkuo commented on #31553
@ethernetdan This is not release blocking. The fix was implemented server-side #42177 but won't make it to 1.6.

[2017-03-14 18:38] jessfraz commented on #34378
Hmm is this the apiserver coming up slower than normal? Do we need a longer timeout? or to retry a few times? or is there a bigger underlying issue here as to why this just started happening now?

[2017-03-14 18:40] ethernetdan commented on #35318
This is too late for v1.6, moving to v1.7 milestone. If this is incorrect, please move.

/cc @kubernetes/release-team

[2017-03-14 18:40] MrHohn commented on #38020
Took a look at this, ci-kubernetes-e2e-gke-alpha-features-release-1.4 failed roughly 100% due the leaked healthCheck resource (and hit quotaExceeded):
[code]
ci-kubernetes-e2e-gke-alpha-features has similar issue, as that project already has 39 healthCheck resource leaked. I manually deleted the leaked healthChecks and would like to see how it goes.

And this does not block v1.6.

@krzyzacy Is the

[2017-03-14 18:41] ethernetdan commented on #35486
@smarterclayton is this a release blocker or can it be moved to `v1.7` or `v1.6.1`?

[2017-03-14 18:44] lavalamp commented on #34508
I will also consider using a system similar to that in my existing design to synthesize and serve versions. E.g., leave v1, and also add v1.0, v1.1, v1.123 etc, but mount these as individual versions in the URL path system. I don't think this reduces the complexity of that design by very much though.

[2017-03-14 18:44] #42490 closed

[2017-03-14 18:45] krzyzacy commented on #38020
seems that's not part of the [list of resources](https://github.com/kubernetes/test-infra/blob/master/jenkins/janitor.py#L31-L44) yet, I'll add health-check there.

[2017-03-14 18:47] krzyzacy commented on #38020
@MrHohn I saw health-check, http-health-check, https-health-check, which ones are we using? Or all of them?

[2017-03-14 18:49] k8s-merge-robot opened #43092 "ci-kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/791/
Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAffinity is respected if matching {Kubernetes e2e suite}

[code]
Issues about this test specifically: #36914

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there i

[2017-03-14 18:51] ethernetdan commented on #31553
@janetkuo thanks! moving to 1.7

[2017-03-14 18:52] nicksardo commented on #37970
The apiserver stops responding to requests halfway through causing the same set of tests to fail. This flake hasn't occurred in a week and doesn't seem related to the components being tested. Believe this could be pushed from 1.6.

[2017-03-14 18:52] k8s-merge-robot opened #43093 "ci-kubernetes-e2e-gci-gce-statefulset: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-statefulset/3731/
Multiple broken tests:

Failed: [k8s.io] StatefulSet [k8s.io] Deploy clustered applications [Feature:StatefulSet] [Slow] should creating a working CockroachDB cluster {Kubernetes e2e suite}

[code]

Failed: [k8s.io] StatefulSet [k8s.io] Deploy clustered applications [Feature:StatefulSet] [S

[2017-03-14 18:54] falenn commented on #43015
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (150/150 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 18:55] falenn commented on #43092
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (153/150 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 18:55] MrHohn commented on #38020
Should be `health-check` ([doc](https://cloud.google.com/compute/docs/load-balancing/health-checks))? Seems like the other two are legacy.

[2017-03-14 18:56] ncdc commented on #40905
Moving to 1.7

[2017-03-14 18:56] falenn commented on #38020
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (157/150 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 18:56] caesarxuchao commented on #33245
In the `kubectl get` output, the daemonset's metadate field doesn't have finalizers, so it's not caused by the garbage collector.

I think it's because the pods are not deleted timely, so it's a node teams issue @kubernetes/sig-node-bugs

[2017-03-14 18:57] caesarxuchao commented on #33245
cc @yujuhong

[2017-03-14 18:57] falenn commented on #37970
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (161/150 (107%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 18:58] falenn commented on #43093
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (162/150 (108%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 18:59] timstclair commented on #41047
Are all these failures on GCI? It might be worth looking at what changed in the recent GCI images.

[2017-03-14 18:59] krzyzacy commented on #38020
lol

[2017-03-14 19:00] falenn commented on #42603
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (167/150 (111%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 19:02] falenn commented on #33245
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (172/150 (114%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 19:02] falenn commented on #38020
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (176/150 (117%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 19:03] jamonation commented on #42137
This has been addressed over in https://github.com/kubernetes/kubernetes/pull/42815 so closing.

[2017-03-14 19:03] #42137 closed

[2017-03-14 19:04] soltysh commented on #31553
Yup, was about to write that.

[2017-03-14 19:05] krzyzacy commented on #38020
that's the reason you don't want to subscribe for everything in k/k :smiling_imp:

[2017-03-14 19:06] jessfraz commented on #42831
I don't think this is a blocker it just seems like the phrasing changed? So should we patch the 1.5 tests to not run this if the server is a 1.6 version?

[2017-03-14 19:06] ethernetdan commented on #39746
Too late for v1.6, moving to v1.7. Please change milestone if incorrect.

/cc @kubernetes/release-team

[2017-03-14 19:14] rwehner commented on #42976
@liggitt: Ah, that might explain things. I didn't set `--storage-media-type` at all when I upgraded; I just set ``--storage-backend`. I didn't realize both were needed. So my issue may not be related to Brendan's.

FWIW with the clue you gave (thanks!), I set the v1.5.2kube-apiserver to have both `--storage-backend=etcd2 --storage-media-type=application/vnd.kubernetes.protobuf` and it started work

[2017-03-14 19:17] krzyzacy commented on #38020
/assign
/unassign @spxtr

[2017-03-14 19:26] fejta commented on #43026
Perhaps this needs to go in `$ginkgo_args` and not `$@`?

https://github.com/kubernetes/kubernetes/blob/master/hack/ginkgo-e2e.sh#L117

[2017-03-14 19:26] k8s-merge-robot opened #43094 "[k8s.io] DNS should provide DNS for services [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/5940/
Failed: [k8s.io] DNS should provide DNS for services [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26168 #27450

[2017-03-14 19:35] madhusudancs commented on #39746
@ethernetdan fair enough. I will add a release note explaining the caveat though.

[2017-03-14 19:37] ethernetdan commented on #42976
@liggitt @mml do want to make changing defaults here a release blocker? otherwise, we should move to another milestone

[2017-03-14 19:38] madhusudancs commented on #39746
Filed a documentation issue to track that here - https://github.com/kubernetes/kubernetes.github.io/issues/2811

[2017-03-14 19:41] ethernetdan commented on #42660
@mikedanese @wojtek-t can these be closed or removed as a 1.6 blocker?

[2017-03-14 19:41] liggitt commented on #42976
@mml @wojtek-t looks like a mix of `--storage-backend=etcd2` and `--storage-media-type=application/vnd.kubernetes.protobuf` is problematic. That results in base64-encoded protobuf in etcd2, which is difficult to migrate to straight protobuf in etcd3.

Because the defaults for both storage backend and storage media type changed in 1.6, I *really* want to prevent accidental mixing of etcd2 with prot

[2017-03-14 19:43] ethernetdan commented on #42753
@dchen1107 what's the status of this?

[2017-03-14 19:45] csbell commented on #42071
We believe that we've fixed this a few days ago. Let bot re-open if otherwise.

[2017-03-14 19:45] #42071 closed

[2017-03-14 19:47] skippy commented on #41711
@deitch THANKS for opening this up.  being able to do this in a declarative way via configs vs running a separate command is a nice +1.

[2017-03-14 19:48] ethernetdan commented on #42701
@k82cn @dchen1107 @vishh Is this a release blocker for 1.6? Please decide by EOD

[2017-03-14 19:50] csbell commented on #42072
We will work with @vishh to address this issue post-1.6. It is not a blocker despite the bot having opened this bug just now.

[2017-03-14 19:56] liggitt commented on #42644
I don't think so, but I'd like it fixed asap post-1.6

[2017-03-14 20:01] abrarshivani commented on #42690
@dchen1107 Yes you are right validation receives duplicate address. I added few log messages and observed that vSphere Cloud Provider doesn’t return any duplicate address. Also, kubelet_node_status doesn’t receive any duplicate address from cloud provider.

Logs:

diff (/pkg/api/validation/validation.go) :
[code]

Log:
[code]

diff (pkg/cloudprovider/providers/vsphere/vsphere.go) :
[code]
Log:
[co

[2017-03-14 20:01] eviloop commented on #35186
Hello,

I have done this by setting the variables on the kube-apiserver environment

Either injected into the container or unit file ( systemd)

However it looks like CIDRs are not supported in NO_PROXY ? Which breaks most of the HTTP_PROXY configuration

[2017-03-14 20:03] sclasen commented on #20659
@justinsb  Not that its the normal case, but say you suffer a catastrophic failure of your etcd cluster, restore it from snapshots and restart the apiserver.

You will potentially be on a revision that is before wherever you are attempting to reconnect the watch at, and possibly miss updates, I think.

Similarly for catastrophic failures with https://github.com/kubernetes/client-go/blob/65ac4e638a

[2017-03-14 20:07] justinsb commented on #42510
I definitely noticed a few weeks ago that the same kops test job will "sometimes" be started twice - we see build.json being overwritten with a different timestamp (10-20 minutes later, typically).  I watched for it this morning during some of the kops problems, but could not see it this morning.

[2017-03-14 20:07] justinsb commented on #42334
Tracking gcloud problem here: https://github.com/kubernetes/test-infra/issues/2236

[2017-03-14 20:08] MikeSpreitzer commented on #40403
@smarterclayton I need some more clues to understand the "project" concept you mentioned in the opening remark here.  What do you mean by "perform a cluster-scoped `GET /v1/projects` call and see only the namespaces ..."?  Do you mean that GET returns the right namespaces?  That would be an odd thing for a GET of /v1/projects to return.  Or you do mean the get returns things (what things?) found i

[2017-03-14 20:10] MikeSpreitzer commented on #40403
@smarterclayton I suppose that in the enumeration of 3 items in the opening remark here, you meant to end item 3 with a reference to the ingress controller rather than the end user.

I suppose that in the second enumeration of 3 issues, issue 2 was meant to refer to burstiness rather than bustiness.

[2017-03-14 20:11] marun commented on #42766
@MrHohn What's the status on this?  Should it be blocking the 1.6 release?

[2017-03-14 20:16] MrHohn commented on #42766
This is not blocking 1.6 as it is a flaw in test itself. And I sent #42773 to fix.

[2017-03-14 20:18] marun commented on #42766
@ethernetdan Please remove from 1.6

[2017-03-14 20:21] liggitt commented on #28435
pre-existing for 1.6, not a release blocker

[2017-03-14 20:22] liggitt commented on #39816
@caesarxuchao the backoff removed the log flooding, right? if so, I think this can be moved to 1.7

[2017-03-14 20:23] liggitt commented on #39816
c.f. https://github.com/kubernetes/kubernetes/pull/42615#issuecomment-284910788

[2017-03-14 20:24] bsalamat commented on #41600
If you haven't seen this document already, please take a look and leave your comments:
https://docs.google.com/document/d/19AKH6V6ejOeIvyGtIPNvRMR4Yi_X8U3Q1zz2fgTNhvM

You must be a member of one of the two following groups to be able to see and comment:
`kubernetes-dev@googlegroups.com`
`kubernetes-sig-scheduling@googlegroups.com`

[2017-03-14 20:30] ethernetdan commented on #37951
Seems to have been an ephemeral issue

[2017-03-14 20:30] #37951 closed

[2017-03-14 20:31] ethernetdan commented on #37988
Seems ephemeral

[2017-03-14 20:34] #42334 closed

[2017-03-14 20:38] ethernetdan commented on #43015
It appears there are 3 example regressions:
* [k8s.io] [Feature:Example] [k8s.io] Cassandra should create and scale cassandra
     * This one is recent ([Testgrid Identified Change](https://github.com/kubernetes/kubernetes/compare/ac05be7...50943d1))
* [k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset
* [k8s.io] [Feature:Example] [k8s.io] Hazelcast should create an

[2017-03-14 20:45] ethernetdan commented on #38159
Issues seem to not be test related, moving to v1.7 milestone. Please correct if this is inaccurate.

[2017-03-14 20:48] k8s-merge-robot opened #43099 "[k8s.io] Cluster size autoscaling [Slow] shouldn't increase cluster size if pending pod is too large [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-autoscaling-migs/3925/
Failed: [k8s.io] Cluster size autoscaling [Slow] shouldn't increase cluster size if pending pod is too large [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

Previous issues for this test: #34581

[2017-03-14 20:48] k8s-merge-robot opened #43100 "[k8s.io] DNS configMap federations should be able to change federation configuration {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/5942/
Failed: [k8s.io] DNS configMap federations should be able to change federation configuration {Kubernetes e2e suite}

[code]

[2017-03-14 20:48] k8s-merge-robot opened #43101 "[k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/5319/
Failed: [k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26194 #26338 #30345 #34571

[2017-03-14 20:49] caesarxuchao commented on #39816
Thanks @liggitt. You are right, this is not a 1.6 blocker. https://github.com/kubernetes/kubernetes/pull/42862 makes sure the log message is only printed once per un-resolvable ownerReference.

[2017-03-14 20:49] ethernetdan commented on #37970
Seems stable enough to push to 1.7

[2017-03-14 20:52] #42774 closed

[2017-03-14 20:53] ethernetdan commented on #37987
Suite looks like its stabilized, however it's timing out on many results. @ixdy @spxtr We may want to increase the timeout here. Moving to v1.7 milestone.

[2017-03-14 20:55] ethernetdan commented on #38020
Suite seems relatively stable so moving to v1.7

[2017-03-14 20:57] ethernetdan commented on #38024
Suite seems stable moving to v1.7

[2017-03-14 20:57] ethernetdan commented on #40704
Suite seems stable moving to 1.7

[2017-03-14 20:58] vishh commented on #42701
@k82cn your approach to fix this is sound. Adding comments on your PR.

[2017-03-14 20:59] ethernetdan commented on #40787
@roberthbailey @nikhiljindal is this a blocker for 1.6?

[2017-03-14 21:00] ethernetdan commented on #42602
@justinsb @kris-nova is this a blocker for 1.6?

[2017-03-14 21:01] ethernetdan commented on #42603
@justinsb @kris-nova is this a blocker for 1.6? if not, please switch milestones

[2017-03-14 21:02] ethernetdan commented on #42643
Suite looks stable recent failures look related to Route53 outage, moving to v1.7

[2017-03-14 21:04] ethernetdan commented on #42816
Suite looks stable, moving to 1.7

[2017-03-14 21:04] enisoc opened #43102 "All master upgrade tests skipped"
**Is this a request for help?**:

No.

**What keywords did you search in Kubernetes issues before filing this one?**:

* AppArmor upgrade
* upgrade test

---

**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel*

[2017-03-14 21:05] kris-nova commented on #42643
Thanks for the update @ethernetdan.. glad this is no longer scheduled for 1.6  🙌

[2017-03-14 21:05] ethernetdan commented on #43019
Same issues as #43015

[2017-03-14 21:06] enisoc commented on #43102
@kubernetes/sig-testing-bugs

[2017-03-14 21:06] smarterclayton commented on #35486
If we don't fix this, before we cut the release someone needs to run this manually and test.  So still blocker.

[2017-03-14 21:06] smarterclayton commented on #36891
I don't see a better, simpler, global consistency fix.  We can defer this to 1.7 in case we have a better idea.

[2017-03-14 21:07] ethernetdan commented on #43036
Waiting for another run to finish. If clean - moving to 1.7 as stable.

[2017-03-14 21:09] liggitt commented on #36891
I look forward to having this conversation again in four months

[2017-03-14 21:09] smarterclayton commented on #43093
Looks like someone just fixed this job?  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-statefulset/3735/

[2017-03-14 21:09] eviloop commented on #42574
Hello @dbaumgarten

how are you deploying the cluster ?

From what i see here: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L110

a FIP should be dynamically assigned to the LBaaS as long as the network is configured on the cloud-config

That would also be the behaviour standard with AWS

[2017-03-14 21:10] ixdy commented on #43102
@kubernetes/sig-node-bugs

[2017-03-14 21:12] ethernetdan commented on #43072
Some flakes but otherwise suite seems stable, moving to 1.7

[2017-03-14 21:14] ethernetdan commented on #43092
Seems stable other than a few flakes, moving to v1.7

[2017-03-14 21:16] caesarxuchao commented on #16376
I think we can either update the signature of `cache.NewListWatchFromClient()` to allow passing in a custom parameter codec, or build the parameter codec into the RESTClient.

[2017-03-14 21:17] ethernetdan commented on #43093
Looks good! Let's close if another run comes back clean.

[2017-03-14 21:18] ethernetdan commented on #43037
Suite seems stable now and will move to v1.7 but I'll keep an eye on it.

[2017-03-14 21:20] smarterclayton commented on #36891
Maybe we'll have waited long enough.

[2017-03-14 21:20] eviloop commented on #34698
Hello @bradbeam

Awesome find ! I had not noticed this

Thanks !

[2017-03-14 21:22] k8s-merge-robot opened #43103 "ci-kubernetes-e2e-kops-aws-release-1.5: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-release-1.5/6/
Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support inline execution and attach {Kubernetes e2e suite}

[code]

[2017-03-14 21:23] ethernetdan commented on #37915
Seeing more failures here than in `ci-kubernetes-e2e-gci-gce-reboot`

@kubernetes/goog-gke is this release blocking for 1.6? Moving to 1.7 if I don't hear back by EOD.

[2017-03-14 21:25] nikhiljindal commented on #38133
@zhouhaibing089 Can you send your output of `kubectl version`?
Do you see that error only while deleting namespace? What if you delete the service directly by running `kubectl delete svc <svcName>`. Does that work fine? For all other resources?

[2017-03-14 21:27] dbaumgarten commented on #42574
@eviloop That is right. A floating IP is automatically assigned to the LoadBalancer. The problem is, that it is currently not possible to choose which floating IP should be used for the LoadBalancer.
--LoadBalancerIP just sets the vip-IP, but for reasons mentioned above, this is nearly completely useless. It would be far more usefull if --LoadBalancerIP allowed us to choose one of the existing flo

[2017-03-14 21:30] enisoc commented on #43102
Actually I checked and despite the error message text, the master is not debian:

[code]

[2017-03-14 21:32] dchen1107 commented on #5011
cc/ @timstclair @kubernetes/sig-node-feature-requests Tim this is what I proposed on how to build kube-system images, especially for master components long time ago.

Also you can see there is an open issue #24123. If you plan to move down to this direction for kube-system images in production, you have to make sure CRI has image loading functionality too. That is a new request for CRI API.

[2017-03-14 21:39] spxtr commented on #43102
cc @krousey

[2017-03-14 21:40] eviloop commented on #42574
@dbaumgarten
I am a bit confused. Is the Floating IP being dynamically assigned but not reported as an Endpoint ?

Or would it be a request for the FIP to be not to be dynamically assigned but to have the option to manually assigned it as well?

[2017-03-14 21:43] pwittrock commented on #8329
As monopole pointed out to me offline, kubectl get can't do this.  Describe already shows the endpoints @monopole.  Closing for now.

[2017-03-14 21:43] #8329 closed

[2017-03-14 21:43] ethernetdan commented on #28337
Moving to 1.7 as triaged as non-blocking.

[2017-03-14 21:45] ethernetdan commented on #32531
Status: @piosz is working on a fix

[2017-03-14 21:46] krzyzacy commented on #38020
/close

close via https://github.com/kubernetes/test-infra/pull/2245

[2017-03-14 21:46] #38020 closed

[2017-03-14 21:47] ethernetdan commented on #34378
@roberthbailey @jessfraz does this seem stable enough to not block 1.6?

[2017-03-14 21:49] ethernetdan commented on #36564
@dchen1107 @deads2k could you determine if this is closed and if not if it's release blocking?

[2017-03-14 21:49] jessfraz commented on #34378
I think its not a blocker, but just weird

[2017-03-14 21:49] dbaumgarten commented on #42574
@eviloop The floating ip is dynamically assigned and correctly reported.

What I would like to have is the possibility to choose an existing floating IP for the LoadBalancer.
Lets say I create a Service using kubectl expose: "kubectl expose deployment nginx --port 80 --type LoadBalancer --LoadBalancerIP=10.1.2.3" In this case I would want, that kubernetes doesn't allocate a new floating IP, but as

[2017-03-14 21:50] jessfraz commented on #42831
I dont this this should be a blocker unless that phrasing was not an intentional change

[2017-03-14 21:50] pwittrock commented on #34378
This look pretty green.  https://k8s-testgrid.appspot.com/google-gci#gci-gce&width=5  We should not block the launch for it.

[2017-03-14 21:51] ethernetdan commented on #36794
Hasn't failed outside full suite suite failure since January, moving to 1.7

[2017-03-14 21:53] ethernetdan commented on #37259
@foxish should this block 1.6?

[2017-03-14 21:53] ethernetdan commented on #37324
@spiffxp sounds good

[2017-03-14 21:54] ethernetdan commented on #37543
@cmluciano @gmarek should this flake block the 1.6 release?

[2017-03-14 21:56] krousey commented on #43102
Oof. This is actually running a skip in a `BeforeEach`.

[2017-03-14 21:56] ethernetdan commented on #37974
@roberthbailey @fejta @mikedanese @zmerlynn please assess if this should be blocking for 1.6 by EOD

[2017-03-14 21:57] #38166 closed

[2017-03-14 21:57] ethernetdan commented on #38448
@MrHohn thanks!

[2017-03-14 21:59] ethernetdan commented on #38658
@nikhiljindal @justinsb @fejta @madhusudancs: should this be blocking for 1.6? Please determine by EOD.

[2017-03-14 22:00] ethernetdan commented on #38889
Hasn't occurred in a while and doesn't involve failing tests so moving to 1.7

[2017-03-14 22:03] lmickh opened #43104 "DaemonSets will conflict with hostPorts on nodes it shouldn't apply to"
Bug report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): CoreOS 1298.5.0
- **Kernel** (e.g. `uname -a`): 4.9.9-coreos-r1
- **Install tools**:  Manual

**What happened**:

Attempted to run a daemonset that includes a hostPort and is using a nodeSelector.  The controller will fail

[2017-03-14 22:10] bgrant0607 commented on #18553
@timothysc @mikedanese Is this issue obsolete?

[2017-03-14 22:12] timothysc commented on #18553
yeah.. closing.

[2017-03-14 22:12] #18553 closed

[2017-03-14 22:13] bowei commented on #38060
I'm looking at the testlink history for this test: https://k8s-testgrid.appspot.com/google-gke#gci-gke-serial&width=5

And the test looks to be quite troubled. The two main offenders at the moment are:

* [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node
* [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [ReplicationController]

[2017-03-14 22:23] ethernetdan commented on #39582
@apelisse @k8s-mirror-scalability-misc:
please triage as release blocking by EOD

[2017-03-14 22:27] huggsboson commented on #39900
We are being affected by this on 1.4 #37278

[2017-03-14 22:29] enisoc commented on #43102
I rebuilt `test/e2e/e2e.test` with the following line commented out, and the MasterUpgrade test was no longer skipped:

https://github.com/kubernetes/kubernetes/blob/b0ce93f9be25c762fd4b746077fcda2aaa5b12bd/test/e2e/cluster_upgrade.go#L38

[2017-03-14 22:29] ethernetdan commented on #40977
Hasn't failed in non-broken runs in a while, moving to 1.7

[2017-03-14 22:30] ethernetdan commented on #41047
@mikedanese @dchen1107 is this release blocking?

[2017-03-14 22:32] caesarxuchao commented on #42952
Checked the log, it appears when GC is processing the foreground deletion of the owner RC, GC doesn't find any dependents of RC. This probably is the same race we expected in https://github.com/kubernetes/kubernetes/issues/26120 no.1.

To fix the test, the test can wait some seconds before sending the deletion request, so that the garbage collector will have time to update its dependency graph.

[2017-03-14 22:32] ethernetdan commented on #41419
@nikhiljindal @kargakis @csbell is this issue release blocking? If not, please remove from 1.6 milestone

[2017-03-14 22:34] ethernetdan commented on #41647
Sounds like this issue is not release blocking, please correct milestone if this is inaccurate.

[2017-03-14 22:35] ethernetdan commented on #42154
@gnufied @jsafrane @pmorie could you please assess by EOD if this should be release blocking?

[2017-03-14 22:37] ethernetdan commented on #42348
We should figure out how to avoid these false positives but I don't believe this is release blocking.

[2017-03-14 22:38] ethernetdan commented on #42394
@davidopp @aveshagarwal @liggitt should this be blocking for 1.6?

[2017-03-14 22:39] ethernetdan commented on #42451
We should figure out a way to avoid these false positives but agreed not release blocking.

[2017-03-14 22:41] ethernetdan commented on #42476
@jsafrane @pmorie @xiang90 could you determine if this is release blocking by EOD?

[2017-03-14 22:41] timstclair commented on #5011
@ixdy - fyi, see Dawn's comment above.

[2017-03-14 22:42] ethernetdan commented on #42510
@justinsb @roberthbailey is this a release blocking failure?

[2017-03-14 22:43] justinsb commented on #38658
* It appears to be a regression: multizone clusters can no longer be created with kube-up at least according to the test
* kube-up continues to be the only recommended way to create clusters on GCE
* I will verify tonight that multizone itself is not actually broken on GCE, just kube-up

Blocking or not is up to you @ethernetdan .  My view:

* If the broken functionality is in kubernetes itself, w

[2017-03-14 22:43] ethernetdan commented on #42561
@ymqytw @liggitt @strugglingyouth please triage as release blocking by EOD

[2017-03-14 22:45] ethernetdan commented on #42570
Moving to 1.7 milestone as not release blocking. If inaccurate, please correct.

/cc @kubernetes/release-team

[2017-03-14 22:46] ethernetdan commented on #42639
@enisoc @deads2k @kargakis is this release blocking for 1.6?

[2017-03-14 22:51] pwittrock commented on #42831
I think I know why this is failing.  In 1.6 the server started populating the status and the client was changed to read the qos from status instead of calculating it.  The test is failing in a way that makes it look like the kubectl is 1.6 and expects to read the qos from the status, and the server is 1.5 and is not populating the status.

`
Running '/workspace/kubernetes_skew/cluster/kubectl.sh -

[2017-03-14 22:52] ethernetdan commented on #42738
@enisoc @skriss let's do another beta once this merges to give it some soak time

[2017-03-14 22:56] ethernetdan commented on #42746
This issue appears to be [resolved](https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-container_vm-1.4-container_vm-1.6-upgrade-master).

[2017-03-14 22:57] ethernetdan commented on #43023
We should find a way to quiet this false positive but agreed not a release blocker.

[2017-03-14 22:57] ethernetdan commented on #43068
@foxish @gmarek should this be a release blocker?

[2017-03-14 22:59] #38569 closed

[2017-03-14 22:59] enisoc commented on #43102
cc @skriss @ethernetdan

[2017-03-14 22:59] smarterclayton commented on #42976
I think 1.6 should prevent etcd2+protobuf, so users have to move to
something supportable.

On Tue, Mar 14, 2017 at 3:42 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-03-14 23:01] ethernetdan commented on #43050
@kris-nova @justinsb could this be classified as a release blocker or not?

[2017-03-14 23:05] davidopp commented on #42394
There are two issues here. One is just a dup of #40586. The main question is whether #43016 is blocking for 1.6. I don't know enough about the API stuff to know for sure.

[2017-03-14 23:09] foxish commented on #43015
Not a blocker.

[2017-03-14 23:14] caesarxuchao commented on #42639
Yes, it is.

[2017-03-14 23:18] ymqytw commented on #42561
@kubernetes/sig-api-machinery-misc

[2017-03-14 23:24] ymqytw commented on #39900
The fix for issue #37278 is PR #37328. It is in 1.5 branch, and has not been backported to 1.4 branch.
cc: @pwittrock

[2017-03-14 23:33] ethernetdan commented on #43102
@enisoc what needs to be changed to fix this?

[2017-03-14 23:33] foxish commented on #43015
Looks like this is similar to the flake I fixed today in https://github.com/kubernetes/kubernetes/pull/43066.
Some change to testing code making all the examples and paths break?

cc @kubernetes/sig-testing-bugs

[2017-03-14 23:34] FrenchBen commented on #42492
@mikebrow @yujuhong @yongtang  Would love to land a helping hand in the patch ❤️ ; compatibility is always a concern for Docker, and we never want to see a release be a blocker for upgrades, although tracking down/keeping up how the API is being used in the wild is always challenging.

I agree that checking the API version may be a better way of doing this, instead of depending on the previous sem

[2017-03-14 23:35] foxish commented on #43068
I suspect not. @gmarek will have more context on this one.

[2017-03-14 23:51] enisoc commented on #43102
@ethernetdan I think we could unblock the rest of the upgrade tests if we disable the new AppArmor test by commenting out [this line](https://github.com/kubernetes/kubernetes/blob/b0ce93f9be25c762fd4b746077fcda2aaa5b12bd/test/e2e/cluster_upgrade.go#L38). I don't know what would be the right way to fix it to only skip the AppArmor test if the environment is not compatible.

[2017-03-15 00:01] lavalamp commented on #34508
Wrote up a sketch of maintaining linked fields: https://docs.google.com/document/d/1HhuJMC3Kx1JiPVlTnqaim2QkZGdJ1gzyoy6RVFucoBs/edit

This proposal is way less disruptive than the first one.

Will add this and another idea to the SIG agenda for tomorrow.

[2017-03-15 00:06] skriss commented on #43102
just to be clear this was merged after beta.3 so has not been affecting the release upgrade testing. but obviously this needs to be fixed.

[2017-03-15 00:07] timstclair opened #43111 "Node E2E tests have a stale TestContext.KubeletConfig"
TestContext.KubeletConfig is set in a SynchronizedBeforeSuite block (https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_node_suite_test.go#L162), but this value may be stale if the config is modified by a test.

Tests where TestContext.KubeletConfig is used:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/mirror_pod_test.go#L47
https://github.com/kubernetes/k

[2017-03-15 00:19] kfox1111 opened #43112 "Atomic Configmaps/Secrets"
FEATURE REQUEST

 * note, anywhere that says 'configmap' below could have 'secret' substituted.

Longer description at the bottom. TL:DR; here:

We need a new volume type or a new property on configmap volumes that has the following behavior:
 * When a k8s object type that contains a pod template is created, when one or more of its configmaps is marked atomic, a snapshot of the referenced configma

[2017-03-15 00:21] skriss commented on #43024
@fabxc can you help get this looked at and triaged ASAP? Thanks.

[2017-03-15 00:23] kfox1111 commented on #43112
@idvoretskyi @flaper87

[2017-03-15 00:25] kfox1111 commented on #12245
I'm not sure if this is relevant or not to the conversation, but if daemonsets are enhanced to support the linked feature, along with daemonset rolling upgrade support, maybe this will be useful:
https://github.com/kubernetes/kubernetes/issues/43112

[2017-03-15 00:27] pwittrock commented on #42831
Figured this out.  This is caused by the Nodes being at 1.5 - not populating the qos status - and the client at 1.6 and trying to read the qos from status.

[2017-03-15 00:29] enisoc commented on #43102
@skriss Which jobs do you mean by the "release upgrade testing"? The problem seems to be affecting jobs such as [ci-kubernetes-e2e-gce-1.5-1.6-upgrade-master](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-master/18/?log#log):

[code]

Note that this bug is in the e2e test binary, not in the actual Kubernetes release binaries.

[2017-03-15 00:44] huggsboson commented on #37278
Hey Folks,

We had piled up a bunch of broken namespaces so I created a script to get rid of them until we can get onto 1.5.x.  It's an ugly bit of bash.  It tries to clean up resources before back-dooring kube.  Feedback welcome.
[code]

[2017-03-15 00:50] smarterclayton commented on #12430
If we introduce something like this, we have to handle "writes that change nothing" correctly.  As mentioned above that's not easy without support from etcd.

[2017-03-15 00:51] lukaszo commented on #43104
It looks like it's fixed in 1.6(master) I couldn't reproduce it. Does it somehow block you? It seems to be just an UX issue.

[2017-03-15 00:53] saad-ali commented on #38060
@foxish @kubernetes/sig-api-machinery-misc Could you please look at these failing tests.

[2017-03-15 00:54] skriss commented on #43102
hmm, seems like only the most recent runs are affected -- not sure I understand the timing there.

[2017-03-15 00:56] mtaufen commented on #43112
k8s receives the new configmap but does not push it out to the existing pods, as they all reference 'bar-1' instead.

Why not, instead of mutating `bar`, just create a `ConfigMap` named `bar2`, and update your `Deployment` to point the `Pod`s at that new `ConfigMap`?

[2017-03-15 00:59] foxish commented on #38060
Working on getting more information to debug the test in
https://github.com/kubernetes/kubernetes/pull/43090

On Mar 14, 2017 5:53 PM, "Saad Ali" <notifications@github.com> wrote:

[2017-03-15 01:00] #38894 closed

[2017-03-15 01:02] cmluciano commented on #37543
@gmarek Should this have a label for the apimachinery SIG as well

[2017-03-15 01:19] zhouhaibing089 commented on #38133
Looking at the code of deletion logic, `services` happened to to be the first one which fails the request, I am worried about that the `DeleteCollection` does not work for all of other resources.

[2017-03-15 01:25] gnufied commented on #42154
I do not think these should be release blockers.

@pmorie  has moved a similar issue to 1.7 - https://github.com/kubernetes/kubernetes/issues/42514

[2017-03-15 01:30] yujuhong commented on #43021
Moving this back to 1.6. The checkpoint implementation use `ioutil.WriteFile()`, which does not sync at all. No wonder the checkpoints would be corrupted in the reboot tests.
I reproduced this issue with a simple go program + reboots on a VM. The problem went away once I forced a `File.Sync`

I will upload a PR to fix this.

/cc @thockin

[2017-03-15 01:32] ixdy commented on #43102
@skriss the upgrade tests upgrade to the latest build on the `release-1.6` branch, which will be past beta.3 at this point.

[2017-03-15 01:43] zouyee opened #43119 "why not we change controllers to controller in the returned result that `kubectl describe pod xxx`"
why not we change controllers to controller  in the returned result that   `kubectl describe pod xxx`

kubectl describe po weave-flux-agent-3961180016-65dqt
Name:		weave-flux-agent-3961180016-65dqt
Namespace:	default
Node:		k8s-7/10.134.29.152
Start Time:	Wed, 08 Mar 2017 17:01:12 +0800
Labels:		app=weave-flux
		name=weave-flux-agent
		pod-template-hash=3961180016
		weave-cloud-component=flux
		we

[2017-03-15 01:56] liggitt commented on #43112
echoes of https://github.com/kubernetes/kubernetes/pull/31701/files

[2017-03-15 02:32] liggitt commented on #42561
moving out of the milestone, since upgrade tests cover this scenario, but keeping it open until we get more info from @strugglingyouth

[2017-03-15 02:33] strugglingyouth commented on #29330
Yes I have the same issue too .

etcdctl version: 3.1.3
API version: 3.1
Kubernetes v1.6.0-beta.1 (master and  node)

config apiserver as follow:

--etcd-cafile='/var/run/kubernetes/ca.pem' --etcd-certfile='/var/run/kubernetes/client.pem' --etcd-keyfile='/var/run/kubernetes/client-key.pem' --client-ca-file='/var/run/kubernetes/ca.pem'

create deployment and other is right, etcd is ok.

$ kubectl g

[2017-03-15 02:39] liggitt commented on #42394
@smarterclayton says proto always tolerates missing objects, so I think #43016 is ok to move to 1.7

[2017-03-15 02:44] #40218 closed

[2017-03-15 02:49] marun commented on #40139
@wojtek-t If this isn't a release blocker, it should be moved to the 1.7 milestone.

cc: @ethernetdan @calebamiles

[2017-03-15 02:51] justinsb commented on #38658
Aha!  So often the cluster seems to be ready, but then we kill it and fail the test.

When that happens, we see this:
`Failed to create firewall bootstrap-e2e-gce-multizone-minion-bootstrap-e2e-gce-multizone-http-alt in k8s-jkns-e2e-gce-ubelite`

From kube-up:
[code]

The name it is trying to create is `bootstrap-e2e-gce-multizone-minion-bootstrap-e2e-gce-multizone-http-alt`, but GCE has a 63 char

[2017-03-15 02:55] metral commented on #30518
@bigkraig

[2017-03-15 02:57] minminmsn opened #43120 "k8s volumes nfs example not bound"
Hello，ALL
Step by step according to the sample：
https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/nfs/README.md , but
"SchedulerPredicates failed due to PersistentVolumeClaim is not bound: "nfs-pv-provisioning-demo", which is unexpected".
who can tell me why ,tks!
k8s 1.5.3
centos7.3.1611

[2017-03-15 03:00] justinsb commented on #38658
Proposed a shorter name in https://github.com/kubernetes/test-infra/issues/2256

[2017-03-15 03:33] marun opened #43121 "Some tests using testify/assert expect assertions to fail fast"
While investigating #41419, I noticed that the test panicked after an [assertion for a non-nil pointer had failed](https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/federation-controller/configmap/configmap_controller_test.go#L155).  Looking at the source of testify's [assertion methods](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/stretchr/testify/asser

[2017-03-15 03:36] mkumatag commented on #42492
I spent some more time and here are my observation, we are logic of comparing current docker version with `containerdVersion=1.11.0`. After the new version change actually it does not make sense to compare with the older format of docker version, so I agree with @FrenchBen that we need to compare api version rather than versions.

Reference :
https://github.com/kubernetes/kubernetes/blob/master/pk

[2017-03-15 03:37] ixdy commented on #43121
Go's native `Fail` [doesn't abort execution](https://golang.org/pkg/testing/#B.Fail), requiring you to use `FailNow` instead, but I agree that it's unexpected behavior coming from other languages.

[2017-03-15 03:40] krousey commented on #43102
It's worth noting that the upgrade and other tests actually do run, Ginkgo just marks the whole step as skipped.

From the same run @enisoc posted logs from:

[code]

[2017-03-15 03:41] fejta commented on #37974
Agree this is useful. Just trying to point out that we won't see any more Auto generated hits of this bug since we changed the title

[2017-03-15 04:12] #43021 closed

[2017-03-15 04:44] tomzhang commented on #43043
my suggestion is "divide  and conquer",
1, running different services in different namespace and make a deployment step by step rather than one time deployment(for example , you can deploy the services by 10 times and one time for 100pods).

2, because all of the metadata is stored in etcd, each time you make an action for deployment which will take a  request/response action between k8s api, sche

[2017-03-15 04:58] fejta commented on #42934
Nice!

If this is fixed we should see this failure cluster shrink: https://storage.googleapis.com/k8s-gubernator/triage/index.html#7d709533623982a1223f

[2017-03-15 04:59] roberthbailey commented on #42934
https://k8s-testgrid.appspot.com/release-1.6-blocking#gke-1.6&sort-by-failures= still seems like it's failing on `DumpClusterLogs`.

[2017-03-15 04:59] roberthbailey commented on #42934
btw, your link takes me to a blank page...

[2017-03-15 05:00] fejta commented on #42934
Wait 30s for it to load

[2017-03-15 05:01] roberthbailey commented on #42934
although it looks like all the recent failures are "failed to create cluster" and have nothing to do with dumping logs

[2017-03-15 05:01] liggitt commented on #42976
opened https://github.com/kubernetes/kubernetes/pull/43122 to guard against that combination

[2017-03-15 05:02] fejta commented on #42934
I suspect the log-dump.sh script fails if the cluster doesn't exist? And I suspect we still run log-dump.sh when up fails because the cluster might be in a partially started state...

[2017-03-15 05:02] roberthbailey commented on #42934
looks like a capacity issue in the gke test environment

[2017-03-15 05:14] madhusudancs opened #43123 "Introduce a kubefed flag to allow time outs"
Today `kubefed` waits infinitely for its operations to complete. This is suboptimal. Our tests, for example, take about 15 hours before the overall timeout. Users probably face the same situation. We should introduce a hidden flag to allow time outs in tests for now and then promote it to a real flag and document it.

This is a sub-issue of issue #41725.

cc @kubernetes/sig-federation-feature-requ

[2017-03-15 05:15] fejta commented on #34581
@kubernetes/sig-scalability-misc is this interesting to someone?
/assign @wojtek-t @gmarek

Looks like something interesting happened to the autoscaling jobs on March 9:
https://storage.googleapis.com/k8s-gubernator/triage/index.html#c54212eccfe345d27462

![autoscaling](https://cloud.githubusercontent.com/assets/940341/23934571/823de330-0903-11e7-9f87-ae76bb238449.png)

[2017-03-15 05:15] madhusudancs commented on #41725
Created a sub-issue to track this - #43123.

[2017-03-15 05:16] fejta commented on #43099
@kubernetes/sig-scalability-misc is this interesting to someone?
/assign @wojtek-t @gmarek

Looks like something interesting happened to the autoscaling jobs on March 9:
https://storage.googleapis.com/k8s-gubernator/triage/index.html#c54212eccfe345d27462

![autoscaling](https://cloud.githubusercontent.com/assets/940341/23934571/823de330-0903-11e7-9f87-ae76bb238449.png)

[2017-03-15 05:16] gyliu513 commented on #43046
The `readinessProbe` can help such case, but it will impact the speed for service discovery.

[code]

[2017-03-15 05:19] roberthbailey commented on #42934
I've fixed the capacity issue. Let's see if the next run gets further along.

[2017-03-15 05:35] roberthbailey commented on #37974
I believe I found the root cause of this (see https://github.com/kubernetes/kubernetes/issues/42934#issuecomment-286641821) and fixed it.

I'll close tomorrow if the GKE test suites against the 1.6 release branch start to look happier.

[2017-03-15 05:36] roberthbailey commented on #40787
@ethernetdan -- this looks like failures for tests on the master branch. Shouldn't we only be blocking 1.6 based on tests running against the 1.6 branch?

[2017-03-15 05:36] MHBauer commented on #43121
I did not know that the various `assert` methods are not fast failing. That does surprise me.

Some of the golang testing logging functions do abort. `Error` behaves like `Fail` and `Fatal` behaves like `FailNow`. Similarly, a `Fatal` log in `glog` calls `Exit()`.

[2017-03-15 05:50] roberthbailey commented on #42510
Run 6810 is the only one that showed a leak, and it hasn't happened since (last completed run as of this writing was 6856). This seems like a low-grade flake, either in the test-infra (as @justinsb mentioned) or in our test code not cleaning up correctly.

Either way, it doesn't look release blocking to me. And since it's been so long since this happened and we aren't going to spend time looking i

[2017-03-15 05:50] #42510 closed

[2017-03-15 05:50] fejta commented on #43100
/unassign
/assign @madhusudancs

[2017-03-15 05:52] ymqytw commented on #42831
@vishh @sjenning Will 1.6 master with 1.5 nodes function correctly in this case?

[2017-03-15 05:53] fejta commented on #43025
All this bug states is that at least one test failed. We should stop creating these issues

[2017-03-15 05:53] marun commented on #41419
I think this can be moved out of 1.6.  It's a unit test problem, not a regression in functionality. There is an integration test pending that verifies the same functionality in a more realistic way (#43125).

[2017-03-15 05:54] fejta commented on #43025
/assign @calebamiles
/unassign
FYI I recommend moving this out of the milestone, however it should be a pretty good signal about which jobs are failing on a given day... In case you want to monitor it.

[2017-03-15 05:56] #42210 closed

[2017-03-15 05:58] tatsuhiro-t opened #43126 "The output of `kubectl get pods -w` is not aligned as before"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernet

[2017-03-15 05:58] liggitt commented on #42660
closing per https://github.com/kubernetes/kubernetes/issues/42660#issuecomment-286515155

[2017-03-15 06:00] davidopp commented on #37931
This issue is useless for anything other than causing my Chrome to start using swap on my machine because it's so big. There are three tests failing here, one (rescheduler) has fix PR in review, other two I will make sure there are issues for. Moving out of 1.6 milestone.

[2017-03-15 06:00] marun commented on #42602
@ethernetdan @justinsb Given that this job is non-blocking on master and isn't being run separately for 1.6, would it make sense to move it to 1.7?

[2017-03-15 06:03] marun commented on #42691
@ethernetdan Would it make sense to label the issue as non-release-blocker as well, so it's obvious without clicking on the linked PR?

[2017-03-15 06:04] marun commented on #42872
@Random-Liu Should this be blocking the 1.6 release?

[2017-03-15 06:04] guangxuli opened #43127 "kubelet panic"
**version:**
Kubernetes v1.7.0-alpha.0.1164+e823af8a873bda   (compiled by the newest code)

**command:**
./kubelet  --hostname-override=10.62.62.106 --api-servers==http://10.62.62.104:8080/  --logtostderr=true --log-dir=/tmp &

**logs:**
[code]

[2017-03-15 06:07] davidopp commented on #37259
Re-opening until we've verified it's fixed. It seems to have just failed again
https://github.com/kubernetes/kubernetes/issues/37931#issuecomment-286644591

[2017-03-15 06:09] davidopp commented on #42691
This is clearly just flaking, so I'm going to move it out of 1.6 milestone.

[2017-03-15 06:11] davidopp commented on #42691
Sorry, I guess the more correct thing is to leave 1.6 mielstone but mark it "non-release-blocker." Done.

[2017-03-15 06:14] foxish commented on #37259
I think the serial tests haven't picked up the fix yet.

[2017-03-15 06:15] davidopp commented on #43093
Multiple passing runs. Closing.

[2017-03-15 06:15] #43093 closed

[2017-03-15 06:16] liggitt commented on #43127
Is the double == a typo in the issue or in your actual invocation?

[2017-03-15 06:17] marun commented on #43025
@fejta Given that it's a signal but not actionable, how about adding the non-release-blocker label?

[2017-03-15 06:20] marun commented on #43050
I'm assuming this was fixed for the blocking kops-aws job and the -slow and -serial variants didn't get the same attention.

[2017-03-15 06:20] davidopp commented on #43068
Unfortunately @gmarek is on vacation for two weeks. @wojtek-t I know this isn't code you've worked with much but could you take a look?

[2017-03-15 06:21] marun commented on #43064
@fejta Is this a testinfra failure?  Seems like something that doesn't belong in 1.6.

[2017-03-15 06:27] davidopp commented on #37915
This is definitely just flaky, last 5 runs passed, and when there is a failure all tests in the suite fail. Removing 1.6 milestone.

[2017-03-15 06:34] davidopp commented on #37543
This is clearly just flaking. Making as non-release-blocker.

[2017-03-15 06:35] chinakevinguo opened #43129 "Stack Overflow Question"
Hi:
     I have a problem on stack overflow .I'm not sure it's a issue or question..
     Kubernetes on centos7 in Vagrant can not access ClusterIP,
     [http://stackoverflow.com/q/42801205/7712526?sem=2](url)

[2017-03-15 06:35] davidopp commented on #37543
(@gmarek is on vacation)

[2017-03-15 06:37] k82cn commented on #42701
@ethernetdan , this's NOT a release blocker to me, as the impact is low: the events maybe not updated because of race condition. @vishh , please help to double confirm.

[2017-03-15 06:50] davidopp commented on #43064
This is clearly test infra, marking as non-blocking.

[2017-03-15 06:51] davidopp commented on #43050
This is clearly test infra, marking as non-blocker.

[2017-03-15 06:53] davidopp commented on #43036
Got one clean run, moving to 1.7.

[2017-03-15 06:55] #28283 closed

[2017-03-15 06:56] davidopp commented on #43019
@kubernetes/sig-apps-bugs

[2017-03-15 06:57] davidopp commented on #43015
@kubernetes/sig-apps-bugs

[2017-03-15 06:59] davidopp commented on #42934
Marking as non release blocker.

[2017-03-15 07:01] davidopp commented on #42603
ping @justinsb

[2017-03-15 07:04] k82cn commented on #43104
daemonset is not care about nodeSelector; it dispatch one pod per node by controller. But in controller, it re-used scheduler's predicts for port conflict.

[2017-03-15 07:09] davidopp commented on #39582
IIUC this is "node scalability" not cluster scalability, so added @kubernetes/sig-node-bugs label

[2017-03-15 07:10] davidopp commented on #38658
@justinsb If this is not release blocking, could you please add the appropriate label?

[2017-03-15 07:12] wojtek-t commented on #42976
Yes - etcd2 + protobuf is a bad combination (in both directions, i.e. it doesn't work when rollbacked from etcd3 + protobuf, as well as upgrade to etcd3 + protobuf doesn't work from it).

[2017-03-15 07:20] madhusudancs commented on #43100
@bowei assigning this to you since you added the test.

[2017-03-15 07:28] shiywang commented on #43126
will take a look

[2017-03-15 07:34] hjacobs commented on #30518
I came to the conclusion that Ingress is the right abstraction for ALB (L7). We exclusively use Ingress now and only fallback to service type `LoadBalancer` if "raw" TCP is needed. If anybody is interested, here our setup: http://kubernetes-on-aws.readthedocs.io/en/latest/admin-guide/kubernetes-in-production.html#ingress

I believe AWS will replace the "Classic ELB" with a new load balancer produc

[2017-03-15 07:50] jonaz commented on #34240
This is accually a rather big problem. I would expect undefined env variables just to get empty string. Not to be prevented from starting. Or even better be able to set a default value in the rc of that secretKeyRef or configMapKeyRef.

[2017-03-15 07:59] wojtek-t commented on #43068
Hmm - this test shouldn't even be running as part of this suite. It has "[Feature:TaintEviction]" tag. Will look why it is actually running there.

The fact that it doesn't work is "working as indended", because the features is not switched on in controller manager - to switch it on we would need something like:
[code]

in the test job configuration.

[2017-03-15 08:26] wojtek-t commented on #43068
It generally seems that the set of suites running as part of gci-gke-serial and gci-gke-serial-1.6 are completely different.
Looking into test config.

[2017-03-15 08:31] davidopp commented on #43068
I had grepped for the string in the issue subject in test/e2e and found it only in the "Network Partition [Disruptive] [Slow]" test, which didn't seem related to the alpha taint stuff @gmarek did.

[2017-03-15 08:32] wojtek-t commented on #43068
@davidopp - it is related: https://github.com/kubernetes/kubernetes/pull/41133

[2017-03-15 08:37] KeithTt commented on #12644
I met the same error.

OS: CentOS7
Kube Version: 1.5.3

[code]

[2017-03-15 08:38] davidopp commented on #43068
But this test wasn't added in Marek's taints PR and doesn't check anything related to taints or tolerations, right? It's just testing old node eviction behavior IIUC.

[2017-03-15 08:39] wojtek-t commented on #41047
@dchen1107 @ethernetdan @timstclair @davidopp  - I reported this issue myself here: https://github.com/kubernetes/kubernetes/issues/41007 over a month ago
At that time Dawn said that it's a know issue, so I forgot about it, but at that point I had a feeling this started happening much more frequently. So I'm not sure if this is really a recent regression, or did it happen a month+ ago.

[2017-03-15 08:39] #43068 closed

[2017-03-15 08:43] lukaszo commented on #43104
@k82cn Daemonsets are using nodeSelector. Please see the documentation for more information https://kubernetes.io/docs/admin/daemons/#running-pods-on-only-some-nodes

[2017-03-15 08:44] k82cn commented on #43104
@lukaszo , got that, misunderstand :).

[2017-03-15 08:52] davidopp commented on #43025
Marking as non release blocker.

[2017-03-15 08:54] davidopp commented on #43024
I pinged @piosz by email. He's really the one who should look at this.

[2017-03-15 09:27] guangxuli commented on #43127
@liggitt  Oh, i found == it is my actual invocation. Obviously, it is incorrect, if i set =  kubelet not throw the panic.  But i found when I set ==, the panic will appear.

[2017-03-15 09:27] zhouhaibing089 commented on #38133
OK, now I am sure that this is a client issue:

I added a line of code there:

[code]

and see logs from federation-apiserver

[code]

[2017-03-15 09:29] snowhigh commented on #23474
@bowei  right, I forget the dnsmasq is for caching..

[2017-03-15 09:40] dennisxrow commented on #38849
@jeb5-ccl I have the exact same problem, the registry service also binds to the proxies:

![image](https://cloud.githubusercontent.com/assets/8330144/23941787/7e12e67c-096a-11e7-8acd-b78210439095.png)

In fact, using 2 nodes, I have a 33% chance to hit the registry via curl kube-registry.kube-system.svc.cluster.local:5000:
33% chance to hit the proxy on node 1 wich does not listen on 5000 -> error

[2017-03-15 09:59] shyamjvs commented on #40139
So both runs 3178 and 3204 failed due to the same reason. And here's what I found out:
- Both of them failed during waiting for 500 hollow-nodes to be running, but could get to only around 422. This was because 1 out of the 6 real nodes failed to create pods.
- I looked into the controller-manager logs and found out such lines throughout the file:
[code]
- On looking into the kubelet logs of that

[2017-03-15 10:05] k82cn commented on #43104
@lukaszo , got that, misunderstand :).

[2017-03-15 10:54] wojtek-t commented on #40139
Discussed offline. If this is an issue in real cluster too (as it seems to be), then it sounds like a release blocker. @shyamjvs will try to confirm it soon.

[2017-03-15 10:59] wojtek-t commented on #39582
@yujuhong @Random-Liu

[2017-03-15 11:22] jayunit100 commented on #43129
Is there a possibility it's happening at the VM level?  What version of virtual box is this?...

[2017-03-15 11:23] jayunit100 commented on #43127
Ok... Close this issue please .

[2017-03-15 11:25] jayunit100 commented on #43121
I think Fatal is the convention we use for fail fast in kube, right ?

[2017-03-15 11:26] shyamjvs commented on #40139
Ok, so I couldn't reproduce this on my own cluster that I created using kube-up (with node OS as gci) and reboot seemed to work fine. However, it clearly [failed](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/3204/artifacts/kubemark-500-minion-group-8wdr/kube-node-installation.log) due to this in the test run. This gci-mounter function has been added in comm

[2017-03-15 11:29] mikedanese commented on #42660
We still need https://github.com/kubernetes/kubernetes/pull/43070 to merge.

[2017-03-15 11:43] k8s-merge-robot opened #43135 "ci-kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-test/1563/
Multiple broken tests:

Failed: [k8s.io] DNS should provide DNS for ExternalName services {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32584

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]
Issues about this test specifically: #2650

[2017-03-15 12:01] liggitt commented on #42660
Oh, ok

[2017-03-15 12:14] soltysh commented on #42451
@kubernetes/sig-testing-misc  @kubernetes/sig-api-machinery-misc  what do you think about previous comment, is it doable? How can we achieve this?

[2017-03-15 12:16] techtonik commented on #8901
So can this be closed?

[2017-03-15 12:32] deads2k commented on #42451
Filtering out false positives?  That will be manual I'm afraid.  The endpoint is gone.  We are starting to push people to choose the "correct" API group now instead of shoving everything into "extensions", so the situation should improve as time goes on.

[2017-03-15 12:34] deads2k commented on #38060
@lavalamp Are you familiar with this?  I'm not sure what it has to do with apimachinery.

[2017-03-15 12:52] techtonik commented on #28727
So is there a repeatable test case for this behaviour?

[2017-03-15 13:04] webwurst commented on #30120
There is now a Docker/Docker-Compose example for Elasticsearch using environment variables with dots: https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html

And you are sent to that example from the Docker Hub since the image there will be deprecated:
https://hub.docker.com/_/elasticsearch/

So maybe some more people will stumble upon this issue.

[2017-03-15 13:14] #32531 closed

[2017-03-15 13:14] #42952 closed

[2017-03-15 13:40] jsafrane commented on #42476
@wongma7, this is another mysteriously killed pod...

Kubelet logs: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/2328/artifacts/tmp-node-e2e-9cefc15a-e2e-node-ubuntu-trusty-docker10-v2-image/kubelet.log
Pod.Name: labelsupdate4e9f4bc7-fffd-11e6-abfc-42010a800014
Pod.UID: 4e9f6610-fffd-11e6-bbe8-42010a800014

At `10:36:49.924137`, the pod containers are just star

[2017-03-15 13:45] lmickh commented on #43104
@lukaszo It is not a blocker for myself.  Mainly log noise at the moment.  Could imagine on a larger cluster it adds up under the right conditions.  Feel free to close it if it is addressed in 1.6.  I haven't had a chance to test it.

[2017-03-15 13:46] piosz commented on #40212
@crassirostris would be great to have it earlier than for 1.7. (in a patch release for example)

cc @fgrzadkowski

[2017-03-15 13:46] piosz commented on #37104
@crassirostris have you made any progress on this?

[2017-03-15 13:47] piosz commented on #41393
@crassirostris please attache related PRs

[2017-03-15 13:54] matthiasr commented on #41656
It's probably not worth fixing anymore since 1.5 <-> 1.6 won't be affected IIUC, but I wanted to say that I disagree with "no compatibility guarantees" – evictions may be, but `kubectl drain` has been around for a long time, and is broken in a supported combination of versions (newer clients against older api-servers are supported too, I think?). That it's broken because it's trying to use an alph

[2017-03-15 14:01] akgunjal opened #43138 "PVC deletion causes PV status change to "Failed" instead of "Released""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
PV delete status changed to "Failed"

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2017-03-15 14:03] #42738 closed

[2017-03-15 14:09] aleksandra-malinowska opened #43139 "Upgrading cluster nodes running on GCI to 1.6 fails"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-15 14:13] shyamjvs opened #43140 "Retrying logic missing for gcloud operations in many cluster setup related scripts"
- We are occasionally seeing flakes in our gce/kubemark tests around failing gcloud operations. While some of them are due to the actual operation failing, a few are due to http response errors (even though the operation was done).
- To deal with the former kind of errors, trying gcloud multiple times in case of failures should work (like we do it in kubemark using [this](https://github.com/kubern

[2017-03-15 14:16] shyamjvs commented on #40139
So PR #43134 should fix node reboot issue. However, for discussing solution to gcloud retries related failures, I've opened the above referenced issue. And it is not a blocker for 1.6 release, but is important for the long term.

[2017-03-15 14:16] ncdc commented on #28167
Separate stdout and stderr log streams are supported in the kubelet. They are not, however, exposed from the kubelet's http server upward. See [here](https://github.com/kubernetes/kubernetes/blob/b011529d8a1486bc2316a049db35759086d2994b/pkg/kubelet/server/server.go#L507-L515) where the same writer is passed for both stdout and stderr (the last 2 params to `s.host.GetKubeletContainerLogs`).

I'm gu

[2017-03-15 14:21] ncdc commented on #28167
cc @derekwaynecarr @kubernetes/rh-cluster-infra

[2017-03-15 14:26] zhouhaibing089 opened #43142 "certificate names for services in kubernetes"
The background is, whenever we create a service `foo` in namespace `bar`.

1.  the name `foo` can be referenced by pods in namespace `bar` directly.
2.  the name `foo.bar` can be referenced by pods in other namespaces.

And in case `foo` exposes a https service, the `foo` service needs to present a certificate which has a common name and a list of subject alternate names, then the question arises:

[2017-03-15 14:30] shiywang commented on #42570
working on it

[2017-03-15 14:31] pcm32 commented on #28167
Thanks @ncdc and others for looking into this! so there is a solution in the horizon then! Our use case is related to scientific workflows, where we have the ability to run a workflow environment (Galaxy, used in Bioinformatics) inside Kubernetes and offloads jobs from that environment to the same Kubernetes cluster. Currently we just our all stderr/stdout inside a single file as it is what the lo

[2017-03-15 14:37] ironhouzi commented on #28167
Just wanted to add that there are others in need of this feature for the exact same reasons as @pcm32 describes. I've tried finding som hacky workarounds, but it gets really ugly very quickly.. Would be great to have this feature implemented.

[2017-03-15 14:42] akgunjal commented on #43138
Subscribing @xingzhou

[2017-03-15 14:45] roberthbailey commented on #37974
The 1.6 tests look much better this morning.

[2017-03-15 14:45] #37974 closed

[2017-03-15 14:45] roberthbailey commented on #42934
The 1.6 tests look much better this morning.

[2017-03-15 14:45] #42934 closed

[2017-03-15 14:52] stuszynski commented on #39334
We're running on`v1.5.3` and we also have exact `wc` processes leak issue.  After the few days since the last restart of `kubelet`, we have hundreds of defunct `wc` processes with `hyperkube kubelet` as a parent.

[code]

[code]

I also found some mentions in `kubelet` log:
[code]

It looks like it's already solved by this commit: https://github.com/kubernetes/kubernetes/commit/c03ec462fd9599f89ad

[2017-03-15 14:53] roberthbailey commented on #40787
The most recent run of this test passed. Looking at the test history (before the recent streak of 5m failures that should be ignored), this test suite either seems to pass or have a huge number of tests all fail (it isn't single flakes). My guess is that something is causing a failure which then cascades through the rest of the test run.

[2017-03-15 14:55] dashpole commented on #39334
Working on getting it to 1.5, and 1.4 #43113

[2017-03-15 15:05] Venkat-Sudharsanam commented on #42955
Thanks,

after creating a statefulset, the pod is in pending status,

[code]

[code]

[2017-03-15 15:11] kargakis commented on #42955
You will need to provision a PV for the PVC created by the StatefulSet to bound to. Also you can try setting up an autoprovisioner but this depends on your provider (bare or cloud)
https://kubernetes.io/docs/user-guide/persistent-volumes/
http://blog.kubernetes.io/2016/10/dynamic-provisioning-and-storage-in-kubernetes.html

Closing as there is no issue reported here.

[2017-03-15 15:11] #42955 closed

[2017-03-15 15:12] aleksandra-malinowska opened #43146 "Upgrading nodes to 1.6 (Debian -> GCI) doesn't change OS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Kubernet

[2017-03-15 15:21] mikebryant opened #43147 "garbage collector controller fails to start with registered ThirdPartyResources"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`generic garbage collector`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Openstack
- **OS** (e.g. fr

[2017-03-15 15:23] paolomainardi commented on #39028
We have the same problems with a cluster on google gke, the solution i found so far is to provision again the node, but is becoming quite unacceptable as we are using the cluster to do continuos integration of several projects and there is no automation that can handle the docker failure on a node.
@dimpavloff have you found any solutions ?

[2017-03-15 15:23] lukaszo commented on #43104
@lmickh I don't have rights to close issues.

[2017-03-15 15:27] dashpole commented on #38337
This will hopefully make it into one of the first few patch releases of 1.6.

[2017-03-15 15:27] #37324 closed

[2017-03-15 15:45] derekwaynecarr commented on #36891
i acknowledge that we will have this discussion again in 4 mos, and we will discuss if the presence of user api servers makes this better/worse ;-)

[2017-03-15 15:59] piosz commented on #43146
cc @k8s-mirror-cluster-lifecycle-bugs

[2017-03-15 16:00] yujuhong commented on #43121
You should use `github.com/stretchr/testify/require` if you want to fail the test.

[2017-03-15 16:01] piosz commented on #43146
@ethernetdan this seems to be a release blocker

[2017-03-15 16:08] piosz commented on #43024
I haven't got time to investigate. This seems to be unrelated to monitoring itself, so any help during MTV day would be great. If not I'll try to fix this tomorrow

[2017-03-15 16:08] dchen1107 commented on #41047
This is not a release blocker:
1) It is known docker issue, and happen very rare in the production.
2) The corrupted image will be re-pulled and the situation can be self-healing. In the test environment, there is no enough to do that.

But on another hand, I realized that there might be recent regression related to GCI and K8S integration since normally the corruption of image are caused by the u

[2017-03-15 16:13] asifhj commented on #39224
I have found that $KUBE_ROOT/version is missing. Added "v1.5.4" to version file then it worked.

[2017-03-15 16:21] dchen1107 commented on #36564
@deads2k is right. The initial cause is the same as https://github.com/kubernetes/kubernetes/issues/42685#issuecomment-285238264. Close it.

[2017-03-15 16:21] #36564 closed

[2017-03-15 16:21] yujuhong commented on #40139
@shyamjvs good catch!

I think this also explains the flaky GCI  reboot test (#38034). @dchen1107 @mtaufen

Why was the node rebooting in the first place?

[2017-03-15 16:22] ensonic commented on #23880
@thomasbarton Did you run it once, cehck what IP it got and then hard-coded the IP?

[2017-03-15 16:23] marun opened #43150 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner Default should be disabled by * the default annotation[Slow] [Serial] [Disruptive] [Volume] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/795/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner Default should be disabled by removing the default annotation[Slow] [Serial] [Disruptive] [Volume] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner Default should be disabled by changin

[2017-03-15 16:25] tuannvm commented on #38896
Me too.
Error log from kube-dns
[code]

[2017-03-15 16:28] marun commented on #43150
These test have failed in the last few serial jobs (#43092) and may represent a regression.  The tests were added in #42357 by @msau42.  Assigning her to take a look.

/assign @msau42

cc: @kubernetes/release-team

[2017-03-15 16:29] csbell commented on #41419
@perotinus you had also been looking into this. Can you give your opinion by 1PM PDT so we can triage it before the 1.6 burndown?

[2017-03-15 16:33] wongma7 commented on #42476
Fairly certain now this is due to the new pod cgroups feature. In #40811 we see shortly after the pod is created,
[code]
similarly here we see
[code]

I could not find any other cases where 'Orphaned pod found, removing pod cgroups' occurs so early in the pod lifecycle...I didn't look too hard for counterexamples to be honest, but the log message is suspicious enough to me, why is a pod that has b

[2017-03-15 16:34] timothysc commented on #42691
We'll try to get it in, but it's ok if it slips.  @ConnorDoyle has some patches as a pre-req to @bsalamat 's changes.

[2017-03-15 16:34] #43082 closed

[2017-03-15 16:37] aveshagarwal commented on #42691
I think the label priority/critical-urgent should be removed as it does not go with the label non-release-blocker?

[2017-03-15 16:42] ncdc commented on #42476
Pretty sure this was fixed by https://github.com/kubernetes/kubernetes/pull/42585

[2017-03-15 16:44] dchen1107 commented on #40139
@mtaufen just confirmed that above error which properly addressed #43134 doesn't really cause reboot issue for k8s. But we don't know what is the root cause for the reboot in your test yet, and the root cause of kubemark flaky.

[2017-03-15 16:47] #43104 closed

[2017-03-15 16:55] wongma7 commented on #42476
okay, saw the thread on kubernetes-dev (started 5 mins after I finished my little analysis..)

can somebody with authority please close this, https://github.com/kubernetes/kubernetes/issues/42154, and https://github.com/kubernetes/kubernetes/issues/42514 @gnufied ?

[2017-03-15 17:02] k8s-merge-robot opened #43151 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/4276/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #38163 #39209 #39790 #39878 #40446 #40458 #40463 #40471 #40485 #43017 #43082

[2017-03-15 17:04] ncdc commented on #42476
Fixed by #42585

[2017-03-15 17:04] #42476 closed

[2017-03-15 17:04] ncdc commented on #42154
Fixed by #42585

[2017-03-15 17:04] #42154 closed

[2017-03-15 17:05] ncdc commented on #42514
Fixed by #42585

[2017-03-15 17:05] #42514 closed

[2017-03-15 17:06] kfox1111 commented on #43112
@mtaufen, you can do the same thing with ReplicaSets without needing Deployments at all. The point of Deployment was to make the users life easier in not having to manually orchestrate through creating parallel ReplicaSets and managing their lifecycle separately. Configmaps/Secrets have the same problem as ReplicaSets and could benefit from the same treatment.

[2017-03-15 17:10] nikhiljindal commented on #38133
Thats interesting.
We now have kubectl tests on HEAD which are green, so this is fixed on HEAD.

[2017-03-15 17:11] kfox1111 commented on #43112
@liggitt Yeah, sounds kind of similar to that. I hadn't seen it before. Thanks for pointing me at it. It does take a different implementation approach to it I think though, which may be more tolerable?

[2017-03-15 17:14] gnufied commented on #42945
Fixed by #42585

[2017-03-15 17:14] gnufied commented on #42945
/close

[2017-03-15 17:14] gnufied commented on #42945
/assign @gnufied

[2017-03-15 17:14] gnufied commented on #42945
/close

[2017-03-15 17:14] #42945 closed

[2017-03-15 17:16] huggsboson commented on #39900
We've had need for multiple liveness probes to work around some nasty internal stuff we need to do:
#37218

[2017-03-15 17:17] blakebarnett commented on #42164
Just saw this also, kops 1.5.1, k8s 1.5.3

[2017-03-15 17:17] marun commented on #41892
This issue is likely related to a recent failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/3796/

[2017-03-15 17:20] lavalamp commented on #37543
This looks to be talking directly to kubelets? If so it doesn't go through any api machinery code.

[2017-03-15 17:23] perotinus commented on #41419
I think this can be removed from 1.6; the flakiness that I've been tracking down is similar to this, so it doesn't appear to be a regression.

Note that the flake described specifically by this issue is different from the ones I've been debugging, though #39567 seems similar to one of them. It looks like there are three classes of flakes happening:
- unexpectedly nil (this issue)
- unexpectedly no

[2017-03-15 17:29] thomasbarton commented on #23880
@ensonic On GCE you can do that.  But i recommend reserve the ip address first and making it static. Then create both services with the LoadBalanceIP set.

[2017-03-15 17:34] nicksardo commented on #43121
To shed more light, the `require` [package](https://godoc.org/github.com/stretchr/testify)  "implements the same assertions as the `assert` package but stops test execution when a test fails."

[2017-03-15 17:34] huggsboson commented on #37218
Our workaround will probably be to use a command that uses bash to string together a command and an curl.

[2017-03-15 17:47] fujexo commented on #38896
Unfortunately, I have the same problem.
I've installed my cluster according to https://kubernetes.io/docs/getting-started-guides/kubeadm/ with `kubeadm init`, then deployed calico, added two nodes and after some time, kube-dns is failing with the same errors reported above.

* kube-dns container
[code]

* dnsmasq container
[code]

* dnsmasq-metrics container
[code]

* healthz container
[code]

[2017-03-15 17:49] ethernetdan commented on #37259
Tests are looking good, closing if I see another success.

[2017-03-15 17:52] ethernetdan commented on #41419
Moving from 1.6 as appears known flake.

[2017-03-15 17:57] justinsb commented on #31715
For kops, this is failing because we aren't relaxing the security groups to allows jenkins access to NodePorts.  Failures related to kops are not a blocker.

[2017-03-15 17:59] ethernetdan commented on #31715
Great! sounds like not a blocker

[2017-03-15 18:00] keyan commented on #30899
I'm running into issues debugging overlapping selectors only after having created the deployment. I think this would help a lot in terms of debugging my configuration.

@adohe Are you still planning to work on this? I am happy to give it a try. It would be my first contribution.

[2017-03-15 18:00] marun commented on #41419
@perotinus I think the configmap unit test should be removed in favor of the integration test proposed by #42025.  I don't see the benefit to debugging and/or rewriting a bad unit test when the functionality in question could be better tested in integration anyway.  Also, I'm intending the generic controller refactor (#41050) to include unit testing of corner cases not covered by the existing unit

[2017-03-15 18:04] justinsb commented on #42602
I don't think we should treat any of these as blockers per-se.  They're new tests, and we're working on them.  If we find any that indicate real problems, then we can create issues.

AFAIK the main causes are NodePorts not being opened, Heapster not being installed, and an issue with gcloud installation which may have been resolved yesterday.

[2017-03-15 18:05] justinsb commented on #42603
(Copy pasted from the similar issue)

I don't think we should treat any of these as blockers per-se.  They're new tests, and we're working on them.  If we find any that indicate real problems, then we can create issues.

AFAIK the main causes are NodePorts not being opened, Heapster not being installed, and an issue with gcloud installation which may have been resolved yesterday.

[2017-03-15 18:05] foxish commented on #43019
cc @chrislovecnm

[2017-03-15 18:12] mikebryant commented on #43147
The controller-manager starting running properly after I deleted all `ThirdPartyResource` objects.
Not a viable workaround or solution, of course

[2017-03-15 18:12] justinsb commented on #38658
We just had our first test run and it looks much better.

Two test failures, but I'm guessing they are flakes or false assumptions: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/4277

I think we should watch it for a bit, but I'm guessing at this point that kube-up with GCE multizone is not unfixably broken :-)  Insufficient data after a single ru

[2017-03-15 18:13] rata commented on #43112
@kfox111 deployments are not just for a easier user workflow. I think that is a minor part.

The problems of not doing it server side were tons, leaving aside the user experience you mention. If it's not done server side, then a network issue on the client (or just a crash, power outage, etc.) Would​ leave the deployment in an intermediate state, not trivial to automate the recovery. It also made

[2017-03-15 18:14] skriss commented on #43102
+ @timstclair

Who's got this? Given that it is preventing the upgrade test from reporting results, I think we need to resolve for this release (ASAP).

[2017-03-15 18:15] saad-ali commented on #43150
CC @kubernetes/sig-storage-bugs @jsafrane

[2017-03-15 18:18] ncdc commented on #41892
Potential fix #43152

[2017-03-15 18:18] rata commented on #43046
Does it happen with the readiness probe too?

[2017-03-15 18:18] ncdc commented on #41892
At least for the replace issue

[2017-03-15 18:18] msau42 commented on #43150
The e2e test is using IsDefaultStorageClassAnnotation, which used to equal the beta annotation, but then got changed to use the non-beta annotation.  However, the default storage classes that are installed are using the beta annotation.  So when the test tries to disable the default storage class by modifying or deleting the annotation, it is trying to use the non-beta annotation which does not ex

[2017-03-15 18:22] rata commented on #43043
The users mailing list is better for these things, I think. And you will probably have way more answers.

In any case, nothing special needs to be done. Kubernetes has strict SLOs (pod creation bellow 1 second or something like that, etc.) When it says it supports an X node cluster. In 1.6 X would be 5000 nodes, so there should be no problem to handle that (with 1.5 either) as that is tested whene

[2017-03-15 18:22] marun commented on #38060
The issue for the DynamicProvisioner failures is #43150

[2017-03-15 18:25] k8s-merge-robot opened #43153 "DiffResources {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/6875/
Failed: DiffResources {e2e.go}

[code]

Previous issues for this test: #33373 #33416 #34060 #40437 #40454 #42510

[2017-03-15 18:25] derekwaynecarr commented on #39582
this should not be blocking.

[2017-03-15 18:29] ethernetdan commented on #43102
@enisoc are you working on a fix for this?

[2017-03-15 18:31] davidopp commented on #37543
Changing to @kubernetes/sig-node-bugs

[2017-03-15 18:34] gnufied commented on #43063
weird looking error. And @chao007 are you sure node `ip-172-18-9-70.ec2.internal` was still available and queriable from API right?

I am trying to create a reproducible bug.

[2017-03-15 18:34] kfox1111 commented on #43112
Fair enough .Maybe it was done for reasons beyond just usability. I don't know all the history of it.

It did make it much more easy for users to do the common thing of the workflow of upgrading thing from X to Y though.

But in its current state, its kind of incomplete and not atomic.

It could be a different object type, but I think it would have almost complete overlap with Deployments as it ex

[2017-03-15 18:35] yujuhong commented on #40036
I don't think this is a release blocker. The issue happened on a 1.4 cluster, and we haven't been able to reproduce this. It's worth investigating though.

[2017-03-15 18:36] bowei commented on #38896
@tuannvm @fujexo @thinkhard-j-park

Those log messages are benign and should be logged at INFO level.

I suspect there is something else that is the cause of your DNS issues. Please open a new issue with specific details about your setup. Adding to this thread will be quite confusing as your environments and setup seem to be quite different.

[2017-03-15 18:37] k8s-merge-robot opened #43155 "DumpClusterLogs {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging-parallel/7889/
Failed: DumpClusterLogs {e2e.go}

[code]

Previous issues for this test: #33722 #37578 #38206 #40455 #42934

[2017-03-15 18:38] saidimu commented on #30120
@webwurst Just stumbled on this very issue with Elasticsearch :(

[2017-03-15 18:42] bowei opened #43156 "Filter out 127.0.0.1 from the node's /etc/resolv.conf when generating /etc/resolv.conf in the pod"
We should not inherit nameserver 127.x.x.x in the pod resolv.conf from the node, as the node localhost will not be accessible from the pod.

There should be copious warnings if this configuration is encountered.

[2017-03-15 18:43] bowei commented on #23474
Filed https://github.com/kubernetes/kubernetes/issues/43156 for not inheriting localhost  resolver

[2017-03-15 18:44] deads2k commented on #42639
This is a problem in the controllers and they need to ensure that when they set an ownerref, the owner actually exists.

[2017-03-15 18:44] bowei commented on #23474
@snowhigh can you file a a new issue regarding your setup.

I am closing this issue as it has become a generic bucket for external DNS server connectivity issues.

/close

[2017-03-15 18:44] bowei commented on #23474
/assign @bowei

[2017-03-15 18:44] bowei commented on #23474
/close

[2017-03-15 18:44] #23474 closed

[2017-03-15 18:49] bowei commented on #43156
/assign @bowei

[2017-03-15 18:56] krousey commented on #43102
I'm working on a more comprehensive fix than #43158, but that should go in first to stop the bleeding.

[2017-03-15 18:59] enisoc opened #43159 "kubectl 1.6 Deployment reaper doesn't work against 1.5 cluster"
**Is this a request for help?**:

No.

**What keywords did you search in Kubernetes issues before filing this one?**:

* kubectl deployment
* deployment reaper
* delete deployment

---

**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-relea

[2017-03-15 19:01] ethernetdan commented on #42840
@piosz @dchen1107 is this a 1.6 release blocker?

[2017-03-15 19:05] yujuhong commented on #37543
It only flaked once in the past two weeks, and that was because kubelet panicked. The root cause was already fixed by #42927.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/5190

Closing the issue.

[2017-03-15 19:05] #37543 closed

[2017-03-15 19:08] piosz commented on #42840
I think yes. The PR is already sent and approved. I need to fix e2e tests because it doesn't work well with the test infra (e2e tests passes locally).

[2017-03-15 19:15] k8s-merge-robot opened #43160 "ci-kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-subnet/1396/
Multiple broken tests:

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27406 #27669 #29770 #32642

Failed: [k8s.io]

[2017-03-15 19:16] kargakis commented on #43159
If we end up doing something about this, I would go with 1 as it seems the most sensible thing for now. Low risk plus overlapping selectors are a user error anyway.

[2017-03-15 19:17] yujuhong commented on #42872
This only flaked once in the past two weeks. It's unlikely to be a blocker. @Random-Liu is going to do a sanity check of the failure before removing the milestone.

[2017-03-15 19:18] fejta commented on #43160
/unassign
/assign @roberthbailey

Looks like Leaked resources flake, as well as a bunch of test failures.

[2017-03-15 19:38] rata commented on #43112
On Wed, Mar 15, 2017 at 11:35:00AM -0700, kfox1111 wrote:

Well, if you leave the "usability" of creating a new configmap aside, then this
is almost solved with the GC that will delete orphaned objects. Am I missing
something?

Just a new configmap/secret and update the deployment. This has what you call
"atomic" (I think immutable it's more appropriate) is solved and no objects are
floating arrou

[2017-03-15 19:41] #43151 closed

[2017-03-15 19:43] janetkuo commented on #43159
Maybe we can use discovery code in 1.6 kubectl to check server version, and use pre-1.6 or 1.6 reaper based on that?

[code]

[2017-03-15 19:46] calebamiles commented on #43127
closing per https://github.com/kubernetes/kubernetes/issues/43127#issuecomment-286713776

[2017-03-15 19:46] #43127 closed

[2017-03-15 19:51] kfox1111 commented on #43112
Immutable might be a better name for it. atomic was just the first thing that occurred to me.

I have looked at the daemonset update discussion a bit. But I don't think they have handled the immutable configmap case there either.

Optimizing the workflow is what I would like to do. In Deployments, you don't have to worry about the orchestration around, create RS-1, create RS-2, then garbage collec

[2017-03-15 19:54] xmik commented on #26000
Thanks @dashpole for the explanation. I confirm that I see this message right after the kubelet was just started and after 5 minutes garbage collection succeeds:
[code]
There are no more such messages since this vm was started. The same on k8s worker vm. (And I don't have restarting kubelet anymore).

I see however another log message, repeated in this manner:
[code]
I thought maybe it is connecte

[2017-03-15 19:56] ethernetdan commented on #40607
@yujuhong @timstclair is this a 1.6 blocker ?

[2017-03-15 20:02] marun commented on #40607
@ethernetdan As per a discussion on slack #sig-node, this can be moved to 1.7.

[2017-03-15 20:03] ymqytw commented on #43159
From https://github.com/kubernetes/kubernetes/pull/35647#pullrequestreview-8290820, it may not be safe when there are aggregated API servers

[2017-03-15 20:05] xmik commented on #26000
To say it more clearly: I had an unstable cluster back then when I saw a lot of `unable to find data for container /` messages. Kubelet was restarted many times then. Now, there is 1 kubelet process running for a long time and there is only 1 such message.

[2017-03-15 20:09] davidopp commented on #42614
These are almost definitely fine but I haven't had time to look.

[2017-03-15 20:13] madhusudancs commented on #41419
I am not entirely sure how integration tests have a greater benefit than unit tests. They all serve different purposes. Unit tests test the controller code paths in the absence of other components or faked components. Integration tests test the same code paths but with the other components actually running. More room for flakiness. Unit tests don't need etcd, don't need underlying clusters' API se

[2017-03-15 20:13] janetkuo commented on #43159
Hmm, does that make the discovery code we used in `kubectl run` unsafe too? @soltysh

[2017-03-15 20:26] Random-Liu commented on #42872
From kubelet log, it seems that we are trying to run the right command inside the container `cat /etc/hosts`.
[code]

However, in the docker log, it tells us that the container does not exist:
[code]

@yujuhong Do we recently have problem that the container is not successfully started but we thought it is running?

[2017-03-15 20:27] ethernetdan commented on #41054
Being worked on in kubernetes/kubernetes.github.io#2767

[2017-03-15 20:31] rata commented on #43112
On Wed, Mar 15, 2017 at 12:51:56PM -0700, kfox1111 wrote:

The proper way to approach it should be via a proposal in the community repo,
AFAIK. So, please, do it if you want/have the time! =)

Why do you think it is easy to edit a configmap and be done with it? If you edit
it, the change will appear on the container but usually no tool that I know of
also watches that and auto-reloads.

I think th

[2017-03-15 20:38] gnufied commented on #43063
I think this is because of change introduced here - https://github.com/kubernetes/kubernetes/pull/41695/files#diff-07ba008af9c76b0539556ff7fde3105eR3135

@justinsb The old code allowed "untagged" instances to be found, afaict the new tag selector doesn't include untagged instances. This would be a potentially breaking change.

[2017-03-15 20:40] k8s-merge-robot opened #43163 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability/1445/
Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33388 #33993 #34033 #34796 #35306 #35315 #35396 #35441 #36895 #38163 #39209 #39790 #39878 #40446 #40458 #40463 #40471 #40485 #43017 #43082 #43151

[2017-03-15 20:45] ethernetdan commented on #40607
@marun sgtm

[2017-03-15 20:50] ethernetdan commented on #42614
@davidopp would it be possible to check by EOD? I'd like to get ahead of problems if they exist

[2017-03-15 20:58] yujuhong commented on #42872
The error message is misleading. The exec command failed to start within the timeout (not the original container). We actually ran into this before in https://github.com/kubernetes/kubernetes/issues/36502#issuecomment-259449734, but that was the container that failed to start within the timeout.

This is a docker issue (and they bumped the timeout in 1.12) and rarely happens. Let's close this one.

[2017-03-15 20:58] #42872 closed

[2017-03-15 21:01] mml commented on #42660
The fix breaks etcd upgrades.  Will send a patch shortly.

[2017-03-15 21:12] kfox1111 commented on #43112
I can do a proposal. is there a link to how that process works? I thought the feature request was the way that was handled.

today, that functionality is correct, from a pod level but not a ReplicaSet level. If the pod is ever recreated, or a RS is scaled, the new pod behaves suddenly differently then its brethren, based on an event that may have occurred a long time ago but didn't apply to the ot

[2017-03-15 21:21] azimut commented on #41620
@yujuhong How can we know the status of testing of kubernetes against different docker versions over time?. Are these tests public?

[2017-03-15 21:22] kargakis commented on #43049
@kubernetes/sig-scalability-misc

[2017-03-15 21:23] kargakis commented on #43049
@kubernetes/sig-apps-misc

[2017-03-15 21:23] dashpole opened #43166 "Eviction Manager should not evict the next pod until the previously evicted pod is completely deleted."
#29033 describes why it is important to delay deletion of the pod api object until node level resources, including processes, volumes, and cgroups have been cleaned up.
#41456 and #41644 complete this.  However, the eviction manager still considers a pod deleted as soon as the containers are stopped.
The result is that the eviction manager may continue to evict pods while the previous pod is being

[2017-03-15 21:23] dashpole commented on #31362
Another working item for 1.7:
#43166

[2017-03-15 21:25] rata commented on #43112
On Wed, Mar 15, 2017 at 02:13:11PM -0700, kfox1111 wrote:

Well, is the right thing to do if you are planning to code it. Was that your
plan? Sorry, maybe I misunderstood. But if you have the time/will, it will be
awesome and I can try to help :)

Yes and no.

That can happen, of course. But that will only happen if you modify the
configmap. And in that case, *no* change is done (if no auto-reload

[2017-03-15 21:28] yujuhong commented on #41620
You should check the release note (changelog) for the information for each kubernetes release.

For the master branch, sig-node runs node e2e tests for a set of (OS distro, docker version) combinations.
The tests are public and the results are published here: https://k8s-testgrid.appspot.com/google-node#kubelet
The images (OS distro+docker version) used in the suite are listed in https://github.co

[2017-03-15 21:33] ethernetdan commented on #43099
Looks like the autoscaler version got bumped to [0.5.0-beta1](https://github.com/kubernetes/kubernetes/compare/c3d7ee11d...62766c697#diff-8efb62c884b474aed1aad8a35bd061e7) during that time.

@mwielgus think this could be related?

[2017-03-15 21:34] soltysh commented on #43023
This was rather fixing a tech-debt, but https://github.com/kubernetes/kubernetes/issues/42451 was explicitly called out, in both cases like @deads2k mentioned the filtering has to be done manually, I'm afraid.

[2017-03-15 21:34] rata commented on #43112
@kfox1111 ohh, I was on my phone and didn't notice the link @liggitt shown. This is exactly what was proposed in that link: https://github.com/kubernetes/kubernetes/pull/31701

@kfox1111 see the discussion there, please. It seems it was dismissed for using GC in the last comment, but a lengthy reasoning seems to be through the PR comments (and on the file also): https://github.com/kubernetes/kuber

[2017-03-15 21:36] kfox1111 commented on #43112
Oh. are you saying a PR, not a spec kind of thing?

Ok, I think the confusion is on definition of "app". I think your defining app to be "running pod". I'm defining app to be something akin to Deployment. An app in my world is cloud native, pods come and go automatically as the system autoscales up and down. The members of a ReplicaSet should be atomic through time no matter what actions are prefo

[2017-03-15 21:49] bowei commented on #38896
/assign @bowei

[2017-03-15 21:49] ravisantoshgudimetla opened #43167 "kubectl reporting wrong for taints."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.3.1185+7e37b895d7c1e9-dirty
Server Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.3.1185+7e37b895d7c1e9-dirty"

**What happened**:
Kubectl is always reporting as node <XYZ> is tainted irre

[2017-03-15 21:50] bowei commented on #38896
/close

I'm closing this issue -- please file a new issue specific to your problem

[2017-03-15 21:50] #38896 closed

[2017-03-15 21:51] bsalamat commented on #41600
@timothysc In the document I alluded to the fact that we can apply the config without restarting, but soft reconfig was not the focus of the document. When implementing the feature, I will evaluate it more to see what it takes to reconfig without restarting. We should defenitely think about reconfig as the next step.

[2017-03-15 21:56] foxish commented on #37259
We need to cherrypick the fix in https://github.com/kubernetes/kubernetes/pull/43090 into 1.6. I've filed a separate issue to track the hanging network calls on the GKE apiserver.
/cc @bowei

[2017-03-15 21:57] dkerwin opened #43168 "Cannot delete jobs when their associated pods are gone"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /e

[2017-03-15 21:58] perotinus opened #43169 "[Federation] ClustersSynced(clusters [] *federationapi.Clusters) documentation doesn't seem to match the implementation"
It appears that there is a bit of an impedance mismatch between how the FederatedInformer discusses ClustersSynced(clusters [] *federationapi.Clusters) and the actual implementation of that method. Conceptually, the idea of ClustersSynced(clusters [] *federationapi.Clusters) seems to be to provide an ongoing update of whether the Federated store is synchronized with the underlying clusters' stores

[2017-03-15 22:03] Calpicow opened #43172 "OIDC: kubectl should allow for custom scopes"
When kubectl refreshes tokens, it sets the scope to `openid email profile`. This breaks group-based authentication once the token is renewed.

The scope parameter should be removed when refreshing tokens, allowing the IDP to decide which scope to use (should be the scope the initial token was created with), or allow the scopes be configurable via kubeconfig.

cc: @ericchiang this might be relevant

[2017-03-15 22:04] krousey commented on #43102
My fix is actually ready for review now, https://github.com/kubernetes/kubernetes/pull/43089 and includes a StatefulSet version skip that's needed too.

[2017-03-15 22:05] thockin opened #43173 "cloudprovider.GetLoadBalancerName() should be per-provider"
Right now this function tries to be neutral to providers, and as such is probably worse than any of them need.

On GCE, at least, it truncates the UUID unnecessarily.

@kubernetes/sig-network-bugs

[2017-03-15 22:05] kfox1111 commented on #43112
I think the difference between this request and the other is around snapshotting and ownership.

I want to own the main configmap and share the one configmap amongst multiple deployments/daemonsets. If I delete all the deployments/daemonsets referencing it, the configmap should stay. At the time of launching one of those, no further access to the main configmap is ever made again. I should even be

[2017-03-15 22:05] ericchiang commented on #43172
@Calpicow dup of https://github.com/kubernetes/kubernetes/issues/37875 ?

[2017-03-15 22:05] thockin commented on #43173
This is an easy one to fix, I think, and could make a good first contribution.

[2017-03-15 22:06] Calpicow commented on #43172
Thanks. Closing this one.

[2017-03-15 22:06] #43172 closed

[2017-03-15 22:07] perotinus commented on #41419
I agree with @madhusudancs that there is definite value in unit tests. I'm not familiar enough with the project to really have a good sense for whether the current suites of unit tests for the federation controllers are really the right tests. I prefer unit tests to integration tests (and integration tests to e2e tests), and I believe that these flaky unit tests are helping to reveal issues with t

[2017-03-15 22:07] djosborne commented on #43014
I think I'm still seeing some form of this still in `v1.6.0-beta.3`.

**Kubernetes version**: `v1.6.0-beta.3`

**Install tools:** `kubeadm` from unstable channel (`kubeadm v1.7.0-alpha.0.1163+5e29e1ee055568`)

**What happened:**

- On a fresh kubeadm cluster with no networking plugin installed yet, kube-dns fails to launch due to missing cni configurations
- Once a networking plugin (calico) is in

[2017-03-15 22:18] bvandewalle opened #43174 "gcloud LoadBalancer service with specific LoadBalancerIP requested, doesn't clean up the forwarding rules upon deletion of the service."
On GCE v1.5.3:

Steps:
1) Create a new Service of type LoadBalancer with an external IP set (That IP is in the external IP set as static on my GCP project)
2) The service will correctly be created and that external IP will be associated with the corresponding forwarding rules
3) Delete that service on Kubernetes.
4) on GCP: The external IP on Kubernetes will remain attached to the Forwarding rules

[2017-03-15 22:24] thockin commented on #35486
How do I repro this?  I added a field without tags and it failed the test.  I will send a PR with it to confirm that.  Is there a different repro technique?

[2017-03-15 22:25] vishh commented on #43166
This means that memory backed volumes can also cause additional (unwanted)
evictions.

On Wed, Mar 15, 2017 at 2:23 PM, David Ashpole <notifications@github.com>
wrote:

[2017-03-15 22:25] mtaufen commented on #43146
Don't you have to do another make quick-release to build the version you intend to upgrade to?

[2017-03-15 22:28] timothysc commented on #42718
re: logging format, why can't we pass the data to enrich w/ meta-data directly https://docs.docker.com/engine/admin/logging/log_tags/ ?  This bypasses the API argument and most of the data already exists in env variables.

/cc @dchen1107

[2017-03-15 22:29] mtaufen commented on #43139
I think just symlinking cluster/gce/cos to cluster/gce/gci would band-aid this and anything else that makes this mistake for now. We can focus on actually moving the scripts to cluster/gce/cos and reversing the direction of that symlink in 1.7 (minimally invasive changes for now).

[2017-03-15 22:30] mtaufen commented on #43139
I'll post a PR.

[2017-03-15 22:31] rata commented on #43112
On Wed, Mar 15, 2017 at 02:36:48PM -0700, kfox1111 wrote:

I'm saying a proposal just like the linked :)

Doesn't matter, what I'm trying to say is that, IMHO, changing a configmap is
not an easy way to update the configuration, as you said. Because it just won't
happen, configuration won't be updated for MOST apps.

And that is were I disagree that, as that is the easiest thing to do, that is
wha

[2017-03-15 22:36] mtaufen commented on #43146
^^ ignore this I don't think it would cause this specific problem even if true, you've exported the relevant var.

[2017-03-15 22:37] rata commented on #43112
On Wed, Mar 15, 2017 at 03:06:30PM -0700, kfox1111 wrote:

No. It is configurable if some object is orphan it should be deleted or not,
so you can have configmaps independentntly of a deployment if you want. IIUC.

Not man power but semantics and how the problem should be approached, as far as
I understand (take into account that I've contributed to k8s in my spare time
only). A proposal was creat

[2017-03-15 22:39] mtaufen commented on #43146
Ah, I remember this. You need to also pass the -o flag to the upgrade script if you want it to use the os distro specified in KUBE_NODE_OS_DISTRIBUTION. Otherwise it will not change the OS.

[2017-03-15 22:39] liggitt commented on #35486
Add a field in one of the types files in the meta/v1 packages, I think

[2017-03-15 22:39] mtaufen commented on #43146
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh#L41

[2017-03-15 22:42] yujuhong commented on #43014
@dcbw @kubernetes/sig-network-bugs how is `TearDown` handled with the cni plugin? Can it be called on a non-existent (or already deleted) resource? With kubenet, we expect TearDown to be a no-op if the resource does not exist. (see #26208 and https://github.com/kubernetes/kubernetes/issues/20379#issuecomment-261693197).

[2017-03-15 22:44] liggitt commented on #43168
Does the cronjob need to be removed as well?

[2017-03-15 22:45] ethernetdan commented on #37259
@foxish I believe this was fast forwarded onto the branch by @enisoc

[2017-03-15 22:48] ethernetdan commented on #40787
@roberthbailey we have been fast forwarding onto the 1.6 branch several times a day so they should be relatively similar

[2017-03-15 22:54] davidopp commented on #39893
ref/ #38988

[2017-03-15 22:55] davidopp commented on #38988
The behavior described here is not a bug, but I can understand why it's not what you expect.

When you "reboot" a VM in GCE, the VM does not go away; it's supposed to be like rebooting a regular physical machine. At the GKE/Kubernetes level, that VM still maps to the same Node object.

When you delete a VM and then re-create it, it's a new VM. Due to an implementation detail of GCE Managed Instanc

[2017-03-15 22:57] jasonrm commented on #36983
I'm still testing various versions (1.5.2 with go 1.7 and 1.5.3 with go 1.8 so far), as I'm not sure why I don't see this issue always, but in case this helps someone else in the meantime…

When watching `journalctl -f -u kubelet`, it's just a steady stream of errors like,
[code]

Running `find /var/lib/kubelet -xdev -type d | wc -l` on the servers running kubelet shows there are an __insane__ num

[2017-03-15 23:02] ethernetdan commented on #43023
@idvoretskyi could you make sure we have action requireds for these compatibility breakages?

[2017-03-15 23:07] mcronce opened #43179 "Documentation for setting up kube-dns is woefully inadequate."
I doubt anybody will get any value out of the template for a documentation issue, but just in case, here it is.

**Kubernetes version**:
`Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"08e099554f3c31f6e6f07b448ab3ed78d0520507", GitTreeState:"clean", BuildDate:"2017-01-18T10:52:03Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: vers

[2017-03-15 23:08] davidopp commented on #42614
Yes I will check by tonight.

[2017-03-15 23:08] #42817 closed

[2017-03-15 23:08] #42990 closed

[2017-03-15 23:23] lavalamp commented on #34508
The solution the SIG sort of came to is this one: https://docs.google.com/document/d/1YpYMLZiFfGHB4KNNdS-JY7uX8w5H9tzyq7-lWrFTmN8/edit#

[2017-03-15 23:38] johnsom commented on #40850
If I read the bug report correctly it sounds like this works correctly if you are not going through the floating IP.  Can you confirm this?
Can you check if you have Distributed Virtual Router (DVR) enabled on the router you are connecting your load balancer VIP to?  There are a number of known issues with DVR.  The symptoms you are reporting sound like issues I have experienced with DVR enabled.

[2017-03-15 23:43] idvoretskyi commented on #43023
@ethernetdan yes, thank you for notifying.

[2017-03-15 23:46] kow3ns commented on #43019
@oscerd I can fix the Cassandra issue, but the Hazlecast example seems to be hitting a 403 when trying to read its configuration from an endpoint inside the Pod. Can you take a look please?

[2017-03-15 23:58] jzhoucliqr commented on #36992
Had the same problem with manually launched VM, but after change the name to all lowercase, even non-fqdn name works fine.

The regex is now changed to : [a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*, non-fqdn matches.

[2017-03-16 00:05] mbohlool commented on #35486
I sent a fix for what @liggitt said. Is that fixing the root cause of this issue?

[2017-03-16 00:20] jbeda commented on #43014
I've tried this with calico, weave and flannel.  In all cases, DNS pod never starts because teardown is the CNI plugin is called on a pod that was never created.  It is clear that none of these expect it to be a no-op.

Here is the flannel config I've put together: https://gist.github.com/jbeda/1953d4e3df6eab91066ba31875eb0c05.

To repro:
[code]

Now find the DNS pod and see it doesn't start up.

[2017-03-16 00:23] mtaufen commented on #43139
https://github.com/kubernetes/kubernetes/pull/43184 turns out this is untestable without cutting a release given the way upgrade.sh currently works. So someone will have to test after the PR merges and a beta is cut.

[2017-03-16 00:34] glesage commented on #2799
Hey all, is there any way to do this currently or this is still in the works? (I'm specifically looking to configure ciphers in order to be PCI compliant as a payment provider)

[2017-03-16 00:47] thockin commented on #35486
Is it particular to meta or any field on any type?

[2017-03-16 00:49] ojongerius commented on #21546
Never mind, OutOfDisk will be replace by NodeDiskPressure. See https://github.com/kubernetes/kubernetes/pull/41654.

[2017-03-16 00:51] bowei commented on #43014
I'm not very familiar with the CNI spec, but it seems like from the spec that DEL of an misisng resource should be supported:

line 248 in the current version of the spec:
[code]

[2017-03-16 00:58] thockin commented on #43014
yeah, if plugins fail to delete nothing, we need to be able to know that is the reason for failure so we can absorb it, or else they really need to not fail.  Otherwise stale-state cleanup is effectively impossible innit?

[2017-03-16 01:07] thockin commented on #35486
I repro'ed and Mehdy's patch does not seem to fix it

[2017-03-16 01:08] thockin commented on #35486
this PR now has a repro, I think.  It passes verify-generated-protobuf.sh but should not

[2017-03-16 01:17] ethernetdan opened #43187 "Should maintain a functioning cluster upgrade step gets stuck"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Kubernetes version** (use `kubectl version`):
Upgrades to 1.6

**What happened**:
When running tests for upgrades to 1.6 the step ` [It] should maintain a functioning cluster [Feature:MasterUpgrade]` blocks until the test-infra job times out and sends an interrupt.

Last line before timing out: `L7 controller failed to delete all cl

[2017-03-16 01:18] ethernetdan commented on #43187
Last line before timing out: `L7 controller failed to delete all cloud resources on time. timed out waiting for the condition`

[2017-03-16 01:20] k82cn commented on #35486
@thockin , I used protobuf 3.2 by `hack/update-generate-protobuf-dockerized.sh` and `git diff` to check it. But for protobuf 3.0, all test/verify passed, I'm not sure what happened to related scripts :(.

[2017-03-16 01:20] ethernetdan commented on #43187
/cc @krousey @timstclair

[2017-03-16 01:24] chinakevinguo commented on #43129
@jayunit100 I'm not sure whether it is caused by this.when i add the following route list ,it works

`route add ClusterIP dev docker0`

Here is my route table.
[code]
Is not all the packages have been flannel0 interface out of it ?

i do not know why this is

and i have added a route for export to flannel0, did not work !!!

[2017-03-16 01:29] smarterclayton commented on #35486
The recreate would be a revert of 42553 against master and it going green, I think.

[2017-03-16 01:49] liggitt commented on #2799
Not possible yet. https://github.com/kubernetes/kubernetes/issues/42337 plumbs options to the apiserver (not the kubelet) but doesn't wire them to flags yet.

[2017-03-16 01:52] ethernetdan commented on #43187
/cc @skriss

[2017-03-16 01:56] marun commented on #41419
@madhusudancs @perotinus I'm not sure how my statement about the configmap unit test gave you the impression that I think ``integration_tests > unit_tests``.  Yes, I think a golden-path integration test for the configmap controller is preferable to the existing unit test, since the same functionality is tested but with real components instead of having to fake them out.  But unit tests in general

[2017-03-16 02:02] ethernetdan commented on #38658
Looks like this has stabilized.

[2017-03-16 02:02] #38658 closed

[2017-03-16 02:03] ethernetdan commented on #43187
/assign skriss

[2017-03-16 02:05] ethernetdan commented on #43024
thanks @piosz!

[2017-03-16 02:05] bgrant0607 commented on #34508
@lavalamp My first option was just to add the field to the existing API version and then not break it. We've done this a number of times when copying similar fields to other workload APIs, for instance.

[2017-03-16 02:14] bgrant0607 commented on #42451
We don't have the mechanism(s) today, but this doesn't need to be manual.

I discuss some ideas for dealing with optional features in the layers doc, and they could apply to deprecated/removed features, also:
https://docs.google.com/document/d/1XkjVm4bOeiVkj-Xt1LgoGiqWsBfNozJ51dyI-ljzt1o/edit#

Or, if we had some notion of which APIs were used by which test and which APIs we expected to work, we c

[2017-03-16 02:18] bgrant0607 commented on #43159
I agree with @kargakis. Kubectl shouldn't be depending on controllerRef.

I don't think we should ever rely on release numbers to infer anything.

[2017-03-16 02:23] k8s-merge-robot opened #43189 "ci-kubernetes-e2e-gci-gce-etcd3: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/5409/
Multiple broken tests:

Failed: [k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27295 #35385 #36126 #37452 #37543

Failed: [k8s.io] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should p

[2017-03-16 02:40] zhouhaibing089 commented on #38133
@nikhiljindal specifically, which fix are you mentioning about kubectl?

[2017-03-16 02:44] zhouhaibing089 commented on #38133
Well, this [PR](https://github.com/kubernetes/kubernetes/pull/38330) seems relevant.

[2017-03-16 02:50] zhouhaibing089 commented on #38133
@nikhiljindal I will test with that commit picked in, and once it proves to be working, could we pick that commit in 1.5 branch?

[2017-03-16 02:58] #42691 closed

[2017-03-16 03:14] zhouhaibing089 commented on #38133
Well, yes, after the fix picked, the deletion works.

[2017-03-16 03:18] thockin commented on #35486
I don't think this is closed.

[2017-03-16 03:25] madhusudancs commented on #41419
Honestly, I don't know how else to interpret https://github.com/kubernetes/kubernetes/issues/41419#issuecomment-286828357 even after reading your clarification above.

But anyway, without digressing, I agree with your point that our current testing of controllers as a whole in unit tests is sub-optimal given the way we setup fakes. But if you look at the general design of federated controllers, th

[2017-03-16 03:26] #8901 closed

[2017-03-16 03:27] bgrant0607 commented on #43126
@kubernetes/sig-cli-bugs

[2017-03-16 03:29] bgrant0607 commented on #42180
@deads2k Please add sig labels when filing issues.

[2017-03-16 03:39] zhouhaibing089 commented on #38133
Refer: https://github.com/kubernetes/kubernetes/pull/43190. @nikhiljindal

[2017-03-16 03:41] k8s-merge-robot opened #43191 "ci-kubernetes-e2e-gce-multizone: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-multizone/4291/
Multiple broken tests:

Failed: [k8s.io] Multi-AZ Clusters should spread the pods of a service across zones {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34122

Failed: [k8s.io] Networking should provide Internet connection for containers [Conformance] {Kubernetes e2e suite

[2017-03-16 04:08] smarterclayton commented on #43019
This is failing due to RBAC @kubernetes/sig-auth-bugs cassandra will need permission to read its endpoints

[2017-03-16 04:09] smarterclayton commented on #43015
Failing due to RBAC, discussing on the other job.

On Wed, Mar 15, 2017 at 11:21 PM, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2017-03-16 04:10] liggitt commented on #43019
that e2e already gives the service account edit permission in the namespace. the test is creating the pod to look in the wrong namespace. fixed in https://github.com/kubernetes/kubernetes/pull/43086

[2017-03-16 04:39] liggitt commented on #41892
after further investigation, this doesn't affect unconditional replace

kubectl turns unconditional replaces into conditional ones by pre-fetching the existing object and filling in a resource version. given that behavior of kubectl, the test script is vulnerable to legitimate version conflicts.

however, the watch cache issue also exposes clients to illegitimate version conflicts (a client that u

[2017-03-16 05:07] #43015 closed

[2017-03-16 05:07] #38222 closed

[2017-03-16 05:07] #43019 closed

[2017-03-16 05:17] k8s-merge-robot opened #43193 "ci-kubernetes-e2e-gce-examples: broken test run"
https://storage.googleapis.com/k8s-gubernator/triage/index.html#451144a9be5d4451ad3c

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-examples/4198/
Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27850 #30672 #33271

Failed: [k

[2017-03-16 05:27] k8s-merge-robot opened #43195 "ci-kubernetes-e2e-gci-gce-examples: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-examples/3599/
Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27850 #30672 #33271

Failed: [k8s.io] [Feature:Example] [k8s.io] CassandraStatefulSet should create statefulset {

[2017-03-16 05:30] davidopp commented on #42614
OK I checked and these are all expected failures.

The reason I was initially surprised by the failures is that we still support the alpha annotations for affinity in 1.6, so in theory those tests should work. But then I remembered that the alpha support is now flag-gated and this test suite doesn't enable the flag gate. I'm going to file an issue for us to set up a test suite that enables the fla

[2017-03-16 05:30] #42614 closed

[2017-03-16 05:46] fejta opened #43196 "context was not found for specified context: e2e-federation"
/assign @madhusudancs

https://k8s-testgrid.appspot.com/google-federation#soak-gce-test

[code]

https://storage.googleapis.com/k8s-gubernator/triage/index.html#64a5376e3c52e64bb4b3
![fed](https://cloud.githubusercontent.com/assets/940341/23983394/1bdde0a8-09d1-11e7-8065-31d15719d134.png)

[2017-03-16 05:47] davidopp opened #43197 "Add back tests for annotation-based affinity"
Somehow I overlooked the fact that #41617 did not add back all the tests for annotation-based affinity that were converted to use fields in #37299 and #39478. This is pretty bad because we are supposed to be supporting annotation-based affinity in addition to field-based affinity (that was the reason for #41617).

For e2e this requires setting up a separate Jenkins job that enables annotation-base

[2017-03-16 05:57] fejta commented on #25887
Starting on Mar 7 roughly 20 tests/hr are failing the kubectl client simple pod tests with a super unhelpful false is not true type error:

https://k8s-testgrid.appspot.com/release-1.6-upgrade-skew#gke-1.6-master-cvm-kubectl-skew&width=20&sort-by-failures=

https://storage.googleapis.com/k8s-gubernator/triage/index.html#df761c6a379c7dc56dae

![kubectl](https://cloud.githubusercontent.com/assets/94

[2017-03-16 06:08] violalu commented on #33245
@wu8685 u can delete them by delete them in etcd

[2017-03-16 06:09] fejta opened #43198 "gke-multizone, gke-non-cri tests fail SimplePod, Loadbalancing, PreStop tests"
These three tests have been failing since Mar 9 (with 3 passes on Mar 11?!):
* [k8s.io] Kubectl client [k8s.io] Simple pod should handle in-cluster config
* [k8s.io] Loadbalancing: L7 [k8s.io] Nginx should conform to Ingress spec
* [k8s.io] PreStop should call prestop when killing a pod [Conformance]

https://k8s-testgrid.appspot.com/google-non-cri#gke-multizone&width=5&sort-by-failures=

/assign

[2017-03-16 06:13] fejta commented on #43198
/assign @roberthbailey

Actually these same jobs are also failing on non-cri-gke:

https://k8s-testgrid.appspot.com/google-non-cri#gke&width=20&sort-by-failures=

[2017-03-16 06:18] fejta opened #43200 "PersistentVolumes [Volume][Serial] [k8s.io] PersistentVolumes:GCEPD tests failing on gke-serial"
/assign @saad-ali @roberthbailey

Summary: https://k8s-testgrid.appspot.com/google-non-cri#Summary
Filtered testgrid: https://k8s-testgrid.appspot.com/google-non-cri#gke-serial&width=20&sort-by-failures=&include-filter-by-regex=PersistentVolumes

The gke-serial job has a bunch of PersistentVolumes and Pod Disks tests that failed at least the last 20 times they ran (see summary tab)

This might be

[2017-03-16 06:29] roberthbailey commented on #43200
Saad is looking into these failures.

[2017-03-16 06:30] justinsb commented on #42392
Having multiple kubernetes clusters versions that you are using is definitely a reality, and it is really annoying to have to keep around multiple kubectl versions and remember use the right one.  We don't want a "kubectl version manager"...

It does sound like we are getting better here, and will continue to do as we move more to the server.  I'd really rather we focused on getting better.  We do

[2017-03-16 06:31] fatduo commented on #40131
@wozhengjl Any update?

[2017-03-16 06:55] hzxuzhonghu opened #43201 "why serviceController run nodeSyncLoop every nodeSyncPeriod ？"
I think its better if it run like service loop, always run when workingQueue is not empty

[2017-03-16 06:57] k82cn commented on #43197
/assign @k82cn

[2017-03-16 06:58] madhusudancs commented on #43196
@shashidharatd can you take a look?

[2017-03-16 07:14] steshaw commented on #23597
The inactive replicasets are confusing for new users. I wasn't expecting to have any after applying a modified deployment. From this perspective, setting a default limit to 2 or 3 for `.spec.revisionHistoryLimit` would not solve this problem (for new users).

It seems counterintuitive that the [history of deployments are stored in objects that they manage](http://kubernetes.io/docs/user-guide/depl

[2017-03-16 07:18] wojtek-t commented on #40139
@yujuhong @dchen1107 - my guess would be that it was rebooted by GCE itself (e.g. due to machine reboot or sth). I think this may happen from time to time.

@dchen1107 - what do you mean? the recent failures in this test are all setup issues (which @shyamjvs is eliminating one by one)

[2017-03-16 08:05] puja108 commented on #43142
The `domain` part there usually can be the same even in different clusters, in most cases it's just `cluster.local`, but that depends on what tooling and configuration you're using to set the clusters up (or what your ops team or provider sets up for you).

[2017-03-16 08:09] dkerwin commented on #43168
In my tests i left the cronjob as is

[2017-03-16 08:18] bonifaido commented on #42888
Sorry, I have found the issue, I had a setup where the none of the node names were the same as the hostname of the kube-proxy pod and this caused the issue, where none of the Pods running on a hosts were recognised as local pods. I have fixed this issue by manually setting the hostname with `--hostname-override` in kube-proxy.
However I still insist that this error message is misleading and should

[2017-03-16 08:48] cduchesne opened #43203 "empty array fields change to null when storing as protobuf"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): subsets null

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Rep

[2017-03-16 09:00] pettair commented on #42963
Thanks @jwhitcraft, I'll try out that workaround, and if ti works we can close this as a duplicate

[2017-03-16 09:06] k8s-merge-robot opened #43206 "ci-kubernetes-e2e-kops-aws: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/5460/
Multiple broken tests:

Failed: [k8s.io] Projected should provide container's memory limit [Conformance] [Volume] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Sysctls should not launch unsafe, but not explicitly enabled sysctls on the node {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Services

[2017-03-16 09:39] feiskyer commented on #43014
@jbeda  Flannel plugin failed because it requires write operation now. After authorizing write operations (set verbs to `'*'` for simplify), it works in my environments.

 Same with calico and weave. See my config at [weave](https://gist.github.com/feiskyer/0b00688584cc7ed9bd9a993adddae5e3), [flannel](https://gist.github.com/feiskyer/1e7a95f27c391a35af47881eb20131d7) and [calico](https://gist.gith

[2017-03-16 09:53] zhouhaibing089 commented on #43142
@puja108 well, it is ok to have the same domain, I am just confused at whether those short names like `foo, foo.bar` should be in the SANs..

[2017-03-16 10:01] jonathanmarsaud opened #43209 "Certificate error after upgrading CDK to 1.5.2 -> 1.5.3"
**Is this a request for help?**
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
<exact error>, 1.5.3, upgrade, cdk, easyrsa, exec, logs

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:

[2017-03-16 10:28] wu8685 commented on #33245
@violalu it works. thx

[2017-03-16 10:32] hpejustin commented on #43201
I think you mean why we need two loop(service and node), other than one loop, am i right? According to view, service loop focus on service update(deal with load balancer etc.) and node loop deal with hosts which has relation to service. Two loops can make it much more clear.

[2017-03-16 10:51] JunejaTung opened #43211 "Can't delete rc when the pods' AGE is invalid"
**Lock when delete rc**
[code]

**Steps to reproduce the issue:**
1.set datetime 8 hours later
[code]
2. create pods
[code]
3. set datetime to current right
[code]

**Describe the results you received:**
it hook on delete rc
[code]
set datetime to 8 hours later , AGE is valid, failed to delete as before
[code]
**Describe the results you expected:**
[code]
**rc yaml, volumes:**
[code]

**Strace res

[2017-03-16 11:00] spiddy opened #43212 "CLOSE_WAIT connections on master node when ELBs point there"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

CLOSE_WAIT

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG RE

[2017-03-16 11:03] puja108 commented on #43142
Yes, most probably you'd need those, if you cannot control a single path on which they get accessed. If you can ensure that only ne (e.g. the FQDN) is used, you could just have that one in there.

My comment above was just that the problem you mention in the end might not be really a problem, if your clusters are similarly set up.

[2017-03-16 11:08] mwielgus commented on #42485
Same story agian...

[2017-03-16 11:32] hzxuzhonghu commented on #43201
`go wait.Until(s.nodeSyncLoop, nodeSyncPeriod, wait.NeverStop)
func (s *ServiceController) nodeSyncLoop() {}`

I mean function nodeSyncLoop only run once every nodeSyncPeriod. Not like service run a for loop, which can deal with resource change more rt

`func (s *ServiceController) worker() {
	for {
		func() {
			key, quit := s.workingQueue.Get()
			if quit {
				return
			}
			defer s.workingQueu

[2017-03-16 11:46] hzxuzhonghu commented on #43201
@hpejustin I mean  when  node update,  servcie controller watch this event, but may process this after nodeSyncPeriod  time.  It works like a long poll loop of a period.

[2017-03-16 11:56] soltysh opened #43214 "stop serving extensions/v1beta1 and networking.k8s.io/v1beta1 in 1.22"
Timeline for already-deprecated extensions types (DaemonSet, Deployment, ReplicaSet, StatefulSet, NetworkPolicy, PodSecurityPolicy):
- 1.14:
  - [x] switch pruning to apps/v1 - https://github.com/kubernetes/kubernetes/pull/72352
  - [x] Update add-on manifests to use new API groups - #72203
  - [x] Update controllers, tests, templates to use new API groups. - https://github.com/kubernetes/kubernet

[2017-03-16 12:07] soltysh commented on #42451
Release notes are a good source for that. I clearly remember stating we are removing extensions/v1beta1.Jobs in my PR comment, see https://github.com/kubernetes/kubernetes/pull/38614, unfortunately that did not happen for the other, but in that case opening an issue is an option.

[2017-03-16 12:10] pweil- commented on #43214
@php-coder

[2017-03-16 12:13] soltysh commented on #43023
@idvoretskyi see my comment https://github.com/kubernetes/kubernetes/issues/42451#issuecomment-287037902, on a side note, we should merge these two issues since they're covering the same problem.

[2017-03-16 12:20] deads2k commented on #43214
`.apiextensions.k8s.io`?  That would give us `ThirdParty.apiextensions.k8s.io`

[2017-03-16 12:21] deads2k commented on #43214
How about a peer to rbac under "xxx.authorization.k8s.io" since we're likely to add pre-evaluation endpoints?

[2017-03-16 12:24] jsafrane commented on #41141
@kubernetes/sig-storage-bugs

[2017-03-16 12:25] soltysh commented on #43214
@deads2k that sgtm, I didn't have clear answers, so that was just my best guess.

[2017-03-16 12:34] webwurst commented on #3595
@timothysc what exactly would i need to override?

[2017-03-16 12:41] liggitt commented on #42976
@rwehner https://github.com/kubernetes/kubernetes/pull/43122 has merged which will prevent new protobuf data from being written into etcd2 (but allows existing data to be read).

@brendandburns do you have any more info about your env? want to make sure there's not another issue present

[2017-03-16 12:52] dohnto commented on #34715
I am seeing this eventhough I dont mount any volume at all. It is a PITA.

[2017-03-16 12:55] kargakis commented on #23597
@steshaw any suggestions on where might it be better to store it?

[2017-03-16 13:06] soltysh commented on #43159
We should be safe, because in `kubectl run` we get the list of resources the server has and do actions based on that, we don't rely on something being present in version x.y.z. Cluster operator can disable certain resources and `kubectl run` will react appropriately to these changes.

[2017-03-16 13:07] soltysh commented on #43159
👍 for not relying on controllerRef, as well.

[2017-03-16 13:12] adohe commented on #43159
Generally this is kind of impact we will have when we move more client side logical to server side, with old version kubectl, we will rely on client side to do cascade deletion, but with new version api-server, the garbage component will do this job, keep the newer version kubectl maintain the older behavior is something we need to make sure afaik.

[2017-03-16 13:13] adohe commented on #42392
[code]
This is exactly what we should avoid. I believe.

[2017-03-16 13:15] adohe commented on #42392
@pwittrock @fabianofranz also as what @bgrant0607 suggested in last SIG-CLI meeting, I would hope we can put more effort on version skew issues, and to make a better kubectl. wdyt?

[2017-03-16 13:20] adohe commented on #30899
@kargakis IIRC, we have a fix on controller part, but I cannot find the original PR. do we still need this now?

[2017-03-16 13:27] adohe commented on #43126
@shiywang any progress on this?

[2017-03-16 13:28] timothysc commented on #43214
@soltysh There needs to be a long-tailed migration period for this that is not outlined here.  The logistics on deprecating...

[2017-03-16 13:33] zhouhaibing089 commented on #43142
@puja108 ah, if you are going to deploy a service, elasticsearch for example, don't you feel strange that the name `elasticsearch` be encoded into its certificate? after all, everyone can have an elasticsearch service. :)

[2017-03-16 13:36] soltysh commented on #43214
@timothysc agreed, I just wanted this out to have a starting point. It'll take much longer to actually get rid of these types. I'm assuming for each of these resources the steps being as follows (those were the steps when I was getting rid of extensions.Jobs):

1. introduce resource X in new api group (just the versioned part) (that has to last at least one release)
2. move the internals to the ne

[2017-03-16 13:38] adohe commented on #43119
@zouyee this could be small UX improve, would you mind helping fixing this?

[2017-03-16 13:42] adohe commented on #12143
@pwittrock @fabianofranz @bgrant0607 as what we talked on last SIG-CLI meeting, I would hope we can move a little bit forward on this in 1.7. wdyt?

[2017-03-16 13:50] justinsb commented on #42392
(I also acknowledge that we have to be pragmatic.  If it's hard to fix and this one goes out as-is with a release-note, that's OK by me...)

[2017-03-16 13:53] soltysh commented on #12742
/cc

[2017-03-16 13:58] #42660 closed

[2017-03-16 14:02] puja108 commented on #43142
True, it does feel strange. I'm not too deep into these things, but this should be usual if you're using DNS for internal Service Discovery, right? Not sure how other solutions solve this. But at least you can freely choose the CN and any other DN field like O or OU to distinguish uniquely.

[2017-03-16 14:03] timothysc commented on #43197
@davidopp you mean e2es?  The UTs should have all been updated.

The reason straight up e2es weren't converted was b/c it leverages the same code.  There was a judicious change to isolate the up-convert to just the scheduler.

Could you elaborate on what tests you think are missing.

[2017-03-16 14:08] Cynerva commented on #43209
Thanks for reporting this.

This looks related to https://github.com/kubernetes/kubernetes/pull/41919 where we added server certificates to kubernetes-worker. I'm not sure why but it looks like they were signed with a different CA cert.

[2017-03-16 14:12] piosz commented on #42840
The PR is ready to be merged and lgtmed. Waiting for approvals.

[2017-03-16 14:16] liggitt commented on #42392
agree, and pushing hard on backwards compatibility (new kubectl -> old server) would help with that.

[2017-03-16 14:17] mtaufen commented on #43146
@aleksandra-malinowska Please close this issue if passing -o fixes your problem. Thanks for helping with the upgrade tests :)

[2017-03-16 14:24] liggitt commented on #43168
@soltysh is it expected that a job would be recreated if deleted?

[2017-03-16 14:25] jszczepkowski commented on #43024
The problem is in e2e/monitoring.go:121, in function `verifyExpectedRcsExistAndGetExpectedPods`. The function is called immediately from `testMonitoringUsingHeapsterInfluxdb`, w/o waiting for system pods (heapster) to start. We should give some time for heapster to become ready, as it takes few minutes after cluster creation.

[2017-03-16 14:26] erinboyd commented on #41141
@humblec @obnoxxx

[2017-03-16 14:26] jszczepkowski commented on #43024
CC @MaciekPytel

[2017-03-16 14:29] piosz commented on #43024
@jszczepkowski thanks a lot for investigation!
@MaciekPytel is going to fix it.

[2017-03-16 14:30] onorua opened #43218 "kubectl apply for DaemonSet and Deployment have different behavior with RollingUpdate"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: DigitalOcean
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
[code]
- **Others**:

**What happened**:
when I do:
[code]
it will run rolling update ONLY if there is a change. In case I do:
[code]
Each time I run it - it wil

[2017-03-16 14:33] dkerwin commented on #43168
If i delete the job via kubectl it works (as long as the pod is still there). After the pod deletion even kubectl failes to delete the job.

Here's a code snip of how i delete jobs and associated pods using the go client and the api: https://gist.github.com/dkerwin/981a52c91a020faa17b4bd916bb84282

[2017-03-16 14:33] kargakis commented on #30899
From 1.6, it will be impossible to have overlapping deployments because of the addition of owner refs. This means that two deployments with the same selector will maintain their own set of pods.

[2017-03-16 14:36] dashpole commented on #42676
Test job is [here](https://k8s-testgrid.appspot.com/google-node#kubelet-memcg-serial-gce-e2e), and runs the memory eviction test with --experimental-memcg-notifications=true.

[2017-03-16 14:42] sameo commented on #41723
@andrewrynhard I'm seeing the same issue with ubuntu 16.02.

I'm using
[code]

You say you played with tolerations to get the flannel pod to start on the master node. Could you share what you did with tolerations ?

[2017-03-16 14:52] kargakis commented on #40295
Still an issue: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/43217/pull-kubernetes-bazel/10247/

[2017-03-16 14:57] liggitt commented on #42976
@brendandburns also, is this reproducible upgrading from 1.5.x?

[2017-03-16 15:01] aleksandra-malinowska commented on #43146
It does, closing it now. Thanks!

[2017-03-16 15:01] #43146 closed

[2017-03-16 15:03] soltysh commented on #43168
Nope.

That's interesting lemme take a look.

[2017-03-16 15:03] liggitt commented on #40295
wrong issue, real issue is https://github.com/kubernetes/kubernetes/issues/39975

[2017-03-16 15:03] #40295 closed

[2017-03-16 15:04] liggitt commented on #39975
Still an issue: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/43217/pull-kubernetes-bazel/10247/

[2017-03-16 15:05] liggitt commented on #39975
but not a blocker (the test is at fault)

[2017-03-16 15:22] thockin commented on #35486
hmm, I may be wrong - I re-cleaned my state, and maybe it is fixed.  Kicking jenkins again

[2017-03-16 15:24] timothysc commented on #43214
@soltysh just a thought here, but this might be a good use case for a github-project b/c it is going to straddle release.

[2017-03-16 15:30] soltysh commented on #43168
I've just checked on lastest master this is working as expected. @dkerwin can you please show me the output of `kubectl delete job` with `-v=8` when trying to remove a job without a pod? I checked the code behind [JobReaper](https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/kubectl/stop.go#L372-L413) and it wasn't changed between 1.5 and current (aside from the refactors that happened)

[2017-03-16 15:36] ethernetdan commented on #43099
Looks like this got resolved by #43186

[2017-03-16 15:36] #43099 closed

[2017-03-16 15:40] thockin commented on #43214
Ingress and NetworkPolicy -> network

On Thu, Mar 16, 2017 at 8:24 AM, Timothy St. Clair <notifications@github.com

[2017-03-16 15:42] asifhj opened #43221 "Ubuntu manual install failed."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):  Ubuntu manual install failed.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (ch

[2017-03-16 15:46] dashpole commented on #39812
cherrypick to 1.5: #43113

[2017-03-16 15:46] feiskyer commented on #41723
@sameo I'm planning a working flannel plugin

[code]

[2017-03-16 15:46] theothermike commented on #38988
@davidopp

You describe 'delete' and 're-create' as losing the labels, which would be understandable.  Are you then suggesting 'stopping' and then 'starting' a VM is the same as 'delete' and 're-create'?  Because that also does not retain labels

I did not realize we could attach labels to nodePools, and have the nodes inherit those labels.  If that works as advertised, that would be sufficient fo

[2017-03-16 15:50] dkerwin commented on #43168
That's very strange. I can still reproduce it locally without any problems. Here's the debug output:

[code]

[2017-03-16 15:50] gamefiend opened #43222 "Downward API EnvVar and VolFiles contain differing information, could use more examples"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): downward api

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE

[2017-03-16 15:50] enisoc commented on #43159
I think we have consensus on Option 1. I will work on reverting kubectl to the 1.5 behavior with respect to ControllerRef.

[2017-03-16 15:50] abdoo opened #43223 "kubernetes with flannel setup on ubuntu"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-03-16 15:50] crassirostris commented on #41393
Removal from the `kubernetes` repo: https://github.com/kubernetes/kubernetes/pull/42127
Moving to the `contrib` repo: https://github.com/kubernetes/contrib/pull/2426

[2017-03-16 15:54] mtaufen opened #43224 "Future: Set docker --disable-legacy-registry=true"
Support for the v1 protocol to the docker registry was removed in docker version 1.13. At some point we'll presumably want to update our recommended docker version. Our existing version has a --disable-legacy-registry flag which prevents use of the v1 protocol. We should enable this flag in preparation for that eventuality.

[2017-03-16 15:57] piosz commented on #41393
@crassirostris thanks!

[2017-03-16 16:02] liggitt commented on #43203
needs to be triaged for 1.6 in case this is an API breakage

[2017-03-16 16:03] thockin commented on #35486
From my test PR #43175 , it *does* fail now.  Thanks Mehdy!

[code]

[2017-03-16 16:06] dkerwin commented on #43168
The HTTP calls look fine to me. Still the job is brought back to live immediately

[2017-03-16 16:09] liggitt commented on #41892
reopening to track server-side issue, moving to 1.6.1

[2017-03-16 16:10] mtaufen commented on #27980
@cmluciano very sorry I missed your comment. If you're still interested in helping out the majority of the discussion is taking place in #29459. I expect the implementation of the foundational bits will be relatively lightweight work, but it would be really useful to have another hand when we get to building orchestration tooling. I understand if it's too late for you at this point :).

[2017-03-16 16:14] jhorwit2 opened #43227 "Impersonating a user does not automatically include the `system:authenticated` group"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

impersonate system:authenticated

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2017-03-16 16:21] sameo commented on #41723
@andrewrynhard Thanks, I should have seen that from that PR...

@feiskyer Oh, thanks a lot. Now my flannel pod starts, but I'm still getting a kube-dns error:

[code]

[2017-03-16 16:30] dchen1107 commented on #43224
Thanks for filing this!

cc/ @kubernetes/sig-node-feature-requests @danpaik

[2017-03-16 16:44] soltysh commented on #43168
Yup, job is being deleted. Can you show me your CronJob definition, in that case?

[2017-03-16 16:45] skriss opened #43228 "SchedulerPredicates e2e tests running for an hour each in the master upgrade jobs"
Example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-1.5-1.6-upgrade-master/21

SchedulerPredicates tests, which are serial, are waiting for all test namespaces to be deleted before executing. The current time limit for waiting is an hour. In the upgrade-master jobs, this is never succeeding resulting in each of these taking an hour to run (doing nothing

[2017-03-16 16:45] liggitt commented on #43227
We can probably be smart and put the authenticated group adder around the result of the impersonation filter. @deads2k, you see any issues with that?

[2017-03-16 16:46] jonathanmarsaud commented on #43209
@Cynerva Hmm, just for additionnal infos:

I tried to switch my local ~/.kube/config to a https://<master>:6443 directly instead of https://<kube-api-loadbalancer>:443 and I got the same error. I don't know so if it's tied only to the certificates tied to the kube-api-loadbalancer?

[2017-03-16 16:47] dkerwin commented on #43168
Here's the cronjob definition:

[code]

[2017-03-16 16:49] skriss commented on #43187
I believe this is a flake, I saw it once or twice at the beginning of testing but it was not consistent. Note that it seems the underlying cause for master upgrade test jobs timing out is #43228 which I just filed

[2017-03-16 16:49] lavalamp commented on #42485
Why is this happening? We should not be fixing this manually if my understanding of it is remotely up to date. @ixdy can you take a look or find someone to look?

[2017-03-16 16:50] liggitt commented on #43203
looks like an issue with proto storing `[]` vs `null`

if I start the server with `--storage-media-type=protobuf`, I cannot persist a `subsets: []` (editing and trying to save that always returns null when I refetch the endpoint

if I start the server with `--storage-media-type=application/json`, subsets persist with and return as `[]`

cc @smarterclayton

[2017-03-16 17:00] erictune commented on #43214
How many releases of overlap do we need between "new group available" and "extensions group is deleted"?  One is an absolute minimum, but 2 seems more civilized.

[2017-03-16 17:01] smarterclayton commented on #43203
this is easy to fix

[2017-03-16 17:04] ixdy commented on #42485
I think this is what has always been done - "v1.7.0-alpha.0" is considered "more recent" than any 1.6 (or earlier) branches. `release/stable.txt` points to v1.5.4. `release/latest-1.6.txt` points to `v1.6.0-beta.3` as expected.

[2017-03-16 17:05] thockin commented on #43214
Deprecation policy calls for 1 release for beta, but given the scope of
impact for things like Deployments, I'd agree that 2 is more polite.

On Thu, Mar 16, 2017 at 10:01 AM, Eric Tune <notifications@github.com>
wrote:

[2017-03-16 17:05] bgrant0607 commented on #10179
cc @mtaufen

[2017-03-16 17:06] bgrant0607 commented on #10179
We should look at how hard it would be to protect individual resources from deletion, mutation, and/or reads via RBAC. The last time I tried, it required creating/changing several resources.

[2017-03-16 17:07] sjenning commented on #42831
@vishh @derekwaynecarr @ymqytw https://github.com/kubernetes/kubernetes/pull/38989 is the PR that switched kubectl to read QoSClass from the pod field rather than computing it.  Didn't consider a 1.6 kubectl talking to a 1.5 server at the time.  Do I need to add code to check for the 1.5 server not setting the field and fall back to computing it?

[2017-03-16 17:10] ethernetdan commented on #43187
Good to know, thanks @skriss. Moving from milestone.

[2017-03-16 17:13] ixdy commented on #42485
I'm not sure what the correct behavior of the `release/latest.txt` file should be. I'll concede that we probably should not have published `v1.7.0-alpha.0`, but let's suppose we cut `v1.5.0-rc.1` this week, thaw the code freeze on master, and then build `v1.7.0-alpha.1` next week. Which should populate `release/latest.txt`?

[2017-03-16 17:17] derekwaynecarr commented on #42831
@sjenning -- i think we should fall back to locally computing it if the field is not present otherwise its a regression that the field is missing.

[2017-03-16 17:17] lavalamp commented on #42485
Sounds like release/latest.txt is a confused concept that just shouldn't exist.

[2017-03-16 17:17] calebamiles commented on #43228
Could someone from @kubernetes/sig-scheduling-bugs please help with triage of this test? Thanks!

[2017-03-16 17:19] lavalamp commented on #42485
Like, maybe a latest-stable is a coherent concept. Maybe we should retcon latest to mean that.

[2017-03-16 17:21] ixdy commented on #42485
yeah, using `release/latest.txt` and `release/stable.txt` in upgrade tests is also likely to lead to unexpected results. e.g. if a 1.4-1.5 upgrade test uses `release/stable.txt`, it'll be fine for now, but will suddenly upgrade the cluster to 1.6 as soon as 1.6.0 is shipped.

[2017-03-16 17:22] ixdy commented on #42485
The `release/latest-$VERSION.txt` files have meaning. I'm not sure it's worth fixing `release/latest.txt` - it mostly exists for `ci/latest.txt`.

[2017-03-16 17:23] glesage commented on #2799
I actually found what I was looking for in https://github.com/kubernetes/ingress/blob/master/controllers/nginx/configuration.md#allowed-parameters-in-configuration-configmap

Thanks!