[2016-09-28 08:34] oz123 commented on #33473
@errordeveloper I don't mind working on that, but first issue https://github.com/kubernetes/kubernetes/issues/33544 needs to be fixed.

[2016-09-28 08:35] errordeveloper commented on #33562
Also, for the record, you can specify as many addresses as you wish with `--api-advertise-addresses`, and the first one will be output in the recommended `kubeadmin join` command, but you can use any. Also, please note that this doesn't affect what address `kube-apiserver` and `kube-discovery` will bind to, they currently bind to `0.0.0.0` (see https://github.com/kubernetes/kubernetes/issues/33638

[2016-09-28 08:35] errordeveloper commented on #33618
To be clear, it does actually listen on all interfaces right now and we are planing to provide a flag to make it bind to a specific address, but default will probably remain `0.0.0.0` for now. Please also see https://github.com/kubernetes/kubernetes/issues/33562#issuecomment-250105700 and https://github.com/kubernetes/kubernetes/issues/33638.

[2016-09-28 08:35] kayrus commented on #8001
Most probably it is related: https://github.com/kubernetes/kubernetes/pull/33584

[2016-09-28 08:36] arterrey commented on #13776
here is an rsync solution... super hacky but seems to work, assumes you have rsync in the container

[code]

[2016-09-28 08:39] Crassirostris commented on #32762
@edsiper

OK, thank you very much for you effort!

Will update this issue with the new data ASAP.

[2016-09-28 08:41] errordeveloper commented on #33638
Flags to discuss:

- `--api-bind-address=<ip>`
- `--api-bind-port=<port>`
- `--discovery-bind-port=<port>`
- `--discovery-bind-address=<port>`

Also, I found these higher-level ones in my notes, I think we might want to have them eventually:
- `--api-bind-loopback-unsecure=<bool>`
- `--prefer-private-network=<bool>`
- `--prefer-public-network=<bool>`

[2016-09-28 08:46] dshulyak commented on #30272
This is already implemented in #32498.

We need to get the following effect "don't schedule new pods, but don't evict existing ones". This is why user will have to add node-maintenance:**NoSchedule**, but not node-maintenance:**NoExecute**.

At the same time user will need to modify unreachable:NoExecute toleration to have infinite forgiveness period for all pods on selected node. The plan is to u

[2016-09-28 08:47] errordeveloper commented on #33473
@oz123 are you also experiencing that? Also, may be you could close this one - it seems like we have gone well off-topic and the original issue has lost the meaning...

[2016-09-28 08:49] #33473 closed

[2016-09-28 08:58] sebgoa commented on #33544
Ok tested the new docs, you can close.

I wrote this Ansible playbook to automate a bit:
https://github.com/skippbox/kubeadm-centos

I will write a quick blog about it.

[2016-09-28 09:04] luxas commented on #33544
Closing as fixed with the newest packages

[2016-09-28 09:04] #33544 closed

[2016-09-28 09:06] errordeveloper commented on #33544
@sebgoa excellent, thank you very much! Also, you could make a PR to docs with a link. Personally, I think that eventually it'd be great to have a set of simple multi-distro config management modules.

[2016-09-28 09:09] bogdando commented on #33472
Just a side comment, a bit of tl;dr. I was really impressed by the aforementioned go-routines' "birth control measures" https://github.com/kubernetes/kubernetes/issues/33472#issuecomment-249814281.  IMO, it could be *very* useful as well to automatically collect related code patterns from call stacks of long running/looking hanged/lost go-routines. And publish the most interesting findings in some

[2016-09-28 09:12] lukemarsden commented on #33618
Should be fixed in http://kubernetes.io/docs/getting-started-guides/kubeadm/#instructions now, @hgfischer could you please take a look and let me know if that docs change would have helped you out? Thanks!

[2016-09-28 09:12] lukemarsden commented on #33562
Should be fixed in http://kubernetes.io/docs/getting-started-guides/kubeadm/#instructions now, @oz123 could you please take a look and let me know if that docs change would have helped you out? Thanks!

[2016-09-28 09:20] errordeveloper opened #33641 "kubeadm should not assume that hostname == nodename"
As pointed out by @justinsb, this is often the case on EC2.

[2016-09-28 09:24] #31965 closed

[2016-09-28 09:24] errordeveloper opened #33642 "kubeadm: we should print basic info about the certs we generate"
A subset of organisation, subject, alt names, usage, signature would be quite useful to print, as user may wish to take a note. We need this for certs create on master by `master/pki.go` as well as ones obtainer by the node through the CSR mechanism (`node/csr.go`).

[2016-09-28 09:26] errordeveloper opened #33643 "kubeadm/csr: explicit first contact with the API server"
Right now `checkCertsAPI()` has a side-effect of making first attempt of communicating with the API, we should _make it more explicit_ and have a user-settable _retry timeout_ to account for potential connectivity issues (for example user may be bringing up machines in parallel and for some reasons master is slow to boot).

[2016-09-28 09:28] gmarek commented on #27882
cc @devin-donnelly for the former

It turned out that there were two different places in which we were removing orphaned Pods. One was omitting DaemonSets, other one probably wasn't. There's a PR (#32495) that cleans up this mess - it might help with your case as well.

[2016-09-28 09:33] errordeveloper commented on #33643
It's a dup of #33542.

[2016-09-28 09:33] #33643 closed

[2016-09-28 09:33] gmarek commented on #32478
@mikedanese @freehan - what's the state of this?

[2016-09-28 09:43] k8s-merge-robot opened #33646 "kubernetes-e2e-gci-gke-prod-smoke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/235/

Multiple broken tests:

Failed: [k8s.io] Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26960 #27235

Failed: [k8s.io] EmptyDir volumes should support (non-root,0777,tmpfs) [Conformance] {Kubernetes e2e s

[2016-09-28 09:43] k8s-merge-robot opened #33647 "kubernetes-e2e-gci-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial/50/

Multiple broken tests:

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}

[code]
Issues about this test specifically: #30317 #31591

Failed: [k8s.io] Rescheduler [Seria

[2016-09-28 09:49] fgrzadkowski commented on #30471
@atomantic What do you mean by dead? What was the state of this pod? Was it terminated?

@hongshibao Please link the PR this issue.

[2016-09-28 09:53] gmarek commented on #33617
@roberthbailey can you reassign?

[2016-09-28 09:55] danielschonfeld commented on #33618
What about the nodes themselves, why don't they have a flag to pass on to kubelet the `--address` flag?  I have a bare metal installation with two ethernet devices, it just so happens to be that my internal network doesn't have the gateway on it.  When installing weave-net the IP used to communicate between nodes ends up becoming my external IP and not the internal one.

Thanks!

[2016-09-28 09:55] sttts commented on #33617
Saw this now on three different PRs independently with the gke smoke test, all this morning. Feels like a P0.

[2016-09-28 10:07] fgrzadkowski commented on #11935
We already have a PR inflight for better documentation - https://github.com/kubernetes/contrib/pull/1731

@mwielgus I think that to improve documentation we will also need:
* point from AWS and GCE readme files to the main one.
* upgrade official docs for cluster autoscaling (http://kubernetes.io/docs/admin/cluster-management/#cluster-autoscaling) to say that we also support AWS.

@mwielgus Can we

[2016-09-28 10:20] #33046 closed

[2016-09-28 10:48] hectorj2f opened #33648 "v1.4.0: Sporadic too old resource version logs in api-server"
I am seeing sporadic logs in my kubernetes cluster which uses the latest v1.4.0. I'd like to know how could I get rid of this annoying logs.

[code]

I am using the CoreOS hyperkube image `v1.4.0_coreos.0`

[2016-09-28 11:04] gmarek commented on #33617
@sttts I thought I was the only one;) If it happens multiple times a day it's certainly a P0.

[2016-09-28 11:05] k8s-merge-robot opened #33649 "[k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/304/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec through an HTTP proxy {Kubernetes e2e suite}

[code]

Previous issues for this test: #27156 #28979 #30489

[2016-09-28 11:07] kargakis opened #33650 "Quota support for replica sets"
I couldn't find any issue about this. When trying to set quota on replica sets I get back a validation error. We may want to check also why `kubectl edit` returns the error twice:
[code]
Seems that [quota on replica sets](https://github.com/kubernetes/kubernetes/blob/05b7ee2beece0defda6cefeb91183fb566988b4d/pkg/api/helpers.go#L133) are not supported yet

cc: @derekwaynecarr

[2016-09-28 11:16] janslow opened #33652 "Easier process to delete a cluster"
**FEATURE REQUEST**

I needed to change the IP subnet that my development cluster was running on (and make various other changes), so I decided to try and delete it and start again (using `kubeadm init`).

However, I couldn't find any documentation/tutorials on how to do this, so I tried to work it out myself. This turned out to be a very complex and long-winded process, which involved me having t

[2016-09-28 11:25] huang195 commented on #33508
Another interesting problem is normally kubelet and kube-proxy can run as containers on worker nodes, but with Docker userns enabled, this becomes problematic as they containers would need to be run in `--privileged` mode and `--network=host`, which are documented to be not compatible with userns enabled. This could be worked around by starting kubelet and kube-proxy as normal processes, but this

[2016-09-28 11:31] svanderbijl commented on #29324
Just ran the repro for a freshly installed 1.4.0 cluster and we can confirm the fix isn't working / included.

[2016-09-28 11:36] hongshibao commented on #30471
@fgrzadkowski Pull Request is here: #33529

[2016-09-28 11:56] lukemarsden commented on #33618
Hey @danielschonfeld could you please open a ticket against https://github.com/weaveworks/weave-kube for the latter issue? I'll ask my colleagues to take a look. Thanks!

[2016-09-28 12:03] svanderbijl commented on #29324
Same issue with 1.3.8.

[2016-09-28 12:04] danielschonfeld commented on #33618
@lukemarsden it's not a weave issue... weave only runs `kube-peers` which collects the advertised address from each node record from the API server.  It's the kubelet on the individual nodes that does exactly what you described above.  It takes the first IP with a gateway it finds and in my installation it just so happens to be that the first IP is the external one and not the internal one (cuz ou

[2016-09-28 12:18] wojtek-t opened #33653 "etcd3 watcher doesn't scale"
I did some scalability tests with etcd3 enabled and it seems that watcher.go pretty much doesn't scale.

I think the problem we have is with ```tranform``` function:
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd3/watcher.go#L234

So to give you some numbers, in 2000-node kubemark, I started cluster at:
[code]

and 12 second later I started getting:
[code]

I have __millions

[2016-09-28 12:19] errordeveloper commented on #33618
Ok, I see what's the problem. Node registration IP is outside of kubeadm.
Right now you will need to either add kubelet system drop-in unit, or
modify the one kubeadm install. Do know how to do this or you need more
details?

On Wed, 28 Sep 2016, 13:04 Daniel Schonfeld, <notifications@github.com>
wrote:

[2016-09-28 12:20] wojtek-t commented on #33653
@kubernetes/sig-api-machinery @lavalamp @gmarek

[2016-09-28 12:21] irfanjs commented on #11355
hi,
i followed the following steps :
1: executed command : `openssl genrsa -out /tmp/serviceaccount.ket 2048`
2; modified the /etc/kubernetes/apiserver file to add following :

`KUBE_API_ARGS="--service_account_key_file=/tmp/serviceaccount.key"`
3: modified the /etc/kubernetes/controller-manager and add following:
`KUBE_CONTROLLER_MANAGER_ARGS="--service_account_private_key_file=/tmp/serviceaccoun

[2016-09-28 12:28] janslow commented on #33652
Ok, that's great, thank you!

[2016-09-28 12:36] svanderbijl commented on #29324
After running a few more tests it appears the same issues exists with version 1.3.8. Was the fix applied?

[2016-09-28 12:43] dshulyak commented on #30082
This one looks tricky. Pet set controller should observe petset scale down update after pod will be created, but before it will enter running state. Do you have ideas how to implement it in deterministic way?

[2016-09-28 12:50] wojtek-t commented on #20504
https://github.com/kubernetes/kubernetes/issues/33653 is definitely a blocker for launching etcd3 in my opinion

[2016-09-28 12:54] gmarek commented on #33627
This seems to be GCI related. @vishh

[2016-09-28 12:59] jonathan-kosgei commented on #33173
@zhouhaibing089 to prevent a user app in one namespace from accessing database servers in another namespace via the full dns name eg. prevent user 1 from accessing user 2's mysql at mysql-1.user-2.cluster.local

[2016-09-28 13:00] jonathan-kosgei commented on #33173
I could swear I read about this in the docs sometime earlier in the year but I can't find any info on the topic now

[2016-09-28 13:21] Blasterdick commented on #27618
+1 for redis+java

Redis falls before java succeeded to pull data from DB.

[2016-09-28 13:29] liggitt commented on #11355
there's a typo in your openssl command above, I assume the file was actually created without the typo

what service account and secrets show up in your namespace?
[code]

[2016-09-28 13:31] gmarek commented on #32704
Fixed by #27265

[2016-09-28 13:31] #32704 closed

[2016-09-28 13:39] gmarek commented on #33459
This failure message is caused by some change in test infra or kubemark tests. Basically when kubemark tests fail the test script returns non-0 status, while "normal" test runner returns 0 always. I'll send a fix as soon as I'll localize the problem.

[2016-09-28 13:39] nhlfr opened #33657 "Support for unix sockets in RESTClient"
When discussing the PR #33077, we decided that we would like to be able to use unix sockets in RESTClient. That will allow to use proxy server securely on local hosts.

That will be beneficial for this issue - #31178

@kubernetes/sig-cli @smarterclayton @fabianofranz

[2016-09-28 13:40] ncdc commented on #33649
2 things are keeping me from debugging this:

1. I need GKE master logs
1. The build log says the pod in the failing test was scheduled to gke-jenkins-e2e-default-pool-6419216b-a8ow, but logs from that node are not present in https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/304/artifacts/

[code]

Reassigning to @cjcullen and @spxtr to see i

[2016-09-28 14:24] danielschonfeld commented on #33618
@errordeveloper i'll need some details for the latter option.  the former i'm familiar with, but i kinda like the latter idea better.  Thank you!

[2016-09-28 14:27] smarterclayton commented on #33472
I haven't yet seen growth like this on our 1.3 clusters (I asked for additional monitoring on these clusters on this this morning) - however, we have a substantially different workload so that may help pin down the source.

[2016-09-28 14:28] smarterclayton commented on #33472
Did you get a goroutine dump yet from any of those?

[2016-09-28 14:29] smarterclayton commented on #33470
You are expecting the pod IP to resolve back to the pet name as described on the endpoints struct?

[2016-09-28 14:30] smarterclayton commented on #33657
+1 - we have lots of use cases where RESTClient supporting unix sockets
properly inside of pods would allow secure proxying / API server access
from sidecars to the kubelet or to other host agents.

On Wed, Sep 28, 2016 at 9:39 AM, Michal Rostecki <notifications@github.com>
wrote:

[2016-09-28 14:33] #30228 closed

[2016-09-28 14:33] TamalSaha commented on #33470
Yes. If I ran `dig -x <pod-ip>`, I would like to see pod name in the answer section.

[2016-09-28 14:42] gmarek commented on #33557
Yeah - we theoretically create thousands connections in the like @timothysc mentioned. I'll change it to work queue tomorrow.

[2016-09-28 14:45] wojtek-t commented on #33557
@gmarek - I'm not sure we should change it to workqueue. Maybe using multiple client would also fix the issue.

[2016-09-28 14:49] gmarek commented on #33557
We're creating ~7000 go routines there for the 2k Node cluster - I think it's way to many.

[2016-09-28 14:51] wojtek-t commented on #33557
since most of them are sleeping, I don't think it's too much.

[2016-09-28 15:00] wojtek-t commented on #33557
In other words - there should only be constant number of active go-routines at any point in time.

That said - I think that having multiple clients would be a better solution (if that would also solve the problem). @bradfitz - would it?

[2016-09-28 15:04] sebgoa commented on #32880
@fraenkel do you still have time to work on this ?

[2016-09-28 15:11] fraenkel commented on #32880
@sebgoa Sorry, I am on my 5th try. Port forward using SPDY vs websockets is basically two different implementations. It would have been far better to go from SPDY to HTTP/2 given a much closer model.
Once I get a complete websockets implementation with corresponding test cases I can begin to look at what if anything can be merged. It will be very very little.

[2016-09-28 15:13] sebgoa commented on #32880
thanks. @ngtuna or @cab105 might be able to help. we work together, but out of cycles to make this one work. Though we need it :( for Cabin, the iOS app for Kubernetes.

Maybe you can make a PR and folks like @smarterclayton or @sttts can comment and help out.

[2016-09-28 15:27] mqliang commented on #33362
dynamic client works, close this

[2016-09-28 15:27] #33362 closed

[2016-09-28 15:29] luxas commented on #33562
This should be fixed now with the latest docs

[2016-09-28 15:29] #33562 closed

[2016-09-28 15:30] luxas commented on #33638
cc @kubernetes/sig-cluster-lifecycle

[2016-09-28 15:32] luxas commented on #33652
Closing this since we have a Cleanup section, but @lukemarsden should probably make it more visible to users

[2016-09-28 15:32] #33652 closed

[2016-09-28 15:56] errordeveloper commented on #33642
@rustyrobot please do! the aim is to not take more then one or two lines. Also, I've updated the description cause we need the same in `master/pki` also.

[2016-09-28 16:03] timothysc commented on #33557
+1 to more clients, b/c that is much more realistic test.

Also, it "sounds like" this will be fixed in future versions of the library with some caveats on configuration.

[2016-09-28 16:10] k82cn commented on #30899
@pwittrock / @AdoHe , I'm not working on this issue because of [kube-mesos](https://github.com/kubernetes-incubator/kube-mesos-framework).

[2016-09-28 16:16] jayunit100 commented on #31795
looks like PredicateMetadata that is passed in will need to be precalculated or mutated by CheckServiceAffinity .  Probably mutated b/c the logic for listing matching pods should be done lazily i think only in the case where its needed.

[2016-09-28 16:17] gmarek commented on #33557
OK, I can create more clients as well. How many go routines per client would make a realistic configuration?

[2016-09-28 16:19] #33283 closed

[2016-09-28 16:20] yissachar opened #33664 "Force pods to re-pull an image without changing the image tag"
### Problem

A frequent question that comes up on Slack and Stack Overflow is how to trigger an update to a Deployment/RS/RC when the image tag hasn't changed but the underlying image has.

Consider:
1. There is an existing Deployment with image `foo:latest`
2. User builds a new image `foo:latest`
3. User pushes `foo:latest` to their registry
4. User wants to do something here to tell the Deployme

[2016-09-28 16:24] bogatuadrian opened #33665 "ScheduledJob with Replace concurrencyPolicy option runs only two jobs and then stops with warning"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "scheduledjob", "scheduledjob replace", "scheduledjob not found", "scheduledjob FailedGet"
---

**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version**

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Ru

[2016-09-28 16:31] timothysc commented on #33653
/cc @smarterclayton fyi.

[2016-09-28 16:32] timothysc commented on #33653
I'll start digging soon, I need to clear off some administrative stuff 1st.

[2016-09-28 16:33] smarterclayton commented on #33653
I did not see this in my limited testing but was not in the many watcher configuration (hundreds of watchers, not thousands)

[2016-09-28 16:34] timothysc commented on #33557
@gmarek tough question.. depends on the client.  Some web-UI clients can be pretty heavy I think I've seen ~70 per/client on some of our tests.

[2016-09-28 16:37] justinsb commented on #33037
The doc with the AWS assumptions (which is likely no longer up-to-date) is here: https://github.com/kubernetes/kubernetes/blob/master/docs/design/aws_under_the_hood.md

[2016-09-28 16:42] thockin commented on #33470
Why is reverse lookup needed?  Just because gluster  feels the need to do that, or for some actual reason?

[2016-09-28 16:45] gmarek commented on #33557
OK, I'll do a 100 to make math easier;)

[2016-09-28 16:47] bradfitz commented on #33557
If the test is simulating load from many nodes, yes: you should have each goroutine use its own http.Transport so they have their own connection pool (for http2: pool = 1 connection per host, usually)

Yes, it's fixed at tip. It'll be in Go 1.8. No plans to backport it to Go 1.7.x currently, but I suppose we could.

[2016-09-28 16:49] smarterclayton commented on #33588
According to spec (if my spec-alese is correct)
http://yaml.org/spec/1.2/spec.html#id2800401

newline + three dashes is the only requirement to terminate a document.
Whitespace or prefixes are allowed afterwards, but for it to be valid YAML
those must be valid at the beginning of a doc as well (as far as I can
tell).

So we should split and remove on any line starting with a newline and three
dash

[2016-09-28 16:50] smarterclayton commented on #29229
The kubelet, namespace, and node controller also do that for graceful
deletion - starting timers when they observe the state change, but not
treating the timestamp in the object as meaningful.

On Tue, Sep 27, 2016 at 10:59 PM, Brian Grant <notifications@github.com>
wrote:

[2016-09-28 16:50] jingxu97 commented on #29324
@svanderbijl , the fix is not in 1.3.8. Could you please share the master kube-controller-manager log during the test if it is available? I suspect that the fix is not complete. We tested with cordon nodes approach, but not the destroy nodes.

[2016-09-28 16:51] jingxu97 commented on #29324
@argusua , thank you for the log. But I still need the master kube-controller-manager log because I cannot access it. Could you please share it if it is still available?

[2016-09-28 16:52] smarterclayton commented on #33622
When you say "add a new group version", are you proposing a transparent proxying of that group version to the backing server?

I think the federation API server, if it wants to proxy clusters, should do so explicitly rather than transparently.  I'm also not sure I agree that the federation API server should be allowed to proxy clusters automatically - possibly until we sort out whether that consti

[2016-09-28 16:59] vishh commented on #33627
@gmarek I can take a look at this, but in general GCI related issues are expected to be handled by the Google Kubernetes team moving forward. GCI will be replacing Debian 7 based containerVM soon and issues in GCI don't cause flakes typically.

[2016-09-28 17:02] jheiss opened #33666 "kubectl config set-credentials only takes secrets on the command line"
kubectl config set-credentials only takes secrets (passwords, bearer tokens) as command line arguments, leaking those secrets to other users on the machine. It should support alternate ways of specifying those values in a way that is secure. E.g. reading from stdin or reading from a file.

[2016-09-28 17:03] smarterclayton commented on #13776
Yeah, that's what we use in openshift (for linux platforms).  Works pretty
well when both client and server match up, can be more difficult on windows.

On Wed, Sep 28, 2016 at 4:36 AM, Adam Terrey <notifications@github.com>
wrote:

[2016-09-28 17:05] mwielgus opened #33667 "Refactor federation unit tests so that they don't modify objects"
Currently there is a potential race/data sync issue when tests are modifying data that was already passed to the client/cache mocks.

cc: @gmarek @quinton-hoole @kubernetes/sig-cluster-federation

[2016-09-28 17:08] vishh commented on #33508
@pweil- has already attempted to fix this once in v1.4. AFAIK, he is working on a more systematic approach now.

[2016-09-28 17:12] justinsb commented on #33664
This is indeed important, and I think there are two cases:

1)  when we have a full CI system like Jenkins (aka “do I really have to use sed”)
2)  we have a limited system like dockerhub that only re-tags latest

[2016-09-28 17:21] errordeveloper commented on #33618
The Debian and RPM packages of kubeadm install a drop-in under
/etc/systemd/system/kubelet.service.d/10-kubeadm.conf, it has kubelet flags
needed for kubeadm to work. The file is the same on nodes and master. You
need to add a flag to this (IIRC --overide-external-hostname) and pass the
IP or hostname that you want, but check kubelet docs.

On Wed, 28 Sep 2016, 15:25 Daniel Schonfeld, <notificatio

[2016-09-28 17:26] andrewstuart commented on #30716
I wonder if resource templating as a whole would be worth discussing on the community call ( cc @sarahnovotny ) (Or, is there an appropriate SIG?). For me, there are already too many in-motion proposals and implementations (the helm tool and [this templating issue](https://github.com/kubernetes/kubernetes/issues/23896) spring to mind) to keep track of. Even if it's just a "yes, we are going with 2

[2016-09-28 17:30] wojtek-t commented on #33653
@smarterclayton - it's not about number of watchers (with the cacher that is enabled since 1.1 or 1.2), there is exactly one watch per resource type to etcd. And here the bottleneck is with:
pkg/storate/etcd3/watcher.go

The problem here is the churn in the cluster (number of write operations with a given resource type per second to be more concrete).

[2016-09-28 17:32] pweil- commented on #33508
@huang195 as a summary, the initial effort for defaulting userns when detecting settings that would require host user ns is here: https://github.com/kubernetes/kubernetes/pull/31169.  In docker you may use host networking when using the host user namespace (ref https://github.com/docker/docker/pull/25771).

During testing to further explore issues I did run in to the permission problem you mention

[2016-09-28 17:32] wojtek-t commented on #33653
So what I claim is that "throughput of pkg/storate/etcd3/watcher.go" is too small (worse than with etcd2).

[2016-09-28 17:34] xiang90 commented on #33653
@wojtek-t Seems like we can write a benchmark for `tranform` to start with?

[2016-09-28 17:34] pigmej commented on #30716
There are some plans to discuss that on sig-apps.

[2016-09-28 17:37] wojtek-t commented on #33557
Yeah - the conclusions here is something I wanted to have exactly.

I'm not sure about 100 value, though changing this particular one should be super simple in the future.

[2016-09-28 17:38] k8s-merge-robot opened #33669 "[k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow-release-1.4/398/

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26490

[2016-09-28 17:39] huang195 commented on #33508
@vishh thanks for the heads up
@pweil- it's great that you're already working on a more comprehensive solution. Will take a look at the PR you've linked.

[2016-09-28 17:40] yujuhong commented on #33508
@pweil- , your PR ensures host user namespace is used whenever host volume is required (by [checking the hostPath in volumes](https://github.com/pweil-/kubernetes/blob/7eca3df501daa2e449053f8edf96500ba4676006/pkg/kubelet/kubelet_pods.go#L70)). This doesn't seem to cover per-pod directories such as secrets, emptyDir, and the terminationMessagePath` mentioned in this issue. How would those be handle

[2016-09-28 17:42] pwittrock opened #33670 "Support changing release-note label using comment-ops"
The PR workflow requires setting the release-note label to the appropriate value.  This should be possible for PR authors to do.

[2016-09-28 17:45] Mandy27 opened #33671 "Kube-dns is not running"
I am trying to install Kubernetes on Linux with kubeadm. At step 4, after installing Weave net, I see that kube-dns status just shows ContainerCreating.

[2016-09-28 17:47] irfanjs commented on #11355
thanks Liggitt.
i did not understand what that typo is. i created the key file exactly as per the command. please let me know
command : `kubectl get secrets` does not return anything
command : `kubectl get serviceaccounts` returns default`as an account and secrets is 0ards

regards

[2016-09-28 17:48] huang195 commented on #33508
@yujuhong I heard from @estesp that there was a recently merged Docker PR that would `chown` host files/directories to the remapped user if the host files/directories don't exist when bind mounting them into a container. This would resolve `emptyDir` and `terminationMessagePath`, if the kubelet would refrain from creating the corresponding files/directories on the host, since these are either empt

[2016-09-28 17:53] wojtek-t commented on #33557
Or to be more specific about implementation I think we should:
- have N clients (an array of them)
- a go-routine responsible for R number i, should be using client[i % N]

[2016-09-28 17:53] liggitt commented on #11355
the typo was "serviceaccount.ket" vs "serviceaccount.key"

do you have the logs from the controllermanager?

[2016-09-28 17:54] k8s-merge-robot opened #33672 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33663/kubernetes-pull-build-test-e2e-gke/14563/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #33663.

Previous issues for this test: #26175 #26846 #27334 #28293 #29149 #31884

[2016-09-28 18:01] MikeSpreitzer commented on #33508
Is the problem specific to Kubernetes 1.4, or does it also affect earlier releases?

[2016-09-28 18:10] nvnobelen opened #33674 "Ingress service scaling results into 502 Bad Gateway on boot of pods"
BUG REPORT:

When scaling a (simple) nginx using the HPA the service will return a number of 502 responses while the new pods are being activated. The tests run shows this happens on high CPU load of the container (so near 100% container CPU on nginx when you start scaling). There are less (but not 0) 502 errors when the load on the already running containers is much lower then 100%

**System deta

[2016-09-28 18:11] saad-ali commented on #28462
With PR https://github.com/kubernetes/kubernetes/pull/33165 this test has been [stable on `google-gce`](https://k8s-testgrid.appspot.com/google-gce#gce&width=5&include-filter-by-regex=Downward API volume should update) but [very flaky on `google-gci`](https://k8s-testgrid.appspot.com/google-gci#gci&width=5&include-filter-by-regex=Downward API volume should update). Probably worth bumping the timeo

[2016-09-28 18:13] saad-ali commented on #33627
Same issue as https://github.com/kubernetes/kubernetes/issues/28462#issuecomment-250251147

[2016-09-28 18:14] saad-ali commented on #33434
Same issue as https://github.com/kubernetes/kubernetes/issues/28462#issuecomment-250251147

[2016-09-28 18:14] saad-ali commented on #33423
Same issue as https://github.com/kubernetes/kubernetes/issues/28462#issuecomment-250251147

[2016-09-28 18:14] pwittrock commented on #33588
We should probably exit non-0 and have an error message if we see something in the file that we don't expect.  E.g. is neither a separator nor parseable yaml.

[2016-09-28 18:17] dcbw opened #33676 "Crash in namespace controller when quickly adding/deleting namespaces"
See https://bugzilla.redhat.com/show_bug.cgi?id=1379316 for full dumps.

[code]

The line number of namespace_controller_utils.go:383 corresponds to:

[code]

[2016-09-28 18:18] pweil- commented on #33508
not specific to 1.4

[2016-09-28 18:20] dcbw commented on #33676
From a quick look, perhaps the namespace object returned from retryOnConflictError() just above no longer has a DeletionTimestamp and thus "*namespace.DeletionTimestamp" triggers the panic?

[2016-09-28 18:27] danielschonfeld commented on #33618
@errordeveloper thank you!! i'll go tinker with it and report back if I run into trouble

[2016-09-28 18:35] derekwaynecarr commented on #33676
Thanks for the report, I will investigate.

[2016-09-28 18:35] luxas commented on #33618
@danielschonfeld The kubelet flag you should set is `--hostname-override`

[2016-09-28 18:35] luxas commented on #33618
@lukemarsden We should document this as well

[2016-09-28 18:36] derekwaynecarr commented on #33048
This decision has ramifications for eviction, and the metrics/monitoring pipeline generally if I understand the scope of the issue (I may not).

Is this issue saying that the CRI is responsible for reporting per container usage stats?  For things like disk (imagefs/rootfs usage and inode consumption) as well as cpu/memory?  The `kubelet` stats summary endpoint uses `cAdvisor` exclusively for this

[2016-09-28 18:37] danielschonfeld commented on #33618
@luxas why is it `--hostname-override` and not `--address` ?

[2016-09-28 18:40] luxas commented on #33618
It's a kubelet behaviour, not a kubeadm one.
The default name of the kubelet equals the hostname, and the kubelet ip address defaults to the ip of the interface that's the default gateway.

You can override both of these values by specifying `--hostname-override` to the kubelet.

[2016-09-28 18:45] saad-ali commented on #33401
The `PersistentVolumes...` tests are [known to be flaky](https://k8s-testgrid.appspot.com/google-gke#gke-flaky&include-filter-by-regex=PersistentVolumes) but they are [consistently failing](https://k8s-testgrid.appspot.com/google-gke#gci-gke-flaky&include-filter-by-regex=PersistentVolumes) on GCI (see https://github.com/kubernetes/kubernetes/issues/33447) because NFS is not configured properly.

[2016-09-28 18:47] ye opened #33679 "Better YAML validation error message for kubectl apply -f to indicate why it is invalid"
**FEATURE REQUEST**

Scratching my head on this error message today for quite a while now:

[code]

The YAML file look like this:

[code]

The error message is quite raw that I have no clue what and why the yaml file was invalid.
A few days later, as it turned out, it was due to the existing job with the same name that
made `kubectl apply` kept failing.

What made it even harder to interpret was t

[2016-09-28 18:51] danielschonfeld commented on #33618
oh i see, where address would only control what it listens to but not change the node IP?

[2016-09-28 19:02] irfanjs commented on #11355
sorry to say but i dont have /var/log/kube-controller-manager.log file

i ran the command : `journalctl -u -f kube-controller-manager` and it gives the same error "No API ...."

[2016-09-28 19:06] zachaller opened #33680 "kubeadm - kube-controller missing certs"
**Kubernetes version** (use `kubectl version`): v1.4

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`):4.4.0-36-generic #55-Ubuntu SMP x86_64 GNU/Linux
- **Install tools**: kubeadm
- **Others**:

**What happened**:
kubeadm when setting up kube-controller did not pass in ssl certs and so when it we

[2016-09-28 19:08] piosz commented on #17183
Let's sync f2f

[2016-09-28 19:08] luxas commented on #33618
Correct.
Address (127.0.0.1 or 0.0.0.0) would only control if the kubelet exposes `10250` (which it should)

[2016-09-28 19:13] luxas commented on #33671
@kubernetes/sig-cluster-lifecycle

[2016-09-28 19:13] luxas commented on #33671
@Mandy27 Please give more information about the environment

[2016-09-28 19:15] mkulke commented on #22770
i ran into this issue with homebrewn clusters on AWS & OpenStack and had to resort to workarounds. eventually i wrote a patch which untangles `NodeName` from the node resolver in `logs/exec/port-forward`: #25532

[2016-09-28 19:18] deads2k opened #33682 "`kubernetes-verify-master` broken"
verify-master is failing: http://ci-test.k8s.io/kubernetes-verify-master/4456/ probably due to https://github.com/kubernetes/kubernetes/pull/33658 not removing old godeps.

The `Jenkins verification Build succeeded.` did succeed in that pull.

@smarterclayton I'm having trouble sorting myself out. :(

[2016-09-28 19:30] Mandy27 commented on #33671
I am setting up 3 virtual machines using Ubuntu 16.04-server-amd64 with 4GB RAM, Kubernetes 1.4.0, and weave-kube:1.7.0

[2016-09-28 19:32] deads2k commented on #33682
Opened https://github.com/kubernetes/kubernetes/pull/33683

[2016-09-28 19:47] colemickens opened #33685 "Tab completion doesn't work correctly when using `-n` instead of `--namespace`"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): Whatever is in Xenial right now
- **Install tools**: Kubernetes-Anywhere

**What happened**:

I typed: `kubectl logs -n kube-system [tab]` and got non-kube-system pods suggested.

**What yo

[2016-09-28 19:52] #33439 closed

[2016-09-28 19:53] pwittrock commented on #33439
@vasu1124 Do you want to create a separate issue for your suggestion?

[2016-09-28 19:54] wojtek-t commented on #33653
@xiang90 - that would definitely be useful

[2016-09-28 19:54] wojtek-t commented on #33653
To start with, we can probably start with updating node statuses

[2016-09-28 19:55] pwittrock commented on #33503
This is not urgent.

[2016-09-28 19:57] pwittrock commented on #33457
-o wide should just dump what we get from the api-server right?  What changes should be in kubectl?

[2016-09-28 19:59] pwittrock commented on #33314
@ixdy Does this fall under test-infra?

[2016-09-28 20:01] bprashanth commented on #33457
-o yaml dumps apiserver outout, -o wide appends useful information at the cost of overflowing 80 chars. I'm asking that -o wide does for nodes what it already does for pods.

I currently have such a function in my bash rc:
[code]
I use it pretty often. That's a signal that more people are probably doing the same.

[2016-09-28 20:02] hgfischer commented on #33618
Hey, `--api-advertise-addresses` works like a charm. Thanks guys!

[2016-09-28 20:03] pwittrock commented on #33220
@oglu If you are looking for support, try the kubernetes slack channel or stack overflow.

[2016-09-28 20:03] ixdy commented on #33314
kindof? I think we've mostly handed over ownership of everything under test/.

@jayunit100 I'm going to assign this back to you, since it looks like a follow-on to work you're doing?

[2016-09-28 20:03] #33220 closed

[2016-09-28 20:05] pwittrock commented on #33070
Setting low priority since there is a fix underway

[2016-09-28 20:16] eparis commented on #33682
[code]

[2016-09-28 20:19] timothysc commented on #25319
@rrati is starting on list above for 1.5

[2016-09-28 20:22] a-robinson opened #33688 "PetSet instance gets added to DNS before it's ready"
I've seen this happen both in a kube-up'ed cluster on GCE at 1.3.7 and on a GKE alpha cluster at 1.4.0

**How to reproduce it** (as minimally and precisely as possible):

Run `kubectl create -f examples/cockroachdb/cockroachdb-petset.yaml` and wait for the containers to start up.

**What happened**:

cockroachdb-0, cockroachdb-1, and cockroachdb-2 all started up fine. cockroachdb-3 has gotten stuc

[2016-09-28 20:28] hongchaodeng commented on #33653
@wojtek-t
Mind sharing steps and config to re-run it?

[2016-09-28 20:41] zhang8473 opened #33689 "kubeadm blocks waiting for 'control plane' in Ubuntu Wily"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-09-28 20:48] bprashanth commented on #33688
This is by design, if you specify `tolerate-unready-endpoints` then you'll get endpoints before ready (eg: https://github.com/kubernetes/kubernetes/blob/master/examples/cockroachdb/cockroachdb-petset.yaml#L28). This is so you can actually hang till you see yourself in DNS, and prevent the next member of the set from getting created till you pass readiness (some pets do this through the peer finder

[2016-09-28 20:50] gmarek commented on #33653
@hongchaodeng - it was this config: https://github.com/kubernetes/test-infra/pull/689

[2016-09-28 21:01] vishh commented on #33048
+1 for punting on this feature for v1.5. If evictions and monitoring
doesn't work in v1.5 that might be OK I hope.

On Wed, Sep 28, 2016 at 11:37 AM, Derek Carr <notifications@github.com>
wrote:

[2016-09-28 21:20] #33646 closed

[2016-09-28 21:24] timstclair opened #33692 "Add a flaky node e2e test suite / jenkins job"
Node tests tagged with `[Flaky]` aren't currently being run. We should add a flaky node test jenkins job that runs tests with the flaky tag.

[2016-09-28 21:24] timstclair commented on #33692
@Random-Liu Please assign back to me if you won't be able to get to this in the next 1-2 weeks.

[2016-09-28 21:25] timstclair commented on #33692
FYI, flaky test introduced in https://github.com/kubernetes/kubernetes/pull/29479

[2016-09-28 21:25] mikedanese commented on #33618
@hgfischer reopened on accident?

[2016-09-28 21:25] #33618 closed

[2016-09-28 21:35] atomantic commented on #30471
@fgrzadkowski The pod status was "OutOfCPU" and for some reason was blocking the hpa from calculating properly, even though the pod was removed from the default `kubectl get pods` list (had to add `-a` to see it there). Once I deleted the pod, the HPA resumed correct behavior and CPU calculation.

[2016-09-28 21:36] smarterclayton commented on #33588
We should add a test that uses a YAML document prefix rule and verify that
it correctly passes / fails when YAML goes to parse.  From reading the spec
it appears that anything that is invalid when \n--- is present is also
invalid in a single document context, and vice versa.

On Wed, Sep 28, 2016 at 2:15 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-09-28 21:37] timothysc opened #33693 "bulk service or endpoint operations are computationally expsensive"
**Problem Statement:**
During controlled standup and teardown of services or endpoints, the nodes can enter into computationally expensive loop where iptables refreshes eat a substantial amount of cpu.

**Use Case:**
For benchmarking and performance analysis we use a tool which loads the cluster in an aggressive fashion leveraging several concurrent submissions of well defined templates.  During t

[2016-09-28 21:41] Random-Liu commented on #33692
Will do.

[2016-09-28 21:46] bprashanth commented on #33674
your nginx pods might be added to the service before they're ready to serve traffic, try defining a readiness probe and see if that helps

[2016-09-28 21:48] nikhiljindal commented on #33622
What I meant was that `/apis/newgroup/newversion/services` will return the result of fetching `/api/v1/services` from all underlying clusters. We can also support `/apis/newgroup/newversion/clusters/mycluster1/services` to return services from mycluster1 only. With a different group version it is easier for admins to disable it.

Re: proxying it: Yes federation-apiserver can proxy the request to u

[2016-09-28 21:49] nikhiljindal commented on #33622
To clarify, its not just proxying to an underlying cluster. It also includes combining the results from multiple underlying clusters.

[2016-09-28 21:51] thockin commented on #33693
On Wed, Sep 28, 2016 at 2:38 PM, Timothy St. Clair
<notifications@github.com> wrote:

I have tried and failed to reproduce this

https://github.com/kubernetes/kubernetes/issues/31631

[2016-09-28 21:52] timstclair commented on #27063
I think this is fixed?

[2016-09-28 22:01] thockin opened #33697 "Data race in federated ingress test"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33274/kubernetes-pull-test-unit-integration/46921/

http://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/33274/kubernetes-pull-test-unit-integration/46921/artifacts/junit_f7ab44f8e19dd01c66db1cf5acf420c6efec1315_20160928-052914.stdout

[2016-09-28 22:13] yifan-gu commented on #33048
@yujuhong @dchen1107 @derekwaynecarr @vishh @euank

Sorry I didn't speak out during hangout since I need to wrap up my mind a little bit.

I am OK with de-prioritize the discussion until after we got other core CRI APIs stable. But honestly I don't think adding GetImageFs() in the CRI will affect today's monitoring and disk eviction. The possible paths forward I could imagine are:

- We decide tha

[2016-09-28 22:14] #33459 closed

[2016-09-28 22:17] MrHohn opened #33698 "Migrating addons from RCs to Deployments."
Recently we were thinking about running all addons in deployments instead of replication controllers. The main motivation is to support rolling update. A few previous discussion in #32018. As mentioned before, migrating addons from RC to Deployment would affect multiple pieces of work and it is no well explicated yet. So I think it is worth to have a discussion here.

Assumptions:
- All addons wil

[2016-09-28 22:18] MrHohn commented on #33698
cc @matchstick

[2016-09-28 22:19] rmmh commented on #33697
This seems to be failing about 2% of the time, here's a partial list:

[43326](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31600/kubernetes-pull-test-unit-integration/43326) [43493](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31600/kubernetes-pull-test-unit-integration/43493) [43648](https://k8s-gubernator.appspot.com/build/kubernetes-jenki

[2016-09-28 22:28] timothysc commented on #33693
We can reproduce this every time using our test tools when loading 5k projects across 500 nodes using template loader (https://github.com/openshift/svt/blob/master/openshift_scalability/config/pyconfigMasterVirtScalePause.yaml) at a rate of 10 concurrent loads at a time.

[2016-09-28 22:38] smarterclayton commented on #33693
Is there a way we can get the cpuprofile from one of these periods?

On Wed, Sep 28, 2016 at 6:29 PM, Timothy St. Clair <notifications@github.com

[2016-09-28 22:38] smarterclayton commented on #33693
Of the node

On Wed, Sep 28, 2016 at 6:38 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-09-28 22:44] TamalSaha commented on #33470
@thockin, this is a great question. I am not familiar with GlusterFS codebase. So, I am going to try to answer based on my research.

First, reverse DNS is mentioned as an essential for prod setups in GlusterFS docs. See "Other Notes" https://gluster.readthedocs.io/en/latest/Install-Guide/Common_criteria/#getting-started

In case you are unfamiliar with GlusterFs setup process, the way it works is

[2016-09-28 22:48] smarterclayton commented on #33470
@wattsteve what's the heketi configuration going to do here w.r.t. gluster?  Is it still depending on host network and host name being stable?

[2016-09-28 22:48] smarterclayton commented on #33470
I'll bring the gluster guys in to give us an answer

[2016-09-28 22:49] timothysc commented on #33693
yes, we can collect it during the run.

/cc @mffiedler

[2016-09-28 22:55] yujuhong commented on #33048
These are what I gathered from today's discussion:
   - Design of the monitoring pipeline will be finalized in v1.5. Based on the decision, we can derive the required metrics from the runtime and tackle them altogether.
   - Even though we could add imagefs stats in CRI and iterate later, it's preferred to punt this to after v1.5 so people have more time and bandwidth to review.

For v1.5, we shou

[2016-09-28 22:57] janetkuo commented on #29315
Root cause #28612 is solved, closing

[2016-09-28 22:57] #29315 closed

[2016-09-28 23:03] janetkuo commented on #29050
Couldn't delete ns, close as dup of #33598

[2016-09-28 23:03] #29050 closed

[2016-09-28 23:03] janetkuo commented on #33598
@caesarxuchao couldn't delete ns is CSI related

[2016-09-28 23:03] janetkuo commented on #30653
"Couldn't delete ns", close as dup of #33598

[2016-09-28 23:03] #30653 closed

[2016-09-28 23:11] TamalSaha commented on #33470
@smarterclayton, just an fyi, I have not tried heketi. I very recently found out that heketi is needed for dynamic provisioning.

[2016-09-28 23:14] bprashanth commented on #33698
We should probably send a PSA saying all addons will get clobbered. Today, i can eg: change the image on an addon and the addon manager won't even notice. It won't notice till I change the name. With the new `apply` we're enforcing that master manifest is the same on the nodes. Users with custom changes will lose them.

This was already the case in some ways, because as a user if I modify `image:

[2016-09-28 23:15] Random-Liu commented on #29346
Just copied comment from https://github.com/kubernetes/kubernetes/pull/33694, may be useful here.

currently, we have at least 2 signals to address this issue already:
* Node Status (including node system info)
* Kubelet Config (the dynamic configuration effort)

[2016-09-28 23:18] mikedanese commented on #33698
This looks great. I was planning on finishing the WIP once #32599 gets reviewed.

We don't include a replicas field in our configs. If we don't include replicas and an external system (e.g. pod autoscaler) changes replicas from the default to 10x the default, the next config application will not modify the replicas field. That's the three way merge patch. cc @bgrant0607

[2016-09-28 23:21] mikedanese commented on #33698
@bprashanth didn't finish reading your comment. I expect you already new that. :)

[2016-09-28 23:22] mikedanese commented on #33698
We can have a process that runs on initial deployment and not on master reboot or upgrade that scales the deployment appropriately?

[2016-09-28 23:23] k8s-merge-robot opened #33702 "IsUp {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress/212/

Failed: IsUp {e2e.go}

[code]

[2016-09-28 23:25] jingxu97 commented on #29324
@svanderbijl, could you also please share some details on how to shut down the cluster node? Are you just stopping (pausing) the node, and restart? Or is this a complete hard shun down (terminate) and a new node is created?

[2016-09-28 23:40] smarterclayton commented on #33622
Ok.  My concern is primarily security in the short term - once we introduce
this clients will always expect it, so we can't go back.

I assume we'll deal with mismatched server versions by omitting partial
results - will we default the objects or let the underlying API servers
provide their own defaults?

Is this proxy going to fan out in parallel?  How long will we wait for dead
clusters?

What a

[2016-09-28 23:46] AdoHe commented on #33588
@smarterclayton @pwittrock I have rechecked the code, and I have located the root cause, since I am outing for a training these days, I will fix this right now after the training on Friday.

[2016-09-28 23:47] #33113 closed

[2016-09-28 23:48] AdoHe commented on #33588
I am quite sorry about the regression. :(

[2016-09-28 23:54] bprashanth commented on #33698
We need to do that before creating the deployment or it'll start knocking pods off right? Or do you mean just mirror the rc.replicas into deployment.replicas before creating the first deployment, and apply without .replicas thereafter?

[2016-09-28 23:55] dims commented on #33682
Looks like https://github.com/kubernetes/kubernetes/pull/33683 merged. we can close this now?

[2016-09-28 23:57] MrHohn commented on #33698
Good point. The new `apply` pattern enforces us to remove the `replica` field in manifest. Otherwise not only autoscaling will fail, user would also fail to scale any addon manually.

[2016-09-29 00:04] k8s-merge-robot opened #33703 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}"
Duplicate of #33874

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot-release-1.4/318/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]

[2016-09-29 00:08] MrHohn commented on #33698
What about define an annotation in manifest  to indicate the desired initial replica number and let the addon-manager handle it (before the while apply loop)?

[2016-09-29 00:24] quinton-hoole commented on #33622
@nikhiljindal I believe that we've already agreed with SIG-API and others that your second option is the way to go (i.e. no new group version, but cluster selectors instead).

@smarterclayton Here are my proposed answers to your questions:

results - will we default the objects or let the underlying API servers
provide their own defaults?

Don't know for sure. I'm inclined towards the latter, but

[2016-09-29 00:26] AdoHe commented on #30899
@k82cn thanks all the same.

[2016-09-29 00:26] AdoHe commented on #30899
@pwittrock please assign this to me, I will fix this after my personal training.

[2016-09-29 00:35] smarterclayton commented on #33622
If we log in the underlying cluster we lose the actor - I'm slightly
concerned by the impersonation going on which is why I asked.  Only the
federated server today knows which user started the fanout, because when we
call through to the underlying cluster we aren't impersonating (via
impersonation) but actually pretending to be the user (with their
credentials).  In the audit log use cases knowing

[2016-09-29 01:17] grosser opened #33707 "Feature: allow configuring files in volumes without configmaps"
atm I need to use a configmap to add files to my fake volumes, for example:

[code]

this is a bit awkward since the reader has to jump back and forth, but also adds a separate model that needs to be managed / makes the deployment not be atomic (revert without updating configmap -> boom) ... so ideally it be possible to do this configuration inline:

[code]

[2016-09-29 01:34] bgrant0607 commented on #33698
We should test that the replicas count isn't clobbered. I don't think our apply tests are fantastic.

More generally, SIG Apps has been discussing a kubectl apply bug fixit in 1.5. SIG cluster lifecycle probably has an interest in helping. :-)

cc @smarterclayton re. an apply use case

[2016-09-29 01:37] smarterclayton commented on #33698
Yes!

On Sep 28, 2016, at 9:34 PM, Brian Grant <notifications@github.com> wrote:

We should test that the replicas count isn't clobbered. I don't think our
apply tests are fantastic.

More generally, SIG Apps has been discussing a kubectl apply bug fixit in
1.5. SIG cluster lifecycle probably has an interest in helping. :-)

cc @smarterclayton <https://github.com/smarterclayton> re. an apply use c

[2016-09-29 02:00] dearplain opened #33710 "Create a simple pod but failed，why?"
[code]

[code]

I'm using gcr.io/google_containers/hyperkube-amd64:v1.4.0-alpha.0

docker version
[code]

[2016-09-29 02:04] JustinAzoff commented on #33671
Hi!

I ran into the same thing yesterday.  I was able to fix it but I'm not sure which change specifically fixed things.

kube-dns was failing to start because cni errors because weave was not installed or running on the master node.

The first thing I noticed is that https://github.com/weaveworks/weave-kube/releases/download/latest_release/weave-daemonset.yaml has a block that specifies that weav

[2016-09-29 02:07] praoreo commented on #5607
@proppy
Hi,

What is the syntax to mention device information in yaml/json file? I tried giving the below in .json file, but got "found invalid field device for v1.PodSpec" error.  I am using 1.3.6 kubernetes version.

[code]

[2016-09-29 02:21] k8s-merge-robot opened #33711 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6275/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374 #31427 #31433 #31589 #31981 #32257

[2016-09-29 02:22] irfanjs commented on #11355
please suggest.
regards

[2016-09-29 02:55] IanLewis commented on #30217
It looks like this has been fixed here: https://github.com/kubernetes/kubernetes.github.io/commit/caa3d8c8e38b506b48d97475a19707c9eb123e28

[2016-09-29 02:55] #30217 closed

[2016-09-29 03:12] dearplain commented on #33710
run kubelet with parameters below, it seem ok:

docker run -d \
    --net=host \
	--name kubelet \
	--volume=/:/rootfs:ro \
	--volume=/sys:/sys:ro \
	--volume=/var/lib/docker/:/var/lib/docker:rw \
	--volume=/var/lib/kubelet/:/var/lib/kubelet:rw \
	--volume=/var/run:/var/run:rw \
	--pid=host \
	--privileged=true \
	gcr.io/google_containers/hyperkube-amd64:v1.4.0-alpha.0 \
	/hyperkube kubelet \

[2016-09-29 03:12] #33710 closed

[2016-09-29 03:19] hongshibao commented on #30471
@atomantic I observed a similar issue with yours in my testing environment. There were some pending pods caused by insufficient resources to allocate. What I observed was that HPA reported high CPU usage and thus decided to scale up. The CPU usage reported was increasing and finally the expected replicas to be scaled up reached the max value.

[2016-09-29 03:42] k8s-merge-robot opened #33712 "GCI doesn't work with "TEST_CLUSTER_API_CONTENT_TYPE="--kube-api-content-type=application/vnd.kubernetes.protobuf""
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1444/

Run so broken it didn't make JUnit output!

[2016-09-29 03:58] vishh commented on #33447
Nope. Which component depends on `mount.nfs`? Is it the kubelet or the nfs
server? Why is that utility needed?

On Tue, Sep 27, 2016 at 7:04 AM, Huamin Chen <notifications@github.com>
wrote:

[2016-09-29 04:04] apelisse commented on #3120
/cc @spxtr how far are we from having that?

[2016-09-29 04:08] apelisse commented on #27580
/cc @lavalamp Believe it or not, but I'll try to get this done!

[2016-09-29 04:10] gowrisankar22 opened #33714 "no API token found for service account default/default, retry after the token is automatically created and added to the service account"
Hi,
I am getting below issue when i am creating a pod ,
link which i am following:
server which i am using is rethat7.2
http://severalnines.com/blog/installing-kubernetes-cluster-minions-centos7-manage-pods-services

Error from server: error when creating "mysql.yaml": pods "mysql" is forbidden: no API token found for service account default/default, retry after the token is automatically created

[2016-09-29 04:23] thockin commented on #33698
Prashanth hit the same thing I was going to hit.  We CAN NOT have big
customers who have scaled DNS to 200 replicas suddenly get 1 replica.

On Wed, Sep 28, 2016 at 6:37 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-29 04:24] #33692 closed

[2016-09-29 04:33] thockin commented on #33470
I don't have a problem with reverse DNS for named headless (this specific case).  We just can't do reverse lookups for pods in general, unless we watch all pods...

[2016-09-29 04:38] mikedanese opened #33715 "kubeadm: create and migrate api/types.go to a componentconfig api"
@kubernetes/sig-cluster-lifecycle

[2016-09-29 04:39] mikedanese opened #33716 "https://github.com/kubernetes/kubernetes/issues/33715"

[2016-09-29 04:39] #33716 closed

[2016-09-29 04:40] AdoHe commented on #33253
I prefer #28949 too.

[2016-09-29 04:47] mikedanese commented on #33698
So far, this has been the case for every addon upgrade. If we follow this plan without any attempt to mitigate in (1.4->1.5) transition, this will no longer be an issue after the 1.5 upgrade. I agree it totally sucks but do we need to invest effort in the transition? If so, how much

[2016-09-29 04:54] justinsb commented on #22770
We should be using the `nodeutil.GetNodeHostIP`, not the NodeName.  It is a long standing bug.  I'll try to put together a PR.

[2016-09-29 04:59] spacepluk commented on #29324
I've seen this in my cluster a few times when spot instances come back
after being terminated.

[2016-09-29 05:15] thockin opened #33717 "Remove deprecated alpha for volume provisioning, if we're happy with Beta"

[2016-09-29 05:21] thockin commented on #33698
You know what I am going to say, why do you make me say it out loud?

I know it's sort of throw-away work, but we CAN NOT punch our users in the
face just because it is easier.

On Wed, Sep 28, 2016 at 9:47 PM, Mike Danese <notifications@github.com>
wrote:

[2016-09-29 05:23] rhuss commented on #25961
One question which comes to mind is, if you change the ip lookup of a service globally in a pod, how can a LB sidecar container then can find the *real* service ? hmm, probably by doing an DNS lookup explicitly . But what is if the original app does a DNS lookup itself e.g. for finding out the port from the SRV record ?

[2016-09-29 05:28] rhuss commented on #25961
Could the usage of the `HOSTALIASES` environment variable a solution ? See e.g. this [SO](http://unix.stackexchange.com/a/56288)

[2016-09-29 05:35] jstrachan commented on #25961
@rhuss yeah the client side load balancer would be using DNS SRV records or watching the Endpoints in kubernetes (i.e. talking directly to the pods rather than the service DNS name).

But yeah, I guess it'd be nice to configure the DNS names for services per container (rather than globally for all containers in the pod). e.g. container1 might want client side load balancing for services A and B, c

[2016-09-29 05:36] #33627 closed

[2016-09-29 05:43] Miyurz commented on #33544
@errordeveloper It doesn't work even after AppArmour is disabled/uninstalled on Ubuntu 14.04.
Check the log below.

[code]

[2016-09-29 05:45] argusua commented on #29324
Hi, @jingxu97 . I've added logs of kube-controller-manager. This log from point when master node was updated to v1.4.0 and then update of minions starts. I replace nodes by marking them as Unhealthy in aws autoscaling group one by one.
[kube-controller-manager.log.2.gz](https://github.com/kubernetes/kubernetes/files/499857/kube-controller-manager.log.2.gz)

[2016-09-29 05:45] jstrachan commented on #25961
@rhuss I didn't know about `HOSTALIASES` - thats worth a try!

[2016-09-29 05:48] mkumatag opened #33719 "Enable ppc64le build for 1.5.x release"
This issue is to track enable back the kubernetes builds for ppc64le platform. I have created this issue based on https://github.com/kubernetes/kubernetes/pull/33540#issuecomment-250253393 discussion with @luxas.

[2016-09-29 05:48] mkumatag commented on #33719
@Pensu

[2016-09-29 05:58] k8s-merge-robot opened #33721 "kubernetes-e2e-gci-gke-ingress-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress-release-1.4/487/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] shoud create ingress with given stati

[2016-09-29 06:06] roberthbailey commented on #33617
@cjcullen would be a good person to dig into this.

[2016-09-29 06:08] k8s-merge-robot opened #33722 "DumpClusterLogs {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress/225/

Failed: DumpClusterLogs {e2e.go}

[code]

[2016-09-29 06:08] k8s-merge-robot opened #33723 "kubernetes-kubemark-500-gce: build still running"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6281/

Run so broken it didn't make JUnit output!

[2016-09-29 06:09] thockin commented on #33693
@matchstick

On Wed, Sep 28, 2016 at 3:49 PM, Timothy St. Clair <notifications@github.com

[2016-09-29 06:15] wojtek-t commented on #33653
@xiang90 @hongchaodeng - doesn't https://github.com/coreos/etcd/pull/5880 implement what we actually need here? Am I missing something?

[2016-09-29 06:17] errordeveloper commented on #33544
Sure, so this is probably a completely different problem. Could you file
another issue with more details, or jump on Slack and we will try to figure
it out together. Thanks!

On Thu, 29 Sep 2016, 06:43 Miyurz, <notifications@github.com> wrote:

[2016-09-29 06:21] k8s-merge-robot opened #33725 "[k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/458/

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28416 #31055 #33627

[2016-09-29 06:23] ixdy opened #33726 "Switch all https://storage.googleapis.com/kubernetes-release/release URLs to https://dl.k8s.io"
We have a new vanity url, http://dl.k8s.io/, which redirects to the GCS release bucket - e.g. http://dl.k8s.io/v1.4.0/kubernetes.tar.gz.

Right now, the https endpoint doesn't work, since dl.k8s.io isn't in the list of domains on the certificate. Once it works, we should switch all references over to the nicer vanity URL.

x-ref https://github.com/kubernetes/k8s.io/pull/15

[2016-09-29 06:36] kzwang opened #33727 "kubectl drain doesn't delete pods created by PetSet"
**Kubernetes version** (use `kubectl version`):
1.4.0

**What happened**:
When use `kubectl drain node`, it shows error `Unknown controller kind "PetSet":`

**What you expected to happen**:
kubectl should remove all pods on that node created by PetSet

[2016-09-29 06:41] bgrant0607 commented on #15894
TPR support: #29542

[2016-09-29 06:48] xiang90 commented on #33653
@wojtek-t It is in 3.1, not 3.0. We probably can back port it for k8s if needed. I think @hongchaodeng will help to to figure out the root cause first.

[2016-09-29 07:01] mrook commented on #29324
@jingxu97 I'll answer for @svanderbijl ; we terminated nodes and let them be replaced (by the ASG) with new nodes. This was on a cluster with  two worker nodes.

[2016-09-29 07:02] wojtek-t commented on #33653
@xiang90 - it would be good if he could confirm, but I'm 90% sure that it's because of that. So backporting it would be super useful.

[2016-09-29 07:05] Miyurz opened #33729 "kubeadm init hangs on ubuntu 16.04"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
created API client, waiting for the control plane to become ready
## Related to or a sim

[2016-09-29 07:11] krmayankk commented on #32759
@lavalamp does this belong in the generic api server cleanup category ?

[2016-09-29 07:27] reAsOn2010 commented on #33470
@TamalSaha

I work with @harryge00 to eventually make our openTSDB cluster up and running in kubernetes with bare pod and headless service (without petset); and DNS is one of the major hiccups in the process. openTSDB cluster involves Zookeeper cluster, Hadoop cluster, Hbase Cluster and openTSDB itself. Particularly, Hbase relies on reverse DNS, see https://hbase.apache.org/book.html#trouble.rs.ru

[2016-09-29 07:35] fejta commented on #3120
IMO we already have the data: https://k8s-testgrid.appspot.com/google-unit#build&width=20&graph-metrics=test-duration-minutes

[2016-09-29 07:42] k8s-merge-robot opened #33730 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: http [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/261/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: http [Slow] {Kubernetes e2e suite}

[code]

[2016-09-29 07:49] #33231 closed

[2016-09-29 07:53] jsafrane commented on #33447
`mount.nfs` is needed by kubelet on all nodes.

nfs server needs nfs kernel modules and from dmesg it seems they are there.

[2016-09-29 07:57] errordeveloper commented on #33618
@luxas yes, we should make sure to make it easy to find the answer to this. Would like to add this to the docs? Also, I think we should ideally document it using another drop-in, it's more user-friendly and error-prone, as you don't need to use sed and or anything.

[2016-09-29 08:02] luxas commented on #33618
I have a lot (too much) to do right now, so I'd appreciate if someone else would add it to the docs :)
Regarding dropins; it's quite a hard thing to solve in a right way. Maybe you could add that to the next week's agenda?

[2016-09-29 08:03] errordeveloper commented on #33618
@luxas I mean we don't have to solve it as such, just document it using a drop-in and not sed or anything hacky.

[2016-09-29 08:04] errordeveloper commented on #33618
I guess that I should just document it myself.

[2016-09-29 08:04] errordeveloper commented on #33641
Just to illustrate this, the problem is about instance IDs vs hostnames.

[2016-09-29 08:06] yu-yang2 opened #33732 "pod constantly create new contaniers"
I running kubernetes cluster in containers use `hyperkube-amd64:v1.2.0`, my docker version is 1.10.3.

when I run k8s cluster using
`docker run \ --restart=always \ --name=kubelet \ --volume=/:/rootfs:ro \ --volume=/sys:/sys:ro \ --volume=/var/lib/docker/:/var/lib/docker:rw \ --volume=/var/lib/kubelet/:/var/lib/kubelet:rw,shared \ --volume=/var/run:/var/run:rw \ --net=host \ --pid=host \ --privile

[2016-09-29 08:07] kevin-wangzefeng commented on #33198
IMO, topologyKey mismatch should results the same with labelselector mismatch -- they are both "(anti-)affinity reqiurements" mismatch. That means (assume that each node belongs to different topology zone, and there is only one pod running in each topology zone), expectations should follow:

node| Pods | topologyKey match | labelselector match | Score
--- | --- | --- | --- | ---
nodeA | podA | Yes

[2016-09-29 08:25] oz123 commented on #33729
I can confirm this issue. Using Ubuntu 16.04 with the latest kubadm (from  `http://apt.kubernetes.io/ kubernetes-xenial main`), I get the same behavior.

[2016-09-29 08:28] jszczepkowski commented on #30471
There are two issues here:
1. HPA is not counting CPU utilization correctly when some of pods are not running: the fix is in progress (will include  #33529).
2. HPA is not working if some of running pods does not report resource utilization: fix described in https://github.com/kubernetes/kubernetes/issues/30471#issuecomment-249879455.

[2016-09-29 09:08] errordeveloper commented on #33618
Just for the record, before I open the docs PR, this is what I'd recommend:
[code]

[2016-09-29 09:15] Miyurz commented on #33729
@oz123 I was asked by @errordeveloper to try https://atlas.hashicorp.com/ubuntu/boxes/xenial64 but yes even thats not helping . Can you check if it works for you ?

[2016-09-29 09:25] jszczepkowski commented on #30471
Fixed by #33735.

[2016-09-29 09:27] oz123 commented on #33729
@Miyurz I have had other troubles with Ubuntu boxes, and I'd like to refer you to this:
https://github.com/mitchellh/vagrant/issues/7155#issuecomment-228568200. This is why I use bento boxes.

[2016-09-29 09:43] k8s-merge-robot opened #33737 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/12632/

Run so broken it didn't make JUnit output!

[2016-09-29 09:43] k8s-merge-robot opened #33738 "kubernetes-e2e-gci-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-examples/256/

Run so broken it didn't make JUnit output!

[2016-09-29 09:43] k8s-merge-robot opened #33739 "kubernetes-e2e-gci-gce-scalability: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability/204/

Run so broken it didn't make JUnit output!

[2016-09-29 09:43] k8s-merge-robot opened #33740 "kubernetes-e2e-gci-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/258/

Run so broken it didn't make JUnit output!

[2016-09-29 09:43] k8s-merge-robot opened #33741 "kubernetes-e2e-gci-gce-slow-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow-release-1.4/251/

Run so broken it didn't make JUnit output!

[2016-09-29 09:43] k8s-merge-robot opened #33742 "kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial-release-1.4/91/

Run so broken it didn't make JUnit output!

[2016-09-29 09:43] ddysher commented on #33470
Changing kubedns to handle reverse lookup for just named headless service isn't too hard, two major points running on top of my head:

- maintaining headless service pods, especially when deleting pods can introduce some performance penalty if not handled properly
- at lease for the hbase case, FQDN should be available for pod while enabling PTR; so changing kubedns along won't solve the problem

[2016-09-29 10:13] k8s-merge-robot opened #33743 "kubernetes-e2e-gci-gce-serial-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial-release-1.4/59/

Multiple broken tests:

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable [replication controller] recreates pods scheduled on the unreachable node AND allows scheduling of pods on a node after it rejoins the cluster {Kubernetes e2e suite}

[code]
Issue

[2016-09-29 10:25] paweloczadly commented on #33671
I have the same issue as @Mandy27 . My environment: AWS, 3 instances, Ubuntu 16.04, 4CPU 8GB RAM

[2016-09-29 10:56] soltysh commented on #28694
Isn't this example from `kubectl run` sufficient?
[code]
This runs a perl image calculating pi number to 2000 places and prints it. There's more detailed info in the [docs](http://kubernetes.io/docs/user-guide/jobs/#running-an-example-job) if needed.

[2016-09-29 11:01] hpejustin commented on #33245
@wangweihong I also got this problem when i delete RS. I agree with @janetkuo, the reason maybe timeout for waiting the conditation of pod. I do not think this has any thing to do with Daemonset. Because not only Daemonset met this problem without clear occasion. I think this is a service side problem, maybe the process of apiserver interact with etcd.

[2016-09-29 11:19] errordeveloper commented on #33729
I've spoken to @Miyurz on Slack, and it appears that it just too very long for master to come up, which may be due to slow connectivity, as at this point in time it has to download a few images from gcr.io, and we don't indicate it to the use. The solution is to add a progress bar, which we have already discussed anyway.

[2016-09-29 11:20] lukemarsden commented on #33671
cc @bboreham

[2016-09-29 11:22] errordeveloper opened #33744 "kubeadm should indicate progress"
It may take quite long for API server to come up, as this involves pulling Docker images in the background.

We have already discussed adding a progress bar, and it'd would be great. Also, we should consider pulling directly from kubeadm, so we can provide user with a real progress bar. Also, we could consider adding `kubeadm util pull-images` and allow alternative registries, as it would help use

[2016-09-29 11:25] JorritSalverda opened #33745 "Docker build fails with 'could not find bridge docker0'"
**BUG REPORT **

When trying to run `docker build` inside a container with docker mounted into it the build starts of fine, but fails to create and endpoint on network bridge docker0 as soon as the build process hits the first RUN command.

[code]

The agents are deployed with the following manifest (leaving out a couple of envvars that don't seem relevant for sake of brevity):

[code]

Inside the

[2016-09-29 11:26] JorritSalverda commented on #33745
I know there's issue https://github.com/kubernetes/kubernetes/issues/1806 but that seems to deal more with the security implications of having to run the container in privileged mode.

[2016-09-29 11:35] gmarek commented on #32505
This is not failing alone anymore. All recent failures are caused by cluster problems. Reopen if it will occur alone again.

[2016-09-29 11:35] #32505 closed

[2016-09-29 11:36] gmarek commented on #33344
This seems like real issue - I won't have too much time to look into it, but after quick glance the main suspect is Kubelet. I'll post some more detail when I'll know more.

[2016-09-29 11:38] wojtek-t commented on #33711
We understand the problem here - I'm working on the fix.

[2016-09-29 11:39] wojtek-t commented on #33557
I'm working on https://github.com/kubernetes/kubernetes/pull/33733 to fix it.

The problem is that in k8s we are sharing underlying transport between different clients, so I have to workaround it somehow.

[2016-09-29 11:41] gonzalomarcote commented on #31422
Pffew! I have solved it like rmahajan2420 said. I have configured exactly the same tags in all the workers and it worked

[2016-09-29 11:44] bboreham commented on #33671
I see several issues mentioned:

Can you give some details on the exact figures? We tried to tweak the numbers to sneak under the line.

    nslookup: can't resolve 'kubernetes.default'

what does `/etc/resolv.conf` point to in that container?

right - kube-proxy only creates rules for the services it knows about, which are typically on tcp ports.

Can you give more details?

What is supposed to h

[2016-09-29 11:56] kiall commented on #33128
FYI - I've reached out to someone on the Rackspace Block Storage team to try get some definitive answers around if and how this issue affects Rackspace.

[2016-09-29 12:03] oz123 commented on #33729
@errordeveloper Somehow I have a feeling it's not just slow connection. I have a very fast internet connection in my office.
When I used kubeadm from http://deploy-preview-1321.kubernetes-io-vnext-staging.netlify.com/docs/getting-started-guides/kubeadm/ nothing happens. It is just hanging, I don't see any network traffic or any docker instance starting.
This is in contrast to when I install kubead

[2016-09-29 12:12] dshulyak opened #33747 "Implement session affinity for kubernetes clients that use multiple api servers"
If we will start running scheduler and controller-manager in ha configuration they should use the same api-server if possible.

All available details and difference with current implementation were discussed here https://github.com/kubernetes/kubernetes/pull/30588/files#r77038792

related: https://github.com/kubernetes/kubernetes/pull/30588

[2016-09-29 12:16] dshulyak opened #33748 "Remove duplicated code from Watch, Stream, request methods in pkg/client/restclient/request"
Code that prepares http.Request and verifies http.Response can be refactored.

related: https://github.com/kubernetes/kubernetes/pull/30588

[2016-09-29 12:22] wojtek-t opened #33749 "Create "big-red-stop-button.sh" script for stopping clusters"
We need a "panic" script for stopping clusters also when they are currently being created. This is needed for the purpose of our performance testing.

It should work for at least GCE and GKE.

[2016-09-29 12:23] wojtek-t commented on #33749
I think that the first step in GCE and GKE can basically be as simple as:
- "resize to 0 (or delete)" all MIGs
It's far from being perfect but better than nothing.

[2016-09-29 12:32] gmarek commented on #33749
For GKE that's probably only thing we can do now.

[2016-09-29 12:33] errordeveloper commented on #33618
@danielschonfeld  have you tested this already or not yet?

[2016-09-29 12:38] wojtek-t commented on #33749
Discussed offline and it seems that for GCE it should be enough to kill the kube-up script and immediately after that start kube-down. Which we already have.

[2016-09-29 12:56] timothysc commented on #33423
/cc @yifan-gu I believe you had an issue on this topic a while back.

[2016-09-29 13:09] gmarek commented on #33749
But we still need to for GKE. I'll try to hack something today.

[2016-09-29 13:25] danielschonfeld commented on #33618
Not yet. Trying to figure out a way to script the retrieval of the IP based
on interface name. Will report with results once I figure it out.

I'd much prefer being able to do that, than hard code an IP to the delta
service file.

On Thursday, September 29, 2016, Ilya Dmitrichenko <notifications@github.com>
wrote:

[2016-09-29 13:30] mbohlool opened #33751 "hack/verify-codegen.sh should fail if openapi model is not generated correctly"
Right now on head (24031f50d6610dc9f695398893d3e6459957ee6e) if you run

[code]

it will end up having a modified pkg/generated/openapi/zz_generated.openapi.go file. This happened because some type has been changed and this file should have been generated before commit, and verification should have failed but they didn't.

[2016-09-29 13:39] zhouhaibing089 commented on #33173
@jonathan-kosgei does `NetworkPolicy` help here? https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L839

NetworkPolicy is a concept to restrict the source ip(peer which is namespaced) from accessing another set of pod ports.

[2016-09-29 13:46] errordeveloper commented on #33618
@danielschonfeld here is one way to do it:
[code]

[2016-09-29 13:54] smarterclayton commented on #33698
Unless they like being punched in the face. Apply is chaos monkey for Kube.

I would argue we start with a set of curated tests that cover these
scenarios - base object, patch, and then expected result, also described as
a patch - and develop it into a set of fuzz suites that we generalize over
time.

It probably needs to be against a real server and *trivially* easy to add
new specific patches th

[2016-09-29 13:57] danielschonfeld commented on #33618
@errordeveloper i much appreciate that, but is there a way to utilize that in a service file without having to create its own bash script?

[2016-09-29 13:59] danwinship opened #33753 "wait.ExponentialBackoff() is too easy to misuse"
wait.ExponentialBackoff() (and by extension, client.RetryOnConflict()) requires the Duration and Factor fields to be set in the Backoff object, but if they're not, then it behaves badly rather than erroring out.

Currently it looks like there's only one place where this is happening in real (non-test) code in kubernetes (pkg/controller/serviceaccount/tokens_controller.go), although it's also misus

[2016-09-29 14:03] hpejustin commented on #32972
may i know the version of it. I run e2e test in my environment, but i did not got the same result. I use release 1.3 and run with local-cluster.

[2016-09-29 14:03] k8s-merge-robot opened #33754 "[k8s.io] Cluster size autoscaling [Slow] should add node to the particular mig [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/83/

Failed: [k8s.io] Cluster size autoscaling [Slow] should add node to the particular mig [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

[2016-09-29 14:05] errordeveloper commented on #33618
@danielschonfeld good question... One thing you can do is make sure `hostname -i` returns the IP address you want, in that case you can use systemd's `%H`,  and the drop-in file would look like this:
[code]
Well, in fact if you do that, you might not need to create the drop-in any more.

To do this you need to modify `/etc/hosts`, and make sure there is only one entry for the hostname.

[2016-09-29 14:06] Arv3n6 commented on #33729
@oz123 I have the same issue here. It doesn't seems to be due to slow connection (i've been waiting for 30 min even and I have a very fast internet connection in my office too).
Nothing relevant found into the logs.

[2016-09-29 14:09] arun-gupta opened #33755 "Kubernetes 1.4 dashboard auto refresh"
Using Kubernetes 1.4, `master-ip/ui` shows the dashboard nicely.

For example, https://52.41.10.66/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard/#/replicationcontroller?namespace=default shows all the Replication Controllers.

New RCs were created and the page had to be manually refreshed to show the newly created RCs.

An auto-refresh capability in the UI would be great.

[2016-09-29 14:12] JustinAzoff commented on #33671
I'd have to blow the cluster away and start over to get the right logs again.  I just know it was complaining about 'OutOfcpu'.  I think adding the 2nd vCPU helped more than trying to tweak the cpu request params.  With everything running now after the changes I made I get:

[code]

It has `nameserver 100.64.0.10`

Which matches this:

[code]

The iptables rules are there, but I notice a few thing

[2016-09-29 14:12] xh3b4sd commented on #28350
We saw a similar behaviour again. We are currently playing around with the setup of the API server, controller manager and scheduler to make it more resilient in our case. We recently saw the scheduler crashing with the following panic. Unfortunately it was not recoverable anymore.

[code]

Dropping all data from etcd worked around this issue and the scheduler was able to properly register again.

[2016-09-29 14:13] gmarek commented on #33712
This failure is really strange - something was really wrong with the kubemark-mater, as it didn't respond to queries from the test. What's worse - there are no logs from it in the GCS, even though from the test logs it seems that it was successfully created @kubernetes/test-infra-maintainers .

[2016-09-29 14:15] k8s-merge-robot opened #33756 "[k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/478/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}

[code]

Previous issues for this test: #28426 #32168

[2016-09-29 14:15] justinsb commented on #22770
PR in #33718

[2016-09-29 14:21] bboreham commented on #33671
Something's gone wrong here right away:

[code]

we set:

[code]

So I wonder how your Requests got to 400m?  We run two containers so should be 50m total.

That said, taking it back to 50m would still leave your machine at 1010, i.e. overcommitted, so that's presumably why it wouldn't start.  Also of interest: your kube-dns is at 210m whereas mine is 110m.

[2016-09-29 14:25] arun-gupta commented on #33755
Moved to https://github.com/kubernetes/dashboard/issues/1296.

[2016-09-29 14:25] #33755 closed

[2016-09-29 14:25] smarterclayton commented on #33753
We generally don't panic, but we could default those values to something if
you pass zero.  Behavior should approximate Jitter.

On Thu, Sep 29, 2016 at 9:59 AM, Dan Winship <notifications@github.com>
wrote:

[2016-09-29 14:28] bboreham commented on #33671
Can you follow the service IP through iptables?

For instance I have a service at 10.0.181.14:

[code]

follow to the next chain:

[code]

and finally:

[code]

so that's how it translates to the pod address 10.40.0.3.

If you follow your 100.66.122.211 address similarly, what do you get?

[2016-09-29 14:29] JustinAzoff commented on #33671
Well, I did tweak some things to try to make it work.. I think I see what may have happened.  It looks like I tried removing the requests block alltogether so that it just has `limits:` but no `requests:`

[code]

But if I look at the created pods, I see:

[code]

So, perhaps trying to remove requests: causes it to default to what the limit is?  I'm not sure if that is expected behavior or not, bu

[2016-09-29 14:31] erie149 commented on #14232
All of you may have noticed this already but if you have a pod with multiple ports you will need the port in the url to connect to the pod (since the master actually connects via pod not service)

Something like the following:
http://<master>/api/v1/proxy/namespaces/default/services/xref-service:8080

[2016-09-29 14:39] Arv3n6 commented on #33729
@oz123 @Miyurz  I managed to fix the issue after reading this page : [https://docs.docker.com/engine/admin/systemd/#/http-proxy](url)

I added the proxy configuration in in the Docker systemd service file and it works (approximately 20 sec to  start the master with # kubeadm init).

[2016-09-29 14:45] vishh commented on #33745
We do not recommend consuming the host docker daemon within pods because k8s assumes complete control over the host docker daemon. It can and might delete images as they are being built. Networking configurations are not guaranteed to compatible with upstream docker distribution.
Can you try your builds with a pod scoped docker daemon running as a side-car container within your pod? On `GCI` we te

[2016-09-29 14:45] k8s-merge-robot opened #33758 "[k8s.io] Downward API volume should provide container's cpu request {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33626/node-pull-build-e2e-test/26481/

Failed: [k8s.io] Downward API volume should provide container's cpu request {E2eNode Suite}

[code]

Happened on a presubmit run in #33626.

[2016-09-29 14:50] JustinAzoff commented on #33671
Hmm, my iptables rules are the same except the first KUBE-MARK-MASQ rule is missing.  Is that related to hairpinning?

If I run tcpdump on the node and wget in the pod I see it trying to get to the right place, but it's not happy about something.
[code]

If I hit the backend ip directly from the pod it works, but I notice the l2 headers are different:

[code]

Not sure where 06:f8:c8:be:76:27 is c

[2016-09-29 15:17] JorritSalverda commented on #33745
@vishh that sounds pretty neat. Do you happen to have an example yaml of this?

[2016-09-29 15:35] nvnobelen commented on #33674
@bprashanth I agree with your remark and will test that. However the setup which I based my setup on is from the https://github.com/kubernetes/contrib/tree/master/scale-demo which somehow did not suffer from this issue. I will study this a bit further and see what happens.

[2016-09-29 15:40] a-robinson commented on #33688
Doh, I'm sorry. That's what I get for debugging while on pain meds. Thanks for the pointers, I'll look more into what's causing the hang.

[2016-09-29 15:40] #33688 closed

[2016-09-29 15:44] wojtek-t commented on #33712
@gmarek - exactly the same happened again

[2016-09-29 15:44] kiall opened #33759 "OpenStack LBaaS V2 driver deletes all Pools and Monitors when any single service is deleted"
**Kubernetes version**:

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.8-hpe.1", GitCommit:"2b6b6624aaad1c72670ca9082927c21a79e6e3d6", GitTreeState:"clean", BuildDate:"2016-09-22T23:27:29Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.8-hpe.1.3+61e22370dca123-dirty", GitCom

[2016-09-29 15:48] bboreham commented on #33671
`KUBE-MARK-MASQ` is used to mark packets needing SNAT.  Things will likely break if you don't have that, though I can't immediately match it to your specific symptoms.

One difference between the two tcpdumps you show is that the first one has 3 MACs and the second one has 2.  The SYN-ACK is coming back to a different MAC than the SYN was sent from, which may well be why it is immediately rejected

[2016-09-29 15:49] jingxu97 opened #33760 "Volume attached/detached info out of sync at master when node is terminated."
## User reported issue:

When AWS nodes are terminated and then later replaced by AWS cluster, some pods are found mounted to the wrong volumes.
## Problem analysis:

The cause of this issue is that when nodes are terminated, volumes are detached without noticed by the volume manager.
In current design, master is responsible for attaching/detaching volumes. After the operation attach/detach finish

[2016-09-29 15:51] bboreham commented on #33671
@JustinAzoff can I confirm you are using the released version Kubernetes 1.4.0?  There was an issue fixed shortly before release where the `KUBE-MARK-MASQ` chain was overwritten - #32413

[2016-09-29 15:52] gavinB-orange opened #33761 "summary_test.go fails to compile - constant overflows int"
Bug report.

**Kubernetes version** (use `kubectl version`):

Build of master branch
commit 50e12ff5a2e14f5c7c348cf87f5a1dbf1b790fb2

**Environment**:

Ubuntu 16.04, 24GB memory, 8 cores (parallel compilation used as > 11GB memory)

Linux gbhc1 4.4.0-38-generic #57-Ubuntu SMP Tue Sep 6 15:42:33 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

Following the build-from-source directions,

[2016-09-29 16:07] mlbiam opened #33762 "Can not start api server on ubuntu on raspberrypi 3 ubuntu 16"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

Yes

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

runtime.go:64] Observed a panic: "invalid memory address or nil pointer dereferenc

[2016-09-29 16:08] mlbiam commented on #33762
api-server log
[api-server.log.zip](https://github.com/kubernetes/kubernetes/files/501136/api-server.log.zip)

[2016-09-29 16:20] JustinAzoff commented on #33671
I installed via the yum repo 2 days ago, so I have:

[code]

I tracked down 06:f8:c8:be:76:27, it's the address of the `weave` interface on my kube3 box where the busybox container is running.

Running tcpdump on that interface shows

[code]

Which seems like it shows the same thing but flipped.. I'm not sure if that is expected or not, I don't have a working setup to compare it to.

[2016-09-29 16:21] #33711 closed

[2016-09-29 16:25] maisem opened #33764 "Find rolling-updates replacement for GCE upgrades."
`gcloud alpha compute rolling-updates` is being deprecated and we need to find a replacement for GCE upgrade.

https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh#L257

cc @fabioy @roberthbailey

[2016-09-29 16:30] coffeepac commented on #17183
is there any desire to have a f2f meeting around Kubecon (suggested as people may be travelling already)?  or possibly start off with a working group or a sig to get some community focus on this as well?  focus has seemed to be a bit start and stop over the past year+

[2016-09-29 16:32] jeremywadsack commented on #32929
@jingxu97 we had this fail again today, even after added an extra node to the cluster. Kubernetes decided, at 29 Sep 2016 02:04:01 -0700, to shuffle around some pods including the keylime-redis-cache one. It remounted and eventually switched to read-only causing our system to fail. I recovered this, but it crashed again around 06:23 -0700.

Is there a way that I can tell what caused Kubernetes to

[2016-09-29 16:34] squalou commented on #33729
Same error here, with proxy set, and images correctly downloaded. docker ps shows containers started for 30 minute snow, and kubeadm init is stll stuck, waiting for the plane.

[2016-09-29 16:35] bboreham commented on #33671
We can see the problem more clearly there - the SYN packet is sent off toward 100.66.122.211:80, but the SYN-ACK comes back from 10.40.0.1:9376.  Pretty sure this is some kind of NAT problem.

Does restarting kube-proxy help?  Or rebooting?

[2016-09-29 16:37] rootfs commented on #33447
I don't know GCI image. On RHEL/Fedora, there is also a utility `/sbin/mount.nfs4` to mount NFSv4

[2016-09-29 16:41] timothysc commented on #33557
If you're tests are green, can we close this issue?

[2016-09-29 16:45] wojtek-t commented on #33557
Well - I'm not 100% it will fix the problem - I would like to wait for few days. But I'm fine with reassigning it to me.

[2016-09-29 16:49] JustinAzoff commented on #33671
Rebooted all 3 nodes again, same thing once everything came back up.  Pod IPs work but not service IPs.

[2016-09-29 16:50] rootfs commented on #32266
- `rbd-nbd` is new to the Ceph 2. Existing Ceph 1.x installation doesn't have it. kbrbd is the common denominator.
- There are bridging technologies to get librbd to present rbd image as a block device, e.g. tcmu.
- The drawbacks mentioned are being addressed, e.g. #33660 to resolve fencing issue.

[2016-09-29 16:50] ixdy opened #33765 "fix `gcloud docker` commands"
Just saw this warning today:
[code]

Not sure if this is only limited to kubemark, or if there are other places we need to fix, too.

[2016-09-29 16:52] gavinB-orange commented on #29894
I see the same error as j4b3r, but on Ubuntu 16.04

[2016-09-29 16:55] jeremywadsack opened #33766 "Apply service changes fails when load balancer is removed"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): 'remove load balancer'

---

BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Google Cloud (GKE)
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname

[2016-09-29 16:57] flyingcougar commented on #32266
@rootfs: What do you mean by Ceph 1.x installation? rbd-nbd is part of Jewel release which is supported i.e by ceph-ansible.

[2016-09-29 16:58] bboreham commented on #33671
And you still don't have that `KUBE-MARK-MASQ` rule?

[2016-09-29 16:59] ixdy commented on #29894
@j4b3r @gavinB-orange these failures don't look related to running tests on ppc64le. Please open a separate issue or ask for assistance on slack. Thanks!

[2016-09-29 16:59] JustinAzoff commented on #33671
Correct:

[code]

[2016-09-29 17:01] kargakis opened #33767 "Self-links are not cleaned up when exporting resources"
I have noticed it a couple of times that when I am trying to export a resource, selflinks stay around and the namespace is not part of the link anymore.

[code]

We could maybe have this issue as a duplicate of https://github.com/kubernetes/kubernetes/issues/24855 but I thought we already cleaned up object meta.

@kubernetes/sig-apps

[2016-09-29 17:01] bboreham commented on #33671
CC @thockin - any idea what can cause the masquerade rule to be absent?

[2016-09-29 17:01] bprashanth commented on #33698
It's not hard to write a simple controller in go instead of a bash loop, we should probably just do that for 1.5 (in addition to better tests).  Place a deployment on the vm that doesn't have autoscaled fields filled in, populate these fields in memory from the rc on startup, then loop invoking the pkg/kubectl library apply. If users delete the deployment we can recompute fields from existing pods

[2016-09-29 17:02] rootfs commented on #32266
@flyingcouger I meant the client bits - there is where rbd-nbd is called to map the image.

[2016-09-29 17:03] ymqytw commented on #28694
This example need flag `-i` to print out. And I think `--rm` is needed to clean up for new user.
We may also need flag `--quiet`, since we want to suppress unnecessary messages to avoid confusing new users.

I can simplify the hello world example to:
`kubectl run hello-world --quiet --rm -i --image=busybox --restart=OnFailure -- echo "Hello from Kubernetes!"`

[2016-09-29 17:09] janetkuo commented on #33245
Not sure if it's related to garbage collector, cc @caesarxuchao

[2016-09-29 17:11] mikebryant opened #33770 "kube-controller-manager fails to remove extra pods from a deployment"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "more than its spec" "is invalid"

---

**Is this a BUG REPORT or FEATURE REQUEST?**

[2016-09-29 17:14] yoks commented on #33671
Has same issue, Centos72. ClusterIP not working. Will provide details later.

[2016-09-29 17:15] ixdy commented on #33761
@dchen1107 can you look into this build failure please?

[2016-09-29 17:15] caesarxuchao commented on #33245
If the problem occurs again, could you use `kubectl get xxx -o yaml` to print the hang object?

The garbage collector doesn't work for the daemonset yet, so I guess it's not the culprit, but I need to see the output I requested above to be sure.

[2016-09-29 17:18] ixdy commented on #33761
oh, this was broken by a PR that went in yesterday, #29479.

[2016-09-29 17:18] #33761 closed

[2016-09-29 17:22] edsiper commented on #17183
FYI: For log-collection/distribution stuff, Fluentd team will be at KubeCon in case you want to touch some specific topic.

[2016-09-29 17:23] k8s-merge-robot opened #33771 "kubernetes-e2e-gci-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/485/

Run so broken it didn't make JUnit output!

[2016-09-29 17:26] kdima opened #33772 "kube-scheduler nil pointer exception on pod deletion"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-09-29 17:28] rzarzynski commented on #32266
@rootfs: #33660 is still based on the same *advisory locking* mechanism that has been [refused in QEMU](https://lists.gnu.org/archive/html/qemu-devel/2016-04/msg04131.html) because of the conflict with `exclusive-lock` flag of an RBD image (enabled by default in Ceph Jewel LTS release). Please take a look on #33013. Ceph community already [implemented](https://github.com/ceph/ceph/pull/9592) a ded

[2016-09-29 17:36] kdima commented on #33772
I think this might be also related to multiple
` can not retrieve list of objects using index : object has no meta:`. I am seeing quite a few of these messages for different services.

[2016-09-29 17:42] pwittrock opened #33773 "Launch Tutorials / Bootcamp"
- Create Kubernetes Bootcamp Image in gcr.io
  - Build these images and push to gcr.io.  Then update the references to use the gcr.io images.
  - https://github.com/kubernetes/kubernetes-bootcamp/tree/gh-pages/code/docker
- Satisfy Intel funding requirements
- Replace links to old guide to new guide
- Blog post

[2016-09-29 17:51] jingxu97 commented on #32929
@jeremywadsack, I have a fix out in PR #33616 for issue #33203. But it will take some time to get into the release.

For OOM causes kubelet restart issue, you can check kern.log to see if it happens. #32251 fix is in v1.4.0.
@vishh, could you please confirm whether this fix is backported to 1.3 version? Also to avoid kubelet getting killed under OOM, is there any manual approach to fix the issue i

[2016-09-29 17:57] vladi-dev opened #33775 "Broken Grafana on k8s 1.4 on AWS"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.5", GitCommit:"b0deb2eb8f4037421077f77cb163dbb4c0a2a9f5", GitTreeState:"clean", BuildDate:"2016-08-11T20:29:08Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d96

[2016-09-29 18:01] vladi-dev commented on #33775
This is the line where image is set: https://github.com/kubernetes/kubernetes/blame/master/cluster/addons/cluster-monitoring/influxdb/influxdb-grafana-controller.yaml#L23

[2016-09-29 18:04] spxtr commented on #33740
I think Jenkins must have restarted. It doesn't even show up there. @ixdy any idea if anything happened yesterday at 10 PM ish?

[2016-09-29 18:04] ncdc commented on #33756
I looked at the logs and I was not able to identify anything in them that might identify what is going on. I spun up my on cluster on GCE from HEAD and ran `kubectl exec nginx echo running in container` in an endless loop for almost 2 hours hoping that it would flake on me, but it never did. In previous issues where `kubectl exec` didn't receive all the output the test was expecting, it was due to

[2016-09-29 18:07] nikhiljindal commented on #33730
@bprashanth I assume you are the right owner for services?
Feel free to re-assign as appropriate

[2016-09-29 18:11] pwittrock commented on #31178
@nhlfr Does this support wget as well?  What are they advantages of just supporting curl?

[2016-09-29 18:11] wojtek-t commented on #33712
This is super strange what is happening here.

I took a quick look into logs from the run above. My findings are:
- the base cluster seem to be ok - 2000 hollow-node pods were created and scheduled
- I also looked into random kubelets and it seems that at least those random pods I was looking at were started
- I also logged to the "kubemark-master" and all components seem to be working fine there

[2016-09-29 18:14] Random-Liu commented on #33048
Currently, metrics api test fails because `ImageFs.UsedBytes` is not populated. It relies on function `ImageStats` which is not implemented in kuberuntime.

However, it's hard to implement `ImageStats` based on current CRI.

Do we still need [`ImageFs.UsedBytes`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/stats/summary.go#L135)?

Currently, Kubelet gets all ImageFs sta

[2016-09-29 18:14] smarterclayton commented on #33693
So two things on the node are showing up during the high CPU period - cumulative GC time is 50% (indicating hot looping with allocations) and below I see the following cumulative counts.

[code]

Neither spew now CompactTextString should be in these outputs, which means we are probably completely CPU bound on the logging output.  Spew in particular is extremely inefficient in terms of allocations,

[2016-09-29 18:17] mffiedler commented on #33693
@smarterclayton I will re-run.   Re-setting that particular env right now but should be able to repro on a smaller one.

[2016-09-29 18:23] pwittrock opened #33776 "HPA Docs are wrong and causing user confusion"
See #32768

This doc users the wrong apiVersion:
http://kubernetes.io/docs/user-guide/horizontal-pod-autoscaling/walkthrough/

@davidopp Are you the right person for HPA?

[2016-09-29 18:23] pwittrock commented on #32768
@adam-sandor Closing the issue and opening #33776

[2016-09-29 18:23] #32768 closed

[2016-09-29 18:25] pwittrock commented on #32564
@ixdy Is this eng-prod?

[2016-09-29 18:26] vishh commented on #17183
A f2f meeting during kubecon sounds like a good idea.

On Thu, Sep 29, 2016 at 10:23 AM, Eduardo Silva <notifications@github.com>
wrote:

[2016-09-29 18:27] saad-ali commented on #33423
Fixed with PR https://github.com/kubernetes/kubernetes/pull/33678

[2016-09-29 18:27] #33423 closed

[2016-09-29 18:27] wojtek-t commented on #33712
I merged https://github.com/kubernetes/test-infra/pull/706 to see if that helps. We wlll see if that's related or not.

[2016-09-29 18:29] #32133 closed

[2016-09-29 18:29] rootfs commented on #32543
@taherv the credential issue is being addressed in #33660

[2016-09-29 18:32] pwittrock commented on #31643
@kanebryant Have you tried stackoverflow or the slack channel for help.  This is generally where we direct users for troubleshooting.

[2016-09-29 18:36] eparis commented on #32564
-A support have been in bash at least 4 years! Mind you, I know other places we've worked pretty hard to support the bash version in OS X. I think @david-mcmahon wrote this, maybe he can work out how hard it is to remove -A....

[2016-09-29 18:41] jeremywadsack commented on #32929
@jingxu97 Great, thanks for linking up the cross-reference.

It took me quite a while to find the kubelet logs in Google Cloud Logging (they are in Compute _Engine_, not GKE), but I'm not sure if that includes kern.log. It wasn't listed separately. I don't see anything off-hand in kubelet logs, but they are filled with a repeating pattern that makes it very hard to find anything else of interest:

[2016-09-29 18:41] erictune commented on #31762
PV solution is not comprehensive because not all things that need PetSet uniqueness guarantee will use a volume.

[2016-09-29 18:44] armandocerna opened #33777 "Kubernetes Pods not scheduled due to "Insufficient CPU" when CPU resources are available"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS, masters (Count: 3, Size: m3.medium), minions (Count 5, Size m4.xlarge)
- **OS** (e.g. from /etc/os-release): 14.04.5 LTS, Trusty Tahr
- **Kernel** (e.g. `uname -a`): Master:  3.13.0-95-generic Minion: 4.4.0-38-generic
- **Install tools**: Ansible using modified contrib play

[2016-09-29 18:47] vishh commented on #33447
@Amey-D why are the nfs mount tools missing from GCI?

[2016-09-29 18:49] vishh commented on #32929
@jingxu97 Kubelet OOM prevention will be part of v1.3.8. It is also included in v1.4.0.

[2016-09-29 18:50] ymqytw commented on #32398
Chao's right. I have investigated.
Maybe we need to come up with a way to let strategicmerge PATCH handle this case correctly.

[2016-09-29 18:50] erictune commented on #31762
I think PetSet should offer a "very conservative" option, where it does not start a replacement until it is sure that there is not another instance with the same name running.   Prashanth called this favoring CP over CA.

Forgiveness doesn't give this.  STONITH could give you this depending on the implementation, but I worry about privilege escalation issues with STONITH and dependency on cloud pr

[2016-09-29 18:54] coffeepac commented on #17183
I work for Samsung in Seattle conveniently located in the same town and maybe a 20 minute walk from Kubecon.  We have space for maybe 15 people.  Its a brand new office so its a bit rough but its nice and free.  We can also supply snacks.

@vishh you've been leading a lot of this discussion, what's a good venue for collecting interested parties and having a discussion?  I don't think continuing to

[2016-09-29 18:56] johscheuer commented on #33671
It looks like headless services are also broken, I got the following config:

[code]

And when I query the service with `nslookup` it doesn't return anything but there are endpoints:

[code]

Also the query takes a very long time to fail:

[code]

I run on CentOS 7.2 with weave (and used kubeadm).

[2016-09-29 19:00] johscheuer commented on #32564
I think there is no need to rewrite this (I actually don't know how hard it would be) but a slightly better error message or maybe a sanity check would be nice to know if the used bash version is >= 4.

[2016-09-29 19:04] vishh commented on #17183
I'd suggest posting this as a topic in the [k8s developer summit](https://github.com/kubernetes/community/blob/master/community/Kubernetes_Dev_Summit.md) to begin with. I can do this today.
If it doesn't get accepted for any reason, or if all the interested people don't make it through the dev summit lottery, we can then reach out to the community via `kubernetes-dev@googlegroups.com` to setup an

[2016-09-29 19:29] mffiedler commented on #33693
@smarterclayton  I re-checked the cluster the issue was reported on and it was already at loglevel=2 for the cpuprofiles you have:

/usr/bin/openshift start node --config=/etc/origin/node/node-config.yaml --loglevel=2

Going to recreate in a smaller env anyways to make this investigation easier.

[2016-09-29 19:30] ravilr commented on #33772
@wojtek-t @davidopp seems related to pod anti-affinity feature related changes in 1.4 release.

[2016-09-29 19:30] bboreham commented on #33671
@johscheuer it's going to get too difficult to maintain multiple threads of conversation in this one issue; please open your own issue.  Can you confirm there that kube-dns is not running; if so please do `kubectl describe node` for the node it should be running on.

[2016-09-29 19:32] bboreham commented on #33671
So far none of the points raised have related to Kubeadm; can someone with permission change the label to "networking" or something like that?

[2016-09-29 19:36] yujuhong commented on #33048
I think `ImageFs.UsedBytes` should be treated the same as other ImageFS stats we discussed, i.e., we'll deal with them together after 1.5.

For now, if there are real no consumer of such stats, we can either piece together some information from the cadvisor numbers (e.g., `capacity - available`), or returns 0.

[2016-09-29 19:43] ecordell commented on #31524
I don't believe this would be the case with multi-tenant workloads. Should that not be a consideration?

[2016-09-29 19:48] saad-ali commented on #28462
Fixed with PR #33678

[2016-09-29 19:48] #28462 closed

[2016-09-29 19:48] saad-ali commented on #33434
Fixed with PR #33678

[2016-09-29 19:48] #33434 closed

[2016-09-29 19:50] k8s-merge-robot opened #33782 "[k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/289/

Failed: [k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28462

[2016-09-29 19:59] jingxu97 commented on #32929
@jeremywadsack those logs are normal. I will try to remove those logs in future release since they are not very useful and very confusing. I think in the same folder as kubelet log, there is a kernal log. Are you able to ssh to your node? All the logs are in /var/log/..

As @vishh mentioned, the fix for Kubelet OOM prevention should be part of 1.3.8. Hopefully upgrade to this version will prevent

[2016-09-29 20:06] JustinAzoff commented on #33671
Hmm, that could be the same same issue.. If the pod ip isn't working dns lookups fail even though kube-dns is running.  So it's not that headless services are broken, you just can't query dns.

Does it work if you do this:

[code]

Find what the kube-dns pod ip is (10.46.0.4 in my case), then back in your debug container, try

[code]

In my case I get:

[code]

And yeah, I don't know how much of t

[2016-09-29 20:07] ixdy commented on #32564
I'll review a PR if someone wants to add a bash version check, but I don't have time to implement this right now.

[2016-09-29 20:11] zeg-io commented on #28612
According to Google, their instructions state to run the following two commands:

[code]

however, the kubectl command returns:
[code]

This issue is where all google searches lead.  Anything I can do to fix it?

[2016-09-29 20:12] david-mcmahon commented on #32564
Feb 2009.  OSX is due for an update.

I'll happily write a version check.

[2016-09-29 20:16] nhlfr commented on #31178
@pwittrock

#31240 - supports every command you want
#33077 #33659 - brings a `--curl` option, which is using k8s RESTClient, like in `kubectl get --raw`

I think we should support both behaviours - mostly because it's better to use a native REST client from Kubernetes than to force user to use external binaries like curl or wget.

[2016-09-29 20:16] jingxu97 commented on #29324
@argusua Thank you for the log. Do you remember which pod got the wrong volume attached? Thank you!

[2016-09-29 20:20] k8s-merge-robot opened #33784 "TestReadPodsFromFileInDirAdded {config}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17543/

Failed: TestReadPodsFromFileInDirAdded {config}

[code]

[2016-09-29 20:21] timstclair commented on #23411
I'm going to keep this open until the new test is moved out of the flaky suite.

[2016-09-29 20:29] wojtek-t commented on #33712
This didn't help (which is both good and bad news),

@gmarek - we should try to investigate it tomorrow.

[2016-09-29 20:29] wojtek-t commented on #33712
And understand what is the difference between kubemark-scale and other kubemarks.

[2016-09-29 20:33] smarterclayton commented on #31762
The finalizer I think would be the right solution.  The PetSet controller
makes the CP choice to release the finalizer (which it doesn't by default)
and an admin / fencer / cloud provider can release it.

All of the cases I can think of that would result in this state are because
the kubelet is non responsive, so maybe we would argue that the node
controller should be setting a condition when it a

[2016-09-29 20:39] smarterclayton commented on #33693
Can you look at the journal on those machines and find the largest output
line you see?  Any excessive detail?

From the cumulative run I don't see Sdump invoked in the proxier at
anything less than v4.  It *is* invoked from strategicpatch on an yaml
marshal error, but unless you're seeing gobs of errors in the logs that's
unlikely.  Every other use is tests.

On Thu, Sep 29, 2016 at 3:29 PM, Mike

[2016-09-29 20:42] coffeepac commented on #17183
@vishh I submitted a topic titled 'Logging in Kubernetes'.  If we need to have a non-dev summit meetup before/after, preferably after if doing both I think, I can host it in Samsung's Seattle office.

[2016-09-29 20:51] madhusudancs commented on #30790
This is now fixed in v1.3, v1.4 and HEAD, so I am closing this issue. Please reopen if you run into this problem again.

[2016-09-29 20:51] #30790 closed

[2016-09-29 21:01] dchen1107 commented on #32430
Last couple of failures are all related to gci image. For example the last one is from gci-family-gci-dev-55, and Kubelet.log fulls with:

[code]

@vishh above error message is similar to what you are looking at https://github.com/kubernetes/kubernetes/issues/33398

I am re-assign this to you.

[2016-09-29 21:09] johscheuer commented on #33671
@bboreham This issue could be related with kubeadm. So at first: kube-dns is running in my setup and I'm able to acces my dashboard (but no other services).

Running nslookup without specifying the kube-dns pod ip fails:
[code]

when I specify the kube-dns pod ip everything works fine:
[code]

[2016-09-29 21:09] dchen1107 commented on #33380
Last couple of failed runs are due to the same reason: clusterapi-tests pod is still in pending state.

Sep 29 13:51:56.693: INFO: Waiting for pod clusterapi-tester in namespace 'default' status to be 'clusterapi-tester'(found phase: "Pending", readiness: false) (180.394954ms elapsed)

[2016-09-29 21:12] kfox1111 commented on #31762
I can see a desire to have a way to disconnect a kubelet and let the disconnected kubelet continue to function. We have some systems where they would be great to manage with kubernetes, but their network connection might be transient. but the services on the nodes would be used locally to that machine so disconnected control plane operation would be fine for them.

[2016-09-29 21:12] justinsb opened #33789 ""classic" networking fails to start in k8s 1.4"
If not using kubenet, but using "classic" networking, kubelet fails to start on k8s 1.4

kubelet is waiting for docker to start:

[code]

Docker is waiting for kubelet to create cbr0:

[code]

cc @thockin   either I'm doing something wrong or we need to document that non-kubenet is no longer supported.

[2016-09-29 21:17] timothysc commented on #33693
We have a weird sampling problem with the tooling too, so we're definitely getting large spikes in updating iptables, but I'm not sure it will register except for maybe in pid_stat data.

[2016-09-29 21:18] cjcullen commented on #30617
Thanks for digging into that @jmhodges. It looks like the `gcloud beta auth application-default` was deleted. All that command did was copied the key to the default application default credentials location, which was kinda unnecessary anyway.

For anybody that comes across this issue, here are some steps from the beginning on how to authenticate to a GKE cluster using a service account:

[code]

[2016-09-29 21:21] bprashanth commented on #31762
CA is not a thing, unless you mean Chartered Accountancy :)

Forgiveness kind-of gives this if you set (events=*, duration=infinity), that moves the dial all the way to C, and moving it all the way to A would be setting duration=1s and using an RC.  Like Clayton described a finalizer would also work.

The absolute easiest way to avoid removing the pod is to just delete some code from the nodecontr

[2016-09-29 21:30] davidopp commented on #33776
@jszczepkowski @piosz

[2016-09-29 21:30] johscheuer opened #33790 "Headless service in Kubernetes 1.4"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kube-dns, kubeadm, headless service, service
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: hardware x64
- **OS**

[2016-09-29 21:35] jeremywadsack commented on #32929
Thanks for the pointers. I hadn't realized this was a node log. I thought it was kubelet or something.

There wasn't anything in there that indicated OOM. Just a lot of this:

[code]

And then some lines related to mounting drives which look like they indicate the failure, but not the cause of the failure. (Same errors you logged before.)

[code]

At this point I'm going to hope we can make it to

[2016-09-29 21:37] bboreham commented on #33671
For people who are getting the original symptom, that the weave pod wouldn't start on the master node, we have reduced the CPU request in the YAML config so it should now start.

`kubectl apply -f https://git.io/weave-kube` ought to be enough to reconfigure it, but you may want to do `kubectl delete -f https://git.io/weave-kube` first, then `apply`.

[2016-09-29 21:39] bboreham commented on #33790
Can you please do `kubectl get pods -o wide --all-namespaces` so I can see what is and isn't running.

[2016-09-29 21:42] smarterclayton commented on #31762
Pods occupy quota, pods that have specific names are blocked from being
recreated without user action, replication controllers might go a bit crazy
and generate hundreds of dead pods (if anything scheduled the pod to the
node afterwards) are the biggest ones.

Nodes can also be deleted by admins - we have pod GC for this, and we could
argue the node controller could ask for finalization on a node

[2016-09-29 21:42] davidopp commented on #33767
This seems more like @kubernetes/sig-api-machinery

[2016-09-29 21:47] vinayk06 commented on #10692
@aronchick adding IAM role gave you external IP?

[2016-09-29 21:55] pwittrock commented on #31178
SGTM

[2016-09-29 21:57] ixdy commented on #33672
This seems to be happening an alarming amount today.

[2016-09-29 21:59] johscheuer commented on #33790
[code]

[2016-09-29 22:03] quinton-hoole commented on #33622
Yes, agreed, we need to solve the "lack of proper impersonation problem",
and are working on that elsewhere.  Once we have that, I think that we can
and should delegate the some of the audit logging to the underlying
clusters.

Until then, the question is do temporarily overlog in the federation layer,
only to remove that later (and possibly change the API slightly as a
result), or simply get by w

[2016-09-29 22:10] k8s-merge-robot opened #33793 "[k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pods are pending due to host port conflict [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/88/

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pods are pending due to host port conflict [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

[2016-09-29 22:11] hgfischer commented on #33618
Ok. So I've added both the `--api-advertise-addresses` flag, and the `--hostname-override` flag to `/etc/systemd/system/kubelet.service.d/09-hostname-override.conf`.

Now, the master starts fine, but when I bootstrap a new node, the new wave-net sublet doesn't starts properly. It ends in a CrashLoopBackOff status. This is what I suppose is the issue, but I could not find how to fix it yet.

[code]

[2016-09-29 22:20] ixdy commented on #32999
kubectl 1.5 will be built with golang1.7 at some point, yes. we probably need to decide if we want to backport building kubectl with golang1.7 to release-1.4.

[2016-09-29 22:21] bprashanth commented on #31762
Aarg.
* I want the kubelet to still honor terminationGrace. I *don't* want the nodecontroller to set the timestamp, finalizer blocks deletion, then a day later the kubelet wakes up and sigkills the db.
* I'd also prefer something that's not-irreversibe, so I can segment a node from nodecontroller (master upgrade) and connect them back with 0 pet downtime.

So if the node controller sets the "desir

[2016-09-29 22:24] ixdy commented on #33070
@pwittrock the fix will only affect 1.5+, not 1.3 or 1.4, though.

[2016-09-29 22:28] jingxu97 commented on #32929
@jeremywadsack could you also share the kubelet log when the problem occurred? I can see whether kubelet got killed or not from the log. Thank you!

[2016-09-29 22:32] dcbw commented on #20379
Ran into this again today...

[2016-09-29 22:40] hgfischer commented on #33618
I just noticed that DefaultNetworkInterface is hardcoded to "eth0" so making a hard guess, I think this is not the problem.

These are the node logs grepped by the name of the pod that is in CrashLooopBackOff:
[code]

[2016-09-29 22:41] timstclair commented on #33672
This seems to be only happening on the PR builder, and it hasn't passed since 9:20 AM this morning.

[2016-09-29 22:45] bprashanth commented on #31762
Oh wait, my frustration was premature, we don't check deletionTimestamp. The kubelet always respects terminationGrace (overridden by deletionGrace): https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L1529 and uses deletionTimestamp != nil as a bool trigger (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1345).

So then as l

[2016-09-29 22:45] Random-Liu commented on #29478
Claim `Instrument the interfaces`.

[2016-09-29 22:46] nvnobelen commented on #33674
@bprashanth Ok, the google scale demo on github can never have produced the results as stated in a demo video from Google: I ran the demo (albeit a bit limited) with the settings & container from the demo. The scale up without the readinessProbe leads to lost events. Scale down/removing pods from the service also leads to lost events.

- Actual observed behaviour in my cluster at 1.3.5 is about 1

[2016-09-29 22:51] dcbw commented on #20379
Though in my case, it looks like two DELETE API events come in for the pod:

[code]

[2016-09-29 22:57] jeremywadsack commented on #32929
Sure. Here are lines related to redis-cache. Not sure what is most helpful:

[code]

Throughout the entire log I see entries like these every few minutes, but they are still ongoing so I'm not sure if they are related or not.

[code]

I didn't see anything else in the logs offhand for kubelet.

[2016-09-29 23:01] smarterclayton commented on #31762
Node controller doesn't have to set grace period to anything other than
default.  Kubelet starts clock from when it observes signal, not global
clock.  We should be good there.

Node controller + forgiveness are enough for the master separation thing I
think

Fencer would observe node separation and use disruption budget,
forgiveness, and other hand wavy metrics to perform cloud provider / metal
p

[2016-09-29 23:01] jingxu97 commented on #32929
@jeremywadsack actually I need the full log if you don't mind...

[2016-09-29 23:02] lavalamp opened #33797 "kubectl: auth failures on discovery give confusing message"
`kubectl` often says something like this when the problem is your authentication token: `failed to negotiate an api version; server supports: map[], client supports: map[v1:{} batch/v1:{} componentconfig/v1alpha1:{}...`

Kubectl should detect the 401 and report a auth error, not this discovery error.

[2016-09-29 23:11] dcfsc opened #33798 "kubeadm 1.4: service IPs not reachable, kube-dns not resolving names"
Hello @kubernetes/sig-cluster-lifecycle!

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.

[2016-09-29 23:21] hongchaodeng commented on #33653
Benchmark code:
[code]

Profile result: (we ignore etcd part and only care about kubernetes part)
[code]

Initial analysis:
- Confirms that transform is the bottleneck in watch path.
- 0.17s is used by transform().
- 0.14s is used by clientv3.(*kv).Do(). Both Get() and Put() is also calling Do(). We can't distinguish.
- 0.09s is used by Decode(). From this, we can roughly guess that Get() took 0.0

[2016-09-29 23:23] smarterclayton commented on #33622
I don't care that much that I'd block.  We tell people federation is for
cluster admins or power accounts so I'm ok with it for now to be a bit
under logged.

[2016-09-29 23:24] ahakanbaba opened #33800 "Permission denied error on .make/all_go_dirs.mk (or .make) during MaxOs Build with docker-machine"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

This is not a request for help.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

I have searched for these keywords
mac id build
Nothin

[2016-09-29 23:24] smarterclayton commented on #33767
Yikes - when did that break?

[2016-09-29 23:25] pwittrock opened #33801 "Compile darwin binaries with go 1.7.1 so they stop segfaulting"
See #32999

[2016-09-29 23:25] smarterclayton commented on #32398
Edit has to use patch of some form, otherwise you can't edit anything being
rapidly changed underneath you (nodes, anything driven by controller).

We have to fix patch.  If patch doesn't work the whole edifice comes
tumbling down.

[2016-09-29 23:45] AdoHe commented on #32398
[code]
I think this is what we should do.

[2016-09-29 23:48] mffiedler commented on #33693
Sample node logs are included in the doc for a different issue:  https://bugzilla.redhat.com/show_bug.cgi?id=1380455

pidstat data for the longer runs is not very good - way too many short iptables-save/iptables-restores.  swamps the samples.   Will need to do a shorter run.   I will coordinate that.

[2016-09-29 23:48] dillaman commented on #33013
What's the current use-case for the rbd advisory locking? Just wondering it would make sense to switch to the new Kraken+ managed lock API.

[2016-09-29 23:48] AdoHe commented on #33766
@jeremywadsack how did you create the original service? using `kubectl create` or `kubectl apply`? Please use `kubectl apply` to create the original resource.

[2016-09-29 23:49] ixdy commented on #33672
it looks like this may have fixed itself (or been secretly fixed by someone)?

[2016-09-29 23:50] AdoHe commented on #33772
/cc @AdoHe

[2016-09-29 23:53] k8s-merge-robot opened #33804 "[k8s.io] Cluster size autoscaling [Slow] should disable node pool autoscaling [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/89/

Failed: [k8s.io] Cluster size autoscaling [Slow] should disable node pool autoscaling [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

[2016-09-29 23:55] saad-ali commented on #33782
`Timed out after 45.001s` indicates that these tests may be running an old version. The timeout should be 120 seconds (see https://github.com/kubernetes/kubernetes/pull/33678)

[2016-09-29 23:56] lavalamp commented on #33622
Paging is on my list, but not near the top. When you implement this thing,
keep in mind that we are going to be adding features (paging, field
filtering, etc) to the generic apiserver and/or conversion stack. I guess
I'm asking a couple things:

* don't implement missing things in a one-off way
* don't implement this feature in a way that will make it hard for you to
use these things when we add t

[2016-09-29 23:57] mbohlool commented on #33560
any update on this? this is happening alot for #33629

[2016-09-30 00:00] mbohlool commented on #33751
This is not only a problem with openapi-gen. deepcopy-gen also has the same problem. I've added a field to a type (autoscaling/v1) and verify-all passed for the commit (without adding generated code to it). those files will be generated on verify-codegen and it will not fail and the commit can be merged without generated code.

[2016-09-30 00:00] smarterclayton commented on #33622
We've discussed vector resource versions but I wouldn't want to rush into
that.

[2016-09-30 00:11] ahakanbaba commented on #33800
The following diff fixes it for me.

If there is interest I can spend time with the push and merge procedures

diff --git a/build/common.sh b/build/common.sh
index 633cb4c..11a3e82 100755
--- a/build/common.sh
+++ b/build/common.sh
@@ -550,9 +550,20 @@ function kube::build::ensure_data_container() {
   fi
 }

+# Return the string passed to the --user parameter in docker run command.
+# If we are d

[2016-09-30 00:17] jeremywadsack commented on #33766
Hi @AdoHe. Yes, I've always used `kubectl apply` for creating services.

I originally created the service without the load balancer. Then I updated it to add the load balancer and the firewall rules about a month ago.

Let me know if there are more details I can provide to help diagnose this if it's not expected behavior.

[2016-09-30 00:18] lavalamp commented on #32759
No, this is a client problem. genericapiserver is a server component.

[2016-09-30 00:30] Random-Liu commented on #29478
@yujuhong By `Image pulling progress`, do you mean report image pulling progress in log? If so, it's in kube_docker_client, and should have already been supported if we keep using kube_docker_client.

[2016-09-30 00:41] lavalamp commented on #31798
@cjcullen what does "being smarter" mean? Can you make a list of desired changes?

[2016-09-30 00:51] carsonoid opened #33805 "AWS - Split Source/Destination check modification from route creation"
**Kubernetes version**

1.4.0

**Environment**:

AWS

**What happened**:

When using calico in AWS I effectively disabled the cloud route creation by untagging my route table.

However it turns out that disabling the source/destination check for aws instances is _only_ done [when kube-controller-manager is managing routes](https://github.com/kubernetes/kubernetes/blob/release-1.4/pkg/cloudprovider

[2016-09-30 00:54] bprashanth commented on #33730
eh, retrieved map looks the same as expected map. This is like a game of spot the differences.

[2016-09-30 01:03] Random-Liu commented on #31459
Got the first e2e result: `202 Passed | 12 Failed | 0 Pending | 194 Skipped`

[2016-09-30 01:16] feiskyer commented on #31459
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/1

Hmm, initcontainers are already addressed in #33363, port-forwarding is not implemented yet, we could deal it same with exec for docker.

[2016-09-30 01:25] feiskyer commented on #33048
@Random-Liu Even `ImageFs.UsedBytes` is resolved in cadvisor, CRI may still need changed for other runtimes except docker/rkt.

I suggest further discussion on @yifan-gu 's question: **whether or not to move runtime integration off from cadvisor**?

 I'm +1 for pushing it to CRI because it is hard to add new runtimes to cadvisor.

[2016-09-30 01:38] ahakanbaba commented on #33800
A similar user id permission error can manifest itself with this error too:

+ mkdir -p /go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io
mkdir: cannot create directory '/go/src/k8s.io/kubernetes/_output/local': Permission denied

This is related to the docker-build-data-<hash> container.

[2016-09-30 01:41] Amey-D commented on #33447
I can't find evidence in kubelet code that it requires /sbin/mount.nfs on the host.  Can someone point me to it?

[2016-09-30 02:14] cjcullen commented on #31798
The apiserver should not attempt to authorize a path that could never exist. It should just return a 404, or a 405 (if the resource is real, but the method isn't). It shouldn't be the authorization system's responsibility to determine whether a path is valid.

E.g., if a user tries to "proxy" a "persistentVolume" the apiserver should respond w/ a 405 without first asking the authorization subsyste

[2016-09-30 02:15] yifan-gu commented on #33048
Echo on this, at least even if we decide to use cadvisor, I'd like to see cadvisor publish a runtime interface to cover all the integration points.

[2016-09-30 02:44] saad-ali commented on #33782
I'm cherry-picking the fix back to 1.3 and 1.4 branches (see #33807 and #33808). But looks like this suite runs a released version (i.e. 1.3.8), which means this test will flake until a new release is cut.

[2016-09-30 02:46] saad-ali commented on #33725
Duplicating comment from #33782:

[2016-09-30 03:08] feiskyer commented on #31459
Claims port-forward for docker.

[2016-09-30 03:28] #33036 closed

[2016-09-30 03:58] kevin-wangzefeng commented on #29503
Should use `runKubectlRetryOrDie()` instead of `RunKubectlOrDie()` in all the places in "Kubectl taint" e2e tests, I'm fixing it.

[2016-09-30 04:04] Random-Liu commented on #31459
Claims attach for docker. Attach is also not implemented in kuberuntime yet. I'll verify with my local cluster even though the change is very small. :) Will send a PR soon after I verify it.

[2016-09-30 04:07] dcj opened #33812 "Ansible playbook implementing http://kubernetes.io/docs/getting-started-guides/kubeadm/"
RFE: Link to implementations of this procedure.

Here is one:  https://github.com/dcj/ansible-kubeadm-cluster

@kubernetes/sig-cluster-lifecycle

[2016-09-30 04:20] danielschonfeld commented on #23920
I can confirm this problem and solution renders all the Ingress examples useless.  Most of those nginx RC and DS examples contain the use of `hostPort` but no use of `hostNetwork`.  Took me a while to stumble on this issue and figure out how to make it work.

[2016-09-30 04:25] zhang8473 opened #33814 "Question: Does Kubernetes API support multiple resources configurations?"
I see that kubectl supports multiple resources in one configuration file.

The webpage is http://kubernetes.io/docs/user-guide/managing-deployments/

However, I do not see any Kuber API path supports it? I missed something or it does not exist or it is in planning???

[2016-09-30 04:30] pwittrock commented on #33672
Ug.  I'll dig into it tomorrow.  Wanted to today, but was booked almost the whole time.

[2016-09-30 04:30] pwittrock commented on #33672
@ymqytw Would you debug this with me tomorrow?

[2016-09-30 05:01] montanaflynn commented on #21656
I'm running into this on google container engine with a 30 node cluster with hundreds of pods.

`4s        1m        43        some-api-3484797171-tz7rb   Pod                                         Warning   FailedSync   {kubelet gke-some-cluster-default-pool-c31be7a2-zpio}   Error syncing pod, skipping: failed to "SetupNetwork" for "some-api-3484797171-tz7rb_default" with SetupNetworkError: "Fai

[2016-09-30 05:11] justinsb opened #33816 "/etc/resolv.conf disappeared"
I noticed that on a 1.2.1 cluster on AWS, some nodes no longer had /etc/resolv.conf (the file no longer existed), and thus could not resolve DNS.

I presume this is "no longer had" because otherwise I don't _think_ they could have started up at all, but they seemed reasonably healthy.

Any pointers / guesses as to how this could have happened are appreciated.  This was a prod cluster, so we're not

[2016-09-30 05:23] davidopp commented on #29503
Thanks!

[2016-09-30 05:25] wojtek-t commented on #33653
@hongchaodeng - thanks for the benchmark. Though I think we shouldn't focus that much on cpu usage (which isn't out bottleneck now) - from what I observe the problem is throughput and in my opinion, when calling Get (as part of transform for updates) we are not using that many CPU, but we are blocking all other work.

So maybe backporting coreos/etcd#5880 would solve the problem?

[2016-09-30 05:29] xiang90 commented on #33653
@wojtek-t We do not usually backport feature, we only backport bug fixes. Or put it another way, it breaks our policy.

We should try etcd master to see if it solves the problem. If we can confirm it fixes the issue, we will try to resolve it at etcd side. Either backport or release 3.1 early.

[2016-09-30 05:30] xiang90 commented on #33653
@hongchaodeng Is that CPU usage? Or time spent in each func? /cc @wojtek-t

[2016-09-30 05:32] marun commented on #29772
+1 for separating highly volatile state from the relatively static.

[2016-09-30 05:42] wojtek-t commented on #33653
@hongchaodeng Is that CPU usage? Or time spent in each func? /cc @wojtek-t

oh sorry - I might have misinterpreted it.

We should try etcd master to see if it solves the problem. If we can confirm it fixes the issue, we will try to resolve it at etcd side. Either backport or release 3.1 early.

@xiang90 - IIUC there isn't any official 3.1 release, right? If so, is there any easy way to test it? [w

[2016-09-30 05:42] krmayankk opened #33817 "printEventList is only used for watch-only and not for get event list"
This issue is filed as a result of investigation done on [29838](https://github.com/kubernetes/kubernetes/issues/29838) and the subsequent PR [33010](https://github.com/kubernetes/kubernetes/pull/33010)

The main summary of this issue is that the function `printEventList` defined in  `k8s.io/kubernetes/pkg/kubectl/resource_printer.go` is not being used in any path except in one path for the watchi

[2016-09-30 05:58] matchstick commented on #29061
@thockin Would this be good for @MrHohn to try to get in 1.5?

[2016-09-30 06:04] zhouhaibing089 commented on #31524
@Q-Lee @ecordell Yeah, it would not be the case with multi-tenant workloads.

When I am looking back now, we already have an authenticator based on webhook call, we already pass the token along with this request, see here: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authenticator/token/webhook/webhook.go#L82

@deads2k thoughts?

[2016-09-30 06:05] chulkilee commented on #23920
I confirm this problem when I set up a cluster on bare metal using kubeadm. Since I want to use nginx ingress controller on 80 and 443 but apiserver uses 443 in the cluster, `hostNetwork` cannot be an option in my case.

[2016-09-30 06:10] thockin commented on #33751
Yeah.  So when the Makefile stuff originally went in those files were not checked in.  Then we un-did that part, but I didn't re-add them to verify...

[2016-09-30 06:22] argusua commented on #29324
@jingxu97 No, I don't remember. I remember only about grafana pod, data was missing for this pod, because volume from another pod was mounted. But I don't sure now that grafana pod was on the same node.

[2016-09-30 06:38] zhigang opened #33820 "[ubuntu install error]client: etcd cluster is unavailable or misconfigured"
Hey guys,
I'm having the problem when trying to start the cluster.
Kubernetes version is 1.4.0 .
How can to solve it ? Thanks.

CMD: `KUBERNETES_PROVIDER=ubuntu ./kube-up.sh`

... Starting cluster using provider: ubuntu
... calling verify-prereqs
Identity added: /home/zhigang/.ssh/id_rsa (/home/zhigang/.ssh/id_rsa)
... calling kube-up
/usr/local/develop/kubernetes/cluster/ubuntu /usr/local/develop

[2016-09-30 06:43] thockin commented on #32398
Agree.  If patch doesn't work for 100% of the edits a person is allowed to
do, it isn't very useful.

On Thu, Sep 29, 2016 at 4:46 PM, TonyAdo <notifications@github.com> wrote:

[2016-09-30 07:24] wojtek-t commented on #33712
This is super strange what is happening here.

I will check if https://github.com/kubernetes/test-infra/pull/715 helps...

[2016-09-30 07:45] dshulyak commented on #28721
It failed 2 times in a row, and Jenkins GKE smoke e2e is a blocking suite. Can someone attach p0/p1 priority here?

[2016-09-30 08:13] colemickens commented on #33583
Have you changed the flags on `kubelet`? It seems like, for 1.4, some bring-ups that use cloudprovider routing have switched to using the `kubenet` CNI plugin, which can actually reconfigure docker on the fly and removes this chicken/egg problem.

For example, in Kubernetes-Anywhere, we just let Docker startup normally (we don't change the bridge) and then we use these options on `kubelet`: `--hai

[2016-09-30 08:43] owenhaynes commented on #31071
How do you get around this, as can not use the new Federation Instructions as they do not support AWS.

[2016-09-30 08:49] gmarek commented on #33712
It did. Which means that for some reason we have a problem running on GCI. @mtaufen @vishh

[2016-09-30 08:56] wojtek-t commented on #33712
And to clarify - this is only about kubemark-scale; all other kubemarks (kubemark-5, kubemark-500, ...) are succefully running using GCI underneath.

[2016-09-30 09:00] errordeveloper opened #33823 "panics on kubectl exec"
I've seen a few different panics using `kubectl exec` and other commands, here is one that seems quite reproducible.

[code]

I'm using GKE and `kubectl` is part of the official CLI package:
[code]

I've upgraded to macOS Sierra yesterday, could it be to do with that?

You might see me using `kubeadm`, but that's nothing to do with it. If you are curious what I'm doing, [take a look here](https://

[2016-09-30 09:12] onlyellow opened #33824 "kubernetes 1.3.8 build ERROR"
**Kubernetes version**

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS**
  centos7
- **Kernel**
  3.10.0-327
- **Install tools**:
  NONE
- **Others**:

**What happened**:
# wget https://github.com/kubernetes/kubernetes/archive/v1.3.8.tar.gz
# tar -xvf v1.3.8.tar.gz
# cd kubernetes
# make release-skip-tests quick-release

KUBE_RELEASE_RUN_TESTS=n KUBE_FASTBUILD=true build/r

[2016-09-30 09:18] Dominic001 commented on #33729
just to add some more information about this bug; tested it with debian 8 and get in the syslog:
http://pastebin.com/aRAPsQuh

[2016-09-30 09:28] soltysh commented on #33665
@bogatuadrian thanks for the report, I'll look into this problem sometime next week.

[2016-09-30 09:32] gavinB-orange opened #33825 "Compile issue - generated.Asset[Names] undefined"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

generated.Asset

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug Report

**Kubernetes version** (use `kubectl version`):

Today's HOT.

commit b71def750f3ec1978b0e890e6fae106a20f33a9b

**Environment**:

Build on Ubuntu 16.04

**Wha

[2016-09-30 09:37] Pendoragon commented on #33222
Don't know if this is the right place to ask but I was going through the QoS docs and had this (wrong?) impression that anything important should fall into the `Guaranteed` bucket. But then as @bprashanth said, if something is really important, there is little motivation to set cpu limit since the requested cpu is always guaranteed. Now I'm wondering what kind of applications should be classified

[2016-09-30 09:42] bulletRush commented on #33689
what's your hostname? your hostname "must match the regex [a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)* (e.g. 'example.com') spec.nodeName: Invalid value: "vm_81_12_centos": must match the regex [a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)* (e.g. 'example.com')]
---
check /var/log/message for more information.

you can change your hostname to your ip address

[2016-09-30 09:45] johscheuer commented on #33790
As requested here is the `iptables-save` output:

[code]

[2016-09-30 09:47] keglevich3 commented on #24229
@rca The "spread" project is trying to achive to goal of linking git and kubernetes files:
https://github.com/redspread/spread

[2016-09-30 09:58] chesterlai commented on #29760
Hi,
have any update?
We also met this issue

[2016-09-30 10:02] soltysh commented on #28694
There are multiple options how this can be modified. I'm just saying we don't need any dedicated example to show this off. That's why I'm proposing to close this issue, because `kubectl run` has examples how to simply run a job or a deployment. @aronchick agreed?

[2016-09-30 10:04] wojtek-t commented on #33557
OK - it seems that we have successful 2000-node kubemark run (and a bunch of kubemark-500 runs) so I think this is now fixed. Will reopen if we will face this again.

Thans a lot for help with it!

[2016-09-30 10:04] #33557 closed

[2016-09-30 10:10] johscheuer commented on #33790
Here are some tcpdumps (hopefully they are helpful):

[code]

[2016-09-30 10:14] wojtek-t commented on #33712
So yeah - we are one step further with debugging. We confirm that setting:
"TEST_CLUSTER_API_CONTENT_TYPE="--kube-api-content-type=application/vnd.kubernetes.protobuf""
in kubemark-500 broke also this suite.

However, now I'm starting to think that it may not be related to kubemark, but to GCI generally. Please see this suites:
http://kubekins.dls.corp.google.com:8080/job/kubernetes-e2e-gce-proto/

[2016-09-30 10:16] piosz commented on #17183
I didn't plan to attend Kubecon/k8s developer summit, though I'm very interested in the meeting. I need to figure out whether I will be able to attend.

I'm also going to write (similarly to the docs about monitoring): Logging current state and Logging architecture/roadmap proposal.

I think sig-instrumentation might be a good spot for discussions about logging. Depending on how many people would

[2016-09-30 10:17] dshulyak opened #33826 "Extract taints/tolerations helpers into separate package"
Helpers to add/remove taints/tolerations should be extracted from kubectl module into pkg/api/helpers.go or as separate module in pkg/util

related: https://github.com/kubernetes/kubernetes/pull/32498

cc @kevin-wangzefeng

[2016-09-30 10:21] bulletRush commented on #33689
@pwittrock If I want add some check operations(e.g like question in this issue) to kubeadm, what should I do? Is there any other plans?

[2016-09-30 10:27] k8s-merge-robot opened #33827 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow-release-1.4/458/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, ungracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28984

[2016-09-30 10:28] wojtek-t commented on #33723
The last one is expected - we were debugging https://github.com/kubernetes/kubernetes/issues/33712

[2016-09-30 10:30] errordeveloper opened #33828 "kubeadm/images: make registry configurable"
We should allow users to use their own private registry instead of GCR. We should also make it clear what images need to be mirrored, ideally we should implement a helper for doing pull/retag/push (i.e. `kubeadm util mirror-images`), as we have a handful of images and users will have to write scripts to do it. People will have to mirror images continuously, when we provide upgrades, so helper woul

[2016-09-30 10:34] errordeveloper commented on #33823
I am fairly certain the issue is to do with Sierra. I've ran `gcloud components update`, will see if this comes up with latests version (v1.3.7).

[2016-09-30 10:35] errordeveloper commented on #33762
@luxas PTAL

[2016-09-30 10:49] mlbiam commented on #33762
In addition, I tried this setup on raspbian jessie with the same results (slight variant I had to install docker from Docker and add cgroup_enable=cpuset to /boot/cmdline.txt)

[2016-09-30 10:59] errordeveloper commented on #33823
I keep seeing panics with v1.3.7, e.g.:
[code]
And all is good on the second attempt:
[code]

[2016-09-30 11:10] dims commented on #33823
work is being done here - #28742

[2016-09-30 11:11] errordeveloper commented on #33823
@dims thanks, I'll close this.

[2016-09-30 11:11] #33823 closed

[2016-09-30 11:31] errordeveloper commented on #33618
@hgfischer this sounds like a more general bug (not so much related to kubeadm), could you please create another issue?

[2016-09-30 11:38] bulletRush commented on #33729
please see this issue, they may be same problem [kubeadm blocks waiting for 'control plane' in Ubuntu Wily](https://github.com/kubernetes/kubernetes/issues/33689)

[2016-09-30 11:38] owenhaynes opened #33830 "Feature GKE, GCE Internal Load Balancing"
Google cloud now supports Internal Load Balancing (beta).

Would be nice to expose a service on to a internal load balancer. To prevent having to run another machine to run ha-proxy with some extra magic.

We currently have to-do this to support our elastic search cluster and would like to move away from this.

From the looks of it AWS sort of has an option for this on there services.

[2016-09-30 12:04] jsafrane commented on #33447
@Amey-D, there is excellent analysis of kubelet dependencies in https://github.com/kubernetes/kubernetes/issues/26093.

There are efforts to containerize all client volume utilities, but we're not there yet and IMO we won't be there in 1.5 timeframe.

[2016-09-30 12:25] lukemarsden commented on #33689
@luxas could you link to your WIP on pre-flight checks? This would be a great one to add!

[2016-09-30 12:25] #33749 closed

[2016-09-30 12:35] dims commented on #33825
@gavinB-orange - Are you git cloning under `$GOPATH/src/k8s.io` (per https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#clone-your-fork)?

[2016-09-30 12:42] irfanjs commented on #11355
this is resolved. i created secrets manually and attach it to "default" service account. after that, restarts the controller manager and pods started running.
thanks again all.

[2016-09-30 13:01] timothysc commented on #33653
@xiang90 ETA on 3.1 release?

[2016-09-30 13:13] JorritSalverda commented on #33745
I managed to get this to work now with the following deployment manifest and our own docker-in-docker container:

[code]

It doesn't deserve any prize for how docker.sock and docker binary is mounted from the side-car container into the build agent container. Especially that the docker-in-docker container copies files from /usr/local/bin into a mounted directory. Is there a better way for this?

I

[2016-09-30 13:31] luxas commented on #33762
I'm fully aware of it, and have fixed it.
It didn't make v1.4.0, so on arm you must use a control plane with 1.4.1 or higher.

I'll document that soon

ref: #33485

[2016-09-30 13:40] JorritSalverda commented on #33745
Docker info inside the docker-in-docker container looks like

[code]

Whereas on the GCI host vm it's:

[code]

[2016-09-30 13:40] mlbiam commented on #33762
Thanks @luxas so if I do a build of 1.4.1.beta.0 and replace my binaries it should work?

[2016-09-30 13:51] gmarek commented on #33653
From slack: mid-late October.

[2016-09-30 13:52] luxas commented on #33762
No, because `1.4.1.beta.0` equals `v1.4.0` :)
Building from latest `release-1.4` will work though

...or just wait for v1.4.1, it should be released quite soon :)

[2016-09-30 13:55] mlbiam commented on #33762
Ahh!  I'd like to say I'm that patient....but i'm not!  I'll see how
building goes.

Thanks!

On Fri, Sep 30, 2016 at 9:52 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-09-30 14:08] fraenkel commented on #32880
@sebgoa I just began to write the tests for this, and uncovered the next gotcha that I haven't handled. Since websockets doesn't have streams, I already created a request structure for the PortForward but didn't realize that I must also package the responses to distinguish the streams. This also means clients must know the internal request/response for PortForwarding.  Just want to make sure that

[2016-09-30 14:29] gavinB-orange commented on #33825
No I'm not. I was following the instructions at http://kubernetes.io/docs/getting-started-guides/binary_release/ which say:

[code]

Sounds like this may not be correct.

[2016-09-30 14:54] smarterclayton commented on #32880
Definitely port forward, if it has a protocol, has to be versioned like the
others.

On Fri, Sep 30, 2016 at 10:08 AM, Michael Fraenkel <notifications@github.com

[2016-09-30 14:58] fraenkel commented on #32880
@smarterclayton There is no exposed client for websockets though.

[2016-09-30 15:00] kdima commented on #33772
@mwitkow

[2016-09-30 15:08] k8s-merge-robot opened #33838 "TestNamespaceController {namespace}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17573/

Failed: TestNamespaceController {namespace}

[code]

Previous issues for this test: #30855

[2016-09-30 15:10] atomantic commented on #11237
I'm having this issue with a service that is currently running with a loadBalancerIP configured:

kind: Service
apiVersion: v1
metadata:
  name: "unid"
spec:
  selector:
    app: "unid"
  ports:
    - protocol: TCP
      port: 80
      targetPort: 4117
  type: LoadBalancer
  loadBalancerIP: 130.211.27.91

If I try to replace this service with the same file, it returns
[code]
I'm trying to remove t

[2016-09-30 15:18] mwielgus commented on #33697
Should be fixed with #33769.

[2016-09-30 15:18] #33697 closed

[2016-09-30 15:21] gavinB-orange commented on #33825
Same issue if you follow the instructions on https://github.com/kubernetes/kubernetes/blob/a698d490b93a4829d9af76bed7556a446eef7238/build/README.md

build/run.sh make test-integration fails with this error.

[2016-09-30 15:39] miekg commented on #28366
So we benchmarked: https://github.com/miekg/coredns/pull/287#issuecomment-250598124

SkyDNS: Requests/Second: 38436.775

Discuss.

[2016-09-30 15:47] mtaufen commented on #33712
This is strange, because `kubernetes-e2e-gci-gce-etcd3` also sets `--kube-api-content-type=application/vnd.kubernetes.protobuf` and runs on GCI, and it's test grid is green:

https://k8s-testgrid.appspot.com/google-gce#gci-gce-etcd3

[2016-09-30 15:49] k8s-merge-robot opened #33839 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1451/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374 #31427 #31433 #31589 #31981 #32257 #33711

[2016-09-30 15:49] k8s-merge-robot opened #33840 "[k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] shoud create ingress with given static-ip {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-ingress-release-1.4/549/

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] GCE [Slow] [Feature: Ingress] shoud create ingress with given static-ip  {Kubernetes e2e suite}

[code]

[2016-09-30 15:50] mtaufen commented on #33712
Ah nevermind disregard that previous comment, I was looking at ginkgo args.

[2016-09-30 15:54] errordeveloper commented on #33812
@dcj thanks a lot, could you please open a PR to https://github.com/kubernetes/kubernetes.github.io/?

[2016-09-30 15:55] jk0 commented on #33789
I can also reproduce this.

[2016-09-30 15:59] timothysc commented on #33725
Someone needs to take me off the auto-assign for downward api.. I don't work in that area.

[2016-09-30 16:00] Manko10 commented on #30751
I'm experimenting with Kubernetes right now, but I'm having a really hard time to even get it running. This issue apparently still exists in 1.4.0. Is this being worked on?

[2016-09-30 16:01] thockin commented on #11237
"replace" is a full replacement operation, which fails the rules that say
service.spec.clusterIP can not change, once initialized.  Try using "apply"
or do a read-modify-write cycle on your resource.

On Fri, Sep 30, 2016 at 8:10 AM, Adam Eivy <notifications@github.com> wrote:

[2016-09-30 16:05] yujuhong commented on #33789
The cbr0 creation logic is still in kubelet even though we added a deprecation warning for --configure-cbr0. This should still work.
/cc @freehan

[2016-09-30 16:19] jayunit100 commented on #20064
ill grab this one

[2016-09-30 16:22] mtaufen commented on #33712
Noticed this line in the GCI test (build 137) build log:
`WARNING: No host aliases were added to your SSH configs because you do not have any instances. Try running this command again after creating some instances.`
But not in the GCE test (build 8325) build log.

[2016-09-30 16:39] derekwaynecarr opened #33843 "Feature request: ability to specify a min/max replica count on scaleable resources"
Users have requested the ability to set local min/max replica constraints for any resource that is a target for manual scaling (i.e. Deployment / ReplicaSet / ReplicationController / Job / PetSet).

The idea is that each spec for the related resources would have the following (similar to HPA):

[code]

If a user submitted a `kubectl scale` command that caused `Replicas` to fall out of the configur

[2016-09-30 16:43] jwforres opened #33844 "Losing deployment history when replicasets are re-used"
In 1.4.x

1. Create a deployment, wait for RS-1 to be created
2. Add an environment variable to a container in the pod spec of the Deployment, wait for RS-2 to be created
3. run kubectl rollout history for the deployment, you will see 1 and 2 in the list
4. Remove the environment variable added in step 2
5. run kubectl rollout history

Expected: In step 5 I would ideally like to see 1, 2, 3 in the

[2016-09-30 16:43] jwforres commented on #33844
cc @mfojtik @pmorie

[2016-09-30 16:44] bgrant0607 commented on #5164
This was the kubernetes-dev thread: https://groups.google.com/forum/#!topic/kubernetes-dev/Ot66oC_Il7E

[2016-09-30 16:44] pmorie commented on #33844
This seems very much like a bug to me.  There should be a way to retain the old information without losing it.

[2016-09-30 16:46] derekwaynecarr commented on #33843
I have users that want to run Spark or a Gluster management service that have basically requested this extra level of control to set local min/max replica boundaries for their resources where they wanted to have this additional level of control to prevent operator changes to replicas.

[2016-09-30 16:47] bgrant0607 commented on #33843
cc @erictune

[2016-09-30 16:47] jwforres commented on #33844
Yeah any UI trying to display the full history of the deployment is missing the data to do that.

[2016-09-30 16:49] mtaufen commented on #33712
If I ssh into one of the nodes running the GCI job I immediately get the message:
[code]

[2016-09-30 16:49] wongma7 commented on #33096
I think this has been resolved with https://github.com/kubernetes/kubernetes/pull/33182

I am still going to work on getting the missing groups back into client-go 1.4 today, not sure if that is still desired with the versioning situation in client-go.

[2016-09-30 16:49] ymqytw commented on #28694
I'm OK to get this issue closed if we don't need it any more.

[2016-09-30 16:51] bgrant0607 commented on #33843
I am not a fan of this feature. It would add API complexity and seems cumbersome. I think there are much more important issues with the controllers that we need to tackle if we're going to spend API review bandwidth.

[2016-09-30 16:51] mtaufen commented on #33712
[code]

[2016-09-30 16:53] jwforres opened #33845 "ReplicaSet is missing an owner ref of the Deployment that created it"
In 1.4.x

Create a deployment and wait for an RS to be created.  Check the yaml/json output of the RS

Expected: there should be _something_ on the RS that says what Deployment created it.  The proposal is related to https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/garbage-collection.md

Actual: nothing points back to the deployment.

This is a big problem for clients that want

[2016-09-30 16:53] caesarxuchao commented on #33096
It's still desired. Adding groups is a backward compatible change. Thanks!

[2016-09-30 16:53] jwforres commented on #33845
cc @mfojtik @pmorie

[2016-09-30 16:53] jwforres commented on #33845
cc @spadgett

[2016-09-30 16:53] pmorie commented on #33845
@kubernetes/sig-apps

[2016-09-30 16:53] jwforres commented on #33844
cc @spadgett

[2016-09-30 16:54] pmorie commented on #33844
@kubernetes/sig-apps

[2016-09-30 16:54] madhusudancs commented on #31071
@owenhaynes please try out the new deployment mechanism described here - http://kubernetes.io/docs/admin/federation/#prerequisites

[2016-09-30 16:54] quinton-hoole commented on #33667
@mwielgus @gmarek In #33769 I think that you need a lock on the Object (obj), not on the WatcherDispatcher, otherwise you still have a race while copying the object (if another go routine is writing the object concurrently)?

[2016-09-30 16:55] deads2k commented on #31524
I think we want to distinguish access by users from access by infrastructure.  Users are *not* trusted to pull any image.  Image scanning infrastructure *is* trusted to pull any image.  I think that's a fair assumption and I'd further claim that the image scanning infrastructure identity is important to keep distinct.  I don't think we should send in-cluster secrets to external systems, when those

[2016-09-30 16:56] justinsb commented on #33789
I'm using kops here, and the config worked in 1.3 and _should_ be the same as kube-up etc, but it is also possible that I am doing something wrong in kops.  @jk0 you said you were able to reproduce - was that with kube-up / kops / something else?  Would be great to start to narrow it down!  (And thanks for confirming @jk0!)

[2016-09-30 16:58] pmorie commented on #33845
This seems like a bug to me -- I would love for this to be fixed in a 1.4 minor version.

[2016-09-30 17:00] ericchiang commented on #31524
Having discussed this with @ecordell I think the issue is that the image scanning infrastructure _isn't_ trusted to pull images. User are trusted to scan their own images, but need some way of sharing that trust with the infrastructure.

[2016-09-30 17:03] krousey commented on #31503
@dchen1107 @piosz These are still issues. Any update on the fixes?

[2016-09-30 17:08] AdoHe commented on #33588
@smarterclayton should we allow trailing whitespace characters after `---`, if so we can trim the whitespaces when we read line by line?

[2016-09-30 17:10] AdoHe commented on #33844
@jwforres
[code]
how you do this?

[2016-09-30 17:10] deads2k commented on #31524
If you do this, not only does the infrastructure have the power to scan the images (you just sent them info), they also have the power to masquerade as someone else (you just sent them the secret), and you've lost auditability of access.

If you say that "the infrastructure doesn't have the power to read your images", but you turn around automatically send them that power along with your credentia

[2016-09-30 17:11] krmayankk commented on #33844
Hmm this sounds sure like something hat should be fixed but I am sure this is not a regression and this is the behavior in previous releases as well simply because we use the same rs

[2016-09-30 17:14] derekwaynecarr commented on #33843
@bgrant0607 - my response echoed your sentiment, but I got a fair amount of push-back from three distinct user communities looking to support Spark, Gluster, and a mobile application scenario.

At it's core the request is asking to have a way to prevent users from harming themselves.  User's can harm themselves any number of ways, so I get the complexity/cumbersome argument may not be worth it for

[2016-09-30 17:16] eparis commented on #33843
We are running into a number of places where the dev/person who wrote the app has these restrictions, but the operator doesn't likely know. It looks to me like a dev/ops split. Allow dev to keep ops from doing things to hurt themselves.

[2016-09-30 17:32] jk0 commented on #33789
@bcwaldon tagging you here

[2016-09-30 17:35] jwforres commented on #33844
On Fri, Sep 30, 2016 at 1:11 PM, TonyAdo <notifications@github.com> wrote:

In my case the same way I added it in the first place.  We found this
building out the openshift UI around Deployments, we already had
Environment editors for RCs, RSs, basically anything with a pod template
spec.  For kube you should at least be able to reproduce it using kubectl
edit.

[2016-09-30 17:36] wojtek-t commented on #33712
@mtaufen - this is clearly a bug:
https://github.com/kubernetes/kubernetes/blob/f595eede2d76407028d89399a4d03ee47454d4d0/cluster/gce/gci/configure-helper.sh#L593
it should be ```KUBEPROXY_TEST_ARGS```

And indeed this can be a reasons when I'm looking into it. Because KUBEPROXY_TEST_ARGS is generally non-empty only when TEST_CLUSTER_API_CONTENT_TYPE is set...

[2016-09-30 17:40] pwittrock commented on #33689
cc @mikedanese

[2016-09-30 17:40] vishh commented on #33712
So if this isolated to tests or is it affecting production as well?

[2016-09-30 17:41] mtaufen commented on #33712
Oh my god I am so glad you noticed that extra underscore. I just spent a half hour staring at those lines and trying to reproduce in bash, wondering what was different.

[2016-09-30 17:43] sjenning commented on #33838
GetObjectFromChan() is timing out (20s) and returning nil causing the panic.  Happens in TestSecretController (and probably TestIngressController) controller as well.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33392/kubernetes-pull-test-unit-integration/47289/

[2016-09-30 17:47] vishh commented on #33712
Also to clarify this is not a GCI issue, but rather a cluster turn up issue with cloud-init.

[2016-09-30 17:51] wojtek-t commented on #33712
Also to clarify this is not a GCI issue, but rather a cluster turn up issue with cloud-init.

Correct (though cluster turn up only in case of GCI - this is GCI-specific script).

So if this isolated to tests or is it affecting production as well?

I'm 99% sure it's test-related-only,

[2016-09-30 17:51] vishh commented on #33712
This is not affecting prod. So it should not impact GKE release.

On Fri, Sep 30, 2016 at 10:48 AM, Vish Kannan <notifications@github.com>
wrote:

[2016-09-30 17:58] mtaufen commented on #33712
https://github.com/kubernetes/kubernetes/pull/33848

[2016-09-30 18:10] mengqiy opened #33849 "Add tests for the code of client config"
Add tests to make sure the config code lives in `pkg/client/unversioned/clientcmd` generally works for every client. I think the team owns `pkg/client` is responsible for this.
This issue was discussed in #33138 before.

[2016-09-30 18:10] ymqytw commented on #33849
@kubernetes/sig-api-machinery

[2016-09-30 18:15] danmcp commented on #33843
I think @eparis nailed the interaction exactly.  The application writers are often the ones applying/suggesting these limitations for the deployer/operator.  It should generally be possible for the operator to override (at a config level) separate from the scaling operation itself.

[2016-09-30 18:23] derekwaynecarr commented on #33650
Ability to quota replica sets is WIP in this PR:
https://github.com/kubernetes/kubernetes/pull/29986

[2016-09-30 18:23] #29760 closed

[2016-09-30 18:24] pwittrock commented on #33814
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

[2016-09-30 18:24] #33814 closed

[2016-09-30 18:24] derekwaynecarr commented on #33650
@mfojtik - any chance to update this?

[2016-09-30 18:31] fraenkel commented on #32880
So I have come up with a new way which should make the response aka forwarding much much easier.  The request side is still a mess since I either use a fake stdin to retrieve the port information or it gets encoded as part of the URL.  While I could use the HTTP headers to transfer the information, that is not possible if we are looking at a javascript client.
Let me see where I end up with these

[2016-09-30 18:32] pwittrock commented on #33672
Looking at the most recent failure [here](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33803/kubernetes-pull-build-test-e2e-gke/14935/) it looks like there is something going on with ssh tunnels.

Sep 30 10:45:59.707: INFO: Failed to get response from guestbook. err: an error on the server ("Error: 'No SSH tunnels currently open. Were the targets able to accept an ssh-k

[2016-09-30 18:40] timstclair commented on #30069
Do we need to cherrypick this for a v1.4 patch release (v1.4.1)? It shouldn't break our builds (that's why we vendor), but maybe it could cause some of our jenkins tests to fail? Are there any other problems that could arise?

/cc @dchen1107

[2016-09-30 18:43] pwittrock commented on #33672
@fabioy This looks like an issue specific to GKE.  Is there someone who could help take a look?

[2016-09-30 18:48] mlbiam commented on #33762
so i got the latest release branch built...but then i realized that
api-server is in the docker images.  when's 1.4.1 supposed to be out?

Thanks

[2016-09-30 18:59] smarterclayton commented on #33843
It's usually not enough to do min/max.  We'd need to do cut outs - an etcd
pet set should probably only be allowed to exist at scales 3, 5, or 7.

On Fri, Sep 30, 2016 at 2:16 PM, Dan McPherson <notifications@github.com>
wrote:

[2016-09-30 19:00] yujuhong commented on #29325
@osterman, @ronnielai has fixed several image GC issues (see #29316) in 1.4 and 1.3. If this is still happening in your cluster, please file a new issue. Thanks!

[2016-09-30 19:00] #29325 closed

[2016-09-30 19:05] yujuhong commented on #33583
@luispabon in 1.4, kubelet uses kubenet by default, which no longer requires creating a cbr0 bridge and restarting docker. Since kubelet won't try to restart docker anymore, it'd assume docker is running already on the node. If you start docker first, kubelet should proceed normally without any problem.

[2016-09-30 19:07] mfojtik commented on #33650
i will get to this on Monday :(

--
Michal Fojtik

On 30 September 2016 at 20:25:20, Derek Carr (notifications@github.com)
wrote:

[2016-09-30 19:12] luxas commented on #33762
You can just build from a dockerfile like this:
[code]
and tag it as `gcr.io/google_containers/kube-apiserver-arm:v1.4.0` on your local machine

At last, v1.4.1 is out in 10th Oct

[2016-09-30 19:14] k8s-merge-robot opened #33855 "[k8s.io] Kubectl client [k8s.io] Kubectl should be able to talk to api server kubectl runing in a pod should talk to api server [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33850/kubernetes-pull-build-test-e2e-gce/61311/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl should be able to talk to api server kubectl runing in a pod should talk to api server [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #33850.

[2016-09-30 19:16] yujuhong commented on #29478
I think so. I probably wrote that before deciding to use kube_docker_client directly. Updated the original post to reflect the current status.

[2016-09-30 19:53] vishh commented on #33745
cc @Amey-D on dind with overlay storage driver not working.

[2016-09-30 20:04] k8s-merge-robot opened #33858 "kubernetes-kubemark-gce-scale: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1447/

Run so broken it didn't make JUnit output!

[2016-09-30 20:04] timothysc commented on #26637
So the only other object that seems appropriate might be component-status.

thoughts?

[2016-09-30 20:04] mwielgus commented on #33667
@quinton-hoole the idea is to copy the object on the same thread/goroutine as in which the modification happens. With this every goroutine will have its own copy that can freely modify without any lock.

[2016-09-30 20:05] pwittrock commented on #33672
Same issue:

Sep 30 11:12:59.778: INFO: Failed to get response from guestbook. err: an error on the server ("Error: 'No SSH tunnels currently open. Were the targets able to accept an ssh-key for user \"gke-fbbd273679b78946b7e6\"?'\nTrying to reach: 'http://10.32.1.6:80/guestbook.php?cmd=get&key=messages&value='") has prevented the request from succeeding (get services frontend), response:
Sep 30 1

[2016-09-30 20:09] mtaufen commented on #32684
@bprashanth have you had a chance to look at this test?

[2016-09-30 20:16] pwittrock commented on #33672
@spxtr Looks like this is a GKE smoke issue?

[2016-09-30 20:18] zhang8473 commented on #33689
Yes, my hostname includes a dash, but how do I know that my hostname must match (.a-z0-9?)*. It seems that Kube team did not mention that in the user guide.

[2016-09-30 20:23] mlbiam commented on #33762
Brilliant!!!!!!!!

Thank you, we're up and running!

[2016-09-30 20:23] #33762 closed

[2016-09-30 20:25] bboreham commented on #33790
I believe kube-proxy will not work properly on Centos unless the following setting is made:

    echo 1 > /proc/sys/net/bridge/bridge-nf-call-iptables

Could you please try this on the calling host?

If it is the solution, we will integrate into weave-kube.

[2016-09-30 20:27] bboreham commented on #33671
I believe kube-proxy will not work properly with Weave Net on Centos unless the following setting is made:

    echo 1 > /proc/sys/net/bridge/bridge-nf-call-iptables

If it is the solution, we will integrate into weave-kube.

[2016-09-30 20:35] zhang8473 opened #33863 "Does Kubernetes API support multiple resources configurations?"
I see that kubectl supports multiple resources in one configuration file.

The webpage is http://kubernetes.io/docs/user-guide/managing-deployments/

However, I do not see any Kuber API path supports it? I missed something or it does not exist or it is in planning???

Please just answer this simple "yes" or "no" question instead of guiding me somewhere else.

[2016-09-30 20:49] JustinAzoff commented on #33671
Yes, that improved things immediately.

[2016-09-30 20:49] kimoon-kim commented on #33790
I believe setting bridge-nf-call-iptables to 1 works. It was 0 in my cluster which couldn't translate service IPs to pod IPs. Now it works. Thanks!

[2016-09-30 20:50] philips commented on #33653
@xiang90 I think we need to backport to 3.0 to make a clean v2.3 -> v3.0 upgrade path, right?

[2016-09-30 20:54] saad-ali commented on #28081
Something in GCI is causing this test to flake frequently. @jingxu97 @kubernetes/sig-storage if you have the bandwidth to take a look. Otherwise I'll take a look when I get a chance

[2016-09-30 20:57] yaroslavvb opened #33864 "404 Not Found on /docs/user-guide/kubectl/kubectl/kubectl_run"
The following link is down: http://kubernetes.io/docs/user-guide/kubectl/kubectl/kubectl_run/
It's linked from http://kubernetes.io/docs/user-guide/kubectl/kubectl/ which is linked from http://kubernetes.io/docs/user-guide/kubectl-overview/

[2016-09-30 20:58] #33672 closed

[2016-09-30 21:11] nikhiljindal commented on #33312
The annotation I had tried I think was:

[code]

We should add a test case for that.
Can you or @mwielgus take that up?

[2016-09-30 21:11] lavalamp commented on #33849
What does "generally works for every client" mean?

[2016-09-30 21:17] lavalamp commented on #31798
OK, that was clear, thank you. Is this blocking anything?

[2016-09-30 21:19] smarterclayton commented on #5164
I would consider this an alpha that we are eager to get feedback on.  We
promise not to break openshift/observe:latest for at least 2 minor kube
releases, and unless this gets completely scrapped it's likely we can
create an equivalent.  We really need people finding value to commit to
keeping it.

On Fri, Sep 30, 2016 at 12:44 PM, Brian Grant <notifications@github.com>
wrote:

[2016-09-30 21:21] smarterclayton commented on #33849
When I said this, I anticipated the following:

* kubectl
* kubelet
* kube-proxy
* kube-scheduler
* kube-controller-manager
* extension controllers in contrib, like ingress
* third party controllers and clients

where there may be a gap between the top 5 and the bottom 2.

On Fri, Sep 30, 2016 at 5:12 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-09-30 21:27] bprashanth opened #33865 "federation-controller/TestSecretController nil pointer"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33587/kubernetes-pull-test-unit-integration/47348/
[code]
@kubernetes/sig-cluster-federation

[2016-09-30 21:31] freehan commented on #33631
Looks like a parsing problem
[code]

[2016-09-30 21:32] timothysc commented on #20504
@wojtek-t when do we want to default the api-server to 3 vs 2?  I can put that PR in..

[2016-09-30 21:34] vishh commented on #33222
If an app is sensitive to resource availability & performance, and doesn't
want to ever be starved of any compute resources, it should be in the
`Guaranteed` class.
If an app falls out of the `Guaranteed` class, then it can get evicted at
any time once it exceeds its requested amount of compute resources.

On Fri, Sep 30, 2016 at 2:38 AM, Pendoragon <notifications@github.com>
wrote:

[2016-09-30 21:43] smarterclayton commented on #32880
All of these APIs if they need to return structured data need to have a
mechanism for API versioning.  For web sockets we use websocket protocols,
so you would pick protocol one and go from there (see how exec and others
use it).

On Fri, Sep 30, 2016 at 2:31 PM, Michael Fraenkel <notifications@github.com>
wrote:

[2016-09-30 21:45] hongchaodeng commented on #33653
Latter.

Backporting feature is the last option. Before that, we need to verify the assumptions in the following ways:
- If we change Get() to serializable (non-quorum) and on falling-behind error falls back to linearizable (quorum), will it fix the problem?
- If the previous option doesn't fix the problem, will using PrevKV do?

[2016-09-30 21:51] yujuhong commented on #19094
I am closing this. The work was done in 1.2, and the rest of the open issues in the lists are not that relevant.

[2016-09-30 21:51] #19094 closed

[2016-09-30 21:53] fraenkel commented on #32880
I was originally trying to match the multiple port forwards on a connection which is what I ended up giving up on.  If I only allow a single port forward then it is doable.

[2016-09-30 22:06] yujuhong opened #33867 "Test runs leak resources in case of cluster-startup partial failure."
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33862/kubernetes-pull-build-test-kubemark-e2e-gce/1985/
[code]

/cc @wojtek-t @gmarek

[2016-09-30 22:07] jingxu97 commented on #33760
@kubernetes/sig-storage

[2016-09-30 22:09] jingxu97 commented on #29324
With @justinsb help, I am able to reproduce the error and also have a fix out PR #33796

To summarize, there are two approaches to produce this error.
1. cordon nodes; delete pods; uncordon node; (re)create pods
2. terminate nodes; pods evicted (deleted); (re)create pods
Although both approaches can produce the same error, they are caused by very different issues. Last time we fix issue 1 (PR #322

[2016-09-30 22:17] bprashanth commented on #31762
So to sum it up we could say:
* If you don't want anything deleting pets (including kubectl and system components like the nodecontroller), set a finalizer. As the admin, you are responsible for lifting this finalizer on each pet.
* If you want `kubectl delete petset` and `kubectl scale petset` to work, but don't want your pets deleted when there's a network partition, set `taint.alpha.kubernetes.

[2016-09-30 22:26] gmarek commented on #33867
This is fascinating... It basically means that we're leaking some resources.

[2016-09-30 22:48] thockin commented on #33222
Vish,

It's important in these discussions to distinguish the behavior wrt
compressible and incompressible resources.  If you go over your memory
request, your OOM-probability and eviction-probability goes up in the face
of contention.  If you go over your CPU request and there is contention,
you should just get throttled back to request.  Right?

On Fri, Sep 30, 2016 at 2:35 PM, Vish Kannan <noti

[2016-09-30 22:57] vishh commented on #33222
@thockin Yeah. I assume you are describing the behavior of `Burstable` pods. As for `Guaranteed`, they are (mostly) shielded from evictions and have to worry about CPU throttling only if the `limit` is lower than what is required for the containers.

[2016-09-30 22:57] nvnobelen commented on #33674
Closing this issue as an interpretation difference: The scale-demo is apparently not a good place to start with as base example for getting a high available service with no event loss.

[2016-09-30 22:57] #33674 closed

[2016-09-30 22:59] vishh commented on #33222
As for this specific issue, we'd like to keep kubedns in the `Guaranteed` class ideally. To do that though, we either need vertical scaling of compute resources or detailed profiling of resource requirements for kubedns across different cluster sizes and performance requirements (QPS)

[2016-09-30 23:08] smarterclayton commented on #31762
I think so.  Re the unresolved:

1. Assuming that we want Kubelets that recover from partition sufficiently
to acknowledge termination (by observing and resolving deletion), and
assuming that the node controller deletes but cannot finalize, then I think
petsets should automatically set a finalizer or at least make it obvious
how to do so (probably by default?).

I think that petsets controller cou

[2016-09-30 23:15] bulletRush commented on #33689
@zhang8473, kubeadm write some static pods in /etc/kubernets/manifests. kubelet will check this directory periodic. when kubelet startup, it checks static pod first, this log("must match...") only print once, then kubelet will try to connect kube-api-server time and time again.

You say you have changed your hostname at(/etc/hostname). I think this method isn't correct. I have changed my hostname

[2016-09-30 23:20] adityakali commented on #33745
@vishh why do you think this is related to storage driver? I was able to follow almost all the instructions from https://hub.docker.com/_/docker/ successfully, including the one with overlay storage driver:

[code]

I say almost because only the following command failed:
[code]
which seems to be failing on older `container-vm` as well. (looks like broken example).

Looking at the original error, t

[2016-09-30 23:24] vishh commented on #33745
@adityakali

My comment was based on @JorritSalverda's previous comment https://github.com/kubernetes/kubernetes/issues/33745#issuecomment-250741000

[2016-09-30 23:30] xiang90 commented on #33653
@hongchaodeng Right. I agree. We need to make sure PrevKV solve the problem before considering backport the feature back to 3.0.

[2016-09-30 23:58] thockin commented on #33222
Vish,  I think there's a disconnect, or maybe I am misunderstanding.

Guaranteed class means that you will never use more than your CPU limit.
While this SOUNDS good, it's actually pretty useless outside of benchmarks.

We absolutely want memory request == limit.  I do not think we want the
same for CPU.

On Fri, Sep 30, 2016 at 3:59 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-10-01 00:07] vishh commented on #33222
I assume you say this because we choose to hard limit CPU for guaranteed now.

1. It is an internal implementation detail and we can choose to change it in the future.
1. Ideally, if hard capping doesn't negatively impact apps, for example by having a short quota period, CPU limits wouldn't matter to most end users.

CPU isolation is one facet of QoS classes. `Guaranteed` class happens to include

[2016-10-01 00:13] kcichon-fsc commented on #33798
The thread in the #sig-cluster-lifecycle slack channel fixed out issue

bboreham [1:06 PM]
We are seeing issues with kubeadm installs on Centos 7 where `bridge-nf-call-iptables` is disabled. This means kube-proxy rules are not applied in all cases. Anyone else seen this?

luxas [1:43 PM]
No, but sounds like we should check for that in `kubeadm verify` when we're creating that command

dcfsc [1:58

[2016-10-01 00:20] thockin commented on #33222
For a benchmark or load-test, you want to know how your system performs at
the limits.  Request is guaranteed, so "the limit" is when you can't go
above your request.

In real operation, there's almost always free cycles to use.  Why would you
NOT use them?  CPU is a compressible resource.  There's very little cost to
using more CPU than you requested, as long as that CPU is available.  This
is di

[2016-10-01 00:37] euank commented on #32803
This is also partly a distribution problem I think, or at least can be solved by making sufficiently opinionated distribution coupling decisions.

If we can mandate "the shim is tightly tied to kubelet in distribution and version", then things become *much* easier.
Some of the benefit of having external remote runtimes is that their development and release can be decoupled a bit, but it doesn't ha

[2016-10-01 00:37] ymqytw commented on #21648
I'm using this to keep tracking the progress of all the `kubectl set` subcommands

| Subcommand  |  PR #     |  Assignee |
|---|---|---|---|
| - [x] image                | #25509 | @janetkuo
| - [ ] env               |               |
| - [ ] probe             | #25451 | @smarterclayton
| - [ ] volume         |               |
| - [ ] limits              | #27206  | @JacobTanenbaum
| - [ ] securit

[2016-10-01 00:38] #32889 closed

[2016-10-01 00:44] ymqytw commented on #29679
I'm using this to keep tracking the progress of all the `kubectl view` subcommands. `kubectl view` is the counterpart of `kubectl set`. I think it should at least have the subcommands that `kubectl set` has.
Ref: [`kubectl set`](https://github.com/kubernetes/kubernetes/issues/21648#issuecomment-250881311) #21648

| Subcommand  |  PR #     |  Assignee |
|---|---|---|---|
| - [x] image           | #

[2016-10-01 00:55] vishh commented on #33222
misunderstanding?

IIUC, you are primarily focussed on CPU quota, and not on QoS classes in general.

The real question I guess is why is CPU quota imposed on `Guaranteed` pods?
This was suggested by @erictune I think because `Guaranteed` pods should not consume more than what they asked for.
If we want to optimize for latency instead of burst capacity, then we can set the quota period to `20ms` f

[2016-10-01 01:01] krmayankk commented on #33845
I can work on this,  can someone assign it to me

[2016-10-01 01:02] bprashanth opened #33871 "install gcloud in gci toolbox"
Container vm had gcloud and it was really useful for debugging, can we pre-install it in the toolbox?
@kubernetes/goog-image

[2016-10-01 01:38] gaocegege commented on #30763
cool, @gacegege #dibs on this issue.

[2016-10-01 01:39] tonglil commented on #33776
Any way I can contribute to this and fix the docs?

This bit me today, so I am happy to do so.

[2016-10-01 01:52] derekwaynecarr commented on #33843
ack: enforcing odd numbers  is a reasonable request

[2016-10-01 01:52] bprashanth commented on #33611
Hmm, this appears to have resurfaced as of 2:00 PM today
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress-release-1.4/1502/console
[code]

[2016-10-01 01:53] zhang8473 commented on #33689
@bulletRush Exactly, I have restarted the machine after change /etc/hostname. Noe the static hostname displayed in my system is "g751jt". I still have the same problem.

[2016-10-01 02:26] yifan-gu opened #33873 "Discuss about some `name` fields in the CRI"
So during implementing the CRI, I found actually the [name of the Mount](https://github.com/kubernetes/kubernetes/blob/v1.5.0-alpha.0/pkg/kubelet/api/v1alpha1/runtime/api.proto#L104) and the [name of the PortMapping](https://github.com/kubernetes/kubernetes/blob/v1.5.0-alpha.0/pkg/kubelet/api/v1alpha1/runtime/api.proto#L90) are not useful for several reasons.

- Docker doesn't support names for th

[2016-10-01 03:20] thockin commented on #33222
Well, either way DNS should NOT be using quota.  It's killing our tail
latency.

On Fri, Sep 30, 2016 at 5:55 PM, Vish Kannan <notifications@github.com>
wrote:

[2016-10-01 03:28] bulletRush commented on #33689
@zhang8473
* first, remember kubelet argments via `ps aux | grep kubelet`. For me, it's:
[code]

* stop kubelet service: `systemctl stop kubelet`
* run kubelet in one terminal directly use command in first step and see what happend when kubelet startup

[2016-10-01 03:40] smarterclayton commented on #33843
I share some of Brian's concerns as I've mentioned before.  I think this
*tends* to be more of a requirement for pet sets (which was documented in
the original proposal but is not currently in the critical implementation
path).  Ultimately the expectation that the person doing the scaling
doesn't understand what is being scaled is somewhat difficult to enforce,
even if it's not unreasonable when d

[2016-10-01 03:51] ixdy commented on #33801
CI has built and uploaded unofficial prerelease darwin `kubectl` binaries for 1.4 using go1.7.1:

http://dl.k8s.io/ci/v1.4.1-beta.0.18+a3651952b7abbf/bin/darwin/386/kubectl
[code]

http://dl.k8s.io/ci/v1.4.1-beta.0.18+a3651952b7abbf/bin/darwin/amd64/kubectl
[code]

cc @luxas @pwittrock @david-mcmahon @liggitt @smarterclayton @jessfraz @Starefossen @gerred

Official binaries will ship as soon as we

[2016-10-01 03:51] #33801 closed

[2016-10-01 03:52] ixdy commented on #32999
Details for 1.4 [here](https://github.com/kubernetes/kubernetes/issues/33801#issuecomment-250890436).

[2016-10-01 03:52] #32999 closed

[2016-10-01 03:53] ixdy commented on #33070
Details for 1.4 [here](https://github.com/kubernetes/kubernetes/issues/33801#issuecomment-250890436).

[2016-10-01 03:53] #33070 closed

[2016-10-01 04:02] bprashanth commented on #33222
It currently still uses requests, not limits. And if we're only guaranteeing requests, it's probably still deieing. when the wrong pods land on the node (it might've been worse on debian where we didn't enforce the other addon limits).

[2016-10-01 04:08] MrHohn commented on #33784
Sorry, I let this in few days ago. I can help with this.

[2016-10-01 04:55] zhang8473 commented on #33689
@bulletRush I have gotten the `service kubelet` step. I checked the services. The kubelet is not running. I stuck at `kubeadm init`.

[2016-10-01 04:57] bulletRush commented on #33689
@zhang8473 you should start kubelet service up first, then run kubeadm init

[2016-10-01 04:59] zhang8473 commented on #33689
http://kubernetes.io/docs/getting-started-guides/kubeadm/
This user guide never tells me to run kubelet service up first.

[2016-10-01 05:03] bulletRush commented on #33689
@zhang8473 , 2333333333, hahhhhh, It'a mistake here. the guide for centos tell us to run kubelet, but the guide for ubuntu doesn't.

[2016-10-01 05:14] zhang8473 commented on #33689
@pwittrock @lukemarsden You need to do something on your documents...

[2016-10-01 05:26] #33081 closed

[2016-10-01 06:24] #33680 closed

[2016-10-01 06:29] owenhaynes commented on #31071
I would but the new deployment does not work on aws, only gcp.

On 30 Sep 2016 5:55 pm, "Madhusudan.C.S" <notifications@github.com> wrote:

[2016-10-01 06:39] chulkilee commented on #16083
Related links:

- [AWS Quick Starts: Amazon VPC Architecture](https://aws.amazon.com/quickstart/architecture/vpc/) describes "AWS best practices".
- [AWs Quick Starts: Linux Bastion Hosts on AWS](https://aws.amazon.com/quickstart/architecture/linux-bastion/)

[2016-10-01 07:07] wojtek-t commented on #33653
If we change Get() to serializable (non-quorum) and on falling-behind error falls back to linearizable (quorum), will it fix the problem?

We are using single-instance setup - will no-quorum change anything in this case?

If the previous option doesn't fix the problem, will using PrevKV do?

What is PrevKV? Can you please clarify?

[2016-10-01 07:17] gyuho commented on #33653
@wojtek-t

We have https://github.com/coreos/etcd/releases/tag/v3.1.0-alpha.1 that contains https://github.com/coreos/etcd/pull/5880.

[2016-10-01 07:23] wojtek-t commented on #20504
I'm not sure about changing the default, though we should probably change at least one of our blocking test suits to it. I will talk about it with @lavalamp on Monday.

[2016-10-01 07:48] monaka commented on #30769
Even though I wrote the workaround to https://github.com/coreos/bugs/issues/571, it's not good idea in case we use Kubernetes on CoreOS.

A most of all CoreOS users is using Hyperkube. So there is no need to prepare `/usr/sbin/mount.cifs`.
But there don't have cifs-tools in Hyperkube images (Not only CoreOS versions but also theofficial).
The pain point is here.

IMO, the best solution is to add c

[2016-10-01 07:51] luxas commented on #33689
It's not necessary to do `systemctl start kubelet` on Ubuntu, as the package automatically starts itself.
That's the convention for debian packages.

The convention for rpms is to not start the services automatically, so therefore we've left it to the user and documented it

[2016-10-01 08:01] davidopp commented on #31762
Sorry I didn't have time to read this whole thread but I saw "forgiveness" mentioned and just wanted to explain the semantics so you can check to make sure you're using it correctly (and BTW this feature is being implemented right now; it's not in 1.4)
* different kinds of problems result in NodeController or kubelet adding a taint to the node. The scenario you're probably interested in here is "n

[2016-10-01 08:17] k8s-merge-robot opened #33874 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot-release-1.4/415/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]