[2018-04-05 08:49] tnozicka commented on #31345
/remove-lifecycle frozen

[2018-04-05 08:53] soltysh commented on #61484
I've opened https://github.com/kubernetes/kubernetes/pull/62155 and increased the timeout to 1 minute similarly to the time GC tests are waiting for cleanups. @Liujingfang1 @mengqiy ptal

[2018-04-05 09:30] wojtek-t commented on #62064
Since there isn't much there, i went one more run before (so commits from 883 to 884):

https://github.com/kubernetes/kubernetes/compare/b1ef631e5971f6...07240b7166d83b

https://github.com/kubernetes/kubernetes/pull/60376 - unrelated (changes docker calls for setup things)
https://github.com/kubernetes/kubernetes/pull/55584 - unrelated (simple fix)
https://github.com/kubernetes/kubernetes/pull/603

[2018-04-05 09:47] shyamjvs commented on #62064
Thanks for looking into this @wojtek-t.
So like I mentioned in yesterday's offline discussion, there indeed seems to be different regression around run 884 of kubemark-5k (besides the other one b/w 860 and 862). Few reasons to believe it was around that time is:
- there's increase in 90%ile latency b/w 884-885 as you can see in the first graph in https://github.com/kubernetes/kubernetes/issues/620

[2018-04-05 09:56] bhack commented on #24472
@kubernetes/sig-aws-misc Have this feature a K8S target release?

[2018-04-05 10:06] shyamjvs commented on #62064
And wrt your https://github.com/kubernetes/kubernetes/issues/62064#issuecomment-378857941 - I also agree with you that it's most likely because of my pr #59832. Some of those points about endpoints having single entries earlier and the apiserver mem-usage increasing after the change - I explained them earlier under https://github.com/kubernetes/kubernetes/issues/44701#issuecomment-366246563 and ht

[2018-04-05 10:14] Miyurz opened #62156 "subPath in volumemount creates a directory instead of a file specified in configmap"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

**What happened**:
While trying to deploy a kubernetes helm chart with configmap, service and deployment.yaml, Its observed that the properties file, my.properties isn't getting created as specified in the subPath in deployment.yaml.Infact, a directory with the same name is created.

If configmap is deleted and then created again, it works

[2018-04-05 10:15] Miyurz commented on #62156
/sig storage

[2018-04-05 10:35] soltysh commented on #62128
It doesn't look like the test from the title is failing that many times. I've modified the regexp and looking at https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=run_deployment_tests the only time `run_deployment_tests` fails is at a single PR (https://github.com/kubernetes/kubernetes/pull/60201). I see `k8s.io/kubernetes/test/inte

[2018-04-05 10:36] cccdemon opened #62157 "Kubectl connects via TLS1.0 results in a Timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
tries to run "kubectl get pods"

**What you expected to happen**:
List of pods

**How to reproduce it (as minimally and precisely as possible)**:
disable TLS 1.0 in your Firewall, run kubectl get pods results in:
Unable to connect to the server: net/http: TLS handshake timeout

**Anything else we need to know?**:

**Envir

[2018-04-05 10:36] #62128 closed

[2018-04-05 10:44] jsravn commented on #57841
/remove-lifecycle stale

[2018-04-05 10:53] wojtek-t commented on #62064
That was different thing - they were empty because of validation problems.
Though that doesn't really matter now.

Yeah - thanks for looking into that.
The only think that I'm not convinced is that the regression was between 116-118 (not 115-118).

As you see, above I analyzed changes from between 883-885 kubemark runs. There are only 9 pontential PRs that may have cause that.

[2018-04-05 11:43] dims opened #62161 "Serial / Flaky / Slow tests should not be marked [Conformance]"
We have a new ci/pull job that runs conformance tests with a single node started using hack/local-up-cluster.sh.  Comparing runs of `pull-kubernetes-e2e-gce` and `ci-kubernetes-local-e2e` there are a few tests that we do not run on the GCE job because they are marked as `[Serial]` / `[Flaky]` / `[Slow]`.

Questions:
- Are these tests actually needed?
- Do we need a blocking pre-submit job that run

[2018-04-05 11:43] dims commented on #62161
/sig architecture
/sig testing

[2018-04-05 11:51] tnozicka commented on #61886
Given the nodes can change or be relabeled I don't think *statically* is the important word here. Although the admission change is *static* in a way as the admission is run before the pod is created and pod template is immutable.

It is the fact that DS implementation is a scheduler that schedules (assigns nodes) to imaginary pods - it does scheduling before those Pods are created and that's causi

[2018-04-05 11:51] MichaelSp commented on #30645
[code]

[2018-04-05 11:59] jerryduren commented on #58876
how to resolve the issue, I haven't find the answer for the question.
[discovery] Failed to request cluster info, will try again: [Get https://192.168.10.202:6443/api/v1/namespaces/kube-public/configmaps/cluster-info: dial tcp 192.168.10.202:6443: getsockopt: no route to host]

[2018-04-05 12:07] primeroz commented on #62099
Ok Great, i must have missed it in the changelog . Already did work around it so all good

thanks!

[2018-04-05 12:07] tnozicka commented on #40224
Fix is here https://github.com/kubernetes/kubernetes/pull/50102

/sig apps

[2018-04-05 12:08] wojtek-t commented on #62064
@shyamjvs The more I look into it, the more doubts I have that the regression is not between 115 and 116. If you look into metrics for replicactioncontrollers, the increased between 115 and 116. And I think this might actually be the same thing that is causing increase of patch nodes.

[2018-04-05 12:10] wojtek-t commented on #62064
Or maybe (looking into longer time horizon) these are only fluctuations...

[2018-04-05 12:11] cccdemon commented on #62157
/sig bug

[2018-04-05 12:12] cccdemon commented on #62157
/sig bugs

[2018-04-05 12:23] kartoch opened #62163 "Reject IPv6 address from openstack nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The openstack of the cloud provider automatically creates an IPv4 and an IPv6 addresses for new compute instances.

When a node is attached to openstack (via `cloud.conf`), both addresses appears in the `spec` section of node info, for instance:

[code]

For some operations, it now fails because IPv6 is not configured in

[2018-04-05 12:24] rydahl commented on #57897
I'm currently on 1.8.4 for nodes and 1.8.8 for master, moving up the nodes soon but I doubt it will fix the issue.

Happened again today about 30 minutes after we deleted some namespaces. We often rely of deleting a namespace which deletes services and controllers in the namespace. Would be interesting to see if deleting the services first before deleting the namespace would avoid the issue.

[2018-04-05 12:25] discordianfish commented on #39758
I don't get why it's okay for this bot to close all the issue people spend significant time on. It's really annyoing at this point. This is a valid issue.
/reopen
/remove-lifecycle rotten
/lifecycle freeze

[2018-04-05 12:28] rydahl commented on #57897
Looking back in log history this issue aligns very well with when we have deleted namespaces (and not created them again). Then the issue will appear causing problems with other services in other namespaces.

[2018-04-05 12:33] #57950 closed

[2018-04-05 12:34] danwinship commented on #51726
/remove-lifecycle rotten
/lifecycle frozen

[2018-04-05 12:37] dims commented on #62163
cc @leblancd @zioproto

[2018-04-05 12:41] jozuenoon commented on #35238
Hi. I'm hitting this with k8s version 1.8.10, my nodes randomly can't connect back to master and stay in stale mode forever. I need to go to nodes and restart kubelet manually with `systemctl`. Anyone ? kops `1.8.1`

[2018-04-05 12:42] discordianfish commented on #22723
Can somebody reopen this perfectly valid issue?
/remove-lifecycle stale
/lifecycle freeze

[2018-04-05 12:45] dims commented on #22723
/reopen
/remove-lifecycle rotten

[2018-04-05 12:45] dims commented on #22723
/assign @dims

[2018-04-05 12:45] dims commented on #22723
/reopen

[2018-04-05 12:45] dims commented on #22723
/unassign @dims

[2018-04-05 12:56] dims commented on #62157
/sig cli

[2018-04-05 13:04] codepainters opened #62164 "Empty PodCidr in kubelet logs when pod CIDR allocation is not used"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In my test setup I allocate POD CIDRs manually, `cbr0` bridge is configured before `kubelet` starts.
Important settings:
- on example node: `kubelet --pod-cidr=10.10.2.129/25 --network-plugin=kubenet`
- on master: `kube-controller-manager --allocate-node-cidrs=false`

Then I see confusing entries in `kubelet` logs (`grep

[2018-04-05 13:09] codepainters commented on #62164
/sig network

[2018-04-05 13:35] laurentiu-miu commented on #57666
So why is it closed?

[2018-04-05 13:38] k82cn commented on #61886
If this's the case, I'd like to let user correct his configuration instead of handling by k8s; the pending pods provide monitor info to correct it. If just 'ignore' part of target (by nodeSelector) nodes, that maybe hard to check the healthy of system; for example, the DS's status is correct, but other component is unhealthy (as that mismatch with the 'design').

The other option in my mind is to

[2018-04-05 13:40] laurentiu-miu commented on #57666
kubectl 1.10.0 fails during create resource ...
Is it possible to downgrade or something?
Why is this bug closed?

[2018-04-05 13:59] pmichali commented on #62163
One thought may be to have it prioritize using IPv4 address over IPv6 address, when both are present.

/area ipv6

[2018-04-05 14:07] aveshagarwal commented on #61886
One solution to address this issue is that I have been thinking is as follows:

1. DS controller creates one pod (called `first pod`/anchor pod) only. (In any case one pod has to be created anyway).
2. The first pod goes through the admission plugin chain (or anything else) as normal, and get scheduled (or may not get scheduled, perhaps does not matter much here). This means this pod has seen all

[2018-04-05 14:09] leblancd commented on #62163
@dims - Can the openstack cloud provider plugin drop (or ignore) the IPv6 addresses, at least until Kubernetes supports dual-stack?

[2018-04-05 14:15] tnozicka commented on #61886
Creating potentially hundreds or thousands of pods or not creating half of them at all just to "let" user know he needs to update his configurations seems like a naive approach, not really intuitive either :/ I wonder how many of them would even figure it out, or just say DSs are broken.

Creating a warning event is the preferred communication channel to a user, possibly reporting in the DS status

[2018-04-05 14:26] drpreag commented on #57280
When create flannel network you must use this:
kubeadm init --pod-network-cidr 10.244.0.0/16
Flannel must use 10.244.0.0/16, any else will fail.

Second, debian 9 has problem with k8s networking, I switched to Ubuntu.

[2018-04-05 14:27] soltysh commented on #45509
Personally, I don't see this reasonable for deployments. By its nature, deployments or rs/rc are not bound to any specific pods, all that matters is their number. If you're talking about specific pods you should work with statefulset, imo.

[2018-04-05 14:54] liggitt commented on #62156
duplicate of 61545, I think

[2018-04-05 14:56] liggitt commented on #62156
oh, actually, you don't have a key in your configmap named `my.properties`... the subpath needs to refer to an actual key in your config map (in the example above, `myProperties`)

[2018-04-05 15:05] cristifalcas commented on #57726
I would like to use this also. HOSTNAME to be replaced in arguments

[2018-04-05 15:12] kartoch commented on #62163
Thank your for your feedbacks.

@leblancd that the conclusion I have at the present time.

Something fun: it really depends of the first address in the spec section. For instance:

[code]

Give the IPv6 address but:

[code]

Returns the IPv4 address, so it sort the address based on the string comparison ?

My idea for the moment the alternative way I'm testing is ti have two interfaces, one public

[2018-04-05 15:17] cnedeljkovic commented on #62145
Same here (5 node cluster, k8s version 1.9.3, Ubuntu 16.04 LTS, 4.4.0-109-generic).

Deamonset we were trying to create/delete is part of official elastic yaml for metricbeat installation. Problem is specific to daemonset part, other parts of manifests behave correctly on deletion/creation. (https://raw.githubusercontent.com/elastic/beats/6.2/deploy/kubernetes/metricbeat-kubernetes.yaml).

* On 1s

[2018-04-05 15:28] k82cn commented on #61886
My major concern is to create a 'special' code path for such a case; not showing configuration error.
Prefer to handle DaemonSet similar to other Kinds, DaemonSet's character is one Pod per node.  For example, if RC's nodeSelector did not match any node after admission controller, we just let Pod pending here.

[2018-04-05 15:31] Paxa commented on #39557
Same issue may happen when using flannel with ipv6 disabled https://github.com/coreos/flannel/issues/936

[2018-04-05 15:57] jsafrane opened #62171 "AWS does not fail when provisioning a volume encrypted with inaccessible KSM key."
This is continuation of #48438 and #48936.

**What happened**:
When StorageClass refers to a key that is not accessible to Kubernetes (i.e. AWS API returns AccessDeniedException), AWS plugin still tries to provision a volume under assumption that while Kubernetes can't access the key, the other components may access it and create the volume and attach it to a node later.

Related code is [here](ht

[2018-04-05 16:01] enisoc commented on #61886
Just some more food for thought:

An admission controller on Pods can control what Pods ultimately get created, but it can't control what Pods other controllers want/try to create. Maybe we should consider a pattern for letting admission controllers validate/modify the Pod controller's template, before it ever tries to stamp out Pods from that template.

As a workaround, for example, you could per

[2018-04-05 16:03] tnozicka commented on #61886
I would say the difference is that RCs have specifically set replicas (scale) upfront while this modifies the scale for the DS

[2018-04-05 16:03] enisoc commented on #170
I'm not sure if admission plugins were already discussed as part of the motivation for potentially making use of the top-level PodTemplate resource, but here is a concrete use case where such a design would have been helpful:

https://github.com/kubernetes/kubernetes/issues/61886#issuecomment-378987100

[2018-04-05 16:04] mtaufen commented on #62009
We're trying to reduce user surprise.

When a bunch of flags suddenly disappear from the help, that's surprising.

It would be less surprising for deprecated flags to appear like
`Deprecated: -f, --flag val {Deprecation text} {Help text}`, or perhaps
have them in a separate section.

I'll add that it's important to provide notice in several places;
deprecation warnings in logs often miss the engin

[2018-04-05 16:10] tnozicka commented on #61886
As a workaround, for example, you could perhaps add an admission plugin on DaemonSet objects that applies the same rules to spec.template that you enforce directly on Pods in the PodNodeSelector.

@enisoc I have though about this as well - it is problematic w.r.t. to changes. If you directly modify a template and the namespace default node selector changes you are back where you've started, now wi

[2018-04-05 16:10] aveshagarwal commented on #61886
I had discussed similar approaches here:  https://github.com/kubernetes/kubernetes/issues/51788#issuecomment-331986761

You can see comments on them.

[2018-04-05 16:16] shyamjvs commented on #56032
Yes, I just turned it on yesterday to run by default on all PRs. However, note that I've made it non-blocking until the job stabilizes.

The reason for those failures is understood and I've sent fixes for it (https://github.com/kubernetes/test-infra/pull/7555, https://github.com/kubernetes/kubernetes/pull/62172). Will try to make it green soonish.

[2018-04-05 16:17] aveshagarwal commented on #61886
Thats why I proposed a different approach in my previous comment: https://github.com/kubernetes/kubernetes/issues/61886#issuecomment-378948754 and would like to get feedback what are the drawbacks to this approach and if it does not make sense at all.

[2018-04-05 16:52] tnozicka commented on #61886
@aveshagarwal I think this is similar to what I propose with **b)**, but slightly different

Not anyways, it might require to schedule 0 pods, but 1 excessive isn't that bad. One of my original ideas was that we could extend API endpoint for pod creation to support dry-run. (Actually also fixing `oc create --dry-run`.)

Would it be bound to a node or you would bound it later? Might need some kind

[2018-04-05 16:56] #56282 closed

[2018-04-05 16:59] dashpole commented on #57901
/remove-lifecycle stale

[2018-04-05 17:19] rramkumar1 commented on #59507
@m1093782566 @GoelDeepak @pires
PR is ready for review.

[2018-04-05 17:28] eparis commented on #62009
I'm not convinced this is the right thing to do. The help page should tell the users the right thing to do, not expose the wrong thing to do. But, just in case, people really really think it's important to keep telling users the wrong way to do things, I wrote https://github.com/spf13/pflag/pull/163

[2018-04-05 17:39] #61177 closed

[2018-04-05 17:42] kalise commented on #62061
@krmayankk
not sure what you mean. Is the expected behavior the correct one?

[2018-04-05 17:58] cjwagner commented on #53255
I have a design doc to make Tide support merge blocking issues. PTAL: https://docs.google.com/document/d/11u0mbxXXi6AmSWxh_6jvg_ljJ7re8jxiqeyjcKcDSg0/edit#
Members of the `kubernetes-sig-testing` and `kubernetest-dev` google groups have access.

[2018-04-05 18:03] fturib commented on #61176
Right now the tool "dns-horizontal-autoscaller" seems dedicated for kube-dns.

This tools is deployed as "add-on" hen enabled by this ENV variable : ENABLE_DNS_HORIZONTAL_AUTOSCALER

I guess we should have the definition of another dns-horizontal-autoscaller, dedicated to coredns (unless we generate the yaml file).

and the choice of deployment is based on the ENV variable CLUSTER_DNS_CORE_DNS.

s

[2018-04-05 18:17] chancez commented on #37471
@handlers I've been scratching my head on this one for a long time myself, and the -o` flag is just what I needed. Though, the `-o` is on xargs, not `kubectl exec` if anyone else reading it was a bit confused by that.

[2018-04-05 18:25] jiayingz commented on #59110
I also thought about allocation and de-allocation race problem, and it is actually one of the reasons I would prefer to not adding Deallocate into the device plugin gRPC API. To avoid single-point bottleneck, all of the gRPC calls in DeviceManager are not protected by any mutex lock. Now think about this scenario: Kubelet DeviceManager first gets a notification that containerA no longer uses devic

[2018-04-05 19:11] ieugen commented on #57280
@drpreag , could you please elaborate on the statement:

[2018-04-05 19:14] tnozicka commented on #61886
@aveshagarwal thanks for discussing the options in detail.

In practice setting anti-affinity to a particular node equals to binding it to that node, minus the extra checks and permission delegation to the default scheduler. My issue is **determining** a node (binding/binding by delegation) for a pod that doesn't exist yet. That's the root cause of the issue we are seeing.

Depends on if you set a

[2018-04-05 19:24] patrikerdes opened #62177 "TestCRIListPodStats is failing on macOS/Darwin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
`make test` on macOS fails for the test `TestCRIListPodStats`:

[code]

**What you expected to happen**:
I expect all unit tests to pass on [Linux, Windows and macOS](https://github.com/kubernetes/community/blob/master/contributors/devel/testing.md#unit-tests).

**How to reproduce it (as minimally and precisely as possib

[2018-04-05 19:32] #60610 closed

[2018-04-05 19:32] drpreag commented on #57280
I can't say what is going on and what is a reason, but I had a lot of problems with cluster on debian 9 machines (master + 3 nodes). Every time once in a while flannel pods crashed/restarted, also Dashboard crashes all the time. Pods can't ping. Can't expose out of cluster... I could bet it was a network problem.

After I deployed all a same to Ubuntu server 16.04. lts VMs (100% same k8s deploy sc

[2018-04-05 19:49] ieugen commented on #57280
Ok, thanks for sharing. What docker version are you using - I assume kernel is from stable or backports?

[2018-04-05 19:50] kamarajuPrathi commented on #23562
@ksingh7 I too dont see those files , where did find these files to be edited

[2018-04-05 19:51] dashpole commented on #57905
this is fixed by https://github.com/kubernetes/kubernetes/pull/60106

[2018-04-05 19:51] dashpole commented on #57905
/close

[2018-04-05 19:51] #57905 closed

[2018-04-05 19:58] patrikerdes commented on #62177
/sig node

[2018-04-05 20:07] drpreag commented on #57280
18.03.0-ce stable

[2018-04-05 20:25] mattnworb commented on #55046
Describing the ResourceQuota resource in the namespace gives you some of this:

[code]

[2018-04-05 20:25] bsalamat commented on #62109
I am pretty sure that I had seen an issue related to this feature. We must ensure that all open issues are addresses and we have enough test coverage.

[2018-04-05 20:28] ieugen commented on #57280
@drpreag : I believe that is the issue. Kubernetes is validated to be work in production with just a few docker version:

https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2018-04-05 20:33] bsalamat commented on #62068
As you have noticed, priority and preemption are enabled together. We can separate them, but first let me understand the problem better.
This is the scenario from your example: Client A runs hundreds of jobs and fills up all the available resources in the cluster and still has quite a few more jobs in the scheduling queue. Another client, Client B, with higher priority arrives and creates a few po

[2018-04-05 20:44] aveshagarwal commented on #61886
Yes I meant node affinity. In my understanding, I dont see any issue with it. Node affinity allows the default scheduler to do the actual binding/scheduling, and DS controller only assigns node affinities.

I am not sure I understand here, once the previous step, if you have found how a final pod looks, then why this situation arises?

Pardon my ignorance, but why batching is so important here?  A

[2018-04-05 20:51] mtaufen commented on #62009
I think your comment on that PR outlines the problem well; some people (like me :wink:) want a deprecation policy that keeps deprecated flags visible with a warning until they are actually removed, while other people want the flags to be hidden as soon as they are marked deprecated.

[2018-04-05 21:03] mtaufen commented on #62009
We should be able to treat help as an opinionated recommendation, or simply as reference documentation that explains available options, depending on our target audience.

In this case, we surprised at least a few people by defaulting to the former...

[2018-04-05 21:07] aveshagarwal commented on #62068
One use case of priority without preemption could be: 1) lets say a node (or a set of nodes or could be whole cluster) is drained and restarted after upgrade or node issues, and now just priority makes sure that higher priority pods in the scheduling get scheduled first.

[2018-04-05 21:07] msau42 opened #62178 "Volume binder doesn't need node cache"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
Scheduler predicate already passes in the node object.  We should not keep our own node cache.  This breaks autoscaling which has fake Node objects.

[2018-04-05 21:17] RochesterinNYC commented on #55046
Doesn't `kubectl describe resourcequota` for a namespace accomplish this?

[code]

[2018-04-05 21:31] kad commented on #59110
@jiayingz regarding race condition: we have piece of code that adds device to allocatable pool in pkg/kubelet/cm/devicemanager/manager.go (updateAllocatedDevices). IMHO, Deallocate should be called in that function for all devices in the difference between previous state and new state (`m.allocatedDevices = m.podDevices.devices()`). This will make sure that deallocate will be called before any new

[2018-04-05 21:38] eparis commented on #62009
I really do try to listen, even when I don't agree  :)

If jordan and tim tell me I'm wrong and we should do this, I'll merge to pflag.

[2018-04-05 21:41] msau42 commented on #62178
/assign @aleksandra-malinowska @jsafrane @bsalamat

[2018-04-05 21:42] msau42 commented on #62178
whoops should be on the PR, not the issue
/unassign @aleksandra-malinowska @jsafrane @bsalamat

[2018-04-05 21:45] handlers commented on #37471
Updated the comment @chancez!

[2018-04-05 21:54] janetkuo commented on #61886
@tnozicka My first thought was to use dry-run create to simulate the admission chain before creating pods, too. It should solve this issue. Would you elaborate more on what problem "batch" solves and why dry-run isn't enough?

[2018-04-05 22:06] janetkuo commented on #61645
@piosz can you answer this one?

[2018-04-05 22:30] tallclair commented on #60999
What is the action item for 1.11 here? Just to announce the deprecation in the release notes?

Alternatively we could remove the gitRepo volume handling from the Kubelet, and instead inject an init container to setup the volume (e.g. https://gist.github.com/tallclair/849601a16cebeee581ef2be50c351841). Could this approach have backward compatability issues?

[2018-04-05 22:30] RenaudWasTaken commented on #59110
So the problem I'm seeing right now (correct me if I'm wrong) is that there is no "formal" Pod Stopped lifecycle event and it leads to the `Deallocate` call needing to be called in the `PodAdmit` (and thus being blocking).
I don't think there really is a race, we just need to figure out the lifecycle story.

I see two solutions:
- Reject the pod
- Try to implement the "Pod Stopped" event
   - This

[2018-04-05 22:41] bhack commented on #54011
Any plan for the next cycle?

[2018-04-05 23:00] vikaschoudhary16 commented on #60001
cc /me

[2018-04-06 00:02] #53016 closed

[2018-04-06 00:03] #56316 closed

[2018-04-06 00:23] dbenhur opened #62185 "clients: port exec-based client auth provider to non go-lang clients"
With 1.10, this exec-based client auth credential provider alpha feature was introduced  [kubernetes/features#541](https://github.com/kubernetes/features/issues/541) for client-go.  Kubernetes project also [officially supports](https://kubernetes.io/docs/reference/client-libraries/) [Java](https://github.com/kubernetes-client/java/), [Python](https://github.com/kubernetes-client/python), [dotnet](

[2018-04-06 00:42] #60616 closed

[2018-04-06 00:53] #54017 closed

[2018-04-06 01:01] #52568 closed

[2018-04-06 01:01] #54576 closed

[2018-04-06 01:18] tallclair commented on #39845
/assign @wangzhen127

[2018-04-06 01:33] msau42 commented on #62077
I brought up my own alpha cluster, and I saw that the event-exporter pod was crash looping.  When I tried to get the container logs, I got an error from the API server instead:

[code]

Did something change recently regarding tls configuration? @kubernetes/sig-auth-bugs

[2018-04-06 01:33] msau42 commented on #62034
This looks a lot like #62077

[2018-04-06 01:36] k82cn commented on #61886
IMO, DS use nodeSelector in `YAML` file (without admission) to define the replicas dynamically; for admission modification, prefer to handle it similar with other Kind, e.g. RC.

Anyway, sig-apps makes the final decission :)

[2018-04-06 02:49] #58836 closed

[2018-04-06 02:53] rtayalla commented on #61944
The kube-dns is working fine once i stoppped the Iptables services after deleting the kube-dns pod. But I could not able to figure out why the kube-dns is going crashloopbackoff once i restart the iptables.
As soon as i delete a pod while the iptables are running kube-dns is going to crashloopbackoff. Can anyone help me to get it work with Iptables ?

[2018-04-06 03:49] liggitt commented on #62077
Nothing I'm aware of…

[2018-04-06 03:55] vikaschoudhary16 commented on #59110
My preferred approach for deallocate is to handle it out of kubelet or gRPC interface to keep things simple. Lets assume device plugin knows pod-to-device mapping, either it is through a file based contract b/w kubelet and device plugins or by passing pod-id in Allocate or some other way. Next device plugin can keep watching k8s api server for a [DELETED event](https://github.com/kubernetes/kubern

[2018-04-06 04:37] ericxiong commented on #23864
+1

[2018-04-06 05:03] thockin commented on #57015
Ping @cheftako

On Thu, Apr 5, 2018, 6:02 PM fejta-bot <notifications@github.com> wrote:

[2018-04-06 05:04] thockin commented on #57015
/remove-lifecycle stale

On Thu, Apr 5, 2018, 10:03 PM Tim Hockin <thockin@google.com> wrote:

[2018-04-06 05:53] Miyurz commented on #62156
@liggitt my bad! it was a typo. its my.properties and not myProperties

[2018-04-06 06:25] AishSundar commented on #62131
Reopening this issue since there are more images to be migrated

/reopen

[2018-04-06 06:34] wu0407 commented on #54918
has same plobem

[2018-04-06 06:35] RahulG115 commented on #57280
due to restart policy it keeps on creating the containers and assign it to interface , delete all ips and then create pods , only ip u get will be the pod ip .
this is a bug of not cleaning the pod ip when container unable to start.

[2018-04-06 07:02] poeyashi commented on #57897
I confirm that precisely. Summing up, as a workaround, resources in namespace (for sure services, not sure about others but it may be safer to clean up everything) need to be removed before deleting the namespace itself. Not a clear solution but one can live with that until it's fixed.

[2018-04-06 07:03] kartoch commented on #62163
Tracking progress on kubernetes/cloud-provider-openstack#89

[2018-04-06 07:03] #62163 closed

[2018-04-06 09:39] RenaudWasTaken commented on #59110
Let's not introduce a parallel API to the device plugin for pod / container lifecycle events.

That seems to me like it breaks the API responsibilities. Additionally even if we move the Deallocate at the pod level, we can't just watch the `Deleted` event as a Pod can end up in multiple other states before it's deleted: {Succeeded, Failed, Unknown}.
For example in the case of a Job, it'll tend to b

[2018-04-06 10:10] #53373 closed

[2018-04-06 10:29] lfaoro commented on #62053
What's the update on this issue? I'm experiencing something similar.

![image](https://user-images.githubusercontent.com/3834345/38416385-d59f0622-3994-11e8-85b3-69bcea74e5eb.png)

heapster log:
[code]

GCP Nodes
[code]

Maybe the heapster is lacking some privileges?

[2018-04-06 11:11] disha94 commented on #61901
When I check the node events and kube-proxy pod logs, I am getting the following errors:
server.go:480] starting metrics server failed: listen tcp 127.0.0.1:10249: bind: address already in use
<img width="1147" alt="screen shot 2018-04-06 at 3 59 43 pm" src="https://user-images.githubusercontent.com/14833876/38417463-0542b628-39b6-11e8-91fc-f230365ee063.png">

This is happening not just for the me

[2018-04-06 11:12] jsafrane commented on #61283
Should this issue be closed? Fixes have been merged into all maintained branches.

[2018-04-06 11:46] jsafrane commented on #61372
Can this issue be closed now?

[2018-04-06 11:53] andyzhangx commented on #24317
Hi, is there any update on this issue?

[2018-04-06 12:01] gnufied commented on #24317
@andyzhangx We are going to fix this in 1.11 . There is a feature repo - https://github.com/kubernetes/features/issues/554

Here is a WIP design proposal for the work - https://docs.google.com/document/d/1r_5cYRclF9pPO_m_qUwuj5t1e4-gWxmiyxFanPgOnhc/edit?usp=sharing

[2018-04-06 12:05] andyzhangx commented on #24317
@gnufied awesome! Just loop me in the PR, I would love to verify it in the first beginning.

[2018-04-06 12:17] discordianfish commented on #62078
@josdotso Any reason you think this is better than providing this in the downward API as #40610 suggested? Feels like the better way to me. I'll try to get #40610 revived.

[2018-04-06 12:26] kad commented on #59110
I totally agree here with @RenaudWasTaken. We can call it differently than `Deallocate()`, name doesn't really matter. What matters is that Kubelet informs plugin that device is not anymore in use and that Kubelet is going to put device back into the pool of allocatable devices.

[2018-04-06 12:28] sibtainabbas10 commented on #56610
Hi @MaSattari, I used the following `cloud-config`

[code]

Make sure you have set a tag on all resources in the form of KubernetesCluster=<cluster name> (Cluster name is usually kubernetes by default)
a) All instances (master and worker nodes)
b) One and only one Security Group for each instance should be tagged. This will be modified as necessary to allow ELBs to access the instance

[2018-04-06 12:33] vikaschoudhary16 commented on #59110
This is a no-api solution. Anyways from the comments above i can see that we all agree that Kubelet does not expect a return value from DeAllocate.

For example in the case of a Job, it'll tend to be deleted a lot later after it's finished.

Did you mean to say pod's container may end in multiple other states before pod gets deleted?
Devices gets allocated at Pod level and even during container re

[2018-04-06 12:40] vikaschoudhary16 commented on #59110
kubelet should not put device back in allocatable until Deallocate is not completed and to ensure this we will have to wrap gRPC calls in mutex. This could increase latency at UI.

[2018-04-06 12:42] #61283 closed

[2018-04-06 12:43] #61372 closed

[2018-04-06 13:16] iftachsc commented on #19317
following @derekwaynecarr workaround - which helped me allot - wrote this script which will delete all terminating projects. sort of cleanup script. please someone tell me, i am one RedHat Openshift Enterprise! 3.7 and facing this issue. its so stupid that even i will just create an project and immediatley will delete it i will stumble on this issue. isnt this crazy?!?!!? the enterprise version co

[2018-04-06 13:28] RenaudWasTaken commented on #59110
- As mentioned higher you don't have to issue the `Deallocate` calls during pod admission.
- Additionally if you are not putting the devices in `Available` you don't need to lock `Allocate` and `Deallocate`
- Note that these calls are not ran in parallel so this won't increase latency.

This simple model should be enough to cover our use cases:
![capture](https://user-images.githubusercontent.com/

[2018-04-06 13:30] kad commented on #59110
In theory, we can workarround that. Correct me if I'm wrong:
- We have `updateAllocatedDevices()`. Code there uses mutex that is hold while list is updated. Here we just need to calculate difference and store it. Not long lock.
-  We can introduce here new list that will be serving as "deallocate" queue. Then, we can make goroutine to call gRPC in non-blocking way. Once gRPC call finished, device

[2018-04-06 13:33] MaSattari commented on #56610
@sibtainabbas10 Thak you for your response.
I am using AWS ECR, I was asking for setting this credentials within  cloud-config .
Do you have any idea?

[2018-04-06 13:59] klausenbusk commented on #55633
/remove-lifecycle stale

[2018-04-06 14:36] rydahl commented on #57897
Updated our code to cleanup svc, rc and secrets before removing namespace. Will keep fingers crossed and report back when I know more.

[2018-04-06 14:37] vikaschoudhary16 commented on #59110
@kad But this approach does not guarantee that deallocate will be invoked after container stop. This seems another form of lazy reclaim.
I and @RenaudWasTaken had a small discussion on slack regarding an alternate approach. I would request you to please share your opinion there and once we have some level of consensus, may be we can create a proposal draft.

[2018-04-06 14:51] tnozicka commented on #61886
@janetkuo Yes, doing dry-run, an API call returning you a Pod that would have been created except for writing it to storage, and using that to find the real nodeSelector solves 98% of the issue.

There is still a subtle race though. I know it's not a deal breaker, although the separate pod creation and then setting the desired node (using node affinity) as its consequence seems a bit cleaner to me

[2018-04-06 15:15] tnozicka opened #62197 "Support API CREATE with dry run"
Clients/Controllers need to know how a resource would look like without creating it. It can be changed by admission or defaulting. That's why we need dry run version of that API call to go through all that chain regular resource would have gone, just without storing it to etcd and with avoiding side effects from admission plugins.

Use cases:
 - [DaemonSet needs to know how the Pod's nodeSelector

[2018-04-06 15:16] tnozicka commented on #61886
We need dry run first and from what I was told it won't be easy to get it in reasonable time. I have created a separate issue for dry run here https://github.com/kubernetes/kubernetes/issues/62197

[2018-04-06 15:17] msau42 commented on #48677
@kubernetes/sig-storage-feature-requests
/cc @msau42 @jsafrane

[2018-04-06 15:24] msau42 commented on #48677
Sorry, the trick will no longer work due to https://github.com/kubernetes/kubernetes/issues/60813

We will have to reconsider if/how to support this feature request as the subpath code is quite complicated now

[2018-04-06 15:28] kevtaylor commented on #48677
@msau42 Which trick are you referring to - the symbolic link in the init container ?
We found that out by trying to go above 1.9.3 and they all failed

[2018-04-06 15:31] liggitt commented on #62197
probably a duplicate of https://github.com/kubernetes/kubernetes/issues/11488

[2018-04-06 15:32] msau42 commented on #48677
Yes

[2018-04-06 15:41] josdotso commented on #62078
@discordianfish whatever way works is best for me :)

Getting access to the node labels natively works for me!

Thanks!

[2018-04-06 16:13] gabrielfsousa opened #62200 "v1.10 master Initializing wont work"
/kind bug

/sig cluster-lifecycle

**What happened**:
[code]

**kubelet logs**

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
1.10
- Cloud provider or hardware configuration:
vmware
- OS (e.g. from /etc/os-release):
centOS 7.4
- Kernel (e.g. `uname -a`):
3.10.0-693.21.1.el7.x86_64

[2018-04-06 16:27] mtaufen commented on #62009
@liggitt @thockin :)

[2018-04-06 16:30] josephtyler commented on #50608
I'm also having issues with this. I'm on version 1.7.6. Even when the cluster is created I'm not seeing the ELB configured properly. It appears that it's not respecting the annotations at all.

[2018-04-06 17:07] msau42 commented on #48677
@kevtaylor actually the trick could still work if you use a hard link instead of a symlink.  As long as the link you're creating is in the within the same volume, then we will allow it.

Anyway, regarding this feature, we need to have further API discussions because as @mtaufen points out, this is straddling the line with templating and could have broader implications.  I can bring it up in the ne

[2018-04-06 17:25] msau42 commented on #48677
For this particular use case of logging, have you considered using a distributed logging pipeline with fluentd and elasticsearch?

[2018-04-06 17:30] gabrielfsousa commented on #62200
is this my problem ?

[code]

[2018-04-06 17:31] filbranden commented on #61474
@adelton, @jmontleon Can you please check that opencontainers/runc#1776 fixes your problem? You'd have to apply that on top of Kubernetes vendored opencontainers/runc... I guess you know how that works, right? I'd appreciate if you can do that, since I don't have a Kubernetes on Rawhide environment right now, so I guess you're better positioned to confirm that that works as expected... Thanks!

[2018-04-06 17:44] janetkuo commented on #61886
Side note: in @lavalamp's `kubectl apply ` reboot (server-side apply) design doc, [supporting dry-run](https://docs.google.com/document/d/1q1UGAIfmOkLSxKhVg7mKknplq3OTDWAIQGWMJandHzg/edit#heading=h.l9253eydpkpi) is one of the required changes.

[2018-04-06 18:01] pkennel commented on #41711
Agreed, there is a big distinction between having a resource declared in a yaml file, vs being required to use your brain, or annotate in a README.md that one should additionally create a config file with a separate cli command than `kubectl apply` or `kubectl create`

I would also love to see this feature implemented.  I would at least love to know what the logic is behind not supporting a kubern

[2018-04-06 18:01] stealthybox commented on #33766
I'm running into this with Helm
Same use case downgrading an existing LoadBalancer Service to a ClusterIP

[code]

[2018-04-06 18:02] timothysc commented on #61764
We're working on a fix right now and trying to cleanup some other legacy issues.  Please use the kubeadm repo for logging the details.

/assign @timothysc
cc @liztio

Closing this issue in favor of: https://github.com/kubernetes/kubeadm/issues/744

[2018-04-06 18:02] #61764 closed

[2018-04-06 18:04] rithujohn191 commented on #58605
Note: https://github.com/kubernetes/kubernetes/pull/61508 changed the behavior to make `email_verified` not a required field.

[2018-04-06 18:38] pmahoney-raise opened #62204 "AWS security group (not created by kubernetes) deleted when deleting ELB"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a Kubernetes (`v1.7`) in AWS. I created a Service of type `LoadBalancer` and used the annotation `service.beta.kubernetes.io/aws-load-balancer-extra-security-groups` to apply an extra security group to the ELB that gets created.

The extra security group was created outside of Kubernetes, with the expectation that

[2018-04-06 18:41] msau42 opened #62205 "Volume binding integration test can be flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
At the end of each test case in `TestVolumeBinding`, the pods, pvcs and pvs are force deleted.  But it's still possible that objects are not deleted immediately if apiserver is having problems.   This could cause the next test case to bind to PVs in previous test cases.

An example occurrence:
ht

[2018-04-06 18:48] pmahoney-raise commented on #62204
@kubernetes/sig-aws-bugs

[2018-04-06 18:56] #62178 closed

[2018-04-06 18:57] shyamjvs commented on #62064
I ran once against 116, and it looked like this:

[code]

Will run again later.

[2018-04-06 19:13] msau42 commented on #62205
Hm adding a wait at the end seems to have increased test time by a minute though.

I could also restructure it so each test case uses a different storageclass.

[2018-04-06 19:42] jhorwit2 opened #62207 "kubectl dry run no longer outputs the apiVersion and kind"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area kubectl
/sig cli

**What happened**:

`kubectl create configmap --dry-run` previously output the apiVersion and kind, which allowed you to pipe it into an apply later. It no longer does as of kubectl 1.10

[code]

**What you expected to happen**:

I expect the apiVersion and kind to still be included like it does with kubectl from 1.9.

[2018-04-06 20:01] toolboc commented on #61277
I am getting a similar result to @nikhilno1 when attempting to initialize a master node on a raspberry pi.  Any assistance is much appreciated.

```kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:44:10Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/arm"```

 `jou

[2018-04-06 20:04] liggitt commented on #62207
duplicate of https://github.com/kubernetes/kubernetes/issues/61780
fixed in https://github.com/kubernetes/kubernetes/pull/61808
will be in 1.10.1

/close

[2018-04-06 20:04] #62207 closed

[2018-04-06 20:11] tallclair commented on #54522
Another scenario affected by this: Configure a ValidatingAdmissionWebhook that checks policy on pod creation, and fails closed. The webhook's node goes down, but the cluster cannot bring it backup since it fails the admission check.

I feel like a warning with the various ways to break the cluster (and how to avoid it) should minimally be laid out on https://kubernetes.io/docs/admin/extensible-adm

[2018-04-06 20:14] jingxu97 commented on #59642
@gekart very sorry for the late reply. We are currently working and testing on a restore volume from snapshot workflow. The current design includes the following steps

1. Create a snapshot for the volume
2. Request a restore to PVC (by adding a restore annotation, or could also be done in a new PVC field)
3. A new volume and PV is created, but PVC is still bound to the original PV because it is s

[2018-04-06 20:16] jingxu97 commented on #43672
/remove-lifecycle rotten.

[2018-04-06 20:18] jingxu97 commented on #43672
@jiefugong We are currently working and testing on a restore volume from snapshot workflow. Please see the issue #59642 for more details. Thanks!

[2018-04-06 20:40] dashpole commented on #61815
I see two possible issues here:

1. CNI is not configured correctly: `network plugin is not ready: cni config uninitialized`
2. The kubelet may be getting disk pressure when it should not be: `eviction manager: attempting to reclaim imagefs`.  To confirm this, please provide the flags used to start the kubelet, as well as the location of the kubelet's root directory (`/var/lib/kubelet` by default

[2018-04-06 21:04] liggitt commented on #62157
that's odd... the apiserver only enables TLS 1.2, and kubectl connects to it just fine... do you have http_proxy or https_proxy envvars set?

[2018-04-06 21:11] ixdy commented on #61986
we do have a `kube::realpath` in `hack/lib/init.sh`, though. #62210

[2018-04-06 21:28] davidz627 opened #62213 "Start running hostpath CSI driver test on GKE when driver registrar removed"
Hostpath CSI Driver e2e test was failing on GKE due to insufficient permissions to create cluster roles:
#61781

It was then determined that cluster roles for the driver registrar are too permissive in general.

The test will remain disabled on GKE until we are able to remove the node update permissions requirement from the driver registrar or remove the driver registrar entirely.

/kind enhanceme

[2018-04-06 21:30] davidz627 commented on #61781
We can only add bootstrapped roles for the provisioner and attacher for now. After talking to @liggitt some more we've determined that giving each node permissions to update any other node through driver registrar permissions is too big of a security hole. Therefore, the fix for this test is to skip it if it is running on GKE until #62213 resolved.

[2018-04-06 21:39] dims opened #62217 "Conformance test is always skipped"
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/container_probe.go#L281

- Should we just yank the conformance tag?

[2018-04-06 21:39] davidz627 commented on #62213
some background on the decision: #61866

[2018-04-06 21:39] dims commented on #62217
/sig testing
/sig architecture

[2018-04-06 22:00] cccdemon commented on #62157
Nope, no http_proxy or https_proxy envvar ist set.
Our Firewall just blocks TLS1.0 via Webfilter.

As you see in the Wireshark dump - kubectl tries to establish an TLS1.0 Connection.

[2018-04-06 22:17] ianchakeres opened #62218 "Building Kubernetes on osx fails with 3GB memory, now requires 4.5GB+"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Current instruction state that Kubernetes requires 3GB to build in Docker on osx. Attempting to build (`make quick-release`) with 3GB, 3.5GB, and 4.0GB fail.

**What you expected to happen**:

I expect osx users to be able to build Kubernetes, and the instructions to indicate that at least 4.5GB of memory are required.

[2018-04-06 22:25] kevtaylor commented on #48677
Yes. It isnt quite that simple. Our legacy apps write a number of log files not just single streamed stdout so we need to isolate them into a file system structure and get splunk to log them. If we have multiple pods running on a single instance then the file systems have to be uniquely partioned.

[2018-04-06 22:28] kevtaylor commented on #48677
Also it isn't really straddling templating. There is already environment expansion in command and args. This is just extending that same principle into the volume mount. It's really quite a small pr change to be quite fair.

[2018-04-06 22:43] hongchaodeng commented on #61012
cc @mitake
I know that you would be interested :)
Could you write down your use case here too?

[2018-04-06 23:08] verult opened #62221 "Node affinity not validated against label value format"
/kind bug

Each term in NodeAffinity's NodeSelector is validated against the label name format, but not the label value format:
https://github.com/kubernetes/kubernetes/blob/8d28c5102be9159104839c2848b9889a7c8870b7/pkg/apis/core/validation/validation.go#L3003

whereas both label names and label values are validated for the `Label` and `spec.NodeSelector`, among other things, using this function:
h

[2018-04-06 23:28] ianchakeres commented on #62218
/sig contributor-experience

[2018-04-06 23:31] ianchakeres commented on #62218
/sig docs

[2018-04-06 23:43] bsalamat commented on #62068
Makes sense. I am fine with adding a separate feature gate for preemption.

[2018-04-06 23:46] alvaroaleman opened #62223 "Openstack cloud provider broken: `failed to get external ID from cloud provider: instance not found`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Since 1.10 the kubelet does not start anymore. Identical config as for 1.9.6.

Error is: `"23:23:44.967761    7342 kubelet.go:1349] Kubelet failed to get node info: failed to get external ID from cloud provider: instance not found`

**What you expected to happen**:

Kubelet starting

**How to reproduce it (as minimally and precisel

[2018-04-06 23:47] alvaroaleman commented on #62223
/sig openstack

[2018-04-06 23:54] dims commented on #62223
@alvaroaleman i've proposed a cherry pick, we have fixed this in master

https://github.com/kubernetes/kubernetes/pull/62224

[2018-04-07 00:02] alvaroaleman commented on #62223
@dims That only fixes the issue of the instance name does not contain dots

[2018-04-07 00:06] #41369 closed

[2018-04-07 00:06] dims commented on #62223
and this one https://github.com/kubernetes/kubernetes/pull/61890

[2018-04-07 00:08] esetnik commented on #24903
I have this issue but it seems to affect only `latest` tag images. The specific error is `Failed to pull image "hello-node:latest": rpc error: code = Unknown desc = Error response from daemon: pull access denied for hello-node, repository does not exist or may require 'docker login'`

For example:

[code]

When I give the image a tag it works:
[code]

[2018-04-07 00:16] tonnyhk opened #62229 "issue solved in this way: #systemctl daemon-reload #systemctl restart kubelet #kubeadm reset remove swap $iptables -F $swapoff -a $free -m #kubeadm reset #kubeadm init --pod-network-cidr=10.244.0.0/16 **** the output ****#mkdir -p $HOME/.kube #sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config ****output*** #kubectl get pods --all-namespaces NAMESPACE NAME READY STATUS RESTARTS AGE kube-system etcd-tonny 1/1 Running 0 1m kube-system kube-apiserver-tonny 1/1 Running 0 1m kube-system kube-controller-manager-tonny 1/1 Running 0 1m kube-system kube-dns-86f4d74b45-cq94w 0/3 Pending 0 1m kube-system kube-proxy-hfvbl 1/1 Running 0 1m"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-04-07 00:41] gnufied commented on #45726
Assigning for myself for further investigation.

/assign

[2018-04-07 00:56] liggitt commented on #62221
tightening validation isn't generally backwards compatible, especially since it can cause problems with already-persisted data.

if you use an invalid label value in this field, what are the consequences? if it simply means you don't get a match, that doesn't seem that bad.

[2018-04-07 00:57] #62218 closed

[2018-04-07 01:06] bsalamat opened #62232 "Affinity predicate processes affinity to self incorrectly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
While I was working on #62211, I noticed a bug in affinity predicate when [it checks a pod's affinity to itself](https://github.com/kubernetes/kubernetes/blob/ee8c6d99b6064d3e490ad8607d1bfe28d86dd3d9/pkg/scheduler/algorithm/predicates/predicates.go#L1402). This check is important to ensure that the first pod of a service t

[2018-04-07 01:28] qianzhangxa commented on #2630
Thanks @eatnumber1! So Nginx initially runs with root, and later reset uid, gid and supplementary groups with what are configured in `nginx.conf`. Then I think with the [pod security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/), we can set `fsGroup ` to the group configured in `nginx.conf`, in this way, even after Nginx resets its supplementary groups, it ca

[2018-04-07 02:24] msau42 commented on #62156
I don't think it's a dup?  The paths don't look like they overlap to me...

[2018-04-07 02:25] msau42 commented on #62156
Also note that the cluster version is 1.8.7, which doesn't have the security fixes

[2018-04-07 02:27] msau42 commented on #62156
@Miyurz can you clarify, do you still see the issue after fixing the typo?

[2018-04-07 02:39] eatnumber1 commented on #2630
From a cursory reading about pod security contexts, it seems like it would.
I haven't used them though (note that my original comment on this bug is
multiple years old).
On Fri, Apr 6, 2018 at 20:28 Qian Zhang <notifications@github.com> wrote:

[2018-04-07 03:32] #40123 closed

[2018-04-07 06:12] resouer commented on #62068
Good to see the use case is clear, let me take care of this change if no one has picked it up.

/assign

[2018-04-07 07:25] k82cn commented on #62068
IMO, it's a kind of run-to-complete pods, maybe @salilgupta1 can give more info :)

As comment above, that's reasonable request to me.

[2018-04-07 07:57] redbaron commented on #57916
/remove-lifecycle stale

[2018-04-07 11:35] #42298 closed

[2018-04-07 13:30] gogeof commented on #62200
@gabrielfsousa I think maybe you can docker pull k8s.gcr.io/pause-amd64:3.1 manually to check whether is the problem of network or not. But in my situation, I start k8s cluster success, but after deploy calico network, and pull k8s.gcr.io/pause-amd64:3.1 already in the local machine, but still told me k8s.gcr.io/pause-amd64:3.1 not found.

[2018-04-07 14:36] redbaron commented on #62100
Do you run scheduler with custom policy config?

[2018-04-07 15:01] gabrielfsousa commented on #62200
did a manually pull and works :( dont know whats the problem

[2018-04-07 15:39] #42125 closed

[2018-04-07 16:14] davidkarlsen commented on #48677
This is definitively needed, pods for the same pod-template/deployment could land on the same host (even though the scheduler will try to avoid this), and this would result in a path clash w/o this option. Also some logging is so voluminous that splunk/elk/fluentd would just be too costly.

[2018-04-07 17:41] #44214 closed

[2018-04-07 20:37] victorp13 commented on #55894
Small tip: To find out what exact apps/xxx api version your cluster supports, use

`kubectl api-versions`
and the exact apps/xxx version will be listed there

[2018-04-07 21:16] liggitt commented on #61016
Does this rely on or modify the state of GOPATH outside the k8s.io/kubernetes folder? If so, I wouldn't expect it to run in make all

[2018-04-07 22:00] Sarga commented on #62100
I've run it with config

`{
    "kind" : "Policy",
    "apiVersion" : "v1",
    "predicates" : [
        {"name" : "PodFitsPorts"},
        {"name" : "PodFitsResources"},
        {"name" : "NoDiskConflict"},
        {"name" : "MatchNodeSelector"},
        {"name" : "HostName"}
    ],
    "priorities" : [
        {"name" : "LeastRequestedPriority", "weight" : 1},
        {"name" : "BalancedResource

[2018-04-07 22:54] NerdsvilleCEO commented on #61016
@liggitt I don't think it does, I am just moving the verify_prereqs to a separate verify_deps target which I use everywhere it needs to happen https://github.com/NerdsvilleCEO/kubernetes/commit/54f88b337d8ab6d0c846fd1de9f9959585580554#diff-d9c2fbed1afd68d84fa4c7027beaaea0R158

[2018-04-07 22:55] NerdsvilleCEO commented on #61016
Let me check the verify_prereqs function, will get back to you

[2018-04-07 23:03] jhorwit2 commented on #53023
/reopen
/remove-lifecycle rotten

I run into this fairly often but also can't reliably reproduce it or see what's actually wrong.

[2018-04-07 23:04] jhorwit2 commented on #53023
/lifecycle frozen

[2018-04-07 23:10] jhorwit2 commented on #53023
/assign
/reopen

[2018-04-07 23:11] jhorwit2 commented on #53023
/reopen

Third times the charm?

[2018-04-07 23:30] jhorwit2 commented on #53023
cc @kubernetes/sig-apps-bugs

[2018-04-07 23:48] Sarga commented on #62100
I've found option
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/predicates.go#L70

with such config it is working well
[code]

Thanks a million @redbaron

[2018-04-07 23:48] #62100 closed

[2018-04-07 23:55] jhorwit2 commented on #53023
/unassign

[2018-04-08 02:11] abel-von opened #62238 "Volume with Block Mode should also be able to be mounted in pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**: Huawei provides a new container runtime called "secure container" based on "runv", it supports passing a block device file name in `/dev` to it and mount it to a path in container, e.g. `docker run -v /dev/sda:/mnt`, it will mount the sda to the /mnt in the container. this is for the io performance and stability promot

[2018-04-08 02:12] m1093782566 commented on #53639
/close

[2018-04-08 02:12] #53639 closed

[2018-04-08 02:34] andyzhangx commented on #42628
azure file mount on Windows is avaiable from v1.9.0
/close

[2018-04-08 02:34] #42628 closed

[2018-04-08 02:35] andyzhangx commented on #42628
Just let me know if there is any concern, I am the feature owner of this azure file mount on Windows.

[2018-04-08 02:52] cblecker commented on #61016
The `kube::build` functions are a part of the hermetic container build system, where as the `make [all|WHAT=]` target assumes that you have a working local development environment. The `kube::golang::place_bins` function is the only non-build system function that uses rsync.

All we probably need is a clearer error message (using `kube::log::error`) in the place_bins function if you don't have rsy

[2018-04-08 02:54] max8899 commented on #56610
Hi @MaSattari
In my case, I didn't specify any cloud config, starting kubelet with `kubelet --cloud-provider=aws ` and assign your aws ec2 with this IAM role:

[code]
That works for me.

[2018-04-08 02:56] #62229 closed

[2018-04-08 03:05] NerdsvilleCEO commented on #61016
Ok, want me to make a PR to make clearer errors?

[2018-04-08 03:07] cblecker commented on #61016
Yes, feel free to! You can `/assign @cblecker` to me for review.

[2018-04-08 03:09] feiskyer commented on #62164
Kubelet need to make a check of CIDR before `kl.updatePodCIDR()`

[2018-04-08 03:09] feiskyer commented on #62164
/assign

[2018-04-08 03:10] maguowei commented on #56038
thanks @wu0407   https://github.com/maguowei/kubernetes-for-china

[2018-04-08 04:03] anfernee commented on #60860
@bsalamat this issue can be closed.

[2018-04-08 04:33] #61328 closed

[2018-04-08 05:27] #61986 closed

[2018-04-08 06:40] lth2015 opened #62246 "iptables rule: -A POSTROUTING -s x.x.x./cidr -j FLANNEL missing #971"
Pods on Some nodes in k8s cluster(production) can not communicate with other pods and nodes.
After debugging, I find some rules are missing, compared with a good one(on other node) there is the difference:

![3efd8c17982e975c89be5cc0b1840020](https://user-images.githubusercontent.com/12841814/38293318-97a790c2-3819-11e8-9876-9ad3fb05f01f.png)

Additionally, I find some "error log" in kube-proxy:
[

[2018-04-08 06:42] wenlxie commented on #62238
Not sure I get what you mean.
But I suppose you wants the feature like:
1. Define a pod with Hostpath volume source
2. The hostpath volume path is a Block device
3. Define the mapped volume path at `VolumeMounts`

1. Hostpath not do mount/unount at the host
2. It pass the dev to container via `-v` option

I think Docker had support  "docker run -v /dev/sda:/mnt" already.

[2018-04-08 07:25] lth2015 commented on #62246
/sig network

[2018-04-08 07:33] andyzhangx opened #62247 "default fstype of azure disk is "ext4" which is not applicable for Windows disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[This line of code](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/azure_dd/azure_provision.go#L124) will set default fstype as `ext4` which is not applicable for Windows disk

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2018-04-08 07:39] cofyc opened #62248 "Local plugin should report WarnAlreadyMountedVolume event to apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

See discussion: https://github.com/kubernetes/kubernetes/pull/62102#discussion_r179238429

**What you expected to happen**:

When `fsGroup` cannot be enforced in local plugin, a warning event should be reported to apiserver, then user can know it by `describe pod`.

[2018-04-08 07:40] cofyc commented on #62248
@kubernetes/sig-storage-bugs

[2018-04-08 07:55] #47222 closed

[2018-04-08 07:55] #53800 closed

[2018-04-08 07:55] #54194 closed

[2018-04-08 08:12] solsson commented on #62078
In the meantime maybe we could collaborate on a docker image that implements this feature as init container? Preferrably using a k8s lib rather than [bash](https://github.com/Yolean/kubernetes-kafka/pull/41). Env and/or args would tell which node labels to transfer to which labels/attributes. Init containers lend themselves nicely to composition.

[2018-04-08 08:56] #14140 closed

[2018-04-08 09:25] ddongchen commented on #61702
In the same namespace, the pods may be created by deployment, or created by our own "CRD" controller. we just want to classify it via different resource quota.

[2018-04-08 09:41] nak3 opened #62252 "kubectl create deployment fails when specifying image with hash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubectl create deployment` does not work if we specify docker image
with hash.

[code]

**What you expected to happen**:

- container name should drop `@sha256` from `mariadb-102-centos7@sha256`.

**How to reproduce it (as minimally and precisely as possible)**:

Just following one command only

[code]

**Anything else

[2018-04-08 09:57] #53692 closed

[2018-04-08 09:57] #55075 closed

[2018-04-08 09:57] #55091 closed

[2018-04-08 10:02] ricky1993 commented on #56539
@liqlin2015 you can try to use DaemonSet with nodeSelector.

[2018-04-08 10:08] #62247 closed

[2018-04-08 10:30] nak3 commented on #62252
@kubernetes/sig-cli-bugs

[2018-04-08 10:38] nak3 opened #62255 "Bash completion does not work for initContainers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Following command does not complete initContainers' name.

[code]

**What you expected to happen**:

`kubectl logs POD_NAME -c <TAB>` completes initContainers' name.

**How to reproduce it (as minimally and precisely as possible)**:

After deploy pod with initContainers, then:

[code]

**Anything else we need to know?**:

[2018-04-08 10:41] nak3 commented on #62255
@kubernetes/sig-cli-bugs

[2018-04-08 10:58] #44200 closed

[2018-04-08 10:58] #55036 closed

[2018-04-08 11:35] discordianfish commented on #43168
@soltysh Not sure I understand, how does ussing delete slowly help?

Either way, just tried to reproduce it and couldn't. Not sure how it got into this state when I ran into the problem.. Will update if it happens again.

[2018-04-08 12:45] pablotoledo opened #62256 "kubeadm init - hang"
**What happened**: kubeadm init always hang. The kube-apiserver docker instance it's always being reacreated around every each3 minutes.

**What you expected to happen**: To complete the kubeadm init

**How to reproduce it (as minimally and precisely as possible)**: I've defined this vagrantfile https://github.com/pablotoledo/kubernetes-poc/blob/master/Vagrantfile and the error is when I'm definin

[2018-04-08 13:00] #28174 closed

[2018-04-08 16:03] #49835 closed

[2018-04-08 16:03] #45010 closed

[2018-04-08 17:04] #55239 closed

[2018-04-08 17:04] #55035 closed

[2018-04-08 17:26] mkumatag commented on #38067
/remove-lifecycle stale

[2018-04-08 18:05] #55264 closed

[2018-04-08 19:00] pablotoledo commented on #62256
@kubernetes/sig-node

[2018-04-08 19:01] pablotoledo commented on #62256
@kubernetes/sig-node

[2018-04-08 19:03] pablotoledo commented on #62256
@kubernetes/sig-node-bugs

[2018-04-08 19:06] #55280 closed

[2018-04-08 19:06] #33532 closed

[2018-04-08 19:06] #47956 closed

[2018-04-08 19:06] #48361 closed

[2018-04-08 21:08] #10045 closed

[2018-04-08 21:08] #52167 closed

[2018-04-08 21:08] #54698 closed

[2018-04-08 21:34] liggitt commented on #10045
fixed by https://github.com/kubernetes/kubernetes/pull/59884

[2018-04-08 21:37] viridia commented on #25908
Just discovered this thread after spending a day trying to write a log agent that would upload the stdout / stderr of my rendering task to a database, only to discover that the presence of the agent in the pod would mean that the job would never terminate.

Of the suggestions given above, I like the 'sidecar: true' one the best, as it is simple and to the point - very understandable to a developer

[2018-04-08 22:09] #51275 closed

[2018-04-08 22:09] #55074 closed

[2018-04-08 22:09] #55337 closed

[2018-04-08 22:59] exp0nge commented on #60884
Same issue on Raspbian Stretch.

[2018-04-08 23:10] #50894 closed

[2018-04-08 23:10] #55406 closed

[2018-04-09 00:11] #49048 closed

[2018-04-09 00:11] #54981 closed

[2018-04-09 00:42] randomvariable commented on #62171
Checking the KMS key feels wrong here, as you could still create an encrypted EBS volume and not have the DescribeKey permission in IAM or via the key policy.

If the main source of errors are sent via CloudWatch Events, then best practice would seem to be to subscribe via SNS to receive those events.

Possibly fall back to vague "send an error to user during volume attach (!) that a volume does n

[2018-04-09 01:12] #55430 closed

[2018-04-09 01:26] qianzhangxa commented on #2630
Besides supplementary group, I think [POSIX ACL](http://man7.org/linux/man-pages/man5/acl.5.html) can be another solution to fix this issue, I mean we can add an ACL entry to grant `rwx` permission to the pod/container user on the volume. But I do not see POSIX ACL is not mentioned in this thread, any drawbacks it has?

cc @thockin @saad-ali

[2018-04-09 01:36] 13567436138 opened #62260 "api-server can not start up ,the cluster is installed by kubespray"
@kubernetes/master
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
api-server can not start up.
**What you expected to happen**:
api-server started up and running
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]
**Environment**:
[code]

/sig scheduling
/kind bug

[2018-04-09 01:59] 13567436138 commented on #62260
/sig  bugs

[2018-04-09 02:02] 13567436138 commented on #62260
@kubernetes/Apps

[2018-04-09 02:25] ghost opened #62262 "apply Flannel with backend vxlan to k8s, so lag, the netword capacity slow down %20."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-04-09 02:34] ghost opened #62263 "apply Flannel with backend vxlan to k8s, so lag, the netword capacity slow down %20."
I was integrating a the flannel (whose backend is vxlan) as a overlay forwarding netowrk upon k8s in product cluster. I found that the network performance has been slow down about 20% when dockers communicating across hosts. But it was noraml when dockers hosting one machine communicating. I dont down what is the root-cause. Any CNI flaw remaining in current  k8s mainline?

Is there any work aroun

[2018-04-09 03:12] LouisStAmour commented on #24873
For folks coming here from Google, on my test instance, the last comment's `all` doesn't appear to include `ingress`, and also you have to say `--all-namespaces` to get it to dump other namespaces.

Related: https://github.com/kubernetes/kubernetes/issues/42885 and https://github.com/kubernetes/kubernetes/pull/42954#issuecomment-285949856 etc.

[2018-04-09 03:33] farajfarook commented on #50745
How did you guys fix this issue?

[2018-04-09 03:55] xiaoxubeii commented on #53089
Same problem here, the pod container cannot access clusterip because of not host iptables rules.

[2018-04-09 03:59] xiaoxubeii commented on #59044
Same problem. This makes cni macvlan weakness.

[2018-04-09 04:11] swqmaven opened #62265 "About PetSet"
in fabric8.kubernetes.client 1.4.20 version How to use PetSet in java client?
@kubernetes/sig-kubernetes-client
@kubernetes/sig-ExtensionsAPIGroupDSL

[2018-04-09 04:15] #54471 closed

[2018-04-09 04:47] swqmaven commented on #62265
@kubernetes/kubernetes-client
@kubernetes/ExtensionsAPIGroupDSL

[2018-04-09 04:58] #62252 closed

[2018-04-09 05:10] #62265 closed

[2018-04-09 05:32] fejta-bot opened #62267 "pr:pull-kubernetes-kubemark-e2e-gce-big flaked 24 times in the past week"
### Flaky Job: pr:pull-kubernetes-kubemark-e2e-gce-big
 Flakes in the past week: **24**
 Consistency: **92.00%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 28 |
| Kubemark Overall | 23 |
| Kubemark Test | 20 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2018-04-09 06:18] mfaizanse opened #62270 "Get message from process inside initContainer in status.message/status.reason"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I am using Kubernetes SDK to provsionion a deployment/pod with initContainer and also using the SDK to get the status of the pod and return the status of my service in (custom format) to user. I see that the "ContainerStateTerminated" struct contains reason and message fields. If a initContainer fails then the reason

[2018-04-09 06:36] mitake commented on #61012
Hi @hongchaodeng, thanks for ccing me :)

In our use case, the gang scheduling feature is required for executing distributed learning task of deep learning frameworks (e.g. TensorFlow or MXNet).

Such frameworks have two processes in the learning task: parameter server and worker. Basically, the parameter servers and workers which belong to a single learning task must be scheduled at once. If the

[2018-04-09 06:40] irvifa commented on #30558
Based on [#22](https://github.com/GoogleCloudPlatform/cloud-builders/issues/22) we can use:

- name: 'gcr.io/cloud-builders/kubectl'
  id: 'test entrypoint bash'
  entrypoint: 'bash'
  args:
  - '-c'
  - |
    gcloud container clusters get-credentials --project=$PROJECT_ID --zone="<some-region>" "<cluster-name>"
    kubectl create configmap <configmap-name> --from-file=<key>=<file-name> -n <namesp

[2018-04-09 07:36] wojtek-t commented on #62064
We need one or two more runs, but this seems like "before-regression" to me.

[2018-04-09 07:39] #55314 closed

[2018-04-09 07:48] abel-von commented on #62238
@wenlxie  The volume source may be any volume that has has is block mode. docker do support `docker run --device=/dev/sda:/dev/xxx`, which pass the block device file directly to the container, but will not do the mount for the container.

[2018-04-09 07:51] abel-von commented on #62238
@wenlxie What I want is a volume which is a block mode can be defined in volumeMount in pod, our container runtime has implemented the logic that if we pass a block file to it in the Mount of a container, it will do the normal mount but not the bind mount.

[2018-04-09 08:56] nikhita commented on #60444
/area code-generation

[2018-04-09 09:35] orainxiong commented on #62061
@kalise

Kubelet  is responsible for mounting and unmounting volumes, and AttachDetach Controller  is responsible for attaching and detaching volumes.

The rough sequence of behavior would be:  **attach-mount-unmount-detach**, there should guarantee as to the order of the operations.

When kubelet restart due to node shutdown, the unmount logic would fail to be called.

The unmount operation could

[2018-04-09 09:59] gyliu513 opened #62276 "Many kubelet parameters do not include default value in help message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Such as the parameter of `runtime-request-timeout` for kubelet, the help message do not include the default value, I need to search in the code to get the default value.

**What you expected to happen**:
We should add the default value in help message like 1.9.

[code]

/sig cli

[2018-04-09 10:15] shyamjvs opened #62277 "Some cluster components still using JSON for api calls"
Today, while looking at some e2e metrics for our scale tests I saw that there are still few things that are using json instead of protobuf.
Should these be moved to protobuf or do we have a reason to not?

Here's a rough list of components using json ([ref](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/114/artifacts/MetricsForE2E_density_2018-02-21T

[2018-04-09 10:28] SacDin commented on #33245
/reopen

[2018-04-09 10:48] shyamjvs commented on #62277
The one with NPD was surprising even for me - as those 'patch node' calls
are made in huge numbers and this may be a low-hanging fruit for us.

cc @Random-liu

On Mon, Apr 9, 2018, 12:22 PM Wojciech Tyczynski <notifications@github.com>
wrote:

[2018-04-09 11:02] myqq0000 commented on #61815
@dashpole Thank you for your advice.
I have solved this problem. It because that my root directory is not enough.
It's "imagefs.available<20%" in the default set of eviction policy. But my root directory only have 12%...
But I think it should not evict itself. Or it need some warning if there's not enough storage.
It may be improved in the future?

THANKS~

[2018-04-09 11:30] jsafrane opened #62278 "Old LocalVolumeSource documentation"
**What happened**:
Documentation of LocalVolumeSource says:

[code]

**What you expected to happen**:
Local block volumes are implemented in 1.10 and it's in Beta now. It should be documented in API together with its consequences e.g. that a block device is supported now and such device must be used in volumes with `VolumeMode=Block`.

@dhirajh @ianchakeres, PTAL

[2018-04-09 12:24] disha94 commented on #49263
@MrHohn Facing a similar issue..
https://github.com/kubernetes/kubernetes/issues/61901

[2018-04-09 12:25] Martinho0330 commented on #51165
@anurag-saran hihi, I have come across this issue too...Have you resolved it yet? How's the progress?

[2018-04-09 12:58] nikhita commented on #26507
/remove-lifecycle stale

[2018-04-09 13:03] ianchakeres commented on #62278
/sig storage

[2018-04-09 13:06] Martinho0330 commented on #51165
/reopen

[2018-04-09 13:29] r7vme opened #62280 "Azure cloud provider can not properly handle recreation of the pod with pvc"
/kind bug

**What happened**:
We are seeing frequent issues related to pvc in our Azure clusters. In particular, when pod is recreated it fails to start with `FailedMount` error.

**What you expected to happen**:
Pod successfully and relatively quickly recreated.

**How to reproduce it (as minimally and precisely as possible)**:
1. create deployment (single pod) with pvc on multi-node k8s cluster.

[2018-04-09 13:30] r7vme commented on #62280
/sig azure

[2018-04-09 13:47] rhuss commented on #61277
I experience the same issue with kubeadm 1.10.0 on raspi3 (hypriot os 1.8.0) but also see the kube-apiserver & etcd process running at full blast CPU:

[code]

Load of the pi even after 20 minutes running is `load average: 6.31, 5.16, 4.66`

This even continues after `kubeadm init` bailed out. There's nothing suspicious in those containers log though.

[2018-04-09 14:49] andyzhangx opened #62282 "UnmountDevice would fail in containerized kubelet"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When a pod with disk mount PVC is already moved from a node, the PVC is always be in node.volumesInUse, makes StatefulSet pod stuck in ContainerCreating forever. Although I found this issue on Azure, I think it's a common issue.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possibl

[2018-04-09 14:56] lainekendall opened #62283 "Creating a deployment ignores apiVersion"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
`kubectl apply -f deploy.yaml` where `deploy.yaml` is copied directly from the documentation https://kubernetes.io/docs/concepts/workloads/controllers/deployment/:
[code]
Then `kubectl get deployment nginx -o yaml` produces:
[code]

**What you expected to happen**:
To have a deployment named `nginx` that is of `apiVersion

[2018-04-09 14:59] lainekendall commented on #62283
/sig apps

[2018-04-09 15:26] nvnobelen commented on #62070
Tried to reproduce non-responsiveness of DNS after issue, did not reproduce.

[2018-04-09 15:26] #62070 closed

[2018-04-09 15:26] #55464 closed

[2018-04-09 15:27] msau42 commented on #62238
Why can't the secure container runtime look at volumeDevices?

[2018-04-09 15:37] tnozicka commented on #62197
@liggitt With the second half of this [comment](https://github.com/kubernetes/kubernetes/issues/11488#issuecomment-295273918)
[code]
I've realized it might be better to have a separate issue making sure this is in the API, no matter what way kubectl goes.

[2018-04-09 16:06] salilgupta1 commented on #62068
Hopefully, a single Client isn't using all the resources at any given time, but yes it could happen. If that is the case, we definitely want the next available resources (when any of Client A's jobs finish) to go to someone else, which is why it seems advantageous to bump Client B further up in the queue.

We're hoping to give users a fairer chance at future available resources.

And @k82cn these

[2018-04-09 16:18] lavalamp commented on #62197
This is already explicitly on the list of items for moving kubectl apply serverside.

IMO 99% of the effort is implementing dry run in the API. We need it for both PUT and POST.

I personally find #11488 a very confusing issue as I don't see too much value in implementing a dry run in kubectl that doesn't tell you what the server is going to do. I still think this is probably a duplicate of someth

[2018-04-09 16:36] MrHohn commented on #44772
/lifecycle frozen
/remove-lifecycle stale

[2018-04-09 16:40] MrHohn commented on #49425
@cblecker This is something we want but I don't have enough bandwidth at this moment.

Would be great to have some help :) cc @grayluck

/remove-lifecycle stale

[2018-04-09 16:41] MrHohn commented on #49425
/lifecycle frozen

[2018-04-09 16:50] dashpole commented on #61815
@myqq0000 The kubelet would generally rather evict a pod than run out of disk space, as it may not be able to recover from that, since lots of things (e.g. ssh) require disk space to do.  The "warning" the kubelet provided in this case is the DiskPressure event.  I will grant that the behavior is somewhat strange if the kubelet is not the only thing on the node (what is using the remaining 88% of

[2018-04-09 17:12] krzyzacy commented on #24639
We are trying to follow stable-x pattern, which means there's no need to delete/recreate jobs upon cutting a new branch, I'll close this

[2018-04-09 17:12] #24639 closed

[2018-04-09 17:13] grayluck commented on #49425
I'm on it.

[2018-04-09 17:16] andrew-polyansky commented on #58820
Same issue

[2018-04-09 17:30] bsalamat commented on #60860
This is already built. The feature is triggered by sending SIGUSR2 signal to the scheduler process. We decided to not include periodic triggers as it would pollute scheduler flags with debugging args and the periodic triggering can be achieved by other means, for example by running a script that sends the signal to the scheduler.

We should build at least one or two integration tests that create a

[2018-04-09 17:30] #60860 closed

[2018-04-09 17:38] drewwells commented on #20227
I see a PR, is there a workaround available to do this with a socat sidecar container?

[2018-04-09 17:58] yujuhong commented on #46255
@stevvooe has volunteered to work on a proposal to re-define the various image references/ids in CRI.

@stevvooe, let me know if you no longer have time to work on this :-)

[2018-04-09 18:23] yujuhong opened #62288 "CRI: Deprecate sending PodCIDR in UpdateRuntimeConfig"
Kubelet sends the pod CIDR it observes from its own Node object to the runtime via the `UpdateRuntimeConfig` call. This information is consumed by dockershim/kubenet today.

Since kubenet has been slated for deprecation (#38890), and many of the existing network plugins bypass kubelet completely for their CIDR management, we should deprecate PodCIDR in kubelet/CRI once kubenet is EOL'ed.

Related:

[2018-04-09 18:29] #55482 closed

[2018-04-09 18:29] #55409 closed

[2018-04-09 18:34] kganugapati commented on #62038
Hi, we'd be super interested in this area. We have a Kerberos-based Directory Service  (on Linux) and shareable service accounts for containers is of great interest

[2018-04-09 18:39] rramkumar1 opened #62290 "Presubmit e2e's run for OWNERS / OWNERS_ALIASES changes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
For PR's that make change to an OWNERS or OWNERS_ALIASES file, all the presubmit e2e tests ran.

**What you expected to happen**:
We should not have to run all the test for changes to OWNERS or OWNERS_ALIASES. It seems like a waste of resources.

/assign @kubernetes/sig-contributor-experience-bugs

[2018-04-09 18:42] thockin commented on #2630
I don't know that nginx clearing supplementary groups prevents any
vulnerability in this case?  It is specifically defeating a well-understood
mechanism.  Can we fix nginx?

As for ACL or other mechanisms, I don't object to them, I just have less
context on them.

On Sun, Apr 8, 2018 at 6:26 PM Qian Zhang <notifications@github.com> wrote:

[2018-04-09 18:45] BenTheElder commented on #35359
on 1.10 something like `bazel build //cmd/kubeadm --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64` works great, though this only includes non-cgo binaries AFAIK

[2018-04-09 18:58] #60466 closed

[2018-04-09 19:08] anthonydahanne commented on #46381
well, that almost worked for me, except that... only partial content was copied ! (writing while reading seemed to have messed up the final output !)
I had better luck with a temporary file :

```KUBECONFIG=~/.kube/config:~/.kube/kubconfig2  kubectl config view --flatten > mergedkub && mv mergedkub ~/.kube/config```

[2018-04-09 19:15] lainekendall commented on #62283
/kind bug

[2018-04-09 19:19] #61807 closed

[2018-04-09 19:58] thockin commented on #33766
@mengqiy @lavalamp Should we have a pattern for this?  The user didn't set this field, but they need to unset it.  That seems bad.  If I don't force them to unset it, it implies that it is in use, but its not, even though it is allocated.

We could automatically unset it, but that is somewhat surprising if they actually intended to set it (clearing instead of getting an error).  This seems like th

[2018-04-09 19:58] thockin commented on #7961
/lifecycle frozen
/remove-lifecycle stale

[2018-04-09 20:30] #61944 closed

[2018-04-09 20:30] rtayalla commented on #61944
Closing this ticket:

Issue resolved : Changed the DROP rules to ACCEPT in the /etc/sysconfig/iptables.
Deleted the DNS pod and recreated the pod and its running.

Thanks

[2018-04-09 20:57] #62138 closed

[2018-04-09 21:13] thockin commented on #61649
Can you illustrate your options with simple examples?

I agree we should solve this holistically and set good precedent.  We have similar (ish) issues with things like kube-proxy that have fundamentally different operating modes that can be used, and some flags that overlap some modes.  Blech

[2018-04-09 21:43] weikinhuang commented on #58010
what is the replacement for these flags/security controls?

[2018-04-09 21:55] msau42 opened #62293 "Subpath graceful pod delete e2e test failing for gce pd"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
[Testgrid](https://k8s-testgrid.appspot.com/sig-storage#gce-serial)
[Logs](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3273)

The regular volume mount didn't get cleaned up:
[code]

@jingxu97 took a look, seems like the volume did get cleaned

[2018-04-09 21:57] alvaroaleman opened #62295 "Openstack provider: Revisit instance name source"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

In an attempt to make the Openstack cloud provider work with instance names that are not dns-conformant it was changed to use `metadata.hostname` instead of `metadata.name` as in pre-1.10.

This did not solve the original issue (working with non-dns-conformant instances) but created another set of issues. The course tha

[2018-04-09 21:59] alvaroaleman commented on #62223
Will hopefully find a proper solution within https://github.com/kubernetes/kubernetes/issues/62295, closing this.

[2018-04-09 21:59] #62223 closed

[2018-04-09 22:09] mdruskin commented on #57964
We would like to have the ability to apply the admission controller on specific namespaces only, and not on cluster level resources.
This is useful if the list of possible resource Kinds that we want to apply the controller for is large, and we want to limit when it runs as much as possible to avoid affecting the whole cluster in case there's an issue.

I think this can be done by adding a SkipClu

[2018-04-09 22:16] gonzolino commented on #62295
Going back to `metadata.name` will bring back the issues from https://github.com/kubernetes/kubernetes/issues/57765.

While we could reimplement the hostname sanitization from https://github.com/openstack/nova/blame/master/nova/utils.py#L543-L580 here, i suspect that we might run into problems when the sanitization implementation in nova changes.

Using `metadata.uuid` instead might result in weir

[2018-04-09 22:26] alvaroaleman commented on #62295
"bring back" is the wrong wording here because that issue unfortunately still exists ;)

Maybe we could go back to use `metadata.name` for 1.10 and use `metadata.uuid` for 1.11 onwards since that results in new node names which could be considered a braking change?

[2018-04-09 22:33] verult opened #62296 "Refactoring GCE Disk APIs to use generated client"
/kind feature

It simplifies GCE disks cloud provider logic and makes the logic more easily testable.

/sig storage
/assign

[2018-04-09 22:34] gonzolino commented on #62295
@dims I agree with that. Two more reasons why I favour using the UUID :)

@alvaroaleman Going back to use the name instead of the hostname in 1.10 would also result in new node names. To be honest, I am unsure if that is a breaking change...

[2018-04-09 22:41] mtaufen commented on #58010
You can use PodSecurityPolicy:
https://kubernetes.io/docs/concepts/policy/pod-security-policy/

On Mon, Apr 9, 2018 at 2:44 PM Wei Kin Huang <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2018-04-09 23:02] weikinhuang commented on #58010
Oh. Ok thanks!

[2018-04-09 23:10] thefragmenter opened #62299 "kubefed init error: no configuration has been provided"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
kubefed init failed with an error:

[code]
**What you expected to happen**:
succeed
**How to reproduce it (as minimally and precisely as possible)**:
 kubefed init kfed --host-cluster-context=west-coast --dns-zone-name="echo.example.com" --dns-provider="google-clouddns"

**Anything else we need to know?**:

**Environment**

[2018-04-10 00:39] MrHohn commented on #42172
@shashidharatd Sorry for commenting on this old issue. What was the resolution of the `go vet` error? Hit a similar problem on https://github.com/kubernetes/sample-controller/issues/16.

[2018-04-10 00:40] harsh-px opened #62305 "Add resize support for Portworx volumes"
**FEATURE REQUEST**: Add support for resizing/expanding Portworx volumes.

/kind feature

**What happened**:

Basically add support in the Portworx volume plugin implementation to allow resizing of PVCs.

[2018-04-10 00:40] harsh-px commented on #62305
I'll take taking care of adding this support.

[2018-04-10 00:40] harsh-px commented on #62305
/sig storage

[2018-04-10 00:59] qianzhangxa commented on #2630
@thockin Can you please elaborate a bit on this? And why do we need to fix Nginx?

[2018-04-10 01:03] janetkuo commented on #36897
Deployment controller stops relabeling adopted ReplicaSets and Pods after #61615 got merged. Selectors became immutable in apps/v1 endpoints. Can we close this issue now that it's no longer needed by workloads controllers?

[2018-04-10 01:05] janetkuo commented on #11505
/remove-lifecycle rotten

[2018-04-10 01:43] tingweiwu opened #62310 "cannot ping some pod ip from host but ping another pod ip successfully"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
i install  HA master with kubeadm follow this https://v1-9.docs.kubernetes.io/docs/setup/independent/high-availability/

3 master and 1 worknode
 kubectl get nodes
NAME               STATUS    ROLES     AGE       VERSION
host-10-31-3-107   Ready     master    16h       v1.9.3
host-10-31-3-202   Ready     master    17h       v1.9.3
h

[2018-04-10 01:46] tingweiwu commented on #62310
here is the network canal define yaml
cat canal.yaml
[code]

cat rbac.yaml
[code]

[2018-04-10 01:51] bgrant0607 commented on #36897
I agree we are unlikely to get to this, and permitting it would increase complexity of object management.

[2018-04-10 01:51] #36897 closed

[2018-04-10 01:52] tingweiwu commented on #62310
/sig network

[2018-04-10 02:00] k82cn opened #62311 "Taint vs. NodeCondition"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind technical-debt
/sig node

**Description**:

During the [discussion](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-scheduling/SiM4vaSSHa8/9Mw5YclQBwAJ) on graduating [TaintNodeByCondition](https://github.com/kubernetes/kubernetes/issues/42001) to beta, @dchen1107 shared some concerns in production rollout

[2018-04-10 02:02] k82cn commented on #62311
cc/ @kubernetes/sig-scheduling-misc , for sig-scheduling reference; that may impact scheduler's predicates/priority which care about node conditions :)

[2018-04-10 02:43] chinglinwen commented on #49466
I have pod restart over 1000, and it seems cause cidr not available.

[2018-04-10 02:52] schollii commented on #11237
Using `--force` worked for me in 1.8.11. Notice how the k8s objects are first deleted then replaced:
[code]

Whereas without the `--force`, there is no deletion:
[code]

Upon digging into this difference further, this seems to be expected: the [docs about "disruptive updates"](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#disruptive-updates) say

[2018-04-10 03:11] BSWANG commented on #54384
@andyxning Kubernetes 1.8 add `Local ephemeral storage` resource type. Is it possible to pass `ephemeral-storage`  value to `storage-opt size` when primary partition support `xfs+pquota`.

[2018-04-10 03:45] chinakevinguo opened #62312 "kubernets-dashboard visit apiserver slow when pod has been running long time"
**What happened**:
Recently encountered a very curious problem

My current environment has a set of k8s clusters, and it has been running for years.

The above kubernetes-dashboard access becomes particularly slow, each time when loading node, deployment, etc., at least 30s, sometimes return 504

Today, I checked from scratch. There was no problem with the frontend to the dashboard.
The internal a

[2018-04-10 03:46] feiskyer commented on #62280
/cc @andyzhangx

[2018-04-10 03:48] chinakevinguo commented on #62312
/sig kube-proxy
/sig kubernetes-dashboard
/sig api

[2018-04-10 04:06] thockin commented on #2630
We explicitly set up supplemental groups so we can do things like volumes
and per-volume accounting.  It is 100% intentional and then nginx drops
supplemental groups in the name of security.  Breaking valid use cases.

On Mon, Apr 9, 2018 at 5:59 PM Qian Zhang <notifications@github.com> wrote:

[2018-04-10 04:11] mengqiy commented on #33766
cc: @apelisse @seans3

[2018-04-10 04:25] apelisse commented on #33766
Agreed, it's bad. I think we could fix this by having a proper union semantic somehow (though the API might need several changes). It's always good to have new examples of how things can break. We're working on trying to fix this. Thank you!

[2018-04-10 04:36] eatnumber1 commented on #2630
In a non-containerized world, if nginx didn't drop supplemental groups, a remote code execution vulnerability in nginx could leak undesired privileges to remote attackers via its supplemental groups. I therefore don't think you'll ever get the nginx developers to be willing to stop doing that. Even if you do manage to convince them to, dropping supplemental groups is the standard practice, and you

[2018-04-10 04:41] Colstuwjx commented on #54384
In my opinion, I think `ephemeral-storage` is not a `quota` for POD, instead, it should be named with `limitation`.

As kubelet would like to evict pod if the ephemeral-storage limit exceeded, and adding `storage-opt` with `docker run` would set container overlay fs quota, and would throws `no space left` error if the quota is exceeded, rather than killing the pod. Currently, I think `ephemeral-st

[2018-04-10 05:06] NickrenREN commented on #54384
I do not think we need to pass `ephemeral-storage` to `storage-opt`, since `ephemeral-storage` will also limit container overlay usage. but as @Colstuwjx said, we will evict the pod if container usage exceeds the limit.

[2018-04-10 05:34] vartagg commented on #15128
/remove-lifecycle stale

[2018-04-10 05:48] disha94 commented on #61901
The issue is still open if anyone can take a look at this??

[2018-04-10 05:57] bgrant0607 commented on #11237
Deletion and re-creation will cause allocated IPs and node ports to change.

[2018-04-10 05:57] BSWANG commented on #54384
@Colstuwjx @NickrenREN Others resource limitations like `cpu`, `memory` is the hard limit, container can't use more than resource above limit value on the system/kernel layer. So those limitations not relate to pod eviction.
Since `ephemeral-storage` not use `disk quota` to implement limitation, the `kubelet` must evict pod when disk usage exceed `ephemeral-storage` limitation. If using `disk quot

[2018-04-10 05:58] haoqing0110 commented on #38988
@resouer How does #46254 fix the "label lost" issue? I didn't find any parameter about node label for  configmap used by "Dynamic Kubelet Configuration".

I refer to the doc here: https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

[2018-04-10 06:03] redbaron commented on #52683
/remove-lifecycle stale

[2018-04-10 07:01] gudipatisaikrishna92 commented on #29307
can any just suggest me how to over come the error
$kubectl expose deployment hello-minikube --type=NodePort service "hello-minikube" exposed
service "hello-minikube" exposed
Error from server (NotFound): deployments.extensions "service" not found

[2018-04-10 07:03] gudipatisaikrishna92 opened #62316 "having problem with expose command"
$kubectl expose deployment hello-minikube --type=NodePort service "hello-minikube" exposed
service "hello-minikube" exposed
Error from server (NotFound): deployments.extensions "service" not found

[2018-04-10 07:27] andyxning commented on #61994
* add `docker-only-prefix-whitelist` to cadvisor.
  * A comma-separated list of cgroup path prefix that needs to be collected even docker-only is specified
* bump cadvisor dep for Kubernetes
* setting `docker-only-prefix-whitelist` to

[2018-04-10 07:37] alvaroaleman commented on #62295
Well, I'm perfectly fine with UUID as well, I just dislike the current state of having to use an undocumented config option that is probably going to vanish soon if you don't happen to use `.novalocal` as `dhcp_domain`.

@dims Are you opposed to changing this to the UUID within 1.10? If no I'll prepare a patch for that.

[2018-04-10 07:41] qianzhangxa commented on #2630
Yes, so I think setting `fsGroup` to the group configured in nginx.conf will make Nginx can access the volume even after a privilege drop and also make volume accounting work.

[2018-04-10 07:47] GoodJoey opened #62320 "question: if a job is completed/terminated, will it release the resources?"
as described in the document:
The job object will remain after it is completed so that you can view its status.

so, how about the resources the job occupied, will they be released?

[2018-04-10 07:51] cnedeljkovic commented on #62145
@krmayankk, maybe this is related: "However if we changed name of deamonset (metricbeat-v1 for example) it would bring pods". New name of deamonset would spaws pods, but any subsequent retry with any of previous names would fail (until we change to new name again). Once we added get to controllerrevisions.apps we were able to spawn pods with previously given names as well, so it might be related..

[2018-04-10 07:53] dzoeteman commented on #42649
Not only being able to restart the CronJob would be nice, but also exclude actually suspending a CronJob - in this case, the user has specified he doesn't want the CronJob to be run, so it should be okay to start again on schedule as soon as the user has resumed the CronJob.

[2018-04-10 07:56] Sn0rt opened #62321 "plugin.host.GetPodByName return value always is `nil`"
/kind bug
/sig network
**What happened**:
[code]

**What you expected to happen**:

I want get annotations by call `plugin.host.GetPodByName(namespace, name)`.

*v1.8.7:*
`v1pod` awalys is `nil` so that I can't get Annotations .

*v1.4.6:*
I can get the  annotations of pod from call `plugin.host.GetPodByName(namespace, name)`

I want to update pod annotations when pod creating.

[2018-04-10 07:57] abel-von commented on #62238
@jsafrane  actually it's not the bind mount who degrades the performance, it's the "mount to host and pass through the directory to vm by virtio-9p" which degrades the performance. if we pass the the block device to the vm, the io in the vm can take effect directly to the block device, not the file system in the host.

[2018-04-10 08:04] x13n commented on #61230
/priority critical-urgent
This is happening again.

[2018-04-10 08:05] x13n commented on #61230
/remove-priority important-soon

[2018-04-10 08:05] abel-von commented on #62238
@msau42 Yes wen can define a volumeDevice in the pod, and this way still works fine. but then the user of our public cloud should do the mount by themselves in their startup command of container, this should be too  unconvenient for the user, because most of the time the volume should be mounted in the container.  we need to define the volume as block because we don't want to mount the volume on h

[2018-04-10 08:15] tamalsaha opened #62323 "CRD validation umbrella issue"
We are trying to use CRD validation feature . But many things don't work or partially work. I would like to see these issues fixed before CRD is considered GA.

- [x] CustomResourceDefinitions should support maps in OpenAPI schema (#59485)
- [x] Generator for CRD Validation Schema (#59154) - see https://github.com/kubernetes/kubernetes/issues/59154#issuecomment-460990831
- [x] openapi-gen lacks su

[2018-04-10 08:25] nikhita commented on #62323
/sig api-machinery
/area custom-resources

[2018-04-10 08:34] tamalsaha opened #62325 "openapi-gen lacks support for enum"
Currently I generate  CRD schema validation using a pipeline like below:
[code]
While this works, openapi-gen does not generate spec information for [enums](https://spacetelescope.github.io/understanding-json-schema/reference/generic.html#enumerated-values) . We would like to see this supported.

[1] crd-validation: https://github.com/ant31/crd-validation

[2018-04-10 08:38] tamalsaha opened #62326 "go-openapi/spec3 is not maintained"
Kubernetes depends on openapi v3 spec. But it seems that the official repo is not maintained https://github.com/go-openapi/spec3/commits/master . The repository readme says `This repository is not usable at this moment, the implementation is incomplete` .

The primary contributor of the library @casualjim has mentioned [here](https://github.com/go-swagger/go-swagger/issues/1122#issuecomment-356086

[2018-04-10 08:42] tamalsaha commented on #62326
/sig api-machinery
/sig architecture

[2018-04-10 08:44] nsulek commented on #54188
you can try with

it works for me

[2018-04-10 08:56] wouterhund commented on #62112
@feiskyer That assignment seems to have failed, any idea what that means?

[2018-04-10 09:11] andyxning commented on #27114
Will work on this later in the next week.

[2018-04-10 09:11] nikhita commented on #62323
xref https://github.com/kubernetes/kubernetes/issues/58682

[2018-04-10 09:14] feiskyer commented on #62112
@saiyan86 Would like to work on this.

@wouterhund Have you already started the fix?

[2018-04-10 09:25] stormflying commented on #52110
Does this problem fixed?

[2018-04-10 09:27] wqcheng opened #62327 "with: failed to get any path for iscsi disk"
**hello , I have a problem.I made the following error while referencing the official iscsi.yaml file to store the connection through K8s and iscsi.**

FirstSeen	LastSeen	Count	From			SubObjectPath	Type		Reason		Message
  ---------	--------	-----	----			-------------	--------	------		-------
  37s		37s		1	{default-scheduler }			Normal		Scheduled	Successfully assigned iscsipd to k8s-node-2
  28s		8s

[2018-04-10 09:28] discordianfish commented on #35941
Actually.. I'm confused. Running 1.9.3 here and changing my EBS PV size doesn't do anything and according to https://kubernetes.io/docs/reference/feature-gates/, the feature gate ExpandPersistentVolumes doesn't exist in >1.8 anymore.

[2018-04-10 09:41] ayushpateria commented on #59485
@sttts I'm interested. This is also in my gsoc proposal.

[2018-04-10 09:50] dixudx commented on #62321
@Sn0rt Are you using remote runtime ?

[2018-04-10 09:53] justaugustus commented on #58034
I think this is still active. Right, @feiskyer?
/remove-lifecycle stale

[2018-04-10 09:53] discordianfish commented on #35941
Never mind, it also needs the admission plugin but then it should work (not tested). So probably still can be closed, right?

[2018-04-10 09:54] dims commented on #62295
@alvaroaleman : yes, let's please not change 1.10.

[2018-04-10 09:59] rolanddb commented on #62280
We have experienced similar/related issues:

- It can take a long time (~10 mins) before a disk is mounted to a node.
- When a Pod gets rescheduled on a different node, the old node sometimes does not unmount the disk. Therefore the new node cannot mount the disk, and the Pod will not be able to start. It is then necessary to manually unmount the disk from the old node.

[2018-04-10 10:05] Miyurz commented on #62156
@msau42 Yes, its still there after fixing the typo.

[2018-04-10 10:07] Miyurz commented on #62156
For now, as a resort , I apply config file first, wait for some time and then apply the deployment to let it work right.

[2018-04-10 10:26] tamalsaha commented on #62325
/sig api-machinery
/area custom-resources

[2018-04-10 10:31] AmedeeBulle commented on #61170
Note that if your host name properly resolves to the IP address you want to use, kubelet will use it and everything will work as expected.

[2018-04-10 10:32] lth2015 commented on #62246
/area kube-proxy

[2018-04-10 10:36] tamalsaha opened #62329 "Generate valid openapi spec for intstr.IntOrString"
Currently openapi-gen generated spec for `intstr.IntOrString` only allows `string` types. https://github.com/kubernetes/apimachinery/blob/5d4f0da8e5fde7cbadf8ab3ce5cfb76f86dd854e/pkg/util/intstr/intstr.go#L124 . This is incorrect and causes problem when used to generate CRD validation schema. I generate  CRD schema validation using a pipeline like below:
[code]

One fix suggested by @sttts is to u

[2018-04-10 10:40] tamalsaha commented on #62329
An alternative solution will be to implement  custom validator for `int-or-string` format following https://github.com/go-openapi/strfmt . It seems to me that it will work with both openapi v2 and v3.

[2018-04-10 10:40] r7vme commented on #62280
I have few more details.

In my case attachment stuck, because kubelet inproprly detects LUN number of the disk. In my case disk had lun 1 (in `/dev/disk/azure/scsi1/`), but in logs it was saying

[code]

For some reason kubelet restart helped, not sure why though.

[2018-04-10 10:40] tamalsaha commented on #62329
This issue has been reported before by @garethr https://groups.google.com/forum/#!topic/kubernetes-sig-apps/RGRCIHmb4gU .

[2018-04-10 10:44] r7vme commented on #62280
And separate issue on other cluster similar to what @rolanddb had requires manual detachment
[code]

[2018-04-10 10:53] xasor opened #62330 "GKE lost my node labels after cluster upgrade"
/kind bug

**What happened**:
I lost my custom labels after doing a cluster manual upgrade from 1.9.2 to 1.9.6 in GCP web platform

**What you expected to happen**:
Not to lost my labels

[2018-04-10 10:58] gabylan12 opened #62331 "Intermittent access service"
/kind bug
/sig network

I Have two differents pods and i want to access from one pod to another as a service.
Works fine sometimes but sometimes not.
this is my deployments and service

[code]

[2018-04-10 10:58] xasor commented on #62330
/sig help wanted

[2018-04-10 10:59] alvaroaleman commented on #62295
@dims Can you elaborate on why you do not want to change 1.10? The current status of 1.10 is that you need an undocumented config option that will probably vanish in `1.11` to make it work if you don't happen to use `.novalocal.

[2018-04-10 11:03] xasor commented on #62330
/help

[2018-04-10 11:03] xasor commented on #62330
/kind bug

[2018-04-10 11:06] gonzolino commented on #62295
Also, I would argue, even with https://github.com/kubernetes/kubernetes/pull/62228 in place there are still issues.

For example: The method [GetNodeNameByID](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go#L379-L392), which should return the NodeName of the instance with the given ID, will return the server name instead the hostname (if I se

[2018-04-10 11:07] kinglion811 opened #62332 "kubernetes v1.10 can not get capacity of GPU"
I deploy kubernetes v1.10 with kubeadm,the cluster can run cpu tasks,but when I run GPU tasks they can not run,when I describe the nodes,I can't find the GPU Capacity,
![image](https://user-images.githubusercontent.com/6119243/38553423-d2e706d6-3cf1-11e8-9857-9febc56ecdc0.png)
Environment
 the docker version is docker-ce-17.03.2
the cuda is
![image](https://user-images.githubusercontent.com/611924

[2018-04-10 11:13] CaoShuFeng commented on #61826
/close

[2018-04-10 11:13] #61826 closed

[2018-04-10 11:13] feiskyer commented on #58034
@justaugustus Thanks, this is still ative

[2018-04-10 11:25] xasor commented on #62330
/remove-help

[2018-04-10 11:30] sttts commented on #62329
But even with a format and `type: "string"` we do not allow `foo: 42`, although it is an integer and should be accepted by a `IntOrString` field.

[2018-04-10 11:38] Sn0rt commented on #62321
@dixudx
no, In fact, I don't know what's is remote runtime .

[2018-04-10 11:46] shahidhk opened #62334 "kubelet should track tcp_mem stats also along with cpu/ram/disk"
/kind feature
/sig node

**What happened**:

A program started leaking TCP memory, which filled up the node's TCP stack memory. The network performance on the node degraded and connections to pods running on the node either times out or will hang for a long time.

Node's `dmesg` had lines mentioning `TCP: out of memory -- consider tuning tcp_mem`

Further reading and investigation reveals that thi

[2018-04-10 11:51] shahidhk commented on #62334
/cc @thockin in continuation of our discussion at https://twitter.com/thockin/status/973965476173725696, took me some time to fixup the repro steps :smile:

[2018-04-10 11:57] tamalsaha commented on #62329
Yeah, I agree the alternative will work. Seems like there is no good solution until everything switches to v3 .

[2018-04-10 11:58] dims commented on #62295
@alvaroaleman we will document it. the cherry pick went in yesterday i believe

[2018-04-10 11:59] dims commented on #62295
@gonzolino which exact scenario is affected by `GetNodeNameByID`?

[2018-04-10 12:31] #62016 closed

[2018-04-10 12:50] gabylan12 commented on #62331
apply sig/network label

[2018-04-10 13:28] andyzhangx commented on #62280
@r7vme it looks like pvc `kubernetes-dynamic-pvc-7783d9f3-3847-11e8-985f-000d3a22c5ab` has already been moved from that node, while it's still in `node.volumesInUse`
[code]

I also hit this issue in v1.9.6, it's may be a kubelet issue, `node.volumesInUse` is not updated correctly:
https://github.com/kubernetes/kubernetes/issues/62282
@feiskyer

[2018-04-10 13:28] andyzhangx commented on #62282
cc @feiskyer

[2018-04-10 13:29] soltysh commented on #61484
@AishSundar it looks like the last linked PR fixed the problem and from looking at the testgrid it hasn't appeared, mind closing?

[2018-04-10 13:39] johanneswuerbach commented on #61917
I started seeing something similar when rolling API masters. Each master shutdown is taking a random number of nodes unhealthy all with the "Error updating node status" message. Restarting the kubelet immediately resolve the issue, but also waiting a couple of minutes eventually resolves this.

I'm running Kubernetes 1.8.10 and haven't seen this in 1.7.12 (what was running before).

Some additiona

[2018-04-10 13:43] bclau opened #62338 "Cannot create pods with volumes with projected Secret keys to nested paths on Windows nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig windows

**What happened**:

Creating pods containing volumes with projected Secret keys to nested paths fails on Kubernetes using Windows nodes, they get stuck in the ``ContainerCreating`` state. Additionally, this causes the Kubelet service on the Windows node to fully utilize a CPU indefinitely (even after the pod was deleted). Creat

[2018-04-10 13:51] zytek opened #62340 "kubectl get all stopped printing resource type after upgrading client from 1.9.3 to 1.10.0"
/kind bug
**What happened**:

`kubectl get all` stopped printing resource type after upgrading client from 1.9.3 to 1.10.0
(feature merged in #27379)

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

Note that the server is 1.8.10

**Environment**:
[code]

[2018-04-10 13:53] zytek commented on #62340
Might be related to: https://github.com/kubernetes/features/issues/515 and https://github.com/kubernetes/kubernetes/pull/59561

[2018-04-10 13:55] zytek commented on #62340
/sig cli

[2018-04-10 13:57] dims commented on #62295
So the input for `GetNodeNameByID` is the UUID (NOT the host name or instance name). So we are good

[2018-04-10 14:54] iliketosneeze commented on #60987
I have the same issue, except that I can't even remove that directory:
`rmdir: failed to remove ‘/var/lib/kubelet/pods/7b383940-3cc7-11e8-a78b-b8ca3a70880c/volumes/rook.io~rook/backups’: Device or resource busy`

[2018-04-10 15:00] #62121 closed

[2018-04-10 15:05] shashidharatd commented on #42172
@MrHohn, We didn't fix the issues in federation as it was generated code.

[2018-04-10 15:05] AishSundar commented on #61484
Thanks @soltysh for the fix. The test seems to pass fine in the GCE job.

However I do see a couple fo flakes in the GKE job.

https://k8s-testgrid.appspot.com/google-gke#gci-gke&include-filter-by-regex=%5EOverall%24%7C%5C%5Bsig%5C-cli%5C%5D%5C%20Kubectl%5C%20client%5C%20%5C%5Bk8s%5C.io%5C%5D%5C%20Update%5C%20Demo%5C%20should%5C%20create%5C%20and%5C%20stop%5C%20a%5C%20replication%5C%20controller%5

[2018-04-10 15:44] mengqiy commented on #61484
There are only 2 test failure happened from 03/27 to 04/10. And these 2 failures are high likely to be related to some cross-cutting infra failure, e.g. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/24436.

I believe we can close this issue.

[2018-04-10 15:48] msau42 opened #62342 "Support containerized kubelet in CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests
@kubernetes/sig-testing-feature-requests

**What happened**:
We are seeing many issues in containerized kubelet environments due to e2es not be automatically run in CI against that environment.

[2018-04-10 15:59] redbaron commented on #53361
/remove-lifecycle stale

[2018-04-10 16:00] aiman-alsari commented on #49343
This is still happening as of kubectl client 1.10.0

[code]

[2018-04-10 16:09] ericxiong commented on #831
+1

[2018-04-10 16:10] dims commented on #62342
https://github.com/kubernetes/test-infra/pull/7631

[2018-04-10 16:32] Blasterdick opened #62343 "HPA custom metric trashy value"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig scalability

**What happened**:

HPA status displays `132500m / 500` in a situation when the actual metric value is lower then `100/500` (according to the Prometheus).

[code]
HPA manifest is:

[code]

**What you expected to happen**:

It should print normal results, like:

[code]

**How to reproduce it (as minimally and precisely as po

[2018-04-10 16:35] kargakis commented on #62342
Unclear why this is a sig-testing feature request.

[2018-04-10 16:45] PatrickLang commented on #62338
@feiskyer is this an area you might be able to help with?

[2018-04-10 16:47] msau42 commented on #62342
I am unfamiliar with all the pieces that are required to do this, so just including sig-testing for consultation.

[2018-04-10 16:58] MrHohn commented on #42172
@shashidharatd Thanks for your reply. Yeah I found someone is attempting to fix that on kubernetes/kubernetes#60584.

[2018-04-10 17:07] redbaron commented on #48719
/remove-lifecycle stale

[2018-04-10 17:24] jennybuckley opened #62345 "All e2e tests which create CustomResourceDefinitions are flaky."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig api-machinery
/kind flake
/priority failing-test

**What happened**:
All the tests that rely on creating a CustomResourceDefinition are [flaky](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce&width=5&include-filter-by-regex=api-machinery&include-filter-by-regex=custom%20resource) (about 6-7 flakes per day in ci). Thi

[2018-04-10 17:24] gnufied commented on #62342
@derekwaynecarr  pointed out that , we do have Conformance tests running inside containarized kubelet at least. https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-containerized-conformance-aws-e2e-rhel

It runs every 2 hours and is not blocking. I think we can extend the existing suite to include all tests and make it blocking.

[2018-04-10 17:25] alexa-infra commented on #62140
I have the same issue with `v1.9.2` (installed via `kubeadm`). Also it is easy to reproduce with a small cluster (1 master, 3 workers): just shut down master node and DNS stops working *completely* inside all worker's pods.

[2018-04-10 17:38] jennybuckley commented on #62345
/assign

[2018-04-10 17:57] msau42 commented on #62156
Oh I see the problem.  The ConfigMap needs to be created first before the Deployment.  The reason is because when we are setting up the volumes, if the subpath target doesn't exist, we will create a directory for it.

[2018-04-10 18:08] stevenmccord opened #62349 "Can't Configure Kubernetes with gCloud Reliably in CI"
BUG REPORT
---

/kind bug

**What happened**:
I have also file a Stackoverflow submission on this too: https://stackoverflow.com/questions/49637446/error-gcloud-crashed-cannotconnecttometadataserverexception-urlopen-error.

I am having issues configuring my container to point to my Kubernetes cluster with the command gcloud container clusters get-credentials. I get the following error.

[code]

Wh

[2018-04-10 18:10] stevenmccord commented on #62349
/sig networking

Not sure if this is the right place for this, just trying to find some semblance of a direction on this one.  Thanks!

[2018-04-10 18:32] liggitt commented on #62156
I wouldn't have expected the configmap/deployment order to matter... doesn't the configmap get resolved before the kubelet tries to set up volumes for the pod?

[2018-04-10 18:50] Random-Liu commented on #36666
To summarize the discussion:
* The overhead in kubelet and resource charge back is important, but less important compared with security. The bottleneck is in apiserver today anyway.
* Option 3 is still our long term plan, but option 2 is a better solution for now, because we don't have a good auth/authz solution for option 3 today.
* We decide to do Option 2 for short term, but make it possible to

[2018-04-10 18:58] msau42 commented on #62156
Oh... that's a good point.  Hm I wonder if there's some timing issue where the configmap volume is not initially populated

[2018-04-10 19:00] msau42 commented on #62156
BTW, using subpath with configmap volumes (and secret, downward api, projected), has the limitation that updates to the API objects won't be reflected in the subpath.

[2018-04-10 19:00] Mtzer91 commented on #62256
I had the same problem.
Check your dns. This fixed my Problem

[2018-04-10 19:04] sttts commented on #62326
I think @tamalsaha's point is that we might have problems to move forward to newer spec versions with go-openapi if the maintenance situation does not change.

[2018-04-10 19:34] Namonic commented on #61277
I am experiencing the same issue, please add me to this.  I am getting pretty much identical logs as geoffgarside noted above.  (I am on a Pi 3 B)

Swap is off
There is no gateway/proxy between me and the internet
networking is rock solid  (we always say that don't we?)  I have verified I am resolving properly both out and back with DNS resolution and can ping resources in and out of my local netw

[2018-04-10 19:48] smarterclayton commented on #52241
/lifecycle frozen

[2018-04-10 19:49] smarterclayton commented on #52241
In general, I hear a substantial amount of real world operational challenges with users who do not want to be using `ip-X-X-X-X.ec2.internal` names for their nodes.  Other cloud providers have better and more consistent naming that reduces human toil and frustration.  I think we should look at addressing this.  Came up in the Reddit AMA.

[2018-04-10 19:49] smarterclayton commented on #52241
/remove-lifecycle rotten

[2018-04-10 19:52] liggitt commented on #62345
shouldn't "AdmissionWebhook Should be able to deny custom resource creation" be marked as a serial or disruptive test?

[2018-04-10 20:09] spdeshpande commented on #62140
I have multi masters as all 3 nodes are masters. So there should ideally be high scalability for DNS and ETCD to get the names resolved. But still for some reason it takes quite a while for DNS to stabilize.

[2018-04-10 20:09] jennybuckley commented on #62345
@liggitt
I think I made a typo in the original post, The test which creates the problematic webhook is "AdmissionWebhook Should deny crd creation". I will update that.

Also, marking that test as serial would also fix the issue, but it would greatly increase the run time of the test suite. The original purpose of "AdmissionWebhook Should deny crd creation" was to make sure the admission control st

[2018-04-10 20:10] Nefelim4ag opened #62355 "Kubelet not support memory hot add/remove"
Kubelet scan host total memory only on startup and later for detect memory capacity
changes, kubelet must be restarted.

I think kubelet works as designed,
but in cases when host total ram can change:
 - Server ram hot-add/remove
 - Vm hot-add/remove
 - KVM Balloon

Kubelet fail to detect changes and use old capacity numbers.

I think if kubelet will update capacity information, when it check host

[2018-04-10 20:16] MikeSpreitzer opened #62356 "tests failing with "Invalid choice: 'configure-docker'.""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A PR that used to pass tests is now failing some, with a complaint that looks like it is from broken testing infrastructure.  See https://k8s-gubernator.appspot.com/pr/60685 and #60685 .  The recent failures have the following in their build logs:
[code]

**What you expected to happen**:
Tests that passed in the past to p

[2018-04-10 20:17] MikeSpreitzer commented on #62356
@kubernetes/sig-testing-bugs

[2018-04-10 20:18] MikeSpreitzer commented on #62356
/label priority/failing-test

[2018-04-10 20:19] Nefelim4ag commented on #62355
/shedulling

[2018-04-10 20:19] MikeSpreitzer commented on #62356
/priority failing-test

[2018-04-10 20:28] rmmh commented on #62356
This is probably caused by kubernetes/release#515

@david-mcmahon

[2018-04-10 20:28] liggitt commented on #62345
The proposed PR looks like it still injects a new admission plugin that could affect other tests (though it stops denying them unconditionally).

[2018-04-10 20:32] sjenning commented on #62356
@rmmh merge time matches when when the test started failing about 1:15PM CDT today
https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-device-plugin-gpu

[2018-04-10 20:39] BenTheElder commented on #62356
see: https://github.com/kubernetes/test-infra/issues/7633

[2018-04-10 20:43] krzyzacy commented on #61230
@x13n so my question is, why log sink is leaking?

[2018-04-10 20:55] micahhausler commented on #61921
@cheftako Do you have any insight into why the apiserver is deduplicating node addresses of the same `type`?

[2018-04-10 20:58] kodieGlosser opened #62357 "nvidia-gpu daemonset using hostNetworking"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Host Networking is enabled for the nvidia-gpu daemonset. Trying to understand the purpose.
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml#L30
**What you expected to happen**:
Disabling hostNetworking seemed to work and GPU workloads are able to be scheduled

[2018-04-10 21:05] liggitt commented on #62009
I definitely want the option to show help for a deprecated flag until it is removed.

[2018-04-10 21:12] djsly commented on #53451
/remove-lifecycle stale

[2018-04-10 21:25] jennybuckley commented on #62345
@liggitt
I see what you mean, the test will still add code which is run as part of some other tests, changing it to serial is the most complete way ensure nothing will be affected. But we do have other webhook tests which add code that is run on admission requests from other tests. https://github.com/jennybuckley/kubernetes/blob/d642dcdf7b87419a704ac39610e7d1bea9a357d5/test/e2e/apimachinery/webhoo

[2018-04-10 21:30] liggitt commented on #62345
yeah... if we want to try this label-based acceptance first, I'm ok with that, but be aware that failures in this piece will cause difficult-to-debug test failures in other tests, which isn't ideal. can the test webhook pod log full request/response bodies to help determine if it was involved in failures of unrelated tests?

[2018-04-10 21:48] BenTheElder commented on #62356
updating here that the offending PR in k/release was rolled back temporarily, we're upgrading gcloud in test-infra which *should* unblock reverting the revert without issues.

[2018-04-10 22:37] filiy commented on #52241
This change would be great to see. Clusters full of useless node names makes management harder than it needs to be. The AWS ec2 name=value tag would be ideal for node name.

If that can't happen another option could be to set user data on the ec2 instance that way it can be queried locally.
[code]

[2018-04-10 22:52] nfirvine commented on #50115
I'm still experiencing the issue, on GKE 1.9.3-gke.0. I'm struggling to follow exactly what version @davidz627 's PR https://github.com/kubernetes/kubernetes/pull/52322 would have started at, but surely it's in by now.

[2018-04-10 23:07] fejta commented on #62342
/assign @Q-Lee

This seems relevant to your dind work here?

[2018-04-10 23:07] resouer commented on #61512
@bsalamat I reviewed direct usage of nodeInfo in scheduler. One tricky race will be: what happens if eventually we cannot schedule nominated pod on the node?  We need some way to remove the nominated pods previously added during schedule.

Another option is, maybe we can lock nodeInfo (scheduler cache) before cloning it and release after the schedule? It's similar to what we did in #61644. The per

[2018-04-10 23:13] AishSundar commented on #61484
Sounds good. I am closing this issue now. Will reopen if it surfaces as top flake again. Thanks for your efforts here.

[2018-04-10 23:13] AishSundar commented on #61484
/close

[2018-04-10 23:13] #61484 closed

[2018-04-10 23:39] davidz627 commented on #50115
It should be in 1.9.3. Could you provide steps to repro your issue?

[2018-04-11 00:29] thefragmenter opened #62361 "Kubernetes Federation Error: User "client" cannot create namespaces at the cluster scope: Unknown user "client""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Error trying to setup Kubernetes Federation:

**Creating a namespace federation-system for federation system components...Error from server (Forbidden): namespaces is forbidden: User "client" cannot create namespaces at the cluster scope: Unknown user "client".**

**What you expected to happen**:
No error

**How to reprod

[2018-04-11 00:41] Pingan2017 opened #62362 "kube-GC delete Initcontainers of running pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig node

**What happened**:
if the nums of initcontainers greaters than the --maxmum-dead-containers, the initcontainers will be deleted by Garbage Collector.  like below:
 i set the GC args :
--maximum-dead-containers=2 --maximum-dead-containers-per-container=1
then create 3 pod with initcontainer on the node
[code]
you will seeing the ku

[2018-04-11 01:08] tallclair opened #62363 "[Audit] Instrument truncating audit backend"
/kind feature

Add instrumentation (prometheus metrics) to the truncating audit backend. In particular, count the number of requests (broken down by resource + verb) that get truncated. That way, if we see that a specific request is frequently being truncated, we can consider adjusting the policy for that request type.

Follow up from https://github.com/kubernetes/kubernetes/pull/61711#discussion_

[2018-04-11 01:42] glennschmidt commented on #61999
I've confirmed that the iowait issue starts when the node exhausts its IOPS burst balance for the root EBS volume. I've raised the IOPS limit for the time being by provisioning more expensive storage, but the question is why this node is generating so much I/O. Overall, the cluster is very lightly loaded (the web applications being hosted are low traffic).

When I run `iotop`, the only things that

[2018-04-11 02:07] jethrogb opened #62366 "kubectl apply doesn't update Deployment container ports correctly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When `kubectl apply`ing a configuration that changes the container ports in a pod template of a deployment, the final updated configuration is incorrect.

**What you expected to happen**:

I expected the active spec after `kubectl apply` to be the same as the spec specified in the file.

**How to reproduce it (as minimal

[2018-04-11 02:17] tingweiwu commented on #62310
**it seems that the pod(container) route is incorrect with the network component Canal (Calico and flannel networking together)**
https://docs.projectcalico.org/v3.0/getting-started/kubernetes/installation/hosted/canal/

**i find that the ip and route in container and notice route table doesn't contains 10.244.3.1**
[root@rc-centos-wc6hx /]# ip route
default via 169.254.1.1 dev eth0
169.254.1.1 de

[2018-04-11 02:27] jethrogb commented on #62366
I don't know what the right SIG is.

/sig api-machinery

[2018-04-11 02:50] gtaylor commented on #52241
Count us in, re: hostname frustration. We'd like to name our nodes `k8s-<cluster-name>-<instanceid>` instead of the IP. This makes it easy to quickly determine which cluster a node belongs to when alerts fire, or when we're looking through the AWS console.

Does GCP use labels, or is it a separate flag to kubelet? I thought one of the flags covered this case, but didn't do anything for AWS. A bit

[2018-04-11 03:16] BenTheElder commented on #40161
`bazel build //pkg/... --spawn_strategy=standalone` works natively on mac against release-1.10 at least.

[2018-04-11 03:23] wavezhang opened #62369 "add PV resize support for CSI"
/kind feature
/sig storage

Describe:
Support for expanding CSI PV

[2018-04-11 03:24] wavezhang commented on #59040
+1, we also need PV resize support for CSI

[2018-04-11 03:29] resouer commented on #61512
@bsalamat  Sorry, I should have claim it clearer. I am referring to option 2: if we remove `nodeInfo.Clone()` in scheduler, there may be chances that nodeInfo is updated by nominated Pods during scheduling, but somehow, this change is invalid (e.g. nominated Pods will not be scheduled on that node eventually). Then we will have a "dirty" nodeInfo. And it seems no existing logic can fix this incons

[2018-04-11 03:46] AnberLu opened #62370 "Pod failed to delete due to the terminationGracePeriodSeconds settings"
BUG

**What happened**:

first, i   create a statefulset  which bound with pv and pvc
second, i change pv for one pod( example-etcd-cluster-2) of statefulset
third, i want to delete statefulset,but the pod(example-etcd-cluster-2)  always in Terminating   status.

specific information:
(1)
[ceph@KC-BCC-POD24-10-196-108-10 local]$ kubectl delete --force  statefulset example-etcd-cluster
error: timed

[2018-04-11 04:13] AishSundar commented on #61845
@jingxu97 I still see [Volumes PD should be mountable with ext3](https://k8s-testgrid.appspot.com/sig-storage#gce&include-filter-by-regex=Volumes%20PD%20should%20be%20mountable%20with) failing despite [#61549](https://github.com/kubernetes/kubernetes/pull/61549) being merged.

Are you still investigating a fix or is this part of a bigger issue? Thanks.

[2018-04-11 04:37] nikhita commented on #50048
/remove-lifecycle stale

[2018-04-11 04:51] feiskyer commented on #36666
+1 to option 2

If a feature gate is added to kubelet, should all runtimes also add such a feature gate? e.g. runtimes may need deciding to serve streaming APIs on tcp port (as today) or unix domain socket.

[2018-04-11 04:55] BenTheElder commented on #62356
for more context: https://github.com/kubernetes/release/pull/548#discussion_r180634885

the new images with latest gcloud were not enough, next version should have a patch hopefully, but in the meantime @david-mcmahon is working on a patch to use `gcloud docker` again

[2018-04-11 05:00] liggitt commented on #62340
fixed in https://github.com/kubernetes/kubernetes/pull/61985
will be in 1.10.1

[2018-04-11 05:01] BenTheElder commented on #62356
https://github.com/kubernetes/release/pull/549

[2018-04-11 05:02] liggitt commented on #62340
/close

[2018-04-11 05:02] #62340 closed

[2018-04-11 05:02] liggitt commented on #62338
@kubernetes/sig-storage-bugs

[2018-04-11 05:03] raviteja22 commented on #32987
I still see the issue on v1.9.4.
I am running HA master nodes (3 of them) on my cluster and using nodePort for creating services.
It takes ~1-3  minutes of time for the ports to be in the reusable state, even though netstat command doesn't show them in LISTEN state during this period of time.

[2018-04-11 05:32] Miyurz commented on #62156
This issue occurs every time I try to run the helm chart that has deployments,service and configmap objects in templates. My guess is that helm applies all the resources at once and hence the issue. Right now this component is being installed by following the order strictly(apply configmap, pause and then apply deployment).

[2018-04-11 05:32] feiskyer commented on #62338
@bclau There is something wrong when setting up nested paths. Let me file a PR to fix this

[2018-04-11 05:53] #59485 closed

[2018-04-11 06:09] BenTheElder commented on #62356
this looks to be fixed for the moment.
/close

[2018-04-11 06:09] #62356 closed

[2018-04-11 06:52] #62177 closed

[2018-04-11 06:52] #61781 closed

[2018-04-11 06:52] sabbour commented on #34007
@zouyee did you eventually figure this out?

[2018-04-11 06:57] mcluseau commented on #47202
FWIW, "how to set the timezone" is asked by every single of my users that makes a CronJob (developers and admins alike).

[2018-04-11 07:26] m1093782566 commented on #59976
If we set the NodeIP as the externalIP, it should work.

[2018-04-11 07:30] m1093782566 commented on #59976
@Lion-Wei Should we add a e2e test case for `ExternalIP`  service?

[2018-04-11 07:36] uablrek commented on #59976
I saw that GCE is used for e2e tests, but I have read that GCE with "type: LoadBalancer" does LB directly to the endpoints (pods). That reduces one redundant LB-step (the kube-proxy) but makes kube-proxy tests in GCE useless. I might be wrong about the direct LB so please verify it, I will try to find where I read it.

[2018-04-11 08:10] geostant commented on #54188
@nsulek - You can't run kubeadm init offline without stating explicit the version, so obviously I did so.

[2018-04-11 08:24] like-inspur opened #62373 "Ceph StorageClass call k8s service failed"
I create ceph cluster on some node, and create storageclass that with three monitor address. But when one ceph mon is down, pod mount pvc volume will be failed. So I want to create a service with an endpoint to ceph cluster, so storageclass can call this ceph monitor service, but pvc create failed. The file is like this:
vim ceph-endpoint.yaml
kind: Endpoints
apiVersion: v1
metadata:
  name: ceph-

[2018-04-11 08:27] Pingan2017 commented on #62362
cc @zhangxiaoyu-zidif  @Random-Liu @yujuhong

[2018-04-11 08:28] andyzhangx commented on #62280
@r7vme thanks for the confirmation, I think there is `node.volumesInUse` status update issue after pod deletion in kubelet. It's a not easy fixing bug, I will keep tracking this issue. Current workaround is restart kubelet on the node.

[2018-04-11 08:33] feiskyer commented on #62338
@bclau @PatrickLang  Filed #62375 to fix this issue. Please note that symlink is used and it is only available on Windows 10 Insider & Windows Server Insider builds 17074+ (refer [here](https://github.com/moby/moby/issues/28401#issuecomment-360648343)).

[2018-04-11 08:34] r7vme commented on #62280
Ok, reopening then.

[2018-04-11 08:36] andyzhangx commented on #62280
@r7vme I mean I will track issue #62282

[2018-04-11 08:36] andyzhangx commented on #62280
/close

[2018-04-11 08:36] #62280 closed

[2018-04-11 08:38] redbaron commented on #43607
/remove-lifecycle stale

[2018-04-11 08:41] Wuzhibin05 commented on #7965
why my
kubeadm join --token 1a03ed.c169a304c8d5217b  192.168.8.228:6443                ] 557.1 kB/102.8 MB
Loaded image: k8s.gcr.io/kubernetes-dashboard-amd64:v1.8.3
[root@node30 images]# kubeadm join --token 1a03ed.c169a304c8d5217b  192.168.8.228:6443
[preflight] Running pre-flight checks.
[preflight] The system verification failed. Printing the output from the verification:
KERNEL_VERSION: 3.10.

[2018-04-11 08:47] sunny-hw opened #62376 "Cloud provider can not support dynamic update configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Since the configuration of the provider is imported during the initialization phase, if some of the configuration of the provider is updated, such as when the password is updated, then the cloud-provider will fail to use the original password. The configuration file must be updated and the controller must be restarted

[2018-04-11 08:49] r7vme commented on #62280
Ah, sorry :)

[2018-04-11 08:54] zhangxiaoyu-zidif commented on #62362
in this case, if we set a small value (e.g. n) for maximum-dead-containers, and it will easy to trigger the gc to delete dead init container, and the running pod will be affected. if we have n+1 pods with init containers, there must be at least one pod stay `init`

[2018-04-11 08:54] zhangxiaoyu-zidif commented on #62362
/cc @warmchang

[2018-04-11 09:06] ChristianCandelaria commented on #61277
It seems that the etcd causing the problem, the etcd node doesn't start properly because of certification issue. The kube-apiserver pod crashes because it can't locate an etcd pod.

You can get around it by configuring an external etcd on your master node.
This are the steps on Centos7.

Step 1: install etcd on your master node
## yum install etcd

Step 2: configure /etc/etcd/etcd.conf
ETCD_LISTEN

[2018-04-11 09:09] Lion-Wei commented on #59662
/assign

[2018-04-11 09:26] like-inspur commented on #62373
/sig ceph  @freeformz @brosner @gnufied @ncdc

[2018-04-11 09:37] hzxuzhonghu opened #62377 "e2e start kube-apiserver with admission-control PodPreset and Priority but without api groups"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

pull-kubernetes-e2e-gce  and pull-kubernetes-kubemark-e2e-gce both start kube-apiserver with admission `PodPreset` and `Priority ` but without enabling priorityclasses and podpresets resources.

We can see many error logs from https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/62359/pull-kubernetes-e2e-gce/3

[2018-04-11 09:37] RobertDiebels commented on #52906
@yurig93 Seems like you're also encountering [this issue](https://github.com/kubernetes/kubernetes/issues/45726).

You might want to check if the EBS volumes are being created, attached and whether or not Kubernetes is creating the associated PV's and PVC's.
If it's doing all of the above you probably have the same issue.

Which would be cause by Kubernetes trying to detach and attach the EBS volu

[2018-04-11 09:38] hzxuzhonghu commented on #62377
/sig test
/sig api-machinery

[2018-04-11 09:38] hzxuzhonghu commented on #62377
/kind bug

[2018-04-11 09:49] hzxuzhonghu commented on #62377
/sig testing

[2018-04-11 09:54] cizixs commented on #62334
Since we are collecting network status information, should connection tracking count/limit be considered?

[2018-04-11 10:00] cizixs commented on #62263
flannel vxlan is supposed to cause network performance loss, same host pods communicate directly without vxlan encapsulation.

It is not a kubernetes/cni issue or bug.

[2018-04-11 10:11] warmchang commented on #62362
The inicontainer run and Completed, this means that the life cycle of inicontainer is over.

[code]

And the inicontainer will not affect the following non-initcontainers, so deleting it should not trigger a POD restart.

But the point is that when the dead container has been deleted (kube gc or docker rm), we can find that the pod will restart:
[code]

[2018-04-11 10:16] redbaron commented on #59946
It is made worse when multipath is enabled on host. Essentially multipath support is broken to the point it is plain dangerous to use.

 1. LUN X is mapped to host, discovered and sdX device is created
 2. multipathd picks up that device and created multipath device
 3. kubelet mounts multipath device
 4. pod is destroed, PV is destroyed, LUN unmapped
 5. sdX device remains on a node
 6. new LUN X

[2018-04-11 10:25] #61276 closed

[2018-04-11 10:30] nitindwivedicloud commented on #62099
@primeroz - what is the work aboud?

-Thanks

[2018-04-11 10:38] Surya361 commented on #53089
@eyz Yes it is the reason, if your service ip cidr is the default one

[2018-04-11 10:44] keimoon opened #62382 "Backoff Limit for Job does not work on Kubernetes 1.10.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

`.spec.backoffLimit` for a Job does not work on Kubernetes 1.10.0

**What you expected to happen**:

`.spec.backoffLimit` can limit the number of time a pod is restarted when running inside a job

**How to reproduce it (as minimally and precisely as possible)**:

Use this resource file:

[code]

If the job was created in

[2018-04-11 10:48] swatisehgal commented on #60697
Can you please explain what is meant by "focusing on scheduler as framework design". Are we referring to making changes to way scheduler is currently customized (custom scheduler/scheduler extender) or are there intentions of replacing these current frameworks with a completely new mechanism/framework to customize scheduler ?

[2018-04-11 10:51] keimoon commented on #62382
/sig scheduling

[2018-04-11 11:18] andyzhangx commented on #62282
Hi @jingxu97, in v1.9.6, we found volume in `node.volumesInUse` is not removed even after pod with that volume has already been moved from the node for a very long time. Have you hit that kind of issue before? Thanks.

[2018-04-11 11:24] jsafrane commented on #62171
According to @gnufied it takes quite a long time until an event is available in CloudWatch events.

@gnufied, what was the average / maximum delay?

[2018-04-11 11:30] murugan007 commented on #60884
+1

[2018-04-11 11:48] stevenmccord commented on #62349
/sig network-misc

[2018-04-11 11:56] mjaow opened #62386 "issue with a bug in docs of configure-multiple-schedulers"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**

https://v1-6.docs.kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
the document says we need to setup

[code]

to use mulitiple scheduler with leader election enabled.But I cannot find these args in kube-scheduler v1.6.6.These args seems to be bringing in at v1.7.0

The docs confused me

**Proposed So

[2018-04-11 11:58] mjaow commented on #62386
/sig docs

[2018-04-11 12:14] gabx opened #62387 "run all pods on a selected hots leads to "Deployment does not have minimum availability""
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

kind bug
Impossible to select a specific node to deploy the application onto.

**What happened**:
On Rancher GUI:
workloads > deploy > Name: mynginx; docker image: nginx:latest; Scalable deployment of 1 pod; namespace: default; Port > every node : 80.
Then Node scheduling >  Run all pods for this workload on a specific node > select in the

[2018-04-11 12:15] yastij commented on #49564
/remove-lifecycle stale

[2018-04-11 12:43] qiujian16 opened #62388 "pod-infra-container-image flag on kubelet does not work when using cri-containerd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
pod-infra-container-image flag of kubelet does not work when using cri-* as container runtime. Both cri-o and cri-containerd has its own configuration to setup sandbox image.

**What you expected to happen**:
either cri-* uses this flag for sandbox image configuration or we need to update the description of this flag.

**

[2018-04-11 12:43] qiujian16 commented on #62388
/sig node

[2018-04-11 12:49] xinjt opened #62389 "node is NotReady, pod is NodeLost"
here is my situation:
[root@k8s-master kube]# kubectl get nodes
NAME         STATUS     ROLES     AGE       VERSION
k8s-master   Ready      master    2h        v1.10.0
k8s-node1    Ready      <none>    2h        v1.10.0
k8s-node2    NotReady   <none>    2h        v1.10.0
my k8s-node2 status is NotReady   ,and i run
[root@k8s-master ~]# kubectl get pods --all-namespaces -o wide
NAMESPACE     NAME

[2018-04-11 12:52] gnufied commented on #62171
I haven't calculated the metrics accurately but the cloudwatch events arrival vary(and standard deviation was high).  Using cloudwatch events was also considered for maintaining instance cache and @justinsb @chrislovecnm as well concluded that - they are not realtime (AWS itself documents them as "near realtime"). It may be - we need to measure them again and find out if we can use them for the pu

[2018-04-11 12:58] gnufied commented on #35941
@discordianfish please try EBS PVC resize with 1.10. Currently the user experience of resizing volumes with file systems is not ideal. You will have to edit the pvc and then wait for `FileSystemResizePending` condition to appear on PVC and then delete and recreate the pod that was using the PVC. If there was no pod using the PVC, then once condition `FileSystemResizePending` appears on PVC then yo

[2018-04-11 13:01] aravind4444 opened #62391 "AEM6 dispatcher kubernetes issue with libsocket.so"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Hi,
I have setup minikube setup and trying to get AEM6 author, publish and dispatcher up and running. Was successful in bringing up all author, publish and dispatcher in docker. However, when I try to deploy the same in kubernetes, the dispatcher fails with below error.

apache2: Syntax error on line 140 of /etc/apache2/a

[2018-04-11 13:02] gnufied opened #62392 "Remove volume.Spec from attachedVolume struct of volumemanager's actual state of world"
Currently `volume.Spec` exists in two places in `attachedVolume` struct. It exists as top level field on struct and then within `attachedVolume.mountedPods`. It can be confusing and error prone in deciding which field contains accurate information and hence we have decided to remove `volume.Spec` from `attachedVolume` struct.

/sig storage

[2018-04-11 13:02] gnufied commented on #62392
cc @jingxu97

[2018-04-11 13:12] walteraa opened #62393 "K8s can't pull images from a private gcr.io repository"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am trying  to deploy an app which the image is saved in the Google Container Registry, but I am getting the following error:

`Warning  Failed                 11s               kubelet, gke-cluster-1-default-pool-32ed223c-0vsv  Failed to pull image "gcr.io/potent-zodiac-172621/teste-app:latest": [rpc error: code = Unkno

[2018-04-11 13:15] walteraa commented on #62393
/sig gcp

[2018-04-11 13:25] martinivanov commented on #61716
The issue seems to be related to [this line](https://github.com/kubernetes/kubernetes/blob/d1b38b21ef450971ab3d7507506f4d824a623aa3/pkg/kubelet/kubelet_pods.go#L914). The only platform specific implementation for PodContainerManager is the one for [Linux](https://github.com/kubernetes/kubernetes/blob/d1b38b21ef450971ab3d7507506f4d824a623aa3/pkg/kubelet/cm/pod_container_manager_linux.go#L67). There

[2018-04-11 13:29] jsafrane opened #62397 "MountPropagation breaks Kubernetes on macOS"
/kind bug

There is no way you can run the mount --make-rshared / in Docker VM and the shared folders use fuse.osxfs and are dynamically mounted into containers.

Adventurous macOS users must run Kubernetes with `MountPropagation=false` flag. This is OK for now, but the flag will be removed when the feature reaches GA.

There are few options we can do:

* Detect `darwin` in kubelet and turn off th

[2018-04-11 13:37] bityob commented on #58692
I have the same problem, to solve this, I used the advice @kchugalinskiy gave.

I moved the wanted file to the working dir in the pod (the directory which is automatically opened, when you open bash on it) -

[code]

In my case it is - `/usr/src` folder.

Then in my local bash terminal -

[code]

[2018-04-11 13:39] gabx commented on #62387
/sig node

[2018-04-11 13:42] liggitt commented on #62397
is that even detectable when running the kubelet in a container? I would have expected the OS to be linux

[2018-04-11 13:52] AishSundar commented on #60882
/open

[2018-04-11 13:58] eparis commented on #62009
I 'definitely' think Jordan's wrong, but I merged he pflag change. So we can rebase and unhide as much as we'd like.

[2018-04-11 14:00] jimethn commented on #8876
I have a use-case.

I want to create a systemd service that does a kubectl exec and runs a script inside a pod. The problem is systemd doesn't let you do subshells by design, i.e. this doesn't work:

`ExecStart=kubectl exec -t $(kubectl get pods -l=my=selector -o jsonpath='{.items[0].metadata.name}') -- /somecommand.sh`

The workaround to this systemd feature is to have systemd run bash and pass t

[2018-04-11 14:01] AishSundar opened #62399 "[sig-instrumentation] "Cluster level logging implemented by Stackdriver should ingest events" fails for GCE and GKE Multizone Clusters"
## Flaky Job: pr:pull-kubernetes-e2e-gce
### Consistency: [84.5%](http://storage.googleapis.com/k8s-metrics/job-flakes-latest.json)

## Flakiest test : Cluster level logging implemented by Stackdriver should ingest events
### Flakes in the past week: [27](http://storage.googleapis.com/k8s-metrics/flakes-latest.json)

## Failures in TestGrid
This test consistently fails for GCE and GKE Multizone Cl

[2018-04-11 14:03] AishSundar commented on #62399
/sig instrumentation

[2018-04-11 14:05] jsafrane commented on #62397
That's right. I don't have macOS, bu @mfojtik confirmed it runs in a Linux VM there. So no detection in runtime.

[2018-04-11 14:07] ncdc commented on #62373
FYI I don't really know much about Ceph...

[2018-04-11 14:08] mikebrow commented on #36666
Agreed let's switch to a socket for streaming.

[2018-04-11 14:14] patrikerdes opened #62401 "'make cross' fails on macOS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Cross compiling fails on macOS:
- `make clean`, `make cross` fails
- `make clean`, `make`, `make cross` fails as well, but with a different error message

See output below

**What you expected to happen**:

- That `make clean`, `make cross` is successful on macOS
- That `make clean`, `make`, `make cross` is successful on

[2018-04-11 14:46] george-angel commented on #46287
/reopen
/remove-lifecycle rotten

[2018-04-11 14:47] jcderr opened #62402 "ValidatingAdmissionWebhook Inconsistently Honors Promoted APIs"
/kind bug

**What happened**: ValidatingAdmissionWebhook was configured to listen to creates and updates on extensions/v1beta1 Deployments. A submitted apps/v1 Deployment was not passed through to the web hook, but subsequent attempts to edit or patch the Deployment were.

**What you expected to happen**: I expect AdmissionControl to behave consistently.

**How to reproduce it (as minimally and pr

[2018-04-11 14:52] aanm opened #62403 "Missing k8s 1.7.16 in official repositories"
/kind bug

[code]

[2018-04-11 14:52] jcderr opened #62404 "ValidatingAdmissionWebhook Appears Incapable of Listening for apps/v1 Deployments"
/kind bug

**What happened**: ValidatingAdmissionWebhook was configured to listen to creates and updates on apps/v1 Deployments. A submitted apps/v1 Deployment was not passed through to the web hook.

**What you expected to happen**: I expect AdmissionControl to send the apps/v1 Deployment to admission control.

**How to reproduce it (as minimally and precisely as possible)**:

Create a Validating

[2018-04-11 14:53] randomvariable commented on #62171
Testing this for real now.

User creates volume with no access to underlying CMK, or insufficient permissions does not seem to generate events with sufficient information as to what went wrong, i.e. don't appear to receive events for create volume failure, only deletion. E.g.:
[code]

This policy is sufficient to allow the creation of volumes - `DescribeKey` isn't necessary for the volume to be cr

[2018-04-11 14:53] aanm commented on #62403
/sig release

[2018-04-11 14:56] MikeSpreitzer opened #62405 "GCE Tests failing with "`mode` has been removed. Please use `subnet-mode` instead""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Some of the GCE-based tests (pull-kubernetes-e2e-gce, pull-kubernetes-e2e-gce-device-plugin-gpu, pull-kubernetes-kubemark-e2e-gce, and pull-kubernetes-kubemark-e2e-gce-big) of PR #60685, which is aimed at release-1.9, are failing with the following in their build-log.txt:
[code]

You can find the test history of that PR a

[2018-04-11 14:56] MikeSpreitzer commented on #62405
@kubernetes/sig-testing-bugs

[2018-04-11 14:57] MikeSpreitzer commented on #62405
/priority failing-tests

[2018-04-11 14:59] msau42 commented on #62238
The global fs mount is used to serialize fs operations when multiple pods use the same volume, such as fs creation and resize.

By bypassing this logic, the container runtime would have to reimplement this.

In addition, by adding a block mode field in volume mounts, that means the user has to understand which container runtime it's going to be running in, and you lose portability.

[2018-04-11 15:04] davissp14 commented on #61497
Seems like it could be beneficial to decouple this logic from the Pod lifecycle.  It would be pretty interesting to be able to wrap a Job around a K8 Exec call, for example.

[2018-04-11 15:05] fturib commented on #61176
Currently, the translation of the deployment of "dns-horizontal-autoscaller" for CoreDNS is in progress by @rajansandeep

It is expected that the corresponding e2e test will work as is (as the artifacts are selected by labels, which are the same for CroeDNS and kube-dns).

[2018-04-11 15:13] astefanutti commented on #56297
/remove-lifecycle rotten

[2018-04-11 15:14] george-angel commented on #46287
/remove-lifecycle rotten

[2018-04-11 15:19] vbmade2000 commented on #60123
@roberthbailey Anyone working on this issue ?

[2018-04-11 15:22] php-coder opened #62408 "test-update-storage-objects.sh: don't pass deprecared options to apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind enchancement
/sig api-machinery

**What happened**:
When I run `hack/test-update-storage-objects.sh` I see that it complains about deprecated options:
[code]

**What you expected to happen**:
The script shouldn't use deprecated options and there shouldn't be such warnings.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2018-04-11 15:39] micahhausler commented on #61921
@wlan0 Do you know anything about this one?

[2018-04-11 15:42] thockin commented on #62397
One more reason to  abandon support for running tests on MacOS. :)

[2018-04-11 15:52] appelsiini commented on #33777
Having a similar issue, there's almost 4 whole CPUs available within the cluster, a new Pod is requesting `500m` (half) & scheduler reports insufficient CPU in all nodes. 😱

[2018-04-11 15:54] ixdy commented on #62405
https://github.com/kubernetes/test-infra/issues/7646

cherrypick PRs to fix are in flight

[2018-04-11 16:05] AishSundar commented on #62267
This is currently one of our top flakes.

## TestGrid Links

### Fails consistently in [pull-kubernetes-kubemark-e2e-gce-big job](https://k8s-testgrid.appspot.com/presubmits-kubernetes-scalability#pull-kubernetes-kubemark-e2e-gce-big)

### Fails intermittently in
* [pull-kubernetes-kubemark-e2e-gce job](https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-kubemark-e2e-gc

[2018-04-11 16:08] AishSundar commented on #62267
cc @kubernetes/sig-scalability-bugs @wojtek-t @gmarek

@wojtek-t and @gmarek I see a similar [issue#53327](https://github.com/kubernetes/kubernetes/issues/53327) closed in the past. Hence assigning it to you for triage. Please punt to SIG/Owners as appropriate. Thanks.

[2018-04-11 16:08] AishSundar commented on #62267
/sig scalability

[2018-04-11 16:19] jeffspahr commented on #59368
We also ran into this in kubernetes v1.7.6 using OpenShift 3.7:

https://bugzilla.redhat.com/show_bug.cgi?id=1537780

[2018-04-11 16:24] mfojtik commented on #62397
@jsafrane you can't detect darwin because docker and kubelet runs in Linux VM, so for kubelet it will look like it runs on Linux. The problem is how Docker for Mac is designed and the way how the folders are shared from the host. These folders are not shared mounts (i doubt the fuse.osxfs or whatever they use) support that, or they simply don't care.

Docker for Mac now embeds its own kubelet, I b

[2018-04-11 16:27] mfojtik commented on #62397
Also to add context, OpenShift 3.10 "cluster up" will run static pods and we need hostPath to add config into these pods (static pods will run api server, so you can't use configmaps/etc...). If you're on Docker for Mac, cluster up will run the container with (our) kubelet in Docker VM. This kubelet is based on 1.10, where the Docker kubelet versioning or origin is a mystery for me ;-)

[2018-04-11 16:47] wlan0 commented on #61921
ping @nckturner

[2018-04-11 16:50] arunkumar9050 commented on #45626
I too have the error, error syncing pod.

kubectl describe pod kafka1-kafka-0
....
....
....
Warning  FailedSync             5m (x141 over 35m)   kubelet, 10.186.**.***  Error syncing pod
Warning  BackOff                57s (x164 over 35m)  kubelet, 10.186.**.***  Back-off restarting failed container
kubectl logs kafka1-kafka-0 -p
+ export KAFKA_BROKER_ID=kafka1-kafka-0
+ export KAFKA_ADVERTISED_L

[2018-04-11 16:51] arunkumar9050 commented on #43515
I too have the error, error syncing pod.

kubectl describe pod kafka1-kafka-0
....
....
....
Warning FailedSync 5m (x141 over 35m) kubelet, 10.186..* Error syncing pod
Warning BackOff 57s (x164 over 35m) kubelet, 10.186..* Back-off restarting failed container

kubectl logs kafka1-kafka-0 -p

export KAFKA_BROKER_ID=kafka1-kafka-0
export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://172.30.*.:9092
/etc/con

[2018-04-11 16:52] gnufied commented on #62369
This is being tracked here in CSI -  https://github.com/container-storage-interface/spec/issues/212

The feature is on 1.11 milestone.

[2018-04-11 17:03] krzyzacy commented on #61230
https://github.com/kubernetes/kubernetes/pull/61306 should give a better signal whenever a sink leaked

[2018-04-11 17:04] pdecat commented on #59368
I believe this is the same as https://github.com/kubernetes/kubernetes/issues/59033

If so, it is fixed in 1.10: https://github.com/kubernetes/kubernetes/pull/59286

[2018-04-11 17:14] discordianfish commented on #57660
/remove-lifecycle stale
/lifecycle freeze

[2018-04-11 17:25] sofuture opened #62410 "CRD resources with names ending in `List` aren't able to be created"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I've created a CRD with the name `ThingList`. There is no validation specified on the CRD object. Creating the CRD itself succeeds, but attempting to create CRD resources with `kubectl create/apply` of that type fails with a validation error.

**What you expected to happen**:

I expect to be able to create CRD resources

[2018-04-11 17:44] mtaufen commented on #61643
Coming back to the original issue:

There's a caveat to this, which is that Node objects are dynamic in the first place. They are unlikely to appear in a static specification of a cluster; whereas Machine objects (from the Cluster API effort) would. If the machines controller can take care of filling out the details, perhaps we can simply require a fully-explicit (namespace, name, uid, and resourc

[2018-04-11 17:49] sofuture commented on #62410
/sig api-machinery
/area custom-resources

[2018-04-11 17:57] vladimirvivien opened #62413 "CSI - internal driver not applying fsGroup ownership value when PV is not ReadOnly"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When a volume for a CSI-based PV being mounted, the code does not apply the fsGroup value when the PV is marked as readOnly = false.

**What you expected to happen**:
if pv.readOnly == false, then the fsGroup ownership value should be applied to the mounted volume.

[2018-04-11 18:02] dekkagaijin commented on #59567
FYI https://github.com/bazelbuild/rules_docker/pull/364 has been merged, stamping should give you a good mechanism to reap images.

[2018-04-11 18:02] ericchiang commented on #54632
Going to close this for now.  Would like to see a more concrete proposal since this issue is too broad.

/close

[2018-04-11 18:02] #54632 closed

[2018-04-11 18:04] yujuhong commented on #59001
Updated proposal:
https://docs.google.com/document/d/1BdNVUGtYO6NDx10x_fueRh_DLT-SVdlPC_SsXjYCHOE/edit?usp=sharing

[2018-04-11 18:12] brentpearson opened #62415 "Job with failed pod stays active forever"
/kind bug

**What happened**:
I run a job with a volume that references a non-existent config map.
I get an error message like
"MountVolume.SetUp failed for volume "some-volume" : configmaps "some-missing-config-map" not found"
The pod sits with a "Pending" status if viewed from the pod in the dashboard, or "Waiting: ContainerCreating" satus if viewed from the job.
The dashboard shows "Pods: 1 act

[2018-04-11 18:30] eroldan commented on #57291
Here is my own "small team" scenario:

As k8 does not have any kind of depencency, if some frontend pods are restarting because other pod isn't ready (eg buggy backend service), when the backend comes up again, the complete app will take 5 minutes more to be available. In this case It will be useful to kill the buggy backend, let the Deployment create new one and just wait 1 minute for frontend to

[2018-04-11 18:58] robbiezhang opened #62417 "Unable to mount hostPath file volume to a directory mounted by a secret volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Apply the following yaml in a k8s 1.8.10+ cluster, and the pod gets into "RunContainerError" state.
The event shows:

[code]
Here is the yaml:
[code]
Note: It works in k8s 1.8.7 or lower version.

**What you expected to happen**:
The pod is created successfully.

**How to reproduce it (as minimally and precisely as possib

[2018-04-11 19:04] nnvema commented on #34267
Any update on how to resolve this issue?

[2018-04-11 19:07] walteraa commented on #62393
It was solved by removing billing from my artifact bucket, which looks weird to me.

[2018-04-11 19:07] #62393 closed

[2018-04-11 19:17] vladimirvivien commented on #62413
/assign vladimirvivien
/sig storage

[2018-04-11 19:25] wojtek-t commented on #62267
@shyamjvs @krzysiekd

[2018-04-11 19:28] patrickstjohn commented on #60987
@iliketosneeze When we've run into that issue the only recourse is to unfortunately reboot the host. Once it comes up things seem to be in a clean state.

[2018-04-11 19:34] pablotoledo commented on #62256
Thanks @Mtzer91, but how? Setting Google DNS on each VM?

[2018-04-11 19:34] mtaufen commented on #61643
I'm leaning towards just `(namespace, name)`, with no pinning (Kubelet respects ConfigMap updates). In many ways this is easier to reason about, and leaves less room for silent skew scenarios:
- ConfigMap does not exist: Kubelet reports error status due to missing source
- ConfigMap is created: Kubelet starts using it
- ConfigMap is updated: Kubelet respects the update (but we discourage this patt

[2018-04-11 19:54] Mtzer91 commented on #62256
vi /etc/resolv.conf
delte all lines
nameserver 8.8.8.8
save and it should work

[2018-04-11 20:06] grantbow commented on #33666
[proposed Label] sig/kubectl

[2018-04-11 20:13] yujuhong commented on #51798
@dashpole could you update the issue with the changes you made in cadvisor? Thanks!

[2018-04-11 20:15] chirangaalwis opened #62421 "Add support for building a Kubernetes ConfigMap from a directory recursively"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Currently, it isn't possible to build a Kubernetes ConfigMap from a directory, recursively [1].

[code]

Elaborating on how this works currently, using the above directory tree structure,

- if we are to make a ConfigMap from the `conf` folder, first it is required to build a ConfigMap from the `conf` folder which will include only

[2018-04-11 20:26] #43479 closed

[2018-04-11 20:27] dashpole commented on #51798
We disabled container disk metrics collection for CRI runtimes, which was the largest portion of overhead.  It still doesn't completely solve this problem, as we still would have two entities collecting cpu and memory metrics.

[2018-04-11 20:27] nckturner commented on #61921
@wlan0 @cheftako Our question is: should kubelet be reporting exactly 1 address for each NodeAddressType?  When there are multiple interfaces on a node, kubelet (the AWS cloud provider code) sends a list of addresses, which (I think) leads to the node controller picking 1 without knowing which is the correct one to choose. Basically we think this PR is wrong.

[2018-04-11 20:33] thockin commented on #62421
To do this, we'd need to allow `/` in CM keys which is not allowed today.  I don't see a good reason not to expand that way if the use case is real.

[2018-04-11 20:39] roycaihw commented on #59611
Also ran into this question. Can someone explain where is the hash introduced?

cc @wenjiaswe

[2018-04-11 20:44] mtaufen commented on #62009
Thanks! I blocked out some time to make the corresponding k8s changes tomorrow.

[2018-04-11 20:46] eparis commented on #62009
@mtaufen awesome, thank you. Let me know if it doesn't do what we need!

[2018-04-11 21:25] resouer commented on #60697
@swatisehgal Yes, we already proposed a new design of scheduler as framework several months ago. https://docs.google.com/document/d/1NskpTHpOBWtIa5XsgB4bwPHz4IdRxL1RNvdjI7RVGio/edit#

[2018-04-11 21:30] brentpearson commented on #62415
/sig api-machinery
/sig apps-workloads-api
/sig node

[2018-04-11 21:32] bw opened #62426 "Container is blasted rapidly with readiness probes, despite longer configured interval"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have liveness and readiness probes configured for a Node container running inside a Deployment/Pod. These are configured with generous timeouts and failure thresholds:

[code]

For some reason, these would regularly fail due to "Request canceled (Client.Timeout exceeded while awaiting headers)" with no logs from insid

[2018-04-11 21:33] bw commented on #62426
/sig node
/sig gcp

[2018-04-11 21:34] jennybuckley commented on #59611
I think it is actually not a trailing hash, but a timestamp in hex. (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/record/event.go#L303)

[2018-04-11 21:40] msau42 commented on #62421
/cc @kubernetes/sig-api-machinery-feature-requests

[2018-04-11 21:46] msau42 commented on #61785
Thanks @wackxu !

/close

[2018-04-11 21:46] #61785 closed

[2018-04-11 21:50] spiffxp commented on #49563
@jiaxuanzhou sorry I missed your comment, if you still want to work on this please feel free to `/reopen`.  I don't know enough about this code to say whether your solution is correct or not, I was just categorizing the issue.

[2018-04-11 21:56] spiffxp commented on #57559
/close

I'm going to call this done.  Moving the markdown files out of client-go to here would require rescoping the release cycle.

[code]

[2018-04-11 21:56] #57559 closed

[2018-04-11 22:00] rocketraman commented on #52847
/remove-lifecycle stale

[2018-04-11 22:20] crimsonfaith91 opened #62431 "kube-dns does not work for local cluster by default"
**What happened**:
After creating a StatefulSet on a *local cluster* to manage several pods, I met a use case that requires setting up FQDN identity for the pods. For instance, I set up the first pod of the StatefulSet to have FQDN of `<some-statefulset>-0.<some-subdomain>.default.svc.cluster.local`. However, `nslookup` the FQDN fails although `kube-dns` pods do run successfully.

I followed this

[2018-04-11 22:36] geoffgarside commented on #61277
I'm not quite sure what is killing etcd though, I've got the exited etcd container log below, just need to work out the source of its "exit (0)" status

[code]

[2018-04-11 23:02] psaini79 opened #62434 "RT process inside container"
/kind feature

I want to run  RT process inside container as it is a requirement for my application. I am able to do this in docker/container using --cpu-rt-runtime=95000 --ulimit rtprio=99  but it doesn't work with k8s as I did not find a parameter to pass the same from YAML file.

**Environment**:
- Kubernetes version (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"9", Gi

[2018-04-11 23:04] psaini79 commented on #62434
@kubernetes/sig-architecture-feature-requests

[2018-04-11 23:41] afong94 opened #62435 "Disks fail to detach when upgrading from 1.9.2 to 1.9.5"
/kind bug

**What happened**:
With a 1 master+3 worker node cluster (1.9.2) and 3 pods with PVs, the controller-manager fails to detach these PVs from the nodes after draining and upgrading to 1.9.5. This causes the pod to hang in the "ContainerCreating" state.
[code]

**What you expected to happen**:
The disk should be detached from the nodes and the pods should be restored to the running state.

[2018-04-11 23:53] robbiezhang commented on #62417
/sig node
/sig azure

[2018-04-11 23:58] yb-workfit opened #62437 "XPACK features disabled by default with no-option to over write the settings"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
XPACK features are disabled by default with no option to overwrite those settings in fluentd-elasticsearch cluster addon: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-image/config/elasticsearch.yml#L16

**What you expected to happen**:
These settings should be override-able j

[2018-04-12 00:03] yb-workfit commented on #62437
/sig cluster-lifecycle

[2018-04-12 00:04] cheftako commented on #61921
Cloud node controller seems to assume this behavior when it computes whether an IP has changed https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L444. I believe this is corresponds to https://github.com/kubernetes/kubernetes/blob/master/pkg/util/node/node.go#L81 and https://github.com/kubernetes/kubernetes/blob/master/pkg/util/node/node.go#L99. So right n

[2018-04-12 00:06] krmayankk commented on #2630
@qianzhangxa if multiple containers need access to that volume , you will need to make sure all containers request the same fagroup in the container level security context or better just set at the pod level

[2018-04-12 00:07] krmayankk commented on #2630
@tallclair FYI I believe we can close this issue

[2018-04-12 00:08] krmayankk commented on #2630
/sig auth

[2018-04-12 00:29] crimsonfaith91 commented on #62431
The problem is due to not specify port number for headless service, which in turn results in failure of endpoint controller to create the endpoint for the headless service. Without the endpoint, FQDN does not work.

[2018-04-12 00:29] #62431 closed

[2018-04-12 00:31] bsalamat commented on #61512
I am not referring to the snapshotting that happens during preemption. I am referring to [the snapshotting that is done by `UpdateNodeInfoMap`](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L123) at the beginning of a scheduling cycle.

That's not correct. Scheduler always gets a snapshot of nodeInfos at the beginning of a scheduling cycle and uses th

[2018-04-12 00:50] wavezhang commented on #62369
That's great!

[2018-04-12 00:50] #62369 closed

[2018-04-12 00:54] MrHohn commented on #59611
Thanks for the pointer! So looks like that is intentional, though I'm not understanding the reason behind it.

[2018-04-12 01:07] dims commented on #62421
@chirangaalwis if you are looking for a way to do this right now ... we have support in 1.10 for binary data in config maps, so you can specify a zip file to be mounted to the pod and add the code running in the pod to unzip or use fuse-zip to access the files. (say hi to paul!)

[2018-04-12 01:17] nckturner commented on #61921
Yeah, that's what we found as well.  I think in the original PR the user was trying to specify a secondary IP with the `--node-ip` flag which was failing.  An ideal fix would allow `--node-ip` to use any IP on the instance, but in either case kubelet would not send a list of addresses, only the default private IP or the IP specified by `--node-ip`.

[2018-04-12 01:18] FengyunPan2 commented on #61100
I have tested it with this pr #61002, and work fine.
Can we close this issue?

[2018-04-12 01:30] zhangxiaoyu-zidif commented on #62362
is that necessary to restart a init container when a pod status is running?

[2018-04-12 02:37] abel-von commented on #62238
@msau42 Thanks for reply, what we want to do is not add a block mode field in the volume mounts, we just want the volume with block mode  can be defined in the volumeMounts of pod. Please look at the example below:
First we can create a pv:
[code]

then the pv can be defined in the volumeMounts in pods:
[code]

We don't change the the API of the pv or pvc or pod. It's just the block mode volume di

[2018-04-12 04:52] #50635 closed

[2018-04-12 04:55] #55076 closed

[2018-04-12 05:03] thockin commented on #46442
I lost track of this - did we rech some conclusion?  In general I dislike thinking about things in terms of states (collections of properties) and we have found that state-oriented APIs are hard to evolve.

I do think we need to disambiguate machines that are offline but can resume from machines that are gone and will be replaced another equivalent-but-different machine.

[2018-04-12 05:27] crimsonfaith91 opened #62440 "Local headless service with clusterIP field set as none still requires ports field to be specified"
**What happened**:
When creating a headless service **locally** with `clusterIP` set as `None`, `ports` field has to be specified. Otherwise, endpoint controller will not be able to create an endpoint for the headless service successfully. This is because port number of to-be-created endpoint is defaulted to 0 when the `ports` field is not specified, which results in an error (0 is a reserved numb

[2018-04-12 05:59] feiskyer commented on #61716
@martinivanov Windows doesn't support cgroups. You should always disable it.

[2018-04-12 06:57] #54212 closed

[2018-04-12 07:07] nckturner commented on #50635
@mikedanese If this is being closed in favor of other issues, can you reference them here?

[2018-04-12 07:58] #19825 closed

[2018-04-12 08:11] shyamjvs commented on #58050
/remove-lifecycle stale

On Thu, Apr 12, 2018, 9:59 AM fejta-bot <notifications@github.com> wrote:

[2018-04-12 08:17] denisvmedia opened #62446 "Requests to 10.96.0.10 require external network connection"
/kind bug

After I set up the firewall, I lost the ability to obtain DNS records via 10.96.0.10. After a bit of research I discovered that all the requests to and from 10.96.0.10 go via the external network. Probably, this is a problem somehow related to the fact that Linode puts an internal private network to the same interface as an alias (i.e. `eth0:1`). Also, I use flannel. Apart that all othe

[2018-04-12 08:27] jamie-liu commented on #53754
I also meet the same issue with kubernetes 1.8.
It's impossibe for Prometheus to fetch metrics from 127.0.0.1 in my case, any workaround?
I think we'd better reopen this issue.

[2018-04-12 08:29] feiskyer opened #62449 "Azure cloud provider is always selecting the last element of LB list"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Azure cloud provider is always selecting the last element of LB list. The reason is: getServiceLoadBalancer() refers the pointer of an local variable within for loop:

https://github.com/kubernetes/kubernetes/blob/e7ed9b408adaaec1e5ddfc167fc18b6aaeca425f/pkg/cloudprovider/providers/azure/azure_loadbalancer.go#L202-L206

[2018-04-12 08:29] feiskyer commented on #62449
/sig azure

[2018-04-12 08:30] dixudx commented on #62410
@sofuture `List` is a special suffix for `Kind` name.

When you create a object using `ThingList`, which will be render as `[]Thing` instead of plain `ThingList`. That's why error `invalid object to validate` occurs due to missing item list.

[2018-04-12 08:36] ckeyer opened #62451 "Failed create pod sandbox: calico NetworkPlugin cni failed"
**Is this a BUG REPORT or FEATURE REQUEST?**: REQUEST
/kind bug

**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: https://cloud.digitalocean.com  centos 7.4
- OS (e.

[2018-04-12 08:40] qinghuawulang commented on #58217
i get same error in centos
kubernetes:1.9.3

Fail to get rootfs information unable to find data for container

[2018-04-12 08:47] ffd2subroutine opened #62452 "path with "~" user's home directory doesn't work (kubectl)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig cli

**What happened**:
[code]
returns
[code]
**What you expected to happen**:
To successfully create a kubeconfig file and set up cluster related stuff in it

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:
But if I use an absolute path like:
[code]
Then it works.

Also, if I

[2018-04-12 09:23] wpeng102 opened #62454 "OpenSSL vulnerability, need upgrade openssl to openssl_1.1.0f-3+deb9u2 version"
OpenSSL Security Advisory Details

External Disclosures

CVE-2017-3736
CVE-2017-3738
External Disclosure URL specified below
https://www.openssl.org/news/secadv/20171102.txt

Current hyperkube image includes OpenSSL 1.1.0f version, it need update to openssl_1.1.0f-3+deb9u2 version which has included CVE-2017-3736, CVE-2017-3738 fix. (https://release.debian.org/proposed-updates/stable_diffs/openssl

[2018-04-12 09:37] dixudx commented on #62388
Dup of #55676.

See [my comment](https://github.com/kubernetes/kubernetes/issues/55676#issuecomment-371084007).

* For `cri-o`, you can override the sandbox image by `--pause-image=[value]`.
* For `containerd`, you can override it in [`/etc/containerd/config.toml`](https://github.com/containerd/cri/blob/master/docs/config.md).

/close

[2018-04-12 09:37] #62388 closed

[2018-04-12 09:44] denisvmedia commented on #62446
/sig bugs

[2018-04-12 09:45] denisvmedia commented on #62446
@kubernetes/sig-network-bugs

[2018-04-12 09:48] jiaxuanzhou commented on #49563
@spiffxp i will work on it
/reopen

[2018-04-12 09:49] discordianfish commented on #52279
/remove-lifecycle stale
/lifecycle freeze

[2018-04-12 09:50] discordianfish commented on #58170
Oh this irony.
/remove-lifecycle stale
/lifecycle freeze

[2018-04-12 10:01] #53036 closed

[2018-04-12 10:05] soltysh commented on #47180
This is now working as expected in latest master:
[code]

[2018-04-12 10:05] #47180 closed

[2018-04-12 10:32] shyamjvs opened #62456 "Docker daemon restarting in our large-cluster performance tests"
We started seeing failures in our 2k-node and 5k-node performance tests recently:
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-large-performance (e.g run 78)
- https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-performance

@wojtek-t noticed that apiserver went down in between the test for ~1 minute. We then looked into the logs of other components and all of them seemed

[2018-04-12 10:33] shyamjvs commented on #62456
I'm now trying to verify the hypothesis that it's because of the COS change by changing the version to the older one for our tests.

[2018-04-12 10:35] andyxning commented on #27114
I am in favor of this suggestion.

[2018-04-12 10:49] nikhita commented on #62325
xref https://github.com/kubernetes/apiextensions-apiserver/issues/28

[2018-04-12 10:50] nikhita commented on #62325
/cc @sttts @munnerz @mbohlool

[2018-04-12 10:51] nikhita commented on #62329
/cc @munnerz @mbohlool

[2018-04-12 10:52] nikhita commented on #62323
@tamalsaha Can you update the list? The first point is done! :tada:

[2018-04-12 11:04] serathius commented on #62399
cc @qingling128 @bmoyles0117

[2018-04-12 11:13] #61205 closed

[2018-04-12 11:16] FrederikNS commented on #56703
It looks like it only landed in 1.10.0-alpha.2.

[2018-04-12 11:33] verb commented on #41938
/remove-lifecycle stale

[2018-04-12 12:05] KarthikeyanBrigita opened #62463 "kubectl proxy not working,unable to access vtctld web UI"
Site can't be reached error displayed  when accessing this URL http://localhost:8001/api/v1/proxy/namespaces/default/services/vtctld:web/
Already run this command "kubectl proxy --port=8001"
All Pods & vtctld running fine.How to fix this issue?

[2018-04-12 12:11] xiaoxubeii commented on #56903
Same problem, but the most strange thing is that it appears on some nodes.

[2018-04-12 12:12] berlincount commented on #43916
We seem to be having more success running our containers Ubuntu nodes ... so, I'd concur :)

[2018-04-12 12:39] discordianfish commented on #35941
Ah, I see, the empathize is on *automatic*. This could be clarified in the issue description maybe. It sounds right now like it's not supported at all.

[2018-04-12 12:49] shyamjvs commented on #62456
Actually, I'm seeing that PR https://github.com/kubernetes/kubernetes/pull/61072 updated the cos versions to `cos-stable-65` for config-default and for kubemark, but to `cos-beta-66` for config-test (which is what we're performing our OSS-testing against). This IIUC means we've bypassed testing for cos-stable-65.

@filbranden Am I missing sth or was this intentional? Because I'd expect that we tes

[2018-04-12 12:53] andyzhangx commented on #62282
Finally I have verified this is cuased by issue in nsenter_mount.GetFileType func, with above PR#62467, the node.volumesInUse list will be correct below are the test result with & without this fix
Before fix(it costs 9 min for rescheduling 3 pods with disk mount from one node to another)
[code]

After fix: (it costs 3 min for rescheduling 3 pods with disk mount from one node to another)
[code]

[2018-04-12 13:01] shyamjvs commented on #62267
I'm going to co-own this bug with @krzysied. I've briefed him about the details of the job and he'll be looking into it.
Note that since this presubmit job is a not a blocking one and introduced experimentally just ~week ago, we can consider it less critical.

[2018-04-12 13:21] wojtek-t opened #62468 "Hard to debug scalability tests"
Merging https://github.com/kubernetes/kubernetes/pull/40933 will significantly affect our debugging ability (at least in the context of performance tests, where we can't really run tests on higher verbosity, since the amount of logs there is overloading apiserver).

So I think we may consider reverting it, and making verbosity for those logs a flag (I'm fine with having a default still at 3, but I

[2018-04-12 13:29] liggitt commented on #62468
Can you use vmodule to increase verbosity for just that component?

[2018-04-12 13:36] wojtek-t commented on #62468
The problem is (maybe that changed in the meantime, but it was like that in the past), that increasing verbosity above 2 in apiserver (which is what we would need) was basically making it unusable (it was producing too much logs to keep up with load) as well as the amount of logs was insane and not even easily greppable with that...

[2018-04-12 13:44] gnufied commented on #35941
We are on track for implementing online resizing in 1.11 - https://github.com/kubernetes/community/pull/1535 . So you no longer have to re-start the pod to finish the resizing process, it will be "automatic" once you edit the pvc.

[2018-04-12 13:48] spacebel commented on #7890
What evidence are you looking for, guys ? Cloud storage is used by so many people for the persitence.
Looking for a use case ? I need to dynamically create Jobs in a Kubernetes cluster and mount bucket for these Jobs.
Please, hurry up :)

[2018-04-12 13:52] mikedanese commented on #50635
I'm closing because the a SAR doesn't trust self reported ips anymore. https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/certificates/approver/sarapprove.go#L215

[2018-04-12 13:54] mikedanese commented on #50635
also related https://github.com/kubernetes/community/pull/1982

[2018-04-12 13:54] craigbox commented on #56306
Setting anti-affinity works as expected.
However, https://kubernetes.io/docs/admin/multiple-zones/#pods-are-spread-across-zones doesn't make any mention of it.

That should be updated to reflect current state.

/remove-lifecycle stale

[2018-04-12 13:55] lostpebble commented on #27114
One other thing to consider here is, will the readiness probe ever actually kill off a pod that never actually becomes ready? I assume this was one of the original intentions of the liveness probe.

There still needs to be a kind of "kill switch" if the pod never actually becomes ready.

As @jaredallard mentioned:

And as @tanapoln mentioned in the first post:

I think what it boils down to is tha

[2018-04-12 13:55] brtknr commented on #55867
I had the same issue but resolved it as follows:

Add `--cgroups-per-qos=true --enforce-node-allocatable=pods` to your `KUBELET_ARGS` line located inside `/etc/kubernetes/kubelet`.

[code]

Then run `sudo systemctl restart kubelet.service` on your worker nodes.

[2018-04-12 13:57] mikedanese commented on #50635
See https://github.com/kubernetes/community/pull/1982. I'm closing because I'm not sure if adding this to the SAR approver is a good approach and I'd rather design a solution first.

[2018-04-12 14:03] liggitt commented on #62468
vmodule lets you control verbosity per file… level 3 on httplog should be pretty targeted

[2018-04-12 14:03] ncdc commented on #62468
Wouldn't `-vmodule=httplog=3` do the trick? This is the only `httplog.go` file in the entire code base.

[2018-04-12 14:10] wojtek-t commented on #62468
Aah - I didn't know that.
Yes - that sounds like something that would solve our problem (assuming we don't have other (spammy) files with httplog name :) [but I hope we don't]

Thanks for pointers.

[2018-04-12 14:18] php-coder commented on #61599
@marrrvin What is the current state of this issue? Do you need a help on that?

[2018-04-12 15:04] GabrielSVinha opened #62473 "Kubectl run returning error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I run `kubectl run -i --tty temp --image redis --command "/bin/bash"`, the following error shows up:

[code]
**What you expected to happen**:
A new deployment is created and a connection to it is open.
**How to reproduce it (as minimally and precisely as possible)**:
Run the above command in a kubeadm cluster

**Any

[2018-04-12 15:06] swatisehgal commented on #60697
Cool, thanks for sharing the document!

[2018-04-12 15:07] filbranden commented on #62456
Hi @shyamjvs,

Are you using the setting that is coming from `cluster/gce/config-test.sh`? If you want prod, shouldn't you use `cluster/gce/config-default.sh` instead? (Or perhaps `cluster/kubemark/gce/config-default.sh`, since I imagine that is used in other benchmarks too...)

[2018-04-12 15:28] shyamjvs commented on #62456
Yes - just like ~all our OSS tests (not just scalability ones) are.

Well, yes. But the point I mention is that we should be testing stuff that we use for prod - as we don't want to be testing one thing and running sth else in prod :)
In this particular case (where we jumped from cos-63 to cos-beta-66), we changed the prod config to cos-65 without ever having it covered by our tests.

[2018-04-12 15:50] pohly opened #62474 "DOCKERIZE_KUBELET local-cluster-up.sh health check"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

PR #60633 adds health monitoring for processes brought up with local-cluster-up.sh. But monitoring of kubelet when started under Docker is not covered yet.

**What you expected to happen**:

Someone who uses local-cluster-up.sh with DOCKERIZE_KUBELET would need to add some code to local-cluster-up.sh and prepare a PR

[2018-04-12 15:51] filbranden commented on #62456
The reason for going to M66 in `config-test.sh` is that we also want to test what we *want* to run in prod. We're launching GKE 1.10 EAP with M66 and intend to stay on that milestone of COS for the life cycle of 1.10.

If you want to run both *current* prod and *next* prod, then you should set up two separate tests, one with `config-default.sh` and one with `config-test.sh`. That would really be i

[2018-04-12 16:06] #55526 closed

[2018-04-12 16:06] #55211 closed

[2018-04-12 16:10] shyamjvs commented on #62456
I understand the requirement to test current prod and next prod too. All I'm saying is that we shouldn't test next prod without testing current prod - i.e in this particular case, we seem to have *never* used cos-stable-65 in testing because the switch was directly made from stable-63 -> beta-66 in config-test.sh. That said, let me know if I'm missing sth here.

[2018-04-12 16:11] pohly commented on #62474
/sig cli

[2018-04-12 16:17] raphaelquati commented on #59755
I think my problem is similar to this

I've created an Azure Storage, and try to run this:

[code]
So, apache runs with user 'www-data', and azure-file mount the filesystem with 755:

[code]
azure-file doesn't have option to set file_mode and dir_mode. So apache user (www-data) cannot write to any file at mount point.

[2018-04-12 16:19] bgrant0607 commented on #62217
Yes, yank the conformance tag

[2018-04-12 16:23] alexxa opened #62477 "Missing resources in kubectl get/describe--help"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1) `kubectl get --help` doesn't list `vms, vmrs and ovms` as resources. But it lists `pods`, for example. Why so?
2) `vms, vmrs, and ovms` are not listed in `kubectl describe --help` too.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
kubectl get --help
kubectl describ

[2018-04-12 16:29] alexxa commented on #62477
@kubernetes/sig-cli-bugs
@kubernetes/sig-docs-bugs

[2018-04-12 16:33] tonglil commented on #2856
Do the annotations work (on GKE)?

[code]

There doesn't seem to be any documentation for this at all.

[2018-04-12 16:39] Mumrau opened #62478 "Access a private repository via token"
Hi,

I'm having troubles settings up access to docker image in a private container registry. This registry (IBM Cloud) indeed relies on token to authenticate. The way I've tried (thanks to: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ and the API reference) didn't work and doesn't show any way of getting it to work properly.

When I'm outputting the content

[2018-04-12 16:49] sstarcher commented on #48638
@derekwaynecarr @liggitt Wanted to reiterate we are seeing this issue in k8s 1.9.3
https://github.com/kubernetes/kops/issues/4946

[2018-04-12 17:04] filbranden commented on #62456
As I said, in the past we were slow to update this... But now we decided we want to test both, so we decided `config-test.sh` is the best place to test *next*.

We'll keep the pace of updating these in the future. So you can expect the next change is for `config-test.sh` to test whatever COS version we expect to go into GKE 1.11, while `config-default.sh` will then move to M66. So long term your e

[2018-04-12 17:05] uablrek commented on #59976
Figured out one reason I thought GCE bypasses the kube-proxy; GCE [preserve src-addresses](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip) when `externalTrafficPolicy: Local`. But kube-proxy always masquerades,
pkg/proxy/iptables/proxier.go:801;
[code]

[2018-04-12 17:06] filbranden commented on #62456
Regarding the original issue... Is the problem you're seeing on `cos-stable-65` or `cos-beta-66`?

I'd expect `cos-stable-65` not to cause too much trouble here... Since it ships the same kernel family (4.4) and same Docker version as `cos-stable-63`...

Regarding `cos-beta-66`, the Docker version is still the same but the kernel is newer (based on 4.14). If you're seeing regressions there, I'd be

[2018-04-12 17:33] pablotoledo commented on #62256
@Mtzer91 I love you! hahahaha

[2018-04-12 17:33] #62256 closed

[2018-04-12 17:37] shyamjvs commented on #62456
Another option could've been to make 2 quick updates (within 1 release). Where the 1st update would be from 63 -> 65 in test and the 2nd would be the one bringing it to the current state. That said, the current is probably fine.

cos-beta-66

Even though a strong suspicion for this regression is on the cos image update, I think we should still confirm that's the case. So I made https://github.com/

[2018-04-12 17:41] filbranden commented on #62456
Awesome, thanks @shyamjvs !

[2018-04-12 17:43] MrHohn opened #62479 "Conflict validation on kubeproxyconfig.HealthzBindAddress/MetricsBindAddress and flags"
**What happened**:
From https://github.com/kubernetes/kubernetes/issues/53754#issuecomment-371092964.

We used to allow using `ip` or `ip:port` in `--healthz-bind-address` and `--metrics-bind-address`. Now the validation on kubeproxyconfig disallow that (it only allows `ip:port`):
https://github.com/kubernetes/kubernetes/blob/dbcb2c9b27c16da8bd35e0f0898af552bb5ba9fd/pkg/proxy/apis/kubeproxyconfig/

[2018-04-12 17:46] MrHohn commented on #53754
@jamie-liu metrics binds to `127.0.0.1:10249` by default, are you trying to modify port as well?

@zhoulouzi @Avanpourm Thanks for reporting, I confirm the issue is remaining. `0.0.0.0:10249` (or any ip:port) does not work as intended even after the fix.

Reopening this and filed a new issue for conflict kubeproxyconfig validation.
/reopen

[2018-04-12 17:46] nicksardo commented on #60665
cc @bowei

[2018-04-12 17:46] MrHohn commented on #62479
/sig network
/kind bug

[2018-04-12 17:47] afong94 opened #62480 "Pods with PVCs take a long time to start"
/kind bug

**What happened**:
Upon deploying a workload with uses PVCs on vSphere, it takes about 4-5 minutes for each pod to be created.

**What you expected to happen**:
Persistent volumes should not take as long to mount

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a vsphere storage class, e.g.
[code]

Deploy a statefulset workload that uses this storage class, e.g.

[2018-04-12 18:19] shyamjvs commented on #62468
IMO the goal here is not just to have it working wrt our scalability tests. We need to ensure that we have these logs even in production where we may need to debug some performance/scalability (or potentially other) issues. I can think of at least a couple of times where I much needed these logs to understand some scalability issue on a real production cluster.

I believe we should make this `vmod

[2018-04-12 18:26] krzyzacy commented on #62267
/cc

[2018-04-12 18:30] wojtek-t commented on #62468
In theory, you should be able to get all that information from audit logs. They are just harder to use in my opinion, so using them for all performance-related debugging would significantly slow us down.

So maybe the solutions actually should be:" if you don't have audit logs, then do that."

Or, thinking a bit more about that, actually, we may not be audit-log read-only operations, which are als

[2018-04-12 18:44] shyamjvs commented on #62468
For one, I'm not sure if audit logs have all the information (for e.g latency of the API call) and I'm also not sure if all information is meant to be part of audit logs.
Secondly, not all calls may be audited. You pointed out about read-only ones, but there can be other cases too. For e.g
- some lost audit events (though this shouldn't ideally happen with audit logs)
- preferentially neglecting s

[2018-04-12 18:49] scheler commented on #54967
I see this issue with 1.10.0 with --cpu-manager-policy=static, and I don't understand why this issue was closed without addressing.

The OP says the error message is harmless, but it is confusing, so it would be good if this is addressed.

[2018-04-12 18:53] wojtek-t commented on #62468
we may also lose debug logs - at least in theory audit logs should have higher SLO

That was my point about read-only requests (in most cases, probably reading secrets should be audited too).

We should change goals of auditing to facilitate debugging. But if they solve the problem, we should do the same thing twice.
The main question is whether they solve (which it seems it may not be the case).

[2018-04-12 19:06] abrarshivani commented on #61707
/assign @abrarshivani

[2018-04-12 19:11] msau42 commented on #62238
Sorry I was not clear.  My main concern is that this mode will be bypassing important filesystem operations that kubelet/volume plugins currently do, like filesystem create and resize.  Those would have to be reimplemented by the container runtime in order to support these Kubernetes features, which also means we would need to add in new extensions into the CRI to account for these scenarios.

[2018-04-12 19:25] janetkuo commented on #62473
/sig cli

This is fixed by #61713. The fix is cherrypicked to 1.10.

[2018-04-12 19:25] #62473 closed

[2018-04-12 19:26] antoinne85 commented on #45509
I wound up on this issue because I was consider how my company might implement our current worker pattern within Kubernetes (with some optimizations).

In our case, we have workers that scale up and down as the workload increases/decreases. At some point, though, they run out of work (e.g. a queue is completely emptied), at which point you'd want to start spinning down the workers (pods, in this c

[2018-04-12 19:42] lonial opened #62488 "Privilige escalation issue with Service account token"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig auth

What happened: Tiller (installation entity) User is requesting k8s API to create pod but that pod's chart refers to service account token of tiller (installation entity) itself in its chart. When I am reviewing the code of below file when we are reading service account token in this method getServiceAccount and we are not checking

[2018-04-12 19:46] jennybuckley commented on #61510
@liggitt
Looks like it will always use 443 no matter what ports are available, right? Should our documentation reflect this or should it behave differently? https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/config/client.go#L133

[2018-04-12 19:53] mwhipple opened #62489 "AWS: Multiple SGs can lead to breakdown of Service isolation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When specifying multiple services using the `service.beta.kubernetes.io/aws-load-balancer-extra-security-groups` annotation the SG defined in that annotation may be the one used for ingress to the instances. If this happens for multiple service ELBs and one of those services is removed then the rule may be removed during