[2016-09-23 01:53] liubog2008 commented on #13479
Thanks for your reply. I also need the feature that pod would be evicted by kubelet if OOD. By the way, could you tell me why LVM is not considered in doc disk-accounting.md? I think lvm is a more general solution.

will evict pods based on disk usage whenever the disk availability is low.

[2016-09-23 02:01] yifan-gu commented on #33139
@pmorie Here is what an `app` is in today's rkt:

[code]

Where `stage1` can be `systemd-nspawn` or `kvm`, which encapsulate the `apps` and an init process.
The `stage1` corresponds to pod sandbox in CRI.

So we can see, the `apps` are all sharing the same namespaces today, but can be applied with individual cgroups.

[2016-09-23 02:05] chrislovecnm commented on #32492
@jsafrane figured it partially out. Hit CPU limits.

[2016-09-23 02:07] chrislovecnm commented on #28706
good work around, but I need to bump the container version ;(

[2016-09-23 02:08] k82cn commented on #33283
I'll handle the smoke tests, and will also propose the roadmap; SIG will be better to discuss the candidate projects.

[2016-09-23 02:24] k82cn commented on #25349
Test passed with the latest code, suggest to close it firstly; if happened again, please assign it to me directly :).

Head: `88bcf4a5b48daddafb4ab644984f0d711992f998`
OS: `Darwin klauss-mbp.cn.ibm.com 15.6.0 Darwin Kernel Version 15.6.0: Mon Aug 29 20:21:34 PDT 2016; root:xnu-3248.60.11~1/RELEASE_X86_64 x86_64`
Test command: `make test WHAT=contrib/mesos/pkg/queue`
Test output:

[code]

[2016-09-23 02:27] saad-ali commented on #32492
No, AFAIK, GKE uses the same k8s bits for this. @kubernetes/goog-gke can confirm.

FWIW, this particular error, `PersistentVolume ... still exists within 20m0s`, doesn't look like it's been hit since.

[2016-09-23 02:28] justinsb commented on #32900
@dcbw I described kops because I wanted to make things concrete.  It should be the same as kube-up, and thus also all installations should stay fairly close to it.

You suggested that the master shouldn't have `--pod-cidr`, but when I tested that the cluster failed to come up, because kube-controller-manager / kube-apiserver couldn't be started by kubelet.  The error is:

`Sep 23 02:15:37 ip-172-2

[2016-09-23 02:30] kevin-wangzefeng commented on #30272
2. To prepare for maintenance event on a node, operator adds a `node-maintenance:NoSchedule` taint to the node and then for every pod that is running on the node modifies its `unreachable:NoExecute` toleration to have infinite forgiveness period. The node is now effectively "in maintenance mode."
3. Same as step (2) above; presumably the heartbeats stopped because of the maintenance action that th

[2016-09-23 02:42] dims commented on #33336
@julienvincent please see comments in this one https://github.com/kubernetes/kubernetes/issues/30861

[2016-09-23 03:00] boxsmiley commented on #6437
thank you for your quick response and helpful pointer.

[2016-09-23 03:06] AdoHe commented on #29472
Really look forward to this :)

[2016-09-23 03:39] deads2k commented on #33283
I think that the boundaries around the core kubernetes code in this repo need to be considered.  We have core interfaces and we have plugins for compiling in bits of functionality that conform to those interfaces under `plugins`.  However, once an extension reaches the point where it has forked the command binaries, changed the implementation of core controllers, and wrapped other binaries it has

[2016-09-23 03:41] madhusudancs opened #33350 "Follow up Federated Ingress test failures and address review comments in PR #33339"
PR #33339 fixes a known bug but it still does not fix all the Federated Ingress test failures. So this is a note to follow up on those failures and address the optional review comments left in the PR.

cc @kubernetes/sig-cluster-federation @nikhiljindal

[2016-09-23 03:46] deads2k commented on #33283
To be clear, I think the SIG would own the incubator project.  That would give it strong control over its own destiny without maintaining an in-tree fork of kube.

[2016-09-23 03:50] pmorie opened #33351 "SELinux: Kubelet directory should not have to be labeled svirt_sandbox_file_t"
Currently, the Kubelet directory has to be labeled `svirt_sandbox_file_t` on systems using SELinux.  This is disadvantageous because the `svirt_sandbox_file_t` type is usable from any container -- meaning that a container process escaping its namespace isolation will be able to use any file or directory with that type.  We can make Kubernetes more secure on systems using SELinux by allowing the Ku

[2016-09-23 03:51] derekwaynecarr commented on #33162
Closing issue per comment

[2016-09-23 03:51] #33162 closed

[2016-09-23 04:20] caseydavenport commented on #32900
Trying to catch up here and not fully groking it yet - is this suggestion just for kubenet, or CNI plugins as well?

I don't want the kubelet to enforce a dependency on node.podCIDR being defined in order to launch pods - some networks (e.g Calico) don't always care so much about that value.

[2016-09-23 04:23] derekwaynecarr commented on #29033
I think I am the one now responsible to change where resource cleanup
occurs, so will sync up.  The finalizer is not a bad idea.

On Wednesday, September 21, 2016, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-23 04:26] derekwaynecarr opened #33354 "Kubelet eviction min reclaim should support percentage"
See https://github.com/kubernetes/kubernetes/issues/32537#issuecomment-246874643

@vishh @ronnielai @sjenning

[2016-09-23 04:27] derekwaynecarr commented on #33354
@sjenning - interested in adding this support?

[2016-09-23 04:29] derekwaynecarr commented on #32537
Spawned https://github.com/kubernetes/kubernetes/issues/33354 to add percentage support for min reclaim.

I will follow up with our proposed default for nodefs later

[2016-09-23 04:34] sjenning commented on #33354
@derekwaynecarr sure, i'll pick it up

[2016-09-23 04:50] thockin opened #33355 "Use finalizer to delete-inhibit PVs while bound to a PVC"
https://github.com/kubernetes/kubernetes/issues/29033#issuecomment-241055560

If the storage controller put a finalizer on the PV, then we could be relatively assured that nobody will delete the PV while a PVC is bound to it.

@kubernetes/sig-storage

[2016-09-23 04:52] #28065 closed

[2016-09-23 04:54] derekwaynecarr commented on #8598
server side garbage collection is alpha and on by default in 1.4.

On Tuesday, September 20, 2016, Ye Wang <notifications@github.com> wrote:

[2016-09-23 04:57] #33135 closed

[2016-09-23 05:06] zreigz commented on #32432
Ok I will start working for PR

[2016-09-23 05:09] k8s-merge-robot opened #33357 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/4499/

Failed: Up {e2e.go}

[code]

From @quinton-hoole:

I saw this on GCE also, so I don't think it's a GKE problem.  I assume that something that merged around Sept 22, 11PM PDT caused this regression, as it seems to be happening fairly consistently.
The timing correlates with #33339, but it's hard to

[2016-09-23 05:16] SGA-yasuo-takeuchi opened #33358 "How to specify "severity" to container logs"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
severity,container log

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-09-23 05:22] beekhof commented on #24988
@lavalamp Could you expand on or point the way to a document explaining the changes you have in mind for kublet & kube-proxy?

[2016-09-23 05:25] roberthbailey commented on #32492
We don't change it.

[2016-09-23 05:57] roberthbailey commented on #33212
From https://github.com/kubernetes/kubernetes/blob/master/docs/design/versioning.md#supported-releases-and-component-skew:

"a client should be skewed no more than one minor version from the master, but may lead the master by up to one minor version. For example, a v1.3 master should work with v1.1, v1.2, and v1.3 nodes, and should work with v1.2, v1.3, and v1.4 clients."

[2016-09-23 06:11] justinsb commented on #32900
I tried @freehan's suggestion of allowing kubelet to run pods with hostNetwork, and it seems to "just work": https://github.com/kubernetes/kubernetes/pull/33347  Would appreciate any comments on it of course!

This approach both removes complexity and doesn't have a direct dependency on the PodCIDR - it just relies on whether the network provider considers itself ready.  So no matter why the netwo

[2016-09-23 06:19] #33327 closed

[2016-09-23 06:30] fejta commented on #33357
Mike and Robby please reassign as appropriate!

Federation jobs are failing to find a load-balancer:

[code]

GKE is an operation error:

[code]

[2016-09-23 06:35] fejta commented on #33313
@ixdy are you assigning this to me because I'm oncall? This doesn't look like a jenkins issue.

[2016-09-23 06:35] #33313 closed

[2016-09-23 06:39] jsafrane commented on #32492
I'm closing it then, stay alert and provide controller logs if you hit it again.

[2016-09-23 06:48] #32492 closed

[2016-09-23 06:51] k82cn commented on #33283
Understood your concern :). But I'd suggest to keep `contrib/mesos` in tree, because it's better for k8s to support different cloud provider (resource manager/provider) which is chose on startup, e.g. `k8s-scheduler --cloud-provider=mesos`. For reshap part, I'll list it in roadmap.

[2016-09-23 06:57] #33315 closed

[2016-09-23 06:58] kolov commented on #23241
I tried on 2 new instances yesterday and I couldn't make it work with any of the tricks mentioned here.

[2016-09-23 07:16] shashidharatd commented on #33186
@quinton-hoole, i am taking the latest code from master branch.

[2016-09-23 07:22] dgonzalez commented on #27234
Same problem here and the line commented above (the one that fixes the problem) does not exist anymore.

[2016-09-23 07:35] mwitkow commented on #33081
GCE L3 load balancer, it's not technically an interface IP. The L3 load balancer IP is configured on the receiving machines through something we used to call the route 66 (a marvelous hack, see https://github.com/coreos/bugs/issues/1195 for a bug with context).
We could, technically remove it and thus let the traffic escape. Or maybe there is some `iptables` magic that you can do to force a route

[2016-09-23 07:42] wojtek-t commented on #25349
@k82cn - this is flake, not permanent failure (as almost all issues with "kind/flake"; running a test once most probably will not fail and that's expected

[2016-09-23 07:43] julienvincent commented on #33336
Thanks, I did forget to base64. Error is a bit weird 👍

[2016-09-23 07:43] #33336 closed

[2016-09-23 07:43] dgonzalez commented on #31267
@dgonzalez #dibs on this issue

[2016-09-23 08:02] ingvagabund commented on #33188
too much python I guess, fixed :)

[2016-09-23 08:10] ixdy commented on #33313
@fejta yup, until the bot is smart enough, I'm just manually reassigning these to the oncall.

[2016-09-23 08:11] ilovetina2006 opened #33360 "Failed to build hypercube image"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-09-23 08:18] piosz commented on #32762
@edsiper thanks for rising this. @Crassirostris and I have talked about the similar issue/approach recently. We are also working on load test for fluentd which will help us to measure and tune the performance of the agent.

Your contribution would be really appreciated.

[2016-09-23 08:24] fabxc commented on #32610
I think we should retrieve metrics in the most direct way possible. The API server is retrieving some of the metrics it exposes directly from the kubelet (which in turn partially retrieves them from cAdvisor). A reliable monitoring system should pull these directly from the source to not indirect through POFs and avoid staleness in the data.

Arguably, several of the metrics exposed by kube-state-

[2016-09-23 08:39] k82cn commented on #25349
@wojtek-t, thanks for your input.
The log is gone, let me check the code to see if any clue :).

[2016-09-23 09:02] PI-Victor commented on #32865
seems i'm not going to be able to take care of this in an effective time, should we assign it to someone else since it's rather important?

[2016-09-23 09:05] Crassirostris commented on #32762
Thanks, @edsiper

Yes, we are in fact considering using file buffering mechanism right now. But we have several questions and concerns so far, which are not addressed directly by the documentation.

For example, there is a concern that using fluentd file buffering will multiply disk pressure from logs. Imagine same lines written by application then being read and written again to the different fil

[2016-09-23 09:06] bparees commented on #32865
i don't think it's that important.  if you use set image on a resource that doesn't understand images, you get no feedback.  that's annoying, but not critical imho.

[2016-09-23 09:12] k8s-merge-robot opened #33361 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/16117/

Failed: Test {e2e.go}

[code]

[2016-09-23 09:16] PI-Victor commented on #32865
ok sounds good, deferring to future Victor then, i'll let him take care of it.

[2016-09-23 09:33] mqliang opened #33362 "add ThirdPartyResourceData client?"
No ThirdPartyResourceData client provided? It will be much more convenient if we have an official ThirdPartyResourceData client, so that a third party developer could leverage the existing Informer framework to list&watch his own resource.

@liggitt @brendandburns @caesarxuchao

[2016-09-23 09:45] soltysh commented on #33185
Instead of spreading wait-related code in specific commands, I'd rather focus on #1899 and fix it here, wdyt?

[2016-09-23 09:46] kargakis commented on #32863
The easiest ones are failures when creating / deleting pods (those Clayton mentioned) which are already emitted as events on replica sets. Eventually we probably want to surface more Conditions like CrashLoopBack or ImagePullBackOff errors that are pretty common for running pods.

[2016-09-23 09:51] kargakis commented on #33185
@soltysh `rollout status` already waits, this issue is about pinning to a revision ie. has nothing to do with wait per se.

[2016-09-23 09:54] bogdando commented on #18174
I'd like to see at least out of box LB solution for it, etcd discovery based. Etcd could detect life apiserver backends and expose them as a frontend endpoint, and do LB as well.
So users could configure internal loadbalancers for apiservers with the help of built-in etcd cluster, and w/o haproxy or nginx

[2016-09-23 10:05] k82cn commented on #25349
Here maybe the root case after reviewing the code: the `TestDQ_sanity_check` do the following steps:

1. add `testJob` into `DelayedQueue`
2. get current time (`before := time.Now()`)
3. pop item from `DelayedQueue`
4. get current time (`now := time.Now()`)
5. check the wait period (`now.Sub(before)`)

The problem is that: the timer start at "Step 1" in `q.Add()`  in `DelayedQueue`, if there's any

[2016-09-23 10:08] AdoHe commented on #33185
@kargakis could you please explain how we handle multiple deployment revision now? I am not very clear about this.

[2016-09-23 10:33] kargakis commented on #33185
In `rollout status`? We don't handle revisions at all, we just wait on the deployment status ie. the latest revision.
I am envisioning scripts passing a specific revision and once that revision is superseded prior to completing, then we abort waiting with a useful message "desired revision was superseded" or something. We also want to return appropriate exit codes: if the revision I am watching ne

[2016-09-23 10:36] joan38 commented on #5017
Really looking forward to see Kafka supported by Kubernetes!

[2016-09-23 11:13] zhouhaibing089 commented on #33351
I am curious why does selinux labels on host would affect containers? isn't about port the volume selinux feature to kubelet?

ref: http://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/

[2016-09-23 11:29] kargakis commented on #28746
@mfojtik this is a case where a timeout flag in kubectl logs would make sense for pods too

[2016-09-23 11:33] mfojtik commented on #28746
@kargakis yeah, I already have poc for openshift ready, I think we should upstream that flag.

[2016-09-23 11:33] mfojtik commented on #28746
(feel free to assign this to me)

[2016-09-23 11:54] zreigz commented on #32432
@liggitt thanks for review and suggestions. I have been working for version with new arg `--from-binary-file` The main idea is ready: https://github.com/zreigz/kubernetes/commit/99b4505ff0d11127b90b233b2ba97ebfcfe86cdf

I have been working with tests and documentation. Please take a look if there is no further comments I will create PR

[2016-09-23 11:59] deads2k commented on #33283
The cloud provider plugin doesn't actually live in `contrib/mesos`.  The cloud provider lives here https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/mesos/mesos.go  alongside all the other cloud providers.  It has no relationship to `contrib/mesos` and it implements one of those core interfaces.

`contrib/mesos` is way to build a separate binary called `km` which pro

[2016-09-23 12:18] johnbazan commented on #23634
Hello guys, how are you?

I'm experiencing the issue mentioned in this thread

Sometimes (I agree with the racing conditions theory) I see the following messages in the systemd service status

inotify_add_watch /sys/fs/cgroup/memory/system.slice/systemd-hostnamed.service: no such file or directory]
Sep 22 20:17:04 querymgr-queryws-0 kubelet[1069]: I0922 20:17:04.664344    1069 kubelet.go:2365] ski

[2016-09-23 12:26] jsafrane commented on #33355
If I understand it correctly, finalizers are used for cascade deletion of dependent objects, e.g. deletion of a namespace triggers deletion of all pods/services/... inside. Only after that completes the namespace will be deleted. See https://github.com/kubernetes/kubernetes/blob/master/docs/design/namespaces.md#example-openshift-origin-managing-a-kubernetes-namespace

@thockin, do you propose that

[2016-09-23 12:30] Rotwang commented on #33288
Additionally after bringing back compute instance up (the one with required volume), so that 'kubectl get nodes' lists it as 'Ready' volume is not being detached (even after 3 hours).

[2016-09-23 12:34] deads2k commented on #31570
I think the revert and tweak fixed this.

[2016-09-23 12:34] #31570 closed

[2016-09-23 12:45] jeremyeder commented on #3595
@chrislovecnm hugepages design doc being worked by @sjenning perhaps you can elaborate on use-cases for ES and Cassandra...those are very relevant for RH as well since we use them in products.

He and I were discussing ulimits yesterday wrt memlock and also we might need to namespace vm.hugetlb_shm_group in the kernel.  Very similar use-cases.  Makes sense to collapse all those goals into one desi

[2016-09-23 12:47] matthiasr commented on #32610
Are there situations where the API status and what the kubelet knows can
diverge?

[2016-09-23 13:09] ncdc commented on #32758
I talked about this with @derekwaynecarr and he thought maybe we were hitting the potential race condition described [here](https://github.com/kubernetes/kubernetes/pull/20113/files#diff-4fd6f832c43ecf3e30fa7988ee646931R64).

[2016-09-23 13:41] rootfs commented on #33355
My reading of is somewhat different. I see `delete-inhibit` an ordering enforcement: dependent resources should wait till their creators exit first.

Btw, the meaning of `finalizer` is really not straightforward.

[2016-09-23 13:43] rootfs commented on #31613
@saad-ali @childsb can we spend time on it during sig meeting?

[2016-09-23 13:50] jsafrane commented on #33355
When user deletes a namespace, Kubernetes moves forward and actively does everything that is necessary to delete the namespace by killing pods and clams and services. IMO we want different behavior on PVs.

In addition, what grace period should user set when deleting a PV with finalizers? He has no idea how/when corresponding PVC will be deleted (by another user).

[2016-09-23 14:11] micahhausler commented on #33192
I'm also getting this issue

[code]

[code]

[code]

[2016-09-23 14:12] pmorie commented on #33351
@zhouhaibing089 - There are a couple dimensions that it affects things in currently (which I am fixing in a branch that I will make a PR for shortly):

1.  The hosts file and termination log files aren't mounted with the :Z option; they rely on the directory they're created in being usable from a container in order to get the right context
2.  We also read the SELinux context of the Kubelet direct

[2016-09-23 14:13] justinsb opened #33369 "kube-addons fails silently if python's yaml module not available"
kube-addons has a dependency on the python yaml module (fine), but it does not fail if it is not present - it should return exit code != 0 (this is the issue).

Note that it's particularly bad because kube-dns is what silently fails to be installed.

Before installing python-yaml:

`> /etc/kubernetes/kube-addons.sh `
[code]

After  `apt-get install python-yaml`

`> /etc/kubernetes/kube-addons.sh `

[2016-09-23 14:14] kdima commented on #27161
I had to recreate the cluster so some ips have changed. Now this is the gateway node ip `10.20.0.4`

[code]

[code]

[2016-09-23 14:18] justinsb commented on #33369
Actually I see kube-addons has now been containerized.  Closing.

[2016-09-23 14:18] #33369 closed

[2016-09-23 14:22] dims commented on #30861
This was most probably fixed by https://github.com/opencontainers/runc/pull/668

Can you please post your `/usr/bin/docker-runc -v` output?

[2016-09-23 14:55] derekmahar commented on #32432
@wstrange, @thockin pointed out to me in https://github.com/kubernetes/kubernetes/issues/13610#issuecomment-248146159 and @smarterclayton in https://github.com/kubernetes/kubernetes/issues/13610#issuecomment-248146159 that Secrets can store binary files.  Secrets expect base64 content and when a pod consumes a file from a Secret volume, the Secret automatically decodes the content from base64 to t

[2016-09-23 14:56] ingvagabund commented on #12611
@davidopp what is exactly missing here to document? Devel documents how to implement other DB types (mentioning we handle ``MinAvailable`` for the moment) with explanation what DB is (referring rescheduling docs + additional notes) and how it works based on the current API & controller implementation? Plus with comments from related issues/PRs about current limitations, how is ``PodDisruptionAllow

[2016-09-23 15:05] seffenberg-naspers commented on #23380
+1

[2016-09-23 15:19] thockin commented on #32432
@smarterclayton had an interesting idea for v1.5 maybe.  If you store the
base64 in your configmap key, we could add a bool (or enum-string) to
`EnvVarSource` and `KeyToPath` which indicated how to decode the value
(string vs base64).  It's not as nice as having that encoded into the
ConfigMap istelf, but it is compatible.

Alternately we could maybe make a case for an encoding field on ConfigMap

[2016-09-23 15:21] thockin commented on #27161
If this (missing SNAT) is really a bug, can someone re-title this bug and
tag for v1.5

On Fri, Sep 23, 2016 at 7:15 AM, Dmytro Kislov <notifications@github.com>
wrote:

[2016-09-23 15:31] thockin commented on #33355
finalizer on a PV will prevent the apiserver from deleting the PV until the
finalizer is removed.  This is what we want - the PVC holds a "lien" (would
have been a better name, IMO) on the PV.  The PV is going to be deleted,
once the lien is removed.  You could even argue that PV with cleanup policy
"Delete" should be deleted as soon as the claim is bound and let GC handle
the rest.  when the user

[2016-09-23 15:34] thockin commented on #33355
It would be nice to also delete-inhibit a PVC when a Pod is using it, but
that's something we don't currently have any logic for.  We do already have
logic between PV and PVC.

wrt grace period, infinite.  As long as the PVC is alive, the PV can't go
away.  If you want to nix a PV you have to either release the claim or
manually clear the finalizer (which indicates an exceptional condition).

We'r

[2016-09-23 15:40] fabianofranz commented on #28632
I'd suggest keeping linux/386, we know about users that need it and we [ourselves](https://github.com/openshift/origin) build our CLI for that platform. But I'm ok with removing every other /386 target.

[2016-09-23 15:42] pmorie commented on #32432
@thockin @smarterclayton presumably we would also have that field on volume projections

[2016-09-23 15:43] k8s-merge-robot opened #33373 "DiffResources {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/23886/

Failed: DiffResources {e2e.go}

[code]

[2016-09-23 15:46] thockin commented on #32432
KeytoPath covers Secrets and ConfigMaps, but yes.

On Fri, Sep 23, 2016 at 8:43 AM, Paul Morie <notifications@github.com>
wrote:

[2016-09-23 15:55] foxish commented on #33315
cc @erictune

[2016-09-23 15:56] pmorie commented on #32432
@thockin I wish I could remember all the code I've written in this project :)

[2016-09-23 16:02] quinton-hoole commented on #33357
I saw this on GCE also, so I don't think it's a GKE problem.  I assume that something that merged around Sept 22, 11PM PDT caused this regression, as it seems to be happening fairly consistently.
The timing correlates with #33339, but it's hard to imagine how those changes to the controller manager could lead to the API server becoming uncontactable.  I'll take a look.

Copying this info to the is

[2016-09-23 16:02] foxish commented on #27796
@sarahnovotny, @caniszczyk, it seems like Redhat is having issues with the CNCF CLA. Can you help them out? It could be an issue with the corporate CLA, or a technical issue and we're not sure.

cc @eparis @ingvagabund

[2016-09-23 16:08] deads2k opened #33375 "Extend `local-up-cluster.sh` to be able to start with the secured port"
Followup to https://github.com/kubernetes/kubernetes/pull/31491

Extend `local-up-cluster.sh` to be able to start with the secured port available using https://github.com/kubernetes/kubernetes/pull/31491 and an option to close the insecured port so that its easy to start determining which permissions the controllers need.

The controller manager should try to make use of the secured port hidden be

[2016-09-23 16:14] thockin commented on #33081
Interesting note on requirements.  I have not found a way to force it to
route outside and back in through the LB, but that doesn't mean there isn't
one.

To get rid of route66, we'd need to not run the standard GCE address
manager stuff, and I am nervous about what other implications that would
have.

On Fri, Sep 23, 2016 at 12:36 AM, Michal Witkowski <notifications@github.com

[2016-09-23 16:19] luxas commented on #32361
Which etcd3 version are you going to target in v1.5?
etcd 3.1.x with all the latest stability stuff and the new features (when it's released)?

[2016-09-23 16:33] quinton-hoole commented on #33357
#33349 merged around the same time as this started happening.  It's also unlikely to be causing the problem.

[2016-09-23 16:35] madhusudancs commented on #33357
This is a quota issue. We have been having this problem since weeks and there are a number of other issues and PRs tracking this.

Issue #31283
Issue #31624
PR #33161
PR #32810
PR #33161

Closing this issue in favor of others.

[2016-09-23 16:35] #33357 closed

[2016-09-23 16:43] mfanjie commented on #27234
I encountered this problem on Mac with docker-machine enabled, it was gone after I update my docker version to latest. You can try as well if you have the same config.

[2016-09-23 16:49] ixdy commented on #33373
Looks like GCP mysteriously failed:

[code]

[2016-09-23 16:49] #33373 closed

[2016-09-23 16:49] quinton-hoole commented on #33350
The fix for this is being developed in https://github.com/kubernetes/kubernetes/pull/33372

[2016-09-23 16:49] emsearcy commented on #27796
@eparis, what happens when you go to https://identity.linuxfoundation.org/projects/cncf and choose "Contribute as an employee"?  This should prompt you to associate your GitHub account, which hasn't been done yet.

(Those who are authorized to manage the authorized contributors their companies are not automatically set up as contributors themselves; the system still expects them to sign up as cont

[2016-09-23 16:53] k8s-merge-robot opened #33377 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/4522/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357

[2016-09-23 16:56] yujuhong commented on #33189
After faking `exec` and `logs`, 94 tests passed and 8 failed.

The failed tests are
 - [ ] **4 init container tests**
 - [ ] **apparmor test**
 - [ ] **Kubelet metrics api when querying /stats/summary it should report resource usage through the stats api.**
 - [ ] **Kubelet when scheduling a busybox command that always fails in a pod should have an error terminated reason**
 - [ ] **Pods should ha

[2016-09-23 16:57] timothysc commented on #32361
@luxas too early, I'm going to rev to 3.1.0 2day.

[2016-09-23 17:01] eparis commented on #27796
@emsearcy I e-mailed @caniszczyk
but when I go to that link I get
`Your organization is not authorized under a Corporate Contributor License Agreement. If you have signed agreements, please check back later or use the contact form below.`

[2016-09-23 17:03] eparis commented on #27796
@emsearcy is there a way we can chat privately? e-mail me? eparis at redhat ?

[2016-09-23 17:04] erictune commented on #33315
👍 nice debug

[2016-09-23 17:06] freehan commented on #27161
@kdima Can you provide the parameter config on kube-proxy? I am wondering if `cluster-cidr` is set.

[2016-09-23 17:08] spxtr commented on #33377
https://github.com/kubernetes/kubernetes/issues/31283

[2016-09-23 17:08] #33377 closed

[2016-09-23 17:17] etotheipi commented on #32905
I actually put the k8s stuff down and am working on something else for a couple days.  Will have to get back to next week.

But I wanted to respond about zookeeper example in contrib:  I had some issues trying to run it "out of the box", and when I went digging I found that it was using 3.5.0-alpha and attempting super dynamic ensemble configurations (complexity).  We'd prefer to use the stable ve

[2016-09-23 17:24] bprashanth commented on #33081
Hmm, I think you can set a fwmark on packets with internal source and public vip then feed them through a routing table at a higher priority than local to skip the local redirection. I tried this experiment at one point, but I can't remember the outcome. I think it mostly worked but had some fishy behavior that i didn't dig through.

[2016-09-23 17:26] chrislovecnm commented on #32905
@etotheipi yah.  It is actually in charts.  Can we coordinate to get it updated there?

[2016-09-23 17:27] nikhiljindal commented on #33312
Yes I realised I wasnt doing it right the first time.
It seemed as if all was fine, but then I saw controller manager logs and saw errors in parsing my annotation. Ideally my create request should fail if the annotation is incorrect.
I got it right finally (no annotation parsing errors), but my replicaset still didnt get rebalanced when I added a cluster.
We should really add an e2e test for this.

[2016-09-23 17:30] dims commented on #33375
Thanks for opening the issue @deads2k :)

[2016-09-23 17:31] caesarxuchao commented on #33362
I think we should give it a client. It's as easy as adding `+genclient=true` before this [line](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/types.go#L204).

[2016-09-23 17:37] #32827 closed

[2016-09-23 17:40] dgonzalez commented on #27234
I'll try to update docker to the latest version but I already installed it fresh last week... I think the way to go is Linux.

[2016-09-23 17:46] bprashanth commented on #33315
Random tip, came across this looking for another bug. GCI broken emptydir because kubelet's root-dir is noexec. Petset is just a victim:
[code]

[2016-09-23 17:48] vishh commented on #33315
Seems to be a dup of https://github.com/kubernetes/kubernetes/issues/33318.
I have posted a fix.

On Fri, Sep 23, 2016 at 10:47 AM, Prashanth B <notifications@github.com>
wrote:

[2016-09-23 17:51] dchen1107 commented on #33189
Cool, such great progress!

[2016-09-23 17:55] luxas commented on #32361
@timothysc I'm not sure I got that message :)
You mean you're going to switch k8s Godeps to the coming v3.1.0-alpha.1 etcd release and bump the gcr.io etcd image as well?

If so, that would be really great!

[2016-09-23 17:56] timothysc commented on #32361
Yes, but 3.1.0 should be released today and I'll submit the PR this afternoon.

[2016-09-23 17:57] hongchaodeng commented on #32361
@timothysc
There will be release of 3.0.10 and another alphe version of 3.1.0

[2016-09-23 18:00] timothysc commented on #32361
k, then 3.0.10 it is.

[2016-09-23 18:04] lavalamp commented on #33355
A finalizer holds an object in the Terminating phase. Is that really what you want? I mean, it will work, and it's maybe better than nothing. But I think you may actually want a different mechanism, that prevents deletion at all & sends back forbidden status codes. (It doesn't exist.)

Do you really want to block deletion that hard, though? I guess a cluster admin can still take off the lock/final

[2016-09-23 18:09] luxas commented on #32361
@hongchaodeng When will 3.1.0 be available?
I'm looking forward to that release.
Also, how many more 3.0.x releases will there be?

[2016-09-23 18:10] #33226 closed

[2016-09-23 18:37] k8s-merge-robot opened #33380 "BeforeSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10992/

Failed: BeforeSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #26135 #26236 #27920 #28492 #29970 #30075 #32980 #33313

[2016-09-23 18:49] ryanschwartz commented on #31222
Here you go, @bprashanth - ingress, service, deployment:
[code]

Also, here is a log entry pulled from Google Cloud Logging for the project that shows the API call that changed the health check in question from `robots.txt` to `/`. There are entries for each time this has happened, all called by the same user/actor.

[code]

[2016-09-23 18:57] k8s-merge-robot opened #33381 "kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13711/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27662 #29820 #31971 #32505

Failed: Test {e2e.go}

[code]
Issues about this test specifically:

[2016-09-23 18:58] djsly commented on #3136
Is there a compatibility matrix that exists for kubernetes ?

should we assume that the latest kubectl binaries will be compatible with previous server version ?

[2016-09-23 19:00] dashpole opened #33382 "Per-Container Inode Accounting"
cc: @derekwaynecarr (how can we get devicemapper support for this?)

when a node has reached its eviction-hard threshold for imagefs.inodes or nodefs.inodes, the eviction manager does not behave optimally.
This is because we do not keep track of inodes used per-container, but rather just overall.  In some cases, the pod which is not using many inodes is evicted before a pod that is using many.

Pr

[2016-09-23 19:02] foxish commented on #31207
We now have https://github.com/kubernetes/kubernetes/projects. Could probably close this? @pwittrock

[2016-09-23 19:08] foxish commented on #33318
All green now. Closing.

[2016-09-23 19:08] #33318 closed

[2016-09-23 19:10] mtaufen opened #33383 "GCI Test Flake: (kubernetes-e2e-gci-gce-serial-release-1.4) ([k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart)"
GCI Test Flake: (kubernetes-e2e-gci-gce-serial-release-1.4) ([k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart)

88% pass rate on GCI, 96.8% on CVM, kinda flaky on GCI by comparison. Might be GCI tests haven't had time for %tage to converge with CVM yet?

https://k8s-testgrid.appspot.com/release-1.4-all#gci-serial-release-1.4&include-filter-by-regex=DaemonRes

[2016-09-23 19:17] nikhiljindal commented on #33292
@lavalamp pointed out that the first option will not work for ex: when we are trying to create an event for "CouldNotCreateNamespace". Since that namespace does not exist, we will not be able to create the event in that namespace.
So will have to go with the second option i.e to ensure that namespace default exists in federation control plane

[2016-09-23 19:18] ncdc commented on #29579
FYI, one other thing we may need to consider is whether or not attach should include or exclude the container's logs. For example, if you run a container that prints some lines to stdout, `docker attach mycontainer` will not show anything printed to stdout prior to attaching. Any new output printed to stdout will show up in the attach session. There is, however, a feature that the docker daemon su

[2016-09-23 19:35] bprashanth commented on #31222
Weird, /robots.txt is a livenss probe and we should only be picking up readiness (https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce#health-checks, https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce/examples/health_checks#limitations). Looking.

[2016-09-23 19:41] #33290 closed

[2016-09-23 19:42] yujuhong commented on #33189
I uploaded #33386 to fix this test. However, the test won't be valid any more since we don't control what "Reason" the runtime returns.

[2016-09-23 20:08] k8s-merge-robot opened #33388 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/4526/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377

[2016-09-23 20:12] #31207 closed

[2016-09-23 20:15] thockin commented on #33355
"Phase" is a largely undefined thing, and doesn't REALLY exist across
objects.  There is no universal state machine that we have ever
documented.  Yeah, it's not an ideal state, but it's better than where we
are, and I expect that a proposal for delete-inhibition would a) look a lot
like finalizers with a different field name and b) meet with disfavor.

But that's why I looped you in.  You have be

[2016-09-23 20:21] timothysc commented on #26637
Exiting crazy release+replanning, part 1 is available for review, onto part 2.

[2016-09-23 20:25] #33124 closed

[2016-09-23 20:41] caseydavenport commented on #31307
@dcbw suggested that that kubelet be capable of handling _both_ of these roles, with either a way of enabling or disabling this behavior.

I like this since it puts less responsibility on plugin writers to make something that is "kubernetes specific".  I'd vote for the kubelet reserving ports and programming iptables by default for all CNI plugins, with maybe an annotation on the node to disable?

[2016-09-23 20:43] taherv commented on #32543
Am I misreading here ?

The proposal says requests to flexvolume drivers will use REST, but then the callouts are "driver executable> <params>"

For REST based flexvolume drivers, shouldnt the call out be a GET/PUT/POST etc ?

Also, there are some typos ... e.g. Detach description talks about attach.

[2016-09-23 20:46] taherv commented on #32543
Just like "Delete a volume", are we missing a "Recycle a volume" API ?

Also, how does a flexvolume driver express (in Probe) that it supports deleter and/or recycler ?
Is this in the SupportedOptions field ? If not, are we missing two bools in FlexVolumeDriverCapabilities type ?

[2016-09-23 20:49] nikhiljindal commented on #32826
Discussed this with @lavalamp and he pointed out that our e2e tests have a chance of becoming more flaky if we include kubectl there. It is better to have a separate test just for kubectl (like we do today with test-cmd.sh)

[2016-09-23 20:49] taherv commented on #32543
Why is the actual driver binary required in the FlexVolumeDriverSpec ?
If API calls are REST, shouldn't that be a REST endpoint ?

[2016-09-23 20:50] errordeveloper commented on #31307
I vote for that too.

On Fri, 23 Sep 2016, 21:41 Casey Davenport, <notifications@github.com>
wrote:

[2016-09-23 20:50] Random-Liu commented on #29478
Claim `Nvidia gpu support`. :)

[2016-09-23 20:56] janetkuo commented on #29780
Should be fixed by #33030

[2016-09-23 20:56] #29780 closed

[2016-09-23 20:58] dcbw commented on #31307
@caseydavenport I was thinking of some way for plugin developers to opt-out of the behavior for CNI plugins rather than an annotation for the time being.  Since you already have to specify the network plugin for kubelet (either through --network-plugin or the CNI conf file), and since the network plugin determines whether or not it should opt-out of the hostport stuff, I think this decision be rel

[2016-09-23 20:59] liggitt commented on #33362
I didn't think ThirdPartyResourceData was exposed via rest apis, but was supposed to be interacted with via the registered third party API group and kind

[2016-09-23 21:01] caesarxuchao commented on #33362
Ah, @liggitt is right.

[2016-09-23 21:01] bgrant0607 commented on #32468
+1 to a status field.

Original discussion:
#147
#11713

An explicit QoS spec field would also be confusing, IMO, since many combinations of QoS and request/limit would not make sense (e.g., Guaranteed with no request/limit). Borg has explicit fields, but the more interesting use cases aren't expressible with unified cgroup hierarchy, anyway.

[2016-09-23 21:02] lavalamp opened #33390 "Document API object deletion semantics"
We have a general deletion mechanism that leaves objects in the system while cleanup is being performed. We need to document this clearly and set expectations.
- What do we call this phase of an object's lifecycle? (Terminating)
- Does this imply a global state machine for all objects? (angry philosophical ranting)
- How do you tell when an object is in this cleanup phase? (deletiontimestamp != ni

[2016-09-23 21:05] dcbw commented on #31307
@caseydavenport unrelated to this, but related to how CNI plugins interact with kubelet, we also need some way for CNI plugins to disable the kubelet bandwidth shaping functionality.

[2016-09-23 21:10] lavalamp commented on #33355
Brian thinks we shouldn't do much more in the way of RI. I don't have a
strong opinion at the moment.

It's true, we're light on documentation. I opened #33390.

On Fri, Sep 23, 2016 at 1:15 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-09-23 21:10] Random-Liu commented on #33189
I'll take a look at the metrics api one.

[2016-09-23 21:11] Random-Liu commented on #33189
All right, the metrics api test fails just because image fs info is empty.

[2016-09-23 21:13] nelsonenzo commented on #22770
Is there any known workaround for this?  We just launched the new cluster in development and not being able to trail service logs is a big disappointment / near blocker for moving to production.

[2016-09-23 21:15] prg3 commented on #32716
After more testing, specifically using kubelet directly on the OS, and changing the OS from CoreOS to Ubuntu, I found the problem went away. I believe this may be an issue with the CoreOS specific containers.

I'm going to close this one out.

[2016-09-23 21:15] #32716 closed

[2016-09-23 21:15] caseydavenport commented on #31307
Yep, I can buy that :)

I'd rather not stick more command line flags on the kubelet.  Ideally this behavior (and others) can be configured at runtime rather than cluster init.  Maybe we could make use of the "args" section of the CNI config in some way?

[2016-09-23 21:15] Random-Liu commented on #33189
If so, I'll take a look at the backoff test.

[2016-09-23 21:19] dcbw commented on #31307
@caseydavenport yeah, that's another option

[2016-09-23 21:22] mattf commented on #32494
expanding on what @chrislovecnm said, see "advanced dependency management" at http://spark.apache.org/docs/latest/submitting-applications.html

you can kubectl exec and download the jar into the container and use file://, but you're likely better off using http[s]:// and pulling the jar from a cache somewhere.

you may also simply need to specify a --repositories for your --packages

[2016-09-23 21:27] timothysc commented on #32361
xref: https://github.com/kubernetes/kubernetes/pull/33393

[2016-09-23 21:31] edsiper commented on #32762
@piosz thanks. Please let me know where I can find the stress tool you are building.

@Crassirostris here are the answers:

The current buffering mechanism in the file system do not keep a copy in memory, so you can assume that for now there is always a write(2) and a read(2)/write(2). Despite this model have worked well for years, we understand it could be better. At the moment we are discussing

[2016-09-23 21:33] Random-Liu commented on #33189
Except those failed test, there are also some flaky ones:
- [ ] Container Runtime Conformance Test container runtime conformance blackbox test when starting a container that exits should report termination message if TerminationMessagePath is set
- [ ] Downward API should provide default limits.cpu/memory from node allocatable
- [ ] Downward API should provide pod name and namespace as env vars
-

[2016-09-23 21:39] jianhuiz commented on #33312
@nikhiljindal I wasn't able to reproduce this, could you upload the controller logs and the replicaset file you use?

[2016-09-23 21:44] vishh commented on #33318
Yayy. Thanks for all the help Anirudh!

On Fri, Sep 23, 2016 at 12:09 PM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-09-23 21:47] thockin commented on #33355
I think the RI issue overall needs to be revisited.  Lack of it causes a
lot of edge-cases that are at best surprising, and are sometimes really
nefarious.

On Fri, Sep 23, 2016 at 2:11 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-09-23 21:49] lavalamp commented on #24988
@mikedanese might know where to look for the latest plans around this.

[2016-09-23 21:49] k8s-merge-robot opened #33396 "[k8s.io] Container Lifecycle Hook when create a pod with poststart/prestop http hook should execute poststart/prestop http hook properly {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33389/node-pull-build-e2e-test/25690/

Failed: [k8s.io] Container Lifecycle Hook when create a pod with poststart/prestop http hook should execute poststart/prestop http hook properly {E2eNode Suite}

[code]

Happened on a presubmit run in #33389.

[2016-09-23 21:53] ixdy commented on #28635
This one is pretty easy to tackle, I think; we want to build `kubemark` for all supported server platforms, but we should be putting it in the test tarball, not the server tarball.

Conveniently, we already have logic to handle this, used by the node e2e tests.

[2016-09-23 22:15] k8s-merge-robot opened #33397 "kubernetes-e2e-gci-gce-flannel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-flannel/-1/

Run so broken it didn't make JUnit output!

[2016-09-23 22:15] k8s-merge-robot opened #33398 "kubernetes-e2e-gci-gce-scalability-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability-release-1.4/10/

Run so broken it didn't make JUnit output!

[2016-09-23 22:15] k8s-merge-robot opened #33399 "kubernetes-e2e-gci-gke-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/4/

Run so broken it didn't make JUnit output!

[2016-09-23 22:15] k8s-merge-robot opened #33400 "kubernetes-e2e-gci-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-test/1/

Run so broken it didn't make JUnit output!

[2016-09-23 22:15] k8s-merge-robot opened #33401 "kubernetes-e2e-gci-gke-flaky: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-flaky/31/

Multiple broken tests:

Failed: [k8s.io] NodeOutOfDisk [Serial] [Flaky] [Disruptive] runs out of disk space {Kubernetes e2e suite}

[code]

Failed: [k8s.io] PersistentVolumes create a PV and a pre-bound PVC: test write access [Flaky] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] PersistentVolumes

[2016-09-23 22:15] k8s-merge-robot opened #33402 "kubernetes-e2e-gci-gke-prod: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod/3/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26784 #28384 #31935 #33023

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kube

[2016-09-23 22:16] k8s-merge-robot opened #33403 "kubernetes-e2e-gci-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging/3/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26784 #28384 #31935 #33023

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular r

[2016-09-23 22:16] k8s-merge-robot opened #33404 "kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-subnet/1/

Multiple broken tests:

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28257 #29159 #29449 #32447

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication between nod

[2016-09-23 22:16] k8s-merge-robot opened #33405 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot/23/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]

[2016-09-23 22:16] k8s-merge-robot opened #33406 "kubernetes-e2e-gci-gke-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot/24/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33405

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] ea

[2016-09-23 22:16] k8s-merge-robot opened #33407 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/188/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on {Kubernetes e2e suite}

[code]

[2016-09-23 22:17] k8s-merge-robot opened #33408 "[k8s.io] Services should be able to up and down services {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/53/

Failed: [k8s.io] Services should be able to up and down services {Kubernetes e2e suite}

[code]

Previous issues for this test: #26128 #26685

[2016-09-23 22:21] bprashanth commented on #31715
Yeah this business https://github.com/kubernetes/kubernetes/issues/27883. If you shutdown the cluster right after deleting the service, controller manager gets nuked (https://github.com/kubernetes/kubernetes/issues/16337). We can work around that in e2es (https://github.com/kubernetes/kubernetes/issues/32690). I also need to review https://github.com/kubernetes/kubernetes/pull/32183.

That aside,

[2016-09-23 22:21] ixdy commented on #28631
It should be pretty easy to remove `kubectl` from the server tgz, we just should verify that nothing is using it from there.

[2016-09-23 22:22] ixdy commented on #28435
Another curiosity: our "server" tarballs include the kubernetes src tarball. Is there a good reason to be doing that?

[2016-09-23 22:25] ixdy commented on #28629
We have client and server tarballs for each architecture, but in most places we're still just using the mondo-tarball.

We probably want to
- [ ] update everything using `kubernetes.tar.gz` to use `kubernetes-server-$platform-$arch.tar.gz` and `kubernetes-client-$platform-$arch.tar.gz`
- [ ] notify everyone that we'll stop building `kubernetes.tar.gz` at some point (probably in time for 1.5?)
- [

[2016-09-23 22:30] yujuhong commented on #33396
@Random-Liu this is your PR ;)

[2016-09-23 22:44] spiffxp commented on #32332
@spiffxp collated comments on and links to this issue up to this point while updating release notes with contents of #33226

[2016-09-23 22:45] bprashanth commented on #33408
Both these are on 1.3.X @vishh maybe there are better bugs to stare at (preferably just normal HEAD non skewed clusters, gci 1.4.X nodes and master)?
[code]

[2016-09-23 22:46] ixdy commented on #28435
It looks like we do this explicitly, per https://github.com/kubernetes/kubernetes/pull/27830 https://github.com/kubernetes/kubernetes/pull/27840 and https://github.com/kubernetes/kubernetes/pull/27985.

[2016-09-23 23:05] vishh commented on #33408
@bprashanth Not all the GCI tests are in the submit queue yet. But that should get resolved soon. The test results should be in the [test grid](https://k8s-testgrid.appspot.com/google-gci) I you happen to know which suite this test is run as part of, test-grid might be a better source for now.

[2016-09-23 23:07] bprashanth commented on #33408
right, so focus on what i said and ignore 1.3 nodes etc, right? meaning I can just look through HEAD 1.4.X master/nodes, or are we concerned about combinations and skew right now

[2016-09-23 23:19] chrislovecnm commented on #32494
@artitw let us know, but we probably want to close this issue.

[2016-09-23 23:24] vishh commented on #33408
Yup. Focus on HEAD and 1.4.x. We will not auto-upgrade clusters. So its Ok
to have a list of known issues for the skew and upgrade scenarios.

On Fri, Sep 23, 2016 at 4:08 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-23 23:28] Random-Liu commented on #28047
Close this one since the fix is already in https://github.com/kubernetes/kubernetes/pull/32990.

[2016-09-23 23:28] #28047 closed

[2016-09-23 23:59] ixdy commented on #28629
OK, I did not actually understand what was in `kubernetes.tar.gz`, apparently.

Alternate proposal:
- [ ] update all references that need just server binaries to download the server tarball directly
- [ ] same for places that just need `kubectl` (related to #28631)
- [ ] remove all arch-specific binary artifacts from `kubernetes.tar.gz` and replace with a script which downloads the client/server t

[2016-09-24 00:01] fejta commented on #33397
I think this was a fluke

[2016-09-24 00:01] #33397 closed

[2016-09-24 00:05] fejta commented on #33388
No load balancer:
[code]

Excessive firewalls:
[code]

GKE operation timeout:
[code]

[2016-09-24 00:07] fejta commented on #33388
[code]

[2016-09-24 00:08] fejta commented on #33361
Is failing Test redundant?

[2016-09-24 00:17] MrHohn commented on #31631
What about add one more layer between getting service/endpoint update from apiserver and calling `OnServiceUpdate()`/`OnEndpointsUpdate()`?

We could inject batching mechanism in this layer. Do things like setting lower bound interval and upper bound timeout:
- lower bound interval will be used for batching operations. If two operations show up within this interval, batch them
- upper bound timeou

[2016-09-24 00:39] Random-Liu commented on #33396
Close this one since this is only flake caused by a Pending PR.

[2016-09-24 00:39] #33396 closed

[2016-09-24 00:40] bprashanth commented on #31631
we already do some level of batching, checkout pkg/proxy/config/config.go, essentially if a notification somes in and takes 5s to apply, the notifications that come over that 5s are batched because we apply a snapshotted update (so if 10 updates come in that 5s, we don't apply each update individually taking 50s, we just apply all 10 new endpoint/svc in one shot taking 5s).

That's probably where

[2016-09-24 00:43] derekwaynecarr commented on #33382
devicemapper has no concept of inodes since it works with blocks and not a filesystem.  If devicemapper is used as graph driver, a container should only be charged for inodes it creates on the rootfs

[2016-09-24 00:53] VictorDenisov opened #33413 "Add standalone flag to kubelet"
FEATURE REQUEST?

**Kubernetes version** (use `kubectl version`):
1.5.0-alpha

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I found a TODO here:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L300

Which says that kubelet

[2016-09-24 00:57] #32494 closed

[2016-09-24 01:11] dims commented on #33413
@VictorDenisov No need to ask for permission :) just go ahead and file a pull request.

[2016-09-24 01:14] VictorDenisov commented on #33413
Ok. Just wanted to run this idea by someone first)

[2016-09-24 01:18] spxtr commented on #33361
Ah, right. This is probably useless.

[2016-09-24 01:19] nikhiljindal commented on #32826
Sent https://github.com/kubernetes/kubernetes/pull/33414 to add tests for kubectl working with federation-apiserver.
`describe rs` seems to be the only thing that needs fixing. Ref https://github.com/kubernetes/kubernetes/issues/33309

[2016-09-24 01:32] k8s-merge-robot opened #33415 "kubernetes-e2e-gci-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/60/

Multiple broken tests:

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28416 #31055

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication betw

[2016-09-24 01:45] ymqytw commented on #33138
Can you please be more specific?

[2016-09-24 02:12] k8s-merge-robot opened #33416 "DiffResources {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/4535/

Failed: DiffResources {e2e.go}

[code]

Previous issues for this test: #33373

[2016-09-24 02:42] k82cn commented on #33283
I mean the target/roadmap, not the current implementation (`km`).
Except daily maintenance, e.g. flaky test, we're also planning the roadmap of k8sm; and also want to make it general for other resource managers, e.g. [EGO](http://sched.co/8K3n), [YARN](http://hortonworks.com/blog/docker-kubernetes-apache-hadoop-yarn/).

[2016-09-24 02:53] mqliang commented on #33362
@caesarxuchao

I am not very familiar with the code of client generation, but it may no work IIUC.

For example, if I add a ThirdPartyResource with `Group=mycompany.io, Version=v1, Kind=Foo`, what I expect the client work as: send request to url `apis/mycompany.io/v1/namesapces/{namespace}/foos`, and decode the response body as a ThirdPartyResourceData struct.

However, what I get from adding `+ge

[2016-09-24 03:04] mqliang commented on #33362
@caesarxuchao

Actually, I have tried to wrap a kubeclient by hijacking the [Codec](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/thirdpartyresourcedata/codec.go#L245) and [NegotiatedSerializer](https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/thirdpartyresourcedata/codec.go#L200) of ThirdPartyResourceData into the client. However, the cli

[2016-09-24 03:56] k82cn commented on #16410
Suggest to close this issue now; please feel free to re-open it if the problem is still here.

[2016-09-24 04:21] liggitt commented on #33362
I don't think that's what we want a client for a thirdpartyresource to look like. We should be able to use a dynamic client to list/watch arbitrary resources in arbitrary groups (including ones that exist because of registered thirdpartyresources, but without the client having to be aware that the resource was registered as a third party resource). @krousey @deads2k @derekwaynecarr do you know if

[2016-09-24 05:00] brendandburns commented on #33362
/sub

[2016-09-24 05:05] caesarxuchao commented on #33362
kubectl can create/get thirdparty object, maybe that will be give you a clue how to build a client. I remember there is a thirdpartycodec, but I haven't looked that code for a while.

As @liggitt mentioned, [dynamic client](https://github.com/kubernetes/client-go/tree/master/1.5/dynamic) is another way. It decodes json data into `map[string]interface{}`, and provided accessors to the object's meta

[2016-09-24 05:19] brendandburns commented on #33362
yeah, the resource stuff in resource.go can handle dynamic objects, but that's definitely not the happy path to figure out how to use a client library.  dynamic client is a way better bet, unless the resource Builder pattern works for you (and it's pretty deeply embedded in kubectl)

[2016-09-24 05:59] #21127 closed

[2016-09-24 06:22] k8s-merge-robot opened #33421 "kubernetes-e2e-gci-gke-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/201/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a w

[2016-09-24 06:34] roberthbailey commented on #33388
The error shows up as a cluster creation issue but it appears to be a problem with the federation:

[code]

[2016-09-24 06:35] roberthbailey commented on #33388
Assigning to @quinton-hoole to take a look

[2016-09-24 06:59] k82cn commented on #25891
In `TestOfferStorage`, the TTL is 0.25s; the offer will be declined after `2*ttl` and the test sleep `3*ttl` as tolerated time. The PR increased the tolerated time to `4*ttl` which does not impact the expected result.

[2016-09-24 07:25] gg7 commented on #27161
To those coming here from Google Search: I have experienced a similar issue (using k8s nodes as gateways to access service IPs did not work) before. The solution in my case was to:

1. Properly restart the networking and kube-proxy services, making sure all iptables rules get cleared before kube-proxy gets restarted.
1. Enable promiscuous mode on the bridge device (`ip link set cbr0 promisc on`).

[2016-09-24 07:43] k8s-merge-robot opened #33423 "[k8s.io] Downward API volume should update labels on modification [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/33165/node-pull-build-e2e-test/25736/

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {E2eNode Suite}

[code]

Happened on a presubmit run in #33165.

Previous issues for this test: #30132

[2016-09-24 08:17] kristijanmatic commented on #32999
@gerred did you manage to build with 1.7? Any way you could share the binary - my mac satarts flying during build

[2016-09-24 08:30] #33186 closed

[2016-09-24 09:21] davidopp commented on #33283
+1 for moving contrib/mesos to a separate repo. I realize it's a nontrivial amount of work, but I think it needs to be done sooner or later.

[2016-09-24 12:10] jayunit100 opened #33428 "flake: k8s.io/kubernetes/pkg/kubelet/dockershim TestContainerStatus"
Another flake i found earlier yesterday, just linking to it for posterity, not blocking me right now.

k8s.io/kubernetes/pkg/kubelet/dockershim TestContainerStatus

[2016-09-24 12:25] artitw commented on #32494
@janetkuo @chrislovecnm @mattf thanks for your help and providing different options. I ended up using my own Docker image that contains the jar in it.

[2016-09-24 12:37] Dmitry1987 opened #33429 "kube-up.sh on AWS fails when using existing VPC"
BUG REPORT:
When trying to use kube-up.sh 2nd time after 1st failure (so it will use existing VPC), an error like this occurs:

---

...
Using VPC vpc-xxxxxxxx
Adding tag to dopt-xxxxxxxxx: Name=kubernetes-dhcp-option-set
Adding tag to dopt-xxxxxxx: KubernetesCluster=k8s14beta
Using DHCP option set dopt-xxxxxxxx
Using existing subnet with CIDR 172.20.0.0/24
Using subnet subnet-xxxxxxxx
Using Inter

[2016-09-24 12:39] k8s-merge-robot opened #33430 "kubernetes-e2e-gci-gke-prod-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/83/

Multiple broken tests:

Failed: [k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28462

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes

[2016-09-24 13:09] jayunit100 opened #33431 "Exersize more of the client cache ( List, Remove ) in scheduler_perf"
_Problem_

In #31795
- we found that the List operation in CheckServiceAffinity may be a  dominating factor in scheduler cpu usage,  in the schduler @ scale.
- _since its using so much CPU_ ideally we would have something simulating this problem in the scheduler_perf tests, so they are more realistic / testing scheduler performance under heterogenous node / affinity conditions. However --  from wh

[2016-09-24 13:52] MaikuMori opened #33433 "Image GC fails: Unable to remove filesystem - device or resource busy"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

unable to delete filesystem

---

**Is this a BUG REPORT or FEATURE REQUEST?** (ch

[2016-09-24 13:59] k8s-merge-robot opened #33434 "[k8s.io] Downward API volume should update annotations on modification [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/9646/

Failed: [k8s.io] Downward API volume should update annotations on modification [Conformance] {E2eNode Suite}

[code]

Previous issues for this test: #30124

[2016-09-24 14:04] smarterclayton commented on #33283
Moving it to a separate repo helps make our tooling stronger by ensuring
that core Kube is amenable to deep composition via its build chain.  Many
of our extension points are "in theory" - we want them to be possible, but
do not force ourselves yet to fully enable the extension.  This is a good
case of "extension by compilation" that mirrors others in the ecosystem.

We would need to consider the

[2016-09-24 14:05] smarterclayton commented on #33138
Proxy doesn't initialize its configuration the same way as kubectl, even though it shares the core code.  Both support in cluster config differently and so both deserve a test.

[2016-09-24 14:26] k82cn commented on #33091
@Random-Liu , are you still working on this ? If not, I'd like to contribute to this one :). Here's what I found recently:

The latest build command is:

[code]

But when I checked `e2e_node.a`, the `resource_collector.go` is not included in it:

[code]

I'm going to find what happened when build `e2e_node.a`, it seems `resource_collector.go` is not included on Mac.

If any comments/suggestion, pl

[2016-09-24 14:56] jbeda commented on #28435
Happy to help attack this for 1.5.

As for the source tarballs -- those PRs are where it happened but there is no _why_ there.  @zmerlynn -- do you have the reasoning there?

[2016-09-24 15:17] jbeda commented on #27796
I'm hitting a bug with the account system at https://identity.linuxfoundation.org. Who should I contact about that?

<details>
<summary>Cannot change password on accounts created via github creds</summary>
* Created account with github. Never established a password
* Went to change my email address
* Was told I need a password to change email address
* Requested password reset email
* Followed lin

[2016-09-24 15:34] micahhausler commented on #33192
Here's the same error I see without the lines being truncated:
[code]

I am using the docker driver, but I am using CoreOS's flanneld which is running a rkt container

[2016-09-24 16:06] emsearcy commented on #27796
@jbeda, I'm guessing you were logged in still?  (The password reset page says "You must log out to use the password reset link in the e-mail").  Otherwise it says you are still logged in when you try and use it.

[2016-09-24 16:14] k82cn commented on #33091
@Random-Liu / @vishh , I think there's the root cause: the `resource_collector.go` is only built on linux because of build flag (`// +build linux`), that'll make `container_manager_test.go` can not find related functions on Mac.

[2016-09-24 17:17] thomaso-mirodin commented on #32630
Hey @justinsb do you know if logs reporting this behavior:
[code]

are likely caused by the same underlying issue you are fixing in #32635? Or do these seem like a different issue to you?

[2016-09-24 17:39] m1093782566 opened #33436 "Can Node expose the real allocatable status for external monitor system?"
The current NodeStatus.Allocatable is used for scheduling and is immutable, see https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2119.

Can node exposes a **real** allocatable status(just like `nodeinfo.allocatable`, maybe named `allocated`?) via API? I think it will make external monitor systems more easy to collect the node resource usage information.

If the idea make sens

[2016-09-24 17:42] justinsb commented on #32630
This sounds like the issue we are fixing in the (coming soon) 1.3.8 and the (coming soon) 1.4.0.  I would probably go with one of those two versions when they come out.

Which version are you running @thomaso-mirodin

[2016-09-24 17:56] bgrant0607 commented on #33283
Ref #24343

[2016-09-24 18:06] k82cn commented on #33283
@bgrant0607 , interesting :).

[2016-09-24 19:21] thockin commented on #33283
IMO even cloud provider should be a different repo, so I am also advocating
ejection.

On Sep 24, 2016 11:06 AM, "Klaus Ma" <notifications@github.com> wrote:

[2016-09-24 19:30] therc commented on #32526
There's another issue if you have a lot of large Docker images with more than two layers. That might be the case for environments using CD/CI that rebuild many times a day. Unless you adopt Docker 1.12's new overlay2 storage driver, you'll be using a ton of inodes. In our case, a machine was not seeing any image GC, because it ran out of inodes while still at 75% full, below the 90% GC threshold.

[2016-09-24 19:40] therc commented on #28241
How would the account IDs make it to the credential provider?

[2016-09-24 19:47] therc commented on #28174
I can do this, since I think it would benefit us (and I can't find any drawbacks, either).

[2016-09-24 20:20] therc commented on #24791
The name prefix is the less preferable option, since we need to create unique names and already have a 32-character limit (and there's a PR under review to set a custom name or at least a prefix). Also, the Describe* APIs do not allow to restrict actions to specific resources, i.e. they can only be specified as "Resource": "*"

http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/load-

[2016-09-24 20:46] thomaso-mirodin commented on #32630
We're running a slight fork of 1.3.5 atm (adding some admission controllers):

[code]

Is there another issue you can link me to? or are the fixes just generic volume manager fixes that have happened between 1.3.8 and 1.3.5?

[2016-09-24 21:12] arashbina commented on #6284
@janetkuo I didn't know about the roadmap. Thanks. I'll check it out.

[2016-09-24 21:19] vasu1124 opened #33439 "v1.4.0-beta.11: pod naming scheme regexp wrong?"
Could it be that the naming scheme of controllers/pods with ".", like "kubernetes-dashboard-v1.4.0" violates the naming scheme?

I was trying to expose a pod on its host ip and got this:
[code]

this was with 1.4.0-beta.11

[2016-09-24 21:21] #25349 closed

[2016-09-25 00:38] tobegit3hub commented on #30572
Hi @resouer @WIZARD-CXY , can you help to test and find out the root cause?

I have the test gRPC image and yaml file. It's easy to reproduce in our environment.

[2016-09-25 00:45] quinncomendant commented on #27430
I'm in love with this thread, as an example of the beauty of the open source process. @jimmycuadra thank you for bravely (re)raising this issue. I agree 100%. I don't have much background in sociology to know fully the implications, but it seems worth every effort to try to reduce use of violent language, even when its impact would be subtle. A name change is insubstantial; people will get used to

[2016-09-25 01:01] medhedifour commented on #32777
@dims
Thanks a lot

[2016-09-25 02:18] Random-Liu commented on #33091
@k82cn Yeah, for now we can add `// +build linux` in container_manager_test.go to solve the problem. :)

Feel free to fix it if you're interested. :)

[2016-09-25 02:49] vishh opened #33444 "Disk layout on GCI is incompatible with Kubelet"
On GCI, the (stateful) partition that kubelet has to monitor is mounted under `/var`.
Kubelet considers `/` as the primary disk partition and tracks it as `nodefs`.
It also tracks the partition under which docker is running which is `/var` in GCI and is referred to as `imagefs`.
In the case of GCI `/` seems to be a special partition (`/dev/root`) with limited storage.

Why is this a problem?

Kube

[2016-09-25 02:51] vishh commented on #33401
Root cause tracked by https://github.com/kubernetes/kubernetes/issues/33444

[2016-09-25 03:13] jaohaohsuan opened #33445 "running kubelet with rkt Failed to create summary reader for"
Hi Team:

**BUG REPORT**

**Kubernetes version** : `v1.3.7`

**Environment**:
- `vagrant`
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`): Linux core-01 4.7.1-coreos
- **Install tools**: rkt

`journalctl -u kubelet`:  shows the kubelet warning [Failed to create summary reader for "/machine.slice/kubelet.service/system.slice/hyperkube.service"](https://github.com/kubern

[2016-09-25 03:17] k82cn commented on #33091
@Random-Liu , thanks very much; `// +build linux` is better than a new file. The PR was updated accordingly (https://github.com/kubernetes/kubernetes/pull/33105).

[2016-09-25 03:35] smarterclayton opened #33446 "*IntToString is being converted via reflection"
Some types have `*IntToString` to `IntToString` which results in using the reflection path.  We need to have a generated public conversion function for IntToString for this case.

[code]

[2016-09-25 04:10] #31765 closed

[2016-09-25 04:24] Random-Liu commented on #33428
Could you post some error log here? I can't reproduce it with stress test https://github.com/kubernetes/kubernetes/blob/385fb81407a561292460585afc556783dcd6eaf8/docs/devel/flaky-tests.md#reproducing-unit-test-flakes

[2016-09-25 04:30] Random-Liu commented on #33428
Hm, got one reproduce:
[code]

[2016-09-25 04:40] vishh opened #33447 "NFS PV tests are failing on GCI"
Relevant test failures: https://github.com/kubernetes/kubernetes/issues/33401

I ran the e2e that "create a PV and a pre-bound PVC: test write access" and it fails on GCI.
I debugged a bit and figured that the mount command is failing -

[code]

Looking at the kernel logs, I got the following information:

[code]

I looked at the NFS server logs and found the following:

[code]

I'd like to know i

[2016-09-25 05:02] #33091 closed

[2016-09-25 05:17] vishh commented on #33404
I attempted to triage the following test failure - "[k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable [replication controller] recreates pods scheduled on the unreachable node AND allows scheduling of pods on a node after it rejoins the cluster"

Based on [run](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-subnet/2/)

Based on th

[2016-09-25 05:18] ernoaapa commented on #22770
@nelsonenzo we're still using the workaround what I explained in previous comment.

[2016-09-25 05:28] vishh commented on #33404
FYI: Following tests failed only on v1.3 HEAD test runs.

1. "Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow] {Kubernetes e2e suite}"
1. "Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication between nodes {Kubernetes e2e suite}"

[2016-09-25 05:45] vishh commented on #33398
System pods were not up within 10 minutes.
[code]

[2016-09-25 07:51] chakri-nelluri commented on #32543
@taherv this defines the REST semantic API types and the callouts are still based on exec model. HTTP based interface will be in another subsequent proposal.

[2016-09-25 08:04] k82cn commented on #15834
After checking the code, it's better to add fieldSelector to `Helper`, #33087 is created for fieldSelector. Will submit a PR based on #33087 .

[2016-09-25 12:49] zhouhaibing089 commented on #33351
I would like to understand why not then..

There is also a why, why it depends on the context of kubelet directory.

IIUC, all the directories that mount to container should be labeled with correct context, why it depends on something else?

[2016-09-25 13:10] k82cn commented on #33283
@bgrant0607 , can we also this into the list of #24343 ?

[2016-09-25 13:12] zhouhaibing089 commented on #33173
why do you want such isolation?

[2016-09-25 17:48] wojtek-t commented on #33398
@gmarek - can you please take a look?

[2016-09-25 19:21] #30633 closed

[2016-09-25 19:26] intellix opened #33452 "Vagrant 1.8.5 and VSphere detection cause ssh Authentication to fail"
**Kubernetes version** (use `kubectl version`): master branch

**Environment**:
- **Cloud provider or hardware configuration**: Macbook Pro 15" Early 2013
- **OS** (e.g. from /etc/os-release): macOS Sierra 10.12
- **Kernel** (e.g. `uname -a`): Darwin Dominics-MBP-2.lan 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64
- **Install tools**:

[2016-09-25 19:47] davidopp opened #33454 "Cherrypick disruption budget/eviction subresource tests for 1.4.1"
#31722, #32247, #32160, #33133 were left out when doing #33251 as a substitute for #33143. Note that #33251 was against 1.4 release branch, while the others are against HEAD.

@mml I think the best thing to do at this point is to create a single new PR that incorporates those, and cherrypick it into the 1.4 release branch (for 1.4.1). Might as well do #33148 at the same time.

[2016-09-25 21:43] k8s-merge-robot opened #33455 "kubernetes-e2e-gci-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/275/

Run so broken it didn't make JUnit output!

[2016-09-25 21:43] k8s-merge-robot opened #33456 "kubernetes-e2e-gci-gke-autoscaling: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/28/

Run so broken it didn't make JUnit output!

[2016-09-25 21:53] bprashanth opened #33457 "show external ip in get nodes -o wide"
Nice to have for nodePort service debugging, creating manual firewalls, hitting hostNetwork or hostPort pods etc. Currently I need to either -o yaml, --template, or switch to gcloud.

[2016-09-25 21:55] dsocer opened #33458 "Scheduler Extender changes to node array nodes []*api.Node, but ExtenderArgs still use NodeList"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---scheduler extender; node array; NodeList

**Is this a BUG REPORT or FEATURE REQUE

[2016-09-25 22:02] k8s-merge-robot opened #33459 "KubemarkTest {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1435/

Failed: KubemarkTest {e2e.go}

[code]

[2016-09-25 22:45] rmazlumyan commented on #28241
account id is the host part of the registryURL right?

Similar to how region is being determined, couldn't the registryId be parsed from registryURLTemplate ?
const registryURLTemplate = "*.dkr.ecr.%s.amazonaws.com"

https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/aws/aws_credentials.go#L51

[2016-09-25 22:52] k8s-merge-robot opened #33461 "TestRunSecureServer {examples}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17403/

Failed: TestRunSecureServer {examples}

[code]

[2016-09-25 23:04] therc commented on #28241
Even with the lazy credentials that I implemented, the ECR provider can't discover additional account IDs, because it does not know the full URL of the image. It just doesn't get passed around by the credential provider API. The match from image name to credentials happens outside of the ECR code. The lazy provider "only" helps us in not making each kubelet get, at startup, ECR credentials for all

[2016-09-25 23:33] AdoHe commented on #33457
This should be quite easy, should be good for contribution. @kubernetes/kubectl

[2016-09-26 00:14] saad-ali commented on #33447
@vishh this test is known to be flaky. Does it fail consistently for you in GCI? + @kubernetes/rh-storage who maintain this test and may be able to provide more insight.

[2016-09-26 01:42] F21 opened #33462 "Support native blue/green deployments"
It would be really cool if kubernetes can have blue/green deployments built-in in addition to the rolling updates currently available.

This would allow for the ability to atomically update an app without the risk of clients connecting to the app seeing different versions.

[2016-09-26 02:51] k82cn commented on #9260
hi team, k8sm only focus on Mesos; I'd like to delegate your requirement to DC/OS community :). For the progress, please refer to https://github.com/dcos/dcos-docs/issues/621 .

@jdef , would help to close this issue for now?

[2016-09-26 02:53] k82cn commented on #18723
The patches are merged. @jdef , would you help to close this one?

[2016-09-26 06:01] xiaoping378 commented on #31351
close it ?

[2016-09-26 06:33] k82cn commented on #19954
It was fixed by #19959 , let's close this.

[2016-09-26 06:53] wojtek-t commented on #31795
@jayunit100 - yeah - the problem is that we are listing all pods for a given service basically for computing predicate for every node. This is very suboptimal.

What we should do is to compute it as part of "meta", but do it only when this predicate is enabled...

[2016-09-26 07:03] gmarek commented on #27321
@fejta - did you really closed the bug, because instead of pasting gubernator link I provided the build number and suite name? Does it make the failure less real?

[2016-09-26 07:08] gmarek commented on #30754
@fejta - can you please don't close issues that don't have gubernator links?

[2016-09-26 07:41] mwitkow commented on #31968
@nhlfr what additional information would help you reproduce it?

We seem to be getting this `kube-scheduler` NPE regularly (at least once a day) on our test cluster with `1.4.8-beta.8`. +@thockin FYI, as the `1.4` release is looming.

[2016-09-26 07:52] TamalSaha opened #33470 "PetSet pet pods should resolve PTR records"
We are trying to run a GlusterFS cluster in a 1.4 Kubernetes cluster using PetSet. We found that even though pod names create DNS record, no PTR record is created for pet pods. As a  result, we can't really use pod name as a GlusterFS peer name. Can PTR records be created for petset pods?

[2016-09-26 08:00] wangweihong commented on #15128
+1
 I want to know whether fieldSelector support set-based match

[2016-09-26 08:04] fejta commented on #30754
Did you reopen the wrong bug? I closed the issue because all the requested info already exists (although I agree it is painfully hard to collate all the info in the right places)

[2016-09-26 08:04] #30754 closed

[2016-09-26 08:05] fejta commented on #27321
Yes, I did.

[2016-09-26 08:05] #27321 closed

[2016-09-26 08:45] jsafrane commented on #33447
this looks like /sbin/mount.nfs and kernel NFS modules missing on the test machines.

[2016-09-26 08:48] gmarek commented on #27321
And how exactly is this helping anyone?

Closed bugs are not monitored by me (neither by a number of people I guess). I noticed it only because I was OOO for past week and did a careful scan of things in my mailbox.

All the info to find all the data is there and it'll take me exactly the same amount of time as you to get it. Except of the fact that there's nothing in GCS, as it was a Jenkins work

[2016-09-26 09:31] soltysh commented on #25908
Have you looked into [this doc](http://kubernetes.io/docs/user-guide/jobs/#parallel-jobs) point 3, described in details in [here](http://kubernetes.io/docs/user-guide/jobs/work-queue-2/) where you basically don't set `.spec.completions` and as soon as first container finishes with 0 exit code the jobs is done.

We can force terminate them once the job is completed.

Personally, these look to me mo

[2016-09-26 09:54] wojtek-t opened #33472 "Apiserver is leaking go-routines"
We are observing that some clusters are leaking go-routines.

In particular, we observed clusters with 2 or 3 nodes that has 200.000+ go-routines.

However, this seem to be happening only on some clusters (not all of them).
I will try to provide more data when I have it.

@kubernetes/sig-api-machinery

[2016-09-26 09:54] wojtek-t commented on #33472
@lavalamp

[2016-09-26 10:00] floreks commented on #33457
I could take a look at this. What information exactly that is available in yaml output should be shown?

This is example yaml from my node:
[code]

Should there be additional address type `NodePort`?

[2016-09-26 10:01] oz123 opened #33473 "KUBERNETES_PROVIDER=vagrant ; wget -q -O - https://get.k8s.io doesn't authenticate"
**What happened**:
I followed the instructions to get a kubernetes cluster with vagrant, after downloading all the archives, vagrant starts, does what it does and infinitely tries to access the machine:
[code]

**What you expected to happen**:

Vagrant starts with kubernetes cluster, I guess...

[2016-09-26 10:09] chengzhang1016 opened #33475 "Didn't handle invalid permission mode: '0008' properly"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): secret permission mode

**Kubernetes version** (use `kubectl version`):
v1.5.0-alpha.0.1251+e05e8664d5dd7a

**Environment**:
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server 7.2
- **Kernel** (e.g. `uname -a`): 3.10.0-327.22.2.el7.x8

[2016-09-26 10:10] AdoHe commented on #33462
@F21 would you mind give a more deep explanation? how would you expect this?

[2016-09-26 10:13] jstrachan commented on #25961
BTW this looks a really great implementation of the sidecar
https://lyft.github.io/envoy/

it lets you do automatic retries of HTTP requests, circuit breakers, timeouts and so forth.

The big challenge is how to be able to configure DNS or `/etc/hosts` on a per pod basis so that we can point services to the sidecar so we can easily enable/disable sidecar based client side proxying without having t

[2016-09-26 10:26] taimir commented on #32544
I'd be glad to pick it up if there's no one working on it.

[2016-09-26 10:31] gmarek opened #33477 "Unexpected image_type: DEBIAN."
GKE smoke tests failed for me with an error:
[code]
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32495/kubernetes-pull-build-test-e2e-gke/14051/

cc @kubernetes/test-infra-maintainers @wojtek-t

[2016-09-26 10:37] F21 commented on #33462
Let's say we have an app deployed as version 1. If we ask kubernetes to perform a rolling update to version 2, my understanding is that v2 would be able to serve traffic before all of v1 is removed. That means that we will have a small window where v1 and v2 are both serving traffic.

With blue/green deployments, let's say we initially deployed v1 (blue). We then ask kubernetes to deploy v2 (green

[2016-09-26 11:14] taimir commented on #32544
nvm, I see you've dealt with it [here](https://github.com/kubernetes/kubernetes/pull/32599/files)

[2016-09-26 11:22] gmarek commented on #33477
This is causing all GKE smoke tests to fail.

[2016-09-26 11:25] k82cn commented on #18420
@jdef , please help to close this issue; it was corrected in the latest code.

[code]

[2016-09-26 11:28] k82cn commented on #19325
@jdef , this's a really old issue with little logs. I'd suggest to close it first.

@mysterytree , if the issue is still there, please feel free to re-open it.

[2016-09-26 11:41] k8s-merge-robot opened #33479 "kubernetes-e2e-gci-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/209/

Multiple broken tests:

Failed: [k8s.io] EmptyDir wrapper volumes should not conflict {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32467

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test sp

[2016-09-26 12:07] #33477 closed

[2016-09-26 12:21] k8s-merge-robot opened #33480 "kubernetes-e2e-gci-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial/35/

Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mar

[2016-09-26 12:31] k8s-merge-robot opened #33481 "BeforeSuite {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/9678/

Failed: BeforeSuite {E2eNode Suite}

[code]

Previous issues for this test: #27455

[2016-09-26 12:51] k8s-merge-robot opened #33482 "kubernetes-e2e-gci-gce-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot-release-1.4/223/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}

[code]

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361

Failed: [k8s.io] Reboot [Di

[2016-09-26 12:54] jdef commented on #18420
fixed by #18575

[2016-09-26 12:54] #18420 closed

[2016-09-26 12:54] jdef commented on #19325
agreed

[2016-09-26 12:54] #19325 closed

[2016-09-26 13:00] tafypz opened #33483 "FEATURE REQUEST: Support GCE Internal Load Balancer"
I would be great to be able to use GCE new internal load balancer feature.
Configuration could be done via the same type of config as AWS internal load balancer.
This would avoid having to create bastion routes to access non public services living in GKE.

[2016-09-26 13:11] rootfs commented on #33447
@vishh do you happen to have full logs? The kernel log suggested nfs daemon is not running properly.

[code]

[2016-09-26 13:22] wojtek-t commented on #33398
I took a look, and __ALL__ the failure coming from this suite are actually because of:
[code]

That said, the sibling suite with non-GCI seems to be pretty much stable:
http://kubekins.dls.corp.google.com:8080/view/CI%201.4/job/kubernetes-e2e-gce-scalability-release-1.4/

So it is really GCI-related thing...

[2016-09-26 13:24] liggitt commented on #15834
getting an object with a particular name across all namespaces seems like something we shouldn't encourage... it breaks the assumption of namespace independence.

[2016-09-26 13:32] luxas commented on #33462
That would be a nice feature indeed. cc @kubernetes/deployment

[2016-09-26 14:02] jdef commented on #18723
fixed by #22974

[2016-09-26 14:02] #18723 closed

[2016-09-26 14:25] mikedanese commented on #32544
This is p1 as it blocks addon-manager work we need in 1.5

[2016-09-26 14:31] micahhausler commented on #33192
@agsmith  any chance you're using the [Prometheus node exporter](https://github.com/prometheus/node_exporter)?

[2016-09-26 14:56] mtaufen commented on #33398
Looking through `kubelet.log` files for the gci wuite, e.g. for `e2e-scalability-1-4-minion-group-30ec` I see a lot of errors like this:
[code]

If I look at `kubelet.log` files some similar errors, but on the whole there seem to be far fewer. E.g. the above GCI node's kubelet.log contains 427 hits for "unable to handle container", but I looked at 5 `kubelet.log` files from nodes running the CVM s

[2016-09-26 15:01] deads2k commented on #33253
I think I prefer this approach: https://github.com/kubernetes/kubernetes/pull/28949 .

Given that the field is mutable, I think that's more in keeping with the goals of `kubectl create` here: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubectl-conventions.md#create-commands.

[2016-09-26 15:09] lukemarsden commented on #22770
This is about to become a much bigger problem as it affects everyone using the new `kubeadm` tool: https://lukemarsden.github.io/docs/getting-started-guides/kubeadm/#limitations

[2016-09-26 15:26] jdef commented on #9260
Regarding direction: running k8sm on dc/os is, at this point, a community-driven effort. Current releases of dc/os do not support k8sm.

[2016-09-26 15:39] k82cn commented on #9260
IMO, k8sm only provide the doc for pure Mesos, but no doc for DC/OS or other e2e solution.

[2016-09-26 15:40] jsravn opened #33491 "EBS stuck detaching when volume controller detaches due to NodeNotReady pod eviction"
1. kubelet was stopped on node with EBS mounted for a short period, to roll out some changes - node was marked as NotReady, then pods were evicted
2. controller manager thought it was safe to detach the EBS of the evicted pod - when it wasn't, because that EBS was still mounted
3. EBS then got stuck in "busy" state for hours, then finally got detached, then got stuck in "attaching" state for hours

[2016-09-26 15:41] bprashanth commented on #33293
So I guess this doesn't block the release (since the release is going out today)? if so, please update the known issues doc with impact/mitigation. Assigning to Daniel for lack of an assignee.

[2016-09-26 15:50] erictune commented on #32041
We don't change default values on stable APIs.

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api_changes.md#on-compatibility

[2016-09-26 15:52] #32789 closed

[2016-09-26 16:11] mtaufen commented on #32799
/cc @apelisse

[2016-09-26 16:25] lavalamp opened #33493 "clients: Make it obvious when you should call Update and when you should call UpdateStatus"
Currently if you e.g. make changes only in the status of a resource and then call Update, the server appears to accept your request but doesn't actually make any changes. (This is intentional, because you should use UpdateStatus for status changes.)

This is probably very confusing the first time you encounter it. The easiest fix is just documentation.

Note that we can't make the server warn or f

[2016-09-26 16:26] lavalamp commented on #33493
@quinton-hoole

fyi: @caesarxuchao @mbohlool

[2016-09-26 16:30] zmerlynn commented on #28435
Yes, it was a legal requirement that the source, and not just a link to the source, appear on the machine.

[2016-09-26 16:31] MrHohn opened #33494 "Jenkins GCE Node e2e hanged as "Waiting for status to be reported"."
From PR #33379.

Jenkins GCE Node e2e hanged after telling robot `ok to test`. Commented one more `test this please` restart the other tests, but did not help GCE Node e2e.

Is there any comment to restart GCE Node e2e test?

[2016-09-26 16:35] adityakali commented on #33444
In general, I think kubelet should be more tolerant of multiple partitions since the layout may change in future (ex., /var/logs/ could be on a different partition than /var/lib/docker/).

[2016-09-26 16:36] jbeda commented on #28435
@zmerlynn -- can you give a bit more context? Where does this legal requirement come from? Which machines?

Obviously if I'm installing k8s on my own VM/hardware there is no need to have the source on that same machine.  GCE runs VMs where the linux kernel code isn't on the machine.  This is a bit confusing for me.

[2016-09-26 16:36] jlowdermilk commented on #31884
I don't think this is actually still a problem. Last flake was more than a week ago.

[2016-09-26 16:36] #31884 closed

[2016-09-26 16:40] MrHohn commented on #33494
@apelisse @foxish

[2016-09-26 16:44] mingfang commented on #25908
@soltysh the link you sent above, point 3 references pod completion and not container completion.

[2016-09-26 16:45] foxish commented on #33494
cc @kubernetes/test-infra-maintainers

[2016-09-26 16:59] caesarxuchao opened #33497 "Include workqueue in client-go"
[workqueue](https://github.com/kubernetes/kubernetes/tree/master/pkg/util/workqueue) is useful for building controllers. It should be included in client-go.

https://github.com/kubernetes/client-go/issues/4

[2016-09-26 17:02] dchen1107 commented on #33444
Updating kubelet eviction config to evict based on imagefs availability on GKE or GCI for now sounds promising as a workaround for now. @vishh / @mtaufen Can you add a test to GCI test suite to validate this?

[2016-09-26 17:05] mtaufen commented on #33300
Good catch. I must have forgotten to check the quota on this job. This is where the quota differed from the original `ingress-1-3` project:
[code]

I requested the necessary bump.

[2016-09-26 17:07] zmerlynn commented on #28435
If you want to talk further about this, I recommend we schedule time with our lawyers rather than continuing on this thread. I implemented what was requested after several back and forths, after trying to get by with just a link to the source (which is what's present in 1.2).

That said, if someone wants to take the time to plumb the separate download into GKE and handle the changes in the startup

[2016-09-26 17:08] freehan commented on #33407
Those test runs were problematic. Looks like some nodes got into bad state before starting this test.
Closing this one. Reopen if necessary.

[2016-09-26 17:08] #33407 closed

[2016-09-26 17:13] kargakis commented on #23211
We had a discussion with @smarterclayton and we may want to use the rollback spec for this which means we will change the deployment template back to its working state (so the deployment template is always the latest running template and that actually is much easier to do and fits into the current state of the code like a charm). We could include an object reference inside Conditions and have a Co

[2016-09-26 17:18] jbeda commented on #28435
Sounds like it is a sore spot.  As it isn't the biggest problem now, I'm guessing we can leave it for later.  I don't get it but... lawyers.

[2016-09-26 17:20] lavalamp commented on #33293
This doesn't block the release and it's not clear to me that we even need a cherrypick.

[2016-09-26 17:21] lavalamp commented on #33472
My money would be on our timeout handling.

On Mon, Sep 26, 2016 at 2:54 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-09-26 17:42] jingxu97 commented on #33447
I found this PR #24687 also has similar error message. Not sure they are related or not...

[2016-09-26 17:47] seh commented on #33497
One annoyance is [file _metrics.go_](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/workqueue/metrics.go), which [drags in the Prometheus client library](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/workqueue/metrics.go#L22).

[2016-09-26 17:47] vishh commented on #33447
@saad-ali The test has never passed on GCI. AFAIK, the PV infra that it is testing, seems to be working fine. The NFS aspects of the test are failing though.

[2016-09-26 17:48] vishh commented on #33447
@rootfs What logs do you need? The ones I posted are the relevant info I got from kubelet and kernel logs. If you'd like to give it a try, you can run `kube-up.sh` from master branch on GCE and you can run the test yourself. Let me know if you need access to a GCE account for testing.

[2016-09-26 17:51] caesarxuchao commented on #33497
@krousey had done some work to not importing Prometheus: https://github.com/kubernetes/kubernetes/pull/30638. It would be appreciated if someone repeat the process for the workqueue's metrics.go.

[2016-09-26 17:52] vishh commented on #33398
Those are cAdvisor errors and are benign. Thanks for helping triage the
issue Wojciech.

On Mon, Sep 26, 2016 at 7:57 AM, Michael Taufen <notifications@github.com>
wrote:

[2016-09-26 17:54] rootfs commented on #33447
@jsafrane @vishh i'll run it on gce.

[2016-09-26 18:09] janetkuo commented on #33245
The node selector is updated to a random label (`13e0252d-8069-11e6-9cdd-005056881537=13e02602-8069-11e6-9cdd-005056881537`) by the daemon set reaper successfully. Looks like it timed out waiting for all its pods to be gone. If this is a bug, it should be related to daemon set controller. @mikedanese @deads2k

What's the daemon set config? What is the label selector it's using? Are other controlle

[2016-09-26 18:09] vishh commented on #33444
@dchen1107 the node e2e disk eviction tests are somehow passing. I tested my proposal manually before filing this issue and it works.
This workaround needs some more lines of bash scripting though :unamused:

[2016-09-26 18:23] derekwaynecarr commented on #32917
The backport into cAdvisor v0.24 is here: https://github.com/google/cadvisor/pull/1478

[2016-09-26 18:25] janetkuo commented on #33439
@vasu1124 Yes. Looks like in validation we prevent people from creating pods/services with invalid name, but not do the check in controllers.

[2016-09-26 18:27] #33455 closed

[2016-09-26 18:29] freehan commented on #31435
@m1093782566 Sorry for the late response. Notification got buried.

We are moving network utils from kube-proxy to kubelet. So it would be better to manage all new iptables util rules in `syncNetworkUtil`. You can add another iptables util chain for Reject. Similar to the existing ones (DROP and MASQ).

Since REJECT has to happen in filter table, we mark it for REJECT in nat table and let the util

[2016-09-26 18:35] deads2k commented on #33283
How about creating a new kubernetes-incubator project called `kube-mesos-framework`.  @k82cn could be the owner for the new project and we'd be able to clone kubernetes/kubernetes for its initial starting point.  After the split, we'll be able safely remove the the kubernetes/contrib/mesos and update the docs to point to the new repo for building the kube-mesos-framework.

[2016-09-26 18:35] #33430 closed

[2016-09-26 18:36] janetkuo commented on #33439
After looking into this more, I found that pod/rc name needs to conform to subdomain in DNS (RFC 1123), whereas service name must conform to a label in DNS (RFC 1035). They're using different validation.

@vasu1124 you can choose a different name for the service using `kubectl expose --name`

[2016-09-26 18:36] mjg59 commented on #33139
A couple of things here:

1) app-level contexts make no sense in a VM-based environment. If someone is running multiple apps in a single kvm-based pod, there's (a) no tooling inside to allow us to set up SELinux, and (b) no mapping between internal contexts and host ones. So what you probably want when you're using kvm is for the kvm instance to be in a unique confined context (so any hypervisor b

[2016-09-26 18:42] pwittrock opened #33503 "Develop versioned docs so we have docs for previous releases"

[2016-09-26 18:42] vasu1124 commented on #33439
ah ok. got it. sorry for the confusion I created, but I guess others will also run into it. may i suggest to provide the "--name" information directly in the error message?

[2016-09-26 18:43] pwittrock opened #33504 "Continuously merge changes to "live" docs into release branch docs"

[2016-09-26 18:44] pwittrock opened #33505 "Use bots and labels to prevent users from submitting docs changes into the wrong branch"

[2016-09-26 18:54] yujuhong commented on #32803
Let's break down the problem a bit more.

1. Assume there is no version skew, does runtime need to support all the fields listed in the container/sandbox configuration?

2. With version skew, how can kubelet know whether a specific feature is enabled?

apiserver <-> kubelet doesn't have problem (1). I'd like to enforce that runtimes should support all fields in the config and it should reject the

[2016-09-26 18:55] seh commented on #33497
@caesarxuchao, is this inclusion something you expect to work on soon?
I need to decide whether I should wait on `workqueue` arriving in _client-go_, or whether I should continue working around its lack.

[2016-09-26 18:58] timothysc commented on #33232
This should goto the node crew really.

[2016-09-26 18:59] #33428 closed

[2016-09-26 19:07] btdlin commented on #11935
New to the thread, trying to set up auto-scaling with k8s in aws. Is this supported now? I check the [README](https://github.com/kubernetes/contrib/blob/master/cluster-autoscaler/cloudprovider/aws/README.md), but not sure exactly what needs to be done to build/push the image. Any update would be really appreciated. Thanks.

[2016-09-26 19:12] vishh commented on #33232
@Random-Liu I don't have cycles for triaging this failure. What to give it a shot?

[2016-09-26 19:22] k8s-merge-robot opened #33507 "kubernetes-e2e-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/24026/

Run so broken it didn't make JUnit output!

[2016-09-26 19:22] huang195 opened #33508 "K8s 1.4 and Docker 1.12 user namespace incompatibility"
Everything works fine when Docker user namespace is turned off. When it's turned on by some variant of this flag `--userns-remap=default` in Docker engine, pods can no longer be created. Resulting in error messages similar to the following in the kubelet log:

[code]

Some investigation shows this is due to files in `/var/lib/kubelet/pods/...` being owned by `root` and having `0750` permission. Wh

[2016-09-26 19:25] andrewsykim commented on #11935
@btdlin you have to build your own docker image on whatever revision we started supporting cluster autoscaler on AWS and push it to your own registry. If you don't want to do that my company has published a public image for our own use cases which has AWS support on it `wattpad/cluster-autoscaler:v1.1`.

[2016-09-26 19:37] edsiper commented on #32762
@piosz @Crassirostris @vishh

should we move to the file-system mode for now ?

[2016-09-26 19:42] estesp commented on #33508
Not enough knowledge of the pod structure personally to understand what are bind mounts versus container internal directories in the snippet above, but the assumption from docker engine (today) is that the intersection of external content (host paths & files) and user namespaced processes requires proactive admin actions re: `chown`/`chmod` of host-originated content appropriately where container

[2016-09-26 19:44] pmorie opened #33510 "SELinux: DTRT when no SecurityContext is specified"
This issue is a sibling to #33351.  Currently (for the Docker runtime), the bind-mount option that relabels volumes with a context usable from a container is currently applied only if an SELinux context is explicitly specified in the pod spec.  This means that customers who want SELinux isolation must manage their own MCS labels, which is an undue burden.  Instead, we should always apply the `:Z`

[2016-09-26 19:49] vishh commented on #33482
" Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on " This test failure should have been fixed by https://github.com/kubernetes/kubernetes/pull/33342 @freehan was https://github.com/kubernetes/kubernetes/pull/33342 cherry-picked into v1.4?

[2016-09-26 19:51] Random-Liu commented on #33232
Sure.

On Sep 26, 2016 12:12 PM, "Vish Kannan" <notifications@github.com> wrote:

[2016-09-26 19:52] derekwaynecarr commented on #33362
I had explored the client generation stuff in a past PR here:
https://github.com/kubernetes/kubernetes/pull/25587

I abandoned it when I realized the URL forms created were not going to be
correct.

On Sat, Sep 24, 2016 at 1:20 AM, Brendan Burns <notifications@github.com>
wrote:

[2016-09-26 19:52] davidopp commented on #33283
Maybe I'm not understanding the proposal, but this seems a bit extreme. Won't this cause the kubernetes-on-mesos code to diverge from "true" kubernetes very quickly?

[2016-09-26 19:56] freehan commented on #33482
cherry-pick PR created: https://github.com/kubernetes/kubernetes/issues/33482

[2016-09-26 20:00] vishh commented on #33482
One of the abrupt restarts seems to have permanently failed a test node and that caused a cascading test failure -
[code]

The tests that ran after this failed test are all failing in their after each section because of the node that failed in the prior test.

[code]

[2016-09-26 20:03] gerred commented on #33070
This is a duplicate of #32999. Rebuilding with Go 1.7 is your fix.

[2016-09-26 20:04] derekwaynecarr commented on #33255
xref: https://github.com/kubernetes/kubernetes/issues/32468#issuecomment-249301475

[2016-09-26 20:05] vishh commented on #33482
Now why the GCI failed to come back up after a kernel panic is still a mystery since no useful logs exist - only kube-proxy logs were retrieved.

[2016-09-26 20:16] saad-ali commented on #33207
Like you mentioned this shouldn't happen if #33203 is done. But we should still handle this edge case and clean up correctly. But we can make this P2

[2016-09-26 20:22] saad-ali commented on #32881
Thoughts on what the ideal timeout should be. Too short would be bad because it would give a false-negative.

[2016-09-26 20:24] bkleef commented on #11000
@jonmoter issue could also be ECDSA signature algorithm over _supported_ RSA (https://github.com/kubernetes/kubernetes/issues/28180).

[2016-09-26 20:28] deads2k commented on #33283
It's just a clean starting point for the new project to start from.  Once @k82cn sorts out vendoring, he'll be able to rebase on a cadence that suits the project and refactor dependencies to start relying on kube as built as opposed to kube as forked.

As it stands now, the fork of the controller start up seems to be slipping, but it's making fixes to the controller infrastructure more difficult,

[2016-09-26 20:32] saad-ali commented on #30555
It would be nice to have kubectl print information about the actual (GCE, AWS, etc.) volume, but I'm not sure how feasible this is since, kubectl would run locally.

[2016-09-26 20:38] saad-ali commented on #29695
In v1.5 we are planning on improving the quality and coverage of testing across storage, so I'd like to avoid any large/unnecessary changes, until those are in. Therefore, I suggest holding off on this until post-v1.5, since it will not directly fix any bugs, but will improve code quality.

[2016-09-26 20:49] k8s-merge-robot opened #33514 "kubernetes-e2e-gci-gke-prod-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/160/

Multiple broken tests:

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361

Failed: [k8s.io] Networking [k8s.io] Granular Checks should function for pod communication between nodes {Kubernetes e2e suite}

[code]
Issues about this test specifically: #30131 #31402

Faile

[2016-09-26 20:49] pwittrock commented on #26205
@jfrazelle Want to get started on this?

[2016-09-26 20:53] deads2k commented on #33283
I'll also point out that if we agree that this should move out of tree, then we're just talking about when we rip off he bandaid.  No matter when we do it, the drift will begin.  Now seems as good a time as any.

[2016-09-26 20:56] pwittrock opened #33515 "Define Release Workflow"
Come up with workflow for release
- Requirements for release
  - Issues state
  - Automated Testing state
  - Manual Testing state
- How to add / modify release requirements
  - Adding automated tests as release blockers
- Deadlines for milestones
  - Moving feature issues out of the release milestone
  - Where docs are submitted
-  Automated nagging around milestones

[2016-09-26 20:59] vishh commented on #33444
One more thing- this issue affects Kubelet's ability to report `OutOfDisk` condition as well. I assume we want to deprecate that condition though.

[2016-09-26 21:08] janetkuo commented on #28496
The doc is now live http://kubernetes.io/docs/user-guide/scheduled-jobs/, closing

[2016-09-26 21:08] #28496 closed

[2016-09-26 21:13] chakri-nelluri commented on #32543
Thanks @taherv I fixed the typos.

[2016-09-26 21:14] janetkuo commented on #31075
Should be fixed by #33030

[2016-09-26 21:14] #31075 closed

[2016-09-26 21:16] janetkuo commented on #28339
Should be fixed by #33030

[2016-09-26 21:16] #28339 closed

[2016-09-26 21:18] ymqytw commented on #33138
@smarterclayton Can you create another issue for adding a test case for proxy, since kubectl and proxy are maintained by different team. Thanks.

[2016-09-26 21:22] chrislovecnm commented on #32941
This is going to sit for a bit.  With my schedule this week, won't likely get to it.

[2016-09-26 21:22] smarterclayton commented on #33138
The team that owns clientcmd has to support both users - the tests are testing core code owned by kubectl, not owned by two different teams.

[2016-09-26 21:23] smarterclayton commented on #33138
The team that owns both needs to understand how their code is used and be responsible for its use.

[2016-09-26 21:35] ymqytw commented on #33138
Does `proxy` refer 'kube-proxy' or 'kubectl proxy'?

[2016-09-26 21:41] Starefossen commented on #33070
The `kubectl` binary in question was downloaded directly from the official binary distributions for Kubernetes.

[2016-09-26 21:41] smarterclayton commented on #33138
kube-proxy is a consumer of the client configuration libraries and we broke
it unintentionally.  The point of these e2e tests is to validate all
consumers of the client configuration libraries start correctly using code
we provide.

On Mon, Sep 26, 2016 at 5:35 PM, Mengqi Yu <notifications@github.com> wrote:

[2016-09-26 21:43] Starefossen commented on #33070
Looks like kubernetes/kubernetes#28742 will solve this.

[2016-09-26 21:47] smarterclayton commented on #33472
Is this on 1.4 or master branch?

[2016-09-26 21:50] freehan commented on #32551
Two potential solutions I could think of:

1. We bump `nf_conntrack_tcp_timeout_close_wait` and match it with metadata server. Or we let metadata server tune down their close_wait timeout. Not sure why they set it to 60 minutes in the first place???

But bumping `nf_conntrack_tcp_timeout_close_wait` seems risky, since this will make it easier to run out of conntrack entries.  https://lists.netfilt

[2016-09-26 21:59] janetkuo commented on #33212
@roberthbailey thanks, that answered question 1. So we should document this in user doc.

[2016-09-26 22:01] zapman449 opened #33517 "Daemonset delete fails"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):  yes, but there seems to be a bug

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## kubernetes delete daemonset fails

**Is this a BUG

[2016-09-26 22:05] lavalamp commented on #33472
This would be in 1.3.x

On Mon, Sep 26, 2016 at 2:47 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-26 22:12] deads2k commented on #33283
I suspect that when the work is done, the vast majority (90%+) of kubernetes/kubernetes will be removed from the `kube-mesos-framework` repo and that the roadmap will probably be trying to remove the last vestiges.

[2016-09-26 22:20] smarterclayton commented on #33472
Only in kubelet so far?  There was the one scheduler goroutine leak fixed.

[2016-09-26 22:32] caesarxuchao commented on #33212
Thanks @roberthbailey. So the doc says client-master versions can skew one minor version (node is an exception).

We just need to document the compatibility of kubectl flags. It seems the consensus is they should be compatible back to 1.0, and we should put it at [kubectl-conventions.md](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/kubectl-conventions.md).

The API is probably b

[2016-09-26 22:46] janetkuo commented on #33212
We should also document kubectl deprecation rules (include flags and commands). When can we remove the deprecated ones? Perhaps after a half year or 2 minor release?

[2016-09-26 22:47] yujuhong commented on #33444
Just FYI, Chromium OS maintains two partitions (mounted read-only) as root filesystem for autoupdate, and a stateful partition which is read-write.
https://www.chromium.org/chromium-os/chromiumos-design-docs/filesystem-autoupdate

[2016-09-26 22:54] david-mcmahon commented on #23070
Closing.  Moved to release repo.

[2016-09-26 22:54] #23070 closed

[2016-09-26 22:54] yujuhong commented on #33048
I want to make sure that we're all on the same page, or at least know the implication for asking shims to provide stats for image filesystem.

The shim can either:
 * run cadvisor as it is in the background; may provide slight performance overhead.
 * refactor cadvisor to use it to get on-demand stats; this could have the side-effect of long request latency, especially for disk usage stats. Could

[2016-09-26 22:59] yifan-gu commented on #33192
AFAICS the `no such file or or directory` error should just not matter as these cgroups don't belong to any containers that cadvisor is going to monitor.
/cc @timstclair @vish for more help.

[2016-09-26 23:01] yujuhong commented on #29029
Merging this with #29478

[2016-09-26 23:01] #29029 closed

[2016-09-26 23:04] yifan-gu commented on #33189
GOOD JOB!!

[2016-09-26 23:20] jimmycuadra commented on #11935
Is there going to be an official image for the autoscaler? Why make people build it for themselves?

[2016-09-26 23:32] lavalamp commented on #33472
I thought this was in kube-apiserver, not kubelet.

On Mon, Sep 26, 2016 at 3:20 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-26 23:49] k8s-merge-robot opened #33521 "kubernetes-e2e-gci-gce-alpha-features-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-alpha-features-release-1.4/102/

Run so broken it didn't make JUnit output!

[2016-09-26 23:59] btdlin commented on #11935
Thanks @andrewsykim . Looks like [v1.4](https://github.com/kubernetes/kubernetes/releases/tag/v1.4.0) just released a few hours ago, do we know if autoscaler in aws is included in v1.4?

[2016-09-27 00:00] bgrant0607 commented on #26202
@thockin Changing the label selector is like changing the object name. With apply, at best it's going to create new resources and cause the old ones to be deleted (once we have --prune/purge).

[2016-09-27 00:08] andrewsykim commented on #11935
@jimmycuadra yes I believe there will be an official docker image already, we just didn't know if it the published one supported aws as a cloud provider so we built our own.

[2016-09-27 00:16] zapman449 commented on #33517
The way I resolved this issue was very unsatisfactory: the AWS ASG for the worker nodes was reduced to zero nodes.  Then I was able to delete the daemonset.  Then I brought the nodes back (set the right ASG size again).  Then I was able to redeploy the daemonset.

[2016-09-27 00:17] zapman449 commented on #33517
also 'kubectl delete ds <blah> --cascade=false` was able to help me later through this issue.

[2016-09-27 00:28] fejta commented on #33480
Not test infra

[2016-09-27 00:28] #33480 closed

[2016-09-27 00:28] fejta commented on #33479
not test infra

[2016-09-27 00:28] #33479 closed

[2016-09-27 00:42] zilman opened #33522 "Replication controller with nodeSelctor conditional doesn't succeed if nodes are labeled after it is submitted"
Kubenetes version 1.4.

Replication controller YAML contains:

[code]

kubectl create -f above file.

Realize you've forgotten to label nodes or have a typeo, do:

[code]

**Expected**:
rc to notice newly matching nodes and proceed.

**What happened**:
rc did not proceed.

**Work around**:
kubectl delete -f above file and create again, proceeds immediately.

[2016-09-27 01:34] k8s-merge-robot opened #33524 "kubernetes-e2e-gci-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial/40/

Multiple broken tests:

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 {Kubernetes e2e suite}

[code]
Issues about this test specifically: #27406 #27669 #29770 #32642

Failed: [k8s.io] Res

[2016-09-27 01:46] thockin commented on #26202
That is fine.  It is mostly unsurprising at least.

On Sep 26, 2016 5:01 PM, "Brian Grant" <notifications@github.com> wrote:

[2016-09-27 01:54] k8s-merge-robot opened #33525 "kubernetes-e2e-gci-gke-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/483/

Multiple broken tests:

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a pod. {Kubernetes e2e suite}

[code]

Failed: [k8s.io] HostPath should give a volume the correct mode [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically:

[2016-09-27 01:57] timstclair commented on #33192
Can you check whether the containers are still present in the cAdvisor API? (<kubelet>:4194/api/v2.1/stats/)

[2016-09-27 01:58] timstclair commented on #33192
Also:

[2016-09-27 02:08] yifan-gu opened #33526 "kubelet.makeMounts() is mixing the usage of the kubecontainer.Mount.Name"
[kubelet.makeMounts](https://github.com/kubernetes/kubernetes/blob/v1.5.0-alpha.0/pkg/kubelet/kubelet.go#L1207) is a help function that runs during each container creation.
It takes a **pod spec**, and a **container spec** to generate **kubecontainer.Mount (name, container-path, host-path, readonly, selinux_relabel)** by matching the container spec's [volume mount](https://github.com/kubernetes/ku

[2016-09-27 02:09] yifan-gu commented on #33526
cc @kubernetes/sig-node @kubernetes/sig-rktnetes

[2016-09-27 02:18] mikedanese commented on #31775
Looks like a staging flaky which we've fixed since then.

[2016-09-27 02:18] #31775 closed

[2016-09-27 02:36] resouer commented on #29478
Will help `version cache (one of my own commits)`, `custom pod infra image`, `env for pod sandbox`.

[2016-09-27 02:40] xavierholt opened #33527 "No logs for webhook auth response parse failure."
While working on a webhook auth server, I've found that the `kube-apiserver` logs don't include useful info when the API server fails to parse the response from the auth server.  For example, the following response looks okay (the problem was the missing Content-Type header), but then returns a 403 to the client with no explanation.  This was captured with `--v=8`:

[code]

Better logs would be ve

[2016-09-27 02:42] yuexiao-wang opened #33528 "It is inconsistent for format style between rules and PHONY in Makefile"
**Kubernetes version** (use `kubectl version`):
v1.4.0

**What happened**:
It is inconsistent for format style between rules and PHONY in Makefile

**What you expected to happen**:
 Add targets for PHONY in Makefile and keep the same style between rules and PHONY

[2016-09-27 04:22] roberthbailey commented on #33212
I'm not sure I see where there is consensus on this point. In fact @janetkuo suggests a much smaller compatibility window (2 minor releases) in the next comment.

[2016-09-27 04:26] justinsb opened #33530 "Consistent tagging & tainting for masters"
We need to agree two things that can cross-cut the various installation approaches/tools:
- a taint for master nodes (so pods can tolerate it)
- a label for master nodes (so pods can select only master nodes).

For the toleration, the recommendation seems to be `dedicated=master:NoSchedule`

For the label, I propose `kubernetes.io/role=master`.

In the absence of a `--taints` kubelet flag (that wo

[2016-09-27 04:40] thockin commented on #32551
A little from column A and a little from column B?  I think we can tune the close_wait timeout to 60 minutes - it will only affect sockets in CLOSE_WAIT, which isn't a normal state to linger in (I think?!).  I think the other thing you suggest *is* the real fix.  We want to fix that ANYWAY, but we should probably think hard about how to fix it properly.  I don't think a simple flag is enough - I'd

[2016-09-27 05:07] MikaelCluseau commented on #32543
+1 to complete Attachment with another flag like `LocalAttachment`
I'm for limiting the call to one, well-defined object, and avoid as much a possible to use the options map, which I think shoudl be reserved for driver's "blackbox" data.

[2016-09-27 05:12] MikaelCluseau commented on #32543
Driver caps structure as a consequence:
[code]

[2016-09-27 05:14] wojtek-t commented on #33472
@smarterclayton - it's apiserver

[2016-09-27 05:17] MikaelCluseau commented on #32543
I'm not sure we need ObjectMeta and TypeMeta in the results from the calls.

[2016-09-27 05:33] MikaelCluseau commented on #32543
I'm for using FlexVolumeMount as a parameter for "metrics".

[2016-09-27 05:45] resouer commented on #32024
@davidopp @wojtek-t One thing I'm not quite sure is: some predicates are not suitable to Equivalent Class, for example, `PodFitsResources`, considering two pod with same `ControllerRef`, one successfully scheduled may lead another unfitted to the same candidate node list.

[2016-09-27 05:50] justinsb opened #33532 "k8s client sends odd useragent"
While using the k8s client in my own code, I noticed that the UserAgent was odd: `User-Agent: dns-controller/v0.0.0 (linux/amd64) kubernetes/$Format`

I think we should either pre-bake a k8s version into the Foramt string as part of client-go, or we should document the expected variable substitutions.  (I wasn't using client-go here, I was using the main repo, but I believe the same problem exists

[2016-09-27 05:53] taherv commented on #32543
@MikaelCluseau The LocalAttachment field has some consequences, I wonder what your opinion is regarding them.
1. This means each driver can choose independently if they want LocalAttachment (or not)
2. Has an impact on the enable-controller-attach-detach command line parameter to kubelet.
    (That flag as long as I understand is for that node, and is not driver specific).
3. Even if we decide to

[2016-09-27 05:55] wojtek-t commented on #32024
@resouer - the trick is that as soon as something is scheduled on a given node, we are invalidating all cached results for this node. This solves most of the problems.

There is one remaining problem which is pod affinity/antiaffinity for which scheduling one pod may potentially invalidate all future pods on all nodes. I don't know how to solve it (other than just excluding this predicate and prio

[2016-09-27 05:59] MikaelCluseau commented on #32543
@taherv
1. Yes
2. It looks weird to have it at a wider level than the driver; we may which a Ceph RBD volume and GCE volume on the same host for instance.
3. They should specify how they, this allow to factorize more complex code like RPC mecanisms in Kubernetes itself, providing more service to the drivers, thus helping implementors.

[2016-09-27 06:04] taherv commented on #32543
We agree on 1. I dont think we can remove the flag for 2 so easily, we still need to support existing non-flexvolume drivers.

I am confused about what you want to say in (3). Please explain (3).

[2016-09-27 06:05] justinsb opened #33533 "Need a way to show masters"
If we are going to replace unschedulable with a taint for the master, we need a way to make the role (cf #33530) visible.  Otherwise there is no way to know which node is the master:

[code]

I propose we add some form of "smart" presentation of the labels, or maybe just the `kubernetes.io/role` label, as the --show-labels output is overwhelming:

[code]

cc @davidopp @mikedanese

[2016-09-27 06:08] MikaelCluseau commented on #32543
On 2, we can of course keep the flag for now. Then, on 3, other drivers may or may not move, but I'd be for a generic support in Kubernetes, so the complexity is done once for all.

[2016-09-27 06:08] wangweihong commented on #33245
@janetkuo  This is my daemon set yaml file.

Sorry , I can't reproduce this problem now.

[2016-09-27 06:11] taherv commented on #32543
For (2), if we are keeping the flag, what is the expectation when that flag is specified, but the driver specifies LocalAttachment is true ? Obviously, one of them should win :) I think it should be the driver (since that flag will be deprecated soon, it can be overridden by flexvolume drivers written using this new proposal) ?
@chakri-nelluri We should get somebody who works in kubelet code to ok

[2016-09-27 06:13] MikaelCluseau commented on #32543
(2) I think LocalAttachment should win; the flag is for core drivers :) We may give it as an hint in the probe call, but that looks unclean and overkill to me. So we agree.

[2016-09-27 06:30] chakri-nelluri commented on #32543
@taherv The driver flag should win in the long term. @rootfs and @saad-ali are the right persons to comment if we need to use Kubelet flag for the short term. If not, we will use the driver flag for the short term too.

[2016-09-27 06:56] porridge commented on #32551
Note that doing just the second option will not help with cases where the
server is something else than the metadata server.

@freehan If I'm not mistaken, on the metadata server's side we're not
talking about CLOSE_WAIT, we are talking about the FIN_WAIT_1 state - the
state transitions are not symmetric, and depend on who closes the
connection first, in our case the metadata server does the close

[2016-09-27 07:25] k8s-merge-robot opened #33537 "kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/274/

Run so broken it didn't make JUnit output!

[2016-09-27 07:28] gmarek commented on #32366
Fixed by #33039

[2016-09-27 07:28] #32366 closed

[2016-09-27 07:48] jayme-github commented on #6545
I ran into this too as corporate subnets are within 10.0.0.0/8 here. Masquerading of Pod's IPs worked here (and still work on some nodes) because of two additional NAT rules of which I do not know where they come from:
[code]

Routes to those networks are defined as GCE routes with CloudVPN tunnels as next hop.

@thockin how would you do a "one-shot" DaemonSet to add/change some iptables rules? Ju

[2016-09-27 08:00] roberthbailey commented on #6545
@mikedanese has documentation about how to run a daemonset to do node configuration in https://github.com/kubernetes/contrib/pull/892

[2016-09-27 08:10] debianmaster opened #33541 "kubeadm join issue on CentOS 7.2 (when selinux is enabled)"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-beta.11", GitCommit:"4b28af1232cc52da453eb4ebe3dc001314a1f99b", GitTreeState:"clean", BuildDate:"2016-09-23T22:53:01Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7

[2016-09-27 08:11] debianmaster commented on #33541
This issue got fixed with setenforce 0   but want to track it @lukemarsden  @rustyrobot

[2016-09-27 08:15] debianmaster commented on #33541
BTW  the issue was on latest  Centos iso   too
downloaded from here http://isoredirect.centos.org/centos/7/isos/x86_64/CentOS-7-x86_64-Minimal-1511.iso

[2016-09-27 08:18] lukemarsden commented on #33541
cc @kubernetes/sig-cluster-lifecycle

[2016-09-27 08:21] errordeveloper commented on #33541
@debianmaster this is to do with secrets, and kubelet log is the place to look for more info, could you please `journalctl -u kubelet` grab and paste it in a gist (it's gonna be fairly large)? Also, the kernel audit log would be handy, do you know how to get this (I forgot)?

[2016-09-27 08:33] debianmaster commented on #33541
[code]

not sure if this will help   @errordeveloper

[2016-09-27 08:36] #28635 closed

[2016-09-27 08:38] errordeveloper commented on #33541
@debianmaster the lines are incomplete, it's best if you redirect it to a file and upload it somewhere with a link here.

[2016-09-27 08:41] errordeveloper commented on #33541
@debianmaster could you also provide the output of `kubectl describe pod -l name=kube-discovery --namespaces=kube-system`?

[2016-09-27 08:45] Crassirostris commented on #32762
@edsiper Thanks a lot for the answers! Sorry for the long time without a reply

I'll show you all our tools as soon as they're ready and tested, they aren't as for now.

In terms of CPU I believe, not IOPS. Since we don't have any numbers yet, I cannot say anything for sure, maybe it matters, maybe not. I hope to have a clear answer for that shortly.

OK, then if fluentd crashes before writing to

[2016-09-27 08:50] #32435 closed

[2016-09-27 09:03] krmayankk commented on #33472
@wojtek-t how does this issue manifest ? How did you measure the goroutines leak ?

[2016-09-27 09:20] taimir opened #33542 "Kubeadm: retry timeout when bootstrapping to an Endpoint"
**What keywords did you search in Kubernetes issues before filing this one?** *kubeadm*

---

**Is this a BUG REPORT or FEATURE REQUEST?** *feature / enhancement*

**Kubernetes version** (use `kubectl version`): *v1.5.0-alpha.0*

**Current state**:

In `kubeadm`, currently the node bootstrap to a master API endpoint is coupled with the creation of a CSR (Certificate Signing Request) for the node.

[2016-09-27 09:20] taimir commented on #33542
@errordeveloper @lukemarsden

[2016-09-27 09:23] taimir commented on #33542
WDYT, if you'd like we can discuss the concrete implementation in https://github.com/kubernetes/kubernetes/pull/33543

[2016-09-27 09:23] ashmere commented on #27161
@freehan that was the bit of information we were missing we had set the cluster-cidr only on the kube-controller-manager not on the kube-proxy, once this is set we aren't seeing this issue anymore.

Is there any reason kube-proxy doesn't get this information from the kube-controller-manager like it gets the service ip range from it?

[2016-09-27 09:25] taimir commented on #33542
@kenan435 @cheld

[2016-09-27 09:26] sebgoa opened #33544 "kubeadm blocks waiting for 'control plane'"
Hi @kubernetes/sig-cluster-lifecycle

I tried to follow the docs for kubeadm on centOS 7.1.

It seems that the `kubeadm init` blocks waiting for 'control plane to become ready' even though all containers are running.

[code]

here are the running containers on the same master machine:

[code]

I tried to join a node but I get a connection refused error, even though there is no firewall...

[code]

[2016-09-27 09:28] gmarek commented on #29891
FYI: Logic that prevents controller from taking any action is not implemented in a PetSet (lack of time:/). We probably need to find someone to do it.

[2016-09-27 09:30] wojtek-t commented on #33472
@krmayankk - current number of go-routines is exported by one of the existing prometheus metrics.
Looking into graph of this metric over time (we have it internally) for some clusters, this is constantly growing.

However, note that this may be customer-load-specific, as this manifests only for some clusters, not for all of them.

[2016-09-27 09:31] k82cn commented on #15834
@liggitt , so we'll only update message for this issue? for example: `all namespaces or empty namespace is invalid when retrieving a resource by name`

[2016-09-27 09:44] sporokh commented on #32480
@sabarishs @freznicek
I got the same issue here. The problem for that I have those variables set inside the pod
[code]
but this can't auth with the following error if the `master-url` is set.
[code]
If the `master-url` doesn't set I get:
[code]
Any updates considering this?

[2016-09-27 09:51] davidreuss commented on #29322
Also seems to not work as you'd expect with `1.4` .. `--namespace <ns>` works, but with `=`, and `-n <ns>` does not.

Only tested with zsh.

[2016-09-27 10:18] jsravn commented on #33491
Raised for @justinsb

[2016-09-27 10:42] k8s-merge-robot opened #33547 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/839/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval {E2eNode Suite}

[code]

Previous issues for this test: #30523 #32022 #33291

[2016-09-27 11:18] freznicek commented on #32480
@sporokh If you specify --kube-master-url then you will need to handle authentication via standard way i.e. supply credentials (user/password or client certificate or other method) which you probably do not want ("...the server has asked for the client to provide credentials..." message is requesting for authentication).
In case you wand to use k8s secrets you need to not specify --kube-master-url

[2016-09-27 11:23] freznicek commented on #32480
@sporokh @sabarishs I think you both need to be much more specific about what k8s component versions you are using and what you are seeing in k8s component logs and link it for instance in pastebin.

Keep in mind that issue template requires that information, see http://pastedown.ctrl-c.us/#egAEPM1UzmD9uVru_H47LKBiI5s.markdown for more information.

[2016-09-27 11:31] DaspawnW commented on #33544
Same issue for me on an aws installation, but I can't see any docker containers running.
Some Informations are here:
Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-38-generic x86_64)
Using http_proxy and https_proxy
`export https_proxy=http://<proxy>:<port>
export http_proxy=http://<proxy>:<port>
kubeadm init --cloud-provider aws
`

[2016-09-27 11:40] sporokh commented on #32480
@freznicek Thanks a lot for your reply.
In my case:
Kubectl version (updated to 1.4.0. today, but on 1.3.7 was the same):
[code]
uname -a
[code]
**Environment:** Vagrant, Baremetal and AWS. Totally the same on all of them.
**What happened:**
I am using kubedns-v19 and it's not getting auth'ed on apiserver.
[code]
Service account token is present and mounted to the pod.
[code]
And I get the next er

[2016-09-27 12:02] #33053 closed

[2016-09-27 12:22] wojtek-t commented on #33459
@fejta @kubernetes/test-infra-maintainers

This issue seems strange (and it should be treated as a bug).
Basically, looking into links above (from gubernator) it's pretty clear, that the test that failed is:
[code]
However, the issue claims something different.

Thoughts?

[2016-09-27 12:25] bogdando opened #33554 "Kube-dns add-on should accept option ndots for SkyDNS or document ConfigMap alternative subPath"
BUG REPORT:

**Kubernetes version** (use `kubectl version`):
Kubernetes v1.3.5+coreos.0,
Kube-dns add-on v19 from gcr.io/google_containers/kubedns-amd64:1.7

**Environment**:
- **Cloud provider or hardware configuration**: on-premise VMs
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel** (e.g. `uname -a`): 4.4.0-38-generic
- **Install tools**: Kube-dns add-on v19 from gcr.io/google_c

[2016-09-27 12:48] MikeSpreitzer commented on #33508
Is this specific to Kubernetes 1.4, or does it also affect earlier releases?

[2016-09-27 12:52] karimodm commented on #33452
Can confirm that this is still a problem w/ release 1.0.1. Running on native Debian Linux, even tried with other distros.

[2016-09-27 13:14] intellix commented on #33452
Still a problem as in, my fix didn't work?

[2016-09-27 13:17] pmorie commented on #29695
+100

[2016-09-27 13:23] argusua commented on #29324
Looks like this not fixed in v1.4.0:
[code]
[code]
Aws console says that vol-e1580350 attached as /dev/xvdbb and vol-a179e110 as /dev/xvdba

[2016-09-27 13:24] deads2k commented on #26637
Third party resources don't have validation or conversions across versions.  You should probably consider making this a first class API object to gain those benefits.  Otherwise things may get really strange across version migrations.

[2016-09-27 13:27] jobz commented on #19171
Hi ,
I need to run my container with "docker run --net=none" command , what will be the corresponding yml file variable , like   hostNetwork: true used for "docker run --net=host"

[2016-09-27 13:34] wojtek-t opened #33557 "http2: no cached connection was available"
I started seeing this happening again in our scalability tests:
[code]

Coming from 500-node kubemark:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6224/

[It's not very frequent, but it's happening]

@timothysc
@kubernetes/sig-scalability

[2016-09-27 13:34] wojtek-t commented on #33557
@gmarek - FYI

[2016-09-27 13:35] jsafrane opened #33558 "flake: Data race in federation/pkg/federation-controller/replicaset unit test"
from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32129/kubernetes-pull-test-unit-integration/46691/:

[code]

[2016-09-27 13:46] smarterclayton commented on #29891
Which logic?  We have an open issue that is roughly slated for 1.5 to
ensure that PetSet isn't vulnerable to node evictions causing a split
quorum - using a finalizer is the currently preferred approach there.

On Tue, Sep 27, 2016 at 5:29 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-09-27 13:55] pmorie commented on #33139
@yifan-gu thanks, that jogged my memory -- too many overloaded terms :)

[2016-09-27 13:56] jsafrane commented on #33447
I tested `PersistentVolumes` on GCE  installed with plain kube-up.sh and the machines do not have /sbin/mount.nfs. I assume GCI tests install similar image. The test cannot work there.

[2016-09-27 13:56] captify-akraievoy opened #33559 "setting KUBE_VPC_CIDR_BASE breaks kube-up.sh for AWS"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version**:
`Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/386"}
`

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **O

[2016-09-27 13:58] fgrzadkowski commented on #11935
@mwielgus Can we make sure that cluster autoscaler image is released to an official repo? And I think we should close this issue now, as we support AWS :)

[2016-09-27 13:59] gmarek commented on #33557
I'm going to try running 5k experiment to see where we fail first. I'll look for this error.

[2016-09-27 14:01] gmarek commented on #29891
Sorry for being vague - the one @caesarxuchao mentioned here https://github.com/kubernetes/kubernetes/issues/29891#issuecomment-236773005 . So the logic that prevents PetSet controller from *doing stuff* when deletionTimestamp for a given PetSet is not nil.

[2016-09-27 14:03] timothysc commented on #33557
This seems like a bug in the api-machinery or client tooling.. that error statement makes no sense b/c the connection(s) should be shared.   Unless it's how we're using the client tools in this test...

[2016-09-27 14:04] rootfs commented on #33447
Thanks @jsafrane

@vishh do you have `/sbin/mount.nfs` on your VM?

[2016-09-27 14:05] k8s-merge-robot opened #33560 "kubernetes-e2e-gci-gke-multizone: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/257/

Run so broken it didn't make JUnit output!

[2016-09-27 14:07] oz123 commented on #33544
@rustyrobot , disabling SELINUX on Ubuntu 16.04 does solve the problem of hanging.

[2016-09-27 14:11] freznicek commented on #32480
@sporokh My 2 cents would be to remove --kube-master-url=https://10.3.0.1:443 argument (keep the env. variables) from kubedns and once more wipe serviceaccount and secrets out according above set of commands.

If that is still not working set up the kube dns verbosity up to --v=9, you should see curl debugging messages (which list the token it is going to be used, bearer token authentication on cu

[2016-09-27 14:13] smarterclayton commented on #30819
Ok, so proposal for 1.5.  We switch to adding new fields for annotations on at least 1 of our alpha and one of our beta fields.

1. Adding a new alpha field:
  1. Create the field with the "proper" name in the Go struct - i.e. `InitContainers`
  2. Give the field a JSON serialization name prefixed with `alpha`, i.e. `alphaInitContainers`
  3. Add a line to the description of the field (for swagger

[2016-09-27 14:18] rootfs commented on #32543
@taherv @MikaelCluseau there are indeed some cases we should take a deep look. If the driver doesn't support remote attach but kubelet and controller master are enabled to attach volume remotely, we should see if the driver can reject the call from controller and let kubelet attach the volume.

[2016-09-27 14:20] huang195 commented on #33508
@yujuhong @dchen1107 @vishh can you please share your thoughts on this issue and what might be a viable solution to have Kubernetes work with Docker user ns?

The several proposed solutions are:

- Change /var/lib/kubelet and its subdir's permission from 0750 to 0755 as a temporary workaround so at least pods can be created and started. My concerns are: i) 0755 might be too open, and ii) writing t

[2016-09-27 14:21] fgrzadkowski commented on #30471
We've seen a similar problem. HPA created many pods, but some of them were pending. Then we couldn't scale down the deployment as some of the metrics were available (for the pending pods).

I think what @jszczepkowski is too simple. What we need to do IMO is:
1. Ignore pods which are not running & ready. We should ignore those missing metrics and compute average based only on other pods.
2. For po

[2016-09-27 14:21] danbeaulieu commented on #11935
@fgrzadkowski Hi, I am very much interested in this feature but I find the lack of documentation to be an issue. The [README](https://github.com/kubernetes/contrib/blob/master/cluster-autoscaler/cloudprovider/aws/README.md) leaves a bit to be desired.

- How are instances scaled in? ie is there any Rhyme or reason to which is picked
- Is it possible to have heterogeneous instance types in the clus

[2016-09-27 14:21] life1347 commented on #23241
@Yannovitch @kolov

for people that encounter the problem
`
Failed to start etcd.service: Unit etcd.service not found.
`

16.04 use systemd to manage service, the following config should solve the problem.

/etc/systemd/system/etcd.service
[code]

https://github.com/coreos/etcd/blob/master/contrib/systemd/etcd.service

[2016-09-27 14:27] oz123 opened #33562 "kubeadm with Vagrant + VirtualBox in NAT mode"
Hi @kubernetes/sig-cluster-lifecycle,

I created a cluster of 3 Machines with Vagrant. The machines have a private Network and a NAT device:
e.g:
[code]

The master machine has the following configuration:
[code]

So when I run `kubeadm init --use-kubernetes-version v1.4.0-beta.11` it starts successfully and shows the message:

[code]

The problem is however that this IP address (`10.0.2.15`) is o

[2016-09-27 14:32] #31871 closed

[2016-09-27 14:33] jayunit100 commented on #31795
listing possible ways to optimize:

- cache this data in the node data structure (i think this is what woj suggested, correct if wrong)
- cache the List() operation.
- cache the Matches() results.  Not sure how much degeneracy there is there in terms of repeated queries.

[2016-09-27 14:37] devth commented on #21394
@a-robinson great suggestion, but it looks like Groups (or any other Stackdriver resource) don't have a namespace filter. e.g. I'd like to to create a `prod` group filtered to `namespace=prod`.

[2016-09-27 14:38] justinsb opened #33563 "AWS: Implement default external host"
We should just be able to add an `|| options.CloudProvider == "aws"`

https://github.com/kubernetes/kubernetes/blob/master/pkg/genericapiserver/config.go#L417-L418

[2016-09-27 14:44] smarterclayton commented on #33212
So maybe it's useful to ask what our users want, and what the cost for us
is.  With deprecation, can we describe how much extra cost each additional
minor release adds for us to preserve a flags compatibility?

On Tue, Sep 27, 2016 at 12:22 AM, Robert Bailey <notifications@github.com>
wrote:

[2016-09-27 14:47] liggitt commented on #28180
support added in https://github.com/kubernetes/kubernetes/issues/33565

[2016-09-27 14:55] sporokh commented on #32480
@freznicek I made it work using `--kubecfg-file=/etc/kubernetes/ssl/kube.conf` and mounting TLS certs inside the pod. (Basically TLS auth was the requirement)
Tested on two different environments and it seems to work stable with this solution.
Made a kube.conf similar to this:
[code]
And put those certs as a mount point inside the pod with:
[code]
So basically that would be a solution for me. Than

[2016-09-27 15:09] #30219 closed

[2016-09-27 15:13] sebgoa commented on #33544
Ok disabling selinux got me further, the `kubeadm init` finished. But now there is nothing listening on 9898.

What component is supposed to be listening on that port for cluster joins ?

[2016-09-27 15:15] mtaufen commented on #33459
Looks to me like it's just reporting the first thing in the list of failures. Maybe you need to tell it to skip KubemarkTest somewhere?

[2016-09-27 15:18] sebgoa commented on #33544
ok so the discover port is using a hostPort on 9898.

logs on that pod return this:

[code]

[2016-09-27 15:22] wojtek-t commented on #33459
@mtaufen - I have no idea what "KubemarkTest" is (it isn't any of the existing e2e tests).

[2016-09-27 15:25] wojtek-t commented on #31795
cache this data in the node data structure (i think this is what woj suggested, correct if wrong)

Not exactly - I'm suggesting caching it in "predicateMetadata".

[2016-09-27 15:27] wojtek-t commented on #33557
It's definitely possible that we are using connections incorrectly in test. But if so, this needs to be fixed. [I don't know what is the reason here.]

[2016-09-27 15:28] sebgoa commented on #33544
@errordeveloper looks like this might be right up your alley..

[2016-09-27 15:30] lukemarsden commented on #33544
@sebgoa can you try starting from scratch, following the instructions at http://deploy-preview-1321.kubernetes-io-vnext-staging.netlify.com/docs/getting-started-guides/kubeadm/ please?

[2016-09-27 15:31] jayunit100 opened #33572 "[low priority] Make Weak Map for caches If we dont have one already."
# this is a placeholder issue.  we may close it after further discussion.  x-ref = #31795

Problem

Could be my own ignorance: But I think we have a sets/ package, and various controllers/watches have some cache cleaning logic, but im not sure if we have a reusable Weak hashmap type data structure, i.e. one that is smart enough not to get too big...

[code]

Solution

Implement one, maybe put it i

[2016-09-27 15:35] jayunit100 commented on #31795
ah ok, your not talking about caching at the apiserver level, you mean just in the internal data structure i think...

[2016-09-27 15:39] mtaufen commented on #33300
Quota was approved last night, but this is still failing.

[2016-09-27 15:42] k82cn commented on #33283
Regardless of whether or not to move it out, I'm the owner of "Kubernetes on Mesos", including bug fix, sync with upstream, roadmap and so on; If any requirement/issues, please ping me directly :).

Does it also mean k8s not support 3rd part resource manager well? Suggest to enhance the interface for 3rd part resource managers, the Mesos is the first one/high priority. I'd like to propose the desi

[2016-09-27 15:42] bprashanth commented on #33300
Last run says
[code]

So either the quota is wrong or it hasn't taken effect yet

[2016-09-27 15:52] mtaufen commented on #33459
Huh. It's unfamiliar to me as well. @gmarek do you have any idea?

[2016-09-27 15:55] mtaufen commented on #33300
Ah found it. I had upped the quota for the GCE version of this test (which, consequently, also needed it), though this failure was from the GKE version. I'll bump the GKE version as well.

[2016-09-27 15:56] jonboulle commented on #33139
I'm pretty strongly in favour of deprecating individual app-level contexts for the reasons that mjg and Luca outlined.

Isn't this handled by just not exposing (mounting) that particular hostPath into the web container? Unless you're suggesting something like (for example) mounting `/var/` from the host into both containers in the pod, and then relying on security contexts within that to further i

[2016-09-27 15:59] #26721 closed

[2016-09-27 16:00] oz123 commented on #33544
@lukemarsden, I followed the instructions you posted, and it seems that systemd is immediately starting kubelet:
[code]

[2016-09-27 16:02] jonboulle commented on #33139
(somewhat related: #20899)

[2016-09-27 16:05] atomantic commented on #30471
I just hit an issue with this where the HPA was reporting 136% CPU usage on nodes that were taking almost no traffic. It turned out there was a dead pod with an OutOfCPU error.

The CPU usage dropped to 35% once I deleted this erroneous pod and instances normalized scaling operations. I only found this dead pod by digging into the hidden pods by running "kubectl get pods --all-namespaces -a". If t

[2016-09-27 16:09] jakexks opened #33576 "vSphere cloudprovider does not sanitise region or failuredomain, so nodes fail to register"
**Kubernetes version**

[code]

**Environment**:
- vSphere cloud provider
- **OS** CoreOS 1122.2.0 (MoreOS)
- **Kernel** Linux master0 4.7.0-coreos #1 SMP Tue Sep 6 14:39:20 UTC 2016 x86_64 Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.80GHz GenuineIntel GNU/Linux

**What happened**:

Kubelet fails to register nodes when the vSphere data center name or failure zone contain invalid characters.

[code]

**Wha

[2016-09-27 16:13] wojtek-t commented on #31795
yeah - definitely

[2016-09-27 16:24] hongshibao commented on #30471
I think this is a bug in calculating average CPU request in HPA. The sum of CPU request (as the numerator) only count non-pending pods, but the number of pods (as the denominator) count all pods including pending ones. When there are always pending pods, the expected number of replicas will be increasing. You can see my PR for more details.

[2016-09-27 16:57] luispabon opened #33583 "[1.4] Failed to start kubelet on minion"
We have a manually built kubernetes environment (not via kube-up). We're investigating upgrading from 1.3.7 to 1.4. We've stumbled upon a chicken and egg situation with kubelet and docker on the minions.

Essentially, on 1.3 we were starting kubelet before docker as to make docker create the `cbr0` network device. This was necessary as the docker daemon was configured to use this bridge, and docke

[2016-09-27 16:58] gmarek commented on #33459
Nope - it's probably some artifact of our e2e framework.

[2016-09-27 16:59] taherv commented on #32543
@rootfs It might not be possible for a driver to be used in whatever mode is available. It depends on how the storage device behaves/works. For example, a driver written for controller attach will probably not have storage credentials being sent to the node. So just asking the driver to do a kubelet attach instead of controller attach will not work, unless the driver itself is written to be multim

[2016-09-27 17:01] smarterclayton commented on #33139
hostPath into the web container?

No, the container wouldn't have the right selinux context or app armor
settings to access the host.

Pods are cooperative and co-scheduling, but we have never said they must
co-operate.

On Tue, Sep 27, 2016 at 12:02 PM, Jonathan Boulle <notifications@github.com>
wrote:

[2016-09-27 17:02] thockin commented on #19171
Kubernetes does not have a non-network mode currently.  Can you explain
your use case?

On Tue, Sep 27, 2016 at 6:28 AM, jobz <notifications@github.com> wrote:

[2016-09-27 17:05] thockin commented on #27161
We are in the beginning of a process to move a lot of config to ConfigMap
structures, but it will take a while.

On Tue, Sep 27, 2016 at 2:24 AM, Mat Davies <notifications@github.com>
wrote:

[2016-09-27 17:06] thockin commented on #27161
Promiscuous should already be set - are you setting kubelet's
`--hairpin-mode=promiscuous-bridge` flag?

On Sat, Sep 24, 2016 at 12:25 AM, George G <notifications@github.com> wrote:

[2016-09-27 17:06] #33541 closed

[2016-09-27 17:10] thockin commented on #6545
I wouldn't sleep inf, I would actually write it to check that the rules you
need are present, and if not add them, then sleep for 1 minute and repeat.
Self-healing FTW

On Tue, Sep 27, 2016 at 12:48 AM, jayme-github <notifications@github.com>
wrote:

[2016-09-27 17:21] jingxu97 commented on #29324
Hi @argusua , Could you please provide more details about your cluster? Is this a GKE cluster, if so, please share us the project id, zone name, and cluster name so that we can check the master log. Could you also please share the kubelet log on the node? Thank you!

[2016-09-27 17:26] gg7 commented on #27161
Yes (that's the default and I haven't overridden it). However, since I use `--configure-cbr0=false`, this seems to have no effect:

[code]

[2016-09-27 17:28] thockin commented on #27161
Ahh, interesting intersection.  Why are you setting --configure-cbr0=false ?

On Tue, Sep 27, 2016 at 10:26 AM, George G <notifications@github.com> wrote:

[2016-09-27 17:33] benmathews commented on #33544
There is a uninstall script referenced at http://deploy-preview-1321.kubernetes-io-vnext-staging.netlify.com/docs/getting-started-guides/kubeadm/. After running it, my init ran correctly again.

    systemctl stop kubelet;
    docker rm -f $(docker ps -q); mount | grep "/var/lib/kubelet/*" | awk '{print $3}' | xargs umount 1>/dev/null 2>/dev/null;
    rm -rf /var/lib/kubelet /etc/kubernetes /var/l

[2016-09-27 17:33] spxtr commented on #33459
I added XML reporting for the steps in `hack/e2e.go`, so if, for instance, cluster up fails then we get a failing test on Gubernator and testgrid and the like.

However, the "Test" steps produce their own XML output, so this is redundant for those. #33498 removed it for Test and SkewTest, and we can do the same for KubemarkTest.

[2016-09-27 17:34] gg7 commented on #27161
Decided to have networking configuration handled by the OS. I have to insert custom routes, add another IP address, and disable STP. I simply didn't want to risk Kubernetes doing something wrong / eating my configuration. It'd be nice if this was better documented though -- it's hard to spot the kubelet warning.

[2016-09-27 17:34] spxtr commented on #33459
We can also consider making the munger just ignore these.

[2016-09-27 17:36] wojtek-t commented on #33459
However, the "Test" steps produce their own XML output, so this is redundant for those. #33498 removed it for Test and SkewTest, and we can do the same for KubemarkTest.

+100
@spxtr - can you please do it?

[2016-09-27 17:38] thockin commented on #27161
configure-cbr0 should only set the CIDR and promisc mode of the broidge

On Tue, Sep 27, 2016 at 10:35 AM, George G <notifications@github.com> wrote:

[2016-09-27 17:38] bprashanth opened #33586 "loadBalancerSourceRanges should apply to nodePort"
Since `Type=NodePort` is also a "loadbalancer", @freehan fyi

[2016-09-27 17:41] oz123 commented on #33473
Maybe this is now obsolete if kubeadm finally works...

[2016-09-27 17:42] gg7 commented on #27161
If "set the CIDR" == `ip addr add x.x.x.x/c dev $IFACE` ([seems like it](https://github.com/kubernetes/kubernetes/blob/cf7301f16c036363c4fdcb5d4d0c867720214598/pkg/kubelet/container_bridge.go#L42)), then that won't work in my case because of a [Docker bug](https://github.com/docker/docker/issues/26341).

[2016-09-27 17:47] caesarxuchao commented on #29891
@gmarek thanks for the reminder. It won't cause any trouble until we convert the PetSet to use controllerRef. I'll see if I have time to do it.

[2016-09-27 17:54] smarterclayton commented on #29891
Ok - my thing is layered on top of that.  Dependent.

[2016-09-27 17:55] thockin commented on #27161
Docker should not be touching cbr0 any more.

On Tue, Sep 27, 2016 at 10:43 AM, George G <notifications@github.com> wrote:

[2016-09-27 18:01] mgoodness commented on #33192
Piggy-backing on this, as I'm seeing the same problem with a v1.3.7 cluster running on CoreOS 1122.2.0 in EC2. Also using docker as the container runtime, with flanneld for overlay. Kubelet is run using the rkt wrapper. Prometheus node exporter runs directly on each host, but I don't see the log message @micahhausler reported.

cAdvisor API:
[code]

Summary API:
[code]

[2016-09-27 18:12] caesarxuchao commented on #33497
It will be two steps, removing the import of Prometheus and then including workqueue in client-go. I estimate the process will take 2 weeks.

[2016-09-27 18:17] seh commented on #33497
Thank you. I'll continue with my workaround (using `cache.FIFO`) for now, and watch for the chance to remove it when `workqueue` lands later.

[2016-09-27 18:21] marun commented on #22770
I hit this problem a while ago and resorted to scripting periodic sync of node addresses and /etc/hosts on the master.

[2016-09-27 18:27] wlan0 opened #33588 "Kubectl 1.4 does not trim --- seperator"
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Any
- **OS** (e.g. from /etc/os-release): Any
- **Kernel** (e.g. `uname -a`): Any
- **Install tools**: Any

**What happened**:
 If I use a template with the `---` seperator, and if the line with the separator has trailing whitespace characters, then kubectl considers that to be

[2016-09-27 18:34] jonboulle commented on #33526
Volumes don't exist at all in the CRI API at the moment, which suggests that 2 is already the implicit path?

[2016-09-27 18:34] captify-akraievoy commented on #33559
@justinsb distress call here: please point me for further investigation directions

[2016-09-27 18:48] freehan commented on #33586
We thought about it. But I do not think all LB proxy like ELB preserves source IP.

[2016-09-27 18:52] timothysc commented on #33557
This sounds eerily similar - https://github.com/golang/go/issues/16582 . Is there a count of the number of concurrent clients?

Also I'll need to figure out the default max number of streams.
/cc @bradfitz

[2016-09-27 18:54] bprashanth commented on #33586
NodePort is the poor man's loadbalancer. If you do `kubectl expose` on GCE you get a loadbalancer, if you do the same thing on-prem, you just get a NodePort service. Maybe we can never apply the source ip filters on AWS, but the first node traffic hits for a nodePort can apply the firewall filter right?

[2016-09-27 18:57] freehan commented on #33586
On AWS, the source ip filter is done thru security group configured on ELB.

If hitting the node directly, then we can do source ip filtering.

[2016-09-27 19:00] bprashanth commented on #33586
Exactly, meaning I can plug all the nodes I have :nodePort into DNS for my site and disallow all but 1 CIDR block from ever hitting my endpoints quite easily, if this worked. I can also whitelist country blocks.

[2016-09-27 19:07] freehan commented on #33586
Okay. How do we decide whether we should filter or not? By Cloud Provider? What should be the default then?

[2016-09-27 19:10] bprashanth commented on #33586
Don't we unconditionally apply it for type=lb today?

[2016-09-27 19:12] nikhiljindal opened #33591 "Implement federated deployment"
This issue is to track the work required to implement deployment in federation control plane.

Work required is:
- [ ] Finalize the design
- [ ] Implement the API changes
- [ ] Implement federation deployment controller
- [ ] Add e2e tests
- [ ] Add documentation

cc @kubernetes/sig-cluster-federation

[2016-09-27 19:16] timothysc commented on #33557
Hmm looks like 1000 is the default from what I grok, but that appears on the client side.

[2016-09-27 19:18] bprashanth commented on #33586
hmm, maybe we escape because IIRC we only do it if ingress.IP != "" and on AWS you only have a hostname. So I guess you're saying if we detected the nodePort and applied the filter, the ELB will stop working. It sounds like we're already broken if AWS allocates IPs suddenly, but that's a good point, we need to figure out how we handle the nodePorts allocated to incompatible cloud lbs.

This is how

[2016-09-27 19:20] freehan commented on #33586
Then should we consider to extend it to `sourceRanges` instead of `loadBalancerSourceRanges`?
For cluster ip and nodeport, just do whatever user specifies.
For loadbalancer, special case for AWS and other cloud providers where traffic got proxied to node port without source ip preservation. Or for loadbalancer, we do not filter for node port?

More corner cases?

[2016-09-27 19:24] bprashanth commented on #33586
I think we should leave it as loadbalancersource. I'm sure there's something equivalent in network policy to enforce intra cluster segmentation (though that will probably end up being iptables, we won't be the policy engine).

[2016-09-27 19:25] bradfitz commented on #33557
Yeah, looks like golang/go#16582.

@timothysc, where do you see 1000? The threshold at which this client-side bug occurs is a function of the MAX_CONCURRENT_STREAMS advertised by the server and how many outstanding HTTP requests are in flight on that connection.

[2016-09-27 19:25] ericchiang opened #33592 "Add e2e tests for OpenID Connect plugin"

[2016-09-27 19:26] nikhiljindal commented on #33591
Design document: https://docs.google.com/document/d/1Vi_CKah8oR5ByPp8BlgUD0SoINMD1SE0iMQf_2BKlpw

[2016-09-27 19:30] dmitrig01 opened #33594 "Fix "WARNING: CPU hardcapping unsupported""
**Kubernetes version** (use `kubectl version`): 1.3.5

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian Jesse
- **Kernel** (e.g. `uname -a`): `Linux ip-172-20-46-179 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2 (2016-04-08) x86_64 GNU/Linux`
- **Install tools**: kops

**What happened**:
Kubelet reports "WARNING: CPU hardcapping unsupp

[2016-09-27 19:35] freehan commented on #33586
Make sense.
So for type=nodeport, we filter it.
For type=lb, we filter based on cloud provider?

[2016-09-27 19:37] bprashanth commented on #33586
I don't know how we'd do it based on cloud provider though, since kubeproxy knowns nothing about that. Sounds like we just get lucky today.

[2016-09-27 19:44] edsiper commented on #32762
@Crassirostris

The current implementation of Fluentd does:

1. in_tail read lines from file
2. in_tail update position entry
3. emit events (parsed from lines) into output (buffer) plugins

if Fluentd crashes between 2 and 3, Fluentd will miss the lines that were not saved on disk. I raised the concerns of this case internally and likely this can be improved.

oh, I misunderstood your comment pre

[2016-09-27 19:49] k8s-merge-robot opened #33596 "kubernetes-e2e-gci-gke-slow-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow-release-1.4/373/

Multiple broken tests:

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26490

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubernetes e2

[2016-09-27 19:59] k8s-merge-robot opened #33597 "kubernetes-e2e-gci-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/157/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416

Failed: [k8s.io] Pods should cap back-off at MaxContainerBackOff [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #277

[2016-09-27 19:59] k8s-merge-robot opened #33598 "kubernetes-e2e-gci-gke-updown: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/533/

Multiple broken tests:

Failed: [k8s.io] Networking should provide Internet connection for containers [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26171 #28188

Failed: Test {e2e.go}

[code]
Issues about this test specifically: #33361

Failed: [k8s.io] Networki

[2016-09-27 20:08] timothysc commented on #33557
nvmd: https://godoc.org/golang.org/x/net/http2 I see -

// If zero, MaxConcurrentStreams defaults to at least 100, per
// the HTTP/2 spec's recommendations.
MaxConcurrentStreams uint32

[2016-09-27 20:09] vishh commented on #33299
Two ingress tests are failing on GKE release 1.4 branch - https://k8s-testgrid.appspot.com/release-1.4-all#gci-gke-ingress-release-1.4

They are passing on GCE though - https://k8s-testgrid.appspot.com/release-1.4-all#gci-gce-ingress-release-1.4

[2016-09-27 20:10] bradfitz commented on #33557
Yeah, that is unrelated to this bug. That is a Go http server knob. This bug concerns the Go http client.

[2016-09-27 20:24] timothysc commented on #33557
It looks like in this use case, there is unbounded concurrency in the tests.

The server is running with the default of 100 (per), and the client is reporting the error mentioned because it's bumping into the threshold.  So at this point I see two options.

- up the server defaults :-/
- prevent the tests from doing too many concurrent operations across a single client.

It would also be helpful i

[2016-09-27 20:29] k8s-merge-robot opened #33599 "kubernetes-e2e-gci-gke-serial-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial-release-1.4/78/

Multiple broken tests:

Failed: DumpClusterLogs {e2e.go}

[code]

Failed: [k8s.io] Namespaces [Serial] should ensure that all services are removed when a namespace is deleted. {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Restart [Disruptive] should restart all nodes and ensure all no

[2016-09-27 20:32] yifan-gu commented on #33139
@smarterclayton I think what @jonboulle was saying is that in the case when both web container and sidecar container have the same selinux, you only mount to the sidecar container with the hostPath it needs, so it doesn't affect the web container? Is that what you are saying, @jonboulle ? Correct me if wrong.

[2016-09-27 20:33] gerred commented on #32999
@Ghazgkull I wrote a blog post for this: https://medium.com/@gerred/kubectl-1-3-7-for-macos-sierra-ee2c483e283d short answer is: build your own kubectl

[2016-09-27 20:37] jmccarty3 commented on #33192
I see the same results as @mgoodness as well as the log messages originally reported using k8s 1.3.6, ec2, and coreos 1122.2.0

An interesting note is that if I restart the kubelet (running directly on the box) I no longer see the error log messages, my Summary API actually lists pods, and my cAdvisor endpoint is returns an empty json object.

[2016-09-27 20:42] smarterclayton opened #33600 "Use a map to function(interface{}, interface{}) to access generated conversions"
After some testing for the defaulter path, the fastest (and most human efficient way) to access conversion functions is generating a `map[struct{ a, b reflect.Type }]func(a, b interface{}, scope) error` map for the convertor to look up.  Currently the "fast-path" for conversion is a type switch, but tests showed it could be up to 50ns slower.  Since the type switch is actually harder to generate a

[2016-09-27 20:48] zaa opened #33602 "Fibre Channel volume manager does not find FC disk if multiple targetsWWNs are passed"
**Kubernetes version** (use `kubectl version`): v1.3.5

**Environment**:
- **Cloud provider or hardware configuration**: baremetal
- **OS** (e.g. from /etc/os-release): Fedora 24
- **Kernel** (e.g. `uname -a`): Linux 4.6.6-300.fc24.x86_64 x86_64
- **Install tools**: https://github.com/kubespray/kargo
- **Others**:

**What happened**:

Our kubernetes minions have an FC LUN available via two differe

[2016-09-27 20:51] k8s-merge-robot opened #33603 "kubernetes-e2e-gci-gce-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-release-1.4/353/

Run so broken it didn't make JUnit output!

[2016-09-27 20:53] spxtr commented on #33459
Sure, I'll take care of it.

[2016-09-27 20:57] euank commented on #30607
This hasn't occurred since we added logging and updated the CoreOS image cloud-init to be ignition. I think we can close this since I've just been waiting on another failure to look at logs, but they're not coming.

[2016-09-27 21:00] thockin commented on #32803
On Mon, Sep 26, 2016 at 11:54 AM, Yu-Ju Hong <notifications@github.com> wrote:

Will this cause huge friction?Our API is not perfectly abstract, and
maybe there will be things that don't make sense on some runtimes?  I
don't know here..

We already have the security problem.  If kubelet is 1.3.x and reads a
Pod from apiserver that sets AppArmor, it will happily start the pod
without AppArmor.  Won

[2016-09-27 21:07] errordeveloper commented on #33544
I think this can be closed now, as soon as new packages become available.

On Tue, 27 Sep 2016, 18:33 Ben Mathews, <notifications@github.com> wrote:

[2016-09-27 21:10] sebgoa commented on #33544
can you give me time to test again tomorrow.

[2016-09-27 21:13] errordeveloper commented on #33544
Sure!

On Tue, 27 Sep 2016, 22:10 sebgoa, <notifications@github.com> wrote:

[2016-09-27 21:13] errordeveloper commented on #33544
Just trying to do housekeeping...

On Tue, 27 Sep 2016, 22:13 Ilya Dmitrichenko, <errordeveloper@gmail.com>
wrote:

[2016-09-27 21:15] bradfitz commented on #33557
The error was never meant to be shown to users. It was an internal sentinel error value which escaped and shipped by accident.

The fix in https://github.com/golang/go/commit/7a622740655bb5fcbd160eb96887032314842e6e "fixes" by just making new TCP connections as needed, like to HTTP/1.  An outstanding bug is optionally capping that, so Go doesn't bombard a server with a million TCP connections when

[2016-09-27 21:15] lavalamp commented on #33293
@mbohlool I think this isn't urgent. It's probably not hard though, so might be good exposure to more of our codebase for you. :)

[2016-09-27 21:41] thockin commented on #32543
It's unclear: are these types in the main kubernetes API or some new API that is *just* flex drivers?

Calling it REST is confusing - this is just structured input and output.  It might be simpler to digest if you just called it that?  REST implies resources which act like nouns and have different verbs.  This is closer to JSON RPC.

[2016-09-27 21:42] thockin commented on #32550
What does it do?  Just sleep to keep the container running?

Are you proposing a new API object Kind?  That wasn't clear from the other proposal.  The bar for adding a new Kind is very high.

What does "initialize" mean?

Kubelet doesn't know about daemon sets, it only knows pods.  What does "first" mean when pods can be stopped and started?

[2016-09-27 21:44] thockin commented on #32550
If we're going to end up with a long-lived container on every node, why both with complicated exec semantics - we should just adopt a model like Docker's drivers.  A JSON-RPC-ish API to a running container.  No installation concerns - we don't care how it got there to what it is.  All we know is that it exists.

[2016-09-27 21:48] thockin commented on #32550
Also, we still don't have (AFAICT) an answer to hosted environments like GKE, where you don't have access to the master.  How can provisioning, attaching, etc be handled?  That should be answered as part of the overall flex solution set.

[2016-09-27 21:49] dashpole commented on #33382
Great, thanks!

[2016-09-27 21:57] vishh commented on #33299
Failing on GKE in general - https://k8s-testgrid.appspot.com/release-1.4-all#gke-ingress-release-1.4

[2016-09-27 21:57] chakri-nelluri commented on #32543
Thanks @thockin

These API are just for Flex drivers. What would be the best place for the external interfaces like this?

The API types are REST objects/resources. Attach & Detach verbs are used in callouts in exec model, similar to how we do "kubectl scale --replicas..." for replication controller.

The plan is to use the same API objects for HTTP interface. The attach & detach will change to PO

[2016-09-27 22:07] bprashanth commented on #33299
as far as i can tell the tests aren't even running right?
[code]

Anyway there's also https://github.com/kubernetes/kubernetes/issues/33300 which is because of the reson described on that bug (default quota is insufficient)

[2016-09-27 22:09] bprashanth commented on #33299
This cherrypick also fixes a test leak: https://github.com/kubernetes/kubernetes/pull/33460, assuming the tests are running against 1.4 GKE

[2016-09-27 22:31] bprashanth opened #33611 "gke e2e builders get wedged creating clusters"
This morning there was what seems to be apiserver flake across a number of gke masters, eg:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress-release-1.4/1378/console
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress/12856/console

[code]

Every build after that has failed with gcloud container clusters create returning 500:

http://kubekins.dls.corp.google.com/jo

[2016-09-27 22:31] nikhiljindal opened #33612 "federation: Support cascading deletion"
Problem: There are 2 related problems:
- When user deletes a federated object, corresponding objects created in underlying objects are not deleted. For ex: if user creates a federated service, we create a corresponding service in each cluster. When the federated service is deleted, these services in underlying clusters does not get deleted automatically.
- When a cluster is removed from federation

[2016-09-27 22:31] jberkus commented on #30716
@smarterclayton, all:

I'm inclined at this point to close this in favor of a proposal of "make init containers easier to use", which seems like the way to go.  However, there have been a LOT of other proposals on this issue which aren't mine; is it OK to just close it nevertheless?

[2016-09-27 22:32] bprashanth commented on #33299
The plain gke failures are https://github.com/kubernetes/kubernetes/issues/33611

[2016-09-27 22:42] pigmej commented on #30716
@jberkus I don't think so that init container is the way to go, proposal submitted by @zefciu looks nice. And I think it's worth solving it a bit at configmap level.

[2016-09-27 22:54] chakri-nelluri commented on #32550
Thank you @thockin. I will update the proposal that we need a new API type for adding a driver :). Hopefully I can make the case for the driver API type or at least for a generic driver/plugin API type which can be used in other places too.

| | Run the container as a daemon-set
| What does it do? Just sleep to keep the container running?
 [chakri] Yes. It will be just be a sleep container.

| | D

[2016-09-27 22:55] captify-akraievoy commented on #33559
I was able to un-puzzle the whole thing myself, so the issue should be closed. Maybe some minor bit of documentation could be added for such illiterate folks like me - so that they won't do the same mistake.

I had a suspicion that the problem was caused by private DNS names not resolving properly, which https://github.com/saltstack/salt/issues/34129 also was suggesting.

Trying to see whether thi

[2016-09-27 22:55] #33559 closed

[2016-09-27 22:59] pwittrock opened #33613 "Create Chrome Plugin for proxying to kubernetes dashboard without invoking kubectl"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-09-27 23:13] bprashanth commented on #33299
All 3 "normal" GKE runs just passed so I'm going to put this down to random gcloud 500 tracked by https://github.com/kubernetes/kubernetes/issues/33611:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress-release-1.4/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ingress-release-1.3/

Btw they only fail

[2016-09-27 23:19] captify-akraievoy commented on #28089
I've seen that just now with my local install of fresh release of 1.4.0:
[code]
If you need extra details on my setup - please see https://github.com/kubernetes/kubernetes/issues/33559 for more.

I have confirmed that this is caused by diagnostic output in [cluster/aws/util.sh](https://github.com/kubernetes/kubernetes/blob/a6dfaff/cluster/aws/util.sh#L113), which is usually silent and activates on

[2016-09-27 23:20] janetkuo commented on #33588
kubectl regression. cc @kubernetes/kubectl

[2016-09-27 23:30] bprashanth opened #33617 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance]"
It hits the apiserver proxy on GKE, which fails with:
[code]

We could just not hit the apiserver proxy but create a service of type=lb instead. That is actually more representative of real world app usage, but the proxy issue seems specific to gke and ssh-tunnels.

[2016-09-27 23:30] hgfischer opened #33618 "Issue when using kubeadm with multiple network interfaces"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): fialed

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

*

[2016-09-27 23:31] spxtr commented on #33494
That one hasn't been switched to the new system yet. We will take care of that soon. In the meantime, note the aside in the comment:

[2016-09-27 23:38] janetkuo commented on #33588
This bug is general (can be found on get, apply, delete, ...). Should be somewhere in resource builder.

[2016-09-27 23:39] smarterclayton commented on #33588
Might be https://github.com/kubernetes/kubernetes/pull/23265

On Tue, Sep 27, 2016 at 7:20 PM, Janet Kuo <notifications@github.com> wrote:

[2016-09-27 23:40] jimmycuadra commented on #25379
Comment from chancez on Slack which helps with a workaround for the time being:

[2016-09-27 23:44] janetkuo commented on #33588
Confirmed - #23265 is the cause. @AdoHe would you take a look?

[2016-09-27 23:45] jimmycuadra commented on #11935
Once there is an official image for it, let's make sure the docs for the autoscaler mention where it is!

[2016-09-27 23:46] janetkuo commented on #33588
We may need to cherrypick the fix

[2016-09-27 23:48] janetkuo commented on #33522
@zilman did you mean replication controller or deployment?

[2016-09-27 23:52] zilman commented on #33522
@janetkuo sorry about faffing up the terminology there. I meant a replication controller.

[2016-09-27 23:54] sols1 commented on #27882
@gmarek If what you are saying is true, then k8s documentation should say clearly and directly that dead nodes must be removed manually in bare metal k8s clusters.

For DaemonSets this is a bug, isn't it?

[2016-09-28 00:10] nikhiljindal commented on #33612
We have 2 options:

* Use kubernetes Garbage Collector model; Or
* Let each controller delete the corresponding dependent objects; Or

# Garbage collector model
## How it works in kubernetes
There is a separate Garbage Collector controller whose job is to ensure that all dependent objects are deleted when the "owner" object is deleted.
It watches for all resources and if it finds an object for whi

[2016-09-28 00:12] nikhiljindal commented on #33612
Based on discussion with @caesarxuchao and @lavalamp, the second model seems better.

The second model is similar to how namespace deletion works in kubernetes.

[2016-09-28 00:20] smarterclayton commented on #33588
Yaml rules are separator must be at beginning of line, three dashes, and
new line.  Did we change how strict we were in that PR?

On Sep 27, 2016, at 7:46 PM, Janet Kuo <notifications@github.com> wrote:

We may need to cherrypick the fix

—
You are receiving this because you are on a team that was mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/

[2016-09-28 00:22] janetkuo commented on #33588
Yes, and the test was changed too (originally tests allow `---` with trailing spaces)

[2016-09-28 00:33] lavalamp commented on #33612
I think the second model is workable.

The first model seems to have dependencies going the wrong way at first
glance.

On Tue, Sep 27, 2016 at 5:12 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2016-09-28 00:34] chakri-nelluri commented on #32543
Talked to Tim. We want to give it a shot to bring it closer to Docker API. I will update the proposal.

[2016-09-28 00:34] MrHohn commented on #33494
Thanks for helping!

[2016-09-28 00:34] #33494 closed

[2016-09-28 00:39] quinton-hoole commented on #33612
Yes, agree. The second model seems much better/simpler/more reliable/less
prone to terrible failures.

On Tue, Sep 27, 2016 at 5:34 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-09-28 00:51] arun-gupta opened #33621 "Pod with resource quota not getting created"
Using Kubernetes 1.3.3, started cluster as:

[code]

Creating a pod using the following configuration file:

[code]

`kubectl` shows the pod as:

[code]

Creating the pod using the following configuration works:

[code]

Examples quoted at http://kubernetes.io/docs/admin/resourcequota/walkthrough/ refer to the files at `docs/admin/resourcequota/object-counts.yaml` but https://github.com/kubernetes

[2016-09-28 00:51] yifan-gu commented on #33526
@jonboulle Yes, the current docker implementation is the path 2. And according to @squeed https://github.com/coreos/rkt/pull/3239#issuecomment-249818386 , it will will be doable by rkt soon. So I guess the action we need to do is to clean up the `kubecontainer.Mount.Name`, either remove it, or make it unique for each container-path:host-path pair.

[2016-09-28 00:55] nikhiljindal opened #33622 "federation: Allow reading kubernetes resources from federation-apiserver"
Right now, federation-apiserver only returns federated resources (resources created in federation control plane). For ex: doing a GET `/api/v1/services` returns federated services. To get the corresponding services from underlying kubernetes clusters, clients need to talk directly to those clusters.
We want to enable clients to be able to get all resources (including the ones from underlying clust

[2016-09-28 01:00] k8s-merge-robot opened #33623 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot-release-1.4/290/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on {Kubernetes e2e suite}

[code]

Previous issues for this test: #33407

[2016-09-28 01:02] krmayankk commented on #23896
Does this cover the case of docker images specified in the deployment spec to come from a template ? It would be sweet to have the docker image come from the config map

[2016-09-28 01:06] vishh commented on #33299
Ping @mtaufen on the quota issues.

On Tue, Sep 27, 2016 at 4:14 PM, Prashanth B <notifications@github.com>
wrote:

[2016-09-28 01:07] bprashanth commented on #33299
I've already bumped them, they're waiting for approval

[2016-09-28 01:10] nikhiljindal commented on #33622
Some options:

* Add a new group version in federation-apiserver that clients will use to fetch kubernetes resources
* Add options (ListOptions, GetOptions) and use them to determine which resources to return. By default GET `/api/v1/services` will return federated services. GET `/api/v1/services` with ListOptions.ClusterSelector for all kubernetes clusters will return services from those underlyi

[2016-09-28 01:10] nikhiljindal commented on #33622
cc @kubernetes/sig-api-machinery

[2016-09-28 01:11] bprashanth commented on #33617
@kubernetes/sig-testing fyi recent spike in failures on pr builders from this

[2016-09-28 01:22] k8s-merge-robot opened #33624 "kubernetes-e2e-gci-gke-pre-release: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-pre-release/218/

Run so broken it didn't make JUnit output!

[2016-09-28 01:25] dalanlan commented on #23241
Seems that we've got a brand new way to bootstrap a kubernetes cluster in v1.4. Let's move on folks!

[2016-09-28 01:31] bprashanth opened #33625 "Esipp transition plan"
Alpha to beta (1.5):
- Declare 2 sets of annotations, one in the alpha namespace (already exists) and one in the beta namespace (new)
- alpha always takes precedence
- If alpha is set to a valid value, we write the beta annotation to mirror it clobbering any user field

Why convert alpha to beta:
1. Users are auto transitioned
2. Not converting means if alpha and beta are set to 2 different values

[2016-09-28 01:51] harryge00 commented on #33470
We encountered the same problem when we tried to set up a hbase cluster.  Hbase regionServers will register themselves to a zookeeper Master through its hostname registered in ZooKeeper. So reverse DNS from Pod IP to pod's hostname is needed.

[2016-09-28 01:53] TamalSaha commented on #33470
cc: @smarterclayton @thockin

[2016-09-28 01:55] bprashanth commented on #33625
Well the easier option is to just document that setting the alpha annotation and beta annotation to different values is unsupported, and simply honor the older annotation.

This makes dropping the annotation harder.
It also means we have to keep checking for divergent values in code.

[2016-09-28 02:08] justinsb commented on #23142
I am planning on creating a debian image with a custom kernel for 1.4, which will include CONFIG_CFS_BANDWIDTH=y.

Thanks for pointing this out!

[2016-09-28 02:09] justinsb commented on #33594
I had a look, and I think this is actually #23142, and that gives the magic config option that is needed.  And it is already in the config for the kernel I am working on: https://github.com/kopeio/kubernetes-kernel

[2016-09-28 02:28] caesarxuchao commented on #33612
Some notes from our offline discussion: the k8s garbage collector is designed to handle dependencies among arbitrary resources. In the current federation use cases, the dependency is between an federation object and its k8s counterpart, so a generic garbage collector is an overkill. The second model is much easier, and the deletion logic spread in each controller is manageable.

[2016-09-28 02:35] caesarxuchao commented on #33611
Other occurrences: https://github.com/kubernetes/kubernetes/pull/33595#issuecomment-249993078
https://github.com/kubernetes/kubernetes/pull/32434#issuecomment-250006257

[2016-09-28 02:42] k8s-merge-robot opened #33627 "[k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/292/

Failed: [k8s.io] Downward API volume should update labels on modification [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28416 #31055

[2016-09-28 02:59] bgrant0607 commented on #29229
Note that the node controller already had to deal with this. IIRC, it didn't actually use the timestamps in the condition, but started its own timers when observing transitions.

[2016-09-28 03:30] #26080 closed

[2016-09-28 04:08] k8s-merge-robot opened #33631 "[k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/588/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-28 05:09] TamalSaha opened #33634 "Support regex in User names for ABAC authorization"
We are using client certs for authentication. So, it seems that we can only specify username. When used in conjunction with ABAC in 1.4, we are restricted to a pre-defined list of users or any user \* . It will be great if regex can be supported in User name matching. Assuming client certs are issued with CommanName in proper format via an external process, we can easily add new users to a running

[2016-09-28 05:28] thockin commented on #32550
For things like GKE, I'm thinking we need to find some way for the master
to find the "master driver" via a kube service, rather than assuming
localhost.  Much more complex.  Phase 2.

On Tue, Sep 27, 2016 at 3:55 PM, Chakravarthy Nelluri <
notifications@github.com> wrote:

[2016-09-28 05:38] fejta commented on #33599
not test infra

[2016-09-28 05:38] #33599 closed

[2016-09-28 05:39] fejta commented on #33524
not test infra

[2016-09-28 05:39] #33524 closed

[2016-09-28 05:44] fejta commented on #33597
not test infra

[2016-09-28 05:44] #33597 closed

[2016-09-28 05:54] wojtek-t commented on #33459
@gmarek - it seems to me that all of these are actually https://github.com/kubernetes/kubernetes/issues/33557, but can you please take a look into it (and probably also that bug)

[2016-09-28 05:58] #31127 closed

[2016-09-28 06:25] luxas commented on #33618
No, kubernetes isn't listening to all interfaces by default. It picks the interface with the default gateway and listens to that. Use `--api-advertise-addresses=<the eth1 ip addr>` on `kubeadm init` in order to use the host-only interface.

cc @kubernetes/sig-cluster-lifecycle

[2016-09-28 06:47] DaspawnW commented on #33544
Can't disable SELinux, it is not installed tells the ubuntu...

[2016-09-28 06:48] k8s-merge-robot opened #33636 "[k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook when it is http hook should execute poststart http hook properly {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/9733/

Failed: [k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook when it is http hook should execute poststart http hook properly {E2eNode Suite}

[code]

[2016-09-28 06:58] luxas commented on #33544
This only affects CentOS and Fedora, Ubuntu doesn't have this issue

[2016-09-28 07:03] DaspawnW commented on #33544
won't work anymore on ubuntu. After using the updated manual on kubernetes.io the System hangs on the same point:
[code]

But the apiserver log changed:
[code]

[2016-09-28 07:07] wojtek-t commented on #33557
@bradfitz - thanks for comments. So I have one more question. Assuming that we create few different clients in the test, will it also fix the problem?

To be honest, I wouldn't like to change the concurrency in test. However, introducing multiple clients in the test, (so that not all requests are being send from the same one) seems perfectly fine - it would probably simulate more what users are ac

[2016-09-28 07:45] wojtek-t commented on #20504
I have just pushed the new image:
[code]

This contains 3.0.10 etcd release binaries, though I added "experimental.1" on purpose, since will probably want to expand the logic of the image on our side to handle migration. At the same time, we woudl like to enable some testing already.

@timothysc ^^

[2016-09-28 08:07] errordeveloper commented on #33544
@DaspawnW thanks for reporting this. There is no SELinux on Ubuntu, but there is AppArmour (which is somewhat similar, but different). In any case, please open another issue. It'd help a lot if you could attach any extra information on how we could reproduce it, and perhaps output of `docker ps` as well as `journalctl -u kubelet` for the start.

[2016-09-28 08:10] errordeveloper commented on #33530
Currently `kubeadm` uses label `kubeadm.alpha.kubernetes.io/rolemaster` and taint `dedicated=master:NoSchedule`.

[2016-09-28 08:11] errordeveloper commented on #33533
Yes, this would be great. Role label in `kubectl get nodes -o wide` would be very convenient, I think.

[2016-09-28 08:18] errordeveloper commented on #33473
There isn't a kubeadm-based Vagrantfile, but it can be done fairly easily. If you would like to work on this, it's probably best to develop the solution externally at this point. It'd be nice to have an official project, may be we need Vagrant plugin rather then just a Vagarantfile (or pre-baked box). Also, you might like to take a look at minikube, if you haven't yet.

[2016-09-28 08:20] errordeveloper commented on #33530
Also, we have `CriticalAddonsOnly` taint key in `/cluster`, and I pretty sure it's a red herring.

[2016-09-28 08:21] argusua commented on #29324
Hi @jingxu97 , It is AWS. Log attached.
[syslog.1.gz](https://github.com/kubernetes/kubernetes/files/497443/syslog.1.gz)

[2016-09-28 08:22] errordeveloper commented on #22770
@kubernetes/sig-cluster-lifecycle could this be a low-hanging fruit for 1.5?

[2016-09-28 08:34] errordeveloper opened #33638 "kubeadm should have flags to bind to different ports and addresses"
Right now we bind `kube-apiserver` to `0.0.0.0:443` and `kube-discovery` to `0.0.0.0:9898`. We need to allow users to:

- override both ports separately (and may be change the default from 443 to 6443 or something)
- override bind address if they wish to make it more secure (_we must keep default as is for now, as we would break external accessibility if we do that_ and _it's also what `kube-apise