[2016-01-12 23:30] shuowusc commented on #15817
Any update on this?

[2016-01-12 23:30] spxtr commented on #18704
Oops, you're right.

[2016-01-12 23:43] derekwaynecarr commented on #12744
Correc, #18724 is about OOR and not rescheduling.

On Tuesday, January 12, 2016, David Oppenheimer <notifications@github.com>
wrote:

[2016-01-12 23:48] timstclair commented on #18704
Cause of http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10329/ is the container that was not supposed to restart crashed:
[code]
From what I can tell, it was just a transient container failure, but without more data I can't tell what caused it. I'll look into it again the next time this occurs.

[2016-01-12 23:53] vishh commented on #19341
Were you able to parse the goroutines and see what kinds of goroutines we
spawn?

On Tue, Jan 12, 2016 at 12:55 PM, Timothy St. Clair <
notifications@github.com> wrote:

[2016-01-12 23:56] vishh commented on #19519
I'm working on a patch to simply image management and as part of that I was
planning on proposing deleting all unused images whenever there is disk
pressure.
Tracking image specific disk usage is very tricky given that we use overlay
filesystems and the current implementation uses virtual size which is
incorrect.

Any objections?

On Mon, Jan 11, 2016 at 5:56 PM, Yu-Ju Hong <notifications@github.c

[2016-01-13 00:01] thockin commented on #19565
`--log-level` is a flag to the docker daemon, not to any container instance.  The container manifests are individual instances, so this does not map.

[2016-01-13 00:01] #19565 closed

[2016-01-13 00:02] yujuhong commented on #19571
I think we want to do this by default (see #8347) and may not provide a knob to turn it off.

[2016-01-13 00:03] #17263 closed

[2016-01-13 00:05] lavalamp opened #19574 "Flake: EmptyDir volumes should support (non-root,0644,tmpfs)"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/10329

[code]

[2016-01-13 00:08] smarterclayton opened #19575 "Proposal: Allow easy secret manipulation from string data"
Secrets today have schema `Data map[string][]byte json:"data,omit empty"`.  The end result is a base64 string in JSON, which is hard to work with as a normal client on the cli.  It should be possible to pass string values for the data that are transformed into `[]byte`.  Since v2 is far away, this should be backwards compatible.
### Proposal

Add a new `StringData map[string]string` with json iden

[2016-01-13 00:09] lavalamp commented on #19574
@dchen1107 can you find an owner?

[2016-01-13 00:20] lavalamp commented on #19562
The node controller does that if the node is not reporting in frequently enough. Your node believes it's phoning home, and in fact it is phoning home (or you wouldn't observe them fighting). Most likely, something is wrong on your node. It's hard to say more without more logs.

[2016-01-13 00:22] lavalamp commented on #19563
If I understand correctly, this just sounds like a bug. I would not expect node controller to eject DaemonSet pods from down nodes? @davidopp

[2016-01-13 00:23] lavalamp commented on #19564
lease re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see message

[2016-01-13 00:23] #19564 closed

[2016-01-13 00:25] lavalamp commented on #19570
@karlkfi is reworking componentstatus, it's not obvious how to fix this assumption in the meantime.

[2016-01-13 00:27] lavalamp commented on #19526
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-13 00:27] #19526 closed

[2016-01-13 00:30] nikhiljindal commented on #19273
Thanks. Will move registered to `pkg/apimachinery`. Related: https://github.com/kubernetes/kubernetes/issues/19275

@smarterclayton How about moving `pkg/api/rest` to `pkg/apimachinery/rest`? We want that `pkg/genericapiserver` and untyped clients should not depend on `pkg/api`.

[2016-01-13 00:40] yujuhong commented on #19341
@timothysc, I think we still need to understand why cadvisor spawns more goroutine for your cluster than mine, suppose we both use the default parameters.

[2016-01-13 00:49] erictune commented on #18527
@ncdc are you asking for an automatic conversion from `extensions/v1beta1/horizontalpodautoscaler` to `extensions/v1/horizontalpodautoscaler`?  That doesn't help if we change status?  Or are you asking for the new status object to have the same info in two places?

[2016-01-13 00:49] caesarxuchao commented on #19273
I've discussed with @nikhiljindal. Our concern is that might cause a lot of development overhead. E.g., a developer who wants to change an interface in tools will need to submit PRs to all three repositories.

[2016-01-13 00:59] erictune commented on #16500
@lavalamp I'm trying to determine if fixing this bug might require a change to the API, and thus if this needs to be fixed (or at least a fix planned) before HPA goes to GA. What do you think.

[2016-01-13 01:11] stepanstipl commented on #19570
Thanks for info, not a big deal, just spent some time worried that my cluster is not working before I discovered that this was the problem... I would like to help, just not sure how with this...?

Maybe a bit of info about my setup: I'm running 3 api servers on AWS behind ELB and using podmaster service to control which of them runs scheduler and controller-manager, pretty much what's in HA guide.

[2016-01-13 01:13] erictune commented on #18528
I reviewed these issues with @mwielgus just now.

The following issues we need to discuss further to see if they are required for GA:

- [ ] #16734
- [ ] #16732
- [ ] #16500

For all other issues mentioned above, they are either closed or we determined they are not a requirement for GA because fixing them does not require an API change, and they are not so severe as to block GA.

[2016-01-13 01:20] saad-ali commented on #19574
This appears to be a dupe of https://github.com/kubernetes/kubernetes/issues/19491, the root cause of that issue was GKE "tunnel flakiness".

I will assign this to @cjcullen for triage.

CC @ihmccreery

[2016-01-13 01:27] nikhiljindal commented on #19521
fwiw, there is a Convert_v1_ResourceList_To_api_ResourceList but not the other way round, which is a bug.

Re: DeploymentStrategy, I see both autoConvert_extensions_DeploymentStrategy_To_v1beta1_DeploymentStrategy and Convert_extensions_DeploymentStrategy_To_v1beta1_DeploymentStrategy, which is again a bug.

It seems to be that there are valid bugs for each of these warnings.

[2016-01-13 01:28] erictune commented on #6099
Might be due to kubelet using docker labels differently?  @kubernetes/goog-node might know.

[2016-01-13 01:32] dchen1107 commented on #19477
cc/ @ArtfulCoder This looks like the issue I ran into a while back, but never could reproduce it. cc/ @thockin

@2opremio Can you run 'docker info', and copy&paste of the result here. Can you also do "docker ps -a" and check how many are running and how many have exited. One possible issue of Kubelet might have which causes this leakage is that Kubelet failed to recycle POD infra container holding

[2016-01-13 01:33] cjcullen commented on #19574
Similar-looking test as the ones failing in #19491, but not the same root cause. That error was failing to get logs. This one is timing out waiting for a pod to become ready.

[code]

[2016-01-13 01:35] cjcullen commented on #19574
In the failed run linked above, it ran right after "validates resource limits of pods that are allowed to run [Conformance]" which saturates resource limits to verify that no more pods are scheduled. That sounds suspicious...

[2016-01-13 01:42] smarterclayton commented on #19273
pkg/genericapiserver/rest is fine - the package dependencies can go either
way.  I'm not a fan of api machinery as a package name - I'd prefer we come
up with something better before we start sticking stuff under it.

On Tue, Jan 12, 2016 at 7:50 PM, Chao Xu <notifications@github.com> wrote:

[2016-01-13 01:48] Random-Liu commented on #18302
Steps for removing `runningPod`:
- [x] Remove `runningPod` from runtime `SyncPod()`
- [ ] Stop using `runningPod` in rkt, now I just convert podStatus to runningPod.
- [ ] Stop using `runningPod` in `KillPod()` of container runtime. [Rely on pod cache #17700]
- [ ] Stop using `runningPod` in `syncPod()` of kubelet.go. [Rely on 2)]
- [ ] Pass podStatus into `syncPod()` of kubelet.go. [Rely on 3)]

[2016-01-13 01:50] timothysc commented on #19341
@yujuhong Yup, I'm digging into that part now.

[2016-01-13 02:06] bprashanth commented on #19508
Yep, @dcbw fyi. I had to work around this in my (now obselete) pr: https://github.com/bprashanth/kubernetes/commit/118de18bf5669eb7a024ccc76ffd1b22faa20cf4

[2016-01-13 02:17] ncdc commented on #19230
Proposed spdystream fix: https://github.com/docker/spdystream/pull/64

[2016-01-13 02:18] ncdc commented on #19466
@gmarek are there other goroutines running? Is there any more context from the test output?

[2016-01-13 02:18] 2opremio commented on #19477
Sure:

[code]

BTW, am running k8s in AWS using a setup very similar to the one create wtih https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/aws.md

As I mentioned above, I cleaned the _Exited_ containers  with `sudo docker ps -a | grep Exit | cut -d ' ' -f 1 | xargs sudo docker rm`.

Before doing this, there were a lot of them in _Exited_ state due to the kubelet r

[2016-01-13 02:32] HardySimpson opened #19583 "Find a bug here ?"
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/thread_safe_store.go#L246

the `indices` here is initialize with a new `Indices{}`, not from function param `indices Indices` at line 242 ?

[2016-01-13 02:44] ncdc commented on #18527
@erictune I want to make sure we retain backwards compatibility when using `extensions/v1beta1/horizontalpodautoscaler`; i.e., don't rename fields, don't delete fields.

[2016-01-13 02:55] resouer commented on #17196
#18248 is in , I will write a priority considering data locality of image

[2016-01-13 02:59] timstclair commented on #19432
cAdvisor flag survey is up here: http://goo.gl/forms/NkAtiD4RXx

[2016-01-13 04:02] magicwang-cn commented on #18266
@lavalamp @smarterclayton @xiang90 @HardySimpson
i think i find the root cause:
**its the list-watch mechanism in k8s that cause the etcd problem.**
there has a watch cache in kube-apiserver, default cache is 1000. and k8s use resourceVersion to keep the top 1000 newest version resources(`pod, node and service.. `),  so if the pods is larger(`maybe more than 12000`), the watch cache can not keep a

[2016-01-13 04:06] xiang90 commented on #18266
@magicwang-cn Why there is no significant increase of read rate showed on the graph you pulled from prometheus?

[2016-01-13 04:30] hongchaodeng commented on #18266
@magicwang-cn

That sounds interesting. Can you share any evidence you found? Any traces, logs, or profs?

[2016-01-13 04:52] mikedanese commented on #19583
Yup that looks incorrect. Care to send a PR to fix?

[2016-01-13 04:56] AdoHe commented on #19523
@tomdee you should look at the kubelet log, 10009 calls to CNI plugin, you know which method of CNI plugin get called?

[2016-01-13 04:59] mikedanese commented on #19563
@mml is working on this. It' not implemented yet. It's the "Implicit forgiveness" point in DaemonSet gradutation requirements #15310

[2016-01-13 05:02] mikedanese commented on #19563
This is fixed by #19567

[2016-01-13 05:07] smarterclayton commented on #19483
Will fix this after #19426 gets merged

[2016-01-13 05:10] smarterclayton commented on #18605
Fixed

[2016-01-13 05:10] #18605 closed

[2016-01-13 05:10] smarterclayton commented on #17350
I think this is fixed.

[2016-01-13 05:10] #17350 closed

[2016-01-13 05:13] smarterclayton commented on #15672
I think this is done now.

[2016-01-13 05:13] #15672 closed

[2016-01-13 05:14] danielschonfeld commented on #19562
@lavalamp tell me what logs specifically and i'd be happy to post.

I've checked kubelet on that node and during the time from when it started being recognized on master is not phoning home frequently enough it continued about its normal operations... at some point kibe-controller-manager (KCM) decided that because of the lack of heartbeats, it should remove some pods from that node.  It marked th

[2016-01-13 05:16] bgrant0607 commented on #19080
Ref https://issues.apache.org/jira/browse/MESOS-2728

[2016-01-13 05:28] bgrant0607 commented on #19501
@brendandburns Scenario: kubectl gets updated and adds the export parameter to requests. However, the user's cluster hasn't been upgraded and doesn't know about the parameter.

Discussed in #5889 and #4855.

I don't see a compelling reason why we should apply different policies to query params than to the json schema. We should validate both or neither.

[2016-01-13 05:44] cheyang opened #19587 "Issues of Installing External Load Balancer with kube-proxy"
Hi,
We are working on creating a k8s cluster in our production environment, and investigating how to setup external load balancer for  it so external system can access it. Here is the architecture.

![kube cluster diagram](https://raw.githubusercontent.com/cheyang/kubernetes_cd/master/kube-cluster.png)

We installed the kube-proxy/flannel/haproxy in the same machine to make it routable to Service

[2016-01-13 06:32] sttts opened #19589 "Pods with failed volume mount show ImageNotReady"
An example pod:
[code]

[2016-01-13 06:38] luxas commented on #19227
@fgrzadkowski And BTW, could #17213 be merged before you do that?

Otherwise we'll have kind of the same problems again (with no `serviceAccount` support for `docker-multinode`)

[2016-01-13 06:40] erez-rabih commented on #19138
I am running the cluster on AWS.
It was setup by:
[code]

[2016-01-13 06:44] gmarek commented on #18266
@magicwang-cn - your theory is interesting. cc @wojtek-t to see if he has some thoughts. I'm not convinced it is the case, because we're not running into this problem in our 1000 node clusters. Indeed at some point we saw 'too old resource version' errors but it stopped before we managed to find a root cause. We do expose a lot of prometheus metrics for cache-hits, and various etcd ones, so if the

[2016-01-13 07:05] mqliang opened #19591 "Replicas is type int, but comment says it should be a pointer"
see:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L206-L208

Should we correct the comment, or make `Replicas` type as *int?

[2016-01-13 07:44] magicwang-cn commented on #18266
@xiang90
because the increase of read keeps not long duration, the problem happen

@xiang90 @gmarek @davidopp @lavalamp
**etcd graph:**
![etcd_13_delete](https://cloud.githubusercontent.com/assets/7587313/12288121/536a95e0-ba0c-11e5-92e3-6b05a113c499.png)
![etcd_13_reads](https://cloud.githubusercontent.com/assets/7587313/12288122/536b3e6e-ba0c-11e5-9a80-480ed717f374.png)
![etcd_13_watch](https://

[2016-01-13 07:48] Toplife opened #19592 "Cluster Level Logging with Elasticsearch and Kibana"
How to setup?
when I run "cluster/kube-up.sh"
look like can not working...

[2016-01-13 08:09] qiujian16 commented on #19529
+1 for this feature

[2016-01-13 08:25] gmarek commented on #18266
@magicwang-cn version from head with etcd v2.2.1. We're running only density tests though, so there's not a lot of deletes in there. Running load.go test on a big cluster is on my todo list for quite some time...

[2016-01-13 08:31] magicwang-cn commented on #18266
@gmarek
hmm.. i am also just running density tests(`with etcd v2.2.2`), when the test is over, it will scale rc's Replicas=0, then the deleting happens. what's more, sometimes in the process of deploying pods(`create-> schedule->running`) will also has this problem.

[2016-01-13 08:33] gmarek commented on #19466
[code]

[2016-01-13 08:44] gmarek commented on #18266
We're not scaling RC's - we just delete namespace, which in turn deletes everything under it. The error we were seeing was during deployment.

I'd be great if you could run experiment with increased cache size, so we would be able to compare results.

[2016-01-13 08:44] HardySimpson commented on #19583
Don't care, please come on

[2016-01-13 08:49] magicwang-cn commented on #18266
OK, i know. i have increase pods's watch size from 1000 to 10000, and the problem is avoided. and the apiserver's max memory use is up to ~28%(`8 cpu and 16G`)

[2016-01-13 08:55] gmarek commented on #18266
Looks good. If you send a PR I can review it.

[2016-01-13 08:58] magicwang-cn commented on #18266
is it necessary to make the watch cache size as a param of kube-apiserver? for example(`--watch-cache-sizes=[pods#10000,nodes#1000]`)

[2016-01-13 09:01] gmarek commented on #18266
It'd be good, as in small clusters with small master machines we probably can't spare memory to keep 10k pods.

[2016-01-13 09:02] magicwang-cn commented on #18266
well. l will send a PR later.

[2016-01-13 09:11] gmarek commented on #18266
Thanks!

[2016-01-13 09:15] adieu opened #19593 "nfs example doesn't work in coreos based cluster"
I was trying to setup the nfs example in my coreos based cluster and I found `nfs-busybox` and `nfs-web` pods would fail to start due to errors mounting volumes from `nfs-server`.

After some debugging, I found the error message `exportfs: /exports does not support NFS export` in `docker logs NFS_SERVER_CONTAINER_ID` and confirmed the nfs server didn't provide `/exports` as a share as it should be

[2016-01-13 09:31] jsafrane commented on #19549
The tests are skipped because they require user space tools for various volumes on all nodes in the cluster (e.g. /sbin/mount.nfs, /bin/rbd etc).

AFAIK, privileged containers are now enabled in e2e tests by default.

[2016-01-13 09:37] #17372 closed

[2016-01-13 09:38] jakubkulhan commented on #12273
+1

[2016-01-13 10:12] kristofferpeterhansel commented on #18975
Yeah. We the same problem where it is very obviously running out of memory and becomes unresponsive since it cannot swap.

I've been looking at some sort of information on what the expected memory usage is supposed to be. But haven't found any information on it. Are there any thoughts from the team if this is simply too small a machine to run it on?

[2016-01-13 10:39] piosz commented on #19189
Test `each node by dropping all inbound packets for a while and ensure they function afterwards` failed again.
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-reboot/10404/

I'll try to take a look into the problems with influxdb

@mwielgus

[2016-01-13 11:06] wojtek-t commented on #19521
But it's not correctness bug. Event if there is no such method generated, conversion will be done using reflection, which is a generic mechanism and will work. So this is probably a bug in conversion generator, but not a bug from the system perspective.

[2016-01-13 11:15] fgrzadkowski commented on #19227
I'm on paternity leave until 24th of Jan. I won't be able to work on this
until then. Sorry for that...

Maybe Isaac can help?

-- sent from a mobile device
13 sty 2016 07:39 "Lucas Käldström" <notifications@github.com> napisał(a):

[2016-01-13 11:21] Pensu commented on #19583
@mikedanese Sould I send a PR regarding this?

[2016-01-13 11:36] piosz commented on #12765
The test hasn't failed for last 30 runs, although there is still an issue. Decreasing the priority.

[2016-01-13 12:03] wojtek-t commented on #19548
I'm on  paternity leave now.

For me this test doesn't make sense - this is part of Density test basically. What we should do is to refactor Density test and allow running Latency test as Density with "--empty-cluster" flag (or sth like that).

[2016-01-13 12:07] wojtek-t commented on #19525
This definitely looks like a bug.
Unfortnately I'm on paternity leave now, so I'm not able to debug it myself...

[2016-01-13 12:20] gmarek commented on #19548
There's already a runLatencyTest "flag" in list of density tests. We just need to expose it. @ihmccreery please assign a priority for this.

[2016-01-13 12:21] ashishvyas commented on #3760
@thockin, otehrs, as per https://github.com/kubernetes/kubernetes/issues/3760#issuecomment-150743158, I did the annotation, but as rightly mentioned, external client IP is still not seen by app sitting in a container.

How to achieve this i.e. get the external client IP? In my setup, there is no external LB, the service is exposed as nodeport and client is making plain TCP (not http/ Websocket) co

[2016-01-13 12:23] wojtek-t commented on #19548
We need something different. There is a flag whether to run latency test in Density. But if we run it, it will be run in full cluster. Latency test runs in in empty cluster. So we need another flag.

[2016-01-13 12:53] gmarek commented on #19548
Do you believe that we want to run lantency test in empty clusters? I can add this easily enough, I'm just not sure it's worth the effort.

[2016-01-13 13:38] mqliang opened #19595 "There are many (u)int types in our API."
But I notice there are may `(u)int` types, for example, should we replace all the `(u)int` as `(u)int32`?

BTW, what does the `Internal types` mean if I ask?

[2016-01-13 13:44] hir3npatel commented on #19480
It might be good enough, I could try it and see. It would involve changes to hyperkube I take it? Can you point me to what does the iptables rules and where it lives, I would be happy to attempt it.

[2016-01-13 13:57] mattf commented on #15817
if anyone is interested in this i encourage them to come discuss with the @kubernetes/sig-big-data (hangout 4pm et on mondays, #sig-big-data on slack.k8s.io)

currently flink isn't in the sig's plan, but there are members who would be willing to assist/guide.

[2016-01-13 14:24] kayrus commented on #19332
I helped @ramonrue to resolve the issue. Partly it was caused by incorrect flannel configuration (which was caused by incorrect etcd configuration). Containers in cluster were not able to see each other using overlay network.

The main reason was incorrect token. I've noticed this error message in apiserver logs:

[code]

And `kube2sky` was not able to connect to the k8s apiserver because of inval

[2016-01-13 14:30] wojtek-t commented on #19548
For me adding this test was a bad idea. But some gues wanted to have it - we need to ask them what was the motivation.

[2016-01-13 14:33] majewsky opened #19596 "mismatched types in an fmt.Errorf instance"
Just a small papercut: https://github.com/kubernetes/kubernetes/blob/9fda7f181299e49dd5f28405952ee76821eab74c/pkg/kubectl/rolling_updater.go#L408

[code]

The last argument should be `controller.Spec.Replicas` to match the format verb `%d`. I would do a PR, but getting the corporate CLA signed is much too time-consuming, compared to the size of this issue.

[2016-01-13 15:10] #19332 closed

[2016-01-13 15:14] ShadySQL opened #19598 "Unknown address space"
Upon deploying a new cluster to Azure - I noticed that the subscription was wrong so I killed the deployment. Now I changed the default subscription and ready to deploy once again but get this error:
## writing new private key to './output/kube_b523cd7be6617f_ssh.key'

  error: unknown option `--address-space'

azure_wrapper/fail: Exiting due to an error.
azure_wrapper/info: Saved state into `./ou

[2016-01-13 15:52] tj13 opened #19601 "API server failed to start up"
tried to config one master node following the guide (http://kubernetes.io/v1.1/docs/getting-started-guides/docker-multinode.html#master-node)
script master.sh ran successfully, but the api server failed to boot up.

Software Version:
+ K8S_VERSION=1.1.3
+ ETCD_VERSION=2.2.1
+ FLANNEL_VERSION=0.5.5

OS Version:

VERSION="2015.09"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2015.09"
PRETTY_NAME="Ama

[2016-01-13 15:54] bprashanth commented on #19523
I'm guessing `CNI_COMMAND=DEL`

[2016-01-13 16:00] mikedanese commented on #3760
@ashishvyas what ver of kube-proxy are you running?

[2016-01-13 16:07] jsafrane opened #19602 "Cinder volume is detached from running pod."
There is a race between detaching a volume when an old pod is being destroyed and attaching the same volume to a new pod on the same node:

1. pod A happily uses a volume
2. pod A is deleted (and kubelet starts to clean up the stuff)
3. pod B starts, with the same volume (and kubelet starts to set it up...)

At this point, the volume is still attached to the node, kubelet is really slow when destr

[2016-01-13 16:10] smarterclayton opened #19603 "Stop using bufio.Scanner in kubernetes/pkg/util/yaml"
We're using bufio.Scanner to split YAML documents in `pkg/util/yaml`, but bufio.Scanner cannot handle lines longer than 64KB (you'll get "bufio.Scanner: token too long").  This prevents commands that output in YAML as lists of items to output from working correctly in a pipe if any line is >64KB.

The splitter should use a custom scanner that walks lines (we can safely ignore any line >64KB anyway

[2016-01-13 16:14] jayunit100 opened #19604 "E2E Libraryzation: More extensibility, possibly refactor testContext."
**\* UPDATE **\* The original issue definition is obsolete.  I think the priority should be centering the E2E Test run functionality around testContext.

**\* ORIGINAL ISSUE **\*
(Pauls idea, im rephrasing, correct if im missing anything) Right now, cloudConfig, reportDir, and PhodStartupTimeout are all hidden inside e2e.go (pending merge of 19476).  We'd like to make this one more step of modular

[2016-01-13 16:14] jayunit100 commented on #19604
cc @pmorie.

[2016-01-13 16:17] sijnc commented on #19530
@mikedanese That makes sense and that you for explaining why GKE works this way.

[2016-01-13 16:42] bloo commented on #19561
@deads2k thanks for the info. my terminal is substituting `~` properly in every other instance though, which is strange. I'll go fwd with *1*

[2016-01-13 16:50] smarterclayton commented on #16076
We may also be letting selfLink get set down into etcd.  That's also inconsistent (in the event the same resource is exposed via multiple paths, two clients can fight over which object they're updating).

[2016-01-13 16:56] brendandburns commented on #19501
@bgrant0607 agree, but at this point `kubectl` validates by default, right?

[2016-01-13 17:15] #19583 closed

[2016-01-13 17:38] jayunit100 commented on #19604
- After thinking some more, `SetTestContext` should be able to manage this for us.
- Maybe the cmd line setter impl is flawed by design: It should be createing a struct, not modifying a global variable.   If that part was cleaned up, the extensibility would be natrual rather than imposed externally.
- that is, Im actually wondering, should testContext be a global variable, at all ?

[2016-01-13 17:38] yifan-gu commented on #12273
FWIW, kube-up with gce coreos is WIP https://github.com/kubernetes/kubernetes/pull/17243

[2016-01-13 17:39] timothysc commented on #19525
I'll take a look later today or tomorrow at this point.

[2016-01-13 17:58] bprashanth commented on #19477
This is most likely a docker issue fixed in 1.9, I can repro on 1.8 quite easily with:
[code]
If I had to guess I'd say it's somthing to do with hitting 255 and wrapping around to 245.1.0, when the bridge is offset by one. Since 1.8 they seem to have changed their ip allocation policy to reuse ips as they're released.

Yeah, it's related to the hostport.

In any case when to move to using CNI's br

[2016-01-13 18:00] bgrant0607 commented on #19501
@brendandburns Yes, but it's optional and can be turned off. Also, since validation is in the client, a newer client will still work with an older apiserver.

[2016-01-13 18:04] ihmccreery commented on #19548
As long as we're talking about density, note that I also opened #19542 about "Density [Skipped]".

[2016-01-13 18:05] thockin commented on #19595
internal types are types that are not exposed in the API and are not
serialized.

Most of the remaining `int` fields are in places where the actual width is
so much smaller than int's limitations that it doesn't matter.  e.g. port
numbers are 0-65535, so it doesn't really matter whether int is 32 bits or
64.  That said, making those explicit is probably reasonable, but not
urgent.

On Wed, Jan 13,

[2016-01-13 18:06] ihmccreery commented on #19549
@jsafrane does that mean we expect these tests to pass on a "standard" cluster, or do the user space tools block that?

[2016-01-13 18:13] lavalamp commented on #18266
Excess lists is possibly a symptom of some component not keeping up with a watch. E.g., at one point there was a queue of watch results in apiserver that would back up. The fact that increasing the watch window size works, implies to me that perhaps kubelet has a similar problem.

[2016-01-13 18:14] ashishvyas commented on #3760
I am running v1.1.3

[2016-01-13 18:17] thockin commented on #19591
This is maybe touching on the difference between internal API and versioned
APIs.

For the versioned type (
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/types.go#L195)
you can see we use a pointer.  This is important because it makes the
optional-ness clear, but it is REQUIRED here because the API-defined
default value is 1, which is NOT what Go will do if the f

[2016-01-13 18:18] lavalamp commented on #19587
@thockin, I think this is up your alley.

[2016-01-13 18:18] dchen1107 commented on #19589
@sttts Can you post the related kubelet log somewhere so that we can take a look? Not sure about why volume mount failed here, but obviously the pending reason is misleading and we should fix. @saad-ali too.

[2016-01-13 18:20] lavalamp commented on #19592
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-13 18:20] #19592 closed

[2016-01-13 18:22] thockin commented on #19587
2 things.

First: kube-proxy and kubelet are totally independent.  That error is not an error, if it is the error I think it is.

Second: You should not need kube-proxy at all.  Start with https://github.com/kubernetes/contrib/tree/master/service-loadbalancer and maybe expand to https://github.com/kubernetes/contrib/tree/master/Ingress as a more integrated model.

@bprashanth

[2016-01-13 18:23] dchen1107 commented on #19571
@dustymabe  Can you share more on your usecases on why keeping dead containers of deleted pods around?

[2016-01-13 18:25] mikedanese commented on #3760
Follow the directions in https://github.com/kubernetes/kubernetes/issues/3760#issuecomment-143280584 and https://github.com/kubernetes/kubernetes/issues/3760#issuecomment-150743158 but instead of using the annotation named `net.beta.kubernetes.io/proxy-mode`, use the annotation named `net.experimental.kubernetes.io/proxy-mode`.

[code]

You should see log statements in the beginning of the kube-pr

[2016-01-13 18:28] thockin commented on #19508
Can we peel that piece out of one of the PRs and get it in?

[2016-01-13 18:31] dustymabe commented on #19571
@yujuhong. I don't necessarily have a use case that warrants keeping dead containers around of deleted pods (my desire by opening this issue is to make it so that they will get cleaned up). That being said, changing functionality on people is not the best thing to do when you don't provide a way to go back (via config).

Since we don't currently clean them up then I would prefer giving the user an

[2016-01-13 18:43] yujuhong commented on #19432
Could we send this to a broader audience such as the mailing list?

[2016-01-13 18:59] bprashanth commented on #19587
You can apply whatever loadbalancing algorithm directly to the endpoints of your service through  service-loadbalancer (and set the algorithm via: https://github.com/kubernetes/contrib/blob/master/service-loadbalancer/service_loadbalancer.go#L73), no NAT.

[2016-01-13 19:09] bprashanth commented on #19554
Another option is to run a public jenkins builder in the contrib repo, and setup cron jobs that periodically rev the godep and build images. That would be really nice, but probably too much work. It's essential that whichever way we run these tests, the results must be public, though.

[2016-01-13 19:11] thockin commented on #3760
Because of the way the proxy works, we lose client IP when it comes through
a node port.  I know this is not great.  It's very much on my mind how to
fix this properly, but it mostly comes down to the capabilities of the
load-balancers (or the other ways by which traffic arrives at a node, such
as DNS-RR)

On Wed, Jan 13, 2016 at 10:25 AM, Mike Danese <notifications@github.com>
wrote:

[2016-01-13 19:15] pmorie commented on #18210
I've been hitting this one repeatedly in https://github.com/kubernetes/kubernetes/pull/18712

https://doc-0l3o4-0hqt8-s-googleusercontent.commondatastorage.googleapis.com/gs/qrb88vpsdgj01pstpe9ehjuvusgcf32q/0jqkpj46q4miko8cc5h01j6c6huog5ar/1452708000000/kubernetes-jenkins/09626605894884631643/ChJrdWJlcm5ldGVzLWplbmtpbnMSZ3ByLWxvZ3MvYWRjMDQ5MjRhMDdiM2E4MzMxNGQ2NmRiMjJhZjAyYjZmY2M0ZDRmYi9rdWJlcm5ldG

[2016-01-13 19:16] bprashanth commented on #19441
I think this was addressed through a contrib repo bug, please re-open if that's not the case

[2016-01-13 19:16] #19441 closed

[2016-01-13 19:41] bprashanth commented on #10456
Hmm, that's tricky. you essentially need to associate an external ip with an internal 10 dot. This internal 10 dot will get re-assigned from endpoint to endpoint through vrrp. Any creative ideas about how you can achieve that on your vps?

[2016-01-13 19:41] bprashanth commented on #10456
"that" meaning

[2016-01-13 19:51] karlkfi commented on #19570
for reference:
- https://github.com/kubernetes/kubernetes/issues/18610
- https://github.com/kubernetes/kubernetes/pull/13216

[2016-01-13 19:56] brendandburns commented on #19501
actually, the 1.1 client didn't work with 1.0 because the swagger schema for `Service` objects that 1.0 served had a bug.  (this broke one of the e2e tests across version skew)

And I'm suggesting that parameter validation would be optional too, e.g. if you specify `?validate-parameters=false&...` we don't validate parameters.

[2016-01-13 19:57] luxas commented on #19227
@ihmccreery Could you chime in and merge or help to merge #17213 and then push the `v1.1.4` Makefile? It would be of really great help :smile:

[2016-01-13 20:06] ckleban opened #19610 "K8s metrics not working with Graphana/influxdb/heapster/cadvisor on my cluster"
Hello,

This could very well be a configuration error on my part but I'm trying to get metric collection working on my k8s cluster (on centurylink cloud) and I've run into issues that I believe have something to do with my kubelet and cadvisor configuration but I'm not sure.

I have grafana up and running with some basic stats coming in but I seem to be missing metrics like cpu/network/etc about t

[2016-01-13 20:17] ashishvyas commented on #3760
@thockin , any workaround to temporarily address this is possible right now? If yes, I would recommend providing detailed steps for me and others on this thread would help.

[2016-01-13 20:33] thockin commented on #3760
No, there is no real workaround, currently.  The problem comes down to the
fact that each kube-proxy might choose a backend on a different node.
Forwarding traffic with the original client IP would have the other node
respond directly which obviously will not work.

The "fix" is to *only* send traffic for Service S to nodes that have at
least 1 backend for S *and* to send traffic proportional to h

[2016-01-13 20:39] nikhiljindal commented on #19521
oh ok sure. Thanks for clarifying!

[2016-01-13 21:03] timstclair commented on #19432
Yes, that's the plan. I'll send it out this afternoon.

[2016-01-13 21:08] sttts commented on #19589
@dchen1107 here it is. The mount fails because the host does not use kube-dns, pretty surprising from a user point of view IMO.

[code]

The mount is tried a few times with the same log output.

[2016-01-13 21:35] mikedanese opened #19615 "Build error caused by godep rewrite"
On master right now:

[code]

Is there anyway to fix this so that I can build without godep go build ./...?

cc @yifan-gu

[2016-01-13 21:39] yifan-gu commented on #19615
related https://github.com/coreos/rkt/issues/1933

[2016-01-13 21:40] yifan-gu commented on #19615
cc @jonboulle @krnowak

[2016-01-13 21:44] mikedanese commented on #19615
@yifan-gu thanks

[2016-01-13 21:45] yifan-gu commented on #19615
@mikedanese Working on a fix based on https://github.com/coreos/rkt/issues/1933#issue-124629385

[2016-01-13 21:55] a-robinson opened #19616 "Switch from go 1.5.2 to 1.5.3"
[1.5.3 was just released](https://groups.google.com/forum/#!topic/golang-dev/MEATuOi_ei4) with a security fix for some of the crypto libraries that we use. We haven't built anything real since switching to 1.5 as far as I know, but we should make sure to upgrade before we do.

Cross-reference #14873

@mikedanese @wojtek-t

[2016-01-13 21:57] #18778 closed

[2016-01-13 22:13] MikeSpreitzer commented on #19221
Oddly, I have been following this guide for the past few months, without any of the problems reported above.  I have not tested kube-down or API extensions.

[2016-01-13 22:16] MikeSpreitzer opened #19618 "Flannel SubnetLen not configurable in cluster/ubuntu"
cluster/ubuntu/util.sh and reconfDocker.sh provide for configuring Flannel's `Network` parameter but none of the others listed in https://github.com/coreos/flannel#configuration

[2016-01-13 22:18] iterion opened #19619 "AWS: Load balancer security group cleanup fails"
I ran into an issue on our cluster running v1.0 with too many rules being specified for our node security group. Basically, security groups generated by Kubernetes were not cleaned up and their references in the node security group were also left behind. We hit an API limit (seems like it was ~50 rules defined on our node security group) which prevented any more load balancers from getting created

[2016-01-13 22:23] ixdy commented on #19604
related issue: #19461

cc @kubernetes/goog-testing

[2016-01-13 22:24] ixdy commented on #19604
We need some way to pass environment info to the tests, and I think the global `testContext` is really the only way to do that.

[2016-01-13 22:27] timstclair commented on #19610
What happens if you run `kubectl proxy`, and then curl the stats API through
[code]

Kubelet doesn't need to communicate with cAdvisor, since it's compiled in as a library. Heapster does need to query the stats from the Kubelet though.

[2016-01-13 22:30] erictune opened #19620 "Need documentation for ConfigMap"
we have docs//proposals/configmap.md but nothing in docs/user-guide.

[2016-01-13 22:30] erictune commented on #19620
@thockin @pmorie

[2016-01-13 23:19] ixdy commented on #16623
Flaked again on https://github.com/kubernetes/kubernetes/pull/19614#issuecomment-171447664:
[code]

[2016-01-13 23:36] mikedanese commented on #16623
This test has failed 0 times in the last 100 runs of kubernetes-e2e-gce and twice in the last 651 kubernetes-e2e-gce-parallel. That's pretty good in comparison to other tests. I'm going to make this not a p0

[2016-01-13 23:38] ghodss opened #19622 "Secrets broken on Docker 1.9.1 on non-containerized kubelet"
I am running Docker 1.9.1 on Kubernetes 1.1.3 on SL6 with a 3.10.0-229.14.1.el7.x86_64 kernel with a NON-containerized kubelet. Secrets mounting works fine on the same host when I am running on Docker 1.7.1.

[code]
[code]
[code]

All those setup steps are same on Docker 1.7.1 and Docker 1.9.1. This is what happens on Docker 1.7.1 (working):

[code]

This is what happens when I upgrade the machine

[2016-01-13 23:48] david-mcmahon opened #19623 "New docker images push breaks build/push-official-release.sh script"
The PR #19061 added functionality to push docker images during the release, but the new workflow requires a special valentine-locked gcloud authorization to proceed.  The new workflow simply assumes the user is logged into gcloud with the k8s.production.user@gmail.com user.

We need to figure out a way to seamlessly auth and allow this new functionality to run without interrupting the release work

[2016-01-13 23:48] ckleban commented on #19610
Thanks for the response. It seems I'm getting 500 errors for any uri past
/api:

--2016-01-13 15:45:43--  http://localhost:8001/api/

Resolving localhost... 127.0.0.1, ::1

Connecting to localhost|127.0.0.1|:8001... connected.

HTTP request sent, awaiting response... 500 Internal Server Error

2016-01-13 15:45:43 ERROR 500: Internal Server Error.

--2016-01-13 15:47:48--
http://localhost:8001/api/

[2016-01-14 00:02] david-mcmahon commented on #19623
This might be as simple as adjusting the ACLs for this new upload target.

[2016-01-14 00:14] ixdy commented on #13485
http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce/23501 has a very curious failure: only 3 tests ran at all.

It seems we are running the cluster-sanity checks in test/e2e/e2e_test.go for every Ginkgo node, so there are probably cases like this run where it'll race and fail in mysterious ways (or possibly even deadlock)?

We should probably use `SynchronizedBeforeSuite` and

[2016-01-14 00:16] yujuhong commented on #19475
Image ID is part of the [container status](https://github.com/kubernetes/kubernetes/blob/27ca7dc71eff2b3b1abf7374e4e22ee38ed1ca59/pkg/api/types.go#L945)
I don't think the image ID is returned when pulling the image, so we'll have to perform an extra image listing or inspect before starting the pod.

We don't support non-docker images yet. There is a proposal #18308 for supporting different image t

[2016-01-14 00:17] ixdy commented on #13485
Bumping down to P1 because this seems pretty rare nowadays (but I'll still address the issues I noted).

[2016-01-14 00:19] ckleban commented on #19610
Btw, the logs from the kubectl proxy command were as follows:

Starting to serve on 127.0.0.1:8001
2016/01/13 15:43:48 http: proxy error: unsupported protocol scheme ""
2016/01/13 15:44:04 http: proxy error: unsupported protocol scheme ""
2016/01/13 15:44:06 http: proxy error: unsupported protocol scheme ""
2016/01/13 15:44:36 http: proxy error: unsupported protocol scheme ""
2016/01/13 15:44:55 h

[2016-01-14 01:35] feihujiang commented on #19601
Please re-post your question to [stackoverflow] (http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2016-01-14 01:41] feihujiang commented on #19601
You should also post log message of kube-apiserver.
And what's the output when you run commands ```kubectl version``` and ```kubectl get nodes```?

[2016-01-14 02:01] Bretto opened #19631 "Setting Enviroment Variables on GKE"
Sorry fro the noob question but from https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/logging-elasticsearch.md
it says:
To use Elasticsearch and Kibana for cluster logging you should set the following environment variable as shown below:
[code]
Where and how do I set this Env Var ? I was thinking that I should use ```gcloud container clusters create``` and pass

[2016-01-14 02:15] timothysc commented on #19341
I'll submit a PR on this one to expose the tuning knobs on cadvisor, which is relatively minor and open a new issue on leaking goroutines, which I have a 100% repro across 2 platforms.

[2016-01-14 02:39] timothysc opened #19633 "BUG: Leaking go routines in kubelet"
In testing cpu performance as part of #19341 , I uncovered leaking go routines from within cadvisor on the kubelet.

---
Stack 1:  Worst case
fedora 23
tip of master
golang 1.5.2
etcd 2.2.1
docker 1.9.1

[code]
wait till running
[code]
The system becomes remarkably slow and takes > 20 minutes to fill! repros in other condition, see below.
[code]

recorded iteration1 (with only 1 pod running):
336

[2016-01-14 02:41] fluxrad opened #19634 "Skydns throws IO errors on large cluster, slow query performance."
A prod cluster consisting of 40 nodes and ~1100 pods seems to be bottlenecked by DNS queries. Looking at the skydns container logs I see lots of io errors talking to etcd:

[code]

We see that pods are — in `/etc/resolv.conf` — being given `ndots:5` which would, if I'm not mistaken, generate five queries per external lookup (one for each entry in the search path, and a final, recursive query)? The

[2016-01-14 02:53] mikem opened #19635 "1.1.4 release page doesn't publish checksums"
There are no checksums on the [v1.1.4 release page](https://github.com/kubernetes/kubernetes/releases/tag/v1.1.4) like there are on prior releases (ie: [v1.1.3](https://github.com/kubernetes/kubernetes/releases/tag/v1.1.3)).

[2016-01-14 02:54] AdoHe commented on #19603
@smarterclayton I volunteer myself to do this.

[2016-01-14 02:56] AdoHe commented on #19634
@fluxrad from the given skydns log, it seems the backend etcd cluster is not reachable. would you please check this?

[2016-01-14 02:58] AdoHe commented on #19587
also I think a service-loadbalancer is more considerable.

[2016-01-14 03:00] ghodss opened #19636 "kubectl run --dry-run does not print object"
This seems like a known issue (#11488, #17538) but I wanted to log this as a bug specifically because the help text is misleading.

[code]

[code]

Replication controller is correctly not created but the object is not printed. We should either change the help text or print the object. I support the latter because I could really use the feature. :)

[2016-01-14 03:09] magicwang-cn opened #19637 "events"
currently, events are stored into etcd, i think this is not a good way. because events always multi-times than pods, if the cluster is big(`15000 pods, there maybe  > 100K events`), etcd can not handle it effectively. Than the e2e test(`density test`) maybe not works fine.
why not send the events to a manager center(`like kafka`), or store them in the database?

[2016-01-14 03:14] ghodss opened #19639 "kubectl apply should be able to take a List"
kubectl create, delete, etc. can already take a List object. kubectl apply can take the list object when it does creation, but it gives an (ugly) error when it's configuring the objects.

[code]

Then... expected:

[code]

Actual:

[code]

[2016-01-14 03:16] AdoHe commented on #19589
@sttts what's your `kubelet version`?

[2016-01-14 03:16] smarterclayton commented on #19603
Great - https://golang.org/pkg/bufio/#Reader.ReadLine is the typical tool used in cases like this.  Thanks!

[2016-01-14 03:23] magicwang-cn commented on #19637
/cc @kevin-wangzefeng @HardySimpson @gmarek

[2016-01-14 03:34] AdoHe commented on #19523
@tomdee @bprashanth I think a possible cause is that the `podKiller` failed to delete some pods for some reason, so the periodic cleanup routine trigger deletion again.

[2016-01-14 03:47] tj13 commented on #19601
$ ./kubectl version
error: couldn't read version from server: Get http://localhost:8080/api: dial tcp 127.0.0.1:8080: connection refused

$ ./kubectl get nodes
error: couldn't read version from server: Get http://localhost:8080/api: dial tcp 127.0.0.1:8080: connection refused

[2016-01-14 04:00] MikeSpreitzer commented on #18723
The two of immediate interest are --housekeeping_interval and --global_housekeeping_interval

[2016-01-14 04:02] fluxrad commented on #19634
Validating that etcd is reachable from the skydns container:

[code]

Here are the entirety of the logs from the etcd container:

[code]

[2016-01-14 04:25] #15197 closed

[2016-01-14 04:46] ashishvyas commented on #3760
@mikedanese, I don't seem to be able to find 1.1.4 on gcr.io:

$ sudo docker pull gcr.io/google_containers/hyperkube:v1.1.4
Pulling repository gcr.io/google_containers/hyperkube
Tag v1.1.4 not found in repository gcr.io/google_containers/hyperkube
$ sudo docker pull gcr.io/google_containers/hyperkube:v1.1.3
v1.1.3: Pulling from google_containers/hyperkube
Digest: sha256:004dde049951a4004d99e12846e

[2016-01-14 05:03] jayunit100 commented on #19604
Hmmm.. If we need that global, Maybe it would be better to create the object in e2e.go, and then use the provided `SetTestContext` function ?

[2016-01-14 05:35] Pensu commented on #19637
Not sure about etcd's capability. Has anyone actually tried handling >100K events using etcd?

[2016-01-14 05:46] Pensu commented on #19601
Can you paste the log of kube-apiserver? It's hard to figure out what's wrong with apiserver with logs of kubelet!

[2016-01-14 05:51] Pensu commented on #19598
Did you destroy and re-run again? Does the problem persist?

[2016-01-14 06:02] Pensu opened #19641 "v1.1 guide still installing v1.0.3"
Hi all,

I was looking here today: http://kubernetes.io/v1.1/docs/getting-started-guides/ubuntu-calico.html and it looks like though the docs are for v1.1 the guide is still installing v1.0.3. Is there any plan to change that?

[2016-01-14 06:04] bgrant0607 commented on #18352
Still catching up, so quick comment: no floats.
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#primitive-types

[2016-01-14 06:07] thockin commented on #19622
@pmorie PTAL with priority fo rtriage

[2016-01-14 06:26] gmarek commented on #19637
We were talking about it some time ago, but we didn't feel that it has high priority. @wojtek-t @kubernetes/sig-scalability

[2016-01-14 06:49] magicwang-cn commented on #19637
@Pensu @gmarek
i have a test with 500 nodes and 15000 pods(`e2e density test`), there are more than 60K events,  and the e2e density's Latency test will not works fine, it is slowly or badly to [list schedule events](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L355).

[2016-01-14 07:25] bgrant0607 commented on #17000
cc @janetkuo

[2016-01-14 08:01] tj13 commented on #19601
@Pensu @feihujiang
where can i find the kube-apiserver log?
below is the command line to run kubernete
    docker run \
        --net=host \
        --pid=host \
        --privileged \
        --restart=always \
        -d \
        -v /sys:/sys:ro \
        -v /var/run:/var/run:rw \
        -v /:/rootfs:ro \
        -v /dev:/dev \
        -v /var/lib/docker/:/var/lib/docker:rw \
        -v /var/l

[2016-01-14 08:22] AdoHe commented on #19603
@smarterclayton I thought about this for a while, and write a simple `readLine` function:
[code]
Then I am trying to implement a custom scanner, but for the custom scanner's `Scan` method, we just walks by line, so I am guessing the default `yamlSeparator="\n---"` has to be changed.

[2016-01-14 08:24] AdoHe commented on #19639
@ghodss what's you `kubelet version`?

[2016-01-14 08:30] jsafrane commented on #19549
Additional "non-standard" user space tools are required to run the test.

These tools can be easily installed by:
[code]

See https://github.com/kubernetes/kubernetes/pull/12393 for additional info

[2016-01-14 08:50] gmarek commented on #19637
Yeah, but that's test only thing. Events are not really first-class citizen, as they are designed for human consumption and no component should depend on them. For this reason we, as a scalability team care for them only as much as to prevent them from impacting performance of other systems.

For this reason first thing I would do wouldn't be changing backend, but spinning up a new API server to h

[2016-01-14 09:05] sdminonne commented on #19475
@pmorie for docker it should be the image sha of the image but it could be something else as well. For non docker runtime it could something else.
If it's advertised/published somewhere in the system I would say that we can imagine to have  _k8s image ID_.

[2016-01-14 09:09] #8593 closed

[2016-01-14 09:25] jimmidyson commented on #19633
I've recreated this with cadvisor at git commit google/cadvisor@634965abc45557ed03c268bb193a00cfcbedbd32 vendored in Kubernetes as well as cadvisor master. Seems like cadvisor starts too many goroutines when multiple containers are started in parallel. Sequentially starting/stopping containers works fine & goroutines are properly cleaned up. Looking for root cause.

[2016-01-14 09:37] jsafrane opened #19645 "Technical debt: refactor Kubelet.HandlePodCleanups into separate thread"
`HandlePodCleanups` runs in the main kubelet thread and it needs to talk to API server (to find volume bound to a persistent claim, see https://github.com/kubernetes/kubernetes/pull/19600) and to cloud (to detach volumes). Both is usually fast enough, still it should be better if we refactor it to a separate thread and not block the main one.

[2016-01-14 09:42] #18044 closed

[2016-01-14 10:19] 2opremio commented on #19477
Related: https://github.com/coreos/flannel/issues/315

[2016-01-14 10:47] 2opremio commented on #19477
Closing this, since I am now convinced it's a docker bug (most probably docker/docker#14788).

BTW, removing the exited containers doesn't seem to be the solution (it's just a mitigation which deallocates a few ips). Docker really is leaking IPs from containers which do not exist anymore (it reaches a point in which removing Exited containers doesn't help and the number of running containers is wa

[2016-01-14 11:03] gmarek opened #19647 "Kubelet [Serial] [Slow] regular resource usage tracking for 0 pods per node over 20m0s"
It fails all the time in `kubernetes-soak-continuous-e2e-gce`.

[code]

cc @kubernetes/goog-node

[2016-01-14 11:23] jimmidyson commented on #19633
Tracked it down - fixing now. Leak is a race, unsurprisingly.

Patching cadvisor now, will send in a PR to kubernetes once it's merged & release tagged.

[2016-01-14 11:25] sokoow opened #19648 "Kubernetes killing apparmor"
Hi All,

I'm running dockerized version of k8s from here: https://github.com/luxas/kubernetes-on-arm . I've noticed something really strange when running with apparmor in complain mode, basically I see this:

[code]

Obviously, 140k complain processes means there's something very wrong, and I don't have even a profile created for docker, beside the default Ubuntu one. Can anybody explain why would

[2016-01-14 11:31] sokoow commented on #19648
forgot to mention that docker version I use is 1.9.1, and k8s is built from the tip

[2016-01-14 11:36] AdoHe commented on #19645
@jsafrane even the `HandlePodCleanups` is executed in the main sync loop, but if it has no block call, I think this is ok. Of course we have to evaluate this.

[2016-01-14 11:37] qoke commented on #3760
@thockin Apologies for the long response, I wanted to cover both methods we tried to solve this with so others could understand the challenges we faced with both.

As a bit of background, our main application is a very high performance smart DNS platform (i.e. it needs UDP and needs to do at least 100k+ requests/secs per pod), and its supporting application in an SNI proxy which needs see the clie

[2016-01-14 11:45] AdoHe commented on #19217
@bgrant0607 how about this? should I open a PR?

[2016-01-14 11:48] jeremyeder commented on #19633
Awesome, thanks guys!  Indeed, as you can imagine we are hitting races all over the stack (kernel included) when we dial-up the input rates.

[2016-01-14 13:07] luxas commented on #19623
It has already been rolled back once. Please find another solution than revert.
I guess you know, but @fgrzadkowski is away for now: https://github.com/kubernetes/kubernetes/issues/19227#issuecomment-171257268

Maybe you could assign push permissions to the `k8s.production.user`?

[2016-01-14 14:02] timothysc commented on #19633
@jimmidyson @vishh next release of cadvisor we should update our godeps asap.

/cc @ncdc apply 1.2-candidate please.

[2016-01-14 14:08] codablock opened #19653 "Ubuntu 15.10 support"
Hello,

are there any plans to support Ubuntu 15.10 with kube-up.sh in the future?
@resouer as I see you are the current maintainer of the Ubuntu cluster code, do you still maintain it?

If noone is working on it right now, I may work on this and provide a PR in the future.

Alex.

[2016-01-14 14:09] jimmidyson commented on #19633
@timothysc Absolutely - I'll sort that out ASAP. I have another issue that we need to update cadvisor to fix as well which is waiting on a tag being applied even further upstream (opecontainers/runc)... These would both be required for 1.2 so would rather do the Kubernetes PR to update cadvisor once.

[2016-01-14 14:09] timothysc commented on #19633
:+1:

[2016-01-14 14:27] jsafrane commented on #19602
I was wrong, cinderVolumePlugint.SetUpAt() and TearDownAt() have some checks to prevent detaching of an used volume. The race is in the cinder volume plugin.

[2016-01-14 14:28] paulbellamy opened #19654 "labels.SelectorFromSet does not match described behaviour of nil"
The documentation of `k8s.io/kubernetes/pkg/labels.SelectorFromSet` says

However, from the documentation on (Services without selectors)[http://kubernetes.io/v1.1/docs/user-guide/services.html#services-without-selectors], I would expect `labels.SelectorFromSet(labels.Set(nil))` to behave the same as `labels.Nothing()`

[2016-01-14 14:36] piosz commented on #19542
The test should work now. I'll re-enable it.

The source of flakiness is Heapster. We are working hard on reimplementing Heapster (see https://github.com/kubernetes/heapster/tree/heapster-scalability). This should be done for 1.2, so I'll re-enable the test then.

Those tests are owned now by @gmarek and @wojtek-t

[2016-01-14 14:42] gmarek commented on #19542
@ihmccreery - what is semantics of `[Slow]`?

[2016-01-14 14:53] neelance commented on #18502
We're seeing a similar issue:
[code]
Strangely it even continues after deleting the responsible service. I see no way in stopping this infinite loop via `kubectl`. Do I need to ask the GKE support to restart the master?

[2016-01-14 14:53] jsafrane commented on #19602
These two threads run in parallel:

[code]

[2016-01-14 14:54] jsafrane commented on #19602
I see very similar code in AWS EBS `SetupAt`/`TearDownAt` implementation, but I am not able to reproduce the bug there. Maybe because EBS is much faster in attaching volumes than Cinder?

[2016-01-14 15:03] jsafrane commented on #19602
Actually, most of the volume plugins probably have the same race.

@rootfs, you wrote many volume plugins, I am (randomly) looking at Ceph RBD, which has the same code flow as Cinder - can you confirm that the race is theoretically there? It's hard to reproduce though.

[2016-01-14 15:05] markturansky commented on #19602
The fencing provided by https://github.com/kubernetes/kubernetes/issues/15524 should be able to fix this race, but we also noted during discussion in Raleigh that we'll still need attach logic in Kubelet for a while.  This race would still exist for those not using the attach/detach controller.

@saad-ali

[2016-01-14 15:06] smarterclayton commented on #19603
It's fine not to use scanner if you don't need it.

[2016-01-14 15:07] piosz commented on #18528
@erictune how about #18527? Also #16732 is closed now. Could you and @mwielgus please verify whether you listed correct issues?

[2016-01-14 15:11] jsafrane commented on #19602
I forgot to mention that the race is between `TearDownAt()` seeing `GetMountRefs == 1`, i.e. the dying pod is the last one using the volume, before `SetupAt()` mounts the volume (which would increase `GetMountRefs` to 2, but it's too late...)

[2016-01-14 15:13] timothysc opened #19655 "Kubelet: Introduce jitter on all interval stats and checks."
In profiling the kubelet and mapping the data, we see cpu spikes on housekeeping intervals.

Same technique can apply in all cases, xref: https://github.com/google/cadvisor/issues/1053

/cc @kubernetes/sig-node @jimmidyson @ncdc @jeremyeder

[2016-01-14 15:58] bprashanth commented on #19477
@kubernetes/goog-node @kubernetes/goog-cluster this is an easy DOS attack. If we go to 1.2 with docker 1.8 we should detect and mitigate.

[2016-01-14 16:01] knownasilya commented on #16737
I'm only seeing this with kubectl 1.1.3. When I rollback to the previous version (`gcloud components restore`) it works just fine.

[2016-01-14 16:09] derekwaynecarr commented on #17098
@erictune - this has become a near-term high priority request.  The axis we were looking to support sub-dividing quota on was associated with short vs. long-lived resource consumption, so largely around pod restart policy.

The `Selector` proposal is actually really nice, but I may want to add that same facility to `LimitRange` as well.  I need to validate that that would meet our needs, but it se

[2016-01-14 16:17] lxpollitt commented on #3760
I'm dipping into this issue late, and probably haven't read the full trail in enough detail, but just in case it helps: If I've understood @qoke's post above then they want to use VIPs, not node ports. One of the concerns raised earlier in the thread was the source IP is not maintained when using the iptables kubeproxy.  However, it is maintained if you are using the service VIP and not the node p

[2016-01-14 16:19] derekwaynecarr commented on #17098
To handle compute resources, I think I would need to also support a `FieldSelector` that was targeted to just `Pod` as well.  So for example, I could have a `LimitRange` with different constraints for pods whose `RestartPolicy=Always` versus pods whose `RestartPolicy=Never` to allow burstable job style pods that get a different resource footprint than what I want to offer to longer running pods in

[2016-01-14 16:21] AdoHe commented on #19603
@smarterclayton ok, I will open a PR once I finish the test.

[2016-01-14 16:27] ncdc commented on #19655
cc @kubernetes/rh-cluster-infra

[2016-01-14 16:31] knownasilya commented on #14586
How do I solve this error? `Failed for reason PodFitsHostPorts and possibly others`?

[2016-01-14 16:46] jdanielcano opened #19656 "Kubelet. Support for ReplicationController and Service specifications YAML files."
Hello all,

There is a way to make to Kubelet service to support ReplicationController and Service specifications YAML files and not only PodSpecs or is planned to do it?

Thanks in advance.

[2016-01-14 16:58] kargakis opened #19657 "kubelet unit test flake"
build-log [here](https://00e9e64bacdc4dc52f5c2bbcf1716bf499820d5baa5f8f6935-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fdd84bba64c8b44887bbe0fb0d72d4b820c062ea5%2Fkubernetes-pull-test-unit-integration%2F9301%2Fbuild-log.txt?qk=AD5uMEu81ARZy6touYt8BztowQEbf1NNJjAy07P7SCGtvGIQjo8iWfS775tc3b-S7asHoEyCbfIHEQCLSj0itZnanbfP4Jzve4UEcv0bRIrVGsIg1sM5zym5gD4MB

[2016-01-14 17:14] wojtek-t commented on #19542
What we need from Density ad Load is the "[Performance]" tag (this is what scalability suite is running):
https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L516

So [Skipped] is only used to not run it in standard suite. I'm not sure how it is solved for other tests that shouldn't be running there...

[2016-01-14 17:28] vishh commented on #19475
-1 for exposing any attributes of an image that are not part of our existing API. Exposing Image Name sounds OK.

[2016-01-14 17:36] gmarek commented on #18266
cc @kubernetes/sig-scalability

[2016-01-14 17:37] 2opremio opened #19658 "High CPU consumption of Kubelet 1.1"
I am running a Kubenetes 1.1.1 cluster in AWS (Docker 1.7.1), formed by [m3.large](https://aws.amazon.com/ec2/instance-types/#M3) machines.

In some of the cluster nodes kubelet is consuming more than 50% of the CPU. This seems unexpectedly high since the number of pods is fairly low (less than 20 per node).

Here's kubelet's profile call graph from one of the affected nodes (obtained with `go too

[2016-01-14 17:38] gmarek commented on #19633
cc @kubernetes/sig-scalability @wojtek-t @gmarek

[2016-01-14 17:40] timothysc commented on #19633
I'll open a separate issue on the speed of overlapping operations.

[2016-01-14 17:45] ihmccreery commented on #19542
Great, this is helpful.

Then it should be marked `[Flaky]`.

See #19505.

Let's change that to `[Feature:Performance]` per #19505.  Anything marked `[Feature:...]` will be skipped by default, serving the purposes of both `[Skipped]` and `[Performance]`.

[2016-01-14 17:47] yujuhong commented on #19657
status.TestStaticPodStatus

 Stack Trace
[code]

[2016-01-14 17:48] yujuhong commented on #19657
/cc @timstclair

[2016-01-14 17:55] timothysc opened #19660 "kubelet: overlapping operations, settling time is too l...o...n...g..."
In hunting down a goroutine leak #19633 I was able to consistently create a situation where the overall settling time for a declarative change was far too high imho.

[code]

From there, the settling time to achieve 100 pods on a node > 20 minutes on average and was reproduced on two different environments as mentioned in the other issue.

/cc @kubernetes/sig-node @kubernetes/sig-scalability @ncdc

[2016-01-14 18:02] ncdc commented on #19660
cc @kubernetes/rh-cluster-infra

[2016-01-14 18:02] 2opremio commented on #19658
In case it helps, here are the kubelet goroutines (obtained with `curl http://localhost:10248/debug/pprof/goroutine?debug=2`): http://pastebin.com/9pTGNtZ0

[2016-01-14 18:04] 2opremio commented on #19658
And here is the version info:

[code]

After reading https://github.com/kubernetes/kubernetes/issues/15805#issuecomment-148963658 more carefully, I don't think that's the issue since I am running 1.1.1 and ...

[2016-01-14 18:11] yujuhong commented on #19660
Because you overlapped the operations, kubelet would have accumulated more pod statuses to report and pods to terminate.
 - replicas=50
 - replicas=1
    * kubelet needs to terminate 49 pods
 - replicas=100
    * kubelet needs to start and report the status of 100 pods

Termination of pods, especially, is expensive because of multiple statuses to report before the final deletion (see https://githu

[2016-01-14 18:14] 2opremio commented on #19658
Here's a spanshot of kubelet's goroutines, obtained with `curl http://localhost:10248/debug/pprof/goroutine?debug=2`: http://pastebin.com/9pTGNtZ0

[2016-01-14 18:22] 2opremio commented on #19658
I run a couple more profiles and all consistently show that most of the execution is spent in cadvisor's  [scanInterfaceStats](https://github.com/kubernetes/kubernetes/blob/v1.1.1/Godeps/_workspace/src/github.com/google/cadvisor/container/libcontainer/helpers.go#L150)

[2016-01-14 18:31] timothysc commented on #19660
@yujuhong if the QPS is limited, why wouldn't we also limit the number of operations that can occur so it isn't stuck in a backlog.

[2016-01-14 18:38] 2opremio commented on #19658
OK, it seems that the these performance issues should had been fixed in master:

- 869cc9fbdab560a1c5eaaf4793020053f802cfbd removes the regexp matching
- 041ab17a677573ef0d67d024860a4e69f1faf5be removes the Sscanf invocation

I am not familiar with the kubernetes release process. Those two commits don't have any associated tag yet, can I expect them to be released with kubernetes 1.2?

[2016-01-14 18:41] yujuhong commented on #19660
Do you mean that we should limit the update rate per pod in kubelet, or reduce the number of updates required per pod?
I think the latter will mitigate the problem a bit, at the cost of clarity for introspection. Ultimately the #updates will grow as the #pods involved increases, and the current QPS limit doesn't hold up well during batch operations like these.

That said, I am aware of a bug that

[2016-01-14 18:56] yujuhong commented on #19658
@2opremio, I believe most of the cadvisor fixes have been cherry-picked to the 1.1 branch (#18182). You can consider upgrading to the latest release (1.1.4) to see if the problem has been fixed. Thanks!

[2016-01-14 18:56] vishh commented on #19658
Thanks for the detailed issue! The cAdvisor bugs you mentioned will be
included as part of v1.2, in addition to other fixes.

On Thu, Jan 14, 2016 at 10:39 AM, Alfonso Acosta <notifications@github.com>
wrote:

[2016-01-14 19:17] MikeSpreitzer commented on #19221
For one thing, the instructions in https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md do *not* reference the `download-release.sh` script nor anything that invokes it.

Since I have been trying this, the `kube-up` function in `cluster/ubuntu/util.sh` has had the line that defines `KUBE_CONFIG_FILE` and sources it.  And config-default.sh uses two distinct env

[2016-01-14 19:17] jdef commented on #19432
is the plan to eventually run cadvisor as a peer process of the kubelet (as opposed to in-process)?

[2016-01-14 19:20] nikhiljindal commented on #19636
cc @janetkuo

[2016-01-14 19:26] smarterclayton opened #19662 "unversioned.Status.StatusDetails should not be omitempty"
It means we can't distinguish between errors that return nil details vs details with no fields set.

[2016-01-14 19:26] smarterclayton commented on #19662
Maps and slices should almost never be omit empty.

[2016-01-14 19:27] smarterclayton commented on #19662
Although I'm not positive now that we can change it because it's backwards incompatible (that field has been set for a long time, so clients may not anticipate it being nil).

[2016-01-14 19:28] vishh commented on #19432
Kubelet will be self-sufficient. It will embed cAdvisor libraries to
collect the stats that are required for kubelet's functionality. A
standalone cAdvisor can be run on all nodes for monitoring purposes.

On Thu, Jan 14, 2016 at 11:18 AM, James DeFelice <notifications@github.com>
wrote:

[2016-01-14 19:36] pmorie commented on #18907
I _think_ this is resolved now, closing.  I'll reopen if I run into it again.

[2016-01-14 19:42] qoke commented on #3760
@lxpollitt Correct, the source IP is maintained when using IPVS, however keep in mind that with this method we had to pretty much do all the networking ourselves, because configuration of IPVS is not supported by kube-proxy. You can also keep the source IP with iptables as well, however you need two layers of IPtables DNAT so that you can "un-nat" the traffic on the way back

[2016-01-14 19:50] derekwaynecarr commented on #341
@smarterclayton @bgrant0607 @erictune - I am looking for some guidance on how to handle existing resources, so input appreciated.

I want to add an optional label and an optional field selector to `LimitRange` and `ResourceQuota` so an administrator can define constraints by varying dimensions.  One dimension could be based on `pod.spec.restartPolicy` so pods derived from a `Job` could get differe

[2016-01-14 20:02] bprashanth commented on #19525
https://github.com/kubernetes/kubernetes/pull/19663

Luckily most clients either list NamespaceAll or don't specify an rv (which bypasses the cache and hits etcd directly, so the list is still consistent).

[2016-01-14 20:18] heim commented on #19405
@robtuley I fixed this by scaling up the cluster and killing the "old" nodes one by one. It's a bit of a hack but it goes a little something like this:
1. Resize cluster to cluster-size+1.
2. Wait until new node is up.
3. Kill one of the old nodes
4. Be really quick and scale cluster to original size
5. Repeat for each node in cluster.

Kind of a hack, but it worked for us.

[2016-01-14 20:24] fluxrad commented on #19634
Troubleshooting based on some instructions on a somewhat similar issue on kubernetes/kubernetes#14051

I scaled DNS to 10 pods. This is a tcpdump from a single pod (so presumably 1/10th the traffic):

[code]

We've switched the lion's share of our DNS to skip the `ndots` generates-extra-queries problem by appending a `.` at the end of our most commonly queried hosts. This is a snapshot of our "loc

[2016-01-14 20:30] fgrzadkowski commented on #19623
Maybe we can just flag gate this until we have a proper fix?

[2016-01-14 20:37] luxas commented on #19623
@fgrzadkowski It's hard for me to know now if you're away or not :)

[2016-01-14 20:37] fgrzadkowski commented on #19623
@luxas I am, but I try to read the most important emails :)

[2016-01-14 20:40] luxas commented on #19623
OK, sounds good :)

[2016-01-14 20:41] bgrant0607 commented on #341
@derekwaynecarr Use the new syntax. Copy/move LabelSelector to v1.

[2016-01-14 20:59] ihmccreery opened #19665 "Services should work after restarting kube-proxy failing on GKE"
**Services should work after restarting kube-proxy [Disruptive]**

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:311 Expected error: <*errors.errorString | 0xc20886dec0>: { s: "service verification failed for:\n 10.227.248.83, expected to retrieve pods [service1-6gwp1 service1-gdg5b service1-vtnfq], only retrieved [service1-6gwp1 service1-6gwp1 service1-

[2016-01-14 21:16] bprashanth opened #19666 "Kubelet panic"
Stacktrace:
[code]
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/util/format/pod.go#L33
@kubernetes/goog-node how did we find a pod without name, namespace, uid right?

Logs:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-ci-reboot/6310/artifacts/?pli=1
Specifically:
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins

[2016-01-14 21:17] bprashanth commented on #19665
Noted https://github.com/kubernetes/kubernetes/issues/19666 though I'm not sure they're related

[2016-01-14 21:25] Random-Liu commented on #19666
Will fix it right now.

[2016-01-14 21:33] timothysc commented on #19633
Fix for the leakage has been pushed to the cadvisor repo, once the godep has been updated we can close.

[2016-01-14 21:35] timothysc commented on #19660
@yujuhong - I'm still pretty struct that even with a low qps it takes so long, there is only one node in this experiment.  Just how much data are are trying to send back<>forth?

[2016-01-14 21:35] DarkSkull91 commented on #19615
Hi @mikedanese! I'm very new in go and Kubernetes, I'm trying to modify some code but I ran in those same error... Where have I to launch that command (godep go build)? This problem comes to me when I add this to my imports "k8s.io/kubernetes/test/e2e/"

[2016-01-14 21:47] bprashanth commented on #19665
Ok we should grab the following:
https://github.com/kubernetes/kubernetes/pull/19493
https://github.com/kubernetes/kubernetes/pull/17741
https://github.com/kubernetes/kubernetes/pull/19668

I suspect that right after the reboot test the node is either not yet really ready, kube-proxy is not yet really up (i.e node reboot took < 5m), or the kubelet restarted and caused some other form of delay. Too

[2016-01-14 21:47] stephenwithav commented on #10456
Possibly.  I need to read up on keepalived and vrrp. :)

[2016-01-14 21:54] glerchundi commented on #19497
/subscribe

[2016-01-14 21:59] mjuarez opened #19671 "Unable to create loadbalancer on multi-AZ VPC"
Hello! I've been working on doing a Kubernetes cluster install on an existing VPC. One change that I did make was allow the autoscaling group to consist of three availability zones we currently utilize. However, I'm having issues creating a load balancer.

I'm following the guestbook example in the Getting Started guide. I uncommented the `LoadBalancer` line for the frontend service and am checkin

[2016-01-14 22:02] timstclair opened #19672 "godep restore broken by github.com/camlistore/camlistore/pkg/errorutil"
`github.com/camlistore/camlistore/pkg/errorutil` was removed by https://github.com/camlistore/camlistore/commit/40be4d8da29a164513347d54334a3aed849585db, which is causing `godep restore` to complain that
[code]

[2016-01-14 22:03] coleca commented on #19635
There is also this bullet in the release notes which makes no sense outside of Google:

Updated kube-ui to v4 (#18759) which fixes https://b.corp.google.com/issues/25974243 (you can easily describe the issue that was reported in that bug)

[2016-01-14 22:08] timothysc commented on #19432
I actually want to expose new params that are not currently exposed:  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_linux.go#L48  until we actually have a daemonset cadvisor as the solution.

Is the daemonset cadvisor a deliverable for 1.2?

/cc @kubernetes/rh-cluster-infra

[2016-01-14 22:09] #19484 closed

[2016-01-14 22:12] pmorie commented on #19574
@cjcullen classy digging

[2016-01-14 22:22] yujuhong commented on #19660
@timothysc, is the 20 minute the latency of the last step, or the time takes to run through all the operations?

[2016-01-14 22:34] Random-Liu commented on #19666
Close this issue since #19668 should have been fixed it. If similar error raises up again, feel free to reopen this issue.

[2016-01-14 22:35] Random-Liu commented on #19666
Close this issue since #19668 should have fixed this. If similar error raises up again, feel free to reopen this issue.

[2016-01-14 22:35] #19666 closed

[2016-01-14 22:39] derekwaynecarr commented on #341
@bgrant0607 - thanks for the quick reply.

[2016-01-14 22:53] yujuhong commented on #19660
1 `kubectl scale --replicas=50` and wait until all the pods are running and ready
2 `kubectl scale --replicas=0` wait 3 seconds or so.
3 `kubectl scale --replicas=100`

Step 3 alone takes about 130s even though kubelet was still terminating pods from 2.
It'd be great If you have a script that I can run to reproduce the problem.

[2016-01-14 23:08] mjuarez commented on #19671
Noticed this issue here stating this isn't supported: https://github.com/kubernetes/kubernetes/issues/4235

[2016-01-14 23:08] #19671 closed

[2016-01-14 23:09] bgrant0607 commented on #19217
Yes, sorry. Looks good. Please open a PR.

[2016-01-14 23:15] vishh commented on #19432
I don't think so. cc @timstclair

[2016-01-14 23:29] bprashanth commented on #10456
Keepalived will give you really fast failover if you're using a baremetal setup and a gateway you control, because only the master will respond to arp. On a cloud provider where you're going to re-assign IPs via REST interface, you're stuck with the latency of that operation anyway. In such a scenario you may just want to do a more naive leader election for the sake of simplicity: http://blog.kube

[2016-01-14 23:41] timstclair commented on #19432
Not for 1.2, hopefully for 1.3

[2016-01-14 23:59] MikaelCluseau commented on #3760
On my side, with flannel (in vxlan mode) managing my container network, I use kube-proxy (in iptables mode and not masquerading) + flannel in a namespace on my routing nodes. The external requests are DNATed to service IPs and then forwarded through the namespace with the kube-proxy. I haven't done active/active router cluster testing, but this setup allows me to keep the external IP. I mention it

[2016-01-15 00:06] bprashanth opened #19677 "Pulling etcd image fails in gce-parallel"
Master seems hosed for a couple of runs, from parallel-master kubelet logs:
[code]
And logging in:
[code]
seems to work from other machines. @kubernetes/goog-testing

[2016-01-15 00:16] bprashanth commented on #19677
Guessing it was a gcr.io fail, parallel clusters are now coming up and same pull succeeded

[2016-01-15 00:16] #19677 closed

[2016-01-15 00:18] thockin commented on #3760
Thanks for the detailed writeup.  Your solution is interesting, and I spent
a good amount of time today thinking about it.  Unfortunately you've
crossed into very specific territory that doesn't work in a generic sense.
Clouds like GCE can't use IPVS gatewaying mode because of the routed
network.  Even if gatewaying worked, it doesn't support port remapping,
which Kubernetes does, so it only appli

[2016-01-15 00:22] thockin commented on #3760
I think a `iptables-to-node-pods-only` mode would be interesting to try,
but it has a lot of ripple.  The potential for imbalance is very real and
at least the service controller would need to know how to program the
external load-balancers.

On Thu, Jan 14, 2016 at 3:59 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-01-15 00:23] ixdy commented on #19677
Yes, lots of our builds have/had been failing for the last 2 hours.

[2016-01-15 00:24] paralin commented on #19677
gcr.io was down

[2016-01-15 00:25] bprashanth commented on #19677
partially perhaps, I was able to pull from asia vms

[2016-01-15 00:29] MikaelCluseau commented on #3760
@thockin You mean of 2 replicas are on the same node for instance? I think we could put the case "program the external load-balancers" outside the scope of the kube-proxy, as it has multiple instances and a external LB programmer should probably be in a "single master" mode. Thus, allowing kube-proxy mode "iptables-to-node-pods-only" is only the first of a 2 steps process.

[2016-01-15 00:38] MikaelCluseau commented on #3760
I think I could try to implement something like that tommorow: "iptables-to-node-pods-only" mode in kube-proxy, plus a contrib/ip-route-elb that would maintain a Linux routing table with one route per service, with the right weight for each node based on how many endpoints the node has for a given service.

[2016-01-15 01:04] #19072 closed

[2016-01-15 01:17] angelalay commented on #18117
There seems to also be a TLS handshaking  issue with 1.5. I'm experiencing the issue mentioned on this thread (http://stackoverflow.com/questions/32449316/kubernetes-on-mesos-tls-error-on-kubectl-exec) and I'm seeing from various sources that it could be due to 1.5?

[2016-01-15 01:42] saad-ali commented on #19645
Thanks for opening the issue, this definitely needs cleanup.

Cloud calls, in particular, can sometimes take a very long time. Which is why I put the GCE PD detach on a separate thread.

[2016-01-15 01:52] saad-ali commented on #19602
This race exists in most of the plugins because the the attach and detach code paths are triggered from two separate async loops: the pod creation loop triggers attach, and the kubelet main sync loop triggers detach (orphaned pods cleanup). Both loops are running on separate threads and unaware of what the other is doing.

I worked around this for GCE PDs by introducing locking between attach/deta

[2016-01-15 01:55] AdoHe commented on #19217
@bgrant0607 Ok, I will open a PR today.

[2016-01-15 02:04] bprashanth commented on #19217
While we're on this topic, can we have `kubectl get nodes -o wide` to show ips? I know users shouldn't have to care about ips, but it's useful (curling nodeport services, matching cidrs, debug logs etc)

[2016-01-15 03:14] timothysc commented on #19660
@yujuhong the 20 minute latency was from the last operation.

[2016-01-15 03:22] tonybaloney opened #19680 "Improvements to public API documentation"
the public API documentation on kubernetes.io is very challenging to understand compared with projects like Docker, OpenStack.

The first and most challenging issue is that all of the API operations
are listed on one massive page, there isn't any grouping or index. I
have to use the browser find to search within the page and guess what
I'm looking for.

The second issue is that the docs are automa

[2016-01-15 05:38] mikedanese opened #19681 "e2e flake: SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]"
SchedulerPredicates [Serial] validates MaxPods limit number of pods that are allowed to run [Slow]

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scheduler_predicates.go:264 Expected : 325 to equal : 330

Flaked twice today.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/10473/
http://kubekins.dls.corp.google.com/view/Crit

[2016-01-15 05:54] mikedanese commented on #19635
cc @david-mcmahon

[2016-01-15 05:56] mikedanese commented on #19631
cc @kubernetes/goog-gke

[2016-01-15 05:58] zhouhaibing089 opened #19683 "addon image always get pulled when make release"
At the file `build/common.sh` and near line 836:

[code]

addon image always get pulled, maybe it would be better to check its existence firstly.

[2016-01-15 06:05] ghodss commented on #19639
1.2.0-alpha.5

[2016-01-15 06:09] magicwang-cn commented on #19660
/cc @magicwang-cn

[2016-01-15 06:20] bgrant0607 commented on #19217
@bprashanth Sure, I have no problem with that.

[2016-01-15 06:52] mikem opened #19684 "Empty responses from AWS when running `kube-down.sh`"
I can't bring a cluster down on AWS:

[code]

Digging in to `cluster/aws/util.sh` I see that it's failing to retrieve the VPC ID. Adding some debugging (see patch below) and running `kube-down.sh` I see:

[code]

Copy and pasting the command into the terminal myself gets me the VPC ID:

[code]

I added the `--debug` flag to the `aws` commands and re-ran `kube-down.sh`. The XML response in the debu

[2016-01-15 07:06] mikem commented on #19684
This appears to be consistent for other calls to AWS. The next command, which tries to get the ELBs in the VPC also fails in the same way.

[2016-01-15 07:12] AdoHe commented on #19217
Ok, I will also add this to this PR.

[2016-01-15 07:20] AdoHe commented on #19217
@bprashanth does this also apply to pod? I mean `kubectl get pods -o wide` should show IP for pod?

[2016-01-15 09:27] jsafrane commented on #19602
While GCE's `AttachAndMountDisk` is safe, it's `TearDownAt` is not. It checks how many times is a volume mounted (calls `GetMountRefs`), while the same volume can be already attached and not mounted yet by `SetUpAt` running in a separate thread.

This pattern is in all volume plugins. I'm going to add a mutex *before* `SetUp`/`TearDown` calls.

[2016-01-15 09:53] 2opremio commented on #19658
OK, I will close and reopen if the problem persists after upgrading Kubernetes.

[2016-01-15 09:53] #19658 closed

[2016-01-15 10:13] Random-Liu commented on #19657
Should be fixed in #19690.

[2016-01-15 10:38] tj13 commented on #19601
issue got fixed by self. it's caused by the GFW which blocks internet access to gcr.io.

[2016-01-15 10:38] #19601 closed

[2016-01-15 11:10] antoineco commented on #15073
#14493 did not fix this issue (but fixed the DeviceMapping cache invalidation)

[2016-01-15 11:24] gmarek commented on #19681
It flakes only in reboot suite, which means that disruptive tests somehow impact scheduler tests. My guess is that we don't wait for cluster is stable after some test.

I won't have time to fix this - I'll remove serial tests from the reboot suite until it's fixed.

cc @kubernetes/goog-control-plane @hongchaodeng @xiang90

[2016-01-15 11:31] jsafrane commented on #19602
That's not possible. Only the volume plugin knows the volume ID (i.e. AWS EBS VolumeID or GCE PD Name). We would have the same bug if two Kubernetes Volumes (with different `Volume.Name`) lead to the same AWS VolumeID (or GCE PD).

We can either make synchronize all `TearDown`/`SetUp` calls (i.e. they will run in sequence) or fix all volume plugins to synchronize `TearDown`/`SetUp` on the same vol

[2016-01-15 12:15] BugRoger commented on #15073
I think, what is happening that you run into an error or timeout while waiting for the disk operation. That leaves the devicecache yet again in an inconsistent state. I have a fix here that just discards the cache on any error. Additionally, it is totally possible that there is concurrent operations which leads to an error and bork the cache.

The fix:
https://github.com/BugRoger/kubernetes/commit

[2016-01-15 12:53] piosz commented on #18527
So there are 3 options here:
 1. remove extra level of struct in spec if there is no reason for having it
 2. make the fields to follow the same pattern (and decide which one)
 3. leave without any change

Personally I prefer option 1 as it is simple and I can't see any use case to have nested struct in spec.

[2016-01-15 13:04] #17216 closed

[2016-01-15 13:05] deads2k commented on #17216
made it! :)

[2016-01-15 13:30] piosz commented on #16500
@lavalamp could you please reply to @erictune's comment?

[2016-01-15 13:33] kargakis commented on #19515
So this isn't really an issue?

[2016-01-15 13:36] gmarek commented on #19681
Actually a lot of tests are broken if run together with reboot. Reverting #19381 to unblock the build.

[2016-01-15 14:18] ncdc commented on #19466
It appears that some sort of error occurred, as seen in goroutine 202, which is blocked trying to send the error to errorChan. It looks like both the client and server spdy connections are trying to shut down (goroutines 225, 200, 201, 258, 108). For some reason, the client is still trying to read from the remote stderr stream (206) - I would have expected this to have unblocked because all stream

[2016-01-15 14:22] ncdc commented on #18527
@piosz just to reiterate, please don't make any backwards-incompatible changes to `extensions/v1beta1/horizontalpodautoscaler` - thanks!

[2016-01-15 14:33] piosz commented on #18527
@ncdc IIUC the only possible option is no. 3 then. Am I right?

[2016-01-15 14:34] kargakis commented on #8572
I guess this is not an issue anymore (see https://github.com/kubernetes/kubernetes/issues/8676#issuecomment-129962893)

[2016-01-15 14:37] ncdc commented on #18527
@piosz we could add another field to v1beta1 and then have 2 copies of it, but that gets nasty - how do you resolve conflicts if both are updated to different values? I think it makes sense to do option 1 for v1, but not v1beta1.

[2016-01-15 14:40] kargakis commented on #18568
+1

cc: @vishh @yujuhong

[2016-01-15 14:41] piosz commented on #18527
I'm planning to graduate HPA API to GA for 1.2 (see #18528), so I'll move related objects from v1beta1 to v1. IIUC you are ok with changing the fields then?

[2016-01-15 14:44] ncdc commented on #18527
Yes, I'm fine changing things in v1 as long as we can convert between v1beta1 and v1 successfully.

[2016-01-15 14:45] piosz commented on #18527
Ack

[2016-01-15 15:30] #8572 closed

[2016-01-15 15:36] bprashanth commented on #19217
-o wide on pods already prints node names, i think that's more valuable than ip. My suggestion was to have -o wide on nodes print an extra column with the external ip of the node.

[2016-01-15 15:38] Khazrak opened #19699 "Fedora 21 EOL, vagrant-demo uses kube-fedora 21"
Since the vagrant demo of Kubernetes uses kube-fedora-21 and fedora 21 reached EOL 1 dec 2015 it gives errors on the repository for fedora. There is a kube-fedora 22 and 23.

[2016-01-15 15:38] c1freitas opened #19700 "DaemonSet doesn't create any pods: v1.1.2"
### Issue

Attempting to launch a DaemonSet on an existing cluster of 6 nodes with multiple containers already deployed.

Deployment seems to succeed but no pods are created:
[code]

### Setup
Cloud: **AWS**
We are running the example cluster created with `kube-aws`
The existing cluster has 30 pods already running across 6 nodes.
* CoreOS alpha (891.0.0)
* Kubernetes server v1.1.2
* Updated the /e

[2016-01-15 15:46] hanikesn opened #19701 "Jobs don't work well with running unit tests"
When running unit tests as a Job, I'd like to also run a MySQL, rabbitmq, memcache and Elasticsearch container in the same pod. As these are long running services the Job will never finish. There's also currently no general way to stop a container gracefully from another container in the same Pod. This makes it very hard to run unit tests in the cluster.

I propose to make it easily possible to st

[2016-01-15 16:22] pmorie commented on #19655
@ingvagabund and I spoke to @timothysc about this earlier.  Tim mentioned that a pattern to follow is the one the proxy uses.

[2016-01-15 16:55] roberthbailey commented on #19631
I answered this on [stack overflow](http://stackoverflow.com/questions/34780553/setting-environment-variables-on-gce-kubernetes/34796973#34796973). We may want to add some documentation on how to add elastic search to an existing cluster though. Maybe we should use this issue to track that?

[2016-01-15 17:25] nagarjung commented on #17727
Hi @jayunit100 : As mentioned above I have re-written util.go,we can place this as flocker.go in kubernetes/pkg/util/flocker.go. Let me know for any changes. If the proposed change is good enough please let me know If can proceed further with PR.

package flocker

import (
	"os"
	"strconv"
)

func GetEnvAsStringOr(key, defaultValue string) string {
	if v := os.Getenv(key); v != "" {
		return v
	}

[2016-01-15 17:57] #16050 closed

[2016-01-15 17:59] jwonesh opened #19704 "Load Balancer: cannot specify security group to use, always creates new one"
Hello,

I have been looking into ways to specify an existing security group for the ELB to use, but have found that is not possible. I examined the API (https://github.com/kubernetes/kubernetes/blob/37b5726716231c13117c4b05a841e00417b92cda/pkg/cloudprovider/providers/aws/aws.go) and I see that a new security group is created when the ELB is created in EnsureLoadBalancer. AWS CLI has a flag for spe

[2016-01-15 18:12] jwonesh opened #19705 "Load Balancer: name is tied to service UID, so state cannot be preserved upon cluster restart"
Hello,

I have been trying to figure out a way to preserve ELBs across cluster restarts. I need this functionality because we map dns names to ELB aliases via Route 53. We have a load balancer that points to the mapped dns name which does not change. However, AWS creates a new DNS for each ELB it creates. So, if the cluster were to be torn down and started up again, the new ELBs created would have

[2016-01-15 18:18] thockin commented on #3760
"Only proxy to local pods" has to be step 2 of the process.  Step 1
has to be changing the service controller to send load-balancers only
to Nodes that have 1 or more backends for a given Service.  That step
alone is PROBABLY reasonable, but will require a lot of testing to
make sure we get it right.  I think we want to do this eventually,
anyway.

Once that is done, we can talk about making node-

[2016-01-15 18:19] vishh commented on #18568
I don't think the container can be marked as `Failed` because it is possible for a retry of an image pull to succeed. I do agree that we need to provide some means to determine if a container is failing to start because of image related issues. cc @bgrant0607

[2016-01-15 18:21] erictune commented on #18528
@piosz updated list per your comments.

[2016-01-15 18:21] jsafrane commented on #19602
I posted a PR to fix this bug, but it's Cinder only. Similar changes are needed in most of  the volume plugins.

Maybe we could fix the plugins when refactoring them for the attach/detach controller.
@saad-ali @markturansky: opinions?

[2016-01-15 18:29] bprashanth commented on #19012
Fyi we didn't want to limit all queries sent by the scheduler (including events and anything else we might build into it down the line) to the rate at which the system can handle new pods (which is tied to the rate of new binds, and really what the bind qps is about). This reason might no longer be valid.

[2016-01-15 18:31] luxas opened #19709 "Update kr/pty Godep for arm64 building"
My work ref: #17981

This `Godep` is over a year old:
[code]

It prevents building on ARM64 which I am adding support for right now.
Can we update this one to a newer version? Latest commit is kr/pty@f7ee69f31298ecbe5d2b349c711e2547a617d398 and it compiles on `ARM64`

Will test to build master Kubernetes with master pty.
@thockin @brendandburns @mikedanese @fgrzadkowski @vishh @jimmidyson @wojtek-

[2016-01-15 18:36] bgrant0607 commented on #18568
cc @ironcladlou @nikhiljindal @janetkuo @kargakis

[2016-01-15 18:39] yujuhong commented on #18568
I agree with @vishh that image pulling failures could be transient and retries are needed. Perhaps we can do a better job distinguishing permanent errors such as the image does not exist, and surface them.

[2016-01-15 18:41] mikedanese commented on #19709
Updating to newest version SGTM. Maybe it will fix vim in kubectl exec :)

[2016-01-15 18:42] luxas commented on #19709
Can you do it now or should I try to make a PR? (Haven't updated Godeps before)

[2016-01-15 18:44] mikedanese commented on #19709
I can do it if you prefer

[2016-01-15 18:53] mikedanese opened #19711 "Flake: Density [Skipped] [Performance] should allow starting 30 pods per node"
Failed twice in the last two days.

Density [Skipped] [Performance] should allow starting 30 pods per node

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/density.go:130 There should be no high-latency requests Expected : 1 not to be > : 0

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4024/
http://kubekins.dls.corp.go

[2016-01-15 18:57] krmayankk commented on #19515
It only works for me when i enable --validate=false flag. So how can we fix that ?

[2016-01-15 18:59] mikedanese commented on #19701
cc @soltysh @erictune

[2016-01-15 19:02] mikedanese commented on #19700
Restarting the kubelet restarts all the other daemons. Unlike the docker daemon we designed the kubelet so that it can be upgraded without affecting the nodes current workload (.i.e. conatiners won't get killed and restarted, they will get adopted by the new kubelet process)

[2016-01-15 19:03] mikedanese commented on #19700
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-15 19:03] #19700 closed

[2016-01-15 19:08] janetkuo commented on #19515
@krmayankk can you provide the result of `kubectl.sh version`?

[2016-01-15 19:09] mikedanese commented on #19699
cc @jayunit100 @derekwaynecarr

[2016-01-15 19:13] thockin commented on #19497
Can you post updated YAML and Go illustrating?  I don't want to add
comments to a stale design :)

On Thu, Jan 14, 2016 at 1:55 PM, Gorka Lerchundi Osa <
notifications@github.com> wrote:

[2016-01-15 19:16] yujuhong commented on #19118
This is happening again on one node in the soak cluster.
[code]

[2016-01-15 19:16] yujuhong commented on #19118
/cc @k8s-oncall

[2016-01-15 19:30] Random-Liu commented on #19711
It seems that the second one is load capacity test. :)

[2016-01-15 19:31] david-mcmahon commented on #19635
Thanks for finding this and pointing it out.  The release page has been updated.

[2016-01-15 19:31] #19635 closed

[2016-01-15 19:36] krmayankk commented on #11606
I am interested in this change as well to have an absolute minimal go client for kubernetes. Any udpate is appreciate or if there are other community efforts to make a go client which is simpler, i would like to take a look before reinventing the wheeel

[2016-01-15 19:55] ihmccreery opened #19715 ""Kubectl client Simple pod should support inline execution and attach" failing at HEAD against a 1.1 cluster"
**Kubectl client Simple pod should support inline execution and attach**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:452 Expected <*errors.StatusError | 0xc208249700>: { ErrStatus: { TypeMeta: {Kind: "", APIVersion: ""}, ListMeta: {SelfLink: "", ResourceVersion: ""}, Status: "Failure", Message: "no kind \"DeleteOptions\" is registered for version \"e

[2016-01-15 19:57] timothysc commented on #19655
Also see in leaderelection.go using wait.Jitter.

[2016-01-15 20:04] mikedanese commented on #19118
This appears to be a kernel bug. Not sure how to proceed.

[2016-01-15 20:06] yujuhong commented on #19118
Rebooting the machine should temporarily solve the problem.

[2016-01-15 20:44] quinton-hoole commented on #19118
@mikedanese To be clear we have two problems here as far as I can tell:

1. The problem with the ethernet device, which could be a kernel bug.
2. The fact that the scheduler is continuing to try to schedule pods onto a node that is Not Ready.

I don't think that it's worth solving 1, but 2 is definitely a bug in our scheduler that should be fixed.

Or am I missing something?

Q

[2016-01-15 20:56] mikedanese commented on #19118
I was not able to observe or reproduce 2 when I looked a week ago. Is that consistently reproducible? @ihmccreery can you give me some pointers? Is it possible that the pods were scheduled before the node reported NotReady?

[2016-01-15 21:07] iterion commented on #18955
This happened to our cluster as well. Once the API failed master saw nodes as unavailable and kubelet shut down all of the pods on each node.

[2016-01-15 21:07] mikedanese commented on #19118
Also since evictions are rate limited and the nodes if nodes are flapping NotReady 30 seconds, Ready 5 minutes, if nodes get scheduled to and pods aren't getting evicted during NotReady then node controller and scheduler are working as intended.

[2016-01-15 21:08] mikedanese commented on #19118
I think the main issue here is 1.

[2016-01-15 21:16] quinton-hoole commented on #19118
@mikedanese Good point.  As an aside I think that we should potentially have a mechanism in place for quarantining nodes that fail often/repeatedly.  We will of course need to be careful of "poisoned pods" which, when launched on a node, cause it to fail often and get quarantined. If the poison pod then gets rescheduled to another node in the cluster, eventually all nodes could become quarantined.

[2016-01-15 21:19] quinton-hoole commented on #19118
@mikedanese I don't think that we can realistically solve 1 in a general way in kubernetes.  We're always going to get nodes with flaky hardware and/or flakey/buggy OS software.  The best we can hope to do is try to recognise it as such, tag it for repair/upgrade, and avoid scheduling onto it until it's fixed.

[2016-01-15 21:24] #19709 closed

[2016-01-15 21:26] mikedanese commented on #19118
Ya I'm not sure how we would want to handle it. Here's the describe for the offending node if interested

[code]

It's consistenly flapping Ready 5 minutes, NotReady ~20 seconds

[2016-01-15 21:42] quinton-hoole commented on #19118
@mikedanese Yeah, I see what you mean - that node is definitely flapping.

I thought a bit more about safe ways to quarantine nodes, and it just occurred to me that a good approach might be to use a basic priority function.  For example, keep a sliding window not ready count per node, and add a priority function to put nodes with high not ready counts at the bottom of the list when selecting nodes

[2016-01-15 21:44] vishh opened #19720 "Validate Docker 1.10"
We have just pushed 1.10.0-rc1 to test.docker.com you can download with the following:

Ubuntu/Debian: curl -fsSL https://test.docker.com/ | sh
Linux 64bit tgz: https://test.docker.com/builds/Linux/x86_64/docker-1.10.0-rc1.tgz

IMPORTANT:

Docker 1.10 uses a new content-addressable storage for images and layers.
A migration is performed the first time docker is run, and can take a significant
amou

[2016-01-15 21:46] mikedanese commented on #19118
Also logs are kubelet logs are suuuper unhelpful here.

[code]

We should print the caller when we emit an event in kubelet

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2611

[2016-01-15 21:48] mikedanese commented on #19118
@quinton-hoole ya we should definitely track handling node flapping in an issue.

[2016-01-15 21:51] janetkuo opened #19721 "Broken link: Kubectl API Reference in kubernetes.io/docs"
1. Open http://kubernetes.io/v1.0/docs/api-reference/definitions.html (or http://kubernetes.io/v1.0/docs/api-reference/operations.html)
2. Click on "View the latest version here."
3. It brings you to http://kubernetes.io/v1.1/docs/api-reference/definitions.html (404 not found). However the link should be http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html

[2016-01-15 21:52] mikedanese commented on #19711
Ooops. Could they be related?

[2016-01-15 21:58] quinton-hoole opened #19722 "Add priority function for NodeNotReady count to probabalistically quarantine flapping nodes safely"
https://github.com/kubernetes/kubernetes/issues/19118#issuecomment-172102534 refers.

I think that we should potentially have a mechanism in place for quarantining nodes that fail often/repeatedly. We will of course need to be careful of "poisoned pods" which, when launched on a node, cause it to fail often and get quarantined. If the poison pod then gets rescheduled to another node in the cluster

[2016-01-15 21:59] quinton-hoole commented on #19722
@kubernetes/goog-control-plane @mikedanese

[2016-01-15 22:00] ihmccreery commented on #15112
As far as I know, this was resolved (as #15123).

[2016-01-15 22:00] #15112 closed

[2016-01-15 22:04] ihmccreery commented on #3334
I'm marking this as obsolete, with #16040 tracking the remaining issues.

To test upgrades and version skew, we currently:

1. deploy a cluster at old version
1. run new `kubectl` tests against it (this is what's still a open in #16040)
1. upgrade the master
1. run all old e2e tests (the cluster should still function as before with the new master version)
1. upgrade the nodes
1. run old e2e tests

[2016-01-15 22:04] #3334 closed

[2016-01-15 22:05] ihmccreery commented on #18665
Closing as obsolete (fixed in #18773).

[2016-01-15 22:05] #18665 closed

[2016-01-15 22:18] ixdy commented on #17524
cc @david-mcmahon this is the issue I mentioned last week.

[2016-01-15 22:22] ihmccreery opened #19723 "Services e2e tests require different output between 1.1 and HEAD"
**Services should prevent NodePort collisions**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:639 Expected : Service "nodeport-collision-2" is invalid: spec.ports[0].nodePort: Invalid value: 31108: provided port is already allocated to equal : Service "nodeport-collision-2" is invalid: spec.ports[0].nodePort:
invalid value '31108', Details: provided po

[2016-01-15 22:27] ihmccreery opened #19724 "Change from "scheduler" to "default-scheduler" breaks backwards compatibility with e2es"
**SchedulerPredicates validates that NodeSelector is respected [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/scheduler_predicates.go:389 Expected <[]api.Event | len:0, cap:0>: [] not to be empty*

**SchedulerPredicates validates resource limits of pods that are allowed to run [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8

[2016-01-15 22:38] gmarek commented on #19722
cc @gmarek

[2016-01-15 22:41] ihmccreery commented on #19724
Looks suspiciously similar to #15806.

Between 1.0 and HEAD, we also see:

**MaxPods Validates MaxPods limit number of pods that are allowed to run.**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/max_pods.go:174 Expected <[]api.Event | len:0, cap:0>: [] not to be empty*

Which is identical to #15806.

[2016-01-15 22:45] ixdy commented on #18117
x-ref #14873

[2016-01-15 22:45] ixdy commented on #18117
and #19110

[2016-01-15 22:53] ihmccreery commented on #19724
This is also almost certainly linked to a similar failure, also in 1.1 and HEAD:

**Events should be sent by kubelets and the scheduler about pods scheduling and running [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/events.go:127 Expected error: <*errors.errorString | 0xc2080faa10>: { s: "timed out waiting for the condition", } timed out waiting f

[2016-01-15 22:54] MikaelCluseau commented on #3760
On 01/16/2016 05:19 AM, Tim Hockin wrote:

That makes sense.

So let's see once that is done :-)

Since its from the manual and you have probably more that 10x my
experience in this kind of networking, I must completely ignore a catch.
The man ip-route says this:

               nexthop NEXTHOP
                      the nexthop of a multipath route.  NEXTHOP is a
complex value with its own syntax

[2016-01-15 23:06] mikedanese commented on #19110
Closing as dup

[2016-01-15 23:06] #19110 closed

[2016-01-15 23:08] ihmccreery opened #19726 "v1.0 e2e tests can't see files against a v1.2 cluster"
**DNS should provide DNS for the cluster**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/dns.go:223 Expected error: <*errors.errorString | 0xc2081210a0>: { s: "timed out waiting for the condition", } timed out waiting for the condition not to have occurred*

**DNS should provide DNS for services**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kuber

[2016-01-15 23:08] ihmccreery commented on #19724
Note that these failures occur as soon as a master is upgraded, even if the nodes haven't yet been upgraded.

[2016-01-15 23:09] ihmccreery commented on #19726
This only occurs once nodes have been upgraded to HEAD; the test passes as long as the nodes are at 1.1, even if the master is at HEAD.

[2016-01-15 23:10] Random-Liu commented on #19711
I've no idea, either. :(

[2016-01-15 23:21] ixdy commented on #18335
Closing as obsolete. Reopen if this happens again.

[2016-01-15 23:21] #18335 closed

[2016-01-15 23:24] mml commented on #19118
In order to make debugging easier, tests like these could have a basic invariant assertion like "during the test, all the nodes stay in Ready state the whole time".  If that fails, our failure reason is more clear.

As times goes on, we might think of other invariants like this to assert during complicated system tests, but for starters this one would probably prove useful.

[2016-01-15 23:29] mml commented on #19722
You have to pick some tradeoff between risking capacity and reacting to problems.  We discussed a related tradeoff in #13430, but your idea to just steer the scheduler away from bad nodes would improve reliability.  The priority function you describe will tend to work pretty well in large clusters with a little extra capacity and won't do much in smaller, more tightly packed clusters.  It'll proba

[2016-01-15 23:30] spxtr opened #19727 "Upload structured metadata to GCS at beginning and end of all Jenkins test jobs"
At the start of every E2E or unit test run, I would like to upload a file to GCS that says "This job started running at this time using this version of kubernetes." Something like this:
[code]

Then, at the end of the job, I would like to upload another report:
[code]

This info can be paired with the JUnit artifacts we already upload to get a more complete picture of our Jenkins runs.

@ixdy how

[2016-01-15 23:31] ihmccreery opened #19728 "1.1 "Networking should provide Internet connection for containers" fails against a HEAD cluster"
**Networking should provide Internet connection for containers [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/networking.go:82 Expected error: <*errors.errorString | 0xc208a3c360>: { s: "pod 'wget-test' terminated with failure: &{ExitCode:1 Signal:0 Reason:Error Message: StartedAt:2016-01-15 14:33:37 -0800 PST FinishedAt:2016-01-15 14:33:52 -0800 P

[2016-01-15 23:35] ihmccreery opened #19729 "1.1 e2es can't verify services on a HEAD cluster"
**Services should be able to up and down services**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:254 Expected error: <*errors.errorString | 0xc208695290>: { s: "service verification failed for:\n set -e;\n\t\t\tsudo docker pull gcr.io/google_containers/busybox > /dev/null;\n\t\t\tsudo docker run gcr.io/google_containers/busybox sh -c 'for i in $(seq 1

[2016-01-15 23:36] quinton-hoole commented on #19118
@mml +100  Sounds like very useful approach.  The error message could be clear about the fact that the test is not at fault, the system is.

[2016-01-15 23:38] ihmccreery opened #19730 "1.1 "Kubectl client Guestbook application should create and stop a working application" failing against HEAD cluster"
**Kubectl client Guestbook application should create and stop a working application [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:153 Jan 15 14:25:39.009: Frontend service did not start serving content in 600 seconds.*

[waitForGuestbookResponse](https://github.com/kubernetes/kubernetes/blob/release-1.1/test/e2e/kubectl.go#L1025) is fai

[2016-01-15 23:44] ihmccreery commented on #19730
This is actually also occurring for non-version-skewed tests, so my guess is it's an upgrade problem.

[2016-01-15 23:44] ihmccreery commented on #19728
This is actually also occurring for non-version-skewed tests, so my guess is it's an upgrade problem.

[2016-01-15 23:46] dchen1107 commented on #19720
@Random-Liu Can you pick up this work along with Huawei friends?

[2016-01-15 23:50] ihmccreery commented on #19726
This actually occurs also when running HEAD tests against an upgraded cluster, so I think this is an upgrades problem, not a version-skew problem.

[2016-01-15 23:52] ihmccreery commented on #19726
Confirmed that this doesn't occur when a cluster is version-skewed and hasn't been upgraded.  Working on reproducing with an upgraded cluster.

[2016-01-15 23:54] ihmccreery commented on #19729
This also fails when running HEAD tests on a cluster that's been upgraded, which tells me it's an upgrade problem, not a version-skew problem:

**Services should work after restarting kube-proxy [Disruptive]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:311 Expected error: <*errors.errorString | 0xc2089df300>: { s: "service verification failed for:\n

[2016-01-15 23:57] Random-Liu commented on #19720
@dchen1107 Sure. Maybe we could talk about this on Tuesday meeting, :)

[2016-01-16 00:03] tomdee commented on #19523
I don't see any kubelet lots of around the time of the failure. I see dockerd complaining about stop being called a second time though.

[2016-01-16 00:03] janetkuo opened #19732 "e2e flake: RecreateDeployment should delete old pods and create new ones [reaper]"
See https://github.com/kubernetes/kubernetes/pull/19638#issuecomment-171832286

[code]
[code]

[2016-01-16 00:04] tomdee commented on #19523
Also, the two delete calls were <1s apart.

[2016-01-16 00:14] yujuhong commented on #19720
@Random-Liu It will be a good start to try creating a cluster with docker 1.10 and leave it over the weekend if you have time today.

[2016-01-16 00:17] erictune opened #19736 "kubectl should suggest next kubectl commands"
If I do `kubectl describe replicationcontroller/foo`, there is a good chance that the next
thing I want to do is to see details about the pods created by that replication controller.

Therefore, `kubectl` should suggest these next steps to me.  I'm thinking an output format like this:

[code]

Since we don't use URLs and HATEOAS in kubernetes, and since new users do not understand the
conventions

[2016-01-16 00:18] vishh commented on #19720
FYI: Instructions to update salt to use the new docker rc can be found [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls#L81)

[2016-01-16 00:24] jdfless opened #19738 "kube-apiserver.yaml image tag in documentation refers to old version; is the only available version"
*TL;DR - Add more release versions to gcr.io/google_containers/\<package\> and tag by version*

Currently, the kube-apiserver.yaml linked to in the in the 1.1 version of the docs for High Availability (http://kubernetes.io/v1.1/docs/admin/high-availability.html) refers to:
`image: gcr.io/google_containers/kube-apiserver:9680e782e08a1a1c94c656190011bd02`

This image tag has kube-apiserver version 0

[2016-01-16 00:35] ixdy commented on #19727
[We already sorta do this](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/upload-to-gcs.sh#L74-L79), though that file is more used to find the latest build, rather than save information on every build.

Seems like a reasonable idea in any case.

[2016-01-16 00:45] ihmccreery commented on #19726
So, I can't reproduce this on a cluster upgraded from `v1.1.3` to ~HEAD.  My next guess is that this failure *is* actually caused by version skew, and when it fails in the version-skewed situation it borks the next run when the run isn't version skewed.

[2016-01-16 00:48] ihmccreery commented on #19730
I was unable to reproduce this in an upgraded cluster; my next guess is that when we run e2e's against a version-skewed cluster, we screw something up that we don't recover from.

[2016-01-16 00:50] ihmccreery commented on #19728
I was unable to reproduce this in an upgraded cluster; my next guess is that when we run e2e's against a version-skewed cluster, we screw something up that we don't recover from.

[2016-01-16 00:54] ihmccreery opened #19740 "Running some e2e test(s) against a cluster with master at HEAD and nodes at 1.1 breaks the cluster"
When we upgrade a master to HEAD with nodes still at 1.1, and run e2e's, several tests fail, and even when the nodes are moved up to HEAD, those tests continue to fail.

The following issues are all displaying this behavior:

- https://github.com/kubernetes/kubernetes/issues/19726
- https://github.com/kubernetes/kubernetes/issues/19730
- https://github.com/kubernetes/kubernetes/issues/19728
- http

[2016-01-16 01:06] v1k0d3n opened #19744 "[Services] Error when creating service in 1.2 with "ClusterIP: None" in spec."
[code]

Here's the service declaration file, as documented on the NGINX website:
[code]

This causes an error:
[code]

I tried looking for 1.2 docs for changes to services declarations, but I couldn't find anything related to 1.2 or warnings in the release notes. Hopefully, I'm not missing something glaring? This works in another deployment with 1.0.6.

[2016-01-16 01:11] thockin commented on #3760
On Fri, Jan 15, 2016 at 2:55 PM, Mikaël Cluseau
<notifications@github.com> wrote:

I thought more about this today, I don't think it will be very hard.
Just medium hard.

fair enough, I just like to know where a set of changes is going :)

We don't really use linux's notion of IP routing though.  None of the
LB implementations I know of use it, anyway.  GCE uses Google's cloud
balancer, which does

[2016-01-16 01:14] Random-Liu commented on #19720
@yujuhong @vishh Thank you very much~

[2016-01-16 01:14] thockin commented on #3760
Also, if you want to pursue this you should open 2 bugs, something like:

1) load-balancers for a Service should only target nodes that actually
have a backend for that Service

2) to preserve client IP across load-balancers, kube-proxy should
always prefer local backend if present (xref #1)

and then explain the intention and direction

On Fri, Jan 15, 2016 at 5:11 PM, Tim Hockin <thockin@google.

[2016-01-16 01:15] mikedanese commented on #19744
try "clusterIP" instead of "ClusterIP"  and leave them a comment telling them to fix their blog post :)

[2016-01-16 01:15] #19744 closed

[2016-01-16 01:16] jayunit100 commented on #19699
Thanks for noting this.  I'll try to reproduce and look into the update to f22.

[2016-01-16 01:16] spxtr commented on #19155
@bprashanth Looks like this job is passing most of the time. Should this issue stay open?

[2016-01-16 01:19] gaocegege commented on #19672
it seems that the github.com/camlistore/camlistore/pkg/errorutil has moved to [camlistore/go4](https://github.com/camlistore/go4/tree/master/errorutil).

[2016-01-16 01:20] mikedanese commented on #19711
And again two more times:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4025/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4028/
cc @bprashanth @kubernetes/goog-control-plane

[2016-01-16 01:20] mikedanese commented on #19711
#19743 to stop the bleeding

[2016-01-16 01:26] #19155 closed

[2016-01-16 01:30] dalanlan commented on #19221
@MikeSpreitzer I can't see the necessity 'cause it would be triggered automatically.

[2016-01-16 01:46] bprashanth opened #19750 "start-kubemerk should retry gce operations"
http://kubekins.dls.corp.google.com/job/kubernetes-kubemark-gce/4373/console
[code]

[2016-01-16 02:03] jayunit100 commented on #19699
Hmm, seems to work for me?  Maybe i got lucky b/c the image was already on my box?
[code]

[2016-01-16 02:04] dalanlan commented on #19653
We have no plan to touch ubuntu 15.10  to my best knowledge.
Feel free to send a pr.
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu-calico.md may help though.
/cc @djosborne

[2016-01-16 02:44] HaiyangDING commented on #14586
@knownasilya

This error means that the `hostPort` specified in the pod template is occupied on the target host. To fix, either free the port on the host or change the `hostPort` in the pod template.

[2016-01-16 03:01] MikaelCluseau commented on #3760
Is it ok to open a pull-request for (1) directly with this name and some explanations?

[2016-01-16 03:14] MikaelCluseau opened #19754 "load-balancers for a Service should only target nodes that actually have a backend for that Service"
In order to solve part of #3760, more specifically https://github.com/kubernetes/kubernetes/issues/3760#issuecomment-172041623 work will have to be done in the service controller to allow  load-balancers to target only the relevant nodes for each defined service.

This is part of the effort to try to keep the remote IP accessing a service through the kubernetes cluster.

[2016-01-16 04:25] thockin commented on #3760
The risk of a PR without docs is that it is in the wrong direction. It is
much easier to review something as a proposal.  I will take a look at your
PR when I get a chance, soon I hope.
On Jan 15, 2016 7:02 PM, "Mikaël Cluseau" <notifications@github.com> wrote:

[2016-01-16 05:47] caesarxuchao commented on #19680
Thanks @tonybaloney. I'll send fixes next week.

[2016-01-16 05:49] AdoHe commented on #19736
@erictune interesting point. I would like to do more investigate about this new feature.

[2016-01-16 05:50] caesarxuchao commented on #17216
@deads2k Thanks!

Should we change TypeMeta.APIVersion to type GroupVersion?

[2016-01-16 05:58] AdoHe commented on #19701
@hanikesn IIRC after the unit tests finished, the job corresponding pod should get deleted.

[2016-01-16 06:41] davidopp commented on #18969
Why was this issue closed? I don't have a problem with changing the test to not fail, but shouldn't we try to root cause the underlying problem of some nodes not registering? I don't disagree with Quinton's speculation, but it *is* speculation...

[2016-01-16 06:55] thockin commented on #19634
Is this using the userspace proxy or the iptables proxy?

[2016-01-16 07:19] #15852 closed

[2016-01-16 08:11] gmarek commented on #19711
@mikedanese - if both of them are failing it's a strong signal for regression. They produce different pattern of loads.

[2016-01-16 08:13] gmarek commented on #19750
Dupe of #18334

[2016-01-16 08:13] #19750 closed

[2016-01-16 09:17] thebeardisred opened #19757 "Deployment object not creating RCs"
I'm not really sure what info to provide, so let me know. I followed [this guide](http://kubernetes.io/v1.1/docs/user-guide/deployments.html) exactly. I'm running a single node kubernetes cluster. Here's the apiserver config
[code]
I have the latest release (1.1.4). I'm using the spec file given, but I will reproduce it here:
[code]
I created it with the following command:
[code]
The `--validate=f

[2016-01-16 12:46] wojtek-t commented on #19542
SGTM - @gmarek - can you please take care of it since I'm on paternity leave?

[2016-01-16 14:08] v1k0d3n commented on #19744
that was it! strange that it worked on older versions of k8s, but i'm not complaining after such an easy fix :) thank you...i'll tell them to update their documentation on monday.

[2016-01-16 14:23] #19184 closed

[2016-01-16 14:28] jayunit100 commented on #19699
- I created #19753  which may be relevant to this, as its another F21 dependent Vagrantfile which we no longer need.
- So far I wasn't able to reproduce any EOL errors on the vagrantfiles I tested.
- When you get a chance, @Khazrak let me know the specific vagrant demo that you are using, maybe paste the output.  In any case, I'll look into updating to f23 some more this weekend.

[2016-01-16 15:30] liggitt commented on #17216
I'm not sure that would be worth the ripples.

[2016-01-16 16:32] smarterclayton commented on #17216
I would prefer we do this in 1.3 or later.  It's not required for
correctness, and isn't really going to improve internal code quality.

[2016-01-16 17:34] fluxrad commented on #19634
This is 1.1.3 with iptables proxy enabled:

[code]

[2016-01-16 17:54] bgrant0607 commented on #17164
And we still need to add a /status subresource.
https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go

[2016-01-16 18:07] pmorie commented on #19757
@thebeardisred I don't have insight into the possible issue with deployments, but I happened to notice your loglevel is at the default.  Try upping it to 5 and post the log content; use `--loglevel=5` for hyperkube.

[2016-01-16 18:10] #14062 closed

[2016-01-16 18:11] #13038 closed

[2016-01-16 18:15] pmorie opened #19762 "All-in-one managed data volume"
This issue is to aggregate opinions and indications of interest in a single volume that handles all types of 'managed' data, such as:
1.  Secrets
2.  ConfigMaps
3.  Downward API
4.  Service Links

One possible API for such a volume might look like:

[code]

Forking issue from discussion that started here: https://github.com/kubernetes/kubernetes/pull/18586#discussion_r49519513

[2016-01-16 19:05] pwais commented on #19221
@MikeSpreitzer: the scripts on master definitely don't work.  try setting up two `nodes` and run `kube-up.sh`.  the nodes will launch but verification will wait for three nodes due to how the defaults are set up.

[2016-01-16 19:16] derekwaynecarr commented on #19699
There is a PR in flight to move to a later Fedora 23, but it has bugs last
I tested.

https://github.com/kubernetes/kubernetes/pull/15998

If folks can help debug, appreciated.

On Saturday, January 16, 2016, jay vyas <notifications@github.com> wrote:

[2016-01-16 19:23] pwais commented on #19221
@dalanlan: https://github.com/kubernetes/kubernetes/pull/19763

[2016-01-16 19:28] pwais commented on #19221
ok if i run `./deployAddons.sh` in `cluster/ubuntu` (in my PR branch) I can access `http://(master):8080/ui` OK.  I think `./deployAddons.sh` might be a little too sensitive to paths ...

[2016-01-16 19:29] kargakis commented on #17164
There is already one
https://github.com/kubernetes/kubernetes/blob/912e54e4967e09787b5e8495b058d0e0ec50fd3a/pkg/master/master.go#L610
https://github.com/kubernetes/kubernetes/blob/912e54e4967e09787b5e8495b058d0e0ec50fd3a/pkg/registry/deployment/etcd/etcd.go#L104-L116

[2016-01-16 19:37] pmorie opened #19764 "Projecting single files from volumes into a container's FS"
This issue is to explore the possibility of allowing users to make projections of individual files from volumes into a container.  Example use-case is where the user wants to place volume content into an existing directory without mounting over the existing contents of that directory.  Example:  say you want to project a file into `/etc/ssl/certs` without making the other files in that directory i

[2016-01-16 19:40] pmorie commented on #18776
@jonboulle @saad-ali @yifan-gu

Correct, at least at first.

[2016-01-16 19:43] pmorie commented on #18776
@yifan-gu

At least in docker, there's not really a notion of running directly in the host's mount namespace because filesystems are provided to containers via their own mount namespaces.  Take away that mount namespace, and you basically lose the container's FS without something that can run the container process as chroot into where the container's FS is supposed to be.  So, 'run-in-host-mount-n

[2016-01-16 19:56] pwais opened #19765 "Port-forwarding not working due to missing socat command"
I think #17157 might still be broken.  I'm using the spark example w/ ubuntu provider.  I'm forwarding 8081 below because I'm running the command on my k8s master, which is already using 8080.

[code]

Purportedly 1.1.2 should include the fix in #17157

[2016-01-16 20:16] thockin commented on #13375
@shettyg I lost track of this because it is buried in a closed issue.  I assume this is still an issue?  Might be worth opening a new bug.

Can you find the "Unable to find pair interface, setting up all interfaces" log line in kubelet and tell me what the remainder of the error is?

[2016-01-16 20:18] thockin commented on #13375
I'll open an issue.

[2016-01-16 20:24] thockin opened #19766 "kubelet sets veth hairpin mode regardless of network plugin"
From another issue, @shettyg said:

DockerManager.SyncPod() calls the network Plugin and then sets hairpin mode unilaterally.  This is wrong. We should either pass the `configureCBR0` bool down to here or else we should get rid of the default no-op plugin and use the non-existence of a plugin as a flag to control this.

This should be a relatively easy one for people who want to contribute but don

[2016-01-16 20:26] thockin commented on #16405
We discussed this some with a few storage folks and we all agree that a kube volume that passes control to a docker volume seems appropriate and relatively easy for someone from community to contribute

[2016-01-16 20:28] thockin commented on #14505
Close in favor of #14545

[2016-01-16 20:28] #14505 closed

[2016-01-16 20:37] thockin commented on #3350
The network SIG is working on a proposal, so I am closing the existing proposals.  Please reopen if you think I am wrong. :)

[2016-01-16 20:37] #3350 closed

[2016-01-16 20:39] thockin commented on #2289
This is covered by net plugins.  I don't think it will be part of core feature set.

[2016-01-16 20:39] #2289 closed

[2016-01-16 20:40] thockin commented on #13459
The network SIG is working on a proposal, so I am closing the existing proposals.  Please reopen if you think I am wrong. :)

[2016-01-16 20:40] #13459 closed

[2016-01-16 20:44] bprashanth commented on #18334
I'd say this is higher than a p2, since it causes submit queue blockage even when tests might've passed

[2016-01-16 20:51] thockin commented on #17753
We have not been able to reproduce this.  Is it still happening?  Do you have a cluster where this happens on a regular basis?

[2016-01-16 20:59] quinton-hoole commented on #18969
@davidopp My opinion is that:

1. Irrespective of what the root cause is in these particular cases (there may be one root cause, or several), we still need to update the test to not fail if an acceptably small percentage (0.1% ?) of nodes do not come up healthy.
2. Even if we do root cause and fix this particular problem, we will see other intermittent VM problems in future.  Do we try to root cau

[2016-01-17 00:21] qoke commented on #3760
Clouds like GCE can't use IPVS gatewaying mode because of the routed network.  Even if gatewaying worked, it doesn't support port remapping, which Kubernetes does, so it only applies if the service port == target port.

On the gatewaying side, this works fine over a Layer 3 network (we use an overlay), and even though we could have got away without an overlay network, we built it this way because

[2016-01-17 00:25] bprashanth commented on #19497
So listeners are just a way to specify that something is listening for a connection on a port. A listener can have TLS configuration associated with it, but it doesn't contain any routing information (eg redirects, urlmaps, services etc).

[code]

I'm really just targetting 3 broad cases:
* insecure 80
* secure 443, redirect 80
* secure 443, reject 80

Where 443 and 80 could be a list of any ports

[2016-01-17 01:31] pmorie commented on #19764
After some thought, I realize that if we do this, there's really no need for #19762

[2016-01-17 03:32] bgrant0607 commented on #10495
#16028 added kubectl create namespace

[2016-01-17 04:14] ghodss opened #19767 "kubectl should process files recursively when given a directory"
When given a directory, `kubectl apply -f <directory>` should search a directory recursively for any JSON|YAML files when given a directory. Currently it only finds the immediate children of the given directory.

I believe kubectl apply is exhibiting the same behavior as `kubectl create`, `kubectl delete`, etc., but to enable the original #1702 use case of a nested directory of configuration objec

[2016-01-17 04:59] thockin commented on #19634
Can you run `iptables-save` on a node for me?

On Sat, Jan 16, 2016 at 9:35 AM, Aaron Mills <notifications@github.com>
wrote:

[2016-01-17 05:14] MikeSpreitzer commented on #19221
@pwais: At the end of https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md#deploy-addons it specifically says to use that CWD.

[2016-01-17 05:18] MikeSpreitzer commented on #19221
Also, it seems to me that https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md#configure-and-start-the-kubernetes-cluster specifies the CWD to use when invoking `kube-up.sh`.  I have always been invoking `kube-up.sh` with CWD=cluster, and invoking `deploy-addons.sh` with CWD=cluster/ubuntu.

[2016-01-17 05:20] MikeSpreitzer commented on #19221
@pwais: regarding https://github.com/kubernetes/kubernetes/issues/19221#issuecomment-172246849 - do you mean to try a configuration with one master and two workers?  Did you update the definitions of `nodes` and `role` in config-default.sh correspondingly?

[2016-01-17 05:44] thockin commented on #19764
So the biggest issue with this is that updating a file atomically across a
namespace is practically impossible.  You have to enter the target
namespace to really do it right.

I'd love to see this be possible, so it is probably worth exploring, but I
think it HAS to support atomic updates properly if updates are supported at
all.

On Sat, Jan 16, 2016 at 11:37 AM, Paul Morie <notifications@github.

[2016-01-17 05:45] qoke commented on #3760
@thockin Earlier in the thread you asked for some performance numbers. I wouldn't call this the most comprehensive set of tests, but I expect HTTP is one of the more common workloads in containers, so here are some apache-bench numbers as a starting point:

https://docs.google.com/presentation/d/1vv5Zszt4HDGbuyVlvOe76unHskxPuZQseQnarNbhQVc

DNAT was enabled on IPVS for a fair comparison to the oth

[2016-01-17 07:56] thockin commented on #13748
On one hand this is orthogonal to `.type` (ClusterIP, NodePort, LoadBalancer) but at the same time not really.  Does it make any sense to have a cluster IP or external access to one of these "imported" services?

I think the import has to be entirely within the Service object, and not in the Endpoints object, otherwise the validation of Endpoints depends on values from Service (you can't have more

[2016-01-17 08:07] thockin commented on #3760
Thanks!

I'm not sure where the idea that kube-proxy doesn't do UDP comes from - it
absolutely does, though maybe not perfectly (without a connection it comes
down to timeouts).

It's also worth clarifying the iptables (new) kube-proxy vs the userspace
(legacy) mode.

On Sat, Jan 16, 2016 at 9:45 PM, qoke <notifications@github.com> wrote:

[2016-01-17 08:53] mfojtik commented on #19764
@pmorie thanks! another use-case we have is to add files like `.npmrc` into `$HOME` or to `/etc`. This file contains internal URL to nodejs mirror and credentials (user+pass). This file is needed during the build time and not needed in output image (so having a way to 'unplug' the file from the contains would be nice to have as well ;-)

[2016-01-17 08:55] mfojtik commented on #19764
@thockin I think the update to secret content should trigger restart of the container where the secret is projected to.

[2016-01-17 09:49] qoke commented on #3760
Good call on the new vs legacy mode - noted and updated.

Also on the UDP side of things, thank you for the clarification; I wasn't aware UDP was fully supported in kube-proxy until now. When we first tried kube-proxy with UDP, we got lots and lots of hangs. Not sure why but we did increase the timeouts and still had issues. We had to find a solution fast so we ended up working around it with IPVS

[2016-01-17 10:37] madhusudancs commented on #18907
This problem is causing immense pain and has been a huge productivity sink over the last few weeks. So I thought of taking a look at it over the long weekend.

I think this is due to a bug in our hack/update-codecgen.sh script, not golang version or the OS. #19768 is the proposed fix for this issue.

[2016-01-17 11:00] Raffo commented on #11606
@grobie @krmayankk I would expect an update from the community, but it seems we all need some lighter form of a go library for kubernetes. We can start working on this as it seems that the rest of the community is very busy on working on different topics. As inspiration we have some efforts in prometeus and https://github.com/golang/build/tree/master/kubernetes , but we will probably need to start

[2016-01-17 11:49] MikaelCluseau commented on #3760
On 01/17/2016 08:50 PM, qoke wrote:

I believe you can start in contrib too.

FWIW... I used list watches and undelta stores to make a independent
binay reacting to the cluster's state in
https://github.com/kubernetes/kubernetes/pull/19755. If the information
in
https://github.com/kubernetes/kubernetes/pull/19755/files#diff-0becc97ac222c3f2838fbfe8446d5375R26
is enough, you should only have to cha

[2016-01-17 13:10] sa-mao opened #19770 "Vagrant setup is not working"
It have been a while now trying to start a k8s cluster using vagrant (from this guide) but with no success:

here is the kubelet logs from master:
[code]

[2016-01-17 13:10] AdoHe commented on #19766
@thockin I volunteer myself to do this. Actually I have done something about kubernetes network plugin so guess I can do this. I will start to do this when I am on the office tomorrow.

[2016-01-17 16:27] pesho commented on #19124
@mwielgus I think the `openstack` label here is a little misleading by itself. The issue most likely affects all cloud providers, as evidenced by the symptoms and the other similar issues already opened.

[2016-01-17 18:29] thockin commented on #19764
This is a point of debate for secrets.  DownwardAPI already allows dynamic
refresh, and config map is not done yet.
On Jan 17, 2016 12:55 AM, "Michal Fojtik" <notifications@github.com> wrote:

[2016-01-17 19:25] jayunit100 commented on #19699
The new patch for #15998  fixes this.  I guess we could close this Issue in lieu of that workstream, or wait till its merged, and then close.

[2016-01-17 20:34] bprashanth opened #19773 "Investigate latency spike in 100 node scale test"
Looks like we're taking a really long time to store certain objects, sometimes:
[code]

And from the test:
[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4046/artifacts/

We already increased threshold to 1s so this is either a gce latency problem or a legitimate regression.  @kubernetes/goog-control-plane

[2016-01-17 21:36] kargakis commented on #10495
What else needs to be done here?

[2016-01-17 21:48] jgriffiths1993 opened #19774 "Add support for OpenStack LBaaS v2"
LBaaS v2 for OpenStack adds some *very* necessary features such as multiple ports on one VIP and TLS termination.

We should add support for this in the OpenStack cloud driver.

The necessary interfaces are not yet in the gophercloud library. I'm working on putting them in and, once they're merged, we can add this driver in kubernetes.

[2016-01-17 22:45] gweis commented on #9802
Is this something you could already do with two steps? E.g. create the pod with the volume first, and after you know on which node it is running, you can label the node and add a nodeSelector to the pod?

[2016-01-18 00:15] ghodss opened #19775 "Move "Containers" and "Images" out of `kubectl get rc` and into `-o wide`"
Our `kubectl get rc` output is extremely wide:

[code]

(Note the columns are wider than the text because I've omitted rows that have longer text in them.)

I would contend that when you are typically trying to list RC's, you're mostly looking for (1) which ones exist, (2) how many replicas they have and perhaps (3) the selector. Usually the name is enough to remind you what's inside of it, but if

[2016-01-18 01:17] thockin commented on #19766
Awesome.  I'd advise starting with a sketch so we can all make sure it is a
good approach, before jumping in with both feet.

On Sun, Jan 17, 2016 at 5:11 AM, TonyAdo <notifications@github.com> wrote:

[2016-01-18 01:25] thockin commented on #3760
I'm not sure how it can work.  Machine-level static routes don't work
in GCE.  Maybe I am missing some technique that you have applied.  I
freely admit that I am NOT an expert in this :)

It also applies if you have backends that are changing versions (e.g.
transitioning between etcd1 and etcd2) or any other situation where
the backend port just needs to be different.  The problem is that
Kubernet

[2016-01-18 01:33] thockin commented on #3760
Yeah, NAT for UDP is really unfortunate.  Finding a non-conntrack
solution would be great, but it has to either apply to all
environments or be parameterized by platform (which is hard in its own
way).

I opened a github issue about IPVS, but I was using masquerade (NAT)
mode because I could not get it working on GCE without (and because of
the port remapping feature).  If port-remapping triggered

[2016-01-18 02:06] AdoHe commented on #19766
@thockin ok, I will start with a sketch as soon as possible.

[2016-01-18 02:08] AdoHe commented on #19775
@ghodss I think this will make the `get rc` results more readable, I am happy to do this if we have to do this.

[2016-01-18 02:12] MikaelCluseau commented on #3760
On 01/18/2016 12:34 PM, Tim Hockin wrote:

could stateless NAT work for the case where a (pod, port) couple has at
most one service (many pods to one service)?

This would look like this:

{from: clientIP:clientPort, to: externalIP:externalPort} ---[proxy selects a random pod]---> {from: clientIP:clientPort, to: podIP:targetPort} ---> [routed through the right host...]

On the way back, the firewa

[2016-01-18 02:35] bprashanth commented on #19774
From their homepage:

This is what Ingress was created for, so we should streamline if possible. Here is some documentation: https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/user-guide/ingress.md, existing backends: https://github.com/kubernetes/contrib/tree/master/Ingress, tls discussion: https://github.com/kubernetes/kubernetes/issues/19497.

This is an example of Ingress implement

[2016-01-18 02:48] borg286 commented on #19227
Any chance we could simply update 1.1.3 with an image that does spin up etcd while we wait for #19623 to get fixed?

[2016-01-18 03:13] bprashanth opened #19779 "Something in gke-ci leaks routes"
Just deleted 91 since gke-ci was completely hosed on quota. We hit the limit on http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10377/ so it was some set of suites before that.
[code]

@kubernetes/goog-testing

[2016-01-18 03:14] bprashanth commented on #19779
Actually not sure this is specific to gke, kubernetes-jenkins seems to have a build up of routes as well though it has higher quota

[2016-01-18 04:30] thockin commented on #3760
The way that Services are expressed in Kubernetes allows a single pod to be
fronted by any number of Services, so this breaks down - we don't know what
to SNAT to.

On Sun, Jan 17, 2016 at 6:13 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-01-18 04:33] MikaelCluseau commented on #3760
On 01/18/2016 03:31 PM, Tim Hockin wrote:

That's why I limited the case to a many-to-one (my first sentence :-)).
I'm just trying to draw a line around what can be done or not.

[2016-01-18 04:44] thockin commented on #19497
Mostly SGTM, a few Qs

On Sat, Jan 16, 2016 at 4:25 PM, Prashanth B <notifications@github.com> wrote:

Why a Ref and not a Name ?

Doesn't this say that port 80 is using TLS?  I would have expected to see:

[code]

So no listeners implies insecure 80?  Where is that documented?

[2016-01-18 04:45] thockin commented on #3760
Sure, I just have the unfortunate job of pointing out why it's not a
general enough solution :(

On Sun, Jan 17, 2016 at 8:34 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-01-18 04:51] MikaelCluseau commented on #3760
On 01/18/2016 03:46 PM, Tim Hockin wrote:

Yeah... but its a FAQ. We could also put, somewhere, "if len(services)
== 1 { implement stateless } else { implement stateful }". But this may
look like a mess to the newbies. I could also be a contrib/elbs/something...

[2016-01-18 05:06] thockin commented on #3760
It's not even something we currently track (the number of Services that
front a given pod).  We could, I suppose.  I am not against it (even if it
seems niche).  It sounds like a substantial change to make for having so
many caveats.  I would like to think about better answers, still.

On Sun, Jan 17, 2016 at 8:51 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-01-18 05:15] luxas commented on #19227
I do not have push permission, so I can't...

[2016-01-18 05:18] MikaelCluseau commented on #3760
On 01/18/2016 04:07 PM, Tim Hockin wrote:

I agree, but don't have any better idea for now :-(

Even a purpose built SDN would need to track something I suppose. Maybe
label-based solutions like MPLS..?

[2016-01-18 05:30] pmorie opened #19780 "ResourceQuota for ConfigMap"
The number of ConfigMaps in a namespace should be controllable via `ResourceQuota`.

@derekwaynecarr @bgrant0607

[2016-01-18 05:40] pmorie opened #19781 "Size limit for ConfigMap"
Currently we do not enforce any size limits on ConfigMap.  The limit for secrets is 1MB.  I think 1MB is on the small side for what some people might want, and suggest we consider up to 5MB.   The main questions are what the upper limit on a single piece of config data is and what granularity we want to quota total storage on.

@bgrant0607 @smarterclayton @thockin @erictune  @eparis @liggitt
cc @k

[2016-01-18 06:21] AdoHe commented on #19766
@thockin I thought about this for a while: if we pass the `configureCBR0` bool down to here, of course we can check this flag, if it is set, we should set veth hairpin mode, but problem is that if user set this flag,  but still use a custom network plugin just like you mentioned the ovs plugin, I am afraid we will still enable hairpin mode in all interfaces on this host, since we cannot find a pee

[2016-01-18 06:22] MikaelCluseau commented on #3760
On 01/18/2016 04:18 PM, Mikaël Cluseau wrote:

In the idea of labelling things... if we assign one IP per service + one
IP per endpoint (service+pod couple), and add these endpoint IPs to the
pods, it should work fully stateless:

[code]

[2016-01-18 07:27] thockin commented on #3760
I can't make this work on GCE, and I am not sure about AWS - there is a
limited number of static routes available.

I wonder if I could do it by piggybacking 2 IP ranges together in a single
route.  It's a lot of IPs to spend, but I guess it only matters for UDP.
I'll have to try it out.

Edit: I tried it out and couldn't make it work, but I'm missing something.
We'll have to add/remove IPs in con

[2016-01-18 07:30] thockin commented on #19766
Yeah, I think the better fix is to use the existence of a network plugin as
an indicator.  It sort of makes --configure-cbr0 redundant

On Sun, Jan 17, 2016 at 10:22 PM, TonyAdo <notifications@github.com> wrote:

[2016-01-18 07:55] sttts commented on #19589
@AdoHe it's a GKE cluster with 1.1.3.

[2016-01-18 07:58] MikaelCluseau commented on #13375
The line with the log:
https://github.com/kubernetes/kubernetes/blob/916ddbca654a429868321e3e583982a01bb8d55c/pkg/kubelet/network/hairpin/hairpin.go#L49

It should be easy to add a command-line flag.

[2016-01-18 08:12] AdoHe commented on #19766
@thockin ok, I will try to get rid of the default no-op plugin and use the non-existence of a plugin as a flag to control this.

[2016-01-18 08:14] AdoHe commented on #19589
@sttts this is kind of tricky, I will try to find the root cause.

[2016-01-18 09:23] Random-Liu commented on #19657
Close this issue because #19690 has been merged. If similar error occurs again, feel free to reopen this issue.

[2016-01-18 09:23] #19657 closed

[2016-01-18 09:49] gmarek opened #19786 "kube-up scripts should not assume that all nodes have to be ready."
Currently even if one Node is NotReady startup scripts fail. We should drop this requirement as we're allowing bigger clusters now. In big clusters few Nodes may fail to register in time (or at all), as e.g. virtual machine startup may fail (various cloud providers have different SLO's on machine startup success rates).

We should decide on percentage, smaller than 100, of machines that are requir

[2016-01-18 09:50] gmarek commented on #18969
I't happening WAY more frequently now. Pretty much every second run, which means we're on 99,95%, which, I guess is a decent SLO, with which we can leave with assuming that scripts will be more resilient to failures. Opened #19786 for this.

[2016-01-18 09:51] gmarek commented on #19542
If I manage to find time - it has low priority now, as we had serious performance regression during the weekend.

[2016-01-18 09:54] gmarek commented on #18334
It's a very rare flake - we have way more serious things to do first (like current perfromance regression).

[2016-01-18 10:03] Roconda commented on #18975
T2.micro might be too limited for kubernetes. When running kubernetes on AWS for a testing period of 24h the master node was reaching the CPU credit limit constantly without heavy load on the cluster. And after a while it stops responding.
I'll try to spin up a cluster with other instance types.

[2016-01-18 10:24] sdminonne commented on #19475
I'm OK for Image Name.
@pmorie @thockin @yujuhong if for you it's OK I'll modify the name of this issue.

[2016-01-18 10:25] hlamer commented on #19228
Setting `KUBE_SERVER` to `localhost:8080` produces error described at  #12534

If I understand correctly, now there are no API server accessible by kube2sky container in single-node docker mode.
I tried to use https://10.0.0.1, which is available if `kube-proxy` is running. But kube2sky needs https certificates. Probably this problem will be fixed by  #17213

So, now docker single node tutorial do

[2016-01-18 10:32] hlamer commented on #12534
A hint for guys who faced the same problem: I got the error `Failed to list *api.Service: couldn't get version/kind; json parse error: invalid character '<' looking for beginning of value` because of misconfigured kube2sky. My `kube_master_url` was `127.0.0.1:8080`, but `127.0.0.1:8080` is the address of `healthz` in the kube-dns` port. And `healthz` responds with some HTML or XML.

[2016-01-18 10:58] MikaelCluseau commented on #3760
I'm trying on my side to get something (with pure netns on my local host
for now).

I'm trying an approach where I affect service IP ranges to hosts to
reduce the number of routing entries:

# cli -- elb -- h1 -- c1
#          |     `--- c2
#          `--- h2 -- c2

h1_ep_ip_ranges=( 10.1.1.0/24 10.1.2.0/24 )
h2_ep_ip_ranges=( 10.1.3.0/24 )

No ping ATM (packets not going through the PREROUTING ch

[2016-01-18 11:41] kristofferpeterhansel commented on #18975
Currently we run a test cluster with etcd running on t2.nano instances and Kubernetes running on t2.small. And it seems to just exactly work. When Kubernetes does a lot of stuff it does get fairly close to the memory limit on both the node types. But so far it hasn't broken

[2016-01-18 12:11] sharpevo opened #19788 "kubectl run --command not work"
Hi all,

I know I should not ask this question here, but all the following codes failed to run the specific command:
- `kubectl run NAME --image=IMAGE --overrides='{...}' --command -- 'cmd -a1 -a2'`
- `kubectl run NAME --image=IMAGE --overrides='{...}' --command -- cmd -a1 -a2`
- `kubectl run NAME --image=IMAGE --overrides='{...}' --command 'cmd -a1 -a2'`
- `kubectl run NAME --image=IMAGE --overri

[2016-01-18 12:29] ddysher commented on #18572
Sorry for late reply.

I've tried hard to reproduce this but with no luck.  Nor do I have any clue of what the wrong 'kubernetes' service IP address is.  I'm closing this as it's not reproducible, will re-open if it happens again.

[2016-01-18 12:29] #18572 closed

[2016-01-18 14:52] ncdc commented on #19781
A 1MB cap for an entire ConfigMap is potentially too low. I remember we talked about how to account for the resources (memory/disk) used by secrets, config, etc, in terms of if it is possible to charge it to the namespace vs the Kubelet, but I don't recall if we came to a resolution.

[2016-01-18 15:02] smarterclayton commented on #19781
The limit is 1MB because that's the limit for etcd.

[2016-01-18 15:26] pmorie commented on #19781
Sounds like a 1MB limit for ConfigMap is the ceiling for now then.  I'll make a PR.

[2016-01-18 16:01] MikeSpreitzer commented on #19221
@dalanlan - oh, I somehow overlooked the fact that kube-up calls download-release.sh.  I have been exercising the one with the outdated reference all this time.  Now I am going to test release 1.1.4 from github.com/kubernetes/kubernetes.

[2016-01-18 16:15] #18907 closed

[2016-01-18 16:16] derekwaynecarr commented on #19780
I agree.  At the next API-machinery sig, I want to chat through the best way of handling this dynamically so people don't need to write code.

[2016-01-18 16:42] jdef commented on #19672
it's worth noting that it's a dependency of `appc/spec`:
[code]

[2016-01-18 16:47] smarterclayton commented on #17354
Can we argue some more about this?  We keep hitting this in a number of levels:

* making it easy to deploy test / dev clusters that have persistent storage without requiring a side-by-side deployment of a storage server (gluster, ceph, nfs, etc) for non-cloud environments
* encouraging the use of persistent volumes to design and build applications without having to have "two paths" (one for persi

[2016-01-18 16:47] smarterclayton commented on #17354
@thockin this is gradually creeping up into my "top-10 things people regularly yell at me about Kubernetes that we could sidestep by making PV easier to use off-cloud"

[2016-01-18 16:55] timothysc commented on #19637
@magicwang-cn +10k, but you would need to support the storage interface and configure the shard the api-server.  As of today, you can shard events to a separate etcd.

[2016-01-18 16:59] timothysc commented on #19773
@bprashanth please /cc @kubernetes/sig-scalability on these issues.

[2016-01-18 17:00] imesh commented on #19770
Cannot see any problems in the master. Can you please attach the output of kube-up.sh and the logs of minions?

[2016-01-18 17:10] MikeSpreitzer commented on #19221
@pwais: regarding https://github.com/kubernetes/kubernetes/issues/19221#issuecomment-172246849 --- I just tested a configuration in which one machine is both master and worker and two additional machines are just workers.  It worked.  Following are some relevant excerpts from `config-default.sh`.
[code]

I am using Ansible to automatically update `nodes`, `role`, and `NUM_NODES` in `config-default

[2016-01-18 17:23] timothysc commented on #19637
@mikedanese please add label area-performance for tracking.

[2016-01-18 17:33] pmorie commented on #19097
PR for this is #18298

[2016-01-18 17:35] hongchaodeng commented on #19773
We have observed similar spikes caused by GC before. API server has been using unreasonable amount of memory -- double the size of etcd.

We can't access the link. @bprashanth @gmarek Can you share more information such as what to run to reproduce, logs, etc.

We can help look into it. If it's related to GC spike, the right thing to do is decrease memory footprint.

/cc @xiang90

[2016-01-18 17:40] timothysc commented on #18266
please label area-performance

[2016-01-18 17:52] MikeSpreitzer commented on #19221
I tested with download-release.sh setting `KUBE_VERSION=${KUBE_VERSION:-"1.1.4"}` a couple of times, and they worked.

[2016-01-18 17:53] timothysc commented on #19773
Yup, this is part of the reason why we were pushing to get golang 1.5 in for 1.2

Do we have a profile to determine what you mean by "unreasonable"

[2016-01-18 17:56] Pensu commented on #19284
@mwielgus @mikedanese Any thoughts?

[2016-01-18 18:10] hongchaodeng commented on #19773
In #15064, there is discussion on memory footprint. I'm planning to have more detailed profile by this quarter.

The thought on top of my head is that api server just keeps a cache of etcd, but it uses twice memory than etcd. This sounds unreasonable. If anyone has thoughts, let me know.

[2016-01-18 18:27] justinsb opened #19796 "AWS should use docker 1.8.3 (like GCE does)"
GCE updated docker, but only via a base-image update.

AWS should match versions of docker, to slipstream off all the testing that GCE gets.

This will be slightly complicated because docker 1.8.3 isn't in the https://storage.googleapis.com/kubernetes-release/docker/ bucket AFAICT.

Thanks to @brendandburns for the tip.

[2016-01-18 18:38] bprashanth commented on #18334
Flakes are rare, yes. I leave it to you to prioritize.

[2016-01-18 18:39] imesh commented on #16906
@cdpb Can you please explain the cause of this issue bit further?
Thanks

[2016-01-18 18:57] angelalay commented on #18117
Okay, verified that TLS handshaking issue is definitely due to compiling with go 1.5. Switching back to go 1.4 solved the issue I was seeing.

[2016-01-18 19:20] hanikesn commented on #19701
Here's a workaround using shell scripts to check for a shutdown flag:

[code]

[2016-01-18 19:52] aronchick opened #19798 "DNS not resolving though all keys are there in etcd?"
Here are some details, and why this is important for my next step in testing:

1. I can resolve any outside DNS
2. etcd appears to have all keys updating correctly, along with directories (as expected)
3. Local-to-Kubernetes DNS queries doesn't appear to be working against the etcd datastore, even though I can manually query for key-values.
4. This is the next step that I need to complete before I

[2016-01-18 20:18] cdpb commented on #16906
@imesh sure:

no working service file:

[code]

working service file

[code]

So it seems that the kubernetes service name set a environment variable or whatever that disturbed the pod from beeing started.
So just rename your svc metadata name and everything is fine.

[2016-01-18 21:23] jdfless commented on #19738
As an addendum - I found the hyperkube image which is nicely tagged - but the above images should still either be deprecated or brought in line. Also, the docs still need to be upgraded. This issue may duplicate https://github.com/kubernetes/kubernetes/issues/11751.

[2016-01-18 21:34] aronchick commented on #19798
I've moved this to stack overflow - http://stackoverflow.com/questions/34864488/dns-not-resolving-though-all-keys-are-there-in-etcd

[2016-01-18 21:34] #19798 closed

[2016-01-18 22:35] timothysc commented on #19655
I think this issue is moot with https://github.com/kubernetes/kubernetes/pull/19436 in.

cpu profile is drastically different, closing and will reopen if needed.

[2016-01-18 22:42] timothysc opened #19801 "BUG: Container start race with new kubelet cache enabled."
So overhead w/ https://github.com/kubernetes/kubernetes/pull/19436 has been greatly reduced, but I do notice some containers seem to fail to start due to a race.

[code]

overall time to fill appears to take longer as a result.

/cc @kubernetes/sig-node @kubernetes/rh-cluster-infra @jeremyeder  @yujuhong

[2016-01-18 23:58] ghodss opened #19805 "kubectl apply should be able to delete objects missing from supplied config"
The declarative configuration workflow described in #1702 implies that you can give kubectl apply a set of objects and all changes will be applied. One change that is trickier is to declaratively apply is the deletion of an object when a spec is missing. After all, how does kubectl apply know which objects to delete were previously created by kubectl apply and therefore should be deleted vs create

[2016-01-19 00:28] emaildanwilson commented on #13748
I think having a direct CNAME option would be more desirable for cluster users that don;t have access to manage DNS configurations, possibly other use cases. However, I could see how this could get out of control with lots of CNAMES for resources that already exist in another DNS server anyways. I don't think that is what anyone would want. If all we're doing here is providing a way to access serv

[2016-01-19 00:45] smarterclayton commented on #13748
Well, the use case is specifically to create local indirection to make
the local application  portable.  A forwarder configuration is global,
not local, or in the control of the cluster admin, not the local code
that is running inside a namespace.

I tend to agree with Tim that additional names has little value above
and beyond the single name - and also that a service of this type
tends not to be

[2016-01-19 01:03] krancour opened #19808 "local-up-cluster.sh not working because of dependencies w/out go code"
`local-up-cluster.sh` seems to fail locally on my Mac:

[code]

This bit in particular gets to the heart of the matter:

[code]

If I do the following, I'm back in business:

[code]

I suppose this raises a question of why those dependencies exist if they don't contain any code.  Should they be removed?

[2016-01-19 01:09] thockin commented on #13748
TLS definitely makes this harder.
On Jan 18, 2016 4:46 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2016-01-19 01:30] ghodss opened #19809 "kubectl apply should only submit a PATCH if something has changed"
If you run kubectl apply on an unchanged replication controller several times in a row, it sends a PATCH every time. It should either only generate a PATCH in the first place if the server state needs to be changed, or only send a PATCH if the generated PATCH would change the state of the server.

cc @kubernetes/sig-config

[2016-01-19 01:56] ztao1987 opened #19811 "Kubernetes pods hung at the status of Terminating"
I deployed zookeeper pods using replication controller. When I deleted the replication controller, the zookeeper pods hang at the status of Terminating. My kube version is v1.1.1. Even if I shutdown all the minion nodes, the status of zookeeper pods is still Terminating. Currently I have the environment available. Could you please kindly advice what kind of debug info I need to provide?

core@mast

[2016-01-19 04:42] bprashanth commented on #19497
Name is good enough. I guess we decided the same thing for Backend ->ServiceName too.

[code]

That's right. That will serve insecurely on :80. Specifying a bunch of ports in the same listener, like so:
[code]
Leaves it to the backend. It could either redirect all ports to the first one, actually write out a redirect rule of the form "http://foo.com -> https://www.foo.com", or just serve https on

[2016-01-19 04:46] smarterclayton commented on #13748
Do you agree it's important?  The idea of services abstracting remote
endpoints is (in my head) paired with the ability to trust the remote
endpoint.  The age of trusting the network as secure is over.  If
services are the foundation of the next generation of apps, not
understanding how transport security becomes integral seems to leave a
large story unsolved.

[2016-01-19 04:46] smarterclayton commented on #19497
Although we use local object reference everywhere else...

[2016-01-19 04:56] thockin commented on #19497
On Mon, Jan 18, 2016 at 8:43 PM, Prashanth B <notifications@github.com> wrote:

I don't mind that, but it's not at all obvious.

Why not require 1 listener?  Or At least document that no listeners
gets defaulted to a single non-tls listener on :80

[2016-01-19 04:57] thockin commented on #19497
We have no consistency on this.  Object reference makes sense if the type
or apiversion matter.  If it is known to be a Service, serviceName is
simpler.

If we had consistency, I would not object, but we don't.  v2 should.

On Mon, Jan 18, 2016 at 8:47 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-19 04:58] hongchaodeng commented on #18266
IMHO increasing cache size is not a scalable option.
I think there is fundamental problem in the current implementation that we should fix.
Here's my analysis:
-

BTW, client

[2016-01-19 05:01] hongchaodeng commented on #18266
IMHO increasing cache size is not a scalable option.
I think there is fundamental problem in the current implementation that we should fix.
Here's my analysis:

In [cacher.Watch](https://github.com/kubernetes/kubernetes/blob/60fc2bc09e0fad9a41bd027f9d59abcd10f937d8/pkg/storage/cacher.go#L251-L251), if the version is too old and not in the cache, it just returns error.
[code]
I think the correct be

[2016-01-19 05:12] thockin commented on #13748
I agree it is important for this use case, though there's a certain amount
of "left hand better know what right hand is up to".  If you're importing
an ELB or something that you control the backend for, make sure your certs
cover appropriate names.

If you're importing, e.g., google.com - I'm not sure what to do with that.

On Mon, Jan 18, 2016 at 8:46 PM, Clayton Coleman <notifications@github.com

[2016-01-19 05:13] mqliang commented on #19315
I can help with this

[2016-01-19 05:41] smarterclayton commented on #19497
A concern I have with the current spec is that defining the listening ports conveys no useful information.  The implementation of the router is what makes the decision on what ports to expose - saying 80 and 443 here mean nothing to the implementation (it doesn't provide useful info to the implementation).  Saying that you desire TLS termination is a very explicit intent.  Saying that you desire t

[2016-01-19 05:45] trungduyvu commented on #16083
+1 for this as well

[2016-01-19 05:50] thockin commented on #3760
I got a bit farther, but something I should have predicted happened.

I set up a pod with 10.244.2.8/25 as its main interface and 10.244.2.250/25
as its "in-a-service" interface.  I was hoping that I could send UDP to
.250 and detect responses, to SNAT them.  But of course, if the client is
not in the same /25 (which it can not be) the default route kicks in, which
comes from the .8 address.  tcpd

[2016-01-19 06:16] shenshouer commented on #12533
I have the same error with kubernetes v1.1.4 and CoreOS 928.0.0:
[code]

[2016-01-19 06:58] minxinping0105 opened #19814 "Kubernetes on Ubuntu hava a problem "NUM_NODES: unbound variable", how to slove it ?"
root@ubuntu:/kubernetes# KUBERNETES_PROVIDER=root ../kube-up.sh
... Starting cluster using provider: root
... calling verify-prereqs
TODO: verify-prereqs
... calling kube-up
TODO: kube-up
... calling validate-cluster
../../cluster/../cluster/validate-cluster.sh: line 32: NUM_NODES: unbound variable

[2016-01-19 07:16] davidopp commented on #19786
@roberthbailey

[2016-01-19 07:26] jtbcgdv opened #19815 "release to gcr.io"
I'm setting up a cluster using the coreos team's template.
However, it pulls from gcr.io/google_containers/hyperkube and version v1.1.4 is not available.

How soon after 'releasing' a version in github do you push to the container registry?

[2016-01-19 07:51] AdoHe commented on #19811
@ztao1987 Can you try to restart all your kubelet processes on minion nodes and see the pod status?

[2016-01-19 08:06] magicwang-cn opened #19816 "High Availability of Kube-apiserver"
i have saw the k8s's High Availability [proposals](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/high-availability.md), can we use **Active-Active**  instead of  **Warm Standby**?
if not, what's the reason?

i have a test with multi kube-apiserver, seems works fine, see as follows:

- 50 nodes
- 2 kube-apiserver instances with front proxy to talk to nodes:
![multi-apiserver](

[2016-01-19 08:08] magicwang-cn commented on #19816
@davidopp @lavalamp @gmarek

[2016-01-19 08:09] AdoHe commented on #19814
@minxinping0105 what kind of your kubernetes version?

[2016-01-19 08:12] wernight commented on #17489
Can someone please comment on good solutions? I mean LEMP is extremely common, I wouldn't put most web services directly without a Nginx/Apache proxy (many would be vulnerable or break like Flask/Bottle).

[2016-01-19 08:19] AdoHe commented on #19816
I think <b>Active-Active</b> is not that easy since this requires data replication happens through system capability and be bi-directional.

[2016-01-19 08:22] mqliang commented on #19315
@bgrant0607 https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L652

[code]
Why this is an array? I think it should be a map.

[2016-01-19 08:23] magicwang-cn commented on #19816
@AdoHe thank you for your reply.
could you have a specific description?

[2016-01-19 08:49] magicwang-cn commented on #18266
+1

[2016-01-19 08:54] ztao1987 commented on #19811
@AdoHe  unfortunately I have stopped the minion nodes, only master node exist now. Is there any other workaround?

[2016-01-19 09:26] sa-mao commented on #19770
Hi I think that there is no issue here since after some long time the cluster come up. So thanks anyway. I will close that issue.

[2016-01-19 09:26] #19770 closed

[2016-01-19 09:33] gmarek commented on #19053
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10425/

[2016-01-19 10:11] gmarek commented on #18266
@hongchaodeng - I'm not sure if it's not scalable enough. Memory is cheap, and having, say 5000 Nodes times 100 pods/node gives ~500k entries. Storing everything would probably take small few GB of memory for a huge cluster (assuming reasonable format of storing data, not JSON). Currently we're really low on memory usage on master side, and I'm not sure it's worth optimizing for it. I think curren

[2016-01-19 10:20] gmarek commented on #19816
cc @thockin

I think the question is why would you need an Active-Active. It's harder (everything gets harder if you're trying to distribute the logic - e.g. schedulers on both machines need to see the same state of cluster, and we want to somehow avoid huge number of collisions, somehow handle network partition and rejoining API servers) and I'm not sure it gives us enough to justify writing more

[2016-01-19 10:29] kargakis opened #19817 "list option in kubectl label/annotate"
I want to be able to see the current labels (or annotations) of a resource w/o getting the whole configuration.
This should probably be supported in kubectl {label,annotate} either by just passing the resource or via a `--list` option.

@kubernetes/kubectl

[2016-01-19 10:38] davidopp commented on #19816
A couple of clarifications:

1) We actually have already implemented HA. It is described here
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/high-availability.md
We should remove the proposal doc you found (or at least mark it deprecated with a pointer to the doc I mentioned); sorry for the confusion.

2) For our master components, terms like active-active and hot/warm standby don

[2016-01-19 10:40] dalanlan commented on #19814
@minxinping0105 Try `$ KUBERNETES_PROVIDER=ubuntu` instead. Also you might have problems when you have wrong CWD. Please stick to the doc.

[2016-01-19 10:48] magicwang-cn commented on #19816
@davidopp Great!
I see. What i asked is just about kube-apiserver. I know it is tricky to support active-active of controller-manager and scheduler, tks.

[2016-01-19 10:52] magicwang-cn commented on #19816
/cc @kevin-wangzefeng @HardySimpson

[2016-01-19 10:58] magicwang-cn commented on #19816
i have tested with replicated API servers, one scheduler and one controller-manager what you mentioned.
and find the problem:
nodes can not be ready completely, and from the log of kubelet, i see sometimes kubelet can not dial a tcp connection with haproxy(`just timeout`)

[2016-01-19 11:02] magicwang-cn commented on #18266
/cc @davidopp @alfred-huangjian

[2016-01-19 11:07] magicwang-cn commented on #19637
@timothysc yes. i have already shard events to a separate etcd, but in large cluster, it is works bad. so maybe store events to database or kafka is a better way.
anyone else do it?

[2016-01-19 11:10] magicwang-cn commented on #19637
@alfred-huangjian @HardySimpson @kevin-wangzefeng

[2016-01-19 11:32] mqliang commented on #19816
One problem is that we may need enable ***quorum read*** when apiserver send request to etcd, otherwise ControllerManager/Scheduler/Kubelet may get old data.

We deployment k8s as follows to make api-server high availabe.
[code]

But we found that ControllerManager/Scheduler/Kubelet may get old data since apiserver doesn't quorum read etcd. To solve this problem we add an option to api-server to e

[2016-01-19 11:36] dalanlan commented on #19816
+1 for linearity. I guess it wont bite anyone to enable quorum read if the number of etcd is limited.

[2016-01-19 11:39] shilpapadgaonkar opened #19818 "Unauthorized access error"
Hello,
When I try to access
https://public-ip/api/v1/proxy/namespaces/kube-system/services/monitoring-grafana I get Unauthorized access error. Could you please let me know the correct way to access the endpoints.. I have installed the monitoring-influx-db-grafana stack while installing Kubernetes.

Thanks

[2016-01-19 11:56] magicwang-cn commented on #19816
@mqliang can you share your nginx configuration? and what's your k8s cluster version? thank you.

[2016-01-19 12:09] jayunit100 commented on #19637
I'm pretty sure Kafka is indeed a better way, the write througput should work much better for an event stream, because I think the node receiving the writes isn't frozen. So the durability guarantee is cheaper than the strong type of key level consistency etcd provides, which forces all writes to go through the same node.

[2016-01-19 12:13] mqliang commented on #19816
@magicwang-cn I am sorry I could not share our nginx configuration here. As far the k8s cluster version, we use V1.0. But I read the latest source code of k8s, apiserver does ***NOT*** quorum read by default.

There are two cases where we may read old data if we have multi api-server:
1) When a etcd member is isolated from etcd cluster, we can still read from it(but all the write request sent to t

[2016-01-19 12:23] magicwang-cn commented on #19816
/cc @hongchaodeng @xiang90

[2016-01-19 13:09] errordeveloper commented on #11984
@pmorie said:

(https://github.com/kubernetes/kubernetes/pull/6936#issuecomment-94083734)

It's not clear from the whole #6936 thread whether that ever been investigated...

[2016-01-19 13:12] errordeveloper commented on #11984
I wonder if #6936  was done with the assumption that either `SHARED` or `SLAVE` propagation was enabled in Docker?

[2016-01-19 14:11] Lastpixl commented on #19453
This issue was resolved in https://github.com/kubernetes/kubernetes/pull/19522.

[2016-01-19 14:11] #19453 closed

[2016-01-19 14:13] balooo opened #19822 "kubectl update/replace not working for resources quotas"
We create a resource quota using:

`kubectl --namespace=tools update -f quota.yaml`

quota.yml
[code]

Then doing :

`kubectl --namespace=tools update -f quota.yaml`  or `kubectl --namespace=tools replace -f quota.yaml`

results in

[code]

If the initial resource was created with:

quota.yml
[code]

Then any subsequent updates/replaces work as expected.  (i.e. including `resourceVersion: "0"` in

[2016-01-19 15:26] chengyli commented on #9043
What's the difference between this proposal and "kubectl replace/patch"?

[2016-01-19 15:33] #19818 closed

[2016-01-19 15:41] onorua commented on #1615
BTW, shared PID namespace with the POD is really good idea for Java based applications with memory leak protection. As you might know, Linux kernel doesn't allow -9 signal to be send to PID 1 process, even if it's inside separate namespace. So, in case java app is doing OOM `kill -9`, it will be ignored. If we share PID namespace with POD container, we will have PID 1 as the "sleep" process, and t

[2016-01-19 15:50] derekwaynecarr commented on #19801
Have the Googlers seen similar conditions using docker with cgroupfs?

[2016-01-19 16:12] nyxcharon opened #19825 "Container Termination Discrepancy for Exit Code 137"
In the documentation [here](http://kubernetes.io/v1.1/docs/user-guide/compute-resources.html#my-container-is-terminated)  it shows a pod using too much memory and is promptly killed.
When this happens it shows the error reason as "OOM"  and error code as 137 in the docs. When I go through similar steps myself, the termination reason is just "Error", though I do still get the 137 error code. Is the

[2016-01-19 16:14] bprashanth commented on #19497
Hmm, are you saying the users shouldn't be allowed to ask for a different port? you might be running postgres with tls and require a different port no?

[2016-01-19 16:25] bgrant0607 commented on #19315
@mqliang https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#lists-of-named-subobjects-preferred-over-maps

[2016-01-19 16:27] bgrant0607 commented on #19315
@mqliang At this point, we should just document in types.go that this type is deprecated and will be removed from extensions/v1beta1.

[2016-01-19 16:31] quinton-hoole commented on #19786
@gmarek It's going to be tricky to implement this policy reliably and have tests pass correctly in the face of failed nodes.  The problem is that most test jobs provision the correct number of nodes to accommodate the tests, and some tests probably implicitly assume that all provisioned nodes come up correctly.  I'm fully supportive of fixing those tests where required.  But be warned, whoever imp

[2016-01-19 16:39] bgrant0607 commented on #18528
The Scale resource needs to be updated to use LabelSelector.

[2016-01-19 16:41] bgrant0607 commented on #18528
Or it could return the string that should be passed as the label selector query parameter.

[2016-01-19 16:48] bgrant0607 commented on #19825
cc @vishh

[2016-01-19 16:54] bgrant0607 commented on #19822
In general, please ask questions on stackoverflow first.

Please read about updates:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/managing-deployments.md#in-place-updates-of-resources

In this case, I recommend trying kubectl edit or kubectl apply.

[2016-01-19 16:54] #19822 closed

[2016-01-19 16:58] bgrant0607 commented on #19822
Looks like the text about replace was removed. You can see it here:
http://kubernetes.io/v1.0/docs/user-guide/managing-deployments.html#in-place-updates-of-resources

I'll get it restored.

You need to specify the correct resourceVersion. kubectl edit is an easy way to do that.

[2016-01-19 17:00] timothysc commented on #19637
@magicwang-cn If you are interested in writing a storage wrapper for kafka I'd be happy to give an overview at the scalability-SIG meeting, and give an update re: #18542

[2016-01-19 17:01] bgrant0607 commented on #19822
Ah, the text I was looking for is now under the edit documentation, but it was moved after the paragraph about resourceVersion, so it's less clear.

[2016-01-19 17:03] bgrant0607 commented on #19817
#19689 doesn't do what you want?

[2016-01-19 17:06] thockin commented on #19754
I think this is safe, even more so if we install proper node-level health
checks for cloud load-balancers.

On Fri, Jan 15, 2016 at 7:15 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2016-01-19 17:28] gmarek commented on #19637
cc @mwielgus @piosz

[2016-01-19 17:40] kargakis commented on #19817
`kubectl label svc/registry` without any provided labels right now fails while it could show me just the labels of the service. `kubectl annotate svc/registry` could list all the service annotations in a similar fasion.

[2016-01-19 17:43] ihmccreery commented on #19551
@swagiaal #19505 has been merged; if you send a PR, I will review it. Thank you!

[2016-01-19 18:20] erictune commented on #1615
@onorua I can see how it would be a good idea to run a process other than java as PID 1 (e.g. `bash -c  'java'` instead of `java`).

But I think this problem exists for systems without Pods too.  So I'm not sure it should influence the design of Pods.

related to @onorua issue: https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem/).

[2016-01-19 18:29] vishh commented on #1615
Linux treats Pid 1 specially. [Here](http://engineeringblog.yelp.com/2016/01/dumb-init-an-init-for-docker.html) is one way to solve it. As @erictune mentioned it is not an issue with the pod concept.

[2016-01-19 18:33] ericchiang opened #19828 "Proposal: gRPC implementation of authorizer plugin"
# Proposal

We'd like to start building services that drive authorization with k8s, but to do this we need the API server to make a remote call for this information. I'd like to propose an [authorizer plugin](http://kubernetes.io/v1.1/docs/admin/authorization.html#plugin-development) that uses gRPC.

This would both solve our needs and be useful for others who are developing authz plugins, as they

[2016-01-19 18:34] ericchiang commented on #19828
@sym3tri @bobbyrullo

[2016-01-19 18:35] ihmccreery commented on #19779
Note that we [fail on resource leakage](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L645), so we probably saw failed runs at some point.  Not that anyone was necessarily paying attention.

My guess is that when it went yellow/red for other reasons, and no one paid attention to the leaked resource warning/error.

[2016-01-19 18:36] ihmccreery commented on #19779
Long-term, we have #18119 to make this better.

[2016-01-19 18:42] AdoHe commented on #19816
@magicwang-cn  in Active-Active schema, we have to make sure the view of the cluster in a consistent way, for example the scheduler in different machines have to see the same state of the cluster.  For etcd since it use majority based leader election, if you don't use quorum read, you may get stale read. I think @xiang90 knows more detail.

[2016-01-19 18:48] vishh commented on #19801
@derekwaynecarr: Our e2e infra doesn't test with systemd yet. The node test suite that @pwittrock is working on should catch such issues.

What version of docker is this? The error seems to be from docker. Why is it writing to cpu cgroup directly instead of going through systemd?

[2016-01-19 18:58] janetkuo commented on #19437
This issue is now fixed by #19768.

[2016-01-19 18:58] #19437 closed

[2016-01-19 19:02] smarterclayton commented on #18266
Memory in etcd and master server will continue to be optimized through protobuf over the next few releases, so we'll be reducing a significant amount of I/O and garbage.  Etcd3 should also reduce total memory use.

[2016-01-19 19:04] smarterclayton commented on #13748
I think 40% of the real world cases for this will be on cluster resources
accessing off cluster resources that have TLS for a known name where we
won't also sign for something on cluster.  The rest to me seem like things
deployed as components across namespaces that want to talk securely - those
will likely certs signed for the cluster and can sign the names they want.

On Tue, Jan 19, 2016 at 12:

[2016-01-19 19:05] bprashanth commented on #19779
Oddly, when I opened up one of the clusters and checked the before-after routes it didn't seem to show the leaked ones. I didn't dig too deep at this point. It looked like the failed routes were from instances.

[2016-01-19 19:36] timothysc commented on #19801
@vishh
Stack configuration:
fedora 23
k8's tip-of-master
etcd 2.2.1
docker 1.9.1
go 1.5.2

[2016-01-19 19:38] emaildanwilson commented on #18233
I agree that it's cleaner to call /health and make that route the same as /<latest>/health but due to the framework used for this project it's not handled that way. Following the HTTP standards is important as well, right? curl handles this with an additional option (-L), could we do the same by adding a parameter?

[2016-01-19 19:42] deads2k commented on #18528
I left unsure of whether or not we would extended the `APIResourceList` to include subresources.  I'd like to include that information to make it easier to determine whether something is scalable (or loggable, or bindable, etc).

[2016-01-19 19:48] vishh commented on #19188
The proposal SGTM. Keeping the cache updated in the background will help
reduce the pod startup latency.

On Tue, Jan 5, 2016 at 2:59 AM, TonyAdo <notifications@github.com> wrote:

[2016-01-19 20:05] thebeardisred commented on #19757
@pmorie That actually was incredibly helpful and I feel like an idiot. Once I turned up the logging I noticed that I was pulling in an old version for the apiserver. This was because I was using the podmaster from a clustered solution and didn't remove the old pod configs. Once I fixed that (embarrassing) oversight everything is working awesomely. :)

[2016-01-19 20:05] #19757 closed

[2016-01-19 20:12] pmorie commented on #19757
@thebeardisred :+1:

[2016-01-19 20:18] timothysc commented on #18266
@hongchaodeng @magicwang-cn you should see the error in the logs, is the log data available?

[2016-01-19 20:19] madhusudancs opened #19830 "Constraint solver to determine overlapping label selectors"
Today, when we want to determine resources with overlapping selectors, for example overlapping replication controllers, we check if the selector of one resource matches the selector of the other and vice-versa. This is easy to do with the current map{string->string} selectors.

But determining overlaps in the case of new label selectors need a more sophisticated constraint solver. Implement one.

[2016-01-19 20:25] lavalamp commented on #19479
Update is a totally separate kind of operation from create, and IMO needs to have a different admission mechanism. Specifically, I think you need an admission call that passes the old object and the proposed object (patched, if appropriate).

Otherwise, you have no way to forbid certain transitions. Just because the initial and final states are independently valid, it does not necessarily mean tha

[2016-01-19 20:26] mikedanese commented on #15310
We still need to revert #16478 and #17318

@davidopp is anyone working on #12744? Do we need to pick this up?

[2016-01-19 20:27] smarterclayton commented on #19479
I had proposed that before and completely agree.  It's fairly involved
today because we'd have to deal with guaranteed update and commit
retries.

[2016-01-19 20:27] mikedanese commented on #12744
I'm moving this into v1.2 milestone since we need it to graduate daemonset?

[2016-01-19 20:34] bgrant0607 commented on #18528
I'm going to update this PR with areas I think we agreed upon and proposals for areas that haven't yet been resolved.

First, areas of agreement:
* status.currentCPUUtilizationPercentage will not be changed in v1. spec.cpuUtilization.targetPercentage will be changed to spec.targetCPUUtilizationPercentage in v1.
* spec.targetCPUUtilizationPercentage isn't actually set to 80% by default. The comment

[2016-01-19 20:37] pmorie commented on #19808
@krancour I believe there was an issue where packages in the AWS go sdk moved, and you're probably seeing the old ones.  I'm in between meetings now, but will do a search later.

[2016-01-19 20:43] lavalamp commented on #16500
Sorry, I was OOO. I'm back for real now.

I think the thing in question in this issue is where to locate the /scale subresource; we had a meeting earlier today but did not fully decide. I think when we left @bgrant0607 is going to write up something.

I'm tentatively in favor of `https://apiserver/api/v1/replicationcontrollers/myrc/subapis/extensions/v1beta1/scale` (clients can find it with discov

[2016-01-19 20:45] davidopp commented on #12744
@HaiyangDING said it will be done by the end of the week but can you explain why you think it's needed for 1.2? We can always continue to (figuratively) copy-paste code between the scheduler and Kubelet, as we're doing today. This issue is just a way to make this less hacky/error-prone by factoring it into a library.

[2016-01-19 20:46] timothysc commented on #12744
For * middle-ground things we've been labeling as 1.2-candidate.

[2016-01-19 20:51] lavalamp commented on #19273
Yeah, that is a big downside to actually physically splitting into separate repos. I think for now we should not expect to physically do that split, but we *should* arrange our repository so that such a split would involve *only* moving files and vendoring *without* any code changes whatsoever.

[2016-01-19 20:51] mikedanese commented on #12744
In https://github.com/kubernetes/kubernetes/issues/15310#issuecomment-160033364 @davidopp said:

We have 3 options:

* This is either v1.2
* we need to find another way to revert #17318 safely
* we can demote this and daemonset to v1.2-candidate.

[2016-01-19 20:52] ixdy commented on #17524
Theory currently being tested: the Jenkins master had a stale version of the `golang:1.4.2` docker image, and the build was using this (since its Dockerfile only specifics `golang:1.4`). The Jenkins slave would've had a more recent golang image (probably 1.4.3).

[2016-01-19 20:56] smarterclayton commented on #19273
And we should absolutely put import protections in place stat, so that we
fail merges that cross those boundaries

On Tue, Jan 19, 2016 at 3:51 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-19 20:57] lavalamp commented on #19273
Yes, absolutely-- I plan to start on that as soon as I dig out from under
the mountain of email and PRs.

On Tue, Jan 19, 2016 at 12:56 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-19 21:02] bgrant0607 commented on #18528
Proposal regarding scaleRef:

* Rename scaleRef to scaleTargetRef
* The reference should be to the parent resources, not to the scale subresource. The scaleTargetRef must support the scale subresource and the user won't be able to choose a different subresource, which is reasonable, since the controller will only understand scale and, indeed, only specific versions of scale. The user shouldn't car

[2016-01-19 21:04] deads2k commented on #16500
I prefer `https://my-kube-apiserver/api/v1/replicationcontrollers/myrc/scale` and updating the `APIResourceList` or `APIResource` to include subresources (which I think are needed in general) and include the group,version,kind that the subresource deals in.

[2016-01-19 21:06] deads2k commented on #18528
@smarterclayton @liggitt bump for the new conversation

I like the idea of doing this.  It provides useful information to the clients and gives a `RESTStorage` implementation the option of being forgiving on input and output.

[2016-01-19 21:14] luxas commented on #19815
That's fixed with #19061, and will be done automatically since `v1.2.0`
Now they do it manully

[2016-01-19 21:21] roberthbailey commented on #19786
@jlowdermilk

[2016-01-19 21:22] luxas commented on #19738
This has been fixed in #19061, but it will show up first in `v1.2.0` releases unfortunately

[2016-01-19 21:43] thockin opened #19831 "Use ConfigMap for cluster-config"
We have a lot of params that we use salt or other provisioning to plumb from top-level configs down to flags (kubelet, kube-proxy, controller-manager, etc).

Now that ConfigMap is pretty much in, we should start to spec out how we can use it to carry that same information instead of flags.

@mikedanese @justinsb

[2016-01-19 21:48] mikedanese commented on #19831
Once we finish moving components to [componentconfig API group](https://github.com/kubernetes/kubernetes/tree/master/pkg/apis/componentconfig) this should just be salt changes.

[2016-01-19 21:50] thockin commented on #19831
note, I am not just talking about per-component flags, but some flags are
truly cluster-wide, and we should model that.

On Tue, Jan 19, 2016 at 1:49 PM, Mike Danese <notifications@github.com>
wrote:

[2016-01-19 21:51] mikedanese commented on #19831
Ahh okay.

[2016-01-19 21:57] thockin commented on #18233
I think it should follow local redirects without complaining (can well
differentiate local vs non?).  The real question is non-local redirects -
should it a) work, b) not work, c) work iff a flag-field in the probe

On Tue, Jan 19, 2016 at 11:38 AM, Dan Wilson <notifications@github.com>
wrote:

[2016-01-19 22:02] ixdy commented on #19779
It also seems like the script doesn't work well on GKE...

Compare e.g.
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gke-ci/10398/artifacts/gcp-resources-cluster-up.txt?debugUI=DEVELOPERS
 vs
https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce/10434/artifacts/gcp-resources-cluster-up.txt?debugUI=DEVELOPERS
(cl

[2016-01-19 22:16] lavalamp commented on #16076
This seems like a major regression that we need to fix ASAP and add a test. I will fix it myself unless one of @caesarxuchao, @nikhiljindal, or @krousey have time?

[2016-01-19 22:19] thockin commented on #19029
Renaming to better reflect issue

[2016-01-19 22:23] lavalamp commented on #19483
Wow, that is super super ugly. I did not LGTM whatever added "SecondClosestCommentLines"

I was actually thinking that I *want* these things to show up in the documentation, as they convey information that is plausibly useful to humans, and that we should adjust the format until it's not hideous.

[2016-01-19 22:28] lavalamp commented on #19252
I think the logs make it pretty clear what went wrong:

[code]

@janetkuo or @nikhiljindal, does one of you have time to fix this?

[2016-01-19 22:41] lavalamp commented on #19467
The error is in recovering the service IP allocations:

[code]

This seems like some sort of legit problem in https://github.com/kubernetes/kubernetes/blob/c059dfdb9bf05fc3dec96243b6101cf84f2db4ef/pkg/registry/service/allocator/etcd/etcd.go#L198 or the arguments that it's called with.

@thockin Can you delegate to the current owner of this code?

[2016-01-19 22:42] fluxrad commented on #19634
See below:

[code]

[2016-01-19 22:50] smarterclayton commented on #19483
I was thinking: "Generates to protobuf message Foo" or something similar,
with a leader like "GENERATES()" or something similar.

On Tue, Jan 19, 2016 at 5:23 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-19 22:51] smarterclayton commented on #16076
I may have time this week but I'm not sure.

On Tue, Jan 19, 2016 at 5:16 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-19 22:52] marun opened #19834 "default vagrant libvirt image is broken"
The latest vagrant always restarts nfs when nfs is used to share folders:

https://github.com/mitchellh/vagrant/commit/c4733a02d483818c3e9a99f1e94582d9a43593ae#diff-843e141393278f0e09aa01c731529258R22

This doesn't work with the default kube libvirt image:

https://github.com/kubernetes/kubernetes/blob/master/Vagrantfile#L72

Attempting to restart nfs (systemctl restart nfs) on this image results

[2016-01-19 22:56] lavalamp commented on #19483
That SGTM

On Tue, Jan 19, 2016 at 2:51 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-19 22:57] ixdy commented on #19252
The Jenkins docker test image probably needs netcat to be installed. Should be an easy fix; I can take this.

[2016-01-19 23:01] lavalamp commented on #19252
Thanks!

[2016-01-19 23:11] kevin-wangzefeng commented on #19437
Thanks for the update.

[2016-01-19 23:18] #18153 closed

[2016-01-19 23:29] lavalamp commented on #19562
Sorry for delay, I was OOO--

If you have the logs from the kubelet, that would be what we need, it seems to be the misbehaving component. Just the 15 minutes after 2016-01-12 07:14:09 +0000 UTC when it posted its last heartbeat.

[2016-01-19 23:32] ihmccreery commented on #19724
It looks like Events are now listed under `"default-scheduler"`: #17865 was the original backward-incompatible change, and #19009 fixed the e2e tests.

@kubernetes/kube-api I assume this isn't considered a breaking API change, so I will prepare a PR to make the tests forward-compatible, unless I hear otherwise.

[2016-01-19 23:32] kevin-wangzefeng commented on #18969
/cc @magicwang-cn @HardySimpson You may want to take a look.

[2016-01-19 23:33] ihmccreery commented on #19724
Or, is there any reason we can't just call the default scheduler "scheduler", like we had before, to maintain backwards-compatibility?

[2016-01-19 23:36] ihmccreery commented on #19724
Confirmed that **Events..** and **MaxPods...** (in 1.0) are suffering from the same problem.

[2016-01-19 23:56] caesarxuchao commented on #18960
@spxtr, I still see `output: fatal: Not a valid object name upstream/release-1.1` in recent Jenkins builds, do you know why? Thanks.

[2016-01-20 00:00] bgrant0607 commented on #19724
First, specific events don't have the guarantee of API stability. Not a breaking change. I know people want to depend on this, but I don't want them to. Think of it like a log message. It's for users, not for programs.

In this specific case, I wasn't aware of the change and would be fine with reverting it.

cc @davidopp

[2016-01-20 00:04] ihmccreery commented on #19724
@kubernetes/goog-control-plane How would you all feel about changing the default scheduler name back to "scheduler"?

[2016-01-20 00:04] spxtr commented on #18960
Yes, I was checking them out as just release-1.1, not upstream/release-1.1. I changed it, let me know how it works.

[2016-01-20 00:12] ihmccreery commented on #19227
We can't merge #17213 and then retroactively call it part of v1.1.4.  If it gets in before v1.1.5, it'll take effect then.  Sorry.

[2016-01-20 00:14] ihmccreery commented on #19227
cc @david-mcmahon

[2016-01-20 00:17] ihmccreery commented on #19227
Hm.  Also, #17213 is against `master`, not the `release-1.1` branch, so it'll either be rolled into `v1.2.0` or you'll have to backport it to the `release-1.1` branch.

[2016-01-20 00:19] caesarxuchao commented on #18960
@spxtr Thanks. Is it possible to check them out as upstream/release-1.1? I hope the name can be as specific as possible, because if a user named a local branch as `release-1.1`, it will cause #18047 behave strangely.

[2016-01-20 00:24] spxtr commented on #18960
Try again. It should work now.

[2016-01-20 00:29] dchen1107 commented on #19118
I took a look with both gke / gce soak test today, and here are current status:

1) all tests requiring network connectivity failed now. Looking into it with @ArtfulCoder, and found we cannot talk to our own dns server. dns server pods are running successfully at ready state. Nodes are also at ready state.
2) most runs are timeout
3) the only test related to kubelet is resource_tracking one. I wil

[2016-01-20 00:29] dchen1107 commented on #19118
cc/ @thockin

[2016-01-20 00:33] ixdy commented on #17524
After reverting the Jenkins master to `golang:1.4.2`, both the master and release-1.1 scalability suites passed again, so it's looking more and more like this is the root cause (though I don't understand why).

cc @gmarek

[2016-01-20 00:35] bgrant0607 commented on #18528
The question came up during the meeting why we need the selector at all:

Without the selector, something doing scaling wouldn't have a polymorphic way of knowing what it's scaling, so it couldn't make any decisions.

The count of the current number of replicas is needed to determine whether the scaling has occurred or not. For that purpose, we may want to add generation and observedGeneration, al