[2022-06-29 07:42] ityuhui commented on #106536
Thank you @mx-psi !

May I know the etcd upgrade progress ? ( e.g. an issue or PR link )

I need this upgrade to OpenTelemetry in Kubernetes repo to fix some security vulnerabilibies.

[2022-06-29 07:44] sftim commented on #110835
More work for contributors (code review, security review, comms) I guess. SIG Node folks would have a view on reward vs effort here.

[2022-06-29 07:45] opg7371 commented on #110814
Apologies for delayed response.

Yes, that would definitely work because  the tuple for same UDP src and dest will always be different because src port is always different.

My test case is a very general test case -
I'm setting up a cluster based on IPVS, all UDP data grams sent from firewall with fixed source IP and fixed source port, so  pseudo-random balancing based on client IP and port won't

[2022-06-29 07:48] mx-psi commented on #106536
I am afraid my knowledge ends here :) Maybe @dashpole can help answer that?

[2022-06-29 07:54] aojea commented on #110814
/remove kind-bug
/kind feature
/area ipvs

@uablrek you are the expert here

[2022-06-29 07:59] aojea commented on #110856
/close

Thanks for the report but this is how kubernetes works, you can read more about control loops and controllers in this page

https://kubernetes.io/docs/concepts/architecture/controller/

[2022-06-29 07:59] #110856 closed

[2022-06-29 08:13] aojea commented on #110780
the key is in the `initNodePorts` , it doesn't consider the HealthCheckNodePort, you can see that goes through the spec and loops over all the nodePorts specified and allocate new ones.
I remember there were several corner cases here due to the random allocation and the possibility of mutate or specifiy NodePorts ... and I vaguely remember that we decided to let it fail for conflict resolution , l

[2022-06-29 08:27] harry1064 commented on #110780
Yes sure. Let's wait for Tim. I think you mentioned him earlier in this issue as well. Do we need to mention him again?

[2022-06-29 09:11] 249043822 commented on #110818
what's the probability for your to reproduce the problem? if possible, you can set the kubelet log level to 4, and feedback the log

[2022-06-29 09:29] neolit123 commented on #110855
Please see
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-06-29 09:29] #110855 closed

[2022-06-29 09:31] pohly commented on #110854
The main problem seems to be that the `testing.T` instance becomes unusable once the test it was created for terminates. Running the test locally repeatedly, I got the data race and:
[code]

One the one hand, keeping goroutines running in the background after test completion is bad and should be avoided. On the other hand, this used to be okay(is) in the past (it just made the global log output ev

[2022-06-29 09:38] twilight0620 commented on #110793
The following is my understanding. I am not sure whether it is correct:
If you go into the code of 'if discovery.IsGroupDiscoveryFailedError(err) && len(newResources) > 0',
it means the group discovery has errors, then the newResources should not be continue handling.
Even if the value of newResources is overwritten by the value of oldResources,
the results of the following comparison 'reflect.Dee

[2022-06-29 09:49] uablrek commented on #110814
I'll take a look at it. But I soon be on vacation so please don't expect a quick answer.

[2022-06-29 10:42] sayananavya commented on #101695
Team, Does anyone has fix for this vulnerability? What packages need to be changed/updated??

Thanks in advance.

[2022-06-29 10:51] bjethwan commented on #62013
/reopen

[2022-06-29 11:26] es1o commented on #110832
It was a race condition because of ArgoCD.

I have external script for scaling deployment.
Script scales deployment to 10 and ArgoCD immidiatelly scale down to number of replicas described in Deployment configuration. The same situation when I scalled up manually.

[2022-06-29 11:27] #110832 closed

[2022-06-29 11:35] fengpengyun commented on #110793
@twilight0620 What GetQuotableResources(discoveryFunc) returns is not necessarily wrong, it may be the correct data in the execution error。

[2022-06-29 11:43] harry1064 commented on #110854
Hi @pohly

Isn't systemDbus defer function get called earlier
https://github.com/kubernetes/kubernetes/blob/f4abde9e57cc30efcc8f79c9ebd791d15f4164c4/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go#L380-L390

therefore following line get executed immediately. Hence, testing.T instance became unusable before go routines inside `Start` function finishes.
https://github.com/kubernetes/kube

[2022-06-29 12:37] akankshakumari393 commented on #110146
Hey,  can I take a stab on it? if no one is working on it?

[2022-06-29 13:07] pohly commented on #110854
`TestRestart` is a red herring (= not relevant). The unexpected output must be coming from one of the other unit tests, for example:

https://github.com/kubernetes/kubernetes/blob/dafa55be106730eaacb740e20b999b84848c6ac5/pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux_test.go#L692

We have to add `defer ktesting.Stop(logger)` after such lines.

[2022-06-29 13:08] felixhuettner commented on #91444
/remove-lifecycle stale

[2022-06-29 13:11] pohly commented on #110854
Scratch that. The version of TestRestart that you linked to doesn't use ktesting, but master does.

[2022-06-29 13:21] pohly commented on #110854
Hmm, does this test also have other data races?

After adding `ktesting.Stop`, I get:
[code]

That's a race around setting and calling `systemDbus`.

When checking out the version prior to my contextual logging change, I get:
[code]

Trying again gives me the same race I saw earlier:
[code]

https://github.com/kubernetes/kubernetes/blob/d796dd7d0f0d40157dea8e8d9c9c5cee107e13f7/pkg/kubelet/nodeshut

[2022-06-29 13:26] pohly commented on #110854
That probably also would fix the non-logging race, too. I bet it is the goroutine from one test which reads `systemDbus` (because line 200 gets called in a loop) while another test sets it.

[2022-06-29 13:45] danwinship commented on #110627
I don't really have any more information, I'm just reading between the lines of #110564

[2022-06-29 14:02] rajnikhil17 commented on #110818
Even I am encountering this Issue.
We have a cronjob which runs on a schedule basis.

When it complete doing its job,
Kubelet is trying to unmount the mounted nfs.

Kubelet Logs are getting piled up.

And then Kubelet is watching more files and making inotify watch count increase.
Eventually making Node to get Slowed Down.

Once the  Inotify watch count Increased till the limit.
Kubelet is able to

[2022-06-29 14:05] liggitt commented on #109077
no one has picked it up, but it remains important

[2022-06-29 14:21] painhardcore commented on #91552
2yo mark is achieved 🥇

[2022-06-29 14:30] sftim commented on #110850
This is a “bug report” about the behavior of the `list` verb.

/transfer kubernetes

[2022-06-29 14:34] sftim commented on #110866
@Kevin-Li-Webjet the Kubernetes API is working as designed. Thanks for taking the time to file the report.

It is surprising when you first encounter it, but not a bug in Kubernetes. If you want to, you're welcome to point out pages in the documentation where it'd help to emphasize this point.

If you want to request an API mechanism to allow listing objects but not accessing their `.spec` and / o

[2022-06-29 15:03] uablrek commented on #110814
Yep, NAT problems it is. The trace below is from inside a POD;
[code]
When the no-ops loadBalancerIP is used the reply comes with the loadBalancerIP as source. But when clusterIP is used the reply is from the POD.

[2022-06-29 15:09] opg7371 commented on #110814
Sorry closed by mistake

[2022-06-29 15:09] opg7371 commented on #110814
Thank you for taking your time to test it and provide valuable feedback.

I have not tested the ops option for the UDP traffic coming from outside to the cluster.

I have tested the same for when pod belonging to one type of services (say A) sends the UDP packet to multiple pods belonging to another type of services (Say B). I have performed my testing on following type of setup.
[code]

To includ

[2022-06-29 15:10] opg7371 commented on #110814
Sir please look at this link -
https://github.com/kubernetes/kubernetes/issues/110814#issuecomment-1169660569

[2022-06-29 15:18] opg7371 commented on #110814
Our primary purpose is to distribute the UDP traffic inside the cluster over multiple pods. The proxy in our case accepts TCP traffic and then convert it into UDP traffic for the real servers.

We can provide the solution for ops option for all the services per port (SEP endpoint). It will be automatically disabled for the TCP oriented connections and will be applicable for UDP based traffics.

I

[2022-06-29 15:18] liggitt commented on #110750
ah, good catch... so this is a test-only issue, but still one we need to resolve, so the unit test reflects reality of storage versions when you actually start a kube-apiserver

[2022-06-29 15:29] akankshakumari393 commented on #108588
Hi @aojea I want to take this.

[2022-06-29 15:33] akankshakumari393 commented on #110645
@mattcary I would want to work on it. Let me know if this issue is still valid.

[2022-06-29 15:35] mattcary commented on #110645
I think @humblec is looking into it (see #110826)

[2022-06-29 15:59] aojea commented on #108588
It is not clear what is the goal and the sig here, but is not sig-network :smile:

[2022-06-29 16:07] alculquicondor commented on #106361
We are probably good to remove this timeout altogether at this point.

/remove-lifecycle stale

[2022-06-29 16:11] gnoam opened #110867 "[Failing test] ci-kubernetes-unit test failing"
### Which jobs are failing?

[sig-release-master-blocking: ci-kubernetes-unit](https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit)

### Which tests are failing?

`k8s.io/kubernetes/pkg/kubelet/nodeshutdown.TestMain`

### Since when has it been failing?

28-06-2022

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit

### Reason for failure

[2022-06-29 16:58] uablrek commented on #110814
What you are requesting is a special implementation for a particular use-case; Round-robin sheduling per-packet for internal UDP traffic where you don't care about return packets. The feature would also be available only for proxy-mode=ipvs.

While this is not hard to implement, e.g. with an annotation in the service, features must also be tested in CI, documented and maintained. K8s maintainers (

[2022-06-29 18:12] harry1064 commented on #110854
Hi @pohly
I was thinking, if the  purpose of contextual logging is to test the logs content. Can we comment out the line

https://github.com/kubernetes/kubernetes/blob/master/vendor/k8s.io/klog/v2/ktesting/testinglogger.go#L279

This way we will not be calling `Log` on  instance of `*testing.T` and it will not panic. As, lines after already collect the string in buffer, we will still be able to te

[2022-06-29 18:33] rajaie-sg commented on #68083
Ran into the issue with all annotations being dropped when the timeout value was provided as an integer instead of a string. Quoting the value helped. Didn't see any errors that indicated that was the issue, so I'm glad I came across this thread.

[2022-06-29 18:44] #93792 closed

[2022-06-29 18:50] daveoy commented on #110357
interestingly, this may be a quirk of containerd --

on the same host as the above test with docker, we're running
[code]
with docker as the container runtime. the observed behaviour that generated this issue / pr is from kubernetes 1.23.3 with containerd as the container runtime.

looking at a container running under kubelet 1.19.8 on this host, there is no domain or search directives inside /etc

[2022-06-29 19:07] pohly commented on #110854
I tried to ensure that all goroutines terminate, but some functions blocked in some test cases. So a "proper" solution might not work and we need something like https://github.com/kubernetes/klog/pull/337

[2022-06-29 19:08] pohly commented on #110867
/close

This is a duplicate of https://github.com/kubernetes/kubernetes/issues/110854.

[2022-06-29 19:08] #110867 closed

[2022-06-29 22:52] allensiho opened #110870 "kubectl debug not copying all contents of original pod to new debug pod"
### What happened?

Running below command

kubectl debug some-dotnet-3.1-pod  -n rtlapi-uat-scan  --set-image=scan-metrics=dotnet-runtime-with-tools:3.1 --copy-to=some-dotnet-3.1-pod -debug

should copy all the files the some-dotnet-3.1-pod  to the debug pod

But when I run the command and uses `ls`  command into the new pod I only see two files copied

The pod does have a sidecar Istio which seem

[2022-06-29 23:12] blowfishpro commented on #90519
You definitely have to be careful updating the selector - if the pods don't already have those labels the controller won't associate them with the statefulset and will try to create pods that already exist.  If you add the new labels first though it seems to work fine.

[2022-06-30 00:59] Kevin-Li-Webjet commented on #110866
@sftim thanks a lot
again, If "list" is designed as a superset to "get", then when will give "list" in verbs, if "get" should automatically work will help confusion by intuition for new users?

will close this ticket

[2022-06-30 00:59] #110866 closed

[2022-06-30 01:20] 249043822 commented on #110750
@liggitt As this pr https://github.com/kubernetes/kubernetes/pull/109394 would remove the storageversion override， so after this pr merged, the testcase would be just right, then we don't need another pr to fix the testcase again, right?

[2022-06-30 02:06] kerthcet commented on #89930
/remove-lifecycle rotten

Just want to shout out where are we now? Is there anything left? cc @damemi

[2022-06-30 02:22] niulechuan commented on #110870
/sig cli

[2022-06-30 02:26] Huang-Wei opened #110871 "Optimize scheduler's FitError"
### What would you like to be added?

Scheduler's [FitError](https://github.com/kubernetes/kubernetes/blob/b2ed6ca64f55452cdb4063d62920dddccd4344f7/pkg/scheduler/framework/types.go#L223) wraps info to diagose a pod's scheduler failure. The object is dumped to system event, and also injected into a pod's status. However, the way FitError is currently dealt with is not efficient in the following asp

[2022-06-30 02:26] Huang-Wei commented on #110871
/assign

cc @ahg-g @alculquicondor

[2022-06-30 02:49] Huang-Wei commented on #110871
/sig scheduling

[2022-06-30 05:12] #94901 closed

[2022-06-30 05:47] kbansod commented on #90077
I am trying to change my template to use **networking.k8s.io/v1** from _networking.k8s.io/v1beta1_

My pod gets created/deployed but it doesn't create any routes.

My ingress example is attached. I am not able to figure what would be missing. Please help me out.
[ingress.yaml.txt](https://github.com/kubernetes/kubernetes/files/9016754/ingress.yaml.txt)

**Environment details:**

kubectl version
Cl

[2022-06-30 05:55] harry1064 commented on #110854
in https://github.com/kubernetes/klog/pull/337, new Stop method will only solve the panic case, right? Go routines will still leaks from the test cases.
And for contextual logging, where the function we want to test spawn a go routine, we will not be able to test the log content, right?

[2022-06-30 06:03] pohly commented on #110854
Correct.

The test would have to ensure that the goroutine is done with logging before checking the output.

[2022-06-30 06:12] harry1064 commented on #110854
Then we have to change our functionality under test to have the ability to inject something like a channel and then in the test we have to listen on that chan, in this way we can keep the `*testing.T` to not return until we read from that channel.
But that would be a lot of changes in code base, I assume.

[2022-06-30 07:02] chendave opened #110873 "kubeadm: `cleanup-node` failed due to crictl is configured in debug mode"
### What happened?

```kubeadm reset phase cleanup-node``` prints out some warning messsage:

And the pod on that node is not removed eventually.

### What did you expect to happen?

all the pods could be removed at last.

### How can we reproduce it (as minimally and precisely as possible)?

Have a crictl installed on the node with the config like this,
[code]

And then run below command,
```kube

[2022-06-30 07:02] chendave commented on #110873
/sig cluster-lifecycle
/assign

[2022-06-30 07:05] chendave commented on #110873
The root cause is that when the debug mode is configured, `crictl` will print out some debug message, e.g.

DEBU[0000] ListPodSandboxRequest: &ListPodSandboxRequest{Filter:&PodSandboxFilter{Id:,State:nil,LabelSelector:map[string]string{},},}
DEBU[0000] ListPodSandboxResponse:

While our code interpret everything here as a Pod ID and try to rm them.

[2022-06-30 07:06] chendave commented on #110873
We cannot stop other to enable the debug mode for `crictl` but we should ignore those debug message in our code.

[2022-06-30 07:38] aryan9600 commented on #108319
cc: @uablrek @andrewsykim

[2022-06-30 07:50] MadhavJivrajani commented on #110734
@harry1064 your understanding is correct. However, in this case doing so would not help because we pass the `pred.Limit` to `etcd` and we only get those many elements. Filtering through selectors and labels happen after those elements are retrieved.

See:
https://github.com/kubernetes/kubernetes/blob/1d811065345bfe9f3be7f6757a9938c1760180c7/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L

[2022-06-30 08:30] l1b0k commented on #90298
/remove-lifecycle stale

[2022-06-30 08:52] pacoxu commented on #107802
/close
The last run succeed.
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-containerd-soak-cos-gce/1542037897643823104

[2022-06-30 09:04] tossmilestone opened #110881 "Nodeshutdown test failed due to data race"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

`TestFeatureEnabled/shutdownGracePeriodRequested_0;_disables_feature` test failed with `data race`

### Since when has it been flaking?

It should be introduced by #98088

### Testgrid link

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110858/pull-kubernetes-unit/1542073307128401920

### Reason for fail

[2022-06-30 09:09] chendave opened #110883 "kubeadm: [reset] Pods cannot be removed after cluster is upgraded to 1.24"
### What happened?

upgrade the cluster from 1.23 to 1.24 and then `kubeadm reset` to destroy the cluster, the Pod cannot be destroyed and hit the below exception,

[code]

The reason is that we removed the interfaces to remove the docker containers in this pr: https://github.com/kubernetes/kubernetes/pull/107317. And instead, the logic is handled by `crictl` CLI only.

Current logic is that `kube

[2022-06-30 09:11] chendave commented on #110883
/sig cluster-lifecycle
/assign

I am happy to add back the interfaces to remove the docker containers if you think that is make sense.

[2022-06-30 09:16] sspreitzer commented on #106267
I would like to add to this issue that it would makes sense to have kube-proxy reduce the subset of endpoints in the endpointslice based on the `topology.kubernetes.io/zone` label of the node and the `zone` & `conditions` attributes of the endpoint. Taking only into consideration the first endpoint which is in the same zone of the node or has no zone dependency and is ready for serving.

Would it

[2022-06-30 09:20] xiaofengzs opened #110884 "Node's EXTERNAL-IP is none"
Hi, all
I setup a single node k8s on the Ubuntu 20.04.4 LTS. It's on the Tencent cloud machine. I found the external ip of the only one node is node. When i test the NodePort service, the external ip will be used. But it's none. So i can not access NodePort service.
How to assign a external ip to the node?

vm-24-11-ubuntu   Ready    control-plane,master   45h   v1.22.10   10.0.24.11    <none>

[2022-06-30 09:22] xiaofengzs commented on #110884
/sig node

[2022-06-30 09:36] pohly commented on #110854
Yes. So is that a problem in the kubelet shutdown tests?

[2022-06-30 09:55] FillZpp commented on #68737
Update: a new KEP for this https://github.com/kubernetes/enhancements/pull/3412

[2022-06-30 10:03] sspreitzer commented on #106267
kube-proxy should understand which zone a node is in and prefer endpoints in the same zone.

[2022-06-30 10:23] shay-berman commented on #108427
@tamalsaha i have the same issue,
how can I delete all kubedb from cluster including these mutations and validation to avoid blocking namespace deletion?

[2022-06-30 10:35] kerthcet commented on #110836
Thanks @shaoqin2 , in theory, this will happen quite frequently when we have lots of namespaces to sync with, as you saw in your clusters. But from a different perspective, when we restart the scheduler, we'll `WaitForCacheSync` before scheduling, so at that moment, we have no unschedulable pods, right? If so, this doesn't matter.

[2022-06-30 10:44] MartinKosicky commented on #36222
yes if you are working on linux

[2022-06-30 11:02] tamalsaha commented on #108427
You can delete the apiservices, mutatingwebhookconfiguration & validatingwebhookconfiguration using `kubectl delete`. If you need further help, please email us directly. I don't want to litter this community thread with vendor specific stuff.

[2022-06-30 11:25] TBBle commented on #97739
/remove-lifecycle stale

This is still a thing that needs to happen, unless a decision is made to reject this approach, in favour of, e.g., going all-in on CDI or similar.

[2022-06-30 11:31] aojea commented on #106267
but that is unrelated to this issue, topology is considered

https://github.com/kubernetes/kubernetes/blob/91aca10d5984313c1c5858979d4946ff9446615f/pkg/proxy/topology.go#L140-L147

See KEPs related, topology-aware-routing was replaced by topology-aware-hints

https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/536-topology-aware-routing
https://github.com/kubernetes/enhancement

[2022-06-30 11:49] pohly commented on #110854
Let's keep this issue focused on what needs to be fixed in pkg/kubelet/nodeshutdownmanager.

[2022-06-30 12:20] sspreitzer commented on #106267
@aojea
thank you for clarifying. It seems ambiguous to me to have a zone attribute and a hint attribute.
I fail to implement the hinting on a service in v1.23.8, but this is urelated to this issue.

[2022-06-30 12:32] harry1064 commented on #110884
Hi @xiaofengzs
According to the documentation,https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
you can access your service on <NodeIP>:<NodePort>
<NodeIP> would be your IP of tencent cloud machine, but in this case you need to open <NodePort> on you cloud machine or use your cloud provider load balancer to route traffic to your <NodePort>

Otherwis

[2022-06-30 12:35] harry1064 commented on #110854
Yes, sure.

[2022-06-30 12:49] neolit123 commented on #110883
I am not in favor of reverting that PR. Can you just workaround this in your environment?

I think the right thing to do here is migrate your cluster to containerd before upgrading.

[2022-06-30 12:51] neolit123 commented on #110883
/transfer kubeadm
Kubeadm issues should be logged at k/kubeadm

[2022-06-30 13:07] tozka commented on #31147
I see there's KEP? Is there any way to follow the implementation progress?

[2022-06-30 13:26] kapiljain1989 commented on #110514
I see this issue was labeled as "good first issue" and I would like to start working on it!

[2022-06-30 13:47] kapiljain1989 commented on #106361
/assign

[2022-06-30 13:50] fabianberisha commented on #106361
/assign

[2022-06-30 13:50] fabianberisha commented on #106361
done. thanks!

[2022-06-30 14:56] aojea commented on #106267
heh, don't worry, this topic is complex and we went through different solutions, you have more historical context on the KEPs I linked above and this thread in the mailing list https://groups.google.com/g/kubernetes-sig-network/c/wXd1D_fKjqU/m/SEwjsOfpAAAJ

[2022-06-30 15:12] zabrox commented on #106361
/assign

[2022-06-30 15:20] liggitt commented on #110750
the test would still be exercising preferred version ordering without any overrides, which would still be incorrect, and would resurface problems as soon as another override is added

[2022-06-30 16:06] backjo commented on #110849
FWIW, we're seeing similar behavior on Amazon EKS Windows Nodes running 1.22.6

[2022-06-30 16:18] #88820 closed

[2022-06-30 16:35] dgrisonnet commented on #110815
/cc

[2022-06-30 16:38] dgrisonnet commented on #110722
/triage accepted
/assign @dgrisonnet @raptorsun

[2022-06-30 16:50] leilajal commented on #110750
/triage accepted

[2022-06-30 16:53] kapiljain1989 commented on #106361
@alculquicondor Could you please guide for this Issue
are you suggesting we should not check cache before assigning the pod and need other way around?

[2022-06-30 16:54] leilajal commented on #110810
/assige @seans3 @Jefftree
@weilaaa thanks for helping, I also added more people who are working on this!
/triage accepted

[2022-06-30 16:57] leilajal commented on #110821
/assign @leilajal
/triage accepted

[2022-06-30 17:26] data-dude commented on #81723
Something more specific than Killing would be very helpful

[2022-06-30 17:40] vinaykul opened #110890 "[FG:InPlacePodVerticalScaling] KEP update and documentation items for alpha"
### What would you like to be added?

This is a living issue to track all the documentation and KEP update tasks before In-place Pod Update feature goes alpha.

- 06/28/2022 SIG-Node meeting: Update KEP to keep it in-sync with CRI changes from PR review _(removal of ContainerStatus from UpdateContainerResourcesRequest message)_
- 06/30/2022 SIG-Scheduling meeting TODO A/I. "_document the racing co

[2022-06-30 17:40] vinaykul commented on #110890
/assign vinaykul

[2022-06-30 17:42] #110873 closed

[2022-06-30 17:43] jsturtevant commented on #110828
Updated the VMS with a new [cloudbase-init patch](https://github.com/cloudbase/cloudbase-init/issues/94#issuecomment-1170057704) and fixed and issue with nodes getting killed due to long provisioning times: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2439

the last 6 runs have passed.  The cloudbase-init could cause some more provisioning errors but we are getting closer to

[2022-06-30 17:44] #110828 closed

[2022-06-30 18:44] jzelinskie commented on #66430
@lauraseidler I also ended up doing similar, so I took your command and threw it into a script.

However, I'm still not getting the resources pruned using kustomize and `--prune -l`

Here's my script

[code]

[2022-06-30 18:45] shan100github commented on #110722
@raptorsun ,
1) Adding option to display node name on execution of `kubectl top pod` as suggested by you seems to be good and easy for investigation
[code]

2) Already @yangjunmyfm192085 made a PR https://github.com/kubernetes/kubernetes/pull/110801 and that seems to be better readability and output is something similar to `ls -lh` in linux.

[2022-06-30 18:49] x13n commented on #110186
@kerthcet would you like to finish that PR?

[2022-06-30 19:10] jsturtevant commented on #110849
Thanks for creating a seperate issue on this.
/triage accepted

I think @daschott initially thought this might be related to https://github.com/kubernetes/kubernetes/issues/109162 where syncing proxy rules takes a long time but since you are able to restart and the rules come back in a few minutes this doesn't seem related.  (the fact that it takes a *few minutes* to sync is but dropping them in t

[2022-06-30 19:11] jsturtevant commented on #110849
A few more questions:

- Are you able to reproduce this at all?
- Are you aware of any related events that cause this to happen?
- Something like node restart, or redeploying multiple pods at the same time or something else major changing in the system?
- Does it happen to only one node or all nodes?

[2022-06-30 19:14] jsturtevant commented on #110591
/close
we merged the backports that fix this for older versions.  As discussed at sig-windows, We are not going to include changes for 1.24+ as we would like cni's and other components to use the latest hns APIs.

[2022-06-30 19:14] #110591 closed

[2022-06-30 19:20] jsturtevant commented on #110325
@JiaruiTracy unfortunately the docs at: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/adding-windows-nodes/ where not accurate for containerd.  We have since removed those specifics.  When setting up the node you can't include the nat cni configuration that those docs had initially pointed at.  if you remove that, install Flanneld as service, and only include the flannel CNI configur

[2022-06-30 19:30] vinaykul commented on #110890
/sig node

[2022-06-30 19:56] alculquicondor commented on #106361
FTR, I'm considering @kapiljain1989 assigned to this issue, as they were the first to get assigned.

You can see that in #106412 we increased the timeout. We want to get rid of the timeout. Then, we can just get rid of the logic that uses the timeout to remove some pods from the cache.

[2022-06-30 19:59] shubhamsre commented on #25238
In our case (deployment via Helm chart) we just removed the replicas field from the deployment manifest and let the hpa to handle all of it.

[2022-06-30 20:28] Tony-Sol commented on #56402
Totally agree with @toastal

[2022-06-30 20:43] jsturtevant commented on #108886
/milestone clear

[2022-06-30 20:47] jsturtevant commented on #110839
The instance that flaked is https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-capz-master-containerd-windows/1540527521752158208

[2022-06-30 20:47] jsturtevant commented on #110839
/sig windows
/sig node

[2022-06-30 20:49] jsturtevant commented on #51540
The job dashboard is https://testgrid.k8s.io/sig-windows-signal#windows-unit-master

With the other PR's hope seet those turn green. 🚀

Thanks for all the work! It looks like some of the PR's to fix/add like https://github.com/kubernetes/kubernetes/pull/110864 have found actual issues.

[2022-06-30 20:54] #110605 closed

[2022-06-30 21:21] #107313 closed

[2022-06-30 21:36] jzelinskie opened #110893 "`--prune` does not function with `--server-side`"
### What happened?

If you attempt to use `kubectl apply --server-side --prune`, nothing is pruned.

This is unfortunate because you pretty much have to use server-side apply these days in order to get around issues with CRDs reaching max-size annotation.

Sorry to name & shame, but many popular operators have this issue:

[code]

### What did you expect to happen?

I expected the whitelisted type

[2022-06-30 21:37] jzelinskie commented on #110893
/sig cli

[2022-06-30 21:58] yuanchen8911 commented on #110783
Submitted a PR https://github.com/kubernetes/kubernetes/pull/110894.

[2022-07-01 00:28] Riaankl commented on #110797
/reopen

[2022-07-01 01:34] oshadmon commented on #79110
This looks like a duplicate of [71765](https://github.com/kubernetes/kubernetes/issues/71765) - given that the feature is still not there, would also appreciate reopening the issue.

Thanks!

`/reopen`

[2022-07-01 01:35] oshadmon commented on #71765
This looks like a duplicate of [79110](https://github.com/kubernetes/kubernetes/issues/79110) - given that the feature is still not there, would also appreciate reopening the issue.

Thanks!

`/reopen`

[2022-07-01 01:58] AbelHu commented on #110849
@zhiweiv 1.24.0 is in preview in AKS and 1.24 will be GA in July. https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions?tabs=azure-cli#aks-kubernetes-release-calendar

[2022-07-01 03:00] kerthcet commented on #110836
As you said, since this not affect the scheduling results, it's better to keep it as simple as we can. But maybe we can add some comments to help mitigating source code readers' confusions in the future.

[2022-07-01 03:09] kerthcet commented on #110186
Sure, quite busy in the past few days. I'll complete this ASAP. Thanks for reminding.

[2022-07-01 03:42] bramyeni commented on #106464
hi All, i want to share this,
if any of the above mentioned didnt fix your problem then do the following:

apparently, the new Linux system which by default use cgroup v2 such as Arch linux, bullseye, ubuntu 21 , etc causing problems when deploying Kubernetes cluster using kubeadm init

the workaround is to turn cgroup v1 back on , by using the following grub parameter
systemd.unified_cgroup_hiera

[2022-07-01 05:01] vaibhav2107 commented on #105025
/remove-lifecycle stale

[2022-07-01 05:01] vaibhav2107 commented on #105023
/remove-lifecycle stale

[2022-07-01 05:04] vaibhav2107 commented on #101565
/remove-lifecycle stale

[2022-07-01 05:40] pacoxu commented on #110893
The reason here is that `kubectl apply` with `--server-side` will not add the `kubectl.kubernetes.io/last-applied-configuration` annotation to the resource(in the example, the namespace).

Then `--prune` will ignore it as the namespace are not with the `kubectl.kubernetes.io/last-applied-configuration` annotation. kubectl cannot know whether this resource is created or applied by kubectl.

[2022-07-01 06:30] pacoxu commented on #110890
/triage accepted

[2022-07-01 06:32] pacoxu commented on #110884
/kind support

[2022-07-01 07:09] mysunshine92 opened #110903 "when we use function ValidateResourceQuantityValue to validate ExtendedResource value，we find value.MilliValue() has bug"
### What happened?

When we create  resourceQuota，it will use Function ValidateResourceQuantityValue to validate resource vaule，for ExtendedResource，the value must be integer，the  Function ValidateResourceQuantityValue will use value.MilliValue()%int64(1000) != int64(0) to judge wthether the value is integer, but now i test that value.MilliValue has bug,i test many data，like below：

for ExtendedRe

[2022-07-01 07:34] pacoxu opened #110905 "kubectl apply: prune should ignore no-namespaced resource if -n is not empty"
seems I have  the same problem. save this to a file named `a.yaml`
[code]

And run `kubectl apply --prune --dry-run=client --all -n sandbox -f a.yaml`, the results
[code]

I have no idea why it want to prune the `namespace/cattle-system`.

_Originally posted by @wd in https://github.com/kubernetes/kubernetes/issues/66430#issuecomment-708922169_

[2022-07-01 07:39] anurnomeru opened #110906 "Should the AvailableConditionController support optional checks for Endpoints?"
### What would you like to be added?

Whether to support choosing not to check Endpoints when registering AA, or support specify the backend Service other than ClusterIp, such as ExternalName?

### Why is this needed?

aggregation-layer supports endpointless routing, but in AvailableConditionController, you have to check if Endpoints are available, that is a bit of a contradiction in design.

In o

[2022-07-01 07:39] pacoxu commented on #110905
I prefer to think this is a bug of kubectl.

/kind bug
/sig cli

[2022-07-01 07:45] pacoxu commented on #110906
/sig network

[2022-07-01 08:24] ardaguclu commented on #110893
As @pacoxu stated, currently pruning is only supported for the resources created by client-side-apply. We either adds support for server-side-apply(as the referenced PR does) or we put a validation stating that we do not support `prune` flag for server side apply.

/triage accepted

[2022-07-01 08:56] allensiho commented on #110870
Thank you,

Is there a way to do that then, we just have to add an extra

kubect cp

command?

[2022-07-01 08:58] pacoxu commented on #109077
/assign
I will take a look next week.

[2022-07-01 09:51] maradwan commented on #7452
I solved the issue, see my article
https://dev.to/aws-builders/kubectl-execport-forward-with-aws-alb-and-nginx-ingress-controller-4fn0

[2022-07-01 13:14] igor-pinchuk commented on #95983
It fails on the following error because of admission controller
`Error from server (InternalError): Internal error occurred: failed calling webhook "vingress.elbv2.k8s.aws": the server could not find the requested resource`

run:
`kubectl delete ValidatingWebhookConfiguration aws-load-balancer-webhook`

and then try to delete the ingress.

[2022-07-01 14:56] jayunit100 opened #110918 "Missing Port mutation tests"
### What happened?

We recently found that, when tweaking service objects manually, the following bug can exist (in alternative kube proxy implementations) , but it's not caught in the sig-network e2es...

- make a service
- Confirm that the service works
- Edit the service by adding a new port to it
- Confirm both ports work
- Delete the added port
- Confirm these still work

We need to
1. audit

[2022-07-01 14:57] jayunit100 commented on #110918
/sig network

[2022-07-01 15:25] zabrox opened #110919 "CronJobs should wake up after long time of suspend"
### What would you like to be added?

Cronjob has a counter which count up scheduling misses.
This counter keeps counting up even if a cronjob is suspended and after long time of suspend a cronjob may never be scheduled.
We should stop the counter while cronjob is suspended.

### Why is this needed?

I think it's very confusing specification.
The term "suspend" implies that all of the state (inclu

[2022-07-01 15:42] jayunit100 commented on #110918
am happy to pair with someone wanting to get starte on this, or @iXinqi  might be taking this on, and she can help delegate out work (there might be several tests to write, not sure yet)

[2022-07-01 15:57] iXinqi commented on #110918
Thanks @jayunit100, I'll work on this! Please assign this to me.

[2022-07-01 15:59] BenTheElder commented on #51540
Thank you @adelina-t!

Sorry I'm going on vacation for a few weeks and have been working to ensure I'm not leaving anyone blocked but didn't get this one yet.

It looks like we're finally making smooth progress here 🎉

[2022-07-01 17:18] iXinqi commented on #110918
Hi @jayunit100, could you please take a look at ["should serve multiport endpoints from pods " test case](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L852)? It seems very similar to what we want to test in this issue.

[2022-07-01 17:41] divyenpatel commented on #108019
@jingxu97 https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/1562/files

[2022-07-01 17:50] damemi commented on #89930
@kerthcet this has fallen off my radar unfortunately. There's definitely more work to be done, though I don't know any specific examples right now. If you would like to take the lead on reviving it please feel free :)

[2022-07-01 17:50] damemi commented on #91633
/remove-lifecycle stale

[2022-07-01 18:06] dschirato commented on #110818
I increased our kubelet verbosity up to 4.  Unfortunately, I can't easily isolate this job from other jobs so it's hard to get the debug - but here is my best shot using grep with context.

<pre>
Jul  1 13:52:34 inf-k8s-node003 kubelet[7422]: I0701 13:52:34.246087    7422 kubelet.go:2198] "SyncLoop (housekeeping) end"
Jul  1 13:52:34 inf-k8s-node003 kubelet[7422]: I0701 13:52:34.438899    7422 htt

[2022-07-01 18:38] jingxu97 commented on #108019
so for vsphere csi driver, this issue is resolved, but other driver might still have similar issue which should add the code to set disk online before resizing?

[2022-07-01 21:01] fluxx-sleblanc commented on #85643
I believe we have found a solution that works for us. Please let me know if my understanding is lacking here.

We run `externalTrafficPolicy: Local` on EKS with alb-ingres-controller 1.1.
We have a _five minute_ sleep at the top of our preStop hook, with a longer `terminationGracePeriodSeconds`.

I set up a locust load test as an easy way to count 502s. So I'm flooding 2-3 pods (with 4 puma proces

[2022-07-01 23:06] dchen1107 commented on #109793
I am still trying to understand the issues here while reviewing your pr: https://github.com/kubernetes/kubernetes/pull/109794, but I agreed with your comments above:

[2022-07-01 23:50] jingxu97 commented on #107414
I think this test is no longer flaky by checking the test grid, close it now.

[2022-07-01 23:54] xmcqueen commented on #109295
This is not longer a flake. It has failed every run since the start of June.

Locally this test runs perfectly with a legit correct local run of the test suite code, doing it does the full tensorflow run of 300 epochs.

When the pod is  launched by the test infra (with sleeping command), I can exec in and successfully run the test suite.  Neither the pod nor the way it is launched is the problem.

[2022-07-01 23:59] xmcqueen commented on #109295
Note that HEAD is now at image version 1.2, and it is still failing per [testgrid](https://testgrid.k8s.io/sig-node-containerd#node-kubelet-containerd-performance-test).

[2022-07-02 00:16] #110836 closed

[2022-07-02 02:22] sanposhiho commented on #101820
/lifecycle rotten

[2022-07-02 02:22] sanposhiho commented on #101820
/remove-lifecycle rotten

[2022-07-02 02:23] sanposhiho commented on #101820
/remove-lifecycle rotten

[2022-07-02 02:37] #89036 closed

[2022-07-02 05:58] opg7371 commented on #110814
Thank you for your suggestions. I will look forward to exploring the approaches suggested by you.

[2022-07-02 06:24] 249043822 commented on #110818
`Jul  1 13:52:35 inf-k8s-node003 kubelet[7422]: E0701 13:52:35.408497    7422 nestedpendingoperations.go:335] Operation for "{volumeName:kubernetes.io/nfs/886fdd6b-a775-406b-b461-aa3e17c7a5c8-infra-pv-schirato podName:886fdd6b-a775-406b-b461-aa3e17c7a5c8 nodeName:}" failed. No retries permitted until 2022-07-01 13:53:39.40845013 -0400 EDT m=+640.205267069 (durationBeforeRetry 1m4s). Error: error c

[2022-07-02 08:26] 123MwanjeMike commented on #83936
This is usually because you are lacking the `/var/lib/kubelet/config.yaml` file

[2022-07-02 08:49] 123MwanjeMike commented on #65863
You could copy the value from another already existing node and add it to the `/var/lib/kubelet/config.yaml` file of the node failing to join

[2022-07-02 11:06] vinaykul commented on #110490
/assign wangchen615

[2022-07-02 11:10] vinaykul commented on #110490
/assign @wangchen615

[2022-07-02 11:43] #105464 closed

[2022-07-02 12:09] harry1064 commented on #110905
Hi @pacoxu

I was looking at the test cases for prune  inside `apply_test.go`, seems like it never goes inside the pruning logic.
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/apply/apply_test.go#L584-L632
as we are not setting up `fakeDynamicClient` to handle `list` request for the resource under test.

Should we fix the test case as well? I have tried to

[2022-07-02 12:36] zeromsi opened #110926 "How kubelet knows what to do?"
Does kubelet pulls events or api server pushes events to kubelet.

[2022-07-02 12:40] zeromsi commented on #110926
/kind question

[2022-07-02 16:17] maxlaverse commented on #95421
/remove-lifecycle rotten

[2022-07-02 16:18] maxlaverse commented on #95421
/reopen.

[2022-07-02 16:24] vinaykul commented on #110490
[wangchen615](https://github.com/wangchen615) and I discussed the test cases offline. The plan is to add the following E2E tests taking a 4 CPU node as example:

[code]
[code]
[code]

[2022-07-02 20:08] dschirato commented on #110818
Yes.   That path exists each time it fails and for all the retries.   If we manually remove it from the host, kubelet detects it and rectifies the pod that was trying to be cleaned up.

Is there something additional we can do here to help with root cause?
________________________________
From: Zac ***@***.***>
Sent: Saturday, July 2, 2022 2:24:15 AM
To: kubernetes/kubernetes ***@***.***>
Cc: Schir

[2022-07-02 22:01] dokuboyejo commented on #95983
Indeed @igor-pinchuk would prevent finalizer patch

[2022-07-02 22:44] #107246 closed

[2022-07-03 00:31] dims commented on #108942
Oh! this is done! see https://testgrid.k8s.io/sig-testing-misc#kubernetes-verify-go-licenses-periodical

thanks,
dims

[2022-07-03 00:31] dims commented on #108942
/close

[2022-07-03 00:31] #108942 closed

[2022-07-03 03:14] CJLove commented on #62434
Has anyone come up with a clean way to get around this limitation? Is there any discussion of adding this capability to the CRI?

I've figured out steps for rhel/centos 7.9 that could be run on the node to modify the pod's container's  cgroup settings after the fact or by moving a pod's container's process to a real-time enabled cgroup, but these are largely just hacks that would never fly outside

[2022-07-03 03:21] bmwiedemann opened #110928 "kubernetes-1.24.0 reproducible builds: kubelet binary varies"
### What happened?

While working on [reproducible builds](https://reproducible-builds.org/) for [openSUSE](https://en.opensuse.org/openSUSE:Reproducible_Builds), I found that our kubernetes1.24 package stopped to produce bit-identical results on 2 fresh builds.

[code]

The first chunk is likely just the hash of the remainder, so can be ignored.
The other chunks indicate that a random build tempo

[2022-07-03 03:26] bmwiedemann commented on #110928
/sig release
/area build-release

[2022-07-03 03:57] zeromsi commented on #110926
/sig node

[2022-07-03 13:20] everpeace commented on #96242
/remove-lifecycle rotten

[2022-07-03 13:57] dokuboyejo commented on #108798
Needed...

[2022-07-03 15:14] Tomas-R opened #110932 "Can't create or delete a resource after the etcd restore procedure done with etcdctl"
### What happened?

I have installed the **etcdctl** tool,  created a backup of **etcd** and then restored it.

When I try to create or delete a resource I get an error **Error from server: etcdserver: request timed out** now.

[code]

### What did you expect to happen?

I expected Kubernetes to work flawlessly like before restoring the backup, meaning being able to delete and create resources in

[2022-07-03 15:50] Tomas-R commented on #110932
/sig scheduling

[2022-07-03 16:50] #104721 closed

[2022-07-03 17:33] usernameisnull opened #110933 "k get ns argocd, no result,but k get sa -n argocd get somthing"
### What happened?

k get ns argocd, no result,but k get sa -n argocd get somthing
![image](https://user-images.githubusercontent.com/3390414/177050859-0e84f0be-146b-4ee3-a473-8545382170a2.png)

![image](https://user-images.githubusercontent.com/3390414/177051089-42e7338c-a884-4e4a-a9cb-112e6fe34f8d.png)

it's really weird

![image](https://user-images.githubusercontent.com/3390414/177051157-adbe4

[2022-07-03 20:50] #107685 closed

[2022-07-03 23:07] neolit123 commented on #110932
looking at the logs the etcd server is rejecting connections.
you might get a better response if logging an issue in the etcd issue tracker.

you can also try asking for help on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
and  #etcd on k8s slack.

note 1.21 is no longer in support.

/remove-sig scheduling
/kind support

[2022-07-04 00:49] JohnRusk opened #110936 "High resource usage due to no exponential backoff for cacher.startCaching"
### What happened?

We're seeing mulitple clusters where the API server is permanently in a loop trying to intialize its cache.  The result is high resource usage and, sometimes, lots of 429 responses to user traffic.

It happens when there is a conversion webhook for a certain type, and that conversion webhook fails.  We see error messages that look like this (I've redacted identifiying details o

[2022-07-04 01:22] Dingshujie commented on #109047
/remove-lifecycle stale

[2022-07-04 01:30] JohnRusk commented on #110936
/sig api-machinery

[2022-07-04 02:04] wuzhuoquan commented on #110818
yes, the mountpoint is still exists，I have to manually umount it and after for sometime , kubelet will remove the  pod.
I notice that the mount function in release-v1.14 is ```mounter.Mount(mountSource, bindPathTarget, "", options)```
But in release-1.20 is ```mounter.MountSensitiveWithoutSystemdWithMountFlags(mountSource, bindPathTarget, "" /*fstype*/, options, nil /* sensitiveOptions */, mountFl

[2022-07-04 02:27] wuzhuoquan commented on #110818
I modify the umount function ，add ```strace``` to the umount command line and log the strace output

At the end of the strace info，It finally  return 0，but still ```Failed to unmount path```，and I check the mountpoint using ```mount -l``` ，the mountpoint is still exists.

[code]

[2022-07-04 03:04] 249043822 commented on #110818
That means:
    1.  if using `mount bind --no-canonicalize  subpath`,  the code does `umount subpath`, the umount command exits 0, with no error,  but the mountpoint still exists
    2.  you execute `umount subpath` command manually again, it can delete the mountpoint successfully
    3. if removing --no-canonicalize flag,  umonut always successes
 can you test again that if using --no-canonicaliz

[2022-07-04 03:07] wuzhuoquan commented on #110818
I've tried to modify the code to add  umount flag ``--no-canonicalize```, and the but staill exists

[2022-07-04 03:08] 249043822 commented on #110818
/cc @mauriciopoppe  @jingxu97 @gnufied

[2022-07-04 03:48] Kartik494 commented on #109113
/remove-lifecycle stale

[2022-07-04 03:51] Kartik494 commented on #109113
@gregth Any luck on finding this bug is relevant to proceed? please let me know!
Thanks

[2022-07-04 04:32] Wertlos85 commented on #110659
I am currently researching how kubernetes works in networks with static addresses. I am using flunnel. But I met a similar error too. If I understand correctly, then the address 10.96.0.1 is your service network address? For me this error was that I did not have a default gateway, since there was no dhcp server. After I manually set the default gateway, flunnel was able to start.

[2022-07-04 06:22] kidddddddddddddddddddddd commented on #110514
I see there is a pr related to this issue #110559 , @danishprakash are you still working on this?

[2022-07-04 06:49] kidddddddddddddddddddddd commented on #109962
Hey,I think this may be a good issue for a beginner like me. I think I can help you with task [volumebinding plugin](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/volumebinding/binder.go). And help check other places if you can let me :)

[2022-07-04 06:52] neolit123 commented on #110678
Please try asking on the support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-07-04 06:52] #110678 closed

[2022-07-04 06:54] neolit123 commented on #110787
Please try asking on the support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

If a bug is confirmed reopen and add more details.

[2022-07-04 06:54] #110787 closed

[2022-07-04 06:54] neolit123 commented on #110817
Please try asking on the support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-07-04 06:54] #110817 closed

[2022-07-04 06:55] neolit123 commented on #110865
/sig architecture testing release

[2022-07-04 06:56] neolit123 commented on #110865
/remove-kind feature
/kind documentation

[2022-07-04 06:57] neolit123 commented on #110919
/sig apps

[2022-07-04 06:58] neolit123 commented on #110932
/close

Please reopen if a core k8s bug is found - e.g. in apiserver.
Etcd(ctl) bugs are not tracked here.

[2022-07-04 06:58] #110932 closed

[2022-07-04 06:59] neolit123 commented on #110933
Please try asking on the support channels first
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-07-04 06:59] #110933 closed

[2022-07-04 07:00] kerthcet commented on #109962
It will be great, plz go ahead @kidddddddddddddddddddddd

[2022-07-04 07:04] Duanzhiwei commented on #110686
sig/network

[2022-07-04 07:27] Duanzhiwei opened #110938 "Why is the netns file in the /var/run/docker/netns/* not deleted after the container has been deleted in kubernetes?"
### What happened?

In my kubernetes cluster, there is only one non-hostnetwork container on the work node, but there are many files under the /var/run/docker/netns/* directory, which cannot be accessed by the nsenter command.

### What did you expect to happen?

May be not counting the default netns, the number of files in the /var/run/docker/netns/* directory is the same as the number of pause c

[2022-07-04 07:28] Duanzhiwei commented on #110938
sig/network

[2022-07-04 07:31] Duanzhiwei commented on #110938
sig/k8s-infra

[2022-07-04 09:11] wanghao123123 opened #110942 "Error from server (NotFound): the server could not find the requested resource"
### What would you like to be added?

I used kubeadm to build the cluster, but both of my nodes' eth0 was 192.168.0.8 and the cloud vendor said that the address could not be modified. Finally, I successfully built the cluster using the public network ip and built the network using flannel. The NetWork in net-conf.json corresponds to the cluster-pod-network-cidr, but I made an error when querying t

[2022-07-04 09:34] mohitreddy1996 opened #110943 "[kubelet] Ability to tweak resolution for metrics calculated by kubelet"
### What would you like to be added?

It seems that 15s is the resolution of metrics calculated by kubelet - https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#how-often-metrics-are-scraped

It would be great if this could be tweaked (configured lower than this).

### Why is this needed?

We rely on Horizontal Pod Autoscaler to autoscale our pods based on CPU and Memory utilizati

[2022-07-04 09:40] pacoxu commented on #110943
/sig node

[2022-07-04 09:44] pacoxu commented on #110942
/kind support

[2022-07-04 09:48] Abirdcfly commented on #110942
/remove-kind feature

[2022-07-04 09:55] pacoxu commented on #110938
/sig node network

There are some ip leak issues in https://github.com/kubernetes/kubernetes/issues/107371 https://github.com/kubernetes/kubernetes/issues/86944 https://github.com/containerd/containerd/issues/5768.
I can be cni plugin problem can maybe runtime problem.

[2022-07-04 10:02] cpanato commented on #110462
checking that

[2022-07-04 10:18] neolit123 commented on #110942
Please try asking on the support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-07-04 10:18] #110942 closed

[2022-07-04 10:27] Duanzhiwei commented on #110938
The ip of netns has been recycled. The netns has been unmounted, but the netns file has not been deleted. May be it's runtime problem

[2022-07-04 10:29] aojea commented on #110938
Dockershim has been deprecated, it's not likely someone is going to work on this

[2022-07-04 11:30] swatisehgal opened #110944 "Static pod/Mirror pod resource information not being reflected in the pod status"
**What happened?**
Resource information (request and limit) provided in the static pod spec cannot be seen in the corresponding mirror pod status. Because of this, irrespective of the resource request and limit provided in the static pod specification, the pod is created with `BestEffort` QoS class.

**What did you expect to happen?**
Expected to see the resource information in the mirror pod and

[2022-07-04 11:41] x13n commented on #110186
Thanks, I left a minor comment on the PR, otherwise LGTM.

[2022-07-04 11:53] soltysh commented on #108609
/remove-lifecycle stale
/assign @carantunes

Feel free to ping me on slack even if you have any questions.

[2022-07-04 13:26] Kartik494 commented on #108720
/remove-lifecycle stale

[2022-07-04 13:56] rpoitras commented on #62434
Looks to be support for low latency if you consider OpenShift. I haven’t investigated it.

https://docs.openshift.com/container-platform/4.10/scalability_and_performance/cnf-performance-addon-operator-for-low-latency-nodes.html

[2022-07-04 14:47] invent360 opened #110946 "k8s Master/Worker ratio"
**This may not be the right channel for such questions so apologies in advance.**
What is the right master/worker nodes ratio in a production type k8s cluster considering the following use cases.
-   i) 3 Master  (embedded etcd) Nodes (4GB RAM each) : 5 Worker Nodes (4GB RAM each)
-  ii) 5 Master  (embedded etcd) Nodes (4GB RAM each) : 3 Worker Nodes (4GB RAM each)
-  iii)3 Master  (embedded etcd)

[2022-07-04 14:48] harshanarayana commented on #110944
@swatisehgal

[code]
Unless this is an issue formatting the content while opening the issue here, there is an indentation issue in the yaml.

I was able to reproduce this with broken indents but not with proper yaml rendered. With proper yaml, things work just fine for me.

[code]
[code]

[2022-07-04 14:50] invent360 commented on #110946
/sig node

[2022-07-04 14:51] harshanarayana commented on #110944
[code]
[code]

[2022-07-04 15:23] kapiljain1989 commented on #109034
Hi @ArangoGutierrez @STRRL , Are you working on this task?

[2022-07-04 15:24] ArangoGutierrez commented on #109034
No, I have not had time to work on this. feel free to take it. if you can close it is nice. if not I will circle back in a couple weeks that I suspect I will have some time for this

[2022-07-04 15:31] swatisehgal commented on #110944
You are absolutely correct @harshanarayana. Thanks for finding the issue!

Some sort of a validation would have saved me several days :(
It never occurred to me that I need to double check my pod spec as both the static pod and mirror pod were successfully created. Had I run the same pod via the API server, I would have got an error:
[code]
Validation when running static pods would make for a nice

[2022-07-04 15:31] #110944 closed

[2022-07-04 15:31] kapiljain1989 commented on #109034
TY @ArangoGutierrez

[2022-07-04 15:31] kapiljain1989 commented on #109034
/assign

[2022-07-04 15:55] harshanarayana commented on #110944
[code]

Here is a short snippet of how to reproduce. In case if someone is interested.

[2022-07-04 19:51] saschagrunert commented on #91286
/remove-lifecycle stale

[2022-07-04 20:09] alculquicondor commented on #106361
/reopen

We still need to remove the code in 1.27

[2022-07-04 23:57] #70777 closed

[2022-07-05 00:58] #100343 closed

[2022-07-05 02:29] drriguz commented on #106942
Hi, we got the same issue, could someone confirm whether this issue has been fixed? we're using 1.20.7.

[2022-07-05 03:11] pacoxu commented on #92287
/remove-lifecycle stale

[2022-07-05 03:19] niulechuan commented on #110946
[https://kubernetes.io/docs/setup/production-environment/](https://kubernetes.io/docs/setup/production-environment/)

Did this doc solve your question?

[2022-07-05 05:47] kerthcet commented on #106426
/remove-lifecycle stale

[2022-07-05 06:03] vaibhav2107 commented on #101655
/remove-lifecycle stale

[2022-07-05 06:05] vaibhav2107 commented on #101945
/remove-lifecycle stale

[2022-07-05 06:05] vaibhav2107 commented on #103046
/remove-lifecycle stale

[2022-07-05 06:06] vaibhav2107 commented on #106125
/remove-lifecycle stale

[2022-07-05 06:16] george-angel commented on #13136
/remove-lifecycle stale

[2022-07-05 06:19] Kartik494 commented on #108681
/remove-lifecycle stale

[2022-07-05 06:25] DesireWithin commented on #110620
I see, thank you

[2022-07-05 06:25] #110620 closed

[2022-07-05 07:01] cpanato commented on #110462
the capg conformance failed but now have flakys only

[2022-07-05 07:45] Nivedita-coder opened #110955 "[Failing test] ci-crio-cgroupv1-node-e2e-conformance"
### Which jobs are failing?

release-master-informing

- ci-crio-cgroupv1-node-e2e-conformance

### Which tests are failing?

- ci-crio-cgroupv1-node-e2e-conformance.Overall
- kubetest.Node Tests

### Since when has it been failing?

07-02 01:11 EEST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#ci-crio-cgroupv1-node-e2e-conformance

### Reason for failure (if possible)

[2022-07-05 08:23] Kartik494 opened #110956 "Resource Quota should enforce limits/request on ephemeral storage"
### What happened?

If user didn't set CPU/Memory limits in their pod but they have been limited by ResourceQuota, user gets the following error.

`Warning FailedCreate 2s (x4 over 20s) replicaset-controller (combined from similar events): Error creating: pods "ephpod-668668fc76-4rm6p" is forbidden: failed quota: ephtest: must specify limits.cpu`

On the other hand, user didn't set ephemeral-stora

[2022-07-05 08:24] Kartik494 commented on #110956
/sig storage

[2022-07-05 10:05] #107161 closed

[2022-07-05 10:41] DavidRayner commented on #83471
I'm seeing this using kubelet running on EC2 instances with containerd. Restarting the containerd service fixes it.

kubernetes version: 1.21.11
containerd version: 1.4.13

[2022-07-05 13:00] jayunit100 commented on #110918
that test adds / deleted endpoints , but what we really want is to actually *change* the service object, i.e. to rewrite the service type (it might start out as ClusterIp, then we change it to nodeport, and so on).

Im not sure what the matrix of valid mutations are but, we can look together if you want sometime today

[2022-07-05 13:52] Nivedita-coder opened #110961 "[Flaky test] gci-gce-ingress"
### Which jobs are flaking?

release-master-blocking
- gci-gce-ingress

### Which tests are flaking?

- Kubernetes e2e suite.[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:NEG] [Flaky] rolling update backend pods should not cause service disruption
- ci-kubernetes-e2e-gci-gce-ingress.Overall
- kubetest.Test
- kubetest.diffResources

### Since when has it been flaking?

07-04 02:11 EEST

### T

[2022-07-05 14:10] harry1064 commented on #110734
Hi @MadhavJivrajani

It means we already have the upper limit on the number of items. Further filtering will only result in either same or less than this upper limit. So in this case do we really need growSlice function here as we are not going to return more than the requested limit.

e.g if the limit is 5, total we have 20 records
first fetch will give us 5 records, now after filtering let's say

[2022-07-05 14:18] Nivedita-coder opened #110962 "[Flaky test] ci-kubernetes-unit"
### Which jobs are flaking?

release-master-blocking

- ci-kubernetes-unit

### Which tests are flaking?

- ci-kubernetes-unit.Overall
- k8s.io/kubernetes/pkg/kubelet/nodeshutdown: TestLocalStorage
-  k8s.io/kubernetes/pkg/kubelet/nodeshutdown: TestFeatureEnabled
-  k8s.io/kubernetes/pkg/schedular/framework/plugins/volumebinding.TestBindPodVolumes
- k8s.io/kubernetes/pkg/schedular/framework/plugin

[2022-07-05 14:44] ttakahashi21 opened #110963 "Add Unit test for endpointslice API"
### What would you like to be added?

Add Unit test for endpointslice API.

### Why is this needed?

Improve unit test coverage for endpointslice API.

[2022-07-05 14:47] ttakahashi21 commented on #110963
/sig testing
/sig network
@robscott I open the PR. Please review.

[2022-07-05 15:19] david-wirelab commented on #86881
Bump - any news on this please?

[2022-07-05 15:36] just-injoey commented on #110514
Is this issue still open?

[2022-07-05 16:00] knelasevero commented on #91633
So, based on @pohly's [PR](https://github.com/kubernetes/kubernetes/pull/110833) I wanted to start by getting some values out from the options that we have there in those commits. Took me a while since these benchmark tests make my laptop useless while they are running and they take a while (and I have to do some other stuff :sweat_smile:).

- First commit there is bringing support for contextual

[2022-07-05 17:06] alculquicondor commented on #91633
Can you summarize the findings in a sheet or something equivalent?

[2022-07-05 17:39] kwri-avongluck commented on #49937
Wow.  This one seems simple to implement.    Why has it been 5 years 😆

[2022-07-05 17:53] iXinqi commented on #110918
Thanks Jay, I see your point. I'll start a draft pr today and then we can pair and discuss about it based on my pr.

[2022-07-05 18:27] #110690 closed

[2022-07-05 19:12] afirth commented on #41394
I believe the failure domains are now done with [topologySpreadConstraints](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) and haven't seen anything about update domains for a few years. Does it make sense to close this issue?

[2022-07-05 20:20] vaibhav2107 commented on #72320
/remove-lifecycle stale

[2022-07-05 21:01] jsturtevant commented on #96996
/close

[2022-07-05 21:21] alculquicondor commented on #110697
/close
The test looks stable now https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=TestSyncPastDeadlineJobFinished&job=pull-kubernetes-unit

[2022-07-05 21:56] bkalcho commented on #95983
tnx. This is life saver.

[2022-07-05 22:05] loeffel-io commented on #28746
+1

[2022-07-05 22:20] mitar commented on #28272
/remove-lifecycle stale

[2022-07-05 22:39] endocrimes commented on #110962
/triage accepted
/assign

[2022-07-06 01:03] kerthcet commented on #106769
/remove-lifecycle stale

[2022-07-06 01:28] Duanzhiwei commented on #110938
Anyone else know about this?

[2022-07-06 03:25] Dieken commented on #110818
This issue is caused by embedded child filesystem:

Run these commands as root user:
[code]

`k8s-mount-subpath` below simulates the behaviour of procfs trick in `kubernetes/pkg/volume/util/subpath/subpath_linux.go:doBindSubPath()`,  but it wrongly mounts source directory "b2" on "/a/test" which is "test" file system to target "/root/mnt2/b2",  then `ls /root/mnt2/b2` simulates the behaviour of fi

[2022-07-06 06:02] akankshakumari393 commented on #77097
@liggitt @adeniyistephen @lavalamp Is someone working on it? Otherwise I am willing to take this up.

[2022-07-06 06:13] kidddddddddddddddddddddd commented on #110514
/assign

[2022-07-06 06:48] ardaguclu commented on #110810
Core place consumes discovery client is [restmapper](https://github.com/kubernetes/kubernetes/blob/de4598d0db5e2babe89dd334407b2ba8024ec9a1/staging/src/k8s.io/client-go/restmapper/discovery.go) and restmapper does not have any context.

I think, even if discovery client supports context, passing caller's context via all along to discovery client wouldn't be easy.

[2022-07-06 08:59] adeniyistephen commented on #77097
@akankshakumari393 sure, feel free to pick it up.

[2022-07-06 09:00] MadhavJivrajani commented on #110936
Interesting!

Instead of `wait.Until(...)` maybe we use `wait.BackOffUntil(...)`?
And the configuration for the backoff manager could be similar to how it is setup for the reflector:

https://github.com/kubernetes/client-go/blob/a16e76eb69cc9eea8e9c9124a64e6e58a583dad2/tools/cache/reflector.go#L177-L181

[2022-07-06 09:42] Pseudow opened #110977 "Kube-proxy "services have not yet been read at least once, cannot construct envvars""
### What happened?

Kube-proxy keep crashing and restarting here are the description of the pod:
[code]

### How can we reproduce it (as minimally and precisely as possible)?

Having a node behind NAT using wireguard to fix that, setting the wireguard ip in /etc/default/kubelet
[code]
And joining a normal master running correctly.

### Anything else we need to know?

_No response_

### Kubernetes

[2022-07-06 09:43] Pseudow commented on #110977
/sig network
/sig node

[2022-07-06 09:56] T-Kukawka commented on #105204
We have same issues with k8s 1.22.11

[2022-07-06 09:58] akankshakumari393 commented on #77097
@adeniyistephen @liggitt This would be my first contribution. Could you please provide me some input and pointers to start on this. Thanks in advance.

[2022-07-06 10:26] himanshuz2 commented on #56188
Please prioritize this. This feature is required in AKS particularly for hybrid deployments with Linux and Windows Nodes and deployments that connect cloud and on-premise.

[2022-07-06 11:06] knelasevero commented on #91633
Sure, on it

[2022-07-06 12:36] andyzhangx commented on #56188
/reopen
/remove-lifecycle rotten

[2022-07-06 12:45] luozhiwenn commented on #110302
Sorry for not clearly described, what I mean is `closing it and periodically re-opening`.

Maybe kube-proxy shouldn't renew iptables recent record when endpoints become not ready? This will cause the fault endpoints cannot be isolate appropriately: affected by the affinity rules, new connections on this node will proxy to not-ready endpoint(assume that the client on this node has connected to this

[2022-07-06 12:54] himanshuz2 commented on #56188
This Microsoft page indicates that NFSv3 is available.  I don't understand where it says it is not production ready.
Windows supports multiple versions of the NFS client and server, depending on operating system version and family.

Operating Systems	NFS Server Versions	NFS Client Versions
Windows 7, Windows 8.1, Windows 10	N/A	NFSv2, NFSv3
Windows Server 2008, Windows Server 2008 R2	NFSv2, NFSv3

[2022-07-06 14:17] chestack commented on #76146
1. why `secure_serving.go:116] Serving securely on [::]:6443` showed up in kube-apiserver log  even if `--bind-address=0.0.0.0` configured
because that's how golang `net.Listen('tcp', '0.0.0.0:6443')` worked, reproduceable code in: https://gist.github.com/aojea/94f6f483173641647c731f582e52f0b0
[code]
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/optio

[2022-07-06 14:53] mysunshine92 commented on #110903
@pacoxu now value.MilliValue() has bug?

[2022-07-06 15:31] marcelvwe commented on #109780
I am able to reproduce the troublesome traffic using a new cluster as well:

Given, the following pods:

(make sure there are at least 2 pods, running on different nodes)
[code]

based on this yaml: https://gist.github.com/marcelvwe/0910390e8383ec797a4e14e1b50a157f

With the following service:

[code]

Starting the following pod, which runs on a windows host:

[code]

When executing the following

[2022-07-06 15:57] bridgetkromhout commented on #109983
Azure tests marked as failing in https://storage.cloud.google.com/k8s-metrics/failures-latest.json - let's look at these, @lzhecheng (thanks for the fixes you mentioned in https://github.com/kubernetes/kubernetes/issues/109913#issuecomment-1131489037)

"ci-kubernetes-e2e-aks-engine-azure-1-24-windows-20h2-containerd": {
    "failing_days": 57
  },

  "ci-kubernetes-e2e-aks-engine-azure-1-24-window

[2022-07-06 16:08] nckturner commented on #110136
Given this will not be a problem after migration, I'm going to close it unless there is some imminent need.  Please feel to reopen if that's the case.

/close

[2022-07-06 17:14] alculquicondor commented on #91492
/lifecycle frozen

FYI, there was no KEP PR for #3280 in 1.25, but it can still be done in 1.26

[2022-07-06 18:06] hiddeco commented on #70147
It's that time again.

/lifecycle stale

[2022-07-06 18:07] hiddeco commented on #70147
It's that time again.

/remove-lifecycle stale

[2022-07-06 18:20] thockin commented on #90131
Given no compelling use-cases for this on a per-service level, I am going to close this.  Service as an API can't sustain adding API surface area that isn't obviously needed.

If ever Gateway handles NodePorts, this could be considered there.

[2022-07-06 18:20] mikedanese opened #110985 "[Flaky Test] ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer"
### Which jobs are flaking?

Flakes spread over a number of jobs.

### Which tests are flaking?

[sig-auth] ServiceAccounts ServiceAccountIssuerDiscovery should support OIDC discovery of service account issuer [Conformance]

### Since when has it been flaking?

As far back as we can tell

### Testgrid link

https://storage.googleapis.com/k8s-triage/index.html?sig=auth&test=ServiceAccounts%20Servic

[2022-07-06 20:16] AaronFriel commented on #107742
/reopen

This divergence in behavior still exists and endpointslices/the Kubernetes DNS spec still fail to reflect reality, as observed on platforms such as Google Kubernetes Engine.

[2022-07-06 20:16] AaronFriel commented on #107742
/reopen

[2022-07-06 20:21] ArangoGutierrez commented on #105287
/remove-lifecycle stale

[2022-07-06 20:41] ahg-g commented on #110871
I don't think the first and the second bullet would ever be called for the same FitError; as for B, C and D, B doesn't trigger composing the error, while C and B are called in the same function, so just create a local variable and get the message once for both

[2022-07-06 20:53] yasinersever-infoline opened #110986 "Wrong Kubernetes Config Image List"
### What happened?

I wanted to install in an environment without internet connection. I got the image list to be used with "kubeadm config image list" command. Received list:

...
...
k8s.gcr.io/pause:3.7
...

I downloaded the entire image list on the list shown and moved it to the other server.

I had a problem when I wanted to install with the "kubeadm init" command. When I checked the list, I

[2022-07-06 21:19] igoooor opened #110987 "GKE FailedAttachVolume ControllerPublish not permitted on node "XYZ" due to backoff condition"
### What happened?

I created a simple StatefulSet with volumeClaimTemplates (see "How to reproduce section"). However the pod stays in "Init" status and never succeed:
I can see the PVC and the PV, however on Google Cloud Console, I can see that the Disk with the same name as the PV is not used by any VM.
If I delete and recreate my resources over and over, sometimes it will succeed, but most of

[2022-07-06 21:24] faisal-memon opened #110988 "ContainerID not populated until Pod is in Ready state"
### What happened?

Im working on this issue https://github.com/spiffe/spire/issues/3092 for SPIRE and Istio integration. The root cause of that issue is the `ContainerID` is not being populated while the Pod is initializing, but SPIRE needs the ContainerID to be populated to declare the Pod ready.

### What did you expect to happen?

`ContainerID` to be populated while Pod is in initializing stat

[2022-07-06 21:27] Huang-Wei commented on #110871
You're right, I just realized that the PostFilter FitErrror is a standalone one. We just need to ensure its error evaluation happens just once.

B doesn't trigger composing but its evaluation (in [MakeDefaultErrorFunc()](https://github.com/kubernetes/kubernetes/blob/65361245edc10fea7ef9d30f03d0de24b8939da8/pkg/scheduler/scheduler.go#L360)) is explicit and cannot be resued with C and D.

You meant

[2022-07-06 21:33] faisal-memon commented on #110988
/sig scheduling

[2022-07-06 21:40] pavelmaliy opened #110989 "RoleBinding to Not Existing ClusterRole"
### What happened?

User created role-binding to non existing clusterRole called "secrets-reader".
Later on operator created such clusterrole with the same name and  suddenly unexpected users can read secrets in their namespace.

Users with role allowing to create rolebinding, can try and guess future roles/clusterroles names and  escalate permissions.

### What did you expect to happen?

Role Bin

[2022-07-06 21:43] ahg-g commented on #110871
Seems reasonable to move the event creation to the error function that `MakeDefaultErrorFunc` creates, we probably don't need `handleSchedulingFailure` to do anything extra, everything should be inside the error function, no?

we don't need to pass `err` there, we can use a string. Basically get the error string once and use it for the log message as well as for the event creation.

[2022-07-06 21:43] druchoo commented on #74099
/remove-lifecycle stale

[2022-07-06 21:50] #110986 closed

[2022-07-06 21:53] pavelmaliy commented on #110989
/sig auth

[2022-07-06 22:04] Huang-Wei commented on #110871
Thanks for the discussion in https://github.com/kubernetes/kubernetes/pull/110900#issuecomment-1176793033, which made me realize that the first problem is only **_hypothetically_** possible, so i closed #110900 to avoid unnecessary optimization.

And now we can just focus on the second problem.

[2022-07-06 22:35] Huang-Wei commented on #110871
Sort of, it's just that would make `MakeDefaultErrorFunc` a bit "fat".

I'm thinking of eliminating the `Error func(*framework.QueuedPodInfo, error)` signature from `newScheduler()` b/c it's not a good abstraction. I guess it was originally designed to be simple, but it ends up with a closure that needs extra parameters to return another closure:

[code]

Thoughts?

[2022-07-06 22:50] Zetanova commented on #105613
could u resolve it, beside setting the startup memory to max?

[2022-07-06 23:29] setharnold opened #110992 "GenerateSelfSignedCertKeyWithFixtures private keys permissions"
Hello, the SRC folks asked that I file this publicly:

In the client-go repo, util/cert/cert.go , function
`GenerateSelfSignedCertKeyWithFixtures()` creates a private key and stores
it into a file with mode `0644`:

https://github.com/kubernetes/client-go/blob/acab036eff5706db06b4eb79253165cf4be0d9c5/util/cert/cert.go#L184

[code]

Typically keys are created with more restrictive modes to prevent

[2022-07-06 23:43] tallclair commented on #110992
/kind bug

Not sure if this is
/sig api-machinery
or
/sig auth

[2022-07-07 00:04] thockin opened #110993 "defaulter-gen does not re-run when manual defaults.go is edited"
I added a default function and re-generated and it did not pick it up until I touched code that defaulter-gen actually needs to build, then it worked.

[2022-07-07 01:04] ravikiran-talluri opened #110995 "unable to build kubernetes objects from current release manifest: resource mapping not found"
### What happened?

We have cluster running k8s v1.21 and deployed Ingress objects with apiVersion **networking.k8s.io/v1beta1** ( deployed through helm) and all looks good
.
then we have upgraded to v1.22 and all looks good, seems nginx apiVersion got automatically upgraded to networking.k8s.io/v1. but when we are trying to deploy ingress object (again through HELM) with apiVersion **networking.k

[2022-07-07 02:59] liushi001 opened #110996 "liveness prober is more likely to time out"
### What happened?

After upgrade k8s from 1.19.4 to 1.22.1，we found there are more pod encoutner liveness probe timeout in performance scenario.
Eventually we make sure that it introduced by the the PR #98376.

### What did you expect to happen?

Keep consistency in prober between versions.

### How can we reproduce it (as minimally and precisely as possible)?

Deploy more pod instances belongs t

[2022-07-07 03:11] liushi001 commented on #110996
/sig node

[2022-07-07 05:05] hxfhuxiaofeng commented on #66900
it works for me，thanks

[2022-07-07 06:17] danishprakash commented on #110514
Yes, there's already a [PR](https://github.com/kubernetes/kubernetes/pull/110559). It's linked to the issue itself.

[2022-07-07 06:32] manuschillerdev opened #110999 "Enhance RBAC model to separate pod creation and port-forwarding"
For local development, it is a great workflow to have some services run remotely in the cloud and port-forward them to your local machine, so that as a developer I don't need to waste my resources on running all services locally.

From a cluster admin perspective, it makes sense to prohibit manual pod creation when using GitOps (e.g. ArgoCD) to avoid the deployed resources and the GitOps repo gett

[2022-07-07 06:42] jackfrancis commented on #96411
/remove-lifecycle rotten

[2022-07-07 07:48] pnts-se commented on #40422
This does not work for me when working with DaemonSet in v1.23.1.
I must do it the other way around.
First annotate, then set image, like so:

[code]

[2022-07-07 08:04] MadhavJivrajani commented on #110962
@pohly maybe you can help provide insights here (at least for the `nodeshutdown` tests since they are related to race conditions due to logging)!

Logs with details about the race: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-unit/1544926366053437440

Seems like the race arises due to `t` being passed to and used for receiving logs here:
https://github.com/kubernetes/kubernete

[2022-07-07 08:55] amarts commented on #100897
@humblec here is my take.

The online migration path is not possible right now for applications (ie, there will have to be re-mount of the client mount). The option to use the kadalu/kadalu project to consume data is possible even if the [previous volumes are created using heketi](https://kadalu.github.io/blog/importing-a-gluster-volume-to-kadalu-storage/). With that, I feel its good to reference

[2022-07-07 09:16] #107853 closed

[2022-07-07 09:43] llinvokerl opened #111000 "Volumes may never be attached when detaching failed temporarily"
### What happened?

Recently, the cpu load of my **kube-apiserver** gets higher after I expanded more pods and nodes into the cluster.

And I found that some volumes declared by pods could not be mounted after the restart of pods, even though the pods were successful scheduled. here's the kubectl describe information:

[code]

After checking the logs of **attach_detach_controller**, I found that i

[2022-07-07 09:49] llinvokerl commented on #111000
/sig storage

[2022-07-07 10:06] otakuinside commented on #78761
Based on my experience, the key factor is that the metric is based on the Requested, not the Limit. Then, the condition to match is the Usage vs Request and the scale criteria.
On the other side, if you have 2 replicas, the required condition to scaleDown to 1 is that both replicas are 49%, so if it scales, the single one replica remaining would allocate 98% (49% on its side + 49% on the Terminate

[2022-07-07 10:35] pohly commented on #110962
This is a dupe of https://github.com/kubernetes/kubernetes/issues/110854. A revert [is pending](https://github.com/kubernetes/kubernetes/pull/110869) as a stop-gap solution, but I also expect an updated klog which is [more resilient against leaked goroutines](https://github.com/kubernetes/klog/pull/337) (the actual problem) soon.

[2022-07-07 11:17] askervin commented on #92287
This will happen, because the block I/O class configuration on a cluster node maps I/O class name (like "high-prio" or "throttled") directly on local block devices available on that node.

This is excellent point, glad you brought it up. Indeed current pod annotations do not affect scheduling, and therefore pods may be scheduled on nodes where support for I/O classes is not available, or certain c

[2022-07-07 11:21] Kartik494 commented on #107227
/remove-lifecycle stale

[2022-07-07 11:45] camilamacedo86 commented on #77182
What is the info that could be checked before it is disabled that will no longer be checked by default? (ihmo) Providing this context/list can help out those that need to see if they will or do not want to enable that in their cluster.

[2022-07-07 11:47] pandaamanda opened #111003 "openapi spec is abnormal"
### What happened?

Due to test pull-kubernetes-verify failed, i need to run hack/update-openapi-spec.sh.
[code]

After run sh, the git status shows the follow.
[code]

### What did you expect to happen?

No openapi spec file updated.

### How can we reproduce it (as minimally and precisely as possible)?

Get the latest k8s code, and run hack/update-openapi-spec.sh.

### Anything else we need to k

[2022-07-07 12:16] #107319 closed

[2022-07-07 12:50] krasoffski commented on #7890
/remove-lifecycle stale

[2022-07-07 13:32] liggitt commented on #77182
Audit logs (https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/) can be used to determine if the endpoint was being used, if they are enabled for `nonResourceURLs` `/logs/*`

[2022-07-07 14:52] harry1064 commented on #110995
Hi @ravikiran-talluri
 can you try to deploy ingress object with `apiVersion networking.k8s.io/v1` using `kubectl apply -f` manually?

If yes,then  can you look at this [apiVersion networking.k8s.io/v1](https://github.com/helm/helm/issues/7361)? it might be helpful.

[2022-07-07 15:04] zuzzas commented on #102367
How can I help with pushing this issue forward? Should I go on Slack and pound my chest shouting justifications for my initial inquiry?

[2022-07-07 15:19] caseydavenport commented on #110659
This is typically (in most default configurations) the `kubernetes.default` service's clusterIP, which fronts the Kubernetes API server (you can verify this with `kubectl get services kubernetes -n default -o wide`).

Yes, interesting. I have seen issues like this before as well when there is no default gateway on the nodes. It can cause various issues. @mseiwald could you check if you have a defa

[2022-07-07 15:28] dcbw commented on #110977
@Pseudow are you able to attach the logs from kube-proxy? The events don't give quite enough detail...

[2022-07-07 15:29] alculquicondor commented on #110871
https://github.com/kubernetes/kubernetes/issues/103853#issuecomment-889370324 :)

[2022-07-07 15:34] dcbw commented on #110815
/triage accepted

[2022-07-07 16:28] thockin commented on #110906
I don't think this is sig-network, or if it is I do not understand what?

[2022-07-07 16:30] kon-angelo opened #111006 "Pods mounting wrong PV during CSI migration on Azure"
### What happened?

We tried to upgrade our cluster to use CSI on kubernetes v1.21.12. During the migration process we deploy the CSI components and start creating new nodes with the appropriate settings while draining and decommissioning old nodes.

During the transitioning phase where both CSI and non-CSI nodes exist in the cluster, we noticed that some of our workload that uses azuredisk PVCs w

[2022-07-07 16:36] thockin commented on #110514
Oh, I see the second PR, too.  Will look at them ASAP

[2022-07-07 16:46] leilajal commented on #110903
@pacoxu are you planning to work on this? thanks!
/triage accepted

[2022-07-07 16:47] leilajal commented on #49442
/triage accepted

[2022-07-07 16:50] leilajal commented on #110936
/assign @MadhavJivrajani
/triage accepted

[2022-07-07 16:53] leilajal commented on #110992
@roycaihw is this related to us?

[2022-07-07 17:01] dulek opened #111007 "CSINode's driver count never updated"
### What happened?

After reconfiguring the openstack-cloud-provider (specifically Cinder CSI) to set new `node-volume-attach-limit` to 10, kubelet doesn't update the value held in `CSINode` object. The reason is most likely at [1] but [2] doesn't help either.

[1] https://github.com/kubernetes/kubernetes/blob/8174b0923cb60c13bd738f9baa6422f3445207d7/pkg/volume/csi/nodeinfomanager/nodeinfomanager.

[2022-07-07 17:37] Riaankl commented on #110236
/reopen

[2022-07-07 17:45] Riaankl commented on #109682
/reopen

[2022-07-07 18:25] OliverCole commented on #87149
/remove-lifecycle stale

[2022-07-07 18:39] pohly commented on #91633
That commits adds the same `--logging-format=[json|text]` parameter that other Kubernetes binaries have. Without that parameter it always writes logs as text.

Probably has little influence on the instrumentation overhead.

[2022-07-07 18:41] Pseudow commented on #110977
[code]

but I think it is related to my VPN setup between my nodes. As I can see from this node I cant ping my kubeapiserver I have to specify my wg0 interface which is kind of weird because from my others nodes using the same VPN I can ping kubeapiserver without specifying it. But I dont really understand why it does that.

[2022-07-07 19:19] Pseudow commented on #110977
I compared my node iptable using the command

[code]

And it gave me that:
 ![](https://media.discordapp.net/attachments/994312928775897198/994681828155850873/unknown.png?width=1440&height=591)

[2022-07-07 20:05] thockin commented on #110714
If I can summarize, it sounds like:

* Sometimes the CPU-balance heuristic is wrong.  For example, if we know that the whole zonal CPU pool does not model the set of clients which will access a service, then we may erroneously disable hints.

* Hints do not work at low-endpoint counts.

* Hints are set on endpoints by the endpointslice controller, but not all endpoints come from there (some are ma

[2022-07-07 23:06] bgrant0607 commented on #22061
I haven't looked at reported bugs for a long time, but probably we can close this in favor of addressing user-reported issues, if any.

/close

[2022-07-07 23:06] #22061 closed

[2022-07-07 23:41] shuheiktgw commented on #110962
Hello @pohly 👋  I'm a 1.25 CI Signal Shadow and would you let us know if this issue should be a blocker for the 1.25.0-alpha.3 release? I believe this is not a blocker but just in case.

[2022-07-07 23:58] shuheiktgw commented on #110961
@thockin @bowei Hello, I'm a 1.25 CI Signa Shadow 👋 Would you let us know if this issue should be a blocker for the 1.25.0-alpha.3 release on 7/9?

[2022-07-08 00:03] shuheiktgw opened #111012 "[Failing test] gce-ubuntu-master-containerd, gce-cos-master-default"
### Which jobs are failing?

- https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd
- https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default

### Which tests are failing?

kubetest.Timeout

### Since when has it been failing?

July 7th

### Testgrid link

- https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd
- https://tes

[2022-07-08 00:13] msau42 commented on #95911
/reopen
/remove-lifecycle rotten

[2022-07-08 00:35] xmcqueen commented on #109295
More info is needed to find the RC for this test failure. I've put in a PR to get the test framework to preserve the container logs when the pod fails.

[2022-07-08 00:55] yangjunmyfm192085 commented on #111012
/sig testing

[2022-07-08 00:55] Riaankl commented on #110121
/reopen

[2022-07-08 00:59] yangjunmyfm192085 commented on #111003
/sig architecture

[2022-07-08 01:48] anencore94 commented on #63858
@judexzhu  Thanks for sharing! :+1:

[2022-07-08 02:11] #110750 closed

[2022-07-08 02:26] #105746 closed

[2022-07-08 02:32] wuzhuoquan commented on #110818
---------------------
awesome!
I have modify the code according to commit #110973 ，and It works well !
mounting the subpath from configmap also works

[2022-07-08 04:51] silenceshell commented on #109554
Any update for this issue? #109875 seems stop updating for a long time... Looking forwards to merge it.

[2022-07-08 05:01] rthakur-est commented on #109531
[shutdown log.txt](https://github.com/kubernetes/kubernetes/files/9069000/shutdown.log.txt)

From the logs gathered from my setup, it had 3 daemonset pods and for one of them (multus) the status is pending and for the other two (calico and kube-proxy) the status is running.

ubuntu@k8s-control:~$ kubectl get pods -A -o wide | grep worker2
kube-system   calico-node-6fb7g                          1/

[2022-07-08 05:11] mk46 commented on #110992
Hi @tallclair,
IMO, mode `0600`  make sense for the key file.
I would like to work on this, waiting for `triage/accepted`
Thanks!!

[2022-07-08 06:20] FillZpp commented on #64023
How about a featureGate like `StatefulSetShortRevisionHash`, which controls whether the `controller-revision-hash` should be added as the full name of ControllerRevision or just its hash?

StatefulSet Controller can still recognize the old format even if the featureGate is enabled, so that it can be compatible with those existing StatefulSets in user's cluster. The featureGate only decides the rev

[2022-07-08 06:23] pohly commented on #110962
The klog update went in, the race in the logging path should be gone now. The kubelet shutdown test still has other data races, but they don't seem to occur in the CI.

[2022-07-08 06:24] pohly commented on #110854
The klog update went in, the race in the logging path should be gone now. The kubelet shutdown test still has other data races, but they don't seem to occur in the CI.

[2022-07-08 06:57] #107936 closed

[2022-07-08 06:58] 249043822 commented on #110985
[code]

[2022-07-08 06:59] 249043822 commented on #110985
Looks like an environmental problem

[2022-07-08 07:45] bb-vikrantshetty commented on #78235
/reopen

[2022-07-08 08:12] dharmit commented on #59902
Hi @Random-Liu @ehashman @derekwaynecarr, I'd like to work on this. I haven't worked on k8s code base except when using it as a library in the other project I mostly work on. But I will be able to pick things up. Can I assign?

/assign

[2022-07-08 10:28] djsly commented on #106538
@dgrisonnet were you able to find a work around. We just had the same issue occurred for us on multiple clusters.  It brought down Prometheus :(

[2022-07-08 12:01] Jeroen0494 commented on #105204
I've just been bit by this bug, while running v1.23.6+k3s1. Upgrading to v1.23.8+k3s1 didn't fix the issue.
[code]

[2022-07-08 12:24] 21kyu commented on #109717
For easier unit testing, would it be okay to wrap it in an interface instead of calling `libcontainercgroups` directly?

[2022-07-08 13:08] liggitt commented on #105204
just to verify, were the nodes upgraded as well?

[2022-07-08 13:13] Jeroen0494 commented on #105204
It's a single node cluster so yes.

[2022-07-08 13:46] danielfoehrKn commented on #103046
Created [a draft-KEP ](https://github.com/danielfoehrKn/enhancements/tree/kep/dynamic-resource-reservations/keps/sig-node/9999-dynamic-resource-reservations) that I will add to the agenda for an upcoming SIG-node community meeting.
 - Old kubelet [PoC here](https://github.com/danielfoehrKn/kubernetes/commits/dynamic-resource-requests)
 - External recommender implementation [here](https://github.co

[2022-07-08 14:38] verb opened #111025 "Add Ephemeral Containers to conformance tests"
### What would you like to be added?

Issue tracking the addition of Ephemeral Containers to the [Kubernetes conformance tests](https://git.k8s.io/community/contributors/devel/sig-architecture/conformance-tests.md).

### Why is this needed?

Exercising ephemeral containers in the node conformance test is required for [Ephemeral Containers GA graduation](https://github.com/kubernetes/enhancements/t

[2022-07-08 14:38] verb commented on #111025
/assign
/sig node
/priority important/long-term
/triage accepted

[2022-07-08 14:45] verb opened #111027 "kubectl suggests a debug container can be reattached after exit"
### What would you like to be added?

When attaching to an ephemeral container, `kubectl attach` prints a message suggesting that the container can be reattached after it exists. This is not true because an ephemeral container is never restarted.

### Why is this needed?

This cosmetic issue should be resolved for [Ephemeral Containers GA Graduation](https://github.com/kubernetes/enhancements/tree

[2022-07-08 14:45] verb commented on #111027
/assign
/sig node
/triage accepted
/priority important-longterm

[2022-07-08 14:49] verb opened #111028 "Ephemeral Container validation prints incorrect path to ephemeral container"
### What would you like to be added?

`validateEphemeralContainers` will add a superfuous index to validation errors for ephemeral containers due to the way container validation code is reused.

### Why is this needed?

Resolving this cosmetic issue is required for [Ephemeral Containers GA Graduation](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/277-ephemeral-containers#bet

[2022-07-08 14:49] verb commented on #111028
/assign
/sig node
/triage accepted
/priority important-longterm

[2022-07-08 14:50] jprzychodzen opened #111029 "Enable running_managed_controllers for KCM and CCM"
### What would you like to be added?

`running_managed_controllers` is a stub of a metrics that allows tracking of running controllers between different controller-managers. This metric is partially implemented, but is not injected/enabled by specific controllers.

Code for a metric is available [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/metrics/p

[2022-07-08 14:52] jprzychodzen commented on #111029
/sig cloud-provider
/wg cloud-provider-extraction-migration

[2022-07-08 15:06] verb commented on #98807
/reopen
/remove-lifecycle rotten

[2022-07-08 15:10] verb opened #111030 "Promote Ephemeral Containers to GA"
### What would you like to be added?

This issue tracks the change required to update the `EphemeralContainers` feature gate to GA

### Why is this needed?

This promotes ephemeral containers to GA

[2022-07-08 15:10] verb commented on #111030
/assign
/sig node
/priority important-longterm
/triage accepted

[2022-07-08 16:30] Jeroen0494 commented on #105204
I've deleted and recreated my nextcloud namespace and all it's resources like 3 times now, and as spontaneous as the problem arose, it's now gone... Netcloud is up and running. Very weird.

[2022-07-08 18:06] Huang-Wei commented on #103853
This issue is gonna reach its "anniversary" and no progress yet... I will spend some time on it. By combining the requirements from #110871, I have a rough working plan like this:

- [ ] Eliminate [MakeDefaultErrorFunc()](https://github.com/kubernetes/kubernetes/blob/9dc13f4f57e77258fcde4cb8e3d1566ed2b728c1/pkg/scheduler/scheduler.go#L352) by move its logic into [handleSchedulingFailure()](https:/

[2022-07-08 18:25] bobbypage commented on #109082
The issue has also been cherrypicked back to k8s 1.23 and k8s 1.22:

1.23 - https://github.com/kubernetes/kubernetes/pull/111013
1.22 - https://github.com/kubernetes/kubernetes/pull/111014

It should be in next patch releases (v1.23.9+ and v1.22.12+)

[2022-07-08 18:27] benz2012 opened #115161 "Role rules.apiGroups - missing required notation"
For the resource `Role`, field `rules.apiGroups`, there is no indication that the field is a required field, however, the Kubernetes controller indeed complains if you leave that field `undefined`.

For example:
[code]

[2022-07-08 20:16] bobbypage commented on #110996
Do you have ability to provide a repro deployment that causes timeout of probes? (perhaps with [kind](https://kind.sigs.k8s.io/) or some other cluster?)

[2022-07-08 20:26] pohly commented on #109744
I just noticed this comment in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/109394/pull-kubernetes-e2e-kind/1545442104010870784/build-log.txt:

[code]

[2022-07-08 21:24] skyscooby commented on #106802
IMO this is a swell suggestion @collimarco .. Anyone who has worked with Kubernetes extensively in the field has ran into all kinds of hack n slash approaches to solving this problem.. and it needs to be solved often enough to warrant standard supported method in core.

I have seen:
- use a shared NFS (read write many) PV's mounted to both the initContainer and the Job to 'signal/flag' the complet

[2022-07-08 22:13] thockin commented on #102367
@matthyx said:

#100277 seems to be decided wrongly, to me.  I'm going to re-open that.

Can you explain to me what the unexpected consequences are?

@zuzzas In https://github.com/kubernetes/kubernetes/pull/109706 we are covering a different symptom but I think the "real" fix is related.

https://github.com/kubernetes/kubernetes/pull/109706#issuecomment-1179336082 in particular.

TL;DR: NodeReadin

[2022-07-08 22:46] thockin commented on #100277
I got here from https://github.com/kubernetes/kubernetes/issues/102367 which is similar but not identical.

I think the real winning comment here is https://github.com/kubernetes/kubernetes/issues/100277#issuecomment-929549329

To emphasize: One of four cases happens
1) The pod was not-ready; kubelet restarted; probes proved the pod was not-ready
2) The pod was not-ready; kubelet restarted; probes

[2022-07-08 22:46] thockin commented on #100277
Assigning myself so I can track it.

[2022-07-08 22:47] thockin commented on #102367
Assigning to myself so I can track it better

[2022-07-09 00:59] nilo19 opened #111040 "hack/ginkgo-e2e.sh fails after upgrading to ginkgo v2"
### Which jobs are failing?

After https://github.com/kubernetes/kubernetes/pull/109111 was merged, `hack/ginkgo-e2e.sh` fails because of:

I0708 07:50:08.498104 93818 e2e.go:116] Starting e2e run "99821dc1-5e1d-48c9-8be4-303d1ba74adb" on Ginkgo node 1
Ginkgo detected configuration issues:
Use of go test -parallel
Go test's implementation of parallelization does not actually parallelize
Ginkgo spe

[2022-07-09 01:01] nilo19 commented on #111040
/triage accpted

[2022-07-09 01:01] nilo19 commented on #111040
/triage accepted

[2022-07-09 01:20] xmcqueen commented on #109621
The CI test is still flaking and I've verified locally that with the @soltysh included, the test still fails, but when I put in a useless extra call before the verify step, then it passes.  This probably means that @soltysh has the right theory, but the test is not using his code.  The test is doing `kubectl explain`, and I'm not sure if `kubectl` is pulling in the `soltysh/shortcut_expander` code

[2022-07-09 02:35] #108451 closed

[2022-07-09 04:41] #108255 closed

[2022-07-09 07:41] #108005 closed

[2022-07-09 08:33] wongearl commented on #110989
When creating a RoleBinding should check if the relevant role exists?

[2022-07-09 08:42] #72757 closed

[2022-07-09 08:42] #106424 closed

[2022-07-09 09:13] HHobeck opened #111045 "Copy files after a job completed"
### What would you like to be added?

GIVEN a job that has been executed like:

`kubectl run job1 --image=busybox --restart=Never -- /bin/sh -c "echo test > /output.txt"`

WHEN copying the output after the job has been completed:

`kubectl cp job1:/output.txt output.txt`

THEN the file should be copied but the following error message is displayed instead:

`error: cannot exec into a container in a

[2022-07-09 09:33] HHobeck commented on #111045
/sig cli

[2022-07-09 09:33] #110884 closed

[2022-07-09 09:34] HHobeck commented on #111045
/sig usability

[2022-07-09 09:34] xiaofengzs commented on #110884
Hi @harry1064, thanks. i got it and expose the external ip.

[2022-07-09 09:37] HHobeck commented on #111045
/sig architecture

[2022-07-09 09:40] HHobeck commented on #111045
https://github.com/kubernetes/kubectl/issues/454

[2022-07-09 11:45] #107749 closed

[2022-07-09 13:15] pavelmaliy commented on #110989
@wongearl yes, I would expect that the platform will do it for me.

[2022-07-09 14:47] #96515 closed

[2022-07-09 14:51] liggitt commented on #111003
Make sure you have pulled current tags (git fetch --tags …)

`git describe` should show a 1.25 version

the current version controls whether some deprecated beta APIs are served and included in the openapi spec

[2022-07-09 14:51] #111003 closed

[2022-07-09 16:40] danwinship commented on #110714
One failure mode I came up with in https://github.com/kubernetes/enhancements/pull/3293 is when a service has more endpoints than there are nodes. If every node prefers its own endpoints, then scaling the service from `num_endpoints == num_nodes` to `num_endpoints == 1.5 * num_nodes` will improve performance on half of the nodes, but not on the other half...

For the node-level-topology case, I su

[2022-07-09 19:48] #106904 closed

[2022-07-09 21:42] YarikRevich commented on #111045
/assign @YarikRevich

[2022-07-09 21:44] YarikRevich commented on #111045
I consider it's a really good thing for a long term perspective. I'll fix it

[2022-07-10 00:41] Tristan971 commented on #93476
/reopen

[2022-07-10 00:52] Tristan971 commented on #93476
Weird call to disregard this issue like this... Seems extremely counter-intuitive, at the very least

[2022-07-10 09:38] reidlai opened #111058 "Vulnerability report CVE-2022-1996"
### What happened?

just found K8S Go Client hit CVE report detected by gosec

Details about the CVE can be found here: https://avd.aquasec.com/nvd/cve-2022-1996

Libraries hit by gosec
================
k8s.io/client-go@v0.24.1 github.com/emicklei/go-restful@v2.9.5+incompatible
k8s.io/kube-openapi@v0.0.0-20220328201542-3ee0da9b0b42 github.com/emicklei/go-restful@v0.0.0-20170410110728-ff4f55a20633

[2022-07-10 09:54] #107491 closed

[2022-07-10 10:59] grosser commented on #78321
/reopen

[2022-07-10 13:32] redbaron commented on #58065
/remove-lifecycle rotten

[2022-07-10 13:53] timoreimann commented on #104107
This is still an issue for us -- by now we have created a controller to detect the situation and address it when it occurs, but that's not a great long-term solution.

Still happy to provide further information / data that may help identify the root cause.

/remove-lifecycle stale

[2022-07-10 16:00] #107504 closed

[2022-07-10 18:41] SayakMukhopadhyay commented on #88709
/remove-lifecycle stale

[2022-07-10 20:07] aojea commented on #111040
the error mentions `go test` but the `hack/ginkgo-e2e.sh` script seems to run `ginkgo` directly :thinking:

[2022-07-10 20:28] aojea commented on #107530
NOT a release blocker, the errors are unrelated to Kubernetes code

[2022-07-10 21:50] JavadHosseini commented on #110177
I have containerd version 1.6.6 and I still have this issue on Ubuntu 20.04.

[2022-07-10 22:17] aojea commented on #110977
you need to paste the tail of the logs, there should be a message indicating why kube-proxy can't start

[2022-07-10 22:31] aojea commented on #110906
what fo you mean by `AvaliableConditionController`?

[2022-07-10 22:43] aojea commented on #110993
does the `hack/verify-*` scripts catch the problem or is there any risk of merging something wrong and leave an inconsistent state?

[2022-07-10 23:02] aojea commented on #105986
/reopen

[2022-07-10 23:22] aojea commented on #109406
/reopen

let's close it once we switch to the new image

[2022-07-10 23:58] shuheiktgw commented on #110172
/assign

[2022-07-11 00:32] 249043822 commented on #111058
https://github.com/kubernetes/client-go/issues/1117

[2022-07-11 00:39] nilo19 commented on #111040
In our code we just call ginkgo-e2e.sh directly. https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/hack/test_k8s_e2e_capz.sh#L52

[2022-07-11 02:32] chendave commented on #111040
This was checked in Ginkgo, https://github.com/onsi/ginkgo/blob/master/types/errors.go#L524-L525

I am not familiar with the test framework of that project (cloud-provider-azure), I did a quick search, and found the script `hack/run-e2e-tests.sh` called `go test` directly, pls see [code](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/hack/run-e2e-tests.sh), can you pls check h

[2022-07-11 03:17] chendave commented on #111040
okay, I managed to reproduce the problem,
[code]

pls don't use that parameter,  `--test.parallel=30`
[code]

And switch to the parameter provided by `Ginkgo`.

[2022-07-11 03:23] chendave commented on #111040
And as it said, you can make it by `ginkgo -p` or `ginkgo -procs=N`, this should be a restriction  introduced by `Ginkgo v2`.

@pohly  I think we should add this to the `action` list on to https://github.com/kubernetes/kubernetes/pull/109111.

[2022-07-11 03:33] niulechuan commented on #111007
I think we trigger plugins reconcile by ``fsnotify``, which cannot be triggered when we update the CSI driver config. for example ``node-volume-attach-limit``.

[2022-07-11 03:52] kerthcet commented on #108821
/remove-lifecycle stale

[2022-07-11 03:54] kerthcet commented on #107464
This is configurable now in release 1.25, see https://github.com/kubernetes/enhancements/issues/3094

[2022-07-11 03:59] kerthcet commented on #110988
This is more related to sig node then.
/remove-sig scheduling
/sig node

[2022-07-11 05:47] pandaamanda commented on #111003
Thanks

[2022-07-11 06:07] Duanzhiwei commented on #110938
When running the mount, there are some /run/docker/netns/ files in the mount list, but not all /run/docker/netns/ files are in the mount list. I guess that the uoumt command was executed when docker deleted the container, but for some reason, these files were not deleted, resulting in these files remaining on the host and not being deleted.

[2022-07-11 06:07] Duanzhiwei commented on #110938
When running the mount, there are some /run/docker/netns/ files in the mount list, but not all /run/docker/netns/ files are in the mount list. I guess that the uoumt command was executed when docker deleted the container, but for some reason, these files were not deleted, resulting in these files remaining on the host and not being deleted.

[2022-07-11 06:37] Rozzii commented on #106691
I'm unfamiliar with the code base of the k8s project so please forgive me if I'm misunderstanding some concepts.

1. Summary of the situation:
    - The issue: K8s "node" object has "Ready=true" status even when pods running on the given node write I/O errors to the logs and unable to provide any actually useful logs.
    - The reason is that when the kubelet tries to do any I/O operation on the "

[2022-07-11 06:59] Kartik494 commented on #110956
cc @YuikoTakada

[2022-07-11 07:15] chendave commented on #109744
seems like `Measure` is not used in k/k, but in other sigs.

[2022-07-11 07:42] pacoxu commented on #111030
According to https://github.com/kubernetes/enhancements/blob/321b82a9d05acc5bd8b6aef5864b7a944c0d733c/keps/sig-node/277-ephemeral-containers/README.md#beta---ga-graduation

### Beta -> GA Graduation

- [x]  Ephemeral Containers have been in beta for at least 2 releases. （beta in v1.23）
- [x]  Ephemeral Containers see use in 3 projects or articles.
- [ ]  Ephemeral Container creation is covered by

[2022-07-11 07:45] aojea commented on #109744
https://github.com/kubernetes/kubernetes/blob/be53d94595caacc045c6d962a0e2890d80cdf569/test/e2e/autoscaling/autoscaling_timer.go#L85-L87

[2022-07-11 08:03] verb commented on #111030
Hi @pacoxu,

Yes, I've opened issues for each of these items. See the checklist in https://features.k8s.io/277 for the index.

[2022-07-11 08:25] furkatgofurov7 commented on #106691
@ehashman can you please suggest the way forward how this issue can be tackled, since clear reproduction steps had been provided, and others are also reporting the same issue. Thanks.

[2022-07-11 08:38] furkatgofurov7 commented on #106691
/cc @SergeyKanzhelev @endocrimes @pacoxu sorry for directly tagging, but in case you have suggestions on this issue, it is highly welcome :slightly_smiling_face:

[2022-07-11 09:27] aojea commented on #110946
/kind support
/close

Thanks for your question, but better use other channels for these kind of questions

[2022-07-11 09:36] sftim commented on #111058
/transfer client-go

[2022-07-11 10:00] MadhavJivrajani opened #111067 "Flaky Test: TestCheckRetryHandles429And5xx has a race condition"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit

### Which tests are flaking?

`TestCheckRetryHandles429And5xx`

### Since when has it been flaking?

9:20am IST / 3:50am UTC

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit

### Reason for failure (if possible)

Race condition
Test logs: https://prow.k8s.i

[2022-07-11 10:00] MadhavJivrajani commented on #111067
@aojea @liggitt - FYI since we ran into this last release as well.

[2022-07-11 10:07] mseiwald commented on #110659
It seems that the issue was a missing default gateway. Closing..

[2022-07-11 10:07] #110659 closed

[2022-07-11 10:35] kerthcet commented on #103305
Revisit the problem as we met this in our customer's clusters recently, brother pods with `ReadWriteOnce` PVC in different nodes will stuck in `ContainerCreating`, this is not what we expected. And actually I can't think of a reasonable scenario depending on this behavior. On the opposite, it wastes the resources.
/assign

[2022-07-11 10:51] YarikRevich commented on #111045
Having some research about the solution of this issue, in order not to fundamentally change the architecture of K8S, I'd like to propose to add an opportunity to use "cp" command with PersistentVolume. It will make possible to copy to or from volume workload, which can be used out of Pod context. Right now, in order to copy to or from PersistentVolume, there should be created new stub Pod, which w

[2022-07-11 11:46] wojtek-t commented on #109108
/remove-lifecycle stale

[2022-07-11 12:16] wojtek-t commented on #108272
/remove-lifecycle stale

@MikeSpreitzer is making significant progress on it.

[2022-07-11 12:28] jjcaballero commented on #96242
Does anyone know if this limitation affects the vanilla CPU/memory metrics? or this only has effect when checking custom metrics?

[2022-07-11 13:05] sftim commented on #20386
/reopen
/lifecycle frozen

I think we should do this.

[2022-07-11 13:06] sftim commented on #20386
/transfer website

[2022-07-11 13:10] sftim commented on #110999
Kubernetes already supports auth mechanisms that let you create port forwards but not create Pods. AIUI, that includes RBAC.

AIUI:
/kind support

[2022-07-11 13:17] alculquicondor commented on #106802
Again, come to the SIG Apps meeting to discuss the topic. Before discussing low level solutions, I would like us to focus on the use case. My main contention is this question: why do you have to wait in an initContainer as opposed to wait to create the pod?

[2022-07-11 14:37] Jeroen0494 commented on #105204
Just ran into this again today:
[code]

What's going on here? How to debug this?

[2022-07-11 14:42] #110919 closed

[2022-07-11 14:54] TBBle commented on #97783
/remove-lifecycle stale

[2022-07-11 15:08] #107888 closed

[2022-07-11 16:00] Nivedita-coder opened #111072 "[Failing test] Conformance-GCE-master-kubetest2"
### Which jobs are failing?

release-master-blocking

- Conformance-GCE-master-kubetest2

### Which tests are failing?

- Kubernetes e2e suite.[It] [sig-network] Services should be able to change the type from ExternalName to ClusterIP [Conformance]
- ci-kubernetes-gce-conformance-latest-kubetest2.Overall
- kubetest2.Test

### Since when has it been failing?

07-11 15:51 EEST

### Testgrid link

h

[2022-07-11 16:35] enj commented on #108551
/remove-lifecycle stale

Losing audit logs seems to be a bad thing :)  Anyone have cycles to look into this?  I think we would need some kind of reproducer to make progress on this.

[2022-07-11 17:03] fasaxc opened #111073 "Add a way to control DaemonSet rolling update behavior when DaemonSet pods go non-ready"
### What would you like to be added?

Please add a mechanism to control the behaviour of rolling updates when the back-level pods go non-ready.  The current assumption is that any non-ready pod should be immediately restarted at the up-level version.  Some suggestions:

- Add a `minTimeBetweenUpgrades` field that sets a minimum time between restarting two pods that are part of the daemonset.
- Add

[2022-07-11 17:38] Pseudow commented on #110977
Actually I found out that it was my node behind NAT that can curl 10.96.0.1:443 (kubeapi server) but in a weird way: sometimes it directly returns an ouput from the api and sometimes it can take up to 40seconds before having a answer. I think this might explain why it keeps crashing. What is actually more weird is that I can easily curl 10.66.66.1:6443 (the kubeapi server on my master node).
![](h

[2022-07-11 17:40] dashpole commented on #106536
https://github.com/etcd-io/etcd/issues/13538 tracks the release, and references "data inconsistency" as blocking the release, which I believe is https://github.com/etcd-io/etcd/issues/14039.  That is part of https://github.com/etcd-io/etcd/issues/14138, which is (I think) where work is being done right nonw

[2022-07-11 17:43] aojea commented on #110977
/kind support
/remove kind-bug

this seems a problem with your setup, I think that is better that you try to find help in the other channels like discourse or slack, github issues don't use to track this problems

Thanks

/close

[2022-07-11 17:43] #110977 closed

[2022-07-11 17:50] aojea commented on #111072
[code]

@chendave I remember some timeout has changed with ginkgo2 and something moved from 24hours to 1 hours, or something like that, is it possible that this is the problem here, in this job?

[2022-07-11 18:21] dprotaso opened #111074 "Add ability to opt-out of pruning and perform server side validation"
It was surprising to see that when a schema is full defined pruning is the default behaviour. I tried to read through the KEPs to determine why unknown fields wouldn't cause the API server to return an error and didn't really find an answer.

For example the [validation](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#validation) example has:

[code

[2022-07-11 18:21] dprotaso commented on #111074
/sig api-machinery

[2022-07-11 18:22] dprotaso commented on #111074
It seems the only way to provide such error messages to our end-users is to sprinkle `x-kubernetes-preserve-unknown-fields: true` to every node in the schema and perform validation with webhooks. This is pretty untenable.

/kind feature

[2022-07-11 19:02] HHobeck commented on #111045
Okay I have taken a look into it and I think executing into an exited container is not so trivial. You need to do [this](https://stackoverflow.com/a/39329138) or [this](https://stackoverflow.com/a/32353134) or [this](https://stackoverflow.com/a/42590056) (see Link[1]).

However back to the cp functionality... ;)

The following commands are working with vanilla docker:
`docker run -it busybox /bin/

[2022-07-11 20:55] rsmoorthy opened #111077 "Missing image, name and container labels from cAdvisor metrics in 1.24"
### What happened?

Installed 1.24 via kubeadm. The cAdvisor metrics is not showing image, name or container labels.

`kubectl get --raw /api/v1/nodes/$NODE/proxy/metrics/cadvisor| grep 'image="[^"]'`

shows no output

### What did you expect to happen?

On a different cluster with 1.23, I can see image, name and container labels:

`container_blkio_device_usage_total{container="POD",device="/dev/v

[2022-07-11 21:10] brianpursley commented on #111045
See also the discussion over here https://github.com/kubernetes/kubectl/issues/454#issuecomment-1111269840

I'm going to go ahead and remove sig-cli from this issue so other sigs can focus on it instead.  Even though cp is a kubectl command, the changes needed to make this work are not something that a change to kubectl can accomplish
/remove-sig cli

Maybe sig-node?
/sig node

[2022-07-11 21:14] rsmoorthy commented on #111077
/sig node

[2022-07-11 22:03] brianpursley commented on #110613
The problem seems to be here:
https://github.com/kubernetes/kubernetes/blob/8fb423bfabe0d53934cc94c154c7da2dc3ce1332/staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go#L381

When it retries, it re-executes the tar command, but this time using `| tail` so that it doesn't need to re-send all the bytes that were already sent.

This is fine, if the file hasn't changed, but as @nhumrich discovered, if the fil

[2022-07-11 22:31] chrishenzie commented on #103305
Thank you for taking a look @kerthcet. For context, this is a [beta graduation criteria item](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/2485-read-write-once-pod-pv-access-mode#beta) for the `ReadWriteOncePod` feature. I had plans on tackling this but if you would like to take a look please do.

[2022-07-11 22:36] brianpursley commented on #110271
Looks like maybe it has been fixed since 7/8

![image](https://user-images.githubusercontent.com/4977542/178370187-c004cb80-966c-4607-aa3b-d72e5cc0bebb.png)

I'll go ahead and close this...

[2022-07-11 22:36] #110271 closed

[2022-07-11 23:05] BrowduesMan85 commented on #109717
Hello all. I'm looking to begin contributing to this project and I saw this designated as `good first issue`. Before I dive in, is it safe to being looking at coverage for `pod_manager.go` or is someone else investigating?

[2022-07-12 00:10] lauralorenz commented on #109416
The flakiness observed in the OP no longer exists.

/close

[2022-07-12 00:11] #109416 closed

[2022-07-12 00:46] kevindelgado commented on #110271
Oops sorry, I must have missed this issue because I only remember seeing https://github.com/kubernetes/kubernetes/pull/110272

This was fixed by https://github.com/kubernetes/kubernetes/pull/110509

[2022-07-12 01:04] brianpursley commented on #110097
/assign

[2022-07-12 02:16] wyhysj commented on #109996
Agree, another possible workaround, is there any way to fix numa memory allocation on boot?

[2022-07-12 02:42] Kartik494 commented on #110956
cc @jingxu97 @jsafrane

[2022-07-12 02:45] liushi001 commented on #110996
Thank you for your reply. I have added the relevant information.

[2022-07-12 03:32] #111040 closed

[2022-07-12 04:46] vaibhav2107 commented on #107193
/remove-lifecycle stale

[2022-07-12 04:48] vaibhav2107 commented on #106896
/remove-lifecycle stale

[2022-07-12 06:10] vkguleria opened #111082 "Issue with kubeadm.k8s.io/v1beta3 ClusterConfiguration dns fields"
### What happened?

In kubeadm ClusterConfiguration dns member dns.imageMeta or dns.ImageMeta, which is a required field, is not recognized and it throws the error as follows:

I0712 08:54:11.217648   18632 initconfiguration.go:254] loading configuration from "/etc/kubernetes/kubeadm-config.yaml"
W0712 08:54:11.219364   18632 initconfiguration.go:305] error unmarshaling configuration schema.GroupV

[2022-07-12 06:57] MadhavJivrajani commented on #111074
/cc @sttts @nikhita

[2022-07-12 08:40] fasaxc commented on #111073
/sig apps

[2022-07-12 08:48] chymy commented on #111082
`ImageMeta ` is `json:",inline"`:

https://github.com/kubernetes/kubernetes/blob/15f111f78f579437fd9165624d2dd2cc8e71f3a5/cmd/kubeadm/app/apis/kubeadm/types.go#L177-L184

You should configure it like this:
[code]

[2022-07-12 09:12] vkguleria commented on #111082
Got it thanks !

[2022-07-12 09:12] #111082 closed

[2022-07-12 09:17] Ed87 opened #111085 "Worker node not showing External DNS address"
I have a MongoDB deployment for which I need to execute backups _from outside the cluster_. According to the instructions [here](https://www.mongodb.com/docs/kubernetes-operator/master/tutorial/connect-from-outside-k8s/) I need the FQDN of the node on which the deployment is scheduled.

To execute the backups I run this command :

`.\mongodump --host=127.0.0.1 --db=platforms --port=27017 --authent

[2022-07-12 09:20] aojea opened #111086 "[Flake] pull-kubernetes-e2e-kind timeouts and flake"
### Which jobs are flaking?

pull-kubernetes-e2e-kind

### Which tests are flaking?

[sig-storage] CSI .*

### Since when has it been flaking?

It seems that happens since 7/8
https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1&job=pull-kubernetes-e2e-kind

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&graph-metrics=test-duration-minu

[2022-07-12 09:21] aojea commented on #111086
/assign @msau42
/cc @dims @liggitt

I know this people is in vacation, ccing just for visibility
/cc @BenTheElder @pohly

[2022-07-12 09:24] aojea commented on #111086
I don't know if correlation implies causality here, but it seems to start the day that the ginkgov2 was merged
/cc @chendave
https://github.com/kubernetes/kubernetes/pull/109111

@onsi is there any change in behavior for which the tests keep running, I remember some discussion about this between you and @pohly about the failure modes

[2022-07-12 09:40] matteoolivi commented on #110718
This is probably the reason https://github.com/kubernetes/kubernetes/issues/67250

[2022-07-12 11:10] 249043822 commented on #111000
If `nodeStatusUpdater.UpdateNodeStatuses()` fails, that means the volume has not been detached and the volumeattachment is still on the nodeStatus, then kubelet should see that the volume still attaches to the node, so I'm not understand why your pod failed to mount, it may not be caused the controller.
what's the error for kubelet?

[2022-07-12 11:22] leonardpahlke commented on #111012
It looks more like a flake, right?

/kind flake
/remove-kind failing-test

(maybe increase the timeout?)

[2022-07-12 11:28] leonardpahlke commented on #111072
The Grinko timeout change could also be the root problem with this job: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1546464809510244352

[2022-07-12 13:05] aojea commented on #111072
hmm, this seems correct

https://github.com/kubernetes/kubernetes/blob/15beb41423dce376f96b3fc8bf87d37f0f64f0f8/hack/ginkgo-e2e.sh#L169-L174

[2022-07-12 13:14] aojea commented on #111072
@leonardpahlke that was a good observations, seems that job is failing because gathering the logs takes too much time

![image](https://user-images.githubusercontent.com/6450081/178498460-31758190-9ccd-408b-b574-a0b93029bdc6.png)

[2022-07-12 13:15] leonardpahlke commented on #111072
there is no timeout set in the kubetest2 command here

https://github.com/kubernetes/test-infra/blob/4176dd208ae7f97a484334b8f3f5105fcbf389bc/config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml#L88-L97

[2022-07-12 13:18] aojea commented on #111072
it seems kubetest has to be migrated to ginkgov2

https://github.com/kubernetes-sigs/kubetest2/blob/4fb48d1dc5d4f78506f527b2664bfc37d3245d51/pkg/testers/ginkgo/ginkgo.go#L65-L71

it should use this as basis

https://github.com/kubernetes/kubernetes/issues/111072#issuecomment-1181736793

I'm on vacation this week, can somebody take over and open the issue and patch kubetest2?

[2022-07-12 13:22] leonardpahlke commented on #111072
looks like this file needs to get updated: https://github.com/kubernetes-sigs/kubetest2/blob/master/pkg/testers/ginkgo/ginkgo.go

add line 72: `"--grinko.timeout="24h"`

[2022-07-12 13:28] leonardpahlke commented on #111072
oh, you already commented this :D

[2022-07-12 13:39] aojea opened #111089 "Test failures are missing information since GinkgoV2 migration"
Before https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110950/pull-kubernetes-e2e-kind/1544513374837018624

You click in the failing test ,in `open stdout` and you could get

<details><summary>open stdout</summary>
<p>

[code]

</p>
</details>

After https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108331/pull-kubernetes-e2e-kind/1546787327945216000

<details><summary>open s

[2022-07-12 13:39] aojea commented on #111089
/assign @chendave
/sig testing
/priority important-soon

[2022-07-12 14:53] rittneje commented on #99513
/remove-lifecycle stale

[2022-07-12 15:43] Yelijah commented on #52172
I occuer the same problem. After many tries , I found the cause is that I changed docker log driver from json to others. When i change it back, it fixed.
I hope that can help u.

[2022-07-12 16:53] leonardpahlke commented on #111072
@aojea I will have a look later

[2022-07-12 17:15] aojea commented on #109295
This test depending on that external data doesn't look quite right :/

[2022-07-12 17:26] jayunit100 opened #111092 "Incorrect error message for pod thresholds in e2e tests in wait.go"
### Which jobs are flaking?

we saw this in a sig-windows test today, blob:https://prow.k8s.io/789c15e1-3869-4a8a-b8ef-ef8394f5be0a

from this family

https://testgrid.k8s.io/sig-windows-1.22-release#aks-engine-windows-dockershim-1.22

[code]

It looks like this error message should be

[code]

### Which tests are flaking?

Jul 10 02:49:49.489: INFO: Number of not-ready pods (0) is below the allow

[2022-07-12 17:50] xmcqueen commented on #109295
I'm discussing this test with sig-testing. I'll post an update later.

[2022-07-12 18:05] leonardpahlke commented on #111072
Related: https://github.com/kubernetes/kubernetes/pull/111065

[2022-07-12 18:15] jayunit100 commented on #111092
/good-first-issue

[2022-07-12 18:37] skyscooby commented on #106802
Quite simple.. security and standardization

Security.. creating the pods programmatically within a running container in the cluster implies that container has been given a service account and permissions to create things.. this is an inception concept and crosses a boundary that while is theoretical is often enforced in practical use of k8s. (containers don't know they are running in kubernetes).

[2022-07-12 18:58] stormqueen1990 commented on #111092
/assign

[2022-07-12 19:23] onsi commented on #111086
hey there @aojea correlation doesn't necessarily imply causation - but it's definitely the first place to start looking ;)

there shouldn't be any explicit changes in V2's behavior here however there were changes around how Ginkgo captures stdout/stderr during parallel test runs (i.e. when running with  `ginkgo -p`) that, in some circumstances involving external processes that hang, can cause `gin

[2022-07-12 19:47] evanfoster commented on #102259
/remove-lifecycle stale

[2022-07-12 20:20] leilajal commented on #111074
/cc @kevindelgado @alexzielenski
/triage accepted

[2022-07-12 20:20] leilajal commented on #111067
/triage accepted

[2022-07-12 20:49] alculquicondor commented on #106802
That wasn't what I was suggesting. I'm suggesting a controller that can check when a job finishes and then create the next pod in the pipeline. That's the only controller that needs the permissions, not the workload.

The standardization bit is debatable. Argo is a CNCF project with widespread use (just as an example).

[2022-07-12 21:35] cristifalcas opened #111094 "nodeAffinity preferred is selected over podaffinity required"
### What happened?

It seems that k8s will select a rule of preferred over a required one if the preferred rule has a weight:
[code]

### What did you expect to happen?

that the required rule will take precedence over the preferred one

### How can we reproduce it (as minimally and precisely as possible)?

add for a deployment this affinities:
- `nodeAffinity` with `preferredDuringSchedulingIgnor

[2022-07-12 22:02] tallclair commented on #109087
@encodeflush I think so, but this isn't user facing so it's not a big deal if it slips to v1.26.

[2022-07-12 23:42] kevindelgado commented on #111074
Not sure if you saw this one or not, but https://github.com/kubernetes/enhancements/issues/2885 is meant to address exactly this problem.

It is currently in alpha (1.23 and 1.24) and is behind a feature gate "ServerSideFieldValidation" that is disabled by default. You can enable it in 1.23 and 1.24 clusters, or wait for it to be enabled by default in 1.25.

Note that when the feature is enabled,

[2022-07-13 00:48] chendave commented on #109744
/open

[2022-07-13 00:53] chendave commented on #109744
/re-open

[2022-07-13 00:55] chendave commented on #109744
okay, this is not resolved actually, but I have no way to re-open it.

[2022-07-13 01:21] Dingshujie commented on #110278
pod autoscaler controller mark this resource autoscaling disabled when target resource replicas is zero and minReplicas not equals to zero

[2022-07-13 01:23] xmcqueen commented on #109295
Talked to @eddiezane from sig-testing.

* he's contacting the remote to see if they are blocking us, because it looks like they are
* [The tests's Dockerfile](https://github.com/kubernetes/kubernetes/blob/master/test/images/node-perf/tf-wide-deep/Dockerfile) is pulling the script from a [place](https://github.com/tensorflow/models/blob/master/official/legacy/transformer/data_download.py) that is [

[2022-07-13 01:37] #108528 closed

[2022-07-13 02:59] muyangren2 commented on #111094
The flow of the scheduling process: first go through the filter and then score;
In the filter, the appropriate nodes will be selected according to requiredXXX, and then scored; and preferred only affects the scoring process

[2022-07-13 03:04] evankanderson commented on #111074
https://github.com/kubernetes/enhancements/issues/2885 is *close* to what's requested here, but with a couple key differences:

1. There no way to force a hard error on incorrect input. In the example above, the `CronTab` would be accepted with the mistaken and pruned `replica` field, rather than rejected. For some (many?) resource types, strict validation (meaning "fix your request" rather than "

[2022-07-13 03:08] muyangren2 commented on #111067
/assign

[2022-07-13 03:26] chendave commented on #111089
@aojea

I think the new behavior is more make sense to me, let's the error go the stderr and normal output go to stdout, you can actually find the stacktrace here,
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108331/pull-kubernetes-e2e-kind/1546787327945216000#1:build-log.txt%3A38973

[raw log](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/108331/pull-kubernetes-e2e

[2022-07-13 03:28] yong-jie-gong opened #111102 "Kube-apiserver 1.24 CPU is pretty high compared to 1.23 and not stable"
### What happened?

1) kube-apiserver take almost 20 minute to start
2) kube-apiserver take very high cpu compared to kubernetes 1.23
3) kube-apiserver print many error when processing incoming requests
[code]

**CPU usage in 1.23 and 1.24.2**
policy-manager is business pod which don't call kube-apiserver

![image](https://user-images.githubusercontent.com/13399313/178659393-6b9dbd76-f1b5-44a3-889

[2022-07-13 03:32] aojea commented on #111089
Raw logs files are huge, current information is not useful for understanding the problem without the raw log, I think we have to keep it as it was before

[2022-07-13 03:41] yong-jie-gong commented on #111102
/wg k8s-infra

[2022-07-13 03:42] yong-jie-gong commented on #111102
/sig k8s-infra

[2022-07-13 03:43] yong-jie-gong commented on #111102
/wg reliability api-expression

[2022-07-13 04:30] mk46 commented on #110992
/assign

[2022-07-13 04:31] Kartik494 commented on #110995
Hi @ravikiran-talluri you encountered this error even after installing respective CRD's?

[2022-07-13 06:04] bronger commented on #28746
Probably related: https://github.com/kubernetes/kubernetes/issues/28746

[2022-07-13 06:05] bronger commented on #28746
Probably related: https://github.com/kubernetes/kubernetes/issues/51850

[2022-07-13 06:10] sahil-kcx commented on #110177
Same issue for me when using Ubuntu 22.04 and containerd version is 1.6.6

[2022-07-13 06:12] lizonglin313 opened #111105 "When using cilium as Kubernetes network CNI, the coredns is running but not-ready, healthcheck failed and plugin/errors HINFO: read udp i/o timeout"
### What happened?

I find some error when using Cilium as Kubernetes network.

- Cilium: 1.11.6
- Kubernetes: 1.23.0

## Describe

The step of create cluster as follow:

1. Use `kubeadm --config kubeadm.conf` to init cluster:
[code]
Run`kubeadm init --config kubeadm.conf` to init cluster.

2. Join the worker node.
- master: 192.168.153.21
- worker1: 192.168.153.22
- worker2: 192.168.153.23

3. In

[2022-07-13 06:17] lizonglin313 commented on #111105
/sig plugin-cni

[2022-07-13 06:17] FillZpp commented on #102259
/sig api-machinery

[2022-07-13 06:18] lizonglin313 commented on #111105
/sig network

[2022-07-13 06:20] lizonglin313 commented on #111105
/area dns

[2022-07-13 07:39] aojea commented on #111105
Kubernetes issues are used for tracking kubernetes related issues, you should open this issue on the cilium repository

/close

[2022-07-13 07:39] #111105 closed

[2022-07-13 07:41] cristifalcas commented on #111094
So the expected behaviour is to choose required, right?

[2022-07-13 07:42] aojea commented on #109744
/reopen

[2022-07-13 08:06] xinxinxinye commented on #72180
[root@master ~]# systemctl status kubelet -l
● kubelet.service - Kubernetes Kubelet
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
   Active: failed (Result: start-limit) since 三 2022-07-13 15:42:16 CST; 23min ago
  Process: 28673 ExecStart=/opt/kubernetes/bin/kubelet $KUBELET_OPTS (code=exited, status=255)
 Main PID: 28673 (code=exited, status=255)

[2022-07-13 08:09] muyangren2 commented on #111094
If the condition of podAffinity is satisfied, nodeAffinity will affect the score in the next scoring. If there are nodes in the cluster that meet both of these conditions, the probability of this node being selected will be higher. You can turn on the log level v=10 to see the scheduling and scoring process

[2022-07-13 08:49] nikhita opened #111108 "kubectl: non-helpful error for 422 webhook status with no Reason field"
### What happened?

kubectl apply displays different errors in v1.21 (and 1.22) vs v1.23 (and above) for the same webhook response, with the error message in v1.23 not being helpful at all.

For example, if a webhook returns a status with
- code `422`
- `Reason` is not equal to `Invalid` / the `Reason` and `Details` fields are not populated

In v1.21.0, we see the following error. This is a helpfu

[2022-07-13 08:50] nikhita commented on #111108
/sig cli

[2022-07-13 08:52] alifiroozi80 commented on #19980
Hello everyone
 i've read [this answer](https://github.com/kubernetes/kubernetes/issues/19980#issuecomment-173961597) and check my `kube-controller-manager.yaml`:

[code]
[code]

As you can see,  `--use-service-account-credentials` is set to `true` and the `--service-account-private-key-file=/etc/kubernetes/pki/sa.key` is point to a private key...

But still the serviceaccount doesn't creates Toke

[2022-07-13 09:04] wdec commented on #100698
/reopen

[2022-07-13 09:07] aojea commented on #19980
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#urgent-upgrade-notes

[2022-07-13 10:24] #110987 closed

[2022-07-13 10:24] neolit123 commented on #110987
/area provider/gcp

[2022-07-13 10:27] neolit123 commented on #111085
/sig network
/kind support

Might be better to ask for support here first
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-07-13 10:28] chendave commented on #111089
okay, this could be easily reproduce on jenkins, https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111104/pull-kubernetes-e2e-kind-ipv6/1547149455797522432.

But I am unable to reproduce it locally on my desktop,
[code]

The Stack Trace will be captured as the stdout instead of stderr and redirected into the file.

I have no idea how jenkins capture the output from stdout, this is the fi

[2022-07-13 10:29] neolit123 commented on #111094
/sig scheduling
/kind support

If there is missing documentation here please send pr for k/website

[2022-07-13 11:12] aleksandra-malinowska opened #111111 "[failing-test] ci-kubernetes-e2e-gce-scale-correctness failing"
### Which jobs are failing?

ci-kubernetes-e2e-gce-scale-correctness

### Which tests are failing?

All test scenarios are passing, but the job hangs on a kubectl command while collecting logs.

### Since when has it been failing?

07-07

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness&show-stale-tests=

### Reason for failure (if possible)

`ku

[2022-07-13 11:13] aleksandra-malinowska commented on #111111
/sig scalability

[2022-07-13 11:26] aleksandra-malinowska commented on #111111
/triage accepted

[2022-07-13 11:28] ch0mik opened #111112 "commonLabels vs PodLabels - error in casting and then podSelector/matchLabels"
/sig Network

### What happened?

the automatic casting of value from commonLabels for Pods Labels makes misleading matchLabels into others K8s Kinds like NetworkPolicy.

the workaround is only change into NetworkPolicy definition to :
[code]

PS.
when i tried change it into Kustomize file to int value - got the error :
[code]

PPS.
selector for Service works ok, with the same selector with quotes

[2022-07-13 12:24] palnabarun opened #111114 "Failing ci-kubernetes-e2e-gce-cos-k8sstable2-alphafeatures on sig-release-1.23-blocking"
### Which jobs are failing?

ci-kubernetes-e2e-gce-cos-k8sstable2-alphafeatures

### Which tests are failing?

The job is unable to bootstrap a cluster.

### Since when has it been failing?

Apr 21 02:27:52 UTC+0530

### Testgrid link

https://testgrid.k8s.io/sig-release-1.23-blocking#gce-cos-k8sstable2-alphafeatures

### Reason for failure (if possible)

_No response_

### Anything else we need t

[2022-07-13 12:24] palnabarun commented on #111114
/cc @kubernetes/release-engineering

[2022-07-13 12:26] saschagrunert commented on #111114
PTAL @kubernetes/cloud-provider-gcp-maintainers @kubernetes/sig-cloud-provider

[2022-07-13 12:28] ahg-g commented on #111094
It is not, please check the docs at https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#an-example-of-a-pod-that-uses-pod-affinity

the matchLabels must be the same for the pods that you want to colocate, the label `statefulset.kubernetes.io/pod-name` will have a different value for different pods. If you want to colocate two pods, they need to have the same key:value.

[2022-07-13 12:32] ahg-g commented on #111094
I don't think there is a way to do what you want, unless we add a feature like https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/3243-respect-pod-topology-spread-after-rolling-upgrades to pod affinity

[2022-07-13 12:33] ahg-g commented on #111094
/remove-kind bug
/kind feature

[2022-07-13 13:14] ch0mik commented on #111112
/sig Network

[2022-07-13 13:22] daman1807 commented on #108806
Is the issue still open ?

[2022-07-13 13:29] marseel opened #111116 "Prolonged etcd reelection causes api-server to close all watchers."
### What happened?

When etcd is unable to elect leader for 3 election cycles, etcd returns "no leader" error through watches.
This can be seen in api-server logs as `watch chan error: etcdserver: no leader`.
Also, when apiserver receives this error, it terminates all watchers: `Terminating all watchers from cacher  ...`.

In large clusters, this can destabilize master, as all these watchers need

[2022-07-13 13:47] vivkong opened #111117 "[Failing Test] Periodic s390x conformance test on local cluster"
### Which jobs are failing?

conformance-s390x

- Periodic s390x conformance test on local cluster

### Which tests are failing?

- ci-k8s-conformance-s390x.Overall
- kubetest2.Test
- Kubernetes e2e suite.[It] [sig-node] Probing container should *not* be restarted with a tcp:8080 liveness probe [NodeConformance] [Conformance]

### Since when has it been failing?

07-12 02:56 EDT

### Testgrid link

[2022-07-13 13:48] wojtek-t commented on #111116
/wg reliability

[2022-07-13 13:54] vivkong commented on #111117
/sig testing

[2022-07-13 14:59] marseel commented on #111116
/assign

[2022-07-13 15:14] RinkiyaKeDad commented on #110961
UPDATE: This test is now failiing

[2022-07-13 15:23] cici37 commented on #110961
cc @bowei Would you mind helping with rerouting? Thank you

[2022-07-13 16:48] mpuckett159 opened #111118 "kubectl wait tests flaking after merging #110923"
### Which jobs are flaking?

Related to https://github.com/kubernetes/kubernetes/pull/110923

See more info at https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=kubectl%2Fpkg%2Fcmd%2Fwait

### Which tests are flaking?

List of flaking tests in the job:

- TestWaitForJSONPathCondition
- TestWaitForJSONPathCondition/handles_watch_condition_change
- TestWaitForCondition
- TestWaitForJSON

[2022-07-13 16:49] #111072 closed

[2022-07-13 16:49] mpuckett159 commented on #111118
/assign @mpuckett159

[2022-07-13 17:00] vivkong commented on #111117
Doesn't seem to be s390x specifc (as it has the same symptom as https://github.com/kubernetes/kubernetes/issues/111072) so I will close this.

[2022-07-13 18:32] mascosta commented on #95116
Hi guys, how are you doing?

Well, try to ensure if kubelet service is running, I had the same issue here and a simple

[code]

Make it work :D

[2022-07-13 19:41] graywolf-at-work opened #111121 "Tag archive checksum changed"
### What happened?

When fetching the source code for kubernetes using https://github.com/kubernetes/kubernetes/archive/refs/tags/v1.20.15.tar.gz, the checksum did change. When fetching right now, the checksum is 0570cdd48d4534cb40b0cec273c065cae15f9156d7dae01a3a19893cf17112f4.

### What did you expect to happen?

Checksum used to be 527289e39bd202f49dbe10d10b3f9856a01de4da68d4ab973deb422f6cf4d034

[2022-07-13 21:33] dastrobu commented on #107536
/remove-lifecycle stale

[2022-07-13 23:03] leonardpahlke commented on #111072
last testgrid run passed :)

[2022-07-13 23:35] shuheiktgw commented on #111012
Yes, you are right. I believe this is caused by [the Ginkgo update](https://groups.google.com/a/kubernetes.io/g/dev/c/JyPme_98tL4/m/ujWYLRXsAwAJ?utm_medium=email&utm_source=footer&pli=1) and we should do the same as https://github.com/kubernetes-sigs/kubetest2/pull/200

[2022-07-13 23:41] shuheiktgw commented on #111012
@leonardpahlke Is https://github.com/kubernetes-sigs/kubetest2/pull/200 supposed to fix this issue, or should we change the timeout flag for those tests? 🤔

/assign

[2022-07-14 00:45] shuheiktgw commented on #111012
For ci-kubernetes-e2e-ubuntu-gce-containerd, it seems [the timeout](https://github.com/kubernetes/test-infra/blob/30116f0eff716aa3464d8d9649eba4ce66b22cd6/config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml#L569) has been  50 minutes for a while and [the job used to finish in around 35 minutes](https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd). However, aroun

[2022-07-14 00:51] shuheiktgw commented on #111012
- https://github.com/kubernetes/kubernetes/pull/109111

Ginkgo has been updated around 7/8 so this change is likely to relate to this problem though

[2022-07-14 02:29] 249043822 commented on #111077
Kube1.24 has removed docker plugin from cadvisor, so although you can use cri-dockerd to adapt container runtime, but the cadvisor could not fetch docker container infos about image labels and so on.

[2022-07-14 05:40] yangjunmyfm192085 opened #111136 "kubelet panic when accessing metrics/resource endpoint"
### What happened?

kubelet panic when accessing metrics/resource endpoint

kubelet log
[code]

### What did you expect to happen?

kubelet works fine

### How can we reproduce it (as minimally and precisely as possible)?

 access metrics/resource endpoint of kubelet

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[code]

</details>

### Cloud provider

<deta

[2022-07-14 05:41] yangjunmyfm192085 commented on #111136
/assign

[2022-07-14 05:41] yangjunmyfm192085 commented on #111136
/sig node

[2022-07-14 07:06] FillZpp commented on #48528
Hi @khenidak , how is this going? We also have demand for this feature. I'd like to submit a KEP mostly based on your proposal if you don't have enough time to work on this :)

[2022-07-14 07:11] liurd commented on #67014
Hi,  @pedrohdz

Even remove fsGroup in yaml,
`
securityContext:
  runAsUser: 1000
  runAsNonRoot: true
  supplementalGroups:
    - 1000
`
While after installation, the default
`  securityContext:
    fsGroup: 1
    runAsNonRoot: true
    runAsUser: 1000
    seccompProfile:
      type: RuntimeDefault
    supplementalGroups:
    - 1000
`
What's your result? where is fsGroup: 1 from?

[2022-07-14 07:51] anencore94 commented on #4817
any updates here ?

[2022-07-14 08:30] mimowo opened #111140 "Do not use sleep for unit tests in taint_manager_test.go"
The taint_manager_test.go uses sleep to wait for some conditions. Example
[code]

This strategy has at least two problems:
- makes the test longer than needed, because the condition will be met often sooner than the sleep takes
- the test may fail on slower machines or machines under load

[2022-07-14 08:30] j143 commented on #109474
A workaround would be to mount a volume to the pod. and copy file to that volume.

[2022-07-14 08:42] fusida opened #111142 "[Enhance] collect inuse_volumes metrics in backgroud"
### What would you like to be added?

collect inuse_volumes metrics in background, and do not block metrics api.

### Why is this needed?

the prometheus pull metrics timeout when there are one hundred thousand PVs exist.

[2022-07-14 08:45] fusida commented on #111142
/sig api-machinery

[2022-07-14 08:50] fusida commented on #111142
“`
diff --git a/pkg/controller/volume/attachdetach/metrics/metrics.go b/pkg/controller/volume/attachdetach/metrics/metrics.go
index a2dbed738f2..d707113c676 100644
--- a/pkg/controller/volume/attachdetach/metrics/metrics.go
+++ b/pkg/controller/volume/attachdetach/metrics/metrics.go
@@ -18,6 +18,7 @@ package metrics

 import (
        "sync"
+       "time"

        "k8s.io/apimachinery/pkg/labels"

[2022-07-14 08:53] nikhita commented on #111108
/assign

[2022-07-14 09:01] fusida commented on #111142
[code]

[2022-07-14 09:21] EvyBongers commented on #56402
Any idea when this can be implemented?

[2022-07-14 09:42] f2003495 commented on #87227
Is it possible to add this in kubernetes documentation? we tried to change the value in the next release but upgrade failed with the below error:

Error: UPGRADE FAILED: release podXXXX failed, and has been rolled back due to atomic being set: cannot patch "podXXX" with kind StatefulSet: StatefulSet.apps
 "podXXX" is invalid: spec: Forbidden: updates to statefulset spec for fields other than 'repl

[2022-07-14 09:48] DeanBrunt commented on #99451
/reopen

This is still an issue as far as I can see and I don't think this got moved to the cloud provider issue log.

[2022-07-14 10:02] hindessm opened #111144 "Mark net.ipv4.ip_local_reserved_ports as a safe sysctl"
### What would you like to be added?

The `net.ipv4.ip_local_reserved_ports` sysctl is namespaced so should be safe to permit. It is an often necessary counterpart to `net.ipv4.ip_local_port_range` sysctl which is currently in the default safe list. It would therefore be helpful to include it in the default safe list as well.

### Why is this needed?

If you have a pod with multiple containers whi

[2022-07-14 10:20] hindessm commented on #111144
/sig network security

[2022-07-14 10:26] sftim commented on #81127
In a review on https://github.com/kubernetes/kubernetes/pull/111119 I suggested that the change to `kms` encryption should be behind a feature gate, as it changes the behavior of Kubernetes in a way that doesn't give cluster operators any way to opt out.

We should also use a KEP to communicate and agree on a policy for the phase out of CBC mode for the DEK (or to explicitly document that we will

[2022-07-14 10:35] mr-anderson86 commented on #81116
Any updates regarding this?
Is there anyway to change the file permissions there to 0660 or 0644?
(I specifically install k8s using RKE)

[2022-07-14 11:58] rajibmitra commented on #111144
/assign @rajibmitra

[2022-07-14 13:09] ardaguclu opened #111147 "re-attach fails after exiting from ephemeral container"
### What happened?

- Started a minikube cluster(minikube version: v1.25.2, commit: 362d5fdc0a3dbee389b3d3f1034e8023e72bd3a7)
- Applied below deployment
[code]
- Ran debug command for one of pods;
[code]
- exited from ephemeral container by typing `exit` and it printed `Session ended, resume using 'kubectl attach nginx-deployment-9456bbbf9-cm9f6 -c debugger-lnz6b -i -t' command when the pod is run

[2022-07-14 13:12] ardaguclu commented on #111147
/sig node
/sig cli

[2022-07-14 13:15] ardaguclu commented on #111147
As far as I understand from the enhancement https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/277-ephemeral-containers/README.md#reattaching-ephemeral-containers, re-attach should work.

[2022-07-14 13:19] Nivedita-coder opened #111149 "[Failing test] gce-master-scale-correctness"
### Which jobs are failing?

release-master-informing

- gce-master-scale-correctness

### Which tests are failing?

- kubetest.DumpClusterLogs

### Since when has it been failing?

07-07 15:01 EEST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

### Reason for failure (if possible)

- e2e.go: DumpClusterLogs
`{  error during /workspace/log-du

[2022-07-14 14:05] ardaguclu commented on #111147
Thanks @MadhavJivrajani

I'm closing this issue since it is a duplicate

/close

[2022-07-14 14:05] #111147 closed

[2022-07-14 16:16] chinkey commented on #108152
I am also seeing this same behavior, is there a good workaround?

[2022-07-14 16:28] liggitt opened #111154 "[Flake] TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter flaking"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter

### Since when has it been flaking?

7/14

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit&include-filter-by-regex=TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter&width=20

### Reason for failure (if possi

[2022-07-14 16:28] liggitt commented on #111154
/priority important-soon

[2022-07-14 16:37] mpuckett159 commented on #111118
I haven't quite had time to look into this yet but I suspect that the problem is most likely due to the integration/e2e(?) testing not handling the changes in functionality that were introduced in this PR. I had a suspicion that this would happen while I was writing it but I completely forgot to reach out to someone to try and figure out how to make sure that I updated any testing to handle it. Go

[2022-07-14 16:47] leilajal commented on #111154
/cc @lavalamp
/triage accepted

[2022-07-14 16:48] leilajal commented on #111142
@fusida is this related to sig instrumentation and sig storage?

[2022-07-14 16:48] leilajal commented on #111116
/triage accepted

[2022-07-14 16:52] leilajal commented on #102259
@evanfoster: did you get response from slack channel?
isn't this related to scalability?

[2022-07-14 16:54] knelasevero commented on #91633
Hey, I reviewed the tests, and re-ran them in a machine where I could be sure that it would not have interference during the tests. New results are already in that doc: https://docs.google.com/spreadsheets/d/1lqUDnx6WRGB5Uu1-Xgaa_sG1bQsINA_SZ2fkay38gWs/edit#gid=0

@pohly  I also creatred another PR pointing to what I think is the commit that we should pursue :sweat_smile:. Also rebased and fixed c

[2022-07-14 16:57] alculquicondor commented on #109848
just saw it in an unrelated PR https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111047/pull-kubernetes-verify/1547598162623991808

[2022-07-14 16:57] lavalamp commented on #4817
I suspect we should merge this issue with #53459. They are different lenses on the same basic deficiency, I think.

[2022-07-14 17:32] thockin commented on #99451
This is more of a GCE cloud-provider feature request than k8s proper.

An annotation along the lines of "don't manage firewall" should be easy - then you can manage firewall yourself.  Is that sufficient?

Making an annotation that is more configurable (e.g. "don't do source ranges, but source tags or source SA's) is much more complex.

[2022-07-14 17:55] shettyg commented on #110674
We are seeing more cases of this issue across multiple clusters. @jsturtevant I see that it has been marked as "In Progress" - do we have more insight on the reason for the bug? Are there areas, wherein adding debug statements give us more data?

[2022-07-14 17:56] poblahblahblah opened #111157 "Kubelet's cAdvisor endpoint serving stale metrics?"
### What happened?

We are looking at migrating to the kubelet provided cAdvisor for gathering container/pod metrics.

We have Prometheus configured to scrape the kubelet's endpoint using a standard configuration.

When comparing metrics from the current exporter (metrics-server-exporter) to kubelet's cAdvisor we noticed that there was a discrepancy between the two. Digging further it looks like k

[2022-07-14 18:52] poblahblahblah commented on #111157
I had forgotten that I needed to test this out with cAdvisor as a DaemonSet. We are seeing the same behavior  in cAdvisor 0.39.3 as we are in the Kubelet's cAdvisor.

![cadvisor-containerd](https://user-images.githubusercontent.com/51938/179060398-ef7e295c-0045-4988-a97a-34f2ba13e95e.png)

The effect is a bit more pronounced in the above graph because there is only 1 pod running in the namespace.

[2022-07-14 20:14] brianpursley commented on #109621
I did a little more investigation and it does appear to be a cache issue, but probably not a client-side cache issue (at least I don't think so).

Adding `-v8` when the explain fails, I see this:
[code]

The line:
[code]

But when explain succeeds, I see this, with no `X-From-Cache` response header, and the ETAG is different
[code]

[2022-07-14 20:19] #111136 closed

[2022-07-14 20:58] brianpursley commented on #109621
Looks like the test uses [`waitForOpenAPISchema`](https://github.com/kubernetes/kubernetes/blob/857458cfa5b0083bc55736aaccbcf1dc796ba320/test/e2e/apimachinery/crd_publish_openapi.go#L645), so it is supposed to be waiting for the CRD to show up in OpenAPI before continuing.

I saw this line in the code that made me think maybe this is a HA issue, where the OpenAPI is updated on one server, but not

[2022-07-14 21:36] #109793 closed

[2022-07-14 21:36] #103368 closed

[2022-07-14 23:13] shuheiktgw opened #111161 "[Falling test] skew-cluster-latest-kubectl-stable1-gce kubetest.Extract"
### Which jobs are failing?

- [skew-cluster-latest-kubectl-stable1-gce](https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce)

### Which tests are failing?

- kubetest.Extract

### Since when has it been failing?

7/13

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce

### Reason for failure (if p

[2022-07-14 23:19] shuheiktgw commented on #111161
/sig testing

[2022-07-14 23:44] shuheiktgw commented on #111012
/unassign

[2022-07-14 23:49] MikeSpreitzer commented on #111154
@aojea: I see no direct relationship, but hey, anything's possible.  We learned that with the misery in integration test failures when we merged not-really-guilty other stuff.

[2022-07-15 00:50] #90277 closed

[2022-07-15 02:10] pacoxu commented on #111157
/sig node
/area cadvisor
/cc @bobbypage

[2022-07-15 02:28] fusida commented on #111142
Not entirely, mainly because there are too many PVs,  getVolumeInUseCount use time is longer than get metrics.

[2022-07-15 02:29] fusida commented on #111142
@leilajal Not entirely, mainly because there are too many PVs, getVolumeInUseCount use time is longer than get metrics.

[2022-07-15 03:12] MikeSpreitzer commented on #111154
The expanded logging turned up some new evidence.  See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111162/pull-kubernetes-unit/1547751720010911744 , where the complaint is now
[code]

[2022-07-15 03:17] MikeSpreitzer commented on #111154
The problem here is not APF, it is something in the timeout filter or the test server.

[2022-07-15 03:21] fusida commented on #111142
@leilajal we have over 20w pods, every pods has bound PV.

[2022-07-15 03:30] liggitt commented on #111154
is something in APF triggering a timeout?

[2022-07-15 03:46] liggitt commented on #111154
The flake definitely came in with https://github.com/kubernetes/kubernetes/pull/110104

on the prior commit on master:
[code]

on the merge commit of https://github.com/kubernetes/kubernetes/pull/110104:

[code]

[2022-07-15 03:48] liggitt commented on #111154
/assign @MikeSpreitzer

[2022-07-15 05:57] alifiroozi80 opened #111167 "Creating service account does not auto generate corresponding secret"
Hello everyone,
 i've read [this issuer](https://github.com/kubernetes/kubernetes/issues/19980) and [this answer](https://github.com/kubernetes/kubernetes/issues/19980#issuecomment-173961597) from @[kelseyhightower](https://github.com/kelseyhightower) and checked my `kube-controller-manager.yaml`:

[code]
[code]

As you can see,  `--use-service-account-credentials` is set to `true` and the `--serv

[2022-07-15 07:00] saschagrunert commented on #111161
I have a fix in mind in https://github.com/kubernetes/test-infra/pull/26824

[2022-07-15 07:10] #111161 closed

[2022-07-15 07:27] saschagrunert commented on #111161
The new config is applied and the job run successfully: https://prow.k8s.io/log?job=ci-kubernetes-build-1-24&id=1547843272590757888

Unfortunately, it will only update the marker if the build is new. To avoid requiring a new merge into the release-1.24 branch, I manually restored the marker file for now: https://storage.googleapis.com/k8s-release-dev/ci/k8s-stable1.txt

[2022-07-15 07:58] 249043822 opened #111174 "static pod admit failed on kubelet startup, but the pod phase and status is incorrect"
### What happened?

a static pod has  admission failure, but the phase for the pod is still Running and has no status about UnexpectedAdmissionError

[code]

the logs are as follows, add comments for the processes of the bug

[code]

### What did you expect to happen?

while the static pod was admitted failed, its status should be as follows:

[code]

### How can we reproduce it (as minimally and

[2022-07-15 08:03] mjudeikis commented on #79365
/remove-lifecycle rotten
we keep seeing this with PSS on AKS, EKS. I suspect there is something wrong here. I didn't seen any evidence here tht this is being fixed/worked on? I might be wrong

[2022-07-15 08:04] #102373 closed

[2022-07-15 08:04] #109679 closed

[2022-07-15 09:22] chendave commented on #111089
/priority backlog

We have way to workaround it.

[2022-07-15 09:23] chendave commented on #111089
/remove-priority important-soon

[2022-07-15 11:42] SurveySky commented on #105204
Could someone confirm or deny that the bug is fixed in 1.23.8 version?

[2022-07-15 12:22] untcha commented on #105204
I can confirm. Don‘t see it on v1.23.8+k3s1

[2022-07-15 13:58] zabrox opened #111180 "No need to check 100 times misses of cronjob"
### What would you like to be added?

In v1beta version of cronjob, we checked the missed schedule count in order to avoid excessive looping.
https://github.com/kubernetes/kubernetes/blob/e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529/pkg/controller/cronjob/utils.go#L124-L143

Nowadays, however, we do not have looping so I think there is no clear reason for checking 100 times of schedule misses.
We can

[2022-07-15 15:06] verb commented on #108799
/remove-lifecycle stale

[2022-07-15 15:40] mimowo opened #111183 "Simplify the "TestTaintBasedEvictions" integration test in lifecycle_test.go"
The following things should be simplified:
- use "NodeDisruptionExclusion" feature instead of  periodic heartbeat events to simplify the logic, it was also requested in this comment:
[code]
- eliminate scheduler from this test

[2022-07-15 15:43] mimowo commented on #111183
/sig apps

[2022-07-15 15:44] mimowo commented on #111140
/sig apps

[2022-07-15 15:56] #106704 closed

[2022-07-15 16:12] MikeSpreitzer commented on #111154
Note that the flaking test is deliberately suffering server-side timeouts.  The symptom in flakes is that the test is checking that the client gets kube's designed response to a timeout while handling, a particular form HTTP response message, but sometimes the client gets something else (an http2 internal error?).

#110104 is a change in metrics, and _should_ have nothing to do with how timeouts w

[2022-07-15 16:43] joebowbeer commented on #56374
Is it true that the following `securityContext` _allowed_ by the [restricted](https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted) pod security standards (PSS) policies is not achievable?

[code]

If so, then should the information about NET_BIND_SERVICE be dropped from the restricted PSS spec?

[2022-07-15 17:05] MikeSpreitzer commented on #111154
@liggitt , regarding your comment above (https://github.com/kubernetes/kubernetes/issues/111154#issuecomment-1185144359): note that the output shown (the panic "as designed") is normal; if there are failures involved, the failing part was elided.

[2022-07-15 17:30] machine424 commented on #69687
Hello,

I got tired of having nodes that are only used 3 hours a day and I implemented a little tool https://github.com/machine424/kube-hpa-scale-to-zero to simulate HPAScaleToZero especially managed Kubernetes clusters.

Awaiting for the feature gate to get promoted.

[2022-07-15 17:32] MikeSpreitzer commented on #111154
Also, the failures seem to be coming from one particular subtest (`priority_level_concurrency_is_set_to_1,_queue_length_is_1,_first_request_should_time_out_and_second_(enqueued)_request_should_time_out_as_well`) and that one does _not_ involve designed panics.

[2022-07-15 18:38] minusv commented on #30518
Any updates on this? I've been trying to use ingress controllers other than alb-ingress-controller but none of the controllers provides support for alb.
Annotation for `service.beta.kubernetes.io/aws-load-balancer-type: alb` will definitely be a huge help.

[2022-07-15 18:49] dkinzer commented on #110835
I was able to create a /tmp/app dir and set it to 700 in an init container and set TMPDIR env value to /tmp/app and this resolved the issue.

[2022-07-15 20:46] MikeSpreitzer commented on #111154
I have updated #111162 to include the fix for this flake.

[2022-07-15 20:54] dkinzer commented on #110835
@luisdavim our user is set to nobody by default so no special privileges needed.  Since the emptyDir mount is already 777 then user "nobody" can create the /tmp/app sub folder in /tmp. And in the main container the app runs as user 'nobody'.

There is one trick.  You need to mount the same volume to both the init container and the app at /tmp ... otherwise it wont work.  This works because init co

[2022-07-15 21:23] dpasiukevich commented on #109406
Hi, @aojea @rikatz

Could you suggest if it's ok to use `gcr.io/k8s-staging-build-image/distroless-iptables:v0.1.0` already?

That would be super cool to use the image as a base for NodeLocalDNS (as it uses iptables). I already did manual smoke test in cluster - all is working correctly.

Thanks!

[2022-07-15 21:33] aojea commented on #109406
Let's introduce it gradually, I suggest to wait until the image is promoted for kube-proxy

[2022-07-15 21:35] brianpursley opened #111187 "Failure cluster [6c0ab9d0...]"
### Failure cluster [6c0ab9d05be03de00831](https://go.k8s.io/triage#6c0ab9d05be03de00831)

##### Error text:
[code]
#### Recent failures:
[7/15/2022, 6:33:30 AM ci-kubernetes-generate-make-test-count10](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-generate-make-test-count10/1547891591916556288)
[7/14/2022, 6:35:17 PM ci-kubernetes-unit](https://prow.k8s.io/view/gs/kubernetes-j

[2022-07-15 21:42] YarikRevich commented on #111140
/assign @YarikRevich

[2022-07-15 21:48] robscott commented on #109406
@aojea @rikatz I've lost track of this, what do we need to do to promote it for kube-proxy?

[2022-07-15 22:57] #108071 closed

[2022-07-15 23:30] thockin opened #111188 "Redundant deps"
### What happened?

[code]

github.com/niemeyer/pretty seems to be an old fork of github.com/kr/pretty.

We should track down why and fix it.

### What did you expect to happen?

One copy of pretty.

### How can we reproduce it (as minimally and precisely as possible)?

grep pretty go.mod

### Anything else we need to know?

_No response_

### Kubernetes version

<details>
HEAD
</details>

### Clo

[2022-07-15 23:44] bobbypage commented on #111157
Can you try using the latest version of cAdvisor, e.g https://github.com/google/cadvisor/releases/tag/v0.44.0

Also, make sure that the houseKeepingPeriod is the same. cAdvisor configures it to 1 second - https://github.com/google/cadvisor/blob/release-v0.44/manager/container.go#L49

Kubelet is configuring it to 15 seconds by default which may be cause of the discrepancy you are seeing:

xref: htt

[2022-07-16 00:05] Abirdcfly commented on #111188
/assign

I want fix it.😀😃😄😁

[2022-07-16 00:44] bobbypage commented on #111174
Hmm, I tried to repro but was not able to see the behavior you mentioned. I noticed that after the pod fails local admission it ends up getting deleted.

Here's my repro steps:

1. Create a kind cluster and disable cni and kubeproxy to ensure the worker isn't running any pods (to make testing easier)
see https://gist.github.com/bobbypage/fbc2d99c41989d5790e022b6f3e2e5ac
2. Create two static pods b

[2022-07-16 01:49] thockin commented on #103942
I like spew enough that I have forked it and will spend some time hacking.  My goal is (currently) to stay api-compatible, but maybe I will minimize.

[2022-07-16 02:43] Abirdcfly commented on #111188
[code]

`github.com/niemeyer/pretty` is an old fork of `github.com/kr/pretty`, so we should use only `github.com/kr/pretty`.
[code]

`gopkg.in/yaml.v3` go.mod
https://github.com/go-yaml/yaml/blob/f6f7691b1fdeb513f56608cd2c32c51f8194bf51/go.mod#L4

`gopkg.in/yaml.v2` go.mod
https://github.com/go-yaml/yaml/blob/7649d4548cb53a614db133b2a8ac1f31859dda8c/go.mod#L5

The core reason is that the `gopkg.in

[2022-07-16 02:58] #103760 closed

[2022-07-16 06:44] alifiroozi80 commented on #111167
Hey @aojea
Thank you so much for your response...
That was exactly the problem...
Thanks man🙏

[2022-07-16 06:44] #111167 closed

[2022-07-16 06:44] debdeepsanyal commented on #111092
/assign

[2022-07-16 09:59] #107809 closed

[2022-07-16 10:21] aojea commented on #109406
I think Ricardo was on it  https://kubernetes.slack.com/archives/C2C40FMNF/p1656642321639849

But if someone is busy and others have time, let's sync next monday on slack and organize the work, so someone can get this to the finish line, there is no need to overload one person if there are other wanting to help

[2022-07-16 10:33] aojea commented on #111089
it seems is that the problem is with the CI assumptions not with ginkgo so, how can we modify the reporting tool , @BenTheElder @alvaroaleman do you know where is this logic implemented so we can adapt it to ginkgov2?

[2022-07-16 10:56] shapirus commented on #43916
It's quite obvious that cache memory is reclaimable memory, which can be freed nearly instantly if a process calls a new `malloc()` and therefore it should not be counted in the pod memory usage. Otherwise it leads to wrong hardware allocation decisions, gives very confusing number in `kubectl top pod`, etc.

For anything but performance tuning, the memory used by page cache must be considered the

[2022-07-16 11:09] rikatz commented on #109406
I didn’t saw there was a comment there.

I can fix that, and wanted to plan with you folks next steps. I agree with
Antonio and don’t want to block this on my availability :)

I will check @cpanato suggestion tomorrow and as we get this merged I’m
more than happy to handle to someone else!

On Sat, 16 Jul 2022 at 07:21 Antonio Ojea ***@***.***> wrote:

[2022-07-16 13:41] MadhavJivrajani commented on #111188
/sig architecture
/area code-organization

[2022-07-16 15:47] alvaroaleman commented on #111089
hey @aojea , this is the junit spyglass lens. The parsing code is here: https://github.com/kubernetes/test-infra/blob/a33d16849f5658ef5462a858e2644a85b3a85f91/prow/spyglass/lenses/junit/lens.go#L140

It then gets inserted into a html template: https://github.com/kubernetes/test-infra/blob/a33d16849f5658ef5462a858e2644a85b3a85f91/prow/spyglass/lenses/junit/template.html#L38

The underlying go type

[2022-07-16 16:05] #105391 closed

[2022-07-16 16:25] alvaroaleman commented on #111089
I think https://github.com/kubernetes/test-infra/pull/26832 should fix it, can you check if that does what you would expect?

[2022-07-17 04:38] nzb15555196162 opened #111195 "kubelet.go:2424 node "master" not found"
### What happened?

install kubernetes with kubeadm, the version is v1.24.3, kubadm init failed in the master node wth lots of node "master" not found

### What did you expect to happen?

 kubadm init success

### How can we reproduce it (as minimally and precisely as possible)?

1 execute kubeadm init...
2 see detail error
   This error is likely caused by:
	- The kubelet is not running
	- The ku

[2022-07-17 04:52] Abirdcfly commented on #105391
Just a short research:
Once event migration is completed, tools/events packages shuold be remove.
But not yet, at least it is still in use here:
https://github.com/kubernetes/kubernetes/blob/5b92e46b2238b4d84358451013e634361084ff7d/cmd/kube-scheduler/app/config/config.go#L49-L50

[2022-07-17 04:58] Abirdcfly commented on #111195
/remove-kind bug
/kind support

Just a personal opinion, text log > picture log > gif log

[2022-07-17 08:54] Vikramsingh-karnot commented on #111092
/assign

[2022-07-17 11:11] #107647 closed

[2022-07-17 12:23] sanicheev commented on #98826
/remove-lifecycle stale

[2022-07-17 12:29] neolit123 commented on #111195
The kubelet prints this message until the node object ID created. The reason for the failures is probably something else. Check closely in the kubelet logs.

Please see this as well:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-07-17 12:29] #111195 closed

[2022-07-17 16:44] r-ising commented on #41881
/remove-lifecycle stale

[2022-07-17 17:01] Bessonov commented on #79606
/remove-lifecycle stale

[2022-07-17 18:57] uablrek opened #111196 "Setcap doesn't work on master but works on v1.24.3"
### What happened?

A test with a non-root container fails on master;
[code]
The `/sbin/ip` has cap_net_admin=eip and this works on earlier version. We have a requirement on non-root containers but we must use the `ip` command in multi-network setups.

### What did you expect to happen?

I expect the same behaivor as in earlier versions:
[code]
It works fine on `v1.24.3`.

### How can we reproduce

[2022-07-17 18:58] uablrek commented on #111196
/sig node

[2022-07-17 19:36] uablrek commented on #111196
Here is the `Dockerfile` for the image above;
[code]

[2022-07-17 20:30] vaibhav2107 commented on #109191
/remove-lifecycle stale

[2022-07-17 20:36] vaibhav2107 commented on #104432
/remove-lifecycle stale

[2022-07-17 20:38] vaibhav2107 commented on #104888
/remove-lifecycle stale

[2022-07-17 20:40] vaibhav2107 commented on #100236
/remove-lifecycle stale

[2022-07-17 20:52] aojea commented on #111196
@saschagrunert can you help us here?

[2022-07-17 21:23] uablrek commented on #111196
@aojea Thanks for asking @saschagrunert Made me look twice :smile:

And, yes this is `cri-o` related. My K8s v1.24.3 image used cri-o v1.22.0 and that's why it worked. With cri-o `v1.24.1` it fails on K8s `v1.24.3` as well.

I close this issue and will write a new one on `cri-o`.

[2022-07-18 00:04] #109391 closed

[2022-07-18 00:17] #107953 closed

[2022-07-18 01:06] nzb15555196162 commented on #111195
thank you for you reply, ok, i will check

[2022-07-18 03:23] kidddddddddddddddddddddd commented on #110961
It should be fixed now, see #111138

[2022-07-18 05:04] llinvokerl commented on #111000
![20220718114609](https://user-images.githubusercontent.com/38915183/179443032-236f3154-1933-466e-9e8b-82df6dd18a10.jpg)

There are `two nodeStatusUpdater.UpdateNodeStatuses()`. The one before `DetachVolume()` was failed, but another which is at the end of `reconciler()` was successfully executed. Thus cause the kubelet coundn't get the volume in `node.Status`.

[2022-07-18 05:16] llinvokerl commented on #111000
kubelet log repeat the message below infinitely:
[code]

[2022-07-18 06:53] WLBF commented on #108152
@chinkey  I meet this problem when I was developing some device plugin, my broken device plugin cause this behavior.

[2022-07-18 07:20] 249043822 commented on #111000
Okay, I know what you said, actually this problem is similar with the one which was fixed by https://github.com/kubernetes/kubernetes/pull/104526, but it is not completely.
Give another pr below to fix this.

[2022-07-18 07:28] vpnachev opened #111208 "API server does not fail when the file in `--audit-log-path` is deleted which results into lost of audit logs"
### What happened?

I have a k8s cluster with kube-apiserver configured with the following audit flags
[code]

Initially everything is working fine and I can see the AuditEvents in the `/var/lib/audit.log` file on the host. However, if I delete the `/var/lib/audit.log` file, kube-apiserver keeps working with no issues
- it accepts my requests
- the responses contain `Audit-Id` header
- there is ev

[2022-07-18 07:29] vpnachev commented on #111208
/sig auth

[2022-07-18 07:57] PhamMinhHiepIT2 commented on #83471
The same issue and it works.

[2022-07-18 08:05] aojea commented on #111086
it seems that the CSI tests are taking into account the time to delete the namespace, per example

takes 10 mins, starts at `2022-07-18T05:32:11.074813079Z`

and takes 5 mins deleting the namespace

[code]

 it feels like this is related on how CSI tests are structured, @chendave made some comments about this here https://github.com/kubernetes/kubernetes/pull/111063

[2022-07-18 08:09] #111000 closed

[2022-07-18 08:20] kedare commented on #43916
It's not that simple, in this case a simple tiny pod with memory restriction could starve the FS cache by reading a lot from a disk and impact the others deployments. FS cache is as important as RSS for some workloads.

[2022-07-18 09:05] shapirus commented on #43916
Fair enough.
This consideration kind of suggests that a new type of requests/limits has to be added: page cache. While it still cannot be counted as the actual process memory usage (RSS + swap), it cannot be totally ignored, either, since having a certain amount of page cache available (possible even dedicated) may be important for some types of workloads.

[2022-07-18 09:48] aojea commented on #111092
@jayunit100 I can't get a link to the log with the failure,
We have to check that the test is using correctly the function `WaitForPodsRunningReady` , it has some requirements to consider the pods

[2022-07-18 09:55] aojea commented on #110961
in this case, it was this ^^^

/close

[2022-07-18 09:56] #110961 closed

[2022-07-18 10:06] aojea commented on #111067
@muyangren2 we have to repro it first, I can't repro it with go 1.18.3

[code]

[2022-07-18 10:24] rtheis commented on #100711
/remove-lifecycle stale

[2022-07-18 10:41] kerthcet commented on #111094
The `weight` in `preferredDuringSchedulingIgnoredDuringExecution` helps to find the most fit obj between different prefer terms, not between different affinities. Maybe you can add another prefer term under `podAffinity` with a higher weight.

[2022-07-18 10:44] WulixuanS opened #111213 "Kubelet: provides an interface to get the specified pod"
### What would you like to be added?

Kubelet adds an interface to get the specified pod through namespace and name

### Why is this needed?

Our largest cluster has about 4,500 nodes, and there are about 51,000 pods in the cluster, some of which are co-located pods, which have a short life cycle and are frequently created and died. We have a cni-adaptor component on the kubelet node, which will c

[2022-07-18 10:50] MadhavJivrajani commented on #111187
Dup: https://github.com/kubernetes/kubernetes/issues/111154
Will let you close this one out in case I missed something!

[2022-07-18 10:58] wojtek-t opened #111215 "SSA is very inefficient with huge number of labels/annotations/..."
As shown here:
https://github.com/kubernetes/kubernetes/pull/110569/files#diff-c9661ce6b32ebf6604536c747826c618fa7d057248f4dffe11d576063a3b480bR358-R363

SSA (computing ManagedFields) is highly inefficient for huge number of labels/annotations and with high enough numbers (the original test had 130,000 labels) could easily exceed 10s.
As pointed in the comment thread there, I don't perceive it as

[2022-07-18 11:38] neolit123 commented on #111213
/sig node

[2022-07-18 11:42] wind57 commented on #32946
one more use case that we are facing. There are 1000s of config maps in a namespace, but we need to read only 10. We have two options: read all of them and filter for those 10 by name (takes time to read _all_); read 10 of them individually, which is again not ideal at all.

[2022-07-18 11:44] aojea commented on #111213
/sig scalability
cc @dcbw

[2022-07-18 11:55] marseel commented on #111116
I believe it's coming from this change. As I mentioned, the idea to mitigate it is to add some parameter that will allow us to ignore this error coming from etcd for specific duration without terminating all watchers.

[2022-07-18 12:17] #55046 closed

[2022-07-18 12:20] chinkey commented on #108152
I am using this device plugin for ettus devices: https://github.com/Gradiant/ettus-device-plugin.   its possible that there is a bug in their code causing this behavior?  Im not exactly sure where to look to determine if thats the case.

[2022-07-18 12:43] egberts commented on #71305
To get rid of that libvirt error, my permanent workaround in Debian 11 (as a host) with libvirtd daemon is to block the loading of iptables-related modules:

Create a file in `/etc/modprobe.d/nft-only.conf`:

[code]

`libvirtd` daemon now starts without any error.

Post-analysis: Apparently, I had `iptables` module loaded alongside with many nft-related modules; once `iptables` was gone, the pesky

[2022-07-18 12:52] JCzz opened #111216 "Unable to build Kubernetes on Ubuntu arm64"
### What happened?

I am running on Ubuntu and I am trying to build Kubernetes.

After following [documentation](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md) and for local [development](https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md#cfssl), I have created a script - see script in the section "Install tools" - I ge

[2022-07-18 12:56] alex-matei opened #111217 "Kube scheduler uses legacy events API when bootstraping a new node"
### What happened?

Kube-scheduler doesn't have the ClusterRoleBinding needed when starting for the first time:
<details>

[code]

</details>

Because of this events.NewEventBroadcasterAdapter defaults to using the legacy API for reporting events.

### What did you expect to happen?

Kube-scheduler should use the new events api.

### How can we reproduce it (as minimally and precisely as possible)

[2022-07-18 12:59] rikatz commented on #109406
@robscott @aojea I've opened a new PR to do the proper promotion.

As soon as this is promoted I think we can start testing and migrating to distroless :)

From here I think I can handle to someone else as I wont have much time and attention to this specific effort and I know this is important :)

I'm still willing to migrate iptables-wrapper to go code (we started it in kubernetes-sigs/iptables-w

[2022-07-18 13:37] aojea commented on #111092
I think that we can just add a new message explaining the real problem

[2022-07-18 15:17] sbangari commented on #110674
@shettyg  Can you collect the output of this script on the node (if possible within a day after the issue reproduces)?
https://github.com/microsoft/SDN/blob/master/Kubernetes/windows/debug/collectlogs.ps1

[2022-07-18 15:43] zabrox opened #111223 "Cronjob MissSchedule event is never raised"
### What happened?

In the cronjob code it seems that a MissSchedule event is raised when a cronjob misses a schedule.
https://github.com/kubernetes/kubernetes/blob/6269784cd0bceeacbb133f5125a9818342ea7d6c/pkg/controller/cronjob/cronjob_controllerv2.go#L540-L553

However actually this event is never raised because the scheduleTime varialbe becomes nil when schedule misses.
I think we should raise

[2022-07-18 15:43] zabrox commented on #111223
/sig apps

[2022-07-18 15:43] zabrox commented on #111223
/assign

[2022-07-18 16:23] schellj commented on #99986
/remove-lifecycle stale

[2022-07-18 16:23] ritazh commented on #107150
/triage accepted
/remove-kind feature
/kind documentation

[2022-07-18 17:28] PushkarJ commented on #108464
/close

(1.21 is out of support and linked issue is also closed. Feel free to re-open if I misunderstood)

[2022-07-18 17:28] #108464 closed

[2022-07-18 17:56] mattcary commented on #109535
/lifecycle frozen

[2022-07-18 17:57] navidnadali commented on #104107
Hi @timoreimann

Just to confirm does #110255 not solve your issue (more info on bug report at #109414)

Many thanks

[2022-07-18 18:24] Jeeppler commented on #49937
@kwri-avongluck

Go for it. Give it a try.

[2022-07-18 18:37] ruiwen-zhao commented on #107911
/remove-lifecycle stale

[2022-07-18 19:17] wojtek-t commented on #111116
With this comment thread in mind, It would probably be cleaner to allow for simply setting the "timeout" as part of WithRequireLeader option (instead of using the constant of 3). But that would require etcd changes, including the API and we want to workaround that in much smaller timeframe.

But a comment about how to make that cleaner with some additional context from here would help.

[2022-07-18 20:24] #111089 closed

[2022-07-18 21:18] aojea commented on #111086
Yeah, it seems to be related to the ginkgo v2 migration, there were some behaviour changes ... I'm just trying to get some help because I couldn't find the problem and I am lost on those CSI e2e test logic

[2022-07-18 21:25] red8888 commented on #69696
/remove-lifecycle rotten

[2022-07-18 22:05] ahrtr commented on #107150
Based on the [changelog-1.24](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#no-really-you-must-read-this-before-you-upgrade), users are supposed to use [TokenRequest](https://kubernetes.io/docs/reference/kubernetes-api/authentication-resources/token-request-v1/) to acquire service account tokens. I guess `kubectl create token SERVICE_ACCOUNT_NAME --duration xxx`

[2022-07-19 00:09] shuheiktgw commented on #111012
This issue might be related to https://github.com/kubernetes/kubernetes/issues/111086 since they are talking about the same slow e2e tests

[2022-07-19 00:20] bridgetkromhout commented on #109983
Is this the fix: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/2480

for https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-conformance-windows-capz
and for https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-ccm-windows-capz?

[2022-07-19 00:40] onsi commented on #111086
i put this in the sig-testing slack but in case it's relevant here:

one thing to note is that in ginkgo v1 the —timeout flag used to apply to each suite separately.  So if you are running 3 suites with a timeout of 50 minutes each suite gets 50 minutes.

In v2 the timeout governs the entire test run - that means all 3 suites must finish within 50 minutes.  not sure if that is in play here (are th

[2022-07-19 01:15] #87232 closed

[2022-07-19 02:00] bobbypage commented on #111012
/cc

[2022-07-19 02:28] mysunshine92 opened #111234 "GetPodIPs has bug：For a dual stack environment, if only one type of ip address is obtained, it will also return directly, not report error and not retry"
### What happened?

For function GetPodIPs：
in  a dual stack environment，executing the nsenter command to first obtain the ipv4 address, and then obtain the ipv6 address.if only one type of ip address is obtained, it will also return directly, not report error and not retry.

In our  dual stack environment：
an error occurred when obtaining the ipv4 address, and only the ipv6 address was obtained.

[2022-07-19 02:32] mysunshine92 commented on #110903
ExtendedResource will be treated as decimalSI, not binarySI，Where is this restriction? i can not find any document?

[2022-07-19 02:33] mysunshine92 commented on #111234
/sig node
/triage accepted

[2022-07-19 02:35] mysunshine92 commented on #111234
cc @neolit123

[2022-07-19 02:52] #109796 closed

[2022-07-19 02:52] #110335 closed

[2022-07-19 02:52] #110660 closed

[2022-07-19 03:26] FillZpp commented on #111223
@zabrox Which version of K8s do you use? You can provide the output of `kubectl version`.

[2022-07-19 03:46] lijinyong commented on #86186
I think it can be discussed in this direction.
if creating a container with a tmpfs mount（the implementation is similar to “docker run -d -it --mount type=tmpfs,destination=/var/secrets nginx:latest“）, when secrets are mounted as files to /var/secrets file system in container，secrets files outside the container’s writable layer and cannot be trivially read from the underlying host.

Also, why does

[2022-07-19 05:21] null-sleep commented on #73492
Also experiencing the same issue on nodes with version `v1.22.8-gke.2200`

[2022-07-19 05:21] null-sleep commented on #106055
Also experiencing the same issue on nodes with version `v1.22.8-gke.2200`

[2022-07-19 05:25] thockin commented on #86186
Secrets are already tmpfs, and "medium" is an optional param to emptyDir
volumes.

On Mon, Jul 18, 2022, 8:47 PM lijinyong ***@***.***> wrote:

[2022-07-19 05:27] monianshouhou commented on #109983
Yes, it fixes part of the problem. Now CNM images can be pulled successfully, but there also exist some test adapting problems in cloud-azure-provider repo, which will be fixed in the next few days.

[2022-07-19 06:00] ardaguclu commented on #111215
/cc

[2022-07-19 06:22] lijinyong commented on #86186
k8s secrets can be relatively easy to extract if an attacker gains access to the host’s filesystem as root.  In the case of mounted volumes, the secret has a predictable location:/var/lib/kubelet/pods/<id>/volumes/kubernetes.io~secret/<folder name>/<filename>.  k8s emptydir (medium=memory) behaves differently from docker's native tmfs.

[2022-07-19 06:26] muyangren2 commented on #109848
/assign

[2022-07-19 06:29] neolit123 commented on #111234
in which part of the codebase is the function GetPodIPs?

[2022-07-19 06:40] aojea commented on #111234
/remove-kind bug
/kind support

podIPs are assigned by the CNI, you are not providing that information.

Also, your command shows you are using docker, that has been deprecated and removed recently.

[2022-07-19 06:54] muyangren2 commented on #111188
Your analysis is very good @Abirdcfly

[2022-07-19 07:01] aojea commented on #111086
let's try this theory https://github.com/kubernetes/kubernetes/pull/111240#issuecomment-1188674386

[2022-07-19 07:26] aojea commented on #108483
where are we standing today?

[2022-07-19 07:59] wojtek-t commented on #108483
Getting close:
[code]

[2022-07-19 07:59] wojtek-t commented on #108483
A bit more coming soon.

[2022-07-19 08:01] Shubham82 commented on #111216
Hi @JCzz
I think that go.mod is not consistent with `vendor/modules.txt`.
Can you run `go mod tidy` to ensure that the go.mod file matches the source code in the module and then run `go mod vendor` to copy imported packages into vendor directory and update vendor/modules.txt.

Hope so this will help you and resolve your issue.

[2022-07-19 08:22] mysunshine92 commented on #111234
CNI assign correctly，shows below：
[root@r5930-r1-s2:~]$ nsenter --net=/proc/56316/ns/net -F -- ip -o -4 addr show dev eth0 scope global
3: eth0 inet 192.169.5.221/24 brd 192.169.5.255 scope global eth0\ valid_lft forever preferred_lft forever

[root@r5930-r1-s2:~]$ nsenter --net=/proc/56316/ns/net -F -- ip -o -6 addr show dev eth0 scope global
3: eth0 inet6 1111:0:0:5::dd/64 scope global \ valid_l

[2022-07-19 08:23] mysunshine92 commented on #111234
k8s version：1.22.3
pkg\kubelet\dockershim\network\plugins.go

getIPs -> getIPsFromPlugin -> GetPodNetworkStatus -> GetPodNetworkStatus(cniNetworkPlugin) -> GetPodNetworkStatus ->  GetPodIPs -> getOnePodIP

[2022-07-19 08:25] LucaSoato commented on #110158
I found the same error while upscaling nodes for airflow processing 😢

[2022-07-19 08:32] ChenJhua commented on #110158
Do you have a solution here?

[2022-07-19 09:01] aojea opened #111247 "[Umbrella Issue] VERY SLOW tests running on presubmits"
This is causing flakiness, tests should be tagged accordingly or modified to improve the time to run, this is the current status obtained from the CI

[code]

[2022-07-19 09:03] aojea commented on #111086
@gnufied @msau42 can you please take on the slow tests from sig-storage that are running on presubmits?
I can do it but I'm afraid of breaking something, you can see them here https://github.com/kubernetes/kubernetes/issues/111247

[code]

[2022-07-19 09:07] 0xff-dev opened #111248 "Get cluster scope resource using dynamic client error when set namespace."
### What happened?

[code]
My namespace is obtained from the environment variable. When I don't set it, the code can return all clusterrole, but when I set the `ns`  environment variable, it will report an error `the server could not find the requested resource`

### What did you expect to happen?

When using kubectl to get the clusterrole, it can return normally even if the namespace parameter is

[2022-07-19 09:09] aojea commented on #111247
/sig storage
/sig node

[2022-07-19 09:09] 0xff-dev commented on #111248
/sig api-machinery

[2022-07-19 09:10] 0xff-dev commented on #111248
/assign

[2022-07-19 09:17] JCzz commented on #111216
Hi and thanks @Shubham82

Good suggestion, but still facing the same errors. But strange enough `go install github.com/cloudflare/cfssl/cmd/...@latest` gets me to `No resources found` as described above... hmm

[2022-07-19 09:18] aojea commented on #111012
Let's take this failure

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-ubuntu-gce-containerd/1549297408855248896

Job starts at : `W0719 07:37:45.427] **************************************************************************`
Tests starts at: `I0719 07:44:13.177] Running Suite: Kubernetes e2e suite - /workspace/kubernetes/platforms/linux/amd64`
Tests end at `I0719 08:24:02

[2022-07-19 09:18] mysunshine92 commented on #111234
CNI assign correctly，shows below：
[root@r5930-r1-s2:~]$ nsenter --net=/proc/56316/ns/net -F -- ip -o -4 addr show dev eth0 scope global
3: eth0 inet 192.169.5.221/24 brd 192.169.5.255 scope global eth0\ valid_lft forever preferred_lft forever

[root@r5930-r1-s2:~]$ nsenter --net=/proc/56316/ns/net -F -- ip -o -6 addr show dev eth0 scope global
3: eth0 inet6 1111:0:0:5::dd/64 scope global \ valid_l

[2022-07-19 10:30] wojtek-t commented on #111012
I'm seeing things like this in the first place.
[code]

So "managed instance group" basically didn't yet initialized until then. And while it's not yet initialized and the operation to create it didn't finish/timeout/fail/... and is still running, we can't yet delete it.
And since we couldn't delete it, all further delete operations (for everything that this MIG is using underneath) were failing w

[2022-07-19 10:30] aojea commented on #111234
I see, thanks for the info, but dockershim has been deprecated in 1.20, and that codepath is not supported for dual-stack

https://kubernetes.io/blog/2020/12/02/dockershim-faq/

You should switch to containerd or crio-o , or other supported container runtime

[2022-07-19 10:48] WLBF commented on #108152
My device plugin return zero size `AllocateResponse` for `Allocate` grpc calling trigger the behavior. you can check kubelet logs see if you can find the reason. In my case , this check is violated:
https://github.com/kubernetes/kubernetes/blob/520b991347b9c77635c0e4555f1703a86dcdd4ff/pkg/kubelet/cm/devicemanager/manager.go#L809

[2022-07-19 11:07] mysunshine92 commented on #111234
But for k8s version: 1.22.3, we are still using dockershim, why not fix this bug?

[2022-07-19 11:14] Kartik494 commented on #108622
/remove-lifecycle rotten

[2022-07-19 13:02] aojea commented on #111234
The deprecation was announced in 1.20, I can't remember the exact reason, but it's possible it didn't receive new features since then

[2022-07-19 13:08] aojea commented on #111086
This seems to have improved
https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=presubmit&job=pull-kubernetes-e2e-kind

[2022-07-19 15:06] aojea commented on #111086
nope, it didn't improve, it may be an artifact of not having many PR or low load on the CI, who knows

https://prow.k8s.io/?repo=kubernetes%2Fkubernetes&type=presubmit&job=pull-kubernetes-e2e-kind
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111091/pull-kubernetes-e2e-kind/1549382681064640512

[2022-07-19 15:26] zabrox commented on #111223
@FillZpp
I checked the reproducibility on 1.24.0.
I've updated the description.

[2022-07-19 15:54] bajoben commented on #36117
Same here with Kubernetes v1.21.2. Deleted all replicasets and restartet all master nodes. Cluster lit up like a christmas  tree but then it worked fine.

[2022-07-19 16:13] zabrox commented on #111223
I've also checked v1beta1 version of cronjob on v1.20.15 and it was reproducible.

I think cronjob hasn't been raised `MissSchedule` evnet for a long time.
So we can have two different ways:
1. Leave the event unraised and delete the code block raising the event.
2. Raise the event.

@soltysh
Which do you think is better?
If we choose 2. should we backport the bugfix to the older versions?

[2022-07-19 16:13] YarikRevich commented on #111085
If you want to access your Deployment externally, you should specify Service workload for Deployment and then use configured FQDN to access it.

[2022-07-19 16:42] matthias50 opened #111251 "Namespace stuck in Terminating with foregroundDeletion finalizer despite no resources being present in the namespace"
### What happened?

Intermittently, during our acceptance tests, we create and destroy namespaces and these namespaces sometimes get stuck in the Terminating state despite no resources existing in the namespace. Manually removing the `foregroundDeletion` finalizer allows the namespace to be deleted.

### What did you expect to happen?

Namespaces which contain no resources terminate when a deletio

[2022-07-19 16:59] JCzz opened #111252 "Local dev machine not possible to setup"

[2022-07-19 17:01] #111216 closed

[2022-07-19 18:06] mhkarimi1383 commented on #81089
+1

[2022-07-19 19:53] vaibhav2107 commented on #109317
/remove-lifecycle stale

[2022-07-19 20:17] leilajal commented on #111215
/cc @Jefftree @alexzielenski
/triage accepted

[2022-07-19 20:18] leilajal commented on #111142
/sig storage

[2022-07-19 20:19] leilajal commented on #111142
/remove-sig api-machinery

[2022-07-19 20:20] leilajal commented on #102259
/remove-sig api-machinery

[2022-07-19 20:21] leilajal commented on #111187
/triage accepted

[2022-07-19 20:34] #51850 closed

[2022-07-19 20:38] matthias50 commented on #111251
/sig api-machinery

[2022-07-19 21:28] jayunit100 opened #111257 "DaemonSet pods linger forever, even when node is deleted"
### What happened?

I saw on multiple k8s versions (1.22, 1.24) that zombie pods (i.e. pods that arent running anymore) remain to be percieved as still Running, by the API server for daemonsets.

### What did you expect to happen?

The APIServer wouldnt report running for a pod on a kubelet which isnt available anymore, i.e. for a non existent pod.

### How can we reproduce it (as minimally and pr

[2022-07-19 21:33] jayunit100 commented on #111257
/sig cluster-lifecycle

[2022-07-19 21:35] jayunit100 commented on #111257
related ? https://github.com/kubernetes/kubernetes/issues/75482

[2022-07-19 21:55] grzesuav opened #111259 "Kubelet - add metrics related to images pull time"
### What would you like to be added?

It would be helpful to see metrics around pulling an image by kubelet (related code around [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/images/image_manager.go#L144) ), i.e.:
* number of currently pulling images - gauge
* time of pulling an image (maybe histogram) ?
* total errors related to pulling - counter ?

### Why is this neede

[2022-07-19 21:55] grzesuav commented on #111259
/sig node

[2022-07-19 21:57] mhkarimi1383 commented on #81089
I'm having the same issue
I have mounted my secret to another directory and moved it to the correct location with target permissions (using pod life cycle), but it's a bit dirty...

[2022-07-19 23:11] chrismilson commented on #73434
I came across this thread while trying to implement lengthy grace periods for windows containers. We eventually got @marosset's example working in our cluster, but to do that we also had to set the registry key, [`HKLM:\SYSTEM\CurrentControlSet\Control\WaitToKillServiceTimeout`](https://docs.microsoft.com/en-us/windows/win32/services/service-control-handler-function?redirectedfrom=MSDN), so that t

[2022-07-19 23:33] Riaankl commented on #109762
/reopen

[2022-07-19 23:56] shuheiktgw commented on #111149
Duplicates https://github.com/kubernetes/kubernetes/issues/111111

[2022-07-20 00:55] ak2766 commented on #82440
I've just hit this issue.  Adding an horizontal pod autoscaler to my deployment pushes it to >1000% CPU causing it to immediately hit the maxreplicas.  Turning off liveness probe and CPU usage drops to the nominal 15%.

I'm going to have to rely on my external icinga2 monitoring system for my production environment until this issue is resolved.

If there's anything I can do to help isolate the iss

[2022-07-20 01:51] huyouba1 opened #111266 "KubeAPIErrorBudgetBurn"
### What happened?

Slow requests are detected, and the API server logs are as follows. Previously, the cluster expanded and shrunk through the master node. The expansion was successful, but the monitoring found a large number of full requests.

[code]

### What did you expect to happen?

promQL
[code]
![image](https://user-images.githubusercontent.com/58924965/179878633-7c0a10ef-9cdd-4f6a-80bc-1f