[2022-08-02 10:10] kerthcet commented on #109191
Maybe the patch https://github.com/kubernetes/kubernetes/pull/111544 is enough.

[2022-08-02 10:18] jan-skarupa commented on #76982
/remove-lifecycle stale

Is there a final decision to remove the feature flag? If yes, I could look into it.

[2022-08-02 10:23] yangjunmyfm192085 commented on #111625
/remove-kind bug

[2022-08-02 10:24] yangjunmyfm192085 commented on #111625
/kind support

[2022-08-02 10:29] yangjunmyfm192085 commented on #111625
/close

[2022-08-02 10:29] #111625 closed

[2022-08-02 10:50] aude commented on #107536
`status.successful` might be defined here: https://github.com/kubernetes/kubernetes/blob/719f3cf8da49d94da73b9ada1760e6f94e9834dd/pkg/apis/batch/v1/conversion.go#L32

Found via this discussion over at Stack Overflow: https://stackoverflow.com/q/55762084

[2022-08-02 12:51] rahulonmars commented on #109707
was this backported ?

[2022-08-02 13:28] liggitt commented on #111588
If we have a test intentionally creating an APIService we know won't work, that test should be disabled as a first step and reworked.

[2022-08-02 13:41] gjkim42 commented on #111608
@ashu210890

Could you attach more information?

i.e.
[code]

[2022-08-02 13:45] d0zingcat commented on #91820
Thanks. It stucks me a quite a while.

For others who want to know more:

[Learn Difference Between “su” and “su -” Commands in Linux](https://www.tecmint.com/difference-between-su-and-su-commands-in-linux/)

[su vs. su –](https://linuxhint.com/su-vs-su-dash/#:~:text=su%20%E2%80%93,-11%20months%20ago&text=The%20difference%20between%20the%20su,command%20clears%20most%20environment%20variables.)

[2022-08-02 14:03] haircommander commented on #111276
This will not make 1.25, but CRI stats KEP isn't moving to Beta in 1.25 either. I will attempt to fix this for 1.26

/milestone v1.26
/remove-milestone v1.25

[2022-08-02 14:04] gnufied commented on #70044
This should be fixed via https://github.com/kubernetes/kubernetes/pull/110670 now.

/close

[2022-08-02 14:05] #70044 closed

[2022-08-02 14:56] mariusmarais opened #111637 "AWS NLB registered targets remain empty on 1.24, works on 1.23.9"
### What happened?

Used kops to spin up a new cluster running Kubernetes 1.24.3.

When deploying an NLB LoadBalancer, the Registered Targets remain empty forever.

If targets are manually registered, they Health Check correctly and start working, but removing and adding nodes does not update the target group.

### What did you expect to happen?

Nodes are added to the target group once the NLB ha

[2022-08-02 14:58] mariusmarais commented on #111637
/sig cloud-provider

[2022-08-02 15:11] yangjunmyfm192085 opened #111638 "When there are residual directories in the cgroup, the log information is incorrect"
### What happened?

In the kubernetes main branch, the following exception log appears in the kubelet log
[code]

The following log information output is wrong
return nil, fmt.Errorf("Error finding container %s: Status %d returned error %s", id, resp.StatusCode, resp.Body)

### What did you expect to happen?

the log information is as follows
[code]

### How can we reproduce it (as minimally and p

[2022-08-02 15:13] yangjunmyfm192085 commented on #111638
/cc @bobbypage , It looks like a bug of cAdvisor
the pr as follow try to fix it.
https://github.com/google/cadvisor/pull/3144

[2022-08-02 15:13] yangjunmyfm192085 commented on #111638
/sig node
/sig instrumentation

[2022-08-02 16:15] #110687 closed

[2022-08-02 17:22] ellistarn opened #111643 "Finalizer Removal Race Condition / Json StrategicMergePatch Delete by Value"
### What happened?

I work on an operator that applies a finalizer on node objects. When a nodes is deleted, my operator checks for the existence of the underlying instance object and removes the finalizer if the instance is gone. Additionally, my operator applies ownerreferences to node objects that reference a parent object.

Here's the order of operations:
1. The parent object is deleted with f

[2022-08-02 17:23] ellistarn commented on #111643
/sig api-machinery

[2022-08-02 17:36] vaibhav2107 commented on #107074
/remove-lifecycle stale

[2022-08-02 17:58] wenwu449 commented on #110956
[This comment](https://github.com/kubernetes/kubernetes/blob/51ea7b21699ffc8857a7da9f2b1b4f293bf70a69/pkg/quota/v1/evaluator/core/pods.go#L121) mentioned the "coupled validation with resource counting" was introduced before QoS was introduced.

[2022-08-02 19:47] #109762 closed

[2022-08-02 19:48] #109099 closed

[2022-08-02 20:24] fedebongio commented on #111370
/cc @wojtek-t
/sig scalability
/triage accepted

[2022-08-02 20:31] fedebongio commented on #111588
We passed here in the triage meeting today, agreed to review next meeting!

[2022-08-02 20:41] Riaankl commented on #111588
@liggitt would you like us to create a PR to revert this [e2e test](https://github.com/kubernetes/kubernetes/pull/110237) or leave it a little longer for more checks?

[2022-08-02 20:48] liggitt commented on #111588
if the test is currently creating a non-functional APIService, we should drop the test and rework it

[2022-08-02 20:54] apelisse commented on #107417
/lifecycle frozen

[2022-08-02 21:01] bobbypage commented on #111621
Yes, cgroupv2 requires Linux 5.8, see https://github.com/kubernetes/kubernetes/issues/103759#issuecomment-926024150 for more discussion. We will update the docs with this as part of cgroupv2 GA.

[2022-08-02 22:00] alculquicondor commented on #107294
/lifecycle frozen

[2022-08-02 23:08] dvaldivia commented on #92559
@chrisohaver does this mean that for `publishNotReadyAddresses: true` services, Kubernetes would need to add it's domain to a configuration dynamically, correct?

[2022-08-02 23:12] chrisohaver commented on #92559
No, I’m suggesting disabling dns cache for all the cluster domain (eg cluster.local), not individual records under it.

[2022-08-02 23:15] dvaldivia commented on #92559
I've brought this up with them before but they didn't though disabling the cache for was a good idea, but perhaps only for misses is the right solution.

this is the `Corefile` k8s installs by default to the internal coredns
[code]

so we would disable misses like this

[code]

is this a good assumption @chrisohaver ?

[2022-08-02 23:34] chrisohaver commented on #92559
That's the syntax per https://github.com/coredns/coredns/pull/5540, which is merged, but yet released.

I was proposing disabling cache for `cluster.local`. Disabling reverse zones like that would prevent caching reverse lookup responses from upstream.

Disabling cache of _upstream_ records is a bad idea.  Disabling cache of Kubernetes service records is not bad.

[2022-08-03 00:25] Huang-Wei commented on #110175
@sanposhiho I'm not sure I fully understand your intention. The slack thread was discussing the AssignedPod update case, so it fallls into case 1 in https://github.com/kubernetes/kubernetes/issues/110175#issuecomment-1145351228, which we already agreed to improve in upstream.

[2022-08-03 02:00] bobbypage commented on #111638
https://github.com/google/cadvisor/pull/3144 has been merged and will be included in cAdvisor v0.45.0 (k8s 1.25).

[2022-08-03 02:00] bobbypage commented on #111638
/close

[2022-08-03 02:01] #111638 closed

[2022-08-03 02:14] YuikoTakada commented on #110956
@wenwu449 Thank you for your comments. Is [this](https://github.com/kubernetes/kubernetes/blob/51ea7b21699ffc8857a7da9f2b1b4f293bf70a69/pkg/quota/v1/evaluator/core/pods.go#L121) written in any document? Or just in source code?

[2022-08-03 02:45] jayunit100 commented on #111257
I see your point.

Maybe it's true that a non deleted node can stay in notReady state for eternity and I didn't realize that.....

Maybe we need a doc page on this in the pod life cycle or kubelet or controller manager docs ? Or should we just close this issue.

[2022-08-03 02:48] jayunit100 commented on #111257
I see your point.

Maybe it's true that a non deleted node can stay in notReady state for eternity and I didn't realize that.....

Maybe we need a doc page on this in the pod life cycle or kubelet or controller manager docs ? Or should we just close this issue.

.... I think as long as pods are flagged as unknown I'd be able to swallow them being scheduled permanently to non existent nodes.

[2022-08-03 03:27] palnabarun commented on #110955
https://github.com/kubernetes/test-infra/pull/26998 is a related fix.

[2022-08-03 04:21] jlsong01 commented on #111514
/assign

[2022-08-03 05:03] pacoxu commented on #111629
/sig api-machinery

[2022-08-03 05:05] pacoxu commented on #111532
/sig auth

[2022-08-03 05:05] pacoxu commented on #111518
/sig network

[2022-08-03 05:30] neolit123 commented on #109731
/close

closing the ticket.
looks like there was no further interest or comments here from maintainers.

[2022-08-03 05:30] #109731 closed

[2022-08-03 05:37] zhan9san commented on #83313
/remove-lifecycle rotten

[2022-08-03 06:28] shirtee19 commented on #55894
scheme.go

[2022-08-03 06:31] shirtee19 commented on #55894
Error from server (BadRequest): error when creating "config.yml": pod in version "v1" cannot be handled as a Pod: no kind "pod" is registered for version "v1" in scheme "pkg/api/legacyscheme/scheme.go:30

I changed the version from v1 to v2----------also changed apps/v1 to apps/v2 but it still giving me the same error above. please any idea what could be the issue here. Below is my Yaml file

apiV

[2022-08-03 06:39] 249043822 commented on #111643
your custom resource set ownerreferences to node, so while deleting node, the garbage collector controller will wait your object to be deleted and then remove foregroundDeletion finilizer, if just this time, your operator also remove your customer finilizer myotherfinalizer, it may cause the error you said above as conflict.
I think if you only want to delete node to cascade deleting your custom r

[2022-08-03 06:49] siriusa51 opened #111655 "Affinity should be enabled when RS deletes pods"
### What happened?

When I configure affinity for RS, although affinity takes effect when pods are created.
However, when RS deletes a pod, it mostly gives priority to the shorter-running PODs, instead of deleting low priority pods based on the affinity configuration for RS

### What did you expect to happen?

So I think if RS has affinity configured, then affinity should also work when deleting p

[2022-08-03 06:52] ialidzhikov commented on #111488
@boylee1111 , can you check if this issue is duplicate of https://github.com/kubernetes/kubernetes/issues/110625?

[2022-08-03 06:53] pacoxu commented on #111297
https://github.com/golang/go/releases/tag/go1.19 is out.

[2022-08-03 07:04] srbarba commented on #83111
/remove-lifecycle stale

[2022-08-03 07:06] aojea commented on #111518
1.19 is EOL, last supported version is 1.22 https://kubernetes.io/releases/

It seems the message has changed since then, this area had important changes in latest releases that improved the API behavior

However, the field still can not be updated once set, what you do switching the `externalTrafficPolicy` is wiping the value and reallocating it.

It is a documentation problem then

[2022-08-03 07:06] pacoxu commented on #106035
/remove-lifecycle rotten

[2022-08-03 07:07] pacoxu commented on #111480
Is https://github.com/kubernetes/kubernetes/issues/106035 related?

[2022-08-03 07:13] pacoxu commented on #111655
/sig apps scheduling
There is a proposal in https://github.com/kubernetes/enhancements/issues/3189 (some linked issues are similar.)

[2022-08-03 07:24] lixiaoyuner commented on #111501
@arrowfeng, thanks for your suggestion. I try to pass --cluster-signing-duration to kube-control-manager, but it can control the certificate available time, but can't trigger kubelet cert rotation.
@neolit123, and I try to change the system time to be one month earlier than expire time, five days have passed, rotation does not happen automatically. But I restart one of worker kubelet, rotation hap

[2022-08-03 07:36] aojea commented on #110514
that seems a nice thing to do, I didn't know you can add warnings on admissions plugins but seems @liggitt implemented it here

https://github.com/kubernetes/kubernetes/blob/aea9f9887d08922378b9e7da0e81a46e733f2995/plugin/pkg/admission/security/podsecurity/admission.go#L184-L186

[2022-08-03 07:41] aojea commented on #85572
I've found that the spanish translation of the saying "muerto el perro se acabó la rabia" is "Dead dogs don't bite" :smile:

[2022-08-03 07:42] kerthcet commented on #111655
IMHO, we consider the start time when scaling down pod sizes for this is the reverse order of scheduling. So it makes sense in some ways, but in fact, the cluster is changing all the time, scaling up, scaling down, restarting pods etc., so pod placements will be not as expected, that's way we incubated descheduler to mitigate this situation. And I think descheduler has achieved this already.

I do

[2022-08-03 07:42] kerthcet commented on #111655
Any way, it's a feature not a bug.
/remove-kind bug
/kind feature

[2022-08-03 07:42] pacoxu commented on #111528
https://github.com/kubernetes/kubernetes/issues/110476#issuecomment-1150804900
Would you try to pull the image using nerdctl or ctr/crictl? And how long will it take?

[2022-08-03 07:43] pacoxu commented on #110476
/close
if you can convince us this is a kubelet bug, you may reopen this issue.

[2022-08-03 07:44] #110476 closed

[2022-08-03 07:52] aojea commented on #111605
yeah, the `unstructured.Unstructured ` logs are useless and annoying :smile:

[2022-08-03 08:08] RomanBednar opened #111659 "PV controller tests should have all struct fields named"
### What would you like to be added?

Majority of PV controller tests don't have their test struct fields named when assigning values which can make reading the tests difficult. For example [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/persistentvolume/binder_test.go#L45).

We should name the fields explicitly like it's already done in some of the [tests](https:

[2022-08-03 08:08] pacoxu commented on #104888
#104665 (cherry-pick to v1.22) fixed #104560. (It is also fixed in v1.23)

Could you check if this issue is still a bug? @oneiro-naut

[2022-08-03 08:37] piroux commented on #111659
Hi, I would like to work on this.

[2022-08-03 08:37] piroux commented on #111659
/assign

[2022-08-03 09:13] RomanBednar commented on #111659
Awesome! Let me know if you need any help.

[2022-08-03 09:16] RyanAoh commented on #100726
/close
I retested the case and the event will continue to be reported until the pod is created successfully. So we can always get events showing errors by command `kubectl describe job xxx`.
Refer https://github.com/kubernetes/kubernetes/issues/100726#issuecomment-1006807914 and https://github.com/kubernetes/kubernetes/pull/109857#pullrequestreview-1059068428, I think there is nothing need to do f

[2022-08-03 09:18] #100726 closed

[2022-08-03 09:18] RyanAoh commented on #100726
/close
I retested the case and the event will continue to be reported until the pod is created successfully. So we can always get events showing errors by command kubectl describe job xxx.
Refer https://github.com/kubernetes/kubernetes/issues/100726#issuecomment-1006807914 and https://github.com/kubernetes/kubernetes/pull/109857#pullrequestreview-1059068428, I think there is nothing need to do for

[2022-08-03 09:29] sanwishe opened #111662 "kubelet works normally with different cgroup-driver with docker container runtime via cri-dockerd"
### What happened?

After dockershim removed from kubelet, kubelet works normally  with different cgroup-driver configuration with docker container runtime(via cri-dockerd).
With dockershim, kubelet fails to start during contruct dockerservice:
[code]
Should kubelet check cgroupdriver configuration between kubelet and container runtime?

### What did you expect to happen?

Should kubelet check cgr

[2022-08-03 09:33] alexanderConstantinescu commented on #111539
I am doubtful I should open a new issue for this (seeing as how it's very much correlated to this issue), but there's another problem exherbitated by re-configuring the LB when not really needed;

Updating a service from `ExternalTrafficPolicy = Cluster` to `ExternalTrafficPolicy = Local` can/will cause minute-wide blackouts for the service SLAs.

Specifically, when such an update is issued on the

[2022-08-03 09:34] neolit123 commented on #111662
that's not a good idea and cri-dockerd should ideally report errors for a driver mismatch. you can log an issue in the cri-dockerd repo.

dockershim is no longer supported and no longer accepting changes.

/close
/sig node

[2022-08-03 09:34] #111662 closed

[2022-08-03 09:42] itamarbareket commented on #73666
Would very much like this aswell!

[2022-08-03 09:55] sanwishe commented on #111662
thanks for you reply~
and I'll log an issue on cri-dockerd's repo,

[2022-08-03 10:39] shimada-takashi001 commented on #111528
@pacoxu Thanks for checking.
I checked with crictl. After 2 minutes, the image could not be retrieved due to timeout.

[code]

This is the same phenomenon as pull by kubernetes.
Is it not a Kubernetes issue, but cri or beyond?
I would like to know the workaround.

[2022-08-03 10:49] FillZpp commented on #111354
This should be fixed by #110858

[2022-08-03 11:04] jilleJr commented on #110035
We faced this issue in our company and just wanted to share our cause and solution to this.

In our case, the cause was:
- There was a mismatch of certs between the control-plane nodes (let's call them m1, m2, and m3). Nodes m1 and m2 agreed on their certs, but m3 had incompatible certs.
- Not long ago m3 was recreated and a fresh install was added to the cluster with newly generated certs. That's

[2022-08-03 11:58] metsie2912 commented on #55894
@shirtee19
In Yaml, whitespace is really important (which I don't see as you pasted your yaml as normal text). Also, character cases are important.
apiVersion could be:
`apiVersion: v1`
That should be sufficient, at least in the Kubernetes version I'm running.
kind needs to be:
`kind: Pod`
under ports (example snippet, note capitalization):
[code]

Please try to adjust your yaml accordingly.
If st

[2022-08-03 12:18] damemi commented on #111655
This has been requested a lot. @pacoxu mentioned some of the linked issues, but I also want to call out the "pod deletion cost" KEP that I think has lost traction: https://github.com/kubernetes/enhancements/issues/2255 and another issue which requested similar considerations for pod topology spread https://github.com/kubernetes/kubernetes/issues/96748

Ultimately though, scale down is not a schedu

[2022-08-03 12:23] LiuNingqian commented on #111499
Of course, and thanks again.

[2022-08-03 12:59] RinkiyaKeDad commented on #111470
The test is now flaky, instead of failing.

[2022-08-03 13:03] Abirdcfly opened #111666 "We should delete unused functions on internal (unsupported for external users, not staging/...) pkgs."
non-staging is effectively internal and we DO NOT make API guarantees there.  We just can't.

_Originally posted by @thockin in https://github.com/kubernetes/kubernetes/issues/111628#issuecomment-1203117518_

[2022-08-03 13:05] RinkiyaKeDad commented on #110955
Folks will this be a blocker for the 1.25.0-beta.0 release tomorrow?

[2022-08-03 13:22] liggitt commented on #111629
The intent of admission is to control inputs/changes. Get/watch/list are non-mutating, so are only gated by authorization. [Webhook authorization](https://kubernetes.io/docs/reference/access-authn-authz/webhook/) can be used on clusters you control the configuration of to gate these requests, and [audit logging](https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/) can be used to see what r

[2022-08-03 13:22] #111629 closed

[2022-08-03 13:37] haircommander commented on #110955
nope not a blocker! thanks for checking

[2022-08-03 15:58] aojea commented on #111470
Every job running this test "manage the lifecycle of an APIService" is going to flake

@Riaankl I can't find the other issue where we discussed this, but @liggitt suggested to remove the test and add a new one

Do you mind removing the test so we can get signal on code freeze?

[2022-08-03 16:01] tyler-lloyd opened #111671 "apiserver crashes with dual-stack service CIDRs if primary range does not match `kubernetes.default` Public IP family in k8s >= 1.24"
### What happened?

apiserver crashes at startup if using dual-stack service CIDRs but the primary service CIDR family does not match the IP family of the advertised address.

#106721 introduced validation that checks the service CIDR is the same IP family as the advertised public address of apiserver. It assumes single-stack scenarios and does not check `ExtraConfig.SecondaryServiceIPRange`

###

[2022-08-03 16:07] nckturner commented on #111637
/triage accepted
/assign @kishorj @nckturner

[2022-08-03 16:07] nckturner commented on #111637
/area provider/aws

[2022-08-03 16:11] tyler-lloyd commented on #111671
@aojea PTAL and let me know your thoughts on this issue. I think a simple fix would be to also check the secondary service range in `pkg/controlplane/controller.go`

[2022-08-03 16:14] nckturner commented on #111539
/cc @cheftako @nckturner @jprzychodzen

[2022-08-03 16:15] nckturner commented on #111470
/assign @jprzychodzen

[2022-08-03 16:15] nckturner commented on #111470
/triage accepted

[2022-08-03 16:16] nckturner commented on #111331
/triage accepted

[2022-08-03 16:17] ianwebscale commented on #94892
/reopen

[2022-08-03 16:18] nckturner commented on #111029
/assign @jprzychodzen
/triage accepted

[2022-08-03 17:16] knelasevero opened #111672 "Remove duplicated keys from log entry calls when contextualized logging hits GA in kube-scheduler"
Related to https://github.com/kubernetes/kubernetes/issues/91633 and https://github.com/kubernetes/kubernetes/pull/111155

See comments

https://github.com/kubernetes/kubernetes/pull/111155#discussion_r935961069
https://github.com/kubernetes/kubernetes/pull/111155#discussion_r929931591
https://github.com/kubernetes/kubernetes/pull/111155#discussion_r929930775
https://github.com/kubernetes/kubernet

[2022-08-03 17:17] knelasevero commented on #111672
/sig scheduling

[2022-08-03 17:17] knelasevero commented on #111672
/assign

[2022-08-03 17:22] endocrimes commented on #111469
/cc @mikebrow

[2022-08-03 17:24] endocrimes commented on #111509
/remove-kind bug

[2022-08-03 17:24] tyler-lloyd commented on #111671
/sig network

[2022-08-03 17:24] endocrimes commented on #54368
/remove-kind bug

[2022-08-03 17:26] endocrimes commented on #109998
/cc @rphillips

[2022-08-03 17:27] endocrimes commented on #111528
/kind support

[2022-08-03 17:28] endocrimes commented on #111540
Could you try reproducing this on a more recent version of kubernetes? 1.21 is out of support (https://endoflife.date/kubernetes)

[2022-08-03 17:28] endocrimes commented on #111540
/triage needs-information

[2022-08-03 17:29] endocrimes commented on #111553
/assign

[2022-08-03 17:31] endocrimes commented on #111356
/assign @rphillips

[2022-08-03 17:32] rphillips commented on #111356
/unassign
/assign @kolyshkin

[2022-08-03 17:32] endocrimes commented on #111385
/assign

[2022-08-03 17:34] endocrimes commented on #111410
/remove-kind bug
/kind support

/cc @fromanirh

[2022-08-03 17:34] endocrimes commented on #111410
/assign @mmiranda96

[2022-08-03 17:35] endocrimes commented on #110478
/assign @swatisehgal

[2022-08-03 17:37] endocrimes commented on #100277
/remove-kind bug
/kind feature

[2022-08-03 17:46] vaibhav2107 commented on #109352
/remove-lifecycle stale

[2022-08-03 17:48] vaibhav2107 commented on #109229
/remove-lifecycle stale

[2022-08-03 17:51] vaibhav2107 commented on #107203
/remove-lifecycle stale

[2022-08-03 17:53] Riaankl commented on #111470
Yes, no worries.  Well remove the test.
We would love to get some detailed advice on ways to update the test to effectively test these endpoints in 1.26.
We have tried a few ways without out success, sure a APIService subject matter expert can knock it out in an hour of two after lunch. :smiley:
- replaceApiregistrationV1APIServiceStatus
- replaceApiregistrationV1APIService
- patchApiregistrationV

[2022-08-03 17:57] #87336 closed

[2022-08-03 17:57] zhouhaibing089 commented on #107583
This might be related - https://github.com/kubernetes/kubernetes/pull/111673

[2022-08-03 19:02] kolyshkin commented on #111356
@jpinkul I think you're misinterpreting this.

The calculations you cited are done by kubernetes, and they take into account two values:
 * `memoryRequestBytes` -- this is how much memory a container _requests_ (note this is NOT the current usage and NOT the memory limit, but rather a minimally required memory for a container -- although, if unset, this defaults to limit)
 * `machineMemoryCapacity

[2022-08-03 19:03] kolyshkin commented on #111356
@derekwaynecarr PTAL ^^^

[2022-08-03 19:08] aramase opened #111674 "reduce goroutine leakage in `test/integration/controlplane/transformation`"
Following up on https://github.com/kubernetes/kubernetes/pull/111126#discussion_r935087747 to shutdown the gRPC goroutines and reduce the number of leaked goroutines.

/sig auth

[2022-08-03 19:44] dvaldivia commented on #92559
What do you think @jayunit100 is this something we can make part of upstream once https://github.com/coredns/coredns/pull/5540 is released?

[2022-08-03 19:44] PradeepKumar-15 commented on #107583
@zhouhaibing089 Yes, https://github.com/kubernetes/kubernetes/pull/111673 is definitely related to the problem we observed in this issue. Thank you for the PR and if i am reading it right, you are returning nil when discoveryClient cannot get list of all supported apigroups and resources without errors and i assume returning nil will force controller manager to restart ?

[2022-08-03 20:09] cblecker commented on #111275
/transfer org

[2022-08-03 20:41] zhouhaibing089 commented on #107583
@PradeepKumar-15: By returning an error (rather than just logging it), kube-controller-manager will fatal loudly:

[code]

[2022-08-03 21:00] vaibhav2107 commented on #105846
/remove-lifecycle stale

[2022-08-03 21:55] xmcqueen commented on #109295
I've cancelled the above PR.  I'll try to get something else going.

[2022-08-03 23:06] kfox1111 commented on #46287
What is the status of this with respect to kubelet? How do people refresh their certificates with an external ca without restarting kubelet?

[2022-08-03 23:45] thockin commented on #111671
The block you posted is suspicious:

[code]

You have a Service with a v6 "frontend" and a v4 "backend".  We specifically do not support that - we can't convert between families.

It sounds like the bug is that apiserver reconciled itself according to the default rules used for any service (single-stack, primary family == IPv6) without considering the `--advertise-address`.  It seems reasonable th

[2022-08-03 23:56] thockin commented on #111536
DNS for pods *only* works if you have a headless Service that maches the subdomain ("dep" here).  We do not do DNS for *all* pods.

Try:

[code]

[2022-08-03 23:56] #111536 closed

[2022-08-04 00:01] thockin commented on #111518
IMO, the amount of effort it would take to make this mutable is not justified when there is a workaround.  Convince me the workaround doesn't work?  Overall HCNP is a buried implementation detail.

[2022-08-04 00:05] thockin commented on #111112
I'm sorry, I don't understand the bug.  Can you show a more complete example if what you started with, what you did, and what happened?

[2022-08-04 00:10] thockin commented on #111085
As Dan cited: "ExternalDNS" on a Node is an optional config, written by the cloud provider module and not all cloud providers populate that.  GCP, for example, does not seem to provide it.

Are you coming from REALLY outside or just on the same network as the cluster but not IN the cluster?

[2022-08-04 00:11] thockin commented on #109672
I'm going to triage accept this, because I agree, but it's not as easy as it sounds. :(

[2022-08-04 00:30] timothy-king commented on #111452
I left a description of a fix on https://github.com/golang/go/issues/54086#issuecomment-1204589970.

[2022-08-04 00:33] thockin commented on #107742
I'm going to close this - it seems like a GKE issue, and we will chase it down internally.  I do think what you are doing should work, even if it is just mirroring EPSlice->EP

[2022-08-04 00:33] #107742 closed

[2022-08-04 00:37] rikeshpatel14 opened #111676 "rhel7 K8s v1.20 installation error"
**Team** - Trying to install K8s utilities (kubelet, kubeadm, kubectl) using yum on RHEL 7, but getting an error mentioned below. Can you please inform whether the base-url [https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64] is correct, checking as am getting signature verification error. Appreciate your help. Thank you

**yum command**
`yum install -y kubelet kubeadm kubectl --dis

[2022-08-04 00:38] tyler-lloyd commented on #111671
@thockin interesting, I did not realize this wasn't supported. TIL. The clusters we've done this on have only been test clusters where nothing reaches out to the apiserver from within the cluster so it was never noticed. We will make sure to set the IPv4 CIDR before the IPv6 in the args for clusters using an IPv4 advertise address. Do you think a bug needs to be filed for earlier k8s versions to p

[2022-08-04 00:46] rikeshpatel14 commented on #111676
@jimangel , @reylejano , @mikedanese , @ritazh , @dims - Can you please help

[2022-08-04 01:16] MadhavJivrajani commented on #111452
Thank you, @timothy-king! ♥️

[2022-08-04 02:39] fedya-at-db commented on #111518
I can't speak much to the amount of effort, but I can speak a bit to the value:

1. As a user, I don't expect healthcheckNodePort to be immutable. I'm not sure if my mental model is too simplistic, but it feels like a part of the configuration I control, and I can change NodePorts, so why not the healthcheckNodePort.
2. Finding the work around isn't necessarily obvious. It also takes experimenting

[2022-08-04 03:39] jinnzy opened #111682 "Nodeport is not listening on node"
### What happened?

Nodeport is not listening on node.

master A: vlnx100201
master B: vlnx100202

Access to master A 6443 port on master B always times out. This is because there is a conflict between the port that initiated the request and the nodeport.
We use a lot of nodeports, so it is inconvenient to modify ip_local_port_range ip_local_reserved_ports.
master A:
![image](https://user-images.g

[2022-08-04 03:42] thockin commented on #111518
The latter issue should be fixed in recent releases - what version are you
seeing that on?

I understand it would be more consistent to be mutable but there are real
downstream implications to changing it, code complexity, test complexity,
etc, and I don't understand why you want to change it in the first place.

Humans should not be paying attention to that field.  It should not even be
in spec,

[2022-08-04 04:17] fedya-at-db commented on #111518
Same version as original post, v1.19. Glad to hear that issue is fixed in later versions! We're making steady progress updating, but not all caught up yet.

I don't want to insist on this fix, as I said I'm not aware of the fix complexity and leave it up to you guys to balance that out, just wanted to provide the value perspective.

As for not being exposed to users at all, I think we'd probably h

[2022-08-04 04:30] thockin commented on #111518
Yeah, there's really no good reason to set it, pretty much ever, and lots
of reasons not to. I will cross-check that it is fixed if I get a moment
tomorrow.

On Wed, Aug 3, 2022, 9:18 PM Fedya Labounko ***@***.***>
wrote:

[2022-08-04 05:39] aojea commented on #111518
It has been fixed

[2022-08-04 05:49] pohly commented on #109744
This should be resolved by https://github.com/kubernetes/kubernetes/pull/111669: "open stdout" now should only appear if a test intentionally records SpecReports.

[2022-08-04 06:19] Kartik494 commented on #106902
/remove-lifecycle rotten

[2022-08-04 06:23] alexanderConstantinescu commented on #111539
/reopen

This has not been fully completed by #109706, only partially.

[2022-08-04 06:55] chendave commented on #109744
mark is as resolved.

[2022-08-04 07:07] Restry commented on #104501
@jiaozh8 方便提供一下解决方法吗？

[2022-08-04 07:08] aojea commented on #111682
/sig network

wow, interesting side effect of removing the port opener https://github.com/kubernetes/kubernetes/pull/108496
@danwinship @thockin you are going to love this one.

Since the port is free now any connection on the host will use them as source port since they are in the ephemeral port range by default, as the reporter says the common solution is to play with ` ip_local_port_range ip_lo

[2022-08-04 07:08] andyzhangx commented on #104501
should be fixed by setting `cloud` field as `AzureChinaCloud`:
[code]

[2022-08-04 07:12] Restry commented on #104501
@andyzhangx 谢谢您的回复， 请问这个azure.json文件在哪里呢？ 我尝试在
/etc/kubernetes/manifests/中的这几个 kube-apiserver, kube-scheduler, kubelet   配置添加加了这些参数：
 --cloud-provider=azure --cloud-config=/etc/kubernetes/azure.json

加完后k8s就启动不了了

[2022-08-04 07:13] aojea commented on #111671
Yeah, the problem is that using that configuration leaves the cluster unusable because of

All InCluster communications use the "kubernetes.default" service. The clusters boots but controllers or apps that use the apiserver Service fail, creating a lot of confusion to users, since it is not easy to understand why the applications fail.

[2022-08-04 07:15] andyzhangx commented on #104501
there should be a `azure.json` file which defines all cloud config that csi driver depends. Here is an example: https://github.com/kubernetes-sigs/azurefile-csi-driver#option1-provide-cloud-provider-config-with-azure-credentials

[2022-08-04 07:30] aojea commented on #111674
/cc

[2022-08-04 07:40] aojea commented on #111671
1.23 at max, that is when [ dual stack went GA](https://kubernetes.io/docs/concepts/services-networking/dual-stack/)

I can't remember why I didn't backport it, but it is probably I forget, feel free to do it

[2022-08-04 07:45] aojea commented on #111499
/close

Thanks

[2022-08-04 07:45] #111499 closed

[2022-08-04 07:50] ViliusS commented on #106617
Request to reopen. `kubectl set image` still produces the same error when modifying local YAML.

We are using the following command to modify deployment template in our Jenkins CI just before deployment:
[code]
After this we run sanity checks on springbootadmin-deloy.yaml file and only then deploy with `kubectl apply -f`.

If `springbootadmin-deploy.yaml` contains a service resource this will prod

[2022-08-04 07:51] aojea commented on #111354
duplicated of https://github.com/kubernetes/kubernetes/issues/101078, right?

[2022-08-04 08:06] Kartik494 commented on #110956
Hi @wenwu449  thank you for your inputs as in  [comment](https://github.com/kubernetes/kubernetes/blob/51ea7b21699ffc8857a7da9f2b1b4f293bf70a69/pkg/quota/v1/evaluator/core/pods.go#L121)  it is mentioned that we need to explicitly request  in pod spec when enforcing `resource quota` on  `CPU` and `Memory` but when i enforce `resourcequota` on ephemeral-storage it would  not be enforced because we d

[2022-08-04 08:22] neolit123 commented on #111676
duplicate of
https://github.com/kubernetes/website/issues/32207
see the solutions there.

versions < 1.22 are out support, docs pages too.

/close

[2022-08-04 08:22] #111676 closed

[2022-08-04 08:40] Restry commented on #104501
@andyzhangx 谢谢，通过你的指南已经搞定。 这个是我的解决过程

#

1. 需要先[[安装 CSI driver](https://github.com/kubernetes-sigs/azurefile-csi-driver#option1-provide-cloud-provider-config-with-azure-credentials)] ，Helm或kubectl安装都可以, 安装比较慢，我等了十五分钟**
2. 使用[[指南中的](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/deploy/example/e2e_usage.md)] ****Option#2: Bring your own storage account (only for SMB protocol)**

[2022-08-04 09:18] ch0mik commented on #111112
yes, it dosnt problem with kustomize but problem z podSelector matching on NetworkPolicy
Kustomize only generate additional selectors to objects as NetworksPolicy / Service

[code]

but the added labels for PodSelector forks fine with Service, but not working with NetworkPolicy.
The Network Policy probably has error on casts/matching value like application-component: "00000"

regards
Pawel

[2022-08-04 09:23] ch0mik commented on #111112
example (based on first description of this issue)

@ kustomization.yaml
(...)
[code]
(...)
the Kustomize generate additional labels to Kinds as Deployment, NetworkPolicy, Service.

[code]
[code]
On Deployment,Service works fine podSelector matching - but on NetworkPolicy didnt.

[2022-08-04 10:10] rusanki commented on #20227
would be good to have this reverse proxy setup for local development and debugging

[2022-08-04 10:41] aojea commented on #111469
it seems you have problem to access the apiserver objects.

You have to check the logs from kube-proxy before restarting to understand the root cause

I don't think this is related to node

[2022-08-04 11:16] pacoxu commented on #83107
Since LocalStorageCapacityIsolationFSQuotaMonitoring is beta now, the issue may be less obvious in the future.
/remove-priority important-soon
/priority important-longterm

[2022-08-04 11:22] piroux commented on #111659
I just push my changes.
Compared knowshan, my changes correctly align the struct keys on the same column.

[2022-08-04 12:56] RomanBednar commented on #111659
@piroux thank you for the PR and welcome to the community! I suggested some minor changes, otherwise lgtm.

[2022-08-04 12:58] chandanD4 opened #111695 "For dual stack deployments, node addresses show only one IP if node-ip parameter is passed"
### What happened?

Case1:
With k8s 1.23.x and cloud-provider-openstack 1.23.x if we pass "--cloud-provider=external" along with "--node-ip=10.0.16.2" as KUBELET_EXTRA_ARGS to the kubelet.service file we observe that the Node.status.addresses was as follows
status
addresses:

    address: 10.0.16.2
    type: InternalIP
    address: dead::5
    type: InternalIP

Case:2
But with the current k8s 1.24

[2022-08-04 13:13] chandanD4 commented on #111695
/sig network
/sig node

[2022-08-04 14:06] thockin commented on #111112
I'm sorry, but can you please clarify what is failing?  Is the network policy not selecting the right pods?  Or is the API server rejecting the call?

[2022-08-04 14:24] whybazinga commented on #47862
+1

[2022-08-04 14:30] tibonarium commented on #72597
/reopen

[2022-08-04 14:53] afbjorklund commented on #106917
The docker runtime has now changed the default to "kubenet", which means that user needs to install CNI plugins.

`NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: could not locate kubenet required CNI plugins [bridge host-local loopback] at [\"/opt/cni/bin\" \"/opt/cni/bin\"]`

https://github.com/Mirantis/cri-dockerd/releases/tag/v0.2.4 (previously it w

[2022-08-04 14:55] rizwan-kh commented on #111480
yes looks similar, thanks for pointing out, will close this.

/close

[2022-08-04 14:55] #111480 closed

[2022-08-04 15:16] Zeratoxx commented on #93474
I came here through https://github.com/kubernetes/kubernetes/issues/104532, kubectl v1.21.5

[2022-08-04 15:56] thockin commented on #111671
What we are doing now is clearly wrong.  apiserver should not set this up.

I think it's reasonable to consider whether to use the non-primary range when `--advertise-address` is within that, or else actually cause an error saying they do not match.

[2022-08-04 15:57] thockin commented on #111518
I thought so, I just wanted to triple check :)

[2022-08-04 16:05] aojea commented on #111695
are you not pointing out that the difference is with ` cloud-provider-openstack 1.24.x ` ?

[2022-08-04 16:17] aojea commented on #111682
@jinnzy for clarifications, you've extended the nodeport range and it nows overlap with the nodeport range.
The connections that fail are  in the same node, between nodes, ...

[2022-08-04 16:45] cici37 commented on #111643
/assign @caesarxuchao @lavalamp
/triage accepted

[2022-08-04 16:47] cici37 commented on #111622
/triage accepted

[2022-08-04 16:48] cici37 commented on #111605
/sig instrumentation

[2022-08-04 16:49] cici37 commented on #111604
/cc @deads2k

[2022-08-04 16:51] cici37 commented on #111589
/assign @apelisse @alexzielenski
/triage accepted

[2022-08-04 16:53] cici37 commented on #111588
/triage accepted

[2022-08-04 16:53] #111588 closed

[2022-08-04 16:53] cici37 commented on #111629
/triage accepted

[2022-08-04 16:53] cici37 commented on #111556
/triage accepted

[2022-08-04 17:31] thockin commented on #111682
On my machine, nodeports are not in the ephemeral range:

[code]

We chose the defaul NodePort range this way on purpose.  What does that look like on your node?  Did you expand the node-port range up into ephemeral space?  Can you NOT do that?

As Antonio said, we COULD add each active NodePort and HCNP to /proc/sys/net/ipv4/ip_local_reserved_ports (on Linux - not sure if/what the Windows equiv i

[2022-08-04 17:43] dims commented on #111297
Fixed in https://github.com/kubernetes/kubernetes/pull/111678

[2022-08-04 17:43] #111297 closed

[2022-08-04 17:52] Huang-Wei commented on #108903
This requirement of "correlating scheduling latency spikes with metrics" is valid to me. It's just I'm wondering if `pluginMetricsSamplePercent` is the most efficient way to understand the correlation? Can other existing metrics help? Or, enable profiling?

/remove-lifecycle stale

[2022-08-04 18:38] thockin opened #111698 "Validation cleanups needed: proper use of "Required" and "Invalid""
Looking at validation code, I see places that are using the last argument to `field.Required` that do not need to be.  It's extra detail that is almost never needed.  For example:

[code]

This seems totally redundant - the error already says that a field named "type" is required.  It is occasionally useful to add additioninfo, such as:

[code]

Likewise, `field.Invalid` has details which are more

[2022-08-04 19:37] yuzhouliu9 opened #111699 "Higher kube-apiserver memory usage k8s 1.20.15 vs 1.21.14"
### What happened?

After upgrading k8s cluster from 1.20.15 to 1.21.14, we noticed significantly higher memory usage from kube-apiserver pods.

Below are the graphs that show clearly the difference in memory consumption before and after. The spike in the middle is when the control-plane nodes were being rolled to 1.21.

This is a plot of `container_memory_working_set_bytes`.
On 1.20.15 for leader

[2022-08-04 19:37] yuzhouliu9 commented on #111699
/sig scalability

[2022-08-04 19:43] alculquicondor commented on #91633
Sorry, I have been to busy with other features in the SIG. I quickly checked the spreadsheet (thank you for humoring me).

Can you clarify at which log level did you run the experiments?

If you did it at v=2, I suppose the results for `only v>3` is kind of the baseline. If so, it kind of looks like with json the performance is quite similar.
But if we start using WithName, WithValues, the perform

[2022-08-04 20:28] alexpirine commented on #72597
/reopen

[2022-08-04 20:39] tylerschultz opened #111700 "DNS Configmap tests sometimes panics in ipv6 envs"
### Which jobs are flaking?

We've seen this line of [test/e2e/network/dns_configmap.go:301](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/dns_configmap.go#L301) panic from time to time. It is caused by an index out of bounds. The array length check on that line seems to be incorrect.

We see this flakiness when running in ipv6 or dualstack-ipv6-primary environments.

We do

[2022-08-04 20:43] tylerschultz commented on #111700
/sig testing

[2022-08-04 20:46] kuzmik commented on #79224
+1 to reopen.

[2022-08-04 20:48] Jefftree opened #111701 "Fix godocs autoformatting from upgrading to go 1.19"
### What happened?

Reference Comment: https://github.com/kubernetes/kubernetes/pull/111254#issuecomment-1195794968

Based on the diff: https://github.com/kubernetes/kubernetes/pull/111254/files, there are a couple areas where indentations are turned into paragraphs, indentations are turning regular comments into code blocks, etc.

I think there are a couple things we need to do (could be in separ

[2022-08-04 21:06] akutz opened #111703 "Patching and/or updating custom resources at older schema versions may result in data loss"
### What happened?

Patching and/or updating a custom resource at schema version `N-1` can erase the values of fields defined at version `N` (or subsequent versions) of the API depending on the client used and/or the presence of `x-kubernetes-preserve-unknown-fields: true` in the schema. In fact, this issue goes on to illustrate the following outcomes:

| `x-kubernetes-preserve-unknown-fields` | C

[2022-08-04 21:09] akutz commented on #111703
/sig api-machinery

[2022-08-04 21:22] estebanreyl opened #111704 "When using --serialize-image-pulls=true "Successfully pulled image" Event outputs misleading time"
### What happened?

While going over Kubernetes events I noticed that image pulls for some small images were taking several minutes according to the "Successfully pulled image" event. From investigating this is misleading as the actual pull time is much smaller but due to --serialize-image-pulls=true being the default in the observed cluster and other pods being initialized at the time, the report

[2022-08-04 21:26] estebanreyl commented on #111704
/sig node

[2022-08-04 21:32] jtgans commented on #81089
The Dovecot IMAP server actually suffers from this as well. You can run the auth subprocess as root to get around this particular issue (another slight problem in the design of the software), but it's obviously not secure to do so as that auth process could, if attacked, get access to other secrets on the same node.

[2022-08-04 21:46] mfabricanti commented on #79224
+1 to reopen.

Just to share my use case on this....

I use an 3rd party application that relys in one configMap (the app reads this cm directly, I cannot change this... I mean... it is not defined in deployment YAML or anywhere else).

I use this application in several clusters, and I use a solution to sync my YAML definition files (placed in one repository) to all these clusters, providing ease

[2022-08-04 21:46] didovesei opened #111705 "cgroup cpuset is not updated for the running Pods when a Pod is deleted"
### What happened?

When a Pod with integer cpuset (dedicated CPU cores) is deleted, the cpusets of the cgroups for the rest Pods are not updated.

For example, we have Pod A is assigned 1 CPU (core 4) and Pod B which requesting 200m CPU. The cgroup files for these two Pods would look like:

[code]

However, when Pod A is deleted, the cpuset for Pod B is not updated. It's still `0-3,5-7` whereas I

[2022-08-04 21:49] didovesei commented on #111705
/sig node

[2022-08-04 22:35] sarav-ks commented on #64623
+1 for a native solution to support **OnFailure** for daemonSet

[2022-08-04 23:21] dims commented on #111700
/milestone 1.25

as this is a networking conformance test that fails

[2022-08-04 23:23] aojea commented on #111682
I still like to reproduce the issue and ask some netfilter dev what is the recommended way of solving this scenario
[
](https://upload.wikimedia.org/wikipedia/commons/3/37/Netfilter-packet-flow.svg)

[2022-08-04 23:24] dims commented on #111700
/milestone v1.25

[2022-08-04 23:24] dims commented on #111700
/sig network

[2022-08-04 23:25] dims commented on #111700
/assign @aojea @jayunit100

[2022-08-04 23:26] aojea commented on #111700
thanks for catching it

[2022-08-04 23:28] aojea commented on #111699
/cc

[2022-08-04 23:30] tylerschultz commented on #111700
There is confusion whether or not this is a conformance test. We don't believe it is. The test description does not include `[Conformance]`. I'll remove the label.

[2022-08-05 00:25] #111700 closed

[2022-08-05 02:07] xh4n3 opened #111709 "kube-proxy should report events when the proxier failovers"
### What would you like to be added?

kube-proxy should report k8s events of critical cases instead of just logging, e.g., kube-proxy failovers to iptables proxier when it should be running ipvs proxier, see https://github.com/kubernetes/kubernetes/blob/v1.24.3/cmd/kube-proxy/app/server_others.go#L588

There might be other critical cases need sysadmin's attention, maybe we should check everywhere.

[2022-08-05 02:07] xh4n3 commented on #111709
/sig network

[2022-08-05 02:08] yangjunmyfm192085 commented on #111701
/assgin @sanwishe

[2022-08-05 02:27] jinnzy commented on #111682
Yes

[2022-08-05 02:29] chendave commented on #111510
checked https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness&show-stale-tests= all testcase status should be back.

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1555161967272923136/artifacts/, the size now is about 2.5M.

But one thing should be noted is that, name of the testcases has been changed a little bit which is caus

[2022-08-05 02:44] jinnzy commented on #111682
[code]
apiserver
[code]

We have used a lot of nodeport since version 1.10, which is referenced by many applications, so wanted to ask if there is any better way to solve this problem.

[2022-08-05 02:45] chendave commented on #111510
I personally think it's okay, k8s just deliver this file while how the downstream tools consume those data is not predictable.

If the "IT" string added to the testcase is not necessary then it should be a bug from Ginkgo, and should be fixed in Ginkgo, in this case, we can filter out the string as a temporary workaround. @onsi

[2022-08-05 02:53] thockin commented on #111682
How many node port services are active and what are you doing with them?

Having such a large range guarantees that you will have some overlap with
ephemeral ports - it's not going to be happy.

I'm not against reserving them as they are used, I guess, but that's a LOT
of them to manage.  It would be better if we found a better model for you :)

On Thu, Aug 4, 2022, 7:44 PM jinnzy ***@***.***> wro

[2022-08-05 03:13] jinnzy commented on #111682
We have about 1500 node ports and use nodeport as the ingress for cluster traffic.
![image](https://user-images.githubusercontent.com/33449123/182993713-3f4ee873-8582-4b68-b7df-f1cab70475af.png)

[2022-08-05 03:14] 249043822 commented on #111578
/assign
we should use listwatch to monitor pod status changes accurately, this interval 2s may lose pod change and cause the test failure

[2022-08-05 03:16] chendave commented on #111510
Another diff I found,

All skipped testcase won't shown in testgrid,

e.g.
"[sig-storage] In-tree Volumes [Driver: nfs] [Testpattern: Dynamic PV (block volmode)] multiVolume [Slow] should access to two volumes with different volume mode and retain data across pod recreation on different node"

the new format is
<testcase name="[It] [sig-storage] In-tree Volumes [Driver: nfs] [Testpattern: Dynamic

[2022-08-05 03:34] painsAgains opened #111710 "API resonse error"
### What happened?
/wg api-expression
when I use a API request to get a non-existent component "fuzzing"status,I got 500 response code.
The request content as follows:
[code]
And the response content as shown below:
[code]

### What did you expect to happen?

If the conponent is non-existent, I think I should recieve a **40x response code**,not the **500 response code**.

### How can we reproduce

[2022-08-05 03:42] painsAgains commented on #111710
### What happened?
/wg API Expression
when I use a API request to get a non-existent component "fuzzing"status,I got 500 response code.
The request content as follows:
[code]
And the response content as shown below:
[code]

### What did you expect to happen?

If the conponent is non-existent, I think I should recieve a **40x response code**,not the **500 response code**.

### How can we reproduce

[2022-08-05 03:43] painsAgains commented on #111710
### What happened?
/wg API
when I use a API request to get a non-existent component "fuzzing"status,I got 500 response code.
The request content as follows:
[code]
And the response content as shown below:
[code]

### What did you expect to happen?

If the conponent is non-existent, I think I should recieve a **40x response code**,not the **500 response code**.

### How can we reproduce it (as mini

[2022-08-05 03:45] painsAgains commented on #111710
### What happened?
/wg api-expression
when I use a API request to get a non-existent component "fuzzing"status,I got 500 response code.
The request content as follows:
[code]
And the response content as shown below:
[code]

### What did you expect to happen?

If the conponent is non-existent, I think I should recieve a **40x response code**,not the **500 response code**.

### How can we reproduce

[2022-08-05 04:33] chandanD4 commented on #111695
@aojea  : We are seeing this anomaly with cloud-provider-openstack 1.24.x version.

[2022-08-05 04:36] lixiaoyuner commented on #111501
Thanks @neolit123, very helpful. I have tried to pass a very short time for --cluster-signing-duration and I see the rotation happens automatically without restarting kubelet. I think the way I change node system time maybe not a good way to simulate expiration. And I still don't know why changing the node system time doesn't work.

[2022-08-05 04:40] Rishit-dagli commented on #72817
I usually use:

[code]

[2022-08-05 04:51] thockin commented on #111682
If you need 1500, why is the range 50,000?  That's 30x what you need.  I
would say to change the node port range back to default or else maybe grow
it DOWN instead of up?  E.g. 28000-32767

Are you exposing all your services on different ports of the same IP?

Could you use different IPs instead of different ports?  Or some
combination?

On Thu, Aug 4, 2022, 8:13 PM jinnzy ***@***.***> wrote:

[2022-08-05 05:00] neolit123 commented on #111501
yes, i recall using system time was not a way to reptoduce the rotation.
let's close given there is no bug here.

for questions ask on #sig-node on k8s slack

/close

[2022-08-05 05:00] #111501 closed

[2022-08-05 05:47] aojea commented on #111695
This seems related

 https://github.com/kubernetes/kubernetes/pull/107750
https://github.com/kubernetes/cloud-provider/issues/56

What I don't know if this is a problem on Kubernetes or  https://github.com/kubernetes/cloud-provider-openstack

[2022-08-05 06:00] aojea commented on #111709
/priority important-soon

we only use events on a few places, maybe we have to revisit our strategy about this.

[code]

Main risk with events is when apps abuse them and start to DDoS the apiserver, so I think that we should choose carefully which events we should generate, kube-proxy failover looks a good candidate to me

More thoughts @thockin @danwinship

[2022-08-05 06:13] aojea opened #111711 "Improve ClusterCIDR metrics"
Opening issue for tracking purpose based on feedback from sig instrumentation

_Originally posted by @dgrisonnet in https://github.com/kubernetes/kubernetes/pull/109090#discussion_r934612254_

[2022-08-05 06:14] aojea commented on #111711
/assign @sarveshr7
/cc @bowei
/sig network

[2022-08-05 06:48] Abirdcfly commented on #111666
It would be nice to have a tool that found "likely candidates" and let humans verify later.

_Originally posted by @thockin in https://github.com/kubernetes/kubernetes/issues/111628#issuecomment-1203118119_

[2022-08-05 06:50] Abirdcfly commented on #111666
/triage accepted

/sig ?
No idea which group(s) to assign

[2022-08-05 06:51] aojea commented on #111470
Fixed by https://github.com/kubernetes/kubernetes/pull/111675
/close

[2022-08-05 06:51] #111470 closed

[2022-08-05 06:57] aojea commented on #111510
I see , it seems the new reporting format breaks testgrid, @michelle192837 can you help us to recover the functionality in testgrid?

[2022-08-05 07:02] aojea commented on #111666
/area code-organization
/sig architecture
;)

[2022-08-05 07:10] aojea commented on #111710
/sig api-machinery

[2022-08-05 07:13] aojea commented on #111578
we did the same recently in another test, didn't we?
I can't find the PR

[2022-08-05 07:42] peizhouyu commented on #111710
/assign

[2022-08-05 07:50] yibishufange opened #111713 "After install kubernetes 1.24.2 with docker-desktop, kubelet cannot get pod metrics"
### What happened?

After i install k8s version 1.24.2 with docker-desktop both on my mac and my windows10 computer,  and i install metrics-server version 0.4.1, and i find i can get node metrics but not pod metrics.

I have tried to figure out whether the metrics-server went wrong, and i found kubelet cannot get any existing running pod metrics, so it is not the metrics-server problem.

### What

[2022-08-05 07:50] porridge opened #111714 "Unclear concurrency safety requirements of `k8s.io/cli-runtime/pkg/resource.NewBuilder` argument"
### What happened?

[NewBuilder](https://github.com/kubernetes/kubernetes/blob/bd9444c1cfd438690dc21c31404dd79ab60dc6cb/staging/src/k8s.io/cli-runtime/pkg/resource/builder.go#L207) takes a [RESTClientGetter](https://github.com/kubernetes/kubernetes/blob/bd9444c1cfd438690dc21c31404dd79ab60dc6cb/staging/src/k8s.io/cli-runtime/pkg/resource/interfaces.go#L27) interface as argument. Neither has **any**

[2022-08-05 07:53] porridge commented on #111714
/sig cli

[2022-08-05 08:04] aojea commented on #111671
What is wrong? Who should configure the endpoint or current fix?

Let's take a look and how this works

1. The bootstrap of the apiserver creates a Service that is SingleStack with name "kubernetes.default" using the first IP of the Primary service ip range, this was decided during dual stack to keep backwards compatibility, creating the notion of Primary ServiceIPRange

https://github.com/kuberne

[2022-08-05 08:12] aojea commented on #111674
@aramase if you are too busy, just add a description on where the problem is and, if possible, suggestions on how to fix it, there is always people wanting to help with these things

[2022-08-05 08:23] 249043822 commented on #111578
sorry, i have not committed yet. do you plan to fix this test again? if so, I can unassign

[2022-08-05 08:24] yangjunmyfm192085 commented on #111713
/sig node
/sig instrumentation

[2022-08-05 08:30] Congelli501 commented on #110177
Is it possible to add a kubeadm check for this case, and even make kubelet fail on startup with an explicit log ?

I suppose I'm not the best at diagnosing those kind of problem, but adding those checks would save days of debugging for other people / prevent people from giving up a kubernetes cluster setup.

[2022-08-05 08:35] sanwishe commented on #111674
Comment [#108483(comment)](https://github.com/kubernetes/kubernetes/issues/108483#issuecomment-1195714805) might help.

We basically create a grpc service and never close that:

https://github.com/kubernetes/kubernetes/blob/18ce801beac34489f313d6b1223a1a5f07200cb6/staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go#L245

[2022-08-05 08:39] xiaojike1213 opened #111715 "kubeadm init: failed to pull image even though the images had been pulled with docker"
### What happened?

**precondition:**
**kubeadm config images list**
k8s.gcr.io/kube-apiserver:v1.24.3
k8s.gcr.io/kube-controller-manager:v1.24.3
k8s.gcr.io/kube-scheduler:v1.24.3
k8s.gcr.io/kube-proxy:v1.24.3
k8s.gcr.io/pause:3.7
k8s.gcr.io/etcd:3.5.3-0
k8s.gcr.io/coredns/coredns:v1.8.6
pull the images listed above successfully with : docker pull k8s.gcr.io/*:v1.24.3

**Issues:**
**kubeadm init -

[2022-08-05 08:44] jinnzy commented on #111682
10000-60000 configured by other colleagues.

Yes, exposing all your services on different ports of the same IP.

Not yet.

Thanks for your answer, we are going to try to change the node port range.

[2022-08-05 08:44] #111682 closed

[2022-08-05 08:46] ait-maksymp commented on #44954
This is pathetic. People are selling this hipster technology as if it was the only answer to any computing need in the universe, but still this tool can't tell me its own name!

[2022-08-05 08:59] Tristan971 commented on #51650
It'd be great yeah; ran into just that... Turns out 75% CPU target can mean the following is "all fine"...
- 2 ready pods at 100%
- 1 unready pod at 0%

[2022-08-05 09:06] Hello-Linux commented on #72811
/reopen

[2022-08-05 09:07] anjmao commented on #106846
Minimal k8s client based on generics https://github.com/castai/k8s-client-go

Due to limitations of Generics there is interface for crud operations on each type. This allows to reuse client instance but also have interfaces for easy mocking and testing.

[code]

[code]

Example usage for testing and mocking from other library which implements memcache discovery using endpoints watch https://github

[2022-08-05 09:08] Hello-Linux commented on #72811
I think cpu/mem percentage in HPA should be based on limits!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11

[2022-08-05 09:08] Hello-Linux commented on #72811
@kipusoep @Lemmork @Lanpice @Fleuri @meezaan

[2022-08-05 09:09] Hello-Linux commented on #72811
Hurry up and add this function, it's been many years, and it hasn't been done yet

[2022-08-05 09:12] Hello-Linux opened #111717 "CPU/MEM percentage in HPA should be based on limits! kedacore/keda#3506"
### What happened?

https://github.com/kedacore/keda/issues/3506

### What did you expect to happen?

https://github.com/kedacore/keda/issues/3506

### How can we reproduce it (as minimally and precisely as possible)?

https://github.com/kedacore/keda/issues/3506

### Anything else we need to know?

https://github.com/kedacore/keda/issues/3506

### Kubernetes version

https://github.com/kedacore/k

[2022-08-05 09:13] zhan9san commented on #56799
Could we add selector based on pod labels?

We want to set different `limits` of pods based on pod labels?

[2022-08-05 09:13] Hello-Linux commented on #111717
/triage accepted

[2022-08-05 09:42] fusida commented on #111142
/sig storage

[2022-08-05 10:03] pandaamanda commented on #111715
/sig cluster-lifecycle

[2022-08-05 10:43] neolit123 commented on #111715
hi. i don't think docker is your container runtime. 1.24 uses containerd by default, so you have pull with it.

for support questions please see
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2022-08-05 10:43] #111715 closed

[2022-08-05 11:17] tnozicka commented on #95759
I can give it one more shot and see if someone gets the cycles to pick it up.
/reopen
/unassign @RealHarshThakur

[2022-08-05 11:27] arrowfeng commented on #111709
I think it's a good proposal, and failover will only generate this event on startup.

[2022-08-05 12:12] afbjorklund commented on #106917
And now it is up to "cni" by default, and "no-op" by choice.

https://github.com/Mirantis/cri-dockerd/releases/tag/v0.2.5

[2022-08-05 12:52] aojea commented on #111578
he, no sorry for the confusion, I thought you were the one that fixed it, maybe it was @pacoxu ?
There was one e2e that was flake and was solved using a listwatch instead of polling it every few seconds, I was trying to find the PR to show you , in case can give you some idea ... please go ahead and fix it :)

[2022-08-05 12:54] aojea commented on #111674
I was thinking in something like

[code]

if someone wants to give it a shot, to hook the Close() with the Storage()

[2022-08-05 13:15] pacoxu commented on #111578
https://github.com/kubernetes/kubernetes/pull/108958 this one?

[2022-08-05 13:16] kylecarbs opened #111719 "Pass event of pod termination to `preStop` hook"
### What would you like to be added?

I'd like for the event to be passed to the `preStop` hook.

I'm not proposing an abstraction here due to my lack of familiarity with the Kubernetes codebase.

### Why is this needed?

At Coder, we provision development environments with Terraform. An agent runs inside a Kubernetes container that enables external connections. When a container dies, we'd like to

[2022-08-05 13:21] mimowo commented on #111183
/assign

[2022-08-05 13:21] mimowo commented on #111612
/assign

[2022-08-05 13:23] deepflame commented on #65106
/reopen

[2022-08-05 14:19] andyzhangx commented on #80488
/reopen

[2022-08-05 14:44] mikebrow commented on #111469
[code]

no obvious issues at the container runtime layer...

CIDR, DNS config setup right?

check the logs from linkerd maybe?

[2022-08-05 14:58] sanwishe commented on #111674
@aojea Thanks for your demo, And I would like to work on this.
/assign @sanwishe

[2022-08-05 15:07] danwinship commented on #111671
Yeah, the fix for now is probably "require that `--advertise-address` matches the primary service address family".

[2022-08-05 15:15] danwinship commented on #111709
I'd say we shoud get rid of proxy mode failover. IIRC, when we first added the iptables proxy, we wanted it to be default, but there were some systems that couldn't run it (old kernel or iptables binary) so we made it so iptables was default but it could fall back to userspace. I'm not sure there was really ever any good reason for falling back from ipvs to iptables. It seems more likely that the

[2022-08-05 15:33] koolwithk commented on #111469
@aojea kuber-proxy logs is shared above. I can't see more log than that.

@mikebrow CRD and DNS config are good as I'm able to add node with Rocky linux 8.5 node.

I think May be Rocky Linux 9.0 Iptable version[**iptables v1.8.7 (nf_tables)**] not compatible with kubernetes because I created new k8 cluster with only one control node using `kubeadm init` without any CNI. I saw the same issue that p

[2022-08-05 15:39] brandongarcia-ms commented on #70189
/remove-lifecycle close

[2022-08-05 15:52] claudiubelu commented on #70189
Hello. What Kubernetes version are you running? Also, on the Windows nodes, do you use docker, or containerd? This is only supported on Windows nodes with containerd, since it supports single file mapping, which is required in order to mount single files into Windows containers.

[2022-08-05 16:25] gengwg commented on #27404
/reopen
+1 need this!

[2022-08-05 17:03] brandongarcia-ms commented on #70189
We have experimented with both 1.22.11 and a 1.23 release and yea, the container runtime is containerd. Any other ideas to check up on?

[2022-08-05 18:08] ardaguclu commented on #111714
/cc

[2022-08-05 18:12] dims commented on #111517
i think i have a clue. starting with logs in https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/1555548517458513920/

the apiserver seems to be getting `ShutdownInitiated` (which means a KILL was received https://github.com/kubernetes/kubernetes/blob/11d4cb52f24c99565f258333ac6a8bb94da790be/staging/src/k8s.io/apiserver/pkg/server/lifecycle_signals.go#L30)

[code]

grepp

[2022-08-05 18:13] endocrimes commented on #111517
hmm - what's the easiest way to run these tests from non-Prow? - I'll try and iterate on them next week

[2022-08-05 18:43] dims commented on #111517
@endocrimes why don't we try your original theory before of the COS images over the weekend? let me whip up a PR

[2022-08-05 19:44] alexzielenski commented on #111589
Are we sure this is not a bug on argo's side? I don't see how fromUnstructured is meant to infer the intended type here.

I also see that `UnmarshalJSON` does not have a default case, and then returns nil error in the case of a slice/map/unknown type:

[code]

I think this is a better place to throw an error if blocking slices or maps is really intended.

[2022-08-06 01:36] FeLvi-zzz opened #111725 "`kubectl delete deploy xxx --cascade='foreground'` delete pods immediately even though deployment has finalizers"
### What happened?

My deployment `foobar` has a finalizer `foo.example.com/bar`.
When you execute `kubectl delete deploy foobar --cascade='foreground'`, it will delete the replicasets and the pods of the deployment.

### What did you expect to happen?

When a object referred by an ownerReference and having finalizers is deleted, I expect to stop cascade propagation until deleted the finalizers wh

[2022-08-06 01:38] FeLvi-zzz commented on #111725
/sig apps

[2022-08-06 01:39] FeLvi-zzz commented on #111725
/sig api-machinery

[2022-08-06 01:42] FeLvi-zzz commented on #111725
maybe related #98744.

[2022-08-06 01:45] FeLvi-zzz commented on #111725
/remove-sig apps

[2022-08-06 04:18] Ramilito commented on #27308
@AndreKR, @bitti I've been using a shell [script](https://rentarami.se/posts/2021-10-27-kube-context/) for over a year as a wrapper around kubectx but that had too many cumbersome manual steps that I had to deal with when I changed jobs.

So I wrote a program that does it really well!

Check out [kubesess](https://github.com/Ramilito/kubesess)
![kubesess](https://user-images.githubusercontent.com/

[2022-08-06 06:28] PalanQu commented on #109034
/assign

[2022-08-06 07:25] jackfrancis commented on #96411
/remove-lifecycle rotten

[2022-08-06 09:45] Minh2003 opened #111728 "Webhook mode in authorization"
### What would you like to be added?

When I write the policy for my K8s cluster, I saw the webhook mode in Authorization. Can I only use this webhook mode for all policies in my cluster?

### Why is this needed?

Admission controllers cannot enforce policies on read requests. So that, we can use only one webhook in authorization mode for all policies.

[2022-08-06 11:15] kipusoep commented on #72811
@Hello-Linux mate calm your tits. You're shouting and telling people what to do, that's totally not cool and not how you should treat people.

[2022-08-06 11:24] RafaelHGBotelho commented on #72811
@kipusoep I'm looking for a way to be able to help, even at the moment I don't know exactly how to do it. I started by reading all the documentation regarding the HPA here.

https://github.com/kubernetes/community/blob/master/sig-autoscaling/README.md

In addition, it would be important to participate in the meetings to get a sense of what is being discussed at the moment. Anything we can do to ad

[2022-08-06 14:08] justinmchase commented on #86497
How do you "recreate" a service? Literally delete and create again? Or is there a command which would cause it to re-create itself without having to be deleted?

[2022-08-06 15:26] #108299 closed

[2022-08-06 15:31] yucer opened #111732 ""kubectl rollout history" produces wrong entry when --record not explictly used in "set image""
### What happened?

Following [this](https://github.com/karthequian/Kubernetes/tree/master/04_04_Rolling_updates) tutorial and did:

[code]

### What did you expect to happen?

[code]

### How can we reproduce it (as minimally and precisely as possible)?

The behavior can be reproduced as described before (in *What happened*).

The expected result can be achieved by explicit using `--record` in th

[2022-08-06 16:00] yucer commented on #111732
/sig cli

[2022-08-06 16:26] 2820402 opened #111733 "Slow response of nginx container"
### What happened?

I recently setup a kubernetes cluster on hetzner cloud with help of k0s but when I create a pod for example nginx then create a service for that to access through Nordport

Now i successfully curl the web server but when I hit again and again like 3 4 time it's giving very late response and sometimes don't give the response

I check the logs nothing there

### What did you expe

[2022-08-06 16:33] tspearconquest commented on #46861
I wouldn't generally recommend trying this. The dash is part of YAML spec and removing it generally will cause YAML syntax related errors from kubectl. That could inadvertently lead people down a rabbit hole in the wrong direction. The reason this happened is not clear from your description but I wanted just let anyone looking at your comment and wanting to try it that this fix may not work for mo

[2022-08-06 17:28] #105316 closed

[2022-08-06 20:54] jafarlihi commented on #107218
This is solved in https://github.com/kubernetes/kubernetes/pull/105569
This issue should be closed.

[2022-08-06 21:00] dims commented on #107499
/remove-lifecycle rotten

[2022-08-06 21:25] dims opened #111734 "Update config for `unused` plugin in .golangci.yaml to golang 1.19"
Here's the update to .golangci.yaml to clean up unused code that shows up when we specify `go` version to `1.19`

[code]

and then run `hack/verify-golangci-lint.sh`, you will see the following failures:
[code]

[2022-08-07 00:12] Huang-Wei commented on #109191
@yylt when the device is removed, does kubelet immediately remove pod `a`? If not, `a` would end up with requesting a non-existent GPU resource. Furthermore, this may lead to a more general issue: suppose a node has 4 GPUs, and a pod requests for 3 GPUs and gets scheduled. Let's say the 3 GPUs get unplugged, but the pod doesn't get deleted, in scheduler's cache, it reads GPU as 3(requested)/1(tota

[2022-08-07 00:13] Huang-Wei commented on #109191
I'd hold that as that won't "fix" this issue.

[2022-08-07 02:37] yylt commented on #109191
good catch.

Now, memory and cpu is the same type, so could check quota by `Allocatable`.
But when check quota on the hot plugged device, it is not enough, also should check `kubelt_internal_checkpoint` file to make sure have enough devices. Just because this is hot plugged device.

[2022-08-07 04:06] jasonbraganza commented on #111734
/assign

I’d like to take a crack at this. Thank you.

[2022-08-07 04:23] Abirdcfly commented on #111734
Sorry @jasonbraganza, I happen to be looking at golangci-lint, so I submitted https://github.com/kubernetes/kubernetes/pull/111736, which may solve the problem in the meantime. When I refreshed the page for the second time, I saw your comment.Sorry to disturb your attempts.

And run `hack/verify-golangci-lint.sh` in mac Many times not quite right,

[2022-08-07 04:33] jasonbraganza commented on #111734
@Abirdcfly you should take over then. i was going to take a gander at it later anyhoo. have at it :)

/unassign

[2022-08-07 05:39] gilbahat opened #111737 "Kubernetes rejects overlapping mounts"
### What happened?

A combination of admission control and pod definitions have created overlapping mount instruction (i.e. mounting the same directory twice).
This is a configuration that kubernetes can service by ignoring the duplication, but it opts for overzealousness and refuses to schedule the pods instead.

### What did you expect to happen?

I would have expected kubernetes to issue a warn

[2022-08-07 05:41] gilbahat commented on #111737
/sig node

[2022-08-07 06:54] gjkim42 commented on #111732
It seems like this feature has been deprecated as the warning message said.
Maybe this feature should be no longer maintained.

https://github.com/kubernetes/kubernetes/issues/40422

[2022-08-07 07:36] yangjunmyfm192085 opened #111738 "When the number of replicas of the deployment decreases, execute kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/metrics/resource or kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/stats/summary, it gets stuck"
### What happened?

When the number of replicas of the deployment decreases, execute `kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/metrics/resource` or `kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/stats/summary`, it gets stuck

### What did you expect to happen?

get data in time when execute `kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/metrics/resource` or `kubectl get --raw /api/v1

[2022-08-07 07:37] yangjunmyfm192085 commented on #111738
/sig node
/sig instrumentation
/assign

[2022-08-07 09:30] #106754 closed

[2022-08-07 10:34] jafarlihi commented on #107218
/close

[2022-08-07 10:36] RA489 commented on #100683
/remove-lifecycle stale

[2022-08-07 14:06] vaibhav2107 commented on #105790
/remove-lifecycle stale

[2022-08-07 16:02] ezk84 commented on #65798
You can install it manually if you have go installed:

[code]

Still, would be nice if Windows installation was made more easily available :) @rajatjindal

[2022-08-07 18:20] harshitasao commented on #111276
/remove-milestone v1.25

[2022-08-07 18:30] harshitasao commented on #111276
/milestone v1.26

[2022-08-07 19:54] matthewygf commented on #108903
At the moment, apart from "PluginExecutionDuration",  the metrics "SchedulingAlgorithmLatency" and "schedulingLatency" reports back the total latency for a scheduling decision. However, both schedulingAlgorithm and schedulinglatency do not give clear pictures for the **plugins** related latency. They do, however, provide whether it was the binding step or the algorithm that causes higher latency.

[2022-08-08 00:28] shuheiktgw opened #111740 "[Flaky] gce-cos-master-default CSIInlineVolumes should support ephemeral VolumeLifecycleMode in CSIDriver API"
### Which jobs are flaking?

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-default

### Which tests are flaking?

CSIInlineVolumes should support ephemeral VolumeLifecycleMode in CSIDriver API

### Since when has it been flaking?

8/5

### Testgrid link

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-default

### Reason for failure (if pos

[2022-08-08 00:29] shuheiktgw commented on #111740
/triage accepted

[2022-08-08 01:07] AaronFriel commented on #107742
@thockin I think it's both a GKE issue and a kubedns issue. Should the be spec be updated to state explicitly what it means to be compliant?

As well, I think the spec should probably live in a different repo than kubedns, if it's end of life/divergent in behavior from core-dns, the new standard DNS implementation.

[2022-08-08 02:04] #111589 closed

[2022-08-08 02:56] sxllwx opened #111742 "port-forward cannot handle the connection"
### What happened?

When we use port-forward to forward traffic, there is a situation where the connection cannot be processed.

[code]

[code]

[code]

### What did you expect to happen?

After reaching the file descriptor limit. After the already processed connection ends, continue to process subsequent connections. and give corresponding prompts.

### How can we reproduce it (as minimally and p

[2022-08-08 03:50] sanposhiho commented on #109894
/remove-lifecycle stale

[2022-08-08 05:19] Kartik494 commented on #106994
/remove-lifecycle rotten

[2022-08-08 06:02] lilongfeng0902 opened #111744 "Stop the runtime service, unfinished jobs become succeed"
### What happened?

**First，create a job，just as below：**

[code]
**Then，when the job is running, execute command "systemctl stop docker", the pod becomes completed. The pod yaml file ,just as below**

[code]
**Then you can exec command "systemctl restart docker",but the job change the completed status, the yaml of status like below:**

[code]

### What did you expect to happen?

Infact, the job h

[2022-08-08 06:15] pacoxu opened #111745 "existing toleration can not be modified when add annotation for daemonsetPod after enabling podtolerationrestriction"
### What happened?

https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#taints-and-tolerations
Although Daemon Pods respect [taints and tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/), the following tolerations are added to DaemonSet Pods automatically according to the related features.

https://kubernetes.io/docs/reference/access-authn-

[2022-08-08 06:16] pacoxu commented on #111745
/sig api-machinery
There is https://github.com/kubernetes/kubernetes/issues/70502 but not the same.
https://github.com/kubernetes/kubernetes/pull/97850 may fix the same issue.

[2022-08-08 06:16] msau42 commented on #111740
/assign @dobsonj

[2022-08-08 06:32] danishprakash commented on #111698
@thockin mind If I pick this up?

[2022-08-08 06:40] #108640 closed

[2022-08-08 06:55] lilongfeng0902 commented on #111744
/kind bug
/sig apps
/area workload-api/job

[2022-08-08 07:25] neolit123 commented on #111742
/sig cli

[2022-08-08 07:28] neolit123 commented on #111733
hi, it's better to talk to k0s for support because it's not the official k8s distribution.

if they confirm a k8s bug please reopen.

/close

[2022-08-08 07:28] #111733 closed

[2022-08-08 07:28] neolit123 commented on #111728
/sig auth

[2022-08-08 07:30] neolit123 commented on #111659
/sig storage

[2022-08-08 07:31] neolit123 commented on #111717
/sig autoscaling
for triage

[2022-08-08 07:32] neolit123 commented on #111719
/sig node

[2022-08-08 07:37] NickYadance commented on #110158
Yes, we are running k8s for Airflow too. The problem just slows up Airflow task start up so much :((

[2022-08-08 07:38] Jeaniowang commented on #110158
报告收到

[2022-08-08 07:55] aojea commented on #111742
why is this a bug?
limits on systems have a reason to be and the error is surfaced to the user, so it can handle accordingly , I don't think that a good solution is to keep trying ... specially if we are talking about file descriptor limits, you are going to cause failures on other applications that need to open fds

[2022-08-08 07:57] TomaszKlosinski commented on #70147
IMHO lack of this feature is almost as ridiculous as lack of encryption of secrets.

[2022-08-08 07:57] aojea commented on #86497
delete and create

[2022-08-08 07:58] harshanarayana commented on #111257
@jayunit100  here is  how we get this kind of behavior internally.

Today, the tolerations added for the DaemonSet looks like this
[code]

Taints have a `TolerationSeconds` attribute that is looked into under the `taint_manager.go`

https://github.com/kubernetes/kubernetes/blob/759785ea147bc13945d521eaba4a6592cbc0675f/pkg/controller/nodelifecycle/scheduler/taint_manager.go#L370-L408

So adding a c

[2022-08-08 08:16] aojea commented on #111578
yeah, so my memory was good then, I've identified the right author :smile:

[2022-08-08 08:29] 249043822 commented on #111578
I didn't understand what you said at first, but now I understand :smile:

[2022-08-08 08:30] george-angel commented on #46287
We restart kubelet and some other components daily (thats how often we refresh certificates), using a systemd timer. Not elegant, but works.

[2022-08-08 09:23] sxllwx commented on #111742
`kubectl port-forward` is still working, but `Accept Loop` has exited. Subsequent incoming connections cannot be processed normally (the client's connection can still be established, but the request cannot be processed)

[code]

PS: Even if the limit on the number of file descriptors is raised via `prlimit`, the service cannot continue.

[2022-08-08 09:24] ch0mik commented on #111112
@thockin  Hi, the failing is the podSelector casting the value of "00000" in NetworkPolicy. The same value "00000" are corrected interpeting by Service. On Service the podSelector matchLabels works fine - the matchLabels are the same on Service and on NetworkPolicy

[2022-08-08 10:08] mbianchidev commented on #110158
I think I have the same issue here in my AKS cluster running Kube v1.21.7 (I know it's already eol, I still have to schedule an update)

[code]
Running
 `kubectl get events -n my-namespace  --sort-by='.metadata.creationTimestamp'`

I get this output
[code]

The first message makes me think I've made some mistake somewhere and I'm still figuring it out but the second is identical to the one stated

[2022-08-08 10:20] pacoxu commented on #110195
The PR is merged. Can we close this one?

[2022-08-08 10:26] endocrimes commented on #110195
Yep.

/close

@Maria-Milusheva if you happen to run into this again on Kubernetes 1.25 please reopen or file a new issue, but this should now be resolved.

[2022-08-08 10:26] #110195 closed

[2022-08-08 11:12] Rozzii commented on #106691
I have had some discussion with one of the community members on sig.node slack and I was advised to look up a still maintained version of Draino: https://github.com/DataDog/draino and use it in combination with node problem detector but this fork will also lose it's support at the end of 2022 and we also have an other requirement, namely to support K8s ipv4/v6 dual stack mode : https://kubernetes.

[2022-08-08 12:39] dims commented on #111396
DONE

[2022-08-08 12:39] #111396 closed

[2022-08-08 13:16] claudiubelu commented on #107114
Ok, so... I have been looking into this a bit more.

Last time, i picked port number ``47001``, as it's one of the ports used by the System (PID 4) and tried to use it as a client port. Somehow, that was the worst port choice that could have made from the list of used ports above. Using that port, resulted in the error ``An attempt was made to access a socket in a way forbidden by its access permi

[2022-08-08 13:43] pacoxu commented on #109077
milestone v1.25 task was done. We can tag this to be milestone v1.26 now.

[2022-08-08 14:22] aojea commented on #111112
how are you doing to know ,in networkPolicy, if it does match or it does not match correctly?

[2022-08-08 14:47] benluddy commented on #107949
/remove-lifecycle stale

[2022-08-08 14:52] joell commented on #104171
/remove-lifecycle stale

@fedebongio: The current assignee for this issue has not responded in the past year.  Could you please re-triage and re-assign it?

[2022-08-08 15:15] stlaz commented on #108807
Hello and sorry for such a delay, I was vacationing a bit.

I would gladly turn my psachecker into a SIG Auth repository. I believe the project already does what the ask in this issue is, albeit I assume it might need some polishing.

@ritazh what would be a good first step towards such an action?

[2022-08-08 16:15] kfox1111 commented on #75482
/remove-lifecycle stale

[2022-08-08 16:15] kfox1111 commented on #75482
still an issue. :/

[2022-08-08 16:21] tallclair commented on #111516
I'm +1 for removal. I think the Pod Security Admission restricted profile captures what this plugin was trying to achieve in a much better and up-to-date way. I can't think of any reason to use this one at this point (it's very incomplete).

[2022-08-08 17:09] sftim commented on #111516
For readability
/retitle Update, or deprecation and removal, of the `scdeny` admission plugin

[2022-08-08 17:10] sftim commented on #111516
Actually, sorry
/retitle Update, or deprecation and removal, of the `SecurityContextDeny` admission plugin

[2022-08-08 17:29] aanm opened #111750 "Regression in client-go >= v1.24.0 metrics lead to explosion in label cardinality"
### What happened?

Hello,

we have been using client-go [`LatencyMetric` interface](https://github.com/cilium/cilium/blob/v1.12.0/vendor/k8s.io/client-go/tools/metrics/metrics.go#L40-L43) to measure the latency for all client-go traffic from Cilium to kube-apiserver. We have [recently found out](https://github.com/cilium/cilium/issues/20810) that since v1.24.0 the URL path is no longer aggregated

[2022-08-08 17:31] aanm commented on #111750
/sig api-machinery
/sig instrumentation

[2022-08-08 18:16] alexzielenski commented on #111310
I looked into the history from the PR you linked. This seems to be the intended behavior of sharedindexinformer. I don't see this as a regression:

The original shared informer did not support being Run more than once. The fact that `Run` function was missing logic to enforce this seems simply to have been an oversight. Calling `Run` more than once on a sharedindexinformer could cause bugs.

For e

[2022-08-08 19:16] rtheis commented on #102818
/remove-lifecycle stale

[2022-08-08 20:19] daschott commented on #106636
/reopen

[2022-08-08 20:19] daschott commented on #106636
/remove-lifecycle rotten

[2022-08-08 20:33] daschott commented on #109780
@marcelvwe [this](https://github.com/kubernetes/kubernetes/issues/109780#issuecomment-1176367334) reads like a duplicate of https://github.com/kubernetes/kubernetes/issues/106636. Would you agree?

I agree Windows is missing equivalent to this rule https://github.com/kubernetes/kubernetes/blob/release-1.22/pkg/proxy/iptables/proxier.go#L1360

Here are the workaround steps again, plz confirm if the

[2022-08-08 20:50] aojea commented on #111750
But reverting will bring back the cardinality problem, will not?

The latency of each URL path is available in the apiserver metrics ...

[2022-08-08 20:58] aanm commented on #111750
We have never faced any cardinality problem with the previous code since we were not using the "host" field which is what I assume the original issue about cardinality was trying to fix. We only used the "path" of an URL, which was aggregated in a way that would not be facing any cardinality, like the figure attached in this GH description. Now each `{namespace}` and `{name}` is actually a differe

[2022-08-08 22:23] Bessonov commented on #40610
/remove-lifecycle stale

[2022-08-08 22:35] #111025 closed

[2022-08-08 22:47] BenTheElder commented on #111717
This appears to be an indirect duplicate of https://github.com/kubernetes/kubernetes/issues/72811 with no new information. The link used for all issue template fields currently says:

/triage duplicate
/close

[2022-08-08 22:48] #111717 closed

[2022-08-09 00:20] RafaelHGBotelho commented on #72811
I did a lot of research to understand why the HPA is based on request and not on limit. I even started studying Golang in order to understand the code better.

Reading some articles and the comments on Slack's #sig-autoscaling, I understand why.

https://github.com/kubernetes/design-proposals-archive/blob/8da1442ea29adccea40693357d04727127e045ed/node/resource-qos.md#compressible-resource-guarantee

[2022-08-09 01:40] KunWuLuan opened #111753 "log in desired_state_of_world.go seems to be wrong"
### What happened?

log in pkg/kubelet/pluginmanager/cache/desired_state_of_world.go seem to be wrong
[`klog.V(2).InfoS("Plugin exists in actual state cache, timestamp will be updated", "path", socketPath)`](https://github.com/kubernetes/kubernetes/blob/aea9f9887d08922378b9e7da0e81a46e733f2995/pkg/kubelet/pluginmanager/cache/desired_state_of_world.go#L131)

It seems to be a copy-and-paste typo.
[

[2022-08-09 01:41] KunWuLuan commented on #111753
/kind documentation

[2022-08-09 01:41] KunWuLuan commented on #111753
[sig/node](https://github.com/kubernetes/kubernetes/labels/sig%2Fnode)

[2022-08-09 01:43] KunWuLuan commented on #111753
/assign @saad-ali
thanks

[2022-08-09 01:52] willzhang opened #111754 "clean taint quickly"
### What would you like to be added?

i hope clean taint quickly.

example , there have two taints in node01 which is a master nodes:

[code]

if i want this nodes able to schedule pods ,i must run two commands
[code]

The problem is the key is too long and hard to write and remember, every time i must describe nodes then copy and paste to commands, so i hope clean one or all nodes taints quickly,

[2022-08-09 01:54] pacoxu commented on #111528
It should not be a Kubernetes issue.
I am not sure. Maybe the registry or container runtime or network issues.

[2022-08-09 01:54] pacoxu commented on #111528
It should not be a Kubernetes issue.
I am not sure. Maybe the registry or container runtime or network issues.

[2022-08-09 02:03] pacoxu commented on #111754
/sig cli

[2022-08-09 02:09] pacoxu commented on #111753
/sig node
As you have already submitted the PR to fix this issue, you can comment `/assign` to assign it to yourself.

[2022-08-09 02:11] little-guy-lxr opened #111755 "pod with multiple PVC that use storage capacity tracking schedule did not get correct available capacity"
### What happened?

pod with multiple pvc , only some pvc bound, but other pvc not bound because the storage capacity is not enough.
pod and pvc use storage tracking feature to schedule.

pod example:
[code]

pvc use the same storageclass.

[code]

result:   pvc-1  bound , pvc-2 pending

### What did you expect to happen?

expect result: pvc-1 and pvc-2 should pending.

I read the kube-sceduler so

[2022-08-09 02:14] little-guy-lxr commented on #111755
/sig-storage

[2022-08-09 02:46] pacoxu commented on #111755
/sig storage

[2022-08-09 02:54] #111740 closed

[2022-08-09 02:59] h4ghhh opened #111757 "Cadvisor manager update machine info periodically, but hugepage info in node status is only updated when kubelet starts"
### What happened?

Our resource management component fails, causing hugepage information on OS taking effect after kubelet starts. When hugepage information is updated on OS, k8s node status still has "0" about hugepage resource.

### What did you expect to happen?

Hugepage information in node status can be update dynamically

### How can we reproduce it (as minimally and precisely as possible)?

[2022-08-09 03:06] h4ghhh commented on #111757
/area kubelet

[2022-08-09 03:08] h4ghhh commented on #111757
/sig node

[2022-08-09 04:08] zq-david-wang commented on #72811
Actually, The cpu request based on cgroup v1 is not "guaranteed",  k8s official doc is kind of misleading,  cpu request based on cgroup v1 would set  cpu.shares accordingly, but cpu.shares in kernel is used for calculation on each cpu core seperately, not the whole.  A pod which requests 1cpu would get way less cpu than another pod which also requests 1cpu when all cpus are fully utilized, if thos

[2022-08-09 04:46] narendramadanapalli commented on #110642
An item from the priority queue is put into the FIFO queue when the item's priority is reached i.e. item's wait period expired. The item is discarded by the FIFO queue if it is already present in the queue.

Here is the place where the item is discarded if a duplicate is present.

https://github.com/kubernetes/client-go/blob/master/util/workqueue/queue.go#L126

@MikeSpreitzer Can you please elabor

[2022-08-09 05:00] chandanD4 commented on #111695
@mdbooth  : It seems that as part of[ #107750 ](https://github.com/kubernetes/kubernetes/pull/107750) , this causing the reported failure.

Below code is skipping IPv6 or IPv4 address depending on the --node-ip argument. As we can have IPv6 and IPv4 address for the same address Type i.e. InternalIP and ExternalIP , but in the below code snippet we are filtering based on address Type and not consid

[2022-08-09 06:55] lsytj0413 commented on #109902
/remove-lifecycle stale

[2022-08-09 07:03] ch0mik commented on #111112
@aojea  yes, I know how works the NP. When i put the new  label (commonLabels via Kustomize) the NP dosnt works properly with the new  podSelector matchLabels - i think NP has invalid cast mechanism for labels value like "00000". The same new label in podSelector matchLabels for Service works fine.

[2022-08-09 07:12] aojea commented on #111112
sorry, my question is about what steps are you doing to know if the NetworkPolicy selector works correctly, do you send traffic and check if the network policy is not working?

if that is the case, the problem is not in Kubernetes, is in the CNI plugin that implements the network policy in your cluster (calico, cilium, ...)

[2022-08-09 07:43] aojea commented on #111750
ah, I see the disconnection, I wasn't understanding the issue sorry.

The Interface uses the url as parameter to keep backwards compatibility, but the method that gathers the metrics only uses the host to avoid the cardinality problem.

https://github.com/kubernetes/kubernetes/pull/106539

You have to update the method that gathers the metrics to only use the host part of the url

[2022-08-09 07:46] RinkiyaKeDad commented on #110955
https://github.com/kubernetes/test-infra/pull/26998 has been merged but the test still seems to be failing 🤔

[2022-08-09 08:00] aojea commented on #111750
it seems you override the LatencyMetrics adapter and use the path directly

https://github.com/cilium/cilium/blob/896aba311809f7dd60d50e9791ae27cf2b74a3e5/pkg/k8s/watchers/watcher.go#L92-L98

[2022-08-09 08:09] aojea commented on #111750
Filed https://github.com/cilium/cilium/pull/20835

[2022-08-09 08:19] aojea commented on #111750
@dgrisonnet should fix the code in kubernetes ?

[code]

however, that will break consumer of the Interface that still wants to process the path, but we know using the path will cause issues with cardinality :shrug:

[2022-08-09 08:24] pacoxu opened #111762 "[Failing Test] [sig-node] Pods should cap back-off at MaxContainerBackOff [Slow][NodeConformance]"
### Failure cluster [d755e6a5539654895db7](https://go.k8s.io/triage#d755e6a5539654895db7)

##### Error text:
[code]
#### Recent failures:
[2023/1/12 08:43:49 ci-cri-containerd-e2e-cos-gce-slow](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-slow/1613335885477056512)
[2023/1/12 08:05:50 ci-cri-containerd-e2e-cos-gce-ip-alias](https://prow.k8s.io/view/gs/kubernetes

[2022-08-09 08:26] pacoxu commented on #111762
The last successful run is [1551773986021445632](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cri-containerd-e2e-cos-gce-slow/1551773986021445632) on Jul 26 11:38:48.

[2022-08-09 08:27] KunWuLuan commented on #111753
thanks for the help

[2022-08-09 08:34] mdbooth commented on #111695
@chandanD4 out of curiosity, why are you using --node-ip in this case? The behaviour in 1.23 was that --node-ip was ignored when using external CCM. Can you remove it?

The behaviour you see now is consistent with the behaviour of --node-ip with the legacy cloud provider. There is one limitation, though: with the legacy cloud provider it was possible to pass 2 values in --node-ip, whereas with the

[2022-08-09 08:35] pacoxu commented on #111762
The flake is base on maxBackOffTolerance which is 1.3 * the back off time.
[code]

/kind flake
A simple way to fix the failing or flake is change 1.3 to 1.4 or even larger to give it a try.

[2022-08-09 09:13] chandanD4 commented on #111695
@mdbooth  The notion behind using --node-ip param was indicating the default stack family in case of dual stack cluster. Kubelet/node as the node IP.  As it picks by default as IPv4 if not specified ,to indicate IPv6 , we used this param.

One more observation, for a dual-stack default IPv6 deployment (k8s 1.24.2 and cloud-provider 1.24.1), if I pass "--node-ip=::" with "--cloud-provider=external"

[2022-08-09 09:23] dilyanpalauzov opened #111763 "kubelet does not unmount on shutdown the directories it has mounted."
### What happened?

I boot my computer, which is a single node Kubernetes cluster.  cri-o and kubelet have not been started yet.  There are 27 mounts (the output of `mount` is 27 lines).  I start crio, it adds one more mount.  I stop crio, that mount is removed.  I start crio again, the mount re-appears.

I start kubelet.  `mount` prints after a while 80 lines.  I stop kubelet.  No mounts are remo

[2022-08-09 09:24] dgrisonnet commented on #111750
I would be fine with adding a new `path` label to mitigate that issue since originally the cardinality explosion that was reported was caused by the query string and not the path: https://github.com/kubernetes/kubernetes/issues/106538. When trimming down the whole URL to only the host we even had a discussion to keep the path, but we decided not to since we didn't have any use case for this data.

[2022-08-09 09:26] dilyanpalauzov commented on #111763
/assign cluster-lifecycle

[2022-08-09 09:27] dilyanpalauzov commented on #111763
/sig cluster-lifecycle

[2022-08-09 09:36] chandanD4 commented on #111695
How do we indicate both families IP i.e. IPv4 and IPv6 for node ?

[2022-08-09 09:37] dgrisonnet commented on #111750
@aojea yeah we can't really do much about it, it is either we leak the unsanitized paths or we prevent the users from using the path completely. Since we want to not break the interface and keep the URL parameter, we might just have to keep sanitizing the paths for our consumers even though we are not using the path anymore.

[2022-08-09 09:50] aojea commented on #111750
IIUIC the RESTClient is used in the dynamic client-go too, for these users with 1900 CRDs, the path is really going to explode for them https://github.com/kubernetes/kubernetes/pull/111477

[2022-08-09 09:51] mdbooth commented on #111695
You were never able to do that. If it worked it was by happenstance. If the previous behaviour was working, you can get back to it by removing --node-ip.

If we wanted to implement this with --node-ip we would need to add support for a second address. However, ultimately I think we would want to add support to OpenStack CCM to order by address family. Longer term I think we want to move away from

[2022-08-09 10:01] dgrisonnet commented on #111750
Then it seems that the best option to not break users would be to revert https://github.com/kubernetes/kubernetes/commit/bebf5a608f68523fc430a44f6db26b16022dc862, but at the same time I don't really like the idea of spending CPU time sanitizing something that will never be used in the RESTClient

[2022-08-09 10:10] chandanD4 commented on #111695
Any insight on this ?  Why these pod have only one family IP address i.e. address family specified using the --node-ip param ?

Based on your explanation ,  if we skip --node-ip param , Node.status.addresses  will list both IPv4 and IPv6 addresses.  However  --node-ip used for
Make podIPs order match node IP family preference[https://github.com/kubernetes/kubernetes/pull/97979] to indicate IP

[2022-08-09 10:18] mdbooth commented on #111695
[That is indeed overloading --node-ip](https://github.com/kubernetes/kubernetes/blob/3251d4cff6b3b61155e69861df1b9aa919537841/pkg/kubelet/kubelet_pods.go#L1545-L1552) 😬

[2022-08-09 10:28] mdbooth commented on #111695
Did you forget to finish this sentence, btw? What was the behaviour you observed? It looks like this might do what you want: `::` for IPv6, `0.0.0.0` for IPv4.

[2022-08-09 10:36] aanm commented on #111750
A suggestion would be to create a new interface similar to the `LatencyMetric` that would have the following method:
[code]

Thus, those users with 1900 CRDs would use the `LatencyMetricByHost` instead of the `LatencyMetric`.

[2022-08-09 10:39] 249043822 commented on #111757
/cc @bobbypage

[2022-08-09 10:40] mdbooth commented on #111695
We should probably revisit this too. Perhaps an alternative configuration option which applies only to pod IPs, not node IPs? Or perhaps this, too, should be configured separately by the source of the sandbox IPs instead of relying on kubelet to sort it?

[2022-08-09 10:41] chandanD4 commented on #111695
But for PODs kube-apiserver-master-, kube-controller-manager- and kube-scheduler- if we describe the pods, under Status.IPs **we see only one IP, the IPv6 address of the node**. In 1.23.3 cloud-provider Status.IPs had both the IPs present.

[2022-08-09 10:43] mdbooth commented on #111695
@aojea I think the bug here is that --node-ip is overloaded for pod IPs. Thoughts?

[2022-08-09 10:47] aanm commented on #111750
@aojea after digging a little bit the underlying issue it looks that the problem was initially caused by a kubelet bug as pointed out [here](https://github.com/prometheus-operator/kube-prometheus/pull/1499#issuecomment-973117877).

The dependents of client-go don't have access to all the fields of the `Request` struct which `finalURLTemplate` uses heavily to generate the aggregated URL.

[2022-08-09 10:56] mdbooth commented on #111695
@chandanD4 Please can you confirm what --node-ip was set to in these 2 cases? Is it set to `::`, or was it set to an actual IP as in the original description?

[2022-08-09 11:02] chandanD4 commented on #111695
For k8s 1.24.2 and cloud provider openstack version : 1.24.1 , --node-ip was set to "::".
For k8s 1.24.2 and cloud provider openstack version : 1.23.3 , --node-ip was set to specific IPv6 address

[2022-08-09 11:20] mborsz commented on #105884
/remove-lifecycle rotten

We discussed this problem with golang team recently and they prepared a proposal to make it possible to manipulate per-request timeouts (so that we can set WriteDeadline on per-request basis) to avoid Write() call live longer than the request deadline: https://github.com/golang/go/issues/54136

@tkashem IIUC setting WriteDeadline for non-long-running requests to `time.Now

[2022-08-09 11:25] mdbooth commented on #111695
Based on code inspection, my expection for these 2 cases is:

CPO 1.23.3 with specific IPv6 address:
* CPO is only validating --node-ip
* Node addresses are unfiltered
* [sortPodIPs](https://github.com/kubernetes/kubernetes/blob/3251d4cff6b3b61155e69861df1b9aa919537841/pkg/kubelet/kubelet_pods.go#L1536-L1566) returns the first valid IPv6 pod IP followed by the first valid IPv4 pod IP.

CPO 1.24.1

[2022-08-09 11:28] mdbooth commented on #111695
Are you able to confirm what Node.Status.Addresses contains on a host running KCM for both cases, along with status.IPs for KCM for both cases?

[2022-08-09 11:49] ameukam commented on #109915
/remove-lifecycle stale

2/3 are still failing

[2022-08-09 12:04] chandanD4 commented on #111695
Running in host networking : True.

[2022-08-09 12:16] Ishmeet commented on #106536
any workaround ?

[2022-08-09 12:27] knelasevero commented on #91633
No worries

:+1:

Since I wanted the cpu profile at every run that I ran, I was running this command:

[code]

So I was not setting the loglevel explicitly, so I was using default loglevel. But yeah, I think first commits + v>3 are kind of the baseline for the reason that you stated.

Did I interpret the results right?

It is `more than 50% overhead in some cases` but just a few, right? Most rows

[2022-08-09 13:33] haircommander commented on #110955
still not a blocker, those two tests have been failing for a bit

[2022-08-09 13:46] alculquicondor commented on #107226
This was fixed by #110294

[2022-08-09 13:46] alculquicondor commented on #107226
/close

[2022-08-09 13:47] electropolis commented on #93019
That's not true if there is PVC created for PV and Retain is set.

[2022-08-09 14:14] easonboy opened #111766 "kueadm upgrad kubernets is no kubeadm configmap?"
apiVersion: v1
data:
  ClusterConfiguration: |
    apiServer:
      extraArgs:
        authorization-mode: Node,RBAC
      timeoutForControlPlane: 4m0s
    apiVersion: kubeadm.k8s.io/v1beta3
    certificatesDir: /etc/kubernetes/pki
    clusterName: kubernetes
    controlPlaneEndpoint: 192.168.41.100:6443
    controllerManager: {}
    dns: {}
    etcd:
      local:
        dataDir: /var/lib/etcd

[2022-08-09 14:14] #111766 closed

[2022-08-09 15:34] MikeSpreitzer commented on #110642
The issue is that because we write level-based controllers rather than edge-based ones, we never need two or more copies of an item in a queue; whenever an item gets worked on, that work will do all the processing relevant to that item (including some sort of re-adding if future processing is still desired).  If, subsequent to an item being worked on, that same items is worked on again later for s

[2022-08-09 15:39] danwinship commented on #111695
Oh, I think there's another bug here, which is that if you specify `--node-ip`, then kubelet will annotate the node with `alpha.kubernetes.io/provided-node-ip`, but if you _don't_ specify `--node-ip` (or specify `::` or `0.0.0.0`) then kubelet _doesn't_ remove any existing annotation.

Which means, @chandanD4, I think if you manually remove the `alpha.kubernetes.io/provided-node-ip` annotation fro

[2022-08-09 15:40] gjkim42 commented on #111763
I think if kubelet unmounts all mount points of running pods every time it stops(restarts), kubelet will be our single point of failure, which is undesirable.

[2022-08-09 15:44] mkulke opened #111767 "Expose image digest in pull image event"
### What would you like to be added?

Extend the event message with the concrete image digest in a kubelet's successful pull event: `Successfully pulled image "nginx@sha256:df13abe416e37eb3db4722840dd479b00ba193ac6606e7902331dcea50f4f1f2" as "nginx:1.19" in 2.5610178s` if a container's image was not specified using a digest.

### Why is this needed?

# Problem Statement

When a pod is created and

[2022-08-09 15:44] danwinship commented on #111695
The first point is wrong; kubelet doesn't set the annotation if the passed-in IP is unspecified/generic. (It has to do this for backward compatibility reasons: a 1.23 or earlier cloud provider would fail if you passed it `::` or `0.0.0.0` as the node IP, since that doesn't _literally_ match an existing node IP.) So if you pass `--node-ip ::` or `--node-ip 0.0.0.0`, then the cloud-provider will thi

[2022-08-09 15:50] mdbooth commented on #111695
@danwinship Do we want to:
* Update kubelet to remove the annotation if --node-ip is not set
* Create a new annotation which allows both multiple node IPs and generic node IPs (and doesn't have Alpha in the name)

[2022-08-09 16:02] alculquicondor commented on #91633
Probably `BenchmarkPerfScheduling/SchedulingBasic/5000Nodes` can be used as the primary reference. Can you run this benchmark without any changes to see the actual baseline?

[2022-08-09 16:44] claudiubelu commented on #107114
PS: containers do not have any excluded port ranges:

[code]

So, I think that we only have to update the dynamic port ranges on the hosts.

[2022-08-09 17:29] dilyanpalauzov commented on #111763
The current behaviour leaks resources.  How can I tell kubelet to unmount anything it had mounted, before it is explicitly shut down?

[2022-08-09 17:34] alexzielenski opened #111769 "CEL cost budgeting inconsistent rejections"
### What happened?

I attempted to apply the following CRDs to kubernetes local cluster running from rev 759785ea147bc13945d521eaba4a6592cbc0675f

<details>
<summary>stable.example.com_mapimmutablekeys.yaml</summary>

[code]
</details>

<details>
<summary>stable.example.com_mapappendonlykeys.yaml</summary>

[code]
</details>

Applying the CRDs:

[code]

Diff of two CRDs for convenience (red is non

[2022-08-09 17:53] alexzielenski commented on #111769
`self.size() == self.size()` is also rejected

but after I removed `oldSelf.size() == self.size()` condition from the broken CRD, kubernetes permitted me to create it. So that's likely a good place to start looking

[2022-08-09 18:58] knelasevero commented on #91633
@alculquicondor I ran another perf test from current master branch. added columns between `01b8046c58e - WithName WithValues` and `32596ed3ef9 - only v>3` in the spreadsheet. It is tagged `master branch` there.

Some results are still exploding, I guess when something hangs. How were perf tests ran before in the past to grantee sensible results? I guess using a standard empty cloud VM would be bet

[2022-08-09 18:59] cjcullen commented on #103675
Getting closed out by the triage bot is a kinda unceremonious death, but this issue should have been closed a while back with the work done to remove Endpoint & EndpointSlice permissions from the default roles, and docs changes to highlight the risk.

[2022-08-09 19:02] jayson commented on #92460
Running into this on Kubernetes 1.19.11. etcd cluster is healthy.

[2022-08-09 19:08] alculquicondor commented on #110726
/close
this is fixed

[2022-08-09 19:09] #110726 closed

[2022-08-09 19:09] alculquicondor commented on #63554
Is this the same as #110643?

[2022-08-09 19:10] alculquicondor commented on #110643
@sanposhiho do you have time to work on this in 1.26?

[2022-08-09 19:18] jayson commented on #92460
/remove-lifecycle rotten

[2022-08-09 19:21] alculquicondor commented on #91633
FTR, the most important metric is `scheduler_scheduling_attempt_duration_seconds`, which doesn't seem to be affected by too much. I think we can proceed with caution and be ready to revert if our CI performance dashboard shows a significant regression.

http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes&metriccategoryname=Scheduler&metricname=SchedulingLatency&Operation=scheduling&TestName=load

[2022-08-09 20:01] danksim commented on #81905
how can `container_memory_usage_bytes` be 26GiB and `container_memory_working_set_bytes`/`kubectl top pod` be 1386Mi? I am confused since the only difference would be cached files. Thoughts? @langecode @achilles42

[2022-08-09 20:20] #111518 closed

[2022-08-09 20:23] fedebongio commented on #111604
/cc @MikeSpreitzer @leilajal

We discussed this one in the triage meeting, looks like people has opinions on the area. Maybe try to discuss here, and eventually bring it to the next SIG meeting?

[2022-08-09 20:26] fedebongio commented on #111605
Similar context to https://github.com/kubernetes/kubernetes/issues/111604

/cc @MikeSpreitzer @deads2k

@ncdc if we don't get a lot of traction on GH, I suggest bringing it to the meeting. Thank you for volunteering to work on this!

[2022-08-09 20:27] ncdc commented on #111605
@fedebongio 👍 I already have this implemented on my laptop (needed it for something else) & would love to contribute it back

[2022-08-09 20:27] fedebongio commented on #111703
/assign @apelisse @Jefftree
/triage accepted

[2022-08-09 20:28] fedebongio commented on #111710
/cc @leilajal @apelisse @Jefftree
/triage accepted

[2022-08-09 20:29] fedebongio commented on #111725
/assign @leilajal @seans3
/triage accepted

[2022-08-09 22:20] faisal-memon commented on #110988
Just want to check in to see if you had any thoughts on this one? Is there a reason why the container id can only be populated after the Pod is in Ready state?

[2022-08-09 22:42] jpbetz commented on #111769
Looks like there the case where this happens is fairly specific. When a function that returns a single scalar result (e.g. `size()`) is the argument to a function where the cost depends on the sizes of the argument (e.g. `equals()`/`==`) the size is [miscalculated as MaxInt](https://github.com/google/cel-go/blob/25bb4c6da1759f0104ce8ee935431d32b71977b6/checker/cost.go#L479) and so the resulting co

[2022-08-09 23:04] tabbysable commented on #111516
I'm +1 for removal; if it was fully-functional according to its name (prohibit all pods that specify a non-default SecurityContext) it would be impossible to run a modern cluster with it (e.g. CNI daemonsets would be blocked). The fact that it is only partially functional is even more reason to remove it.

[2022-08-09 23:22] shuheiktgw commented on #107530
/remove-lifecycle rotten

[2022-08-09 23:29] gjkim42 commented on #111763
I think you can drain all pods in the target node including daemonset pods and then stop kubelet and container runtime.
'''
kubectl drain TARGETNODE
,,,

After that, if there are spurious mount points exist, we can say there is the resource leak problem.

[2022-08-09 23:39] alexzielenski commented on #106846
@anjmao Took at look at your proposal and like your approach in general. Few comments:

1. Not quite sure what is the Go generics limitation that cause you to split the interfaces across HTTP Verbs as you've done. In my brief experiments using go1.19rc2 the following was accepted:

[code]

2. I think `ObjectOperator` is a confusing name for this. Personally I like `API` so that the interface to us

[2022-08-10 00:59] DangerOnTheRanger commented on #111769
Should be fixed by https://github.com/google/cel-go/pull/571.

[2022-08-10 01:53] thesuperzapper commented on #107598
After working on this problem for a while, I think there is a better way to implement selective down-scaling than what I proposed in [KEP-3189](https://github.com/kubernetes/enhancements/issues/3189).

We already have the special `/apis/apps/v1/namespaces/{namespace}/deployments/{name}/scale` API that allows autoscalers (like HPA) to get/patch the "replica count" and "label-selector" in a resource

[2022-08-10 02:16] sanposhiho commented on #110643
Yes, I'm gonna take time to work on this (+ #107556) in the next release.
Let me try.
/assign

[2022-08-10 02:23] tareqhs commented on #106846
We should keep in mind that the client API is not uniform across resource types. For example the client of `TokenRequest` should expose a single API method - `Create`. Probably we will need a separate interface for each API call (or set of API calls) and a single convenient interface that embeds all of them, all in the library:
[code]
This also means that a preferred client interface should be gen

[2022-08-10 02:27] pacoxu commented on #111704
But `--serialize-image-pulls=false` means that kubelet can pull multi images at the same time.
For kubelet, `--serialize-image-pulls` is by default true. https://github.com/kubernetes/kubernetes/issues/108405 is for promoting the use of parallel image pulls.

The problem maybe with `--serialize-image-pulls=true`.

I did some simple test with 3 ubuntu images as below. The time was collected from ev

[2022-08-10 02:48] mikemorris commented on #55801
Has this ever been reconsidered as a feature request? With more APIs starting to live outside Kubernetes core, it would be particularly useful for updates such as the Gateway API resources [which recently graduated to v1beta1](https://kubernetes.io/blog/2022/07/13/gateway-api-graduates-to-beta/).

[2022-08-10 02:50] pacoxu commented on #111259
https://github.com/kubernetes/kubernetes/issues/111704 inspired that the pulling time of images were already included in the image pulled event like
[code]

[2022-08-10 03:54] mk46 commented on #108346
/remove-lifecycle stale

[2022-08-10 04:03] kerthcet commented on #107464
We can close this now since it's resolved by https://github.com/kubernetes/enhancements/issues/3094, reopen if needed.
/close

[2022-08-10 04:04] #107464 closed

[2022-08-10 04:08] unmarshall commented on #109364
/remove-lifecycle rotten

[2022-08-10 04:23] thesuperzapper commented on #45509
Hey all watching! After thinking more about how we can make `pod-deletion-cost` GA, I believe I have an idea that will address most of the annotation-related concerns of the current implementation (while still maintaining backward compatibility with annotations, if they are present).

I still need to write up a full proposal and KEP, but my initial thoughts can be found at:
- https://github.com/ku

[2022-08-10 04:32] lixiaoyuner opened #111774 "Specifing --client-ca-file for apiserver does't work"
### What happened?

I want to add an extra CA to APIserver for authentication. So, I copy /etc/kubernetes/pki/ca.crt to /etc/kubernetes/pki/mul_ca.crt and add an extra CA to the mul_ca.crt file and change apiserver yaml file to specify --client-ca-file to /etc/kubernetes/pki/mul_ca.crt and use the extra CA and its key to generate a kubeconfig which has admin permission (means I specify the cert Or

[2022-08-10 04:46] jhughes2112 commented on #98319
Hullo folks.  As far as I can tell, `configMapRef` simply does not work to introduce env variables into a container.  Maybe it works in a more limited context (such as during the parsing of the YAML or something?) but it absolutely does not show up inside my alpine image.  I switched from explicitly declaring a bunch of env keys and pulling them in using `configMapKeyRef` to trying to pull in the

[2022-08-10 05:09] chandanD4 commented on #111695
Node.Status.Address has both IPv4 and IPv6 IP addresses.

[2022-08-10 06:14] llaoj opened #111776 "Why are all pods on this node restarted?"
### What happened?

First of all, this problem has been going on for a long time. I have analyzed some conclusions, but still can't find the root cause.
For a while, we had a collective restart of pods on many kubernetes nodes that powered by containerd as the runtime.
We didn't know why, so we took the nodes offline and started looking for the reason.
After a period of analysis, we found that:

#

[2022-08-10 06:26] llaoj commented on #111776
- /sig Node

[2022-08-10 06:38] llaoj commented on #111776
/sig node

[2022-08-10 06:43] dilyanpalauzov commented on #111763
I call
[code]
`mount` prints 49 lines, I expect 27 lines.

[2022-08-10 07:05] dilyanpalauzov commented on #111763
[code]
Now `mount` prints 44 lines, expected is 27.  But etcd seems to be still runnings, as
[code]

[2022-08-10 07:13] b0b0haha commented on #82149
I'am confiused about that why the disruption controller  and evict handler can update the pdb status concurrently?
It seems when the  disruption controller notice the pdb's update from the evict handler , it calls trySync() to  update the pdb's PodDisruptionsAllowed again,
The original code below:
[code]
but the pdb's status has been updated by evict handler, why the evict handler can vilolate the

[2022-08-10 07:23] ddelange commented on #107598
Do I understand correctly that in the end, an end-user could set up a HPA with something like a 'scale down most idle' behaviour, and HPA would set (instead of annotations) the appropriate pod deletion costs in the Scale spec? Would that be based on current CPU usages from the metrics server, and injected just before the scale down occurs?

[2022-08-10 07:37] xiaoping8385 opened #111777 "kubelet returns diffirent fs metrics for docker and containerd"
### What happened?

I try to obtain the metrics from kubectl get --raw "/api/v1/nodes/node_name/proxy/metrics/cadvisor" in k8s 1.24.1 env +containerd
and found some of the container fs related metrics are missing, take container_fs_io_time_seconds_total for eg, in docker env, I could get below result
[code]
but in containrd env, while others are all the same, we get
[code]

### What did you expect

[2022-08-10 07:42] Davidrjx commented on #39170
in kubernetes 1.13.5, seems not ok in case where  terminationGracePeriodSeconds: 30 and prestop hook: sleep 10

[2022-08-10 08:16] chaohan1 opened #111778 "Statefulset never create pod when one of replica pod create failed"
### What happened?

In our k8s cluster，I create a statefulset named test-sts with replicas=3 and podManagementPolicy=Parallel. The statefulset create replica test-sts-1 failed if the pod test-sts-1 has already exists，then the statefulset never create replica test-sts-2, and never update statefulset status。

In the issue 109694, it fixed statefulset update status when replica pod create failed.
[ro

[2022-08-10 08:47] vaibhav2107 commented on #111777
/sig node

[2022-08-10 09:03] Aniket211 opened #111779 "GracefulNodeShutdown Not Working as expected."
### What happened?

Enabled `GracefulNodeShutdown` on a K8s v1.20 cluster through the feature gate and added the parameters in the kubelet configuration.
[code]
The `systemd-inhibitor` was enabled on the node.
[code]
But the node died immediately after being powered down and did not wait for pods to get terminated gracefully.

### What did you expect to happen?

With `GracefulNodeShutdown` enabled

[2022-08-10 09:49] ch0mik commented on #111112
Ok, i Check it on another CNI. The my CNI is the NCP (VMWare)

[2022-08-10 10:10] h-vetinari commented on #104325
/remove-lifecycle stale

[2022-08-10 10:36] squakez opened #111781 "Default `.spec.replicas` value for HorizontalPodAutoscaler"
When applying a HorizontalPodAutoscaler on a resource which has a missing `.spec.replicas` value (which may be the default state for any given custom resource), it fails with something like:
[code]
The immediate workaround is to set `.spec.replicas` to 1 but I wonder if we could instead interpret the missing field with the default value of 1 or instead looking at `.status.replicas` which may hold

[2022-08-10 10:37] squakez commented on #111781
/sig autoscaling

[2022-08-10 11:06] ish-xyz commented on #106957
Using unix:///run/crio/crio.sock doesn't solve the problem on my environment, we're still seeing the same error logs.
We're running:
Flatcar 3033.2.4
Kubelet 1.22.4
CRI-O 1.22.5
cgroup v2 enabled.

[code]

[2022-08-10 12:19] arrowfeng commented on #111709
Yes, there may be some unpredictable results after the fallback, so just failing to start is better when the node does not support this proxy mode.

[2022-08-10 12:42] marcelvwe commented on #109780
@daschott I agree this is covers the same issue as described in #106636

The workaround steps do indeed work for me as well. We worked around the issue by adding rewrite rules to our CoreDNS config (our implementation of your first workaround), but it is very error-prone and cumbersome to manage.

The other workaround we are implementing is to minimize the use of Windows containers where we can.

[2022-08-10 13:15] liggitt commented on #109799
This needs to be done now that master is on 1.26 until 1.25.0 is cut, since verify jobs are failing on removal of 1.26 deprecated APIs

/priority critical-urgent

[2022-08-10 13:39] arrowfeng commented on #111719
You want to know why the container stopped If I understand correctly? I think you can query the current pod's events and then do something you want in custom.

[2022-08-10 13:56] gjkim42 commented on #111763
I think it is a [static pod](https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/).

So... to delete all pods in the single node cluster
1. drain the nodes
2. delete all daemonset pods
3. stop the kubelet
4. delete static pods (crictl rmp REMAINING PODS)
5. stop the container runtime

I think you can use kubeadm or other tools would be better.
Which tool did you use to create this

[2022-08-10 13:57] kopiczko commented on #106589
Is upgrade to newer etcd version tracked somewhere? According to [this](https://github.com/etcd-io/etcd/tree/main/CHANGELOG) 3.5.1 is not production-grade due to data corruption.

[2022-08-10 13:59] pacoxu commented on #106589
In v1.25, https://github.com/kubernetes/kubernetes/pull/110033 already uses 3.5.4. And cherry-pick to v1.24-v1.22 are opened for reviewing.

[2022-08-10 14:22] KlausGrosser commented on #75592
/reopen

[2022-08-10 14:38] dilyanpalauzov commented on #111763
I set the cluster with `kubeadm init --config kubeadm.config`
<details>
<summary>kubeadm.config</summary>

[code]
</details>

etcd is indeed a static node.

I have a one node cluster.

From the above steps, I switch the first two: first I delete all daemonsets, then I drain the nodes.
[code]
Now I compare the output of `mount` before I set up the server and after I destroyed it.  The difference is

[2022-08-10 14:52] #109799 closed

[2022-08-10 15:36] gjkim42 commented on #111763
Maybe i think kubeadm reset can do the same thing.

I have no idea what that difference means.

[2022-08-10 16:54] apelisse commented on #111710
Agree, that looks like a bug.

[2022-08-10 17:00] vaibhav2107 commented on #111779
/sig node

[2022-08-10 17:07] apelisse commented on #111710
Though, as far as I can see, ComponentStatus is deprecated since 1.19 so I don't know if we'll want to fix bugs for this right now.

[2022-08-10 17:20] jpbetz commented on #99953
/remove-lifecycle stale

[2022-08-10 17:29] ender-wieczorek opened #111788 "Fail pod with invalid image"
When you specify an invalid image like `dummy`, Kubernetes keeps trying to start the pod forever. We should fail immediately and have the Job or Deployment retry policy handle retries.

[2022-08-10 17:58] leilajal commented on #111604
/cc @alexzielenski

[2022-08-10 18:04] dilyanpalauzov commented on #111763
I am closing this case.  Resources are not leaked and the current behaviour of kubelet and crio does make sense.

[2022-08-10 18:04] #111763 closed

[2022-08-10 19:02] MikeSpreitzer opened #111790 "Informer log messages only identify by object type"
### What happened?

Sometimes I make a process with multiple informers working on the same object type.  Sometimes with different content filters, sometimes working against different apiservers.  But an informer uses a reflector internally, and it has debug log messages that are sometimes critical to debugging, but they do not distinguish among reflectors for the same type of object.

### What did

[2022-08-10 19:35] iyashu commented on #105617
/reopen
/remove-lifecycle rotten

[2022-08-10 19:39] alaypatel07 opened #111791 "pod creations are missing validation on spec.topologySpreadConstraints[*].labelSelector"
### What happened?

When a pod is created with invalid topologySpreadConstraints, it is not rejected by the validating webhook, but the same label selector is rejected during deployment creation
[code]

### What did you expect to happen?

Expected the pod to be rejected with an error similar to deployment

### How can we reproduce it (as minimally and precisely as possible)?

Create a pod with abo

[2022-08-10 21:11] enj commented on #104165
/unassign @ankeesler
/assign @ritazh
cc @aramase

Rita wanted something difficult to work on 😄

See #104662 and the other comments I have made in this issue.

[2022-08-10 21:12] Huang-Wei commented on #108903
@matthewygf I will bring it to the next sig meeting. You're welcome to join, it's this [Thursday](https://docs.google.com/document/d/13mwye7nvrmV11q9_Eg77z-1w3X7Q1GTbslpml4J7F3A/edit#) 10:00 AM PST.

[2022-08-10 21:16] Porges commented on #109839
/remove-lifecycle stale

[2022-08-11 00:44] 0Ams commented on #37932
Hi, I am facing something similar to all the previous comments.

my service is composed of a frontend and a backend.
the frontend service http with service name as parameter.

[code]

even if I try many times, I get a similarly high value for a specific IP address(10.xx.81.10).
"kube-proxy" uses iptable, and each server has a similar performance, and the same occurs without the impact of other ser

[2022-08-11 01:19] MikeSpreitzer commented on #111790
@kubernetes/sig-api-machinery-misc

[2022-08-11 02:05] jackin853 opened #111793 "The non-affinity setting of deploying multiple replicas pods does not work, when a pod restarts abnormally"
### What happened?

My kubernetes cluster has three nodes, I normally start a deployment, it has three replicas, I set podAntiAffinity, so that the three pods will be evenly distributed on different nodes when the conditions are met.
The current problem is that when an internal exception occurs in a pod (or kubectl delete pod is manually executed), and then the pod is restarted, there is often no

[2022-08-11 02:43] niulechuan commented on #111755
Yes, we should consider calculating PVCs in one workload overall. presume and provision as a whole. We should treat those PVCs as one consistent group(presume those PVCs provisioned by the same vendor).

FYI, this KEP(https://github.com/kubernetes/enhancements/pull/1551) is still open to communication.

[2022-08-11 03:02] lojies opened #111794 "kubectl rollout undo print a resume command without a namespace"
### What happened?

when i rollout undo a pause deployment, it prints a command without namespace. Then i copy and run, it failed with a not found error.
[code]

### What did you expect to happen?

it should print a command that can be run correctly.

### How can we reproduce it (as minimally and precisely as possible)?

kubectl rollout pause a deployment, then kubectl rollout undo it.
copy the co

[2022-08-11 03:13] lojies commented on #111794
/sig cli

[2022-08-11 05:37] painsAgains commented on #111710
Thanks for your reply,I will try to update my version

发自我的iPhone

------------------ Original ------------------
From: Antoine Pelisse ***@***.***&gt;
Date: Thu,Aug 11,2022 1:08 AM
To: kubernetes/kubernetes ***@***.***&gt;
Cc: painsAgains ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [kubernetes/kubernetes] API resonse error (Issue #111710)

Though, as far as I can see, ComponentStatus is

[2022-08-11 06:13] #104984 closed

[2022-08-11 07:05] donghuarui commented on #40865
so,how do you solve this problem?

[2022-08-11 08:09] akunszt opened #111796 "Kubelet removes pause container to free up disk space"
### What happened?

The Kubelet garbage collector mechanism started on one of our nodes and it choose to remove the `pause` container even if it was in use by pods already running on the node.

[code]

We use a solution to preload some infrastructural containers and because of that those images couldn't be able to fetch by kubelet during runtime. This rendered that whole node is unusable and cause

[2022-08-11 09:10] vaibhav2107 commented on #111796
/sig node

[2022-08-11 09:16] #97355 closed

[2022-08-11 09:53] yordan-olave-mck commented on #60140
my two cents: use `--retries=-1` for infinite retrying

[2022-08-11 09:54] mayask commented on #40865
Yeah, I threw this k8s crap out of the window

[2022-08-11 09:56] yolave commented on #60140
my two cents: use `--retries=-1` for infinite retrying

[2022-08-11 10:22] humblec opened #111799 "RWO access mode should be enforced for non-attachable volumes"
### What happened?

Since start , RWO volumes are  treated as Single NODE  attachment which is documented here :
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes. The a/d controller in k-c-m prevent the attachment of RWO volumes to multiple nodes. however considering its not really enforcing single access to the volume, we have introduced RWOP access mode which supposed

[2022-08-11 10:33] humblec commented on #111799
/sig storage
/triage accepted

[2022-08-11 10:39] humblec commented on #111799
Cc @chrishenzie @jsafrane @msau42 @xing-yang  @saad-ali

[2022-08-11 12:10] jayunit100 commented on #109399
Am ok closing this if nobody is working on it.

I feel like this should be reproducible w sonobuoy or ginkgo e2es  however in order to have maximum community accessibility

[2022-08-11 12:33] jsafrane commented on #111799
this has been briefly discussed in ReadWriteOncePod implementation PR: https://github.com/kubernetes/kubernetes/pull/102028#issuecomment-870091157

[2022-08-11 12:35] jsafrane commented on #111799
Not exactly, RWO enforcement in A/D controller was alway only for attachable volumes, it never worked for non-attachable ones. For example, it was always possible to use in-tree NFS volume with RWO AccessMode on multiple nodes.

[2022-08-11 12:36] jsafrane commented on #111799
cc @chrishenzie

[2022-08-11 13:27] maaoBit commented on #111791
/assign

[2022-08-11 14:05] Michael-Sinz commented on #93474
What is the progress on this?

[2022-08-11 15:08] MikeSpreitzer commented on #111604
Here is another log message that only mentions "unstructured":

[code]

[2022-08-11 15:10] MikeSpreitzer commented on #111605
@ncdc : can you please share what you have in some way?

[2022-08-11 15:16] ncdc commented on #111605
@MikeSpreitzer yes, let me prep a branch

[2022-08-11 15:51] ilyesAj commented on #104935
we're having the issue on 1.20.
[code]
![image](https://user-images.githubusercontent.com/34598860/184175780-10696647-e807-4808-95a9-8c93438e036a.png)

[2022-08-11 15:52] ilyesAj commented on #104935
/reopen

[2022-08-11 16:23] jingxu97 commented on #110956
We discussed this issue in sig-node meeting this week. The reason we no longer enforce limit/request setting for pod if resource quota is present in the namespace is it will cause "best effort" pod fail to schedule in this case. For pods that have no limit/request setting is categorized as "best effort".  The main purpose of resource quota is to guarantee resource reservation for the pods having t

[2022-08-11 16:37] dgrisonnet commented on #111750
/triage accepted
/assign @logicalhan

[2022-08-11 16:39] dgrisonnet commented on #111738
/triage accepted
/assign @logicalhan @dashpole

[2022-08-11 16:40] leilajal commented on #111790
/cc @alexzielenski
/triage accepted

[2022-08-11 16:43] dgrisonnet commented on #111713
/triage accepted
/assign

[2022-08-11 16:43] leilajal commented on #111745
@pacoxu are you going to work on this? thanks
/triage accepted

[2022-08-11 16:44] leilajal commented on #111605
/triage accepted

[2022-08-11 16:44] logicalhan commented on #111605
The cardinality will increase drastically as a result of this though, that's something you may want to benchmark against before 'fixing' this.

[2022-08-11 16:44] logicalhan commented on #111605
/assign @logicalhan

[2022-08-11 16:44] leilajal commented on #111604
/triage accepted

[2022-08-11 16:45] apelisse commented on #108768
I think there's a misunderstanding.

There is an absolute key rule here though, it's that kubectl will *NEVER* apply the defaults.

A field can not both have a default and be required, that makes no sense. You can't say that a field MUST be present, but if it's not present it will be given a default value, that's impossible. I'm going to give https://github.com/kubernetes-sigs/cluster-api/issues/6

[2022-08-11 16:45] dgrisonnet commented on #111621
/triage accepted
/assign @dashpole @bobbypage

[2022-08-11 16:48] dashpole commented on #111738
This may be a container runtime issue.  Can you try `crictl stats` from the node when the issue is happening?  That will let us know how long those calls are taking.  You may also be able to look at metrics from the the kubelet's /metrics endpoint to see the latency of CRI requests by operation

[2022-08-11 16:53] ncdc commented on #111605
Cardinality in what respect?

[2022-08-11 16:56] logicalhan commented on #111605
Metric cardinality is a tensor of label values. If you go from `unstructured` to `actualnameofCRD`, you end up having many many more metrics which can (and has) hit us in the past.

[2022-08-11 16:56] ncdc commented on #111605
Ok, just making sure that's what you meant, thanks.

Maybe we should split this into 1 issue for logging, 1 issue for metrics?

[2022-08-11 16:56] logicalhan commented on #111605
Which metrics are affected by this change?

[2022-08-11 16:56] marosset commented on #109444
Issue has been resolved with a private drop of cloudbase-init.
We'll keep this open until those changes are releases officially.

[2022-08-11 16:57] logicalhan commented on #111605
Yeah, logs is definitely safer..

[2022-08-11 16:57] ncdc commented on #111605
I'll need to identify the full list. Here is a specific one that I captured with my change:

[code]

[2022-08-11 16:58] logicalhan commented on #111605
This is actually probably not that bad, if it only has resource as the label. It's when there are many more labels that this explosively becomes a problem.

[2022-08-11 16:59] ncdc commented on #111605
These are the unique metric types that have `watch` in their name (not all are necessarily watch cache related):
[code]

[2022-08-11 17:00] marosset commented on #107290
/remove-lifecycle rotten
We've been waiting for some WIndows OS fixes which were broadly released on Aug 8th.
These OS patches should get picked up with the set of images in CAPZ.

[2022-08-11 17:01] ncdc commented on #111605
I only see Unstructured in the following watch metrics:
- apiserver_watch_cache_events_dispatched_total
- apiserver_watch_cache_watch_cache_initializations_total
- watch_cache_capacity

[2022-08-11 17:02] ncdc commented on #111605
`apiserver_watch_events_sizes_*` appears to already account for CRD names correctly, rather than aggregating as Unstructured

[2022-08-11 17:05] marosset commented on #107114
@daschott @mikezappa87 as FYI
@jsturtevant - WDYT about updating the port-ranges to `34000-65535` as mentioned about?
https://github.com/kubernetes-sigs/image-builder/blob/3a2e968864d7c297b5bc0979f9c3f1224ccdc08b/images/capi/ansible/windows/roles/systemprep/tasks/main.yml#L136-L137

[2022-08-11 17:27] mohag commented on #53201
/remove-lifecycle rotten

[2022-08-11 17:28] MikeZappa87 commented on #107114
@marosset

Regarding port 65330 does the link below impact the listed suggestion above?

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#what-protocols-can-i-use-within-vnets

[2022-08-11 17:34] marosset commented on #107114
Yes! I was looking for that port.
Perhaps we should update the dynamic to be `34000-65300`?

[2022-08-11 17:36] MikeZappa87 commented on #107114
That would work, I wish we could do a comma separated list since we can't use ports above 65301 :-/

[2022-08-11 17:40] marosset commented on #107114
OK, let me open a PR into image-builder to update this.

[2022-08-11 17:43] chrishenzie commented on #111799
From my understanding, we're asking if we can enforce this for non-attachable volumes? e.g. during volume mount we'd need to detect this was already mounted on another node?

[2022-08-11 18:05] BenTheElder commented on #111796
there's a (deprecated) flag for informing kubelet what the pod container infra image is specifically, though unfortunately at this time kubelet lacks a more general way to instruct it to never GC images.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#deprecation
https://github.com/kubernetes/kubernetes/pull/108045#issuecomment-1212311068

[2022-08-11 18:06] BenTheElder commented on #111796
It looks like your config does not set pod-infra-image, if you set this flag kubelet will not delete that image.
/kind support
/remove-kind bug

[2022-08-11 18:08] BenTheElder commented on #111788
FWIW this isn't an invalid image name, it's normalized to `docker.io/library/dummy:latest` in the same way docker would.

Kubernetes has no way to know if an image isn't pull-able transiently or if the image name is "bad" somehow and would never be pullable, this image could exist.

Because above, I don't think we can do that.

/sig node

[2022-08-11 18:09] michael-db commented on #87724
/remove-lifecycle rotten

[2022-08-11 18:13] Huang-Wei commented on #91633
The only concern is whether we generate enough volume of contextual logging calls. Can we get some data on that? like grep the contextual logging string in the benchmark test log.

[2022-08-11 18:35] BenTheElder commented on #111737
For what it's worth: docker will also refuse to run a container with duplicate mount points:
[code]

I don't think discarding one of the mounts is a good idea, this is either an unintended or impossible configuration.

[2022-08-11 20:01] ncdc commented on #111605
@MikeSpreitzer see https://github.com/kubernetes/kubernetes/pull/111807

[2022-08-11 20:51] robscott commented on #99824
Some more recent discussion on https://github.com/kubernetes-sigs/gateway-api/issues/567

[2022-08-11 21:06] zt185019 commented on #104935
shut up robot :) :)
/reopen

[2022-08-12 00:01] thesuperzapper commented on #107598
@ddelange With the extension to the `/scale` API proposed in https://github.com/kubernetes/kubernetes/issues/107598#issuecomment-1210060884, any autoscaler (not just HPA) will be able to influence which Pods are removed during a downscale.

There would need to be a separate discussion (and probably sperate KEP) about what new options could be added to HPA that make use of the new `/scale` features

[2022-08-12 00:39] pacoxu commented on #111745
/assign
I opened https://github.com/kubernetes/kubernetes/pull/111712 to fix it.

[2022-08-12 01:59] ksankeerth commented on #78645
Hey,
Observed the same issue.
[code]
I did some research and found that the API server can functions as proxy for any service/pods running in the cluster.

Starting proxy :
`kubectl proxy `

API server can proxy Web socket connections too. For the Web-socket, there will connection Upgrade Request will be sent.  The request will go through in the following direction. If the backend (K8s service/pod

[2022-08-12 05:04] gilbahat commented on #111737
Thank you for this, because this allows me to highlight also how the complexity of k8s related tooling (helm templating and admission control) makes this more of a problem than docker.

What negative impact would you see in aggregating the mounts?

[2022-08-12 06:35] sfeng1996 opened #111812 "Unable to view the pod log with status completed"
### What happened?

Create a pod with a job. When the job is completed, some pods can view the log, but some cannot

info:
[code]

7ae8fd58-e577-48a0-b12a-61402b900c4f-test-fengsun5-2hwsw   unable to view log
[code]

7ae8fd58-e577-48a0-b12a-61402b900c4f-custom-mysql-1-j5gcd can see the log
[code]

### What did you expect to happen?

I think the completed pod has not been deleted， should be able to

[2022-08-12 06:49] BenTheElder commented on #111737
FWIW: helm is not part of the Kubernetes project, and standard admission controllers shouldn't be adding duplicate mounts (?) ... Maybe EKS has a custom one?

I _personally_ don't recommend templating for config management over patching like kustomize etc. or perhaps programmatically manipulating the API types in your preferred language.

I'm not sure what you mean by "aggregate"?

Only one thing

[2022-08-12 06:49] sfeng1996 commented on #111812
/sig Usability

[2022-08-12 07:18] maartenjanvangool opened #111813 "Removed resource is listed as a supported resource"
### What happened?

We're in the process of upgrading from Kubernetes 1.21 to 1.22 on a GKE standard cluster. We're on standard release channel, so normally these upgrades should go automatically. However, GKE was warning us we were still using deprecated api's, which are about to be removed. So what we did was upgrade the components on our cluster doing that, hoping it would resolve the issue. Un

[2022-08-12 07:26] yangjunmyfm192085 commented on #111738
@dashpole, thanks for reminding
yeah, I think you are right, after I execute the following command `kubectl scale --replicas=2 deployment/busybox-deployment` when executing crictl stats again, it is also stuck, cost about 30s.
![image](https://user-images.githubusercontent.com/69306452/184303482-26adb2bc-8b50-45f8-818d-bc4a8745ee50.png)

It is found that when the pod is deleted, the stuck time of

[2022-08-12 07:33] IBMRob opened #111814 "spec.containers[0].resources.limits.cpu = 0 is not unlimited"
### What happened?

I tried to create a pod with only requests specified.

spec.containers[0].resources.limits.cpu = 0
spec.containers[0].resources.limits.memory = 0
spec.containers[0].resources.requests.cpu = 1
spec.containers[0].resources.requests.memory = 100Mi

This fails to deploy with the error "Error "Invalid value: "1": must be less than or equal to cpu limit" for field "spec.template.spec

[2022-08-12 07:46] BenTheElder commented on #111814
I don't think that's right.

The default is to not have the limits field set at all, not to have CPU set to 0, CPU limit isn't a fixed struct field.

The type for resource request + limits is here:
https://github.com/kubernetes/kubernetes/blob/7b1b8012954bad71b4383efeca2ad256fbd27bf7/staging/src/k8s.io/api/core/v1/types.go#L2285

[2022-08-12 07:58] IBMRob commented on #111814
They do appear to be empty when debugging the struct

<img width="390" alt="image" src="https://user-images.githubusercontent.com/2182970/184310758-863f64f3-6533-4916-8efb-2f3314c6f78c.png">

vs the requests where we have set them

<img width="412" alt="image" src="https://user-images.githubusercontent.com/2182970/184310840-f205170a-83ed-42f3-a836-97825cfb112b.png">

but when we deploy that resour

[2022-08-12 08:14] BenTheElder commented on #111814
Can you share more about what struct it is you’re using and how you’re setting and reading them?

they shouldn’t be present, you can set requests without limits. Is there a limit range? https://kubernetes.io/docs/concepts/policy/limit-range/

[2022-08-12 08:30] IBMRob commented on #111814
We're using this in our struct.

[code]

[2022-08-12 08:31] fruttasecca commented on #93488
We (Orchest) are also affected by the issue, some kind of pagination or filtering would help. Ideally, we would love to be able to see all images on the node without hacks.

[2022-08-12 08:39] yangjunmyfm192085 commented on #111757
/sig instrumentation

[2022-08-12 08:43] yangjunmyfm192085 commented on #111757
Could we open an issue in the cAdvisor repo?

[2022-08-12 08:53] zvlb opened #111815 "Field status in kubelet logs has a different type"
### What happened?

For kubelet I set `--logging-format=json` and send json logs to ElasticSearch.

For field `status` in ElasticSearch index mapping set type object, bc status_manager.go send many logs, where status is object. For example, you can see it [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/status/status_manager.go#L538)

But sometimes kubelet generate logs, whe

[2022-08-12 09:22] 0xff-dev commented on #111815
@vzemtsov  Are you going to solve this problem? i want to try.

[2022-08-12 09:23] 0xff-dev commented on #111815
/assign

[2022-08-12 09:23] Abirdcfly commented on #111815
some grep result. IMO `./pkg/scheduler/framework/runtime/framework.go:1150` also should change.
[code]

[2022-08-12 09:26] vzemtsov commented on #111815
I try. I send PR today

[2022-08-12 09:28] vzemtsov commented on #111815
/assign

[2022-08-12 09:33] Abirdcfly commented on #111815
/sig node scheduling

[2022-08-12 10:10] IBMRob commented on #111814
This was due to having our own struct rather than using ResourceRequirements I am now able to do as required

[2022-08-12 10:10] #111814 closed

[2022-08-12 10:11] nullzone commented on #111637
It is also happening to me.
For now, I am switching some environments to CLB in the meantime.

[2022-08-12 10:19] manuelbuil commented on #111695
I'm experiencing the same problem. We have a simple cloud-provider, i.e. `--cloud-provider=external` in kubelet, through which we update the node object with the InternalAddress and ExternalAddress addresses of the node. As long as we don't pass the `--node-ip` flag to kubelet things work fine.

However, since 1.24, if we pass `--node-ip` to kubelet, e.g. because we use a secondary NIC for cluster

[2022-08-12 10:21] pasvel commented on #28746
Things are much even worse on Autopilot cluster when a new node is scheduled quite often and it adds extra delays during start, all these long Pending and ContainersCreating statuses..
Not possible to wait until the moment logs can be read, because there is no ContainersAreAbleToDoSmth pod condition which "kubeclt logs" is expected for some reason! ContainersReady and Ready are not reachable when

[2022-08-12 10:45] loeffel-io commented on #28746
for autopilot i use the replace strategy to speed up the development

[2022-08-12 12:40] dashpole commented on #111738
Can you reproduce it without kubernetes?  Just stop a container with crictl and call `crictl stats`?  If that is possible, you should probably open an issue with the container runtime you are using.

[2022-08-12 12:41] narendramadanapalli commented on #108322
/remove-lifecycle stale

@fedebongio and @aniketsingh03

Created a draft PR that returns item added status as well as the shutdown mode of the queue. Please review if that solves the purpose.

[2022-08-12 12:59] silenceper opened #111819 "k8s apiserver write big custom object timeout, apiserver high cpu"
### What happened?

A timeout occurred when writing a large object

schema.yaml content size 180k
[code]

k8s apiserver log:
[code]

But it is normal when I test writing directly with etcdctl
[code]

### What did you expect to happen?

normal

### How can we reproduce it (as minimally and precisely as possible)?

Write large objects normally

### Anything else we need to know?

_No response_

###

[2022-08-12 12:59] silenceper commented on #111819
/sig apiserver

[2022-08-12 13:06] ghorio opened #111820 "Long held TCP connection gets destroyed randomly from conntrack"
### What happened?

First of all, sorry if this is not the correct place for such an issue, but I am not sure where to look for help anymore.
It all started with Connection reset error on our Java app running on Kubernetes connected to Oracle DB, the original issue described at [stackoveflow](https://stackoverflow.com/questions/73051447/java-app-on-kubernetes-still-uses-broken-connection-after-con

[2022-08-12 13:10] ghorio commented on #111820
/sig network

[2022-08-12 13:28] #108677 closed

[2022-08-12 13:28] #108703 closed

[2022-08-12 13:40] alculquicondor commented on #107598
Can you expand on how would this fit the use cases? How would these podDeletionCosts field be populated?

[2022-08-12 14:19] bsmith1180 opened #111821 "kubernetes.slack.com returning 500 error when trying to join"
I used the slack.kubernetes.io page to try to join the channel.  When I got the invite, I clicked on the link but it gave me a 500 error.  I tried

Here's the response headers if fit helps:

[code]

[2022-08-12 15:24] vzemtsov commented on #111815
This will take me a little longer than I thought. Should finish tomorrow

[2022-08-12 16:17] yucer commented on #111732
Maybe this feature should be no longer maintained.

Thanks. I can see your point.

The big question is:

I guess so. Maybe somebody is using it.

I can also understand that the transition to a new feature might generate temporary regressions, this might be the case.

[2022-08-12 16:28] #108706 closed

[2022-08-12 16:33] Alibirb opened #111822 "imagePullPolicy to pull latest image OR use existing image if repository unavailable"
### What would you like to be added?

Add another option for a container's `imagePullPolicy`, which attempts to pull the image, and falls back to using a local cached copy if the image could not be pulled.

### Why is this needed?

In development, images are frequently updated, so it's essential to grab the latest version of the image to test against.

In production, single points of failure shoul

[2022-08-12 16:34] Jonas-Sander commented on #16448
Sorry to reanimate this issue, but as a noobie it would be helpful to know what "higher-level deploy orchestration tools available in the ecosystem" there are. Can anyone name some examples or link to an overview?

---

Actually I'm quite surprised that I would stumble on this kind of issue because I just assumed I could just natively with kubernetes apply all at once in a correct order. I persona

[2022-08-12 17:28] #106894 closed

[2022-08-12 17:32] aojea commented on #111819
you can have more information if you add the `-v 9`flag

[code]

ipv6 here doesn´t seem to be relevant, does it?

[2022-08-12 18:52] vaibhav2107 commented on #105881
/remove-lifecycle stale

[2022-08-12 19:40] thockin opened #111823 "kube-proxy: log warning and/or Event if a NodePort overlaps with on-node ephemeral range"
https://github.com/kubernetes/kubernetes/pull/111697 documents not to do this.  Would be good to make it visible when/if it does happen.

Something like this on each sync:
* open and parse /proc/sys/net/ipv4/ip_local_port_range
* compare all NodePorts and HCNP against this
* if overlap, log and Event

@danwinship

Also need it in KPNG, I guess.

[2022-08-12 19:59] thockin opened #111824 "ServiceController should clarify behavior of "being deleted" nodes"
Should nodes that are "being deleted" (have been DELETE'd but have an active finalizer) be IN or OUT of the LB set?    I want to say they should be removed as soon as we see the deletion timestamp, but I can also see an argument for this being another part of "draining".  Either way, we should document this in the code explicitly (e.g. as a predicate or a comment why it isn't a predicate).

@alexa

[2022-08-12 20:07] Jeansen opened #111825 "port-forward closed on specific postgres command"
### What happened?

I've created a postgres cluster by the readme via helm and a simple manifest (see https://github.com/zalando).

I do `port-forward acid-minimal-cluster-0 8098:5432` and then `psql -h localhost -p 8098 -U postgres'. I paste the password from the kubernetes secret created by the operator.

While being connected via psql, I call `\c foo', the connection will then be closed with:

[2022-08-12 21:02] MikeSpreitzer commented on #111604
@ncdc: Let me see if I follow your suggestion for a fix.  The idea starts with modifying https://github.com/kubernetes/client-go/blob/a890e7bc14d5062a2a7eb96a5286239383d5cac8/dynamic/dynamicinformer/informer.go#L138 so that it
- Fills in the `apiVersion` from `gvr` and
- Supplies an annotation that carries `gvr.Resource`, using a new standard annotation name that gets established here.

The idea c

[2022-08-12 21:06] ncdc commented on #111604
Yes, that's essentially it. It's working nicely for me locally

[2022-08-12 21:27] yongxiu commented on #104137
/reopen

[2022-08-13 03:22] dipankardas011 commented on #110667
Its working in fedora 36
![image](https://user-images.githubusercontent.com/65275144/184466580-b0f7cc8b-4a3f-415a-8544-13e29be7ef09.png)

[2022-08-13 03:45] gjkim42 commented on #111822
+1
I think this feature is worth discussing.

/sig node

@bobbypage @pacoxu
(sig node reviewers)

[2022-08-13 07:21] yangjunmyfm192085 commented on #111738
When I use the command `crictl stop --timeout 30 containerid` to stop the container, yes, executing the command `crictl stats` also gets stuck for 30s
I have opened one issue [#6147](https://github.com/cri-o/cri-o/issues/6147)  in cri-o repo.

[2022-08-13 09:40] Lj1ang commented on #109143
met the same problem too
so is there any answer or related link to solve this problem?  @skywaterxyz

[2022-08-13 09:54] jonnylangefeld commented on #89898
We are experiencing the same issue on `v1.21.12`. If [this `exec`](https://github.com/kubernetes/kubernetes/issues/89898#issuecomment-728908503) workaround mentioned above works, it comes with the downside that not all application containers would have curl installed. Some of them might be distroless. And some might be upstream containers that we don't own and we can't easily install another libra

[2022-08-13 13:12] yangjunmyfm192085 opened #111829 "The value of .spec.template.spec.restartPolicy in kubectl explain Deployment/DaemonSet/StatefulSet template prompts an error"
### What happened?

When using the command kubectl explain Deployment/DaemonSet/StatefulSet.spec.template.spec.restartPolicy, prompt
[code]
But the value is Never, when kubectl applies the template file, it prompts
[code]

### What did you expect to happen?

When using the command kubectl explain Deployment/DaemonSet/StatefulSet.spec.template.spec.restartPolicy, prompt
[code]
But the value is

###

[2022-08-13 13:12] yangjunmyfm192085 commented on #111829
/sig cli

[2022-08-13 14:57] silenceper commented on #111819
[code]

[2022-08-13 15:13] silenceper commented on #111819
I found this issue which seems to be the same as this issue https://github.com/kubernetes/kubernetes/issues/102749

[2022-08-13 15:22] towfeeqfayaz11 opened #111831 "Docs: missing step "source ~/.bashrc" to enable autocompletion in current session"
/kind documentation

Bash Auto Completion has a missing step to enable autocompletion in current shell session

### **As Is:**
If you have an alias for kubectl, you can extend shell completion to work with that alias:

[code]
Note: bash-completion sources all completion scripts in /etc/bash_completion.d.
Both approaches are equivalent. After reloading your shell, kubectl autocompletion should be w

[2022-08-13 15:24] towfeeqfayaz11 commented on #111831
/sig docs

[2022-08-13 18:33] #99451 closed

[2022-08-13 18:33] #108481 closed

[2022-08-13 18:33] #108739 closed

[2022-08-13 20:35] #105815 closed

[2022-08-14 09:33] MadhavJivrajani commented on #111819
/sig api-machinery scalability

[2022-08-14 09:43] Jeansen commented on #111825
/sig Network

[2022-08-14 11:30] svennjegac commented on #111637
I am also experiencing the same issue.

Everything works with kubernetes version 1.23.5.
With kubernetes versions 1.24.0, 1.24.2 and 1.24.3, AWS target group stays empty forever.

I am also using kops to provision k8s cluster on AWS.

[2022-08-14 12:37] jlsong01 commented on #109942
/remove-lifecycle stale

[2022-08-14 12:39] jlsong01 commented on #106637
/remove-lifecycle stale

[2022-08-14 13:08] dilyanpalauzov opened #111840 "kube-proxy modes ipvs and userspace do not serve requests to localhost, while mode iptables does"
### What happened?

I create
[code]
My node has IP 2.3.4.5.  When I run kube-proxy in mode usermode or ipvs, requests for 2.3.4.5:123 are answered, while requests for localhost:123 are not answered.

When I run kube-proxy in mode:iptables, requests for 2.3.4.5:123 and localhost:123 are answered.

When I use ipvs-mode, the difference of `ipvsadm -L` before and after the service is utilized, is:
[co

[2022-08-14 14:07] deitch commented on #110018
/remove-lifecycle stale

[2022-08-14 14:38] zqzten commented on #49937
Same issue here, would like to try working on this.

/assign

[2022-08-14 14:45] sharkymcdongles commented on #93934
Not sure why this is closed since this is a basic functionality I feel should be included within kubernetes. Currently, the best way to solve this is hacky and unintuitive.

Here is my hideous 1 liner:

kubectl get nodes | egrep -v $(kubectl get pods -o wide | grep $DAEMONSET_POD_NAME | awk '{print $7}' | grep -v none | paste -s -d"|" -)

[2022-08-14 17:02] sftim commented on #109463
/remove-lifecycle rotten
/retitle Add documentation for “non exhaustive enums”

[2022-08-14 18:31] towfeeqfayaz11 commented on #111831
@Linutux
Seems this is a dupicate issue  created at wrong place.

Here is the issue created under Website section: https://github.com/kubernetes/website/pull/35958

[2022-08-14 18:32] towfeeqfayaz11 commented on #111831
/duplicate

[2022-08-14 18:32] #111831 closed

[2022-08-14 18:33] tsuna commented on #73056
/reopen
/remove-lifecycle rotten

[2022-08-14 18:41] #108755 closed

[2022-08-14 18:45] adremnsk commented on #111469
Hello, I have exactly the same problem on archlinux (kernel 5.19.1-arch2-1). Have you made any progress in solving the problem?

[2022-08-14 19:29] omertuc commented on #98213
I'm working on a [WIP linter](https://github.com/omertuc/gotestlooplint) to detect this kind of thing, it found much less instances of this than I expected which I fixed in #111846

[2022-08-14 22:34] zerkms commented on #78007
/remove-lifecycle stale

[2022-08-14 22:56] brianpursley commented on #111825
I'm not able to get your reproduction working for a couple of reasons:

First, it looks like maybe a typo in your reproduction commands:
[code]
should be this?
[code]

Second, after I install the postgres-operator, it looks like it is running, I am able to port forward, but when I try to connect using `psql -p 8098 -h localhost -U postgres`, I get this error:
[code]

And my port forwarding session

[2022-08-14 23:02] brianpursley commented on #111825
Incidentally, when I run postgres without helm, and do port forwarding it seems to work fine for me.

[code]

Then my psql run...
[code]

My port forward session remains active and looks like this:
[code]

Can you try the above, and see if it works for you?

---

For refernece, here is my kubectl version output:
[code]

and uname -a:
[code]

and my psql version:
[code]

[2022-08-14 23:11] Riaankl opened #111847 "Write CoreV1NamespaceReplace Test +1 Endpoint"
# Progress <code>[6/6]</code>

-   [X] APISnoop org-flow: [CoreV1NamespaceReplaceTest.org](https://github.com/apisnoop/ticket-writing/blob/master/CoreV1NamespaceReplaceTest.org)
-   [X] Test approval issue: #111847
-   [X] Test PR: #111848
-   [x] Two weeks soak start date: [testgrid-link](https://testgrid.k8s.io/sig-api-machinery-gce-gke#gce-serial&graph-metrics=test-duration-minutes&include-filt

[2022-08-14 23:13] Riaankl commented on #111847
/triage accepted

[2022-08-15 02:33] chaohan1 opened #111849 "When using hostname -f to resolve FQDN, multiple containers sharing the same /var/lib/kubelet/pods/xxxxx/etc-hosts file may have a certain impact"
### What happened?

When I resolve FQDN using hostname -f in multi-container of pod, sometimes only the hostname can be resolved, but the FQDN cannot be resolved. Look like this:

[root@hdp-zookeeper-hdp-zookeeper-0 /]# hostname -f
hdp-zookeeper-hdp-zookeeper-0.hdp-zookeeper-hdp-zookeeper.testns.svc.cluster.local
[root@hdp-zookeeper-hdp-zookeeper-0 /]#
[root@hdp-zookeeper-hdp-zookeeper-0 /]#
[root

[2022-08-15 02:42] Dingshujie commented on #94220
@SergeyKanzhelev Any workaround you know for this issue?  thanks

[2022-08-15 03:15] leileiwan opened #111852 "apf will reset when panic happen"
### What happened?

when we use apf in our 5k production environment,  apiserver often freezes and cannot process any request because of the timeout, which results in many node being not ready.
we found apf will reset when http write panic, it took 10m(too long) process each pl,  many nodes become notready，then apiserver restart by probe.

[code]

[code]

### What did you expect to happen?

apf sh

[2022-08-15 03:20] panteparak commented on #111825
@brianpursley @Jeansen From my usage. Noted that connection dropping issue is due to PostgreSQL is sending an RST Packet and somewhere in kubectl port forwarding it will drop the proxy once it see this packet.

This behavior is only seen while using an TLS version of postgresql. Hence the OP PGSSLMODE=disable env

[2022-08-15 03:27] leileiwan commented on #111852
/sig api-machinery

[2022-08-15 03:53] mengjiao-liu commented on #111829
From the documentation description and code implementation, the above verification error is satisfactory.
docs:
https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pod-template
[code]

code:

https://github.com/kubernetes/kubernetes/blob/132f29769dfecfc808adc58f756be43171054094/pkg/apis/apps/validation/validation.go#L148-L150
https://github.com/kubernetes/kubernetes/blob/132f2976

[2022-08-15 04:07] pacoxu commented on #111822
In our best practice guide
- user can use images' latest or v1 tag(that can change) with the Always pull policy in development env.
- - so every CD or restart of Pod can download the latest image.
- user should use a specific tag(that cannot change) of an image with `IfNotPresent` in production env.
- - specific tags should not be updated in the image repository
- - specific tags can ensure that t

[2022-08-15 04:28] weilaaa opened #111853 "Proposal: rewrite sets package as go generic"
### What would you like to be added?

Consider rewrite sets package [staging/src/k8s.io/apimachinery/pkg/util/sets](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apimachinery/pkg/util/sets) as go generic instead of using code generator.

### Why is this needed?

Different types sets can be perfectly implemented using go generic without the need for code generators. Also,

[2022-08-15 04:30] weilaaa commented on #111853
/sig <api-machinery>

[2022-08-15 04:31] weilaaa commented on #111853
/sig api-machinery

[2022-08-15 04:45] MikeSpreitzer opened #111854 "Infelicities in TestRESTClientLimiter"
### What happened?

Reading TestRESTClientLimiter in https://github.com/kubernetes/client-go/blob/master/rest/config_test.go I noticed a few things.
1. The test case struct is defined to have a name field, and its value is used in naming the subtests, but the actual test cases leave the name blank.
2. The error statements do not identify which case is failing (do not identify the expected value).

[2022-08-15 04:46] MikeSpreitzer commented on #111854
/sig api-machinery

[2022-08-15 05:38] MikeSpreitzer commented on #111604
I think that would make a reasonable PR.

[2022-08-15 05:49] h4ghhh commented on #111757
CAdvisor works periodically, and has already got the newest hugepage information. Should the kubelet be optimized?

[2022-08-15 06:17] BenTheElder commented on #110041
/remove-lifecycle stale

[2022-08-15 06:57] pacoxu commented on #111849
/sig node

[2022-08-15 07:24] mengjiao-liu commented on #111829
kubectl explain Deployment/DaemonSet/StatefulSet.spec.template.spec.restartPolicy descriptions can be misleading, perhaps we need to add more descriptions.
/assign

[2022-08-15 07:40] pacoxu commented on #111840
/sig network

[2022-08-15 07:53] Jeansen commented on #111825
@brianpursley thanks for your quick reply. I corrected my mistake. You are right, there was a typo. With regard to the connection: That's odd. When the cluster is up and running and you have the forward established, then it should work exactly as described and prompt you for a password.

If postgres itself works, then that's an interesting finding. On the other hand, it does not help much, because

[2022-08-15 08:45] philhuan commented on #110158
Hi, how did you solve it? I also encountered this problem

[2022-08-15 08:58] 249043822 commented on #111385
I'm a little confused, while a node's Ready condition becomes Unknown or False, then notifies zoneNoExecuteTainter to mark for NoExecute taint, but the handleDisruption hasn't got freshed nodes info, so in this monitorNodeHealth period, handleDisruption could not get node's Ready condition with Unknown or False, so it can only enter full discruption mode in next monitorNodeHealth period(default 5s

[2022-08-15 08:58] HelperInCa commented on #92460
/remove-lifecycle rotten

[2022-08-15 08:59] HelperInCa commented on #92460
/remove-lifecycle stale

[2022-08-15 10:54] akunszt commented on #111796
I removed that because kubelet complained when I set it.
[code]
So it gets deprecated before kubelet is able to fetch the required information? It's a bit confusing, it might worth to de-obsolete it until the fetch pause image feature gets implemented. Also I have vague memories that in earlier versions 1.22 and/or 1.23 the warning was a bit different and mentioned only the fact that it's obsolete

[2022-08-15 10:55] aimuz commented on #106475
/remove-lifecycle stale

[2022-08-15 11:19] jeffwubj commented on #108096
same here, a good error message should be helpful.

[2022-08-15 11:24] daemonadmin commented on #61117
Restarting docker.service resolved this issue for me.

[2022-08-15 11:37] pacoxu commented on #111813
/sig api-machinery

[2022-08-15 11:38] JyothiOrangebeard commented on #111813
/sig API Machinery

[2022-08-15 12:31] jayson commented on #92460
We found out issue one of the etcd servers had a bad sfp causing 6% packet loss. Future people searching this, really check everything with etcd, even some packet loss to a single etcs that is not the leader can cause this.

[2022-08-15 12:39] danwinship commented on #111695
@mdbooth we should definitely fix kubelet to remove any existing annotation in the cases where it is not setting the annotation, and backport that to at least 1.24. We probably also need some slightly better documentation to go along with that.

We should also eventually add the new-and-improved annotation (and make kubelet accept a dual-stack `--node-ip` value with `--cloud-provider=external`) bu

[2022-08-15 12:42] danwinship commented on #111695
@manuelbuil

So note that this _didn't work_ in 1.23 (passing `--node-ip` would not change what IP was NIC was used for communication), so what you're describing isn't a new bug in 1.24, it's just the lack of a new feature, and the way to make 1.24 have the same behavior you were getting in 1.23 is to stop passing `--node-ip`.

[2022-08-15 12:43] danwinship commented on #111695
It's possible that we should declare the 1.24 change to be a (command-line) API break, and revert it, and then instead add `--node-ips` (with an "s") and say that you need to use that to get the new behavior, and `--node-ip` (with no "s") will continue to have the strange behavior it always used to have.

[2022-08-15 13:23] helayoty commented on #70249
@dims @tallclair 👋 the release 1.25 bug triage Lead. I'm reaching out to see the status of this Issue and if we are still targeting the current release.

[2022-08-15 13:25] helayoty commented on #82531
@liggitt 👋 the release 1.25 bug triage Lead. I'm reaching out to see the status of this Issue and if we are still targeting the current release.

[2022-08-15 13:26] helayoty commented on #108649
@iXinqi @jsturtevant 👋 the release 1.25 bug triage Lead. I'm reaching out to see the status of this issue and if we are still targeting the current release.

[2022-08-15 13:27] helayoty commented on #109087
/milestone clear

[2022-08-15 13:29] helayoty commented on #100460
@justaugustus @puerco 👋 the release 1.25 bug triage Lead. I'm reaching out to see the status of this issue and if we are still targeting the current release. Also, kindly if you can update the priority so we can track it in the future.

[2022-08-15 13:30] helayoty commented on #97026
@dims 👋 the release 1.25 bug triage Lead. I'm reaching out to see the status of this issue and if we are still targeting the current release.

[2022-08-15 13:30] helayoty commented on #109211
/milestone clear

[2022-08-15 13:36] liggitt commented on #94626
updated description with work completed in 1.25

[2022-08-15 13:43] liggitt commented on #111829
Unfortunately, the documentation comes from the PodSpec object, which those workload types embed and then place additional restrictions on.

It wouldn't be appropriate to put documentation specific to those embedded uses on the PodSpec object.

[2022-08-15 13:51] JCzz opened #111858 "HA cluster control plane init - Error getting node"
### What happened?

Installed a HA Cluster following this [documentation](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/)

I have 3 etcd nodes running and working. 1 envoy loadbalancer, and are now trying to add a control plane.

When trying to init the control plane I get:

sudo kubeadm --v=5 init --config kubeadm-config.yaml --upload-certs

[code]

sudo

[2022-08-15 14:17] dims commented on #70249
@helayoty there was progress (please see #https://github.com/kubernetes/kubernetes/issues/109406), we will have to take an inventory when 1.26 opens up.

/milestone v1.26

[2022-08-15 14:18] dims commented on #97026
/milestone v1.26

kick the can down the road yet again!

[2022-08-15 14:34] shvgn commented on #108124
/remove-lifecycle stale

[2022-08-15 15:34] jsafrane commented on #111799
I think we could start with scheduler. It should put all pods that use a RWO volume to a single node. Or fail if the node is not suitable (affinity, nodeSelector, taints...)

I don't think we need to update kubelet to check other nodes, IMO we do not check it for RWOP volumes either.

[2022-08-15 15:49] BenTheElder commented on #111853
Please see our generics policy for why we probably shouldn’t do this for at least a few more releases https://github.com/kubernetes/community/blob/master/sig-architecture/generics.md

[2022-08-15 15:50] BenTheElder commented on #111853
The types would not be the same and they’d have different performance and go version requirements

[2022-08-15 15:53] helayoty commented on #111510
@azylinski  @chendave 👋 the release 1.25 bug triage Lead. I'm reaching out to see the status of this issue and if we are still targeting the current release. Also, is it a release blocker?

Can you please update the priority as well?

[2022-08-15 15:53] sbueringer commented on #108768
I think the corresponding CAPI issue is not necessarily relevant. What mainly confused us was that on the client-side we run OpenAPI validation while on the server-side we first run defaulting and then validation.

This means of course that the OpenAPI schema validation on client-side will have different results then the one on server-side.

[2022-08-15 15:55] apelisse commented on #108768
Yeah, sorry, I realized later too that the api-server runs defaulting before validation. Without having spend too much time thinking about that, that seems like a design problem. I'm still pretty convinced we should mark these fields as non-required.

[2022-08-15 16:05] jaibheem commented on #67455
/reopen

[2022-08-15 16:07] marosset commented on #108649
We can move this to 1.26
/milestone v1.26

[2022-08-15 16:13] aven-ai commented on #83471
Thanks for sharing, can you please tell what is the version of k8s and docker after the replacement? Did you get rid of docker and use containerd as the container runtime instead?

[2022-08-15 16:21] ritazh commented on #109376
/triage accepted
/remove-lifecycle rotten

To move this issue forward, we need someone who's interested to bring this topic and a design to sig auth community call. This would most likely require an extension of an existing KEP or a new one.

[2022-08-15 16:47] aven-ai commented on #83471
Thank you, I will try it.

[2022-08-15 16:48] brianpursley commented on #111825
Thank you @panteparak for reminding me about that. After you mentioned that, I recalled reading that elsewhere and I think you are right about the cause.

@Jeansen I was able to get your example to reproduce the problem using kind.  My bare metal test cluster must have been in some weird state.  Thanks for bearing with me.

What do people think about this PR?  It seems to fix the problem for me lo

[2022-08-15 16:48] vaibhav2107 commented on #98102
@jsturtevant Is the issue has been fixed?

[2022-08-15 16:49] vaibhav2107 commented on #105844
/remove-lifecycle stale

[2022-08-15 17:07] vaibhav2107 commented on #111858
/sig node

[2022-08-15 17:14] vaibhav2107 commented on #107019
/remove-lifecycle stale

[2022-08-15 17:35] liggitt commented on #111703
Thanks for the detailed report and reproducer. Some comments:

 I think there's confusion about how writes via multiple versions of an API interact with each other. All data must be round-trippable via all API versions on the server side. If you want to preserve data via writes to the v1alpha1 API, you either need to represent those fields in the v1alpha1 schema or allow persisting arbitrary data

[2022-08-15 17:40] liggitt commented on #111703
...and actually, the client aspect of that statement is not correct as well... `x-kubernetes-preserve-unknown-fields` means "preserve unknown fields coming from the client" so what the client is sending is super relevant... in the case of a typed go client dropping unknown fields client-side, or a `kubectl apply` computing a patch client-side and explicitly clearing a field, the client is controll

[2022-08-15 17:41] liggitt commented on #111703
Thanks again for the super detailed report and reproducer, but from what I can see, this is working as intended.

[2022-08-15 17:41] #111703 closed

[2022-08-15 17:53] BenTheElder commented on #111510
FWIW I think this is implemented here https://github.com/GoogleCloudPlatform/testgrid/blob/master/pkg/updater/eval.go (junit in GCS => testgrid)

[2022-08-15 18:07] panteparak commented on #111825
@brianpursley @Jeansen Just wanted to make sure If the introduced PR does not have a feature conflict with this PR that I believe introduced the RST Packet problem. #103526

The original post that enlighten me of the RST Packet Issue is this. [kubectl Issue](https://github.com/kubernetes/kubectl/issues/1169#issuecomment-1165140134)
Do read the entire thread. Some people were talking about having a

[2022-08-15 18:09] liggitt commented on #104137
I'm not able to reproduce... creating a CRD like this validates CRs properly:

CRD:
[code]

CR:
[code]

[code]

[2022-08-15 18:16] brianpursley commented on #111825
@panteparak Good question, but I don't think it does.  The intention behind that PR was that usually when a message was sent on the error stream, the server connection was stopped and the port forwarding session remained open in an inoperable state, meaning you had to manually kill and restart the `kubectl port-forward` to get it working again.

I *think* "connection reset by peer" is a special ca

[2022-08-15 18:23] liggitt commented on #104137
The issue is the way you are programmatically constructing the JSONSchemaPropsOrBool{} in your test.

When decoding from JSON, `additionalProperties: {...}` implicitly sets `Allows ` to `true`:

https://github.com/kubernetes/kubernetes/blob/132f29769dfecfc808adc58f756be43171054094/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1/marshal.go#L40-L50

When you constructed this pro

[2022-08-15 18:24] liggitt commented on #104137
Updating your testcase to set Allows:true worked as expected:

[code]

[2022-08-15 18:24] #104137 closed

[2022-08-15 18:32] Jeansen commented on #111825
@brianpursley I agree. For me the argumentation is sound. If we port-forward to a service but that service does whatever it wants regarding its connection, e.g. sending an HTTP 404, 500 or some sort of peer problem, then I too see the problem with the service, but not with the port forwarding. So, I would also vote for a robust port-forward that a user has to kill manually, if a user thinks the co

[2022-08-15 18:35] brianpursley commented on #111825
The flag would be OK, but it still has the original problem where if the pod restarts, your port forwarding session gets stuck in limbo and will never work again until you kill and rerun the command.

I'm open to the flag, but my thought (right now at least) is to handle "connection reset by peer" as a non fatal error, and if that solves it, then the flag would not be necessary.

I'm curious to se

[2022-08-15 18:53] manuelbuil commented on #111695
Perhaps we are not talking about the same feature but I must disagree: it worked. In 1.23, when deploying an env with multiple interfaces, I was able to decide what NIC to use for the internal cluster communication by specifying the `--node-ip`, so in my opinion it was working correctly.

Of course `--node-ip` does not support dual stack, so I had to decide whether I wanted internal cluster commun

[2022-08-15 19:33] JJotah commented on #111858
Hi,
Could you provide kubeadmconfig.yaml.
Thanks in advance

[2022-08-15 19:42] JCzz commented on #111858
Thanks yes, of course - good point.

cat kubeadm-config.yaml

    ---
    apiVersion: kubeadm.k8s.io/v1beta3
    kind: ClusterConfiguration
    kubernetesVersion: stable
    controlPlaneEndpoint: 192.168.64.6:6443 # load balancer
    etcd:
      external:
        endpoints:
          - https://192.168.64.2:2379
          - https://192.168.64.3:2379
          - https://192.168.64.4:2379
        caF

[2022-08-15 19:42] JJotah commented on #111822
Hi,
I'm agree with @pacoxu
The recommend for developers team is using tags. Kubernetes need to be a microservice and faster as posible. If anytime that you are creating the docker image the kubernetes need to pull the docker image will take some time.
I'm my opinion is better to follow tag strategy. If you want to pull always just put the image pull policy as always. But from my perspective I don'

[2022-08-15 19:49] JJotah commented on #111858
Ok thanks I will check but seems to be a issue on the load balancer. Always happened to me. I will check and keep you informed

[2022-08-15 19:56] ahg-g commented on #107598
I think populating the costs in this new proposal would be similar to how we assumed users/controllers would do in https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2255-pod-cost; but I thought one of the main pushbacks on the existing beta feature was exactly that, and the hope was to find a way for pod costs to be populated by the pods themselves?

@thesuperzapper perhaps it i

[2022-08-15 19:59] neolit123 commented on #111858
hi, we try to keep the k/k issue tracker for bug reports.
this seems like a support issue.

you can continue the conversation here or try the support channels.
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-08-15 19:59] #111858 closed

[2022-08-15 20:00] neolit123 commented on #111858
also, "error getting node" is a common error that the kubelet throws until it completes the registration of a node (creates the node object), so it probably there are other errors at hand.

[2022-08-15 21:09] JCzz commented on #111858
Hi @JJotah

Thanks for reaching out, I just found that it was indeed the load balancer and not Kubernetes.

[2022-08-15 22:13] Alibirb commented on #111822
I had really hoped we could avoid turning this into an argument about the validity of using mutable tags, but here goes.

According to [the Kubernetes website](https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/#what-kubernetes-is-not), "Kubernetes aims to support an extremely diverse variety of workloads". I recognize that not everyone would have any use for this new `imagePullPolicy

[2022-08-15 22:18] colearendt commented on #96284
/remove-lifecycle stale

[2022-08-15 23:10] kishorj commented on #111637
@mariusmarais, for k8s 1.24, kops uses external cloud provider, and the default aws cloud provider CCM version at this time was registry.k8s.io/provider-aws/cloud-controller-manager:v1.24.0. Unfortunately, the v1.24.0 is affected by https://github.com/kubernetes/cloud-provider-aws/issues/301 which is similar to the symptoms described here. PR   https://github.com/kubernetes/cloud-provider-aws/pull

[2022-08-15 23:12] kishorj commented on #111637
Since this is not an issue with the in-tree controller, please use the repo https://github.com/kubernetes/cloud-provider-aws/  to communicate further on this matter.

[2022-08-15 23:26] Alibirb commented on #111822
If you're using immutable tags, then theoretically the image on the node is guaranteed to match what's in the registry. But you're saying there are still users who don't have full confidence that the local image hasn't been corrupted, or someone made a quick patch to the new release because they realized they tagged the wrong version or something. I could see that happening, and with a policy of `

[2022-08-15 23:56] thockin opened #111863 "Service NodePorts can be accessed via LB IPs (iptables, at least)"
Create a single-port Service of type LB.  It gets nodeport 31234.

Wait for an LB IP to be assigned.

Access that LB IP on 31234 - it works as long as firewalls don't stop it.

This is because the NodPorts chain doesn't necessarily check IPs (hence why it is the last chain).  It finds port 31234 and forwards it to the Service.

I think we need to add rules to "KUBE-PROXY-FIREWALL" to allow valid I

[2022-08-16 00:02] estebanreyl commented on #111704
You are right @pacoxu, thanks for taking a look at this. It seems I got the two reversed in my head. The issue indeed happens when --serialize-image-pulls=true which is the default as you pointed out. I'll update the issue to reflect that

[2022-08-16 00:19] BenTheElder commented on #111813
https://cloud.google.com/kubernetes-engine/docs/deprecations/apis-1-22#ingress-v122

GKE extended this for their customers. That's why it shows up.

---

Versus with upstream Kubernetes 1.22.9 using [KIND](https://sigs.k8s.io/kind):

[code]

And with 1.21 ..
[code]

[2022-08-16 00:34] BenTheElder commented on #111796
Yeah, AIUI the parameter was intended for use configuring which pause image to use with dockershim but it also has retained this important side-effect of being specially excluded for GC.

 It's had issues with skew before because the defaults don't line up, in my personal opinion it's still advisable to set for now, just knowing at some future kubernetes 1.X will require dropping it.

containerd w

[2022-08-16 00:51] liggitt commented on #111813
the explanation in https://github.com/kubernetes/kubernetes/issues/111813#issuecomment-1216008212 is correct, that specific resource was served in GKE for one additional release *only* for clusters upgraded from 1.21 to 1.22, not for new 1.22 clusters

[2022-08-16 00:51] #111813 closed

[2022-08-16 00:53] #104789 closed

[2022-08-16 01:01] sfeng1996 commented on #111812
/triage accepted

[2022-08-16 01:14] xiaoping8385 commented on #111777
@bobbypage could you comment on this? thanks!

[2022-08-16 01:40] pacoxu commented on #111822
It makes sense in your auto-upgrade cases.

However, it sounds like the image pulling sometimes failed in your env. (Is this the key reason for adding this policy?) I'd like to know why there are registry failures.
- `IfAvailable` is like  `BestEffortAlways` that allow image pull failure. (It seems to be a strategy for edge env whose network is not stable.)

[2022-08-16 01:44] abeer91 commented on #98423
Reopening this issue, as it seems like something I've recently experienced. Looks like we never got to the bottom of this.

@lavalamp - Are there any settings we can set to reject new watch connections? My understanding is that `-max-inflight-requests` doesn't really work for new watch requests, nor does the new API Priority and Fairness feature.

[2022-08-16 01:45] abeer91 commented on #98423
/reopen
/remove-lifecycle rotten

[2022-08-16 05:03] mariusmarais commented on #111637
Thanks @kishorj, appreciate the pointer.

[2022-08-16 05:03] #111637 closed

[2022-08-16 05:29] vatsalparekh commented on #111854
/assign

[2022-08-16 05:35] uablrek commented on #111863
This problem does not exist for proxy-mode=ipvs.
[code]
192.168.1.2 is a node address and 10.0.0.80 is a LB-address.

[2022-08-16 05:36] RA489 commented on #109233
/remove-lifecycle stale

[2022-08-16 05:45] uablrek commented on #111863
Please consider nodes with multiple interfaces so that access via NodePort is not restricted to the addresses in the K8s node object for instance. We sometimes use K8s on a "backend" network to isolate cluster traffic and external access from a "frontend" network;

<img src="https://raw.githubusercontent.com/Nordix/xcluster/master/ovl/network-topology/backend.svg" width="80%" />

Now, we don't use

[2022-08-16 06:06] uablrek commented on #111840
This is _not a bug_ for ipvs but intentional, please see https://github.com/kubernetes/kubernetes/issues/96879.

And proxy-mode=userspace is deprecated, so I close this issue. Pleas reopen if you disagree.

/close

[2022-08-16 06:44] dilyanpalauzov commented on #111840
The behaviour of iptables, ipvs and user-mode differ. and the differences are not documented.  In case of Kernel limitations, preventing kube-proxy in ipvs-mode to serve requests for localhost, please document how iptables, ipvs and user-mode differ.

Otherwise please extend ipvs-mode to serve requests for localhost.

I disagee, but I am not allowed to reopen.

[2022-08-16 07:05] chendave commented on #111510
@helayoty I don't think this is a release blocker, the change needed in Kubernetes has been merged, meanwhile, I pushed a pr in testgrid to close this https://github.com/GoogleCloudPlatform/testgrid/pull/1055.

[2022-08-16 07:20] YuikoTakada commented on #110956
@jingxu97 thank you for having discussed and your comments.
Our use case(or perhaps concern) is security perspective:
For example, when I am a user and I want to require more storage, I would just not set ephemeral-storage's limit in my pod.
If I am an attacker, I will create multiple Pods which just infinity write garbage data to ephemeral-storage. Pods which were launched by other users and whic

[2022-08-16 08:28] aojea commented on #111863
this one? https://github.com/kubernetes/kubernetes/pull/110289

[2022-08-16 08:32] anjmao commented on #106846
@alexzielenski Thanks for review!
1. This makes mocking and testing a bit easer if you don't want to use `k8s.io/client-go/kubernetes/fake`. Also as mentioned by @tareqhs some objects do not allow all HTTP verbs like TokenReview, Binding, ComponentStatus. But since 99% contains all verbs not sure it worth the split. API could return `not supported` error for such cases.
2. I like the API naming su

[2022-08-16 08:38] aojea commented on #111825
that is only one scenario, you can receive a "connection reset by peer" when there is nothing listening on that port

[2022-08-16 08:48] uablrek commented on #111840
/reopen

[2022-08-16 08:49] uablrek commented on #111840
As author you can.

[2022-08-16 08:56] aojea commented on #111840
user-mode has been deprecated.

fpr ipvs and iptables, where do you think is the better place to document this?

[2022-08-16 09:04] JJotah commented on #111822
Hi,
I'm sorry. I understand your point but this feature works for local environments to test the image. Dev environment, staging a production if you have some network issues you can't test the service or the image outside the cluster. Anyway understanding your point is better to add new functionality into image pull policy like imagePullPolicyconnectionError true. Or something like that.

[2022-08-16 09:08] aojea commented on #111469
your cluster is not healthy, etcd is not starting, hence all the other components keep restarting trying to connect to it without success

Github issues does not track these kind of support questions for installations, there are other channels like discourse or slack where you can find help with your installation

/kind support
/close

[2022-08-16 09:09] #111469 closed

[2022-08-16 09:10] dilyanpalauzov commented on #111840
There many possible places:
* In the documentation of NodePort — https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport
* In the documentation of kube-proxy --proxy-mode — https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/
* at https://kubernetes.io/docs/reference/config-api/kube-proxy-config.v1alpha1/#kubeproxy-config-k8s-io-v1alpha1-ProxyMode
*

[2022-08-16 09:17] aojea commented on #111840
/remove-kind bug
/kind documentation
/help wanted

[2022-08-16 09:27] aojea commented on #111819
it seems so, 34 seconds and timeout of the request

[2022-08-16 09:27] aojea commented on #111840
/help-wanted

[2022-08-16 09:28] aojea commented on #111840
/help

[2022-08-16 09:40] pokerfaceSad commented on #107244
@SoaringAnecdotalBear any new progress?

[2022-08-16 09:43] aojea commented on #111824
Interesting

The pods that doesn't have a node associated are removed from the EndpointSlice https://github.com/kubernetes/kubernetes/pull/110639 , but the endpoint slices controller doesn't handle the Node DELETING "pseudo-state" too :shrug:

However, it does handle the Pod terminating state https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1672-tracking-terminating-endpoint

[2022-08-16 09:54] aojea commented on #111823
this should be rate limited ... several escalations recently because of Events filling etcd :upside_down_face:

[2022-08-16 10:01] haoruan commented on #111823
/assign

[2022-08-16 10:08] HelperInCa commented on #92460
YES, I mentioned it before. I wondor if there is any bug in the design of  etcd client.

[2022-08-16 10:10] aojea commented on #111823
also, NodePorts affects to all the cluster nodes, we don't want one event per node, in a large cluster this can be risky ... I'll start with the log only

[2022-08-16 10:32] B-Whitt commented on #24873
Unfortunately this does not backup all the resources in the namespace

[2022-08-16 10:47] knelasevero commented on #91633
Watched the sig meeting. I will try to figure out a way to report how much contextual logging calls (or more specifically how much getting-logger-from-ctx happens) in the tests. Or, as you @Huang-Wei mentioned, I will try to add a scenario where we are a bit sure that we are hitting it sufficiently to compare performance degradation with and without the actual code changes.

[2022-08-16 11:16] pohly opened #111868 "e2e: too verbose ginkgo output"
### What would you like to be added?

After migration to Ginkgo v2 there is quite a bit of additional unnecessary output at the start and end of a test suite run. This is annoying in particular when running a single failing test with `-ginkgo.v` because the test failure is not visible at the end of the output and a lot of scrolling is necessary.

The output points to https://github.com/kubernetes/

[2022-08-16 11:17] pohly commented on #111868
/sig testing

Also happens without `-ginkgo.v`.

[2022-08-16 11:31] pohly commented on #111868
Do we really care about getting the progress reported messages on stdout?

[code]

To me that looks redundant and more like debug output.

If we don't want that output, then we can enable the progress reporter only when we really send results to a URL, which will also get rid of the `S[ReportAfterEach] TOP-LEVEL` output.

[2022-08-16 11:31] pohly commented on #111868
/cc @aojea

[2022-08-16 11:47] MohamedBenighil opened #111869 "Network Policy: "host" could not be resolved when adding network policy?"
### What happened?

ERROR 2005 (HY000): Unknown server host 'mysql' (-3)
wordpress 11:36:37.26 DEBUG ==> Executing SQL command:
SELECT 1

### What did you expect to happen?

'hostname' resolved

### How can we reproduce it (as minimally and precisely as possible)?

deploy a Wordpress release from `https://marketplace.azurecr.io/helm/v1/repo` Helm repo and install Wordpress with the following `valu

[2022-08-16 12:05] mariusmarais commented on #111637
From the other thread:

[2022-08-16 13:09] danwinship commented on #111863
So, we _can_ work around this in kube-proxy, but I believe this bug is a side effect of GCE stuff which is not part of core Kubernetes. The rule that iptables kube-proxy creates to jump to the nodeports chain is:

    -A KUBE-SERVICES -m comment --comment "kubernetes service nodeports; NOTE: this must be the last rule in this chain"
        -m addrtype --dst-type LOCAL -j KUBE-NODEPORTS

`--dst-ty

[2022-08-16 13:15] liggitt commented on #111819
can you verify it doesn't reproduce on master?

[2022-08-16 13:16] amin224 opened #111870 "kubectl error parsing output not reaching exit code"
### What happened?

I am trying to handle a scenario where a kubectl command throws an error then I would handle it in my script, but when running the script the kubectl command is throwing an error and the script is failing to recognize it as a error type.

[code]

Here I am using OR Operator (||) to execute second command only if the execution of first command fails. The kubectl error output is

[2022-08-16 13:28] liggitt commented on #111769
is this a blocker for 1.25?

[2022-08-16 13:48] alexanderConstantinescu commented on #111824
I agree. And determining which we end up doing should be a decision based on how the CCM handles syncing a non-existing VM. If that condition causes it to enter some form of repeated error state, then it should be a comment on why it isn't a predicate....and I get the feeling from the existing auto-scaling taint predicate, that this is the case.

If we are able to cleanly handle it (either current

[2022-08-16 14:03] mikebrow commented on #111469
pls try this: https://github.com/containerd/containerd/blob/main/docs/cri/config.md#cgroup-driver

[2022-08-16 14:04] #111870 closed

[2022-08-16 14:37] helayoty commented on #111510
Thanks for replying back, I'll move it to 1.26 then

[2022-08-16 14:40] helayoty commented on #111510
/milstone 1.26

[2022-08-16 14:41] helayoty commented on #111510
/milestone 1.26

[2022-08-16 14:42] helayoty commented on #111510
/milestone v1.26

[2022-08-16 14:51] sftim commented on #81146
/sig security

[2022-08-16 15:08] JJotah opened #111871 "kubernetes.io/service-account-token doesn't update Service Account Secret"
### What happened?

Now in the > 1.24 kubernetes version the creation of the service account is not creating automatically the secret.
If you want to create new secret yo need to add something like this
[code]
But when you want to retrieve service account secrets is not showing
[code]
I want to contribute with this project (because I have more than 3 years working with k8s)
I will check the contro

[2022-08-16 15:17] JJotah commented on #111871
/kind feature

[2022-08-16 15:31] thockin commented on #111823
Nobody looks at logs :(

OK to start there, but maybe we should use a lease and only whichever
node holds the lease is allowed to send events?  This presumes that
all nodes are configured the same, which might not be true but close
enough?

On Tue, Aug 16, 2022 at 3:10 AM Antonio Ojea ***@***.***> wrote:

[2022-08-16 15:44] jpbetz commented on #111769
I don't think we should block 1.25 on this one. The practical situations are can happen are specific enough that I don't think waiting one more patch release is a big deal. We can fix in 1.25.1 and then backport (in cel-go we are going to backport the fix to the cel-go versions used by 1.24 and 1.23).

[2022-08-16 15:46] aojea commented on #111825
let me try to remember how this works how this works is:

client --- [listener] [portforward] ----- [apiserver] -------- [kubelet][CRI] ------- [containerd/crio] ----- [pod] --- process(psql here)
                     \ kubectl /

the error in the description is the stack trace , and IIUIC the reset by peer is the tunnel opened by crio/containerd inside the pod to postgresql (in this example)

We

[2022-08-16 15:49] HarisBalaji commented on #111871
Hey @JJotah , can I debug this issue?
I am interested.

[2022-08-16 15:50] HarisBalaji commented on #111871
Can you assign me in this issue?

[2022-08-16 15:51] liggitt commented on #111871
Thanks for the issue, this is working as intended. The `secrets` field in the ServiceAccount API object is *only* for listing the names of secrets involved in being mounted into pods. Secret-based service account tokens are no longer automounted into pods in 1.21+, and are no longer auto-generated in 1.24+ (when the beta LegacyServiceAccountTokenNoAutoGeneration feature gate is enabled).

Manually