[2019-07-30 12:38] #44703 closed

[2019-07-30 12:40] adamdougal commented on #77058
Heya, any update on this? This is currently a risk to production services for us.

[2019-07-30 12:50] mzyfree opened #80745 "[kubelet]pods become MatchNodeSelector after reboot master nodes in cluster"
**What happened**:
My K8S Cluster has three masters with a vip.Some pods become matchNodeSelector when I reboot three master nodes at the same time.

**What you expected to happen**:
All pods are running.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy three masters and reboot them at the same time.

**Anything else we need to know?**:
Kubelet ListAndWatch Pod/Node connec

[2019-07-30 13:16] dims commented on #36666
long-term-issue (note to self)

[2019-07-30 14:01] liggitt commented on #80528
this is the flakiest test in the integration suite per http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2019-07-30 14:03] liggitt opened #80748 "TestStartupSequenceHealthzAndReadyz in top 3 flaking integration tests"
**Which jobs are failing**:
pull-kubernetes-integration

**Which test(s) are failing**:
TestStartupSequenceHealthzAndReadyz

http://storage.googleapis.com/k8s-metrics/flakes-latest.json

**Since when has it been failing**:

**Testgrid link**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestStartupSequenceHealthzAndReadyz

**Reason for failure**:

**Anything else we ne

[2019-07-30 14:06] GregSilverman commented on #80237
Hi, the issue ended up being this: https://github.com/projectcalico/calico/issues/2699 ... I think the fix on your end would be to add a check that if the directory exists, then automatically delete it first.

[2019-07-30 14:06] #80237 closed

[2019-07-30 14:52] wdec commented on #72226
/remove-lifecycle stale

[2019-07-30 14:54] zakthan commented on #62382
We are experiencing the same issue with version 1.11.9-docker-1.
If it makes any sense we have 2 enviroments. One is Ubuntu 18.04.2 LTS and the other is CentOS Linux release 7.5.1804.
It happens only at the Ubuntu enviroment.

[2019-07-30 14:55] liggitt commented on #78613
Are you running the conformance test from master after https://github.com/kubernetes/kubernetes/pull/70672 merged? Many of the APIs you listed (apps/v1beta1, apps/v1beta2, extensions/v1beta1 daemonsets,deployments,networkpolicies,replicasets) are no longer served by default.

The quota and namespace controllers watch all resources, so the GET requests are not particularly concerning.

The mygroup.

[2019-07-30 14:58] egernst commented on #44503
Making this more explicit is still desired.

[2019-07-30 15:41] PatrickLang commented on #80534
/assign @bclau

[2019-07-30 15:50] cblecker commented on #78702
/remove-help I don't think we're quite yet at a consensus point, and this isn't just a release thing.

[2019-07-30 15:50] cblecker commented on #78702
/remove-help
I don't think we're quite yet at a consensus point, and this isn't just a release thing.

[2019-07-30 15:53] #78467 closed

[2019-07-30 16:22] inderps commented on #62504
We also have the same problem. Would be awesome if somebody can tell how to debug further?

<img width="1155" alt="Screen Shot 2019-07-30 at 18 22 06" src="https://user-images.githubusercontent.com/1210046/62147037-f5f9d280-b2f6-11e9-856b-faa3dc26abc2.png">

[2019-07-30 16:30] alejandrox1 commented on #79662
Reopen to monitor job
/reopen

[2019-07-30 16:38] imriss opened #80751 "Kubernetes logs with label selector does not work for some labels"
**What happened**:
When retrieving the logs using `kubectl logs -l`, it returns the logs for some of the labels, but it does not return anything for some other labels.

For example:
[code]

The labels of the deployment:
[code]

**What you expected to happen**:
To see the logs when I use the label selector for the `app` label.

**How to reproduce it (as minimally and precisely as possible)**:

**An

[2019-07-30 16:47] udipl commented on #62504
In our case, we reviewed the kubelet logs on the node, which indicated that the pod's entrypoint process was failing. Then we had to look more broadly at **all** the system logs on the node to diagnose that the OS was killing the process because of memory pressure. It turned out that our RAM resource limits were set too low.
It would have been very helpful if that root cause would have been floate

[2019-07-30 16:52] JohnCMcDonough commented on #77121
We're seeing an identical error when deleting a PV.

To give a bit more information, our Azure Premium SSD storage class has a reclaim policy set to retain. We want to be able to delete PVCs without affecting the PVs.

The expected behavior on our end, is that the PV is deleted, and in turn deletes the Cloud provider's provisioned resources. This assumption contradicts what the documentation says

[2019-07-30 16:59] adampl commented on #48912
@glb but Docker _does_ support this:

[code]

[2019-07-30 17:09] #80390 closed

[2019-07-30 17:22] timotheobborges commented on #55405
Hi,
I have the same company standard here (request a default url path [http://app_uri/status] and check if there is a string "OK"). This feature is common in load balancers to check the healthy of the web application. It would be great if it would be implemented in kubernetes Rediness/liveless httpget probe
best regards!

[2019-07-30 17:24] dims commented on #79234
Some input from docker/moby folks https://github.com/moby/moby/issues/39632#issuecomment-516502726

[2019-07-30 17:32] stojan-jovic commented on #62382
In meantime we updated cluster:
```Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.7", GitCommit:"65ecaf0671341311ce6aea0edab46ee69f65d59e", GitTreeState:"clean", BuildDate: "2019-01-24T19:32:00Z", GoVersion:"go1.10.7", Compiler:"gc", Platform:"linux/amd64"}                                                                             Server Version: version.Info{Major:"1", Min

[2019-07-30 17:36] mgdevstack commented on #80194
Yes, we are looking to use `dig` for most of the network testing aspects and having it in agnhost is very useful.

[2019-07-30 17:55] tdensmore commented on #55046
/remove-lifecycle rotten

[2019-07-30 17:57] cblecker commented on #62382
Hi everyone! 👋

This issue is for a specific problem in Kubernetes 1.10. Right now, the upstream Kubernetes project supports the following three versions: 1.13, 1.14, 1.15. If you are experiencing a similar issue under any of those three versions, then please open a new issue and provide all the details requested.

As the specific bug in this issue is resolved and on an unsupported version, I'm go

[2019-07-30 18:03] yuxiangqian commented on #79397
/assign

[2019-07-30 18:06] neolit123 commented on #80751
/sig cli

[2019-07-30 18:06] neolit123 commented on #80745
/sig node

[2019-07-30 18:13] glb commented on #48912
@adampl true, and in [the branch I created to try this out](https://github.com/kubernetes/kubernetes/compare/master...glb:experimental/emptydir-mount-options), it seems pretty easy to extend `emptyDir: { medium: "Memory" }` to set the mount options. This is a rough equivalent to creating a `tmpfs` volume like you showed.

It's even equivalently easy to do the same for `emptyDir: { medium: "HugePag

[2019-07-30 18:14] derekwaynecarr commented on #72828
/milestone 1.16

[2019-07-30 18:14] derekwaynecarr commented on #72828
/milestone v1.16

[2019-07-30 18:21] jingxu97 commented on #79980
So the conclusion is that we only need to fix for ephemeral volumes? Thanks!

On Tue, Jul 30, 2019 at 3:27 AM Jan Šafránek <notifications@github.com>
wrote:

--
- Jing

[2019-07-30 18:40] liggitt commented on #80751
what are the labels on the pods?

[2019-07-30 18:48] imriss commented on #80751
@liggitt Thanks. I think that it was my mistake. At first, I put the `app` label in:
[code]
Now, when I moved it to here, the issue was resolved, and logs appeared:
[code]

[2019-07-30 18:51] liggitt commented on #80751
yes, by default `kubectl logs` looks for pods. you can also do `kubectl logs deployment/testapp` and it will look up the selector from the deployment object and find the right pods for you

[2019-07-30 18:52] #80751 closed

[2019-07-30 19:01] liggitt commented on #80493
Yes. This is part of structural schemas, introduced in 1.15. Metadata validation belongs to the kube-apiserver and must not be redefined within the CRD.

[2019-07-30 19:03] vinaykul opened #80759 "Add Windows support for UpdateContainerResources CRI"
**What would you like to be added**:

1. Currently, startContainer invokes call for platform-specific configuration that allows windows to generate WindowsContainerConfig and WindowsContainerResources. However, this is not available in UpdateContainerResources CRI, which passes LinuxContainerResources that may not be applicable or sufficient for Windows. We need to extend platform-specific config

[2019-07-30 19:04] liggitt commented on #80493
`preserveUnknownFields` is a new field in 1.15. Anything setting `preserveUnknownFields: false` is opting into structural schema validation and must comply with all the structural requirements (see https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#specifying-a-structural-schema)

/close

[2019-07-30 19:04] #80493 closed

[2019-07-30 19:07] vinaykul commented on #80759
/sig windows

[2019-07-30 19:11] tedyu commented on #80741
This is from vendor/google.golang.org/grpc/balancer_v1_wrapper.go

Maybe surface to grpc project ?

[2019-07-30 19:12] Jonnymcc commented on #40224
@arocki7 You mean the ELB idle timeout? Which would imply that while running rollout status the connection could be idle for that time? Doesn't the rollout status command poll for the status of the deployment?

[2019-07-30 19:18] spiffxp commented on #80534
/area conformance

[2019-07-30 19:41] mrunalp opened #80760 "network service e2e tests failing"
**Which jobs are failing**:
CRI-O e2e

**Which test(s) are failing**:
1. Kubernetes e2e suite [sig-network] Services should be able to change the type from ExternalName to NodePort
2. Kubernetes e2e suite [sig-network] Services should be able to create a functioning NodePort service 19s

See link: https://openshift-gce-devel.appspot.com/build/origin-federated-results/pr-logs/pull/cri-o_cri-o/2684/

[2019-07-30 19:41] mrunalp commented on #80760
/sig network

[2019-07-30 19:44] bd commented on #44501
I really have to argue that this resolution is doubly ineffective. First, the documentation does not make it clear that a nameGenerator cannot be used to create jobs via `apply`. It took a full day of work to make it here!

Second, more importantly, it really disrupts the overall yaml workflow to forbid `apply` with nameGenerators. I understand that there is some complexity to handle in the first

[2019-07-30 20:00] BenTheElder opened #80763 "repo infra & depset iteration causing failures"
without upgrading repo infra we get:
[code]

upgrading it in https://github.com/kubernetes/kubernetes/pull/80755 to pick up using `to_list()` gives us:
[code]

/cc @dims @cblecker @javier-b-perez

[2019-07-30 20:00] BenTheElder commented on #80763
/sig testing
/sig release

[2019-07-30 20:33] BenTheElder commented on #80763
and with the flags in https://github.com/kubernetes/kubernetes/pull/80762 lead to:

[code]

[2019-07-30 20:50] #62156 closed

[2019-07-30 21:00] evansheng commented on #70585
+1 @praseodym are you still working on https://github.com/kubernetes/kubernetes/pull/75682?
We (airbnb) would like to test the fix on our clusters

[2019-07-30 21:48] hh opened #80767 "Conformance Tests for AdmissionWebhook"
- [x] write e2e tests for all admission operations
   - [x] https://github.com/kubernetes/kubernetes/pull/81381 (for resource APIs)
   - [ ] https://github.com/kubernetes/kubernetes/pull/82019 (for discovery docs)
   - [apisnoop beta admissionregistration coverage](https://apisnoop.cncf.io/?showUntested=true&showTested=true&showConformanceTested=true&zoomed=category-beta-admissionregistration)
- [

[2019-07-30 21:52] derekwaynecarr commented on #80716
/assign

i will try to prioritize review of the kep in the next couple weeks.  thanks for engaging with the us.

[2019-07-30 21:53] derekwaynecarr commented on #80716
is it possible to open a PR that acts as a delta on the existing huge pages kep so we can iterate on a pr rather than this issue?

[2019-07-30 21:55] liggitt commented on #80767
/sig api-machinery

[2019-07-30 21:56] praseodym commented on #70585
@evansheng I am, but was stuck on a couple of things (see questions in PR comments) — any help would be greatly appreciated!

[2019-07-30 22:07] jennybuckley commented on #55890
Would changing the definition of RawExtension to this help the situation? (adding `json:",inline"`)
[code]
I noticed that this removes Raw from the openapi defintion of it, without changing how it is marshalled or unmarshalled (since we have custom functions for that)

[2019-07-30 22:11] hh commented on #80767
/assign @timothysc

[2019-07-30 22:21] Huang-Wei commented on #80372
`internal` package has implicit [limitations](https://golang.org/doc/go1.4#internalpackages). Although we're sometimes breaking it (e.g. pkg/scheduler/core depends on pkg/scheduler/internal), this is not a pattern we should promote. If we don't gain enough benefits, I'd say leave them in `pkg/scheduler/algorithm` - this may have already been considered in the refactoring lead by @misterikkit.

kub

[2019-07-30 22:25] hh opened #80770 "Identifying Features / API Operations as optional"
createCoreV1NamespacedServiceAccountToken is included core, but is optional and hence can't be a Conformance test.

It would be useful to know the specific API Operations/Kinds that designated feature gates enable on the API Server.

It's currently a manual process to know what operations/endpoints are optional from statically inspecting the kubernetes source or openapi spec at rest.

Other operat

[2019-07-30 22:25] hh commented on #80770
/sig architecture

[2019-07-30 22:25] hh commented on #80770
/assign @timothysc

[2019-07-30 22:29] qiyongxiao opened #80771 "k8s coredns ContainerCreating error"
I use ```kubeadm init``` create an k8s cluster, I found the coredns was always in ContainerCreating. Cannot to be running.

After create an cluster I exec some steps for example:
[code]
Then show the pod status
[code]
When I apply network plugin for flanneld
[code]

I found an topic on 51csdn, it resolve my proble:
[code]
apiVersion: v1
kind: Node
metadata:
  name: kube-master1
spec:
  podCIDR: 10

[2019-07-30 22:50] neolit123 opened #80774 "sig-cluster-lifecycle: best practices for immutable upgrades"
EDIT: please excuse me as this ended up being a bit long, but the TL;DR is "version skew, in-place vs re-place upgrades and cluster topology"

during today's SIG Cluster Lifecycle meeting we had a discussion that covered some aspects of upgrades that tools like kubeadm and kops perform. the discussion started at this timestamp:
https://youtu.be/mTTYQdrYUSM?t=2411

[later in the meeting](https://yo

[2019-07-30 22:50] neolit123 commented on #80774
/remove-kind feature

[2019-07-30 22:54] qiyongxiao commented on #80771
/bug

[2019-07-30 22:58] oomichi commented on #78613
@liggitt

Yeah, the commit of my local environment is https://github.com/kubernetes/kubernetes/commit/69a34f6a6f67de47cb9b72b6ac98e089d301beb3 which contains https://github.com/kubernetes/kubernetes/pull/70672

Yes, right. I had the same question about that. I've checked all e2e code but I cannot find any places which calls beta APIs for them.
I am still investigating that, and the callers seem to

[2019-07-30 22:59] timothysc commented on #80770
/cc @kubernetes/sig-architecture-misc-use-only-as-a-last-resort

There is an issue that we have fields that exist on api objects that only work when certain args are passed the api-server.  One would argue that if they are core api's they should be on by-default, or we should craft some policy around these fields.

/assign @bgrant0607 @liggitt @thockin @smarterclayton

[2019-07-30 23:13] liggitt commented on #80770
The static spec checked into the source tree is for convenience only. The authoritative source is the live discovery doc against a given API. In this case, if the API server was not started with the signing keys required to support the API, it is not enabled at all, and is not included in discovery or openapi.

For this particular API, I'm in favor of progressing it to default enabled, but it is n

[2019-07-30 23:40] BenTheElder commented on #80763
We've rolled back bazel to mitigate for now, but this is still something that needs solving long term.

[2019-07-30 23:55] liggitt commented on #80774
yes. The kubelet assumes it can trust API content to be served from a current API server, and does not do its own defaulting of API fields. When talking to old API servers, that leads to unexpectedly nil fields (at worst) or undefined behavior (for fields whose defaults should be goverened by the API). Making both the API server and the kubelet separately responsible for knowing default behavior a

[2019-07-30 23:57] liggitt commented on #80774
(while not ideal because of the n-1 kubelet) you could achieve immutable control plane nodes with the following configuration:

kubelet: version n-1
apiserver: version n
controllers/scheduler: version n, configured to speak only to the local apiserver

[2019-07-31 00:00] k-toyoda-pi commented on #79686
I will work on
[code]

[2019-07-31 00:01] justaugustus commented on #80546
/assign

[2019-07-31 00:04] bsalamat opened #80775 "Allow Filter plugins of the scheduling framework to identify whether a pod could be schedulable after preemption"
**What would you like to be added:**
`Filter` plugins of the scheduling framework need to indicate whether a pod that is unschedulable on a node could potentially be schedulable if one or more other existing pods are removed from the node. In other words, whether preemption can help make the pod schedulable. For example, a taint filter may return an "unresolvable" infeasibility for a node, because

[2019-07-31 00:10] ahg-g commented on #80775
/assign

[2019-07-31 00:20] cppforlife commented on #10179
we've actually wanted this feature request recently and created https://github.com/k14s/k8s-resource-protection that uses validating webhook. it adds an annotation that specifies allowed actions for a resource.

[2019-07-31 00:50] hex108 commented on #80775
Prefer the first idea. :)

A filter plugin might contains both taint filter and common filter(e.g. resource filter), so the config might not work for these plugins.

[2019-07-31 01:45] farvour commented on #19317
I can't believe this issue still persists and it's a dice roll on what the actual cause is. Perhaps Kubernetes should be a little more specific showing what finalizers it is waiting on? CRDs and other namespaces should NOT cause a namespace deletion to stick. I'm flabbergasted that this is a problem since 1.8.

[2019-07-31 01:52] chiluk commented on #67577
@PaulFurtado first off thank you for the testing.  I'll assume you are running kernel.org 4.14 or the ubuntu 4.14, both of which have 512ac999 in it.  As for fibtest Iterations completed isn't as important as cpu time utilized, as iterations completed can be heavily affected by cpu mhz while running the test (especially in the cloud where I'm not sure how much control you have over that).

[2019-07-31 01:56] liggitt commented on #80774
another possibility is to upgrade control plane nodes in phases, rolling out images which increment one component (or set of components) at a time, e.g.:
* phase 1:
  * apiserver@n
  * controllers/scheduler/kubelet@n-1
* phase 2:
  * apiserver/controllers/scheduler@n
  * kubelet@n-1
* phase 3:
  * apiserver/controllers/scheduler/kubelet@n

each phase gets its own immutable image

nice things about

[2019-07-31 01:56] mikedanese commented on #80535
Kubernetes currently supports two levels of role binding (on the cluster with ClusterRoleBinding, and on a namespace with RoleBinding). To make a slight distinction between how I think an object level role binding *should* act and how `echo 'resourceNames: ["my-widget"]' >> scopedrole.yaml` acts, namespace and cluster bindings do not persist over bound object delete/recreate.

[2019-07-31 02:05] spiffxp commented on #65180
I pushed us to [the magic number of 7 +/- 2](https://en.wikipedia.org/wiki/The_Magical_Number_Seven,_Plus_or_Minus_Two) `kind/` labels so we could avoid an intimidating list of label choices at our contributors.  We are at 8, we could add one more to stay within those bounds.  But why do we need this?

We no longer gate PR's based on the presence of specific kind labels, so I question whether the

[2019-07-31 02:10] idevz commented on #80316
hi, @liggitt what did you mean by

is it like I import "client-go" using `import "k8s.io/kubernetes/staging/src/k8s.io/client-go/kubernetes"` instead of `import "k8s.io/client-go/kubernetes"`?

[2019-07-31 02:24] spiffxp commented on #65180
FWIW, the `kind/` labels used across all repos (shoutouts to the dog emoji)
[code]

The number of repos that happen to have a `kind/test` or `kind/testing` on their own doesn't convince me this is a large pain point
[code]

Same feeling when I look at labels that have the word "test" in them
[code]

[2019-07-31 02:29] spiffxp commented on #80760
/milestone v1.16
/assign @mgdevstack
FYI

Looks like two other release-blocking tests too: https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-slow&width=20
- `[sig-network] ESIPP [Slow] [DisabledForLargeClusters] should work from pods`
- `[sig-network] Services should only allow access from service loadbalancer source ranges [Slow]`

The changes link testgrid gives (https://github.

[2019-07-31 02:44] boxuan666 opened #80781 "Service of kubernetes missing endpoint"
HI, I have a Kubernetes cluster with 3 api-servers configured as a HA cluster, the endpoint of the service "kubernetes" shows the ip address of one apiserver but not 3.  And each time I ran "kubectl get ep kubernetes", it randomly selects one of the apiserver as the endpoint, I understand that it is kind of load-balancing between the apiservers, but it confused some of the monitoring tools in the

[2019-07-31 02:50] max88991 opened #80782 "Add a user parameter when do exec"
**What would you like to be added**:

Add parameter `User` in Kubernetes CRI `ExecRequest`

**Why is this needed**:
In Runtime-Spec, Process has the `User` [definition](https://github.com/opencontainers/runtime-spec/blob/master/specs-go/config.go#L39) ,
considering that the `Exec` operation starts a process at the target location, and Kubernetes CRI is the standard that actually describes the oper

[2019-07-31 02:51] salmaanrizvi opened #80783 "Ability to evaluate multiple HPA metrics with "AND" operator"
**What would you like to be added**:
Currently, multiple metrics are scaled off of an "or" condition, i.e. if either CPU or nginx.net.connections exceed their threshold, scale to ensure the failing condition is met. Ideally, we could only scale if _both_ of those conditions are met.

**Why is this needed**:
Extra resources are created / used unnecessarily if users know their application code requi

[2019-07-31 02:53] idevz commented on #80316
hi, @liggitt
thanks a lot, I did this below, and it work for me:
[code]

[2019-07-31 02:59] s-ito-ts commented on #79686
I will work
[code]

[2019-07-31 03:06] hormes commented on #80690
Thanks for reporting the bug, I will look at #80692 this day later.

In addition, also need to think carefully about whether need to send a bookmark when there are no events at all. @wojtek-t

[2019-07-31 03:27] max88991 commented on #80782
/sig node

[2019-07-31 03:27] draveness commented on #79686
I'll work on the rest

[code]

[2019-07-31 03:31] draveness opened #80784 "Enforce the range of score returned by the score plugin"
**What would you like to be added**:

1. Add a default normalize score function in the scheduling framework.
2. Skip the plugin and log an error when the normalizing phase returns an invalid range of scores.

**Why is this needed**:

Per discussion in https://github.com/kubernetes/enhancements/pull/1178, we should enforce the range of score returned by the scoring plugin.

/sig scheduling
/priorit

[2019-07-31 03:34] hh commented on #79564
@smarterclayton @johnSchnake should we go ahead and start on this or do either of you have an implementation started?

[2019-07-31 03:36] oomichi commented on #79686
@draveness @k-toyoda-pi @s-ito-ts Thanks for raising your hands. All items are fulfilled :-)

[2019-07-31 03:57] PaulFurtado commented on #67577
Yes, we run mainline 4.14 (well, plus the patch set from the Amazon Linux 2 kernel, but none of those patches matter in this case).

512ac999 landed in mainline 4.14.95, and we observed its affects upon upgrading from 4.14.77 to 4.14.121+. It made our memcached containers (very low thread count) go from inexplicable throttling to no throttling, but made our golang and java containers (very high th

[2019-07-31 04:27] phanama commented on #49931
+1

[2019-07-31 04:55] zerkms opened #80789 "Hide secrets exposed as environment variables if an account does not have access to it"
**What would you like to be added**:
If an environment variable was created from a secret (eg as a `secretRef`) and if a current serviceaccount has access to describe pod, yet does not have access to the corresponding secret - it should not be exposed.

I originally posted it as a feature request to the dashboard https://github.com/kubernetes/dashboard/issues/4139

And @floreks created a demo:
[co

[2019-07-31 04:56] zerkms commented on #80789
/sig api-machinery

[2019-07-31 05:44] #80690 closed

[2019-07-31 05:50] hiteshsardana99 opened #80791 "Kube-apiserver going down periodically while adding user based authentication in kubernetes"
I am facing some issues after adding some changes in kube-apisever.yaml file for Access based authentication.

Steps that I have performed :-

1) I have installed v1.15.0 kubernetes on my ubuntu machine ( 16.04 ).

root@stack33:~# kubectl version Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", Bui

[2019-07-31 06:41] singhania commented on #19317
Facing the same issue on Azure kubernetes 1.13.7.

[2019-07-31 07:01] mo-saeed commented on #80365
@feiskyer Any thoughts when the fix can be ready ?

[2019-07-31 07:14] hex108 commented on #80039
I noticed that there is an [evaluation order](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#change-evaluation-order) we need to keep when running plugins. Is this a must-have feature, or can we configure it to yes or no to keep this order?

If there is no evaluation order, we could run these plugins concurrently: `prefiler`, `prebind`,

[2019-07-31 07:18] Huang-Wei commented on #72278
/reopen

I think it's a valid requirement. Let's see if we can get a KEP solving this.

[2019-07-31 07:18] Huang-Wei commented on #72278
/remove-lifecycle rotten

[2019-07-31 07:22] ricky1993 commented on #63677
Any progress for this issue?

[2019-07-31 07:42] max88991 commented on #80782
/assign

[2019-07-31 07:45] mgdevstack commented on #80760
Based on the [log](https://ci.openshift.redhat.com/jenkins/job/test_pull_request_crio_e2e_rhel/5905/testReport/), Service is reachable on `serviceName:servicePort` and `clusterIP:servicePort` but failing to reach on node's IP over nodePort i.e. `127.0.0.1:nodePort`. From the log, it is not clear why its not reachable on node's internal IP.

@mrunalp Could you provide `traceroute` from the CRI-O ba

[2019-07-31 07:47] SataQiu commented on #80791
Thanks for reporting it @hiteshsardana99
I found that if you write the policy content as a single line, it worked.
[code]
Maybe it is a bug. I'll dig into this.

[2019-07-31 07:53] feiskyer commented on #80365
@mo-saeed Would be fixed in v1.16.0

[2019-07-31 08:00] SataQiu commented on #80791
It's deliberately designed like this. You must wirte authorization policy in json line by line format.
Ref: https://kubernetes.io/docs/reference/access-authn-authz/abac/
[code]

[2019-07-31 08:01] SataQiu commented on #80791
/assign

[2019-07-31 08:02] jsafrane commented on #79980
Yes, sorry again about the noise.

[2019-07-31 08:02] SataQiu commented on #80791
/remove-kind bug
/triage support

[2019-07-31 08:08] mo-saeed commented on #80365
@feiskyer Can this be included in other versions mainly 1.14 and 1.15 as well ?

[2019-07-31 08:13] feiskyer commented on #80365
sure, would cherry pick when it's finished

[2019-07-31 08:45] tatsuhiro-t opened #80797 "Broken kubectl completion with override flags"
**What happened**:

With kubectl v1.16.0-alpha.2, completion  with override flags fails.
`kubectl --kubeconfig=foo -n` then hit TAB will produce error "resource type must be specified"

**What you expected to happen**:

It must show the namespaces without error.

**How to reproduce it (as minimally and precisely as possible)**:

With kubectl v1.16.0-alpha.2, `kubectl --kubeconfig=foo -n` then hit

[2019-07-31 08:47] tatsuhiro-t commented on #80797
/sig cli

[2019-07-31 09:03] superbrothers commented on #80797
I also reproduced this bug with the following steps:

[code]

[2019-07-31 09:03] dtaniwaki commented on #80797
I'm fixing it.

[2019-07-31 09:26] yue9944882 commented on #80789
/sig cli

[2019-07-31 09:32] mgdevstack commented on #80760
`execPod := e2epod.CreateExecPodOrFail()` seems flaky to me. Most of time execPod starts running and might be terminating immediately after some time which causes this issue.

[1.] e2e is failing as `acceptPod := e2epod.CreateExecPodOrFail(cs, namespace, "execpod-accept", nil)` might have terminated and so no PodIP leading to invalid `svc.Spec.LoadBalancerSourceRanges`.
https://github.com/kubernet

[2019-07-31 09:36] justaugustus commented on #80546
@cblecker -- [We don't have a policy yet](https://github.com/kubernetes/kubernetes/issues/80546#issuecomment-515386171), but we'll get something drafted. Given that you've got experience here, how can we ensure we're "do[ing] the right thing"?

The immediate things that come to mind are:
- bump version in dependencies.yaml
- update files referenced in `refPaths`
- communicate w/ and get approval f

[2019-07-31 09:47] krzysied opened #80800 "Scheduler benchmark is failing"
**Which jobs are failing**:
ci-benchmark-scheduler-master

**Which test(s) are failing**:
Benchmark

**Since when has it been failing**:
All runs in testgrid are red so at least since 07/17/2019

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-benchmarks#scheduler

**Reason for failure**:
W0731 08:05:43.721] make[1]: *** [test] Error 1
W0731 08:05:43.721] !!! [0731 08:05:43] Call tree:

[2019-07-31 09:48] krzysied commented on #80800
/sig scalability
/sig scheduling

[2019-07-31 09:49] krzysied commented on #80800
/cc @oxddr

[2019-07-31 09:55] agowa338 commented on #53533
Going to drop this here as another reference for readers of this issue: https://chrisdown.name/2018/01/02/in-defence-of-swap.html

[2019-07-31 10:58] xilu0 commented on #80738
I knew it,  the IP is configured for external Ip in service.
![image](https://user-images.githubusercontent.com/23609955/62206629-d03aff00-b3c4-11e9-931e-ee2f11c55b39.png)

[2019-07-31 10:58] #80738 closed

[2019-07-31 11:06] yastij commented on #66181
/remove-lifecycle stale

[2019-07-31 11:19] JulienBalestra commented on #77259
/remove-lifecycle stale

[2019-07-31 12:00] mm4tt commented on #80212
The resource usage issues were fixed in https://github.com/kubernetes/perf-tests/issues/694
I'm closing this one, while there was some increase in api-call-latency for some requests it was really minor and still well withing scalability SLOs. It was visible only in 100 node clusters and didn't affect any bigger clusters. What's more we don't have logs for these runs anymore, so debugging it would

[2019-07-31 12:00] #80212 closed

[2019-07-31 12:04] cann0nf0dder opened #80807 "Failed to update stats for container "/system.slice/kubelet.service" - coreos"
**What happened**:

There's a lot of errors in the logs (one each minute):
[code]

**Anything else we need to know?**:
Related to #63804, #56850, looks like it should have been fixed in the past but it's not?

**Environment**:
- Kubernetes version (use `kubectl version`):

Some clusters on K8S 1.13.7 & some on 1.14.4

[code]
OS:
[code]
I believe both kubelet and docker running cgroups driver cgrou

[2019-07-31 12:06] cann0nf0dder commented on #80807
/sig bugs

[2019-07-31 12:10] cann0nf0dder commented on #80807
/sig node

[2019-07-31 12:27] ahg-g commented on #80775
I don't think we want to encourage this pattern, a plugin should be implementing a single feature.

[2019-07-31 12:28] #80014 closed

[2019-07-31 12:31] mattjmcnaughton commented on #80745
Hi @mzyfree ! Thanks for the detailed description of your issue. It looks like you are currently using version 1.11.5 of k8s, which is no longer supported. Would it be possible for you to upgrade to 1.13, 1.14, or 1.15? I think that will make it easier for the community to help you debug (and your issue may have even already been fixed).

[2019-07-31 12:32] mattjmcnaughton commented on #80782
Could you share more about the ramifications of the k8s CRI not including the parameter in `ExecRequest`?

[2019-07-31 13:09] bskiba commented on #80783
@josephburnett for visibility

[2019-07-31 13:10] zmays commented on #50375
+1

[2019-07-31 13:11] bradhoekstra commented on #69362
I've had a preemptible GKE cluster (1.12.9-gke.7) running for almost a week and have not been able to reproduce this issue.

For those who've experienced this issue, does it still happen on newer versions of Kubernetes? On average, how many days before this issue is seen?

A possible solution is to check that the Node [bootIDs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#n

[2019-07-31 13:14] BrandonStiff commented on #75175
I have the same issue.  I was able to work around it by adding the username and password in plain text to the vsphere.conf file.  The secret *did* work before, but definitely does not now.

I believe the cause for us was upgrading K8s from 1.11.2 to 1.13.4.

[2019-07-31 13:15] ahg-g opened #80808 "Improve scheduler logging"
**What would you like to be added**:
1) Increase the log level of info logs to "v=2" when the scheduler [adds](https://github.com/kubernetes/kubernetes/blob/8c8c4113f045a00bee611594e402dee07600812b/pkg/scheduler/internal/cache/node_tree.go#L93) or [deletes](https://github.com/kubernetes/kubernetes/blob/8c8c4113f045a00bee611594e402dee07600812b/pkg/scheduler/internal/cache/node_tree.go#L113) a node

[2019-07-31 13:15] ahg-g commented on #80808
@congliu1 will consider this assigned to you.

[2019-07-31 13:41] zouyee commented on #80745
/assign

The problem also exists in the 1.13.2

[2019-07-31 13:41] liu-cong commented on #80808
/assign

[2019-07-31 13:50] saschagrunert opened #80810 "Hostport Manager is not IPv6 ready"
**What happened**:

When creating a pod sandbox which contains host port mappings, then the hostport_manager.go will reject any non IPv4:
https://github.com/kubernetes/kubernetes/blob/8c8c4113f045a00bee611594e402dee07600812b/pkg/kubelet/dockershim/network/hostport/hostport_manager.go#L85-L87

**What you expected to happen**:

That the port gets added independently of the IP version.

**How to repr

[2019-07-31 13:51] johscheuer commented on #80771
Hi could you check the status of the node `kubectl get nods -o wide` if the node is not in the state `Ready` CoreDNS won't be scheduled. Also it seems like you already installed `canal` as network plugin but it encountered some errors and won't start (you can use `kubectl logs` to see what the error is).

If this is only a test setup (I assume a single node setup) follow these steps: https://kuber

[2019-07-31 13:53] saschagrunert commented on #80810
/sig networking

[2019-07-31 13:53] zouyee commented on #80464
/close

[2019-07-31 13:53] #80464 closed

[2019-07-31 13:53] saschagrunert commented on #80810
/sig node

[2019-07-31 14:04] johnSchnake commented on #79564
I don't have an implementation started; 👍 to starting on it if you have the time.

[2019-07-31 14:06] #77492 closed

[2019-07-31 14:25] Kent-H commented on #47368
/remove-lifecycle stale

[2019-07-31 14:39] toadjaune commented on #76957
Still trying to find time to work on this, my previous setup apparently contained errors leading to wrong conclusions.

[2019-07-31 14:46] ahg-g opened #80812 "Add a metric to track the number of nodes filtered by the scheduler because of taints"
**What would you like to be added**:
A metric to the scheduler that tracks the number of nodes filtered because of taints

**Why is this needed**:
Helps tracking how taints are impacting a workloads.

/sig scheduling
/priority important-soon

[2019-07-31 14:46] ahg-g commented on #80812
/assign @liu-cong

[2019-07-31 14:51] liggitt commented on #80581
In some cases, it is expected that new files will be group-writeable.

Using os.Create() (or detecting default permissions at cache instantiation time) would honor the user's umask setting.

[2019-07-31 15:44] liucimin commented on #65743
/reopen
/remove-lifecycle rotten

[2019-07-31 15:55] #80797 closed

[2019-07-31 15:56] igcherkaev commented on #72102
Is Kubernetes 1.13 or 1.14 going to get updated with the fixed grpc lib? Or it's going to 1.15 only?

[2019-07-31 15:57] hiteshsardana99 commented on #80791
@SataQiu  I have used the policy content file in single file.  Actually I am able to authenticate user by adding this policy. My problem is kube-apiserver is going down periodically because cordns pods are not running properly. Coredns pods remains in crashloopbackoff. For few seconds it comes in running state .

[2019-07-31 16:36] gyuho commented on #72102
@igcherkaev We are planning to backport the fix to etcd 3.3 after etcd 3.4 release. Then, kubernetes can pick up the latest etcd 3.3.

[2019-07-31 16:48] Huang-Wei commented on #73698
/help

[2019-07-31 16:56] msau42 commented on #80717
/assign
https://github.com/kubernetes/kubernetes/pull/80816 opened to fix the test

[2019-07-31 17:05] liu-cong commented on #80812
/assign

[2019-07-31 17:09] #71704 closed

[2019-07-31 17:19] ahg-g commented on #80775
/assign @alculquicondor

[2019-07-31 17:24] adampl commented on #48912
@glb Yes, I agree, this should be more generic.

[2019-07-31 17:25] Philbewan opened #80818 "Add ability to "docker commit" from a running container"
**What would you like to be added**: We would like to be able to docker commit a running container to a new layer that is based upon the container's docker image.  The new layer could optionally be pushed to the same repo, or a different one designated in the yaml for the Pod.

For example - say I have a Running Pod called: "ide-juypter-01" - and I've installed a lot of libraries, etc. onto its ep

[2019-07-31 17:29] cblecker commented on #80546
I think each one of these might need a little bullet point list. Like if the dependencies.yaml points to a markdown file somewhere with a TOC with headings that match each one of the dependencies, with a list of what you need to do. CoreDNS is probably diff than golang, for example

[2019-07-31 17:49] bsalamat commented on #80775
+1

I agree with ahg-g that this is not a great design pattern for plugins, but even in such cases a plugin can always be conservative and indicate that preemption can resolve infeasibility of a node. Obviously, this will be less efficient compared to a case that a plugin can indicate resolvability for each pod.

[2019-07-31 17:52] justaugustus commented on #80546
@cblecker -- that's the plan. It'll live in `k/sig-release/release-engineering/{managing,updating,external}-dependencies.md`, with a link somewhere in `k/community/contributors/foo`.

There's still some archaeology to do before I can write something tangible though...

See as examples:
### CNI
- https://github.com/kubernetes/kubernetes/pull/78819#issuecomment-500363068
- https://github.com/kuberne

[2019-07-31 17:57] justaugustus commented on #80546
(for the above, I'm trying to prove the "right" way to bump CNI and document it, before moving on to CRI.)

[2019-07-31 17:58] ahg-g commented on #80775
I am also leaning towards option 1, I just hope that we can somehow make it easy to track which filters are resolvable by preemption and which are not.

[2019-07-31 18:07] liggitt commented on #80258
Figured it out. The test is running fine. The test log output is not able to be parsed by the junit consumer, so the job thinks the test failed.

Examples:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1156611596072521728 thinks TestWebhookV1beta1/settings.k8s.io.v1alpha1.podpresets/delete failed

Actual test output:
[code]

https://prow.k8s.io/view/

[2019-07-31 18:08] cblecker commented on #80546
fantastic! yeah, that's awesome. but yeah, otherwise your [list](https://github.com/kubernetes/kubernetes/issues/80546#issuecomment-516775698) (along with the announce to k-dev when it makes sense) would be the other things I'd think of

[2019-07-31 18:13] justaugustus commented on #80546
SGTM!

[2019-07-31 18:13] BenTheElder commented on #80258
go has a structured `go test` output format now right (json?), are we using that yet?

[2019-07-31 18:15] justaugustus commented on #80546
Tracking issue for this: https://github.com/kubernetes/sig-release/issues/601

[2019-07-31 18:17] msau42 opened #80819 "How to deprecate/migrate scaleio volume plugin"
Continuing discussion from https://github.com/kubernetes/kubernetes/pull/80321#issuecomment-516921824

Technically because scaleio volume plugin is in the core/v1 API, we cannot remove it until core/v2, which is not coming anytime in distant future.

That brings up the question of how we can consolidate in-tree + CSI driver implementations into one, and migrate users off of in-tree.  There are two

[2019-07-31 18:22] liggitt commented on #80258
we are not, and we should.

[2019-07-31 18:23] liggitt commented on #80258
I don't think jstemmer/go-junit-report supports json output yet

[2019-07-31 18:29] neolit123 commented on #73108
there are plans to request security audit funding from the CNCF for kubeadm, but the process can be quite slow.
cc @randomvariable

/lifecycle frozen

[2019-07-31 18:29] neolit123 commented on #73108
/assign

[2019-07-31 18:33] glb commented on #48912
Because I couldn't leave it alone: today I learned that yes, you can bind-mount a directory to itself with options, so for example:

[code]

so it would be possible to make `emptyDir` work with `mountOptions` for the default medium case where it mounts a directory instead of `tmpfs` / `hugepages`.

I still don't think that's the right solution here... the right answer feels like having mount optio

[2019-07-31 18:35] bsalamat commented on #80528
cc/ @msau42

[2019-07-31 18:39] msau42 commented on #80528
@kubernetes/sig-storage-test-failures
/assign @msau42 @cofyc

[2019-07-31 18:41] wongma7 commented on #48912
mount options in volumeMounts was shot down for security reasons. For example, there is some option that can halt the node, `error=panic`?

[2019-07-31 18:43] glb commented on #48912
@wongma7 yeah, that would be bad. maybe there needs to be some allow list, perhaps this is what was meant in earlier comments about `PodSecurityPolicy`...

[2019-07-31 18:46] msau42 commented on #80528
Is there a way to get test results history? I can only see the last 3 days here:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=VolumeProvision&width=5

[2019-07-31 18:57] neolit123 commented on #80771
please install only a single CNI plugin.

also have a look at the troubleshooting doc for kubeadm:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/
there are some entries about coredns.

/remove-sig network
/remove-kind bug
/triage support

[2019-07-31 19:05] BenTheElder commented on #80258
... it seems we've already been down this path before https://github.com/jstemmer/go-junit-report/issues/66 🤔
maybe an alternative tool?

[2019-07-31 19:06] BenTheElder commented on #80258
possibly https://github.com/gotestyourself/gotestsum ?

[2019-07-31 19:08] liggitt commented on #80258
looks like https://github.com/gotestyourself/gotestsum/issues/19 does what we want

[2019-07-31 19:18] odinuge commented on #80716
I have also done some thinking about this, and agree with you that it would be a nice feature.

In order to do this, I also think we have to rethink the way we mount the huge page volume, since volumes are a part of the pod spec and not the container spec. Today it is implemented using an emptyDir with medium `HugePages`. Since a pod only can use on huge page size at a time, and the requested huge

[2019-07-31 19:18] liggitt commented on #80258
I'm throwing together a quick test to see how easy it is to switch to that

[2019-07-31 19:37] ddebroy commented on #80819
Adding a pointer to the Dell EMC VxFlex OS (formerly named Dell EMC ScaleIO) CSI driver: https://github.com/dell/csi-vxflexos if the CSI migration route is chosen.

[2019-07-31 19:43] astripei70 commented on #80819
@msau42 Appreciate for opening this issue. We will get back to you on this within a few days. Please let me know if this urgent.

[2019-07-31 19:48] spiffxp commented on #57667
/area github-management

[2019-07-31 19:50] taojwmware commented on #78535
One notification URL should work fine. Can you give me details on the data model for the status data to be published?

[2019-07-31 19:54] ricardbejarano opened #80823 "Kubernetes deletes all ServicePort items with same "port" value when deleting one in a Service's "ports" array"
### What happened:

I deleted a `ServicePort` item from a `Service`'s `ports` array and all other `ServicePort` items with the same `port` value were deleted too.

### What you expected to happen:

I only expected one `ServicePort` to be deleted.

### How to reproduce it (as minimally and precisely as possible):

#### Manifests

`misbehaving-service.A.yml`:

[code]

`misbehaving-service.B.yml` (la

[2019-07-31 19:56] ricardbejarano commented on #80823
@kubernetes/sig-api-machinery-bugs

[2019-07-31 20:06] ehashman commented on #69825
/remove-lifecycle stale

[2019-07-31 20:55] #75838 closed

[2019-07-31 21:08] rmb938 opened #80826 "Kubelet stacktrace after upgrading to 1.15.1"
**What happened**:

Upgraded Kubelet from 1.14.1 to 1.15.1 and it occasionally spits out the following stack trace

[code]

It also seems like the Ready condition on pods were never set to True even after passing health checks, a restart of the kubelet service seemed to fix that.

**What you expected to happen**:

No stack trace

**How to reproduce it (as minimally and precisely as possible)**:

U

[2019-07-31 21:09] rmb938 commented on #80826
/sig node

[2019-07-31 21:13] rmb938 commented on #80826
There always seems to be the same logs right before the stack trace, seems like it's related to the CSI?

[code]

Did something change with how CSI plugins are handled in 1.15.1? This didn't happen in 1.14.1.

[2019-07-31 21:16] rmb938 commented on #80826
I also see these logs every now and then.

[code]

[2019-07-31 21:29] davidz627 commented on #80819
see doc for details on migrating a in-tree plugin to driver: https://docs.google.com/document/d/16h9vLLbqQCN83KnlPtn7qL_GB1TYwhWkoA5G4FS3KBI/edit?usp=sharing

[2019-07-31 21:34] lavalamp commented on #80823
This is a known bug & we're waiting on server side apply to fix.

[2019-07-31 21:44] JoeyLuffa opened #80828 "kubectl wait unable to not wait for service ready"
I am trying to use `kubectl wait --for=condition=ready service/<service-name> --timeout=60s` to wait a service to be ready. However, it doesn't work. And I have to switch to `kubectl wait --for=condition=ready pod -l app=<app-name> --timeout=60s`.

Any commands I can use to wait for a service to be ready with `kubectl wait` command? Thanks.

@kubernetes/sig-usability-feature-requests

[2019-07-31 21:47] JoeyLuffa commented on #80828
@kubernetes/sig-usability-feature-requests

[2019-07-31 21:50] tedyu commented on #80826
Looks like this should have been fixed by commit cada0270fe195f1664bda43befc9547e454c7817:

Fix nil pointer dereference in metrics value calculator.

[2019-07-31 21:57] johnSchnake commented on #78535
That is one, slightly TBD area.

The reporter in the test framework has a bunch of data and I'm not sure what we exactly Sonobuoy may want from any given plugin (not just the e2e plugin). I don't want this implementation to be overly Sonobuoy specific or overly e2e specific.

Will update when something more clear is pinned down.

[2019-07-31 22:03] msau42 commented on #80819
@davidz627 can we publish this doc somewhere more easily accessible? (like under our sig storage community page?)

[2019-07-31 22:07] liggitt commented on #80789
it's unclear what this is asking for. kubectl describe does not show the secret value in the situation you describe (`MY_SECRET_VALUE:  <set to the key 'username' in secret 'secret-env'>     Optional: false` is omitting the value)

[2019-07-31 22:09] liggitt commented on #80818
/remove-sig usability
/sig node

[2019-07-31 22:11] liggitt commented on #80782
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/30656

see discussion in that issue

/close

[2019-07-31 22:11] #80782 closed

[2019-07-31 22:24] rmb938 commented on #80826
Yup I saw that as well, it seems like it didn't make it into 1.15 though...

[2019-07-31 22:27] rmb938 commented on #80826
Seems like #80642 will fix that.

[2019-07-31 22:29] dsboulder commented on #30784
As a newer k8s user, I just ran into this issue. I couldn't figure out where my group mappings were breaking down from LDAP => OIDC provider => K8s RBAC "group" subjects => ClusterRoleBindings. I eventually figured out I was using the wrong part of a JWT token for groups, but I did look around for a way to check my groups first and couldn't find an endpoint or CLI command (though I did appreciate

[2019-07-31 23:08] robottaway commented on #79492
@zouyee we are still working on it. There was a bug in EKS with supplementary address names which meant we could not access API server via private IP. We had to wait for fix which just dropped. We are going to be upgrading and creating many 1.13 instances in next few weeks. I will report back with info.

[2019-07-31 23:16] zerkms commented on #80789
![Screenshot from 2019-08-01 11-14-06](https://user-images.githubusercontent.com/302295/62254529-92ce8400-b44d-11e9-81ac-5a80992adbb6.png)

See the screenshot from kubernetes dashboard: here if you click on an "eye" icon you get the secret plaintext, while the account does not have any access to secrets whatsoever.

Indeed, my example does not demonstrate the problem (I did not notice that, sorry)

[2019-07-31 23:27] 007 commented on #45386
Ref https://github.com/linkerd/linkerd2/issues/2843 as well, essentially any service mesh that does auto-injection magic is going to fail unless this can be done per-container.

[2019-07-31 23:29] liggitt commented on #80789
Yes, that would be a question for the dashboard component

/close

[2019-07-31 23:29] #80789 closed

[2019-07-31 23:30] zerkms commented on #80789
@liggitt well, it would not: if dashboard can obtain that info using an account token that does not have access to secrets - it means they leak somewhere.

[2019-07-31 23:31] liggitt commented on #80789
All API methods require authorization. Are you logged into the dashboard as a user that has secret access? If so, the dashboard makes API requests using the API credentials you log in with.

[2019-07-31 23:31] zerkms commented on #80789
I'm logged as a user that DOES NOT have any secrets access (not listing or reading).

[2019-07-31 23:33] liggitt commented on #80789
The dashboard also has its own API credentials, though I didn't think those were used by the dashboard to fetch data exposed to users. If they are in this case, that is also an issue for the dashboard component

Let's move this issue to that component and get more details about the dashboard configuration and permissions.

[2019-07-31 23:56] #80504 closed

[2019-08-01 00:16] #74864 closed

[2019-08-01 00:26] tamalsaha commented on #76789
/remove-lifecycle stale

[2019-08-01 01:10] logicalhan commented on #80748
I'll investigate.

[2019-08-01 01:19] raravena80 commented on #68981
/remove-lifecycle stale

[2019-08-01 01:20] #80258 closed

[2019-08-01 01:36] rmweir opened #80836 "Azure Disk fails when reference storage class with no account type"
**What happened**:
When creating an azure disk PVC, an error will be received if it references a storage class that is of kind "shared" and has no "storageaccounttype" value. This occurs in newer versions (1.12+). This is because when making a storage account, Kubernetes now passes on the empty value, which is not a valid value for the storage account parameter. Kubernetes used to detect the empty

[2019-08-01 01:37] draveness commented on #78832
/unassign

The original PR was superseded by @BobyMCbobs 's #80787

[2019-08-01 01:41] jingxu97 opened #80838 "Windows container reports wrong container log usedbytes"
While testing windows container disk usage matrices, noticed that the reported log usage of a container is wrong. It actually shows the root file system disk used bytes.

{
 "node": {
  "nodeName": "e2e-test-windows-node-group-h3bt",
  "systemContainers": [
   {
    "name": "pods",
    "startTime": "2019-08-01T00:53:54Z",
    "cpu": {
     "time": "2019-08-01T00:53:54Z",
     "usageCoreNanoSeconds

[2019-08-01 01:42] jingxu97 commented on #80838
cc @yujuhong

[2019-08-01 01:46] qiyongxiao commented on #80771
This links I already reads it. Cannot resolve errors

[2019-08-01 01:51] ricardbejarano commented on #80823
Oh, great!

Do you have a PR or something I can track the issue's lifecycle with?

[2019-08-01 01:57] liggitt commented on #74960
sweeping issues marked critical-urgent... the linked testgrid appears green. can this be closed?

[2019-08-01 01:58] liggitt commented on #79720
/priority important-soon

[2019-08-01 02:02] liggitt commented on #12208
moved to https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md#queuing / https://github.com/kubernetes/enhancements/issues/1040

/close

[2019-08-01 02:02] #12208 closed

[2019-08-01 02:18] kitianFresh opened #80839 "Why kube-apiserver request itself when some replicas of api-server down?"
When i shutdown two replicas of three api-server to do downtime drill， i found the left one api-server was requested by itself from 127.0.0.1:34774 and requests become more, why api-server request itself on localhost?

    I0731 20:06:50.640882  180052 wrap.go:42] GET /api/v1/secrets?limit=500&resourceVersion=0: (4.754997ms) 200 [[kube-apiserver/v1.11.3 (linux/amd64) kubernetes/0ad704e] 127.0.0.1:

[2019-08-01 02:28] max88991 commented on #30656
@liggitt It's been three years since this topic started, any conclusions?

[2019-08-01 02:34] davidxia commented on #30656
I'll write a KEP real soon.

[2019-08-01 02:45] rjaini opened #80840 "Update Azure cloud provider code to support ADFS for Azure Stack"
**What would you like to be added**:
We need to enhance Azure cloud provider code to support both AAD and ADFS authentication.

**Why is this needed**:
On Azure Stack customer can have two type of deployment
1. AAD
2. ADFS.

[2019-08-01 02:49] rjaini commented on #80840
/sig azure

[2019-08-01 02:49] rjaini commented on #80840
/assign

[2019-08-01 03:08] #79901 closed

[2019-08-01 03:10] spiffxp commented on #74960
/close
agree this no longer seems critical-urgent, flake rates are well under the rates mentioned in description, and lower than rates mentioned mar 14

for posterity, testgrid.k8s.io currently says:

[2019-08-01 03:10] #74960 closed

[2019-08-01 04:00] anguslees commented on #69799
/remove-lifecycle rotten

[2019-08-01 04:45] AnjanaAK commented on #80298
As I mentioned, Changing the tcp keepalive timeout of nodes didn't help as the pods still kept the default values. So i changed the all the pod's sysctl values via init containers. After that, The problem solved to an extent. But still connection between 2 of the pods have timeout after 15 min.

[2019-08-01 05:36] #80352 closed

[2019-08-01 05:59] mzyfree commented on #80745
@mattjmcnaughton
The problem maybe exists in v1.15.0,I read the 1.15.0 kubelet code and the order does not change.But I haven't done any test to verify it.

[2019-08-01 06:01] #76024 closed

[2019-08-01 06:33] scottilee commented on #78901
@justinsb have you been able to take a look at this?

[2019-08-01 06:38] aojea commented on #80810
/assign

[2019-08-01 06:39] aojea commented on #80198
@saiyan86 should we close this?

[2019-08-01 06:55] saschagrunert commented on #80810
We should consider that in dual stack mode the rejection would make sense, but if we run a sandbox in IPv6 mode only then the hostport mapping could apply as well, right?

[2019-08-01 07:23] gertcuykens commented on #66994
/remove-lifecycle stale

[2019-08-01 07:35] lmdaly commented on #80716
+1 on enhancing this feature and to take advantage of the upcoming Topology Manager

[2019-08-01 08:47] gitnik commented on #30656
I am not sure if this solution has been mentioned before but what we did as a workaround is have all our containers include a script that'll log you in as the correct user. Plus a motd:

Dockerfile:
[code]
motd.sh:
[code]

[2019-08-01 09:04] vitality1987 opened #80853 "pvc cinder volumes with subPaths mounted to incorrect pvc mount points"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I created a StatefulSet with two Cinder volumes and mounted them in multiple subPaths. At first this was working as expected.

The subPaths were mounted correctly in the pod:
[code]

And the volumes on the worker node:
[code]

Then I scaled the StatefulSet multiple times down and up again:
[code]

This resulted in incorrec

[2019-08-01 09:06] vitality1987 commented on #80853
@kubernetes/sig-storage

[2019-08-01 09:25] #74718 closed

[2019-08-01 10:02] mkumatag commented on #69358
/remove-lifecycle stale

[2019-08-01 10:09] craigbox commented on #66811
https://twitter.com/dave_universetf/status/1156732598678253573

Quoting from Dave:

Case in point of k8s's "choreography" design making things suck: 1-replica deployment covered by a minAvailable=1 pod disruption budget blocks node drain.

That makes sense, right? I mean, I said "have at least 1 available", but there's only 1 replica, so it can't kill it. Mission accomplished!

A smarter system wo

[2019-08-01 10:59] luksa opened #80855 "Confusing message in kubectl get when no cluster-scoped resources found"
**What happened**:
When running `kubectl get <cluster-scoped resource kind>` and no resource is found, kubectl returns `No resources found in mynamespace namespace`, which is confusing, since we're trying to list instances of a *cluster-scoped* resource.

**What you expected to happen**:
When listing cluster-scoped resources, the message should either be
[code]
or
[code]

**How to reproduce it (as

[2019-08-01 11:01] luksa commented on #80855
/sig cli

[2019-08-01 11:04] alvaroaleman commented on #66811
@craigbox Do you also have a design in mind on how to solve this problem?

[2019-08-01 11:10] aojea commented on #80810
/sig network

[2019-08-01 11:12] aojea commented on #80810
I think that it shouldn't reject any based on the ip family.

[2019-08-01 11:16] clux commented on #7856
If `.status.conditions` is the good solution to use.. how should controller writers proceed when designing and updating conditions?

Just simple stuff like trying to `PATCH` an individual `.status.conditions` entry seems impossible due to the vector structure:

- merge patch won't work (merging a vector would blat other entries)
- json patch doesn't support this either afaikt (cannot replace array

[2019-08-01 11:18] saschagrunert commented on #80810
I agree, but in dual stack mode we would not be able to open the port twice for the same interface.

[2019-08-01 11:28] aojea commented on #80810
:thinking: don`t know if I understand your concern, but this will open a port in a different IP address, there is no collision if you open a port in 5.5.5.5:80 and [db0:23::2]:80, right?

[2019-08-01 12:06] annkara commented on #75981
@Myslik Seeing [this pull request](https://github.com/kubernetes/kubernetes/commit/dd9ae9a1d2ab5654c62d83371bd1f53965bff1e6#diff-f23cc6c004fbd8a713f8465465142ab8), I think this issue will be solved at the next release.

[2019-08-01 12:18] adampl commented on #48912
Yep, I don't like the idea of ditching useful options for security reasons. The dangerous options should be disallowed by default, but possible to allow whichever options the cluster admin deems appropriate.

[2019-08-01 12:44] saschagrunert commented on #80810
Yes, correct. Sorry for the confusion.

[2019-08-01 12:47] craigbox commented on #66811
I was just quoting @danderson.  He seemed to offer options and may offer more if summoning him directly works!

[2019-08-01 12:55] bg-chun commented on #80716
Regarding Memory Manager KEP, my original thought was a writing a single KEP that covers 1) enhancing current hugepage feature and 2) proposing new Memory Manager.

But it seems that updating exist hugepage KEP and writing KEP for Memory Manager is the better way(as @derekwaynecarr mentioned above).

Now, i'm working to migrate "hugepages content" to original hugepage KEP.
I guess it will be done

[2019-08-01 12:59] krzysied opened #80857 "Scalability tests - Increased lease PUT latency"
**Which jobs are failing**:
There job aren't failing, but latency has visible increased.
ci-kubernetes-e2e-gce-scale-performance
ci-kubernetes-kubemark-gce-scale

**Which test(s) are failing**:
Density + load test

**Since when has it been failing**:
2019-07-29 23:11 CEST

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-performance
https://testgrid.k8s.io/sig-scalab

[2019-08-01 12:59] krzysied commented on #80857
/sig scalability

[2019-08-01 13:00] krzysied commented on #80857
Based on kubemark 5000 runs the PR scope that caused this issue is https://github.com/kubernetes/kubernetes/compare/c1d2ac43e...3be827e91

[2019-08-01 13:14] wojtek-t commented on #80857
If we're sure about the scope, the I'm almost sure it must be one of these two PRs:
https://github.com/kubernetes/kubernetes/pull/80429 [though it should be no-op]
https://github.com/kubernetes/kubernetes/pull/77561

@wenjiaswe - [since the increase here is really significant]

[2019-08-01 13:17] benmoss commented on #74674
@pjh any hope of this for 1.16? It's unfortunate for kubelet to be relying on a non-standard Powershell module

[2019-08-01 13:35] yue9944882 commented on #80823
please check the feature on the offical doc site https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply

[2019-08-01 13:44] ricardbejarano commented on #80823
Alright, thanks!

I'm closing as this is a well-known issue on it's path to be fixed.

[2019-08-01 13:44] #80823 closed

[2019-08-01 13:51] arocki7 commented on #40224
@Jonnymcc Unfortunately, `rollout status` didn't do a poll for every few seconds - which is why it fails.

[2019-08-01 14:08] dims commented on #72102
@gyuho Can we please wrap up the backport (to etcd 3.3) within the next week or two? Please see timeline for 1.16 ( https://github.com/kubernetes/sig-release/tree/master/releases/release-1.16#timeline ) We need to have sufficient soak time for this change in k/k.

[2019-08-01 14:13] jfbai commented on #76820
I encountered the same issue, and fixed it by `yum update` . But in my case, `yum update` finally upgraded 600+ packages, it may introduce risks in production. I optionally update systemd, and it works as well.

Old version: `219-30.el7_3.9`
New version: `219-62.el7_6.9`

I guess it is a bug in `219-30.el7_3.9`.

In [runc](https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/sys

[2019-08-01 14:51] thockin commented on #32457
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

@yguo0905 does this fit your purvey?

[2019-08-01 15:14] sdarwin commented on #65937
I encountered the same error "waiting for a volume to be created, either by external provisioner "example.com/aws-efs" or manually created by system administrator" .  The solution, from the README file https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs

"""
[code]
You will need to create the directory you use for `path:` on your EFS file system first or the efs-provisione

[2019-08-01 15:15] zouyee commented on #15195
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-08-01 15:15] liggitt commented on #48912
There was significant discussion around this when introducing mount options in https://github.com/kubernetes/community/pull/321#issuecomment-279822350

The resolution was that mount options would only be supported for PV/PVC volume sources, not inline pod volumes.

[2019-08-01 15:17] #80840 closed

[2019-08-01 15:39] mpucholblasco commented on #78164
Hello,
we are having the same problem here, but with kubernetes 1.13.

In our case, yes, we are using `aws-vpc-cni` because we are on EKS.

Any idea about the cause?

Thanks!

[2019-08-01 15:50] humblec opened #80865 "Invoke MetricsProvider in CSI for `block` Volume Mode PVCs"
The CSI metrics support is added in kube 1.15 via https://github.com/kubernetes/kubernetes/pull/76188 . Eventhough the metrics of "BYTES" and "INODES" make sense to filesystem volume mode PVCs, the CSI metric spec says, the `total` capacity of block mode can be supported with NodeGetVolumeStats.

[code]

The CO miss metricsProvider for blockMode PVCs to satisfy the spec. This issue track the same.

[2019-08-01 15:53] glb commented on #48912
@liggitt I may have skimmed too quickly, but the result of the conversation you linked seems to mean that a) "mount options" are really on the PV and would therefore apply equally to any container that mounts them (I can't think of a reasonable real-life counterexample); b) setting options for `emptyDir` seems to be contradictory to this decision because it is defined inline.

Any thoughts on what

[2019-08-01 16:25] lavalamp commented on #7856
@clux The plan is to use serverside apply. (hopefully beta in this upcoming release)

@vllry regularizing our current API would be a monumental undertaking :/ so, I am not sure if there is a practical next step other than "make new things do it the right way, wait for the mythical v2 to fix existing things" :/

[2019-08-01 16:40] Myslik commented on #75981
@annkara It seems so. #76227

[2019-08-01 16:42] danderson commented on #66811
I'm quite certain any solution I offer will be dismissed as kludgey, and rightly so. The whole point of that twitter thread is that k8s's design makes this impossible to implement cleanly, because this kind of logic requires tight integration of multiple controllers's state machines, something that is both technically and culturally very hard in k8s.

As long as that constraint set exists, I think

[2019-08-01 16:46] #77505 closed

[2019-08-01 16:46] filip-havlicek commented on #80295
Thank you for the clarification. I apologize that I didn't find it in documentation myself.

[2019-08-01 17:42] ddebroy commented on #80528
Here are some very recent failures I found:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80864/pull-kubernetes-integration/1156947559839698945/
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80587/pull-kubernetes-integration/1156953468238303232

[2019-08-01 17:52] ddebroy commented on #80528
[code]

[2019-08-01 17:57] Huang-Wei commented on #80775
I'm also learning towards option 1.

Some other thought on this: given that a combination of two statuses (Unschedulable + Unresolvable) have emerged, **_if_** it proves to be a pretty common case, maybe we should change status.code from `itoa` to ANDable bits - like "error1" = 2<sup>1</sup>, "error2" = 2<sup>2</sup>, so if the ANDed error code is 3 (in bits it's 11), we know it represents error1

[2019-08-01 18:07] wenjiaswe commented on #80857
@wojtek-t ok, I still have the gce_5000 scalability result (https://drive.google.com/corp/drive/u/0/folders/1xp4BUf2t_MNeVNlkiP3xwNRve6wI2EYz) that I ran against my PR, is there anything specific that I can look for lease PUT latency?

[2019-08-01 18:18] jasonkyzer opened #80872 "Directory permissions under /var/lib/kubelet/pods"
A random 0 byte file is created when we deploy a deployment or daemon-set:

ls -lart /var/lib/kubelet/pods
0666 *container id*/containers/*container name*/*random file name*

Might you be able to provide more information on this file? How may we direct kubernetes to create this file with 0644 or 0640? is there a flag we may pass to kubelet for this?

It is showing up in our security scans as less

[2019-08-01 18:22] tsunny commented on #80872
@kubernetes/sig-node

[2019-08-01 18:35] andrewsykim commented on #75890
/remove-lifecycle stale

[2019-08-01 19:16] timothysc commented on #73428
closing

[2019-08-01 19:16] #73428 closed

[2019-08-01 19:17] timothysc commented on #73426
move to close, because we're going todo a field check on PodSpec.

[2019-08-01 19:17] #73426 closed

[2019-08-01 19:18] timothysc commented on #73423
closing, conformance shouldn't even know that kube-proxy exists.

[2019-08-01 19:18] #73423 closed

[2019-08-01 19:18] timothysc commented on #73422
We're going to close this one in favor of podspec work.

[2019-08-01 19:18] #73422 closed

[2019-08-01 19:25] timothysc commented on #76345
TODO:  Measure current field coverage and report back.
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#pod-v1-core

[2019-08-01 19:27] timothysc commented on #73433
Closing in preference to https://github.com/kubernetes/kubernetes/issues/76345

[2019-08-01 19:27] #73433 closed

[2019-08-01 19:27] timothysc commented on #73430
closing in preference to https://github.com/kubernetes/kubernetes/issues/76345

[2019-08-01 19:27] #73430 closed

[2019-08-01 19:34] #78832 closed

[2019-08-01 19:34] #78831 closed

[2019-08-01 19:36] timothysc commented on #76617
/assign @johnSchnake

[2019-08-01 19:37] jasonkyzer commented on #80872
It seems as though the 666 is needed for something because it's being set explicitly: https://github.com/kubernetes/kubernetes/search?q=0666&unscoped_q=0666

[2019-08-01 19:42] timothysc commented on #67609
closing.

[2019-08-01 19:42] #67609 closed

[2019-08-01 19:44] timothysc commented on #75022
closing.

[2019-08-01 19:44] #75022 closed

[2019-08-01 19:45] timothysc commented on #75935
closing in favor of https://github.com/kubernetes/kubernetes/issues/76345

[2019-08-01 19:45] #75935 closed

[2019-08-01 19:48] timothysc commented on #76007
closing in favor of https://github.com/kubernetes/kubernetes/issues/76345

[2019-08-01 19:48] #76007 closed

[2019-08-01 19:54] timothysc commented on #53600
closing, this is not deemed to fall into the conformance category.

[2019-08-01 19:54] #53600 closed

[2019-08-01 19:57] timothysc commented on #78833
/assign @johnbelamaric

[2019-08-01 19:59] timothysc commented on #79116
Closing due to rube-goldburg coverage.

[2019-08-01 19:59] #79116 closed

[2019-08-01 19:59] timothysc commented on #79115
/assign @timothysc

[2019-08-01 20:04] CamelCaseNotation commented on #79691
@alanjcastonguay is there any way to point to a pre-existing `.kube/cache/discovery` entry even if the server value has changed?

[2019-08-01 20:12] irajdeep commented on #79286
@logicalhan I would be interested to work on this issue if no one else is

[2019-08-01 20:15] jennybuckley commented on #80733
/sig auth
/sig scalability

[2019-08-01 20:17] jennybuckley commented on #80767
/area conformance

[2019-08-01 20:38] #80322 closed

[2019-08-01 20:57] saad-ali commented on #79624
This seems weird to me. Would it be possible for you to deploy your driver two times (once in each mode), that way, as far as k8s is concerned, it sees two drivers, one ephemeral and one persistent? That will make it much easier to reason about drivers on the k8s side.

CC @msau42

[2019-08-01 21:15] divyenpatel commented on #75175
We are looking in this issue.

[2019-08-01 21:33] pohly commented on #79624
No, that doesn't make sense for a driver that manages some kind of local storage (example: LVM, PMEM). That driver has to keep track of that local storage and hand it out to both persistent and ephemeral volumes. Having to register twice with Kubernetes is unnecessarily complex and also potentially confusing for the user.

[2019-08-01 21:39] davidz627 commented on #80819
Doc is still in flux (some changing sections since we're still going from alpha/beta) and I want to leave it open to comments for now. When it starts to stabilize we will publish as a `.md` somewhere in sig storage.

[2019-08-01 21:40] gyuho commented on #72102
@dims Sure. The earliest we can do is August 13, 2019.

1. We need gRPC 1.23 to include upstream bug fixes https://github.com/grpc/grpc-go/milestone/21
2. We need a day or two to rewrite 3.3 client balancer

Today, we do etcd 3.4 release code freeze, which means we will start running functional (failure injection) tests + kubemark to test new etcd client changes including https://github.com/etcd-i

[2019-08-01 22:26] verb opened #80875 "Refactor kubelet convertStatusToAPIStatus"
The kubelet's `convertStatusToAPIStatus()` in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go iterates `podStatus` 3 times in order to construct the 3 container status lists in `PodStatus`. This could be refactored to make a single pass through `podStatus`.

/kind cleanup
/sig node

[2019-08-01 22:43] msau42 commented on #79624
Can we add that to an "alternatives considered" section in the kep, so we don't lose the history behind the reasoning?

[2019-08-01 23:04] DirectXMan12 opened #80877 "Generated DeleteCollection methods make it impossible to use pagination correctly"
DeleteCollection supports the full set of list options -- under the hood, it just calls the same List & ListPredicate machinery in the Store implementation.  This means that it's perfectly viable to call DeleteCollection via REST calls directly with the pagination options (limit & continue), and, in fact, it behaves as expected when you do that (passing limit deletes a limitted set of results, ret

[2019-08-01 23:06] DirectXMan12 commented on #80877
(the bugish-ness of this is debatable)

FYI @lavalamp @cheftako @roycaihw @rajathagasthya

[2019-08-01 23:12] lavalamp commented on #80877
@smarterclayton @wojtek-t @liggitt @deads2k

Did we intend for DELETECOLLECTION to support pagination? Probably not? Maybe we should fix the server rather than letting the client make it easy to use the bug.

[2019-08-01 23:15] dims commented on #46287
/reopen

[2019-08-01 23:16] bsalamat commented on #80775
Thinking more about the two options, I think we should choose option 1 for the following reasons:

1. Whether a pod is "unschedulable but **resolvable**" or "unschedulable and **unresolvable**" is not an "option" that can be configured. It is a fact that depends on the internal logic of a filter plugin. In other words, the config option cannot be changed arbitrarily based on user preferences. So,

[2019-08-01 23:24] msau42 opened #80878 "Test failure: [sig-storage] [Serial] Volume metrics should create prometheus metrics for volume provisioning and attach/detach"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
[sig-storage] [Serial] Volume metrics should create prometheus metrics for volume provisioning and attach/detach

**Since when has it been failing**:
7/31

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-serial
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernete

[2019-08-01 23:25] msau42 commented on #80878
@kubernetes/sig-storage-test-failures
/assign @gnufied @yuxiangqian

[2019-08-01 23:28] dims commented on #72102
Thanks a ton @gyuho !

[2019-08-01 23:34] kfox1111 commented on #79624
+1. Could also be added as a finding from the alpha that we changed in the beta to make things better.

[2019-08-01 23:36] ahg-g commented on #80775
@Huang-Wei while using bits to represent a status addresses one issue with how to represent unschedulable and unresolvable, it opens the door for many invalid combinations.

Instead of adding a completely new status code (which means we have multiple statues representing unschedulable), how about adding a boolean to Status that indicates whether or not unschedulable is unresolvable, that way we ma

[2019-08-01 23:39] #64010 closed

[2019-08-01 23:39] #64536 closed

[2019-08-01 23:42] bsalamat commented on #80775
+1

IMO, having multiple unschedulable values is better than having a field that does not apply to codes other than "unschedulable".

[2019-08-01 23:55] ahg-g commented on #80775
I think having multiple statues that carry the same meaning is also not ideal and has the potential for bugs (like checking for "unschedulable" code and forgetting to check also for "UnschedulableUnresolvable"). I get that you can have a function to abstract that, but that I does not prevent the possibility of the problem above.

A separate member representing specific semantics I think is totally

[2019-08-01 23:59] caseydavenport commented on #52039
/close

[2019-08-01 23:59] #52039 closed

[2019-08-02 00:20] #79893 closed

[2019-08-02 00:20] caseydavenport commented on #80462
Yeah this sounds like a startup ordering issue, given that it seems to resolve itself after a few retries.

We could:
- Make the kube-proxy do something nicer on startup when those chains don't exist (e.g., print a log like "Waiting for kubelet to program necessary chains" and retry, or something like that).
- Make the kube-proxy program these chains itself if they don't exist (I'm not familiar wi

[2019-08-02 00:39] saad-ali opened #80881 "Allow secret for DataSource (snapshot or PV)"
**Background**
Kubernetes now supports provisioning new volumes as either a [clone of an existing volume](https://kubernetes.io/blog/2019/06/21/introducing-volume-cloning-alpha-for-kubernetes/) or [from a snapshot](https://kubernetes.io/blog/2018/10/09/introducing-volume-snapshot-alpha-for-kubernetes/) instead of an empty volume. Users can do this by specifying a DataSource (either a PVC or Snapsh

[2019-08-02 01:10] liggitt commented on #80877
Yeah, I wouldn't expect limit/continue to function externally for deletecollection (I could see storage using it internally to page through deletion)

[2019-08-02 01:12] hex108 commented on #80611
The doc has been ready for review: https://docs.google.com/document/d/1-igzuDyiN24yvcc0I4qGnN_w6tYRd9IZpEOgxrC7j_U/edit?usp=sharing

[2019-08-02 02:01] msau42 commented on #75782
/remove-lifecycle stale

[2019-08-02 02:08] bgrant0607 commented on #66811
This issue is valid.

GKE blocks for up to an hour:
https://cloud.google.com/kubernetes-engine/docs/how-to/node-auto-upgrades

The original design doc was here:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/rescheduling.md

This was recently mentioned on https://github.com/kubernetes/enhancements/issues/85, but was not covered by the original feature

[2019-08-02 02:09] msau42 commented on #75918
@psycho-ir are you seeing the issue with a pd-backed nfs server?

Backing an nfs share with an ephemeral data store that can change is not recommended.

[2019-08-02 02:12] bgrant0607 commented on #66811
Note that there was a request for GA criteria here:
https://groups.google.com/d/msg/kubernetes-sig-apps/PL5EY_XFj9Y/rtUFhwd_GwAJ

And a KEP with an opportunity to comment here:
https://github.com/kubernetes/enhancements/pull/904/files

[2019-08-02 02:13] msau42 commented on #77250
If you want to get csi provisioner to delete a precreated PV, you need to add "pv.kubernetes.io/provisioned-by: <csi driver name>" annotation to your PV.

See https://github.com/kubernetes-csi/external-provisioner/issues/202 for followup discussion

/close

[2019-08-02 02:13] #77250 closed

[2019-08-02 02:39] msau42 commented on #74817
Sorry for the delay, this totally fell off my radar.

Given a PV, you can look `PV.Spec.ClaimRef` to get the exact PVC it is bound to.  There's no need to list PVCs and filter by volumeName.

[2019-08-02 02:59] adohe commented on #80877
cc @yue9944882

[2019-08-02 02:59] bsalamat commented on #80775
Yes, I agree with your point, but a function can reasonably address the problem. We already use a function for `IsSuccess` that considers both nil and the `Success` code as successful outcome. Granted, if someone is not careful, they may introduce bugs by checking the code directly and not using the function, but I'd prefer it over having an extra field. That being said, this is not a strong prefe

[2019-08-02 03:09] ahg-g commented on #80775
I just feel that we are combining two pieces of information in one value by combining it with the Code, but I also defer to the majority.

[2019-08-02 03:10] draveness commented on #80775
I think `UnschedulableAndUnresolvable ` is fine since we have some precedence like `RequiredDuringSchedulingIgnoredDuringExecution`

[2019-08-02 03:23] zouyee commented on #71665
/reopen

[2019-08-02 03:23] zouyee commented on #71665
/assign

[2019-08-02 03:39] gregswift commented on #74817
thanks.. i have forgotten about this too and think we may have come to a similar conclusion :man_shrugging:

[2019-08-02 03:39] bbotte commented on #70082
Install etcd 3.3.13 or later to solve the problem

[2019-08-02 03:40] zuoxiu-antfinancial commented on #80877
/cc

[2019-08-02 03:47] jfbai commented on #76820
#https://github.com/opencontainers/runc/issues/2096

[2019-08-02 03:50] zuoxiu-antfinancial commented on #80690
cc @adohe

[2019-08-02 03:57] knight42 commented on #80515
@xmudrii could you try [my patch](https://github.com/kubernetes/kubernetes/pull/80572) to see if it fix the problem?

[2019-08-02 04:23] praveensastry commented on #80875
Hi, I would like to contribute to this.

[2019-08-02 04:25] yue9944882 commented on #80733
/sub

[2019-08-02 04:44] #74935 closed

[2019-08-02 05:30] hainesc commented on #80828
When you run `kubectl describe` on a pod, you can see a condition list like this:
[code]

While run `kubectl describe` on a service, there is no condition list. That is reason why `kubectl wait` does no work on `service`.

I will take a look whether should we make sure condition list should be available for all kind of resources.

/assign

[2019-08-02 05:44] xieydd commented on #80741
I meet this problem too, k8s version is 1.15.1

[2019-08-02 06:48] 928234269 opened #80887 "Does k8s support Omni-Path Architecture (OPA) ?"
Omni-Path Architecture (OPA) is Intel®'s experience and lessons in the True Scale architecture and standard InfiniBand. It is a high-performance network architecture developed for HPC that enables each link to reach 100 Gbps. A new interconnect technology designed to optimize high performance computing is also an end-to-end interconnect solution.

[2019-08-02 06:51] 928234269 commented on #80887
/sig  feature-requests

[2019-08-02 07:15] salman-bhai commented on #68026
Hi I am a new contributor here, I'd like to contribute and make changes to the following file/s. I have marked it as WIP in the Google Sheet. Can someone let me know if I have to do anything else before I start working on this PR?
[code]

[2019-08-02 07:26] unlikezy commented on #12400
After have done all things on https://kubernetes.io/docs/tasks/tools/install-kubectl/ on my iMac, I still got error: type _init_completion not found.
And finally I found that, although I have update my bash, and I  did got this message:
[code]
BUT, my terminal was still using old bash in fact:
[code]
Need to change my default shell by typing command
[code]
and it work.

[2019-08-02 07:28] salman-bhai commented on #68026
Umm so there's an issue where Golint tells that underscore shouldn't be allowed. Here's a log of the go-lint warnings:
[code]

[2019-08-02 07:36] SataQiu commented on #68026
Thanks @salman-bhai
The following should not be modified, as they are designed like this for code generation.
[code]

[2019-08-02 07:39] ricky1993 commented on #80449
/cc

[2019-08-02 08:42] shiyan2016 opened #80889 "Recover pod in order with its priority"
**What would you like to be added**:
When node restarts or any other case which does not reach the evict condition make kubelet recover pod. I think is very useful to recover the important pod first. So maybe we should support kubelet to start pod in order with pod's priority.

**Why is this needed**:
This  can reduce recovery time for important application.

[2019-08-02 08:43] josefkorbel commented on #17088
Any news?

Having ingress per namespace does not seems like the best approach, I would also like to use one ingress with its issuer for all namespaces.

[2019-08-02 08:43] shiyan2016 commented on #80889
/sig node

[2019-08-02 08:43] humblec commented on #80865
/assign @humblec

[2019-08-02 08:44] humblec commented on #80865
/sig storage

[2019-08-02 09:26] avarf opened #80890 "How Kubernetes Horizontal Pod Autoscaler calculates CPU percentage?"
**What happened**:
HPA calculates cpu usage wrong

**Anything else we need to know?**:
I set up my cluster and I want my deployments to scale up when the first pod uses 75% of one cpu (core). I did this with hpa and everything is working but I noticed that the hpa percentage is strange.

Based on what I know `1 cpu = 1000 milliunits` and what I see in `kubectl top pods` is pod-A using 9m but what

[2019-08-02 09:45] anjiawei1991 opened #80892 "the pv's reclaimPolicy created by sc isn't correct"
I created a StorageClass named `mysc` with field reclaimPolicy set to `Retain` on minikube's cluster, and created a PersistentVolumeClaim named `redis` use that StorageClass. But the reclaimPolicy of PersistentVolume bound by the pvc  is `Delete`, instead of `Retain`.

**How to reproduce it (as minimally and precisely as possible)**:

create file sc.yaml:

[code]

create file redis-pvc.yaml

[code

[2019-08-02 09:48] anjiawei1991 commented on #80892
/sig storage

[2019-08-02 09:49] stojan-jovic commented on #70251
I also experiencing this issue. Is [#64787](https://github.com/kubernetes/kubernetes/issues/64787) in plans for any coming release?

[2019-08-02 09:56] wojtek-t commented on #80857
It's there too:

[code]

[code]

In APIResponsivenessPrometheus_load_* files.

Which means that it is that PR.

[2019-08-02 10:02] francescoforesti commented on #63789
https://imgs.xkcd.com/comics/wisdom_of_the_ancients.png

[2019-08-02 10:03] yue9944882 commented on #80258
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/80628/pull-kubernetes-integration/1157221347760279552/

just got burnt by this agin

[2019-08-02 10:04] DaniDD commented on #72102
Hi, is this the same issue:
I have 3 control planes. On every control plane are one etcd-server. The apiserver can only connect to the etcd-server on the same node. With other etcd servers I habe Warnings in the log:
clientconn.go:1251] grpc: addrConn.createTransport failed to connect to {172.22.75.8:2379 0  <nil>}. Err :connection error: desc = "transport: authentication handshake f
ailed: x509:

[2019-08-02 10:26] RiceBowlJr commented on #74948
Hi there,

I am having the exact same issue but cannot get it to work. I do have **exactly** the same conf in another cluster and it does work fine. I have been struggling with that for one day now, don't know where to look anymore.

We installed with the official Helm chart:

Chart version: 1.6.18
Image: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.24.1

Values:
[code]

## Wha

[2019-08-02 10:30] RiceBowlJr opened #80897 "Health Checks failed outside of ingress controller AWS NLB"
Hi there,

I am having the exact same issue than [#74948](https://github.com/kubernetes/kubernetes/issues/74948) but cannot get it to work. I do have **exactly** the same conf in another cluster and it does work fine. I have been struggling with that for one day now, don't know where to look anymore.

We installed with the official Helm chart:

Chart version: 1.6.18
Image: quay.io/kubernetes-ingre

[2019-08-02 10:32] RiceBowlJr commented on #80897
/sig aws

[2019-08-02 10:33] RiceBowlJr commented on #80897
/sig network

[2019-08-02 11:11] uablrek commented on #80462
The chain-create problem has implications on dual-stack also. Please see comments in; https://github.com/kubernetes/kubernetes/pull/80627

[2019-08-02 11:20] xmudrii commented on #80515
I've created a test cluster based on #80699 and I can confirm that I'm able to scale CustomResources using `kubectl` as usual.

I used an [example resource](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#scale-subresource) to test this, such as:
[code]

Thanks a lot @knight42 for your time spent fixing this!

[2019-08-02 11:29] dims commented on #80887
Please ask intel folks, someone may be working on a CNI implementation

/close

[2019-08-02 11:29] #80887 closed

[2019-08-02 11:37] viniciusd commented on #50619
Same here, `--dry-run` runs just fine while a kubectl straight doesn't. Isn't that `--dry-run` purpose as well?

[2019-08-02 11:46] RiceBowlJr commented on #80897
@M00nF1sh

[2019-08-02 11:48] jokerwenxiao opened #80903 "error in job status"
**What happened**:
i get job yaml to check the status of job, but there is only final conditions.

such as
status:
  completionTime: "2019-07-29T06:45:38Z"
  conditions:
  - lastProbeTime: "2019-07-29T06:45:38Z"
    lastTransitionTime: "2019-07-29T06:45:38Z"
    status: "True"
    type: Complete
  startTime: "2019-07-29T06:37:15Z"
  succeeded: 1

**What you expected to happen**:
I want to know the

[2019-08-02 12:00] viniciusd commented on #50619
Just saying that comes from `pkg/apis/core/validation/validation.go:260`
[code]
Couldn't find about that 15 limit on the documentation though. Neither at the RFC 6335.

Also, `isValidPortName` gets called by `validateContainerPorts`

[2019-08-02 12:09] psycho-ir commented on #75918
@msau42 Yes I used persistent disks and could reproduce it again.
Actually the same thing is happening out of GKE in on premise k8s cluster.

[2019-08-02 13:13] liu-cong opened #80908 "Scheduler Framework: Consolidate NormalizeScore plugin set into Score plugin set in config API"
**What would you like to be added**:
Consolidate [NormalizeScore plugin set]((https://github.com/kubernetes/kubernetes/blob/e298fc723f2597697b770f88ce47fe93507f7463/pkg/scheduler/apis/config/types.go#L169)) into Score plugin set in config API.

**Why is this needed**:
NormalizeScore extension point is implemented in [PR 80383](https://github.com/kubernetes/kubernetes/pull/80383). We decided to tre

[2019-08-02 13:13] liu-cong commented on #80908
/assign

[2019-08-02 13:29] oxddr opened #80910 "[Failing Test] gce-master-scale-performance - high latency on low QPS resources"
**Which jobs are failing**:
gce-master-scale-performance

**Which test(s) are failing**:
density

**Since when has it been failing**:
1-08-2019

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
[code]

**Anything else we need to know**:

/sig scalability

[2019-08-02 13:35] msau42 commented on #75918
Can you give some more details of your nfs server, client pods and repro steps?

[2019-08-02 13:37] oxddr commented on #80910
/assign @oxddr

Failing this issue for posterity.

1. Density test has failed, because of high latency on two, low QPS resource-verb pair (total request were 4 and 6).
1. Both request came around the same time (~17:24:50 +/- few seconds), at the same time etcd was experiencing slowness
1. There were no obvious culprit for etcd slowness. However etcd monitoring could be improved to provide more ins

[2019-08-02 13:37] #80910 closed

[2019-08-02 13:46] alculquicondor commented on #80775
To summarize what we have already discussed: We lean towards the option of having the plugin decide whether or not they can resolve the pod with preemption.

Pending alternatives:

1. Add a new Status code, likely `UnschedulableAndUnresolvable`
1. An extra return value for `FilterPlugin.Filter`
1. An extra field in Status.

I agree with @ahg-g's concerns for 1. I don't see problems with 2. The dis

[2019-08-02 13:48] mattjmcnaughton commented on #80818
Hi @Philbewan !

Interesting idea :)

One option to consider would be whether you could accomplish this via a controller you deploy on your k8s cluster and accomplishes your task via calls to the k8s api. I think a controller, which isn't part of main line k8s, would allow development to proceed much faster. You wouldn't need to wait for new k8s releases/go through api review, etc...

If you are i

[2019-08-02 13:50] mattjmcnaughton commented on #80807
Can you post the command line arguments with which you are running `kubelet`?

[2019-08-02 13:59] psycho-ir commented on #75918
I just tried another [nfs-server docker image](https://hub.docker.com/r/itsthenetwork/nfs-server-alpine/).

and now my client reconnects on restarts.
sorry to bother, looks like the docker image I was using hadn't been configure properly!

[2019-08-02 14:17] cann0nf0dder commented on #80807
@mattjmcnaughton here it is, thanks!
[code]
kubelet.yaml:
[code]

[2019-08-02 14:21] adampl commented on #48912
@liggitt First of all, I don't really understand why inline pod volumes are regarded as something separate from normal PVs. For example, why can't we have an `emptyDir` PV/PVC. See: #75378.

The potential to crash a node can be a problem only for a subset of Kubernetes clusters working on shared (cloud) infrastructure. That for me is not a sufficient reason to block other use cases.

[2019-08-02 14:22] Verolop commented on #74893
Are there any updates or follow up actions for this issue?

[2019-08-02 14:29] liggitt commented on #80449
The line in the panic (`k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/apis/meta/v1/generated.pb.go:2053`) does not match a map access line on v1.10.11:

https://github.com/kubernetes/kubernetes/blob/v1.10.11/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.pb.go#L2053

Do you have the diff for that file in particular between your build and the v1.10.11 tag?

[2019-08-02 14:31] msau42 commented on #75918
Thanks for the update. Closing this issue for now
/close

[2019-08-02 14:32] #75918 closed

[2019-08-02 14:49] felixfbecker opened #80914 "Cannot change containerPort with server side apply"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

I use `kubectl apply -f` to deploy this deployment:
[code]

Next, I use a server-side apply with `fieldManager=kubectl` to change the `containerPort` from `80` to `8080`:

[code]

[code]

I would expect this to succeed, as the port should be keyed by the name, and therefor the c

[2019-08-02 14:49] dooman87 commented on #39423
I created an issue in GCP issue tracker https://issuetracker.google.com/issues/136020917. I think it could be related to this one.

[2019-08-02 14:51] Deepak8819 opened #80915 "kube-system pods are going to CrashLoopBackOff state"
**What happened**:
After Kubernetes installtion with kubeadm jube-system pods are going to CrashLoopBackOff state. i tried multiple installtions still same issue.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
yes , kubeadm v1.15  and with flannet network it's reproducable.
**Anything else we need to know?**:

**Environment**:
- Kubernetes vers

[2019-08-02 14:52] felixfbecker commented on #80914
@kubernetes/sig-apply-bugs

[2019-08-02 14:52] felixfbecker commented on #80914
/sig Apply

[2019-08-02 15:17] felixfbecker opened #80916 "Server side apply always conflicts when changing values even when fieldManager is the same"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

I applied this resource with `kubectl apply`:

This is the state reported by `kubectl get deploy -o yaml`:
[code]

As you can see, `kubectl` was recorded as field manager for `metadata.annotations.hello`.

Now, I try to update the `hello` annotation with a server-side apply requ

[2019-08-02 15:21] r0bj commented on #38075
Is it really fixed?
I still can reproduce it with description @jdanbrown provided in initial comment.

[2019-08-02 15:25] rzr commented on #27543
Even if this ticket is closed let me crosslink to debian tracker which is linking to this (no more blocking) issue:
https://bugs.debian.org/886739

[2019-08-02 15:25] mikebaldry commented on #70147
I think its nice and explicit to have a `ClusterSecret` - it's a secret the whole cluster can see.

[2019-08-02 15:36] alejandrox1 commented on #79662
Thank you @jeefy for working on the PR to solve this.
 #80615 indeed solved the issue reported here.
/close

[2019-08-02 15:36] #79662 closed

[2019-08-02 15:53] alejandrox1 commented on #78907
dumping a bit more context for future reference...
Got this from the latest failed run https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-15-master/1157299992222765056
[code]

[2019-08-02 15:59] alejandrox1 commented on #74931
Seems to have stabilized.
/close

[2019-08-02 15:59] #74931 closed

[2019-08-02 16:04] mpickell commented on #45509
I just found this post as well..

I have the same situation as @antoinne85 described in a post last year:

We are triggering HPA scaling _up_ with a custom metric based on task queue size.  We are now looking to make sure that when we scale _down_ it does not occur randomly and whack a worker that is active.

Earlier this year @bsklaroff mentioned that this type of thing can be done at the Node le

[2019-08-02 16:05] felixfbecker commented on #80914
/sig sig-api-machinery
@kubernetes/sig-api-machinery-bugs

[2019-08-02 16:06] felixfbecker commented on #80916
/sig sig-api-machinery
@kubernetes/sig-api-machinery-bugs

[2019-08-02 16:17] figo commented on #72102
@gyuho a quick clarification, is August 13, 2019 the earliest day the fix going to land on 3.3? thx

[2019-08-02 16:20] droidls commented on #73572
I see this as well but the actual disk is not even full.

[2019-08-02 16:20] alejandrox1 commented on #80717
Seems like #80816 did the trick. Thankyou @msau42 !
/close

[2019-08-02 16:20] #80717 closed

[2019-08-02 16:32] liggitt commented on #80528
I think the package is simply taking too long (there's a 10 minute per package limit, which is already very generous)

Picking a few successful runs, the package is hovering around the 10 minute mark:

test/integration/scheduler (9m46.46s)
test/integration/scheduler (9m49.172s)
test/integration/scheduler (9m46.085s)

[2019-08-02 16:40] liggitt commented on #80528
| Seconds | Test |
|---|---|
| 5.93 | TestSchedulerExtender |
| 5.05 | TestPrefilterPlugin |
| 5.01 | TestScorePlugin |
| 5.05 | TestNormalizeScorePlugin |
| 5.04 | TestReservePlugin |
| 5.18 | TestPrebindPlugin |
| 5.08 | TestUnreservePlugin |
| 5.49 | TestBindPlugin |
| 5.15 | TestPostbindPlugin |
| 11.34 | TestPermitPlugin |
| 5.15 | TestCoSchedulingWithPermitPlugin |
| 34.99 | TestFilterPlugin

[2019-08-02 16:41] msau42 commented on #80528
I can look into moving the volume scheduling tests into a separate package. It seems like they take the most time

[2019-08-02 16:42] liggitt commented on #80528
thanks. that also explains why TestVolumeProvision and TestRescheduleProvisioning were the ones that flaked, since they ran last

[2019-08-02 16:45] msau42 commented on #80528
What I would be curious to see is if these times have increased recently.  There have been changes made to the volume scheduling over the last month or so

[2019-08-02 16:48] verb commented on #80875
@praveensastry fantastic! If I could ask you to start out with my branch in #59484 (which should merge soon) it would mean less rebasing for one or both of us.

I'll grab this issue, but I'm not working on it, you are. Let me know if I can help.

/assign @verb

[2019-08-02 16:59] kazusa-qooq commented on #80577
@zq-david-wang Could you tell me how to set the master container’s timezone? I made the master with kubeadm.
I want to write schedules for cronjob by my timezone not UTC.
According to what you say, I must set my timezone to master containers.

[2019-08-02 17:05] logicalhan commented on #79286
Go for it!

[2019-08-02 17:05] justgotthis commented on #80577
Workaround now is to mount timezone to controller-manager and restart it. Although, I have seen that running a `date` within the cronjob container will still list it in UTC but the job will execute in my TZ.

[2019-08-02 17:15] mikedanese commented on #45386
I commented on the issue. This gets a lot easier with bound service accounts.

[2019-08-02 17:18] kazusa-qooq commented on #80577
@justgotthis Thank you. Let me know what you edit? Did you change File; /etc/kubernetes/manifests/kube-controller-manager.yaml?

[2019-08-02 17:29] liggitt commented on #80528
looks like it was mostly new tests added

delta from 1.15.0 (mid-june) to master:

| v1.15.0                                                            | master | delta |     |
|--------------------------------------------------------------------|--------|-------|-----|
| TestSchedulerExtender                                              | 6      | 6     | 0   |
| TestPrefilterPlugin

[2019-08-02 17:30] justgotthis commented on #80577
Not sure where your manifest file is but wherever controller-manager is
configured. Then mount a volume to /etc/localtime and have the source be
/usr/share/zoneinfo/<TZ> (hostPath).

Hopefully we can get this bug fixed so cronjobs will respect where the
master is at and just have this configured properly without this hack.

*Luis Lazo*
Solutions Architect
Platform9
luis@platform9.com
650-966-6207

[2019-08-02 17:42] seh commented on #28486
How does this interact with the controller manager's `terminated-pod-gc-threshold` parameter? According to [the documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/), by default, once 12,500 completed pods exist, the controller can start deleting them.

If the job controller relies on these pods existing for accurate accounting, it sounds like t

[2019-08-02 17:59] bswartz opened #80918 "CSI resize doesn't handle multi-attached volumes quite right"
if a CSI volume is attached to more than 1 node, and it is expanded, and if the CSI plugin returns true from ControllerResizeVolume, then the PVC will get marked for node resize, but there's no mechanism to ensure that every node currently using the volume will call the CSI node plugin.

**What happened**: One node called the NodeExpandVolume RPC, the rest did not.

**What you expected to happen**

[2019-08-02 17:59] adipascu commented on #53059
I am still having this exact issue on version: v1.12.8 on Google Kubernetes Engine.
It happens to me when I run `kubectl apply -f app.yaml` and make a pod recreate itself.

How is this still not fixed? Am I using Kubernetes incorrectly?

[2019-08-02 17:59] bswartz commented on #80918
@kubernetes/sig-storage-bugs
@gnufied

[2019-08-02 18:00] ibuildthecloud commented on #80339
I don't feel there is enough understanding of the pains users go through to try to consume k8s libraries in perfectly valid approaches using go modules.

I very much DO NOT want staging libraries to stay in multiple git repos. There are so many packages and it's too much burden on the user on which versions to use. And the nature of go modules is it changes dependencies automatically based on tran

[2019-08-02 18:03] rzr commented on #53533
Relate-to: https://serverfault.com/questions/881517/why-disable-swap-on-kubernetes

[2019-08-02 18:04] spenceclark commented on #17088
I'm not sure if you're having the same problem as me, but I managed to solve it by having a single ingress deployment and its service in the "ingress-nginx" namespace, then in each of my other namespaces I wanted to use ingress for, I defined the Ingress definition in that namespace. It seems to "magically" combine all the individual ingress defintions under the main one, and it now works as I hop

[2019-08-02 18:09] liggitt commented on #17088
some ingress providers (like nginx) will serve multiple ingress definitions in different namespaces via a single load balancer

others (like gce) will match load balancers 1:1 with ingress resources

[2019-08-02 18:23] Philbewan commented on #80818
Hi @mattjmcnaughton !

Thank you for the feedback.  I've never contributed (even ideas) to open source software before, so this is a little bit out of my comfort zone :)  I like the idea of a controller, I'll research that a little more as you suggest.

Regarding the slack, mailing lists, etc. - I'll also try to do that.

Thanks very much!

[2019-08-02 18:46] gnufied commented on #80918
We spoke briefly about this offline and problem is - if multiple pods are using (i.e not necessarily mounting) same volume as RW on multiple nodes then resizing is essentially racy. A pod that sees resize request first will call `NodeExpandVolume` and update `pvc` to reflect new size. As a result `NodeExpandVolume` *may* not be called on other nodes that use same PVC.

A solution that will probabl

[2019-08-02 18:46] ricky1993 commented on #80449
[code]
It seems hit the line here.
https://github.com/kubernetes/kubernetes/blob/637c7e288581ee40ab4ca210618a89a555b6e7e9/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/generated.pb.go#L2044

[2019-08-02 19:01] liggitt commented on #80449
Ah, it is the modification of the Annotations map in conversion. That was fixed in 1.11+ in https://github.com/kubernetes/kubernetes/pull/64267

See where it touched the deployments object (which is in this issue's panic stack) at https://github.com/kubernetes/kubernetes/pull/64267/files#diff-2ee4fc301db0484dfdcdc19887921873

/close

[2019-08-02 19:01] #80449 closed

[2019-08-02 19:30] Huang-Wei opened #80921 "EvenPodsSpread discussion on tainted nodes"
## Background

EvenPodsSpread is a feature to make pod placement decisions based on the distribution of existing pods. The concept `maxSkew` brings a question: how do we define the scope (which nodes) to calculate the number of matching pods so as to calculate the skew.

Here are some implications implemented in the alpha:

- Nodes with all `spec.topologySpreadConstraints[*].topologyKey` present a

[2019-08-02 19:47] bgrant0607 commented on #28486
@seh Currently, pod GC does interfere.

[2019-08-02 19:52] seh commented on #28486
Thank you for confirming. I appreciate your strong comment [here](https://github.com/kubernetes/kubernetes/pull/74987#issuecomment-483485977).

[2019-08-02 19:55] tedyu commented on #80921
For case 1, if we exclude tainted nodes, the incomingPod should go to NodeC - since zone 1 already has 4 pods. Putting incomingPod on NodeC would achieve better evenness.

[2019-08-02 19:58] uablrek commented on #80462
Note that the `kube-proxy` does not crash, it only logs failed syncs.

[2019-08-02 20:04] Huang-Wei commented on #80921
@tedyu Nope. "Exclud" means we don't count the matching pods on that node any more, so zone1 only has 1 pods, while zone2 has 3 pods.

[2019-08-02 20:14] derekwaynecarr commented on #80716
thanks @bg-chun , i would also like to understand what workloads are targeted that demand more than one page size per node before taking on multiple page sizes per node.  we restricted it to a single page size per node for simplicity.

[2019-08-02 20:58] taylorsilva opened #80929 "ReclaimPolciy fails to delete Persistent Volumes after mounted to a pod [vsphere]"
Originally posted at kubernetes/cloud-provider-vsphere/issues/219

**What happened**: When I deleted a PVC, the corresponding PV was not automatically deleted. The reclaim policy was set to `DELETE`. Describing the PV shows an error:

[code]

**What you expected to happen**: The PV is automatically deleted when the PVC is deleted.

**How to reproduce it (as minimally and precisely as possible)**:

[2019-08-02 21:00] #74507 closed

[2019-08-02 21:03] taylorsilva commented on #80929
@kubernetes/sig-storage-bugs

[2019-08-02 21:14] davidz627 commented on #80488
@gnufied can you permalink a line number? I think things have shifted in master and I can't tell what you're referring to

[2019-08-02 21:16] derekwaynecarr commented on #80807
At one time, CoreOS ran the kubelet in pseudo-container wrapper.  I don't have a CoreOS box immediateily available in front of me, but it would help to see the kubelet-wrapper to know if it was modified or not.

[2019-08-02 21:50] gnufied commented on #80488
https://github.com/kubernetes/kubernetes/blob/c68eeb230af92ea834eff70ba84c79e1c4c42dd9/pkg/volume/util/operationexecutor/operation_generator.go#L365

[2019-08-02 21:52] saiyan86 commented on #80198
Yes, I just closed it. Thanks!

[2019-08-02 21:52] #80198 closed

[2019-08-02 22:12] saiyan86 commented on #80915
/triage/support

[2019-08-02 23:06] rzr commented on #75803
I also faced this issue after I screwed my setup with minikube.deb

I sorted out when I reinstalled   kubeadm  kubelet kubectl from apt repo ...

[2019-08-02 23:06] misterikkit commented on #80929
Do you have logs from `vsphere-cloud-provider`?

[2019-08-02 23:06] msau42 opened #80931 "Re-review API validation for CSI Inline Migration"
**What happened**:
While glancing through storage validation.go, I noticed that we were doing feature gate checking in validation for CSI inline migration.  At first glance, I think this will cause validation errors when downgrading to a version with the feature disabled.

https://github.com/kubernetes/kubernetes/commit/c34309acdf1813961051023e913e07ec7a535428#diff-5aba802af469dbe928456a4b2c7988ad

[2019-08-02 23:07] msau42 commented on #80931
@kubernetes/sig-storage-bugs
/assign @msau42 @liggitt @jsafrane
cc @davidz627 @ddebroy

[2019-08-02 23:26] onlyjob commented on #27543
@rzr, This issue was never "blocking". A while ago I have patched Kubernetes in Debian with the patch that I've contributed here.

[2019-08-03 00:16] Huang-Wei commented on #80528
@liggitt When subtest is involved, my understanding is that time showed in parent entry includes (1) time spent on setup and teardown + (2) time spent on each subtest, for example:

Seconds | Test
-- | --
1.58 | TestTaintNodeByCondition/not-ready_node
1.56 | TestTaintNodeByCondition/unschedulable_node
1.7 | TestTaintNodeByCondition/memory_pressure_node
1.68 | TestTaintNodeByCondition/disk_pressure

[2019-08-03 00:19] Huang-Wei opened #80934 "Refine scheduler integration tests"
A followup of https://github.com/kubernetes/kubernetes/issues/80528#issuecomment-517765622.

We should refine current integration tests to shorten running time of package `test/integration/scheduler`.

According to Liggitt's [report](https://github.com/kubernetes/kubernetes/issues/80528#issuecomment-517768217), here are the top10 tests:

Seconds | Test
-- | --
55.03 | TestVolumeBindingStress
53.96

[2019-08-03 00:46] MorrisLaw commented on #39090
I believe the following PR addresses this ticket, so I'll link it here for reference.
[Configurable HorizontalPodAutoscaler, PR #74525](https://github.com/kubernetes/kubernetes/pull/74525)

[2019-08-03 01:43] yuxiangqian commented on #80878
Taking a look.
Running using my own build seems to be good. And I saw a successful run on 8/1 on as well.
i.e.,
kubetest --test --test_args="--ginkgo.skip=Alpha|Experimental|Disruptive|Flaky|\[Driver --ginkgo.focus=\[sig-storage\]\s\[Serial\]\sVolume\smetrics" -v=8 --provider=gce

returns after running serial test cases successfully.

note that the latest failure also contains a kubelet performanc

[2019-08-03 02:03] YangYongZhi commented on #80889
Yes, I think this function is very useful, we always hope the more important app will be recovery immediately than others if a worker restart.

[2019-08-03 02:05] tedyu commented on #80931
In validateVolumeAttachmentSource :
[code]
If we don't check feature gate, it seems source.InlineVolumeSpec != nil case can be dropped.
Otherwise:
[code]

[2019-08-03 02:34] tedyu commented on #80889
Are you going to utilize PodSpec#PriorityClassName in deciding which pod to recover first ?

[2019-08-03 03:50] ancin commented on #33714
thanks。

[2019-08-03 03:59] bswartz commented on #80918
Well the ideal solution would be to have yet another RPC on the CSI node plugin. We could ensure that `NodeExpandVolume` gets called _exactly once_ if required, but there could be another optional RPC that would get called _on every attached node_ if required. The second RPC would address this multi-attached iSCSI raw-block case I'm thinking of.

However, given that modifying CSI is hard I think w

[2019-08-03 04:24] yuxiangqian commented on #80878
so far I am not able to reproduce.
[This](https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-serial) shows its now back to normal.

[2019-08-03 04:27] bowei commented on #74677
/lifecycle frozen

[2019-08-03 06:09] yuzeming opened #80940 "test: data race of `ready` in `TestSyncPodsDeletesWhenSourcesAreReady`"
What type of PR is this?
/kind bug

What this PR does / why we need it:

https://github.com/kubernetes/kubernetes/blob/9827a6edc88adf3b2a87b376150d852dbacc294a/pkg/kubelet/kubelet_test.go#L400-L427

There is a data race between read L407 `return ready` and write L423 `ready = true `.
There is no guarantee that the write to ready will ever be observed by anonymous function , since there are no sync

[2019-08-03 06:20] luksa commented on #80855
/reopen

Reopening, because #80873 did not fix this issue. It only fixed `kubectl get --all-namespaces`, which also had a misleading message, but that's not what this issue is about. This issue is about cluster-scoped resources, not about listing namespaced resources in all namespaces.

[2019-08-03 06:27] yanghaichao12 commented on #80674
i‘v try again on rhel，everthing is ok, so i believe it's not about k8s.

[2019-08-03 06:27] #80674 closed

[2019-08-03 07:10] #75016 closed

[2019-08-03 08:11] #73954 closed

[2019-08-03 08:11] #74471 closed

[2019-08-03 08:11] #74472 closed

[2019-08-03 10:00] obitech opened #80941 "Add a YAML MetaFactory serialise multi-doc files"
**What would you like to be added**:
Add an external MetaFactory that allows for serializing multiple YAML (or JSON) files in kubeadm. The logic of marshalling YAML should be factored out from `cmd/kubeadm/app/util/marshal` to `staging/src/k8s.io/apimachinery/pkg/runtime/serializer/`.

**Why is this needed**:
This will allow processing component configs containing multiple documents per file. Addi

[2019-08-03 10:02] obitech commented on #80941
I will try work on this as carry-on from #78173

/cc @stealthybox

[2019-08-03 10:13] #68251 closed

[2019-08-03 10:18] SimonCqk commented on #80890
may you post your manifest yaml file ?

[2019-08-03 10:38] sergey-safarov commented on #80122
Useful info if you make decision to use cloud NAT for services.

Our team wrote custom python script that configures Amazon cloud NAT (elastic IP) when pod started.
We found, that Amazon cloud NAT must be linked only with eth0 linux NIC.

If Amazon cloud NAT linked with eth1 linux host, then we get asymmetric routing on linux host  (inbound traffic via eth1, outbound via eth0) and outbound traffic

[2019-08-03 12:10] irajdeep commented on #79286
/assign

[2019-08-03 12:27] sergey-safarov commented on #80122
As idea.
Static private IP for service can published outside of kubernetes cluster via:
1) get NIC id where started pod with `one-to-one` service;
2) assign service IP as alias to host NIC with ID from step 1;
3) send gratuitous ARP from host for service IP via NIC with ID from step 1;
4) configure iptables DNAT rules.

[2019-08-03 12:46] mattjmcnaughton commented on #80818
Awesome that you're getting started contributing @Philbewan ! Please ask if there's any thing else we can do to help (most likely on Slack, unless you're identifying a specific bug or feature request).

[2019-08-03 12:53] hiteshsardana99 commented on #80915
Hi Deepak,

If you are able to successfully up the kubernetes cluster. Then please go to /var/log/pods directory and check the pods kube-apiserver pod log.
Also describe the pod and post the error message so that anyone can help you out.

Command to describe pod -
kubectl describe pod [pod-name] -n kube-system

[2019-08-03 13:52] craigbox commented on #15675
/lifecycle frozen

[2019-08-03 14:31] neolit123 commented on #80915
/remove-kind bug
/triage support

[2019-08-03 14:32] neolit123 commented on #80940
/sig node

[2019-08-03 14:34] neolit123 commented on #80903
/remove-kind bug
/triage support

[2019-08-03 14:49] tedyu commented on #80940
Does your static analysis reveal bug in non-test code ?

For the issue you reported, does TestSyncPodsDeletesWhenSourcesAreReady fail ?
I haven't seen it in flaky tests.

[2019-08-03 15:06] calind commented on #23564
I think that this issue should be reopened. Having secret data stored as annotation by the means of `kubectl apply` defeats the purpose of having secrets encrypted at rest.

It is true that there is no distinction between data and metadata when it comes to regular RBAC access. But having data encrypted at rest should protect be from eventual etcd data exfiltration. `kubectl apply` storing that dat

[2019-08-03 15:18] #70668 closed

[2019-08-03 15:59] luisdavim opened #80948 "Add Metacontroller to the core project"
**What would you like to be added**:
I would like to propose that [Metacontroller](https://metacontroller.app/) is made default in Kuberetes.

**Why is this needed**:
The UX for creating controllers with Metacontroller is very similar to the current one for admission and validation webhooks. I think that Metacontroller would be a great addition to the core Kuberntes project and would make creating

[2019-08-03 16:03] luisdavim commented on #80948
/sig api-machinery

[2019-08-03 16:32] liggitt commented on #23564
The full object (including metadata) is encrypted at rest

[2019-08-03 16:35] calind commented on #23564
Thanks for clarifying.

[2019-08-03 16:39] zhouhaibing089 commented on #75677
/remove-lifecycle stale

[2019-08-03 16:43] #78004 closed

[2019-08-03 16:56] gyuho commented on #72102
Yes

[2019-08-03 20:23] #58217 closed

[2019-08-03 20:23] #74999 closed

[2019-08-03 22:16] neolit123 commented on #55713
still a problem.
/sig scheduling
/lifecycle frozen

[2019-08-03 22:25] #70818 closed

[2019-08-03 22:25] #71464 closed

[2019-08-03 22:25] #70814 closed

[2019-08-03 22:25] #70815 closed

[2019-08-03 22:27] neolit123 commented on #55713
@kubernetes/sig-scheduling-bugs @kubernetes/sig-node-bugs

[2019-08-03 22:37] dims commented on #27543
@onlydole @rzr https://github.com/kubernetes/kubernetes/pull/65779 has merged. is there anything else to do here?

[2019-08-03 23:03] dims commented on #29923
/reopen we can't close both this and #23564 :)

[2019-08-03 23:04] dims commented on #23564
reopened https://github.com/kubernetes/kubernetes/issues/29923 just in case

[2019-08-03 23:11] MSandro commented on #72511
not fixed yet? I am using 1.14.3 with Rancher

[2019-08-03 23:26] #75001 closed

[2019-08-03 23:45] liggitt commented on #29923
This was a duplicate of https://github.com/kubernetes/kubernetes/issues/23564

That issue was closed as working as designed. Metadata is not treated as less confidential than main object content by encryption at rest or authorization.

[2019-08-04 00:27] #70911 closed

[2019-08-04 01:24] onlyjob commented on #27543
@dims, we are all good, nothing else to do here, thanks. I was just replying to @rzr. Sorry for noise.

[2019-08-04 01:28] #52482 closed

[2019-08-04 05:38] avik-so commented on #47368
Sounds like a good feature to learn how to extend kubernetes and then make a PR.  Do you have any pointers on where to get started?

[2019-08-04 07:59] Huang-Wei commented on #55713
Some "implicit" points to shared here:

- If the cluster is running using kubeadm (or an equivalent tool), master isn't counted as a regular worker.
	https://github.com/kubernetes/kubernetes/blob/71245db13366baa94d7a38fd04c26fdb5de338c6/pkg/util/system/system_utils.go#L25
- If **all workers** become unhealthy, it will trigger an internal "fully disrupted" mode, the eviction behavior will be paused

[2019-08-04 08:13] ankurtyaagi commented on #68578
/assign mumoshu

[2019-08-04 08:23] vegemitecheesetoast commented on #73360
@thockin can I take this? This will be my first contribution, I think it's a good starter.

[2019-08-04 09:36] ankurtyaagi commented on #79209
/assign jpbetz

[2019-08-04 09:55] kami8607 commented on #50375
+1

[2019-08-04 10:37] #45726 closed

[2019-08-04 12:26] droslean opened #80960 "[ Failing test ] gce-cos-master-serial [sig-cluster-lifecycle] Nodes [Disruptive] Resize"
**Which jobs are failing**:
ci-kubernetes-e2e-gci-gce-serial

**Which test(s) are failing**:
[sig-cluster-lifecycle] Nodes [Disruptive] Resize [Slow] should be able to add nodes
[sig-cluster-lifecycle] Nodes [Disruptive] Resize [Slow] should be able to delete nodes

**Since when has it been failing**:
30 July 2019 since today

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#

[2019-08-04 12:39] #75093 closed

[2019-08-04 12:39] #65494 closed

[2019-08-04 12:39] #74132 closed

[2019-08-04 13:24] cpanato commented on #78907
i was checking the job and most of the time it is green and looks like it is failing once a day, will look during this week

[2019-08-04 13:39] neolit123 commented on #55713
@Huang-Wei
thanks,

there is actually a plan to deprecate IsMasterNode:
https://github.com/kubernetes/enhancements/pull/1144
https://github.com/kubernetes/kubernetes/pull/80238

is this the logic you mention?
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L715-L717

it seems to use the node name, and in my tests the node does not have

[2019-08-04 14:02] bg-chun commented on #80716
@derekwaynecarr , @odinuge
As mentioned in official [docs](https://kubernetes.io/docs/tasks/manage-hugepages/scheduling-hugepages/#before-you-begin), Kubernetes supports only single page size per node.
**I don't against it at all.**

My personal thought is there is no **actual** use case that containers consume 1GB-hugepages  and 2MB-hugepages together in a same pod(at least in NFV world).

Concep

[2019-08-04 14:54] tedyu commented on #55713
[code]
I guess the double negation is unintended - you meant 'are NotReady for more than > X minutes'.

[2019-08-04 15:01] HolimaX commented on #65936
This is sad of a valid bug to be closed due to inactivity. I still experience this.

[2019-08-04 15:03] ameena3 commented on #72915
Hey @rus4 ,
Do you still need any help here . Please find the latest code below for stopping the Rsyncd containers  :-
`# Pedantically kill, wait-on and remove a container. The -f -v options
# to rm don't actually seem to get the job done, so force kill the
# container, wait to ensure it's stopped, then try the remove. This is
# a workaround for bug https://github.com/docker/docker/issues/3968.
fu

[2019-08-04 15:05] neolit123 commented on #55713
yes! updated.

[2019-08-04 17:18] identw commented on #76531
+ same problem
docker: 18.09
kuberentes: 1.15.1
OS: Ubuntu 18.04

[2019-08-04 17:31] hh commented on #80770
It would help if we could clearly identify which feature flags enable which API operations (and corresponding paramaters/objects).

For sake of clarification in this instance, is createCoreV1NamespacedServiceAccountToken tied to a particular feature flag?

Is there a generalized way to see the APIS a particular feature flag is connected to by examining the source / AST or is it something we can cu

[2019-08-04 17:44] #72207 closed

[2019-08-04 19:11] dacox commented on #73613
@kow3ns what's the protocol for issues that go stale. I have nothing to add but this seems to be a issue still

[2019-08-04 19:22] vkuznet opened #80963 "Provide documentation on autoscaling memory metric"
**What would you like to be added**:
I'm trying to understand how memory metric is used for autoscaling. So far I found no documentation on this subject. In particular, the `staging/src/k8s.io/api/autoscaling/v2beta2` codebase mentions memory metric for autoscaling along with CPU but does not provide any details how it is calculated. It would be nice if such documentation will be provided.

**Why

[2019-08-04 19:24] vkuznet commented on #80963
/sig scalability

[2019-08-04 19:56] pieterdd commented on #72597
/remove-lifecycle rotten

[2019-08-04 22:49] #75047 closed

[2019-08-04 23:49] #71473 closed

[2019-08-05 00:44] anubhabMajumdar commented on #27744
/remove-lifecycle rotten

[2019-08-05 00:50] #75085 closed

[2019-08-05 00:57] anubhabMajumdar commented on #27744
/assign @anubhabMajumdar

[2019-08-05 00:57] ripta opened #80967 "Improve Node-specific Volume Limit Calculation"
**What would you like to be added**: Better algorithm for node-specific volume limits, or the ability to set the maximum volume limit (or both?). Ideally, the volume limit would be able to be set per node (or per nodegroup if using higher-level tooling), such that we can leverage heterogeneous instance types for the nodes in the cluster.

**Why is this needed**:

In some cases—one described below—

[2019-08-05 00:59] ripta commented on #80967
Looking at the group list this feels cross-SIG, so I'll let you all triage:

/sig autoscaling
/sig scheduling
/sig cloudprovider

[2019-08-05 01:34] ryanmcnamara opened #80968 "Pods on node with temporary unknown status never marked ready again"
# Summary

When a node (kubelet) is unable to heartbeat with the apiserver for a long time, the node-lifecycle controller sets the status of the node to "unknown" and immediately adds the following taint to the node
[code]
And immediately marks all pods on the node as `NotReady`. This is done [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/nodelifecycle/node_lifecycle_co

[2019-08-05 01:36] ryanmcnamara commented on #80968
/sig node

[2019-08-05 02:06] danielzhanghl opened #80969 "during delete pod, query the container status before stop that"
**What would you like to be added**:
when k8s need to delete a pod, it will stop container under the pod, if the container in the pod already stopped, below error will be printed out by docker as "is already stopped".
 if kubelet could query the container status before stop it, this won't happen.

==========

dockerd-current    time="2019-05-13T03:39:47.383552170-04:00" level=error msg="Handler fo

[2019-08-05 02:11] danielzhanghl commented on #80969
@kubernetes/sig-usability-bugs

[2019-08-05 02:14] ryanmcnamara commented on #80968
I wasn't able to repro as above 100% of the time. Sometimes, if the kubelet has an unrelated update for the pod it will update its status as Ready. The repro worked most of the time and this is still a bug as far as I can tell because there isn't a guarantee (nor is it even likely) that the pod will be ready in the steady state once the kubelet returns to being healthy

[2019-08-05 02:25] rajusharma commented on #77383
/remove-lifecycle stale

[2019-08-05 02:29] tedyu commented on #80968
If the heartbeat happens between the second taint is applied,
[code]
shouldn't the above code (starting on line 777) kick in ?

[2019-08-05 03:01] zouyee commented on #22680
/reopen

[2019-08-05 03:04] blackpiglet commented on #76995
@t-anil-kumar
Glad to hear. Thanks. That will do.

[2019-08-05 03:04] #76995 closed

[2019-08-05 04:43] yue9944882 commented on #80948
/cc @adohe @DirectXMan12

[2019-08-05 04:43] yue9944882 commented on #80916
/wg apply

[2019-08-05 05:08] warmchang commented on #75780
Should update all active Kubernetes release branches to latest Go release (go1.12.7 now)?

https://github.com/kubernetes/kubernetes/issues/79912#issuecomment-510935321
https://github.com/kubernetes/kubernetes/issues/73286

[2019-08-05 05:31] xiaoanyunfei opened #80972 "orphaned pod flexvolume can not be cleaned up"
**What happened**:
On kubelet node,  some pod have been deleted, but the volume of the pod can not be umounted and deleted.

There are always the following log

We use flexvolume, the mount path is
`/var/lib/kubelet/pods/bb07fd8d-b737-11e9-a203-0022ac9722f5/volumes/hulk~lvm`

I notices some log when starting kubelet

I0805 12:17:35.293534  260621 reconciler.go:429] Reconciler sync states: could no

[2019-08-05 05:39] juandiegopalomino commented on #80903
/usability

[2019-08-05 05:57] jiatongw opened #80975 "[e2e] Track TODOs in merged PRs"
This issue is to track TODOs in merged PRs of `test/e2e/framework`. Here is the checklist of potential following PRs.

- [ ] `e2e/framework/node/resource.go` (#78282):
    - [ ] TODO for func `FirstAddress`
    - [ ] TODO for func `isNodeConditionSetAsExpected `

- [ ] `e2e/apps/daemon_restart.go`  (#79879):
    - Write a wrapper for `framework.ExpectNoErrorWithOffset`

- [ ] `e2e/autoscaling/clus

[2019-08-05 06:00] jiatongw commented on #80975
/area/e2e-test-framework
/area/test
/assign

[2019-08-05 06:04] jiatongw commented on #80975
/sig testing

[2019-08-05 06:11] wojtek-t commented on #73635
/remove-lifecycle stale
/lifecycle frozen

[2019-08-05 06:12] wojtek-t commented on #77272
/remove-lifecycle stale
/lifecycle frozen

[2019-08-05 06:35] NanXuejiao commented on #77476
Is this issue will fix for 1.13？
I have this issue in `kubernetes version 1.13.4`. How to solve it, only by upgrading to k8s 1.14?

[2019-08-05 06:56] #71649 closed

[2019-08-05 07:17] NanXuejiao opened #80977 "kube-proxy failed after restart causing by "error deleting chain "KUBE-MARK-MASQ"""
**What happened**:
`kube-proxy` failed after restart, it reports:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
The same with [70615](https://github.com/kubernetes/kubernetes/issues/70615), [77476](https://github.com/kubernetes/kubernetes/issues/77476).
Is thers any way to solve it, only by upgrading kubernetes version?
**Anything else we need to know?**:

**Environment*

[2019-08-05 07:23] NanXuejiao commented on #80977
/sig network
/area kube-proxy

[2019-08-05 07:37] gongguan commented on #80403
I met the same problem, it's a logical error.
[#80942](https://github.com/kubernetes/kubernetes/pull/80942)

[2019-08-05 07:38] zouyee commented on #80963
https://github.com/kubernetes-incubator/metrics-server

[2019-08-05 07:41] MSSedusch opened #80980 "Switch to VM Update call"
**What would you like to be added**:
Instead of using the VM CreateOrUpdate (https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2019-07-01/compute/virtualmachines.go#L215) function of the Azure Go SDK, use the VM Update function (https://github.com/Azure/azure-sdk-for-go/blob/master/services/compute/mgmt/2019-07-01/compute/virtualmachines.go#L1682) in the azure_client (htt

[2019-08-05 07:41] MSSedusch commented on #80980
/sig azure

[2019-08-05 07:43] zouyee commented on #77067
/remove-lifecycle stale
any progress?

[2019-08-05 08:06] zouyee commented on #80807
/area kubelet

[2019-08-05 08:11] brancz commented on #58638
/remove-lifecycle stale

[2019-08-05 08:30] GeorgeGuo2018 commented on #76619
Not exactly what you said. I had deployed a daemonset in my cluster with restart policy "always".  When one of the pod is pending, the 'pod.status.phase' changed to 'pending' using 'kubectl get pod xxx -n xxx -o yaml'.    I think, when the pod is not running correct for somereason like 'CrashLoopBackOff',  the kubectl command gives out the reason in the status field in stdout but  the actually 'po

[2019-08-05 08:59] jinjiangcc opened #80981 "The coredns pod is always in the CrashLoopBackOff state"
I created a cluster with kubeadm .and all the pods except for Coredns are up and running, he is always in the CrashLoopBackOff stat. Coredns never started properly.

[code]

- Cloud provider or hardware configuration:
[code]
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]

1、 use `journalctl -f -u kubelet`
[code]

2、  use `kubectl describe pod coredns-5c98db65d4-v5mg8

[2019-08-05 09:00] avarf commented on #80890
Actually I found my answer:
The HPA is calculating the percentage based on the resource request for a deployment: https://stackoverflow.com/a/57323614/5553963

[2019-08-05 09:00] rzr commented on #27543
This ticket can be closed, but I was wondering if there is also other tickets related to integration in debian archive.

Otherwise track:
https://bugs.debian.org/795652

[2019-08-05 09:00] #80890 closed

[2019-08-05 09:22] ijumps commented on #61937
/remove-lifecycle stale

[2019-08-05 09:27] danielzhanghl commented on #50446
Hi @xiangfeiz  @dims

hi,
we met this issue also in k8s, and be ware of openstack service toke may fix it((https://specs.openstack.org/openstack/nova-specs/specs/pike/approved/use-service-tokens.html)), bu do we have other solution for this one, in the case of cloud provide don't want to change its openstack configuration?
thanks,

[2019-08-05 09:37] onlyjob commented on #27543
@rzr please follow Debian related issues in Debian.
No more comments here please since there is nothing left here to do.

[2019-08-05 11:04] daudn commented on #45509
I've since moved away from Kubernetes for my specific use case. I now start-up a single instance to run a single job and then self destruct. If you think about it, compute hours remain the same.

[2019-08-05 11:07] bootc commented on #69507
/remove-lifecycle stale

[2019-08-05 11:15] Pluies commented on #80355
FWIW I'm running into the same issue, and it appears very similar to issue #79398 and #78125 and, if I understand correctly, _should_ be fixed by #79451.

[2019-08-05 11:33] sergey-safarov commented on #80122
Opened related docker [ticked](https://github.com/moby/moby/issues/39667).
Later I will try apply same mechanism for kubernetes pods private static IP assignments as service.

[2019-08-05 12:11] zetaab commented on #80462
no idea is this same problem but I am running kops with debian buster and things start to fail

[code]

If I use same setup except debian stretch everything will work. Buster is using iptables v1.8.2 (nf_tables) stretch is using iptables v1.6.0

[2019-08-05 12:19] Zatvobor commented on #56582
I've moved some `Deployment`s to`StatefulSet`s, so it can be managed/described over `resourceNames`.

And yes, please reconsider the solution for managing `Deployment`.
For example:
[code]
[code]

[2019-08-05 12:21] unconfigured commented on #72236
Any chance to get the nodes local services off the intra-/internet soon? @lbernail maybe?

I think this unexpected behavior is a serious security issue, calico has fail safe rules that open ssh, bgp, dhcp and others per default and there is currently no way to block this traffic with default methods. Using metallb this also means your ports might be exposed publicly.

[2019-08-05 12:28] cann0nf0dder opened #80982 "coredns: Pod Predicate MatchNodeSelector failed after 1.13.7 - 1.14.4"
**What happened**:
After upgrade of the controllers/master nodes from 1.13.7 to 1.14.4 some coredns pods appear to have failed with "Pod Predicate MatchNodeSelector failed" on top of the running coredns pods

[code]
Logs from one of the controller for pod which ended up in this state (deleted manually)

[code]

**What you expected to happen**:

I performed this upgrade on couple of clusters going

[2019-08-05 12:42] spearsem commented on #63523
/reopen

[2019-08-05 12:43] spearsem commented on #63523
Is this feature still being considered? I also have an open use case that would benefit from this.

[2019-08-05 12:44] joelsmith opened #80983 "CVE-2019-11247: API server allows access to custom resources via wrong scope"
CVSS:3.0/AV:N/AC:H/PR:L/UI:N/S:U/C:L/I:L/A:L

The API server mistakenly allows access to a cluster-scoped custom resource if the request is made as if the resource were namespaced. Authorizations for the resource accessed in this manner are enforced using roles and role bindings within the namespace, meaning that a user with access only to a resource in one namespace could create, view update or d

[2019-08-05 12:44] joelsmith opened #80984 "CVE-2019-11249: Incomplete fixes for CVE-2019-1002101 and CVE-2019-11246, kubectl cp potential directory traversal"
CVSS:3.0/AV:N/AC:H/PR:L/UI:R/S:U/C:N/I:H/A:N

A third issue was discovered with the Kubernetes kubectl cp command that could enable a directory traversal such that a malicious container could replace or create files on a user’s workstation. The vulnerability is a client-side defect and requires user interaction to be exploited.

Vulnerable versions:
Kubernetes 1.0.x-1.12.x
Kubernetes 1.13.0-1.13.8

[2019-08-05 12:49] viniciusd commented on #50619
Just double-checked the RFC and found its syntax constraints:
[code]

[2019-08-05 13:21] johnSchnake commented on #76342
/reopen

Will update with more details, but my last assessment was that there were a few more images that could/should be consolidated.

[2019-08-05 13:25] mattjmcnaughton commented on #77067
@zouyee I created a diff to address this issue - however, it hadn't seen any activity in months. I've tried pinging people, but if you want to also join in on that effort, I'm happy to reopen the diff.

[2019-08-05 13:36] alejandrox1 commented on #80625
Related to https://github.com/kubernetes/kubernetes/issues/80719
Seems like the test failure mentioned in this issue, `[sig-network] Services should only allow access from service loadbalancer source ranges [Slow]` in https://testgrid.k8s.io/google-gce#gce-master-scale-correctness has resolved.
/close

[2019-08-05 13:36] #80625 closed

[2019-08-05 13:37] alejandrox1 commented on #80719
Looking at https://github.com/kubernetes/kubernetes/compare/f370abb23...f6bc0ea03 it seems like  https://github.com/kubernetes/kubernetes/pull/80805 solved this issue.
/close

[2019-08-05 13:37] #80719 closed

[2019-08-05 13:46] praseodym commented on #79234
This issue seems to have PRs for all dependencies, so:
/remove-good-first-issue
/remove-help

[2019-08-05 13:48] alejandrox1 commented on #80960
Thanks for opening this issue!
This one is a duplicate of https://github.com/kubernetes/kubernetes/issues/79662
You can see it in the ci signal project board https://github.com/orgs/kubernetes/projects/11
/close

[2019-08-05 13:48] #80960 closed

[2019-08-05 13:54] zouyee commented on #80982
https://github.com/kubernetes/kubernetes/pull/80976

[2019-08-05 14:06] stanislavkozlovski commented on #77316
/remove-lifecycle stale

[2019-08-05 14:09] linxuyalun opened #80987 "Cannot access service cluster-ip"
**What happened**:

I have deployed two services like the pictures below:

![image](https://user-images.githubusercontent.com/25969296/62469689-627b4280-b7cb-11e9-8d84-ecca47fc57b7.png)

My `winsper-mongo` works well, however, when I tried to access my `winsper-eureka` service, it just hung without response:

![image](https://user-images.githubusercontent.com/25969296/62469907-d3baf580-b7cb-11e9-9

[2019-08-05 14:12] linxuyalun commented on #80987
/sig network services

[2019-08-05 14:17] josephburnett commented on #80481
We should probably add some round-trip conversion tests.  E.g. here: https://github.com/kubernetes/kubernetes/blob/809eaa7025119712ca82c6f4dfa73a4a544ad7ec/pkg/apis/autoscaling/v2beta1/conversion_test.go

[2019-08-05 14:22] timothysc commented on #80767
/assign @caesarxuchao
^ This is a requirement for graduation to GA.

[2019-08-05 14:42] praseodym commented on #80987
GitHub is not the right place for support requests.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubern

[2019-08-05 14:52] singhania commented on #76657
Is there any update on this?

[2019-08-05 15:05] pakhomov-passteam commented on #76531
I have checked Kubernetes 1.15 + CRI-O as runtime and we have no issues

[2019-08-05 15:46] andrewsykim commented on #80428
/remove-triage unresolved

[2019-08-05 15:47] andrewsykim commented on #79400
/close

Feel free to re-open with more details on how the image was built.

[2019-08-05 15:47] #79400 closed

[2019-08-05 15:48] andrewsykim commented on #80403
/remove-triage unresolved

[2019-08-05 15:49] joelsmith commented on #80983
/sig cli

[2019-08-05 15:50] joelsmith commented on #80984
/sig cli

[2019-08-05 15:52] kfox1111 commented on #74650
Hmm... That is a good question. Does csi require a mount to be made or only that the specified directory be created? Will have to go read through the spec...

[2019-08-05 15:52] kfox1111 commented on #74650
/remove-lifecycle stale

[2019-08-05 15:53] joelsmith commented on #80983
/sig auth
I added sig/cli by mistake

[2019-08-05 15:53] andrewsykim commented on #65618
/remove-lifecycle stale

This is going to be fixed with https://github.com/kubernetes/enhancements/pull/1083

[2019-08-05 16:00] loqutus commented on #80980
/assign

[2019-08-05 16:00] kfox1111 commented on #74650
The only place in the spec I could find was this comment:
  // For volumes with an access type of mount, the SP SHALL place the
  // mounted directory at target_path.

So I think having Kubelet enforce that check would be ok with the spec, and a good thing to do.

[2019-08-05 16:02] joelsmith commented on #80984
Fixed in #80436 and associated cherry-picks (see description).

[2019-08-05 16:02] #80984 closed

[2019-08-05 16:03] joelsmith commented on #80983
Fixed in #80750 and associated cherry-picks.

[2019-08-05 16:03] #80983 closed

[2019-08-05 16:07] joelsmith commented on #80983
/sig api-machinery

[2019-08-05 16:09] mitar commented on #69640
/remove-lifecycle stale

[2019-08-05 16:09] philips commented on #70132
I have been thinking a lot about this problem over the last few months and would like to propose an alternative starting point to trying to do public key signing.

Instead I think we should add cryptographic digests for the [files released in Kubernetes][releases]. Commonly called SHA256SUMS files they can be easily generated using the common `sha256sum` tool on most systems

[code]

Alternatively

[2019-08-05 16:17] hoegaarden commented on #80983
/remove-sig cli

[2019-08-05 16:52] kolorful commented on #75839
Hi folks,

I wonder if we could add the old gauge metrics back for backward compatibility sake. We just realized this change breaks some of our components that relies on the old metrics during our migrate to v1.15.x.

[2019-08-05 16:54] vllry commented on #77700
Just in case...

/sig node

[2019-08-05 16:59] johnbelamaric commented on #80193
/remove-triage unresolved
/priority important-longterm

[2019-08-05 16:59] Enelar commented on #43279
[code]
1 second downtime, but no rogue pods anymore

[2019-08-05 17:07] ashleykasim commented on #77700
Seeing the same on k8s 1.14.4 and cri-o 1.14. Metrics-server v0.3.3 is skipping pods with exited init containers.

Data returned from k8s stats/summary endpoint for a pod with an exited init container:
[code]

I took a look and it looks like cri-o is correctly reporting a "0" value for exited containers. For the container in the above example, crictl returns this:

[code]

[2019-08-05 17:20] gnufied commented on #73772
/remove-lifecycle stale
/lifecycle frozen

[2019-08-05 17:24] yuxiangqian commented on #80878
/close looks normal now

[2019-08-05 17:29] ericgriffis commented on #80983
Is there a reason this isn't patched in 1.12 and below? We're running k8s with kops, which currently only supports 1.13 in beta and 1.14 in alpha, which means we haven't upgraded to these versions yet. @joelsmith

[2019-08-05 17:31] mjhuber commented on #80983
kops 1.13.0 was released on 8/2

[2019-08-05 17:52] astripei70 commented on #80819
@msau42 In lieu of upcoming ScaleIO driver deprication,  I am doing research on the use of it. Any info on the usage that you could share would be highly appreciated.

[2019-08-05 18:12] Huang-Wei commented on #55713
That sounds good. At least it gives kubeadm users an option to use two machines to build a "real" 2-node cluster, so as to avoid "fully disrupted" mode.

Daemonset is special here. By default, ds pod will be applied with multiple tolerations: not-ready:NoExecute, unreachable:NoExecute, unschedulable:NoSchedule, etc. So a daemonset pod can tolerate almost all unhealthy conditions (taints) of a node

[2019-08-05 18:13] misterikkit commented on #55713
For anyone who encountered this issue with StatefulSet pods, this is a known issue that we hope to address with https://github.com/kubernetes/enhancements/pull/1116.

In particular, StatefulSetController does not create a replacement pod until it is sure that the volume has been unmounted. The only way to be sure today is with pod deletion, because we can't distinguish between, say, a network part

[2019-08-05 18:16] misterikkit commented on #55713
It would be better to force-delete the pods on that node, assuming the node is going to rejoin the cluster when it is healthy again. IIRC Node objects being deleted and recreated caused other issues in the past.

[2019-08-05 18:25] msau42 commented on #80819
@astripei70 can you clarify what usage you are asking about?

[2019-08-05 18:26] praseodym commented on #75238
I've just tested again on Debian 9 with Kubernetes 1.14.4 and containerd 1.2.6, and I'm still seeing the same behaviour.

I had to `modprobe br_netfilter` and configure the following sysctl settings to pass the required kubeadm preflight checks:

[code]

Then I successfully joined the node to my cluster using kubeadm:
<details>
<summary>`kubeadm join` output</summary>

[code]

</details>

kube-pro

[2019-08-05 18:28] msau42 commented on #74650
@kubernetes/sig-storage-bugs

cc @jsafrane @gnufied @jingxu97

CSI spec says that the target path has to be a mount. Shall we go ahead and enforce it then? Are we going to break drivers that may not be doing this?

[2019-08-05 18:34] astripei70 commented on #80819
@msau42 Michelle, I am looking for any recommendations to estimate the number of ScaleIO driver users. I have looked at the issues and PRs.

[2019-08-05 18:39] dims commented on #80041
/assign @adisky @hogepodge

[2019-08-05 18:41] ddebroy commented on #80931
These were added based on presence of other feature-gate validation like [features.PodOverhead](https://github.com/kubernetes/kubernetes/pull/80933/files#diff-81c0c668d90c62bb5b7a2334c09c7e50L3233). Now it makes sense to align with their removal as well.

There are a couple of instances of feature-gate checking in validation in non-storage areas as well: [features.HPAScaleToZero](https://github.co

[2019-08-05 18:42] dims commented on #70131
/assign @justaugustus
/unassign

[2019-08-05 19:06] timothysc commented on #60807
@kubernetes/sig-api-machinery-misc

This bug has existed for > year and is still a problem... What is your plan to address inbound issues such as this?

[2019-08-05 19:08] kbruner commented on #80983
Unfortunately for GCP customers, new GKE clusters still default to 1.12.

[2019-08-05 19:20] brancz commented on #75839
We don’t have stability guarantees on these metrics (or any for that matter). I don’t think we’ll be reintroducing these, but we’re introducing a metrics stability framework for these things to not happen again or have the same deprecation process as kubernetes APIs in the future. Sorry for the inconvenience!

[2019-08-05 19:27] johnSchnake commented on #78535
Brought this up in the testing commons meeting and it was agreed that this approach seemed reasonable and that the customReporters seemed like the only way to generate this data.

In addition, it was requested that we find a way to also emit this (or some variation) into stdout/logs so that it is easier for a human to navigate those verbose logs.

[2019-08-05 19:28] neolit123 commented on #55713
@Huang-Wei thanks for the explanation.
this clarifies the picture and it seems that ultimately node cleanup is in the hands of the operator, which will then trigger rescheduling / removal of the pods hosted on such a node.

[2019-08-05 19:38] BenTheElder commented on #75780
@warmchang we don't necessarily update past releases beyond go patch versions because of the potential for regressions in scalability etc. That policy needs discussion. @kubernetes/release-engineering

[2019-08-05 19:42] Morriz commented on #66042
Yes, the docs say otherwise indeed. Sad that we can't use the annotation and not place loads in other namespaces :(
Seems it's better to turn it off until 1.15 is GA

[2019-08-05 19:58] damemi commented on #80541
@kharunsamuel1 thanks, any updates on this?

[2019-08-05 20:12] kow3ns commented on #79746
I don't think this is possible, and from a security perspective, I'm not sure its wise. Containers in a [Pod](https://kubernetes.io/docs/concepts/workloads/pods/pod/#what-is-a-pod) share the same network/storage. Allowing two containers from different Pods to cross the isolation boundary breaks the model of the API and isn't safely implementable in Kubelet. Moreover, the technical feasibility of i

[2019-08-05 20:12] kow3ns commented on #79746
/close

[2019-08-05 20:12] #79746 closed

[2019-08-05 20:13] DirectXMan12 commented on #80948
We'd be happy to host metacontroller under the KubeBuilder/server-sdk subproject.  We've discussed it in the past, but left it as-is for various maintenance reasons, but if the metacontroller folks decide they want to move the project, server-sdk seems like a reasonable place to put it.

[2019-08-05 20:16] kow3ns commented on #79337
For Q1, yes, that is something we can explore.
For Q2, no, there is too much in the ecosystem the depends on the current naming convention.
Do you want to open a PR to attempt to address Q1?

[2019-08-05 20:16] msau42 commented on #80819
I don't think there's any good way to get a good estimate without checking with each of the Kubernetes providers and/or directly with scaleio customers.

[2019-08-05 20:16] krousey commented on #3955
reassigning to @lavalamp as I haven't actually worked on this in a while.

[2019-08-05 20:17] kow3ns commented on #77597
This has been open with no valid reproduction at a supported version. I'm closing this in the interim until we have evidence that it breaks and we are just getting lucking in conformance and e2e.

[2019-08-05 20:17] kow3ns commented on #77597
/close

[2019-08-05 20:17] #77597 closed

[2019-08-05 20:18] johnSchnake commented on #76342
The list of images still used by conformance runs according to my records is:
[code]

The tests dealing with `nautilus`/`kitten`, which are both powered by the `test-webserver` are just basic web servers that report a given detail (json that says kitten or nautilus; I dont think the actual jpg gets checked ever). It seems like this could be rolled into our agnhost with some sort of 'static' endpoi

[2019-08-05 20:35] luisdavim commented on #80948
Thanks, that would be great.

/cc @enisoc

[2019-08-05 20:39] alvaroaleman commented on #60807
This could help with at least understanding whats going on:  https://github.com/kubernetes/kubernetes/pull/80962

[2019-08-05 20:49] gmauleon commented on #22024
If it's something we don't have to act upon and we don't want to be polluted, I would go even further and push that to debug level.
Honestly, I would love not to see it at all. All our Prometheus are spitting that out every 3/5 seconds and that means $$$ in stackdriver bills on GKE :(

[2019-08-05 20:52] leakingtapan commented on #80488
@gnufied to help me better understand the problem, do you have some step to reproduce this issue using in-tree?

[2019-08-05 20:56] DirectXMan12 commented on #80948
You mean "built in" to Kubernetes?  That's *highly* unlikely to happen.  Practically, there's not a good technical reason to have this "built-in" (dynamic admission webhooks need to be built-in because they have to hook into the API server), and with more and more of push to have things as extensions, there's little justification for this.

[2019-08-05 20:59] yuzeming commented on #80940
@tedyu Thanks for your response.
My analysis covers all code but doesn't find anything yet.

In this test, it works well for now and looks like a benign data race.

The root cause is cache inconsistency since writing to memory is expensive and CPUs tend to buffer it in cache. However other CPU's can't observe writing in time until cache flush. It finally leads to a speculative bug.

Also, accordin

[2019-08-05 21:15] fedebongio commented on #80877
/cc @jpbetz

[2019-08-05 21:16] fedebongio commented on #80914
/assign @jennybuckley

[2019-08-05 21:17] fedebongio commented on #80916
/assign @jennybuckley

[2019-08-05 21:18] fedebongio commented on #80948
/remove-sig api-machinery
/sig apps

[2019-08-05 21:41] BenTheElder commented on #80810
dockershim is not used when using a CRI?

[2019-08-05 21:48] BenTheElder commented on #80810
cc @yujuhong @Random-Liu cam you comment on this?

[2019-08-05 22:00] yujuhong commented on #80810
Is this issue about dockershim or cri-o?

[2019-08-05 22:01] luisdavim commented on #80948
The reason is UX, it would make extending kubernetes much easier. It doesn't have to be "in tree" but it could be installed by default.

[2019-08-05 22:05] prameshj commented on #80152
thanks for trying it out. Looks like the test creates a pod by setting the hostname and subdomain fields rather than host aliases.

So can you create a test-pod and set pod.Spec.Hostname = "test-hostname", pod.Spec.Subdomain = "test-subdomain" and then check that /etc/hosts has an entry for "test-hostname.test-subdmain.default.svc.cluster.local"?

You can also try "getent hosts test-hostname"

[2019-08-05 22:08] #79794 closed

[2019-08-05 22:08] #76832 closed

[2019-08-05 22:11] devaips commented on #78833
The tests which we attempted to promote for this test need to be rewritten. The PR for the rewrite of 'Kubelet:Timed Pod Deletion' test is https://github.com/kubernetes/kubernetes/pull/80731

[2019-08-05 22:11] #78833 closed

[2019-08-05 22:28] aojea commented on #80810
I´m confused too, the snippet of code refers to dockershim and indeed it seems to miss the IPv6 functionality. However, the test and the description refers to CRI-O that AFAIK doesn´t use dockershim, uses CRI.

@saschagrunert can you clarify?

[2019-08-05 22:34] egernst opened #80993 "eviction: should pod overhead be considered"
**What would you like to be added**:

Today, a portion of eviction logic will make a decision based on the utilized resources versus what was specified in requests.

With this in mind, the pod resource requests are determined in the `podRequest` [function in eviction/helpers.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/helpers.go#L570-L603).

The usage is calculate

[2019-08-05 22:34] egernst commented on #80993
/sig node

[2019-08-05 22:37] egernst commented on #80993
My initial Kubelet focused PR for enabling PodOverhead can be found at https://github.com/kubernetes/kubernetes/pull/79247

In particular, I was looking at deduplicating existing code, and if we were to measure stats at the pod cgroup level, I'd recommend including the following commit: https://github.com/kubernetes/kubernetes/pull/79247/commits/7bbd37ab93da31582c17ce2eb834b2ae49752c7e

I'd need m

[2019-08-05 22:47] tallclair commented on #80993
Including overhead makes sense to me, but I don't know the nuances of eviction. sig-node seems like the right place to discuss it (I see you added it to the agenda).

[2019-08-05 22:58] gautamkmr commented on #60807
I am hitting the same issue

[code]

[code]

[2019-08-05 23:00] davidz627 commented on #80931
/cc @dxist @janosi @egernst
for other identified features that may share this issue.

[2019-08-05 23:09] rbtcollins opened #80996 "Changing an NLB service from externalTrafficPolicy Cluster to Local results in a stuck Service"
**What happened**:

I had an NLB Service object (in AWS naturally) where we decided we needed the source IP address and so changed the ExternalTrafficPolicy from Cluster to Local, but didn't delete the Service object - and didn't want to, because that would break Route53 DNS entries.

The Service started throwing Warning and 400 errors from the AWS API and did not self-heal.
[code]

**What you exp

[2019-08-05 23:11] rbtcollins commented on #80996
@kubernetes/sig-aws-bugs

[2019-08-05 23:12] rbtcollins commented on #80996
I worked around this by manually deleting the listener and then the target group; this stopped traffic until the controller retried, but saved DNS shenanigans

[2019-08-05 23:20] jennybuckley commented on #80914
Is the original apply from a client side apply and the next apply is a server side apply?

[2019-08-05 23:24] felixfbecker commented on #80914
Yes, as afaik `kubectl apply` does a client-side apply. The second sippet is a server side apply (as described in the description).

[2019-08-05 23:25] jennybuckley commented on #80916
As with #80914 the issue here is that the first operation is a client side apply, and the second is a server side apply. Even though the field manager of each is "kubectl" it doesn't use the same entry in managedFields.

As a workaround, if you first do a serverside apply that doesn't change anything, this will not conflict and will give you ownership of all the fields in your config file, then yo

[2019-08-05 23:30] jennybuckley commented on #80914
@felixfbecker `kubectl apply` can also be a server side apply if --experimental-server-side is given as a flag, but it requires kubectl 1.14+
In 1.16 the flag will probably be renamed to --server-side,
and in 1.17 it is planned to be defaulted to true.

[2019-08-05 23:31] felixfbecker commented on #80916
Ah, I almost guessed something like that. Will this be changed? As it stands this renders server-side-apply unreliable, because if the resource was modified by any coworker with `kubectl apply` it suddenly is not server-side-applyable anymore (unless you know about & always employ that workaround).

[2019-08-05 23:55] devaips opened #80997 "[Umbrella Issue] Rewrite tests which hit Stable API endpoints"
Previous Umbrella Issues https://github.com/kubernetes/kubernetes/issues/78747 & https://github.com/kubernetes/kubernetes/issues/78748 encompassed PRs to promote tests which hit Stable endpoints. Some of these PRs have been able to be successfully merged, others require rewrites/changes in order to  be included in Conformance. This issue tracks the progress of those rewrites.

#### Merged

* [x]

[2019-08-06 00:02] devaips commented on #78747
As soon as https://github.com/kubernetes/kubernetes/pull/80148 is closed/merged then we can close this issue.

[2019-08-06 00:03] devaips commented on #79115
The PR assigned to this issue has been closed and the test is being rewritten. Closing this issue.

[2019-08-06 00:03] #79115 closed

[2019-08-06 00:06] devaips commented on #78748
All PRs and sub-issues have been closed. There were several tests identified from this umbrella issue which were determined to be fair candidates for promotion to Conformance, pending changes or rewrites. Those will be tracked in this umbrella issue: https://github.com/kubernetes/kubernetes/issues/80997

[2019-08-06 00:06] #78748 closed

[2019-08-06 00:08] svend commented on #48638
@liggitt

I am running into this issue with Kubernetes 1.14.1. It looks like the fix in #63492 is in the kubelet client certificate code. Will this still work if kubelet is using token (not certificate) authentication?

[2019-08-06 00:33] liggitt commented on #48638
This regressed, and was refixed in 1.14.3

See https://github.com/kubernetes/kubernetes/pull/78016

[2019-08-06 00:40] yuxiangqian commented on #80878
/close

[2019-08-06 00:40] #80878 closed

[2019-08-06 00:52] MrHohn opened #81000 "Service finalizer e2e tests are very flaky"
**Which jobs are failing**: gce-lb-finalizer

**Which test(s) are failing**:
Many of the service related tests are pretty flaky, including (non-exclusive list):
[code]

**Since when has it been failing**:
From the commits it looks like https://github.com/kubernetes/kubernetes/pull/79667.

**Testgrid link**: https://k8s-testgrid.appspot.com/sig-network-gce#gce-lb-finalizer

**Reason for failure**:

[2019-08-06 00:53] MrHohn commented on #81000
/sig network

[2019-08-06 01:05] MrHohn commented on #81000
More snippets on the error:
[code]

Test usually fails when trying to run a command on an execPod.

[2019-08-06 01:28] hogepodge commented on #80041
/assign @ramineni

[2019-08-06 01:52] qhh0205 commented on #60835
@geerlingguy‘s Solution worked for me.

[2019-08-06 01:54] neolit123 commented on #80981
/remove-kind bug
/triage support

please try some of the solutions here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/

if nothing works try inspecting the coredns container logs.

[2019-08-06 02:14] jinjiangcc commented on #80981
@neolit123  I have tried, and the issue I updated provides more information

[2019-08-06 02:25] neolit123 commented on #80981
can you obtain the logs of a coredns containers?

[2019-08-06 02:40] yuyulei commented on #79337
ok I try it

[2019-08-06 02:42] jinjiangcc commented on #80981
@neolit123  I use `kubectl logs POD_NAME -n kube-system -c coredns` to view the logs, but there is no task log information

[2019-08-06 02:43] #80987 closed

[2019-08-06 02:45] Novex opened #81001 "/dev/shm is not cleared across pod restarts"
**What happened**: When a pod is restarted (eg. due to a failing livenessCheck or pid 1 exit) the files created in /dev/shm aren't cleared like they would be if the pod was deleted and recreated

**What you expected to happen**: Regardless of how the container starts, /dev/shm should always start in a consistent state (ie. empty)

**How to reproduce it (as minimally and precisely as possible)**:
T

[2019-08-06 02:53] Novex commented on #81001
@kubernetes/sig-storage-bugs maybe?

[2019-08-06 02:57] #80265 closed

[2019-08-06 03:01] feiskyer commented on #73235
/remove-lifecycle stale

[2019-08-06 03:16] andyzhangx commented on #80836
/sig azure

[2019-08-06 04:10] nikhita commented on #80996
/sig cloud-provider

[2019-08-06 04:11] nikhita commented on #80980
/sig cloud-provider

[2019-08-06 04:46] gongguan commented on #80407
run kube-proxy in iptables mode

[2019-08-06 05:03] andyzhangx commented on #80076
/sig azure

[2019-08-06 05:09] justaugustus commented on #80076
/sig cloud-provider
@andyzhangx -- ref: https://groups.google.com/d/msg/kubernetes-dev/A0qk1cpE_hI/Ni6-jnhLCwAJ

[2019-08-06 05:09] justaugustus commented on #80076
/remove-sig azure

[2019-08-06 05:10] justaugustus commented on #80365
/sig cloud-provider

[2019-08-06 05:10] justaugustus commented on #79597
/sig cloud-provider

[2019-08-06 05:10] justaugustus commented on #78893
/sig cloud-provider

[2019-08-06 05:11] justaugustus commented on #78843
/sig cloud-provider

[2019-08-06 05:11] justaugustus commented on #77121
/sig cloud-provider

[2019-08-06 05:29] AnjanaAK commented on #80298
/help-wanted

[2019-08-06 05:38] jfbai commented on #80981
try to set flag `--previous`.

[2019-08-06 06:04] jinjiangcc commented on #80981
@jfbai again, there is no logging

[2019-08-06 06:11] zhan849 commented on #79435
/close

Misfiled ticket, works correctly after 1.14

[2019-08-06 06:11] #79435 closed

[2019-08-06 06:14] jmillikin-stripe commented on #76688
/sig aws

[2019-08-06 06:35] wojtek-t commented on #80877
+1

[2019-08-06 06:40] saschagrunert commented on #80810
We use the hostport manager from the dockershim in CRI-O, so I think the issue will affect both (if the dockershim will support IPv6, too).

[2019-08-06 06:41] janosi commented on #80931
I wonder if this PR from @liggitt has already corrected the fallback problem.
https://github.com/kubernetes/kubernetes/pull/73774

[2019-08-06 06:55] monotek commented on #79432
/assign monotek

[2019-08-06 07:10] andyzhangx commented on #77108
/sig cloud-provider

[2019-08-06 07:10] andyzhangx commented on #67813
/sig cloud-provider

[2019-08-06 07:21] jinjiangcc commented on #80981
replacing the mirror version `(1.15.0 => 1.15.1) ` will work, is it because my `kubelet` version is 1.15.1?

[2019-08-06 07:24] #80981 closed

[2019-08-06 08:02] feiskyer commented on #73235
/sig cloud-provider

[2019-08-06 08:23] jacekn opened #81007 "AWS provider modified untagged security group"
**What happened**:

I have AWS environment with workers tagged with kubernetes.io/cluster/$cluster=owned.
The workers use security group that is NOT tagged with any k8s tags. I am using kube-controller-manager with AWS cloud support.

When I created service of type LoadBalancer AWS provider configured everything correctly, including adding ingress rules to the untagged instance security group.

I

[2019-08-06 08:30] jacekn commented on #81007
@kubernetes/sig-cloud-provider-bugs

[2019-08-06 09:09] hermanbanken commented on #70674
Any updates on this? We are seeing this for consecutive `kubectl apply`s of a `BackendConfig`.

Is the assumption that you can always `kubectl apply` the same resource twice not/no longer true?

[2019-08-06 09:27] aojea commented on #80810
for completeness, I could talk with @saschagrunert and clarify that the problem is with dockershim.
They've found the issue in the CRI-O project, it seems they are importing the dockershim host port manager https://github.com/cri-o/cri-o/blob/71f12a46396dc57ebd135910ef8b65739ca7a2ce/server/sandbox_network.go#L77 and it fails because it doesn't support IPv6.
I think the issue is legit and my fix #8

[2019-08-06 09:31] praveensastry commented on #80969
/assign

[2019-08-06 10:15] bg-chun opened #81009 "Support isolating memory to a single NUMA node"
**What would you like to be added**:

/kind feature

**Why is this needed**:

This issue is intended to start discussion for future enhancement of kubelet

## What is an issue?
- Currently, there is no way to guarantee `local memory access` when container is deployed to machine that has multiple NUMA nodes.

- When container is pinned to specific `CPUs` by using `CPU Manager`, It can cause inter-N

[2019-08-06 10:17] xiemaisi opened #81010 "Kubelet: cpuset `Builder.Result` method does not behave as documented"
(Apologies for only vaguely following the template, I found this problem using static analysis, not while actually running Kubernetes.)

**What happened**:

The receiver variable `b` of the [Builder.Result](https://github.com/kubernetes/kubernetes/blob/1220a8ae92c20f6ae1a0929e4f32c2f513bf82ca/pkg/kubelet/cm/cpuset/cpuset.go#L58) method in `pkg/kubelet/cm/cpuset/cpuset.go` has type `Builder`, not `

[2019-08-06 10:17] bg-chun commented on #81009
/sig node

[2019-08-06 10:20] xiemaisi commented on #81010
/sig node

[2019-08-06 10:24] bootc opened #81011 "Please include security notices in the release notes"
**What would you like to be added**:

The release notes state "No notable changes for this release":
* https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#changelog-since-v1151
* https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md#changelog-since-v1144
* https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md#changelog-since-v1138

However it tu

[2019-08-06 10:28] bootc commented on #81011
I expect this is one for @kubernetes/product-security-committee and probably others but I don't really have any clue who.

[2019-08-06 10:30] Arihe12th opened #81012 "Not able to reach Kubernetes master from particual IP series"
**we have Kubernetes cluster setup with single worked node which is NVIDIA DGX-1 system. the network environment where we installed the system have IP range form 10.0.0.0 to 10.255.255.255, we are not able to communicate with the master VM which has IP 10.10.6.18 from particular VLAN which has IP in 10.40.0.0 series but we are able to communicate to master VM form other VLAN (for e.g. 10.50.0.0 se

[2019-08-06 10:46] alicederyn commented on #72597
If you want to forward a non-k8s-managed port and have permission to stand up a new pod, you can run the [alpine/socat] image and port-forward to that:

    kubectl run --restart=Never --image=alpine/socat TEMP_POD_NAME -- -d -d tcp-listen:PORT,fork,reuseaddr tcp-connect:HOSTNAME:PORT
    kubectl wait --for=condition=Ready pod/TEMP_POD_NAME
    kubectl port-forward pod/TEMP_POD_NAME LOCAL_PORT:POR

[2019-08-06 11:42] Arihe12th commented on #81012
/sig network

[2019-08-06 11:48] jsafrane commented on #81001
@kubernetes/sig-node-bugs is the right target here, sig-storage maintains the **persistent** storage parts of Kubernetes, not container runtimes.

[2019-08-06 11:50] draveness opened #81016 "Umbrella issue for RuntimeClass Scheduling"
The issue works as an umbrella holding up all related items of implementing KEP "[RuntimeClass Scheduilng](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/runtime-class-scheduling.md)" in 1.16 as a beta feature.

## Work Items

+ [x] 1. API Changes https://github.com/kubernetes/kubernetes/pull/80825
    + Add Scheduling field to RuntimeClass
    + Add validation and conversati

[2019-08-06 11:54] brancz commented on #64730
/remove-lifecycle stale

[2019-08-06 11:58] bg-chun commented on #81009
Relate this issue, I propose new component(a.k.a Memory Manager) to sig-node.
It can be found [here](https://github.com/kubernetes/enhancements/pull/1203).

[2019-08-06 11:59] bg-chun commented on #81009
/assign derekwaynecarr

[2019-08-06 12:03] Prakashreddy134 opened #81017 "Is there any ingress controller for port based routing?"
My requirement is implement any ingress controller for port based routing

i tried nginx,haproxy and traefik ingress controllers but these are all supports only path and name based routing.
I need port based routing

If any one knows about port based routing please share docs

please help me.

[2019-08-06 12:22] nikhita commented on #25368
/sig cloud-provider

[2019-08-06 12:24] nikhita commented on #80539
/sig cloud-provider

[2019-08-06 12:24] nikhita commented on #80538
/sig cloud-provider

[2019-08-06 12:24] nikhita commented on #79723
/sig cloud-provider

[2019-08-06 12:24] nikhita commented on #79535
/sig cloud-provider

[2019-08-06 12:25] nikhita commented on #79523
/sig cloud-provider

[2019-08-06 12:25] nikhita commented on #78164
/sig cloud-provider

[2019-08-06 12:25] nikhita commented on #78089
/sig cloud-provider

[2019-08-06 12:25] nikhita commented on #77920
/sig cloud-provider

[2019-08-06 12:25] nikhita commented on #77813
/sig cloud-provider

[2019-08-06 12:25] nikhita commented on #77745
/sig cloud-provider

[2019-08-06 12:26] nikhita commented on #80248
/sig cloud-provider

[2019-08-06 12:26] nikhita commented on #79581
/sig cloud-provider

[2019-08-06 12:26] nikhita commented on #79279
/sig cloud-provider

[2019-08-06 12:27] nikhita commented on #77557
/sig cloud-provider

[2019-08-06 12:27] nikhita commented on #76688
/sig cloud-provider

[2019-08-06 12:28] nikhita commented on #75829
/sig cloud-provider

[2019-08-06 12:28] nikhita commented on #75647
/sig cloud-provider

[2019-08-06 12:28] nikhita commented on #75592
/sig cloud-provider

[2019-08-06 12:28] nikhita commented on #75476
/sig cloud-provider

[2019-08-06 12:28] nikhita commented on #75380
/sig cloud-provider

[2019-08-06 12:29] nikhita commented on #74527
/sig cloud-provider

[2019-08-06 12:29] nikhita commented on #73906
/sig cloud-provider

[2019-08-06 12:29] nikhita commented on #73810
/sig cloud-provider

[2019-08-06 12:29] nikhita commented on #73480
/sig cloud-provider

[2019-08-06 12:29] nikhita commented on #73362
/sig cloud-provider

[2019-08-06 12:32] PauloASilva commented on #79779
Hi,
The following video demonstrates the issue on our research setup described in the initial comment: https://youtu.be/i_EN9wL6gow

Please let me know whether some additional assets are required to help moving forward.

Cheers,
Paulo A. Silva

[2019-08-06 12:36] rdsubhas commented on #65502
There is also a simpler solution.

* Similar to how StatefulSets provide `podManagementPolicy` – to have a `containerManagementPolicy` attribute within a pod, with exact same attributes – Ordered or Parallel, with default being Parallel as it is now
* This simply means that, since containers are an array already, they can be started in sequence (and shutdown in reverse order) instead of in paralle

[2019-08-06 12:36] josefkorbel commented on #17088
What? :O What about the issuers? Do they also magically connect?

[2019-08-06 12:54] neolit123 commented on #79779
@PauloASilva have you experimented with joining more nodes with the same name?
is there are point where the system can completely break because of that?

[2019-08-06 13:11] PauloASilva commented on #79779
Hi @neolit123,
Yes I did, and in fact as much more nodes with the same hostname you join to the cluster, faster the clusters becomes unstable.

In our original research, joinning two worker nodes with the same hostname to the cluster, led the cluster to crash after a few hours

[code]

[2019-08-06 13:13] liggitt commented on #80931
Both SCTPSupport (in https://github.com/kubernetes/kubernetes/pull/73774) and HPAScaleToZero (in the PR where it was introduced) ensure existing objects with feature-gated data are still considered valid even when the feature gate is disabled.

This is a particularly fragile/nuanced area of the project. I'm working on a comprehensive way to tag fields as alpha and exercise the following cases in i

[2019-08-06 13:36] zjj2wry commented on #56903
I want to reproduce this problem in my environment. I can reproduce it using `wx.qlogo.cn`, but can't reproduce it using `baidu.com` or `google.com`. How to stably reproduce other addresses?

time nslookup wx.qlogo.cn
[code]

[2019-08-06 13:37] kolorful commented on #75839
@brancz that is understandable. A quick follow up question about the new metrics: Does the counter number mean how many successful/failed probes happened during this "prometheus scrape interval", or does the number monotonically increase since the creation of the container?

[2019-08-06 13:48] neolit123 commented on #79779
i see the potential for an operator mistake joining 5 workers with the same name as the control-plane, which can break a production cluster.

WRT to security, the DDoS vector seems *only* possible if the attacker obtains credentials to join their nodes in the first place - e.g. a leaked token. in normal circumstances the operator would be able to remove the malicious nodes and deny the credentials

[2019-08-06 13:50] berk-can opened #81020 "0/x nodes are available: 1 node(s) had volume node affinity conflict"
I have a pv, a pvc and a pod which mounts pv, it gives my error while creating pod
0/5 nodes are available: 1 node(s) had volume node affinity conflict, 4 node(s) didn't match node selector

my pv:
[code]

my pvc:
[code]

and my pod:
[code]

I am using manual StorageClass and I have cluster created by kubespray on 5 ubuntu machines, what might be the reason?
I've read answers about setting differe

[2019-08-06 13:55] liggitt commented on #79779
if kubeadm wanted to add such a check, it is free to do so, but I would not expect the kubelet to do so

[2019-08-06 13:55] berk-can commented on #81020
/sig multicluster

[2019-08-06 14:01] kstiehl opened #81021 "cpu shares should not be more than 1024"
## Background

To understand the actual problem we might need a little bit of background information.
Kubernetes allows you to specify requested resources on your deployment, for example you can specify that your pod needs two cores. Kubernetes enforces this request by setting `cpu.shares` to `2048`

Currently there is no standard which tells us that `1024` is one core and `2048` is two cores. Its

[2019-08-06 14:07] kstiehl commented on #81021
@kubernetes/sig-node

[2019-08-06 14:08] kstiehl commented on #81021
/sig node

[2019-08-06 14:10] liggitt commented on #81011
/sig release

This has to do with the timing of cutting the releases vs sending the announcements. The notices were included in the announcement, but not in the generated md files.

/assign @joelsmith
can you open a PR to update those?

[2019-08-06 14:10] Novex commented on #81001
Thank you for correcting that - my mistake!

I saw the "ephemeral" part in the sig-storage description and assumed because files were hanging around between restarts that /dev/shm must have been mapped somewhere ephemeral on purpose.

[2019-08-06 14:31] PauloASilva commented on #79779
This is exactly one of our scenarios.
If we consider automation, it is fairly easy to happen.

I do agree with such approach: `kubeadm` should reject joining nodes with duplicate hostname.

I have other concern/doubt regarding POD deployment.
Any idea how a POD would get deployed in a cluster with conflicting nodes: since `address` will keep changing in `/registry/minions/node-hostname`, where doe

[2019-08-06 14:34] liggitt opened #81023 "CVE-2019-11248: /debug/pprof exposed on kubelet's healthz port"
The debugging endpoint `/debug/pprof` is exposed over the unauthenticated Kubelet healthz port. Versions prior to 1.15.0, 1.14.4, 1.13.8, and 1.12.10 are affected. The issue is of medium severity, but not exposed by the default configuration. If you are exposed we recommend upgrading to at least one of the versions listed.

**Am I vulnerable?**
By default, the Kubelet exposes unauthenticated healt

[2019-08-06 14:34] #81023 closed

[2019-08-06 14:36] liu-cong commented on #80372
Based on @Huang-Wei 's insightful input, there doesn't seem to be an obvious solution. Leaving them as is seems reasonable - it's not great, but not a deal breaker either.

@alculquicondor WDYT?

[2019-08-06 14:38] liggitt commented on #79779
it is not expected that a cluster with misconfigured nodes would work well for scheduling pods. the misconfiguration should be fixed before pods are expected to schedule correctly

[2019-08-06 14:52] jpds opened #81024 "Add encryption options to GCE PD provisioner"
**What would you like to be added**: #30841 added support for encrypted disks on AWS for #30792. Since then, GCP seems to now support supplying a key for an encrypted disk via the API:

- https://cloud.google.com/compute/docs/disks/customer-supplied-encryption#encrypt_a_new_persistent_disk_with_your_own_keys

It would be good if a CSEK could be given to Kubernetes to do encrypted volumes on GKE.

[2019-08-06 14:52] aojea commented on #80078
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/80278

[2019-08-06 14:53] jpds commented on #81024
/sig storage

[2019-08-06 15:10] neolit123 commented on #79779
tracked in https://github.com/kubernetes/kubeadm/issues/1711

[2019-08-06 15:19] alculquicondor commented on #80667
Can you share a high level design on how do you plan to implement this? From a quick read, it sound like we should be using PostFilter + Score + NormalizeScore

/cc @Huang-Wei this is likely going to be very similar to EvenPodSpreading. The main issue with the current framework is that Score only cares about one Node at a time. But here we need to calculate some weights based on other nodes' conte

[2019-08-06 15:28] sfxworks commented on #81011
Looks like they put it in the email and the group, but not the release notes.
https://groups.google.com/forum/#!topic/kubernetes-security-announce/vUtEcSEY6SM/discussion

[2019-08-06 15:31] liggitt commented on #3955
/unassign @lavalamp
/assign @seans3

I think `kubectl convert` is the last place this is being done

[2019-08-06 15:38] alculquicondor commented on #80372
I'm unfamiliar with this refactoring by @misterikkit.

The point is that it's semantically incorrect that cache depends on algorithms (See [here](https://github.com/kubernetes/kubernetes/pull/80220#discussion_r305156226) for original motivation). Another package I could propose is `pkg/scheduler/clusterstate`, which should be able to host both listers and NodeInfo.

[2019-08-06 15:41] cblecker commented on #45173
/sig cloud-provider

[2019-08-06 15:44] pjh commented on #74674
@benmoss yeah, I agree it's unfortunate to use the non-standard Powershell module. Removing that workaround requires a GCE platform change that we're working on but we won't be prepared to remove this dependency in the K8s 1.16 timeframe.

In the meantime, is there a place where it would be helpful to document this dependency? I expect you found this by trying to use a GCE PD with a Windows pod an

[2019-08-06 15:46] anamika-avinash commented on #78164
I came across a similar issue that was being caused by Calico CNI on EKS.
The [issue](https://github.com/projectcalico/calico/issues/2516) was caused due to the BGP never getting intialized.

[2019-08-06 15:46] latchmihay opened #81025 "Enabling PodSecurityPolicy triggers OS Signals to volume mounts"
**What happened**:
When I have PodSecurityPolicy enabled on my Kube 1.14.x cluster, the mounted volume constantly gets CHMOD signal.

**What you expected to happen**:
When PodSecurityPolicy is not enabled, there is no such behavior as described above.

**How to reproduce it (as minimally and precisely as possible)**:
1. Enable PodSecurityPolicy on apiserver
Edit `/etc/kubernetes/manifests/kube-api

[2019-08-06 16:01] RMcD commented on #50898
@kubernetes/sig-cloud-provider-aws

[2019-08-06 16:14] mikedanese commented on #80574
As @munnerz pointed out, pkg/serviceaccount needs to work of internal API types because it's evaluated inside the API server handling path. This means that it would have to be copied to move into staging/ and both implementations would need to be maintained for the forseeable future. It's also pretty heavy weight. It requires an informer caches of all secrets, pods and service accounts.

Is it fea

[2019-08-06 16:17] pritishnahar95 opened #81026 "Getting Pod and Container Start/End Times to millisecond level precision"
**What would you like to be added**: Timestamps for Pod and Container Start/End times as well as events at a millisecond precision level.

**Why is this needed**:
This is needed because I am trying to look into the Kubernetes overhead at a millisecond level precision and design my system around it.

[2019-08-06 16:28] lavalamp commented on #30698
For those following along at home, we have this now.

[2019-08-06 16:33] mgdevstack commented on #81000
https://github.com/kubernetes/kubernetes/blob/7c23e1a4ac690aa60bfe677bfdf49f60b38113fd/test/e2e/framework/service/jig.go#L809
2 second of timeout (`-w 2`) should be sufficient to check service reachability, as test waits for at least 1 endpoint to be available before checking service reachability but I'm not sure what is causing the services to be not reachable on certain nodes (testgrid jobs).

T

[2019-08-06 16:38] lavalamp commented on #30698
I'd like to update my answers above considering the large amount of change the system has undergone.

Record the metadata.generation returned; when you observe and update with a generation >= that one, you've observed your change.

Same answer, just tracking RV per-resource.

We rely on the controller author to do something useful like record the observed generation.

We don't offer a way to detec

[2019-08-06 16:40] hh commented on #78749
@spiffxp should we punt this in favor of #76345 or something else

[2019-08-06 16:45] eherot commented on #58370
Also needing this (in 1.11 and eventually 1.12). Any plans to address it or should I find a workaround?

[2019-08-06 16:46] egernst commented on #80993
Somewhat relevant, as there's discussion on "root container" stats gathering from @derekwaynecarr

[2019-08-06 16:48] dchen1107 commented on #80993
@egernst Taking pod overhead into account for the eviction handling is very reasonable to me.

The reason we were calculating the sum of container's cgroups, instead of measuring the pod cgroup directly is due to the legacy reason. The initial QoS implementation didn't have pod cgroup concept since there is no request & limit at pod level. We later introduced pod cgroup and convinced the community

[2019-08-06 16:49] bgrant0607 commented on #30698
Thanks for the updates.

Is metadata.generation updated for all resource types?

[2019-08-06 16:51] mikedanese commented on #68164
- [ ] https://github.com/kubernetes-client/python/issues/616
- [ ] https://github.com/kubernetes-client/javascript/issues/317
- [ ] https://github.com/kubernetes-client/haskell/issues/54
- [ ] https://github.com/kubernetes-client/csharp/issues/293
- [ ] https://github.com/kubernetes-client/perl/issues/12
- [ ] https://github.com/kubernetes-client/ruby/issues/47

[2019-08-06 16:54] mgdevstack commented on #80760
Thanks, @saschagrunert for helping me setting up CRI-O based cluster.

2. Kubernetes e2e suite [sig-network] Services should be able to create a functioning NodePort service 19s

From log, it is clear that, these services are failing to reach over-allocated nodePort. but on my CRIO based testing cluster, they are reachable.
@saschagrunert or @mrunalp, Could you please check if they failing at your

[2019-08-06 17:00] CecileRobertMichon commented on #79597
v1.16.0-alpha.1 is available in https://github.com/Azure/aks-engine/releases/tag/v0.39.0

[2019-08-06 17:01] srflaxu40 commented on #69220
had some odd issues with flannel and 1.12 in oke kubernetes.  Was this confirmed a bug, and was anything of use done with it?

[2019-08-06 17:06] dims opened #81027 "Deprecate and remove cloud-controller-manager binary"
We dropped cloud-controller-manager deb from the release in https://github.com/kubernetes/kubernetes/pull/65338. Since all external cloud providers will end up having their own custom controller-manager, we should deprecate and eventually remove this binary and associated bits.

/sig cloud-provider

[2019-08-06 17:06] dims commented on #81027
cc @cheftako @andrewsykim

[2019-08-06 17:09] liggitt commented on #80748
flake fixed in https://github.com/kubernetes/kubernetes/pull/80928

/close

[2019-08-06 17:09] #80748 closed

[2019-08-06 17:10] lavalamp commented on #30698
It is not 100% automated, so it's possible for an individual resource to do it wrong, but we would treat that as an important bug.

[2019-08-06 17:12] dchen1107 commented on #80993
At SIG Node, from @dashpole

https://github.com/kubernetes/kubernetes/blob/7c23e1a4ac690aa60bfe677bfdf49f60b38113fd/pkg/kubelet/stats/cri_stats_provider.go#L452 https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/helpers.go#L557 PR that added it: https://github.com/kubernetes/kubernetes/pull/64280

[2019-08-06 17:15] BenTheElder commented on #81027
Er #65338 only changed the bazel build which is not used for releases?

[2019-08-06 17:21] dims commented on #81027
/sig release

[2019-08-06 17:27] egernst commented on #80993
Thanks.  During the eviction manager's synchronization function, it does indeed still [call](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/eviction/eviction_manager.go#L245) into the cri-stats-provider here:  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/stats/summary.go#L88-L91

I'll need to trace it a bit more to see how this is or isn't actually bein

[2019-08-06 17:34] alculquicondor commented on #80216
/assign

[2019-08-06 17:38] mikedanese opened #81028 "Improve coverage of authentication metrics in apiserver"
Possible generic metrics:
* overall success, failure, error count
* overall latency
* per authenticator success and error count
* per authenticator latency

Authenticator specific metrics:
* Expired service account tokens observed.
* TTL of succesfully authenticated client certs observed during authentication,
* Count of expired client certs observed during client authentication that would have ot

[2019-08-06 17:48] Miciah commented on #73362
@kellycampbell,

I am trying to solve the same problem using a solution along those lines.  One can use pod affinity rules to ensure the new pods are scheduled on the same nodes as the old pods, and one can set the deployment strategy to surge to ensure a rolling update creates new pods before deleting old pods.  The remaining piece then is to ensure the old pods are selected for deletion in the d

[2019-08-06 17:56] jhohertz commented on #67577
Just wanted to leave a note, regarding the kernel patch being discussed....

 I have adapted it to the kernel we're using in current testing, and see some huge wins on CFS throttling rates, however I will mention that if you have previously set the cfs period down to 10ms as a mitigation, you're going to want to bring that back up to 100ms to see the benefits of the change.

[2019-08-06 17:58] 2rs2ts commented on #68684
/sig cloud-provider

[2019-08-06 18:09] dashpole commented on #80993
It is used.  The summary API includes pod-level metrics in addition to container-level metrics.

[2019-08-06 18:11] #80931 closed

[2019-08-06 18:32] egernst commented on #80993
Thanks @dashpole.  Usage is good now, then, and accounting for Pod Overhead for requests will be handled once https://github.com/kubernetes/kubernetes/pull/79247 is merged.

[2019-08-06 18:43] selslack commented on #66306
/sig aws

[2019-08-06 18:44] selslack commented on #66306
/sig cloud-provider

[2019-08-06 18:50] aojea commented on #80278
@thockin I think I've found the problem in the following line

https://github.com/kubernetes/kubernetes/blob/6049253aae49f87985a59ba45bedded94023b093/pkg/kubelet/kubelet.go#L2294

My theory is that the server is resolving `localhost` as `::1`, that fails if `ipv6`is not enabled.

@Random-Liu , since you introduced the change, is the goal to listen only on the localhost address by default?

PD. `ne

[2019-08-06 18:51] ssalerno-ibmcloud commented on #77310
/sig cli-bugs

Looks like this is still an issue. The OP left out a detail or two - adding some additional commentary here.

**What happened:**
 Running the following command in Windows fails:
`kubectl cp default/podname:/path/to/logs/logfile.txt C:\logfiles\logfile.txt`
_error: src doesn't exist in local filesystem_

**What you expected to happen**:
Log file to be copied to C:\logfiles\logfile.tx

[2019-08-06 19:06] liggitt opened #81035 "Automate skew testing for enabled/disabled alpha API fields"
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md#adding-unstable-features-to-stable-versions details how to add a new alpha field to an existing API, and enable it over multiple versions, ensuring:
* data is not dropped when running skewed API servers, or when disabling a previously-enabled feature gate
* persisted API objects are not treated a

[2019-08-06 19:23] brianloss commented on #79147
I'm seeing this issue on an upgrade from v1.14.4 to v1.15.1 following the [kubeadm HA upgrade instructions](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-15/) on a CentOS 7 system. After installing the updated kubelet package and restarting kubelet per the instructions, the cluster went into a loop of continually restarting the etcd pod from one control plane node a

[2019-08-06 19:40] liggitt commented on #81035
/sig architecture
cc @kubernetes/api-reviewers

[2019-08-06 20:03] mitchellmaler opened #81042 "Zombie processes on containers that use exec probe (etcd, calico-node, pause)"
**What happened**:
We have noticed multiple containers that use the exec probe to contain zombie (defunct) processes. This causes issues when the kubelet/docker tries to stop the container which causes a hang. This also causes the exec probe to rpc times out which we are guessing is the culprit defunct process.

Zombie Processes:
[code]

Probe Fail on ETCD example:
[code]

**What you expected to h

[2019-08-06 20:07] mitchellmaler commented on #81042
@kubernetes/sig-node-bug

[2019-08-06 20:08] RobertKrawitz commented on #79147
The actual etcd pod, or the mirror pod (which is more likely)?

I hadn't specifically planned on backporting it, but it shouldn't be a problem; this code has been stable.

[2019-08-06 20:11] mitchellmaler commented on #81042
@kubernetes/sig-node-bugs

[2019-08-06 20:17] kellycampbell commented on #73362
@Miciah

Your solution sounds similar to the A-B strategy above except automated instead of manual. https://github.com/kubernetes/kubernetes/issues/73362#issuecomment-460790924

I'm wondering if it would be good to formalize the requirements a bit more, e.g. adding some specific metadata or option to Deployments to provide this kind of A/B strategy when replacing existing pods. Or maybe it can be

[2019-08-06 20:21] praseodym commented on #81011
Just opened a PR to fix this: https://github.com/kubernetes/kubernetes/pull/81044

(I only noticed that this issue was already assigned after committing my changes, hope that's OK)

[2019-08-06 20:33] #31792 closed

[2019-08-06 20:37] spiffxp commented on #73424
/remove-lifecycle stale

[2019-08-06 20:51] spiffxp commented on #76342
/remove-priority important-longterm
/priority important-soon

[2019-08-06 20:52] spiffxp commented on #78747
/priority important-soon
ref: https://docs.google.com/document/d/1W31nXh9RYAb_VaYkwuPLd1hFxuRX3iU0DmaQ4lkCsX8/edit#bookmark=id.xra9sskijfk7

[2019-08-06 20:55] spiffxp commented on #78749
/priority important-longterm
I'd like to understand whether we've started work against this.  If so, let's update the description to show what's gotten promoted and what hasn't.  If not, I think we should punt this to backlog.

[2019-08-06 20:57] spiffxp commented on #78891
/priority awaiting-more-evidence
when is `NodeSelector` going to be deprecated?

[2019-08-06 21:03] liggitt commented on #81025
This is working as designed. When an fsGroup is specified on a pod, permissions of mounted volumes are changed to allow that group access.

A proposal to allow skipping this behavior is open at https://github.com/kubernetes/enhancements/pull/696

/close

[2019-08-06 21:03] #81025 closed

[2019-08-06 21:14] micahhausler commented on #57249
/reopen

[2019-08-06 21:15] micahhausler commented on #57249
/sig cloud-provider
/remove-lifecycle rotten

[2019-08-06 21:23] MrHohn commented on #81000
FWIW seems like the session affinity test is flaky in 31 jobs (not only specific to the lb-finalizer job): https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=session%20affinity

[2019-08-06 21:36] pbecotte opened #81045 "kubectl doesnt consistently handle http_proxy url encoding"
**What happened**:  Running `kubectl port-forward <any pod> <any port>` fails with the error
`error: error upgrading connection: error sending request: EOF`. Regular kubectl commands work as expected, though the same thing happens with `run`.
Running with a http proxy between my desktop and the cluster. the proxy requires basic auth, and there was a special character in the password (it was url en

[2019-08-06 21:41] fethiozdol commented on #59776
/reopen

[2019-08-06 21:41] aaronmell commented on #72155
We see this same issue

[2019-08-06 21:54] bootc commented on #81011
Thanks @praseodym that PR looks exactly like what I'm after for this particular update!

[2019-08-06 22:02] MrHohn commented on #81000
Endpoint being available is not equal to the actual server being ready to serve request --- once the server pod is in running & ready state (which doesn't correlate to server being ready if we don't configure readiness probe), it will be included in the endpoint set.

Endpoint being available on the other hand also doesn't mean pod can send traffic to the service VIP and expect it to work. It may

[2019-08-06 22:03] MrHohn commented on #81000
nc -zv -t -w 2 affinity-clusterip 80

SG, sounds like useful debug info.

[2019-08-06 22:17] Rodalli commented on #73062
Just so no one else gets confused by this like I did...

`kubectl explain deployment.apps` will generate an error, because there is no field called 'apps' in the deployment resource.

I honestly don't know what the proper `kubectl explain` command would be to get the description for the apps/v1 deployment resource, or if this distinction is even possible via `kubectl explain`. It would be cool if

[2019-08-06 22:21] fethiozdol opened #81047 "Amazon LBs - make PMTUD automatic permit optional"
This is a clone of #59776. I'm raising it again because it went rotten straight without any response.

**What would you like to be added**:
"From #24254, the cloud provider automatically appends ICMP Type 3 to allow for PMTUD." This firewall rule should be made optional.

**Why is this needed**:
1. In EKS, firewall rules of an ELB are re-applied periodically at a certain frequency, therefore this

[2019-08-06 22:24] fethiozdol commented on #81047
/sig AWS
/sig cloud-provider

[2019-08-06 22:25] liggitt commented on #73062
kubectl explain takes an `--api-version` flag, so `kubectl explain deployments --api-version=apps/v1`

[2019-08-06 22:36] thockin commented on #15636
What I meant there was that the iptables package should not need to spell out "dbus" ever.  iptables.Runner (or something) should provide enough hooks to let the caller pass in things (e.g. function pointers) that can be called at various moments in the iptables lifecycle.

Like, instead of `iptables.New()` taking a `utildbus.Interface` argument, it could take an instance of it's own `ExternalSync

[2019-08-06 22:37] neolit123 commented on #80063
closing as per the discussion earlier.

TLDR: it is possible to mount any volume using extraVolumes, but we should try to mount the minimal amount instead (needs refactors), instead of increasing the list of mount files.

thanks.
/close

[2019-08-06 22:37] #80063 closed

[2019-08-06 22:39] alejandrox1 commented on #74282
/cc

[2019-08-06 22:56] umitseremet commented on #70044
is there any progress about that?

[2019-08-06 22:56] tpepper commented on #79912
Bump...

Do we really consider this a kind feature?  I'd see it a bug fixing to stay up to date with critical tool chain bug fixes.

Need a determination on the 1.15 branch move: https://github.com/kubernetes/kubernetes/pull/80134

[2019-08-06 23:51] jpbetz commented on #80209
First attempt at benchmarking lease get didn't reproduce the issue.

What I tried:

[code]

[code]

Had to [modify etcd benchmark slightly](https://github.com/etcd-io/etcd/pull/10996) to support the needed commands.

[2019-08-06 23:53] zzhang2019 commented on #70324
Observed the same issue in airflow for follow pod log in KubernetesPodOperator

[2019-08-07 00:27] ritazh commented on #79597
Will submit a PR after testing this in our own prow first.

[2019-08-07 00:34] jacobg opened #81051 "fluentd-gcp doesn't capture logs for a child process in container"
**What happened**:  deployed a container that runs a node js process that spawns a Java application process. The node js logs are collected, but not the Java logs. But the node process listens to its child process's stdout/stderror and logs it to console, then it is collected.

**What you expected to happen**: Child process logs to also be written to Stackdriver.

**How to reproduce it (as minimal