[2022-07-20 02:07] fusida commented on #111142
@leilajal asyn collect inuse_volumes metrics in background, and do not block metrics api.

[2022-07-20 02:52] onsi commented on #111086
hey @aojea -- looking at just that last run I'm seeing:

13:18  is the first timestamp I see.

Eventually (~around 13:35) the specs start running.

Everything is happy and several hundred specs run in parallel and pass.  The last three specs then fail - these three are running in parallel.

The first spec is:

`[sig-storage] CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (block volmod

[2022-07-20 04:26] RavitejaBadugu opened #111270 "Errror during launch of Postgres as statefulset"
I am running the below code in minikube cluster in aws ec2 instance. I installed csi driver and give necessary permissions by following [the csi driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/master/docs/install.md).
[code]
I am getting error during mounting

[code]
I even tried changing pgdata path and mount path as
[code]
But still, I'm getting the same error

[2022-07-20 04:53] new-mikha commented on #108364
I've got not exactly a k3s problem, but rather an on-premises deployment of a full-blown Kubernetes 1.23.x, installing it on Ubuntu 22.04. Yet this github ticket is the top search result on Google for me for `kubelet "cannot detect current cgroup on cgroup v2"` , also I suspect that my issue _might_ be related to what's discussed above, so I guess I will put it here...

So, `kubeadm init` didn't s

[2022-07-20 05:37] bthurber opened #111275 "Repository rename: https://github.com/kubernetes-sigs/special-resource-operator to https://github.com/kubernetes-sigs/kernel-module-management"
As part of SIG-node we initially received acceptance for creating a new repo and on-boarding technology to assist with managing out-of-tree drivers for Kubernetes.  The repo was created here:  https://github.com/kubernetes-sigs/special-resource-operator  We have received acks to rename the repo to:  https://github.com/kubernetes-sigs/kernel-module-management which matches the new operator, more cl

[2022-07-20 05:39] bthurber commented on #111275
/sig node

[2022-07-20 05:50] mythi commented on #71233
/remove-lifecycle stale

[2022-07-20 06:08] mmiranda96 opened #111276 "Enabling feature PodAndContainerStatsFromCRI breaks metric collection"
### What happened?

When running a cluster and enabling feature gate `PodAndContainerStatsFromCRI`, resource usage doesn't report any values:
[code]

When retrieving logs from metric server, we can see several errors with code 500 when it calls the `/stats/summary` API:
[code]

### What did you expect to happen?

Resource usage reports values:
[code]

And metrics server doesn't fail with code 500

[2022-07-20 06:09] mmiranda96 commented on #111276
/sig node

/cc @bobbypage @haircommander

[2022-07-20 06:13] mmiranda96 commented on #111276
/milestone v1.25

[2022-07-20 06:37] anurnomeru commented on #110906
Sorry, it's a misspelling. Avaliable -> Available

[2022-07-20 06:47] anurnomeru commented on #110906
https://github.com/kubernetes/kubernetes/blob/b96a04df901c6facf0fe66b3c3c877eb8651e267/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go#L322-L358

When register an AA, it will forcibly check its endpoints, But AA clearly supports routing directly through service.

[2022-07-20 06:50] aojea commented on #111270
/kind support

Support questions don't use to be answered on Github, I suggest you to try to use other channels like Discord or Slack

[2022-07-20 06:56] aojea commented on #110906
Last time I've checked this controller, it doesn't handle well asymmetric conditions, i.e. you have 3 apiservers and one of them doesn't reach the Endpoints but the others do, and they keep updating the APIStatus with the different conditions, flapping  ... you can not have a single state of the network from 3 different network endpoints

Is this causing any real issue?

[2022-07-20 07:39] anurnomeru commented on #110906
Our case here is relatively simple. In our case, Endpoints does not need to be really available, because the Aggregation Apiserver and Apiserver are not in the same cluster. We directly route to the Aggregation Apiserver of another cluster through Service. When Apiserver requests the Service of AA, it will be forwarded to AA of another K8s cluster.

[2022-07-20 08:18] graydovee opened #111280 "daemonset rolling update not work when controllerRevision created by manual"
### What happened?

if create a duplicate of old controllerrevision, rollback to this old revision, the image of dameonSet Pod will not be updated.

### What did you expect to happen?

the duplicate should be cleaned up and the pod' image should be updated to target version

### How can we reproduce it (as minimally and precisely as possible)?

[code]

This is a sample DaemonSet

1. Apply it
2. Ch

[2022-07-20 08:35] aojea commented on #111086
I don't know if the custom cleanup and the aftereach are conflicting and hanging

https://github.com/kubernetes/kubernetes/blob/a3f777603be3655a17d75acf5ee4216879e08aeb/test/e2e/storage/drivers/csi.go#L986-L1015

[2022-07-20 09:02] endocrimes commented on #109573
/remove-lifecycle stale

[2022-07-20 09:09] goireu commented on #82440
If you are using an exec probe, try using an HTTP probe. Here our problem was our cluster was down on his knees because each exec probe summons 10-15 processes and the system couldn't handle what looked like a fork() bomb.

[2022-07-20 09:29] aojea commented on #111247
This is not kind specific, this happens on gce presubmit job too

[code]

[2022-07-20 10:24] graydovee commented on #111280
/sig apps

[2022-07-20 11:25] onsi commented on #111086
no, i don't believe so.  they are running sequentially for a given spec.

[2022-07-20 11:33] aleksandra-malinowska opened #111290 "Allow configuration of etcd healthcheck in kube-apiserver"
### What would you like to be added?

* Allow configuring separate etcd healthcheck timeouts for kube-apiserver's /readyz and /livez.
* Allow disabling etcd healthcheck entirely in /livez.

### Why is this needed?

This is needed for more graceful degradation of kube-apiserver's performance when the control plane is overloaded.

Overloaded control plane can result in etcd slowness, and /readyz can

[2022-07-20 11:34] aleksandra-malinowska commented on #111290
/cc @wojtek-t @mborsz
/sig scalability

[2022-07-20 12:42] BinacsLee commented on #105802
/remove-lifecycle rotten

[2022-07-20 13:09] amshankaran opened #111291 "NodeMetrics were not available while enabling cgroup v2"
### What happened?

Enabled cgroup v2 in nodes
executed:
master-0-stack3:~> kubectl top nodes
error: metrics not available yet

Kubelet is  reporting wrong values:
Last login: Wed Jul 20 12:00:59 2022 from 10.0.100.2
master-0-stack3:~> kubectl get --raw /api/v1/nodes/worker-pool1-u097y1mt-stack3/proxy/stats/summary | jq '{cpu: .node.cpu, memory: .node.memory}'
{
  "cpu": {
    "time": "2022-07-20T

[2022-07-20 14:31] liggitt commented on #111276
/priority important-soon
/milestone v1.25
/assign @haircommander

[2022-07-20 14:35] haircommander commented on #111276
thanks for the report! alpha has expanded criteria of having the CRI support the `/metrics/cadvisor` endpoint, and the kubelet will passthrough that information. Once CRIs have support for this, it should fix this problem. I agree that fixing this is a beta criteria

[2022-07-20 14:38] liggitt commented on #111276
can you link or capture this in the beta graduation criteria so it doesn't get lost?

/lifecycle frozen

[2022-07-20 14:57] xmcqueen commented on #109295
Here's a relevant issue in a related k8s repo about using/not using docker registries:

Registries used in k/k CI should be on Kubernetes Community infra

https://github.com/kubernetes/k8s.io/issues/1458

[2022-07-20 15:20] timaa2k opened #111292 "Discovery memCacheClient has inconsistent error behavior with other DiscoveryInterfaces"
### What happened?

I think this got stale and closed because it was posted on `kubernetes/client-go` but is still very relevant:
https://github.com/kubernetes/client-go/issues/745

The memCacheClient created by memory.NewMemCacheClient(...) returns an error when calling ServerResourcesForGroupVersion if the APIResources list returned is empty, as seen here:
https://github.com/kubernetes/client-go

[2022-07-20 17:08] aojea commented on #111086
we do some crazy things, https://github.com/kubernetes/kubernetes/pull/20771 :smile:

We need to minimize the diff to find out the root cause, and we can't have the presubmit jobs with a 45% success rate, I've reverted the AfterEach change  https://github.com/kubernetes/kubernetes/pull/111284  and I'm asking sig-storage to tag the slow tests accordenly to current policies (> 5 mins)  https://githu

[2022-07-20 17:30] jingxu97 commented on #110956
Hi @Kartik494 I think option 2 looks better to me to have consistent behavior with CPU and memory. WDYT?

[2022-07-20 17:32] iXinqi opened #111296 "Missing creating a destroying services test"
### What happened?

Creating a destroying services test is a required test case in [KEP-2578: Windows Operational Readiness Specification](https://github.com/kubernetes/enhancements/tree/master/keps/sig-windows/2578-windows-conformance#basic-networking), but it's missing in the upstream e2e test. Since creating a destroying services test should work in both windows and linux cluster, it's worthy a

[2022-07-20 18:07] ritazh commented on #109211
@jlsong01 Are you still working on this issue?

[2022-07-20 18:21] dims opened #111297 "logcheck plugin for golangci-lint fails under golang 1.19"
See failure in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/111254/pull-kubernetes-verify-go-canary/1549738608821276672/build-log.txt

[code]

it's quite possible that golangci-lint is tripping up on an “optimization” done in golang’s regexp package - https://github.com/golang/go/commit/0293c51bc5d8ca0728913c4b7f9f92339f8fd9a6

![image](https://user-images.githubusercontent.com/2

[2022-07-20 18:23] dims opened #111298 "Failure cluster [57160070...] flakiness in TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter"
### Failure cluster [5716007093c08b62c740](https://go.k8s.io/triage#5716007093c08b62c740)

##### Error text:
[code]
#### Recent failures:
[7/20/2022, 12:16:28 PM pr:pull-kubernetes-unit](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111060/pull-kubernetes-unit/1549789723151568896)
[7/20/2022, 11:22:47 AM pr:pull-kubernetes-unit](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/

[2022-07-20 18:25] dims commented on #111298
encountered when i was trying golang 1.19 rc2, it's possible that i saw more failures than what we have in CI jobs currently under golang 1.19

Same 2 tests failed in 3 of the runs ( see #111254 ) :
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111254/pull-kubernetes-unit/1549738674818650112
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111254/pull-kubernetes-unit/15495

[2022-07-20 18:25] dims commented on #111298
/sig apimachinery

[2022-07-20 18:34] wojtek-t commented on #107574
/remove-lifecycle stale

[2022-07-20 18:56] ritazh commented on #110985
@kubernetes/sig-windows-leads
From https://storage.googleapis.com/k8s-triage/index.html?sig=auth, there are few consistent failures from ci-kubernetes-e2e-aks-engine-azure-1-23-windows

Can you PTAL https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-23-windows-938a3203c/1549723393790578688?

[2022-07-20 19:06] Nowaker commented on #82440
If exec probes kill clusters, isn't it about time to redesign the probes and come up with a totally different approach if forking is too expensive? For example, have Kubernetes exec into a container once and have a script/binary running there more like a cron that executed probes locally? Daemon-approach for probes. Is this something that could be discussed during `sig-node` meeting?

[2022-07-20 19:18] marosset commented on #110985
Dupe of https://github.com/kubernetes/kubernetes/issues/107114

[2022-07-20 20:57] sftim commented on #111208
This feels like a feature request to me. Kubernetes currently assumes that the cluster operator is able to protect the audit log from unlinking, truncation, etc.

I think that's a reasonable thing for Kubernetes to assume. An attacker that deliberately removes the audit log or its parent directory could, for example, also switch the log destination to a tmpfs or a special mount point that discards

[2022-07-20 20:57] sftim commented on #111208
/sig api-machinery

[2022-07-20 22:55] knabben commented on #100388
/unassign
/assing @iXinqi

[2022-07-20 22:55] knabben commented on #100388
/assign @iXinqi

[2022-07-20 23:59] jlsong01 commented on #109211
I am busy recently. Please go ahead and take it if you are insterester 😀

[2022-07-21 00:02] rptaylor commented on #106292
@champtar do you have any other specific details about the fix, which minor version, a commit or PR, etc ?

[2022-07-21 00:17] msau42 commented on #111086
I am attempting to do some bisection...

Here's a job from 7/5/22 where all of the csi tests are finishing in under 3 minutes: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110868/pull-kubernetes-e2e-kind/1544456420445917184

[2022-07-21 00:42] msau42 commented on #111086
Here's a later run with quick running times: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/109683/pull-kubernetes-e2e-kind/1544882782516285440

I think I need to be looking at periodics though, not pull jobs

[2022-07-21 00:53] msau42 commented on #111086
here's the earliest run I found with slow times: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110237/pull-kubernetes-e2e-gce-ubuntu-containerd/1544890836657901568/

[2022-07-21 01:14] msau42 commented on #111086
Looking at CI jobs:
Here's the first job where tests started taking 10 mins: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1544925610889973760
The run before that was fine: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1544910511240384512

[2022-07-21 01:16] relandrew opened #111302 "Typo in `kubectl delete --help`"
### What happened?

`kubectl delete --help` shows a sample invocation saying that to delete all the resources in some files, to run `apply`; I believe this to be incorrect.

`apply` on line https://github.com/kubernetes/kubernetes/blob/eb2f56c638b393fd589f4bda7b7b84d4d2ccfbdf/staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go#L87 should likely be changed to `delete`

### What did you expect to ha

[2022-07-21 01:39] AbelHu commented on #73434
terminationGracePeriodSeconds works with nanoserver based container images but not servercore based images
https://github.com/microsoft/Windows-Containers/issues/164

[2022-07-21 01:40] onsi commented on #111086
nicely done @msau42 !  how does one figure out which commit has those two runs correspond to?

[2022-07-21 01:42] msau42 commented on #111086
Towards the beginning of the test log, it shows the kubernetes version used to create the kind cluster:
[code]

[2022-07-21 01:50] liggitt commented on #109211
/unassign

[2022-07-21 02:10] champtar commented on #106292
This is fixed in k8s 1.23+ because it uses golang 1.17+, which include https://github.com/golang/go/commit/e97d8eb027c0067f757860b6f766644de15941f2
There will not be any fixes in 1.22: https://github.com/kubernetes/kubernetes/pull/106293#issuecomment-978888322

[2022-07-21 02:38] msau42 commented on #111086
not really:
[code]

[2022-07-21 02:42] msau42 commented on #111086
kind versions also look the same

[2022-07-21 02:56] msau42 commented on #111086
BTW here's the prow job history page starting on the last good run: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel?buildId=1544910511240384512

There is a very clear step up in test time after that.

[2022-07-21 02:58] wangweihong commented on #94218
save my life

[2022-07-21 03:01] msau42 commented on #111086
I think next step is to try to locally rerun the tests against the good commit and the two commits after the good run to see if we can rule them out.

[2022-07-21 04:08] champtar opened #111304 "kubectl apply ports changes broken"
### What happened?

Trying to add a TCP port to a Deployment with the matching UDP port, there is no errors but Deployment is not modified

### What did you expect to happen?

it works

### How can we reproduce it (as minimally and precisely as possible)?

Here 3 Deployments yaml
[0.txt](https://github.com/kubernetes/kubernetes/files/9155974/0.txt) = 0 port
[1.txt](https://github.com/kubernetes/ku

[2022-07-21 04:34] Kartik494 commented on #110956
cc @msau42

[2022-07-21 06:00] sunil-barhate opened #111305 "Get persistentVolumeClaims api panic"
### What happened?

While listing the pvc list, the get pvc api panic.

### What did you expect to happen?

The api should have work, and give list of pvc.

### How can we reproduce it (as minimally and precisely as possible)?

Not easily reproducible.
But, just call get pvc api

### Anything else we need to know?

panic stack,

  Jul 20 01:33:42 appserv[892]: /usr/local/go/src/runtime/panic.go:11

[2022-07-21 06:57] muyangren2 commented on #111302
/assign

[2022-07-21 07:20] MadhavJivrajani commented on #111302
/sig cli

[2022-07-21 07:21] MadhavJivrajani commented on #111298
Dup of https://github.com/kubernetes/kubernetes/issues/111154?

[2022-07-21 07:21] dharmjit commented on #106945
Hi @pohly, Got caught up in the work so couldn't spend time on this. Is there anything else to look into for this issue?

[2022-07-21 07:25] barhatesw09 commented on #111305
/sig storage

[2022-07-21 07:33] segevfiner commented on #95712
/lifecycle stale

[2022-07-21 07:34] segevfiner commented on #95712
/remove-lifecycle stale

[2022-07-21 07:59] mborsz commented on #111290
Personally I would treat this more as a bug: the fact that kube-apiserver liveness check fails when etcd is responding in e.g. 2.1s (which can happen when it's overloaded or during leader election) is a bad behavior and should be fixed. If we want to check if etcd is alive, timeout like 15s should be used with logic "if it hasn't responded in 15s, will probably never respond" (see similar discussi

[2022-07-21 08:17] mimowo opened #111308 "Clean up taint_manager_test.go"
Cleanups:
- multiple test functions (such as TestUpdateNode) in this file declare and close stopCh, but don't make any use of it: https://github.com/kubernetes/kubernetes/blob/303f47c0c069c80ec6d2b3879bc879924d555a8a/pkg/controller/nodelifecycle/scheduler/taint_manager_test.go#L461. Instead, the controller.Run method should be called with a context which is cancelled at the end. The  TestCreatePod

[2022-07-21 08:17] mimowo commented on #111308
/sig apps

[2022-07-21 08:19] afirth commented on #52345
/reopen

this is such unexpected behaviour as a long time k8s user. the proposed solution to add another value to `RestartPolicy` which forces all containers to restart seems reasonable - any thoughts from sig-node?

[2022-07-21 08:20] afirth commented on #52345
/remove-lifecycle rotten

[2022-07-21 08:21] pacoxu commented on #111304
sounds like https://github.com/kubernetes/kubernetes/issues/39188

[2022-07-21 08:23] nazarewk commented on #109353
/remove-lifecycle stale

[2022-07-21 08:26] sanposhiho opened #111309 "enforce PreXXXXX and XXXXX phase of the same plugin to be enabled/disabled altogether"
### What would you like to be added?

It might be nice if we could enforce PreXXXXX and XXXXX phase of the same plugin to be enabled/disabled altogether to prevent users from mistakes in the configuration of Plugins.

### Why is this needed?

Like `PreFilter` and `Filter` plugin, `PreXXXXX` and `XXXXX` phase of each plugin should be basically enabled/disabled together. But, currently, users can en

[2022-07-21 08:26] sanposhiho commented on #111309
/sig scheduling

[2022-07-21 08:26] matthyx commented on #110060
It seems the cred issue is back !

[2022-07-21 08:29] nammn opened #111310 "Restarting Informers is not possible anymore"
### What happened?

- [PR](https://github.com/kubernetes/kubernetes/pull/104853) introduced a check `hasStarted()` which stops the same informer being run twice.
- If you stop the informer with the provided [stopCh ](https://github.com/kubernetes/kubernetes/blame/f4046f9e6d0bb2fc4fa2d84af64cc9c6db44270a/staging/src/k8s.io/client-go/tools/cache/shared_informer.go#L160) one stops the run and I belie

[2022-07-21 08:54] surajssd commented on #109331
Adding this comment to remove the stale label.

[2022-07-21 09:02] aojea commented on #111086
Cross posting from https://github.com/kubernetes/kubernetes/pull/111286#issuecomment-1191226956

@msau42 find the report attached with the logs for successful tests
[testrun.html.gz](https://github.com/kubernetes/kubernetes/files/9157829/testrun.html.gz)

I've checked
[code]

Test starts

[code]
It seems the problem is on the namespace deletion
[code]

The storage tests add a custom hook to delete

[2022-07-21 09:02] vaibhav2107 commented on #111291
/sig node

[2022-07-21 09:03] pacoxu commented on #111292
/sig api-machinery

[2022-07-21 09:04] pacoxu commented on #111296
/sig network testing

[2022-07-21 09:13] aojea commented on #111086
The storage tests run all these cleanups inside the test context

https://github.com/kubernetes/kubernetes/blob/05cc31697f811f3df62321a8a66363c144fd2fc7/test/e2e/storage/testsuites/volume_io.go#L93-L117

https://github.com/kubernetes/kubernetes/blob/303f47c0c069c80ec6d2b3879bc879924d555a8a/test/e2e/storage/csi_mock_volume.go#L360-L363

https://github.com/kubernetes/kubernetes/blob/303f47c0c069c80e

[2022-07-21 09:15] pacoxu commented on #111291
/area cadvisor
/cc @bobbypage

[2022-07-21 09:16] 249043822 commented on #111305
/sig apimachinery

[2022-07-21 09:17] 249043822 commented on #111305
/sig api-machinery

[2022-07-21 09:18] pacoxu commented on #111266
/kind support
refer to https://github.com/prometheus-operator/kube-prometheus/wiki/KubeAPIErrorBudgetBurn or https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/615

[2022-07-21 09:19] 249043822 commented on #111305
Does your client use client-go to fetch k8s reources like pvcs? which version for your client-go?

[2022-07-21 09:20] aojea commented on #111296
/triage accepted
/assign

[2022-07-21 09:22] pacoxu commented on #111259
It makes sense.
Do you plan to work on this? If not, I may assign it.
It would be helpful for users to move to use `parallel image pulls` like https://github.com/kubernetes/kubernetes/issues/108405.

[2022-07-21 09:53] #105357 closed

[2022-07-21 09:58] wojtek-t commented on #111290
Thanks @mborsz for thinking about the options - those all makes a lot of sense. I agree that (2) seems like the worst option.

I'm somewhat on the fence between (1) and (3).
- I agree that in huge majority of cases (1) makes sense. But I think there might be some pathological cases where some network issues result in kube-apiserver not being able to connect to etcd and restarting that might in the

[2022-07-21 10:10] DrAuYueng commented on #111259
Let me try.

[2022-07-21 10:30] DrAuYueng commented on #108405
Let me try, same needs.

[2022-07-21 11:05] wojtek-t commented on #108483
This is where we are now:
[code]

I understand some of them (though fixing is potentially non-trivial) and need to understand the others (in particular serving).
And we should prevent regressions by failing if we have more leaking goroutines - will be looking at that over upcoming weeks.

[2022-07-21 11:11] giuseppe commented on #111291
you need to upgrade your kernel, there was a similar issue recently: https://github.com/kubernetes/kubernetes/issues/108364

[2022-07-21 11:31] palaueb commented on #27768
Maybe this helps
`kubectl logs -f $(kubectl describe job <job-name> | grep SuccessfulCreate | tail -n1 | awk '{print $7}')`

[2022-07-21 12:00] gilbahat opened #111312 "DS reconciliation incorrectly reporting failed pods as unselected"
### What happened?

Hi,

I had a cluster with 10 nodes and a daemonset installed.
A certain upgrade to the daemonset made it unable to further install its payload on new nodes, but did not affect existing nodes.
As 5 new nodes joined the cluster, the daemonset failed to deploy unto them.
Confusingly, this was not reported as '15 desired, 5 failed' but rather as '10 desired, 0 failed'

### What did

[2022-07-21 12:01] paskal commented on #51135
I'm not sure CPU limits are in milliseconds in k8s, because in Linux kernel despite having "ms" naming [they are in microseconds](https://www.kernel.org/doc/html/latest/scheduler/sched-bwc.html#management). I wrote a bunch of questions I have [here](https://github.com/kubernetes/kubernetes/pull/63437/files#r926582661), I hope someone will help me clarify it.

[2022-07-21 12:07] DrAuYueng commented on #111259
Let me try, same needs.

[2022-07-21 12:14] gilbahat commented on #111312
/sig apps

[2022-07-21 12:32] Nivedita-coder commented on #110962
job is passing :)
/close

[2022-07-21 12:32] #110962 closed

[2022-07-21 12:42] vitalif commented on #38606
Hi, why is this issue closed? ALL qemu-based hypervisors support direct volume attachment, kubevirt is the only lacking. This definitely has to be implemented somehow

[2022-07-21 12:49] rtheis commented on #100047
@convexquad we are seeing the same for IBM Cloud Kubernetes Service version 1.21.

[2022-07-21 12:52] pacoxu commented on #111308
/kind cleanup

[2022-07-21 12:54] muyangren2 commented on #111308
/assign

[2022-07-21 13:04] muyangren2 commented on #111304
/kind support

[2022-07-21 13:07] muyangren2 commented on #111304
To modify the port, you need to delete the pod and restart it to take effect
or
Use kubectl edit modify  it

[2022-07-21 13:10] muyangren2 commented on #111298
/assign

[2022-07-21 13:33] #111252 closed

[2022-07-21 13:35] alculquicondor commented on #111308
When possible, use `defer` to call the `cancel` method from `context.WithCancel`

[2022-07-21 14:16] zabrox commented on #111223
@soltysh
I've made a PR. Please take a look if you have time.

[2022-07-21 14:33] haircommander commented on #110955
/cc
/cc @harche @saschagrunert

[2022-07-21 14:34] champtar commented on #111304
I though using named ports was enough, but yeah maybe we can just treat this ticket as duplicate

[2022-07-21 14:36] champtar commented on #111304
I have some scripts generating the yaml and applying them using `kubectl apply -f`, delete then apply is kind of the nuclear option, i'll start with SSA

[2022-07-21 14:36] #111304 closed

[2022-07-21 14:40] saschagrunert commented on #110955
Looks like all are broken right now because of this reason: https://testgrid.k8s.io/sig-node-cri-o

[2022-07-21 15:06] ivanmissu opened #111318 "How to set multiple nodeport ranges ？"
Now I want to open ports 80，443 and 30000 to 32727. How to configure it? Can I set multiple ranges of ports ？？？
/sig apps
/sig network

[2022-07-21 15:06] mythi commented on #109081
/remove-lifecycle stale

currently planning to use `grpc.WithAuthority("localhost"),` but I have some cleanup pending with #109778 first

[2022-07-21 15:12] raptorsun commented on #110722
Hello @shan100github ,
It is excellent that PR#110801 already provides the function to show proper units according to the order of magnitude.
Now we need to make 2 PRs, one to show nodes and the other to add commas when displaying the memory in the default format.
I'm going to start with the comma one as it is easier. :)

[2022-07-21 15:14] ivanmissu commented on #111318
/sig apps

[2022-07-21 15:14] ivanmissu commented on #111318
/sig network

[2022-07-21 15:46] dcbw commented on #111318
If you are talking about the `service-node-port-range` argument to the Kube apiserver, then no it does not currently support multiple port ranges.

[2022-07-21 15:48] dcbw commented on #110814
/triage accepted

[2022-07-21 15:50] dcbw commented on #110938
Kubernetes does not manage the network namespace mounts in /var/run/docker/netns; best to do is follow up with Docker I think. When you do, could you mention this issue in the docker issue you file?

[2022-07-21 15:56] dcbw commented on #111085
Also, ExternalDNS addresses for nodes require Cloud Provider support. eg, for AWS it's pulled from the "public-hostname" or "publicDnsName" property of that instance's metadata. That may take some additional configuration of your AWS instances (if that's what you're using).

[2022-07-21 16:05] dcbw commented on #111085
/assign dcbw

[2022-07-21 16:05] dcbw commented on #110938
/kind support
/triage accepted

[2022-07-21 16:07] dcbw commented on #111318
/assign danwinship

[2022-07-21 16:08] dcbw commented on #111144
/assign danwinship

[2022-07-21 16:09] dcbw commented on #111144
/sig node
/triage accepted
/assign aojea

[2022-07-21 16:11] dcbw commented on #111112
/assign aojea

[2022-07-21 16:12] dcbw commented on #110780
@thockin any thoughts here?

[2022-07-21 16:12] msau42 commented on #111086
The reason why the CSI tests manage namespace deletion is because of deletion ordering issues. Each test installs its own CSI driver, however that CSI driver has to be deleted last otherwise Pods will fail to teardown and PVCs will fail to delete due to an uninstalled CSI driver.

[2022-07-21 16:13] dcbw commented on #110780
/triage accepted

[2022-07-21 16:14] dcbw commented on #110714
/triage accepted

[2022-07-21 16:15] dcbw commented on #110514
/remove-sig network

[2022-07-21 16:25] #111154 closed

[2022-07-21 16:29] bowei opened #111321 "kube-proxy in LocalModeNodeCIDR mode may cache stale Node.PodCIDR if the Node object is recreated"
### What happened?

If `LocalModeNodeCIDR` is true, kube-proxy reads the `Node.PodCIDR` value and uses it to determine whether or not traffic is local to the Node.

In certain cases (e.g. when kube-proxy runs before the Node information has been completely updated), it is possible for kube-proxy to read and store a stale `PodCIDR` value. This will cause kube-proxy to route traffic incorrectly as t

[2022-07-21 16:30] xmcqueen commented on #109295
[This issue](https://github.com/kubernetes/kubernetes/issues/97027) looks good for the subject of putting up a new docker image containing the deps.  This seems feasible and effective.  I'd prefer it to deleting the test.  I'll discuss it a bit more with a few others, but this seems like the way to go forward with this.  TBS, I plan to take the above listed test requirements, and build a docker im

[2022-07-21 16:33] aojea commented on #111112
@ch0mik is this not a kustomize problem?

[2022-07-21 16:37] aojea commented on #111144
@hindessm just for clarification, you are requesting to add `ip_local_reserved_ports`  to this list, right?

https://github.com/kubernetes/kubernetes/blob/410ac59c0da01eca74d593f1a38419e77369a7fe/pkg/kubelet/sysctl/safe_sysctls.go#L24-L31

[2022-07-21 16:43] leilajal commented on #111305
/assign @249043822
thanks for helping.
/triage accepted

[2022-07-21 16:45] leilajal commented on #111292
/cc @alexzielenski @roycaihw
/triage accepted

[2022-07-21 16:45] aojea commented on #111144
/sig node
/cc @mrunalp

[2022-07-21 16:46] leilajal commented on #111251
@matthias50 are you going to work on this one?
/triage accepted

[2022-07-21 16:48] leilajal commented on #111208
/cc @lavalamp @deads2k
/triage accepted

[2022-07-21 16:59] #108254 closed

[2022-07-21 17:06] hindessm commented on #111144
@aojea I'd previously looked at the source code but yes, that is exactly what I was hoping for and would be fantastic. Thanks for your attention to this issue.

[2022-07-21 17:08] jsturtevant commented on #109444
this is mitigated now, waiting on official release for Cloudbase-init but have a patch in place that has resolved the issue.

[2022-07-21 17:17] mzkhan commented on #109211
I would like to take this one. @liggitt Can you assign it to me.

[2022-07-21 17:19] liggitt commented on #109211
sure, thanks!

/assign @mzkhan

[2022-07-21 17:35] alculquicondor commented on #102959
Not really, the point is that is it reminds us to pay attention to the issue.

However, as I already said, I don't think there is anything to do for this.

This is already fixed in 1.25+, or in 1.23+ if you enable the feature gate JobTrackingWithFinalizers.

/close

[2022-07-21 17:35] #102959 closed

[2022-07-21 17:37] jsturtevant opened #111323 "Windows DNS related tests flake"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd-master
https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd-2022-master

### Which tests are flaking?

Hybrid cluster network for all supported CNIs should provide Internet connection for Windows containers using DNS [Feature:Networking-DNS]
DNS should provide DNS for servi

[2022-07-21 17:37] jsturtevant commented on #111323
/triage accepted
/priority important-soon

[2022-07-21 17:38] jsturtevant commented on #111323
/cc @claudiubelu @marosset @sbangari @daschott

[2022-07-21 18:26] dims commented on #111297
So reverting the patch https://github.com/golang/go/commit/0293c51bc5d8ca0728913c4b7f9f92339f8fd9a6 and rebuilding go environment like so ... fixes the problem

[code]

[2022-07-21 18:27] dims commented on #111297
longer slack conversation with @liggitt and things we tried are here:
https://kubernetes.slack.com/archives/CHGFYJVAN/p1658400081793929

[2022-07-21 18:36] dims commented on #111297
Things we tried:
- commenting out logcheck entirely (works fine)
- commenting out all the regexp in the logcheck conf (works fine)
- running on darwin/arm64 (works fine)
- commenting out all linters expect for logcheck (works fine)
- have a duplicate logcheck2 in .golangci.yaml (works fine)
- run logcheck as a binary and not as a plugin (works fine)

So essentially this is a problem that happens o

[2022-07-21 18:36] dims commented on #111297
So reverting the patch https://github.com/golang/go/commit/0293c51bc5d8ca0728913c4b7f9f92339f8fd9a6 and rebuilding go environment like so ... fixes the problem

[code]

[2022-07-21 18:37] dims commented on #111297
cc @bboreham

[2022-07-21 19:03] aniketpagar commented on #102646
I'm also facing the same issue, still have not received any output.
issue -
from ubuntu machine
I'm pinging amf pod with TCP port, then it is pingable.
but if I ping amf pod with SCTP port, then it is not pingable

any suggestion?
1. is it a issue with ubantu?
2. how to enable sctp port in ubantu..?
Thanks.

[2022-07-21 19:04] bobbypage commented on #111321
/cc

[2022-07-21 19:11] aojea commented on #111321
We are watching the node object since we've implemented topology hint, so it would be easier to adapt the code to react on these changes

[2022-07-21 19:13] aojea commented on #111321
/triage accepted

[2022-07-21 19:49] liggitt commented on #111297
filed https://github.com/golang/go/issues/53989 with a minimal reproducer

[2022-07-21 19:54] aojea commented on #111321
for iptables

https://github.com/kubernetes/kubernetes/blob/3c034ba0535ae4469f061d168a7e3b4e1806d48e/pkg/proxy/iptables/proxier.go#L617-L676

for ipvs

https://github.com/kubernetes/kubernetes/blob/3c034ba0535ae4469f061d168a7e3b4e1806d48e/pkg/proxy/ipvs/proxier.go#L940-L996

[2022-07-21 19:59] #110918 closed

[2022-07-21 19:59] #111027 closed

[2022-07-21 20:01] ShehabMMohamed commented on #104432
Can I give it a try if no one is working on it?

[2022-07-21 20:30] dankirkpatrick opened #111326 "Yum repo only has kubectl...kubeadm and kubelet are missing?"
### What happened?

Running this to get a list of available versions, I see only kubectl and rkt, but no kubelet or kubeadm.

%  yum list --disablerepo='*' --enablerepo=kubernetes --showduplicates --disableexcludes=kubernetes
^^^ this returns all of the versions of kubectl, and 3 versions of rkt, but nothing for kubeadm or kubelet

My repo definition:
[kubernetes]
name=Kubernetes
baseurl=https://p

[2022-07-21 20:35] alculquicondor commented on #108444
wait, shouldn't we revert #111032 and add SelectorSpread to the list?

[2022-07-21 20:51] pwschuurman opened #111327 "Pod Informer Update with updated Pod UID can lead to attachdetach controller desired_state_of_world cache inaccuracy"
### What happened?

Volume force detached due to incorrect attachdetach controller desired_state_of_world

The attach-detach controller reconciles between two caches, actual_state_of_world and desired_state_of_world [Design](https://github.com/kubernetes/kubernetes/issues/20262). The desired state of the world is updated by a [pod informer](https://github.com/kubernetes/kubernetes/blob/master/pkg/

[2022-07-21 20:56] DangerOnTheRanger opened #111328 "Remove unused forked cel-policy-templates-go code"
There's [some code](https://github.com/kubernetes/kubernetes/tree/765d6049c4329935f669f81a05e3bf57d50093c7/staging/src/k8s.io/apiextensions-apiserver/third_party/forked/celopenapi/model) in this repository that has been copied over from [cel-policy-templates-go](https://github.com/google/cel-policy-templates-go). Some of this code is unreachable as far as I can tell; [NullType](https://github.com/

[2022-07-21 21:25] #110236 closed

[2022-07-21 21:25] #109682 closed

[2022-07-21 22:19] ruiwen-zhao commented on #106248
@ndixita is actively working on this.

/reopen

[2022-07-21 22:45] Napokue commented on #110120
Hello, I am testing the provided solution on my Windows machine with an UNC path. I can't seem to get it working when I want to reference to a file on either my C or D drive with the UNC path notation. Do I need to change settings on my machine? I read on the Windows documentation that this will only work with network drives, is this true?

[2022-07-21 22:45] #109406 closed

[2022-07-21 23:39] ydp opened #111331 "skip "instance not found" error when reconciling LB backend address pools"
### What happened?

When upgrade cluster to kubernetes 1.20.15 on Azure platform, I still hit "instance not found" error when ensureHostInPool, and this leads to one of the backend pool members missing since then, users have to add the member back manually.
Below is the error:
[code]
The Detected change in list of current cluster nodes should be in size of 90, but actually it only has 89 nodes her

[2022-07-21 23:41] ydp commented on #111331
Hi @nilo19 @feiskyer  as you previously worked on the similar issue, could you please kindly help take a look? Thank you in advance!

[2022-07-21 23:50] ydp commented on #111331
/sig cloud-provider
/area provider/azure
/priority critical-urgent

[2022-07-21 23:54] marosset commented on #110120
I'm sorry, it looks like I confused (DOS device paths)[https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats#dos-device-paths] with (UNC path)[https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats#unc-paths].

The windows file-system APIs do a lot manipulations under the hood and golang adds in some more complexity.

Without any changes I would expect `kubectl cp ..

[2022-07-22 02:00] chendave commented on #111086
make sense, but the log says the `csi-hostpath-ephemeral-2296` is not found. but I do find that csi driver is presented in that cluster, what am I missing here?

[2022-07-22 02:03] kerthcet commented on #108444
It's used to validate the removed plugins to make sure they are not exist in kube scheduler profile,  but `selectorSpread` not removed yet. Maybe we can revert the pr and add it to the list when we do remove the `selectorSpread` plugin, but it's two releases later.

[2022-07-22 02:18] rijabiken-edge commented on #71343
To resolve this issue, you can allow access from all IPs from port 10250 in your security group (firewall) config. Not sure why this fixes it as this port is supposedly only been used by the "KUBELET API" but yeah, it fixes it

[2022-07-22 02:19] rijabiken commented on #71343
To resolve this issue, you can allow access from all IPs from port 10250 in your security group (firewall) config. Not sure why this fixes it as this port is supposedly only been used by the "KUBELET API" but yeah, it fixes it

[2022-07-22 02:21] ivanmissu commented on #111318
Is there a support plan ？

[2022-07-22 02:59] ChenJhua commented on #105536
k8s+ceph
[code]
error
[code]

[2022-07-22 03:00] feiskyer commented on #111331
1.20.x is not a supported version. Could you upgrade to latest supported version?

[2022-07-22 03:00] #108268 closed

[2022-07-22 03:33] onsi commented on #111086
the `init` and `defer cleanup()` stuff in these tests is complex and i do wonder why the code isn't calling `BeforeEach` and `AfterEach` instead.  nonetheless i would expect this code as written to work: the `defer` will always run before the `It` returns to its caller and Ginkgo v1 and v2 both basically guarantee that for a given process no two `It`s will run in parallel - so all those closure va

[2022-07-22 04:23] msau42 commented on #111086
I think I found the root cause. I did some debugging on my own PR, and debugged the GCE run because the kind run does not capture kube-controller-manager logs: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111334/pull-kubernetes-e2e-gce-ubuntu-containerd/1550310687912235008/

test log:
[code]

kube-controller-manager.log:
[code]

The commit that I thought wasn't suspicious is actuall

[2022-07-22 04:26] msau42 commented on #111086
cc @Riaankl @smarterclayton please help take a look. I think the new tests aren't cleaning up properly and causing namespace deletion in other tests to fail.

[2022-07-22 04:32] chendave commented on #111086
Great to hear that!

@msau42  Can you pls share us how to achieve that if we want to check the log from those components? where is the log file I can get?

[2022-07-22 04:35] msau42 commented on #111086
For example from my test run above, this is where the control plane logs are:
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/111334/pull-kubernetes-e2e-gce-ubuntu-containerd/1550310687912235008/artifacts/e2e-c189956e22-a7d53-master/

It would be nice to collect this from the kind jobs too.

[2022-07-22 05:03] fireflycons opened #111338 "kubectl explain should indicate mutability of fields"
I see many people asking how to tell if a field on a given resource is mutable or immutable. It would be good if the documentation would include this, both in the API reference, and `kubectl explain` in a way that can be easily parsed with e.g. grep

For example

[code]

[2022-07-22 05:05] ydp commented on #111331
Hi @feiskyer  thank you for reply! Do you mean that this could be already fixed in latest version? I'm not sure if my understanding is correct, but if the issue exists in 1.20.x, even latest version does not ignore this error in the specific place.

[2022-07-22 05:27] ydp commented on #111331
Hi @feiskyer  sorry, I don't mean AKS by Azure platform, in fact this is a VMware product built upon Azure, is it possible to port the fix to in-tree cloud provider? That would be great if it's doable, if not, or could you please help point out the fix, maybe we could rase a PR for the in-tree cloud provider. Thank you!

[2022-07-22 05:27] chendave commented on #111086
@onis

It's historical reason,  my pr here: https://github.com/kubernetes/kubernetes/pull/111063 already commented on that, further actions are needed, this is also the action left in  https://github.com/kubernetes/kubernetes/issues/109744. We just need time to get familiar with csi e2e test code and then start the migration.

It's generated here:  https://github.com/kubernetes/kubernetes/blob/mas

[2022-07-22 05:28] ydp commented on #111331
We're still on in-tree cloud provider even if it's upgraded to 1.22.

[2022-07-22 05:49] ydp commented on #111331
The error we saw is thrown in this code
https://github.com/kubernetes-sigs/cloud-provider-azure/blob/master/pkg/provider/azure_standard.go#L931
it appears in out-of-tree code, this still could lead to the issue.

[2022-07-22 05:58] harshanarayana commented on #111257
@jayunit100  Is this not expected since you are deleting the node via `docker delete a node` and not really via `kubectl delet node` equivalent ?

Had the node been deleted by the `kubectl delete node` equivalent, the GC controller should have kicked in and cleaned it up
https://github.com/kubernetes/kubernetes/blob/287888b191968198679159580b1bb76b529aa8c0/pkg/controller/podgc/gc_controller.go#L21

[2022-07-22 06:00] harshanarayana commented on #111257
[code]

In case if the node was deleted the `kubectl` way

[2022-07-22 06:45] aojea commented on #111331
/remove-priority critical-urgent

please don't set priorities, those are meant to be used by the community members that triage the issue

[2022-07-22 07:06] mborsz commented on #111290
If etcd client/kube-apiserver is not able to recover after the network issue, this probably means that it's a bug which we should fix. But I think the risk of discovering such bugs is real: we have seen similar issues in the past (e.g. I "use of closed network connection" kubelet), so if we pick (1) we should reserve some additional time for extended testing and potentially fixing such issues.

Ov

[2022-07-22 07:27] neolit123 commented on #111326
i don't think the k8s project is even packaging rkt, which suggests that you might be trying to use a different repository somehow.

[2022-07-22 07:29] neolit123 commented on #111326
try asking for help on the support channels

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2022-07-22 07:30] #111326 closed

[2022-07-22 07:53] kuritonasu commented on #61486
This issue bit us hard during our EKS scheduled worker node upgrade. Fresh nodes with the updated AMI failed health checks and failed to join the nodegroup, the upgrade failed, leaving our cluster in an inconsistent mess, with our ingress controller working on the old nodes but not on the new ones. As we had changed the VPC DHCP options' search domain a couple of weeks before the upgrade,  it was

[2022-07-22 08:16] feiskyer commented on #111331
@ydp are you using VMSS, VMAS or standalone VM?

[2022-07-22 08:19] aojea commented on #111321
/assign

[2022-07-22 08:27] ydp commented on #111331
@feiskyer this is our config, sorry, how do I know which kind of it is?
[code]

[2022-07-22 08:45] feiskyer commented on #111331
primaryAvailabilitySetName means the cluster is using VMAS. Per the codes [here](https://github.com/kubernetes-sigs/cloud-provider-azure/blob/1279600255a32e4efddbfab9a186087a2190347f/pkg/provider/azure_standard.go#L924-L932), the issue probably still exists.

@lzhecheng could you help for the fix?

/assign @lzhecheng

[2022-07-22 08:48] sftim commented on #111338
This looks like a feature request for kubectl (which might then trigger a request for machine-readable mutability marking in the OpenAPI, I'm not sure)

/transfer kubectl

[2022-07-22 08:54] serathius commented on #110722
I don't get the argument, kubectl top is just a simple CLI to get resources, it's not something that is meant to give you real insights. Without metric history and correlation with events happening in cluster/node you cannot make any good conclusions, like example of noisy neighbor.

Please consider looking into monitoring solutions like Prometheus and Grafana. Community has already build ready Gr

[2022-07-22 09:00] ydp commented on #111331
@feiskyer Thank you for confirming! That's what I'm worried about.

[2022-07-22 09:05] aleksandra-malinowska commented on #111111
Thank you for reverting. Yes, it seems likely it was unrelated after all, sorry about this.

Regarding how this test works - the failing step is part of test infrastructure, not any specific test scenario. It collects logs after all tests have run.

I've added 15m timeouts to affected `kubectl delete` commands, which will hopefully allow us to at least upload the logs from control plane VMs (a ste

[2022-07-22 09:28] mengjiao-liu commented on #89267
Are you still working on the remaining tasks? If not, I want to try. @gavinfish

[2022-07-22 09:30] sanposhiho commented on #102231
/remove-lifecycle stale

[2022-07-22 09:50] aojea commented on #111086
the info is there, but the failing jobs doesn't have it because the job times out cleaning the kind cluster and the related logs

If you take a working job https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111172/pull-kubernetes-e2e-kind/1550377010985963520 the controller-manager logs are in
https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/111172/pull-kubernetes-e2e-kind/1550377

[2022-07-22 10:40] aslafy-z commented on #64529
/reopen

[2022-07-22 11:22] danwinship commented on #111318
No.

Note that NodePort is a low-level feature which is mostly there as part of the implementation of LoadBalancer services. NodePort values are supposed to be random; there's no expectation that the user should be able to get the "right" NodePort value for a particular service.

If you want a service to be externally available on a specific port, you should look at LoadBalancer services or Extern

[2022-07-22 11:22] #111318 closed

[2022-07-22 12:30] liggitt commented on #104432
Thanks for the offer, but it looks like https://github.com/kubernetes/kubernetes/pull/109492 was open and had an update that was waiting for review (which I didn't realize)

[2022-07-22 12:41] JCzz opened #111351 "cfssl breaks - Getting started locally - build"
### What happened?

building from source, cdssl breaks the build process.

Env:
Ubuntu: cat /etc/lsb-release
[code]
The [Getting started locally - doc](https://github.com/kubernetes/community/blob/master/contributors/devel/running-locally.md#openssl) says

`go get -u github.com/cloudflare/cfssl/cmd/...`

Then the log says

[code]

Then after `go mod vendor` I get this error:

[code]

Also tried:
`

[2022-07-22 13:08] brianpursley commented on #109621
Thoughts on this PR to fix `the server doesn't have a resource type "ksvc-1650601303"`?
https://github.com/kubernetes/kubernetes/pull/111184

Basically just calling `kubectl api-resources` after the CRD is created, so that kubectl's discovery cache is cleared.  It seems to fix the problem for me locally and in that PR's CI after unmarking that test as `[Flaky]`.

[2022-07-22 13:10] alculquicondor commented on #108444
Yes please, revert and add SelectorSpread to the list of invalid plugins in v1.

[2022-07-22 14:17] #111086 closed

[2022-07-22 14:18] mpuckett159 commented on #111111
No problem at all. Thanks for updating me. I will update my ticket to reimplement these changes to note that it appears that this is not related.

If you do find eventually that kubectl delete (which makes use of the wait library) is a source of issues please let me know and I'll continue to investigate.

[2022-07-22 14:25] aojea commented on #111086
another observation that once the test start to run this job started to flake

![image](https://user-images.githubusercontent.com/6450081/180460286-a3773b20-a210-41cb-931a-c9154dd32b3b.png)

[2022-07-22 14:38] aojea commented on #111247
it turns out it was a consequence , not a problem

https://github.com/kubernetes/kubernetes/pull/111347

[2022-07-22 14:38] #111247 closed

[2022-07-22 14:39] szuecs commented on #51135
Yes cpu resource settings are in millicore

[2022-07-22 15:13] xmcqueen commented on #109621
I didn't know that forces a clear of the discovery cache. Also that sounds like a decent proposal, and is consistent with the other theories.  The previous attempts to fix it focused directly on re-running the specific api call.  I like this proposal to clear the cache.  I say its worth a try. I'll go put a comment on that PR.

[2022-07-22 15:22] frezbo opened #111353 "Go modules not tagged for v0.25.0-alpha.3"
### What happened?

There is a github release for v1.25.0-alpha.3 but no go modules are tagged for [v0.25.0-alpha.3](https://pkg.go.dev/k8s.io/api?tab=versions)

### What did you expect to happen?

Go modules tagged for v0.25.0-alpha.3

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

### Kubernetes version

<details>

[2022-07-22 16:03] fusida opened #111354 "gc controller run whill be block when the apiservice missing a controller"
### What happened?

if the crd & apiservice not work well, the gc controller will not work.

example:
[code]

if gc controller run, will be block to  `garbagecollector.go:147 line`:
[code]
[code]

### What did you expect to happen?

if a crd missing a controller, should not block gc controller run function.

### How can we reproduce it (as minimally and precisely as possible)?

install a crd and a

[2022-07-22 16:05] fusida commented on #111354
/sig sig-apps

[2022-07-22 16:09] fusida commented on #111354
/sig apps

[2022-07-22 16:34] dgrisonnet commented on #110722
I think it would make sense to add a new node column, but I wouldn't add it by default. To match the behavior of existing commands such as `kubectl get pods`, I would be inclined to hide it by default and make it visible via a `-o wide` option.

[2022-07-22 16:36] cfryanr commented on #108814
/remove-lifecycle stale

[2022-07-22 16:38] onsi commented on #111086
🎉 great job getting to the bottom of this @msau42 !

[2022-07-22 17:58] amitsingla commented on #67761
We are facing the similar issue when we upgraded the Kube to 1.20.15 and moved Kube services to Binary. Is anyone able to find any workaround except the one raised above in helm. ? I am bit hesitant to rollout this in production with this bug as most of our application deployments are helm based and thorough pipelines. It would be great if someone can share and guide us how to fix this or workarou

[2022-07-22 20:03] dims commented on #111353
works now

[code]

[2022-07-22 20:03] #111353 closed

[2022-07-22 20:08] dims commented on #111297
Looks like good progress in https://go-review.googlesource.com/c/go/+/418960/

[2022-07-22 20:27] frezbo commented on #111353
Thanks @dims :heart:

[2022-07-22 20:27] Janevski commented on #15478
/reopen

So, it seems that Kubernetes is shit compared to Docker swarm.

[2022-07-22 20:29] frezbo commented on #111353
On a side note, have seen this happen a few times, there would be a release but no corresponding go tags. Is this issue with an automated process? If it's something trivial to fix, if you could point me in the right direction i could look at fixing it.

[2022-07-22 20:43] jpinkul opened #111356 "The logic of oom_score_adj doesn't work well for sidecar containers"
### What happened?

I was debugging a OOM failure recently and noticed some unexpected behavior for how the kubelet is setting `oom_score_adj`.

From the [Node-pressure Eviction documentation](https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/) this is how setting `oom_score_adj` is described for burstable QoS pods:

The documentation also states the intention of this

[2022-07-22 20:46] jpinkul commented on #111356
/sig node

[2022-07-22 20:58] dims commented on #111353
@frezbo please see https://github.com/kubernetes/publishing-bot

[2022-07-22 22:01] xmcqueen commented on #109295
I've got some Dockerfile changes to fix this.  I've tested it locally with no network and it does the full 300 epochs.

`docker run -it --entrypoint ""  68e5677a97f1 python ./wide_deep.py --model_type=wide_deep --train_epochs=300 --epochs_between_evals=300 --batch_size=32561 --data_dir ./census_data`

PR coming soon.

[2022-07-22 22:13] #108242 closed

[2022-07-23 00:12] xmcqueen commented on #109295
Is it worth pushing up 182 files to keep get this green?  It is about 6M of python, and 5M of a test dataset.

Its all stashed away in the `test/images/node-perf/tf-wide-deep` to get the docker image to contain the prereqs.

It is the required subdirectories of the quite old archived version (v1.9.0) of the code from here:
https://github.com/tensorflow/models

and two small test data sets from her

[2022-07-23 00:53] dhduvall opened #111359 "kubectl wait doesn't support complex jsonpath"
### What would you like to be added?

The JSONPath extension for `kubectl wait` added in #105776 naively splits the argument to `--for` into three parts using `=` as the boundary character. That's pretty straightforward, but then I wanted to do this:
[code]
which has five parts using that code. It would be nice to use expressions like this, rather than hard-coding the array index.

Assuming that t

[2022-07-23 00:59] kerthcet commented on #108444
I already created the placeholder pr here https://github.com/kubernetes/website/pull/35044, would like to finish it next week.

[2022-07-23 01:15] xmcqueen commented on #109295
OK I got it down to 43 files, including the 2 datasets.  That's the drivers and the datasets and the libs they need.

[2022-07-23 02:38] #106438 closed

[2022-07-23 03:13] sunil-barhate commented on #111305
Yes, it uses client-go v0.20.6

[2022-07-23 06:09] jyotimahapatra commented on #108014
Certainly, I don't think there is merit in stopping the KCM startup due to apiserver unhealthiness, more so when there is no such check at runtime. The behavior should be rather consistent.

It depends on what is really failing. One of the apiserver health check type is `log` and that should not impact KCM. etcd unhealthiness would certainly impact. Each controller could fail diifferently due to a

[2022-07-23 06:23] jyotimahapatra commented on #108014
Doing some code archaeology, the change was done in #60291 for fixing #60288 . The change was done with intent `We should deprecate or remove ServerAPIVersions and make use of /healthz as all other components do.` . This consistency is good, but introduced strict check on apiserver to be available before KCM can even start. I lack context, but i think it is not necessary to have this guarantee. Th

[2022-07-23 08:18] #108289 closed

[2022-07-23 09:08] n0-1 commented on #96018
@liuyuan10  iptables v1.8.8 has all you need.

[2022-07-23 09:58] timoreimann commented on #101878
/remove-lifecycle rotten

[2022-07-23 10:18] #108292 closed

[2022-07-23 11:01] wirwolf commented on #105536
Please fix this error. When the node force reboot I need recovery disk usage by this node every time. Its terrible

[2022-07-23 12:23] shan100github commented on #110722
It would be good if we have an option to check node along with the output of `kubectl top pod` from the command line rather than going through another service like Prometheus/Grafana.

[2022-07-23 14:10] Frankkkkk commented on #97328
/remove-lifecycle stale

[2022-07-23 15:20] uablrek opened #111368 "E2e tests require support for fallocate while K8s does not"
### What happened?

[code]
in this test the rootfs is limited to 5M and the pod is evicted by creating a 10M file with;
[code]
But this fails if the fs doesn't support the fallocate syscall.

### What did you expect to happen?

The K8s e2e must not itself require support for features that K8s does not require.

### How can we reproduce it (as minimally and precisely as possible)?

I am unsure why

[2022-07-23 15:21] uablrek commented on #111368
/sig testing

[2022-07-23 16:56] aojea commented on #111368
Interesting
/Triage accepted

[2022-07-23 17:18] enj commented on #108849
/remove-lifecycle rotten
/lifecycle frozen

[2022-07-23 18:02] #111368 closed

[2022-07-23 19:20] #108217 closed

[2022-07-23 21:14] adhishmeena commented on #109034
@kapiljain1989  are you still working on it ?

[2022-07-23 21:44] iameli commented on #105536
If it helps at all, the offending directory in my case doesn't have a `volumes` directory at all, but it does have something in `volumes-subpaths`:

[code]

[code]

[2022-07-24 00:25] #107368 closed

[2022-07-24 01:26] #107573 closed

[2022-07-24 05:28] halfcrazy commented on #110171
Maybe a `staleReplicas` can be added to the `deployment.status`.

[2022-07-24 06:26] Sujal2308 commented on #51322
Hello @antihax  I am facing the same issue of getting same IP address in multiple pods placed in a two different nodes.

I ran your solutions as below:

rm /etc/machine-id
rm /var/lib/dbus/machine-id
systemd-machine-id-setup

after that new machine ID has been generated, but issue is same.

Checked the IP MAC address of both nodes by running ip a there is MAC address is different.

So kindly let m

[2022-07-24 07:55] AmanteAdrian commented on #110995
We are getting the same issue after upgrading to the latest Kubernetes version

[2022-07-24 08:27] ayanamist opened #111370 "informer and any other things depends on tools/cache.Reflector may suffer unexpected memory consumption"
### What happened?

Let's revisit Reflector work flow:
1. `Reflector.ListAndWatch` called `list` https://github.com/kubernetes/client-go/blob/b2097e607c196a94c5e1100cb073fa0e8277fd7e/tools/cache/reflector.go#L254-L257
2. `list` collects `items` via `meta.ExtractList` and called `syncWith` to store all items into the memory kv store https://github.com/kubernetes/client-go/blob/b2097e607c196a94c5e11

[2022-07-24 08:30] ayanamist commented on #111370
/sig api-machinery

[2022-07-24 08:38] b0b0haha commented on #80918
Is there any progress on this  issue?

[2022-07-24 12:35] xing-yang commented on #103637
/remove-lifecycle rotten

[2022-07-24 12:35] xing-yang commented on #103637
/reopen

[2022-07-24 13:45] aojea commented on #111086
no failures since the offending test was reverted
![image](https://user-images.githubusercontent.com/6450081/180649892-47e7024d-faee-40ae-b0a0-83c770e6c9e9.png)

confirming msau theory

[2022-07-24 14:13] gnufied commented on #80918
This should be fixed now via - https://github.com/kubernetes/kubernetes/pull/108693

[2022-07-24 14:13] gnufied commented on #80918
/close

[2022-07-24 14:13] #80918 closed

[2022-07-24 16:38] markyjackson-taulia commented on #111297
Hello @dims, my name is Marky Jackson and I am one of the k8s 1.25 bug triage shadow assigned to track this body of work. Is this still on track for 1.25?

[2022-07-24 16:39] markyjackson-taulia commented on #111298
Hello @dims, my name is Marky Jackson and I am one of the k8s 1.25 bug triage shadow assigned to track this body of work. Is this still on track for 1.25?

[2022-07-24 17:52] MadhavJivrajani commented on #111298
@markyjackson-taulia 👋
This should be fixed now that https://github.com/kubernetes/kubernetes/pull/111162 is merged :D

[2022-07-24 17:53] markyjackson-taulia commented on #111298
@MadhavJivrajani awesome, if that is the case, kindly close this issue and I will mark it as completed

[2022-07-24 18:46] MadhavJivrajani commented on #111298
Closing issue after checking [k8s-triage](https://storage.googleapis.com/k8s-triage/index.html?date=2022-07-24&sig=api-machinery) and [testgrid](https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit) to ensure test is passing.

@markyjackson-taulia, will make sure to ping you in case this acts up again and the issue is re-opened.
/close

[2022-07-24 18:47] #111298 closed

[2022-07-24 18:49] Napokue commented on #110120
No unfortunately that does not work with the `kubectl cp` command. A valid pathing would be: `\\.\d:\some\file`, however that doesn't work, as kubectl infers a colon as a pod specifier.

What did work for me was using a valid UNC pathing, that didn't use a colon: `\\localhost\d$\some\file`.

[2022-07-24 20:40] abckey commented on #105435
/remove-lifecycle stale

[2022-07-24 20:42] dims commented on #110928
@bmwiedemann can you please post a link to the full logs from the build?

[2022-07-25 01:17] testworksau opened #111375 "The kubectl annotate documentation for the overwrite option is incorrect"
### What happened?

Relying on [the annotate documentation](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#annotate), I attempted to overwrite an annotation using:

[code]

The command failed to run and reported:

[code]

`--overwrite` defaults to false, so we actually need to pass in `--overwrite=true` for this to work.

### What did you expect to happen?

The command sho

[2022-07-25 01:37] muyangren2 commented on #111375
/assign

[2022-07-25 02:07] ahg-g commented on #111309
I am against this proposal.

Multipoint was introduced to simplify scheduler configuration and make users think of plugins instead of extension points.

[2022-07-25 02:09] muyangren2 commented on #111359
/assign

[2022-07-25 02:44] sunil-barhate commented on #111305
Yes, it uses client-go v0.20.6

[2022-07-25 06:03] wojtek-t commented on #96497
/remove-lifecycle rotten

[2022-07-25 06:04] TwistedHardware commented on #107053
This will also fix the problem with #52326 by doing:

[code]

[2022-07-25 06:41] marcin-ops commented on #107186
I have probably the same problem as you

When I prompt
**Kubectl exec -it [pod] bash**
_Receives:  Error from server: error dialing backend: dial timeout, backstop_

how do you fix this problem ?

[2022-07-25 07:04] p0lyn0mial opened #111382 "kubeadm doesn't pass etcd progress notification flag"
### What happened?

The `experimental-watch-progress-notify-interval` flag specifies an interval at which etcd sends data to the kube-api server.

It is used by the `WatchBookmark` feature ( `kube-apiserver`) which is GA since 1.17.
It will also be used by a new `WatchList` feature (`kube-apiserver's`) which is Alpha since 1.25

Given the above, a default installation must pass the flag required b

[2022-07-25 07:04] p0lyn0mial commented on #111382
/cc @neolit123 @aojea

[2022-07-25 07:25] LastNight1997 opened #111385 "Master disruption mode in nodeLifeCycleController not work at sometimes"
### What happened?

When the cluster enter master disruption mode, there are still nodes marked with NoExecute taint.

### What did you expect to happen?

No Nodes are marked with NoExecute taint when the cluster enter master disruption mode.

### How can we reproduce it (as minimally and precisely as possible)?

1. Create a k8s cluster with only one worker node (ControllerManager run with TaintMa

[2022-07-25 07:29] neolit123 commented on #111382
/transfer khbeadm

[2022-07-25 07:29] neolit123 commented on #111382
/transfer kubeadm

[2022-07-25 07:30] LastNight1997 commented on #111385
/sig node

[2022-07-25 07:31] LastNight1997 commented on #111385
/sig apps

[2022-07-25 07:57] fabian-zeindl-oebb opened #111386 "Provide output of Pod-Healthcheck per API"
### What would you like to be added?

Provide an easy way to view the detailed HTTP-response of a httpGet liveness/readyness-check of pods, in case of error 500.

This can then be used in the dashboard: https://github.com/kubernetes/dashboard/issues/7207

### Why is this needed?

If you use a web-framework with a health-endpoint like springboot or dropwizard, the endpoint will provide you with det

[2022-07-25 08:03] fabian-zeindl-oebb commented on #111386
/sig api-machinery

[2022-07-25 08:20] ePaul opened #111388 "The generator for swagger docs removes some (but not all) of the line breaks, breaking the markdown"
### What happened?

When generating the [networking/v1/types_swagger_doc_generated.go](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/networking/v1/types_swagger_doc_generated.go) from [networking/v1/types.go](https://github.com/kubernetes/api/blob/master/networking/v1/types.go), some of the line breaks in the input documentation comments are removed (while others are

[2022-07-25 08:21] neolit123 commented on #111266
/close

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2022-07-25 08:22] #111266 closed

[2022-07-25 08:22] neolit123 commented on #111270
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-07-25 08:23] #111270 closed

[2022-07-25 08:24] neolit123 commented on #111310
/sig api-machinery

[2022-07-25 08:25] neolit123 commented on #111327
/sig node api-machinery

[2022-07-25 08:25] neolit123 commented on #111328
/sig api-machinery

[2022-07-25 08:25] ePaul commented on #111388
/sig api-machinery

[2022-07-25 08:26] neolit123 commented on #111351
/sig release

[2022-07-25 08:26] kasabov commented on #25766
Someone reopen this issue, please. The solution @mosheavni a drawback i.e. logs from main container still do not show up until the post-start hook completes. In my case the hooks take very long time to complete (minutes) which impedes debugging. I end up tee-ing echo commands to local files which I then need to tail by first exec-ing into the container: too much effort.

[2022-07-25 08:27] neolit123 commented on #111359
/sig cli

[2022-07-25 08:27] neolit123 commented on #111375
/sig cli

[2022-07-25 09:00] pierluigilenoci commented on #69461
@lauchokyip @rikatz any news?

[2022-07-25 09:00] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2022-07-25 09:20] mharrys commented on #50122
Same problem on AKS 1.23.5. Pod stuck in Terminating on a node that no longer exist (node scale down) and cant be deleted with or without "--grace-period=0 --force". Historic pod logs collected indicate that pod shutdown successfully. Pod was started by CronJob.

[2022-07-25 09:20] mharrys commented on #50122
/reopen

[2022-07-25 09:33] chendave opened #111390 "proposal: introduce recovery mode for pod preemption"
### What would you like to be added?

Introduce recovery mode for pod preemption, with this mode enabled which maybe guarded by a feature gate, the pod deleted by the pod preemption will be re-created automatically when the workload is down for some reason, or the resource is expanded.

### Why is this needed?

For the pod which is not managed by a controller, such as `daemonset`, or `replicaset`,

[2022-07-25 09:37] chendave commented on #111390
/assign

I need to do more investigation on this, particularly, how to move the pods to the scheduler's Q.

[2022-07-25 10:39] chendave opened #111392 "proposal: create a alias group for scheduler team"
### What would you like to be added?

A alias group which includes all the active contributors for sig-scheduling.

### Why is this needed?

scheduler have four approvers and four reviewers, as far as I know, there is no such alias group for those active contributors, there should be but it is quite outdated.

we usually don't know which one has interesting in a specific topics, or has the bandwid

[2022-07-25 10:39] chendave commented on #111392
/sig scheduling

[2022-07-25 11:12] mladedav opened #111393 "Effective pod limits are not correctly computed"
### What happened?

When there is an init container with limits specified and other containers (both init and standard) do not specify any limits, the limit of the first init container is used as the effective limit for the pod.

[The documentation](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#resources) states that it should be 0, unless I misunderstood something.

### What

[2022-07-25 11:14] mladedav commented on #111393
/sig scheduling
I feel this is related to pod placement decisions, but if this should be covered somewhere else please feel free to correct the label.

[2022-07-25 11:25] eldada commented on #82440
Just to share our story... we moved to `exec` probes also to deal with https://github.com/kubernetes/kubernetes/issues/89898. There are also other internal considerations, but with this issue, we feel we are holding a double edged sword.

So I guess it's a delicate balancing act now...

[2022-07-25 11:34] kerthcet commented on #111392
Borrow from sig-node, https://github.com/orgs/kubernetes/projects/49#card-78787252 will this helpful? No longer frequently `kindly ping`.

[2022-07-25 11:49] twz123 commented on #70585
/remove-lifecycle stale

[2022-07-25 12:32] baburciu commented on #70047
Just in case anyone finds this useful, we had to automate @alwinmarkcf's [comment](https://github.com/kubernetes/kubernetes/issues/70047#issuecomment-516400379) approach and ended up using (in k8s v1.18.16):
[code]
where the list of PVs came from
[code]

[2022-07-25 12:32] dims opened #111396 "[golang][1.19] Path Lookups changed in os.exec (specifically LookPath)"
Please see https://tip.golang.org/doc/go1.19#os-exec-path

This affects k8s in several ways, for example the kubectl when it loads plugins is not able to find things it used to and the `pull-kubernetes-integration-go-canary` CI job was failing as a result.

Note that k/utils needs to be updated as well as it provides a wrapper around os.exec calls

/kind bug

[2022-07-25 12:33] dims commented on #111396
/sig architecture
/area code-organization

[2022-07-25 12:51] goireu commented on #82440
Here we got rid of the problem by writing an HTTP-probable sidecar for our app.

[2022-07-25 12:59] vaibhav2107 commented on #99126
/remove-lifecycle stale

[2022-07-25 13:25] alculquicondor commented on #89312
/lifecycle frozen

[2022-07-25 13:42] MayankRathore4 commented on #70334
I'm facing similar issue for version v1.24. Trying to install K8s version v1.24.3 using `kubeadm`. The `kubeadm init` command fails with following error logs:
[code]
The kubelet service is in a Running state but showing repeated logs  as:
[code]
When I do `docker ps -a | grep kube` I get nothing.
Any help is appreciated.

[2022-07-25 14:05] alculquicondor commented on #111390
This is beyond sig-scheduling to decide.

You would need a KEP with sig-architecture as the owning-sig. But I doubt they would accept it. It's also a breaking change.

[2022-07-25 14:07] bajoben commented on #41760
Happend on Kubernetes v1.21.2 with etcd v3.4.13

[2022-07-25 14:09] alculquicondor commented on #111392
I think this would be useful. Not sure who to ask. Maybe @mrbobbytables can help set it up?

[2022-07-25 14:11] ahg-g commented on #111392
I assume you mean a github one, not a mailing list; if so, +1. I also likeHaving a project under

I think we need to more consistently do triage during sig meetings to address this issue. I also like the idea of having a sig scheduling project under https://github.com/orgs/kubernetes/projects?type=classic to track and classify active PRs

[2022-07-25 14:22] mrbobbytables commented on #111392
If you're looking for a GitHub group - you can create/update them here:
https://github.com/kubernetes/org/blob/main/config/kubernetes/sig-scheduling/teams.yaml
The current sig-scheduling groups look to be quite outdated and probably worth pruning down to a set of teams that are actually being used. Would also need to update the list of teams in sigs.yaml here:

https://github.com/kubernetes/commun

[2022-07-25 14:31] aojea commented on #104491
now that this has merged, it needs to be revendored on the corresponding components

[2022-07-25 15:47] RinkiyaKeDad commented on #111012
This is no longer failiing, can you please close the issue @shuheiktgw? Thanks for the fix folks!

[2022-07-25 16:23] ritazh commented on #108807
/assign @stlaz

[2022-07-25 16:29] kerthcet commented on #108444
`SelectorSpread` plugin in marked deprecated in https://github.com/kubernetes/kubernetes/pull/110534

[2022-07-25 17:22] SD-13 commented on #105678
@pohly Can you please assign me another one? Thanks,

[2022-07-25 17:32] samermassoud commented on #36222
i would like to share an observation that helped me sort out the line merging and \n.
it appears to be related to the last line of the file you are using (--from-file=file.conf)
if the last line ends with empty space or tab. the config map is merged up in one line with \n as line feed
if  you remove the empty space from the last line, the ConfigMap will import file as is with |- or |+

[2022-07-25 18:04] romdalf opened #111405 "multi KMS encryption provider support"
### What would you like to be added?

Add Secret/ConfigMap API annotations for KMS provider defined within EncryptionConfiguration

Considering the below `EncryptionConfiguration` including two KMS provider plugin references:
[code]

Creating a secret using `myFirstKmsPlugin` as KMS provider plugin could be done with an annotation like:
[code]

and for a second secret with the second KMS provider

[2022-07-25 18:07] ritazh commented on #111405
/sig auth

[2022-07-25 18:15] MikeSpreitzer commented on #107727
/remove-lifecycle rotten

[2022-07-25 18:36] vaibhav2107 commented on #109451
/remove-lifecycle stale

[2022-07-25 18:40] Huang-Wei commented on #111392
I used to think about using the Github Project feature to standardize scheduler's issue triage process. And I'm +1 to make issue triage as a regular portion of each sig-meetings.

(BTW: I created a Project at https://github.com/orgs/kubernetes/projects/79, note this is a beta Github Project, not classic one. Maybe @helayoty @PriyankaH21 can shed some light on the direction of using beta Project vs

[2022-07-25 18:46] JamesPeiris commented on #64623
/remove-lifecycle stale

[2022-07-25 19:00] pcgeek86 commented on #43867
My team installed a Helm Chart into a namespace, and started collecting data. Later on, I realized that the namespace did not have the desired name, but we cannot rename the namespace. This will create lots of extra work for us to have to destroy the Helm release, and install the new Helm release into a different namespace, while retaining all of our data.

[2022-07-25 19:05] xaque208 commented on #105203
Is there a workaround or fix for this?  It seems like we should be able to reference the array index of `status.podIPs` to use in environment variables.

[2022-07-25 19:24] liggitt commented on #108014
I agree that is a goal, but until we are sure that the controller loops *are* resilient to apiserver being unhealthy, removing the `/healthz` check exposes controllers to API servers that have not completed one-time operations that happen at API server start (which inform `/healthz`).

All the `poststarthook` subchecks indicate one-time startup operations have completed, which will not go unhealth

[2022-07-25 19:26] alexzielenski commented on #107727
Taking a fresh look at this PR and wondering if it has been fixed already?

From @liggitt's comments my understanding is that this panic could occur due to two conditions:
1. `kube-apiserver` running as part of the integration test suite is asked to service an SSA request while `OpenAPIModels` are nil. The apiservice has logic to panic in this case. From the code path @liggitt commented `OpenAPIMo

[2022-07-25 19:32] MikeSpreitzer opened #111407 "Two names for one thing: flowcontrol and API Priority and Fairness"
### What happened?

In the rush to alpha, we merged the code with an inconsistency: we used the term "flow control" in some places, "API Priority and Fairness" in others.  These two terms are used interchangeably for the same thing.  This is unnecessarily confusing.

### What did you expect to happen?

I expected to use one term consistently.

I think "API Priority and Fairness" is the better choi

[2022-07-25 19:33] MikeSpreitzer commented on #111407
@kubernetes/sig-api-machinery-misc

[2022-07-25 20:32] #109846 closed

[2022-07-25 20:32] #110160 closed

[2022-07-25 20:45] dims commented on #109295
quick question - @xmcqueen @SergeyKanzhelev is there another repository that is under sig-node that can host this image?

[2022-07-25 20:47] advaaitt opened #111410 "Liveness & Readiness probe execution difference between version <=v1.19 vs version >= v1.20"
### What happened?

In version <= v1.19 the liveness probe starts first and readiness starts with a delay after liveness, whereas the probes start at the same time in version >= v1.20
I have Exec Type Liveness and Readiness probes configured as follows.
[code]

### What did you expect to happen?

With this configuration, I am expecting to see the 2 probe processes inside the container for each pro

[2022-07-25 20:49] advaaitt commented on #111410
/sig node

[2022-07-25 20:55] xmcqueen commented on #109295
To be clear, the test's docker image is currently in a k8s.io repo, the PromoterE2eRegistry registry `registry.k8s.io/e2e-test-images`:

https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go#L258

This PR adds artifacts to an existing docker image in the above repo.

[2022-07-25 21:42] #97397 closed

[2022-07-25 21:42] #108318 closed

[2022-07-25 23:02] notjames commented on #85674
out of curiosity...for the benefit of everyone else, what did you do to solve your problem?

[2022-07-26 00:32] Nowaker commented on #82440
One of the core goals of Kubernetes, as per the homepage, is:

Except you can't run billions of containers a week with exec probes as that basically kills big clusters.

[2022-07-26 00:54] Huang-Wei commented on #108610
/remove-lifecycle rotten

#109043 enhanced partial volumebinding UTs. But I believe there are still optimizing room on other UTs.

[2022-07-26 01:05] jsturtevant commented on #104584
/close
Fixed by #110075

[2022-07-26 01:05] #104584 closed

[2022-07-26 01:37] ericsuhong opened #111416 "Windows hostProcess containers are missing resource utilization metrics from metrics server"
### What happened?

Windows hostProcess containers are not showing up in kubectl top pods commands (missing resource usage metrics).

When I remove **hostProcess: true** from securityContext from container, it immediately shows up in kubectl top pods commands.

### What did you expect to happen?

Windows hostProcess containers should be visible in kubectl top pods commands as well as emit resource

[2022-07-26 01:38] ericsuhong commented on #111416
/sig windows

[2022-07-26 02:34] chendave commented on #111390
@alculquicondor I am not sure I understand it correctly.

Both the logic of pod preemption and the scheduling Queue are maintained by scheduler, shouldn't this a scope of pod scheduling?

Just one thing that is need to be ruled out is a path from the pod deletion to the  pod en-queue, maybe we can create a new API for that.

+1, agree that a KEP is needed.

I do think this is useful, especially, i

[2022-07-26 02:48] b0b0haha commented on #64466
Is there any process on this issue?

[2022-07-26 02:49] chendave commented on #111392
yes, that is what I meant.

@Huang-Wei  thanks for the cleanup!

[2022-07-26 02:50] piyumisudusinghe commented on #36222
I got the same error after editing the ConfigMap file. I use an online tool to remove the trailing white space that we cannot see in the text. After copying the content which removed trailing whitespaces I was able to resolve this issue

[2022-07-26 02:55] KeithTt commented on #98720
It seems I should upgrade kubernetes version to 1.22 to solve this problem...

[2022-07-26 03:03] KeithTt commented on #91444
I meet this problem when I upgrade kubernetes version from `1.18.19` to `1.19.16`.

![image](https://user-images.githubusercontent.com/15189954/180911275-0dcbafab-ae44-49b7-b20d-ac4cab2f51e1.png)

OS: CentOS7
CRI: Docker 18.09.9

What I have done:
[code]

Maybe `--certificate-renewal=false` this option cause?

[2022-07-26 03:10] MikeSpreitzer commented on #108272
Unless I have lost track of something, I think we have completed this campaign.  The last step was #111348.

[2022-07-26 03:48] mbyio commented on #106476
/remove-lifecycle stale

[2022-07-26 04:02] testworksau commented on #111375
Just waiting on CLA approval to occur (needs to go through our legal team, so may take a little while).

[2022-07-26 04:37] ouyangkui opened #111423 "improve prompt message when file doesn't exist when execute "kubectl create configmap xxx --from-file filename""
when try to create configmap via file
kubectl create configmap map --from-file=abc

but no any response return.
Actually the file abc doesn't exist or unreachable

So I suggest to return proper error message.

env:
GitVersion:"v1.21.5"

[2022-07-26 04:40] ouyangkui commented on #111423
/sig area/kubectl

[2022-07-26 04:40] kerthcet commented on #108610
I'll take a look.
/assign

UTs cost more than 2s now list as below:
[code]

[2022-07-26 04:43] kerthcet commented on #100723
/remove-lifecycle stale

[2022-07-26 05:31] MikeSpreitzer commented on #107097
/remove-lifecycle stale

[2022-07-26 05:35] bowei commented on #106476
/lifecycle frozen

[2022-07-26 05:39] aojea commented on #64466
These area of.code was refactored in 1.22 and a lot of races in allocation were fixed.

A reproducer snippet will be very useful

[2022-07-26 06:03] yangjunmyfm192085 commented on #111423
/sig cli

[2022-07-26 06:06] yangjunmyfm192085 commented on #111423
My environment can return proper error message.
[code]
[code]

[2022-07-26 06:11] yangjunmyfm192085 commented on #111416
hi, @ericsuhong , Which version of metrics-server are you using?

[2022-07-26 06:11] ouyangkui commented on #111423
@yangjunmyfm192085
thank you !
Yes, I change to another environment, v1.23.5
get the error message.
So maybe it was fixed already in new version.

[2022-07-26 06:15] yangjunmyfm192085 commented on #111423
Yeah, I think it was fixed already in new version.

[2022-07-26 06:19] liguangcheng commented on #82440
@Nowaker In fact, not only the probing will lead to a sharp increase in the cpu usage, but I also encountered a similar problem when using the exec method of node.js in the container to parse a certificate. It took 3 seconds to parse a certificate, and the cpu usage increased significantly, and I don't know the reason

[2022-07-26 06:22] wojtek-t commented on #108272
Agree - thanks Mike!

/close

[2022-07-26 06:22] #108272 closed

[2022-07-26 06:22] sreejithrangarajan opened #111425 "Unable to create cluster with smaller subnet than 24"
### What happened?

While trying to deploy a small K8s cluster using Kubespray the part of initializing the first master is failing with below error.

sudo /usr/local/bin/kubeadm init --config=/etc/kubernetes/kubeadm-config.yaml --ignore-preflight-errors=all --skip-phases=addon/coredns --upload-certs --v=6
[sudo] password for ignite:
I0725 23:13:42.501687  780633 initconfiguration.go:255] loading

[2022-07-26 06:33] sreejithrangarajan commented on #111425
/sig network

[2022-07-26 06:39] ericsuhong commented on #111416
mcr.microsoft.com/oss/kubernetes/metrics-server:v0.5.2

This is the one that is installed by default by AKS (I have not installed metrics-server separately nor modified it).

[2022-07-26 06:48] aojea commented on #111425
/remove-kind bug
/kind support
/remove-sig network
/cc @neolit123 @pacoxu

The configuration has `node-cidr-mask-size: "27"`
[code]

but it seems that the flag `node-cidr-mask-size` was deprecated when dual-stack GA on kubeadm

https://github.com/kubernetes/kubernetes/pull/104770

so you have to use in this case `node-cidr-mask-size-ipv4: "27"`

[2022-07-26 06:56] darmbrust commented on #91847
On a related note, what is the possible purpose of ReadOnlyMany, if I can't create a PersistentVolume, and actually allow another claim to be made to it?

I'm trying to figure out the pattern to have a single volume, that can be mounted (read only) by many containers, to read a shared resources.

As the admin, I created the PersistentVolume, and I thought that the PVC would go with the deployment.

[2022-07-26 07:24] FranciscoSedeno opened #111427 "Kube-Scheduler scoring policy"
Hi! Is there a way to get to know which general formula is used by the kube-scheduler to rank nodes?

I'm sorry if this question doesn't belong here, I'm trying to understand the scheduler more in depth and I would want to know how the scoring process works.

[2022-07-26 07:26] yangjunmyfm192085 commented on #111416
could you use the command to check the result?
[code]

[2022-07-26 07:26] yangjunmyfm192085 commented on #111416
/cc @sanwishe

[2022-07-26 07:30] FranciscoSedeno commented on #111427
/sig docs

[2022-07-26 07:31] wojtek-t commented on #107727
There was a ton of changes I did around that. But the last PR (already removing the old `RunAnAPIServer` is already out for review): https://github.com/kubernetes/kubernetes/pull/111395
@aojea - FYI

Thinking about it now, I guess I agree that the problem might have been 10 different way kube-apiserver was set up through different tests. I just don't know why it was causing flakes, not failing con

[2022-07-26 08:05] ak2766 commented on #82440
@goireu - Only ever used HTTP probes.

[2022-07-26 08:21] pavelmaliy commented on #110989
any update?

[2022-07-26 08:30] neolit123 commented on #111425
kubeadm at k/k master does not use the flag
node-cidr-mask-size

https://github.com/kubernetes/kubernetes/blob/f95c70080f21fe9aa6f14b72b75078d79ef68614/cmd/kubeadm/app/phases/controlplane/manifests.go

it relies on kcm flag defaults.
as @aojea is pointing out you need to use the flags with IP family in the extra args / config you pass to kubeadm.

/close

[2022-07-26 08:30] neolit123 commented on #111425
/area kubeadm

[2022-07-26 08:30] #111425 closed

[2022-07-26 08:37] sreejithrangarajan commented on #111425
Thanks for the help @aojea @neolit123. After the mentioned changes the issue is resolved.

[2022-07-26 08:38] neoaggelos commented on #108118
/remove-lifecycle rotten

[2022-07-26 10:24] pbetkier commented on #110278
Note that the behaviour you're describing is intended: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#implicit-maintenance-mode-deactivation.

[2022-07-26 10:45] Kartik494 commented on #105581
/remove-lifecycle stale

[2022-07-26 10:47] pbetkier opened #111433 "Increase fallback consumption for HPAs with target over 100%"
### What would you like to be added?

Change the fallback consumption from `100%` to `max(100%, target)` when pod metrics are missing on a scale down.

Background from [HPA docs](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/):

### Why is this needed?

The fallback value of 100% is supposed to be a safe overestimate of the desired value to dampen the magnitude of a pot

[2022-07-26 10:47] pbetkier commented on #111433
/sig autoscaling

[2022-07-26 11:23] kerthcet commented on #108610
Some context:
1. Long time consuming tests( > 5.0s) runs in parallel
2. In several long time consuming tests, testcase also runs in parallel
3. Except testcases in `TestBindPodVolumes`, other testcases performs well(It seems like we don't have to anything)

Considering that in `TestBindPodVolumes`, all test cases run in parallel, so the consuming time of this test is somehow decided by the most-ti

[2022-07-26 11:40] damemi commented on #111390
The scheduler doesn't handle re-creation of pods, and preemption is the one
case where the scheduler even cares about existing pods (and that is only
because it's concerned with a new incoming pod). Re-queueing is not the
same as re-creation, so it's that pod creation step that stands out to me.

So I agree with Aldo that this probably isn't the scheduler's concern.
There are other controllers tha

[2022-07-26 12:37] endocrimes commented on #110988
/remove-kind bug
/kind feature

This doesn't seem like a bug (breaking a published facet of the kubelet api), but a feature improvement (changing the behavior of the kubelet api).

The Kubelet can't report a ContainerID before a container is running because it comes from the runtime. I'm not sure if there's an obvious change here really.

[2022-07-26 12:42] endocrimes commented on #110996
/triage accepted

This does indeed seem like a regression. We probably need to rethink how probing works to reduce the CRI load.

/cc @matthyx

[2022-07-26 13:01] liggitt commented on #107727
There were definitely test setups that were not enabling openapi in the recent past.

Two possibilities for flakes:
* Enabling openapi in all integration test setups was expensive and caused spurious timeouts
* The excessive numbers of background panics handled and logged in integration tests when the API server tried to handle SSA requests bogged down the CI machine (I think something like 40,000

[2022-07-26 13:06] endocrimes commented on #111077
/triage needs-information

Is the docker socket running in the default location? (`unix:///var/run/docker.sock`)

[2022-07-26 13:07] rsmoorthy commented on #111077
Yes

[2022-07-26 13:09] endocrimes commented on #111174
/triage accepted
(issue reproduces)

[2022-07-26 13:12] endocrimes commented on #111276
/triage accepted

[2022-07-26 13:13] endocrimes commented on #111291
/close

feel free to reopen if after bumping your kernel you run into similar issues.

[2022-07-26 13:14] endocrimes commented on #111327
/sig storage

[2022-07-26 13:20] endocrimes commented on #111077
/remove-triage needs-information

/cc @bobbypage

any idea if cri-dockerd needs anything special for cadvisor to work?

[2022-07-26 13:23] zx8 commented on #90329
/remove-lifecycle stale

[2022-07-26 13:28] alculquicondor commented on #100723
Is this something any of you still want to do? Was there any progress?

[2022-07-26 13:40] alculquicondor commented on #111390
Yes, but this is an architectural change. Pods are immutable in kubernetes, regardless of which component is doing the operations.

I'm not even sure if the apiserver would allow you to reset the node name.

Why not put a controller in front of these pods that need to be restarted?

[2022-07-26 13:56] endocrimes commented on #110181
/unassign

[2022-07-26 13:58] endocrimes commented on #110181
In lieu of extra reports and a lack of concrete reproduction case I don't think this is worth the cost of shipping directly into an old release.

This should probably be fixed in cri-dockerd.

/close

[2022-07-26 13:58] #110181 closed

[2022-07-26 14:15] sanposhiho commented on #100723
From me, No.

The .so files are not universal, cannot plug into all prebuilt scheduler.
Users need to build their plugins by the same Go version, with the same Go dependencies, with the same `GOPATH`...etc. ([ref](https://github.com/kubernetes/kubernetes/issues/100723#issuecomment-1042701391))
If we cannot accept this limitation, we probably need to say goodbye to this approach. I think we can clo

[2022-07-26 14:29] wagfeliz commented on #73140
I confirm that its still happening, on AWS EKS 1.21.

[2022-07-26 14:35] claudiubelu opened #111438 "kubelet: The Plugin Watcher not working as intended on Windows"
### What happened?

Looking at [1], we can see that the plugin Watcher is traversing the plugin directory, and check whether a new file is a unix socket or not. However, ``mode&os.ModeSocket != 0``, will never be True on Windows. We can also see this in the logs when running the unit test ``TestDevicePluginReRegistrationProbeMode``:

[code]

Those file should not have been ignored.

Instead of usi

[2022-07-26 14:35] claudiubelu commented on #111438
/sig windows
/sig testing

/milestone v1.25
/priority important-soon

[2022-07-26 14:37] ahg-g commented on #111390
Mike and Aldo already discuss some issues with the proposal, but here is a quick take since you tagged me:

The scheduler doesn't own the pods, and so it shouldn't create them. The common pattern is that pods are managed by a single workload controller to reduce the chances of race conditions and enforce separation of concern, especially pod creation and status updates.

Also, it is not true that

[2022-07-26 14:51] carsonoid commented on #102056
/remove-lifecycle stale

[2022-07-26 15:46] martinstraesser opened #111443 "Order for pod deletion in ReplicaSets do not work as documented"
### What happened?

I'm conducting some experiments with different schedulers and a `cluster-autoscaler` in GKE. For validation purposes, I repeated some experiments and came across an issue when downscaling my test deployment. More precisely, I observed that the selection which pod gets deleted when decreasing the replica count is non-deterministic and especially behaves not as documented.

I dep

[2022-07-26 15:48] martinstraesser commented on #111443
/sig apps

[2022-07-26 15:56] apelisse commented on #111215
We took a quick look at that, we know why it happens. The fix is not trivial, and while I wish fixing this would improve the overall performance, I don't know if it will be better for small maps/lists. We'll keep that in mind though, this is pretty terrible.

[2022-07-26 15:58] wojtek-t commented on #111215
@apelisse - thanks!
As I wrote above I don't think it's a top priority at this point, it's just a limitation we should keep in mind (and maybe worth documenting?)
If it's fixable then great, but if it would be in the cost of typical usecase, it may not be worth it.

[2022-07-26 16:21] r-erema commented on #110464
I would like to take it
/assign @r-erema

[2022-07-26 16:25] davidkatko commented on #40651
have you been able to figure this out? I am trying to include the ordinal index as a label in the template for each pod, but it looks like that may not be possible..

[2022-07-26 16:35] wojtek-t commented on #108483
OK - so here is where we are (with the current check set to not leaking more than 4 goroutines):

[code]

Comparing to the first comment in this issue - that looks like a significant improvement :)

Here is the summary of I think the remaining goroutines in the above files:

- [ ] integration/apiserver/tracing:
   The goroutines are coming from otel exporter (in particular grpc layer). It seems th

[2022-07-26 16:43] jpbetz opened #111445 "Performance analysis of x-kubernetes-validations"
As soon as possible, and certainly before the [CEL validation rules for CRDs feature](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2876-crd-validation-expression-language/README.md) reaches GA, we need to understand its performance implications to CR create/update.

Some cases to consider when gathering performance data:

- Baseline CRD that has a trivial OpenAPIv3

[2022-07-26 16:44] jpbetz commented on #111445
/triage accepted
/kind feature

[2022-07-26 16:45] lavalamp commented on #108556
BTW I was not suggesting measuring queueing delay via a single average for all queues. That would have the problems you all are pointing out. There should be a separate measurement for each queue, which avoids those problems. There are a reasonable number of queues, this should be OK.

[2022-07-26 16:47] wojtek-t commented on #107727
i don't think that's the case. With the recent changes that I was doing as part of #108483 I think OpenAPI is already enabled for all tests having kube-apiserver (almost all) and that seems to work.

But you remainded me that back then we also had an issue that we were running many more tests simulanuously, which could have been contributing to this problem significantly.

The second reason is def

[2022-07-26 16:56] liggitt commented on #107727
I think the panics were happening in async controllers, and no functionality blocked by the controllers intersected with the surface being tested, it just (maybe) caused log/perf issues

[2022-07-26 17:29] ericsuhong commented on #111416
Two pods are showing up with zero resource utilization: hello-ests and windows-exporter

[code]

[2022-07-26 17:33] BenTheElder commented on #56402
Please see https://github.com/kubernetes/enhancements/pull/2111

I agree that this bot [is annoying](https://github.com/kubernetes/kubernetes/issues/103151), it's possible to disable it
/lifecycle frozen

... but to be clear, something like this is not going to be implemented by filing a feature request here for many years now, a breaking change or new feature like this requires a KEP / enhancemen

[2022-07-26 17:35] BenTheElder commented on #111351
Those docs should probably be updated, I don't think you manually need to install that tool to run local-up-cluster.sh anymore, and we also have https://github.com/kubernetes-sigs/kind now

[2022-07-26 17:45] BenTheElder commented on #111086
that is itself a bug, and shouldn't be happening. we should get and handle a TERM from prow well before we get killed and the TERM handler should be capturing logs.

[2022-07-26 17:51] BenTheElder commented on #109695
/remove-lifecycle stale
we should still fix or remove this

[2022-07-26 18:10] BenTheElder commented on #109406
we should probably nudge a few of the subprojects to migrate, we just migrated KIND https://github.com/kubernetes-sigs/kind/pull/2841 but I'm sure we have at least a few more out there like ip-masq-agent

[2022-07-26 18:16] dchen1107 commented on #111275
/lgtm from SIG Node.

[2022-07-26 18:35] #95460 closed

[2022-07-26 18:43] fdiasmor commented on #49804
@Vaishalinicky Have you found a solution for that?
I am running into exactly the same issue.

[2022-07-26 18:59] faisal-memon commented on #110988
Hi @endocrimes thanks for taking a look. The container is running and the ContainerID is available, I can see it in /proc folder. The Pod is just not in Ready state. We are running into a problem where we need the ContainerID to be available in order to declare the Pod is Ready.

[2022-07-26 19:09] endocrimes commented on #110988
Unfortunately that doesn't align with the current behavior of the kubelet.

Clayton might have some ideas for the long term, but status lifecycle stuff isn't something we can change on a whim bc there are always inherent issues and a lot of risk when doing so.

/cc @smarterclayton

[2022-07-26 19:12] jsturtevant commented on #107394
/remove-lifecycle stale

[2022-07-26 19:41] mladedav commented on #111393
I have run some rudimentary experiments and it seems that the issue is only with reporting. The containers are not limited by the pod limit inherited from the init containers.

[2022-07-26 20:14] leilajal commented on #111407
/triage accepted

[2022-07-26 20:15] leilajal commented on #111388
@ePaul thanks, are you going to send a PR for this?
/triage accepted

[2022-07-26 20:16] leilajal commented on #111386
@fabian-zeindl-oebb are you going to send a PR for this? thanks
/triage accepted

[2022-07-26 20:18] leilajal commented on #111370
/cc @roycaihw do you have any opinion on this?
Thanks

[2022-07-26 20:18] leilajal commented on #111328
/triage accepted

[2022-07-26 20:20] leilajal commented on #111310
/assign @alexzielenski
@neolit123 : expect delay in response due to code freeze
/triage accepted

[2022-07-26 20:32] dpasiukevich commented on #109406
I'm migrating nodelocaldns.

I've got a couple of questions:
1. currently nodelocaldns uses `k8s.gcr.io/build-image` registry [link](https://github.com/kubernetes/dns/blob/41b8fab19705b3c3728819398fafe274224bbdfe/rules.mk#L35). Should I switch it to `registry.k8s.io/build-image`? Is `registry.k8s.io` considered sort of a prod image registry?
2. Is `registry.k8s.io/build-image/distroless-iptables:v

[2022-07-26 20:39] rikatz commented on #109406
YES! Make @dims happy! This registry is actually a "proxy" that sig-k8s-infra is maintaining so people get directed to the closest Image registry, based on their cloud provider. As an example, with this users in AWS wont need to go to GCR to pull their image

Yes, it is. It follows the same build pattern of debian-iptables. See https://github.com/kubernetes/release/blob/master/images/build/distrol

[2022-07-26 20:42] dpasiukevich commented on #109406
Thanks for the answer!

Regarding the `k8s.gcr.io/build-image/debian-base` - we use it as a compile image. Will this image still be supported or should I find something other to replace this compile image?

[2022-07-26 20:51] rikatz commented on #109406
Short answer:
I imagine/suppose there is no deprecation plan for this image right now, as it is used as the compilation base for a bunch of other things (and it is base of etcd image)

Long answer:
In case of distroless-iptables the rationale was:
* we need to reduce costs (and by reducing costs, reducing image size)
* we need to use something with a smaller footprint and reduce the amount of pack

[2022-07-26 21:01] deads2k commented on #106440
Is this confirmed in https://github.com/kubernetes/kubernetes/blob/631a5a849ab09216da42c10858e962d71071ea65/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/cel/validation_test.go#L1452-L1462 or is that checking a different thing?

[2022-07-26 21:44] cici37 commented on #106440
Yes it has been addressed. Thanks

[2022-07-26 21:44] #106440 closed

[2022-07-27 00:54] brianpursley commented on #111423
I agree that this has been fixed in a recent version.

I think [this commit](https://github.com/kubernetes/kubernetes/commit/6caf4d66bda3b9e4efaa45f3479c11ed70ae0100) is what fixed it.

/close

[2022-07-27 00:54] #111423 closed

[2022-07-27 01:06] brianpursley commented on #111375
This works for me:
[code]

I didn't have to set `--overwrite=true`.  Just `--overwrite` seemed to work fine.  And this is how all the other boolean flags work; the presence of the flag itself is the same as true.

It is strange that you got the error you did.

First of all, is my example above the same thing you are trying?

Second, what version of kubectl are you using.  Can you post the output o

[2022-07-27 01:12] brianpursley commented on #111302
Closed by https://github.com/kubernetes/kubernetes/pull/111315

/close

[2022-07-27 01:13] #111302 closed

[2022-07-27 01:18] Dingshujie commented on #108009
/remove-lifecycle rotten

[2022-07-27 02:28] yangjunmyfm192085 commented on #111416
I think this is the point
[code]
Both cpu and memory utilization are 0

[2022-07-27 02:28] yangjunmyfm192085 commented on #111416
/sig node

[2022-07-27 04:00] testworksau commented on #111375
Hi @brianpursley - thanks for looking into this.

I have no idea why, but I cannot reproduce this anymore. I can specify `--overwrite` without explicitly supplying `=true`  and the annotation in my example now works.

I took the commands in my description from my build system logs, which had a few annotate steps, so it's possible I simply missed setting `--overwrite` on one of the entries (sadly I

[2022-07-27 04:00] #111375 closed

[2022-07-27 04:11] chendave commented on #111390
I think it's a recommendation, but not all pod are required to be managed by a controller.

Let's put this to hold, inspired a lot from your feedback though, thanks!

[2022-07-27 04:19] kerthcet commented on #111393
`kubectl describe node` shows the allocation of the total pods. So it behaves as expected.
What's more, if we have both init containers and normal containers, their relationship behaves as below:
1. Resource(Init containers) > Resource(Normal containers) -> display Init containers resource allocation
2. Resource(Init containers) < Resource(Normal containers) -> display Normal containers resource a

[2022-07-27 04:59] MikeSpreitzer opened #111452 "pull-kubernetes-verify-govet-levee fails everything now"
### Which jobs are failing?

pull-kubernetes-verify-govet-levee

### Which tests are failing?

verify: govet-levee

### Since when has it been failing?

Failing everything from 7:35 PM EDT July 26.
Failing almost everything from 5:29 PM EDT July 26.

### Testgrid link

https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-verify-govet-levee

### Reason for failure (if pos

[2022-07-27 05:00] MikeSpreitzer commented on #111452
There is a  Slack message in #sig-testing associating this with #111449.  Maybe from @heyste ?

[2022-07-27 05:01] MikeSpreitzer commented on #111452
/priority critical-urgent

[2022-07-27 05:26] nikhita commented on #111452
Looks like it's due to https://github.com/golang/go/issues/48525. `golang/x/tools` doesn’t seem to support type parameters yet.

[2022-07-27 05:37] nikhita commented on #111452
Why the tests didn't fail in https://github.com/kubernetes/kubernetes/pull/111254:

- The PR (https://github.com/kubernetes/test-infra/pull/26921) to bump the kubekins image for the test merged before #111254 did, but the config bumps didn't happen until after the tests for #111254 were triggered.
- Due to this, the prowjob for the govet-levee job on #111254 uses the old kubekins image - https://p

[2022-07-27 05:40] Zetanova commented on #40651
@davidkatko It can be done in general by a admission webhook, that simply looks if its a pod created by sts and adds the ordinal label to it.
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook

I will do something like it for my project to distribute sts-pods over a set of storages (drives)
https://github.com/Zetanova/hyperv-csi-driver

[2022-07-27 05:41] MadhavJivrajani commented on #111452
For future - @palnabarun, can we document this, where we need to wait for the image bump to propagate to the CI so that changes such as https://github.com/kubernetes/kubernetes/pull/111254 can test on that?

xref: https://github.com/kubernetes/sig-release/issues/1972

[2022-07-27 05:42] MadhavJivrajani commented on #111452
Also, looks like adding support for type parameters in `golang/x/tools` is bumped to go1.20 release: https://github.com/golang/go/issues/48525#issuecomment-1190816141

[2022-07-27 05:51] MadhavJivrajani commented on #111452
Not sure what happened in go1.19 that is causing the panic, the go issue linked by @nikhita effects go1.18 as well

[2022-07-27 05:58] nikhita commented on #111452
go 1.19 is the first release to use generics in the standard library though - https://pkg.go.dev/sync/atomic@go1.19beta1#Pointer 🤔

[2022-07-27 06:05] nikhita commented on #111452
Let's open an issue in the go repo? If this is due to generics in the std lib, I'd expect the go team to prioritize fixing it.

[2022-07-27 06:06] MadhavJivrajani commented on #111452
I can create one, worst case we'll understand a little more about Go!

[2022-07-27 06:12] MadhavJivrajani commented on #111452
cc @dims @liggitt

[2022-07-27 06:47] fabian-zeindl-oebb commented on #111386
@leilajal Unfortunately I am not familiar with the kubernetes-code. Are you going to close this if I don't send a PR?

[2022-07-27 06:48] ErmuErmu commented on #103500
we also meet this issue.

using `kubectl logs -f` ,  the log loops indefinitely
using `docker logs -f` , the log is normal

[2022-07-27 07:12] muyangren2 commented on #111438
/assign

[2022-07-27 08:04] MadhavJivrajani commented on #111452
Created: https://github.com/golang/go/issues/54086

[2022-07-27 08:19] ansd commented on #92559
This issue hit us in RabbitMQ multiple times:

* https://github.com/rabbitmq/cluster-operator/issues/958
* https://github.com/rabbitmq/cluster-operator/issues/269
* https://github.com/rabbitmq/cluster-operator/issues/752#issuecomment-872118881
* https://github.com/rabbitmq/cluster-operator/issues/298#issuecomment-760153567
* https://github.com/rabbitmq/rabbitmq-server/issues/5322

The [rabbitmq/cl

[2022-07-27 08:24] ardaguclu opened #111456 "kubectl debug: image debugging"
### What would you like to be added?

Currently, in order to use `kubectl debug`, user has to pass resource name which should already exist and that might prevent users, if they want to debug just any built image without creating manually.

From `kubectl debug` ephemeral containers perspective(whose they are running inside the existed pods), this has no meaning. However, from `kubectl debug --copy

[2022-07-27 08:24] ardaguclu commented on #111456
/sig cli

[2022-07-27 08:28] ardaguclu commented on #111456
@verb what do you think about this feature request?, if you have any concerns or think that not an general use case, I can close issue.

cc: @soltysh @KnVerey @eddiezane @brianpursley

[2022-07-27 08:44] ePaul commented on #111388
Hi @leilajal, I didn't manage to find out where exactly this happens (my Go-knowledge is virtually nonexistent, I'm just a user who stumbled over the broken documentation). If someone can point me to the file(s) I need to look at, I can take a stab (though likely not very soon), otherwise I'll have to leave this to people more experienced than me.

[2022-07-27 09:06] chendave commented on #111393
Maybe I miss something, but I don't understand why you think so? init containers also take resources.

[2022-07-27 09:21] MadhavJivrajani commented on #111452
Trying to think of how to unblock the CI for now:

So far:
- It does seem like the panics are occurring due to generics being present in the Go stdlib:
  - Generic code added as part of the 1.19 release: https://cs.opensource.google/go/go/+/master:src/crypto/elliptic/nistec.go;drc=faf4e97200df9415d55b04924ce77599f9e6fdfa;l=175
  - This isn't present in 1.18
- I don't see an immediate work around a

[2022-07-27 09:38] nikhita commented on #111452
This might be easier/better than disabling the govet-levee check completely.

[2022-07-27 09:58] mladedav commented on #111393
@kerthcet if the pod has a container that has no limit and a container that has a limit of 100m, I think the total should be +inf + 100m = +inf, i.e. no limit. If an init container has no limit and a normal container has a limit of 100m, the max should also be +inf and not 100m.

@chendave Because no limit is larger than any limit. [The documentation](https://kubernetes.io/docs/concepts/workloads/

[2022-07-27 10:09] nikhita commented on #111452
Created https://github.com/kubernetes/test-infra/pull/26931 and https://github.com/kubernetes/test-infra/pull/26932 to move the test back to go1.18 to unblock master for now (in case we want to go with option 2 above).

[2022-07-27 10:16] kerthcet commented on #111393
Yes, it's a litter ambiguous, and we have discussed about it before, refer to https://github.com/kubernetes/kubernetes/pull/107057, still pending. -_-

Besides, it has little relationships with scheduling, maybe sig node. so I'd like to remove it from sig scheduling concern.
/remove-sig scheduling
/sig node

[2022-07-27 10:33] ardaguclu opened #111459 "kubectl debug: Add ability passing additional parameters into profiles"
### What would you like to be added?

According to the `kubectl debug` debugging-profiles [enhancement proposal](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1441-kubectl-debug#debugging-profiles), there are/will be pre-determined and static profiles which user can choose via `profile` flag. This is totally acceptable to avoid lots of feature multiplications and possibly a l

[2022-07-27 10:33] ardaguclu commented on #111459
/sig cli

[2022-07-27 10:35] nikhita commented on #111452
Kicked off the job at https://github.com/kubernetes/kubernetes/pull/111449#issuecomment-1196547335 after https://github.com/kubernetes/test-infra/pull/26931 merged, the job is now green - https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111449/pull-kubernetes-verify-govet-levee/1552238594398097408

[2022-07-27 10:35] ardaguclu commented on #111459
@verb would you mind if I ask your opinions about this feature?. Thanks.

cc: @soltysh @KnVerey @eddiezane @brianpursley

[2022-07-27 10:36] ardaguclu commented on #111459
cc: @knight42

[2022-07-27 10:36] mladedav commented on #111393
Sorry, initially I thought the schedulre might have taken the aggregated limit into consideration during scheduling so I put there this sig. Now I think it's really just about what is printed in the output.

I haven't found the PR and discussion but since it exists I think this is a duplicate so I'll go ahead and close this.

Thanks for your time.

[2022-07-27 10:36] #111393 closed

[2022-07-27 10:44] rhuss commented on #106009
I still think that it would be a great addition to have a `JOB_COMPLETION_TOTAL` (or `JOB_COMPLETION_NR`) to allow indexed jobs determine their partition to work on (like in the often cited example of video processing, without knowing how many Pods are working on a given file, the index alone is not good enough to find out which range of frames should be processed). Also, having it part of the Dow

[2022-07-27 10:47] dims commented on #111452
NOTE: this is in a tool we use `leevee`. `x/tools/go/ssa` is NOT used by k8s itself. So yes +1 to use older image for this for now. and keep going forward.

[2022-07-27 11:34] harshitasao commented on #97026
Hi, just checking in to see if this is still on track for k8s 1.25?
Thanks!

[2022-07-27 12:12] robert-gdv commented on #109597
/remove-lifecycle stale

[2022-07-27 13:04] verb commented on #111456
Hi @ardaguclu, I think this use case is more intuitive for `kubectl run`. Is there anything that `kubectl debug` would provide that's not provided by `kubectl run`?

[2022-07-27 13:31] #96635 closed

[2022-07-27 13:33] Atharva-Shinde commented on #103096
I would love to work on this, can I go ahead?

[2022-07-27 13:56] ardaguclu commented on #111456
@verb thanks for the response!

We had an exact same discussion in downstream(`oc`) about this and basically the argument is;

"Debug is better than run because debug is solving a different problem - debug is "how do i get a shell in an environment efficiently". Run is about "how do i actually launch a pod". The two are not equal. And run frankly is a ux nightmare, while debug is about making opin

[2022-07-27 14:03] alculquicondor commented on #111390
I suggest you bring this question to sig-architecture

[2022-07-27 14:29] jlsong01 commented on #110793
/assign

[2022-07-27 14:30] ebuildy commented on #2630
A broken use-case:

"Using a volume to mount a git repository"

Will give error:

[code]

[2022-07-27 14:36] #111290 closed

[2022-07-27 14:44] snukone commented on #49387
In case someone want to use it in an if-statement (example with tekton pipelinerun ressource, same behaviour with any other ressource depending on json):
 `if [ $(kubectl get pipelinerun --selector='notification-provider' -o jsonpath='{.items[?(@.status.conditions[*].reason=="Running")].metadata.name}' | wc -c) -gt 0 ]; then echo Found running pipelines!; fi`

[2022-07-27 14:47] harshitasao commented on #109211
Hello @liggitt, with the code freeze approaching, is this still on track for v1.25?

[2022-07-27 14:49] harshitasao commented on #99139
Hello @liggitt, with the code freeze approaching, is this still on track for v1.25?
Thanks!

[2022-07-27 14:52] harshitasao commented on #106401
Hello @liggitt, with the code freeze approaching, is this still on track for v1.25?
Thanks!

[2022-07-27 14:55] harshitasao commented on #111276
Hi @mmiranda96, k8s 1.25 Bug Triage Shadow here, just checking in to see if this is still on track for k8s 1.25?
Thank you.

[2022-07-27 15:22] koolwithk opened #111469 "kube-proxy - Pod sandbox changed, it will be killed and re-created"
### What happened?

After joining worker node(**Rocky Linux 9.0)** the pods keep getting deleted and recreated with `Pod sandbox changed, it will be killed and re-created.` message

[code]
[code]

Here is the logs for kube-proxy-xhzcv

[code]

if I login to worker node and run `circtl ps -a` i see some pods being created and after 2-3 minutes it goes to Exited state

[code]

Here is journalctl log

[2022-07-27 15:32] alculquicondor commented on #106009
/reopen

I think this is the most important question that needs to be answered if we want to implement this:

Are we giving up on mutable completions or are we comfortable with the environment variable being inaccurate if you change number of completions in a running job?

[2022-07-27 15:35] liggitt commented on #109211
no work has started on it as far as I'm aware

[2022-07-27 15:50] liggitt commented on #99139
I hope so, trying to get #107531 reviewed

[2022-07-27 15:52] neolit123 commented on #111469
/sig node
/kind support
?

[2022-07-27 15:53] RinkiyaKeDad commented on #111149
This is now flaky instead of failing.

[2022-07-27 16:04] RinkiyaKeDad opened #111470 "[Flaky test] gce-cos-master-serial"
### Which jobs are failing?

release-master-informing

- gce-cos-master-serial

### Which tests are failing?

- ci-kubernetes-e2e-gci-gce-serial.Overall
- kubetest.Test
- kubetest.Timeout

### Since when has it been failing?

22th July, 23:19 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial

### Reason for failure (if possible)

[code]

### Anythin

[2022-07-27 16:24] OJFord opened #111471 "kubectl cp fails with 'pods/' prefix"
### What happened?

`kubectl cp pods/example:/tmp/foo bar` fails with:

When there is a pod 'example'.

`kubectl cp example:/tmp/foo bar` succeeds.

### What did you expect to happen?

Behave the same with & without `pods/` prefix.

### How can we reproduce it (as minimally and precisely as possible)?

- Create a pod with one container and some readable file
- `kubectl cp pods/its-name:/that/file

[2022-07-27 16:27] OJFord commented on #111471
Er, sorry it could be
/sig cli

but I gather it's a server issue, not sure of correct one?

[2022-07-27 16:30] paulgmiller commented on #75957
I actually constraining it to one pdb but I have definitely seen this error confuse some users. Perhaps we could at least spit out the names of the pdbs? Maybe I should create another issue for that.

https://github.com/kubernetes/kubernetes/blob/edac6fce2ad4a1366a73afc8ac9ca50b2fbf7fc7/pkg/registry/core/pod/storage/eviction.go#L216

[2022-07-27 16:48] shettyg commented on #110674
As a general update of sig-windows slack discussion, for the latest case of this issue, I saw the same symptoms as https://github.com/kubernetes/kubernetes/issues/111323. i.e running a command of the form:

[code]
would show:

[code]

Simulating the HNS crash by running:

[code]

would show that all the kube-proxy created loadbalancers would disappear and only repopulate with new api server events

[2022-07-27 17:04] mmiranda96 commented on #111276
I believe @haircommander might be able to answer that, I don't have much context on the lifecycle of this feature.

[2022-07-27 17:39] Mumeii commented on #51475
Hi @apelisse !

Here is a quick question, from a noob in K8S, regarding your latest post :

Does this mean it will also be possible to spot too long port's names referenced in Ingress files, the ones longer than 15 characters, thanks a `--dry-run=client` option or such ?

Right now in my team, in order to perform a pre commit validation of our K8S conf repository, we're :
- using a git pre-commit

[2022-07-27 17:51] brianpursley commented on #107414
Unfortunately this does still seem to be flaky:
https://storage.googleapis.com/k8s-triage/index.html?text=Test_Run_OneVolumeDetachFailNodeWithReadWriteOnce

[code]

/reopen

[2022-07-27 18:02] dvaldivia commented on #92559
if the CoreDNS cache plugin has a mechanism to invalidate cache for a particular domain which belongs to a service with `publishNotReadyAddresses: true` then we are good to go, we would only need k8s to tell CoreDNS to invalidate any cached value as soon as a pod comes online and gets an internal IP address and there wouldn't be a need to turn off the 30 seconds caching for everyone

[2022-07-27 18:52] antoninbas commented on #108298
/remove-lifecycle rotten

[2022-07-27 18:55] antoninbas commented on #108298
I'm running into an issue because of this. When running netpol e2e tests on GKE, the tests actually fail because the default ServiceAccount for the test namespaces take too long to be created, and unlike the framework helpers, the netpol-specific helpers for Namespace creation do NOT wait for ServiceAccount creation. After creating the Namespace, the netpol tests immediately try to create Pods in

[2022-07-27 19:04] chrisohaver commented on #92559
It does not have such a mechanism.  But IMO there is a simpler solution: if we could disable caching of records in the kubernetes zone _without_ disabling caching of upstream responses.  I have recently opened a PR to make this possible coredns/coredns#5540.

[2022-07-27 19:07] RichardoC opened #111474 "kubectl clusterrole help doesn't document --user flag"
### What happened?

--user is missing from the list of options
[code]

### What did you expect to happen?

$ kubectl -n security create rolebinding workloads --clusterrole workloads --help
Create a role binding for a particular role or cluster role.

Examples:
  # Create a role binding for user1, user2, and group1 using the admin cluster role
  kubectl create rolebinding admin --clusterrole=admin

[2022-07-27 19:07] RichardoC commented on #111474
/sig cli

[2022-07-27 19:25] RichardoC commented on #111474
Weirdly I can see it in the code, but not when run?

https://github.com/kubernetes/kubectl/blob/kubernetes-1.23.0/pkg/cmd/create/create_clusterrolebinding.go#L103

[2022-07-27 19:35] #105642 closed

[2022-07-27 20:15] rtheis commented on #108266
/remove-lifecycle stale

[2022-07-27 20:15] rtheis commented on #109714
/remove-lifecycle stale

[2022-07-27 20:16] eyarz commented on #51475
Some validations are not part of the object schema becasue they are performed on the cluster side.
If kubeconform doesn't catch the 15 characters restriction, it is not part of the Ingress object schema, so running `dry-run=client` will not catch it.

There are two solutions for your use case:
1. use `--dry-run=server` so it will also perform the cluster (server) side validation
2. use an external

[2022-07-27 21:00] thockin commented on #103546
Is this still something we're looking at?

On Wed, Jul 27, 2022 at 2:01 AM Kubernetes Triage Robot <
***@***.***> wrote:

[2022-07-27 21:42] negz opened #111476 "etcd3 client logger uses significant memory with many CRDs"
### What happened?

The @crossplane project uses a lot of CRDs - in some cases almost 2,000. I do mean `kind: CustomResourceDefinition` here, not custom resources. We've noticed that API server memory consumption balloons when many CRDs are installed - for example with ~1,900 CRDs we see the API server using up to ~8Gi RSS.

A little profiling shows that around 1.5Gi of that memory is being used b

[2022-07-27 21:43] negz commented on #111476
/sig api-machinery

[2022-07-27 22:18] shuheiktgw commented on #111012
/close

[2022-07-27 22:19] #111012 closed

[2022-07-27 22:31] fromanirh commented on #109595
/remove-lifecycle stale

[2022-07-27 22:58] apelisse commented on #111476
Since you looked at the code, and I'd rather not spend time doing that. Any chance you can tell if it's because it's being mis-used?

[2022-07-27 23:17] jpbetz commented on #111476
This is a scale dimension where the apiserver has historically [scaled poorly](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/95-custom-resource-definitions#scale-targets-for-ga).  With the OpenAPI discovery performance being improved it looks like this might be a hint at what the next bottleneck might be?

Any idea how many etcd clients were instantiated? I suspect

[2022-07-27 23:25] negz commented on #111476
Sadly I didn't yet look deeply past turning it off. I was slightly optimistic that we might just be able to disable it without any meaningful impact. What I do know is that the offending code seems to be on the etcd3 client end - i.e. it defaults to creating its own logger when one isn't supplied. You can see that code at https://github.com/etcd-io/etcd/blob/v3.5.4/client/pkg/logutil/zap.go#L24.

[2022-07-27 23:39] rizwan-kh opened #111480 "Docker config Secrets to be renamed to Registry config Secrets"
### What would you like to be added?

The `kubernetes.io/dockercfg` type secret to be renamed to something like `kubernetes.io/registrycfg` and while creating the secret it should be with below syntax

[code]

### Why is this needed?

As docker runtime was officially removed from version 1.23, it makes sense to rename the secret type object from `docker` to registry as well the syntax to create th

[2022-07-27 23:51] negz commented on #111476
I don't - will try to find out.

[2022-07-27 23:58] jpbetz commented on #111476
The zap logs might tell you if you have the data. If my memory of the code is right, you should get 1 etcd client per CRD right now (plus some for builtin types).

[2022-07-28 01:15] JohnRusk opened #111482 "APF: it should be possible to selectively prevent borrowing"
### What happened?

For K8s 1.25, API Priority and Fairness will allow borrowing.  But there is no way to say "For this particularly Priority Level Configuration, do not ever allow it to borrow.  Throttle it exactly to the limit I have specified, and never let it go above".

### What did you expect to happen?

I think there should be a `NoBorrow` flag added to PriorityLevelConfiguration. It would

[2022-07-28 01:16] JohnRusk commented on #111482
/sig api-machinery

[2022-07-28 01:17] JohnRusk commented on #111482
cc @MikeSpreitzer

[2022-07-28 01:36] chendave commented on #111390
When I have a concrete plan, I will.

[2022-07-28 01:39] chendave commented on #111390
/sig architecture

[2022-07-28 01:48] muyangren2 commented on #111474
/assign

[2022-07-28 02:55] niulechuan commented on #111480
/sig cli

[2022-07-28 03:28] mengjiao-liu commented on #103546
#107018 work on this, but still waiting for a review.

[2022-07-28 04:35] boylee1111 opened #111488 "incorrectly results are returned when "Limit" and "LabelSelector" parameters are both set in certain case"
### What happened?

**Deployment Setup**
I had 35 StatefulSets deployed in one namespace as below:
[code]

Among all of them, only `elasticsearch-master` has labels below:
[code]

Other `sealed-secrets-{#}-redis-master` does not have such labels.

**Issue:**
When I used kubectl with only label selector, everything worked fine:
[code]

It worked perfectly as well when I used `--raw` below:
[code]

[2022-07-28 04:37] boylee1111 commented on #111488
/sig api-machinery

[2022-07-28 04:42] Kartik494 commented on #110956
@jingxu97 yes option 2 looks ok to me too i.e Need to force user to set ephemeral-storage limit if admin defined ResourceQuota , i will be raising a  PR for this.
Thanks!!

[2022-07-28 04:42] Kartik494 commented on #110956
/assign

[2022-07-28 05:43] muyangren2 commented on #111474
Yes, it does exist in the code. I looked at the code and didn't find any problems.

[2022-07-28 06:15] jingxu97 commented on #110956
@Kartik494 now I noticed about "The [k8s source code](https://github.com/kubernetes/kubernetes/blob/master/pkg/quota/v1/evaluator/core/pods.go#L85) says that it was a mistake that user must make an explicit request/limit when ResourceQuota has CPU/Memory setting."

I am not sure the reason behind it. Let's us sync up with sig-node people next week before committing this effort.

[2022-07-28 06:18] Kartik494 commented on #110956
sure @jingxu97 please let me know on this.
Thanks!!

[2022-07-28 06:29] Shubham82 commented on #111474
Hi,
It is because the `user` flag which is mentioned here is shadowed by a global flag.
See this comment: https://github.com/kubernetes/kubernetes/pull/108654#issuecomment-1082504900

PR opened for it in past but has not resolved it. see this: https://github.com/kubernetes/kubernetes/pull/103809#pullrequestreview-718565223

[2022-07-28 06:33] Shubham82 commented on #111474
/cc @eddiezane

[2022-07-28 06:44] rhuss commented on #106009
For the mutable case, would it be an option to refer to mounting that value via the Downward API, assuming that the number of completions is also exposed as an annotation, like the completion index via the annotation `batch.kubernetes.io/job-completion-index` ?

I mean, it's a restriction of every injected environment variable (not only for Jobs but also user-provided env vars) that it can't be ch

[2022-07-28 08:24] Thanhphan2510 opened #111498 "Is there no IP of kubernetes node?"
![image](https://user-images.githubusercontent.com/41299178/181454783-990412b0-671e-4875-b3e1-f6929cbc4bf8.png)

My nodes haven't internal-ip and external-ip. Help me!!!

[2022-07-28 08:27] palonsoro commented on #108523
/remove-lifecycle stale

[2022-07-28 08:27] sftim commented on #111474
This is a kubectl issue

/transfer kubectl

[2022-07-28 08:29] sftim commented on #111456
Should we track this as a kubectl issue (ie: prow command `/transfer kubectl`)?

[2022-07-28 08:30] aojea commented on #111498
you are running a very old version v1.11.6 , latest supported is 1.22 https://kubernetes.io/releases/

In addition, dockershim has been deprected in 1.20 and removed in 1.24

/kind support
/close

[2022-07-28 08:30] #111498 closed

[2022-07-28 08:35] aojea commented on #111149
I don't see any failures on the last 5 runs, flake is when intermittently and randomly fails, this was consistently failing and now is constantly passing

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

am I looking at the wrong place?

[2022-07-28 08:37] ardaguclu commented on #111456
Thanks @sftim

/transfer kubectl

[2022-07-28 08:38] Jeaniowang commented on #110158
Hi, we mount the "/etc/localtime"  to multi containeres, we met the same problem, the log as follows:
"failed: unmounted volumes=[localtime name01], unattached volumes=[localtime name01]: timed out waiting for the condition, re-add to queue"

[2022-07-28 08:39] LiuNingqian opened #111499 "APIServer returns status code 500 and error message "request declared a Content-Length of 351 but only wrote 0 bytes" occasionally"
### What happened?

We add the command line param "--goaway-chance=0.001" for APIServer, which was mentioned in the issue [#88567](https://github.com/kubernetes/kubernetes/pull/88567).

We found that APIServer returns status code 500 and error message "request declared a Content-Length of xxx but only wrote 0 bytes" occasionally, which causes alerts of "KubeAPIErrorsHigh".

### What did you expect

[2022-07-28 08:43] LiuNingqian commented on #111499
/sig api-machinery
/sig apiserver

[2022-07-28 08:44] lixiaoyuner opened #111501 "Why kubelet cert automatically rotation need to restart kubelet?"
### What happened?

I create a k8s cluster and change master nodes and worker nodes system time to be one day earlier than kubelet cert expire time. I don't see the kubelet automatically rotation its cert in the 24 hours, what I observed is I need to restart kubelet manually to trigger cert rotation before kubelet cert is going to expire.
Is there any way to rotate without restarting kubelet? (I h

[2022-07-28 08:44] LiuNingqian commented on #111499
area/apiserver

[2022-07-28 08:45] aojea commented on #111499
Latest supported version is 1.22 https://kubernetes.io/releases/, does this happens in that version too?
or is more a general question?

[2022-07-28 08:48] aojea commented on #111501
Can this be a configuration problem?
I think that certificate rotation happens automatically https://kubernetes.io/docs/tasks/tls/certificate-rotation/

[2022-07-28 08:53] LiuNingqian commented on #91131
Hi, I find the same error for Kubernetes server version v1.13.3 and Golang version 1.12.17.
I want to know if upgrading the Kubernetes version is only way to solve the problem?

[2022-07-28 09:01] vaibhav2107 commented on #111501
/sig node

[2022-07-28 09:03] lixiaoyuner commented on #111501
@aojea, thanks for your reply. I have referred to the link before and try to pass the --rotate-certificates to kubelet, but not work. Do you know how long will kubelet start to rotate the cert in advance before cert expires? Is it possible kubelet will detect whether cert expires per week or per month? I only try to change the time to be 24 hours earlier than expire time, so that the kubelet has n

[2022-07-28 09:07] LiuNingqian commented on #111499
I find another issue #91131 , indicating that it's the go sdk bug, and has been fixed. Maybe upgrading the kubernetes version is the only way to solve the problem.

[2022-07-28 09:31] LiuNingqian commented on #111499
Could APIServer be compiled using go version 1.14?

[2022-07-28 09:41] martin-schulze-e2m commented on #105204
My workaround : The linked PR that fixes this hints at a caching problem where the keys are not unique since they consist of the namespace and pod name but not the uid part (this is added in the fix). This means if you have several pods in the same namespace with the same name but different uids e.g. `nginx-abcd-1234` and `nginx-abcd-5678`, they will use the same cache entry.

By deleting all pods

[2022-07-28 09:44] neolit123 commented on #111501
the kubelet client cert expires after 1 year. the kubelet internal cert manager will watch the date and rotate it when around 80% of the time period is reached.

kubeadm deploys the kubelet with this rotation enabled. this is not a bug that kubeadm users are seeing, so possibly you did not enable the rotation properly?

/kind support

[2022-07-28 10:18] Evesy commented on #105467
/remove-lifecycle stale

[2022-07-28 11:03] RinkiyaKeDad commented on #111149
I was seeing it in the dashboard where it is still shown as flaky 🤔

<img width="1535" alt="Screenshot 2022-07-28 at 4 31 41 PM" src="https://user-images.githubusercontent.com/56963264/181490356-4b544957-fab4-441f-85a7-03f52bf62d2f.png">

Maybe it takes some time to update there?

[2022-07-28 11:39] endocrimes commented on #101079
/reopen

[2022-07-28 11:40] endocrimes commented on #101079
/retitle Add a Kubelet configuration option to disable certain cAdvisor metrics

[2022-07-28 11:40] endocrimes commented on #101079
/remove-kind bug
/kind feature

[2022-07-28 11:49] ardaguclu commented on #111459
/transfer kubectl

[2022-07-28 12:01] saschagrunert commented on #54368
Looks like the docs have not been updated, yet.
/reopen

[2022-07-28 12:49] answer1991 commented on #111499
All the components which connect to apiserver should be also use a newer golang version(>=1.14.15).

[2022-07-28 12:53] Ottovsky commented on #89007
/remove-lifecycle rotten

[2022-07-28 12:54] dennymou opened #111509 "resource limit does'n work when use python sub process"
### What happened?

when i use sub process in kubernetes（A process is the main process, start B process in the same container）,and set the memrory limit（like 4G），the pod does'n oom when my pod used 6G memory（A process use 3G，B process used 3G）

### What did you expect to happen?

I want the pod oom  when A process memory + B process memory > 4G

### How can we reproduce it (as minimally and precis

[2022-07-28 12:54] LiuNingqian commented on #111499
Okay, thank you so much.

[2022-07-28 13:13] #111116 closed

[2022-07-28 13:19] timstoop commented on #104107
We regularly run into this as well, would love to help to get it solved. We notice it's usually a statefulset with a PV attached, but that's about the only common aspect we can see.

[2022-07-28 13:31] sftim commented on #111480
This doesn't seem right to me. The format of the data in that Secret is a particular format, and that format (a specific kind of JSON document) was designed by Docker. https://docs.docker.com/docker-hub/configure-sign-in/ has a bit more context on this.

You can use that format even if your container runtime isn't Docker Engine.

/remove-sig cli

This isn't a kubectl issue.

[2022-07-28 13:34] sftim commented on #111359
/transfer kubectl

[2022-07-28 13:51] neolit123 commented on #111509
docker is no longer supported in 1.24 without a separate service cri-dockerd.

k8s versions < 1.22 are no longer supported either.

is this reproducible with containerd and newer k8s?

/sig node
/kind support

[2022-07-28 13:59] alculquicondor commented on #106009
The mutable number of completions requirement comes from horovod, which supports the number of workers to change overtime. This would run on Indexed Jobs, if ever. I don't know if there are other similar use cases.

Certainly, but I fear that it's harder to use this way.

I'm inclined to leave this conversation to the time when we make a decision about mutable completions, which I'm thinking of ta

[2022-07-28 14:21] ingvagabund commented on #110726
Hey @kerthcet, thank You for fixing the crash in [master](https://github.com/kubernetes/kubernetes/pull/110768) and [release-1.23](https://github.com/kubernetes/kubernetes/pull/110853). It looks like the fix actually missed [release-1.24 branch](https://github.com/kubernetes/kubernetes/blob/release-1.24/pkg/scheduler/framework/plugins/podtopologyspread/filtering.go#L150-L170). Would you please bac

[2022-07-28 14:21] azylinski opened #111510 "gce-master-scale-correctness - test cases not showing up on testgrid tab"
### Which jobs are failing?

Since 8th JUL, the test cases don't show up on testgrid:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness&show-stale-tests=

### Which tests are failing?

[ci-kubernetes-e2e-gce-scale-correctness](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml)

It's

[2022-07-28 14:33] #110622 closed

[2022-07-28 14:52] liggitt commented on #106401
not really, the status on https://github.com/kubernetes/kubernetes/pull/107860 is the same (needs tests)

[2022-07-28 16:08] endocrimes commented on #107597
/reopen
/lifecycle frozen
/retitle Document kubelet --protect-kernel-defaults

[2022-07-28 16:46] leilajal commented on #111499
/triage accepted

[2022-07-28 16:47] leilajal commented on #111488
/triage accepted

[2022-07-28 16:47] leilajal commented on #111482
/triage accepted

[2022-07-28 16:47] leilajal commented on #111476
/triage accepted

[2022-07-28 16:50] leilajal commented on #111327
/cc @wojtek-t @MikeSpreitzer
/triage accepted

[2022-07-28 17:00] mimowo opened #111514 "Cleanup TestJobStrategy in registry/batch/job/strategy_test.go"
The `TestJobStrategy` gets very long testing mulitple functions in such as `PrepareForCreate`, `PrepareForUpdate` and `ValidateUpdate`. These checks should be performed in dedicated Test functions using table for different scenarios.
Target functions `TestJobStrategy_PrepareForUpdate` and `TestJobStrategy_PrepareForCreate` are being added as part of https://github.com/kubernetes/kubernetes/pull/11

[2022-07-28 17:02] mimowo commented on #111514
/sig apps

[2022-07-28 17:21] #111118 closed

[2022-07-28 17:28] robscott commented on #103546
@thockin even if we wanted to make IngressClassName immutable, wouldn't that be impossible to do without making a breaking change to a GA API? I double checked our validation and all I could find was this, which does not enforce immutability:

https://github.com/kubernetes/kubernetes/blob/15d12e713f82672ac8951ed14cb5e83ad3288d8b/pkg/apis/networking/validation/validation.go#L310-L314

In Gateway, G

[2022-07-28 17:29] robscott commented on #103546
I should also clarify that Gateway does not currently provide any defaulting for GatewayClassName so it's unlikely to run into this specific issue.

[2022-07-28 17:29] mtardy opened #111516 "Deprecation and removal of the `SecurityContextDeny` admission plugin"
**tl;dr** the `SecurityContextDeny` admission plugin is going to be removed because it's outdated and now replaced by the `PodSecurity` admission.

#### Context

While digging on PodSecurityPolicy history, I came across this 2015 PR https://github.com/kubernetes/kubernetes/pull/7343 that added the `SecurityContext` field in containers spec. It also added a new admission plugin called **scdeny**. I

[2022-07-28 17:29] mtardy commented on #111516
/sig security
/sig auth

[2022-07-28 18:56] bthurber commented on #111275
@mrbobbytables would this be something you could assist with?

[2022-07-28 18:59] bobbypage opened #111517 "sig-node-containerd containerd-e2e-ubuntu has started failing"
### Which jobs are failing?

https://testgrid.k8s.io/sig-node-containerd#containerd-e2e-ubuntu

### Which tests are failing?

https://testgrid.k8s.io/sig-node-containerd#containerd-e2e-ubuntu

### Since when has it been failing?

last passing test - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/1551767946081079296
first failing test - https://prow.k8s.io/view/gs/

[2022-07-28 18:59] bobbypage commented on #111517
/sig node

[2022-07-28 19:06] bobbypage commented on #111517
/cc @dims @endocrimes @aojea @xmcqueen

[2022-07-28 19:17] #106221 closed

[2022-07-28 19:43] #111028 closed

[2022-07-28 19:50] agrawroh opened #111518 "Changing healthCheckNodePort after creating LoadBalancer Service with externalTraffic=Local"
### What would you like to be added?

We are currently using v1.19 and it seems that if you have a `LoadBalancer` service with `externalTrafficPolicy` set to `Local` then changing the health check node port is not supported. One way to get around this is by changing the `externalTrafficPolicy` to `Cluster` and then changing it back to `Local` in addition to specifying the `healthCheckNodePort` wit

[2022-07-28 20:10] bobbypage commented on #111517
This may be due to COS image bump. From the last passing run as @endocrimes pointed out -

[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/1551767946081079296/artifacts/images.json

first failing run

[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-containerd-e2e-ubuntu-gce/1551783046120738816/artifacts/images.json

[2022-07-28 20:10] bobbypage commented on #111517
xref: https://github.com/kubernetes/kubernetes/pull/111412

[2022-07-28 20:18] #108398 closed

[2022-07-28 20:23] bobbypage commented on #111517
Still a bit unclear if it's COS image related as we have lots of other control plane jobs now on COS 97 running just fine...

[2022-07-28 22:16] boylee1111 commented on #111488
Thanks for verifying. I was using GKE and did more digging. And I realized that this issue only happen for certain versions of GKE clusters.

* **1.22.8-gke.202** does not have this issue. Everything works fine.

Then I can reproduce the issue in GKE version:

* **1.23.5-gke.1503**
* **1.23.8-gke.400**

And it seems to be gone in **1.23.8-gke.1900**. It looks like it was something introduced in GK

[2022-07-28 23:17] #108081 closed

[2022-07-28 23:17] #108208 closed

[2022-07-28 23:25] thockin commented on #103546
yeah, I don't think so.

We can document it as "do not change".

We can MAYBE make it so that setting it to nil patches the old value.
I do not think we should re-apply the default when setting it to nil.

If we think anyone actually relies on changing it, then we CAN'T silently
discard mutations (immutable in effect, but not an error).

exactly

ACK.

[2022-07-29 00:11] gjkim42 commented on #111488
I think we don't. So this is about the GKE, not the kubernetes itself.
Maybe you can ask for support from GKE.

I believe this repository(kubernetes/kubernetes) does not manage GKE.

[2022-07-29 00:12] brianpursley commented on #111471
Can you use `kubectl cp` with anything other than a pod?

Currently it assumes anything before the `/` is a namespace.  See the help examples for what i mean:
[code]

I know this is inconsistent with how some other commands work, but it would be a breaking change to deviate from this.  Just pointing that out.

Should it be this way though?

Does `kubectl cp` support the `--namespace` flag?

Maybe

[2022-07-29 00:29] OJFord commented on #111471
Oh interesting, I didn't realise that. That is confusingly inconsistent.

It does work with `--namespace`, which I was using too. Maybe that's why I didn't get an error more like 'namespace pods doesn't exist'?

[2022-07-29 01:58] negz commented on #111476
Based on my read of the code, you're right. I see roughly:

* All of /apis is handled by a *crdHandler
* When a request comes in it gets an instance of the crd (from an informer)
* Gets serving info from a map of CRDs - if there is none it...
* Calls customresource.NewStorage which creates a genericregistry.Store
* Calls its CompleteWithOptions method
* That calls its “Decorator”, which is a gener

[2022-07-29 02:13] chendave commented on #109724
this was traced here: https://github.com/kubernetes/kubernetes/issues/109744

[2022-07-29 02:13] #109724 closed

[2022-07-29 02:35] lixiaoyuner commented on #111501
@neolit123 , thanks for your reply. I was using kubeadm to deploy k8s. I do not change anything default related to rotation and I tried to pass --rotate-certificates to kubelet, but not work. Is it possible that the time interval I observed is too short? I only try to change the time to be 24 hours earlier than expire time, in the 24 hours, rotation doesn't happen.

[2022-07-29 03:16] maxpain commented on #99895
I have a pod, that has two containers.
I want one container to use 1 CPU exclusively with affinity and another container to use a part of a CPU from a shared pool.
Is it possible?

[2022-07-29 06:21] shimada-takashi001 opened #111528 "pull private image failed on k8s 1.24.3"
### What happened?

■Problem
When I try to pull the container image from the private registry, I get ImagePullBackOff and cannot pull it out.
[code]

Container image is over 10GB and takes a long time to pull out (over 2 minutes)
So I changed the value of runtimeRequestTimeout from 0s to 59m, but the behavior did not change.

■kubelet.config
[code]

■Other
When I repeat the same steps on nginx (sm

[2022-07-29 06:51] SimoneLazzaris commented on #105536
I've been hit by the same bug: k3s with EBS CSI storage.
[code]

[2022-07-29 07:29] yangjunmyfm192085 commented on #111528
/sig node

[2022-07-29 07:43] rhuss commented on #106009
Sorry for my ignorance, but I would like to understand the underlying use case _why_ changing the number of workers overtime for indexed jobs is important and how this change would be propagated to the existing workers as they have to adapt probably their work assignments ("change the sized of the partition to process", "process now only every m-th row, instead of every n-th row, ..."). But I coul

[2022-07-29 07:54] kerthcet commented on #111392
Updated the Kanban with least recently updated PRs, but still need some helps to make this working smoothly.

[2022-07-29 07:56] neolit123 commented on #111501
i haven't tested with 24h.

[2022-07-29 08:17] #108291 closed

[2022-07-29 08:23] azylinski commented on #111510
/assign @chendave

[2022-07-29 09:10] romdalf opened #111532 "remove provider list ordering dependency within EncryptionConfiguration"
### What would you like to be added?

The current behavior of the EncryptionConfiguration for the provider list is order based requiring a restart of the API server to acknowledge the a newly defined order.

As an example, moving from this definition:
[code]
to the following one will require the API server to be restart:
[code]

With proposal #111405 will provide the necessary construct to enable

[2022-07-29 09:20] mborsz commented on #111510
/milestone 1.25

[2022-07-29 09:21] mborsz commented on #111510
/milestone v1.25

[2022-07-29 09:21] MarkAmeryCurative commented on #79272
The docs on this are still very unclear.

* The API docs at https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2/ give no indication of what `value` means. They indicate an `averageValue` relates to "the average of the metric across all relevant pods" while value just relates to "the metric", but what does the latter mean? Based on the comment above a

[2022-07-29 09:25] lixiaoyuner commented on #111501
Thank you @neolit123, let me try with more than 24 hours.

[2022-07-29 09:26] aojea commented on #111510
I think that this is related to the ginkgov2 migration, the reporters in ginkgo has changed.

Do you have a link to the code where the scale test run the e2e commands?

[2022-07-29 09:30] mborsz commented on #111510
The test is defined here: https://github.com/kubernetes/test-infra/blob/afcd7bf377861006c31a98cffe673939243741fe/config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml#L4

We use kubekins.

My guess is that the old "junit shards" we see were generated by different ginkgo processes/threads (number of junit files matches `--ginkgo-parallel=40` set in our test) and https://

[2022-07-29 09:34] aojea commented on #109744
@chendave it seems that some more jobs needs to be adapted to not use parallel

https://grep.app/search?q=--ginkgo-parallel&filter[repo][0]=kubernetes/test-infra

[2022-07-29 09:36] aojea commented on #111510
hmm, that seems a kubetest flag https://github.com/kubernetes/test-infra/blob/444b10105ab0b6356e3327a2100342bb782f2a57/kubetest/main.go#L150 ,

[2022-07-29 09:40] mborsz commented on #111510
I just checked kubetest code and it looks like the kubetest's --ginkgo-parallel flag gets propagated to --nodes ginkgo flag and it seems to work fine:

The most recent test (https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1552625181665529856) has `Running in parallel across 40 processes` in build log.

[2022-07-29 09:41] chenbodeng719 commented on #60066
You save my life! God bless you!

[2022-07-29 09:41] aojea commented on #111510
it seems is using --nodes for parallel

https://github.com/kubernetes/test-infra/blob/444b10105ab0b6356e3327a2100342bb782f2a57/kubetest/e2e/runner.go#L158

I think that now it aggregates the reports, also running in parallel

https://onsi.github.io/ginkgo/MIGRATING_TO_V2

[2022-07-29 09:41] d3hof commented on #70324
/reopen

[2022-07-29 09:43] aojea commented on #111510
besides that, all the other jobs are reporting a single junit xml file, is this the real problem? @BenTheElder do you have more ideas on why this file is not being interpreted by testgrid?

[2022-07-29 09:46] mborsz commented on #111510
My guess is that 600MiB of junit exceeds some size limit in used in testgrid and for that reason it isn't interpreted by testgrid.

[2022-07-29 09:47] azylinski commented on #111510
re: https://github.com/kubernetes/kubernetes/issues/111510#issuecomment-1199074074

https://github.com/kubernetes/test-infra/blob/master/kubetest/main.go#L1012
I think this envvar needs to be changed from: `GINKGO_PARALLEL_NODES` to `GINKGO_PARALLEL_PROCESS`

Ref: https://onsi.github.io/ginkgo/MIGRATING_TO_V2#renamed-ginkgoparallelnode

[2022-07-29 09:50] Swaps76 commented on #75704
how did you get the api-server yml ?

[2022-07-29 09:52] lucasvc commented on #40651
My usage was on a Spring Boot application, where I needed **only** the pod index. I solved creating an `initContainer` with a command that wrote the value into a file into a shared volume that Spring Boot included.

[2022-07-29 10:06] aojea commented on #111510
that doesn't look related, AFAIK the migration is about an API and that is a kubetest variable, we are passing the flag correctly.

I think that the junit generation is a better lead, in k/k there is tooling to strip the file to avoid issues with large sides

https://github.com/kubernetes/kubernetes/pull/109112

it seems kubetest dumps it entirely

https://github.com/kubernetes/test-infra/blob/444

[2022-07-29 10:15] chendave commented on #109744
@aojea  np, thanks for the update!

[2022-07-29 10:26] aojea commented on #103546
I'm not as familiar with the use cases, but is not possible to hot loop if someone is trying to delete it?

[code]

[2022-07-29 10:43] chendave commented on #111510
sorry, I just notice this, I am trying to answer some question here possible.

as @aojea has said, Ginkgo V2 merged all results into a single junit file, the file is named as "junitxxx01.yaml", pls see: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/test_context.go#L336-L339

[2022-07-29 10:50] chendave commented on #111510
it's only for golang's parallel flag, we shouldn't use as it's not accepted by Ginkgov2, here is an example, https://github.com/kubernetes/test-infra/pull/26784/files.

[2022-07-29 10:59] chendave commented on #111510
I don't think so, pls see: https://github.com/kubernetes/kubernetes/blob/3c1237930e06283b2ba16d132ef5b1b2a6ceebc2/hack/ginkgo-e2e.sh#L135-L139

[2022-07-29 11:02] chendave commented on #111510
+1 on the pruning and adapt with new junit file.

[2022-07-29 11:11] mborsz commented on #111510
In plank's logs I see:

[code]

So at least for plank the reason for not showing junit is too large file.

I think testgrid implements similar logic probably.

[2022-07-29 11:12] chendave commented on #111510
@onsi  is there any way to keep a simplified junit report instead of dump everything in that file? as what Ginkgo V1 did?

[2022-07-29 11:13] mborsz commented on #111510
Deck is using limit of 200M:
https://github.com/kubernetes/test-infra/blob/444b10105ab0b6356e3327a2100342bb782f2a57/config/prow/config.yaml#L50-L50

[2022-07-29 11:16] aojea commented on #111510
the solution seems to adapt kubetest

I can try to take a shot after code freeze

[2022-07-29 11:28] NeilW opened #111536 "Pod FQDN created from deployment won't DNS resolve"
### What happened?

[code]

### What did you expect to happen?

The reported pod fqdn created by the deployment should resolve its DNS A and AAAA records

### How can we reproduce it (as minimally and precisely as possible)?

Apply the following deployment

[code]

as follows

[code]

Show the pods

[code]

Check DNS resolution is working
[code]

Attempt to resolve the FQDN of the pod
[code]

###

[2022-07-29 11:39] NeilW commented on #111536
/sig network

On Fri, 29 Jul 2022 at 12:28, Kubernetes Prow Robot <
***@***.***> wrote:

--
Neil Wilson

[2022-07-29 12:32] neolit123 commented on #111536
does this only happen with busybox or other images as well?

[2022-07-29 13:00] alexanderConstantinescu opened #111539 "[scale] node state changes causes excessive LB re-configurations"
### What happened?

There is scale bug related to the cloud-controller-manager, namely: when a cluster reaches a state where the relation between the amount of LBs and cluster nodes reaches an almost equal amount (i.e: a many-to-many relation between LBs and nodes) the amount of cloud API calls performed by the CCM to sync LBs can become overwhelming for the cloud provider. This can (among other t

[2022-07-29 13:01] alexanderConstantinescu commented on #111539
/sig network
/sig cloud-provider

[2022-07-29 13:17] rad1k4l commented on #65267
You can use the following [KubeMod](https://github.com/kubemod/kubemod) ModRule:

[code]

[2022-07-29 13:18] Zetanova commented on #40651
@lucasvc this is the runtime option, already mentioned above. The main problem is if you need the ordinal index at deploy time, like for an label or to use it inside the PVC template

[2022-07-29 13:23] jingczhang opened #111540 "Kubelet regularly freeze cgroups of Guaranteed QoS type causing pod segfault and core dump"
### What happened?

We have experienced MariaDB pod segfault and core dump after upgrading from Kubernetes v1.19 to Kubernetes v1.21.
Issue starts to occur with Kubernetes v.21 + runc v.1.0.3, and continues.

MariaDB trace shows epoll_wait() interrupted by EINTR.
...
2022-05-23  5:17:13 0 [ERROR] InnoDB: Operating system error number 4 in a file operation.
2022-05-23  5:17:13 0 [ERROR] InnoDB: Err

[2022-07-29 13:34] jingczhang commented on #111540
/sig node

[2022-07-29 14:18] alculquicondor commented on #106009
This is one reference https://horovod.readthedocs.io/en/stable/elastic_include.html

I'm actually not convinced that we should do this in the Job API. But it needs a proper analysis worthy of a KEP.

[2022-07-29 14:20] NeilW commented on #111536
It's the same on everything I've tried. For example

[code]

gives the same response

[code]

[2022-07-29 14:59] caleblloyd commented on #93824
[StatefulSets Stable Network ID](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id) get another DNS dot.  Which is probably why `ndots 4` works fine for a service like `mysvc.myns` but `ndots 5` is needed when you have `my-stateful-set-1.mysvc.myns`

[2022-07-29 15:08] jlsong01 commented on #109191
/assign

[2022-07-29 15:23] sayaoailun commented on #109498
/remove-lifecycle stale

[2022-07-29 16:18] MikeSpreitzer commented on #111482
Is the concern here actually that some LIST operations are too expensive?  There is a recent change to limit them more severely than before.  Have you experimented with that?  If it is not adequate, that would be important to understand in itself; can you share data or scenario demonstrating inadequacy of the current handling of LIST requests?

[2022-07-29 18:02] claudiubelu opened #111548 "kubelet log compression fails on Windows"
### What happened?

Currently, when kubelet will try to compress the logs to a .gz file, it will attempt to rename the archive before closing its file handles, which results in an error on Windows.

### What did you expect to happen?

An error should not occur while compressing the logs.

### How can we reproduce it (as minimally and precisely as possible)?

This error can easily be reproduced by

[2022-07-29 18:23] #107980 closed

[2022-07-29 18:40] linxiulei commented on #109640
/remove-lifecycle stale

[2022-07-29 19:20] PhanLe1010 commented on #109132
/remove-lifecycle rotten

[2022-07-29 19:24] #68083 closed

[2022-07-29 19:31] rajaie-sg commented on #68083
/remove-lifecycle rotten

[2022-07-29 20:05] BenTheElder commented on #111510
This is really something that we shouldn't have to do in kubetest :/ (consider this also impacts tools like sonobuoy), and we're generally not accepting more complexity in that tool https://github.com/kubernetes/test-infra/tree/master/kubetest#deprecation-notice

[2022-07-29 20:17] #101035 closed

[2022-07-29 20:17] #109851 closed

[2022-07-29 20:53] QiWang19 opened #111553 "when the pod is evicted due to low imagefs.available, the prompt is difficult to understand"
### What happened?

when the pod is evicted due to low imagefs.available, the prompt is difficult to understand.
it showed:
`'The node was low on resource: ephemeral-storage. Container hello-pod was using 20977608Ki, which exceeds its request of 0. '`  But the container was evicted not by exceeding its request of 0 ephemeral-storage, but due to reaching the evictionHard of the node.

### What did

[2022-07-29 20:55] QiWang19 commented on #111553
/sig node

[2022-07-29 21:10] BenTheElder commented on #107414
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111552/pull-kubernetes-unit/1553117127928451072
[code]

/remove-lifecycle stale

[2022-07-29 21:11] BenTheElder commented on #107414
still the case

[2022-07-29 21:19] BenTheElder commented on #111452
using an older go version here means a skew in the go parser, it's probably fine in this instance, but as a general rule we probably want linters / analysis tools on the same go version.

How long do we expect to keep this out of sync? Do we have a path forward?

[2022-07-29 21:28] dims commented on #111452
@BenTheElder the forward path is folks responsible for `x/tools/go/ssa` to fix things on their end - https://github.com/golang/go/issues/48525

[2022-07-29 21:53] BenTheElder commented on #111452
I mean on our end it is only reasonable to “fix” by rolling back go for one job if we expect to be able to do so short term.

it looks like we can hope for a fix soon https://github.com/golang/go/issues/48525#issuecomment-1190816141

[2022-07-29 23:10] r0bj opened #111556 "Secret created with `type: kubernetes.io/service-account-token` immediately deleted"
### What happened?

Secret created with `type: kubernetes.io/service-account-token` is immediately deleted.

### What did you expect to happen?

Secret created with `type: kubernetes.io/service-account-token` is populated with an API token ServiceAccount. Both Secret and ServiceAccount are present in the cluster as documented here: https://kubernetes.io/docs/tasks/configure-pod-container/configure

[2022-07-29 23:11] r0bj commented on #111556
/sig api-machinery

[2022-07-29 23:21] r0bj commented on #111556
/sig auth

[2022-07-30 01:11] #110753 closed

[2022-07-30 01:23] BenTheElder commented on #111086
log collection in timed out kind e2e runs should be fixed now https://github.com/kubernetes/test-infra/issues/26953, https://github.com/kubernetes/test-infra/pull/26963

[2022-07-30 02:14] alexzielenski commented on #109099
This is fixed by #111557

I confirmed by following the steps in the original post. I've attach a CPU profile capturing the application of the CR to the apiserver. Also I've attached some flame graphs for those not so inclined:

[before_after_cpuprofiles.zip](https://github.com/kubernetes/kubernetes/files/9224155/before_after_cpuprofiles.zip)

k8s at e6a60c3b4d941da805d7e5548ffd462e5babc74d
<img wi

[2022-07-30 02:29] #111030 closed

[2022-07-30 02:29] #111438 closed

[2022-07-30 04:12] blackjackyau commented on #93824
@caleblloyd yes, perhaps this is the reason why the ndots is configured as 5 where kube will treat any hostnames which has less than 5 dots to be a relative/resolvable hostname

Although it might sound correct theoretically, practically we would never have a valid 4 dots kube dns names that are relative/resolvable

For example
`my-stateful-set-1.mysvc.myns` -> 3 dots
`my-stateful-set-1.mysvc.myns.

[2022-07-30 04:22] #109262 closed

[2022-07-30 05:46] arrowfeng commented on #111556
You must create the serviceaccount before creating the secret. Any tokens for non-existent service accounts will be cleaned up by the token controller.

[2022-07-30 06:28] arrowfeng commented on #111501
You can also verify the certificate rolling feature by configuring the KCM's certificate signing validity period.
--cluster-signing-duration

[2022-07-30 06:56] raghu-manne commented on #70147
Any update from k8s team on this rather than [zakkg3/ClusterSecret](https://github.com/zakkg3/ClusterSecret)?

[2022-07-30 08:40] #98215 closed

[2022-07-30 08:40] #105661 closed

[2022-07-30 10:57] chendave commented on #111510
[junit_v2.txt](https://github.com/kubernetes/kubernetes/files/9226038/junit_v2.txt)
[junit_v1.txt](https://github.com/kubernetes/kubernetes/files/9226039/junit_v1.txt)

Attached v1 junit report and v2 junit report as a reference,  v2 has embedded `system-err` into each testcases even the testcase is skipped, this make the file for v2 is larger than v1.

v1,
[code]

v2

[code]

Just run one testcas

[2022-07-30 11:01] chendave commented on #111510
I don't know what's the below line bringing us anything when the testcase is skipped.

[code]

@onsi  is that by design?

[2022-07-30 12:28] mmerickel commented on #20227
/remove-lifecycle stale

[2022-07-30 12:28] vinaykul commented on #109469
/remove-lifecycle stale

[2022-07-30 12:29] vinaykul commented on #109547
/remove-lifecycle stale

[2022-07-30 12:31] #105629 closed

[2022-07-30 12:33] vinaykul commented on #109553
/remove-lifecycle stale

[2022-07-30 14:39] brianpursley commented on #107414
How about adding some logging to help troubleshoot this?

I looked at it a little, but it is hard to tell which part of the test is failing.

PR https://github.com/kubernetes/kubernetes/pull/111577

[2022-07-30 14:49] Kartik494 commented on #105429
/remove-lifecycle rotten

[2022-07-30 14:49] Kartik494 commented on #103355
/remove-lifecycle rotten

[2022-07-30 14:54] snail2sky commented on #83125
mountPath is the path on a certain worker node, and we generally run kubectl on the master node, so we cannot see the results we expect. You can find mountPath on the worker node, and I believe you can solve the follow-up problems

[2022-07-30 15:10] brianpursley opened #111578 "e2e test flake: Probing container should mark readiness on pods to false..."
### Which jobs are flaking?

pull-kubernetes-e2e-kind-ipv6

### Which tests are flaking?

#### Failure cluster [2b82bf704961f0af177d](https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1#2b82bf704961f0af177d)
Kubernetes e2e suite.[It] [sig-node] Probing container should mark readiness on pods to false and disable liveness probes while pod is in progress of terminating
* https://prow.k8s.

[2022-07-30 15:10] brianpursley commented on #111578
/sig node

[2022-07-30 15:20] alexzielenski commented on #66450
#106388 should have fixed a lot of cases reported in this thread. There is a specific test added for the case of quantities getting normalized, but it should also resolve issues with SSA not detecting identical objects when webhooks are involved and other cases with defaulting.

It'd be helpful to know if some of the cases reported in this thread are resolved by that change.

Otherwise, I think it

[2022-07-30 15:34] #108297 closed

[2022-07-30 16:32] mpartel commented on #110177
Same on Debian 11 with containerd 1.6.6.
[Starting with the default containerd config](https://github.com/containerd/containerd/issues/6964#issuecomment-1132580240) with `containerd config default > /etc/containerd/config.toml` and editing `SystemdCgroup` to `true` seems to have fixed it.

[2022-07-30 16:44] lou-lan commented on #111536
https://github.com/docker-library/busybox/issues/9

[2022-07-30 16:48] NeilW commented on #111536
Not sure why that is quoted. 'dnsutils' use the jessie image.

`k8s.gcr.io/e2e-test-images/jessie-dnsutils:1.3`

[2022-07-30 16:52] lou-lan commented on #111536
I made a mistake in publishing the quote, and I thought it was only busybox.

[2022-07-30 16:54] MykolaBordakov commented on #90997
Good day. I have similar issue. I create my cluster by kubeadm.  Now i try to use MetalLb for setting up ingress controller.
I installed MetalLB successfully. But when i try to apply some config for it, it shows me an error :

_Error from server (InternalError): error when creating "kuber-fiels/confi_metalLB.yaml": Internal error occurred: failed calling webhook "ipaddresspoolvalidationwebhook.met

[2022-07-30 17:05] alexzielenski commented on #66450
Looking through this thread, this case discussed earlier is still occurring:
https://github.com/kubernetes/kubernetes/issues/66450#issuecomment-478000730

As noted elsewhere in this thread, this instance of the bug is cause by the `+retainKeys` annotation on `Deployment.Spec.Strategy`: subsequent applications of the same patch without a Spec.Strategy.Type field cause kubectl not to be able to dete

[2022-07-30 17:15] r0bj commented on #111556
@arrowfeng Thank you for clarification!

[2022-07-30 17:15] #111556 closed

[2022-07-30 17:23] alexzielenski commented on #66450
Another case solved by #111579 was reported in this comment above relating to StatefulSets: https://github.com/kubernetes/kubernetes/issues/66450#issuecomment-484066218

It happens for essentially the same reason. Fields populated presumably by the server are appearing in the original object which are not in the patch yaml; so kubectl always sends the patch and reports "configured".

[2022-07-30 18:48] brianpursley opened #111580 "Failure cluster [e72bc61a...]: Kubernetes e2e suite [It] [sig-network] Firewall rule should have correct firewall rules for e2e cluster"
### Failure cluster [e72bc61a61fa652add7b](https://go.k8s.io/triage#e72bc61a61fa652add7b)

Kubernetes e2e suite [It] [sig-network] Firewall rule should have correct firewall rules for e2e cluster

##### Error text:
[code]
#### Recent failures:
[7/30/2022, 10:38:39 AM pr:pull-kubernetes-e2e-gce-ubuntu-containerd](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/111577/pull-kubernetes-e2e

[2022-07-30 19:30] ErikEngerd opened #111581 "Egress network policy blocks readiness probe"
### What happened?

I have deployed the nginx ingress controller using helm.

[code]

When securing my cluster using network policies, I noticed that the nginx ingress controller was failing its readiness probe. This was also failing with only a single network policy present for egress. This network policy is:

[code]

The output of the kubectl describe of the affected pod is
[code]

### What did

[2022-07-30 19:33] ErikEngerd commented on #111581
/sig network

[2022-07-30 19:34] #108353 closed

[2022-07-30 20:34] #93925 closed

[2022-07-30 20:34] #105743 closed

[2022-07-30 20:34] #107632 closed

[2022-07-30 20:34] #108248 closed

[2022-07-30 21:34] ErikEngerd commented on #111581
A simple deployment with an httpd container and readiness check works together with a NetworkPolicy that disables all egress:

[code]

It also works when replacing the deployment by a daemonset which is what I was using for nginx.

[2022-07-30 21:39] ErikEngerd commented on #111581
The values.yaml used for nginx installation:

[code]

[2022-07-31 04:26] yxxhero commented on #111528
@shimada-takashi001 Please show the containerd version and any logs. Thanks very much.

[2022-07-31 05:12] JohnRusk commented on #111482
I have not had time to do those experiments. My concern was primarily that, IF the current handling was inadequate in some way, there would be no way to work around it (by setting manual limits).

[2022-07-31 05:13] shuheiktgw commented on #111149
This has been gree for the last one week. I'm closing the issue
/close

[2022-07-31 05:13] #111149 closed

[2022-07-31 05:25] shuheiktgw opened #111584 "[Failing test] Conformance-GCE-master-kubetest2"
### Which jobs are failing?

Conformance-GCE-master-kubetest2

### Which tests are failing?

ci-kubernetes-gce-conformance-latest-kubetest2.Overall

### Since when has it been failing?

7/30

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master%20-%20kubetest2

### Reason for failure (if possible)

[code]

### Anything else we need to know?

It

[2022-07-31 05:26] shuheiktgw commented on #111584
/sig testing
/triage accepted

[2022-07-31 05:37] shuheiktgw commented on #111584
[Asking for help from the sig-testing team](https://kubernetes.slack.com/archives/C09QZ4DQB/p1659245671520459)

[2022-07-31 12:32] dee-kryvenko commented on #103812
/remove-lifecycle stale

[2022-07-31 14:25] gjkim42 commented on #111540
Couldn't reproduce this issue.

What makes you think the fix is not applied to the Guaranteed pods.

[2022-07-31 14:41] palnabarun commented on #111584
/assign

[2022-07-31 17:16] aojea commented on #111581
This seems more appropriate for Calico project, since it is the one implementing the policies

Cc @caseydavenport

[2022-07-31 17:30] ErikEngerd commented on #111581
Wrote the issue instead on calico, see https://github.com/projectcalico/calico/issues/6476

[2022-07-31 17:30] #111581 closed

[2022-07-31 18:25] aojea commented on #111581
Thanks,  👌

[2022-07-31 23:36] dims commented on #111297
@markyjackson-taulia yes it is. The fix is in golang as mentioned above. Once golang 1.19 GA is out, we will re-enable the logcheck plugin.

[2022-07-31 23:46] markyjackson-taulia commented on #111297
Thank you kindly @dims

[2022-08-01 01:18] 5t33 commented on #97264
Also seeing this problem.

[2022-08-01 01:26] lzhecheng commented on #109983
@bridgetkromhout Now the 3 cloud-provider-azure tests haven been recovered. Thanks a lot for contribution from @monianshouhou !

[2022-08-01 01:59] BenTheElder opened #111588 "flaky conformance test `[It] [sig-api-machinery] Namespaces [Serial] should ensure that all services are removed when a namespace is deleted [Conformance]`"
### Which jobs are flaking?

https://storage.googleapis.com/k8s-triage/index.html?test=are.removed.when.a.namespace.is.deleted

https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master%20-%20kubetest2
(note: this one is currently _failing_ but you can see historically the conformance test was flaking https://github.com/kubernetes/kubernetes/issues/111584)

### Which t

[2022-08-01 02:00] BenTheElder commented on #111584
Uh, that type was removed from test-infra 12 months ago https://github.com/kubernetes/test-infra/commit/02aa922dfd687b5141647e43d15d0918c0363dff

Looks like dependency management issues, but not sure why we're only seeing this in this job

First failure on 7-29:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-kubetest2/1552921263578550272

Then it passed tw

[2022-08-01 02:02] BenTheElder commented on #111510
might be easiest if we trim / split / ... in a custom reporter or on exit in e2e.test, otherwise we have to consider kubetest, kubetest2, sonobuoy, etc.

[2022-08-01 02:11] BenTheElder commented on #111584
I don't see where something related changed in the past week. We switched go versions on the 26th but that's too early, though the images aren't bumped immediately https://github.com/kubernetes/test-infra/pull/26874#event-7067368837

In any case, kubetest2 is using a really old boskos commit, it should probably be upgraded.

[2022-08-01 02:19] BenTheElder commented on #97264
https://github.com/kubernetes/release/issues/913, the project does not control this infrastructure and should be moving to community managed infrastructure in the future

[2022-08-01 02:44] twink7e opened #111589 "fromUnstructured does not return convert error in testing"
### What happened?

I wrote a go test into `staging/src/k8s.io/apimachinery/pkg/runtime/conversion_test.go`
[code]

`TestFromUnstructured` This test will fail because 'frommunstructured' does not return conversion error.

### What did you expect to happen?

In my opinion, I think 'fromUnstructured' should return a conversion error in that test, but it didn't.

### How can we reproduce it (as minim

[2022-08-01 02:49] twink7e commented on #111589
/sig api-machinery

[2022-08-01 02:51] twink7e commented on #111589
Maybe moving https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/converter.go#L341 to L342 will solve this problem?

[2022-08-01 02:52] 249043822 commented on #111553
/assign

[2022-08-01 02:55] palnabarun commented on #111584
This looks to be related to https://github.com/kubernetes/test-infra/pull/26956. The PR dropped Boskos as a direct dependency of k/test-infra.

The [last successful run](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-latest-kubetest2/1553072260703588352) of the job pulled the following deps:
[code]

The [last run which failed](https://prow.k8s.io/view/gs/kubernet

[2022-08-01 02:58] palnabarun commented on #111584
Also, last night I checked with the Go 1.18 based kubekins image. Same issue happened there as well.

[2022-08-01 03:01] tdihp opened #111590 "RuntimeClass based scheduling alternation doesn't work for DaemonSet"
### What happened?

Daemonset's predictate doesn't look into RuntimeClass's scheduling section, which can be a problem in two scenarios:

1. Pods never created, due to a toleration marked in RuntimeClass but not in the spec.template.
2. Pods get created, but stuck in pending due to a nodeSelector marked in RuntimeClass, but not in spec.template.

### What did you expect to happen?

Either we shoul

[2022-08-01 03:02] tdihp commented on #111590
/sig apps

[2022-08-01 03:33] BoyChai opened #111591 "[ERROR CRI]: container runtime is not running"
### What happened?

[ERROR CRI]: container runtime is not running: output: E0731 22:55:10.706285 3979 remote_runtime.go:925] "Status from runtime service failed" err="rpc error: code = Unimplemented desc = unknown service runtime.v1alpha2.RuntimeService"

### What did you expect to happen?

The solution is to delete the configuration file and restart,
[code]
The reason seems to be that this parame

[2022-08-01 03:52] palnabarun commented on #111584
https://github.com/kubernetes-sigs/kubetest2/pull/207 should fix this.

[2022-08-01 03:54] BenTheElder commented on #111584
yes but we’re not supposed to be using test-infra here, so there’s probably an issue with how we’re running the job, is it running under the test-infra go module?

we probably need to cd to somewhere outside of the test-infra clone if that’s the case.

[2022-08-01 04:31] palnabarun commented on #111584
kubetest2 depends on boskos and boskos depends on test-infra. not sure how that is going to be resolved.

I agree that we should cd out of test-infra clone for a clean environment.

https://github.com/kubernetes-sigs/kubetest2/pull/207 should start resolving the current issue of usage of deprecated types from k/test-infra. We should get that in as soon as possible.

[2022-08-01 05:18] vinaykul opened #111592 "[FG:InPlacePodVerticalScaling] Fix bug and add E2E test where container image update for Deferred/Infeasible resize uses allocated values"
### What would you like to be added?

There is a case where if user updates image of a running container that desires resource resize, it gets restarted with desired values that has not been granted by kubelet. This will cause image update to fail. We need to use checkpointed resourcesAllocated values in this case.

Please see review comment: https://github.com/kubernetes/kubernetes/pull/102884#di

[2022-08-01 05:19] vinaykul commented on #111592
/sig node

[2022-08-01 05:44] YuikoTakada opened #111593 "doc about preStop hook is not correct"
### What happened?

In [document](https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/#discussion) written as:
[code]
But actually, preStop hooks are also invoked when container in a pod is terminated due to LivenesProbe/StartupProbe failure. This is something different from "when a Pod is terminated".

### What did you expect to happen?

doc fix:
[code]

### Ho

[2022-08-01 05:46] #111593 closed

[2022-08-01 06:15] enn-dee opened #111594 "error validating 'abc.yaml'"
![Screenshot (241)](https://user-images.githubusercontent.com/89350768/182083665-409e8e3f-8d06-427d-9c19-3eca87a310d7.png)
I created two yaml files from which I wanted to apply one (kubectl apply -f mongo-secret.yaml) but it keeps me giving error (error: error validating "mongo-secret.yaml": error validating data: ValidationError(Secret): unknown field "metadeta" in io.k8s.api.core.v1.Secret; if y

[2022-08-01 06:26] enn-dee commented on #111594
My bad . Just figured it out it was typo error in yaml file.

[2022-08-01 06:26] #111594 closed

[2022-08-01 06:27] answer1991 commented on #111499
Should we close this issue as the latest k8s has no this problem？ @LiuNingqian

[2022-08-01 06:34] neolit123 commented on #111591
/sig node cluster-lifecycle
/kind support

please try getting help on support channels
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-08-01 06:34] #111591 closed

[2022-08-01 07:07] aojea commented on #111588
I think that is related to the new e2e test that breaks the namespace controller

https://github.com/kubernetes/kubernetes/issues/111086#issuecomment-1192629817

but I couldn't verify it, as soon that test merged these namespaces tests started to flake

[2022-08-01 07:21] pohly commented on #103718
/remove-lifecycle stale

[2022-08-01 08:23] vaibhav2107 commented on #105332
/remove-lifecycle stale

[2022-08-01 08:26] vaibhav2107 commented on #101324
/remove-lifecycle stale

[2022-08-01 08:31] vaibhav2107 commented on #108049
/remove-lifecycle stale

[2022-08-01 10:12] aojea commented on #111510
how can we inject something like this then?

[code]

[2022-08-01 10:42] shimada-takashi001 commented on #111528
@yxxhero containerd version is as follows
[code]

The log output of worker node's kubelet was as follows
\* not much information available, only rpc errors
[code]

[2022-08-01 11:02] stephen-dexda commented on #82525
/remove-lifecycle stale

[2022-08-01 12:26] pohly commented on #109744
New work item (?): capture only a single output text output stream (https://github.com/kubernetes/test-infra/pull/26832#discussion_r923801591) in JUnit.

[2022-08-01 12:42] JCzz commented on #111351
Thanks @BenTheElder

Can you debug Kubernetes source code using Kind?

[2022-08-01 13:12] onsi commented on #111510
hey all,

when running in parallel ginkgo v2 now merges the individual reports generated by each parallel process into one composite process.  there is no way to turn this off (v1's behavior was a shortcut at the time and somewhat ugly and confusing).

v2 also merges junit reports from multiple suites into a single file.  this can be turned off with `--keep-separate-reports`

in v2 i also took a c

[2022-08-01 13:41] chendave commented on #111510
@azylinski  How can we trigger this CI: ci-kubernetes-e2e-gce-scale-correctness?

[2022-08-01 14:05] pohly commented on #109600
/remove-lifecycle stale

[2022-08-01 14:07] pohly commented on #105782
/remove-lifecycle stale
/lifecycle frozen

[2022-08-01 14:08] azylinski commented on #111510
I'm not sure if you can easily, as the project is constantly used by correctness and performance tests.
Or at least I didn't know you to run it - I've just wrote down in this issue to what I've observed.

[2022-08-01 14:17] obvionaoe commented on #77258
/remove-lifecycle rotten

[2022-08-01 14:47] pohly commented on #105392
/remove-lifecycle stale

[2022-08-01 14:50] #95171 closed

[2022-08-01 15:14] #109036 closed

[2022-08-01 15:23] danwinship commented on #85572
Fixed by getting rid of `KUBE-MARK-DROP`. (Well, the chain still exists in 1.25, but kube-proxy no longer uses it.)

[2022-08-01 15:23] #85572 closed

[2022-08-01 15:53] ncdc opened #111604 "Reflector not able to log the correct type when using a dynamic informer"
### What happened?

When using a dynamic informer, the underlying Reflector only logs about `*unstructured.Unstructured`. If you have multiple dynamic informers, for different `GroupVersionResource`s, it's not possible to determine which log message is for which resource.

### What did you expect to happen?

Reflector log messages should be able show the appropriate resource type for dynamic infor

[2022-08-01 15:54] ncdc commented on #111604
/sig api-machinery

[2022-08-01 15:54] ncdc commented on #111604
I'd be happy to create a PR that implements the annotation-based approach if that is acceptable to the SIG.

[2022-08-01 16:08] ncdc opened #111605 "Watch cache groups all CRDs as *unstructured.Unstructured in metrics + logging"
### What happened?

While the watch cache framework does support individual caches per CRD type, its metrics and logging treats them all as `*unstructured.Unstructured` instead of as individual group-resources. This means that any watch cache metrics related to CRDs show them as Unstructured, which is misleading; and all log messages from the watch cache code only reference Unstructured instead of

[2022-08-01 16:08] ncdc commented on #111605
/sig api-machinery

I'd be happy to work on this

[2022-08-01 16:08] ncdc commented on #111605
/retitle Watch cache groups all CRDs as *unstructured.Unstructured in metrics + logging

[2022-08-01 16:41] marseel commented on #111510
FYI this is CI job that is being run every day: https://prow.k8s.io/?job=ci-kubernetes-e2e-gce-scale-correctness
It requires 5k nodes cluster to run and we have 1 gcp project shared with other scalability tests that can handle it so there is no easy way to manually trigger it.

[2022-08-01 16:50] deepakkinni commented on #109253
/remove-lifecycle rotten

[2022-08-01 16:57] BenTheElder commented on #111351
Yes for the most part, you can build and run a cluster as a container with `kind build node-image && kind create cluster --image=kindest/node:latest` basically, more details in the docs.

I think local-up-cluster.sh should also work fine if you just run it and *don't* try to install cfssl yourself, the scripts should manage it, I think those docs are just outdated.

[2022-08-01 17:10] tallclair commented on #76928
/reopen

If anyone wants to drive this forward, it will need a KEP.

[2022-08-01 17:11] palnabarun commented on #111584
https://github.com/kubernetes-sigs/kubetest2/pull/207 merged. Let's see if the failure gets fixed.

Till then, reopening this issue.

/reopen

[2022-08-01 17:14] BenTheElder commented on #111584
I triggered a new run

[2022-08-01 17:25] tallclair commented on #76928
From https://www.haproxy.org/download/1.9/doc/proxy-protocol.txt:

specification and MUST not try to guess whether the protocol header is present
or not. This means that the protocol explicitly prevents port sharing between
public and private access. Otherwise it would open a major security breach by
allowing untrusted parties to spoof their connection addresses. The receiver
SHOULD ensure proper

[2022-08-01 17:26] palnabarun commented on #111584
The part where it was failing earlier is running fine. 🎉

[2022-08-01 17:47] ashu210890 opened #111608 "Job spec.backoffLimit does not handle pod garbage collection"
### What happened?

We created a cronjob with backoffLimit of 6 in a cluster with a lot of cronjobs and frequent schedules (possibly cycling through more than 10k pods in a matter of half an hour). The launched pods always end up in failures to a code issue. Kubernetes is  now executing infinite number of retries for this cronjob while the maximum retries should have been capped at six.

### What

[2022-08-01 17:51] sftim commented on #111516
/priority important-longterm

[2022-08-01 17:51] sftim commented on #111516
(We shouldn't ship ineffective security controls)

[2022-08-01 18:17] lavalamp commented on #109710
/lifecycle frozen

[2022-08-01 18:23] sftim commented on #110514
Do we emit a `Warning:` response header when someone makes a request that ends up setting two IngressClasses as default?

[2022-08-01 18:42] jsafrane commented on #105626
/remove-lifecycle rotten

[2022-08-01 19:08] mimowo opened #111612 "Extend tests in taint_manager_test.go to assert on deleted and patched pods, not just actions"
The tests in taint_manager_test.go only assert on the action types received by the fake kube-client.

However, they do not assess if the request actually makes sense. For example, the patch could be wrong.

We are looking for a way to assert if the operations would actually delete or update the pod as expected.

[2022-08-01 19:09] mimowo commented on #111612
/sig apps

[2022-08-01 19:31] palnabarun commented on #111584
Test passed! 🚀

Closing this issue for now.

/close

[2022-08-01 19:31] #111584 closed

[2022-08-01 20:04] mimowo opened #111614 "Cleanup gc_controller_test.go to make sure the context is properly cancelled by each test"
Cleanups:
- multiple test functions create a TODO context and never close / cancel (this may leak goroutines)

https://github.com/kubernetes/kubernetes/blob/303f47c0c069c80ec6d2b3879bc879924d555a8a/pkg/controller/podgc/gc_controller_test.go#L154

Instead, create a context and cancel it in defer at the end of test.

[2022-08-01 20:04] mimowo commented on #111614
/sig apps
/kind cleanup

[2022-08-01 20:18] #111548 closed

[2022-08-01 20:41] jingxu97 commented on #108433
/reopen

[2022-08-01 21:08] BenTheElder commented on #100219
/lifecycle frozen

[2022-08-01 21:46] #108524 closed

[2022-08-01 22:04] #110797 closed

[2022-08-01 22:05] #110121 closed

[2022-08-01 22:33] Riaankl commented on #111588
@aojea the e2e test  [should manage the lifecycle of an APIService [Serial][Disruptive]](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apimachinery/aggregator.go#L111-L226) have been running green on the [test grid](https://testgrid.k8s.io/sig-api-machinery-gce-gke#gce-serial&include-filter-by-regex=should.manage.the.lifecycle.of.an.APIService&width=20) since it merged.
The test [n

[2022-08-01 22:42] BenTheElder commented on #111588
Another possible option: Sometimes in the past flaking tests like this have been indicative of a regression in k8s, but I think it was probably the namespace controller issue @aojea mentioned but we should keep an eye on this for a bit.

I'm seeing a different test fail now that the job is running `[It] [sig-api-machinery] CustomResourcePublishOpenAPI [Privileged:ClusterAdmin] works for multiple C

[2022-08-01 22:43] sanposhiho commented on #110175
I didn't jump in the thread since it's actively on the discussion.
But, the issue https://kubernetes.slack.com/archives/C09TP78DV/p1659383737933799 is the similar one.
(This time, we can solve that issue by changing scheduling queue logic since It's the k/k feature though.)

[2022-08-01 23:18] #111476 closed

[2022-08-01 23:30] tallclair commented on #109732
/remove-lifecycle stale

[2022-08-01 23:37] fzyzcjy commented on #24873
What about the CRDs?

[2022-08-01 23:38] tallclair commented on #106575
/remove-lifecycle stale

[2022-08-02 01:27] pandaamanda commented on #111608
/sig apps

[2022-08-02 01:31] janetat commented on #64623
2022, If there is any native solutions?

[2022-08-02 01:44] wajika commented on #109405
I think this is a very good proposal, hopefully someone can add this feature and provide a switch control to turn it on if I need to.

[2022-08-02 01:45] yangjunmyfm192085 opened #111621 "In the cgroupv2 environment, kubectl top node cannot obtain the utilization of cpu and memory"
### What happened?

In the cgroupv2 environment,kubectl top node cannot obtain the utilization of cpu and memory.

use
[code]
and
[code]
both got value of 0.

Continue to analyze, when the cpu.stat of the root directory is obtained for cadivisor, the file does not exist and reports an error.
`err="open /sys/fs/cgroup/cpu.stat: no such file or directory"`

There is no cpu.stat file in the root dire

[2022-08-02 01:45] yangjunmyfm192085 commented on #111621
/remove-kind bug

[2022-08-02 01:45] yangjunmyfm192085 commented on #111621
/sig node
/sig instrumentation

[2022-08-02 01:46] yangjunmyfm192085 commented on #111621
/cc @bobbypage  @249043822

[2022-08-02 01:49] 249043822 commented on #111621
Does this similar with https://github.com/kubernetes/kubernetes/issues/108364?

[2022-08-02 01:50] negz opened #111622 "API server creates one etcd client per CRD"
### What happened?

Currently the API server is creating one etcd client per CRD. This causes it to use more memory and more TCP connections than it should need to. In https://github.com/kubernetes/kubernetes/issues/111476 we significantly reduced the amount of memory said clients use by updating them to share a single logger, but we should address the underlying issue.

I've heard various folks,

[2022-08-02 01:50] negz commented on #111622
/sig api-machinery

[2022-08-02 01:55] negz commented on #111622
I have a draft fix for this open in https://github.com/kubernetes/kubernetes/pull/111559. It needs a little work but I'm interested in finishing it up and hope to get time to work on it this week.

[2022-08-02 01:56] yangjunmyfm192085 commented on #111621
It seems the `cpu.stat` file was added to the root cgroup in Linux 5.8
The question now is that cgroupv2 is not supported on version 5.4.0?
Where should we update the documentation to clearly tell users which kernel versions cgroupv2 supports?

[2022-08-02 02:15] chendave commented on #111510
I have tried to split, but split the 600+ M xml file would be time consuming.

I am not sure whether that job rely on the e2e.test, if so, we might consider to add a custom reporter for that. For what I observed for each jobs triggered regularly for a PR, the size of report is less that 50M. The gap between 50 and 600 are huge,  poor background for me to get more info on that job.

@BenTheElder

[2022-08-02 02:27] chendave commented on #109744
@pohly updated the issue, haven't got a chance to take a close look at the item though.

[2022-08-02 02:35] chendave commented on #111510
/cc @pohly  for thoughts.

[2022-08-02 03:00] 249043822 commented on #111621
Agree

[2022-08-02 03:30] muyangren2 commented on #111614
/assign

[2022-08-02 04:56] #110060 closed

[2022-08-02 06:24] sologgfun opened #111625 "No debug info when using vscode debug kube-apiserver"
### What happened?

Im using dlv to start a binaries(with debug info),then vscode launch a server to connect it to debug kube-apisver. But I got a error below there.Did i miss something?

[code]

output is there

[code]

It looks like the apiserver file have no debug info.But im follow this **[issue](https://github.com/kubernetes/kubernetes/issues/77527)** to compile k8s.And the output error have

[2022-08-02 06:28] sologgfun commented on #111625
/sig release

[2022-08-02 06:42] sanwishe commented on #111625
How about try to compare k8s with `make all DBG=1` ?

[2022-08-02 06:51] pohly commented on #106945
I think we are done.

/close

[2022-08-02 06:51] #106945 closed

[2022-08-02 07:43] aojea commented on #111588
Definitively is the new test that is causing the problem, now we have to understand if is the test or we have a bug in the code, @smarterclayton already pointed to this possibility

Is easy to spot in this job https://testgrid.k8s.io/sig-network-gce#gci-gce-serial-kube-dns

Download the controller-manager logs, per example https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce

[2022-08-02 07:47] kerthcet commented on #109191
2 remove device
3 create pod b which use hot pluggable device in resource.request, and the ressource is 0

IIUC, when we remove the device, `nodeInfo.Allocatable.ScalarResources[rName]` is 0, but `nodeInfo.Requested.ScalarResources[rName]` is still 1, right? If so, when we remove the device, we should update the requested values.

[2022-08-02 07:50] JCzz commented on #111351
Thanks @BenTheElder

I will give both suggestions a try.

I will keep this open for the documentation to be updated.

[2022-08-02 08:00] pohly commented on #111510
I think we should try to reduce the amount of information that gets stored in the single JUnit file. We also should ensure that we only store a single output stream (https://github.com/kubernetes/kubernetes/issues/109744#issuecomment-1201135372). That addresses the main problem ("too much information").

Splitting into different files feels like a poor workaround because eventually they need to be

[2022-08-02 08:02] ric79 commented on #40422
Here my example

[code]

[2022-08-02 08:06] sologgfun commented on #111625
@sanwishe hello, it seems work for me. thanks alot. maybe i should read makefile before propose the issue.

[2022-08-02 08:20] chendave commented on #111510
I am afraid someone need the original one, since the original one holds the single of truth if anyone wants to check the details on the test execution.

+1 for couple of reasons,

@onsi said that the split by the the number of parallelism is just a workaround at that time, v2 sound like did the right things, but this doesn't work for testgrid, 😅 .

split is time consuming and not trivial to implem

[2022-08-02 08:23] Minh2003 opened #111629 "AdmissionReview for get and watch actions"
### What would you like to be added?

AdmissionReview support get and watch resources such as pods, deployments, configmaps, etc

### Why is this needed?

I'm trying to use AdmissionReview to grant access to my developer at pod level. Mutating and validating webhook has successfully, solve this problem very well at CREATE, UPDATE, DELETE, or CONNECT operations. But why we don't have any support fo

[2022-08-02 08:25] chendave commented on #111510
Here is the comparison after this pr:
https://github.com/kubernetes/kubernetes/pull/111627

https://gcsweb.k8s.io/gcs/kubernetes-jenkins/pr-logs/pull/111627/pull-kubernetes-e2e-kind-ipv6/1554370753451790336/artifacts/

original one:
junit_01.xml - 25272885
trimmed one:
junit_01_trimmed.xml - 2492432

more than 90% off.

similarly, we will eventually get around 60 M for the job `gce-master-scale-co

[2022-08-02 08:29] chendave commented on #111510
Spyglass  seems work, here is the [link](https://prow.k8s.io/spyglass/lens/junit/iframe?req=%7B%22artifacts%22%3A%5B%22artifacts%2Fjunit_01.xml%22%2C%22artifacts%2Fjunit_01_trimmed.xml%22%5D%2C%22index%22%3A2%2C%22src%22%3A%22gs%2Fkubernetes-jenkins%2Fpr-logs%2Fpull%2F111627%2Fpull-kubernetes-e2e-kind-ipv6%2F1554370753451790336%22%7D&topURL=https%3A//prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/

[2022-08-02 09:18] vaibhav2107 commented on #109664
/remove-lifecycle stale

[2022-08-02 09:20] vaibhav2107 commented on #109329
/remove-lifecycle stale

[2022-08-02 09:21] vaibhav2107 commented on #108768
/remove-lifecycle stale

[2022-08-02 09:22] vaibhav2107 commented on #107277
/remove-lifecycle stale

[2022-08-02 09:34] yylt commented on #109191
actuall yes, if the `pod.spec.containers[1].resource.request.{resource}` not  set, the Pod will create successed. but when set the value is `0`, the Pod will create failed.

IMO, it is little bug, and mostly should delete `request.resource`  in spec when the resource not use.

[2022-08-02 09:50] yylt commented on #109998
the assum `the kubelet is killed before graceful container shutdown is complete`, it is not correct.

when enable feature `GracefulNodeShutdown`, the kubelet will delete all pod in the node, and of cource, kubelet will update status by client-go sdk. But if apiserver connection is lost, thus will result in some pod status is running always, in this situation, NodeLifeCycle controller will mark the

[2022-08-02 09:52] yylt commented on #109998
/sig node

[2022-08-02 09:53] yylt commented on #109998
/assign @aojea

[2022-08-02 10:07] kerthcet commented on #109191
Misunderstanding here, we may not update the requested values for first created pod is still requesting.